<header data-type="book">
<h1>診脈三十二辨</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>管玉衡</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521053">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>自序</h1>
<p>脈雖四診之一。其精微玄妙。非粗工庸術所能推測。晉王叔和之言曰。心中易了。指下難明。謂沉為伏。方治永乖。以緩作遲。危殆立至。況有數候。俱見異病同脈者乎。若是乎辨之不易也予何人斯。敢為脈辨。然理雖難辨。自上古神聖以及歷代名宿。雖兼望聞問。未有舍切而能施其巧者。予又不得不為之辨。辨之云者。亦非敢於古人未發之旨。妄增一說也。古人之言簡質平意淡。多含蓄未易通曉。予則辨之使顯。俾隱深之妙。洞若觀火。及至後儒。各殫所學。博求眾本。人持一說。莫所適從。予則辨之。使其據經分剖。不致混亂。一辨大略也。自二辨至七辨。宗伯仁之六脈。而著其所統共得二十九脈。每脈各注。其陰陽。肖其形象。如芤動牢革之最難明者。皆有確義可尋。自八辨至十二辨。則詳敘十二經源流。不特盡脈所經行之處。與診脈之法。如辨肺經。則肺之體。肺之用。肺之性情。肺所受六淫七情之傷。以及肺之積。肺之敗。不獨知肺之脈。兼盡肺之義。心脾肝腎。莫不皆然。而於胞絡三焦。向所憒憒者。尤極開晰。自十四辨至三十二辨。則究極脈中變化之奧。有全取諸書者。則標其目。雖粗工庸術。閱是編當亦有會。然不敢自謂無漏也。聊以此請正天下。有　知予蓋留心於此道者。或肯惠然賜教耳。</p>

<h1>祝序</h1>
<p>管侗人先生。不知何許人。此書為其手著。言簡意賅。瞭如指掌。洵有裨初學之書也。予於今春。得於吳市之舊書肆中。雖為抄本。而簡端有新刊二字。似當時已付梓行。大約流傳未廣。寖致湮沒。惜哉。爰將原本郵寄吉生仁丈。即煩校正付印。以公同好云。</p>
<p><u>癸亥鞠秋下浣海昌後學祝紹鈞識於吳門客次</u></p>

<h1>一·辨診脈大法</h1>
<p>脈者。血氣之先也。血氣盛則脈盛。血氣衰則脈衰。王叔和分七表八里九道七表者。浮芤滑實弦緊洪也。八里者。微沉緩澀遲伏濡弱也。九道者。長短虛促結代牢動細也。滑伯仁括之以浮沉遲數滑澀之六脈。浮沉之脈。輕手重手而取之也。芤洪散大長濡弦皆統於浮。伏短細牢實皆統於沉。遲數之脈。以己之呼吸而取之也。緩結微弱皆遲之類。疾促皆數之類。滑澀之脈。則察夫往來之形也。滑類乎數。澀類乎遲然脈雖似而理則殊。數為熱。遲為寒。滑為血多氣少。澀為氣多血少。究而論之。叔和表裡之說。不可不知。伯仁之論。尤捷而便。診時男左女右。人臂長則疏下指。臂短則密下指。掌後高骨為關。先以中指定關位。徐下前後二指。要得舉按尋三法。輕手循之曰舉。重手取之曰按。不輕不重委曲求之曰尋。下指時輕按以消息之。次重按以消息之。然後自寸至關逐部尋究。須均呼吸。以定至數。一呼一吸。要以脈四至為率。呼出心與肺。吸入腎與肝。間以脾脈在中為一息。五至是平脈也。其有太過不及。則為病脈。又須識時脈胃脈與臟腑平脈。然後及於病脈。時脈謂春弦夏洪秋毛冬石也。胃脈謂三部中每部各有浮中沉。浮主皮膚。候表及腑。沉主筋骨。候里及臟。胃脈在中。按之和緩。無胃則真臟脈見矣。平脈如心脈洪大而散之類。既推病在何部。更分在氣在血。又須識三部所主。寸為陽。為上部。主頭以下至心胸之分。關為陰陽之中。為中部。主臍腹肚脅之分。尺為陰。為下部。主腰足脛股之分。病脈見時。在上為上病。在下為下病。左曰左病。右曰右病。左脈不和病在表。右脈不和病在裡。脈法之要。不外乎此。</p>

<h1>二·辨浮脈所統有十</h1>
<p>（芤洪大散虛長弦濡緊革皆統於浮）</p>
<p>浮。陽金也。指下按之不足。輕舉有餘。如風吹毛。如水漂木。曰浮。是陰不足。陽有餘。其病在表。主風。有力表實風邪盛。無力表虛陰血虧。浮遲表冷。浮數風熱。浮滑痰熱。浮芤失血。浮洪虛熱。浮大鼻塞。浮散勞極。浮虛傷暑。浮濡陰虛。浮弦風痰。浮緊風寒。浮緩風濕。又寸浮。主傷風頭疼發熱。關浮。左主膨脹。右主中滿腹痛飧泄。浮而大。風在胃中張口息肩。尺浮。客陽在下焦。虛喘耳鳴溲便秘。　若浮而無力。按之如捻蔥葉曰芤。芤草中空。狀如蔥管。浮沉二候易見。故曰有邊。獨中候豁然難見。正如以指著蔥。浮取得上面之蔥皮。中取正在空處。沉按又得下面之蔥皮。無中非絕無。但比之浮沉。則無力。若泥為絕無。是無胃氣矣。舊以前後為兩邊。與蔥義不合。芤為陽火。是陰去陽存之脈候。主失血。大抵氣有餘。血不足。血不統氣。故虛而大。若芤之狀也。經曰。常病得之生。卒病得之死。血虛故也。寸芤主血妄行。為吐為衄。關芤左血海空。右胃虛。主腹多積瘀。尺芤下焦虛。主血淋血崩。　若滿指騰上。來盛去長。如江河之大。波濤湧起曰洪。洪即實脈之無力者也。為氣血大熱之候。屬火。寸洪胸滿煩熱。關洪胃熱口乾。尺洪二便秘塞下血。　若脈形加於常脈一倍曰大。陽也。經云。大則病進。然平人三部皆大。往來上下自如。為稟質之厚。一部獨大。斯可占病。若按之滿指。來去不明。漫無根底。如楊花散漫之象曰散。陽也。火也。散脈獨見。有表無里。是血亡而氣欲去。主身危。又產婦得之生。孕婦得之墮。　若形大力薄。舉按豁豁然不能自固曰虛。陰也。經曰。久病脈虛者死。　若過於本位。不大不小。迢迢自若曰長。陽也。木也。主氣血有餘。若長而軟滑曰氣治。長而堅搏曰氣病。實牢弦緊。皆兼長脈。邪氣盛則見之。又女人左關長曰多淫欲。　男子兩尺長曰多春秋。　若按之浮軟。如水面浮綿。隨手而沒曰濡。濡主氣血虛乏。又為傷濕陰也。寸濡上焦寒。陽虛自汗。關濡脾虛冷。尺濡惡寒。　若按之端直以長。狀若箏弦挺然指下者曰弦為陽中伏陰屬木。弦。貴輕虛。以滑勁急如新張弓弦者。病危。凡經絡間為寒所滯。氣血不舒。則弦脈見故脈弦必作痛。陽弦頭痛。陰弦腹痛。尺弦少腹痛。又木旺者脈必弦。木旺必來侮土。土虛不能制濕。而痰飲之症生。故瘧脈自弦其單絃。或寒。或痛。或飲癖。或拘急。又有雙弦。脈來如引二線。為肝實。為寒痼。　弦甚為緊。狀如轉索。乃熱為寒束。陰陽相搏之脈。屬陽。病則為痛為毒。　其芤弦相合。形如按鼓皮者曰革。陽也。芤虛弦寒。虛寒相搏。是精血遺亡而氣獨守。女子半產漏下。男子亡血失精。</p>

<h1>三·辨沉脈所統有五</h1>
<p>（伏短細實牢皆統於沉）</p>
<p>沉。陰水也。重手按下。至筋骨乃得。如綿裹砂。內剛外柔。如石投水。必極於底曰沉。是氣滿三焦。而不運於臟腑。為陰逆陽郁之候。其病在裡。為寒為水蓄為氣。有力裡實。必痰食有形之物。凝滯於內。無力裡虛。乃無形之氣。鬱結於中。沉遲痼冷。沉數伏熱。沉滑痰食。沉澀氣鬱。沉伏霍亂。沉牢冷積沉弦飲痛。沉緊冷痛。沉弱陰痛。沉緩寒濕。寸沉左為寒邪在心。右為寒痰停蓄。傷寒兩寸沉曰難治。平人兩寸沉曰無陽。多艱於壽。關沉伏寒在經。左主兩脅刺痛。右主中滿吞酸。尺沉腎寒。主腰背冷痛。男子精冷。女子血結。沉細為陰癢。　伏類於沉。然沉行筋骨間。伏行骨上重按著骨。指下裁動曰伏。陰水也。積陰冷毒之氣。滯於三焦。為關格閉塞之候。伏而數曰熱厥。亢極而兼水化也。伏而遲曰寒厥。陰極而氣將絕也。惟傷寒脈伏。主大汗而解。尋之兩頭無。中間有。不及本位。狀如米粒曰短。陰金也。是氣不足以導其血。為不及之病。澀微動結。皆兼短脈。過於悲哀之人。其脈多短。短而滑數為酒傷。寸短頭痛。關短宿食。尺短脛冷。又關不診短。短見於關上。是上不通寸為陽絕。下不通尺為陰絕。若應指沉沉。不絕如絲曰細。陰也。為吐衄。為憂勞過度。為濕。凡血衰氣少則順。否則逆。若中取之沉取之脈。皆幅幅有力曰實。屬土。是伏陽在內。寒錮於外。實而靜為氣血有餘。實而躁為里有邪。婦人尺實為有孕。實統牢革。牢革之脈。古人多混淆莫辨。不知革浮牢沉。革虛牢實。形證各異。故革脈見浮部。其按之堅固有力。動而不移曰牢。陰中有陽。裡實表虛。病主胸中氣促。骨間疼痛。大抵其脈近於無胃氣。故諸家皆謂危殆之脈。</p>

<h1>四·辨遲脈所統有五</h1>
<p>（緩結代微弱皆統於遲）</p>
<p>遲。陰土也。一呼一吸。脈不及五至曰遲。乃陰盛陽虧之候。主臟寒。審其遲之微甚。知寒之淺深。有力冷痛。無力虛寒。浮遲表寒。沉遲裡寒。乍遲乍數為虛火。又有不浮不沉。不疾不徐。不微不弱。如微風輕颭柳梢之狀曰緩。緩屬陰。土有和緩之義。沖和之氣。洋溢於脈。血滿肌肉。故不嫌遲。乃脾之正脈。若浮而緩曰衛氣傷。沉而緩曰榮氣弱。諸部見緩脈。皆主氣血不斂。為不足之症。緩大風虛。緩細濕痹。緩澀血虛。緩弱氣虛。寸緩皮膚不仁。關緩不欲飲食。尺緩腳弱下腫。若脈來遲緩。時一止而復來者曰結。結者。陰脈之極。陰獨盛而陽不能入為七情所郁。寒邪滯經。氣血痰飲食五者。一留於其間。則見為結脈。浮結氣滯。沉結積聚。結促皆危症。結促之脈。無常數。或二動或三動。一止即來。有動而中止。不能自還。因而復動。繇是復止。尋之良久。乃復強起曰代。若暴損氣血。元氣不續者可治。痛脈時見代。娠婦亦有代脈。必在三月餘。不則一臟絕。他臟代至。故曰代必死。若輕診即見。重按如欲絕。有而若無者曰微。陰也。是勞極諸虛之候。浮微陽不足。沉微陰不足。曾經汗吐下後見之。為陰陽將自和欲愈之脈。　軟極曰弱。萎弱不振。類濡而沉。陰也。氣虛則脈弱。陽陷入陰之象。寸弱陽虛。尺弱陰虛。關弱胃虛。病後老人見之順。平人少年見之逆。</p>

<h1>五·辨數脈所統有二</h1>
<p>（疾促統於數）</p>
<p>數。陽火也。一呼一吸。脈逾五至曰數。是陽熱太過之脈。有力實火。無力虛火。浮數表熱。沉數里熱。寸口數實肺癰。數虛肺痿。數而堅如銀釵之股。曰蠱毒。　數之甚為疾。　脈來數時一止。而復來者曰促。促者陽脈之極盛。陽盛而陰不能和。氣血痰飲食五者。一有留滯。則脈必見止而為促。促非惡脈。然漸退則生。進則死。</p>

<h1>六·辨滑脈所統有一</h1>
<p>（動統於滑）</p>
<p>滑。陽水也。然非獨陽。乃純陽正陰和合交結。不能獨取而成滑。陰隨陽化曰熱化。故其症為熱。實形則往來流利。如珠走盤。而中有力。大抵血盛則脈滑。故腎脈宜於滑而收斂。脈形清者。為血有餘。三五不調。脈形濁者。為血滯。為痰。浮滑風痰。沉滑食痰兼氣。滑數痰火。滑短宿食。寸滑陽實。胸中塞滿吐逆。關滑氣滿食即吐。尺滑蓄血。婦人尺滑有斷絕。為經閉。和滑為孕。舉之無尋之有。無頭無尾。狀如大豆。厥厥動搖。不離其處者曰動。動隨虛見陽也。陰虛陽戰於內。動脈即現。多於關部見之。主痛主泄痢。見於寸為陽。陽動為驚為汗。見於尺為陰。陰動則發熱形冷。</p>

<h1>七·辨澀脈</h1>
<p>澀。陰金也。如雨沾沙。如刀刮竹。往來極難曰澀。澀為氣有餘。氣盈則血少。榮衛不相隨。故脈來蹇滯。肺則宜此。病之所主。復中氣結。內則血痹痛。外則中霧露毒。浮澀表惡寒。沉澀里燥涸。寸澀液不足。關澀血不足。尺澀精不足。必艱於嗣。又女人有孕。為胎痛不安。或胎漏。無胎為敗血。</p>

<h1>八·辨肺大腸脈</h1>
<p>手太陰肺經。為一身之華蓋。統十二經。十五絡。五臟六腑之死生吉凶。皆於此決。蓋肺居臟腑最上。臟腑之氣。無不上熏乎肺也。以其位高。輔君主行榮衛。故曰相傅之官。治節出焉。居右手寸口。與手陽明大腸為表裡。肺臟大腸腑。言其體。屬西方辛金。言其用。肺主氣。多言則傷氣。咳嗽由此而作。肺又藏魄。並精出入謂之魄。精氣之臣佐也。其竅通於鼻。肺和則鼻知香臭。言其性情之雜著。肺主聲。自入為哭。其傳於五臟者。亦各自有聲。其為各臟所傳者。心主臭。入肺為腥。脾主味。入肺為辛。肝主色。入肺為白。腎主液。入肺為涕。其為六淫所中。肺宜溫潤。燥則病。寒亦病。其為七情亦害。憂或悲。則魄戶不閉。金氣鬱塞。心火乘之。其有不內外因而病者。叫呼損氣。則傷肺也。脈起於中焦中焦者。中脘也。在臍上四寸。下絡大腸。還循胃口。上膈。胃口有上下。上口在臍上五寸上脘穴分。下口在臍上四寸下脘穴分。膈，隔也。人心下有膈膜。前齊鳩尾。後齊十一椎。周圍著脊。所以遮隔濁氣。不使上熏心肺。肺脈貫膈。布胸中。故病為咳。為上氣。為喘。為渴。為煩心。為胸滿。從膈屬肺。從肺系橫出腋下。下循臑內。下肘中。循臂內。上骨下廉。入寸口。上魚循魚際。出大指之端。肺系喉嚨也。故肺病缺盆痛甚。臂下脅上曰腋。膊下對腋處曰臑。臑盡處為肘。肘以下為臂。臂以下為脘廉隅也。魚謂掌骨之前。大指本節之後。肥肉隆起處。統為之魚。故肺病為臑臂內前廉痛。為掌中熱。其支者。從腕後直出次指內廉。出其端。診脈如三菽。重浮於三菽者。大腸脈也。按之於皮毛相得曰浮。稍稍加力。脈道不利為澀。又稍加力。不及本位曰短。此其平脈。若鼓急病太過。蕭索病不及。洪大則金受火克。謂之賊邪。主中風氣壅。鼻燥癇疾。芤亦屬火。主積血在胸。氣傷而血凝也。弦則金不足而火乘之。是為微邪。主大腸結。氣急膈中疼痛。緊則頭痛。緩漫乃脾邪所致為虛邪。主風濕。沉濡而滑。則腎邪相干為實邪。有寒有風有痰。沉細病在骨。主骨蒸。單沉主氣脹。又胸中留滯化為痰。單滑痰塞氣壅。作嘔逆。單濡主氣乏冷脹。又有正邪。浮本肺脈。然浮濡而實。謂之陽結。肺絡循咽。大腸為腑。咽門燥。大腸結皆坐此。浮甚或三部俱浮。惡寒壯熱。熱能傷氣。氣傷不能衛。金反虧而木反盛。咳嗽氣促。痰唾稠濃。雙目流淚。皆坐此。肺之積名曰息奔。左右脅下。　大如覆杯。以春甲乙日得之。蓋心邪傳肺。肺當傳肝。肝旺不受邪。肺欲復還心。心不受。故留結為積。肺氣實夢兵戈相競。虛則夢涉水田。若肺絕而真臟脈見。大而虛。如風吹毛。又如以毛羽中人膚。其見於外者。氣出不還。絕汗如珠。轉出不流。又氣喘兩肩動曰肩息。或髮直如麻。丙日篤。丁日死。死於巳午時。肺之大略如此。</p>

<h2>大腸脈</h2>
<p>手陽明大腸。傳導不潔之物。變化物之形。故曰傳導之官。變化出焉。大腸上口。即小腸下口。大腸下接直腸。直腸下為肛門穀道。傳送不潔之物。必待肺氣下行。故與肺為表裡。屬西方庚金。體用性情等。皆不外乎肺。其脈即受肺交。肺脈出次指。大腸脈遂起於食指之端。循指上掌。出合谷兩骨間。合谷虎口也。上循臂。入肘外廉。上臑外前廉。上肩出肩端兩骨。名髃骨之前廉。上出於肩𩨹上際。名天柱骨。會於大椎。大椎肩上高骨也。下入缺盆。絡肺下膈屬大腸。其支者。從缺盆上頸貫頰。入下齒縫中。返出兩吻。各挾口交人中。左之右。右之左。上挾鼻孔。其邪氣有餘而實。則脈所經過之處。皆熱腫而痛。其正氣不足而虛。則為寒慄。大腸之大略如此。</p>

<h1>九·辨心小腸脈</h1>
<p>手少陰心經。為一身之君主。神明出焉。居左手寸口。與手太陽小腸為表裡。心臟小腸腑。言其體。屬南方丁火。言其用。心主血。其竅榮於舌。故舌為心苗。心和則舌音嘹亮。心又藏神。血氣兩全謂之神。精氣之化成也。心平則神明不測。言其性情之雜著。心主臭。心屬火。火化物。五味出焉。火炎盛。則生焦苦。故自入為焦。其傳五臟者。亦各自有臭。其為各臟所傳者。肺主聲。入心為言。脾主味。入心為苦。肝主色。入心為赤。腎主液。入心為汗。其為六淫所中。傷暑之病。必心先得。其為七情所害。喜則神庭融泄。火氣赫曦。腎水乘之。其有不內外因而病者。養心莫善於寡欲。榮神役慮。則神疲而心受傷。心脈受足太陰脾脈之交。脾脈終於心。故心脈起於心中。心附脊第五椎。出屬心系。心系有二。一則上與肺通。入肺兩大葉間。一則由肺系而下曲折。向後並脊裡細絡。相連貫通五臟系。從心系下膈絡小腸。其支者。從心系上挾咽。故心病嗌乾。系目。故心病目黃。其直者。復從心系上肺。出腋下。循臑內後廉。下肘循臂內後廉。抵掌後兌骨之端。入掌內後廉。循小指出其端。故心病臑臂痛。掌中熱。診脈如六菽之重。浮於六菽者。小腸脈也。按之與血脈相得曰洪。稍稍加力。脈道覺粗曰大。又稍加力。脈道闊軟曰散。此平脈也。若飛急病太過。如水中浮萍動病不及。沉濡而滑。水來剋火。是為賊邪。然汗通則腎水平。火不受水賊矣。單沉主中寒。心氣刺痛。單濡。煩躁冷汗。單滑主心熱上焦滿。痰壅吐逆渴。浮短澀。乃肺脈為微邪。火金相合。火來剋金。金虛則木盛主風熱。又心浮頭旋目暗。心澀精血俱敗。胸痹心痛。弦則病因肝木而致。為病虛邪。火中有木。木能御土。無土則水至。又木挾火而欲侮金。金木交戰於胸中。能致胸中急痛。若脈緊亦自作痛。緩大乃脾之本形為實邪。火中有土。水不能制火。是謂子能制鬼。然火邪愈甚。熱極生風。能令舌不活動。心中驚惕。又有正邪。曰芤曰數。皆屬火。芤主血凝不流。心脈芤。積血在胸中。氣上則吐衄。氣陷則痢數。為邪熱太過。數甚能令舌生風。而唇破裂。狂言目見鬼神。心之積。名曰伏梁。起臍上。大如臂。上至心下。以秋庚辛日得之。蓋腎邪傳心。心當傳肺。肺旺不受邪。心復欲返腎。腎不受。故留結為積。心臟有餘。夢見憂驚怪異之事。心臟不足。夢煙火光明。若心絕而真臟脈見。堅而博。如循薏苡子。累累然如轉豆。脈又前曲後踞。如操帶鉤。前曲者。輕取則堅強不柔。後踞者。重取則牢。實不動。全失沖和之氣。其見於外者。發必焦枯。面黧黑。掌腫無文。壬日篤。癸日死。死於亥子時。心之大略如此。</p>

<h2>小腸脈</h2>
<p>手太陽小腸。為受盛之官。承奉胃司受糟粕。化物而傳入大腸。故化物出焉。與心為表裡。屬南方丙火。用與性情等。皆不外乎心脈。受心交。心脈終於小指。小腸脈即起於小指之端。循手外側。上脘出踝中。腕下兌骨為踝。直上循臂骨下廉。出肘內側兩筋之間。上循臑外後廉。故臑肘臂痛屬小腸。出肩解。膂上兩角。為繞肩脾。肩解下成片骨為肩解。交肩上。入缺盆。故小腸病。肩似拔而痛。絡心循咽為嗌痛。下膈抵胃屬小腸。其支者。從缺盆循頸上頰。為頸腫不可以顧。又為頰腫。至目兌眥。入耳中。故為目黃。為耳聾。其支者。別頰上䪼。目下曰䪼。抵鼻至目內眥。出目內角曰內眥。外角曰兌眥。小腸之大略如此。</p>

<h1>十·辨脾胃脈</h1>
<p>足太陰脾經。倉廩之官。五味出焉。居右手關上。與足陽明胃經為表裡。脾臟胃腑。言其體。屬中央己土。言其用。已化物為水穀之海。胃戊化火。火熱土濕。其氣相通。推磨萬物。變化糟粕。其華在唇四白。其竅通於口。故脾和則口知五味。又上朝肺金。下按命門。心主血。肝藏血。脾則裹血。藉胃氣運入命門。男子化而為精。女子盈而為月事。由是播敷各臟。長養骨髓。榮於一身。肌肉肥澤。故又曰脾主肌肉。脾藏意智。能思記曰意智。血氣之主持也。故又曰諫議出焉。言其性情之雜著。脾主味。自入為甘。其傳於五臟者。亦各自有味。其為各臟所傳者。脾主聲。入脾為歌。心主臭。入脾為香。肝主色。入脾為黃。腎主液。入脾為涎。其為六淫所中。濕病必起於脾。如五泄皆濕也。其為七情所害。思慮則意舍不寧。土氣凝結。肝木乘之。其有不內外因而病者。飲食勞倦。則傷脾也。大抵土愛暖。熱則傷胃。寒則傷脾。不寒不熱。則脾胃和平。脾脈受胃之交。胃脈終於足大指。脾脈即起於足大指之端。故脾病為足大指不能舉用。循指內側白肉際。過核骨後。即孤拐骨也。上內踝前廉。循脛骨。上膝股內前廉。入腹屬脾絡胃。故強立膝股內腫。腹脹嘔食溏泄。胃脘痛。客寒於胃。為善噫。皆脾病。從胃上膈挾咽連舌本。散舌下。為舌本強。其支者。復從胃別上膈。注心中。診脈如九菽之重浮於九菽者。胃脈也。按至肌肉阿阿緩漫。如微風輕颭柳梢之狀曰緩。次稍加力。脈道敦實曰大。此平脈也。弦緊則肝脈見於脾部。木來剋土為賊邪。主疼痛。然土衰則木失培養。亦主筋拘急而作嘔逆。若沉濡而滑為微邪。沉主積冷氣塊。憂結中滿吞酸。濡則中脘冷痛。滑則脾家熱。主風寒久停。漸成霍亂。實而洪。心火相乘為虛邪。土中有火。火能化物消中。而脾胃皆虛。或口乾。或翻胃。太實主心痛。芤則血在中焦。主大腸成癰。浮澀屬金為實邪。浮主風熱。熱則金不能剋木。木來剋土。金乃有病之子。不能顧母。主胃中。空虛。肢體脹滿。澀則損食氣痞上逆。又有正邪。緩者脾脈。緩甚則病痿厥。若三部皆緩。土能制水。水衰則火必獨炎。亦主脾胃熱。口臭翻胃。齒肉浮腫。心力損少。脾之積曰痞氣。在胃脘。覆大如盤。以冬壬癸日得之。蓋肝邪傳脾。脾當傳腎。腎旺不受邪。脾復欲還肝。肝不受。故留結為積。脾氣實夢歌歡樂。虛則夢爭飲食。若脾絕而真藏脈見。如雀之啄。筋肉間連三五下。且堅且銳。忽來頓去。良久復來。如屋之漏。筋肉間良久一滴。濺起無力。如釜之沸。皮膚間有出無入。湧湧如羹之上沸。其見於形者。魚口涎不收。唇青反。人中滿。甲日篤。乙日死。死於寅卯時。脾之大略如此。</p>

<h2>胃脈</h2>
<p>足陽明胃經。與脾為表裡。上通咽喉。胃下口即小腸。上口屬中央戊土。戊化火。故土性愛暖。熱則傷胃。但忌寒耳。主行氣。故谷入胃。脈道乃行。其用與性情等。俱不外乎脾脈。受手陽陽大腸之交。大腸脈終於鼻孔。胃脈即起於鼻之兩旁。上行左右相交頞。頞即山根也。故鼽衄皆胃病。下循鼻外。上入齒中。還出挾口環唇。下交承漿。唇下陷中曰承漿。循頤後下廉。上耳前。循髮際。至頞顱。故齒痛口喎唇胗額顱痛皆胃病。其支者。從耳後。下頸循喉嚨。入缺盆。下隔屬胃絡脾。故胃病主頸腫喉痹。其直者。從缺盆下乳內廉。下挾臍。入氣街中。其支者。起胃口下循腹裡至氣街。與前之入氣街者合。故胃邪盛。身以前皆熱。又主大腹水腫。膺乳氣街俱痛。繇氣街。下髀關。抵伏兔。股外為髀。髀前膝上起肉處。為伏兔。後為髀關。即股內也。下膝臏中。循脛外廉。下足跗。入足中指內間。挾膝解中為臏。足面為跗。股膝足脛痛皆胃病。其支者。別跗上入大指間。出其端。胃實則熱。熱則惡火。四肢者。諸陽之本。陽盛則四肢實。實則能登高而歌。棄衣而走。又火盛與水相激。為奔響腹脹。胃虛則寒慄鼓頷。善呻惡人。喜閉戶處。聞木音則驚。顏則黑。且數數而欠。胃之大略如此。</p>

<h1>十一·辨肝膽脈</h1>
<p>足厥陰肝經。名曰將軍。居左手關上。與足少陽膽經為表裡。肝臟膽腑。言其體屬東方乙木。言其用。心主血。肝藏之故。肝為血海。其候在目。肝和則目辨五色。其華在爪。其充在筋。爪與筋。皆血所養也。肝又藏魂。從神往來謂之魂。精氣之輔弼也。謀慮於是乎出。言其性情之雜著。肝主色。自入為青。其傳於五臟者。亦各自有色。其為各臟所傳者。肺主聲。入肝為呼。心主臭。入肝為臊。脾主味。入肝為酸。腎主液。入肝為淚。其為六淫所中。諸風病皆始於肝。故肝所發病。必頭目眩。脅痛肢滿。手足青。其為七情所害。肝氣虛則恐。實則怒。怒則魂門弛張。木氣奮激。肺金乘之。故曰怒氣傷肝。其有不內外因而病者。疲劇筋痛。肝氣不調也。肝脈受膽脈之交。膽脈終於足大指三毛。肝脈即起足大指叢毛之際。上循足跗。去內踝一寸。即螺螄骨。上踝八寸。上膕內廉。即曲膝腕中。循股入陰毛中。過陰器。抵小腹。故肝病為㿉疝狐疝。少腹痛遺溺閉隆諸病。從小腹挾胃。屬肝絡膽。上貫膈。布脅肋。故肝病肋脅腰痛不可俯仰。從脅肋循喉嚨之後。上入頏顙。頏。脛也。顙。額也。連目系。目內廉深處為目系。上出額與督脈會於巔。其支者。從目系下頰裡。環唇內。其支者。復從肝別貫膈上注肺。故肺脈從中焦起。診脈如十二菽之重浮於十二菽者。膽脈也。重按至筋脈。如箏弦相似曰弦。次稍加力。脈道迨遞為長。此其平脈也。少見筋急。其脈必緊。若見肺脈。金來剋木為賊邪。然二者皆陽。陽之性熱。金畏熱。金反虛而木反盛。木來乘金。則為空虛。浮而數。風熱入肝經。目昏眼淚。筋瘻。浮而促。心腹脹滿。澀則肝虛不能藏血。肋脹身痛目昏。緩大則微邪。不治自退。沉濡而滑。腎邪相干。是為虛邪。沉則引寒入胃。主血冷痞滿。沉而堅實。致痃癖之疾。沉而虛弱。肝家虛乏。濡至受濕冷霧露之氣。精枯筋瘻。滑則肝家有熱。頭旋目暗筋急。洪大屬火為實邪。風熱侵胃。中焦煩悶。目赤左癱。盜汗嘔吐。芤則血不歸宗。主吐血。血不養筋。主癱緩。不能含血養目。主眼暗。又木火相合。木挾火而侮金。主腸癰。又有正邪。弦為本脈。亦不可過。如新上弓弦而急者為太過。病邪在外。令人常怒。忽忽眩冒癲疾。如箏弦解落為不及。胸脅痛引背。下則兩脅胠滿。弦脈見於三部。乃肝氣有餘。主目痛。又主恚逆滿胸。若溢關上湧出寸口。乃木盛生風。主目弦頭重筋疼。肝之積名曰肥氣。狀如覆杯。在左脅下。突出如肉肥盛之狀。以季夏戊己日得之。蓋肺邪傳肝。肝當傳脾。脾旺不受傳。肝復欲還肺。肺不受。故留結為積。肝氣實夢山林樹木。虛則夢細草。若肝絕而真藏脈見。中外急。如循刀刃。責責然。見於外者。睹物而不能轉睛曰直視。又手足爪甲皆青黑。卵筋縮。舌卷。蓋筋聚於陰器。而脈絡於舌本故也。庚日篤。辛日死。死於申酉時。肝之大略如此。</p>

<h2>膽脈</h2>
<p>足少陽膽經。為清淨之府。官中正。主決斷。與肝為表裡。屬東方甲木。用與性情等。皆不外乎肝。而驚則傷膽。脈受三焦之交。三焦脈終於目銳眥。膽脈即起於目銳眥。病則目銳眥痛。上抵頭角。主頭角痛。下耳後。循頸至肩上。入缺盆。其支者。從耳後入耳中。出耳前。至目銳眥後。其支者。別銳眥。抵於䪼。下頸合缺盆。故頰頷耳後痛。頸缺盆腫痛。皆屬膽。從是下胸中。貫膈絡肝屬膽。循脅裡。出氣街。繞毛際。橫入髀樞中。其直者。從缺盆。下腋循胸。過季脅。下合髀樞中。故心脅肋髀。痛不能轉側。頸項腋脅。生瘡為馬刀俠癭皆屬膽。下循髀陽。出膝外廉。下外輔骨之前。直下抵外踝以上絕骨之端。下出外踝之前。循足跗上。入小指次指之間。其支者。別足跗上。循大指本節之後岐骨內。出其端。還貫爪甲。出爪甲後三毛。故膽病脛膝至外踝。及大指諸節皆痛。又膽汁味苦為口苦。膽氣不舒。為善大息。少陽氣鬱。為面有塵氣。體無膏澤。少陽有火。為汗出。膽之大略如此。</p>

<h1>十二·辨腎膀胱脈</h1>
<p>足少陰腎經。居左手尺部。與足太陽膀胱為表裡。腎臟膀胱腑。言其體屬北方癸水。蓋人之有腎。如樹之有根。枝葉雖枯槁。本立將自生。故上部無脈。下部有脈。雖困無能為害。言其用。腎納氣。又藏志。存神守精謂之志。專一而不移。故曰作強之官。伎巧於是乎出。其竅通於耳。腎和則耳辨五音。言其性情之雜著。腎主液。自入為唾。故腎損唾中有血。其傳於五臟者。亦各自有液。其為各臟所傳者。肺主聲。入腎為呻。心主臭。入腎為腐。脾主味。入腎為咸。肝主色。入腎為黑。其為六淫所中。寒疾皆依於腎。而兼惡濕。如久坐濕地。或帶汗入水。腎受傷矣。其為七情所害。恐則志窒不遂。水氣旋怯。脾土乘之。其有不內外因而病者。勞役陰陽。每傷腎也。脈受足太陽之交。膀胱終於足小指。腎脈即起於足小指之下。斜趨足心。故腎病為足下熱而痛。循內踝之後。別入跟中。上踹內出膕內廉。上股內後廉。貫脊屬腎絡膀胱。故病先發於腎者。必腰脊痛。脛酸。其直者。從腎上貫肝膈。入肺中。故腎病主咳。循喉嚨挾舌本。故為舌乾嗌乾咽腫。其支者。從肺出絡心。注胸中。故為煩心為心痛。診脈如十五菽之重浮於十五菽者。膀胱脈也。按之與骨相得曰沉。故傷腎骨瘦如柴。次重按之。脈道無力為濡。舉止流利為滑。此平脈也。若緩漫則土來剋水為賊邪。腰間凝滯。膀胱壅塞。陰痿腳輕重。洪則屬火為微邪。盜汗發渴。小便赤澀。腳作痠疼。此乃腎虛。小便血。女人血淋血崩為患。浮屬金為虛邪。金水相合。母令子虛。子虛則水衰。水衰則火盛。而侮金。金無所恃。致風入肺。虛喘耳鳴。膀胱熱。澀則主傷精。弦從肝為實邪。風寒在下焦。頭旋腰痛。筋疼。浮緊應耳聾。又有正邪。滑者腎脈滑而實。如土丸之墮而急甚。莖中痛。小便閉。如小豆在潮而無力主腎虛。沉者陰脈。沉見三部。腎臟寒。皮燥毛乾津液少而喜飲。或水溢於上而多唾。腎之積。名曰奔豚。發於小腹。上至心下如豚狀。上下無時。以夏丙丁日得之。蓋脾邪傳腎。腎當傳心。心旺不受邪。腎復欲還脾。脾不受。故留結為積。腎實則夢腰有所繫。虛則夢溺水。或夢鬼神。若腎絕而真臟脈見。按之如亂丸如彈石。如解索。其見於外者。腎邪浸淫各臟。黑色見於耳目口鼻。至舌黑必死。或項筋舒展。瞳人反背。遺尿不禁。戊日篤。己日死。死於辰戌丑未時。腎之大略如此。</p>

<h2>膀胱脈</h2>
<p>足太陽膀胱。在腎之下。大腸之側。上系小腸。下連前陰。為州都之官。精液藏焉。氣化則能出。與腎為表裡。屬北方壬水。用與性情等。俱不外乎腎。脈受手太陽小腸之交。故小腸脈終目內眥。膀胱脈即起目內眥。病為目似脫。或目黃淚出。上額交巔。其支者。從巔至耳上角。其直者。從巔入絡腦。故病為邪氣衝頭而痛。還出別下項。故項似拔。循肩膊內。挾脊抵腰中。入循膂。絡腎屬膀胱。故病腰似拔。其支者。從腰下貫臀入膕中。故病痔。膕似結。其支者。從膊內在右別下。貫脾挾脊內。過髀樞。循髀外。從後廉下合膕中。貫腨內。出外踝之後。循京骨。至小指外側。故病髀不可以曲。腨似裂。足小指不能舉用。又凡病背膂筋痛。小便閉。即知其發於膀胱。膀胱之大略如此。</p>

<h1>十三·辨心胞絡三焦脈</h1>
<p>手厥陰心胞絡。名手心主。手心主者。手少陰心經之主也。心者。五臟六腑之大主。精神所舍。其臟堅固。邪物能客。客之則心傷。心傷則神去。神去則死。故諸邪之在心者。皆在於絡胞。有裹心之膜。包於心外。相君用事。為心主之脈。居右手尺部。與手少陽三焦為表裡。胞絡臟三焦腑。此內經之說。斷斷不誣。即靈蘭秘典。問十二經相使貴賤。有曰膻中者。臣使之官。而不及心胞。則似膻中與三焦為腑臟。至其所云。喜怒出焉者。與心主之性相合。則意主宣教。膻中奉令。言膻中即言心胞也。其命門一說。穴在兩腎之中。即彼太極圖中之白圈是也。水火兩蘊。為真陰真陽所自出。初未嘗有左右之分。越人始分之。亦不言其為相火之臟。叔和立說。方以三焦命門為表裡。然亦不可謂無深意。且以五行之理言之。如在地有木火土金水之五行。在天則有風熱濕燥寒火之六氣。人肖天地。其臟腑之具於身者。與天地造化生成之理。若合符節。是故在天為風。在地為木。在人臟腑為肝為膽。在天為熱。在地為火。在人臟腑為心為小腸。在天為濕。在地為土。在人臟腑為脾為胃。在天為燥。在地為金。在人臟腑為肺為大腸。在天為寒。在地為水。在人臟腑為腎為膀胱。五者之外。又有相火遊行於天地上下氣交之中。故合為五運六氣。人身之相火。亦遊行腔子之內。上下肓膜之間。丹溪云。天非此火。不能生物。人非此火。不能有生。腎屬陰。主乎靜。靜則陽寓乎其中。陽既孕矣。其能純乎。靜而無生氣之動歟。若經所謂腎主水受五臟六腑之精而藏之。是陽歸之陰。而成孕者也。又謂腎為作強之官。伎巧出焉。是陽出之陰而化生者也。是故腎為一臟。配五行而言。則屬之水。以其兩腎之中。左右各有一小竅。右為陽。為火為氣。乃三焦所稟。左為陰。為水為血。乃真陰所稟命。於是左腎之陰水生肝木。肝木生心火。右腎之陽火生脾土。脾土生肺金。其四臟之於腎。猶枝葉之出於根也。繇是言之。命門雖為水臟。實為相火所寓之地。相火無定體。在上則寄於肝膽胞絡之間。發則如龍火飛躍於霄漢。而為雷霆也。在下則寓於兩腎之內。發則如龍火鼓舞於湖海。而為波濤也。命門靜而闔。涵養乎一陰之真水。動而開。鼓舞乎龍雷之相火。水者常也。火者變也。為陰中養陽之候。故男子以藏精。女子以系胞胎。而其不即於左尺見。而必於右尺見者。蓋右尺胞絡三焦。但屬相火。譬如造物用者。作處不如聚處。右尺乃相火聚處。故命門火。專於右尺候之。其體即屬相火。相火盛衰。於此決言其用。心胞為血之母。竅則通於喉。性情則不外乎腎。其為六淫所中。暑則傷胞。其為七情所害。悲則傷胞。其有不內外因而病者。房帷任意。傷胞絡也。脈受足少陰之交。故腎脈終於胸中。胞絡脈即起於胸中。出屬心胞絡。下膈歷絡三焦。故病為心中憺憺動。為煩心。為心痛。心赤色為面赤其支者。循胸中出脅。上抵腋。下循臑內。入肘下臂入掌中。循中指出其端。故病為胸脅支滿。為腋腫。為臂肘攣急。其支者。別掌中。循無名指出其端。診法同腎。若命門敗。水浸淫而賊火之氣。金剋木而伐火之源。真臟脈見為魚翔。在皮膚間本不動末。強搖如魚在水中。身首帖然。尾獨悠揚之狀。又為蝦游。在皮膚間。始則冉冉不動。少焉瞥然而去。久之倏爾復來。又為蝦戲。一呼一吸。動之擊指。其見於外者。面黑目白。心胞絕。掌內無文胞絡之大略如此。</p>

<h2>三焦脈</h2>
<p>手少陽三焦。有上中下之名。或欲以上焦附寸。中焦附關。下焦附尺。依經言上者上之。下者下之之說。果執是說。則如伯仁所言大小腸宜見於尺。不宜見於寸。揆之經脈授受之次。有是理哉。大概心胞在膈上。命門在膈下三焦俱不相失而相應。上焦寄位兩乳之間。名曰膻中。中焦在胃中脘。即臍之右旁。下焦在臍下膀胱上口。故自膻中以迄臍三寸。皆為氣海。有脂膜在腔子內。包羅乎五臟六腑之外。合之胞絡。共成六臟六腑。為十二經而或言腑止有五者。以三焦有名無狀。不名正腑。腑屬膀胱也。而或言臟亦止五者。以命門與腎。二而一不及心胞也。然或言五腑六臟。或言五臟六腑。則六臟六腑之名不能滅。又何疑於手少陽之為三焦。手厥陰之為胞絡也哉。其體亦屬相火。言其用。三焦為氣之父。蓋腎間氣動。人之生命。十二經之根本。三焦者。原氣之別使也。主通行三氣。經歷於五臟十二經。故曰。稟腎間動氣以資始。藉胃中谷氣以資生。為決瀆之官。水道出焉。合胞絡為用。宣流氣血。分別清濁。運導營衛上升下降。各得其所。脈受胞絡之交。故胞絡脈。終於第四指。三焦脈。即起於無名指之端。循手腕。出臂外兩骨之間。上貫肘。循臑外止肩。故肩肘臑臂痛。皆三焦病。入缺盆。布膻中。散絡心胞。下膈屬三焦。故病為嗌乾。為喉痹。其支者。從膻中入缺盆。上項系耳後。直上出耳上角。下頰至項。其支者。從耳後入耳中。出走耳前。交頰至目銳眥。故三焦病。耳後痛。耳聾頰腫。目銳眥痛。三焦之大略如此。</p>

<h1>十四·辨人迎氣口脈</h1>
<p>醫宗曰。關前一分。人命之主。左為人迎。右為氣口。關前一分者。寸關尺各有三部。共得九分。今日關前一分。仍在關上。但在前之一分耳。故在為人迎。辨外因之風。以在關乃肝膽脈　。肝為臟。故曰人迎緊盛傷於風。右為氣口。辨內因之食。以右關乃脾胃脈。胃為水穀之海。脾為倉廩之官。故曰氣口緊盛傷於食。勿以外因。兼求六氣。勿以內因。兼求七情也。或以前一分為寸上。豈有左寸之心。可以辨風。右寸之肺。可以辨食乎。</p>

<h1>十五·辨男女脈異</h1>
<p>男子寸脈常盛。尺脈常弱。弱者少腎虛火旺反多盛也。女子寸脈常弱。尺脈常盛。盛者少陽盛陰虛反多弱也。又男子之脈。左大為順。女子之脈。右大為順。</p>

<h1>十六·辨老少脈異</h1>
<p>老弱之人。脈宜緩弱。過旺者病。少壯之人。脈宜充實。過弱者病。山甫以為猶有說焉。老者脈旺而非躁。此天稟之厚。引年之叟也。名曰壽脈。若脈躁疾。有表無里。其死近矣。壯者脈細而和緩。三部平等。此天稟之靜。清逸之士也。各曰陰脈。若脈來細而勁直。前後不等。可與決死期矣。</p>

<h1>十七·辨肥瘦脈異</h1>
<p>瘦人脈健。肥人脈沉。瘦人多火。故脈健。肥人多濕。故脈沉。若瘦人火盛極則脈亦沉。治難見效。</p>

<h1>十八·辨方宜脈</h1>
<p>中原之地。四時異氣。居民之脈。亦因時異。春弦夏洪。秋毛冬石。脈與時違。皆名曰病。東夷之地。四時皆春。其氣暄和。民脈多緩。南夷之地。四時皆夏。其氣蒸炎。民脈多大。西夷之地。四時皆秋。其氣清肅。民脈多勁。北夷之地。四時皆冬。其氣凜冽。民脈多石。東南卑濕。其脈軟緩。居於南巔。亦西北也。西北高燥。其脈剛勁。居於汗澤。亦東南也。南人北脈。所稟必剛。北人南脈。所稟必柔。東西不同。可以類剖。</p>

<h1>十九·辨候胃氣脈法</h1>
<p>胃為水穀之海。資生之本也。故曰有胃氣則生。無胃氣則死。胃脈六部皆有。蓋六部皆有浮中沉。中即胃脈也。此處分別甚難。即於足陽明候之。使其脈中和。無過不及。急疾則為無胃氣。丹溪更有候胃氣法。謂男子以氣成胎。則氣為之主。女子挾血成胎。則血為之主。男人久病。右脈克於左者。有胃氣也。病雖重可治。女人久病。左脈克於右者。有胃氣也。病雖重可治。反此者虛之甚也。更有趺陽。亦胃氣脈。在足跗上五寸骨間。動脈衝陽者。是病重。切其旺衰。以決死生。</p>

<h1>二十·辨虛實子母</h1>
<p>看脈先辨虛實。滑利力薄無神則為虛。澀滯力厚有神則為實。實則損之。一定之法。又必損其子。若母令有餘之勢易殺。虛者益之。必然之理。又必益其子。若母令不足之勢易培。子母亦有虛實。如某脈病。母脈虛。急補母。庶本脈可得母養。亦必兼補本脈之子。令彼無所泄。某脈病。子脈虛。爭補子。庶本脈不為子累。又宜兼補本脈之母。令彼有所資。又賊脈不宜盛。賊盛必乘邪淫來勝本脈。法當培本脈。伐賊脈又急益賊之鬼令其制賊。損賊之母。俾其無靠。賊之母。即本脈之妻也。此皆生克之理之最微者。不識此。不能治病。</p>

<h1>二十一·辨有脈無脈</h1>
<p>經云。上部有脈。下部無脈。其人當吐不吐則死。觀當吐二字便知胸中有物。填塞至陰。抑遏肝氣。而絕升生之化也。故吐之則愈。不吐則暴死。若使其人胸中無物可吐。此陰絕於下也。非死症而何。經又云。下部有脈。上部無脈。雖困無能為害。此雖至理。亦不可執。上不至關為陽絕。況無脈乎。明者可以悟矣。若覆病人之手而脈出者。此運氣不應之脈。非無脈也。論在運氣脈中。</p>

<h1>二十二·辨脈不見</h1>
<p>凡診三部。浮沉脈不見。即當以神氣形色相參。委曲求之如形色神氣不備。脈則若有若無而未脫。此為邪氣伏藏。若形色神氣已備。此乃天真絕矣。</p>

<h1>二十三·辨脈無根</h1>
<p>經云。諸浮脈無根者。皆死。是有表無里。謂之孤陽。造化所以亙古不息者。一陰一陽。互為其根。陰既絕矣。陽豈獨存乎。人身之氣血亦然。</p>

<h1>二十四·辨內外宜細分</h1>
<p>外入之病。左脈大於右寸。脈盛於尺常也。然風寒暑濕則然。如勞役飲食跌撲雖為外入。亦屬內傷。故右手氣口。大於人迎。勞役傷者。兩寸俱虛。飲食傷者。右關微盛。跌撲傷者。氣血皆滯。脈弦澀滑。傷左左不和。傷右右不和。內出之病。如喜怒憂思悲恐驚。則右脈大於左榮氣病。脈弦小而數。衛氣病。脈滑大而數。榮病尺盛於寸。衛病寸盛於尺。又外入之病。見陽脈為易治。內出之病。見陰脈為可治。反者不救。</p>

<h1>二十五·辨表裡不可執</h1>
<p>脈浮病在表。脈沉病在裡。此表裡之綱領。亦有見表症。其脈不浮。見於肌肉之間。按之不足。輕舉有餘。如波湧之狀。泛上而急。亦表也。有見里症。其脈不沉。見於肌肉之間。舉之不足。按之有餘。如漫流之水。沉靜不急。亦裡也。又寸盛亦主表。尺盛亦主裡。如此方盡表裡之義。</p>

<h1>二十六·辨寒熱有真假</h1>
<p>辨寒熱以遲數二脈為本。此一定之法。如熱症見數脈。按之不鼓。覺滑利而虛。乃虛火遊行於外。非真熱乃假熱。當作元氣不足治。若診而實。方為真熱。寒症見遲脈。診之鼓擊。澀滯而實。是實火伏匿於內。非真寒。乃假寒。當作邪氣有餘治。若診而寒。方為真寒。真假不差。投藥方效。</p>

<h1>二十七·辨脈有亢制</h1>
<p>經云。亢則害。承乃制。此言太過之害也。亢者過於上。而不能下。承者。受也。亢極則反受制也。如火本剋金。克之太過。則為亢。金之子為水。可以制火。乘火之虛。來復母仇。而火反受其制矣。在脈有之。陽實者脈必洪大。至其極也。脈反匿伏。陽極似陰也。陰虛者。脈必細微。至其極也。脈反躁疾。陰極似陽也。凡過極者反兼勝己之化。是皆陰陽亢制之理。惟明者知之。</p>

<h1>二十八·辨風食氣脈</h1>
<p>傷寒中風。虛損瘧痢等病。人不常有。其朝夕失調。動輒得之。無過風食氣三者。最宜辨晰。男女左關洪為感風。肝脈沉伏亦感風。以風邪外束。故沉伏也。亦有中氣不清。肝脈如不動者。血少也。男女右關短。為傷食。脾脈沉伏。亦傷食。以脾虛食壓。不能動也。亦有脾家濕而脈伏者。又脈沉食輕。脈短食重。此風與食之辨也。如肝脈浮洪甚。脾脈略浮短。謂肝脈盛於脾。先得風而後得食也。脾脈洪短甚。肝脈略浮洪。謂脾脈盛於肝。先得食而後得風也。若肝脈如不動。脾脈或短或洪盛。或二關俱洪。皆風食。惟肝脈伏。脾脈亦伏。餘脈又無力。是為中氣不清。胸中如雲霧。然中氣不清。由脾胃不好致之須清中氣。兼補脾。或餘脈有力。咬牙作難過之聲。又是風食症。如肺脈洪。脾脈伏與短。必氣食相感。主大便不通。肺伏亦然。肝脈洪亦有感氣者。然肺感輕。肝感重。凡病肝脈洪者。多感風也。惟肝脈細而不續。胸中有時迷悶。有時清爽。此氣鬱也。</p>

<h1>二十九·辨關格脈</h1>
<p>凡陰氣太盛。陽氣不得相營曰關。陽氣太盛。陰氣不得相營曰格。陽氣不能營於陰。陰脈上出而溢於魚際。為外關內格。外關內格者。乃陰脈乘陽。陽外閉而不下。陰內出以格拒之也。其為病。外熱液汗不通。內寒胸滿吐食。陰氣不能營於陽。陽脈下陷而覆於尺部。為內關外格。內關外格者。乃陽脈乘陰。陰內閉而不上。陽從外入以格拒之也。其為病。內熱大小便閉。外寒手足厥冷。其脈有陰陽相乘。有復有溢。皆於此會。</p>

<h1>三十·辨從脈不從症</h1>
<p>脈語曰。表症。汗之常也。病發熱頭痛脈反沉。仲景急救其里。用四逆湯。此從脈之沉也。里症。下之常也。日晡發熱屬陽明。脈浮虛宜發汗。此從脈之浮也。結胸證具。常以大小陷胸湯下之矣。脈若浮大不可下。下之即死。是宜從脈。而治其表也。身疼痛。常以桂枝麻黃汗之矣。尺中遲不可汗。以榮氣不足。血少故也。是宜從脈。而調其榮矣。此皆從脈不從症也。世有問症而忽脈者。得非仲景之罪人乎。</p>

<h1>三十一·辨從症不從脈</h1>
<p>脈語曰。脈浮為表。汗之常也。亦有宜下者。脈浮大。心下硬也。脈沉為里。下之常也。亦有宜汗者。少陰病。始得之反發熱。麻黃附子細辛湯微汗之是也。脈促陽盛。常用葛根芩連清之矣。若脈促厥冷。為虛脫。非灸非溫不可。此又非促為陽盛之脈也。脈遲陰寒。常用乾薑附子溫之矣。若陽明脈遲。不惡寒。身體濈濈汗出。則用大承氣。此又非諸遲為寒之脈矣。是皆從症不從脈也。世有切脈而不問症者。其失可勝言哉。</p>

<h1>三十二·辨形氣宜合脈</h1>
<p>脈為人之本。形乃人之標。標本宜相應。故形盛脈大為順。脈小為逆。形瘦脈小為順。脈大為逆。暴病有餘。形盛脈洪實為順。脈微而虛為逆久病不足。形瘦遲緩為順。脈數而實為逆。經云。形盛脈細。少氣不足息者危形瘦脈大。胸中多氣者死。信然。</p>
