<header data-type="book">
<h1>醫學三信編</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>毛世洪</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1795">公元1795年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>九流百家之書，苟有其才，皆可傳世而行遠。獨醫能制人生死，故尤不可以不信。世傳《千金》、《肘後》諸方尚已，他如急疾奇病，丹方秘製之類，製造不一，人大都用之，當時業有成效，流布已久，不可得而廢也。</p>
<p>近世業醫之家，務在各出己意，其於古人成法，頗疑不適於用，好博不專之患，又不能決擇其間。夫然師心者多虛聲，墨守者鮮實效。日以其身從事於此，而猶不能無惝恍焉。而謂能信之於天下後世乎。</p>
<p>毛君楓山，博學精識之士，《養生經驗集》亦既沾溉海內矣。濟物之懷，老而彌篤，旁搜博採，日有所增，已復取而詮次之，顏曰《三信編》。</p>
<p>昔陸忠宣晚歲尤留意於醫，遇有良方，必手自抄錄。張潔古洞徹醫術，自為家法，不用古方。若先生者，豈非兼有二子之長者歟。</p>
<p>夫宰相之道，在於則古，昔，稱先王，確然不欺，以無憾於天下。禹、稷之平成，伊、周之匡濟，蕭、曹、房、杜之策畫，其足以垂示後世者，亦曰：信而已矣。</p>
<p>今醫以活人為術，前人所為譬諸良相。而是編之作，實有會於斯旨焉。覽者苟能精心渺慮，以尋究夫作者學力之所在，安見信作者之心，必不如作者之信古哉。</p>
<p>由斯以往，微疴篤疾，均何有於驅除極之。上世所稱：割皮、解肌、湔腸、滌臟，離奇恢譎之功，雖謂至今尚存，可也。</p>
<p><u>乾隆六十年十有二月</u></p>
<p><u>同里弟陳德星頓首拜序</u></p>

<h1>序</h1>
<p>醫之為書多矣，自《素問》、《靈樞》以下，卓然可傳者，不過數種。其餘百家撰述，汗牛充棟，未免擇焉不精，語焉不詳，學者視之有茫乎不知所折衷者。</p>
<p>楓山先生博綜群集，懼其泛而雜也。於是講明切究，聚古今之精英，著《三信編》三卷。言簡而賅，其於藥石之性味，疾疚之源流，開卷瞭然，可與向所刻《養生經驗》一書，並垂不朽。雖不敢以倉公、扁鵲之說諛之，而稱為濟世之書，洵可無愧也。</p>
<p>先生年臻大耋，神明不衰，是深得乎養生之道者。然而先生不欲自私，形諸著述，以濟當世而利後人。古人云：不為良相，當為良醫。其先生之志也歟。</p>
<p><u>時乾隆己卯清和月</u></p>
<p><u>同里弟鍾汾拜序</u></p>

<h1>序</h1>
<p>良相良醫，皆以救人為心。然未有不信古人而能救今人者，亦未有能救今人而不欲後人之師其意以救後人者。良相之救人也，以其能讀孔孟之書，信而守之而佐以子史。良醫之救人也，以其能讀軒岐之書，信而守之而佐以扁盧。顧軒岐、扁盧之書不易讀，則又在得其傳者之闡發其奧旨，以示天下後世也。</p>
<p>楓山毛先生，於醫能窮源而暢流，復以救世之心，慎於診視，所治輒有奇效。今且年逾大耋矣，數十年妙手苦心，全活無算，而猶慮沾溉不逮於久遠也。於是以其信於古者，筆之於書。前所刊《養生經驗集》已為世寶貴矣。茲復採古方之精粹者，編為歌訣，參以議論，變而通之，匯為一冊，顏曰《三信》。俾後人之信先生，猶先生之信古人，則其學傳，其救世之心無不傳，凡後之神明其術為斯人福者，皆先生功也。豈云小補哉。夫出蛇走獺，理腦解顱，世每詫為不經者，以未明陰陽感觸之實有是病；與夫能見五臟癥結之實有是術；且未明青芝、赤箭、牛溲、馬勃之實有是用；草石骨肉，相使、相畏、相惡、相反、相殺之實有是理；無惑乎少見而多怪也。</p>
<p>是編擇精語詳。於藥則溫涼平毒辨其性，君臣佐使明其用；於病則天地動靜，五行遷復溯其源；於人則虛實老少參其變；於診治則宜攻、宜補、宜解、宜養慎其思。所謂人有二十五類，生是人即有是病。有是病，即有是醫者，無不洞若觀火，雖欲不信不可得也。至其書之義無不顯，句無不諧。學者尤易拾誦，又誘掖之善術歟。</p>
<p><u>嘉慶二年歲在丁巳且月朔日</u></p>
<p><u>錢塘後學陳岱拜序</u></p>

<h1>序</h1>
<p>《後漢·郭玉傳》曰：醫之為言，意也。意則指與物化，不可端倪。奚執乎陳方舊說而信之？然不讀《靈》、《素》之書，而欲試軒岐之術，師心自用，誤針誤藥，以至於不可救，則恃意適足為害也。</p>
<p>楓山毛先生蓋深憫之矣。先生神明而壽，究岐黃之術而能通其原，著有《養生經驗集》行於世。猶慮粗工之學醫而人費也，乃採古今明哲之精粹，編為韻語，使人諷詠以昌之，先生殆神於用意者歟。學者閱歷是編，洞若觀火也。然則先生豈恃己意為嘗試者乎？信於古，然後信於今，信於一人，然後信於天下。旨哉三信之說，所以教天下之不學無術者也。雖然，先生非虛心玩索，安能仰軒岐於數千載，上而羹牆遇之。則夫讀先生之書，無物而不化，又非先生意也。學者於審脈辨藥外，得先生慎思之旨。思之思之，鬼神通之，所謂信者，於是益堅且確，先生其許我為知言歟。</p>
<p><u>時在嘉慶丙辰正月</u></p>
<p><u>同里後學周由厚拜序</u></p>

<h1>上卷（醫學補遺）</h1>

<h2>引言</h2>
<p>竊聞見道未真，奚容論斷，立言不切，寧免浮誇。巍乎前哲，難幾卓爾，後生可畏。況岐黃久彰寰宇，各代興崇文章，莫盛茲時。</p>
<p>聖朝隆運，惟是經文古奧。淺見者索解殊難，玄理幽微。粗心者會真匪易。張景岳效武侯之八陣，喻嘉言法蕭相之三章，趙養葵遵孔門之一貫，高鼓峰循孫子之五奇。諸書迭出，固無微不顯，無秘不闡矣。更可羨者，文精句雅，韻洽調平，能使誦讀之人目爽心開，神凝志發。然其間尚有可議不可議者存焉。</p>
<p>予實碌碌庸才，素患迂腐，既不能學書學劍，復不能學圃學農，惟有志於青囊，恨不克飲上池水耳。故於三餘之下，遍考群書，知不可議者，乃先聖所傳，已經後賢闡發諦當者是也。其有闡發未當者，不得不備論之，以公諸世。奈何筆底空疏，雖欲吐其肺腑，終愧拙於雕蟲。因思濟世之道，在舉之當與不當而已，不必拘其言之文質也。今予既信昔人，而私淑其意，且以補其未發。後之人倘有閱是編而信予者，要亦猶予之信昔矣，故題曰《三信編》。</p>

<h2>原診</h2>
<p>望、聞、問、切，皆診之意也。四者固不可膠執一端，但有全論者，似乎至矣。而診之大原，仍不在是也。</p>
<p>夫聖人神以知來，智以藏往，無有遠近幽深，皆能明辨而勿疑殆。由心體之明含融天地，萬物之理而大無不包，細無不入，故能如鑑之察形，炬之炷暗歟。</p>
<p>世醫拘拘於望、聞、問、切之中，欲求達診之道於戲，猶居於物之內而觀於物也。真巍乎莫可窮，淵乎莫可測矣。今高明之士，受此惑者猶比比焉。設能居於四者之外，潛心默悟，先復自之天性，次詳理之大同，俾一旦豁然貫通，則或望、或聞、隨問，隨切，無不引申觸類而洞得其情。經云：至道在微，變化無窮，神而明之，其用乃制，其斯之謂歟。</p>

<h2>攻補論</h2>
<p>治病不離攻補，惟當之為貴也。今方書莫不首言二者，人盡知之。</p>
<p>夫內傷外感等症，其治法非攻即補，非補即攻，即如和劑之中，亦必寓攻補之義。蓋古方汗、吐、下皆攻也，溫、清、補皆補也。經云：毋虛其虛，毋實其實。故凡外感多實，所以仲景專攻。內傷多虛，由是東垣重補。張子和所治村夫，其方峻削。薛立齋相偶貴介，立法溫和。</p>
<p>今《八略》云：實而誤補不過增病，病增猶可治。虛而誤攻，必先脫元，元脫則無治。然其言著於攻略，固有益於後人。倘狃論於補法中，則未免流弊矣。又有注《傷寒論》者曰：形實氣壯可以攻也，形羸氣弱自當補之。倘攻弱補壯，則實實虛虛，夭人性命。然此言似是而非，亦屬騎牆之見，固不足論。</p>
<p>經云：邪之所湊，正氣必虛。奚有正氣實而反生病者哉。故所謂實者，邪氣實，非正氣實也。言虛者，確指正氣虛耳。若邪氣虛又何病耶？予故曰：邪實宜攻，邪微可補，一言盡之矣。然而攻補之道有五，試論之。</p>
<p>一曰：氣壯者不必大攻，氣弱者不宜驟補。此亦專指邪甚者而言。大凡形實氣壯之人，必非內傷之病，或偶然外感，此必有一臟或一腑之虛，故外邪得乘隙而入。若竟無虛，又安有外感哉？但其別臟腑之氣皆盛，故雖感而未必深入，其邪亦輕，此時稍用解表之藥，則邪無不散。更察明致感之由，從而峻補之，以杜其將來則善矣。若或過投大散大下之劑，則邪氣去後，正氣受傷，雖其形實氣壯，將見正削於中，又必新邪來陷，轉攻轉陷而無所施治矣。若夫形羸氣弱之人，五內空虛，肌膚疏懈，或因內傷，必生拂鬱之病。陰液不充，燎原日熾，法當清火導氣，散郁疏經，始能平靜。至若外邪感冒，其入必深，緣氣弱不能御邪，必須汗之下之，使邪得解，然後緩緩滋培，可全愈矣。設先投峻補之藥，則反助邪攻正，非惟無益而反害之。</p>
<p>二曰：攻不全攻，補不全補。凡邪在氣分，必先解散者，配合養陰之藥。邪在血分，務宜疏利者，稍加助脾之藥，皆不在禁例。況陰血充而表邪易去，中氣足而積滯能通。故云：攻不全攻。若補不全補又有說焉，凡補氣藥中，須參升提健運。補血藥中，宜入理氣通經。安心神必兼清火，滋腎水猶當逐濕之類。</p>
<p>三曰：攻不及者宜補，補不及者宜攻。何謂攻不及者宜補？蓋表邪未解，胃液消亡，實積尚存，心神飛越。斯時也，若必欲盡去其邪，盡去其積，雖用大攻之劑，奈正氣已衰，邪必內陷，法當峻補胃陰，如左歸、貞元之類，則陰液得充，汗必湧出肌表，邪亦不待攻而自去矣。收斂神氣，若歸脾、養榮等湯。君主一明，五臟各得其職，雖不下積，而積亦無不下矣。何謂補不及者宜攻？凡邪入陽明，變生大熱，五液煎熬殆盡，惟腎中真水一點尚存，斯時欲滋津液，以一杯之水，難救車薪之火。故仲景以大黃、枳實、芒硝，急下陽明實邪而承足少陰真水之氣。又如邪中三陰，寒痰壅塞，上下不通。一身陽氣暴絕，獨絳宮一點真火猶在。斯時欲補臟腑之陽氣，又似乎壺湯而澆雪山。故須投蘇合香丸、三生飲，以攻痰利氣，逐內外之寒邪，以宣手少陰君火之氣。即如內傷外感之病，雖不若是之危險，亦必酌其權宜，或先攻後補，或先補後攻，務先其急。</p>
<p>四曰：以補為攻，以攻為補。此義何居？蓋病人有實積於中，又素虛氣弱，或病後產後皆不任攻，法當重用補陰潤下之品，俾氣血宣順，其積自下，如景岳決津液之義。又如風邪屢散不解，法當大補氣血，以實其表，使邪無可存之處，如玉屏風之類。更有火踞上焦，清涼日用不平，亦須壯水之主以鎮陽光，則火自息矣。至如水泛為痰，補而逐之。久瘧不瘥，補而祛之。腎虛水腫，補而消之。脾弱發黃，補而利之。但凡以補為攻，參、耆、杞、地，皆當重用之，一、二、三兩始能正氣驟生，邪不能敵。若輕則反隔礙難通，適足助邪增劇。又若氣虛中滿，不妨加曲、蘖、香、砂之類。血枯身痛，亦可用行氣導滯之方。相火飛騰，可以涼解。勞傷吐血，可以順導。久嗽猶當汗透。沉痹尚可驅風，但其分量須輕，不過錢許，或數分而止。過用則開門引賊矣。但用補後不必攻，攻後必須補，不可不知。</p>
<p>五曰：邪在表者，不可攻裡，在裡者，不可攻表。虛在陰者，亦可補陽，在陽者，亦可補陰。凡邪之在表，使人氣脈不通，胸膈飽悶，或二便不利皆有之。然邪尚未入里，倘誤攻之，邪必乘虛內陷。若邪氣入內，熱氣薰蒸，必見身疼、頭痛。誤投發表，內外俱傷，又增一病。又凡陰氣大虛，或驟傷陰血，此時固當補陰。但經云：有形之血不能速生，幾微之氣所當急固。又或陽氣衰微，上虛喘急，補陽本其要法，然傳曰：無陽則陰無以生，無陰則陽無以化。故凡補虛續絕，則陰陽互為根本，相需而不相離，故攻則在乎嚴密，補則在乎圓活。</p>
<p>通前五法，不過言其大略。至有或當純攻而禁補者，或當純補而禁攻者，又有忽宜補而又忽宜攻者，俱當臨症之際，細心體認，用得其宜耳。</p>

<h2>新久內外老少標本虛實論</h2>
<p>醫之義尚矣，醫之理微矣，殊難一言蔽之。然凡病初起，皆氣受之。若經年累月，則必精竭，精竭則神亦亡，此一定之理也。若虛不受補，或病深失治，以致於神亡而竟不可挽者，由於數盡者半，失於調治者亦半也。</p>
<p>夫斷木可以取水，溶金可以得水，燃火生液可以得水，掘土為泉可以得水，故能培五臟則精無不生。況圓珠可以得水，則假無形以養精也。鑽木可以得火，鑿金可以得火，捶石可以得火，水底有火也，能養五臟則神無不存。況陽燧可以取火，則假無形以養神也。</p>
<p>若外感之致於死者，皆緣五氣阻滯，經絡不通，或火炎而精暴絕，或氣亂而神遽揚，非內傷枯涸之比也。</p>
<p>凡治新病，首貴疏邪調氣。火甚者兼滋陰精，氣散者，並安陽神。所以治外感當救之速耳，待邪盡而後補之可也。若久病，必須豐填精髓，峻補真陰，安養元神，兼調氣血。故治內傷不嫌其緩，待虛回而後方可攻邪，此二者皆常法也。若有標急於本者，又當斟酌活法。老弱者，必須先固本原。少者新病亦可先補，老邁沉疴亦可先攻，或用和劑，所謂刑德兼施，並行不悖者是也。但其要旨，凡欲攻邪，須量稟氣之厚薄。若思補正，必詳邪感之重輕。余故諄諄曰：邪甚當攻，勿畏正氣虛而先補，邪微宜補，休泥表未盡而漫攻。能知此義，可不拘病之新久、內外老少，標本虛實等類，而竟縱橫攻補，亦無不善矣。經云：知其要者，一言而終，此之謂也。</p>

<h2>藥性疏辨</h2>
<p>藥物種類繁多，似難枚舉。試以今時日用而不知者，信採數品而詳論之。</p>
<p><u>五味子</u></p>
<p>味酸、甘，核苦、辛、咸，性溫，無毒，入肺腎二經。予曰若云五味恆全，自宜用無偏勝，何以惟酸倍甚，專司在於收固。《八略》云：病在上在表者，皆當固氣。在下在裡者，皆當固精。然諸氣藏於肺，諸精貯於腎。凡收耗亡，皆五味之能也。但其分量須酌用，方書莫辯，予特附詳之。蓋輕清者上升，重濁者下降，此自然之理也。故其斂汗定喘，解渴療咳，收肺氣耗散之金，所用不過七粒、九粒，取其氣也。至於固腸澀精、強陰除熱，滋腎經不足之水，不妨用三錢、五錢，取其味矣。倘易二症之宜，而多寡誤用，非惟無益，抑且增劇，此一義也。</p>
<p><u>甘草</u></p>
<p>味甘，平，無毒，入脾經。故熱藥用之，欲溫中也。涼藥用之，清脾胃之火也。上升藥用之，欲並土臟，清氣同升。下降藥用之，欲與中宮濁氣並降故也。又其性能緩，凡急攻急散之劑非宜，氣偏血偏之病恆用。輕用兼屏心肺之熱，重加可挽肝腎之脫。</p>
<p><u>人參</u></p>
<p>味甘，微溫，無毒，入肺脾二經。汗、下、溫、補、和五法，無不宜用。然用於散劑者，乃助肺氣，使邪易於散也。昔人有謂入散藥而助散劑之力，故邪易散，此言非也。經云：邪之所湊，正氣必虛。今人重感於邪，故必投大散之藥，又必加以人參以助正氣。若人參不能固正，亦不必用矣。豈有復助諸散藥等力更復大散者乎，決無是理。即下藥用之，亦以助脾胃，使邪積之易去耳。同溫熱藥用者，期元氣之驟生，則陽回可速。補劑自彼專能，毋庸議論。輕用惟補肺氣，重用可實脾土。若欲添精於腎，生血於肝，則非一、二兩不可，猶必佐以歸、地之類。</p>
<p><u>白朮</u></p>
<p>味苦、甘，溫，無毒，入脾胃二經。</p>
<p><u>熟地</u></p>
<p>味甘，微寒，無毒，入心肝脾胃四經。《邯鄲》以為二味不宜同用，今《景岳新方》屢屢並行，而諸書亦未辨晰。惟四明列《薛氏醫案》數方亦曰：有可同用，有不可同用者，此言猶覺拘泥。予釋之曰：術多地少，是欲滋土中之陰，非欲兼補腎也。地多術少，必使利腰臍間之濕，豈期養胃哉！若兩味等用，方為脾腎兼療法耳。即之肺之肝，配之合宜，亦無不可適。或土受熱傷，可去朮而竟投熟地。水遭濕侮，可去地而惟用白朮，此其概也。</p>
<p><u>黃耆</u></p>
<p>味甘，微溫，無毒，入肺脾二經。與人參皆固元氣之藥也。</p>
<p><u>遠志</u></p>
<p>味甘，辛，溫，無毒，入心胃二經。</p>
<p><u>棗仁</u></p>
<p>味酸，平，無毒，入肝膽二經。此二味皆養神之藥也。</p>
<p><u>枸杞子</u></p>
<p>味甘，微溫，無毒，入腎肝二經。與熟地皆添精之藥也。</p>
<p><u>當歸</u></p>
<p>味甘，辛，溫，無毒，入心肝脾三經。</p>
<p><u>白芍</u></p>
<p>味苦，酸，微寒，無毒，入肺脾肝三經。此二味助生氣之藥也。甘草、白朮補中氣之藥也。古法皆以人參、黃耆治肺，因肺主元氣也。棗仁、遠志治心，因心主藏神也。白朮、甘草治脾胃，因脾胃屬土為中氣也。當歸、白芍治肝，因肝為生生之氣也。熟地、枸杞治腎，因腎藏精也。古法之治，善固備矣。</p>
<p>予又有說焉，天地一太極也，五行備焉。人生天地之間。亦具一太極，五臟備焉。五臟在人身中，亦各具一太極，亦各備一五行，故高鼓峰特立二十五方。</p>
<p>予更有說焉，天地人謂之三元。人身之三元，即精氣神也。《黃庭經》云：五臟之中各有神。又云：五氣運明發霄間。《內經》云：六腑注氣而不留，五臟注精而不泄。由是觀之，五臟各又具一精氣神矣。然五臟之神，皆拱於心。五臟之精，皆貯於腎，故五神虛則心不安，五精虛則腎衰憊。惟氣有三：一曰中氣，五臟中之土氣也，盛則脾胃旺。二曰元氣，五臟中之金氣也，衰則肺臟耗。三曰生氣，五臟中之木氣也，虛則肝血枯。故凡一臟之精虛，皆使腎病。若竟腎虛，則五臟之精皆竭矣。神氣亦然，而心肝脾肺之往還，亦若是也。故心精虛者，可加杞、地於補心、清心之內。腎神耗者，宜投志、棗於六味、八味之中。肝經元氣不足，參、耆重加於四物、八珍無害。肺家生氣消削，歸、芍用於生脈、瀉白何傷此一隅也，余可仿之。即脾胃中土氣自衰，的須朮、草。倘兼四病，亦如前法，豈不圓通而無滯哉。然度理究心，務使可分可合，知常達變，必期能縱能橫，是則存乎其人耳。</p>

<h2>脈義心參</h2>
<p>診脈有道，參《素》、《難》而自可得矣。古人以三部九候而審辨之曰：上以候上，下以候下，中以候中。此固不易之論，或因診視不便，故易於兩手之寸口。然亦分三部九候之別，然皆本太陰之脈也。</p>
<p>夫臟腑之氣，互相交錯，無刻不然，惟手太陰猶能決其虛實。即人飲食入胃，其精微之氣上朝於肺經，待肺而傳諸百脈、於是諸臟腑之氣莫不相隨，水穀之精氣而歸詣於肺。但其分辨各臟腑部位，《內經》嘗備言之。</p>
<p>自北朝高陽生歌訣一出世，人以其易讀，誤信其偽，則《內經》脈義幾乎息矣。雖闢者代不乏人，及闡經旨，則遺漏未暢者甚多。至景岳部位解傳世，殆孟子之廓如也。參考諸家診法，惟李士材《正眼》為全。近世高鼓峰《心法》之脈義，猶當顯豁。能熟究二書，其原自得。予聞窮理盡性，始能達道，故物雖號萬而知之不難者，在能察其根源耳。</p>
<p>今脈義以部位定臟腑，以二十八脈別病情，以十怪脈斷人生死吉凶，皆是也。其所以然者何故？今人所見之脈何象？其變態二十有八及怪脈十種，何故而使然？昔人曰：脈乃氣血之先。今東垣以診而有力者，確然指以為神。予更有說焉，夫脈之在於人也，非氣非血亦非神也，又不可謂非神也。昔人曰：我生非我有，是天地之委氣也。《易》云：天行健，君子自強不息，是脈本人生不息之天機，豈可竟擬為是氣、是血、是神乎？彼李氏竟指曰神，亦不盡然矣。試言外感等症，脈大有力者居多，豈六淫之邪，輒犯於神而然哉。故察脈雖可以知神，而要亦未盡如此。即三部九候，亦不宜拘執，何也？今人臟腑，五行而已。《陰符》云：天有五賊，見之者昌，此指五行也。又云：九竅之邪在乎三要，可以動靜，此指三元也。昔人有云：天地之數，不可竟曰五，不可竟曰三，又不可曰非五、非三也。今人所恃而生者，氣也，其行氣之主，神也。而養神之道，精也。此三者，臟腑莫不賴之。故論五臟六腑者，是從五行之道也。而予諄諄於精氣神者，豈無從哉？本三才之理耳。其義亦分三部九候，亦可取決於手太陰之寸口也。蓋神寓絳宮，應居寸位。精藏元海，尺位堪求。氣塞乎中，關脈可決。右手屬陽，可察陽神、陽氣、陽精。左手屬陰，可察陰神、陰氣、陰精。此三才之部位也。</p>
<p>然陰中有陽，陽中有陰，如太極之義也。至如舉神也、尋氣也、按精也，此又以浮中沉而定三才矣。故高鼓峰云：暴病以右關為主，蓋恐陽中陰氣消亡。久病必求左手，亦恐陰內陽神欲去故耳。即謂神之虛實也，非只一心，謂五臟之神，俱當求於二寸也。氣之存亡者，亦非只脾胃，謂五臟之氣，俱當求於二關也。此其一義，余可類推。</p>
<p>又如散脈多浮，乃神欲去也。弱脈多沉，乃精耗竭也。弦脈多中，乃氣無生理也。至於感冒脈浮，非神病也，因氣鬱而現於外，自出其本部耳。吐瀉而脈伏，緣氣泄而隱於內，自退其本位也。即精神亦有進退，宜仿此義。</p>
<p>大凡五精涸竭，脈沉而數。五氣衰微，脈中而弦。五神飛越，脈浮而散，此皆危候。若浮而軟，神不足也。沉而細，精不足也，中而虛，氣不足也。其變見之不同者，亦可由李瀕湖之二十八脈以參之。但必圓活，不宜執滯，則無不可。</p>
<p>今予立三才貫五行之論，恐人拘泥古法，不能盡得病情耳，姑再詳言之。今人寸脈沉軟，皆曰心虛，殊不知亦精虛也。尺脈浮軟，皆曰腎虛，殊不知亦神虛也。即寸尺之脈中而軟，亦當以氣衰斷之，此活法也。凡三部神虛，治補本臟，猶必兼於補心。三部精虛，用滋本陰，亦必合於固腎。其義詳見「藥性疏辨」，茲不復述。然精虛不已，則氣亦耗。氣虛不已，則神亦亡矣。故三者又同一源，須斟酌其孰急者先治之，又不可執其一，而遂忘其二也。予論皆本於經義，但諸家未有是說，故為之備論焉。</p>

<h2>寸關尺部位圖</h2>
<p>左寸陰神，陰中之陽神。心即神，元神也，火焰砂中汞也。</p>
<p>左關陰氣，陰中之陽氣。肝氣即生氣，魂也，生氣也。木中滋也。</p>
<p>左尺陰精，陰中之陽精。腎水即元精，志也，先天氣也，真精也。</p>
<p>右寸陽神，陽中之陰神。肺即魄藏，魄也，元氣也，金中液也。</p>
<p>右關陽氣，陽中之陰氣。脾即中氣，意也，土氣也，胃液也。</p>
<p>右尺陽精，陽中之陰精。腎火即相火，志也，先天氣也，元精也。</p>
<p>仿《性命圭旨》之式，圖傍註解，皆不用虛字收腳。</p>
<figure>
<img data-orig-src="urn:270:10339.jpg" alt="寸關尺部位圖一">
</figure>
<figure>
<img data-orig-src="urn:270:10340.jpg" alt="寸關尺部位圖二">
</figure>

<h2>感證鉤玄論</h2>
<p>感證之始，皆緣於天淫六氣。人受賊邪，隨時發現，百出多端，治或有差，損人天年，不可不慎。</p>
<p>然以理揆之，無非風寒暑濕燥火而已。其著人也，亦不過經絡臟腑，苟能隨證施治，何致為害？但古人立方，多屬峻利。予思藥之峻利無窮，而人之元氣有限，故未敢盡信。惟張介賓所謂邪實者，暫宜解標。邪微者，只當求本。此言真治感證之準繩，活人之寶訓也。又創立五柴胡等方，分按五行，通療感症。然其間求本解標，並行不悖，其意不過言人初感必有外邪，故分別為之解散。即或需用滋補等藥，亦念氣血虛弱之人感邪既深，不能徒逐而散，所以助其氣血而邪自去矣。然病至一七、二七之外，無問邪之解否，視其脈症劇極，雖非治者失宜，終不可執用成方，又必另畫一策。</p>
<p>高鼓峰云：三元虧損土無基，遇著庸醫促命期。斯言良有以也。夫人之土，脾胃是也。萬物皆生於土，而調土之法猶難。蓋土燥不生，端由水之憊也。若土寒冰冽，抑非火之衰乎。至於土鬱不舒，焉能生髮？故高氏有三元之論。夫三元者，即水火土之位，精氣神之所聚也。絳宮位尊而處上焦，元海幽深而列下部，黃庭界乎上下而居中州，乃人生之大要也。故感證屢散而不解者，必屬三元虧損，真土無基，縱邪實邪微，而生氣將絕，斯時豈可再遇庸醫，舍三元虧損之本症，而妄攻外感之末邪哉。</p>
<p>今董西塘之論，惟以救胃液為主，其論固確，然猶有未盡者也。夫所謂胃液者，乃土無腎水滋潤，燥極而不能生，故所用皆養陰藥，即高氏三元中之一也。若夫土鬱不舒，非胃陰之枯槁，實中氣之閉塞。中氣閉塞，則諸經絡之氣一時凝滯，血脈為之不行，心神為之悶絕，而死期不待終日矣。斯時設用西塘養陰之法，非惟無益而反增其膩隔，適促其斃耳。法當疏氣散郁，使中州道路得通，則心腎交於頃刻矣。何必拘於養陰，方交其子午哉。</p>
<p>又夫中氣本虛，胃陰不乏，惟緣外邪熾甚，火逼絳宮而心神揚越，以致土寒冰冽，生氣蕭條。若此非養陰運氣之藥，必以安神收斂之品，先救其君。君主得明，則十二官必無危殆矣。明此三例，始合高氏之說，可拯感證而獲大全。</p>
<p>大凡感證之脈，浮大弦數者居多。浮弦舉按有力，確屬外邪，自宜攻之。倘浮而無力，防有心神飛越之患。中候弦數有力，亦外邪也。倘或弦微澀數而似郁脈者，則是中宮氣塞之病，沉而堅實或有積也。倘細數而無力者，確乎腎水之消亡，必用西塘之法，以救胃陰為主。若非是脈，雖舌胎之枯燥，不得概責其無水，可參神氣二者治之。倘因中氣閉塞，遽投養陰之藥，豈不增其窒礙。若或陰液將竭，而誤投運氣之劑，亦是速彼枯涸耳。又如心神散越，屢服壯水之方，似乎渴而穿井。頻服健運之藥，勢如火上添油。又如水涸火炎，雖服安神之品，若揚湯而止沸，曷如釜底抽薪。倘氣悶而神昏，縱助心君之力，猶焚膏而燭暗。孰知啟牖通明，若能精研斯理，熟記於胸，用之無失，則不致隨庸醫附和而促命矣。</p>

<h2>徹微論</h2>
<p>天行六氣之病，隨時所發，皆名感症，非疫癘也。夫霜降以後，春分以前，人感之而病發者，名曰傷寒。其治法，仲景闡詳已備，毋庸贅矣。</p>
<p>若在夏至之後，秋分以前，人感之而發者，又非傷寒疫癘之比。其義何也？予聞復卦之陽升自地，姤辭之陰降自天，此自然之理。故凡感發於斯時，謂之時氣傷寒者，但言其陰，不明其義，施治乖張，坐昧其機，時醫概混稱之曰：暑風。殊不知陰生於上，逼陽於下，其所感受，皆是熱邪，是與傷寒不侔本乎。</p>
<p>天者親上，由是心肺並邪，上源先傷，初非由太陽而始。故見頭痛項強者，痰火上攻也。胸膈脹滿者，肝膽拂鬱也。又如喉痛頸腫，嘔吐譫語者，皆陽明受邪也。即有別症兼見，亦不過另有所挾耳。</p>
<p>病既不同，治亦有異。大法於六、七日內者，急當清心肺之火，宣皮毛脈絡之郁。屏上源之邪，導肝膽之抑。俾清肅之令下行則得便，水穀之氣四布則得汗。不宜以悍劣燥熱之劑，復助上焦之邪火，而消爍胃中之真陰。亦不得以峻削苦寒之品，先傷內臟之正氣，而招留將陷之客邪。試看屢表而外邪不解，頻攻而反內陷。順者變逆，逆者遂亡，可不鑑哉？若旬日之外邪尚未退，上焦閉塞，陽明胃火或挾痰食，實結胸中，法當升提潤下。啟其壅滯，潤其枯涸，亦可便、汗而愈。不宜用大熱滯氣等藥，增益其邪。克伐凝寒之類，重傷其正，此大略也。至於察運氣之宜忌，究標本之緩急，務在臨症之頃，心領神會，庶無差誤。</p>
<p>今之治是症者，膠執古書而不察其義理。究其根由，甚至有謂傳經直中之說者，徒誇仲景名言。有謂涼解直下之說者，謬認朱、劉真諦，均可哂也。詎知邪始上焦，清之散之為急。若入陽明，潤之下之為要。外邪稍怠，即當助正以屏之。裡氣暴亡，法在回元而後理。故凡外邪未散而正氣消亡，客火尚存而虛煩複熾。或因汗、下失宜而變成逆症。或自真元虧損而內變遽生。諸如此類，宜參劉河間治分三焦之辨，並鑑「鉤玄論」之三法，酌量以救之可也。雖然救急症於須臾，諸感本無少異，但邪伏清虛之臟，非若傷寒之易退也。故峻補回元之後，仍當解散外邪，則無患矣。</p>

<h2>來復論</h2>
<p>客有問於予曰：證之與傷寒不同，既聞命矣。然傷寒自太陽經始，一日傳一經，七日而邪氣傳遍，或可汗解，至十四日諸病氣衰，雖不治亦已。至於時感，既非傳經之例可推，然其愈也，亦必七日或十四日以為期。其故何也？予曰：其義深矣，豈能遽悉。然司命者，不得不窮其理。第恐予之淺識，所答未明，姑擬一言聊以塞責。《易》云：七日來復，如子到午之義，即太極陰陽之相半也。今人既具太極之形體，自不外乎陰陽之妙用。夫冬至陽生，夏至陰生，無往而非七日來復之義。故陽氣生而四體融和，則寒邪自解。陰血長而百骸濡潤，則酷熱頓除，豈必待傳經盡而後病始衰耶。</p>
<p>客又問曰：或十四日而不愈者，甚有遷延三七、四七之期而仍死者，得非陰陽亦有不復之時耶？予曰：非也。否極泰來，其理昭然，陰陽豈有間絕。但陰陽之氣將復未復之際，或其人本元素虛而五內消亡，或邪實猖狂，中宮竭絕，或因攻伐太過，正氣暴傷，頻散表而陰津致涸，屢寒涼而真火逼越，勢如新谷未登，存糧已罄，將救死而恐不贍，枵腹垂斃之頃，奚暇與邪爭勝負耶。</p>
<p>客又問曰：然則如何退敵？予曰：當此之際不必攻擊其邪，惟運資升斗之粟，急援其飢，以俟數日之命，自有天然真氣來復，所謂終則有始。此天心見於易者，自有明徵。且待正氣稍回，再行按證逐邪施治。譬之有堅甲利兵，然後審機攻守，方無失也。倘於正氣未復之際，不思救其人之危命，而妄議攻邪之末策，無不殆矣。</p>
<p>客曰：臨危制難，料敵設奇，將帥之略也。醫中之理亦如是夫。</p>

<h2>時疹療元</h2>
<p>傷寒諸證，仲景倡論於前，諸賢闡發於後，固無餘蘊矣。獨時疹一案，尚少詳悉，未免混淆，不可不辨。</p>
<p>嘗考《內經》天時氣運，不獨嚴冬肅厲之氣為能致害，即三時災變之異，亦能殺人。今見三時感證初起，狀類傷寒，或見咳嗽心煩，顴紅耳赤，或見壯熱骨疼，發厥等症，其脈或洪，或數，或伏，至七、八日續發疹子，本非重症，奈調治失宜，往往致殞，非氣塞痰迷而絕，即汗泄液涸而亡，良可憫也。</p>
<p>間嘗竊揣此證，初不過外受六淫之邪，內動拂鬱之火，及其成證，世人皆曰時疹，視若非常，不投發散，即用苦寒，遂成敗壞。獨不聞傷寒斑疹已見，忌服升麻、葛根，恐傷正氣。況羚羊、角刺、芩、連、梔、柏乎。夫邪之所湊，其氣必虛。苟重於發散，津液必枯，再用苦寒，脾胃必損。</p>
<p>由是觀之，六淫所感，其始未必就發斑疹，皆緣治乖成法，邪踞陽明，腎水不能上達，心火亢甚，凌爍肺金，肺受火邪無由疏泄，鬱於皮毛而發疹也。故凡邪之初感尚在肌腠，宜汗宜和，引而出之。邪入陽明，宜潤宜清，便而通之。至若疹形既露，急當調榮養衛，助正屏邪。其或胸腹病後，中氣虧損，虛火遊行，亦能發疹，須用建中。在表在裡，在氣在血，虛實緩急，先後次第，不可失一。如謂疹出六腑，六腑屬陽，症多實熱，故宜發散苦泄，盡驅其邪。豈知氣壯者被攻，猶且遷延時日。若氣虛者誤攻，鮮有不殞其命。甚有見其昏迷、痰塞、喘急者，猶云初起攻透藥輕，疹反內陷，故致無救，不誠誤歟。總之將斃之候，治同感證，宜參「鉤玄論」之三法以救之。惟誤下而致劇者，必須重用人參、乾薑煎服以拯之。更有痰盛欲絕者，用導痰湯加人參。如毒甚疹色紫黑而欲悶死者，必須解毒、溫中二法並行，始無邪陷之患。臨症務宜詳細，必得其術為善也。</p>
<p>觀高士宗治疹之論，但云：調其經絡，和其榮衛。虛者補之，寒者溫之。寒涼攻發，概不妄用，亦可謂深知治疹之本源矣。</p>

<h2>雜言</h2>
<p>古人云：小不慎必亂大謀，天下之事莫不如此。醫道亦有之，雖非經濟學問之要，然司人性命，不可不慎也，略舉數端言之。</p>
<p>一曰不可易，二曰宜乎變。斯二者，誠小事中之大謀，不可不明者也。孔子云：人而無恆，不可以作巫醫。《易》云：不恆其德，或承之羞，皆此謂也。而醫士之恆有三：一曰恆德。凡遇貧賤之人，當存救濟之心，勿因其簡慢無酬而怠忽。勿因其卑陋無禮而遂棄。見彼以苦切之情相告，當以寬裕之說慰之。見彼藥食之需難周，當以隨力資助之。總之貧富不分，惟命自重。若此者所謂仁以為已任也，故謂之曰恆德。二曰恆理。凡臨症擬方，則當持其自知之理，不可因事而忽變也。如見頭痛身熱，不可竟謂其感。脈弱氣衰，不可便斷為虛。炎蒸暑熱，勿疑桂附難投。冰凍雪凝，休道硝黃可廢。從舍之法，一如景岳之辨可也。及如他人已補，我診該攻，何必懼前而束手。彼醫欲攻，我診該補，豈堪畏後而先拘。勿以病人喜暖而遂投溫藥，傍人慎火而竟用寒涼，惟我不為所惑。必以察脈主治，攻補隨施。若此者又當因事而變之也，故謂之曰恆理。三曰恆情。凡用藥須要因時制宜，故古法不可拘泥，當隨時而酌用之。《易》有貞凶、貞吝之辭，戒時勢之不可不變耳。君子豹變，而民革面以從之。《詩》云：周雖舊邦，其命維新。《傳》曰：日新之謂盛德，皆變之謂也。今人往往不能終其天年而夭折於病，或又不死於病而多死於藥，豈不哀哉。大凡草藥單方，舉世信之，倘服不對證，一害也。又或隱病諱而不告醫者，二害也。又不能真知其理，適有對症之方妄自增減，三害也。親朋薦醫，雄黃鼓舌，朝張暮李，功咎罔知，四害也。至若市中購藥，真贗莫辨，貴賤分量，一任枝梧，五害也。倘有高明仁德之士，有感予言，必須明告病家，正言雄辨，以杜其害，故謂之曰恆情。</p>
<p>今予識雜言，欲使世之業醫者，信三恆之說，更期業無作輟。慎小成大，將見古道中興，世無橫夭於天地，好生之心，不無一得焉。</p>

<h2>題《石室秘錄》</h2>
<p>古人言：醫自黃帝迄今，其書奚止充棟，何曉曉而不憚煩耶。蓋緣天運逐數遷移，故因時制宜者，誠不得不因時適變。良由天不自鳴，擇其善鳴者假之鳴耳。</p>
<p>山陰陳遠公先生著有《秘錄》一書，列法三百餘條。論症悉遵古義，制方頗合時宜，殆今之所謂善鳴者。奈何盡托諸先賢降筆，遂使智者貽譏，愚者莫信。意者濟世心迫，因特假神奇以驚世俗歟。夫荒唐詭譎之說，使人可玩而不可由，何先生竟出於此耶。且天既擇人而鳴於古，又何難擇人而鳴於今乎。其能使古人之鳴而直鳴於今，又安知不能使今人之鳴而繼鳴於古耶？遠公何不量之甚哉。吾聞聖人不以人廢言。遠公雖昧立言之道，其於醫學，煞有可取。卷中如內傷之症，險危之病，其救法甚為允當，起死回生，如槁得露。苟參其論，察其方，較勝《邯鄲遺稿》，何異《立齋醫案》？業是科者，正不妨由此假道，殊不必拒之甚，絕之深也，夫羹牆之見，彈琴之遇。聖人言之，則遠公神遇先賢，亦非怪事。但不得竟托之古人而鑿其說，自欺以欺人。嗟乎！斯《秘錄》之不行，其孰使之然耶。予為此言，非惜遠公之書不行，而特惜世之不能用其書。今之紛紛為遠公疑者，曷亦取其書而熟復之。始信予言不謬。遠公有知，寧亦以予為知己也耶。</p>

<h2>附錄西塘論治感證大法</h2>
<p>董廢翁曰：愚按治感證大法，始終照管胃中津液為第一奧旨。蓋邪所感，皮毛閉塞，氣不外達，鬱而成熱，熱積皮毛不解，漸而肌肉熱矣，漸而各經絡無不熱矣，漸而熱氣皆壅塞陽明，腑中熱矣，此必然之勢也。又況後代血氣未衰，早御酒肉厚味，胃中素有濕熱者多，（年將半百，血氣漸衰。古云：五十非肉不飽，今人氣壯之時，惟縱酒食，焉得胃中無濕熱乎。）一旦客熱交併，區區陰津，幾何能當此烈焰燎原乎？</p>
<p>凡感症之死，皆由胃汁乾枯。是以古人立法，及其邪之在表，血氣未傷之時當汗，汗之（所謂開鬼門也）。欲熱從汗解，則清寧安固，而氣血全保不傷矣。其當邪之在裡，血氣漸虧之際可下，下之（所謂潔淨府也）。故熱隨便通，則焦灼頓除，而氣血可徐俟其來復矣。其有血氣素虧之人，三、四、五日之後，不論表症解與未解，里症急與不急，一見口乾唇裂，舌胎焦黑燥硬，全用滋養清涼。虛甚者並涼藥勿用，純陰重劑加人參數錢，升發運用，但救得胃中津液不竭，其人必不即死。及津液漸充，汗自能來，宿物自下。至所謂胃中之津液非他，即周身血氣所化，積疊胃底，此後天之本也。</p>
<p>凡人平日之強弱，及遇外感賊邪之難治易治，可治不可治，強半憑此。粗工不知，無論新久，虛實表裡，苟見身熱，風藥混表。一覺悶滿，攻中破氣，亂投不效，大黃、枳、樸繼進，必求一便，以畢其技能。豈慮熱得風而益熾，陰被劫而速亡。（二語是感證致死根苗。）何其與先賢之意適相反哉。茲集所說，先後緩急不爽，輕重攻補適宜。大旨所在，總始終照顧陰津，以勝邪回生之術。（二語是感症治法主腦。）學者由此，更遍參先賢之書，以盡其精微，極其變化，則感證之道備，而於他症亦思過半矣。</p>
<p>按：西塘治感證之法，惟救胃陰為主。蓋緣腎水乾枯，不能上供陽明之意，故所用皆養陰藥耳。明眼宗之，無不桴應。俗工效顰，間或反劇。輒云：鼓峰之書，不可信。甚有《醫林指月》中之胡念庵專斥鼓峰不學，是皆未明其義。夫人身全賴精氣神充足而全活，若或損一，必無生理。故高氏有三元之說，三元者，精氣神也。然腎主藏精，董氏獨論滋水以救胃中之津液，止高氏三元中之一耳。其神氣二者之根由，尚未詳悉，以致粗工不察，漫施無效，宜乎病者反受其害。今予著「鉤玄論」發揮神氣二者之病源，以補前人之未發，而合三元成全璧。臨診之下，神而明之，則治感之法可獲大全。而高氏之書，益可信矣。記昔吾友吳南陽嘗謂予曰：人若讀書，潛心默悟，理會貫通。書若讀人，拘文牽義，終老木偶。旨哉斯言，洵不誣也。</p>

<h1>中卷（感證類要）</h1>

<h2>傷寒六經正治法</h2>
<p><u>太陽</u></p>
<p>太陽發熱與憎寒，（仲景云：太陽之為病，脈浮，頭項強痛而惡寒。）頭痛腰疼脊強參，（或兼嘔惡。）無汗傷營脈浮緊，（仲景云：脈陰陽俱緊，骨節煩疼，無汗而喘者，名曰傷寒。考《難經》傷寒有五：有中風、有傷寒、有濕溫、有熱病、有溫病，此即《素問》寒暑燥濕風之五氣為病也。故寒傷營，亦《難經》傷寒有五之一。《素問》：在天為寒，在地為水，寒者水之氣也。）湯宜麻桂杏仁甘。（麻黃、桂枝、杏仁、甘草、即仲景麻黃湯，以薑、棗引。）</p>
<p>惡風有汗為傷衛，（仲景云：太陽病發熱汗出，惡風，脈緩者，名曰中風。）手足當溫仔細看，（風為陽邪，故手足不冷。）脈但浮來還帶緩，（仲景云：陽浮而陰弱，嗇嗇惡寒，淅淅惡風，翕翕發熱，鼻鳴乾嘔者，桂枝湯主之。按：《難經》言脈，關前為陽，關後為陰。《素問》在天為風，在地為木。風者木之氣，故風乃五氣之一。而風傷衛，亦《難經》傷寒有五之一。其燥濕暑三症，散列各類之中，熟讀全論自明）桂枝白芍草能安。（桂枝、白芍、甘草，即仲景桂枝湯，用薑、棗引。溫服，隨歠稀粥以助藥力。）</p>
<p>兩傷營衛大青龍，此是風寒挾暍中，（仲景云：太陽中風，脈浮緊，發熱惡寒，身疼痛，不汗出而煩躁者，大青龍湯主之。若脈微弱，汗出惡風者，不可服。服之厥逆，筋惕肉瞤，此為逆也。論中發於陽者，通名中風。發於陰者，通名傷寒。）鼎立三綱疑解誤，（沈堯封云：按三綱鼎立之說，桂枝湯治風傷衛，麻黃湯治寒傷營，大青龍湯治風寒兩傷營衛。其說乃創自許叔微，相延至今。不知其說似是實非也。本論云：寸口脈浮而緊，浮則為風。緊則為寒。風則傷衛，寒則傷營，營衛俱病，骨節煩疼，當發其汗，此指麻黃證而言。彼見麻黃證條內，但云：脈陰陽俱緊而不見浮字，故認作有寒無風，不知寒屬陰邪。若不兼風，不入太陽。況太陽病一句，已有脈浮在內，不必再說。至若大青龍條內云：脈浮緊則風寒固所必有矣。然使止有風寒，何至煩而且躁，況方內石膏其性大寒，治暍熱之主藥也。若云：止有風寒而無熱邪，則中風證有風無寒。風為陽邪，尚不用寒藥，只用桂枝以解肌。而大青龍證，風外加一寒邪，豈反加石膏以助寒乎。竅謂麻黃證已屬風寒：兩傷營衛，則大青龍證。則外傷風寒而內伏暍熱也，故脈浮緊，發熱惡寒，身痛，無汗，麻黃證全具，自用麻黃湯方。惟病增煩躁，因加石膏以治內伏之暍熱，如是則病脈、方、藥俱合。若不審病證方藥，徒泥於一脈，妄作三綱鼎立，則一誤，無所不誤矣。）惟參原論義精通。（麻黃、桂枝、甘草、杏仁、石膏、即仲景大青龍湯，薑、棗引。）</p>
<p><u>陽明</u></p>
<p>陽明傳腑與傳經，（仲景云：陽明之為病，胃家實也，此在內之證據。又云：濈濈汗出，日晡潮熱，此在外之證據。如內外相合，即仲景所謂正陽陽明也。其餘或兼少陽，故仲景書中有少陽陽明之論，是以正陽陽明，主以大承氣湯治之。如少陽陽明以大柴胡治之。）腑脈須知沉實論，潮熱妄言或便閉，渴尤惡熱汗尤蒸。</p>
<p>黃斑狂亂同相見，白芍柴黃枳半芩。（白芍、柴胡、大黃、枳實、半夏、黃芩、即仲景大柴胡湯，以薑、棗引。）</p>
<p>經脈微洪亦要明，鼻乾目痛熱難寢，（目鼻者足陽明胃所布之經絡也。經云：陽明之脈，起於鼻，交額中，旁納太陽之脈，連目眥，下循鼻外，入上齒中，挾口環唇。邪氣傳之，則目痛鼻乾。至於他經各行其道，何目痛鼻乾之有。）柴胡葛根芩甘桔，芍芷羌膏薑棗平。（柴胡、葛根、黃芩、甘草、桔梗、白芍、白芷、羌活、石膏、薑、棗引。）即陶節庵柴葛解肌湯。柯韻伯云：陽明之病在胃實，當以下為正法矣。然陽明居中，諸病咸臻，故治法悉具。如多汗、無汗，分麻黃、桂枝。在腑在腹，分瓜蒂、梔豉。初硬溏燥，分大小承氣。即用汗、吐、下三法，亦有輕重淺深之不同也。若大煩大渴而用白虎，瘀血發黃而用茵陳，小便不利而用豬苓，停飲不散而用五苓，食谷欲吐而用吳茱等法，莫不各有差等。以棋喻之，發汗是先著，湧吐是要著，清火是穩著，利水是閒著，溫補是急著，攻下是末著。病至於攻下，無彆著矣。故汗之得法，他著都不必用。其用吐法、雖是奇著，已是第二手矣。他著都非正著，惟攻下為煞著，亦因從前之失著也。然諸法皆因清火而設，則清火是陽明之上著歟。）</p>
<p><u>少陽</u></p>
<p>少陽口苦咽乾嘔，（仲景云：少陽之為病，口苦咽乾，目眩也。）寒熱心煩弦脈推，目眩耳聾並脅痛，（仲景云：正邪分爭，往來寒熱，胸脅苦滿，默默不欲飲食，心煩喜嘔，或煩而不嘔，或腹痛痞硬，或耳無所聞，或心下悸，或小水不利，或渴或不渴，或咳者。又云：傷寒中風，有柴胡證，但見一證便是，不必悉具。此指上文或字而言也。）小柴參草夏芩陪。（人參、柴胡、半夏、黃芩、甘草，即仲景小柴胡湯，以薑、棗引。按：邪犯少陽，乃半表半裡之病，故仲景擬定小柴胡湯，以和解表裡之邪，並非表散之藥也。常有不明之病家，見用柴胡而深畏之，醫者，復順其意，易以羌、防，芎、葛，耗其津液，致死不救，伊誰之咎歟。）</p>
<p><u>太陰</u></p>
<p>太陰腹滿常腹痛，（仲景云：太陰之為病，腹滿而吐，食不下，自利益甚，時腹自痛，若下之，必胸下結硬。）食不下咽吐益湧，（喻嘉言云：腹痛自利，太陰之本證也。吐而食不下，則邪迫於上。利甚而腹痛，則邪迫於下。上下交亂，胃中空虛，此但可行溫散。設不知而誤下之，其在下之邪可去，而在上之邪陷矣。故胸下結硬與結胸之變頗同。胃中津液上結，胸中陽氣不布，卒難開也。）自利臟寒口渴無，（仲景云：自利不渴者，屬太陰。以其臟有寒故也、當溫之，宜四逆輩。喻嘉言曰：注謂自利，不渴，溫之也，故用四逆輩。以燠土燥濕，此老生腐談，非切要也。仲景大意、以自利不渴者，屬太陰。以自利而渴者，屬少陰。分經辨症，所關甚鉅。蓋太陰屬濕土，熱邪入而蒸動其濕，則顯有餘，故不渴而多發黃。少陰屬腎水，熱邪入而消耗其水。則顯不足，故口渴而多煩躁。若不全篇體會、徒博註釋之名，其精微之蘊，不能闡發者多矣。程郊倩曰：三陰俱寒臟，少陰、厥陰有渴症，太陰獨不渴者，以其寒在中焦，與龍雷之火無涉。少陰中有龍火，底寒極則龍升，故自利而渴。厥陰中有雷火，故有消渴，太陽一照，雷雨收聲，故發熱則利止，見厥複利。羅紫尚曰：渴與不渴之辨，喻、程二說雖各不同，均有至理，學者宜並參之。沈堯封云：自利者。不因攻下而自利也。凡利，津液下注，外症多渴。其不渴者，屬太陰之寒病也。以不渴兩字認太陰，此是辨寒熱利之金針。常須識此，勿令誤也。）宜溫四逆湯投送。（附子、乾薑、甘草、即仲景四逆湯。）</p>
<p>腹滿時疼吐利無，醫家誤下變沉疴，（沈堯封云：此但腹滿時痛，而無吐利症，且本非太陰病，從誤下太陽得來，故可加芍藥，加大黃，否則溫之。猶恐未效，而可寒之乎。）桂枝白芍大黃草，枳實柴胡薑棗扶。（即桂枝加大黃湯，仲景之方也。陶節庵參以加減。）</p>
<p><u>少陰</u></p>
<p>少陰踡臥引衣裳，（仲景云：少陰之為病，脈微細，但欲寐也。俞嘉言云：陽脈滑大，陰脈微細。外邪傳入少陰，其脈必微細，而與三陽之滑大迥殊。衛氣行陽則寤，行陰則寐，此少陰之總脈、總證也。）口燥增寒亦是常，（沈堯封云：少陰，腎脈也，真陰真陽寓焉。陽虛則陰受寒，陰虛則易中熱。第陽既虛矣。而復受寒，則微陽有立亡之勢。陰既虛矣，而復傷熱，則微陰有立竭之虞。故辨症既明，治不宜緩。又云：但欲寐症，有極寒、極熱之邪在裡為患，倘未形諸外者，當於口中和與燥辨之，尤為易見。）脈若微洪傳裡熱，（仲景云：脈若沉數、宜黃連阿膠湯。）汗需白虎要斟量。（石膏、知母、甘草、麥冬、粳米，即仲景白虎湯。）</p>
<p>脈沉（必兼微細）直中真寒候，藥必溫經四逆湯。（方見太陰條下。）</p>
<p><u>厥陰</u></p>
<p>厥陰氣上撞心胸，（仲景云：厥陰之為病，消渴、氣上撞心，心中疼熱。飢不欲食，食則吐蛔，下之利不止。）消渴心疼熱氣衝，飢不能蛔上吐，往來厥熱利因攻。（仲景云：傷寒厥四日，熱反三日，復厥五日，其病為進，寒多熱少，陽氣退，故為進也。）</p>
<p>烏梅丸主長沙秘，（烏梅、黃連、乾薑、桂枝、細辛、附子、人參、黃柏、蜀椒、當歸，以飯加蜜搗丸，此即仲景烏梅丸。）熱少厥多終屬凶，（仲景以為，病進終難治也。沈堯封云：此正邪分爭，一大往來寒熱病也。厥深熱亦深，厥微熱亦微，猶言寒重則發熱亦重，寒輕則發熱亦輕，論其常理也。其有不然者，可以決病之進退矣。故下文即論厥少熱多，厥多熱少。不知注《傷寒》者，皆以熱字作伏熱解，遂令厥陰病有熱無寒矣。不思烏梅丸是厥陰主方。如果有熱無寒，何以方中任用薑、附、桂、辛、椒，大辛熱耶。蓋厥陰為三陰之盡病，及此者必陰陽錯雜，況厥陰肝木，於卦為震，一陽居二陰之下，是其本象。病則陽泛於上，陰伏於下，而下寒上熱之證作矣，其病臟寒，蛔上入膈，是下寒之證據也。消渴，疼熱撞心，是上熱之證據也。況厥者，逆也。下氣逆上，即是孤陽上泛，其病多升少降。凡吐蛔氣上撞心，皆是過升之病，治宜下降其逆上之陽，取《內經》高者抑之之義。其下之之法，非必硝黃攻克實熱，方為下劑。即烏梅丸一方下法已具，方中無論黃連、烏梅、黃柏，苦、酸、鹽，純陰為下降，即附子直達命門，亦莫非下降藥也。下之而陽伏於下，則陰陽之氣順而厥可愈矣。倘誤認厥為外寒所束，而反發其汗，則心中疼熱之陽盡升於上，而口傷爛赤矣。以表藥多升，而厥陰之脈環唇內也。）</p>
<p>病形煩滿囊兼縮，（《內經》熱病論有云，傷寒六日，邪傳厥陰：舌卷囊縮，水漿不食，昏不知人，三日死。）變幻多端沉脈詳，（按之有力。）湯用大柴胡可解，（此乃陶節庵《傷寒六書》中之煞車錘法也，方見陽明條下。）六經分治要相當。（以上六經不過錄其提綱，言其主治大概之意。至於傳變各證，須參後類列條下之法。）</p>
<p>乾隆己丑歲，嘉善沈堯封先生編有《傷寒卒病論讀》一書，指出：本論仲景自辨疑似，以頭痛、胃實等項分六經，即以渴字辨燥熱，小便不利認濕氣，汗字判風寒，縱橫辨察，任其一氣專至，數氣並至，總無遁情矣。復隨文勢，逐條註釋，較勝方有則、喻嘉言、程扶生、程郊倩、柯韻伯五家，闡發仲景之秘者，更覺顯然明白。業是科者，必須熟讀，並將五家之書，暨王晉三《古方選注》日置案頭，並取劉河間、朱丹溪、張子和、李東垣諸明哲之論，互相參考，得使臨診無誤，方不愧於司命之職，勉之勉之。</p>

<h2>感證傳變病似相同治法有別</h2>
<p>感證即所謂傷寒症也。古人以霜降以後，春分以前，直感寒邪者，名之為傷寒。今統四時通行之症言之，謂之感症，但傷寒六經之症，如上法治之愈矣。顧有諱疾忌醫之病家，及昧經誤人之庸技，日久遷延，變如蝟起，猝難措手。蓋傷寒之症，有陰陽表裡之不同，人之感者，有虛實新久之各異。而病之見也，有本症、變症、兼症之殊致。今將傷寒本症列於前，變症兼症匯於後。而一症之中，又分攻補之兩途，以便業是科者之觀覽，茲用集方治，撰成歌訣，更便學者易誦而易記耳。</p>
<p><u>陰陽</u></p>
<p>無熱惡寒病發陰，惡寒發熱是陽經，陰期六日陽期七，數定陰陽病愈辰。（仲景云：病有發熱惡寒者，發於陽也。無熱惡寒者，發於陰也。發於陽者，七日愈，發於陰者，六日愈。以陽數七，陰數六故也，天以陰陽五行化生萬物，陰陽五行和則能生物，陰陽五行乖則能殺物，是論乃統論陰陽五氣之病人，然五行，一陰陽也。故未論五氣，先論陰陽。首節辨陰病陽病之大綱。）</p>
<p>大浮數動滑陽稱，沉澀弱弦微是陰，陽症見陰終必死，陰逢陽脈可回生。（問曰：脈有陰陽何謂也？答曰：凡脈大浮數動滑，此名陽也。沉澀弱弦微，此名陰也。凡陰病見陽脈者生，陽病見陰脈者死，此亦辨傷寒之脈。若他症，不可遽斷為生斷為死也。）</p>
<p>陰似陽兮煩躁赤，（赤是面紅。）咽疼口渴身猶熱，小清大泄（即二便）睡兼狂，浮大（脈雖浮大，按之必空）沉絲（脈或沉細無神）指甲黑。（昏黯之色。）</p>
<p>陽似陰兮指甲紅，昏迷便秘肢猶厥，（此謂熱厥。傳曰：熱深厥亦深。）身寒反欲去衣裳，（仲景云：病人身大熱，反欲得近衣者，熱在皮膚，寒在骨髓也。身大寒，反不欲近衣者，寒在皮膚，熱在骨髓也。此辨內陰外陽，內陽外陰病之變態。）脈但來時沉滑力，陰必當溫（四逆、真武、理中之類，）陽必清，（涼膈、白虎、黃連解毒之類。）玄微奧理須當識。（陰陽兩證，治分冰炭，寒熱誤投，斃命頃刻。）</p>
<p><u>兩感</u></p>
<p>兩感相傳合併稱，（仲景有合病、並病之論。）裡虛兼挾外邪侵，喻柯各闡長沙秘。（喻嘉言著《尚論篇》，柯韻伯著《來蘇集》二書各有精義，凡學醫者宜並參之。）妙義錢楨論益深。（景岳門人錢楨論曰：兩感者本表裡之同病，似皆以外感為言也。而實有未盡然者，正以內外俱傷便是兩感，今見有少陰先潰於內，而太陽繼之於外者，即縱情肆欲之兩感也。太陽受傷於裡，而陽明重感於表者，即勞倦竭力，飲食不調之兩感也，厥陰氣逆於臟，少陽復病於腑者，即七情不順，疲筋敗血之兩感也。人知兩感為傷寒，而不知傷寒之兩感內外俱困，病斯劇矣。但傷有重輕，醫有知不知，則死生系之。或謂兩感症之不多見者，蓋亦見之不廣，而義有未達耳。其於治法，亦在乎知其由而救其本也，此言最切。此病誠發前人之未發，深足指迷，不可不錄。）</p>
<p><u>吐血</u></p>
<p>冬感外寒束內熱，脈來浮緊吐紅血，（此緣陽氣不得發泄所致，或兼咳嗽吐衄，實是外感，非內傷七情之紅症也。）麻黃（醋炒）湯內配參耆，（再加麥冬、五味、白芍、當歸，去杏仁同煎服。）爰謂虛人難發泄。（只為病人平素虛怯，難任麻黃之峻散，故加參、耆以助元氣、如或陰虧者，可加熟地。）</p>
<p><u>紅汗</u></p>
<p>熱深無汗來紅汗，（奪汗者無血，奪血者無汗，若得汗則無衄症矣。）升麻四物丹芩散，（四物去川芎。夫升麻一味加得尤妙。蓋陽明之脈絡鼻，是經火盛，迫血妄行，從鼻出者曰衄。方書言從肺來，非也。若非升麻，則何以達陽明而清其火哉。）若還衄後病反劇，（劇者，盛也。更傷其陰，大為危候。）必須都氣芍生地。（六味湯加五味子，即是都氣飲。）</p>
<p>血來太多要補陽，麥冬五味（慮虛火上浮故用此）補血湯。（當加人參、甘草、炙黃耆一兩、當歸三錢、即補血湯。）胃實無傷的系熱，（診果相火上炎，自可導下，宜投滋腎丸。）桂心知柏蜜丸良。（黃柏、知母各二兩俱酒洗，焙乾為末，配桂心二錢，研勻蜜丸，名滋腎丸。的系熱邪有升無降者，用滋腎丸以淡鹽湯送下三錢，應手即止，多有得生者。凡或牙宣血湧不止，服藥無效，審系相火飛騰，亦可順導，即投此丸亦可見效。）</p>
<p><u>畜血</u></p>
<p>小腹脹滿小便利，（即仲景所謂小便自利，其人如狂者，血證諦也。或有嗽水不欲咽者，然必以小便為驗。）熱入血室男女異，（男女皆有血室，但證犯各異。）女子亂經似結胸，（在女子則月信適來適斷，其形如作狂，其血必結，如結胸狀。或刺期門隨愈，穴在奶下一寸三分。）小柴湯內加歸尾。（再加生地、紅花尤妙。）</p>
<p>男人譫語下血狂，（然血自下，邪解為吉。頗有下後即死者，但血來必驟而多。）發黃（鬱熱所致）承氣桃仁擬，（桃仁、大黃、芒硝、桂枝、甘草、即仲景桃核承氣湯。）或參犀角地黃湯，（生地、丹皮、犀角、白芍、即《局方》犀角地黃湯。）邪犯心胸畜血比。（按：此邪犯心胸，不獨下症有之，亦兼有吐血者，應比照足陽明胃家血畜之例，亦主以犀角地黃湯治之。）</p>
<p><u>口渴</u></p>
<p>邪傳裡渴屬陽明，汗淋白虎配人參。（或加花粉、葛根、麥冬，無汗縱渴，忌與白虎。甚者大柴胡、承氣下之，此乃陽明之本病是也。</p>
<p>腎虛火動渴欲飲，十全大補八味症。（四君、四物即八珍湯，再加黃耆、肉桂、即十全大補湯。六味丸加附子、肉桂、即八味丸。此症亦有水虧不能配火，而火炎於上者，當從六味、左歸，以滋其陰，而火自能降矣。）</p>
<p>陰虛煩躁渴不飲，（口雖渴，不能飲水也。）冷服四逆湯須穩。（附子、乾薑、甘草、即仲景四逆湯。此等症候最易混入白虎症。倘若認錯，一或誤投，死生立判。臨診之際，當細心體察，慎毋忽略也。）</p>
<p>渴如食少胃宜和，（白朮、茯苓主之。）若用寒涼病不瘥。（四君補中合生脈，其效尤捷。）</p>
<p>內傷元氣渴因虛，守補自然病得祛。（脾胃元虛，舌雖干，須陽藥為主，佐以歸、杞、熟地、五味。不得以正陽陽明治。）</p>
<p>渴欲飲水頃即吐，吐後復求仍若故，此腎傷寒醫莫驚，晾冷白通豬膽助。（此是陰盛格陽，腎經傷寒之症。仲景以附子、乾薑、蔥白，名白通湯，加人尿、豬膽汁，熱藥冷探之法，一服即愈。女人多此症，系屬少陰經病。）</p>
<p>中氣虛寒逼火浮，渴欲引飲燥咽喉，上焦一段因思水，中焦見水是仇讎。（此中氣虛寒，寒水泛上，逼其浮游之火於咽喉口舌之間，渴欲引飲，得飲不過一，二口即厭，少刻復渴飲，亦不過若此。此蓋上焦欲得水救至，中焦則以水見水，正其所惡也。）</p>
<p>面紅煩躁太陰症，理中麥味兩相投。（人參、白朮、乾薑、甘草，即仲景理中湯。此症系屬太陰經病。甚者，兼吞八味丸。）</p>
<p>過飲涼水病已瘳，手指足縫水旋流，腳趾還防齊脫落，（手指足縫出水，俗云：脫腳傷寒是也。）快投妙劑始無憂。（《石室秘錄》云：速投米仁三兩，茯苓二兩，桂心一錢，白朮一兩，車前五錢，名驅濕保脫湯。一連十劑，永無後患。）</p>
<p><u>譫語</u></p>
<p>胃中熱甚上乘心，心為熱冒則神昏，語言謬妄二便澀，白虎宜兼承氣行。（脈來洪數有力方可。）</p>
<p>感證如經六七日，熱甚便堅胸滿結，發狂又且語兼譫，潤燥滋陰湯最的。（此用白虎，承氣之準的。歌曰：潤燥滋陰瓜蔞霜，二地芩知竹葉姜，麥冬甘草連膏芍，枳樸雲苓蘆汁勷。）</p>
<p>脈若細微或洪數，（按之無力。）神不守舍語言錯，藥用參耆歸術湯，附子理中皆可活。（敗症往往有此、誤投解毒等劑立斃，是症常見手足厥冷者。）</p>
<p>汗出身和若妄言，胃中津液未和間，非陰非陽慎莫下，小柴合半建中煎。（汗後身和之詀語，乃津液未和所致，不得誤認陽明實邪，若投攻下之劑，必致難救。肉桂、白芍、甘草、飴糖，即仲景建中湯合小柴胡各半貼，和營衛，通津液。）</p>
<p>病後精神若未全，夢中譫語失聲言，（不繫詀語鄭聲，其狀如魘。）六君湯中加歸芍，（人參、白朮、茯苓、甘草、半夏、陳皮，即六君子湯。）營衛調和方可痊。</p>
<p><u>自利</u></p>
<p>傷寒自利不因攻，（俗言漏底，傷寒是也。）紅黑青黃（利下的顏色）熱證宗。</p>
<p>溏鶩為寒脈沉細，（大都瀉利，完穀不化，色不變，有如溏鶩，或吐利腥臭，小便澄徹清冷，脈或微遲，然皆無力。）身熱惡寒踡臥同。（踡臥，身彎不能直睡也。或手足逆冷，然口無燥渴。）</p>
<p>下如垢膩小便赤，（或澀而不利。）浮弦洪滑多為熱，（皆兼數而有力，方是熱症。）亦有熱邪穀不化，（熱邪太甚不能殺穀，其物不消化者有之。）須參脈證治無差。</p>
<p>臍下寒，臍下熱，（寒毒入胃者，臍下必寒。協熱利者，臍下必熱或兼驗小便。）寒用理中（寒甚加附子，或白通湯加附子）熱芩別。（黃芩、白芍、大棗、甘草，即仲景黃芩湯，熱利宜之。）</p>
<p>協熱注泄白頭翁，（白頭翁、黃連、黃柏、秦皮、即仲景白頭翁湯。）以寒下結通因通。（有內熱火結，注泄不止者，須以寒藥下之結散，而利自止。正所謂通因通用也。）</p>
<p>胃虛內熱煩渴瀉，脈微脈弱需七味。（四君加藿香，煨葛根、煨木香、再配煨姜，即七味人參白朮散。）</p>
<p>若發熱，須用芩連（俱酒炒）和三白，（四君去人參加白芍，即三白湯。）若作嘔，藿香廣半（廣皮、半夏）生薑湊。</p>
<p>腹滿腹脹與腹疼，小水不利需五苓。（茯苓、白朮、豬苓、澤瀉、肉桂、即仲景五苓散。）脹加厚朴（薑汁炒）疼芍桂，白朮木香隨症溫。（經云、暴注下迫，皆屬於熱，此條諸法，蓋推之以盡其變耳。若非審有是症，則不得概用溫燥之劑。）</p>
<p>脈浮未解小青龍，（麻黃、桂枚、白芍、甘草、半夏、乾薑、五味、細辛，即仲景小青龍湯。）散表邪兼治水工。（凡傷寒作利，脈浮表未解者，即仲景以小青龍湯去麻黃，加芫花二錢，炒令赤色，蓋散表邪以兼治水也。故知凡症皆不可執一說以概其餘。）</p>
<p>濕毒氣盛便膿血，地榆（歌曰：犀葛榆連共，芩梔薤白加。即地榆散。）連膠法更融。（阿膠、黃連、黃柏、山梔、即黃連阿膠湯。）</p>
<p>失表失下致嘔利，（太凡嘔少利多。）生薑瀉心湯可從。（人參，甘草、黃連、黃芩、半夏、乾薑、大棗，即仲景半夏瀉心湯加生薑是也。按：口渴、譫語、自利，本陽明太陰之症。緣六經只列陽病而不及陰症，又無救敗之方。今此陰陽壞症俱具，則正所謂病之變也。）</p>
<p>腹不大滿藥下之，利遂不止藥難使，認明寒熱治須分，解毒溫中醫作主。（上條因失表失下以致利，此則因誤下而得利，而誤下後之利又有寒熱不同，法當分治。如此可見，辨症宜精晰也。）</p>
<p>太陽（或見脈浮、頭項強痛、惡寒。）陽明（或胃家熱，或見潮熱。）合病來，（仲景云：合病者，必自利，葛根湯主之。即桂枝湯加葛根是也。）桂枝加葛利能開。（開者，自開玄府，寒散而利自止也。）自利若合太（即太陽脈症，具前）少陽，（或口苦，或見寒熱，嘔。）芍棗黃芩炙草方。（即仲景之黃芩湯。）</p>
<p>少陰之症但欲眠，（凡少陰之證，必見多寐。）初起吐汗不煩言，迨後利止並複利，躁眩時冒入黃泉。（此必汗下已極而亡陽，但脈必短。或有譫語，津干液涸，陰精已竭，死又何疑。仲景云：少陰病，下利止而頭眩，時時自冒者，死。喻嘉言曰：下利既止，自可得生，乃頭眩，時時自冒者，復為死侯。蓋人身陰陽相為依附者也。陰亡於下則諸陽之上聚於頭者，紛然而動，所以頭眩，時時自冒。陽脫於上而主死也。可見陽回利止者生；陰盡利止者則死矣。）</p>
<p>三五日後腹遂痛，便溏不止小便艱，若帶膿血桃花主，（恐陽明有開無合，陰氣下泄，故主此方固陰氣。）赤石乾薑粳米全。（此三味，即仲景桃花湯。仲景云：少陰病，二、三日至四、五日，腹痛小便不利，下利不止，便膿血者，桃花湯主之。喻嘉言云：腹痛小便不利，少陰熱邪也。而下利不止便膿血，則下焦滑脫矣。滑脫即不可用寒藥，故取乾薑、石脂之辛澀以散邪固脫。而加粳米之甘，以益中虛。蓋治下必先中，中氣不下墜，則滑脫無源而自止也。注家見用乾薑，謂是寒邪傷胃，欠清。蓋熱邪挾少陰之氣填塞胃中，故用乾薑之辛以散之，若混指熱邪為寒邪，寧不貽誤後人耶。）</p>
<p>咽痛胸滿心煩苦，（少陰下利，必有見此諸證。仲景云：少陰病，下利，咽痛，胸滿，心煩者，豬膚湯主之。喻嘉言云：下利，咽痛，胸滿，心煩、少陰熱邪充斥，上下中間無所不到，寒下之藥不可用矣。又立豬膚湯一法，以潤少陰之燥，與用黑驢皮之意頗同。若以為燖豬皮外毛根薄，膚則逆劣無力，且與熬香之說不符。但用外皮，去其肉層之肥白為是，此藥大不可忽。陽微者用附子溫經，陰板者用豬膚潤燥，溫經潤燥中同具散邪之意。比而觀之，思過半矣。）白粉豬膚共蜜煎。（此三味，即仲景豬膚湯。）</p>
<p>厥陰之證初不利，忽然大下熱反劇，汗出不止近死期，腹脹身痛四逆理。（用四逆湯先救其里。）</p>
<p>次攻其表桂枝湯，此是前賢玄妙秘。（先里後表之法，須讀仲景全論自明。）</p>
<p>利後心煩按且軟，（胸膈必軟。）梔子淡豉病可轉。（此二味，即仲景梔子香豉湯。）</p>
<p>心下痞時醫誤攻，（痞是寒邪與無形之氣磐結。）下利不止與理中，（理中者，理中焦之氣，兼散寒邪。）反甚禹余加赤石，（禹餘糧，赤石脂二味，以飯丸服。）不應須將小便通。（金匿腎氣、五苓之類。）</p>
<p>喘滿直視譫語利，胃火焚心欲脫氣。（譫語者，心火亢極也，加以直視，則腎水垂絕，心火愈無制，故主死也。喘滿者，邪聚陽位而上爭，正不勝邪，氣從上脫，故主死也。下利者，邪聚陰位而下奪，正不勝邪，氣從下脫，故主死也。陳遠公云：喘滿，直視，譫語，下利，一齊同見者，故當主死。若有一症未見者，猶可望生。宜投挽脫湯。）竹茹羔芍揀門冬，重配人參方克濟。（石膏五錢，人參一兩，麥冬一兩，白芍一兩，竹如三錢，名挽脫湯。此乃欲脫未脫之危症，故重用人參以救脫，石膏以平火，麥冬以定喘，芍藥止利，竹茹清心，服之自然氣不絕，而可得生也。蓋此方貧者，斷不能備，或豪貴之家，自可措辦，姑錄之。）</p>
<p><u>結胸</u></p>
<p>結胸痞滿要分明，結是陽兮痞屬陰。</p>
<p>脈若浮來休誤下，（仲景云：結胸證，其脈浮大者不可下，下之必死。）汗過痞脹氣虛增，津液搏塞惟疏滌，（津液搏結，陰氣內動，壅而為滿。主以益胃和脾，降氣滌飲為治。）厚朴生薑及夏參。</p>
<p>少陽證具痞不痛，（寒熱必有。）嘔熱還宜夏瀉心。（人參、甘草、半夏、黃芩、黃連、乾薑、大棗，即仲景半夏瀉心湯。）服後不和煩渴躁，（仲景云：本以下之，故心下痞，與瀉心湯。痞不解，其人渴而口燥，煩，小便不利者，五苓散主之。）小水如無用五苓。（茯苓、豬苓、澤瀉、白朮、肉桂。）</p>
<p>汗出熱來痞不解，（仲景云：傷寒發熱，汗出不解，心下痞硬，嘔吐而下利者，以大柴胡主之。）嗢嗢吐利大柴行。（喻嘉言云：外邪不解轉入於裡，心下痞硬，嘔吐，下利，攻之則礙表，不攻則里症已迫，計惟主大柴胡一湯，合表裡通解之耳。）</p>
<p>小結胸，按則痛，（喻嘉言曰：胸既結矣，本當下以開其結，然脈浮大，則表邪未盡，下之是令其結而又結也，所以主死。此尤一病，不堪再誤也脈來浮滑小陷胸。（黃連，瓜蔞、半夏、薑、棗，即仲景小陷胸湯。）</p>
<p>熱實結胸脈沉緊，按之如石大陷攻。（大黃、芒硝、甘草、即仲景大陷胸湯。）</p>
<p>無熱結胸名水結，頭汗微微治亦同。（桂枝茯苓白朮湯主之。）</p>
<p>不能臥，但欲起，心下痞結嘔短氣。（此未經攻下之痞結。仲景云：脈微弱者，本有寒分也。）</p>
<p>濈濈汗出里未和，痰阻清陽十棗諦。（膈以上象天，清陽所聚。膈以下象地，濁陰所聚。故心下結硬，其病尚在膈上，皆由痰飲阻滯清陽之氣使然，非食物停滯也。十棗湯方，芫花熬甘遂、大戟等，分別搗為散，以水升半，大棗肥者十枚，煎取八合，去渣納藥末。壯者一錢，弱者五分，平旦溫服。若下少，病不除者，明日再服，加半錢，得快利後，糜粥調養。）</p>
<p>身發熱，微惡寒，肢節煩疼略嘔看，心下偏旁渾是痞，名為支結桂柴參。（仲景傳解條云：傷寒六、七日，發熱微惡寒，肢節煩疼，微嘔，心下支結，外證未去者，柴胡加桂枝湯主之。）</p>
<p>如果下早成結胸，桂枝加參合理中。（未經下者，症雖滿悶，尚為在表，非結胸也。此因下後，虛逆寒氣獨結，而毒復上攻，氣毒相搏結於胸者，雖痛而無煩躁等症，宜理中湯加枳實、茯苓。）</p>
<p>太陽結胸煩躁悶，（陳遠公云：太陽結胸證，具煩躁者，主死。言不可下，即下而亦死也。夫結胸而加煩躁，此胃氣之將絕也，胃氣將絕，津液枯涸，心無所養，故見是症，為不可治也，雖然津液之竭，非五臟之自絕，亦因結胸之故耳。是必攻其中堅，使結胸症愈而津液自生，死症可望重蘇矣。）化結之湯推妙用。（花粉五錢，神麯、麥芽、天冬、桑皮各三錢，枳殼一錢、陳皮五分，即名化結湯。水煎服一劑，結開而液生矣。此方用花粉以代瓜蔞，不致陷胸過猛。枳殼消食寬中，麥芽與桑皮同用，而化導更速，神麯、陳皮調胃，天冬生津液，佐花粉有水乳之合，故能化痞、化食，有勝於陷胸之峻也。）</p>
<p>凡病人，素有飲，誤下胸滿痞煩增，小便如艱譫語甚，轉側維難身重評。（凡素挾飲之人，太陰本虛，適或外邪宜從疏解。今誤下之，有傷少陽樞機。表裡俱病，脈或有力，還從表裡並治。）</p>
<p>小柴（去黃芩）龍牡（龍骨、牡蠣）鉛丹（即飛丹主，）桂枝苓配大將軍。（即製大黃，一名將軍，即仲景柴胡加龍骨牡蠣湯。）</p>
<p>脅間素痞繞臍庭，痛牽小腹入陰筋，（小腹之旁，有筋硬痛。）人靜舌胎惟白滑，臟結無陽死症形。（此陰邪結於陰也，多致不救。惟陳士鐸云：速投散結救臟湯、可十救二、三。方用人參一兩，白朮五錢，甘草一錢，附子一錢，當歸五錢，肉桂五分。）</p>
<p>壯若結胸食似常，（其飲食如常。）時時下利寸浮詳，（脈狀如此。）關中細小並沉緊，白滑胎形命亦亡。（或舌左邊白胎叢起，名曰雪花胎。乃脾閉之象，亦所謂臟結。以上二症治法互參。）雖與溫中邪可散，（人參、附子斷不可少。）必須胎退保無妨。（若胎不退，或退而復起，終必死也。）</p>
<p>頭不疼，項不強，寸脈微浮桂枝樣，（狀似太陽中風症。）痞硬心間氣上衝，咽喉不息胸寒狀。（仲景論中無痰字，此寒字作痰字解。是症乃寒邪挾痰結於上焦。）</p>
<p>脈如乍緊胸中滿，厥冷心煩邪結戰，高者越之古秘方，吐法無疑瓜蒂貫。（以上兩症須要互參。甜瓜蒂、赤小豆各一分，炒黃為末，即名瓜蒂散。香豉一合，生搗煎汁，調服得快吐乃止。仲景云：諸亡血虛家禁之。）</p>
<p><u>傍流</u></p>
<p>微熱神昏微渴干，便溏（大便溏泄時，至此謂旁漏，乃熱結於中，逼注大腸，非關脾也。）舌燥色豬肝，（或殷紫色。）養血滋陰合白虎，（養血滋陰乃生地、當歸之類，此症須加黃芩。）旁流得止便才安。（止後數日得正便而方愈。）</p>
<p>小便閉時須解熱，熱解自通莫性急，木通若並車前利，易竭陰陽無救訣。（先哲云：自利之症，如若發汗，則內外皆虛，此症亦云，利水則陰陽易竭，俱是不刊之論。）</p>
<p>如熱甚，失汗下，舌燥唇焦且莫呀，小便赤而大便堅，（時有稀糞水利出者，此內有燥矢結聚，乃旁漏之物，非冷利也。再審有矢氣極臭者，是也。）再審脈沉或力滑。（其脈雖沉，切之必滑而有力。或時躁熱，不欲衣被，或揚手擲足，或譫語有力，此陽氣亢極。）人參白虎小柴胡，（再合黃連解毒湯主之。黃連、黃芩、黃柏、梔子，原方止此四味。相傳此方為太倉公火劑。而崔氏治劉護軍又云：其自制者，皆不可考。）內熱實潮還可下。（大柴胡加芒硝主之。歌曰：白芍柴黃枳半芩。）</p>
<p><u>厥逆</u></p>
<p>初熱頭疼久便秘，手揚擲足昏譫語，此為陽厥甚參微，（此乃邪熱抑伏不達，則煩躁不寧。時或昏憒，四肢厥冷，經所謂熱深厥亦深矣。）大小柴胡承氣取。（看微甚，酌下之。）</p>
<p>四肢厥逆脈細沉，惡寒下利此為陰，（或引衣蓋覆，不欲飲水或下利清穀。）指或微寒脈不至，（此陰陽之氣，不相順接使然。）理中四逆望回生。（四逆加蔥莖，即名通脈四逆湯。如腹痛去蔥加白芍，嘔加生薑，咽痛去白芍加桔梗，利止脈不出者加人參。）</p>
<p>內有久寒兼少血，當歸四逆吳萸的。（當歸、通草、桂枝、甘草、白芍、細辛、生薑、大棗，即仲景當歸四逆湯，此症再加吳萸。歌曰：當歸四逆生薑棗，通草細辛芍桂甘。）</p>
<p>煩躁肌寒吐利兼，（手足厥逆，肌膚亦冷。）喘促脈伏吳茱益。（人參、吳茱、薑、棗，即仲景吳茱萸湯。）</p>
<p>寒熱厥，色不澤，忽然冒昧手無脈，邊有邊無綿可包，麻黃各半湯汗得。（症必寒熱而厥，面色不澤，冒昧之際，兩手忽無脈，或一手無脈，必自有正汗也。多用綿衣裹手足，服五味子湯。氣壯者，兼服麻黃桂枝各半湯，須臾大汗而解。生脈飲加杏仁、陳皮、生薑、大棗，即是五味子湯。）</p>
<p>病者還言不結胸，按之小腹隱疼攻，手足逆寒渾似厥，冷結膀胱法灸通。（宜關元穴灸之，穴在臍下一寸三分。）</p>
<p>厥逆凡如灸不回，人參不用可扶危，（此為貧者畫策。）姜附（炮薑、附子）三星（各三錢）術四兩，（白朮，東壁土拌炒焦。）一劑能蘇法永垂。（乃《石室秘錄》所傳奇治法。）</p>
<p><u>發喘</u></p>
<p>氣喘抬肩宜汗表，（肺主氣，肺氣逆而上行，沖沖而氣急，喝喝而息數，張口抬肩，搖身滾肚，是為喘也。有表症者，宜汗，然心腹必濡軟。）或飲停胸用五苓。（此病人劇飲水，致停飲心下，結滿而喘者。葉天士云：五苓散去肉桂加桂枝，自開太陽之腑，亦仲景和表裡之法。）</p>
<p>喘而汗出脈促者，（邪氣內攻，故脈見促，宜利之。）葛根黃連湯草芩。（仲景之法。）</p>
<p>汗出而喘無大熱。杏膏麻黃薑棗平。（即仲景麻杏石膏湯之法，發之之意。蓋病與脈氣，皆未虛耳，而喘亦是微。）</p>
<p>勞碌感寒醫誤投，（凡勞碌之輩，裡氣定虛，復感寒邪，身必發熱。醫不審察，誤投涼藥，遂變大喘。）遂致大喘汗如油。診之脈若加浮軟，人參五味麥冬儔。（即生脈散，須重用，喘乃定。）</p>
<p>膈中煩熱滯不行，喘促咽乾瀉白論。（或渴者，加減瀉白散主之。歌曰：桑桔瓜蔞芩二母，橘紅甘草骨皮勷。）</p>
<p>熱甚有痰脈弦數，小柴知貝與蔞仁。（凡胸滿加枳殼、桔梗、下滿加枳實、黃連。舌燥飲水而喘者加石膏。）</p>
<p>下後大喘邪傳裡，（則為裡氣大虛，邪氣復傳裡也。）黃連葛根湯當與。（黃連、葛根、黃芩、甘草，即仲景葛根黃連黃芩湯。）</p>
<p>潮熱氣短不大便，（凡陽明內實，腹滿氣短而喘者，乃傳經里症。內熱閉結，大便不通，熱氣上衝，致肺金清肅之令不得下行，因而喘急。此是胃熱攻肺，故可下之。俾其熱氣流通而喘定矣。然或有惡寒等症，則不可遽攻，恐成逆候。）大柴樸杏憑加減。（仲景大柴胡湯加厚朴、杏仁。）</p>
<p>下後微喘氣逆行，（則為邪氣上逆，乃邪不能傳裡，猶在表也。）桂枝湯表樸杏仁。（桂枝湯解表，樸、杏下逆氣。）</p>
<p>陰厥脈微無汗喘，（陰症厥逆，脈沉細而微，氣促而喘，無汗者。）四逆還加杏味平。（四逆湯加杏仁、五味子。）</p>
<p>虛人脈伏冷四肢，五味子湯尚可持。（生脈散加杏仁、陳皮是也。）</p>
<p>勞力外感脈微細，（按之或空。）身不炮熱喘兼瀉，（身亦微微而熱，大便不過帶溏。）咳痰氣促吃粥少，忽然汗出死誰替。（仲景云：傷寒脈虛，身熱而喘急，下泄，汗出者，死。）</p>
<p>飲食過多脾不運，喘塞痰壅鬱火甚，莫作胃寒熱藥投，二陳（茯苓、陳皮、甘草、半夏，即《局方》二陳湯。）芩連楂樸穩。（此因飲食過多、脾胃不能運化，致生氣急而喘塞也。戴氏曰：凡喘有聲便是痰。痰壅氣盛便是喘。大抵喘之為病，胃中有鬱火，膈上有稠痰。劉河間曰：得食墜下稠痰，而喘稍止，稍久，食以入胃反助其火，痰又升上，喘反大發，俗不知此，而反以胃虛治之。有用燥熱之藥，是則以火濟火，大不然也。不若用二陳湯加芩、連、山楂、厚朴等劑、先運其痰，次降其火，兼理脾氣，則喘必定。《醫林繩墨》云：此症名為食喘，前賢詳悉已明。凡診視之際，須認明的確，慎勿妄投藥餌，以戕人命。）</p>
<p>脈大無倫喉嗽鼾，獨參湯服自能安。（有傷寒咳嗽，喉中如鼾，其脈豁大無倫，乃空虛陰亡之象。人參必須重用，方克有濟。）</p>
<p>病後氣虛兼氣短，（此乃氣不接續非喘也，真危急之症。）兩許人參八味參，（六味丸加桂、附即是。）</p>
<p>氣從臍下尺洪盛，（氣從臍下衝上而喘，兩尺洪盛，或數，或兼見盜汗，潮熱，咳嗽，屬陰虛。）此屬陰虛當補峻。（大料左歸飲加人參，或六味合生脈，虛甚八味、右歸可用。）</p>
<p>無神之脈細微推，（細而兼緊、尤為可畏。）元海無根肝腎虧。（感症亦有元海無根，虧因肝腎，子午不交，以致氣短似喘者，乃氣脫症也。）子午不交因氣喘，重需熟地（速可用一、二兩）及當歸，（亦要兩許。）甘草五錢堪緩劑，（以上三味，即景岳貞元飲也。濟之緩之，堪云神劑。如畏寒者，可加煨姜。）證名氣脫甚傾危。（婦人血海常空及亡血之人，常多此症。如新產之後，忽現喘咳氣急，多因血去過多所致。若用青、陳、樸、杏、蘇、前之類，利氣消痰，多致不救。臨診者，宜細審之。凡內外各證，或有相似而治法有大不同者，予悉採類是編，以惠後學。）</p>
<p><u>呃逆</u></p>
<p>感證呃聲接續聯，（呃逆一症，古無是名。在《內經》本謂之噦，因其呃呃連聲，故今人以呃逆名之也。觀《內經》治噦之法，以草刺鼻，嚏嚏而已。）或因火遏氣衝炎。（尤有可治。）隔久復聲終不治，（虛寒之極。）灸之不止命由天。（治呃逆不止，用灸取穴法。婦人以乳頭垂下到處是穴。男子無可垂者，以乳餅下一指為率，與乳頭相直骨間陷中是穴。男左女右，灸一處，艾炷如小麥大，著火即止。灸三壯不止者，不治。）</p>
<p>呃逆傷寒脈散亡，（王海藏云：傷寒呃逆，脈散，死。仲景之言不虛偽。大抵原因失下，致生陰消將盡，火熱奔急上行，而肺陰不納也，是為陽極。）瀉心（仲景瀉心止大黃、黃連。《金匱》瀉心加黃芩。）涼膈（《局方》涼膈散。歌曰：硝黃竹葉草，翹芩薄蜜和。）去硝黃。（脈微將盡者，便或軟，不宜下，宜服瀉心湯以養陰退陽。涼膈去硝黃亦可，此法極穩。）便硬猶宜大承氣，（此陽明燥矢，火結沖呃，脈必有力者，方可議下。）二藥神工作者良。（乃是東垣潔古之方。）</p>
<p>壯實庸人守勿藥，縱然去矢噦鬚髮。（有一種人，或恃身壯，或守不藥之說，或乏醫治，傷寒五、六日後，大去燥矢而呃逆者，但其噦必緩，其脈亦不甚數。</p>
<p>熱伏胃腸郁不宣，下竅得通上透達，（譬如爐底壅塞，火焰不光，迨一透達而炎炎上行矣，衝動肺陰而呃也。）投補寒涼俱不可，火抑還防痞脹作。（治法不宜純用寒涼，寒涼則遏抑其火，且肺胃之氣漸向衰憊，奚能禁此猛劑？亦不宜大補，大補則熱邪方盛，勢必邪正糾纏，變為痞塞脹滿之病。）</p>
<p>脈虛生術參苓的，寒熱相兼柴膏葉。（脈實宜之。）</p>
<p>平治只消退噦煎，（歌曰：歸芍芩連俱酒炒，橘紅知母炒丹梔。此董廢翁之方也。）陰汁充肌汗瘳吉。（此症有小心過甚，初用上方一、二劑，或見身微汗，或大便略行，即改養陰滋潤之藥，其人雖愈，期年之間必憒憒如癡，此乃熱邪伏於心胃，不得透出故也。）</p>
<p>水氣凌心犯絡包，隨成呃逆命難逃。召號五臟齊來救，止呃湯功獨擅標。（此乃水濕侵脾，發腫致喘變呃，氣凌心包，故有是症，最為危急，速投止呃湯救之。薏苡一兩，茯神一兩，人參、白朮、蒼朮各三錢，芡實五錢，丁香五分，廣皮、半夏各一錢，吳茱三分，服二劑，諸症潛安。即《石室秘錄》之止呃湯也。）</p>
<p>吐下之後復汗極，胃中虛冷藥當熱，氣鬱如知表未清，吳茱理中憑斯訣。（大吐大下，復極發汗，胃中虛冷，陽氣拂鬱於表。醫與之水，虛寒相搏因致嘔噦者。）</p>
<p>久病胃虛四肢怠，遇投克伐醫庸奈，以致中虛呃逆成，六君加減憑依賴。（此症脈必虛軟，食亦減少。）</p>
<p>呃逆舌攣語不明，便堅咽燥及神昏，的屬少陰宜速下，大小承氣審投行。（少陰急下三條，非燥不病，然必痞、滿、燥、實、堅五者全見者，方可下。但非大實大滿，不可輕投，恐致結胸痞變。甚有因攻脫元而斃者矣，宜慎宜慎。）</p>
<p>如遇呃逆（俗謂呃忒）面時赤，似是陰火醫不識，兩尺洪盛或細弦，（然必兼數，按之無力。）飲如都氣丸安帖。（六味加五味子，即是都氣丸。）</p>
<p>病人叫熱身不熱，此是無根火發越，（此呃逆者，內已伏陰，陰氣大甚。腎水擅權，肝氣不生，丙火既病，丁火又消，所以遊行相火，寒邪迫而萃集於胸中，亦欲盡也。故令人發熱，大渴引飲，欲去蓋覆，病人獨覺。他人以手按之，身體肌肉、骨髓、血脈俱寒，此種火即是無根之火也。）理中湯內配丁香，（或加刀豆、柿蒂。）溫胃歸經火自息。（惟溫其胃，其火自下。正如爐中之火，止可添炭，不宜用水澆。此症若用寒涼，隨藥而逝矣。）</p>
<p>氣從臍下直衝咽，此症名陰非胃間，（病不在胃，在少陰腎。）加味附子湯一劑，（真武湯加人參即是。）救得陽回呃逆痊。（真陽一回，火降即止。以上治呃之法，誠先賢之秘笈，學者慎毋忽諸。）</p>
<p><u>嘔吐</u></p>
<p>傷寒邪傳漸入里，胃實不受氣壅閉，逆胸作嘔治如何，（有聲曰嘔，無聲曰吐，有聲無物曰乾嘔。成無己云：嘔有責為熱者，責為寒者，有停飲者，故仲景有治飲不治咳之論，《金匱》言之最詳。又有胃脘癰膿者，仲景云：不必治，膿儘自愈。按：此症多服薏苡仁粥，自可漸愈。）正治還應半表裡。（症屬半表半裡，治法一，二日內，宜宣劑以去其壅。）</p>
<p>上焦火森炙液干，痰涎凝胃嘔如翻，降火導痰加減用，辛散重縋活變看。（生薑、半夏、茯苓、厚朴、連翹、梔子、花粉、黃芩、竹茹、枇杷葉主之。如渴加知母，如心煩加姜炒黃連，心下痞加枳實，如口苦，胸滿，脈弦配柴胡。）</p>
<p>邪氣漸深痰愈結，芩連二陳苦寒折。（芩、連俱酒炒，再加厚朴、黃柏、花粉、滑石、蘆汁、竹瀝、薑汁。如不止，辛以散之，芩連二陳湯加乾薑錢許，生薑三錢。再不止，重以縋之，用金銀器煎，煎上藥，或加入金銀箔五、七葉。甚者，更加寒水石，赤石脂。）如挾虛，旋覆代赭湯須識，（仲景云：傷寒發汗，若吐，若下，解後，心下痞硬，噫氣不除者，旋覆代赭石湯主之。喻嘉言云：故用代赭石領人參，下行以鎮，安其逆氣，微加散飲滌邪，而痞自開矣。又云：此亦伏飲為逆，但因胃氣虧損，故用法以養正而兼散餘邪。大意用在噫氣不除上，既心下痞硬，更加噫氣不除，則胃氣上逆，全不下行，有升無降，所謂弦絕者，其聲嘶土敗者，其聲噦也。旋覆花、代赭石、人參、半夏、甘草、生薑、大棗，即仲景旋覆代赭湯。旋覆花，一名金沸草，要用綿裹煎。）如不虛，只用旋覆沖赭石。（如用旋覆花，須用蠶綿瀝過可服，否則其毛惹肺，致咳不休。調沖赭石，止可一、二錢。凡嘔不止，以此二方定虛實用之。周揚俊曰：以上二條應入痞結類，因噫氣多，故附於此。學者自宜意會。）</p>
<p>嘔吐脅疼便血張，此屬風邪肝受傷。（葉天士云：凡或便血，風淫所致。）麥冬三七芎歸共，救血平肝清大腸。（麥冬一兩，三七一錢，川芎五錢，當歸一兩，此陳士鐸之救血平肝湯。）</p>
<p>又如腹滿齊噦嘔，小水不利命遭殃。（喻嘉言曰：不尿腹滿，胃內壅，不下行矣。若更加噦則胃氣將竭，愈上逆矣。再有何法，可以驅其邪而使之能活也。）初起嘔清宜養胃，（或兼吐飲食，此著寒傷胃也，宜人參養胃湯主之。歌曰：人參養胃湯，參苓草朴蒼，草果烏梅藿，橘紅半夏姜。）微煩潮熱大柴詳。（如潮熱，內實不大便，嘔不止，心下急，鬱郁微煩者，宜下之。仲景云：嘔家不可下。然《金匱》方有大黃甘草湯。治食已即吐，蓋欲嘔者，其症在上，因而越之可也。而逆之使下，則必抑塞潰亂而益甚，故禁之。若既吐矣，吐而不已，有升無降，則當逆而折之，無速與大黃也，然亦須慎。）</p>
<p>渴後嘔宜大半夏，（先渴後嘔，宜半夏、陳皮、赤茯苓、生薑，即《金匱》大半夏湯。）嘔渴豬苓是妙方。（先嘔後渴，豬苓、澤瀉、茯苓、滑石、將四味先煎去滓，加甘膠再煎服之，即仲景豬苓湯。）</p>
<p>水停心下渴協嘔，小青龍治脈浮長。（小青龍專能治水，水去而渴自止，嘔亦住矣。歌曰：桂麻芍草夏，乾薑五味辛。）</p>
<p>肚腹時疼屬太陰，藥用理中合二陳。（再加生薑、藿香，此症如初起，腹滿而吐，食不下，自利益甚，時腹自痛者。）</p>
<p>手足寒，脈沉微，少陰四逆二陳宜。（生薑主之。此症常見飲食入口即吐，心下嗢嗢欲吐，復不能吐。）</p>
<p>乾嘔吐涎（涎少嘔多）頭痛甚，厥陰湯用吳茱萸。（吳茱、人參，生薑、大棗，即仲景吳茱萸湯，配二陳主之。此皆直中三陰，非陽經傳來者，故悉用熱藥。凡三陰嘔吐，藥宜冷服，即《內經》從治之法。曾有寒吐，用四逆湯、理中湯。薑、附到口即吐，後去乾薑、白朮，只參、附加丁香、木香，煎成加沉香立止。蓋虛寒痰氣凝結、丁、附既溫，佐以沉香、木香則通，乾薑、白朮則泥耳。）</p>
<p>藥餌茶湯毫不受，強飲些須嘔反驟，（鬱怒之人，肝氣衝膈，多有此症，脈必帶弦。）膈氣不通醫少知，內關一灸食如舊。（內關穴在掌後大骨盡處，男左女右，艾炷如豌豆大，灸七壯。甚者倍之。灸後即能食。）</p>
<p>陽症新瘥嘔熱余，（別無所因，此餘熱在胃脘中也。）竹葉石膏果最奇。（人參白虎湯加生薑、半夏、竹葉，即仲景竹葉石膏湯。按：此方治嘔豁痰，故去熱而不損其真，導痰逆而能益其氣。楊潛村云：虛者，左歸加花粉去茯苓。歌曰：左歸飲用萸山杞，地草雲苓景岳方。）</p>
<p>病久中虛六君子，（虛而挾熱加黃芩，挾食加厚朴，挾寒加藿香、砂仁，或補中配炮薑、半夏亦妙。）口乾燥嘔胃陰虛。（必有面色嬌紅，脈虛細數等症。）都氣飲加歸地妙，（左歸飲去茯苓，加生地、當歸尤效。）</p>
<p>脈虛身熱症難醫。（仲景謂：嘔而脈弱，小便複利，身有微熱，而見厥者，難治。以其虛寒之甚也。）</p>
<p>胃氣如虛熱未退，葛根加參理最宜。（再配玉竹、知母、竹茹、白朮、黃芩、半夏、蘆根、茯苓、甘草、生薑、大棗之類，臨診酌之。）</p>
<p><u>鬱冒</u></p>
<p>鬱冒神昏幹不飲，二便如常貌醉形。（傷寒五，六日，漸變神昏不語，或睡中獨語，目赤、唇焦、口乾、不飲水。稀粥與之則咽，不與則不思。但心下無痞，腹中不滿，大小便如常，或傳至數日，形貌如醉。陶節庵所謂越經症，即此候也。）六脈細數口不語，此熱為傳手少陰。（脈不洪大，慎勿可下，宜梔子黃連黃芩湯。）</p>
<p>脈若浮，病在丙，（即小腸火。）還須導赤散頻進。（生地、木通、甘草稍、淡竹葉，即《局方》導赤散。陶氏或加芩、連。）</p>
<p>脈若沉，病在丁，（即心火。）瀉心湯服得安寧。（小腸為丙火，心為丁火。婁全善《綱目》云：心氣熱則上竄，宜導赤。心熱泄小腸，如釜底抽薪之義。以黃連瀉心，猶揚湯止沸之義也。）</p>
<p>浮沉有力熱丙丁，導赤瀉心各半勻。（歌曰：芩梔知麥連犀草，滑石燈心參茯神。即陶節庵導赤各半湯。）或用犀角地黃湯，（方見畜血條。）熱解陽明經要詳。（此解陽明經血中之熱也。）</p>
<p>素充壯，如失下，熱極身冷脈微弱，涼膈散（方見呃逆條，）熱可宣，（有患熱病，肢體不甚熱，問揚擲手足如躁擾狀，昏憒不知人事，時發一、二語，不甚了了，非譫語也。脈微細如欲絕，其人平日素充壯者，此失下熱極，以致身冷，脈微而昏冒將死。然畜熱內甚，脈須疾數，以其熱極畜甚，而脈道反不利，若急下之，則殘陰暴絕而死。蓋陽氣復竭而然也，不下亦死。宜涼膈散，或黃連解毒湯，養陰退陽，積熱漸以宣散，則心胸再暖，兩脈漸以生矣。王損庵法，大柴胡下之，止用蒸大黃二錢，繼以解毒湯數服而平。）虛用當歸補血煎。（蜜炙黃耆一面，酒洗當歸三錢，即東垣當歸補血湯。凡傷寒似神清，而時發一、二語，昏憒者，多為虛，須主以人參或當歸補血湯，後看兼症，配相宜藥。）</p>
<p>諸虛乘寒則為厥，（此《內經》語。）鬱冒附子湯須設。（此仲景意，真武加人參，即附子湯。）</p>
<p>欲活血脈九竅通，芎姜再配天麻入。（天麻性平，活血脈，通九竅。）</p>
<p>脈微應虛三白湯，（四君去人參加白芍，即三白湯。）芎麻添附為多力。（此症仍可用人參。）</p>
<p>傷寒體虛如有痰，（或四，五日後神昏不語者，即《壽世保元》所謂：昏迷傷寒是也。）參朮耆陳和竹瀝。（再加當歸，薑汁。有服至十餘日，方吐一字，月餘舌乃能轉，熱淨而後能言，此症竟有陰寒相逼所致，宜八味丸主之。）</p>
<p>神思似清時憒昏，或爾語次忽鼾聲，此症甚危須急治，歸脾湯並養榮斟。（凡遇此等症候，參、耆用兩許，甚者加附子。歌曰：歸脾志棗陳耆朮，參草苓圓廣木香。歌曰：養榮草芍陳歸志，地味參耆桂術苓。）</p>
<p><u>煩躁</u></p>
<p>水虧火旺金必傷，火入於肺則成煩，火入於腎則成躁，脈參虛實用溫涼。（王海藏云：煩出於肺，躁出於腎，此火歸肺腎也。臨診細審，慎勿忽略，寒熱誤投，斃命立見。）</p>
<p>肺腎聯，煩躁兼。（成無己曰：煩躁者，先煩漸至躁也。躁煩者，先躁而迤邐復煩也，從煩至躁為熱，先躁後煩謂怫，怫然更作躁悶，此為陰盛格陽。雖大躁欲於泥水中臥，但飲不得入口是也。此氣欲脫而爭，譬如燈將滅而復明是矣。按：內熱曰煩，謂心中郁煩，為有根之火。但煩不躁及先煩而後躁者，皆可治。外熱曰躁，謂身體手足動擾，欲裸衣入井，為無根之火，但躁不煩及先躁後煩者，皆不治。）</p>
<p>獨煩不躁熱因先，（有表症不得汗，內外皆熱，躁亂不寧，取汗則定。有裡實熱鬱，大便不通，心神不寧，脈數實有力，下之則定。有火客心胞，上焦不清，以黃連，梔子等涼解，投之妙。）惟躁無煩寒是的，（或顴帶遊紅，症似戴陽，其脈按之不鼓，躁亂欲狂，欲坐臥泥水中，口中和乃虛陽上攻也。即陰盛格陽，陰極發躁，冷服附子理中湯，躁擾即定。）起不安兮睡不貼，（謂之煩，此一症與上之似戴陽症大不相同。）藥須竹葉石膏湯，（如不禁石膏，可用濟生方去石膏加茯苓，小麥，即人參竹葉湯。）心熱清心蓮子益。（心中蘊熱而煩。歌曰：清心蓮子飲，參耆赤茯苓，地骨車前共，麥冬甘草芩。）</p>
<p>血液耗散猛獨參，（血液耗散，心神不安者，猛進獨參湯。）匱乏當歸補血增。（如因力艱不能服參，濃煎當歸補血湯代之。）</p>
<p>下後心煩如腹滿，坐眠不安梔樸純。（煩謂虛煩，腹雖滿按之亦不堅，宜梔子、厚朴、枳實，此三味即仲景梔子厚朴湯。）</p>
<p>下吐汗後劇不眠，（或吐、或下、或汗之後，適變此症，皆因誤治所致，非謂三症齊見始變。）心中懊憹反倒顛，（似煩非煩之象。）梔子香豉為上策，（此二味即仲景梔子豉湯。若氣少者加甘草，若嘔者加生薑。）舊便如溏法另遷。（大便如溏者，此方禁服，宜改用滲濕之劑。）</p>
<p>凡下後，復發汗，夜靜無眠煩在旦。（此症煩在晝，夜不煩。）</p>
<p>嘔渴全消表症無，脈沉（更兼微）身冷姜附辨。（仲景誤治條下論云：下之後，復發汗，晝日煩躁不得眠，夜而安靜，不嘔，不渴，無表症，脈沉微，身無大熱者，乾薑附子湯主之。沈堯封云：經有虛則相併之說，晝日煩躁者，我身之微陽，感天之陽，欲外出而與之並也。夜乃天之陰，我身微陽不敢外出，故反安靜耳。煩而兼嘔是少陽證，煩而兼渴是白虎證，故辨之。無表證，即在脈沉微，無大熱上見。）</p>
<p>脈虛微，悸不眠，（脈或虛大，或微細，亦有止煩不悸。）生脈散配柏子煎。（柏子仁要去油，再加茯神，當歸。如有火加涼藥一、二味，元參、山梔、竹如、花粉之類。）</p>
<p>有飲（痰水凝滯）溫膽（二陳加竹茹、枳實，即是《集驗》溫膽湯。）無（無痰飲也。）遠志，（歌曰：遠志參耆歸棗斛，茯神冬草及生薑，即名遠志飲子。若煩甚。加竹茹、知母。）下劑俱宜酌要先。</p>
<p><u>悸忡</u></p>
<p>太陽中風已汗攻，仍熱頭眩心悸忡。（腎陽虛致。）瞤動振振欲擗地，（擗者，闢也，避也。汗出過多，衛氣解散，其人似乎全無外廓，如魚失水則躍，故振振然。四顧彷徨無可置身，思欲闢地，而避處其內也。）芍術苓姜附子同。（即真武湯。）</p>
<p>發汗過多心下悸，叉手自冒耳無聾，（此膻中陽虛。）陽氣虛胸常欲按，（上焦心肺主。）桂枝甘草理當從。（桂枝和營衛，重加甘草不令走泄陰氣。）</p>
<p>汗過心虛氣不生，腎間發動作奔豚，上蒸凌心臍下悸，大棗惟和桂草苓。（茯苓、肉桂、炙草，即張子和桂苓丸子。奔豚用棗守中，使下焦之邪不得上攻。按：此症藥宜用甘瀾水煎。作甘瀾水法，以水置盆，揚之數百遍，水上有珠子，數千粒即成。）</p>
<p>悸若脈逢代結來，（脈動而中止，自還者曰結，不能自還曰代。血氣虛衰不能相續也，心中動悸真氣內虛也。按：傷寒脈結代與雜病不同，投以炙甘草湯，補氣血而復脈。）湯宜炙草主堪裁，（一名復脈湯。喻嘉言曰：此仲景傷寒門中之聖方也。）桂枝薑棗麻仁地，（即生地。）參脈阿膠清酒偕。（古吳葉天士常治邪少虛多之症，擬以育陰息陽之法。用此方加減投之多應。喻氏稱為聖方，果信其言。）</p>
<p>四肢厥逆心下悸，（症見厥逆，但少，故主治在心悸。）治水宜先苓草技，不爾水漬入胃中，必定頻頻變作利，（茯苓、桂枝、甘草、生薑，即仲景茯苓甘草湯。太陽症，飲水過多，水停心下必悸。火畏水，故心惕惕然，動不自安也。以水停心下，無所不入。若漬腸胃必作自利，故經云：先治其水，後治其厥，厥為邪之深者，猶先治水，況病之淺者乎。）</p>
<p>吐下逆滿氣衝胸，脈因沉緊眩頭攻，（此仲景論誤下，茯苓甘草湯證之變局，不但客氣動膈而脈亦沉緊，則水氣已陷入中州矣。）動搖振振乃汗誤，（表裡受傷。）甘草雲苓術桂崇。（即《金匱》苓桂朮甘湯。此症乃挾痰飲，阻其胸中之陽，水精不能上布，故目眩，當從小便去之，以除中州之水濕也，此方主之。）</p>
<p><u>振慄</u></p>
<p>氣血俱虛振戰慄，（振者，責其虛寒，虛則不至於爭，故振聳耳。戰者，為正與邪爭，爭則鼓慄而戰矣。戰雖重於振，而慄重於戰也。戰者，正氣勝，慄者，邪氣勝也，皆邪正之相爭也。大抵氣血俱虛，不能榮養筋骨為之振，振而不能主持也。）調榮養衛方無別。（歌曰：養榮草芍歸陳志，地味參耆桂術苓。薑、棗引。虛寒甚者，加附子更效，即人參養榮湯。）</p>
<p>若遇身搖不得眠，十味溫膽憑斯啜。（此心虛膽怯，氣鬱生涎，涎與氣搏，變生驚惕不眠等症。歌曰：枳實夏苓陳味草，棗仁熟地誌人參。即《三因》十味溫膽湯，姜，棗引。）</p>
<p><u>惕瞤</u></p>
<p>如傷寒，未經汗，筋惕肉瞤潮熱犯，手按臍旁硬甚疼，只消加減大柴散。（二便皆澀。歌曰：柴芩蔞粉玄明實，地麥丹皮草首烏，薑、棗引。即加減大柴胡散。）</p>
<p>屢經發表汗太過，惕瞤人參養榮附。（是症皆因攻表，發汗太過，邪熱未解，血氣虛奪，筋肉失養所致。或不因此，由稟素血少，邪熱傳於血脈之中，火性動惕故也。）</p>
<p>汗後虛煩瞤不眠，加味溫膽湯須輔。（歌曰：芎歸芍地芩連草，柴夏茹姜橘棗參，即加味溫膽湯。）</p>
<p><u>撮空</u></p>
<p>循衣摸床謂撮空，總云宜補不宜攻。（多是大虛之候，乃精神耗散，不能主持也。不問傷寒雜症，以大劑補之，多有得生者。）脈辨弦生澀者死，（《傷寒論》曰：循衣摸床，惕而不安，微喘直視，脈弦者生，澀者死。此乃以脈之弦澀，辨胃氣之存亡。然脈弦則迢迢而長，知胃氣尚在也，故可以大承氣下之而愈，然亦危極矣，必脈實症實者，方可行之，下後即當隨症大補。）存亡胃氣要宣通。（務要慎思明辨。）</p>
<p><u>斑疹</u></p>
<p>咳嘔心煩身痛束，耳聾足冷（或有肚腹痛者）發斑推，（斑者，有觸目之色而無礙手之質，即稠如錦紋，稀如蚊跡之象也。總之，以鮮紅起發者為吉色，紫成片者為重色，黑者為凶色，青者謂之藍斑，不治。痧者，疹之通稱。有頭粒如粟象癮者，即疹之屬。腫而易癢，須知出要周勻，沒要徐緩。不外乎手太陰足陽明之患，故繆仲淳專以肺胃論治為精也。予著有「時疹療元」一論，列於「補遺」條內，學者並宜參究。）升麻葛根治法主，（乃解陽明風熱之毒，如斑疹已露勿服，恐重虛其表也。初發斑疹時，或大便熱泄一、二次，不可止之，惟熱解自能止也。若脈弱食少，大便溏者，可加生白朮。歌曰：升麻葛根白芍草，此是仲陽錢氏方。）弱熱參芩並可隨。（虛弱之脈，如或有熱，可加人參、黃芩。若血熱者，犀角、地黃俱可入酒炒芩、連，桔梗、連翹、元參、薄荷、花粉、蘆根之類。）</p>
<p>舌胎黃燥須白虎，（石膏、知母、甘草、粳米。）脈伏心煩斑欲露，（謂之欲斑，煩止神靜，肌膚中無隱隱之狀，始為斑盡也。）已出脈洪反口乾，竹葉石膏丹地助。（脈如洪而無力，兼體虛煩渴，加人參、麥冬、知母、令汗出自愈。）</p>
<p>若嘔自宜大半夏，（陳皮、半夏、茯苓、生薑。）但要更衣承氣量。（凡解大便，謂之更衣，若脈見洪數有力，心下硬痛者方可。）</p>
<p>赤斑煩痛心胸熱，大青功擅善扶匡。（大青味苦，大寒之物，配解毒湯，加栝蔞根主之，能退赤斑。）</p>
<p>斑起心窩毒勢深，（此處更多。）起斑湯內用元參，升麻荊芥黃連共，花粉當歸草茯神。（陳士鐸云：斑起心窩，色必深紫，大為危候，非用大法，終成死症。速投元參三兩，升麻、荊芥、黃連各三錢，花粉五錢，當歸一兩，甘草一錢，茯神三錢，名起斑救死湯，一劑瘥，二劑愈矣。）</p>
<p>倦怠懶言惟自汗，補中益氣湯毋慢。（此症因內傷氣不足，虛火遊行於外，亦身痛、心煩、作熱、發斑，第脈虛大為驗。若作有餘治立危。速進此湯，熟睡熱退而愈。歌曰：補中益氣陳耆朮，參草升柴歸棗姜。即李東垣之補中益氣湯也。）</p>
<p>內傷斑疹胃元虛，遍身遊火外行綻，（其斑色亦淡紅而嬌嫩，或有不紅而色白。）補降溫和大建中，此屬陰斑須細盼。（胃氣虛極，一身之火遊行於外，宜補以降之。吳鶴皋云：此是汗吐下後之症，中氣虛乏則餘邪無所歸附，隱隱然見於肌表，其色淡紅而不甚顯為辨也。參、耆所以和中，夏、草所以調中，此皆健脾藥也。復有歸、芍之活血，則外溢之斑，流而不滯。有桂、附之溫中，則失位之火，引而歸原。以中營之幟一端，而失位之師各就其列也。是症也，以桂、附、參、耆而治斑疹，法之變者也。醫而未通於權，則不足以語此。歌曰：參耆桂附草，白芍夏當歸。即大建中湯。）</p>
<p>內藏伏陰脈必虛，炮姜理中先可啖。（內有伏陰，或誤服涼藥，逼其虛陽浮散於外而為陰斑，脈雖洪大，按之無力，或手足逆冷，過於肘膝者，先用炮姜理中湯，以復其陽，次隨症治。）</p>
<p><u>發黃</u></p>
<p>熱多黃似橘皮明，（如蜜橘之皮，黃而亮。）脈數宜涼身不疼，（一身不痛，解熱為主。）小便不利腹微滿，茵陳蒿湯直入兵。（茵陳、梔子、大黃，即仲景茵陳蒿湯）</p>
<p>薰黃色黯脈沉緩，滲濕為先身痛憑。（一身盡痛，滲濕為主。）</p>
<p>初起有力脈不微，便堅能食利為宜，（茵陳蒿湯主之。）茵陳五苓濕熱解，（以茵陳煎湯，調五苓散服之。）稍久形虛固胃脾。（異功散加當歸、白芍、大棗。六君子湯去半夏，即五味異功散。）</p>
<p>發汗不徹熱停黃，期年不愈色蒼蒼，（其症身面皆黃多熱，但飲食亦不減。）茵陳梔子各三分，（二錢五分為一分。）獨配秦艽是妙方。（再加升麻各四錢，共為末，每次三錢，水煎服，以知為度。蓋秦艽退黃極妙。以其性能退陽明經濕熱邪氣也。無濕熱者恐傷燥，宜慎之。）《外臺秘要》統治三十六黃方，用雞子一枚，連殼燒炭研細，以醋一合和之溫服，鼻中蟲出即愈，重者不過三服。然方亦奇，雖未試，姑錄存考。）</p>
<p>水濕傷脾寒現外，脈沉身冷是陰黃，四苓散配茵姜附，五苓散去肉桂，即四苓散。是症再配茵陳，乾薑、附子也。）冷傷寒中理中湯。（佐以茵陳，脈必虛弱。）</p>
<p>太陽太陰遇司天，下之太過陰黃變，（王海藏云：傷寒症遇太陽，太陰司天，若下之太過，往往變為陰黃。一則寒水太過，水來侮土，一則土氣不足，水來侵之。）治法如左茵陳主，對病加增醫佔先。（以下諸症，茵陳為主，所加不拘。）</p>
<p>小水不利煩躁渴，二苓（茯苓、豬苓）滑石桂歸煎。（韓祗和名茵陳茯苓湯。）</p>
<p>喘嘔不渴惟煩躁，苓夏生薑陳術添。（韓氏名茵陳陳皮湯。）</p>
<p>四肢偏冷腰如汗，炙草乾姜附子痊。（韓氏名茵陳四逆湯。）</p>
<p>冷汗旋旋時不止，制附乾薑必要兼。（韓氏名茵陳姜附湯。）</p>
<p>姜附不已脈尚遲，木通歸芍吳茱施，（韓氏名茵陳吳茱湯。）宗顏刊定千年秘，（趙秀才，字宗顏。以上治法出自彼定。）依法次第效誠如。（次第用藥者，先投茵陳茯苓湯，次茵陳陳皮湯，又次茵陳附子也。有下早，病黃，寸微尺弱，身冷，次第用至茵陳四逆，大效。）</p>
<p>面目皆黃及遍身，（驟然所發，遲治必死。）初不醫之久必傾，（傾者，頹敗之謂。）苓苡（茯苓、薏苡）車前各三兩，桂（桂心三錢）茵（茵陳三錢）相佐達權衡。</p>
<p>連連四劑潛消退，減半依方法論深，白朮（一兩土炒）加添仍繼服，（減半加朮，再服四劑。）濕熱宣除體漸亨。（此法系《石室秘錄》大治救命之方也。）</p>
<p>疸症多緣起內傷，汗瀉猶防精氣亡，陳（陳皮五分）術（白朮一兩）茵（茵陳二錢）苓（茯苓一兩）梔（梔子二錢）薏（即米仁一兩）等，守服旬天病即康。（此是內傷挾感成黃，連服十劑，去梔子再服五劑。乃陳遠公之法，用之頗效。）</p>
<p>產婦身黃濕熱壅，醫家遇此法難窮，白朮（一兩）車前（五錢）荊芥（一錢）佐，茵陳（五分）薏苡（二兩）茯苓（五錢）同。（症雖濕熱起，本於虛。陳遠公云：補虛治黃，未為不可，醫人不究其因，束手聽其死亡。予遵用之多效。）</p>
<p>小便自利急膀胱，（腎氣不納，小水急下。）御女多勞額黑量。（名女勞疸，如寸口無脈，形如薰黑，鼻出油汗而冷者，皆不治。）</p>
<p>酒疸雙眸綠影形，心痛時常酸水噴，葛花枳椇茵陳主，（枳椇子，一名雞距子，一名萬字果，又名金鉤梨。經霜，赤而味甘，其葉入酒，酒化為水。門外植此樹者，屋內釀酒多不佳。）肝鬱相逢合左金。（黃連六兩，薑汁炒吳茱萸一兩，水泡三次焙乾，共研細末，以粥糊為丸，即東垣左金丸，又名茱連丸。按：肝居於左，肺居於右，方名左金者，謂使金令得行於左而平肝也。）</p>
<p>邪熱在胃不相傳，（邪入在胃，仲景所謂邪並陽明，萬物歸土之義，無復他傳也。）挾食薰蒸黃髮纏，症名谷疸宜清熱，莫使留連起變端。（此症乃挾外濕與胃中食飲之濕交併，鬱蒸不達以致發黃，即丹溪所謂如造麴然。何惠川《文堂集驗方》有云：傷寒五、六日，周身發黃，以麻油半盞，水半盞，入雞子清一枚，服之即退，按：此方用麻油以潤腸，使大便易於下行。雞蛋清功專利濕，其效尤捷。如用茵陳蒿湯，恐其太峻，不若用此二味，更為穩當，故採錄之。）</p>
<p>瘀血發黃微沉結，（脈必如此。）腹滿如狂小便澈，（仲景主以桃核承氣湯。）等證宜參畜血條，（此症已詳畜血條下，言之已悉。）瘀熱脈浮滑數別。（瘀熱之脈，浮滑緊數，治宜解熱為主。）</p>
<p><u>咳嗽</u></p>
<p>傷寒咳嗽以為輕，（俗云重傷風也。柯韻伯曰：傷風之重者，亦屬傷寒，仍分六經治之，蓋風寒暑濕，先自皮毛，而入皮毛者，肺之合也。雖外邪欲入臟腑，必先從其合而嗽也。故醫之善者，凡病必先治其合也。）喉中習習癢淫淫。（肺主氣，形寒飲冷則傷之，使氣逆而不散。衝擊咽膈，令喉中淫淫，如癢習習，如梗而咳也。或醫人云：咳則有聲無痰，嗽則有聲有痰。）</p>
<p>初起脈浮頭痛急，（脈或帶緊，拘急。惡寒發熱，無汗。）余月芎蘇（歌曰：芎蘇前葛和薑棗，杏桔桑皮枳夏陳。即元成之芎蘇飲也。按：《準繩》方無杏、桑、前胡、加柴胡、茯苓、甘草，或加羌活亦可。）冬十神。（歌曰：麻陳昇芷芎蘇葛，香附草姜赤芍蔥。即古傳十神湯也。二方輕重得宜，凡非時之氣，可隨症加減用。）胃熱薰蒸合白虎，（虛者加人參。若脈浮自汗，頭眩眼脹，鼻塞清涕者，傷風候也，亦以芎蘇，十神二方分治。）脈弦口苦少陽循，（必兼寒熱，小柴胡去人參、薑、棗，加乾薑、五味。）煩滿蔞仁痞枳實，（以上湯主之加減。）嘔利無眠渴豬苓。（如下利，嘔，渴，心煩不得眠而咳嗽者，豬苓湯治之。即五苓散去白朮，肉桂，加滑石、阿膠是也。吳鶴皋云：五苓瀉濕勝，故用桂、朮、豬、苓。瀉熱勝、故用滑石。第恐諸藥過燥，故又加阿膠以存津液。）</p>
<p>小青龍治表寒合，（仲景所謂表不解，心下有水氣，乾嘔發熱而渴者是也。歌曰：小青龍內麻黃桂，草味乾薑芍夏辛。）停飲裹寒真武呷，（《內經》五飲雖異，而仲景治法惟專主溫通，學者宜考。）去芍加姜辛味子，（真武去白芍加生薑、細辛、五味。仲景謂四肢沉重，疼痛，小便如常，大便自利而咳者。）脈細沉遲陰咳確。（四逆湯加五味，常見是症有手足逆冷，上過乎肘，下過乎膝。）</p>
<p>四肢厥逆腹泄疼，（冷不過肘，下重而咳。仲景所謂此亦少陰，陽邪入里。）枳實柴姜味草芍，（枳實、甘草、柴胡，芍藥，即仲景之四逆散也。因有咳者，故加姜。味。）</p>
<p>汗不透，餘熱嗽，養血清涼六味彀。（餘熱在胃，咳嗽不止者，先以涼血養血投之。不效者，繼以六味飲必應，蓋熱氣逼傷胃陰故也。）</p>
<p>若以參耆病愈余，適逢乾咳莫為虛，（此乃餘邪，為胃氣鼓動欲出也，若認作真虛症，再投歸脾、生脈等劑則重斂，其火漸傷陰分而成弱者，有之矣。俗諺云：傷風不醒變成勞，即此之謂也。）只宜開導宜清潤，（宜養血涼血，順其勢而導之，不可泥為補劑，得力之後，寒涼傷中，畏而勿用也。）自古明醫法不拘。（先哲治療，臨證處方，在在因宜。）</p>
<p>陽明宜汗汗無來（此乃太陽轉屬之症，表邪未罷。）漸次痰多咳嗽乖（此時取汗益不可得，只投清潤之劑。）骨皮花粉雙冬母，（天冬，麥冬、知母，貝母。寒熱未止者，小柴胡為主，加入上藥。）久久痰清熱退哉。（久久則痰清咳止，經絡熱邪即從此解，雖終不得汗，亦有漸愈之理。）</p>
<p><u>挾痰</u></p>
<p>挾痰身熱如中滿，鼻塞頭疼及噁心，（或痰飲積凝脈見弦濡而滑，症帶頭暈。）若見陽明（如口渴，潮熱，有汗）調白虎，（石膏、知母、甘草、粳米。）否則參蘇飲必寧。（歇曰：參蘇飲內芎苓葛，草夏陳前枳木香。其人參、木香，須斟酌進退用之。嘗遇此症，見有頭暈、噁心者，予用二陳湯加浮海石、白芥子、制南星、亦多應手。）</p>
<p>下頦振振動搖看，病人不覺有涎痰，心虛神憊兼食少，藥宜固本六君銜。（俗云：痰症傷寒，即此候也，宜六君子湯主之。是症加酸棗仁，大補心氣。）</p>
<p><u>挾暑</u></p>
<p>脈虛身熱為傷暑，惡熱頭疼自汗增，胸滿心煩渴氣促，便溏尿赤倦精神。（暑濕蒸人，脾土受傷，故肢倦便溏。暑熱傷肺，故氣促心煩，口渴，便赤。濁氣在上，則生䐜脹，故胸滿惡食，暑先入心，汗為心液，故自汗。濕盛，故身重、身痛。暑傷氣，元氣耗傷，故脈虛而不足。）</p>
<p>東垣益氣兼清暑，耆術參歸草葛升，蒼朮青陳曲柏瀉，麥冬大棗味姜停。（人參、黃耆、白朮、蒼朮、神麯、陳皮、甘草、麥冬、五味、當歸、黃柏、澤瀉、青皮、升麻、葛根、大棗、生薑，即東垣之清暑益氣湯也。）</p>
<p>暍熱躁煩汗惡寒，（仲景云：太陽中熱者，暍是也。其人汗出惡寒，身熱而渴也。此是熱病證。據《素問》在天為熱，在地為火，熱者火之氣也，故熱乃五氣之一。而熱病即傷寒有五之一，感烈日之氣而病。）面紅紫脹眼珠黃，（白珠變黃色，脈微洪。微者輕浮之象，洪者挾熱之徵。按：程郊倩《後條辨》云：暍病脈不浮，不思仲景論暍，即《難經》之熱病也。《難經》云：熱病之脈，陰陽俱浮，浮之而滑，沉之散澀，此等緊要處，豈可模糊讀過。）衛陽虛渴背微冷，（仲景云，傷寒無大熱，口燥渴，心煩，背微惡寒者，白虎加人參湯主之。沈堯封云：背為陽，背微惡寒者，陽虛症也。但陽有不同，真水真火，是腎中之陰陽也，氣血是營衛中之陰陽也。此條口燥渴，心煩，暍熱內熾，仍是白虎症。惟暍熱傷其衛氣，致背微惡寒，與腎陽全無關涉，故止用人參補衛氣，不用附子補腎陽．至若少陰病，口中和，其背惡寒者，則衛陽腎陽並傷，則人參與附子並用。問同一背寒，何以分別傷衛、傷腎？曰：條內本自明白，傷腎陽者，口中和。傷衛陽者，曰燥渴。）白虎加參服遽安。</p>
<p><u>濕溫</u></p>
<p>肢重頭疼或妄言，（此濕熱並至之病。）脛寒腹滿汗黏黏，病在太陰不可汗，（古人濕家忌汗。）白虎人參蒼朮痊。（有一種頭痛妄言，兩脛逆冷，胸腹滿，多汗，其人常傷於濕，因而中暑，名曰濕溫。其脈陽濡而弱，陰小而急，治在太陰，不可發汗，宜白虎湯加蒼朮主之。《保命集》云：立夏之後至立秋處暑之間傷寒者，身多微涼，自汗，四肢沉重，謂之濕溫，蒼朮白虎湯主之，或先用人參白虎湯數劑。）</p>
<p>溫病濕侵體似縛，（仲景云：太陽病，關節疼痛而煩，脈沉而細者，此名濕痹之候。其人小便不利，大便反快，但當利其小便。濕痹者，即《難經》之濕溫症也。《素問》在天為濕，在地為土，濕乃上之氣也。故濕為五氣之一。濕溫乃傷寒有五之一。溫者，亦火之氣也，夫火特五氣之一，乃分而為二者，以陰陽之各異耳。暍熱之火，陽火也。得之烈日，故三時不病，惟夏日太亢乃病，溫病之火，陰火也。得之鬱熱，四時皆有，不獨夏也。《素問》分先夏至日為病溫，後夏至日為病暑。）腳伸仰臥腿難縮，（或時筋抽似搐，此乃濕熱流絡所致。）欲翻身轉痛難禁，利濕除溫梔柏握。（梔子、柏皮、甘草，即仲景梔子柏皮湯。）</p>
<p>或挾外寒內濕壅，麻黃赤豆連翹逐。（麻黃、連翹、赤小豆、生梓白皮、杏仁、甘草、大棗、生薑，即仲景麻黃連翹赤小豆湯。沈堯封云：程扶生以麻連小豆湯，為濕熱主方，不思麻連小豆湯，發汗之方也。梔柏湯利小便之方也。若以麻連湯為主方，不惟梔柏湯無著落，即條內但當利小便句，亦無著落，梔柏湯只有濕熱而無風寒者宜之。若外兼風寒，又屬麻黃連翹赤小豆湯。《素問》在天為燥，在地為金，燥亦五氣之一。夫燥未有不從火熯而成。故凡病或挾火者，已經類列各條。其現證有口燥渴，或大便燥結等，燥字此燥症已寓其中矣。故燥症無專類之條，學者自可意會，莫謂編者遺漏，而復疑燥不病人耶。）</p>
<p><u>風溫</u></p>
<p>冬不藏精春病溫，腎關氣泄外寒侵，陰邪入臟深難愈，表散須參溫法行。（經云：冬不藏精，春必病溫。蓋冬月以精動則關開氣泄，寒風深入骨髓。而腎主閉藏，無門可出。至春月地氣上升，肝木用事，肝主疏泄。木主風，外風相召，於是吸引腎邪勃勃內動而病發矣，必全具少陰之症。喻嘉言闡發奧義，而以溫法並汗法。一藥同用，體長沙不宣之秘。用麻黃、細辛、附子救之，即仲景傷寒中麻黃附子細辛湯也。）</p>
<p>寒傷冬月藏肌膚，證與三陽合例符，（經云：冬不藏精、春必病溫。故所重者、不藏精也，每見多欲不藏精之輩，病溫者更危。）表裡陰陽齊交熾，六日不俟命南柯。（正已先傷，外邪復入，邪正相熾，名主客交。）</p>
<p>腎陽不鼓難升液，熱煩外現燥兼枯，（此症嘗有認作陽明，而竟誤投斃命者多。可不慎乎。）悟徹仲景真妙諦，汗下兼溫反掌瘥。（喻嘉言以附子助陽，擬投附子、黃芩、黃連、大黃，以溫法兼下法。一藥同用，即仲景附子瀉心湯也。）</p>
<p>厥陰初氣主風木，（凡逐年主之六氣，初厥陰，二少陰，三少陽，四太陰，五陽明，六太陽，此為地盤，其位不易。）客氣加臨感冒觸，（凡逐年客之六氣，初厥陰，二少陰，三太陰，四少陽，五陽明，六太陽，此為天盤，其位旋轉不定，以左手掌輪之於值年司天之位，上從右退，二起推順數。假如子年少陰，君火司天，從子位退二在戌位上，初氣即太陽，寒水二氣在亥位上，即厥陰風木，余仿此例。凡逐年客之三氣，即是當年司天，其司天在泉之法，注於疫癘條下。易記歌主氣云：厥少少，少陽太。客氣云：厥少太，少陽太。）病似傷寒形樣同，（治法大旨，兼參主客之氣，及用藥之宜忌。經云：必先歲氣，毋伐天和，此之謂也。）春溫醫說俗稱疫。（俗謂時氣，傷寒以訛傳訛之談。仲景以冬月所受風邪，以寒統之，定名傷寒。治法分別寒傷營、風傷衛，至春時令，和煦其氣，亦溫所感之邪，以溫統之，謂無風不入太陽，故所感之邪，溫字上加一風字，以別太陽風傷衛之不同。若作冬月傷寒治法，誤人不淺。喻嘉言云：病溫之人，有發表三、五次，而外症不除者，有攻裡三、五次，而內症不除者。）</p>
<p>傷寒之邪表傳裡，傳盡六經病亦已，（仲景《傷寒論》中有傳解法。盧子繇《金鈚》中有傳經論。學者宜參讀之。）此是溫邪內達外，留伏募原畏補劑，治須疏滯達原參，（歌曰：達原飲內檳榔樸，草果芩知白芍甘。此吳又可之達原飲也。）審明虛實陰陽異，柴胡清燥（歌曰：柴胡清燥燈心地，歸芍芩知草粉陳。即柴胡清燥湯。）參白虎，（白虎湯配人參，）毒防瘀胃大承氣。（大黃、芒硝、厚朴、枳實，即仲景大承氣湯，吳又可《傷寒三注》云：此邪從口鼻而入，舍於伏脊之內，去表不遠，附胃亦近，乃表裡之分界，即《內經》虐論所謂橫連募原者也，非若傳經之症。如脈雖數未至洪大，其邪尚在募原，宜投達原飲以透其邪。如蒸蒸汗出，氣微液涸，宜投人參白虎湯。如應下失下，陽伏時厥，既下厥回，脈大而數，此里邪去而鬱陽暴伸，舌已生津，宜柴胡清燥湯去花粉、知母，加葛根，隨其性而升泄之。其有毒邪復合，瘀留胃中，急投三承氣，酌量以下之。設緩拘滯，必無救矣。每見二、三日即死者，此類是也。臨診者潛心細察，慎毋大意。）</p>
<p><u>痙症</u></p>
<p>太陽發熱脈沉細，項強足寒面赤際，口噤反張背角弓，汗因誤過虛亡液。（此即風傷衛之變局也。經云：肉之大會為谷，肉之小會為溪，溪谷之間以行營衛。沈堯封云：夫衛行脈外，即在肌肉腠理間，風邪中衛，由太陽而入壅肌腠之間，脈道擠小，所以沉而細也。脈道時通時塞，所以卒口噤，背反張也。肌肉不能舒轉，所以項背強𠘧𠘧也。陰陽不能升降，所以頭熱足寒，面赤目赤也。）</p>
<p>汗無發熱惡風邪，（邪字當作斜字讀。）項背𠘧𠘧（音殊。𠘧𠘧，鳥縮頸貌。）剛痙耶，仲景葛根湯主治，汗多柔痙桂枝加。（前輩云：葛根象肌肉，取其入肌肉以祛風耳。即無汗之剛痙，亦風多寒少，病甚於脈外，故不用麻黃湯中加葛根，仍用桂枝湯加麻、葛，存芍藥，已保不病之營。凡痙則上項，脈症俱在內。如無上項脈症，不得名痙。痙有剛柔二種，全在有汗無汗上辨。葛根、麻黃、桂枝、白芍、甘草、生薑、大棗，即仲景葛根湯。）</p>
<p>瘡家發汗禍旋踵，痙變依然身體痛，勢必鬼門開病除，（經云：開鬼門即發散之意。）葛根湯效任施用。（仲景云：瘡家雖身疼痛，不可發汗，發汗則痙。沈又彭云：此症即不可發汗，又有不得不汗之勢，一友用葛根湯取效，以葛根湯即痙症發汗方也。《景岳全書》云：痙症甚多，而人多不識，在不明其故，而鮮有察之者耳。蓋卒然暴病，而見反張，戴眼、口噤，拘急之類，皆痙病也。觀仲景以汗下為言，謂其誤治亡陰，所以然也。余因類推，則常見有不因誤治，而凡屬陰虛血少之輩，不能養營筋脈，以致搐攣傴僕者，皆是此症。如中風之有此者，必以年力衰殘，陰之敗也。產婦之有此者，必以去血過多，衝任竭也。瘡家之有此者，必以血從膿出，營氣涸也。小兒之有此者，或以風熱傷陰，遂為急驚，或以汗瀉亡陰，遂為慢驚。凡此之類。總屬陰虛之證。蓋精血不虧，則雖有邪干，亦斷無筋脈拘急之病。病至堅張，其枯可知。欲治此者，必當先以氣血主之，而邪甚者，或兼治邪。若邪微者，通不必治邪。蓋此症之所急者，在元氣，元氣復而血脈行，則微邪自不能留。何足慮哉，奈何今人但見此症，必各分門類，而悉從風治。不知外感之風，寒邪症也，治宜解散。內生之風，血燥症也，止宜滋補。矧此數者，總由內虛，本無外邪，既以傷精敗血枯燥而成，而再治風痰，難乎免矣。故余詳言於此，以明痙症之要。）</p>
<p><u>疫癘</u></p>
<p>每逢歲歉受飢餒，因腹常枵中氣虧，（荒歲多疫，皆因飢飽失時所致。右氣口脈多大，用人參敗毒散先發其表，次用人參柴胡湯以和解。右脈大於左，自汗，心下不脹，無表裡症見者，補中益氣湯。若用正傷寒法，大汗大下，多致不救。歌曰：二活柴前芎桔枳，薄荷參草配苓姜。即《活人書》中之人參敗毒散也。）腐穢氣蒸難避染，（凡饑饉之歲，疫病盛行，大率春夏為甚。蓋溫暑熱濕之氣交結互蒸，人在其中無隙可避，病者當之，魄汗淋漓。一人病氣足充一室，況於連床共榻，沿門闔境。共釀之氣，益以出戶，屍蟲載道。種種惡穢，上溷蒼天清淨之氣，下敗水土物產之氣，人受之者，溫暑熱濕，病從其類，有必然之勢也。）天時氣運合相推。（治法當分天時，寒暄燥濕，病者虛實勞逸，因時制宜，不可拘執。久旱天時多燥，熱疫流行，忌用燥劑，宜解毒潤燥。天久霪雨，濕令大行，脾土受傷，民多寒疫，多兼瀉痢，忌用潤劑，宜滲濕理脾。子午年，少陰君火司天，陽明燥金在泉。卯酉年，陽明燥金司天，少陰君火在泉。寅申年，少陽相火司天，厥陰風木在泉。己亥年，厥陰風木司天，少陽相火在泉。辰戌年，太陽寒水司天，太陰濕土在泉。丑未年，太陰濕土司天，太陽寒水在泉。其五運六氣，天符歲會，九宮八風，超神接氣等論，須參張介賓《類經》言之最詳。張子和《儒門事親》云：病如不是當年氣，看得何年運氣同，只向值年求活法，方知卻在至真中。其義甚深業醫者，不可不知。）</p>
<p>上中清邪從鼻息，（人之鼻氣通於天，故陽中霧露之邪者，為清邪，從鼻息而上入於陽，入則發熱，頭疼，腮腫，喉痹，失音。經云。上焦加霧，升而逐之，兼以解毒。）頭疼頤腫喉音失，大頭普濟法東垣，（如世俗所稱大頭瘟者，頭面腮頤腫如瓜𪃿者是也，宜普濟消毒飲主之。歌曰：普濟消毒飲人參，芩連柴桔橘藍根，元參翹簿殭蠶勃，牛蒡升麻甘草勻。此李東垣之方也。）咳喚蛤蟆另一策。（俗稱哈蟆瘟，又名捻頸瘟。喉痹、失音、咳聲不爽，頸筋脹大者是也，宜荊防敗毒散主之。薛立齋加元參、馬屁勃、牛蒡子。歌曰：荊防羌獨前柴草，枳桔芎苓翹薄姜。即汪訒庵《醫方集解》中之荊防敗毒散也。）</p>
<p>中焦邪注未分布，（經云：中焦如漚。疏而逐之。兼以解毒。）營衛不通病變夥，脅起胸高嘔血如，遍身腫塊色紅裹。（俗稱爪瓤溫者，胸高脅起，嘔血如汁者是也，宜生犀飲主之。麻油炒蒼朮、犀角、黃連、芥茶，即苦丁茶、金汁，即糞清黃土，乃是生犀飲也。俗稱疙瘩瘟者，遍身紅腫，發塊如瘤者是也，宜人中黃散主之。辰砂、雄黃各一錢五分，人中黃一兩，共為末，以桔梗薄荷湯調下二錢，日三服，夜二服。）</p>
<p>水土之邪從口入，（人之口氣通於地，故陰中水土之邪，從舌而下於陰。下焦為濁陰。故濁邪從下入。經云：下焦如瀆，決而逐之兼以解毒。）腹鳴湫痛逆寒生，便清足重難移步，此屬陰經治別分。（俗稱絞腸瘟者，腹痛、乾嘔、便溺、下重、水泄不通，臍築湫痛者，宜雙解散主之。此症又宜探吐。如人虛脈弱者，吐法忌之。陶節庵雙解散，即小柴胡加白芍，陳皮是也。俗稱軟腳瘟者，便清泄白，足重難移，膝冷內慄者是也，宜人參白虎湯加蒼朮主之。鄒滋九曰：疫癘一症，多從口鼻而入，直行中道，流布三焦，非比傷寒六經可表可下。夫疫為穢濁之氣，古人所以飲芳香採蘭草，以襲芬芳之氣者，重滌穢也，及其傳變，上行極而下，下行極而上，是以邪在上焦者，為喉啞、為口糜。若逆傳膻中者，為神昏舌絳，為喉痛丹疹。今觀葉天士先生立方，解毒之中必佐芳香宣竅逐穢，如犀角、菖蒲、銀花、鬱金等類，兼進至寶丹從表透里，以有靈之物，內通竅，搜剔幽隱。通者通，鎮者鎮。若邪入營中，三焦相溷，熱愈結，邪愈深者，理宜鹽苦大制之法。仍恐性速直走在下，故用元參、金銀花露、金汁、瓜蔞皮，輕揚理上，所謂仿古法而不泥其法者也。考是證，惟張景岳、喻嘉言、吳又可論之最詳。然宗張、喻二氏，恐有遺邪留患若宗吳氏，又恐邪去正傷。惟在臨症權衡，無盛盛、無虛虛而遺人夭殃，方不愧為司命之職矣。）</p>
<p><u>脾約</u></p>
<p>邪犯太陽經禁下，病人平素胃陰涸，大腸燥結省更衣，（省更衣者，乃大便，少解之謂。）脾約休言是胃弱。</p>
<p>若遇傳經液必干，終成枯槁邪難托，麻仁速下存津液，活變神明仲景法。（《尚論篇》云：脾約一症，乃其人未病，先素慣脾約。蓋約者，省約也。脾氣過強，將三、五日胃中所受之谷，省約為一、二彈丸而出。全是脾土過燥，致令腸胃中之津液日漸乾枯，所以大便為難也。及致感受風寒，即邪未入胃，而胃已先實，所以邪至陽明，不患胃之不實，但患無津液以奉其邪，立至枯槁耳。仲景大變太陽禁下之例，而另立麻仁丸以潤下之。不比一時暫結者，可用湯藥盪滌之耳。此義從前瞶瞶，凡遇素成脾約之人，亦必俟經盡方下，百無一生矣。大黃酒蒸、杏仁、厚朴、麻仁、枳實、蜜丸，即仲景麻仁丸。）</p>
<p><u>除中</u></p>
<p>傷寒發熱利兼厥，腹冷脈遲寒誤徹，食不當能今反能，胃陽發露除中卒。（除中者，中氣除也。卒者，死也。喻嘉言曰：謂之胃陽發露，凡厥利當不能食，忽然能食，暴熱一來，其陽即散，立斃之候也。仲景厥陰條內有云：傷寒脈遲至六、七日，而反與黃芩湯徹其熱，脈遲為寒，今與黃芩湯復除其熱，腹中應冷，當不能食，今反能食，此名除中，必死。）</p>
<p><u>息高</u></p>
<p>邪入少陰六七日，陡然氣急鼻微息，息高長沙曾斷死，破格挽回無救訣。（仲景云：少陰病六，七日，息高者，死。喻嘉言云：諸陽主氣，息高則真氣上迸於胸中，本實先撥而不能復歸於氣海，故主死也。六、七日三字，辨症最細。見經傳少陰而息高，與二、三日太陽之作喘症。迥殊也。《石室秘錄》云：傷寒少陰病六、七日，息高者，死。息高見於六、七日之間，明是少陰之症，而非太陽之證也。息高與氣喘大殊，太陽之證乃氣喘，本於邪盛。少陰之證乃息高，本於氣虛。而息高者與氣喘終何以辨之？氣喘者，鼻息粗大。息高者，鼻息微小耳。此乃下元之真氣欲絕而未絕，牽連氣海之間，故上行而非氣急之狀，能上而不能下也。最危最急之候，方用止息湯，核桃仁一個，人參、熟地各三兩，牛膝、破故紙各三錢，麥冬三錢，臺姜五分，煎服，此藥大補關元、氣海，復引火之下行，絕不祛寒逐邪，庶幾，氣可回而息高者可平也，倘疑是太陽喘症，而妄用桂枝湯，殺人於頃刻矣，故必用止息湯救之，十人中可望生五、六，然必須多服久服始效，或服一劑而輒止，亦未有能收功者，又不可不知。但此方在貧者，斷不能用。豪貴之家適有此症，或可措辦，故錄之。）</p>
<p><u>戴陽</u></p>
<p>顴若遊紅是戴陽，或煩或躁或兼狂，井中欲赴飲思冷，八味還宜參附湯。（有一種戴陽症，兩顴淺紅，紅必遊移無定，或煩躁狂發，欲坐臥泥水中，渴欲飲水復不能飲，大便自利或秘結，小便清白或淡黃，咽喉或痛或不痛，脈沉遲而微細，肌表雖熱，重按之則不熱，甚者其冷透手，此陰盛格陽也。）</p>
<p>面紅煩躁口生刺，舌如斂束荔枝似，痰涎或湧喉煙沖，身烙脈洪益火制。（有一種面紅煩躁，遍舌生瘡生刺，舌斂束如荔枝狀，或痰誕湧盛喘急，小便頻數，口乾引飲，兩唇焦裂，喉間如煙火上衝，兩足心如烙，脈洪大而數無倫，按之有力，亦有按之微弱者，捫其身烙手，此腎虛火不歸經。《素問》所謂脈從病反者也，俱用十全大補，吞八味丸，或大劑八味飲合生脈散。人參、熟地可用至二、三兩，附子可用至三，五錢。如認作白虎症立死。四君四物即八珍湯，再加黃耆、肉桂，即十全大補湯。）</p>
<p><u>直中</u></p>
<p>直中三陰四逆湯，（附子、乾薑、甘草，即四逆湯。去甘草加蔥白，即白通湯。）理中（人參、白朮、炙草，乾薑）真武（白朮、茯苓、附子、白芍、生薑）亦為良，莫云盛夏熱當禁，（此乃從症不從時之法。）經曰清蒸桂附強。（有一種色欲過度，腠理疏豁，寒邪乘虛而直入於三陰之經，名曰陰症，即俗稱陰症傷寒也。初起不見熱症、暴病，所謂直中陰經者，乃心肝脾肺腎之經。受肅殺嚴寒之氣，由肌肉間之經絡，直逼臟中，或心、或肝、或脾、或肺、或腎、生氣被傷，不得通達，便成陰症也。此時急以熱藥，依經通之，漸漸溫熱，使臟中熱氣得通於肌肉間之經絡，須以理中、四逆、真武等湯辨證而治之。）</p>
<p>炎天客運值寒威，裸體行淫風獨吹，怕冷脈微沉且伏，腹疼似暑細研推。（有一種陰症，直入腎少陰之經，或欲事後感寒，或多欲陽虛，寒乘虛入，臍腹絞痛，手足青紫厥逆，脈微欲絕，急煎附子理中湯與之。外用蔥二束，如茶盞大紮緊，切一指厚一段，置臍上以熨斗火熨之，使熱氣透入腹，逼邪外出為佳。此症俗亦謂之陰症傷寒，但陰症臍腹絞痛，必怕寒怯冷。凡中暑暍腹痛者，並不是冷。但此病偶值炎夏，如或疑似，先以冷井水，令病人將手指浸內，如陰症即行畏縮，或手彈冷水於病人之臉上，若果陰症必打寒噤。若暑症見冷水，必無畏忌。大凡陰症與伏暑之症，緣脈皆伏者多，即暑症與陰症俱或有肚疼之狀。臨診之際，務須細心研究，倘或誤治，危殆立見。）</p>
<p><u>反復</u></p>
<p>餘邪反復食相糾，（凡傷寒復發，世皆作有餘治。必曰因食而起。殊不知有餘不盡之毒，留滯陽明胃經也，蓋緣戰汗後，氣血虧損之甚，即以補陰得汗，力只七、八分便住，表既得解便能清爽。其不盡者，復歸陽明，加以一、二日之飲食與邪相蒸復騰，騰而作熱矣。此乃汗後，元氣驟虛，飲食入胃，生化遲緩，於是所留之邪與新入之物合而為熱。如依時師，再用攻邪，則元氣復虛，熱邪益熾，索然而死矣。）大劑當歸六子投，（六君子加當歸。若芩、連退邪，枳、樸消食，必死無疑。）邪食交攻熱更劇，守過三日汗來瘳。（縱有病愈增而熱愈甚者，乃是邪與食為元氣所攻發將出之候也。守不出三日，復戰而汗解矣。或曰：汗至七、八分而餘邪何以復歸陽明？曰：胃主肌肉、元氣薄故也。元氣厚者，則無此病。如留泊肌肉筋骨，則為餘毒，治法亦先補正。）</p>
<p>陰虛勞復挾風微，（或奔走傷力，或微挾食，或微冒風寒。）劉氏地黃飲子奇，（歌曰：二地骨皮耆芍杞，芩防枳草配天冬。即劉松石之地黃飲子。）素壯火多愈勞復，（若其人素壯實，平日多火，病愈勞復者，亦不得用攻伐。）蔥冬七味湯宜速。（歌曰：流水生薑蔥葛豉，麥冬懷熟其成方。即名七味蔥白湯。）</p>
<p>損庵專法麥門冬，（用斤許，此王肯堂法。）再入香豉和淡竹，頻頻飲去自為佳，海藏門冬皆可活。（麥冬、甘草、粳米、大棗、竹葉，名海藏麥冬飲子。治勞復氣欲絕者，用之有效，能起死回生，易老加人參尤妙。）</p>
<p><u>遺毒</u></p>
<p>汗後仍然熱結深，（此汗出不徹，仍然熱結之。）耳間一寸二三分，（毒發耳後，或連耳下，俱腫硬者。）名為頤毒頻頻腫，（此為遺熱成毒。）速散消遲膿必成。（初起速宜消散，若緩則成膿，又為害也。一法用槐米四、五兩炒微黃，乘熱入酒二碗，煎十餘沸去渣，熱服。未成者。二、三服。已成者，一、二服。胃弱者忌之。一法用忍冬藤四、五兩，甘草節一兩，先用水二碗煎至一碗，再入酒一碗，煎十餘滾去渣，飲之，渣可敷患處。又三煎酒方，頭一次以銀花一兩，蒂丁一兩，河水兩大碗，井水兩大碗，煎至兩碗去渣聽用。第二次，加廣皮、甘草節、白芷、當歸各一錢，再配後開引經藥，將前汁煎至一碗去渣聽用。第三次，加乳香、沒藥，去油，研末各一錢，炒甲片研末三錢，將煎汁配紹酒一碗煎至八分，溫服暖睡，汗出即瘥。引經藥列後，頭面加川芎，犀角各一錢，兩手臂加桂枝一錢，兩乳加蒲公英一錢，兩肋加木瓜一錢，下部加牛膝一錢，遍身加藁本一錢。）</p>
<p>初起連翹敗毒散，（歌曰：連翹敗毒獨羌防，升草芎柴歸尾襄，蘇木紅藍大力子，天花粉配集成方。水酒各半煎，徐徐溫服。如未消，加蛤粉、炒穿山甲一錢。腫至面者，加香白芷二錢、漏蘆五分。大便燥實者，加酒浸大黃一錢五分，壯者倍之。凡內有熱，寒熱交作者，倍用柴胡，加酒洗黃芩，酒炒黃連各一錢。）膿成內托理須明，（宜內托消毒散。歌曰：升耆參草歸柴桔，銀花防芷共翹芎。水酒各半煎，徐徐溫服。治發頤有膿不可消，已破未破皆可服。）感證如初便發癰，（發熱三，四日後，便發癰者。）陽明兼或少陽通。（有一起便發癰者，治皆不外陽明、少陽兩經。竟有失於汗下，中宮伏熱鬱極，發為胃癰者，須細審之。若漫不加意，懵然執傷寒之成法以治之，鮮有不潰敗者。）</p>
<p>肝腎如虛應大補，（此毒發於至陰之處，道路遙遠，必煎劑送大填大補丸藥，方效。）否則遷延弱即叢。（遷延時日，拖成弱症，俗謂毒勞，終不救也。）</p>
<p>誅伐太過氣血傷，（有一種感證，被俗師混加汗下，以致誅伐太過，氣血大傷。究竟所感之邪，鬱而不泄，發為癰腫，此時當急補正。）參耆熟地大歸湯。（黃耆、當歸、銀花、甘草、即世傳之大歸湯也。再配人參、熟地、可加兩許以救之，庶可起發收功。）翹連角刺芩施誤，難起收功命必戕。（如誤用芩、連、角刺之類，去生便遠，此乃已被誅伐太過，氣血大傷。若再投寒涼透解，其毒必陷，其斃亦速。非此陰虛遷延成毒癆之症也。審之審之。）</p>
<p>火實之人感又重，辛涼大劑石膏黃。（有一種火實之人，所感又重，非大劑辛涼重用石膏不可。甚者須加大黃。伸縮之權，存乎其人。）</p>
<p>始初略解便滋陰，（此醫者過於小心也。）邪伏致癰郁毒生，清解猶宜併發透，騎牆主見害終成。（若作騎牆之見，兼用固本，則熱邪為潤藥黏滯，不得通達，必成大害矣，慎之慎之。固本等藥所以養胃，今服養陰藥既多，則胃中津液原不竭也。且遺毒既自經絡而達肌表，自當因勢利導之。）</p>
<p>更參時毒辨凶吉，五七之間命必脫，旬外自能不治安。（時毒者，感四時不正之氣，初發狀似傷寒，五、七日間乃能殺人，十日外不治自愈。）浮弦沉緊滑洪澀，須分汗下藥休寒，（浮數者，邪在表，宜發之。沉實者，邪在裡，宜下之。）醫不究心變莫測。（此症有陰有陽，有可汗有可下。常見粗工但云：熱毒驟用寒涼，不知病有輕重，治有逆從，豈容輕忽也。按：《金匱》有傷寒、陰陽二毒，遍身紅暈形似湯豬，方中所用升麻、鱉甲、雄黃、川椒、桂枝等類而已。然以理考之，疑非仲景所制之方。或後人託名附會。嘗見用者，亦多不效，未敢信從，故不錄載。）</p>
<p>或已汗下腫不消，（或有出膿後腫仍不消。）小柴和解配連翹，薄荷桔梗黃連共，大力（即牛蒡子）元參花粉陶。（或加全蠍、甲片。）</p>
<p>腫甚痛焮宜砭血，膿成脈弱仗參調。（此必先因胃虛，飲食不節，邪乘虛入，宜從輕治。發散解毒，必加人參以固元氣。）</p>
<p>魆地昏沉面部紅，腮頤凸腫火如烘，痰升體熱脈來數，（按之空大，或浮而微。）陽脫頃亡莫認癰。（有少壯之人，恃勇縱欲，精泄氣脫，以致命門真火奔越於上，結於頭面三陽之位，狀若癰毒，人忽昏沉。誤認為火。若用寒涼，隨藥而逝。速投人參，附子，庶可挽救。如無人參，重用補血湯，多加白朮，附子，亦有得生者，此名脫陽症。本不應列於發遺時毒之內，但其狀似癰，發亦驟然，恐時醫誤作毒治，致令人夭，故特附於此。）</p>
<p><u>狐惑</u></p>
<p>唇瘡上下忽生來，臟惑狐肛蟲作災，聲啞喜眠須治熱，犀連桃核用無乖。（李士材云：狐惑失汗，所致食少胃空，蟲齧五臟，故唇口生瘡，其名曰惑。蟲蝕其肛，上唇生白點，其名曰狐。其候齒燥、聲啞、惡食，面目乍赤乍白而眸黑，舌上白胎，唇黑、四肢沉重喜眠。清熱宜用黃連、犀角、木香、烏梅。治䘌宜用桃仁、梔子、艾葉、大棗。殺蟲宜用雄黃、銳散、桃仁、苦參、青箱子、黃連等分為末，以艾葉煎汁，搗和成膏，捏如小指大，用絹裹納入穀道中。）</p>
<p><u>陰陽易</u></p>
<p>傷寒未愈輒交媾，體重眼花艱小溲，散亂精神膝脛拘，熱沖少氣陰攣湊。更兼裹急外邪無，欲火恣情自作受，男女裩襠互換嘗，陰陽易病古非謬。（柯韻伯云：此症無內外因，本非傷寒而冠以傷寒者。原其因也，無惡寒發熱之表症，無胃實自利之裡症，因淫情之不禁，而餘邪得以投其隙，移禍於不病之人，頓令一身精氣神形，皆受欲火之害，是不病於傷寒而病於陰陽之易也。裩襠者，即褲襠也，男女陰陽之衛，陰陽之以息相吹，氣相聚，精相向者也，衛乎外者自能清乎內，感於無形者，以之治有形，故取其近隱處燒灰，水服之。形氣邪感得其隱曲，小便即利。陰頭微腫，濁陰走下竅，清陽出上竅，欲火平而諸症悉除矣。男服女褌，女服男褌。仍合陰陽交易之理。至穢之品為至奇之方，以意相求，有知此者。《金匱要略》云：陰陽易病，凡診有離經脈見者，死。離經者，乍大乍小，忽有忽無，參差不齊者是也。治以豭鼠糞湯，用韭菜根一大握，兩頭尖，十四粒以水煎服。）</p>
<p><u>內傷感熱似痢</u></p>
<p>勞倦內傷外感熱，身如燔炭便膿血，脈來洪數與無倫，（甚者散亂，忽有忽無。）譫語更兼舌燥黑。</p>
<p>此屬陽明症甚危，熟地一兩杞冬歸，芍甘相佐（再配生地）見微汗，（有汗可治，其脈亦須接續分明，洪數鼓指，見汗又必前方去生地，加棗仁、山藥、萸肉、丹皮，連服七八劑，）俟脈平和方下推。（俟脈必斂而圓，再用當歸、白芍、甘草、薄荷，此四味名四順清涼飲子。加酒蒸大黃五錢熟地一兩，下黑矢而愈。）</p>
<p>一二日來復熱譫，原因作汗喘狂端，（前已下黑矢而愈。一、二日後復發熱，狂譫、喘急、口渴，此欲作汗解也。）乾薑歸芍草耆朮，（乾薑、歸、芍各三錢，耆、術各一兩，甘草一錢。）其汗如淋病霍然。（以上三韻統講一症。董廢翁曰：或問陽明熱甚，當速解其毒，今先補後下何也？曰：毒火燔熾，涼膈承氣症也。而其原起於勞倦，陽邪內灼，脈已無陰，若驟下之，則毒留而陰絕，死不治矣。曰：復病又以他藥治何也，曰：病從陽入，必從陽解，今陰氣已至而無以鼓動之，則營衛不洽，汗無從生，不汗則虛邪不得外達，故內沸而復也。此乃里虛勞倦之輩，感挾時令燥氣之變局也。初起壯熱，狀若腸澼，若執治痢成法，多致不救。予遇三、四病家，信任專托，依法用之，多得全活。但此症常有，故錄數言以告同志。凡遇此項脈症，莫認作痢疾，誤治殺人，且標目似痢二字，蓋似者疑似之義，原與滯下之痢不同，宜辨明治之。）</p>
<p><u>娠妊胎產</u></p>
<p>婦女傷寒按《準繩》，（王肯堂所著。）六經治例等平人，經期時候須明辨，（婦女諸病須參《薛立齋醫案，》陳臨川《婦女良方》，武叔卿《濟陰綱目》等書，言之最詳。業醫者宜考。）惟有妊娠四物君。（生地、當歸、白芍、川芎。）</p>
<p>初起黃芩白朮佐，（《已任編》云：使熱邪不能深入血分，以觸犯胎氣為異耳。）行攻滑破莫相侵，（滑潤如半夏，滑石之類，行血如肉桂、附子之類，破血如桃仁、牛膝、丹皮之類，攻下如大黃、芒硝之類，俱宜慎之。）若還產後身如熱，外感血虛須認明。（吳綬云：產後傷寒不可輕易發汗，蓋有產時傷力發熱者，有去血過多發熱者，有惡露不盡發熱者，有三日乳蒸發熱者，或早起勞動，飲食停滯，皆有發熱，狀類傷寒而須詳辨。劉完素云：大抵產病，天行從增損柴胡，雜症從增損四物，宜詳察脈症而用之。王海藏云：凡婦人傷寒，六經治例皆同。有懷妊者，則以四物為君養血安胎。又云：娩後露體中風，傷衛自汗，宜桂枝湯加紅花，或配黑魚頭骨更妙。朱丹溪云：產後諸病當大補氣血為主，余作末治。張介賓云：此言雖是，然亦不必拘泥。余有辨論在全書內婦人類中，學者亦考。產後中風，危急屢驗。方以黑豆一茶鍾，連須蔥頭五個，先將黑豆焙至有煙時，再入蔥頭，黃酒一鍾，水一鍾半，煎至一鍾，服之汗出即愈。傳之救人，莫大陰功，此方從古北陳杰《回生集》抄附於此。云：是牛欄山楊醫所授，系葛仙翁乩傳之方也，寶之寶之。經脈胎產等疾，予另編有《資生別傳》一帙，裒採《達生產寶》諸書，韙論而成集。仍遵景岳之法，證分九類，方列八陣，後附仙授牡丹等方。）</p>
<p>華岫云曰：傷寒症仲景立法於前，諸賢註釋於後。今觀葉天士先生擬其治法，其所以異於庸醫者，在乎能辨症耳。不以冬溫、春溫、風溫、溫熱、濕溫、伏暑、內傷勞倦、瘟疫等症，誤認為傷寒。其治溫熱、暑濕諸症，專辨邪之在衛在營，或傷氣分或傷血分，更專究三焦，故能述前人溫邪忌汗，濕家忌汗，當用手經之方，不必用足經之藥等。明訓垂示後人，此乃先生獨擅見長之處也。</p>
<p>華玉堂云：古人有言曰：仲景之法，不但治傷寒，苟能悉明其理，即治一切六氣之病與諸雜症，皆可融會貫通，無所不宜。此誠屬高論，固深知仲景者也。然予謂六淫之邪，頭緒甚繁，其理甚奧，即彙集河間、東垣、丹溪及前賢諸法而治之，猶慮未能兼括盡善。若沾沾焉必欲但拘仲景之法而施治，此乃見聞不廣，膠柱鼓瑟，不知變通者矣。</p>

<h2>四明心法（附註楊云峰驗舌指南）</h2>
<p>近世傷寒多內傷，庸醫不識妄投湯，病家又且無張主，遂致遷延變敗亡。（嘗讀《己任編》，參究高鼓峰治感證之法，皆本薛新甫、張介賓之精義，茲予抉其粹髓，撰成歌訣，以便學者易於記誦。若能潛心體認，臨證自有把握。）</p>
<p>口渴原非涉太陽，（一涉口渴則非太陽症矣。）禁投九味與麻黃，（口渴若見，恐胃中津液將亡。凡麻、葛、羌、防之類，易干津液，所在當禁。惟存津液為王道。（仲景《傷寒論》中最要緊關頭，在存津液三字。）</p>
<p>肺病白胎起刺詳，生脈散（如無人參，枸杞可代）加柴地芍，歸耆芩草是良方。（以生金滋水。）</p>
<p>腎氣凌心黑滑胎，主方八味最堪裁。（腎乃北方玄武之色，故屬黑。且火位之下，水氣承之。水來救母，此時泄火，火無從泄，助子以救母，則仇未有不復者也。亢則害，承乃制，其理昭然。）</p>
<p>陰虧胎黑觀來燥，的屬津枯六味該。（此腎水枯乾，當急救其陰也，凡烈焰近炙則燔手，漸高則愈冷，緣冷氣乃火逼所致。熱病之舌黑，即此理也。）</p>
<p>黑聚舌中寒水侮，（其舌必兼滑嫩。）救須附子理中諧。（更有其舌同黑色，一屬寒水侮土者，宜用附子理中。一系腎氣凌心者，宜用人參八味。其治又不相同，何也？寒水侮土者，系陰盛於內，逼陽於外，外假熱而內真寒，格陽也，其黑色止聚於舌中。腎氣凌心者，系陰盛於下，逼陽於上，上假熱而下真寒，戴陽也，其黑色直抵於舌尖。然未有不胖且嫩者，又不論乾燥滋潤也。楊云峰云：若寒水侮土，用八味乃是緩著。）</p>
<p>補中益氣治黃胎，（再配芩、連。楊潛邨云：如其舌後半截滑膩而有微黃胎者，乃脾胃氣虛下陷，止須補中益氣湯足矣。）補土生金果妙才，有食去耆加厚朴，仍留白朮汗能排。（且發其汗，縱有食勿顧也。歌曰：補中益氣參歸草，耆朮升柴新會皮。即李東垣補中益氣湯也，薑、棗引。）</p>
<p>滿舌鋪黃似薄漆，胃陰不足氣將脫，挽回妙義在知幾，甘露飲加枸杞葉。（有一種中氣本虛，胃陰不足之輩，偶因勞倦發熱，滿舌微薄黃胎，狀如金漆光亮之色，干而不燥，口不思飲，若誤作火邪，妄投苦寒之劑，則中臟之氣無不隨藥而脫。如遇此等舌胎，急宜用甘露飲重加枸杞以救之。虛甚者可加人參。歌曰：二地二冬芩枳斛，枇杷葉配草茵陳。即孫真人《千金方》甘露飲。）</p>
<p>舌頹防卷用逍遙，（舌本強直，轉動不活而語言蹇澀者，危。傷寒厥陰條下經云：舌卷囊縮者，死，不治。歌曰：逍遙芍術歸陳草，薄荷柴芩配棗姜。即王海藏《醫壘元戒》之逍遙散也。）加用丹芩生地高。（以滋水生肝。）</p>
<p>舌色鮮紅生脈配，（人參、麥冬、五味，即孫思邈《千金方》之生脈散也。）更須六味火能消。（此心經病也，以滋水清火。）</p>
<p>白加黃色黃加黑，（舌胎如是。）此腎凌脾人不識，須治中宮益氣佳。（補中益氣為主，看燥潤參以加減。）</p>
<p>若還灰色須分別，認明灰色用芩連。（《四明心法》云：凡舌見灰色，指甲括下無渣汁者，方是火症。乃芩連之對症。味其語意可見，陽邪燔灼，則其陰液未有不幹枯者。此等辨論，俗工焉能曉得。）</p>
<p>黑誤芩連命必絕，舌上現形人字紋，用心挽救空勞力。（黑乃腎水乾枯，因誤用芩、連，舌上現出人字紋者，必死。）</p>
<p>舌色無拘胎有無，總逢枯燥費思羅，（恐津液消亡，慎勿視為泛常。）無胎鏡面皆應死，一似豬腰子去膜。（一舌如鏡面者，危。一舌如去膜豬腰子者，危。一舌加火柿者，危。一舌竟無胎，胃氣絕也，不治。有一種陽虛之人，誤投寒涼致變危症，其舌伸出形如蛇舌，尖細擻擻而抖者，亦是無救之症也。）</p>
<p>荔肉砂皮糙刺形，烘糕液涸化幽磷。（一舌糙刺如砂皮而乾枯燥裂者，危。一舌如烘糕者，危。）雪花片片緣脾閉，不久將為泉下魂。（呂批《治法匯》云：舌上起白胎，如雪花片者，脾冷而閉也，不治。此胎，痢疾症中更多。以上所列，皆垂死危候也。然有不必如此而死者，即至如此，而灼見臟腑陰陽虛實，再參「鉤玄論」之三法，竭力挽回，則亦有得生者。時師既司人性命，須存壽世婆心，即於百不一活之症，當作萬有一生之想。縱使修短有數，彭殤難齊，破格出奇終於莫救，致招從旁浮議，同道中傷，病家歸咎，而反之吾心，固無愧也。倘畏避嫌疑，而以此種危症，目視不救，再任其付諸庸劣之手，則必無生理矣，豈不痛哉。）</p>
<p>五臟病因胎各色，青黃黑白赤分晰。（經云：肝屬木應東方，其色蒼，其味酸，在音為角，在聲為呼。心屬火應南方，其色赤，其味苦，在音為徵，在聲為笑。脾屬土應中央，其色黃，其味甘，在音為宮，在聲為歌。肺屬金應西方，其色白，其味辛，在音為商，在聲為哭。腎屬水應北方，其色黑，其味鹽，在音為羽，在聲為呻。金生水，水生木，木生火，火生土。土生金，金剋木，木剋土，土剋水，水剋火，火剋金。此《素問》以五色應五臟，而合五行相生相剋之理也。業醫者，不可不知。）</p>
<p>斂堅蒼老實邪推，（驗舌分虛實法。楊云峰云：經曰：邪氣盛則實，正氣奪則虛。又曰：有餘者瀉之，不足者補之。竊謂虛實兩字，是挈病機之領。補瀉兩字，是提治法之綱。蓋以人之有病，不出一虛一實。醫之治病，不過一補一瀉，如虛實稍有疑心，則補瀉無從下手。是參症切脈，以審虛實，固臨症第一要著也。乃有症似實而脈則虛，脈似實而症則虛者，如舍脈從症，既難信以為真。而舍症從脈，又惟恐其是假，奈之何哉？不知凡物之理，實則其形堅斂，其色蒼老。虛則其體浮胖，其色嬌嫩，而病現於舌也，其形與色亦然。故凡病屬實者，其舌必堅斂而兼蒼老。病屬虛者，其舌必浮胖而兼嬌嫩。如此分別，則為虛為實，是真是假，雖未參症切脈，而一目先了然矣。）胖論陰陽獻燥濕。（驗舌分陰陽法。楊云峰云：虛實既分補瀉，固有定見。然虛實各有陰陽，而陰陽迭為虛實，則於虛實分陰陽，臨症者，又不可混也。而分之不得其法，則有陰盛為陽盛，陽虛為陰虛，而不能無誤者。且有症本陽虛。而經訓曰：陰虛，令人錯解，貽害不淺者，如言陰虛出盜汗，陰言手太陰也，虛言肺氣虛也。又言：陰虛發夜熱。陰言足太陰也，虛言脾氣虛也。同曰陰虛而其中有手。足太陰之分。名曰陰虛，而其實脾肺氣虛之症無。如歷代醫師，從未註明其義，誤以脾肺氣虛，認為腎水不足，而用滋陰降火之劑。朝夕重陰下逼，逼致土困金衰，便溏聲嘶，致之死地而不悟者。只此兩個陰字，拘義牽文，訛以傳訛，自古迄今，普天之下不知日殺凡幾。良堪痛也。況如此類者，經中未易枚舉，總緣陰陽混雜，虛實模糊，但憑脈症，分晰難清。詎知陰虛陽盛而火旺者，其舌必乾而燥。陽虛陰盛而火衰者，其舌必滑而濕。如此分別，則為陰為陽，誰實誰虛，顯然可見。更何似陰似陽之疑，以致重陰重陽之誤耶。）理勝《金鏡錄》一籌，（《金鏡錄》張三錫所注。驗舌為準法。楊云峰云：舌者，心之苗也，五臟六腑之大主，其氣通於此，其竅開於此者也。查諸臟腑圖，脾肺肝腎，無系不根於心。核諸經絡，考手足陰陽，無脈不通於舌。則知經絡臟腑之病，不獨傷寒發熱有胎可驗，即凡內外雜症，無一不呈形著色於其舌。是以，驗舌一法，臨症不可不講。間嘗從《金鏡錄》三十六舌，逐一體驗，其法殊多未合，及參《已任編》。呂東莊有云：《金鏡》三十六舌，當參其意而勿泥其法，更有三十六舌之所未及者，須以意通之。予於是臨症之下，細心診視，於四診之中，驗舌更有獨得之秘。據舌以分虛實，而虛實不爽焉。據舌以分陰陽，而陰陽不謬焉。凡危急疑難之頃，往往病無可參，脈無可按，而惟以舌為憑。婦女、幼稚之病，往往聞之無息，問之無聲，而惟有舌可驗。是以陰陽虛實，見之悉得其真，補瀉寒暄，投之輒神其應。人以為奇，有何奇哉？不過同得之理耳。臨診者，誠潛心而有會焉，則分之而臟腑各一陰陽也，陰陽各一虛實也。理圓而法到，可以補《金鏡》之所未及，而正不止三十六舌也。合之而臟腑同此陰陽也。陰陽同此虛實也。理圓而法活，可以裁《金鏡》之所未合，而並不必三十六舌也。分而分之，其法不出乎五行。合而合之，其理總原於太極。准此以臨症，則諸病之變現，總使萬葉千枝，而一望之神明，自可搜根拔本。尚何無者生之，有者甚之。以干致邪失正，絕人長命之咎哉。）鑑明可並月林石。（楊云峰先生驗舌之論，以浮胖堅斂分虛實，乾燥滑潤認陰陽，黑白青黃辨臟腑。蓋本至中至正之理，以立至簡至易之法。誠學者之階梯，救世之津梁也。予遵用之，頗多得力，故附錄於此。惟願同志誦記於心，幸勿諼爾。嘗覽《山海經》，西海有月林山，其石光瑩明皎，能照徹人之肺腑。以上驗舌之法。視其胎色，則知病有各臟之因由。觀其嫩老，更明邪正陰陽之互異。可謂隔垣而洞悉人之肝膽；一望無遺，猶如月林石能照徹人之五臟也。故予取以喻此，並勉世人。若如用試金石治病，莫若以月林石更效也。）</p>
<p>不論四時與六經，須知發熱感寒因，（其脈亦不浮緊而急。）逍遙散郁使邪達，（此乃外感寒而內發熱，以火為寒邪所郁，既為火鬱，則逍遙散自可以統治矣。）兼食小柴合六君。（合小柴則六君全矣。兼可助脾消食之妙。然此是為兼食未經表散者定論。）</p>
<p>發表已經八九朝，只須竟用黑逍遙，（逍遙散加熟地，即薛氏之黑逍遙也。）氣粗胎厚按胸痛，潤下滋陰法論高。（視其微甚，用逍遙散加熟地四、五錢，可用至一、二兩，此就已經發表者言。蓋發表既多，則津液乾枯，宿物燥結而不能出，故必重用熟地，使陰血下潤，則宿物自下。）</p>
<p>攻裡若多莫再下，勢輕四子加歸芍，（人參、白朮、茯苓、甘草，即四君子湯。是症再加當歸、白芍。）甚投附子與人參，（人參鬚要重用，再加煨姜以發其汗。）發汗回陽論亦確。（下多則亡陽，故用參、附以回其陽，陽回而汗自作矣。）</p>
<p>冬月傷寒起畏寒，（此乃感受天時客令之風寒，非隆冬主氣之嚴寒，如果冒犯肅殺之寒威，仍遵仲景之法，辨明寒傷營，風傷衛，酌以麻黃、桂枝等湯，分別治之。）主方卻用前胡湯，歌曰：前胡蘇草陳皮桔，半芷還須加棗姜，即潔古老人之前胡湯。）不愈小柴加枳桔，（如不應手，換小柴胡湯再配枳殼、桔梗。）繼續逍遙無不安。（初感者，以上法治之，無不愈也。）</p>
<p>熱覺脅疼與耳聾，口乾舌黑燥生風，（火燥生風，屬邪不清。）疏肝益腎如無應，（六味飲加柴胡、白芍，即高鼓峰之疏肝益腎湯。）柴芍歸脾立建功。（已燥不宜再燥，須去木香，並用米泔泡蒸白朮為妙。歌曰：當歸志棗香耆朮，參草苓圓薑棗同。即《濟生方》之歸脾湯也。）</p>
<p>熱甚忽然手足腫，更兼頭面塊瘰聳，風淫末疾燥生疼，此為風淫末疾也。熱甚而痛，手足亦有腫者，竟有瘰塊如頤者。）滋腎生肝涼忌用。（此症忌用涼藥，上方可加熟地一兩主之。歌曰：地術柴胡山五味，瀉萸歸草配丹苓。此《已任編》之滋腎生肝飲，即趙養葵《醫貫》中之滋水清肝飲也。）</p>
<p>痞滿實堅燥矢硬，（凡大便硬者，除合仲景痞滿燥實堅全見者，方議下。）雖宜承氣須三省，（還要六脈沉實有力者，才可議下。歌曰：大承氣內硝黃草，枳實還須樸棗姜。即仲景之大承氣湯也。大黃、厚朴、枳實，此三味即小承氣湯。大黃、芒硝、甘草，此三味即調胃承氣湯。桃核、大黃、桂枝、芒硝、甘草，此五味即桃仁承氣湯。）粗工誤治耗真陰，養氣補陰下最穩。（楊潛邨云：陰枯便燥則補陰，自可濡潤矣。而必兼養氣者，以推送無力也。須安慰病人，勿急於攻下，守至數日，自可奏效也。奏效雖遲，而實穩當。的是仲景功臣。）</p>
<p>不便不餐不必驚，（有不便而不食者，粗工必主一便，則邪去而膈清，才能思食。時醫所見，或者如是。予獨曰：不然。必須先養胃以助正，助正以去邪，如養未到，則邪不即去，不食不妨也。）縱然養正去邪亨，（所謂中氣足而積滯能通，陰血潤而其便自下。）能食不便毋庸慮，理謂推陳在致新。（或有一種不能便而能食者，推陳致新，倉廩盈溢，自能通利，不便毋庸憂慮也。）</p>
<p>予撰斯歌非泛文，理宗《素》《難》貫天人，勉醫勤讀時溫故，悟徹玄微道自尊。（予一生應酬，濟世養生，得力處全藉此篇，學者慎毋忽焉。吳石公云：職操原同良相功，調合燮理答蒼穹，六經五臟殊天壤，八要三才究始終。貧富不分惟重命，死生雖數必推衷，賢愚何藉彰鄉曲，自有人稱草上風。李治菴云：病者求醫似望仙，醫人切莫故遲延，不徒舉室愴惶甚，床簣呻吟最可憐。觀吳、李二公之詩句，具見仁心仁術，足為後學規模，宜佩於紳帶，庶夙夜不忘。）</p>

<h2>痧脹抉要說</h2>
<p>張一庵云：夫痧脹證者，風濕火三氣相搏，手足經二脈交侵，陰陽錯亂，而擾為病之發也。蓋風者，謂足厥陰之風木也；濕者，謂足太陰之濕土也；火者，謂手少陽之相火也。一陽二陰曰震，在卦為雷。故痧初發，即有雷厲風行，烈火熬沙（沙即濕土）之狀，為病至此，死生只在須臾，救之不速，悔無及矣。惟善治痧者，為能救之。其善治之法，但當言解（即用油頭繩，括肩背臂膊之法，或用針刺眉心、人中等處。）而不言攻（攻者，謂汗下也。）蓋以病非一氣，無所施其攻也（不可汗下。）解之之法，又必先取所勝者，如火勝於濕，則先刺之（凡痧發火勝者多，宜十指少商穴以針刺之為妙。甚背，再刺四腕委中穴。）以泄其火氣之有餘。濕勝於火者必瀉，則先吐之（可投蘆粟湯，或蕎麥湯。）以奪其濕氣之太過，能使火濕和平，則風木之氣不治而自解矣。即至用藥無不同，然濕氣不及，則先以涼解之。不愈，然後以寒解之。火氣不及，則先以溫解之，然後以熱解之。火濕俱不及，則知所勝者，在風但投以辛甘之味，能使風氣疏通，則火濕二氣亦不治而自解矣。</p>
<p>至於動靜者，陰陽之道也。濕主乎陰，靜也。風火二氣皆主乎動，陽也。二陽一陰曰離，在卦為火。痧病悉退，猶如雨過云開，陰陽之氣和平，日麗中天而離火昭明矣。又內外者，陰陽之體用也，震內離外曰噬嗑。內動則絞腸括肚，外火則斑疹赤膚，痧毒肆攻，便有侵蝕臟腑之象也。離內震外曰豐。用藥得宜，內則火毒潛消，外則痧點漸沒。於是表裡一清而氣血沖和，肌膚亦得豐滿。若如瘠弱，多因飲食風冷，調理失宜故耳。</p>
<p>至於人身之脈，手六經所以法天，足六經所以法地，天地之道以出入為順者也。故天氣入於地中，地氣則從而順之，生萬物以出於外，以是知天之氣，主入而不主出，地之氣，主出而不主入。手足之經脈，亦豈有異哉。</p>
<p>總之，痧症非若傷寒之為病也。傷寒之病，只在足六經，而手不與焉。故治傷寒者，或汗、或吐、或下、或和解、或利小便，皆取其出而以從地道也。痧脹之症，止在足二經，手一經耳。手一經，法天而既主入；足二經，法地而既主出，故三氣相搏，經脈交侵，陰陽錯亂而為病發。此所謂病非一氣，無所施其攻也，惟解為貴耳。</p>

<h1>下卷（中厥條辨）</h1>

<h2>辨非風形證歌</h2>
<p>類中因虛內出風，卒然仆倒眼朦朧，</p>
<p>尿遺手撒歪斜眼，數種俱然症卻凶。</p>
<p>小腹冷如冰石者，急宜氣海灸能通，</p>
<p>炒鹽艾附當臍熨，寒散陽回立見功。</p>
<p>類中者，其風自內出也。七情縱恣，六淫外侵，真陰不守，久之水衰火盛，風從火出，離其故宮，飛揚飄遂，卒然仆倒，故其人兩腎腰胯間及臍下，必冰冷如鐵。蓋別病必他臟先病，緩緩窮到腎經。惟此病，竟是腎經與命門無形之水火自病，故一病竟絕也。當其發病之際，必有一股虛氣從兩腎中間，上夾脊、穿崑崙、過泥丸，直到命門。命門為三陰三陽聚處，此股氣一衝，三陰三陽之氣，亦突然而散，遂外不省人事。而在內臟腑之氣，亦隨之而去。臟腑之氣既去，而手撒眼合，或開而直視、遺尿、聲齁口開等證，又相隨而來矣。此命門即《素問》至陰之根，結於命門，乃兩腎之上下、左右各相去一寸，其中間便是丹家之元神也。此股虛氣是即所謂無形之火也。緣無形之水，虛不能守，遂化作冷風，騰空而去矣。</p>
<p>非風脫症辨須分，知絕肝經眼合瞑，</p>
<p>若是口開心臟絕，聲鼾手撒肺脾論。</p>
<p>尿遺腎絕誠當識，目攛搖頭面赤增，</p>
<p>吐沫汗珠兼直視，理中大劑倍人參。</p>
<p>以上形狀，大抵見一種猶可，數種俱見，亦為不治。猶當急以手按其少腹，冰冷如石者，速急灸氣海穴，穴在臍下一寸五分，並用蒸臍法，湯中再加附子。</p>
<p>腎內真陽本素衰，虛邪衝動倒塵埃，</p>
<p>脈來三至如綿軟，附子人參當即培。</p>
<p>初發可療遲不治，勢平參附養榮該，</p>
<p>照常二便飲如故，大料補中八味偕。</p>
<p>此大虛之症，其脈必二、三至，闊大虛軟如棉花，急煎人參一、二兩。附子一兩，或有生者。如發時可救，遲則無及矣。俟其勢定，方用人參五錢、黃耆二兩、附子五錢，不數飲之。但覺臍下溫和，手足運動，口眼能動是矣。待飲食如常，二便如故。大劑補中益氣湯，加附子三錢，吞八味丸兩許，榮衛調和，漸可康復，否則終難延命。</p>
<p>其如頭目暈難開，開見般般物倒排，</p>
<p>盪漾胸中如欲吐，慎防類中漸將來。</p>
<p>及時服餌還憑脈，兩尺如虛肝腎頹，</p>
<p>脾肺寸關求索診，培元救本戒休乖。</p>
<p>其有平日頭目眩暈難開，開之即見居室百物俱倒轉，胸中漾漾，噁心欲吐，即類中風之漸。急須節飲食，戒七情，遠房事，以預防之。治法同上，但不灸，藥物足矣。然服預防之藥，當察其脈。如兩尺虛衰者，六味、八味等丸，培補肝腎。寸關虛弱者，六君、十全等劑，調補脾肺，才有補益。若服搜風順氣，及清氣化痰等藥，適所以招風取中也。《東醫寶鑑》云：凡大指、次指麻木，或不用者，三年內有中風之患。薛立齋云：預防者當養氣血，節戒情欲，自可無虞。若服愈風湯、天麻丸之類，非惟無益，倘反引邪入內，滋患為害也。</p>

<h2>辨中風形證歌</h2>
<p>真中南稀北自多，藥宜小續命湯瘥，</p>
<p>杏防防芍芩麻桂，附草參芎保太和。</p>
<p>北方地燥高阜生風，南方地濕卑堅多雨，是以中風，北方多而南方少也。按：歷代相傳治中風之方，皆以續命湯為主。考其所自，則始於《金匱要略》。然此必宋時校正之所增，而非仲景本方也。自隋唐以來，則孫氏《千金》而亦採附，故後世宗之，無不以此為中風主治矣。但方內以麻、桂並用，薑、附同施，而佐以芎、防，本為發散外邪之設也。如非風類中，切勿亂投。</p>
<p>中風閉症認何形，握手牙關語不能，</p>
<p>二便不通如目瞀，耳聾鼻塞口無吩。</p>
<p>不妨三化湯投治，枳樸羌黃一泄平，</p>
<p>平素氣虛兼血弱，麻仁丸主莫遲停。</p>
<p>假如其人素有積熱，或鬱火暴發，則風乘火勢，火借風威，而風為熱風矣，多見閉症，法當疏風。開竅先用搐鼻散吹之，次用牛黃丸灌之。若大便閉結，腹滿脹悶，火勢極盛者，以三化湯攻之。如或血虛腸燥之人，易以麻仁丸潤下之。設內有寒氣，大便反硬，名曰陰結。陰結者，得和氣暖日，寒冰自化，勿可誤用攻藥，誤即不能復救。慎之慎之。</p>
<p>閉或痰多湧似潮，三生飲與可能消，</p>
<p>南星附子川烏等，再配人參一兩熬。</p>
<p>假如其人素挾寒，或暴受新寒，則風水相搏，寒冰徹骨。而風為寒風，多見脫絕之症，當溫補元氣，急用附子理中大劑灌之。若以痰涎壅盛，以三生飲加參兩許灌之。間有寒痰壅塞，介乎閉脫之間，不便驟補者，用半夏、橘紅各一兩，濃煎至一杯，以生薑汁對衝，頻頻灌之，其人即蘇，然後按其虛實而調治之。</p>
<p>痱風足廢舌瘖形，會厭邪侵話不明，</p>
<p>蹇澀喁喁聲似啞，治分虛實莫胡行。</p>
<p>夫中風不語者，有心脾腎三經之異，又有風寒客於會厭卒然無音者。大法若痰迷心竅，當清心火，牛黃丸、神仙解語丹。若因風痰聚於脾經，當導痰涎，二陳湯加竹瀝、薑汁，並用解語丹。若因腎經虛火上炎，當壯水之主，六味湯加遠志，石菖蒲。若因腎經虛寒厥逆，當益火之原，劉河澗地黃飲子，或用虎骨膠丸加鹿茸。若風寒客於會厭，聲音不揚者，用甘桔湯加疏散之藥，或兼服轉舌膏亦可也。</p>
<p>歪斜口角大秦艽，兩活辛芎草共膏，</p>
<p>芍術芩苓和二地，當歸防芷把名標。</p>
<p>此中血脈、中在經絡之中也，按：口眼喎邪，多屬胃土，而有筋脈之分。經云：足之陽明，手之太陽，筋急則口目則僻，皆急不能卒視，此胃土之筋病也。又云：足陽明之脈，挾口環唇，此胃土之脈為病也。口目常動，故風生焉。耳鼻常靜，故風息焉。先燒皂角薰之，以逐外邪。次燒降香薰之，以順血脈。再用酒煎桂枝，取汁一碗，軟青布浸收，左歪拓右，右歪拓左。</p>
<p>中風仆倒語難言，口噤牙關緊閉間，</p>
<p>皂角明礬吹取嚏，薑湯蘇合一丸研。</p>
<p>按：蘇合香丸，乃斬關奪命之將，為中風閉症而設。若或施之非風類中之脫症，如人已入井而反下之石，鮮有不隨藥而斃者也。用者審之。按：手三陽之筋結入於頷頰，足陽明之筋上夾於口，風寒乘虛入其筋則攣，故令牙關急而口禁也。</p>
<p>中腑身疼現六經，依經據理治宜分，</p>
<p>初然跌倒難言語，黑豆煎飴一味斟。</p>
<p>認明六經形證，仍遵仲景以外感之法治之。其有始初昏僕無知，脈症並無脫狀，宜先濃煎黑豆汁灌之即醒，然後隨症用藥。蓋黑豆善治虛風之聖品，昔葉天士嘗用療此，多效。</p>

<h2>厥僕辨治歌</h2>
<p><u>酒厥</u></p>
<p>體質魁梧飲酒頻，突然舌強語難清，喎斜口眼痰聲湧，煨葛山梔曲六君。</p>
<p><u>風厥</u></p>
<p>脅脹先疼肢不收，淋漓自汗便齊流，</p>
<p>牙關目瞤方犀角，草術參耆歸棗投。</p>
<p>二活芎防芩枳殼，姜膏麻菊配羚周，</p>
<p>怒多能食如前證，再繼逍遙病定廖。</p>
<p><u>虛厥</u></p>
<p>目睜上視僕如昏，溲汗無時脈少倫，久病陰虛陽暴絕，關元急灸獨參生。</p>
<p><u>血厥</u></p>
<p>無疾平居忽冒眩，驟然默默口無言，惡聞人語時方寤，鬱冒更名血厥煎。</p>
<p>此症宜倉公白薇散，其病名又謂之煎厥。</p>
<p><u>薄厥</u></p>
<p>怒氣傷肝火上奔，胸中氣亂厥呈形，證名薄厥蒲黃主，清酒加煎須飲溫。</p>
<p><u>屍厥</u></p>
<p>五屍穢氣暴淫人，離亂陰陽不順承，狀若死屍形似厥，調中正氣莫留停。</p>
<p><u>食厥</u></p>
<p>上身腹悶熱心煩，臍下如冰烘已寒，氣阻陽明為食厥，保和平胃自能安。</p>
<p><u>濕厥</u></p>
<p>大便稀溏小水黃，頭疼膝腫體拘傷，挾痰中濕由生熱，內外分消虛實詳。</p>
<p>此症宜與《感證類要》疫癘條下，軟腳瘟並參。</p>
<p><u>暑厥</u></p>
<p>面垢肢寒倒悶沉，渴來喘嘔利猶增，三陰中暑宜辛熱，大順香薷及臭靈。</p>
<p>靜而得之謂之中暑，名曰陰暑厥症。其有或納涼於廣廈，或過食於生冷，頭疼惡寒，肢節疼痛，大熱無汗，此陰寒所遏，陽氣不得發越，亦多厥僕。二者俱宜溫散。如輕者，香薷飲。重者，大順散，或研蒜水灌之。</p>
<p><u>熱厥</u></p>
<p>勞役長途赤日中，汗多氣少渴相從，躁煩頭痛名陽暑，膚熱昏迷白虎功。</p>
<p>動而得之謂之中熱，中熱者，陽症也。熱傷元氣，非形體受病也。或行役於長途，或務農於赤日，頭痛躁熱，肌膚大熱，大渴、多汗、少氣，宜蒼朮白虎湯主之。</p>
<p><u>痰厥</u></p>
<p>痰厥昏迷不省事，喉中卻似水雞聲，白礬牙皂研吹鼻，一盞香油灌即醒。</p>
<p>此症醒後，審明虛實，宜理氣消痰。</p>
<p><u>氣厥</u></p>
<p>氣厥依稀似中風，惟茲身冷不相同，有痰四七導痰飲，術桔芩連六子功。加用星蔞與蘇葉，或如正氣藿香逢，木沉香配檳榔枳，烏藥磨沖白酒濃。</p>
<p><u>蛔厥</u></p>
<p>蛔厥分明屬胃寒，吐蛔疼痛理中參，乾薑參朮休甘草，加入椒梅道豈凡。</p>
<p>此症理中湯主之。但蟲遇甜味更覺要痛，故方內要去甘草。蟲見酸辛則安，宜加川椒、烏梅。如痛甚者，可加苦楝樹根皮。</p>
<p><u>祟厥</u></p>
<p>忽倒塵埃暈不知，脈來兩手各參差，頃時灌醒喃喃語，大指須將艾灸施。下劑精詳原有秘，降檀豆蔻洎桃枝，藿烏姜草陳蒼樸，鹿角砂仁邪避馳。</p>
<p>是症宜灸大指鬼哭穴。病人床前可多焚降香。</p>
<p><u>惡厥</u></p>
<p>腸鳴寒粟起肌膚，客忤狂言面帶烏，厥逆迷沉口自噤，香丸蘇合灌能蘇。</p>
<p>蘇合丸，昔日廣東周少川制者，四遠馳名，用者立效。近日佛山鎮潘務本修合者，比眾更佳。</p>
<p>凡逢卒僕覺狐疑，湯用生薑且探迷，略待神思稍定後，認明證治擬方宜。</p>

<h2>明哲論選</h2>
<p>劉宗厚《玉機微義》云：余嘗至涼州，其地高阜，四時多風少雨，天氣常寒，每見中風或暴死者有之，蓋折風燥烈之甚也。時洪武乙亥秋八月，大風起自西北，時甘州城外路死者數人，余亦始悟經謂西北之折風傷人，主病暴死之旨不誣，丹溪之言有所本也。籲！醫之不明運氣地理造化之幾微，而欲行通變之法者，難矣哉。張介賓云：據此一說，是誠風之殺人也。然風氣兼溫，雖烈未必殺人。惟帶寒威則殺人耳。矧以西北地寒，而風寒起於八月，則寒隨風至，寒必徹骨。凡暴露之人，雖曰中風，而不知實中陰寒之毒也。此在強者固能支持，弱者焉得不死。然亦所遇之異，故特記。若此方是真中風邪，則亦百十年間，始方僅遭一、二，而此症之不多見者，從可知矣。此外如賊風、虛風之傷人，則歲歲有之，處處有之，是無非外感之病，未聞有因外感而卒然昏憒致死也。矧今人之所謂中風者，或於寂然無風之時，或於食飲嚴密之處，素無外感而忽然暈僕，忽然偏廢，此其似風非風，又可知矣。而盡以風治，其能堪乎。</p>
<p>喻嘉言《寓意草》云：《丹溪方書》有曰半身不遂，大率多痰，在左屬死血少血，宜四物湯加桃仁、紅花、竹瀝、薑汁。在右屬氣虛屬痰，宜二陳湯、四君子湯加竹瀝、薑汁。教人如此認症，因而復起後人之執著。至《內經》則無此說也。《內經》但言左右者，陰陽之道路。夫左右既為陰陽往還之道路，何嘗可偏執哉。況左半雖血為主，非氣以統之則不流。右半雖氣為主，非血以麗之則易散。故肝膽居左，其氣嘗行於右。脾胃居右，其氣嘗行於左。往來灌注，是以生生不息也。凡治一偏之病，法宜從陰引陽，從陽引陰，從左引右，從右引左。盍觀樹木之偏枯者，將溉其枯者乎。抑溉其未枯，使榮茂而因其條暢其枯者乎。</p>
<p>張景岳云：非風一證，即時人所謂中風證也。此症多見卒倒，卒倒多由昏憒，本皆內傷積損頹敗而然，原非外感風寒所致。而古今相傳，咸以中風名之，其誤甚矣。故余欲易去中風二字而擬名類風，又欲擬名屬風。然類風屬風，仍與風字相近，恐後人不解，仍爾模糊，故單用河澗、東垣之意，竟以非風名之，庶乎使人易曉，而知其本非風症矣。</p>
<p>又云：凡診諸病，必先宜正名。觀《內經》諸篇所言，風症各有淺深、臟腑、虛實、寒熱之不同，本皆歷歷可考也。若今人之所謂中風者，則以《內經》之厥逆，悉指為風矣，延誤至今，莫有辨者。雖丹溪云：今世所謂風者，大率與痿症混同論治，此說固亦有之，然何不云誤以厥逆為風也。惟近代徐東翛有云：痓厥類風，凡屍厥、痰厥、氣厥、血厥、酒厥、食厥等，皆與中風相類。此言若乎近之而殊，亦未善也。使果風厥相類，則凡臨是症者，曰風可也，曰厥亦可也。疑似未決，將從風乎，將從厥乎。一知經所言者，風自風，厥自厥也。風之與厥，一表症也，一里症也。豈得謂之相類耶。奈何後人不能辨察經義，而悉以厥症為風。既名為風，安得不從風治？既從風治，安得不用散風之藥？以風藥而散厥症，所散者非元氣乎？因致真陰愈傷，真氣愈失，是速其死矣。若知為厥，則原非外感，自與風字無涉，此名之不可不正，症之不可不辨也。但名得其正，又何至有誤治之患矣。</p>
<p>通一子云：凡非風等症，在古人諸書皆雲氣體虛弱，榮衛失調，則真氣耗散，腠理不密，故邪氣乘虛而入。此言感邪之由，豈不為善。然有邪無邪，則何可不辨。夫有邪者，即傷寒瘧痹之屬，無邪者，即非風衰敗之屬。有邪者，必或為風寒走注，或為腫痛偏枯，而神志依然無恙也。無邪者，本無痛苦寒熱，而肢節忽廢，精神言語，倏爾變常也。有邪者，病由乎經，即風寒濕三氣之外侵也。無邪者，病出乎臟，而精虛則氣去，所以為眩暈、卒倒；氣去則神去，所以為昏憒無知也。有邪者，邪必乘虛而入，故當先扶正氣，但通經逐邪之品，不得不用以為佐。無邪者，救本不暇，尚敢再為雜用，以傷及正氣乎。</p>
<p>張介賓曰：凡五臟皆能致病，而風厥等症何以獨重肝邪。且其急暴之若此也。蓋人之所賴以生者，惟在胃氣，以胃為水穀之本也。故經云人無胃氣曰死，脈無胃氣亦死。夫肝邪者，即胃氣之賊也，一勝則一負，不相併立。凡此非風等症，其病為強直掉眩之類，皆肝邪風木之化也。其為四肢不用，痰涎壅盛者，皆胃敗脾虛之候也。然雖曰東方之實，又豈果肝氣之有餘耶？正以五陽俱敗，肝失所養，則肝從邪化，是曰肝邪。故在「陰陽類論」以肝臟為最下者，正謂其木能犯土，肝能犯胃也。然肝邪之見，本由脾腎之虛，使脾土不虛，則肝木雖強，必無乘脾之患。使腎水不虛，則肝木得養，又何有強直之虞。所謂胃氣者，即二十五陽也，非獨指陽明為言也。所謂腎水者，即五臟六腑之精也，非獨指少陰為言也。然則真陽敗者，真臟見，真陰敗者，亦真臟見。凡脈證之見真臟者，俱為危敗之兆。所謂真臟者，即肝邪也，即無胃氣也，此即非風類中之大本也。</p>
<p>又云：凡非風卒倒等症，無非氣脫而然。何也？蓋人之生死，全由乎氣。氣聚則生，氣散則死。凡病此者，多以素不能慎，或七情內傷，或酒色過度，先傷五臟之真陰，此致病之本也。再或內外勞傷，復有所觸，以損一時之元氣，或以年力衰邁，氣血將離，則精損為頹，此發病之因也。蓋其陰虧於前而陽損於後，陰陷於下而陽乏於上，以致陰陽相失，精氣不交，所以忽爾昏憒，卒然仆倒，此非陽氣暴絕之候乎。故其為病而忽為汗出者，營衛之氣脫也。或為遺尿者，命門之氣脫也。或口開不合者，陽明經之氣脫也。或口角流涎者，太陰臟氣之脫也。或四肢癱軟者，肝脾之氣敗也。或昏倦無知，語言不出者，神敗於心，精敗於腎也。凡此皆衝任氣脫，形神俱敗而然。故必於中年之後，乃有此症，何今人見此，無不指為風痰，而治從消散。不知風中於外，痰鬱於中，皆實邪也。而實邪為病，何遽令人暴絕若此？且既絕如此，尚湛幾多消散？而人不能悟，良可哀也。觀東垣云：氣衰者多有此疾，誠知要之言也。奈後人不明其說，但以東垣為主氣，又豈知氣之為義乎。故凡治卒倒昏沉等症，若無痰氣阻塞，必須以大劑參、附峻補元氣，以先其急，隨用地黃、當歸、枸杞之類填補真陰，以培其本。蓋精即氣之根，氣生於下，即向生之氣也。經云：精化為氣，即此之謂。舍是之外，他無實濟之術矣。雖然，夫以養生失道，而病令至此，敗壞可知，猶望復全，誠非易也。第治得其法，猶可望其來復，若誤治之，則何堪再誤哉。</p>
<p>又云：凡非風之多痰者，悉由中虛而然。夫痰即水也，其本在腎，其標在脾。在腎者，以水不歸原，水泛為痰也。在脾者，以食飲不化，土不制水也。不觀之強壯之人，任其多飲多食，則隨食隨化，未見其為痰也。惟是不能食者，反能生痰，此以脾虛不能化食，而食即為痰也。故凡病虛勞者，其痰必多，而病至垂危，其痰益甚。正以脾氣愈虛、則全不能化，而水泛盡為痰也。然則痰之與病，病由痰乎，痰由病乎，豈非痰必由於虛乎。可見天下之實痰無幾，而痰之宜伐者亦無幾。故治痰者，必當溫脾強腎，以治痰之本，使根本漸充，則痰將不治而自去矣。</p>
<p>張會卿曰：余嘗聞之俗傳云：痰在周身，為病莫測。凡癱瘓瘛瘲，半身不遂等證，皆伏痰留滯而然。若此痰飲，豈非邪類，不去痰邪，病何由愈？余曰：汝知痰之所自乎，凡經絡之痰，蓋即津血之所化也。使果榮衛和調，則津自津，血自血，何痰之有？惟是元陽虧損，神機耗敗，則水中無氣而津凝血敗，皆化為痰耳。此果痰也，果津血也，豈以津血之外，而別有所謂痰者耶。若謂痰在經絡，非攻不去，則必並精血而盡去之，庶乎可也。否則，安有獨攻其痰，而津血自可無乎？津血復傷，元陽愈竭，隨去隨化，痰必愈甚。此所以治痰者不能盡，而所盡者，惟元氣也。矧復有本無痰氣，而妄指為痰，以誤攻之者，又何其昧之甚也。故凡用治痰之藥，如滾痰丸、清氣丸、化痰丸，搜風順氣之類，必其元氣無傷。偶有壅滯，而或見微痰之不清者，乃可暫用分消，豈云無效。若痰及元氣，而但知標，則未有不日用而日敗者矣。</p>
<p>又曰：肥人多有非風之症，以肥人多氣虛也。何以肥人反多氣虛？蓋人之形體，骨為君也，肉為臣也。肥人者，柔勝於剛，陰勝於陽者也。且肉以血成，總皆陰類，故肥人多有陽衰氣虛之症，而多濕多滯，故氣道多有不利。若果痰氣壅滯，則不得不先為清利，宜於備急治痰之法，隨宜暫用。若無痰而氣脫卒倒，必宜四君、六君、十全大補之類，重用參、附為主也。</p>
<p>凡非風初病，而痰氣不甚者，必不可猜其為痰而妄用痰藥，此大戒也。若果痰涎壅盛，填塞胸膈，湯液俱不能入，則不得不先開其痰，以通藥食之道。而開痰之法，惟吐為捷。如古方之獨聖散、茶調散、稀涎散之屬，皆吐痰之劑也。但恐元氣不足，不能當此峻利之物，或但用和陣中所附吐法為妥。或用牛黃丸、抱龍丸之類，但使咽喉氣通，能進湯飲即止，不可盡攻其痰，致令危困，則最所慎之。以故治痰之法，又必察其可攻與否，然後用之，斯無誤也。若其眼直、咬牙、肢體拘急，面赤、強勁有力者，雖見昏沉，亦為可治。先用粗筋之類，挖開其口，隨以堅實筆桿捺住牙關，乃用淡淡姜鹽湯，徐徐灌之，然後以中食二指探入喉中，徐引其吐。若指不能入，則以鵝翎蘸湯代指探吐亦可，如是數次，得吐氣通，必漸蘇矣。然後酌宜可以進藥治之，此治實痰壅滯之法也。若死症已具，而痰聲漉漉於喉間者，吐亦無益，不必吐也。若痰氣盛極而不能吐者，亦不治之症也。凡形氣大虛者，忌用吐法，是皆不可攻者也。</p>
<p>華岫云曰：風為百病之長，故醫書咸以中風列於首門。其論症有真中、類中，中經絡、血脈、腑腑之分，其論治則有攻風、劫痰、養血、潤燥、補氣、培元之治。蓋真中雖風從外來，亦由內虛，而邪得以乘虛以入。北方風氣剛勁，南方風氣柔和，故真中之病，南少北多。其真中之方，前人已大備，不必贅論。其類中之症，則河澗立論云：因煩勞五志過極，動火而卒中，皆因熱甚生火。東垣立論：因元氣不足，則邪湊之，令人僵仆卒倒如風狀，是因乎氣虛。而丹溪則又云：東方氣溫多濕，由濕生痰，痰生熱，熱生風，故主乎濕。三者，皆辨明類中之由。類者，偽也。近代以來，醫者不分真偽，每用羌、防、星、半、烏、附、細辛以祛風豁痰，虛證實治，不啻如枘鑿之殊矣。今觀葉天士先生醫案，發明內風，乃身中陽氣之變動，肝為風臟，因精血衰耗，水不涵木，木少滋榮，故肝陽偏亢，內風時起。治以滋液熄風，濡養營絡，補陰潛陽。如虎潛、固本、復脈之類是也。若陰陽並損，無陽則陰無以化，故以溫柔濡潤之劑補之，如地黃飲子、還少丹之類是也。更有風木過動，中土受戕，不能御其所勝，如不寐不食，衛疏汗泄，飲食變痰，治以六君、玉屏風、茯苓飲、酸棗仁湯之屬。或風陽上僭，痰火阻竅，神識不清，則有至寶丹芳香宣竅，或辛涼清上痰火。法雖未備，實足以補前人之未及。至於審症之法，有身體緩縱不收，耳聾、目瞀、眼合、撒手、遺水、失音、鼾睡，此本實，先撥陰陽。樞紐不交與暴脫無異，非是中外邪之風，乃純虛症也。故先生急用大劑參附以回陽，恐純剛難受，必佐陰藥，以挽回萬一。若身體拘攣，半身不遂，口眼喎邪、舌強言蹇、二便不爽，此本體先虛，風陽夾痰火壅塞，以致營衛脈絡不和。治法急則先用開關，緩則益氣養血，佐以消痰清火，宣通經隧之藥。氣充血盈，脈絡通利，則病可全愈。至於風痱、風懿、風痹，癱瘓，乃風門之兼，理亦相同。案中種種，治法未能盡宣其理，不過略舉大綱，分類敘述，以便後人觀覽。</p>
<p>鄒新甫曰：厥者，從下逆上之謂。痙者，明其風強之狀。所以二字，每每並言，原與傷寒門所載者有間，想是症總由氣血日偏，陰陽一併而成。譬如風雷猛烈，鬱極而發。若發而漸復者，猶可轉危為安。若發而轉逆者，必至直拔根荄乃已。考方書之名目不一，致病之因由亦繁。大抵可吐者，如痰食填塞於胸中，用瓜蒂散之類及燒鹽探引方法。可清可折者，如厥陽壯火升逆而莫制，用景岳玉女煎及《宣明》龍薈丸法。可開可降者，如氣厥，薄厥，而形氣暴絕，有五磨飲子及蒲黃酒法。穢濁蒙神而昏亂無知，有牛黃至寶及蘇合香丸之兩法。飛屍卒厥，先宜酒醴以引導，並可按穴而施針法及灸法。若從虛而論者，如內奪而厥，則為瘖痱，有地黃飲子通攝下焦法。煩勞陽張令人煎厥，有人參固本加金箔方，諸水為壯水制火法。血厥而陽騰絡沸，參乎從陰從陽法。色厥而精脫於下，急與大劑挽元法。腎厥宗許學士之椒、附以通陽。蛔厥有仲景之安蛔法。陽極用救陰峻劑。陰極有扶陽方法。種種規模，以為全備。及參葉氏案中，先生於是症，獨重在肝。蓋肝者，將軍之官，善幹他臟者也。肝氣一逆，則諸氣皆逆。氣逆則痰生，遂火沸、風旋、神迷、魂蕩，無所不至矣。若犯於上者，不免凌金爍液，有麥門冬湯及瓊玉膏之補金柔製法。若犯於中而為嘔為脹者，用六君去朮加木瓜、薑、芍之類，及附子粳米湯加人參、為補胃凝肝法。若震及心脾而為悸為消者，用甘麥大棗湯合龍、蠣之屬，為緩急重鎮法。若挾少陽之威而乘巔搖絡者，用羚羊、鉤藤、元參、連翹之劑，為熄風清絡法。若本臟自病而體用失和者，以椒、梅、桂、芍之類，為益體宣用法。若因母臟之虛而擾及子臟之位者，用三才配合龜甲、磁朱，及復脈減辛味，復入雞黃之屬，為安攝其子母法。至於痿厥之治，猶覺神奇，取血肉介類，改湯為膏，謂其力味重實，填隙止厥最速。此豈非補前人之未備，開後學之法門哉。參是案者，幸毋忽諸。</p>

<h2>尊生秘笈</h2>
<p>老子曰：穀神不死，是謂玄牝。玄牝之門，是謂天地根。綿綿若存，用之不勤。</p>
<p>又曰：生之門，死之戶。</p>
<p>廣成子曰：毋勞爾形，毋搖爾精，乃可以長生。</p>
<p>隱求子曰：培養精元貴節房，更祛塵累最為良，食惟半飽宜清淡，酒止三分勿過傷。藥餌隨時宜勉進，功名有分不須忙，幾行俚語君能味，便是長生不老方。</p>

<h2>集方附後</h2>
<p>是編之中應用湯丸，已經各證條下，隨症附歷註明者，茲不復載。惟將明哲論議之方，彙集於後，以便查閱。</p>
<p><u>決陰煎</u></p>
<p>熟地　當歸　澤瀉　牛膝　烏藥　肉桂</p>
<p><u>酸棗仁湯</u></p>
<p>棗仁　甘草　知母　茯苓　川芎</p>
<p><u>外臺茯苓飲</u></p>
<p>茯苓　人參　白朮　枳實　橘紅　生薑</p>
<p><u>還少丹</u></p>
<p>熟地　山藥　牛膝　枸杞　山萸　茯苓　杜仲　遠志　五味　小茴　巴戟　楮實　肉蓯蓉　石菖蒲</p>
<p><u>虎潛丸</u></p>
<p>熟地　龜板　黃柏　知母　瑣陽　當歸　牛膝　白芍　陳皮　虎脛骨　羯羊肉</p>
<p><u>固本丸</u></p>
<p>人參　天冬　麥冬　生地　熟地</p>
<p><u>玉屏風散</u></p>
<p>黃耆　白朮　防風</p>
<p><u>倉公白薇散</u></p>
<p>白薇　人參　當歸　甘草</p>
<p><u>蒲黃飲</u></p>
<p>蒲黃（五錢）　生熟各半，以酒煎熱服。</p>
<p><u>藿香正氣散</u></p>
<p>藿香　紫蘇　白芷　腹皮　茯苓　白朮　夏曲　厚朴　桔梗　甘草</p>
<p><u>平胃散</u></p>
<p>蒼朮　厚朴　陳皮　甘草</p>
<p><u>保和丸</u></p>
<p>山楂　神麯　茯苓　半夏　陳皮　連翹　蘿蔔子</p>
<p><u>大順散</u></p>
<p>乾薑　肉桂　杏仁　甘草</p>
<p><u>臭靈丹</u></p>
<p>即大蒜一味</p>
<p><u>四七湯</u>（一名七氣湯）</p>
<p>人參　官桂　半夏　甘草　生薑</p>
<p><u>金匱麥門冬湯</u></p>
<p>麥冬　半夏　人參　甘草　大棗　粳米</p>
<p><u>附子粳米湯</u></p>
<p>附子　半夏　甘草　粳米</p>
<p><u>甘麥大棗湯</u></p>
<p>甘草　小麥　大棗</p>
<p><u>三才湯</u></p>
<p>天冬　熟地　人參</p>
<p><u>瓊玉膏</u></p>
<p>地黃　茯苓　人參　白蜜　臞仙加琥珀、沉香。</p>
<p><u>玉女煎</u></p>
<p>熟地　石膏　知母　麥冬　牛膝</p>
<p><u>地黃飲子</u></p>
<p>熟地　巴戟　山萸　蓯蓉　附子　官桂　石斛　茯苓　菖蒲　遠志　麥冬　五味</p>
<p><u>當歸龍薈丸</u></p>
<p>當歸（五錢）　膽草（五錢）　山梔（一兩）　黃連（五錢）　黃柏（三錢）　黃芩　大黃（各一兩）　青黛（三錢）　蘆薈（一兩）　木香（三錢）　麝香（二錢）</p>
<p>蜜為丸，每丸計重三錢，薑湯調服。</p>
<p><u>至寶丹</u></p>
<p>犀角（鎊）　硃砂（飛）　雄黃（飛）　琥珀（碾）　玳瑁（鎊以上各一兩）</p>
<p>水安息香一兩以無灰，酒熬成膏。如無，以旱安息香代之。西牛黃五錢，麝香一錢，龍腦（即冰片）一錢，金、銀箔各五十片，共為極細末，將安息香膏重湯煮，入諸藥搜和，分作百丸蠟護，臨用參湯化下。</p>
<p><u>清心牛黃丸</u></p>
<p>黃連　黃芩　山梔　鬱金　辰砂　牛黃</p>
<p>上各一錢，共研勻煉蜜為丸，每丸計重五分，以竹心湯調服，或涼開水調送亦可。</p>
<p><u>神仙解語丹</u></p>
<p>白附子（炮）　石菖蒲（去毛）　遠志肉（甘草，水泡）　天麻　羌活　全蠍（去尾，甘草水洗）　陳膽星（各一兩）　廣木香（五錢）</p>
<p>上共為末，以麵糊為丸，如龍眼大，每服一丸，薄荷湯調下。</p>
<p><u>轉舌膏</u></p>
<p>連翹　遠志　薄荷　柿霜　山梔　防風　桔梗　黃芩（酒炒）　花粉　甘草　大黃（酒製，各五錢）　川芎　犀角（磨，晾乾，各三錢）</p>
<p>上共研勻煉蜜為丸，如彈大，硃砂為衣，每服一丸，薄荷五分，煎湯調下。</p>
<p><u>新方吐法</u></p>
<p>用蘿蔔子二兩搗碎，以滾水沖，攪勻略澱，徐徐服之，得快吐即住，以稀粥調養。</p>
<p><u>蒸臍法</u></p>
<p>薛立齋治寒淫於內，治宜辛熱。而神脫脈絕，藥不能下者，急炒鹽、艾、附子，熱熨臍腹，以散寒回陽，又以口氣補接其氣，又以附子作餅，熱貼臍間時許，神氣稍蘇，然後斟酌湯藥救之。</p>

<h1>跋</h1>
<p>醫必識病而後能立方。古方之傳於今者，無慮數萬首。古法之傳於今者，無慮數百家。醫者熟復於古人之法，因以通乎古人制方之意，則臨病有準繩，而術乃日精。粗工於軒、岐、長沙之書，曾未窺覽，即病機十九，猶茫然不能言。無論井、輸、榮、合之位置，蒼天、黔天之氣化也，而乃以空疏不學，自便創為古方不可治今病之說。噫，不知古法，而徒執其方，方不對病，病於何瘳？醫不自咎，轉以咎古人，不亦顛乎。</p>
<p>吾里楓山毛先生，倦遊醫部，與古為徒，嘗著《養生經驗合集》一書，於古方之有成效者，既審擇以示人。今又著《三信編》一書，則於古法加詳焉。其持論也，有本有源，而宅心之仁，用力之勤，皆於是乎見。是真能熟復古人之法，而精其術以濟世者矣。</p>
<p>昔《南史》稱，徐野人年八十猶歲讀五經一過，卒成大儒。今先生年八十餘，於著述如此，以視空疏不學者，居何等耶。余故忻然為識數言於簡末，一以為粗工勸，一以為古人快也。</p>
<p><u>同裡實庭錢枚拜跋</u></p>
