<header data-type="book">
<h1>醫學讀書記</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>尤怡</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1729">公元1729年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://archive.org/details/02093776.cn">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>徐序</h1>
<p>文中子云：醫者，意也；藥者，瀹也。謂先通其意，而後用藥物以疏瀹之也。善哉言乎！醫理在是矣，而意之通實難。泥一成之見，而欲強人之病以就吾說，其患在固執；好作聰明，而不窮究乎古人之成書，是猶兵家之廢陣圖，法吏之廢律令也，其患在不學。由前之說，在不能用意；由後之說，在誤於用意。夫然以不學之人，與不通不識，而又熾以忮同列，競名利之心，以此用藥，其不致抱薪而救火，持水而投石者幾何哉！語云：學書紙費，學醫人費，蓋為此也。尤君在涇，讀書好古士也，而肆其力於醫，於軒岐以下諸書，靡昕夕寒暑，穿穴幾遍，而以己意條貫之。其間凡有所得，筆之於書，日月既多，卷帙略定。辨五行之生克，察四氣之溫嚴，審人事之陰陽虛實，與夫藥性之君臣佐使。凡成書之沿誤者，釐而正之；古人紛紜聚訟者，折而衷之。夫惟多讀古人之書，斯能善用古人之書，不誤於用意，亦不泥於用意，於長沙氏之旨，庶幾得之，可謂通其意矣。抑吾觀太史公之傳扁鵲也，云長桑君以禁方盡與之，忽然不見，後遂能生死人，其說近於鬼物，其人不可再得；而其傳淳于意也，謂得禁方於公乘陽慶，傳黃帝扁鵲脈書五色診病，是多讀書而通於意者。扁鵲吾不得而見之矣，得見如淳于意者斯可矣。尤君之學不知於古人何如，然多讀書而通以意，是聞古人之風而興起者，由此書以治病，當不貽譏於人費也夫！</p>
<p><u>乾隆四年己未春三月松陵徐大椿靈胎敘</u></p>

<h1>鮑序</h1>
<p>昔陶元亮自言，好讀書，不求甚解，每有會意，便忻然忘食。昌黎進學解則云：記事者必提其要，積誠生悟。古今人不相遠也，即醫學亦何獨不然。吾郡尤在涇先生，讀書好古君子也，鍵戶潛修，不慕榮利，沉酣典籍，更邃於醫。其所著《傷寒貫珠集》、《金匱心典》、《金匱翼》諸書，皆能闡靈蘭之秘，接長沙之源；吸英吐華，鍛年煉月，出其餘蘊，成《讀書記》，簡而精，微而顯，引而伸之，觸類而長之，其足以嘉惠後學者，法乳所溉，瓣香到今。夫稚川之論名醫胚胎良史貞白之撰別錄，輔翼本經。方之古人，殆不多讓，無惑乎燼餘之簡，歷久彌新，徑寸之函，先睹為快。吾友謝君桂生，多學而精醫理，尤氏諸書，尤其服膺而深有得者，慨是書鋟版無存，借錄易舛，詳加校正，付剞劂氏，俾稽古之士，讀是記而並讀先生全書，讀全書而更能融貫古人之書，誠快事也。至先生文學德望，則諸書序文及家傳具存，傳中曾述先生句云：病來希逸春無分，老至淵明酒已捐，椰瓢松塵，揮酒自如，蓋有出塵之胸襟，乃有濟世之神術，彼挾名利之見者，詎可同日而語耶！抑聞之抱朴子讀道德五千言，謂當一字一拜。吾尤願讀是記者，字字深思，時時玩索，忻忻然意有所會，陶陶然樂自無涯。秋水空明，則養生之妙諦也；春風和藹，則活人之真詮也。嘻！微先生吾誰與歸？</p>
<p><u>光緒十四年冬月後學鮑晟謹識</u></p>

<h1>卷上</h1>

<h2>陽氣陰氣</h2>
<p>陽氣者，精則養神，柔則養筋。蓋陽之精如日，光明洞達，故養神；陽之柔如春景和暢，故養筋。</p>
<p>日月之行，不違其道；樞機之運，不離其位；陽氣之動，不失其所。故曰：欲如運樞，起居如驚，神氣乃浮。又曰：陽氣者，若天與日，失其所則折壽而不彰。</p>
<p>陽氣，天氣也；陰氣，地氣也。天氣不治，則地氣上干矣。故曰：陽氣者閉塞，地氣者冒明。雲霧出於地，而雨露降於天。地氣不治，則天氣不化矣。故曰：雲霧不精，則上應白露不下。蓋天地陰陽，本出一氣，陽失則陰不能獨成，陰失則陽不能獨化，自然之道也。人與天地參，故肺氣象天，病則多及二陰；大小腸象地，病則多及上竅。仲景以大黃甘草湯，治食已即吐。丹溪用吐法，治小便不通。豈非有見於此歟？</p>

<h2>四氣</h2>
<p>春氣，少陽初升之氣，陽方升而被抑，生氣不達，則臟氣內敗，猶木鬱則腐也。故曰：逆春氣，則少氣不生，肝氣內變。</p>
<p>夏為盛長之氣，心為太陽之臟。夏氣不長，則心氣不充，不充則內空若洞也。故曰：逆夏氣，則太陽不長，心氣內洞。</p>
<p>秋氣應收而反泄，秋真氣不斂，燥反乘之，則清肅之化，轉為鬱燠之化也。故曰逆秋氣，則太陰不收，肺氣焦滿。焦滿，猶煩滿也。</p>
<p>冬氣應藏而不藏，則少陰之經氣不歸，而腎中之臟氣獨沉。左氏所謂亂氣張脈，外強中乾是也。故曰逆冬氣，則少陰不藏，腎氣獨沉。</p>

<h2>氣相得則和不相得則病</h2>
<p>主氣，應節候而分布，歲以為常者也；客氣，隨司天而遞遷，六期而復始者也。而主客加臨，有相得、不相得之異。如子、午年，初之氣，主厥陰風木，客太陽寒水。二之氣，主少陰君火，客厥陰風木：以水加木，以木加火，母來生子，為相得也。三之氣，主少陽相火，客少陰君火；四之氣，主太陰濕土，客太陰濕土。以火遇火，以土遇土，主客同氣，為相得也；五之氣，主陽明燥金，客少陽相火：以火加金，金畏火制，為不相得也。六之氣，主太陽寒水，客陽明燥金：以金加水，金能生水，亦相得也。相得則和，不相得則病矣。其有相得而亦病者，如水臨金、金臨土、土臨火之屬，以子臨母，以下臨上，所謂不當位也，故亦病也。然須合歲運強弱而論之。如甲子年、歲土太過，三之氣為少陰君火，以火加土，則土益旺而無制，是雖相得而不相和也。庚子年，歲金太過，五之氣少陽相火，以火加金，金有制而反和，是雖不相得，而不為病也。又如水臨金、火臨木之屬，設遇金、木不及之運，則金得水而清，木得火而明，雖不當位，亦不病也。水臨土、木臨火之屬，設遇木、火太過之運，則土得火而堅，火得木而燔，雖當位，亦病也。更有進者，太過之土，木不能制者，金反得而泄之；不及之木，水不能滋者，火反得而養之；此天地生成之妙也。欲明運氣之理者，其可以淺求之耶？</p>

<h2>天符歲會</h2>
<p>應天為天符，承歲為歲直，三合為治。天，謂司天；歲，謂歲支；曰應、曰承，謂歲運也。司天行天之氣，歲支行地之氣，歲運行氣交之化，三者其氣不必皆同，而亦有時而同者。如戊寅、戊申歲，戊為火運，寅、申又為相火，是以歲運而同司天之氣，謂之天符。符者，同也，同於天也。如甲辰，甲戌歲，甲為土運，辰、戌又為土，是以歲運而同歲支之氣，謂之歲直。直者，值也，值其歲也。又曰歲會，會者，合也，合於歲也。若己丑、己未歲，歲運之土，既同天氣，又同歲支，謂之太乙天符，即經所謂三氣併合為治也。夫氣同者，其化同；其氣異者，其化異。化同則有相助為虐之害，化異則有互相剋賊之憂。然以不及之運，而得司天歲支之助，則不及之氣轉為平氣，而氣反治；若歲運太過，其氣已盛，而復得司天、歲支之合，三氣並治，其亢而害物，有不可言喻者矣。故曰：中執法者，其病速而危；中行令者，其病徐而持；中貴人者，其病暴而死。</p>

<h2>六元正紀</h2>
<p>《素問·六元正紀大論》分列六十年運氣、病治之紀，統論六氣司天在泉之政，可謂詳且盡矣。然而驗之於事，合之於時，往往不能相符。且也一年之間，九州之內，有東南旱乾而西北淫雨者，有西北焦槁而東南大水者，則九州分野，上應九宮，為地氣之不齊也。且有宋元豐四年，歲在辛酉，涸流之紀，而河決大水，則氣化勝復之異，胡源所謂歲水不及，侮而乘之者土也。土不務德，故以濕勝，寒時則有泉湧河衍涸流生魚，其變為驟注，為霖潰，名為少羽，而實與太宮之歲同者是也。是故五運六氣之理，不可不知也，亦不易知也。而況古今度數之有差等，天人感召之有休咎。執而泥之，刻舟而求劍者也；廢而棄之，亡筌而求者也。非沉潛之士，而具圓機之智者，烏足以誤此！</p>

<h2>《靈》《素》不同</h2>
<p>六節臟象論云：心為陽中之太陽，肺為陽中之太陰，腎為陰中之少陰，肝為陽中之少陽。而《靈樞》九針十二原云：陽中之少陰肺也，陽中之太陽心也，陰中之少陽肝也，陰中之太陰腎也。按《素》以肝為陽者，言其時；《靈》以肝為陰者，言其臟也。《素》以肺為太陰，腎為少陰者，舉其經之名；《靈》以肺為少陰，腎為太陰者，以肺為陰臟而居陽位，腎為陰臟而居陰位也。二經之不同如此。</p>
<p>經脈十二，絡脈十五，凡二十七氣以上下。所出為井，所溜為滎，所注為腧，所過為原，所行為經，所入為合。故本輸篇云：膀胱出於至陰，為井；溜於通谷，為滎；注於束骨，為腧；過於京骨，為原；行於崑崙，為經；入於委中，為合。膽出於竅陰，為井；溜於俠谿，注於臨泣，為腧；過於丘墟，為原；行於陽輔，為經；入於陽之陵泉，為合。胃出於厲兌，為井；溜於內庭，為滎；注於陷谷，為腧；過於衝陽，為原；行於解谿，為經；入於下陵為合。而《根結篇》云：足太陽根起於至陰，溜於京骨，注於崑崙，入於天柱、飛揚。足少陽根起於竅陰，溜於丘墟，注於陽輔，入於天容。足陽明根起於厲兌，溜於衝陽，注於下陵，入於人迎、豐隆。是以井、滎、腧、原、經、合之處，即一經所言，而亦有不同如此。</p>

<h2>《素問》傳寫之誤</h2>
<p>蒼天之氣，清淨則志意治，順之則陽氣固，雖有賊邪，弗能害也。故聖人傳精神，服天氣而通神明。按「傳」，當作「專」，言精神專一，則清淨弗擾，猶蒼天之氣也。老子所謂專氣致柔；太史公所謂精神專一，動合無形，瞻足萬物；班氏所謂專精神以輔天年者是也。若作「傳」，與義難通。王注精神可傳，惟聖人得道者乃能爾。予未知精神如何則傳也？</p>
<p>因於寒、因於暑二節，丹溪重定章句，為是。</p>
<p>脈乍疏乍數者死，謂氣亂而失常也。又少陽脈至，乍數、乍疏、乍短、乍長。夫少陽氣即未齊，其脈大小不同已耳！何至失其常度耳？按扁鵲陰陽法云：少陽之至，乍小、乍大、乍長、乍短。大豈好異而云然哉！</p>
<p>春脈太過，則令人善忘，忽忽眩冒而巔疾。王氏謂「忘」當作「怒」，是。</p>
<p>解脈令人腰痛，痛而引肩，目䀮䀮然，時遺溲。又云：解脈令人腰痛如引帶，常如折腰狀，善怒。詳本篇備舉諸經腰痛，乃獨遺帶脈，而重出解脈。按帶脈起於少腹之側，季脅之下，環身一周，如束帶然。則此所謂腰痛如引帶，常如折腰狀者，自是帶脈為病。云解脈者，傳寫之誤也。</p>
<p>血溫身熱者死。按：「溫」當作「溢」。夫血寒則凝而不流，熱則沸而不寧，溫則血之常也。身雖熱，何遽至死，惟血既流溢，復見身熱，則陽過亢而陰受逼，有不盡不已之勢，故死。今人失血之後，轉增身熱、咳嗽者，往往致死，概可見矣。</p>
<p>立而暑解，治其骸關。「暑解」當是「骨解」，言骨散墮如解也。「骨」與「暑」相似，傳寫之誤也。</p>
<p>診法常以平旦，陰氣未動，陽氣未散，飲食未進，經脈未盛，絡脈調勻，氣血未亂，故乃可診有過之脈。按營衛生會篇云：平旦陰盡，而陽受氣矣。夫陰方盡，何云未動？陽氣方受，何云未散？疑是「陽氣未動，陰氣未散」。「動」謂盛之著，「散」謂衰之極也。</p>

<h2>《甲乙》之誤</h2>
<p>《素問》曰：陰氣盛於上則下虛，下虛則腹脹滿。又曰：陽氣盛於上，則下氣重上而邪氣逆，逆則陽氣亂，陽氣亂則不知人。此二段乃岐伯分答黃帝問厥，或令人腹滿，或令人昏不知人二語之辭。所謂陰氣者，下氣也。下氣而盛於上，則下反無氣矣；無氣則不化，故腹脹滿也。所謂下氣者，即陰氣也。陽氣上盛，則陰氣上奔，陰從陽之義也。邪氣亦即陰氣，以其失正而上奔，即為邪氣。邪氣亦即陰氣，以其失正而上奔，即為邪氣。邪氣既逆，陽氣乃亂。氣治則明，亂則昏，故不知人也。《甲乙經》削「陽氣盛於上」五字，而增「腹滿」二字於「下虛則腹脹滿」之下，「則下氣重上」之上。林氏云：當從《甲乙》，謂未有陰氣盛於上，而又陽氣盛於上者。二公並未體認分答語辭，故其言如此，殆所謂習而弗察者耶！</p>
<p>心脈搏堅而長，當病舌卷不能言；其軟而散者，當消環自己。按「搏堅而長」者，太過之脈。心象火，而脈縈舌；心火有餘，故病舌卷不能言也。「軟而散」者，不足之脈。心者生之本，神之處；心不足則精神為消，如卑惵、遺亡、恐懼之類是也。「環自己」者，言經氣以次相傳，如環一周，復至其本位，而氣自復，病自已也。診要經終論云：刺中心者，環死。義與此同。「環自已」者，經盡氣復則生；「環死」者，經盡氣絕則死也。《甲乙經》「環」作「渴」，非。</p>
<p>推而外之，內而不外，有心腹積也；推而內之，外而不內，身有熱也；下而不上，頭項痛也；按之至骨，脈氣少者，腰脊痛而身有痹也。《甲乙經》「上而不下」作「下而不上」，「下而不上」作「上而不下」，非。蓋「上而不下」者，上盛而下虛，下虛則下無氣，故腰足冷；「下而不上」者，有降而無升，不升則上不榮，故頭項痛也。經文前二段是有餘之病，故受病處脈自著；後二段是不足之病，故當病之處脈反衰。按之至骨而脈氣少，為腰脊痛而身有痹者，亦不足之診也。經文虛實互舉，深切診要，自當從古。</p>

<h2>王注之誤</h2>
<p>《素問》曰：味過於苦，脾氣不濡，胃氣乃厚；味過於辛，經脈沮弛，精神乃央。注云：苦性堅燥，又養脾胃，故脾氣不濡，胃氣強厚；辛性潤澤，散養於筋，故令筋緩脈潤，精神長久。按經云：陰之所生，本在五味；陰之五宮，傷在五味。是以五臟資生於味，而味過反傷五臟。此所謂「脾氣不濡，胃氣乃厚」者，由脾不能為胃行其津液，而胃亦不能輸其精氣於脾也；胃不輸，脾不行，則津液獨滯於胃，而胃乃厚。「厚」猶滯也，寧強厚之足言哉？「沮」，消沮也。「弛」，懈弛也。由辛散太過，而血氣消沮，筋脈懈弛，精氣衰及其半也，豈潤澤長久之謂哉？以過為正，以傷為益，誤矣！誤矣！</p>
<p>切脈動靜，而視精明。精明者，兩目之精光也。注云：明堂左右近目之穴，非是。下文云：精明者，所以視萬物、別黑白，審短長。然則非目中之精明而何？</p>
<p>肺脈軟而散者，當病灌汗，至今不復散發也。「灌汗」者，汗出淋漓，如以水灌之。謂肺氣衰弱，故散而不收也。至秋肺金司令之時，其氣自收，其汗自斂，而不復散發也。非寒水灌洗，皮密無汗之謂也。</p>
<p>胃脈沉鼓澀，胃外鼓大，心脈小堅急，皆鬲、偏枯，男子發左，女子發右。不喑、舌轉可治，三十日起；其從者喑，三歲死。王注云：「從」謂男子發左，女子發右也。然則經文何必更出「其從者」三字？按《玉版論要》云：男左為逆，右為從；女子右為逆，左為從。本文蓋謂男子發左，女子發右，於法為逆，然不喑、舌轉，則受邪輕，故證雖逆，而猶可治；若男子發右，女子發左，於法為從，然喑則受邪重，證雖從，必三歲乃起也，設逆而邪重者，必死不治。從而邪微者，奚待三歲而後起哉？</p>
<p>西北之氣，散而寒之；東南之氣，收而溫之。蓋西北寒束於外，而陽聚於內，故宜散而寒；東南陽泄於外，而陰伏於內，故宜收而溫。非食冷、食熱之謂也。</p>

<h2>心欲軟腎欲堅</h2>
<p>心欲軟，急食鹹以軟之；腎欲堅，急食苦以堅之。蓋心於象為離，腎於象為坎。坎之明在內，以剛健而行之於外，故欲堅；離之明在外，當柔順而養之於中，故欲軟。軟者，必以咸；堅者，必以苦。咸從水化，苦從火化也。夫坎水潤下，愈下則陷矣，故以行為尚。《易》曰：行有尚吉，往有功也。離火炎上，愈上則焚矣，故以蓄為吉。《易》曰：離利貞亨，畜牝牛吉也。然則所以堅之、軟之者，固欲其水上、火上，而成心腎交通之妙歟！</p>

<h2>三陽在頭三陰在手</h2>
<p>三陽外感，診在人迎；人迎者，結喉兩旁動脈，故曰三陽在頭。三陰內傷，診在氣口；氣口即寸口也，故曰三陰在手。</p>

<h2>脾氣外絕</h2>
<p>脈浮大虛者，是脾氣之外絕，去胃外歸陽明也。言脾虛氣下，不為胃行精氣，而與大腸驅糟粕也。人有不能食而數便利者，非脾去胃歸陽明之故歟！</p>

<h2>勞風</h2>
<p>勞風法在肺下。其為病也，強上冥視，唾出若涕，惡風而振寒。治之奈何？曰：以救俯仰，巨陽引精者三日，中年者五日，不精者七日，咳出青黃涕，其狀如膿，大如彈丸、從口中或鼻中出，不出則傷肺，傷肺則死矣。讀此，可悟傷風不解成癆之故。勞風者，既勞而又受風也。勞則火起於上，而風又乘之，風火相搏，氣湊於上，故云法在肺下也。肺主氣而司呼吸，風熱在肺，其液必結，其氣必壅，是以俯仰皆不順利，故曰當救俯仰也。救俯仰者，即利肺氣、散邪氣之謂乎？然邪氣之散與否，在平正氣之盛與衰。若陽氣旺而精氣引者，三日，次五日，又次七日，則青黃之涕從咳而出，出則風熱俱去，而肺無恙矣。設不出，則風火留積肺中而肺傷，肺傷則喘咳聲嘶，漸及五臟，而虛勞之病成矣。今人治勞，日用滋養而不少益者，非以邪氣未出之故歟？而久留之邪，補之固無益，清之亦不解，虛勞病之所以難治也。</p>
<p>再按《脈解篇》云：太陽所謂強上引背者，陽氣大上而爭，故強上也。勞風之病，火在上而風乘之，風、火皆陽也；風性善行，火性炎上，非所謂陽氣大上而爭者乎？</p>

<h2>結陽結陰</h2>
<p>結陽者，腫四肢；結陰者，便血一升，再結二升，三結三升。結陽，陽聚而實也。四肢者，諸陽之本。陽實，則四肢腫也。結陰，陰氣凝聚，不與陽氣相通也。夫陽所以舉陰氣者也，陰無陽而獨，則不復周流四布，有墜而下出耳！再結、三結，謂二陰、三陰並結不解，結愈甚者，下愈多也。</p>

<h2>胃脘癰</h2>
<p>人病胃脘癰者，診當候胃脈。其脈當沉細，沉細者氣逆，逆者人迎甚盛，甚盛則熱。人迎者，胃脈也。逆而甚，則熱聚於胃口而不行，故胃脘為癰也。按人迎在頭，趺陽在足，皆胃脈也。云當候胃脈者，謂趺陽也。趺陽脈不必沉且細，而今沉且細者，氣逆於上，而下乃虛，下虛則沉細也。人迎甚盛者，氣逆於上則上盛，上盛故人迎甚盛。夫氣聚於上而熱不行，胃脘壅遏，得不蓄積為癰耶？</p>

<h2>腸覃石瘕</h2>
<p>覃，延也，瘜肉蔓延，與腸相著。瘕，假也，假血成形，積於胞中。血積易去，故曰可導而下；瘜肉漸大，則消之非易，故曰狀如懷子，久者離歲。</p>

<h2>肺消</h2>
<p>心移寒於肺，為肺消；肺消者，飲一溲二，死不治。肺居上焦，而司氣化。肺熱則不肅，不肅則水不下；肺寒則氣不化，不化則水不布。不特所飲之水直趨而下，且並身中所有之津，盡從下趨之勢，有降無升，生氣乃息，故曰：「飲一溲二，死不治。」</p>

<h2>四維相代</h2>
<p>四維，四肢也。相代，相繼為腫也。四肢為諸陽所實之處，相繼為腫者，氣餒而行不齊也，故曰「陽氣乃竭」。</p>

<h2>四肢不舉</h2>
<p>玉機真臟論云：脾脈太過，則令人四肢不舉；其不及，則令人九竅不通。《靈樞》本神篇云：脾氣虛則四肢不用；實則腹脹、涇溲不利。蓋脾虛則營衛涸竭，不能行其氣於四肢，而為之不舉；脾實則營衛遏絕，亦不能行其氣於四肢，而為之不舉。九竅亦然。兩經互言之者，所以窮其變也。</p>

<h2>折髀</h2>
<p>胃脈搏堅而長，其色赤，當病折髀。胃土太過，而火復益之，腑陽獨盛，臟陰受傷，則髀痛如折也。</p>

<h2>水液渾濁</h2>
<p>水液渾濁，有脾經穀氣不化，濕熱下流；亦有因肺金氣衰，而便液停凝。蓋肺司州都之氣化，中氣不足，則溲便為之變。未可執其「皆屬於熱」之一語而施治也。</p>

<h2>厥</h2>
<p>巨陽主氣，故先受邪；少陰與其為表裡也，得熱則上從之，從之則厥也。故有風熱小恙，而亦面赤、足冷者。如是則解外之邪，必靖內之氣，設徒與表藥，真陽隨越，故曰表裡刺之，飲之服湯。</p>

<h2>煎厥</h2>
<p>煎厥，即熱厥也。火迫於下，氣逆於上，為厥逆而熱煩也。潰潰乎若壞都，汩汩乎不可止者，言其精神散敗，若土之崩，若水之放，而不可復收之、掩之也。</p>

<h2>氣泄</h2>
<p>心脈不及，則令人煩心，上見咳唾，下為氣泄。氣泄者，氣隨便失。脾腸之病，即氣利也，乃火不足，而土受病也。</p>

<h2>瘧</h2>
<p>瘧脈緩大虛，調以甘藥。凡諸瘧而脈不見，刺十指間出血，血出必已。故初病脈不出者，多是氣血壅遏所致，無用張皇，遽投溫補，亦致敗事。</p>

<h2>氣痹精少皆能生寒</h2>
<p>人身非衣寒也，中非有寒氣也，寒從中生者何？是人多痹氣也。又腎者水也，而生於骨，腎不生則髓不能滿，故寒甚至骨也。是故氣痹、精少，皆能生寒，不必謂其定責陽虛也。</p>

<h2>刺久病</h2>
<p>刺久病者，深內而久留之，間日而復取之，必先調其左右，去其血脈。愚謂此刺道也，可通藥之用矣。以其病久入深，故必深內；以其陰氣難得，故必久留。間日者，休其氣也。調其左右，去其血脈者，調其未病之處，使血脈流通也。以丸藥攻其病，以甘藥養其正，且進且止，毋速其效，以平為期，藥之道盡矣。</p>

<h1>卷中</h1>

<h2>風寒營衛之辨</h2>
<p>風為陽邪而上行，衛為陽氣而主外，以陽從陽，其氣必浮，故曰「陽浮者熱自發」。陽得風而反強，陰無邪而反弱，以弱從強，其氣必餒，故曰「陰弱者汗自出」。</p>
<p>傷寒發熱者，陽氣被鬱而不伸也；中風發熱者，陽氣被引而外浮也。郁者必發之，浮者不徒解散而已。此桂枝湯所以兼陰陽、通合散為劑也。</p>
<p>仲景衛強營弱之說，不過發明所以發熱、汗出之故。後人不察、遂有風並於衛，衛實而營虛；寒中於營，營實而衛虛之辨。不知邪氣之來，自皮毛而至肌肉，無論中風、傷寒，未有不及於衛者，甚者乃並傷於營耳！郭白雲所謂涉衛中營者是也。衛病而營和，則汗自出；營與衛俱病，則無汗矣。無汗必發其汗，麻黃湯所以去表實而發邪氣也；有汗不可更發汗，桂枝湯所以助表氣而逐邪氣也。學者但分病證之有汗、無汗，以嚴麻黃、桂枝之用，不必執營衛之孰虛孰實，以證傷寒、中風之殊。且無汗為表實，何云衛虛？麻黃之去實，寧獨遺衛？能不膠於俗說者，斯為豪傑之士。營衛本是和諧，衛受邪而反強，榮無邪而覺弱，邪正不同，強弱異等，雖欲和諧，不可得矣，故曰營氣和者外不諧。</p>
<p>傷寒分立三綱：桂枝主風傷衛，麻黃主寒傷營，大青龍主風寒兩傷營衛。其說始於叔微許氏，而成於中行方氏、嘉言喻氏。以愚觀之，桂枝主風傷衛則是，麻黃主寒傷營則非。蓋有衛病而營不病者，未有營病而衛不病者也。至於大青龍證，其立方之旨，因煩躁而獨加石膏。王文祿所謂風寒並重，而閉熱於經，故加石膏於發散藥中者是也。若不過風寒併發，則麻黃、桂枝已足勝其任矣，何必更須石膏哉？</p>
<p>寒邪閉皮毛而鬱陽氣，是以發熱而汗不出。麻黃、杏仁開肺氣、發腠理。若桂枝、甘草，為辛甘發散之用也。風邪不能外閉陽氣，而反內擾陰氣，是以其汗自出。用芍藥者，所以救其營也。書謂風邪傷衛，營未受病，與芍藥以安營者，尚隔一層。</p>

<h2>寒邪六經俱受不必定自太陽</h2>
<p>傷寒傳經次第，先太陽，次陽明，次少陽，次太陰，次少陰，次厥陰，此其常也。然而風寒之邪，亦有徑中陽明者。仲景云：陽明中風，口苦，咽乾，腹滿，微喘，發熱，惡寒，脈浮而緊。又少陽中風，兩耳無所聞，目赤，胸中滿而煩者是也。不獨陽明、少陽為然，即三陰亦有之。云少陰病始得之，反發熱、脈沉者，少陰初受寒邪之症也。太陰中風，四肢煩疼，陽微陰澀而長者，太陰初受風邪之症也。厥陰中風，脈微浮為欲愈，不浮為未愈，此厥陰初受風邪之脈也。此三者，又與三陰直中不同。直中者，病在臟，此則病在經也。是以六經皆能自受風寒，何必盡從太陽傳入；即從太陽傳入，亦不必循經遞進。海藏言之最詳，茲不重述。</p>
<p>傷寒傳足不傳手者，寒邪中人，先著皮膚，而足太陽膀胱之脈，在最外一層，故先入之；稍深則去皮膚而入肌肉，肌肉為足陽陰之分，故次入之；又稍深則在軀殼之內，臟腑之外？而足少陽之脈，正當半表半裡之間，故又次入之。迨去表而之裡，離陽而入陰，則三陰者，太陰為開，厥陰為闔，少陰為樞，故邪氣入之，先太陰，次少陰，次厥陰也。合而言之，陽主表而陰主裡，表為腑而里五臟，故邪氣在表，則足三陽受之，在裡則足三陰受之也。手之三陽，雖亦主表，而太陽小腸、少陽三焦、陽明大腸，並從手至於頭，位偏而脈短，不若足經之自下行上，綱維一身也。手之三陰，雖亦主裡，然太陰肺、少陰心、厥陰胞絡，並處上焦，不若肝、脾、腎之實居陰位也。是故手三陽經雖陽，而脈絀於表，惟足三陽為獨主陽之表；手三陰臟雖陰，而位不處陰，惟足三陰為獨主陰之裡。傷寒之邪，所以恆在足而不在手歟！發明所謂傷寒止傷西北，而不傷東南，亦穿鑿之語。夫邪氣侵淫，自足及手者有之。如《玉機》所謂足經實，手經虛，故能冤熱。潔古所謂壬病傳丙、丙病傳丁者是也。然非汗下差誤，或七情勞倦之故，焉有傳及手經者哉？</p>

<h2>陽結陰結</h2>
<p>脈浮而數，能食，不大便者，名曰陽結，十七日當劇；脈沉而遲，不能食，身體重，大便反硬，名曰陰結，十四日當劇。蓋天人之氣，十五日一更，更則結者當解，設不解，其病則劇。云十七日者，陽結能食，故過期；十四日者，陰結不能食，故不及期也。成氏過結再傳之說，失之泥矣。</p>

<h2>縱橫</h2>
<p>傷寒，腹滿，譫語，寸口脈浮而緊，此肝乘脾也，名曰縱，刺期門；傷寒，發熱，嗇嗇惡寒，大渴欲飲水，其腹必滿，自汗出，小便利，此肝乘肺也，名曰橫，刺期門。按腹滿、譫語，其脈當實沉，而反浮緊，此非裡實，乃肝邪乘脾，氣窒而實也；發熱，惡寒，病為在表，其證本不當渴，而反大渴，此非內熱，乃肝邪乘肺，氣鬱而燥也。以里無熱，不能消水，故腹滿，而汗出便利，則肺氣已行，故愈。二者俱瀉肝邪則愈，設不知而攻其實熱，則誤矣。此病機之變，不可不審也。</p>

<h2>戰慄</h2>
<p>邪氣入，正氣抑，則病；正氣復，邪氣退，則汗出而愈矣。然邪猶未強而未即服，正猶微而未即勝，此所以戰也。</p>
<p>邪氣外與正爭，則為戰；內與正爭，則為慄。慄者，心內鼓慄。經曰：陰中於邪，必內慄也。若戰，則但肢體戰搖而已。戰者，正氣勝，則有得汗而解者；慄者，內氣虛，不能御邪，遂成厥脫也。</p>

<h2>熱入血室</h2>
<p>熱入血室三條，其旨不同。第一條，是血舍空而熱乃入者，空則熱不得聚，而遊其部，故胸脅滿。第二條，是熱邪與血俱結於血室者，血結亦能作寒熱，柴胡亦能去血結，不獨和解之謂矣。第三條，是熱邪入而結，經尚行者，經行則熱亦行而不得留，故必自愈，無犯胃氣及上二焦，病在血而不在氣，在下而不在上也。若誅伐無過，變證隨出，烏能自愈耶？</p>

<h2>圊血</h2>
<p>下利，寸脈反浮數者，陽之盛也；尺中自澀者，陰之虛也。以陽加陰，必圊膿血。</p>
<p>少陰熱在膀胱而便血者，臟邪還腑，血去熱出，當愈；強發少陰汗而動血者，熱邪內迫，血去陰竭，多死。</p>

<h2>吐利煩躁四逆</h2>
<p>少陰病吐利，煩躁，四逆者死，為陰極而陽絕也；少陰吐利，手足厥冷，煩躁欲死者，吳茱萸湯主之，為陰盛而陽爭也。病症則同，而辨之於爭與絕之間，蓋亦微矣。</p>

<h2>亡陽無陽</h2>
<p>亡陽，陽不守也；無陽，陽之弱也。陽亡者，藩籬已徹，故汗出不止；陽弱者，施化無權，故不能作汗。</p>

<h2>絕陽</h2>
<p>陽為津液之源，津液為陽之根。汗出過多，胃氣生熱，津液竭矣。陽氣雖存，根本則離，故曰絕陽。</p>

<h2>厥</h2>
<p>傷寒脈促，手足厥逆者，可灸之。按本論云：脈陽盛則促，則手足厥逆。而脈促者，非陽之虛，乃陽不通也；灸之，所以引陽外通。若厥而脈微者，則必更以四逆溫之。</p>
<p>病人手足厥冷，脈乍緊者，邪結在胸中。胸中，陽也，陽實氣於四肢。邪結胸中，其陽不布，則手足無氣而厥冷。胸邪最高，高者因而越之，故曰當吐之，宜瓜蒂散。脈促者，陽結不通，故宜引其陽；脈緊者陽為邪遏，故須吐其邪。二者皆與陽虛厥逆不同。</p>
<p>脈微而厥者，陽之虛也，宜四逆輩；脈細而厥者，血虛不營於四末也，宜酸甘辛藥溫之、潤之、行之，當歸四逆是也。</p>

<h2>厥熱</h2>
<p>傷寒先厥者，寒邪乍中，陽氣暴折也；後熱者，陽氣漸復，陰邪將卻也。五日厥，熱亦五日者，陰勝陽復之常也。厥深者，熱亦深；厥微者，熱亦微。謂有勝則有復，勝之甚者，其復亦甚。非以外厥之微甚，卜裡熱之淺深也。</p>
<p>傷寒前厥而後熱者，其病多吉，陽復而陰剝也；前熱而後厥者，其病多凶，陰進而陽退也。</p>
<p>厥四日，熱反三日，即顯陽微之機，不待復厥，至五日而知其病之進也；熱四日，厥反三日即顯陰負之兆，不待復熱，至五日而知其病之必愈也。</p>

<h2>三陰下症</h2>
<p>太陰，有桂枝加大黃湯下之一症；少陰，有大承氣急下三症；厥陰，有小承氣下之一症。夫邪入三陰，病已深矣，其幸而不死者，其邪仍從陽而出耳！張季明所謂太陰脾經，溫燥不行，亦當溫利自陽明出，如桂枝加大黃是也；少陰腎經，雖用附子，復使麻黃，厥陰肝經用桂枝，則知少陰亦自太陽出，厥陰亦自少陽出；及其太陽、少陽鬱閉不行，則當自陽明出。故三陰皆有下症也。</p>

<h2>桂枝湯</h2>
<p>風之為氣，能動陽氣而泄津液，所以發熱、汗自出，與傷寒之發熱、無汗不同。此用桂枝外發邪氣，即以芍藥內安津液；炙甘草合桂枝之辛，足以攘外，合芍藥之酸，足以安內；生薑、大棗甘辛相合，亦助正氣去邪之用。蓋以肌解而邪不去，故不用麻黃髮表，而以桂枝助陽以為表；以其汗出而營自和，故不用石膏之清裡，而用芍藥斂陰以為里。此桂枝湯之所以大異於麻黃、大青龍也。</p>

<h2>麻黃湯</h2>
<p>寒邪傷人陽氣，鬱而成熱，皮膚閉而成實，麻黃輕以去實，辛以發陽氣，溫以散寒氣。杏仁佐麻黃通肺氣，使腠理開泄，王好古謂其為治衛實之藥者是也。然泄而不收、升而不降，桂枝、甘草雖以佐之，實監製之耳！東垣云：麻黃湯是陽經衛藥也，開腠理使陽氣申泄，此藥為衛實也。</p>

<h2>大小青龍湯</h2>
<p>大青龍治風寒外壅，而閉熱於經者；小青龍治風寒外壅，而伏飲於內者。夫熱鬱於經，而不用石膏，汗為熱隔，寧有能發之者乎？飲伏於內，而不用薑、夏，邪與飲摶，寧有能散之者乎？其芍藥、五味，不特靖逆氣而安肺氣，抑且制麻、桂、薑、辛之勢，使不相鶩而相就，以成內外協濟之功也。</p>

<h2>桂枝去芍藥加蜀漆龍骨牡蠣救逆湯</h2>
<p>傷寒脈浮，醫以火迫劫之亡陽，必驚狂、起臥不安者，桂枝去芍藥加蜀漆龍骨牡蠣救逆湯主之。按此所謂陽者，乃心之陽，蓋即神也。火氣通於心，神被迫而不收，與發汗亡陽者不同。發汗者，動其腎，則厥逆、筋惕肉瞤，故當用四逆；被火者，傷其心，則驚狂、起臥不安，故當用龍、牡。其去芍藥，加蜀漆者，蓋欲甘辛急復心陽，而不須酸味更益營氣也。與發汗後，其人叉手自冒心、心下悸欲得按者，用桂枝甘草湯同。蜀漆即常山苗，味辛，能去胸中邪結氣。此症火氣內逼心包，故須以逐邪而安正耳！</p>

<h2>五苓豬苓</h2>
<p>五苓、豬苓，並治脈浮，發熱，渴而小便不利之症。然五苓則加桂枝、白朮，而治太陽；豬苓則加滑石、阿膠，而治陽明。蓋太陽為開，陽明為闔。太陽為表之表，其受邪也，可以熱發，可以辛散；陽明為表之裡，其氣難泄，其熱易蓄，其發散攻取，自與太陽不同。是以五苓散加甘辛溫藥，假陽氣以行水；豬苓湯加甘鹹寒藥，假陰氣以利水也。</p>

<h2>瀉心諸湯</h2>
<p>傷寒下後，心下滿而不痛者，為痞，半夏瀉心湯主之。蓋客邪內陷，既不可從汗泄；而痞不實，又不可從下奪。故惟半夏、乾薑之辛，能散其結；芩、連之苦，能泄其滿。熱其所以泄、散者，雖藥之能，而實胃氣之使也。此用人參、甘草者，非以下後中傷，故以益氣而助其能耶！</p>
<p>甘草瀉心、生薑瀉心，雖同為治痞之劑，而生薑瀉心意在胃中不和，故加辛溫以和胃；甘草瀉心意在下利不止與客氣上逆，故不欲人參之增氣，而須甘草之安中也。</p>
<p>大黃黃連瀉心腸，治傷寒汗下後心下痞，按之濡，其脈關上浮者。成氏云：此虛熱也，與大黃、黃連以導其虛熱。按成氏所謂虛熱者，對燥屎而言也。蓋邪熱入里，與糟粕相結，則為實熱；不與糟粕相結，則為虛熱；非陰虛、陽虛之謂。本方以大黃、黃連為劑，而不用枳、樸等藥者，蓋以泄熱，非以蕩實熱也。</p>

<h2>白通四逆</h2>
<p>白通、四逆，俱用薑、附，俱為扶陽抑陰之劑。而白通意在通陽，故用蔥白，凡厥而下利脈微者用之；四逆意在救里，故用甘草，凡厥而清穀不止者用之。若通脈四逆，則進而從陽，以收外散之熱；白通加人尿豬膽汁，則退而就陰，以去格拒之寒也。</p>

<h2>麻杏甘石湯</h2>
<p>汗出而喘，無大熱者，其邪不在經腠，而在肺中，故非桂枝所能發。麻、杏辛甘，入肺散邪氣；肺被邪鬱而生熱，石膏辛寒，入肺除熱氣；甘草甘溫，安中氣，且以助其散邪清熱之用。乃肺臟邪氣發喘之的劑也。</p>

<h2>飲證類傷寒</h2>
<p>傷寒若吐若下後，心下逆滿，氣上衝胸云云。按此非傷寒症，乃屬飲家也。《金匱》云；膈間支飲，其人喘滿，心下痞堅，得之數十日，醫吐下之不愈，木防己湯主義。又云：其人振振身瞤動者，必有伏飲。又云：心下有痰飲，胸脅支滿、目眩是也。成氏以為裡虛氣逆，與此藥和經、益陽、散氣，恐未切當。</p>
<p>病如桂枝症，頭不痛，項不強，寸脈微浮，胸中痞硬，氣上衝咽喉不得息者，此為胸有寒也，當吐之，宜瓜蒂散。寒，謂寒飲，非寒邪也。此亦痰飲類傷寒症。《活人書》云：痰飲之為病，能令人增寒發熱，狀類傷寒，但頭不痛、項不強為異耳！</p>

<h2>簡誤</h2>
<p>汗多則熱愈，汗少則便難。疑是汗少則熱愈，汗多則便難。太陽篇云：脈陽微而汗出少者，為自和也；汗出多者，為太過。陽脈實，因發其汗出多者，為亦太過，太過為陽絕於里，亡津液，大便因硬也。成氏謂汗少則邪熱不盡，又走其津液者，非。</p>
<p>太陽病十日已去，脈浮細而嗜臥者，外已解也。設胸滿、脅痛者，與小柴胡湯；脈但浮者，與麻黃湯。謂脈但浮而不細，嗜臥者，邪猶在外，宜麻黃湯；脈浮細，不嗜臥，而胸滿、脅痛者，邪又在少陽，宜小柴胡湯。非外已解，而又和之、發之之謂也。</p>
<p>太陽病，脈浮緊，無汗，發熱，身疼痛，八九日不解，表症仍在，此當發其汗。服藥已微除，其人發煩，目瞑，劇者必衄，衄乃解。所以然者，陽氣重故也，麻黃湯主之。按「麻黃湯主之」句，當在「此當發其汗」下。謂服麻黃湯已，病雖未除，而又發煩，目瞑；劇者，陽邪上盛，必將衄血而後解。非既衄血，而又以麻黃湯發之也。然亦須審微、甚而處之。若其欲衄而血不流，雖衄而邪不解者，則仍宜發汗。仲景云：傷寒脈浮緊，不發汗，因致衄者，麻黃湯主之是也。</p>
<p>傷寒脈浮滑，此表有熱，里有寒，白虎湯主之。按陽明篇云：傷寒無大熱，口燥渴，心煩，背微惡寒者，白虎湯主之。厥陰篇云：傷寒脈滑而厥者，里有熱也，白虎湯主之。審此，本文當作里有熱，表有寒；表寒即手足厥、背惡寒之謂。蓋傳寫之誤，不必曲為之解也。</p>
<p>症象陽旦一條，蓋即前條之意，而設為問答，中間語意殊無倫次，豈後人之文耶？昔人讀《考工記》，謂不類於周官。余於此條亦云。</p>
<p>下利清穀，汗出，必脹滿者，傷其陽而氣不行。成氏謂亡津液者，非也。</p>
<p>寒實結胸，無熱證者，與三物小陷胸湯，白散亦可服。當作寒實結胸，無熱證者，與三物白散。舊本必有誤也。既已寒實，何可更用栝蔞、黃連寒藥耶？</p>

<h2>傷寒雜論</h2>
<p>太陽病，初服桂枝湯而反煩者，陽邪痹於陽而不散也，故先刺風池、風府，以通其痹。</p>
<p>陽邪被抑而未服者，仍當從陽因而去之。此桂枝湯去芍藥之意。</p>
<p>病在陽而反下之，邪氣被抑而未復，正氣方虛而不振，是以其脈多促。然當辨其仍在表者，則純以辛甘發之，桂枝去芍藥湯是也；辨其兼入里者，則並以苦寒清之，葛根黃芩黃連湯是也。</p>
<p>余寇未平，復合為亂；餘邪未淨，復集為病。傷寒發汗解，半日許復煩是也。</p>
<p>大下之下之後，復發汗三條，均是汗、下之後。然小便不利者，傷其陰也；振寒脈微細者，陰陽俱傷也；晝日煩躁不得臥者，傷陽而不傷陰也。於此見病變之不同。發汗則動經者，無邪可發，而反動其經氣也。余謂此條為飲症者，未必謬也。</p>
<p>發汗後，水、藥不得入口者，是動其經氣也。但陽脈微者，先汗之而解；但陰脈微者，下之而解，逐堅攻瑕之法。</p>
<p>喘而汗出，有陽氣虛脫者，亦有熱氣內迫者。太陽病下之，下利，脈促，喘而汗出，葛根黃連黃芩湯主之是也。</p>
<p>利水、逐血，為熱入膀胱兩大法門。利水分清、溫，五苓、豬苓是也；逐血辨微、甚，桃仁承氣、抵當湯丸是也。</p>
<p>青龍湯主散表寒，而兼清裡熱，故麻黃多於石膏；麻杏甘石主清肺熱，而兼散肺邪，故石膏多於麻黃。桂枝湯主散表邪，故桂枝倍芍藥，而益生薑之辛；建中湯主立中氣，故芍藥倍桂枝，而益飴糖之甘。品味相同，而君臣異用，表裡、補泄，因之各異矣。</p>
<p>太陽轉入陽明，其端有二：一者汗出不徹，邪氣不服而傳。曰：太陽初得病，時發其汗，汗先出不徹，因轉屬陽明也。一者汗出過多，胃中乾燥而傳。曰：太陽病，若發汗、若吐、若下、若利小便，此亡津液，胃中乾燥，因轉屬陽明也。</p>
<p>經邪不能聚，故傳入腑，則聚而不傳。經邪未變，故惡寒；入腑，則變熱而不寒。曰：陽明居中土也，萬物所歸，無所復傳。始雖惡寒，二日自止，此為陽明入腑症也。陽明病，法多汗，反無汗，其身如蟲行皮中狀者，氣內蒸而津不從也。</p>
<p>痞症表未解者，宜先解表，不可便治其痞。若兼下利不止者，則不拘此例，宜合表裡而並治。太陽病外症未除，而數下之，遂協熱而利，利下不止，心下痞硬，表裡不解者，桂枝人參湯主之是也。</p>
<p>陽明津涸，舌乾口燥者，不足慮也；若並亡其陽，則殆矣。少陰陽虛，汗出而厥者，不足慮也；若並傷其陰，則危矣。是以陽明燥渴，能飲冷者生，不能飲者死；少陰厥逆，舌不幹者生，乾者死。</p>
<p>少陰病八九日，一身手足盡熱者，邪自本而之標，自臟而入腑也，雖便血可治。</p>

<h1>卷下</h1>

<h2>制方用藥必本升降浮沉之理</h2>
<p>《易》曰：天道下濟而光明，地道卑而上行，故上下升降而氣乃和。古人制方用藥，一本升降浮沉之理，不拘寒熱補瀉之跡者，宋元以來，東垣一人而已。蓋四時之氣，春升、夏浮、秋降、冬沉，而人身之氣，莫不由之。然升降浮沉者，氣也，其所以升降浮沉者，人之中，猶天之樞也。今人飢飽、勞役，損傷中氣，於是當升者不得升，當降者不得降，而發熱、困倦、喘促、痞塞等症見矣。夫內傷之熱，非寒可清；氣陷之痞，非攻可去。惟陰陽一通，而寒熱自已；上下一交，而痞隔都損。此東垣之學，所以能為舉其大歟！李頻湖曰：升降浮沉則順之，寒熱溫涼則逆之，故春宜辛溫，夏宜辛熱，長夏宜甘苦辛溫，秋宜酸溫，冬宜苦寒。愚謂升降浮沉則順之者，所以順天時之氣也；寒熱溫涼則逆之者，所以救氣化之過也。李氏辛甘酸苦之用是已，若春宜溫、夏宜熱、冬宜寒之謂，是助之也，豈逆之謂哉！</p>

<h2>五行問答</h2>
<p>客曰：五行生剋之說，非聖人之言也，秦漢術士之所偽撰也。余曰：於何據也？曰：《易》言八卦，而未及五行，《洪範》言五行，而未及生克，是以知其為無據之言也。曰：子曷不觀諸河圖、洛書乎？河圖之數：一、六居下，水也；二、七居上，火也；三、八居左，木也；四、九居右，金也；五、十居中，土也。洛書之數：戴九、履一。一，水之生數也；一之右七，七，火之成數也；七之右為九，九，金之成數也；九之右為三，三，木之成數也；五居於中，五，土之成數也。夫河圖逆而左旋，以次相生；洛書順而右轉，以次相剋。克者反順，生者反逆，此造化之妙也。且河圖左旋相生，而其對待則皆相剋；洛書右轉相剋，而其對待則皆相生。是以生機恆寓於消落之中，而生氣每藏於盛長之內。生而無克，則有進無退而氣易盡；克而無生，則消者不長而機以窮。生也克也，天地自然之理，莫如其然，而不得不然者也。子又何疑焉？</p>
<p>曰：河圖、洛書，古未必有此，亦秦漢人所撰，以神其說者乎！曰：《易》不云乎，河出圖，洛出書。聖人則之，何子之不察也？且五行生剋，天地之數也；河圖、洛書、亦天地之數也。未有圖、書以前，天地之數，昭然已備；即圖、書至今不出，而圖、書之象，昭然亦備。圖、書可假，天地之數不可假也。夏之暑，肇於春之溫，冬之寒，始於秋之涼，氣之默運然也；一陽轉而土膏僭動，天氣肅而海水西盛，杲日出而霜露立消，涼風至而萬木凋落，象之顯呈也。而又何疑於圖焉？</p>
<p>曰：水生於天者也，豈生於金乎？方諸取水，月為水母，月亦生於金乎？水生木，未有木生於江湖波濤者！水輔土以生木，而專歸之水可乎？曰：天者，乾之體也；月者，金之精也；坤也者，萬物皆致養焉。五行皆不能離土而生，獨木然也哉！</p>
<p>曰：岱石出火，漢井出煙，是土生火也；海中陰晦，波如火燃，是水生火也；火熱而水乾，是火反剋水也；水沖而土潰，是水反剋土也；叢灶燎原，火亦剋木；鋤圊耜田，金亦剋土。生克之道，不亦亂而無序乎？曰：河圖、洛書，水上，火下，木東，金西；天地之位，前南，後北，左東，右西。其序秩然而不可紊亂者也。其序秩然不可紊亂，則其生、其克，亦循序旋轉而不可紊亂者也。若深井有火，高原出泉，則二氣相更之妙耳！火燃水乾，水沖土潰，則盛衰勝復之常耳！是以窮五行之變則可，以為是即五行之事則不可也。且所謂相剋者，不過制其太過，而使歸於平，非斬絕滅竭之謂也。又以抑其浮盛，而使還於根，以為生髮之兆，雖相剋而實相成也。若金斫、土掩、火燃、水沖，此立盡之數，豈足語造化生成之妙哉！</p>

<h2>通一子雜論辨</h2>
<p>君火凝命於心，為十二官稟命之生；相火一位於命門，一寄於三焦，為十二經生氣之原。由是神機不息，而造化成焉，此千古不易之道也。而通一子之言，總言大體，則相火寄在命門；析言職守，則臟腑各有君相。若然，則二十官有十二君相矣！五臟六腑將亂而自用，心君不其守府乎？曰：凡以心之神，肺之氣，脾胃之倉廩，肝膽之謀勇，腎之伎巧變化，皆發見之神奇，使無君相，何以能此？不知心、肺、脾、肝、胃、膽、腎之能變化出入者，皆稟心之君火以為主，命門、三焦之相火以為用，猶庶司百職，共稟大君之命而效成於下，豈一臟有一君相之謂哉？即爾謂臟腑各有相可矣，而謂臟腑各有君可乎？夫立言所以明道，若此者求之太深，出之反晦，亦賢知之過也。</p>
<p>元氣是生來便有，此氣漸長漸消，為一生盛衰之本。元精者與氣俱來，亦漸長漸消，而為元氣之偶。元神者，元氣、元精之靈者也，能變化往來，而為精氣之主也。景岳謂無形之火，神機是也，亦曰元氣；無形之水，天癸是也，又曰元精。元精、元氣，即化生精氣之元神也。以神為火，以氣為神，以精為無形，以精、氣為神所化，語殊未瑩。</p>
<p>丹溪之治吞酸，必以黃連為君，而以吳茱萸佐之；治心腹痛症，謂宜倍用山梔，而以炒乾姜佐之。夫既謂其熱，寒之可也，何又並用如此？余謂丹溪所治吞酸、心腹痛，並皆火熱鬱結之病。火熱則宜清，鬱結則宜散，茱萸、乾薑，蓋資其散，不資其熱也；且既曰佐矣，則所用無多，自無掣肘矛盾之虞，而有相助為理之益。屢試屢驗，不可廢也。</p>
<p>曰：頭、目、口齒、咽喉等症，方書悉云風熱，多以升降並用，逆從兼施，獨不慮升者礙降，降者礙升乎？從者礙逆，逆者礙從乎？以愚所見，風熱交熾之症，多有挾身中之陰火上從，而為面赤、足冷者。古方之升降並用者，所以散其外，且以安其內也。若升而無降，則有躁煩、厥逆之變；降而無升，則有瞀悶、喘逆之憂。不可不知也！</p>
<p>丹溪之所謂陽有餘、陰不足者，就血與氣言之也；景岳之所謂陽不足、陰有餘者，就神與形言之也。形神切於攝養，氣血切於治要，各成一說而已矣。</p>
<p>痢之為病，氣閉於下，而火復迫之，是以腹痛裡急、糟粕不出而便腸垢也。其源皆由於暑濕，與瘧病俱發於夏秋。蓋傷於經絡則成瘧，而入於腸臟則為痢也。經絡之邪，可散而愈，故治宜辛苦溫之藥；腸臟之熱非清不愈，故治宜辛苦寒之藥。亦發表不遠熱，攻裡不遠寒之意。河間之主用清寒，蓋亦有見於此。景岳不審痢病之所從來，而以五臟五行為說，謂惟心可言火，其餘則均不可言火。此但足資辨論而已，豈足補於治要哉！</p>
<p>脈來動而中止，更來小數，中有還者反動，名曰結陰也；脈來動而中止，不能自還，因而復動，名曰代陰也。得此脈者，必難治。蓋結脈止而即還，不失至數，但少差池耳！代脈止而不還，越期乃還，有此絕而彼來代之意。此余之所親歷有如是者也。而景岳云：凡見忽大、忽小、乍遲、乍數，更變不常者，均謂之代。似此倫亂舊法，未足多也。</p>
<p>上、下、來、去、至、止六字，景岳因滑氏之言，而復傳其蘊。而來、去二義，尤為精切。</p>
<p>曰：風之與寒，本為同氣，但風邪淺而寒邪深，淺屬陽而深屬陰耳！此言最為明瞭。今時皆合併病之名，語詳則理確。</p>
<p>曰：氣虛於中，不能達表，非補其氣，肌能解乎？血虛於裡，不能化液，非補其血，汗能生乎？又有火盛而水涸於經者，譬如干鍋赤裂，潤自何來？但加以水，則鬱蒸沛然，而氣化四達。又曰：或發表，或微解，或溫散，或涼散，或補中托裡，而為不散之散，或補陰助陰，或為云蒸雨化之散。此公於發表一法，獨能得其精奧，故其言之盡而無敝、確而可守如此。</p>
<p>口眼歪斜之病，按仲景云，絡脈空虛，賊邪不瀉，或左或右，邪氣反緩，正氣即急，正氣引邪，喎僻不遂；及前賢針灸膏摩之法，俱云左歪治右，右歪治左。以余所見，凡手廢在左者，則口眼歪於右；廢在右者，則口眼歪於左。大法散邪養血，往往獲愈，若純施補，則留連轉劇。而景岳乃云以藥治者，左右皆宜從補；以艾治者，當從其急處而灸之。余常謂景岳之學，得於推測者，此類是也。</p>
<p>中風者，風從外入，天地之邪氣也；類中風者，風自內生，肝臟之厥氣也。肝之生氣暴而病速，肝氣即厥，諸氣從之，諸液又從之；諸氣化火，諸液化痰，輻湊上焦，流溢經絡，如風雨之驟至，如潮汐之乍湧，而不可擋也。豈特如景岳所謂氣血虛而已哉？昔賢於此症，或云火，或云痰，或云氣虛。三者誠俱有之，余惜其終屬模糊，而未中肯綮也。</p>
<p>補下治下制以急，大承氣之無甘草，腎氣丸之有苓、澤，蓋謂此也。左歸、右歸二飲，亦仿腎氣之意，乃去澤瀉之咸，而加甘草之甘，既減下趨之勢，更與緩中之權，雖與之歸，其可得乎哉？</p>
<p>補中益氣用耆、術，其意在求陽也，故加升、柴以引之；補陰益氣用地、藥，其意在求陰也，而亦用升、柴，是將之燕而越其指也。或曰陰氣必資陽氣而後升，則是附子、桂心之任，而非升、柴之輕脫所得而與者已。若謂陰虛而邪留者設，則是古方柴胡四物之例，以為補陰散邪則可，以為補陰益氣則不可也。</p>
<p>柴胡等飲六方，分溫、涼、脾、胃、血氣、邪氣六法，頗盡表法之變。但不得以柴胡一味印定眼目，學者善師其意可也。</p>
<p>景岳五福飲，於八物湯中去茯苓、川芎之通，芍藥之攝，僅參、朮、歸、地、草五味，則呆鈍不靈矣。而云五臟俱補，既無嚮導，又失統御，未足法也。</p>
<p>土具沖和之德，而為生物之本。沖和者，不燥、不濕、不冷、不熱，乃能化生萬物。是以濕土宜燥，燥土宜潤，使歸於平也。熟地之補脾，蓋補脾之陰耳！若濕勝者，非所宜也。要知熟地入腎，則補腎陰；入脾，則補脾陰。景岳乃謂地黃是太陽、陽明之藥，則泥而不通矣。</p>
<p>一陰、二陰等煎，蓋即天一、地二諸數而明其方，故五陰煎為補脾陰之劑，方中不宜更雜白朮、扁豆、蓮肉。蓋白朮燥脾濕，扁豆、蓮肉益脾氣，而不能長脾陰也。二陰煎即導赤散加麥冬、棗仁、元參、黃連清潤之品，殊覺有力。</p>

<h2>喻氏春溫論辨</h2>
<p>喻氏論春溫，以冬傷於寒，春必病溫，為一例；以冬不藏精，春必病溫，為一例；以既傷於寒，又不藏精，為一例。愚按《金匱》云：大邪中表，小邪中里。大邪漫風，雖大而力微；小邪戶牖隙風，雖小而氣銳。以其銳也，故深入在裡；以其小也，故藏而不覺。冬傷於寒者，冬時所受之寒，本自小而不大，而又以不能蟄藏之故，邪氣得以深伏於裡；伏之既久，寒變為熱，至春人氣升浮，邪氣與之俱出，則發熱而渴。是以冬傷於寒者，春月溫病之由；而冬不藏精者，又冬時受寒之源耳！嘉言所分三例，其實不過一端，而強為區畫，辭愈煩而理愈晦矣。</p>
<p>寒毒藏於肌膚，此叔和之謬說也。喻氏亦云冬傷於寒，藏於肌膚，感春月之溫氣而始發。肌膚，陽明胃之所主也。愚意肌膚非能藏之地，陽明亦無受寒不發之理，惟少陰為陰，寒邪亦為陰，以陰遇陰，故得藏而不發。是以傷寒之邪，自太陽遞入三陰；溫病之邪，自少陰傳出三陽。豈肌膚與胃之云乎哉？</p>
<p>喻氏云：仲景治溫症，凡用表藥，皆以桂枝湯，以示微發於不發之意。又云：溫病二三日間，當用麻黃附子細辛湯、麻黃附子甘草湯，深入腎中，領出外邪，則重者愈矣。此喻氏之臆說，非仲景之舊章也。蓋溫邪非發散可愈，即有表症，亦豈辛溫可發？且桂枝湯為傷寒表病而里和者設，溫症邪從里發，而表且未病，若用桂枝，適足以助溫邪而留病氣。又溫病伏寒變熱，少陰之精已被劫奪，更用辛、附，是絕其本而資之脫也。即曰少陰本寒標熱，邪入其界，非溫不散，然而溫病之發，寒已變熱，其欲出之勢，有不待引之而自甚者。其不能出者，必皆陰精已涸者也，不然寧有不出者耶？喻氏強引經文，傅會己意，自誤誤人，不容不辨！</p>
<p>喻氏云：冬傷於寒者，太陽膀胱主之；冬不藏精者，少陰腎經主之。與兩感傷症中，一日太陽受之，即與少陰俱病，則頭痛、口乾、煩渴而滿之例，纖毫不差。愚謂溫病有新舊合邪，而無表裡兩感。蓋溫病是伏氣所發，少陰有伏氣，太陽而亦能伏氣者，未必然也。不能伏，則感而即發，乃是傷寒，而終非溫病矣。</p>
<p>喻氏云：少陰為陰臟而少血，所以強逼少陰汗者，重則血從耳、目、口、鼻出，而厥竭可虞；輕亦小便不利，而枯涸可待。余每用桂枝，必加生地，以匡芍藥之不逮，功效歷歷可紀。此論最善，可以稍補前言之失。蓋溫病之發，陰氣先傷，設有當行解散者，必兼滋陰清熱之品參其間，昔賢於蔥豉湯加童便，梔豉湯中加生地、麥冬，亦此意也。</p>
<p>又曰：今人見熱勝煩枯之症。而不敢用附子者，惡其以熱助熱也。孰知不藏精之人，腎中陽氣不鼓，津液不得上升，故枯燥外見。才用附子助陽，則陰精上交於陽位，如釜底加薪，則釜中之氣水上騰，而潤澤有立至者。數語亦有至理，惟於溫病不能無弊。蓋陰凝之枯燥，與陰竭之枯燥，霄壤懸殊，萬一誤投，死生立判，不可不細審也！</p>

<h2>柯氏《傷寒論翼》辨</h2>
<p>柯氏云：仲景之書，撰同《素問》。《皮部論》云：陽主外，陰主內。故仲景以三陽主外，三陰主內。又曰：在陽者主內，在陰者主出，以滲於內。故仲景又以陽明主內。少陰亦有反發熱者，故仲景於表劑中用附子，是因其滲也。又曰：少陰之陰，名曰樞儒，其入於經也，從陽部注於經；其出者，從陰內注於骨。故仲景制麻黃附子湯，治發熱，脈沉，無里症者，是從陽部注經之意也；製附子湯，治身體骨節痛，手足寒，背惡寒，脈沉者，是從陰內注於骨之義也。按《內經》所謂陽主外，陰主內者，是言陽明之陽，以陽明為陽之闔，故出則從陽而主外，入則從陰而主內也。所謂在陽者主內，在陰者主外，以滲於內者，是言少陽之陽，以少陽為樞為機之地，故在陽者其用反從陰而主內，在陰者其用反從陽而主出，以滲於內。滲於內，如便液之屬，蓋從內出外之意也。少陰亦樞機之地，故其入者反從陽而注於經，其出者反從陰內注於骨也。此《皮部論》之義，柯氏似此援引，未盡的確。</p>
<p>柯氏援地理兵法，喻病邪之淺深，方藥之大小，可謂深切著明。而於兵法又多精義，非好為誇大者可比。張千秋口陳烏桓兵事，瞭如指掌，非達識經事，不能如此。</p>
<p>柯氏因陰陽十脈，而立對待正看六法，曲盡其變，幾無遁形矣。</p>
<p>太陽膀胱之經，起於足小趾，循股上行，至頭，為三陽之表。而寒邪傷人，多自表入，故太陽得先受邪，有頭項強痛、背疼等症。而柯氏云：心為太陽，故得外統一身之氣血，內行臟腑之經隧；若膀胱位列下焦，為州都之官，所藏津液，必待上焦之氣化而後出，何能外司營衛，為諸陽主氣哉？又曰：傷寒最多心病，以心當太陽之位也。心為君主，寒為陰邪，君火不足，寒氣得以傷之，所以名為大病。按少陰心經，起於手小指，循臂上行，入缺盆，注心中。今傷寒初病，不聞有是經所生症者，而邪入心經，變不復見頭項強痛等症。夫心以為太陽之位，則不應無太陽之症，以心為一身之主，不得易膀胱之位；況仲景所謂太陽者，只就經脈而言，自表邪傳經入里，熱結膀胱，乃始及於腑。柯氏但知其位卑在下，不得為都會之地，而不思其經絡所過，實為一身之表邪！徇尊卑之名，忘經野之實，亦何取焉？且傷寒雖曰大病，未必便是死症。若寒邪犯心，水來剋火之說，自是寒邪直入心臟之病，而非大概傷寒在表之病矣。必如其說，則傷寒之病，十無一生，雖救療之不及，而何有延至十數日之久哉？且以心當太陽之位，則太陽隨經入里之邪，將直犯君主，而何以仍歸膀胱，為小便不利，為結血不行？炫新說而變舊章，智者之過也，道其不明矣夫！</p>
<p>膀胱有下口而無上口，處大腸、小腸交接之間，即闌門也。闌門者，泌別水穀之處，氣通命門。人之水穀入胃，以次傳入小腸，斯時雖已熟腐，而清濁猶未分也；至於闌門，而得命門之火，薰蒸分布，於是水液滲入膀胱，糟粕下入大腸。入大腸者，以漸而下；入膀胱者，滿而後瀉。柯氏乃謂膀胱有上口而無下口，能入而不能出，必待太陽氣化，而溺始出。非也。果爾，則胞中之水，其滲已多，而猶未溺之時，更於何處可蓄耶？且《內經》所謂氣化則能出者，亦非太陽之氣化，乃肺經之氣化也。肺經之氣化，則膀胱之氣亦化，滿而後出，虛而復受；不然，雖滿不能出也。是以膀胱雖主津液，而非命門之火蒸之，則不能入；非肺金之氣化，則不能出。不入，則溏瀉之病生；不出，則癃閉之病作矣。</p>

<h2>宣明人參白朮散方論</h2>
<p>宣明人參白朮散，治遍身燥濕相搏，玄府緻密，遂致忪悸，發渴，飲食減少，不為肌膚。方以人參、甘草，甘以益虛也；生地黃潤以滋燥；石膏、黃芩、滑石，寒以除熱也；白朮、茯苓，燥以除濕也。而意特在濕熱，故白朮、滑石、石膏數獨多焉。其用參、地、甘草者，熱積則真氣消，濕聚則堅燥生也。尤妙在薄荷、藿香以行表氣，縮砂仁以行裡氣，表裡氣通，而後溫可行，熱可去，此畫龍點睛法也。白朮湯方論，與此略同，學者宜究心焉。</p>

<h2>柴胡梅連散羅氏秦艽鱉甲散方論</h2>
<p>風勞骨蒸，久而咳嗽吐血，脈來弦數者，柴胡梅連散主之。蓋邪氣既久積於表裡之間而不退，非可一汗而去者，故用柴胡之辛散，必兼烏梅之酸收；而久積之風內蘊骨髓者，已變風之體而為熱，則宜用胡黃連之苦寒以清之。然兵無嚮導則不達賊境，藥無引使則不通病所。新病且然，況伏邪乎？故膽以合膽，髓以合骨，薤白之通陽，童便之通怕，而表裡肌骨之邪，庶盡出歟！</p>
<p>羅氏秦艽鱉甲散，與柴胡梅連同意，亦治風勞骨蒸肌熱之症。然減前胡之泄氣，而加當歸之和血，去黃連之苦寒，而用青蒿之辛涼，氣味為較和矣。久病之人，未必不宜緩法也。</p>

<h2>補中益氣湯六味地黃湯方合論</h2>
<p>陽虛者，氣多陷而不舉，故補中益氣多用參、耆、朮、草，甘溫益氣，而以升、柴辛平助以上升；陰虛者，氣每上而不下，故六味地黃丸多用熟地、萸肉、山藥，味厚體重者，補陰益精，而以茯苓、澤瀉之甘淡助之下降。氣陷者多滯，陳皮之辛所以和滯氣；氣浮者多熱，牡丹之寒所以清浮熱。然六味之有苓、澤，猶補中之有升、柴也；補中之有陳皮，猶六味之有丹皮也。其參、耆、歸、朮、甘草，猶地黃、茱萸、山藥也。法雖不同而理可通也。</p>

<h2>歸脾湯方論</h2>
<p>歸脾湯兼補心脾，而意專治脾。觀於甘溫補養藥中，而加木香醒脾行氣，可以見矣。龍眼、遠志，雖曰補火，實以培土。蓋欲使心火下通脾土，而脾益治，五臟受氣以其所生也，故曰歸脾。</p>

<h2>鳳髓丹方論</h2>
<p>鳳髓丹為太陰濕熱下注，少陰遺濁者設。黃柏苦能燥濕，寒能除熱，故以為君，濕熱易成壅滯，砂仁之辛香可以利之；脾邪不獨傷腎，亦且自傷，炙甘草之甘溫可以益之。然諸治濕熱藥不用，而獨取黃柏、砂仁者，以其氣味兼通少陰也。</p>

<h2>小投杯湯方論</h2>
<p>上氣有熱者，麻杏甘石湯；無熱者，小投杯湯，蓋即麻杏甘石而以桂心易石膏。同一通肺下氣，而寒溫易用，法斯備矣。</p>

<h2>清暑益氣湯清燥湯合論</h2>
<p>清暑益氣湯，蓋謂其人元氣本虛，而又傷於暑濕，脾得濕而不行，肺得暑而不肅，以致四肢倦怠，精神短少，懶於動作，胸氣短促，不思飲食，脈浮緩而遲者設。故用人參、黃耆、白朮、甘草、歸身，甘溫氣味，以補中益氣；蒼朮、黃柏、澤瀉，以除濕熱；升麻、葛根，以除客熱；而肺喜清肅，得熱則煩，故以麥冬、五味清而收之；脾喜疏通，得濕則壅，故以炒曲、青皮、陳皮溫而行之。此正治脾肺氣虛而受暑濕，若體實脈盛，或雖虛而不甚，及津涸煩渴多火者，則不可混投也。清燥湯亦治長夏濕熱蒸人，氣體困倦，腰足痿軟之症，故比清暑益氣多黃連、茯苓、豬苓、柴胡，無澤瀉、葛根、青皮，則清利之力差多，疏滯之力差少。是名清燥，清以降逆，燥以勝濕也。</p>

<h2>方法餘論</h2>
<p>治外感，必知邪氣之變態；治內傷，必知臟腑之情性。治六淫之病，如逐外寇，攻其客，毋傷及其主，主弱則客不退矣；治七情之病，如撫亂民，暴其罪，必兼矜其情，情失則亂不正矣。</p>
<p>營道者，知其雄，守其雌；制方者，知其奇，守其正。</p>
<p>攻除陳積之藥，可峻而不可駃，宜專而不宜泛；駃則急過病所，泛則搏擊罕中，由是堅壘如故，而破殘已多，豈徒無益而已哉？</p>
<p>母之與子，氣本相通。母旺則及其子，子旺亦氣感於母。故《刪繁論》云：肝勞病者，補心氣以益之。餘臟皆然。則不特「虛則補其母」一說已也。</p>
<p>陽與陰反，然無陰則陽不見矣；邪與正反，然無正則邪不顯矣。是以熱病飲沸湯而不知熱，痿痹手足反無痛者，陰盛而無與陽忤，正衰而不與邪爭也。如是者，多不可治。</p>
<p>木、火有相通之妙，金、水有相涵之益。故不特木能生火，而火亦生木；不特金能生水，而水亦生金。水之生金，如珠之在淵；火之生木，如花之含日。</p>

<h1>續記</h1>

<h2>寸口分診臟腑定位</h2>
<p>脾與胃合，肝與膽合，腎與膀胱合，皆足經也。其臟腑皆相依附，則其診候亦應同在一部。如左關候肝、膽，右關候脾、胃，左尺候腎與膀胱是已。肺與大腸合，心與小腸合，心包絡與三焦合，皆手經也。其臟腑不相依附，則其診候亦不必同在一部。按《內經》云：尺外以候腎，尺裡以候腹。又云：前以候前，後以候後；上竟上者，胸喉中事。是以大腸當候於右尺之裡，小腸當候於左尺之裡，三焦分立上、中、下三部。如此，則左心、小腸，右肺、大腸之謬，可不辨而自著矣。</p>

<h2>古方權量</h2>
<p>古方湯液分兩，大者每劑二十餘兩，小有十餘兩，用水六七升或一斗，煮取二三升或五六升，並分三服，一日服盡，為劑似乎太重，後世學者，未敢遵式。按陳無擇《三因方》云：漢銅錢質如周錢，文曰半兩，則漢方當用半兩錢二枚為一兩。且以朮附湯方校，若用漢兩計，一百八十銖，得開元錢二十二個半重，若分三服，則是今之七錢半重一服。此說最有根據。《千金》以古三兩為今一兩，古三升為今一升。仍病其多，不如陳說為是。</p>

<h2>火齊湯</h2>
<p>倉公治病，恆用火齊湯，而其方不傳。劉宗厚云即古方黃連解毒湯是。未知何據？按倉公用治齊郎中令之湧疝中熱，不得前溲；齊王太后之風癉熱客脬，難於大小便，溺赤。則亦清寒徹熱之劑也夫！</p>

<h2>蟯瘕</h2>
<p>蟯瘕為病，腹大，上黃，膚粗，循之慼慼然。上黃，面黃也。蓋即今人蟲蠱之病，腹大、面黃而肌膚粗澀者也。</p>

<h2>蔥豉湯</h2>
<p>《肘後》云：傷寒有數種，庸人卒不能分別，今取一藥兼療者，用蔥白一虎口，豉一升，水煮頓服，汗出即愈。按《本草》淡豉，治傷寒時，疾熱病發汗。元素云：蔥莖白，通上下陽氣。合而用之，故能通治數種傷寒。然其方亦有數變：一加葛根三兩；一加升麻三兩；若不汗，更加麻黃三兩，助之散也。一加米三合，益氣以出汗也。一加童便三升，汗出於陽而生於陰，火多者宜之也。深師又加烏梅十四枚，葛根半斤，兼治煩滿也。《聖濟總錄》加人參、萎蕤、羚羊角，治勞風項強急痛，四肢煩熱。《千金》加梔子、黃連、黃柏、大黃各半兩；一加生地、石膏各八兩，生葛四兩，為表裡證治之別。以意斟酌，投之輒驗，誠良方也。</p>

<h2>枳實梔子豉湯</h2>
<p>仲景治大病瘥後，勞復者，枳實梔子豉湯主之。廣劑加蔥白、粟米、雄鼠糞。範汪加桂枝、大黃、麻黃；又方去梔、豉，加甘草、桂心、大黃、芒硝。《千金》加石膏、鼠糞。崔氏單加鼠糞一味。《古今錄驗》加麻黃、大黃；一加鼠糞、大黃；一去梔、豉，加鼠糞；一加鼠糞、麻黃；一去梔子，加甘草、大黃、芒硝。許仁則又加蔥白、生薑、乾葛、麥冬、生地。或主表，或主裡，或兼主表裡，或兼養，或兼滋，或表裡與滋養兼施，凡十餘變，而梔豉之法盡矣。</p>

<h2>鹹寒</h2>
<p>熱淫於內，治以鹹寒，《內經》之旨也。仲景療傷寒，加芒硝於苦寒藥中。文仲又加芒硝於甘寒藥中，其方以生麥冬一升，生地黃一升，知母二兩，生薑二兩半，芒硝二兩半，水煮，分五服，取利為度。由是，而鹹寒之用乃廣矣。</p>

<h2>酸苦湧泄</h2>
<p>院河南治天行熱，解毒多用苦酒、豬膽、生艾汁、苦參、青葙、葶藶之屬。《外臺》單用苦參一兩，酒煮，並服，取吐如烊膠便愈。張文仲療傷寒、溫病等，三日以上，胸中滿，用苦酒半升，豬膽一枚，和服，取吐。蓋即《內經》酸苦湧泄之義。然今人之用此者罕矣。</p>

<h2>五疰鬼氣</h2>
<p>五疰鬼氣之病，或助正氣以闢之，如蘇合香丸之屬是也；或假鬼氣以引之，如死人枕、天靈蓋之屬是也。徐嗣伯、劉大用恆用此法，而嗣伯云：鬼氣伏而不起，故令人沉滯，得死人枕，促之魂氣飛越，不得攸附體，故屍疰可瘥。劉氏治婦人因人入廟，為邪鬼所憑，致精采蕩越，與死人枕煎湯飲之，大瀉數行而愈。則是死人之枕引鬼氣，或從上越，或從下出，隨其攸利，與草木氣味升降浮沉，各具一體性者不同。今人亦罕有聞用之者矣。</p>
<p>《千金》療屍疰方：發灰、杏仁，熬令紫色，等分，搗如泥，以豬膏和酒服，如桐子三丸，日三，神良。愚謂此治血枯經絡澀閉成勞者之良方也，亦即百勞䗪蟲之意，而氣味和調，可以無弊，或以桃仁易杏仁，亦得。</p>

<h2>瘧</h2>
<p>瘧之病，熱氣舍於營，寒氣居於衛。寒居於衛，則束其營之熱，不得外越；熱舍於營，則阻其衛之寒，不得內乘。氣相抑而適相持，是以傷寒易變，而瘧病不遷也。瘧邪不能自發，必得人之正氣而後發，故曰衛氣之所在，與邪氣相合則病作。</p>
<p>瘧邪外不在皮膚，內不在臟腑，是以汗之而不從外泄，下之而不從里出也。</p>
<p>風氣常在，瘧有時而休。常在者，其氣舒；蓄而作者，其氣暴，故工不能治其已發也。</p>
<p>瘧發已而邪遞淺者，其作日蚤；發已而復伏愈深者，其作日晏。日蚤者易已，日晏者難已。其始晏而終蚤者，邪氣下行極而之上也。是以瘧病欲愈，一日反二三發，其邪愈淺，輒與衛氣相簿故也。</p>
<p>瘧之為病，邪正分爭，往來不已，有戰之義也。治之必先助其正氣，或急去其邪氣。蓋正旺則邪自解，邪去則正亦安也。今有人體虛患瘧，不數日而作漸晏，勢漸衰，神氣反昏而不可救，非正虛而邪陷之故歟？</p>

<h2>陰陽交</h2>
<p>陰陽交之病，古有其名，而無能抉其義者。愚謂「交」非交通之謂，乃錯亂之謂也。陰陽錯亂，而不可復理，攻其陰則陽捍之不得入，攻其陽則陰持之不得通，故曰交者死也。郭白雲所謂即是兩感之病，蓋從汗出而熱不退處悟入。然兩感究竟是陰陽齊病，而非陰陽交病，是以與先表后里，或表裡並治之法，以其未嘗混合為一也。</p>

<h2>崩中下血</h2>
<p>婦人崩中下血，多因濕熱傷脾胃而致。蓋脾統血，傷則失守也。醫者不知其脾濕，而但與固脫之劑，血雖止而濕轉郁矣。是以崩中之後，多成脹滿、黃病，醫多不能識此。</p>

<h2>耳聾治肺鼻塞治心</h2>
<p>古云：耳聾治肺，肺主聲；鼻塞治心，心主臭。愚謂耳聾治肺者，自是肺經風熱、痰涎閉郁之症。肺之絡會於耳中，其氣不通，故令耳聾，故宜治其肺，使氣行則聾愈。夫聲從外入，非無聲也，有聲而不能入也，而謂肺主聲何哉？其鼻塞治心者，經云：心肺有病，而鼻為之不利。治心者，蓋以利鼻，豈曰致臭哉？</p>

<h2>噎膈反胃之辨</h2>
<p>噎膈、反胃，自是二病，世醫每連稱而並舉之者，丹溪實作之俑也。丹溪曰：其槁在上，近咽之下，水飲可行，食物難入，入亦不多，名之曰噎；其槁在下，與胃為近，食雖可入，良久復出，名之曰膈，亦曰反胃。是以噎膈分上、下二病，而以反胃屬之膈，殊欠分明。愚謂噎膈之所以反胃者，以食噎不下，故反而上出，若不噎則並不反矣。其反胃之病，則全不噎食，或遲或速，自然吐出，與膈病何相干哉？二者病本不同，治法亦異，不可不辨！</p>

<h2>瀉痢不同</h2>
<p>痢與泄瀉，其病不同，其治亦異。泄瀉多起寒濕，寒則宜溫，濕則宜燥也；痢病多成濕熱，熱則宜清，濕則宜得也。雖泄瀉亦有熱症，然畢竟寒多於熱；痢病亦有寒症，然畢竟熱多於寒。是以泄瀉經久，必傷胃陽，而腫脹、喘滿之變生；痢病經久，必損其陰，而虛煩、痿廢之疾起。痢病兜澀太早，濕熱流注，多成痛痹；泄瀉疏利或過，中虛不復，多作脾勞。此予所親歷，非臆說也。或曰：熱則清而寒則溫是已，均是濕也，或從利，或從燥，何歟？曰：寒濕者，寒從濕生，故宜苦溫燥其中；濕熱者，濕從熱化，故宜甘淡利其下。且燥性多熱，利藥多寒，便利則熱亦自去，中溫則寒與俱消。寒濕必本中虛，不可更行滲利，濕熱鬱多成毒，不宜益以溫燥也。</p>

<h2>溫病風溫溫疫濕溫溫毒溫瘧之異</h2>
<p>溫病者，冬月伏寒化熱，至春而發，所謂春時陽氣發，於冬時伏寒者是也。風溫者，溫病而兼新風，發汗已則風氣去，而溫氣發，故身灼熱也。溫疫者，溫氣盛而成癘也。濕溫者，溫氣而兼濕邪，濕能生溫，溫亦生濕也。溫毒者，溫氣發而不能遽散，怫鬱成毒，猶傷寒之有陽毒、陰毒也。溫瘧者，溫病系在少陽，時作時止，乍進乍退者也。春溫之症，輕重不同。舊有冬伏之寒邪，新感春時之風氣，其寒從風而並於外者輕，其風從寒而並於內者重矣。並於內者治其內，毋遺其外；並於外者治其外，毋外其內。若舊伏之寒已變為熱，而更感春時之風，風熱相激，多成風瘧。其引之而隨出者輕，其發之而轉陷者危矣。又有七情、飲飽、勞倦之人，復受六氣風寒暑濕之邪，若內就外而甚於外者，先治其外而後調其內；若外就內而甚於內者，先治其內而後調其外。王好古云：治內兼外者，不可寒下，若寒下，則經邪陷於內矣；治外兼內者，不可熱發，若熱發，則益中熱於外矣。又曰：外重而內輕者，先治其外，後治其內；若積寒傷冷，脈已從陰，雖有標病，不須治標，獨治內也，內既得溫，標病不發而自愈。何以然？發表之藥不遠熱也。故曰：陰症治本不治表，表本俱得；治標不治本，標本俱失。</p>
<p>溫邪之發，陰必先傷，設有當行解散者，必兼滋陰之品於其中。昔人於蔥豉湯中加童便，於梔豉湯內加地黃、麥冬，亦此意也。</p>
<p>溫毒發班，與傷寒發斑不同。溫毒之邪，從內之外；傷寒之邪，從外入內。是以溫毒發斑者，邪氣離里而之表，其症輕；傷寒發斑者，邪氣盛於內而見於外，其症重。盛於內者，必使下泄，而後者可去，華元化所謂須要下之，不可留於胃中是也；之於外者，可從表而出之，郭白雲所謂其毒久鬱而發，病不在裡，故不可下，必隨表症治之，當用藥解肌熱者是也。</p>

<h2>目赤腫痛</h2>
<p>目赤腫痛，人知降火，而不知活血，所以多不得力，只用四物湯，內地黃用生，芍藥用赤，加酒蒸大黃、赤茯苓、薄荷葉，治之甚妙，此戴復庵法。余謂目赤腫痛，人知活血，而不知治痰。脾胃壅滯，積熱生痰，積痰生熱，輾轉相因，氣衝頭目，昏痛不已者，須用半夏、石菖蒲、黃芩、枳實、茯苓、陳皮，微兼菊花、白蒺藜之屬治之。</p>

<h2>口糜</h2>
<p>王肯堂治許少薇口糜，謂非乾薑不愈，卒如其言。又從子懋鋙，亦患此，勢甚危急，欲飲冷水，與人參、白朮、乾薑各二錢，茯苓、甘草各一錢，煎成冷飲，日數服，乃已。蓋土溫則火斂，人多不能知。此所以然者，胃虛食少，腎水之氣逆而乘之，則為寒中，脾胃虛衰之火被迫上炎，作為口瘡。其症飲食少思，大便不實，或手足逆冷，肚腹作痛是也。</p>

<h2>冷勞</h2>
<p>虛勞之人，氣血枯耗，生氣不榮，則內生寒冷，張雞峰所謂冷勞者是也。宜建中、復脈、八味腎氣之屬，甘溫辛潤，具生陽化陰之能者治之。亦有邪氣淹滯，經絡瘀郁者，元珠所謂體虛之人，最易感於邪氣，當先和解，微利微下之，次則調之。醫不知而遽行補劑，邪氣不解，往往致死。是故虛勞之治，固不必專以補陰降火為事也。</p>

<h2>熱風</h2>
<p>熱風，熱化為風也。患人頭目昏眩痛，口鼻燥，熱氣出，微惡風，時時有熱者是也。是雖辛涼，不能解之。孟詵云：患熱風人，宜食牛乳，謂其氣味甘寒，而性濡潤，能使肌熱除而風自熄。求之草木，蘆根、蔗漿、梨汁之屬，性味相似，亦《內經》風淫於內，治以甘寒之旨也。</p>

<h2>食鹹頭汗出</h2>
<p>一人食鹹，頭汗如注，食淡則否。診之心脈獨大而搏指，因問曰：燥欲飲乎？曰：然。每晨起舌必有刺，因悟所以頭汗出者，心火太盛，而水不勝之也。味鹹屬水，而能降火，火與水搏，火盛水微，不能勝之而反外越也。其出於頭者，水本潤下，而火性炎上，水為火激，反從其化也。食淡則否者，鹹味湧泄為陰，淡味滲泄為陽，陽與陽從，不相激射，故得遂其滲泄之性而下行也。</p>

<h2>雜識</h2>
<p>醫悟融會群經，貫穿百家，不為名言高論而義理自著，以視誇大其言而不適於用者，奚啻霄壤！</p>
<p>醫讀平易簡要，可為中人以下說法，要非熟讀群書，通曉方藥者，不能為此。</p>
<p>正本書辨論古方銖量權衡，甚為詳悉，以及唐宋醫局官制醫書本草湯液脈病，並有卓見。亦好古博雅之士歟！</p>
<p>韓氏十四藥定經因時和解之法，極意分晰，而眉目未清，絕無準繩，而多所裁製。逞一己之私意，亂先聖之舊章，不足為後學法也。</p>

<h1>跋</h1>
<p>夫治病猶治國也。治國者，必審往古理亂之事蹟，與正治之得失，而後斟之以時，酌之以勢，而後從而因革之；治病者，必知前哲察病之機宜，與治療之方法，而後合之氣體，辨之方土，而從而損益之。蓋未有事不師古，而有濟於今者；亦未有言之無文，而能行之遠者。予自弱冠，即喜博涉醫學，自軒岐以迄近代諸書，搜覽之下，凡有所得，或信或疑，輒筆諸簡，雖所見未廣，而日月既多，卷帙遂成。昔真西山修《讀書記》謂門人曰：此人君為治之門，如有用我者，執此以往。予之是集，即西山讀書記之意也，執此以往，亦可以應變無窮矣。</p>
<p><u>飼鶴山人尤怡識</u></p>

<h1>附靜香樓醫案三十一條</h1>
<p>羅氏論虛勞之證，都因邪伏、血鬱而得，不獨陰虧一端也。至晚寒熱時減時增，其為陽陷入陰可知。滋腎生肝，最為合法，略加損益，不必更張可也。</p>
<p>熟地　白芍　丹皮　茯苓　懷藥　柴胡　鱉甲　炙草</p>
<p>真陽氣弱，不榮於筋則陰縮，不固於里則精出，不衛於表則汗泄，三者每相因而見。其病在三陰之樞，非後世方法可治。古方八味丸，專服、久服，當有驗也。</p>
<p>眩暈，嘔惡，胸滿，小便短而數，口中乾。水虧於下，風動於上，飲積於中，病非一端。</p>
<p>羚羊角　鉤藤　半夏　小生地　天麻　竹茹　廣皮　茯苓</p>
<p>肝陽化風，逆行脾胃之分，液聚成痰，流走肝膽之絡，左體麻痹、心膈痞悶所由來也。而風、火性皆上行，故上有火升、氣逆、鼻衄等症，此得之飢飽勞郁，積久而成，非一朝一夕之故矣。治法清肝之火，健脾之氣，亦非旦夕可圖也。</p>
<p>羚羊角　橘紅　白朮　枳實　天麻　半夏　茯苓　甘草　麥冬</p>
<p>肺陰不足，肺熱有餘，咳則涕出，肌體惡風，是熱從竅泄，而氣不外護也。他臟雖有病，宜先治肺。</p>
<p>阿膠　杏仁　貝母　北參　兜鈴　茯苓　炙草　糯米</p>
<p>干嗆無痰，是肝氣衝肺，非肺本病。仍宜治肝，兼滋肝氣可也。</p>
<p>川連　白芍　烏梅　甘草　當歸　牡蠣　茯苓</p>
<p>絡脈空隙，氣必遊行作痛。最慮春末夏初，地中陽氣上升，血從氣溢。趁此綢繆，當填精益髓。蓋陰虛咳嗽，是他臟累及於肺，若治以清涼，不但病不能去，而胃傷食減，立成虛損，難為力矣。</p>
<p>海參　熟地　金櫻膏　麋角膠　湘蓮肉　北味　萸肉　懷藥　茯神　芡實</p>
<p>即將二膏搗丸。</p>
<p>陰不足而陽有餘，肝善逆而肺多郁。脈數，氣喘，咳逆見血，脅痛。治宜滋降，更宜靜養。不爾，恐其血逆不已也。</p>
<p>小生地　荊炭　白芍　童便　鬱金　小薊　藕汁</p>
<p>離經之血未淨而鬱於內，寒熱之邪交煽而亂其氣，是以腹滿，嘔泄，寒熱，口燥。治當平其亂氣，導其積血。元氣雖虛，未可驟補也。</p>
<p>丹皮　楂炭　澤蘭　赤芍　鬱金　丹參　牛膝　小薊</p>
<p>凡有瘀血之人，其陰已傷，其氣必逆。茲以血紫黑無多，而胸中滿悶，瘀猶未淨也；而舌絳無苔，則陰之虧也；嘔吐不已，則氣之逆也。且頭重、足冷，有下虛上脫之虛；惡寒、譫語，為陽弱氣餒之徵。此症補之不投，攻之不可，殊屬棘手！</p>
<p>人參　茯苓　山漆　吳萸　烏梅　牡蠣　川連　鬱金</p>
<p>少陰為陰之樞，內司啟閉，虛則失其常矣。宜以法壯其樞，或通或塞，皆非其治。</p>
<p>熟地　杞子　菟絲　茯苓　丹皮　萸肉　懷藥　沙苑</p>
<p>中氣虛寒，得冷即瀉，而又火升、齒衄等症，古人所謂胸中聚集之殘火，腹內積久之沉寒。此當溫補中氣，俾土厚則火自斂。</p>
<p>人參　茯苓　白朮　炙草　乾薑　益智仁</p>
<p>肺實於上、腎虛於下、脾困於中之候也。然而實不可攻，姑治其虛；中不可燥，姑溫其下。且腎為胃關，而火為土母，或有小補，未可知也。</p>
<p>金匱腎氣丸</p>
<p>汗出偏沮，脈來不柔，時自歇止，肝陽有餘，而胃陰不足，於是稠痰濁火，擾動於中，壅滯於外。目前雖尚安和，然古人治未病不治已病，知者見微知著，自當加意調攝為佳。</p>
<p>人參　川斛　南棗　半夏　茯苓　炙草　麥冬　丹皮　小麥</p>
<p>表虛易感風邪，裡虛易作瀉，上虛則眩，下虛則夢泄。宜玉屏風散。</p>
<p>黃耆　防風　白朮　茯苓　牡蠣　炙草</p>
<p>臍中時有濕液腥臭，按脈素大，此少陰有濕熱也。六味能除腎間濕熱，宜加減治之。</p>
<p>六味去山藥，加川柏　萆薢　車前　女貞</p>
<p>下體失血之餘，陰氣必傷，邪乃乘虛直入陰中，挾身中之虛陽而上逆，頭熱、肢冷、咳嗆、氣衝，至夜尤甚，皆其驗也。此症邪少虛多，下虛上實，不與大概時病同法。此愚一偏之見也，未識高明以為然否？</p>
<p>生地　白芍　茯苓　麥冬　炙草　元參</p>
<p>瘧發而血上下溢，得之中虛，而邪復擾之也。血去既多，瘧邪尚熾，中原之擾猶未已也。誰能必其血之不復來耶？謹按古法中虛血脫之症，從無獨任血藥之理。而瘧病經久，亦必先固中氣。茲擬理中一法，止血在是，止瘧亦在是，惟高明裁之！</p>
<p>人參　於朮　炮姜　炙草</p>
<p>心者藏之臟，心太勞則神散而心虛，心虛則腎氣乘之，故恐，經所謂厥氣上則恐也。是病始因心而及腎，繼因腎而心益困矣。經云：心欲軟，腎欲堅。心軟則善下，故軟之必咸；腎堅則不浮，堅之者必以苦。又云：高者抑之，散者收之。治心腎神志不收者，法必本乎此。以心為血臟，腎為精臟；欲神之守，必養其血，欲志之堅，必益其精。則甘潤生陰、質量味厚之品，又足為收神志之地也。</p>
<p>人參　川連　懷藥　天冬　熟地　茯神　五味　牡蠣　萸肉　柏仁　桂心</p>
<p>驟驚恐懼，手足逆冷，少腹氣衝即厥，陽縮，汗出。下元素虧，收攝失　司，宜乎助陽以補納；第消渴、心悸、忽然腹中空洞，此風消肝厥，非桂、附剛劑所宜。</p>
<p>炒黑杞子　舶茴香　當歸　桂木　紫石英　白龍骨　細辛</p>
<p>肝陰素虧，風溫擾之，發為痙病，神昏，齘齒，瘛瘲不定。法當滋養肝陰，以榮筋脈；清滌痰熱，以安神明者也。若能應手，尚可無慮。</p>
<p>羚羊角　茯神　鉤藤　川貝　真阿膠　鮮菖蒲　鮮竹瀝</p>
<p>風熱上甚，頭痛不已，如鳥巢高巔，宜射而去之。</p>
<p>制軍　犀角　川芎　細茶</p>
<p>此腎厥心痛，背脹映及腰中。議用許學士香茸丸。鹿茸　杞子　沙苑　大茴香　麝香</p>
<p>欠咳脅痛，不能左側。病在肝，逆在肺，得之情志，難以驟驅。治法不當求肺，而當求肝。</p>
<p>阿膠　白芍　茯苓　丹皮　茜草　炙草　鮑魚湯代水</p>
<p>肝臟失調，侵脾則痛，侮肺則乾咳。病從內生，非外感客邪之比，是宜內和臟氣，不當外奪衛氣者也。但脈弱而數，形瘁色槁，上熱下寒，根本已漓，恐難全愈，奈何？</p>
<p>當歸建中湯</p>
<p>風氣乘虛入於腎絡，腰中痛，引背脅。宜寄生湯，補虛通絡祛風。生地　當歸　黑豆　獨活　懷藥　杜仲　白蒺　炙草　桑寄生肺之絡會於耳中。肺受風火，久而不清，竅與絡俱為之閉，所以鼻塞不聞香臭，耳聾、耳鳴不聞音聲也。茲當清通肺氣。蒼耳　薄荷　桔梗　連翹　辛夷　黃芩　山梔　杏仁　甘草　木通</p>
<p>風熱久蓄腦髓，發為鼻淵，五年不愈。此壅疾也，則宜通，不通則不治。</p>
<p>犀角　蒼耳　黃芩　杏仁　川芎　鬱金</p>
<p>寒熱後，邪走手少陰之脈，猝然不語，肩臂牽引不舒。宜以辛通之。</p>
<p>菖蒲　遠志　甘草　木通　當歸　丹皮　丹參　茯伸脾虛生濕，氣為之滯，血為之不守。此與血熱經多者不同。</p>
<p>焦術　澤瀉　白芍　陳皮　炙草　茯苓　川芎　牛角䚡灰</p>
<p>胎前病子腫，產後四日即大泄，泄已一笑而厥，不省人事，及厥回神清，而右脅前後痛滿，至今三月餘矣。形瘦，脈虛，食少，腹都滿，足漸腫，小便不利。此脾病傳心，心不受邪，即傳之肝，肝受病而更傳之脾也。此五臟相賊，與六腑食氣水血成脹者不同，所發補攻遞進，而絕無一效也。姑擬泄肝和脾法治之。</p>
<p>臺術　木瓜　廣皮　椒目　茯苓　白芍</p>
