<header data-type="book">
<h1>救荒本草</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>朱橚</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1555">公元1555年</data></dd></div>
<div><dt>底本</dt><dd>明嘉靖三十四年陸柬刻本（<a href="https://lccn.loc.gov/2012402246">美國國會圖書館藏本</a>）；明萬曆十四年刊本（<a href="https://rbk-doc.npm.edu.tw">國立中央圖書館典藏國立北平圖書館善本書目</a>：平圖011509–011512）；《欽定四庫全書·子部五·醫家類·救荒本草》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3d0006/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>
