<header data-type="book">
<h1>慈濟醫話</h1>
</header>

<h1>序</h1>
<p>《慈濟醫話》乃孫子云先生平日講醫徐談，門人所竊聞而手志者也。先生川北漢中人，精岐黃術，醫書無所不讀，乃十年功夫，十年經驗，猶於病者原委，未敢信心，又閉戶自修者五稔，專攻《本》、《內》二經，始悟醫之為術，必先致力二經，洞悉形、臟變化之功能，藥性生克之效力，然後涉獵群籍，捨短取長，方不蹈泥古殺人之弊也。癸亥春，北平實善社之醫學研究會既告成立，先生主講《本》、《內》二經，並施醫焉，積日漸久，其講義及醫方之記錄，即各成專書。至課餘緒語及論病瑣言，記者筆錄所及，動關精理，仁言利溥，不可以終秘也，爰將癸亥全年錄稿，分季編次，末附學者輯成論說二則，刊作醫話第一卷，雖長篇短幅，繁筒不同，要旨為壽世活人而發佛主慈悲，儒崇施濟，胥是道也，題日《慈濟醫話》，俾讀者知書旨所在，不持高論，不尚空談，無非本一片之婆心，施千萬之仁術已耳。噫！醫界後進，誤於墨守一家言者眾矣，玩索是編而有得焉，生死人，肉白骨，功德何限？古有句云，「聞君一夕話，勝讀十年書」，不啻為醫話詠也，是為序。</p>
<p><u>歲在甲子長夏祥壽謹序</u></p>

<h1>慈濟醫話（卷一）</h1>

<h2>慈濟醫話（癸亥夏季）</h2>

<h3>內經注重穀氣</h3>
<p>《內經》全部結晶，即在穀氣，反復申論，總不離戊已部（戊已部屬土，土屬脾胃，病皆由土而生，土不生金，金不剋木，故治病當先以清胃、養陰、和肝為主宰）。</p>

<h3>學醫首要在讀本、內二經</h3>
<p>古方有不適於今世者，緣古今天之氣候不同，人之嗜欲亦異。古方由伊時經驗而得，故宜於古，不宜於今，亦猶今醫本其心得，著書、立方，於今固宜，過千百年後，因氣候嗜欲之轉移，亦不適用矣。故曰：盡信書不如無書。吾以為學醫初步，當先肆力於內經、神農書二種，既明人身形臟變化之功能，藥性生克之效力，然後博採群書，捨短取長以作參考，庶不為書所欺，蹈泥古鮮通之弊。</p>

<h3>立方忌泥</h3>
<p>治病當盡力而為，症變與否，視彼命耳。然用方不可過泥，吾以書為成法，故翻而新之。諸子當以吾言為成法，再翻而新之，則更上一層矣。</p>

<h3>今病多宜涼劑</h3>
<p>今日用涼藥，每見奇功，溫散一投，立現敗象。古方則用溫散法者居多，論者咸懷疑焉。蓋仲聖論醫，乃言秋令傷寒宜用辛溫以扶陽，與今之用涼藥以養陰清胃者，其症不同，其法亦異，並非背道而馳。且創始難，改造易，凡事愈進愈精，不可泥古而廢今，不可是今而非古，奚懷疑為，回憶二十年前曾用重涼劑（例如石膏八兩、生軍八錢），尚難見效，今則更宜加重。緣近日燈燃煤油，其光炫耀，奪人元神；其氣邪惡，入人空竅，耗散天真，傷陰最甚。故陰虧之人較昔尤多，更加以不時御神，故用柴、桂，必見敗象。若大涼劑，呈施之弱人，無傷也。</p>

<h3>兒病視指筋定之</h3>
<p>小孩視食指之筋，則知病所由來者，因商陽穴（食指之端）乃大腸之本穴，下通隱白（脾），旁連少商（肺），及於湧泉（腎），故筋至商陽則胃敗，良醫弗為。其筋不現而病重者，寒熱至極而閉也。其筋現而病不重者，偶感暴寒、暴熱也。寒熱內侵，肺胃首當其衝，故陽明筋現，重長輕短，乃寒熱侵感其筋所致也。</p>

<h3>治痧疹之法</h3>
<p>凡人飲食之輸送，以脾為君；口鼻之呼吸，以肺為君。各病發源，不由飲食之停滯，則由口鼻之吸穢。治病之本，必先養陰而清胃。然服藥胃當其衝，故清胃尤重。今人多謂痧疹宜散不宜降，害人不可計數。此症統發於胃肺二經。輕者散之，可以獲愈。重者若一用散，則以風生火而熱內陷矣。吾對斯症，以石膏清胃，生軍降滯而為君，故必重用。臣以木通去小腸熱，知母固其先天，佐以鮮蘆根、鮮生地，以清肺，以二花、連翹去毒而為使，再以生草和之，視病之輕重而後用引。</p>

<h3>治痧疹之用藥</h3>
<p>治痧疹之藥，大黃可重用，朴硝不可用者，緣朴硝能瀉真陰，大黃則有消瘀生新之功，並能透表也。</p>

<h3>論膈症</h3>
<p>膈症凡四種：一由胃寒而得，必畏酸心糟，宜丁香為君；二痰熱結於胃，宜毛紅、生軍大消之；三血瘀胃間，宜桃仁、當門子破而散之；四即消症，宜活鹿尾血大補之，此種最難治，十可活六。</p>

<h3>痰帶血治法</h3>
<p>痰中帶血，治法以清肺、涼肝為主，佐以茅根，重用藕汁為引。他如杷葉、鮮生地、鮮石斛，均可過兩用。若花蕊石，則性滯不宜多用。</p>

<h3>溫病治法</h3>
<p>溫病燥糞既下，正汗可出，藥不能離蘆根、薄荷、大黃、石膏，引不能離紫雪、牛黃散。</p>

<h3>勞症治法</h3>
<p>勞病之午後發燒者，因形神妄用，虛極成勞，午後陰正用事，陰陽相爭，上下不並，陰與陽爭而外泄，陽為陰格而內擾，真陰不固，故午後作燒。治法應以大養陰品為君，佐以真牛黃清心丸，可冀萬一。</p>
<p>子後作燒，天明盜汗、作喘之勞症，乃陽氣不足也。子後陰將衰，陽將盛，陽氣外泄，陰為所克，故子後作燒，天明盜汗作喘。治法宜參宜耆，或可萬一。稍一不慎，陰陽倒置，死於藥矣。今死於藥者，十居八九，傷哉。</p>

<h3>肝症治法</h3>
<p>肝氣為熱症，發源於心之不遂。蓋木鬱則生火，火生則土敗，土敗之由，因木盛有以克之。治法在瀉肝以治本，養陰以治標。金木一平，脾土自固。若因土敗，遂投養脾之品，使之反助木火，奚啻以油救火？故參及首烏均不可用，即耆亦不可重用也。</p>

<h3>怪病治法</h3>
<p>人必先自迷，而後鬼能迷之，故吾醫怪病，用藥而不用術。凡遇鬼神之病，在初起時，用通關散開其竅，用安宮牛黃丸清其內，若附會鬼神而不醫以藥，則瘋癲之症成矣。</p>

<h3>肝瘋治法</h3>
<p>某婦症系肝瘋，菌由臟內生，手術難達，毒藥難攻，故為痼疾。精神學吾素茫然，然以理測之，當與道家法相近。道家治病有二法，一、因病家信仰，心堅即利用之，使其心專而蔽欲，欲寡則神自易養，而病可得愈。二、我自有純功，五臟皆有餘氣，運我身氣之有餘，以補病者氣之不足是也。故道家功夫，皆本於《易經》，法於《內經》，用心性自養之法而成，與精神學大概相通。此疾吾有一法，未卜效否。使其打坐，用玄牝法以左手握右手大指，再用右手握左手，先盤右膝，次盤左膝，心想兩目間之祖竅，目微睜，不可用，不可睡，以身上舒暢後，將疲未疲而止。地須靜室，不拘何時及時之長短，但須先緩腰帶、腿帶，使血流通，心要專一，悲喜胥忘，一意注於祖竅，暴風疾雨時不可入坐，如識字者，可誑讀經卷或格言，每日若干遍，謂長生之術。在是，令其心專神固，聲發氣宣，亦或收效於萬一也。若服藥則不過涼肝化痰之品。</p>

<h3>大黃木香適用何病</h3>
<p>大黃、木香皆足傷氣，然二者比較，性各不同。寒凝氣滯者宜用木香，絕無傷氣之弊，於氣虛者用之則破氣矣。大黃有消瘀生新之功，不過重用傷血耳。</p>

<h3>脾濕啜粥法</h3>
<p>薏仁米（半斤）　真建蓮（四兩）　芡實米（四兩）　合而熬成極爛之粥，飢則用白糖調食，不可鹹食，一次熬出，可用二、三日。</p>

<h2>慈濟醫話（癸亥夏季）</h2>

<h3>六脈之部位</h3>
<p>左寸：手少陰心（與手太陽小腸相表裡）。關：足厥陰肝（與足少陽膽相表裡）。尺：足少陰腎（與足太陽膀胱相表裡）。</p>
<p>右寸：手太陰肺（與手陽明大腸相表裡）。關：足太陰脾（與足陽明胃相表裡）。尺：手厥陰心包（與手少陽三焦相表裡）。</p>
<p>左為脈之起處，右為脈之會處，尺為脈之根，寸為脈之止。左脈根於足少陰，止於手少陰，肝木居中樞。故脈之起處根於足，而止於手也。右脈根於手厥陰（心包通腎居下），止於手太陰，脾土居中樞，故脈之會處根於手，亦止於手也。就五行言之，左為脈之起處，腎部居下，又為天一生水，故居左尺。水生木為肝，故居左關。木生火為心，故居左寸。火生相火為心包，故居右尺。相火生土為脾，故居右關。土生金為肺，故居右寸，此五行相生之序也。再就氣血言之，腎主藏，為陰中之至陰；心主火，火為陰中之陽；心包生於心，為陽少而陰多；肺主氣，為陰中之至陽，此二氣相摩之理也。</p>
<p>左心、小腸、肝、膽、腎，心與小腸是手少陰及手太陽，肝與膽是足厥陰及足少陽，腎是足少陰。右肺、大腸、脾、胃、命，肺與大腸是手太陰及手陽明，脾與胃是足太陰及足陽明，命是命門。陰陽離合論之太陽起於至陰，結於命門，命門是兩目，因心包之脈（上通於肝，下達於腎，輸肝腎之精上注於目而放光明，故孟子以眸子瞪睬，證胸中正否也。惟依上所述，左右皆有臟腑，尚少膀胱、三焦、心包三腑，三者究居何處乎？夫既一臟一腑相為表裡，當然無二臟或二腑相為表裡之理，此定例也。關於手少陰與手太陽之相表裡，可知足少陰與足太陽之相表裡，足少陰腎居左尺，則是太陽膀胱亦居左尺無疑也，況腎與膀胱恰一臟一腑之相表裡也。關於足厥陰與足少陽之相表裡，可知手厥陰與手少陽之相表裡，手厥陰心包既上通於目，下達於腎，因其通腎，定居右尺，則手少陽三焦亦居右尺無疑也。況心包（是別臟）與三焦恰一臟一腑之相表裡也。</p>

<h3>以肺為蓋以胃為釜以腎中相火為炊故能化穀氣而養形臟駁論</h3>
<p>為此說者，就形跡言，似亦近理，不知實大謬也。欲駁此論，當先考人之五臟，何臟有火，火是何物，各臟之火，是何名詞，果一一瞭解於心，則肺蓋、胃釜、腎炊之說，不攻自破。蓋人賴天氣以溫氣血，壯火乃六腑有餘之氣，承天氣以成之者。少火乃五臟所藏之血，得天氣以溫之者。壯火以小腸為主，以三焦為散布於各臟之機關，心得壯火而溫血，名曰君火；經過心包名曰相火；由心包分布於四臟，皆曰少火。心與小腸相表裡，小腸首先受胃之穀氣，故小腸為腑之君火；又以三焦首先受氣於膀胱，其功用能升清降濁，化水精而行於各臟，故三焦為腑之相火。壯火在胃能化五穀，若謂胃為釜、腎為炊，則是臟腑不相連，何能腎為胃之炊，肺為胃之蓋？即使相連，謂胃無火，賴相火為炊，不識胃為肉質，抑為鐵質。如為肉質，何堪火煉？如為鐵質，豈相火所能奏效，若謂胃獨有火，則上蒸肺，下攻大腸，恐致病久矣。蓋火也者，不過以天之生氣溫人之氣血，而假定之名詞耳。火恃長蟲、短蟲為輸送，長蟲居腑，短蟲居臟，所謂蛔蟲是也。病時則為蟲、為癆、為痞等疾，亦皆蟲所輸送。要之同歸一理，皆陰陽之作用而已。</p>

<h3>說蟲</h3>
<p>五臟六腑，各有水火氣血，各有官守職司，傳而不回（有順進，無逆行）。然能使水火氣血流通不滯者，惟長、短蟲之力而已。長、短蟲秉天地之氣，承氣血所生，其質熱，其性動，故有傳播氣血水火之能力，俾收水火相濟之功。至蟲之類別，不一其種。凡紅、白、血輪等蟲，皆屬短蟲。蛔蟲、寸白等，皆屬長蟲。人罹病時，則有輸送病氣之能力。傳染病蟲為短蟲，短蟲多秉臟中陽氣而生，故涼藥能殺之，間亦有用熱藥者。長蟲多秉腑中陰氣而生，故熱藥能殺之，間亦有用涼藥者。要之，蟲為氣血所生，當然能為氣血所化。居人體中，質皆屬熱，但須究其所生，屬陰屬陽，然後對症施藥，庶幾近之。</p>

<h3>醫者用藥之難</h3>
<p>今人動謂醫理難，用藥易。不知用藥之難，更難於醫理。不明醫理固不可用藥，醫理明矣，而不善用藥，仍未必收效也。病如猛虎，醫如獵戶。藥如弓矢，持滿而發，射之必中，中之必痊，可以為醫矣。若見病之時，理亦明，弓矢亦備，乃膽小而力卻，或膽大而力猛，則縱虎歸山，致遺後患。過與不及均失也。況醫理未諳，亂用虎狼之藥品，以輕於嘗試，反曰用藥易、醫理難，籲！病毒未減，藥毒又增，方寸幾何，詎堪內外寇之交鬨？不死於病，將死於藥，人之性命保存者幸也。</p>

<h3>立方時宜慎之點</h3>
<p>立方先須認症，知邪氣之所倚伏，正氣之為盛衰，方可著手。病重者正氣必敗，邪氣不甚盛，宜輕劑，用重劑必敗。初病者邪氣甚盛，正氣未大傷，宜重劑，用輕劑必敗。內本寒外感熱，宜先清涼而後溫散。內本熱，外感寒，反前法可也。用藥宜開竅，使病從汗走，或從涕出，或從二陰下，可相機為之。若服牛黃而腹鼓如盆，服乾薑而囊縮無形，皆未開所行之路也。附、桂、樸為熱藥，宣行之上品。川軍、杷葉、薄荷為涼藥，宣行之上品。至巴豆、皮硝，厥性暴烈，非奇方不可輕用，此大較也。</p>

<h3>涕之關係輕重不同</h3>
<p>傷風乃肺為寒蕩而不甚，故涕，邪有出路，不治可痊也。若夫肺將絕而涕，魄不藏而汗，脾寒而作泄，腎虛而遺溺，皆為病所致。是在觀其情狀，而或宣或澀以療之。</p>

<h3>病之宜宣宜澀</h3>
<p>邪在宜宣（宣者行也，在表汗之，在裡下之）。若邪未去而正已衰，法宜宣澀兼施，以扶正而抑邪。</p>

<h3>症之寒熱</h3>
<p>寒症溫之，熱症清之，此定法也。惟寒極似熱者，不問其熱，但治其寒也可。熱極似寒者，不問其寒，但治其熱也可。</p>

<h3>溫病痧疹夜發燒而晝不發燒之故</h3>
<p>研究此理，須知痧疹系何物所變，方知發燒與不發燒之所以然。蓋痧系毒入氣分所變，疹系毒入血分所變。二者無汗均不能出，故汗為痧疹所需要也。汗系水穀所化，汗出則血液傷。血屬陰，血液傷於供痧疹需要之時，則陰傷矣。陰傷則陰虛，夜間屬陰，於陰盛陽衰之時，而陽乘陰虛以用事，故熱。白晝屬陽，於陰衰陽盛之時，而陽用事，正其令也，故平。此發燒與不發燒之理由也。</p>

<h3>發燒有陰陽虛實之不同</h3>
<p>勞病午後發燒，為陰虛陽盛。午前發燒，為陽虛陰盛。同一發燒，何以有陰陽虛實之不同？蓋病者身寒為有餘，身熱為不足，此無早晚、無春秋之通例也。但午後為陰，故陰盛陽衰則平。若陰不能代陽而陽自為用，則午後發燒。午前為陽，故陽稍盛陰稍衰則平。若陽不能代陰而陽外走，則午前發燒。</p>

<h3>論痧疹</h3>
<p>痧疹病以汗為順，表之似為正法。何以今日表之則陷里？下之或飲冰水則汗出也？蓋表之而溫散以發汗，則邪火內熾，津液以傷，汗源既竭，五內如焚，所以陷里而變症蜂起也。若下之則熱由便泄，陰液自復，裡氣通，而表氣和也。或飲以冰水，濟其焚而救其陰，則熱去陰復，汗源乃充，故汗自易出也。</p>

<h3>舌脫殼痧出而人反死</h3>
<p>舌藍，邪入厥陰也。白痧，肺為病也。舌藍而脫殼，木剋土，脾將敗也。痧由白而紅，火爍金，肺將絕也。</p>

<h3>溫病痧疹有時不思涼反思熱</h3>
<p>熱氣團結而未走，故似寒，然非大熱不能團結，即大熱似寒之理也。當於唇焦、便赤辨之。此症又名代陰。代陽是寒症，代陰是熱症。戴陽目紅面赤，唇紅而潤，不渴，氣粗而不蒸，便白，非重用附子、肉桂不可。</p>

<h3>論濕熱</h3>
<p>濕熱之症生於脾，走大腸為痢，走小腸為淋，走子宮為帶，走皮膚為腫、為泡，病情以此四種為多。治法，君藥以黃連、黃苓，燥濕而清熱。走大腸者佐地榆，走小腸者佐瞿麥，走子宮者佐白芍，走皮膚者佐蟬衣、荊芥、地膚子，大致如是。再氣虛者加白朮為使，血虛者加黃耆為使。用法既不可自作聰明，又不可膠執成法。他如走於腎而腿腫，深入脾而為疸等症，治法亦甚多，如能認症變法，自然目無全牛。</p>

<h3>肝氣病之治法</h3>
<p>肝氣之為病，皆由急怒而得。其始也，治之甚易，涼肝即已。何者？肝為陰中陽而能生火，急氣之來，肝液暴發而不藏血，則疾作而熱生，其因肝氣成痼疾者，皆為溫肝藥所誤也。必也肝為寒侵，或寒水為疾，母伐其子，方能適用溫肝藥。</p>

<h3>木剋土病之治法</h3>
<p>肝氣每於食後病胃者，木剋土也。此疾立方，其標為胃，當以小枳實清胃為君；其本在肝，當以膽草涼肝為臣；作嘔必有瘀血，當以桃仁泥為佐；木土為疾，肺必不宣，大腸亦必有滯，當以軍炭為使，開下行之路，再以川樸佐君而行胃滯，以石斛佐臣而鎮肝，以白茅根佐佐而生新，以通草佐使而使清濁異路，此配方之梗概也。</p>
<p>肝病為本，胃病為標，似應以涼肝之藥為君，乃以清胃之藥為君者，治病宜先治標也。標之為病既甚，不清其標，難治其本。惟治本時不必顧標，治標時必兼顧本。不顧本而徒治標，標無日見輕。蓋標本關係綦切，必俟標痊而始治本，此為必無之事。但病既有標本，不先稍理其標，則正氣易敗耳。</p>

<h3>停食作燒之治法</h3>
<p>此不分標本之病也。宜以生軍為君而降滯，以薄荷為臣而退燒，以枳殼為佐而清胃，以木通為使而逐水，並分生軍之勞，而使生軍專利於降滯。</p>
<p>某君謂食留胃脘，停而未消，似先以消化為是，用楂炭、穀芽、膍胵之屬為宜。倘積已下趨，非降不下，然後用軍為妥云云，是說亦有見地，但本草皆以軍為霸品，而因不敢用軍，致病人失下而死者，不知凡幾，吾用藥幾於無方無軍，從未有傷脾胃者，此層與某君用法稍有不同。</p>

<h3>內有熱外為寒搏忌用白虎湯</h3>
<p>此症必腹痛作燒，先宜用清涼活血之法。如燒退痛減，小便赤，可不用熱藥。如燒退而痛不減，唇不甚焦，便清，可用溫藥逐寒。如痛稍減，心不煩，唇不焦，便仍清，可再與之。如一劑痛大減，而心煩、唇焦、思涼，則不可再與，仍宜用清涼活血法，而稍佐溫平。及小便赤，陽已大回，可重用清涼，切不可佐溫平，寒者亦如之。一發之失，生死立判。心不可不細，膽不可不大，但非慧心人不易領會。</p>

<h3>內有寒外為熱搏先用清涼之理</h3>
<p>此症如用溫散法，反將外熱蕩起。寒因熱搏，熱愈蕩，寒愈不得外宣矣，故宜先清熱，熱去寒宣，方可施法。此症醫得其法，斷無加重之理。有如凍柿，以溫水浸之，頃刻即化。以新沸澆之，外皮雖溫，內凍愈堅。緣四周過熱，不特寒不易宣，反為熱迫而內結矣。是時浸以涼水，待冰凌外宣，再沃以熱水，則渙然冰釋，物理可借證也。</p>

<h3>今日外科症多由濕毒熱結所致然往往用大涼則陷里用溫補則易已其故安在</h3>
<p>大陰症豈溫補所能奏效。蓋外科除大陽宜涼，大陰宜熱外，余多得之於肝脾，或由悶郁，或由厚味，使熱毒聚於一處，然後入腑則甚，入臟則死。故於症之初起，先降毒，後護心。又因熱聚一處，血液不為氣行，則血必寒，寒必腐，故次宜生新補氣。</p>

<h3>外症為熱毒所聚其腐也何以反由血寒</h3>
<p>蓋熱則血行而內消，必不腐矣。其腐也，因患處雖熱，他處在在梗塞，則熱為寒搏而不通，故腐而生膿。膿則熱隨血行，他處亦溫，不膿則熱入於內，患處亦寒，所以膿者易療，不膿難已。至於治法，欲其膿則補之，欲其消（有可消之希望時），則大涼大降可也。迨膿去後，病雖愈，氣必傷。故外症以能食為順，雖參耆並用，而君藥之二花卻不可少。［二花即銀花。〕</p>

<h3>婦科胎前產後之用藥</h3>
<p>近治甲乙兩婦症，一則胎前用苦寒，產後亦用苦寒；一則胎前用大涼，產後用溫行。所以異者，蓋產後用藥，一視胎前而定，苦寒品為普通產後所大忌，貿然投之，敗象立見。甲婦小產，原系濕熱裹胎，幾不能認其有胎，周氣血皆為濕熱所傷，其病在母不在子，乃子為母傷之症，故始終用苦寒也。乙婦乃胎熱爍血之症，其病在子不在母，故母反為涼血所傷，以致血行不暢，痛連腰脊，且胎前為母子俱不能保之險症，血分因虛而瘀，故治法先涼而後溫。</p>
<p>再乙婦症極難治，即俗稱抱子勞。在守成法者，不知害人多少。依症胎前寡食，由受孕至臨盆，無一日安適。產後先寒，乃陰未大傷，陽亦尚固，惟血為胎前涼藥之餘毒耳，回陽即可止病。若產後仍熱，則是陰分大傷，陽氣外竄，施以大救陰之法，不過十活六七。蓋產後寒易治，熱難為也。</p>

<h3>論抱子勞</h3>
<p>孕婦無勞症，倘將入勞，則不成胎，理最明顯，醫者不察、以寒能凝血、能下胎。遇胎熱症，不敢投涼劑，以致多亡，因是美其名曰抱子勞。症之初來，先嗽後喘，脈弦數而搏指。醫者認為血虛，投以歸、耆，不應。又疑為肺寒，投以麻、蘇。胎熱之人，受此熱劑，未有不母子俱亡者。間有醫者或見及此，雖用涼藥，亦必佐以歸、芎，仍不敢投重劑。杯水車薪，胡能有濟？故有一二特出者，敢以重劑相投，乃病者見而卻走，親友聞之咋舌。即有服藥見愈者，或作醫案以傳世，後人不但不信，反曰著者欺人。吾從前遇此症甚多，竟無一人按法服藥，以致未曾救活一人，良可慨也。醫生臨症，遇症如遇敵，用藥如用兵，膽宜大，心宜小，識宜明，行宜慎。君臣佐使，絲毫不可亂。量數輕重，分釐不可差。常見醫者用成版湯頭，藥品不敢易一字，而分量反意為增減，一劑不效，則改方針。二劑不效，則曰變症，或囑另延他醫。噫！涼熱雜投，藥誤病劇，雖有良醫，弗可為也已！</p>

<h3>婦女崩漏有寒熱虛實之不同</h3>
<p>寒症則少腹作痛而不脹，唇白，口思熱，舌滑而潤。熱症則因熱蕩血，腹脹而痛或不痛，面赤唇焦，舌膩口渴。實症則氣促多熱，虛症則氣短多寒。蓋黑色成塊多熱（色黑亦有寒者，但視其他現象以定之）；色不正而黏，多寒。實則塊多，虛則稀而少塊。總之此症或黑紫，或淡紅，或無紅色者，見證不一也。</p>
<p>再寒能凝血，而患崩漏者，女子天癸，按月而來，因寒將血閉，月留一點，累月所積，一旦俱下，則為崩漏。治法以艾、桂逐瘀。</p>

<h3>解拍花迷藥法</h3>
<p>通關散能解拍花迷藥。常佩避瘟散，或上等香面、香水等，及麝香、乳香、沉香、木香、檀香、雄黃、白芷、荊芥、皂角刺、蘭花子等藥均可。要之，使鼻不得聞他味，且鼻竅常開而不閉，則迷藥無法可施。</p>

<h3>耳腫治法</h3>
<p>用田螺加冰片浸出水，敷之即愈。蓋田螺性寒，其色青黑，故涼肝滋陰。耳腫於肝熱，以田螺去肝熱之結毒，加以辛溫之冰片而散其瘀，則腫自消。</p>

<h3>苦膽與牛黃之異性</h3>
<p>苦膽能清心火，下燥糞，其功與大黃、石膏等。牛黃氣香味苦色黃，能固脾胃，其性和緩。</p>

<h3>論《全生集》</h3>
<p>《全生集》是極好之書，法多可取。蓋成方往往無規模，且多蠻補之方。是集湯頭，頗少斯弊。用藥補散品為正，涼泄品為奇，大熱品為偏。我同人用補用涼用熱，能指揮如意，則外科之能事畢矣〔評王維德著《外科證治全生集》〕。</p>

<h2>慈濟醫話（癸亥秋季）</h2>

<h3>醫者責在救人</h3>
<p>醫者臨症，惟恐認症或左。認症不明，萬不可冒昧貪功而誤生命。認症既明，又不可敷衍了事而失良機。如症不中變，總須盡力而為，期收圓滿效果。惟有三不治：敗象現不治；真臟脈現不治；病家二三其意不治，以徒勞無益也。吾從不敢以醫自炫，只以近來湯頭醫生，與日俱增，病人因藥而死者，亦與醫俱增。長此以往，人命不知枉死若干，坐視不忍，乃作根本改革之圖，此組織醫學會之起原也。本會研究醫學，直接因為造就醫生，間接實為保全民命。責任重大，程途遙遠，願與諸子共勉之。</p>

<h3>醫道浸衰之原</h3>
<p>醫道與營業迥異，營業取專利，醫道貴廣傳也。自來醫道浸衰，誤於秘本。秘本之起源有二：一則偶得效驗之方，視為至寶，秘不示人；一則稍通文墨者，閉門杜撰，僥倖一得，遂誇大其詞，錄為抄本，吝不付梓。即有謬誤，不肯就正高明。噫！談醫之人，盈千累萬，而得理之人，不過十數。遑論乎道，彼秘密不傳，或謬種相傳者，則比比然也。自誤誤人，甚至誤天下，誤後世，可勝慨哉！吾講書論醫，舍群家，屏秘本，專取本、內二經，示之準繩，庶幾積習少挽。</p>

<h3>論《內經》之主要</h3>
<p>《內經》為養生之書，首篇即論持滿御神，以全天真。又曰：虛邪賊風，避之有時。次篇即論四氣調神，以養臟腑之數端者，可括全經之主要。蓋凡百病狀，皆緣不知持滿御神，不知避虛邪賊風，不知四氣調神所致。凡百治法，皆須審查，不知持滿御神、不知避虛邪賊風、不知四氣調神之故，而施以相當之方術也。</p>

<h3>處方宜洞明醫理</h3>
<p>論脈、論病、論藥皆易，獨配方則難。不知醫理，則不能配方。不能配方，萬不可讀湯頭。蓋配方以專治某病尚易，因病而隨證配方甚難，必具有因病配方之能力，然後始可讀湯頭，藉資參考。設不能因病配方，據讀湯頭，以古方加減為法則，勢必不肯潛心深造，流入粗工也。</p>

<h3>治病不宜膠執成法</h3>
<p>治病須法由我定。若膠執成法，欲適合今病，何異削足適履。如春忌疏散而喜涼下，設病真傷寒，豈可下乎？秋喜疏散而忌涼下，設遇內熱症，豈可散乎？立方以治病為的，不厭重複。如百人同病瘟，則同用一方，而視病之輕重，體之強弱，略予增減之，雖治百人可也。如陰陽交爭，病雖在於一人，而今日陽盛則助陰，明日陽敗則又須助陽。隨病更方，並非矛盾，雖一人而兼用數方亦可也。醫者不察，往往得一方以為奇珍，無論何症，皆用一方，誤矣。矯其弊者，又或自詡飽學，不問病之何屬，但易人即易方。此人病瘟而用涼，彼人病瘟而用熱，矜奇立異，皆不明理之工也。</p>

<h3>治病不宜專決於脈</h3>
<p>治病之法，先察色音，後察二便，詢其所苦，問其所欲，然後取決於脈，則十得八九矣。若自作聰明，僅以脈斷，未有不貽誤者。緣病之所生，多由於風，風脈未有不浮者。如吐而頭痛，項強，便難，脈浮，則宜降。不吐而頭痛，項強，便利，脈浮，則宜散。同一浮象，而輕入則散，深入則降，緣頭痛則太陽病，吐則太陽陽明俱病。仲景著作，誠大觀也。</p>

<h3>治病貴得病家信心</h3>
<p>某君之疾，為最難最險之症，緣肝熱氣虛，濕盛為本，感熱為熱，感寒為寒。故首宜生血，次宜固氣。寒盛宜治寒，熱盛宜治熱，此難於施法之症也。醫者認症不清，則不敢治。認症清而病家不信，亦不能治。故斯疾微吾不能治，微某君不能愈，施者受者，彼此均有關係。諸子遇斯症，務先與病家說明症變之理，倘病家相信，得完全施以相當方法，庶可多救幾人。</p>

<h3>用藥瀉多於補之理</h3>
<p>治病如修理時表，表之待修，以積有油垢耳。人非水穀不生活，飲食入腸胃，積日既久，則所食之厚味，及難消之食物，逐漸積滯於腸胃，一受外邪，因而致病。故治病之法，除虛寒內傷另論外，其它各病，無不須清胃而去滯者，則修表滌垢之類也。若虛寒則如表內機件之不固，內傷則如表內機件之損壞。此二種病，在表非僅滌垢可以竣事，在人亦非僅降滯可以獲痊也。</p>

<h3>水穀精微經行臟腑之次序</h3>
<p>臟腑資水穀而生養，水穀因臟腑而變化。水穀之於臟腑，其關係誠密切也。而水穀之精微，經行各臟腑，其曲折奧衍，實有一定不易之次序焉。蓋胃為受納水穀之所，飲食入口，先至於胃，經脾與膽汁消化之，其所化之精微，由胃之管而下入膀胱，著於膜即化為水（液體）。此水經腎陽之蒸，膀胱之化，清者上升，由三焦入肺而為氣（氣體）。濁者下降，則由溺道行矣。胃中所餘之渣滓，注入小腸，經一度之變化，輸入大腸，再變化其形體，而為糟粕（固體），則從魄門出矣。再飲食入胃，除前言精微入膀胱，糟粕走魄門外，其極精微者，由胃化精為血而入腎。血為陰，復入其所生之臟，以養五臟之真氣。於是由腎而肝，而心，而脾，而肺，流轉而不息焉。其入肺所化之氣為陽，復入其所克之臟，以運穀氣之精微，於是由肺而肝，而脾，而腎，而心，循行而不已焉。氣血在人身中，往來運行，如環無端，周而復始。而水穀之變化，臟腑之生養，於是相生相剋而相成矣。</p>

<h3>誤藥之敗象及死期</h3>
<p>熱病輕者，或飲涼水而愈，或並不服藥而愈。以邪在皮膚，邪去則病已，故勿藥有喜。若誤服熱藥，反增劇矣。</p>
<p>熱病誤服熱藥，當現口渴、神昏、譫語、唇焦，或全身雍腫之象。寒病誤服涼藥，當現面青、唇白、下泄、腹痛，或氣短、胃寒、盜汗之象，此大略也。尚有敗象種種，未可執一而論。病勢雖輕，若誤服藥，雖屬平妥之劑，速則一月，遲則半年必死。蓋人身氣血之消長，視月之朔晦為轉移。至一月則氣血隨月之遞虧，漸漸被藥消盡，生命乃亡。若氣血盛者，一月傷太陽，二月傷陽明，三月傷少陽，四月傷太陰，五月傷少陰，六月傷至厥陰而死。</p>
<p>又死期一月、半年之分，亦關傷胃、傷臟之異。傷胃則胃氣漸絕，一月必死。如熱病敗象，為神昏譫語。寒病敗象為作泄乾嘔。皆反藥攻入陽明之象，然要知非由太陽傳入，緣胃本熱或寒，繼以反藥來攻，變本加厲，胃乃於裂或收縮，致不克收納水穀，分布臟腑，其人不亡何待？故斷以一月死也。傷臟則臟氣將敗，半年必死。如熱病之壅腫，寒病之胃寒，皆由少陽攻入太陰之象。蓋熱病至唇焦、畏寒、口渴、便燥，知病在太陽，及全身壅腫，則入太陰矣。寒病至頭痛、項強、唇不焦、便利，知病在太陽，及胃寒氣短，則亦入太陰矣。由一月太陽起，至遲不過傳至六月厥陰而亡，其間無論在何經期內，一現神昏譫語或乾嘔作泄之敗象，未有不立即身死者。</p>
<p>誤藥之後，如氣血未至大傷，亦可救藥。緣此病既非內傷，又非邪客，不過為藥毒影響所致，故氣血苟未過傷，尚非不治之症。</p>
<p>《傷寒論》傳經以日計。《內經》之傳經，或以日計，或以月計，或以年計者，蓋邪多以日計，失調多以月計，內傷多以年計也。</p>
<p>前言誤藥不即死而可救治者，指身壯害輕者言，非普通也。醫者以術救人，用藥辨症，萬不可不周詳審慎，設因輕心武斷，誤投劑以殺人，在醫者不知，在病者亦不知，醫者誤斷，曰絕症。病家亦誤信，曰絕症，殺人於不知不覺之中，雖無法律相繩，奈陰騭何！言念及此，心滋痛矣，可不慎諸？</p>
<p>某兒始患瘟熱瀉痢，用誤服參、術及西藥，近現唇焦齒枯，音閉，大便黑紅，皮肉粗厚等象，乃邪灼太陰之證，法宜養陰、涼脾、舒肺、降滯、活血疏邪以治之。若全身腫潰，音閉便結，死無日矣。</p>

<h3>陰陽之開闔樞</h3>
<p>讀書固不能任意翻案，亦不可泥古鮮通，《內經》各家注，以王注為最正確。吾講《內經》，亦不過推廣各注，酌量取捨而已。《內經》以厥陰為闔，他若《甲乙經》、《中藏經》，亦皆以厥陰為闔。吾意總以少陰為闔，而厥陰為樞。何者？足太陽在足少陽、陽明之下，陽當上升，膀胱開其上升之路，故為開。至胃而藏，散布各處，故為闔。膽居胃與膀胱之間，為輸送陽氣上升之樞紐，故為樞也。又足太陰在足少陰、厥陰之上，陰當下降，脾開其下降之路，故為開。至腎而藏，散布各處，故為闔。肝居腎與脾之間，為疏泄陰氣下降之樞紐，故為樞也。證之《傷寒論》一曰太陽，二曰陽明，三曰少陽，四曰太陰，五曰少陰，六曰厥陰，亦似以開闔樞為傳送之次序。敢貢一得，以資折衷，但各家注厥陰為闔之理，實為精確不磨，故義可並存，又不可強分軒輊也。</p>

<h3>營榮衛</h3>
<p>血中所含之氣為營，陽也。血為榮，陰也。其行於營榮之外之氣，而為營榮之衛護者曰衛。衛即出毛孔之氣。西醫所謂用數千百倍顯微鏡，照見毛形如樹，其下有坑，坑內有許多蟲，或入或出，即衛氣也。《內經》論之綦詳。今人能分營衛者有幾？營榮衛及胃氣，為全部《內經》重要之點。學者宜剖別清晰。衛氣賴營榮以養之，營榮賴胃氣以養之。養生之道在此，療疾之道亦在此。如以衛為營，則營字可廢。以營為衛，則衛字可廢。吾不憚反復引伸者，恐有遺誤耳。自誤罪小，誤人罪大。</p>

<h3>風傷衛寒傷營</h3>
<p>衛在外，風能傷之。營在內，必須寒侵內而後能傷。營傷則血凝，故經云：「熱傷氣，寒傷形。」其實熱亦能傷形，寒亦能傷氣。不過熱重方能傷血，熱輕則否。寒則傷氣三分，傷血七分。</p>

<h3>肝肺部位中西論各不同究應何從</h3>
<p>肝肺之說有四：或曰肺右肝左；或曰肝右肺左；或曰肺居心上、肝居心下；或又曰肝系在左，部位在右；肺系在右，部位在左。之四說者，雖各有見，實未中肯。吾謂欲求肝肺之左右，須知膂脈系左降而右升。肺之呼吸之喉在右，蓋肺主呼，肝主吸。肺雖在上，其系實居脊右；肝雖在下，其系實居脊左。《內經》既曰肝左肺右，膂脈又右升左降。《難經》又曰：吸為肝腎，呼為心肺。氣管又為右喉，以上諸據，足證肝系確在脊左，肺系確在脊右。心主呼，故為表，其系從肺，亦必在右。腎主吸，故為里，其系從肝，亦必在左。</p>

<h3>脈何以能動何以因其動而能測表裡虛實</h3>
<p>脈為血之府，氣率血行，故能動。肺運五臟之氣，行至寸口而止。邪客於氣則浮，故在表；邪客乾血則沉，故主裡。氣血俱盛，則急為數，故曰實；氣血俱竭，則緩為遲，故曰虛（此論脈之緩急，謂其至數，非謂其來去也。）。</p>

<h3>經絡脈之別</h3>
<p>人身之筋，束骨絡肉，形則中空，經絡即就筋而定名。十二經氣血所行之筋為徑，由經分布之筋為絡，由絡分布之筋為孫絡，徑與絡與孫絡之內有孔，孔有薄皮之管，內通於心。心血因氣輸送於管，分布於各經及絡及孫絡，以榮筋肉。其行於經內氣血之動者為脈，重按之而覺酸者為穴，緣脈遇筋之薄處，或氣血盛處則應指而動，因其內通於臟，故能切人之表裡虛實。再筋之根發於肝，而系通於心，真血行於筋內，常血走於筋外。試以寸、關、尺言，其鼓盪之力，皆在筋內，常血亦由筋分布於外以榮內。</p>

<h3>筋薄處是否即穴</h3>
<p>凡有動脈處皆為脈。而穴之所在，則不限於筋薄處也。例如寸口，尺澤，太陽，虛里等穴，則皆筋薄而脈可按。小海等穴，則筋厚而脈不可按。</p>

<h3>論嗽</h3>
<p>立方當問病因，然四時司天之權，亦非絕對無關係。如春嗽，冬日腠理闔閉，邪風不易內侵，其嗽也，多由煤炭之薰蒸所致，故宜養肺，但終日僕僕風塵，由風寒作嗽者，不在此例。如秋嗽，夏日腠理開張，最易感受風邪，故宜清肺，但由內熱作嗽者，不在比例。又陰虛皆作嗽，當問其有無口渴，便燥，舌膩等象而分之。</p>

<h3>口渴之種類及原因與治法</h3>
<p>胃熱口渴為本病。由他種原因所傳，因之口渴者，更約有五種：因腑熱灼胃而作渴，一也。因臟熱灼胃而作渴，二也。因血虛灼津液，胃失津養而作渴，三也。因血淤胞門，致津液不得上行潤胃而作渴，四也。因水停膈間，不能化津液潤胃而作渴，五也。諸渴之治法，皆宜先養陰生津以潤胃，再視其發於何種，以定佐使。</p>

<h3>胃寒而嘔脾虛而泄與霍亂之熱證吐泄其區別安在</h3>
<p>胃受寒則血瘀氣滯，少受盛之能力，故食入胃則逆而嘔。脾虛而失運化之能力，故食不化則泄。霍亂乃寒熱相爭之證，寒勝者氣血俱凝，故不得吐泄；熱勝者，氣血俱張，故上則吐，下則泄。因受病之情形不同，外形自不能無異也。</p>

<h3>論霍亂症</h3>
<p>霍亂乃陰陽相爭之症。陰盛為寒，陽盛為熱。故霍香正氣，為治寒熱未分勝負之正方，取其香竄分解寒熱，使邪外走也。如勝負已分，非理中、自虎湯不可。理中治陰盛，白虎治陽盛。知滑潤與否，為最大之關鍵，然脈象外形亦不可不察。因熱極亦有舌滑而潤者，但甚少耳。又已吐泄者多熱，欲吐泄而不能者多寒，為霍亂之公例。</p>

<h3>論便紅症</h3>
<p>便紅症脈皆洪大，醫者多以為浮緊，妄下附子、升麻。不知便紅除虛弱已極外，皆因過於飽食，大絡橫解，以致絡血妄行。腸結為熱，非重用白茅根，不足收效。</p>

<h3>論虛弱便紅症</h3>
<p>虛弱便紅，乃氣不固血所致，可用升麻、附子。其脈浮而無力，大而不實，與熱症脈象外形迥乎不同。</p>

<h3>傷寒有熱入血室，白晝清明，夜則譫妄，如見鬼狀，顯系熱邪，古方何以反用柴胡湯加牡丹皮治之？</h3>
<p>此須視病人情形如何。熱甚，用白虎湯亦可，佐麝香亦可，但用柴胡亦自有理。緣血滿心包，故用丹皮涼下，柴胡平升，一升一降，血自有出入之路，而症可已也。</p>

<h3>喉症治法</h3>
<p>喉症甚多。寒者可溫散，用半夏、陳皮。熱者用黃苓、牛蒡子。實者用桔梗、前胡。惟虛者最難，其症多白喉，可大養陰大降，重用生地、元參，犀角、羚羊均可用。至紫雪、安宮牛黃丸，勢在必去，因該兩藥內多開竅及忌品，用之收功甚緩，症勢急不待緩，必致於亡。</p>

<h3>病人聞有人耳語之故</h3>
<p>有李某者，每聞有人耳語，囑以早歸，不可遲滯人世，不久即病亡。蓋人肝虛則魂離，心虛則神離。神魂俱離，則神魂自能為言，而本竅應之，故有是狀。人有久病瀕死，能知遠方之事，或見鬼見神者，皆是此理。</p>

<h3>用針用藥</h3>
<p>用針用藥，俱是一法。須先知陰陽臟腑之職能，經絡血脈之所主，方能用針用藥。若學針僅知刺，學藥僅知湯頭，則不足談醫矣。</p>

<h3>梅花刺與陰刺陽刺</h3>
<p>陰刺陽刺，均與梅花刺法無關。梅花刺不過刺之一法，直入一，旁刺四，為梅花刺。又旁穴刺者，因正穴禁針，則於正穴之旁刺之，是為陰刺。若正穴不禁針，則於正穴刺之，是為陽刺。有謂直入一、旁刺四或斜刺為陰刺者，則大誤也，此為針法最重要之點。</p>

<h3>前講熱走小腸為淋，今講熱留小腸為閉而不通，前後不同何故？</h3>
<p>熱為氣化，由小腸入大腸。因為氣結，故未經大腸，即由三焦脈系入膀胱，而為淋症。若熱與血結，則專走大腸而便燥矣。</p>

<h2>慈濟醫話（癸亥冬季）</h2>

<h3>醫貴明理</h3>
<p>道以理明，醫亦以理明。藥以氣味為本，形質為未。人以氣血為本，經絡為末。欲知藥之形質之機能，須明藥之氣味。欲知人之經絡之機能，須明人之氣血。此為格物之至理。溯本求原，為科學之初步。</p>

<h3>論治病之難</h3>
<p>治病一道，言之易而行之難。撮而言之，其難有五：人之病也，醫者能知而病者疑，其難一。病者信而醫者不知，其難二。奇病怪疾，不載於書，其難三。醫有發明之心得，公布於眾而眾不信，其難四。醫生能知，病者亦信，而不善於調養，其難五。</p>

<h3>治病用法之步趨</h3>
<p>治病用法，當以《本、內》二經為主體，以《傷寒》、《金匱》為參考，始協正軌。若專崇一家，或僅貫串數家，未有不偏者也。他家僅可為佐證耳。取法乎上，僅得乎中，況取法於下，而又下者乎。學者用法，當步趨正軌以行，神而明之，自無難症。若泥守他家，一遇未經論及之症，則束手無策矣。</p>
<p>後世之醫，往往心無見地，僅持二三湯頭，出而問世，乃執方而覓病，非對症而立方也。無所謂難症不難症。遑論乎步趨，如肯博採群書，有暇並對於《本、內》二經，時加尋繹，即步趨也。藉曰《內經》難解，《本經》藥少，則無步趨矣。</p>

<h3>論中西醫</h3>
<p>西醫每謂中醫不精外科，中醫又謂西醫不精內科，皆自棄之語。中醫果精，何曾不善治外科。西醫果精，又何曾不善治內科。法分中西，理實一貫，必強分界限以定瑕瑜，豈非執一之見乎？</p>

<h3>論中西醫</h3>
<p>世人近為生計所迫，業中醫者日多。道理不明，脈臟不達，所在皆是，無怪西醫曬之。但西醫未諳中醫之理，每謂中醫不知臟腑之部位及作用。豈知《內經》靈蘭秘典論部位及作用，較西醫尤細。中醫又謂西醫輕視人命，不知內科，尤為可笑。蓋西醫經數千年之研究，若無真實學識，其道何能行於我國？中醫著作，歷數千年之久，成於諸聖之苦心，若無真實道理，亦豈能傳至今日。乃西醫日見進益，中醫日見衰微，人命存亡，爭此一線，何忍坐視，現在講解醫書，願與有志之士，重興我道。聽講諸子，對於中醫復興，責任綦重，好自為之可也。茲將所講書目，另行編訂如下：（一）、《素問》。（二）、《靈樞》。（三）、《本草經》。（四）、《脈經》。（五）、《難經》。（六）、《藥性賦》。（七）、《甲乙經》。（八）、《中藏經》。（九）、《傷寒論》。（十）、《金匱要略》。</p>

<h3>《內經》成於何代作於何人當就文字推定</h3>
<p>《內經》中「九州」及「閹者」等句，皆二帝三王以後之歷史，足證非黃帝時書，可斷言也。但有謂系秦漢方士所作者，引例固詳，亦難盡言。試就經文以定時代，實兼三時代之文字而有之。其文體之古奧也，言簡意該，與左傳、四子相伯仲，是可斷為列國時文。其文詞之偶涉誇張也，與古奧句法判然不同，逼肖秦漢時人之口吻，是可斷為秦漢時文。其篇名所定，與《中藏經》筆調相同，詞采所流，與三國文作法無異，是又可斷為三國時文。在三時代之醫聖，列國則有和緩，秦漢則有仲景，三國則有華佗。全經文字岐異，筆墨非出一手，故觀於文字之深老，知著作者為和緩，觀於語意之鋪張，知潤色者為仲景，觀於標題遣詞之工雅，知成書者為華佗。</p>

<h3>註解醫書以《內經》為最難</h3>
<p>古今醫書夥矣，或以《易、禮》二經而講醫，或以子集而講醫，等而下之，或論方、或論藥、或論形骸，議論紛如。彼此聚訟，是非不免互見矣。若嚴格取之，求其醫理精確不磨者，厥惟《本、內、難》三經，尤以《內經》為精深而難解。後世學者，或法長沙，或學河間，次之或取景岳，或宗洄溪，或讀修園，鮮不為一家言所束縛，即有一二志趣遠大者，亦不過專攻《本經》，或究心《難經》，緣前人於《本、難》二經，不無精確之註解也。惟《內經》一書，注者雖近百家，大半依樣葫蘆，陳陳相因，絕少獨抒心得，能發前人所未發者，吾輩何人，敢持高議？但於仔肩所寄，不敢不勉，擬於《內經》，從事註解，竭千慮一得之愚，避影響模糊之誚，俾數千年發揮未盡之學理，或放一線光明焉。道無終秘，願與同志共勉之。</p>

<h3>註解《內經》宜博於參考</h3>
<p>吾講《內經》，並不甚精，因於《易》、《禮》二經，不過略知大概耳。大凡講書材料，首在串文及取捨各家注。吾輩欲精注《內經》，亦宜先串文，次看各家注，再細究《易》、《禮》之奧，再旁參《老子》、《關尹子》、《抱朴子》、《孫子》諸著作，然後下筆注《內經》，自較以《甲乙經》注《內經》之啟玄子為佳。吾不過為識途老馬，若拘執吾之所講亦非正確，蓋七七八八之數，不以《易》講，不透。宮商角徵羽之音，發於喉、舌、唇、齒、鼻，與臟之關聯，不以《禮》講不透，此吾所短，希諸子有以濟吾。</p>

<h3>註解《內經》宜求真是</h3>
<p>著書一節，不可謂古人遺法，不敢輕易一字，亦不可藐視古人，不加思索，隨意竄改。自來注《內經》各家，王病在不改，李病在擅改，高、吳二家雖較善，然亦犯王、李之病。即我所講，我見為是，未必人以為是。即人以為是，亦不過暫定為是。設有人將我之理駁倒，另有較長之理，則彼是而我非。又有人將彼之理駁倒，更有較長之理，則彼非而此人是矣。</p>

<h3>論《新內經》</h3>
<p>前有人以《新內經》送閱，考其內容，不過翻譯西書，亂駁古籍，將中國數千年古聖先賢，概以方士二字，一筆抹煞，多見其不知量而已。</p>

<h3>改脾為厥陰心包為太陰之主張</h3>
<p>脾為厥陰及厥陰為樞，此吾個人之主張也。厥陰為樞之理，前曾論及。茲再述脾為厥陰之理。古說脾肺屬太陰，心腎屬少陰，肝與心包屬厥陰，究之土生金，太陰之脾肺，二者乃相生也。水剋火，少陰之心腎，二者乃相剋也。至厥陰之肝與心包，生克皆所不居，二者乃不相干也。各陰配合之關係，參伍錯綜，似無定例可循。何如？以肝脾屬厥陰，則為木剋土。以肺及心包屬太陰，則為相火剋金。再加以少陰心腎之水剋火，是手足三陰，皆取義於相剋而相成，其說較為整齊劃一乎。惟是《內經》三陰，由陰陽互助之理而成，鐵案天然，無法可以駁倒，吾之杜撰，雖有具體之理由，姑存一說可也。</p>

<h3>間臟與不間臟</h3>
<p>五臟有病，母子相傳，為間臟，即間其所勝之臟，而傳於所生之臟也。五臟次序，肝傳脾而心間之，心傳肺而脾間之，脾傳腎而肺間之，肺傳肝而腎間之，腎傳心而肝間之。例如肝病，脾則肝所勝之臟，心則肝所生之臟也，肝因為心所間，不傳於脾而傳於心，是為間臟，其氣相生，雖病亦輕而易愈。若肝不為心所間，而傳於所勝之脾，以木剋土，是為不間臟，其氣相殘，有病必甚而難治。</p>

<h3>心之部位與脈氣</h3>
<p>《難經》云：呼出心肺，心主呼。其系從肺，因肺在左，心亦必在右，乃就部位言也。《內經·脈要精微論》云：左外以候心，是言寸左以候心，乃就脈氣言也。兩說各有所指，似相左而實相成。</p>

<h3>心包脈之部位</h3>
<p>心包上通於目，下達於腎，既通腎，定在右尺也。左為脈之起處，腎居下，為天一生水，故居左尺。水生木，故肝居左關。木生火，故心居左寸。火生相火，故心包居右尺。相火生土，故脾居右關。土生金，故肺居右寸。就五行言，心包亦應在右尺也。惟《內經·脈要精微論》云：內以候膻中（膻中為心包別名）。所謂候膻中為左寸者，乃火將生相火之象，由左寸生右尺，非謂心包之脈在左寸也。</p>

<h3>腎志恐</h3>
<p>腎主藏，其脈下達於足及睪丸，上通心包，由肝至目而止於手。惟其主藏而通目，故目觸怪象而搖其藏，此恐之所由生也。</p>

<h3>論三焦</h3>
<p>論三焦非繪圖不易瞭解。茲繪縱斷面圖如下：□。四線皆池膜，統名三焦。兩直線即等於圓形中空之油膜，此膜外貼筋骨，通腠理，內連臟腑。兩橫線為兩圓形薄片之油膜，即膈膜也。上層油膜，居心肺之下，下層油膜居肝之下，腎之上。上線之上為上脘，兩旁直線為上焦。上線之下為中脘，兩旁直線為中焦。下線之下，為下脘。兩旁直線為下焦。三焦小孔甚多，便於輸運，具輸送水分，運化精微之功能。間有大孔十數，以絡臟腑之孔，為往來相通之引線。總之，三焦形如竹筒，中隔二節，不過為玲瓏體耳。</p>

<h3>論胃氣</h3>
<p>或問胃氣有無之關係？曰：凡病重嘔逆，或脈澀而現真脈者，其結果必死。蓋人賴水穀以生，胃為水穀之海，更賴脾之液，肺之氣，以化五穀也。若胃因病耗而蒸乾，則脾液必不能達，肺氣亦難輸送，嘔逆繼作，不能消化水穀，分布各臟矣。夫氣率血行，肺因胃干而失能力，則氣敗不能率血，故脈澀。</p>

<h3>論脈之潤澀</h3>
<p>或問人謂脈有餘則生，不足則死，其信然乎？曰：然。滑潤之脈即有餘，枯澀之脈即不足，如雀啄、屋漏等脈，皆枯澀而失滑潤者，故弦脈必如尋長竿歷貫珠，方為平脈，極形容脈之滑潤也。</p>

<h3>脈分五色之故及觀脈色之法</h3>
<p>心生血，血色赤。肝藏血，血不甚流則青。脾統血，因流急而色淡，故黃。入肺尤淡，遂化為津，故白。腎受血而不流，故黑。總之血液本色屬赤，生色黃，因血流也。死色黑，因血滯也，色潤則流，色暗則滯，此五臟分五色之故也。至脈分五色，亦同此理，皆血之多少或流滯之關係而已。脈為血府，真血行於筋內，血少當現白色，即淡紅色，因尚流通也。若不現白色，反現青色者，因血少筋空，寒乘虛而入，血為寒凝，故青，此為脫血。脈平為紅色，血多為紫色，血多而又為熱結，為黑色。隔膚觀脈，其色殊難指實，緣青白紅黑紫皆有青色，乃肉膚色也。凡觀脈色，當由青內求青白紅黑紫。言之易而觀之難，只可以詞藻形容之，如青而華潤者為平，華而青色淡者為白，華而青色深者為紫，華潤俱失，筋暴而青者為青，甚於青者為黑。</p>

<h3>論運氣</h3>
<p>運氣之說不一。《內經》謂由正二月起，每兩個月為一運。《難經》則以冬至後第一甲子起運。世補齋又以立春日起運，彼此不同何也？曰：皆是也。學者研究運氣，當先知運氣二字作何解釋。運者五運，木火金水土也。氣者六氣，風暑燥濕寒熱也。簡言之，即陰陽也。推言之，五臟為陰以應運，六腑為陽以應氣。人身之陰陽，莫非天地之運氣也。是以就五臟言，則以立春說為是。就六腑言，則以冬至說為是。若推而廣之，就宇宙之紛紜萬象言，尤當以干支說為正。此《內經》所載，所以包括一切而靡遺也。</p>

<h3>五行相生之中亦能相剋</h3>
<p>五行相生相剋，各有定序。然相生之中，亦有相剋之理存焉，何者？木因火培而生，火因鑽木而生，土因火煉而生，金因土產而生，水因金化而生，此五行相生之概也。木見金而立斷，土見木而立分，水見土而立干，火見水而立熄，金見火而立化，此五行相剋之概也。伊古以來，人之宮室、衣服、飲食、器皿諸項，無不本於天然生克之力，以運用而不窮。但細推之，相生之中，亦能相剋，藉收相制相成之功。如木能生火，然以柴遇火而木成灰。火能生土，然以土滅火而火即熄。土能生金，然以金為鏟而土自分。金能生水，然以金置水而金立炸。水能生木，然以木滲水而水自干。是以五行雖妙，運用在人，不可執一而論。如經典所謂子奪母，母奪子，未嘗非是理也。然此理雖圓，作為疑案則可。若著為正解，恐鈍根人反無軌道可循，故此理吾初不欲言，又不能終於不言，讀者會通其意可也。</p>

<h3>論人之強弱</h3>
<p>人之強弱，不在身體之胖瘦，而在精神之盛衰。精神活潑，是瘦亦強。精神頹喪，雖胖亦弱，故斷人壯弱，不能以肌膚肥瘠論。</p>

<h3>論婦科</h3>
<p>醫者於婦科之症，動渭難於男科。此論吾殊不解。治病之要，但觀人之稟賦何如、病症何如，以判難易，無老少男婦一也。婦人隱疾，不過陰挺、陰癢、帶濁等症而已。余若經事、胎產諸症，雖變幻百端，若以標論，固莫知病所由來，試推其本，仍不過臟腑虛實，氣血寒熱之分，有以致之耳。</p>

<h3>論幼科</h3>
<p>幼科只要分清寒熱虛實，便無死於藥者。醫者動謂幼科為難，吾疑其未明望、聞、問、切之理耳。</p>

<h3>論病傳之分類</h3>
<p>《內經》所論之傳病，有順傳，有逆傳，有不順不逆之傳（標本病傳篇之病，忽表忽里，忽順忽逆是也）。有表裡相傳者，有父子相傳者。或以日計，或以月計，或以季計，或以年計。其不同者，因病而各異。故《內經》分篇，一篇是一篇之病，篇篇絕不相同。每篇之標題，最關重要也。所謂以季以年計者，內傷症急則以季計，如勞病是。緩則以年計，如雜勞偏枯，肝氣瘋癰等類是。偏枯不過十二年，瘋癰不過六十年。</p>

<h3>風濕之理</h3>
<p>欲求風濕之理，先求熱濕之理。水因熱蒸，能外達汗，則無濕矣。其釀為濕者，因氣蘊結過深，不能外達，則為濕熱。是時寒邪深客，化熱為寒，則為濕寒。汗欲出時，遇風蕩而化汗為濕，蘊於皮膚，則為風濕。是以寒濕、熱濕在裡，風濕在表。例如壁前置火爐，上置釜而盛水，水因熱蒸，化氣升騰，以蓋覆之，蓋必濕，此熱濕之理。置濕蓋於嚴寒處，蓋必凍，此寒濕之理。設無蓋而有風，氣因風蕩，侵及於壁，壁必濕，此風濕之理。</p>

<h3>隱軫之解釋</h3>
<p>心中鬱結不舒，曰隱軫，其病在內。景岳以較為疹，其議論雖若貫珠，但根本誤解，故後世治疹者，遵用其法，十不過活一二耳。學者用功，當思仲景何以為仲景，蓋學仲景則不如仲景，果其志在仲景，須覓仲景之師而師之。讀《傷寒論》，則知仲景為師《本》、《內》之人，吾等取法乎上，亦當屏諸家，研《本》、《內》，庶可補長沙之不足。</p>

<h3>論受寒治潔之不同</h3>
<p>今人論醫，寒熱分兩派。用溫者謂用寒者非，用寒者謂用溫者非，不知皆偏也。人之病，感寒則用溫，感熱則用寒，論固是矣。但能明辨者甚鮮，大都用下散兩法，以為應付。散者以病皆受於外，故主散。下者以病多滯於內，故主下。二者雖略有見地，仍昧於標本耳。人之病各有標本。例如甲陰虛而受寒，其病如滴水於旺火，火將愈旺。故法宜清熱養陰，藥宜甘寒。乙胃寒而感寒，其病如滴水於冰，冰將愈堅。故法宜溫胃散寒，藥宜辛溫。之二人者，同時受寒，其標雖同，其本則異，是不能不異其法以治之。否則治法從同，勢必一生一死，此為我道最要最難之點。能理會此意，天下少難症矣。</p>

<h3>治肝宜分別虛實</h3>
<p>實宜柴胡，虛宜石斛。蓋肝為邪克，不得疏泄，為實。柴胡性悍而散，故宜柴胡以疏泄之。肝陰不足以潤肝，則肝虛而失其疏泄能力，石斛性平多液，故宜石斛以潤之。</p>

<h3>脈色青或黑之治法</h3>
<p>血既少，又為寒所凝，則青。當用附子理中湯治之。附子至少須用一兩。血既多，又為熱所結，則黑。當用犀角地黃與大承氣湯加減之。</p>

<h3>論痧疹</h3>
<p>吾論痧診屢矣。名醫對於疹症，恆用溫散者，大約皆為景岳所誤。景岳以為氣熱為痧，血寒為疹。痧宜清解，疹宜溫散。其理由殆謂血為寒凝，流動不利，結而成疹，非溫散不可。不知此症為寒痱，與疹判然兩岐。疹乃血為熱煎，流動不利，聚而成疹也。故寒痱則身不壯熟，面白、唇潤、舌華、脈遲、畏寒、能食、不嗽。疹則口渴、唇焦、心煩、脈數、嗽而多汗。二者種種不同。景岳不知此理，誤寒痱為疹，粉飾多辭，以惑後進。噫！古今死於此案者，不知若干人也！</p>

<h3>羊毛疔治法</h3>
<p>斯疾由肺熱極而得，毛乃肺心所生。治法以雞子清和蕎麵搓前心，毛即隱現皮膚間，可隨搓隨挑。</p>

<h3>黃病治法</h3>
<p>此症乃脾熱過盛所致。黃為脾之本色，而五臟之精，上注於目，故水邪由脾泛溢於五臟。濕熱上蒸，脾色外現，身目俱黃。治法宜大涼肝，大養陰，故犀角、羚羊、牛黃，可以並用，膽草可用六錢，活蝌蚪、活蚯蚓，俱可常吃多吃（小蚯蚓每日七條，病重倍之，多亦無妨），俾肝陽失上亢之勢。乃庸醫對斯症，多誤於利脾，利脾亦未必即死，因熱化熱也。惟二十劑後，雖無敗象，必致良醫失其功，良藥失其效。果其脈緩，雖危尚可救，若脈不緩，容雖華，亦難為矣。</p>

<h3>熱因風閉血為所煎而脈甚靜之治法</h3>
<p>此疾難治。因氣血俱傷，治氣則傷血，治血則傷氣；散陽則陰脫，養陰則陽敗也。治本之藥品，當以黃耆固陽，佐以養陰之品，甚者可用西洋參、龜板。至臣使應用之藥，隨標加減之。發汗品雖助陽攻陰，使陰氣汗解而平。若陰虛無可攻，使汗出則陽氣亦隨之外越，此陰不內守，陽不外衛之義也，故吾杜撰為散陽。</p>

<h3>寒泄之治法</h3>
<p>寒泄之症，乃腎陽虛而寒水勝，魄門失職所致。治法當分其氣，溫其下焦，兼固其陰。古方對此，殊少善法。蓋用術，則脾雖利，而氣滯尤甚，脾反受其克，惟用木香、元胡等藥分其氣，則脾自利。若用附子，則走而不守，能敗血。用乾薑，則守而不走，能溫下焦。故附子不可用，乾薑可用。再用生地、二冬養陰，以佐木香、元胡，庶得其平，凡患泄者，不死於理脾，即死於熱中。</p>

<h3>陰虛作嗽之治法</h3>
<p>近日嗽症大發，陰虛嗽症，大劑養陰清熱可痊。若謂病者陰虛或體弱，宜參、耆，一劑嗽略止而胸滿，再劑嗽止而失眠，三劑嗽復，四劑午後燒作，勞成形矣。今年時令，恐轉為勞病者，居十之五。</p>

<h3>問答十五則</h3>
<p>問喉症有幾，治法如何？曰約分四種：紅腫為實，白腫為虛；喉閉為里，喉緊為表。實宜清宣，虛宜養陰；表宜解表，里宜大下，外以神效異功散、錫類散施之。異功散於虛症、里症尤宜。若實里二症，甚則非刺不痊。</p>
<p>問汗如洗之治法？曰：汗為五臟津液，皮毛為肺所主，皮密汗藏，津液乃四布以資榮養。今肺不司職，致津液不輸布於內部，而外泄於皮毛。汗多則亡陽，治法不可發散。重用黃耆，必須過兩。並用西洋參、當歸、女貞子、枸杞子等藥，或可起死回生。以黃耆固中止汗，以西洋參補肺氣而澀魄汗，以當歸固肝，以女貞子、枸杞子養心腎而濟水火，再用通草、郁李仁以開二陰之竅，則盡制化能事矣。</p>
<p>問胃受實邪，邪鬱結於經，脾病如折，治法如何？曰：此乃為熱症，宜輕用附子、乾薑、肉桂、杜仲、芍藥治之。緣胃脈下髀，胃受邪則熱攻入脾而不走，胃亦因之而寒。故用附子攻熱，乾薑理胃，桂心引經，杜仲治髀。</p>
<p>問胃因受邪，失其運化水穀之職，致病食痹，治法如何？曰：宜用木香、桃仁大破氣血，引用滑石、軍炭，開其陰竅。若用三承氣湯，則嘔不下而氣反傷。</p>
<p>問脾統血，脾受邪而血無所統，致肺失養而病少氣，治法如何？曰：此為陽虛症，可用補中益氣湯。</p>
<p>問腎虛腰病如折之治法？曰：用虎骨、鹿茸等藥。</p>
<p>問肝腎不足，血液毀傷，唾咯不止，治法如何？曰：肝不足者火必盛，腎不足者火亦盛。火盛則毀傷血液。此症首當養陰，養陰則腎水足而心火滅，心火滅則肝已補矣。再佐以活血清胃之品，或可救也。</p>
<p>問善食易飢之治法？曰：胃熱盛極，食入胃即化，而行於大便，不能運津液養臟腑，故善食易飢，成消中之症，當用大溫補品（鹿茸、燕窩、薏苡仁等類）治之。此本熱症，仍治以熱藥者，因胃熱而能化食，與胃干消渴者大反。食不能化津液則脾虛，脾虛則一臟寒虛，牽連各臟，即壯火食氣之謂，因病在胃，故須先大補脾土。</p>
<p>問稀屎勞之治法？曰：此症系胃受風邪，失其運化之職，致成飧泄。治脾治腎均欠妥，涼肝破血或可痊。蓋風邪入脾，必致木不能剋土，而木火反旺。若理脾則燥金，金傷則不能剋木，而木火愈旺。若補腎則血液愈凝，故均非宜。惟涼肝則木乃足以制土，破血則血液輸達，脾乃足以統血也。</p>
<p>問脈象沉數細散，虛實並至，其病為寒熱，治法如何？曰：此陰陽相搏之症，治法可羚羊、黃耆並用。先用耆以固其陽，後用涼藥以養其陰，此分理陰陽之法也？</p>
<p>問脈象浮散，目搖動而不明，頭眩暈而顛仆，治法如何？曰：浮為陰虛，散為神不足，此陰虛不能濟陽之症也。陽無所附，則孤陽上越，神氣將亡，故眩僕。治法如西洋參、黃耆、生地、二冬俱可用。萬不可用桂、附、薄荷、茵陳等藥，蓋涼熱散品均不宜，涼熱補品均可用也。</p>
<p>問脈象細而沉，靜而不躁、且骨痛，治法如何？曰：沉細為陰，脈象細而沉，病在陰經也。且邪甚入骨，故骨痛。治法寒脈不躁，當大養陰，舒筋活血。若用散品，則更痛矣。</p>
<p>問脈象數而代，下泄及便膿血，治法如何？曰：此陽盛已極，血為熱傷，脈不接續，故六動一止，非五臟替代之絕脈也。血為熱迫，由陽明而下入大腸，故下泄及便膿血。治法：用白虎湯加犀角和桃仁承氣湯劑，可速效，惟此症十活三四。</p>
<p>問陽氣不上升或不下降之治法？曰：陽不下降，有用沉香、肉桂，引火歸源以降陽者。陽不上升，有用柴胡、桔梗以升陽者。升降兩種治法，尚非甚妥，升陽降陽另有一法，可通治之。緣二疾皆作陽有餘，不過一蘊於上，一結於下耳。陽既有餘，陰必不足，陰不足則可大養陰，陰足則陽平。故二症能以一法治之，即用枇杷葉、二冬、紫雪、安宮牛黃丸可也。</p>
<p>問腰脊痛而身有痹之治法？曰：此乃升陽之氣少，不能通經達絡，腰脊部失陽氣溫養也，氣少不能運血，血不通故作痛。且周身血脈不通，故閉塞而成諸痹，治法：宜用補陽還五湯。</p>

<h3>論薑母之病</h3>
<p>薑母病之獲痊，非吾之功。初病時熱象外陳，確為陰虛之症，但未及投軍（大黃），僅下石膏數錢，而已泄作，又似陽不能固之兆。及使診脈，又云浮數洪大，吾故煩某醫復診，據云：滑數有力，吾則得法矣。因吾與姜君，是誼屬師生，而情同手足，始用大養陰大清解法，與數相爭衡。復因調養得法，乃慶更生，設無某醫之復診，姜君等之調攝，吾法無用矣。</p>

<h3>論程君之病</h3>
<p>程君病象，現在兩脈沉細，舌乾，畏寒思熱，吐水腹脹，尚未脫險。甲醫所主之三甲，加西洋參。乙醫所主之猛燥，於理固是。但西洋參不能用，以味甘苦而性略緩斂也，三甲亦為時尚早。吾曾為某君用三甲者，因大病已去，僅餘嗽耳，是時非三甲不能培其元。今程君因何思熱畏寒吐水，蓋其疾為舍脈從症之症，不能論脈也。日前既唇焦、便赤、發狂，確為陽狂之症，服藥二大劑不效，故煩醫往視。十一日未見大便，確為實滿陽狂之症，非用元明粉不可。因擬一大劑，尚稱順手。旋又用二大劑，舌乾、嘔逆、腹脹，種種敗氣畢陳。今雖不嘔逆，必仍舌乾，其吐水腹脹，乃肺因腸結實，熱蒸將枯，不能分理水氣之故。畏寒思熱，亦緣肺為熱結而不得宣，吾用大救陰法，亦不過強與數爭，此為生命關係，特詳論之。</p>
<p>再斯疾至今日，臟腑津液皆枯，其不死者，僅一線之餘陽耳。吾法欲假其餘陽以潤臟腑，薑母年老，是法尚能收效。王君病，亦賴是法得不死。今用是法，或能勝數，並未可知。</p>

<h3>本年（癸亥）冬溫之治法</h3>
<p>今年冬溫，宜用甘寒化熱，復其津液，用生軍蕩邪，分陰陽、通里氣，則疾自愈。表藥除蘆根重用，薄荷少用，及茵陳、板藍根外，皆不可用，雖荊芥亦在禁例。生地鮮者可重用，生地則不可用。</p>

<h3>預防春瘟</h3>
<p>或問入冬缺雪，恐釀春瘟，請立代茶飲方，以預防之。再感春瘟者，初為何狀，應服何藥以杜其萌乎？曰：冬而不行冬令，溫疫已露，但預防則可。若擬染病後之方，因人稟賦不同，分兩難預定也。此病初起時，渾身疼痛，憎寒、憎熱、頭暈、唇焦無味，或咳嗽、多涕多淚。法宜白虎湯加減治之。預防之法，室不宜過暖，宜少食厚味，多食蘿蔔、綠豆、梨、藕等物，又代茶飲方開後：</p>
<p>二花（四錢）　鮮生地（六錢）　霜桑葉（四錢）　寸冬（三錢）　炙杷葉（四錢）　郁李仁（三錢）　甘菊（四錢）</p>

<h3>生軍之效用</h3>
<p>或問中醫謂生軍不但破血，且能生新。而西醫炮製藥品，提煉最精。經數百年之研究，數千名醫之化驗，證明生軍無生新之能力，何也？曰：中醫論藥，不但論其質，且論其氣、論其味、論其色。生軍一藥，其質重，且有液質，故能破堅。因液而能生血。其色黃，故能清胃。其味苦，故性寒。味厚，故下行。其氣芳，故能破血，若僅提出氣芳之質用之，破血則可，下行則不可。若製片用之，則能逐瘀生新，清胃破結。</p>

<h3>白蓮花</h3>
<p>其色白，其氣芬，其味澀，專入肺肝。降肺之濁，升肝之清。又因其本中空而生於水，其性微寒，破瘀功同蓬莪朮，性澀功同白芍。紅蓮花與之略同，惟走心肝，白蓮花瀉而不走，破而不生。</p>

<h3>枇杷葉</h3>
<p>性平、味淡、氣厚、質重、色青，故有理肺、疏肝、燥濕之功。緣色青可疏肝，味淡能燥濕，質重氣厚有升降肺部清濁之能力。</p>

<h3>三甲與生地元參之別</h3>
<p>三甲與生地、元參，同為養陰上品，然性質稍異，用法亦殊。三甲取其咸膩而走，生地、元參取其脂液清潤。三甲因其不守，故兼入氣分。生地、元參因其清潤，故專入陰分。三甲若佐清涼，治溫尚可用。至三甲復脈湯，治太陽少陰兩感之症則可，治溫則殆。</p>

<h2>附錄</h2>

<h3>認穴說</h3>
<p>醫者治病，本以救人，認病不真，誤投方劑，反以害人。用針利害，亦猶是也。夫人為陰陽之氣所生，不能無病。既病矣，無論病源由於內傷或外感，總之不能離乎瘢身之經絡。是以用針之法，深淺疾徐，虛實補瀉，固宜加慎。而認穴之重要，尤於病人生死，有莫大之關係焉？試詳言之。蓋臟腑有井、榮、腧、經、合諸穴，皆為經絡之脈所通行。臟有五，每臟有井、榮、腧、經、合之五腧，五臟則五五二十五腧。腑有六，每腑有井、榮、腧、原、經、合之六腧，六腑則六六三十六腧。再加心包絡一經，則經脈計有十二。十二經有十二絡穴。又加以督之長強，任之尾翳，及脾之大包，則絡脈計有十五。以十二加十五，凡有二十七氣，以井、榮、腧、原、經、合之腧，而行上行下。其始所出之穴名井穴，如水之泉也。水從此而流，則為榮穴，又從此而注，則為腧穴，又從而經過之，則為經穴，又從而水有所會，則為合穴。是二十七氣所行，皆在井、榮、腧、經、合之五腧。言五腧而不言原穴者。以陰經有腧而無原。陽經之原，則以腧並之也。人罹病時，其致疾之原因，與邪氣之所在，莫不發現於經絡，用針者洞燭隱微，按穴取之，其病可立愈也。如病脹者，當取胃、膽、膀胱之足三陽經。飧泄者，當取脾、肝、腎之足三陰經。邪氣在上者，必針於上，以取其陷脈。濁氣在中者，必針其中脈。陰經有陽病者，當取之足陽明胃經下陵三里穴。里陰之病見於上者，當取之足太陰脾經膝內下臁之陰陵泉穴。外邪高而在外之下者，當取之足少陽膽經膝下外臁之陽陵泉穴。以及春刺散腧及分理，夏刺絡腧，秋刺皮膚循理，冬刺俞竅於分理之類。良以諸病，各有所取之經。經各有穴，穴各有所。各病有各病當治之穴，各穴有各穴固定之所。用針者明乎症屬何經，穴居何所，勿膠成見，勿掉輕心，始不至以毫釐之差，致成千里之謬。非然者，認穴不明，而亂刺之，不但病不能愈，反灌他病，甚至殺人，其害速於槍矛。如手陽明大腸經五里穴，為五臟禁刺之穴，誤刺之，則臟氣盡。刺胸腹者，必避五臟，誤刺之，則中心者壬癸日死，中脾者，甲乙日死，中腎者戊已日死，中肺者丙丁日死，中膈者不過一歲必死。以及取五脈者死，奪陰者死，皆坐誤刺之害。固不僅如《素問》所云：春刺夏秋冬諸分，夏刺春秋冬諸分，秋刺春夏冬諸分，冬刺春夏秋諸分，足以發生種種之病也。《靈樞經》關於針學各篇，於諸經之穴，論之綦詳，有列其行次而言者，有指其穴所而言者，凡以示人覓穴之法也。醫者研究針術，務於平時將經脈、絡脈、孫絡脈之各三百六十五穴會，玩索有得，使諸經之穴，一一瞭然於心目，爛熟於胸中，庶一旦臨症，如按圖索驥，如探囊取物，得心應手，動中肯綮不難矣。</p>

<h3>五臟氣血生養說</h3>
<p>人同秉氣血而生，有春秋逾百歲而形體不敝者，有年半百而動作皆衰者，其何故哉？蓋人之精神氣血，有先天，有後天，先天之精神，實藉後天飲食之水穀，有以資主而資養。何臟之氣血，由何臟而生，復養何臟。五臟相生，同於五行，有天然一定之次序，有相因一貫之功能。順之則生，逆之則病。從之則壽，違之則夭。試將其理說明之。萬物離土不生，脾在五臟，旺於四時，有運輸之功，與天時之閏相同。故胃納五穀，脾司消化，提其精華，成中焦之穀氣，以養四肢。成心之陰氣，以養神明。成木之陽氣，以運穀氣。一臟已動，五臟相連，而陰陽作用判焉。其陰為血，入其所生以養之，如脾土津液，能生肺金而養皮毛。肺金津液，能滋腎水而養精髓。先天腎水，能涵肝木而養筋脈。肝木血液，能生心火而養神明。心火運化，能生脾土而資健運。惟其相生，故能相養。血脈因以流通，所以心生血而現本色，其色赤。肝藏血而流不暢，其色青。脾統血而流甚急，其色淡而黃。肺納血而化為津，其色尤淡而白。腎受血而不流，其色黑。此陰血入其所生以養之之理也。其陽為氣，入其所克以運之。蓋陽氣為水穀之精微，入於何臟，即化為何臟之氣，以養五臟之真氣。如腎為水臟，受五臟之精而藏之。而腎之精液，又入心化赤而為血，流溢於衝任，為經血之海，而養肌肉。苦歸心而主火，氣屬肺而主金。心火宣布，又能化氣外達而為汗。肝主清陽之氣，得肺金以制之，則木鬱而火，清氣得以上升。又如脾土之運化，由於肝陽之疏泄，腎氣之封藏，由於脾土之制水，此皆陽氣入其所克以運之之理也。總之五臟之氣，雖相剋而實相成。所以氣也、血也、生也、養也，流轉不息，周而復始，互為其根。而究其一本之源泉，不可不歸功於穀氣。百穀秉天地之真氣以生，故其氣入土而生肌肉，入水而滋精血。人能法於陰陽以修行，運用穀氣以修神，則精神完而氣血足，未有不永其天年者。</p>

<h1>慈濟醫話序</h1>
<p>余自幼侍先慈疾，垂三十年。每延醫，術之工拙不知也，藥之溫涼不知也。為人子而不知醫，舉所以能已吾親之疾苦痛癢者，悉委之他人，而懵然不知所由，不幸有變，則曰天曰命。一若與己無與焉者。嗚呼！不孝孰大於是？偶從友人假得《黃坤載醫書八種》，聽夕披覽，初驚其議論高朗，繼思之，人之陰陽，不能偏畸輕重。寒症宜溫，熱症宜涼，此陰陽調燮一定之理，百世不能易也。黃氏專主扶陽抑陰，疑非確論。旋得柯韻伯、喻嘉言、陳修園、徐靈胎、陸九芝諸醫書，始知醫之為道，非深求農軒，無以探其原；非精研仲景，無以窮其變。世衰道微，難遇明師指導，而古書詞義奧衍，注家又聚訟紛如。與時醫談農軒、仲景，輒曰古方不能治今病。余乃愈讀愈惑，懼將自誤誤人，遂置焉而廢讀者有年矣。癸亥秋，見報登《〈內經註解初稿〉，徵求教言啟》，語有根抵，實獲我心，下款署實善社啟，亦未詳社址何所，繼復續登註解數篇，覽誦一過，心目開朗。何之不得其解者，今如桶底脫矣，不禁拍案曰：斯世而競有斯人乎？竟有註解《內經》如斯詳明者乎？究不知注者為誰何？因按日剪存備研誦，無何登不數日，遽絕止，悵然如失者累日。甲子春，在署見祥君瑞年案頭，有手抄《內經註解》數紙，詳詢始知實善社之所在，並敬審孫子云先生臨壇主講，寄廬距社遠，不能逐日往受教，僅由數紙印刷品，藉窺門徑，然較昔時愈讀愈惑者，豁然快慰多矣。</p>
<p>先生學通天人，婆心救世，註釋經論，既已述大道而正其傳，暇日復集群，弟子，即病症、病情，設論辯難，既究病原，兼詳治法。提命之下，學者手錄，日久成帙，顏曰醫話。其癸亥年輯者為第一卷，業經刊印行世。茲又擬將甲子年輯者刊行，藉廣仁慈而期博濟，洵足拯救斯人，而為功於造物，其所繫豈淺鮮哉，是為序。</p>
<p><u>歲在乙丑端陽徐道鴻謹序</u></p>

<h1>慈濟醫話（卷二　上篇）</h1>

<h2>太極兩儀四象八卦圖</h2>
<p>此圖乃總括初卦先後天卦而集其成也，太極可括兩儀，四象可括八卦，故太極與四象，共得五數。</p>
<p>太陽為乾兌。□太陽先，—陽後，故乾為陽；□少陰先，—陽後，故兌為陰。少阻為離震。□少陽先，—陽後，故離為陽；□太陰先，—陽後，故震為陰。少陽為糞坎。□太陽先，—陰後，故糞為陽；□少陰先，—陰後，故坎為陰。太陰為艮坤。□少陽先，—陰後，故艮為陽。□太陰先，—陰後，故坤為陰。伏羲畫卦，即胚胎於此。</p>
<p>乾離糞艮，所以為陽者，因其先陽後亦陽，或先陽而後陰，皆先陽也。兌震坎坤，所以為陰者，因其先陰後亦陰，或先陰而後陽，皆先陰也。總之，先天卦自上而下，陽居上為陽盛，故為陽，陰居上為陰盛，故為陰。</p>
<p>八卦除□、□二卦為純陽純陰外，余卦各兼陰陽兩卦。</p>

<h2>太極生理氣象數圖</h2>
<p>太初理之始也，太虛氣之始也，太素象之始也，太乙數之始也，太極理氣象數之始也。太初、太虛、太素、太乙，皆居太極之後，太極生陰陽，陰陽生理氣象數，故太極為理氣象數之始。</p>
<p>或問前圖之兩儀，陽儀為太陽、少陰兩家，陰儀為太陰、少陽兩家，此圖則一為陽儀，□為陰議，□為元，□為亨，□為利，□為貞。太初、太虛合為陽儀，分為元利兩象。太素、太乙合為陰儀，分為亨貞兩象，是陽儀中為太陽、少陽兩象，陰儀中為太陰、少陰兩象也。兩者不同何也？曰：前圖分論陰陽，此圖合論陰陽也。（若論純者為分，駁者為合，似前圖系合論，此圖系分論，不知兩圖以先後分，非以純駁分。前圖就陰陽初分時析言之，後圖則歸納陽與陽，或陰與陰，而總括其意旨也。）例如天干，分論則甲、丙、戊、庚、壬為陽；乙、丁、己、辛、癸為陰。合論則甲、乙、丙、丁、戊為陽；己、庚、辛、壬、癸為陰。又地支，分論則子、寅、辰、午、申、戌為陽；醜、卯、巳、未、酉、亥為陰。合論則子、醜、寅、卯、辰、巳為陽；午、未、申、酉、戌、亥為陰。又八卦，分論則乾、離、巽、艮為陽；兌、震、坎、坤為陰。合論則乾、兌、離、震為陽；巽、坎、艮、坤為陰。</p>

<h2>初卦及先後天卦之遞嬗</h2>
<p>陰陽始動，而生□與□之卦，天地分，則□天□地之卦生而方隅定，方隅定則日月生，日月生則水火生，水火生則四時成，四時成則五行生，五行生則萬物生，於是□父□母之卦生。故初卦變為先天卦，先天卦變為後天卦。初卦者尚未完全成卦，乃天地未分將分之卦也。先天卦為伏羲所畫，天地之道，陰陽之本，乃天地已分之卦也。後天卦為文王所演，既後於天，則人生焉。君子之道，造端乎夫婦，乃天地生人以後之卦也。三者時期各異，故陰陽不同。</p>

<h2>初卦圖</h2>
<p>一為太虛，即一陽，□為太素，即一陰，（在四象太虛為太陽，太素為太陰。在兩儀太虛為陽，太素為陰，分合不同，理則一也。）此一陽一陰，為陰陽之始，不在三陰三陽之列。由是生□為少陽，□為太陽，□為老陽。生□為少陰，□為太陰，□為老陰。蓋一為陽之本，□變為□，即成少陽，□變為□，即成太陽，□變為□，□變為□，即成老陽。□為陰之本，□變為□，即成少陰，□變為□，即成太陰，□變為□，□變為□，即成老陰。</p>
<p>或問初卦陰陽次序，由少而太而老何也？曰：初卦陰陽漸生，至極而止，故由少而太而老，猶人之由幼而壯而老也。初卦尚未成卦，故由少而太而老。</p>

<h2>先天卦圖</h2>
<p>先天卦以乾為陽，由乾右推，以兌、離、震為陽，坤為陰。由坤右推，以艮、坎、巽為陰，是以以陰定位，左陽右陰。以陽定位，左陰右陽。故乾居南，右兌、離、震為陽，左巽、坎、艮為陰。坤居北，左震、離、兌為陽，右艮、坎、巽為陰，此先天卦之陰陽。</p>
<p>先天卦以□為陽之本，□為陰之本，至□，因陰居中，為□陰始動之象。至□，因陽居中，為□陽始動之象。由□至□，皆由陽漸陰。由□至□，皆由陰漸陽。其陰陽消長之次序，由□而太陽、而老陽、而少陽、而少陰、而老陰、而太陰。而□，又由□而太陰，而老陰、而少陰、而少陽、而太陽，而□。循環無端，周而復始，因其漸也，始有太少老三陰三陽。</p>
<p>或問太陽老陽，皆二陽一陰，而有太老之分何也？曰：□為陽，□乃陽極陰生之變。□變□，則上爻為陰，是陰始加於陽，陽尚不純，故為太陽，又□當陰陽交爭，上爻漸為陽敗，乃變□為□，則中爻動極思靜，自反變為□。而□卦成，乃次於陽極，盛於太陽之卦。即次於乾之極陽，而又盛於兌之太陽也。先天卦自上而下，以陽居上者為盛。離卦上爻為陽，故為老陽。兌卦上爻為陰，故為太陽。此太陽老陽，雖皆二陽一陰，所以太老不同也。</p>
<p>或問先天卦陰陽次序，就陽言，則由太而老而少，而漸至少陰、老陰、太陰。就陰言，則由太而老而少，而漸至少陽、老陽、太陽。何也？曰：先天卦陰陽已生，陰陽生則升降消長，循環不絕。惟其升降消長之循環，故盛極斯削，微極斯著。猶四時之長夏經秋而至冬，隆冬經春而至夏也。</p>
<p>或問先天卦陰陽，由少而老而太。即陽卦由震而離而兌，陰卦由巽而坎而艮也。以跡象論，似震為一陽初動之卦，巽為一陰初動之卦，坎、離為陰陽變化之中卦。乃論者皆以坎為一陽始動之卦，離為一陰始動之卦何也？曰：震為春，為陽卦之始；兌為秋，為陰卦之始；離為夏，為陽卦之極。陽極陰生，故離中虛為一陰初動之象。坎為冬，為陰卦之極。陰極陽生，故坎中滿為一陽初動之象，至艮、巽、坤、乾，為變化陰陽之卦。</p>

<h2>後天卦圖</h2>
<p>乾與坤合，一索而得震，再索而得坎，三索而得民。因乾合於坤，故為陽。坤與乾合，一索而得巽，再索而得離，三索而得兌。因坤合於乾，故為陰。</p>
<p>後天卦自下而上，□以一為初爻。陽加於陰，故乾一索而得長男。一漸漸而上，變一為二爻，則成□，故再索而得中男。再上變□為□爻，則成□，故□索而得少男。又□以□為初爻，陰加於陽，故坤一索而得長女。□漸漸而上，變□為□爻，則成□，故再索而得中女。再上變□為□爻，則成□，故三索而得少女。</p>
<p>後天以坎離代乾坤。坎離者陰陽之成質，居先天之終，後天之始，先後天之交。故坎離交合則生物，陰陽之成功也。</p>

<h2>初卦先後天卦比較圖</h2>
<p>先天以乾坤定位，及天塌西北，地陷東南，遂以乾而補天，以巽而鎮地。故後天卦以坎離代乾坤。先天后天之三陰三陽，除巽以少陰變太陰，震以少陽變太陽外，余皆陰陽易位。如先天兌為太陽，後天變為少陰。離為老陽，變為老陰。坎為老陰，變為老陽。艮為太陰，變為少陽。</p>
<p>先天以乾坤定位，□乃太極陽儀太陽之陰卦。因□少陰居上，□陽居下也，及以□為天，則變為太陽，因陰始加陽，陽猶盛於陰也。及以□為母，則變為少女而為少陰，因陰加於陽也。□乃太極陰儀少陽之陽卦，因□太陽居上，□陰居下也。及以□為地，則變為少陰，因陰居下而漸升也。及以□為母，則變為長女而為太陰，因陰加於陽也。余卦類此。</p>

<h2>由先後天卦推及臟腑之關鍵</h2>
<p>太陽少陽，以一為始。太陰少陰，以□為始。八卦生方隅，始有日、月、水、火而生萬物。人以氣血應日、月、水、火，以十二經應萬物。故以太陰應太陰，以少陰應少陰，以厥陰應老陰；以太陽應太陽，以少陽應少陽，以陽明應老陽。人身一小天地，形體之三陰三陽，莫非乾坤之三陰三陽，此臟腑卦所以可以推而得也。次列臟腑卦圖一，乃就陰陽分言之，陰為陰，陽為陽也。臟腑卦圖二，乃就陰陽合言之。陰與陽合，陽與陰合也。</p>

<h2>臟腑卦圖一</h2>
<p>□為陽明，以應大腸與胃。□為太陽，以應小腸、膀胱。□為少陽，以應三焦與膽。□為少陰，以應心與腎。□為太陰，以應肺與脾。□為厥陰，以應心包與肝。□為壯火，以統三陽。□為少火，以統三陰。此由人而推及臟腑，卦又一變也。</p>
<p>□在後天為中男，因陽加於陰，故為老陽（陽盛於中，上下之陰皆弱）。今因為水，陽居中而動則水行，故為太陽。三在後天為長男，故為太陽。今因為木，陽始升為初爻，故為少陽。三在後天為少男，故為少陽。今因得太陽之陽為一，得少陽之阻為□，□陽合明，故為陽明。□在後天為中女，因陰加於陽，故為老陰。今因□居中，靜以應坎中爻之動，而成既濟之用，故為少陰。□在後天為少女，故為少陰。今因地氣將升，故為太陰。□在後天為長女，故為太陰。今因得太陰之陽為□，得少陰之陰為□，二陰合德，故為厥陰。</p>

<h2>臟腑卦圖二</h2>
<p>此與天一生水，地二生火，天三生木，地四生金，天五生土之八卦相同。如□卦中之□為膀胱，□為腎。□卦中之□為小腸，□為心。□卦中之□為肝，□為膽。□卦中之□為肺，□為大腸。□及□兩卦中之一為三焦，□□為脾。□及□兩卦中之□□為胃，□為心包。</p>

<h2>八卦應十二月圖</h2>
<p>八卦應十二月者，正、二月甲乙木，為肝膽，當為震卦。三、四月丙丁火，為小腸與心，當為離卦。五月相火為三焦，當為艮卦之上爻。六月相火為心包，當為巽卦之下爻。七月戊己土不胃，當為乾卦及巽卦之上中兩爻。八月戊己土為脾，當為坤卦及艮卦之中下兩爻。九、十月庚辛金，為大腸與肺，當為兌卦，十一、十二月壬癸水，為膀胱與腎，當為坎卦。</p>

<h2>以地支定六氣司天表</h2>
<p>辰戌為太陽，而北辰居之，辰為三月，戌為九月。辰為春末夏交之際，陽氣已旺之時，太陽膀胱上升以應之。戌為秋末冬交之際，陽氣潛伏，以養萬物之本，而太陽小腸消化水穀，即陽氣潛伏之功，故應之。</p>
<p>卯酉為陽明，卯為二月，酉為八月，時在春秋之中。少陽在前，太陽在後，前得少陽之陽，後得太陽之陽，兩陽合明，故曰陽明。又仲春為木土當令，仲秋為金土當令，故大腸與胃應之。</p>
<p>寅申為少陽，寅為正月，申為七月，時在春秋之首。春初為陽氣發生之始，秋初為陽氣降收之始，一為陰極陽漸生，一為陽極陰將生，陽氣均不甚旺，故曰少陽。春盛德在木，所屬之干為甲乙。膽為甲木，居胃與膀胱之間，為陽氣上升之樞紐。膀胱化氣，亦由三焦而上行，故膽與三焦應之。</p>
<p>丑未為太陰，未為六月，醜為十二月，時在夏冬之末。陰極於亥，而嚴凝之氣，至醜方終。六月雖長夏土當令，實為陽氣將衰，陰氣將生之時，故為太陰。肺主清肅下降之令。脾雖屬土，而居足少陰厥陰之上。陰之下降，脾實開下行之路，故肺脾應之。</p>
<p>子午為少陰，午為五月，子為十一月，時在夏季冬季之半，子午月為陰陽升降之起點。子月陰氣盛極，物極必反，一陽來復。五月陽氣盛極而漸衰，陰氣伏久而漸生，故為少陰。此即乾卦中爻變陰則成離，坤卦中爻變陽則成坎之理也。離為火，心主之；坎為水，腎主之。水火相交，則生機潛動，萬物從此發生。心腎相交，則真精內含，真光外露，神明於是發出，故心腎應之。</p>
<p>巳亥為厥陰，巳為四月，亥為十月，時在夏冬之首。脈解篇以三、四月為厥陰，因夏初為萬物已筍之時，陽氣雖發於外，而冬日末淨之陰氣，尚伏於中，故為厥陰。又一陰生於午月，至亥月而盛極，故亦為厥陰。肝主藏，為陰中陰，心包為陰，故心包與肝應之。</p>
<p>或問辰戌為太陽，卯酉為陽明云云，此三陰三陽之地支，以年言乎？以月言乎？以方位言乎？抑均包括在內乎？與五運六氣之盤位，不無異同。例如本年甲子，在五運六氣之盤位主運初運為木，客運因甲己合而化土。初運為太陰，主氣初氣為厥陰。惟客氣初乞為太陽，與子午為少陰之說不同，何也？曰：子午言六氣，當以風、熱、火、燥、濕、寒定之，甲已言五運，當以藏生統化受定之。無論以年論，以月論，或分論，或合論，皆一理也。</p>
<p>三陰三陽，由分而合，分則陰為陰，陽為陽也。合則陰與陽合，陽與陰合矣，再詳論之。陰陽未合時，子午為少陰。子午為南北，少陰為心腎，是北方子位，南方午位，均為心腎也。及陰陽合，則少陰腎與少陰心分離，而與太陽膀胱合，居於北方坎水而為子。又少陰心與少陰腎分離，而與太陽小腸合，居於南方離火而午。</p>
<p>陰陽未合時，卯酉為陽明。卯酉為東西，陽明為大腸與胃，是東方卯位，西方酉位，均為大腸與胃也。及陰陽合，則厥陰肝與少陽膽合，居於東方震木而為卯，太陰肺與陽明大腸合，成於西方兌金而為酉。</p>
<p>陰陽未合時，辰戌為太陽，巳亥為厥陰，分居東南與西北，是東南辰位，西北戌位，均為膀胱與小腸，東南已位，西北亥位，均為心包與肝也。丑未為太陰，寅申為少陽，分居東北與西南，是東北醜位，西南未位，均為肺與脾。東北寅位，西南申位，均為膽與三焦也。及陰陽合，則太陽小腸與少陰心合，由東南而居於南。太陽膀胱與少陰腎合，由西北而居於北。太陰肺與陽明大腸合，由西南而居於西。少陽膽與厥陰肝合，由東北、東南而居於東。其原在東西卯酉兩方之陽明胃，與原在東北方之太陰脾合，原在西南方之少陽三焦，與原在西北方之厥陰心包合，分居乾、艮、巽、坤四隅皆為土，而為醜、寅、辰、巳、未、申、戌、亥，此陰陽之合也。</p>

<h2>臟腑應十二月圖</h2>
<p>臟腑應十二月者，子月為膀胱，丑月為腎，寅月為膽，卯月為肝，辰月為小腸。巳月為心，午月為三焦，未月為心包，申月為胃，酉月為脾，戌月為大腸，亥月為肺（此段意出《難經》）。</p>
<p>再詳推之，陽生於少陽，故歷建寅。建寅故寅、卯、辰為春，屬於肝。巳、午、未為夏，屬於心。午、未、申為長夏，屬於脾。申、酉、戌為秋，屬於肺。亥、子、醜為冬，屬於腎。陰陽離合升降之變化，則主令之各異。雖變化無窮，然有定理，有定法，絲毫不紊也。</p>

<h2>陰陽已分而五行未相生圖</h2>
<p>天一生水，故甲乙居坎而為水。地二生火，故丙丁為火而居離。天三生木，故戊己居震而為木。地四生金，故庚辛為金而居兌。天五生土，故壬癸居乾、艮、巽、坤四隅而為土。</p>
<p>甲乙居坎而為水者，乃陰陽未分將分，而五行未相生也。甲乙為十干之首，水為五行之首，故甲乙水也。</p>

<h2>五行相生方位圍</h2>
<p>震為長男，在人為少陽，在時為二月。時值春陽之首，故震為甲乙。木生火，則離為丙丁火，生土，則乾、艮、巽、坤為戊己。土生金，則兌為庚辛。金生水，則坎為壬癸。</p>

<h2>五行以土定位變化圖</h2>
<p>天干甲、乙、丙、丁、戊為陽；已、庚、辛、壬、癸為陰。五行土氣最厚而居中。甲為陽之首，己為陰之首。以土定位，則甲己為土，土生金，故乙庚為金。金生水，故丙辛為水。水生木，故丁壬為木。木生火，故戊癸為火。無論如何變化，不外此理。</p>

<h2>天一生水地六成之地二生火天七成之天三生本地八成之地四生金天九成之天五生土地十成之</h2>
<p>伏羲取象河圖○引而伸之為一，圖□而成□，陰圍陽為水，又因坎卦始於一陽，故曰天一生水，取象河圖○○引而伸之為□，因一而成□，陽圍陰為火，又因□生於兩個○○，故曰地二生火。取象河圖○○○變而為□以成□，適得離卦之初爻二爻。但兩爻不成卦，又加坎卦三爻而成□，因此卦起於□，適合離卦之兩爻，加坎卦之一爻，一二相加，故曰天三生水。取象河圖○○○○變而為□以成□，適得離之陰爻而上升，二二相成，故曰地四生金。取象河圖￼而生四卦（伏羲本河圖畫八卦，一二三四，已有坎離震兌四卦，其乾坤巽艮四卦，系由￼而生），三生於□，□生於□，三生於￼，三生於□，再五個○之象，每○均有一陰一陽，蓋□及□，五陽餘一陰，其一陰為餘數，並於五數中之一數內，仍化為陽而為五陽。□及□五陰餘一陽，其一陽為餘數，亦並於五數中之一數內，仍化為陰而為五陰。五陰五陽相合，仍為￼，故曰天五生土。</p>
<p>此為一加四之數，其餘之一及□，即相火。故四行與土成則土為五，土與四行成則土為六。例如□卦加-　-　-　-　-　-　之四卦，則為□□之兩卦。□卦加—　—　—　—　—　—　之四卦，則為□□之兩卦。</p>
<p>天一生水，加土之五，為天一加天五，則成六。六為偶數，偶數為地，故曰地六成之。地二生火，加土之五，為地二加天五，則成七，七為奇數，奇數為天，故曰天七成之。天三生木，加土之五，為天三加天五，則成八，八為偶數，偶數為地，故曰地八成之。地四生金，加土之五，為地四加天五，則成九，九為奇數，奇數為天，故曰天九成之。四行成土，得奇則為天，得偶則為地，奇為天數，偶為地數也。土本身之數為五，分其餘之相火則為六，土旁四行，加四行則為十，故曰地十成之。</p>
<p>或問前釋天五生土，不曰二加三，而曰一加四，何也？曰：例如□□，為一陽爻，五陰爻，在卦為艮為坤，艮在後天為陽，坤為陰，陰陽合，成六爻之卦，析之則為□為少陽，□為太陰，此六爻系一少陽加二太陰為四陰爻，以二太陰之四陰爻，加少陽之一陰爻，得數五，故非曰一加四不可。</p>

<h2>五運圖</h2>
<p>起運之法不一，以陰陽論，由冬至起。以氣候論，由立春起。以氣交論，由大寒起。三者各有所主，不容是此非彼。但以冬至起運之說為較長，由去年冬至（冬至陽生，故去年冬至為本年春之始），至本年立夏為角運。立夏至夏至為徵運。夏至至立秋為宮運。立秋至立冬為商運。立冬至冬至為羽運。年凡五運，但五運初二三四終之序，隨年推移，非屬固定。例如丁壬之年，初角運，二徵運，三宮運，四商運，終羽運。戊癸之年，初徵運，二宮運，三商運，四羽運，終角運。甲乙之年，初宮運，二商運，三羽運，四角運，終徵運。乙庚之年，初商運，二羽運，三角運，四徵運，終宮運。丙辛之年，初羽運，二角運，三徵運，四宮運，終商運。</p>
<p>或問除丁壬年外，餘年之角、徵、宮、商、羽五運，先後次序，不免倒置何也？曰：因司天在泉，間氣之不同，是以各異也。</p>
<p>六氣運行，甲子相乘，合而復離，周而復始，如環無端。故司天在泉，以六十為一大會，茲再揭六圖之一以明之，舉一反三，余皆例此。</p>
<p>太陽為坎而居水，寒氣應之則為寒，因太陽為寒，少陰當然為熱，坎離已定，寒熱已分，則陽明為燥，太陰為濕，少陽為火，厥陰為風，此陰陽合而復分之象也。假設少陰居南，則太陰居西南，厥陰居東南，陽明居北，則少陽居西北，太陽居東北。此離陰陽之本而言陰陽，故少陰居南，陽明居北，即《難經》旺水由少陽起，《傷寒》由太陽起之理也。</p>
<p>或問三陰三陽之司天，其初氣與四氣互有不同何也？曰：六氣起運，以三終定位，以初四為首，三陰三陽之比較，初氣四氣，互易其位，因以類求類也。故陽氣司天，則初氣起干司天左間，陰氣司天，則初氣起於在泉左間。</p>
<p>或問足厥陰肝、足少陽膽皆木也。手少陰心、手太陽小腸皆君火也。手少陽三焦、手厥陰心包皆相火也。是太陰脾、足陽明胃皆土也。手陽明大腸、手太陰肺皆金也。足太陽膀胱、是少陰腎皆水也。而論六經者，舍膽取肝，舍小腸取心，舍心包取三焦，舍胃取脾，舍肺取大腸，舍腎取膀胱何也？曰：以陰陽論，腑為陽，臟為陰，氣為陽，血為陰。六腑中膽與小腸與胃，皆為化水穀之械，三焦則輸氣之機，大腸則通氣之府，膀胱則化氣之源也。三陽主氣，故舍膽、小腸、胃，取三焦、大腸、膀胱。六臟中心包與肺與腎，皆為布精輸血之臟，肝則藏血，心則生血，脾則統血也，三陰主血，故舍心包、肺、腎，取肝、心、脾。是以三焦、大腸、膀胱為氣之源，肝、心、脾為血之本。</p>
<p>或問司天在泉，以間氣推之固無疑，以生克推之似難通。少陽火司天，則其母厥陰木在泉。陽明金司天，則其所不勝少陰火在泉。太陽水司天，則其所不勝太陰土在泉。厥陰木司天，則其子少陽火在泉。少陰火司天，則其所勝陽明金在泉。太陰土司天，則其所勝太陽水在泉。或由子而母，或由母而子，或由所不勝而所勝，或由所勝而所不勝，種種不同何也？曰：以陽精所降陰精上奉之理推之，自無所不通。陽氣能降必有樞，人以少陽為樞，因為樞紐，故陽下降，當歸根於母，此子司天母在泉之理。陰上升，當筍子而上達（厥陰為木，筍子則生少陽火而上達），此母司天子在泉之理。陽下降，陰必侵之，此所勝司無所不勝在泉之理。陰上奉，陽必助之，此所不勝司天所勝在泉之理。</p>
<p>或問陰何以侵陽，陽何以助陰？曰：就陰陽升降言之，陰常靜，其氣易保，陽常動，其氣易散，此一證也。就陰陽內外言之，陰生陽長，陰內守，陽外衛，陽皆助陰，非僅前言太陽陽明也。即陰偏勝時，陽仍可外衛，俾陰得內守。設陽偏勝時，陰則以靜制功，此又一證也。是以陽病見陰脈多死，陰病見陽脈，多生。陰虛可療，陽虛難治，即此理也。</p>

<h2>三陰三陽與八卦五運配合圖</h2>
<p>三陰三陽生於太極，化為卦爻，配合干支，包羅萬象，此陰陽與八卦、五運相合之理也。天干為五運，地支為六氣，講運氣，宜先考日月、寒、暑、水火與氣血之關係，然後以二十四節氣，合八卦，應臟腑，自得要領。但運氣與曆書不同，曆書以甲子為標識，運氣以六氣定甲子。依曆書干支推算之，本年為太陽司天，實則去冬燥甚，倘泥太陽司天之例以醫病，恐十活一二而已，何者？去冬既燥，今春當為陽明司天，四時氣候，既乘其常，則運氣之推算，不特不可以六十年計，且不可以年計，直可權以季計。本季燥，下季當為陽明司天，本季熱，下季當為少陰司天。本季寒，下季當為太陽司天。本季火，下季當為少陽司天，本季風，下季當為厥陰司天。本季濕，下季當為太陰司天。緣風、熱、火、濕、燥、寒，一侵臟腑，則臟腑立失藏生統化受之能。無論六十年、或一年、或一季，久暫雖異，感受則同。故善醫者彰往察來，神而明之，存乎其人，運用之妙，在於一心，未可執一以從事也。</p>

<h2>天之五行五位五氣表</h2>
<p>以地氣上為云，天氣下為雨之理考之，天有五行。言天受風、熱、濕、燥、寒之鼓盈，而有霧、雨、露、霜、雪之五行。因天之霧、雨、露、霜、雪，以御氣之和、急、緩、散、聚。因氣之和、急、緩、散、聚，而生風、熱、濕、燥、寒。其理如環，歸於太初。</p>
<p>或問地之五行，土旁溉四行，天之五行，有旁溉四行者否？曰：濕是也。濕上蒸為露，遇風為霧，遇熱為雨，遇燥為霜，遇寒為雪，故天之五行皆有濕。</p>

<h2>人之五藏五氣五志表</h2>

<h2>天地人之五妙五行五運表</h2>
<p>藏之究竟為生，生之究竟為統，統之究竟為化，化之究竟為受，受之究竟又為藏，其理如環，周而復始，此五運之究竟也。</p>

<h2>五行之真氣性味表</h2>

<h1>慈濟醫話（卷二　下篇）</h1>

<h2>論《本、內》二經</h2>
<p>看書須要神化，既不可泥於書，又不可隨意駁。《本、內》二經，尤難理會。吾對此二書，寧可慢講，使多幾人明白，不敢粗粗過去。二書講畢，他書自易領會。</p>

<h2>學醫不可分門戶宜宗《本、內》二經</h2>
<p>近日治病，有三大論：一、吐汗下之法；一、辛涼之法；一、理脾之法。主吐汗下者，謂邪中於人，不用斯法，邪無出路。主辛涼者，謂人賴陽氣而生，熱多寒少。既有寒，亦隨陽化熱，不用斯法，其源不清，邪焉得去。主理脾者，謂人以脾胃為主，脾胃壯，正氣自足，邪無由入；脾胃弱，正氣自虛，邪乘而入，故正氣虛者，邪氣盛，不用斯法，不能立本，邪何能除。三說皆理圓意暢，反使學者有一國三公之勢。不知人之邪氣盛，亦能煎耗正氣，正氣虛，邪氣亦能乘之。內本無熱，初感風寒，亦不能遽投辛涼之劑。吐汗下創自仲聖，條理分明，立法嚴整，皆因病以施法，無臆度武斷之弊。辛涼創於二吳，然瑕瑜互見，已稍去仲聖之道。黃氏宗東垣，創理脾之法，執一之見，又在二吳之下。然二吳及黃氏，亦頗各具隻眼，不失醫中之傑。但後之學仲聖及二吳、黃氏者，不能會通其義，強分三派，私立門戶，互相傾軋，醫道一落干丈。吾人論病，首當揣情度理，分寒熱虛實，不可以無情無理之門戶，自相束縛。敖吾主學醫由《本、內》入手，即斯意也。</p>

<h2>學醫宜矯時弊</h2>
<p>人身強弱不同，氣血運行，遲速自異。邪之中人，亦因有深淺，故病同而治異。若內傷之病，血氣自虧，非僅藥餌所能奏效。當用藥以調其已傷，兼自養而勿使再傷，庶足以起沉菏。今人治病，或深信藥力，或不信藥力，或輕重不免失宜，或出奇動思制勝，或束於書，或泥於忌，或貪功妄進，或膽小不進，雖皆小誤，實關身命，要為醫家所必忌。至學識僅限於湯頭，閱歷不能辨表裡，雖語此而弗明，更不足責矣。故初學者教其入於正軌，升堂者教其進而入室。世俗種種之陋習，當掃而空之。查中醫以俗法為秘訣，向無開誠之討論，以傾軋為慣例，從無相助之大義。以上諸恥，希諸子引為己責以洗之，不特開醫學之光明，且益彰醫道之廣大。</p>

<h2>學醫貴知新</h2>
<p>學問不在駁人，而在翻新，吾講《內經》雖弗佳，無一句不從經文，無一句不按經旨。雖刪改者有之，杜撰者有之，要之非不尊經，不過翻新其義而已。《內經》除主要者，吾已發揮。其不主要者，待學醫諸子翻新，希留意。</p>

<h2>學醫之步驟</h2>
<p>張君問本人學醫之步趨，是否有誤？曰：學由《本、內、難》三經入手，自異庸俗。仲聖之學，淵源在此。因證立方，法極正確，論症嚴整不紊，論方君臣不亂，允推正則。俗醫不達，非逾越法度之外，即泥守章句之中。君以數學推運氣，以病論方，雖未盡善，然亦足濟世。君如好之，希共同討論。改革中醫，庶可放光明於世界，吾嘗論後人不知注書，僅知著書，以致真理晦沒，精粹蕩然，偽而亂真，貽人譏消，反疑古籍為方士之書，殊堪浩嘆。又其甚者，無交換學識之公心，有黨伐異同之私見，無怪醫道愈趨愈下也！</p>

<h2>學醫至上之法</h2>
<p>學醫之士，取下法者，為讀《湯頭》。取中法者，為講《脈訣》。取上法者，為推求醫理。但皆不足為至上之法。至上者，醫理藥性，皆宜貫通，大小通澀之方，亦宜洞徹。蓋配方之制，非具以上學問，不能合宜。果於醫理、藥性、方制三者，統籌兼顧，化而為一，配成方劑，始臻妙境。此條言之甚易，行之維艱，希諸子力爭上游，醫道始昌。</p>

<h2>配方之法</h2>
<p>配方之法，雖用藥不同，但易一、二味，則功用大差。例如理濕之用鮮生地佐滑石，若去滑石，則失理濕之能。如養陰之用生地、元參，若雜茯苓，則功用盡失。湯劑有僅用君藥一味為一劑者，有佐使配合至二十味為一劑者。今人以專用一味，不能收功，過十味則曰太雜。不問君臣佐使之理，僅隨意開藥七味或九味為一劑，而曰古方古法，吾不知其可也。</p>
<p>立方之道，為醫者所必須，然無真實學識，不能立嚴整之方。自來雜亂之方，固不可取，泥古之方，亦多誤事。立方宜先審病之標本，再嚴定君、臣、佐、使，俾藥與症針鋒相對，無懈可擊。是以嚴整之方，加減一味，增損一分，則效力全失。雖然欲於今時之醫界，求嚴整之醫方，殆幾希矣，諸子其精研詳究，自能出巧而成嚴整之方。</p>

<h2>古無秘方</h2>
<p>古人傳醫，有大道，無秘法。所謂秘者，皆後人矯揉造作，藉聳聽聞之語。即醫案各家，亦半出於造作，並非真相。吾講醫書，不敢謂宣傳奇秘，但亦堪信稍補醫界所不足。觀仲聖之方，對症下藥，意密法整，何等慎重，豈三五味至數十味藥之死方，徒事捃拾，不論症象，自詡不傳之秘者，所可同日語也？</p>

<h2>審症當察天時及病因</h2>
<p>人於天氣亢旱之時，陰無不虧，熱無不盛，故看春病，宜先度春之燥潤，再度去冬之燥潤，然後查病因之為寒熱、表裡、虛實，以定用藥之標準。庶病者免死於藥。否則執一以行。差如毫釐，謬以千里矣。</p>
<p>人身之病，在經、在衛、在營、在腑、在臟，名目繁多，認症略疏，變象立起，雖有簡便之方，亦多旁途，此層不可不想一極正確、極簡便之法。蓋病類雖繁，不過陰陽而已，推之亦不過氣血而已，再推之，又不過寒熱虛實四大綱耳。只須有精密之審切，自少錯誤。</p>

<h2>臨證之要</h2>
<p>臨證雖難，只要將大法認定，自少錯誤，初臨症者，如遇大症，先宜以輕劑問之。倘有經驗，則宜用大劑攻之。病體早愈一日，早養一日正氣。</p>

<h2>論陰陽</h2>
<p>醫學之理，首在陰陽。陰陽之理，既精且細。或曰：陰陽名目繁多，令人難辨，是陰陽無一定之理也。以無定之理之學而治病，豈能斷生死，起沈痾？此一說也。或曰：陰陽顯甚，如人則背陽而腹陰，物則表陽而里陰。推之萬物，陰陽判然。是陰陽甚易知，易知若此，豈不盡人而醫耶？此又一說也。然則欲知陰陽之理，難乎易乎？曰：知之則易，用之則難。陰陽有定而無定，亦無定而有定，或以理而推陰陽，或以氣而推陰陽，或以象而推陰陽，或以數而推陰陽。倘能因時而用，自爾妙化無窮，要之不外平衡而已。反是則陰陽錯亂，變端百出矣，燮理陰陽之謂何？</p>

<h2>論五行</h2>
<p>以制勝生成論五行，始知五行變化之妙。若以生克論五行，則為五行所拘，反不得其妙，若不以制勝生成或生克論五行，則大法已失。可隨意顛倒，不復成五行矣。故五行之理，至活而至嚴。</p>

<h2>論風</h2>
<p>風善行而數變，八節不正之風，或害空竅，或走經絡，或傳臟腑，迨久蘊內動，或鼓熱而作厥，或助寒而成痿，或耗氣而盜汗，或煎液而成痰。七情六淫，莫不由風媒介之，故風為百病之始。</p>
<p>虛風正風之分，邪風是正風，因邪風雖害人，然能生殺萬物也。動作鼓盪之風（人力所為者）為虛風，於人雖無大害，於物實無生殺權，故曰虛風。</p>
<p>風為熱者，因熱極而風，故風為熱。</p>

<h2>論五音</h2>
<p>角、徽、宮、商、羽，角音調和而亢直；徽音和美而柔順；宮音重濁而宏大，商音高揚而流利、羽音沈著而穩固。春萬物始生，其調亢直以應生。夏萬物生榮，其調柔和以應長。長夏為土，故調重大，以表其獨厚。秋主收斂，故調高揚以應之。冬主潛藏，故調沈穩以應之。此其正也。又因音有高低，故有太、少之分。又因天地人之不同，陰陽升降之變化，故上應天，中應人，下應地，而有上、中、下之分。蓋每音均有太、正、少及上、中、下，以應三陰三陽。太、正、少為陰，因本音之變音，故為三陰。上、中、下為陽，因陰陽升降之變音，故為三陽，要之本音、變音為靜，非本音、變音之變音為動。</p>

<h2>五味之所欲</h2>
<p>五味所欲，經無明文。然考其義，以酸收、苦堅、甘緩、辛散、咸軟之理推之，以同氣相求之義證之，是收、堅、緩、散、軟，即酸、苦、甘、辛、咸之所欲也。</p>

<h2>九竅與臟腑之關係</h2>
<p>九竅司五臟盛泄之職。耳能聞，可長心思。目能視，可和肝。鼻能嗅，可養肺。口能食，可納五穀而養臟腑。二陰排泄渣滓，以清臟腑，故人能為萬物之靈。</p>

<h2>咽嗌之解釋</h2>
<p>上曰咽，下曰嗌，合而言之曰喉。嗌法地，即咽喉之下口。</p>

<h2>臟腑相表裡</h2>
<p>臟腑賴募原而相連，因作用為表裡。心與小腸相表裡者，因小腸布氣之變化，賴心液之流通也。腎與膀胱相表裡者，因膀胱化氣而藏液，賴腎受血而灌輸也。肺與大腸相表裡者，因大腸之排泄，賴肺氣之升降也。肝與膽相表裡者，因膽汁之變化，賴肝之條達也。脾與胃相表裡者，因胃之消化，賴脾之消磨也。腑屬於表，臟屬於里。例如人之飲食，水穀先入胃，排粗布精，始由腑而入臟。《內經》云：「壯火食氣，少火生氣。」似近此理。</p>

<h2>募原之解釋</h2>
<p>問臟腑賴募原而相連，募原何物也？曰：募原即隔膜。但橫為隔膜，豎為募原。以形論，為網油；以象論，為三焦。譬如銅煤油燈，統全部名之，曰燈，曰銅燈。分一部論之，有燈罩、燈托。夫燈猶三焦也。銅燈猶網油也，燈罩、燈托，猶募原、隔膜也。四名等於一物，故合三焦、網油、募原、隔膜等各而一之，曰三焦而已。問募原有半表半裡之說，信乎？曰：半表半裡，以氣化論耳。如不以氣化論，肺可為太陽，膀胱可為太陰。</p>

<h2>兩感於寒之解釋</h2>
<p>問《傷寒論》兩感於寒，［何〕所謂也？曰：兩感云者，既感於腑，復感於臟也。問兩感是否同時？曰：不同時。</p>

<h2>腎為先天胃為後天</h2>
<p>以氣血論，氣為先天，血為後天。以臟腑功能論，臟以腎為要，腑以胃為主。胃雖賴脾為消化，實賴腎氣以養之，腎水以潤之。然後脾之消化，始能化水穀以養形臟，是以胃之功能，因腎之技巧，始能施其功能。蓋腎無胃不能施其巧，胃無腎不能行其職。故以功能論，腎為先天，胃為後天。後人不明腎陽、腎陰之理，謬指腎氣為命門，更有以腎為炊之說。明其義不知其理，無怪有指鹿為馬之誤。</p>

<h2>脾藏意</h2>
<p>意靜而生動。脾為太陰，其性本靜，又司運化，從靜而生動，故藏意。</p>

<h2>脾之動用</h2>
<p>土賴天之雨露，地之泉水，而生萬物。然有生即有長，有長即有收，有收即有藏。故土在理言之，則法天地，主四時。在人言之，則升降陰陽，旁灌四臟。</p>

<h2>胃主鳳</h2>
<p>肺主皮毛而通天氣，又與大腸相表裡。胃上通於肺，下通大腸，故能主風。</p>

<h2>胃行氣於三陽</h2>
<p>胃陽明之氣，能行於少陽而助運化，又能行於太陽而化精微，逼糟粕。</p>

<h2>脾行氣於三陰</h2>
<p>脾太陰為老陰，少陰為所勝，厥陰為所不勝，此一說也。貫胃、屬脾、絡嗌，此又一說也。（脾貫胃絡隘，乃脾絡之行也。至脾統三陰者，乃太陰為統，萬物所歸。況脾為厥陰、少陰之開，脾血脈功用，又相連貫。）</p>

<h2>膽可稱奇陽</h2>
<p>膽雖藏有膽汁，然既非如臟之化血，又非如腑之化氣。不過承濁於肝，布汁於脾胃，助其消化。因有納布之能，故偏於陽。其作用別於臟腑，又偏於陽，故可稱奇陽。</p>

<h2>君火相火</h2>
<p>問何為君火、相火？曰：姑不論君、相火，先要明何謂火？以壯火食氣，少火生氣之理證之，火非真火，即氣也。設真有火，則臟腑焦爛矣。壯火是腑中吸入之氣，少火是臟中呼出之氣。氣是少火之精而溫肌肉者。小腸承胃之氣，輸於三焦，由三焦送各腑而達各臟。心承腑之氣，輸於心包，由心包達各臟以養肌肉。故在腑，小腸為君火，三焦為相火。在臟，心為君火，心包為相火。</p>

<h2>論榮衛</h2>
<p>榮衛即血氣。血氣以體言，榮衛以用言也。然榮行脈中，衛行脈外，榮衛並行於全身，分五十度。每晝夜運行一周，榮血周行五十度，復返於肺，與衛氣相會。衛氣周行五十度，亦返於肺，與榮血相會。每五十度之中，榮衛各當令二十五度。榮當令於夜，自午至子。榮出而衛入，榮氣略呈，衛氣略伏。衛當令於晝，自子至午。衛出而榮入，衛氣略呈，榮氣略伏。榮衛晝夜循環，有如日月，但日月不相見，而榮衛不相離也。故子午二時，為榮衛當令二十五度之交點。再榮雖外出，決不能達皮；衛雖內入，決不能至骨。二者互為當令，僅可分別氣之盛衰，不能過分位之內外也。</p>

<h2>論脈</h2>
<p>人身筋、經、絡皆有動脈、是以督脈在筋，任脈在經，寸口在絡。</p>
<p>《內經》論脈，以胃氣為主，以血氣為宗，以弦、鉤、毛、石、綏而定臟，再以浮、沉、中而候上、中、下三部。腑屬於臟，則未深論，《難經》推廣之，《脈經》又闡發之。以寸、關、尺而定臟腑，又以浮為腑，沉為臟；外感為浮，內傷為沉，但精確皆不及《內經》。然吾人取脈，先宜以綏急推胃氣之盛衰，再以弦、鉤、毛、石、綏推臟氣之所在，再以浮、沉及寸、關、尺之盛衰，推及表裡氣血，然後再以寸，關、尺參看臟腑之盛衰。得其所在，察其外證，嚴立方脈，自無大謬。</p>
<p>脈為醫之大疑，吾早擬略論之，但知脈者甚鮮。今諸子對脈，既入手研究，特論述以示正軌。</p>
<p>問胎脈如何？曰：婦人受孕，則陰脈滑動，陽脈滑大。自來氣血搏結者，無論病之有無，脈必有力而動。若滑則無病，無病而氣血搏結者，妊也。</p>
<p>問尺脈浮為女子不月之脈，有是說乎？曰：有則有之，但妊而感冒，尺亦浮滑。論脈之法，當以外證之所現，察氣血之所傷。以氣血之所傷，進而推求脈之理。如代陰脈遲，當用白虎。代陽脈數，當用理中。以此推之，思過半矣。否則執一以求，膠瑟刻舟，胡能論脈？</p>
<p>問在寸為肺脈，浮沉皆為肺病乎？曰：浮為大腸，沉為肺，故浮而短澀，病在肺；浮而長大，病在大腸。此指右寸一部之理言。若治病則當考其全體之證，不可囿於一部之理。</p>
<p>問沉脈亦有大腸病乎？曰：沉而散，溫在肺；沉而實，病在大腸。若以浮沉言，則腑浮而臟沉。若以病言，則又當以邪正考之，不可限於浮沉也，此脈之妙用也。</p>
<p>問治病診脈，是否應診全部？曰：外證考脈，全部及尺寸，皆當考察。益人之所以生者，賴氣血流動耳。病無論表裡、虛實、經絡、臟腑，皆由氣血不調所致。脈因氣率血行而現寸口，故氣血不調者，脈象必變。外證考脈，當先察全部，後審尺寸。若六脈皆浮而嗽，肺病也。若右寸浮，大便燥，腸病也。</p>
<p>問弦脈主何病。曰：六脈弦，肝病也。左三部弦，膽病也。右三部弦，食滯胃病也。脈等弦也，而變化無窮。若參透《內經》、《脈經》則知其妙。今人僅知默誦《脈訣》，誠捨本逐末矣。</p>
<p>問弦為肝脈，左三部弦，其理易曉，右三部弦，其理安在？又何以知為胃病？曰：肝、膽、胃病，三者俱載於經，但未剖別其理耳。肝脈當弦，肝藏血，肝為邪乘，血與邪搏，故六脈皆弦。邪在肝之表，而未達肝，且肝膽又居左，故左三部弦。設弦而不沉，雖六部亦為膽。設左關獨弦，沉亦為肝。胃有滯作痢，肝失疏泄，胃居右部，食滯胃病，故右三部弦。</p>
<p>問趺陽脈何屬？曰：趺陽同衝陽，穴名。在足背，屬於胃脈。</p>
<p>問奇經八脈之所在？曰：由三陰三陽推之，督脈在背為陽，任脈在腹為陰。故督脈屬於太陽，任脈屬於太陰。帶脈屬於厥陰，衝脈屬於陽明，二蹻屬於陽明，二維屬於少陰。再參經文，考外象，自然少誤。如腰痛，脈浮緊，則督脈為病。脈沉弦，則厥陰為病。</p>

<h2>寒邪熱邪</h2>
<p>邪無寒熱，以人氣血之寒熱為寒熱。氣血寒則為寒，熱則為熱。始霍亂邪正相爭也。熱盛為陽，寒盛為陰。在未分陰陽時，刺可立已。在既分陰陽後，非藥不瘳。</p>

<h2>虛實</h2>
<p>虛虛氣虛，陽猶內伏，故為合症，得生。虛症氣實，陽華外露，陽將脫，故為反症，必死。虛實指正氣而言，蓋歷邪而傷氣，氣在內受邪克而虛。是邪正相搏之時，及邪勝而深入，陽敗而外竄，反實，故死，即外強中乾之理也。</p>

<h2>生陽死陰不治之理</h2>
<p>心肺在呼吸為陽，在臟亦為陽。陽氣將竭，則陽中之真陰始消。肝腎在呼吸為陰，在臟亦為陰。陰氣將竭，則陰中之真陽始露，故死陰生陽皆不治。</p>

<h2>內傷病難痊之理</h2>
<p>人之患病，多由自失檢點。飲食能養人，亦能病人。飲食過量，易滯於腸胃，則腸胃垢生，內蘊邪熱，外感寒涼，病因以生。有謂內傷由勞累而得者，不知勞累能活筋骨，壯肌肉，不能病人。故農家少疾病，多壽考。內傷雖關七情，約之則二，曰欲、曰鬱而已。欲則傷腎，鬱則傷肝，水不濟金，木以剋土，則病成焉。內傷本可治，便以欲字已難去，郁字尤難去。欲字尚可勉強使之去，郁字斷非涵養不能去，是以內傷多難痊。</p>

<h2>痓與痙之別</h2>
<p>痓乃陰陽俱虛，火邪內灼，急而為痓。痓抽搐後，筋不舒，故筋先抽而後痛。痙乃濕邪內蘊，蒸筋作痛，痛而筋動作抽，故筋先痛而後抽。</p>

<h2>嘔之分別</h2>
<p>嘔而有物曰吐。嘔而無物曰乾嘔。欲嘔不能分乾溼，嗢嗢然如有物欲嘔曰欲嘔。鬱郁然膈不舒而欲嘔曰喜嘔。悶悶然氣不暢欲嘔而未嘔曰善嘔。</p>

<h2>喘之分別</h2>
<p>問陽明厥喘，因入經入臟而判生死，入經入臟，從何知之？曰：大喘則知其入經，似喘而汗出如油，則知其入臟。蓋熱蓄於胃，使各腑失其升降之能，胃之熱復上蒸於肺，致濁氣與肺氣相爭，故大喘。及熱入肺，則肺焦枯，欲大喘而肺已傷，其呼吸必不便，故似喘。肺傷太過，精華外走，故汗出如油。</p>

<h2>泄之分別</h2>
<p>問寒泄、熱泄、濕泄、滯泄之分。曰：分別之法不可拘定。一視口之渴否；二視溺之或短或長，或清或赤；三視腹之或脹或痛；四視脈之或弦或滑，或沉或緩，或數或遲。當得要領，再參以他證及日數，則分明矣。</p>

<h2>論今春之病不發燒而脈沉細之故（甲子春）</h2>
<p>去冬氣燥，蘊積臟腑。今春寒熱不定，又少風以應時。春既失風之宣發，則人受寒受熱，而無風可受，是以燥氣不得宣發而蒸金，故嗽症居多，次喉，次痧疹。因其不得宣發，故脈沉細而厥逆。治法：養陰清裡則生，溫散辛表則死。今春之症，雖脈沉細而厥逆，但口不渴即干，鼻雖流清涕，而目起矢，小便不赤即短，大便不燥即泄，皆火盛陰虛之象也。</p>

<h2>胃脅串痛大便不燥口不渴之治法（甲子春）</h2>
<p>現在時症，以胃脅串痛，大便不燥，口不渴者居多。此乃寒熱相搏，肝陽氣逆之故，治法宜用厚朴、杷葉、蘆根、鬱金、香附、莪朮、姜皮、軍炭、豆蔻、石斛、蓁艽、代赭石等品。忌用二冬、鮮生地、鮮石斛、元參、生軍等品。</p>

<h2>少陽司天之病症及治法（甲子夏）</h2>
<p>現交夏令，人皆以為少陰司天，不知今春無雨而寒，陽氣未得發越。春既未得發越，夏必發越。又因春寒而火氣內閉，其發越者必火也。少陰本宜暑熱而主靜，若火氣發越，則司天者為少陽，非少陰矣。少陽為三焦與膽，三焦為決瀆之官，人必貪飲，霍亂必應時而起，法宜香薷飲。膽為中正之官，人必患耳聾，頭昏，法宜白虎湯，佐清解。</p>
<p>少陽司天，則厥陰在泉，厥陰為肝與心包。人必多熱病，及卒然昏倒。熱病，法宜大涼養陰。卒然昏倒，法宜香竄開竅之品。按本季病之治法，以清解為主，香竄次之，陰柔又次之，陰柔除熱病外，不可妄投。以鮮生地佐滑石，或鮮石斛均尚可用。至二冬、元參等品，均宜慎之。又此病預防法，宜常服益元散。</p>

<h2>夏末秋初宜用之藥品</h2>
<p>吾於春末，已言宜用香竄苦寒之品。今夏季將終，濕已大行，太陽有司天之象，辛溫之藥，可先少用無妨。滋柔之品，非其時也。</p>

<h2>夏多虛症</h2>
<p>夏何以多虛症？蓋夏令繁華外秀。既外秀，故內虛。又夏日陽氣外泄，內必空虛。《內經·四氣調神論》篇言之綦詳。</p>

<h2>治瘧之方（甲子秋）</h2>
<p>以現令論，瘧之熱多冷少者，宜桂枝白虎湯加減之。冷多熱少者，宜柴胡承氣湯加減之。脾寒者，當用紅砒黑虎丸。久瘧者，當用青蒿鱉甲湯加減之。紅砒黑虎丸，以紅砒、黑豆制之，每豆一兩，加砒二分，粒如小豆子，水打成丸，病較輕者服一丸。忌熱、忌食、忌菸、宜涼、宜走。</p>
<p>治瘧者，或以邪在腠理，立柴胡湯以汗之。或以邪深入臟，立理中湯以補之。或以十二經皆有瘧，立法紛紛，奠知孰是，吾論無論在經、在腑、在臟，既均作寒作熱，又皆發於胃氣，故以清胃為法。熱甚以石膏清之，寒甚以紅砒溫之。但紅砒重量，不得過二釐。服砒後，勿坐、勿食、須飲涼水或冰，須遠行。柴胡湯之法，固因寒熱莫辨，愛立是法，俾邪從腠理而解也。不知此症得之於腠理，輕者可痊，重則難效。吾謂熱者用白虎湯，熱甚者用牛黃。寒者用承氣湯，寒甚者加白朮，佐紅砒。</p>
<p>凡瘧皆當清大腸，承氣湯雖大黃苦寒，然枳殼有下胃氣之力，薑、樸有逐胃寒之功，故生軍佐石膏則清胃熱，佐薑、樸則理胃寒。若胃中寒熱相結，以承氣湯為主。熱甚於寒者，加重生地，減輕姜樸。寒甚於熱者，加陳皮、木香。水氣聚結堅固為寒，寒固可用附子，熱亦可用少許附子為引，以鎮水氣。然此法不可妄用。</p>
<p>問瘧作寒作熱之原因。曰：三焦與心包，主輸送營榮之別臟，寒熱之作，乃由寒或熱搏於胃氣，致胃氣失其升降之能，故肺與大腸，因而絕其表裡相應之力，則寒熱作矣。瘧疾寒熱之作，與他病寒熱之作不同。他病寒熱之作，邪有定所。瘧則邪無定所，故專重治胃。以胃為後天，統主五臟六腑之氣血，而為五臟六腑之大源也。</p>
<p>問痎瘧之分。曰：痎者，風熱相結也，瘧者陰陽相爭也。其先寒者，乃三陽虛也，陽虛則陰盛，陰盛故寒。其後熱者，寒極生熱也。連日作者，邪在腠理也。間日作者，邪將薄腑也。</p>
<p>問截瘧用常山，於法當乎？曰：常山消水溫脾，治瘧可用，截字於義無取。</p>

<h2>論傷寒</h2>
<p>傷寒包括甚廣，故仲聖《金匱》，無溫症一門，已賅於傷寒中也。或曰傷寒與溫症為兩種，或曰仲聖溫症一篇已遺失。究之推度揣測，毫無根據。試讀《內經》，何嘗不明言「冬傷於寒，春必病溫；冬不藏精，春必病溫」耶。</p>

<h2>論脫骨傷寒</h2>
<p>此疾乃陽明症，或因藥誤，或因失調、致將邪熱攻入少陰，由少陰蒸入厥陰。諸節屬於筋，故按節潰爛。或因邪熱伏於骨中，由骨空之節而蒸筋，故曰諸節潰爛，脫骨傷寒。總之因始陽[傷］於寒，漸至邪熱脫落於骨中也。脫骨傷寒分陰陽，熱邪曰陽，寒邪由陽入陰曰陰。屬於陽者，十愈六七；屬於陰者，十愈二三。</p>

<h2>各症問答十七則</h2>
<p>問治痧疹之用藥？曰：痧疹治法，宜用鮮生地、鮮石斛、鮮蘆根、生軍、生石膏、二花、連翹、知母、寸冬、甘菊、薄荷、大青葉、茵陳、木通、通草、梔子、黃苓、川連、羚羊、犀角、紫雪、牛黃等品。忌用元參、天冬、荊芥、葛根、柴胡、麻黃、浮萍、三甲、防風、二活、當歸、紅花等品。再痧疹回緊之治法，惟通里氣一法可救。蓋何愈之候，為毒漸散，離體而播於空際。回緊之候，為毒忽陷，循際而深入臉理，初非真有回緊、回遲之不同也。</p>
<p>問喉症之治法？曰：喉症不同，濕熱閉症，牛蒡子、豆根，苓、連皆可用。白喉宜養陰；濕熱宜疏解宣下，忌養陰。起白非白喉，亦有陰虛不起白者。蓋白喉之白，與非白喉之白有別，不潤者為白喉。若有白而二便利，口渴不思飲者，非陰虛。若無白而二便不利，口渴思飲者，為陰虛。論症當互證情形，不可拗執一隅。謂白喉為陰虛之一種則可，謂有白即為白喉則不可。</p>
<p>問喉症有頭熱、身不燒、口不渴、吐泄、脈沉細者，如何治法？曰：此濕痹喉症也。且因痹而陰虛，先宜牛蒡子、豆根清宣之品。利止，宜大生地、正元參鎮潤之劑，吐者宜清宣兼下法，生軍可用。</p>
<p>問養陰清肺湯，有以為治白喉之主藥者，有以為治白喉之毒藥者。緣用之或收奇效或見敗象，結果不同，持說乃異，未知孰是？曰：白喉由於陰虛，故起白硬而少液，養陰清肺誠對症藥也，況症有輕重，在《忌表抉微》，亦不專限於養陰清肺湯也。後人不細讀，僅學其方，不學其理。致有濕熱潰爛之喉，亦視為白喉，誤投養陰劑者，豈能奏效耶！不悟用法之非，反誣立法之是，一誤再誤，靡所底止，不可以不辨。</p>
<p>問癲、狂、癇諸症之別？曰：狂屬陽，癲屬陰，故重陽為狂，重陰為癲。初得時辨之，癲則口吐白沫，而面白唇青，狂則否。查其形狀，凡語言罵詈，不避親疏，聲高氣粗為狂。語言呢喃，時作時止為癲。最重要者在查其目，目直而神不定為狂，目直而神時清時不清為癲。癇症有二種，一胎毒入於厥陰，多得之於童年。一由悶郁傷肝，多得之於成年。治之之法，古方雖有，但難去根。癇驚是因驚而癇。癇與風不同，風如卒然中風之類。癇時作時止，如羊角瘋之類。然風與癇皆得之於驚，此乃臟腑為熱所煎，猝逢驚恐，熱氣上逆，故在臟則為風，在腑則為癇。</p>
<p>問邪在大絡法宜引經之理？曰：邪不入經而流溢於大絡者（十五絡內之五臟絡曰大絡），謂之奇邪，法宜用藥餌將大絡之邪，引入在經、以便施治。緣人身之形臟，以經為斡，以絡為束，有如以骨為斡，以筋為束之理。邪中絡時，其邪雖輕，藥則難達。雖有香竄藥可以達絡，然或因熱邪，或因體虛，往往弊害立見。故不如先引絡邪，使入六經，再施相當之法，或補或瀉，邪自易出。</p>
<p>問逢冬作嗽之治法？曰：咳嗽之病，不一其類，逢冬必犯者最多。此症早輕暮重，脈洪者為陰素虛，及冬陽氣潛藏，陰虛陽擾而作嗽。當用鮮生地、元參以固陰，杷葉、蘆根以利肺即可。若用酸斂或宣通品，則難效。</p>
<p>問某君頭痛，壯熱、肢冷惡寒、口不渴，唇焦有泡、溺赤便燥，脈沉，此何症？治宜何法？曰：此症頭痛似表，肢冷惡寒似陽微，口不渴似濕。然認表，脈不浮；認陽微，脈不微；認濕，唇不滑，壯熱，唇焦有泡，溺赤便燥，乃系熱鬱於裡，蒸為壯熱。其唇焦有泡者，熱不宣也，故滋赤而便燥。其肢冷惡寒者，陽為熱鬱也。口不渴者，熱未發越也，故脈沉而不洪。法宜通里清熱，白虎承氣湯加減之：用生石膏、生軍、小枳實、知母、黃苓、川連、生草等藥。</p>
<p>問某君四肢厥冷作搐，脈微，系何症？治宜何法？曰：陽虛不達四肢，以致厥冷作搐，法宜助陽。附子（三錢）　陳皮（三錢）　人參（一錢）　甘草（一錢）　生薑（二錢）　半夏（三錢）　桂皮（二錢）</p>
<p>問某君畏冷口渴，氣促喜臥，尺寸俱大，此何病？治宜何法？曰：陽明為多氣多血之腑，若有滯熱，則有餘脈現，故經雲陽明脈大。傷寒以陰陽俱大及洪大為陽明之脈，是以陰陽俱大，系滯熱鬱於胃，兼困脾氣，陽氣不宣，則畏冷口渴氣促喜臥。法宜白虎承氣湯加減之，用生石青、小枳實、知母、生軍、甘草、粳米等藥。</p>
<p>問某壯男猝患氣喘汗出，脈沉，系何症？治法如何？曰：壯男猝病，非虛可知。汗出脈沉，陽明熱象。喘乃陽明之熱，蘊蒸於肺也。法宜小承氣、麻杏石膏湯加減之。</p>
<p>問某君頭痛身燒，飲黑糖姜水，覆被而臥，醒則汗出，頭痛解，身略熱，惟增喘，脈浮，治法如何？曰：風熱誤汗，致邪蘊於肺，故頭痛止而作喘。法宜辛涼，用生石膏、炙杷葉、鮮蘆根、甘菊、薄荷、二花、連翹等藥。</p>
<p>問某君脈遲緩、胸痛、嘔逆，系何症？治宜何法？曰：症系寒邪傷胃，以致胸痛，嘔逆而脈遲緩，法宜寬中溫胃，散寒降逆之劑：法半夏（錢半）　陳皮（三錢）　白朮（三錢）　厚朴（二錢）　木香（一錢）　茯苓（三錢）　生薑（三錢）　砂仁（六分）　炙甘草（一錢）。</p>
<p>問舒母年七十，熱病已愈，惟腰及脊骨作痛，何藥治之？曰：法宜養陰潤下活血。生軍現不可用。</p>
<p>問面部及頸項，起小粟作癢，宜何法治之？曰：症系風濕，法宜貯荊芥於袋中，用以擦癢，或用花露水擦之。</p>
<p>問外科治法，消托二者，以為何宜？曰：外科之法，雖分陰陽，往往以托法為上，不知治外科當以消法為主，托法次之。主治，分陰陽，審虛實，調氣血，為其常法。但身壯之人，雖潰亦可用消法，能使速痊。身虛者用托法，不過較消法略遲耳。消法不能離軍，托法不能離耆。主治，熱盛血虛，可以鮮生地代耆。惟金銀花，無論消托，皆當用之。</p>
<p>問針法補泄？曰：針法補泄，以呼吸定之為正法，以左右定之為偏法。人之五臟除脾居中權外，肺當在右，肝當在左。肝既在左，腎必屬焉。肺既在右，心必屬焉。吸則肝腎主之，故左主降。呼則心肺主之，故右主升。此左降右升之理。</p>

<h2>婦科六則</h2>
<p>問婦人年未五十，經血不行，腹大而動，兩脈滑動，逾十月，為疾為孕？於何證之？曰：以乳脹否為斷，乳不脹則宜舒氣活血，乳脹則宜舒氣養血。</p>
<p>問某婦腹大而動，經水不行，已及一年，按之腹軟，何藥治之？曰：症似氣滯，如乳不脹而脈數，宜用鬱金、杷葉、蘆根、葶藶。脈不數，則沉香、木香皆可用。惟恐臌症已成，則收效非易矣。</p>
<p>問某婦經水不行，已逾一月，身燒腹大，口渴思涼，其症為何？曰：太陰大傷，則脾失運化，肺失升降。如升降作用尚未全失，大小便通利，可治，不通利則不治。其口渴思涼，亦肺氣不能化液之故，與熱病之口渴思涼不同。</p>
<p>問康氏年逾四十，經閉已及十月，午後作燒，飲食即嘔，腹脅脹痛，青筋外露，咳嗽胸滿，口渴唇焦，身倦，便溏溺黃，此何病？治宜何法？曰：肝旺血虛，脾胃已傷，期以六月，無法醫治。</p>
<p>問某婦年近五旬，素日經水逾期，心常煩跳，口乾渴，頭暈，腹有條塊，脈細弱而弦，此何症？治宜何法？曰：脾氣虛弱，致失運化之力，不能運血下行，故經水逾期。血既不以時下，久留成聚，阻隔氣道，故心煩跳，乃氣不養於中焦也。口乾渴，頭暈，乃氣不能運液上達，潤咽榮頭也。脈細弱，乃脾氣不能運胃氣，使肺氣達於寸口也。脈弦，乃血聚阻隔氣道也。治法當用潞黨參、白朮為君以補脾，肉桂、陳皮為臣以化瘀，當歸、川芎為佐以潤咽榮頭，助參朮之力，用茯神、檳榔為使，茯神使當歸、白朮，以助脾氣而去心煩跳，檳榔使當歸，以燥其濕潤之性，俾專奏溫化之功，用伏龍肝為引，以土引藥入脾。</p>
<p>治經血不調，趕前帶下，善後丸藥方：西洋參（一錢）　生牡蠣（六錢）　真阿膠（三錢）　粉丹皮（三錢）　白朮（錢半）　杭白芍（六錢）　白（敗）龜板（六錢）　生鱉甲（六錢）　全當歸（四錢）　川芎（三錢）　建曲（四錢）　炒麥芽（三錢）　楂炭（四錢）　桃仁（四分）　火麻仁（四錢）　金斛（六錢）　鬱金（四錢）　鮮生地（四兩）　雞血藤膏（八錢）　蓋母膏（八錢溶化）　鮮藕汁（四兩）　以上各藥，共為細末，煉蜜為丸，每丸錢半，空心服之。</p>

<h2>兒科二則</h2>
<p>問某兒年二歲，尿道不通，小便及腎囊皆腫，以田螺法治之，愈腫，此何病？治宜何法？曰：濕熱下注，壅塞不通，現情甚危，西法較速。中法用田雞活剝其皮，而以皮貼於腫部。內服利水藥，略佐升提。</p>
<p>問某女年十歲，口渴齒枯，唇白焦，舌華，便燥溺短，腹痛，目微赤，四肢串痛，足不能行，身皮甲錯，此何病？治宜何法？曰：滯熱日久，胃液大傷，正氣已虛，攻之不可，補之不能，危險有日，不可治矣。</p>

<h2>論藥</h2>
<p>論藥之性，宜審氣之厚薄，味之甘辛，質之輕重，及生長之時候，然後定寒熱，評功能，則乾鮮炮製，不學可知，其變化及相畏，相反，相助，皆不離生克之理，亦不問可知。若不察其本，僅記某藥寒、某藥熱，或畏某藥，或喜某藥，或反某藥，及某藥治某病。不特不能知變化性能，設執一書中未載之草木或金石，問治何病，必膛然無所答。</p>
<p>觀藥品芳腐之濃淡，則氣之厚薄分，辨甘辛之輕重，則味之厚薄定，察質地結合之空密虛實，則體量之輕重知。</p>
<p>藥味之性，因干、鮮而多不同。石斛干、鮮尚不甚差，人參、生地則不然。石斛干、鮮色俱黃，人參干則色微黃，鮮則色白潤。生地干則色純黑，鮮則色黃白。石斛色不變，故性亦不變。人參、生地色既異，性豈能同乎？有如人乳，鮮則色白，其性平。經日曝則色紅，其性大熱，即此理也。</p>
<p>凡藥皆俱毒性，人第知黃耆、生地為上品，然投黃耆於病溫者，投生地於虛寒者，或血寒者，實足以殺之。砒石、水銀，人皆知為大毒，然投砒石於脾寒者，投水銀於骨中毒者，立收起死回生之效。故有病必須服藥，無病萬不可服藥，蓋無藥不毒，以毒攻毒則利人，無毒招毒則禍人也。</p>
<p>問軍咀、軍炭，各於何種病為宜？曰：凡血瘀者宜用咀，停滯者宜用炭。</p>
<p>問半夏之效用？曰：升降疏轉陽氣。</p>
<p>問溫病痧疹，有用桃仁泥或不用之別，何也？曰：凡色不正，血未暢行者，宜用桃仁泥。</p>

<h2>用藥於小節亦宜慎</h2>
<p>醫者用藥，往往苦寒而加甘寒，或甘寒而加苦寒，皆由佐使不甚得法。例如有濕，則二冬不可用。陰虛無濕，則苓連不可用。否則佐使小失，雖服者未必增病，亦於愈期之遲速有關（某醫慣將生地、二冬、芩、連等藥，同方並用，因發此訓）。</p>

<h2>中藥與西藥</h2>
<p>中藥與西藥不同，有志之士，恆主用制西藥法以制中藥，用意固善。但西藥吾雖不知，以理度之，皆取其一種質，或一種液而已。中藥則不然，以氣之芳臭，色之黑白，味之甘鹹，質之輕重，液之多寡，而定其功用。若以西法提取之，則成分已差，效用必異，變中藥為西藥，殊不易也。然西藥若未經提取，亦未嘗不可為湯劑。</p>
