<header data-type="book">
<h1>伏邪新書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>劉吉人</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1911">公元1911年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>伏邪為病前人有特筆暢明言之凡近世醫生所謂調理本症是也以其病持久而徐變動不速奏效不易故也其實內有伏邪為病者十居六七其□□自生之病不兼內伏六淫者十僅三四前人未嘗分別著書立說以故伏□□本臟生病皆所混雜不分而總以調理本症目之以金匱與和劑局方等之古法治之僅按其外面自現症候名目用方按圖索驥有效有有效總未得究其病根之法分別用方在本臟自生之病或有對症之理在伏邪為病之症不知祛邪外出之法故鮮能收功予經歷多年覺本臟自生病不兼伏邪者用古法治可以奏效若兼伏邪即難應手一遇全因伏邪為病而累及本臟自病者更無全愈之日矣欲人徒以試藥□藥目之以為病不可治而予創立伏邪說治法分別六淫治之一面扶正一而祛邪不操切圖功務使內伏之邪氣外解臟腑之真元復舊而後已念年以來獲效甚夥於心甚安不敢自秘為獨得之奇願以公諸後世非予也獨創為異說也以內經有春傷於風夏為飧泄等論吳氏葉氏已先開伏暑法門予因隅反覺六氣皆有內伏為病者故條分縷晰六氣伏邪分別診治法以告後學蓋邪機隱伏病根深藏非若新感易於辨識易於祛除也　著者識</p>

<h1>伏邪新書</h1>
<p>伏邪病名解</p>
<p>感六淫而即發病者累者謂之傷重者謂之中感六淫而不即病過後方發者總謂之曰伏邪已發者而治不得法病情隱伏亦謂之曰伏邪有初感治不得法正氣內傷邪氣內陷暫時人假愈後仍復作者亦謂之曰伏邪有已發治愈而未能除盡病根　遺邪內伏後又復發亦謂之曰伏邪有伏燥有伏寒有伏風有伏濕有伏熱</p>
<p>伏燥</p>
<p>其面色如常但中正印堂年壽兩顴等處間有白氣隱於皮膚之裡白而不澤舌苔白腐（白如銀灰色亦有黃白相間者如表心紙色而厚）甚則僅如錢大一塊在舌中心而四面如駁去者或四面有白腐而中心如挖去者脈象沉取短澀浮取反覺小滑（兼生氣者脈兼緊左右彈兼勝復氣者脈兼大數）胃脘不舒（中氣故覺痞悶也）此伏燥常見之形症也</p>
<p>燥金邪氣伏於陽明發為嘔吐翻胃當胸脘痛腸結（內有燥屎如羊矢豆內結而大便反溏泄或細如金果條或滯下）滯下（大便不爽痛而不通之候）噎膈（俗傳膈食病皆由燥屎而成紫虛四言脈訣有翻胃　嘔吐結腸者　亡之論予以燥結下之無不生者）無汗或但頭汗出（無汗燥傷津　液也但頭汗出者頭屬陽明部也）加減調胃承氣湯主之去芒硝加蘇子歸身淡蓯蓉火麻仁潤以下之法也</p>
<p>燥金邪氣伏於陽明日久不解傳入衝任發為當臍而痛（時作時止時緊時鬆）疝瘕癥結脫營血枯久則成乾血癆症（乾血癆本世俗之俗名然惟此一症名實相）治如上法加桃仁蘇木烏賊骨杏仁蘇子蘇梗以通之此寓補於通之法（桃仁蘇木烏賊骨溫通活血而不傷氣杏仁蘇子蘇梗少用之以為助以調氣降氣生甘草稍亦能通下）日久虛甚者參用通補丸奇經丸脈結而牢緊者天台烏藥散加巴霜法亦可參用</p>
<p>燥金邪氣伏於兩厥陰血分（肝與胞絡皆主血）兼及衝任男子虛疝血虛之人日漸瘦弱嗆咳寒熱似癆少腹拘急似痛非痛脅下疞痛（如帶束腰際狀者帶脈亦病）大肉削脫（津液消亡也）脈芤虛短澀者當歸羊肉湯主之（用歸身一錢連皮羊肉三斤白煨另煎加入食羹獨用亦可）補血潤燥之法也女子月事正盛及男子血不虛者燥氣縛血結成瘧母痞塊癥瘕腹脹痛者化症回生丹主之虛者（人虛症實）通補奇經丸參用（人虛症實故用通補兼施法）</p>
<p>燥金邪氣伏於手太陰肺絡發為肺痿皮毛枯津液槁嗆咳咯血天府穴痛胸痛如夾未化熱者</p>
<p>紫蘇子湯主之方用（杏仁玉竹柏子仁生甘草蘇子火麻仁阿膠）化熱者（脈數大兼芤）潤燥救肺湯主之（即喻氏清燥救肺湯去桑白皮加蔞仁）燥金邪氣伏於陽明傳入足太陰脾絡少腹兩旁夾臍而痛甚不能直身如伸直則脾之大絡拘急而痛更　甚大便細若金果條　亦有羊屎矢豆糞在內者五仁丸主之　脾約麻仁丸亦可參用（此條當與前陽明法參用）</p>
<p>燥金勝氣陽虛不旺者感之頗似寒症（以其　脈緊澀而小舌白無汗形類傷寒）用散寒藥則化熱（脈變小數口渴睛紅等用證）用清涼藥則又似寒（脈又變小緊而澀緩細結等陰象口中生水此甘寒藥之弊也）用苦寒藥（如芩蓮知柏之屬蔞貝山梔等類）則益燥而血液干元氣減用溫補（如黃耆潞黨蒼朮）則中宮壅寒不通用消導化痰藥（如陳皮半夏厚朴山查神麯雞內金等）則劫傷胃陰（胃汁津液反壅塞於胃之上脘不降口生涎沫燥極反澤矣）燥結愈堅（胃汁燥干腸中無津液滑潤則燥屎愈加堅結難下矣）兼勝氣為次寒為清邪當溫攻潤下之者誤用寒下法必變生厥冷肢逆汗出如水陽氣旺者易化為火（即燥金復氣也脈數有力舌黃）化熱即從火熱治之故燥氣化火之症易治（人人能識人人能治但在化而不化脈象方數舌色初黃之候誤用苦寒則難治矣）</p>
<p>按燥金之症與七情抑鬱悲憂思症相似以其同為秋氣傷人治法皆以春和生髮之氣解之（脈同一澀脈而有長短浮沉之異燥傷血故脈沉而短憂鬱生於七情不適善傷氣故脈浮澀而長細金性沉著緊斂易生燥屎憂鬱則無之故憂鬱用蘇梗制香附溫和行氣舒暢氣機伏燥用蘇子杏二歸身有油有汁之品溫潤血液）而一由六淫燥氣內伏一由七情抑鬱而生學者當攻其同中之異分別用藥以施治焉又按燥極反澤口生涎沫與熱邪入營口反不渴津唾多胃熱則廉泉開症相似（熱症舌質多紅紫苔薄白如雪青杭綢色燥症舌色不甚紅紫少有分別）而熱症可清燥症不可清也至於熱症未傳陰液色大傷脈反小澀淡症陰傷脈亦小澀（熱症小澀然靜中有動多芤澀相兼者燥症以澀為本脈其人形症未久未大傷陰津即有澀脈一為末傳脈敗象一為初中傳本脈病之久暫深淺其候不同亦易變也）學者亦當細心分別焉蓋燥即干也一則是西風吹乾一則是火氣炕干其耗傷津液則同一乾燥而治法則大有不同一宜清潤甘寒而潤（火燥治法也）一則宜溫和甘平而潤（燥金治法也）</p>
<p>伏寒</p>
<p>其人面色淡黑而　黃（如浮煙籠罩黃黑皮里有青白氣隱隱現於年壽山根額上兩顴臥蠶等處）爪甲色淡不甚紅（微兼青白）舌苔薄白（如敷米飲如染豆漿）而潤舌棉淡（不甚紅）脈沉遲弦細而弱痛者兼緊痛甚則如新張弓弦或兼結食不甚消（有食入半日而吐出仍未腐化者）行動言語皆遲緩神氣消索小便清長此伏寒常見之形證也</p>
<p>寒邪伏於足陽明經傷胃之陽氣胃汁冷發為胃寒飲食不消胸悶脘脹（胃汁冷陽氣困故消化不速而有是症）吐水（津液不消陽氣不足脾不消水液也）甚則腰以下如坐冷水中（胃陽不足腎陽亦憊也）喜熱惡寒（此寒從胸受或從足背受者故無傷寒表症）治以甘溫溫中散寒湯主之（乾薑砂仁附片甘草寇仁苓朮）加灸足三里胃腧中脘畏灸者以蒜泥代灸法或散陰膏貼中脘穴</p>
<p>寒邪伏於手陽明手太陽經發為腸癖白痢五更冷瀉（瀉色白臭腥淡）少腹痛有定處綿綿不巳非得熱熨不能解也白芷乾薑湯主之（白芷桂枝破故紙乾薑蓯蓉甘草萊菔子）灸二腸俞散陰膏貼臍貼大小腸俞穴</p>
<p>寒邪伏於足三陰經（肝脾三陰經由足心臍腹而受）發為少腹痛為奔豚氣氣上衝痛（兼衝任脈病）為伏梁（任脈病也）為寒疝（厥少陰衝任病）為足筋拘攣（陰蹻病也）膝冷脛酸（腎病也）感寒即發者溫暖三陰湯主之（吳萸木香乾姜肉桂附片甘草）疝者加荔枝核橘核元胡索足筋拘攣者加（五加皮虎骨膠木瓜灸三陰交湧泉穴散陰膏貼之亦可畏灸者以炒鹽填臍中上加薑片灸之不傷皮肉火氣緩緩入腹灸一火急按之使火入腹為補火法</p>
<p>寒邪伏於手太陰肺輕咳喘甚則哮咳吐寒飲白沫（白沫如水不黏不能引絲有絲　亦易斷）感寒即發輕者蘇杏二陳湯主之重者麻黃　湯兼足中陰症仲聖小青龍湯麻黃附子細辛湯苓桂朮甘湯選用（兩太陽脈虛緩而遲弦按之滑者兼濕痰水飲症也故用苓桂朮甘湯實土以制水也）灸肺俞穴或散陰膏貼（天府肺俞穴亦可）</p>
<p>寒邪伏於衝任二脈女子天癸後期短縮而少少腹胯紋際痠痛子宮虛寒血凝經閉則為癥結血蠱（女子天癸適至衝任二脈虛或食冷或下部受寒每多致此）仲聖桃仁承氣湯主之生化湯亦可主之子宮虛寒者寧坤丸癥結者化症回生丹</p>
<p>寒本水氣靜順之化其氣凝冽故有冰凝之患人之血液也得寒則冰凝水液反少不比濕邪水液反多也其感寒而水飲停蓄為吐水喘哮痰飲之症者非其人陰液有餘即犯滋潤之弊故經文曰寒淫於內治以甘熱佐以甘辛良以陰液少者感寒則易化為燥也（甘屬土以土剋水用甘者亦勝制之義也甘　辛發散屬陽以舒陽氣而化為汗也）陽氣旺者易化熱（用甘以潤保護津液使陽氣舒和運津液而為汗使寒從汗解由皮毛而出無化熱之弊也（內經冬傷於寒春必病溫此寒猶伏在皮毛腠理其人陽氣旺陽郁久而化為溫熱也（世醫讀王氏經緯故只知寒化熱為伏邪而不知有六淫本氣伏於內從內而發之伏邪矣此篇故不得不作也）化燥者參用燥金治法化熱者參用伏熱治法有其人陽氣不足陰液有餘則自始至終為寒氣不化燥熱而水液不消與濕氣合而為寒痰水飲之症者參用濕邪治法（脈沉遲而滑者陰液有餘可用溫澡沉遲而澀者陰液不足不可燥則以甘辛溫法治之）</p>
<p>按伏寒脈症頗與七情憂鬱思慮相似（蓋思則脈多沉遲甚則結者憂鬱氣滯脈亦遲澀）但伏寒脈左寸人迎必應七情脈左寸人迎不應若兩閉右寸氣口脈見沉遲細結之象而無上第三四條足三陰症與手太陰症者從七情思慮治之但用溫和舒散其陽氣而已不可用以上之法也（人迎主外感六淫伏邪雖無表症亦外感入內者也內傷以氣口診之見東垣內傷外感辨）</p>
<p>伏風</p>
<p>其人面色如常但鼻上山根年壽微現青氣隱隱臥蠶顴際亦微青白爪甲青白白睛帶青舌苔浮而易去（無定色間有菜色青黃相間）舌質如發青紡綢之兼青者色暗不鮮其脈弦緩往來滑利如波浪之湧按之則　芤浮取則虛神志蕩蕩然胸中嘈飢善餓或有微惡風之狀（青木色也浮而易去無定色風善行而數變也舌質兼青暗風伏於內血色變也弦肝木本象也緩一息四至風之正象也滑利如波浪者血被風鼓盪　而行也滑利似津液有餘而按之芤者風耗血液也浮取則虛同不在表而入里之候衛陽返虛也）此伏風常見之形證也</p>
<p>風伏足陽明太陰脾胃土受木克風氣疏土運化較速時欲嘈飢食已欲瀉（此即內經春傷於風夏為飧泄症也風伏入夏土旺不受邪故能捍邪而病發也胃能化食全賴膽汁入胃以化之風甲木膽氣也故運化速於平時脾陰土也主統運水液風陽邪陽主動故運消水液亦較速也飧食也以嘈飢而時時欲食也食已即欲瀉者運化太速水分不及分別清濁故干稀皆從大腸而出也此似土虛之症不知土旺之候伏風發作而為病法宜培土抑木祛其伏風）桂枝湯主之（桂枝木生甘草杭白芍木香桂枝去皮用木使入里也甘草培土白芍能於土中瀉木微加木香者以配白芍也日久欲化熱者去木香加木瓜少許）久不愈者橄欖茶飲之（橄欖與木瓜皆木中之金也善制風木此勝製法也橄欖四五枚打破泡汁緩緩飲之如無鮮者蜜餞甜橄欖亦可用之）</p>
<p>風入了明之裡者腹痛喜按白礬紅糖丸（此亦勝之下法也以明礬末用紅糖蒸化　和為丸如桐子大每服七丸或十四丸使風氣從大解解之法也）飧泄不已小兒則成疳疾牛肉全蠍粉（方載吳鞠通解兒難中）大人則成消食風消骨瘦混元一氣丹吞之（即生雞蛋一枚溫水浸溫吞之）甘草芍藥湯少加（雞金全蠍）</p>
<p>風伏脾絡大人夾臍而痛（有鬆緊有止息）戊己丸全蠍湯下小兒臍風　撮口（未發之先面色如土既發則額上黃黃至口角不治治法詳幼科鐵鏡中夏氏燈火十三醮法）口不能張唇若荷包撮不能乳哭木香疏風飲主之（木香全蠍桂枝蟬退木瓜芍藥甘草）</p>
<p>風伏肺絡鼓湯痰飲發為喘咳吐白沫兼寒者麻黃湯不兼寒者白芥子湯獨用兼化熱者麻杏石甘湯耗傷津液發為嗆咳桑菊蔞杏湯　桑葉菊花蔞仁杏仁）兼化熱者加冰糖川貝母潤之痰涎實者釀為肺癰咳吐臭痰濃濁異常之多獨用白芥子或用芥子或用芥子末拌（青黃牙白）菜醮麻油當菜食之數日則風痰可從大便下（古有陳芥菜滷治肺癰法予因思陳滷難得且咸能傷血棗人喉嚨臭而難食改用此菜食改用此菜食之治效甚夥）化熱者雪羹湯（大荸薺淡海蜇頭）熱甚加甘草（酒炒）大黃微降之</p>
<p>按伏風喘咳之症誤用辛溫其變症頗有失血吐紅似勞者喘咳之症誤用滋補亦多纏綿飲食不進似癆者誤滋補者三子養親湯誤辛溫者桑菊蔞杏湯水貝</p>
<p>風伏肝絡發閒厥瘛瘲眩暈抽搐目睛斜視（此即俗謂羊癲風等類也經謂之癇方書謂有五癇有夜發晝發陰蹻陽蹻脈病也肝液不甚虛者有風痰飲流入經絡隧道故發或愈）明礬鬱金橄欖汁為丸緩緩治之血虛者左癰右瘓足不能舉痿痹遠原酒主之（方載後）</p>
<p>風伏陽明肉腠理為癢為腫（癢甚腫甚自頭面起一二日偏身皆腫）桑菊飲加鉤藤蟬退主之不治及治未盡者變生癬癩（輕者為癬重者為癩）遠原酒主之</p>
<p>風入膝肯犢鼻穴發為鶴膝風膝腫大腿細屈伸不利還原酒主之</p>
<p>風入環跳穴發為附骨痛風不治則成附骨疽三退二香散主之（露蜂房人發制沒藥蛇退制乳香）共研細末酒調如干面式服一團陳酒下取汗遠原酒主之</p>
<p>風入衛陽頭生白屑麵皮乾燥漸及偏身發為白癬陰液不足好色之人發為腎臟風俗名陰癬（生於兩胯陰間漸及兩股）遠原酒加減主之在上生白屑者去油松節加（干浮萍葛花）在下部者去油松節加（黑大豆阿膠黑芝麻龜板膠）血熱者為紫癜風加（酒炒大黃）血氣虛者為白癜風（即白癍駁雜）加潞黨參黃耆防風（白癍多有兼濕者宜加油松節用之）</p>
<p>風入陽明頰車穴痠痛口不能張為骨糟風辛桂芷黃湯主之（細辛白芷片黑大豆肉桂炒大黃芥穗）</p>
<p>風入陽明肌肉厥少陰筋骨肌肉麻木筋骨痠痛痹化熱則為白虎痛風風痹者遠原酒主　之痛風者白虎湯加鉤藤</p>
<p>風入筋骨歷疼痛癢腫走竄不定甚則頹筋壞骨鼻塌毛髮脫手足拘攣日久則皮破流水潰爛浸淫骨節脫離而死者俗名曰大麻風癘疾又曰癘風（此風症廣東名曰麻風各省皆由彼處傳來亦如楊梅瘡毒名曰廣瘡亦由廣傅來二症末候末假形證大抵相似蓋同一氣候之症源同而流異也楊梅毒不服輕粉不入筋骨麻風入內之精氣不虎不入筋骨蓋同一厲氣也）未頹筋壞骨鼻腫者還原酒主之已頹筋壞骨者五虎七液丹主之方用（全蠍斑獵蜂房蜈蚣蛇退各一兩）皆焙存性研末（明雄精月石）各五錢研細末酒炒大黃末四兩諸末合為一處磁盤盛之加（側柏葉鮮荷葉大青葉佩蘭葉紫背浮萍野菊葉五葉藤）各取自然汁一兩（青果連核磨汁一兩右菖蒲磨汁七錢）傾入前未藥內干則研細再傾以汁盡為度陰乾再研豬汕拌為丸如梧桐子大每日服三十丸生甘草湯下服至泄瀉止停數日消息胃氣再服弱者減之壯者增之痿痹還原酒方（土炒鉤藤一兩白歸身五錢炒小胡麻一兩五錢入乳拌油松節五錢酒炒桑椹子二兩夜交藤一兩五錢　蜜炙絡石藤錢九節石菖蒲五錢川牛膝八錢五加皮鹽水炒五錢十大功勞子七錢伸筋草七錢薄橘紅五錢鹽水炒沙苑子一兩五錢千年健八錢大秦艽一兩二錢尋骨風六錢藕節須一兩豬髓定型條杭白芍八錢蠶繭四十九枚白花酒六斤酒浸一宿隔水煮一炷香存性五七日每日隨量飲之治腎臟風陰癬者去油松加熟地二兩）</p>
<p>伏濕</p>
<p>其人面色黃白惟天庭兩太陽微暗鼻有油垢皮膚潤澤舌質淡邊如鋸齒苔無正色黃白灰雜相混其脈緩弱沉取則滑利喜食香　脆惡飲（兼熱脈則緩木化熱則脈數兼寒脈則弦遲沉寒則遲細如屋漏）體重神困此伏濕常見之象也</p>
<p>濕邪伏於兩太陰者寒熱往來如瘧又似虛癆午後熱甚綿綿不已或微咳或不咳口淡舌白滑苔薄胸悶飲入輒脹食不消腹脹或自利溏瀉小便不爽脈右關寸緩藿香正氣丸主之六君子丸亦主之三仁湯亦可選用</p>
<p>濕邪伏於足太陰厥者脾不統血則血　化為女子不月男子少腹脹大小便不爽利沉沉澤澤毫無所苦呵欠倦怠嗜臥四肢重久則浮腫香連丸左金丸戊己丸選用脈見兩關緩</p>
<p>淡邪伏於兩陽明足太陰者胃陽困泄痢後重腹痛時作時止面浮見右關寸緩痢痛甚者脈兼結小兒發為疳疾頭毛槁腹大化熱則嘈飢時時欲食食亦不多不消食已而泄神術丸異功散香砂枳朮丸</p>
<p>濕邪兼熱伏於二少陽二太陽經者寒熱小便赤自汗目胞浮脈緩大兼數見於左關寸舌苔黃膩黃芩滑石湯</p>
<p>濕邪兼熱伏於二厥陰經者善怒脅下痛有止息女子經前腹痛月事不爽色淡男子疝瘕脈左關寸右尺緩大兼數舌苔黃灰而膩金鈴子元胡索散濕邪兼熱伏於手太陰足陽明者發為陽黃舌黃灰而膩脈右關寸緩大而數苡仁滑石湯</p>
<p>濕邪伏於兩太陰兩厥陰足少陰者兩脈弦緩痰飲停蓄喘咳嗽稀痰面微浮甚則如哮嘔吐狀如胃寒小青龍湯外臺茯苓飲見水心怯欲作寒戰者膏盲受濕需灸膏盲俞二穴砒豉丸少少與之不知再加二粒</p>
<p>濕邪伏於足少陰腎經者小便濁腰脹以下如坐水中面色黃而暗如油垢狀脈兩尺緩大如按綿包雞絲魚翅湯（魚翅如平常調和亦可加雞絲）兼寒濕者發為陰黃茵陳朮附湯金毛狗脊五加皮湯兼熱者發為陽黃黃汗滑精茵陳大湯麻杏石甘湯加細辛滑精者二妙丸黃芩白朮散</p>
<p>陽氣虛陰液足者易化為寒濕陰液虛陽氣旺者易化為濕熱陰陽平等者濕邪本氣始終不變有因藥而變者不可不知（如久利則陰傷陽餒如久燥則陰傷陽　亢之類潤之則病深不解補之則驚悶煩躁下之則潤泄不止）雞絲魚翅湯（母雞沙魚翅治法如酒度烹煮法不拘多少量力酌用大約每日極少一小碗多則二小碗連湯連翅飲食之貧者以鳥魚羹代之即黑魚有七星者白湯煮食不可加酒鹽）（金毛狗脊五加皮湯金毛狗一兩五加皮五錢附片一錢苡米五錢木通一錢酒炒鹿角霜一錢何首烏三錢炒）</p>
<p>伏暑（暑屬少陽相火同氣相求多少陽三焦手厥陰心胞絡症相火亦寄於肝膽亦有足少陽足厥陰症兼濕氣者多太陰脾肺之症）</p>
<p>暑字從日夏日炎烈天上太陽火氣也在六氣則為少陽相火其邪氣傷入　皆由人頭背口鼻皮毛而入夏日受暑而不即病者以從人之汗孔化汗而出也若汗孔閉津液虛陰氣不足送邪出表則病作矣有送而未盡出表日復一日積累暑邪內伏至秋方病作或至秋末冬時而作者皆為伏暑秋初即發者輕易治冬月方發者重難治不兼濕邪與穢濁之氣者治法　可與伏熱同參</p>
<p>其症惡寒身熱氣虛入暮熱甚口或渴或不渴（不渴者巳人血分矣）面色額上黑暗紫氣隱於皮膚之內頭眩體酸目汗有汗　亦不退熱其脈兩關寸虛大而芤兩尺長大洪數尺膚熱甚舌苔白沙舌質紅紫（甚有薄白苔如雪青杭綢色反覺滑潤者）此伏暑常見之形症也治宜荷梅湯六一散脈散白虎湯四法選用（惡寒甚者用白虎湯加薄荷脈芤虛甚者生脈散加六一散）入暮熱甚似瘧非瘧舌紅潤口不渴天明得汗始退熱是暑邪已深入伏於少陽厥陰血分也青　蒿鱉甲煎主　之</p>
<p>暑邪伏於太陰經者日哺咳甚肌熱右寸芤虛喉中幹甚則氣喘生脈散主之欲作肺痿者（暑熱伏肺陰津液干則痿）天府穴痛（天府穴肺之募也在乳上三脅間）咳引胸腹痛（陰氣傷也）毛槁發焦（則痿巳成矣肺之華在皮毛毛槁發亦乾槁矣至此候則危）大劑生脈散加濂珠粉主之貧者以雞子清代珠溫水浸熱生吞之連黃亦可食</p>
<p>暑伏於手足太陽手足少陽經者口苦而渴小便不利頭眩心煩手足心熱甚尺膚熱甚者六一散主之</p>
<p>暑伏於足厥陰肝經者或渴或不渴嘔酸水脅痛脈左關弦數椒梅湯主之</p>
<p>暑伏於手厥陰胞絡血海夢多怪異少腹脹痛時作時止嘔胸悶不思食煩躁女子有事不調男子疝瘕結甚或譫語吳氏加減桃仁承氣湯主之</p>
<p>暑伏於兩太陰者舌白口渴腹脹氣怯寒熱似瘧有汗不　解小便已灑然毛聳右寸虛大右關弦緩左　關細澀此兼足大慶陰濕氣為病也東垣清暑益氣湯主之</p>
<p>暑兼濕氣伏於兩太陰者舌苔簿白而滑脈緩身重藿香正氣散主之熱甚者加滑石湯送下</p>
<p>暑兼濕氣伏於足陽明太陰者舌白脈弦緩　而大無汗或頭汗出香薷飲主之</p>
<p>暑兼濕氣伏於足厥陰陽明者吞酸心悸脅痛消暑丸主之化熱脈數大者椒梅薄荷湯脈緩弦細而滑不鼓指者雖渴甚左金丸香連丸選用</p>
<p>暑兼濕氣伏於足厥陰太陰大絡者脅痛吞酸日久變生停飲脅下漉漉有聲脈弦舌滑香附旋覆花湯</p>
<p>暑兼濕氣伏於兩陽明及手太陽小腸者脈右關寸左寸皆緩滑而大滯下紅白後重裡急腹中時痛木香檳榔丸主之化熱脈數大有力鼓指者調胃承氣湯加薄荷主之脈振指有力按之芤者可參用熱症治法增液承氣湯主之</p>
<p>暑邪伏久深入中厥少二陰與足陽明經者失治（謂不得治法）日久陰液傷耗大肉削脫皮毛枯槁脈弦澀而緊勁或細若鰕遊發為戰粟抽搐角弓反張或形似虛癆而有外症病移者危（有外症病移者尚可救活以其正氣尚能捍邪外出也潰久則難矣）勉救之用大定珠法加珍珠合增液承氣</p>
<p>伏熱（相火為暑君火為熱熱即二火之總名也凡暑熱不兼濕症者皆可以熱名之皆可以熱症法治之）</p>
<p>其症惡寒頭眩身熱形類傷寒但身里之熱甚於表（胸腹手足心腋下胯內較背項諸陽部更熱不似傷寒表熱甚也）日晡熱甚日輕夜重（入暮熱甚不若傷寒日夜綿綿熱無退時無輕重之別也）有汗亦不退熱或汗出退至時復熱（不若傷寒表熱可以一汗而解也此是分別處）口或渴或不渴（渴者輕易治不渴者難治不渴者熱邪深邪深入血分用清潤藥服之使達至氣分則渴能渴而甘飲則熱邪已淺一層矣）唇燥（口雖不渴其唇必燥以口中津液被火灼以舌舐唇上津液易乾燥如豆腐皮米湯鍋焦狀）面雖黃暗睛明二穴鼻孔及法令額上必有紫赤之色隱於皮膚之裡（冒看黃黑浮於外如煙煤籠　罩如久禁風塵日曬細看或背光看則紫紅隱於內矣）周身骨骱酸（骨骱酸者□熱灼也肝腎熱之明症也）腰痛（腎水為熱所灼也）胸悶（肺管中津液與胃脘中胃汁為熱所灼津汁少則肺胃之氣不滑利故悶）自汗（津液熱逼走於皮毛之外也雖有汗手足心必無足心更難得汗）頭眩（如酒醉狀）其脈沉數兩尺長大（浮取細軟沉取則數而有力或靜中有動或促）舌色白沙（如米粉鋪紅紙上或如雪青杭綢色）舌質鋒紫（深入血分則反滑潤）此乃手足少陽厥陰足少陰伏熱黨見之形症也（凡六淫伏邪首列常見之形症其下雖不言及皆當與常見之形症參合而斷病伏熱之症尤當加意問其初病形症與首列者合否以下諸條不詳述者省筆黑耳）治宜青蒿鱉甲湯或青　蒿二甲湯（不言手太陰症以肺經伏熱伏尚未深其症與初感無甚大異且鞠通天士有太陰伏暑在前人易知識不必再述）</p>
<p>伏久入陽明（即以上之症日久不愈或誤服二陳三仁等辛溫宣中之藥或未服藥熱邪循經傷耗胃汁傳入胃中而生熱強）但頭汗出或身半以下無汗或嘔或不甚嘔便秘身半以上自汗便溏瀉醬色誤藥甚者（多服曲殼枳樸砂仁辛溫化痰之品）則津液上逼壅於胃脘上口則口生涎沫（狀若水飲）辰已時熱甚煩悶其脈或芤或洪（芤者胃汁已傷所存者少洪者較輕有洪芤並見者）或細數按之澀而有力（陰液陰氣皆傷於熱也澀見於沉部精血亦耗也有力鼓指邪熱之力也）舌質紫苔或黃（黃宣者正象易治有紅孔膩滑者難治必有他故）或燥（燥者正氣黃燥易治黑燥治防其由潤而變燥變為神糊脫津熱症未傳之候則危）或潤（潤者熱入血分熱逼津液上泛也）或白腐而厚（熱症有白苔厚腐之苔無寒症苔乃胃中濁氣熱逼濁氣上蒸故厚如腐渣堆鋪狀濕痰寒痰油膩之症苔雖厚而膩貼舌上不服苦溫宣化藥宣透終不腐）或中心裂（有直裂一條者是氣分不足也有橫裂三二條者有直橫俱有裂紋者皆陰津傷也有裂如水片紋者腎水血皆傷耗也直塊如挖去者胃中陰汁大虧也有無苔赤舌而中心如挖去一片皮者胃汁大虧損及胃裡膜也有舌尖如挖去一片皮者有舌邊破裂者輕）胸悶或拒按（拒按者按之痛正象也人易知為陽明胃中結熱其病輕以其正氣尚能捍邪尚自知邪實也）或不拒按（不拒按者重必其人下症初見之時尚知拒按延誤多日不下正陰已傷正不能捍邪邪熱安結於內賊已入踞城池城中人反覺無賊兵來克腹賊難安居又亂作矣正陰稍復正能捍邪則反知悶而拒按矣必待下盡邪結方解）治宜調胃　承氣湯陰液乾耗者合增液法潤之如當下不下邪結在胃之上中脘者易變譫語煩躁狂迷士實剋水耗盡腎陰水不濡木肝木生風直視搖頭督脈實強角弓反張則危昏迷靜臥或自言自語唧唧噥噥聲音不高呃逆聲如擊木是內傳手少陰厥陰心與胞絡胃陰欲脫之候則危在量夕甲日甚（土被木克正五行氣受克甲為土運有餘今土實而土助旺剋水是五行化氣剋水也病更甚藥難見功）戊日險（正五行土剋水化氣五行戊屬火運有餘火土炎烈金水氣虛者不堪命參故多難延殘喘者）每見於辰巳二時（辰巳時氣血注於脾胃）肺脈弱氣逆多絕於寅卯二時（寅卯時血注肺與大腸且金絕於寅肺病怕寅時）辰戍丑未四時土旺剋水腎陰敗者多絕於四時之內</p>
<p>陽明伏熱腸胃中有燥屎熱結旁流自利稀水　者增液承氣合調胃法主之（凡系陽明熱結皆有首條與上條傳入陽明之形症熱傷胃汁腸胃中之脂膏不甚滑利故宿糞難下熱邪逼迫津液稀汁上下消亡上則嘔吐明汁清水下則熱瀉暴注清水甚有清水中如蛋白而下者其僅泄溏糞醬色金黃紅色者猶為輕症故下陽明熱結用增水行舟法使水長舟浮方能行動如初下用增液調胃法雖下出稀水稀糞或黑水或清水有腐渣腳如石屑狀者皆可下之症難下之症也不必驚懼仍守法更加重用之下至有糞色稍見小效下至宿新黃如雞爪葵花黃白相兼色軟如折帶盤若小蛇之糞其熱乃真盡之候始停下法用養正法調理如加減復脈湯芍藥甘草湯等類不比傷寒化燥下法傷寒化燥有燥屎無熱邪傷陰故傷寒未化燥屎誤用大小承氣下稀水者十有九脫不救熱症用增液調胃二承氣下無形之熱為重有形之宿糞為次不過借有形之糞水驗無形之熱邪解未解盡耳熱邪有重輕下有難易之別熱結輕者一下便得燥糞而症解者稍重者初下便得溏醬色再下得燥屎解有初下得稀黃糞再下得黑垢再下轉醬溏再下燥屎再下得新黃折帶恭始解者有初下得青黃糞再下得黑水如洗黑灰垢水三四下始能得黑垢如黍黏黑血條五　六下後始轉換醬溏燥屎者有初下得清水再下得蛋白漂水中二三　次下之始得清水蛋花糞少許然後漸轉　黑水黑垢醬溏等樣者有初下得清水中夾黑屑如鍋焦黑屑如茶末再下得清水中有白屑腳沉底如炒黃腐渣屑或如石屑粗粉然後始轉蛋花糞等樣有初下已得燥糞症脈不減再得前樣等物者有中間已得燥屎其症不減再下得羊矢豆後始轉新黃折帶方解者有下得燥屎後症脈不減或症減脈不減或脈減症不減再加生脈法合前法下之又得黑爛水糞或得小鐵丸硬子之後始漸轉黑垢醬等樣者其症則始輕後重先不渴後反渴先不不燒熱後反大燒熱先舌不黑後反舌黑先唇不焦破後反焦破總之下症先不全現後反下症全現皆藥攻病外達之象也攻陽明伏熱推大黃為第一良將元明粉次之生甘草則宰相安民連餉駕馭將士扶助國脈之大功臣也前所述各樣之糞水皆一層重一層層次甚多險象疊現清水以下皆奇險難治之症多可怕煞人病家醫士多心驚膽戰而予敢守定潤五增水舟之法而收入難能之功者其要訣秘法惟在於脈任壽按愈下之愈覺脈象起有神力鼓指按之愈覺有力雖細弱如無脈按之至筋骨間覺細數有力之一二動下之一二劑反覺有脈者皆可救之症也經歷多年不爽故敢述之以告後學案驗列後此皆陽明熱結當下失下日久遏伏而成之症治之之法總不外乎增液調胃二承氣故細述所下之物以堅後學之心特用藥有重輕加減要貴隨症變化耳）陽明伏熱傳入血分周身血脈皆熱氣旺者發紅疹氣弱者邪深發紫癍（俗名蒲萄瘟症）犀角大青湯合調胃承氣主之氣虛者加北沙參氣旺者發疹加薄荷油三四滴（疹高起而亙手者肺氣旺也癍不高起氣虛者邪陷不能外達反有中凹者有欲爛破者皆危候也如顏色鮮紅不紫黑癍雖大無妨）陽明伏熱發為牙癰牙疳喉疳口臭者胃已腐也增液承氣湯主之（牙癰者輕牙疳者蝕也牙齦紫暗黃白橫延如蠶蝕葉之快喉疳者喉外不腫尚輕重者內外皆腫極危腫者外面宜用針刺出血內需大下大瀉方能挽回如不瀉及不大瀉者有腐胃爛腸爛喉舌鼻流臭涕者涕有紅白黃水而臭由陽明熱傳入腦髓也皆十難救一二之症也僅流黃水湯內加薄荷油五七滴如不嫌麻刺或不覺薄荷辛而反倍加與之）陽明伏熱發為瘡瘍或發為疫痘腰痛甚者增液承氣湯合青蒿龜板煎主之發而未忍痛瘡假愈復變瘡蠱或變為浮腫以上法加薄荷油三中滴主之有疹後發腫有癍後發腫有瘡後發腫者有瘧痢後發腫者其腫與濕腫無異但皮色不黃而紅皮上撫摸之覺毛孔如刺病入覺刺痛稍重則不覺痛有衣角衣邊輕掃之而覺痛者誤作濕腫治之必壞（世醫見腫多作濕腫治之不知浮腫有幾種病因故經歷雜論有浮腫辨法此陽明伏熱變生浮腫者由於熱邪竄入肌肉故也雖腫皮不甚光亮不甚黃白皮內有血色隱於內必稍兼色必有以上伏熱形症即現在不見以上伏熱形症其初病之時必已現過醫者切脈問症必問其初症情形與現在形色參合斷之自無疑惑矣有陽明伏熱之症下已通燥糞已下而忽然紅腫乃內里餘熱外達也再下之見折帶新黃糞則消）</p>
<p>陽明手太陰足少陰伏熱發為下痿皮槁或內作肺痿乾咳引痛或內作腎痿腰痛足痿足皮發宣增液承氣加　龜板雪羹湯主之實者發為熱痹見於手足腿腕肩臂而痛其痛處色微紅前方加忍冬藤桑枝下部加木瓜少許以引經（經曰肺葉焦令人痿肺主皮毛肺熱耗傷津液則毛髮枯槁而不生咳則牽引胸脅痛耗及腎水少腹亦覺牽引抽痛咳則筋骨震有欲咳而不敢咳之熱腰為腎府足為腎司虛則足不能立其足皮發宣者陽明主肌肉故皮肉宣厚如隔布袋搔癢甚則麻宣不仁氣體實者正能捍邪熱故僅見四肢癢痛恐人誤作風寒濕痹痛治故標明痛處皮色微紅有血熱之象或不見紅色以手按之指縫際皮色即現紅紫血印指按處白印是熱傷肌肉脈絡之血的實證據也）</p>
<p>陽明少陰督脈陰蹻伏熱發為筋急拘攣脊強反張腿並不能開膝灣曲而不直增液承氣加龜板犀牛角豬脊髓主之（此條人每以風症目之而不知熱症亦是症也熱入督脈則脊強反張以督脈之陰液被熱所耗也入督脈之　藥多系溫品寒品少有而予於古人無法處恩出一法用大黃以瀉陽明會督脈於頭瀉陽明即所以瀉督脈也豬脊髓鹹寒滋潤以豬為水畜能治火熱即用其督脈以補人督脈之陰液清入督脈之火也脈經曰尺左右彈者陰蹻脈為病動苦少腹拘急而□痛足內攣又曰陰蹻脈為病當下之此腿並不能分開膝曲而不直足陰蹻脈內攣急之證據也其未筋攣以前必有少腹拘急之症即攣之後或反不自覺矣此症雖筋骨拘攣而不知痛下之至知筋痛再下之由小痛至於大痛復下之由大痛日漸減至於不痛而後伸開清其餘熱養其腎陰方漸復若誤作風濕痹症治之易至不救）</p>
<p>陽明伏熱當下失下日久變生外症名曰病移發（其症界乎癰疽之間有初起紅者暈大白粒小紅暈易散大潰亦於平爛敷以陽癰藥則變腐黑紫暗用提膿藥則流水而不得膿更易溫延散大有初起顏色不變漫腫無頭而皮熱愈摸熱肉中脈管青紫色生於手臂腿下者輕生於背股腋胸腹者重難治有內生胃癰外發於胃癰外發於胃腧穴部有內生腸癰而外發於少腹臍腰下者有發於腎腧穴者有發於肺腧穴者皆難救治必須先治內症待內症減而後可顧外症若先閉遏外症邪出之路內必加重不救矣故外用從治法使引熱外出內用勝治法）外貼　（散陰膏和陽膏）能散能斂（增液調胃）承氣湯主之陽明足少陰手太陰伏熱狀似虛癆乾咳或吐白沫（甚則粉紅白沫）夜熱骨蒸飲食不納肌肉消素大肉削脫大骨枯槁皮黑毛槁色如面垢豬膚湯豬腎湯合調胃增液法加龜板主之富者加珍珠燕窩貧者以生雞子代之（陽明與肺腎熱久陰傷津液枯槁則乾咳無痰反咳吐白沫者此沫非濕氣飲水也乃肺腎胃津液被熱邪逼迫而上也甚則紅白相間熱傷血絡肺絡傷破也粉紅色者肺本色也其病必　危夜熱骨蒸陰虛內熱本象也病甚則　熱邪內陷反自不覺蒸熱矣胃陰傷者先食不香難納米飯苦用藥再燥劫其陰遂致亦不能容飲水矣肉消骨立皮黑枯槁如面垢肺主皮毛毛槁皮垢干而棘手邪傷腫汁之症也胃主肌肉大肉即合谷兩臂兩腿之鼠肉也病者無鼠肉胃汁已將竭也大骨枯槁謂骨瘦如柴骨韌鋒露骨孔空陷也腎主骨主髓腎熱已久骨髓枯槁骨衣之油皆耗故大小骨空深陷畢現於外也用　豬膚湯去白（粉蜜）單用豬膚即豬之厚皮也取其鹹寒微甘而多脂膏能除大熱能填補胃汁肺汁骨髓功力最大豬腎湯取豬為水畜位鎮亥方上應室宿得干六之精能生坎水有一六共宗之妙為水畜中之水臟以補人之腎水大有殊功本草不載其能人謂無補益之性但可用以引經而予則以卦理斷之每獨用以為大將而成功收效神妙無比　調胃增液承氣合龜板治病之本也加珍珠者取珠為蚌胎受月華而孕胎成珠月者先天金水之母太陰之精取先天金水之氣以補人先天金水之氣有再造肺腎之功極富者用數錢文武火日夜煎服但煎至水泛白即服珠有光入水再煎煎至無光再換再增但宜吊煎不可沉底力薄者用二三分乳極細以藥湯送下燕窩取其滋潤肺液耳生雞子亦有重造肺腎填補胃汁之功溫水浸熱生吞之象形補形能補入稀汁尤能補肺臟中之蛋白汁不特貧者可用富人亦可兼用之收功更易矣）</p>
<p>陽明少陰伏熱戊癸合化為火發為癉瘧（俗名子母瘧）每日辰巳時大熱午後方　退日晡復大熱天明方退者青蒿二甲煎合增液承氣湯主之（辰巳時血氣注於脾胃時也日晡酉時氣血注於腎經時也世人見病有去來發於二時皆目為子母瘧而不知其時是何經主事其瘧來寒輕熱重或但熱不寒故名曰癉瘧宗內經凡病至其年月日時復發者當下之之旨故主以增液承氣得燥糞下後見新黃折帶糞辰巳時熱方解青蒿二甲煎治少陰伏熱之正劑得熱汗至足心日晡夜熱方解）</p>
<p>陽明少陰伏熱夜間熱甚逼迫津液滯滯下俗名痢疾調胃承氣湯主之日久上嘔下則完穀不化者加白芍龜板阿膠主之（熱痢滯下之症多由於陽明伏熱而成熱邪逼迫腸中脂膏血垢而下腹痛時作時止痛甚則便便後痛減不入少陰夜間不熱一入少陰則夜間熱痛則少腹拘急身不能直故以調胃承氣主之若誤治傷陰燥傷胃汁則舌光無苔而嘔□下則完穀不化此乃邪熱不殺穀非脾土虛無火者此良以腸胃中脂膏刷盡米穀不能兜留故也故加白芍之酸寒以和陰氣合甘草有奠安腸胃之　功龜板鹹寒以勝大熱阿膠填補脂膏令能留存米穀也仍以調胃承氣加味者取寓通於補得燥糞則痢自止矣）</p>
<p>陽明伏熱與足厥陰合病發為胸悶脘痛脅痛（俗名肝胃氣痛）翻胃嘔吐噎膈（俗名痛膈）便溏者調胃承氣加白芍鳥梅花椒主之（結熱在陽明胃脘故胸悶而脘間食入輒脹痛甚得大便則減痛或泄氣則減痛脅痛者厥陰肝絡之血亦受熱邪也肝木上犯胃土故嘔吐世人皆以胃寒胃氣目之以辛溫降氣治之每多反增嘔吐不能納穀勢成隔食之症不知實屬肝胃熱邪上犯所致便結者無　正相好屎非便秘即便溏而細如貓屎甚或如金果條雖便亦不甚多皆腑氣通而不通之證也故主以調胃承所之緩下而加椒梅芍以和肝取甘酸以和胃而降胃之熱結也）</p>
<p>陽明伏熱與兩厥陰衝任帶三脈合病男子疝氣結核便毒（腎囊陰莖兩旁腫大如癰）女子天癸不調或崩或漏或帶下或經不行或妄言妄見如有鬼神依附狀或燒熱體蒸咳嗆消瘦而少腹脹（俗名乾血癆症）加減桃仁承氣湯主之陰液乾涸形消骨立者加增液潤之（此條即內經云二陽之病發心脾有不得隱曲女子不月其傳為息賁風消者死不治之症二陽即兩陽合明陽病發也心脾有不得曲隱謂女子善郁不得遂其隱曲之私心故胸脘不舒飲食少進也其傳為息賁者即胸中當脘處賁起一塊狀如覆杯而熱也風消骨瘦也衝脈麗於陽明任脈與衝脈會合同為血海為月經之源帶脈橫繞於身當帶系之所渾如一帶陽明胃陰虛則帶脈拘急如帶束緊之狀帶脈麗足少陽膽與厥陰肝肝膽熱胃熱則白帶下甚則黃色或赤帶下胞絡為血臟生血發血之源衝任之上游也衝任不通血海瘀熱上犯心胞絡故妄言妄見血多而熱甚妄行則血崩天癸當去而不去欲行而不行行亦不暢為漏血海有瘀熱停滯庸醫再用芎歸等溫通之藥則血中稀汁明汁如水液者耗乾血輸血塊乾涸於內反更不得流行故燒熱骨蒸瘦損之症成矣俗有乾血癆之名惟此因熱瘀而成之症最合名之前相符惜世有其名而無其法予因名悟出治乾血之法必先令乾血變為稀汁方能流行故主以吳氏加減桃仁承氣湯用大黃入衝任陽明以逐熱瘀桃仁助之幹甚者加增液潤之添補血中稀汁合復其流動之流質而後可通行也其病根不過陽明伏熱耳陽明熱解則衝任諸脈絡之血熱自解矣予屢驗有功誰謂內經死症無治法耶</p>
<p>陽明厥陰伏熱發為息賁（　胸中憤起一塊狀如覆杯按之皮愈熱）瘧母硬塊者加減桃仁承氣湯主之（此熱結熱瘀瘧熱痞之治法也瘧母結於脅下熱瘧熱邪歸結之所也）</p>
<p>陽明伏熱吐血鼻衄女子天癸逆行者加滅桃仁承氣湯主之（此血逆熱行治法也）</p>
<p>陽明伏熱當下脈尚滑利痰涎津液多者不可與調胃增液二承氣當以蔞貝承氣湯下之氣實者加枳實氣虛者加北沙參</p>
