<header data-type="book">
<h1>痧疹輯要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>葉霖</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1890">公元1890年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>《周禮》，周公所以治天下者，無一事不備。至於醫師，特令上士為之。下逮於鳥獸，亦有醫。以是知百家技藝，皆聖人之所創制，民生之不可一日無者。其為經綸參贊之功，至矣。今世醫亦有官，而四方之為醫者不少，如史傳紀載，未之或聞。欲求平正通達之醫，亦不數覯。良由學業不精，故斯道日晦。吾友葉君子雨，敏而好學，中年頻遭家難，多誤於庸工之手，慨然有濟世之志。廣搜醫籍，閉戶十年，深造軒岐之奧，著述甚富。昨以《痧疹輯要》一種見示，伏讀再過。其辨證論因，折衷中外，於前人依違附會之說，立為剖斷；而論三焦及同身取寸之義，發前人所未發，尤為名言至理，超軼古今。可謂濟世之書也，可謂傳世之書也。愛付於民，公諸海內，是為序。</p>
<p><u>光緒庚寅暮春之初四明北亭李振霆撰</u></p>

<h1>序</h1>
<p>痧疹一證，漢魏經方不載。唐宋以降，亦未有論及者。前明羅田萬氏，稍稍闡明其義，而語焉不詳，難執為法。近代諸家，間有精論，多散見痘書之末，每與隱疹、時麻淆混，辨證不清，治法多舛，苦無專書故也。余甚憫焉。戊子之冬，寒夜挑燈，涉獵舊籍，不揣固陋，鉤往哲之精華，抉先賢之奧旨，匯而成帙，間附一得之愚，顏之曰《痧疹輯要》。未敢言有功斯世，或於業是科者未必無小補云爾。</p>
<p><u>光緒庚寅春葉霖序於石林書屋</u></p>

<h1>凡例</h1>
<p>一、是書之輯，專論痧疹，其痘、斑、麻、隱等證，未便涉及。惟爛喉丹痧，稍有發明，然亦略而不詳。欲求全義，自有陳耕道《疫痧草》在，故不贅述。</p>
<p>二、治病須明經絡。若經絡不明，如瞽者夜行。而三焦一經，尤為痧疹伏氣第一關鍵。越人以降，或有形，或無形，紛紛聚訟。余不憚瑣褻，以泰西解體諸書，縷晰辨明，使數千年幽晦復明，庶幾長夜一燈，不致暗中摸索。</p>
<p>三、經絡雖明，俞穴難考。漢唐以後，針灸失傳，總緣不辨同身取寸之義，致議論分歧，語多隔膜。余折衷諸家，暢明經旨，泄千餘年失傳之秘，固豆疹之津梁，實針灸之寶筏。</p>
<p>四、清冷淵、消濼二穴，為三焦經脈。泰西引種之說，引其命門伏毒，由經絡外達。此法與牛豆同，倘能推廣行之，亦保嬰之一助也。</p>
<p>五、選錄諸家精論，當以許橡村首屈一指。其餘各有奧義，讀者須細心領會，勿輕看過。</p>
<p>六、論治雖無剩義，惟疑似同異之間，病情百變，臨證之士惝恍無所適從，故選案數十條，各法略備。其間具治病原委，覽者心目豁然。遇證之偶相類者，用之無疑，效可立俟，庶免望洋之嘆。</p>
<p>七、書分四卷。卷分八篇，曰述原，曰引種，曰預防，曰禁忌，曰辨證，曰論治，曰運氣，曰選案。每有一得之愚，附之篇末。高明之士，起而正之，匡其不逮，固鄙人之幸，亦是書之幸也。</p>
<p>八、古人文字，未便割裂。前後之間，難免拉雜。書雖八篇，氣則一貫，讀者參觀互證可也。</p>
<p>九、是書首重暢明醫理，未敢以文害義，其重複蕪雜之誚，知所不免，閱者諒之。</p>

<h1>卷一</h1>

<h2>述原</h2>
<p>錢仲陽曰：小兒在胎十月，食五臟血穢，生下則其毒當出。故瘡疹之狀，皆五臟之液。肝主淚，肺主涕，心主血，脾為裹血。其瘡出有五名：肝為水疱，以淚出如水，其色青（而）小；肺為膿疱，以涕稠濁，色白而大，心為斑，主心血，色赤而小，次於水疱；脾為疹，小次斑瘡，其主裹血，故色赤黃淺也。涕淚出多，故膿疱、水疱皆大；血營於內，所出不多，故斑疹皆小也。病疱者涕淚俱少，譬胞中容水，水去則瘦故也。</p>
<p>始發潮熱，三日以上，熱運入皮膚，即發瘡疹，而不甚多者，熱留膚腠之間故也。潮熱隨藏，出如早食，潮熱不已，為水疱之類也。瘡疹始出之時，五臟證見，惟腎無候，但見平證耳，尻涼、耳涼是也。尻、耳俱屬於腎，其居北方，主冷也。若瘡黑陷，而耳尻反熱者，為逆也。</p>
<p>《聖濟總錄》論曰：小兒稟氣純陽，臟腑蘊熱，自內出外，隨氣熏蒸，散於榮衛肌肉之間，留連內腠，或因飲熱乳，或因遇時疫，熱氣乘其肌肉嫩弱，遂變瘡疹。微者其邪在腑，發為細疹，狀似蚊喙所螫，點點赤色，俗號麩瘡；甚者其邪在臟，發為豆瘡，狀如豌豆，根赤頭白，穴出膿水，俗名疱瘡。皆於未發時，先蒸熱如傷寒狀，頭痛面赤目黃，遍身皆熱，腰背疼痛，小便赤短，大便或溏或澀，煩渴引飲，甚則譫語，其脈浮大洪數者，是其證也。</p>
<p>李東垣曰：夫斑疹始出之證，必先見面燥腮赤，目胞亦赤，呵欠煩悶，乍涼乍熱，咳嗽嚏噴，足梢冷，多睡驚。並瘡疹之證，或生膿胞，或生小紅斑，或生癮疹，此三等不同，何故俱顯上證，而後乃出？蓋以上諸證，皆太陽寒水起於右腎之下，煎熬左腎，足太陽膀胱寒水夾脊逆流，上頭下額，逆手太陽丙火，不得傳導，逆於面上，故顯是證。蓋壬癸寒水，克丙丁熱火故也。諸斑證皆從寒水逆流而作也，醫者當知此理，乃敢用藥。夫胞者一名赤宮，一名丹田，主男子藏精施化，婦人系胞有孕，俱為生化之源，非五行也，非水亦非火。此天地之異名也，象坤土之生萬物也。夫人之始生也，血海始淨，一日二日，精勝其血，則為男子；三日四日五日，血脈已旺，精不勝血，則為女子。二物相搏，長先身生，謂之神，又謂之精。道、釋二門言之，本來面目是也。其子在腹中，十月之間，隨母呼吸。呼吸者，陽氣也，而生動作，滋益精氣。飢則食母血，渴者飲母血，兒隨日長皮肉筋骨血脈。形氣俱足，十月降生。口中尚有惡血，啼聲一發，隨吸而下。此惡血復歸命門胞中，僻於一隅，伏而不發。直至因內傷乳食，濕熱之氣下流，合於腎中，二火交攻，致榮氣不從，逆於肉理，惡血乃發諸斑疹，皆出於膀胱壬水。其瘍後聚肉理，歸於陽明。故三番斑始顯之證，皆足太陽壬膀胱克丙小腸，其始出皆見於面，終歸於陽明肉理，熱化為膿者也。二火熾甚，反勝寒水，遍身俱出，此皆出從足太陽傳變中來也。當外發寒邪，使令消散；內瀉二火，不令交攻其中；令濕氣上歸，復其本位。可一二服立已，仍令小兒以後再無二番斑出之患。此《內經》之法，覽者詳之。</p>
<p>孫東宿曰：麻疹，浙之呼為瘄子，又曰痧子；吳地呼為疹子；新安呼為麻。總為有生初之淫火，伏於命門之間。命門具太極之理，而陰陽五行系焉，臟腑之所由也。蓋五行一陰陽，陰陽一太極也。天之與人，咸相感通。由其通，故天寒而人身寒，天熱而人身熱也。天之癘氣，一動則所稟之毒隨感而發，陽感之則疹出焉，陰感之則痘出焉。陽浮而淺，故疹易出易斂；陰凝而深，故痘難出難痂。陰陽二劫之毒盡出，則向安矣。余故曰：人之出疹出痘，猶蠶之一眠二眠三眠也。痘雖出於陰，而實成於陽，以氣為之固也；疹雖出於陰，而實借於陰，以血為之資也。何見之？痘非氣行則血不附，安得結痂；疹非血濟則氣失依，焉能收斂？斯陰陽升降之理，一開必一闔。血之附氣，氣之依血；陰根於陽，陽根於陰，陰陽互為其根也。前人謂痘出於臟，不知指何臟；疹出於腑，不知指何腑而云之也。又謂疹出心肺，故鼻涕而咳嗽。余謂此皆臆度套詞，而非有真知一定之見也。既曰疹出於腑，心肺獨非臟乎？按《內經》鼻為肺之門戶，通天氣。陽毒上發，熱毒熏蒸。蓋心肺位尊膈上，又肺主毛竅，毒從竅出，是干於肺而非出於肺也。要知痘之與疹，皆出於命門之陰陽也。</p>
<p>霖按：痧疹，古經方不載。宋元以來，諸賢著述率多拉雜。前明羅田萬密齋，始將治法闡明。其論胎毒，在腑在臟，仍屬依樣葫蘆。惟孫文垣命門之論，允為精當。然痧疹之根原雖明，有非關命門伏氣，其形證似是而非者。風隱斑疹之外，又有爛喉丹痧一證，均當詳考，謹列於下，庶免混淆。</p>
<p>風疹初起煩癢，搔之隨手壟起，成片成塊，愈搔愈甚，由脾虛血熱，感風邪而作。治宜調中疏風，不可專用風藥。</p>
<p>隱疹始候，如蚊蚤螫齧，煩癢無頭粒，搔之似腫非腫，隱隱然不發，胖甚則發熱腹痛。此脾有蓄熱，更為風濕所中。治宜消風清熱。較痧疹險證中之皮里隱不同，不可牽混。</p>
<p>按以上二證，即《巢源》所謂邪折於肌，與內熱相搏則為軫；《外臺》所謂赤軫如蚊螫煩癢，搔之重沓壟起。斯即赤白二種之風矢隱軫也。</p>
<p>斑有色點而無顆粒，其狀或如錦文，或如雲霞，撫不澀指，按之暈淺。證有陰陽之別：陽斑色紫點小者，心胞熱也；色紫點大者，胃中熱也。或由溫病，或由傷寒，或是汗後，或是血熱，各有其因。陰斑色淡紅，口不渴，脈不洪。乃伏寒在下，迫其無根失守之火，聚於胸中，上蒸所致。宜各從本病，以決死生。</p>
<p>按《傷寒總病論》曰：冬溫之氣，至春夏而發，肌肉斑斕，隱軫如錦文，俗名麻子瘡。《補亡論》曰：斑形如丹砂小點，又若錦文燦爛。此即熱病之斑軫，與痧麻迥異者也。</p>
<p>麻疹發熱，不拘三四日，以火照之，遍身如塗朱之狀，此將出之兆也。出則細碎，皮紅成片，如蚊蚤螫齧之跡，撫之澀指，按之起暈，是其證也。亦須從面至胸背手足出透，以紅潤為佳。重者身膨脹，眼亦封閉。麻色有赤白微黃不同，只要紅活，最嫌黑陷。麻出面目胸腹稠密，纏鎖咽喉者逆，發不出而喘悶者凶。麻疹與痧疹異處，初見遍身發麻，退後脫皮，而治法亦略同。方書不載，惟《景岳全書》有此論治，宜參考。又有遍身但紅而絕無斑點者，謂之火丹，亦其類也。故痘科中有夾痧、夾麻、夾丹等證，總皆熱毒所致，俱當詳辨也。</p>
<p>按郭白雲所云，焦則退皮，狀如麩片者，即今之麻疹也。</p>
<p>或問：痧、麻二證，一云命門伏毒，一非命門伏毒，抑有說歟？曰：痧疹人人不免，或有未痘之先出者，痘後仍必復出；麻疹則畢世不出者十之八九，患此者不過十之一二。一為伏藏之毒，一為疫癘之氣。以此證之，夫復何疑。</p>
<p>麻疹之外，又有時痧，亦非伏毒，乃寒溫失節，釀為天行時氣，虛人多易感受。邪干經絡，則身熱有汗，咳嗽，神安，口不甚渴，其發始則三五散布，繼則赤焮云密。自發至退，常十餘日。兼有便溏，沙足而便溏止。熱退則胃氣開，病將退矣。治法：身熱咳嗽，痧點未達者，疏解兼以開肺；繼則痧點漸透，達而未足，或兼泄瀉者，仍用疏解，不必止瀉，痧足瀉即止。未足目赤神煩，舌絳脈數者，疏解兼清熱。痧透已足，赤焮云密，脈象數大，舌絳神煩者，清火養液。痧足漸回，熱退胃開，而咳嗽未止者，輕清理肺。其有少陰不藏之人，其氣必虛，感邪亦重，或痧發早回，而躁熱不退；或神機呆倦，腹痛胸滿；或鼻煽氣促；或液涸舌乾；或正虛脈亂。此等惡候，犯之多危。</p>
<p>爛喉丹痧，古人無此證，古書亦無此方。近時患此者，既多且險。總緣風氣寖薄，沴癘之邪，人易感受。初起咽喉腫痛，鼻塞噴嚏，咳嗽胸悶，甚則身痛神呆，脈郁心煩等證。遍身痧點，細碎紅活，有汗者輕；灼熱無汗，肌如紅紙，痧隱成片，不分顆粒者重。若痧色紫滯乾枯，喉爛神昏者，為毒火內陷之險證矣。其論治不外疏達、清化、下奪、救液數法。然次第失宜，流弊無窮。陳靜岩《疫痧草》言之甚詳，最宜詳閱。此證傳染易易，不可不防。王孟英《仁術志》中載有一方：凡見寒溫失序，閭閻有此證時，可用陳白萊菔英及鮮橄欖二味，濃煎當茶恣飲。試之良驗。</p>
<p>按陳靜岩《疫痧草》，論證論治已無剩義。惟辨疫邪所由來一篇，歸本於種痘之餘毒未盡，此臆度之辭，殊不可信。餘留心十餘年，見患是證者，非盡種痘之人；不患是證者，亦非盡出天行痘之人。此其明證。徐靈胎曰：宋時，痘瘡形證治法甚略　近日愈變愈重，與斑疹絕不相類，治亦迥別。因知天下之病，隨時隨地，變化無窮，所以《內經》有五運六氣、異法方宜等論。為醫者苟不能知天運之轉移，及五方之體性，終有偏執之處。此誠通論也。</p>

<h2>引種</h2>
<p>《泰西方鑑》云：種疹法：先於患者發疹最多處部，以鈹針微刺之，急將綿一片，浸取其血。爾後就種者臑上徐徐刺之，令血流漓，凡一刻頃，乃取彼浸血綿貼其疵上，直緊綁之，放置三日許，而後撤去。但要其針疵不深不淺，一適其宜；貼綿間不長不短，惟中其時。</p>
<p>霖按：此即泰西牛痘法也，由清冷淵、消濼等穴引出命門伏毒。痧疹與痘證，雖有氣血之殊，然其理則一。可以擇天時，察人事，較疫癘感召，內外之因齊發者不同。今牛痘業已盛行，未見流弊，醫家病家，可勿疑貳。</p>
<p>又法：取浸血綿一片，插入鼻中，亦能傳染。</p>
<p>霖按：此即中土種痘法也，由此引命門伏毒，由臟腑而肌肉。雖可擇天時，察人事，究未若由經絡引出者為穩。</p>
<p>又法：取患者眼淚，若鼻涕，蘸綿以插入種者鼻內，或貼之皮膚，亦能傳染。</p>
<p>又法：將患者之親近衣，遍摩種者之身體，或著之臑腳，是亦一良法也。</p>
<p>霖按：此兩節閤中西種痘法脫化出者，用涕淚較刺血為尤便。但從經絡引出者為善，由臟腑引出者究未妥當。</p>
<p>凡種疹者，有八益焉。不至陷不治，一也；無其毒侵肺以發咳嗽，二也；雖有餘毒，無侵入眼耳及他要具，三也；比較於天行，則質善而證順，四也；縱發焮腫、大熱、煩悶等，其證大率輕易，五也；天行之疹者，間易至勞狀，至於種者，則決無有其患，六也；病中或發嚏，或多淚，然至疹痂乾燥乃即止，七也；於種痘法則疵瘡膿潰動經久，於此法則其疵速愈，八也。</p>
<p>霖按：手少陽三焦經正脈起於小指次指之端，上出次指間，循手表腕出臂外兩骨間，上貫肘，循臑外上肩，交出足少陽之後，入缺盆，布膻中，散絡心包，下膈，循屬三焦。其清冷淵、消濼二穴，在肘上臑外，正三焦經脈處也。痧痘為命門伏藏胎毒，考命門背𦛗七節間之穴，為相火之宅，心包為相火之臟，三焦則相火之腑也，由三焦經脈處引達命門伏毒，所謂同氣相求，其理顯然，又何瞻顧疑懼之有？</p>
<p>人為三才之一，本與天地相肖。督脈統一身之陽，任脈統一身之陰，此即人身之乾坤，亦即九一二數之相表裡也。肺與大腸屬兌金，胃與脾屬艮土，亦即四六二數之相表裡也。心與小腸屬離火，膀胱與腎屬坎水，亦即三七二數之相表裡也。心包絡、三焦屬震，震陽木，即為相火，膽與肝屬巽木，亦即八二二數之相表裡也。震是陽木，何以為相火？火無體，以木為體。說卦傳謂震為雷，為龍雷之火，豈不象人身之相火乎。不但包絡、三焦是震卦，即右尺命門亦是震卦，人自不察耳。此乾坤六子以配人身之定體。命門為水中真火，先天胎毒伏藏。命門如雷火潛於水底，遇時則發，發即燎原，豈若取同氣之三焦，由經絡外達，不傷臟腑之為善乎。</p>
<p>或問：命門之所以屬震卦，亦有說乎？命門者，背𦛗七節間之穴也。背𦛗二十一節，三七二十一，命門當其七節之間，正猶震卦一陽在二陰之下，其象最肖。此乾坤始交，一陽初動，為生育之根也。前對臍，穴名神闕，猶北極之對南極也。位居水中，其氣則真陽之氣，為水中之火，故為三焦、包絡相火之原。三焦、包絡經脈之流行，皆相火之流行也。命門猶宮舍，經脈猶道路，皆統之於相火，皆可屬之於右尺。而七節間之一陽，其為震卦，不甚顯然哉。痘疹為命門伏毒，由三焦經脈引而外達，其理甚明。恐株守成法者固執不通其變，故不憚反復，再申其義，惟閱者諒之。</p>
<p>昔賢論三焦一府，紛紛聚訟，莫衷一是。或謂無形，或謂有形；或言是一，或言是二。甚則云為腎旁之脂者。雖明如張隱菴，遊移其詞，亦不能指為何物。考臟腑之學，西士言之最詳。觀《全體通考》，三焦即所謂腹包膜也。其膜包繞全腹，上通巔頂，下行膀胱，中有脂膜橫於肝胃之間。惟遮陰道，護子宮，則男女稍異耳。《內經》謂上焦如霧，中焦如漚，下焦如瀆，豈虛語哉。</p>
<p>或問：腹包膜即三焦，亦有證據否？曰：觀其包二腸、遮兩腎，正當七節之間命門部位，既藏水中真火，即為相火之宅。居其位，行其權，此膜即為相火之腑。考心肺之下，肝胃之上，有膈膜一層。其形薄如細網，上與心包絡之下面相連，下與此膜之上層黏續，氣脈通貫，則包絡即為相火之臟。由膈膜上通腦筋，即經所云上焦如霧是也。中有薄膜兩層，包肝裹胃，即經所云中焦如漚是也。繞膀胱，遮陰道，以行其氣化，即經所云下焦如瀆是也。以此證之，腹包膜即三焦，夫復何疑？若求此膜功用，全文自有《通考》在，篇幅有限，故不縷述。</p>
<p>泰西引種痘疹，其法稍有不同。種痘用鈹針挑刺臑外皮及次皮，不令傷肌出血，以痘膿留著皮間。種疹刺令見血，俟血流盡，始將疹血綿貼其疵上。此中有陰陽互根之至理存焉。近人種牛痘，不獨三焦經穴不明，而血附氣、氣依血之義茫然不解，無怪乎每多流弊也。</p>
<p>引種諸書，僉云刺臑外皮，而不言清冷淵、消濼二穴者，蓋嬰兒由肩至肘，長僅四五寸，每種三五粒，則二穴亦在其中，況臑外皆三焦經脈所過之地。然究不若點此二穴引種為善。是經穴之不可不考也。《甲乙》、《銅人明堂》諸經，載清冷淵穴在肘上二寸，伸肘舉臂取之；消濼穴在肩下臂外，開腋斜肘分下胻取之。觀此二穴皆在臑外之證也。</p>
<p>考取腧穴，是針灸家要事。而漢唐以降，針灸失傳，為不明同身取寸之義，僅以患人之中指中節取寸，便為獨得心傳。殊不知瘦人指長而身小，則背腹之橫寸豈不太闊；肥人指短而身長，則背腹之橫寸豈不太狹？有身長指長而頭小者，則頭間之寸豈不嫌長；有身短指短而頭大者，則頭間之寸豈不嫌短？似此肥瘦長短之差訛，安能準的？所謂同身取寸者，必同其身體而取之也。縱觀諸家，惟東醫山崎子政骨度折量一法，深得先聖奧旨。其法以《靈樞·骨度》篇尺寸為主，再量人身尺寸，隨取而折之，自無長短肥瘦之差訛。假如《靈樞·骨度》篇雲肩至肘長一尺七寸，而患人由肩至肘量五寸一分，以三摺合之，所云某穴至某穴一寸者，僅得三分。識此同身取寸之義，明而針灸之，法不致失傳矣。</p>

<h2>預防</h2>
<p>朱丹溪曰：痘疹初出時，或未出時，見時人有患者，宜預服此藥，多者令小，重者令輕。以絲瓜近蒂三寸，連皮、子燒灰存性，為末，砂糖拌勻，干吃。入硃砂末更妙。</p>
<p>霖按：近世所傳稀痧疹方，用經霜老絲瓜一個風乾，除夕日在新瓦上煅灰，攤地出火氣，研末，以百沸湯沖服。每歲如此，服至三四次，云小兒永不患痧疹矣。此亦丹溪之遺法也。</p>
<p>萬密齋曰：春溫、夏暑、秋清、冬寒，此四時之正氣也。冬應寒而反溫，陽氣暴泄，火令早行，人感之者，至於來春，必發瘡疥，未出痘疹者，必感而出。雖曰胎毒，未有不由天行者。故一時傳染，大小相似。但見痘疹之出，宜先服消毒保嬰丹、代天宣化丸，以預解之，可使毒徹，不為已甚也。</p>
<p><u>消毒保嬰丹</u></p>
<p>纏豆藤（或黃豆或綠豆梗上纏繞細紅絲者，是於八月間生氣日採之，陰乾聽用，一兩五錢）　黑大豆（三十粒）　赤小豆（七十粒）　新升麻（七錢五分）　山楂肉（一兩）　荊芥（連穗，五錢）　防風（去蘆，五錢）　當歸（酒洗，五錢）　赤芍藥（七錢五分）　黃連（去枝梗，五錢）　生地黃（酒浸，焙，一兩）　川獨活（五錢）　甘草（生，五錢）　桔梗（五錢）　辰砂（別研，水飛，一兩）　牛蒡子（炒，一兩）　老絲瓜（隔年經霜者二個，取連藤蒂五寸，燒存性）</p>
<p>上一十七味，各研細末，和勻，用淨砂糖拌，丸如李核大，每服一丸，濃煎甘草湯下。</p>
<p><u>代天宣化丸</u></p>
<p>甘草（甲巳年為君土）　黃芩（乙庚年為君金）　黃柏（丙辛年為君水）　山梔（丁壬年為君木）　黃連（戊癸年為君火）　連翹（佐）　山豆根（佐）　牛蒡子（佐）</p>
<p>先視其年所屬者為君，次四味為臣。君藥倍用，臣藥減半，佐視臣又減半。共為極細末。於冬至日修合，取雪水煮升麻汁，打麵糊為丸，辰砂為衣，竹葉煎湯下。</p>
<p>嘉靖甲午春，痘毒流行，病死者十八九，乃一厄也。時有預服三豆子湯、絲瓜辰砂散者，凡方書所載預解痘毒之法，靡不用之，未見效者，余竊思痘疹疫癘之毒，因歲運災眚之變，難以藥解；而人事未盡，又不可諉之天數也。於是檢閱古方，乃於《韓氏醫通》得五瘟丹，以五運為主，喜曰：此解毒神藥也。依方修合，施售於人。但報之者，莫不輕疏，人皆神之。因命之曰代天宣化丸。</p>
<p>張隱菴曰：夫稀痘疹之方法雖多，未有如元兔丸之理甚精微，驗若桴鼓。蓋痘疹乃先天之毒，天一生水，地二生火，水火相濟，陰陽互交，乃水中之火毒也。元乃水天之色；參者參也，參天地之化育者也。菟絲子一名女蘿，《爾雅》名為玉女。蓋兔乃月魄純陰之物，故有玉女之稱。《抱朴子》云：菟絲初生之根，其形如兔握，割其血以和丹藥，立能變化，神異之品也。夫凡物得清涼水土之氣，而後能發芽。兔絲秉純陰之性，故得火暖而絲長。此物理陰陽之妙用也。《內經》云：骨者，至陰也。至陰者，盛水也。肺者，太陰也。少陰者，冬脈也。故其本在腎，其末在肺，皆積水也，是肺腎天水之相通也。（肺屬天。）玄參具水天之性色，能於水中以清發其天花；菟絲有陰陽之妙用，能於至陰之中而透其陽毒。是以嬰兒在百日內，與此丸服之，或服至三歲，則毒盛者稀而毒微者不出矣。即熱毒盛者，亦無險逆之虞。同邑盧子由先生，五十無子，得一種子奇方，即生二男，皆為痘壞。蓋種子方中，不無多熱藥耳。後復生子，皆以玄菟丸服之。至六十有五，連舉六男六女，俱已長成，皆不為痘疹所壞。玄菟之功效，豈淺淺哉。</p>
<p><u>盧氏玄菟丹</u></p>
<p>菟絲子（八兩）　玄參（四兩）</p>
<p>不經鐵器，各為末，砂糖調服。初生者一錢，量加至一兩。葉子容曰：菟絲養先天之水，玄參清腎家之火。一養一清，則痘疹之毒自減。童年久服，不特稀痘，且免癆瘵。</p>
<p>葉子容曰：三豆湯為扁鵲之方。黑歸腎以制相火，赤歸心以制君火，綠歸陽明以制胃火。三豆皆涼品，而寓生髮之意，常服而不嫌其峻烈，功緩而實取其穩便。未出痘疹時，及將出發熱時，皆可服之。</p>
<p><u>三豆湯</u></p>
<p>黑大豆　赤小豆　綠豆（各一升）　生甘草（三兩）</p>
<p>先將三豆淘淨，甘草銼碎。用臘雪水同煮，至豆爛為度。去甘草，取豆曬乾，入汁再浸再曬，以汁盡曬乾。瓷瓶收貯。逐日取一二兩，用長流水兩大鐘，煎成一鍾，面東溫服。或以人中黃易甘草，加入經霜老絲瓜一個同煮，更妙。</p>
<p>霖按：稀痘疹諸方，率多苦寒之品，久服固妨脾胃，將出又恐冰毒。三豆湯一方，平善無弊，然究未若玄菟丹之義精理微，效如桴鼓。惟因疫癘流行，則代天宣化丸又可參因。但避風遠穢，節飲食，適寒暄，為預防之第一義，不可不知也。</p>

<h2>禁忌</h2>

<h2>辨證</h2>
<p>萬密齋曰：凡出疹，熱起至收完，但看右手一指，脈洪大有力，雖有別證，亦不為害。此定存亡之要訣也。</p>
<p>霖按：此即陽證得陽脈之義。若細軟無力，則陽證得陰脈也。景岳以診得陰脈，宜速救元神，用溫補托法，參酌治之，是矣。然有熱毒深伏於內，不能透發於外，假寒真熱之證，肢冷麵青，六脈沉伏細數，若誤用溫補，禍不旋踵。痧疹陽邪，熱證俱多，安危之機，須細心體認也。</p>
<p>痧為陽毒，首先干肺。肺主氣屬金，熱邪傷氣，舌上多見白苔，金之色也，治當清肺。若無虛寒的證，誤治則殺人事矣。不獨痧疹為然，夏日忽患咯血，俗名暑瘵，證亦見白苔，宜清絡熱，同一義也。司命者豈可忽諸！</p>
<p>《瘄疹全書》云：疹之出也，有熱三日而即出者，有熱四五六日而出者，有熱而涼，涼而復熱者，有一日寒熱往來數次而出者，有熱一日涼一日，復涼復熱至五六七日而出者。大抵五日前出者多輕，五日後出者多重；毒少則熱少，毒多則熱多；熱少則早而易出，熱多則遲而難出，大有分別。七日不出，面青鼻煽，喘急生痰，名曰悶瘄，不治。</p>
<p>凡瘄先從肚腹發起，而後及於四肢者順；先從手足發起，而後及於肚腹胸背者逆。</p>
<p>凡瘄於皮膚上發出，成粒者順；以手摸之礙指尖，紅者吉；瘄上重疊起瘄者吉。蓋瘄以起發為上也。</p>
<p>痘後瘄者吉，瘄後痘者凶。蓋痘後出瘄，則腠理疏而毒易出，無形之毒氣易泄也；瘄後出痘，則陰血虧而漿難灌，有形之營血難成也。此言痘後出瘄，因其腠理疏通，毒氣易出，故吉；若瘄後出痘，則一日三潮，三日九潮，往來進退，勞動陰血則血虛，血虛而責其灌漿也，難矣。</p>
<p>痘瘄一齊出者，所謂瘄夾痘也，先治其瘄，而後治其痘。瘄潮一日，忽夾痘苗，所謂瘄噴痘；痘苗初見，忽又夾瘄。所謂痘噴瘄。治宜先發瘄潮，不論痘苗，三日潮完，痘始蒸長。但治痘藥中，必須滋養陰血，切不可用參、耆、甘、芷、朮、桂，溫補之藥，蓋瘄無補陽法也。若痘出一日至四五日內，忽然瘄出痘中，所謂瘄合痘也，發表起痘之藥皆同，瘄發則痘自蒸長。若痘出六七日，內漿未灌，或灌未足，忽然瘄出痘中，所謂痘離瘄也，若助痘漿則瘄悶而難出，若攻瘄潮則痘靨而不漿。既欲其潮，又欲其漿，正所謂陰陽困憊，氣血奔命者是也。證必上喘痰壅，下瀉膿漿，神昏厥逆，百無一生。若痘少兒大，見瘄不失時機，連發瘄潮，痘雖遲滯，至三日潮完，痘復蒸漿回合。以其元氣壯實，等瘄潮完，痘乃自漿自靨而愈。此蓋百中一二也。若痘多兒小，元氣怯弱，至此用補則瘄閉悶，不補則痘癢塌，施治兩難，故曰逆也。若痘至九日，十、十一、十二日後，漿雖回而痂未落，忽然出瘄，所謂瘄趕痘也。治宜微發表，不可大發汗。如喘急無汗而瘄不起者，麻黃亦可權用。如服汗藥皆成水泡，亦不妨。至瘄後復結痂而落，宜多服滋陰養血藥。若痘痂落盡而出瘄者，痘後瘄也。瘄潮已完而痘出者，瘄後痘也。詳見前章。</p>
<p>凡瘄五液兼見者順，二三液不見者逆，一液不見者死。汗為心液，淚為肝液，吐為脾液，涕為肺液，瀉為腎液。瘄發於陽，火毒炎灼；五液皆屬水，水能制火，是以輕也。遍身乾燥，心液竭也；目無眵淚，肝液少也；乾嘔無物，脾液乏也；鼻煽無涕，肺液干也；大便秘結，腎液虧也。五液不全，瘄後必有餘毒。心無液者發熱，肝無液者驚搐，脾無液者牙疳，肺無液者咳嗽，腎無液者下利。五液皆無，不治之證。如少一二液者，當以藥救之。五液以多為妙。</p>
<p>夫瘄之難出也，為有六因，遂成六閉焉。一曰毒閉，因時氣惡厲，毒盛發熱，久不出也。宜挑頂血及手足血，服解毒化毒之藥以發之。二曰肌閉，因兒之肌肉堅厚難出。宜用洗擦刮法，服松肌透表之藥以達之。三曰腸閉，因臟腑熱甚，大便不通，則經絡閉塞難出。宜用導法，服滋陰潤腸之藥以通之。四曰寒閉，因天氣嚴寒，風雪凜冽，致令腠理閉密，血脈凝澀，邪滯難出。用胡荽噴床帳，西河柳燒房中，服麻黃湯以表之。五曰食閉，因將出之時，恣啖飲食，食滯滿閉，胃口停滯，不能運動氣血，而送瘄外出。宜用探吐法、摩熨法，服寬中化食之藥以消之。六曰病閉，因兒有本病，復感時氣出瘄，為本病而滯瘄難出者多矣。如夾食、夾驚、雜疹、雜瘡、損傷、懷妊等證，皆能滯瘄難出。宜照本證兼治之，或從其急者先治之。瘀血喘滿，不得不吐，此先治本病之急。痘漿見瘄，發瘄為先，保元大忌；瘧疾見瘄，治瘄為急，截瘧大凶。此治瘄之急務也。謹此六閉者吉，犯此六閉者凶。</p>
<p>痘瘄皆有皮里隱、皮里疔。夫痘之皮里隱，身體頭面上先見十數點紅紫痘，父母不知，以為痘止此矣。以火照之，皮里隱隱如菜子密布，宛如疥瘡。初出細密，出皮里隱隱成片，皮痘一色，有影無形，此謂皮里隱。亦有身面上不見紅點，神昏煩躁，而成皮里隱者，此謂悶痘，驚搐發喘而死，父母不知其為何病而死也。瘄之皮里隱，神昏厥逆，面青煩躁，氣喘鼻煽，瘄全不見。以火照之，頭面上、皮肉內隱隱有紅點。其頭面皮上，微微有紅光出沒。或如燈光，瞬息即沒，旋有旋無，日有數次。三日不起，必致喘閉而死，父母不知其為何病而死也。此證必須細心辨視確切，急用大劑麻黃救之。若脈洪身熱者，麻黃加石膏湯救之。</p>
<p>痘瘄皆有皮里疔。夫痘瘄未出，或微見標皮肉中有硬塊，或紫或青或黑，摸之礙手，此謂皮里疔也，百無一生。</p>
<p>凡痘瘄之皮里隱，能辨認急治，十中可活一二。若遲延失治，毒氣凝聚，變成皮里疔，便無生理矣。</p>
<p>瘄漸出及正潮時，因風寒不謹，致令腠理閉塞，氣血阻滯，瘄即隱沒者，總名悶瘄也。瘄出二日，因風寒早沒者，證猶稍輕。瘄出一日而早沒者，證必重。隨出隨沒，乃危證也。致令咳嗽喘急，面青鼻煽，痰壅聲嘶，神昏迷悶，身涼無汗，輕者三四日，重者一二日，皆喘急而死。此與皮里隱不同。皮里隱者，瘄疹全未見點，隱隱於皮膚之下，面上如電影燈光，忽來忽沒，人全不知也。若已潮見瘄，因風隱沒，但分一日、二日、三日，輕、重之不同，治法當與早沒之時，急與麻黃髮表湯，兼熏洗、刮擦法。倘得微潮一二次，喘定身溫，方有生機。《金鏡錄》云：痧疹數潮後，見風早沒，未清爽者，宜消食飲加散表之藥。雖不復出，亦尋愈矣。此謂數潮而言也。若止一二潮而早沒者，其變證必凶，急當委曲調治。如一二潮而止，證必凶惡。身體如常，此必有夜潮、腹潮、汗潮，減潮、經潮、產潮之類，不可強與發汗，變生他證。謹按因風早沒之證急治，十全七八。如使遲延，不可救矣。</p>
<p>瘄不收斂，其證有二：一曰血不歸經，一曰血死肌表。瘄疹九潮已完，血回經絡，則頭面身上血跡漸次而退。若紅久不退，即是血不歸經；若血跡變為青紫色，即是血死肌表也。如血不歸經，用解毒清涼、斂陰收血之藥，宜養榮解毒湯。如血死肌表，用活血涼血、溫經解毒之藥。若瘄出三日後不沒者，乃餘毒內實也，宜四物湯加清利之藥，則熱自解而瘄自消矣。若血死肌表，色變青紫黑，久則身熱發腫，其青紫黑色之處從外潰爛，膿水淋漓，痛癢不常，宜服清肌化毒湯，洗以苦參湯，敷以三黃散。若潮止一二次，外冒風寒，隨出隨沒，色變青紫，身冷不爛，必發喘急，不治必死。急宜大發表邪，以麻黃救急湯治之。</p>
<p>婦人經水後五日六日發熱見瘄，則血室空虛，邪氣乘虛入內。重則妄見妄聞，如憑鬼祟，晝則明瞭，夜則譫語，此謂熱入血室；輕則常發夜熱，久成瘄怯。宜服清熱養血之劑，主以加味逍遙散、調經養營丸。必得經調復行，方無後患也。若婦人行經七八日見瘄，或見瘄時即便行經，皆為熱入血室。二者不同，治法亦異。如經盡後見瘄，此熱邪乘虛入內也，令人多發夜熱，或午後面紅身熱，久之則成骨蒸勞熱。治當養血清熱，宜逍遙散。如見瘄時行經，此瘀血蘊結於內也，令人寒熱如瘧，發作有時。治當消瘀敗毒，宜桃仁紅花湯。總以經水復行為第一義也。</p>
<p>李豆仙曰：瘄之出也，氣載之，血送之，達表則粒粒如麻，甚則疊腫，多則成片。一日三潮，從頭而起，漸漸身體，以及四肢，潮時瘄腳粒粒腫起皮上，三日九潮方完。潮則氣送毒從毛竅而散，血留肌表，漸歸經絡，紅點以漸而退。頭面先潮者色先淡，身腹後起者色後退。頭面多者吉，少者凶，色赤者吉，紫黑者凶。</p>
<p>正潮　正潮者，早午晚一日三潮，三日九潮，人盡知也。瘄屬陽，陽從陽類，故不潮於夜之陰，而潮於日之陽，此正潮也。</p>
<p>夜潮　瘄有夜潮，不可不知。蓋瘄本屬陽，然其赤點乃陰血也。男子陽盛，故潮於日之陽；女子陰盛，故潮於夜之陰。有男子夜潮者，氣不足而血有餘也；有女子日潮者，血不足而熱毒盛也。兒出瘄時，為父母者必夜觀之。如不知夜觀，則九潮已過，猶以為未潮；九潮已足，猶以為未足。疏表之藥，發表之物，猶然不徹，有致血不歸經，皮膚腫而色青紫者，有致吐血便血者，有致汗多亡陽者，有致中風發痙者。為父母者不可不知。</p>
<p>腹潮　小兒瘄疹，乃天行熱毒挾少陽相火，蘊蓄於胃。胃主肌肉，故熱毒之邪熏蒸於肌肉，先發熱數日，然後透泄於皮膚，粒粒如蛇咬狀，乃瘄疹也。痘出於五臟，瘄出於六腑。六腑者專指胃腑而言也。既云出於胃腑，何腑臟多受其邪？胃土傳肺金，以前來者為實邪也。胃邪傳肺，是腑傳臟。如毒邪陷伏不出者死，不治矣。有止發於肚腹，而頭面手足一無所見，一日三潮，三日九潮，惟在肚腹，粒粒起綻。緣小兒氣血孱弱，不能周行遍體，故止在肚腹出瘄。發潮瘄根既出，他處雖無，不足慮也。若用重劑取汗，則虛脫之禍立至矣，可不慎哉。</p>
<p>目潮　瘄潮有從眼白珠先紅，頭面隨紅蒸熱，一片通紅，直待潮過熱清，紅色漸退，再潮復然，此陽毒之邪交併於六陽也。六陽皆聚於頭面，瘄毒出於胃腑，運於任脈，交併於六陽，則目睛裹赤，頭面通紅，潮時令人煩躁不寧，甚則不省人事，宜以化毒飲、化斑湯加減治之。</p>
<p>斑潮　斑潮者，瘄發潮時，遍身起雲頭斑也，潮過則退，再潮復然。此胃腑毒熱太甚，壅遏而然，宜以化斑湯加減治之。若潮過不退者，不治之證也。</p>
<p>累潮　累潮者，瘄發潮時，遍身累累如疙瘩狀，潮過稍平，再潮復腫。此熱甚兼風，宜以大連翹飲治之。</p>
<p>隱潮　隱潮者，潮時見赤點於皮膚之上，潮過即沒，毫無點跡，與平人同。此乃血和而毒不甚，故未潮則隱伏於皮膚之中，既潮則發現於皮膚之上矣。若無惡候，宜從輕治，不必重劑。</p>
<p>鬧潮　鬧潮者，瘄發潮時，證見狂亂不寧，甚則譫語，目不識人，潮過則神清如舊，再潮復然。此熱毒蘊於胃臟，宜涼膈散加減以清之。大便秘結，少加大黃以通之，或用導法。蚯蚓酒洗去泥，搗汁，將藥煎好，入蚓汁數匙在內，最妙。口鼻衄血多者，名陽毒瘄也，磨犀角汁入藥最妙。</p>
<p>汗潮　汗潮者，見瘄後止得一二潮，余則早午晚當潮時不見紅點，止見身熱腮紅，江泚泚汗出而已。此因天稟虛弱，陰血不足，或緣病後氣血兩虛，是以微潮一二次，潮亦不盛。萬不可以為潮不足，妄用麻黃重劑，致令汗多亡陽，變生中風、驚風、發痙、發厥之諸危證也，慎之。</p>
<p>減潮　減潮者，不足之潮也。瘄之常例，三日九潮，今止一日三潮者，有二日六潮者，有二三日總計止得四五潮者。此乃瘄毒原輕，或因天行時氣和平。如小兒皮嫩，五液俱全，身安證和者，亦無害也。</p>
<p>劫潮　劫潮者，命在危急，激得一潮，即可回生。瘄疹初出潮時，因風早沒，致令咳嗽痰喘，面青鼻煽，胸膈迷悶，三日已過，危在旦夕。急用麻黃髮表湯，或三酥餅、蟾龍錠、還元復氣丹，劫得微微一潮，瘄毒從汗孔而出，不致內攻矣。若大便膿血，神昏不省者，逆候也。</p>
<p>經潮　經潮者，當分經前經後。凡經後三四日發熱見瘄，此血室空虛，與傷寒熱入血室同。重則潮時妄見妄聞，如有鬼祟，輕則夜熱，久成疳勞。服藥調治，月經復行，則無羌矣，宜用清熱養血之劑。若染時氣，發熱咳嗽噴嚏，三日起至七八日，不論已潮未潮，一遇經行，毒從血化，宜服解毒養血之品。</p>
<p>產潮　產潮者，孕婦發熱，正在潮時，熱極不安，其胎必下，胎下熱退而瘄愈。蓋熱極則傷胎元，胎下則毒從血化，瘄愈竟不潮矣。產後雖有熱象，切勿妄用涼藥，恣食寒物，只宜平調氣血為要。</p>
<p>弄潮　弄潮者，奪先聲也。一日三潮，早午晚熏洗、服藥，必在將潮未潮之先，以激其怒。若已潮過，有何益乎？故瘄將潮時，令兒不得安睡，先熏洗其面，隨洗手足，既飼之以湯飲，隨灌煎藥，更相搬弄，以俟其潮，故謂之弄潮。弄潮兒必啼哭怒泣，則內有以激其氣；更加熏洗刮擦，則外有以助其勢。內外夾攻，瘄無不潮矣。</p>
<p>《保嬰集》云：瘄出潮時，五液俱全，則經絡宣通，無有留邪。若五液不足，各有餘邪也。汗不足則發熱，涕不足為鼻淵，淚不足則為珠管（睛珠起星），吐不足則為牙疳，瀉不足則為腸澼。此皆瘄毒餘邪，當隨證而治之。</p>
<p>《青囊集》云：瘄出之際，為風阻遏，不能全收者，即當服疏散肌表之劑，則瘄疹自退矣。若色變青紫，此熱毒內攻也。攻於脾則嘔吐；攻於胃則不食；攻於肝則筋急，遍身疼痛；攻於心則舌黑麵黑，神昏譫語；攻於肺則喘促，搖頭掣手，甚則鼻塞舌乾唇焦，不省人事。此皆惡候也。如或身熱，小水短赤，神不昏，胸不突，腹不脹，庶或可治也。</p>
<p>《保嬰集》云：肺受毒則脹壅喘急，脾受毒則嘔吐困倦，胃受毒則滿悶不食，肝受毒則目閉不開，心受毒則語言不清，腎受毒則黑陷而不能救矣。</p>
<p>霖按：《瘄疹全書》及李豆仙諸論，治法未淳，然辨證處細針密縷，發前人所未發，學者宜細心參玩也。</p>

<h1>卷二</h1>

<h2>論治（上）</h2>
<p>《聖濟總錄》云：小兒瘡疹審得其證，速疏利臟腑，然亦須詳審。若大便已利，瘡已出者，皆不可疏，亦不可汗。若發其表，則瘡空開泄，更增斑斕。倉公、扁鵲常用油劑、草劑，其法最妙。大率湯劑之用，所以透肌和里，開通中外，使疹毒通快，不致壅瘀，去其邪毒，乃得痊差。然食乳嬰孩與童子瘡疹，治法不同。嬰孩之病，唯宜調節乳母，令氣血清和，乳汁通利，最為要法。若初斷乳兒，則以湯劑和其陰陽，調其榮衛。既差之後，尤宜利其臟腑，以去其餘毒。此治瘡疹大法。</p>
<p><u>紫草湯方</u></p>
<p>治斷乳兒並童兒患疹痘候，初覺多似傷寒，面與四肢俱赤，壯熱頭痛，腰脊疼，足厥冷，眼黃赤，脈浮洪，至數數大不定，小便赤少，大便多秘，才覺四肢、色候及脈俱是疹痘疾，未攻皮毛穴出者，便可以服餌和勻臟腑，疏泄逐下藥。按倉公論云：可服油劑，不可用燥藥並冷藥。若疹已結在皮毛穴處，微微出，即不可疏泄。或疹出太盛，竇穴膿水者，卻可疏利也。或未與疏轉，即急服紫草湯。</p>
<p>紫草二兩，以百沸浸草，用物蓋，勿令泄氣。凡二月至百日孩服半藥注子，五七月兒服一藥注子，一二歲兒服半合，三四歲兒服一合。疹雖出，其勢亦輕，常服無妨。</p>
<p><u>生油湯劑</u></p>
<p>治兒臟腑伏熱，未成疹子，四肢微覺有熱，食物似減，頭髮干直，額上微熱用此方。</p>
<p>生麻油一鍾，令如人體溫，以熱水一小鐘放入油內，不住手攪，令水盡如蜜。夜臥時，二三歲服二蜆殼，五七歲三蜆殼，十歲以上兒三大蜆殼，大人服三合。食良久與服，服了臥時。如三五服後，大小便利，肌熱退，則疹痘不復發也。</p>
<p>霖按：近世所傳，治痧疹發不透而氣喘者，急用芝麻五合，滾水泡之，乘熱熏頭面，即復出，謂有起死回生之功。蓋一由臟腑利毒下行，一由皮毛髮毒外出，用法不同，其義則一。</p>
<p>萬密齋曰：痘疹皆胎毒所發，毒者火也，故痘子大而焮腫者，少陽三焦火也。陽道常饒，故大而腫。疹子小而碎密者，少陰心火也，陰道常乏，故小而密。三焦水穀之道路，脾胃主納水穀，治痘專以脾胃為主。心肺屬陽而位乎上，心火旺則肺受之，治疹專以肺為主，觀其咳嗽者，火炎則肺葉焦舉也。鼻流清涕者，鼻為肺之竅，以火鑠金，而液自流也。目中淚出者，肺熱則移於肝，肝之竅在目也。或手掐眉目唇鼻及面者，肺熱證也。</p>
<p>瘡疹之證，其初發熱，與傷寒相似，但疹子則面頰赤，咳嗽噴嚏，鼻流清涕，目中淚出，呵欠喜睡，或吐瀉，或手掐眉目鼻面。宜用升麻葛根湯，不可作傷寒妄用汗下也。汗之則增其熱，為衄血，為咳血，為口瘡咽痛，為目赤痛，為煩躁，為大小便不通；下之則虛其里，為滑泄，為滯下。經曰：必先歲氣，毋伐天和。言不可妄汗下也。如手足梢微冷，惡寒而無汗，面色青慘而不舒，左額有青紋者，傷寒之熱也；手足梢微溫，發熱有汗，面赤而光者，傷風之熱也，並宜惺惺散發散之。目胞腫而右頰有青筋，發熱而頭額腹肚最甚，或兼嘔吐腹疼者，傷食之熱也，備急丸下之。面色青紅，額正中有紋，手掌心有汗，時作驚惕，手絡脈微動而發熱者，此驚熱也，瀉青丸、牛黃清心丸主之。身熱而倍能食，唇紅頰赤，大小便秘，脅下汗者，此風熱也，宣風散主之。已上諸熱，久而不去，內外感發，則所蘊瘡疹之毒，亦能乘間而出矣。</p>
<p><u>升麻葛根湯</u>　解發痘疹之良方。</p>
<p>葛根　升麻　甘草　白芍藥（各等分）</p>
<p>上銼細，水一盞，煎七分，去滓，溫服無時。</p>
<p><u>惺惺散</u>　解發痘疹良方。</p>
<p>人參　桔梗　甘草（炙）　白茯苓　栝蔞根　白朮（各等分）　細辛（少許）</p>
<p>上為末，每服二錢，水一盞，入薄荷葉五片，煎七分，溫服，不拘時候。（一方有防風、川芎。）</p>
<p><u>備急丸</u></p>
<p>木香（二錢五分）　大黃　牽牛末（各五錢）</p>
<p>上為細末，神麯糊丸，綠豆大，每服五七丸，食前山楂煎湯下。</p>
<p><u>瀉青丸</u>　治肝熱作搐良方。</p>
<p>羌活　大黃（煨）　川芎　當歸　防風　山梔仁　龍膽草（各等分）</p>
<p>上為末，煉蜜和丸，雞頭子大，每服半丸至一丸，竹葉湯同沙糖水化下。</p>
<p><u>牛黃清心丸</u>　治心熱神昏。</p>
<p>牛黃（二分半）　辰砂（一錢五分）　黃連（五錢，生）　鬱金（二錢）　黃芩（三錢）　山梔仁（三錢）</p>
<p>共研細末，臘雪水調麵糊為丸，如黍米大，每服七八丸，燈芯湯送下。</p>
<p><u>宣風散</u>　治黑陷裡實，以代百祥丸、牛李膏。</p>
<p>檳榔（二個）　陳皮（五錢）　甘草（五錢）　牽牛（四兩，用半生半炒，取頭末一兩）</p>
<p>上為末，三二歲蜜湯調下半錢，以上一錢，食前服。</p>
<p>疹喜清涼，痘喜溫暖，此法人皆知之。然疹子初出，亦須和暖則易出。所以發苗之初，只要發出得盡，則毒便解。非若痘必苗而秀，秀而實，而後毒解也。痘子成實之時，若大溫熱，則反潰爛不收，是痘之後亦喜清涼也。故治痘疹者，無過熱，無過寒，溫涼適宜，陰陽自和，是為得之。</p>
<p>疹子只怕不能得出，若出盡則便毒解。故治疹子者，發熱之時，當察時令寒暄，以藥發之如時。大寒以桂枝葛根湯發之；大熱以升麻葛根湯（方見前）。合人參白虎湯發之；不寒不熱，以荊防敗毒散發之。如兼疫癘之氣，以人參敗毒散發之。如盡一劑不出，再作本湯發之。外用胡荽灑，以苧麻蘸酒遍身戛之，務令亟出。如三四作更不出，加腹中脹痛，氣上喘促，昏悶譫妄者，必死證也。</p>
<p><u>桂枝葛根湯</u></p>
<p>桂枝　葛根　升麻　防風　赤芍藥　甘草（各一錢）　</p>
<p>上銼細，加生薑三片，淡豆豉一錢，水一盞，煎至七分，去渣，溫服無時。</p>
<p><u>人參白虎湯</u>（又名化斑湯）　解斑疹良方。</p>
<p>人參（一錢）　知母（三錢）　甘草（一錢）　石膏（五錢）　糯米（一合）</p>
<p>上銼細，水二盞，煎待米熟去渣，溫服無時。</p>
<p><u>荊防敗毒散</u>　疹痘之發散藥也。</p>
<p>荊芥穗　柴胡　甘草　人參　桔梗　川芎　青防風　茯苓　枳殼　前胡　羌活　獨活</p>
<p>上銼細，加薄荷五葉，水一盞，煎七分，去渣溫服。</p>
<p><u>人參敗毒散</u>　解疫癘、發痘疹之良方，又主腰痛，四時通用。</p>
<p>羌活　獨活　前胡　柴胡　川芎　枳殼　茯苓　桔梗　人參（各等分）　甘草（減半）</p>
<p>上銼細，加生薑三葉，水一盞半，煎至一盞，去滓，溫服無時。（一方加薄荷少許）</p>
<p><u>胡荽酒</u>　治倒陷。</p>
<p>胡荽四兩切，以好酒二盞，煎一兩沸，入胡荽，用物蓋定再煎，勿令泄氣。放冷，每吸一兩口微噴，從背至足遍，勿噴頭面。病人常令聞荽氣。</p>
<p>發熱六七日以後，明是疹子，卻不見出，此皮膚堅厚，腠理閉密。又或為風寒襲之，曾有吐利，乃伏也。急用托裡發表之劑，麻黃湯去杏仁，加蟬蛻、升麻。外用胡荽酒（方見前），散麻刮之。如一向未更衣者，毒甚於里，伏而不出，河間涼膈散加牛蒡子主之，發之解之。再不出者，死證也。</p>
<p><u>麻黃湯</u></p>
<p>麻黃　杏仁　甘草（各等分）　石膏（倍用）</p>
<p>上銼細，加臘茶葉一錢，水一盞，煎七分去渣，不拘時服。（一方無石膏，有桑白皮。）</p>
<p><u>河間涼膈散</u>　解痘疹表裡俱熱，純陽無陰之豆。</p>
<p>大黃　朴硝　甘草（各五分）　連翹（一分）　梔子　黃芩　薄荷（各一分半）　淡竹葉（五片）</p>
<p>上銼細，作一服。水一盞，煎八分，去滓，入蜜一匙，和勻服。</p>
<p>疹子初發熱時，未見出現，咳嗽百十聲不已，上氣喘氣，面浮目胞腫，時臥時起，此毒火內蒸，肺葉焦舉，宜甘桔湯合人參白虎湯（方見前）去人參加牛蒡子、薄荷葉主之。</p>
<p><u>甘桔湯</u>　解咽喉之良方。</p>
<p>甘草（二錢）　桔梗（一錢）</p>
<p>上銼細，水一盞，煎七分，去渣，食後溫服。</p>
<p>疹子發熱，或自汗出，或鼻衄者，不須止之，亦發散之義。故汗者，毒從汗散；衄者，毒從衄解。但不可太過。如汗太多，人參白虎湯（方見前）合黃連解毒湯主之；衄太多，玄參地黃湯主之。</p>
<p><u>黃連解毒湯</u>　此解火毒痘疹通用方。</p>
<p>黃連　黃芩　黃柏　梔子（各等分）</p>
<p>上銼細，水一盞半，煎至一盞，去渣，熱服。</p>
<p><u>玄參地黃湯</u>　治痘疹衄血。</p>
<p>玄參　生地黃　牡丹皮　梔子仁（各一錢半）　甘草　升麻（各五分）　白芍藥（一錢）</p>
<p>上銼細，加炒蒲黃半錢，水一盞，煎七分，去渣，溫服。</p>
<p>疹子發熱吐利，純是熱證，不可作寒論，乃火邪內迫。上焦多吐，下焦多利，中焦吐利並多。自利宜黃芩湯。吐利宜黃芩加半夏湯。自利裡急後重者，宜黃連解毒湯（方見前）合天水散主之。</p>
<p><u>黃芩湯</u>　治協熱而利。</p>
<p>黃芩（一錢半）　甘草（炙，一錢）　白芍藥（六錢）</p>
<p>上銼細，加大棗二枚，水一盞，煎七分，食前溫服。</p>
<p><u>黃芩加半夏湯</u></p>
<p>即前黃芩湯加半夏二錢，生薑一錢。</p>
<p><u>天水散</u>　治痘乾燥而痛。</p>
<p>白滑石（四兩）　甘草（一兩）</p>
<p>共為細末，白湯調服。或用塗痘子甚佳，以蜜水調刷之。</p>
<p>痘疹咽痛，亦是常候，乃毒火上熏而痛也，勿作喉痹同論，妄用針刺。喉痹內作癰腫，故宜針決去惡血。痘疹只是咽乾作痛，宜甘桔湯（方見前），加牛蒡子，或射干鼠黏子湯，細細嚥之。</p>
<p><u>射干鼠黏子湯</u>　治咽喉痛。</p>
<p>射干（一兩）　鼠黏子（四兩，炒香）　甘草　升麻（各一兩）</p>
<p>上銼細散，每服二錢，水一盞煎服。</p>
<p>疹子渴喜飲水，純是火邪，肺焦胃干，心火內亢故也。初發熱渴者，升麻葛根湯（方見前）加天花粉、麥門冬。渴甚者人參白虎湯（方見前）合黃連解毒湯（方見前）主之。</p>
<p>痘瘡貴三四次出，謂出勻。瘄疹貴一齊湧出，謂出盡。疹子只要得出便輕減。以火照之，遍身如塗朱之狀，此將出之兆。出形細密與痘瘡密者相似，但疹子隨出隨沒，非若痘子之以漸長大也。出形鮮紅與傷寒發斑相似，但疹子粒粒成瘡，非若斑子皮紅成片如蚊蚤之跡也。</p>
<p>痘疹之色不可同論。大抵痘子怕太紅，皮嫩易破，必生瘙癢；疹子喜通紅，疹發於心，紅者火之正色也。若疹色淡白者，心血不足，養血化斑湯主之。色太紅焰，或微紫者，血熱也；或出太甚者，並宜大青湯主之。黑者死證也。</p>
<p><u>養血化斑湯</u>　治白疹。</p>
<p>當歸身　生地黃　紅花　蟬蛻　人參（各等分）</p>
<p>共銼細，水一盞，姜一片，煎六分，去渣，溫服無時。</p>
<p><u>大青湯</u>　治斑疹火毒良方。</p>
<p>大青　生地黃　玄參　石膏　知母　甘草　木通　地骨皮　荊芥穗（各等分）</p>
<p>共銼細，水一盞，淡竹葉十二片，煎七分，去滓，溫服，不拘時。</p>
<p>疹子出沒常以六時為準。假如子後出，午時即收；午時出者，子時即收。乃陽生陰成，陰生陽成，造化自然之數也。凡此旋出旋收者輕。若一出連綿三四日不收者，乃陽毒太甚，宜大青湯（方見前）解之。逡巡不出者，乃風寒外束，皮膚閉密也，宜荊防敗毒散（方見前）主之。</p>
<p>瘡疹非熱不出。疹子欲出，則遍身發熱，或煩躁，或頭眩，或身拘急。及既出，則身便涼，諸病悉解，此一層疹子隨收矣。如疹子即出，熱甚不減，此毒壅遏，宜大青湯（方見前）解其表。便澀者，以黃連解毒湯（方見前）合人參白虎湯（方見前），或大連翹湯解其里。大便不通者，河間涼膈散（方見前）加牛蒡子。</p>
<p><u>大連翹湯</u>　此解裡熱之良方，痘疹通用。</p>
<p>連翹　防風　瞿麥　荊芥穗　車前子　當歸　柴胡　蟬蛻　赤芍藥　白滑石　木通　黃芩　甘草　山梔子（各五分）</p>
<p>上銼細，加紫草五分，水一盞半，煎至一盞，去渣，食前溫服。（《博愛心鑑》有牛蒡子，名大連翹飲。）</p>
<p>凡疹子只要出得盡，則毒邪解散，正氣和平。如拂拂發熱，煩悶不寧，如蛇在灰，如蚓在塵之狀，或嘔吐，或注泄，此毒邪壅遏，尚未出盡。煩熱者，宜黃連解毒湯（方見前）；嘔泄者，柴胡橘皮湯。並外用胡荽酒（方見前），以苧麻蘸酒遍身戛之。待疹子出盡，則煩熱自去，嘔泄自止矣。</p>
<p><u>柴胡橘皮湯</u></p>
<p>柴胡　橘皮　黃芩　半夏　人參　白茯苓（各等分）</p>
<p>上銼細，加竹茹一團，生薑一片，水一盞，煎七分，去滓，溫服無時。</p>
<p>疹子欲出未出之時，宜早發散，以解其毒，則無餘災。若不預解，使之盡出，以致毒蓄於中，或為壯熱，日久枯瘁，或成驚癇，或為泄利，或咳血喘促，或作疳䘌而死。此雖一時戾氣之染，未有不由於人事之未盡者也。</p>
<p>疹子收後，身有微熱者，此虛熱也。不須施治，待氣血和暢，自然退去。若熱太甚，或日久不減，以柴胡麥門冬散。甚則以黃連解毒湯（方見前）合人參白虎湯（方見前），與前方相間服之。如發枯毛豎，肉消骨立，漸漸羸瘦者，柴胡四物湯主之。</p>
<p><u>柴胡麥門冬散</u></p>
<p>柴胡（五分）　甘草（二分）　麥門冬（八分）　龍膽草（三分）　人參（半錢）　玄參（半錢）</p>
<p>上銼細，水煎服。</p>
<p><u>柴胡四物湯</u>　治疹後餘熱。</p>
<p>柴胡　麥門冬　淡竹葉　當歸身　川芎　生地黃　白芍藥　地骨皮　人參　黃芩　知母</p>
<p>上銼細，水一盞，煎七分，去滓，溫服不拘時。</p>
<p>疹後熱不除，忽作搐者，不可與急驚風同論，用導赤散加人參、麥門冬送服安神丸。小便清者可治，短少者不可治，宜服抱龍丸。</p>
<p><u>導赤散</u>　治心熱發搐。</p>
<p>生地黃　木通　甘草（炙，各等分）</p>
<p>上銼細，加淡竹葉七片，水一盞，煎七分，去渣，溫服。（一方加人參、麥門冬）</p>
<p><u>安神丸</u></p>
<p>當歸身　麥門冬　白茯苓　黃芩　甘草（各半兩）　硃砂（一兩）　龍腦（二分半）</p>
<p>上為末，湯浸蒸餅和獖豬心血搗勻，丸如黍米大，每服十丸，燈芯湯下。</p>
<p><u>抱龍丸</u>（又名琥珀抱龍丸）　治痘驚。</p>
<p>真琥珀　天竺黃　白檀香　白茯苓　人參（各一兩半）　粉草（去節，三錢）　枳殼（麩炒，一兩）　枳實（麩炒，一兩）　辰砂（水飛，五兩）　金箔（一百片，篩）　山藥（炒熟，一兩）　膽星（一兩）</p>
<p>上各取細末，再篩和勻，每藥一兩，取新汲水一兩，重入乳缽內杵勻，丸如彈子大，陰乾，勿用日曬，（曬）則燥裂矣。每服一丸，薄荷葉煎湯化下。</p>
<p>凡疹後牙根黑爛，肉腐血出，臭息沖人者，曰走馬疳，馬鳴散主之。若面頰浮腫，環口青黑，頰漏齒脫，唇崩鼻壞者，死證也。如唇口多瘡，其聲嗄啞者，曰狐惑，以化䘌丸主之。更煩躁昏悶失聲者，死證也。</p>
<p><u>馬鳴散</u>　治走馬疳良方。</p>
<p>人中白（即溺桶底白垢也，以物刮取，用新瓦盛之，火煅過如白鹽乃佳，半兩）　馬鳴退（即蠶蛻紙也，火燒過，二分半）　五倍子（生，一分。另用一分，同礬煅枯）　白礬（二分，捶碎。另取五倍子一分，入礬干內，以火煅枯）</p>
<p>共為細末，用濃米泔浸，洗淨拭乾，以此藥敷之。</p>
<p><u>化䘌丸</u></p>
<p>蜀椒（取開口者，炒去汗，二分）　黃連（半兩）　苦楝根白皮（陰乾，二分）</p>
<p>共為末，用烏梅肥者七個，艾湯浸，去核，搗爛和丸，艾湯下。</p>
<p>疹後泄利日久不已者，曰休息痢。不可妄施澀劑，以成霸功。宜黃芩湯（方見前）合天水散（方見前），與香橘丸相間治之。若嘔吐不能食者，名噤口。更腸滑不止，或下鮮血，或如塵水者，皆死證也。</p>
<p><u>香橘丸</u></p>
<p>木香（半兩）　黃連（一兩，以吳茱萸五錢同炒，去吳茱萸不用）　石蓮子（取肉二錢半）　陳皮（半兩）</p>
<p>上為末，醋調神麯糊為丸，如麻子大。每服二三十丸，陳倉米湯送下。</p>
<p>疹子收後微咳者，此肺氣未平也，不須調治。若咳轉甚，喘氣逆氣，發則連綿不已者，此肺中伏火，金虛葉焦，故咳也，宜人參清膈散主之。身熱者，麥冬清肺湯主之。若咳久不止，面浮目胞腫，胸高而喘，息則聳肩，血自口鼻出，面色青或赤，鼻燥昏悶，搖頭擺手者，皆死證也。</p>
<p><u>人參清膈散</u>　治肺熱鼻乾，涕唾稠黏。</p>
<p>人參　柴胡　當歸　白芍藥　知母　白朮　黃耆（炙）　地骨皮　紫菀　茯苓　甘草　桑白皮　桔梗（各五分）　黃芩（二分半）　滑石（七分半）　石膏（七分）</p>
<p>上銼細，加姜如錢大三片，水一盞，煎七八分，去渣，食後溫服。</p>
<p><u>麥冬清肺湯</u>　治疹後咳嗽不止。</p>
<p>天門冬　麥門冬（各去心）　知母　貝母　杏仁（去皮尖，炒，研）　地骨皮（各等分）</p>
<p>共銼片，水一盞，煎七分，去滓，溫服。</p>
<p>疹家通禁雞、魚、炙、煿、鹽、醋之類。直過七七之後，方可食之。惟宜食淡，不可縱口，致生他疾也。</p>
<p>曾見痘疹收後，動止出入，飲食如常，忽然心腹絞痛而死者，還是元氣怯弱，乘以疫癘之氣，正不能勝邪，邪伏於中，外若無病，內已虧損，故一中而死，謂之中惡。</p>
<p>凡小兒初生未滿月者，遍身紅點，俗呼奶疹者是也。此由胎中受熱，故生下發見於皮膚，不可作時行疹子論，妄用湯劑。蓋臟腑嬌脆，氣血怯弱，不能勝湯丸也，宜用溯源解毒湯與乳母服之。</p>
<p><u>溯源解毒湯</u>　解胎毒之良方。</p>
<p>當歸身　川芎　連翹　人參　白芍藥　生地黃　黃連　甘草（生）　陳皮　木通（各等分）</p>
<p>上銼細，加淡竹葉十片，水一盞，煎半盞，去渣，溫服無時。</p>
<p>凡天行，若病大便硬結，熱留胃中，故發斑，不可以疹子同治，妄用發表之劑，反增危劇。宜用人參白虎湯（方見前）去人參，加大青、玄參、生地黃主之。大便秘者，以三黃丸微利之。</p>
<p><u>三黃丸</u>　解毒，裡實者可用。</p>
<p>黃芩（五錢）　黃連　大黃（各二錢半）</p>
<p>上為細末，雪水搗丸，綠豆大，硃砂為衣，每服五七丸，食前燈芯湯下。</p>
<p>張景岳曰：萬氏治疹，發表之法極盡隨時制宜之善。然發表之義，亦最不易。如營衛不足而疹有不能出者，其證甚多，若徒知發之，而不知滋之，非惟不能發，且恐窮其源矣。如傷寒三表之法，實亦有關於此。</p>
<p>又曰：治疹諸條，皆極詳妥。其中惟瀉喘二證則最多疑似，蓋二證之由疹毒，固當如其治矣。然有不因疹毒，或以脾氣本弱，而過用寒藥，或以誤食生冷，致傷脾胃而為泄瀉者，雖曰由疹而發，然實非疹毒之病。但察其別無熱證熱脈，而兼色白氣餒者，便須速救脾氣。若執謂疹毒，則無不危矣。又如氣喘一證，大有虛實。蓋十喘九虛，若察其本，非火證，又非外邪，或以大瀉，或以大汗而致喘者，必皆氣脫之候。凡此二者，不可不加細察也。</p>
<p>霖按：痧疹一證，宋元以來，雜入痘門。所謂氣血不分，陰陽淆混。萬氏獨闢蠶叢，別開蹊逕，指後學之津梁，拯嬰兒於衽席，厥功甚偉。其論治之精，已無異議。惟相隔幾及四百年，天運轉移，風氣日薄，因時制變，未可拘牽。當師其法，勿泥其方，斯深得其心者矣。</p>
<p>朱濟川曰：夫疹亦胎毒也，比痘稍輕。然中有臟腑之分，發因時氣之擊。（春溫夏熱秋涼冬寒，此四時之正氣也。冬宜寒而反溫，則陽氣發泄太早，至春必發疹也。故經曰：冬居溫暖，春必痘疹。又曰：少陽客臟，則丹疹外發。）證分虛實之異，治有補瀉之殊。然其證之發也，類於傷寒，寒熱頭疼，目淚汪汪，鼻流清涕，嘔吐泄瀉，喘嗽噴嚏，譫妄溺澀，飲食不進，煩躁悶亂，睡臥不寧。此因陽火攻擊，以致毒乘於脾，熱流於心，而干於肺。蓋肺主皮毛，脾主肌肉，疹之出賴二臟以行其毒，惟利於發得透徹，則毒盡出皮膚，內熱自清，則無患矣。所以疹之出，必咳嚏衄血，嘔吐泄瀉也。若其初發，自頭面先見，而至足為齊。頭面淡紅，愈多為佳，其形若芥子細密，其色若桃花紅活，隱見二三番，三四日漸沒。人事安寧，飲食如常，二便清調，此其順也。若亢熱喘急，發不能出，或一出即沒，或冒風沒早，或雖出而紫黑無神，或淡白乾枯，或身肢雖見而頭面不出，及加喘脹胸高肩息，狂言譫語，或口鼻出血，搦手搖頭，尋衣摸床，飲食不進，噦惡便秘，口出屍氣，此皆不治。若喘嗽煩悶，睡臥不安，二便堅閉，飲食不進，疹雖出而紫滯，乃毒火熾盛，治宜清解為主。若疹雖透而色淡白，乾咳不續，減食便溏，精神疲倦，乃中氣不足，宜固中氣而兼清肺為主。一有正氣不足，不能逐邪外出，致毒伏於內，喘脹而死，俗名悶疹也。間有風寒外襲，閉其腠理，或飲食停滯而氣道窒塞，以致疹不易出。治宜疏利為主。論曰：微汗而邪無蓄，便清而毒無壅。且如腸胃結而疏利弗緩，腠理窒而發散毋遲。衄血而邪從衄解，利下而毒以利松。咽喉腫痛，降火為急；煩渴不已，解毒為先。飲食減常須救胃，語言譫妄必清心。時令冷兮投辛熱，時令涼兮用辛溫。時令既溫，辛涼無阻；時方炎熱，辛寒可施。故曰：必先歲氣，毋伐天和。</p>
<p>治疹之要，先宜解散為主。解散則皮膚通暢，腠理開豁，則毒盡透解，則無餘邪之為後災。若不知解散，或藥誤溫寒，或坐視犯禁，使邪不盡泄，留蓄於中，變證百出。或煩躁悶亂，瀉利失血，目赤口疳，不食便秘，喉痛聲啞，喘嗽痰涎，疔癰瘡腫等證見矣。古人曰：治別虛實，法宜變通。所謂活潑潑地，是神術也。</p>
<p>今人以疹為輕，不能調護，乃為風寒外束，及為生冷內傷，郁遏毒氣而不得外達，欲出不出，或一出即沒，反毒內攻，噬臍何及。醫者亦以為易治，孟浪用藥而不知禁，往往誤人，不為已咎也，可痛可惜。</p>
<p>疹之出有中腑之正疹，有風寒發疹，有厲毒發疹，有內傷發疹，不可不辨。然中腑之正疹者，辛涼而發之。風寒發疹者，辛溫而汗之。厲毒發疹者，辛寒而清之。內傷發疹者，苦平而利之也。</p>
<p>凡疹之出，雖先以發散為貴，若表實不易透，或風寒壅遏者，發解可也；若表虛自汗，疹毒易出而妄投之，豈免虛虛之禍乎？臨疹當辨虛實，不同一治。</p>
<p>凡出疹首尾，慎不可用燥悍之藥者，蓋疹從肺始，肺屬金而西兌勝燥之方，性勇悍而少柔，喜清潤而畏燥烈，故曰疹要清涼。投清涼則升，用燥烈則𤷉（𤷉音吉，氣急也）。倘不得已，而用麻黃、桑皮等性燥之藥，必蜜炒，再加性潤之藥佐之，以折其悍氣則可矣。若誤用之，則金愈燥烈，譬猶滔天之焰，復添以油，豈有不斃之理哉？</p>
<p>孫東宿曰：痧疹咳嗽喘急，每用痘門中大、小無比散，每服五七分，大者一錢，即刻喘定，而睡醒後神安氣和而愈。屢用屢驗。乃引熱毒從小便出也。</p>
<p><u>大無比散</u>　治熱毒大甚，驚狂譫語引飲，豆瘡紅紫黑陷。</p>
<p>桂府滑石（飛過，六兩）　粉草（一兩）　辰砂（飛，三錢）　雄黃（飛，一錢）</p>
<p>上末，每三五歲服一錢，十歲服二錢。發熱之初用敗毒散調下亦能稀豆。若報豆後，用燈芯湯下。</p>
<p><u>小無比散</u>　治痘壯熱口渴，小水澀，大便秘，口氣熱，煩躁不寧，或焦紫或紅斑。自發熱至起壯時有熱者，皆可用。痘後餘熱亦可用。</p>
<p>桂府滑石（飛過，六兩）　石膏（飛過，一兩）　粉草　寒水石（各五錢）　鬱金（蟬肚小者，甘草湯煮，干為末，七錢）</p>
<p>上俱制淨末和勻，每五歲者服二錢，大人再加。冬月燈芯湯下。夏月井水調下。熱甚不解者，井水磨犀角汁調下。若紅紫頂陷不起，加穿山甲末一分，麝香半分，紫草煎湯，加酒一二匙調下即起。</p>
<p>王肯堂曰：萬氏云，疹屬少陰心火，心火旺則刑肺金，治疹專以肺為主。按：既是心火刑肺金，即是賊邪，其證當重，何反輕於痘？余每治痧疹，但據見證，以瀉白散加減，大劑投之即至，危困之證無不愈者。其他時師用苦寒降火，辛溫發表，而頻於危亡者，不可勝數，安在其為心火刑肺也。</p>
<p><u>瀉白消毒散</u></p>
<p>桔梗　甘草（各一錢）　浮萍（曬乾，二錢）　牛蒡子（炒研）　荊芥穗（各一錢半）　桑白皮　地骨皮（二味自採鮮者，各三錢）</p>
<p>上為粗末，每服三五錢，水一盞，煎六分，濾清服。</p>
<p>霖按：疹因伏氣熱邪干肺者，此方有散瀉肺熱，保定肺氣之功。若疹因外感風寒所閉，誠有如吳鞠通所論戀定邪氣之禍，臨證之士不可不慎也。</p>
<p>聶久吾曰：痧疹形如沙，痘疹形如豆，皆象其形而名之也。沙痘俱胎毒，而痘出五臟，臟屬陰，陰主閉藏，其毒深而難皆；痧出六腑，腑屬陽，陽主發散，其毒淺而易散。臟陰多虛寒，故痘可溫補；腑陽多實熱，故痧宜解散。然痧雖屬腑，而其熱毒之氣上蒸於肺，肺主皮毛，實受其毒，是以發熱之初雖似傷寒，而肺家見證獨多：咳嗽噴嚏，鼻流清涕，眼胞腫，眼淚汪汪，面腫腮赤是也。治之之法，惟在宣發其毒，以盡出之於外。雖紅腫之甚，狀如漆瘡，亦不足慮，以其既發於外，即可免內攻，不若痘家之必顧其收結也。此證若調治得法，十可十全；而調治失宜，則殺人亦如反掌。</p>
<p>痧疹初發熱，欲出未出時，宜用宣毒發表湯。</p>
<p><u>宣毒發表湯</u></p>
<p>升麻（八分）　葛根（八分）　桔梗　防風（去蘆。各五分）　荊芥　薄荷　甘草（各三分）　牛蒡子（炒香研細）　前胡　枳殼（炒）　木通　連翹（去心蒂，研碎）　淡竹葉（各六分）</p>
<p>天氣大熱加炒黃芩八分，大寒加蜜炙麻黃八分。</p>
<p>霖按：前論天氣大寒，只宜置之燠室，謹避風寒，且天氣雖寒，而人身之熱毒未必減云云。此因天氣大寒，即加麻黃，何矛盾之甚耶？愚意審因寒閉，麻黃不可不加。若體質素弱，不能送毒外達，非獨麻黃不可誤用，即升散太過，肺氣大泄，而煩喘危殆者，余見多矣。宜於升散劑中重加玄參，滋水解毒，以啟發腎氣，庶免虛虛之禍。斯臨證之工，最當詳察者也。</p>
<p>痧已出而紅腫大甚；宜用化毒清表湯。</p>
<p><u>化毒清表湯</u></p>
<p>連翹　黃連　地骨皮　葛根　牛蒡（炒香，研細）　黃芩　知母　天花粉　山梔（炒）　玄參（各八分）　桔梗　前胡　木通（各六分）　甘草　薄荷　防風（各三分）</p>
<p>口渴加麥門冬（去心一錢），白石膏（煅研三錢），大便澀加酒炒大黃一錢（二分）。</p>
<p>有毒氣流注而成痢者，宜用清熱導滯湯。</p>
<p><u>清熱導滯湯</u></p>
<p>黃連　條芩　白芍　枳殼（炒）　山楂肉（各一錢）　厚朴（去皮，薑汁炒）　青皮　檳榔（各六分）　牛蒡子　當歸　甘草　連翹（各五分）</p>
<p>紅多者加紅花三分、地榆五分，秘澀甚者加酒炒大黃一錢二分。</p>
<p>孟介石曰：痧疹屬肺屬火，系稟胎毒蘊積本經，亦因感歲氣而出，發熱五七日方得見形。初時咳嗽涕淚，目如含水之狀，身體微汗潮潤，則出最輕，若氣喘鼻乾作嘔驚狂者最重。初見如芥子如米尖，再後成片，紅色者輕，紫色者險，黑色者逆，不可視為泛常。死生雖由天命，豈可用藥失序，致令夭亡。務宜辨寒虛實，察毒氣淺深，庶人事始盡也。大抵初發熱時，必當微表，見形即宜清涼。一種初起眼白赤紅，聲啞唇腫作渴，腰痛腹脹，人事不清，口鼻出血，煩亂狂叫不安，閉塞不出，即大凶候也。服大劑清涼解毒藥後，若能現出者，或可得生。鼻內流血者重，口內流血者毒尤重。又一種初時失於清解，過於發熱，以致後來元氣虛弱，毒氣停內，口鼻出血腥臭，骨瘦不堪，或生牙疳，身熱不退，終成壞證，不可不慎。此證日出三次，三日九次為順。總宜出透，毒氣得淨，即無他患。一種奶痧風疹，此類感風熱而出，乃皮膚小疾，服疏風清熱之藥即愈，不在此痧疹中論也。</p>
<p>痧疹與痘瘡不同，未見形並初見形時微表或可，如太過則胃氣受傷，反令停毒攻肺，生痰作喘，以致閉塞難現。若服發表藥而不出者，此熱結在內，速宜清涼行利，則肺竅清而毛孔易開，痧疹乃現。今之愚夫愚婦，表痧痘多用櫻桃、荔枝核、蔥頭等物。不知此數種性熱，大不相宜。輕者服之轉重，重者變逆。惟發表時只宜羌活、荊芥少加一二味，兼佐以連翹、牛蒡子、觀音柳、紫草、石膏。此種實為專司發痧之藥，其性雖涼，而能通肺達表，故不可少。</p>
<p>一種痧疹初起，四肢逆冷，乃火極似水之故，不可妄投熱藥。宜當利下清涼，痧現自然漸和也。</p>
<p>痧疹吐蟲解蟲，皆系熱盛。大約吐者重，而解者輕。用藥以清熱為主，如黃芩、梔子、丹皮。若吐蟲解蟲在出痧之後者，可加烏梅一二，痧前則忌。</p>
<p>痧疹前後瀉利，不宜用藥速止。如瀉黃紅色，乃內有伏熱，加黃連、黃芩、車前子可也。</p>
<p>痧疹後眼目赤紅者，當用生地、菊花、決明子、蒺藜、歸尾、柴胡、紅花等味。一種痧後面色青白，骨瘦不堪，元氣損傷，肝脾血少成痞，眼懶睜畏明，似害非害，宜服健脾肥兒丸，或服六味地黃丸，庶可漸愈。一切疏風治眼之藥，萬不可妄投。不但痧後當如此，凡小兒病後失調成疳疾痞眼者，俱當如此醫治，養血健脾為主。倘大便泄瀉稀白水者，歸脾湯、補中益氣湯對證要藥也。若瀉黃水者，則又在熱論，即不宜服此。</p>
<p>痧疹發熱二三日或四五日末見形，疑似之間，用防風發表湯。</p>
<p><u>防風發表湯</u></p>
<p>防風（五分）　乾葛（八分）　紅花（三分）　枳殼（七分，炒）　甘草（五分）　桔梗（八分）　蘇梗（六分）　川芎（五分）　荊芥（六分）　當歸（六分）　陳皮（六分）　杏仁（一錢，炒）　山楂肉（二錢）</p>
<p>白水煎。</p>
<p>朱純嘏曰；可去陳皮，加牛蒡子七分、連翹殼五分。</p>
<p>痧疹見形一二日，內服解毒快斑湯。</p>
<p><u>解毒快斑湯</u>　托表涼解，活血化毒。</p>
<p>連翹（七分）　荊芥（六分）　防風（六分）　牛蒡子（六分）　生地（二錢）　蟬蛻（三枚）　歸尾（六分）　山楂肉（二錢）　桔梗（八分）　川芎（五分）　乾葛（八分）　黃芩（八分，酒炒）　紫草（八分）</p>
<p>白水煎，或加觀音柳五分。</p>
<p>朱純嘏曰：此方可用，再加生犀角磨汁和藥同服更好。</p>
<p>痧疹見形二三日內，色紅煩躁，出不透快，宜服竹葉石膏湯。</p>
<p><u>竹葉石膏湯</u></p>
<p>竹葉（三片）　紅花（三分）　生地（二錢）　煅石膏（三錢）　花粉（八分）　陳皮（五分）　甘草（五分）　黃連（五分，微炒）　殭蠶（五條）　連翹（六分）　玄參（一錢）　牛蒡子（六分）　桑皮（一錢）</p>
<p>如大便不解，加生大黃二錢，再不解即加玄明粉二錢，惟熱毒重盛者方可。如瀉紅水或作煩渴，亦加大黃。</p>
<p>痧疹四五六日回時，尚有餘毒留於肺胃，咳嗽氣粗，外熱不退者，服清肺飲。</p>
<p><u>清肺飲</u></p>
<p>竹葉（二片）　生地（二錢）　柴胡（六分）　麥冬（一錢）　玄參（一錢）　桔梗（八分）　殭蠶（五條）　甘草（五分）　陳皮（六分）　黃芩（八分）　歸尾（八分）　知母（八分）　石膏（二錢）</p>
<p>白水煎。</p>
<p>朱純嘏曰：此方可用，引加燈芯五尺同煎服。</p>
<p>痧後面色青白，唇淡氣弱，宜服調元健脾保肺湯。</p>
<p><u>調元健脾保肺湯</u>　並治痧後瘦弱成疳疾。</p>
<p>黃耆　白茯　丹皮　陳皮　沙參　白芍（酒炒）　人參　當歸　百合　甘草</p>
<p>如大便不實，瀉白色者，加木香、白朮；如瀉黃色，加酒炒黃芩、車前子、黃連。</p>
<p>朱純嘏曰：此方宜加薏米、麥冬、建蓮肉同煎服。</p>
<p>痧後痢疾下紅白，乃肺經餘毒流注大腸，或飲食失調，宜服健脾解毒湯。</p>
<p><u>健脾解毒湯</u></p>
<p>炒黃連（七分）　澤瀉（八分）　山藥（八分）　甘草（五分）　炒扁豆（一錢五分）　白芍（酒炒，六分）　茯苓（八分）　木香（一分）　山楂肉（一錢）　丹皮（七分）　白朮（七分，炒）　陳皮（五分）</p>
<p>如無黃連，加蜜水炒黃柏亦可。身體虛弱，面青唇白加沙參三分，晚米二錢。</p>
<p>痧後口瘡牙疳等患，宜服清胃敗毒湯。</p>
<p><u>清胃敗毒湯</u></p>
<p>殭蠶　丹皮　甘草　生地　連翹　桑皮　沙參　茯苓　黃柏（蜜炒）　銀花</p>
<p>如體虛加白朮。</p>
<p>朱純嘏曰：此方不敢遽以為是。</p>
<p>痧後口瘡牙疳，宜搽救苦散。</p>
<p><u>救苦散</u></p>
<p>人中白（五錢，煅）　飛青黛（二分）　冰片（一分）　殭蠶（一錢）　寒水石（井水飛細，三錢）</p>
<p>共為細末，先以苦茶拭口隨搽。此藥富貴之家加牛黃二分研入，其效更速。</p>
<p>朱純嘏曰：此方輕證亦頗有驗，重證恐未必能奏全功也。</p>
<p>痧疹咽喉腫痛，不拘初起回後，用二聖散。</p>
<p><u>二聖散</u></p>
<p>苦參（三錢）　白殭蠶（二錢）</p>
<p>共為細末吹入。</p>
<p>有一種痧痘大吐大瀉而後見者，甚輕，與作惡心乾嘔者不同，用藥微表和平安胃為主，宜服和中湯。</p>
<p><u>和中湯</u></p>
<p>歸身（七分）　陳皮（五分）　甘草（五分）　白朮（八分，炒）　柴胡（六分）　防風（六分）　白茯（七分）　白芍（酒炒，六分）　乾葛（八分）　丹皮（五分）　桔梗（七分）</p>
<p>白水煎。</p>
<p>有種病後瘦弱唇白氣虛，感時氣出痧疹者，宜服加味逍遙散。</p>
<p><u>加味逍遙散</u>　體弱氣虛，痧出白色，少紅活者，俱可服。</p>
<p>薄荷　白茯　歸身　炒白朮　丹皮　陳皮　柴胡　炒白芍　麥冬　甘草　乾葛</p>
<p>白水煎。</p>
<p>痧疹不拘前後，痰多咳嗽，有風有熱者，俱宜服抱龍丸。</p>
<p><u>抱龍丸</u></p>
<p>鉤藤（一兩）　桔梗（二兩）　天麻（二兩）　陳膽星（四兩）　陳皮（一兩）　薄荷（一兩）　殭蠶（五錢）　川貝母（一兩，去心）　升麻（五錢）</p>
<p>共為極細末，煉蜜成丸，如彈子大，硃砂為衣。乳孩每服半丸，大者每服一丸，白滾水下。若外感風邪，用防風五分煎湯調下。若內熱，用竹葉湯調下。</p>
<p>痧疹咳嗽，氣喘唇紅，結熱在內，煩躁不安，口鼻出血，不拘前後俱宜服犀角解毒化痰清火丸。</p>
<p><u>犀角解毒化痰清火丸</u></p>
<p>歸尾（八錢）　連翹（一兩）　赤芍（六錢）　生犀角（一兩）　生地（二兩）　丹皮（一兩）　紫草（一兩）　牛蒡子（三錢）　花粉（一兩）　黃連（三錢）　薄荷　川貝母（一兩，去心）　甘草梢（一兩）</p>
<p>共為細末，煉蜜成丸，如彈子大，每服一丸，竹葉湯化下。犀杯不入藥。</p>
<p>痧後失調，體瘦氣弱，或成疳疾，或泄瀉等證，宜服健脾肥兒丸。</p>
<p><u>健脾肥兒丸</u></p>
<p>人參（三錢）　黃耆（一兩，蜜炙）　炒神麯（二兩）　扁豆（一兩，炒）　白朮（一兩）　甘草（六錢）　生黃連（三錢）　山楂肉（二兩）　陳皮（五錢）　白芍（六錢，炒）　當歸身（八錢）　橘紅（五錢）　白茯苓（一兩）　山藥（一兩）　地骨皮（六錢）　百合（八錢）　</p>
<p>共為細末，煉蜜成丸，如彈子大。每食遠白滾水下一丸。不用人參亦可。</p>
<p>朱純嘏曰：凡蜜丸俱忌食蔥。</p>
<p>痧後咳嗽，內熱不清，心神慌亂，夜臥不安，脾虛，或生瘡疥，宜服天真膏。</p>
<p><u>天真膏</u></p>
<p>生苡仁　麥冬（去心）　玄參　沙參　生地　生黃耆　桑皮（各四兩）　丹皮　茯神　當歸　白茯苓　炒棗仁　紫菀　橘紅（各二兩）</p>
<p>取長流水，用砂鍋，桑柴文武火熬成珠，上好白蜜收成，盛瓷器內。每服三五茶匙，白滾水調服。</p>
<p>霖按：聶氏三方，已得要領。孟氏治法較備，然亦不能出其範圍。但兩家皆為近世所宗，並錄之以作後學楷式。</p>
<p>張隱菴曰：痘乃先天之毒，疹屬後天之邪，先天止有水火，後天始備五行。產下發聲吮乳，肇自後天，是以發聲之時，口中有毒即嚥下，而歸於陽明。故瘄之毒氣發於陽明，上達於肺，出於皮毛，肺主氣而外合皮毛。是以痘毒走於血分，而氣以化之為順；瘄毒走於氣分，而血以和之為順。若走於血分而見雲頭紫赤斑者，逆也。瘄乃氣分之毒，更速於痘。若停留於胃，則爛牙齦；阻滯在肺，則為鼻煽喘急。發表疏里，清熱解毒，事在良醫之臨證妙用者也。夫氣為陽，血為陰。痘乃精血中毒，故應四時之生長收藏，以合地支之數。瘄乃氣分之毒，是以一日三烹，三而三之，以應陽九之終。痘發於陰，故宜頭面稀疏，不喜獨參陽位；瘄發於陽，故喜大烹頭面，不宜惟在心胸。此人之陰陽血氣，應天地自然之道也。</p>
<p><u>治瘄主方</u></p>
<p>葛根　桔梗　荊芥　牛蒡子　防風　杏仁　甘草　橘皮</p>
<p>上方用泉水煎服，再隨四時之氣而加減用之。如寒閉者，宜麻黃。熱閉者，宜石膏。食閉者，宜枳樸、山楂。熱甚者，加黃芩、黃連。毒甚者，加白花地丁、西河柳。渴者加知母。喘者倍杏仁。裡實者加葶藶、牽牛。蓋痘疹有血氣之分，而用藥亦宜分別。如大黃、大戟，血分之瀉藥也；葶藶、牽牛，氣分之瀉藥也。黃連形壘如連珠，瀉心火之藥也；黃芩外肌皮而內腐空，故名空腸，又名腐腸，乃瀉肺而清肌表之藥也。肺主氣而心主血，故清痘之熱毒，宜以連為君，而芩為佐；清瘄之熱毒，宜以芩為君，而連佐之。又如金銀花，花開黃白，藤名忍冬，能啟陰氣而解氣分、血分之熱毒，蓋黃走血而白走氣也，故解痘毒者宜之，而瘄毒亦可。若夫白花地丁，又專於瘄證者也。此用藥之大關目，學者引伸觸類，微妙無窮。</p>
<p>霖按：張氏論治處方，皆極精妙。用藥辨別氣血，尤具卓識。惟述原蹤前人之誤，云痧疹為後天胎血咽入之毒，亦智者之一失也。余長子坤生即悶絕，經時始蘇，穩婆將口中穢血拭去，咸謂必無痧痘之險，比長，痘出雖稀，痧疹頗重，年二十死於瘵。始信古人之言，未可深泥。</p>
<p>章虛谷論痘疹之源，謂痘為先天之毒，成於父母媾精之初；疹屬後天。兒在胎時，呼吸之息，不由口鼻，惟一縷臍帶通於子宮，與母呼吸相貫。父母不能節欲，欲火即由臍帶中隨兒闔闢之息而入。吸由於腎，腎主閉藏，故毒蘊於腎臟也。此說似覺近理。但痘疹同是命門伏毒，感於陰，則發痘；感於陽，則發疹。陰主血，以氣為固；陽主氣，藉血為資。此中陰陽互根之至理在焉。然雖云伏毒，亦必待六氣之火相激而動。其痘疹多發於子午卯酉之年者，為少陰君火，司天在泉故也。蓋人身命門伏藏之火，與司天在泉之火相搏激而後發。試觀極北之蒙古不發痘疹，曷何故歟？乃寒水凝結之鄉，君火之令不行耳。《肘後》論言痘疹名虜瘡，為馬伏波徵南所染，傳入中國。南位離火，得氣最先，固是天運之轉移，而六氣之火相引人身之火，昭然可證，又何必紛紛臆度哉！</p>
<p>高士宗曰：瘄猶錯也，皮膚甲錯之謂也。俗名曰瘄，實系疹也。紅點隱隱，謂之隱疹。疹之根源，乃毫毛之內，皮腠之間，因於寒致血凝澀，其凝澀之血散發於皮膚之外，則發而為疹。蓋人身通體毫毛之氣，肺所主也。毫毛之內，腠理之外，則秉胞中之血，熱肉充膚，淡滲皮毛，肝所主也。皮膚寒而血凝澀，始焉凝澀，繼欲流通，則發熱咳嗽，散而發疹。疹之發也，有稀少，有稠密。極稀少者，不過數點，以及數十點；極稠密者，則周身頭面無有空隙。醫者不知其故，見有數點，即行攻發。若皮膚肌腠之間果有凝澀，則發熱咳嗽，自當湧出。其不能即出者，非肌肉不和，即氣虛不振。治之之法，當以紅花、歸、芎、荊、柴、羌、丹之劑，和其肌表；或以桂枝、耆、朮、歸、芍、苓、甘之劑，助其氣虛。若概以蘇、麻、前、杏、芩、連、石膏之劑投之，其氣虛不出者，此為虛其原本，本自稀少者。此為無故受賊，非惟疹不能出，其經脈表裡受虧，致身大熱而喘急生。愈熱愈表，愈喘愈發，輕者重，重者死矣。蓋痘之發也，見有一二點，其勢必出；疹之發也，見有一二點，可出可不出。若肌表果有凝澀之疹，則身熱咳嗽，其勢自出。若無疹則止，此數點不能再增。善治者明乎此理，不行攻發，但調其經絡，和其榮衛，虛者補之，寒者溫之，則熱退身安而愈。無奈矇昧不明，當疹毒盛行之時，見有數點即行攻發，轉攻轉劇，愈發愈危，必致真臟虛敗而死，真可痛耳。夫痘毒起於腎，不從經脈而出，為腎經痘，雖有良醫，不能挽回。若疹則其根源在於肌腠皮膚，膚腠之血根於胞中血海，膚腠寒而胞血稽遲，則有疹毒之證。得其源而活法以治，或聽其自然而不加妄治，百無一死也。</p>
<p>霖按：痧疹陽毒，治宜清解。間有賦質孱弱，或為苦寒過劑，不得不用溫托，作補偏救弊計，然亦千百中僅見一二。知此法以處變則可，泥此法以殺人則不可。致謂根源是血，因寒凝澀，滯於膚腠之間，散而為疹，設此論為概用溫補地步，貽誤後學，尤屬大謬。士宗與張隱菴同負盛名，觀此其兩人優劣可見。</p>

<h1>卷三</h1>

<h2>論治（下）</h2>
<p>張石頑曰：麻疹者，手足太陰陽明二經蘊熱所發，小兒居多，大人亦時有之，是亦時氣傳染之類。其發熱時多咳嗽，多嚏多嘔，眼中如淚，面浮腮赤，多瀉，多痰，多熱，多渴，多煩悶，甚則躁亂，咽痛唇焦，神昏。通身紅赤，起而成粒，勻淨而小，斜目視之，隱隱皮膚之下，以手摸之，磊磊肌肉之間，其形若疥，其色若丹。以其陽氣從上，故頭面愈多者為順。法當清涼發散為主藥，用辛散以升發之，涼潤以清解之，切忌酸收。凡動氣燥悍，及一切溫補之藥，慎不可犯，誤用禍不旋踵。辛散如荊芥、薄荷、前胡、葛根、麻黃、石膏、鼠黏子，涼潤如玄參、栝蔞根、葳蕤、麥冬、生甘草、芩、連、貝母、連翹、竹葉，皆應用之藥。又當隨所發月時，量兒大小及見證輕重而為製劑。若漸出漸收者，其勢雖輕，而熱尚未平，須防喘急。若連綿三四日者，其勢雖盛，而熱已發泄，必無他變，宜大青湯，或消毒飲加玄參、石膏、麥冬、竹葉。若發熱時遍身汗出或衄血者，此毒解也，勿遽止之。若汗出太多，血流不止，當以清肺湯去款冬、杏仁，加麻黃根以斂汗，犀角地黃湯以止血。遲則氣虛神耗，為難治也。若發熱時，或嘔吐，或自利者，此火邪內逼，毒氣上下行也，俱宜清熱解毒利小便，切勿止澀。大凡疹症，發熱時未有不渴者，但當與綠豆、燈芯煎湯，勿與冷飲，致成水蓄，多生變幻也。即葷腥酒面、生冷水果，咸須禁之。麻疹多有熱痰在肺，初發時必咳嗽，宜清熱透表，不得止嗽。麻後咳嗽，切忌辛溫酸澀，但用清咽滋肺湯以清餘熱，痰壅自愈。多喘者，熱邪壅肺也，切勿定喘，惟應大劑竹葉石膏湯去半夏加貝母、玄參、薄荷。如冬天寒甚，麻毒為寒鬱於內，不得透出而喘，加蜜酒炒麻黃一劑立止。夏月熱勢甚者，即用白虎湯加竹葉。忌用升麻，誤服必喘。然喘為肺氣壅遏，故喘必兼嗽，而張口抬肩者，肺竅不通，不治也。故諺有喘而咳嗽者可療，喘而不嗽者難醫之語。又其證多泄瀉，慎勿止澀，惟宜芩、連、葛根，則瀉自止。疹家不忌瀉，瀉則陽明之邪熱得解，是亦表裡分消之義。又有疹收之後，飲食如常，卒然心腹絞痛，遍身冷汗如冰者，此元氣虛弱而中惡氣也，朝發夕死，勿妄治之。凡麻疹以鮮明似錦為吉，黑晦如煤最凶，頭面不出者重，紅紫黯慘者重，咽喉腫痛不食者重。黑黯乾枯，一出即沒者不治；鼻煽張目無神者不治；鼻青糞黑者不治；牙疳臭爛者不治。疹之牙疳最為難治，外用無比散吹之；內服加味清胃散，更加荊芥，石膏，緩則不救，疹中諸患，不宜依證施治，惟當治本。本者，手太陰、足陽明二經之邪熱也，解其邪熱，則諸證自退矣。有夾痘而出者，此毒氣太盛，故一齊湧出，不必治疹，但當托痘為主。然治痘宜溫，治疹宜涼，此又不可不審。大人男婦出疹，當與外感並治，惟清涼解表，隨天時寒暑施治。凡麻痘並作，臟腑風熱交患也。麻乃風邪外感，豆為胎毒內發，二者相雜，赤暈發焮。多有誤認痘出太密而委之不救，殊不知其為疹夾痘也，當與化斑湯續續頻進，麻毒解而痘自起矣。</p>
<p><u>大青湯</u>　治斑子熱毒。</p>
<p>石膏（生）　知母　大青　玄參　生地　甘草（炙）　木通　荊芥　竹葉</p>
<p>水煎服。</p>
<p><u>消毒飲</u>　治痘疹咽痛而起發遲。</p>
<p>鼠黏子（研，錢半）　甘草（五分）　荊芥（一錢）</p>
<p>水煎，日二服。</p>
<p><u>清肺湯</u>　治痘疹肺熱，喘嗽吐痰</p>
<p>桔梗　甘草　麥門冬　款冬花　杏仁　貝母　牛蒡子</p>
<p>水煎服。</p>
<p><u>犀角地黃湯</u>　治傷寒溫病，一應發汗而不得汗，內蓄血，及鼻衄、吐血不盡，內余瘀血，大便血，面黃或中脘作痛。</p>
<p>犀角　生地黃（酒浸，另搗）　牡丹皮　白芍（等分）</p>
<p>上四味水煎去滓，入地黃再煎數沸，濾清服。喜妄如狂，加大黃、黃芩。脈大來遲，腹不滿而自言滿者，加當歸，肉桂。吐衄加藕汁、側柏、童便。</p>
<p><u>清咽滋肺湯</u>　治麻後餘熱咳嗽聲喑。</p>
<p>玄參　荊芥　葳蕤　鼠黏子　麥門冬　貝母（去心）　枳殼　桔梗　栝蔞根　馬兜鈴　藿香　丹皮　扁豆　赤芍（等分）　甘草（減半）</p>
<p>為散，每服三四錢，加生薑一片，水煎服。</p>
<p><u>竹葉石膏湯</u>　治大病後煩熱作渴。</p>
<p>竹葉　人參　甘草（炙）　石膏（生用，碎）　粳米　半夏　麥門冬</p>
<p>水煎溫服。</p>
<p><u>白虎湯</u>　治熱病壯熱煩渴，及中暍煩熱而渴。</p>
<p>石膏（八錢，生用，碎）　知母（三錢）　甘草（一錢，炙）　粳米（半合）</p>
<p>水煎，溫分三服，一日盡飲之。</p>
<p><u>無比散</u>　治麻後牙疳腐爛。</p>
<p>取黃牛糞煅存性，入龍腦少許，研細吹之。</p>
<p><u>加味清胃散</u>　治斑疹口舌生瘡，齒齦腐爛。</p>
<p>生地黃　升麻　當歸　牡丹皮　川連（酒蒸）　犀角　連翹　生甘草</p>
<p>為散，水煎去滓，細細呷之，半日再服。</p>
<p><u>化斑湯</u>　治痘與斑夾出，用此消斑起痘。</p>
<p>鼠黏子（一錢）　玄參（二錢）　柴胡（八分）　荊芥（六分）　生甘草（四分）　連翹（七分）　防風（六分）　木通（八分）　淡竹葉（十五片）　枳殼（七分）　蟬蛻（五分）　燈芯（二十莖）</p>
<p>水煎，溫，日二三服。</p>
<p>有種行漿疹子，極似痘，最難看。然痘則必有頂盤，疹雖有漿，而頭粒必不堅，根盤必無紅暈也。疹後痘不結痂，乃元氣虧損，當大補脾胃為主，不可誤認邪熱未盡，復與清熱退火之藥。</p>
<p>麻疹俗名痧子，浙人呼為瘄子，麻病風熱，人或未知。痧之與瘄，字學不收，皆土音，習俗之訛耳。原其證之輕重，今昔懸殊。吾吳水土濡弱之鄉，生氣最易萌動，故麻疹之發，自始至終，不過二三日即安。從古迄今，靡不皆然。邇來風氣變遷，有似北方氣候，即尋常麻疹，必六七日乃化消。若熱勢未盡，或觸風寒，或犯飲食，變證百出，其危有甚於痘者。因遍考方書，從無麻疹專學，間有一二及此，無非附見痘疹之未，一皆簡略不詳。何怪兒科之莫能舉措，且以痘方混治。曷知麻屬陽，陽從陰化，故外出內沒而不漿；痘屬陰，陰從陽化，當外疏內托以助膿。二者相去天淵，烏可不辨。然皆為嬰孺說也。但今不特嬰孺，少壯每多患此，雖當參詳診切，仍不能捨此繩墨。而臨證之機，活法在乎心手，繩墨又不可拘也。</p>
<p>霖按：《正字通》：「麻，風熱病。本作痳。」《玉篇》：「隱疹，皮外小起也。」是痘疹、痧疹、麻疹，皆指其形似而言。若拘牽字學，則專治或出或不出之風熱時麻，而轉將人人不免之伏氣痧疹置之不問。因字害義，石頑老人未免疏漏矣。</p>
<p>發熱　麻痘之初必由發熱，但痘熱不過二三日即出，麻熱有六七日或半月乃出，或乍涼乍熱，或壯熱經日不退。始熱之際，必見面赤眼腫，多涕淚，咳嗽連聲，是其候也。熱甚經日不退曰壯熱，惟正出時為正候。若初發壯熱，至已出而熱不少衰者，其證必重，清熱透肌湯。出盡而壯熱不退者，竹葉石膏湯（方見前）去半夏加荊芥、玄參。沒後而壯熱不退者危急，需涼解為主。其有熱數日止而復作者，有早熱而暮退者。在初發時為熱邪末透，葛根解肌湯。正出之際，而煩熱轉甚，乃邪熱未解而復內攻也，清熱透肌湯。沒後見者，為餘邪未盡，四物湯換生地、赤芍，加連翹、玄參。亦有麻退身涼，越六七日而復熱者，非餘熱未清，即復感風邪，當以意消息。或因大病之後，中氣虛而然者，治本為要。臨病之機，不可不審也。</p>
<p><u>清熱透肌湯</u>　治麻疹未透，熱甚而咳。</p>
<p>玄參　石膏　鼠黏子　荊芥　防風　前胡　葛根　杏仁（等分）　生甘草（減半）</p>
<p>水煎，熱服。</p>
<p><u>葛根解肌湯</u>　治麻疹初起，發熱咳嗽，或乍涼乍熱。</p>
<p>葛根　前胡　鼠黏子　荊芥　連翹　赤芍　蟬蛻　木通（等分）　生甘草（減半）</p>
<p>水煎，熱服。</p>
<p><u>四物湯</u>　治營血虛熱。</p>
<p>熟地黃（二錢）　當歸身（一錢）　白芍（錢半）　川芎（八分）</p>
<p>上四味，水煎溫服。肥盛多濕痰，及嘔逆少食便清者禁用。</p>
<p>部位　麻屬腑候，發則先動陽分，而後歸陰經。一身之中，陽部宜多，陰部宜少。陽部宜透，陰部即不透，亦可無慮。若陰部多，而陽部反少不透者為險，防有他變。陽部者，頭面、背、四肢向外者，皆為陽。陰部者，胸、腹、腰、四肢向內者，皆為陰也。凡發自頭至足為齊，頭面多者為順。先從胸腹暖處起，漸發四肢者順。如從手足起，漸發胸腹背者逆。</p>
<p>形色　色貴紅潤，形貴尖聳。若色雖紅潤而不起，二便艱澀者，清熱透肌湯（方見前）。如色淡不起，二便如常，此屬本虛，兼當培養氣血。亦有色黯不起，大便秘結，唇舌燥赤者，為火邪內郁，白虎湯（方見前）加玄參、荊芥。其有色白，不分肉地，惟點粒高聳，晬時即沒者，邪熱本輕也。然有表氣本虛而色白者，調護溫暖，一二日自變紅活也。若正出時為風寒所遏，而色白如膚，必毛竅悚慄，葛根解肌湯（方見前）。或麻出成片，一被風寒，便變為白，身不發熱而反內攻，煩躁腹痛，痰喘氣急者，危。如毒攻於胃，則嘔吐清水。攻於脾，則腹脹不食。攻於肺，則鼻塞喘促。攻於心包，則唇舌焦燥，不省人事，搖頭掣手。攻於腎肝，則變黑而不救也。若色紫赤而黯，是火毒熾盛，頂粒起者可治，宜涼血飲子。讝語煩躁者，黃連解毒湯（方見前萬氏論中）調益元散，枯燥不起者難治。若頂粒焦者，無論紅淡，皆為熱劇之候，並宜白虎湯（方見前），重用石膏。乾燥無汗，加麻黃以汗之；大便秘者，涼膈散下之。亦有麻發如雲頭大片，其形有二：一者大片焮赤，一者大片之上覆有小紅點粒，皆火邪熾盛所致，白虎湯加玄參、竹葉。若麻出斑斕如錦紋，或出膿血腥臭不幹，心胸煩悶，嘔吐清水，身溫熱者，白虎湯加黃芩、茅朮。若初發時有似斑屑者，乃風寒在表而成隱疹，只宜疏解。俟麻一透，其疹自退。切勿認為斑，而與苦寒之劑，致麻內陷而難救也。</p>
<p><u>涼血飲子</u>　治麻疹火毒熾盛，紫赤而黯。</p>
<p>黃連（五分）　黃芩（一錢）　大生地（錢半）　荊芥（一錢）　玄參（一錢）　赤芍藥（八分）　紅花（三分）　木通（七分）　牡丹皮（八分）</p>
<p>水煎，溫服。</p>
<p><u>益元散</u>（一名天水散，一名六一散）　治暑月小便不利。</p>
<p>滑石（水飛，六兩）　甘草（炙六錢，生四錢）</p>
<p>為散，清水調服二三錢。發散溫病、熱病，加蔥白五七莖，香豉四合，水煎溫服。老人、虛人及病後傷津，小便不利，禁用此方。加蔥豉煎服，則兼散表邪。加吳茱萸，則治白痢。加紅曲，則治血痢。加炮姜，則兼消飲食。加硃砂，則兼退心火。加青黛，則散肝火。加薄荷，則清肺熱。加石膏，則除胃熱。其入通聖、雙解、解毒等方，隨證配合，未遑枚舉。</p>
<p><u>涼膈散</u>　治溫熱時行，表裡實熱，及心火亢盛，目赤便秘，胃熱發斑。</p>
<p>大黃（酒浸，二兩）　芒硝（一兩）　連翹（一兩）　黃芩（一兩）　甘草（炙，六錢）山梔（八錢）　薄荷（七錢）</p>
<p>為散，每服四五錢，加竹葉十五片，水煎溫，日三夜二服，得下熱退為度。（世本無竹葉，有姜一片，棗一枚，蔥一莖。）</p>
<p>硝黃得枳樸之重著，則下熱承之而順下；得芩梔翹薄之輕揚，則上熱抑之而下清。此承氣、涼膈之所攸分也。用甘草者，即調胃承氣之義也。《局方》專主溫熱時行，故用竹葉。若治感冒之證，從世本用蔥白薑棗可也。</p>
<p>咳嗽　麻疹乾咳連聲不斷，是火邪凌爍肺金所致。然咳則毛竅開而麻易出。故未出之先最喜咳甚，發透其咳自己。若出盡及沒後而咳仍不止者，清咽滋肺湯（方見前）。咳嗽多痰，去麥冬，加橘皮、茯苓。其有感觸風寒，咳嗽煩悶，嘔逆清水，眼赤咽痛，口舌生瘡者，甘桔湯加芩連。沒後見者，人參白虎湯去知母易麥冬，以滋化之。</p>
<p><u>甘桔湯</u>　治麻疹咽痛，口舌生瘡。</p>
<p>甘草　桔梗　山豆根　玄參　鼠黏子　荊芥（等分）　麥門冬（倍用）</p>
<p>水煎，溫服。</p>
<p><u>人參白虎湯</u>　治熱病舌乾大渴，發熱背寒。</p>
<p>人參（一錢）　石膏（八錢，生用，碎）　知母（三錢）　粳米（半合）　甘草（一錢，炙）</p>
<p>水煎，溫，分三服，一日盡飲之。</p>
<p>汗　麻發之際，常宜微汗，微汗則肌腠疏豁而邪易透。不可復用升發，升發恐汗大泄，不無亡陽之慮。其有隱陷不透之壞證，用權升發得大汗而解者，此特語其變也。若壯熱無汗而皮膚乾燥者，必風寒壅滯難出，多成內攻之候，或腹脹痛，或發喘促，宜與葛根解肌湯（方見前）。冬月越脾、三拗選用，但不可過劑。亦有因熱極火鬱，皮膚乾燥而難出者，必致唇舌燥裂，二便秘澀，壯熱昏沉，或身體脹痛，喘促痰鳴，無論何時，急宜白虎湯（方見前）加玄參、牛蒡、芥、梔、竹葉之類。大抵麻證常以微汗為順，若始終無汗，雖沒後不無餘咎。其治總不逾上法也。</p>
<p><u>越脾湯</u>　治風水惡寒，一身悉腫，脈浮不渴，續自汗出，無大熱者。</p>
<p>麻黃（去節）　甘草（炙）　石膏　生薑　大棗</p>
<p>水煎，溫服。</p>
<p><u>三拗湯</u>　治風寒傷肺而咳，誤行斂肺而壅嗽喘急。</p>
<p>麻黃（不去節）　甘草（生）　杏仁（連皮尖）</p>
<p>更加荊芥、桔梗，名加味三拗湯。</p>
<p>嚏　麻疹初起而多嚏者，是內火因風邪激搏而然。正出時有嚏者，其候必輕。如沒後尚有嚏者，邪熱盡解，可無餘患矣。如嚏而多涕者，濁壅得泄，肺氣自清，最為吉兆。若無嚏而鼻塞不通，必有風邪留滯，宜辛涼之劑以透達者。</p>
<p>嘔吐　麻之初起，吐瀉交作者順，乾霍亂者逆，欲吐不吐者危。嘔吐是胃中熱邪不得發泄而作，葛根解肌湯（方見前）。正出及正沒時見者，消毒飲（方見前）加枳實、黃連。多痰者更加貝母、栝蔞根。若沒後而嘔者，脾胃虛而熱滯也，石斛清胃散。其有嘔而吐蛔者，胃中痰熱膠固，蟲無所養而上竄也，能食即定。如蛔出多而不能食，為胃敗不治。</p>
<p><u>石斛清胃散</u>　治麻後嘔吐，胃虛不食熱滯。</p>
<p>石斛　茯苓　橘皮　生薑（一片）　蔥白（一莖）</p>
<p>水煎，溫服。血熱者加紫草、連翹。</p>
<p>泄瀉　泄瀉為麻疹之常候，熱邪得以開泄也。發熱時，瀉而黃赤稠黏，小水短澀者，屬熱，四苓散加木通、滑石。已出，人參白虎湯（方見前）去知母易麥冬。其證必多發渴，渴甚不止，熱甚不退，雖數劑無妨。如瀉下清稀白沫，腹疼喜得溫按者，屬寒，胃苓湯去蒼朮加煨姜。瀉利窘迫而腹痛脹滿，或噯氣如敗卵者，為飲食停滯，枳殼湯加楂、檗、木通。大抵麻疹泄瀉屬熱者多，屬寒者少。辨治宜早，不可令其瀉久，瀉久則正氣下陷，或成腫滿，或變下利，並宜枳實、理中之類，以理脾胃為主。麻後瀉利不止，口渴目閉，四肢不溫者不治。嘔吐不食，洞泄不知者不治。</p>
<p><u>四苓散</u>　治小便赤澀脹痛，及溫熱時行煩渴。</p>
<p>白朮（生）　茯苓　豬苓（各二錢）　澤瀉（三錢）</p>
<p>水煎服。</p>
<p><u>胃苓湯</u>　治飲食停積，浮腫泄瀉，脈證俱實者。</p>
<p>厚朴（去皮，薑汁炒）　蒼朮（泔浸，去皮，麻油拌，炒黃）　茯苓　豬苓　甘草（炙）　白朮（生）　陳皮（泡去浮白）　澤瀉　桂</p>
<p>平胃本平胃氣之墩阜，若因脾土之虛不能消運，又須稍借參苓，如養胃之類。然復有土衰不能分利而成腫脹，且氣雍不勝參朮，難合理中者，乃合五苓以健運水土，與正氣散之假蘇、藿以散客邪，兩不移易之定例也。</p>
<p><u>枳殼湯</u>　治痘疹誤服參耆，腹脹喘急。</p>
<p>枳殼　厚朴（去皮，姜沙炒）　陳皮（泡去浮白）　甘草（炙）</p>
<p>水煎服。</p>
<p>目　麻疹發熱之時，眼光如水而多眵淚，或白睛微紅，此正候也。若沒後猶見紅赤，為肺經風熱未盡，瀉白散加荊芥、薄荷、玄參、牛蒡。閉不欲開，更加連翹、木通。赤而腫痛者，風熱上壅也，導赤散加荊、蒡、玄參。若為風熱所侵，而眼眶赤爛者，柴胡飲子。急須治之，否則為終身痼疾。</p>
<p><u>瀉白散</u>　治肺熱咳，手足心熱。</p>
<p>桑根皮（薑汁和蜜炙）　地骨皮（各一兩）　甘草（炙，五錢）</p>
<p>為散，每服四五錢，入粳米百粒，竹葉一把，水煎服。加橘紅、桔梗名加味瀉白散。有熱更加知母、黃芩。如有客邪禁用。或問：地骨皮三焦氣分藥，瀉白用之何義？答言：三焦屬腎，實則瀉其子也。</p>
<p><u>導赤散</u>　治小腸實熱，小便赤澀。</p>
<p>生地黃（五錢）　木通　甘草梢（生，各一錢）　竹葉（一握）</p>
<p>上四味水煎，熱服。溺血加辰砂五分。（一方多燈草，一方多車前。）</p>
<p><u>柴胡飲子</u>　治風熱眼眶赤爛。</p>
<p>柴胡　羌活　赤芍藥　桔梗　荊芥　生地（各一錢）　甘草（炙，五分）</p>
<p>水煎，熱服。</p>
<p>發不出　初起發熱咳嗽，渾身脹痛，有似傷寒之候。惟乾咳連聲，目赤多淚，嘔惡便溏，確為麻疹之驗。若將發之際，或為風寒暴襲，或因肢體坦露，寒鬱熱邪不能外出，此全盛之勢未萌，與出後沒早不同。如氣粗喘促，腹中脹痛，煩擾不寧，而不得出，急與麻杏甘石湯或越脾湯（方見前）去棗，重用石膏。輕則升麻湯，以升發之。若因觸犯霧露風寒，隱現不能發出，以新豬矢沖湯，隔簟蒸之，冷則更添滾者。並取豬矢燒灰，蔥白湯下二三錢。乃痘瘡黑陷，用燒人矢之變法。即燒人矢亦能發之。仍不出者，神丹不能復圖矣。</p>
<p><u>麻杏甘石湯</u>　治發汗後，汗出而喘，無大熱者。</p>
<p>麻黃（去節）　杏仁（泡，去皮尖，搗碎）　甘草　石膏</p>
<p>此麻黃湯去桂而兼越脾之意，專去上焦濕熱痰氣。與苓桂朮甘湯互發。彼借苓朮，專祛心下之支飲；此借石膏，專祛膈上之濕熱也。</p>
<p><u>升麻湯</u>（一名升麻葛根湯）　治陽明經邪發熱及痘疹初起。</p>
<p>升麻（一錢）　葛根　白芍（各錢半）　甘草（炙，八分）</p>
<p>上四味，水煎溫服。</p>
<p>升葛為陽明經之嚮導，陽明專主肌肉，恐開泄太過，即以白芍斂護營血，甘草調和中氣，所以解利本經邪熱，及時行痘疹，皆為專藥。然在起脹後禁用。</p>
<p><u>透表</u>　麻疹無問尖大細小，必得透表可無後患。其有一種匾闊焮赤成塊，塊上覆有小粒，平塌不起者；亦有一片如風毒，偏高紅腫，但頭粒不尖。二者雖透，其中必有熱邪留伏，防有他變，並宜用竹葉石膏湯（方見前）去半夏以滋化之。縱有餘熱，從此渙散矣。</p>
<p>不透表　麻出而皮膚乾燥，毛竅疏慄不能透表者，風寒鬱遏也，越脾湯（方見前）、葛根解肌湯（方見前）隨輕重取用。其有表虛不勝疏透者，一味蔥白濃煎，時時與之，但得微汗即解。若頭粒隱隱，紅紫一片而不透表者，火毒熾盛也，白虎湯（方見前）加荊芥、玄參。如肌膚不燥，唇色淡白，二便如常而不透者，中氣本虛也，消毒飲（方見前）加連翹、木通、車前、茯苓。雖有蘊熱，不可輕用寒涼。即用峻劑升發，亦必不能復透。但當解利，使之內化為主。亦有胸背腰腹暖處起發而紅，頭面手足乍有乍無，此證必纏綿難已。且有沒後五七日，復發如前，二三次而愈者，此氣候之異，當非不透之比。只宜辛涼透表，漸次向安。欲求速效，轉增危殆。</p>
<p>沒早　麻出未經三日，或為風寒外郁，或熱邪內陷，或誤食酸收之物，一日半日即沒，周身暖處絕無紅影，終變危候。若雖沒早，肌膚暖處尚未全沒，急需透表。發之不起，即當審其所觸，而與內解。如外為風寒所遏，邪反內攻而沒早者，消毒飲（方見前）加蔥頭，熱服，復透者吉。甚則加麻黃、穿山甲，或越脾、三拗選用。若不急治，必喘脹而死。亦有遍身青紫熱腫，喘脹氣急，此毒滯血凝，半匿肌表，急投涼膈散（方見前）去芒硝，加麻黃、石膏，以發越之。若腹脹喘促，溺澀臍突者，涼膈散加葶藶，或可救一二。若內夾痰熱，火毒亢劇而伏匿煩躁，或腹脹喘急，不省人事者，白虎湯（方見前）加玄參、竹葉。若誤食酸醋收斂之物，伏匿壯熱，喘咳煩悶，以豬膽汁制甘草煎成，續續與之，得吐微汗為效。或苦瓠、生甘草煎湯灌之，亦能取吐，吐中便有發越之義。誤食豕肉，喘脹氣急，枳殼湯（方見前）加山楂、芒硝以下奪之。誤食核桃，喘咳聲喑，消毒飲（方見前）加石膏、馬兜鈴。若得熱退身安，氣息漸調者，方可無慮。或大病之後，或洞泄不止，中氣本虛，不能發越而沒早，惟當健運中氣，略兼解表清熱。若沒後遍身瘙癢者，露風早也，消風散以疏解之。</p>
<p><u>消風散</u>　治風熱咳嗽，遍身疥瘰，小兒瘡疹餘熱。</p>
<p>川芎　羌活　防風　荊芥穗　藿香　人參　茯苓　殭蠶　蟬蛻（等分）　甘草（炙）　陳皮　厚朴（薑製，減半）</p>
<p>上十二味為散，每服三四錢，茶清調下。或用五錢，水煎，去滓服。如久病頭風目翳，每日三服效。此方妙用全在厚朴、人參。當知肌表之疾，無不由胃而發，故用厚朴清理其內，即以人參助諸風藥，消解風熱於外，則羌防荊芥輩方始得力耳。</p>
<p>難沒　西北水土剛勁，稟質亦厚，麻必五七日乃沒。東南風氣柔弱，麻出不過二三日即化。邇來地運變遷，未有不綿延數日者，當非難沒之比。若三四日後，點燥色白，隱隱於肌腠而難沒者，此必衛氣素微，不能焮發。或衣被單薄，阻其發越之機，以致綿延多日。法當辛散透達，不可遽用寒涼，蔽其開泄之路也。</p>
<p>渴　渴若乃肺胃熱盛之候，唇口必紅。二便秘澀者，麥冬甘露飲。若二便清利，唇色不紅而但渴者，此必寒涼太過，脾虛不生津液而作渴也，七味白朮散去木香，加粳米。渴而煩躁者，是熱邪凌轢心包，宜白虎湯（方見前）加麥冬、竹葉。正沒時，竹葉石膏湯（方見前）去半夏。渴而腹脹者，本虛實滯，為難治也。</p>
<p><u>麥冬甘露飲</u>　治麻疹熱甚而渴。</p>
<p>麥冬（二錢，去心）　玄參　黃芩　栝蔞根　連翹（各一錢）　生甘草（五分）　燈芯（二十莖）　竹葉（二十片）</p>
<p>水煎，溫服。</p>
<p><u>七味白朮散</u>（即錢氏白朮散）　治胃虛津氣不行而渴。</p>
<p>人參（一錢至三錢）　白朮（炒黃，一錢至二錢）　茯苓（一錢至一錢半）　甘草（炙，六分至一錢）　煨葛根　藿香　木香</p>
<p>為散，每服三四錢，水煎，日三服。</p>
<p>喘　喘者熱邪壅遏肺竅，氣道阻塞而然。其證有虛實之分，虛者難治，實者易調。虛則小便清利，大便溏泄，身無大熱，雖清痰潤肺，多難獲效，實則大便堅燥，小便赤澀，身發壯熱，竹葉石膏湯（方見前）去半夏加栝蔞仁、貝母，冬月量加蜜炙麻黃，隨手而應。若喘而無涕，兼之鼻煽者，不治。大抵未出而喘者易治，沒後喘者難治。初發之時喘者，三拗湯（方見前）加石膏、芽茶。喘而鼻乾口燥者，白虎湯（方見前）最捷。若見於麻後，又宜清咽滋肺湯（方見前）以滋肺胃，白虎湯又為切禁。故曰醫不執方，治法在人耳。</p>
<p>氣促　氣促多緣肺熱不清所致。初發正出時見之，清熱透肌湯（方見前）。在正沒、沒後，清咽滋肺湯（方見前）。如喉中有痰，齁䶎齁䶎而鳴者，熱邪阻逆，不得發越也，見於初發正出之間，除熱清肺湯。正沒、沒後見者，必邪熱未透，或露風沒早，餘熱內攻，而肺氣受傷也，難治。</p>
<p><u>除熱清肺湯</u>　治麻疹盡透而壯熱咳嗽，大便秘結。</p>
<p>石膏（三錢）　玄參（一錢）　生地黃（一錢）　麥冬（去芯，一錢半）　赤芍　栝蔞根　貝母（各一錢）　甘草（五分）</p>
<p>水煎，溫服。</p>
<p>喑　肺胃熱邪為風寒所襲，不能盡達於表，咳盛咽傷，故喑，宜清咽滋肺湯（見前方）。若喑而腫痛者，射干消毒飲。然喑為麻疹之常，不可與痘喑比例。</p>
<p><u>射干消毒飲</u>　治麻疹咳嗽聲喑，咽喉腫痛。</p>
<p>射干　玄參　連翹　鼠黏子　荊芥（等分）　甘草（減半）</p>
<p>水煎，溫服。</p>
<p>搐　搐為痰熱聚於心包，見於初發未透之時，清熱透肌湯（方見前）加栝蔞仁、竹葉。沒後見者難治，只宜輕清之劑調之，不可誤用金石。痰誕壅盛者，一味栝蔞湧吐之。若搐無痰鳴，或自齧指者，非真搐也。此為正虛，不能主持，必死不治。</p>
<p>衄　衄者火邪熾盛，血隨火載，上行而溢於鼻。麻疹初起是為順候，其熱得以開泄，不治自己。若衄之不止，或失血者，犀角地黃湯（方見前）加荊芥穗。正沒及沒之後仍不止者，四物湯（方見前）加茅根、麥冬，以滋降之。</p>
<p>譫妄　譫妄是熱邪熾盛於心包。若發熱正出時見者，為火邪內伏，不得透表而致，白虎湯（方見前）加荊芥、鼠黏子，甚則加麻黃以發越之。在正沒、沒後，並宜竹葉石膏湯（方見前）去半夏加生地黃以清解之。</p>
<p>咬牙　痘證咬牙有寒熱之分。麻疹咬牙皆為熱例，乃陽陷於陰，故多發渴而手足熱，喜飲冷者，麥門冬湯加丹皮；若手足不熱，而反厥冷，喜飲熱湯，此為熱邪內亢，後必下血，咽喉作痛，痰鳴而死。即與白虎湯（方見前），多不可救。</p>
<p><u>麥門冬湯</u>　治痘疹便實而渴。</p>
<p>麥門冬（二錢）　當歸身（一錢）　白芍（錢半）　生地（二錢）</p>
<p>水煎，溫服。</p>
<p>唇燥　唇燥多屬脾胃之熱。淡而燥者，其熱輕；赤而燥者，其熱深；紫黑而燥者，熱劇而重也。隨輕重以清潤之。</p>
<p>唇舌破裂　唇舌破裂者，心脾之火上衝也，其色必多深赤。初發、正出時見之，白虎湯（方見前）加芩、連、玄參、荊芥、薄荷。若正沒、沒後見者，為心脾俱絕，及紫黑枯燥，而血不活者，皆難治也。</p>
<p>口氣　口氣穢濁，乃熱邪蘊隆於胃，清胃散加石膏、連翹、生甘草。其有臭不可聞者，此胃敗也，不治。若其人本有是證，不在此例。</p>
<p><u>清胃散</u>　治胃中蘊熱，中脘作痛，痛後火氣發泄，必作寒熱乃止。及齒齦腫痛出血，痛引頭腦。</p>
<p>生地黃（四錢）升麻（錢半）　牡丹皮（五錢）　當歸　川連（酒蒸，各三錢）</p>
<p>為散，分三服，水煎去渣，細細呷之，半日再服。</p>
<p>犀角地黃湯專以散瘀為主，故用犀、芍。此則開提胃熱，故用升、連。其後加味清胃，則兼二方之制，但少芍藥耳。</p>
<p>舌胎　舌者心之苗，麻本火候，心屬於火，故舌多有胎。白為肺熱，黃為胃熱，但當清解疏利，更參外證而為施治。純黑為心絕。黑而濕者，熱淫血分；黑而燥者，熱淫氣分，皆為危候。並宜白虎湯（方見前），濕者加生地，黃黑參燥者加麥冬、竹葉。黑色漸退者吉，不退者不治。</p>
<p>口疳　牙疳腐爛，是熱留陽明，餘毒上衝所致，加味清胃散（方見前）加石膏、荊芥。大便秘者，當歸散微利之。外用慄根白皮煎湯漱淨，以無比散（方見前）或燒鹽散吹之。如通齦色白者，自外延入內者，無膿血者，齒落口臭者，喘促痰鳴者，皆為不治。若滿口唇舌黃赤白爛，獨牙齦無恙者，此為口瘡，非牙疳也。胃中餘熱未盡，毒壅上焦，二便必多艱澀，導赤散（方見前）以瀉心脾之火，外以綠袍散敷之。</p>
<p><u>當歸散</u>　治口舌生瘡，牙齦毒發，大便秘結。</p>
<p>當歸　赤芍（各一錢）　川芎（五分）　大黃（三錢）　甘草（生，五分）</p>
<p>為散，加生薑一片，水煎服之。</p>
<p><u>燒鹽散</u>　治牙疳潰爛。</p>
<p>取橡斗大者，實鹽滿殼合起，鐵絲扎定，燒存性，以碗覆地，入麝少許，研細敷之。</p>
<p><u>綠袍散</u>　治一切口瘡腐爛。</p>
<p>荊芥穗　薄荷　青黛　玄明粉　硼砂（各二錢）　甘草（一錢半）　百藥煎（二錢半）</p>
<p>為散，點舌上，令其自化。</p>
<p>腹痛　腹痛之由不一，總為火毒內郁，或風寒壅遏，或飲食停滯者，皆能致痛。於發熱正出時，風寒壅遏，毒反內攻而腹痛者，急與疏表，麻透自己。若飲食過傷，腹滿脹痛者，力為消導，其痛自除。時當正沒，沒未盡而腹痛者，兼清中外而痛自止。沒後見者，分利餘熱，其痛自愈。又須驗其有無他證，屬虛屬實，而與治之。若熱邪內結而腹痛者，通利大便為主。有麻後脾氣不調而致腹脹，面目四肢浮腫，分利小水為要。至若元氣大虛，陰陽不能升降，小水不利，遍身浮腫，喘促兼見者，難治。</p>
<p>便秘　大便秘結，火壅血燥而耗津液，麻疹大非所宜。無論日期前後，速宜清潤，四順清涼飲，甚則涼膈散（方見前）以通利之。慎勿遲延，恐麻變焦紫而難救也。大抵麻疹自出至沒，二便俱不宜秘，秘即微利可也。</p>
<p><u>四順清涼飲</u>（一名四順飲）　治血熱便秘脈實者。</p>
<p>當歸　赤芍　大黃（酒蒸）　甘草（各一錢五分）</p>
<p>水煎，入生白蜜一匙，熱服。</p>
<p>按：清涼飲治上焦之燥熱，故用薄荷之辛散。四順飲主下焦之燥結，故用大黃之苦寒，功用天淵。</p>
<p>溺澀　小便赤澀，在初熱正出時，熱邪澀滲，是為正候。沒後見之，為餘熱下匿膀胱，導赤散（方見前）加麥冬，以滋氣化利之。仍不通者，必大便秘郁之故，大便一通，小便自利。</p>
<p>痢　麻之作痢，為熱邪內陷。在正沒或沒後而痢下色白者，黃芩湯加防風、枳殼。下膿血者，白頭翁湯去黃柏加防風。或因食積而滯下者，枳殼湯（方見前）加楂、柏、木通。腹中作脹，時痛時止者，厚朴湯。亦有瀉久而成痢者，乾薑黃芩黃連人參湯。自始至終痢不徹者，必有風毒留滯於內，則宜解毒行滯，而兼疏風實脾，庶幾克應。如痢下紫黯，如癰膿，如屋漏水，如雞肝色，如黑豆汁之類，加之氣喘燥渴，熱甚發呃，噤口不食，麻色紫晦者，皆死不治。</p>
<p><u>黃芩湯</u>（一名黃芩芍藥湯）　治伏氣發溫，太陽少陽合病自利。</p>
<p>白芍（三錢）　甘草（炙，二錢）　大棗（四枚，擘）　黃芩（三錢）</p>
<p>水煎，溫服。</p>
<p><u>白頭翁湯</u>　治熱利下重。</p>
<p>白頭翁　黃連　黃柏　秦皮</p>
<p>上四味，以水七升，煮取二升，去滓，溫服一升，不愈更服。</p>
<p><u>厚朴湯</u>　治脾胃虛寒作脹，腹中時痛時止。</p>
<p>厚朴（去皮，薑汁炒）　陳皮（泡，去浮白）　甘草（炙）　茯苓　乾薑　</p>
<p>潔古加半夏、枳實、薑、棗。</p>
<p><u>乾薑黃芩黃連人參湯</u>　治胃虛客熱痞滿。</p>
<p>乾薑（炮）　人參　黃芩　川黃連</p>
<p>水煎，溫服。</p>
<p>下蟲　下蟲多見於沒後。此以胃熱少食，蟲不能安而下也。與過食傷中，蟲不能容而下不同。但須調其飲食自愈，非上出之比，不須治之。</p>
<p>睡　麻疹正出時，精神困倦，沉睡不醒者，為逆。蓋緣正氣虧損，邪火內郁，正氣不勝所致。若沒後而沉睡不醒者，為氣血俱虛，補脾養血為要。如沒後煩擾而反不得寐，是餘火復燃，急需滋養陰血，虛陽自斂。亦有昏睡不知起止，掐其頰車、合谷，不知疼痛，似寐非寐，無問正出、沒後，良非吉兆。當察其兼見何證，而與施治可也。</p>
<p>不食　不食是胃中邪熱熾盛，不可強與。雖數日不食，亦無妨害。在初發正出時，白虎湯（方見前）加荊芥。麻透熱清，自能食也。沒後不能食，石斛清胃散（方見前），諒加健運之味。元氣委頓者，急需培補，防有虛羸之患也。</p>
<p>鼻煽　鼻煽者，肺將絕也。若兼喘滿痰鳴，此必不治。如咽喉清利無喘滿，而精神不減者，可治，宜滋培肺氣為主。沒後見者死。</p>
<p>胸高　麻疹胸高，肺熱熾盛而脹也。多見於正沒沒後，為肺經壞證，不治。</p>
<p>身冷　麻為肺胃邪熱所發，本屬於陽，肢體常宜溫暖，若反清冷如冰，是為逆也。其有沒後遍體溫涼如故，獨下體厥冷過膝者，為腎敗，不治。如初出腰已下不熱，毒不能透而反漸沒者，亦為逆候，急當溫養脾腎，或有得生者。</p>
<p>妊娠　麻屬火候，最易墮胎。若初發正出時，須驗其色之紅淡，熱之重輕，而與疏解。疏解之中，佐以清涼。滋血安胎為主，四物湯（方見前）加條芩、艾葉、荊芥、紫蘇之類。若胎氣上衝，急用苧根、艾葉煎湯，磨檳榔續進以降之。一切實脾行氣溫燥之藥，既礙麻疹，復傷於氣，咸須禁之。</p>
<p>虛羸　麻患既平，形體羸瘦，精神倦怠，飲食減少，或咳嗽不止；或便泄不已，或身熱不除，皆真元虧損，恐成勞瘵，並宜雙和湯去川芎以和之。嗽加橘紅、貝母，咳加麥冬、百合，瀉加白朮、扁豆，食難腐化加砂仁、穀芽，氣血俱虛合四君子湯，隨證調之。切禁寒涼傷犯脾胃之藥。專力資培，緩圖平復可也。</p>
<p><u>雙和湯</u>　治麻後虛羸。</p>
<p>熟地黃　白芍（酒炒。各一錢）　黃耆（蜜、酒炒）　當歸（各七分）　肉桂（三分，有熱去之）　生薑（一片）　炙甘草　川芎（各四分）　紅棗（一枚，去核）</p>
<p>水煎，溫服。</p>
<p><u>四君子湯</u>　治胃氣虛弱，飲食不思，倦怠少食。</p>
<p>人參（一錢至三錢）　白朮（炒黃，一錢至二錢）　茯苓（一錢至錢半）　甘草（炙，六分至一錢）</p>
<p>上四味，水煎，空心溫服。</p>
<p>按：四君子乃胃家氣分之專藥，胃氣虛而用之，功效立見。即血虛用四物亦必兼此。故八珍之主治不獨氣血兩虛也，即血虛者亦須兼用，但補氣則偏於四君，補血則偏於四物。若純用血藥，不得陽生之力，陰無由以化也。方中白朮，若治脾胃虛衰，大便不實，或嘔惡不食，合用炒焦，方有健運之力。如肺胃虛燥，咳嗽失血，須用陳米飯上蒸過十餘次者，則轉濁為清，轉燥為潤。是以異功散、八珍湯，及歸脾、逍遙等方內，並宜蒸者。即陰虛乾咳嗽、吐白血，總無妨礙。更加白蜜拌蒸，猶為合宜。其於輕重炮製之間，全在用者之活法權變。舉此可以類推三隅矣。</p>
<p>麻瘡　麻後發瘡，多緣生水澡浴太早，水氣留泊肌腠而發，但須日以荊、防、艾葉煎湯洗之。勿用生水，亦不可用瘡藥熏塗。失治必每歲依期而發。雖云小疾，亦須慎之。</p>
<p>霖按：石頑論疹，分證施治，各中窾竅；辨舌察色，尤多精義。然能與人規矩，不能與人巧。其化裁通便處，要在良工消息得之，又未可拘守成法也。</p>
<p>葉香岩曰：痧屬陽腑經邪，初起必從表治，證見頭痛喘急，咳嗽氣粗嘔惡。一日二日即發者輕，三五日者重。陽病七日外隱伏不透，邪反內攻，喘不止，必腹痛脹秘悶，危矣。治法宜苦辛清熱，涼膈去硝黃。</p>
<p>方書謂足陽明胃疹，如雲布密，或大顆如豆，但無根盤。</p>
<p>方書謂手太陰肺疹，但有點粒無片片者，用辛散解肌。冬月無汗，壯熱喘氣，用麻杏，如華蓋散、三拗湯。夏月無汗，用辛涼解肌，葛根、前胡、薄荷、防風、香薷、牛蒡、枳殼、桔梗、木通之屬。</p>
<p>古人以表邪口渴，即加葛根，以其升陽明胃津。熱甚煩渴，用石膏辛寒解肌，無汗忌用。</p>
<p>凡瘡疹辛涼為宜。連翹辛涼，翹出眾草，能升能清，最利幼科，能解小兒六經諸熱。</p>
<p>春令發痧從風溫；夏季從暑風，暑必兼濕；秋令從熱爍燥氣；冬月從風寒。</p>
<p>疹宜通泄，泄瀉為順，下痢五色者亦無妨。惟二便不利者最多凶證。治法大忌止瀉。</p>
<p>痧本六氣客邪，風寒暑濕，必從火化，痧既外發，世人皆云邪透。孰謂出沒之際，升必有降，勝必有復。常有痧外發，身熱不除，致咽啞齦腐，喘急腹脹，下痢不食，煩躁昏沉，竟以告斃者，皆屬裡證不清致變。須分三焦受邪孰多，或兼別病累瘁，須細體認。上焦藥用辛涼，中焦藥用苦辛寒，下焦藥用鹹寒。</p>
<p>上焦藥氣味宜以輕。肺主氣，皮毛屬肺之合。外邪宜辛勝，里甚宜苦勝。若不煩渴，病日多，邪郁不清，可淡滲以泄氣分。</p>
<p>中焦藥，沙火在中，為陽明燥化，多氣多血，用藥氣味苦寒為宜。若日多胃津消爍，苦則助燥劫津，甘寒宜用。</p>
<p>下焦藥鹹苦為主。若熱毒下注成痢，不必咸以軟堅，但取苦味堅陰燥濕。</p>
<p>古人以痧為經腑之病，忌溫燥澀補。所謂痘喜溫暖，疹喜清涼也。然常有氣弱體虛，表散寒涼非法，淹淹釀成損怯。但陰傷為多，救陰必扶持胃汁。氣衰者亦有之，急當益氣。稚年陽體，純剛之藥忌用。幼科方書歌括曰：赤疹遇清涼而消，白疹得溫暖而解。此溫字即後人酒釀、檉木、粗草、紙木、棉紗之屬。雖不可不知，然近年用者多無益。</p>
<p>痧疳濕盛熱蒸，口舌咽喉疳蝕，若不速治，有穿腮破頰，咽閉喘促，告斃矣。治之宜早。外治另有專方。若湯藥方，法必輕淡，能解上病。或清散亦可。</p>
<p>痧痢乃熱毒內陷，與傷寒協熱邪盡則痢止同法。忌升提，忌補澀。輕則分利宣通，重則苦寒解毒。</p>
<p>許宣治曰：疹痘形證大略相似，治者每嚴於豆，而略於疹。不知痘之境寬，雖見險惡，猶可從容圖治；疹之境促，變生頃刻，多不及救，故不可不預防也。預防之法，在病家，坐臥欲暖，飲食宜淡，二語盡之；在醫家，慎發表三字盡之。所謂慎發表者，其一體實之兒，火毒盛甚，發之太過，熱壅於上，多有氣粗喘閉者。醫家見其喘閉，復以表藥繼之，熱不能降，焚灼而死。抑思古方升麻葛根湯之用白芍所以和陰也，麻黃石膏湯發中有降也。其一體虛之兒，出每遲滯，小經發散，元氣已浮。醫者謂出未透，更重發之，疹雖出而陽氣盡拔，無陰以攝，致喘脫者多矣。余用地黃湯加人參納氣歸元，曾救一二。故凡見體弱之兒，顱開面白，目無神，或瘧痢病後出得遲緩，即當照顧元氣，不可過行發表。</p>
<p>或問：痘出於臟，疹出於腑。胃，腑也，何以痘多胃熱發斑之證；肺，臟也，何以疹多肺閉喘促之證？余曰：痘出於臟，而赴於胃，是由臟而之腑，胃主肌肉故也。疹出於腑，而甚於肺，是由腑而之臟，肺主皮毛故也。然則痘之出，五臟之毒而胃總受之；疹之出，六腑之毒而肺總受之。所謂先起於陽者，出於六腑也；後歸於陰者，肺受之也。</p>
<p>痧疹之出，不離肺胃兩家，喘閉者肺證也，煩渴者胃證也。冬月因寒喘閉，麻黃、杏仁為救急之藥，治之速，疹出喘定而解。若夏令出疹，麻黃與時不合。庸工不識，一見喘閉，執而用之，每多隨藥而死。蓋痧疹多火證，火甚剋金，夏令金虧，天人皆病，麻黃萬不能受。冬月之喘閉，有面青唇黯肢冷者，故可用麻黃。夏月肺氣已虧，表氣已開，斷無寒證，間有肢冷者，是陽氣虧不能四達也，只可荊、防、甘、桔從輕用藥。氣虧甚者，可加人參。火甚者，升麻石膏湯。喘定者可治。</p>
<p>胃熱煩渴者必多汗。此純是裡熱，即荊防葛根亦不可輕使。升麻石膏湯乃對證之藥，合之甘桔，則肺胃兩家之熱解矣。喘閉證在一二朝見，汗渴證在五六朝見。肺不容邪，其變也速；胃能容受，其變也遲。</p>
<p>疹之出必先咳嗽。不嗽而出，非痧疹也。出噴嚏者吉，肺氣通也。</p>
<p>盛夏之令，火旺金傷，保肺為上。輕輕一散，即宜保肺，石膏、梨汁二味最妙。</p>
<p>石膏一味，為痧疹之至寶，色白屬金，味甘微辛，升中有降，降中有升，雖為清胃之藥，實保肺之靈丹也。</p>
<p>刑金之火，由胃而來。石膏本清胃之藥，而清肺者是與之去路也。</p>
<p>夏月無麻黃證，其有不出者，是正氣為熱所傷，不能升舉，疏托中宜兼益氣，是余得心之處。</p>
<p>其有富貴之家，痧毒本甚，更加郁遏太過，火甚金傷，致生喘促者，經謂壯火食氣是也。急宜瀉火保肺，不得再行表散。</p>
<p>亦有貧寒之子，破屋當風，衣不蔽膝，沙毒正出，外受寒邪，忽生喘促者，急宜溫散，使表氣宣通，痧毒得解。否則痧閉，頃成不救。</p>
<p>寒邪外閉，火甚傷金，二證皆見喘促，醫者當知診視。寒邪外閉者，面色青，四肢冷，痧點隱隱於皮膚之內，鼻煽而聲細，微有惡寒之象，宜麻黃、杏仁、蘇葉、防風、胡荽等味急進。一服暖覆，片時喘定面赤，痧漸出者生。若面色如銀者，不可治也。火甚傷金者，壯熱面赤，煩躁口渴，四肢熱，喘息粗，而脈洪大，心煩嘔吐，或吐出長蟲，急宜白虎加黃連，雖嚴寒之令勿避也。</p>
<p>前二證，一經說明，不難分辨。復有火毒本甚，外感寒邪，外雖寒而中實熱，又宜表裡雙解。古人有麻黃石膏湯，余仿其法，全活甚多。又有火毒本甚，父母只知郁遏，醫家只知表散，內外交熾，火極似水，反生厥逆之象者，書謂熱深厥亦深是也，宜白虎湯加黃連。若作寒治，殆矣。</p>
<p>治痧疹有三法：一升散，一降火，一養陰。善用者，升散之中，即寓清涼之意；養陰之劑，不離生髮之機。</p>
<p>痧點隱隱未透，發熱咳嗽，有涕淚，宜升散；兩頰不透，宜升散；發熱肢冷，面不赤，唇不燥，宜升散；喘促鼻煽，辨得是表邪，宜升散；泄瀉日五六行，宜升散。</p>
<p>痧疹已出，壯熱不退，宜降火；嘔吐煩渴，吐出長蟲，宜降火；不食宜降火；熱盛爍金而喘，宜降火；鼻衄宜降火；小便不利宜降火；喉痛腮腫，牙痛口瘡，宜降火；牙疳臭爛，宜降火。</p>
<p>痧疹三四日後，大熱不退，宜養陰；紫點不收，宜養陰；脈來數大，宜養陰；夜熱心煩齘齒，宜養陰；音啞不清，宜養陰；目赤羞明，宜養陰；身癢便燥，宜養陰。</p>
<p>宜升散而不升散，重則頃成喘閉，輕則餘毒淹纏。宜降火而不降火，則肺胃受傷，或音啞煩渴，或牙疳口瘡。宜養陰而不養陰，則午後潮熱，肌膚瘦削，漸成疳證。</p>
<p>痧出總要表透，表一透，裡熱雖甚，清之可愈。表未透，毒陷於中，門戶一關，發表不可，養陰又不可，多致因循而死。</p>
<p>表透者，非皮毛之表，要從臟腑透。出沒得從容，才得表透。亦有火毒甚，外見繁紅，沒後猶作牙疳肺癰者，或鼻衄下痢者，臟腑之毒未透出也。</p>
<p>痧痘之毒由臟腑而出，雖已到表而根蒂在裡。解字從表，化字從里。表雖解而里不化，其為後患實多。</p>
<p>肺主皮毛，痧疹雖出於六腑，必從皮毛而解，故不離乎肺。解之不透，久咳潮熱，累成痧疳。此疳字非疳積之疳，因其潮熱肌瘦，有似乎疳耳。治宜潤肺為主，辛燥藥用不得。</p>
<p>解表之藥從陽分從氣分，其效速而易見。化毒之藥從陰分從血分，其效緩而難成。《金鏡錄》養陰退陽四字，治痧之要訣也。</p>
<p>養陰退陽，書用四物湯，余少時常習用之，多不獲效，以歸芎辛溫之性為不合也。因制生地、丹皮、麥冬、赤芍為痧疹四物湯，節節應手。古方不必盡泥，師其意可也。</p>
<p>痧後潮熱，最為可嫌。發在午後，天明退涼。退時脈平靜，發時脈數大。唇紅舌赤而無苔，咬牙揉鼻人漸瘦，每多不治。間有能食者，大劑養陰，可救一二。</p>
<p>胃為受毒之壑，遺熱甚多，其急莫如牙疳，牙疳是失清之證，必須大劑清裡。若便閉者可下之，使熱毒內泄，與痘後同治，余有勒馬飲方。甚者加大黃急下之。稍遲不但齒落腮穿，更有唇鼻皆爛者，塗藥不過幫扶而已。</p>
<p>痧後音啞者，多由火甚傷金，治宜甘、桔、牛蒡、山梔之屬。痧後口瘡治法同牙疳臭爛，與痘後同治。往年痧疹多不損目，邇來有損目者。其來甚速，二三日間，翳膜遮透，即不能治。緣兒本有肝熱，更加郁遏，或病家不知是火，飲以芫荽酒，遂令熱毒攻目。速宜清涼養陰退陽，不可再行疏散。</p>
<p>痧後咯吐膿血腥臭，有肺癰者，有胃癰者，皆肺胃遺毒為患。循經而出則為牙疳，著於臟腑則為癰也。治當辨其在肺在胃，余用甘、桔、牛蒡、銀花、料豆、枳殼、赤芍數味，在肺加山梔、貝母、桑皮，在胃加生地、花粉、木通以佐之，身無大熱者可治。</p>
<p>問：牙疳、肺癰可治者何也？此毒已化而出也。毒化而臟腑不敗者可治，臟腑敗者不能治也。</p>
<p>大人出痧疹十中二三，多有房室經產之患，大概輕輕一散，即宜養陰。麻黃、升麻、羌活等味，俱當慎用。</p>
<p>霖按：葉、許二君之論，審證定變，各有心傳，真綠文赤字之書，讀者當細心領會，作治疹圭臬，不可忽也。若泥執不化，率爾操觚，又為二君之罪人矣。</p>
<p>吳鞠通曰：若明六氣為病，疹不難治。但疹之限期最迫，只有三日，一以辛涼解透為主，如俗所用防風、廣皮、升麻、柴胡之類，皆在所禁。世俗見疹必表，外道也。大約先用辛涼清解，後用甘涼收功。赤疹誤用麻黃、三春柳等辛溫傷肺，以致喘嗽欲厥者，初用辛涼加苦桔梗、旋覆花上提下降，甚則用白虎加旋覆花、苦杏仁，繼用甘涼加旋覆花以救之，咳大減者去之。凡小兒連咳數十聲不能迴轉，半日方回，如水雞聲者，千金葦莖湯合葶藶大棗瀉肺湯主之。近世用大黃者，殺之也。蓋葶藶走肺經氣分，雖兼走大腸，然從上下降，而又有大棗以載之緩之，使不急於趨下；大黃則純走腸胃血分，下有形之滯，並不走肺，徒傷其無過之地故也。若固執病在臟瀉其腑之法，則誤矣。</p>
<p>章虛谷曰：每見治疹瘄，起首必用升麻葛根湯，世俗相沿，牢不可破。雖升散其毒不為大害，但止見其標不察其本，或證不應藥則茫然莫知其故。是以有屢用升提表散而瘄不出，竟不知其臟氣怯弱不能傳送毒氣，徒用表藥，耗散衛氣，毒更難出。或本無寒邪外閉腠理，而妄用麻黃大泄肺氣，至於鼻煽而喘，毒伏心腎，煩擾不安而死。醫者卒不悟其所以然，良由平日認定疹出於腑，及瘄毒在皮毛肌肉等說。既不究胎毒發源傳化之由，而見內毒不能外達者，反認作外毒內陷而謂無法可治。試思瘄毒如果本在肌肉，初治莫不先用升提表散其瘄，豈有不出之理？即或有外邪內食阻滯，亦必有證可辨，治之何難？其毒即非由臟而發，則臟氣本和，又用升表之藥，豈有外毒內陷之事乎？殊不知臟氣不能送毒傳化，雖用升表無益；而非外毒內陷，實是內毒未出。乃平素未明此理，亦可慨也。且起首必用升葛湯為定法，則不獨未明疹瘄源流，並將斑疹混而不分矣。汪訒庵升葛湯歌曰：斑疹已出慎勿使。可見將斑疹混治已久。世俗熟誦《湯頭歌》，授受流傳，以為定法，更無疑議。而不思升麻葛根，陽明之藥也，陽明主肌肉，邪熱閉鬱則成斑。斑者赤色成片，或如錦紋，捫之無形，不成顆粒。若未發透而用表散，則宜升葛湯。已發透而清裡，當用白虎湯。或兼內實積滯，宜承氣湯。至於疹瘄，雖有外感風溫，胎毒內發之殊，然皆由心肺兩經從營出衛，為血絡中病。因從毛竅而出，故有顆粒，與斑之由陽明而發於肌肉者迥異，奈何不分臟腑經絡，而以治斑之藥治疹，已非對證，而更不明疹瘄之源流傳化，欲求治法之善以愈病，不亦難乎？因其臟氣無虧，已經送毒外出，得升散之藥，因勢導之而成功者多，遂篤信初治必用升提表散，終不自覺法之未善。或遇臟氣怯弱，內毒不能外達，皆認作外毒內陷，歸於不治也。若知源流所自，辨其由外感由胎毒之殊，而按時透發者，原可不藥而愈。或不能透發，則必審其所因，或因外邪閉遏，或因內食阻滯，或因元氣怯弱，或宜升散，或宜通利，或宜補托，隨證而施，則斷不可拘執先用升散為定法也。豈可囿於前人之說，而不準之以理乎？明醫者，倘不以余言為河漢，或可備芻蕘之採。有司命之責者，胡可忽哉。</p>
<p>霖按：章氏此論，深明慎發表之義。其案中治稟氣怯弱，不能送毒外達之證，於辛涼透發劑內重加玄參；遇元陽不足者，則涼透中稍佐附子，皆有卓見。較馮楚瞻之全真一氣湯，精當多矣。</p>
<p>先哲論治病須辨三因，察六氣。愚意三因既辨，六氣已包括於中。痧疹伏毒為時厲感召，若能詳辨其內外二因，可不致操刃殺人。所謂內因者，命門伏藏胎毒是矣。然稟賦不一，未可拘牽。或多實熱，或本虛寒。或臟氣怯弱，表散太過，則火盛傷金；或腠理致密，失於宣托，則毒難外達。或貪房室，少陰不藏；或緣病後，元陽未復。或為痰滯，或為食積。或因勞傷而蓄血，或因生冷而損脾。或苦寒過劑，可溫補暫投；或辛燥劫津，而養陰難緩。所謂外因者，風寒暑濕燥火是矣。然須先明大運之轉移，後察當年司天在泉，及主客氣運之偏勝。惟是木火當旺，或多淫雨嚴寒；水土司權，常見飆風燥熱。亢害承製，救弊補偏，要未可一概論也。人之稟受不同，治法亦當各異。宜表宜清，宜攻宜補，辨明所因，庶免虛實寒熱之誤。張石頑曰：古人成法，雖當參詳診切，仍不能捨其繩墨。臨證之機，活法在乎心手，而繩墨又不可拘也。此千古不易之論，豈獨痧疹為然哉。</p>

<h1>卷四</h1>

<h2>運氣</h2>
<p>汪雙池曰：五運六氣，《內經》言之甚詳，而先儒或不之信。然以氣類推之，則亦或有然者，醫者不可以不考也。其不盡應，則所處有東西南北之殊。</p>
<p>如南方多暑，北方多寒，東方多風，西方多陰。</p>
<p>土地有燥濕高下之異。</p>
<p>處高則多風寒，處下則多濕熱。下濕則春夏之氣常存，高燥則秋冬之氣常存。</p>
<p>又有餘不足勝復郁發之際，每乍變其常，而非可一端盡。</p>
<p>如陽則有餘而氣先至，甲丙戊庚壬之歲也。陰則不足而氣後至，乙丁己辛癸之歲也。氣有餘則乘所勝而侮所不勝，如木盛則乘土而侮金，火盛則乘金而侮水，土盛則乘水而侮木，金盛則乘木而侮火，水盛則乘火而侮土也。氣不足則所勝侮之，所不勝乘之，如木不足則土侮之而金乘之，火不足則金侮之而水乘之，土不足則水侮之而木乘之，金不足則木侮之而火乘之，水不足則火侮之而土乘之也。氣乘所勝為勝，子復母仇為復，如以風勝濕，風勝清復；以暑勝清，暑勝寒復；以濕勝寒，濕勝風復；以清勝風，清勝暑復；以寒勝暑，寒勝雨復也。不足之歲則有勝復，有餘之歲則無之。鬱而發者，兩間之氣，有升有降，而或為司天在泉之氣所遏，則鬱而後發也。又主客相乘，有相生相剋，比和之不同，相生則氣和，相剋則氣暴，客克主為順，主克客為逆。又運氣迭推，有此盛彼衰，彼盛此衰，平歲之異。故化氣與司天之氣同則為天符，干支所屬之氣同則為歲會，化氣與在泉之氣同為同天符，地支所屬與在泉之氣同為同歲會。惟化氣及地支所屬，及司天之氣皆同，如戊午、乙酉、己丑、己未之歲，則曰太乙天符，其氣最烈。故運氣之變，又不可以一例盡也。</p>
<p>大抵如《周禮·內則》所云：春多酸，</p>
<p>春氣行而肝木旺，恐木氣過而侮金，故酸以瀉肝而補肺。</p>
<p>夏多苦，</p>
<p>夏氣行而心火旺，恐火氣過而侮水，故苦以瀉心而補腎。</p>
<p>秋多辛，</p>
<p>秋氣行而肺金旺，恐金氣過而剋木，故辛以瀉肺而補肝。</p>
<p>冬多咸，</p>
<p>冬令行而腎水旺，恐水氣過而剋火，故咸以瀉腎而補心。</p>
<p>調以甘滑。</p>
<p>甘土味，土兼成五行，甘兼補五臟，故四時皆用之。淡滑者滋味之本，得氣於大，故四時皆調以甘滑也。甘味多緩，亦能生濕痰，滑又以滲濕，故肝無患過緩矣。</p>
<p>是亦即《內經》所謂升降浮沉則順之，寒熱溫涼則逆之，毋伐天和之旨也。及夫多風、多暑、多雨、多熱、多涼、多寒之歲，則因時調燮，毋助其愆。</p>
<p>如多暑之歲則勿用熱藥、多寒之歲則勿用寒藥，多雨之歲則藥宜燥濕，多風之歲則藥宜祛風。俗有云：春不麻黃夏不蘇。亦是此意，但不可泥耳。</p>
<p>因變制宜，常非可泥。</p>
<p>如寒水司天之年，或未必寒而反酷暑；君火司天之年，或未必熱而反多寒；濕土之年，或未必雨而反多晴。此多由勝復之變，氣運相違。又高土少濕多寒，下濕少寒多濕，則又各因其地也。</p>
<p>蓋時行之證，必謹察乎歲氣所偏。如病自人生，則氣運或所不同。</p>
<p>時行之證，即六淫也。如春而痟首，夏而瘡疥飧泄，秋而病瘧，冬而咳逆，及歲或大溫、大疫、大寒之類，是多歲氣所偏之變。若病自人生，則如七情之傷，及飢飽勞役所致，是無關於氣運。其當熱當寒，當補當瀉，無問歲氣時候。故隆冬而用寒藥，盛夏而用熱劑者，亦有之，歲氣豈可盡拘乎？但人之臟氣有偏者，則亦每因歲氣所偏而併發，是又所宜兼考也。</p>
<p>如懵不知有五運六氣之說，則又何以能因時制治，而不至於伐天和也。《內經》所載，反復詳悉，學者或未能盡識，此撮其大略於篇，俾學者知所考焉。</p>
<p>十干化氣</p>
<p>甲己化土，所謂黅天之氣，甲年為太過，己年為不及。</p>
<p>甲己之年，首丙寅月，丙火生土，故甲己化土。化氣者，其所生之氣也。</p>
<p>乙庚化金，所謂素天之氣，乙年為不及，庚年為太過。</p>
<p>乙庚之年，首戊寅月，戊土生金，故乙庚化金。</p>
<p>丙辛化水，所謂元天之氣，丙年為太過，辛年為不及。</p>
<p>丙辛之年，首庚寅月，庚金生水，故丙辛化水。</p>
<p>丁壬化木，所謂蒼天之氣，丁年為不及，壬年為太過。</p>
<p>丁壬之年，首壬寅月，壬水生木，故丁壬化木。</p>
<p>戊癸化火，所謂丹天之氣，戊年為太過，癸年為不及。</p>
<p>戊癸之年，首甲寅月，甲木生火，故戊癸化火。</p>
<p>化氣自寅月，地氣始升於上也。</p>
<p>寅月而三陽出於地上，是地氣始升也，故化氣自寅月數。或謂逢龍則化者，非是。</p>
<p>歲運由是推焉。</p>
<p>每歲三百六十五日零三時，分為五氣，則每氣行七十二日三時有奇。如立春後為初運，至清明後十二日余而交二運，至夏至後八九日間而交三運，至處暑後二十日余而交四運，至立冬後二三日間而交五運。故五運自寅月始主運，歲歲皆然。以木為初運，火為二運，土為三運，金為四運，水為五運。客運，如甲年則初運太宮土，二宮少商金，三運太羽水，四運少角木，終運太徵火。乙年，初運少商金，二運太羽水，三運少角木，四運太徵火，終運少宮土。丙年，初運太羽水，二運少角木，三運太徵火，四運少宮土，終運太商金。丁年，初運少角木，二運太徵火，三運少宮土，四運太商金，終運少羽水。戊年，初運太徵火，二運少宮土，三運太商金，四運少羽水，終運太角木。己年，初運少宮土，二運太商金，三運少羽水，四運太角木，終運少徵火。庚年，初運太商金，二運少羽水，三運太角木，四運少徵火，終運太宮土。辛年，初運少羽水，二運太角木，三運少微火，四運太宮土，終運少商金。壬年，初運太角木，二運少徵火，三運太宮土，四運少商金，終運太羽水。癸年，初運少徵火，二運太宮土，三運少商金，四運太羽水，終運少角木。</p>
<p>六氣參錯其間，或則相助，或則相制，而變化紛矣。</p>
<p>十二支合化。</p>
<p>子午少陰君火，</p>
<p>火胎於子而旺於午，天地之經位，嚮明而治，故為君火。火而謂之少陰者，至午位而陰己萌，陰以始生為少也。君火本也，少陰標也。</p>
<p>應在腎心，</p>
<p>腎應在子，心應於午。腎為足少陰經，心為手少陰經。</p>
<p>子對化，午正化也。</p>
<p>子非火位，而對化為火。正化火有餘，對化火不足。</p>
<p>丑未太陰濕土，</p>
<p>二支自是土位，然土旺四季，辰戌丑未皆土，而獨主丑未者，土為太陰，丑未陰支，若辰戌則陽支也。土生於火，則依母在未，水為土配，則依妻在醜。土為太陰者，陰以極盛為太也。濕土本也，太陰標也。</p>
<p>應於肺脾。</p>
<p>肺應在醜，醜為金庫。脾應在未，土之正位。肺為手太陰經，脾為足太陰經。</p>
<p>醜對化，未正化也。</p>
<p>肺非土，而對化為土，其濕同。正化土有餘，對化土不足。</p>
<p>寅申少陽相火，</p>
<p>火生於寅而病於申，木旺於寅而胎於申。相火者，方生之火而行於木，為龍為雷，故寅申為相火。君居正位，相助其旁也。方生之火，火不相附，故為少陽。相火本也，少陽標也。</p>
<p>應於膽三焦。</p>
<p>膽應在寅，寅木火之位，膽木實行相火之氣，猶震木雷火也。三焦應在申，申為水長生之地，三焦行相火，而實水道之官也。膽為足少陽經，三焦為手少陽經。</p>
<p>寅正化，申對化也。</p>
<p>申非火，而對化為火。正化火有餘，對化火不足。</p>
<p>卯酉陽明燥金，</p>
<p>金胎於卯而旺於酉，地經南方火位，而革陽從陰，是為燥金。金而謂之陽明者，陽盡顯於外而嚴肅剛明也。燥金本也，陽明標也。</p>
<p>應在胃大腸。</p>
<p>胃應在卯，卯與未合，胃與脾合，以木從土，實行肝氣，而其腑主藏納，故又從金。大腸應在酉，酉金之正位，而酉與醜合，大腸與肺合，金實生於土也。胃為足陽明經，大腸為手陽明經也。</p>
<p>卯對化，酉正化也。</p>
<p>卯非金，而對化為金。正化金有餘，對化金不足。</p>
<p>辰戌太陽寒水，</p>
<p>水庫在辰，火庫在戌，而戌當乾位，乾為寒為冰，故辰戌為寒水。水而謂之太陽者，水居五行之始，陽氣之元也，陽以始為太，故曰太陽。寒水本也，太陽標也。</p>
<p>應在膀胱小腸。</p>
<p>膀胱應在辰，膀胱津液之腑，辰與申子和，膀胱與腎合。小腸應在戌，小腸沁別水穀，滲入膀胱，戌與寅午合，小腸與心合而從水化。膀胱足太陽經，小腸手太陽經也。</p>
<p>辰正化，戌對化也。</p>
<p>戌非水，而對化為水。正化水有餘，對化水不足。</p>
<p>巳亥厥陰風木，</p>
<p>木病於巳而生於亥，巳當巽位，巽為風為木，故巳亥為風木。而謂之厥陰者，陰至下極，物極則反，必逆而復上，故冬至陽生，為生木之始，陰以逆為厥也。風木本也，厥陰標也。</p>
<p>應在心包肝。</p>
<p>心包應在巳，肝應在亥。心包為手厥陰經，肝為足厥陰經。</p>
<p>已對化，亥正化也。</p>
<p>巳非木，而對化為木。正化木有餘，對化木不足。</p>
<p>六氣行自醜半，地闢而天氣通也。</p>
<p>天開於子，地闢於醜，地闢而天地通，故六氣自大寒始，十干屬天，而五運行氣於地，地在天中而亦常承天者也。十二支屬地，而六氣加臨自天，天包地外以運行氣交地中也。昔人分配多失其義，茲特為詳正之。</p>
<p>歲氣以是行焉。</p>
<p>主氣歲歲所同，客氣每年各異。</p>
<p>主氣錯於四時，而陽贏陰乏。</p>
<p>主氣歲自大寒，厥陰風木始行，至春分而止。自春分後，少陰君火氣行，至小滿而止。自小滿後，少陽相火氣行，至大暑而止。自大暑後，太陰濕土氣行，至秋分而止。自秋分後，陽明燥金始行，至小雪而止。自小雪後，太陽寒水始行，至大寒而止。此每歲主氣之常。客氣加臨，則因歲支而變。但主氣則濕土行相火之後，客氣則濕土居二火之間。大寒尚在冬日，而風木之氣已行，至濕土猶挾暑令，故曰陽常贏。秋分後而燥金之氣始行，及大寒而寒水之令遂改，故曰陰常乏。木火陽也，金水陰也。</p>
<p>客氣因歲推移，加臨主氣之上，而順逆和乖焉，則因為民病。</p>
<p>客氣克主氣為順，主氣克客氣為逆。主客同氣，而或相生為和，相剋為乖。然氣運不及則以相生相助為得其平，氣運太過而復生之助之則愈厲矣。此在民病所以有寒風暑火燥濕之淫也。</p>
<p>是故升降浮沉則順之，寒熱溫涼則逆之，所以調燮天和也。</p>
<p>六氣有司天在泉之氣，有左間右間之氣，迭為升降浮沉。氣有鬱而不得升者則為升之，有阻而不能降者則為降之。如木鬱達之，火鬱發之，土鬱奪之，金鬱泄之，水鬱折之之類是也。其以寒治熱，以熱治寒，溫則涼之，涼則溫之，則所謂逆之也。</p>
<p>是故歲在子午，少陰君火司天，陽明燥金在泉。</p>
<p>司天之氣統主一歲，又三氣以前司天之氣主之，四氣以後在泉之氣主之。又人身自天樞以上天氣主之，自天樞以下地氣主之，天樞之際中氣主之。天樞謂當臍也，中氣即主氣也。</p>
<p>初之氣，太陽寒水。</p>
<p>在泉左間之氣，客氣生主氣，多風。</p>
<p>二之氣，厥陰風木。</p>
<p>司天左間之氣，客氣生主氣，多溫。</p>
<p>三之氣，少陰君火。</p>
<p>司天之氣，二火合炎，多暑。</p>
<p>四之氣，太陰濕土。</p>
<p>司天右間之氣，主客皆土，多濕熱雨。</p>
<p>五之氣，少陽相火。</p>
<p>在泉右間之氣，客克主，火傷金，肺病。</p>
<p>終之氣，陽明燥金。</p>
<p>在泉之氣，客氣生主氣，多清寒。</p>
<p>甲子甲午。</p>
<p>火生土，多熱濕。</p>
<p>丙子丙午。</p>
<p>丙子歲會，水勝火，氣平。丙午，干支皆火，多熱濕。</p>
<p>戊子戊午。</p>
<p>天符歲熱，戊午太乙天符，熱甚多疫，腎肺皆病。</p>
<p>庚子庚午。</p>
<p>金氣盛，歲平，多燥。</p>
<p>壬子壬午。</p>
<p>風火相助，多風溫，多熱疫。</p>
<p>五運參錯考之，以察民病焉。</p>
<p>雖不必盡泥，要不可不知也。</p>
<p>歲在丑未，太陰濕土司夭，太陽寒水在泉。</p>
<p>說已見上。</p>
<p>初之氣，厥陰風木。</p>
<p>主客同氣，多風。</p>
<p>二之氣，少陰君火。</p>
<p>主客皆火，早熱生濕。</p>
<p>三之氣，太陰濕土。</p>
<p>主氣生客氣，濕熱大行。</p>
<p>四之氣，少陽相火。</p>
<p>客氣生主氣，熱濕大行。</p>
<p>五之氣，陽明燥金。</p>
<p>主客同氣，熱濕始平。</p>
<p>終之氣，太陽寒水。</p>
<p>主客同氣，民多寒疾。</p>
<p>乙丑乙未。</p>
<p>土生金，金氣平。</p>
<p>丁丑丁未。</p>
<p>木氣不足，土侮木鬱。</p>
<p>己丑己未。</p>
<p>太乙天符，濕氣大行，多雨多腫脹。</p>
<p>辛丑辛未。</p>
<p>土壅水，水不足，多寒濕擁。</p>
<p>癸丑癸未。</p>
<p>火生土，火不足，多寒濕。</p>
<p>五運參錯考之，以察民病焉。</p>
<p>歲在寅申，少陽相火司天，厥陰風木在泉。</p>
<p>是歲風火相助，肝膽為病。</p>
<p>初之氣，少陰君火。</p>
<p>主氣生客氣，風溫早作。</p>
<p>二之氣，太陰濕土。</p>
<p>主氣生客氣，濕熱大作。</p>
<p>三之氣，少陽相火。</p>
<p>二火合炎，火氣大行，民多內熱。</p>
<p>四之氣，陽明燥金。</p>
<p>火氣始平。</p>
<p>五之氣，太陽寒水。</p>
<p>主氣生客氣，清早寒。</p>
<p>終之氣，厥陰風木。</p>
<p>主氣生客氣，早寒多寒風。</p>
<p>甲寅甲申。</p>
<p>木火土交助，濕熱較盛。</p>
<p>丙寅丙申。</p>
<p>歲平，丙寅木火得氣，丙申火令反減。</p>
<p>戊寅戊申。</p>
<p>天符，相火盛炎，肺腎交病。</p>
<p>庚寅庚申。</p>
<p>歲平，庚申木火反衰。</p>
<p>壬寅壬申。</p>
<p>風木相火相益助歲，風熱大作。</p>
<p>五運參錯考之，以察民病焉。</p>
<p>歲在卯酉，陽明燥金司天，少陰君火在泉。</p>
<p>外寒內熱。</p>
<p>初之氣，太陰濕土。</p>
<p>主氣克客氣為逆，風濕並作。</p>
<p>二之氣，少陽相火。</p>
<p>二火合炎，金反不勝。</p>
<p>三之氣，陽明燥金。</p>
<p>主氣逆在天之氣，金反不勝，多郁暑瘧痢。</p>
<p>四之氣，太陽寒水。</p>
<p>主氣克客氣為逆，寒雨並作。</p>
<p>五之氣，厥陰風木。</p>
<p>主氣克客氣為逆，風氣清冷。</p>
<p>終之氣，少陰君火。</p>
<p>主氣克客氣為逆，蛇蟲不蟄。</p>
<p>乙卯乙酉。</p>
<p>天符乙卯，得木氣平。乙酉太乙天符，金令燥氣大行。</p>
<p>丁卯丁酉。</p>
<p>歲會氣平，金反弱。</p>
<p>己卯已酉。</p>
<p>土生金，燥金盛。</p>
<p>辛卯辛酉。</p>
<p>金助水，多清寒。</p>
<p>癸卯癸酉。</p>
<p>火平，金亦不盛。</p>
<p>五運參錯考之，以察民病焉。</p>
<p>歲在辰戌，太陽寒水司天，太陰濕土在泉。</p>
<p>歲多寒濕。</p>
<p>初之氣，少陽相火。</p>
<p>客主相助，蟄蟲早出。</p>
<p>二之氣，陽明燥金。</p>
<p>主氣克客氣，逆，旱氣早熱。</p>
<p>三之氣，太陽寒水。</p>
<p>客氣克主氣，歲不暑而熱，氣多內郁。</p>
<p>四之氣，厥陰風木。</p>
<p>客氣克主氣，寒濕相夾。</p>
<p>五之氣，少陰君火。</p>
<p>客氣克主氣，肺金受傷，咳。</p>
<p>終之氣，太陰濕土。</p>
<p>客氣克主氣，寒濕相搏。</p>
<p>甲辰甲戌。</p>
<p>歲會，木土氣足水平。</p>
<p>丙辰丙戌。</p>
<p>天符，歲大寒，丙戌寒減。</p>
<p>戊辰戊戌。</p>
<p>水火平。</p>
<p>庚辰庚戌。</p>
<p>金生水，歲多清寒。</p>
<p>壬辰壬戌。</p>
<p>水生木，歲多寒風。</p>
<p>五運參錯考之，以察民病焉。</p>
<p>歲在己亥，厥陰風木司天，少陽相火在泉。</p>
<p>風火相助。</p>
<p>初之氣，陽明燥金。</p>
<p>客氣克主氣，萌芽多枯蔞。</p>
<p>二之氣，太陽寒水。</p>
<p>客氣克主氣，草木不生穟。</p>
<p>三之氣，厥陰風木。</p>
<p>暴風大熱，風疫並作。</p>
<p>四之氣，少陰君火。</p>
<p>客氣生主氣，熱濕大行。</p>
<p>五之氣，太陰濕土。</p>
<p>客氣生主氣，冷雨悽清。</p>
<p>終之氣，少陽相火。</p>
<p>主氣克客氣，逆，蛇蟲復出。</p>
<p>乙巳乙亥。</p>
<p>金剋木，金亦不盛，木氣平。</p>
<p>丁巳丁亥。</p>
<p>天符，風木大盛，脾病。</p>
<p>己巳己亥。</p>
<p>木勝土，土病。</p>
<p>辛巳辛亥。</p>
<p>水生木，多寒氣。</p>
<p>癸巳癸亥。</p>
<p>木火相助，風熱大盛。</p>
<p>五運參錯考之，以察民病焉。</p>
<p>而又驗之五緯。</p>
<p>五星也，如金勝木則歲星失色，木勝土則鎮星失色，土勝水則辰星失色，水勝火則熒惑失色，火勝金則太白失色之類是也。</p>
<p>候之八風。</p>
<p>東風曰明庶風，應在春分；東南風曰清明風，應在立夏；南風曰景風，應在夏至；西南風曰涼風，應在立秋；西風曰閶闔風，應在秋分；西北風曰不周風，應在立冬；北風曰廣莫風，應在冬至；東北風曰條風，應在立春。各以時節應方而至則為順。其有沖逆，則水旱作焉，民病生焉。</p>
<p>參之雲氣。</p>
<p>如霾、霧、背、玦、暈、珥之類。</p>
<p>《周禮》馮相氏職焉，以參之診脈，則又有南政北政之殊。</p>
<p>凡太陽脈浮，陽明脈長，少陽脈弦，太陰脈緩，少陰脈微，厥陰脈澀。此亦應時而至，至當其時，合於主客之氣，皆無庸遽為詫異。而少陰脈微，故凡歲少陰所在，其脈多不應，不足為病，毋誤施治也。南政北政者，惟甲己之歲，主中央土，人君之位，故六氣皆南面而定其位。司天之氣在寸，在泉之氣在尺，如君火在下左間，則左尺不應；君火在上左間，則左寸不應；君火司天，則兩寸皆不應；君火在上右間，則右寸不應；君火在下右間，則右尺不應；君火在泉，則兩尺俱不應也。若乙庚、丙辛、丁壬、戊癸之歲，則皆人臣就北面位，故六氣皆北面而定其位。司天之氣在尺，在泉之氣在寸，如君火在下左間，則右寸不應；在上左間，則右尺不應；在司天則兩尺皆不應；在上右間，則左尺不應；在下右間，則左寸不應；君火在泉，則兩寸不應。</p>
<p>霖按：《素問·至真要大論》：厥陰之至，其脈弦；少陰之至，其脈鉤；太陰之至，其脈沉；少陽之至，大而浮；陽明之至，短而澀；太陽之至，大而長。至而和則平，至而甚則病，至而反者病，至而不至者病，未至而至者病。陰陽易者危。此言脈應節候。當至則至者，其氣和平無病也；當至不至者，氣不及也；未至而至者，氣有餘也，故皆曰病。若陰位見陽脈，陽位見陰脈，是陰陽易位，二氣交錯，故曰危。汪氏所論六氣之脈，與經文不合，或別有見解，未敢臆斷。然皆統言六氣，主客未分，學者當以意消息，不可膠柱鼓瑟也。兼候之太衝、神門、衝陽、太淵、太谿之部。</p>
<p>太衝肝脈，動見足大指本節後二寸陷中。木病之年，太衝脈絕，死不治。神門心脈，動見手小指掌後銳骨端。火病之年，神門脈絕，死不治。衝陽胃脈，動見足跗背上陷中。土病之年，衝陽脈絕，死不治。太淵肺脈，動見即今寸關尺三部。金病之年，大淵脈絕，死不治。太谿腎脈，動見足內踝下半寸陷中。水病之年，太谿脈絕，死不治。是凡此諸動脈，醫者皆當兼診，而今人獨知有太淵一部，其於病情不能無失者，蓋多矣。彼此參互，以謹於未病之先，察乎致病之源，暨於既病，乃見其情，以從施苦欲補瀉，浮沉升降，寒熱溫涼之劑。噫，而豈易言哉。匪達於天人性命之原，審夫陰陽闔闢之機者，其或無輕言醫也。</p>
<p>霖按：《內經》曰：必先歲氣，毋伐天和。此但就逐年之歲氣言之，而六十年之歲氣亦不可不講也。考陸九芝先生《大司天三元甲子表》，引《內經》七百二十氣，凡三十歲為一紀，千四百四十氣。凡六十歲為一周，擴而大之，以三百六十年為一大運，六十年為一大氣。五運六氣迭乘，滿三千六百年為一大周天。由黃帝八年起第一甲子，下元前三十年一紀，為厥陰風木；後三十年一紀，為少陽相火。黃帝六十八年第二甲子，上元前一紀，少陰君火；後一紀，陽明燥金。少昊十八年第三甲子，中元前一紀，太陰濕土；後一紀，太陽寒水，少昊七十八年第四甲子，下元前一紀，少陽相火；後一紀，厥陰風木。顓頊五十四年第五甲子，上元前一紀，陽明燥金；後一紀，少陰君火。帝嚳二十九年第六甲子，中元前一紀，太陽寒水；後一紀，太陰濕土。帝堯二十一年第七甲子，下元又復厥陰風木、少陽相火。由此類推，風木、相火、君火、燥金、濕土、寒水，相火、風木、燥金、君火、寒水、濕土，迭相推算。至宋高宗紹興十四年，為第六十五甲子，上元值燥金、君火用事。劉守真乃金大定間人，與張易水同時，皆主用寒涼，燥火用事故也。錢仲陽治痘多用清法，亦同。其時東垣雖為易水高弟，值宋寧宗嘉泰四年，乃第六十六甲子，寒濕用事，故宜於溫。陳文中治痘每用異功、木香等散，專事溫補，與東垣同為六十六甲子，寒濕用事時也。王海藏《陰證略例》純用溫藥，書成於金馬貞氏稱制之三年，是仍在嘉泰甲子中。丹溪生於元至元，卒於至正，值泰定元年第六十八甲子，火燥用事，故宜於清。至明汪石山《痘證理辨》，自序於嘉靖九年，其治皆主於涼，乃在弘治十七年，第七十一甲子燥火運中，有宜然者。洎乎嘉靖末年，下逮隆、萬，苦寒之弊，層見迭出，故萬密齋、張景岳、聶久吾輩，莫不以溫補為事。此在嘉靖四十三年，第七十二甲子寒濕運中也。天啟四年，第七十三甲子，風火主令，此後費建中、吳又可、周禹載等專主寒涼。國朝康熙二十三年，第七十四甲子，火燥運中，故費書猶行於康、雍之間。乾隆九年交七十五甲子，濕寒之運，維時毗陵莊在田《遂生編》、《福幼編》等書出，有切戒寒涼之論，盛行於時。嘉道以後，莊公之法投而不驗，每遇痘痙等證，多主清熱解毒、瀉火墜痰。殊不知嘉慶九年，第七十六甲子，火風用事；同治三年，第七十七甲子，燥火用權，是濕寒治法不可施諸風燥二火運中耳。愚意痘疹時疫，每與運氣相應，但風火運中若遇虛寒之體，又未便拘牽此說。況地形有南北高下之不同，人身有稟賦強弱之各異，治病之法全在通達之士隨機應變。是運氣之理不可不明，而又未可泥執也。</p>

<h2>選案</h2>
<p>萬密齋治案云：甘大文從余學醫，長男發熱。余見之曰：疹也。三日之內不出，身涼內熱，毒火內伏，故煩而坐臥不安也。不急治且危。文泣求醫。余乃用葛根湯加麻黃、石膏以發之，一服疹盡出，色白不紅。余曰：此血虛也。用四物湯加防風，一服色變紅，隨愈。</p>
<p>又云：吳道松四肢病疹，或治之三日，疹不出，煩躁甚，欲用荊防敗毒散。曰：此皆發熱之藥，無解毒之用，況天大熱，又無時令之藥一二味在內，則陽愈勝，陰愈虧，陽明不和，此疹之所以不出也。以東垣涼膈散加玄參、升麻，一服疹出，三日起。</p>
<p>又云：鄖陽楊舉人子，疹後利下鮮血，余授一方，用當歸梢、生地黃、白芍藥、炒條芩、炒黃連、人參、生甘草、枳殼、烏梅肉，調理而安。時郡中出疹，但病利血者，楊公授此方，皆效。</p>
<p>又云：同郡周小川，族人一小女疹後咳嗽失聲。余授一方，以甘桔湯加炒牛蒡子、炒枯芩、天花粉作散，薄荷葉湯調，再煎一沸，服之而愈。</p>
<p>孫東宿治案云：萬曆甲戌，其年自仲秋徂冬，瘄子盛行。三月內，余所治男婦嬰孩共七十二人。苕之望族，沈姓最著。大中丞觀頤公當考功時，幼君瘄喘嗽不寧，聲啞發熱，泄瀉，斑紫不斂，余以小無比散愈之。</p>
<p>又云：程曉山中風，歸而逆余診。時其子僅七歲，中疹一月餘矣，發熱如故，咳嗽聲啞，肌削骨立，頭髮盡禿，眾醫束手，舉家亦墮淚而已。余以診，曉山見之曰：舉家驚惶，謂此兒不保耶。此疳證，疳因疹後虛熱而發，以大蘆薈丸治之，可獲萬全。君家初不問余者，謂余非幼科專門也。不知此特大方家餘事，而為製藥服之，藥未盡而病瘳。</p>
<p>江應宿治案云：一兒三歲，患疹出遲而早沒，熱而咳嗽，昏悶不食。余診視曰：疹出不透，因風寒沒早，宜急發之，以蔥煮麻黃八分，四物換生地加杏仁、天花粉、蔥、姜，煎服。重複出一身，比前更多，三日沒盡而愈。凡疹證出自六腑，宜養陰抑陽，剛劑決不可服。犯之即發喘渴悶亂，失於收救，多致夭折。如參、耆、半夏、白朮、當歸溫燥之藥，亦所當忌。只宜清熱養血。如出遲者，少加升散之藥送之，達表而已。</p>
<p>又云：表侄女九歲，出疹沒早，發咳嗽，大發熱，肌瘦，不飲食，唾嘔痰沫甚多，延半月餘。余往視之曰：血虛病也。以四物湯加杏仁、阿膠、麥冬、五味、炮姜，一服熱退身涼，痰咳俱止，再劑而愈。</p>
<p>方蔭山治案云：程氏子二歲，出疹因出遲沒早，發喘大熱，舌短不乳，昏沉，醫皆不治。余以玄參、茯苓、甘草、麥冬、升麻、陳皮、乾葛、麻黃、兜鈴、黃芩、知母、犀角、石膏，名曰犀角石膏湯，一服證減半，二服愈。</p>
<p>《太函集》云：吳橋以醫名里中，有兄子始孩，屢日發熱蒸蒸，驚搐昏憒，眾醫不知所出。橋診之曰：疹也，寒邪外乘，閉而不出，是呱呱耳。飲藥也已數，中氣乃傷，藥不足恃也。當置沸湯一瓶，撤其蓋，令保母抱子坐湯側稍遠，攤被圍之，湯氣自遠熏蒸，少飲藥內托，疹出而解。無何，叢睦汪氏子病如之，仍用向法，並效。其穩類如此，故鄉人稱良焉。</p>
<p>繆希雍治案云：賀知忍少子病痧疹，家人不知，尚以肉飯與之。余適至，驚曰：此痧疹之極重者，何易視之。以西河柳兩許，雜以玄參三錢，知母五錢，貝母三錢，麥門冬兩許，石膏兩半，竹葉七十片，二劑而痧盡。現遍體皆赤，連進四劑，薄暮矣。知忍曰：兒今無恙乎？余曰：痧雖出盡，煩躁不止，尚不可保。再以石膏三兩，知母一兩，麥門冬三兩，加黃芩、黃連、黃柏各五錢，西河柳一兩，竹葉二百片，濃煎飲之，煩躁遂定而瘥。</p>
<p>霖按：繆氏西河柳用如許之多。獨不慮其溫升太過乎？</p>
<p>每用輒以石膏監製，殆即仲景麻黃、石膏同用之意也。雖然，遇稟賦怯弱之兒，險矣。</p>
<p>朱濟川治案云：一兒元月發疹，身肢隱見不振，而頭面不出，面色青白，喘脹悶亂，右寸脈微。余謂正氣虛不能逐邪上升於頭面，宜補益而助升發為主，以麻黃桂枝湯加人參二錢，水煎服。又以芫荽、防風煎湯，浴洗頭面手足，疹透證平而愈。</p>
<p>又云：一兒疹正出而恣食停滯，腹飽便秘，壯熱譫語。余謂食壅而毒不化，以大黃、枳實、栝蔞仁、厚朴、甘草、黃連利之，而尚喘嗽壯熱，脈遲肢冷，以附子理中湯，又歸芍六君子湯治之愈。</p>
<p>又云：一兒身熱咳嗽，疹出隱隱，醫以疹藥發之，不見不沒。余謂隱疹也，由客受風寒，鬱而不散，非若中腑之正疹也。以芎蘇散治之愈。</p>
<p>又云：一兒疹出彌盛，形如錦紋，而間有頭粒色赤，壯熱煩躁，舌苔，便秘。余謂斑疹並行，以調胃承氣湯利之，又白虎湯合葛根湯治之愈。</p>
<p>又云：一兒身熱疹出吐瀉，余謂初出疹而吐瀉者，乃陽火得泄，吉兆也。以升麻葛根湯表之，疹盡透而愈。亦有兼傷食吐利者，前方加消化之藥。</p>
<p>又云：一女出疹，藥用寒涼，又食生梨，一二疹即殞沒，喘急胸滿，面青肢冷，眼合聲啞，昏暈。余謂毒為寒鬱，反毒內攻而然也。以麻黃湯加葛根、紫蘇、甘草、桔梗、生薑服之，外以被覆，得汗而蘇。疹復出，喘甚於前。余謂驟用麻黃燥烈之藥，致毒火盛而肺氣熱也，宜清潤之，以甘草、桔梗、牛蒡、前胡、杏仁、玄參、知母、天花粉、黃芩、麥門冬治喘息而愈。</p>
<p>又云：一娠婦疹出熱甚，墮胎而難產。余以魚膠三寸燒灰存性，麝香一分，共研末，好酒調下，即產。若難之甚，及橫生，用魚膠一尺，制如前法，雖立產其子，不能生矣。</p>
<p>又云：一孕婦疹出熱甚，小腹痛而漏血。余謂熱盛觸動其胎，以升麻葛根湯加荊芥、紫蘇、條芩、當歸、川芎、阿膠、白朮、陳皮、砂仁治之，血止愈。亦有不同前治，胎墮而子母俱亡，或子亡母存。</p>
<p>又云：一兒疹雖盡出，而喘脹便秘，壯熱譫語。余謂毒壅不盡出，以黃連、枳實、栝蔞仁、桑白皮、地骨皮、知母、石膏、人中黃治之愈。</p>
<p>又云：一兒疹後咽喉腫痛，余謂餘毒不解，以甘桔湯加牛蒡、射干、玄參、連翹、知母治之，又葛槿散吹之而愈。</p>
<p>又云：一子新婚出疹後，痰嗽不已。眾謂餘毒不盡，用清解藥而痰愈熾。余謂陰虧而火炎無制，故午後潮熱而咳甚也。治宜壯水為主，以六味地黃丸料，加麥冬、知母治之愈。</p>
<p>又云：一兒疹後乾咳嗽不續，余謂醫過發散，致肺氣虛耗，以小異功散加麥門冬、五味子、貝母、桔梗治之愈。</p>
<p>又云：一兒疹後走馬牙疳，齦潰穿鼻，諸醫不效，余以黃牯牛糞後尖，瓦上煅存性，為末，人中白煅為末，黃柏為末，等分，和勻，吹之，潰竅漸長，齦齒俱生而愈。</p>
<p>又云：一兒疹後乾咳不已，余謂疹時過於解散，肺氣虛耗，宜補脾肺為主。不信，只以清火止嗽藥，其背漸駝，腿足細小，終身痼疾。亦有嗽久而胸高腫滿，狀如龜胸。啟云先生曰：疹後久嗽則金衰，金衰不能生腎水，腎主骨髓，腎無生氣，則骨枯而髓減，風寒乘虛而入於髓，其邪凝滯，故腰脊不舉而為斯疾也。治法先以防風散驅其邪，又八味地黃丸加人參、杜仲、牛膝、當歸、石斛、何首烏、米仁、菟絲子、萆薢、鹿茸蜜丸，又以驅風壯筋活血膏貼其凸處，又灸肺俞穴、膈俞穴。一兒患此，余診右脈緩弱，謂脾肺不足，先以人參、白朮、茯苓、陳皮、甘草、貝母、當歸、芍藥、米仁、石斛，水煎服，脾土稍固，又以前方法治之，腿足漸而生肉，背駝稍愈，但不能脫然如故。</p>
<p>沈明生治案云：沈翰臣婦咳嗽發熱，或認為不足，遽用六味地黃湯以滋陰分，既而咳逆更劇。診之脈浮且數，風熱干乎肺家，宜用疏表之劑，服下遍身發出紅疹。二劑咳差緩而仍未透，更用辛涼等味，以清表熱，仍嗽，復作瀉不已，咸歸咎寒涼。余笑曰：非也，肺受風邪，邪變為熱。經云：邪並於陽，則陽熱而陰虛。始則疹在欲出未出之際，火上炎於手太陰而作嗽；今則疹在欲收未收之時，熱下移於手陽明而作瀉。是屬斑疹家常候，何足怪乎？行且止矣。果越兩日而嗽寧瀉止，身涼疹退。按斑疹之候雖異，斑疹之治略同。是歲丁未，濕土司天，而春夏之交，燥旱殊甚，蓋猶襲乎昨歲燥金在泉之餘氣耳。是以初當涼解而不利乎溫散，次當寒潤而不利於溫補。六味地黃丸之屬，雖若相宜，然質獨味厚，不惟不能達表，抑且錮蔽外邪，施諸疹退而餘熱未清之時，稍為近理。今初熱始嗽，輒為用之，是非滋陰乃滋害也。況以丸為湯，已非古人本意，而專投泛用，尤乖病變之機。自來善用六味者無過薛立齋，假使九泉有知，視近日之湯法盛行，能無掩口胡盧哉。</p>
<p>柴嶼青治案云：候補汪某年二十餘，因感時氣出疹，過服石膏等劑，身熱泄瀉，兩耳皆聾，絕不思食，脈之兩尺微弱，舌上乾燥，毫無津液。本屬陰虧，況大寒之劑，不但傷陽，亦且傷陰。用麥冬五錢，滋陰以清虛熱，陳皮以和胃氣，加西河柳一錢，以清疹毒。次日熱微瀉止，舌亦覺潤，惟左寸脈微洪，加小生地二錢，木通一錢，菊葉一錢，三日熱退思食。因是月應選，身軟耳聾，慮不能過堂掣籤。謂已平復十九日，當投補劑，定可全愈。後果如言，竟得赴選。</p>
<p>馮楚瞻治案云：沈氏兒發熱數日，見痧疹才一日，面上盡沒，神氣困極，蛔從口出，不一而足，數日不食，下瀉上喘，唇口焦裂，五心壯熱，手足指尖皆冷，脈細數無倫，兩尺更弱，咸謂疹毒歸臟，胃熱故蛔連出也。不知神氣欲脫，五臟俱困，脾虛不能納穀，蟲無所食，又兼虛火熏蒸，臟腑燥熱，蟲不安而出耳。況諸斑疹多由內傷失調，脾胃不足以榮，是以陽氣逆行，陰覆於外。血盛氣壯，則色紅而焮發；血虛氣弱，則色白而隱伏。有何毒之輕重乎？面上退縮者，陽虛不能升發也；喘促者，氣唯續也；唇焦者，脾津耗竭也；五心壯熱者，陰虧火爍也；泄瀉不食者，真火衰而脾不運也；寸關細數尺弱者，氣虛血虛，虛火上浮而不藏也。急則治標，緩則治本。今者之急，本氣欲脫也。倘謂痧疹餘毒，解利清托，恐神氣先盡矣。乃以熟地六錢，丹皮一錢，麥冬三錢，牛膝二錢，制附六分，一劑假熱全消，真虛畢露，神氣更倦。此陰已少復，當補氣以助其發生，前方另煎人參二錢沖服，神氣漸復，喘促全安。飲粥微嘔，乃胃氣久虛之故也。再用前方加炒黃白朮二錢，去丹皮，仍以參湯沖服，四劑全愈。</p>
<p>呂用晦治案云：姚江錢嶢都子五歲，病疹泄瀉，兒醫謂瘄毒，最宜於瀉，不復顧忌，以清火為急，寒涼縱進，病勢殊劇，來邀余。視面色兩顴嫩紅，時咬牙喘急，口渴甚，飲水不絕，脈洪緩如平壯人。余曰：脾急矣。速投人參、白朮、當歸、黃耆、陳皮、甘草、茯苓、木香以救之，一劑覺安。次日有鄰族人來候，驚阻之曰：誤矣！小兒有專門，豈可令腐儒治之。吾所聞瘄病以發散清涼解毒為主，今半身瘄潮未退，而用溫補，必不救矣。其家懼，遂不敢再服。間二日，嶢都復來見余曰：諸證復如故，如何？余曰：豈有是理哉？君戲我耳。曰：日來實不服尊劑。乃述其故。余曰：君試急歸，令郎天柱倒矣。別去頃之，馳至曰：果如公言，奈何？急服前方何如？余曰：前方救虛也。今加寒矣，非桂附不能挽也。曰：顴紅喘急，口渴飲水，俱是熱證，而公獨言虛寒何也？曰：陰竭於內，陽散於外，而寒涼復逼之，陽無所歸，內真寒而外假熱。此立齋先生所發《內經》微旨，非深究精蘊者不能信也。嶢都歸，違眾服之，一劑而天柱直，二劑而喘渴止，三劑起行，嬉戲戶外。</p>
<p>舒馳遠治案云：老庚者，年二十有七，夏月出疹，頭身微熱，苗色淡紅，咽喉痛甚，時醫誤用柴、葛、牛子、甘、桔等藥，轉加作泄，大泄數次，疹頓沉沒，咽喉轉閉，口不能言，人事恍惚，暈眩欲絕。時天有在坐，余謂天有曰：此證全是一團陰寒在裡，若用疹家通套藥，必不可生。天有曰：何以言之？余曰：若內實有火，苗當紫赤，何得淡紅。且咽喉雖痛而不赤腫，又無煩渴惡熱等症，明明腎臟虛寒，陰火上攻也。且陽和布令，百體順昌。痧疹屬陽，必純陽始得出透。見點之時，如萌芽初吐，遇陰慘肅殺之氣，摧殘所生，靡有孑遺。今值此陰邪橫發，埋沒真陽，而疹不沉沒者，幾希矣。惟是陡進附子、乾薑、半夏、甘草、白朮、茯苓、肉桂、黃耆，溫補兼行，以驅陰回陽，俾駁劣悉返沖和，乃得功收再造。危乎，微乎！</p>
<p>霖按：此三案大同小異，要是千百中一二，未可執為程法也。大抵痧疹之發，干諸肺胃，治之但宜松透，一切溫燥補澀之劑，不可入也。然雖非正治，存之以備一格耳。</p>
<p>又云：從侄經千，年三十，出疹，初熱時心中煩躁，腹內疼熱，甚為剝床。彼因問三豆湯可服乎？余曰：可急煎服。於是心腹煩熱乃解，苗不出現，人事暈眩，咳逆喘促，鼻靨煽動。詳察其證，知其為熱毒壅塞於肺，肺壅則津液不行，肌竅不開，苗故不見。因用黃芩以清裡熱，阿膠、麥冬以潤肺燥，桔梗開提肺氣，柴、葛、蒡、薄清解外熱，甘草緩中，杏仁定喘。服二劑，苗雖出透而色皆紫黑，人事更覺沉重，飲食一點不能下。余悄謂其家曰：疹書有云，淡紅者生，紫黑者死。其家駭怖無似。余復安之曰：豈真死證耶，但其證極險耳。此為內熱甚而血結也。其證舌乾口臭，惡熱喜冷，聲音響亮，仍用黃芩、麥冬、阿膠以清內熱而潤肺燥，加以丹皮瀉血中之熱，合紅花之活血者以散血結，蟬蛻、牛蒡解其外毒，黃連、甘草解其內毒。連進三劑，人事漸安，飲食漸可，紫黑漸退，而痧疹塌矣。然有陰邪內盛者，苗亦紫黑，法宜驅陰回陽。其證舌潤不渴，聲低息短，惡寒喜熱，與此不同。</p>
<p>又云：天瑞之子，大熱大渴，舌乾口苦，咽喉腫痹，氣喘腹痛，下痢紅白，小便赤熱，苗色紫而暗滯。此為火邪充斥三焦，俱為熱壅，傷津而渴，觸肺而喘，上攻而為喉痹，下迫而便紅白。精津血脈受其煎熬，故苗色不紅活。口苦者，少陽之裡熱也。方用柴胡、黃芩清解少陽，大黃通瀉三焦實熱，梔子引三焦之火屈曲下行，生地、紫草以解血分之熱，杏仁定喘，桔梗開提，甘草和中。服一劑，諸證略殺，但腹痛未減，小便如故。是夜用神砂六一散二錢，桔梗煎湯化服。使桔梗通天氣於地道，則氣不滯而壅自疏，六一散開支河以瀉小腸之熱。一服而小便通，腹痛即愈。次日苗轉紅活，諸證俱已。於是方中減去柴胡、黃芩、大黃、梔仁，更加當歸、茯苓，數劑而痊愈矣。</p>
<p>許宣治治案云：胡旭如子三歲，秋間患瘧痢，兩月未痊，正氣大虧。傳染出疹，發熱咳嗽，痧點隱隱，淡白不現，氣不足以息，目無神，四肢冷。余曰：痧初見無補法，此兒正氣虛，當破格用藥。因以荊、防、蟬蛻、前胡各四分，人參、升麻、甘草、桔梗各三分，生薑少許，一劑而痧透。除去升麻，加入牛蒡，二劑而喘息定，痧漸退。</p>
<p>又云：畢以時女，冬至出痧疹，胃火本盛，唇燥舌苔，嘔渴，疹方出未透，忽受寒邪，鼻煽喘促，嗽聲不出，面色青，四肢冷。延余視時，勢已危矣。余用麻黃、蘇葉、前胡、杏仁、防風、荊芥各五分，芫荽一錢，石膏一兩，投藥後暖覆片時，火勢盡發。除去麻黃、蘇葉，加入桔梗、連翹、山梔、牛蒡四味，又一服，滿口發出白瘡，糜爛不能食。除去荊、防、芫荽，再加花粉、木通，數日而痊。</p>
<p>又云：張錦雯孫女，出疹四朝，面上已收，熱已退，忽然腹痛啼叫，四肢冷，悶倒在地。余曰：疹已四朝，出透熱退，今忽腹痛，是蟲動也。無熱證，黃連即不可用，烏梅又不可用。正躊躇間，適有榧在盤，即命以榧肉十枚，搗碎煎水飲之，不移時而止。藥貴當，不在峻與緩也。</p>
<p>又云：張佩西長孫文芳，隆冬出疹，發熱嘔吐，痧點隱隱不透。延余至，初用疏托藥，服後嘔吐不止，心煩燥渴。至夜，乃於疏托藥中加石膏五錢，吐仍不止，長蟲出，少停又吐，又出長蟲。至夜半共計吐出長蟲一十八條，忽然人事昏悶，四肢厥冷，一息奄奄欲絕。余見其舉家驚惶，亦難措手。因思生死關頭，在此一刻，無可推委。乃復切其脈，滑數有力，遂放膽用藥。緣此子胃火本盛，加以紅爐密室，疊障重茵，火鬱於內，則肺胃傷，津液竭，表氣不通，故得。得欲嘔，嘔甚則蟲不得安，故隨嘔而出。忽然昏悶厥冷者，乃壯火食氣，熱深者厥亦深。參之唇舌，全是火證。前所用升麻、石膏而不效者，病重而藥劑輕也。乃用石膏四兩，知母、黃連、山梔、花粉各一錢，升麻、葛根、防風、荊芥、赤芍、牛蒡各六分，芫荽八分，甘草四分。一劑之後，反令揭去重裘，臥未逾時，火勢盡發，壯熱面赤，痧出如堆。再進一服，橫身皆透，熱勢漸減，熱減則藥亦當退除，去荊、防、芫荽、黃連，加入連翹、木通，石膏減半。至晚熱復甚，心煩燥渴，無可如何，復用黃連、石膏，如前數，始得安臥熱平。二三日，痧色焦紫不退，知其熱甚傷陰，乃用養陰退陽之劑，生地五錢，丹皮、麥冬各三錢，桔梗、牛蒡、梔仁、花粉各一錢，石膏五錢，甘草五分。守過七朝，共計服過石膏二斤，黃連一兩。治痧疹數十年，火證之甚無過於此。當昏悶厥逆之時，傍有慮其昏脫者，命煎獨參湯灌之，非餘力主清涼，頃成不救矣。籲！可畏哉！</p>
<p>又云：江氏子，出疹七朝，下痢，日夜近百度，後重紅白，發熱煩渴。余用升麻、石膏。桔梗、甘草、枳殼、木通、黃芩、黃連，一劑而痢減半，能食粥，二劑止。</p>
<p>又云：吳氏子，疹出三朝，熱甚煩渴，喘嗽音啞。其兒欠乳，三歲不能行，兼之提散太過，肺氣與陰液皆虧。大劑養陰，生地二錢，麥冬二錢，沙參一錢，丹皮八分，桔梗八分，甘草五分，炒梔子八分，知母八分，加梨汁半杯沖服。服藥後喘漸定，熱漸平，安臥片時，陰得所養。連服數劑，嗽減音開，調理而愈。此證若周旋俗手，用提散藥，死矣。</p>
<p>又云：曹序林先生次孫三歲，出痧，體素弱，三朝熱未退，兩頰未透，唇口乾燥，精神困倦，咳無力，大便日五六次。正氣已虧，難循常法，方用人參、麥冬、桔梗、防風、炒梔子、茯苓、甘草。二劑而泄止疹透，精神漸轉。惟咳嗽未平，人參易沙參，再加牛蒡、北杏仁，二劑痰嗽漸減。猶有餘熱，再加丹皮、料豆，二劑而痊。痧證用人參，昔曾治胡旭如子痢後出痧，升麻葛根湯中加用取效，今已三十年始得再用。痧疹固宜清與散，有正氣虛不能任藥者，亦宜活法，故記之。</p>
<p>又云：孫兒炎壽出痧已過七朝，四五朝少服疏表一劑，痧沒後熱未退，人事不爽，知其肺家餘毒未清。至九朝午後熱甚，口舌生瘡，有時痰嗽氣促。熱退時脈平，小熱來時脈數。大熱服清熱保肺之劑，安臥能乳，人事理宜清爽，而大勢沉困，呻吟不定，故復論之。大熱七日多汗，表氣與陰液皆虛也。小便清利，裡熱亦降也。大便泄且多次黃黑色，雖為夾熱下痢，腸胃亦虛也。唇舌瘡是心脾二家蘊熱所發，餂乳無所苦，亦無大害，且既發為口瘡，其無內陷可知也。食乳飲藥之後，不移時便泄，不能停蓄，腸胃愈虛也。痰嗽喘促無已時者，為實為閉。有時而止，安臥而定，非實閉也，是肺金受火邪之克，正氣虛，痰不運行也。合而論之，雖曰餘熱尚存，當以正氣為主，酌以補而不滯之劑治之，人參三分，麥冬六分，橘紅三分，茯苓六分，料豆一錢，地骨皮五分，炒梔子五分，桔梗五分，甘草三分。卯時服藥，辰巳二時相安，午後復發熱，呻吟，唇紅面赤，脈來滑數。肺熱猶甚，人參易沙參，再加枯芩三分。服藥後熱又漸平。十朝心脾二經熱平，故午前退。肺熱仍在，故午後猶熱，熱來時呻吟脈大，唇紅頰赤，眼角生脂。書云：臟腑之傷，肺則尤甚。是以昨加黃芩得效。因思病重藥輕，雖效而熱難盡除，前方用沙參，再守一劑。十一朝午前安靜，午後猶熱，熱則痰嗽氣促。欲除痰當清熱，欲平熱當養陰，痧後養陰退陽，千古大法，生地、麥冬、丹皮、料豆、炒梔子、叭膽杏仁、橘紅、茯苓、牛蒡子、桔梗、甘草。十二朝午熱減半，精神漸轉，前方再守一劑。十三朝停藥。十四朝右腮發紅，午後又熱，口瘡又發，舌尖下一大瘡，金黃色，復與清心之劑，連翹、山梔、桔梗、甘草、牛蒡子、貝母、麥冬、料豆、枳殼、木通，二劑平矣。痘證多心脾熱，故多用黃連；痧疹多肺熱，故宜黃芩、山梔。黃芩有二種，一種色黃而中空者，一種色綠而中實者。中空者名枯芩，肺欲空，故宜之。中實者名條芩，又名子芩，腸欲實，故宜之。痧疹用枯芩，不必酒炒。止痢安胎，皆用條芩。</p>
<p>又云：西溪文學汪聚之，年二十八，胃中素有停飲，丙辰仲春傳染出痧。初服升麻葛根湯加荊、防、蟬蛻、甘、桔，痧疹應藥而出，疏疏表透，煩熱不寧。二朝再用前方，痧出始透，面部胸背綿密如堆，顏色焦紫，唇裂舌苔，煩躁依然不定，據此痧證理應重用清涼。自言胸中痞悶，不時咯出寒痰青白色。本證宜溫，痧出火甚宜清，權宜之計，當重治痧一邊。四朝荊、防、甘、桔，少加連翹、赤芍、炒山梔之類，煩雖有時而定寒痰湧出，日夜各一二盂。外證唇裂口乾，大便不解。石膏雖不敢用，清潤之品加入花粉、麥冬二味。服藥片時，寒痰湧起，胃中閉塞，外見痧色焦紫，唇裂音啞。用藥實在兩難，躊躇再四，淡劑守之。至五朝，視其表已盡透，痧色微有回意，所苦者胸閉耳，遂與二陳、甘、桔、杏仁、炒梔子之類，藥入相安，食少加。守定二陳以平飲，甘桔以開音。守過七朝，飲平熱退，音亦漸開。如此火毒燔灼，而芩、連、石膏竟不能用。麥冬之不受者，飲不利於滋；炒梔子之可用者，苦降而不泥膈也。此實用藥相機之權宜。日與其令伯守明先生斟酌立方，始終不用苦寒，大便解而裡熱泄，旬日收功。若遇偏執之流，孟浪之手，胃氣一傷，鮮有不敗事者。用藥之難，執成方以應變，可乎？</p>
<p>又云：南源方氏子九歲，長夏出疹，兩頰未透。醫者不識時勢，用升麻葛根不應，誤加麻黃一劑，疹出而大汗神困，煩渴喘促，又不知轉手養陰救肺，以致胸骨高起，如嗽久龜胸之狀，請余治。余曰：痧疹表不透，當提散。夏令表虛，提散太過，六腑之火盡發，肺受其殃，熱擁胸膈，勢已危矣。急用生沙參、麥冬、料豆各二錢，丹皮一錢，石膏五錢，枯芩、杏仁、桔梗、木通各五分，枳殼、甘草各三分，一劑熱勢稍平。除去木通、枳殼，加入梔仁、地骨，熱退七八。守服養陰數劑，胸骨漸平。其次子七歲，疹後潮熱十餘日，咳嗽喉痛，米粒難吞，四肢痿軟，不能坐立，其初出亦曾服過麻黃。余曰：此表散太過，津液盡奪，肺熱葉焦，發為痿蹶，有自來矣。亦宜瀉火保金，使津液漸回，庶幾可治。方用生沙參、麥冬各二錢，石膏三錢，桔梗、梔仁、山豆根、地骨、牛蒡、杏仁、料豆各一錢，枳殼、甘草各三分，一劑喉痛止，二劑能食粥。除去梔仁、枳殼，五六劑而能行矣。龜胸、肺痿二證，疹後所未見者，故續記之。若非過用提散，誤用麻黃，當無此證。夏令治疹，醫者可不慎乎。</p>
<p>余春山治案云：戊申夏月，有程姓延余治疹，肩輿未到已斃。詢問其故，云：出疹已兩日。據醫云，疹發未透，數進升麻葛根湯而煩渴不已，隨即疹沒煩躁。醫云，疹為風閉，令著復衣，關閉房內，冀其復出。兒未能語，惟將手貼冷處少安，且欲扯門環外出之勢，均禁不許，遂發痙而亡。吾鄉有盦麻之說，貽誤已久，醫家病家未知改悟，惜哉！此兒之命，明系熱鬱亡陰，邪陷風動致殆也。余到之日，第二兒亦發熱，關閉房內，啼哭極甚。余急令抱出，其家仍懼感風。余曰：前證既經關閉房內損傷，姑易舊章，試看如何。適出房外，哭遂止。余令脫去夾衣，笑容可掬。余曰：病未經藥，已去大半矣。舉家均以為奇。再與清燥衛生湯，方用生石膏、知母、蔞皮、蘆根、南沙參、杏仁、薑汁、炒木通、生牛子、當歸、細辛、梨皮、芹汁，服一劑。次早疹出鮮活，傍暮疹遂沒。舉家復憂，疑是房外感風疹閉。余曰：無慮。兒既安然乳食，且已退熱，此是邪輕，因治得法，一藥而愈。惟咳嗽未止，餘邪未清，令用杏仁、麥冬、蘆根、梨皮煎茶，頻飲痊愈。其家方知前幾誤治。</p>
<p>章虛谷治案云：孝廉黃笑山先生令媛，年十餘歲，出瘄見點已五日，經幼科以常例升提表散之藥治之，其毒總不透發，氣喘鼻煽，日夜煩擾，其狀甚危。余診脈虛弱帶數，惟左關尺沉弦而滯，知為腎肝蘊毒未出，乃重用玄參，佐知母、歸鬚、赤芍、犀角、羚羊、連翹、甘草。一劑服之，其夜即能稍睡。次日脈象鬆動，惟口大渴，猶喘急鼻煽，是熱毒已達肺胃，又重加石膏，數劑後漸安而愈。蓋玄參滋水解毒，能啟發腎氣，歸鬚、赤芍疏通血絡，犀羚皆透發之品，與連翹、知母、甘草，從手足厥陰引毒直達肺胃，從表而出，故一劑即效。可見確為內毒未出。而世俗皆認作外毒內陷，惟屢用升散，大泄肺氣，以致喘急煩擾而危殆者，不可計數，良由平素未明此理故也。吾願天下後世，切須究心，勿泥成法，勿拘舊說，庶可保全生命。再按，是證乃熱毒內伏，故以清涼透發見效。其有先天元陽薄弱而毒難轉化者，於涼透之劑稍佐附子，助其元陽，送毒而出，否則難以透發。此在臨證者隨宜變化。即此一證，可以隅反也。</p>
<p>王孟英治案云：溽暑之令，瘄疹盛行，幼科僅知套藥，升柴防葛亂施。殆亦疫癘之病，造化默行其殺運歟。陳仰山家患此者十餘人，其長郎書芾孝廉之女勢最劇，以瘄甫出而汛至也，醫者卻走，始延余。視之脈滑而數，舌絳大渴，面赤失音，不食便瀉。曰：此由發散太過，火盛風熾，氣血兩燔，氣分之邪由瀉而略泄其焰，營分之熱由汛而稍解其焚，豈可畏其脫陷，妄投止澀耶。與西洋參、石膏、知母、麥冬、犀角、生地、連翹、甘草、石斛、丹皮、桑葉、竹葉大劑投之，三日而愈。養陰善後，遂以漸安。其餘或輕或重，餘一以清解而痊。</p>
<p>又云：李新畲仲郎，瘄未齊而痰嗽氣喘，苔色白滑，小溲不赤，或主犀角地黃湯加紫雪，服而不效，延余診之。右脈洪滑而口渴，乃天時酷熱，暑邪薄肺，挾其素有之痰而阻其治節，所以氣機不行而疹不能達，苔不能化，溺不能赤也。溫散大忌，涼血亦非。與竹葉石膏湯合葦莖，加杏、菀、旋、杷、海石投之，氣平疹透，苔退舌紅，小便亦赤，數日而愈。</p>
<p>又云：徐艮生室年四十餘，於酷暑之時患瘄，所親沈悅亭，連與清解，不能殺其勢，為邀余視之。體厚痰多，脈甚滑數，揚擲譫妄，舌絳面赤，渴飲便澀，乃與大劑白虎加犀角、玄參、銀花、花粉、貝母、竹黃、竹葉、竹茹、竹瀝，送滾痰丸。服後大便下如膠漆，脈證漸和。數日後去丸藥，其勢復劇，甚至發厥，仍加丸藥乃平。如是者三次，險浪始息。悅亭復以白金丸滌其膈下留痰，續用甘涼濡潤法，充津液而搜餘熱，漸以告愈。</p>
<p>沈岷源《奇證匯》云：王燮庵幼時，痧後食酸太過，咳嗆不已，年餘骨立，五心煩熱，已近童勞。一人教於每日黎明，以頭窠雞子一枚，打千餘下，入鹽少許，沸湯瀹服，百日而痊。</p>
<p>霖按：選案數十條，諸法略備。近時運當燥火，多宜清透。但釀熱為痰，阻其氣機，使疹毒不能透達。時醫不察，只知表散，徒傷真陰，因此致斃者多矣。王孟英治李新畲、徐艮生兩案，極有膽識。然熱證熱痰，尚不難措手。觀許宣治治汪聚之，以熱證而素蓄寒痰，就機宣導，尤非易易。其素本怯弱之兒，因表散太過，氣虛不能送毒外出，如余春山等主以甘寒育陰是矣。總不若章虛谷清透劑內重加玄參，壯水養陰而不膩。遇元陽薄弱者，於此中稍佐附子，尤有卓識。至孫文垣之利水泄熱，吳橋之熏蒸透毒，各寓精義，學者皆當究心探討，因病制宜，勿拘拘於一格也。</p>
