<header data-type="book">
<h1>古今名醫方論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>羅美</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1675">公元1675年</data></dd></div>
<div><dt>底本</dt><dd>清康熙乙卯（十四年，1675年）古懷堂刻本</dd></div>
</dl>
</header>

<h1>刻方論小序</h1>
<p>自昔彼美云遐，良遘難再，士生其間，動成慨往，無叩角短骭之謠，有戴月歸鋤之興。是以陸沉之志，思似長沮；麋鹿之情，實甘豐草。微吟午夜，耿懷人至曙星；齁夢北窗，享羲皇於肱半。雖或果哉，終斯己矣。無如大壑淪漂，蓬茨淵浸，三時或餒，九稔恆飢，則又去而逃死，懸壺給食。於是始為醫學，搜時傳之秘簡，閱指掌之授書，見其類證，為編括方以口。塵軒岐於庋坫，霾長沙以雲霧。轉益膏肓，徒增橫夭。仲景不云乎，人稟五常，以有五臟，經絡府俞，陰陽會通，玄冥幽微，變化難極，自非才高識妙，豈能探其理致？今之學醫，不思識字，討論經旨，以演其所知，而乃面牆窺管，賈人試方，老者不愧，少而無知，痛心哉！不揣不敏，每循斯事，欲窮究開闔之玄樞，抉參同於符易。日與同志數公，旁搜遠紹，始自漢代，下迄元明，無下百家，要歸一轍，作用底蘊，頗能燦然，因集為《古今名醫經論證治匯粹》八卷。方論在其末編，今令先出，請正同學。以諸醫方所集，要約簡明，皆日用常行，昭昭耳目，用之恆常而易忽，體以證治而或非，雖人人拈，未事事當，用將以為耳前之嚆矢，眸畔之電光，野人蒐集，聊澗芹之一獻云爾。其於漏卮無當，固槁項黃馘之所固然，而無足道也。因序。</p>
<p><u>時康熙乙卯巧月既望</u></p>
<p><u>新安羅美書於虞山麓之古懷堂</u></p>

<h1>凡例</h1>
<p>一、古之方書，得人乃傳，非人勿言，誠重之也。故扁鵲倉公輩，皆稱禁方，不輕授人。後漢張仲景夫子，傷橫夭之莫救，博採眾方，平脈辨證，著《傷寒雜病論》，公之天下，欲人見病思源，是世醫方之祖也。其方發表攻裡，固本御邪，內外證治，無乎不備。後人惑傷寒為一家書，束之高閣。即專治傷寒者，又為《活人》、《全生》諸書所掩，未嘗好學深思，心知其故。則見為古方難用，竟營膚淺，以矜捷得，所以瓦釜雷鳴也。茲編本欲以仲景方為首簡，恐人猶重視而畏遠之，姑以日用諸方表表耳目者為先導。諸方義明，而後入仲景之門，亦行遠登高之自爾。</p>
<p>一、漢建安以前，苦於無方；宋元豐以後，《局方》猥賾。蔓延今時，何有根柢，漫無指歸。惟薛立齋先生所用諸方，簡嚴純正，可為後法，是編多所採錄。而《金匱》、《千金》、《外臺》諸書，及潔古、東垣、太無、丹溪方之佳者，咸擇而錄焉。仲景有云：學者能尋余所集，思過半矣。</p>
<p>一、有方即有柄，自仲景始也；有方更有論，自成無己始也。明代趙以德有《金匱衍義》，於方頗有論，吳氏鶴皋著《醫方考》。近時醫林復有張景岳、趙養葵、喻嘉言、李士材、程郊倩、張路玉、程扶生諸公，各有發明，余喜得而集之矣。然其間或擇焉而未精，語焉而未詳，亦間有不愜於心者。因與素交諸同人，往來探索古作者之意，時時析疑欣賞。得見一斑，即各與分方補論，因而附列增入，少開後學。本非啖名，實未辭續貂之愧云。</p>
<p>一、病名多端，不可以數計，故仲景分六經而司治之，使百病咸歸六經，是扼要法也。後人不知六經為雜病辨證設，竟認為傷寒設，由是仲景辨證之權衡廢。夫不知證，便不知方矣。巢元方作《病源》，陳無擇作《三因》，為近來醫書之祖；華佗之《肘後》，孫思邈之《千金》，是後來《局方》之祖。然論雖多，方雖廣，而不得治之要，實千載迷途矣。後此繼起者，莫不貴敘證之繁，治法之備，集方之盛，求勝前人。不知病名愈多，後學愈昏；方治愈繁，用者愈無把柄。一遇盤根錯節，遍試諸方，眇無所措。豈如得仲景法，不於諸病搜索，但於六經講求，一劑而唾手可愈耶。友人韻伯，於仲景書探討有年，所著《傷寒論翼》，多所發明。故是編於傷寒方中，錄其論最多，亦欲學者因之略見仲景一斑耳。</p>
<p>一、吳氏作《醫方考》，其意未嘗不欲以立方本源，開後學之蒙也。究乃拘證論方，譬多疏注以遷就之，仍與諸家類書無別。夫所謂考者，考其制方之人，命名之義，立方之因，與方之用，因詳其藥之品味，分兩制度，何病是主治，何病可兼治，何病當增減，何病不可用，使人得見之明，守之固也。乃爾分門分方，第知有證之可尋，徒列方以備員，亦何知有方之神奇變化，考其所用之精妙乎？是編非但論其方之因，方之用，詳其藥性，君臣法制，命名之義而已，必論其內外新久之殊，寒熱虛實之機，更引諸方而比類之，又推本方而互通之。論一病而不為一病所拘，明一方而得眾病之用，遊於方之中，超乎方之外，全以活法示人，比之《方考》，稍有一得耳。</p>
<p>一、僭評方論，非取文章。故所批閱，必於眼目肯綮，指出所以然，以質證同志。人有共目，則人有同心，非敢僭為臆說也。</p>
<p>一、茲選不侫本以數年心目，遍搜古今名醫經論，刪纂其要，定為《古今名醫匯粹》八卷，實為經論無方之書。茲選《方論》附在末部，因剞劂費繁，茲編先出，用質四方同志。以為可教，祈珠玉見投，以慰飢渴，即當補入正集，用慶大觀。</p>

<h1>卷一</h1>

<h2>補中益氣湯</h2>
<p>治陰虛內熱，頭痛，口渴，表熱，自汗，不任風寒，脈洪大，心煩不安，四肢困倦，懶於言語，無氣以動，動則氣高而喘。</p>
<p>黃耆　人參　云術　炙甘草　陳皮　當歸　升麻　柴胡</p>
<p>上八味，加生薑三片，大棗二枚，水煎，溫服。</p>
<p>柯韻伯曰：仲景有建中、理中二法。風木內干中氣，用甘草、飴、棗培土以御風，薑、桂、芍藥驅風而瀉木，故名曰建中。寒水內凌於中氣，用參、朮、甘草補土以制水，佐乾薑而生土以禦寒，故名曰理中。至若勞倦，形氣衰少，陰虛而生內熱者，表症頗同外感，惟東垣知其為勞倦傷脾，穀氣不盛，陽氣下陷陰中而發熱，制補中益氣之法。謂風寒外傷其形為有餘，脾胃內傷其氣為不足，遵《內經》勞者溫之，損者益之之義，大忌苦寒之藥，選用甘溫之品，升其陽以行春生之令。凡脾胃一虛，肺氣先絕，故用黃耆護皮毛而開腠理，不令自汗；元氣不足，懶言，氣喘，人參以補之；炙甘草之甘以瀉心火而除煩，補脾胃而生氣。此三味除煩熱之聖藥也。佐白朮以健脾；當歸以和血；氣亂於胸，清濁相干，用陳皮以理之，且以散諸甘藥之滯；胃中清氣下沉，用升麻、柴胡，氣之輕而味之薄者，引胃氣以上騰，復其本位，便能升浮以行生長之令矣。補中之劑，得發表之品而中自安；益氣之劑，賴清氣之品而氣益倍。此用藥有相須之妙也。是方也，用以補脾，使地道卑而上行；亦可以補心肺，損其肺者益其氣，損其心者調其營衛也；亦可以補肝木，鬱則達之也。惟不宜於腎，陰虛於下者不宜升，陽虛於下者更不宜升也。凡東垣治脾胃方，俱是益氣。去當歸、白朮，加蒼朮、木香，便是調中；加麥冬、五味輩，便是清暑。此正是醫不執方，亦正是醫必有方。</p>
<p>趙養葵曰：後天脾土，非得先天之氣不行。此氣因勞而下陷於腎肝，清氣不升，濁氣不降，故用升、柴以佐參、耆，是方所以補益後天中之先天也。（益後天中之先天，後人未發。）凡脾胃喜甘而惡苦，喜補而惡攻，喜溫而惡寒，喜通而惡滯，喜升而惡降，喜燥而惡濕。此方得之。</p>
<p>陸麗京曰：此為清陽下陷者言之，非為下虛而清陽不升者言之也。倘人之兩尺虛微者，或是癸水消竭，或是命門火衰，若再一升提，則如大木將搖而拔其本也。（此韻伯所謂獨不宜於腎也。）</p>
<p>周慎齋曰：下體痿弱，虛弱者不可用補中，必當以八味丸治之。凡內傷作瀉，藏附子於白朮中，令其守中以止泄也；表熱，藏附子於黃耆中，欲其走表以助陽也。</p>

<h2>黃耆建中湯</h2>
<p>治虛勞裡急，悸，衄，腹中痛，夢失精，四肢痠疼，手足煩熱，咽乾口燥，諸不足。</p>
<p>黃耆　膠飴　白芍　甘草　桂枝　生薑　大棗</p>
<p>上七味，水煎服。</p>
<p>喻氏曰：虛勞而至於亡血失精，津液枯槁，難為力矣。《內經》於針藥所莫制者，調以甘藥。《金匱》遵之而用黃耆建中湯，急建其中氣，俾飲食增而津液旺，以至充血生精，而復其真陰之不足。但用稼穡作甘之本味，而酸辛鹹苦在所不用，蓋舍此別無良法也。然用法貴立於無過之地，寧但嘔家不可用建中之甘，即服甘藥，微覺氣阻氣滯，更當慮甘藥太過，令人中滿，早用陳皮、砂仁以行之可也。不然，甘藥又不可恃，更將何所恃哉？後人多用樂令建中湯、十四味建中湯，雖無過甘之弊，然樂令方中前胡、細辛為君，意在退熱，而陰虛之熱則不可退；十四味方中用附、桂、蓯蓉，意在復陽，而陰虛之陽未必可復，又在用方之善為裁酌矣。</p>
<p>又曰：傷寒有小建中一法，治二三日心悸而煩，以其人中氣餒弱，不能送邪外出，故用飴糖之甘，小小建立中氣以祛邪也。《金匱》有黃耆建中一法，加黃耆治虛勞裡急，自汗，表虛，肺虛，諸不足症，而建其中之衛氣也。《金匱》復有大建中一法，以其人陰氣上逆，胸中大寒，嘔不能食，而腹痛至極，用蜀椒、乾薑、人參、飴糖，大建其中之陽，以驅逐濁陰也。後人復廣其義曰：樂令建中湯，治虛勞發熱，以下並建其中之營血。曰：十四味建中湯，治臟氣裡虛，以之兩建其脾中腎中之陽陰。仲景為祖，後人為孫，使虛羸之體，服建中之後，可汗可下，誠足恃也。至理中，則燮理之義；治中，則分治之義；補中、溫中，莫非惠先京國之義。緣傷寒外邪逼域中，法難盡用，仲景但於方首，以小之一字，示其微義，至《金匱》始盡建中之義。後人引伸觸類，曲暢建中之旨。學者心手之間，所當會其大義也。</p>

<h2>人參養榮湯</h2>
<p>治脾肺俱虛，發熱惡寒，肢體瘦倦，食少作瀉等症。若氣血虛而變見諸症，勿論其病其脈，但用此湯，諸症悉退。</p>
<p>人參　白朮　茯苓　甘草　黃耆　陳皮　當歸　熟地　白芍　五味子　桂心　遠志</p>
<p>上十二味，加姜三片，棗二枚，水煎服。</p>
<p>柯韻伯曰：古人治氣虛以四君，治血虛以四物，氣血俱虛者以八珍，更加黃耆、肉桂，名十全大補，宜乎萬舉萬當也。而用之有不獲效者，蓋補氣而不用行氣之品，則氣虛之甚者，無氣以受其補；補血而仍用行血之物於其間，則血虛之甚者，更無血以流行。（議方確妙。）故加陳皮以行氣，而補氣者，悉得效其用；去川芎行血之味，而補血者，因以奏其功。此善治者，只一加一減，便能轉旋造化之機也。然氣可召而至，血易虧難成，苟不有以求其血脈之主而養之，則營氣終歸不足，故倍人參為君，而佐以遠志之苦，先入心以安神定志，使甘溫之品，始得化而為血，以奉生身。又心苦緩，必得五味子之酸以收斂神明，使營行脈中而流於四臟，名之曰養榮，不必仍十全之名，而收效有如此者。</p>

<h2>歸脾湯</h2>
<p>治思慮傷脾，或健忘，怔忡，驚悸，盜汗，寤而不寐；或心脾作痛，嗜臥，少食，月經不調。</p>
<p>人參　黃耆　甘草　白朮　茯苓　木香　龍眼肉　酸棗仁　當歸　遠志</p>
<p>姜三片，水煎服。</p>
<p>羅東逸曰：方中龍眼、棗仁、當歸，所以補心也；參、耆、朮、苓、草，所以補脾也。立齋加入遠志，又以腎藥之通乎心者補之，是兩經兼腎合治矣。而特名歸脾，何也？夫心藏神，其用為思；脾藏智，其出為意；是神智思意，火土合德者也。心以經營之久而傷，脾以意慮之鬱而傷，則母病必傳諸子，子又能令母虛，所必然也。其症則怔忡、怵惕、煩躁之徵見於心；飲食倦怠，不能運思，手足無力，耳目昏眊之症見於脾。故脾陽苟不運，心腎必不交。彼黃婆者，若不為之媒合，則已不能攝腎歸心，而心陰何所賴以養？此取坎填離者，所以必歸之脾也。其藥一滋心陰，一養脾陽，取乎健者，以壯子益母；然恐脾郁之久，傷之特甚，故有取木香之辛且散者，以開氣醒脾，使能急通脾氣，以上行心陰。脾之所歸，正在斯耳！張路玉曰：補中益氣與歸脾，同出保元，並加歸、術，而有升舉胃氣，滋補脾陰之不同。此方滋養心脾，鼓動少火，妙以木香調暢諸氣。世以木香性燥不用，服之多致痞悶，或泄瀉、減食者，以其純陰無陽，不能輸化藥力故耳！</p>

<h2>保元湯</h2>
<p>治氣虛血弱之總方也。小兒驚痘家虛者最宜。</p>
<p>黃耆（三錢）　人參（二錢）　甘草（一錢）　肉桂（春夏二三分，秋冬六七分）</p>
<p>上四味，水煎服。</p>
<p>柯韻伯曰：保元者，保守其元氣之謂也。氣一而已，主腎，為先天真元之氣；主胃，為後天水穀之氣者。此指發生而言也。又水穀之精氣，行於經隧為營氣；水穀之悍氣，行於脈外為衛氣；大氣之積於胸中而司呼吸者為宗氣。是分後天運用之元氣而為三也。又外應皮毛，協營衛，而主一身之表者，為太陽膀胱之氣；內通五臟，司治節，而主一身之裡者，為太陰肺經之氣；通行內外，應腠理，而主一身之半表半裡者，為少陽三焦之氣。是分先天運行之元氣而為三也。（條分諸氣，足開後學之蒙。）此方用黃耆護表，人參固里，甘草和中，三氣治而元氣足矣。昔李東垣以此三味，能瀉火、補金、培土，為除煩熱之聖藥；鎮小兒驚，效如桴鼓。魏桂岩得之，以治痘家陽虛頂陷，血虛漿清，皮薄發癢，難灌難斂者，始終用之。以為血脫須補氣，陽生則陰長，有起死回生之功，故名之為保元也。又少佐肉桂，分四時之氣而增損之，謂桂能治血，以推動其毒，扶陽益氣，以充達周身。血在內，引之出表，則氣從內托；血外散，引之歸根，則氣從外護。參、耆非桂引道，不能獨樹其功；桂不得甘草和平氣血，亦不能緒其條理。要非寡聞淺見者，能窺其萬一也。四君中不用白朮，避其燥；不用茯苓，恐其滲也。用桂而不用四物者，芎之辛散，歸之濕潤，芍之酸寒，地黃之泥滯故耳。如宜燥則加苓、術，宜潤加歸，宜收加芍，當散加芎。又表實去耆，裡實去參，中滿忌甘，內熱除桂，斯又當理會矣。（推明加減，其法燦然。）</p>
<p>又云：人知火能剋金，而不知氣能勝火；人知金能生水，而不知氣即是水。此義惟東垣知之，故曰參、耆、甘草，除煩熱之聖藥。要知氣旺則火邪自退。丹溪雲氣有餘便是火，不知氣上騰便是水。（妙理獨發。）</p>

<h2>四君子湯</h2>
<p>治面色痿白，言語輕微，四肢無力，脈來虛弱者。若內熱，或飲食難化作酸，乃屬虛火，須加炮姜。</p>
<p>人參　白朮　茯苓　甘草（各二錢）</p>
<p>水煎，加薑、棗。</p>
<p>加陳皮，為五味異功散。加陳皮、半夏，為六君子湯。</p>
<p>張路玉曰：氣虛者補之以甘，參、朮、苓、草，甘溫益胃，有健運之功，具沖和之德，故為君子。若合之二陳，則補中微有消導之意。蓋人之一身，以胃氣為本。胃氣旺，則五臟受蔭；胃氣傷，則百病叢生。故凡病久不愈，諸藥不效者，惟有益胃、補腎兩途。故用四君子隨症加減，無論寒熱補瀉，先培中土，使藥氣四達，則周身之機運流通，水穀之精微敷布，何患其藥之不效哉！是知四君、六君為司命之本也。更加砂仁、木香，名香砂六君子。</p>

<h2>香砂六君子湯</h2>
<p>治氣虛腫滿，痰飲結聚，脾胃不和，變生諸症者。</p>
<p>人參（一錢）　白朮（二錢）　茯苓（二錢）　甘草（七分）　陳皮（八分）　半夏（一錢）砂仁（八分）　木香（七分）</p>
<p>上生薑二錢，水煎服。</p>
<p>柯韻伯曰：經曰：「壯者氣行則愈，怯者著而為病。」蓋人在氣交之中，因氣而生，而生氣總以胃氣為本。食入於陰，長氣於陽，晝夜循環，周於內外。一息不運，便有積聚，或脹滿不食，或生痰留飲，因而肌肉消瘦，喘咳嘔噦，諸症蜂起，而神機化絕矣。四君子氣分之總方也，人參致沖和之氣，白朮培中宮，茯苓清治節，甘草調五臟，諸氣既治，病安從來？然撥亂反正，又不能無為而治，必舉夫行氣之品以輔之，則補品不至泥而不行。故加陳皮以利肺金之逆氣，半夏以疏脾土之濕氣，而痰飲可除也；加木香以行三焦之滯氣，縮砂以通脾腎之元氣，憤郁可開也。四君得四輔，而補力倍宣；四輔有四君，而元氣大振。相須而益彰者乎！</p>

<h2>四物湯</h2>
<p>治一切血虛、血熱、血燥諸症。</p>
<p>當歸　熟地（各三錢）　川芎（一錢五分）　白芍（二錢，酒炒）</p>
<p>上四味，水煎服。</p>
<p>張路玉曰：四物為陰血受病之專劑，非調補真陰之的方。方書咸謂四物補陰，遂以治陰虛發熱，火炎失血等症，蒙害至今。又專事女科者，咸以此湯隨症漫加風、食、痰、氣等藥，紛然雜出。其最可恨者，莫如坎離丸之迅掃虛陽，四物二連之斬削真氣，而庸工利其有劫病之能，咸樂用之，何異於操刀行劫耶！先輩治上下失血過多，一切血藥置而不用，獨推獨參湯、童便以固其脫者，以有形之血不能速生，無形之氣所當急固也。昔人有言，見血無治血，必先調其氣。又云，四物湯不得補氣藥，不能成陽生陰長之功。誠哉言也！然余嘗謂此湯，傷寒火邪解後，餘熱留於血分，至夜微熱不除，或合柴胡，或加桂枝，靡不應手輒效，不可沒其功也。</p>

<h2>聖愈湯</h2>
<p>治一切失血，或血虛煩渴燥熱，睡臥不寧，五心煩熱，作渴等症。</p>
<p>四物湯加人參、黃耆。一方去芍藥。</p>
<p>上水煎服。</p>
<p>柯韻伯曰：經曰：「陰在內，陽之守也；陽在外，陰之使也。」故陽中無陰，謂之孤陽；陰中無陽，謂之死陰。丹溪曰：四物皆陰，行天地閉塞之令，非長養萬物者也。故四物加知、柏，久服便能絕孕，謂其嫌於無陽耳！此方取參、耆配四物，以治陰虛、血脫等症。蓋陰陽互為其根，陰虛則陽無所附，所以煩熱燥渴，而陽亦亡；氣血相為表裡，血脫則氣無所歸，所以睡臥不寧，而氣亦脫。然陰虛無驟補之法，計在存陽；血脫有生血之機，必先補氣。此陽生陰長，血隨氣行之理也。故曰陰虛則無氣，無氣則死矣。此方得仲景白虎加人參之義而擴充者乎！前輩治陰虛，用八珍、十全，卒不獲效者，因甘草之甘，不達下焦；白朮之燥，不利脾腎；茯苓滲泄，礙乎生升；肉桂辛熱，動其虛火。此六味，皆醇厚和平而滋潤，服之則氣血疏通，內外調和，合於聖度矣。</p>

<h2>當歸補血湯</h2>
<p>治男婦肌熱，面赤，煩渴引飲，脈來洪大而虛，重按全無。</p>
<p>當歸（二錢）　黃耆（一兩）</p>
<p>水煎服。</p>
<p>吳鶴皋曰：血實則身涼，血虛則身熱。或以飢困勞役，虛其陰血，則陽獨治，故諸症生焉。此證純象白虎，但脈大而虛，非大而長為辨耳！《內經》所謂脈虛血實是也。當歸味厚，為陰中之陰，故能養血。黃耆則味甘，補氣者也。今黃耆多數倍，而云補血者，以有形之血，不能自生，生於無形之氣故也。《內經》雲陽生陰長，是之謂耳！</p>

<h2>酸棗仁湯</h2>
<p>治虛勞虛煩不得眠。</p>
<p>酸棗仁（二升）　甘草（一兩）　知母（二兩）　茯苓（二兩）　川芎（二兩）</p>
<p>上五味，以水八升，煮棗仁得六升，納藥煮取三升，分溫三服。</p>
<p>羅東逸曰：經曰：「肝藏魂」，「人臥則血歸於肝」。又曰：「肝者，罷極之本。」又曰：「陽氣者，煩勞則張，精絕。」故罷極必傷肝，煩勞則精絕，肝傷、精絕則虛勞虛煩不得臥明矣。棗仁酸平，應少陽木化，而治肝極者，宜收宜補，用棗仁至二升，以生心血、養肝血，所謂以酸收之，以酸補之是也。顧肝鬱欲散，散以川芎之辛散，使輔棗仁通肝調營，所謂以辛補之。肝急欲緩，緩以甘草之甘緩，防川芎之疏肝泄氣，所謂以土葆之。然終恐勞極，則火發於腎，上行至肺，則衛不合而仍不得眠，故以知母崇水，茯苓通陰，將水壯金清而魂自寧，斯神凝魂藏而魄且靜矣。此治虛勞肝極之神方也。</p>

<h2>養心湯</h2>
<p>治心神不足，夢寐不寧，驚悸，健忘等症。</p>
<p>白芍　當歸　人參　遠志　麥門冬　黃芩　山藥　芡實　蓮鬚　酸棗仁　茯神　石蓮子</p>
<p>上十二味，水煎服。</p>
<p>吳於宣曰：《難經》云：心不足者，調其營衛。營衛者，血脈之所在，而心主之。故養心者，莫善於調營衛也。然營衛並出中州，營淫精於肝，而濁氣歸心；衛氣通於肺，而為心相；腎受心營肺衛之歸，而又升精於離，以成水火既濟。是三臟者，皆心之助，而調營衛者，所必出於是也。故調營衛，調其四臟，而心養矣。是方人參、茯神以神養心，棗仁、歸、芍以母養肝，山藥、門冬、黃芩以清養肺，蓮鬚、芡實、石蓮、遠志以澀養精而升之，於是神明之君主，泰然於天鈞之上矣。此養心之旨也。</p>

<h2>獨參湯</h2>
<p>治元氣虛而不支，脈微欲絕，及婦人血崩，產後血暈。</p>
<p>人參（分量隨人隨症）</p>
<p>須上揀者濃煎頓服，待元氣漸回，隨症加減。</p>
<p>柯韻伯曰：一人而系一世之安危者，必重其權而專任之；則一物而系一人之死生者，當重其分兩而獨用之。《春秋運鬥樞》云：搖光星散而為人參。所以下有人參，上有紫氣，物華天寶，洵神物也。故先哲於氣虛血脫之症，獨用人參三兩，濃煎頓服之，能挽回性命於瞬息之間，非他物所可代。世之用者，恐或補住邪氣，些少以姑試之，或加消耗之味以監製之，其權不重，力不專，人何賴以得生？（無論庸工莫知其理，即負盛名者，尚習焉不察，可嘆！）如古方霹靂散、獨聖散、大補丸、舉卿古拜等方，皆用一物之長，而取效最捷，於獨參湯何疑耶？然又當隨機應變，視病機為轉旋。故獨參湯中，或加童便，或加薑汁，或加附子，或加黃連，相得相須，而相與有成，亦不礙其為獨。如薛新甫治中風，加人參兩許於三生飲中，以駕馭其抑，此真善用獨參湯者。</p>

<h2>炙甘草湯</h2>
<p>治傷寒脈結代，心動悸者。《外臺》又治肺痿，咳吐多，心中溫溫液液者。</p>
<p>甘草（四兩，炙）　生地黃（一斤）　麥冬（半斤）　人參（一兩）　桂枝（三兩）　生薑（二兩）　大棗（十二枚）　阿膠（二兩）　麻仁（半斤）</p>
<p>上九味，以酒七升，水八升，煮取三升，去滓，入膠溶盡，溫服一升，日三服。一名復脈湯。</p>
<p>喻嘉言曰：按此湯仲景傷寒門治邪少虛多，脈結代，心動悸之聖方也。一名復脈湯。《千金翼》用之以治虛勞。《外臺》用之以治肺痿。然本方所治，亦何止於二病？仲景諸方，為生心之化裁，亦若是而已矣。《外臺》所取，在於益肺氣之虛，潤肺金之燥。至於桂枝辛熱，似有不宜。而不知桂枝能通營衛，致津液，營衛通，津液致，則肺氣轉輸，濁沫以漸而下，尤為要藥，所以云治心中溫溫液液者。</p>
<p>柯韻伯曰：仲景於脈弱者，用芍藥以滋陰，桂枝以通血，甚則加人參以生脈，未有地黃、麥冬者，豈以傷寒之法，義重扶陽乎？抑陰無驟補之法與？此以心虛脈代結，用生地為君，麥冬為臣，峻補真陰，開後學滋陰之路。地黃、麥冬味雖甘而氣大寒，非發陳蕃莠之品，必得人參、桂枝以通脈，生薑、大棗以和營，阿膠補血，酸棗安神，甘草之緩不使速下，清酒之猛捷於上行，內外調和，悸可寧而脈可復矣。酒七升，水八升，只取三升者，久煎之則氣不峻，此虛家用酒之法，且知地黃、麥冬得酒良。</p>

<h2>逍遙散</h2>
<p>治肝家血虛火旺，頭痛，目眩，頰赤，口苦，倦怠，煩渴，抑鬱不樂，兩脅作痛，寒熱，小腹重墜，婦人經水不調，脈弦大而虛。</p>
<p>當歸　芍藥（酒炒）　白朮（炒）　茯苓　甘草（炙）　柴胡（各一錢）</p>
<p>加味逍遙散，即此方加丹皮、山梔（炒，各五分。）</p>
<p>趙羽皇曰：五臟苦欲補瀉云：肝苦急，急食甘以緩之。蓋肝性急，善怒，其氣上行則順，下行則鬱，鬱則火動，而諸病生矣。故發於上則頭眩、耳鳴，而或為目赤；發於中則胸滿、脅痛，而或作吞酸；發於下則少腹疼疝，而或溲溺不利；發於外則寒熱往來，似瘧非瘧。凡此諸症，何莫非肝鬱之象乎？（治肝之法盡矣。）而肝木之所以郁者，其說有二：一為土虛不能升木也，一為血少不能養肝也。蓋肝為木氣，全賴土以滋培，水以灌溉。若中氣虛，則九地不升，而木因之郁；陰血少，則木無水潤，而肝遂以枯。（養葵曰：人知木剋土，不知土升木，知言哉！）方用白朮、茯苓者，助土德以升木也；當歸、芍藥者，益營血以養肝也；丹皮解熱於中，草、梔清火於下。獨柴胡一味，一以厥陰報使，一以升發諸陽。經云：木鬱則達之。柴胡其要矣！</p>

<h2>二陳湯</h2>
<p>治肥盛之人，濕痰為患，喘嗽，脹滿。</p>
<p>半夏（三錢）　茯苓（三錢）　陳皮（三錢，去白）　甘草（一錢）</p>
<p>上四味，加姜三片，水煎服。</p>
<p>李士材曰：肥人多濕，濕挾熱而生痰，火載氣而逆上。半夏之辛，利二便而去濕；陳皮之辛，通三焦而理氣；茯苓佐半夏，共成燥濕之功；甘草佐陳皮，同致調和之力。成無己曰：半夏行水氣而潤腎燥，經曰辛以潤之是也。行水則土自燥，非半夏之性燥也。（半夏議明晰。）或曰有痰而渴，宜去半夏，代以貝母。</p>
<p>吳鶴皋曰：渴而喜飲者易之，不能飲水，雖渴宜半夏也。此濕為本，熱為標，所謂濕極而兼勝己之化，非真象也。又東南之人，濕熱生痰，故丹溪恆主之。加枳實、砂仁，即名枳砂二陳湯，其性較急也。先哲曰：二陳為治痰之妙劑，其於上下左右，無所不宜。然止能治痰之標，不能治痰之本。痰本在脾在腎，治者詳之。</p>

<h2>生脈散</h2>
<p>治熱傷元氣，氣短，倦怠，口乾，出汗。</p>
<p>人參　麥門冬　五味子</p>
<p>水煎服。</p>
<p>柯韻伯曰：肺為嬌臟而朝百脈，主一身元氣者也。形寒飲冷則傷肺，故傷寒有脈結代與脈微欲絕之危；暑熱刑金則傷肺，故傷熱有脈來虛散之足慮。然傷寒是從前來者，為實邪，故雖脈不至，而可復可通；傷熱是從所不勝來者，為賊邪，非先從滋化其源，挽回於未絕之前，則一絕而不可復。此孫真人為之急培元氣，而以生脈名方也。麥冬甘寒，清權衡治節之司；人參甘溫，補後天營衛之本；五味酸溫，收先天天癸之原。三氣通而三才立，水升火降，而合既濟之理矣。</p>
<p>仲景治傷寒，有通脈、復脈二法。少陰病裡寒外熱，下利清穀，脈微欲絕者，制通脈四逆湯，溫補以扶陽；厥陰病外寒內熱，心動悸，脈結代者，制復脈湯，涼補以滋陰。同是傷寒，同是脈病，而寒熱異治者，一挽坎陽之外亡，一清相火之內熾也。生脈散本復脈立法，外無寒，故不用薑、桂之辛散；熱傷無形之氣，未傷有形之血，故不用地黃、阿膠、麻仁、大棗，且不令其泥膈而滯脈道也。心主脈而苦緩，急食酸以收之，故去甘草而加五味矣。脈資始於腎，資生於胃，而會於肺。仲景二方重任甘草者，全賴中焦穀氣，以通之復之，非有待於生也。此欲得下焦天癸之元氣以生之，故不藉甘草之緩，必取資於五味之酸矣。</p>

<h2>理中湯</h2>
<p>治中氣不運，腹中不實，口失滋味，病久不食，臟腑不調，與傷寒直中太陰，自利不渴，寒多而嘔等證。</p>
<p>人參　白朮　乾薑（炮）　甘草（炙，各一錢五分）</p>
<p>水煎服。加附子，即名附子理中湯。</p>
<p>程郊倩曰：陽之動，始於溫，溫氣得而穀精運，穀氣升而中氣贍，故名曰理中。實以燮理之功，予中焦之陽也。若胃陽虛，即中氣失宰，膻中無發宣之用，六腑無灑陳之功，猶如釜薪失焰，故下至清穀，上失滋味，五臟凌奪，諸症所由來也。參、朮、炙草，所以固中州；乾薑辛以守中，必假之以焰釜薪而騰陽氣。是以谷入於陰，長氣於陽，上輸華蓋，下攝州都，五臟六腑皆以受氣矣。此理中之旨也。若水寒互勝，即當脾腎雙溫，附子之加而命門益，土母溫矣。</p>

<h2>《三因》耆附、朮附、參附三湯</h2>
<p>治陽虛自汗，寒濕沉痼，陽虛陰盛。</p>
<p>黃耆（一兩）　附子（五錢）　名耆附湯。</p>
<p>白朮（一兩）　附子（五錢）　名朮附湯。</p>
<p>人參（一兩）　附子（五錢）　名參附湯。</p>
<p>水煎，分三服。</p>
<p>喻嘉言曰：衛外之陽不固而自汗，則用耆附；脾中之陽遏鬱而自汗，則用朮附；腎中之陽浮游而自汗，則用參附。凡屬陽虛自汗，不能捨三方為治。然三方之用大矣，耆附可以治虛風，朮附可以治寒濕，參附可以壯元神，三者亦交相為用。若用其所當用，功效若神，誠足貴也。以黃耆、人參為君，其長駕遠馭，附子固不足以自恣，術雖不足以制附，然遇陽虛陰盛，寒濕沉痼，即生附在所必用，何取制伏為耶？《金匱》白朮附子湯中，加甘草一味，以治痹症，豈非節制之師乎？急症用其全力，即不可制；緩症用其半力，即不可不制。至如急中之緩，緩中之急，不制而制，制而不制，妙不能言。</p>

<h2>清暑益氣湯</h2>
<p>長夏濕熱蒸炎，四肢困倦，精神減少，身熱，氣高，煩心，便黃，渴而自汗，脈虛者，此方主之。</p>
<p>人參　黃耆　甘草　白朮　蒼朮（一錢五分）　神麯　青皮　升麻　乾葛　麥冬　五味　當歸　黃柏　澤瀉　廣皮水煎，溫服。</p>
<p>吳鶴皋曰：暑令行於夏，至長夏則兼濕令矣。此方兼而治之。炎暑則表氣易泄，兼濕則中氣不固，黃耆所以實表，白朮、神麯、甘草所以調中；酷暑橫流，肺金受病，人參、五味、麥冬所以補肺、斂肺、清肺，經所謂扶其所不勝也；火盛則水衰，故以黃柏、澤瀉滋其化源；津液亡則口渴，故以當歸、乾葛生其胃液；清氣不升，升麻可升；濁氣不降，二皮可理；蒼朮之用，為兼長夏濕也。</p>
<p>程郊倩曰：人知清暑，我兼益氣，以暑傷氣也。益氣不獨金能敵火，凡氣之上騰，而為津為液者，向下即腎中之水，水氣足，火淫自卻也。</p>

<h3>附暑門諸方論</h3>
<p>喻嘉言曰：元豐朝立和劑局，萃集醫家經驗之方，於中暑一門獨詳。以夏月暑證，五方歷試，見聞廣耳。其取用小半夏茯苓湯，不治其暑，專治其濕。又以半夏、茯苓，少加甘草，名消暑丸，見消暑在消其濕矣。其香薷飲，用香薷、扁豆、厚朴為主方，熱盛則去扁豆，加黃連為君，治其心火；濕甚則去黃連，加茯苓、甘草，治其脾濕。其縮脾飲，則以脾為濕所浸淫而重滯，於扁豆、葛根、甘草中，佐以烏梅、砂仁、草果，以快脾而去脾所惡之濕。甚則用大順散、來復丹，以治暑證之多瀉利者，又即縮脾之意而推之也。其枇杷葉散，則以胃為濕所竊據而濁穢，故用香薷、枇杷葉、丁香、白茅香之辛香，以安胃而去胃所惡之臭。甚則用冷香引子，以治暑證之多嘔吐者，又即枇杷葉散而推之也。醫者於濕熱虛寒，淺深緩急間，酌而用之，其利溥矣。而後來諸賢，以益虛繼之。河間之桂苓甘露飲，五苓三石，意在生津液以益胃之虛。子和之桂苓甘露飲，用人參、甘草、葛根、藿香、木香，益虛之中又兼去濁；或用十味香薷飲，於《局方》五味中，增人參、黃耆、白朮、陳皮、木瓜，益虛以去濕熱。乃至東垣之清暑益氣湯、人參黃耆湯，又補中實衛以去其濕熱，肥白內虛之人，勿論中暑與否，所宜頻服者也。中暑必顯躁煩熱悶，東垣仿仲景竹葉石膏湯之制，方名清燥湯，仍以去濕為首務。夫燥與濕，相反者也，而清燥亦務除濕，非東垣具過人之識，不及此矣。又如益元散之去濕，而加辰砂則並去其熱；五苓散之去濕，而加人參則益虛，加辰砂減桂則去熱；白虎湯加人參則益虛，加蒼朮則勝濕。合之《局方》，則大備矣。然尚有未備者，暑風一症，猝倒類乎中風，而未可從風門索治。《百一選方》大黃龍丸，初不為暑風立法，而愚見從而贊之曰：有中暍昏死，灌之立蘇。此可得治暑風一斑矣。倘其人陰血素虧，暑毒深入血分者，《良方》復有地榆散。治中暑昏迷，不省人事而欲死者，但用平常涼血之藥，清解深入血分之暑風。此以心火暴甚，煎熬真陰，舍清心涼血之外，無可潑滅者，美其名曰潑火散，知言哉！</p>

<h2>竹葉黃耆湯</h2>
<p>治消渴，氣血虛，胃火盛而作渴。</p>
<p>淡竹葉　生地黃（各二錢）　黃耆　麥冬　當歸　川芎　黃芩　甘草　芍藥　人參　半夏　石膏（各一錢）</p>
<p>上水煎服。</p>
<p>柯韻伯曰：氣血皆虛，胃火獨盛，善治者補瀉兼施，寒之而不致亡陽，溫之而不至於助火，扶正而邪卻矣。四君子氣藥也，加黃耆而去苓、術，恐火就燥也。四物湯血藥也，地黃只用生者，正取其寒也。人參、黃耆、甘草治煩熱之聖藥，是補中有瀉矣。且地黃之甘寒，瀉心腎之火，竹葉助芍藥清肝膽之火，石膏佐芍藥清脾胃之火，麥冬同黃芩清肺腸之火，則胃火不得獨盛，而氣血之得補可知。惟半夏一味，溫中辛散，用之大寒劑中，欲其通陰陽之路也。岐伯治陰虛而目不瞑者，飲以半夏湯，覆杯則臥。今人以為燥而渴者禁用，是不明陰陽之理耳！</p>

<h2>清燥救肺湯</h2>
<p>（喻氏制。論一條）</p>
<p>主治諸氣憤郁，諸痿喘嘔。</p>
<p>桑葉（經霜者，三錢）　石膏（二錢五分，煅）　甘草（一錢）　人參（七分）　胡麻仁（一錢，炒研）　真阿膠（八分）　麥冬（一錢二分）　杏仁（去皮尖，炒黃，七分）　枇杷葉（去毛蜜炙，用一片）上九味，以水一碗，煎六分，頻頻二三次滾熱服。痰多加貝母、栝蔞。血枯加生地。熱甚加犀角、羚羊角，或加牛黃。</p>
<p>喻嘉言曰：按諸氣憤郁之屬於肺者，屬於肺之燥也。而古今治氣鬱之方，用辛香行氣，絕無一方治肺之燥者。諸痿喘嘔之屬於上者，亦屬於肺之燥也。而古今治法以痿、嘔屬陽明，以喘屬肺，是則嘔與痿屬之中下，而惟喘屬上矣，所以亦無一方及於肺之燥也。即喘之屬於肺者，非表即下，非行氣即瀉氣，間有一二用潤劑者，又不得其肯綮。今擬此方名清燥救肺，大約以胃為主，胃土為肺金之母也。其天冬、知母能清金滋水，以苦寒而不用，至如苦寒降火之藥，尤在所忌。蓋肺金自至於燥，所存陰氣，不過一線耳！倘更以苦寒下其氣，傷其胃，其人尚有生理乎？誠仿此增損以救肺燥變生諸症，庶克有濟耳。</p>
<p>柯韻伯曰：古方用香燥之品以治氣鬱，不獲奏效者，以火就燥也。惟繆仲淳知之，故用甘涼滋潤之品，以清金保肺立法。喻氏宗其旨，集諸潤劑而制清燥救肺湯，用意深，取藥當，無遺蘊矣。石膏、麥冬稟西方之色，多液而甘寒，培肺金主氣之源，而氣可不郁；土為金母，子病則母虛，用甘草調補中宮生氣之源，而金有所恃；金燥則水無以食氣而相生，母令子虛矣，取阿膠、胡麻黑色通腎者，滋其陰以上通生水之源，而金始不孤；西方虛，則東實矣，木實金平之，二葉稟東方之色，入通於肝，枇杷葉外應毫毛，固肝家之肺藥，而經霜之桑葉，非肺家之肝藥乎？損其肺者益其氣，人參之甘以補氣；氣有餘便是火，故佐杏仁之苦以降氣，氣降火亦降，而治節有權，氣行則不郁，諸痿喘嘔自除矣。要知諸氣憤郁，則肺氣必大虛。若泥於肺熱傷肺之說，而不用人參，必郁不開而火愈熾，皮聚毛落，喘而不休。此名之救肺，涼而能補之謂也。若謂實火可瀉，而久服芩、連，反從火化，亡可立待耳！愚所以服膺此方而深贊之。</p>

<h2>當歸六黃湯</h2>
<p>治陰虛有火，令人盜汗者。</p>
<p>當歸　生地　熟地　黃耆　黃芩　黃連　黃柏</p>
<p>水煎服。</p>
<p>季楚重曰：汗本心之液，其出入關乎肝、肺。營分開合，肝司之；衛分開合，肺司之。顧營衛各有所虛，則各有所汗，陽虛汗責在衛，陰虛汗責在營。然必相須為用，衛氣不固於外，由陰氣之不藏；營氣失守於中，由陽氣之不密。故治盜汗之法有二：一由肝血不足，木不生火，而心亦虛，酸棗仁湯補肝即以補心也；一以肝氣有餘，木反侮金，而肺亦虛，當歸六黃湯治肝以治肺也。是方當歸之辛養肝血，黃連之苦清肝火，一補一泄，斯為主治；肝火之動，由水虛無以養，生地涼營分之熱，熟地補髓中之陰，黃柏苦能堅腎，是瀉南補北之義也；肝木之實，由金虛不能制，黃耆益肺中之氣，黃芩清肺中之熱，是東實西虛之治也。惟陰虛有火，關尺脈旺者始宜。若陰虛無氣，津脫液泄，又當以生脈、六味，固陰陽之根。若用芩、連、柏苦寒傷胃，使金水益虛，木火益旺，有措手不及之虞矣。</p>

<h2>苓桂朮甘湯</h2>
<p>（《金匱》）</p>
<p>治心下有痰飲，胸脅支滿，目眩。又曰：短氣有微飲，當從小便去之，苓桂朮甘湯主之，腎氣丸亦主之。（腎氣丸已見。）</p>
<p>茯苓（四兩）　桂枝（三兩）　白朮（三兩）　甘草（三兩）</p>
<p>上四味，以水六升，煮取三升，分溫三服，小便則利。</p>
<p>趙以德曰：《靈樞》謂心胞絡之脈動，則病胸脅支滿者，謂痰飲積於心胞，其病則必若是。目眩者，痰飲阻其胸中之陽，不能布水精於上也。茯苓治痰飲，伐腎邪，滲水道，故用以為君；桂枝通陽氣，和營衛，開經絡，痰水得溫則行，故以為臣；白朮治風眩，燥痰水，除脹滿，故以佐茯苓。然中滿者勿食甘，此用甘草何也？蓋桂枝之辛，得甘則佐其發散，復益土以制水；且得茯苓則不資滿，而反泄滿。《本草》曰：甘草能下氣，除煩滿。故用之也。夫短氣有微飲，此水飲停蓄，呼吸不利而然也。《金匱》並出二方，妙義益彰。呼氣之短，用苓桂朮甘湯之輕清以通其陽，陽氣化則小便能出矣；吸氣之短，用腎氣丸之重降以通其陰，腎氣通則關門自利矣。（呼吸二義，發明極精。）</p>

<h1>卷二</h1>

<h2>小半夏湯三方</h2>

<h3>小半夏湯</h3>
<p>嘔家本渴，渴為欲解，今反不渴，心下有支飲故也。</p>
<p>半夏（一升）　生薑（半斤）</p>
<p>以水七升，煮取一升半，分溫再服。</p>

<h3>小半夏加茯苓湯</h3>
<p>治卒嘔吐，心下痞悶，間有水眩悸者。</p>
<p>半夏（一升）　生薑（半斤）　茯苓（三兩）</p>
<p>煎服如前。</p>

<h3>外臺茯苓飲</h3>
<p>治心胸中有痰飲宿水，自吐出水，復心胸間虛氣滿不能食，消痰氣，令能食。</p>
<p>茯苓　人參　白朮（各三兩）　枳實（二兩）　橘皮（二兩半）　生薑（四兩）</p>
<p>上六味，水六升，煮取一升八合，分三服，如人行八九里，再進之。</p>
<p>趙以德曰：嘔為痰飲動中，湧而出之。嘔盡本當渴，渴則可徵支飲之全去。今反不渴，是其飲尚留，去之未盡也。用半夏之辛溫，生薑之辛散，散其欲出之飲，則所留之邪自盡矣。半夏、生薑皆味辛，可治膈上痰，心下堅，嘔逆，目眩。然悸必心受水凌，故加茯苓以去水，伐腎邪安心神也。後方加人參、枳實、橘皮，此由上、中二焦氣弱，水飲入胃，脾不能輸歸於肺，肺不能通調水道，以致停積為痰，為宿水，吐之則下氣因而上逆，是為虛氣滿不能食。當補益中氣，以人參、白朮為君；茯苓逐宿水，枳實調諸氣為臣；開脾胃，宣揚上焦，發散凝滯，則陳皮、生薑為使也。凡積飲既去，而虛氣塞滿其中，不能進食，此症最多。</p>

<h2>瀉白散</h2>
<p>治肺氣熱盛，咳嗽而喘，面腫，身熱。</p>
<p>桑白皮　地骨皮　甘草</p>
<p>水煎服。</p>
<p>季楚重曰：經云：肺苦氣上逆。上逆則上焦鬱熱，氣鬱生涎，火鬱生熱，因而治節不行，壅甚為喘滿腫嗽。瀉白者，正金之令，驅氣之逆，非劫金而瀉之也，法使金清則氣肅。桑根白皮稟西方燥金之氣，甘辛能入肺而瀉氣之有餘；地骨皮涼平，調不足之陰，能清陰中之火，滋腎子以清母；甘草益土和中，且生能瀉火，補土母以食子，瀉補交致，金元自正，於以佐桑皮而行諸氣之憤郁，鮮不達矣，較之黃芩、知母苦寒傷胃者遠也。夫火熱傷氣，救肺之治有三：傷寒邪熱侮肺，用白虎湯除煩，此治其標；內症虛火爍陰，用生脈散益陰，此治其本；若夫正氣不傷，鬱火又甚，則瀉白散之清肺調中，標本兼治，又補二方之不及也。</p>

<h2>地骨皮飲</h2>
<p>治陰虛火旺，骨蒸發熱，日靜夜劇者；婦人熱入血室，胎前發熱者。</p>
<p>四物湯加地骨皮　牡丹皮（各三錢）</p>
<p>水煎服。</p>
<p>柯韻伯曰：陰虛者，陽必湊之，故熱。仲景曰：陰弱則發熱。陽氣下陷入陰中，必發熱。然當分三陰而治之：陽邪陷入太陰脾部，當補中益氣以升舉之，清陽復位而火自熄也；若陷入少陰腎部，當六味地黃丸以對待之，壯水之主而火自平也；陷入厥陰肝部，當地骨皮飲以涼補之，血有所藏而火自安也。四物湯為肝家滋陰調血之劑，加地骨皮清志中之火以安腎，補其母也；加牡丹皮清神中之火以涼心，瀉其子也。二皮涼而不潤，但清肝火，不傷脾胃，與四物加知、柏之濕潤而苦寒者不同矣。故逍遙散，治肝火之鬱於本臟者也，木鬱達之，順其性也；骨皮飲治陽邪之陷於肝臟也，客者除之，勿縱寇以遺患也。二方皆肝家得力之劑。</p>

<h2>升陽益胃湯</h2>
<p>治脾胃虛，怠惰嗜臥，四肢不收，時值濕熱，體重節痛，口乾舌燥，飲食無味，大便不調，小便頻數，食不消。兼見肺病，灑淅惡寒，慘慘不樂，面色不和。</p>
<p>羌活　獨活　防風　柴胡　人參　白朮　茯苓　甘草　黃耆　白芍　半夏　黃連　澤瀉　陳皮</p>
<p>水煎服。</p>
<p>吳鶴皋曰：脾土虛弱，不能制濕，故體重節痛；不能運化精微，故口乾無味；中氣既弱，傳化失宜，故大便不調，小便頻數也。灑淅惡寒，肺弱表虛也。面色不樂，陽氣不伸也。是方半夏、白朮能燥濕；茯苓、澤瀉滲之；二活、防風、柴胡能升舉清陽之氣；黃連療濕熱；陳皮平胃氣；參、耆、甘草以益胃；白芍酸收，用以和營，而協羌、防、柴胡辛散之性。蓋古人用辛散，必用酸收，所以防其峻厲，猶兵家之節制也。</p>

<h2>清脾飲</h2>
<p>治痰積成瘧。</p>
<p>青皮　厚朴　草果　半夏　柴胡　白朮　甘草　茯苓　黃芩</p>
<p>水煎服。</p>
<p>柯韻伯曰：瘧為少陽病，治分六經。邪留於募原，有遠近之殊，其發有虛實先後之異。而此湯之治瘧，實以痰積，名之清脾者，究其因而治其本也。先哲云：無痰不成瘧，無積不成瘧。是脾為生痰之源，而積之不磨者，亦因脾之不運也。胃主內，脾主消，而胃為脾之表。凡欲清脾，必先平胃。青皮、厚朴、草果，皆氣味兼厚之品，取以倒陽陰之倉，正以利太陰之輸也。然宿痰留結，更有藉於茯苓、半夏之淡滲辛散，是恐奇之不去則偶之，所以攻脾之實者，平胃除痰，每相須耳。積因於寒，痰因於熱，是寒熱往來，為瘧之標，而實為痰積之本矣，必用芩、柴以清之，更合於少陽之治。然此為土中瀉火，不是直攻少陽，乃清脾之義也。火土平而無以善其後，則瘧之因實而成者，未免因虛而劇，甘、術之必須，又防微杜漸法耳。</p>

<h2>溫膽湯</h2>
<p>治熱嘔吐苦，虛煩，驚悸，不眠，痰氣上逆。</p>
<p>竹茹　枳實　半夏　甘草　陳皮　生薑　茯苓</p>
<p>上七味，水煎服。</p>
<p>羅東逸曰：膽為中正之官，清淨之腑，喜寧謐，惡煩擾，喜柔和，不喜壅鬱。蓋東方木德，少陽溫和之氣也。若大病後，或久病，或寒熱甫退，胸膈之餘熱未盡，必致傷少陽之和氣，以故虛煩；驚悸者，中正之官，以熇蒸而不寧也；熱嘔吐苦者，清淨之腑，以郁炙而不謐也；痰氣上逆者，土家濕熱反乘，而木不得升也。如是者首當清熱，及解利三焦。方中以竹茹清胃脘之陽，而臣以甘草、生薑，調胃以安其正；佐以二陳，下以枳實，除三焦之痰壅；以茯苓平滲，致中焦之清氣。且以驅邪，且以養正，三焦平而少陽平，三焦正而少陽正，膽家有不清寧而和者乎？和即溫也，溫之者實涼之也。若膽家真畏寒而怯，屬命門之火衰，當與乙癸同源而治矣。</p>

<h2>導赤散</h2>
<p>治心熱，小便黃赤，莖中痛，熱急不通。</p>
<p>生地黃　木通　甘草梢</p>
<p>上三味，水煎服。</p>
<p>季楚重曰：經云：兩精相搏謂之神。是神也者，待心中之真液，腎中之真氣以養者也，故心液下交而火自降，腎氣上承而水自生。前賢以生脈救真液，是治本不治標也；導赤散清邪火，是治標以固本也。錢氏制此方，意在制丙丁之火，必先合乙癸之治。生地黃涼而能補，直入下焦，培腎水之不足，腎水足，則心火自降；尤慮肝木妄行，能生火以助邪，能制土以盜正，佐以甘草梢，下行緩木之急，即以瀉心火之實，且治莖中痛；更用木通導小腸之滯，即以通心火之郁，是一治兩得者也。瀉心湯用黃連，所以治實邪，實邪責木之有餘，瀉子以清母也；導赤散用地黃，所以治虛邪，虛邪責水之不足，壯水以制火也。此方涼而能補，較之用苦寒伐胃，傷其生氣者遠矣。</p>

<h2>芍藥湯</h2>
<p>治滯下赤白，便膿血，後重諸證。</p>
<p>芍藥（二兩）　當歸　黃連（各五錢）　檳榔　木香　甘草（各二錢）　桂（一錢半）　黃芩（五錢）</p>
<p>每服半兩，水煎服。痢不減，加大黃。</p>
<p>羅東逸曰：本方注云，溲而便膿血，知氣行而血止也，行血則便膿自愈，調氣則後重自除，至今推為要言，然非知本之論也。夫滯下本太陰病，長夏令行，土潤溽暑，太陰本虛，暑濕不攘，土濕則木鬱，木鬱則傷土，太陰失健運，少陽失疏達，及飲食失節不化，至秋金收令行，火用不宣，鬱蒸之久，而滯下之症作矣。是始為暑傷氣，繼為氣傷血，因而為白為赤為兼赤白，下迫窘急，腐穢不去，以成後重。方以芍、草為君，用甲己化土法，先調脾，即於土中升木；顧濕熱必傷大腸，黃連燥濕、清熱、厚腸胃，黃芩清大腸火為臣；久積必中氣逆滯，疏滯以木香，下逆以檳榔，當歸和氣血為佐；桂補命門，實土母，反佐溫而行之，恐芩、連之勝令也。斯少陽達、太陰運矣。若大實痛者，加大黃，用仲景芍藥湯加大黃法，以蕩腐穢，無留行矣。是方允為滯下本方也。</p>

<h2>犀角地黃湯</h2>
<p>主治吐衄便血，婦人血崩，赤淋。</p>
<p>生犀角　生地黃　白芍藥　牡丹皮</p>
<p>上四味，先用三物水煎去滓，入生犀汁，熱服。</p>
<p>柯韻伯曰：氣為陽，血為陰。陽密乃固，陽盛則傷陰矣；陰平陽秘，陰虛者陽必湊之矣。故氣有餘即是火，火入血室，血不營經，即隨逆氣而妄行，上升者出於口鼻，下陷者出於二便。雖有在經在腑之分，要皆心肝受熱所致也。心為營血之主，心火旺則血不寧，故用生犀、生地酸鹹甘寒之味，以清君火；肝為藏血之室，肝火旺則血不守，故用丹皮、芍藥辛酸微寒之品，以平相火。此方雖曰清火，而實滋陰之劑。蓋血失則陰虛，陰虛則無氣，故陰不足者，當補之以味，勿得反傷其氣也。若用芩、連、膽草、梔、柏以瀉其氣，則陽之劇者，苦從火化，陽已衰者，氣從苦發，燎原而飛越矣。（此義不可不知。）</p>

<h2>人參清肺湯</h2>
<p>（《準繩》。三方合論）</p>
<p>治肺胃虛寒，咳嗽喘急，坐臥不安。並治久年勞嗽，吐血腥臭。</p>
<p>人參　阿膠　骨皮　知母　烏梅　粟殼　炙草　杏仁　桑皮（等分）　棗子</p>
<p>水煎服。</p>

<h3>人參定喘湯</h3>
<p>（《準繩》）</p>
<p>治肺氣上逆喘嗽，喉中有聲，胸膈緊痛，及感寒邪，咳嗽聲重。</p>
<p>人參　麻黃　阿膠　五味　粟殼　甘草　半夏曲（各一錢）　桑皮（二錢）　生薑（三片）</p>
<p>水煎服。</p>

<h3>人參瀉肺湯（《金匱》）</h3>
<p>治肺經積熱上喘，胸膈脹滿，痰多，大便澀。</p>
<p>人參　黃芩　梔子　枳殼　薄荷　甘草　連翹　杏仁　桑皮　大黃　桔梗</p>
<p>水煎服。</p>
<p>王又原曰：經曰：邪之所湊，其氣必虛。又肺為嬌臟。其不堪破耗也明矣。自肺熱傷肺之說行，曰保肺補肺，眾共譁之；曰清肺瀉肺，樂與和之。豈知古人清肺、瀉肺等湯，而必皆以人參立名。夫亦可曉然於肺氣之不可耗，而人參之在所必用也。肺體清而法天，下濟而司降令，一切渾濁不得上乾者，皆氣之健能運行而不息也。若肺氣少弛，則降下失令，渾濁之氣遂逆上行，此為咳嗽，為喘急；肺葉脹舉，胸膈緊痛，移熱大腸，大便艱澀。種種顯有餘之象，實種種為不足之徵。故不問內傷外感，為熱為寒，要以人參保定肺氣為主，或骨皮、知母、阿膠滋之，或烏梅、五味、罌粟殼斂之，或半夏曲、生薑降之，或杏仁、桑皮、枳殼、桔梗利之，或梔子、黃芩、連翹涼之，或麻黃、薄荷發之，大黃下之，總恃人參之大力握樞而運，已入之邪易出，而將來之邪無從入也。肺邪得諸藥以俱出，而肺氣不隨諸藥以俱出也。然則人參亦何嘗傷肺，乃畏而不敢用耶？</p>

<h2>溫脾湯</h2>
<p>（《本事方》）</p>
<p>主治錮冷在腸胃間，泄瀉腹痛，宜先取去，然後調治，不可畏虛以養病也。</p>
<p>厚朴　乾薑　甘草　桂心　附子（各二兩）　大黃（四錢）</p>
<p>上㕮咀，取一兩，水二鍾，煎六分，頓服。</p>
<p>喻嘉言曰：許叔微制此方，深合仲景以溫藥下之之法。其大黃只用四錢，更為有見。夫痼冷在腸胃而泄瀉矣，即溫藥中，寧敢用大黃之猛重困之乎？減而五分之一，乃知叔微之得於仲景深也。仲景云：病人舊微溏者，梔子湯不可與服。又云：太陰病脈弱便利，設當行大黃、芍藥者，宜減之，以其人胃氣弱，易動故也。即是觀之，腸胃痼冷之泄瀉，而可恣用大黃耶？不用則溫藥必不能下，而久留之邪非攻不去；多用則溫藥恐不能制，而洞下之勢或至轉增。裁酌用之，真足法矣。（方妙矣，議更妙。）</p>

<h2>秦艽升麻湯</h2>
<p>治風寒客胃，口眼喎斜，惡見風寒，四肢拘急，脈浮而緊。</p>
<p>升麻　葛根　秦艽（上）　白芷（上）　防風（上）　甘草　芍藥　人參　桂枝　蔥白</p>
<p>上十味，水煎服。</p>
<p>李士材曰：至哉坤元，為五臟之主。木勝風淫，則倉廩之官承製，脾主四肢，故痿痹也。口為土之外候，眼為木之外候，故俱病也。升麻、白芷皆陽明本藥，故用為直入之兵，人參、桂枝固其衛氣，芍藥、秦艽和其營血，防風卑賤之卒，隨令而行，蔥根發汗之需，無微不達，又藉甘草以和之，而邪有不散者乎？</p>

<h2>二黃湯</h2>
<p>治上焦火盛，頭面大腫，目赤腫痛，心胸咽喉口舌耳鼻熱盛，及生瘡毒者。</p>
<p>黃芩　黃連　甘草（各等分）</p>
<p>水煎，食後服。</p>
<p>柯韻伯曰：諸腫痞痛，皆屬心火，必用芩、連以瀉心。然傷寒熱結於內，而心下痞者，是為客邪。治客當急，故君大黃，率芩、連，用麻沸湯漬絞其汁，而速驅之，不使暫留也。此熱淫於內，而上炎頭目者，是為正邪。治之當緩，故用甘草與芩、連等分同煎，漫飲以漸漬之，不使下行也。蓋心下本虛而火實之，法當並瀉其子，土鬱奪之，而火速降矣；上焦本清而火擾之，法當先培其子，土得其令，而火邪自退矣。芩、連得大黃，不使其子令母實；芩、連得甘草，又不使其母令子虛。同一瀉心，而其中又有攻補之不同如此。</p>

<h2>四磨湯</h2>
<p>（《濟生》）</p>
<p>治七情感傷，上氣喘急，煩悶不食。</p>
<p>人參　檳榔　沉香　天台烏藥</p>
<p>上四味，各濃磨水取七分，煎三五沸，放溫，空心服，或下養正丹尤妙。</p>
<p>王又原曰：經云：聖人嗇氣，如持至寶；庸人役物，而反傷太和。此七情隨所感，皆能為病。然愈於壯者之行，而成於弱者之著。愚者不察，一遇上氣喘急，滿悶不食，謂是實者宜瀉，輒投破耗等藥。得藥非不暫快，初投之而應，投之久而不應矣。夫呼出為陽，吸入為陰，肺陽氣旺，則清肅下行，歸於腎陰，是氣有所收攝，不復散而上逆。若正氣既衰，邪氣必盛，縱欲削堅破滯，邪氣必不伏。方用人參補其正氣，沉香納之於腎，而後以檳榔、烏藥從而導之，所謂實必顧虛，瀉必先補也。四品氣味俱厚，磨則取其味之全，煎則取其氣之達，氣味齊到，效如桴鼓矣。其下養正丹者，暖腎藥也。本方補肺氣養正，溫腎氣鎮攝歸根，喘急遄已矣。</p>

<h2>升麻葛根湯</h2>
<p>治陽明表熱下利，兼治痘疹初發。</p>
<p>升麻　葛根　芍藥　甘草（炙）</p>
<p>上四味，水煎服。</p>
<p>柯韻伯曰：此為陽明初病，解表和里之劑，可用以散表熱，亦可用以治裡虛，一方而兩擅其長也。夫身熱汗自出，不惡寒反惡熱，是陽明之本證。仲景未嘗立治表之方，見陽明初起，汗出多而惡寒者，便用桂枝湯；反無汗而喘者，仍用麻黃湯。症同太陽，而稱陽明者，是陽明之自病，而非太陽轉屬也。此方不用麻、桂者，恐傷肌肉之表，汗太過而亡津。升麻、葛根提胃脘之陽，散肌肉之浮熱；芍藥、甘草瀉肝膽之火，以解胃腑之實熱，有汗則發，無汗則止，功同桂枝，而已遠於薑、桂，且不須啜稀粥以助陽也。胃實為陽明之裡症，仲景制承氣三方。然陽明初病，往往有移熱於脾而下利者，《內經》所謂暴注下迫，皆屬於熱也。下利正是胃實之兆，故太陽、陽明合病，必自下利。仲景制葛根湯，以表散之，是從陰引陽法。此方即仿其義，去薑、桂之辛熱，以升麻代麻黃，便是陽明表劑，而非太陽表劑矣。葛根稟性甘涼，可以散表實，協升麻以上升，則使清陽達上，而濁陰降下可知；芍藥收斂陰精，甘草緩急和里，則下利自止可知。治里仍用表藥者，以表實下利，而非裡實故也。痘疹自里達表，出於少陰而發於太陽，初起則內外皆熱，故亦宜於涼散耳。</p>

<h2>防風通聖散</h2>
<p>風熱壅盛，表裡三焦皆實者，此方主之。</p>
<p>防風　川芎　當歸　芍藥　大黃　薄荷　麻黃　連翹　芒硝（各半兩）　黃芩　石膏　桔梗（各一兩）　滑石（三兩）　甘草（二兩）　荊芥　白朮　梔子（各二錢半）　生薑（三片）</p>
<p>每服三錢。</p>
<p>吳鶴皋曰：防風、麻黃，解表藥也，風熱之在皮膚者，得之由汗而泄；荊芥、薄荷，清上藥也，風熱之在巔頂者，得之由鼻而泄；大黃、芒硝，通利藥也，風熱之在腸胃者，得之由後而泄；滑石、梔子，水道藥也，風熱之在決瀆者，得之由溺而泄；風淫於膈，肺胃受邪，石膏、桔梗，清肺胃也；而連翹、黃芩，又所以祛諸經之遊火；風之為患，肝木主之，川芎、歸、芍和肝血；而甘草、白朮，所以和胃氣而健脾。劉守真氏長於治火，此方之旨，詳且悉哉。亦治失下發斑，三焦火實。全方除硝、黃，名曰雙解散。解表有防風、麻黃、薄荷、荊芥、川芎；解里用石膏、滑石、黃芩、梔子、連翹；復有當歸、芍藥以和血，桔梗、白朮、甘草以調氣。營衛皆和，表裡俱暢，故曰雙解。本方名曰通聖，極言其用之妙耳。</p>

<h2>藿香正氣散</h2>
<p>治外受四時不正之氣，內停飲食，頭痛寒熱，或霍亂吐泄，或作瘧疾。</p>
<p>藿香　桔梗　紫蘇　白芷　厚朴　大腹皮　半夏　茯苓　陳皮　甘草</p>
<p>上十味，加薑、棗，水煎，熱服。</p>
<p>吳鶴皋曰：四時不正之氣，由鼻而入，不在表而在裡，故不用大汗以解表，但用芬香利氣之品主之。蘇、芷、陳、腹、樸、梗，皆氣勝者也，故足正不正之氣；茯、半、甘草，則甘平之品，所以培養中氣者也。若病在太陽，與此湯全無相干。傷寒脈沉發熱，與元氣本虛之人，並夾陰發熱者，宜戒。又金不換正氣散，即平胃散加半夏、藿香，凡受山嵐瘴氣，及出遠方，不服水土，吐瀉下利者主之。蓋平胃散可以平濕土而消瘴，半夏之燥以醒脾，藿香之芬以開胃，名曰正氣。謂能正不正之氣耳！</p>

<h2>防風黃耆湯</h2>
<p>治中風不能言，脈沉而弱者。</p>
<p>防風　黃耆（等分）</p>
<p>水煎服。</p>
<p>柯韻伯曰：夫風者，百病之長也。邪風之至，急如風雨。善治者治皮毛，故用防風以驅逐表邪；邪之所湊，其氣必虛，故用黃耆以鼓舞正氣。黃耆得防風，其功愈大者，一攻一補，相須相得之義也。唐柳太后中風不言，許胤宗造防風黃耆湯數十斛，置床下蒸之，身在氣中居，次日便能語。是以外氣通內氣，令氣行而愈也。經曰：五氣入鼻，藏於心肺，上使耳目修明，聲音能彰。制此方者，其知此義矣。夫熏蒸之力，尚能去病，況服之乎！今人治風，惟以發散為定法，而禁用參、耆。豈知目盲不能視，口噤不能言，皆元氣不足使然耳！誰知補氣可以御風，正勝而邪卻之理耶？神而明之，存乎其人。信哉！</p>

<h2>稀涎千緡湯</h2>
<p>治風痰不下，喉中聲如牽鋸，或中濕腫滿。</p>
<p>半夏（大者，十四枚）　豬牙皂角（一挺，炙）　甘草（一錢）　白礬（二錢）</p>
<p>上四味研末，用生薑自然汁少許，沖溫水一盞，調末一錢，灌之，得吐痰涎，即醒。</p>
<p>柯韻伯曰：攻邪有汗、吐、下三法。仲景於吐劑立梔豉、瓜蒂二方，所以導熱邪之外出，逐寒邪而外散也。其有不因外感，因醇酒厚味，漸漬凝結，變為頑痰，一旦乘虛上塞咽喉，氣不得通，忽然昏僕，目反直視，喉中聲如牽鋸，此為痰厥。先輩所云怪症多屬於痰者，此也。非用峻劑以攻之，頑痰不能遽退，故用生薑、半夏之辛以散之，甘草之甘以湧之，白礬之澀以墜之，牙皂之勇以開之。此斬關奪門之勢，惟稟氣素實而暫虛者可用。壅塞稍疏，續進他藥。不可多用，以傷元氣。如平素虛弱者，又當攻補兼施，六君湯中加牙皂、白礬末以吐之，則庶幾矣。若誤作中風治之，去生便遠。</p>

<h2>麥門冬湯</h2>
<p>（《金匱》）</p>
<p>火逆上氣，咽喉不利，止逆下氣者主之。</p>
<p>麥門冬（七升）　半夏（一升）　人參（三兩）　甘草（二兩）　粳米（三合）　大棗（十二枚）</p>
<p>上六味，以水一二斗，煮取六升，溫服一升，日三夜一服。</p>
<p>喻嘉言曰：此方治胃中津液乾枯，虛火上炎，治本之良法也。夫用降火之藥而火反升，用寒涼之藥而熱轉熾者，徒知與火熱相爭，而正氣不致，津液不生，不惟無益，而反害之矣。凡肺病，有胃氣則生，無胃氣則死。胃氣者，肺之母氣也。本草有知母之名者，謂肺藉其清涼，知清涼為肺之母也。有貝母之名者，謂肺藉其豁痰，豁痰為肺之母也。然屢施於火逆上氣，咽喉不利之症，而屢不應，名不稱矣。孰知仲景妙法，於麥冬、人參、甘草、大棗、粳米，大補中氣以生津液，津液隊中，又增入半夏辛溫之味，以開胃行津而助潤肺，豈特用其利嚥下氣哉？顧其利嚥下氣，非半夏之功，實善用半夏之功矣。</p>

<h2>九味羌活湯、活人敗毒散</h2>
<p>（合論）</p>

<h3>九味羌活湯</h3>
<p>九味羌活湯（一名沖和湯）　四時發散之通劑（合論一條）</p>
<p>羌活　防風　川芎　白芷　細辛　蒼朮　黃芩　甘草　生地</p>
<p>加生薑三片，蔥白三莖，水煎服。</p>

<h3>活人敗毒散</h3>
<p>羌活　獨活　前胡　柴胡　川芎　枳殼　白茯苓　桔梗　人參（各一兩）　甘草（五錢）</p>
<p>上為細末，每服二錢，水一盞，入生薑三片，煎七分，溫服，或沸湯點服。</p>
<p>治傷寒，溫疫，風濕，風眩，拘蜷，風痰，頭疼，目眩，四肢痛，憎寒壯熱，項強，睛疼。老人小兒皆可服。煩熱口乾加黃芩。</p>
<p>趙羽皇曰：東南地土卑濕，凡患感冒，輒以傷寒二字混稱。不知傷者正氣傷於中，寒者寒邪客於外，未有外感而內不傷者也。仲景醫門之聖，立法高出千古。其言冬時嚴寒，萬類深藏，君子固密，不傷於寒，觸冒之者，乃名傷寒，以失於固密而然。可見人之傷寒，悉由元氣不固，而膚腠之不密也。昔人常言傷寒為汗病，則汗法其首重矣。然汗之發也，其出自陽，其源自陰。故陽氣虛則營衛不和而汗不能作，陰氣弱則津液枯涸而汗不能滋。但攻其外，不顧其內，可乎？表汗無如敗毒散、羌活湯，其藥如二活、二胡、芎、蒼、辛、芷，群隊辛溫，非不發散，若無人參、生地之大力者居乎其中，則形氣素虛者必至亡陽，血虛挾熱者必至亡陰，而成痼疾矣。是敗毒散之人參，與沖和湯之生地，人謂其補益之法，我知其托裡之法。蓋補中兼發，邪氣不致於流連；發中帶補，真元不至於耗散。此古人制方之妙也。</p>
<p>胡天錫曰：非其時而有其氣，惟氣血兩虛之人受之。寒客營而風客衛，不可用竣劑，故稍從其輕者，此羌活湯、敗毒散所由立也。九味湯主寒邪傷營，故於發表之中，加芎、地引而入血，即藉以調營，用蔥、姜為引，使通體汗出，庶三陽血分之邪，直達而無所滯矣。敗毒散主風邪傷衛，故於發表中，加參、苓、枳、桔引而達衛，以宣通固托，生薑為使，使流連肺部，則上焦氣分之邪不能幹矣。是方亦可用黃芩，以諸藥氣味辛溫，恐其僭亢，一以潤之，一以清之也。</p>

<h2>神術湯</h2>
<p>主治三時外感寒邪，內傷生冷而發熱及脾泄腸風。</p>
<p>白朮（三錢）　防風（二錢）　甘草（一錢）</p>
<p>上三味，無汗用蒼朮，加蔥白、生薑；有汗用白朮、生薑。</p>
<p>柯韻伯曰：此王海藏得意之方，仿仲景麻、桂二方之義，而製為輕劑也。然此是太陰之劑，可以理脾胃之風濕，而不可治太陽之風寒，亦不可以治陽明之表症與少陽之半表裡也。《內經》所謂春傷於風，邪氣留連而洞泄，至夏而飧泄、腸澼者宜之。若冬傷於寒，至春病溫者，又非所宜也。今人不知仲景立方之旨，只恐麻黃、桂枝之傷人也，得此平和之劑，恃為穩當。不知營衛不和，非調和脾胃者所可代；胃家之實者，非補虛之品所能投；肝膽之相火往來，少陰之水火相射者，不得以燥劑該攝也。先明藥之理，始得方之用；能知方，始可用方而不執方。若病在太陽，先發陽明之汗，是引賊破家，易老豈獨為葛根道哉？</p>

<h2>三生飲</h2>
<p>治卒中昏不知人，口眼喎斜，半身不遂，並痰厥、氣厥。</p>
<p>南星（一兩，生用）　川烏（去皮生用，五錢）　附子（去皮生用，五錢）　木香（二錢）</p>
<p>上每服五錢，薑、水煎。加人參一兩。</p>
<p>柯韻伯曰：風為陽邪。風中無寒，不甚傷人；惟風中挾寒，害始劇矣。寒輕而在表者，宜發汗以逐邪；寒重而入里者，非溫中補虛，終不可救。此取三物之大辛大熱者，且不炮不制，更佐以木香，乘其至剛至銳之氣而用之，非以治風，實以治寒也。然邪之所湊，其氣必虛，但知勇於攻邪，若正氣虛而不支，能無倒戈之患乎？必用人參兩許，以駕馭其邪，此立齋先生真知確見，立於不敗之地，而收萬全之效者也。若在庸手，必謂補住邪氣而不敢用。此謹熟陰陽，毋與眾謀，岐伯所以叮嚀致告耳。（此方人參必不可廢，不是孟浪。）觀其每服五錢，必四服而邪始出。今之畏事者，用烏、附分數，必制熟而後敢用，更以芩、連監製之，焉能挽回如此之危症哉？古今人不相及如此。</p>
<p>本方去烏、附，即星香散，治痰厥、氣厥足矣。</p>

<h2>仙方活命飲</h2>
<p>（附薛立齋治瘍通方）</p>
<p>治一切瘡瘍，未成膿者內消，已成膿者即潰。又止痛、消毒之聖藥也。</p>
<p>穿山甲　白芷　防風　皂角刺　乳香　沒藥　當歸尾　赤芍　花粉　貝母　陳皮　甘草　金銀花</p>
<p>上十三味，用酒一碗，煎數沸服。</p>
<p>羅東逸曰：此瘍門開手攻毒之第一方也。經云：營氣不從，逆於肉理。故癰疽之發，未有不從營氣之鬱滯，因而血結痰滯，蘊崇熱毒為患。治之之法，妙在通經之結，行血之滯，佐之以豁痰、理氣、解毒。是方穿山甲以攻堅，皂刺必達毒所，白芷、防風、陳皮通經理氣而疏其滯，乳香定痛和血，沒藥破血散結，赤芍、歸尾以驅血熱而行之，以破其結，佐以貝母、花粉、金銀花、甘草，一以豁痰解鬱，一以散毒和血，其為潰堅止痛宜矣。然是方為營衛尚強，中氣不虧者設，若脾胃素弱，營衛不調，則有托裡消毒散之法，必須斟酌而用。見之立齋先生所論，此千古不易之治也。因謹附先生治瘍用方之法於後，使後學服膺云。</p>
<p>薛立齋曰：治瘍之法，若腫高焮痛者，先用仙方活命飲解之，後用托裡消毒散；漫腫微痛者，用托裡散，如不應，加薑、桂；若膿出而反痛，氣血虛也，八珍散；不作膿，不腐潰，陽氣虛也，四君加歸、耆、肉桂；不生肌，不收斂，脾氣虛也，四君加芍藥、木香；惡寒憎寒，陽氣虛也，十全大補加薑、桂；晡熱內熱，陰血虛也，四物加參、術；欲嘔作嘔，胃氣虛也，六君加炮姜；自汗盜汗，五臟虛也，六味丸料加五味子；食少體倦，脾氣虛也，補中益氣加茯苓、半夏；喘促咳嗽，脾肺虛也，前湯加麥冬、五味；欲嘔少食，脾胃虛也，人參理中湯；腹痛泄瀉，脾胃虛寒也，附子理中湯；熱渴淋秘，腎虛陰火也，加減八味丸。大凡怯弱之人，不必分其腫潰，惟當先補胃氣。蓋瘡瘍之作，緣陰陽虧損，其膿既泄，氣血愈虛，豈有不宜補者哉？或疑參、耆滿中，間有用者，又加發散敗毒，所補不償所損，又或以有疾不服補劑，因而致誤，傷哉！</p>

<h3>附托裡消毒散</h3>
<p>人參　黃耆　白朮　茯苓　當歸　川芎　芍藥　金銀花　白芷　甘草　連翹</p>
<p>水煎服。</p>
<p>參、耆、朮、苓、草以益氣分；歸、芎、芍以滋血分；銀花、白芷、連翹以解毒。</p>
<p>托裡散，即前方加熟地，去芎、甘、銀花、白芷、連翹。</p>

<h2>麻黃加朮、桂枝加附湯</h2>

<h3>麻黃加朮湯</h3>
<p>治濕家自煩疼。</p>
<p>麻黃（三兩）　桂枝（二兩）　甘草（二兩，炙）　杏仁（七十個）　白朮（四兩，炒）</p>
<p>上五味，以水九升，煮麻黃減二升，去沫，納諸藥，煮取二升半，去滓，溫服八合，復取微似汗。</p>
<p>程扶生曰：此湯為濕家表散法也。身疼為濕，身煩為熱，加白朮於麻黃湯中，一以助其去濕，一以恐其過散，此治濕之正法也。發散方中加白朮，又為潔古、海藏開鬼門法。</p>

<h3>桂枝加附湯</h3>
<p>主治傷寒八九日，風濕相搏，身體煩疼，不能轉側，不嘔不渴，脈浮虛而澀者。</p>
<p>桂枝（四兩）　附子（三枚，炮）　甘草（二兩）　生薑（三兩）　大棗（十二枚）</p>
<p>上五味，以六升水，煮取二升，去渣，分溫三服。</p>
<p>程扶生曰：濕與風相搏，流入關節，身疼極重，而無頭痛、嘔、渴等症。脈浮虛者風也，澀者寒濕也。風在表者，散以桂枝、甘草之辛甘；濕在經者，逐以附子之辛熱；薑棗辛甘，行營衛、通津液以和表。蓋陽虛則濕不行，溫經助陽散濕，多藉附子之大力也。</p>

<h2>木防己湯四方（合論）</h2>

<h3>木防己湯</h3>
<p>木防己（三兩）　石膏（用雞子大十二枚）　桂枝（二兩）　人參（四兩）</p>
<p>上四味，以水六升，煮取二升，分溫再服。</p>

<h3>木防去石膏加茯苓芒硝湯</h3>
<p>木防己　桂枝（各二兩）　人參（四兩）　芒硝（三兩）　茯苓（四兩）</p>
<p>上五味，以水六升，煮取三升，去滓，後納芒硝，再微煎，分溫再服，微利則愈。</p>

<h3>葶藶大棗瀉肺湯</h3>
<p>本方治肺癰　，喘不得臥，並治支飲不得息。</p>
<p>葶藶（熬令黃色，搗如彈子大）　大棗（十二枚）</p>
<p>上二味，以水三升，煮棗取二升，去滓，納葶藶，煮取一升，頓服。</p>

<h3>防己椒目葶藶大黃丸</h3>
<p>治腹滿，口舌乾燥。此腸門有水氣。</p>
<p>防己　椒目　葶藶（熬）　大黃（各一兩）</p>
<p>上為末，蜜丸如桐子大。先食飲服一丸，日三服。稍增，口中有津液，渴者加芒硝半兩。</p>
<p>喻嘉言曰：四方皆治支飲上入膈中，而有淺深次第之分。首二方先治其肺，中一方專治其肺，後一方專治肺氣所傳之腑。蓋支飲上入於膈，逼近心肺，奧援腎邪。本文云其人喘滿，心下痞堅，面色黧黑，其脈沉緊，得之數十日，醫吐下之不愈，木防己湯主之；虛者即愈，實者三日復發，復不愈者，去石膏，加芒硝、茯苓。蓋以支飲上入，阻其氣，則逆於肺間而為喘滿；阻其血，則雜揉心下而為痞堅；腎氣上應，其色黑，血凝之色亦黑，故黧黑見於面部。然且姑緩心腎之治，先治其肺，肺之氣行，則飲不能逆而俱解矣。木防己味辛溫，能散留飲結氣，又主肺喘滿；石膏辛甘微寒，主心下逆氣，清肺定喘；人參甘溫，治喘，消膈飲，補心肺不足；桂枝辛熱，通血脈，開結氣，宣導諸藥。在氣分，服之即愈；若飲在血分，深連下焦，必愈而復發，故去石膏氣分之藥，加芒硝入陰分，開痰結，消血癖，合之茯苓去心下堅，且伐腎邪也。葶藶大棗湯大瀉其肺氣，亦以氣停，故液聚耳！防己椒目葶藶大黃丸，治腹滿，口舌乾燥，腸間有水氣之症，乃肺氣憤鬱於上，以致水飲不行於下，而燥熱之甚。用此丸急通水道，以救金氣之憤郁，不治上而治其下，故用丸劑也。</p>
<p>羅東逸曰：此三方，《金匱衍義》趙以德注之已詳，而喻嘉言合而注之，青出於藍，故棄趙而取喻耳！</p>

<h2>大黃附子湯</h2>
<p>主治脅下偏痛，發熱，其脈緊弦，此寒也，以溫藥下之。</p>
<p>大黃（二兩）　附子（二枚，炮）　細辛（二兩）</p>
<p>上三味，以水五升，煮取二升，分溫三服。若強人取二升半，分三服。服後如人行四五里，再進。　</p>
<p>喻嘉言曰：仲景治傷寒熱邪痞聚心下，而挾陽虛陰盛之症，用附子瀉心湯之法矣。其雜症脅下偏痛，發熱為陽，其脈弦緊，為陰寒上逆者，復立此溫藥下之一法，然仲景諄諄傳心後世，領略者鮮。《金匱》又別出一條云：其脈數而緊乃弦，狀如弓弦，按之不移。數脈弦者，當下其寒；脈緊而遲者，必心下堅；脈大而緊者，陽中有陰，可下之。讀者罔識其指，詎知皆以溫藥下之之法耶！其曰當下其寒，曰陽中有陰，試一提出其金針，不躍然乎？</p>
<p>張路玉曰：三承氣湯，為寒下之柔劑；白散、備急丸，為熱下之剛劑；附子瀉心湯、大黃附子湯，為寒熱互結，剛柔並濟之和劑。近世但知寒下一途，絕不知有溫下一法。蓋暴感之熱結，可以寒下；久結之寒結，亦可寒下乎？是以備急無法所由設也。然此僅可治寒實之結，設其人稟質素虛，雖有實邪固結，敢用剛猛峻劑攻擊之乎？故仲景又立附子瀉心湯，用芩、連佐大黃，以祛膈上之熱痞，即兼附子之溫以散之；大黃附子湯，用細辛佐附子，以攻脅下寒結，即兼大黃之寒導而下之。（發明得妙！）此聖法昭然，不可思議者也。</p>

<h2>續命湯</h2>
<p>（《金匱》）</p>
<p>治中風痱，身體不能自收持，口不能言，冒昧不知痛處，或拘急不得轉側。</p>
<p>麻黃　桂枝　石膏　乾薑　杏仁（四十枚）　川芎　當歸　人參　甘草（各三兩）</p>
<p>上九味，以水一斗，煮取四升，溫服一升。當小汗，薄覆脊，憑几坐，汗出則愈，不汗更服。無所禁，勿當風。並治脈伏不得臥，咳逆上氣，面目浮腫。</p>
<p>趙以德曰：痱病者，營衛氣血不養於內外，故身體不用，機關不利，精神不治。然是症有虛有實。虛者自飲食、房勞、七情得之，如《內經》所謂內奪而厥，則為喑痱之類是也；實者自風、寒、暑、濕感之。虛者不可以實治，治之則愈散其氣血。今此方明言其中風，痹其營衛之屬，實邪者也，故用續命。續命乃麻黃湯之變者，加乾薑開血受寒痹，石膏解肌受風痹，當歸和血，人參益氣，川芎行血散風也。其並治咳逆上氣，面浮，亦為風寒而致之也。（分疏明晰，深為用方者採擇無誤。）</p>

<h2>栝蔞桂枝湯</h2>
<p>治太陽症備，身體強𠘧𠘧，然脈反沉遲，此為痙。此湯主之。</p>
<p>栝蔞根（二兩）　桂枝（三兩）　芍藥（三兩）　甘草（二兩）　生薑（三兩）　大棗（十二枚）</p>
<p>上六味，以水九升，煮取三升，分溫三服，取微汗。汗不出，食頃，須啜熱粥發之。</p>
<p>喻嘉言曰：傷寒方中，治項背𠘧𠘧，用桂枝加葛根湯矣。彼之汗出惡風，其邪在表，而此之太陽症，罔不具備，其邪之亦在於表可知也。但以脈之沉遲，知其在表之邪，為內濕所持而不解，即系濕熱二邪交合，不當從風寒之表法起見，故不用葛根之發汗解肌，改用栝蔞之味苦入陰，擅生津徹熱之長者為君，合之桂枝和營衛養筋脈，而治其痙，乃變表法為和法也。</p>

<h2>越婢加半夏、小青龍加石膏湯</h2>

<h3>越婢加半夏湯</h3>
<p>治咳而上氣，此為肺張，其人喘，目如脫狀，脈浮大者。</p>
<p>麻黃（六兩）　石膏（半斤）　生薑（三兩）　大棗（十五枚）　甘草（二兩）　半夏（半斤）</p>
<p>上六味，以水六升，先煮麻黃去沫，納藥，取三升，分溫三服。</p>

<h3>小青龍加石膏湯</h3>
<p>治肺脹咳而上氣，煩躁而喘，脈浮者，心下有水。</p>
<p>麻黃　桂枝　細辛　芍藥　甘草（各三兩）　五味子（半斤）　乾薑（三兩）　半夏（半斤）　石膏（三兩）</p>
<p>上九味，以水一斗，煮麻黃去沫，納諸藥，取三升，強人服一升，羸者減之，日三服，小兒服四合。</p>
<p>喻嘉言曰：前一方，麻黃湯中以杏仁易石膏，而加薑、棗，則發散之力微而且緩；後一方中，以證兼煩躁，宜發其汗，麻、桂藥中，加入石膏、芍藥、五味子，其勢下趨，亦不至過汗也。越婢方中有石膏無半夏，小青龍方中有半夏無石膏。觀二方所加之意，全重石膏、半夏二物協力建功。石膏清熱，藉辛熱亦能豁痰；半夏豁痰，藉辛涼亦能清熱。前麥冬湯方中，下氣止逆，全藉半夏入生津藥中；此二方又藉半夏入清熱藥中。仲景加減成方，無非化裁後學矣。</p>

<h2>桂枝湯</h2>
<p>治風寒在表，脈浮弱，自汗出，頭痛發熱，惡風惡寒，鼻鳴乾嘔等症。雜症自汗、盜汗、虛瘧、虛痢最宜。若脈浮緊，汗不出者，禁用。酒客病風寒而汗出者，亦不可與之。</p>
<p>桂枝　芍藥　生薑（各三兩）　甘草（炙，二兩）　大棗（十二枚）</p>
<p>上五味，以水七升，煮取三升，服一升，覆令微汗，不可令如水流漓，病必不除。若服一升，汗出病痊，不必盡劑。服已，更啜稀粥一盞，以助藥力。</p>
<p>柯韻伯曰：此方為仲景群方之冠，乃滋陰和陽、解肌發汗、調和營衛之第一方也。凡中風、傷寒、雜症，脈浮弱，汗自出而表不解者，鹹得而主之，其他但見一二症即是，不必悉具矣。桂枝赤色通心，溫能散寒，甘能益氣生血，辛能發散外邪，內輔君主發陽氣而為汗，故麻、葛、青龍，凡發汗劑咸用之，惟桂枝湯可不用麻黃，而麻黃湯不可無桂枝也。（桂枝義盡。）本方皆辛甘發散，惟芍藥之酸寒，益陰斂血，內和營氣，故能止汗。先輩言無汗不得用桂枝者，正以中有芍藥，能止汗也。芍藥之功，在於止煩，煩止汗亦止，故反煩、更煩與心悸而煩者咸賴之。若倍加芍藥，即建中之劑，而非復發汗之劑矣。（發芍藥妙義，無人能到。）是劑也，用桂枝發汗，芍藥止汗，生薑之辛佐桂枝以解肌，大棗之甘佐芍藥以和里；桂、芍之相須，薑、棗之相得，陽表陰里，並行不悖，是剛柔相濟以為和也；甘草甘平，有安內攘外之能，用以調和氣血者，即以調和表裡，且以調和諸藥矣。而精義又在啜稀熱粥以助藥力。蓋穀氣內充，則邪不復入，而啜粥以繼藥之後，則餘邪不復留，複方之妙用又如此。要知此方專治表虛，能解肌以發營中之汗，而不能開皮毛之竅，以出衛分之邪，故汗不出者是麻黃症，脈浮緊者是麻黃脈，即不得與桂枝湯矣。（此明不用桂枝之故。）然初起無汗，當用麻黃髮汗，如汗解後復煩，即脈浮數者，不得更與麻黃而用桂枝。如下後脈仍浮，氣上衝與下利止，而身痛不休者，皆用此解外，何故？蓋此時表雖不解，腠理已疏，邪不在皮毛而在肌肉，故脈證雖同麻黃，而主治當屬桂枝也。（此明必用桂枝之故。）粗工妄謂桂枝湯專治中風，不治傷寒，使人疑而不用。不知此湯以治自汗、盜汗、虛瘧、虛痢，隨手而愈。因知仲景方可通治百病。後人遇一症，便集百方以眩人，使人無下手處，豈不陋哉！</p>

<h2>麻黃湯</h2>
<p>太陽風寒在表，頭項強痛，發熱，身疼，腰痛，骨節痛，惡風寒，無汗，胸滿而喘，其脈浮緊，或浮數者，用此發汗。如若脈浮而弱，汗自出，或尺中脈微與遲者，俱不可用。風寒濕成痹，冷風哮，最宜。</p>
<p>麻黃（三兩，去節）　桂枝（二兩）　甘草（一兩，炙）　杏仁（七十枚，去皮尖）</p>
<p>上四味，用水九升，先煮麻黃，減二升，去上沫，納諸藥，煮取二升半，去滓，溫服八合，取微似汗，不須啜粥。一服汗出，停後服。汗出多者，溫粉撲之，恐汗多亡陽也。</p>
<p>柯韻伯曰：此為開表、逐邪、發汗之峻劑也。麻黃中空外直，宛如毛竅骨節，能驅骨節之風寒，悉從毛竅而出，為衛分發散風寒之第一品。桂枝支條縱橫，宛如經別孫絡，能入心化液，通經絡而出汗，為營分解散風寒之第一品。杏仁為心果，溫能助心散寒，苦能入心下氣，為逐邪定喘之第一品。甘草甘平，外拒風寒，內和氣血，為安內攘外之第一品。飲入於胃，行氣於玄府，輸精於皮毛，斯毛脈合精，而溱溱汗出，在表之邪，得盡去而不留，痛止，喘平，寒熱頓解，不須啜粥而藉汗於谷也。其不用薑、棗者，以生薑之性橫散於肌，礙麻黃之汛升；大棗之性泥滯於膈，礙杏仁之速降。此欲急於直達，稍緩則不汛，橫散則不峻矣。然此為純陽之劑，過於發散，如單刀直入之將，用此卻當一戰成功，不去則不戢而召禍，故可一不可再。如汗後不解，便當以桂枝湯代之；若猶流連於皮毛，又有桂麻各半、麻黃一桂枝二之妙用；若陽盛於內而無汗者，又有麻黃杏仁甘草石膏湯。此仲景用方之心法也。</p>

<h2>葛根湯</h2>
<p>主治頭項強痛，背亦強，牽引𠘧𠘧然，脈浮，無汗，惡風；並治風寒在表，而自下利。</p>
<p>葛根（二兩）　麻黃（三兩）　桂枝（二兩）　生薑（三兩）　芍藥（二兩）　甘草（一兩）　大棗（十二枚）</p>
<p>上七味，以水一斗，先煮麻黃、葛根，減二升，去沫，納諸藥同煎，分溫三服。</p>
<p>柯韻伯曰：此症身不疼，腰不痛，骨節不疼，不惡寒，是骨不受寒矣；頭項強痛，下連於背，牽動不寧，是筋傷於風矣；不喘，不煩躁，不幹嘔，是無內症；無汗而惡風，病只在表；若表病而兼下利，是表實裡虛矣。比麻黃、青龍二症較輕，然𠘧𠘧更甚於項強，而無汗不失為表實，但脈浮不緊，是中於鼓動之陽風，故於桂枝方加麻黃倍葛根以去實，小變麻、桂之法也。葛根味甘氣涼，能起陰氣而作汗，開腠理而解表，故以為君；寒熱俱輕，桂、芍俱減；麻黃助桂、姜以開表；大棗助甘、芍以調內。故用以治表實，而表邪自解；不必治裡虛，而下利自瘳，與大青龍治表裡俱實者徑庭矣。蓋葛根稟氣輕清，而賦體厚重，輕以去實，重以鎮動，厚以固里，惟表實裡虛者宜之，胃家實者非所宜也。故仲景於陽明經中不用葛根，東垣定為陽明經藥，易老云未入陽明者不可便服，豈二老未讀仲景書乎？要知葛根、桂枝俱是解肌和里之劑，故有汗無汗，下利不下利俱可用，與麻黃之專於發表者不同耳。</p>
<p>《金匱》治太陽病無汗，小便反少，氣上衝胸，口噤不得語，欲作剛痙。</p>
<p>喻嘉言曰：傷寒項背𠘧𠘧，無汗惡風者，用葛根湯。此症亦用之者，以其邪在太陽、陽明兩經之界，兩經之熱並於胸中，必傷肺金清肅之氣，故水道不行而小便少，津液不布而無汗；陽明之筋內結胃口，外行胸中，過人迎，環口，熱並陽明，斯筋脈牽引，口噤不得語。然剛痙無汗，必從汗解，況濕邪內郁，必以汗出如故而止，故用此湯合解兩經之濕熱，與風寒之表法無害其同也。</p>

<h2>大青龍湯</h2>
<p>治頭項強痛，脈浮緊，發熱惡寒，身疼痛，不汗出而煩躁，無少陰症者，用此發汗。若脈浮弱，自汗出者，不可服；服之必厥逆，筋惕肉振也。</p>
<p>麻黃（六兩）　桂枝（二兩）　甘草（二兩）　杏仁（四十枚）　生薑（三兩）　大棗（十枚）　石膏（如雞子大一枚）</p>
<p>上七味，水煎服，如麻黃湯法。</p>
<p>柯韻伯曰：此麻黃症之劇者，故於麻黃湯加味以治之也。諸症全是麻黃，而喘與煩躁有別。喘者，是寒鬱其氣，升降不得自如，故多用杏仁之苦以泄氣。煩躁者，是熱傷其氣，無津不能作汗，故特加石膏之甘以生津。然其性沉而大寒，恐內熱頓除，而表邪不解，變為寒中，而協熱下利，故必倍麻黃以發表，又倍甘草以和中，更用薑、棗以調營衛，一汗而表裡雙解，風熱兩除。此清內攘外之功，所以佐麻、桂二方之不及也。少陰亦有發熱、惡寒、無汗、煩躁之症，與大青龍同，但脈不浮，頭不痛為辨，法當溫補。及脈浮弱，自汗出者，是桂枝症，反與麻黃、石膏，則真陽立亡矣。胃氣不至於四肢，故手足厥冷；太陽不周於一身，故筋惕肉瞤，仲景所深戒也。必細審其所不可用，然後不失其所當用耳。要知麻黃症熱全在表，桂枝症之自汗，大青龍之煩躁，皆兼裡熱，仲景於表劑中便加寒藥以清裡。自汗是煩之兆，躁是煩之徵，汗出則煩得泄，故不躁，宜微寒酸苦之味以和之；汗不出則煩不得泄，故躁，宜大寒堅重之品以清之。芍與膏本是里藥，今人見仲景入表劑中，因疑而畏之，當用不用，以至熱結陽明，而斑黃狂亂紛出矣。仲景於太陽經中，即用石膏以清胃火，是預保陽明之先著；加薑、棗以培中氣，又慮夫轉屬太陰。苦心良法，有如此者。</p>

<h2>小青龍湯</h2>
<p>治傷寒表不解，心下有水氣，乾嘔，發熱而咳，或渴，或利，或噎，或小便不利，少腹滿，或喘者，及雜病膚脹水腫症，用此發汗而利水。</p>
<p>桂枝　芍藥　甘草　麻黃　細辛　乾薑（各三兩）　半夏　五味子（各半升）</p>
<p>上八味，先煮麻黃，去沫，納諸藥，煮取三升，溫服一升。若渴，去半夏，加栝蔞根三兩。若微利，去麻黃，加芫花。若噎者，去麻黃，加附子。若小便不利，少腹滿者，去麻黃，加茯苓四兩。若喘者，去麻黃，加杏仁半升。</p>
<p>柯韻伯曰：寒熱不解而咳，知內有水氣射肺；乾嘔，知水氣未入於胃，而在心下也。心下為火位，水火相射，則水氣變幻不可拘。如下而不上，則或渴、或利；上而不下，則或噎，或喘；留於腸胃，則小便不利，而少腹因滿矣。惟發熱而咳，為定證，故於桂枝方去大棗之泥，加麻黃以開腠理，細辛逐水氣，半夏除嘔，五味、乾薑以除咳。若渴者，是心火盛，故去半夏之燥熱，加栝蔞根以生津。若微利與噎，小便不利與喘者，病機偏於向里，故去麻黃之發表，加附子以除噎，芫花、茯苓以利水，杏仁以定喘耳。兩青龍俱治有表裡證，皆用兩解法，大青龍是裡熱，小青龍是裡寒，故發表之藥相同，而治里之藥則殊也。此與五苓同為治表不解，而心下有水氣，在五苓治水之蓄而不行，故大利其水，而微發其汗，是水鬱折之也；本方治水之動而不居，故備舉辛溫以散水，並用酸苦以安肺，培其化源也。細譯仲景發表利水諸法，精義入神矣。</p>
<p>趙以德曰：溢飲之證，《金匱》云當發其汗，小青龍湯治之。蓋水飲溢出於表，營衛盡為之不利，必仿傷寒營衛兩傷之法，發汗以散其水，而後營衛行、經脈通，則四肢之水亦消，必以小青龍為第一義也。</p>

<h2>桂枝人參、葛根黃芩黃連湯</h2>
<p>太陽外證未解，而數下之，遂協熱而利，利下不止，表裡不解，脈微弱，心下痞硬者，桂枝人參湯主之。桂枝證醫反下之，利遂不止，其脈促，喘而汗出者，葛根黃芩黃連湯主之。</p>

<h3>桂枝人參湯</h3>
<p>桂枝　甘草（各四兩）　人參　白朮　乾薑（各三兩）</p>
<p>水九升，先煮四味，取五升，納桂，更煮三升，日再服，夜一服。</p>

<h3>葛根黃芩黃連湯</h3>
<p>葛根（半斤）　黃連　黃芩（各三兩）　甘草（炙，二兩）</p>
<p>水八升，先煮葛根，減二升，納諸藥，煮二升，分溫再服。</p>
<p>柯韻伯曰：外熱不除是表不解，下利不止是里不解，病因則同。一以微弱之脈，而心痞硬，是脈不足而證有餘；一以脈促而喘，反汗自出，是脈有餘而證不足。表裡虛實，當從脈而辨證矣。弱脈見於數下後，則痞硬為虛，方用理中之辛甘溫補，止利消痞硬，又加桂枝以解表，先煎四味，後納桂枝，和中之力饒，而解肌之氣銳，是於兩解中寓權宜法。桂枝證脈本緩，誤下後而反促，陽氣重可知；邪束於表，陽擾於內，故喘而汗出；利遂不止者，是暴注下迫，屬於熱也。故君以氣輕質重之葛根，解肌而止利；佐以苦寒清肅之芩、連，止汗而除喘；又加甘草以和中。先煮葛根，後納諸藥，解肌之力緩，而清中之氣銳，又與補中逐邪者殊法矣。</p>
<p>上條脈證是陽虛，雖協熱於外，而里則虛寒；下條脈證是陽盛，雖下利不止，而表裡俱實。同一協熱利，同是表裡不解，而寒熱虛實攻補不同。前方理中加桂枝，而冠桂枝於人參之上；後方瀉心加葛根，而冠葛根於芩、連之首。不名理中、瀉心者，總為表未解故耳。補中亦能解表，涼中亦能散表；補中亦能散痞，涼中亦能止利。仲景制兩解方，神化如此。</p>

<h1>卷三</h1>

<h2>葛根黃芩黃連湯</h2>
<p>治太陽誤下，邪熱入里，脈促，喘而下利。</p>
<p>葛根（半斤）　甘草　黃芩（各二兩）　黃連（三兩）</p>
<p>上四味，以水八升，先煮葛根，減二升，納諸藥，煮取二升，去滓，分溫再服。</p>
<p>喻嘉言曰：太陽病原無里症，但當用桂枝解外。若反下之，則邪熱之在太陽者，未入陽明之經，已入陽明之腑，所以其脈促急，其汗外越，其氣上奔則喘，下奔則泄。故舍桂枝而用葛根，以專主陽明之表，加芩、連以清裡熱，則不治喘而喘自止，不治利而利自止。此又太陽兩解表裡變法也。</p>

<h2>桂枝湯去桂加茯苓白朮湯</h2>
<p>服桂枝湯，或下之，仍頭項強痛，翕翕發熱，無汗，心下滿微痛，小便不利者，桂枝去桂加茯苓白朮湯主之。小便利則愈。</p>
<p>桂枝湯去桂，加白朮、茯苓各三兩，減芍藥一兩。</p>
<p>柯韻伯曰：汗出不徹，而遽下之，表證仍在，而反無汗，更見心下滿痛，此謂有表裡證矣。病機向里，即當究其里。滿而不硬，痛而微，此非結熱，必水氣凝滯而然。當問其小便，若小便利者，邪未犯本，病仍在表，仍須汗散；如小便不利者，由膀胱之水氣不行，故營衛之津液不出，而非桂枝證未罷也。欲利小便者，不得更發汗，故去桂枝而君以苓、術，則薑、芍即散邪利水之佐，甘、棗效培土製水之功，非復辛甘發散之劑矣。此水結中焦，可利而不可散，所以與小青龍、五苓不同法，但得膀胱水去，而太陽表裡之證悉除。此為治病必求於本耳。經曰：血之與汗，異名而同類。又曰：膀胱津液，氣化而後能出。是汗由血化，小便由氣化也。桂枝是血分藥，但能發汗，不能利水。按五苓散云，多服暖水，汗出愈。此云小便利則愈，可明用桂、去桂之理。今人不審仲景法，妄謂仲景制五苓以利水，豈不悖哉！</p>

<h2>黃芩湯</h2>
<p>治太陽、少陽合病，自下利者。若嘔者，加半夏、生薑。</p>
<p>黃芩　甘草　芍藥（各三兩）　大棗（十二枚）</p>
<p>上四味，以水一斗，煮取三升，去滓，溫服一升，日再服，夜一服。嘔者加半夏半斤，生薑三兩。</p>
<p>程郊倩曰：此之合病者，頭痛，胸滿，口苦，咽乾，目眩，或往來寒熱，脈或大而弦。半表之邪，不待太陽傳遞，而即合太陽並見，經氣不無失守，所以下利；陽熱漸勝，表實裡虛，則邪熱得乘虛而攻及裡氣，故用黃芩湯清熱益陰，半里清而半表自解矣。</p>
<p>柯韻伯曰：太陽、少陽合病，是熱邪已入少陽之裡，膽火上逆，移熱於脾，故自下利。與黃芩湯，酸苦相濟以存陰也。熱不在半表，故不用柴胡；今熱已入半里，故黃芩主之；雖非胃實，亦非胃虛，故不須人參以補中也；兼痰飲則嘔，故仍加半夏、生薑。</p>

<h2>黃連湯</h2>
<p>治傷寒胸中有熱，胃中有邪氣，腹中痛，欲嘔吐者。</p>
<p>黃連　甘草　乾薑（各三兩）　人參（二兩）　桂枝（三兩）　半夏（半斤）　大棗（十二枚）</p>
<p>上七味，以水一斗，煮取六升，去滓，溫服一升，日三服，夜二服。</p>
<p>程郊倩曰：熱在胸中，有煩躁鬱悶之症，可知胃中反有邪氣，以寒邪被格在下故也。此證寒熱俱有，較之大青龍之寒熱，已向近里一層，故其症不見之表裡際，而只見之上下際。腹中痛者，陰不得上，而寒乃獨治於下也；欲嘔吐者，陽不得下，而熱乃獨治於上也。此為上下相格，則治法亦寒熱並施，而辛寒易以苦寒，辛熱加以苦熱，更用人參、半夏以補宣中氣，升降陰陽。自此條而互及瀉心諸湯，皆其法也。（仲景方中往往寒熱並用。黃連湯之用乾薑，此其關頭也。）</p>
<p>成無己曰：濕家下後，舌上如胎者，以丹田有熱，胸中有寒，是邪氣入里，而為下熱上寒也。此傷寒邪氣傳裡，而為下寒上熱也。喻氏曰：陰陽悖逆，皆當和解法。</p>

<h2>十棗湯</h2>
<p>治太陽中風，表解后里氣不和，下利，嘔逆，心中至脅痞滿硬痛，汗出，短氣，頭痛，不惡寒者。此治水之急方也。</p>
<p>大棗（十枚，掰）　甘遂　大戟　芫花（熬，各等分）</p>
<p>上三味，各別搗為散，以水一升半，先煮大棗肥者十枚，取八合，去滓，納末藥。強人一錢，羸人服半錢，平旦溫服。若下少病不除者，明日再服，加半錢，得快下後，糜粥自養。柯韻伯曰：仲景利水之方，種種不同，此其最峻者也。凡水氣為患，或喘，或咳，或悸，或噎，或吐，或利，或無汗，病在一處而止；此則外走皮毛而汗出，上走咽喉而嘔逆，下走腸胃而下利，水邪之泛溢於外者，浩浩莫御矣。且頭痛，短氣，心腹脅下皆痞滿而硬痛，是水邪尚留結於中，三焦升降之氣阻隔而難通矣。表邪已罷，非汗散之法所宜；里邪充斥，又非淡滲之品所能勝。非選利水之所至峻者以直折之，中氣不支，束手待斃耳。甘遂、芫花、大戟三味，皆辛苦氣寒而稟性最毒，並舉而用之，氣味合，相濟相須，故可交相去邪之巢穴，決其瀆而大下之，一舉而水患可平也。然水利所湊，其元氣已虛，而毒藥攻邪，必脾胃反弱，使無健脾調胃之品為主宰，邪氣盡，而大命亦隨之矣。故選十棗之大而肥者以君之，一以培脾土之虛，一以制水氣之橫，一以解諸藥之毒。得一物而三善備，既不使邪氣之盛而不制，又不使元氣之虛而不支，此仲景立法之盡善也。昧者惑於甘能中滿之說而不敢用，豈知承製之理乎？張子和竊此意而制浚川、禹功、神祐等方，以治水腫、痰飲之病，而不知君補劑以培本，但知任毒藥以攻邪，所以善其後者鮮矣！</p>

<h2>小陷胸湯</h2>
<p>治心下痞，按之則痛，脈浮滑者。</p>
<p>黃連（一兩）　半夏（半升）　栝蔞實（大者一個）</p>
<p>上三味，以水六升，先煮栝蔞實，取三升，去滓，納諸藥，煮取二升，分溫三服。</p>
<p>程扶生曰：此熱結未深者在心下，不若大結胸之高在心上；按之痛，比手不可近為輕；脈之浮滑，又緩於沉緊。但痰飲素盛，挾熱邪而內結，所以脈見浮滑也。以半夏之辛散之，黃連之苦瀉之，栝蔞之苦潤滌之，所以除熱散結於胸中也。先煮栝蔞，分溫三服，皆以緩治上之法。</p>
<p>程郊倩曰：黃連滌熱，半夏導飲，栝蔞潤燥，合之以開結氣。亦名曰陷胸者，攻雖不峻，而一皆直瀉，其胸裡之實邪，亦從此奪矣。</p>

<h2>大陷胸湯</h2>
<p>主治傷寒發熱，不發汗而反下之，表熱乘虛入於胸中，與不得為汗之水氣結而不散，令心下至小腹硬滿而痛不可近，其人身無大熱，但頭汗出，或潮熱燥渴，脈沉緊者。如水腫、腸澼初起，形氣俱實者，亦可用。</p>
<p>大黃（六兩）　芒硝　葶藶子　杏仁（去皮，各半升）　甘遂（一錢，為末）</p>
<p>上五味，以水先煮大黃、杏、藶，去滓，納芒硝，煮一二沸，納甘遂末。溫服，得快利，止後服。如未劇者，加白蜜二合，作丸如彈子大，水煮一丸服，過宿乃下；如不下，更服。</p>
<p>柯韻伯曰：胸中者，宗氣之所出，故名氣海。氣為陽，故屬太陽之部。氣為水母，氣清則水精四布，氣熱則水濁而壅結矣。水結於胸，則津液不下；無以潤腸胃，故大便必燥；不下輸膀胱，其水道不通。大黃、芒硝，善滌腸胃之熱實。此病在胸中，而亦用以為君者，熱淫於內，當治以苦寒，且以潤陽明之燥，是實則瀉子之法。補膀胱之寒，亦制之以其所畏也。任甘遂之苦辛，所以直攻其水結。然水結因於氣結，必佐杏仁之苦溫，以開其水中之氣，氣行而水自利矣；水結又因於氣熱，必佐葶藶之大寒，以清其氣分之熱，源清而流自潔矣。若胸中水結而未及中焦者，當小其制，而復以白蜜之甘以緩之，使留連於胸中，過宿乃下，但解胸中之結滯，而保腸胃之無傷，是又以攻劑而為和劑矣。是方為利水攻積之劑，故治水腫、痢疾之初起者甚捷。然必視其人壯實，可以一戰成功。如平素虛弱者，病久而任攻伐者，當念虛虛之戒矣。</p>

<h2>五瀉心湯</h2>

<h3>半夏瀉心湯</h3>
<p>傷寒五六日，嘔而發熱，柴胡證具，而以他藥下之，但滿而不痛，此為痞，宜半夏瀉心湯。</p>
<p>半夏（半斤）　黃芩　乾薑　人參（各三兩）　黃連（一兩）　大棗（十二枚）　甘草（三兩）</p>
<p>上七味，以水一斗，煮取六升，分溫三服。</p>
<p>（此小柴胡去柴胡，而加乾薑、黃連。）</p>

<h3>大黃黃連瀉心湯</h3>
<p>傷寒大下後，復發汗，心下痞，惡寒者，表未解也，不可攻痞；當先解表，表解，乃可攻痞。解表宜桂枝湯，攻痞宜大黃黃連瀉心湯。心下痞，按之濡，其脈關上浮者，大黃黃連瀉心湯。</p>
<p>大黃（二兩）　黃連（一兩）</p>
<p>以麻沸湯二升，漬之須臾，絞去滓服之。</p>

<h3>附子瀉心湯</h3>
<p>心下痞，而復惡寒汗出者，附子瀉心湯。</p>
<p>大黃（二兩）　黃連（一兩）　黃芩（一兩）　附子（一枚，別煮取汁。）</p>
<p>以麻沸湯二升，漬三味，須臾，去滓，納附子汁。</p>

<h3>生薑瀉心湯</h3>
<p>傷寒汗出解之後，胃中不和，心下痞硬，乾噫食臭，脅下有水氣，腹中雷鳴，下利，生薑瀉心湯。</p>
<p>生薑（四兩）　甘草　人參（各三兩）　乾薑（一兩）　黃連（一兩）　黃芩（三兩）　半夏（半升）　大棗（十二枚）</p>
<p>上八味，以水一斗，煮取六升，分溫三服。</p>

<h3>甘草瀉心湯</h3>
<p>傷寒中風，醫反下之，其人下利，日數十行，穀不化，腹中雷鳴，心下痞硬而滿，乾嘔，心煩不得安。醫見心下痞，謂病不盡，復下之，其痞益甚。此非結熱，但以胃中虛，客氣上逆，故使硬也，甘草瀉心湯。</p>
<p>甘草（四兩）　黃芩　乾薑（各三兩）　半夏（半升）　黃連（一兩）　大棗（十二枚）</p>
<p>上六味，以水一斗，煮取六升，去滓，分溫三服。</p>
<p>王又原曰：病發於陰而反下之，因作痞。然亦有汗出解之後而痞者，亦有下後復汗而痞者，亦有不經汗下而痞者。大要結胸屬實，痞屬虛；結胸熱入，痞無熱入。藥用苦以瀉之，辛以散之是也。然仲景立五瀉心湯，藥有同異。其同者，黃連、乾薑，若黃芩、大棗，則異而同也；其異者，人參、附子、大黃，若半夏、甘草、生薑，則同而異者也。試論之：傷寒五六日，柴胡證具，而以他藥下之成痞，即用小柴胡湯，以乾薑易生薑，以黃連易柴胡，彼以和表裡，此以徹上下。而必推半夏為君者，痞從嘔得來，半夏之辛以破結，主病之藥故也。汗出解之後，已無傷寒矣。胃藏津液，發汗則津液亡，故胃中不和，薑、棗以和榮衛，以生髮胃家升騰之氣，乃治雜證之標的也。一屬少陽，一屬汗解，人參在所必用耳。若傷寒中風，正在太陽，無用人參之例。雖下而復下，為胃中虛，不可用也。但用甘草緩其下利之急速，和其客氣之上逆，溫其中氣之不調，補其心煩之不安焉耳。心下硬滿，痞之候也；緊反入里，痞之診也。按之濡，關上浮，為痞尚未成，故無用虜荊之六十萬，但假將軍之先聲以奪之。此漬以麻沸湯，須臾去滓，僅得其無形之氣，不用其有形之味也。心下痞，惡寒者，為兼有之症，明系表邪未解；心下痞而復惡寒者，為續見之證，明系陽氣外亡，況加以汗出乎！兼見者，以兩湯治之；續見者，以一湯救之。其附子則煮汁者，是取三黃之氣輕，取附子之力重也。然胃居心下，心下痞者，胃痞也。不曰瀉胃，而曰瀉心，恐混以苦寒，傷其胃陽，又誤為傳入陽明，以治陽明之法治之也。此仲景之微旨也。</p>

<h2>桂枝加附子湯</h2>
<p>太陽病，發汗遂漏不止，其人惡風，小便難，四肢微急，難以屈伸者，此方主之。</p>
<p>桂枝湯加附子一枚，炮去皮，破八片，煎服同，不須啜粥。</p>
<p>柯韻伯曰：發汗太過，陽無所止息，而汗出不止矣。汗多亡陽，玄府不閉，風乘虛入，故復惡風；津液外泄，不能潤下，故小便難；四肢者，諸陽之本，陽氣者，柔則養筋，開闔不得，寒氣從之，故筋急而屈伸不利。此離中陽虛，不能斂液，當用桂枝湯補心之陽，陽密則漏汗自止，惡風自罷矣；坎中陽虛不能行水，必加附子以回腎之陽，陽回則小便自利，四肢自柔矣。汗漏不止，與大汗出同，而來由則異。服桂枝後大汗出，而大煩渴，是陽陷於裡，急當滋陰，故用白虎加參以和之；用麻黃湯遂漏不止，是陽亡於外，急當扶陽，故用桂枝加附以固之。要知發汗之劑，用桂枝不當，則陽陷於裡；用麻黃不當，則陽亡於外。因桂枝湯有芍藥而無麻黃，故雖汗大出，而玄府仍能自閉，斷不致亡陽於外耳。</p>

<h2>桂枝甘草湯</h2>
<p>治發汗過多，其人叉手自冒心，心下悸欲得按者。</p>
<p>桂枝（四兩）　甘草（二兩，炙）</p>
<p>上二味，水三升，煮取一升，頓服。</p>
<p>柯韻伯曰：汗出多則心液虛，氣餒故悸。叉手自冒則外有所衛，得按則內有所依。如此不堪之狀，望之而知其虛矣。桂枝本營分藥，得麻黃、生薑，則令營氣外發而為汗，從辛也；得芍藥，則收斂營氣而止汗，從酸也；得甘草，則補營氣而養血，從甘也。（妙議！）故此方以桂枝為君，獨任甘草為佐，以補心之陽，汗雖多而不至於亡陽，甘溫相得，斯血氣和而悸自平，與治心中煩，心下有水氣而悸者迥別，乃補心之峻劑也。</p>

<h2>芍藥甘草附子湯</h2>
<p>發汗病解，反惡寒者，虛故也。此方主之。</p>
<p>芍藥（三兩）　甘草（二兩，炙）　附子（一枚，炮去皮，破八片）</p>
<p>上三味，以水五升，煮取一升五合，去滓，分溫服。</p>
<p>柯韻伯曰：發汗病解而反惡寒，比未汗時更甚，其陽虛可知矣。夫太陽、少陰為表裡，太陽之病，本由少陰之虛，不能藏精而為陽之守也。今惡寒，反見於發汗病解後，是寒邪已從汗解，太陽之虛不能衛外，而為陰之使也。則陽亡之兆已見於此，若仍以桂枝湯攻表，非以扶陽，反以亡陽也。故以芍藥收少陰之精氣，甘草緩陰邪之上行，附子補坎宮之少火，但使腎中元陽得位，在表之虛陽惡寒自解耳！</p>

<h2>桂枝去芍藥加麻黃附子細辛湯</h2>
<p>治水飲在氣分，心下堅，大如盤，邊如旋杯者。</p>
<p>桂枝（三兩）　生薑（三兩）　甘草（二兩，炙）　大棗（十二枚）　麻黃（二兩）　細辛（二兩）　附子（一枚，炮）</p>
<p>上七味，以水七升，先煮麻黃，去沫，納諸藥，煮取二升，分溫三服。當汗出，如蟲行皮中，即愈。</p>
<p>柯韻伯曰：水飲者，少陰所主。心下者，太陽之部。心下有水氣，至於堅大如盤，是五臟之陽已竭也。惟邊如旋杯狀，尚有一線之微陽。斯時欲利水，則水堅而不可破；欲行氣，則氣泄而微陽亦亡。非大劑以扶陽，則束手待斃矣。《內經》曰：陽之氣，以天地之疾風名之；陽之汗，以天地之雨名之。故用附子、薑、桂以生陽之氣，麻黃、細辛以發陽之汗，甘草、大棗以培胃脘之陽，使心下之水飲外達於皮毛，必如蟲行皮中，而堅大如盤者始散。此一汗而營衛之氣通，腹中之輪轉，猶如急風暴雨，不終朝而天朗氣清如故也。蓋氣為陽，水為陰，又氣為水母，陽旺則水精四布，而氣化為汗，陽虛則陰氣凝結，水不化而為積矣。今人凡遇此證，非用峻劑以利水，即香燥以行氣，於先聖大法，畏而遠之，寧死而不敢服，可勝道哉！此與傷寒結胸證同，而病則異。傷寒誤下，因邪氣內陷，是陽為陰鬱，而水不行，故用硝、黃、甘遂苦寒之品以下之；此因寒邪內結，陽衰而氣不化，所謂自傷，氣之削也，故於桂枝湯去芍藥之微寒，合麻、辛、附之辛熱以汗之。《難經》曰：陽盛陰虛，汗之則死，下之而愈；陰盛陽虛，下之則死，汗出而愈。毫釐千里，可勿慎與！</p>

<h2>小建中湯</h2>
<p>治傷寒表未解，或心悸而煩，或腹中急痛，而脈陽澀陰弦者。</p>
<p>桂枝（三兩）　芍藥（六兩）　甘草（三兩）　生薑（三兩）　大棗（十二枚）　膠飴（一升）</p>
<p>上六味，水七升，煮取三升，去滓，納膠飴，更上微火消解，分三服。</p>
<p>柯韻伯曰：桂枝湯為治表而設，佐以芍藥者，以自汗故耳。自汗本表證，而所以自汗者，因於煩，煩則由裡熱也。此湯倍芍藥，加膠飴，名曰建中，則固為里劑矣。然由傷寒內熱雖發，而外寒未除，勢不得去桂、姜，以未離於表，而急於建中，故以小名之。其劑不寒不熱，不補不瀉，惟甘以緩之，微酸以收之，故名曰建耳。所謂中者有二：一心中悸而煩，煩則為熱，悸則為虛，是方辛甘以散太陽之熱，酸苦以滋少陰之虛，是建膻中之宮城也；一腹中急痛，急則為熱，痛則為虛，是方辛以散厥陰之邪，甘以緩肝家之急，苦以瀉少陽之火，酸以致太陰之液，是建中州之都會也。若夫中氣不足，勞倦所傷，非風寒外襲者，《金匱》加黃耆，以固腠理而護皮毛，則亡血失精之症自寧。此陽密乃固之理也。</p>

<h2>五苓散</h2>
<p>（附茵陳五苓散）</p>
<p>治脈浮，小便不利，熱微，消渴者；發汗已，脈浮數，煩渴者；中風發熱，六七日不解而煩，有表裡症，渴欲飲水，水入則吐者。</p>
<p>茯苓（十八銖）　豬苓（十八銖）　白朮（十八銖）　澤瀉（一兩）　桂枝（五錢）</p>
<p>上五味為末，以白飲和，服方寸匕，日三服。</p>
<p>程郊倩曰：標邪傳入膀胱，是為犯本。其人必渴，必小便不利，宜可消水矣。（此傷寒五苓論。）乃一症以水入則拒而吐，一症以水入則消，何居？膀胱為津液之腑，熱入而蓄邪水，致小便不利也。是則水氣挾熱而上升，必至格水，此渴欲飲水，水入則吐也。用五苓者，取其開結利水也，水泉不致留結，邪熱從小便出矣。若熱微消渴，是則熱入膀胱，而燥其津液，乃成消渴。此膀胱無邪水之蓄，亦用五苓者，以化氣回津也，使膀胱之氣騰化，故渴亦止而病愈。（一取開結利水，一取化氣回津，盡太陽犯本之治矣。）然症必以脈浮數，煩渴，為脈表症里，知非陽明之裡，而仍為太陽之裡，故以五苓主之也。</p>
<p>趙羽皇曰：人身之水有二，一為真水，一為客水。真水者，即天乙之所主；客水者，即食飲之所溢。故真水惟欲其升，客水惟欲其降。若真水不升，則水火不交而為消渴；客水不降，則水土相混而為腫滿。（此雜症五苓論。）五苓散一方，為行膀胱之水而設，亦為逐內外水飲之首劑也。（五苓與真武湯對看，五苓行客水之有餘，真武護真水之不足，皆所以行水也。不可不知。）蓋水液雖注於下焦，而三焦俱有所統，故肺金之治節有權，脾土之轉輸不怠，腎關之開合得宜，則溲溺方能按時而出。若肺氣不行，則高源化絕，中州不運，則陰水泛流，坎臟無陽，則層冰內結，水終不能自行。不明其本，而但理其標，可乎？方用白朮以培土，土旺而陰水有制也；茯苓以益金，金清而通調水道也；桂味辛熱，且達下焦，味辛則能化氣，性熱專主流通，州都溫暖，寒水自行；再以澤瀉、豬苓之淡滲者佐之，禹功可奏矣。先哲有曰：水之得以安流者，土為之堤防也；得以長流者，火為之蒸動也。無水則火不附，無火則水不行。旨哉言乎！</p>
<p>羅東逸曰：傷寒之用五苓，允為太陽寒邪犯本，熱在膀胱，故以五苓利水瀉熱。然用桂枝者，所以宣邪而仍治太陽也。雜症之用五苓者，特以膀胱之虛，寒水為壅，茲必肉桂之厚以君之，而虛寒之氣始得運行宣泄。二症之用稍異，不可不辨。加茵陳為茵陳五苓散，治酒積黃癉。蓋土虛則受濕，濕熱乘脾，黃色乃見。茵陳專理濕熱，發黃者所必用也；佐以五苓，旺中州，利膀胱；桂為嚮導，直達熱所，無不克矣。</p>

<h2>越婢湯（《金匱》）</h2>
<p>治風水惡風，一身悉腫，脈浮不渴，續自汗出，無大熱者。又治里水，一身面目黃腫，其脈沉，小便不利，故令病水。假如小便不利，此亡津液，故令渴也，越婢加朮湯主之。</p>
<p>麻黃（六兩）　石膏（半斤）　生薑（三兩）　大棗（十五枚）　甘草（二兩）</p>
<p>上五味，以水六升，煮麻黃，去沫，納諸藥，煮取三升，分三服，惡風加附子一枚（炮）。</p>
<p>喻嘉言曰：越婢湯者，示微發表於不發之方也，大率取其通調營衛。麻黃、石膏二物，一甘熱，一甘寒，合而用之，脾偏於陰，則和以甘熱，胃偏於陽，則和以甘寒。乃至風熱之陽，水寒之陰，凡不和於中土者，悉得用之。何者？中土不和，則水穀不化。其精悍之氣，以實營衛。營衛虛，則或寒或熱之氣，皆得壅塞其隧道而不通於表裡。所以在表之風水用之，而在裡之水兼渴而小便自利者，咸必用之，無非欲其不害中土耳。不害中土，自足消患於方萌矣。</p>
<p>趙以德曰：五臟各一其陰陽，獨脾胃居中而兩屬之，故土不獨成四氣，土亦從四維而後成，不惟火生而已。於是四方有水寒之陰，即應於脾；風熱之陽，即應於胃。飲食五味之寒熱，凡入於脾胃者亦然。一有相干，則脾氣不和，胃氣不清，而水穀不化其精微，以行營衛，以實陰陽也。甘者是土之本味，所以脾氣不和，和以甘熱；胃氣不清，清以甘寒。麻黃之甘熱，走手足太陰經，連於皮膚，行氣於三陰，以祛陰寒之邪；石膏之甘寒，走手足陽明經，達於肌肉，行氣於三陽，以祛風熱之邪。既用其味甘以入土，用其寒熱以和陰陽，用其性善走以發越脾氣，更以甘草和中緩急，調二藥相協而成功。大棗之甘，補脾中之血；生薑之辛，益胃中之氣。惡風者陽虛，故加附子以益陽。風水者，則加朮以散皮膚間水氣，發穀精以宣榮衛，與麻黃、石膏為使，引其入土也。越婢之名，不亦宜乎！</p>
<p>喻論明析，趙說能細剖其理，開便後學，故兩錄之。</p>

<h2>茵陳蒿湯</h2>
<p>陽明病發熱，但頭汗出，身無汗，小便不利，渴飲水漿。此為瘀熱在裡，身必發黃，腹微滿者，本方主之。</p>
<p>茵陳蒿（六兩）　梔子（十四枚）　大黃（二兩）</p>
<p>水一斗，先煮茵陳減六升，納二味，煮三升，去渣，分溫三服。小便當利，尿如皂角汁狀；一宿腹減，黃從小便去也。</p>
<p>柯韻伯曰：太陽、陽明俱有發黃證。但頭汗而身無汗，則熱不外越；小便不利，則熱不下泄，故瘀熱在裡。（發黃，三湯看得清楚。）然里有不同，肌肉是太陽之裡，當汗而發之，故用麻黃連翹赤豆湯，為涼散法；心胸是太陽陽明之裡，當寒以勝之，用梔子柏皮湯，乃清火法；腸胃是陽明之裡，當瀉之於內，故立本方，是逐穢法。茵陳稟北方之色，經冬不凋，傲霜凌雪，偏受大寒之氣，故能除熱邪留結；率梔子以通水源，大黃以調胃實，令一身內外瘀熱，悉從小便而出，腹滿自減，腸胃無傷，仍合引而竭之之法，此陽明利水之聖劑也。仲景治陽明渴飲有四法：本太陽轉屬者，五苓散微發汗以散水氣；大煩燥渴，小便自利者，白虎加參，清火而生津；脈浮，發熱，小便不利者，豬苓湯，滋陰而利水；小便不利，腹滿者，茵陳湯以泄滿，令黃從小便出。病情治法，胸有成竹矣。竊思仲景利小便，必用氣化之品；通大便，必用承氣之味。故小便不利者必加茯苓，甚者兼用豬苓，因二苓為氣化之品，而小便由於氣化也。茲小便不利，不用二苓者何？本論云：陽明病，汗出多而渴者，不可與豬苓湯，以汗多胃中燥，豬苓湯複利小便故也。斯知陽明病汗出多而渴者不可用，則汗不出而渴者，津液先虛，更不可用明矣。此以推陳致新之茵陳，佐以屈曲下行之梔子，不用枳、樸以承氣與芒硝之峻利，則大黃但可以潤胃燥，而大便之不遽行可知，故必一宿而腹始減，黃從小便去，而不由大腸。仲景立法神奇，匪夷所思耳。</p>

<h2>梔子豉湯</h2>
<p>（附加減諸湯）</p>
<p>治陽明病脈浮而緊，咽燥，口苦，腹滿而喘，發熱，汗出，不惡寒，反惡熱，身重煩躁，心中憒憒，怵惕，懊憹，目疼，鼻乾，不得臥。</p>
<p>梔子（十四枚）　香豉（四合，綿裹）</p>
<p>上二味，以水四升，先煮梔子得二升半，納豉，煮取一升半，去渣，分二服溫進。一服得吐，止後服。若少氣者，加甘草二兩。若嘔者，加生薑三兩。若下後心煩，腹滿，起臥不安者，去香豉，加厚朴四兩，枳實四枚。若醫以丸藥下之，身熱不去，微煩者，去香豉，加乾薑二兩。若身熱發黃者，去香豉，加甘草一兩，黃柏二兩。</p>
<p>柯韻伯曰：太陽以心腹為里，陽明以心腹為表。蓋陽明之裡是胃實，不特發熱、惡寒、目疼、鼻乾、汗出、身重謂之表，一切虛煩、虛熱、咽燥、口苦、舌苔、腹滿、煩躁、不得臥、消渴而小便不利，凡在胃之外者，悉是陽明之表也。仲景制汗劑，是開太陽表邪之出路；制吐劑，是引陽明表邪之出路。所以太陽之表，宜汗不宜吐；陽明之表，當吐不當汗。（陽明之表當吐，此義前人未發。）太陽當汗而反吐之，便見自汗出、不惡寒、飢不能食、朝食暮吐、欲飲冷食、不欲近衣等證。此太陽轉屬陽明之表，法當梔子豉湯吐之。陽明當吐而不吐，反行汗、下、溫針等法，以致心中憒憒、怵惕、懊憹、煩躁、舌苔等證，然仍在陽明之表，仍當梔子豉湯主之。（所謂汗、吐法，當如。）梔子苦能湧泄，寒能勝熱其形象心，又赤色通心，故主治心中上下一切證；豆形象腎，又黑色入腎，制而為豉，輕浮上行，能使心腹這濁邪上出於口，一吐而心腹得舒，表裡之煩熱悉解矣。所以然者。二陰之病發心脾，此是心脾熱，不是胃家實，即所云有熱屬臟者，攻之不令發汗之義也。急除胃外之熱，不致胃家之家，即此梔豉湯，為陽明解表裡之聖劑矣。熱傷氣者少氣，加甘草益氣；虛熱相搏者多嘔，加生薑以散邪。若下後而心腹滿，起臥不安，是熱已入胃，便不當吐，故去香豉。屎未燥硬，不宜復下，故只用梔子以除煩，佐枳、樸以泄滿，此兩解心腹之妙，又小承氣之輕劑也。若以丸藥下之，心微煩而不懊惱，是知寒氣留中，而上焦留熱，故任梔子以除煩，倍乾薑以逐內寒，而表熱自解，此又寒熱並用，為和中解表之劑矣。內外熱熾，肌肉發黃，必須苦甘之劑以調之，柏皮、甘草色黃而潤，助梔子以除內煩而解外熱，形色之病，仍假形色以通之，此皆用梔豉於加減，以御陽明表證之變幻也。夫梔子之性，能屈曲下行，不是上湧之劑，惟豉之腐氣，上蒸心肺，能令人吐耳！觀瓜蒂散必用豉汁和服，是吐在豉而不在梔也。（此義後人濛濛，賴此發明。）梔子乾薑湯，去豉用姜，是取其橫散；梔子厚朴湯，以枳、樸易豉，是取其下泄：皆不欲上越之義。二方後概云得吐止後服，大背仲景之旨矣。看梔了與茵陳柏皮湯，俱不言吐，病人舊微溏者不可與，則梔子之性自明矣。</p>

<h2>豬苓湯</h2>
<p>治陽明病脈浮，發熱，渴欲飲水；少陰病下利六七日，咳而嘔渴，心煩不得眠者。</p>
<p>豬苓　茯苓　澤瀉　滑石　阿膠（各一兩）</p>
<p>上五味，以水四升，先煮四味，取二升，去滓，納阿膠溶，溫服七合，日三服。</p>
<p>趙羽皇曰：仲景制豬苓湯，以行陽明、少陰二經水熱，然其旨全以益陰，不專利水。（二語便得正旨。）蓋傷寒在表，最忌亡陽，而裡虛又患亡陰。亡陰者，亡腎中之陰，與胃家之津液也。故陰虛之人，不但大便不可輕動，即小水亦忌下通。倘陰虛過於滲利，津液不致耗竭乎？方中阿膠養陰，生新去瘀，於腎中利水，即於腎中養陰；滑石甘滑而寒，於胃中去熱，亦於胃家養陰；佐以二苓之淡滲者行之，既疏濁熱，而不留其瘀壅，亦潤真陰，而不苦其枯燥，源清而流有不清者乎？顧太陽利水用五苓者，以太陽職司寒水，故急加桂以溫之，是暖腎以行水之也；陽明、少陰之用豬苓，以二經兩關津液，特用阿膠、滑石以潤之，是滋養無形，以行有形也。（妙義環生。）利水雖同，寒溫迥別，惟明者知之。</p>

<h2>白虎湯</h2>
<p>治陽明症，汗出，渴欲飲水，脈洪大浮滑，不惡寒，反惡熱。</p>
<p>石膏（一斤碎綿裹）　知母（六兩）　甘草（二兩炙）　粳米（六合）</p>
<p>上五味，以水一斗，煮米熟湯成，去滓，服一升，日三服。</p>
<p>柯韻伯曰：邪入陽明，故反惡熱，熱越故汗出，因邪熱爍其精液，故渴欲飲水，邪盛而實，故脈洪大，半猶在經，故兼浮滑，然火炎土燥，終非苦寒之味所能治。經曰：甘先入脾。又曰：以甘瀉之。以是知甘寒之品，乃瀉胃火、生津液之上劑也。石膏甘寒，寒勝熱，甘入脾，又質剛而主降，備中土生金之體，色白通肺，質重而含脂，具金能生水之用，故以為君；知母氣寒主降，苦以泄肺火，辛以潤腎燥，故為臣；甘草為中宮舟楫，能土中瀉火，寒藥得之緩其寒，使沉降之性，皆得留連於胃；粳米氣味溫和，稟容平之德，作甘稼穡，得二味為佐，陰寒之物，庶無傷損脾胃之慮也。煮湯入胃，輸脾歸肺，水精四布，大煩大渴可除矣。白虎為西方金神，取以名湯，秋金得令而炎暑自解矣。更加人參，以補中益氣而生津，協和甘草、粳米之補，承製石膏、知母之寒，瀉火而土不傷，乃操萬全之術者。</p>

<h2>白虎加人參湯</h2>
<p>治太陽中熱，汗出，惡寒，身熱而渴者，暍是也。</p>
<p>知母（六兩）　石膏（一斤）　甘草（二兩）　粳米（六合）　人參（三兩）</p>
<p>上五味，以水如前煮服法。</p>
<p>趙以德曰：汗出、惡寒、身熱而不渴者，中風也；汗出，惡寒，而渴者，中暍也。其症相似，獨以渴、不渴為辨。然傷寒、中風，則皆有背微惡寒，與時時惡風而渴者，亦以白虎人參湯治之。蓋為火酷肺金，肺主氣者也。肺傷則衛氣虛，衛虛則表不足，由是汗出、身熱、惡寒。《內經》曰：心移熱於肺，傳為膈消。消膈則渴，皆相火傷肺所致，可知其要在救肺也。石膏能治三焦火熱，功多於清肺，退肺中之火，是用為君。知母亦就肺中瀉心火，滋水之源。人參生津，益所傷之氣，而為臣。粳米、甘草補土以資金，為佐也。</p>

<h2>大小二承氣湯合論</h2>

<h3>大承氣湯</h3>
<p>治陽明病潮熱，手足濈然汗出，譫語，汗出多，胃燥，獨語如見鬼狀，喘冒不能臥，腹滿痛，脈滑實；又目中不了了，睛不和；又少陰病初得之，口燥咽乾者，自利清水，色純青，心下痛，口燥舌乾者，六七日腹脹不大便者。</p>
<p>大黃（四兩，酒洗）　厚朴（半斤）　枳實（五枚，炙）　芒硝（三錢）</p>
<p>上四味，以水一斗，先煮二物，取五升，納大黃，煮取二升，去滓，納芒硝，再上火微煮三沸，分溫再服。得下，即停後服。</p>

<h3>小承氣湯</h3>
<p>大黃（四兩）　厚朴（二兩，炙去皮）　枳實（三枚）</p>
<p>上三味，以水四升，煮取一升二合，去滓，分溫三服。初服湯當大便，不爾再服，以利為度，得便即止服。</p>
<p>柯韻伯曰：諸病皆因於氣，穢物之不去，由於氣之不順也。故攻積之劑，必用氣分之藥，因以承氣名湯。方分大小，有二義焉。厚朴倍大黃，是氣藥為君，名大承氣；大黃倍厚朴，是氣藥為臣，名小承氣。味多性猛，制大其服，欲令大泄下也，因名曰大；味寡性緩，制小其服，欲微和胃氣也，因名曰小。且煎法更有妙義。大承氣用水一斗，煮樸、枳取五升，去滓，納大黃，再煮取二升，納芒硝，何哉？蓋生者氣銳而先行，熟者氣純而和緩。仲景欲使芒硝先化燥屎，大黃繼通地道，而後枳樸除其痞滿。若小承氣以三味同煎，不分次第。同一大黃，而煎法不同，此可見仲景微和之意也。</p>
<p>喻嘉言曰：《金匱》治痙，為病胸滿，口噤，臥不著席，腳攣急，必齘齒，可與大承氣湯，乃死裡求生之法也。《靈樞》謂熱而痙者死，腰折，瘛瘲，齒齘也。茲所云臥不著席，即腰折之變文；腳攣急，即瘛瘲之變文；且齘齒加以胸滿、口噤，上中下三焦熱邪充斥，死不旋踵矣。在傷寒症，腹滿可下，胸滿則不可下。然投是湯者，須知所謂胸滿，謂其邪尚在表，故不可下。（存此條，為下能存陰之一證。）此證入里之熱，極深極重，匪可比倫。況陽熱至極，陰血立至消亡。即小小下之，尚不足以勝其陽，救其陰。故取此湯以承領其一線之陰氣，陰氣不盡為陽熱所劫，因而得生者多矣。可與二字甚活，臨症酌而用之，初非定法也。既有下之重傷其陰之大戒，復有下之急救其陰之活法，學者欲為深造，端在此矣。</p>

<h2>桃仁承氣湯</h2>
<p>治血結胸中，手不可近，或中焦蓄血，寒熱，胸滿，漱水不欲咽，善忘，昏迷，如狂者。此方治敗血留經，通月事。</p>
<p>桃仁（半兩）　大黃（一兩）　硝（三錢）　桂（三錢）　甘草（三錢）</p>
<p>上每服一兩，薑、水煎服。</p>

<h2>抵當湯並丸</h2>
<p>治傷寒蓄血，並治癥瘕，追蟲、攻毒甚佳。</p>
<p>水蛭（熬）　虻蟲（去翅足，各三十枚）　桃仁（二十枚）　大黃（三兩，酒洗）</p>
<p>上四味，水五升，煮取三升，去滓，溫服一升。不下再服，即以四味搗粉為丸，分四丸，以水一升，煮一丸，取七合，服之，醉時當下血。若不下者，更服。</p>
<p>柯韻伯曰：膀胱為水府，血本無所容蓄者也。然太陽為諸陽主氣，是氣之最多者，而其經則又多血少氣，則知太陽在表，陽分之氣多，而在經血分之氣反少也。少氣者，膀胱之室熱結硬滿，法當小便不利；而反利者，是太陽上焦之氣化行，而下焦血海之氣化不行可知，必其隨經之營血，因瘀熱而結於裡矣。此為小腹之裡，而非膀胱之裡，故小便雖利，而硬滿急結，蓄血仍瘀於小腹也。熱淫於內，神魂不安，故發狂。血瘀不行，則營不運，故脈微而沉；營不運則氣不宣，故沉而結也。營氣不周於身，則身黃。消穀善飢者，胃火熾盛也。大便反易者，血之濡也。色黑者，蓄血滲入也。善忘者，血不營，智不明也。此皆瘀血之徵兆，非至峻之劑，不足以抵其巢穴而當此重任，故立抵當湯。蛭，蟲之善飲血者，而利於水；虻，蟲之善吮血者，而猛於陸。並舉水陸之善取血者以攻之，同氣相求；更佐桃仁之苦甘，推陳致新，大黃苦寒，盪滌邪熱，此名抵當也。若熱雖盛而未狂，小腹滿而未硬，宜小其制，為丸以緩治之。若外症已解，小腹急結，其人如狂，是轉屬陽明，用調胃承氣加桃仁、桂枝之行血者於其中，以微利之，胃和則愈矣。此桃仁承氣，又為治之緩也。</p>

<h2>小柴胡湯</h2>
<p>治傷寒五六日，寒熱往來，胸脅苦滿，嘿嘿不欲飲食，心煩，喜嘔，耳聾，脈數。此是少陽經半表半裡之症，宜此湯和解之。</p>
<p>柴胡（半斤）　黃芩　人參　甘草（各三兩）　半夏（半升）　生薑（三兩）　大棗（十二枚）</p>
<p>上七味，以水一斗二升，煮取六升，去滓，再煎取三升，溫服一升，日三服。若胸中煩而不嘔，去半夏、人參，加栝蔞實一枚。若渴者，去半夏，加人參，合前成四兩半，加栝蔞根四兩。若腹中痛，去黃芩，加芍藥三兩。若脅下痞硬，去大棗，加牡蠣四兩。心下悸，小便不利者，去黃芩，加茯苓四兩。不渴，外有微熱者，去人參，加桂枝三兩，溫覆取微汗。咳者，去人參、大棗、生薑，加五味子半升，乾薑二兩。</p>
<p>程郊倩曰：方以小柴胡名者，配乎少陽而取義。至於制方之旨及加減法，則所云上焦得通，津液得下，胃氣因和，盡之矣。何則？少陽脈循脅肋，在腹陽背陰兩岐間，在表之邪欲入里，為裡氣所拒，故寒往而熱來；表裡相拒，而留於岐分，故胸脅苦滿；神識以拒而昏困，故嘿嘿；木受邪則妨土，故不欲食；膽為陽木而居清道，為邪所郁，火無從泄，逼炎心分，故心煩；清氣鬱而為濁，則成痰滯，故喜嘔；嘔則木火兩舒，故喜之也。此則少陽定有之症。其餘或之云者，以少陽在人身為遊部，凡表裡經絡之罅，皆能隨其虛而見之，不定之邪也。據症皆是太陽經中所有者，特以五六日上見，故屬之少陽。半表半裡兼而有之，方是小柴胡症。方中柴胡以疏木，使半表之邪得從外宣；黃芩清火，使半里之邪得從內徹；半夏能開結痰，豁濁氣以還清；人參能補久虛，滋肺金以融木；甘草和之，而更加薑、棗助少陽生髮之氣，使邪無內向也。至若煩而不嘔者，火成燥實而逼胸，故去人參、半夏，加栝蔞實。渴者，燥已耗液而逼肺，故去半夏，加栝蔞根。腹中痛，木氣散入土中，胃陽受困，故去黃芩以安土，加芍藥以戢木。脅下痞硬者，邪既留則木氣實，故去大棗之甘而緩，加牡蠣之咸而軟也。心下悸，小便不利者，土被侵則木氣逆，故去黃芩之苦而伐，加茯苓之淡而滲也。不渴，身有微熱者，半表之寒尚滯於肌，故去人參，加桂枝以解之。咳者，半表之寒湊入於肺，故去參、棗，加五味子，易生薑為乾薑以溫之，雖肺寒不減黃芩，恐木寡於畏也。總之，邪在少陽，是表寒裡熱兩郁不得升之故；小柴胡之治，所謂升降浮沉則順之也。</p>

<h2>大柴胡湯</h2>
<p>治熱結在內，往來寒熱者。</p>
<p>柴胡（半斤）　半夏（半斤）　黃芩（三兩）　芍藥（三兩）　枳實（四枚）　生薑（五兩）　大棗（十二枚）</p>
<p>上七味，以水一斗二升，煮取六升，去滓，再煎。溫服一升，日三服。</p>
<p>柯韻伯曰：此熱結在氣分，不屬有形，故十餘日復能往來寒熱也。若熱結在胃，則蒸蒸發熱，不復知有寒矣。往來寒熱，故倍生薑，佐柴胡以解表；結熱在裡，故去參、甘之溫補，加枳、芍以破結。按大柴胡是半表半裡氣分之下藥，並不言及大便硬與不大便；其心下急，心下痞硬，是病在胃口，而不在胃中；結熱在裡，不是結熱在胃，且下利則地道已通，仲景不用大黃之意曉然。若以下之二字，妄加大黃，不亦謬乎？大、小柴胡，俱是兩解表裡之劑，大柴胡主下，小柴胡主和。和無定體，故小柴胡除柴胡、甘草外，皆可進退；下有定局，故大柴胡無加減法也。</p>

<h2>柴胡桂枝湯</h2>
<p>傷寒六七日，發熱，微惡寒，肢節煩疼，微嘔，心下支結。此太陽、少陽並病也，柴胡桂枝各半湯主之。</p>
<p>柴胡（四兩）　黃芩　人參　生薑　芍藥　桂枝（各一兩半）　甘草（一兩）　半夏（二合半）　大棗（六枚）</p>
<p>上九味，水煎服。</p>
<p>柯韻伯曰：柴、桂二湯，皆是調和之劑。桂枝湯重解表，而微兼清裡；柴胡湯重調里，而微兼散表。桂枝本為太陽表邪設，又可用以調諸經之表；小柴胡為少陽半表立法，亦可用以調三陽之半表。仲景書中，最重此二方，故於六經病外，獨桂枝證、柴胡證之稱見，二方之任重，不拘於經也。（善讀古人書者，其落眼自別。）如陽浮陰弱條，是仲景自為桂枝證之註釋；血弱氣虛條，亦仲景自為柴胡證之註釋。桂枝有壞病，柴胡亦有壞病；桂枝有疑似證，柴胡亦有疑似證。病如桂枝證而實非，若腳攣急與胸中痞硬者是矣；病如柴胡證而實非，如本渴而飲水嘔、食谷嘔，與但欲嘔、胸中痛、微溏者是矣。此條為傷寒六七日，正寒熱當退之時，反見發熱、惡寒諸表證，更兼心下支結諸里證，表裡不解，法當表裡雙解之。然惡寒微，則發熱亦微，可知支節煩疼，則一身骨節不疼；可知微嘔，心下亦微結，故謂之支結。表證雖不去而已輕，里證雖已見而未甚，故取桂枝之半以散太陽未盡之邪，取柴胡之半以解少陽微結之證。口不渴，身有微熱者，當去人參。以六七日來，邪雖不解，而正氣已虛，故仍用人參以和之也外證雖在，而病機已見於里，故方以柴胡冠桂枝之前，為雙解兩陽之輕劑。</p>

<h2>桂枝加芍藥加大黃二湯</h2>
<p>本太陽病，醫反下之，因爾腹滿時痛者，屬太陰也，桂枝加芍藥湯主之；大實痛者，桂枝加大黃湯主之。</p>
<p>桂枝　芍藥　甘草　生薑　大棗</p>
<p>即桂枝湯倍芍藥三兩；大實痛者，即原方加大黃二兩。煎法如前。</p>
<p>柯韻伯曰：腹滿為太陰、陽明俱有之證，然位同而職異。太陰主出，太陰病則腐穢之出不利，故滿而時痛；陽明主內，陽明病則腐穢燥而不行，故大實而痛。大實痛，是陽明病，不是太陰病。（二條向來濛濛，得韻伯此論，如白日麗空矣。）仲景因表症未解，陽邪已陷入於太陰，故倍芍藥以益脾而除滿痛，此用陰和陽法也。若表邪未解，而陽邪陷入於陽明，則加大黃以潤胃，而除其大實痛，此雙解表裡法也。凡妄下必傷胃氣，胃氣虛則陽邪襲陰，故轉屬太陰；胃液涸則兩陽相搏，故轉屬陽明。屬太陰則腹滿時痛而不實，陰道虛也；屬陽明則腹大實而痛，陽道實也。（陽明、太陰之辯井然。）滿而時痛，是下利之兆，大實而痛，是燥屎之徵，故加芍藥小變建中之劑，加大黃微示調胃之方。</p>

<h2>麻黃附子細辛湯</h2>
<p>治少陰病始得之，發熱，脈沉，無里證者。</p>
<p>麻黃（一兩）　附子（一枚，炮）　細辛（二兩）</p>
<p>上三味，以水一斗，先煮麻黃，減二升，去沫，納藥，取三升，去滓。溫服一升，日三服。</p>
<p>熱微者，以甘草易細辛，微發汗。</p>
<p>柯韻伯曰：少陰主裡，應無表證。病發於陰，應有內熱。今始受寒邪，即便發熱，而里無熱，似乎太陽，而屬之少陰者，以頭不痛而但欲寐也。蓋少陰為太陽之雌，大言陰與陽，小言夫與婦，兩相須也。（論之明斷，較若觀火。）太陽陽虛，則不能主外，內傷真陰之氣，便露出少陰之底板；少陰陰虛，則不能主內，外傷太陽之氣，便假借太陽之面目。此陰陽表裡雌雄相輸應之機耳！陰陽疑似之際，症難辨而脈可憑。《內經》曰：逆冬氣則少陰不藏，腎氣獨沉，故身雖熱而脈則沉也。所以太陽病而脈反沉，便用四逆以急救其里，此少陰病而表反熱，便於表劑中加附子，以豫固其里。何以故？腎家坎象，二陰不藏，則一陽無蔽，陰邪始得以內侵，孤陽因之以外越耳！</p>
<p>（且開且固，本方妙義如此。）夫發熱、無汗，太陽之表不得不開；沉為在裡，少陰之樞又不得不固。設用麻黃開腠理，細辛散浮熱，而無附子以固元陽，則少陰之津液越出，太陽之微陽外亡，去生便遠。惟附子與麻黃並用，則寒邪散而陽不亡，精自藏而陰不傷。此里病及表，脈沉而當發汗者，與病在表，脈浮而發汗者逕庭也。若表微熱，則受寒亦輕，故以甘草易細辛，而微發其汗。甘以緩之，與辛以散之者，又少間矣。</p>

<h2>乾薑附子、茯苓四逆二方</h2>
<p>下後，復發汗，晝日煩躁不得眠，夜而安靜，不嘔，不渴，無表證，脈沉微，身無大熱者，乾薑附子湯主之。</p>
<p>乾薑（一兩）　附子（一枚，去皮破八片，生用）</p>
<p>上二味，以水三升，頓服。</p>
<p>發汗，若下之，病仍不解，煩躁者，茯苓四逆湯主之。</p>
<p>茯苓（六兩）人參（一兩）　甘草（二兩，炙）　乾薑（一兩半）　附子（一枚，去皮，生用）上五味，以水五升，煮三升，溫服七合，日三服。</p>
<p>柯韻伯曰：二條皆太陽壞病，轉屬少陰者也。凡太陽病而妄汗、妄下者，其變證或仍在太陽，或轉屬陽明，或轉系少陽，或系在太陰。若汗後復下，或下後復汗，誤而又誤，則轉屬少陰矣。少陰為太陽之裡，是太陽之根蒂也。太陽以陽為主，若治不如法，陽盛則屬陽明，陽衰則屬少陽，陽虛則屬太陰，此陽亡故轉屬少陰耳！（直抉所以然，誰能道一字？）脈在少陰則沉微，邪入少陰則煩躁。煩躁雖六經俱有，而多見於太陽、少陰者，太陽為真陰之標，少陰為真陽之本也。未經汗、下而煩躁，屬太陽，是煩為陽盛，躁為陰虛矣；汗下後而煩躁，屬少陽，是煩為陽虛，躁為陰極矣。陰陽不相附，故煩躁，而煩躁之中，又當以汗下之先後，表證之解不解，為之詳辨，則陰陽之差多差少，不致混淆，而用方命劑，無纖毫之失也。夫先汗後下，於法為順，而表仍不解，是妄下亡陰，陰陽俱虛而煩躁也，制茯苓四逆固陰以收陽；先下後汗，於治為逆，而表證反解，內不嘔渴，似乎陰陽自和，而實妄汗亡陽，所以虛陽擾於陽分，晝則煩躁不得安，陽虛不得入於陰，故脈沉微而夜靜，是真陽將脫而煩躁也，用乾薑、附子固陽以配陰。（方議妙極！）同一煩躁，所用之方不同如此。薑、附者，陽中陽也，生用則力更銳，不加甘草，則勢更猛矣。是方比四逆為峻，回陽當急也。茯苓感太和之氣化，不假根苗而成，能補先天無形之氣，安虛陽外脫之煩，故以為君；人參能回元氣於無何有之鄉，通血脈於細微欲絕之際，故以為佐。是方以人參佐茯苓，補下焦之元氣；以乾薑配生附，回下焦之元陽；調以炙草之甘，比四逆為緩，固里宜緩也。一去甘草，一加參、苓，而緩急自別，用方之神乎！（急緩二議，開後學心胸。）</p>

<h2>旋覆代赭湯</h2>
<p>治汗吐下解表後，心下痞硬，噫氣不除。</p>
<p>旋覆花（三兩）　代赭石（一兩）　人參（二兩）　甘草（炙，三兩）　生薑（五兩）大棗（十二枚）　半夏（半升）</p>
<p>上七味，以水一斗，煎減半，去滓，再煎，取三升，溫服，日三服。</p>
<p>羅東逸曰：仲景此方，治正虛不歸元，而承領上下之聖方也。蓋發汗吐下解表後，邪雖去，而胃氣之虧損亦多；胃氣既虧，三焦因之失職，陽無所歸而不升，陰無所納而不降，是以濁邪留滯，伏飲為逆，故心下痞硬，噫氣不除。方中以人參、甘草養正補虛，薑、棗和脾養胃，所以安定中州者至矣。更以代赭石得土氣之甘而沉者，使之斂浮鎮逆，領人參以歸氣於下；旋覆之辛而潤者，用之開肺滌飲，佐半夏以蠲痰飲於上。苟非二物承領上下，則何能使噫氣不除者消，心下硬自除乎？觀仲景治下焦水氣上凌，振振欲擗地者，用真武湯鎮之；利在下焦者，下元不守，用赤石脂禹餘糧固之；此胃虛在中，氣不得下，復用此法領之，而胸中轉否為泰。其為歸元固下之法，各極其妙如此。</p>

<h2>赤石脂禹餘糧湯</h2>
<p>主治久痢不止，大腸虛脫，服理中丸而利益甚者。</p>
<p>赤石脂　禹餘糧（各一斤，俱搗碎）</p>
<p>上二味，以水六升，煮取二升，去渣，分溫三服。</p>
<p>柯韻伯曰：甘、薑、參、術可以補中宮元氣之虛，而不足以固下焦脂膏之脫。此利在下焦者，概不得以理中之劑收功矣。（議不可奪。）然大腸之不固，仍責在胃；關門之不閉，仍責在脾。土虛不能制水，仍當補土。今補土而土不受補者，非治法之謬也。當知稟甲乙之氣者，終不若稟戊己之化者，能培土製水之為得當也。石者，土之剛也。二石皆土之精氣所結，石脂色赤入丙，助火以生土；餘糧色黃入戊，實胃而澀腸。急以治下焦之標者，實以培中宮之本也。要知此證，土虛而火不虛，故不宜於薑、附。仲景曰：複利不止者，當利其小便。可知與桃花湯別成一局矣。</p>

<h2>真武湯</h2>
<p>治少陰水氣為患，腹痛下利，四肢沉重疼痛，小便不利。其人或咳，或嘔，或小便利而下利者，用此加減。</p>
<p>白朮（二兩）　茯苓　白芍（各三兩）　大附子（一枚，炮）　生薑（三兩）</p>
<p>上五味，以水八升，煮取三升，去滓。溫服七合，日三服。</p>
<p>趙羽皇曰：人之一身，陰陽是也。上焦屬陽而主心肺，下焦屬陰而主肝腎。肝藏陰血，腎兼水火。真武一方，為北方行水而設，用三白者，以其燥能治水，淡能伐腎邪而利於水，酸能泄肝木以疏水故也。附子辛溫大熱，必用為佐者何居？蓋水之所制者脾，水之所行者腎也。腎為胃關，聚水而從其類。倘腎中無陽，則脾之樞機雖運，而腎之關門不開，水雖欲行，孰為之主？故脾家得附子，則火能生土，而水有所歸矣；腎中得附子，則坎陽鼓動，而水有所攝矣。更得芍藥之酸，以收肝而斂陰氣，陰平陽秘矣。若生薑者，並用以散四肢之水氣而和胃也。蓋五苓散行有餘之水，真武行不足之水，兩者天淵。總之，脾腎雙虛，陰水無制而泛溢妄行者，非大補坎中之陽，大健中宮之氣，即日用車前、木通以利之，豈能效也？</p>
<p>柯韻伯曰：坎宮火用不宣，故腎家水體失職，是下焦虛有寒不能制水故也。法當壯元陽以消陰翳，逐留垢以清水源，因立此湯。方後立加減法，是真武加減證，不是主症，雖皆水氣為患，而不屬少陰。其云若咳者，是水氣射肺所致，加五味子之酸溫，佐芍藥以收腎中水氣；細辛之辛溫，佐生薑以散肺中水氣。小便自利而下利，是胃中無陽，則腹痛不屬相火，四肢困於脾濕，故去芍藥之酸寒，加乾薑之辛熱，即茯苓之甘平者亦去之，此為溫中之劑，而非利水之劑矣。若嘔者，是水氣在中，故中焦不治，四肢不利，病不涉少陰，由於太陰濕化不宣也，不須附子之溫腎，倍加生薑以散邪，此為和中之劑，而非下焦之劑矣。附子、芍藥、茯苓、白朮四味，皆真武所重，若去一味，便不是真武。仲景論證治，多觸類旁通，並不畫地為界。</p>
<p>喻嘉言曰：亡陽而用真武以救之者，蓋真武北方司水之神。方中四味，是行水收陰，崇土回陽之劑，故能收拾分馳離絕之陰陽，互鎮於北方少陰之位也。蓋人身陽根於陰，真陽飛越，亟須鎮攝歸根耳。</p>

<h2>黃連阿膠湯</h2>
<p>治少陰病得之二三日，心中煩，不得臥。</p>
<p>黃連（四兩）　黃芩（一兩）　芍藥（二兩）　雞子黃（二枚）　阿膠（三兩）</p>
<p>上五味，以水五升，先煮三藥，取二升，去滓，納膠溶，小冷，納雞子黃，攪令相得，溫服七合，日三服。</p>
<p>柯韻伯曰：此少陰之瀉心湯也。凡瀉心必藉連、芩，而導引有陰陽之別。病在三陽，胃中不和而心下痞硬者，虛則加參、甘補之，實則加大黃下之。病在少陰，而心中煩，不得臥者，既不得用參、甘以助陽，亦不得用大黃以傷胃矣；用連、芩以直折心火，佐芍藥以收斂神明，所以扶陰而抑陽也。然以但欲寐之病情，而至不得臥，以微細之病脈，而反見心煩，非得氣血之屬以交合心腎，甘平之品以滋陰和陽，不能使水升而火降。若苦從火化，而陰火不歸其部，手少陰之熱不除，雞子黃稟離宮之火色，入通於心，可以補心中之血，用生者攪和，取潤下之義也；驢皮稟北方之水色，入通於腎，可以補坎宮之精；濟水內合於心，而性急趨下，與之相溶而成膠，是降火歸原之妙劑也。經曰：火位之下，陰精承之。陰平陽秘，精神乃治。斯方之謂歟！</p>

<h2>當歸四逆湯</h2>
<p>手足厥冷，脈細欲絕者主之。若其人內有久寒，加吳萸、生薑。</p>
<p>當歸　桂枝　芍藥（各三兩）　細辛　甘草　通草（各二兩）　大棗（二十五枚）</p>
<p>上七味，以水八升，溫服一升，日三服。</p>
<p>柯韻伯曰：此厥陰初傷於寒，發散表寒之劑。凡厥陰傷寒，則脈微而厥。以厥陰為兩陰之交盡，又名陰之絕陽。傷於寒，則陰陽之氣不相順接，便為厥。厥者，手足逆冷是也。然相火寄於厥陰之臟，經雖寒而臟不寒，故先厥者後必發熱。所以傷寒初起，見其手足厥冷，脈細欲絕者，不得遽認為虛寒而用薑、附耳。此方取桂枝湯，君以當歸者，厥陰主肝為血室也；倍加大棗者，肝苦急，甘以緩之，即小建中加飴法；肝欲散，急食辛以散之，細辛甚辛，通三陰氣血，外達於毫端，力比麻黃，用以代生薑，不欲其橫散也，與麻黃湯不用同義；通草能通關節，用以開厥陰之闔。當歸得芍藥生血於中，大棗同甘草益氣於裡，桂枝得細辛而氣血流經。緩中以調肝，則營氣得至太陰，而脈自不絕；溫表以逐邪，則衛氣得行四末，而手足自溫。不須參、苓之補，不用薑、附之峻，此厥陰四逆，與太、少不同治，仍不失辛甘發散之理，斯為厥陰傷寒表劑歟！若其人內有久寒，非發散之品所能兼治。茱萸辛熱，猛於細辛，能直通厥陰之臟，仍加生薑之橫散，淫氣於筋，筋脈不沮弛，則氣血如故。是又救厥陰內外兩傷於寒之法也。</p>
<p>程郊倩曰：少陰所主者氣，厥則為寒，當納氣歸腎；厥陰所主者血，厥則為虛，當溫經復營。此大法也。</p>

<h2>吳茱萸湯</h2>
<p>治厥陰病乾嘔，吐涎沫，頭痛者；少陰症吐利，手足厥冷，煩躁欲死者；陽明食谷欲嘔者。</p>
<p>吳茱萸（一升）　人參（三兩）　生薑（六兩）　大棗（十二枚）</p>
<p>上四味，以水七升，煮取二升，溫服七合，日三服。</p>
<p>羅東逸曰：仲景救陽諸法，於少陰四逆湯，必用薑、附；通脈四逆湯，加乾薑分兩，其附子生用；附子湯，又加生附至二枚。所以然者，或壯微陽使外達，或招飛陽使內返，或如斷鰲立極，以鎮元陽之根柢，此在少陰真陽命蒂，故以回陽為亟也。至其治厥陰，則易以吳茱萸，而並去前湯諸藥，獨用人參、薑、棗有故。蓋人身厥陰肝木，雖為兩陰交盡，而九地一陽之真氣，實起其中，此謂生陽。此之真氣大虛，則三陰濁氣直逼中上，不惟本經諸症悉具，將陽明之健運失職，以至少陰之真陽浮露，且吐利厥逆，煩躁欲死，食谷欲嘔，種種叢生矣。吳茱萸得東方震氣，辛苦大熱，能達木鬱，又燥氣入肝，為能直入厥陰，招其垂絕不升之生陽以達上焦，故必用以為君；而又慮無真元氣以為之合，則一陽不徒升也，於是去藥之燥滲酸瀉與偏陽亢氣者，擇人參之清和而大任之，以固元和陽為之輔，取薑、棗和胃而行四末。（獨用人參，當著眼。）斯則震、坤合德，木、火、土同氣以成一陽之妙用，而足三陰之間，皆成生生之氣矣，諸症有不退者乎？蓋仲景之法，於少陰重固元陽，於厥陰則重護生氣。學者當深思而得之矣。</p>
<p>王又原曰：少陰、厥陰，俱有躁煩。少陰之躁在水，由龍火不歸，故薑、附得而陽回；厥陰之躁在木，惟雷火上逆，若用薑、附，是益其震烈耳！故厥陰躁煩多死證，非少陰比也。（兩處煩躁，合併為一，從木拈出。）</p>

<h2>白頭翁湯</h2>
<p>治厥陰熱利，下重，脈沉弦，渴欲飲水者。</p>
<p>白頭翁（三兩）　黃連　黃柏　秦皮（各二兩）</p>
<p>上四味，水煎服。</p>
<p>柯韻伯曰：三陰俱有下利證。自利不渴者屬太陰，是臟有寒也；自利渴者屬少陰，以下焦虛寒，津液不升，故引水自救也；惟厥陰下利屬於熱，以厥陰主肝而司相火，肝旺則氣上撞心，火鬱則熱利下重，濕熱穢氣奔逼廣腸，魄門重滯而難出，《內經》云暴注下迫者是矣。脈沉為在裡，弦為肝脈，是木鬱之徵也；渴欲飲水，厥陰病則消渴也。白頭翁臨風偏靜，長於驅風，用為君者，以厥陰風木，風動則木搖而火旺，欲平走竅之火，必寧搖動之風；秦皮木小岑高，得清陽上升之象為臣，是木鬱達之，所以遂其發陳之性也；黃連瀉君火，可除上焦之渴，是苦以發之，黃柏瀉相火，可止下焦之利，是苦以堅之也。治厥陰熱利有二：初利用此方，以升陽散火，是謂下者舉之，寒因熱用法；久利則用烏梅丸之酸以收火，佐以苦寒，雜以溫補，是謂逆之從之，隨所利而行之，調其氣使之平也。</p>

<h2>四逆、通脈四逆湯</h2>

<h3>四逆湯</h3>
<p>治脈沉、厥逆等證。</p>
<p>甘草（二兩，炙）　乾薑（一兩）　附子（一枚，生）</p>
<p>上三味，以水三升，煮取一升二合，溫服。</p>

<h3>通脈四逆湯</h3>
<p>治少陰下利清穀，裡寒外熱，手足厥逆，脈微欲絕，身反不惡寒，其人面赤色，或腹痛，或乾嘔，或咽痛，或利止，脈不出者。厥陰下利清穀，裡寒外熱，汗出而厥者，亦主之。</p>
<p>乾薑（三兩，強人可四兩）　甘草（三兩，炙）　附子（一枚，生）</p>
<p>上三味，以水三升，煮取一升二合，溫服。</p>
<p>加減法：面赤色者，加蔥九莖；腹中痛者，去蔥，加芍藥二兩；嘔者，加生薑二兩；咽痛者，去芍藥，加桔梗一兩；利止脈不出者，去桔梗，加人參一兩。</p>
<p>王又原曰：仲景真武湯一方，於水中補火；四逆與通脈四逆二方，是於水中溫土。二方用藥無異，分兩不同，主治又別。所以然者，前方脈沉為陽氣不鼓，四逆為陽微不周，然真陽未盡亡也。君以炙草之甘溫，溫養微陽；臣以乾薑、附子之辛溫，通關節，走四肢。此因內陽微而外寒甚，故製為陽氣外達之劑。後方裡寒外熱，渾是腎中陰寒逼陽於外，故君以乾薑，樹幟中宮；臣以國老，主持中外；更以附子，大壯元陽，共招外熱返之於內。蓋此時生氣已離，存亡俄頃，若以柔緩之甘草為君，何能疾呼外陽？故易以乾薑，然必加甘草與乾薑等分者，恐喪亡之餘，薑、附子之猛，不能安養夫元氣，所謂有制之師也。陽微於裡，主以四逆；陽格於外，主以通脈。脈若內外俱寒，則又為附子湯證，而非二方所主矣。其加減法內，面色赤者加蔥，後人遂以蔥白為通脈四逆，不知陽亡於外，更用蔥以助其散，則氣從汗出，而陽無由內返也，豈不誤耶？蓋白通立名，因下利脈微，用蔥白以通上下之陽；此裡寒外熱，用通脈以通內外之陽，故主方不用蔥也。宜詳辨之。</p>

<h2>麻黃杏仁甘草石膏湯</h2>
<p>溫熱內發，表裡俱熱，頭痛，身疼，不惡寒反惡熱，無汗而喘，大煩，大渴，脈陰陽俱浮者，用此發汗而清火。若脈浮弱、沉緊、沉細，惡寒，惡風，汗出而不渴者，禁用。</p>
<p>麻黃（四兩）　杏仁（五十枚）　甘草（炙，二兩）　石膏（半斤）</p>
<p>上四味，煎服同麻黃湯法。</p>
<p>柯韻伯曰：石膏為清火之重劑，青龍、白虎皆賴以建功。然用之不當，適足以招禍，故青龍以惡寒、脈緊，用薑、桂以扶衛外之陽；白虎以汗後煩渴，用粳米以存胃脘之陽也。此但熱無寒，佐以薑、桂，則脈流急疾，斑黃狂亂作矣；加以粳米則食入於陰，長氣於陽，譫語、腹脹、蒸蒸發熱矣。亢則害者，承乃制；重在存陰者，不必慮其亡陽也。故於麻黃湯去桂枝之辛熱，取麻黃之開，杏仁之降，甘草之和，倍石膏之大寒，除內蓄之實熱，斯溱溱汗出，而內外之煩熱悉除矣。</p>
<p>程扶生曰：此治寒深入肺，發為喘熱也。汗既出矣，而喘是寒邪未盡。若身無大熱，則是熱壅於肺。故以麻黃散邪，石膏除熱，杏仁利肺，於青龍湯內減麻黃，去薑、桂，穩為發散除熱清肺之劑也。石膏去熱清肺，故肺熱亦可用。</p>

<h2>附子湯</h2>
<p>治少陰病，身痛，手足寒，骨節痛，口中和，惡寒，脈沉者。</p>
<p>附子（二枚，生）　人參（二兩）　白朮（四兩）　茯苓（三兩）　芍藥（三兩）</p>
<p>上五味，以水八升，煮取三升，去滓，分溫服一升，日三服。</p>
<p>柯韻伯曰：此仲景溫補之第一方，乃正治傷寒之法，為少陰固本御邪之劑也。夫傷則宜補，寒則宜溫，而近世治傷寒者，皆以寒涼克伐相授受。竟亡傷寒二字之名實矣。少陰為陰中之陰，又為寒水之臟，故傷寒之重者多入少陰，所以少陰一經，最多死證。方中用生附二枚者，取其力之銳，且以重其任也，益少火之陽，鼓腎間之動氣以御外侵之陰翳，則守邪之神有權，而呼吸之門有鎖矣，身痛自除，手足自溫。以人參為佐者，所以固生氣之原，令五臟六腑之有本，十二經脈之有根，脈自不沉矣。三陰以少陰為樞，設扶陽而不益陰，陰虛而陽無所附，非治法之盡善也，故用白朮以培太陰之土，芍藥以滋厥陰之木，茯苓以利少陰之水。水利則精自藏，而骨節自和矣；土安則水有所制，木調則水有所生，制生則化矣。扶陽以散寒，益陰以固本，此萬全之術。其畏而不敢用，束手待斃者，曷可勝計耶？此與麻黃附子湯，皆是治少陰表證，而有出入之不同。《內經》曰；心陰之陰，其入於經也，從陽部注於經；其出者，從陰內注於骨。發熱脈沉，無里證者，從陽部注經也；身體骨節痛，手足寒，脈沉者，從陰內注於骨也。從陽注經，是表熱裡寒病，從外來，故溫而兼散；從陰注骨，是表寒裡虛病，從內出，故溫而兼補。（注經，注骨二義，從前未發，緣未讀《內經》耳。）又與真武湯似同而實異。倍朮、附，去姜而用參，全是溫補以壯元陽；真武湯用生薑而無人參，尚是溫散以逐水氣。（真武湯、附子湯異同，由此而斷）。補散之分岐，只在一味之轉旋也，學者安得將仲景方草草看過！</p>

<h2>參胡三白湯</h2>
<p>治汗下後，虛微少氣，發熱，口燥。去柴胡，名人參三白湯。</p>
<p>人參　柴胡　白朮　白芍　白苓　姜　棗</p>
<p>柯韻伯曰：汗下后里氣既虛，當求之於三陰：而表熱復發，又當責之三陽。三陽以少陽為樞，其方以小柴胡；三陰以少陰為樞，其方以真武，法當參合為治。然此熱是少陽之虛，不得仍作火治，故於柴胡方中去黃芩；口燥而不嘔，故去半夏；少氣而僅去甘草者，欲其下達少陰也。於真武湯中不取附子，欲其上通少陽也；所藉惟人參，故用為君；佐白朮，以培太陰之母；白芍滋厥陰之血，茯苓清少陰之水，生薑助柴胡散表邪，大棗助人參補元氣。信為大病後調理之聖劑，至當而可法者也。若營衛不和，則去柴胡，用桂枝；口渴心煩，加麥冬、五味，輔人參生津止渴；心下痞，用黃連、枳實瀉心；不得臥，加竹茹泄太陰熱；如無表熱，並去柴胡，名人參三白湯，純乎調內矣。</p>

<h1>卷四</h1>

<h2>濟生腎氣丸</h2>
<p>治腎虛脾弱，腰重腳腫，小便不利，腹脹，喘急，痰盛，已成鼓症，其效如神。</p>
<p>熟地黃（四兩）　白茯苓（三兩）　牡丹皮　乾山藥　澤瀉　車前子　山茱萸　牛膝　肉桂（各一兩）　附子（五錢）</p>
<p>上十味，蜜和丸。每服八十丸，空心米飲下。</p>
<p>張景岳曰：水腫乃脾、肺、腎三臟之病。蓋水為至陰，故其本在腎；水化於氣，故其標在肺；水惟畏土，故其制在脾。肺虛則氣不化精而化水，脾虛則土不制水而水泛，腎虛則水無所主而妄行，以致肌肉浮腫，氣息喘急，病標上及脾、肺，病本皆歸於腎。蓋腎為胃之關，關不利，故聚水而不能出也。膀胱之津，由氣化而出。氣者，陽也。陽旺則氣化，而水即為精；陽衰則氣不化，而精即為水。水不能化，因氣之虛，豈非陰中無陽乎？故治腫者，必先治水；治水者，必先治氣。若氣不能化，水道所以不通，先天元氣虧於下，則後天胃氣失其本，由脾及肺，治節不行，此下為胕腫腹大，上為喘呼不得臥，而標本俱病也。惟下焦之真氣得行，始能傳化；真水得位，始能分清。必峻補命門，使氣復其元，則五臟皆安矣。故用地黃、山藥、丹皮以養陰中之真水；山茱、桂、附以化陰中之陽；茯苓、澤瀉、車前、牛膝以利陰中之滯。能使氣化於精，即所以治肺也；補火生上，即所以治脾也；壯水利竅，即所以治腎也。補而不滯，利而不伐，治水諸方，更無有出其右者。然當因此擴充，隨症加減。若其人因大病之後，脾氣大虛而病水脹者，服此雖無所礙，終不見效。余熟計之，元氣大傷，而藥兼滲利，未免減去補力，元氣不復，病必不除。遂悉去利水之劑，專用參、朮、桂、附，三大劑而足脛漸消，十餘劑而腹脹退。此後凡治中年之後，脾腎皆虛者，悉用此法。蓋氣虛者不可復行氣，腎虛者不可複利水，溫補即所以化氣，塞因塞用之妙，顧在用之者何如耳！古法治腫不用補劑，而用去水等藥，微則分利，甚則推逐。如五苓散、五淋散、五皮散、導水茯苓湯之類，皆所以利水也；如舟車神祐丸、浚川散、禹功散、十棗湯之類，皆所以逐水也。但察其果系實邪，則此等治法，仍不可廢。然溫補即所以化氣，氣化而愈者，出自天然；消伐所以逐邪，逐邪而頓愈者，由於勉強。今工所用，悉皆此類，早服晚通，去水斗許，腫脹頓消，索謝而去。不顧人之虛實，不慮人之生死，不數日而復脹，百無一生，可勝道哉！</p>

<h2>八味地黃丸</h2>
<p>治命門火衰不能生土，以致脾胃虛寒，飲食少思，大便不實，或下元衰憊，臍腹疼痛，夜多旋溺等症。</p>
<p>熟地黃（八兩，用真生懷慶，洗，浸一宿，柳木甑砂鍋上蒸半日，曬乾，如式九次為度，臨用搗膏）　乾山藥（四兩）　山茱萸（四兩）　牡丹皮　白茯苓　澤瀉（各三兩）　肉桂　附子（各一兩）</p>
<p>上八味為末，煉蜜丸如桐子大。酒下十五丸，日再服。</p>
<p>趙養葵曰：君子觀象於坎，而知腎中具水火之用。今人入房，而陽氣易舉者，陰虛火動也；陽事先痿者，命門火衰也。真水竭則隆冬不寒，真火熄則盛夏不熱。是方也，熟地、山藥、澤瀉、丹皮、茯苓、山萸皆濡潤之品，所以能壯水之主；肉桂、附子辛潤之物，能於水中補火，所以能益火之原。水火得其養，則腎氣復矣。</p>
<p>喻嘉言曰：《金匱》用八味丸治腳氣上入少腹不仁者。腳氣即陰氣，少腹不仁，即攻心之漸，故用之以驅逐陰邪也。其虛勞腰痛，少腹拘急，小便不利，則因過勞其腎，陰氣逆於少腹，阻遏膀胱之氣化，小便不能通利，故用之以收腎氣也。其短氣有微飲者，飲亦陰類，阻其胸中之陽，自致短氣，故用之引飲下出，以安胸中也。消渴病，飲水一斗，小便亦一斗，此腎氣不能攝水，小便恣出，源泉有立竭之勢，故急用以逆折其水也。夫腎水下趨之消，腎氣不上升之渴，非用此以蟄護封藏，蒸動水氣，舍此曷從治哉？後人謂八味丸為治消渴之聖藥，得其旨矣。</p>
<p>柯韻伯曰：命門之火，乃水中之陽。夫水體本靜，而川流不息者，氣之動，火之用也，非指有形者言也。然火少則生氣，火壯則食氣，故火不可亢，亦不可衰。所云火生土者，即腎家之少火，遊行其間，以息相吹耳。若命門火衰，少火幾於熄矣。欲暖脾胃之陽，必先溫命門之火。此腎氣丸納桂、附於滋陰劑中，是藏心於淵，美厥靈根也。命門有火，則腎有生氣矣。故不曰溫腎，而名腎氣，斯知腎以氣為主，腎得氣而土自生也。且形不足者溫之以氣，則脾胃因虛寒而致病者痼痊，即虛火不歸其部而失血亡陽者，亦納氣而歸封蟄之本矣。</p>
<p>崔氏加減八味丸，以五味之酸收，易附子之辛熱，腎虛而不甚寒者宜之也。《千金方》於八味外，更加玄參之鹹寒，以助熟地而滋腎，加芍藥之酸寒，助丹皮以滋肝，總之為桂、附加瑣耳。以之壯水則有餘，以之益陽恐不足也。《濟生方》加牛膝、車前以治水腫，倍茯苓以輔地黃，山藥、茱萸與澤、丹、車、牛等列，隨證加減，允為得法。益陰腎氣丸，於六味外，加當歸、五味、柴胡，以治目暗不見，化裁之妙矣。</p>

<h2>六味地黃丸</h2>
<p>主治腎精不足，虛火炎上，腰膝痿軟，骨熱痠疼，足跟痛，小便淋秘或不禁，遺精夢泄，水泛為痰，自汗盜汗，亡血，消渴，頭目眩暈，耳聾，齒搖，尺脈虛大者。</p>
<p>熟地黃（八兩）　山茱萸（四兩）　白茯苓　乾山藥（各四兩）　牡丹皮（三兩）　澤瀉（二兩）</p>
<p>上為末，煉蜜丸如桐子大，空心淡鹽湯下。</p>
<p>柯韻伯曰：腎虛不能藏精，坎宮之火無所附而妄行，下無以奉春生之令，上絕肺金之化源。地黃稟甘寒之性，制熟味更厚，是精不足者補之以味也，用以大滋腎陰，填精補髓，壯水之主。以澤瀉為使，世或惡其瀉腎而去之，不知一陰一陽者，天地之道；一開一闔者，動靜之機。精者，屬癸，陰水也，靜而不走，為腎之體；溺者，屬壬，陽水也，動而不居，為腎之用。（精識，精論！）是以腎主五液，若陰水不守，則真水不足，陽水不流，則邪水逆行。故君地黃以護封蟄之本，即佐澤瀉以疏水道之滯也。然腎虛不補其母，不導其上源，亦無以固封蟄之用。山藥涼補，以培癸水之上源；茯苓淡滲，以導壬水之上源；加以茱萸之酸溫，藉以收少陽之火，以滋厥陰之液；丹皮辛寒，以清少陰之火，還以奉少陽之氣也。滋化源，奉生氣，天癸居其所矣。壯水制火，制其一端耳！</p>

<h2>天王補心丹</h2>
<p>主治心血不足，神志不寧，津液枯竭，健忘，怔忡，大便不利，口舌生瘡等症。</p>
<p>人參　酸棗仁　當歸　生地黃　柏子仁　麥冬　天冬　遠志　五味子　白茯苓　丹參　玄參　桔梗</p>
<p>上為末，煉蜜丸如椒目大，白湯下。</p>
<p>柯韻伯曰：心者主火，而所以二者神也。神衰則火為患，故補心者必清其火而神始安。補心丹用生地黃為君者，取其下足少陰以滋水主，水盛可以伏火。此非補心之陽，補心之神耳。凡果核之有仁，猶心之有神也。清氣無如柏子仁，補血無如酸棗仁，其神存耳。參、苓之甘以補心氣，五味之酸以收心氣，二冬之寒以清氣分之火，心氣和而神自歸矣。當歸之甘以生心血，玄參之咸以補心血，丹參之寒以清血中之火，心血足而神自藏矣。更假桔梗為舟楫，遠志為嚮導，和諸藥入心而安神明。以此養生則壽，何有健忘、怔忡、津液乾涸、舌上生瘡、大便不利之虞哉？</p>

<h2>硃砂安神丸（東垣方）</h2>
<p>治心神昏亂，驚悸，怔忡，寤寐不安。</p>
<p>硃砂（另研）　黃連（各半兩）　生地黃（三錢）　當歸　甘草（各二錢）</p>
<p>上為細末，酒泡蒸餅丸如麻子大，硃砂為衣，每服三十丸，臥時津液下。</p>
<p>葉仲堅曰：經曰：神氣舍心，精神畢具。又曰：心者，生之本，神之舍也。且心為君主之官，主不明則精氣亂，神太勞則魂魄散，所以寤寐不安，淫邪發夢，輕則驚悸怔忡，重則癡妄癲狂耳！硃砂具光明之體，赤色通心，重能鎮怯，寒能勝熱，甘以生津，抑陰火之浮游，以養上焦之元氣，為安神之第一品；心苦熱，配黃連之苦寒，瀉心熱也，更佐甘草之甘以瀉之；心主血，用當歸之甘溫，歸心血也，更佐地黃之寒以補之。心血足，則肝得所藏而魂自安；心熱解，則肺得其職而形自正也。</p>

<h2>枳朮丸</h2>
<p>（東垣）</p>
<p>治胃虛，濕熱飲食壅滯，心下痞悶。</p>
<p>白朮（二兩，土蒸）　枳實（一兩，麩炒）</p>
<p>上為細末，荷葉煨陳米飯為丸如椒目大，白湯下。</p>
<p>東垣曰：白朮苦甘溫，其苦味除胃中之濕熱，其甘溫補脾家之元氣，多於枳實一倍；枳實味苦溫，泄心下痞悶，消胃中所傷。此藥下胃，所傷不能即去，須一二時許，食乃消化，先補虛而後化所傷，則不峻利矣。荷葉狀如仰盂，於卦為震，正少陽肝膽之氣，飲食入胃，營氣上行，即此氣也，取之以生胃氣。更以煨飯和藥，與術協力滋養穀氣而補脾胃，其力大矣。若用食藥下之，傳變諸症，不可勝數。</p>

<h2>附錄《金匱》枳朮湯</h2>
<p>治心下硬大如盤，邊如旋杯，水飲所作。</p>
<p>枳實（七枚）　白朮（二兩）</p>
<p>上二味，以水五升，煮取三升，分溫三服，腹中軟即散。</p>
<p>趙以德曰：心下，胃上脘也。胃氣弱，則所飲之水不消，痞結而堅，必強其胃，消其痞。白朮健脾強胃，枳實善消心下痞，逐停水，散滯血。</p>

<h2>磁朱丸</h2>
<p>（《千金方》）</p>
<p>治神水寬大漸散，皆如霧露中行，漸睹空中有黑花，睹物成二體，及內障，神水淡綠色、淡白色。又治耳鳴及聾。</p>
<p>磁石（二兩，煅）　辰砂（一兩）　神麯（生，三兩，更以一兩水和作餅煮浮，搜入前藥，煉蜜為丸）</p>
<p>每服十丸，加至三十丸，空心米湯下。</p>
<p>王又原曰：經曰：五臟六腑之精，皆上注於目。則目之能視者氣也，目之所以能視者精也。腎惟藏精，故神水發於腎；心為離照，故神光發於心。光發陽而外映，有陰精以為守，則不散而常明；水發陰而凝結，有陽氣以為布，則洞悉而不窮。惟心、腎有虧，致神水乾涸，神光短少，昏眊、內障諸證所由作也。磁石直入腎經，收散失之神，性能引鐵吸肺金之氣歸藏腎水。硃砂體陽而性陰，能納浮游之火而安神明。水能鑑，火能燭，水火相濟，而光華不四射與？然目受臟腑之精，精資於谷，神麯能消化五穀，則精易成矣。蓋神水散大，緩則不收，賴鎮墜之品疾收而吸引之，故為急救之劑也。其治耳鳴、耳聾等症，亦以鎮墜之功，能制虛陽之上奔耳。</p>
<p>柯韻伯曰：此丸治癲癇之聖劑。蓋狂癡是心、腎、脾三臟之病。心藏神，脾藏意與智，腎藏精與志。心者，神明之主也，主不明則十二官危，使道閉塞而不通，形乃大傷，即此謂也。然主何以不明也？心法離而屬火，真水藏其中。若天一之真水不足，地二之虛火妄行，所謂天氣者蔽塞，地氣者冒明，日月不明，邪害空竅，故目多妄見，而作此奇疾也。非金石之重劑以鎮之，狂必不止。硃砂稟南方之赤色，入通於心，能降無根之火而安神明。磁石稟北方之黑色，入通於腎，吸肺金之氣以生精，墜炎上之火以定志。二石體重而主降，性寒而滋陰，志同道合，奏功可立俟矣。神麯推陳致新，上交心神，下達腎志，以生意智。且食入於陰，長氣於陽，奪其食則已，此《內經》治狂法也，食消則意智明而精神治，是用神麯之旨乎！煉蜜和丸，又甘以緩之矣。</p>

<h2>四神、二神、五味子散</h2>

<h3>四神丸</h3>
<p>治脾腎雙虛，子後作瀉，不思食，不化食。</p>
<p>肉果（二兩）　破故紙（四兩，炒）　五味子（三兩）　吳茱萸（五錢，鹽湯泡過）</p>
<p>上為末，紅棗四十九枚，生薑四兩切，水煮棗熟，去姜，取棗肉，搗和藥丸桐子大，空心鹽湯下。</p>

<h3>二神丸</h3>
<p>去茱萸、五味。</p>

<h3>五味子散</h3>
<p>去肉豆蔻、破故紙。</p>
<p>程郊倩曰：命門無火，不能為中宮腐熟水穀，藏寒在腎，誰復司其閉藏？故木氣才萌，不疏泄而亦疏泄，雖是木邪乾土，實腎之脾胃虛也。此際補脾不如補腎，補骨脂有溫中暖下之能，五味子有酸收固澀之性，吳茱萸散邪補土，肉豆蔻澀滑益脾，暖腎而使氣蒸，破滯而使氣壯，補腎仍是補脾矣。</p>
<p>李士材曰：腎水受時於子，弱土不能禁制，故子後每瀉也。</p>
<p>柯韻伯曰：瀉利為腹疾，而腹為三陰之都會，一臟不調，便能瀉利。故三陰下利，仲景各為立方以主之。太陰有理中、四逆，厥陰有烏梅、白頭翁，少陰有桃花、真武、豬苓、豬膚、四逆湯散、白通、通脈等劑，可謂曲盡病情，諸法備美。（柯論更妙，不可廢也。）然只為一臟立法，若三臟相關，久留不痊，如子後作瀉一症，猶未之及也。夫雞鳴至平旦，天之陰，陰中之陽也。因陽氣當至而不至，虛邪得以留而不去，故作瀉於黎明。其由有四：一為脾虛不能制水，一為腎虛不能行水，故二神丸君補骨脂之辛燥者，入腎以制水，佐肉豆蔻之辛溫者，入脾以暖土，丸以棗肉，又辛甘發散為陽也；一為命門火衰不能生土，一為少陽氣虛無以發陳，故五味子散君五味子之酸溫，以收坎宮耗散之火，少火生氣以培土也，佐吳茱萸之辛溫，以順肝木欲散之勢，為水氣開滋生之路，以奉春生也。此四者，病因雖異，而見症則同，皆水亢為害。二神丸是承製之劑，五味散是化生之劑也。二方理不同而用則同，故可互用以助效，亦可合用以建功。合為四神丸，是制生之劑也。制生則化，久泄自瘳矣。稱曰四神，比理中、八味二丸較速與！</p>

<h2>滋腎丸</h2>
<p>治肺痿聲嘶，喉痹，咳血，煩躁。</p>
<p>黃柏（二兩，酒炒）　知母（二兩，酒浸，炒）　肉桂（一錢）</p>
<p>上為細末，熟水丸桐子大。每服五十丸，空心下。</p>
<p>羅東逸曰：此丸為腎家水竭火炎而設。夫水竭則腎涸，腎涸則下泉不鍾，而陽盛於上，斯喉痹、痰結、煩躁之證作；火炎則金傷，金傷則澤熯高原，無以蒸呴布漚，斯聲嘶、咳血、焦痿之證生。此時以六味補水，水不能遽生也；以生脈保金，金不免猶燥也。惟急用黃柏之苦以堅腎，則能殺龍家之沸火，是謂浚其源而安其流；繼用知母之清以涼肺，則能全破傷之燥金，是謂沛之雨而騰之露；然恐水火之不相入而相射也，故益以肉桂之反佐為用，兼以導龍歸海，於是坎盈窞而流漸長矣。此滋腎之旨也。</p>
<p>柯韻伯曰：水為腎之體，火為腎之用。人知腎中有水，始能制火；不知腎中有火，始能制水耳。蓋天一生水，一者，陽氣也，即火也。氣為水母，陽為陰根，必火有所歸，斯水有所主，故反佐以桂之甘溫，引知、柏入腎而奏其效。此相須之殷，亦承製之理也。</p>

<h2>虎潛丸</h2>
<p>治腎陰不足，筋骨痿軟，不能步履。</p>
<p>龜板　黃柏（各四兩）　知母　熟地（各二兩）　牛膝（三兩五錢）　芍藥（一兩五錢）　鎖陽　虎骨　當歸（各一兩）　陳皮（七錢五分）</p>
<p>上為末，煮羯羊肉，搗為丸桐子大，淡鹽湯下。</p>
<p>王又原曰：腎為作強之官，有精血以為之強也。若腎虛精枯，而血必隨之，精血交敗，濕熱風毒遂乘而襲焉，此不能步履、腰痠、筋縮之症作矣。且腎兼水火，火勝爍陰，濕熱相搏，筋骨不用宜也。方用黃柏清陰中之火，燥骨間之濕，且苦能堅腎，為治痿要藥，故以為君；虎骨去風毒，健筋骨，為臣；然高原之水不下，母虛而子亦虛，肝臟之血不歸，子病而母愈病，知母清肺原，歸、芍養肝血，使歸於腎，龜稟天地之陰獨厚，茹而不吐，使之坐鎮北方，更以熟地、牛膝、鎖陽、羊肉群隊補水之品，使精血交補；若陳皮者，疏血行氣，茲又有氣化血行之妙。其為筋骨壯盛，有力如虎也必矣。道經云：虎向水中生，以斯為潛之義焉。夫是以命之曰虎潛丸。</p>
<p>葉仲堅曰：痿原雖分五臟，然其本在腎，其標在肺。《內經》云：五臟因肺熱葉焦，發為痿躄。又曰：陽氣內伐，水不勝火，則骨痿髓虛，故足不任身。骨痿者，生於大熱也，若視為虛寒而投以桂、附，多致不救。是方以虎名者，虎於獸中稟金氣之至剛，風生一嘯，特為肺金取象焉；其潛之云者，金從水養，母隱子胎，故生金者必麗水，意在納氣歸腎也。（虎潛之義，發明妙極！）龜應北方之象，稟陰最厚，首常向腹，善通任脈，能大補真陰，深得夫潛之義者。黃柏味厚，為陰中之陰，專補腎、膀之陰不足，能使足膝中氣力湧出。故痿家必用二者為君，一以固本，一以治標，恐奇之不去則偶之也。熟地填少陰之精，用以佐龜板；知母清太陰之氣，用以佐黃柏；牛膝入肝筋，歸、芍佐之，肝血有歸；陳皮疏之，氣血以流，骨正筋柔矣。又慮熱則生風，逗留骨節，用虎骨所以驅之；純陰無陽，不能發生，佐鎖陽所以溫之。羊肉為丸，補之以味；淡鹽湯下，急於入腎。斯皆潛之為義。</p>

<h2>越鞠丸</h2>
<p>治臟腑一切痰、食、氣、血諸郁，為痛，為嘔，為脹，為利者。</p>
<p>香附　蒼朮　撫芎　山梔仁　神麯</p>
<p>水發丸，每服百丸。</p>
<p>季楚重曰：《內經》論木鬱達之五句，前聖治郁之法最詳。所謂郁者，清氣不升，濁氣不降也。然清濁升降，皆出肺氣，使太陰失治節之令，不惟生氣不升，收氣亦不降，上下不交而鬱成矣。故經云：太陰不收，肺氣焦滿。又云：諸氣憤郁，皆屬於肺。然肺氣之布，必由胃氣之輸；胃氣之運，必本三焦之化。甚至為痛，為嘔，為脹，為利，莫非胃氣不宣，三焦失職所致。方中君以香附快氣，調肺之怫鬱；臣以蒼朮開發，強胃而資生；神麯佐化水穀，梔子清郁導火，於以達肺騰胃而清三焦，尤妙撫芎之辛，直入肝膽以助妙用，則少陽之生氣上朝而營衛和，太陰之收氣下肅而精氣化。此丹溪因五郁之法而變通者也。然五郁之中，金、木尤甚。前人用逍遙散調肝之郁，兼清火滋陰；瀉白散清肺之郁，兼潤燥降逆。要以木鬱上衝即為火，金鬱斂澀即為燥也。如陰虛不知滋水，氣虛不知化液，是又不善用越鞠矣。</p>

<h2>封髓丹</h2>
<p>治夢遺失精，及與鬼交。</p>
<p>黃柏　砂仁　甘草</p>
<p>上蜜糊為丸，每服三錢。</p>
<p>趙羽皇曰：經云：腎者主水，受五臟六腑之精而藏之。又曰：腎者主蟄，封藏之本，精之處也。蓋腎為慳臟，多虛少實。因肝木為子，偏喜疏泄母氣，厥陰之火一動，精即隨之外溢。況肝又藏魂，神魂不攝，宜其夜臥鬼交、精泄之症作矣。封髓丹為固精之要藥。方用黃柏為君，以其味性苦寒，又能堅腎。腎職得堅，則陰水不虞其泛溢；寒能清肅，則龍火不至於奮揚。水火交攝，精有不安其位者乎？佐以甘草，以甘能緩急，瀉諸火與肝火之內煩，且能使水土合為一家，以妙封藏之固。若縮砂者，以其味辛性溫，善能入腎。腎之所惡在燥，而潤之者唯辛，縮砂通三焦、達津液，能納五臟六腑之精而歸於腎，腎家之氣內，腎中之髓自藏矣。此有取於封髓之意也。</p>

<h2>左金丸</h2>
<p>治肝臟火實，左脅作痛。</p>
<p>黃連（六兩，炒）　吳茱萸（一兩，湯泡）</p>
<p>上為末，作丸。</p>
<p>胡天錫曰：此瀉肝火之正劑。肝之治有數種：水衰而木無以生，地黃丸癸乙同源是也；土衰而木無以植，參苓甘草散緩肝培土是也；本經血虛有火，用逍遙散清火；血虛無水，用歸脾湯養陰。至於補火之法，亦下同乎腎；而瀉火之治，則上類乎心。左金丸獨用黃連為君，從實則瀉子之法，以直折其上炎之勢；吳茱萸從類相求，引熱下行，並以辛溫開其鬱結，懲其捍格，故以為佐。然必木氣實而土不虛者，庶可相宜。左金者，木從左，而制從金也。</p>

<h2>資生丸</h2>
<p>治婦人妊娠三月，脾虛嘔吐，或胎滑不固。兼丈夫調中養胃，飢能使飽，飽能使飢，神妙難述。</p>
<p>人參（三兩）　云術（三兩）　茯苓（二兩）　山藥（二兩）　薏苡仁（兩半）　蓮肉（二兩）　芡實（兩半）　甘草（一兩炙）　陳皮（二兩）　麥芽（二兩）　神麯（二兩）　白豆蔻（八錢）　桔梗（一兩）　藿香（一兩）　川黃連（四錢）　砂仁（一兩半）　扁豆（一兩半）　山楂（一兩半）</p>
<p>上十八味，為細末，煉蜜丸彈子大。每服二丸，米飲下。</p>
<p>羅東逸曰：此方始於繆仲醇，以治妊娠脾虛及滑胎。蓋胎資始於足少陰，資生於足陽明。故陽明為胎生之本，一有不足，則元氣不足以養胎，又不足以自養。故當三月，正陽明養胎之候，而見嘔逆，又其甚者，或三月，或五月而墮，此皆陽明氣虛不能固耳！古方安胎類用芎、歸，不知此正不免於滑。是方以參、朮、茯、草、蓮、芡、山藥、扁豆、薏苡之甘平，以補脾元；陳皮、曲、麥、砂、蔻、藿、桔之香辛，以調胃氣；其有濕熱，以黃連清之、燥之。既無參苓白朮散之滯，又無香砂枳朮丸之燥，能補能運，臻於致和，於以固胎，永無滑墮。丈夫服之，調中養胃。名之資生，信不虛矣。</p>

<h2>脾約丸</h2>
<p>治腸胃燥熱，大便秘結。</p>
<p>麻仁（二升）　杏仁（一斤）　枳實　厚朴　芍藥（各八兩）　大黃（一斤）</p>
<p>上為末，蜜丸，白湯下。</p>
<p>成無己曰：約者，約結之約，又約束也。經曰：飲入於胃，遊溢精氣，上輸於脾；脾氣散精，上歸於肺，通調水道，下輸膀胱；水精四布，五經並行。今胃強脾弱，約束津液，不得四布，但輸膀胱，小便數而大便硬，故曰脾約。麻仁甘平而潤，杏仁甘溫而潤，經曰脾欲緩，急食甘以緩之，本草曰潤可去結，是以麻仁為君，杏仁為臣。枳實苦寒，厚朴苦溫，破結者必以苦，故以為佐；芍藥酸寒，大黃苦寒，酸苦湧泄為陰，故以為使。丹溪曰：既云脾約，血枯火燔，金受邪而津竭，必竊脾之母氣以自救，金衰則土受邪，脾失轉輸，肺失傳化，理宜滋陰降火。金行清化，脾土健旺，津液既潤，何秘之有？此方惟熱甚而稟實者可用；熱雖甚而虛者，愈致燥涸之苦矣。</p>

<h2>更衣丸</h2>
<p>治津液不足，大便不通。</p>
<p>硃砂（五錢，研如飛面）　蘆薈（七錢，研細）</p>
<p>滴好酒少許，和丸。每服一錢二分，好酒下。</p>
<p>柯韻伯曰：胃為後天之本，不及痼病，太過亦病。然太過復有陽盛、陰虛之別焉。兩陽合明而胃家實，仲景制三承氣下之；水火不交而津液亡，前賢又制更衣丸以潤之。古人入廁必更衣，故為此丸立名。用藥之義，以重墜下達而奏功。硃砂色赤屬火，體重象金，味甘歸土，性寒類水，為丹祖汞母，能輸坎以填離，生水以濟火，是腎家之心藥也；配以蘆薈，黑色通腎，苦味入心，滋潤之質可轉濡胃燥，大寒之性能下開胃關，此陰中之陰，詢為腎家主劑矣。合以為丸，有水火既濟之理，水土合和之義。兩者相須，得效甚宏，奏功甚捷，真匪夷所思者。</p>

<h2>備急丸</h2>
<p>治寒氣、冷食稽留胃中，心腹痛，大便不通者。</p>
<p>大黃　乾薑（各一兩）　巴豆（一兩，去皮心，熬，研如脂）</p>
<p>先搗大黃、乾薑為末，納巴豆合搗千杵，和蜜丸如豆大，藏密器中勿泄氣，候用。每服三四丸，暖水或酒下。《金匱》主中惡，心腹脹滿，卒痛如錐刺，氣急口噤，如卒死者。捧頭起，灌令下咽，須臾當瘥；不瘥，更與三丸，當腹中鳴，即吐利，便瘥。若口噤者，亦須折齒灌之。</p>
<p>柯韻伯曰：大便不通，當分陽結、陰結。陽結有承氣、更衣之劑，陰結又製備急之方。《金匱》用此治中惡，當知寒邪卒中者宜之，若用於溫暑熱邪，速其死矣。是方允為陰結者立，乾薑散中焦寒邪，巴豆逐腸胃冷積，大黃通地道，又能解巴豆毒，是有制之師也，乃仿仲景白散而加峻者歟！白散治寒結在胸，故用桔梗佐巴豆，為吐、下兩解法；此寒結腸胃，故用大黃佐薑、巴，以直攻其寒。世徒知有溫補法，而不知有溫下之治，所以但講虛寒，不議及寒實也。</p>

<h2>當歸龍薈丸</h2>
<p>治肝經實火，大便秘結，小便澀滯，或胸膈作痛，陰囊腫脹。凡屬肝經實火，皆宜服之。</p>
<p>當歸　龍膽草　黃連　黃芩　梔子仁（各一兩）　大黃　蘆薈　青黛（各五錢）　木香（二錢五分）　麝香（五分，另研）</p>
<p>上為末，炒神麯糊丸。每服二十丸，薑湯下。</p>
<p>柯韻伯曰：肝為相火，有瀉無補。青黛稟東方之色，入通於肝，大寒之性，所以瀉其實火也。夫東實西虛，必瀉南補北，而金氣始行。故用梔子之赤色通心者，率膽草、芩、連以瀉火而除胸膈之痛；佐以蘆薈之黑色通腎者，以補水而利小便，以除陰囊之腫。凡木氣鬱者必剋土，此肝火亢則反能燥脾而實胃，故用神麯疏脾，大黃調胃，以通大便之秘結也。肝火旺則血虛，故君當歸；氣有餘便是火，故佐二香。丹溪云宜降氣，不宜降火，蓋為虛火言。此火實剋金，熱傷元氣，治節不行，允宜瀉火，從芩、連之例矣。夫氣藥燥熱，若不於大寒劑中用之，皆倒戈之輩。故必火降而氣始降，亦必氣降而火不復升，是知降氣降火，又兩相須也。</p>

<h2>四生丸</h2>
<p>治陽盛陰虛，血熱妄行，或吐或衄者。</p>
<p>生地黃　生柏葉　生荷葉　生艾葉（等分）</p>
<p>上四味，搗爛為丸如雞子大、每服一丸，滾湯化服。</p>
<p>柯韻伯曰：心腎不交，則五臟齊損；陰虛而陽無所附，則火炎上焦；陽盛則陽絡傷，故血上溢於口鼻也。凡草木之性，生者涼，而熟之則溫；熟者補，而生者瀉。四味皆清寒之品，盡取其生者，而搗爛為丸，所以全其水氣，不經火煮，更以遠於火令矣。生地多膏，清心腎而通血脈之源；柏葉西指，清肺金而調營衛之氣；艾葉芳香，入脾胃而和生血之司；荷葉法震，入肝家而和藏血之室。五臟安堵，則水火不相射，陰平陽秘，而血歸經矣。是方也，可暫用以遏妄行之熱血，如多用則傷營。蓋血得寒則瘀血不散，而新血不生也。設但知清火涼血，而不用歸脾、養營等劑以善其後，鮮有不綿連歲月而斃者。非立方之不善，妄用者之過耳！</p>

<h2>石斛夜光丸</h2>
<p>治神水寬大漸散，昏如霧露，空中有黑花，及睹物成二，神水淡綠、淡白色者。</p>
<p>天門冬（焙）　人參　茯苓（各二兩）　麥冬　熟地　生地（各一兩）　枸杞子　菟絲子　甘菊花　石斛　乾山藥　杏仁（各七錢）　肉蓯蓉　蒺藜　川芎　甘草（炙）　黃連　防風　青葙子　枳殼　羚羊角（鎊）　烏犀（鎊，各五錢）　牛膝（七錢五分）　草決明（八錢）</p>
<p>上為細末，煉蜜丸桐子大。每服三五十丸，溫酒、鹽湯下。</p>
<p>羅東逸曰：此方為陽衰陰弱，不能生精於目而設，故目科與《千金》磁朱丸並重，治證亦同。然磁朱為鎮墜藥，此為羨補藥。《針經》曰：五臟六腑精氣，皆上於目，而為之精。故夫目之精明者，陰陽合傳而為精明者也。若腎肝虛，則陰弱不能斂精以升養神水於內；脾肺虛，則陽衰不能攝陰而浮散神光於外，以致神水寬大，睹物成二。此其治法，其營在肝，其主在腎，其合在脾，能合腎、脾之陰而使肝達之，則必能歸精於兩眸，而繼明如晝夜矣。是方先補腎、肝，以二冬、二地、菟絲、枸杞、五味、牛膝、蓯蓉，群隊滋陰之品，以之強陰、填精、斂氣、安神、養血，此壯水之主，亦所以生木也；復以人參、炙草、茯苓、山藥培補中宮，使調合陰陽也；佐之以蒺藜、甘菊、川芎、枳殼、防風行肝達氣，青葙、決明子解結散滯，黃連、烏犀、羚角清火泄熱，然必取石斛之妙合脾腎者，清而行之，要使升精歸明之用，臟腑合德，專精緻一耳。其以為丸者，補上治下，利以緩，利以久，不利以速也。</p>

<h2>礞石滾痰丸</h2>
<p>治實熱老痰之峻劑，虛寒者不宜用。</p>
<p>黃芩　大黃（酒蒸，各八兩）　沉香（五錢，忌火）　礞石（一兩，焰硝煅過，陳久者佳，新煅者有火毒，不宜用）</p>
<p>上四味為細末，水丸川椒大，量人大小用之。用溫水一口送過咽，即便仰臥令藥徐徐而下，半日不可飲食，勿起身行動、言語，待藥氣自胃口漸下二腸，然後動作、飲食。服後喉間稠黏壅塞不行者，乃藥力相攻，故痰氣泛上也。少頃藥力到，自然寧貼。服之得法，效如響應。</p>
<p>柯韻伯曰：脾為生痰之原，肺為貯痰之器，此無稽之談也。夫脾為胃行其津液，以灌四旁，而水精又上輸於肺，焉得凝結而為痰？惟腎為胃關，關門不利，故水聚而泛為痰也，則當曰腎為生痰之原。經云：受谷者濁，受氣者清。清陽走五臟，濁陰歸六腑。肺為手太陰，獨受諸氣之清，而不受有形之濁，則何可貯痰？惟胃為水穀之海，萬物所歸，稍失轉味之職，則濕熱凝結為痰，依附胃中而不降，當曰胃為貯痰之器。（駁得是。此前人之濛濛，後學不知而信之，不加察者也。）斯義也，惟王隱君知之，故制老痰之方，不涉脾、肺，而責之胃、腎。二黃、礞石稟中央之黃色，入通中宮者也，黃芩能清理胃中無形之氣，大黃能滌盪胃中有形之質。然痰之為質，雖滑而黏，善棲泊於腸胃曲折之處，而為巢穴，不肯順流而下，仍得緣涯而升，故稱老痰。二黃以滋潤之品，只能直行而泄，欲使委曲而導之，非其所長也，故選金石以佐之；礞石之燥，可以除其濕之本，而其性之悍，可以迅掃其曲折依伏之處，使穢濁不得膩滯而少留，此滾痰之所由名乎！又慮夫關門不開，仍得為老痰之窠臼，沉香稟北方之色，能內氣歸腎，又能疏通腸胃之滯，腎氣流通，則水垢不留，而痰不再作；且使礞石不黏著於腸，二黃不傷及於胃，一舉而三善備，所以功效若神也。</p>

<h2>指迷茯苓丸</h2>
<p>治中焦停痰，伏飲。</p>
<p>半夏（制，二兩）　茯苓（一兩）　風化硝（二錢半）　枳殼（五錢）</p>
<p>上四味，薑汁糊為丸。</p>
<p>柯韻伯曰：痰飲之本，皆水也。水入於胃，遊溢精氣，上輸於脾，此自陽入陰也；脾氣散精，上歸於肺，此地氣上升也；通調水道，下輸膀胱，是天氣下降也；水精四布，五經並行，是水入於經，而血乃成也。若陰陽不和，清濁相干，胃氣亂於中，脾氣艱於升，肺氣滯於降，而痰飲隨作矣。痰與飲同源，而有陰陽之別。陽盛陰虛，則水氣凝而為痰；陰盛陽虛，則水氣溢而為飲。（痰飲之別清出。）除痰者，降氣清火，是治其標；補陰利水，是治其本也。滌飲者，降氣燥濕，是治其標；溫腎利水，是治其本也。此方欲兼兩者而合治之，半夏燥濕，茯苓滲濕，風硝軟堅，枳殼利氣，別於二陳之甘緩，遠於礞石之峻悍，亦平胃之劑耳！</p>

<h2>大黃䗪蟲丸</h2>
<p>治五勞七傷，內有乾血，肌膚甲錯，兩目黯黑。</p>
<p>大黃（十兩，酒蒸）　黃芩（二兩，炒）　甘草（三兩）　桃仁（去皮尖，炒）　杏仁（去皮尖，炒）　芍藥（各四兩，炒）　地黃（十兩）　乾漆（一兩，炒）　虻蟲（一兩五錢，去翅足，炒）　水蛭（百枚，炙黃）　蠐螬（一兩半，炒）　䗪蟲（一兩，去頭足，炒）</p>
<p>上十二味，為末，蜜丸如小豆大，酒服五丸，日三服。</p>
<p>李士材曰：勞傷之症，未有無瘀血者也。瘀之日久，則發為熱；熱涸其液，則干黏於經絡之間；愈干愈熱，愈熱愈干，而新血皆損。人之克養百骸，光華潤澤者，止藉此血。血傷則無以沃其膚，故甲錯也；目得血而能視，營氣不貫於空竅，故黑黯也。仲景洞見此症，補之不可，涼之無益，而立此方。經曰血主濡之，故以地黃為君；堅者削之，故以大黃為臣；統血者脾也，脾欲緩，急食甘以緩之，又酸苦湧泄為陰，故以甘、芍、桃、杏為佐；咸走血，苦勝血，故以乾漆之苦，四蟲之咸為使。吳氏曰：濁陰不降，則清陽不升；瘀血不去，則新血不生。今人遇一勞症，便用滋陰，服而不效，坐以待斃，術豈止此耶！</p>

<h2>烏梅丸</h2>
<p>治厥陰病消渴，氣上撞心，心中疼熱，飢而不欲食，食即吐蛔。又主久利。</p>
<p>烏梅（三百枚）　黃連（一斤）　細辛　附子（炮）　人參　桂枝　黃柏（各六兩）　乾薑（十兩）　當歸　蜀椒（各四兩）　</p>
<p>上十味，異搗篩，合治之，以苦酒漬烏梅一宿，去核，蒸之五升米下，飯熟，搗成泥，和藥令相得，納臼中與蜜杵二千下，丸如桐子大。先食飲服十丸，日三服，稍加至一二十丸。禁生冷、滑物、臭食。</p>
<p>柯韻伯曰：六經惟厥陰為難治。其本陰，其標熱，其體木，其用火。必伏其所主而先其所因，或收，或散，或逆，或從，隨所利而行之，調其中氣，使之和平，是治厥陰法也。（治厥陰大法。）厥陰當兩陰交盡，又名陰之絕陽，宜無熱矣。第其具合晦朔之理，陰之初盡，即陽之初生，所以一陽為紀，一陰為獨使，則厥陰病熱，是少陽使然也。火旺則水虧，故消渴；氣上撞心，心中疼熱，氣有餘便是火也；木盛則剋土，故飢不欲食；蟲為風化，飢則胃中空虛，蛔聞食臭出，故吐蛔。（敘厥陰症明晰。）仲景立方，皆以辛甘苦味為君，不用酸收之品；而此用之者，以厥陰主肝木耳！《洪範》曰：木曰曲直作酸。《內經》曰：木生酸，酸入肝。君烏梅之大酸，是伏其所主也；配黃連瀉心而除疼，佐黃柏滋腎以除渴，先其所因也；腎者肝之母，椒、附以溫腎，則火有所歸，而肝得所養，是固其本；肝欲散，細辛、乾薑辛以散之；肝藏血，桂枝、當歸引血歸經也；寒熱雜用，則氣味不和，佐以人參調其中氣；以苦酒漬烏梅，同氣相求；蒸之米下，資其穀氣；加蜜為丸，少與而漸加之，緩則治其本也。蛔，昆蟲也，生冷之物與濕熱之氣相成，故藥亦寒熱互用，且胸中煩而吐蛔，則連、柏是寒因熱用也。蛔得酸則靜，得辛則伏，得苦則下，信為化蟲佳劑。久利則虛，調其寒熱，酸以收之，下利自止。</p>

<h2>平胃散</h2>
<p>治濕淫於內，脾胃不能剋制，有積飲痞膈中滿者。</p>
<p>蒼朮（五斤，泔浸七日）　陳皮（去白）　厚朴（各三斤，薑汁炙）　甘草（三十兩，炙）</p>
<p>上為末，每服三錢，薑湯下，日三服。又水煎，每服七錢。</p>
<p>柯韻伯曰：《內經》以土運太過曰敦阜，其病腹滿；不及曰卑監，其病留滿痞塞。張仲景制三承氣湯，調胃土之敦阜；李東垣制平胃散，平胃土之卑監也。培其卑者而使之平，非削平之謂，猶溫膽湯，用涼劑而使之溫，非用溫之謂。後之注本草者，曰敦阜之土，宜蒼朮以平之；卑監之土，宜白朮以培之。若以濕土為敦阜，將以燥土為卑監耶？不審敦阜、卑監之義，因不知平胃之理矣。二術苦甘，皆燥濕健脾之用，脾燥則不滯，所以能健運而得其平。第二術白者柔而緩，蒼者猛而悍，此取其長於發汗，迅於除濕，故以蒼朮為君耳。不得以白補、赤瀉之說，為二術拘也。厚朴色赤苦溫，能助少火以生氣，故以為佐；濕因於氣之不行，氣行則愈，故更以陳皮佐之。甘先入脾，脾得補而健運，故以炙甘草為使。名曰平胃，實調脾承氣之劑與！夫潔古取《金匱》之枳朮湯以為丸，枳實之峻，重於厚朴，且無甘草以和之，雖倍白朮，而消伐過於此方。昧者以術為補，為當久服，不思枳實為峻而不宜多，特未之思耳。</p>

<h2>瓜蒂散</h2>
<p>邪結胸中，胸中痞硬，寸脈微浮，氣上衝咽喉不得息；或心下滿而煩，飢不能食，手足厥冷，脈乍緊者；或飲食入口即吐，心中溫溫欲吐，復不能吐，始得之，手足寒，脈弦遲者，皆宜用此吐之。亡血、虛家，不可與也。</p>
<p>瓜蒂　赤小豆（熬黃，各一合）　香豉（一合）</p>
<p>上二味，別搗為散，取一錢，用香豉一合，熱湯七合，煮作稀糜，去滓，取汁，和散溫服之。不吐者，少少加，得快吐乃止。</p>
<p>柯韻伯曰：胸中者，清虛之府。寒邪凝結，內熱不得外達，以至痞硬。其氣上衝，心下煩，心中溫者，熱鬱也。脈微浮，或弦遲，或乍緊，手足寒，飲食入口即吐者，寒束也。咽喉不得息，心下滿，飢不能食，欲吐不能吐者，寒格而熱不得越也。（辨症精晰。）肺氣不得降，胃陽不得升，諒非汗、下之法所能治，必得酸苦湧泄之品，因而越之，上焦得通，中氣得達，肺家之治節行，胸中之陽氣復，痞硬可得而消耳。瓜蒂色青，象東方甲木之化，得春升生髮之機，能提胃中陽氣，除胸中實邪，為吐劑中第一品，然必得穀氣以和之。赤豆形色象心，甘酸以保心氣。香豉形色象腎，性本沉重，黴熟而使輕浮，能使腎家之清氣交於心，胸中之濁氣出於口，作為稀糜，調服二散，雖快吐而不傷神，奏功之捷，勝於汗，下，此所以三法鼎立耳。今人不知岐伯、仲景之精義，置之不用，汗之、下之，變證蜂起，可勝悼哉！</p>

<h2>天水散</h2>
<p>（一名益元散，一名六一散）</p>
<p>治夏時中暑，熱傷元氣，內外俱熱，無氣以動，煩渴欲飲，腸胃枯涸者。又能催生下乳。積聚，水蓄，裡急後重，暴注下迫者，宜之。</p>
<p>桂府滑石（六兩，水飛）　甘草（一兩）　辰砂（三錢）</p>
<p>上為細末，新汲水一碗，調服三錢。</p>
<p>柯韻伯曰：元氣虛而不支者死，邪氣盛而無制者亦死。今熱傷元氣，無氣以動，斯時用參、耆以補氣，則邪愈甚；用芩、連以清熱，則氣更傷。惟善攻熱者，不使喪人元氣；善補虛者，不使助人邪氣。必得氣味純粹之品以主之。滑石稟土中衝和之氣，行西方清肅之令，秉秋金堅重之形，寒能勝熱，甘不傷脾，含天乙之精，而具流走之性，異於石膏之凝滯，能上清水原，下通水道，盪滌六腑之邪熱，從小便而泄矣。甘草稟草中衝和之性，調和內外，止渴生津，用以為佐，保元氣而瀉虛火，則五臟自和矣。然心為五臟主，暑熱擾中，神明不安，必得硃砂以鎮之，則神氣可以遽復。涼水以滋之，則邪熱可以急除。此補心之陽，寒亦通行也。至於熱利初起，裡急後重者宜之，以滑可去著也。</p>
<p>催生下乳，積聚、蓄水等症，同乎此義，故兼治之。是方也，益氣而不助邪，逐邪而不傷氣，不負益元之名矣。宜與白虎、生脈三方鼎足可也。</p>

<h2>阿膠散</h2>
<p>治肺虛有火，嗽無津液，咳而哽氣者。</p>
<p>真阿膠（一兩半）　牛蒡子（二錢半，炒）　馬兜鈴（五錢，焙炙）　甘草（五錢　）　杏仁（七錢）　糯米（一合）</p>
<p>上為細末，每服兩許，水煎服。</p>
<p>程郊倩曰：痰帶紅線，嗽有血點，日漸成痿。緣肺處臟之最高，葉間布有細竅，氣從此出入，呼吸成液，灌溉周身，所謂水出高原也。一受火炎，吸時徒引火升，呼時並無液出，久則肺竅俱閉，喉間或癢或瘡，六葉遂日焦枯矣。今用阿膠為君者，消竅瘀也；用杏仁、大力子者，宣竅道也；用馬兜鈴者，清竅熱也；糯米以補脾，母氣到，肺自輕清無礙矣。</p>

<h2>玉屏風散</h2>
<p>治風邪久留而不散者，自汗不止者亦宜。</p>
<p>防風　黃耆　白朮（等分）</p>
<p>上為細末，酒調服。</p>
<p>柯韻伯曰：邪之所湊，其氣必虛。故治風者，不患無以驅之，而患無以御之；不畏風之不去，而畏風之復來。何則？發散太過，玄府不閉故也。昧者不知托裡固表之法，遍試風藥以驅之，去者自去，來者自來，邪氣留連，終無解期矣。防風遍行周身，稱治風之仙藥，上清頭目七竅，內除骨節疼痹，外解四肢攣急，為風藥中之潤劑，治風獨取此味，任重功專矣。然衛氣者，所以溫分肉而充皮膚，肥腠理而司開闔，惟黃耆能補三焦而實衛，為玄府御風之關鍵，且有汗能發，無汗能止，功同桂枝，故又能除頭目風熱，大風癩疾，腸風下血，婦人子臟風，是補劑中之風藥也，所以防風得黃耆，其功愈大耳！白朮健脾胃，溫分肉，培土即以寧風也。夫以防風之善驅風，得黃耆以固表，則外有所衛；得白朮以固里，則內有所據，風邪去而不復來。此欲散風邪者，當倚如屏，珍如玉也。其自汗不止者，亦以微邪在表，皮毛肌肉之不固耳。其與防風通聖等方懸殊矣。</p>

<h2>五淋散</h2>
<p>治膀胱有熱，水道不通，淋澀不出，或尿如豆汁，或成砂石，或如膏汁，或熱怫便血。</p>
<p>赤茯苓（一錢五分）　赤芍藥　山梔仁（各一錢）　當歸　細甘草（各一錢二分）</p>
<p>上五味，加燈心，水煎服。</p>
<p>柯韻伯曰：經曰腎合膀胱，故腎為水臟，而膀胱為水腑。腎主癸水，受五臟六腑之精而藏之；膀胱主壬水，受五臟六腑之津而藏之，故膀胱者州都之官，津液藏焉。然又曰氣化則能出者，何也？膀胱有上口而無下口，能納而不能出，唯氣為水母，必太陽之氣化，而膀胱之溺始出，是水道固藉無形之氣化，不專責有形之州都矣。然水者陰也，氣者陽也。氣為陽之根源，而火為陽之徵兆，所以氣有餘，便成壯火而為邪熱。壯火上行三焦，則傷太陽之氣；邪熱下入膀胱，則涸州都之津。火勝則水虧，理固然也。夫五臟之水火皆生於氣，故少火生氣，而氣即為水，水精四布，下輸膀胱，源清則流潔矣。如壯火食氣，則化源無藉，乃癃閉淋澀，膏淋豆汁，砂石膿血，而水道為之不利矣。總由化源之不清，非關決瀆之失職，若以八正、舟車、禹功、浚川等劑治之，五臟之陰虛，太陽之氣化絕矣。故急用梔、苓治心肺，以通上焦之氣，而五志火清；歸、芍滋腎肝，以安下焦之氣，而五臟陰復；甘草調中焦之氣，而陰陽分清，則太陽之氣自化，而膀胱水潔矣。此治本之計，法之盡善者也。</p>

<h2>失笑散</h2>
<p>治產後心腹絞痛欲死，或血迷心竅，不省人事。</p>
<p>五靈脂　蒲黃（等分）</p>
<p>每服三錢，酒煎服。</p>

<h2>獨聖散（附）</h2>
<p>山楂肉（二兩）</p>
<p>水煎，用童便、砂糖和服。</p>
<p>吳於宣曰：經云心主血，脾統血，肝藏血，故產後瘀血停滯，三經皆受其病，以致心腹疼痛，惡寒發熱，神迷眩暈，胸膈滿悶。凡茲者，由寒凝不消散，氣滯不流行，惡露停留，小腹結痛，迷悶欲絕，非純用甘溫破血行血之劑，不能攻逐蕩平也。是方用靈脂之甘溫走肝，生用則行血；蒲黃甘平入肝，生用則破血；佐酒煎以行其力，庶可直抉厥陰之滯，而有其推陳致新之功。甘不傷脾，辛能逐瘀，不覺諸證悉除，直可以一笑而置之矣。至獨聖散用山楂一味濃煎，與砂糖、童便同服者何也？山楂不惟消食健脾，性能破瘀積瘕癖，可立止兒枕作疼，更益以砂糖味甘入脾，能逐惡、暖中而不傷脾；童便涼下而不傷氣，以佐山楂，則脾氣得宜，山楂之功用益力，其效益偉。名之曰獨聖，不虛也。</p>

<h2>清胃散</h2>
<p>治胃經濕熱，牙齒牙根腫痛，或牽引頭腦，或面發熱。</p>
<p>生地黃　當歸　川黃連　升麻　牡丹皮</p>
<p>水煎服。</p>
<p>羅東逸曰：陽明胃多氣多血，又兩陽合明為熱盛，是以邪入而為病常實。若大渴、舌苔、煩躁，此傷氣分，熱炙大腑，燥其津液，白虎湯主之。若醇飲肥厚，炙爆過用，以致熱壅大腑，逆於經絡，濕熱不宣，此傷血分，治宜清胃。方中以生地涼血為君，行之牡丹皮，去蒸而疏其滯；以黃連徹熱燥濕為臣，和之以當歸，辛散而循其經；仍用升麻之辛涼升舉，以騰本經之清氣，即所謂升清降濁，火鬱發之者也。如是而喉咽不清，齒齦腫痛等症，廓然俱清矣。</p>

<h2>龜鹿二仙膠</h2>
<p>大補精髓，益氣養神。</p>
<p>鹿角（血者，十斤）　龜板（自敗者，五斤）　枸杞子（甘州者，二十兩）　人參（十五兩）</p>
<p>上用鉛壇如法熬膠。初服酒化一錢五分，漸加至三錢，空心下。</p>
<p>李士材曰：人有三奇，精、氣、神，生生之本也。精傷無以生氣，氣傷無以生神。精不足者，補之以味。鹿得天地之陽氣最全，善通督脈，足於精者，故能多淫而壽，龜得天地之陰氣最厚，善通任脈，足於氣者，故能伏息而壽。二物氣血之屬，又得造化之玄微，異類有情，竹破竹補之法也。人參為陽，補氣中之怯；枸杞為陰，清神中之火。是方也，一陰一陽，無偏勝之憂；入氣入血，有和平之美。由是精生而氣旺，氣旺而神昌，庶幾龜鹿之年矣，故曰二仙。</p>

<h2>瓊玉膏</h2>
<p>治虛勞乾咳。</p>
<p>生地黃（四斤）　白茯苓（十二兩）　白蜜（二斤）　人參（六兩）</p>
<p>上以地黃汁同蜜熬沸，用絹濾過，將參、茯為細末，入前汁和勻，以瓷瓶用棉紙十數層，加箬封瓶口，入砂鍋內，以長流水煮沒瓶頸，桑柴火煮三晝夜，取出，換紙札口，以蠟封固，懸井中一日，取起，仍煮半日，白湯點服。</p>
<p>李士材曰：乾咳者，有聲無痰，火來乘金，金極而鳴也。此本元之病，非悠遊漸漬，難責成功。若誤用苦寒，只傷脾土，金反無母。故丹溪以地黃為君，令水盛則火自息；又損其肺者益其氣，故用人參以鼓生髮之元；虛則補其母，故用茯苓以培萬物之本；白蜜為白花之精，味甘歸脾，性潤悅肺，且緩燥急之火。四者皆溫良和厚之品，誠堪寶重。郭機曰：起吾沉瘵，珍賽瓊瑤。故有瓊玉之名。</p>

<h2>附補方藥雜論十七條</h2>
<p>張景岳曰：沽古枳朮丸，以白朮為君，脾得燥而能健，佐以枳實，其味苦峻，有推牆倒壁之功。此寓攻於守之劑，唯脾氣不清而滯勝者宜之。若脾氣已虛，非所宜也。今以為補脾之藥，及小兒瘦弱，制令常服，適足傷其氣，助其瘦耳！</p>
<p>東垣平胃散，欲治其不平也。本為胃強邪實者設，故性味從辛燥從苦，而能消散，唯有滯有濕有積者宜之，若以為健脾而常服，其誤甚矣。</p>
<p>補中益氣一湯，允為東垣獨得之心法。本方以升、柴助升氣，以參、朮、歸、耆助陽氣，此意誠盡善矣。然補陽之義，亦有宜否。如治勞倦內傷發熱，為助陽也，非發汗也。然有不散而散之意，故於勞倦感寒，或陽虛痎瘧，及脾氣下陷等症最宜。若全無表邪寒熱，而中氣虧甚者，則升、柴大非所宜。蓋升、柴之味兼苦寒，升柴之性兼疏散，唯有邪者，可因升而散之，若無邪大虛者，即純用培補，猶恐不及，再兼疏散，安望成功？凡補陽之劑，無不能升，正以陽主升也。寇宗奭極言五勞七傷，大忌柴胡，而李時珍以為不然。要之能散者，斷不能聚；能泄者，斷不能補；性味苦寒者，斷無扶陽之物。故表不固而汗不斂者，不可用；外無表邪，而陰虛發熱者，不可用；陽氣無根，而格陽戴陽者，不可用；脾肺虛甚，而氣促似喘者，不可用；命門火衰，而虛寒泄瀉者，不可用；水虧火旺，而衄血吐血者，不可用；四肢厥，而陽虛欲脫者，不可用。總之，元氣虛極者不可泄，陰陽下竭者不可升。人但知補中益氣可以補虛，不知幾微關係，判於舉指之間，纖微不可紊，誤者正此類也。</p>
<p>神麯、麥芽，雖助戊土以腐熟水穀，然麥芽一味，治婦人喪子，乳房脹痛欲成癰者，用一二兩炒熟，煎服即消，其破血散氣可知矣。又《婦人良方》云：神麯善下胎，皆克伐之功多，而補益少，不宜輕用。</p>
<p>喻嘉言曰：連、芩、柴、芍、知母，皆苦寒之劑，能瀉有餘之火耳！若飲食勞倦，內傷元氣，為陽虛之病，以甘溫之劑除之，如黃耆、人參、甘草之屬。若陰微陽強，相火熾盛，以乘陰位，日漸煎熬，為血虛之病，以甘平之劑降之，如當歸、地黃之屬。若心火亢極，鬱熱內實，為陽強之病，以鹹冷之劑折之，如大黃、朴硝之屬。若腎水受傷，真陰失守，無根之火，為陰虛之病，以壯水之劑濟之，如生地、玄參之屬。若命門火衰，為陽脫之病，以溫熱之劑固之，如附子、乾薑之屬。若胃虛過食冷物，抑遏陽氣於脾土，為火鬱之病，以升陽之劑發之，如升麻、葛根之屬。不明治法，以求施治，何所據依耶？</p>
<p>今人見煩熱、枯燥等症，不敢用附子者，惡其以熱助熱也。孰知不藏精之人，腎中陽氣不鼓，精液不得上升，故枯燥外見，必於補陰劑中用附子助陽，則陰氣上交於陽位，如釜底加薪，則釜中氣水上騰，而潤澤有立至者。黑鉛一味，乃水之精，入北方壬癸。凡遇陰火逆沖，真陽暴脫，氣喘痰鳴之急症，同桂、附回陽等藥用之，立見奇功，即經云重劑是也。</p>
<p>虞天民曰：血不歸原，責之胃，寒涼屢用不效，唯炙甘草、炮姜輩，引血歸原妙。</p>
<p>失血後大熱大渴，症似白虎，惟脈虛大不長實為異，誤服寒涼必死，當歸補血湯主之。</p>
<p>趙羽皇曰：參者參也，與元氣為參贊者也。不特氣虛宜用，即血虛亦宜用；內傷宜用，外感亦宜用。蓋煩渴由乎火邪，得人參而陰津自長；腫脹本乎氣壅，得人參而痞悶全消。以至食不欲入，食入反脹，或胃反噎膈，泄利亡陰，灑淅惡寒，多汗漏風等症，無不賴人參之大力，作元氣之藩籬。而妄謂肺熱傷肺，參能作飽，不知肺金之冤熱，非參莫救，脾虛之中滿，非參與術，何由健運？此所以功魁群草也。附子一味，有斬關奪門之勇，引補氣藥行十二經，以追散失之元陽；引補血藥入血分，蒸動不足之真陰；引發散藥開腠理，以驅在表之風寒；引溫藥達下焦，以逐在裡之冷濕，其用亦宏矣。正治人所易曉，其最妙能以熱攻熱，如胃陽發露，口爛舌糜，腎陽發露，面赤吐紅，用之頃刻神清熱退，唯其能返本回陽也，世人豈識之哉！柯韻伯曰：仲景備十劑之法，輕可散實，麻黃、葛根諸湯是也；宣可決壅，梔豉、瓜蒂之方是也；通可去滯，五苓、十棗之屬是也；泄可去閉，陷胸、承氣、抵擋是也；滑可去著，膽導、蜜煎是也；澀可固脫，赤石脂、桃花湯是也；補可扶弱，附子湯、理中丸是也；重可鎮怯，禹餘糧、代赭石湯是也；濕可潤燥，黃連阿膠湯是也；燥可去濕，麻黃連翹赤小豆湯是也；寒能勝熱，白虎湯、黃連瀉心湯是也；熱可制寒，白通、四逆諸方是也。</p>
<p>看仲景加減法，當細審其深意。如腹中痛者，少陽加芍藥，少陰加附子，太陰加人參。若心下悸者，少陰加桂枝，少陽加茯苓。若渴者，少陽加栝蔞根、人參，太陰加白朮。仲景於加減中分陰陽表裡如此。故熟仲景方，始知仲景立方之妙；理會仲景法，才知仲景用藥取捨之精。</p>
<p>仲景立方，精而不雜。其中以六方為主，諸方皆從而加減焉。凡汗劑皆本桂枝，吐劑皆本梔豉，攻劑皆本承氣，和劑皆本柴胡，寒劑皆本瀉心，溫劑皆本四逆。渾而數之，為一百一十三方者，未之審耳！</p>
<p>小柴胡方，為半表而設，而其證皆屬於里。蓋表證既去其半，則病機偏於向里矣。惟往來寒熱一證，尚為表邪未去，故獨以柴胡一物主之，其他悉用里藥。凡里證多陰、多寒、多虛，而少陽之裡，偏於陽，偏於熱，有虛有實，而不盡屬於虛也。然仲景又深以裡虛為患，故於半表未解時，便用人參以固里。</p>
<p>桂枝本為太陽風寒設，可以散六經初感之邪；柴胡本為少陽半表設，更可以調三陽半表之證。蓋桂枝湯是調和營衛之劑，柴胡湯是調和腠理之劑。凡風寒襲人，不在營衛，即入腠理，所以仲景一書，最重二方。</p>
<p>脾為至陰，居中宮而撫四肢，最畏寒邪為患，故仲景制理中、四逆二方。理中者，理中焦，為腹痛、吐利而設。若手足逆冷，下利清穀，是太陰本病。觀四逆證上不稱厥陰、少陰，有此證者，必見面赤，故以通脈加之，則四逆本為太陰，立可知也。然他經有此陰寒者，可通用之。用於太陰本經，是固本以逐邪也；用於少陰，溫土以制水也；用於厥陰，和水土以生木也；用於太陽，益火以扶元陽也。惟陽明胃實，少陽相火，非所宜耳。</p>
<p>腎主五液，入心為汗，少陰受病，液不上升，所以陰不得有汗。仲景治少陰之表，於麻黃、細辛中加附子，是升腎液也。若少陰無主，水火不和，真陰為邪所逼，則水隨火越，故反汗出。仲景治少陰之裡，附子湯中任人參，是補腎液也。</p>

<h1>補遺</h1>

<h2>參蘇飲</h2>
<p>（《局方》）</p>
<p>治感冒風寒，咳嗽吐痰，涕唾稠黏，胸膈滿悶，寒熱往來，或頭痛惡寒，脈弱無汗。</p>
<p>人參　蘇葉　乾葛　前胡　陳皮　枳殼　茯苓　半夏（各八分）　桔梗　木香　甘草（各五分）　生薑（五片）　大棗（一枚）</p>
<p>上水煎，熱服取汗。</p>
<p>葉仲堅曰：此少陽中風，而寒濕內著之證也。仲景於表劑不用人參，惟少陽寒熱往來，雖有口苦、咽乾、目眩之相火，亦用人參以固中氣。此咳嗽聲重，痰涎稠黏，涕唾交流，五液無主，寒濕稽留於胸脅，中氣不固可知矣，故以人參為君；然非風寒之外邪來侮，則寒熱不發，而痰涎不遽生，故輔以紫蘇、乾葛；凡正氣虛者，邪氣必盛，故胸膈滿悶，輔以陳皮、枳殼，少佐木香以降之；痰涎壅盛於心下，非辛燥不除，故用茯苓、半夏，少佐桔梗以開之；病高者宜下，故不取柴胡之升，而任前胡之降；欲解表者，必調和營衛，欲清內者，必顧及中宮，此薑、棗、甘草之所必須也。名之曰飲，見少與緩服之義。本方去人參、前胡，加川芎、柴胡，即芎蘇散，則治頭痛、發熱、惡寒、無汗之表劑矣。</p>

<h2>香薷飲</h2>
<p>（《局方》）</p>
<p>治暑月乘涼飲冷，陽氣為陰邪所遏，頭痛，發熱，惡寒，煩躁，口渴，腹痛，吐瀉者。</p>
<p>香薷　厚朴　白扁豆（炒）</p>
<p>水煎，浸冷服。</p>
<p>葉仲堅曰：飲與湯稍有別，服有定數者名湯，時時不拘者名飲。飲因渴而設，用之於溫暑，則最宜者也。然胃惡燥，脾惡濕，多飲傷脾，反致下利。治之之法，心下有水氣者發汗，腹中有水氣者利小便。然與其有水患而治之，曷若先選其能汗、能利者用之乎？香薷芳香辛溫，能發越陽氣，有徹上徹下之功，故治暑者，君之以解表利小便，佐厚朴以除濕，扁豆和中，合而為飲。飲入於胃，熱去而濕不留，內外之暑證悉除矣。若心煩、口渴者，去扁豆，加黃連，名黃連香薷飲；加茯苓、甘草，名五物；加木，加參、耆、橘、術，名十味。隨症加減，盡香薷之用也。然勞倦內傷，必用清暑益氣；內熱大渴，必用人參白虎。若用香薷，是重虛其表，而反濟以內熱矣。香薷乃夏月解表之藥，如冬月之麻黃，氣虛者尤不可服。今人不知暑傷元氣，概用以代茶，是開門揖盜也。</p>
