<header data-type="book">
<h1>白喉捷要合編</h1>
</header>

<h1>序</h1>
<p>天下至危極險之證，莫過於白喉。藥餌誤投，禍固立見。即施治稍緩，滅難圖功，凡遇是疾者，不可不兢兢致慎也。僅夙膺是疾，獲益於《楊氏白喉》一書，拳拳服膺，藏之久矣。丙午歲於役都梁，一周寒暑，小陽孟冬，內子復遇喉疾，勢頗危險，二三醫者，莫能奏效。聞陳學正藏有《白喉捷要合編》一書，亟為借閱，檢神功閥邪方，服之不減，丹檢神仙活命丹，服之初劑而白者黃，連服四劑，其病漸愈。因念武岡□壤，喉證一途，實無端學，天災流行，事所恆有，往往束手就斃。語云：庸醫殺人。夫醫者豈有殺人之心哉？蓋醫而庸，則施之者既誤於無知，而受之者受禍於魔難，良可慨矣！僅夫婦均遇是疾，愛二書活命之功，含畢生再造之義，爰思推廣，壽諸同人，並此二書合為一冊，急付剞劂，以廣流傳。其方大同小異，凡膺是疾者，切需審已之病源而善用之。用綴數語並諸簡首。</p>
<p><u>光緒三十年丁未季春馬平嚴承甸敬識</u></p>

<h1>序</h1>
<p>古今名醫喉科諸書，言喉證者詳矣，獨未載有時疫白喉證。自道光中葉，始於江浙，迄乎荊湘黔滇間，發作無時，傳染甚速，巷陌街衢，死者踵相接。惟時西北諸郡邑無有焉。邇來疫氣流行，與時變遷，秦隴地方，亦丁其厄。雖塞外微荒，所在皆有。庸醫辨證未明，不審脈之虛實，證之寒火，狃於偏見，總以西陲系砂磧岩凝之區，率皆寒證。又或拘泥古方，不知時異勢殊，漫無變通，輒投表散辛溫滋補之劑，為害最烈，百無一全。同鄉張善吾學博、蕭海雍封翁，細心考究，詳察病源，所著《白喉證論》一書中列飲散，屢見功效，活人甚多，乾當肄業及之。惟疫證愈出愈險，有朝發夕死者，有疼痛難忍、立刻斃命者。乾臨證日久，每悉心討論，更兼博訪旁諮，又得針刺要訣，名手秘方，為兩先達書中所末備。光緒紀元，幕遊湟中。次年夏，適白喉疫證蔓延湟郡各屬。乾將諸方及針法，進都人士而口授之。照方醫治，應手輒效，百不失一。嗣是而甘泉、而酒泉患此症者，倩乾調理，效皆立奏。欲交兩先達良方及陸續所獲針法方略，並付剞厥，以公諸世而垂久遠，廣醫學而起沉疴，顧所費不貲，勢難獨任，幸賴學士大夫仁人君子愷悌慈祥，或分鶴俸，或解錦囊，成此義舉，可補醫經之缺略，從此慈航普渡，壽域同登，其有裨於天下後世者，豈淺鮮哉！</p>
<p><u>光緒歲在著維單于仲夏月穀旦湘西黃炳乾陶普氏謹識於酒泉公廨</u></p>

<h1>時疫白喉嚨證論</h1>
<p>白喉有時疫一證，其發無時，其傳染甚速，其病至危至險，治者每多束手無策，修考之諸書，臨證日久，竊以為其治有十難焉。蓋此證乃纏喉急痹，緩治則死。凡咽喉不利，口渴舌燥，頸腫目赤，耳痛唇紅，皆上攻頭面之證。邪熱客於心肺之間，似與他經無涉，其有兼及他經者，體氣虛弱，邪氣乘之而入，皆後之傳變，名曰越經。時未傳及他經，不察其源，治以他經之藥，其難一也。大抵其證初起，惡寒發熱，頭痛背脹，精神倦怠，遍身骨節疼痛，喉內有極痛者，有微痛者，初無形跡可見，似傷風寒證，若投以麻、桂、羌、防、升、柴、細辛、蘇葉之類，致毒渙散，無可換回，其難二也。彼其惡寒發熱，乃毒氣初人於內，至二三日喉內見白，見後寒熱自除，或者不悟，誤以為表藥有功，豈知白見後，即不服表藥，而發熱亦止耶。一起誤服羌、防、麻、桂，非徒無益，而又害之，其難三也。按：此病熱證多，寒證少。有以色白為寒者，不思此證初發於肺，肺屬金，其色白，為五臟六腑之華蓋，處至高之位，毒氣熏蒸，自下而上，肺病日深，故其本色日著，治宜解五臟之毒，使之下行，勿令蓄積於肺。若因白色，疑為寒證，投以附、桂、炮姜，是謂抱薪救火，愈熾愈烈，其難四也。即有知為火毒，不可輕用升提開散之品，輒以芒硝大黃下之，不知此證已傳至上焦氣分，與中下焦無涉，既上焦氣分受傷，又以硝黃攻伐太過，使中下焦有損，元氣愈傷，其難五也。見證確藥當守方，有火毒甚者，初起用消風敗毒引熱下行之劑，治法良是。乃日服二三劑而白不退，連服十數劑而白愈有加，是猶杯水車薪，與事無濟。治者當詳審病源，或舌胎黃黑，喉干唇焦，小便短澀而黃，大便瀉泄帶黑，是謂炎毒凝結。內病不除，白何能淨，愈發白，愈守方，久久投之，自有效驗，若另更別方，必生變故，其難六也。察之既精，圖治不容緩，此乃瘟疫之變證，殺人最速，過七日不起。庸醫辨證未明，投以平淡之劑，不求有功，但求免過，是謂優容養奸，迨延至六日，毒氣重矣，元氣傷矣，善治者不得不以猛劑攻之，然病已垂危，成則無功。一旦不起，病家不咎優容之過，反云猛劑非宜，此非誤於後，而實誤於前，其難七也。有非白喉而轉為白喉者。初起喉痛紅腫，或惡寒發熱，或不惡寒發熱，一邊腫名曰單蛾，兩邊腫名曰雙蛾。治之稍緩，則氣閉不起，宜用生土牛膝兜引熱下行。大便閉結用大黃。否則不必用，此與白喉證異治同。倘不預防，轉為白喉，為禍甚烈，其難八也。又有勞證白喉，陰虛火燥，痛極而水米難下，漸至朽爛，形容枯槁，面目憔悴，必需補劑，使元氣充滿，而喉痛自愈。若以時行疫證白喉，誤認陰虛，差之毫釐，失之千里，其難九也。更有一種白喉，無惡寒發熱等證。喉內起白皮，隨落隨長，的是寒證，非附桂不愈。即誤服消風敗毒之藥，亦無大損，若以時行疫證白喉，認為此證，為害不淺，其難十也。知此十難，臨證審治，十不失一，難不終難，修持此法，活人多矣。時疫流行，而益不敢自秘，謹將看法治法方法編次成書，非敢云濟世之良方，亦足為刀圭之一助云爾。楚南淮川張紹修善吾氏著。</p>

<h1>白喉嚨續論</h1>
<p>白喉治法，浩渺無憑。修自稽考以來，時深討論，每臨篇得其法，未必見其病。臨病見其證，未必合其方。可見病見多端，惟貴圓通而知其要耳。修曾立白喉嚨證論一篇，以傳於世。奈白喉之證，愈出愈險，有朝發夕死者。延街合巷，互相沾染，治之不速，十難全一，噫，真可慘也。竊以此證乃瘟疫惡證，必需詳審外證，細察脈情。看明喉嚨內外兩關，白多白少，及小大厚薄，方可下藥，否則以輕劑而治重病，過猶不及，誠哉是言也。其證初起憎寒壯熱，口渴喉干，聲音不出，湯水不入，痰涎壅塞，脹閉疼痛異常，滿喉皆白。脈多洪數，甚者且無至數，此乃時行厲氣為病，喉證中最急者也。或者謂咽喉病忌用寒涼，謬妄殊甚。每見投以荊防敗毒散，大承氣湯者，指不勝屈。不知以硝黃瀉胃中之實熱，是謂誅伐無過，病以適至其危篤。以羌防理太陽之遊風、致使渙散其毒，病必漸入膏肓。修立除瘟化毒散、神功辟邪散、神仙活命湯，已用之屢矣，皆能立起沈痾。但恐病勢太重，猶嫌藥力稍輕，立龍虎二仙湯，日服三四劑，連服數日，不必更方。縱食不下咽，斷不至寒涼過度，胃氣告匱，所謂有病則病受也。白退而藥即止，徐徐調理，元氣不難充滿，惟證尤烈者實火為患。臟腑積熱太深，堵塞咽喉隘地，呼吸不通，服雄黃解毒丸亦妙，究系厲劑，不可輕用，慎之。然所論雖屬詳明，治者尤宜達變通權，兼以閱歷，方能隨手應效，活人之法當出此。若輕忽怠玩，耽擱日期，使面青唇黑，氣急痰壅，煩躁神昏，攻之不可，達之不及，雖盧扁復生，不可為也。管見如此，望高明酌之。</p>

<h1>白喉嚨看法</h1>
<p>初起惡寒發熱，頭痛背脹，遍身骨節痛，喉內或極痛，或微痛，或不痛而喉內微硬，有隨發而白隨見者，有至二三日而白始見者，或由白點白條白塊，漸至滿喉皆白，所治皆同。服藥後，喉內或白收緊，或白稀疏，或白微小，或白轉黃，久之必然退淨。但此病非比他病，貴在見機早，尤貴治者精。若心粗氣浮，輕視此證，有非白喉而妄稱為白喉，遂以猛劑攻之者。有真白喉又不識為白喉，僅以平劑投之者。有胎產婦人，幼孩老人，大病後虛勞內傷，皆難任攻伐者。治不得當，鮮不輕者重，重者危矣。看法，將病人向光明處正坐，左手按髮際，右手持篾片或著按住舌心，細看喉嚨兩邊。系白喉，系單雙蛾，系風火喉，看的方好下藥。晚間則用兩油紙燃，一照腦後，一照口內，方看得明。醫是病者，宜防自己，不可空腹入患家看病。或飲雄黃酒一杯，或食大蒜，亦保不傳染。且入臥房病人前，需先正其心，行坐言語，不可嬉戲，貪淫邪念，切不可起。</p>
<p><u>附認寒火證</u></p>
<p>火證白喉，白塊浮於肉上起凸，喉中紅腫，飲食喜冷惡熱，舌苔黃黑，甚至大小便不通，痛無已時。如系寒證虛證，則不紅不腫，飲食惡冷喜熱，天花板上紅絲數條，即間有白塊，亦陷於肉內，凹而不凸，大小便如平時，喉中微痛，或咽則痛，不咽不痛，不得以治白喉之法治之。</p>

<h1>白喉嚨治法</h1>
<p>初起用葛根、殭蠶、蟬蛻以散風熱，以牛蒡子、連翹、金銀花、土茯苓消腫敗毒，元參、生地黃、天門冬清金生水，黃芩、黃連、生梔仁、山豆根、生石膏瀉火救水，木通、澤瀉、車前子引熱下行，重者再加馬勃、龍膽草，外用生土牛膝兜，或於未服藥之先既服藥之後煎水間服。再以萬年青搗汁，或服或噙。又每日食生青果十餘枚。輕者以除瘟化毒散主之，重者以神功辟邪散主之，再重者以神仙活命湯主之。輕則日服一二劑，重則日服三四劑。將疫毒由上焦引至中焦，由中焦引至下焦，從大小腸、膀胱而出。大便瀉泄，火毒下行，此為吉兆。大便閉塞，少加炙大黃，如仍閉塞，改用生大黃，大便瀉即去，服十餘劑愈者有之，以白點退淨為度。其藥味份量之加減，劑數之多寡，需臨證制宜，不必另更別方，連日投之，自然痊愈，屢試屢驗。同治丁卯冬，白喉險證極多，有漸至危篤者。延余診視，詢前所服之藥，皆消風敗毒，引熱下行之劑，治法良是，終莫能起，不解何故。余詳審外證，細察脈情，再三思之，想必是實火為患，熱毒凝結臟腑，雖用瀉火敗毒之藥。仍是杯水車薪，與病奚濟。擬一龍虎二仙湯，日服四劑，服十餘劑痊愈者有之。有服至二三十劑，而白尚未退淨，服雄黃解毒丸一服，仍服龍虎二仙湯十餘劑而愈。故遂處此方，全活甚眾，即將此方續列於後，以備選用。白點退完，當用清涼之品，以清心滌肺湯主之。日服一劑，撤盡餘毒，再服養陰之劑，以養正湯主之。脾胃素虛者，用四君子湯加生何首烏、金銀花，總賴以圓機行活法也。如遇牙關緊閉，不能看證者，治以開關散即開。又或初起之時，及服藥後，痛不可忍，神疲音啞者，急以針法施之，兼用蒜泥拔毒散，蜒蚰闢毒散，並吹藥即松。如喉內頸項腫甚，以救急異功散敷之。以上白喉治法，除勞證白喉寒證白喉之外，凡單雙蛾、喉癰及喉內紅腫，均可依法治之。但藥味需酌量加減，慎之。服藥後，切忌風吹，並忌一切酒肉油膩辛辣之物，愈後亦須禁兩旬或半月。服藥時，蔬菜中忌食萊菔，愈後不忌。又有辨證未明，誤投升提開散滋補辛溫之劑，視病之輕重，以生綠豆碾細末，重者一茶碗，或一茶盅，輕者一大酒杯，冷水調服。再酌用以後所列諸飲散煎出，並煮大米粥一腕，先服粥，後服藥。則誤服之劑即解除矣。如痰涎湧甚，用生桐油頻塗喉內，或雞羽毛攪之，新筆蘸嘔出痰涎，須陸續塗盡桐油四五兩方妙。</p>

<h1>諸方</h1>
<p><u>開關散</u></p>
<p>番木鱉（二片去殼），好黃醋（半杯），粗碗磨濃汁，雞羽毛蘸汁，塗於兩邊牙齦至盡後處，漸開。再塗天花板並舌根下即開。藥汁切匆沾喉。涎出，以微溫水漱淨。看證，每遇牙關緊閉，以此法治之。</p>
<p><u>針法</u></p>
<p>凡遇白喉、單雙蛾、風火喉之重者，服藥不退，心中惡逆，精神困倦，昏迷不醒，語言不清，疼痛難忍，以藥針於舌根底下兩邊青筋上，刺入以分許為度，放出惡血，涼水漱淨，其中間之青筋切不可刺，慎之。須再刺少商穴，系平大指甲盡處，側邊離甲一分即是。令病人平坐，袒衣露出手膊。擇有力者，以兩手從頸上用力順拉而下，至大指尖止，連拉四五十下，將綿帶從大指開叉處起，緊密纏至肉指甲相連處止。以藥針先放口內含微熱，向穴上先刺內邊，後刺外邊，捻出惡血。男則先左後右，女則先右後左。如蛾子腫大，亦用藥針刺破出血，急以膽礬散，或硇砂破蛾散，吹之立破。惟每月初五日，人神在口，忌刺蛾子舌根下。初六日人神在手，忌刺少商穴。十五日人神在遍身，均不可刺。如針未經藥煉，即以馬銜鐵針，及瓷針、銀針、鐵針刺之亦可。</p>
<p>附煉藥針法</p>
<p>用柔鐵鍛鍊，惟馬銜鐵良，按本草云，柔鐵即熱鐵，有毒。馬銜鐵則無毒。馬屬午，屬火，火剋金，解鐵毒，故煉藥針以此為最。用舊馬銜鐵，翦去在口外者，取中段挨舌挨齒處，鍛紅錘鍊，冷則再鍛再煉，去淨鐵屑，專取精華。煉就一頭圓尖，一頭三稜尖，長約五寸，均用膽酥塗於針上，仍入火中微鍛，不可令紅。取起照前塗酥煉三次，至第三次，乘熱插入臘肉皮之裡，肉之外，將後面諸藥，先以水三碗煎沸，次入針肉在內，煮至水乾，傾於水中，待冷將針取出，於黃土中插百餘下，以去火毒，色明方佳，佩於身邊，長近人氣，勿令上鏽。如針斷肉內，以瓷石引之即出，或用真象牙碾細末，水調塗之亦出。</p>
<p>鴨嘴膽礬（一錢）　川鬱金（三錢）　上麝（五分）　金釵石斛（一錢）　正川芎（三錢）　沒藥（三錢）　川山甲（三錢）　北細辛（三錢）　沉香（五錢）　甘草節（三錢）　當歸尾（三錢）　硃砂（三錢）　真慈石（一兩）</p>
<p>鴨嘴膽礬，塊片長而圓扁，狀類鴨嘴，外面微白，中透亮如藍色明玻璃者為真。市肆多以整塊青礬作偽。沉香以黃沉角黃蠟沉為上，嗅之無香，磨汁含入口內，滿口皆香者真。市肆皆系油柞木久浸水內，取出用真沉香少許同煎，入水亦沉，以此混充。慈石俗呼吸鐵石，吸得鐵動，將慈石向掌中擦熱，距鐵針一二分引之，針即搖動者良。能引諸藥入鐵內，乃煉藥針要藥。右藥一料，可煉藥針十口。如針少，藥之分量亦須照針數遞減。針式如膽礬沉香慈石無真者，即用舊馬銜鐵照式錘針，不用藥煮亦可。</p>
<p><u>蒜泥拔毒散</u></p>
<p>老蒜一瓣，獨子者更佳。搗如泥，以蠶豆大敷經渠穴。系大指伸直，近手腕寸脈後有窩處即是，男左女右。用瓦楞子或小蚌殼蓋上扎住，閱五六時起一水泡，將銀針或鐵針刺破，揩淨毒水。</p>
<p><u>救急異功散</u></p>
<p>斑蝥（四錢）　真竭（六分）　制乳香（六分）　全蠍（六分）　大元參（六分）　制沒藥（六分）　上麝（一分）　上梅片（三分）　斑蝥（去頭翅足，糯米拌炒，以米色微黃為度，去糯米）　除血竭外，合諸藥共碾極細，另碾血竭拌勻，瓷瓶收貯。按：血竭用少許磨指甲上，以紅透指甲者為真。若與諸藥同碾，則血竭飛去。市肆多以海母血作偽，有腥氣。凡遇白喉、單雙蛾、纏喉風，關內外漫腫，並頸項發腫，咽喉將閉，及爛喉痧證，不拘何膏藥，開攤小張，將此散用黃豆大，置膏藥上，貼頸項間。須對喉內腫處，左腫貼左，右腫貼右，左右俱腫，兩邊皆貼。閱五六時揭去，頸項上貼得即起水泡，用銀針鐵針刺破，揩淨毒水，能消腫止痛，誠救急良方也。</p>
<p><u>除瘟化毒散</u></p>
<p>粉葛根（二錢）　浙貝（三錢）　殭蠶（二錢）　生地黃（三錢）　山豆根（一錢）　蟬蛻（一錢）　生梔仁（二錢）　小木通（二錢）　黃芩（二錢）　生甘草（五分）　冬桑葉（二錢）　引</p>
<p>此方白喉初起宜之，凡單蛾及風火喉痛皆可服。</p>
<p><u>神功辟邪散</u></p>
<p>粉葛根（二錢）　浙貝母（三錢）　殭蠶（三錢）　生地黃（四錢）　麥冬（三錢，去心）　蟬蛻（三錢）　牛子（二錢）　黃芩（二錢）　金銀花（二錢）　小木通（二錢）　馬勃（二錢，包煎）　生青果（三個）　引　無生青果，用冬桑葉。</p>
<p><u>神仙活命湯</u></p>
<p>生石膏（三錢）　生地黃（四錢）　蟬蛻（一錢）　土茯苓（五錢）　金銀花（二錢）　黃芩（三錢）　車前子（二錢）　小木通（三錢）　馬勃（三錢，絹包煎）　生青果（五個）　引　無生青果用冬桑葉，以上二方，白喉重者宜之，日服二三劑，少則不效。凡單雙蛾、喉癰及喉內紅腫，去土茯苓、金銀花、馬勃，其餘藥均可斟酌加減服之。</p>
<p><u>龍虎二仙湯</u></p>
<p>龍膽草（二錢）　生地黃（一兩）　元參（四錢）　真犀角（八錢）　川黃連（三錢）　黃芩（五錢）　鼠黏子（四錢）　直殭蠶（五錢）　馬勃（四錢，絹包煎）　板藍根（四錢）　生梔仁（三錢）　知母（四錢）　生石膏（一兩）　小木通（四錢）　甘草（一錢）　大青葉（五錢）　梗米（三兩）　引</p>
<p><u>雄黃解毒丸</u></p>
<p>明雄（一兩，透明者碾極細，水飛取輕浮者，澄去水曬乾）　鬱金（一錢，曬乾碾細篩）　巴豆（十四粒，去殼去皮，取白色者炒熟碾如泥，用紙包壓去油）</p>
<p>三味各如法制碾，然後合碾，用米醋熬濃汁，和為丸綠豆大，每用四分，茶湯泡軟杵融送下。小人減半。纏喉走馬急證，緩治則死。明雄能破結氣，鬱金能散惡血，巴豆斬關奪門，能下惡涎，下咽無不活者。但此屬厲劑，乃惡藥也，不得已而用之，苟非急證，不可妄投。</p>
<p><u>清心滌肺湯</u></p>
<p>生地黃（三錢）　川黃柏（二錢）　黃芩（二錢）　麥門冬（三錢，去心）　浙貝母（二錢）　知母（二錢）　天門冬（二錢，去心）　天花粉（二錢）　殭蠶（一錢）　生甘草（五分）　不用引日服一劑，以二三劑為度。體氣素弱，加條參或生玉竹亦可。</p>
<p><u>養正湯</u></p>
<p>生玉竹（五錢）　生地黃（三錢）　花粉（三錢）　淮山藥（四錢）　熟地黃（四錢）　茯苓（三錢）　制首烏（四錢）　麥門冬（二錢，去心）　白芍（二錢）　女貞子（三錢）　不用引</p>
<p><u>銀花四君子湯</u></p>
<p>臺黨參（五錢）　制白朮（四錢）　茯苓（三錢）　生首烏（四錢）　金銀花（二錢）　炙草（一錢）　冬桑葉（二錢）　引</p>
<p><u>瓜霜散</u></p>
<p>西瓜霜（一兩）　辰砂（二錢）　上片（一錢）　人中白（一錢）　明雄黃（二分）　共碾細末。再入乳缽內乳至極細為度。瓷瓶收貯，勿令泄氣。如遇白喉、蛾喉、風火喉，頻頻吹之。若蛾喉重者，急以膽礬散、硇砂破蛾散吹之立效。</p>
<p><u>附取西瓜霜法</u></p>
<p>西瓜開孔，去淨瓤水，以皮硝灌入，懸於屋檐當風處，下以瓷盤懸空接之，水滴盤內，結成冰塊，及瓜外起白霜，一併掃下聽用。查《喉科指掌》所載，將刮下之霜，灌入西瓜內，再做二次，藥力更大，務須遵照制之。</p>
<p><u>血竭冰蓬散</u></p>
<p>血竭（三錢）　真殭蠶（一錢）　兒茶（三錢）　明雄黃（三錢）　上梅片（一錢）　上麝（三分）　元明粉（錢半）　淨硼砂（一兩）　甘草（三錢，去皮）　血竭認法制法，詳上救急異功散，先將諸藥共碾極細，次入乳細血竭拌勻，用法同瓜霜散。若孕婦患各喉證，須去上麝，多加冰片，慎之。</p>
<p><u>石膏消毒散</u></p>
<p>生石膏（一兩，煅）　人中白（五錢，煅）　青黛（一兩）　鴨嘴膽礬（五錢）　上辰砂（一兩）　硼砂（一兩）　元明粉（五錢）　山豆根（三錢）　上片（五分）　鴨嘴膽礬認法，詳前煉藥針方內，製法用法同血竭冰硼散，孕婦不忌。</p>
<p><u>蜒蚰闢毒散</u></p>
<p>蜒蚰（二三條）　鹽梅（一二枚，陳者良）</p>
<p><u>蜘蛛救苦丹</u></p>
<p>蜘蛛三隻，上梅片五釐。地蜘蛛生壕墈內，土面上結有蛛網，挖出藏於網窠內，身小而黑者是。焙焦存性，合冰片碾極細，遇各喉證之極險者。吹之神效，實有起死回生之功。然與蜒蚰闢毒散，非遇險證或偏僻地方無藥可辦者，不必輕用，亦所以惜物命也。</p>
<p><u>回生萬應丹</u></p>
<p>真牛黃（一錢）　刺黃連（四錢）　兒茶（五錢）　真珍珠（一錢）　川鬱金（四錢）　白芷（二錢）　建青黛（三錢）　蘇薄荷（七錢）　硼砂（三錢）　滴乳石（五錢）　川黃柏（三錢）　甘草（三錢）　真血竭（三錢）　上梅片（一錢）</p>
<p>牛黃用少許磨指甲上，以黃染透指甲者為真。市肆多以駱駝黃混充。真珍珠不論圓扁，以通身有五彩光芒者為真。人乳浸二日，晾乾碾細，如堅結不能成粉，用豆腐煮兩晝夜，即以摧剛為柔，再合諸藥，同碾極細，方加乳細血竭拌勻，瓷瓶收貯。此散能治白喉、單雙蛾、喉痹、喉癰、纏喉風、爛喉痧、陰虛喉痛等證，神效無比。如牛黃、珍珠、血竭不真，則不效。須揀選真者，早年京中傳染喉證，俗呼狼掐脖，傷人最多，各方罔效，後得此方，救人甚眾，此乃喉證第一神方也。</p>
<p><u>膽礬散</u></p>
<p>鴨嘴膽礬（一錢）　手指甲（五分）　人中（白五分，煅）　鴨嘴膽礬，認法詳前煉藥針方內，假者不能破蛾化痰，為害不淺，務求真者。手指甲剪碎炒炮，以深黃色為度。三味共碾極細，蛾喉腫甚，連吹數次即破，吐出惡血涎痰痊愈。</p>
<p><u>硇砂破蛾散</u></p>
<p>真硇砂　青鹽　白礬</p>
<p>上等分均勻，碾極細，凡蛾喉腫痛，吹之立破，必須真硇砂方效，若石硇鹼硇無用。此藥真者難得，價極昂貴，不若膽礬散價廉而易辨，且功效相埒。</p>

<h1>無治之證</h1>
<p>七日滿白不退，服藥大便不通。</p>
<p>未服藥大便瀉，大便連瀉不止。</p>
<p>頷下發腫不消，服藥嘔吐不止。</p>
<p>音啞無聲，白塊自落。</p>
<p>喉干無涎，天庭黑暗。</p>
<p>兩目直視，面唇俱青。</p>
<p>角弓反張，藥不能下。</p>

<h1>藥方歌括</h1>
<p>開關散最有奇功，醋磨木鱉汁須濃，牙齦舌根天花板，次第塗之立即通。</p>
<p>針法加諸急證利，舌根兩邊青筋刺，再向少商穴上施，放出惡血真奇秘。</p>
<p>蒜泥拔毒散尤良，經渠穴上審端詳，水泡起時針剔破，拔去惡毒自安康。</p>
<p>救急異功散如神，斑蝥血蠍乳沒尋，片麝元參膏藥敷，項間泡起可重生。</p>
<p>除瘟化毒葛地佳，蟬蛻芩梔通貝加，豆甘再合冬桑葉，白喉初起永無差。</p>
<p>神功辟邪散有靈，葛地蠶蟬麥貝芩，翹牛通勃銀花果，白喉重者服之輕。</p>
<p>神仙活命膽果芩，蠶蟬地膏土茯苓，通貝前勃銀花果，日投數劑著奇能。</p>
<p>龍虎二仙膽草犀，元母地膏蠶芩梔，連通勃鼠藍草並，引用青葉粳米宜。</p>
<p>米醋煎濃和為丸，茶湯送下醫急證。</p>
<p>清心滌肺地貝芩，大麥二冬殭蠶尋，知粉柏甘去餘熱，酌加玉竹與條參。</p>
<p>養正湯推玉竹先，生熟地與粉芍聯，懷芩首烏女貞麥，白喉初退服之痊。</p>
<p>銀花四君子交濟，參朮芩烏甘草繼，引用冬桑葉最良，脾胃素虛養榮節。</p>
<p>瓜霜散取人中白，硃砂明雄冰片列，共碾極細頻頻吹，調治喉證有真訣。</p>
<p>血竭冰硼散何神，兒茶明雄上麝臨，殭蠶甘草元明粉，吹入喉內保清平。</p>
<p>石膏消毒膽礬加，朱黛豆片及硼砂，元明粉共人中白，細碾吹喉分外佳。</p>
<p>蜒蚰闢毒散神奇，鹽梅陳者兩相須，搗融蘸水塗患處，退淨紅腫與白皮。</p>
<p>蜘蛛救苦丹訣良，合將冰片是神方，呼吸不通立刻愈，險證獲此保無傷。</p>
<p>回生萬應丹奇特，牛黃乳石金珠列，連柏硼黛芷兒茶，合將荷草有真訣。</p>
<p>膽礬散專療乳蛾，人中白共指甲和，若教吹入紅腫處，破開堵塞功效多。</p>
<p>硇砂破蛾散若何，青鹽白礬共同科，不論單雙咽喉閉，吹入立待起沉疴。</p>
