<header data-type="book">
<h1>大醫馬氏小兒脈珍科</h1>
</header>

<h1>卷上</h1>

<h2>一、初生壽夭論</h2>
<p>夫小兒所稟，由於父精母血，二者妙合而成形。其在胎也，一月如露珠，二月如桃花，三月始男女分，四月形象具，五月筋骨成，六月毛髮生，七月遊其魂，能動左手，八月遊其魄，能動右手，九月三轉身，十月受氣足而生。大抵小兒形質稟父母之餘氣，是以肥不可生瘦，瘦不可生肥。若大小肥瘦與父母不等則難養，相稱則易生。若小兒預知人意，身輕力弱者，夭之兆也；迴轉舒遲，稍費人雕琢者，壽之徵也。陰大而黑者，可養；陰小而白者，難育。形體弱，頭面多青脈，精神昏憒者，難養；剛強有力，眼目俊朗，神氣爽健，發紺而澤者，易養。眼內黑珠少，白睛多，面色㿠白者，非壽之相也；黑珠大，白睛少，面色蒼黑者，壽之相也。以此察之，則小兒壽夭可預知矣。</p>

<h2>二、初生調攝論</h2>
<p>夫小兒初生，血氣未充，形體怯弱，腸胃脆窄，全賴父母調攝，寒暑乳哺不失其宜，則百病不生，而常安矣。苟或嗔怒乳兒，則令兒邪狂；或醉酒乳兒，則令兒驚癇；或有孕乳兒，令兒黃瘦疳積，而成繼病；或感患乳兒，令兒患驚風異疾；或吐後乳兒，令兒嘔逆羸瘦；或傷飽乳兒，令兒多熱喘急；或房勞未定乳兒，令兒多病；或乳母與兒同睡，口鼻之氣侵吹囟門，令兒鼻塞；或繃抱衣服過熱，或以火烘，熱氣鬱積，令兒患熱病、風毒、丹毒；或啼哭未已乳兒，令兒吐瀉。又有誤將小兒衣服留於月下，被惡鳥羽尿墜於衣上，遂成無辜之疾；或將惡相異物嬉戲，乍忽一見，遂成驚怖；或當風脫著，令兒傷風；或冬月不避雨雪，令兒傷寒；或夏月多食水果等物，令兒瘧疾下痢。致病之由，不可枚舉，此但總其略耳。俗云若要小兒安，常須飢與寒。夫飢寒固不可，而過於飽暖尤不可也。若衣裳過暖，則令兒軟弱，而不耐風寒，宜常令見風日，不可久藏房室帷幔之中。夫小兒肌膚脆弱易傷，常將父母穿舊衣絮更改與著，以假父母之餘氣。又小兒風池在頸項西轅之間，外感諸疾皆從此始，父母必須慎護。又小兒斷臍之後，不可頻浴，浴則水入臍中，撮口臍風皆自此始，可不慎哉！</p>

<h2>三、面部形色應五臟圖</h2>
<figure>
<img data-orig-src="urn:270:10277.jpg" alt="面部形色應五臟圖">
</figure>
<p>囟門屬腎　髮際屬膀胱</p>
<p>印堂屬心　左太陽膀胱</p>
<p>右太陽三焦　左太陽屬腎</p>
<p>右太陽屬脾　左文臺屬肝</p>
<p>右文臺屬肺　左武臺屬脾</p>
<p>右武臺屬胃　左風池屬肝</p>
<p>右風池命門</p>

<h2>四、驚風痰食各論</h2>

<h3>驚</h3>
<p>看囟門、額上、印堂三處：紅嫩則初驚方熱，紫脈則重驚已熱。如左太陽紅，傷風內熱；日角紅至眉心，變蒸內熱生風；右太陽紅，食乳母傷風乳汁；右太陽紅青，吃乳母傷寒風乳汁。</p>

<h3>風</h3>
<p>看左太陽及風池：紅，受風邪輕；青，重。如左太陽紅，傷感初熱；左文臺紅，有五七日傳經矣。左太陽紫，傷風再受；左太陰紫，傷風內熱；左文臺紫，熱經三四次；右文臺紫，久熱不退。左太陽青，傷風變蒸；左太陰青，主生驚；左文臺青，再傳經，熱不解。印堂紅，主風熱生驚。</p>

<h3>痰</h3>
<p>看右太陽紅，吃母感冒乳汁；右太陰青赤，同上症。印堂、右太陰、右文臺，此三處青，皆生痰與食。印堂紅，心熱生痰；印堂青黑，主胎中痰飲；印堂紫，主有熱痰；印堂青黃，主有風痰。右太陰青紫，吃傷寒夾風乳汁；右太陰青，吃傷寒乳。</p>

<h3>食</h3>
<p>看右太陰、右文臺、右武臺，或青或黃，皆是食。</p>

<h2>五、心臟面色辨</h2>
<p>心臟受驚，候起印堂，其色微黑，下至眉心，赤則生風，若至鼻柱，即是死候。皮無血色，更生黑壓，則水克於火，則遇亥子難過，兼多焦渴，吃乳不收，舌出口外是也。心臟受積，候起額角，太陽穴虛，兩眼赤白，小便如泔，面合地臥，口吐熱氣，此惡候也。心臟受冷，候起太陽，黑脈侵印堂，面色淡赤，目無睛光，哯乳口煩，兼吐清水。心臟受熱，候起面頰，赤色多驚，少睡發乾頻渴，鼻下赤爛，口開睡臥，牙床口中臭，睡臥開口，煩躁吐蟲。</p>

<h2>六、肝臟面色辨</h2>
<p>肝臟受驚，候起髮際，其色淺白，若至承漿，即變驚風，渾身發熱，夜多啼哭，宜用驚風藥，若退則可調治。若其色不退，下至東嶽，即是死候。耳前穴黑，金克於木，鼻乾燥，眼睛吊上。肝主筋，筋縮則睛無光。腎絕則瞳子不轉，肝絕則爪甲黑。肝臟受損積，候起食倉，其色微黃，下侵襯眉，即是受積，黑睛黃赤，夜熱多睡。若死候，啼哭無淚是也。肝受熱，候起正眉，薄薄赤色，即沖承漿，心裹於肝，肝熱眼赤，多有眼眵，小者吐乳，大者吐食，則有痰生熱生風，早晚發熱，多啼少睡。肝受冷，面青淡白，眼中淚出，齒齦淡白，口中清水，大便酸臭，日中多睡，夜間煎迫者是也。</p>

<h2>七、脾臟面色辨</h2>
<p>脾臟受驚，候起髮際。其色微青，即傳於肝；若至於眉心，其色漸赤，即傳於心；若至鼻柱，其色必白；若連兩耳黑氣，即生驚，驚若不退，一周時必死。其外候唇不蓋齒，口無津液，此是脾絕；四肢垂冷，即是胃絕，五日後寅卯時死，又瀉黑血也。脾臟受積，口唇黃色，兩眼浮腫，早晚面浮，頭疼腹脹，食不消化，頻頻夜起。傷冷則瀉白糞，熱則赤，冷熱不調，則赤白痢也。脾臟受冷，候起眉心中嶽，其色淡白，來侵鼻柱及玄珠，外候糞白，食不消化，泄無時，唇白嘔逆，面色黃赤。脾受熱，候起太陽，白薄皮起，口唇乾燥，兼有口氣，大便赤，入夜間煩躁顛叫是也。</p>

<h2>八、肺臟面色辨</h2>
<p>肺臟受冷，候起人中，下至承漿及頤，其色春青夏赤，秋白冬黑，外症鼻涕流，兩眼赤昏，面頰赤，喘氣喉響。其惡候面黑，叫咬人，鼻黑身熱，氣喘不定。肺臟受驚，候起髮際兩鬢，其色微赤，傳於司空，則生驚風，外候氣喘，無力啼叫，若至玄珠，即是死候，作啞聲，喉中響，哭無淚，鼻乾口燥者是也。肺受積，候起髮際，其色微赤，下至眉心，腹脹噁心，若至鼻梁鼻準，即是死候，氣喘急不回者，三日午未時難過。肺受熱，候起面頰，其色青白，下至承漿，若外候鼻中出血，夜啼煩躁喘渴甚，此為疳也。</p>

<h2>九、腎臟面色辨</h2>
<p>驚入腎臟，候起耳前穴，色微黃，下侵潮口，若夢裡咬牙，乃侵下頦。若面黑惡叫，汗出如膠，其耳前穴黑也。腎臟有積，候起眼泡，其色微黑，眼睛微赤，外候聤耳兼耳聾，頭上囟門生瘡，愈後再發是也。冷入腎臟，候起額上，色紫而微青，下侵中嶽，滿面青白，多哯頑涎，多睡少睛光。腎臟受熱，候起食倉，其色微赤，下到準頭，舌爛眼匡，外候耳重，多有眼眵，小便赤澀是也。</p>

<h2>十、察小兒病形神色歌</h2>
<p>搖頭揉目，肝熱生風。眵淚憎明，三焦積熱。鼻流清涕，肺受風寒。頰赤面黃，風傷腑熱。霍亂吐逆，胃積風傷。瀉痢不常，氣攻腸滑。面青呵欠，驚風傳肝。盜汗頻頻，臟伏虛熱。傷寒驚搐，風盛發狂。胃熱生斑，氣傷冷厥。長吁齧齒，風盛氣生。上竄搖頭，涎高胃結。肺壅氣傷，咳喘咯血。涎盛發齁，積傷風熱。小便淋澀，聚積膀胱。疝氣咽啼，胎中積結。奶脾痞癖，因物所傷。喉閉丹瘡，肺之受熱。愛吃泥土，脾臟生蟲。嘔逆痰涎，乳哺失節。鶴膝解顱，胎氣不足。審而用之，詳細投藥。</p>

<h2>十一、小兒形症歌</h2>
<p>（即漢東王氏絕症也）</p>
<p>小兒形症最難耐，滿口頑涎喉中塞，吐瀉無時加咳嗽，身上皮膚無血色，汗出如油頭偏峻，目無光彩鼻中黑，浮胸心凸牽撮口，手足如冰腳面直，搐搦睛斜連口唇，眼眶青色多焦黑，將手抱頭難以救，飲水百杯猶未歇，臉腫眼浮脈不來，是物黏身將口呷，啼哭無淚及啞聲，喉中牽鋸口吹沫。此病難云可以治，免得時人道醫殺。</p>

<h2>十二、小兒外症不治歌</h2>
<p>眼生赤脈，下貫瞳仁（水火困絕）；囟門腫起，兼又作坑（心絕）；鼻乾黑燥（肺絕），肚上青筋（脾絕氣不榮）；目多直視（五臟俱絕），睹不轉睛；指甲黑色（肝絕），忽作啞聲（脈絕有出無入）；虛舌出口（心絕），齧齒咬人（腎絕）；魚口氣絕（脈絕），啼不出聲（脈絕）；蛔蟲既出（消食蟲），必是死形。用藥速救，十無一生。</p>

<h2>十三、五臟主病法</h2>
<p>心主驚，實則叫號發熱，飲水而搐，虛則困臥，悸動不安。肝主風，實則目直，大叫呵欠，項急煩悶，虛則咬牙多欠，氣熱則外生，氣溫則內生。脾主困，實則困睡，身熱飲水，虛則吐瀉生風。肺主喘，實則悶亂喘促，有飲水者，有不飲水者，虛則氣哽。腎主虛，無實也，虛則畏明無睛光，生瘡疹，腎實則黑陷。</p>

<h2>十四、診脈明證歌</h2>
<p>按叔和《脈經》曰：小兒三五歲，當診八至脈為平。又云：一歲變已足，方有脈，自寸口而出。及觀張氏脈云：小兒常脈，只多大人二至為平。以愚觀之，八至脈三五歲者為平，六至脈八九歲者為平。二公之說，雖若相背，而實相成也。但嬰兒初生不滿一月，重手按之亦有脈息，吸吸而動。蓋脈者，血氣之波瀾，形質既成，血氣已具，焉得無脈？但不比大人之脈顯見，易於診視也。故半歲以上須看虎口脈，周歲上看虎口兼一指脈，二三歲者只看一指脈。以食指端按三部，側指於關前取寸口，側指於關後取尺澤。至四五歲以上即下三指按三部。明標本，察病症，然後可以治矣。若來脈弦緊者，主氣不和，先順之，然後調中養氣；浮洪主風熱，先解之，然後疏風除熱；急數主受驚，先與發散，然後鎮心退驚；沉遲主虛冷，先與溫之，然後理虛去寒；沉緩主積滯，先與和解，然後疏滌積聚；微弱主疳勞，先與補養脾胃，然後攻治蟲積。一息十餘至者，謂之太過；一息一二至者，謂之不及；或大或小而不均者，謂之惡候。皆亂脈也，脈至此難以治矣。若十二三歲以後，當參叔和脈理，以究得病之由，治斯不慝矣。</p>

<h2>十五、看指紋脈法</h2>
<p><u>手指脈紋圖</u></p>
<figure>
<img data-orig-src="urn:270:10278.jpg" alt="手指脈紋圖">
</figure>
<p>夫小兒三歲以前有病，須看虎口脈，男左女右。食指表節為命關，次氣次風。古人所謂初得風關，病猶可治，入氣關已覺難治，若三關通過不治。</p>

<h2>十六、虎口脈紋歌</h2>
<p>青驚白色疳，紅紫傷風寒，黑是因中惡，黃則困脾端。</p>

<h2>十七、辨虎口脈紋歌訣</h2>
<p>形如針刺黑兼青，壯熱煩渴肺家傷。若遇風關驚熱甚，鎮心發汗始清涼。脈紋微黑未有青，定知旦夕必發驚。更加腹脹時時喘，取涎調氣便和平。脈紋青碧兼驚積，發熱多啼兼有癖。糞中青色又桃紅，胃氣不和兼咳噫。形如乙字病傳肝，驚哭多啼甚不安。此是肺家相傳染，但調良醫仔細看。形如蛇尾紫兼紅，驚食傷脾又夾風。胸腹至頭溫熱甚，紫霜丸法最為先。脈紋黑色又兼青，痢疾沾身最得真。冷痢面黃多出汁，若還熱痢困沉沉。形如水字肺家風，虛積相傳面色青。膈上有痰須瀉肺，去痰去積便惺惺。紋形紫赤渴應深，見水心歡恰似金。速與涼風通胃氣，絕叫煩悶不來侵。</p>

<h2>十八、辨冷熱證歌</h2>
<p>鼻冷應知是瘡疹，耳冷應知風熱病，通身皆熱是傷寒，上熱下冷傷食論。</p>

<h2>十九、辨百日內不治症</h2>
<p>發斑、臍風撮口、馬脾風、龜胸、解顱、猢猻禁，此皆不治之惡症也</p>

<h2>二十、對症用藥法</h2>
<p>夫人之深愛，莫過其子；醫學之難，莫如小兒。病楚不能言說，憑醫診察方知。醫乃精通妙理，當明萬法千機，一方一藥一病，莫令毫髮差殊。且如初生嬰孩，臍風撮口，天麻丸、保命丹並可醫治；胎驚、夜啼、腹痛、胎寒病，鉤藤膏、當歸散可治；咳嗽、傷風、痰熱，抱龍丸則可；便青哯乳、驚瀉，暖驚餅何疑？驚癇急慢，抱龍丸、異功散可治；吐蛔便蛔，長生餅、保安丸速效。惺惺散治變蒸發熱，參蘇飲療停食感冒，羌活散治四時風寒，八珍湯治熱癱癇，化滯丸利三焦消導，紫霜丸化乳癖堅癥，定命丹治胎風天吊。吐瀉、霍亂、炎天中暑，玉液、五苓、甘露；脾虛吐瀉，補脾助胃，香橘布袋丸；治疳積、腹大尫羸，橘皮散；療癖痞、四肢瘦瘁，褐丸子；消腹脹，萬金丸；治癉黃久積、眼赤肝熱，瀉青丸，亦治急驚目竄；心神驚悸，鎮心丸，兼治發熱驚啼；下痢赤白，看新久而用梅連；和氣疏通導下，量大小宣風通隔相宜；臟冷脫肛，豆蔻丸與石指散主之；小便閉澀，導赤散、八正散主之。艾熨丹瘡毒瘤兮，服化毒丹用針砭血；重舌喉閉兮，吹喉散降雪又奇。平旦忽驚搐，切防瘡疹；不時懵然驚叫，是祟物客忤於兒；頭面瘡癬，貼金花散服消毒散；鼻疳耳挺兮，紅綿散、月蝕等藥扶持；牙疳齒腐，青金散、蟾酥散、齏漿漱洗；疳積腹痛，五疳丸、長生丸和胃磨脾；胃傷蟲痛，安蟲丸、化蟲丸主之；慎食肥膩，肺寒咳嗽，鳳髓散、半夏丸主之；感冒風寒，清解散涼肌解表；和解攻裡，柴胡湯用有日期；咳嗽痰涎齁䶎，化痰丸、南星丸即止；馬脾風、風喉肺脹，奪命散、無價散痰喘皆除；痰食皆作，玉餅子、蔥白湯下；口瘡糜爛，倒聖散敷貼腳底；囟癃鼻塞，通關膏貼囟即通；驚風牙噤，定搐散可審安危；升發瘡疹，先使升麻、乾葛透肌，當歸、紫草、苓、耆活血。裡實者，助氣勻和活；裡虛者，助里涼肌。用溫藥宜防咽喉之燥塞，施涼劑恐怕里脫而寒虛。天麻防風丸善療驚風驚熱心驚，青州和蘇合丸醫吐瀉後而生慢脾。若下礞石化痰，奪命散乃為珍劑；下痢無度，水煮木香膏神效。腦冷鼻淵，三黃散吹之，辛夷散服之；眼盲目眩，灸鼻準，服夜明丸。行遲五軟，鹿茸丸弛筋補髓；顱囟陷下，地黃丸填腦滋基。龜胸肺壅，百合丹疏痰定喘；蛇腰龜背，灸肺俞而脊點龜尿。驚狂神亂，豬心丸、寧神膏安神定志；癲癇健忘，寧志膏、蠍虎丸待用無疑。</p>

<h2>二十一、初生調理法</h2>
<p>夫嬰兒始生，口中尚有惡物，穩婆即以綿裹手指，蘸黃連甘草汁，候啼聲未出，拭兒口中惡物令淨，方可浴穢。亦須預煎沸湯待用，不可犯生水。浴畢，更以蜜少許，調硃砂末一匙抹入口中，或以牛黃末少許、鎮心安神丸以解胎毒。新生浴兒，用豬膽一枚取汁，和入湯中，可免瘡疥之患，妊婦臨月宜備之。</p>

<h2>二十二、初生回氣法</h2>
<p>小兒初生，氣欲絕而不能啼者，必是難產，或冒寒所致。急以綿絮抱懷中裹之，不可斷臍帶，且將包衣置炭火中煅之，乃將大紙拈蘸清油，點火於臍上，二三十往來遍帶燎之。蓋帶連兒臍，得火氣，回腹入臍。更以米醋煎熱洗臍帶，須臾氣回，啼哭如常，方可洗浴。</p>

<h2>二十三、初生刺泡法</h2>
<p>如小兒生下即死，急看口中懸雍，齶上有泡，當以手指摘破，用綿拭血令淨。若血入喉中，不可治矣。</p>

<h2>二十四、初生通便法</h2>
<p>（大小便不通即鎖肚症）</p>
<p>初生小兒大小便不通，腹脹欲絕者，急令婦人以溫水漱口，吸咂兒之前後心並臍下、手足心，共七處，每一處凡四五次，漱口吸咂，取紅赤為度，須臾自通，不然無生意矣。有此症，遇此法可得再生。</p>

<h2>二十五、治初生遍身無皮法</h2>
<p>用白秈米撲粉之，候生皮方止。</p>

<h2>二十六、治生下遍身如魚泡如水晶碎則成水流</h2>
<p>用密陀僧研細乾摻，仍服蘇合香丸則愈。</p>

<h2>二十七、小兒七日腎縮乃初生寒氣感受所致</h2>
<p>用硫黃、茱萸各半兩研末，用大蒜調塗其腹，仍以蛇床子微煙燻之。</p>

<h2>二十八、胎寒論治（附臟寒）</h2>
<p>初生百日內口冷腹痛，身起寒慄，時發戰慄，時曲足握拳，晝夜啼哭不已，或口噤不開，或寒氣乘虛入臟，而成盤腸內吊之症。在胎時，母因腹大痛而致難產。經云胎寒多腹痛。亦有產婦喜啖肥甘生冷時果，皆致胎寒。或胎前外感風寒，或曾服涼藥，內傷胎氣，則孩兒生下，昏昏多睡，間有哯乳瀉白。若早不治，必成慢驚慢脾。宜用當歸散、鉤藤丸去其寒，俟氣勻神安，手足舒伸，次用參苓白朮散以養胃氣。至於乳母戒食生冷等物，庶可瘥也。</p>
<p>又有手足稍冷，面唇色青，額上汗出，不欲乳飲，入夜多啼，頗似前症，但無口冷寒戰，名曰臟寒，其病夜重日輕，腹痛腸鳴，泄瀉青水，間有不泄者。此症亦在百日內有之，皆因臨產時在地稍久，冷氣侵逼，或以冷水滲湯洗兒，或斷臍短而結縛不緊，為寒氣所傷，宜用前藥治之。若泄瀉者，以乳附丸治之；不泄瀉者，以白朮丸、蓬仙丸主之。腹痛甚者，先用食鹽同炒，茴香茱萸炒熱，用絹包熨兒臍腹上下。</p>

<h2>二十九、胎熱論治（附胎黃）</h2>
<p>小兒生下旬日之內，目閉面赤，眼泡浮腫，常作呻吟，或啼哭不已，時復驚煩，遍體壯熱，小便黃澀，名曰胎熱。蓋因在胎，母受時氣邪毒，或外感風熱，誤服溫劑，過食五辛姜面，致令蘊熱熏蒸於胎，故有此症。然治不可求速效，當以釀乳法漸解之。若遽以涼藥攻之，必損胃氣，加以嘔吐則危矣。先以地黃湯煎與母服，以釀乳方令兒飲之，以解其煩熱。若不解，次進地黃丸治之，母宜忌五辛酒面諸熱物可也。</p>
<p>又有生下遍身皆黃，身上壯熱，二便不通，乳食不進，啼叫不止，名曰胎黃，亦因母受熱而傳於胎也，用釀乳方並前藥治之。</p>

<h2>三十、夜啼論治</h2>
<p>夜啼有四，有驚熱，有心熱，有胎寒，有客忤。驚熱者，為衣衾厚，或抱懷久坐於暖處，以致邪熱攻心。心主神，神亂則驚。心與小腸為表裡，故啼泣而遺溺也。治當退熱鎮心，宜用三解散解之，或木通湯、抱龍丸化下，服之自愈。心熱者，見燈愈哭，面紅多淚，無燈稍息，蓋火屬陽，心亦屬陽，兩陽相搏，故見燈而啼甚。治宜涼心安神，當用五苓散加黃連、甘草煎服，再化下琥珀抱龍丸服之，至於入暮則應，蓋夜甚主陰，入則陰盛陽微，故腰曲額汗，面白頰青，伏臥多啼，呼而多淚，如盤腸內吊之症，治法與胎寒條同。客忤者，面色紫黑，氣鬱如怒，叫時若有恐懼，及睡則警惕，兩手抱母大哭。此誤觸禁忌神祇而得，或見異相之物，或因惡祟所侵，令兒目有所睹，口不能言，但驚啼無時，指紋俱隱。故《玉環集》云：忽然兩手形無見，定如搪突惡神靈。治法用蘇合香丸驅邪鎮心，如不愈，服犀角散、抱龍、鎮心等丸主之。</p>

<h2>三十一、臍風撮口症論</h2>
<p>（附臍突、胎驚）</p>
<p>小兒初生肚腹脹硬，臍畔四圍浮腫，口撮牙關緊閉，唇青聲啞，手足微搐，喉中痰鳴，攢眉而叫，名曰臍風。乃因臍帶剪短，或扎縛不緊，令風寒侵入臍中，或用鐵器斷臍帶，為冷所侵，或鬆動臍帶，水入生瘡，客風乘虛而入，傳之於心，蘊蓄其邪，復傳脾絡，致舌強唇青，手足微搐，口噤不能乳，啼聲似啞，喉中痰涎潮響，此症多致不救。若一七之外者，先用立聖散吹鼻中，啼則可醫，仍用薄荷湯調一匙與服。如不愈，用天麻丸或保命丹，以消風降痰之藥，入薑汁、蔥白、燈心煎湯調服，與解風痰，及用一字金煎薄荷湯調抹口內，若輕者即愈。若臍突肚緊，微有青色，口撮不開，乃肝風盛而脾土受制，不可施治。</p>
<p>又有臍突一症，又非臍風，此亦因初生洗浴，系臍不緊，穢水侵入臍中，旬日外，臍忽光浮如吹，捻動微響，間或驚悸作啼。治法用封臍膏入麝少許，調勻干放臍中封固，如濕爛者用黃金散摻之，仍用五福化毒丹，煎五苓散，加苡米仁煎湯服之。</p>
<p>又有胎驚症，月內忽然手足搐掣，目睛上視，舌強唇青，痰涎壅塞，發過如故，名曰胎驚，比之臍風則口不撮、臍不腫為異，亦因初生不謹，感冒風寒所致，治用天麻丸或保命丹，蠍梢散亦可。</p>

<h2>三十二、變蒸論治</h2>
<p>夫變者易也，蒸者熱也。小兒初生，三十二日一變，六十四日一蒸，所以生長骨脈五臟六腑之神智也。蓋三十日，天道小變之節，而人身亦有三百六十五骨，除手足中四十五碎骨，外有三百二十數。自生下，骨一日十段，而三十二日計滿其數，所以三十二日而一變也。故骨之餘氣入齦中，作三十二齒，而齒有不及三十二數者，是變之不足其常也。且小兒初生，三十二日為一變，再變為蒸，凡十變為五小蒸存焉，積三百二十日小蒸畢。六十四日大蒸，大蒸後一百二十日復大蒸，積五百七十八日大小蒸俱畢，而後能行動矣。其候溫溫微熱，耳冷尻冷，氣粗驚少，哯乳瀉黃，上唇尖有小泡如珠子者，治法用惺惺散，略與和解，不必重劑，或抱龍丸亦可。如兼別症，當依所感之症治之可也。</p>

<h2>三十三、急驚論治</h2>
<p>夫急驚之症，忽然悶絕，目直上視，牙關緊閉，手足抽掣，痰涎潮塞，面赤脈數，氣促身熱，及發定，睡起了瞭如故，名曰急驚。古方書所謂陽癇是也。蓋由失所愛護，或抱於當風，或近於熱地，或多食辛辣，或衣衾太厚，邪熱鬱蒸，積於心，傳於肝，又受人物驚觸，或見異相之物，及厲聲觸響所驚。其未發之時，夜臥不穩，困中或笑或哭，齧齒咬乳，鼻額有汗出，則發驚也。且鬱蒸已甚，雖不因驚，亦是發搐。是急驚者，皆因熱甚而生風生痰，風熱相摶，而驚所由發也。治當候其搐勢漸減，而與鎮心退熱之藥，如抱龍丸、鎮心丸之類。若感風熱而不愈，則用清心丸、涼驚丸、天麻防風丸、至寶丹等藥，選而治之。若既愈，亦須時服硃砂安神丸調理。又有小兒啼哭不時，氣鬱不舒，內不能升，外不能發，輾轉驚時，亦能作搐，昏迷不省，與驚風相類，治用蘇合香丸，以薑汁沸湯調灌即解，蓋氣盛則搐停故也。又有天吊者，目睛反視，頸項強，兩手掣轉向後，大哭如怒，腳曲腰直，發熱痰鳴，爪甲皆青，狀若鬼祟，名曰天吊，蓋由風痰壅結，上貫心包，以致經絡閉而不通，治法同急驚。又有暑風者，因夏月感冒風熱所致，其症面垢唇紅，脈沉細數，時發驚搐，不省人事，治法用五苓散，加辰砂調服，或抱龍丸、太乙金膏，或停搐散，俱可服。</p>

<h2>三十四、慢驚論治（附慢脾風）</h2>
<p>夫慢驚者，目慢神昏，手足緩搐，口角流涎，眼微上視，或斜轉，及兩手握拳，身冷，口中氣冷，或囟門陷，此虛極症也。脈沉無力，睡則揚睛，此真陽衰耗，陰邪獨盛，名曰慢驚，古書所謂陰癇是也。蓋由外感風寒，內作吐瀉，或大病之後，或傳誤轉之後，則脾胃虛脫，陰盛生寒，寒為水化，水能生木，木為風化，木盛剋土，胃為脾之腑，故胃中有風，而慢驚所由作也，當其慢驚將作之時，只用白朮散，加山藥、扁豆、豆蔻、生薑煎服。若慢驚已發，加細辛、天麻、全蠍、白附子，或用醒脾散、醒脾丸，或青州白丸子和蘇合香丸，入薑汁拌勻，用米飲調服，間以胃苓湯救其裡熱。若痰盛喉中如鋸，藥不能下，然當用撩痰方去其痰。氣實者，可用奪命散、白丸子，控下其痰涎，方進前藥。然慢驚屬脾虛，宜溫補，峻劑不可輕用。夫此症多致不救，若稟賦實者，間有死中得生，治之不可不慎。</p>
<p>又有慢脾風者，自慢驚傳變，皆因胃虛生風，風入脾經所致，治同前法。</p>

<h2>三十五、驚風可治症</h2>
<p>非時吊眼，驚入肝；夢裡咬牙，驚入腎；夜啼至曉，驚入小腸；面青下白，驚入膽；氣喘吃水，驚入肺；面臉紅赤，驚入心；前後五心熱，驚入大腸；不時乾嘔，驚入脾胃；睡中驚哭，在三焦。發搐男視左，女視右為順，則易治；男引手挽，左直右曲，女引手挽，右直左曲，為順。</p>

<h2>三十六、驚風不治症</h2>
<p>爪甲黑，不治；瀉黑血者，不治；身多盜汗不止，不治；忽作鴉聲，不治；咬人，不治；眼半開半合，不治；口乾鼻黑，不治；發搐男左女右，反者不治。</p>

<h2>三十七、癇症論治（附發狂、怔忡）</h2>
<p>陰癇者，因慢驚後去痰不盡，痰入心包不解，四肢遂冷，吐舌搖頭，口嚼白沫，牙關緊閉，但不甚驚哭作啼，面色或白或青，脈息沉微，即慢驚之類，治法亦同慢驚。陽癇者，因驚風三次發搐，不與去風下痰，則再發三次者，或一月一季一年之中，所謂驚風三發便為癇，即此義也。其病身熱自汗，兩目上視，嚼沫咬牙，手足掣搦，面色紅紫，六脈浮數，即急驚之類，治法與急驚同。胎癇者，因未產時腹中被驚，或母食五辛熱物過多，或為七情所迫，致傷胎氣，兒生百日內，面色紅赤，氣逆痰升，目直上視，身如反弓，口吐白沫，治法亦與急驚同。六畜癇者，發時作豬羊雞犬牛馬等聲，便致僵仆，口吐涎沫，不省人事，咽喉為痰所梗，其發作六畜聲者，聲自如此。言畜者，特其強名耳。治宜疏風順氣，化痰為先。食癇者，因飲食時偶被驚搐，停滯食不克化，淹留日久，氣鬱痰結，則風熱生，陳氏謂氣結成癇，此之謂也。治宜寬中順氣，去風痰，當用蘇抱丸治之。</p>
<p>又有發狂者，小兒長大時，妄言不食而歌，甚則逾垣上屋，棄衣而走，或一日二日方醒，始因冒熱感風，風熱內蓄，久則風痰鬱結，上迷心包。蓋心乃神之舍，偶為邪熱攻逼，則神失其守而昏亂，名曰狂。治法清心疏風，去痰退熱為主，若不速治，至再三發，難為治療，必成廢人矣，且諸癇之名雖異，而本於風痰則同，是以所用之藥，大抵相似，或用延生錠子、保命丸、比金丹，重者虎睛丸、清心丸，或豬心丸、蠍虎丸等治之，壽星丸亦可。若諸般驚癇，昏迷不省口噤者，先用搐鼻開關散，以探其安危，然後次第用藥。</p>
<p>又有怔忡一症，發時心頭惕惕而動，恍惚若有人捕獲者，何也？蓋神清則心寧，心熱則驚悸，皆由小兒稟賦怯弱，而受嚇驚恐，則熱鬱於內，心血虛耗，而心為之惕惕也。其發作時，皆由奔走動勞所致，治法宜用寧心膏，或硃砂安神丸，又煎四物湯化下。</p>

<h2>三十八、諸驚癇症辨</h2>
<p>夫驚癇之症，大抵相似。醫貴乎明辨，苟或識病一差，治療一誤，則絕人之生命，此豈小事，而可輕忽哉？故余於諸驚癇論之後，復明外候之不同，欲人之易曉耳。蓋身熱力大搐急者，為之急驚，身冷力少微搐者，為之慢驚，仆地作聲，醒時吐沫者為癇，頭目仰視，狀若鬼祟者，宗為天吊，角弓反張，手足強直者為痙，而治各不同也。若夫因氣因食因暑而卒然僵仆者，此又暴病之類，而非驚風之症也，此又當察其所因而治之，烏可一概同論哉！</p>

<h2>三十九、咳嗽論治（附齁䶎、馬脾風）</h2>
<p>夫咳嗽者，固有冷熱虛實之不同，然未有不因感冒傷肺而得。《內經》曰：肺之令人咳，何也？岐伯曰：皮毛者，肺之合，先受邪氣，邪氣得從其合，故發熱咳嗽。《難經》曰：形寒飲冷則傷肺。肺病氣上而不下，逆而不收，沖壅咽膈，淫淫如癢，習習如梗，是冷嗽也，皆由小兒乍暖脫衣，暴熱遇風，邪氣侵入肌膚，肺先受之，而為咳嗽，其外候面赤唇紅，氣粗鼻塞，發熱鼻流清涕，嗽來痰鳴。若鼻塞甚，不能吮乳，治法先用通關膏貼囟門，後服抱龍丸，或瀉肺散亦可。又有汗出未乾，遽爾戲水，亦致傷風咳嗽，其外症眼胞浮腫，額汗痰鳴，治法同前。又有脾虛發嗽，當投醒脾散，或參苓白朮散，以實脾土，然後用前藥，以解肺經風寒可也。又有初生百日內，嗽盛痰壅者，皆因產下感風而得，用抱龍丸、惺惺散治之。又有咳嗽至極時，頻嘔吐乳食，與痰俱出，出盡方少定，此皆風痰壅甚故也，服化痰丸、膽星散、礞石奪命散，皆可取救。又有肺寒痰嗽者，鳳髓散、半夏丸、三拗湯，可治小兒喘痰甚。咳嗽亦有虛實冷熱之分，實熱者，皆風痰壅盛所致，當用瀉肺散、抱龍丸、南星散、化痰丸等藥治之。虛冷者，皆肺虛冒風，氣不升降所致。或病久肺虛者，用人參定喘湯或阿膠散以補肺，後用抱龍丸等藥以祛痰，又有脾虛不能制腎水，腎水侵肺而發喘者，其外候身必浮腫，治以五苓散，調參苓白朮散，以實脾土，兼導腎水，然後再用半夏丸，定肺喘以通水氣。若嗽久肺虛，其候面唇皆白，嗽聲不絕，喉中痰鳴，哽氣長出，嗽罷則吐白沫，乳食皆減，此乃脾胃俱虛，或乾嘔作吐，治法先用阿膠散、人參潤肺散、紫菀散以補之，後用化痰丸，以下痰則愈。</p>
<p>又有齁䶎一症，蓋由啼哭未已，遽與兒食，或飼以酸鹹，氣鬱不利，致令生痰，或受暑濕所侵，未經發散，邪傳心肺，鬱而為熱，熱生風，風能生痰，痰實不化，結成頑塊，或如豆粒，遂成痰母，故痰母發動而風即隨之，風痰潮緊，氣促而喘，俗云哮病是也。若不治，乃成痼疾，急服化痰丸、南星丸等藥，以去風痰，或紫金丹亦可。</p>
<p>又有馬脾風症，肺脹喘滿，胸高氣急，兩脅搐動，陷下作坑，兩鼻竅張，悶亂咳渴，痰涎潮塞，是亦風痰所致，當急服牛黃奪命散、無償散等藥治之。若症輕者不必重，則宜金沸散、三拗湯、保肺丸，隨症選用可也。</p>

<h2>四十、諸吐論治</h2>
<p>按吐之感不同，有冷熱痰積之異，醫者必須明辨而施治也。蓋冷吐者，乳食不消，吐多而出少，脈息沉微，面白氣緩而神昏，額上汗出，此因風寒入胃，或過食生冷，或傷宿食，脾胃虛寒而吐，治宜溫胃為主，如助胃膏、豆蔻理中丸、木香餅子、補脾散、參朮養脾丸，皆可服。熱吐者，面赤唇紅，吐少而多出，乳片消而色黃，通體熱甚而煩躁，此因冒暑，或食熱物所致，宜用五苓散、桂苓甘露飲等治之，或六和湯亦可。積吐者，眼胞浮腫，面微黃，足冷肚熱，日輕夜重，脈沉緩，此宿食滯脾，故吐黃酸水，或用清痰，脈實滑為食積所傷，吐酸餿氣，或宿食並出，小兒哯乳不化是也，宜用保和丸煎五苓散化服，或木香餅子、七香丸、木香長生丸、保安丸皆可。傷風寒嗽吐者，蓋熱生風，風生痰，風結胸中，肺氣不順，咳嗽有痰不止，治用抱龍丸、化痰丸。如久嗽肺虛，土不生金，故面白唇淡。若干嗽乾嘔者，可用保肺丸、潤肺散等藥治之。諸吐不止，須要樽節飲食，或一日三次五次，不可過飽，徐徐用調理。</p>

<h2>四十一、諸瀉論治</h2>
<p>瀉之為病，其源不同，有冷熱驚積疳瀉，豈可混治而不別哉？夫冷瀉多是白水，瀉密而少，腹痛而鳴，眉皺面白額汗，此冷瀉也，皆因感冒風寒，多食冷物所致，宜用木香餅子，或助胃膏煎五苓散調服，或豆蔻理中丸、補脾散亦可。熱瀉者，大便黃色，心煩口渴，小便赤少，食乳必粗，此為熱瀉，宜煎五苓異功散、香茹飲、甘露飲等藥治之。食積瀉者，因脾胃虛弱，復為生冷油膩果食所傷，或因乳母食生冷油膩等物，自乳而過，亦能作瀉，大便黃色如壞雞子，腥臭異常，身形黃瘦，宜煎五苓散，化下保安丸，或保和丸，或木香餅子、長生餅皆可。如積滯甚者，先用參苓白朮散補脾胃，後用七聖丸消其積。有疳積釀瀉，其候面色萎黃，肚脹腳弱，頭大項小，發稀且豎，肌肉消瘦，不思乳食，或腹內有癥癖氣塊，瀉則顏色不等，其臭異常，其瀉有時，或一月半月一番，自瀉自止，治法先理其疳而瀉自止，用蘆薈丸，或肥兒胡黃連丸皆可服，或用紫蘇、木瓜煎湯化下。內有癖者，或用褐丸子、阿魏丸，外貼木鱉膏或琥珀膏，則積消而瀉止矣，後用參苓白朮散，以補其脾胃，治斯不慝。夫諸瀉不可驟用止澀之藥，必先推其源而治之，則原清而流亦清矣。苟以熱藥遽止，反生他病。然亦有久瀉而腸胃虛滑者，亦可用肉豆蔻丸止之。夫諸瀉所感不同，而本於脾胃則一。經曰：諸濕腫滿，皆屬脾土。又曰：治濕不利小便，非正治也。故治瀉以分陰陽，利小便為上，醫者不可不察。又有驚瀉一症，糞青如苔，稠若膠黏，皆因驚熱。肝主木，木盛而克脾土，治法不可便止，但鎮心抑肝和胃消食為主，先服五苓散，次服暖驚餅子，或煎五苓散，化下抱龍丸亦可。</p>

<h2>四十二、吐瀉論治（附乾霍亂）</h2>
<p>夫霍亂吐瀉者，乃揮霍擾亂之症，先心痛則先吐，先腹痛則先瀉，心腹俱痛，則吐瀉並作，皆因內有所傷，外有所感，陰不升，陽不降，以致清濁相干，蘊作而然。亦有冷熱之分，吐乳瀉黃，多欲飲水，面赤唇紅，六脈洪數，此為熱也。吐乳瀉白，不欲飲水，額前有汗，六脈沉濡，此為冷也。熱者用五苓散或香薷飲調治，冷者用生薑理中湯、玉液散調治。六和湯通治霍亂之症有效。又有吐瀉而轉筋者，手足拘攣而痛，蓋因吐瀉耗散其津液，血耗不能養筋所致。《千金方》男挽其陰，女牽其乳，此法最善。或先用蓼一把，去其頭，水煮湯熏洗，或鹽湯亦可。又有霍亂已死，腹中有暖氣者，鹽納臍中，灸七次，亦可復生。</p>
<p>又有乾霍亂者，忽心腹脹滿絞痛，欲吐不吐，欲瀉不瀉，死在須臾，升降不通故也。必須吐以提其氣。吐法用軟雞翎蘸清油以探喉中，即吐，或鹽湯白礬湯灌之，皆可吐，此治乾霍亂之法也。</p>
<p>大抵吐瀉霍亂，治療略同，方可通用，故論雖分門，而方並列於上。</p>

<h2>四十三、黃疸論治</h2>
<p>夫黃疸之病，在大人有五疸之分，有黃汗、黃疸、谷疸、酒疸、女勞疸，此五者之症，所感雖異，而其為濕熱蘊發則同。故丹溪云：不分五種，同是濕熱，與四盒音曲相似。《嬰兒寶書》云：黃疸皆因胃熱。由是觀之，皆因小兒飲食過度，積鬱成熱，脾胃虛弱，而黃色外見，以胃主肌肉故也。又有感受濕熱，鬱於腠理，淫於皮膚，蘊積成黃，而熏色發現於外。其現症，皮膚、面目、齒、爪皆黃，四肢倦怠，小便如梔汁者是也。然又有陰陽之別。蓋陽黃者，大便閉，小便赤澀，身熱引飲是也，當用茵陳蒿湯調下五苓散，以利其小便；如大便不通，則加大黃，或滲濕湯亦可。陰黃者，便自調，面目及身黃，四肢冷，不欲飲水是也，當煎五苓散化下調中丸，加茵陳亦可。有食積發黃者，治用五苓散及小溫中丸。又有疳瀉發黃、疳癖發黃，此又本於疳症，但治其疳，而黃自退，當參疳病條施治。</p>

<h2>四十四、腫脹論治</h2>
<p>夫腫脹之症，蓋由小兒飲食失節，或外為五淫所侵，以致脾土受傷，而失運化之職，則腎水無制，而氾濫妄行，滲於脈絡，皮膚為浮腫也。其外症小便澀少，四肢倦怠，通身皮膚光腫如水泡，胸膈滿飽，飲食不入，世俗喜行利藥，但求一時之快，繼而腹脹愈甚，而真氣受傷，去死不遠矣。治法必先補中行濕，利小便，宜煎五苓散調實脾散，或醒脾散、助胃膏亦可，或用中滿分消丸加五皮散、塌氣散，亦皆可服。失此不治，而至於臍凸氣喘，則水愈盛而脾愈虛，雖有良醫，亦難為矣。又有久患吐瀉或下痢大病之後，而通身面目浮腫，手足無力，飲食不為肌膚，此乃脾虛發腫，宜大補脾胃，用參苓白朮散、醒脾散、助胃膏等藥服之，但胃氣既回，則腫自消矣。更有食積停滯而發腫者，宜用保和丸及消食丸，以消導其食。大凡此症，惟春令難於療理，春屬肝木旺，而脾土受克故也。</p>

<h2>四十五、下痢論治</h2>
<p>存仁先生云：夫小兒有八痢：曰冷，曰熱，曰冷熱不調，曰休息，曰釀痢，曰疳，曰驚，曰蠱毒痢。蓋冷痢則色白，熱痢則色赤，冷熱不調則色兼赤白，疳痢色黃白，積下無時，驚痢色青，休息痢糞如魚腦，愈後而復作，釀痢則停積，面黃肚大，飲食不為肌膚，大便秘澀，疼痛啼叫，蠱毒痢下紫黑色。河間《原病式》云：不可以赤白分冷熱，皆是濕熱之症也。赤者，濕熱傷血分；白者，濕熱傷氣分；赤白相兼，氣血俱傷，久而不愈，脾虛氣弱，積滑下凝，猶魚腦矣；脾胃濕甚，氣虛濁液並流，五色錯雜，狀如豆汁矣；脾胃受寒，色如白膿；熱傷血深，濕毒積瘀，則色紫黑，藏積欲出，氣滯而不與之出，則下迫窘痛，後重裡急矣。推原其由，皆因食積滯於腸胃，又為風寒暑濕之氣干之，故為此疾。治法必推蕩之，宜用當歸導氣散，大承氣、調胃承氣湯故可服之，切不可用巴、硇熱毒等藥，下之後，隨其氣病血病而用藥。有氣虛不可下者，如香連丸及加減平胃散，稍久用梅連丸，皆可服。下血者宜涼血，用地榆湯去乾薑加桃仁。有風邪下陷者，用當歸和氣散治之。有冷痢者，純下白凍，或白中粉紅色，或似豬肝色，此皆屬陰症，當服木香長生餅，或助胃膏，或生薑理中湯、參香散治之。有時疫痢者，傳染相似，此由天氣晴雨不常，陰濕之氣盛，以致冷熱相干，腸胃糟粕不化，遂成斯疾，治法宜用黃連、木香、地榆、川芎、白芍、當歸、肉蔻等藥凋理。凡痢不可遽用澀藥，恐穢積未除，反生他病，必久痢而腸胃滑者，方可水煮木香膏，或固腸丸等藥止之，立效散亦可服之。又有大孔痛者，暴病因熱流於下，宜清之，久病因腸胃虛弱者，宜溫之。大抵痢疾能飲食者易治。又有胃口熱甚不能飲食者，名曰噤口，當用田螺搗爛入臍中，以引其熱，用黃連人參，終日呷之，或用香連丸、開胃丸亦可。又有食積痢者，用保和丸、消食丸可治。驚痢者兼平驚，疳痢者兼治疳，釀痢者，沒石子丸治之，蠱毒痢者去其毒，除其熱，而後溫其脾，有刮腸痢者，鮮血頻滴，肛門寬大深黑，腹肚癢痛，滑腸痢者，飲食不為肌膚，若患下痢失於調理，傳變噤口、刮腸、滑腸等症，則難治矣。又有下痢純血者，如塵腐色者，如屋漏色者，大孔如竹筒者，唇如硃砂者，俱死不治，如魚腦者，身熱脈大者，半生半死，醫者宜細詳之。</p>

<h2>四十六、脫肛論治</h2>
<p>按《脈訣》云：大腸與肺為傳送，何也？蓋肺與大腸為表裡。肛者，大腸之門，大腸熱則結，閉而不通，虛寒則腸頭出露。有因痢久，裡急後重，努力肛門，更為外風所襲，則肛脫。或為濕熱作瀉，腸滑不禁，或稟賦怯弱，脾胃虛冷，亦致虛脫，蓋大腸燥，而土虛不能生金，金氣既虛，則傳送之道亦虛，又為風冷所襲，故肛門脫而不收。治宜補脾溫胃，脾土得溫，使金得受母之益，後用參苓白朮散，或用助胃膏以服之，外用赤石脂以貼之。既上服參苓白朮散或平胃散，間投豆蔻丸，以止澀之。如此治療，宜無不收，病自愈矣。</p>

<h2>四十七、積塊論治</h2>
<p>夫食者人之本，雖能養生，亦能害生，何也？蓋小兒知食而不知飽，過餐生冷堅硬之物，脾胃不能運化，於是停滯中脘，又為風寒暑濕之氣所侵，則成積矣。其外症頭痛、面黃、身熱、眼胞浮腫、肚腹膨脹、足冷肚熱，飲食不納，或嘔吐口臆酸氣，大便餿臭，此傷食積病也。治用保和丸、消食丸、穀神丸等藥消之。如不消化而氣實者，以木香檳榔丸下之。若積久而成塊，或左或右，在中脘為痰飲，在左為血塊，在右為食積。此論也，蓋小兒多是痰食，不可專用下藥，當消導使融化，如木香化滯丸、七聖丸、萬金丸等藥磨化，或大溫中丸亦可。如氣實可下者，用木香化滯丸、紫霜丸、三稜等以下之。下後須大補，或參苓白朮散、助胃膏以補之。若無癖而腹膨者，用褐丸子治之。又有停食感冒，宜用參蘇飲治之，或用防風、羌活、紫蘇、升麻、葛根煎湯，化下保和丸以服之。有時時泄清水如生菜汁，是受驚而後有積，煩悶啾唧，常似生嗔，名曰驚積。先解驚，後理積，用五苓散化下保和丸，或用神麯、麥芽、白朮、枳殼、木通、山楂煎湯，化下抱龍丸，外用木鱉膏、琥珀膏貼之。大抵此症不可過於攻擊，貴於以漸消除，勿損脾胃，勿傷元氣，斯為善治。苟或攻取太急，致傷脾胃，反生潮熱，脾虛則生風，至不救者有也。</p>

<h2>四十八、疳證論治</h2>
<p>（附走馬、丁奚、哺露、無辜等症）</p>
<p>大抵疳之為病，皆因過餐飲食，停滯腸胃，脾氣虛弱，不能運化積癥，津液內竭，而疳症所由作也。其外症頭皮光耀，毛髮焦稀，囟縮鼻乾，口淡唇白，兩眼昏眵，撏鼻撏眉，脊聳體黃，閉頰咬牙，焦渴自汗，尿白瀉酸，肚脹腹鳴，痞結潮熱，或多生瘡，酷嗜瓜果、鹹酸、灰炭、泥土，此其症也，治用五疳丸、肥兒丸治之。然疳症初只是臟腑有積，失而不治，傳經不愈，遂成疳疾。心疳者，發熱面赤，自汗弄舌，驚悸煩躁，作渴引飲。此病皆因心虛血弱，神不守舍所致，治當寧心退熱，滋榮養衛，如硃砂安神丸，煎四物湯化下，仍與治疳藥餌相間服之。肺疳者，潮熱咳嗽，痰喘唾咯膿血，鼻乾毛聳，此因傷風傷寒，汗後勞力，復過食鹹冷辛酸之物，傷損肺氣所致也，治當退熱止嗽、補肺化痰之藥，用阿膠散與治疳藥相間服之。脾疳者，因脾氣虛弱，以致面腫、目黃、腹大、泄瀉、癖痞、肚痛，焦熱多睡，此脾疳也，治法磨積退黃和脾胃，進飲食，用蘆薈丸、參苓白朮散服之。肝疳者，多因胎患而得，撏目揉眉，扎眼脅痛，便青體冷，筋寒唇紫，目有眵淚，睛青遺白，此肝疳症也，治法涼肝活血，順氣補脾，用六味地黃丸，與治疳藥相間服之。腎疳者，耳輪焦黃，翕翕發熱，疳氣衝上焦，邪熱熏於陽明之經，則齒腐齦爛，臭穢異常，甚則齒落，俗謂之走馬疳，此病多因痘疹之後，或多食甜膩之物而得也，治法宜用調元散或地黃丸，與治疳藥相間服之。五疳之症，皆由脾臟積久傳變所致，故治疳專主臟腑，大凡小兒一有積滯，先用保和丸或保安丸消化，庶不使成疳症。若積久而成疳，亦須察冷熱二症以施治。熱疳者，多渴引飲，好臥冷地，煩躁啼叫，飲食不進，漸成羸瘦，治宜胡黃連丸。冷疳者，目腫腹脹，痢色無常，或沫青白，漸漸瘦弱，治用蘆薈丸，或木香丸、五疳丸、仙方布袋丸、肥兒丸。有蟲服胡黃連丸、大使君子丸。氣實者，下蟲丸、萬靈丸皆可服。</p>
<p>有丁奚者，面白色慘，潮熱往來，腹大而多青筋，手足如筒，顱囟開解，項小而身黃瘦。有哺露者，其候與丁奚相去不遠，但哺露則食多而吐逆，臟氣虛冷，而泄瀉無度，糞中有蟲為異耳，治宜先用參苓白朮散以養脾胃之氣，後服五疳丸、十全散或肥兒丸，殺蟲消疳，再服蘆薈丸以調之，俟其胃氣稍和，漸加飲食，再用木香檳榔丸，下二三次，仍用參苓白朮散、止補丸，然服藥後一切堅硬生冷甘甜毒物並宜忌之。</p>
<p>又有走馬疳者，多因宿滯留於腸胃而不去，積濕成熱，虛熱之氣上蒸，或痘疹後多食甜酸鹹膩之物，積滯日久，蘊熱上薰於口，以致齒焦黑爛，間出青血，血結成膿，膿血成蟲，侵蝕口齒，甚至腮穿頰破，乳食不便，面色光浮，氣喘熱作，治法內服蘆薈丸、五疳丸，外用溫鹽水或韭汁漱洗，或軟雞翎蘸鹽水拂洗，略拭乾，仍以蘭香散，並諸敷藥搽之，若經久不愈者，傳於唇之上下，乃成崩砂之症，以致穴發滿腮，齒落骨露，飲食減少，氣促痰鳴，症則危矣。</p>
<p>又無辜疳者，其候面黃髮直，時時壯熱，頭大項小，手足細弱，飲食不生肌肉，皆因小兒衣服露之經宿，無辜鳥在上飛過，墜尿於上，便與小兒穿，以致斯疾。其初舌下有蟲，若不速去，當損其命。又腦後有核，初生軟而不覺痛，其中有蟲如粉米，得熱氣則漸大，隨氣流散，子母相生，侵於臟腑，肌肉生瘡，大便瀉膿血，致使漸漸黃瘦，而成無辜之症也。大抵與丁奚相似，故治法亦同。腦疳者，頭皮光急，毛髮作穗，頭上生瘡，流出黃水，不結痂蓋，內服蘆薈丸，外用青金散等藥敷之，或用鯽魚膽滴入鼻中，連三五日，甚效。骨疳者，喜臥冷地，當補腎地黃丸主之。又有因疳而渴者，因胃無津液故也，當生胃之津液為主，用參苓白朮散主之。疳而白濁者，因胃中濁氣下流，當消食補虛，用保和丸主之。食土疳者，胃熱故也，治用熟石膏、黃芩、陳皮、茯苓、白朮、甘草煎服之。黃疳者，因積熱所致，用保和丸主之。疳瀉者，用香砂保安丸、使君子丸主之。疳痢者，用沒石子丸主之。疳脹者，褐丸子、蘆薈丸主之。積疳者，用阿魏丸、肥兒丸主之。在外疳癆，鼻不赤爛，準頭有瘡，不結痂蓋，繞耳生瘡，此疳蝕瘡外，當用月蝕散敷之，須察冷熱而施之，疳症無不愈。</p>
<p>又有疳癆一症，因疳經久不治所致，氣血消耗，與大人癆瘵同治，宜四君子湯、四物湯、補腎地黃丸、金蟾丸、蒸雞丸等，與治疳藥相間服之。</p>
<p>又有小兒不能樽節飲食而成疳症，前條主治之方已錄出，亦特舉其大略而已，亦必須與治疳藥相間服之可也。</p>
<p>經曰：藥不執方，合宜而用之。同志者幸無疑於此焉。</p>

<h1>卷下</h1>

<h2>一、諸熱論治</h2>
<p>小兒身熱不一，有傷寒熱、傷風熱、變蒸熱、積熱、驚熱、痘疹熱、潮熱、骨蒸虛熱，名雖同而實則有異，可不明辨而施治乎？傷寒熱者，十指稍冷，翕翕發熱，無汗，面慘凌振，右腮有紫絲紋，治法載傷寒條。傷風熱者，鼻流清涕，咳嗽吐痰頭疼，治法載咳嗽條。變蒸熱，溫溫微熱，氣粗驚少，哯乳瀉黃，上唇尖，有小泡如水珠，治法載變蒸條。食積熱者，眼胞浮腫，面黃足冷，發熱從頭至肚更熱，惡食或嘔或瀉，治見積塊條。驚熱者，遍身發熱自汗，心悸不寧，脈數煩躁，治見驚症條。痘疹熱者，面赤足冷，身壯熱，呵欠，煩悶咳嗽，時或作驚，噁心耳冷，鼻尖冷，尻冷，耳後有紫絲紋，治見痘疹條。潮熱者，或午後發熱，或日晡發熱，來時如潮水之應不差是也，治法有汗用地骨皮散，無汗用小柴胡湯，或生犀角散皆可服之。骨蒸熱者，身體虛羸，至晚則發，有熱又寒，醒後渴汗方止，此病皆因吐瀉下痢疳積久病之後，津液消爍所致，與大人勞病同治，宜服六味地黃丸，並人參柴胡飲、參苓白朮散等藥，或補中益氣湯治之，不止用地骨皮散、犀角散治之。虛熱者，因大病後，或解表攻裡，既退而復熱，若施涼劑，熱反愈甚，此乃表裡俱虛之症也，宜用溫補之劑，如白朮散去木香加扁豆，及參苓白朮散皆可服。凡諸熱所用之藥，當推其致病之原，而用藥施治，切不可泥方而誤於人也。小兒發熱有五：早晚兩度者，謂之驚熱，世俗謂之潮熱；形瘦多渴，吃食不長肌肉者，為之疳熱；煩叫不時面青者，謂之風熱；睡覺顛倒，啼叫無時，身熱口渴者，謂之積熱；日中不熱，夜熱天明覆涼者，謂之傷寒發熱。</p>

<h2>二、諸汗論治</h2>
<p>夫汗者，心之液，小兒汗症不一，當詳其本原而治之。如脾虛自汗，多出額上，速救胃氣，觀音全蠍散、參苓白朮散服之。肺虛自汗，其候面色㿠白，肺脈無力，咳嗽連聲不已，以致肺中虛氣上壅，致令汗出，宜用阿膠散治之。慢驚自汗，遍身俱冷如冰，此症已危，當參慢驚條施治。有感冒風邪，發熱汗出者，宜服蘇橘散。有時時冷汗微出，髮根如貫珠，而額上濺濺然，此驚汗症，宜用抱龍丸。有睡中汗出者，名曰盜汗，此心氣不足所致，當用當歸六黃湯。諸虛不足，或大病後自汗者，當投牡蠣散治之。</p>

<h2>三、諸血論治</h2>
<p>夫人之所賴以生者，血與氣也。心主血，肺主氣，氣煦血濡，榮養百骸，而灌溉諸經者也。苟調護失宜，外感諸邪，使熱鬱蒸於內，血得熱則妄行，由是拂而上逆，或流而復返，以致吐血、衄血、瀉血、溺血之症。施治之法，在於涼血、消熱、順氣而已，不可過投寒涼藥，使血寒不得歸原而凝滯。故吐血、衄血不止，先搗藕汁飲止之，後用雞蘇丸或犀角地黃湯等藥。腸風下血者，當歸和氣散、槐花散治之。溺血者，八正散、小薊湯加減服之，或用升麻、甘草煎湯，調益元散服之，或導赤散亦可服之。</p>

<h2>四、傷寒論治（附夾驚、夾食）</h2>
<p>夫傷寒治法，仲景論之詳矣，愚不敢贅，今姑言其略，以為施治之大法。蓋春溫、夏炎、秋冷、冬寒，乃四時正氣，惟冬令嚴寒，易於觸冒。故自霜降後、春分前，感寒而即發者，為正傷寒是也，其不即發，寒毒藏於肌膚，至春變為溫病，至夏變為暑病，或將發而復感暴寒之氣，此不即發之溫暑，與冬月所受之傷寒邪，而春夏自感暴寒之氣，此即所謂四時之傷寒也。又有春應暖而反寒，夏應熱而反冷，秋應涼而反熱，冬應寒而反溫，非其時而有其氣，人感冒之，大小所患疾病相似，此即所謂瘟疫也。又有小兒在襁褓中，或長成而稟賦虛怯，苟失調護，又被寒邪所侵，而傷寒之症所由作也。其候噴嚏凌振，五指稍冷，關紋不見，面目俱紅慘而不舒，氣粗體熱，無汗惡寒，是傷寒也。若一二日間，宜用人參羌活散、芎蘇飲、清解散、人參敗毒散，發散寒邪。若頭痛、惡寒已除，不惡寒而惡熱，邪在半表半裡，宜用小柴胡湯、人參前胡湯以和解之。若表症已解而大便難，方可擬下，宜用小承氣湯。若邪結胸中，胸膈高起，不按自痛者，名大結胸，按之方痛者，名小結胸。然小兒多有結胸之症，宜投小陷胸湯，入蜜同煎。其外候兩眉尖紅，唇紫鼻青，咳嗽痰結，氣促身熱汗出，目露白睛，頸項如柔蛭之狀，不可俯仰，是其症也。若自痢不渴，寒多而嘔吐腹中痛者，用理中湯。若陰症身重，語言無聲，氣少難以布息，目不瞭瞭，口鼻氣冷，水漿不入，二便不禁，面上惡寒如刀刮，先用蔥熨法，內服四逆湯。若汗下後，表症已解，邪熱在裡，心胸煩渴，欲飲水者，宜加味白虎湯、竹葉石膏湯。若病後虛煩不得臥者，參胡溫膽湯主之。若傷寒發嘔，可用藿香正氣散。若時行瘟疫，十神湯、柴胡升麻湯、抱龍丸等藥治之。</p>
<p>若夾驚傷寒，或先受驚而後感寒，或先感寒而後受驚，其外候身微有熱，心燥而渴，睡中多驚，手足動掣，面紅咳嗽，咬牙呵欠，山根準頭，皆淡青色，兩眉下有紫紅色見，宜投天竺薄荷散、羌活散，化下抱龍丸。</p>
<p>夾食傷寒，皆因飲食過度，又感風寒所致，其外候鼻流清涕，頭痛發熱，晝輕夜重，時復吐逆，噫氣酸餿，面黃紅白，變之不同，眼胞微腫，乍涼乍熱，心煩發渴，腹痛脹滿，皆其症也，宜用參蘇飲、人參養胃湯治之。且傷寒傳變不常，醫者貴以細察之，而酌量用藥，以汗吐下三法，不可一乖其宜。小兒血氣未充，而用藥故與大人不同，藥劑之多寡加減，在臨時對症處置，務中其當而已矣。</p>

<h2>五、瘧疾論治</h2>
<p>夫瘧有不同，先寒後熱曰寒瘧，先熱後寒曰溫瘧，但熱不寒者名曰癉瘧，身重寒熱，骨節痛，腹脹滿，自汗善嘔，名曰濕瘧，但寒不熱曰牝瘧，一歲之中，長幼皆瘧曰疫瘧。小兒皆因飲食傷脾，鬱而成痰，停滯中脘，榮氣與衛氣相摶而成，或因暑邪舍榮衛之間，腠理不密，復感風寒，閉而不出，舍於腸胃之外，與榮衛相併而發，邪正並居，故病日發。並於陽，則陽盛陰虛而發熱；並於陰，則陰盛陽虛而發寒。衛氣晝行於陽，夜行於陰，得陽而外出，得陰而內薄。內薄五臟，邪氣與衛氣相摶，不能與衛氣俱出，則間日而作。三日一發者，受病一年；間日一發者，受病半年；一日一發者，受病一月；二日連發間一日者，氣血俱受病，在氣則發早，在血則發遲。發在夏至後、處暑前，傷之尚淺也；發在處暑後、冬至前，傷之已重也。治法：因於食者，宜用清脾飲、七寶飲，或加神麯、麥芽、枳實、黃連之類治之；因於痰者，宜用二陳湯合小柴胡湯，或南鬥散；因於暑者，當發汗，如參蘇飲、十神湯之類，驅瘧湯、草果飲皆可服。凡治瘧，無汗要有汗，宜散邪帶補為主，有汗要無汗，宜扶正氣帶散為主。邪初發，宜用小柴胡湯加薑、桂、棗子服之，以和解表裡之邪，則自愈。如三發之後，便宜截之，如常山飲、七寶飲、鬼哭飲、截瘧丹等藥治之。久瘧成癆者，宜用四獸飲、露星飲，或用八物湯加柴胡、黃芩、黃耆、陳皮滋補血氣，則病自愈。又有瘧母結於左脅之下，宜用鱉甲飲子，以消導之。予每見人治瘧，多用草藥或諸毒藥以截之，以致耗損元氣，變症百出，甚可哀哉！凡為醫者，慎宜戒之。</p>

<h2>六、淋秘論治（附遺尿）</h2>
<p>按小便滴瀝澀痛難出者為淋，急滿不痛者為秘。淋有五種，曰膏，曰冷，曰熱，曰血，曰石。膏淋者，小便有肥脂似膏而浮於上者，此腎虛而肥液下行。冷淋者，先戰慄而後小便，此亦腎虛火動，熱極似冷所致。熱淋者，下焦有熱，熱流於膀胱，其溺赤澀。血淋者，熱甚所致，血主於心，心與小腸為表裡，熱甚則血從小腸出矣。石淋者，何也？腎主水，水結則化為石，腎為熱所乘，則煎水化為石淋矣。莖中不得流利，莖中痛引小腹而砂石小便出，甚至痛塞，令人昏悶，遍身有汗而後醒是也。蓋五淋雖為腎虛所致，然亦皆濕熱下流膀胱，水道澀而不利，以致臍腹急痛而難出也。《經》曰：陰虛發熱。此之謂也。治用五淋散、龍腦雞蘇丸，或五苓散、八正散主之。血淋者，用小薊湯治之，愈後宜服六味地黃丸、固本丸等藥。</p>
<p>又有癃閉、遺溺兩症，與淋不同。經云：膀胱不利為癃，不約為遺溺。蓋癃者，由熱入膀胱，壅滯不行，非澀非痛，但閉而不通，腹肚緊滿，宜用五苓散加木通、車前子，八正散亦可服之。又有渴而閉者，此熱在上焦氣分，宜清肺飲、清心蓮子飲、導赤散；不渴而閉者，此熱在下焦血分，宜滋腎丸服之。遺溺，古方皆云下元虛冷，而用溫熱之藥。惟丹溪云：膀胱火邪妄動，水不得寧，故不能禁而頻數也。治宜補膀胱陰血，瀉火邪為主，而佐以收澀之品，如四物湯加黃柏、知母、牡蠣、山茱萸、五味之類。然火動亦由腎虛所致，以愚論之，如三因韭子丸亦可常服也。補腎地黃固本丸以壯元氣。然小兒皆鬱熱在膀胱者多，而非腎虛也。</p>

<h2>七、疝頹論治（附吊腎）</h2>
<p>按經有七疝，曰寒，曰水，曰筋，曰血，曰氣，曰狐，曰㿉。蓋寒疝者，囊冷結硬如石，陰莖不舉，或控睪丸而痛。水疝者，腎囊腫痛，陰汗時出，陰囊腫如水晶，或搔出黃水，或小腹按之作水聲。筋疝者，陰莖腫脹，或癢或痛，或挺縱不收，或出白物如精。血疝者，其狀如黃瓜，在小腹兩傍，橫骨兩端約中。氣疝者，其狀上連腎區，下及陰囊，或因號哭忿怒氣鬱而致，小兒有此，名曰偏氣。狐疝者，其狀如丸，臥則入小腹，行立則出小腹，入囊中，如狐之晝伏夜出，故名之。㿉疝者，陰囊睡縋如斗，不癢不痛是也。小兒疝氣，皆因性重號哭氣鬱所致，或因感濕熱在經，鬱而至久，又被寒氣外束，不得疏散，所以作痛，或無形無聲，或有形如瓜，有聲如蛙，治用五苓散，沸湯調服，與之和解。如痛甚，宜用山梔炒黑，川烏為末，酒服，或用茱萸內消丸、茴香楝實丸、消疝方皆可服之，外用五葉湯洗之，或葫蘆丸亦可。頹者陰囊腫而不痛者是也，故經有四種，曰腸頹，曰氣頹，曰水頹，曰卵頹。小兒多有此症，若不速治，必成痼疾。</p>
<p>如腰曲腹痛，冷汗自出，而陰囊二子吊縮，入腹痛，痛止方出，名為吊腎，可用勻氣散、金鈴丸。有陰莖全縮不見，陰囊光腫如吹，用金鈴丸、勻氣散、海蛤散治之，外用牡蠣散敷調之。又有外腎膚囊赤腫，及女兒陰戶腫脹，乃心肝積熱所致，宜用導赤散治之，或用苡仁煎湯，調五苓散，外用黑散子敷之。又有陰囊裂破，睪丸外露者，用紫蘇葉為末敷之，外用薄荷葉包之。有睪丸兩邊通過，此肝經伏火所致，用鎮肝丸治之。大抵小兒陰囊濕腫，因坐陰濕之地，重感風濕之氣而得，宜用椒蔥礬煎湯，在無風處洗之，以散風濕，內用煎藥選而服之，其效可見矣。</p>

<h2>八、丹毒論治（附驚丹）</h2>
<p>經曰：赤紫丹瘤，皆心火內蘊而發，赤如丹砂，故名丹毒。蓋心主血而火性熱，血熱相摶，而風邪乘之，陰滯於陽，即發丹毒。或遊走遍身者，名赤遊丹，若其毒入腹則危矣。故丹毒雖有多種，其致病之原則一也。治法用荊芥散、敗毒散，及生料四物湯、導赤散、五福化毒丹之類治之，外用赤小豆為末，磨鐵水調塗，或蜜調塗，或用寒水石、朴硝為末，生薑薄荷汁調敷，即自愈。</p>
<p>有驚丹一症，小兒初生百日之內，忽兩眼胞紅暈微起，面帶青黯色，至夜煩啼，或臉如胭脂，此因伏熱在內。亦有面不紅者，始因在胎之時，母受大驚，驚邪傷胎，遞相傳襲，至產後而又受其熱，熱氣內蘊，形發於外。其初發時，散生滿面，狀如水痘，根微紅而不大，出沒休息不定，次到頸，赤如硃砂，為驚丹，治法與前相類。</p>

<h2>九、喉舌論治（附鵝口、重舌）</h2>
<p>按《內經》云：一陰一陽結，謂之喉痹。王太僕云：一陰者，手少陰君火，心之主脈也；一陽者，手少陽相火，三焦之脈氣也。二脈並絡於喉，氣熱則內結，內結甚則腫脹，腫脹甚則喉痹，喉痹甚則不通而死矣。夫推原十二經，惟足太陽別下項，其餘皆湊於喉嚨，然《內經》何獨言一陰一陽結為喉痹？蓋君相二火獨勝，則熱結正絡，故痛且速也。予謂一言可了也，火是也。故十二經中言咽乾、咽痛、咽腫、頜腫、舌本強，皆君火為之也，惟喉痹急速，相火所為也。夫君火者，猶人火也；相火者，猶龍火也。人火焚木，其勢緩；龍火焚木，其勢速。《內經》之言喉痹，則咽與舌，其兩間耳，然其病同於火，故不分也。後之醫者，各詳其狀，強立八名，曰單乳蛾、雙乳蛾、單喉閉、雙喉閉、重舌脹、木舌脹、纏喉風、走馬喉閉。熱氣上攻，傳於喉之兩傍，而外腫作，以其形似蛾，是為乳蛾，一為單、二為雙也。其比乳蛾差小者，名喉閉。熱結於舌下，復生一小舌，名曰子舌。脹熱結於舌中，舌為之腫，名曰木舌脹。木者，強而不柔和也。熱結於咽喉，腫繞於外，且麻且癢，腫而不大者，名纏喉風。喉痹暴發暴死者，名走馬喉痹。此八種之名雖詳，若不歸之火，則相去遠矣。其微者，可以咸而止之，而小者，以辛散之。今之醫者，皆有其藥也，如薄荷、烏頭、姜蠶、白礬、朴硝、銅綠之類是也。至於走馬喉痹，何得於此？其死生反掌間耳。其最不誤人也，無如砭針出血，血出則病已。經云：「火鬱則發之。」發謂發汗，然咽喉中豈能出汗？故出血者，乃發汗之一端也。內服牛蒡子湯、甘桔湯、五福化毒丹、敗毒散、龍腦雞蘇丸等藥，外吹絳雪吹喉散、硼砂散等藥，或用烏魚散治重舌、川硝散治木舌亦可。</p>
<p>小兒鵝口，月內白屑滿口，則上顎載礙，狀如鵝口，開而不合，語聲不出，飲食多難。令乳母先以手指纏亂髮，繳去舌上垢，後用保命丹調塗。大抵小兒脾胃脆弱，不可大用寒涼藥攻前方可也。</p>

<h2>十、眼目論治（附通睛）</h2>
<p>夫人之兩眼，猶天之有兩曜，視萬物，察毫毛，何所不至。日月有一時之晦者，風雲雷雨之所致也；眼之失明者，四季七情之所傷也。大抵眼為五臟之精華，一身之至要，故五臟分五輪，八卦分八廓。五輪者，肝屬木，曰風輪，在眼為烏睛；心屬火，曰血輪，在眼為二眥；脾屬土，曰肉輪，在眼為上下胞；肺屬金，曰氣輪，在眼為白睛；腎屬水，曰水輪，在眼為瞳子。至若八廓，無位而有名。膽之府為天廓，膀胱之府為地廓，命門之府為水廓，小腸之府為火廓，腎之府為風廓，脾胃之府為雷廓，大腸之府為山廓，三焦之府為澤廓。此雖眼目之根本，而又藉血為包絡。小兒純陽，心肝蘊積風熱，上攻於目，則暴出腫脹，或生障翳，用小菊花膏、洗肝散、牛蒡湯、三黃丸、導赤散等藥，涼其膈。其生障翳者，退云丸、還睛丸、地黃丸等藥治之，用黃連膏點洗於外。又有痘疹餘毒入目生翳等症，治法已見痘疹條，可相參用。有疳眼流膿生翳者，宜服龍膽飲子、生熟地黃丸治之。</p>
<p>有失誤築打觸者頭面額角並打撲，令兒肝受驚風，使兩目睛鬥，名曰通睛，宜服牛黃鎮肝丸等藥。</p>
<p>大抵眼目之疾，切不可用針刀點割，亦不宜過用涼藥，恐血凝而不流，反為痼疾故也。</p>

<h2>十一、五軟論治</h2>
<p>（附解顱、囟腫、囟陷、後枕陷、鶴膝）</p>
<p>按戴氏論五軟之症，名曰胎怯，蓋由父精不足，母血素衰而得，誠哉是言。以愚推之，有因母血海久冷，用藥強補而孕者，受胎而母多疾者，或有父好色貪酒，氣體虛弱，或身事已邁而後得子，有十月不足而生者，或服墮胎之藥不去竟成孕者，徒爾耗傷真氣。苟或有生，譬諸陰地淺土之草，雖有發生，而暢茂者少，又如培植樹木，動搖其根而成者，鮮矣。由是論之，嬰兒怯弱不耐寒暑，縱使成人，亦多有疾。爰是降生之後，精髓不充，筋骨柔弱，肌肉消瘦，神色昏慢，方為六淫所致，頭足耳軟，是名五軟。治法用補元散、補腎地黃丸、十全大補丸、滋陰大補丸、鹿茸丸、人參固本丸、虎潛丸等藥與之，漸次調養，日久可安。若投藥不效，終為廢人，有驚疳大病之後，忽為項軟傾倒，此名天柱倒，與五軟相類。先用五茄散或生筋散貼項內，服前藥。</p>
<p>有解顱一症，其囟縫不合，此腎氣不足。腎主骨，而腦為髓海，腎虛則腦髓不滿，故不合也。其腎虛者，亦由父精母血不足所致。凡得此疾，不及千日之內，間有數歲者，偶因他疾攻激，遂成廢人。若氣色清明，能飲食者，先用柏仁散或桂心散塗囟內，多服調元散、補腎地黃丸等藥，旬日內頗見效者，次第調理，或有可治，不然亦難療矣。</p>
<p>有囟腫者，皆由腎氣虛熱或風熱上攻所致，宜用封囟散貼囟內，內服六味地黃丸或五福化毒丹等藥。</p>
<p>有囟陷者，此脾胃風寒所致，宜先貼桂心散，內服異功散、助胃膏、參苓白朮散、醒脾散等藥治之。</p>
<p>有後枕骨陷，其虛尤甚，治法與囟陷同，此症無一活也。</p>
<p>有鶴膝一症，亦由久病後血氣虛弱，內消骨露，如鶴膝之狀。治法用五軟內藥選而用之。</p>
<p>又有久感風濕，流注關節，以至臂腕膝脛腫大作痛，宜先發汗，使腠理開通，風濕可去。先以五苓散煎湯，下青州白丸子，或用小續命湯、羌活防風湯，諸藥皆可，亦須以八物湯、十全大補湯相間服之可也。</p>

<h2>十二、龜胸論治（附龜背）</h2>
<p>按此症皆因風痰停飲，聚積心胸，再感風熱。肺為諸臟華蓋，居於膈上，水氣氾濫，則肺為之浮，日久凝而為疾，停滯心胸，兼以風熱內發。其外症唇紅面赤，咳嗽喘促，以致胸膈骨如覆掌，名曰龜胸。法用辰砂化痰丸、半夏丸、葶藶丸疏痰，次用瀉肺散、人參定喘湯、潤肺散、阿膠散以斂血氣。若投前藥，愈而復作傳變，目睛直視，痰涎上湧，兼以發搐，則危矣。</p>
<p>有龜背者，初生小兒未滿半歲，強令坐早，客風著背脊，傳入於髓，故成此疾。錢仲陽有龜尿點背之言，然終成痼疾者多矣。</p>

<h2>十三、瘰癧論治</h2>
<p>夫瘰癧之疾，多生頸項，結聚成核，初如豆粒，後如桃李核，累累相連，大小無定。小兒有此，皆因性怒氣逆，風熱邪氣內摶於肝。肝主筋，蓄結而成腫，亦有氣鬱痰聚而生者。其始發之時，宜用五香連翹飲，或抱龍丸亦可，外貼犀角膏，及塌腫散淋洗，或服內消丸。若瘰癧有膿，面黃身熱，可使針入核中挑之，膿出不快，以追毒散貼之。</p>
<p>此論倘有誤，宜參考《外科正宗》以補之。</p>
