<header data-type="book">
<h1>傷寒直格</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>劉完素</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>底本</dt><dd>電子文本整理自行政院中醫藥委員會94年文本CM021</dd></div>
</dl>
</header>
<h2>傷寒直格序</h2>
<p>習醫要用直格，迺河間高尚先生劉守真所述也。守真深明素問造化陰陽之理，比嘗語予曰：傷寒謂之大病者，死生在六七日之間，經日人之傷於寒也，則為病熱，古今亦通，謂之傷寒熱病，前三日太陽陽明少陽受之，熱壯於表，汗之則愈。後三日太陰少陰厥陰受之，熱傳於裏，下之則痊，六經傳受自淺至深，皆是熱證，非有陰寒之病。古聖訓陰陽為表裏，惟仲景深得其旨，厥後朱肱奉議作活人書，尚失仲景本意，將陰陽字釋作寒熱，此差之釐，失之千里，而中間誤罹橫夭者，蓋不少焉，不可不知也。予語守真曰：先生之論如此，何不闢此說以暴耀當世，以革醫流之弊，反忍而無言何邪，守真曰：世之所集各異，人情喜溫而惡寒，恐論者不詳，反生疑訪，又曰欲編書十卷，尚未能就故弗克耳。今太原書坊劉生鋟梓以廣其傳，深有益於世，如宵行冥冥迷不知徑，忽遇明燈巨火正路，昭然若有，執迷而不知信行者，固不足言，而聰明博雅君子能於此者，原始反終研精覃思則其所得又何待，予之喋喋也。</p>
<h2>卷上</h2>
<h3>（第一章）習醫要用直格</h3>
<h4>（第一節）十干</h4>
<p>甲　乙　丙　丁　戊　己　庚　辛　壬　癸</p>
<h4>（第二節）臟腑配合</h4>
<p>甲膽　（手少陽），乙肝（手厥陰），東方木也。</p>
<p>丙小腸（手太陽），丁心（手少陰），南方火也。</p>
<p>庚大腸（手陽明），辛肺（手太陰），西方金也。</p>
<p>壬膀胱（足太陽），癸腎（足少陰），北方水也。</p>
<p>戊胃　（足陽明），己脾（足太陰），中央土也。</p>
<p>凡先言者為剛，為陽，為兄，為腑，主於表。後言者為柔，為陰，為妹，為臟，主於裏也。</p>
<h4>（第三節）十二支</h4>
<p>寅卯辰　已午未　申西戍　亥子丑</p>
<h4>（第四節）臟腑經絡配合</h4>
<p>寅三焦（手少陽）    卯大腸（手陽明）    辰小腸（手太陽）</p>
<p>巳包絡（手厥陰）    午心　（手少陰）    未肺　（手太陰）</p>
<p>申膽　（足少陽）    酉胃　（足陽明）    戌膀胱（足太陽）</p>
<p>亥肝　（足厥陰）    子腎　（足少陰）    丑脾　（足太陰）</p>
<p>手足三陰三陽者十三經絡之名也。</p>
<h4>（第五節）手足經絡配天地四時</h4>
<p>寅卯辰手三陽天陽春也。已午未手三陰天陰夏也。</p>
<p>申酉戌足三陽地陽秋也。亥子丑足三陰地陰冬也。</p>
<h4>（第六節）合主表裏　（合音皆入聲，餘不音者並如字）</h4>
<p>太陽少陰合，陽明太陰合，少陽厥陰合，足與足合，手與手合，如足太陽膀胱水合足少陰腎水，陽為腑屬表，陰為臟屬裏。</p>
<h4>（第七節）陰陽臟腑</h4>
<p>肝與膽（厥陰）風木也，心與小腸（少陰）君火暑熱也，包絡及三焦（少陽）相火也，此為陽之臟腑。</p>
<p>肺與胃（太陰）溼土也，肺與大腸（陽明）燥金也，腎與肪胱（太陽）寒水也，此為陰之臟腑。</p>
<p>脾，心，肝，肺，腎，兼包絡（一名命門），為六臟。胃，小腸，膽，大腸，膀胱兼三焦，為六腑。</p>
<h4>（第八節）經絡病證</h4>
<p>絡者正經脈道之旁小絡，如支絡絲絡之類也，皆運行氣血之脈也，各宗於本經焉。</p>
<p>手太陰肺病則肺脹滿彭彭，而喘欬缺盆痛，欬喘上氣，喘喝煩心胸滿，臑臂內前廉痛甚則交兩手，而瞀肩背痛而汗出，虛則氣不能報息，小便數變。</p>
<p>十二經始於肺經，故其序如此。</p>
<p>喝（乙介切嘶聲也），缺盆者（肩前臑內陷中也），臑（音如，從肩至肘通名曰臑，自手至腕通名曰臂），廉（猶畔也），瞀（音莫，眼黑也昏也，言氣亂兩手相交而昏瞀也），不能報息（俗所云：氣少不能接續也），數（音朔，頻也）。</p>
<p>手陽明大腸病則齒痛䪼腫，虛則目黃口乾鼽衄喉痹，腹中雷鳴，氣常衝胸喘不能久立，肩前臑痛大指次指不能為用。</p>
<p>䪼（音拙，面秀骨目下起骨也），鼽（音求，清涕也），衄（音濃入聲，鼻出血也），不能為用（言屈伸不能如意也）。</p>
<p>足陽明胃經病則灑灑振寒，善伸數欠或惡人與火，聞木聲則惕然而驚心欲動，獨閉牖而坐處，欲登高而歌，棄衣而走，賁嚮腹脹，罵詈不避親疏，氣甚則身前皆熱，消穀善饑尿色黃，氣虛則身前皆寒慄，胃中寒則腹脹滿實，胸脘當心而痛。上支兩脇鬲咽不通，食飲不下，狂瘧溫淫，汗出鼽衄，口喎唇胗，脛腫喉痹，腹水腫脹膝臏腫痛，循胸傍過乳，衝腹伏兔䯒外廉足胕上皆痛，中指不能動。</p>
<p>振（動搖也），善伸（自然能也），數欠（頻呵欠也），心欲動（不甯也），閉戶為惡人（兼多驚），賁（音奔，勇猛也），嚮（向同熱坎也），慄（戰憚也），支（持也固也），淫（亂也），臏（音牝，膝骨也），股（腿脾肉），伏兔（膝上起肉也），䯒（戶當切乃脛骨也），跗（音夫足面動脈也）。</p>
<p>足太陰脾經病則舌本強，食則嘔，腹脹溏泄，瘕水閉飲，發中滿食減善噫，身體皆重，得後與氣快然而衰，甚則肌肉痿，足不收，行善瘈，腳下痛，四肢不舉，大小便不通，虛則腹脹腸鳴，飧泄食不化，舌本痛不能動搖，食不下煩心，心不急痛，寒瘧溏泄水下，黃疸不能臥，股膝內腫，厥大指不用。</p>
<p>本（舌根也），強（去聲不和柔也），溏（大便稀薄），瘕（音假，肚中結病也），水閉（言水不宣通也），噫（衣令切轉氣也），後與氣（言下氣也），痿（於為切痹病也），契（合也，行則不覺腳相揩也），飧（音孫，食也），厥（其也不能運用也）。</p>
<p>手少陰心經病則胸中痛，脇支滿脇下痛，膺背肩脾間痛，兩臂內痛，甚則嗌乾心痛，渴而欲飲，身熱膚痛煩心譫妄，虛則善悲時眩，什胸腹脇下與腰背相引而痛，目黃脇痛，臑後廉痛，掌中熱。</p>
<p>譫（音占亂言也），妄（見虛妄而言也），眩（玄去聲眩暈昏亂也），仆（音付卒然而倒也）。</p>
<p>手太陽小腸經病則嗌乾頷腫不可回顧，肩似拔臑似折，虛則少腹控卵引腰脇上衝心痛，耳聾目黃頰頷腫，肩臑肘臂卵廉痛。</p>
<p>嗌（音亦氣系也），少腹（臍下兩旁也），控（引也），卵（陰丸也）。</p>
<p>足太陽膀胱經病則囟頰腦中戶痛，衝頭目似脫，項似拔，腰似折，髀不可以曲，膕如結腨，如列虛則痔盛，則瘧狂巔疾，頸頂囟頂腦戶中痛，目出黃泪，項背腰脊尻後膕腳背痛，小指不為用。</p>
<p>衝頭痛（腦後橫衝眉間痛也），膕（曲脈後也結括也），腨（市兌切，一名臁，俗所謂腳肚也），巔（頂也），尻（居刀切），後（陰後分合處也，大而言之睢也）。</p>
<p>足少陰腎經病則饑不欲食，面黑如漆，咳唾則有血，喝喝而喘，坐而欲起，目䀮䀮如無所見，心懸如饑，腹大脛腫，喘咳身寢汗出憎風，虛則腹滿身重濡泄，寒瘍流水腰股痛發，膕腨促膝不便，煩冤足痿，清厥意不樂，大便難，善恐心惕如人將捕，口熱舌乾咽腫，上氣嗌乾而痛，心煩而痛，黃疸腸癖，脊臀股內後廉痛，痿厥嗜臥，臥不安，足下熱而痛。</p>
<p>喝（乙介切），䀮（音荒），濡（溏泄也），寒瘍（俗言煉瘡），不便（不利便也），煩冤（心悶亂不寧），痿（痹弱），清厥（手足清冷而厥逆也），痿厥（欲臥而不安也），腸癖（下痢也）。</p>
<p>手厥陰心胞絡病則手心熱，臂肘攣急，腋腫甚則胸脇支滿，心澹澹而動，面黃目赤，喜笑不休，虛則煩心，心痛掌中熱。</p>
<p>澹澹（水搖動貌）。</p>
<p>手少陽三焦病則耳聾，渾渾焞焞，虛則目銳眥痛，耳後肩臑肘臂外皆痛，小指次指不能為用。</p>
<p>足厥陰肝經病則腰不可伏仰，丈夫㿗疝，婦人少腹腫胘脇痛引少腹，甚則嗌乾面塵，善怒忽忽，眩痛巔疾，目赤腫痛，耳聾頰痛，虛則目䀮䀮如無所見，無所聞，善恐如人欲捕之，胸滿嘔逆洞泄，狐疝遺尿癃甚。</p>
<p>腋下曰脇，脇下骨為肋，脇肋之下曰胠（音區），面塵（面如浮塵），忽忽（昏亂也），眩（頭目眩暈也），洞（疾流也），狐疝（言狐者疝氣之變化，隱見往來不可測如狐也），遺尿（癃閉，小便癃閉而病疲憊也）。</p>
<h4>（第九節）內外八邪</h4>
<p>外有風寒暑溼，內有饑飽勞逸，逸非奔逸之逸，乃逸豫怠惰而生病也，與勞相反。故經曰勞者溫之，逸者行之，使氣血運行也。西山記曰：久勞則安閒以保其極力之處，久逸則導引以宣積滯之氣，故作役者誤也。</p>
<h4>（第十節）內外病生四類</h4>
<p>一者因氣變動而內成積聚癥瘕癲狂驚癇之類也。</p>
<p>癥（音貞堅積也），瘕（音假，血氣聚也），多喜曰癲，多怒曰狂。</p>
<p>二者因氣變動而外成癰腫瘡瘍，痂疥疽痔掉眩浮腫目赤，熛胗胕腫痛癢之類也。</p>
<p>不因一時所傷而病，乃久以漸積，臟腑變動興衰而病者，是曰因氣變動也。臟腑和平卒然而即成病者，是曰不因氣之變動也。淺而大曰癰，深而惡曰疽，掉動搖也，熛（音漂），赤丹留毒火熛也。</p>
<p>三者不因氣之變動而病生於內，則留飲僻食饑飽勞損，宿食霍亂悲恐想慕憂結之類也。</p>
<p>僻（邪也），霍亂（上吐而下瀉也）。</p>
<p>四者不因氣之變動而病生於外，則瘴氣鬼魅蟲蛇蠱毒，蜚尸鬼擊衝薄墜墮，斫射刺割，捶撲打探𢾩拉觸抹，風寒暑溼之類也。</p>
<p>蜚（去聲獸也，通言獸所傷人）。</p>
<h4>（第十一節）九氣</h4>
<p>怒則氣上，喜則氣緩，悲則氣消，恐則氣下，寒則氣收，恐則氣泄，驚則氣亂，勞則氣耗，思則氣結。</p>
<p>炅（音桂熱也，舊音耿非），人怒則氣逆，甚則嘔血及飧泄，故氣上也。人喜則氣和而志達，榮衛通利故氣緩，緩猶和也，故令人氣散也。悲則心緊急，肺布葉舉而上焦不通，榮衛不散，熱氣在中，故令人氣消也。恐則精卻，卻則上焦閉，閉則氣還，還則下焦張，故氣下行也。寒則腠理閉而氣不行，故氣收也。炅者熱也，熱則腠理開而榮衛通汗大泄，故氣泄也。驚則心無所倚，神無所歸，慮無所定，故氣亂也。勞則喘且內外皆越，故氣耗也，越散越也。思則心有所存，神有所歸，正氣留而不行，故氣結也。結者滯而不通也。</p>
<h4>（第十二節）五邪</h4>
<p>母乘子曰虛邪（乘，勝也，克也），如心火熱乘脾土也。子乘母曰實邪，如肺金燥乘脾土也。妻乘夫曰微邪，如腎水寒乘脾土也。夫乘妻曰賊邪，如肝木風乘脾土也。自病曰正邪，如脾土自病溼也。五臟腑同法（各以類推）。</p>
<h4>（第十三節）五邪微甚</h4>
<p>微實正虛賊，從微至甚也。</p>
<p>此亦大略之言，細而推之各有微甚。</p>
<h4>（第十四節）十干夫婦配合成五運</h4>
<p>甲己合為〔土運〕，甲剛木克己柔土為夫婦成土運。</p>
<p>乙庚合為〔金運〕，乙柔木嫁庚剛金。</p>
<p>丙辛合為〔水運〕，丙陽火娶辛柔金。丁壬合為〔木運〕，丁陰火配壬陽水。</p>
<p>戊癸合為〔火運〕，戊陽土娶癸陰水。</p>
<h4>（第十五節）五運太過不及</h4>
<p>陽剛夫為太過，陰柔妻為不及。</p>
<p>此其略也，凡六十四年而周甲子，其中有歲運同司天，曰天府同歲支，曰歲會孟年同曰支，德符歲運同司地，剛為同天符，柔為同歲會，凡此二十九，歲太過司天克之曰天刑，及年前大寒，交氣日反，時程與運程為夫婦者，曰程德符，皆非太過不及，乃年運之氣也，申子辰年寅初交己酉，丑年己初交寅午，戌年申初交亥卯，未年亥初交氣也。</p>
<h4>（第十六節）十二支應六氣三陰三陽</h4>
<p>六氣為本，三陰三陽為標。</p>
<p>子午少陰〔君火〕（暑），    丑未太陰〔濕土〕。</p>
<p>寅申少陽〔相火〕（主大熱），卯酉陽明〔燥金〕。</p>
<p>辰戌太陽〔寒水〕，          已亥厥陰〔風木〕。</p>
<h4>（第十七節）六氣有餘不足</h4>
<p>孟少，仲平，季多也。</p>
<p>內經以寅申已亥四孟為一陰一陽也，子午卯酉四仲為一陰一陽也，辰戌丑未為三陰三陽也。然陽為先，故主虛無變化輕微，而少陰為後，故主形體安靜重濁而多也。故風火動亂，至陽為先，居孟未甚為少；寒溼肅靜，至陰為後，居季已甚而為多；燥熱各得乎中，故居仲而平也。註曰氣有多少，是言六氣，形有旺衰，言五運也。</p>
<h4>（第十八節）六氣</h4>
<p>寒  暑  燥  濕  風  火</p>
<h4>（第十九節）五運應五臟主病</h4>
<p>諸風掉眩皆屬〔肝木〕，諸痛癢瘡瘍皆屬〔心火〕，諸濕腫滿皆屬〔脾土〕，諸寒收引皆屬〔腎水〕，諸氣膹鬱病痿皆屬〔肺金〕。</p>
<p>膹（悶亂也），鬱（結滯壅塞也）。</p>
<h4>（第二十節）六氣為病</h4>
<p>諸暴彊直，支病耎戾，裏急筋縮皆屬於〔風〕。（乃厥陰風木肝膽之氣也）</p>
<p>諸病喘嘔吐酸，暴注下迫，轉筋，小便渾濁，腹脹大鼓之如鼓有聲，癰疽瘍疹，瘤氣結核，吐下霍亂，瞀鬱腫脹，鼻塞鼽衄，血泄淋悶，身熱惡寒戰慄驚惑，悲笑譫妄衄衊皆屬於〔熱〕。（少陰君火乃真心小腸之氣也）</p>
<p>注泄也，下迫後痛裏急痛也，結核言肌肉結鞕如果中核也，溢上出泄下出衊血汗也。衊（音蔑），衄（音忸，鼻出血也）。</p>
<p>諸痙強直積飲痞隔中滿，霍亂吐下體重胕腫肉如泥，而按不復起，皆屬於〔濕〕也。（太陰濕土乃脾與胃之氣也）</p>
<p>痙（其井切），似風狂病也，一名曰痓（尺至切），積飲，水聚不散也。痞（否），腸胃氣液血脈否閉不能運行，謂之痞也。水穀傳化阻隔失常則曰隔胕（音附）。</p>
<p>諸熱瞀瘛筋惕悸動，搐搦瘛瘲暴瘖目眛，躁擾狂越罵詈驚駭，胕腫疼酸，氣逆上衝，禁慄如喪神守，嚏嘔瘡瘍喉痹耳鳴及聾嘔涌溢食不下，目眛不明，暴注瞤瘈暴病暴死皆主於〔火〕也。（少陽相火乃心包絡三焦之氣也）</p>
<p>瘛（尺至切），瘖（音），瘂（啞），狂躁，亂發狂也。禁慄寒戰如喪心神之守。嚏（音帝），瘲（音縱兒病也），瘈（音契小兒病也）。</p>
<p>諸澀枯渴乾勁皴揭皆屬於〔燥〕。（陽明燥金，肺與大腸之氣也）</p>
<p>諸病上下所出水液澄徹清冷，癥瘕㿗疝堅痞腹滿急痛，下利青白食已不饑吐利腥穢，屈伸不便厥逆禁固皆屬於〔寒〕。（太陽寒水乃腎與膀胱之氣也）</p>
<h3>（第二章）論脈</h3>
<h4>（第一節）三部九候</h4>
<p>夫三部者，寸關尺也。〔寸〕應天為上部，〔關〕應人為中部，〔尺〕應地為下部。九候者各浮於天，沉於地，中為人也。</p>
<h4>（第二節）脈位輕重</h4>
<p>高骨旁動脈為關。</p>
<p>中指正按高骨之端是也，俗不明其正理，但以穩於下指而差高骨於頭中指之間，如此則三指各差在本位之後半部耳，或以頭指正在高骨或更在高骨之後者，此不通脈之正理也。便使心精了然，既下指失其本位則亦無以知其為何病也。</p>
<p>關前至魚際為寸，是名陽位。</p>
<p>一名寸口，正在東關前堂骨後，赤白肥肉際宛中，骨縫陷中，可容一豆者，是乃名魚際者也。</p>
<p>關後為尺是名陰位</p>
<p>關後至本經於太陰所入為合，在肘內大約紋動處，是名尺澤，長一尺故名尺也，陰陽兩者之間則名關，三部長三寸以應三寸。凡男左女右，以中指與大指相接如關度，中指上仄中節兩橫紋之際為一寸，凡取冗以此為則。而脈位之尺寸亦應此也，凡寸脈主自心胸上至頭也，而關脈主中心胃至臍也，尺脈主下臍以至足也。左寸主心及小腸（君火），左關主肝膽（風木），左尺主腎膀胱（寒水），右寸主肺大腸（燥金），右關主脾胃（濕土），右尺主命門三焦（相火）。</p>
<p>所以然者，左手為陽，陽為君，面南布政而陽始於子水，以一歲六氣正位分之，則應於亥正至丑終氣衰也，水之位主於左尺之脈，脈從尺入寸故水生風木於左關，應丑至卯初之氣也，木生君火於左寸，陽道已成故為君火猶乾始於子而終於已也。自卯正至已二之氣也，君上而臣下，陽進而升，陰退而降，故右手為陰，始於午火，火面北而受氣，自已至未正三之氣也，三焦為正火主右尺之脈，相火生溼土於右關，正位以至酉四之氣也，溼土生金於右寸，應酉至亥五之氣也，又主左尺水周而復始也，及夫男左女右為夫婦，故左寸君火克右寸之金，左關木克右關之土，左尺水克右尺之火，及夫命門者右腎也，屬火不屬水乃手厥陰心包絡之藏，舉世皆言心包絡之藏，有名而無形，由不明理也。夫三焦乃水谷傳化之道路，自口至胃上口為上焦，下至胃下二腸處為中焦，下至傳化出處為下焦，通曰三焦。今俗妄言無形狀而空有名者，誤也。且如人從頭數至足皆不謂之人，則亦安可言人無形狀耶。全身而言之固名人也，且血脈盡皆環貫臟腑運行周身，如果無命門三焦之形體則何得氣血運行之道路耶。</p>
<p>各浮於腑而沉於臟中，而和緩者胸也。</p>
<p>脈在肌肉以上曰浮，在肌肉之下曰沉，或以肺養皮毛，心養血脈，脾養肌肉，肝養筋膜，腎養骨髓，以此浮沉而分五臟之脈者，言脈位則可為用，則有失治病之道也。</p>
<h4>（第三節）脈息遲速</h4>
<p>呼為陽，以應天，脈再動以應春夏，吸為陰以應地，脈再動以應秋冬。</p>
<p>氣出為呼入為吸，再兩次也動至也</p>
<p>或潤以太息而又一動者，以應長夏脾土，故一息四至五至，皆為和平。</p>
<p>太息言呼吸，或有長者也長夏六月也，平和言為平人不病之脈。</p>
<p>謂一歲四時五行俱備也，五至以上曰數，不滿四至曰遲，數過備者死，不及一至者亦死。</p>
<p>數為熱遲為寒，過備八至之上也，是以平人之息合病人之脈也，故經曰常以不病調病人，由是小兒八至為和平，十至有熱，六至為病寒也。自六歲以下通曰以此二歲之法，人小則脈如數，長短亦然。</p>
<h4>（第四節）七表</h4>
<p>浮芤滑實弦緊洪此名七表，為陽，少陽之數七。</p>
<p>浮脈者輕手乃得，重按之不見。脈見諸陽為表熱，諸陰為表寒。</p>
<p>脈動於肌肉之上也浮，屬陽為病在表，一名府病，或傷風自汗脈浮為表熱，遲緩之陰者表寒。</p>
<p>芤脈者浮大而軟，按之中央虛兩邊實也。</p>
<p>芤主熱甚失血，寸芤則吐血，微則衄，甚則俱出。關芤則胸癰下血。尺芤則大便血，微則小便血，甚則俱下。</p>
<p>滑脈者不澀也，多與實數相兼則為病熱，或亡液血衰。雖熱而反濇也，或滑兼遲則為病寒，平而滑者腎之本脈。</p>
<p>實脈大而長，浮沉皆得而數，陽熱也。</p>
<p>弦脈者軟虛而滑，端直而長也，弦主於風，或如琴弦或如張弓者，弦之太過也。</p>
<p>緊者不緩也或如轉索或如切繩者，緊之太過也。</p>
<p>緊脈主痛，多與實數相兼則為熱痛，或短緊微細陰脈相兼者寒痛也。洪脈者極大而數，舉按者滑，實熱之極甚者也。</p>
<h4>（第五節）八裏</h4>
<p>為陰（象易少陰之數八），微沉緩濇遲伏濡弱也。</p>
<p>微脈者若有若無，極細而軟也，多兼於遲，主於陰寒，然或熱甚，汗泄吐利，氣而損虛者，或陽厥極深者，或熱極將死脈欲絕者，脈亦有微沉緩濇遲伏濡弱，諸陰脈見也，不寒便言為寒，須以標本明之。</p>
<p>先病為本根本也，後病為標梢末，又為病之氣，為本受病之臟腑經絡為標，世俗至此更不明其陽極熱證，但以執其陰脈為寒內，外急救於陽則殘陰暴絕而反致死亡者，不少也，且察色聽聲，問證切脈為神聖功巧別病之四法，而脈最為下，則安可執巧之一法，而去其神聖功之三法耶，及夫八裏之脈皆有此義，以微脈居先，故於此總而言之也。</p>
<p>沉脈輕手不見，重切之乃得，動在肌肉之下，其位屬陰，為病在裏，一名臟病，或畜於胸及膀胱者，雖為腑病，其脈亦沉則皆宜下之。由十二臟腑俱在裏，而經絡皆在表也，大抵但以浮為表，沉為裏，然雖臟為陰主裏，腑為陽主表，其於病脈之浮沉有所不拘也，故太陰脾臟之病腹滿而脈浮者，桂枝攻於表也。夫脈沉數為裏熱，沉遲為表寒，餘脈皆倣此。</p>
<p>或裏熱吐利氣液損虛損，或陽厥極深，或熱極將死者，亦皆見諸陰脈沉，切宜審之不可妄以施治。</p>
<p>緩脈者縱緩而不急，似遲而小疾，緩而遲為寒，緩大而長為熱。</p>
<p>當傷風自汗，或自汗過多亦為遲緩，熱更甚也。</p>
<p>濇脈者澀而不滑也，或如刀刮竹或濇而止住者，濇之太過主液血衰。</p>
<p>由汗泄吐利或血溢血泄，或熱盛耗液而成燥也。一曰濇主心痛血少故也，以心養血。</p>
<p>遲脈者一息四至以下也，遲為病寒，然熱盛自汗吐利過極則亦為遲也。</p>
<p>氣液損虛，故脈遲而不能數。</p>
<p>伏脈者脈附於骨，沉之甚也，伏主水畜於內，積飲不散也，伏位屬陰在裏深也，病之寒熱以隨陰陽別之。</p>
<p>附切近也，水畜於內一名留飲。</p>
<p>濡脈者，按之似無，舉之無力也。有似微弱多兼於遲，主於極冷，然或熱泄後，或熱極將死者脈亦濡弱，須以外證標本參之。</p>
<p>弱脈者軟虛而無力也，弱之虛冷必兼微與遲也，然而傷風中暑熱甚而自汗大出，則亦緩弱而遲也。</p>
<h4>（第六節）四時平脈</h4>
<p>春弦，夏洪（一曰數，一曰鉤），秋毛（一曰潘，一曰浮），冬石（一曰沉）。</p>
<h4>（第七節）六步主位平脈</h4>
<p>初之氣自大寒日至春分，厥陰風木之陽用事而氣微。</p>
<p>故曰冬至後日甲子少陽主，然冬至甲子斯無常準，以大約分之一月，如在冬後即大寒交初氣之分也，一歲六周甲子以應六氣，下皆倣此（一氣正月二月也）。</p>
<p>脈乍大乍小乍長，時物及風木之象也。</p>
<p>二之氣春分至小滿少陰君火之位，陽氣清正在兩陽合明之間，故又云陽明主。</p>
<p>脈弦也。</p>
<p>三之氣小滿日至大寒少陽相火之位，陽氣萬物皆盛，故亦云太陽主。</p>
<p>脈洪大而長，天氣萬物人脈與造化同。</p>
<p>四之氣大暑日至秋分太陰溼土之位，天氣尚盛而夏後陰已用事，故云太陰主，此三陰三陽，與六氣標本之陰陽異矣。</p>
<p>脈緩大而長或云緊大而長者，傳寫之誤也。溼土主緩大而長，燥金主緊細而短濇，以萬物乾溼明可見焉，時溼土盛膚腠開通汗液時泄，故脈雖大長而力緩不能緊也。至秋後氣衰寒涼乍閉，故雖微細而力緊也。</p>
<p>五之氣秋分日以至小雪陽明燥金之位，氣衰陰盛故又云少陰主也。</p>
<p>脈緊細而微。</p>
<p>終之氣（一曰六之氣），小雪日以至大寒太陽寒水之位，陰極而終盡天氣之所收隱，故曰厥陰主，厥者盡也。</p>
<p>脈沉短以敦（敦厚也），萬物收藏在內，寒氣閉塞而膚腠氣液不能散越，故脈沉短而反有力敦厚而如石也。</p>
<p>凡四時六位平脈大退，則時氣有餘而為病。</p>
<p>如春弦，太過則風為病。</p>
<p>不及者氣衰而為病。</p>
<p>四時脈微見為平，此言過微也，如秋脈微而兼夏脈之類也。</p>
<p>反見他脈者，他氣有餘而來為病也。</p>
<p>遲為寒而數為熱之類也。</p>
<h4>（第八節）結代促</h4>
<p>結脈者遲緩而時一止，為陰也。主陰盛發燥煩滿，或陽厥極深，以至身冷脈微欲絕而緩弱時一止者，亦胸煩燥，此止為熱極而非寒也，皆須以標本明之。</p>
<p>促脈者陽也，數而時一止也，主緊積氣痞憂思所成，亦或熱劇失下則令脈促，下之則平也。</p>
<p>代脈者主緩弱而無力不能動，因而復動，病必危而死。</p>
<h4>（第九節）趺陽脈</h4>
<p>趺陽脈者胃土之脈也，趺陽脈遲而緩者，胃氣如經也。</p>
<p>動在足趺陽之經，故曰趺陽一日。衝陽者陽明所過之原，過者衝也。如經，如本經之常脈。</p>
<p>滑為胃實，緊為脾強。浮而滑者，浮為胃虛，滑則為噦，浮而鼻中燥者必衄也。沉為胃實（上本下故也），數為消穀（胃熱故也），緊則難治，蓋四時五臟皆以胃為本，緊燥盛而土溼氣衰故曰難治。浮而大者氣實血虛也（氣為陽血為陰故也），浮而濇者胃虛下利也（去液故濇）。伏而濇者，伏則吐逆水穀不化（內溼故也），濇則氣不下食，脈不出則身冷膚鞕。</p>
<h4>（第十節）太谿脈</h4>
<p>太谿者腎水之脈也，動於左足內踝下後跟骨下陷中，足少陰腎水之脈故曰大浮也，太谿脈則腎氣如經也，弱則微煩，濇則厥逆（微厥也）。</p>
<h4>（第十一節）死生脈候</h4>
<p>陽病熱證不退，反見陰脈者死，（脈近於絕故也），汗後熱退而見陰脈者愈，陰陽證脈平愈。傷寒咳逆上氣脈散者死（形損故也），脈浮而洪身汗如油，喘而不休，水漿不入形體不仁（不仁者不和也），乍靜乍動命絕也。汗出髮潤喘不休者肺先絕也，陽反獨留，體如煙熏，直視搖頭心先絕也。</p>
<p>唇吻（音穩），反青，四肢漐習者，肝先絕也。（槷，丑入切，汗出也，習，水流不絕），此言汗不止也。環口黧黑，柔汗發黃者脾先絕也。（柔，虛也）。溲便遺失狂言直視者腎先絕也（溲小便，便大便）。寸口脈陰陽俱緊盛，（寸口即氣口，此言三部關前為陽，關後為陰），大汗出不解者死脈，陰陽俱虛熱不止者死，汗後身涼息微見陰脈而靜者愈。身熱喘麤見陽脈而燥者死（汗不勝病也）。汗後微熱不解者，病不可便言死也，脈如轉索者當日死。譫語身微熱脈浮大，手足溫者生，欲作大汗故也（俗作好汗）。脈暴出者死，陰衰欲絕而陽暴獨勝，則脈暴出少間，陰氣先絕則陽氣後竭而死矣。逆冷脈沉細者不過一日死，死證多矣，以至危極則無越此矣。</p>
<p>傷寒直格卷上終</p>
<h2>卷中</h2>
<h3>（第三章）習醫要用直格</h3>
<h4>（第一節）傷寒總評</h4>
<p>傷寒六經傳受</p>
<p>經言寒傷形，寒傷皮毛，寒傷血，寒傷榮，然寒主閉藏而腠理閟密，陽氣怫鬱不能通暢，怫然內作故身熱燥而無汗，故經曰人之傷於寒也，則為病熱，又曰夫熱病皆傷寒之類也。內經既直言熱病者，言一身為病之熱氣也，以至仲景直言，傷寒者言外傷之寒邪也，以分風寒暑溼之所傷，主療不同，故只言傷寒而不通言熱病也，其寒邪為害至大，故一切內外所傷俱為受寒之熱病者，通謂之傷寒也。一名大病者皆以為害之大也，又春曰溫病，夏曰熱病，秋曰溼病，冬曰傷寒。傷寒者是隨四時天氣春溫夏熱秋溼冬寒為名，以明四時病之微甚，及主療消息稍有不等。大而言之：則一也，非為外傷及內病有此異耳，或云冬伏寒邪於肌膚骨肉之間，至於春變為溫病，夏變為熱病，秋變為溼病，冬變病為正傷寒病者，及名冒其寒而內生怫熱，熱微而不即病者，以至將來陽熱變動，或又感之而成熱病，非謂伏其寒氣而反變寒為熱也。經曰冬傷於寒，春必病溫亦其義也。亦有一時冒寒而便為熱病者，或感四時不正乖戾之氣，或隨氣運興衰變動，或內外諸邪所傷，或因他病變成，或因他人傳染皆能成之，但以分門隨證治之耳。經言此六經傳受乃外傷於寒，而為熱病之大略主療之要法也。</p>
<p>大法曰傷寒一日太陽受之，故頭項痛腰脊強。</p>
<p>此足太陽膀胱之經也。故與經言五日足少陰腎水為其表裏，或言為手太陽者誤也，此六經之證也，或以此直云傷寒不傳手經者，亦誤也，豈不詳熱論云：五臟六腑皆受病。又刺熱篇皆言五臟熱病，但以熱病多足經，而其病甚少於手經，而其病微且與足經微為兼證，汗下之治，但分表裏，故不單言手經而但寄於足經而己。若針刺則本經補瀉各分五臟手足之經矣。</p>
<p>二日陽明受之故身熱目疼，鼻乾不得眠也。</p>
<p>三日少陽受之，故胸脇痛而耳聾。</p>
<p>四日太陰受之，故腹滿而咽乾。</p>
<p>五日少陰受之，故目燥舌乾而渴。</p>
<p>六日厥陰受之則煩滿囊縮。</p>
<p>或言傳手厥陰包絡相火，則水火既濟而愈。傳足厥陰肝經則土敗木賊而當死者，妄說也，此經言足厥陰肝經之證也。</p>
<p>大法曰前三日，三陽病在表故宜汗之。</p>
<p>汗泄熱退身涼而愈。</p>
<p>後三日三陰病在裏，故宜下之。</p>
<p>下退裏熱則怫熱宣通，汗出氣和而愈也。亦有內熱下盡，無汗氣和而愈者也，或者曰前三日寒在表者誤也，此皆熱證也。</p>
<p>或未愈者，再經衰之。七日太陽病衰，（自此以下皆言病自衰減），頭項少愈。八日陽明病衰，身熱少愈。九日少陽病衰，耳能微聞。十日太陽病衰，身熱少愈，腹滿如故。十一日少陰病衰，渴止不滿（以言腹不復滿），舌乾已而嚏。十二日厥陰病衰，囊縱少腹微下，大氣皆去（言大病熱氣散去），病則瘳（音抽，愈也）矣。</p>
<p>此亦大略言之耳，傷寒傳受不必拘此，但以明其諸證而如法治療耳。</p>
<h4>（第二節）裏外傷</h4>
<p>如得病，脈便沉而裏病表和者，內傷也，脈浮而表病裏和者，外傷也。</p>
<p>病在身體四肢為表病，病在胸腹之內為裏病。</p>
<h4>（第三節）表裏證</h4>
<p>身熱為熱在表。言皮膚壯熱而反憎寒，非謂自發熱燥也。</p>
<p>引飲煩渴或小便黃赤為熱在裏，身熱飲水或小便黃赤為表裏皆有熱，身涼不渴小便清白則表裏皆無熱。</p>
<p>不言為寒者蓋表裏熱微，則亦有身表不熱，而裏亦不渴故也。</p>
<p>渾身疼痛拘急，表熱惡寒而脈浮者皆為熱在表也。引飲譫妄腹滿實痛發熱而脈沉者，皆為熱在裏也，胸脇痞痛或嘔而寒熱往來，脈在肌肉不浮不沉，則邪熱半在表半在裏也。</p>
<p>夫邪熱在表而淺，邪微而畏正，故病熱而反憎寒也，寒則腠理益閟而怫熱益加故也。熱在裏而深，邪葚則不畏於正物盛其極，故不惡寒而反自惡熱也，半在表半在裏進退無常，則寒熱往來也，寒多為表多，脈稍浮熱，多為裏多，脈稍沉也，諸病寒熱並同。惟瘧疾反此由表之正氣與邪熱並之於裏。表氣虛而裏熱實，亢則害承乃制，故裏之火熱極甚而反兼寒冰，水化制之，故病熱極而反寒戰也。臨汗而戰及諸戰皆然，寒戰為裏熱表虛故也，飲水而脈微不見也，裏之正氣與邪氣並出於表，則表熱裏虛，是以煩熱汗出而脈浮也，經以熱並於裏之陰分，則為陰勝而發寒熱，並於表之陽分則為陽勝而發熱也。俗未知其為表裏之陰陽而妄為寒熱之陰陽，故皆失內經之本旨也。夫傷寒之寒熱者，惡寒為表熱裏和故脈浮，發熱為裏熱表氣不虛，故發熱而脈沉實也。氣並不並故寒熱相反而有微甚也，熱並則甚，不並則微也。</p>
<h4>（第四節）主療</h4>
<p>傷寒表證當汗而不可下。</p>
<p>反下之則畜熱內餘，而成結胸，或為虛痞懊憹，喘滿腹痛下利不止，發黃驚狂斑出諸熱變證，危而死矣。</p>
<p>裏證當下而不可汗。</p>
<p>反汗之則熱甚發黃，驚狂斑出譫妄而喘，悶亂危極而死矣。</p>
<p>半在表半在裏則宜和解。</p>
<p>相和通解表裏也。</p>
<p>不可發汗吐下妄治之，則有前諸證。</p>
<p>在上則涌（音湧，吐也）之。</p>
<p>言病在膈上，如胸滿而嘔，或眩脈關前緊甚者，宜瓜蒂散吐之。</p>
<p>在下者泄之。</p>
<p>言蓄熱下焦則承氣抵當之類，泄之皆隨病所在攻之。</p>
<p>傷寒無汗表病裏和，則麻黃湯汗之，或天水散之類亦佳。</p>
<p>身熱惡寒無汗脈浮緊而數者。</p>
<p>表不解半入於裏半尚在表者，小柴胡湯主之，或天水涼膈二藥各一服，合同服之尤佳。表裏之熱勢俱甚者，大柴胡湯微下之，更甚者大承氣湯下之。</p>
<p>表雖未罷而裏證已甚，若不下之則表熱更入於裏，而裏熱危極宜以大柴胡大承氣下之，雙除表裏之熱則免使但下裏熱而下後表熱，乘虛又入於裏而生結胸及痞諸病之類也。</p>
<p>表熱多裏熱少，天水一涼膈半以和解也。</p>
<p>煎涼膈半服調天水一服，上下同法。</p>
<p>裏熱多表熱少，未可下之者，涼膈一天水半調之，勢更甚者，小承氣湯下之，表證罷但有裏證者，熱傳於裏也，調胃承氣湯下之，但除裏熱也。凡此諸可下之，（言大柴胡三承氣諸下證），通宜三乙承氣下之，善能開發峻效，而使之無表熱入裏，而成結胸及痞之眾病也。</p>
<p>發汗不解，下證前後別無異證者，通宜涼膈散調之，以退其熱便無熱甚危極也。除此之外遠勝小柴胡湯，兩感倣此而已。</p>
<p>但隨表裏微甚而以調之，兩感謂一日太陽與少陰兩證俱見，二日陽明與太陰三日少陽與厥陰俱病，前六經之證是也。</p>
<p>傷風自汗表病裏和者，桂枝湯解肌。</p>
<p>無汗為傷寒不可服桂枝湯，有汗為傷風不可服麻黃湯。</p>
<p>半在表半在裏，（脈在肌肉而半入於裏），白虎湯和解之，病在裏脈當沉也，大承氣湯下之。一法無問風寒暑溼有汗無汗，但有可下諸證，或表裏兩證俱見，而病日深但目睛不了了者（ 昏昧不精明），或腹滿實痛者或煩渴，或譫妄或狂燥喘滿者，或畜熱極深而將死者，通宜大承氣湯下之，或三乙承氣湯下之尤良，傷寒大發汗，汗出不解反無汗，脈尚浮者，蒼朮白虎湯再解之。</p>
<p>或中暑大汗自出脈虛弱，頭痛口乾倦怠煩燥，或時惡寒，或畏日氣，無問表裏通宜白虎湯，或裏熱甚腹滿而脈沉可下者，宜大承氣湯，或三乙承氣湯尤妙。傷寒表熱極甚，身疼頭疼不可忍，或眩或嘔，裏有微熱不可發汗吐下，擬以小柴胡天水涼膈之類，和解恐不能退其熱勢之甚者。</p>
<p>表熱勢甚而裏已有熱發，表未開則陽熱暴甚，故不宜汗之。表熱勢甚若吐下之，則表之熱大乘虛而入反成結胸等證則危極也。</p>
<p>或大下後或再三下後，熱勢尚甚而不能退，本氣損虛而脈不能實，擬更下之，恐下脫而立死，不下之則熱極而死。寒溫諸藥不能退其熱勢之甚者，或濕熱內餘下利不止，熱不退者，或因大下後，濕熱利不止而熱不退。脈弱氣虛不可更下者，諸濕熱內餘，小便赤澀大便溏泄頻併少而急痛者，必欲作痢也，通宜黃連解毒湯以解之也。</p>
<p>或裏熱極甚而恐承氣不能退者，或以下後而熱不退者，或畜熱內甚陽厥極深，以至陽氣怫鬱不能營運於身表四支，以致通身清（一作青），冷痛甚，不堪項背拘急，目赤睛疼，昏眩恍惚，咽乾或痛燥渴，虛汗，嘔吐下利，腹滿實痛，煩冤悶亂，喘急鄭聲。</p>
<p>鬱，鬱滯不通，鄭，音聲連濁，邪惡而不清雅也，此乃熱勢過極而語音濁亂不能清利也，俗反妄傳以為寒極陰毒，誤之甚矣。</p>
<p>脈須疾數以其極熱畜甚，而脈道不利，及致脈沉細而欲絕。俗未明其造化之理，而反謂傳為寒極陰毒者，或始得之陽熱暴甚而便有此證候者。</p>
<p>夫辨傷寒陰陽之異證者，是以邪熱在表，腑病為陽邪，熱在裏而臟病為陰也，俗乃妄言有寒熱陰陽之異證者，誤之久矣。且素問傷寒直云：熱病誠非寒也，其三篇名曰：熱論、刺熱篇、評熱病篇，及逐篇明言為熱，竟無寒理，兼素問及靈樞諸篇運氣造化之理推之，則明為熱病，誠非寒也。寒病固有夫非汗病之謂也，且造化為汗液之氣者，乃陽熱之氣所為，非陰寒之所能也，以觀萬物熱極而出液，明可知矣。經曰夫熱病皆傷寒之類也，又曰人之傷於寒也，則為熱病，然既身內有陰寒者止為雜病，終莫能為汗病也，況病法曰身熱為熱在表，飲水為熱在裏，其傷寒汗病，本未身涼不渴，小便不黃，脈不數者，未之有也，雖仲景有四逆薑附之類熱藥，是以治其本裏和誤以寒藥下之太早，表熱未入於裏，而寒下利不止，及或表熱裏寒而自利者，急以四逆湯攻裏利止，裏和急以解於表也，故仲景四逆湯證後復有承氣下熱之說也，由是觀之，傷寒汗病，經直言熱病而不言其有寒，無疑也。經言三陰證者為邪熱在臟在裏，以臟與裏為陰也，宜下熱者也。夫傷寒陰陽之別者，但非表熱當汗，而下之則死。裏熱當下，而汗之亦死。故仲景曰桂枝下咽，陽盛即斃，承氣入胃，陰實即亡。死生之要在乎須臾，視身之盡不暇計日，此陰陽虛實之交錯，其候至微，發汗吐下之相反，其禍至速，而醫術淺短者，懵然不知病源為始，乃誤使病者殞沒。然則已謂邪熱在表則汗之，邪熱在裏則下之，熱在上則吐之，熱在下則泄之，邪熱半在表半在裏則和解之，豈分寒熱陰陽之虛實，與陰陽汗病之證邪，況朱奉議自言陰毒脈疾至七至八至以上，疾不可數者，陰毒已深也，夫既云疾至八至已上，疾不可數者，正是陽熱極深之脈也，豈是陰寒歟。凡世俗所謂陰毒諸證，以素問造化驗之皆陽熱亢極之證，但畜熱極深在內，而身表有似陰寒也。經云亢則害，承乃制，言五行之道，實甚過極則反似克其己者，是為兼化，如萬物熱極反出水液，以火煉金，熱極而反似水，是以火極而似水之化也。五行皆然故肝熱甚則出泪，心熱甚則出汗，脾熱甚則出涎，肺熱甚則出涕，腎熱甚則出唾。今傷寒為作汗之病氣者，乃陽熱怫鬱而否極復泰，即熱氣蒸蒸而為汗出也，如天時陽熱亢旱否極而泰，則復為雨也，故欲雨則天乃鬱熱，晴霽則天反涼，人涼則病愈熱在病在。故病寒者自是寒病，非此汗病之氣也，雖寒屬陰水，而天地陰陽氣液相生之道，則寒之化不能更生陰水也，故古聖曰陽中生陰，陰中生陽，氣中生液，液中生氣，又曰積液生氣，積氣生液，又經曰氣和而生猶液，然氣為陽物，故萬物之水液皆生於陽熱之氣，如天氣陽熱極甚則萬物溫潤，而冬寒萬物乾燥，由是言之既為作汗之病，氣本熱非寒明矣。故經又曰凡傷寒而成溫病者，先夏至日為溫病，後夏至日為暑病，暑與其汗皆出，止言邪熱隨汗皆盡而愈也。又經曰：飲食飽甚汗出於胃，驚而奪精汗出於心，負重遠行汗出於腎，疾走恐懼汗出於肝，搖體勞苦汗出於脾，此皆動亂勞苦而致陽熱以為汗出，豈可反言作汗之病以為陰寒耶。今之俗醫不明陰陽變化之道，而妄取陽主於生，陰主於死，而欲養於陽熱者，殊不知此言自生之後以顯為陽，陽中生陰，故生者死之道也，既死之後以隱為陰，陰中生陽，故死者生之道也，此古人之論道乃死生有無動靜隱顯之陰陽，非言寒熱之陰陽也。俗又妄言仙經云：純陽升而為仙，純陽死而為鬼，因以養陽，熱者亦不知此，以陽主虛無而言，神為陽正，形體而言，形為陰，言善養生者調順陽陰，煉就陽神超升棄。其陰體即純陽之神，乃為仙也，不明道者寒熱不調，以致陰陽勝負耗絕，陽神惟存陰殼則遊魂，冥冥非鬼何哉。此則修養家言形神之陰陽，而非醫家寒熱之陰陽也。俗又妄謂周易以陽為尊為美為善，為剛為清為正，而陰邪反之。因以但欲養於陽熱者，此又不知易象言陰陽體用之道以為教，非言一身寒熱之陰陽也，故陽健唱命而陰順和之，陰順和之則陰陽和平而同歸善道，非以乾陽特為熱也。且夫子云：乾為天為圜為君為父，為玉為金，為寒為冰，然則乾之純陽豈謂熱耶，此亦非特取寒冰為陽，是取寒冰之勁健整肅，清剛為乾健之象耳。夫寒熱之卦，坎為中男迺少陽之卦，即寒冰也，離為中女乃少陰之卦，即火熱也，坎離水火為夫婦，而易以陽剛坎水寒者為夫，而陰柔離火熱者為婦，亦非以熱為陽剛，而寒為陰柔也，故易言陰陽者但以明其物象，而非素問論病寒熱陰陽之氣也。設云乾為寒者本非取乾陽為寒，但取寒之勁慄清整，像乾之道也。俗又妄言人生則身溫，而死則身冷，及病雖身熱未至於死，將死者必熱反變寒而後死也。因云陽則生，陰則死，以此專欲養於陽熱，殊不知一身之內，寒暑燥溼風火六氣渾而為一，兩停則和平，一興一衰病以生也。夫和平之常者，溫涼得所適當，其陽和之氣如俗云人體溫和是也。然冬寒而人腠理閟密則身當溫和，夏熱則腠理開通而多汗出，則身當微涼，相反者病。過與不及亦病。其中臟腑陰分以為根本則固守陽和之氣，但當溫和乃為和平。唯臟腑之氣各隨五行，休因旺相死之時位而微有虛實不一也。此之虛實乃自然之道，而不為病者。然冬腎水陰至而寒，復以天氣寒則腠理閟密，而陽氣收藏固守於內，則適當其平而以能內外之寒夏，心火陽旺而熱復，以天氣熱則膚腠開泄，而陽熱散越於外，適當其平而以能內外之熱，萬物皆然，此陰陽否泰大道造化之理。蓋莫大乎此也。然雖秋冬否閉，此以其肺腎陰王而得其所故，康彊省病而病亦輕微也。春夏開泰，以其肝心陽王故胠（音區）弱多病，而病熱怫鬱則陽氣散越，故病甚而多死亡，及夫地理方位高下，四時寒熱溫涼，安危壽天病同。故經曰：陰精所奉人多壽，陽精所奉其人天。又仙經西山記言：平人四時嘗有唏，謂三焦相火無不足，八節不得吹，謂腎臟陰難得實，然則豈可不明陰陽虛實，但欲養於陽熱耶。凡病致死者，陽和氣既不存，則止為陰濕形體而已，非冷何哉。俗未知熱甚則熱畜於內，而陽氣不能營運於四肢身表，故四肢逆冷，以致身冷脈細而微則死，畜熱甚者氣血不通而身面俱青，此則畜熱之深也，所以仲景言：傷寒熱極失下則厥，厥深者熱亦深，而厥微者熱亦微，如此則熱極而死者，莫不身冷脈微而以至於絕也，俗未明其然，直反妄曰：陽在則生，陽去則死。又曰陽熱變為陰寒則死，因以但欲養其陽熱，而反致殘陰暴絕，則陽氣後竭而死者，不為少也，俗醫未深明造化，又以妄為傷寒得之勢惡，陽勢暴甚而便畜熱以深，身冷厥逆手足無復溫和者，直以為寒極而為陰厥，以對陽厥及表裏熱勢俱甚，而不畜熱於內者，以為陽毒以配陰毒，分為寒熱陰陽之異證。曾不知傷寒汗病，便是熱病，實無陰毒陰厥者也。嗚呼，病本熱甚，熱蘊於裏，則陽氣陷下以至厥逆身冷，或青而脈微，乃妄以寒極，而內外急救其陽而反招其暴害，因以妄言必死之證，間或彊實之人，素本不衰及熱鬱怫結，況衰微者偶中辛甘熱藥發散，而腠理氣通怫熱以隨汗泄而愈者，遂以為必死之病而救之以活，反恨往之死者，救助其陽之不及，因以互相議論，但見畜熱內結厥逆者或未厥者，早以溫之無用寒涼，恐成陰毒陰證而死。俗醫治傷寒誤人多者，無過於此，後學之士但以素問運氣自然造化之理，原其標本則明可見焉。且以依法救人，慎勿惑於眾人之言。故經曰：謹熟陰陽，無與眾謀。又曰：知逆與從，正行無問，此其道也。</p>
<p>或兩感勢甚者，通宜解毒加大承氣湯下之，熱不退者宜再下之，然雖古人皆云：三下之熱未退即死矣，亦有按法以下四五次，利一二行，熱方退而得活者，免致不下退其熱而必死也，下後熱稍退而未愈者，黃連解毒湯調之，或微熱未除者，涼膈散調之，或失下熱極以致身冷脈微，而昏冒將死者，急下之，則殘陰暴絕而死，蓋陽氣後竭而然也，不下亦死；宜涼膈散，或黃連解毒湯養陰退陽，畜熱漸以宣散，則心胸復暖，脈漸以生，至於脈復而有力，方可以三一承氣湯下之，或解毒加大承氣湯尤良，後下後熱不解，涼膈散調之，愈後常宜服愈熱之藥，忌發、熱諸物。</p>
<h4>（第五節）傷寒表證</h4>
<p>夫傷寒之候，頭項痛，腰脊彊，身體拘急，表熱惡寒，不煩燥，無自汗，或頭面目痛，肌熱鼻乾，或胸滿而喘，手足指末微厥，脈浮數而緊者，邪熱在表，皆麻黃湯發汗之證也，或天水散之類甚佳，無使藥不中效而益加害也。</p>
<h4>（第六節）益元散　（一名天水散，一名太白散）</h4>
<p>治身熱嘔吐泄瀉，腸澼下痢赤白，治淋閉癃閟疼痛，利小腑，偏主石淋，蕩胸中積聚寒熱，大益精氣，通九竅六腑津液，去留結，消畜水，止渴，利中，除煩熱心燥，治腹脹痛悶，補益五臟，大養脾腎之氣，（此腎水之臟，非胃土之腑也），理內傷陰痿，安魂定魄補五勞七傷，一切虛損，主癇瘈驚悸健忘，止煩滿短氣，臟傷咳嗽，療飲食不下，肌肉疼痛，治口瘡牙齒疳蝕，明耳目，壯筋骨，通經脈，和氣血，消水穀，保真元，解百藥酒食邪熱毒，耐勞役饑渴寒熱，辟中外諸邪所傷，久服強志輕身，注顏益壽，及解中暑傷寒疫癘，饑飽勞損，憂愁思慮恚怒驚恐，傳染并汗後遺熱勞復諸疾，兼解兩感傷寒，能遍身結滯，宣通和氣而愈，及婦人下乳催生，并產後損液，血虛陰虛熱甚，一切諸證並宜服之，兼愈吹乳乳發，或已覺吹乳，乳癰，頻服即愈，迺神驗之仙藥也。</p>
<p>石淋服金石熱藥，結為砂石，自小便中出，痛不可忍。</p>
<h4>（第七節）傷風表證（一曰中風），豈有此理（一曰中風）</h4>
<p>夫傷風之候，頭痛項強，股節煩疼，或目疼肌熱，乾嘔鼻鳴，手足溫，自汗出，惡風寒，脈陽浮而緩，陰浮而弱也，（關前曰陽，關後曰陰），此為邪熱在表皆桂枝湯解肌之證也。或汗出憎風而加項背強痛者，宜桂枝湯加葛根湯也。反無汗者宜葛根湯，雖已服桂枝，反煩不解而無裏證者，先刺風池、風府，卻與服之，或服桂枝大汗出，脈浮而洪大，再宜服之。發汗後半日許復熱煩，脈浮數者，再宜桂枝湯也。當汗而反下之，不成結胸而但下利清穀不化，表證尚在者，表熱裏寒也。</p>
<p>此言承氣寒藥下之者也，或誤用巴豆熱藥下之，而脇熱利不止者，或表裏皆熱自利，或嘔者皆宜五苓散止利兼解表也。</p>
<p>急以四逆湯溫裏利止，裏和，急以桂枝湯解表。</p>
<p>或表熱裏和下利同法。</p>
<p>或陽明病脈浮遲，汗出微惡寒，或太陰病腹滿而脈浮，或宜汗吐下之，但氣上衝而脈浮者，並宜桂枝湯也。</p>
<p>脈反沉實者大承氣湯下之。</p>
<p>或下之早而心下痞，汗出惡寒，脈浮者，表未解也，先桂枝以解表，而後以大黃黃連瀉心湯以攻其痞也。太陽病不解而畜血下焦者（見畜血門），先桂枝解表，已而以下血也。</p>
<p>宜桃仁承氣湯或抵當圓攻之。</p>
<h4>（第八節）俱中風寒</h4>
<p>頭項痛，肢體疼，手足溫，為中風也，反無汗惡寒，脈浮緊者，為陰寒也，或頭項痛，腰脊強，身體拘急，指末微厥，不自汗，為傷寒也，反煩燥而脈緩者，為傷風也。風則傷衛，而寒則傷榮。</p>
<p>萬物必以陰求陽，陽求陰，陰陽相應則為和平，故榮者陰氣也，寒加之則傷耳，故又曰寒傷血，血亦陰也，衛陽氣也，風亦陽也，故風加之則傷耳，故曰熱傷氣，氣為陽也，經言陰寒主於閉藏，而陽熱主於開泄，故寒傷榮則腠理閉密，怫熱內作，燥熱而無汗，故脈數浮而緊也，風傷衛則腠理開泄，而自汗也，故脈浮而緩，以邪熱泄越，故脈不能實，陽明主於肌肉，故自汗多而脈反遲也，熱乃陽中之至陽，故傷熱氣則大汗自出，病雖為熱，脈不能實而虛弱也，然怫熱痞閉無汗者，故當病也，其汗泄通泰而亦病者，蓋泰極則否也，夫人氣和而為汗，如天地氣和而為雨，過多則澇，久不雨則旱，有無多少貴乎應時興衰，失常則災害至矣，萬事皆然。</p>
<p>榮衛俱傷則表裏熱甚也，宜大青龍湯。</p>
<p>小青龍湯</p>
<p>治傷寒表未罷，心下有水氣。</p>
<p>表雖未罷，而已有熱入於裏，怫鬱於胃，則飲食水液不能傳化宣行，畜積不散而為此，非裏熱大實煩渴，引飲過多，停積而為病者。</p>
<p>乾嘔發熱而欬，或渴或利或噎或小便不利，少腹滿或喘者。</p>
<p>水不浸潤宣散，滋潤腸胃臟腑，故熱而渴，或噎或喘或小便不利，少腹滿而喘也，水液不能宣行，則溼熱甚於腸胃，故或利也。</p>
<p>小柴胡湯</p>
<p>治傷寒中風，其病半在表半在裏，（脈在肌肉不沉不浮），筋脈拘急。</p>
<p>身體疼痛，寒熱往來（惡寒為表熱，發熱為裏熱），寒熱往來者，邪熱半在表半在裏也，進退不已，而言無常也。</p>
<p>或嘔或欬胸脇痞滿硬痛，下之前後無問日數，及汗後餘熱不解，或無問傷寒雜病，蒸熱作發并兩感，可和解者並宜服之。</p>
<p>涼膈散（一名連翹飲子）</p>
<p>治傷寒表不解半入於裏，下證未全或復未愈者，或燥熱怫結於內，而煩心懊憹不得眠者，反無問傷寒雜病，大人小兒臟腑積熱煩燥，多渴面熱頭昏，唇焦咽燥，舌腫喉痹，目赤鼻衂，頷頰結硬，口舌生瘡，痰實不利，欬唾稠粘，睡臥不安，譫語狂妄，腸胃溼燥，便尿悶結，一切風熱壅滯，風眩瘡癬，及傷寒陽明胃熱發斑，下證未全者，或誤服煖藥過多為諸熱證，并酒甚熱毒，兼小兒斑疹痘瘡未出，及驚風積熱，傷寒不能辨別者，或熱甚痘瘡已出未快者，或熱極黑陷將死者。</p>
<p>小兒疹痘未出，誤以熱藥發汗致使陽熱轉甚，則重密出不快，多致黑陷而死，因以世俗多斑疹不敢服藥，以誤小兒諸病多矣，亦不知古人所留涼瀉之藥，通治風驚積熱，傷寒熱病，縱誤是斑瘡亦使熱勢稍退，而稀少出快，早得痊安也，若用此最為妙也。</p>
<p>閻孝忠集小兒方論未達錢氏本意，不明造化之理，反妄言疹病黑陷為寒，及曰凡斑疹始終不可服涼瀉之藥，後人因之反致熱甚黑陷而死者，不可勝計也，閻公豈不詳自所編錢氏方治斑疹黑陷，用牛李膏及百祥圓，凡寒藥下之而多得痊癒者，而不救則必死，然則痘疹之為熱病豈不明哉，況經曰諸痛癢瘡瘍皆屬於心，及夫斑瘡黑陷無不腹滿喘喝，嘶聲而小便赤澀不通，豈不是熱極乎，況斑疹本因熱而生，病勢轉甚也，豈能反為寒者也。</p>
<p>並兩感諸證（三陰三陽雙傳諸證）並宜服之，或傷寒熱極將死，陰氣衰殘則不宜下，下之則陰氣暴絕，陽氣後竭而死矣，惟宜養陰退陽以至脈浮而有力，而後以三乙承氣湯微下之，下後未愈者，更以涼膈散調之，雖愈後猶宜少少服之，庶邪熱不致再作也。</p>
<p>白虎湯</p>
<p>治傷風自汗，桂枝證表未解半入裏，可以和解者。</p>
<p>脈在肌肉而不可下者也。</p>
<p>或中暑自汗脈虛弱者。</p>
<p>熱傷氣而反自汗大出，故脈不能自實而反虛弱。</p>
<p>或傷寒自汗，脈滑數而實，表裏俱熱。</p>
<p>脈沉浮皆得有力而數，身熱頭痛煩渴腹滿，小便赤黃也。</p>
<p>或三陽合病，（言太陽少陽陽明合受其為病之熱氣），腹滿身重難以轉側，口燥面垢，譫語遺尿，如誤發汗則譫言益甚，下之則便額上出汗，後必發黃。</p>
<p>或厥逆自汗者是謂熱越，（言自汗散越也），如或裏熱而脈厥者，或下證未全者，兼和解兩感。傷寒此方最解頭痛并止自汗，無問中暑傷寒風熱雜病，及傳染時疫，本非外傷風寒，脈便不浮，而自汗頭痛欲作汗病者，並宜服之。</p>
<p>無問四時，但隨證詳而用之，他藥倣此。</p>
<p>五苓散</p>
<p>治中暑并傷寒大發汗後，胃中乾煩燥不得眠，脈浮小便不利，後熱煩渴，及表裏俱熱，飲水反吐（名曰水逆），或攻痞不解或口乾煩渴，小便不利，或痞尚不解自利，或小便不利者。</p>
<p>凡用五苓散證，無問脈之沉浮。</p>
<p>或一切留飲，不散以此散水止渴，并解兩感太陽少陽俱病。</p>
<p>經言六經病證者是也。</p>
<p>或一切吐瀉霍亂（無問寒熱），及小兒瀉驚風（無問急慢）皆宜服之。</p>
<p>桂苓甘露散（一名桂苓白朮散）</p>
<p>治傷寒中風冒暑飲食，內外一切所傷，傳受溼熱內甚，或頭痛口乾，或吐瀉煩渴，或小便赤澀大便急痛，或瀉痢間作，并一切溼熱霍亂吐瀉轉筋急痛，腹滿痛悶，或中外諸邪所傷，而并吐瀉者，溼熱之時尤宜服之。</p>
<p>并治小兒驚風。</p>
<p>白朮散</p>
<p>治傷寒雜病一切吐瀉煩渴，霍亂虛損，及氣弱久虛，保衰老兼酒膈嘔噦。</p>
<p>四逆湯</p>
<p>治傷寒表熱未入於裏，誤以寒藥下之太早，其表熱本未入，而因裏寒下利不止，或表熱裏寒自利不止者，急以四逆溫裏。</p>
<p>脈浮不渴，小便清白不溫，完穀不化者是也，或辨便溺之色者，須臾審其飲食萬物之色也，或下後協熱利不止者，咽乾煩渴也，謹不宜溫也，宜五苓之類散其溼熱也，惟裏寒者可以溫之，止其寒瀉。</p>
<p>利止裏和表證尚在者，急以桂枝湯解表也，或雜病寒飲嘔吐者，或寒溼泄瀉者。</p>
<p>然雖雜病若溼熱吐瀉者，不宜此方，雖亦有溼熱痞閉之微者，誤中辛熱開發而效甚者，強劫不開，則怫熱病轉加也，惟裏寒可通用四逆湯也。</p>
<p>茯苓半夏湯</p>
<p>治傷寒雜病一切嘔吐，或喘欬頭痛者。</p>
<p>半夏茯苓湯</p>
<p>治傷寒雜病嘔噦，風眩疾逆欬喘頭痛，并風熱反胃吐食諸證。</p>
<p>黃連解毒湯</p>
<p>治傷寒雜病并酒燥熱毒，煩悶乾嘔口燥，呻吟錯語不得眠，凡一切大熱狂燥喘滿，及陽厥極甚，畜熱內深，俗妄傳為陰毒者，（見前勢）表熱太甚，頭項肢體痛不可忍，脈洪躁裏有微熱不可汗者，或溼熱內甚或欲作痢者。</p>
<p>大便溏數而少，急痛，小便赤或澀者，必欲作痢也。</p>
<p>或已利熱勢甚者，（并服本方），及下之前後寒涼諸藥不能退其熱，勢之甚者兩感諸證同法。</p>
<p>兩感者一日太陽與太陰俱病，則頭痛口乾而煩滿，二日陽明與太陰俱病，則耳聾囊縮而厥，通宜此方以退表裏諸熱，朱氏不明此皆熱證，妄言前三日真為病寒，以四逆湯急溫裏，而後以桂枝湯急解表，大誤人也。此二方皆不可用，但隨表與裏，熱勢微甚以退其熱，使無致熱極而死者是也，若勢甚宜下者，加大承氣湯下之，及夫經言此三日傳受，亦大略之法也，大抵宜隨證以施治，亦不必拘也。</p>
<p>或勢甚欲下，慮不能退其熱者，加大承氣湯下之，或熱結極深，而諸藥數下畢竟不能利，不救必死者，此法更下甘遂末一錢以下之（吐利同效），或但自熱結胸中，心胸高起，腹雖不滿而但喘急，悶結譫妄昏冒，關脈沉數而緊者，尤宜此法急以下。</p>
<h4>（第九節）吐愈佳</h4>
<p>瓜蒂散治表證罷邪熱入裏，結於胸中煩滿而饑不能食，微厥而脈乍緊者，宜以吐之。</p>
<h4>（第十節）諸可下證</h4>
<p>大柴胡湯</p>
<p>諸服小柴胡湯證後病不解，表裏熱勢更甚，而心下急鬱微煩，或發熱汗出不解，下心痞鞕嘔吐下利，（已上屬太陽），或陽明病多汗，或少陰病下利清水，心下痛而口乾，或太陰病腹滿而痛，或無表裏證，但發熱七八日，雖脈浮而數，或脈在肌肉實數而滑者，及兩感諸證可微下者，雙除表裏之熱者，並宜此劑。</p>
<p>大承氣湯</p>
<p>治大小二柴胡證後，表裏俱熱病勢更甚者，或陽明脈遲汗出不惡寒。</p>
<p>陽明生肌肉熱，甚自汗多，故脈不能數而反遲也，裏熱更甚，故不惡寒而反微熱也。</p>
<p>身重氣短腹滿而喘，有時潮熱。</p>
<p>惡寒為表熱，當汗而不可下，發熱為裏熱，當下而不可汗。</p>
<p>或手足心濈然汗出者。（濈，阻立切和）</p>
<p>今言唯手心足心氣似和然，而汗出也。</p>
<p>此大便已鞕也，或吐下後不解，不大便五六日至十餘日，日晡潮熱，不惡寒，獨語如見鬼狀刺者，發則不識人，循衣摸床，惕然而安，微喘，此陽明裏熱極甚也。</p>
<p>足陽明胃經外肌肉為十二經之長，內為五臟之本六腑之大源，故陽明胃病雖為腑病其脈沉數而實者皆當下之也，然陽明熱甚，則大便自黃赤變褐，以至於黑者，難治也。凡潮熱譫語不能食者，腸中已有燥糞，能食者，但鞕耳，舊云腸中有燥糞，是寄手陽明證在足陽明也，燥糞實非在於胸耳。</p>
<p>或陽明病下之後，心胸燥熱而懊憹煩燥者（亡液故也），或煩熱汗出則解復如瘧狀，日晡發熱而脈沉實者宜以下也。</p>
<p>脈浮虛者桂枝湯主之。</p>
<p>或六七日不大便，目不了了，睛不和，無表裏證，大便難，身微熱者，或小便不利，大便乍難乍易，時發微熱，喘胃不能臥者，有燥糞也，或三部脈皆平，心下鞕，或脈大而緊者，或下利脈滑而數者，或下利脈遲而滑者，遲由熱泄不止而致之，實非寒也。</p>
<p>或少陽病二三日，口燥咽乾者，或自利清水色純青，心下痞痛，口燥者，皆溼熱相搏於腸胃之內而成下利也，然熱則鬱結，溼則痞閉，故水液不結。</p>
<p>浸潤於外，則腸胃之外燥熱太甚而煩渴不止，腸胸之內濕熱瀉也，本因熱鬱而留飲以成溼也。</p>
<p>或諸腹滿實痛煩渴譫妄，脈實數而沉者，無問日數，並宜大承氣下之，或裏熱燥甚，腸胸怫鬱留飲不散，煩渴，止胸腹高起，痛不可忍，但嘔冷液，大渴反不能飲，飲亦不能止其渴，喘急悶亂但欲死者，熱服下咽立止其渴，有若無病之人，須臾大汗而愈，至此往往多未利而汗出，亦有藥力但隨汗之宣通則不利而愈者也。</p>
<p>小承氣湯</p>
<p>治傷寒日深恐有燥屎，欲知之法，少服小承氣湯，腹中轉失氣（謂動轉失泄之氣也），有燥屎也，乃可攻之，不轉失氣者，必初鞕後溏，未可以攻之，攻之則腹滿不能食也，欲飲水而噦，其後發熱者，大便復鞕而少也，宜小承氣和之，若腹大滿不通與小承氣湯微和胸氣，勿大泄也，或陽明多汗津液外出，腸胃燥熱大便必鞕而譫語也，或譫語脈滑疾，或發汗吐下後微煩，小便數大便因鞕者，或下利譫語者多復有燥屎也，通宜小承氣湯下之，或得病二三日脈弱無太陽少陽證，煩心，心下鞕，至四五日，雖然食少，少與小承氣和之，令小安。</p>
<p>調胃承氣湯</p>
<p>治諸發汗和解吐後，不惡寒但發熱，而或蒸蒸然者，或日深心下溫溫欲吐，而胸中滿痛，大便及溏，腹微滿鬱鬱微煩，先此時自極吐下者。（先蘇佃切）</p>
<p>先此時者，先於此時之前已曾自極吐下，而復此證也。</p>
<p>或日深裏熱譫語，法當承氣下之，誤以銀粉巴豆燥熱大毒丸藥下之，以致真陰損虛則邪熱轉甚，（甚者為邪，衰者為正），因而脇熱下利不止，脈反調和也。（協，胡劫切，和也，合也）</p>
<p>今言病本為熱，而又與辛熱大毒圓藥下之，則兩熱協和，相合而熱甚，下利不止也，下利脈當微厥，而其熱藥攻之，故脈反適當，其調和也，言有熱利不止而脈反平，或滑實大而緊者也。</p>
<p>或表裏裏和而下之太早，表熱乘虛入裏，而或不成結胸但為熱利不止，心下滿鞕成痛，煩渴咽乾脈滑數，而或實者或諸腹滿實痛者。</p>
<p>或煩渴譫妄者，小便赤澀，大便或鞕或熱泄，脈滑實而緊甚也，並宜調胃承氣湯下之。</p>
<p>三一承氣湯</p>
<p>通治大小調胃三承氣湯證。</p>
<p>大法表證罷，熱傳於裏則宜下之，熱除即愈，宜調胃承氣也，此失下熱極則危而死矣。表病裏和則當汗之，熱泄身涼即愈，若反下之則表熱乘虛入裏，而成結胸之類諸病也，或表熱半傳於裏半尚在表，則不可汗下，宜小柴胡之類和解之也，或表裏兩證熱勢俱甚，而和解不能已者，雖邪熱半在裏半在表，法當寒熱往來，以其表裏熱勢俱甚，故亦不惡寒而俱惡熱也，宜柴胡湯微下之，通除表裏之熱也，或誤用調胃承氣，則止能攻裏不能除其表熱，或用小承氣多攻裏，少除表，則表熱乘虛入裏，皆能為害也，其大柴胡證勢更甚者，宜大承氣下之，設未全愈而，或有表之微淺邪熱入之於裏，以其厚朴枳實之類善開結滯，而不能成其結胸之類諸病也，故活人書言攻裏之藥，調胃承氣最緊，小承氣次之，大承氣又次之，大柴胡最為緩慢，故表證未罷，而為裏熱已甚，須可緩下者，先大柴胡，次大承氣亦可通也，若善論開鬱結怫熱峻疾得利而效，至大設未全除而亦難再鬱結者，大承氣也，故活人書復言大承氣最緊，小承氣次之，調胃承氣又次之，大柴胡最慢也，是以可急下之者，宜大承氣也，故雖大柴胡亦可通用，而復無急下之證也，或可微下及微和胃氣者，小承氣湯調胃承氣為後先之次，由是觀之，而緩下急下，善開發而難鬱結ˍ通用者，大承氣湯最為妙也。故今加甘草名曰三一承氣湯，通治三承氣湯於效甚速，而無加害也，然以其甘草味能緩急潤燥，而又善以和合諸藥而能成功，故本草云國老子也，是以大承氣湯得其甘草則尤妙也。然此一方是三承氣湯合而為一也，善能隨證消息，但有此方，不須復用大小調胃承氣等湯也。</p>
<p>或無問傷寒雜病，內外一切所傷，日數遠近，但以腹滿咽乾，煩渴譫妄，心下按之鞕痛，或但腹滿實痛，或小便赤澀，大便結滯，或溼熱內甚而為滑泄，或熱甚喘咳悶亂，驚悸癲狂，目疾口瘡，舌腫喉痹，癰腫瘡瘍，或傷寒陽明胸熱發斑，脈沉須可下者，及小兒驚風熱極潮搐涎喘昏塞，并斑疹痘瘡，熱極黑陷小便不通，腹滿喘急將欲死者，或斑疹後熱毒不退，久不作痂者，（痂音茄，瘡痂也），或作斑癰瘡癬久不已者，或怫熱內成痃癖堅積，腹滿而喘，黃瘦潮熱，驚風熱積，及大人小兒久新瘧疾，暴卒心痛，風痰酒膈，腸垢積滯久壅風，暴傷酒食，煩心悶亂，脈數沉實，或腎水陰虛陽熱暴甚而僵仆卒中，或一切暴瘖不語失音，或畜熱內甚陽厥極深，脈反沉細而欲絕者，或表之沖和正氣與邪氣并之於裏，則裏熱亢甚而陽極似陰，反為寒戰脈微而絕者，或風熱燥甚，客於下焦，而大小便澀滯，或不通者也。</p>
<p>風木能勝溼土，火熱能耗水液，因而成燥，燥則緊歛堅結滯不通，故風熱燥甚於下焦，則燥糞結硬，腹又緊歛者，其燥糞不能相離，并膀胱燥鬱不能滲泄故不通也，慎不可用銀粉巴豆大毒燥熱圓藥下之，反生燥熱而耗其陰液也，故傷寒下熱古皆禁之，最宜三一承氣湯兼用下取法。</p>
<p>或產婦胎死不下者也。</p>
<p>風熱燥溼緊歛，則產戶不得自然開通也，其證逆，脈弦數而濇，面赤或青或變五色，腹滿急痛喘閟，胎已不動者是也。手足溫而脈滑者，止為難產，但宜滑胎催生，慎不可下也。</p>
<p>及兩感表裏熱甚欲可下者並宜三一承氣。</p>
<p>大承氣加甘草是也，或下食積及急攻結滯者，調下輕粉一字，滯下目疾口瘡咽喉瘡瘍斑疹加涼膈散，下死胎加益元散。</p>
<p>十棗湯</p>
<p>治太陽中風下痢嘔逆，表證罷，乾嘔氣短不惡寒，漐漐汗出發作有時，頭痛心下痞鞕滿引下痛者，兼下水腫腹脹，并酒積食積一切腸垢積滯痃癖堅積，或畜熱心腹暴痛，或瘧氣久不已者，或表之正氣與邪熱并甚於裏，熱極似陰而反寒戰，表氣入裏而陽厥極深，故脈微而欲絕也，并風熱燥甚，結於下焦，大便不通，或實熱腰痛者，及小兒熱結乳癖積熱作發，驚風潮搐斑疹熱毒不能了絕者，宜以下之。</p>
<p>瘀血下證  （瘀，於預切，積也，又音於）</p>
<p>桃仁承氣湯</p>
<p>治太陽病不解，而循經熱結在膀胱，其人如狂，血自下者愈。表不解者，先以桂枝湯解表，已而但小腹急結者，乃以下之。或言少腹者，誤也，臍上為腹，腹下為小腹，小腹兩旁謂之少腹，凡下皆作小腹也。</p>
<p>抵當圓</p>
<p>治傷寒裏熱小腹滿，當小便不利，今反利者，有畜血也，宜以下之。</p>
<p>抵當湯</p>
<p>治太陽日深，表證仍在，循經而熱畜下焦，脈微而沉，不結胸而發狂者，熱在下焦，少腹當鞕滿，小便自利也，血下乃愈，宜以攻之，或太陽病身黃脈沉者，循經而畜熱下焦也，少腹鞕小便不利為無血，小便自利如狂者，瘀血證也，或陽明畜熱內甚而喜忘，（喜，許記切），或狂，大便雖鞕而反易不難也，其色黑者有畜血也，或無表裏證但發熱日深，脈雖浮者亦可下之，或已下後，脈數胸熱，消穀善饑，數日不大便者，有瘀血也，並宜抵當湯下之。</p>
<h4>（第十一節）發黃</h4>
<p>茵陳湯</p>
<p>治陽明裏熱極甚，煩渴熱鬱留飲不散，以致溼熱相搏而身體發黃。</p>
<p>或言寒熱相搏而發黃者，誤也，則如萬物溼熱甚則自生黃色也，本傷寒，熱極失下，或誤汗之、溫之、灸之、熨之，或誤服銀粉、巴豆大毒熱藥下之，反以亡液，損其陰氣，邪熱轉甚，或下之太早，熱入裏，不成結胸，但以發黃者，或失寒涼調治，或熱勢本惡，雖按法治之而不能退其熱勢之甚者，或下後熱勢不退皆能發於黃也，大抵本因熱鬱極甚，留飲不散，溼熱相搏而黃也。</p>
<p>其候但頭汗出，身無汗，劑頸而還，小便不利渴飲水漿者，身必發黃也。</p>
<p>怫熱在表，燥而無汗，溼熱在裏，氣甚不能散越於外，則溼熱之氣鬱甚而上行，以至頭面陽極之分，則溼熱蒸為微汗，而頸下無汗，然溼熱不能自然宣通，散越於周身，故溼熱鬱之極甚，而面目遍身發黃色也，故白虎湯證遍身自汗出者，仲景謂之散越不發黃也，小便不利者，溼熱發黃之證也，或小便自利，或狂，或大便黑者，瘀血證也，發黃亦有譫妄者，本所不言以黃證未明，故不須言也。</p>
<p>宜茵陳湯調下五苓散以利小便，退其溼熱也，以大黃茵陳湯利大小便也。</p>
<h4>（第十二節）結胸</h4>
<p>汗下之後，不大便五六日，舌乾而渴日晡小有潮熱，從心至少腹鞕滿而痛不可近，脈尚沉緊滑數或但關脈沉緊者，通宜大陷胸湯或丸下之，或脈浮者，表未罷也，不可下之，（下之死），宜小陷胸湯及小柴胡之類和解，未罷者方可下之，或結胸雖脈浮而裏熱勢惡，須可下者，宜三一承氣湯，一服分作三次，約三時許服訖，得利甚良，雖未利稍減，脈必漸沉，病微者止，用三一承氣湯半服，按而下之裏熱甚者，以大陷胸湯大半服而下之。</p>
<p>謂有前藥之力也，然須二方中甘遂反甘草，或勢惡者，故意以甘草擊甘遂，使開發峻疾而為效速矣，故世方及活人書雙圓子亦直用甘草甘遂也。</p>
<p>或但結胸別無大段熱證，但頭微汗出，脈沉潜者，水結胸也，通宜大陷胸湯。小結胸者心下按之而痛，脈浮而滑，別無大段熱證也。</p>
<p>此亦下之早而熱結心胸也，但以熱微於大結胸，而甚於痞，但熱之微甚也，俗未明之，又以妄謂但結胸無大熱證，為寒實結胸，殊不知素問明言熱病而實非寒也，及夫臟結陰結陽結者，經以熱結於腑而腑為陽，是名陽結，熱結於臟而臟為陰，是名陰結，一名臟結也，然熱結於腑則微而淺，故病厥微而易治，熱結於臟則深而當病甚，故厥深而難治矣，或臟結畜熱極深而至身冷脈微而欲絕者，表之熱證反不見也，俗未知本熱極而致反言陰寒臟結，本亦病熱極，俗又妄加熱藥，反絕殘陰而暴死，十無一生，因以世傳臟結便為死病也，若以素問六氣脈證標本驗之，則明可見其熱證也，留飲不散而成頭汗，而脈沉潛反附於骨者，積飲以成水結胸。</p>
<p>及水結胸者通宜小陷胸湯也。</p>
<h4>（第十三節）痞</h4>
<p>傷寒表裏俱熱，下證未全，法當和解，誤下之早則成痞，心下痞滿而不痛，按之軟虛也。</p>
<p>然須裏之陰分已受熱入而為病，是謂病發於陰也，或熱微，下證未全，則不任轉瀉，誤下之早，則裏之微熱除去之外，反為熱入所損，虛而表熱故虛入裏，雖不能成結胸亦作痞也，俗醫妄謂陰寒之作發，下之早而成痞者，誤也，然病既已為陰寒，何得更言發於陰也，寒病畢竟不可下，何得言其下之早也，既言其早則病熱發於陰也，故此之邪熱病之表於陽分，而裏和未有邪熱，反以下之太早則裏乃極虛，而表之全熱大入於裏，此失之至大，故成結胸而病熱勢惡也，痞則誤之小，故為熱勢輕微也，小結胸者微於大結胸而甚於痞也，但分誤之大小熱之微甚，非謂痞為寒也，故仲景本攻痞多用大黃黃連黃芩寒藥耳，後或以加附子乾薑之類者，是以辛熱佐其寒藥，欲令開發痞之怫熱結滯也，非攻寒耳。故攻痞不開者，後當陷胸湯寒藥下其熱也，或當用大柴胡、大承氣雙下表裏，而無使表熱入裏，以成結胸及痞，若誤用調胃承氣但攻其裏，則表熱入裏而亦成痞也，或無問可下不可下，而誤用銀粉巴豆燥熱大毒圓藥下之，反以損陰亡液以使怫熱太甚，亦或成痞或為諸熱變證，各以本論詳之。</p>
<p>痞脈浮，而尚惡寒者，表未解也，當先桂枝湯解表已，而後攻痞也，或只服五苓散便雙散表裏甚良，或痞惡寒而汗出者，或痞而煩渴小便不利者，或痞而留飲溼熱下痢者，或已成痞而因藥利尚不止，以其痞滿誤更下之其痞轉甚，嘔噦下利心煩燥者，無問痞脈沉浮，並宜煎生薑湯一味調下五苓散，每服四五錢頻服，或痞不已則後亦實熱煩滿，或譫妄脈沉無他證者，宜大黃黃連瀉心湯，或用前方小陷胸亦得。</p>
<h4>（第十四節）懊憹</h4>
<p>懊憹者，煩心熱燥悶亂不甯也，甚者似中巴豆烏頭之類毒藥之狀也。</p>
<p>梔子湯</p>
<p>治懊憹煩心，反復顛倒不得眠者，燥熱怫鬱於內而氣不宣通也。</p>
<p>經曰血氣者，人之神，由榮衛血氣運行則神在乎其中也，然神行於表，則榮衛流注於經，謂之行陽，令人寤猶天之日出為晝也，神行於裏，則五臟相生而順傳，謂之行陰，令人寐，故神識外無所用而惑，神迷於內則復為夢也，猶日入於夜，其夫燥金主澀，而溼土主滑，夫燥溼之體必先因之於彼氣而後為其兼化也，猶先大涼而物後燥，乃風勝溼熱耗其液而成燥體，及熱太甚則萬物溼潤而出液者也，由是表熱無燥者，氣血運行通利而成癲狂，走呼而力大者也，燥熱病於外者，氣血壅滯則痿弱而無力也，故病內熱而無燥者，津液潤澤氣血滑利，則昏冒多睡也，如洗心散寒藥言治多睡是也，故小兒晝精健夜安寢，由血液不衰也，夫燥熱病於內者氣血澀滯則懊憹煩心不得眠也，夫傷寒之燥熱者，因於大發吐下或嘔吐瀉痢，自汗過多，或陽熱太甚，損陰耗液亡液，則血衰而成燥熱也，或灸熨炙烙，或誤服熱劑或誤因銀粉巴豆燥熱大毒圓藥下之，反損陰亡液，血衰則燥熱太甚，多為此誤。經曰：目得血而能視，耳得血而能聽，手指得血而能操，掌得血而能握，足得血而能步，臟得血而能液，腑得血而能氣，然則一身之至貴者莫過於血，故陽熱雖甚而血液不衰，則榮衛通利而為病微，血液既衰以伐燥熱怫鬱則病甚也，且如酒熱方甚而血液未衰，則氣血宣通而和暢，因其酒熱損陰亡液以致血衰，而酒漸以散之，燥熱怫鬱而煩渴，病於酒也，而再飲後得平者，氣液宣行而燥熱怫鬱後得散也，或不受復者酒毒已甚，燥熱不能散也，亦猶世俗妄意以分陽毒微於陰毒者，是謂內外燥熱太甚而血液不衰，則血氣運行之太甚而為病者，猶泰極失常以為陽毒也，以血液衰竭燥熱太甚畜之於內，則陽氣不能營運於表，故徧身青冷厥逆病危極將死者，妄謂寒極陰毒也，因以中外急救其陽而反招暴禍，倘或病熱尚微，而誤中素問言辛熱開發強劫之效，因以妄矜己能，以謂陰毒必死之證，救之以活，致使世俗愈惑，而惟恨救之不及，誤人多矣，殊不知但以退熱潤燥散結，則氣液宣行而愈也，故經曰腎苦燥，急食辛以溫之，開腠理致津液通氣脈也，然氣通和即津液宣行也，故經曰氣和而生津液，相盛而神自生。</p>
<p>或胸滿結滯，或頭微汗出虛煩者，梔子湯主之，或少氣者加甘草一錢，或加嘔者及初誤以圓藥下之者加生薑半兩，凡懊憹虛煩者，皆用涼膈散甚佳，及宜湯濯手足，使心胸結熱宣散而已。</p>
<p>梔子厚朴湯</p>
<p>治心煩腹滿，坐臥不安。</p>
<p>傷寒直格卷中終。</p>
<h2>卷下</h2>
<h3>（第四章）習醫要用直格</h3>
<p>諸證藥石分劑</p>
<h4>（第一節）麻黃散</h4>
<p>麻黃（一兩半，去節，湯泡云黃汁焙乾秤），桂枝（一兩，削去皴皮，官桂是也），甘草（半兩炙），杏仁（二十粒，湯浸去皮尖雙仁者，下並同法）</p>
<p>右剉如麻豆大，每服五錢匕，（匕匙也，謂錢作匙抄也），水一盞半煎至八分，濾去滓溫服，（滓，阻史切，澱也，𥹁也），衣覆以取微汗。</p>
<p>或溫病身煩痛小便自利者，加白朮四分微汗之。（每一分二錢半也）</p>
<h4>（第二節）益元散（一名天水散，一名太白散）</h4>
<p>滑石（六兩，白膩好者），甘草（一兩）</p>
<p>右為細末，每服三錢，蜜多許溫水調下，或無蜜亦可，每時日三服，或欲冷飲者，新井泉調下亦得。解利發汗煎蔥白豆豉湯下，每服水一盞，蔥白五寸，豆豉五十粒，煮取汁七分，調併三四服，以效為度。此藥是寒涼解散熱鬱，設病甚不解，多服無害，但有益耳，本世傳名太白散，俗惡性寒。蔥易得之賤物，而又不明素問造化之理，故不取本草神驗之言，而多不用焉，若以隨證驗之，乃凡人之仙藥也，何可缺歟。</p>
<p>夫傷寒當汗則不可下，當下則不可汗，且如誤服此藥，則汗自不出而裏熱亦獲不效，亦有裏熱便得宣通而愈者也，或半在表半在裏可和解而不可吐下發汗者，若服此藥多愈，或不愈亦小減，加涼膈散和解尤佳，或自當汗解者更加蒼朮粗末三錢，同蔥豉煎湯調服尤良，或孕婦不宜滑石麻黃桂枝輩發汗，即用甘草一兩蒼朮二兩同為粗末，每服四錢，水一盞，蔥白五寸，豉五十粒同煎至六分，濾去滓熱服，併二三服，取微汗是名逼毒散，非孕婦亦可服，或太白散加麻黃二兩去節，如法煎服，世云神白散。</p>
<p>或逼毒散加麻黃與蒼朮等分去節，濟眾云青龍散。</p>
<p>或青龍散更加滑石末與蒼朮二倍，是為發汗之妙藥名曰大逼毒散。此方唯正可汗者即用，誤服之則轉加熱也，或解利兩感煎涼膈調下益元散四錢。</p>
<p>或下乳用豬肉麵羹粥飲湯之類調下四錢，不拘時候日三服，及宜食肉麵羹粥。</p>
<p>催產溫香油漿調下五錢，併二三服以產為度。</p>
<p>或死肝不下者煎三乙承氣湯，一服調下益元散五錢，須臾更頻用油漿調益元散溫服，前後俱下而胎下可活產母也。凡難產或死胎不下，皆由風熱燥澀緊歛結滯而不能舒緩，故產戶不得自然開通也，此藥力至則結滯頓開而產矣，後慎不可溫補而反生燥熱也，俗未知產後亡液損血，疼痛怖懼以致神狂氣亂，則陰氣損虛邪熱太甚而為諸熱證，由不讀素問，不知造化，故不識證候陰陽，反以妄為產諸虛百損便為虛冷而無熱也，誤以熱藥溫補，或見煩渴者，不令飲水，本雖善心，為害多矣，豈治病之道，但以臨時審其臟腑六氣虛實，明其標本如法治之而已矣，此藥泛常多用，然須為效至大，而俗以病異藥同，將謂妄行反招侮慢，今以黃丹加令桃紅色名曰紅玉散。</p>
<p>加青黛令輕碧色名碧玉散。</p>
<p>加薄荷葉一分名雞蘇散，主療不殊，收效則一，俗目懵然，何能別此，可遠妄晦，可顯玄功，後之學者其究心焉。</p>
<h4>（第三節）桂枝湯</h4>
<p>桂枝（去皮），芍藥，甘草（炙等分，三分為率）</p>
<p>右剉如麻豆大，每服八錢，水一盞半，薑三片，棗三枚擘破，煎至七分，令去滓溫服，續後啜熱稀粥，溫覆令遍身微汗或暖也，及初夏可加黃芩一兩名陽旦湯，大熱之分及素有熱入，可再加知母半兩，石膏一兩為末，或更加升麻一分，禁生冷粘滑肉麵五辛酒酪息物等。桂枝證反下之，不成結胸及痞但腰滿證在者，本方倍加芍藥，大實痛者更加大黃半兩，脈弱自利者不加。</p>
<h4>（第四節）桂枝加葛枝湯</h4>
<p>桂枝，芍藥，甘草（各  錢三分），葛枝（一兩三錢）</p>
<p>右如桂枝湯服。（謂如桂枝湯剉煎服也，下並倣此）。</p>
<h4>（第五節）葛根湯</h4>
<p>葛根（一兩），麻黃（泡去黃汁焙乾，秤三分），桂枝（去皮），芍藥，甘草（炙，各半兩）</p>
<p>右如桂枝湯服。</p>
<h4>（第六節）大青龍湯</h4>
<p>麻黃（如前製），石膏（為末各三分），桂枝（一分半），甘草（炙一分），杏仁（十枚，湯去皮尖雙仁）</p>
<p>右剉如麻豆大，抄五錢，水一盞，生薑三片，棗三枚擘破，煎至半盞濾去滓，溫服，令身汗溼，未潤再服。</p>
<h4>（第七節）小青龍湯</h4>
<p>麻黃（如前製），半夏（湯洗），芍藥，細辛，乾薑，甘草（炙），桂枝（去皮三分），五味子</p>
<p>右剉麻豆大，每服八錢，水一盞半，生薑四片煎至七分，絞汁溫服。渴者去半夏加栝蔞根三錢。微利去麻黃加芫花彈子大。噎者去麻黃，加附子二錢（炮），以開怫熱結滯。小便不利少腹滿者，去麻黃加茯苓四錢。喘者去麻黃加杏仁，製如前法。此方燥至溫散其水，以潤腸胃臟腑之燥，以開發怫熱結滯者也。</p>
<h4>（第八節）小柴胡湯</h4>
<p>柴胡（去苗，秤二兩），黃芩，甘草，人葠（各三分），半夏（六錢，泡五七次）</p>
<p>右剉如麻豆大，抄五錢，生薑三片，棗三枚切，煎至半盞，濾去滓溫服，日三，小兒一服作三服，諸藥法同。</p>
<h4>（第九節）涼膈散（一名連翹飲子）</h4>
<p>連翹（一兩），山梔子，大黃，薄荷葉（去毛），黃芩（各半兩），甘草（一兩半），朴硝（一分）</p>
<p>右為粗末每服二三錢，水一盞蜜少許，或無蜜亦可，舊用竹葉或亦不須，煎至七分濾去滓，溫服。熱甚者可服四錢，亦有可服一二十錢者。</p>
<p>治咽喉并涎嗽，加桔梗一兩荊芥穗半兩，咳而嘔者，本方加半夏半兩，每服生薑三片煎。衂嘔血者，加當歸芍藥各半兩生地黃一兩，淋者加滑石四兩茯苓一兩，風眩者加川芎防風各半兩石膏三兩，酒毒者加葛根一兩，斑疹痘瘡加荊芥穗赤芍藥川芎防風桔梗各半兩，三歲兒可服七八錢，或熱甚黑陷腹滿急小便赤澀而將死者，此一服更加大承氣湯約以下之，得利立甦。</p>
<p>凡言加者皆自本方加也，但加者每服五七錢以意加減調理。兩感傷寒下證前後，以退表裏之熱者煎本方四五錢，調下益元散三四錢，其本方皆能治此諸證，但加即為效也。</p>
<h4>（第十節）白虎湯</h4>
<p>知母（一兩半），甘草（一兩炙），粳米（一合），石膏（四兩為末）</p>
<p>右剉麻豆大，抄五錢，水一盞煎至六分，去滓溫服，無時，日三四服，熱甚者服七八錢至十餘錢，或眩或嘔或咳者加半夏半兩陳皮半兩，每服用生薑三片煎服。</p>
<p>或傷寒發汗不解，脈浮者，加蒼朮半兩，名曰蒼朮白虎湯。</p>
<p>或發汗，或下後煩渴口乾，或脈洪大，或微惡寒者，或不可下者，或除可者之藥外，並宜加人參半兩以調之，名人參白虎湯。</p>
<h4>（第十一節）五苓散</h4>
<p>豬苓（去黑皮），茯苓，白朮（各半兩），桂（去皴皮一分），澤瀉（一兩）</p>
<p>右為細末，每服二三錢，熱湯調下，惡熱欲冷飲者，新水調下，或生薑湯調下愈妙，或加滑石二兩，甚或喘嗽咳煩心不得眠者，更加阿膠半兩泡。</p>
<h4>（第十二節）桂苓甘露飲（一名桂苓白朮散）</h4>
<p>桂（半兩），茯苓，白朮（各半兩），甘草（炙），澤瀉，石膏，寒水石（各一兩），滑石（二兩，製加刖）</p>
<p>右為極細末，熱湯調下三錢，欲冷飲者新水調下，或生薑湯調下尤良，小兒服一錢。</p>
<h4>（第十三節）白朮散</h4>
<p>白朮，茯苓（去皮），人葠，藿香葉（淨，各半兩），甘草（炙，一兩半），木香（一分），葛根（一兩）</p>
<p>右為細末，白湯調下三錢，若煩渴加滑石二兩，病甚者為粗末，每服一兩半，水一大升煎至七合，絞汁放冷從意續續飲之，小兒尤宜。</p>
<h4>（第十四節）四逆湯</h4>
<p>甘草（炙），乾薑（各一分），附子（半箇，生，去皮臍）</p>
<p>凡用附子以半兩重者佳，小者力弱，大者性惡，非稱處方之宜也，世皆美其大者，未知古人之有則也。</p>
<p>右剉麻豆大，用水兩盞煮至一盞，絞汁分溫二服，強實人二劑作三服，或畜熱極深者手足厥冷則不宜此方，當以下之也。</p>
<h4>（第十五節）茯苓半夏湯</h4>
<p>茯苓（去皮），生薑（取汁各一兩），半夏（一錢）</p>
<p>右剉麻豆大，用水一盞煎至四分，絞汁，下薑汁溫服。</p>
<h4>（第十六節）半夏橘皮湯</h4>
<p>半夏（泡如法），陳皮（湯浸洗去穰），甘草（炙），人葠，茯苓，黃芩（去腐心各一分），葛根（半兩），厚朴（去皮各一分）</p>
<p>右剉麻豆大，用水三盞，生薑一分切，煎至一盞半，絞取汁，分四服，作一日，食後，溫服。</p>
<h4>（第十七節）黃連解毒湯</h4>
<p>黃連（去須），黃柏，黃芩，大梔子（各半兩）</p>
<p>右剉麻豆大，每服秤半兩，水一茶盞煎至四分，絞取汁溫服，無時，日三四，以效為度，每一二服效，或腹滿嘔吐或欲作利者，每服加半夏三枚全用，厚朴二錢剉，茯苓去皮剉，水一盞半，生薑三片，煎至半盞，絞汁溫服，名曰半夏黃連解毒湯。或欲急下者本方加大承氣湯一服，生薑煎如前法，以利為度。</p>
<p>一法為細末，水研如小豆大，溫水下二十丸，治積熱勞欬瀉痢甚良。</p>
<h4>（第十八節）瓜蒂散</h4>
<p>瓜蒂，赤小豆（等分）</p>
<p>右為細末以香豉半合（豆豉也），水一盞半煮取汁半盞，調下一錢匕，不吐加服，得快吐乃止，虛人不宜。</p>
<h4>（第十九節）大柴胡湯</h4>
<p>柴胡（去苗），大黃（各半兩），黃芩，芍藥（各一分），半夏（二錢），枳實（三錢，生用，小者是也），枳實不去穰為效甚速，下並同。</p>
<p>右剉麻豆大，分作三服，每服水一盞，生薑三片，棗三枚，煎至半盞，絞取汁溫服，未利再服。</p>
<h4>（第二十節）大承氣湯</h4>
<p>大黃，芒硝（朴硝有芒頭者亦得），厚朴（去皮），枳實（各半兩）</p>
<p>加甘草一兩是名三乙承氣湯。</p>
<p>右剉麻豆大，分一半，用水一盞半，生薑三片，煎至六分，納硝煎一二沸，絞去滓熱服。</p>
<p>凡煎藥須慢火煎，沸即下火為一沸，或言煎至幾分，亦如此法，煎不可強火耗去其水也。</p>
<p>凡病熱鬱甚，而令服寒藥，則病能拒藥，多不能下，故經曰寒因熱用，未利再服，熱甚者此一劑分大半作一服，未利再服少半，熱更甚者一劑都作一服，熱勢甚者亦可併此二劑為一服，（劑分劑為劑，為一料），方得利而效者，臨時消息以利為度。（消息，謂損益多少也）</p>
<p>凡用藥多少倣於此耳。</p>
<h4>（第二一節）小承氣湯</h4>
<p>大黃（半兩），厚朴（三錢），枳實（三錢）</p>
<p>右剉如麻豆大，作二服，每服用水一盞，生薑三片，煎至半盞，絞取汁熱服，未利再服。或微下者，一劑分作二服。或和胃氣不欲利者，一劑分為四五服。</p>
<h4>（第二二節）調胃承氣湯</h4>
<p>甘草，大黃，芒硝（各半兩）</p>
<p>右剉如麻豆大，分一半，用水一大盞，煎至半盞絞去滓，納硝煎一二沸，熱服，不利再服。</p>
<h4>（第二三節）十棗湯</h4>
<p>芫花（慢火炒變色），大戟，甘遂（各等分）</p>
<p>右為散細未，用水一盞，肥棗十枚切開，煮取汁半盞，調下半錢匕，強實人服一錢匕，以意加減，快利為度。</p>
<h4>（第二四節）桃仁承氣湯</h4>
<p>桃仁（湯去皮尖雙仁，用板槌碎），芒硝（半兩），大黃（六錢），桂（去皴皮），甘草（各三錢）</p>
<p>右剉如麻豆大，分作三服，每服用水一盞，煎至半盞，下硝絞取汁，熱服，日三，以微利為度。</p>
<h4>（第二五節）抵當圓</h4>
<p>水蛭（炒），蝱蟲（炒，各七枚），桃仁（八粒），大黃（一錢）</p>
<p>右為細末，蜜和作二圓，用水一小盞煮一圓至六分，溫服，晬時血未下者再服。</p>
<h4>（第二六節）抵當湯</h4>
<p>水蛭（炒），蝱蟲（炒去翅足，各十枚），桃仁（七枚），大黃（一錢）</p>
<p>右剉如麻豆大，分作二服，每用水一盞煮半盞，絞去滓，溫服，未下再服。（蛭，之吉丁結二切，水蟣也，蝱，莫庚切）</p>
<h4>（第二七節）茵陳湯</h4>
<p>茵陳蒿（去莖一兩，一名山茵陳），川大黃（半兩），山梔子（七枚，小者十枚）</p>
<p>右剉如麻豆大，用水二盞半，慢火煮至一盞，絞取汁溫服六分，未利再服四分，以利為度，勢甚者作一服，未利再作，以意加減，當下如爛魚肚及膿血膠膘等物，及小便多出金色如皂角汁，或見證將欲發黃者，此一劑分作四服，每服調下五苓散三錢，凡治發黃無越此法也。</p>
<p>世俗有傳烙黃而或愈者，此強實之人素本中氣不衰，而及溼熱鬱之微者，烙之而誤中，強劫開發得開氣血宣通即作汗而愈，或體質本虛溼熱結甚，則劫發不開而反致死者不為少矣。莫若仲景法對證以藥致之，則免致強劫不開，而反誤人生命也，及夫近世妄傳有寒極陰黃，而內外極救其陽，為害多矣，設若病微而誤中，開發得愈亦以鮮矣，而傷生者不可勝言也。大抵凡諸黃者有二，一則溼熱氣而黃，萬物皆然，又如麥秀而霒雨，溼熱過極則黃疸者也，及水澇而天氣溼熱則草木將死而色變黃者也，或病血液衰則虛，燥熱太甚而身面痿黃者，猶亢旱而草木萎黃也。夫病燥熱而黃者，當退熱潤燥而已，此傷寒溼熱極甚而發黃者，開結退熱雙利大小腑，以除水溼則利和而愈也。（霒，於秫切，今作陰）</p>
<p>結胸而發黃者，同陷胸湯各半服下之，或誤服巴豆熱毒圓藥下之，及損陰氣遂協熱利不止而發黃者，同大承氣各半服下之，亦有協熱利不止，更或結胸而發黃者，用茵陳五分，同陷胸湯三分，大承氣二分以下之，或兩感發黃者，本方加黃連解毒湯一服急下之。</p>
<p>或頭微汗小便利而微黃者，溼熱微也，宜此</p>
<p>梔子柏皮湯：</p>
<p>大山梔子（十枚），甘草（一錢），黃柏（半兩）</p>
<p>右剉如麻豆大，此劑則作二服，每服水三盞煮至一盞，絞取汁分三次，作一日服。</p>
<h4>（第二八節）大陷胸湯</h4>
<p>大黃，芒硝（各三錢），甘遂末（三字匕）</p>
<p>右剉如麻豆大，一劑分作二服，每服用水一盞，煮大黃至六分，內硝煎一二沸，絞汁，一字匕半，溫服，未快利再服，熱惡不利者，以意加服。</p>
<h4>（第二九節）大陷胸湯</h4>
<p>大黃（半兩），葶藶（三錢微炒），芒硝（一分），杏仁（十二箇，草灰炒色變）</p>
<p>右大黃為細末，下葶藶杵，再羅研杏仁、消如泥，和圓如彈子大，每服一圓，入甘遂末三字匕，白蜜半匙，水一盞煮至半盞，溫服，當一宿許乃下，未利，再服。</p>
<h4>（第三十節）小陷胸湯</h4>
<p>半夏（四錢湯洗，全用不剉），生薑（二錢切），黃連（二錢剉），栝蔞實（大者半箇，惟剉其殼子則不剉，或但用其中子者非也）</p>
<p>右以水三盞，煮栝蔞取汁一盞半，內餘藥煮至一盞絞取汁，一盞分兩次溫服，以效為度。</p>
<h4>（第三一節）大黃黃連瀉心湯</h4>
<p>大黃，黃連，黃芩（各一分）</p>
<p>一法加生薑一分甚良。</p>
<h4>（第三二節）梔子湯</h4>
<p>大梔子（七枚剉碎），豆豉（半合）</p>
<p>右以水兩盞煮梔子至一盞半，內豉煮至半盞絞汁溫服。</p>
<p>凡加者皆用梔子先煮。</p>
<p>或吐者止後服。凡諸梔子湯皆非吐人之藥，以其燥熱鬱結之甚，而藥頓攻之，不能開通則鬱發而吐，因其嘔吐，發開鬱結則氣通津液寬行而已，故不須再服也。</p>
<h4>（第三三節）梔子厚朴湯</h4>
<p>大梔子（七枚），厚朴（半兩炙去粗皮），枳實（二錢）</p>
<p>右剉如麻豆大，以水一盞半煮絞汁半盞，溫服。</p>
<h3>（第五章）泛論</h3>
<p>凡傷寒熱病，下後熱不退，下證尚在者，再三下之，以熱退為度，雖熱退尚未痊愈者，隨證調之。凡下之前後或大汗將出，或大汗已出，（俗言好汗是言大汗），或汗後煩渴，及諸吐瀉雜病一切煩渴者，須以細細飲之，渴未止者頻頻時與，但不可過多，以成留飲不散者也。留飲一名水畜，經曰積飲。</p>
<p>夫留飲謂水液留積畜聚於內，而不滋潤傳化者也，夫腸胃燥熱太甚則結滯，而氣液不能宣通，故雖飲而難以止其煩渴也。若以頓飲過多則水溼過極，而腸胃燥熱沸鬱，轉以加其水溼痞閉，故成留飲，而心腹滿痛或為吐瀉也。</p>
<p>設若不與飲之，則燥熱轉甚危而死矣。</p>
<p>夫腸胃之燥溼，猶地最澇，適當其宜，皆不可過與不及，凡治病之道以調六氣陰陽，使無偏傾各守其常平和而已。嗟夫！世俗或以妄為冷水寒藥水損脾腎隔卻大汗，但令中外俱熱，而欲望其作大汗者，或大汗欲出腸胃燥熱煩渴，及汗已出反慮水卻大汗不與水者，或氣弱久虛煩渴者，或吐瀉煩渴者，或產婦煩渴，皆以妄為氣虛不可飲水也，此乃未知古人云：渴欲飲水為熱在裏也，若夫正氣既衰，邪熱燥甚而煩渴者，若非水液寒藥滋養救其殘陰，退其邪熱則陽熱暴甚而為害速矣。況不與水而反以大毒熱藥燥之，寍無損者耶，旦如酒之體者水也，比之飲水則過能多飲，而旋能消散之，外轉能發於渴者，以其苦熱養於心火，則陽盛陰衰而燥去水溼之體，故旋能消散而善多飲水也，其酒之善多飲者，以其酒之熱毒，若非復以水體勝之，則亦少飲。疾醉者強以飲多，則燥熱太甚而多生病也，然酒力之熱善消水體，復制酒力以其熱力多於水體，故飲多即熱醉，而燥盡水體勢力尚在，則燥勢煩渴而病於酒也，然酒之熱耗盡水體之外，尚能燥熱煩渴為病，況病於燥熱太甚而煩渴，反不與水者，豈不知其害耶。凡燥熱煩渴者腸胃易為怫鬱，常以退熱開結散水潤燥之藥調之，免致燥熱太甚則怫鬱以成留飲，雖多飲亦不止其腸胃臟腑之燥熱煩渴，而或腸胃之內溼甚以成吐瀉也，涼膈白虎五苓及桂苓甘露之散類，隨證以調之也。</p>
<p>或成留飲諸病者，隨證燥之。</p>
<p>宜小青龍湯，五苓，桂苓甘露，黃連解毒湯，小陷胸，大承氣之類證本方論中。</p>
<h3>（第六章）戰汗</h3>
<p>熱病大汗將出而反寒戰者。</p>
<p>古人以百病皆為雜病，惟傷寒名曰大病，俗言汗病是也。經言大汗者，非謂邪熱自汗大出者也，乃陽氣怫熱鬱結後，得開通發散宣通，則蒸蒸而為汗出，是謂大汗，言大病怫熱，邪毒之氣鬱極，迺發以為汗出，故曰大汗也，故經曰大氣皆去，病得已矣。</p>
<p>表之正氣與邪熱并甚於裹，大熱亢極而反兼水化制之，故反寒慄也。（化謂造化之化也）</p>
<p>經曰少陰所至為驚，或惡寒戰慄譫妄，謂少陰君火熱氣之所至而為此等之病也。又經曰諸禁豉慄如喪神守，皆屬於火。注云熱之內作，然禁俗作噤豉振搖而動也，言禁冷振慄反寒戰也。經曰亢則害，承乃制，謂五行之道微者，當其本此實其過亢則反兼勝己之化，以制其甚。老子云天之道，其張弓乎，高者抑之，斯其道也。經云水曰靜，順謂靜，而自已無為，但順物之氣味也，及方圓不與物爭乃至柔順者也。水本寒，寒極則水冰如地而能載物，又經曰冰發而雹雪是水寒亢極，而反似剋水之土化，是謂兼化也，故病寒極者反堅滿也，夫土主溼霒雲雨而安靜，雨溼極甚則飄驟散落，是反兼風水制其土溼也，故經言痙為溼極而反似風強病也。木主生榮而王於春，其氣溼其本風，風大則反涼而毀折，是兼金化制其本也，故風病過極則中外燥澀，皮膚皴揭，反氣運行之燥澀，而筋脈瘛緩是反兼金化也。</p>
<p>金主於秋，而屬於陰，其氣涼，涼極則天氣清明而萬物反燥，燥物莫若火，是金極反兼火化制之也，故為病血液衰少，燥金之化極甚則反熱也，燥物莫若火，夏月火盛熱極，甚則天氣曛昧而萬物反潤以出水液，林木流津及體熱極而反出汗液，以火煉金，熱極而反化為水，是火極而反兼水化制之也，故病熱極則反出五溼，婦人帶下淋瀝及厥逆身冷，或為惡寒戰慄而或反冷痛也，俗以帶下直言冷病，及惡寒戰慄便為陰寒者，俗醫未知此也。</p>
<p>天道造化，病微必當其本化，寒見水化，熱見火化也；病甚者反似勝己之化，如寒極反似濕土，熱極反似寒水之化也。嗟夫百病之極甚者，其狀反似於己之相反者，俗醫不求其病之本氣，而百端擬疑，莫知真源不得已，而但隨兼化之虛象妄為其治，反助其病而害於生命多矣，以至舉世皆云病至危極之時，則陰陽反變而無能辨別也，殊不知但以運氣造化之理推之，則設若千變萬化而歸其要則一也，何得有難易之二耶，故經曰：夫標本之為道，要而博，小而大，可以言一而知百病之害。經又曰善言始者，必念於終，善言近者，必知其遠，是則至數而道不惑所謂明矣。故老子曰：不窺牖見天道，不出戶見天下，其出彌遠，其知彌少，蓋知要與不知要也。古聖曰反常合道，謂古聖天理大道合同，而常俗之心則有相反者也。然古聖道不離於俗者，謂道包於俗而入俗也。又云俗自離道者，常俗莫能合於道也。夫俗則有相，而道本無形者，正如五行之變化，微則守常而本化自見，乃有相之俗，是化以自見也，甚則反似勝己之化，乃無相而反常合道，是謂變以其取變於本化之相，而反見勝己之化也，變化之道多端，此則微甚外相之變化也。故仙經曰大道似不肖，厚德若不足，即藏其本相於內，而反變化勝己之化於外，無相乃反常合於道者也，卻以道眼觀之，則求其內也，若但以俗眼觀其外，則逐相而遷，何由得其要也。故聖經所論天地變化與道合同，而俗無所慊，但隨俗見編集方論，有乖其理，祗合俗心，致使後人皆由說反自以為明，而聖經之妙理瞢然罔究，病者無辜竟罹橫夭吁，可痛者，且如經言陽勝則熱，陰勝則寒，俗直謂陽熱之氣勝則發熱，陰寒之氣勝則發寒者，皆經之本旨也，此言表裏之陰陽，正氣之虛實，言正氣勝者為不病，而不勝者為病也，故經曰陰勝則陽病，陽勝則陰病，陽勝則熱，陰勝則寒，是謂表陽之正氣為不病，裏陰之正氣衰而為受病也。裏陰之正氣勝為不病，表陽之正氣衰而為受病者也，此皆熱在表裏陰陽之部分者也，然病勝在裏為陽勝陰虛病當發熱，故發熱為病熱在裏，陽勝陰虛，下之則愈，汗之即死者是也。表熱裏和則病當惡寒，為陰勝陽虛，汗之則愈，下之即死者是也。故熱在表為陰勝陽虛，而言惡寒之寒則為寒也，熱在裏為陽勝陰虛，而言發熱之熱則為熱也，故傷寒表熱則惡寒當汗，裏熱則發熱而當下之。又經曰重寒則熱，重熱則寒者，非謂病寒而極重反變也，此重言當有兩重惡寒則不惡寒而惡熱，謂表熱惡寒為一寒也，若裏之陽和正氣，又出之於表則又當有一重惡寒，是謂重寒則反不惡寒而為發熱也，若表之正陽之氣與邪熱并入於裏，則為兩重發熱則不發熱，而後禁慄寒戰也，此反言陽和衛氣并之於表陽分，則病氣之勝為陽勝也，病氣與衛氣并甚於裏之陰分，則為陰勝也，此亦表裏之陰陽正氣之與邪熱相併，而以言為虛實也。然邪熱在於表，則惡寒，而熱與裏之衛氣并之於表，則反煩熱也。邪熱獨在於裏則發熱，而表之正氣與邪熱并之於裏，則反寒戰也。故經云陽虛則外寒，陰虛則內熱。此言不併者也，正氣虛而受邪熱，故言虛也。又曰陽勝則外熱，陰勝則內寒，此言併者也，夫表裏陰陽之分，受其邪熱之所在，其沖和正陽之衛氣，又為邪熱相并，而為病之所正氣轉實而不虛，故經言勝也。</p>
<p>故經瘧論云：陽氣并於陰當是之時，陽虛而陰實，外無氣，故先寒慄也。陰氣逆極則後出之陽，陽氣復併於外，則陰虛而陽實，故先熱而渴。又曰并於陽則陽勝，并於陰則陰勝，陰勝則寒，陽勝則熱，是言表裏之陰陽熱氣之虛實，非寒熱陰陽之虛實也。故經曰病在陽則熱而脈燥，在陰則寒而脈靜，然氣并於內而外無氣，故寒戰脈不能燥，甚而沉細欲絕，靜或不見也。</p>
<p>夫瘧者，邪熱與衛氣并則作發，而不并則休止也。故經曰衛氣相離或病得休，衛氣集則復病也。故又云陰虛而陽實，實則熱矣，衰則氣復反入，入則寒矣，祗言表裏之陰陽氣不并者為虛，而并者為實，其為病之氣者，乃熱之一也，俗未明之，直以經言陰勝則寒，不明其經意以病熱而反惡寒戰慄，便為陰寒之病，誤之久矣。其陰寒之為病者，脈遲細不煩渴，小便清白，吐利腥穢，屈伸不便，厥逆禁固，體寒而不熱，不惡寒，無戰慄者也。故經言人多病氣也，陽少陰多，故身寒如從水中出，又曰人有身寒，湯火不能熱，厚衣不能溫，不凍慄，此是陰寒為病。而直云不凍慄寒冷也，夫陽動陰靜，故經云：戰慄動搖為陽火熱氣以為病也，反寒冷者，亢則害，承乃制，是火熱極而反似寒水者也，故病寒戰者反渴，及雜病而害戰者多有燥糞也。及夫平人冒寒而戰慄者，寒主閉藏，而外冒於寒，則裏熱怫鬱，而表之陽和衛氣以外寒逼入於裏，則陽并於陰而寒戰也。夫恐極而戰者，經言五志過極則勞傷本藏，恐為腎，故經曰恐傷腎，然腎傷而虛，則心火自甚而熱也。又經曰恐則氣下，然陽主出行舒榮，故心火之志喜則身心放肆，而陰主收藏，故腎水之志恐則身心收歛也，夫恐則腎虛心實而熱，正氣收藏陷下於裏，亦是陽并於陰而寒戰也。夫酒噤而戰者，腸胃酒熱未散，身表酒力已消，則陽熱易為畜熱入裏，故但冒於寒則陽并於陰而寒戰也，夫欲汗而寒戰者，傷寒日深表證罷，畜熱於裏則發熱也，若表裏之正氣并入裏，則火熱無極而反寒戰也，陰分陽熱之氣逆極，而後出之陽，則煩熱而大汗作也。</p>
<p>世所謂交陽者，非陰寒交熱以為陽熱也，乃怫熱畜之於裏，而鬱極迺發，則交傳出之於表之陽分，是謂交陽而後作汗也，或怫鬱過極而不能交出於表者，是鬱極不發，否極不泰，即正氣衰，殘陰氣先絕，則陽氣後竭而死矣。夫欲汗，而脈忽沉細而或不見者，陽表正氣并入於裏故也，交陽而燥亂昏冒者，裏熱鬱極迺發而欲出，以怫鬱而陽之氣極不能出，故氣亂則神背而燥擾也。</p>
<p>凡欲作汗，無問病之微甚，或以經新下者，或下證未全者，恒以涼膈散調之，甚者宜黃連解毒湯，或下後二三日，或未經下腹滿煩渴脈沉實，而有下證者，三一承氣湯下之，勢惡者加黃連解毒湯下之，或已戰不快者，或戰後汗出不快者，或微戰數次經大戰而汗不出者，乃并之不甚而病之不速也，通宜三一承氣湯，或更加黃連解毒湯下之，以散怫熱而開鬱結也。</p>
<p>大法曰：脈浮不可下，傷寒病已有裏證，脈沉之下，裏證尚在，脈漸浮，至一二日汗不能出者，裏證鬱發之不峻病已，三一承氣湯微下之。凡此諸可下者，或得利而汗便出者，或服藥而怫鬱頓然開發，先汗出而後利者，或利性但隨汗出，泄則氣和而愈，更不利者，說不快交不過而死者，止由裏熱極甚而不能開發也。故常以寒涼或下怫熱免致，但以其作汗而為邪熱，耗絕陰氣而死也，或不戰而汗出者，眾不能盡而陽不并陰也，或戰而無汗而自愈者，津液已衰，以經發汗吐利，或自汗吐利亡液過多，則津液衰竭無由作津，但氣和而愈也。</p>
<p>或不戰無汗而愈者，陽不并陰則不戰，津液已衰故無汗而已也。</p>
<p>世俗未知，而直以惡寒戰慄名陽熱氣虛，陰寒實勝，因而為治，誤人多矣。</p>
<h3>（第七章）受汗</h3>
<p>夫大汗將出者，慎不可限其煩熱，而外用水溼及風涼制其熱也。</p>
<p>陽熱開發將欲作汗而出者，若為外風涼水溼所薄，則怫熱反入於裏，而不能出泄，病多危極而死矣。</p>
<p>亦不可恨其汗遲，而厚衣壅覆，欲令大汗快而早出也。怫熱已甚而鬱極迺發，其發之微則順，甚則逆，順則發易，逆則發難，病已怫熱作發而煩熱悶亂，更以厚衣壅覆太過，則陽熱暴然太甚，陰氣轉衰而正氣不榮，則無由開發，即燥熱喘滿，危而死矣。</p>
<h3>（第八章）汗後</h3>
<p>雙解散</p>
<p>普解風寒暑溼，饑飽勞逸，憂愁思慮恚怒悲恐，四時中外諸邪所傷，億覺身熱頭疼，拘倦強痛，無問自汗無汗，憎寒發熱，渴與不渴，有甚傷寒疫癘汗病，兩感風氣雜病，一切舊病作發三日，裏外並宜服之。設若感之勢甚，本難解者，常服三兩日，間亦漸減，可並無所損，或裏熱極甚，腹滿實痛，煩渴譫妄須可急下者，以大承氣湯下之，三一承氣湯亦妙也。或下後未愈或證未全，或大汗○後逆氣，或汗後餘熱不解，或遺熱勞復，或感他人病氣汗毒傳染，或中瘴氣馬氣羊氣一切穢毒，并漆毒酒食一切藥毒，及墜墮打撲傷損疼痛，或久新風眩頭疼，中風偏枯，破傷風，洗頭風，風癇病，或婦人產後諸疾，小兒驚風，積熱瘡瘍疹痘諸證，無問日數但服之，周身中外氣血宣通病皆除愈。（是防風通聖散加天水散各一半）</p>
<p>防風，川芎，當歸（切焙），芍藥，薄荷葉（淨），大黃，麻黃（去根苖節），連翹，芒硝（別研各半兩），石膏（別研），桔梗（各一兩），滑石（十五兩別研），白朮，山梔子，荊芥葉，甘草（四兩剉），黃芩（各一分）</p>
<p>右為粗末，每服五錢六錢，水一大盞半，入蔥白五寸，鹽豉五十粒，生薑三片，煎至一盞，濾汁去滓溫服，無時，日三四服，以效為度，常服三錢，水一中盞煎六分，絞汁溫服，不拘時，兼夜四服，設痊愈後更宜常服，使病不再作。新病不生並無過，竟無問歲數，乃平人常服之仙藥也，凡人已衰老則腎水真陰損虛，即風熱燥鬱甚，精血涸竭枯燥而死，但以此藥扶補滋潤者也。嗟夫世俗反以妄傳中年以上，火氣漸衰止是虛冷更無熱病，誤服熱毒之劑害人無數，豈知識病之法，全憑勝證以別寒熱陰陽虛實，豈可以中年上下為則耶，此藥除孕婦及產後月事經水過多，并泄瀉者不宜服，或治雜病亦宜，治風熱極妙，一名通氣防風散，一名通解散。</p>
<h3>（第九章）傷寒傳染論</h3>
<p>夫傷寒傳染之由者，因聞大汗穢毒以致神狂氣亂，邪熱暴甚於內，作發於外，而為病也，則如西山記曰：近穢氣而觸真氣。錢仲陽云：步履糞穢之履，無使近於嬰兒，若聞其氣，則令兒急驚風搐也。孫真人云：乘馬遠行至暮當沐浴更衣，然後方可近於嬰兒，使不聞馬汗氣毒，不然則多為天吊急驚風搐也，故剝死馬者，感其毒氣而成馬氣丁黃之疾，皆由聞其毒氣之所作也。故聖惠方一法大汗出，則懸藥於戶，辟其大汗穢毒，無使傷於人也。世以艾灸席隅者，皆其義也，多染親屬憂戚侍奉之人，勞役者由其神氣怯弱，易為變亂故也。何以知傳染，脈不浮者是也，若誤以熱藥解表，不惟不解其病反甚而危殆矣，其治之法，自汗宜以蒼朮白虎湯，無汗宜滑石涼膈散，熱散而愈。其不解者適其表裏微甚，隨證治之，而與傷寒之法皆無異也。</p>
<p>傷寒直格卷下終。</p>
