<header data-type="book">
<h1>應急良方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>胡文煥</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
</dl>
</header>

<h1>通用</h1>
<p><u>治氣聚心下不散者。</u></p>
<p>桃樹上不落干桃子去核皮，取仁三兩為末，每服二錢，空心溫酒調下。</p>
<p><u>治絞腸痧，痛不可忍。</u></p>
<p>鹽一兩，熱湯調，灌入病人口中。鹽氣一到，其痛即止。</p>
<p><u>治陽脫證，四肢厥冷。或因傷寒新瘥，誤行房事，小腹緊痛，外腎搐縮，不救則死。</u></p>
<p>蔥白連須三七根，細切濾酒，濃煮一碗，分作三服灌之。陽氣即回。</p>
<p><u>治自汗夜間盜汗。</u></p>
<p>五倍子末唾調，填滿臍中，縮定。一宿即止。</p>
<p>又方</p>
<p>浮麥炒，為細末，每服二錢，米湯送下。</p>
<p><u>治痰嗽。</u></p>
<p>飛過白礬、五倍子等分，為末，每服二錢，以生豬肝火熱蘸藥，食後臨臥服。</p>
<p><u>治吐血並鼻中出血。</u></p>
<p>藕節搗汁飲之。</p>
<p><u>治勞心吐血。</u></p>
<p>蓮心二十二粒為末，酒調二錢，食後服。</p>
<p><u>治鼻中出血。</u></p>
<p>千葉石榴花焙乾為末，吹入鼻中即止。</p>
<p><u>治男子白濁女人帶下。</u></p>
<p>陳年冬瓜子仁炒為末，每服五錢，空心米湯調下。治諸淋病，小便赤澀疼痛。</p>
<p>三葉酸漿草洗淨，搗汁一盞，酒一盞，攪勻，空心服，立通。</p>
<p><u>治五淋。</u></p>
<p>苧蔴根兩莖切碎，水煎服效。</p>
<p><u>治睡中遺尿。</u></p>
<p>燕窠中草土為末，不語食。</p>
<p><u>治小便不通。</u></p>
<p>蚯蚓搗碎，以冷水濾濃汁，飲半碗立通。</p>
<p><u>治痔瘡，大便下血。</u></p>
<p>槐樹上木耳為末，米湯調一錢，日三服。</p>
<p><u>治痔漏。</u></p>
<p>蜣螂不以多少焙乾，為末，先用白礬水洗淨，貼之。</p>
<p><u>治鼠乳痔。</u></p>
<p>蜘蛛絲纏其上，自然消落矣。</p>
<p><u>治外痔。</u></p>
<p>鰻鱺熏糞門，痔蟲皆死。</p>
<p><u>治脫肛。</u></p>
<p>鱉頭一枚燒炬盡，為末，傅肛門上，用麻鞋底按入即不出。</p>
<p><u>治痢赤白。</u></p>
<p>薺菜根燒灰，湯調下，極效。</p>
<p><u>治諸痢。</u></p>
<p>鹽梅去核，研一枚，合茶湯加醋服之。</p>
<p><u>治血痢。</u></p>
<p>茶葉和蜜煎。淺赤痢，茶葉和生薑煎服，甚效。</p>
<p><u>治泄瀉。</u></p>
<p>生薑二塊，艾葉一把，水煎熱服。</p>
<p><u>治狂言鬼語。</u></p>
<p>蝦蟆一個燒為末，酒調服。</p>
<p><u>治發狂欲走。</u></p>
<p>瓜蒂半兩為末，井水調服一錢，大吐後熟睡即效。</p>
<p><u>治出路，在家應急吐瀉方。</u></p>
<p>路傍破草鞋去兩頭，將水洗過三四次，伶俐煎水一大碗，要甚滾方可吃。即愈。</p>
<p><u>治面瘡。</u></p>
<p>枇杷葉布擦去毛，炙乾為末，食後茶湯調下二錢。</p>
<p><u>治泄精。</u></p>
<p>韭菜子二兩炒，為末，食前酒下二錢。立愈。</p>
<p><u>治干瘡末藥方。</u></p>
<p>孩兒茶（三錢）　片腦（一分）　血竭　乳香　沒藥　明礬（煉過）　龍骨（少許）　眼藥末　遠年　螺螄殼（煉過）　上為末，用好豬油搽上。即愈。</p>
<p><u>治人面卒生黑丹如芥狀，不急治遍身即死。</u></p>
<p>鹿角燒灰，豬脂和塗之。</p>
<p><u>治耳腫。</u></p>
<p>小赤豆為末，水調傅上。立效。</p>
<p><u>治眼目赤腫翳痛。</u></p>
<p>鯉魚膽點之，亦治耳盲。</p>
<p><u>治物入眼中。</u></p>
<p>好墨清水研，箸點即出。</p>
<p><u>治飛絲入眼。</u></p>
<p>新筆於眼內攪之，即收在筆上。</p>
<p><u>治耳聾。</u></p>
<p>鼠膽汁滴入耳中。</p>
<p><u>治耳痛。</u></p>
<p>鱔魚血滴入耳傅，即愈。</p>
<p><u>治聤耳，膿血不止。</u></p>
<p>白礬燒灰，吹入耳中。</p>
<p><u>治百蟲入耳。</u></p>
<p>兩刀於耳相磨敲作聲即出。</p>
<p><u>治蜈蚣入耳。</u></p>
<p>自出。</p>
<p><u>治酒皶鼻。</u></p>
<p>白礬常擦為妙。</p>
<p><u>治鼻瘡。</u></p>
<p>杏仁研，乳汁和傅，或以鳥牛垢傅。</p>
<p><u>治牙疳。</u></p>
<p>燒筍乾為末，入鹽擦之效。</p>
<p><u>治舌無故出血。</u></p>
<p>炒槐花為末摻之，即愈。</p>
<p><u>治口瘡。</u></p>
<p>白礬一兩鐵勺內火熬干，黃丹一兩炒紅色，收下紫色，為末摻瘡上。</p>
<p><u>治舌生瘡。</u></p>
<p>取東壁上土細研傅之。</p>
<p><u>又方</u></p>
<p>縮砂火煅為末，糝瘡上效。</p>
<p><u>治口唇緊小，不能開合飲食，不治即死。</u></p>
<p>白布作燈炷如指大，安斧刀上燃燒，令刀上汗出，拭取傅唇上。</p>
<p><u>又方，</u></p>
<p>以蛇殼燒灰，先拭淨，傅之。</p>
<p><u>走馬疳。</u></p>
<p>大蜘蛛一枚濕紙裹，外用荷葉包，火煅令焦存性，細研，入少麝香傅之。</p>
<p><u>中暑。</u></p>
<p>盛暑遠行忽中暑，昏悶在地，急取地上熱土，水調服。</p>
<p><u>又方，</u></p>
<p>大蒜三兩瓣，同研尤砂。</p>
<p><u>凍腳瘡。</u></p>
<p>橄欖核燒灰存性為末，入輕粉，油調塗之。</p>
<p><u>治癰。</u></p>
<p>百藥箭，白礬少許為細末，以羊蹄根蘸擦之。</p>
<p><u>久年惡瘡。</u></p>
<p>多年石灰碾碎，雞子清調成塊，煅過候冷再為末，薑汁調服。</p>
<p><u>金瘡並一切瘡。</u></p>
<p>雲母粉傅之，絕妙。</p>
<p><u>骨鯁。</u></p>
<p>甚者，以好炭皮洗淨，搗為細末，以米飲調服，立愈。</p>
<p><u>婦人心痛。</u></p>
<p>荔枝核燒灰存性為末，淡醋湯下。</p>
<p><u>男子小兒卒心痛。</u></p>
<p>荔枝核燒灰存性為末，蚌粉湯亦效。</p>
<p><u>頭瘡。</u></p>
<p>乾地龍為末，入輕粉，麻油調傅之。</p>
<p><u>又方，</u></p>
<p>杏仁燒灰傅。</p>
<p><u>魚骨鯁</u>　（在腹刺痛。）</p>
<p>象末一錢，蔥酒調下。</p>
<p><u>又方，</u></p>
<p>大慄殼燒灰研細，熟水調下。</p>
<p><u>口瘡。</u></p>
<p>訶子、黃柏燒灰存性，入輕粉、麝香摻之，咽亦不妨。</p>
<p><u>口舌生瘡。</u></p>
<p>杏仁七個去皮尖，輕粉少許，同嚼，吐涎即愈。</p>
<p><u>又方，</u></p>
<p>酸米醋含，吐涎，再含硼砂，即愈。</p>
<p><u>大舌。</u></p>
<p>以半夏醋煎，汨漱，吐出即愈。</p>
<p><u>重舌。</u></p>
<p>五靈脂一兩去砂石，為末，用米醋一大碗同煎，逐旋漱之。</p>
<p><u>口氣。</u></p>
<p>白礬枯為末，入麝香、青鹽各少許，揩了，吐出涎。</p>
<p><u>又方，</u></p>
<p>香白芷七錢，甘草五寸，為細末，食後井花水調下一錢。</p>
<p><u>鼻氣。</u></p>
<p>右亭脂以紫色為上，紅色次之，黃色勿用。先研令極細，再滴水數點，和研半日許，臨臥隨多寡以冷水調勻，痛擦患處，明早浣去。用之半月，可絕患根。</p>
<p><u>腋氣。</u></p>
<p>石綠三錢重，研細，入輕粉一錢重，和勻。先拔去腋下毛令淨，用酸醋調藥少許擦之。五次可斷根。</p>
<p><u>又方，</u></p>
<p>以古破錢十數文，鐵線串聚燒紅，酸醋淬十次，入麝香，碾為細末調塗，亦妙。</p>
<p><u>癜風。</u></p>
<p>赤癜白癜兩般風，附子硫黃最有功，薑汁調茄蒂蘸擦，擦經兩度管無蹤。</p>
<p><u>又方，</u></p>
<p>去附子，黃，加磨石，可療白癜。</p>
<p><u>又方</u></p>
<p>雞子一枚，酸醋浸過宿，針刺小孔瀝取清液，入砒霜綠豆許，和勻。將青布包擦患處，以指點藥揩之亦妙。</p>
<p><u>頭癬。</u></p>
<p>紫貝草根以生白礬同擂爛，塗患癬處所，可斷根。</p>
<p><u>又方，</u></p>
<p>以砒霜少許，滴醋同熬為膏，搽之亦妙。如覺癢，不可以冷水洗，切不可抓破。</p>
<p><u>又方，</u></p>
<p>班貓去頭足，糯米炒黃，去糯米，以淮棗煮熟，去皮取肉為丸，唾調搽之，尤妙。</p>
<p><u>手縫癬。</u></p>
<p>煎四物湯，礬石末少許攙入同服。再煎渣洗之，甚妙。</p>
<p><u>去瘡瘢。</u></p>
<p>白獺髓雜玉屑，琥珀屑塗之。</p>
<p><u>又方，</u></p>
<p>密陀僧末水調塗之。</p>
<p><u>烏髭不老。</u></p>
<p>旋化石灰廣四分，真蛤粉三分，鉛粉二分，虢丹一分，同為末。臨臥以皂角湯洗髭，冷水調藥連根均傅，取蒸軟荷葉包裹，以帛傅外，至早浣去。頻研核桃、松子油滋之，神妙。</p>
<p><u>點痣去瘢。</u></p>
<p>糯米百粒，石灰拇指大，巴豆□□□□□□餅藥少許，入磁瓶內寄三日。每以竹篦挑粟米許點痣處，自然蝕落。</p>
<p><u>治唇緊燥裂生瘡。</u></p>
<p>橄欖不以多少燒灰，豬脂和塗患處，立效。</p>
<p><u>治癰疽發背、惡瘡腫毒及毒蛇風、犬所傷。</u></p>
<p>大蒜切片安腫上，以艾灸之，蒜熟更換新者。初灸痛、灸至不痛止；初灸不痛，灸至痛乃止。</p>
<p><u>治一切日久頑瘡不收斂者。</u></p>
<p>香油（一兩）　松香（五錢）　銀硃（一錢）　千年地下灰（五分）　上溶開蘸軟紙上用之。又治臁瘡，甚效。</p>
<p><u>臁瘡方。</u></p>
<p>輕粉（五分）　黃蠟（一兩）</p>
<p>上用熱鏊，厚紙散粉上，以蠟糝勻為度，縛在瘡上。黃水出即愈。</p>
<p><u>神傳齒藥，神陰陽，牢齒，黑鬚發。</u></p>
<p>豬牙皂角及生薑，西國升麻熟地黃，木健旱蓮槐角子，細辛荷葉要相當。青鹽等分同燒煅，研煞將來使最良。惜牙固齒髭鬢黑，誰知世上有仙方。</p>
<p>上藥神效，真仙方也。荷葉煎取近蒂心子。近世名公多修用之有妙。煅藥用新瓶，入藥，鹽泥固濟留口，炭火燒，煙盡即止。</p>
<p><u>治牙齒搖動，鬢須憔悴。</u></p>
<p>養身不用煉丹砂，每日清晨只擦牙。牙皂七錢火煅過，茯苓五倍細辛加。每味二錢各等分，自然功效入仙家。二八之日君須見，老來須鬢黑如鴉。</p>
<p><u>治鬢邊生軟癤。</u></p>
<p>豬頸上毛，貓頸上毛各一撮，燒灰，鼠屎一粒，為末，以清油調服，立愈。</p>
<p><u>治附骨疽久不瘥，膿汁敗壞，或骨從瘡孔中出。</u></p>
<p>大蝦蟆一個，亂頭髮一握如雞子大，豬油四兩，同前。久之，濾去前藥滓，凝如膏。先以桑根皮，烏頭煎湯洗，拭乾，煅龍骨末摻瘡四畔，用前藥貼之。</p>
<p><u>治冬月手足開裂。</u></p>
<p>清油半兩以慢火煎沸，入黃蠟一塊同煎。候溶，入光粉、五倍子末少許，熬令稠，紫色為度。先以熱湯洗，火上烘乾，用藥傅薄紙上，貼之。</p>
<p><u>治杖瘡。</u></p>
<p>雄黃二分，無名異一分，細研水調傅，極妙。</p>
<p><u>治瘡熱毒疼痛。</u></p>
<p>黃丹一兩，密陀僧半兩，輕粉一錢，麝香五分，龍腦一匙，為末糝瘡上，以青布蒙之，中留一竅，立效。</p>
<p><u>治刀斧傷。</u></p>
<p>牛膽石灰包裹，定痛止血，立瘥。</p>
<p><u>治破傷風。</u></p>
<p>蟬殼為末，蔥涎調傅破處，即時取去惡水，立效。</p>
<p><u>治湯燙火燒。</u></p>
<p>多年廟上獸頭為末，香油調傅，立效。</p>
<p><u>又方，</u></p>
<p>□□葉燒存性為末，雞子清調傅。</p>
<p><u>治骨鯁。</u></p>
<p>野苧麻搗碎，丸如龍眼大。魚骨鯁，魚湯下；雞骨鯁，雞湯下。</p>
<p><u>通治諸鯁。</u></p>
<p>薤白煮令半熟，以線系定，少嚼咽之，度至鯁處就便拽出，即愈。</p>
<p><u>又方，</u></p>
<p>谷樹子泡湯嚥下，骨自消。</p>
<p><u>治誤吞竹木不得出。</u></p>
<p>舊鋸子燒紅投酒中，熱飲酒下。</p>
<p><u>治誤吞金銀銅錢入腹。</u></p>
<p>石灰一杏核大，硫黃一皂子大，研末酒調服。</p>
<p><u>治針刺折在肉中。</u></p>
<p>瓜蔞根搗爛傅上，一日換三次，自出。</p>
<p>牛膝草根嚼罨之，立效。</p>
<p><u>治諸惡蟲傷。</u></p>
<p>蛇殼煮湯洗三、兩度，或以二粉生薑汁傅傷處。</p>
<p><u>治蜈蚣咬。</u></p>
<p>以鞋底擦之。</p>
<p><u>又方，</u></p>
<p>燈草蘸油，點燈熏之。</p>
<p><u>雄蠍鱉人，痛在一處。</u></p>
<p>井底泥傅之，即愈。</p>
<p>簷下泥傅之，或以白礬末水調，先挑出黑刺，即塗之，立效。</p>
<p><u>治蜘蛛傷，遍身成瘡。</u></p>
<p>青蔥葉一莖，小頭作一孔，盛蚯蚓一條，捏兩頭勿令透氣，搖動，化為水，點之，立效。</p>
<p><u>治壁蝨。</u></p>
<p>蜈蚣萍曬乾燒煙薰之，則去。</p>
<p><u>又方，</u></p>
<p>青鹽水灑床蓆比即絕。</p>
<p><u>治蜂蠆毒。</u></p>
<p>野芋葉擦之。如不便，急以手抓頭上垢膩傅之，或用鹽擦，或用人尿洗之。</p>
<p><u>治胡蜂蜜蜂螯。</u></p>
<p>以油木梳火上炙熱熨之。</p>
<p><u>治八腳蟲，其蟲隱於壁間，以尿射人，遍身生瘡，狀如湯火傷，步虛丹。</u></p>
<p>龍骨（一兩）　黃耆　赤石脂　防風　桂心（各一兩）　烏梅　乾薑（各二兩）</p>
<p>上為細末，煉蜜為丸，如彈子大。欲遠行，飽食罷服一丸，酒送下，一日可行二、三百里。若不行，於膝下不過三寸，用冷水略洗，其藥力自消。</p>
<p><u>男婦腰痛方。</u></p>
<p>玄胡索　肉桂　當歸　一方有杜仲（各等分）</p>
<p>上為細末，每服二三錢，鹽湯調下，食前酒服。</p>
<p><u>起油藥</u>（治濁汙衣服並顏色書畫等物。）</p>
<p>龍骨（一兩五錢）　滑石（二兩）　烏魚骨（二兩）　白蟮土（一兩）　莙薘灰（二兩）　上為細末摻汙處，紙襯熨。油汙多日者，再用細細抹。</p>
<p><u>避蚊蟲法。</u></p>
<p>五月五日午時，取老蝦蟆一個，將好墨一片入在口內，用紅線縛住，用羅經甲定。取正午方掘一穴，深五寸，埋蝦蟆於內。至次日午時，取出蝦蟆口中之墨。每要用時，將墨就壁上畫一葫蘆，再將淨水噴三口在葫蘆上，其蚊蟲盡入其中。次日都不可打死，欲去之，即將扇輕輕搧去。試著葫蘆再隨鬼轉靈，但取墨時，須要蝦蟆上驗；死無驗。</p>
<p><u>除木蝨方。</u></p>
<p>鯁魚頭，川山甲二件，曬乾為末，床下燒煙薰之，木蝨盡死。</p>
<p><u>除頭上蝨方。</u></p>
<p>將細茶用口嚼爛，勻調水銀，搽於頭髮上，其蝨即死。</p>
<p><u>除狗蚤方。</u></p>
<p>五月五日，用熨斗燒棗一枚置床下，狗蚤皆死。</p>
<p><u>闢蛇蠍方。</u></p>
<p>五月五日午時，以硃砂寫茶字倒貼之，蛇蠍不敢近。</p>
<p><u>闢蒼蠅方。</u></p>
<p>五月五日午時，望太陽寫白字，倒貼於四柱上，則無蒼蠅。</p>
<p><u>闢臭蟲方。</u></p>
<p>以菖蒲鋪席下睡，則少臭蟲。</p>
<p><u>食牛肉中毒。</u></p>
<p>以豬牙燒灰為末，水調服二錢，即愈。</p>
<p><u>食馬肉中毒。</u></p>
<p>飲好酒微醉即愈。</p>
<p><u>食狗肉中毒。</u></p>
<p>用杏仁二兩，和皮研細，以熱湯三盞拌勻分三服。其狗肉皆全片瀉出，即愈。</p>
<p><u>食豬肉中毒。</u></p>
<p>以燒豬糞為末，水調服二三錢，不過三服，即愈。</p>
<p><u>急救食諸魚毒。</u></p>
<p>橘皮汁，大豆汁，馬鞭草汁，紫蘇汁，俱可解之。</p>
<p><u>急救食諸蕈毒。</u></p>
<p>掘地坑，汲井水在內攪之，連飲泥水數碗，取吐，即瘥。</p>
<p><u>急救中巴豆毒。</u></p>
<p>其症口渴，臉赤，五心煩熱，利不止。搗芭蕉根葉汁飲之即瘥。</p>
<p><u>急救天行熱病。</u></p>
<p>鬼臼（一錢真者）　鬼箭羽（一錢）　硃砂（一錢）　雄黃（一錢）　石菖蒲（五分）</p>
<p>上煉蜜丸如大豆大，每日米飲下二丸。若與病人同床共衣，將二丸塞鼻不染。</p>
<p><u>急救夏途熱死。</u></p>
<p>切不可以冷水灌及以冷物逼心。急移陰涼處，取路上熱土於死人臍上作窩，令人溺其中。又取路上熱土並蒜同研調，去渣灌下，即活。</p>
<p><u>急救冬途凍死及落水凍死。</u></p>
<p>微有氣者，急脫去濕衣，解生人熱衣包之。用炒灰令熱，以囊熨之心上，冷即換之，令暖氣通里。以熱酒或薑湯灌之，即活。</p>
<p><u>急救中砒霜毒。</u></p>
<p>好白蠟三、五錢研細，冷水灌下，解之。</p>
<p><u>急救男婦縊死。</u></p>
<p>口閉捏拳者可救，口開手散者不救。頭莫放倒，刺雞冠血滴入口中即活。男用雌，女用雄，仍塗喉下，更效。</p>
<p><u>急救木石壓死並跌磕傷，從高墜下跌死，氣絕不能言者。</u></p>
<p>急劈開口以熱小便灌之，立效。</p>
<p><u>又方，</u></p>
<p>松節炒出煙，入好生酒攙內，儘量飲醉，極佳。</p>
<p><u>急救六畜中毒。</u></p>
<p>以水服壁上黃土，或地漿解之。</p>

<h1>婦人</h1>
<p><u>治癰疽爛見心。</u></p>
<p>貓兒腹下毛，耳窩內毛，煅存性為末，乾摻或清水調，入輕粉少許傅之。</p>
<p><u>治有孕咳嗽。</u></p>
<p>貝母去心，麩皮炒令黃，麩皮為末，研，砂糖拌勻，丸如雞頭大，含化，神效。</p>
<p><u>治胎漏。</u></p>
<p>蔥白一把濃煎汁，飲之立效。</p>
<p><u>治觸動胎氣，腹痛下血。</u></p>
<p>縮砂不拘多少，於熨斗內炒透，去皮取仁，研為末，每服二錢，熱酒調下。</p>
<p><u>治難產。</u></p>
<p>清油一盞，水一盞對和，用銀簪打和，飲之。</p>
<p><u>又方，</u></p>
<p>取夫褲帶五寸燒灰存性酒服。又以皂角末少許吹入鼻中，即生。</p>
<p><u>催生。</u></p>
<p>鳳仙子二錢研碎水下。</p>
<p><u>治逆生，須臾不救，母子俱亡。</u></p>
<p>蛇殼一條，蟬退十四個，頭髮一握，並燒為灰，分二服酒調，並進二服，仰臥。霎時或用小繡針，於小兒腳心刺三、七刺，用鹽少許擦刺處。即時順生，母子俱活。</p>
<p><u>治橫逆手足先出，或子死腹中</u></p>
<p>灶中心對鍋底下土細研，每服一錢，酒調。</p>
<p><u>治下死胎。</u></p>
<p>麝香半錢，另研官桂末三錢，和勻作一服，溫酒調下。須臾如手推下未放，再服。</p>
<p><u>又方，</u></p>
<p>兒印不以多少，黃色者去毛研為末，每服二錢，酒一盞，煎八分，通口服。立效如神。</p>
<p><u>胞衣不下。</u></p>
<p>半夏，白蘞一兩，為末，酒服一錢。難產一服，橫生二服，倒生三服，兒死四服，神效。</p>
<p><u>又方，</u></p>
<p>草麻子十四粒去殼搗爛，以白麵和成膏貼腳心。胞衣下，速洗去。如腸出，即以此藥塗頂心，迴腸神效。</p>
<p><u>治產後血暈，心悶氣絕，腹內惡血不盡，絞痛。</u></p>
<p>紅花酒煎，或以藕汁、二砂飲之，效。</p>
<p><u>治產後子腸出，不能救者。</u></p>
<p>枳殼去穰二兩，煎湯溫浸，良久即入。</p>

<h1>小兒</h1>
<p><u>治小兒生下即死，用法可救活。</u></p>
<p>急將兒口中懸雍前齶上有泡以手指摘破，用帛拭血令淨。若血入喉，即不可治。</p>
<p><u>治小兒初生氣欲絕，不能啼者，必是難產或冒寒所致。</u></p>
<p>急以綿絮包裹抱懷中，未可斷臍帶。且將胞衣置炭爐中燒之，仍作大紙燃蘸油點火，著臍帶上往來燎之，更以熱醋湯蕩洗臍帶。須臾氣回，啼哭如常，方可洗浴，了卻斷臍帶。</p>
<p><u>治小兒初生，大小便不通及不飲乳。</u></p>
<p>蔥白二寸破作四界，以乳汁砂鍋內煎，灌之立效。</p>
<p><u>治小兒吐乳。</u></p>
<p>田中蚯蚓泥為末，米飲調下。</p>
<p><u>治小兒吐不定。</u></p>
<p>五倍子二個，一生一熟，甘草一根，用濕紙裹煨，米汁調下半錢，效。</p>
<p><u>治小兒卒驚，似有痛傷而不知狀。</u></p>
<p>雄雞血滴入口中，效。</p>
<p><u>治小兒夜啼。</u></p>
<p>燈草燒灰抹乳上。與吃燈花，尤妙。</p>
<p><u>治小兒寸白蟲。</u></p>
<p>酸石榴東引根二兩，糯米三十粒，水一碗煎，空心服。須臾瀉下，便不生疾痛。</p>
<p><u>治痘瘡出不透，腹痛甚或黑靨者。</u></p>
<p>蟬殼二十五個去翅足，淨洗為末，每服一錢，熱酒調下。乳母亦服一錢。</p>
<p><u>治痘瘡黑陷。</u></p>
<p>人牙齒燒存性為末，每個作一服，酒調下。</p>
<p><u>治痘瘡入眼。</u></p>
<p>浮萍陰乾為末，以羊子肝半個入盞內，以杖刺碎爛，投水半合攪取汁調下。食後服，每服三錢。</p>
<p><u>治痘瘡爛成片。</u></p>
<p>黃牛糞干傅膿多者，乾淨黃土傅之瘡遍。口中不能食者，蜜浸黃柏皮，取汁啖之。凡瘡欲成痂類，以面油、乳酥、清蜜潤之可揭，血出無害。</p>
<p><u>治痘瘡爬搔成瘡，膿血淋漓。</u></p>
<p>多年蓋屋爛草曬乾，為末乾摻，甚效。</p>
<p><u>治痘瘡欲發未發。便發，此藥以毒攻毒，縱然瘡出亦少快，無惡證。</u></p>
<p>冬月取大貓、豬、犬糞各等分，埋於高處黃土窖，吉日取出。用砂鍋盛，蓋鹽泥固濟曬乾。於臘八日，煅令通紅，取以碗合地上一宿，出火氣。為末，入麝香少許，每用一字，以蜜調勻，溫湯化下。或挑少許於舌上，用乳汁嚥下。此方捷效，多秘，不須病家知之。</p>
<p><u>治口角爛瘡。</u></p>
<p>亂髮燒灰為末，豬脂和傅。</p>
<p><u>治頭上軟癤。</u></p>
<p>白礬為末，清油調傅，效。</p>
<p><u>又方，</u></p>
<p>桃樹上不落干桃子燒灰，清油調傅，甚效。</p>
<p><u>治遺尿。</u></p>
<p>雞肫腸一具燒存性，豬尿胞一個炙焦，為末，每服一錢，酒調下。男用雌，女用雄，如法即效。</p>
