<header data-type="book">
<h1>銅人腧穴鍼灸圖經</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王惟一</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1026">公元1026年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2766">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>
