<header data-type="book">
<h1>葉天士曹仁伯何元長醫案</h1>
</header>

<h1>葉天士醫案</h1>

<h2>一、春溫門（三十三方）</h2>
<p>（案1）風溫不解，早涼晚熱，口渴，舌紅。熱邪未清，陰液已衰，胃汁耗則不知飢。宜生津和陽以蘇胃。</p>
<p>黃芩　青蒿　烏梅　白芍　鱉甲　橘紅</p>
<p>（案2）溫邪內伏，潮熱，自利。暮甚於晝者，稚年陰氣淺也。仲景於春三月瘟病內應肝膽，例以黃芩湯為主。</p>
<p>注：春溫正治，春屬風木，內應肝膽，故上升為嘔，下注為自利。</p>
<p>黃芩　淡竹葉　杏仁　白芍　木通　甘草</p>
<p>（案3）溫邪深入，咽阻，心中熱悶，自利。三焦皆病，恐熱深欲厥。</p>
<p>黃芩　黃連　淡竹葉　白芍　烏梅　杏仁</p>
<p>（案4）風溫不解，肺氣不利。寒熱，汗出，吐血。更有惱怒肝逆，內外兩因之病。為左右立法。</p>
<p>注：即升降法也。</p>
<p>鬱金　鉤藤　黑梔皮　生米仁　杏仁　丹皮　瓜蔞皮　蘆根汁</p>
<p>（案5）風溫入肺，肺氣失降，鬱蒸熱聚。咳痰，臥不安靜。高年積勞之體，最宜甘寒清燥，所謂風溫得潤而解。</p>
<p>南沙參　甜杏仁　桑葉　甘蔗汁　麥冬　玉竹　竹葉　梨汁</p>
<p>（案6）左脈空搏，陽不潛伏。咳吐涎沫。</p>
<p>注：滋上不應，即當固下。此陰薄之體，溫邪重耗其液也。</p>
<p>生地炭　阿膠　雞子黃　炒麥冬　炙草　生白芍</p>
<p>（案7）風溫陽逆。嘔噫。</p>
<p>金石斛　茯苓　桑葉　枇杷葉　沙參　杏仁</p>
<p>（案8）外寒內熱，溫邪氣逆為嘔。</p>
<p>蘇梗　桑葉　橘紅　淡芩　杏仁　厚朴</p>
<p>（案9）溫邪嘔逆。</p>
<p>注：風溫入肺為輕，乘胃嘔逆為重。</p>
<p>茯苓　竹茹　鉤鉤　廣皮白　淡芩　鬱金　川斛</p>
<p>（案10）風溫，身熱，陰弱則暮甚。忌葷，清理而安。</p>
<p>蘇梗　杏仁　白沙參　淡芩　象貝　淡竹葉</p>
<p>（案11）陰虛，風寒咳嗽。</p>
<p>沙參　茯苓　炒麥冬　玉竹　甘草　生扁豆</p>
<p>（案12）脈大，咽乾，痰多，咳甚，食下腹悶。此風溫日久，勞倦內熱，津傷液燥也。</p>
<p>玉竹　桑葉　白沙參　蔗汁　麥冬　生草　甜杏仁　梨汁</p>
<p>（案13）風溫入肺。咳嗽，脈堅搏，夜臥汗出。陰分先虧，兼多失血。大忌發散苦辛，從溫邪當甘潤而解治。</p>
<p>玉竹　桑葉　甘草　麥冬　沙參　杏仁　元米湯煎。</p>
<p>（案14）肺痹，脘中及腹痛，自利清穀。是風溫邪熱相搏，諸氣失於宣降。擬開手太陰法，以滋氣化，得小便利可安。</p>
<p>枯芩　鬱金　桑葉　杏仁　蔞皮　桔梗　橘紅　蘆根</p>
<p>（案15）風溫輕恙，誤汗表疏，形寒自汗。先進建中法，以和營衛，繼進參苓補劑，則表裡平和，自然安逸。</p>
<p>桂枝　甘草　生薑　白芍　飴糖　大棗</p>
<p>（案16）昨進建中法，因形寒汗泄，主乎和陽理營。今進《金匱》麥冬，以蘇津液，得胃陰稍振，然後緩商進補，庶幾妥洽，不致偏勝之弊。</p>
<p>北沙參　生白芍　梨汁　炒麥冬　生甘草　蔗汁</p>
<p>（案17）溫邪勞倦，經月不復，津虧，潮熱，無寐。</p>
<p>北沙參　知母　杏仁　炒麥冬　石斛　生草</p>
<p>（案18）風溫入肺，肺菀失降，氣攻上焦清空之地。發散則犯溫邪，劫津，故口渴，氣逆不已，腹痛而嘔，胃絡受傷矣。</p>
<p>桑葉　象貝　蔓荊子　杏仁　馬勃　牛蒡子</p>
<p>（案19）面浮，咽痛。溫邪未解，輕劑苦辛降泄。</p>
<p>桑葉　白沙參　通草　連翹　牛蒡子　滑石</p>
<p>（案20）背寒腹熱，發於晡時，夜寐則多驚惕，食入欲嘔。此肝陰久虛，陽獨上熾，風溫乃是客氣，多延漸為本虛矣。</p>
<p>桂枝　白芍　烏梅　黃芩　牡蠣　大棗</p>
<p>（案21）冬月熱伏於裡，春令風溫入肺，引動舊時伏熱，營衛流行，邪干怫鬱，遂致寒熱四十餘日，形神消瘦，入夜著枕便躁。《經》云：不得臥，臥則喘煩，乃肺氣之逆也。幼稚陽常有餘，陰常不足，故晝輕夜重，病名風溫。手太陰屬上焦至高之所，若清痰、消食、苦寒、通便方藥，皆徒傷腸胃，未明恰當之理，倘氣閉竅塞，慢驚亦是。久延元傷，萬難調理，久而失治，肺液日枯，氣失清降，又慮肺脹喘促。議葦莖湯，宣通氣血，以祛伏邪之意。</p>
<p>千金葦莖湯：蘆根　甜瓜子　米仁　單桃仁</p>
<p>（案22）心營肺衛為溫邪留伏，氣血流行，與邪相遇搏激，遂有寒熱如瘧之狀。今形神羸瘦，久延經月，速則恐其成驚，再延必致兒勞，多進苦藥消削胃口，又慮敗倒。急清氣熱，以通營衛，使邪無容留之地，寒熱可冀其止。至於痰嗽，必得胃口旺，肺金自全要，非藥餌強劫之謂也。</p>
<p>桂枝白虎湯</p>
<p>（案23）風溫不解，頓嗽，嘔吐。宜澹滲以利熱清胃。</p>
<p>米仁　桑葉　杏仁　蘆根　滑石　象貝　通草</p>
<p>（案24）溫邪上混，頭痛，氣喘。治在手太陰。酒客痰熱素盛，苦降為宜。</p>
<p>連翹　黃芩　橘紅　枳實汁　花粉　杏仁　白芍　鬱金汁</p>
<p>（案25）風溫，上熱化燥，治在氣分。</p>
<p>桑葉　沙參　玉竹　杏仁　甘蔗汁</p>
<p>（案26）風溫如瘧，煩倦，乃由內熱水虧。</p>
<p>犀角　白芍　知母　生地　丹皮　澤瀉</p>
<p>（案27）風溫入太陰，氣鬱熱聚。咳喘，口渴。營衛失和，周身掣痛。脈右搏，防失血。</p>
<p>蘇梗　桑葉　鬱金　杏仁　梔皮　米仁</p>
<p>（案28）溫邪陷入厥陰，陰津被劫，舌卷囊縮，神識昏冒，發為剛痙。擬救逆法。</p>
<p>桂枝　龍骨　白芍　蜀漆　牡蠣　炙草</p>
<p>（案29）溫邪久伏，腹痛，利積，口渴，亦下陰虧損，不司約束，以致熱入腸胃。議芩芍湯治之。</p>
<p>黃芩　厚朴　楂肉　白芍　藿香　木通</p>
<p>（案30）溫邪，利水，胃逆嘔吐。</p>
<p>竹茹　桑葉　淡芩　杏仁　木通　淡竹葉</p>
<p>（案31）積勞、飢飽、驚恐，全是內傷。當春仲大氣發泄，腰痛足冷，已現下虛本病。辛散苦降，陰陽再傷，致白利口渴，神呆不語，脈細促，容晦暗。少陰真氣重損，有昏譫厥脫之慮，非忽視之證也。</p>
<p>熟地炭　龍骨　炙草　當歸炭　牡蠣</p>
<p>（案32）左脈脈堅數甚，舌喑不語，得飲微嗆、微呃。此溫邪內伏，少陰水虧液燥，熱氣上冒，乃中厥之象。老年最怕面赤神昏，為衰脫耳。</p>
<p>生地　知母　菖蒲　梨汁　天冬　川斛　遠志　蔗汁</p>
<p>（案33）久虛勞損，幾年不復。當春深陽氣發泄，溫邪乘虛入陰。寒熱，汗出，不納穀，脘中痞悶不舒，胃乏氣運，側眠咳痰。病屬險篤，恐難萬全。</p>
<p>人參　旋覆花　木瓜　茯神　代赭石　粳米</p>

<h2>二、夏暑門</h2>
<p>（附濕溫時疫　五十七方）</p>
<p>（案1）本系勞倦氣虛之體，當此暴熱，熱從口鼻而受，竟走中道。《經》云：「氣虛身熱，得之傷暑。」暑熱蒸迫，胃津日槁，陽升不寐，喘促口乾，前板齒燥，刻欲昏冒矣。甘寒生津益氣，一定之理。</p>
<p>人參　知母　甘草　麥冬　石膏　粳米　竹葉</p>
<p>（案2）古人以痙、暑、濕列於一門，皆暑月病，不與感冒同法。謂熱爍在裡，筋急牽強，藥取酸苦、清降、和陽，兼柔其筋。奈非世俗所議。</p>
<p>黃連　木瓜　白芍　烏梅　黃芩</p>
<p>（案3）長夏脾胃主乎氣候，暑濕氣自口入膜原，以入中宮，脾胃受困，正氣已餒，勉進飲食，氣機呆鈍，清濁失職，郁遏於中，少火皆為壯火。欲噯不得，心中熱，思冷飲，坐起即頭焮旋欲暈，形骸疲倦無力，皆壯火熱氣、內風旋之象。藥餌效與不效在易，而平居調護工夫須自為琢磨，冀免小愈病加之累，屢經反復，再無復元之日。古人因病損真，生氣不來，深慮及此。</p>
<p>人參　生白芍　烏梅　醋炒半夏　黃連　鬱金汁　枳實汁</p>
<p>（案4）暑熱由中而受，不可表散。</p>
<p>藿梗　橘紅　木瓜　絲瓜葉　黃芩　杏仁　蔻仁</p>
<p>（案5）暑熱消爍胃汁，口渴，不飢。議以制木和胃。</p>
<p>麥冬　白芍　半曲　橘紅　烏梅　省頭草</p>
<p>（案6）暑風，頭脹，口渴，身熱，嘔痰，脈弦。防瘧。</p>
<p>香薷　橘紅　花粉　蘇梗　杏仁　川貝</p>
<p>（案7）暑風未變成瘧，欲嘔，脘痹，氣喘。乃上焦受病，正氣久虛。無發散消導、更通大便之理，此乃口鼻受氣，與風寒停食不相侔者。</p>
<p>蘇梗　黃芩　厚朴　花粉　蔻仁　杏仁</p>
<p>（案8）暑邪在上，清空諸竅熱，嗆咳痰，氣促。當清肺熱。</p>
<p>淡芩　鬱金　竹葉　杏仁　川貝　連翹</p>
<p>（案9）潮熱，煩渴，欲得冷飲。暑爍津液，故發疹、唇瘡不足盡其邪，理進清氣熱、通營衛。</p>
<p>桂枝　知母　甘草　石膏　麥冬　粳米</p>
<p>（案10）熱傷肺氣，煩渴，便閉。但暑病忌下，尚宜甘寒生津。候王先生裁教。</p>
<p>竹葉　人參　麥冬　粳米　石膏　甘草　玉竹</p>
<p>（案11）氣熱劫津，煩渴，安寐則減，此虛象也。況咳嗽百日，肺氣大虧，此益氣生津諒不可少，勿以拘宿垢未下致因循也。</p>
<p>人參　木瓜　捲心竹葉　麥冬　麥芽</p>
<p>（案12）暑熱傷氣，形神日減，汗泄則煩倦，氣浮面腫。夏月正在氣泄，當治後天。</p>
<p>人參　神麯　煨葛根　黃柏　澤瀉　小川連　麥冬　麥芽　五味子</p>
<p>（案13）暑風不解，身痛，熱渴而嘔，水結之象。</p>
<p>藿香　橘紅　木瓜　半夏　厚朴　杏仁　蔻仁　花粉</p>
<p>（案14）暑風，發熱，氣促。</p>
<p>淡芩　橘紅　絲瓜葉　通草　杏仁　益元散</p>
<p>（案15）潮熱，耳聾，汗出，神識昏冒，脈細數，下垂入尺。壯年熱病，脈神若是之衰，怕其昏厥在邇，以上實下虛故也。擬復脈法。</p>
<p>人參　麥冬　麻仁　蔗汁　阿膠　甘草　大棗</p>
<p>（案16）脈右弦，中痞。暑邪入里，三焦俱病，況發汗後熱不解，其病不在表可知矣。進苦勝於辛方法。</p>
<p>黃芩　金斛　杏仁　廣皮白　草果　花粉　桔梗</p>
<p>（案17）痧不外透，火鬱於肺，肺脹則喘，口渴，頻煩。熱邪在上，況發厥如驚，尤屬熱象。辛寒解利鬱熱，從《內經》「夏至後為病暑」治。</p>
<p>紫菀　黑梔　木通　石膏　牛蒡　蘆根　黃芩　杏仁　連翹</p>
<p>（案18）頭脹，脘悶微痛，渴喜飲水，下咽則嘔，煩熱無寐，大便微溏不爽。此暑熱從口鼻而入，竟走三焦，清濁為阻，營衛不行。是以發散消導毫無取效，徒令克爍胃汁，所嘔煩不已。法宜苦降和陽。</p>
<p>黃芩　橘紅　蔻仁　花粉　杏仁　鬱金汁　半曲　竹茹　枳實汁</p>
<p>（案19）暑熱多日，深入血中，所以衄血，熱泄身涼，頃診脈弦左搏。連日嘔逆，胃氣受戕，而發散、消食多是劫耗胃汁之物，幾日傷觸為霍然之理，意者變瘧，或旬日不曉飢餓，竟有諸也。</p>
<p>竹茹　花粉　犀角　橘紅　杏仁　鬱金汁　丹皮　半曲</p>
<p>（案20）熱深日多，至於動血。血屬陰象，主乎養胎，邪熱乘襲，胎元難固，此變病有諸，況嘔家最多傷胎，今脘痞、潮熱為病證，若從攻病，置胎氣而不理，非也！</p>
<p>黃芩　黃連　知母　白芍　烏梅　枳實汁</p>
<p>（案21）脈左數，下重，熱入血中，恐胎元難保。暮夜熱煩無寐，亦是陰傷。太僕經云：寒之不寒，是無水也，當益其陰。今衄血又來，應減氣辛耗散之劑，仿苦寒佐以鹹寒為法。</p>
<p>黃芩　黃連　元參　白芍　知母　人中白</p>
<p>（案22）脈形細小搏數，舌刺，肌燥，津液告涸，嘔逆煩冤，食粥乃定。胃氣已虛，慮有變症。清熱安胎為主，而養胃兼之。</p>
<p>黃連　竹茹　麥冬　條芩　知母　元參</p>
<p>（案23）心中熱，口生刺，暮夜煩躁覺熱，嘔逆，觸動少腹一團。熱熾陰傷，胎元未能穩保，頻頻叮嚀主家，視參如毒，奈何？與王先生再議他法。</p>
<p>生地炭　知母　茯苓　天冬　阿膠　川斛</p>
<p>（案24）陰虛之體，遇夏氣泄越，元氣受傷，神倦，不耐煩勞。復因暑邪竊踞中宮，遂致胃不知飢，口不知味，或噁心，或噯氣，腹鳴微痛，豈非病在中焦？延久三焦俱困，恐有瘧疾之虞。宜安閒調攝，旬日可安。進溫膽法治之。</p>
<p>竹茹　半曲　金斛　鬱金　烏梅　廣皮　木瓜</p>
<p>（案25）煩渴，耳聾，但熱無寒，微嘔，胸腹痞脹。此暑熱由口鼻入，三焦受濁，營衛不通，寤不成寐。為期半月，熱深入陰，防其瘛瘲發厥。</p>
<p>桂枝　知母　粳米　石膏　甘草</p>
<p>（案26）冒暑伏熱，引飲過多，脾胃既受寒濕，陽氣抑鬱，不主旋轉，遂痞悶欲嘔。古人以大順散溫中下氣為治。</p>
<p>杏仁　半夏　桂心　茯苓　炙草　乾薑</p>
<p>（案27）脈形略起，按之短澀。進溫中下氣，似乎閃爍欲動，知陽微氣結有形，非真食滯重著之物。愚見不用寒涼犯胃，以肥人之病，慮虛其陽，矧夏月陰氣在裡，里之有形，便是濁陰。《內經》云：諸痛為寒內客。今暑熱交迫，理無外寒，然口食涼茶瓜果，此水寒人脘，未能即為熱。素因脾胃陽弱，以致津液不運，自有煩渴。再驗舌色，未必定以實熱。但以辛香開氣分之屬，可以醒陽，可以宣濁，上下分布，病機自減。高明採取如何？</p>
<p>川樸　杏仁　茯苓　半夏　蔻仁　鬱金汁</p>
<p>病勢稍減矣。</p>
<p>金鈴子　茯苓　桂枝　吳萸　半夏</p>
<p>病減六七，胃中清氣未旋，津液未肯分布，故口渴喜飲，豈是實火？當以梅餅蘇胃生津，午後進四磨飲一次。</p>
<p>人參汁　鬱金汁　桔梗汁　烏藥汁</p>
<p>（案28）陽虛體豐，夏熱耗氣，胃弱不納、不飢。此九竅不和，都胃病矣。法當鎮逆理中，略佐苦降。以胃為陽土，氣下降為順耳。</p>
<p>人參汁　乾薑　黃連　代赭石　茯苓　白芍</p>
<p>（案29）脈微，陰濁上潛。與真武湯治之。</p>
<p>人參　附子　生薑　茯苓　白芍</p>
<p>真武法二日，脘中似有飢意，其為陽微結痞無疑。陰濁得瀉，即當溫養太陰，使脾陽鼓動健運，冀其納穀安然。用治中法。</p>
<p>人參　乾薑　木瓜　茯苓　廣皮白　益智仁</p>
<p>（案30）痧為熱穢之氣，必由口鼻流著中焦，濁氣阻撓升降，所以痛躁，得砭刺泄之，營衛流行而痛減。究竟裡熱尚未全清，六腑由少腹以通為用之旨，煩躁哭泣都令身氣有升無降，復有腹痛、身熱，均屬陽逆。法當酸苦之屬以泄其熱。苟調理不固，長夏久痛，或為積利，或胃衰為蛔厥，此不專科者未易曉也。</p>
<p>川楝　黃芩　楂炭　黃連　白芍　烏梅</p>
<p>邪熱未清，病勢依然。</p>
<p>竹葉　黃芩　六一散　生白芍　先用椒梅湯涼服。</p>
<p>（案31）癉瘧，陽氣獨發，陰傷不得汗也。</p>
<p>青蒿　知母　丹皮　黃芩　白芍　楂肉</p>
<p>（案32）表熱勢和，腹痛，瀉下白積。明是濕熱內侵腸胃，真氣不主宣暢。診得脈堅搏，睡臥露睛，神已先怯。稚年久延，慮有風搐之變。既微微嘔惡，胃氣亦弱。議酸苦泄熱之中佐以輔正為治。候高明體認裁之。</p>
<p>烏梅　黃連　藿香　白芍　炒楂　人參</p>
<p>（案33）暮夜神躁，邪在陰中血分。腸中滯痛，有氣滯、血滯之意，未必即指為食滯。拙擬酸苦者，無非清血中之熱，約之使里。參以輔正，楂以宣血，暑熱正用之法。前代張鳳逵彙集暑門，申明熱由中道而傷氣，胃受辛散苦藥，必濟以酸味，生津醒胃旨哉！當仿其法，勿惑。</p>
<p>人參　黃連　桂枝　烏梅　白芍　牡蠣</p>
<p>（案34）久虛之體，客氣易於乘襲。近因暑熱，穢氣所觸，中宮不和，升降失節。宜先進六和湯。</p>
<p>上耆　川斷　建蓮　懷藥　杜仲　芡實</p>
<p>（案35）潮熱，耳聾，有似陽邪。診得脈空大，自利不渴，舌上粉苔，形枯色槁，豈是實症？議勞倦挾濕，從脾胃病治。</p>
<p>人參　益智仁　炮姜　茯苓　廣皮白　澤瀉</p>
<p>（案36）脈左搏大，右緩。夏秋熱氣從口鼻入，由膜原以分布脈絡。是時水穀腥膩助熱聚濕，《經》謂：濕勝則腫，熱爍為痛。所患著右脈反左盛，病久其邪深入於血分矣。《經》云：陽明之脈束筋骨以利機關。今躁痛夜劇，便秘未爽，且有渴飲，古稱九竅不和，多屬胃病，水穀氣內蒸，暑濕外侮，內外相搏，痹而不通。當思苦辛寒以宣之，宗河間法以俟備考。</p>
<p>滑石　寒水石　防己　萆薢　石膏　杏仁　用晚蠶沙一兩煎湯代水。</p>
<p>（案37）脈沉，目黃，氣喘，嗆嘔，脘悶，肢冷，潮熱，汗出略緩，少頃復熱，病九日不解，口乾，自利。此濕邪內勝為熱，三焦不通，夏伏至霜降而發，其病為重。</p>
<p>茵陳　茯苓　杏仁　草果　川樸　半夏　通草　鮮菖蒲</p>
<p>（案38）夏令伏邪至秋深而發，發汗不解，繼又泄瀉。此伏里之證，與暴感不同，所以表散、和解不能見效。病有四旬，脈細，搏如刃，面色削奪，裡熱口渴，舌白，病中遺泄。此久熱迫蒸，陰傷失守，苦藥燥損，津液日枯。因熱致病，醫不以河間三時法則，分三焦以逐邪，昧於從事陶節庵陋習，宜乎淹淹不已。若不急為調治，久延虛損一途，古人所謂「因病致損」也，慎之！</p>
<p>米炒麥冬　烏梅　生地　捲心竹葉　白芍　炒丹皮</p>
<p>（案39）陰陽兩為病傷，熱邪深入厥（至）陰，陰液涸盡，遂躁亂不已，已屬至危。思從前諸醫，發散、消導、苦寒、辛燥，都令劫爍陰陽。仲景云：凡元氣有傷而病不減，可與甘藥。仿此治之。</p>
<p>炙甘草湯</p>
<p>（案40）少陰中暑，陰液已涸，舌痿，形縮，齒板燥，煩躁多日，食瓜，腸滯大下。此陰不主收攝矣。證屬大危，難以圖治，勉擬竹葉地黃湯。</p>
<p>生地炭　麥冬　山藥　澤瀉　丹皮　茯苓　白芍　竹葉</p>
<p>（案41）夏令伏熱，至秋而發，即仲景「陰氣先傷，陽氣獨發」之謂也。脈右搏數，胃汁受戕。暫忌厚味，進甘藥養胃，內熱自罷。</p>
<p>卷竹葉　烏梅　大麥　生白芍　知母　麥冬</p>
<p>（案42）此濕溫也，濕著關節為痛，濕阻氣隧為痞悶，濕留腸胃為下利，濕蒸則裡熱如火，是以畏見日光。積勞陽氣大傷，腸風營陰耗損，體虛而兼六淫之邪，頗為重證。大旨以陽明厥陰為主治。</p>
<p>蒸烏梅　塊苓　廣皮白　枯芩　川楝皮　半夏　白芍　黃柏</p>
<p>（案43）疫邪三焦兼受，營衛失度，體防厥。</p>
<p>犀角　連翹　川貝　元參　銀花　鮮菖蒲</p>
<p>（案44）熱邪深入為厥，陽氣上冒，神昏。病經多日，已入血分，況臍堅滿乎？仲景云：厥應下。下之利不止者，死。凡鹹苦通陰，均謂之下，不必硝黃然後為下也。</p>
<p>（方未錄）</p>
<p>（案45）熱入厥陰，暮夜更劇，舌本強，有聲無音。為難治之痙病。</p>
<p>羚羊角　鉤鉤　生地　金銀花　丹皮　連翹</p>
<p>（案46）脈短無神，並不口渴思飲，得食欲嘔、欲噦，下利黃水八日，身熱，汗出不解，時時譫語。防其昏厥瘛瘲，以濕熱深陷入里也。議用桂苓甘露飲。</p>
<p>茯苓　澤瀉　杏仁　木瓜　豬苓　滑石　川樸　益智</p>
<p>（案47）熱渴既減，小溲不利，多因熱久陰傷，津液暗虧。況苦寒化燥，其理甚明。夏至已交，陰不肯復，老年恐有變病。</p>
<p>生地　山藥　澤瀉　車前　丹皮　茯苓　白芍　牛膝</p>
<p>（案48）熱邪雖去，胃汁不復，故不知飢，三時病最多熱痰。議用導赤散以清腑中餘熱，再進二賢散以消脘中熱痰。</p>
<p>生地　滑石　淡竹葉　生草　辰砂</p>
<p>（案49）火灼治以鹹苦而效。今餘熱劫津，口舌疳蝕，乃熱淫於內。當治以甘寒，佐以解毒。</p>
<p>蘆根　知母　麥冬　綠豆殼　元參　銀花　甘草</p>
<p>（案50）熱病屢經反復，交大寒不愈，不知飢，不欲食，腸枯便澀，不寐，寢食交廢。胃傷使然，兼因苦辛劫津也。</p>
<p>生白芍　麥冬　烏梅　冰糖</p>
<p>（案51）陰虛熱伏，半月不解，舌絳唇紫，呼吸不利，溺短赤，便秘澀。此皆辛散苦藥劫盡津液，況清濁下淋，熱氣已深入至陰之界，豈區區清解為治哉？</p>
<p>生地　麥冬　炙草　雞子黃　阿膠　麻仁蔗漿</p>
<p>（案52）夏秋內伏暑濕皆是陰邪。久瘡，漸至痞滿，形寒，脈小。當溫中醒陽，莫以清涼治瘡。</p>
<p>薏苡仁　茯苓　豬苓　薄肉桂　五加皮　生白朮</p>
<p>（案53）暑熱氣蒸，身熱，泄瀉不已，皆時邪也。治宜清散分利。</p>
<p>竹葉　淡芩　楂炭　連翹　木通　牛蒡</p>
<p>（案54）舌白灰刺，肢痙攣厥，神識少慧，如寐，默默譫語。穢邪欲閉，宜開，但久延胃氣已衰，闢穢輔以養胃。</p>
<p>人參　半夏　麥冬　粳米　鮮石菖蒲汁</p>

<h2>三、冬溫門（十五方）</h2>
<p>（案1）先因冬溫，真氣發泄，繼而驟冷，氣弱不收。此溫邪入肺為咳，肺失降也，《經》謂：右降之氣肺主之。而冬令溫暖失藏，水源自乏，無以生木，肝為風藏，氣升則內風鼓動，乘胃入膈，沖咽上巔。陽明中虛，其脈不立束筋骨、利關節之用。暗風閃爍，右肢腫痛不舉，《經》言「風勝為腫」也。經後沖氣愈加，血液大耗，所以空動之地，虛風由是而旋。風而曰虛，則非辛散寒燥偏劑矣，是身中左升之氣都屬肝也。夫人身左右，陰陽之道路，倏升倏降，左右傾欹，不以陰陽造偏為理，則茫無頭緒矣。</p>
<p>桑葉　白杏仁　沙參　蔗汁　胡麻　羚羊角　玉竹　梨汁</p>
<p>（案2）今年冬溫不藏，平昔有痰嗽久矣。當此失納，溫邪深入宿飲，氣火上逆，堵塞清道。不寐、喘急之來，肺不思降也。擬仲景越婢大意，恐時賢之見不合，存之參考可也。</p>
<p>桂枝　杏仁　塊苓　石膏　米仁　白芍</p>
<p>（案3）冬溫咳嗆，胃壓窒痛。</p>
<p>桑葉　象貝　石膏　連翹　杏仁　紫菀　蔞皮　沙參</p>
<p>（案4）冬溫侵上為咳。</p>
<p>薄荷　沙參　杏仁　桑葉　象貝　川斛　元米湯煮。</p>
<p>（案5）陰虛不藏，冬溫，咳嗽無痰。</p>
<p>桑葉　象貝　石膏　沙參　杏仁　甘草　元米湯煮。</p>
<p>（案6）冬溫水虧，上焦熱熾。</p>
<p>生地　山藥　澤瀉　小麥　丹皮　茯苓　白芍　雞子黃</p>
<p>（案7）溫邪暮熱，由於陰虛陽浮。熱解無汗，不欲飲水，豈是陽經為病？冬令失藏，法從肝腎論治。</p>
<p>阿膠　生地炭　炙黑甘草　小麥　生白芍　炒麥冬</p>
<p>（案8）容色稍奪，脈形漸細，不知飢，不欲食，捫之不為熱，而自云熱，並不渴飲，間有寒慄之狀。此營衛不振，當治中焦。</p>
<p>人參　乾薑　益智　茯苓　木瓜　白芍</p>
<p>（案9）著右臥，稱甚氣悶。陽明氣未全降，宜補土降逆。</p>
<p>人參　旋覆花　生白芍　茯苓　代赭石　南棗肉</p>
<p>（案10）藏真下虛，陽遂上冒。胃不知飢，齒根突腫，巔頂麻痹。素多郁遏，驟難溫補，況冬令失藏，熱邪易入。姑擬輕劑鹹苦，軟結開降，俾厥陰、陽明稍和，另為損益調理。</p>
<p>黃芩　川斛　山楂　牡蠣　蔞皮　木瓜</p>
<p>（案11）冬溫失藏，肝木反泄，陽明脈虛，血海不按期而經下，乃體不足、用太過之象。法當辛酸甘劑而和肝之陰陽，苦降走泄不但妨胃，更劫耗矣。</p>
<p>茯神　柏仁　枸杞　炙草　白芍　桂圓</p>
<p>（案12）腎虛，溫邪內侵，形神消爍，廢食忘寢，臨晚寒熱得汗而解。議用復脈法。</p>
<p>復脈湯去姜，加芍</p>
<p>（案13）脈左搏右細，顴赤，氣喘，昨夜大便後汗泄，竟夕不安。冬溫伏熱，陰衰陽冒之象，最為重症。</p>
<p>生地炭　炒麥冬　蔗汁　炙甘草　生白芍</p>
<p>（案14）冬溫失藏，少陰水虧熱伏，腎病傳肝，內風挾熱爍精，筋遂牽掣痿癖，陽上鬱冒，神昏，語言難出。病名溫邪，變成痙厥，在不治之條。素叨相好，勉擬鎮肝滋腎熄風。</p>
<p>生地　青鉛　黃柏　烏梅　白芍　遠志</p>
<p>（案15）腎虛，熱迫陰傷，飢不欲食。宗仲景邪少虛多，治以甘藥法。</p>
<p>炙草　生地　麥冬　桂枝　人參　麻仁</p>

<h2>四、瘧疾門（五十七方）</h2>
<p>（案1）冬月伏邪，至春發為溫瘧。汗出不解，非新感可知。脈虛，先有遺症，最忌耗散真氣，和正解邪為穩。</p>
<p>桂枝　枯芩　杏仁　白芍　草果　桔梗</p>
<p>（案2）瘧邪由四末交會中焦，胃獨受其侮克，故煩渴，脘悶不飢，今日舌絳、便溏。陰氣先傷，陽邪未盡。宜芩芍和里，益以瀉木邪、救胃陰。</p>
<p>黃芩　烏梅　丹皮　白芍　青蒿　蔻仁</p>
<p>（案3）陰瘧，脈沉，微背寒，肢冷，食入則脘中痞滿。此陽氣傷極，春深木旺，恐變腫脹。藥宜理中兼理下焦，毋得祛瘧治邪。</p>
<p>桂枝　人參　生薑　附子　塊苓　大棗</p>
<p>（案4）瘧發經月後，易生嗔怒，春令內應肝膽，其用太過，其體尤虛，所以自覺餒怯。考仲景：一月瘧未痊期，血氣凝結中必有瘕聚，名曰瘧母。母者，瘧邪病根也。鱉甲煎丸主之。使氣血流通，無容留蘊矣。</p>
<p>鱉甲煎丸</p>
<p>空心服七丸，日三服。</p>
<p>（案5）陰瘧三年不愈，下虛遺泄。</p>
<p>蜀漆　牡蠣　炙草　龍骨　桂枝　炙黃耆</p>
<p>（案6）陰瘧久虛。</p>
<p>黃耆　生薑　甘草　當歸　人參　廣皮　柴胡　附子　白朮　升麻　大棗</p>
<p>（案7）溫邪陰傷，足熱，陽亢。病發日早。</p>
<p>生地　塊苓　人參　鱉甲　丹皮　澤瀉　白芍</p>
<p>（案8）熱邪入肺，為溫瘧。</p>
<p>桂枝　知母　粳米　石膏　甘草</p>
<p>（案9）溫瘧，舌絳而堅。</p>
<p>青蒿　鱉甲　黃芩　橘紅　知母　半夏　甘草　丹皮</p>
<p>（案10）體虛溫瘧，當從和解。發散、沉重、傷下之劑例在禁條。</p>
<p>桂枝　白芍　蔻仁　花粉　黃芩　半曲　橘紅　杏仁</p>
<p>（案11）寒熱由四末以迫劫胃汁，是以病餘不飢不食，叨叨汗泄。當養胃生津，以俟充復。</p>
<p>人參　茯神　白芍　麥冬　麻仁　卷竹葉</p>
<p>（案12）勞怯一年，近日頭脹、潮熱、口渴，乃暑熱深入，為癉瘧也。《金匱》云陰氣先傷，陽氣獨發為病。不必發散、消導，再傷正氣，但以生津和陽，使營衛和而熱自熄。</p>
<p>鱉甲　沙參　烏梅　知母　麥冬　白芍</p>
<p>（案13）陰虛之體，冷熱失調為瘧，寒熱重傷胃汁，嘔吐。但夏至後為病暑，惟宜生津和陽，以安胃口，勿徒消克。</p>
<p>知母　橘紅　卷竹葉　木瓜　半夏　金斛</p>
<p>（案14）津傷復瘧，寒熱煩渴。</p>
<p>桂枝　知母　甘草　石膏　花粉　粳米</p>
<p>（案15）脈弦如刃，煩渴，脘痞，嘔吐，蛔蟲上越。此胃氣已虛，暑熱復入三焦，濁氣乘逆，況病後調養失宜，本虛標實。姑進安胃降逆，冀得嘔逆緩而氣道稍順，再適。</p>
<p>安蛔丸加減：黃連　川椒　生薑　烏梅　白芍　枳實汁</p>
<p>（案16）暑熱未退，胃氣已虛，蛔逆中痞，嘔吐涎沫。是厥陰犯胃，胃氣有欲倒之象。進安胃治之。</p>
<p>烏梅　人參　黃柏　細辛　乾薑　當歸　川椒　附子　桂枝　黃連</p>
<p>（案17）進安胃法，嘔吐稍緩，夜寐神識不寧，辰前寒戰畏冷。如此寒熱交加，陰陽受戕，能無失散之形？姑擬救逆法，鎮攝陰陽，得安其位，然後病機可減。</p>
<p>龍骨　桂枝　人參　牡蠣　白芍　蜀漆</p>
<p>（案18）交寅卯而手臂皆冷，脾陽失運顯然。至午前復溫，以陽旺於日中也。故雖進稀粥，脘中亦為痞悶。議進治中陽，健運中焦，使肝邪不欺侮中宮，皆因瘧利之病多由脾弱也。</p>
<p>人參　木瓜　半曲　塊苓　烏梅　益智　廣皮　澤瀉</p>
<p>（案19）瘧後胃虛，客氣易逆，嘔吐涎沫。進以養胃泄肝。</p>
<p>人參　半曲　烏梅　龍骨　桂枝　橘白　白芍　牡蠣</p>
<p>（案20）脈弦遲，形寒，神倦。得之憂思驚恐，衛外陽氣暴折，陰寒不正之氣得以外襲，將有痎瘧病機。宜靜攝護陽，庶不致外邪深入為害。</p>
<p>桂枝　甘草　飴糖　牡蠣　白芍　大棗　當歸</p>
<p>（案21）形色脈診俱虛，寒熱劫耗胃汁，脘中不知飢餓，二便皆覺不爽。徒進清涼克消，中宮更加坐困。考古暑病，凡旬日不解，必當酸泄以蘇胃汁。元虛之體，恐滋變病。</p>
<p>牡蠣　烏梅　桂枝　白芍　蜀漆　大棗</p>
<p>病勢已衰，可無變病矣。</p>
<p>白芍　龍骨　烏梅　桂枝　牡蠣　蜀漆</p>
<p>（案22）脈弦，口渴。少陽寒熱乘胃，劫津。可與小柴胡湯和以解邪。</p>
<p>小柴胡湯去半夏，加白芍、知母</p>
<p>（案23）脈左弦右軟，寒熱漸早，渴喜熱飲。此胃津日損，木火尚熾。生津養胃，和以達邪。</p>
<p>人參　柴胡　烏梅　橘紅　麥冬　黃芩　白芍　知母</p>
<p>寒熱依然，藥以和中清泄。</p>
<p>生鱉甲　丹皮　烏梅　草果　炒桃仁　知母　白芍</p>
<p>又方：人參　烏梅　塊苓　金斛　黃連　知母</p>
<p>（案24）飢飽不知，大便溏泄三次。寒熱犯中，脾胃不和。未宜純補，議用四獸飲意。</p>
<p>人參　炙草　木瓜　茯苓　廣皮　草果</p>
<p>（案25）脈虛，暴熱氣衰，元無歸依，為浮熱。知飢甘谷，里無留滯。病後調理，兩攝陰陽為主。</p>
<p>人參　茯神　生地　炙草　麥冬　棗仁　白芍</p>
<p>（案26）但熱無寒，咳嗽微嘔，周身疼痛。此為溫瘧，伏邪日久，由肺經而發。宗仲景桂枝白虎湯治之。</p>
<p>桂枝白虎湯</p>
<p>（案27）暑熱遠行，熱由口鼻而入，犯之上中，分布營衛，故為寒熱瘧疾。當淡薄食物，清肅胃氣。藥投涼解芳香，或甘寒生津，皆可療此。奈何發散以祛寒，不知口鼻受熱與皮膚受寒發汗迥別。治之不效，肆行滋補，參、朮、耆、地，黏膩中宮，肺氣壅閉，胃中滯凝，腫脹自上至下，一身氣機不通，張戴人所謂邪得補而熱盛，如養寇殃良之比。但病久形寒，而再為攻逐，又慮正氣之垂絕。故改湯為丸，丸者緩也，使中焦得疏，漸漸轉運，升降得宣，六腑有再通之理，腑通則經脈之氣無有不通者矣。每日進丹溪保和丸。</p>
<p>丸方：山楂　茯苓　陳皮　萊菔子　神麯　半夏　連翹　面和丸。</p>
<p>（案28）初診：洗浴後寒熱，營衛損。用建中法。</p>
<p>人參　歸身　桂枝　蜜姜　黃耆　白芍　甘草　大棗</p>
<p>二診：陽氣發泄，寒熱，脈大。</p>
<p>人參　桂枝　龍骨　白芍　蜀漆　牡蠣</p>
<p>八診：從來通則不痛。通者，非流氣下奪之謂，作通陰、通陽訓則可。閱《內經》論痛，都因寒客。今脈左搏而大，氣墜便不爽，究是肝氣不疏泄。議用辛甘酸甘緩，兩和體用。</p>
<p>小茴香炒當歸　生白芍　另用參湯送藥進。</p>
<p>（案29）面赤，口渴，脈大而空。勞倦挾痰，不可純作時感治。</p>
<p>桂枝　炙草　大棗　白芍　生薑　淡芩</p>
<p>（案30）脈空搏，面赤，舌白，消渴，汗出，晝夜不已，兩足畏冷，寒熱漸遲。此積勞陽虛，外邪易陷，本虛表熱，復加柴、葛，加消導，謂之劫津。仍宜和營主治。</p>
<p>當歸　白芍　生薑　桂枝　炙草　大棗</p>
<p>（案31）外寒勢緩，內熱勢甚，此少陽木火迫劫胃汁，脘中津衰，熱蒸痰飲。倘飲水過多，中焦不運，恐為水結。仿白虎之法，不泥其方，以示勿太過耳。</p>
<p>鮮竹葉　滑石　烏梅　麥冬　知母　白芍</p>
<p>（案32）胃為肝陽擾動，沖氣如呃熱，時煩躁不眠，純屬裡症。法當酸苦泄熱，俾陽明漸和。</p>
<p>卷竹葉　知母　烏梅　淡芩　生鱉甲　丹皮　白芍</p>
<p>（案33）胃虛，熱氣上行，故覺氣塞。當養陰生津，使陽和則邪清。積勞有年之體，甘寒為宜。</p>
<p>人參白虎湯　七診：鱉甲煎丸七粒，日三服，白湯下。</p>
<p>（案34）夏暑久菀，為癉瘧。熱勝則五心煩熱，多咳。故薄味清養，自能向愈。甘寒除熱生津為法。</p>
<p>沙參　竹葉　甘草　杏仁　麥冬　花粉</p>
<p>（案35）脈虛，寒熱，食少，色奪。乃夏秋暑熱為瘧，久延陰傷，木火內灼，喉痛。</p>
<p>卷竹葉　麥仁　烏梅　炒麥冬　木瓜　白芍</p>
<p>（案36）牝瘧，寒多，內熱，心悸。</p>
<p>麻黃　杏仁　黃芩　雲母石　桂枝　甘草　牡蠣</p>
<p>（案37）厥陰陰瘧不止，能食。</p>
<p>熟地　龍骨　五味子　蓯蓉　牡蠣　鹿角霜</p>
<p>（案38）陰瘧四月，汗泄，下焦腫。</p>
<p>附子　白朮　細辛　澤瀉　朝服八味丸。</p>
<p>（案39）伏暑至深秋，寒熱為瘧，犯胃，胃絡受傷，則嘔吐失血。</p>
<p>竹茹　橘紅　蔻仁　滑石　黃芩　杏仁</p>
<p>（案40）瘧發二旬不解，寒多熱少，是為牝瘧。進牡蠣散。</p>
<p>龍骨　蜀漆　白芍　大棗　牡蠣　雲母　肉桂　炙草</p>
<p>（案41）陰瘧發於足太陰經。先進柴胡薑桂湯。</p>
<p>柴胡　乾薑　花粉　甘草　桂枝　牡蠣　黃芩</p>
<p>（案42）產後下虛，痢止為瘧，是營衛交損，況色脈並非外感，補劑並進不應，由治錯亂。《經》云：「陽維為病苦寒熱。」</p>
<p>人參　當歸　炮姜　桂枝　炙草　鹿角霜</p>
<p>（案43）暑風入肺，為癉瘧。《金匱》謂「陽氣獨發」，嘉言云：「體陰素虛，而所伏熱氣日久入血室兮。」陰虛陽冒，上焦清竅皆蒙，胃陽失和不納，易痞，究竟伏邪未去。凡苦辛疏滯，皆屬禁例。夫上實下虛，有客邪留著，鎮降決不應手。仿徐之才「輕可去實」之條，分別氣血，以宣之、逐之。</p>
<p>犀角　連翹　鮮荷葉汁　元參　通草　鮮竹葉</p>
<p>（案44）脈如平人，但熱不寒，煩渴，身疼，時嘔。此溫瘧也。仲景有桂枝白虎一法，一劑知，二劑已也。</p>
<p>桂枝　知母　粳米　石膏　甘草</p>
<p>（案45）長齋有年，脾胃久虛，瘧由四末，必由中焦，血海隸於陽明，苦降辛散必傷胃系。雖天癸久絕，病邪、藥味擾動血絡，是為暴崩欲脫。閱醫：童便、阿膠，味鹹滑潤，大便溏泄，豈宜潤下？即熟地、五味，補斂陰液，咽湯停脘，少頃欲盡。滋膩酸濁之藥，下焦未得其益，中焦先已受戕。議仲景理中湯，血脫有益氣之治，坤土和順旋轉，希圖中流砥柱。倘得知味納穀，是為轉機。重證之尤，勿得輕視。</p>
<p>人參　焦於術　炙草　茯苓　炮薑炭</p>
<p>（案46）痰哮觸外邪而發，坐不得臥，腎病為多，以風寒必客太陽，體弱內侵少陰矣。若夫暑濕熱氣觸自口鼻，背部瘍癤乃鼻竅應肺，是手太陰經受邪，辛涼氣清之藥可解。以肺欲辛，其象上懸，氣味沉重則藥力下走，而肺邪不解。然夏病入冬，氣候迭更，熱邪久而深入，氣血日被損傷。滋清如膠、地，搜逐如鱉甲煎丸無如。不獨陰虧，八脈氣衰，為寒為熱，病形漸延損怯。火升喉痛，上熱緩必下熱熾，此剛藥難投，柔溫之養佐通奇脈定議。</p>
<p>生鹿角霜　炒焦枸杞　沙苑蒺藜　炒焦歸身　炒熟地炭　塊白茯苓</p>
<p>（案47）瘕泄，下冷，熱升。議通攝督任之散越。</p>
<p>鹿角霜　龜板　熟地　補骨脂　石蓮　塊苓</p>
<p>（案48）久瘧，針挑汗出乃止。經脈邪去，絡脈邪留，脅下遂結瘧母，按之堅，形高突。四年帶病，仍然能食、便通，其結聚不在腸胃，藥下咽入腸、入胃不效，蓋絡脈附於腑之外廓耳。</p>
<p>生鱉甲（去衣，四兩）　五靈脂（燒至煙盡為度，二兩）　辰砂（水飛，忌見火，五錢）　穿山甲（炙脆，二兩）　麝香（另研，忌見火，五錢）</p>
<p>上藥各研淨末，加入阿魏一兩，同搗，和丸，飢時服二錢。</p>
<p>（案49）積勞傷陽，哀慼動藏，重重內損。其夏伏邪已深在重圍，此從陰經而來，朱漢老非治時邪，病人服藥雲安，溫藥助陽也。考三陰而投溫補扶正，所謂托邪。知母入咽既呃，陽明之陽幾微。不飢不寐，陽不流行，三焦困、脾胃憊矣！肛墜，屬陰傷氣陷，難任純剛之劑。</p>
<p>人參　當歸　草果　麋角　炮姜　厚朴</p>

<h2>五、痢疾門</h2>
<p>（五十四方）</p>
<p>（案1）溫熱內伏而為下利，腑氣失宣，熱氣上灼，致咳痰、溲數。仿潔古芩芍之例，取酸苦屬陰，正以和其陽耳。</p>
<p>桔梗　白芍　炒銀花　黃芩　烏梅</p>
<p>（案2）利頻陰傷，脂液咸耗，神形已見衰微。稚年易實易虛，伏熱亦令爍陰，肛墜裡急，書謂氣陷，其陰虛不固耳。仿酸甘化陰法。</p>
<p>熟地炭　石蓮　炙草　懷山藥　五味　塊苓</p>
<p>（案3）下痢十三日，右關前按之實大，肌表畏冷，臥則神混，轉多惡夢，且不欲食，喉舌乾涸。脈症不符。思夏至後，陰不克復，陽欲散越，謬議守陰固攝，以護陽根。</p>
<p>熟地炭　雲苓　五味　江西赤石脂</p>
<p>水煎一半，投入炒粳米貳兩，再煎一二沸服。</p>
<p>（案4）久痢，腎虛不攝，致無味、脫肛。胃關不固，中氣漸傷，春深木旺，有廢食腫脹之憂。</p>
<p>熟地炭　炙草　肉桂　炒當歸　乾薑　白芍　禹餘糧　人參　赤石脂</p>
<p>（案5）下痢，陰傷，便血。</p>
<p>熟地　炙草　山藥　柴胡　當歸　廣皮　升麻　黃耆</p>
<p>（案6）痢後腸風。</p>
<p>炒歸身　炒樗皮　荊芥炭　炒銀花　炒白芍　炒槐米　炒丹皮　炒地榆</p>
<p>（案7）痢後腸風，下血，便溏。</p>
<p>人參　廣皮　蒼朮　黃耆　柴胡　木香　炙草　升麻　黃連</p>
<p>（案8）休息痢。</p>
<p>濟生腎氣丸</p>
<p>（案9）紅積，小溲不利。</p>
<p>楂炭　草果　澤瀉　藿梗　川樸　廣皮豬苓　木瓜</p>
<p>（案10）先瀉，後利紅，復嘔逆，不思飲食。此臟陰為病，最有冷厥、慢驚之變。議以上下交徵，當治其中之法。</p>
<p>人參　白芍　廣皮　塊苓　益智　建蓮</p>
<p>（案11）舌乾微渴，腹痛自利。里未調和，陰液已涸。</p>
<p>人參　當歸　烏梅　熟地　白芍　楂炭</p>
<p>（案12）暑邪從口鼻入，由中道而至膜原，故胃先不知飢而下痢也。暑邪未盡，中氣先傷，法當暑醒胃，則下痢自緩。</p>
<p>扁豆衣　烏梅　冰糖　川石斛　木瓜　大麥</p>
<p>（案13）脈遲，下利，腹痛，喜熱飲，食下則痞脹。平昔飲酒，中宮必有濕滯也。</p>
<p>草果　黃芩　白芍　澤瀉　杏仁　橘白　枳實　乾荷葉</p>
<p>（案14）濕熱為痢，向來下焦陰虛，勿過燥劫陰。</p>
<p>黃芩　楂炭　塊苓　白芍　木瓜　澤瀉</p>
<p>（案15）濕在下，熱在上，致胃脘不和。歸、術宜忌用。</p>
<p>黃連　烏梅　橘紅　楂炭　黃芩　豆蔻　白芍</p>
<p>（案16）伏熱下利，形消爍，鼻煤唇赤，腹痛軟膨。已經延綿多日，嘔惡不肯納穀，此為禁口。良由胃虛，熱壅不清。神脫如驚最怕。</p>
<p>人參　烏梅　茯苓　藿香　黃連　白芍　澤瀉　楂炭</p>
<p>（案17）高年穀少氣衰，暑濕在胃，下痢紅白，欲嘔，氣逆，飲食不進。乃禁口毒痢，非輕小症。古人謂：痛宜和。久患目疾不愈，肝膽久鬱熱也。</p>
<p>黃連　人參　當歸　石決明　黃芩　石蓮　白芍　楂炭</p>
<p>（案18）茹素，中氣久虛，先瀉後痢，謂脾傳腎，復下純血。都是逆症，不可忽略。議以調血、行疏滯、理虛，以質虛不堪磨耐多日耳。</p>
<p>當歸　人參　廣皮　黃連　白芍　烏梅　楂炭　銀花</p>
<p>（案19）陰傷腹脹，陽浮身熱，陰液劫則口渴，胃口弱則進谷無味，一派虛象。但治脾胃，瀉不得止。大法益三陰以固之，通陽腑以宣之。</p>
<p>熟地炭　人參　山藥　炒丹皮　塊苓　五味</p>
<p>（案20）痛痢已止，神倦欲昏，下午四肢微冷。此陰傷及陽之象。宜鎮陽攝陰方法。</p>
<p>人參　遠志　五味　熟地　龍骨　附子</p>
<p>（案21）久瘧傷陰，陰不固攝，肛墜裡急，頻至圊，不得便。與腸風臟毒參看頗同。議以酸甘攝陰為法。但瘧系經，邪勢已內陷臟腑，高年當此，最屬不合。</p>
<p>人參　炙草　烏梅　熟地　白芍　芡實</p>
<p>（案22）瘧傷於經，痢傷於臟，故先痢後瘧者多輕，先瘧後痢者多凶。今瘧痢並行，經臟兩傷，況兼胃倒不納穀食，古人無縷治之條。前議柔劑甘補攝陰，少佐酸泄和陽，以熱邪深陷，陰液告涸故耳。議以禹餘糧赤石脂丸固澀手陽明大腸，關閘之徹，用冷參湯與服。</p>
<p>人參　蜀漆　牡蠣　大棗　桂枝　龍骨　炙草</p>
<p>晚服禹餘糧赤石脂丸。</p>
<p>（案23）瘧痢並作。經邪入里，色脈已屬不足。清邪即當和血。</p>
<p>黃芩　烏梅　楂炭　白芍　歸身　橘紅</p>
<p>（案24）脈澀，舌絳，耳聾，口渴，下利垢水七日，利後反有喘急。此乃陰氣走泄，陽獨上冒，有昏厥之危。就腹滿一證，亦是熱入之徵，非輕談易易可知。</p>
<p>生地炭　炒麥冬　炙甘草　生白芍　炒丹皮　小胡麻</p>
<p>（案25）暈厥瘛瘲，下利嘔逆，皆久延欲脫，三焦皆受戕賊，無法穩成。古人云：上下交病，當治其中。連理湯治之。</p>
<p>人參　乾薑　白芍　黃連　烏梅　茯苓</p>
<p>（案26）腸中濁氣不通，脾陽先已自餒，暮夜陽微䐜脹為甚。消導、苦燥，陽氣更傷。溫中佐運，並以分利，議治中湯意。</p>
<p>益智仁　茯苓　桂心　淡乾薑　茅朮　澤瀉</p>
<p>（案27）陽虛利積。</p>
<p>益智　乾薑　茯苓　茅朮　附子　澤瀉</p>
<p>（案28）久痢亡陰，胃陽亦弱。酒客不甘藥，仿少陰例，填實陽明為治。</p>
<p>炒粳米　赤石脂　禹餘糧　乾薑炭</p>
<p>（案29）久痢，三陰為腫。</p>
<p>八味丸：熟地　茯苓　丹皮　萸肉　山藥　澤瀉　附子、肉桂（各炒焦）</p>
<p>（案30）久痢紅積不止。</p>
<p>熟地炭　黑甘草　川斛　山藥　焦當歸　炮薑炭　茯苓</p>
<p>（案31）左數堅搏，熱入血分，下利不爽。</p>
<p>生地　楂炭　丹皮　炒銀花　阿膠　白芍　白頭翁　黑豆皮</p>
<p>（案32）久久瀉痢，無有不傷腎藏。內熱已傷及陰，故燥皮為惡，液損愈多。宜陰藥中兼通腑氣。</p>
<p>熟地炭　炒楂　烏梅　木瓜　川斛</p>
<p>（案33）久痢傷陰，腎虛。谷不納，利不止。</p>
<p>熟地炭　炙草　川斛　炒當歸　楂肉　茯苓</p>
<p>（案34）久痢白積，濕熱不清。</p>
<p>茅朮　茯苓　半曲　黃柏　澤瀉　廣皮</p>
<p>（案35）壯年曾失血，秋月患滯下，至今血積便溏。此屬陰陽不肯收攝。</p>
<p>熟地炭　湖蓮　炒粳米　赤石脂　五味調入鴉片煙三分。</p>
<p>丸方：熟地　赤石脂　湖蓮　五味　禹餘糧　山藥粉　滾水和丸。</p>
<p>（案36）由利後腸風下血，此三陰受戕，幾年不痊，久傷失固矣。議進堵塞以熄內風。</p>
<p>赤石脂　炒粳米　木瓜　烏梅炭　炮薑炭</p>
<p>（案37）脾厥腹痛，久痢瀉血。</p>
<p>熟地炭　炙草　塊苓　川楝　炒當歸　乾薑　楂炭　白芍</p>
<p>（案38）久痢下血不止。</p>
<p>熟地　茯苓　丹皮　萸肉　山藥　澤瀉　附子　禹餘糧　赤石脂　水泛為丸。</p>
<p>（案39）飢不欲食，氣上衝至咽，此屬肝木犯胃。高年厥陰下痢，最是重症，必得安穀，方有愈期。</p>
<p>人參　乾薑　黃連　楂炭　白芍　烏梅　當歸</p>
<p>（案40）腹痛肛墜，利又不爽。腸中濕熱未清，腎陰又利而傷。仍宜調和，莫進辛燥止澀。</p>
<p>生地　當歸　楂炭　料豆衣　阿膠　白芍</p>
<p>（案41）腸胃濕熱內伏，近日冷熱不調，肺失宣降，則諸氣膹郁，致形寒畏冷，腹痛下痢。先用開氣宣暢分消法。</p>
<p>桔梗　當歸　楂肉　枳殼　麥冬</p>
<p>前方調肺利氣，通血和肝，使左升右降，旋轉而腸中壅遏自罷，此輕劑獲效矣！今日承漿環口紅瘰焮發，宜佐清熱，用芩芍湯。</p>
<p>黃芩　蘇梗　當歸　白芍　楂肉　苡仁</p>
<p>（案42）濕熱去則利止，燥熱侵則咳痰。此五氣勝復，秋令燥氣由天而降，故上焦先受。仍清氣熱為主。</p>
<p>桑葉　象貝　蔞皮　連翹　淡芩　沙參　通草</p>
<p>（案43）熱利傷陰，陰失上承，則上燥為咳，飲食不甘，胃陰亦弱。酒客不宜甘膩，前方苦降不應，已非邪熱深伏。議用養胃陰，即土生金意。</p>
<p>生扁豆　桑葉　沙參　炒麥冬　玉竹　糯米</p>
<p>（案44）脈虛濡，寒熱後咽乾，少腹微痛，微痢。因勞碌飲食失節，中氣已虛，風木自動，心中苦飢。藥宜甘緩熄風。</p>
<p>炙草　茯苓　南棗　白芍　北參</p>
<p>（案45）痢久腎傷，氣不收攝，肛門錐痛下墜，小便不利。先擬升陽一法。</p>
<p>人參　鹿角霜　生菟絲　茯苓　炒當歸　調入陽起石末。</p>
<p>（案46）邪入至陰，陰瘧不止而下利。</p>
<p>生於術　防風　獨活　生黃耆　附子　羌活</p>
<p>（案47）久瀉成利，腹痛，食減。</p>
<p>生茅朮　豬苓　肉桂　塊茯苓　澤瀉　椒目</p>
<p>（案48）痢後瀉血，小水不利，後墜。</p>
<p>熟地炭　塊茯苓　赤石脂　炒遠志　炒白芍　禹餘糧</p>
<p>（案49）脈弦，虛勞久咳，腸垢自利。</p>
<p>人參　炒當歸　炮薑炭　木瓜　米炒白芍　赤石脂</p>
<p>（案50）形損脈垂，咳嗽經月，下痢白膩。此上下交病，當治其中。用建中法。</p>
<p>桂枝　白芍　甘草　生薑　大棗　飴糖</p>
<p>（案51）大病後，飲食起居皆不如法，以致邪陷入里，舌乾，自利。恐其深入陰中，則危矣！</p>
<p>白芍　炙草　附子　枳實</p>
<p>（案52）利後陰傷，五心煩熱。稚年恐致疳病，最宜薄味調養，夏令可與清熱肥兒丸之屬。</p>
<p>白芍　湖蓮　澤瀉　乾荷葉　茯苓　丹皮　南棗</p>

<h2>六、泄瀉門</h2>
<p>（共三十一方）</p>
<p>（案1）泄瀉食減，由脾胃虛弱，但產後本乎下損，古人云：腎司二便，主乎閉藏；又云：久瀉無有不傷腎者。左脈堅搏，腎陰不固，反多疏泄之象。先議攝固守陰法。</p>
<p>初診：熟地炭　茯神　菟絲子　山藥　建蓮　芡實　五味</p>
<p>三診：局方不二散　湖蓮肉（二兩）　鴉片（三分）　五味　蒸搗為丸。</p>
<p>（案2）久瀉脾腎兩敗，肢軟，不能運化。大意當健中宮以理脾陽，攝中焦以固腎液。</p>
<p>人參　湖蓮　五味　熟地　白朮　芡實</p>
<p>（案3）瀉久，陽微腹脹。</p>
<p>桂枝　茯苓　豬苓　白朮　澤瀉　防己</p>
<p>（案4）陽虛，右肢痿弱，脾泄。</p>
<p>人參　甘草　桂枝　於術　半曲　白芍　茯苓　廣皮　當歸</p>
<p>（案5）虛損，陰陽並傷，泄瀉飲泛。</p>
<p>熟地　山藥　丹皮　附子　萸肉　茯苓　澤瀉　肉桂</p>
<p>（案6）久瀉下血。</p>
<p>炒熟地　炒山藥　炒丹皮　禹餘糧　炒茱萸　炒茯苓　炒澤瀉　赤石脂</p>
<p>（案7）泄瀉一年不止，脾腎交虛，已經色奪、浮腫，食入中痞。久延恐致脹滿。宜早上進濟生丸，午進治中法。</p>
<p>人參　乾薑　青皮　陳皮　白朮　甘草</p>
<p>朝服濟生腎氣丸。</p>
<p>（案8）汗後泄瀉不解，非因表裡客邪起。嘔吐而瀉，今噫氣尚然穢濁，知平素過受雜食，屢傷脾胃。兩旬不愈，為幼科中疳蝕瘦蒸之症。乳汁甘美，慮熱化痰，再吐便有驚厥矣！</p>
<p>湖蓮　枳實　豬苓　橘白　楂肉　澤瀉</p>
<p>（案9）久瀉無不傷腎，所謂腎司二便，開竅於二陰。由久不愈，病乃蔓延，下病漸傷及中，胃減食少，肝氣內變，少腹橫硬有形，形神消爍。久傷為損，皆生氣不能長養也。夫損者益之，《內經》主治，但以上年抱恙，今交夏至前，此藏納俱失，不亦晚乎！</p>
<p>熟地炭　茯苓　炒山藥　烏梅肉　炙草　生白芍</p>
<p>（案10）少腹橫硬勢緩，泄瀉肛墜未減。知肝陽稍和，而腎陰不主收攝也。故下焦腎藏之瀉與脾瀉劃然兩途。久病陽滑下滯，兼固攝腸中。仿仲景桃花湯治。</p>
<p>熟地炭　烏梅　人參　粳米　赤石脂　白芍　茯神　山藥</p>
<p>（案11）脾腎虛，黎明瀉。</p>
<p>熟地炭　茯苓　生乾薑　五味子　茅朮</p>
<p>（案12）瀉後神倦，食減。</p>
<p>人參　茯苓　陳皮　木香　白芍　甘草　荷葉</p>
<p>（案13）脈弦甚於數。因操持縈慮，肝膽陽氣久動，內風鼓爍不已，乘胃攻觸如飢，不能運食，甚至腹鳴瀉水，即《內經》久風飧瀉之謂。治法以補陽明之虛，泄厥陰之陽。以形體清瘦，稟乎木火而受剄爍，以耗劫脂液耳。</p>
<p>人參　黃連　白芍　茯苓　木瓜　烏梅　牡蠣　橘紅</p>
<p>（案14）眩暈，吐瀉。屬積勞，肝風內動。當補陽明，泄厥陰。</p>
<p>百蒸於術　江西赤石脂　炒粳米　烏梅　木瓜</p>
<p>（案15）瘧痢後脾腎虛，清晨泄瀉。</p>
<p>人參　乾薑　補骨脂　菟絲　白朮　甘草　益智仁　茯苓</p>
<p>（案16）中下虛，肝風動。易飢，泄瀉。</p>
<p>熟地　茯苓　益智　川石斛　菟絲　芡實杜仲　補骨脂</p>
<p>（案17）脾腎虛，泄瀉，風動，易飢。</p>
<p>熟地　山藥　丹皮　附子　萸肉　茯苓　澤瀉　肉桂</p>
<p>（案18）久瘧傷陰，食滯損胃，而為洞泄。</p>
<p>金斛　烏梅　茯苓　鬱金汁　橘紅　枳實　半曲</p>
<p>（案19）黎明泄瀉，舌辣。</p>
<p>炒菟絲　煨益智　茯苓　焦白朮　炒澤瀉　車前</p>
<p>（案20）腎虛泄瀉。</p>
<p>附桂八味丸</p>
<p>（案21）右脈弦遲，胃脘痛至少腹，得泄瀉則痛緩，小溲不利。中下陽衰，不主運化，以膀胱腑氣失職。進濟生法，通腑納下，佐以建中理陽，冀免單脹之苦。</p>
<p>人參　菟絲　乾薑　茯苓　益智　澤瀉</p>
<p>（案22）脈虛數，上咳下泄，食減形奪。大忌寒涼治嗽，當平補足三陰，以崇生氣。若失治延綿，恐成勞怯。</p>
<p>人參　熟地　湖蓮　茯苓　山藥　芡實</p>
<p>（案23）久咳、久瀉之後，陰不上承，燥氣上薄，復衄血、身熱，皆失秋收之令。況不知飢飽，頻噫，胃虛逆。暫理胃陰，用《金匱》麥門冬湯。</p>
<p>麥冬　半夏　甘草　人參　粳米　大棗</p>
<p>三診：脈數。</p>
<p>熟地炭　懷山藥　牛膝炭　炙黑甘草　炒建蓮　細川斛</p>
<p>（案24）霜降節，脈大空搏，久瀉。中下失固也。</p>
<p>人參　茯神　湖蓮　熟地　冬朮　枳實　菟絲　遠志</p>
<p>（案25）肝腎陽虛，食入即瀉，乃腫脹之象。春深木旺，最屬不宜。</p>
<p>人參　茯苓　乾薑　附子　白芍</p>
<p>（案26）老年憂思抑鬱，脾胃氣弱，食難運化，肝木風動，腹痛泄瀉，脂液暗傷，舌絳糜碎。凡治瀉健脾，皆香燥劫津。今宜酸苦，兼以養胃，冀得痛減安穀，方可扶危。所慮者，春木方張，恐致腹滿脹病之苦。</p>
<p>人參　烏梅　楂炭　黃芩　黃連　白芍　木瓜　橘白</p>
<p>（案27）過飲晨瀉，中虛留濕，干惡，腹痛。是脾胃不和，陽氣不主運行於四末，故四肢無力困頓矣。宜暫忌酒肉，使清暢旋轉，中宮得健。</p>
<p>藿香　陳皮　茯苓　川樸　草果　半夏</p>
<p>（案28）產後病下焦為多。今右偏頭痛，得暖為甚，納穀則脘腹痛加，必瀉而後已，痛隨利減。已見濕鬱氣阻，熱自溫升。恆有是症，從脾胃門調治。</p>
<p>生於術　陳茵陳　廣陳皮　蘇梗　茯苓皮　木香　川樸　香附汁</p>
<p>（案29）久痛，用辛溫兩通氣血，不應。病已十年，不明起病之由。今便溏溺赤，水穀酒肉不運，必挾濕阻氣。主以分消。</p>
<p>米仁　豬苓　茵陳　蔻仁　川樸　澤瀉　苓皮</p>

<h2>七、痰飲、喘咳、水氣、腫脹門</h2>
<p>（共五十方）</p>
<p>（案1）脈沉弦，是屬飲，飲為陰類，偏於夜分、上午沖逆，不得臥。胃氣納穀，脾失散布，水濕漸漸旁漬，不得循經入腑，由腫為脹，因脹成喘，其理甚悉。仲景云：飲家而咳，當治飲，勿治咳。議以青龍之制，先開足太陽為第一。</p>
<p>桂枝　乾薑　塊苓　白芍　五味　米仁</p>
<p>（案2）飲濁上泛，夜不得臥。</p>
<p>桂枝　杏仁　乾薑　白芍　牡蠣　五味</p>
<p>三診：早服濟生腎氣丸以攝下，晚服牡蠣澤瀉散以驅飲。</p>
<p>（案3）脈沉弦，留飲久咳，乃清陽失司旋轉，漸至氣機窒塞。此膩滯補陽無益，仲景云：飲家，當治飲，勿治咳。</p>
<p>米仁　桂枝　半夏　茯苓　白芍　杏仁</p>
<p>（案4）勞倦飲泛而咳，用越婢法。</p>
<p>麻黃　生薑　大棗　石膏　甘草</p>
<p>（案5）飲為陰邪，至暮泛逆，氣衝不得臥。恐致浮腫。</p>
<p>桂枝　乾薑　甘草　芍藥　五味　米仁</p>
<p>（案6）懷妊八月，久咳，背冷，脈沉，氣衝不得眠。此因抑鬱，陽失旋轉，濁凝飲結。當治飲不治咳。</p>
<p>桂枝　乾薑　茯苓　白芍　五味</p>
<p>（案7）臥則咳嗆氣逆，此為飲結。</p>
<p>糖炒石膏　杏仁　甘乾薑　茯苓　米仁　白芍　五味</p>
<p>（案8）肝鬱氣升，飲泛不得臥。</p>
<p>桂枝　煅牡蠣　茯苓　白芍　川楝肉　米仁</p>
<p>（案9）痃癖氣逆，欲嘔水。</p>
<p>黃連　茯苓　烏梅　吳萸　白芍</p>
<p>（案10）飲泛濁壅，經脈不通。</p>
<p>牡蠣　桂枝　防己　澤瀉　花粉　萆薢</p>
<p>（案11）通太陽，鎮逆，小便仍不利，納食脘脹，胃中不和，肝氣堵塞。用疏泄方。</p>
<p>三子養親湯（白芥子、萊菔子、紫蘇子）　合五皮飲（五加皮、茯苓皮、地骨皮、大腹皮、生薑皮）　加厚朴、杏仁</p>
<p>（案12）經水不來，先天素虧，兼多鬱怒，肝木失疏，水飲旁漬而為腫脹。難治！</p>
<p>茯苓　澤瀉　防己　牡蠣　米仁　萆薢</p>
<p>（案13）脈虛飲泛，喘咳浮腫。腎氣丸以滌飲。</p>
<p>腎氣丸</p>
<p>（案14）此水結聚，壅遏經隧，致呼吸有阻為噫，而其聲在咽底。況任脈行於身前，女子經行必關衝任。今氣痹水畜，血亦化水為腫脹，胸高腹大，水性就下搏激，可使過顙，下竅久閉，狀如甕底，曷不師神禹治平之功？徒執寒熱補瀉為法，宜乎久藥無功矣！</p>
<p>十棗丸方：芫花　甘遂　大戟　大棗</p>
<p>（案15）冬至一陽初復，驟有肢麻、火升，其失藏已屬下虛。月餘，值黃昏，氣塞心痛，喘逆，戌刻陰時沖逆，下起肝藏，厥逆直將犯上，至於坐不得臥，直至產後下虛更極，水穀濕氣未能循腑，分流旁漬，滲入經脈，從前厥逆，肝氣、肝風油然沸騰，搏激似湍水，東西可使過顙之喻。究竟病根全在平昔抑鬱，《內經》驚恐明指肝腎，今既失司，腑氣不司宣化，至陰之藏，調之非易。議以專走足太陽表中之裡，冀得陰陽漸分，《經》旨謂「太陽司開」立法。</p>
<p>塊苓　乾薑　杏仁　白芍　五味　米仁</p>
<p>（案16）利後水腫，脾腎兩傷。不可用車前放塘諸法。宜溫暖水臟，以宣通腑氣。議進腎氣湯。</p>
<p>熟地　山藥　澤瀉　附子　萸肉　茯苓　丹皮　肉桂</p>
<p>（案17）腫脹，囊腫，小便不利而喘。</p>
<p>四苓散加車前</p>
<p>（案18）水腫喘急，小便不利。先治上焦，以肺氣司降。</p>
<p>紫菀　鬱金　桑皮　大棗　葶藶　黃芩　杏仁</p>
<p>（案19）脈沉實，風水浮腫，四肢不得屈伸，二便不利，中脘喘急。三焦經絡阻塞，不得流行。宜先通膀胱經腑，以足太陽司開故也。</p>
<p>桂枝　茯苓　米仁　萆薢　杏仁　防己　澤瀉　木通</p>
<p>（案20）寒熱傷肺，肺之治節不行，面部先腫，遂成風水。一身氣化不通，腫脹遍及，喘促，喉中如水雞聲。考《內經》云：從上至下者，治其上。議用《金匱》法。</p>
<p>石膏　麻黃　杏仁　厚朴</p>
<p>（案21）食後臥息頸腫，漸及周身，二便不爽。</p>
<p>白芥子　加皮　腹皮　萊菔子　桑皮　苓皮　紫蘇子　姜皮　陳皮</p>
<p>（案22）陽明經氣不利，浮腫。</p>
<p>五皮飲　三子養親湯　加桂枝、桔梗、鉤藤、白蒺藜</p>
<p>（案23）從咳嗽繼以腫脹，自上焦起，即風水、皮水之證，治節不行，一身氣痹。《金匱》謂：脈浮，初病在表。經年正餒，脈沉，里受傷矣。議進越婢法。</p>
<p>桂枝　石膏　甘草　白芍　麻黃　杏仁</p>
<p>（案24）皮水浮腫，腎囊及莖皆腫，溺不利。</p>
<p>麻黃　杏仁　石膏　川樸</p>
<p>（案25）久咳喘不得臥。</p>
<p>小青龍湯去半夏、麻黃、細辛，加石膏、米仁糯米湯煎服。</p>
<p>（案26）中下飲逆，喘咳食少。</p>
<p>朝服都氣丸加蓯蓉、胡桃肉；晚服外臺茯苓飲。</p>
<p>（案27）飲泛咳逆，脘中不爽。</p>
<p>苓桂朮甘湯</p>
<p>（案28）暮夜氣衝，咳不得臥。冬溫不藏，腎失收攝，初因微冷感冒。議用小青龍湯以滌飲。</p>
<p>桂枝　茯苓　杏仁　乾薑　白芍　米仁　甘草　五味</p>
<p>（案29）脈弦為飲，年高下虛，天冷真氣少納，氣衝為咳。乃哮嗽之症，最難除根，天暖自安。</p>
<p>茯苓　桂枝　杏仁　生薑　米仁　白芍　甘草　大棗</p>
<p>（案30）浮腫，氣喘，溺短。</p>
<p>桂枝　茯苓　杏仁　白芍　防己　米仁</p>
<p>（案31）勞倦濕熱，下體浮腫，便溏。</p>
<p>四苓散去白朮，加生茅朮、萆薢、防己、黃柏、米仁</p>
<p>（案32）勞倦陽微，浮腫。</p>
<p>濟生腎氣丸</p>
<p>（案33）六腑不通，濁氣、水濕橫漬肌隧，臍中水出，脹滿稍減，二便不行，脹勢遂加，濕熱久蒸，絡傷便血。從夏秋氣候暑濕釀成，豈可輒投香燥？考仲景：腰以下腫，可與牡蠣澤瀉湯。</p>
<p>牡蠣澤瀉散去海藻、蜀漆、葶藶，加桂枝、防己、遠志、商陸（生末）</p>
<p>（案34）壅逆稍降，留飲未驅，故口不渴。仍以前法，再開太陽之裡。</p>
<p>桂枝　茯苓　杏仁　乾薑　白芍　甘草　半夏　五味</p>
<p>（案35）下焦陰傷素虛，雪地奔走，寒氣從口鼻而入，肺氣受邪則上逆而喘，陽受傷則漐漐汗出。邪由中入，表散無益，宣其肺逆，喘緩可救。</p>
<p>桂枝　杏仁　乾薑　白芍　茯苓　五味</p>
<p>（案36）冷氣由呼吸而入，飲泛復咳。姑取小青龍法，仿仲景「飲家咳甚當治飲」意。</p>
<p>茯苓　桂枝　乾薑　米仁　杏仁　白芍五味</p>
<p>（案37）風溫上郁，是冷暖侵肺使然。輕劑清解，忌進發散。</p>
<p>鬱金　杏仁　蘇梗　象貝　橘紅　桑葉　黑梔　蔞皮</p>
<p>（案38）氣逆痰聲，呼吸不利。仍宜清解。</p>
<p>桑葉　橘紅　紫菀　沙參　杏仁　鬱金　滑石　象貝</p>
<p>（案39）風溫鬱熱在上，飲亦令上泛，煩渴，咳涎。下虛上實。仍宜輕劑清理。</p>
<p>桂枝　茯苓　石膏　白芍　米仁　甘草</p>
<p>（案40）面赤，足冷，脈沉弦細，吸短有聲，昏昏欲寐，下焦淋帶不斷。此下虛不攝，飲濁上泛，咳無止期。從來飲家咳逆，當治其飲，仲景謂：飲家短氣倚息，以外飲屬脾，用苓桂術甘理脾陽以運行；內飲屬腎，進腎氣以收攝固納。</p>
<p>腎氣丸　淡鹽湯下。</p>
<p>（案41）久鬱氣痹，水飲上泛為腫，喘咳不得臥。</p>
<p>葶藶大棗瀉肺湯</p>
<p>（案42）脈數，形寒肢冷，先以大汗淋漓，漸漸不思納穀。酒客陽微痰咳，清氣不得旋轉，昔肥今瘦者為飲。宜理其陽，用苓桂朮甘湯主之。</p>
<p>苓桂朮甘湯</p>
<p>（案43）傷寒病，表不解，發汗後乾嘔咳逆，夜不得臥。仿小青龍法。</p>
<p>桂枝　五味　白芍　米仁　乾薑　甘草　杏仁　石膏</p>
<p>（案44）脈小促，舌黃，語塞，口渴，喘息，下利黑水。此伏邪在裡，當新涼雨濕而發。十日來寒熱不止，汗泄甚多。已非暴感見症，全屬裡邪久伏，客氣必從熱化。故外郁之喘屬肺，裡熱腎氣不納，亦多喘急，況胸滿微嘔，不思穀食，咳嗆頻頻，寤而不寐，裡氣上逆，熱迫下利何疑？法以古人越婢兼小青龍合劑，使太陽得開，冀腎氣緩、上逆平耳。</p>
<p>桂枝　杏仁　石膏　半夏　白芍</p>
<p>用白元米五合，投入百沸水，一沸，取湯煎藥。</p>
<p>（案45）色痿腠疏，陽虛體質，平昔喜進膏粱，上焦易壅，中宮少運，厚味凝氣蒸痰，頻頻咳嗆。但內傷失和，自可薄味清肅。醫用皂莢丸搜攢，肺傷氣泄，噴嚏不已，而沉固膠濁仍處胸臆膜俞之間。玉屏風散之固衛，六君子湯之健脾理痰，都是守劑，不令宣通，獨小青龍取飲以就太陽，初服喘緩，得宣通之意耳。夫太陽但開，所欠通補陽明一段工夫，即不得其合，斯暫開復痹矣。且喘病之因，在肺為實，在腎為虛。此病細診色脈，是上實下虛，以致耳聾鳴響。治下之法，以壯水源冀熄內風為主。而胸次清陽少旋，濁痰阻氣，有妨於食。至臥時，繼清肅上中二焦，小劑靜守。常理百日圖功，至於應接事務煩勞，自宜省究，勿在藥間也。</p>
<p>朝服丸方：熟地（砂仁制）　牛膝（鹽水浸一宿，炒）　五味（炒）　龜板（去四圍，炙脆）　遠志（炙黑）　茯苓（生研）　磁石（煅，鹽水蘸，水飛）　萸肉（炙黑）　阿膠（溶入和丸）　</p>
<p>臥時丸方：白蠟（四兩，生，另研）　茯苓（四兩，生，另研）　竹瀝（二分）　薑汁（一分，加開水和丸）　</p>
<p>（案46）交深秋暴冷，哮喘並頻嗽。雖有新涼外束致病，然色脈素昔遺患，乃腎虛氣少藏納，況曾有失血之症。議用固攝。</p>
<p>熟地　建蓮　胡桃肉　五味　茯苓　牡蠣</p>
<p>（案47）中下虛，喘急。</p>
<p>都氣丸加附子</p>
<p>（案48）飲濁傷陽，脘中痛。暫進苓桂朮甘湯。</p>
<p>苓桂朮甘湯</p>
<p>（案49）幼年哮喘，是寒熱失和，食味不調，致飲邪聚絡。凡有內外感觸，必喘逆填喘噫，夜坐不得臥息，晝日稍可舒展，濁沫稀涎，必變濃痰，斯病勢稍緩。今發於秋深冬初，其飲邪為陰邪乘，天氣下降，地中一陽未生，人身藏陽未旺，所伏飲邪外涼相召而竊發矣。然伏於絡脈之中，發散攻表、滌痰逐里、溫補與邪無干。久藥無效，為此治法：夏月陰氣在內時候，艾火灸肺俞等穴，更安靜護養百日，一交秋分，暖護背部，勿得懈弛。病發之日，暫用湯藥三四日即止。平昔食物尤宜謹慎。再經寒暑陶熔，可冀宿恙之安。發時背冷氣寒，宜開太陽逐飲，用青龍法。</p>
<p>小青龍湯</p>

<h2>八、黃疸門（七方）</h2>
<p>（案1）氣鬱發黃。</p>
<p>左金丸加黃連、旋覆花、柴胡、蘇梗、姜皮、神麯</p>
<p>（案2）寒熱谷疸。</p>
<p>生穀芽　柴胡　陳皮　山梔　生枳實　黃芩　炒楂　木通</p>
<p>（案3）菀損氣血，心腹皆痛，發黃。七情內傷，並非黃疸。延久變為單脹，便難治矣。</p>
<p>左金丸加人參、茯苓、半夏、白芍</p>
<p>（案4）頻嘔，致膽汁溢出為黃，非黃疸也。令大便不通，腹脹痞塞。濁氣膠結，六腑失宣。宜用苦降。</p>
<p>黃連　旋覆花　白茯苓　乾薑　代赭石　川楝肉</p>
<p>（案5）勞傷吐後發黃。</p>
<p>薄荷　鉤鉤　丹皮　半曲　黑梔　木瓜　川樸　陳皮　藿梗　益智</p>
<p>（案6）酒客中虛，濕熱內阻，經脈之氣不主流通，兼長夏地中濕氣升騰，蒸郁發黃。雖六淫氣侵為外感，而脾胃不和已屬內傷，本虛標實，徒以滲利治黃，自然無效。直待秋涼，濕熱氣衰，痿黃勢減，但所傷正氣未復，儀容日損，食少便溏，不堪任勞耐煩。況五旬以外，陽氣日薄，冬月不復，即為失藏。議以脾腎兩治，重培先後天生氣，守常填攝，冀免單脹痞滿之變。</p>
<p>朝服《金匱》腎氣丸去牛膝、肉桂，重用茯苓；晚服水泛澤術丸。</p>
<p>（案7）久病脈弦，脾胃大困，水穀失運，氣道壅塞，漸生脹滿，前曾發黃。都屬肝脾鬱結。數月內損不復，長夏恐致增劇。處方聊以參末議，未必頓可卻病。</p>
<p>人參　茯苓　枳實　陳皮</p>

<h2>九、癰瘍　痔漏門（十五方）</h2>
<p>（案1）年高表疏，海氣風毒侵入陽位，盤踞閉塞隧道，發為癰瘍，中下二焦受困。今津竭便難，無味食減，內風日熾。節過春半，恐有病加之慮，進潤補法。</p>
<p>歸身　蓯蓉　牛膝　枸杞　柏仁　麻仁</p>
<p>（案2）破傷失血，液涸。</p>
<p>蓯蓉　天冬　生地　當歸　柏仁　金斛</p>
<p>（案3）鬱熱蒙竅。</p>
<p>沙參　桑葉　蘆根　雞子白　麥冬　川貝　海石</p>
<p>（案4）潰瘍未合，頻進培補，反晝夜微寒、潮熱，食物日減，形神日損。近日熱甚衄血，口乾舌絳，肉腠麻木。乃大虛之體，夾雜暑熱客氣，深慮液涸昏厥。議復脈湯。</p>
<p>復脈湯（即炙甘草湯）　</p>
<p>（案5）瘍潰膩補，胃陽壅遏，加以暑濕熏蒸，自口鼻由中道而入，胃更不和，嘔逆泄瀉。古人謂：九竅不和，都為胃病也。但胃為陽腑，剛燥所忌，久臥床褥，脾困艱運。和補中仍佐通泄，勿使氣分呆滯為宜。</p>
<p>人參　烏梅　茯苓　荷葉　木瓜　金斛　廣皮　澤瀉</p>
<p>（案6）潰瘍營損，不能食，大便泄瀉復閉。</p>
<p>四君子湯加當歸、白芍</p>
<p>（案7）陰分果虛，經脈有濕熱阻塞，所以下焦發瘍，津液不得上涵，遂久咳不止。幸得不致傷及中宮，薄味靜養圖安。</p>
<p>生地　茯苓　黃柏　首烏　麥冬　米仁　萆薢　胡麻　煉熟白蜜和丸。</p>
<p>（案8）陰損有漏瘍，咳逆欲嘔。</p>
<p>炒熟地　女貞　雲茯苓　炙甘草　白芍　懷山藥</p>
<p>（案9）督脈虛，腰背痛，神倦，痔血。</p>
<p>早服班龍丸加五味；晚服歸芍異功散，水泛丸。</p>
<p>（案10）陰傷，濕熱下墜，肛痔，溺澀，精濁。</p>
<p>生地　黃柏　丹皮　銀花　槐米　知母　澤瀉　川斛</p>
<p>（案11）能食色奪，肛痛，遺精。酸苦泄熱不應。當固陽攝陰。</p>
<p>蓯蓉　熟地　黃柏　茯苓　鎖陽　龜板　遠志　白芍　羊肉煎膏和丸。</p>
<p>（案12）菀勃陽升，氣血紊亂，遂癰瘍潰膿。已進參、耆內托，益氣生肌，雖為正治，但中下二焦陽氣升騰，肝氣震動，爍筋襲絡，致有偏枯麻痹。面色油光，平昔大便久溏。酒客中虛有濕，不受甘膩溫柔。議以苦降和陽，佐以熄風為法。</p>
<p>烏梅　人參　廣橘　金斛　茯苓　膽星</p>
<p>（案13）病起冬月，始於腰間，膚膜凝形，繼經消散，凡靜坐良久，苦皮裡膜外中有牽絆不和之狀。想凝著之寒，必入營分血絡之中。當此壯年不愈，氣血日薄，有癰瘍累瘁矣。</p>
<p>乳香　全蠍　川烏頭　麝香　地龍　沒藥</p>
<p>（案14）瘰癧不消，伏邪寒熱。</p>
<p>海石　黃芩　銀花　丹皮　蛤粉　橘紅　土貝　生地　牡蠣　夏枯草</p>
<p>為末，水泛為丸。</p>
<p>（案15）癧癆，寒熱，食減。</p>
<p>人參歸耆建中湯去糖，加茯苓</p>

<h2>十、痘症門（五十九方）</h2>
<p>（案1）一診：診後夜來大便三次，午後看視，堆沙甚薄，額准諸痘枯癟少漿。可見元氣日薄，里毒無以領載而出。今日理進攻托，遲則恐乾涸塌陷。</p>
<p>生綿耆　炙草　山甲　木香汁　當歸　制蠶　防風　桑蟲漿</p>
<p>次診：漿有五分，不肯肥飽充頂，昨涼藥，寢食、大便頗宜，頃燃燈看視，自云畏寒。《經》云：形寒形凜為肺損。益見肺主一身氣化。氣虛性薄，皮腠不營，法當參、耆益氣，氣充漿成矣。近日諸醫以毒為慮，吾謂氣壯毒化，邪與正不並立也。</p>
<p>黃耆　當歸　川芎　陳皮　人參　官桂　炙草　木香</p>
<p>三診：錢氏異功散加丁香、木香</p>
<p>四診：回漿散：人參　黃耆　當歸　炙草　茯苓　米仁　白芍　姜　棗</p>
<p>四朝：汗出衛疏，肌肉柔嫩，氣虛症也，今日猶在。六日前宜和血升頂，少候形充，即商內托。至於保護脾胃，尤不可缺。</p>
<p>川芎　制蠶　丹皮　當歸　紫茸　楂炭　陳皮　炙草　雞頂血</p>
<p>五朝：賴有紅潤色澤，得以行運漿汁，而嘔惡泄瀉，脾胃氣弱已見一斑矣。五行火能生土，況肺金溫暖，氣化流行，如陽布德同旨。</p>
<p>人參　木香　當歸　官桂　丁香　川樸　炙草　腹皮</p>
<p>六朝：漿有五六，色頗鮮明。氣血有生長之機。助元化毒兼理脾胃為主。</p>
<p>保元八珍湯：人參　黃耆　熟地　當歸　炙草　枸杞　川芎　山楂　生薑　糯米　加木香、肉果、川芎、黃米</p>
<p>七朝：漿行七八，其色淡白。要知氣血不足，到此便顧脾胃；色漸蒼老，即可回痂，以杜氣虛難收之弊。議錢氏異功法。</p>
<p>異功散加米仁</p>
<p>八朝：痘至回痂。皮毛內應乎肺，此音低咳嗽有自來矣。古人進清涼以助結痂，譬諸秋令收藏，萬物乃登。小便頻長，腑無留毒，非徒為虛而云呆補為也。</p>
<p>鮮地骨皮　茯苓　甘草梢　苦百合　米仁　淡竹葉</p>
<p>九朝：回痂，咳嗆音低。痘熱由里傳及肺部，氣之所至，卻為熱氣熏灼。只因脾氣未實，沉寒又犯禁忌，故小便欲長，驗肺氣降也，輕清涼解，毋傷中氣，古人云：疹前痘後，最宜細詳。</p>
<p>茯苓　甘草　骨皮　連翹　米仁　黃芩　銀花　綠豆殼</p>
<p>（案2）三朝：痘已大發，面部細密繁冗，界地不清，抑且神躁不寧，身軟痿頓。毒火自厲並重布，此血熱大險之症。今日痘點雖透，所謂痘難出而毒猶在裡，大劑寒涼疏利氣血，使時火去、神識清，顴頰諸痘綻立，分清界地，乃是好處。</p>
<p>犀角　元參　青皮　楂炭　羚羊角　丹皮　赤芍　牛蒡　黃連　紫茸　木通　連翹　生石膏煎湯代水。</p>
<p>四朝：議用清火解毒，活血疏滯。但痘繁乾燥，有不得起脹之象，屬重。</p>
<p>黃連膏　犀角　紫茸　楂炭　羚羊角　元參　丹皮　金汁打生地汁　土貝　連翹　銀花、地丁煎湯代水。</p>
<p>另用小雄豬尾血一小杯，研入冰片一釐，細絹絞渣，用銀花露墩溫沖服。</p>
<p>五朝：兩日來大劑清解，痘粒仍然干痿，可見毒火矇蔽，氣血正怯，何疑毒不外達，徒在裡熏搏？痰潮侵咽，嗆逆來矣。縱與清涼，痘之形色非成漿之象，至險無辭。議以牛黃、珍珠護心胞、利毒痰，湯藥方法不越寒涼圍範也。</p>
<p>黃連　元參　連翹　犀角　地龍　丹皮　羚羊角　土貝　桔梗　金汁打生地　銀花煎湯代水。</p>
<p>六朝：三次大便竟是藥汁，乃胃中谷氣已少，苦寒直從下走。究竟痘形干痿，並無毒肯化漿之象。已經洞泄，其滑潤又當酌進，必得胃蘇納穀，希冀堆沙發具。</p>
<p>黃連　土貝　羚羊角　紫茸　黃芩　桔梗　丹皮　連翹</p>
<p>七朝：雖有清漿，顏色呆鈍，仍是郁毒尚多，氣血不得宣布之象。況肢體發泡瘙癢，損瀉皆伏危機。今日清解滋血，佐以攻托，務使胃蘇，自能進谷，穩過十二朝方有好音。</p>
<p>黃連　生地　桑蟲　紫茸　黃芩　丹皮　制蠶　連翹　銀花、地丁煎湯代水。</p>
<p>九朝：神衰困倦，夜來弄舌咬牙，煩不能寐，況進穀食甚是勉強，猶非全好光景。古云：重恙必講寢食。今陽火與痘毒尚亢，而陰血津液暗爍，清涼多進，熱不盡解，攻蒸兩投，毒未鎔化，磨挨多日，竟無實濟。因思《內經》云：寒之不寒，是無水也，當養其陰。擬此連進三天，扶過十二朝再商。</p>
<p>炒熟地　茯神　麥冬　天冬　川斛　米仁</p>
<p>頭面有收斂之象，雖曰回痂，而食物不加，便溺未調，究竟毒化未盡，正氣先怯，危機仍若。連進苦寒攻毒以來，胃氣受戕，亦致廢食。凡思進之物，皆能蘇豁脾胃之性，姑停藥二日再議。</p>
<p>（案3）三朝：時厲毒火兼盛，表裡不清，煩躁神昏，布痘不爽，症屬險象。幸得年已十三，能耐摧拔，庶可幸成。</p>
<p>大黃　黃芩　桃仁　滑石　牛蒡　青皮　紅花　連翹　石膏　楂炭　方諸水</p>
<p>四朝：時厲毒火尚蔽包絡，所以昏憒妄談。況痘子界地隱隱夾疹，血熱煩蒸已極。不獨治痘，先須清神為要議。</p>
<p>三黃解毒湯：黃連　黃柏　滑石　黃芩　石膏　黑梔</p>
<p>五朝：神識頗清，全賴苦降之力。論年長出痘，人事已曉，肝中相火、腎藏龍火皆得升騰，少陰脈循咽挾舌，厥陰脈貫膈繞咽，一水不能制二火，恐其阻塞咽喉，陽氣燔灼。湧吐涎沫，如漆如膠，原在難治之條。《經》云：火淫於內，治以苦寒，佐以鹹寒。咸能潤下，直入至陰，不但痘門，通套法也。</p>
<p>黃連　生地　方諸水　黃柏　黑梔　犀角　元參　丹皮　龍膽草</p>
<p>十一朝：漿滿回痂，毒氣已泄，口唇痘子未若肌表漿痂必成，熟腐而落，此最動之處，最易變疳。明日便約疳醫洗治為要。</p>
<p>川貝　生草　知母　銀花　麥冬　元參　天冬　連翹</p>
<p>（案4）八朝：火毒即是血熱，理用寒涼；氣虛元弱，不能領毒外達，治宜內托。二症相返，有如冰炭，若云火毒，便非氣虛。今周歲嬰兒，面有清漿五六，背部根暈皆散，八日以來，不思穀食，反現嘔惡、咬牙、煩渴、泄瀉等症，全屬裡虛毒陷。若不急保脾胃，溫養氣血，以運行漿汁，必致延挨告變。陳文中雲：泄瀉，嘔惡，或腹脹，或不腹脹，十一味木香散主之。憑理考古，不敢因循苟且也。</p>
<p>十一味木香散：木香　腹皮　半夏　青皮　訶子　甘草　桂心　前胡　人參　赤苓　丁香</p>
<p>又一方：有黃耆、白朮、陳皮、川樸，無腹皮、半夏、青皮、甘草</p>
<p>九朝：七味豆蔻丸研入米飲內服。</p>
<p>方：木香　肉蔻　龍骨　砂仁　赤脂　白礬　訶梨勒肉</p>
<p>十朝：瀉止能食，最是好兆，但瘡痂甚薄，漿汁不濃，毒未能盡化，半月後恐有餘毒纏綿。今涼劑解毒，脾胃尚弱，未可驟進。姑與健脾利水，一二日即當停藥安穀，至初十間再議進解毒，勿使告變。</p>
<p>炒白朮　炒陳皮　茯苓　米仁　炒白芍　炒穀芽　炙草　澤瀉</p>
<p>（案5）三朝：面不掀發，色猶鬱伏，時氣果從熱論驗，形體己屬不足。刻下清潤涼解活血，六七日受補可療，然症象已繁屬險。</p>
<p>犀角　紫茸　木通　楂炭　丹皮　紅花　連翹　甘草　筍尖</p>
<p>四朝：正痘皆發，形軟蓬鬆，色嫩皮薄，是氣虛形色大著。或以身夾紅點為血熱，此乃時癘混入血中，非本體之見端。故六日前清涼活血皆解邪之法，七日來助元內托乃養正之法。仍以清涼輕用。</p>
<p>犀角　紫茸　杏仁　制蠶　羚羊角　甘草　紅花　楂炭　丹皮　連翹　雞冠血</p>
<p>五朝：色不光華，形偏扁塌，此氣血俱餒，未能領毒化漿。若寒涼解毒，通套常方；煦提氣血，方是良工。</p>
<p>川芎　角針　紫茸　當歸　炙草　雞冠血　制蠶　楂炭　桔梗</p>
<p>（案6）氣血寒涼太過，脾胃受傷，嘔瀉。</p>
<p>異功散</p>
<p>（案7）寒戰咬牙，瀉清滑利，不嗜粥食。從前寒滑重傷脾胃，致毒不盡化，精神內怯，腸中滑不自持，雖參、術亦從滑下。惟有陳氏法急顧下利。</p>
<p>豆蔻丸</p>
<p>（案8）脾氣初結，未可解毒涼潤。</p>
<p>白朮炭　茯苓　山藥　炙草　米仁　建蓮　澤瀉</p>
<p>（案9）二朝：時氣與內毒交結，喘促，痘不發起。宣通氣血，調暢六府為法。</p>
<p>酒大黃　青皮　桃仁　石膏　滑石　楂炭　紅花　木通</p>
<p>三朝：痘發八九，不得均勻，而形色燒乾，已為火象。清解涼血透毒是治。</p>
<p>犀角　楂炭　丹皮　羚羊角　牛蒡　桔梗　紫草　連翹　甘草</p>
<p>五朝：火毒未化。咬牙，嗆咳，嘔惡，腹膨。清解中仍宜疏滯。</p>
<p>黃連　制蠶　連翹　廣皮　羚羊角　紫茸丹皮　土貝　桔梗　楂炭　銀花煎湯代水。</p>
<p>六朝：火毒未盡。腹膨，便溏，不欲進食。此脾正虧而腸胃中滯氣不行也。議以養陰托裡，疏理滯氣之法。</p>
<p>川芎　腹皮　制蠶　厚朴　當歸　廣皮角針　青皮</p>
<p>七朝：攻毒以來，漿未沖頂，而腹膨、嘔逆、身熱，二便頗通，豈云食滯？思之：脾胃間尚有熱毒蘊伏，呆滯氣機，脾滯為脹，胃逆為嘔。若不清理痘中雜病，須防喘急疳蝕。</p>
<p>黃連　青皮　橘紅　茯苓　竹茹　枳實　腹皮　麥冬</p>
<p>（案10）三朝：痘形不雄壯掀發，是屬氣虛。議進透肌安表。</p>
<p>牛蒡　紅花　楂炭　桔梗　荊芥　赤芍　陳皮　筍尖</p>
<p>四朝：痘已發齊，稠密少勻，額准盤松不綻，諸部亦少光彩。氣虛毒重，八九朝恐其癢剝。姑用升提透頂，不可擅進寒涼。</p>
<p>川芎　紫草　制蠶　酒釀　當歸　桔梗　楂炭　紅花　甘草　雞冠血</p>
<p>五朝：元虛痘密，最難起發成漿。今日再進升提，少候形充，即商內托受補為佳。</p>
<p>川芎　角針　陳皮　羊肉　當歸　紫茸　炙草　雞冠血　制蠶　楂炭</p>
<p>六朝：地閣頤頰稍稍光潤，似有行漿之色，奈天庭枯白，形似蛇皮，陽位不宣，究非善狀。急急溫補氣血，從中托毒，遲則變症，補必無益。</p>
<p>人參　川芎　陳皮　楂炭　黃耆　當歸　炙草　雞冠血</p>
<p>七朝：照前方去雞冠血，加鹿茸。</p>
<p>八朝：漿有四分，慎勿發癢。</p>
<p>人參　鹿茸　炙草　黃耆　坎氣　當歸　木香　廣皮　肉果</p>
<p>九朝：面部清漿欲涸，周身暈散腳闊，泄瀉咬牙，不多納穀，兩日癢甚，今日稍和。表裡皆虛，毒將涸陷，此刻最難攻發。繼進木香異功散，理肺安脾為要。</p>
<p>異功散加木香</p>
<p>十一朝：頭面半漿回痂，肢體灰陷不榮。虛中留毒，險毒在明後。且寒戰咬牙，正氣欲脫，擬以附子理中加茯苓。</p>
<p>附子理中湯加茯苓</p>
<p>（案11）四朝：身小痘多，氣虛血熱。今時氣未盡，尚宜疏解，五日便當補托。尤宜加意，可冀有成。</p>
<p>牛蒡　楂炭　川芎　荊芥　丹皮　桔梗　制蠶　紅花　冬米</p>
<p>五朝：幼小痘繁，元氣甚薄。凡起脹行漿，全賴精神，毒運自發熱，體氣欠安適，至七八成漿，神氣已經耗損，故痘書云：小舟重載八九，風波可見。元氣日薄，癢塌症象多在是期。虛中夾毒，明明險象。今議用和血提頂起脹方法。</p>
<p>川芎　紫茸　制蠶　當歸　陳皮　木香　炙草　楂炭　雞冠血</p>
<p>六朝：痘雖放白，似具行漿之勢，所嫌頂不高松，況有咬牙、大便頻下，內虛之象已見一斑。今急急補托，使精神稍振，可以送毒成漿。</p>
<p>黃耆　川芎　木香　制蠶　當歸　炙草　陳皮　黃米</p>
<p>色白不能紅潤，大便頻下，是精神內竭，有下陷之象。擬進參歸鹿茸湯，冀其元氣稍振，便可僥倖成功。</p>
<p>人參　鹿茸　炒廣皮　木香　當歸　肉果　訶子皮</p>
<p>八朝：漿汁不行，咬牙，腹痛，泄瀉。此正虛氣滯毒凝，補托極妥。慮虛不承受，陳文中雲：渴瀉腹脹，可與木香異功散，以安中疏滯。</p>
<p>人參　前胡　腹皮　川芎　木香　青皮　丁香　當歸　蘇梗　厚朴　炒黃米</p>
<p>（案12）六朝：肉腫瘡枯，周身形象不偉。本虛氣血不行，毒火漫無拘束，必得痘形充長，顏色潤澤，方有成漿之象。議以清毒內托，兩和氣血。</p>
<p>黃連　制蠶　陳皮　當歸　紫草　炙草　川芎　丹皮　雞冠血</p>
<p>（案13）七朝：色稍潤，形尚癟，血有承載之機，氣乏煦運之力。古人每以十宣保元助氣，翁氏亦以六日後專運氣血為主。今日初見漿來，氣血耗損，兩日間深慮癢塌。</p>
<p>人參　炙草　川芎　酒釀　當歸　木香　楂炭</p>
<p>十朝：漿未充盈，枯瀉黏膩，雖咳痰未肅，理必急護脾陽。此陳氏方法，何憚而不用乎？</p>
<p>人參　肉果　訶子肉　白朮　陳皮　肉桂丁香　川樸　炒黃米</p>
<p>十一朝：頂不充滿，皮殼已腐。不任攻發，惟宜補托。</p>
<p>人參　木香　肉果　炒白芍　黃耆　炙草　陳皮　炒當歸　炒黃米湯代水。</p>
<p>（案14）七朝：音啞痰潮，下利稠黏。翁氏云：喘急見於瀉後，總是氣虛而斷。嘔惡不食，脾肺兩虛，敗危如朝露矣！陳氏異功散溫里托毒，急救太陰藏真。</p>
<p>人參　茯苓　半夏　肉果　附子　丁香　陳皮　當歸　官桂　木香　白朮　厚朴</p>
<p>八朝：內症安和，仍宜理陽。</p>
<p>人參　丁香　附子　茯苓　白朮　木香　肉桂　肉果　炒黃米湯煎。</p>
<p>（案15）二朝：見點隱隱不透，左太陽背部紫斑，雖經下過，精神已憊，難任盪滌。悶伏之象顯然，即投攻發藥石恐有倒戈之慮。</p>
<p>防風　牛蒡　川芎　青皮　荊芥　楂炭　滑石　桔梗　桃仁　大黃　紫草　紅花　芹汁</p>
<p>（案16）百日嬰孩，未沾穀食，胃受乳汁甘美，腑氣嫩薄。痘發蒸動里真，已覺悽悽不寧，藥味苦劣，胃中氣弱，必致嘔逆泄瀉，是病未攻而正反傷矣，況此薄質？宜乎和，不宜推蕩，一定理也。總屬邀天幸無濟人工者，議乳母代服解透松毒，兼通乳汁。</p>
<p>生地　赤芍　楂炭　漏蘆　紅花　荊芥　木通　川通草　丹皮　紫草</p>
<p>（案17）形瘦質弱，當夏至氣候發痘，汗泄肌疏，況暑熱傷氣，五朝來形象枯癟，乏光潤充偉之色，蓋元氣不能化漿也。有限日期若不氣充外灌，必致外剝內陷。大凡治痘，必須論體，此虛弱夾毒之症，最難調治，與實壯盛迥別。議進芎歸湯，和血內托以助充長。</p>
<p>川芎　紫茸　桔梗　當歸　楂炭　炙草　制蠶　丹皮　雞冠血</p>
<p>（案18）空泡遍起，不肯灌漿。世俗每拘氣過則泡，僉用涼藥清其氣火。夫不足之體，焉能正氣有餘？良由血不附氣，為空壘耳。保元湯托扶氣血，一定至理。此症扶過十二朝，投得清涼解毒，合乎先補後清之旨，好音可望。</p>
<p>人參　炙草　當歸　粳米　黃耆　川芎　陳皮</p>
<p>（案19）麵漿七八，雖曰清稀，護養勿損，亦可濃厚成痂。第胸中身背形損者難以聚漿，其他僅有空殼，根暈少附，況兼嘔逆、神煩，內症未得安靜，虛中挾毒，又非徒補可安。此益元氣血之中，諒必參以清涼。就翁氏論痘，原叱過補。十天痘疹合乎秋冬之令。夏季發泄，大忌攻擊，以速其腐潰，至囑。</p>
<p>人參　陳皮　當歸　粳米　川連　木香　白芍</p>
<p>（案20）晝靜夜煩，陽亢陰虛，緣稚年之體，屬陽乏陰，協和清涼解毒能理時癘火毒，先天藏畜之毒兆於有形之時，豈刻時可去？論理壯水制陽，益陰解煩。仿錢仲陽之議可也。</p>
<p>六味丸去萸肉，加白芍</p>
<p>（案21）冬溫未解，神氣未為清爽。痘雖熱症，體柔肌白，是為元虛，清寒不可太過。胃無妨礙，自無變症，殼薄痘多，看護為要。</p>
<p>犀角　丹皮　連翹　紫草　羚羊角　炒楂　桔梗　牛蒡　雞頂血　天蟲</p>

<h1>曹仁伯醫案</h1>
<p>（案1）凡疝氣有三說，每說皆七，三七二十一說，其實各說其說也。此疝則更出於各說其說之外，名為小腸氣。夫小腸氣又有寒濕、濕熱兩途，如囊腳腫硬，膿水時流，小便不利，原在濕熱之條，不可與寒濕之疝同日語也。宜以加味通心散合二妙丸。</p>
<p>肉桂　甘草梢　川木通　連翹殼　黃柏　川楝子　車前子　瞿小麥　淡黃芩　黑山梔　蒼茅朮　燈心　竹葉</p>
<p>（案2）胃脘當心而痛，其痛有九，痰、血居其二焉。二者之因，因於耽飲者居多。蓋溫飲下咽，積濕生痰，阻氣作痛；熱酒入胃，動血成瘀，阻道亦痛。無怪乎膈咽不通，飲食不下，大便燥結，面黑體瘦，以昭營衛乾澀之狀。若得痰血一消，營衛流行，通則不痛矣。恐後來飲食自倍，腸胃乃傷，未免復蹈前轍，慎之慎之！</p>
<p>三子養親湯、旋覆花湯合煎，加大麻仁、瓦楞子、瓜蔞仁</p>
<p>另用元明粉、紅曲（各錢半），痛時火酒送下。</p>
<p>（案3）久病傷陰，雖見熱象，往往口中不渴者，以久病入絡，絡主血、血主濡潤故也。然必驗之於舌苔。</p>
<p>（案4）顫振一症，振乃陰氣爭勝，顫則陽氣不復，其勢之來，上衝則鼓頷，四散則肢動，至於肉筋瞤惕，不過來勢之輕者。治此病者，平補鎮心而已。惟肝不藏魂，寤寐失常，膽又內怯，驚悸時作，加之痰火串入其間，法須兼備，冀免厥塞。</p>
<p>人參　龍齒　當歸身　半夏（竹瀝拌）　大生地　秫米　麥冬　茯神　石決明　膽南星　酸棗仁（川連三分拌炒）　遠志肉　青竹茹　廣橘紅　鉤藤鉤</p>
<p>（案5）濕有五。肥人之濕多起於脾，脾主濕，又主土，土氣不旺，濕邪無路可出，則變而為痰，化而為熱，所謂濕生痰、痰生熱是也。濕熱痰體亦既有年，姑置勿論，且說（俗惟）病經兩候，痛瀉起因，繼以寒熱往來，一日兩三度發，其間呃忒頻頻七日，顯系冷風外感，內從少陽而入，裡氣不納，上逆沖激，出入無定使然。當時汗出太多，雖有口苦、嘔惡等症，卻難和以小柴胡湯。現在汗已不少，吐亦未除，下又通矣，三法自行而瘧疾仍作，胸前痞悶，脈右軟滑，左覺空弦，神情困倦，語言無力，飲食不思。中氣大虛，邪氣尚盛，汗、吐三法，既不可施，惟以和寒溫之例，尚可以行。常念丹田有熱，胸中有寒，白苔滑者，仲景曾出黃連湯一方，喻氏師之，以為和上下法之計。又念汗、吐、下三法之後，胸前作痞，噫氣不舒者，仲景用代赭旋覆湯，通其陽，鎮其逆，俾得呃不再呃，想亦未始不合。如此治法不獨為新病而設，即舊時之濕熱生痰亦與焉。和方之制，和其不和者也。不和於已虛之後，竊恐虛波暗起，未可忽略。</p>
<p>小川連　白芍藥　代赭石　草果肉　淡乾薑　半夏　旋覆花　白茯苓　人參　甘草　川桂枝　廣陳皮　生薑　紅棗</p>
<p>晚診：加制川樸（青鹽拌）、甜冬朮（薑汁炒焦）</p>
<p>復診：今晨寒熱又作，來勢頗輕，嘔亦稍定，苔又漸薄。所受風寒濕熱卻有暗化之機，似屬佳兆，無奈脈之弦滑，多帶空象，元氣陽氣實已內虛，而有邪不得不以扶正化邪為法，恐邪未盡而正先盡矣。</p>
<p>制川附　野於術　半夏　川連　淡乾薑　雲茯苓　旋覆花　草果　粗桂枝　人參　代赭石　生薑　制川樸　炙甘草　白芍　紅棗</p>
<p>又診：細繹此病，風邪外感，內蒸濕熱濁痰，古人所謂夾病。此等症也，何以見之？風入少陽則為寒熱往來，半在表，半在裡，出而與陽爭則寒，寒宜不飲；入而與陰爭則熱，熱宜發渴。此乃寒喜熱飲，熱反不渴，若無濕熱濁，何以如是之故（難解）。白苔滿布，面色晦滯，脈弦右滑，盡帶空濡之象。欲去其風，必須化濕、化熱、化痰，以除兼夾之氣邪，則風邪尋路而出，不被兼夾所持矣（再解）。然熱自痰生，痰從濕化，即欲化痰、化熱，必須化盡濕邪（主腦乃解）。西昌云：舍助陽外，無驅濕之法，明示人以溫通為主。將來附子理中湯、連理輩，一定章程，其中損益，尤須臨病斟酌，活法在諸高明也。設使兼夾之邪，日化一日，而瘧機未脫，仍可用小柴胡湯和之（原）。或寒熱漸輕，但師其意不取其方，亦無不可（再原）。諸高明自有洞見，何庸多議？此不過主人之意，聊以應命而已。</p>
<p>（案6）此伏暑晚發之病也。暑邪者何？天之熱氣下，地之濕氣上。人在氣交之中，無隙可避，感而受者，遂病為暑。假使發於當日，其邪易達，其氣未深耳。惟深伏三焦，直至秋晚而發，道遠氣深，自內達外，焉得一病便輕？所以病經十有三日，日重一日矣！然伏邪僅在三焦，不過寒熱分爭之下，所見者無非胸前痞悶，口中甜膩，二便失調而已。茲乃肢麻不已，更見厥逆，顯系所患之邪不從三焦而出，反入於肝脾。肝者，將軍之官，其性橫逆，上犯肺經則為厥，旁流中土則為麻，麻厥並至，不惟邪盛，早見肝陽逆矣！然肝陽之逆，暑氣之侵，亦非無故而作，必由風喜傷肝，未病之前，先招風氣，引動伏邪，加以陰氣素虛，肝失所養，所謂最虛之處，便是容邪之地。三焦之病，累及乎肝，最為惡候，能不慮其虛不化邪、厥逆頻頻乎？所幸者膽亦受暑，膽屬少陽，其機為樞，有出入之意焉，是以寒熱之勢變為寒熱往來，間日而作，俾得病情從此漸輕。不獨肝臟可以外傳於腑，即留在三焦者，亦可望其歸併也。但少陰本虛，脈弦而芤，最恐欲化不能，亦防半途而廢。邪實正虛，用藥最難，權就寤言不寐、多夢紛紜、邪在膽經為甚者立方，候正。</p>
<p>十味溫膽湯，用生地，去遠志，加羚羊角、龍齒、當歸、省頭草</p>
<p>（案7）喘出於腎，關於肺，標本同病。始而邪盛，繼以正衰，大非久病所宜。「熱在上焦者，因咳為肺痿」，仲景早已言之，非無意也。肺之一臟，外為熱火所爍，內被肝火上燔，金不生水，水不涵木，木反侮金，其畏如虎。專與復脈湯治其下，葦莖湯治其上，以冀弋獲。</p>
<p>人參　阿膠　知母　炙甘草　大麥冬　棗仁　桑白皮　蛤殼　大生地　川貝　地骨皮　米仁　瓜子　絲瓜絡</p>
<p>（案8）夏間伏暑，至秋末而發，亦云晚矣。晚則其道遠，其氣深，橫連於膜原，外發於陽明。所以初發之時，僅見蒸熱，雖得汗泄而不能解，今已二十日矣。曾經化火發渴、發乾，陰分必傷。傷陰化燥，本屬暑邪見症，而況陽明中土，萬物所歸，尤易化火傷津者乎？然陽明化火傷津，不過清之、養之而已，尚可有為，無如所患之火，內挾飲食之積，結而不開，盤踞小腸，上升則口糜，下注則便泄，泄還不已，轉而為痢，其色黃而帶灰，紅而帶白，便則多痛，以昭邪盛則實之意焉。設使胃家氣旺，腎臟不虛，而用攻克之劑，尚可以勝其任者，原為幸事。而飲食不思，神情困倦，面白帶青，肌肉暗削，小便不利，少陰、陽明之生氣索然，津液告竭。急急補助，已恐鞭長莫及，豈能再用攻克？診得右脈弦數，左脈細小，細小為虛，弦數為實，虛中有實，用藥兩難，惟有豬苓湯一法，最為痢後傷陰所宜。然下焦可治，而中焦之結者，肝陰之虧者，仍未得以兼治，參入青六一方，佐以芍藥甘草湯一方，而三法備焉，以冀弋獲，否則悠悠忽忽而脫矣。</p>
<p>豬苓　滑石　澤瀉　甘草　阿膠　赤苓　紅曲　芍藥</p>
<p>用薺菜花（一兩）、荸薺（四個）、海蜇（二斤），煎湯代水。</p>
<p>次診：進豬苓湯後，所見下痢已減其半，所化之邪亦減其半，所以唇之腫者已消，齒之垢者能清，以及右脈之弦數者能緩、能和，似屬佳兆。然左脈細小，按之仍屬無神，且兼關部帶弦。弦主乎肝，細小無神又主真陰不足，惟以不足之真陰難以涵養肝木，肝木順乘中土，尤為易事。如中土尚屬有權，往往於病邪消化之後，胃口漸開，生機可望焉。乃胃中之津液早被熱氣所傷，又為下痢所劫，一傷一劫，杳不思納，乾噦、噁心，所謂劫津病至，津竭禍來，此等症是也。若論小腸盤踞之邪，痛勢仍然按之未減，而其位置則已近乎少腹，而不連於脅部，勢欲下行，還未歸併大腸，即使貽患將來，不過為癰為血，尚可徐圖。惟此虛態百出，變生眉睫，能勿懼乎？然則陰盡痢止，最為危候，不得不宗「七虛三實，扶正為先」之訓，而回元氣於無何有之鄉，再圖僥倖。</p>
<p>人參（七分）　白芍藥（錢半）　青皮（七分）　牡蠣（一兩）　麥冬（錢半）　甘草（四分）　丹皮（錢半）　花粉（三錢）　五味（七分）　川貝母（錢半）　橘白（七分）　人中白（五分）　雪羹湯、炒香穀芽代水。</p>
<p>（案9）紅疹屬血，白痦屬氣，氣血同病，疹㾦併發，發則為病易解矣，神必清矣。茲乃既發白㾦，又發紅疹，而神反昏沉，身熱不退，氣息短促，加以舌縮質紅，其苔灰白，遍身自汗，足腫逆冷，甚至下唇震動，兩手亦然，昨日多喜笑，小便自遺，本來咳嗆，今反寥然，水飲與之則咽，不與亦不思。診得右寸脈形滑數，關部濡軟，左手皆細小，按之模糊，想是風邪外感，引動溫邪，又被濕痰所阻，元氣受傷，走入手足厥陰也。勢已危篤，每易悠悠忽忽而脫，邪從汗出，元氣亦與之俱出，正在勢不兩立之時，最為棘手。勉從「虛羸少氣」例治，以冀邪盡而正不與之俱盡。</p>
<p>竹葉　川貝母　勾藤　中生地　麥冬　遠志肉　石膏　犀角　人參　茯神　生甘草　牛膝　天花粉　穀芽</p>
<p>（案10）胃脘當心而痛，繼以形寒發熱，如瘧而作，甚至呃忒頻頻。此係溫邪外感，穢濁內踞，加以濕痰食滯，交結中宮也。設使中宮之陽氣內旺，所受之邪容易化達。茲乃元氣本虛，諸邪又傷，後無力消除，病延多日，所以脈象空弦，神情困倦，非補不可時也。但舌苔白膩，干欲熱飲，下體先痹，今更作麻，噦逆噁心。邪戀肺胃，而腎氣亦衰，用藥極難兼顧。然溫養中宮，佐以上下分治之品，俾得一舉而三善備焉，以冀即日見長為幸。否則氣息易喘，恐增額汗，伊可畏也。</p>
<p>人參（中）　制川附（上下）　廣木香（上下）　代赭石（上下）　野於術（中）　淡乾薑（中）　廣木香（中）　木瓜（中）　制川樸（上下）　母丁香（上下）　旋覆花（上下）　半夏（制，中）　大麥冬（中）　炙甘草（中）　枇杷葉（上下）　</p>
<p>次診：進前劑麻痹得和，四肢得暖，且有吐出陳腐酸苦，其色若塵，此皆得溫而通也。然呃忒頻頻、氣息短促、呻吟不絕、噦逆嘔惡之象，仍不克除，神情困倦，左脈空細，右脈弦急，大便溏黑，喜飲熱湯。濕痰邪滯之外，又有瘀血在裡，邪從上出，不自下行，已為逆症，而況嘔吐之時曾經額汗，能不慮其虛波暗起而脫乎？噦逆嘔吐，無不由於氣之所載，氣若不平，諸症何能化解乎？再將前方加減，先使氣平為安。</p>
<p>旋覆花　半夏　烏藥　刀豆子　代赭石　白杏仁　沉香　西洋參　懷牛膝　檳榔　加大補陰丸</p>
<p>三診：呃忒日輕，嘔惡日重，此即陳腐之邪內阻氣機。為呃者多從嘔出，所以一則見輕，一則見重也。然病根欲拔，其所出之路逆而不順，上而不下，頗失「胃氣下行為順」之理，卻為累焉。昨夜額雖無汗，今朝脈尚弦急，呻吟未絕，所留陳腐之邪尚在中宮，犯肺為咳，犯胃為嘔，直從中道而立，猶帶呃忒。必須去盡宿邪，庶幾有望。</p>
<p>白茯苓　制川樸　半夏　茅根　風化硝　枇杷葉　蘇子　竹茹　江枳殼　白芥子　西洋參　刀豆子</p>
<p>四診：盪滌宿邪之下，嘔惡大減，呃忒日緩，脈象稍和，呻吟漸除，大便疊通。夫乃胃有下行為順之兆乎？去疾莫如盡，尚須磨蕩下行，繼之於後，可卜其旋元吉。</p>
<p>前方去洋參，加腹皮、薏仁、穀芽</p>
<p>（案11）陽絡傷、血外溢之後，脈宜靜。此乃脈細而數，數則為動，細則陰虛，所以氣急喘促，胸悶脅痛，面色萎黃，語言無力，小溲清白，大便漆黑，心悸少寐，氣逆悶。動則火升，倦則陽舉，無一而非虛陽上擾、陰血下虛、氣不歸元之象。先哲云：「氣有餘便是火」，氣不足即是寒，不足之氣反見有餘，此非真火，乃是虛寒，陰不變陽，血不配氣，以致此也。欲降其氣，必先補陰，理固然耳。</p>
<p>生脈散　冬瓜子　石決明　葳蕤　枇杷葉　川貝母　薏苡仁　廣橘紅　白茯苓　燕窩</p>
<p>（案12）太翁之病，肝腎素虛，肺胃新感之病也。花甲之年，即使不病新邪，筋骨間早已空虛，何堪再經磨耐？因病致虛，因虛益病也，乃又經食消克之劑，在所必需。幸而外熱遞減，內熱不清，咳嗽痰黏，咯吐不爽，氣促形倦，納少胃呆，舌苔或黃或白，現在又多剝象，左脅曾痛，兩膝常屈，臥床不起，小溲乃黃，加之音不能揚，睡中言語，顯系肺胃兩經之熱。既不能從外而泄，又不能從上而清，邪無出路，斷無中道而立之理，勢已逼入下焦，兩傷肝腎。邪之所湊，其氣必虛；留而不去，其病為實。實則瀉之，虛則補之。以使補不礙其邪，瀉不傷其正，一舉兩得，方合實必顧虛之計。此等立法，似乎從症，而未及脈，然所診之脈，亦無不合之理。右寸關部弦而且滑，左關尺部細而且數，數則為熱，滑則為痰，弦主乎肝，細主乎腎，豈非肺胃兩經之熱痰正盛、肝腎兩經之虛氣大昭乎？無怪乎其氣從左逆，臥不能側，更著上實下虛之症焉。為日已久，肺失清肅之司，相傅無權；腎失封藏之本，作強無主，而來此喘息，標本都傷，何恃不恐？必得藥隨病轉，首能呼吸調和，庶幾循循而治。否則氣不歸元，難卜其旋元吉矣。</p>
<p>大生地　天冬　桑白皮　蛤殼　羚羊角　棗仁　地骨皮　全歸身　人參　抱茯神　川貝母　廣橘紅</p>
<p>（案13）肝藏魂，肺藏魄，魂升魄降，一陰一陽之各有其常也。此間之病，魄之降者，一無所關；魂之升者，獨擅其奇，始而見所未見，繼而聞所未聞。男女話長，分居左右，此無他，嬰兒奼女，天各一方，而實黃婆之不媒以合也。夫黃婆屬土，土中濕熱生痰，以致「天五地十」之生成失其所主，累及肝魂之不附中而出之於上。欲治其上，勢必先奠厥中。</p>
<p>人參　茯苓　半夏　獺肝　冬朮　炙甘草　陳皮　磁朱丸</p>
<p>（案14）肝者，將軍之官，女子以此為先天，與男子不同。大病後先天未經復元，肝血內虧，不能涵養肝木，肝性剛強，入營則吐血，入胃則脘疼，上升則頭眩，肝經之病，可云甚矣！設使脾土內旺，尚可生金，金來制木，不足慮也。無如此際健運失常，濕從下走，五更溏泄；甚至濕鬱中脘，腹中雷鳴；濕又鬱而為熱，其氣上行，耳中嘈嘈，出膿、出汁，今更失其聰矣！脾經之弱，自顧不暇，豈有生金制木之功哉？然肝為剛藏，順乘中土（剋土），本屬易事；橫逆肺金（侮金），亦不為難。以不難侮金之木，偏遇肺失清降，木寡於畏，咳嗽數月，時見鼻衄，左脈過弦，右寸上溢於魚際，甚至少腹有形之氣從左而起，從下而止，或攻於左脅，或逆於右脅，或塞於中，或作嘔惡，竟有驟變為厥、緩變為臌之形，豈容渺視？然肝屬乎陰，陰中木火存焉，不左其金，無以為治。但面色萎黃，肢體無力，飲食不多，喜飲熱湯，中下之陽氣式微，不得不兼顧而治之也。至於得後與氣，則快然如衰者，不外是病，亦不外是治乎！</p>
<p>九香蟲　厚杜仲　大麥冬　車前子　焦冬朮　全歸身　牡蠣　紫菀　廣陳皮　白芍藥　桑白皮　地骨皮　左金丸</p>
<p>（案15）先痛而後腫者，氣傷形也。究之所以傷形者，熱勝則腫，火甚則痛，此等見症不足以泄其邪，又挾身中之白積，下走腸間，似屬尋路而出矣。然脾氣不升，反從下陷，四肢浮而陰囊腫，小水不利，滿症作焉。實則瀉之，未始不美，而不知所存之濕歸入腹中，以昭「諸腹脹大，皆屬於熱」。幸得五苓已分其勢，然猶未也。午後發熱，鼻準色赤，雖曰脾經伏熱，而咽之時痛、喉之乾燥、舌之光紅、苔之剝落，又有熱傷陰氣之象。泄熱之中，兼以存陰，尚為可治。今乃望得形枯色滯，聞得氣短言微，問得不納、便溏，脈之切得者，右關弦數而大，至數模糊，左部寸短、關尺細弦，按之俱屬無情，無一而非陰枯陽竭，土受木乘，勢欲悠悠忽忽而脫。偏補陰陽皆有所礙，惟以培補元氣一法，以冀一息之氣，既可助陽，亦可生陰耳。</p>
<p>生脈散　粉丹皮　左牡蠣　陳香櫞　鮮藿斛　白芍藥　抱茯神　伏龍肝　藕汁</p>
<p>次診：腫脹一症，大忌氣喘、便溏，上下交徵，以使氣血陰陽立盡而脫，深可慮也。進前方，溏泄已止，氣喘已平。腎本肺標，自有相生之兆，病屬轉機，是以色之滯者能開，形之枯者得潤，本實之撥，固然因補而挽回，而枝葉之害，亦因清而兼化。化則口舌之干、咽喉之燥、咳嗽之作，無一不因而愈，所愈者過半矣，可稱佳事。無如大腸之瀉雖減，不意未食之前不知飢餓，既食以後又多飽脹，蓋以「陽明中土，萬物所歸」，而陽明胃府，更有食積痰滯，交結於中，無怪短脈雖長，弦數未罷，且兼滑大，午後微熱，鼻色微紅，陽縮雖伸，囊腫亦消，四肢之浮腫不能盡退，且右臑肩背久偏為患者竟不能消，尚屬病根未除之候。虛則補之，熱則清之，積之一字，惟有磨蕩而已。一方而三法備焉，未知其能弋獲否？</p>
<p>生脈散　左牡蠣　陳香櫞　伏龍肝　鮮藿斛　粉丹皮　炙雞金　鮮藕汁　白芍藥　福澤瀉　抱茯神　雪羹飲子</p>
<p>二劑後去藕汁，四劑後去藿斛。另用陳香櫞、人中白等分為末，每服錢半，用人參三分、砂仁一分煎服。</p>
<p>（案16）頭為空谷，氣本內清，耳為聽官，聲由外納。茲乃是望得舌苔黃濁，聞得氣急喘促，問得心神恍惚、脅背脹逆，診得左脈細長、右關弦數，數則為熱，弦則為濕，細為陰分之細，長為壽命之長，長命者元陽必旺，陰分自虛。偏以濕蒸熱鬱，竊踞陽明，陽明之脈盛於頭面，頭面諸經暗被濕熱上熏，何怪乎昏昏不爽於頭裡、嘈嘈反起於耳中？而心神之所、肝脅之部、肺氣之息，凡在中上二焦者，莫不深受其累焉！補陰以配其陽，化濕兼清其熱，在所必需。</p>
<p>大熟地　白茯苓　石決明　炙甘草　竹茹　明天麻　黨參　於潛術　丹參　女貞子　棗仁　半夏　歸身　黃菊　白茄子　江枳殼　陳皮</p>
<p>上藥各為末，白蜜十四兩和丸，每服五錢。</p>
<p>（案17）古語云：癢為美疾。夫疾以美名，似非近理，而不知一癢之下，濕熱交蒸者無不發之於外，都從黃水而出，則軀殼之內，從此清且和矣，不亦快哉！然際此黃水成瘡之候，搔癢難當，可無具以應之乎？（外症）　</p>
<p>煨石膏（十兩）　掃盆（四錢）　青黛（一兩）　</p>
<p>共為細末，摻之。如水少者，用煎熟菜油塗之。</p>
<p>（案18）驚者必恐，煩亦歸勞，勞則氣陷，恐則氣下。氣之正者，既從下陷，則胃家水穀之氣，亦未有不隨之而下陷，此作瀉之所由來也。扶助正氣，以使有升無降，舍大補脾腎而何？</p>
<p>黨參　綿黃耆　於潛術　粉丹皮　大熟地　山萸肉　懷山藥　陳皮　肉桂　升麻　歸身　福澤瀉　川附子　柴胡　白茯苓　炙甘草</p>
<p>上藥以清水煎成膏，用補骨脂二兩、吳茱萸一兩、五味子一兩、肉果二兩，四味為末，糊丸如桐子大，每服四錢。</p>
<p>（案19）肝者，將軍之官，謀慮出焉；膽者，中正之官，決斷出焉。二者失其所出之常，鬱結不解，以致右脅下痛。蓋肝脈布脅，膽附於肝，一臟一府，表裡同病耳。然所病之痛又因下積而除，顯系肝膽兩經雖因本病，而實濕熱久傷附和其間所致。後來溫補燥烈，既傷營血，又滯濁痰，氣分日窒，右降不及，無怪乎右脅之下窒礙不通，舌上生苔，大便燥結，吐痰反少，面黃色帶滯，脈象弦澀，增出一番清濁混淆見症也。據述下積之後，精神稍爽，似欲以通為補之象，未知是否？</p>
<p>旋覆花　霞天曲　柏子仁　橘絡　新絳緯　歸鬚　萆薢　刺蝟皮　飴糖　青蔥</p>
<p>先服沉香化氣丸五分，另用水紅花子一合，炒熱，包灸。</p>
<p>次診：脈之澀象稍和，弦則未改。積下之後，脅部稍能活動，想是痰血兩邪尚有盤踞之意，而未解散也。</p>
<p>旋覆花湯加　飴糖　霞天曲　歸鬚　刺蝟皮　橘絡　瓦楞子　炙雞金</p>
<p>丸方：六君子湯　乾薑　瓦楞子　黃連九肋鱉甲　川樸　炙雞金　當歸　水紅花子　飴糖　薺菜花　牡蠣　竹瀝達痰丸　白芍　陳粳米（一合，淘淨，用巴豆四十九粒拌炒，仍去巴豆）　神麯漿糊丸。</p>
<p>（案20）據述五更泄瀉，迭進溫通而罔效，病亦奇矣。診得左關脈弦，弦主乎濕，亦主乎肝，右關一部，內主乎脾。脾為土，肝為木，木乘土位，濕自不消，不消則脾為濕所浸淫，為重滯，為中宮痞，為少納多痰。脾氣被濕所累，既不散津上歸於肺，口舌常干，而但運濕下入於腸，大便自泄。病在肝脾而不在腎明矣！擬治中，連理輩，佐以縮脾法，俾得土中瀉木，以使兩和。</p>
<p>黨參　炙甘草　青皮　葛根　於術　炮姜　陳皮　草果　茯苓　川連　扁豆　砂仁</p>
<p>（案21）濕邪下注為濁，濕流回節為痛。「濕熱不攘，大筋軟短……軟短為拘……」，據此三條而論，顯系脾經積濕下注旁流，不能盡化，鬱而為熱，傷及於筋。夫筋，肝所主也，宜養、宜滋。而脾經之濕熱仍未清楚，不得不以清化之品兼施之。然病已日久，恐非旦夕所能取效也。</p>
<p>熟地　防風　川芎　炙草　黨參　茯苓　秦艽　桑枝　虎骨　歸身　木瓜　於術　白芍　苡仁　另服川烏粥百日</p>
<p>（案22）舌上之有苔無苔，全憑中氣立與不立。夫中氣所立之苔，白而且潤。茲乃黃而帶黑，又兼乾象，干屬無津，黃則為土，黑則為火，火土合病，而不合德，邪熱熏蒸也。邪熱既蒸陽明，無怪乎陰不上承，以昭津液暗傷。若不以「實則瀉之」之法治之，吾恐心陽更旺。</p>
<p>瀉黃散</p>
<p>（案23）久痢未有不傷腎，腎虛則氣不歸元，呼多吸少，喘自作焉。納氣歸元最為要著。然龍雷之火亦已隨氣上逆，口乾、鼻燥、咽痛、脈衝，反見有餘之象，引火歸元更不可少。此亦不過因病治病，竭力以圖之計，鞭長莫及，未免致嘆於崇朝。</p>
<p>水泛金匱腎氣丸一兩，炒炭煎服。</p>
<p>（案24）陽結於上，陰結於下，而為噎嗝者，腎家之陽不能蒸騰於上，肺經之降不能沾濡於下。古人於嗝症一門，重補肝腎，良有以也。</p>
<p>熟地　旋覆花　茯苓　新會皮　麥冬　代赭石　歸身　炙甘草　乾薑　半夏　烏藥　竹瀝　附片</p>
<p>（案25）知柏之性，本屬迅掃蕩揚，據云服之者多而且久，以致濁陰用事，真陽上越，煩躁眩暈，尺脈微細，小便不舉。幸得大溫大補之劑，尚可支持。為今之計，舍此溫補，別無苟安之法。病發時少腹作痛，際此冬至之時，身中之一陽未必即生。急以來復法生陽於下，佐以真武湯坐鎮北方，俾得陰陽不散，最為第一要著。</p>
<p>川附子　白芍　於術　茯苓　生薑　煎送來復丹</p>
<p>（案26）脾脈絡舌本，又主四末。脾經素有之痰，為寒所遏，上行舌本則不言，下注四末則痛痹，內阻心胞則形神呆鈍，外阻陽氣則四肢冷清。現在脈象小滑，寒痰正盛，必得溫通經絡，以使痰消寒化乃妥。</p>
<p>蘇合香丸（一粒）　用竹瀝五錢、薑汁一匙，隔滾水燉溫溶服。</p>
<p>（案27）鼻衄上流，白濁下注，脈象弦數。中宮之濕火分頭而病也。</p>
<p>豬肚丸（五兩）　每服三錢，茅根湯送下。</p>
<p>（案28）寒熱之下，下痢、胸痞，脈促、氣短。此即太陽之邪不傳陽明之經，即入陽明之府也。</p>
<p>葛根芩連湯</p>
<p>（案29）「濕熱不攘，大筋軟短，小筋弛長。」此間雖非軟短，亦已弛長，惟其弛長，無怪乎痿而少用。然痿因濕熱，脾虛不化也，往往治在脾經，而不知最虛之處便是容邪之處。下焦見症，實系腎氣內虧。欲治其痿，必先化濕與熱；欲化濕熱，必先補脾及腎。脾腎一旺，濕熱自減，不獨下焦欲痿可以漸入佳境，即中上二焦之小恙亦可向安。難以「痿症已成，獨取陽明」之例為治也。清燥湯加減之。</p>
<p>人參　冬朮　茯苓　炙草　麥冬　首烏加川連、黃柏、五味子、澤瀉、神麯、廣皮、生薑、紅棗，減黃耆、升麻、當歸、地黃、豬苓、柴胡</p>
<p>（案30）水流濕，火就燥，濕不與燥為鄰，燥偏逼濕為火，火勢炎上，則水之潤下失常，無怪乎求救於外水。渴而能消，消則仍渴，轉輾不已也。前進許氏法，僅能小效，制大其方，正在此時。</p>
<p>大生地　黃耆　石膏　麥冬　大竹葉　歸身　半夏　炙草　黨參　白芍</p>
<p>（案31）痎瘧皆生於陰。陰者，太陰、少陰、厥陰也，名之曰陰，必得陽以對待，不言而喻矣。此乃陰風寒濕又來襲入其間，出而與陽爭，入而與陰爭，寒熱往來，輕重不一。苟非扶助陽氣以逐陰邪，則三陰之界何從打退病魔乎？</p>
<p>柴胡　茅朮　半夏　茯苓　青皮　草果　炙草　鹿角尖　川樸　淡芩</p>
<p>（案32）北方黑色，入通於腎，開竅於二陰，藏質於腰間。欲通大便精竅，先開腰間苦痛。脈來尺細關弦，腎家之虛也，不言而喻矣。</p>
<p>河車大造丸加青鹽、甘草</p>
<p>（案33）夢遺泄精，勤而又久，近更舉念即泄。腎失封藏之職，心失神明之主矣。急秘其元。</p>
<p>龍骨（一兩）　大訶子皮（五隻）　砂仁（五錢）　硃砂（五錢）　</p>
<p>上藥為末，用糯米粥糊丸，如桐子大，另用硃砂為衣。朝服二粒，鹽湯送下，晚服三粒，冷水送下。</p>
<p>（案34）肺氣通於鼻，肺和則鼻能知臭香矣。茲乃反是，肺之不和也無疑，然肺脈固澀，而脾胃兩脈何得亦然？加之白苔滿布，想是中焦濕土先病，累及肺金。欲清肺金，必先崇土化濕，以絕病根，若在枝葉上求治無益也。</p>
<p>潞黨參　野於術　廣藿梗　縮砂仁　半夏　陳皮　苡仁　炙草　辛夷　桑皮</p>
<p>（案35）病中咳嗽，病後浮腫。浮腫屬脾，咳嗽入肺，肺金風邪、脾土水濕互相搏結，變而為風水證也。氣息喘促於上，二便失調於下，病勢危篤，能不慮其厥塞而脫乎？勉擬開鬼門、潔淨府兩法，以冀表裡皆通為幸。</p>
<p>麻黃湯　五苓散（用肉桂）　</p>
<p>（案36）迭進補納，自云諸恙向安，偶因動氣，又云諸恙復作。然所患之病，仍不外咳、喘兩字，並無節外生枝見證，病亦奇矣哉！而不知所患咳喘，下虛氣不歸元之痰也，前所補納，臟氣未充，一以怒則氣上，再以思則氣結，既結於中，又上於肺，則健運失其常，清肅失其職，而痰飲之邪能免咳喘乎？補納方中，佐以降氣，俾得兩全為要。</p>
<p>熟地　於術　杏仁　牛膝　歸身　陳皮　蘇子　桂枝　黨參　紫石英　半夏　沉香　炙草　胡桃肉　茯苓</p>
<p>（案37）病起下焦，後艮於背。夫背為陽，艮為山，設使背陽充足，何至重若艮山？惟督脈內空，不能統領諸陽，敷布於背，以致脾經之濕痰，下隨腎家之夾背而上，上而不致於眼突，即艮其背，有似山之重焉。背重於上，囊腫於下，上下各病其病，而實一以貫之。古語云：「生病之處，即陽氣不到之處」，此等症是也。下氣通陽，最為入手要著。</p>
<p>川椒　茯苓　半夏　炙草　川附　陳皮</p>
<p>（案38）語言艱澀，口角流涎，肢麻氣短，脈息沉弦。此係內風習習，感召外風，以成類中也。七日內小心驟變，先理風痰，隨後大補。</p>
<p>茯苓　半夏　烏藥　陳皮　蠍梢　南星　制蠶　甘草</p>
<p>（案39）四肢屬脾，脾主濕。濕毒內勝，走入脾經，右手背腕先痛後腫者，氣傷形也，名曰「手氣」。</p>
<p>茯苓　半夏　片薑黃　歸身　茅朮　枳殼　風化硝　赤芍</p>
<p>（案40）三焦浮游之火，行走不定。</p>
<p>黑山梔（煎服）　</p>
<p>復診：進奇方，火衰大半，藥對病矣。然舌紅無津，左脈弦數，水不足，火有餘，不言可喻。瀉南補北法主之。</p>
<p>細生地　歸身　黑梔　胡黃連　川連　白芍　石決明　阿膠</p>
<p>（案41）痢疾古稱「滯下」，滯下者，暑邪積滯，下走腸間也。幸得大黃盪滌，未成重候。然遷延不已，已經一月有餘，脈形弦細，肢體無力，溺色清，利色紅門，中脘不舒，舌苔濕白，想是脾腎兩經之陽氣暗傷，所有餘邪不能化淨也。理中者理中焦，此症已及下焦，不獨補脾，尤宜補腎，蓋久痢未有不傷腎耳。</p>
<p>附子理中湯　治中湯　加地、防風</p>
<p>（案42）脈象浮弦，弦則為痰，浮則為風，風邪因外而成，痰飲自內而起，內外合邪，咳嗽並作。安內攘外，似屬一定章程，然所言弦脈固在，而浮之一字，見於左者甚微，見於右者獨著，想是風之所感本輕，痰之所上實重，其在脈論云：「浮弦痰飲」，此之謂也。如是則治痰之品宜重於驅風不言而喻。</p>
<p>蘇子降氣湯去桂　瀉白散　赤苓　枇杷葉</p>
<p>（案43）「諸風掉眩，皆屬於肝；諸禁鼓慄，如喪神守，皆屬於心。」既讀《內經》，即識此病，一怒則掉、一笑則鼓之病，病在心肝也。但肥人多濕，濕易生痰。調養心肝之外，必須兼化濕痰，未知是否？</p>
<p>生地　枳實　半夏　石決明　於術　竹茹　陳皮　炙甘草</p>
<p>朝服天王補心丹三錢。</p>
<p>（案44）脈見兩弦，非痰即敗。今所嘔者，幸有痰涎，尚非敗症，然久吐不已，究恐成敗，斷不敢以痰涎上泛小恙目之。惟治痰飲者，多用溫法，而此間肝陰不足，其火本旺，舌紅且縐，用藥最難，況酒客中濕熱又勝，剛柔相濟之品難矣！擬連理湯合戊己法加減。</p>
<p>於術　川附　半夏　陳皮　黨參　乾薑　茯苓　炙草　川連　白芍</p>
<p>另用生薑、飴糖、鹽、炙草煎湯代水。</p>
<p>（案45）無陰則陽無以化，所以大劑清涼，而病勢依然不改也。</p>
<p>玉女煎加犀角、丹皮、鮮斛、金斛、南花粉、地（用生）　</p>
<p>次診：進「少陰不足、陽明有餘」法，身熱漸緩，大便亦通，豈非「寒之不寒，責在無水」之一驗乎？然病雖衰，而陰虧留熱尚不能平，脈數、溺疼、苔黃、口燥、自汗、神疲，多所反復時也，豈容渺視？仍宜昨法守之。</p>
<p>照前方，用中生地，加蔗汁</p>
<p>（案46）風寒濕三氣雜至，合而為痹。本宜溫藥和之，無如痹日經久，三氣之邪亦已鬱熱，正在「經熱則疼，絡熱則痹」之時，又與風寒濕初起見症甚不相同，所以脈象弦數、口舌乾膩、小溲帶黃繼之於後也。擬蠲痹法加減。</p>
<p>黃耆　赤芍　薑黃　桑枝　當歸　羌活　黑梔　竹瀝　白蒺藜　蘆根</p>
<p>（案47）陰虛生內熱。有所勞倦，形氣衰少，穀氣不盛，上焦不行，下脘不通，則胃氣熱，熱氣熏蒸胸中，故內熱。就此《內經》而論，未有不補陰者也，然脾為使，胃為市，脾虛易泄之體不能為胃行其津液，亦易暗生其熱。所以脾胃一論，始自東垣，以補《內經》之不逮。由此觀之，似與清燥湯方為合作。</p>
<p>清燥湯</p>
<p>（案48）痢之一症，未有不在乎暑。暑邪先伏腸間，外因涼氣一束，其毒下注。則痢疾傷於血者，其色必紅；傷於氣者，其色必白，白也，紅也，總不外乎暑毒之所留也。然暑毒之外，每有飲食之積附和其中，所以痢之為名，古稱「滯下」。今痢已十有七日，積之下者不少，暑之解者已多，不然紅何以能轉為白，痛何以亦得大減？所慮內留之邪，尚隨脾氣下陷，苟非脾氣上升，則下痢漫無止期矣。擬東垣補中益氣湯加減。</p>
<p>補中益氣湯去耆，加六一散、川連、乾薑、神麯。</p>
<p>（案49）陡然失血之下，氣升則頭痛、目紅，氣降則陽舉、夢遺，身之肥瘦亦隨氣換形，加以筋惕肉瞤，指甲色變，肢體或痿，脈息弦細。此係肝經伏熱襲入腎經，水中火發，雖非真火，亦可畏也。法當清熱，佐以潛陽，即仿乙癸同源例治之。</p>
<p>熟地　萸肉　龜板　青鹽　山藥　丹皮　杜仲　茯苓　牡蠣　澤瀉　川椒　龍膽草</p>
<p>（案50）上吐下疝，肝胃兩經宿疾也。立冬腹脹，因硬而起，延及於中，二便失調，此即臟寒生滿症也。良以一陽未至，寒物內傷，陽虛更虛，病情更劇。下焦陽氣既因艾灸而醒，何不進而求之，俾得一陽來復，濁氣潛消，庶幾有望。</p>
<p>來復丹（錢半）　清米飲送下。</p>
<p>次診：大溫之下，腹滿不減，減不足言。陽氣極虧，即欲來復。</p>
<p>來復丹（二錢）　</p>
<p>三診：一陽來復，滿者已減其半，豈非美事？然美中不足，三陽未泰，尚覺其痞。痞者，否也，否而不泰之謂也。</p>
<p>來復丹（三兩）　十服。</p>
<p>（案51）病分氣血，不病於血，即病於氣，然亦有氣血同病者，未必各有所分也。即如此病，胃脘當心而痛，起於受餓之餘，得食則緩，此非氣分病乎？然獨氣分為痛，既然得食則緩，宜乎即刻向安，而此痛能雖得食而緩，而午前則劇，黃昏尤甚，屬在陽中之陰、陰中之陰之候，其為血病無疑，況但頭汗出，便下色紫，脈形弦澀而數，更屬血分之見症，但此血又非氣虛不能攝血之血，乃酒熱所瘀者。瘀者宜消，氣虛宜補，消補兼施，庶幾各得其所。</p>
<p>治中湯　失笑散</p>
<p>另用元明粉、紅曲為末和勻，每服二錢，痛時下。</p>
<p>（案52）失血後咳嗽不已，痰涎不少，甚至寒熱分爭，左部細軟，右寸關部數大不寧，飲食少納，納則胸脘不利。此係伏熱傷胃，延及肺金，金受熱傷，變為肺痿，肺既痿矣，水絕生源，則肝腎兩經即使不虛者而亦虛矣。然虛則補之，本來一定章程，無如肺胃兩經之伏熱尚屬不少，暗劫津液，若非清養肺胃，以去病根，而徒補肝腎無益也。若論所吐痰涎本從熱化，而不知胃家有熱，所進飲食不能化為氣血，亦易釀成痰飲，上泛於肺，肺又失其清肅之權，不能通調水道；下輸膀胱，則肺自旋受而旋吐也。吐已多而且久，最慮氣喘，喘則腎本肺標上下皆損，恐歸虛脫。如此看來，一清一養之下，稍能應手方幸。</p>
<p>紫菀　海浮石　秦艽　雲茯苓　杏仁　薏苡仁　鱉甲　蘆根　冬瓜子　絲瓜絡　蛤殼　炙草　姜渣</p>
<p>（案53）陰枯於下，陽結於上，陽明素有之瘀血濁痰亦阻膈間，以致飲食之下，為噎為噫，經年不愈，其病更劇，所以胸中窒塞，尚吐白沫，脈象細澀，左關帶弦，又兼食後作脹，大便堅結，勢欲成臌。臌之用藥最難，必須循循漸進，以冀弋獲。然噎是神思間病，尤要內觀靜養，俾得懷抱放開，庶幾有得。</p>
<p>當歸　乾薑　檳榔　黨參　白芍　薤白　瓦楞子　半夏　蘆根　白蜜</p>
<p>次診：進前法，胸中之窒塞稍和，白沫上泛亦緩，顯繫上焦陽氣暫得溫通之品，結者能開。然雖暫用，尚未生生不息，加之陰血仍枯，是以飲食之下，不惟為噫為噯，且兼脹逆不舒，大便堅結，脈象細澀，左關帶弦，病情正劇時也。悅耳目、娛情志，當在藥先也。</p>
<p>當歸　乾薑　瓦楞　茯苓　首烏　炙草　烏藥　檳榔　黨參　薤白　川附　半夏　沉香　白芍　陳皮　白蜜　蘆根</p>
<p>（案54）傷寒有「或已發熱，或未發熱」之條，以昭寒傷營也。此間之寒深入營分，營分雖熱而衛分仍不能熱，所以膚熱、鼻血、苔黑、口乾，甚至舌強言謇，其熱已畏，加以左關獨弦，余者皆小，兩足厥冷，但欲昏寐，胸前痞悶，味甜溺頻，手振，痰血，呃忒連嚏。濕邪、食滯、氣結三者既助為虐，又因少陰之陰氣不充，自顧不暇，不能化托諸邪，其病更劇。曲運神思，聊擬一方，以冀應手方妥。</p>
<p>黑山梔　人參　川連　橘紅　淡豆豉　貝母　玉竹　蔥頭　藕汁</p>
<p>次診：足之厥冷、膚之寒象轉熱，脈息之小者，又能轉大，且數且弦，寒鬱之熱頗有開泄之機。然其所開所泄，獨在大筋小絡，而肺之臟、胃之腑皆不能通，氣分、陰分仍屬無力以托其邪，無怪口乾苔黑，舌強難言，牙關不開，鼻衄嚏出，胸悶氣粗，呼吸有聲，神情不振，且兼無慧，昏昏默默而睡，其熱尚在險途。搜索枯腸，以盡醫力。</p>
<p>黃連　天花粉　桑皮　知母　黃芩　淡豆豉　杏仁　大生地　黃柏　黑山梔　川貝　鮮竹瀝　枇杷葉　炒楂炭</p>
<p>（案55）舌為心之苗，苗本於心，心為君火，其舌宜溫。茲何反是？左寸脈沉而緩，舌色淡白，據云口唇早已先寒，然後及之於舌。因陽明胃脈環於唇口，唇口之先寒，陽明胃府久被寒痰所阻，累及於心，良以胃土之生，生於心火，子病及母，勢所必然。</p>
<p>苓桂朮甘湯　二陳湯　益智　遠志　開口川椒</p>
<p>（案56）舌乃心苗，心血內虧，其舌少榮。無怪乎口質覺辣，甚於煩勞之下。</p>
<p>天王補心丹</p>
<p>（案57）天之熱氣下，地之濕氣上，人在氣交之中，無隙可避，感而受者，名之曰暑。暑之為氣，有濕有熱，不問可知。其為病患也，或瘧或病，不一而足，所謂「使天只有三時而無夏，則令人之病也必稀」，正為此等證而嘆也，姑置勿論。此間寒熱往來，少陽受暑也，少陽見症也。爾時所受之暑，出入於膽經，乘勢提之，近似有理，而不知其在氣分者，已從出時而達，在血分者，反從入時而陷。所以瘧疾之後，舌苔之黃色依然不改，小溲之渾濁亦未清化，甚至嘈煩易飢，飲食無味，精神萎頓，不能復元。如此情形，已為累事，不意風從外束，邪自內蒸，變為發熱不休，獨在陽明之經，反不若少陽成瘧，尚有歇時也。然瘧已轉病，一候不解，舌質頗紅，幹不多飲，頭脹且蒙，胸悶不開，背後獨疼，噁心唇燥，其勢不輕，加之音爍不揚，四肢無力，豈非陽明血熱無路可出，上熏於肺，肺熱葉焦，則生痿蹙耶？病勢有增無減，精神曾奪者遇之，竊恐不勝其任，而有昏厥喘塞之虞。此乃余之過慮，非有意駭人也。《經》云：「治痿獨取陽明」。即宗此旨，出一枇杷葉散法加減，應無不合。</p>
<p>枇杷葉　洋參　川貝　鬱金　川厚朴　羚羊角　知母　橘絡　鮮茅根　丹皮　地骨皮</p>
<p>次診：進前方，音之不揚者已揚，肢之無力者有力，所稱「肺熱葉焦，則生痿躄」之狀可以免矣！得之於心，應之於手，在醫者本宜如此。第身熱之象夜重日輕，首還如裹，背尚獨疼，二便失調於下，口苦不和於上，噁心痞悶於中，三焦正病，暑氣日多，所以脈形弦細，不見緩和，用藥最難著手。然河間論暑，每以三焦為訓，觀其三焦之邪，孰輕孰重，則藥即隨之而進退。因思此間上下兩焦見症輕於中焦，中焦痞悶噁心一減，則上下之見症亦可輕鬆。痞悶於內，噁心於外，最為現在所苦，急宜和解。當以瀉心湯法，參入枇杷葉散方中，以作「結者開之」之計。如能取效，庶免風波。</p>
<p>羚羊角　川貝　藿香　淡芩　川連　枇杷葉　茅根　乾薑　洋參　川樸　青蒿　半曲　生熟穀芽煎湯代水。</p>
<p>三診：所言三焦見症：旨如裹，背之疼，口舌之不和，二便之不調，以及胃脘之噁心噦逆，無一而非隨藥向安，豈非美事？然美中不足，獨有身上之熱、胸中之痞依然不改。因思痞者，否也，否而不泰之謂也。無形之熱，有形之濕，結而不開，變而為痿。苟非陽氣得轉，清濁混淆，痞無虛日，熱無退時。久病如此，能不慮起風波乎？就脈數芤細而論，邪留一半，正已大虛。虛則補之，邪則化之，酌於二者之間，出一半夏瀉心湯，專開其痞。痞若得開，熱亦可退，否則徒退其熱而亦不能退也。</p>
<p>半夏瀉心湯去人參，加薤白</p>
<p>（案58）營行脈中，衛行脈外。脈為血脈，血脈盛則營衛流行，血脈衰則營衛不通，不通則痛。痛之為日已久，病必在絡，不獨氣之為患可知。然則通其絡、破其氣，以使營衛漸和，不致有窒礙之痹，豈非快事？而不知五臟內虧，氣血不充，陰陽之道路久已難宣，急急補之，還恐精神不旺，氣滯血凝而痛，焉能受得攻方？夫營即衛，血即氣，二者肺所主也，其用在右之脅部，痛則肺之治節不出，相傅無權。必得培土生金，補火生土，則真火上騰，肺氣自旺，旺則燥金當令，金自不病矣。</p>
<p>附子理中湯加良薑、香附、須歸、白芍</p>
<p>另用旋覆花、青蔥、新絳、瓦楞子，煎湯代水。</p>
<p>次診：火土合德，肺金自旺，右脅部痛所以向安也。夫肺為五臟華蓋，其用在右，隔一隔二，以補其體，以使其用，體用兼全，痛固不作。但秋刑官也，肅殺令行，宜旺而不宜衰，宜通而不宜塞。肺若不虛，一交秋令，痛因除矣，何反秋深而更痛耶？細察病情，起於血後，大補肺金，右脅便痛，顯系肺絡之中，必有一點瘀血阻其清肅，所以當旺不旺，當通而反不通，疼無止期。不獨壯年時，形寒飲冷傷肺而已。仍宜培補，佐以宣通，以使肺金日旺，瘀積消磨為要。</p>
<p>原方加九香蟲、陳皮、延胡索、薤白</p>
<p>三診：脅部不疼，背脊生脹，兩腿作酸，無一而非三陰之略也。三陰之陰氣內旺，陽氣必衰，衰則濁陰用事，為脹為酸，以昭火土不能合德。氣息自短，脈形軟弱，嗽痰少寐，濁陰之氣已加陽位，無怪乎中下兩焦自病矣！若非溫通陽氣，竊恐白露橫江，舊病復發。</p>
<p>附子理中湯　歸身　白芍　橘紅　薤白　九香蟲　金毛狗脊　五加皮</p>
<p>四診：溫通後痛已不作，諸恙大愈。藥之力耶，魔之退耶，姑置勿論。脈為血脈，五至為平，六至為數，三至為遲。診得脈來四至，既不為數，亦難為遲，即以平脈斷之，似未妥貼，何也？蓋以未至太息，不見五至者，亦屬遲脈。遲則為寒，又屬陽虛，若不以陽和之品，日進一日，猶恐真火難生，濁陰竊發。</p>
<p>附子理中湯加歸身、河車、五加皮、金毛狗脊、九香蟲、白芍、鹿角霜、陳皮</p>
<p>仍取肝著湯，瓦楞煎湯代水。</p>
<p>五診：脈已五至，氣血之平也可知。平則營衛調和，陰陽和協，以免「亢則為害」之機，且有「承則乃制」之力焉。然皆藥力之偏見長也，而不知久而久之，藥力又增氣。氣宜少，不宜壯，「壯火食氣，少火生氣」耳。</p>
<p>干河車　野於術　廣陳皮　九香蟲　大茴香　全當歸　東白芍　菟絲餅　潞黨參　厚杜仲　炙甘草　鹿角霜　真麋茸</p>
<p>肝著湯，瓦楞子煎湯代水。</p>
<p>六診：風邪從陽而親上，上之為言肺也。肺為五臟華蓋，燥風往往先傷，咳逆不爽，所謂「秋燥傷於肺，上逆為咳」是也。然觀其咳之狀，薄痰外出，咳則少安，竟有嗽意。嗽則屬脾，咳則屬肺。咳而兼嗽，肺風引動脾濕不言而喻。</p>
<p>桂枝　於術　前胡　桔梗　杏仁　炙草　蘇子　茯苓　金沸草　桑白皮</p>
<p>七診：風痰咳嗽已愈大半，脅脘之舊痛復發，加以背脹腿痠。背為陽，腿為陰，舊部尚病，何況乎陰前？此肝胃兩經未有不同患難也。究其由來，濁陰用事，陽氣不宣。溫養一法，宜繼於辛散之後。</p>
<p>雲茯苓　野於術　金沸草　鹿角霜　川桂枝　炙甘草　杭麥冬　宣木瓜　當歸身　金毛狗脊</p>
<p>肝著湯，瓦楞子煎湯代水。</p>
<p>十診：營衛者，陰陽之道路也。營為陰，衛為陽，衛之為言護衛也，全在陽氣之護衛。茲乃陽氣久虛，護衛失職，涼風暴感，外從皮毛漸入於衛，以致形寒，脈緊，苔白，背腿仍舊脹痠，脘脅苦痛亦不肯罷。急須解表，以使涼風外達，不使郁久發熱為要。</p>
<p>桂枝　川樸　砂仁　炙草　杏仁　歸身　白芍　橘紅　瓦楞子　蔥白頭</p>
<p>十一診：營行脈中，衛行脈外。既得桂枝湯，一調營衛，則脈之中外自得和諧，病有向安之處矣。然時病時安，還在正氣之盛衰無定。所以新感之涼風，久積之陰寒，未能一時化盡，推其原究，屬陽氣內虧，不敷布使然耳。</p>
<p>桂枝　黃耆　當歸　白芍　杏仁　茯苓　陳皮　防風　炙草　十姜　瓦楞子</p>
<p>十二診：鼻為肺竅，肺寒則鼻流清涕，肺熱則鼻流濁涕。茲乃清涕轉濁，肺之所感風寒已經化熱，表邪解矣，不過尚有餘邪留落於鼻間而已，姑置勿論。就胸痛攻作，作於霜降始寒，寒則氣凝，凝則陽氣鬱，鬱則營衛不通，不通則痛，良有以也。因思秋分一節，大劑溫通，其痛本愈，何不復之？</p>
<p>鹿角霜　奎白芍　廣陳皮　雲茯苓　淨當歸　炙甘草　淡乾薑</p>
<p>肝著湯，瓦楞煎湯代水。</p>
<p>十三診：天降繁霜，歸之燥政，金令大行矣。行則肝木受戕，氣從內郁，血亦內凝，凝滯則疼，郁開則緩。所以痛無定所，總不外乎肝之部分隨意之開闔而盛衰也。現在手足心熱，不比舊時苦冷，想是真陽暫通，肝氣下郁。《經》云「木鬱達之」，逍遙一法，未始不可權行。</p>
<p>逍遙散</p>
<p>另取白芥子、水紅花子、蔥白、麩皮四味炒熱熨之。</p>
<p>十四診：逍遙之下，脅之疼暫止一夜，今又移入下脅，且及中脘，連及背脹。顯系肝鬱暫開，而其濁陰之氣歸併中宮，中宮之陽氣前不能通，後不能運，所以脈反弦也。斬關直入，開通陽氣，驅逐濁陰，非雄烈之品不足以有為。</p>
<p>川附子　九香蟲　白芍藥　當歸　潞黨參　炙甘草　淡乾薑　於術　廣陳皮</p>
<p>另用獺肝五分，開水磨服。</p>
<p>（案59）人身一小天地。「大塊噫氣，其名為風」；人身噯氣，亦即是風。風行於地，噫由於胃，胃即是地，⿸疒緩即是胃。胃土之病，總不外乎肝木所乘，腎氣上逆，所謂雷風相搏者，其在斯乎。法當鎮之。</p>
<p>旋覆代赭湯　四磨飲去枳　左金丸　生薑　大棗</p>
<p>（案60）濕之見於下者，熱濕也。熱濕交蒸，邪從大便而泄，似屬美事，而不知身中元氣即於泄瀉而傷，傷則所蒸之邪又從內踞，大腹脹滿，足跗浮腫，小溲短赤，飲食減少，精神困倦，脈象芤數，口舌乾燥，病勢有加無已，每易喘脫。進以桂苓甘露飲。</p>
<p>（案61）望得色萎肉削，聞得氣怯言微，問得右乳腫痛，切得脈數弦急。就此四者而論，是脫營之症也，是脫將成之兆也。夫脫營之候載在《內經》，有其論，實未定其所。毓仁先生僅以耳之前後定其結腫，幸得張氏駁之，以為膺乳等部隨處可生，所謂「始如痰核，久則漸大如石」是也。初起不腫不疼，似屬平安無事，惟潰則血水一流，即不可問矣。然腫痛之象，其質已熱，其色已紅，頗有內潰之情。當此飲食減少，神情困倦，腰脊苦疼，口舌乾燥，寤寐失常，少腹下墜，氣火上炎，氣血大虧，肝脾更病，竊恐不勝其任矣。本宜益氣養營湯法，惟嫌膩滯不靈，姑以十味溫膽湯加減。</p>
<p>細生地　龍齒粉　人參　酸棗仁　綿黃耆　竹茹　貝母　石決明　抱茯神　霍斛　陳皮</p>
<p>次診：進前法，寤言已寐，眼亦有神，即結腫之處，紅色減而熱象緩，有病隨藥轉之機，豈不美哉？但脈之急者雖除，而弦數之象依然。弦主肝，又主痰；數主腫，又主火。痰火交煽，肝鬱內結，所以堅硬如石，有似乳岩、乳癖，而實不同者，還未能開，加之食少、腰疼、口燥、言微、腹墜，種種虛象，不一而足，正在「營既內傷，瘕復外形」之候。攻補兩難，尚須養化以和之也。如能日漸向安，然後可以正方，庶乎近理。</p>
<p>中生地　酸棗仁　鮮蘆根　青竹茹　黃耆　龍齒　人參　茯神　霍斛　川貝　歸身　陳皮　石決明</p>
<p>（案62）病經旬日，惡寒身熱而起，本多頭痛，現尚體疼，紅疹難發，未能透達，少汗多煩，牙關緊閉，舌強難言，苔色灰白，唇乾齒燥，胸悶脘痞，小便常轉矢氣，曾經厥逆，至今氣塞，診得脈象皆數，右寸關部弦而且滑。此係燥風外感，引動伏暑，已經化熱，且兼痰食中結，互相為患也。結而不開，往往津液暗傷，變為實在痙厥矣。速以涼膈法，清其無形之邪火，導其有質之痰食，以使三焦通利為要。</p>
<p>涼膈散　川鬱金</p>
<p>（案63）胃為多血之鄉，和則降，逆則升。有升無降，熱氣載血上行，吐而不止，其色帶紫，且有濁痰夾雜其中。宜治胃也無疑。但虛寒之體，過服熱藥而來者，不能純用清法，宗吐血不止例治之。</p>
<p>側柏葉　馬通汁　阿膠　炙甘草　炮薑炭　大生地　黃連　降香汁　黃耆　歸身炭　黃芩　白綿紙灰　米仁一兩代水。</p>
<p>次診：進仲景法，紫血已除，熱渴自減。無如痰中帶血，胃必不和，究其血色已淡，責在乎虛，虛則脾失所統，肝失所藏，血從上脫。火熱氣升，尚須前法損益。</p>
<p>原方去淡芩，加雞子黃、淮小麥</p>
<p>（案64）肺為姣臟，不耐邪侵，一傷於悲哀，二傷於發散，從此相傅無權，清肅失職。木寡於畏，怒則為哮，毛竅常開，寒則亦發。當發之時，肺經本貯之痰、脾經所生之痰無不上歸於竅，呀呷有聲，臥難著枕，如是數數矣。現在不發之時，脈靜而細弦。元陽不足，非補不可，非溫亦不可。</p>
<p>紫菀　熟地　半夏　歸身　銀杏　黃耆　陳皮　桑皮　黨參　雲苓　白朮　炙草　五味　防風</p>
<p>（案65）中虛濕熱，生痰生飲，為咳為嗽，甚至為喘。喘出於肺，關於腎。水失金之生養，如此日虛一日，而所患之濕熱鬱蒸於內，化熱傷陰，溺黃、口乾、味苦、苔白、脘痞、頭昏、耳閉、小有寒熱等症繼之於後，更覺無力以消，所以右脈雖空，其形弦大且數，左部雖沉，反見弦急不靜。從肺腎立法，本屬堂堂正正，無如濕熱反蒸何？</p>
<p>甘露飲（去草）　水泛資生丸　取炒香花生肉煎湯代水。</p>
<p>次診：寒熱一除，精神有半日之爽，未幾復蹈前轍。是濕邪尚盛，熱又蒸濕，蒙其清竅。將前方加其補者，重其清降。</p>
<p>生地　川斛　半夏　茵陳　洋參　桑皮　枳殼　竹瀝　麥冬　蘇子　通草　枇杷葉</p>
<p>（案66）咳嗽於前，風也；痛痹於後，濕也。風濕一病於外，伏暑內動於中，以致寒熱如瘧，八日不退。診得右脈弦中帶數，左部雖數，偏見濡象。數之一脈，誠屬暑氣所形；而弦且濡者，又屬風少濕多。因思汗出已多，而暑之不能速化者，原被濕氣所遏，難以因風而達。然則面色黃滯，舌苔滿白，小溲短赤，從未發渴，豈非「熱處濕中」之謂乎？若欲暑邪透達，非先化去其濕則不能也。然遲之又久，往往暑不外達，反從內走，增出一番險症，不可不防。蓋以邪無中立，不出則進耳。</p>
<p>茅朮　丹皮　乾薑　滑石　厚朴　桑葉　炙草　陳皮　草果　杏仁　赤苓</p>
<p>次診：面之滯色已開，濕邪亦暗化之機矣。是以右脈弦象稍和，左之濡象略弦。脈之轉移，病之化動，自然相應，惟數象仍然，寒熱稍輕，舌苔漸薄，小便覺長，明系暑風尚留、濕還內勝無他。暑必夾濕，濕去則暑亦自消，若非此理，古人之「消暑在消濕」何以言之？宗消暑法，參入苓朮湯中，以使再減。然體質素虛，不得以一甘一寒之法佐之。</p>
<p>醋炒半夏　茅朮　桑葉　滑石　草果　藿香　杏仁　橘紅　淡乾薑　川樸　赤苓　甘草</p>
<p>三診：濕從溫燥而減，病情已緩。然濕為黏滯之邪，最難驟愈，無怪乎暑氣還郁，小有寒熱，似瘧而作，舌苔雖薄，口尚不濁，面色雖開，其色未亮，加以小溲不利，肢體不松，脈弦帶滯，所謂「脾為濕所浸淫而重滯」其在斯乎？轉以縮脾飲，佐以五苓散。</p>
<p>醋炒半夏　茅朮　砂仁　赤苓　草果仁　桂枝木　扁豆　豬苓　澤瀉　口根</p>
<p>四診：濕雖去大半，諸恙輕減，所嫌但熱不寒，一日兩度，有似癉瘧，而並不煩渴作嘔，脈弦帶數。無他，暑濕之邪尚留於脾，兼涉少陽，是以白苔之外，咽乾帶苦，每見於清晨也。古語云「舍助陽，別無驅濕之法」，又云「治濕不利小便，非其治也」。宗此兩條，而出一清脾飲，仍佐五苓散，以使脾陽漸運，邪從小便而出，不再入於少陽，恰合現在病機。</p>
<p>清脾飲用芎、術　五苓散</p>
<p>五診：白苔化為黃色，濕邪退矣，暑猶在也。暑之所在，布於三焦，脈來濡數，今日知干，小便未利，胸次時痞，發熱兩度。正須透達之時，法宜提化。但苔有剝處，陰被暑傷，際此秋氣平分，雖難滋補，亦不可不顧其陰。</p>
<p>青蒿　甘草（炙）　黃芩　米仁　丹皮　茯苓　橘紅　穀芽　滑石　澤瀉　萆薢</p>
<p>六診：診得脈數。數者，熱也。內由暑邪所化，暑必夾濕，起於傷風，是以午後發熱，夜半而衰；尚有如瘧之狀，中土之邪客涉少陽，近來之口苦咽乾實出於此；至於疹塊外發，風之餘氣亦屬透達。所嫌大便溏熱，腹中隱痛，腸間不無暑滯；舌苔剝落，陰分已虧。當此虛中留實之時，治宜扶正化邪，而出一小柴胡湯加減。</p>
<p>柴胡　青皮　黃芩　防風　半夏　花粉　甘草　茯苓</p>
<p>七診：大汗之下，身熱竟退，暑邪解矣。解則餘邪未盡，陰氣必傷，自然午後微熱，尚如瘧狀，舌苔之剝落、小便之渾濁、飲食之少進未嘗不為此也。脈來濡中帶數，正宜清養兼施。</p>
<p>洋參　茯苓　地骨　炙草　白芍　川斛　丹皮　陳皮　荷葉　粳米</p>
<p>八診：病日經久，暑必化燥，秋分以後，天時亦燥，身中一水不能勝此兩燥，陰分更虧。此舌苔剝落，身體如灼，熱之所以未和也。法當養陰佐以泄熱。</p>
<p>細生地　丹皮　湖藕　川斛　洋參　白芍　天冬　地骨皮　麥仁　茵陳</p>
<p>九診：燥已化，陰亦生，病經向愈。所嫌小溲渾濁，陰頭髮癢，飲食少運，酸水曾溢。想是脾胃內虧，下陷之濕熱尚未盡淨。主以和養，兼理餘邪。</p>
<p>冬朮　廣皮　茯神　烏藥　洋參　萆薢　半夏曲　益智　食鹽</p>
<p>（案67）先生之病，素體濕熱，又挾陰虛之症也。濕者何？地之生也；熱者何？天之氣也，濕熱生焉。地天交泰，絪縕生焉，生生不見之機，妙合於其間，稟而受者，濕熱元氣混合一家，出自先天，牢不可破，較諸外感、內傷之濕熱，屬在後天者一掃而盡，豈可同日而語哉？設使薄滋味、遠房幃，不過生瘡動血，幼年所患之症而已；惟從事膏粱，更多嗜欲，外增濕熱，內耗陰精，則臟腑營衛常有春夏之情，而無秋冬之氣，無怪乎亥年之風火相煽，耳苦於鳴，豈非萬物盛上而躍之一驗乎？當斯時也，靜以養之，則臍冷、齒痛以下見症之外，猶可相安於無事，何如火上添油，喜功生事，陡然頭昏目赤，一派炎炎之勢，甚至火極如水，陽不成其陽，勢不成其勢，肝經之火、督脈之陽亦從而犯上，失其本來之面目矣。近聞引火歸原，以為甘溫能除大熱，嗟乎！未聞道也。甘溫能除大熱者，良以下極陰寒，真陽上越，引其火歸其源，則坎離交媾，太極自安。若夫陰虛濕熱蒸動而上者，投以清滋尚難相持，斷不可以火傷火，明犯「一誤不可再誤」之戒。然清已有法，滋亦頻投，飲食能增，身軀能胖，外有餘矣。而色色不能久立、久坐，則病機中「陰陽不定，未有主也」之條。際此外盛中空、下虛上實，用藥實難，常見東垣之清燥湯、丹溪之虎潛丸潤燥合宜，剛柔相濟，張氏每贊此兩方始克有賴，何樂而不即用之耶？無如藥力之所以載行者，胃氣也。胃屬陽明，陽明中土，萬物所歸。濕熱竊踞，亦久已熏蒸，傳為吐血、鼻塞、噫氣、二便失調，正見「九竅不和，都屬胃病」。欲安內藏，必先清其外府，又為第一要著。至於秋末冬初病甚者，十月坤卦純陰，天已靜矣，而濕熱反為之動；腎欲藏矣，而濕熱仍為之露，致邪失政，能不令其更進一層乎？附方謹覆。</p>
<p>青鹽（四兩）　海蜇（二斤）　橘葉（五錢）　十大功勞葉（一斤）　甘草（八兩）　萆薢（一兩）　霞天曲（兩半）　荸薺（一斤）　飴糖（八兩）　刺蝟皮（兩半）　</p>
<p>共為末，竹瀝糊，水泛為丸。每服三錢，清晨開水下，完時，合虎潛丸全料同服。</p>
<p>（案68）承示病原，陽分比陰分更虧，顯有明徵。陰虧而用十全養營等法，責重乎陰，寓以陽藥。本屬和平之劑，良以秋分在即，燥氣加臨，不敢責重乎陽，以燥就燥，反增燥病焉耳。然於膏方下云「日後可加附桂，斟酌用之」一語，早已言之，非不見到也。蓋天地之氣，半月一更；人身之氣，亦半月一更。八月而至九月，氣已兩更，病勢不解，飲食反減，明明陰得膏滋而無病，陽得膏滋而更衰。一月之間，陰陽偏勝；一膏之內，功過相抵。可嘆補偏救弊，因時制宜，應接不暇也。所言廿七、廿九兩日，霜降始寒，寒氣外侵，痰飲內動，動見青黃綠水，尚屬陽明胃府，至於黑色，已自胃底而來，腎虛水泛、脾虛積飲可見一斑。然神氣困頓，面色青浮，脈氣雙弦，以昭陽氣不充、痰飲內聚宜矣。而反忽然牙齒浮疼，加以口舌酸甘，呃忒於胃，沖逆於脅，變出一番火氣者，肝火也，肝氣也。氣火之橫逆，不外腎虛無以涵木，木旺順乘脾土，此等「氣不足即是寒」之根蒂，反見「氣有餘便是火」之情狀，所謂本寒標熱是也。夫惟本寒標熱，豈非陽氣較之陰氣更進一層耶？此時論治，離照當空，始可陰霾四散，宗「風虛則熾，痰寒則壅」之訓，而出一星附散法，以助脾陽，俾虛風寒痰不相互結，非獨分解病情，而且土旺用事，更合機宜。如一立冬，又不可以純陽無陰之品施於久病陰血本虧之體。冬月宜藏之令，即以此方分兩三分之，一日進一服，參入前定膏滋方。口中只須五錢，清晨服下，傍晚再服水泛《金匱》腎氣丸錢半，淡鹽湯下，以占冬至陽生，弗藥有喜。至於黑錫丹、控涎丹，本來同式，因病處方，隨機應變，相時而動可也。須候尊處高明權之。</p>
<p>（案69）人年四十，陰氣自衰，從古至今，未嘗不若是也。尊軀之所獨患者，正在濕痰素多，陽事早痿耳。嘗閱醫書：夜臥臂在被外者，每易招寒而痛；露臂枕兒者，亦易受寒而痛。此間之痛，雖非二者可比，而其起痛之因，本在常臥竹榻。竹榻之性，寒涼也，日日臥之，則寒涼之氣未有不襲筋骨，所以陽氣不宣，屈伸不利，痛無虛日，喜熱惡寒。仲景云「一臂不舉，此為痹」，載在「中風門」中，雖非真中，卻是類中之機，豈容忽視？現在治法首重補陽，兼養陰血，寓之以驅寒，加之以化痰，再取經絡通之，則一方制度，自不失君臣佐使焉！</p>
<p>川附　橘紅　白芍　風化硝　當歸　熟地　羌活　海桐皮　薑黃　茯苓　桂枝　於術　沉香　阿膠　枳殼　半夏　黃耆　虎掌　黨參　炙草</p>
<p>上藥為末，用竹瀝一茶碗、薑汁二調羹，入淡蜜水泛丸。</p>
<p>（案70）松江朱逢辰次診：左升太過，右降不及，何經之病？左屬肝，右屬肺，肺肝同病，自然升降失常。然肺為五臟華蓋，肝脈布於兩脅，此左升僅屬於肝，右降僅屬於肺，何也？概肝體在旁，肺體在上，只就位置而言；若論其作用，《內經》又曰「肝居人左，肺居人右」，右之不降，肺正失其清肅之用也；左之過升，肝反多所橫逆之用也。橫逆之邪加於清肅之所，木寡於畏，反侮於金，無怪乎身半以左之氣旋之於右，既不能透徹於上，亦不能歸縮於下，有如邪正相爭，盤旋脅部，直至得後與氣，則快然如衰者，木究不能上克於金，而仍下泄於土也。夫土曰稼穡，作甘者也；木曰曲直，作酸者也。口甘帶酸，痰吐亦然，何莫非土受木乘之過，土亦太劇矣哉！誰能柔之？惟有左金一方，以為剋木之制，則木正其體，金正其用，何患升降之不得其常耶？</p>
<p>左金丸</p>
<p>覆朱逢辰書：接讀手示，荷蒙錦念，謝謝！所論氣火益熾等症，而古人云「氣有餘便是火」，氣從左邊起者，肝火也，左金丸主之，當歸龍薈丸亦主之。今既以左金一丸，如水投石，自宜以當歸龍薈丸繼之於後，未嘗不可為法。惟我先生有「為癰為血，不可預防」一語，出自高明，定有灼見。弟始而駭然，繼且茫然，幾不知筆從何處著矣！吾先生如飢如渴，以望一方，惟速為貴。而弟刻無暇晷，夜以繼日，有者求之，無者求之，必得一左之右之、無不宜之之法，然後可以覆書，非敢緩也，蓋有待也。端日下問者，少徒輩聚在一室講論，百問皆生於氣，遂有「九氣不同」之說。氣本一也，因所觸而為九。夫怒與思，為九氣中之二焉。「思則氣結」，《內經》自為註腳云：「思則心有所存，神有所歸，正氣留而不行，故氣結。」先生有之。至於怒則氣上，甚則嘔血；怒則氣逆筋緩，發於外為癰疽，古人亦載於「氣門」，以昭邪郁必變，久病入絡，非無意也。先生亦有焉。弟即從此領悟曰：怒有形於外者，亦有不形於外者。形於外，暴怒傷陰；不形於外，鬱怒傷肝。惟其鬱也，木則不克暢茂條達，反來橫逆，則氣鬱於中者，勢必火炎於上，金受火刑，有升無降，痰血熱辣。一病於肺，痞滿悶塞；再病於脾，脾肺同病，則胃家之痰食無力以消。膽經之木火從而和之，將來血溢於上，癰腫於經絡，增出一番新風，誠不能不未雨綢繆也。然為癰為血之枝葉，仍不外乎氣鬱為火之根蒂。治病必求其本，因思「氣從左邊起者」條，內有「久病氣結，諸藥不效者，先服沉香化氣丸以開其結」之文，不獨將來之病變可以預防，即現在之氣火升騰亦為合劑，而況右脈弦強，即「土鬱奪之」之法耶？惟沉香化氣丸重劑也，權宜用之而已。元虛久病之體，於病不能不用，而亦不可多用。清晨宜服八分，晚服逍遙、六君輩，調之補之，以為實必顧虛之計。未知是否，請正！</p>
<p>朝服沉香化氣丸；晚服逍遙合六君子湯去半夏、人參，加沙參、川貝。</p>

<h1>何元長醫案</h1>

<h2>一、中風門（九方）</h2>
<p>（案1）右半身不遂，脈來虛軟。元氣不足也。法當溫補。</p>
<p>潞黨參　炙甘草　鹿角霜　半夏　制於術　茯神　枸杞子　歸身　淨棗仁　霞天膏</p>
<p>（案2）陰液虧，內風煽爍，症屬偏枯。法當柔劑養營。</p>
<p>熟地　歸身　川斷　棗仁　杞子　紅花茯神　蓯蓉　柏子霜　細桑枝</p>
<p>（案3）症屬偏枯，內熱，脈數。</p>
<p>黨參　杞子　歸身　龜板　熟地　柏子仁　茯神　川斷　女貞子</p>
<p>（案4）右膝腫痛，筋拘不仁。營虛積濕也。標本兩顧。</p>
<p>生白朮　杞子　杜仲　鹿角霜　赤苓　大熟地　川斷　木瓜　五加皮　油松節</p>
<p>（案5）舌本不利，四末不仁。氣鬱挾痰也。疏氣滌痰法。</p>
<p>黨參　半夏　蘇子　鬱金　蒺藜　茅朮　陳皮　歸身　遠志　桑枝</p>
<p>（案6）右肢偏廢，六脈模糊。陽虛濕痰內阻。</p>
<p>制於術　半夏　杞子　茯苓　絲瓜絡　茅朮　陳皮　歸身　薑黃　鹿角霜　桑枝</p>
<p>（案7）肢麻言塞，脈來無力。陽虛痰滯脈絡。防中。</p>
<p>生白朮　半夏　陳皮　薑黃　桂枝　茯神　遠志　天麻　歸身</p>
<p>（案8）心悸骨痛，筋惕肉瞤。血虛風動也。從三陰培養。</p>
<p>制首烏　歸身　棗仁　川斷　杞子　茯神　柏子仁　牛膝　天麻</p>
<p>（案9）統體麻木，二便堅阻。血虛風動也。治以溫潤。</p>
<p>黨參　杞子　歸身　茯苓　熟地　天麻　牛膝　蓯蓉　柏子仁</p>

<h2>二、肝風門（六方）</h2>
<p>（案1）厥陽化風上冒，頭暈目眩。血虛肝旺也。養血熄風。</p>
<p>制首烏　白芍　女貞　石決明　桑葉　歸身　蒺藜　甘菊　麥冬</p>
<p>（案2）膈脹嘔惡，飲食頓減。肝風犯胃也。診脈象弦大，暫擬苦泄一法。</p>
<p>羚羊角　半夏　陳皮　竹茹　龍膽草　鬱金　茯苓　石決明　知母</p>
<p>（案3）頭暈心悸，六脈不靜。虛風內動也。</p>
<p>大熟地　茯神　麥冬　柏子仁　蒺藜　歸身　棗仁　甘菊　桑葉　石決明</p>
<p>（案4）心嘈不寐，四肢發麻。肝鬱生風也。先宜苦泄。</p>
<p>川連　鬱金　棗仁　川貝　牛膝　首烏　茯神　麥冬　石決明　桑葉　蒺藜</p>
<p>（案5）頭暈多痰，診脈滑大。肝風內煽。理宜柔肝熄風。</p>
<p>羚羊角　橘紅　麥冬　甘菊　半夏　鉤鉤　牛膝　柏子仁　石決明</p>
<p>（案6）心煩不寐，驚悸神呆。肝鬱生風。</p>
<p>川連　半夏　棗仁　龍齒　橘葉　麥冬　茯神　鬱金　柏子仁　竹茹　丹參</p>

<h2>三、虛勞門（十方）</h2>
<p>（案1）失血後，氣喘咳嗆，脈來細數。水弱火旺，延久成怯。</p>
<p>北沙參　川貝　茯神　牡蠣　牛膝　上清膠　橘白　棗仁　女貞　枇杷葉</p>
<p>（案2）朝涼暮熱，氣逆咳嗆。此陰不戀陽，怯象已現。治之不易。</p>
<p>黃耆　沙參　淮山藥　橘白　棗仁　熟地　麥冬　女貞子　茯神　枇杷葉</p>
<p>（案3）咳血久延，至於便溏納減。陰損及陽。姑從中治為急。</p>
<p>黃耆　炙草　北沙參　米仁　淮山藥　於術　茯苓　扁豆　橘白　建蓮</p>
<p>（案4）積勞內傷，咳血，延至氣喘，脈來軟弱。陰損及陽。防其虛脫。</p>
<p>黨參　五味　杞子　橘白　牡蠣　於術　麥冬　茯神　山藥　干河車</p>
<p>（案5）咳血便溏，六脈無力。怯症之漸。當用培土生金。</p>
<p>黨參　阿膠　杞子　山藥　橘白　於術　茯苓　炙草　沙參　紅棗</p>
<p>（案6）失血後，咳嗆便溏，六脈少力。不但陰絡受傷，而且陽分大虧。宜扶陽而生陰。</p>
<p>黨參　菟絲子　棗仁　橘白　米仁　於術　茯神　杞子　山藥　紅棗</p>
<p>（案7）遺精咳血，脈絡空虛，腰背作痛，神色㿠白。怯症之根。當以甘溫補養。</p>
<p>黨參　阿膠　茯神　麥冬　牡蠣　於術　杞子　棗仁　橘白　蓮肉</p>
<p>（案8）咳嗆失音，痰中帶血，無夢遺精，腰背痠痛。陰涸陽浮。當用清上納下一法。</p>
<p>洋參　丹皮　麥冬　人中白　阿膠　沙參　玉竹　枇杷葉　桑葉　生藕　橘白</p>
<p>（案9）咳嗆咽痛，惡風內熱。陰傷及陽，已成怯候。</p>
<p>阿膠　人中白　川貝　沙參　米仁　橘白　生蛤殼　枇杷葉　白花百合</p>
<p>（案10）便溏下血，脾腎兩虛，兼之氣逆自汗，六脈無力。頗有衰脫之險，甚為棘手。</p>
<p>黃耆　白芍　山藥　於術　五味　炙草　菟絲餅　棗仁　紅棗</p>

<h2>四、咳嗽門（二十二方）</h2>
<p>（案1）風溫傷肺，咳嗽多痰。治以辛涼解散。</p>
<p>桑葉　薄荷　半夏　枳殼　象貝　杏仁　橘紅　桔梗　花粉　冬瓜子</p>
<p>（案2）風溫於肺化熱，氣急咳嗆，痰多色黃，脈來右寸浮大。轉用瀉白法。</p>
<p>桑白皮　杏仁　花粉　橘紅　地骨皮　川貝　米仁　冬瓜子　馬兜鈴　枇杷葉</p>
<p>（案3）風溫化燥，咳嗽氣逆，喉癢。仿瀉白意，以清肺金。</p>
<p>桑葉　杏仁　沙參　米仁　地骨皮　川貝　花粉　生草　冬瓜子　枇杷葉</p>
<p>（案4）血溢後，咳嗆不止，咽痛失音，六脈弦數。肺絡傷而津不上承，殊非小恙。</p>
<p>紫菀　麥冬　米仁　阿膠　沙參　人中白　橘白　川貝　雞子白</p>
<p>（案5）七情鬱結，燥火內燃，咳逆咽乾，左脈弦大。治以仲景法。</p>
<p>川連　雞子黃　沙參　人中白　阿膠　麥冬　石決明　橘白　知母　枇杷葉</p>
<p>（案6）久咳不已，畏風，脈數。腠理疏，津液虧。固表育陰。</p>
<p>生黃耆　山藥　麥冬　川貝　阿膠　沙參　知母　橘白　冬桑葉　紅棗</p>
<p>（案7）咳嗆膈痛，脈來弦數。肝熱射肺。防絡傷咯血。</p>
<p>旋覆花　蘇子　鬱金　杏仁　半夏　冬瓜子　桑葉　橘紅　石決明</p>
<p>（案8）久咳不已，咽痛失音。虛火刑金，勢欲成怯。</p>
<p>熟地　沙參　川貝　人中白　杞子　麥冬　橘白　蛤殼　枇杷葉　雞子黃</p>
<p>（案9）嗽久腰痛。水虧火動，須早圖治。</p>
<p>生地　麥冬　女貞　懷牛膝　沙參　龜板　茯神　川貝　橘白　桑葉</p>
<p>（案10）脾氣虛而津不上承。久咳不已，色脈少神。補土生金。</p>
<p>炒白朮　麥冬　米仁　沙參　川貝　茯神　棗仁　山藥　橘白</p>
<p>（案11）久咳形衰，脈來無力。肺腎並虧。仿金水六君法。</p>
<p>熟地　麥冬　茯苓　沙參　龜板　蛤殼　枇杷葉　橘紅　百合</p>
<p>（案12）痰嗽不爽，六脈弦大。肝火刑金，恐絡傷動血。</p>
<p>旋覆花　蘇子　川貝　代赭石　杏仁　鬱金　桑葉　橘紅　牛膝</p>
<p>（案13）久咳不已，嘔逆自汗。陰損及陽，勞怯之基難治。</p>
<p>黃耆　沙參　川貝　橘白　熟地　麥冬　茯神　山藥　牡蠣　枇杷葉</p>
<p>（案14）遠年久咳，色脈少神。肝腎虛，水泛為痰。急宜培補。</p>
<p>黨參　熟地　川貝　橘白　於術　杞子　杏仁　茯神　牡蠣　胡桃肉</p>
<p>（案15）濁飲凝踞，積飲為痰。《金匱》以內飲治腎，外飲治脾。起經有年，太陰、少陰同病。宗仲景法，以溫藥和之。</p>
<p>桂枝　茯苓　生薑　陳皮　白朮　炙草　半夏　金匱腎氣丸</p>
<p>（案16）久嗽欲嘔。病在肺胃，膩補不合。</p>
<p>黨參　半夏　茯神　川貝　於術　橘白　麥冬　米仁　石決明　竹茹</p>
<p>（案17）久嗽咽痛，脈來細數。肝腎陰虧。甚為棘手。</p>
<p>沙參　麥冬　人中白　元武板　熟地　紫菀　橘白　白花百合　枇杷葉　雞子黃</p>
<p>（案18）內熱咳嗆，心煩少寐，病延一載，肉削神衰。操勞過度，水虧火動。法宜清補。</p>
<p>生地　天冬　茯神　牡蠣　熟地　麥冬　棗仁　橘紅　竹茹　枇杷葉</p>
<p>（案19）久嗽脈弱。先後二天均虛。若過投寒涼，必致胃損減食。</p>
<p>炒熟地　杞子　麥冬　炒於術　茯神　橘白　玉竹　山藥　川貝</p>
<p>（案20）久嗽咽乾。肺胃津虧。仿《金匱》麥門冬湯法。</p>
<p>沙參　生草　川貝　橘白　麥冬　米仁　人中白　川斛　桑葉　紅棗</p>
<p>（案21）久咳不已，咽乾作痛。乃肝風熾，肺陰傷也。診六脈弦數，惟恐絡傷動血。仿嘉言清燥法。</p>
<p>桑葉　枇杷葉　川貝　阿膠　麥冬　人中白　石決明　杏仁　鬱金</p>
<p>（案22）久嗽失音，舌紅脈弦。邪郁肺金，外寒內熱所致。仿仲景法。</p>
<p>麻黃　杏仁　桔梗　桑葉　石膏　生草　射干　鬱金　馬兜鈴　枇杷葉　雞子白</p>

<h2>五、吐血門（二十六方）</h2>
<p>（案1）咳痰帶血，六脈洪大。溫邪傷肺，不宜早進補。</p>
<p>桑白皮　丹皮　川貝　橘紅　地骨皮　知母　杏仁　米仁　冬瓜子　茅根</p>
<p>（案2）咳頻震絡，絡傷，痰中帶血，脈來弦大。只宜薄味，以清上焦。</p>
<p>桑葉　沙參　知母　茜草　地骨皮　麥冬　花粉　川貝　鬱金　藕節</p>
<p>（案3）咳逆見紅，脈象弦大。肺胃之火迫血妄行。治以甘寒。</p>
<p>犀角　丹皮　知母　茜草　鮮生地　麥冬　丹參　淮牛膝　生白芍　茅根</p>
<p>（案4）畜血妄行，胸膈作痛，脈弦大。陽絡傷也。此必雜絡之瘀未淨，不宜早投滋膩。暫用通絡一法。</p>
<p>歸鬚　蘇子　丹參　石決明　桃仁　鬱金　茜草　懷牛膝　橘紅　新絳</p>
<p>（案5）咳逆傷絡，失血，胸膈作痛。病久脈虛，刻難取效。</p>
<p>生地　阿膠　沙參　茜草　丹皮　麥冬　橘紅　石決明　牛膝　桑葉</p>
<p>（案6）熱逼陽絡，血溢頗多，脈來數大。適意靜養。</p>
<p>川連　丹皮　茜草　生白芍　阿膠　丹參　石決明　茅根　旱蓮草　牛膝</p>
<p>（案7）上焦鬱熱，咳血多痰，六脈弦緊。治以清潤。</p>
<p>桑葉　地骨皮　杏仁　茜草　紫菀　麥冬　川貝　鬱金　蛤殼　犀角　茅根</p>
<p>（案8）久嗽見紅，脈來細數。肺絡傷也。殊非輕恙。</p>
<p>紫菀　丹皮　沙參　川貝　阿膠　茜草　麥冬　米仁　橘紅　桑葉</p>
<p>（案9）三載血發，火動絡傷也。恐咳嗆日甚，延成怯候。</p>
<p>生地　麥冬　石決明　女貞　沙參　丹參　牛膝　旱蓮　茅根　橘紅</p>
<p>（案10）陰不戀陽，咳血脈數。乃勞怯之見端，切勿輕視。</p>
<p>生地　蘇子　牛膝　女貞　丹皮　橘紅　元武板　石決明　生白芍　桑葉</p>
<p>（案11）內傷失血，血虛則氣喘、脈數。陰不戀陽也。以致下午潮熱，飲食日減。乃下損及中，最難向愈。</p>
<p>黨參　阿膠　茯神　沙參　牡蠣　牛膝　橘白　枇杷葉　棗仁　麥冬</p>
<p>（案12）失血過多，營絡空虛。脅肋跳動，行走喘促。從肝腎引陽下納，希圖寸效。</p>
<p>黨參　阿膠　牡蠣　熟地　白芍　紫石英　胡桃肉　棗仁　牛膝</p>
<p>（案13）氣衝絡傷，失血咳嗆。治以清上納下，勿使延入怯門。</p>
<p>熟地　杞子　棗仁　沙參　阿膠　茯神　麥冬　橘紅　紫石英　枇杷葉</p>
<p>（案14）失血後，咳逆不已，纏綿一載。陰損及陽，怯象已成。</p>
<p>熟地　沙參　丹皮　阿膠　麥冬　橘紅　茯神　山藥　牡蠣</p>
<p>（案15）久嗽見紅，繼以足痿。此由血去陰虧，無以營養筋骨。症屬下盛上虛，非朝夕所能取效。</p>
<p>熟地　歸身　沙參　龜板　杞子　川斷　麥冬　米仁　橘白　枇杷葉</p>
<p>（案16）血症頻發，延至心悸不安，遍體作痛。乃氣不攝血，營絡空虛。勞怯之基，急宜進補。</p>
<p>黨參　棗仁　麥冬　阿膠　白芍　橘白　牛膝　杞子　茯神</p>
<p>又方：去白芍、黨參、橘白、杞子，加熟地、人參、女貞、炙草　另煎併入。</p>
<p>（案17）肝氣久郁，絡傷血溢。</p>
<p>制洋參　石決明　茜草　蘇子　生白芍　丹參　鬱金　牛膝　茯苓　生藕</p>
<p>（案18）大血失後，陰損及陽，以致色脈少神。近乎怯候。宜甘溫納補。</p>
<p>炙黃耆　杞子　棗仁　橘白　大熟地　茯神　山藥　牡蠣　麥冬　紅棗</p>
<p>（案19）失血後，咳逆不已，頻發寒熱。表裡均虛。</p>
<p>生耆　沙參　茯神　熟地　麥冬　橘白　蘇子　杞子　牛膝</p>
<p>（案20）失血後，延至咳嗆，遺泄便溏。二氣交傷，保扶後天。</p>
<p>黨參　沙參　山藥　橘白　於術　麥冬　茯苓　女貞　金櫻子　紅棗皮</p>
<p>（案21）努力絡傷，膈痛咳血。</p>
<p>蘇子　丹參　丹皮　川貝　鬱金　茜草　橘紅　牛膝</p>
<p>（案22）咳嗆失血。肝肺鬱熱為患。法當清理。</p>
<p>羚羊角　丹皮　川貝　桑葉　丹參　橘白　黑山梔　石決明　米仁</p>
<p>（案23）驟然咳血，膈悶頓痛，舉動氣促，脈來洪數。此溫邪震絡也。恐有留瘀未淨，不必急於止澀。</p>
<p>犀角　丹皮　鬱金　石決明　制軍　茜草　蘇子　橘紅　牛膝　生山七（磨沖）　</p>
<p>（案24）身心過勞，絡傷血溢。幸不咳嗆，可保無慮。</p>
<p>熟地　丹皮　茯神　阿膠　丹參　棗仁　遠志　女貞　牛膝</p>
<p>（案25）久嗽失血，畏風頭暈。上實下虛，近乎怯候。</p>
<p>生黃耆　麥冬　川貝　茯神　沙參　阿膠　橘白　女貞　龜板　桑葉</p>

<h2>六、肺痿門（二方）</h2>
<p>（案1）久嗽咽乾，頻吐涎沫。此肺失清肅，不能輸精上布。症屬肺痿，不治。</p>
<p>紫菀　沙參　天竹黃　白及　麥冬　米仁　生草　橘白　白花百合　雞子白</p>
<p>（案2）久嗽失音，喉中哽痛。津液內傷，不司上承，是為肺痿重候。</p>
<p>沙參　川貝　百合　橘白　麥冬　米仁　人中白　冬瓜子　枇杷葉　生草</p>

<h2>七、遺精門（四方）</h2>
<p>（案1）素體陰虛，相火易動，為夢遺精。法當養陰，佐以固下。</p>
<p>大生地　黃柏　丹皮　女貞　元武板　知母　茯神　芡實　金櫻子　白蓮鬚</p>
<p>（案2）心悸遺精，脈虛無力。由陰不戀陽所致。惟清心固腎，俾得水火交合，病當漸減。</p>
<p>熟地　棗仁　麥冬　遠志　杞子　茯神　五味　芡實　金櫻子　桂圓肉　湘蓮</p>
<p>（案3）心腎不交，精滑少寐。</p>
<p>洋參　五味　茯神　麥冬　遠志　柏子仁　蓮鬚　棗仁　牡蠣</p>
<p>（案4）陽不交陰，為夢遺泄。治從心腎。</p>
<p>丸方：大熟地（四兩）　丹皮（三兩）　茯神（二兩）　旱蓮草（二兩）　元生地（四兩）　麥冬（三兩）　女貞（二兩）　白龍骨（三兩）　線膠（三兩）　芡實（二兩）　廣皮（二兩）　</p>
<p>共為末，用金櫻膠二兩和作丸。每早四錢，白湯送下。</p>

<h2>八、淋濁門（八方）</h2>
<p>（案1）便濁脈數，濕熱下注也。法當分利。</p>
<p>萆薢　澤瀉　通草　赤苓　米仁　黃柏　竹茹　草梢　豬苓</p>
<p>（案2）便濁莖痛，心熱移於小腸。仿導赤意。</p>
<p>細生地　木通　赤苓　生山梔　丹皮　草梢　琥珀　澤瀉　淡竹葉</p>
<p>（案3）久濁元虛，脈來無力。法當建中，佐以升清。</p>
<p>制白朮　赤苓　草梢　山藥　萆薢　澤瀉　升麻　米仁</p>
<p>（案4）膀胱絡傷，尿血莖痛。法當祛瘀升清。</p>
<p>制軍　桃仁　萆薢　歸鬚　赤苓　生草梢　黑山梔　牛膝　升麻</p>
<p>（案5）尿血作痛，小腹堅，大便秘，脈來緊大。下焦鬱熱所致。恐有瘀滯。</p>
<p>制軍　桃仁　延胡索　赤苓　歸鬚　瓜蔞皮　生草梢　澤瀉　黑山梔　琥珀末</p>
<p>（案6）血淋莖痛，脈來弦大。濕熱下注。法當分利。</p>
<p>細生地　川柏　赤苓　草梢　丹皮　萆薢　澤瀉　車前　牛膝</p>
<p>（案7）熱入膀胱，尿血莖痛。治以養陰通腑。</p>
<p>細生地　丹皮　阿膠　澤瀉　甘草梢　川連　赤苓　萆薢　血餘炭　琥珀末</p>
<p>（案8）濕熱下注，兼之努力絡傷，腰膂痠痛，尿血莖痛。法當破瘀分利。</p>
<p>制軍　瞿麥　海金沙　赤苓　歸鬚　杜牛膝　草梢　澤瀉　麝香末（七釐）</p>

<h2>九、腫脹門（二十二方）</h2>
<p>（案1）寒濕內阻氣分，統體浮，脈不應指。法當溫解分清。</p>
<p>生茅朮　桂枝　赤苓　木香　川樸　半夏　豬苓　廣皮　車前　椒目　老薑</p>
<p>（案2）泄瀉浮腫，寒濕傷中。仿苓薑朮桂法。</p>
<p>茅朮　乾薑　陳皮　桂枝　赤苓　川樸　澤瀉　半夏　車前</p>
<p>（案3）腹脹痰多，脾虛挾濕也。法當燥土分清。</p>
<p>茅朮　陳皮　蔞皮　赤苓　半夏　蘇子　萊菔子　澤瀉　車前　椒目　煨姜</p>
<p>（案4）寒濕阻遏氣分，乘脾為脹，入肺為咳。先宜開泄。</p>
<p>麻黃　半夏　蘇子　丹皮　陳皮　赤苓　車前　川樸　澤瀉</p>
<p>（案5）中虛濕困，統體浮腫，六脈模糊。法當分利。</p>
<p>茅朮　半夏　赤苓　白朮　陳皮　米仁　車前　川樸　澤瀉</p>
<p>（案6）腹脹食減，四肢不暖。脾腎陽衰。法當溫補。</p>
<p>白朮　附子　茯苓　白芍　肉桂　菟絲子　廣皮　澤瀉　車前　赤小豆</p>
<p>（案7）足脹浮腫，六脈沉微。真火衰而濕濁用事。宜乎通陽分利。</p>
<p>茅朮　附子　赤苓　於術　炮姜　澤瀉　車前　半夏曲　牛膝</p>
<p>（案8）脾陽虛而積飲為脹。法當燥土分利。</p>
<p>生茅朮　半夏　米仁　萊菔子　生白朮　陳皮　赤苓　葶藶子　蘇子　冬瓜子　牛膝</p>
<p>接方：黨參　安桂　茯苓皮　香附　於術　菟絲　益智　牛膝　砂仁　車前</p>
<p>（案9）腹脹脈軟，陽微挾濕。法當分利。</p>
<p>茅朮　茯苓皮　香附　大腹皮　於術　益智仁　車前　海金沙　赤小豆　焦穀芽</p>
<p>（案10）腹膨食減，乃中虛積濕。恐延成單腹脹。</p>
<p>川樸　半夏　澤瀉　木香　陳皮　麥冬　米仁　赤苓　砂仁</p>
<p>（案11）統體浮腫，便溏溺澀。陽微挾濕。法宜溫利。</p>
<p>生茅朮　炮姜　半夏　赤苓　生於術　椒目　陳皮　澤瀉　萆薢　車前</p>
<p>（案12）腹膨泄瀉，六脈模糊。陽虛濕困，恐其中端。</p>
<p>生白朮　半夏　赤苓　木香　川樸　陳皮　澤瀉　白芍　蔻殼　煨姜</p>
<p>（案13）脹久腹膨，木犯土位。此疾根深，刻難取效。</p>
<p>半夏　白芍　瓜蔞皮　陳皮　鬱金　益智仁　米仁　白蔻殼　茯苓</p>
<p>（案14）腹脹食減，木鬱侮土。延久氣虛。宜乎溫補。</p>
<p>制白朮　炮姜　蔻殼　茯苓　白芍　香附　車前　益智　澤瀉</p>
<p>（案15）腹脹氣喘，脈不應指。脾腎陽衰。仿《金匱》腎氣法。</p>
<p>熟地　安桂　牛膝　半夏　於術　附子　車前　陳皮　赤苓　沉香</p>
<p>（案16）上下血溢，腹痛作脹。由絡虛氣滯，殊非輕恙。</p>
<p>制白朮　菟絲　白芍　炮姜　半夏　木香　車前　赤苓　大腹皮</p>
<p>（案17）失血過多，陰傷及陽，腹中膨脹，脈來細數。宗補火生土法，以圖寸效。</p>
<p>黨參　安桂　菟絲子　於術　川附　牛膝　赤苓　益智仁　車前</p>
<p>（案18）此單腹脹也，由中虛積濕所致。</p>
<p>炒白朮　附子　澤瀉　安桂　菟絲　牛膝　白芍　赤苓　車前</p>
<p>（案19）氣虛挾濕，統體浮腫。法當燥土分利。</p>
<p>炒茅朮　半夏　米仁　防己　香附　陳皮　赤苓　澤瀉　木瓜　冬瓜子</p>
<p>（案20）腹鳴作脹，脈來虛軟。脾腎陽衰。法當溫補。</p>
<p>炒黨參　茅朮　半夏　安桂　制於術　益智　陳皮　茯苓　鬱金　紫石英</p>
<p>（案21）溫盛之軀，加以穢邪內滯，胸腹作脹。恐有中滿之患。</p>
<p>藿梗　半夏　大腹皮　車前　蔞皮　陳皮　萊菔子　澤瀉</p>

<h2>十、黃疸門（二方）</h2>
<p>（案1）濕熱外越，肌膚髮黃。法當燥土分利。</p>
<p>生白朮　赤苓　米仁　萆薢　茵陳　澤瀉　黑山梔　山藥　通草　冬瓜子</p>
<p>（案2）遍體發黃，由暑濕鬱蒸所致。</p>
<p>茅朮　半夏　藿香　通草　川樸　陳皮　茵陳　澤瀉　米仁　六一散</p>

<h2>十一、噎膈反胃門（六方）</h2>
<p>（案1）納食格拒，甚則吐涎。木鬱侮土，氣滯痰凝所致。議與苦降辛通，以圖寸效。</p>
<p>川連　半夏　鬱金　白芍　乾薑　陳皮　代赭　杏仁</p>
<p>（案2）脾腎陽衰，納穀不運，脈來沉細。近乎膈候。</p>
<p>黨參　半夏　茯苓　白芍　於術　陳皮　肉桂　益智　代赭粳米</p>
<p>（案3）朝食暮吐，六脈沉弱。中土陽衰，腐谷無權也。法當補土通陽。</p>
<p>黨參　乾薑　陳皮　益智　於術　半夏　茯苓　白芍</p>
<p>（案4）納食哽塞，大便艱難，脈來軟弱無力。積勞內傷，陽結於上，陰衰於下，是為關格之漸。姑擬溫通一法，以圖幸功。</p>
<p>黨參　半夏　白芍　益智　肉桂　陳皮　茯苓　鬱金　蘇子　蓯蓉</p>
<p>（案5）食阻便艱，脈來弦數。操勞陽亢，肺津胃液日漸消耗，是為關格之見端。須身心安逸，病可漸卻，慎勿徒恃藥功。</p>
<p>黨參　川斛　杏仁　橘白　沙參　麥冬　米仁　水梨汁（一小杯）　胡麻仁</p>
<p>（案6）胸膈作痛，納食塞逆。氣鬱傷絡也。惟恐成格。</p>
<p>旋覆花　半夏　益智　代赭石　陳皮　蘇子　鬱金　白芍　茯苓</p>

<h2>十二、痞塊門（八方）</h2>
<p>（案1）中虛挾濕，結痞漸大，脈細模糊。久防滿腹。</p>
<p>茅朮　半夏　澤瀉　炮姜　陳皮　白芍　蔞皮　赤苓　鬱金</p>
<p>（案2）素患痞結，延成腹脹便溏。脾虛挾濕也。不易調治。</p>
<p>茅朮　半夏　赤苓　炮姜　白朮　陳皮　車前　腹皮　澤瀉　冬瓜子</p>
<p>（案3）左脅下結痞作痛，飲食減少，形衰脈弱。此屬木邪侮土，症勢不輕。</p>
<p>歸身　半夏　木香　茯苓　白芍　陳皮　蔻仁　鬱金　川楝子　穀芽</p>
<p>（案4）肋痞脹滿，右脈弦滑。恐有停飲。燥土分消。</p>
<p>茅朮　半夏　澤瀉　川楝子　陳皮　鬱金　蔞皮　赤苓　木香</p>
<p>（案5）宿痞為患，延至腹滿，食減便溏，脈軟無力。脾土陽衰也，殊非輕恙。</p>
<p>黨參　半夏　茯苓　白朮　陳皮　白芍　木香　菟絲子　煨肉果</p>
<p>（案6）痞脹減食，四肢無力。</p>
<p>於術　半夏　茯苓　藿香　川薢　陳皮　白芍　木瓜</p>
<p>（案7）脅痞不和，勞動作痛。脾土衰，肝木旺也。培土抑木為主。</p>
<p>炒於術　白芍　木瓜　歸身　雲苓　木香　炙草　龜板　橘葉</p>
<p>丸方：黨參　歸身　澤瀉　扁豆　於術　雲苓　香附　砂仁　木瓜　橘葉</p>

<h2>十三、嘔吐門（五方）</h2>
<p>（案1）嘔逆膈痛，肝胃不和也。法當通陽。</p>
<p>半夏　乾薑　茯苓　陳皮　吳萸　益智　炙草　白芍　香附</p>
<p>（案2）膈痛吐沫，脈象模糊。中虛積飲。燥土通陽。</p>
<p>茅朮　半夏　乾薑　藿梗　泡吳萸　陳皮　茯苓　炙草　益智仁　砂仁</p>
<p>（案3）寒濕僭踞，嘔逆自汗，六脈不揚。殊非輕恙。擬平胃理中法。</p>
<p>茅朮　川附　陳皮　川樸　乾薑　藿梗　吳萸　半夏　赤苓</p>
<p>（案4）納食嘔吐，脈來細軟。土衰木乘。宗仲景法。</p>
<p>旋覆花　半夏　茯苓　代赭石　陳皮　藿梗　烏梅　乾薑　白芍</p>
<p>（案5）納食則嘔，舌本乾紅。中氣虛，肝火上衝。殊非輕恙。</p>
<p>黨參　半夏　茯苓　藿梗　川斛　陳皮　白芍　穀芽</p>

<h2>十四、噫噯門（三方）</h2>
<p>（案1）吞酸噯氣，木邪侮土也。恐久延成格。</p>
<p>川連　半夏　雲苓　乾薑　陳皮　藿梗　代赭　白芍　炙草</p>
<p>（案2）噫氣吞酸，中虛濁逆。</p>
<p>制白朮　乾薑　陳皮　雲茯苓　益智仁　白芍　代赭石　半夏　旋覆花</p>
<p>（案3）肝膽鬱熱，噯氣吞酸。暫用左金法。</p>
<p>川連　半夏　白芍　陳皮　茯苓　吳萸</p>

<h2>十五、胸痹門（六方）</h2>
<p>（案1）胸次作痛，六脈模糊。濕、熱、痰阻氣，清陽不運也。仿平胃法。</p>
<p>茅朮　半夏　蔞皮　川樸　陳皮　蘇子　杏仁　乾薑　赤苓</p>
<p>（案2）胸悶作痛，短氣脈沉。清陽失展，氣機不利也。宗《金匱》法。</p>
<p>瓜蔞仁　半夏　桂枝　陳皮　薤白　川樸　乾薑　枳殼</p>
<p>（案3）膈痛頻發，色脈少神。絡不通也。防失血。</p>
<p>旋覆花　歸鬚　陳皮　新絳　鬱金　白芍　青蔥管　蘇子　柏子仁</p>
<p>（案4）胸次作痛，痛久入絡。恐有瘀滯，暫用疏通。</p>
<p>歸鬚　蔞皮　陳皮　桃仁　鬱金　延胡索　瓦楞子　蘇子　川楝子</p>
<p>（案5）憂悶不舒，生陽日窒，胸痹嘔逆。恐延成格。</p>
<p>旋覆花　乾薑　鬱金　代赭石　益智仁　白芍　半夏　陳皮　蔞皮</p>
<p>（案6）此胸痹候也，由痰、氣、食膠結而成。</p>
<p>生白芍　半夏　益智仁　瓜蔞皮　乾薑　陳皮　蔻仁　建曲</p>

<h2>十六、喘哮門（十方）</h2>
<p>（案1）肺虛感寒，喘哮不臥。先宜表散。</p>
<p>麻黃　乾薑　半夏　蘇子　桂枝　杏仁　陳皮　川樸</p>
<p>（案2）三年久喘，土衰無以生金也。膩補不合。</p>
<p>於術　半夏　款冬花　沙參　陳皮　杏仁　牛膝　茯苓　川貝</p>
<p>（案3）喘逆自汗，脈數無力。陰涸陽浮，氣散失納。法當收攝固元。</p>
<p>熟地　杞子　萸肉　茯苓　麥冬　五味子　山藥　橘白　牛膝　胡桃肉</p>
<p>（案4）肺腎久虛，多痰喘逆。仿金水六君　法。</p>
<p>熟地　半夏　茯苓　川貝　於術　陳皮　牡蠣　蘇子　牛膝　胡桃肉</p>
<p>（案5）脈沉氣喘，背冷腰痛。肺腎虛寒。法當溫補。</p>
<p>熟地　杞子　補骨脂　半夏　附子　牛膝　牛膝炭　陳皮　蘇子　胡桃　沉香</p>
<p>（案6）舉動喘促，脈來細。元海根微，氣逆上泛。理當補納。</p>
<p>黨參　山藥　茯苓　青鉛　熟地　川貝　牡蠣　胡桃　杞子　橘白　牛膝</p>
<p>（案7）喘急多痰，右脈弦滑。中氣虛而停飲上逆。法當燥土祛邪。</p>
<p>茅朮　半夏　茯苓　蘇子　白朮　陳皮　牡蠣　杏仁</p>
<p>（案8）氣逆痰喘。陽虛積濕。擬以降氣，滌痰，祛濕。</p>
<p>旋覆花　茅朮　半夏　乾薑　代赭石　川樸　陳皮　赤苓　蘇子　沉香</p>
<p>（案9）氣喘咳逆，脈來少力。可見此火無根。必須補納。</p>
<p>洋參　麥冬　橘白　牛膝　沙參　丹皮　牡蠣　磁石　熟地　茯神</p>
<p>（案10）金水兩虛，易感痰喘，脈來細軟。理當進補。</p>
<p>生黃耆　五味　茯苓　款冬花　於術　杞子　橘紅　胡桃肉　麥冬　牡蠣</p>

<h2>十七、痰門（六方）</h2>
<p>（案1）痰火內擾，心悸不安。治以清熱疏郁，佐以滌痰。</p>
<p>川連　陳皮　棗仁　石菖蒲　鬱金　枳實　麥冬　石決明　半夏　茯苓</p>
<p>（案2）肝火挾痰，肢麻頭暈，左脈弦數。惟恐僕跌。</p>
<p>羚羊角　陳皮　蒺藜　牛膝　石決明　歸身　杏仁　竹茹　半夏　白芍</p>
<p>（案3）胸次作痛，甚則嘔逆。濕痰留滯，上千清道。宗平胃法。</p>
<p>生茅朮　半夏　乾薑　萊菔子　川樸　陳皮　杏仁　赤苓　藿梗</p>
<p>（案4）中虛積濕，濕多生痰，陽氣日衰，四肢厥冷。仿《金匱》苓朮薑桂意。</p>
<p>茅朮　乾薑　陳皮　赤苓　桂枝　川樸　半夏　枳實</p>
<p>（案5）風溫傷肺，肺氣不通。痰唾如膠，脈細弦滑。議與微辛微苦之屬。</p>
<p>金沸草　陳皮　蘇子　冬瓜子　瓜蔞仁　川貝　蛤殼　半夏　杏仁　桑葉</p>
<p>（案6）頭暈不寐，六脈緊數。乃肝火挾痰。防其僕中。</p>
<p>羚羊角　陳皮　麥冬　鬱金　何首烏　棗仁　石決明　蒺藜　半夏　茯神</p>

<h2>十八、痰飲門（五方）</h2>
<p>（案1）膈脹嘔逆，腹中漉漉有聲。此屬肝胃陽衰，痰飲內聚。仲景謂：飲邪當以溫藥和之。議與苓桂朮甘湯。</p>
<p>生茅朮　炙草　半夏　川桂枝　乾薑　陳皮　赤苓　川樸　澤瀉</p>
<p>（案2）腹痛膈脹，甚則嘔逆。乃脾陽失運，飲邪阻氣使然。法當燥土溫中。</p>
<p>茅朮　鬱金　陳皮　桂枝　半夏　赤苓　乾薑　姜皮　藿梗</p>
<p>（案3）痰飲挾氣，木火上逆。膈脹脈弦。膩補不合。</p>
<p>蘇子　半夏　鬱金　瓜蔞皮　陳皮　蒺藜　生米仁　茯苓　山梔</p>
<p>（案4）痰飲上泛，納食艱運，中下兩焦陽微也。脈象沉弱不揚。治以通陽滌飲。</p>
<p>茅朮　益智　蘇子　代赭石　肉桂　半夏　杏仁　雲茯苓　乾薑　陳皮</p>
<p>（案5）久嗽中虛，痰飲內聚，形衰脈弱。症勢非輕。</p>
<p>黨參　川貝　米仁　沙參　麥冬　橘白　於術　茯苓　半夏曲</p>

<h2>十九、瘧疾門（五方）</h2>
<p>（案1）瘧久傷陰。膈脹，煩悶而渴。</p>
<p>青蒿　陳皮　白芍　通草　藿梗　蔞皮　山梔　冬瓜子　赤苓　鬱金</p>
<p>（案2）惡寒內熱，不時自汗。症屬類瘧，培本為是。</p>
<p>生耆　白芍　牡蠣　首烏　川斛　茯苓　川貝　陳皮　鱉甲</p>
<p>（案3）久瘧不已，咳逆盜汗，色脈少神。殊非輕恙。</p>
<p>生耆　麥冬　棗仁　紅棗　首烏　川貝　牡蠣　桑葉　沙參　橘紅　茯神</p>
<p>（案4）瘧發作瀉，脘悶腹痛。此屬暑濕穢濁，內傷氣分。議正氣散法。</p>
<p>藿梗　白芍　赤苓　川樸　半夏　澤瀉　蘇梗　陳皮　省頭草</p>
<p>（案5）暑濕傷氣，寒熱腹痛且脹，脈不條達。太陰瘧也。</p>
<p>藿香　蔞皮　陳皮　澤瀉　川樸　半夏　赤苓　米仁　大豆卷　六一散</p>

<h2>二十、瀉痢門（十四方）</h2>
<p>（案1）久瀉不已，繼之腹脹食減。脾腎陽微也。法當溫補。</p>
<p>制於術　肉果　半夏　茯苓　附子　補骨脂　陳皮　木香　炮姜　白芍</p>
<p>（案2）久瀉不止，色脈少神。脾腎陽虛，殊非輕恙。</p>
<p>黨參　炙草　白芍　廣皮　於術　菟絲　木香　荷蒂　茯苓　炮姜</p>
<p>復診：黨參　炮姜　白芍　於術　肉果　補骨脂　茯苓　五味　炙草</p>
<p>三診：依前方加霞天膏、砂仁末</p>
<p>（案3）過食不能運化，非脹即瀉。胃強脾弱。法當溫補己土。</p>
<p>黨參　山藥　菟絲　煨姜　於術　木香　扁豆　紅棗　茯苓　陳皮　白芍</p>
<p>（案4）暑濕內傷氣分，腹痛紅痢，延為䐜脹減食。中虛邪伏，病勢不輕。</p>
<p>生於術　生芍　陳皮　澤瀉　木香　半夏　赤苓　藿梗　鮮佛手</p>
<p>（案5）濕熱內蒸，腹痛下痢。暫用香連法。</p>
<p>川連　赤苓　生芍　省頭草　木香　藿梗　銀花　六一散　川樸　陳皮</p>
<p>（案6）由瘧轉痢，痢久傷陰。</p>
<p>制於術　歸身　炙草　升麻　熟地炭　茯苓　柴胡　紅棗　白芍　陳皮</p>
<p>（案7）久痢延至腹脹，六脈細軟。陰陽兩傷也。必須溫補。</p>
<p>黨參　炮姜　補骨脂　澤瀉　於術　茯苓　陳皮　車前　附子　白芍</p>
<p>（案8）久痢脈微，命門陽衰也。若不急進溫補，惟恐延成腫脹。</p>
<p>黨參　炮姜　白芍　於術　山藥　五味　茯苓　陳皮　補骨</p>
<p>（案9）久痢，下體畏寒。陰陽二氣交，已屬休息重症。</p>
<p>白朮　木香　茯苓　熟地　鹿角霜　白芍　肉果　杞子　補骨脂</p>
<p>（案10）久痢傷及腎陰。法當固攝下焦為治。</p>
<p>熟地炭　山藥　白芍　禹餘糧　炒於術　五味　阿膠　赤石脂　枸杞　升麻</p>
<p>（案11）瘧後下痢，納食艱運，六脈沉弱無力。此屬命火衰微，必須溫補。</p>
<p>黨參　煨肉果　補骨脂　於術　炮姜　益智　茯苓　白芍　炙草</p>
<p>（案12）濕熱內侵，痛瀉脈數。</p>
<p>茅朮　白芍　廣皮　澤瀉　川連　赤苓　川樸　半夏　藿梗</p>

<h2>二十一、便血門（四方）</h2>
<p>（案1）陰虛內熱，腸紅脈數。</p>
<p>生地炭　地榆　陳皮　血餘炭　丹皮　槐米　炙草　柿餅炭　白芍　茯苓</p>
<p>（案2）便後下血，陰絡傷也。</p>
<p>熟地炭　山藥　陳皮　地榆　焦白朮　白芍　炙草　荷蒂　茯苓　萸肉</p>
<p>（案3）便溏下血，脾腎兩傷。刻難取效。</p>
<p>黨參　木香　茯苓　於術　廣皮　五味　炮姜　炙草　紅棗</p>
<p>（案4）便血過多，脾失健運，神色萎黃。惟恐中滿。茲擬歸脾法，以圖向愈。</p>
<p>制於術　棗仁　菟絲　澤瀉　炒歸身　遠志　川斛　穀芽　茯神　木香</p>

<h2>二十二、痿症門（六方）</h2>
<p>（案1）兩足痠軟，六脈浮數無力。證屬骨痿，由陰虛內熱所致。宗虎潛法。</p>
<p>大熟地　知母　川柏　杜仲　甘杞子　元武板　川斷　陳皮　歸身　虎骨</p>
<p>（案2）此筋痿候也，由厥陰鬱熱所致。診左脈弦數。宜清營熱以舒筋。</p>
<p>羚羊角　歸身　木瓜　川斛　細生地　秦艽　鉤鉤　米仁</p>
<p>（案3）足肢痿蹙，水虧挾濕也。從脾調治。</p>
<p>生白朮　茯苓　木瓜　米仁　鹿角霜　川斷　防己　桑枝　歸身　杜仲</p>
<p>（案4）足痿不用，履走惟艱。肝腎兩損，刻難取效。</p>
<p>大熟地　川斷　蓯蓉　虎脛骨　甘杞子　杜仲　金狗脊　元武板　歸身</p>
<p>（案5）四肢不用，脈沉少力。脾腎虛寒。急宜溫補。</p>
<p>於術　杞子　鹿角霜　川斷　附子　虎脛骨　歸身　杜仲　大熟地</p>
<p>（案6）足膝痿軟，六脈無力。肝腎虛而挾濕也。須標本兩顧。</p>
<p>茅朮　杞子　茯苓　牛膝　歸身　鹿角霜　米仁　木瓜</p>

<h2>二十三、痹症門（七方）</h2>
<p>（案1）四肢痠痛，由風濕襲入經隧也。此屬痹症。</p>
<p>生茅朮　防風　秦艽　赤苓　川桂枝　羌活　歸身　薑黃</p>
<p>（案2）風濕入絡，四肢浮腫，痹之漸也。及早圖治。</p>
<p>茅朮　歸身　木瓜　五加皮　防風　川斷　米仁　細桑枝　赤苓　防己</p>
<p>（案3）陽虛挾濕，兩膝腫痛，六脈弦數。症勢不輕。</p>
<p>首烏　川柏　木瓜　於術　秦艽　防己　萆薢　米仁　赤苓</p>
<p>（案4）風邪入絡，四肢腫痛。此屬痹症，治以宣通。</p>
<p>羚羊角　秦艽　薑黃　防風　桂枝　蒺藜　歸身　木瓜　桑枝</p>
<p>（案5）下體痹痛，脈來細軟。水中無火。法當溫補。</p>
<p>熟地　歸身　川斷　狗脊　麥冬　鹿角　杜仲　蒺藜</p>
<p>（案6）風濕化熱，灼及經絡，遊走脹楚。病名以痹。</p>
<p>桂枝　羌活　蒺藜　石膏　歸身　薑黃　防風　秦艽　威靈仙</p>
<p>（案7）四肢痠痛，間發寒熱。由風入脈絡使然。先宜解散。</p>
<p>桂枝　羌活　歸身　半夏　防風　秦艽　薑黃　蒺藜</p>

<h2>二十四、不寐門（三方）</h2>
<p>（案1）陽不交陰，寤不成寐，飲食日減，脈來弦數。暫用半夏瀉心法。</p>
<p>川連　茯神　石決明　生甘草　麥冬　半夏　遠志　竹茹　棗仁　陳皮</p>
<p>（案2）夜不能寐，時成驚悸。由深思鬱結，陽不戀陰也。治以苦泄，佐用安神。</p>
<p>炒川連　棗仁　半夏　煅龍齒　麥冬　茯神　陳皮　柏子仁　鬱金　菖蒲</p>
<p>（案3）心煩頭暈，寤不成寐。五火內熾也。左脈弦大，治以苦泄。</p>
<p>川連　橘白　白芍　鬱金　龍膽草　杏仁　黑梔　竹茹　半夏　茯神　石決明</p>

<h2>二十五、三消門（一方）</h2>
<p>（案1）陰虧陽亢，嘔惡煩渴。此屬上中消之候。從肺胃主治。</p>
<p>生石膏　丹皮　生草　川斛　麥冬　地骨皮　沙參　知母　白芍　蘆根</p>

<h2>二十六、癇症門（二方）</h2>
<p>（案1）厥頻發，心悸脈數。由肝鬱氣亂使然。先清後補。</p>
<p>羚羊角　半夏　棗仁　鬱金　麥冬　陳皮　蒺藜　茯苓　石決明　菖蒲</p>
<p>（案2）肝膽鬱熱，膈脹神昏，六脈弦緊。惟恐癇厥。</p>
<p>川連　陳皮　黑梔　鬱金　鉤鉤　蒺藜　半夏　石決明　茯神</p>

<h2>二十七、胃脘痛門（八方）</h2>
<p>（案1）脘痛徹背，甚則嘔水。肝邪犯胃。治以辛通。</p>
<p>半夏　乾薑　延胡　蔞皮　陳皮　鬱金　白芍　茯苓也。當此形衰脈弱，必須溫補。</p>
<p>（案2）肝鬱化火犯胃，脘痛內熱。治以苦泄辛通。</p>
<p>川連　炒延胡　半夏　白芍　川楝　鬱金　橘白　石決明　黑梔　橘葉</p>
<p>（案3）胃脘作痛，痛久入絡，近兼咳嗆。惟恐失血。</p>
<p>歸鬚　蘇子　橘紅　延胡索　桃仁　鬱金　川楝　新絳　瓦楞子　石決明</p>
<p>（案4）頻發脘痛，嘔吐涎沫。陽微濁逆也。理宜治以辛溫，俾得陽通濁泄，庶可向安。</p>
<p>半夏　陳皮　炒白芍　蔻仁　乾薑　茯苓　桂枝　益智仁</p>
<p>（案5）胃痛食減，脈來細軟。中陽失運也。治以溫通。</p>
<p>姜半夏　泡吳萸　益智　制白朮　陳皮　良薑　茯苓　蔻仁</p>
<p>（案6）胃脘久痛．飲食減少。陽氣失運</p>
<p>黨參　乾薑　肉桂　於術　雲苓　益智　白芍　鬱金　炙草</p>
<p>（案7）中脘痛脹，頻發不已。必有痰瘀阻滯胃絡。暫用疏通。</p>
<p>瓜蔞仁　半夏　鬱金　白芍　瓦楞子　陳皮　蘇子　延胡</p>
<p>（案8）肝陽逆犯胃絡，中脘作痛。治以苦辛泄降。</p>
<p>川楝子　陳皮　石決明　黑梔　炒延胡　蔞皮　鬱金　青橘葉　半夏　白芍</p>

<h2>二十八、腹痛門（六方）</h2>
<p>（案1）客寒犯胃，腹痛不止。法當治以溫通。</p>
<p>川樸　吳萸　半夏　木香　乾薑　蔞皮　陳皮　蔻仁</p>
<p>（案2）腹脹脈微，陽氣積衰也。法當溫理。</p>
<p>制白朮　泡姜　陳皮　木香　肉桂　益智仁　半夏　炙草</p>
<p>（案3）宿痞侮中，腹痛便瀉，飲食艱運。治以溫通。</p>
<p>茅朮　附子　赤苓　陳皮　白朮　炮姜　腹絨　白芍　木香　砂仁</p>
<p>（案4）胸腹作痛，由絡瘀所阻。治以辛通，通則不痛也。</p>
<p>歸身　瓦楞子　蔞皮　桂枝　桃仁　鬱金　陳皮　新絳　延胡　枳殼</p>
<p>（案5）腹痛畏寒，陽微濕困也。當用平胃合理中法。</p>
<p>生茅朮　炮姜　半夏　桂枝　製附子　川樸　陳皮　赤苓</p>
<p>（案6）下午繞臍腹痛，上逆噯氣。木侮土位也。莫作輕恙。</p>
<p>熟地　附子　半夏　於術　炮姜　陳皮　鬱金　紫石英　白芍</p>

<h2>二十九、腰痛門（四方）</h2>
<p>（案1）內熱腰痛，虛損之漸也。莫作輕視。</p>
<p>制首烏　歸身　川斷　鱉甲　丹皮　金狗脊　山藥　秦艽　銀柴胡</p>
<p>（案2）腰痛脈虛，腎陽不足也。法當溫補。</p>
<p>熟地　潼蒺藜　金狗脊　杞子　川斷　鹿角霜　歸身　杜仲　胡桃肉</p>
<p>（案3）腰背皆痛，少腹結瘕。下焦陽氣不運也。法當溫補，佐以宣通。</p>
<p>熟地　歸身　淡蓯蓉　杞子　川附　金狗脊　於術　小茴香　紫石英</p>
<p>（案4）腰痛目昏，肝腎內虧也。法當養陰。</p>
<p>首烏　丹皮　石決明　料豆衣　杞子　龜板　女貞　蒺藜</p>

<h2>三十、頭痛門（四方）</h2>
<p>（案1）頭汗畏風，不時作痛。乃衛陽虛而營陰損也。表裡兼顧。</p>
<p>生耆　白芍　茯神　首烏　女貞　甘菊　杞子　牡蠣　料豆衣</p>
<p>（案2）氣血俱虧，畏風頭痛。此疾根深，刻難取效。</p>
<p>生耆　白芍　甘菊　牡蠣　熟地　女貞　料豆衣　阿膠　杞子　茯神　歸身</p>
<p>（案3）肝陽化風上冒，頭巔作痛。宜以柔劑養之。</p>
<p>首烏　丹皮　牡蠣　生鱉甲　白芍　甘菊歸身　柏子仁　桑葉</p>
<p>（案4）頭痛膈脹，少陽鬱熱也。治以清疏。</p>
<p>柴胡　赤芍　陳皮　黑梔　鬱金　石決明　連翹　蔞皮　木通</p>

<h2>三十一、眩暈門（七方）</h2>
<p>（案1）頭暈脈滑，內風挾痰也。從肝胃調治。</p>
<p>羚羊角　陳皮　麥冬　天麻　川貝　石決明　半夏　杏仁　鉤鉤</p>
<p>（案2）肝風犯胃，頭暈嘔惡。</p>
<p>半夏　茯苓　黑梔　石決　陳皮　白芍　蒺藜　川斛</p>
<p>（案3）頭暈耳鳴，六脈弦滑。乃肝火挾痰為患。清先補後。</p>
<p>制首烏　陳皮　茯苓　黑山梔　蒺藜　甘菊　半夏　石決明　桑葉</p>
<p>（案4）陰虧陽亢，頭暈耳鳴。</p>
<p>生地　石決明　料豆衣　丹皮　鉤鉤　茯神　白芍　甘菊　桑葉</p>
<p>（案5）肝火挾痰，頭暈嘔惡。上實下虧，惟恐跌僕。</p>
<p>羚羊角　陳皮　天麻　蒺藜　石決明　黑梔　半夏　茯苓　牛膝</p>
<p>（案6）頭暈自汗，六脈細軟。此陽不戀陰也。法宜培補。</p>
<p>於術　茯神　五味　熟地　棗仁　陳皮　杞子　牡蠣　天麻</p>
<p>（案7）煩勞頭暈，六脈細軟。此屬水不涵木，厥陽化風。當從肝腎同治。</p>
<p>熟地　白芍　牡蠣　牛膝　杞子　茯神　元武板　甘菊　歸身　橘白　桑葉</p>

<h2>三十二、耳目門（二方）</h2>
<p>（案1）耳鳴目昏，由鬱熱上蒙清竅。治以辛涼輕劑。</p>
<p>羚羊角　連翹　石決明　山梔　蒺藜　甘菊　薄荷　夏枯草　桑葉</p>
<p>（案2）頭鳴不息，耳竅出水。由少陽鬱火上炎所致。</p>
<p>羚羊角　連翹　石決明　薄荷　山梔　蒺藜　甘菊　夏枯　龍膽草　牛膝　桑葉</p>

<h2>三十三、鼻門（七方）</h2>
<p>（案1）鼻竅不通，並多濁涕。由風熱爍腦而液下滲也。症屬鼻淵，法當辛散。</p>
<p>蒼耳　牛蒡　連翹　辛夷　白芷　（苦）丁茶　薄荷　蔓荊　荷葉邊</p>
<p>（案2）症屬鼻淵，業經數載。此係膽熱移腦，腦熱由清竅越泄也。治以清滋。</p>
<p>青蒿　桑葉　黑梔　鱉甲　丹皮　石決明　生甘草　苦丁茶　夏枯草</p>
<p>（案3）頭暈鼻衄，脈來細數。水虧火動也。治以育陰潛陽。</p>
<p>首烏　生白芍　牛膝　牡蠣　鱉甲　地骨皮　元參　茅根　丹皮　夏枯草</p>
<p>（案4）鼻衄咳嗆，不時頭暈。肺肝熱鬱也。法當清解。</p>
<p>桑葉　知母　麥冬　丹皮　沙參　石決明　杏仁　橘紅　地骨皮</p>
<p>（案5）鼻衄大發，六脈弦數。由陰虛陽亢所致。</p>
<p>元生地　龜板　茯神　炒川柏　丹皮　女貞　知母　炒側柏　元參　牛膝</p>
<p>（案6）膽熱移腦，鼻流穢涕，脈象弦數。治以辛散。</p>
<p>羚羊角　辛夷　丹皮　苦丁茶　龍膽草　甘菊　黑梔　乾荷邊　青蒿　石決明</p>
<p>（案7）陰虛內熱，鼻便紅。</p>
<p>生地炭　鱉甲　血餘炭　炒丹皮　米仁　澤瀉　炒白芍　茯苓　廣皮</p>

<h2>三十四、咽喉門（七方）</h2>
<p>（案1）咽痛失音，咳痰不爽，左脈弦緊。木火刑金也。仿仲景法。</p>
<p>川連　麥冬　川貝　橘紅　阿膠　杏仁　人中白　雞子黃　沙參　枇杷葉</p>
<p>（案2）咽乾失音，氣分燥也，究因津液虧而無以上供。仿喻氏法。</p>
<p>上清膠　枇杷葉　橘白　白花百合　冬桑葉　甜杏仁　北沙參　生雞子白　麥冬　人中白</p>
<p>（案3）咽間哽塞，由肝火挾痰所致。</p>
<p>金沸草　橘白　石決明　杜蘇子　天竺黃　甘草　苦杏仁　桔梗　麥冬</p>
<p>（案4）咽乾微痛，子舌下墜。此屬肝火上炎，殊非輕恙。</p>
<p>黃連　飛青黛　沙參　生草　丹皮　人中白　元參　桑葉　龍膽草　麥冬</p>
<p>（案5）咽生乳蛾，腎陰虧而肝陽熾也。先宜清理。</p>
<p>羚羊角　知母　生草　桔梗　丹皮　元參　青黛　冬桑葉　麥冬</p>
<p>（案6）咽喉痛痹，水不勝火也。滋陰為主。</p>
<p>細生地　麥冬　元參　生草　上阿膠　丹皮　女貞　雞子　沙參　人中白</p>
<p>（案7）此喉癬候也。由腎陰虧而肝陽化風。</p>
<p>川連　牡蠣　飛青黛　元參　阿膠　料豆衣　生草　淮膝炭　人中白</p>

<h2>三十五、便閉門（三方）</h2>
<p>（案1）少腹膨痛，二便不通。由肝腎鬱熱所致。治以苦泄。</p>
<p>制軍　全歸身　小茴香　車前　川連　川楝子　牛膝　小青皮　全瓜蔞</p>
<p>（案2）大便閉結，脈來沉遲。下焦陽氣失運。治以溫潤。</p>
<p>熟地　蓯蓉　紫石英　陳皮　附子　歸身　牛膝　松子肉　杞子　郁李仁</p>
<p>（案3）臟液乾枯，大便燥結。仿東垣通幽意。</p>
<p>元生地　蓯蓉　柏子仁　歸身　升麻　黑芝麻　紅花　郁李仁　紫石英</p>

<h2>三十六、疝氣門（一方）</h2>
<p>（案1）少腹作痛，陰囊脹墜。濕濁下注也。治以溫通。</p>
<p>生茅朮　赤苓　川楝子　川桂枝　萆薢　橘核　廣木香　小茴香　青皮</p>

<h2>三十七、汗門（一方）</h2>
<p>（案1）氣虛表弱，不時自汗。仿玉屏風法。</p>
<p>生黃耆　制於術　棗仁　防風　白芍　茯神</p>

<h2>三十八、女科門（十六方）</h2>
<p>（案1）經阻腹痛。由氣鬱結，血不流行也。治以宜通。</p>
<p>歸鬚　茺蔚子　川楝子　紅花　延胡索　制香附</p>
<p>（案2）身心過勞，月事反旺，血不榮肝，內風煽爍。以致咳逆不已，心神不安。務宜靜養調治。</p>
<p>陳阿膠　麥冬　茯神　生白芍　棗仁　川貝　沙參　陳皮　牡蠣</p>
<p>（案3）經下頗多，心煩口渴，陰虧陽亢也。六脈不靜，治以滋補。</p>
<p>制洋參　丹皮　白芍　上清膠　麥冬　丹參　生地　茯神　烏鰂骨</p>
<p>（案4）經期腹痛，帶下不已。乃中虛挾濕，清不勝濁也。從肝胃調治。</p>
<p>制於術　白芍　香附　烏鰂骨　茯苓　上官桂　艾絨　陳皮　歸身</p>
<p>（案5）肝強脾弱，胸痛作脹，癸水不行，脈來細軟。理宜調氣和血。</p>
<p>制於術　紅花　香附　全當歸　赤芍　艾絨　茯苓　茺蔚子　蘇梗</p>
<p>（案6）經閉腹痛。恐有敗瘀阻絡，防其大下。</p>
<p>全當歸　延胡索　青皮　元紅花　丹參　蘇梗　茺蔚子　紫石英　澤蘭</p>
<p>（案7）陰虛內熱，經漏淋漓。仿仲景復脈法。</p>
<p>黨參　阿膠　白芍　烏鰂骨　生地　麥冬　茯神　沙蒺藜　血餘炭</p>
<p>（案8）產後結瘕，少腹脹痛。此屬肝胃絡虛，非有形所阻。況自汗屢泄，六脈無力，豈可投以攻劑？理宜溫通為要。</p>
<p>黨參　香附　紫石英　肉桂　歸身　艾絨　制川附　小茴　陳皮</p>
<p>（案9）小產後，結瘕腹痛。由營絡虛寒，惡露未淨也。治以溫通化瘀。</p>
<p>全當歸　艾絨　木香　肉桂　靈脂　小茴　茺蔚子　延胡　青皮</p>
<p>（案10）帶下腹痛，脈來細軟。陰虛及陽。法當溫補。</p>
<p>黨參　於術　歸身　白芍　鹿角霜　茯苓　香附　炙草　陳皮</p>
<p>（案11）經漏後，脈絡空虛，以致心悸頭暈，筋骨痠軟，及足跗浮腫。非輕候也。必須進補。</p>
<p>熟地　茯神　杜仲　白朮　歸身　狗脊　棗仁　白芍　香白薇</p>
<p>（案12）產後元虛，咳逆痛瀉，自汗不已，漸成脫象。勉擬方以盡人事。</p>
<p>黃耆　五味　杞子　橘白　於術　茯神　山藥　紅棗　麥冬　棗仁</p>
<p>（案13）月事不調，腰腹作痛。此肝氣鬱而營絡傷也，殊非輕恙。</p>
<p>生地　棗仁　烏鰂骨　沙蒺藜　歸身　茯神　白薇　湘蓮　白芍　香附</p>
<p>（案14）淋帶不止，月事大下。衝任絡傷也，病勢非輕。</p>
<p>熟地　白芍　杜仲　沙蒺藜　於術　制香附　茯神　湘蓮　歸身　烏鰂骨</p>
<p>（案15）類瘧久纏，咳逆咽乾，延至停經，失血後病勢轉甚。此勞怯之基也，殊為棘手重恙。</p>
<p>生黃耆　沙參　茯神　丹皮　阿膠　麥冬　橘白　紫菀　鱉甲　枇杷葉</p>
<p>（案16）中虛肝鬱，腹脹食減，色脈神少。仿逍遙法。</p>
<p>柴胡　白芍　香附　白朮　茯神　陳皮　歸身　鬱金　紫石英</p>

<h2>三十九、時症門（十七方）</h2>
<p>（案1）寒熱頭脹，胸悶咳逆。風溫傷衛也。治以辛涼解散。</p>
<p>荊芥　牛蒡　桔梗　陳皮　前胡　杏仁　枳殼　連翹　防風</p>
<p>（案2）惡寒發熱，頭痛身疼，脘悶無汗，脈來弦緊。乃衛陽疏而風寒外襲。例用辛溫解散。</p>
<p>羌活　川樸　杏仁　生薑　防風　半夏　桔梗　蔥白　蘇葉　陳皮</p>
<p>（案3）風寒傷衛，邪勢方張。治以溫經表散。</p>
<p>蘇葉　川樸　半夏　桔梗　防風　豆豉　陳皮　姜皮　羌活　麥冬　枳殼</p>
<p>（案4）邪傷陽經，形寒身熱，頭痛脘悶，舌白脈緊。先宜汗散。</p>
<p>桂枝尖　蘇梗　半夏　杏仁　防風　川樸　陳皮　姜皮　羌活　茅朮</p>
<p>（案5）春溫發熱，頭脹脘悶，舌布白苔，脈來弦勁。邪勢鬱於氣分，不得從汗化達。擬解肌法。</p>
<p>柴胡　牛蒡　枳殼　葛根　杏仁　桔梗　豆豉　連翹　姜皮</p>
<p>次診：得汗後熱象不減，煩渴少寐，脈數舌乾。伏邪未化，津液先傷。法當清解為要。</p>
<p>葛根　連翹　花粉　蘆根　川連　山梔　枳殼　竹茹　赤苓　知母　鬱金</p>
<p>三診：邪陷劫津，舌紅生刺。最防內閉神昏。急宜清滋。</p>
<p>烏犀尖　元參　花粉　竹茹　鮮生地　連翹　鬱金　茅根　丹皮　知母　石斛</p>
<p>（案6）濕熱傷陰，舌紅脈數。仿玉女煎法。</p>
<p>生地　花粉　白芍　生草　石膏　麥冬　連翹　蘆根　知母　丹皮</p>
<p>（案7）濕邪留戀，汗出不解，陰液有虧。治以清滋。</p>
<p>石斛　知母　生米仁　竹茹　鱉甲　花粉　生白芍　桑葉　丹皮　料豆　陳皮</p>
<p>（案8）溫熱內陷，四肢厥冷，熱深厥亦深也。頃診六脈沉數，譫語神昏，大便三候不解。乃病久元虛，邪歸胃腑，甚為棘手重候。勉擬陶氏黃龍法，以圖幸效。</p>
<p>參鬚　制樸　瓜蔞　制軍　枳實　桔梗　元明粉　歸身　生草</p>
<p>（案9）冬溫乘陰虛而發，身熱不得汗解，脘悶咳逆，舌白脈弦。鬱氣分尚未施張。法當治以辛散。</p>
<p>荊芥穗　牛蒡　連翹　桔梗　葛根　杏仁　枳殼　生薑　豆豉　陳皮</p>
<p>（案10）暑濕傷其氣分，脘悶腹痛，上吐下瀉，四肢厥冷，舌膩脈數。此霍亂候也。例用正氣法。</p>
<p>半夏　蔞皮　藿梗　陳皮　蔻仁　六一散　赤苓　川樸　省頭草</p>
<p>（案11）身熱頭脹，脘悶煩渴。暑邪傷氣。當清上焦。</p>
<p>香薷　六一散　蔻仁　省頭草　藿香　杏仁　連翹　鮮荷葉　大豆卷　赤苓　銀花</p>
<p>（案12）暑風傷肺，發熱汗少，頭脹咳嗆，舌布白苔，脈左弦數。此屬閉暑之候，變幻莫測。姑擬辛解。</p>
<p>香薷　桔梗　藿香　陳皮　荊芥　杏仁　半夏　鮮荷葉　枳殼</p>
<p>（案13）暑風外襲，身熱頭痛，咳嗆。擬辛涼解散。</p>
<p>香薷　薄荷頭　白杏仁　桔梗　杜藿香　桑白皮　連翹　六一散　冬瓜葉　橘紅</p>
<p>（案14）左脈弦數，朝涼暮熱，汗解渴飲。治從少陽。</p>
<p>青蒿　丹皮　斛藿　炙鱉甲　花粉　綠豆衣　桑葉　陳皮　鮮佛手</p>
<p>（案15）瘧來漸晏，邪有入陰之意。脘膈痞結，乃中焦屢受邪迫，正氣已餒。勢防轉重。擬進兩和陰陽。</p>
<p>製半夏　草果仁　花粉　烏梅　黃芩　知母　川樸　薑汁（一匙）</p>
