<header data-type="book">
<h1>龍砂八家醫案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>姜成芝</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1889">公元1889年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521063">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>戚雲門先生方案（字楚三）</h1>
<p><u>長涇程子能</u></p>
<p>少腹沖氣，從左上逆，血即隨氣咳吐，時復喉燥唇紅。此肝陽左升太過，皆回腎陰收攝少權。治宜滋養三陰，壯水制火。但血氣無驟充之理，仍從血脫補氣之法。</p>
<p>人參　茯神　棗仁　熟地　山萸肉　阿膠　芡實　女貞子　白蓮肉</p>
<p><u>青暘沈荊山</u></p>
<p>久咳失血，寒熱似瘧，脈弦細，自汗過多。系營衛兩虛，心肺不足之候。</p>
<p>黃耆　白芍　桂枝　麥冬　紫苑　橘紅　甘草　北沙參　大棗</p>
<p><u>江邑高方錫令郎</u></p>
<p>金水二臟俱虧，不能滋養肝木，木燥生火，自左脅至胸脘，氣逆升騰，上泛欲吐，交秋冬更甚，秋為燥令，不能制木，反助木之燥也。今擬早用保肺和肝，晚服養陰納氣之法。</p>
<p>北沙參　麥冬肉　旋覆花　杜蘇子　沙蒺藜　牡蠣粉　川貝母　廣橘紅　白芍　青鉛</p>
<p>晚服丸方，用六味加牛膝、白芍、磁石、沉香。</p>
<p><u>徽州吳端侯</u></p>
<p>診脈虛滑，右大於左，兩尺空豁，少年陽道不舉，溺濁遺精，寐多汗泄。屬真陰內虧，腎虛不固，未可徒作相火治也。</p>
<p>人參　茯神　棗仁　兔絲子　蓮肉　芡實　五味　枸杞　益智仁</p>
<p><u>夏港夏兩時令郎</u></p>
<p>脈虛數，兩關堅銳，陰虛復多火鬱，治法心腎宜補，肝臟宜疏。</p>
<p>生地　阿膠　丹皮　牡蠣　麥冬　川貝　夏枯草</p>
<p><u>江邑李希賢</u></p>
<p>久嗽失音，漏卮不實，金水二臟損傷，寢食已不安和。滋則礙脾，燥則傷肺，用保和法。</p>
<p>北沙參　茯神　苡仁　干百合　阿膠　款冬花　橘紅　麥冬　枇杷葉</p>
<p><u>大興邢奇功</u></p>
<p>診脈左弦澀右弱，肺主出氣，腎主納氣，咳嗽氣虛，陽不下達，金不制木，木反乘金，致身半以上，先病浮腫，繼以失血。治宜滋肝益腎，納氣歸元，未可徒作相火治也。</p>
<p>生地炭　紫菀　牛膝　鬱金　沉香　麥冬　杏仁　橘紅　桑皮</p>
<p><u>江邑趙玉圃</u></p>
<p>風溫初起，即發譫妄，自汗多臥，不發熱，而大便結。據述脈沉細數促，已經半月，猶以汗下劫奪，焉望向安。今診左脈細亂，右脈斷續，口開目閉，唇板舌焦，不語失溲，頭頂強直，手足拘攣。種種惡象，皆成壞症，立法制方，殊為棘手。至細按胸脅臍下少腹宗筋上，凝滯不和，時復沖逆，此非動氣，亦非燥結。因思六旬高年，津液已枯，素多操持怫鬱，夏秋省墓，強涉高巔，觸山嵐時氣，越數十日而病發，乃陰氣不榮，陽邪鬱伏，少陰少陽，開合不司，樞轉不利，而清濁升降失度，經絡機竅不靈，即《內經》所謂精不能養神，柔不能養筋也。考古法中陽陷入陰，氣血頑鈍，每取味中之氣，濁藥輕投，從陰引陽，開之通之，清之泄之，補以運之，都以督之。冀其流利轉運，關鑰漸通，度可斡旋於萬一。</p>
<p>地黃飲子用羚羊（一錢）　北細辛（三分）　玉竹（三錢）　茯神（三錢）　益元散（三錢）　煎湯代水，人參一錢，另煎衝入，溫服。</p>
<p><u>徽州倪瑞周令郎</u></p>
<p>時感濕溫之氣，陽明蓄熱發黃，非疸症可比也。今脈數無神，便閉已及二旬，腸胃枯燥，府氣不通，心榮肺衛，悉被陽邪劫傷，內不守，外不固，神昏頭汗有之。但延久正氣日潰，邪火固踞，有正邪交脫之虞。</p>
<p>人參　鮮生地　大黃汁　鮮首烏　黑山梔　茵陳　麥冬　瓜蔞　川連　枳實汁　菖蒲汁　滑石</p>
<p><u>茂墅墩陸</u></p>
<p>風溫風證，脈躁神狂，胸腹脹悶，身半以下，痛難轉側。此邪風被火，搏擊營分，致血氣流行失度，妊娠五月，際此危險，難免胎墮之虞。</p>
<p>川連　黃芩　焦梔　犀角　丹皮　甘草</p>
<p>玉竹　鮮生地</p>
<p><u>馬御天令政</u></p>
<p>失汗過經不解，邪熱鬱蒸肺胃，致發頤毒，險症，且以辛涼清解。</p>
<p>連翹　柴胡　牛蒡子　桔梗　元參　赤芍　花粉　馬勃　生甘草　研石羔末（二錢）</p>
<p><u>張維貞子</u></p>
<p>邪陷膻中，心陽散越，矇蔽神明，天君不能主持矣。</p>
<p>天竺黃　貝母　鬱金　竹瀝　海浮石　元參　薑汁</p>
<p><u>姜宇瞻令郎</u></p>
<p>脈左關弦結搏指，兩尺微細欲絕，齒舌喉閉，腹痛吐蛔，皆少陰厥陰見症，其脈俱循喉嚨，而氣至則為齒舌。夫腎藏虛，水無坐鎮之權，斯肉瞤而筋惕矣。此時不以回陽為治，虛虛之禍，將何所底止。</p>
<p>人參　附子　肉桂　白朮　益智仁　白芍　陳皮　乾薑　吳萸　甘草</p>
<p><u>楊庫典程</u></p>
<p>脈數口甜，善食易飢，渴飲便數，多因過啖肥甘，積久釀熱致病，發為脾癉。子和云：消爍萬物，莫甚於火，脾陰虧，邪火亢，腎元五液少司，而背為之痛，脾土主諸陽之本，而肢節為之酸也。議玉女煎合經義辛香盪滌陳氣立法，玉女煎加人參三錢，省頭草八錢，煎湯代水。</p>
<p><u>吳恂若</u></p>
<p>心脈澀，胃脈滑，兩尺微，胸脅煩悶，氣升兀兀，鼓動咽喉，窒塞多痰，嘈雜吞酸，汗多面赤，心陽虛，火上浮，肺燥令其膹郁，清肅不得下行。子和云：氣火炎爍而道路不利，津液日消。擬嘉言清燥湯法。</p>
<p>桑葉　麥冬　阿膠　牡蠣　炒石羔　杏仁　川貝　橘紅　枇杷葉</p>
<p><u>沙友林</u></p>
<p>肝為至陰之臟，故痛發必交陰分，疏肝佐以養陰。</p>
<p>蓯蓉　歸身　白芍　桃仁　金鈴子　延胡　茯苓　廣皮　木香</p>
<p><u>徽州方時和</u></p>
<p>耳鳴重聽，健忘泄精，心腎久屬兩虛，食後胃翻欲吐，語多即喘促，中土亦已大虧。近復增咳，咽喉不清，屬心火刑金，脾弱失運。宜早用心腎交通補養，晚以和中育脾清氣化痰之味佐之。</p>
<p>早服丸方　熟地　茯神　遠志　棗仁　枸杞　石菖蒲　芡實　兔絲　麥冬　益智仁　蜜丸，冬加羊外腎四具。</p>
<p>晚服丸方　橘紅　川貝　蓮肉　於朮　茯苓　川連　牡蠣　沉香　藿香梗　用枇杷　葉湯泛丸。</p>
<p><u>玉岐蘇逸美</u></p>
<p>左脈細弦，右寸關短滑，睪丸漏卮有年，腰脊牽引痠痛，腎精肝血，已自內損。今食減咳逆多痰，脾肺之陽亦虧，先崇土固金，後用補益下焦之法。</p>
<p>煎方　人參　茯神　棗仁　麥冬　北沙參　芡實　枸杞　百合　枇杷葉</p>
<p>晚服百花瓊玉膏　大生地　枸杞子　麥冬　干百合　阿膠　款冬花　法制熬膏，濾清，入人參末一兩，茯苓末一兩半，琥珀末三錢，沉香末三錢，同煉蜜收貯磁器，用綿紙箬葉封固，隔湯煮一晝夜，再用冷水浸一宿，開水服。</p>
<p><u>休寧程公賓</u></p>
<p>酒濕釀熱，多飲則肝浮胃脹，咳血半月，脈已弦細。皆酒客傷中，陽絡損傷，致血逆不歸經絡，病在肝胃二臟。</p>
<p>活水蘆根　鮮生地汁　蘇子　丹皮　鬱金　麥冬　山梔　射干　苡仁</p>
<p><u>張皋木令孫</u></p>
<p>血症脈弦大空豁，少年陽亢陰虧，血隨氣火升動，急宜涼肝滋腎之品，以引血歸經絡，再商進退治法。</p>
<p>大生地　犀角　阿膠　麥冬　牛膝　紫苑　蘇子　橘紅　茜草　藕</p>
<p><u>孟瑞占令政</u></p>
<p>頭目眩運空痛，脈虛弦無力，兩尺微澀，此皆木鬱生火，風自火出，虛風鬱火，上乘高巔。經云：腦為髓海。而肝膽之絡，又皆絡於腦。因平昔精髓內枯，肝鬱血燥所致，非外感溫散可解，法宜滋肝養陰，息風降火，尤當情懷開暢，善自調攝。</p>
<p>九制首烏　茯神　遠志　甘菊　柏子仁　白蒺藜　元參　丹皮　活滋石（煅研絹包，三錢）</p>
<p><u>程又恆</u></p>
<p>脈左細澀，右虛滑，肢節痠疼，腿足麻木不仁，患偏於右。凡男子中年後，精血易枯，肝風鼓動，脾失健運之機，濁痰凝聚清陽，而胸脘噎塞，此偏風血槁之漸也。</p>
<p>天麻　歸身（炒）　牛膝（炒）　半夏　雲苓　桂枝　鮮首烏（打汁）　泡淡乾薑　服四劑稍減，照方去天麻，加木瓜、天蟲、川芎。</p>
<p><u>無錫錢紹堯</u></p>
<p>精以養神，柔以養筋，元氣損，血液不能灌溉諸經，痹痛頻作，寒熱交爭，所謂陽維為病，苦寒熱也。</p>
<p>鹿角霜　黃耆　當歸　白芍　桂枝　牛膝　桑枝尖　枸杞　鱉甲　炙甘草　萆薢</p>
<p>丸方，前方去白芍、甘草，加虎潛、白朮。</p>
<p><u>黃土岩戴士周</u></p>
<p>右體痠疼麻木，迎風流淚失明，是腎肝精血交摜，致內風習習鼓動，頭目冒昧，所謂下虛必盛也。六味丸加龜膠、紫河車、茯神、遠志。</p>
<p><u>長涇方玉祥</u></p>
<p>診脈弦滑，右關獨大，頭目眩冒，腿股痠痛。此風痰鬱滯，經絡郁久生火，火與風合，上凌空竅，矇蔽清陽，致神不健爽，急者先治，降火豁痰，而風自愈。</p>
<p>鉤鉤　甘菊　玉竹　半夏　橘紅　茯苓　甘草　薄荷　菖蒲汁　薑汁　竹瀝</p>
<p><u>張參可</u></p>
<p>脈數弦滑，痰火內滯，風邪外觸。</p>
<p>半夏　橘紅　茯苓　甘草　杏仁　薄荷　蔻仁　桔梗　滑石</p>
<p><u>城中劉友陸</u></p>
<p>虛風偏中，調治兩月，手足已能運動，誤用薰藥取汗，夢泄食減。懸擬一方，服二三劑。復延診視，用都氣丸作煎料，如飲子煎法。</p>
<p>又劫奪強汗，木燥火炎，營血耗，君相動，則精泄不固矣。今交長夏，火土司升而煩躁，面龐精采外越，須預防狂亂變幻。不然，曷不觀乎仲景太陽條中，火迫劫汗亡陽之驚狂起臥不安者乎。仿復脈湯意。</p>
<p>人參　桂枝　麥冬　生地　阿膠　牡蠣　龍骨　茯神　加薑、棗、小麥、玉竹、金器、益元散煎服。</p>
<p><u>無錫蔣尊之</u></p>
<p>脈左弦數，右關滑大，善飢肉脫，諸藥不應。因思風橫脾胃，煽灼中土，致穀食不能榮長肌肉，精力日衰。經云：二陽之病發心脾，其傳為風消。可知子病必累其母，藏病必連及府也。仿河間法。</p>
<p>黃耆　人參　生地　牛膝　附子　川斷　茯苓　五味　石斛　玉竹　鉤鉤　地骨皮　枳殼　服十劑小效，又照前方加羌活、防風，晚服。</p>
<p>早服丸藥方　人參　天冬　麥冬　續斷　生地黃　玉竹　地骨皮　鉤鉤　山藥　茯苓　石斛　牛膝（蜜丸）　煎丸藥前後守此法，四旬而痊。</p>
<p><u>城中劉聲遠夫人</u></p>
<p>右脈微弱，左弦細，木燥血枯，腎陰虛損，肝風內動，火灼津液，氣壅生痰，阻塞隧道，機關不利，項強肢攣，筋脈不營，神倦流涎，語言艱澀。《內經》諸風掉眩，皆屬肝木。木失水滋，母病而累及乎子也。顧質弱病延，大傷神氣。治本則痰水未清，治表則本元耗散，風浮所勝，治以甘寒，中土不傷，標本兼施矣。</p>
<p>玉竹　鉤鉤　茯神　天麻　當歸　白芍　牡蠣　炙草</p>
<p>又神脈稍清，語言略爽，痰涎攣痛，仍復如前。經云：肝痹善痛，大筋軟短，小筋弛張。腎痹善脹，尻以代踵，脊以代頭。肝腎血痹，筋骨焉能流利。仍從前法加減，緩調多服為宜。</p>
<p>（早服）人參　玉竹　茯神　遠志　牡蠣　鉤鉤　天麻　紫石英　（晚服）人乳　竹瀝　薑汁　汁梨　桑枝嫩尖汁，各一小杯，煎膏調入血珀末二錢，羚羊角末二錢，膽星末二錢，同煉蜜二兩，熬收厚，不拘時，開水沖服。</p>
<p><u>揚州程</u></p>
<p>大凡陽主動而陰主靜，煩勞耗血灼精。風自火出，則喜飢而消，惟靜養百天，不致暴中失血為妙。</p>
<p>人參　天冬　熟地　黃柏　知母　龜板　又冬令失藏，肝風內動，忽然眩暈，心煩腹痞便血。蓋五行變動，風火煽灼尤甚，陽擾乎中，脾肝俱失藏聚之功。所謂陰絡傷則血溢於下也。</p>
<p>制首烏　柏子仁　地榆　烏梅　木瓜　白蒺藜　生白芍　茯神　棗仁　又左脈短數，較甚於右，肢體虛浮，倦臥痿弱，因去血過多，氣亦無附。交夏至節前後，陰陽升降之大關，吉凶由此而系，宜加意慎之。</p>
<p>用逍遙去柴胡、薄荷，歸脾去木香，二方合劑，加阿膠、龜膠、鹿膠（原注，此診與上未符，似訛）。</p>
<p><u>楊綸宣</u></p>
<p>診脈沉而有力，舌焦身汗，神昏壯熱發斑，晦滯堅滿，二便閉結，適合傷寒下格，邪氣內盛，脈反鬱伏之說。羌防辛散，徒耗其陰，於裡症無與也。急當治苦以泄之。</p>
<p>大黃　厚朴　枳實汁　川連　山梔仁　黃芩　犀角尖磨汁　鮮生地</p>
<p><u>築塘葉彩生</u></p>
<p>左脈細弱，右寸滑大，向患腰痛，近因風熱客邪，襲傷肺絡，先議清涼清上。</p>
<p>桔梗　杏仁　半夏　薄荷　桑葉　沙參　橘紅　茯苓　甘草</p>
<p><u>程漢平</u></p>
<p>寒熱脅痛，脈弦細數，系邪郁少陽不清。</p>
<p>小柴胡加桂枝、鬱金、赤芍。</p>
<p><u>東莊陶</u></p>
<p>風火內郁，日久客邪外觸，表裡不和，寒熱頭痛脅痛，解表為先。</p>
<p>青蒿　紫蘇　連翹　山梔　半夏　橘紅　甘草</p>
<p><u>馬嘶橋陶女</u></p>
<p>病過兩候，脈不緩和，舌乾鼻鼾，上噦下泄，非退象也。</p>
<p>川連　黃芩　半夏　廣皮　乾薑　炙草　竹茹　生薑　大棗</p>
<p><u>長壽方</u></p>
<p>脈弦浮，寒熱頭痛，經脈不舒。此風熱外客兩陽之象。</p>
<p>秦艽　葛根　赤芍　廣皮　桂枝　半夏　炙草　生薑　大棗</p>
<p><u>倪振動</u></p>
<p>脈弦滑，右關獨大，寒熱似瘧，肢體麻木不舒，雖外感風熱，然中虛向有積痰，尤宜兼顧其里。</p>
<p>清脾飲去柴胡，加玉竹、鉤鉤。</p>
<p><u>常熟王</u></p>
<p>脈數浮弦，風傷肺胃之絡。</p>
<p>杏仁　桔梗　鬱金　蘇梗　桑皮　川貝　防風　橘紅</p>
<p><u>張應天徽州</u></p>
<p>喉痛目脹，裡熱外寒，痰咳濁飲。此係伏氣為病，名曰風溫。過服溫散，奪液傷陰，致寐中躁擾多煩。經云：衛氣行陰，乃得安寐。今少寐即躁，顯系陰不交戀而動越也。節庵云：過時而發，病不在表，已經汗下，亦不在表。其忌於辛溫表散可知。</p>
<p>復脈湯加天冬、茯神、玉竹、鮮生地，去麻仁、大棗。</p>
<p><u>顧村徐九官令政</u></p>
<p>脈細澀，少腹脹如覆杯，舌燥渴飲，躁狂便閉，乃心陽火熾，藏病連府，氣不宣化，致手足太陽之府，俱熱結也。議桃核承氣湯。</p>
<p><u>築塘張蔭堂</u></p>
<p>客寒犯胃中，氣關乖隔，蛔厥則嘔，腹痛則瀉，病屬厥陰肝藏，肝性喜酸，蛔以苦下，取仲景烏梅丸法，合乎厥陰條中下利吐蛔論治。</p>
<p>烏梅　乾薑　附子　川椒　當歸　桂枝　黃柏　人參　川連　炙草　白朮　苦酒（沖三匙）</p>
<p><u>北新橋趙</u></p>
<p>肝脾內傷致病，氣血交涸，孤陽死陰，盡為乾枯之象。宗經旨調寒熱之逆，冷熱並用，進連理湯法。</p>
<p>人參　附子　炮姜　川連　木香汁　白朮　雲苓　當歸　炙草　鬱金汁</p>
<p><u>顧山周價人侄女</u></p>
<p>脈虛滑數，兩尺細微，久病羸弱，肝腎式微，陰不交陽，心神不聚，胞絡空虛，痰火內迷，乘虛厥動，精識蔽蒙，虛中夾實，語言失緒，早安神志心腎為宜，晚滌痰火不失病機。方闕。</p>
<p><u>泰興李琴先令郎</u></p>
<p>病後虛風柔痙，精氣內灼，漐漐汗泄，乃衛陽失護，氣易外浮，筋脈不得滋榮，而手足振掉，神志失其內守，而口噤不語。所謂精不能養神，柔不能養筋也。但脈渙無神，直視失溲，脈症俱系散脫，勢已難挽，再請高明裁酌。</p>
<p>生脈散頻灌。</p>
<p><u>後谷橋卞楚珍令郎</u></p>
<p>脈澀細數，兩尺無神，初起咽喉腫痛，陰氣下虛，陽浮上結。近因五火挾痛亢胃，乘虛暴中跌僕，口噤嘔吐黑血，氣機不宣，唇燥舌乾。古稱肺為水之上源，主司五聲，腎為關鑰閉藏，主司五液。水源不清，則關門不禁，遺溺便泄，有由來矣。今則痰火秘結於止，本氣衰脫於下，際此險途，難保其無變端也。</p>
<p>天竺黃　川貝　麥冬　石菖蒲汁　烏犀尖　細辛　竹瀝　生薑汁</p>
<p><u>徽友張聲遠</u></p>
<p>努力負重傷中，氣結不舒，脘痛按之有聲，脈左細右弦，兩尺空豁。因痛久肝脾兩傷，氣血痹阻其經，遂致水飲溢膜外而為病也。且調氣和絡，冀病緩再商。</p>
<p>檳榔汁　白芍　苡仁　鬱金　半夏　旋覆花　紫檀屑　絳絹屑</p>
<p>又服調氣藥脹痛稍緩，但按左脅下，氣鳴響仍然不止，要皆飲邪外里，脾胃不舒。所謂最虛之處，便是容邪之地。</p>
<p>外臺茯苓飲，加白蠟三錢。</p>
<p><u>徽友顧御六</u></p>
<p>關脈弦，尺脈弱，腰脊痛，少腹脹，氣從左脅下繞臍攻逆，濁陰凝聚，下焦見症，皆屬肝腎，議溫柔通劑。</p>
<p>當歸　白芍　肉桂　熟地炭　鬱金　牛膝　桃仁　大紅花縐妙　丸方　肉蓯蓉　補骨脂　歸身　牛膝　小茴　熟地　川斷　肉桂</p>
<p>又脅痛脘悶，氣塞不通，日晡煩熱，小便赤色而脈弦數，都因水虧木張，肝火上乘，脾土交春夏，木火升騰，前病復來矣，暫擬疏泄。</p>
<p><u>孫團士</u></p>
<p>病起左脅，上及中脘，下趨少腹，脈弦結歇止，此膽陽不舒，肝邪用事，則氣血痹阻衝突乎其間也，宗通則不痛之意。</p>
<p>當歸　香附　丹參　青皮　通草　附子　茯神　新絳　青蔥</p>
<p><u>許公安令媳</u></p>
<p>脈數弦芤，肝腎真陰內損，陰虛陽搏，血動下溢淋漓，固當滋益腎陰，引血歸肝。但肝病必然乘脾，又當佐以植土。又脈緩弱，火漸降，血自得引歸經。但汗多食減色奪，此陰虛陽無所附也，急宜補氣以通血，勿徒見血投涼。</p>
<p><u>洋岐徐</u></p>
<p>經云：血脫補氣。以有形之血，不能速生，無形之氣，所當急固。即太僕所謂無陽則陰無以生，無陰則陽無以化也。今年高體弱，陽絡傷而血外溢。治病之初，但以滋陰降火為事。不知周身之血，悉統攝於脾，脾惡濕而喜燥，過服歸、地、芩、連，壅於脾胃，則中州窒塞，升降無由，遂成脹滿之候也。況元氣素虛，平昔思慮多郁，肝膽之陽，久已不和。去冬先患腫毒，後即繼以血症，血去則脾損而氣愈弱矣。今診脈虛弦不和，兩關尤大而澀，可知起恙因由，皆關肝脾兩藏。是時急於寒涼止血，遂致屈曲之木，愈陷於壅塞之土。時當春令不復，焉有暢茂條達之機。急者先治，莫過調脾和胃一法，則州都運化，決瀆宣通，而胃氣自能下行，脾氣遊溢，上可散精於肺，以通調水道，斯清濁自分，上下無不條達。中土既和，精悍得以四布，又何必拘拘於開鬼門，潔淨府，逐水消腫之驗劑，而脹始釋者哉。</p>
<p>補中益氣湯去黃耆，倍人參，加茯苓、澤瀉、薑、棗煎。</p>
<p><u>云葶李乾一</u></p>
<p>脹久氣日益衰，致胸腹臍下漸硬，食下便甚，雖云脾病善脹，要亦肝腎少司攝納使然。醫家專事辛燥，罔顧下元虛損，多其不知量也。</p>
<p><u>金匱腎氣丸</u></p>
<p><u>恬莊程</u></p>
<p>咳逆浮腫，脈得弦數。宗仲景汗出惡風，用越婢湯法。</p>
<p>越婢加茅朮、桑皮、細蘇梗、大腹皮、姜皮。</p>
<p>又脈緩嗽減，風水已退，從脾肺兩經調養。</p>
<p>葶藶子　茯苓　苡仁　廣皮　白朮　車前子　姜皮</p>
<p><u>宋大年令政</u></p>
<p>脾病則九竅不利，以至陰之藏，不得陽和舒布，斯水穀入胃，傳送不行，清濁混亂，遂成腹滿。腫脹之病，此經旨所謂藏寒生滿病。三陰結，謂之水也。病者胎前即患喘咳，產後繼以腫脹，經今百日有餘，脈來微弱無神，在右尤甚。可知氣血式微，中焦窒塞，升降無由，州都失職，決瀆不宣，日居月諸，灌入隧道，津液脂血，浸淫洋溢，悉化為水。總由中央孤藏無氣，不能灌溉四旁，以鎮流行，則水濕氾濫而難支矣。讀《病機一十九條》，所以脹病獨歸脾土，蓋脾損不能散精於肺，則病於上，胃損不能司腎之關鑰，則病於上，三焦俱病，以腎純陰之劑投之，求其向愈，豈可得乎。勉擬東垣脾宜升胃宜降，合以回陽，不失乎人事之當盡也可。</p>
<p>真武湯加肉桂。</p>
<p><u>顧山李</u></p>
<p>脈弦細，左脅亦堅大如盤，痰裹氣凝血結，此五積症中之肥氣也。</p>
<p>蒸白朮　枳實　茯苓　厚朴　白蔻仁　白芥子　木香　青皮　煨生薑</p>
<p><u>施村蔣</u></p>
<p>神色痿弱，上下睛明穴黑滯，脈浮弦，腹痛喜食香味，寐則腸鳴，此蟲積為患也。</p>
<p>白朮　茯苓　廣皮　榧子　檳榔　木香　厚朴　鬱金</p>
<p>丸方　去木香、厚朴、鬱金，加雷丸、沉香，水泛丸。</p>
<p><u>方子臣</u></p>
<p>脈沉細，腎肝交損，陰中之陽內離，健運不司，食減腹脹，乃藏之寒生滿之漸也。宜用溫通宣補。</p>
<p>白朮炭　茯苓　廣皮　肉桂　附子　熟地炭　益智仁　炮姜　炙草</p>
<p><u>鄒日乾令堂</u></p>
<p>向多痰嗽，食下噎塞欲吐，胸脘痰悶不舒，高年陽氣，難復易虧，徒理其陰，焉中病之肯綮，擬肺胃清陽論治，所謂離照當空，陰霾必散也。用大半夏湯加乾薑少許大效。</p>
<p>半夏　白蜜　人參　乾薑</p>
<p><u>黃載陽</u></p>
<p>胃痛氣逆，上引胸脅，納食則脹痛猛甚，脈遲弦滑。此多思鬱結，氣陷於土，脾不升，胃不降，致水穀之海壅閉，所謂不通則痛耳。宜疏木以達之。取乎《內經》勝克治病之旨。</p>
<p>逍遙散合四磨飲。</p>
<p><u>峭岐趙湘遠</u></p>
<p>人身氣血，流布經俞脈絡，全賴中州施化，得以納穀生津，考之《內外傷辨》，所以獨取脾胃立論也。今診脈弦細而遲，脅痛嗽血，得自力傷，不獨金水交虧，緣土衰少生化之權，致吞酸脘痛，妨於飲食。此即東垣所謂戊無火不運，而痛斯作。宜溫中辛散，佐苦甘淡以泄之。若徒補下元，則太陰之脾藏愈窒矣。</p>
<p>川樸　橘紅　炙草　北沙參　茯苓　乾薑　木香　草蔻仁</p>
<p>又痛緩嗽減血止，飲食漸加，坤土健運已行，木火亦能和斂，然水弱難以驟補，宗繆仲淳脾腎雙補法。</p>
<p>茯神　扁豆　沙參　蒺藜　芡實　生地炭　麥冬　白芍　枇杷葉</p>
<p><u>施村蔣獻夫令郎</u></p>
<p>腎為藏精之府，木為相火之官，真陰虧，相火動，而夢泄不固，所謂精不能養神，陽虛陰必走也。夫耳者少陰少陽寄竅，脈絡所主之地，精不守則龍雷不寧，上擾乎清空，以致耳鳴震動，上實下虛。法當厚味填陰，介類潛陽，取經義下病治下之旨。</p>
<p>紫河車　牡蠣　大熟地　龜膠　肉蓯蓉　人乳粉　菟絲子　秋石　金櫻膏　瑣陽　蜜丸開水下。</p>
<p><u>徽友程</u></p>
<p>心脈細數勁，兩尺微弱，乃陰不交陽，心君妄動，耳鳴失聰，夢多遺泄。蓋肝陽左升太過，由腎母收攝少權耳。以填補不元，導引靜鎮為主。</p>
<p>熟地　山萸肉　山藥　茯神　遠志　麥冬　龜膠　芡實　牡蠣　金櫻子　磁石　蜜丸開水下。</p>
<p><u>徽友方</u></p>
<p>久泄必傷肝腎之陽，腰痛脈數，皆水虧不能制火。</p>
<p>細生地　龜板　知母　雲苓　萆薢　甘草梢　牡蠣　欠實</p>
<p><u>錢維寧</u></p>
<p>脈細弱，氣衰力倦，淋濁便溺作痛，得之勞倦傷中，所謂中氣不足，溲為之白也。</p>
<p>歸身　白朮　益智　茯苓　澤瀉　牛膝　萆薢　生甘草　芡實</p>
<p><u>唐墅王</u></p>
<p>脈數大，按之微弦，濕熱交蒸，脾陽不舒，濁陰下陷膀胱，致便濁精遺，溺痛。淡以滲之，苦以泄之。</p>
<p>茯苓　澤瀉　知母　遠志　滑石　山梔仁　菖蒲　淡竹葉</p>
<p><u>日茂店徽友程</u></p>
<p>疾走遠行，則腎肝損於內，冒暑臨深，則熱濕蒸於外，積久乘虛，從外至內，交互鬱結，注腎成淋，著肝為疝，致溲濁睪腫，痛引少腹，慮成疝瘕之累。</p>
<p>赤苓　延胡　茅朮　阿膠　烏藥　川楝子　牛膝　澤瀉　青木香</p>
<p><u>周爾元</u></p>
<p>小便淋瀝，精隨溺泄，脈至弦數，兩尺細澀，乃少陰腎藏有虧，致太陽府氣不化，用滋腎丸方法。</p>
<p>川連　肉桂　兔絲子　車前子　生地　杜仲　生甘草</p>
<p><u>蔡港李位卿</u></p>
<p>脈症氣結在上，中脘阻塞吐涎，男子中年後，陰氣先虧，津不運行，聚液成痰，閉遏胃陽，稍食阻痛欲嘔，漉漉有聲，老年噎膈之漸。</p>
<p>旋覆　代赭　新絳　淡姜　半夏　白蔻　雲苓　橘紅　炙草</p>
<p><u>蘇州楓橋顧</u></p>
<p>脈左澀右滑，酒客傷中，胃陽痹阻，營血內枯，燥火易動，氣逆胸痞吐痰，食入噎塞，大便燥結。所謂上焦不通，則上下脘不行。老年陰液已虧，怕延關格。</p>
<p>人參　半夏　茯苓　白蜜　麻仁　鮮生地　活水蘆根</p>
<p><u>陶介如</u></p>
<p>久嗽氣損，未有不擾動乎腎者。入秋氣而逆善噯，肺胃之清陽已漓，胸脘刺痛，會厭抑塞。今則食下阻隔多噫，白沫自下泛上，臍右動氣築築，乃氣傷血槁，肺不降，腎不納，已成痛膈重症。宗仲景噫氣不除，用旋覆代赭湯法。</p>
<p>旋覆花　代赭石　人參　甘草　半夏　乾薑　大棗　制川附　薑汁（臨服沖白蜜數匙）</p>
<p>丸方　金匱腎氣丸，用生脈散加白蜜湯送下。</p>
<p><u>施村徐</u></p>
<p>食下噎塞，痛連胸腹，脈左搏右平，由恚怒傷肝，肝厥必乘胃府，血不藏聚，致嘔吐見血，而陽明之大絡亦損，所謂陽絡傷則血外溢也。用柔劑緩調。</p>
<p>半夏　人參　棗仁　炙草　陳皮　竹茹　阿膠　白蜜　生薑　大棗</p>
<p><u>泰興張來雍</u></p>
<p>積怒動肝損營，亢乃燥氣乘復，上噫氣，下泄氣，由血少藏聚，流而不行，痹阻厥陰，循經之所致，喉不利，脅痞痛也。況脈至右滑左澀，澀為肺象，滑為陽盛，金刑木位，膽陽不舒，脘中迷痛，食減液消，有自來矣。但今值瘧後，餘邪未盡，先宜清暑和標，再商治本之法。</p>
<p>麥冬　雲苓　半夏　扁豆　橘紅　丹皮　石斛　花粉　枇杷葉（服三劑後，用清燥救肺湯加減，又服二劑，進歸脾越鞠法）</p>
<p><u>無錫嚴藝舫</u></p>
<p>人在氣交，法乎天地，值長夏火土發泄，脾腎兩虧，不耐炎暑，食減脘悶，喉燥音低，當流金爍石，離能灼物，尤宜加意於保真。</p>
<p>四君子湯合生脈散</p>
<p><u>無錫鄒太和令侄</u></p>
<p>神傷於上，精損於下，藥力難補其空匱，林泉清處，心曠神情，天真可圖來復。</p>
<p>芡實　建蓮　遠志　天冬　元武板　人參　蓯蓉　茯神　熟地</p>
<p><u>江陰北門陸</u></p>
<p>咽喉腫脹，氣塞眩冒，心煩汗泄，食減便溏，脈至細小澀數。此心脾之虧，由肝腎內損，致陰心亢逆，上凌少陰循經之地。歸脾雖當，泥於心脾，於少陰腎藏有間矣。</p>
<p>人參　茯神　歸身　白朮　紫石英　麥冬　棗仁　益智　青鉛（一兩）</p>
<p><u>太平橋李</u></p>
<p>久淋久帶，必傷肝腎之陰，致奇脈交損，腰脊垂痛，維綱不振，寒熱交作，女科以肝為先天，宜柔劑緩調，以和八脈。</p>
<p>人參　牡蠣　龍骨　五味　歸身　白芍　阿膠　炙草　紫石英　鹿角霜</p>
<p><u>江輔臣</u></p>
<p>咳血脈弦，此肝血失藏，肺氣不降，從清陽治法。</p>
<p>桑葉　阿膠　紫菀　麥冬　川貝　鬱金　杏仁　丹皮　生苡仁</p>
<p>又血脫日久，陰氣難以驟復，過勞脊膂微痛。此因營虛失守，致督脈亦傷。平旦口苦舌乾，脈反見數，可知陰液內損，則君相之火，易以升動也。</p>
<p>生地　茯神　棗仁　紫菀　天冬　女貞子　阿膠　芡實　丹皮　麥冬　枇杷葉</p>
<p><u>鎮江程</u></p>
<p>左脈小弱，右寸滑大，髫年喘症，數載不痊，遇勞感寒即發，即風痰結於肺底，積久竟成窠囊，阻塞空竅，清肅不令下行矣。且肺病善咳，咳久未有不傳至三焦者。故每交少陽氣分用事，喘促更無止息也。早用化痰定喘，晚用復脈和陰。</p>
<p>海浮石　馬兜鈴　杏仁　桑皮　橘紅　川貝　紫菀　蘇子　北沙參　枇杷葉　晚服復脈湯。</p>
<p><u>本鎮沈</u></p>
<p>髫年體弱，咳嗽失音，陽虛必盜汗，陰虛生內熱。近因春升發泄，風熱乘虛襲入肺絡而咳，更無停止，宜以清上為先。</p>
<p>補肺阿膠湯，加元參、地骨皮、茯神、棗仁。</p>
<p><u>高汝明</u></p>
<p>少腹沖氣上逆，從左旋右，上攻胸脘刺痛，皆腎陰少司收攝，肝陽升發橫肆，血即隨氣咳吐。蓋相火不寧，未有不挾君火而擾動。欲使氣納歸元，仍宜靜藥導引。</p>
<p>人參　熟地　阿膠　補骨脂　萸肉　茯苓　柿霜　秋石</p>
<p><u>滸涇口</u></p>
<p>久嗽脈數，食減骨蒸，得自產後，陰虧蓐勞之漸也。</p>
<p>地骨皮　金石斛　百合　人參　麥冬　紫菀　當歸　桑皮　炙草</p>
<p>丸方　烏雞丸，開水下。</p>
<p><u>錫雖上山朱</u></p>
<p>性善躁鬱，相火易動，忽崇朝而諸症交作，致潮熱已至四旬，舌乾便燥，胸痞脹滿，堅硬不食。此以無形氣病，漸成有形結痰，所以虛而不受補也。滋則助脹，燥則傷陰。惟丹溪宣補並用，既能宣壅，復可通津，適合此症揆度。</p>
<p>生地汁　川貝母　鬱金汁　肥知母　苦杏仁　麥冬汁　左牡蠣　瓜蔞皮　廣陳皮　白蔻仁　香穀芽</p>
<p><u>王聖清</u></p>
<p>病後失調，胃陽窒塞，中脘痞結，阻隔上焦，煩渴善飲，二便閉結，即《內經》二陽結謂之消也。法當養金生水，軟堅消痞，俾得清升濁降，胃津遊溢於上，肺氣通調於下，病可內全矣。雖然渴而能食，必發瘡瘍，渴不能飲，易成中滿。失調久延可慮，莫道贈言不詳。</p>
<p>麥門冬湯合四苓散。</p>
<p><u>門村張</u></p>
<p>大風脹滿，脈多沉遲，然按之有神，方為有胃氣也。今診得沉細如絲，寸關歇止，知謀慮傷肝，積久延及心脾。心病血不流，脾病食不化，膠滯凝結中脘，先成痞塊，從微至著，暴腹脹大如蠱。醫家不明肝喜疏達，脾升胃降，治法非苦降即溫補，致藏府氣血日鈍，胃陽困厄，無怪乎愈治愈劇也。但經百日以來，精神日以告匱，即進藥餌，亦如杯水沃燎原矣。姑進參附理中，冀穀食漸進，再商。</p>
<p>人參　附子　於朮　炙草</p>
<p><u>鳳凰山朱</u></p>
<p>診脈左弦勁而右細澀，氣逆從左上升，引胸脘而悶痛，食下噎塞，高年精血內枯，惱怒動肝，橫逆中土，上凌肺，下侵腎，致咳嘔便閉，清陽不升，濁陰不降，關格之漸。擬緩肝潤燥雙開，通其經隧。</p>
<p>生地　阿膠　桃仁　茯神　半夏　廣皮　鬱金　歸身　生薑汁　蘆根汁</p>
<p><u>大石橋</u></p>
<p>酒濕釀熱，味歸於脾，氣歸於肺，內蘊日久，干肺則痰咳喉燥，乘脾則食少便溏，先從肺胃調治，用保和湯。</p>
<p>茯苓　芡實　百合　胡蓮肉　麥冬　桑皮　烏梅　枇杷葉</p>
<p><u>蘇州程逸超</u></p>
<p>操持謀慮，怫逆內傷肝藏，致脾胃氤氳之氣，乾健之陽，失司宣化，納食艱澀，積痰覆溢嘔吐，漸成噎膈重症。雖高年液槁忌燥，然投陰柔潤劑，壅濕助痰，又窒礙脾陽奪食。宜順氣平痰，滋液養肝，以調其升降而導引之。</p>
<p>人參　炮姜　生於術　麥冬　橘皮　炒木瓜　炙草　雲苓　海粉　半夏曲　白蜜生薑汁</p>
<p><u>程逸超令郎</u></p>
<p>經云：怒則氣高。陽氣薄厥於上，必致神蒙竅蔽。且向有厥症，包絡之痰，易隨氣火上胃，胸悶口噤，耳聾神憒。今發五六日，心下痞滿不舒，脈微色脫，兩顴時顯紅赤，乃氣未平而神已耗。下虛本實先撥，從少陰厥陰兩治。</p>
<p>人參　茯神　棗仁　麥冬　牛膝　五味子　附子　龍齒　菖蒲　小麥　化下紫雪（一錢五分）</p>

<h1>王鍾岳先生方案</h1>
<p><u>顧山周敬立令郎</u></p>
<p>痢久不止，脈見細數，少陰腎虛，亡血失精之象也。又不能食，脾火不化，相火侵凌，上炎下奪，津液告竭，故又作渴。惟專救欲脫之真陽，兼能復返其陰，俟一陽來復之期，冀轉回生髮之氣，則治矣。為擬三陰煎及三物桃花湯，間服之。</p>
<p>人參（一錢）　熟地（三錢）　白芍（酒炒，錢半）　五味子（三分）　炙草（三分）　當歸（炒焦，一錢）　益智（淡鹽水泡，六分）　（又方）赤石脂（煅研，三兩）　炮姜（二錢）</p>
<p>上為末，用香粳米打糊丸，每服三錢，參湯送下。</p>
<p><u>山東周客</u></p>
<p>少年火盛，心腎不交，夢多走泄，或無夢自遺，顴赤脈數，全屬陰虛，精氣不固，玉關不閉，相火妄動之故也。則宜壯水制之，不再動其火，自然痊安矣。</p>
<p>大熟地（三錢）　煅牡蠣　蓮鬚　龜板（炙）　芡實　茯神　棗仁　沙蒺藜（去刺，一錢）　建蓮（一錢）</p>
<p><u>泰興李家襄</u></p>
<p>太陰厥陰之絡，寒氣引痛，致項強舌卷，語言似乎蹇澀，其邪由府及藏，氣不外衛，血不內營，致風之所襲，併入於心者。沉著於絡，無陽以煦之，故不條達也。當治八脈為病。</p>
<p>歸全　淡附子　甘菊　遠志　肉蓯蓉　枸杞　鹿角霜（各一錢）　熟地（三錢）</p>
<p><u>黃</u></p>
<p>六脈弦大搏指，足徵平素火必有餘。肝強胃盛，以內伏之火，挾外來之風，致口眼喎斜，頭目不明，清陽之分，經絡為之所中也。然在上之風，乃實邪，緩散自出。</p>
<p>茯苓　首烏（各二錢）　黃芩　天麻　防風　川貝　蒺藜　甘菊　殭蠶（各一錢）</p>
<p><u>江陰三官殿馬腹膨症</u></p>
<p>腹脹甚於少腹，按之堅急，大便泄，小便少，脈虛細，皆陰寒凝結，厥氣在下而單腹膨滿，當用溫通之法。</p>
<p>淡乾薑　熟附子　烏藥　益智　車前子（各二錢）　吳萸（三分）　煨木香（五分）</p>
<p><u>蘇州楓橋姚</u></p>
<p>小腹寬痛，呼吸俱甚，且上為咳逆，皆屬二陰之邪，久積於中故耳。</p>
<p>桂枝（五分）　當歸（一錢）　白芍　通草　烏藥　青皮　紫樸（各一錢）　吳萸（三分）　生薑（一片）</p>
<p><u>汪維敬如夫人</u></p>
<p>肝脾素郁，氣血素虧，致清濁之混亂，窒塞中焦及小腹，足膝脈絡不仁，食減吞酸，乃木來侮土之象，寡於畏耳。按脈皆微，真陽不運，陰凝阻遏，致膹郁不宣。當辛通達下之法，復以苦泄，脹可減矣。</p>
<p>吳萸（鹽水炒）　乾薑　白蔻　半夏　枳實　廣皮　川楝（鹽炒）　蘇梗</p>
<p>又大凡脈微腹脹，小腹上逆者，即經云：厥氣在下，營衛留上，真氣逆上，正邪相攻而為脹也。況乎產後下焦空乏，寒從此入，致不行也。擬方宣通之法，兼溫下元，自能釋然。徐之才云：宣可去壅，通可去滯，溫可去濕，因仿而用之。</p>
<p>吳萸　乾薑　益智（鹽水炒）　當歸　官桂　廣皮　故紙（鹽水炒）　於朮　丹參　神麯丸　服三錢，參湯送下。</p>
<p><u>無錫杜鳳山</u></p>
<p>腎脾久虛，水濕下陷，致足腫，陰囊無縫，本屬陽虛，非溫通下元不可，以復脾中之陽，兼復腎中之陽，日能雪消春水，沖和之致，漸可復矣。</p>
<p>上肉桂　淡附子　澤瀉　茯苓　益智仁　破故紙　神麯　白朮　木香</p>
<p><u>無錫上山朱大倫</u></p>
<p>咳嗽半載，兼之脾不運化，金土二藏，皆虛可知也。所賴本質素足，未見其形色盡槁，雖虛陽上浮，咽燥音啞，似覺津液內奪，不過一時易退，而中土轉運之軸失司，所必然也。然此時入秋燥令，火必傷肺，傷土不用事，脾土益衰，食不化而上泛，便則泄，咳則燥而內生煩火，此又必然也。大率治法，調金水兩藏，抑肝培土，以復其元，約方之法，可附於後。雖未必有補天之力，方冀奏績於將來。</p>
<p>川貝　麥冬（俱半炒）　茯苓　扁豆　廣皮白　穀芽（炒）　南棗　枇杷葉　（又）瓊玉膏　加減資生丸</p>
<p><u>無錫上山祝振聲夫人</u></p>
<p>大凡病之來，必由於調理失宜，風寒起居不節，日就耗損而然也。始因小產後，經則淋漓不斷，甚至雜穢。今復春夏之交，遂崩漏不止，下元衰弱可知矣。況本質又屬陽虛，血無所統，散失無度，積而不行，血必大下，而無留戀歸經之日，致血與氣兩不維附，漸成抽絲引絮，日夜無度，為之索然。夫心主血，肝藏血，脾統血，雖屬衝任所司，其源在此。今擬上益心脾之陽，下滋肝腎之陰，隸以澀可固脫，勿使病內苦結。陽歸其宅，可望氣血沖和，自能霍然。</p>
<p>熟地（四兩）　當歸（三兩）　白芍（二兩）　赤石脂（煅一兩半）　鹿角霜　芡實　海螵蛸（酒炒）　枸杞（各一兩）　黃柏（八錢）　元武板（刮淨，兩半）　五味子（五錢）</p>
<p><u>少夫人</u></p>
<p>三瘧之後，中脘痞結，氣鬱生痰，痛嘔少食，兼之經水愆期，來時作痛且嘔，甚至經逆不調，而脈細並澀，視其形氣未弱，血則有餘，而氣太郁，色雖紫而有寒。乃因血積胞門，或凝子宮，致衝任不榮，經年不孕。今取義於震陽也，一索而得長男。更欲求其虛靈不昧之性，使三氣混合，自然一舉而得子矣。</p>
<p>熟地　川芎　白朮　肉桂　兔絲　歸身　白芍　艾絨　吳萸　枸杞　川斷　香附</p>
<p><u>金匱陶叔和年五十外少腹有缺</u></p>
<p>少腹是二陰所處，今少腹若有形質，其勢日甚，上衝至胃，皆由平素胃陽有餘，腎陰不足，濕熱痰飲，日漸下趨，遂使陽不通陰，升降失職，非痃非痹，無所定名，潛匿其間，時或隱現。投以溫治則熱，涼治則寒，究竟下焦之邪，不因有形之蓄積，始來然耶。</p>
<p>茯苓　瓜蔞霜　山查肉　半夏　飛滑石　延胡　青木香　川楝子　白螄螺谷　水泛為丸。</p>
<p><u>吳載暘小腹痛症</u></p>
<p>二便俱閉，小腹形如覆杯，手不可按，濁氣上逆，則煩悶不舒，暴怒趨急，漸至如此，膀胱氣不化行，精液復傷，脂腴凝滯，閉塞下元。宜通達氣血之滯，瘀散脹消，二便始快矣。</p>
<p>川連（五錢）　牛膝（二錢）　鬱金　木通　枳殼（各一錢）　車前　桃仁（錢半）　韭汁（一小杯）　調琥珀末二錢。</p>
<p>又脈象略和，少腹痛處高突亦平，但交陰氣衝，乃濁陰之邪，上干犯胃，尚宜滲利，以清肅上焦。</p>
<p>茯苓　澤瀉　廣皮　川連　山梔　知母　麥冬　石斛</p>
<p><u>江城東門外張腹脹症</u></p>
<p>少腹有形，似疝非疝，汨汨有聲。此寒濕結於膀胱之絡，非溫不通。</p>
<p>肉桂　吳萸　乾薑　小茴　香附　白朮　茯苓　川附　半夏</p>
<p><u>蘇載輿令政咳血泄瀉症</u></p>
<p>夫人之症，由肝及脾，由脾及肺，致左脅呼吸引痛，中脘嘈雜，嘔吞酸水，甚至脾虛上泛，面目色黃，燥咳動絡，血隨上溢，三者之恙，總不離乎燥火內伏，氣逆上膈。故肝邪犯胃，且肺之清肅失司，不能平木，肝氣上湧無制，變生不測。今和脾胃，滋肝木，俾氣火之燥逆漸平，再商後治。</p>
<p>枇杷葉　冬桑皮　丹皮　天冬　穀芽　白芍　生鱉甲　穭豆衣</p>
<p>又大凡陰虛則火亢，內劫其津液，致咳無痰，又復脾虛，大便多泄，元氣津液，亦從下走，且肝之燥逆，橫格於中，上凌肺，下侵脾，以致咳瀉不止。因思古人云：肝苦急，急食甘以緩之。又云：治肝必先實脾，況脾為肺之母，萬物賴土以生。今擬養脾保肺和肝，不燥不滋，固本為先，庶幾有合於病情。</p>
<p>麥冬　茯苓　白芍（炒）　人參　扁豆（炒）　穀芽　北沙參　南棗</p>
<p><u>殷家莊朱堃官時感症</u>　乾隆甲申五月初三日</p>
<p>身熱十餘日，頭有汗而熱不解，口苦耳聾，自利不止，即此已為上厥下奪之症，前醫所用辛涼達表不應。今細按脈皆浮弦，舌苔白滑，氣弱神倦，治法宜從一表一里和之。用柴苓法，俾兩陽之邪，自然解散矣。</p>
<p>茯苓（三錢）　柴胡　淡芩　豬苓　澤瀉　半夏（各一錢）　桂枝（五分）　葛根（二錢）　生薑</p>
<p>（初六）　脈浮弦略減，自利稀少，里邪欲和，反惡寒者，表邪亦欲和也。身熱，漐漐汗出，口渴，有轉退少陽之象，用溫膽法以清餘熱。</p>
<p>半夏　茯苓　甘草　枳實　花粉　黃芩　廣皮　竹茹</p>
<p><u>馬</u></p>
<p>脈數細少神，瘟毒之邪，鬱而未散，一身斑疹隱然，症非輕候。</p>
<p>鎊犀角　赤芍　豆豉（各二錢）　葛根（一錢）　連翹　山梔（各錢半）　貫眾（去泥）　蘆根（各一兩）　大力子（生研）　滑石（各三錢）　茅根（五錢）</p>
<p>第三日方　荊芥　赤芍　牛蒡　元參　小生地　乾葛　貫眾　蘆根</p>
<p>第五日方　左脈微而無神，甚屬可慮，右脈數實，十餘日不大解，頗有下證。但煩躁不寧，未敢輕下。且以竹葉門冬飲，止其煩亂為第一。</p>
<p>竹心（五分）　川連（五分）　麥冬（三錢）　茯神（三錢）　鮮生地（打汁五錢）　犀角（一錢半）　甘草（三分）　知母（一錢）　燈心（三尺）</p>
<p>第七日方　少陰之為病，但欲寐，躁不得臥者，不治。舌卷或唇焦，不大便，脈微欲絕，用苦辛入腎救逆。</p>
<p>阿膠（二錢）　川連（五分）　大生地（五錢）　雞子黃（三枚）　天冬（一錢）　犀角尖（一錢）</p>
<p>第二劑症稍減，去犀角，加當歸一錢，麻仁炒研三錢，白蜜三匙，調服。</p>
<p>第九日方　焦穀芽　麥冬　茯神　石斛　小生地　阿膠　丹皮　地骨皮</p>
<p>十一日方　大生地（五錢）　犀角（錢半）　元參　丹皮　山梔仁　黃芩（各一錢）　茅根（五錢）</p>
<p>十三日方　諸症悉退，餘熱未盡。大原生（切片水浸打爛絞汁入煎，五錢）　麥冬　穀芽（炒）　石斛（各三錢）　川貝　知母　元參（各一錢）　竹心（五分）　燈心（三尺）</p>
<p><u>程載光時感症</u></p>
<p>冬溫邪伏，起於吐瀉之後，致中氣不和，熱不減，神昏譫語，口渴噁心，苔白厚，左脅呼吸不利，肺氣不清，時咳，總之熱邪為害。按脈浮大，且無汗，邪尚在經，未入乎府。宜先理陽明，邪散乃愈。</p>
<p>廣皮　半夏　雲苓　查肉　杏仁　石羔　豆豉　蘆根</p>
<p>二診　脈浮大而數，因得微汗，勢已略減，外熱稍清，舌苔黃黑乾燥，大便有轉矢氣，結燥未下，胃不和。前方再為加減，此時裡熱重於表矣。</p>
<p>廣皮　茯苓　半夏　滑石　杏仁　石羔　前胡　生查肉</p>
<p>三診　脈症俱減，裡熱未盡，胃不和，大便未通，小便赤色。再用通利下焦，以生津液。</p>
<p>茯苓　滑石　瓜蔞皮　淡芩　澤瀉　生查肉　生穀芽（晚齒痛，用清胃散一劑。）</p>
<p>四診　脈象略減，熱亦稍清。此係餘邪不足慮，憔左脅痛處，大如手掌部位，乃肺之經絡，痛且拒按，系積傷氣血，非細故也。用和傷之法。</p>
<p>川連　桃仁　滑石　瓜蔞皮　牛膝　紅花　骨碎補　柏子仁</p>
<p>七診　當歸　川芎　桃仁　骨碎補　三七　丹皮　鬱金　瓜蔞　劉寄奴　桑枝</p>
<p>八診　生地　紫苑　川貝　地骨皮　桑皮　丹皮　麥冬　花粉　生蘇子</p>
<p>九診　脅痛少減，時復寒熱，痛處發出白疹，隱現不定。此係從前留滯之餘邪，因虛不能外達，所幸日飲糜粥，藉穀氣漸充而見。忌用升提，只宜和胃養陰為法。</p>
<p>炙鱉甲　茯苓　丹皮　川石斛　小生地　廣皮　製半夏</p>

<h1>貢一帆先生方案</h1>
<p><u>本鎮某</u></p>
<p>食物化精，胃火盛，津液蒸變濁痰，逆阻氣道，清肅之令不行，膈悶吐酸，痰多咽噎不利，見症在上部，宜甘寒清降。</p>
<p>活水蘆根（五錢）　全瓜蔞（打碎，三錢）　甘草（三分）　水飛滑石（三錢）　橘紅（錢半）　枇杷葉（錢半）</p>
<p><u>陳爾畢</u>　請葉天士先生看過不效，乾隆五年六月</p>
<p>行血無瘀，通則復痛，病起於憂思鬱結，症屬氣分，非干陰血瘀凝。由脾胃之陽，郁遏四肢，故為厥冷。陽不降，陰上逆，暮夜則痛，乃胸痹之沉錮。仲景每使辛溫之藥，開通郁遏之陽，仿以為法。</p>
<p>瓜蔞　薤白　半夏　白酒</p>
<p><u>黃遇春頭痛症</u></p>
<p>遇兄之症，至今念載。據述發時必先不寐，而後頭痛發熱。診得脈左細弱，右弦大，乃陰虛陽盛，衛氣不得下行之故。從陰引陽治法。</p>
<p>製半夏（竹瀝拌炒，三錢）　秫米（炒，五錢）　甘草（五分）　夏枯草（一兩）</p>

<h1>孫御千先生方案（先生自記原本）</h1>
<p>丁亥正月二日，夏萬隆子傅生，年七歲，臥床月餘，身如燔炭，無汗乾咳不食，兒科屢治，病益增，因請予視之。病熱日久無汗，肌肉瘦削，捫之熱愈熾。近復增乾咳不食，納穀無味，腹痛，按之虛軟，診脈左小右大而皆數。此肝胃之熱己深，晝靜夜劇，漸積為蟲，有自來矣。再以去冬亢旱風燥之邪，乘虛上受於肺，咳頻而愈增其因耳。用內外兼治法。</p>
<p>鮮地　骨皮　丹皮　玉竹　甘草　花粉　蘆根</p>
<p>甘蔗汁一杯沖服，四劑後熱退汗出食進，繼用肥兒丸一料大效。</p>
<p>丁亥清明前三日，予至洋岐徐葆中姨丈處，其兄潮音女，適無錫北門內楊蒻霖者，病甚篤，拉予往視，因述其概。</p>
<p>瘕聚少腹，偏左有形，發亦從左，升至胃脘，累累然滿腹，便溺為之阻塞，頃之腹中氣喧脹消，仍歸少腹。醫有平肝若左金之屬，溫補者腎氣之屬，論奇脈辛香苦溫之屬，寒熱雜投，歷治三載，日夜發作愈劇。今交春分節後，寒熱大作，望之面如渥丹，而仍灑浙惡寒，骨似蒸蘇，究則上熱下冷，況兼頭汗淋漓，氣怯神倦，種種虛候，所共睹矣。從前脈象，據云細弱，今左弦而右大，中虛無神，陰陽有離脫之兆，可懼之甚。所幸經水屆期不爽，生生未絕。大凡此症雖由肝鬱起見，目今病久體虛，下焦脈海乏氣，絡虛氣阻，易於聚結耳。今以峻補之劑，培其陰陽根本，斂其陽光下潛，仍不離通絡之結也。</p>
<p>人參　鹿茸　北五味　熟地　紫石英　阿膠　當歸　小茴香　牡蠣</p>
<p>丁亥六月，侄患痢極重，治療月餘已愈，然不能戒口戒氣，復發。延至閏七月二十日外日沒時，人事昏沉，更定後方蘇。余診脈細弱無神，右關為最，腹如仰瓦，臍右動氣大如雞卵，震躍不息，中虛已極，生氣索然。投以建中法，次日病勢不減。延姜體乾診之，案云：</p>
<p>久痢亡陰，以致肉削形奪，神迷如厥，申酉屬陽明時分，腸胃津液久虧，故現症若是，姑以養陰清燥之法治之。</p>
<p>真阿膠　大沙參　生白芍　炙甘草　冬桑葉　天門冬　生白扁豆</p>
<p>二劑後，下午神思不昏，再請戚向書姜體乾同診之，向書案云：</p>
<p>痢下腸垢，五十餘日，猶腹痛抽掣，惟悴尪羸殆甚，几几欲脫矣。雖胃口有滯，勢難消導，急救其陰，以戀其陽，彷彿復脈湯之意。</p>
<p>天冬　麥冬　生地　阿膠　麻仁　炙草　白芍　南沙參</p>
<p>藥無過煎，三五十沸即服，取義乎濁藥輕投也。</p>
<p>八月初六日，臍旁動氣已平，腹亦漸厚，痢減腹不掣痛，惟所下黏中有白點不已，眾皆望其向愈矣。予與姜戚再診之，案云：</p>
<p>診左脈弱，右較有神，連進復脈湯，中宮柔和，而神亂煩躁俱止，有津回液轉之機。此時不問其虛，安問其餘。</p>
<p>大生地　麥冬　生扁豆　炙草　大沙參　清阿膠　白芍　大白藕片（五錢）　井水煎五十沸服</p>
<p>自此之後，又服消積去滯丸藥緩攻一法，餘症俱減，而痢終不止。家貧不能服參，胃中邪火燔灼，日啖羊肉厚味斤許方快。凡除中能食，大約不過數日。此竟有月餘不輟，但利不上，身亦不能轉側，面浮足腫，脈息俱絕，又延二三日方死，亦事之罕見者。是役也，雖未收功，醫法另出一種，亦堪傳也。</p>
<p><u>浦景文暑症治驗</u></p>
<p>丁亥七月，浦景文患暑症，愈而復發，壯熱不退。醫者先發散，繼則重用犀羚連石等藥，連服數劑，身熱漸退，舌苔反煤黑，兩脈沉而數細，手指牽掣不停，眼目定，人事一毫不省，以手拍額上，微有醒意。予曰：此虛邪未清，寒藥遏之太過，邪已舍於神明之室，頃刻難支。正治方法，已不能施，速以奇法治之，為訂一方。</p>
<p>鉤鉤　絲瓜花　竹心　鮮石菖蒲　鮮荷葉　扁豆花　薄荷頭　竹瀝（一杯）</p>
<p>另取淨水一杯，碾入犀黃五釐，即以煎劑調服，服後神思頓清。二劑後，舌上黑苔脫落，即能言語。惟兩目赤翳遮滿，視物一毫不見，家人咸以目損為懼。予曰：無妨，此陰虛也。須以大劑補陰藥，兼粥食並進，五六日翳退目明，調理一月，方能起床。</p>
<p><u>毛禹謨時疫症</u></p>
<p>丁亥五月，長涇鎮毛禹謨患時症，本鎮醫家，以三陽經藥發表，苦寒藥清火雜治，自余汗後，熱不衰，神昏默沉，遍身似斑非斑。時復躁擾狂越，譫語片晌方定，胸腹按之痞滿，咽噎多痰，舌苔色白中央黃，診脈皆數大。此時行疫邪，橫連募原，不易解散。遵吳又可法，用達原飲疏利之。</p>
<p>檳榔　厚朴　芍藥　草果仁　知母　黃芩　甘草</p>
<p>二劑後症減二三，但暫時有如狂之狀，欲毆人，大便閉結，於前方中加生大黃三錢利之，所謂三消飲也。其病遂不勞餘力而愈矣。</p>
<p><u>王仲良陽虛症</u></p>
<p>丁亥冬至前，王仲良患傷寒，宋朝宗用羌活沖和湯二劑不效。戚向書診之，身熱脈沉而頭不痛，曰此少陰症，須服麻黃附子細辛湯，發表溫經。連進三服，亦無效。蓋因其人生意操勞過甚，又多外寵，胃中有寒濕宿病蟄藏，與乾健之陽，素已衰微不振，直宜少陰附子湯法，細辛麻黃，過於外散，尚非法也。次日再診，其父纘臣初不為意，向書曰：脈中神情來往不續，病難收功。舉家驚惶無措。請體乾曰：事雖急，速進大劑參附，猶可挽回。用附子五錢，人參二錢，日夜各一服不效，且神思散漫，口中白沫，勃勃上泛，進吳茱萸湯又不效，再擬方。</p>
<p>人參（四錢）　附子（五錢）　五味　龍骨　牡蠣　益智仁</p>
<p>連進二劑，脈象或斷或續，竟無寸功，招予同王履安、姜體乾戚向書四人共商，議用黑錫丹碾化，參湯調服。白沫始下，少頃復上，再服又止矣。煎劑仍以前方頻服，無可更改，日夜服參三四錢，兩日後脈象來復，有向安之兆。伊新親唐叔文，竟邀陳杏三來看，用六君子湯加減一劑，次日脈右尺又斷續，左關微弱如絲，涎沫又上，危症復見。仍守前法二日，脈續涎沫可咽，而疲倦不堪，反甚於病重時矣。此後症屢增屢退，計服黑錫丹九錢，人參三兩餘，後改用八味，從陰戀陽，膏子以平調上下，立春前始能起身，猶腹痛脹悶，進真武湯而泄瀉脹寬，再以參劑調補平安。是症也，賴有向書之先識，體乾之主持，二人之功居多，而予與履安，商酌贊襄，他人不能生別議，方克起一生於九死，為無功之功也。</p>
<p>季二世兄諧禹，贅於趙室，伊妻六小姐，年十七，患利極重，乃翁韶度乘請入城，時戊子七月十九也。利已五六日，始純紅，繼白色相雜，今下純白黏膩，晝夜四五十行，後重窘迫，多在腰尻尾閭之間，少腹不過微痛，胃口不能納食，閱前方並未解，用硝黃重劑增劇，外邪暑熱凝結，下焦無從解散，先通其壅。</p>
<p>川連　生薑　秦艽　枳殼　木香汁　檳榔汁　查肉　神麯　桔梗　荷葉　陳倉米煎湯</p>
<p>服一劑，次日墜痛少減，腹中喧響，矢氣甚臭，滯未盡而有糞，色赤，且喜知飢納粥。書謂下痢氣者，當利其小便。急開支河以通之。</p>
<p>滑石　茯苓　甘草　川連　青皮　扁豆花　廣皮　荷葉　阿膠　白芍</p>
<p>初二日　早診，痢已減半，穀食漸增而安寢，脈皆和緩，右尺獨勁大不平，濁邪陷於大腸之分未清。擬將欲降之，必先升之之法。</p>
<p>羌活　升麻（醋炒）　柴胡（醋炒）　滑石　甘草　防風根　茯苓　廣皮　查肉　檳榔　荷葉（炒）　南沙參　陳米煎湯</p>
<p>晚進末藥（一服）　地榆　銀花　木香　查肉　麥芽　茯苓　廣皮　甘草　以腸胃病必滓質有形，宜散不宜湯也。</p>
<p>初三日　痢止便溏，肌潤澤有汗，神思清爽，穀食頓加，脈細弱而數，痢後陰虧宜和。</p>
<p>阿膠　白芍　炙草　扁豆　建蓮　砂仁　廣皮　茯苓</p>
<p>按：戊子少陰君火主氣，小滿後三之氣，正屬司天客氣，亦屬君火加臨。二火盤於太虛，風自火出，日日大風亢旱，自春至秋，逢風息之日，即炎蒸異常。立秋之後，上自湖廣，下至江浙，皆患疫痢，色赤或五色相雜，虛者受之，不必噤口而入藏肢冷，五六日告斃矣。輕者由赤轉白乃愈，瘧疾絕少。夫火盛之年，木能生土旺胃，因木火同性，肝膽肆橫，挹取胃中津液，腸胃中被竊空虛，暑毒乘虛內襲，故患痢者多瘧疾，乃少陽經病，木旺邪不入，故少治痢之法。用往年敗毒散芍藥湯香連瀉心等法，俱不效。因肝為剛藏，宜制以柔，阿膠、白芍。胃屬陽土，喜通惡塞，人參、茯苓、炙草、陳倉米。因所傷在胃，與脾無與也。荷葉升清，廣皮利氣，銀花清少陰君火而解毒，腸中壅滯，少加檳榔汁，本年治痢之藥如此。</p>
<p><u>趙羹和令堂汪氏暑症</u></p>
<p>戊子六月，趙羹和令堂，因兩孫布痘而夭其一，勞碌悲傷之後，驟發寒熱，嘔吐頭痛，汗多腹中脹悶，二便不快。城中醫者，先用小柴胡湯，後因其胸悶噁心，加入草豆蔻之辛溫，遂困苦不堪，乃招予治。診左脈不弦而小弱，右洪大，頭偏右痛，抽掣入巔，目白赤，時泛噁心，交申酉時，則寒微熱甚，口雖渴，脘痞不能飲湯，苔白，汗出淋漓，似有昏厥之象。余曰：此非少陽瘧症，乃暑邪由肺入胃，暑必兼濕，而作壅阻，彌浸三焦氣分，若延入營中。須防變幻，遵河間法，用宣明甘露飲，一劑症減半，二劑寒熱止，改用人參、麥冬、甘草、竹葉、半夏、茯苓、五味、粳米，霍然。</p>
<p><u>祝肇文夫人痙症</u></p>
<p>祝肇文之妻，王巷徐東旭孫女也，四月歸家，患時症發斑。太叔岳宗聖，知醫調治，先用荊防風梔豉，繼進犀羚膏連生地諸涼劑，二候不退。肇文作札致施兄登士，請予往視，至巳二鼓矣。進診面光亮，目赤神思瞶瞶，手頻欲縮去，舌赤齒燥，問之微微有聲。余知其痙厥將至，曰今已更深，且不服藥，明早進視，已口噤目定齘齒，兩手牽搐不定，身僵無汗，面赤如妝，脈弦大搏如指數，右洪大，剛痙之症悉具。此邪未發泄，涼劑遏之太多耳。為用葛根、花粉、白芷、防風、殭蠶、犀角、羚羊角、牛黃、蚌水、鉤鉤、竹瀝宣達陽明經分之邪，祛痰開竅，以息內風相火。服一劑，至夜半得汗遂蘇。天明予欲歸，時復又微厥，肇文甚恐。予曰：無妨，再服一劑，自然減可。至第二日到彼，診脈數小而不能鼓指，虛汗津液，已現虛象。即用生地、麥冬、阿膠、白芍、炙草、玉竹、牡蠣、茯神，令服三劑。登士見方，疑補太驟，予以病久體虛液虧為慮，決不復痙，竟加棗仁、當歸，補其營陰而安。</p>
<p><u>侄倩趙元復腰腿痛症</u></p>
<p>己丑八月中，先寒戰一日，大汗熱退，左半身痛，腰胯更甚，足不能伸，口渴面赤，溺混濁短澀，平昔脈象六陰，今覺數大。予思本年春夏，雨霪過多，酒客素多內濕，為訂一方，五苓散加滑石、桃仁，通陽利濕，以疏下部血中之滯。服二劑，左半上下之痛俱減，稍能起坐，但腰痛連胯，膝屈不伸，行走傴僂苦楚。思嘉言先生治腰僂廢，瘀血內痹者，用桃仁承氣加肉桂。此邪尚在經絡，宗其意立方。</p>
<p>苡仁　桃仁　牛膝（各三錢）　肉桂（五分）　大黃（錢半）　地龍（九條）　胭脂綿（一錢）　麝香（一分）</p>
<p>炒黑豆煎湯服四劑，症又輕減，大便通快，稍有血下，左足尚短一寸，不能直，每三四更腹痛，竟夜不寐。此時予雖知為血病，不知內蓄甚多，用活絡丹三服。又想少陽主骨，太陽主筋，用二經之藥羚羊角散一方，症不少減，但口渴不欲飲，必極滾方快，時九月天氣尚熱，厚褥不嫌熱。元復曰：余向喜熱畏冷，今服附子而病如此，真虛寒矣。余細思良久，悟曰：腹痛夜甚，臥重褥不欲飲，喜滾湯，乃血滯之候，非寒也。下之為宜，方用：</p>
<p>白蒺藜　茺蔚子　丹皮　赤芍　炒滑石　牛膝　歸尾　鬱金</p>
<p>服四劑，連下紫血塊六七回，腰胯之痛冰釋，膝筋亦伸，步履如常矣。是役也，治法雖活絡丹、羚羊角散，尚屬隔膜不當，余尚切病得效，其施侄新學針灸，意欲針之，予勸其勿針。其四兄怫然曰：此病無用針之理乎？予曰：針固甚妙，但無神針耳。嘻，難言矣。</p>
<p><u>太平橋季七翁令政痢疾症</u></p>
<p>戊子七月十六日，季七翁乃室，患痢極重，招予與姜體乾診視，予約體乾同去。是日予先至，痢已半月，五色相雜。始事者令君族侄祝冀堂，為梁溪著名士，因症由脾瀉轉痢，為脾傳腎之藏病，藥用乾薑、白朮、赤石脂、龍骨、蘄艾、人參等，一派辛溫燥澀之藥，但反佐川連、烏梅，病熱日重，飲食已減，面色晦滯，精神困頓已極，診脈細澀不和，右尺激之，時又鼓指，手溫足冷，又時微熱，舌苔白，心中煩，腹痛後重如初。予意此非藏病下利，究為暑濕內郁腸胃，初未外達，又未內消，邪未去而陰已耗，液已虧矣。擬和陰潤燥之劑。</p>
<p>阿膠　白芍　炙草　扁豆（炒）　銀花　茯苓　沙參　荷葉　丹皮（陳倉米湯煎）</p>
<p>是夜只痢三次，煩痛亦減，但神倦似睡，汗微欲出，舉家咸喜病減，又疑欲脫。十七日早，體乾至，同進診。脈象虛澀，未刻交白露節，正氣當倍。</p>
<p>人參　阿膠　白芍　炙草　扁豆花　川連（薑汁炒）　荷葉梗　神麯　廣皮</p>
<p>陳倉米湯煎服，一時許即索粥飯吃，神思稍清而能安臥，惟痔痛小便澀少，口中乾燥。飲以麥冬湯一次，至夜小便二次，痢竟止矣。十八日前方去川連、神麯、扁豆花，加麥冬、小麥，以養心調理，令服四劑，飯後同體乾歸。</p>
<p><u>述章興官厥症一則</u></p>
<p>甲辰十一月，章南山次子興官，忽患頭痛，面色青黑晦滯，畏寒神倦，兼有痰嗽，曾服息風和陽疏解之藥數劑，身發微疹，頭痛旋止，神識日呆，耳聾無汗，溺少大便不解。越三日，適交冬至節候，暮夜昏譫而遺溲。伊兄洪遠，邀予診視。其脈浮而帶弦，重按空虛，驗其舌上無苔，不飢不渴，但有疼痛聲而不知其處，詢其病之所苦，而又不能鳴其狀，目視瞑而神呆。予駭曰：此症漸入厥象也。變幻最多，此時尚在遊移未定之際，極難圖治，必須邀同姜乾干酌議，方可主持。奈又往錫未歸，不獲已。勉擬降厥豁痰開竅育陰息風方法挽之。服後至夜頗安，並且得汗身涼。清晨復診，按其脈虛象忽退，予令彼將此藥再服一劑。是日體翁適歸，又邀為之診視。就予方略為加減，更進一劑，耳聾忽聞，症反變出，多言無緒，似昏非昏，似清非清，脈變不調之象，舌色忽紫，中見微黑碎裂之紋，如蠶豆瓣大，大便久閉，小便一晝夜不解。體翁悉審視良久曰：此症因腎虛邪湊，致在下之風火，上干而脫其志，心虛邪混，致在上之痰厥，氣不降而失其神。況頭疼起見，顯系木失水涵，肝風挾溫邪而上冒，風火煽爍不已，肝腎失疏泄閉藏之權，而魂志日離，邪陽挾相火衝突，使津液成痰，而亂其神明之主，則神不守舍矣。雖然，溫症變厥，治亦何難，獨不若此症之不歸經絡，不歸腸胃，而竊踞於神志之間，如油入面，打成一局，安居於難分難解之地，冥頑不靈，所以現出狂言失志之狀。經云：狂言者是失志，失志者死。遍考方書，前而仲景之傷寒，後而河間之溫熱，從無成法可求，應歸不治之例。但念與病者嫡表弟兄，雖死亦須圖治，莫若以靈治靈之法，望其或成為屍厥，或變為發狂，其陰其陽，歸正其候，乃可斡旋於萬一，亦未可知。生死關頭，惟此一舉而已。因與予同擬一方。</p>
<p>真赤苓（一錢）　鮮生地（洗，二錢）　羚羊角（鎊，七分）　生虎骨（五分）　生龍齒（一錢）　云茯神（去木，二錢）　川貝母（七分）　炙甘草（五分）　遠志肉（炒，三分）　製附子（三分）　麥冬（錢半）　阿膠（蛤粉炒，一錢）　小麥（二錢）　玉竹（二錢）　歸身（七分）　廣皮（七分）　犀角（五分）　白薇（五分）　防風（四分）　牛黃（調入，五釐）　石菖蒲根（二分）　竹瀝（二十匙）　生薑汁（衝入，二匙）</p>
<p>服此藥後，至夜忽作痙狀，口噤多汗，手足強，痰涎滿口，不能言語，至上午時候，同體翁診視，其脈弦急，舌苔轉為白色，湯水與之能咽，不興則不知。體翁曰：此正屍厥之象也。乃照前方去犀角、川貝，加入</p>
<p>鉤鉤（錢半）　川石斛　真天蟲　半夏（各一錢）</p>
<p>木瓜（七分）　膽星末（調入）　訶子肉（炒，各五分）　石菖蒲汁（五匙）　龍齒（減五分）　遠志（薑汁炒，加至五分）　附子（加五分）　竹瀝（加至半酒杯）　薑汁（加至五匙）　牛黃（加至一分）</p>
<p>服此藥後，至夜半忽發狂，天明覆診，其脈弦大而數，譫語狂妄。體翁曰：症轉陽分，已見發狂，可無慮也。</p>
<p>羚羊角　鮮生地　赤茯苓　上阿膠（蛤粉拌炒）　淨鉤鉤（各錢半）　淨天冬（三錢）　云茯神（三錢）　川石斛　玉竹（各二錢）　遠志（薑汁炒）　廣皮　炙草　炒大黃　木瓜（各五分）　犀角汁（衝入）　膽星末（調入）　防風（各三分）　真天蟲（洗炒）　麥冬　白薇（各一錢）　牛黃（調下一分）　小麥（二錢）　生鐵（打碎一兩）　生薑汁（下衝三匙）　石菖蒲汁（衝下半酒杯）</p>
<p>服此藥後，至夜能寐，狂言少減，仍照前方去生鐵。</p>
<p>鮮生地（減用一錢）　牛黃（減用半分）　炒大黃（減用三分）　犀角汁（減用二分）　金器（一件）　苡仁（酒炒錢半）　炒白芍（八分）　當歸（身五分）</p>
<p>自服此後，狂越漸平，寢食得安，不藥而愈。予因此症變幻非常，體翁議論卓立，出口皆應，故能用藥靈妙，信手而驗。誰謂醫家無斡旋造化之功那，詳記其治，以為來者用法之一助。</p>

<h1>戚金泉先生方案</h1>
<p><u>施港王</u></p>
<p>弱脈神虛，肢振鼓慄，暑風內郁，藥以寒涼雜進，病日益甚，體日益虛，以致神識漸有昏沉之累瘁，姑以枇杷葉散挽之。</p>
<p>枇杷葉　公丁香　茅根　木瓜　香薷　麥冬　厚朴　炙草　陳皮</p>
<p>十九日再診　脈頗有神，鼓慄已減七八，舌苔尚白，胃陽為寒苦大傷，畏風多汗，以建中先立中宮之墓。十餘日不大便，此胃氣不下行，必得健陽中運，化物自通，無庸攻伐。</p>
<p>生白芍（二錢）　桂枝木（一錢）　炙草（一錢）　大棗（三錢）　炮姜（五分）　黃精（二錢）　枸杞子（一錢）</p>
<p>井水二碗，濾去渣，加入飴糖五錢，再煎至半碗服。</p>
<p>二十七日三診　左寸關脈，浮弦而虛，右浮大，按之無神，舌苔白滑，鼻與環口，氣色青黑，面微浮，身仍發熱，鼻多汗，頭痛煩悶不止，心加飢，食下則眠睡，中土陽和之氣不運，風木厥動，水穀與風暑，鬱而變幻不一，病根實深，未可輕視。仍從初診靜順湯法，冀其中旺木和。</p>
<p>牛膝（酒拌）　木瓜　雲苓　製附子（各五分）　炮姜　防風　訶子　炙甘草（各三分半）</p>
<p><u>上村朱女</u></p>
<p>咽喉哇塞，吞嚥如有物礙，是為炙臠，肝氣鬱結所致，非清涼可解，宗仲景辛散開結之法，用半夏厚朴湯。</p>
<p>製半夏　製厚朴　真紫蘇　赤茯苓　生薑</p>
<p><u>章</u></p>
<p>春夏陽升，忽然面目虛浮，畏寒喘息，漸漸肢脹，其為風水何疑，進分消五皮等法，皆疏里而不及表，徒增洶湧之勢。今膚光亮，邪無去路，且以小青龍湯開其膀胱。</p>
<p>麻黃　桂枝　乾薑　杏仁　細辛　滑石　苡仁</p>
<p>發汗後腫勢大減，喘息漸平，但脈微神倦，恍惚驚惕。此水去而封蟄不固也，以真武鎮之。方用真武湯，服數劑後，即以此作丸料。</p>
<p><u>梅里邵</u>　七月二十七日</p>
<p>脈左澀結，關芤，右亦澀弱，失血十幾年矣。今怒動肝傷，氣逆上溢，精遺龍雷不寧，甚至無夢自泄，此陽虛陰必走也。當處𭶟陽發泄之候，尤貴調平氣分，恰與仲淳三要，宜降氣不宜降火符合。</p>
<p>青鉛　柏葉　艾葉　線魚膠　蔗節　荷葉</p>
<p>加八味丸三錢，紅絹包煎。</p>
<p>又初一日，大暑之第七日也。連進濟生八味丸兩服，而血色遂稀，精不復遺，五內之病情，亦可略見矣。切其脈，亦似前日較勝，少澀結之形，有鼓盪之致。若云不能斂氣凝神，畢竟氤氳之氣，與乾健之陽，總未必反失沖和也。嘗考陽虛之治有二，一理中，脾宜升也；一攝下，腎主納也。今是龍雷不肯潛伏於收藏之地，反升清陽之所，故必引之導之。咸以潤之，介以潛之。在此調攝勿懈，庶幾病魔可卻。</p>
<p>龜板　蓯蓉　牛膝　杞子　青鉛　線膠　蔗節　送八味丸三錢。</p>
<p>壬辰秋分夜半起，今已四月，發熱左胸脅痛，難以轉側，咳吐自汗，無頭痛身痛惡寒等症，舌無苔，大小便自可，腹中和，口渴不欲飲，先悲泣而後能嗽咳，出痰有穢氣，毛際脹痛不可近，脈弦大而數，目微赤，面色滯，多叫呼，與《內經》悲哀動中則傷魂正合。今正值四氣風木濕土令退，五氣君火燥金加臨，遇悲哀抑鬱之境，用甘麥大棗，清燥救肺，枇杷葉散，靜順四湯意。</p>
<p>冬桑葉　淨枇杷葉　飛滑石（二錢）　杏仁（錢半）　南沙參　炙草（五分）　麥冬肉（錢半）　瓜蔞皮（一錢）　麻仁　小麥（三錢）　南棗（二枚）　茅根（二錢）　木瓜（三分）　丁香（一分）　厚朴（五分）　杞子（五分）　牛膝（五分）　雲苓（五分）</p>

<h1>葉德培先生方案</h1>
<p>陽明瘀熱發黃，胸膈拒按，脅肋脹滿，陷胸湯深為切當，再加以滲濕利濁之味，服之一劑可也。（發黃）</p>
<p>一人年將五十，身體肥健，素患腸風下血，已十餘載矣。去冬因思慮憂鬱，忽然下血數斗，後又下如塵水，或如豬脂狀，延至今春，所納之食，汨汨下行，不得停留變化，甚至直出如箭，以致肛門脫出數寸，每以熱湯浴之，睜叫托入，頃之去後，其肛復脫，一晝夜下痢二十餘行，苦不可言，面色浮腫，夭然不澤，唇焦口乾，鼻孔煤黑，右寸浮大，重按無力，脾脈軟弱。（痢）</p>
<p>昨服一劑，藥後內邪消去，但手太陽之脈洪數，此胃氣未服也。今宜扶胃養脾為主，勿亟亟於治痢，痢亦自止。</p>
<p>白朮炭　白蔻　紫樸　黃柏　廣皮　木香　甘草　茯苓　神麯　鍋巴　建蓮　澤瀉</p>
<p>脈漸緩弱，嗽減痛止，胸脘亦寬，平昔木旺土衰，久患脾泄，中氣大虧。若飲食雜投，諸症復增，愈難調攝，須慎之。（嗽）</p>
<p>橘紅（一錢）　杏仁（錢半）　枳殼（一錢）　柴胡（八分）　黃芩（錢半）　花粉（錢半）　知母（一錢）　查炭（三錢）　六曲（錢半）　燈草（三尺）</p>
<p>肝脈漸平，胃脈反見滑大，此皆飲食不調之故。</p>
<p>麥冬（三錢）　元參（一錢）　花粉（錢半）　山梔仁（錢半）　橘紅（一錢）　杏仁（一錢）　枳殼（一錢）　查炭（一錢）　燈心（三尺）　服二帖，去查肉，加澤瀉。</p>
<p><u>徐商珍令媳左腰膝足腫流走疼痛麻木</u>（乾隆六年）</p>
<p>六脈遲弱，兩尺尤甚，左腰膝足腫，關節間疼痛麻木，遇溫暖即稍止。此係三陰經之恙，治宜溫腎養肝活絡為治。</p>
<p>當歸（三錢）　川芎（錢半）　肉桂（五分）　秦艽（二錢）　川熟附（八分）　牛膝（二錢）　獨活（一錢）　南仲（二錢）　川斷（二錢）　桐皮（二錢）　桑枝（炒，二錢）</p>
<p>左三部細弱，右三部滑大。此係病後失調，肺未清，胃為痰食所阻，而畏飲食。擬平淡藥幾味服之，自能漸愈。（痧後）</p>
<p><u>通州老相公姓胡</u></p>
<p>六脈弦數，外見寒熱往來，間日而作，兩額巔頂微痛，舌現黃苔，飲食不貪，小便通調，大便艱澀。此統屬少陽陽明兩經瘧症之象。今治宜用小柴胡湯主之，加入陽明之藥一二味。服之兩劑，再議損益可也。（瘧）</p>
<p>柴胡　黃芩　枳殼　知母　花粉　甘草　橘紅　杏仁　桔梗　竹青　燈心</p>
<p>尊翁六脈弦數，身熱如烙，舌起黑苔，中脘按之而痛，大便自利，小便赤色，邪熱鬱伏，值此高年，屬在大險。擬方服之一劑，若能稍減，即是生機。（時感）</p>
<p>石羔（八錢）　川連（一錢）　連翹（三錢）　柴胡（三錢）　葛根（二錢）　黃芩（二錢）　枳實（二錢）　甘草（五分）　知母（二錢）　山梔（三錢）　竹葉（十片）　燈心（三尺）</p>
<p>服之大效。</p>
<p>又六脈洪滑有力，舌燥唇焦，胸滿脹痛，手不可按，口渴無汗。此陽明夾食之候，法宜先用解肌，後議清裡可也。</p>
<p>粉葛（三錢）　石膏（二錢）　豆豉（二錢）　山梔（錢半）　枳實（二錢）　甘草（三分）　薄荷（一錢）　姜（二片）</p>
<p>又初八日，晚診得右寸關滑大，肝部浮數，腹痛雖平，而肌表之熱未退，主解肌清表。</p>
<p>乾葛（三錢）　石羔（三錢）　桔梗（一錢）　甘草（三分）　黃芩（一錢）　蔞仁（二錢）　澤瀉（一錢）　丹皮（一錢）　蘆根（五分）　姜（二片）</p>
<p><u>七元涇陶世揆</u>　九月吐酸</p>
<p>嘔吐酸水，連飲食俱出酸味，覺刺心而痛，繫好飲酒之人，服四帖愈。</p>
<p>茯苓（三錢）　桂枝木（一錢）　澤瀉（一錢）　黑山梔（薑汁炒二錢）　橘紅（二錢）　蒼朮（錢半）　查肉（二錢）　砂仁（一錢）　甘草（五分）　半夏（二錢）　薑汁（二匙）　鐵鏽水（三匙）</p>
<p>三瘧之發，由風邪痰飲，伏於衛至深之處，始以散邪為主。若病久又必崇土為先，兼和營衛，脾土健，營衛和其邪自不能留矣。</p>
<p>炒白朮（錢半）　嫩黃耆（一錢二分，酒炒）　歸身（一錢二分）　炒白芍（一錢）　茯苓（錢半）　川桂枝（五分）　廣皮（一錢）　半夏（錢半）　炙草（六分）　秦艽（錢半）　大棗（三枚）　老薑（二片）</p>
<p>清晨河水煎服四劑，後去桂枝，又十劑，戒力作，忌發物。</p>
<p><u>鍾獄處陳老老</u></p>
<p>左脅中痰氣結成痞塊，按之汨汨有聲，服之大效。</p>
<p>半夏（薑汁炒，三兩）　白朮（土炒黃，一兩）　上肉桂（去皮不見火，五錢）　炒山查（二兩）　薑黃（曬，一兩）　炒白芥子（一兩）　瓦楞子（煅，二兩）　醋炒青皮（一兩）　廣皮（括去白，二兩）　炒茯苓（二兩）　生木香（五錢）</p>
<p>共製為末，醋打神麯糊丸，如綠豆大，每服三錢，薑湯送下。</p>

<h1>學山公方案（諱宗岳字岱瞻）</h1>
<p><u>王業侯令政傷寒治驗</u></p>
<p>業侯令政，素多鬱怒，因產後嗽咳未除，口乾喜飲，至春夏之交，忽惡寒壯熱，身重頭疼，其上則時欲飲水，水入即吐，下則氣痛泄瀉，小水全無。所服皆柴胡、黃芩、桔梗、竹茹、澤瀉、豬苓等藥，外熱似減，諸症轉甚。予忝在相知，為越俎而代庖焉。診脈兩寸浮大，關尺弦數，且聞噯氣頻加，並見上氣難忍，不得不略陳一二。以辨症定治，大凡傷寒之來，始太陽而絡厥陰，在一經則有一經之症，有一經之症，必有一經之脈，以符合之。雖其錯綜變化，自不可執，要不外乎同中察異，所謂有者求之，無者求之是也。故有時上病不必治上，下病不必治下，從乎中治；有時上病而反治下，下病而反治上，運用存乎一心。夫當頭痛治頭，腳痛醫腳，遂以畢神奇之用，而稱大方家哉。即今外顯惡寒發熱，頭疼吐逆，是太陽表症未解也。喜飲湯水，仍不能飲，非熱邪之入里，乃津液結聚於胸中也。肺主氣，水出高源。故經曰：膀胱者，州都之官，津液藏焉，氣化則能出矣。胸中為津液結聚，兼以素多鬱怒，遂使肺失其職，不能通調水道，下輸膀胱，須開其水飲，達陽和，則上之口乾，不治自愈，而下之小便，不利亦多矣。因請立方，遂以小青龍減麻黃、細辛、五味，加茯苓、前胡、紫樸、蘇梗、廣皮，一劑立效。噯氣未除，兩寸尚浮，此氣逆上也，再加益智、香附，服後向安。但下午微寒，寒過又熱，至天明始退，如是者二日，此客病已去，本病猶存。因用調理脾胃，兼養血分之品，投之乃愈。（壬寅初夏）</p>
<p>桂枝　白芍　炮姜　炙草　半夏　茯苓　前胡　紫樸　蘇梗　廣皮</p>
<p><u>陸繩武令政產後發熱論治</u></p>
<p>產後之症，以補養氣血為先，雖有他患，以末治之。所以內熱口乾者，不得任用寒涼，用寒涼則新血不生。而胃陽受困，頭疼惡寒者，不可專行發散，行發散則氣隨汗出。而精神告匱，前六七日時見脈勢澀弱，飲食不入，乳汁全無，頻頻自汗，以為平素體虛，而產後過傷氣血，用陽陰平調之劑，從緩治也。目今寒熱時發，神氣不清，脈來澀數而弱，左關略旺。大抵皆陽陰二氣，自力乘侮，非干外邪所致。其神氣不清者，一由於血室空虛，留瘀得以隨熱勢而入，一由於胃陽不固，心神因以隨自汗而傷。法宜生血以退熱，養氣以安神，開胃以加食，乃能全愈也。</p>
<p><u>俞君愛令郎危症治驗</u></p>
<p>今春三月中旬，周莊俞君愛次子來，述其兄病症危篤，堅請一診。至則見其面黧神瘁，口噤自合，脈來軟弱，沉思半晌，因詰之曰：是病外無六經之邪，內無五藏之患，莫非負重遠行，枵腹任勞乎？何厥狀之困頓，至於此極也。其家人曰：興工築岸，半月來勿得休息，繼又到貴鎮探視，食生冷難化之物，歸至中途，嘔吐頻作，胃中由是脹痛？三月前服導滯丸，大便行過數次，然終飲食不思，脹痛自若，轉覺神氣憤亂，今病危矣。原先生有以救之，乃恍然曰：勞苦旬余，過傷脾胃，復食以難化之物，其不能容而吐出也宜矣。一吐則脾胃愈傷，從前困倦之態，始顯呈於外。藥貴半養神而半和胃，乃能奏效收功，服下二劑，果不爽言。</p>
<p><u>戈道士勞傷發熱咳嗽治驗</u></p>
<p>戈道士，年二十餘，先患傷風咳嗽，旬日後，勉力負重，發熱臥床。於是口渴痰盛，自汗脅疼，兼下血水數次，微利便黃。前醫四劑不效，加以氣短食減，來延予診，予見其面色浮紅，三言三止，早已知屬虛者半矣。乃診之則弦數浮滑，左大於右，一似有餘者然，然按之豁如，且不耐久診，久則手動作振動之勢。告曰：乃知內傷外感併發，由下虛而上盛，氣怯而神露也。若純用下氣清熱等藥，症將不起矣。方用丹皮、花粉、桔梗、桑葉、橘紅、薄荷、甘草、茯苓、白芍，加倍燈心為引。一劑熱退，二劑氣平，再服二帖，去花粉、薄荷，加麥冬、苡仁，遂獲愈。</p>
<p><u>陸久凝三公郎寒熱脹痛治驗</u></p>
<p>泗港陸九文昆仲，夙年相知也。仲秋之月，久凝三公郎，忽寒熱頭疼，從胸至腹，脹悶不堪，久文知醫，先服解肌消導之劑，不效。來鎮相邀，值予在云亭曹氏，乃請承調元往診。用小柴胡加石羔，頭疼雖止，諸症轉甚，加以噁心。使者相望於道，適又他出，不得已延余弟宇瞻診視。云是結胸，主以瓜蔞、山梔、枳實、竹茹、黃芩等藥，服後胸腹愈痛。伊兄允升，躬叩予門。同仲兒尋至慕義莊，飛掉歸家，薄暮始得抵彼，病者聞聲欣然曰：先生其救我乎。蓋望之久矣，予因思結胸成於下早，否則日久邪陷亦成。今疾作而痛隨起，定非結胸，細按右脈弦中帶緊，其間必有寒物阻住升降，以寒涼治之，所以脹痛日甚。況是日陰雨兩旬，天時之濕，感召極速，必平胃散加藿香、腹皮、蘇梗、半夏、柴胡、烏藥，始得破其壅塞。忙服一劑，下咽後噁心頓止，覺腹有聲如雷，頃刻脹痛若失，遂能安臥無虞。丙申仲秋存案</p>
<p>蒼朮　陳皮　厚朴　甘草　藿香　腹皮　蘇梗　半夏　柴胡　烏藥</p>
<p><u>蔣天祥令郎傷寒危症治險</u></p>
<p>蔣天祥令郎，年十三，今秋患傷寒，更數醫調治，有用麻黃髮汗者，有用石羔瀉火者，更有用牛黃大黃清心行滯者，鮮獲一效。後市醫以啟脾為主，自謂妥當得法矣，亦卒無成功。比及四旬，勢病轉劇，將治後事。乃延余診，涕泣哀告，請決行期之早晚，非以望愈也。余觀大肉已脫，面赤唇紅，時時乾咳，午後發熱尤甚，六脈浮數，兩寸兼大，知其精液被藥久傷，肺金為火所爍，是為陰虛陽盛之極，不速治之，必變成癆瘵，雖勿即斃，亦難望愈。所喜者，三部中無弦急不和之狀，猶有生機。遂慰其父曰：是病雖重，可以不死。予且勿優，從前之藥，悉屬誤治，倘能堅信予言，數劑必獲全效。方用門冬、青蔥、沙參、秦艽、白芍、丹皮、甘草、薄荷、桔梗、桑皮、橘紅，一劑熱退，再劑身涼，咳猶未除。去薄荷、秦艽，加五味九粒，石斛一錢，連進四服，氣平咳止，即思飲食。是余獨有確見，所以立方用藥，得心應手，因筆之以志一時之見云。</p>
<p><u>方裕遠政傷寒發痙將危治驗</u></p>
<p>方裕遠政，寒熱如瘧，柳仁和以解肌清熱之法治之。數劑後神昏口噤，手足拘攣。有蔡松濤者，江寧人也，近居吾鄉，新與方結為秦晉，迎歸調治，見勢危急，束手無策，遂辭去。於是遣使相招。進診時，力持其手，乃可切脈，觀松濤所定藥案，議論似是，用藥實非，猶以一杯水救一車薪之火也，安能起一生於九死哉。即索筆紙，立書數行，大約謂風寒濕三氣，雜合難解，正虛邪盛，以至此極。當遵太陽剛痙法，用桂枝、天麻、鉤鉤、秦艽、木瓜，通其經絡，茯神、菖蒲、半夏、甘草、丹皮，開其心神，頻頻灌下。半日人事稍清，三宿手足亦舒。見胃虛神困，加人參、歸身，平調四劑。裕遠以為無事，不復醫治。半月後神呆氣滯，語言恍惚，就商於予，為用清心消痰之藥，遂獲愈。</p>
<p><u>又傷寒後神呆氣滯語言恍惚論治</u></p>
<p>裕老夫人，秋間患傷寒，瀕於死，余為起之，實未全愈也，迄今神呆氣滯，語言恍惚，目不停瞬，請約略言之，以定主治之方。經曰：言者心之聲也。又曰：心藏神。是故心氣實，則神完氣固，可以慮周萬事，而應變無方，可以答對如流，而秩然有序。傷寒之來，津液先耗，邪氣內陷，昏憒累日，不語經旬，知清陽之受困者深矣。所以飲食如故，形體如故，而其神明之地，久為餘邪所據，生火生痰，已非一日。非有以抉去之，則厚味之入，適足以資盜糧；非有以鎮固之，則遊子之歸，恐難期之歲月。且經曰：木屬肝，肝能生風，風主搖動，目得血而能視。由此觀之，肝氣虛，肝血亦虧矣。今當養心補肝，兼以消痰，斯為合法。</p>
<p><u>沙甌瞻二媳時氣治驗</u>　乙卯二月</p>
<p>甌瞻次媳，繆氏女也。繆無子，止生此女，性多躁，久患三瘧，春初歸探母病，維持而調護之，寒熱交作。有程姓蒙師，屬在比鄰，亦稍知醫，道服發散藥，熱已漸退，連食腐漿大棗等藥，胸前遂覺脹悶，熱又復作。乃延余診，因用和解清導一帖，已自減可。程不思彼體虛，加入三稜、蓬朮，噯氣轉加，吐痰不已，酌方主和營衛，兼清氣化痰，寒熱乃止。但汗出過多，反覺惡寒脈細。且所吐者皆清水，而小便全無，少腹腫滿，余思脾氣又虛之人，土不制水，水泛為痰，土不生金，金難化氣，惟納其氣以歸腎，燥其脾以培元，則水不患其無制，金不患其失司。遂以五苓散加益智、半夏、廣皮、車前，外用杉木皮煎湯薰洗，病即全愈。</p>
<p><u>六娘娘</u></p>
<p>胎前寒熱，以致小產，去血過多，精困神昏，語言不出，寒熱仍來，勢亦險矣。勉擬於下。（小產後）</p>
<p>當歸（三錢）　丹參（二錢）　茯神（錢半）　澤蘭（一錢）　青蒿（一錢）　炙草（五分）　炮姜（四分）　菖蒲（三分）</p>
<p>浮麥（三錢）　大效。</p>
<p>得病六七日，轉覺頭疼壯熱，咳逆煩渴，診脈右滑大，左弦急。此係風熱鬱遏三陽，當涼解為法。（風熱咳）</p>
<p>石羔　杏仁　甘草　桑皮　前胡　麻黃　薄荷　橘紅</p>

<h1>宇瞻公方案</h1>
<p><u>徐云上令郎忽然吐瀉症</u></p>
<p>吐瀉六脈微弱，面青肢冷，氣脫神疲，中氣衰而脾陽欲脫，已成慢脾風候，擬參附理中一法。</p>
<p>人參（六分）　附子（三分）　廣皮（八分）　藿香（六分）　半夏（八分）　茯苓（錢半）　烏梅（一枚）　炮姜（三分）</p>
<p>陳米（一撮）　服一帖，去烏梅參附姜米，茯苓減去五分，加炙草三分，白朮錢半，益智仁五分，三帖全愈。</p>
<p>產後脈澀而數，形羸氣怯，腹痛腰疼，潮熱心悸，將成蓐勞，症非輕可，宜建中湯。</p>
<p>黃耆　雲苓　白芍　甘草　桂枝　棗仁　丹參　廣皮　香附　煨姜</p>

<h1>恆齋公方案（公諱健字體乾）</h1>
<p><u>常熟蕭宅女</u></p>
<p>上則喉口糜爛，下則腹痛便溏，病由去秋延及今夏，時作寒熱如瘧，緣勞心體質，夏氣失長，秋冬收藏，今至暑氣，為之內伏。今診脈左尺寸俱緊，右關重按見澀，面色赤黑晦滯，舌苔膩厚黃白。睹色切脈，見症情形，明明腎水鬱及丙火，三焦失司宣化耳。河間云：膀胱移熱於小腸，膈腸不便，心胃壅熱，上為口糜，主以柴胡地骨散。奈病久食減虧虛，虛火易以升動，用藥以此為棘手，不獲已。小其劑，緩其制以進之。</p>
<p>柴胡去苗、地骨皮二味等分為末，水一盞，煎至八分，去滓，食前服，每服藥末，或二三錢可也。進三服大效。</p>
<p><u>門生戚孟揚室胎前痢</u></p>
<p>龜板　牛膝　炮姜　白芍　炙草　夏枯草　麥冬　沙參　薄荷梗</p>
<p>女人年二十四歲，難產旬日不下，請穩婆割下，割傷內里大腸，以致糞皆從小便出，所喜飲食如故。</p>
<p>真黃絹（如無以黃繭代之）　豬大腸，二味煨熟，吃豬大腸。如此吃三日，即愈矣。</p>
<p>治血痢　細生地　歸身　山梔　白芍　知母　牛膝　薄荷　炙草　荷葉　夏枯草</p>
<p>瘀血不下，用司天升明湯，紫檀、野薔薇根、半夏、棗仁、青皮、車前子、生薑、甘草，加歸尾而下。</p>
<p>劉某口臭，用地骨皮、石決明、牛膝、冬桑葉等愈。</p>
<p>張某腫脹症，用司天升明湯，紫檀、車前、青皮、半夏、棗仁、薔薇、生薑、炙草、茅朮、白朮、檳榔、厚朴、防已、生地、澤瀉，愈。</p>
<p><u>肝氣痛秘方</u></p>
<p>制川附　歸全　焦白芍　赤苓　陳皮　丹參　遠志　製半夏　炙草　內虛熱，加川楝子。</p>
<p>彭元瑞，小便不通，姬妾多而服春藥之故。案云少年誤服丹藥，以致小便不通。</p>
<p>金汁蘆根湯沖服。</p>
