<header data-type="book">
<h1>傷寒辨要箋記</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>程門雪</dd></div>
<div><dt>原著</dt><dd>日·淺田惟常</dd></div>
</dl>
</header>
<p>此著，余閱之，其議論尚中正，有可取，又分門類亦簡括，故依其目而節錄其可取者，附載臆義於後，以為它日之用焉。庚辰四月門雪錄記。</p>
<h2>辨六經</h2>
<p>仲師舉傷寒而括陰陽，建六經而標病位，其論至簡至易，實為前古不刊之訓矣。</p>
<p>徐洄溪曰：欲讀傷寒論，必先識六經之本證，然後論中所言源流變態，形證色脈，合併疑似，用藥加減異同之故，可以曉然，不致眩惑貽誤矣。</p>
<p>物茂仰曰：三陽三陰，陽明厥陰之說，與「易」之老陽老陰有別，蓋醫家一家言也。</p>
<p>賀屋恭曰：史遷所記，既有六經之目，而與本書所設三陰三陽自別，所謂三陰三陽，因非經名也。《扁鵲傳》好言臟腑，而是書不言之，其立論之意，大有徑庭也。太陽少陽太陰少陰之言，始見於《子華子》，《易言》四象，而不分太少陰陽。三陰三陽，他書無所見，是必醫家之所立，設以辨病體者也。</p>
<p>藤本廉曰：三陰三陽之目，何謂而設？凡疾病有六等之差，而地位脈證不相同也。</p>
<p>吉益猷曰：三陰三陽，皆因形狀所名之病名，而非六經之謂也，故終篇稱某病，而無稱某經者可以知矣。</p>
<p>雉間煥曰：抑古人言稱六經，動及陰陽，其志蓋始於取譬，則區別其證之目耳。</p>
<p>淺也徽曰：傷寒所稱三陰三陽者，即仲景所以標病位而分陰陽，故也單稱為六部也，後人以為經絡，其意不通。朱肱，王好古，陶華輩，鑿鑿費解，多見其違道矣。夫以六經為經絡，則《素問》之義。與標病位而分陰陽者，因別也。</p>
<p>雪按：淺田粟原翁曰：三陰三陽，諸家皆主經絡臟腑，而各有異同，畢竟穿鑿拘泥，無效實用。上所錄者，即其所箸六經考中徵引東國諸家所論也。大旨都謂六經是借標病位，不做臟腑經絡解。復有中西唯中，山田正珍二家，意也差同，其說已另錄，茲不贅。其大旨均為傷寒六經與《素問》不同，《素問》是言經絡，傷寒不本素問，但假此以分表裏之部位，配脈證以為之統名也。山田又曰：以六經立名，猶數家者流，以甲乙為記號耳。東國諸家所言如此，幾若一說，余意不然，六經病證表現與素問臟腑經絡主病，合者十九，偶有一二未合耳，謂不必拘於臟腑經絡之說則尚可，謂必盡指臟腑經絡之說則嬌枉過正矣。余以為言六經諸家說中，只程應旄《後條辨》贅餘數語為最合，最得真理，蓋學識經驗並到之警語也。其言曰：「素問六經是一病共具之六經（謂一病傳移於六經時，所各具之狀態也），仲景之六經，是異病分部之六經（謂六經各自為病也），素問是因熱病而原及六經，仲景是設六經以盡賅眾病。」數語字字金玉，為諸家所遠不及。明乎此，則素問與傷寒之同異處，（素問熱論所言六經病證，與傷寒同者甚多也）可以了然無礙，一以貫之矣。</p>
<h2>辨太陽病：</h2>
<p>邪盛於表，謂之太陽。蓋邪初犯表，正氣不暢，屈而為惡寒，激而為發熱，使血脈動惕逆行，是以顯脈浮，頭痛，項強，惡寒發熱等證也。此病大端有二：一則其人腠理開疏，邪不內迫，徒泛漫肌肉，故脈浮緩汗同，是如中風，對傷寒緊縮之邪而稱，其輕者耳。一則腠理緊閉，邪氣怫鬱，遂迫骨節，故脈浮緊，無汗，骨節煩痛，是為傷寒，對中風散漫之邪而稱，其重者耳。此即表病之大綱，而桂枝麻黃之分也。</p>
<p>雪按：以下遍記太陽篇諸條方治，文多不錄，以無精彩處也。又按：太陽正病是大青龍湯，人所未曉，以桂枝麻黃證用之，當可以一二劑解，未有變化續起也。大青龍則有麻黃之外證，而內見煩躁，即原文所謂「脈靜者不傳，頗欲吐，煩躁脈數急，為傳也」之傳證是已。一起即有傳證，知其來勢鴟張，方興未艾。太陽之大小青龍，與少陽之大小柴胡，陽明之大小承氣，同為三陽大邪小邪，正病副候之主要方治，人能知此意，則於原文所載，朗若觀星，明如印月矣。</p>
<h2>辨陽明病：</h2>
<p>陽明病（外之身熱，惡熱，潮熱，內之腹滿譫語，燥屎）所謂胃家實是也。胃熱散漫，未結實，脈洪大浮滑，腹滿身重，譫語遺尿，為白虎湯，口乾舌燥者為白虎加人參湯。</p>
<p>胃熱結實者三治：一：胃氣不和，惡熱心煩，為結實，調胃承氣湯。二：脈滑而疾，譫語發潮熱，大便堅，腹大滿不通者，小承氣湯，（第二條原有未致燥屎四字，不妥，故去之）。三：脈已實大遲，燥屎轉結，手足濈然汗出，身重短氣，腹滿而喘，譫語如見鬼狀者，為大承氣湯。</p>
<p>若不識人，循衣摸床，惕而不安，微喘直視，為胃實之熱，其脈弦者，精氣尚存，宜下之，若脈微澀，為精氣萎縮不振之候。</p>
<p>此皆太陽少陽之邪漸陷於胃者，其證屬緩下之治。（雪按：大承氣以下重證，當移於下面正病自發之中為當。）若目中不了了，睛不和，或汗多，或腹滿痛者，劇熱迅傳，勢近危急，與少陰大承氣證，同屬急下之例。</p>
<p>雪按：上大承氣證下，腹滿而喘，譫語如見鬼狀，循衣摸床云云，均當移在此下。</p>
<p>此陽明之正治也（雪按：此則正陽明病自發重證，與移傳燥屎緩下之候大殊，此見與余暗合，故詳錄之）</p>
<p>雪按：至太陽表證未解之桂枝，麻黃湯，胸脅滿而嘔之小柴胡湯，是太陽陽明並病，少陽陽明並病，先治太少之例也。梔子豉為陽明初治，介於表裏之間，豬苓湯非陽明正文，實引證之例，淺田翁謂是陽明之旁證，未盡合也。惟熱入血室，熱結膀胱，瘀熱發黃諸證，乃真陽明旁證耳。至外導諸方，當例之過汗移傳燥實之下，蓋即緩下之至輕者也。又陽明胃寒諸條，是另言引證，以別於胃家實之陽明病也，此陽明二字，但作胃腑解，與指胃家實熱之陽明大相懸殊，勿拘泥為一解也。</p>
<p>記曉嵐曰：乾隆癸醜間，京中疫，以景嶽法治，十死八九，以又可法治，亦不甚驗，桐城一醫以重劑石膏治馮星寔（通是）之姬人，呼吸將絕，應手輒痊。有一劑用至八兩，一人服至四斤者，踵其法者，活人無算，考喜用石膏，重過於明廖仲淳，本非中道，王懋竑（通宏字，意也通）白田集，有石膏論，力辯其非，不知何以取效如此？此也五運六氣適值其年，未可執為通例也。趙藜村治袁倉山陽明經署瘧，以石膏西瓜，見效亦同。（郭按：張錫純說，石膏乃外感實熱證之金丹，我於臨床中也屢用得效，辨證真確，不必疑慮。）</p>
<h2>辨少陽病：</h2>
<p>熱稍去表，而不專裏，邪屯巡表裏之間，邪氣不借物而結，但與正氣更互分爭，留於胸脅而上薰，為少陽病，唯小柴胡一方正為的對，故以往來寒熱，胸脅苦滿，默默不欲食，心煩喜嘔為本，以口苦，咽乾，目眩為標，其來路必經太陽，（為柴胡加桂枝湯，柴胡乾薑湯之法所出也）其去路多歸陽明（大柴胡，柴胡加芒硝湯之法所由出也），其服柴胡已渴者，為屬陽明，無大熱而煩躁者，為陷陰位也。</p>
<p>劉茝（郭按：茝音chai，古書上說的一種香草,即「白芷」，山茝,槁本也。――《廣雅》）庭曰：吳又可主疫邪自口鼻入，蓋膜原實少陽之部，而達原三消有地方之宜，或驗於今。然審其主證，猶不能出大小柴胡之例也，想當其時，邪勢最厲，遽犯半表裏，遂立此說耳。董氏《南塘感證》引傷寒心法稱，見今世甚少太陽證，其書適與吳氏時世相近，可以證矣。世有墨守吳氏法，忌用麻桂，視柴胡為餘熱治法，故附識於茲。</p>
<p>雪按：小柴治餘熱甚隹，大柴則不爾，人未辨別耳。大柴實少陽主方也，《蘇沈良方》小柴胡加減條曰：元佑二年，時行，無長幼皆咳，服此（去參，大棗，生薑，加五味子，乾薑者）皆愈，當時上壅痰實，只依本方，食後臥時服，甚妙。赤白痢尤效，痢藥中無如此妙者，蓋痢多因伏署，此藥極解署毒也。（雪按：治咳治痢有效可信，記以備對證之用，唯謂此藥極解署毒，恐未必然耳。）</p>
<p>郭按：評語正確。回憶七十年代，我在風西村時，當時正搞合作醫療，那年痢疾盛行，因痢疾多有腹痛證狀，我偶用痛瀉要方治一人得效，當時我表哥也當赤腳醫生，他把方抄去後，從亮兵大隊衛生所中，一次便照方拿了幾十付藥，村中凡得痢疾而願服中藥者，便給予一二付煎服，幾無不愈者，視為神方。當時我們二人都是初學醫，只是想當然的用方就是了，並不會辨證，在後來的行醫中，我也屢用之，但有效有不效，何以那年的痢疾如此有效，後來卻不能盡效呢？這裏有辨證準確與否的問題，有致病細菌菌株對此方藥敏感與否的問題，（當然，前人也許還認識不到這些）所以不能一概而論。</p>
<h2>辨太陰病：</h2>
<p>感寒邪從裏化，胃氣屈弱，（雪按：是脾寒證也）腹滿而吐，食不下，腹痛自利，故理中四逆溫其髒，為的治矣。（雪按：原文明言髒有寒，髒者脾臟，證治俱符，乃東醫諸公欲避去臟腑經絡不言，遂硬指為胃寒，謂髒即指胃也。如直寬士粟《六經析義》即云爾，實亦太過。三陰指髒，三陽指腑，斑斑可考，證治都合，何必硬避不言耶？謂不必拘拘於臟腑經絡之說可也，必謂不關臟腑經絡，則大謬矣。三因方，活人書，皆療本病用理中丸及湯（陰證略例亦然）為能得經旨矣。金鑒以厚朴生薑半夏人參為本篇治法，此大邪已去，只剩腹滿一證者，與本篇胃寒腹滿迥異也，</p>
<p>（雪按：金鑒說不誣，確是太陰病也，只稍輕耳，大邪雖去，病位不易，安可謂其非太陰耶？此段蓋全本之六經析義者引其文也）至陽明中寒諸證，皆轉系太陰，可見太陰陽明，殆其同局（雪按：脾胃同宮，本極有系屬者）而虛實一轉，互相變也。按本篇曰：下之必胸下結硬，朱肱曰：近人多不識陰證，但見胸膈不快，便投食藥，非其治也。大抵陰證由冷物傷脾胃，陰經受之，主胸填滿，面唇皆無色澤，手足冷，少情緒，脈沉細，投快利藥，胸膈愈不快，或吐而利，一二日遂致不救，蓋不知寒中太陰也，近世此證頗多，余與增損理中丸，救活甚多，因拈古人治驗於右。</p>
<p>外台崔氏曰：時行四五日，大下後，或不下，皆患心下結滿，兩脅痞塞，胸中氣急，厥逆欲絕，心胸高起，手不可近，不過二三日便死，用瀉心，大小陷胸，並不得療。此下後虛逆，氣已不理，毒復上攻，毒氣相搏，結於胸中，縱不下者毒已入胃，胃中不通，復搏於氣，故致此病，當先理其氣，次下諸疾，與增損理中丸。又曰：用此效的神速，下嚥則折，不過六七丸，胸中豁然矣，藥之速無如此者，然渴者當加栝萎，下利者當加牡蠣，不渴不下則除之，於時枳實乃為之貴，療氣理結，重過理中丸，然乾薑性熱，故減其分，茯苓通津，栝蔞除渴，牡蠣止利，謹審其宜，無不得矣。（以下驗案數則，不錄）此行功自敍也，余與此丸與枳朮湯兼服，理無不驗，可以徵焉。（雪按：理中治痞，蓋本之論中桂枝加人參湯而加減者，加栝蔞牡蠣法亦出小柴方後加減例中，蓋仍由傷寒論中悟出者焉，百變不離其中，此仲師所以媲絕千古也歟。</p>
<h2>辨少陰病：</h2>
<p>雪按：淺田宗伯少陰門無精義，惟附錄尚可取耳，藥就所記，參諸家而詳為分析之。少陰以但欲寐，惡寒自利，脈細沉為候。</p>
<p>一：本證自感表邪，但素陽虛，別無裏證者，麻黃附子細辛甘草湯微發汗，溫經散邪，治反發熱，脈沉無裏證者，此是少陰經邪自病，諸家解太陽之表，少陰之裏二感者，非也。（雪按：反發熱雖本虛寒，尚有抵抗力也，否則但寒不熱矣。）</p>
<p>二：深一層，無發熱，背惡寒，或身體骨節痛，手足寒者，附子湯溫陽逐寒，加腹痛下利等裏證者，真武湯溫陽利水。</p>
<p>三：更進一層，虛寒下利甚，手足厥逆，嘔煩，裏寒外熱，熱假寒真者，分二等：一，脈不出，或厥逆無脈。一，脈微欲絕。山田正珍分二法甚隹，今從之。</p>
<p>白通湯，白通加豬膽汁湯：治寒盛遏陽，厥逆無脈，脈伏不出，自利煩躁等證，是寒閉也。</p>
<p>四逆湯，通脈四逆湯：治虛寒之甚，脈微欲絕，手足厥逆，反不惡寒，下利清穀，裏寒外熱等證，是虛寒也。</p>
<p>又附二法：通脈四逆加豬膽汁湯：治閉脫相兼，症勢更重者。吳茱萸湯：治吐利，煩躁欲死，厥冷，厥少相兼者也。（雪按：吳茱萸重在吐而煩躁欲死，是厥少二陰病也，四逆重在利而厥冷，是少陰病也，一重吐，一重利，為同中之別，此表裏純陰，少陰虛寒治法也。）至少陰熱證三條，最重者一，緩證二，茲列於下：</p>
<p>一：大承氣湯：治少陰伏氣陰毒證，自利清水，色純清，心下必痛，此少陰伏熱，急下存陰之治也，淺田以為陰寒化熱，非也。</p>
<p>二：黃連阿膠湯：治心中煩，不得臥，是少陰心陰不足，心陽有餘之病，正珍引外台治大病瘥後之文，以證原文二三日之誤，大有助於本證，蓋人皆疑此方此證非二三日所應有，而惜無以證之，得正珍說乃豁然矣。</p>
<p>三：豬苓湯：治心煩不得眠，咳而嘔渴下利，下焦水熱相並者，（雪按：黃連阿膠湯育陰清熱，豬苓湯育陰利水，治心煩不得眠同，而兼證相異得也。又少陰本但欲寐為主證，此即心煩不得眠為要點，是正相對舉，可資研究者也。此二條皆緩證，與虛寒實熱急證重證，遠相異民。至四逆散是厥陰少陰相錯之治，謂少陰病極不合，其冒首三字，必誤不疑。又若桃花湯，雖唯忠發明是真武湯證服後不效，繼見便膿血之治方，以日數見證等為言，似甚有理，然終覺牽合，不似仲師原法之率真簡白，余謂桃花湯之治虛寒下利便膿血，與白頭翁之治熱利下重口渴，赤石脂禹餘糧之治下焦滑脫下利，原不必限定厥陰少陰證也，一是腸寒，一是腸熱，一是腸滑不收，同為下利對證治療之妙法，所云傷寒轉雜病壞證者是也。必斤斤於厥陰少陰云云，反失活潑用方之妙矣。其他咽痛咽瘡諸方，不過少陰治標之藥耳，淺田言是，正珍謂是叔和摻入，原非屬少陰原文，尤爽絕也。瓜蒂散，以證相似對示之條，原非本門所有，更不論焉。少陰厥陰門中，因類證變異這故，所收非本門應有條甚多，後人每作本門病解之，大誤也。至本門應有之文，又多散見太陽三篇之內，須意會收輯之，以便歸納而分析焉。</p>
<p>獲野原凱曰：天明間，溫疫流行，其證似胃實，而微見陰狀，殆與嶺南瘴瘧類，醫用大黃則死，用附子則生，爾後年年所行，疫證頗同，多用附子以免危，其以大黃治者，十不過二三也。</p>
<p>梯謙曰：天寶間，凡疫汛濫，闔門伏枕，大率上盈下虛及少陰證，當時遵用古方者，專為汗下，或主吳氏疫論，薦投駛藥，而不顧正氣之虧，故服大黃死者，十居其九，服附子死者，百中一二耳。</p>
<h2>辨厥陰病：</h2>
<p>蓋厥陰者，三陰之極，無有所傳，然物極則必反，於是有陰變陽，寒化熱之證，（物極必變，陰變陽，寒化熱之語，厥陰主旨）。</p>
<p>雪按：由少陰而厥陰，其極而不變化者，則誠如山田正珍所云，厥陰為至深至極之候，其文雖缺，以意推之：四肢厥逆，煩躁吐利，脈微欲絕等等，固不竢言，當較少陰證為更急焉，然如篇中所載吳茱萸湯條，四逆湯條，通脈四逆湯條，均為少陰篇所固有之證，淺田所謂「治法與少陰極地者無異」是也，然則何必於少陰之外另立厥陰一門哉？知其所重不獨在此，而另注目於陰變陽，寒化熱之證，此證則厥陰所獨。如《素問·熱論》，六日厥陰之後漸有來復之機者，則物極必變之理，而厥陰篇中熱厥互見諸條所淵源者也。又按：先熱者後必厥，先厥者後必熱，熱五日，厥亦五日，若厥日少，熱日多，為欲愈。則熱不退純從熱化，或咽痛，或便膿血，必居其一，此餘熱蘊留之所致也。若熱日少，厥日多，則於病為進，為陽氣衰少而有偏，或少陰虛寒厥逆之證之傾向矣，故吾謂厥陰之厥，倘不熱而從寒化，則是少陰，倘熱盛而從熱化，則有向愈之機，轉向少陽之機會，原文所謂「厥而發熱，下利必自止」，正是陽回勝陰之表示也。山田但知至深至極一面，而不知另一面實有陰盡陽生之機，故謂厥陰之要文已止，淺田宗伯則知之而未能暢其旨，所論如乾薑黃連黃芩人參湯之於吐下，是化熱未離虛寒者也，白頭翁湯之於下利渴欲飲水，則已專於熱者也，二條尚是厥陰正證，至如小柴胡湯條，是嘔吐之比較證，梔子豉湯條是煩躁之比較證，小承氣湯是下利之比較證，白虎之熱厥條，瓜蒂之寒實厥條，茯苓甘草之心下有水悸厥條，均是因厥一條引為較比者，種種均與厥陰無關，不過以其證相近，列於一處，以資辨別耳。此或後人所排者，非一定原次也，乃淺田均以為寒化熱之治法及旁證，豈非大誤耶？吾固謂其雖知而未能暢其旨也。</p>
<p>又按：厥陰消渴，氣上撞心一條，直寬士粟以為上熱下寒，極合。正珍謂叔和所撰者非也。烏梅丸主之，厥陰正經也，煩躁有時，得食嘔吐，吐蛔而厥之蛔厥，亦厥陰正證，烏梅丸所言同也。若髒寒髒厥，脈微膚冷，躁無暫安時者，淺田謂治與少陰無異，則當用四逆白通輩矣，吾謂從躁無暫安時著想，從厥陰髒寒論治，則乾嘔吐涎沫之吳茱萸湯，大可借用，且少陰病之吐利煩躁欲死者，亦借用此方，則本門之躁無暫安者，不更合耶？當以兼證旁參之。</p>
<p>三陰皆元氣不足，腸胃虛乏，邪氣直入，攻奪真元者，故見自利，厥逆，脈沉細，嘔噦振寒等證，治宜理中，四逆，吳茱萸，白通等，譬飛騎突入重圍，使既散真陽復合，以勝陰復陽者也。</p>
<p>雪按：此但就三陰虛寒一面泛而論之，大概雖爾，非精細辨認也，中川故曰：凡每歲自春至秋初，少陰狀者多，此為常。然厥陰狀者亦間雜其中，治深以淺禍不旋踵。又曰：余幼時太陰狀者流行，名護屋玄醫之徒能治之，大有聲譽。其後少陰之狀者大行，當時余既過冠，故親療之，（雪按：此日殆亦少陰之狀者大行其道之時也，否則，何以人人桂附，乃不為害耶？附記一笑。）然此二者，世未有載之書者，故當今雖多有厥陰狀者，漫然療這，無得其治法者也。</p>
<p>雪按：此說頗新奇，殆即陸九芝所云大司天運氣所系之故歟。醫家每云見證治證最妙，於此運會推移之說，十九不然，然觀今日滬醫家之大用桂附，亦殊有效，則此說不為無理，故錄以備考，且此以六經治法分屬之，似更明白了當，易於仿學者焉。</p>
<h2>辨合病：</h2>
<p>合者同也，會也，二病三病相混也，謂之合病。蓋其初感邪表裏同時受病，故設此目，以為治法之標準也。張介賓曰：今時之病，皆合病並病耳，合併二者，治法之緊關，不可不明核，若內外並治，則不止難愈，百壞變出，古人云，發表未除，不可攻裏，上盛未除，不可攻下，亦合病之謂也。</p>
<p>雪按：此說非一定，如經方桂枝人參湯，桂枝大黃湯均表裏並治之方也，須審證所要而施，不可一言限定耳。又按：三陽合病，多是伏邪蘊發熱證，如太陽陽明合病，葛根黃芩黃連湯（而淺田所云：熱盛於表，勢迫及裏，下奔為利，上逆為嘔者是也，原文葛根湯是或誤，淺田因之，未詳審矣。至不下利但嘔之葛根加半夏證，乃太陽陽明合病輕證，所以示別於必自下利，伏邪蘊發之合病重證也。以二條相連，人多信為一方不疑，不知其大有不同者也）。少陽明明合病，黃芩湯（原文是太陽少陽，余早疑是少陽陽明，已見開美本傷寒批上），又陽明少陽合病，大承氣湯，均必自下利，均治以苦寒清下之劑，而三陽合病之口不仁，面垢，譫語，遺尿，腹滿，身重難轉側，若自汗出者，白虎湯主之。更可見是伏溫蘊發，三陽混合之證無疑矣。</p>
<p>安時云：三陽皆有合病，三陰無合病，劉茝庭曰：三陰病機雖各異，其位相同，此所以無合病。中西深齋曰：三陰不設合病之名，直舉其脈證，以具之治法耳。</p>
<p>雪按：三陰未嘗無合病，第溫裏之藥，大概相同，故不舉其名，但具之脈證治法中耳。如少陰之吐利，煩躁欲死，則厥少二陰同病也，少陰見厥，十九皆同厥陰，又有陰陽合病者，如下利清穀，裏寒外熱，身體疼痛，先溫其裏，乃攻其表，溫裏四逆，攻表桂枝等條，即是陰陽合病之證也。龐言既非，劉言亦未妥，須辨之。</p>
<p>雪又按：合病是伏邪各自蘊發，同時而見，其症重劇，並病是一邪轉移變化，其證輕減，此合病與並病大異之點，山田諸公但知合病為重，而不解其所以然也。淺田亦然，茲特舉之。</p>
<h2>辨並病：</h2>
<p>張璐玉曰：並病者，一陽經病未罷，又加一經證見，二經連貫為病也。</p>
<p>雪按：並病是一邪轉移傳變，與合病之由蘊伏自發者，大不相同，淺田乃謂合病與並病雖有緩急之別，於其治法，則無有異焉，大謬甚矣。蓋由未細審仲師所用合病諸方之故，粗疏之過難辭。大法，太陽陽明並病，太陽表病未罷者，當先表後裏，太陽證罷，但有陽明證者，始可攻裏也。太陽少陽並病，柴胡桂枝湯太少並治（原文太少並病之條，一，頭項強痛或眩冒，或如結胸，心下痞硬者，慎不可發汗，汗則譫語。二，心下硬，頸項強而眩也，慎勿下之。）</p>
<p>雪按：不可下，固也，不可汗，汗則譫語，轉或胃中燥實，殆指麻黃葛根等大發汗劑而言，若桂枝當不在此例，則太少並病，亦當先治太陽，則當用桂枝無疑，今以桂柴各半為治，則最妥當之法矣。太陽證罷，但有少陽證者，小柴胡湯和之。少陽陽明並病，先治少陽，（雪按：如陽明病脅下硬滿及陽明病胸脅滿不去者，均以小柴胡治之是也，畑惟和曰：論中合併之病，陽明多，少陽少，則言陽明病，實則冒首無關係也）或陽明證多者，則兩顧之，而仍以少陽為重，如柴胡加芒硝湯是也。</p>
<p>雪按：此余節其所言這大概而分析之，得先後之例如上，可見三陽並病，先表後裏為必然之理，此就三陽淺深表裏見證，而分別論治，固有大用，以現在所見之症，一經單純者少，唯合病之旨，深微難解，而症又重劇，較此並病相去宵壤，昔人多以合併並言豈知其中固遠有別耶？余於合病一層，頗多創獲，另文詳之，此特示意耳。辨表熱裏寒（雪按：淺田此篇無甚發明，且舉例亦未清晰妥當，今依其所言，而再為分析之如下）</p>
<p>一：表有邪而裏寒者，治分二法，其證如外有寒熱表證，而裏下利清穀者。先裏後表，例如先服四逆湯治裏寒下利清穀，後以桂枝湯治身體疼痛之表，此先裏後表之治也。</p>
<p>表裏並治：例如桂枝人參湯一方，中含理中以治下利，桂枝一味，以解表邪，此並治也。大概裏重於表者，先裏後表，如第一例下利是少陰證，故先治裏也。第二例下利是太陰證，不若少陰之甚，故可表裏並治焉。</p>
<p>一：表熱全是假像，裏寒卻為真寒，因真寒而見假熱，如少陰厥陰下利清穀，裏寒外熱諸條皆是。但裏無表，例如四逆湯之治內寒外熱，下利清穀，通脈四逆湯之治裏寒外熱亦然，所謂真寒假熱，一於救裏是也。</p>
<p>雪按：表熱裏寒，不出上列二大法，及三種方治，至如桂枝加附子湯，桂枝去芍加附子湯等，是表未解而陽已虛，不在此例之中，淺田之言固然，唯桂枝人參湯證，則正在此例中者，乃也謂在例外，誤矣。附子瀉心湯與表熱裏寒不和，是寒熱錯雜之治，不當徵引及之也。又首引太陰病脈浮桂枝湯，少陰病反發熱麻黃附子細辛湯，甘草湯二條，謂是從表治，及表裏相參之治之例，亦微有不和，二證是陰經本經受邪治法，非表裏並病也，唯麻黃附子細辛之治，亦可如桂枝人參湯之例，列在表裏並治中乎？則余尚以為不可，蓋裏寒以自利為主，此無自利也。況原文明謂無裏證，不過因陰經受寒，故用溫經以散寒耳。當與桂枝加附等湯證，，事屬例外，乃引為正例，其不當甚矣。此淺田見識所未及，辨認所示真也歟。</p>
<p>表熱裏寒：則先表而後裏，先實裏者，恐脫證悠至，邪也從陷也，裏既實，從事於表，亦不為遲。</p>
<p>雪按：溫裏之藥，且也兼能散表寒也。</p>
<p>表熱裏實：則先表而後裏，先攻表者，恐表邪併入，裏熱壅重也，表已解，從事於裏，亦不為遲，設先攻裏，則胃空邪乘，為壞病矣。</p>
<p>雪按：此劉茝庭說也。仲景明律，確如此分別，甚隹。畑唯和曰：裏寒格陽，雖身有大熱，內證口雖乾渴，必不喜冷，飲不多，舌雖有黑，苔必滑潤，或小水清頻，氣短懶言，色暗神倦，或錯語鄭聲，或斑如蚊跡，淺紅細碎，與紫赤極熱者不同，此假斑也。假熱之脈，必沉細遲弱，或雖浮大緊數，而無力無神，此熱在皮膚，寒在臟腑，但使元陽漸復，熱必退藏，外台秘要曰：陰躁欲坐井中，宜熱藥，須冷服，熱因寒用之法也。</p>
<p>假熱象：大熱大渴，舌短舌腫，唇焦齒逢出血，譫語發狂，手足躁擾，撚衣摸床，肌熱如蒸如火遼，面目俱赤，煩躁有汗，欲坐臥於水中。</p>
<p>真寒據：脈七八至，按之則散，或洪而數，弦而大，按之則真虛或全無，舌白苔而滑，或質黑而光潤。</p>
<p>此陽浮於外，陰伏於內，內真寒而外假熱，無根之火也，宜用大劑回陽，腎氣，參附，四逆之屬，冷飲之，虛火歸源，諸證自止。</p>
<p>此節錄李明之說也。</p>
<p>雪按：仲師之言，真寒假熱也，必以下利清穀為主候，此真寒之確據也，確據既得，假像可明矣。再以脈之細微欲絕，合之身之大熱而手足厥冷，尚何可疑耶？其言簡而明，人人可知可舉者也，後賢則論過玄奧，甚至謂大便閉結，小便赤澀者，亦有假熱象（如畑唯和所云，未錄入）即如明之所辨，雖似詳備，然均不言下利清穀一主候也，於許多熱證證據中，僅憑脈之空虛一點，而投死生系焉之藥，戛戛乎難矣哉，與仲師之法平易近人，證據充足者，大相懸疑矣。吾意後賢所言，雖高而空，若過信之，一有不當，貽禍非淺，不若仲師之腳踏實地，不衿奇而真確可靠也，吾從仲師矣。</p>
<h2>辨外寒裏熱：</h2>
<p>一：假寒真熱：一名熱厥，是陽氣鬱內，不能四布於外也，以祛裏熱為主。</p>
<p>四逆散：邪壅半表裏而為厥者也。</p>
<p>白虎湯：熱結在裏，散漫無實，大煩渴，脈滑而厥者也。</p>
<p>大承氣：胃家燥實，熱實而厥者也。</p>
<p>烏梅丸：寒熱錯雜之蛔厥也，與外寒裏熱者略異。</p>
<p>雪按：此言厥非屬寒而屬熱者各方法也，至豬苓湯，白頭翁湯，乾薑芩連人參湯無厥證證象，淺田翁之誤也。</p>
<p>一：外寒裏熱：例如桂枝白虎湯，一面用白虎清裏熱，一面用桂枝散表寒是也，此為外寒束其內熱者之治。</p>
<p>雪按：此一條，不可無者也，淺田所未及，故為補之。外寒裏熱，不出二者之外矣，但以第一條為重候焉。</p>
<p>厥深熱深，厥應下之，反發汗，必口傷爛赤，是言熱厥證者也，素問諸陰之反，脈至而從，按之鼓甚而盛，是論熱厥之脈者也。</p>
<p>假寒象：手足逆冷（即厥也）或畏寒，或戰慄，此熱極於內，而寒見於外，熱極反為寒化也。</p>
<p>真熱證據：（脈）沉伏而滑，頭上有汗，手雖冷，時復指爪溫（朱肱說），沉滑有力，或滑實有力，舌苔乾燥（畑惟和說）。</p>
<p>證：大便秘，小便赤，或大便黑色（朱肱說），聲壯氣粗，形強有力，苔焦，舌黑乾燥芒刺，沉香色，口渴欲冷，口臭煩躁，小便澀赤，大便秘結，或下利純水，色青，中仍有燥糞及矢氣太臭（畑惟和說）。</p>
<p>治：不內實，腹滿身重，譫語，遺尿，口乾，舌燥，大煩渴者，白虎湯。</p>
<p>內實燥屎，腹滿而喘，譫語如見鬼狀者，或下利純清，心下滿痛者，大承氣湯，稍輕者，小承及調胃承氣選用，或寒熱者，大柴胡下之。</p>
<p>雪按：當云，小柴胡加大黃也。</p>
