<header data-type="norender">
<h1 hidden>典籍檢索</h1>
</header>

<div id="search-wrapper">
  <header class="error">錯誤：本檢索引擎需要ES2017以上版本的JavaScript才能運作，而您的瀏覽器不支援或停用了相關支援。</header>
  <section id="search-panel" role="search" aria-label="檢索面板" hidden>
    <form id="search-panel-form-range">
      <details open aria-description="選取要檢索的典籍。可按住滑鼠框選或用 Shift、Ctrl 等按鍵輔助選取多部典籍。也可以輸入關鍵詞篩選。">
        <summary>檢索範圍</summary>
        <div>
          <select id="search-panel-books" multiple size="10"></select>
          <div>
            <label for="search-panel-booksKeyword" aria-description="用於篩選典籍名稱的關鍵詞，語法與 [檢索內容] 的關鍵詞相同。可在 [檢索內容] 設定是否 [查找異體字] 或 [區分大小寫]。">關鍵詞: <input type="text" size="20" id="search-panel-booksKeyword"></label>
            <input type="submit" value="篩選" id="search-panel-booksFilter" aria-description="只列出符合輸入關鍵詞的典籍（未列出的只會隱藏，不會取消選取）。關鍵詞空白時會列出所有典籍。">
            <input type="button" value="全選" id="search-panel-booksSelectAll" aria-description="將所有列出的典籍加入選取。">
            <input type="button" value="全不選" id="search-panel-booksSelectNone" aria-description="將所有列出的典籍取消選取。">
          </div>
        </div>
      </details>
    </form>
    <form id="search-panel-form-settings">
      <details open aria-description="設定檢索關鍵詞及檢索方式。">
        <summary>檢索內容</summary>
        <div>
          <div>
            <label for="search-panel-keyword" aria-description="用於搜尋全文的關鍵詞，語法規則如下：
• 空格或 AND：兩個關鍵詞用空格或 &quot; AND &quot;（前後須有空白，大小寫不拘）隔開，表示交集（兩個條件皆須符合）。
• OR：兩個關鍵詞用 &quot; OR &quot;（前後須有空白，大小寫不拘）隔開，表示聯集（至少一個條件符合）。
• -：關鍵詞前加上 &quot;-&quot;（之後不可有空白），表示否定（此條件不可符合）。
• &quot;&quot;：若欲搜尋的關鍵詞含有空白等具特殊意義的字元，可在整個關鍵詞前後加上半形雙引號，其中的符號就不會被視為有特殊意義。引號裡的關鍵詞若含有半形雙引號，可用連續兩個半形雙引號表示。
• ( )：半形括號包住的部分視為群組優先運算。
• <指令>:：切換語法解析方式。可用的指令如下：
  • syn:：之後的關鍵詞會把異體字納入比對。可用 -syn: 反向設定。
  • np:：之後的關鍵詞會忽略標點符號。可用 -np: 反向設定。
  • re:：之後的關鍵詞視為正規表示式（RegExp），可用於指定複雜的搜尋條件。可用 -re: 反向設定。
• 以上各條件可組合使用，例如： syn: (人參 OR 黨參) 喘 re: -syn: -&quot;芍藥.{0,25}?生薑|生薑.{0,25}?芍藥&quot;
">關鍵詞: <input type="text" id="search-panel-keyword"></label>
            <label for="search-panel-searchUnit" aria-description="檢索引擎會逐一掃描每個檢索單位，並列出符合者。
• 全書：掃描及列出全書內文與關鍵詞相符的書。
• 章節：將全書內文以章節標題分隔。
• 段落：將全書內文以章節標題及段落分隔。
• 原始碼：掃描及列出 HTML 原始碼與關鍵詞相符的書。">檢索單位: <select id="search-panel-searchUnit">
              <option value="book" selected>全書</option>
              <option value="chapter">章節</option>
              <option value="paragraph">段落</option>
              <option value="source">原始碼</option>
            </select></label>
            <label for="search-panel-useSynonyms" aria-description="勾選時會把關鍵詞的異體字也納入比對，例如檢索「人參」會列出含有「人參」「人蔘」「人蓡」「人参」等詞的項目。注意：「異體字」並非嚴格同義，勾選時不準確的檢索結果可能會變多。"><input type="checkbox" id="search-panel-useSynonyms" checked>比對異體字</label><button id="search-panel-synonymsList" type="button" class="plain" aria-label="自訂異體字" aria-description="檢視及修改異體字表。">⚙️</button>
            <label for="search-panel-noPunc" aria-description="勾選時會在檢索時略過標點符號及空白，例如檢索「欬、上氣、喘喝、煩心、胸滿」也會列出「欬，上氣喘喝，煩心胸滿」。"><input type="checkbox" id="search-panel-noPunc">略過標點</label><button id="search-panel-noPuncList" type="button" class="plain" aria-label="自訂略過字元" aria-description="檢視及修改要略過的字元表。">⚙️</button>
            <label for="search-panel-case" aria-description="勾選時關鍵詞中的大小寫英文字母視為相異，否則視為相同。"><input type="checkbox" id="search-panel-case">區分大小寫</label>
          </div>
          <div>
            <label for="search-panel-chapter" aria-description="檢索章節、段落時，限制搜尋符合條件的章節。語法同關鍵詞。">章節: <input type="text" id="search-panel-chapter"></label>
            <label for="search-panel-author" aria-description="限制搜尋作者符合條件的典籍。語法同關鍵詞。作者原則上記錄為姓名（而非字號）。">作者: <input type="text" id="search-panel-author"></label>
            <label for="search-panel-date" aria-description="限制搜尋年份符合條件的典籍。格式為 X/Y（X、Y 為數字，或省略表示無限小、無限大）。0 表示公元前 1 年，-1 表示公元前 2 年，依此類推。可從下拉選單中選擇常見朝代。">年份: <input type="text" id="search-panel-date" list="search-panel-date-datalist" size="12"></label>
            <datalist id="search-panel-date-datalist">
              <option value="/-220">先秦</option>
              <option value="-220/220">秦漢</option>
              <option value="266/589">魏晉</option>
              <option value="581/618">隋</option>
              <option value="618/907">唐</option>
              <option value="960/1279">宋</option>
              <option value="1115/1234">金</option>
              <option value="1271/1368">元</option>
              <option value="1368/1644">明</option>
              <option value="1616/1911">清</option>
              <option value="1911/">民國</option>
              <option value="1949/">中華人民共和國</option>
            </datalist>
            <label for="search-panel-quality" aria-description="限制搜尋品質符合條件的典籍。格式為 X/Y（X、Y 為省略 &quot;%&quot; 的數字，或省略表示無限小、無限大）。品質未標示者一律為 -1。">品質: <input type="text" id="search-panel-quality" size="5"></label>
          </div>
        </div>
      </details>
      <details open aria-description="進階的檢索功能。">
        <summary>進階檢索</summary>
        <div>
          <label for="search-panel-useAncient" aria-description="勾選擇會檢索古版文本，否則檢索今版文本。"><input type="checkbox" id="search-panel-useAncient">古版</label>
          <label for="search-panel-useZhu" aria-description="不勾選時將忽略被檢索文字中的注文。"><input type="checkbox" id="search-panel-useZhu" checked>注</label>
          <label for="search-panel-useShu" aria-description="不勾選時將忽略被檢索文字中的疏文。"><input type="checkbox" id="search-panel-useShu" checked>疏</label>
          <label for="search-panel-useJiao" aria-description="不勾選時將忽略被檢索文字中的校文。"><input type="checkbox" id="search-panel-useJiao" checked>校</label>
          <label for="search-panel-useDing" aria-description="不勾選時將忽略被檢索文字中的訂文。"><input type="checkbox" id="search-panel-useDing" checked>訂</label>
          <label for="search-panel-excludeSelector" aria-description="移除與指定CSS選擇器匹配的網頁元素。">排除元素: <input type="text" id="search-panel-excludeSelector"></label>
        </div>
      </details>
      <details open aria-description="設定檢索結果的呈現方式。">
        <summary>結果呈現</summary>
        <div>
          <div>
            <label for="search-panel-showSummary" aria-description="勾選時顯示檢索結果的摘要（關鍵詞及前後文），否則顯示該檢索單位的全文。"><input type="checkbox" id="search-panel-showSummary" checked>顯示摘要</label>
            <label for="search-panel-expandAll" aria-description="不勾選時檢索結果會保持收合狀態，須逐筆手動展開。"><input type="checkbox" id="search-panel-expandAll" checked>展開內容</label>
          </div>
        </div>
      </details>
      <input type="submit" value="開始檢索" id="search-panel-start">
      <input type="button" value="中止檢索" id="search-panel-cancel" hidden>
      <input type="button" value="檢視選取典籍" id="search-panel-viewBooks" aria-description="檢視目前在檢索範圍選取的典籍。">
      <input type="button" value="縮小檢索範圍" id="search-panel-filterBookByResults" aria-description="篩選檢索範圍，只選取目前檢索結果列出的典籍。">
    </form>
  </section>
  <section id="search-results" aria-label="檢索結果"></section>
</div>

<link rel="stylesheet" href="search.css">
<script src="../_common/search.js"></script>
<script src="search.js"></script>
