<header data-type="book">
<h1>失眠症之療法</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>周進安</dd></div>
<div><dt>底本</dt><dd>1948年上海商務印書館發行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900014153">國立臺灣圖書館掃描本</a>）</dd></div>
</dl>
</header>
