<header data-type="book">
<h1>村居救急方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>魏祖清</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1730">公元1730年</data></dd></div>
</dl>
</header>

<h1>村居救急方卷一</h1>

<h2>外感門</h2>
<p>傷寒初起　三日內用陳細茶（三錢）　核桃肉（三個）　蔥白（三根）　生薑（五錢）</p>
<p>共搗一處河水煎和黃酒一碗熱服汗出自愈</p>
<p>時氣　初起三日以前者服五仙湯　陳茶　核桃肉　艾葉　綠豆以上各一握　蔥三根　右用河水將好酒各半煎服出汗立愈</p>
<p>七仙湯　凡傷寒時疫腫毒初起一服出汗百病皆除　陳茶（一撮）　大蒜（一個搗）　蔥（三根）　陳皮（一撮）　霜梅（七個）　生薑（三片）　花椒（七粒）　用好酒一大碗煎半碗溫服</p>
<p>姜梨飲　治時氣初起小兒更效　大梨一個去皮木杵搗汁　生薑二錢搗汁　共一處加童便半酒杯重湯燉滾溫服被蓋出汗即愈棉子酒　治初感寒邪　棉花子一撮炒黃搗破用黃酒煮滾去棉子飲一大鐘汗出即愈</p>
<p>感冒痧症　於端午日正時以硃砂雄黃硼火硝麝香牙皂各等分研為細末每用少許點男左女右大眼角內屢驗如神每年備用忌飲食避風神白散　治時行一切傷寒不問陰陽輕重男女孕婦皆可服之　白芷（一兩）　生甘草（五錢）　姜（三片）　蔥白（三莖）　棗（一枚）　香豆（五十粒）　水（二碗）煎得黑色或誤打翻其病難愈如煎得黃色無不愈者煎時要至誠忌婦人雞犬見之</p>
<p>天行熱狂　芭蕉根搗汁飲</p>
<p>時行熱毒　或發斑或毒腫心神煩躁用藍靛一大匙汲水一盞服之山嵐瘴氣　生熟大蒜各七枚共食之少頃腹鳴或吐或大便泄愈</p>
<p>中暑發昏　小青葉井水洗去泥按乾入沙糖擂汁急灌之</p>
<p>傷寒結胸　陳香糟（六兩）　生薑（四兩）　水菖蒲根（四兩）　鹽（二兩）　共搗炒</p>
<p>熱為餅敷胸前痛處以熨斗之內響即去如口渴任吃茶水待大便下惡物愈</p>
<p>發斑不出　以白蠟燭照視心胸腹背隱隱紅斑不起在於肌肉取山羊乳飲之斑出病愈</p>
<p>傷寒　十數日大熱無汗神昏譫語垂危欲死用井水一小碗又雞蛋清一個和勻吃下虛者先戰後汗壯者戰而汗愈</p>
<p>天行熱病　狂邪不避水火欲殺人者　苦參兩許為末水煎服或薄荷湯下瘟疫　大黃四兩酒洗蒸曬乾　牙皂（二兩）　青黛（一兩）　紫蘇葉（一兩）　共為末水滴丸綠豆大每服百丸綠豆湯下三服愈</p>
<p>治時疫不相傳染方　用雄黃水磨塗鼻孔或雄黃一塊重五錢者以絹帛包緊頭頂心亦妙或以香油塗鼻中又以赤小豆同糯米侵水缸中每日飲之又以貫眾浸水飲亦妙</p>
<p>霍亂吐瀉　得此病莫與熱湯米飲急取灑水煎滾半碗再以冷井水半碗相和一處杓揚千遍入炒鹽三匙吃下陰陽分清其病立愈</p>
<p>又方　百沸湯半碗新汲井水半碗入潔淨黃土化開澄清入綠豆粉　冰糖各五錢　調服立效</p>
<p>又方　鹽（一兩）　生薑（五錢）　同炒令色變水煎溫服</p>
<p>霍亂轉筋　腳縮不伸者可用新汲井水一碗入炒鹽二錢服再取水一盆入鹽浸兩足即愈</p>
<p>乾霍亂　不得吐瀉臍腹急痛躁悶欲絕俗名絞腸痧用芋頭去皮以竹片刮碎和冷水去渣服再以炒鹽數兩布包放臍上用滾水一壺熨之冷即換又方　用喬麥一大撮炒焦以滾水衝下待溫服之立愈</p>
<p>心腹一切冷氣惡氣　艾葉搗汁服之</p>
<p>陰症腹痛　面青手足冷者鴿子糞一大撮炒研末滾熱酒一杯和勻澄清燉服即愈　路途之間偶得陰症無藥可救又無熱湯可吃急令病者睡倒著一人將病者腳後跟用力咬住令其知痛滾轉掙坐候周身出汗即愈</p>
<p>又方　雞蛋煮熱去殼趁熱在臍腹上旋轉摩之少冷即換連摩數次其毒即收蛋內或用蔥一把以綿紙裹緊切去須葉只用寸許單蔥白如餅樣放臍上以熱熨斗之即愈再以黑豆炒熟投酒熱飲或灌之吐則復飲出汗為度</p>
<p>回生膏　治陰症如神至危者亦可治整頓　明礬　黃丹　乾姜各等分為末連須蔥數莖同搗敷臍以磚烙之</p>
<p>灸陰症法　男右女右中指頂以艾灸七壯或臍下一寸灸三大壯脹滿不得吐下　用鮮紫蘇搗汁飲之或乾者亦可煎飲嘔噦不止　蘆根二三斤水煮濃汁頻飲效</p>
<p>又方　刀豆子燒灰存性白湯調服二錢立止</p>

<h2>村居救急方卷二</h2>

<h1>內傷門</h1>
<p>虛損勞瘵　用浴池水待人浴書時取一澄清去腳用清者六碗煮紅棗二兩煮至三碗連湯棗服早午晚三次每日不脫其病即愈</p>
<p>又方　豬腰子二個童便二盞好酒一盞新罐盛之泥封炭火溫養自戍至子時五更初燉滾取開飲酒食腰半月取效一月全愈</p>
<p>又方　雞蛋七個入童便內浸七日一換取出再用豬肚洗淨（將蛋去殼）入內縫好加白酒入砂鍋內煮爛食之如此數次即愈</p>
<p>回生膏　治血虛火旺　人乳（男用女胎女用男胎）　藕汁　白灑帶頭漿　白蜜　白童便（臨時取用）　各等分煎膏滴水不散空心服之圓眼湯送下病重者多吃</p>
<p>又方　大補虛損　牛乳十斤　桂圓十斤二味煎膏酒服</p>
<p>又方　鳥骨童雄雞一雙碗鋒去毛雜不下水忌鐵器肚內入建蓮用砂鍋將好酒煎爛雞頭放在鍋外隨意食之</p>
<p>吐血不止　用荊川竹紙燒灰冷水和服神效或取藕汁同好墨汁沖和服</p>
<p>又方　乾荷葉頂廿四個燒存性　蒲黃炒黑省　鬱金各（五錢）　白絲線灰（一錢）　共末茅根汁和湯下</p>
<p>又方　梨汁　白蘿蔔汁　人乳牛　童便　十大功勞汁　（又名老鼠刺江南處處有之）　以上各一碗用黑料豆二升同煮乾曬燥每早三錢白水下吐血後調理方　白元米一升炒　蓮子一斤去心　童便浸一宿曬乾如此</p>
<p>七次為末加蜜一斤入罐重湯煮三炷香取出任意服</p>
<p>內損吐血　飛羅面略炒以京墨汁或藕節汁調服二錢</p>
<p>久嗽不止　紫苑　冬花各（一錢）　百部（五錢）　共為末用姜三片烏梅一個煎湯調下三錢日二服</p>
<p>新久咳嗽　無內熱見血者生薑自然汁一杓生蜜二匙同放碗內重湯煮一滾服</p>
<p>又方　胡桃肉（三枚）　生薑（三片）　臥時嚼服即飲湯二三口又嚼桃姜如此數服即靜臥必愈</p>
<p>咳嗽痰壅　梨汁（一鍾）　薑汁蜜各半鍾薄荷末五錢和勻重湯煮十飲沸任意食之</p>
<p>久咳不止　人乳半鍾　甜梨汁小半鍾和入碗器內滾水燉開取起空心服老年痰火皆效</p>
<p>久嗽　乳酥（四兩）　白蜜（四兩）　生薑（四兩）竹刀搗碎取汁　核桃七個杏仁七粒去皮尖　漫火熬黑色每日清晨服數匙</p>
<p>又方　款冬花蕊五錢　鵝管石五錢煆　陳皮（二錢五分）　冬月加肉桂（一錢五分）　老人虛人加人參（五錢）　忌鐵器為末分為七服每晚一服作三次入蘆管內口噙蘆管近咽喉用力一吸將溫水一口送下不可多吃忌油膩半鹽</p>
<p>肺癰　夜合花樹第二層皮俗名絨樹六七月間開紅花細簇如刮絨花煎湯時進飲之或多年陳芥菜滷飲一杯神功或虎耳草汁沖白酒漿露一宿空心服</p>
<p>哮喘方　白雞冠花經霜打者焙為末酒下三錢數次即俞</p>
<p>哮喘神驗　鴿糞一撮將瓦燒紅鴿糞在上自然成灰研細好酒下立止</p>
<p>又方　雞子一枚頂開一孔入人中白末三釐調勻紙糊煨熟食之氣喘咳逆　真紫蘇子入水研濾汁同粳米煮粥食</p>
<p>男婦虛勞　腰腿疼痛咳嗽吐痰不發熱者九月經霜桑葉陰乾一斤紅棗去皮核一斤好酒五斤同浸缸內重湯文武火煮二炷得空心服三小杯寒熱肢體倦痛者　入九月青蒿成實時採之去枝梗以童便浸三曬乾為末每服二錢烏梅一個煎湯下</p>
<p>傳屍勞病　背脊內必熱有蟲取鴿糞三五合炒極熱布包後尾閭擦背脊上至頭項骨又後頸項擦背脊下至尾閭如此上下數十遍冷則易之日擦十餘次夜擦五六次三日內外常擦其蟲心死服藥有效虛勞傷腎　夢中泄精用韭子二兩微炒為末食前溫酒服二錢</p>

<h1>村居救急方卷三</h1>

<h2>雜症門</h2>
<p>中風　四肢麻痺筋骨疼痛腰膝無力等症　五月五日六月六日九月九日採稀蒼草葉洗耳恭聽淨曬乾入酒瓶內以好酒與蜜蒸之曬乾又蒸如此九次則氣味香美焙乾為末蜜丸空心服數錢酒下</p>
<p>風濕手足麻木渾身疼痛洗方　樟木　蘄艾　花椒　生薑　牛膝　蘿蔔英入砂鍋內煎時先對患處熏蒸待溫洗之</p>
<p>又方　桑枝切碎香煎湯頻飲</p>
<p>口眼歪斜　頭垢不拘多少如偏向左放右手心內以壺盛熱水燙之向右放左手內以正為度</p>
<p>又方　鱔魚一條用竹片夾之用針深刺尾出血以血灘絹帛上乘熱貼之如歪左貼右貼左下即洗去</p>
<p>兩腿風濕氣痛　艾葉（二兩）　蔥白（一把）　生薑（一兩五錢）　共搗爛用布共為一包蘸滾燒酒擦患處以痛止為度</p>
<p>濕氣痛　白芥子一合炒研院　廣膠（一兩）　老薑汁（一碗）　好醋（一碗）　同熬至一碗再下廣膠化開又下芥子末麝香五分和勻青布攤貼患處</p>
<p>又方　白鳳仙花浸燒酒飲之</p>
<p>又方　油松節　晚蠶沙各等分　浸酒常飲</p>
<p>中風痰厥　四肢不收氣閉膈塞　白礬（一兩）　豬牙皂角（五錢）　為末溫水服一錢吐出痰效</p>
<p>痰厥氣絕　心頭尚溫者　千年石灰一合　水一盞煎滾去之再用一盞煎極滾澄清灌之少頃痰下立愈</p>
<p>中氣不省閉目不語　如中風狀用　木香為末　為瓜子煎湯灌下三錢痰甚者加竹瀝薑汁</p>
<p>風痰危急　喉閉湯水不下一服立解　膽礬（一錢）　木香（三錢）　麝香（一分）　蔥汁調斡口灌之立愈</p>
<p>諸中卒然倒僕　痰盛牙關緊急目閉用　生半夏末吹鼻得嚏即醒牙關緊急　白礬　鹽花各等分　擦牙涎出即開</p>
<p>卒中不語　苦酒煮白芥子搗爛敷頸一周帛包一書夜即好舌強不語　龜尿少許點舌下神妙</p>
<p>風熱癱瘓　半身不遂或手足麻木用秋後水紅花連苗花實銼碎陰乾煎濃汁乘熱薰洗一日二三次再用熱酒和花汁飲取汗出為度數日自愈屢驗口眼喎斜　大皂角五兩去皮子為末三年米醋調敷左喎塗右右喎塗左乾則塗之</p>
<p>手足麻木不知痛癢　霜降後桑葉煎湯頻飲</p>
<p>骨軟幾疾　腰膝疼痛行步不得　大何首烏　牛膝各（一斤）　好酒（一斤）浸七宿曝乾木臼杵末棗肉和丸梧子大空心酒下五七十丸</p>
<p>鼓脹　用雄豬肚一個入　檳榔末（一錢）　牽牛末（一錢）　砂仁末（五分）　蔥三根再以整頭大蒜填滿為止線扎口入磁罐內酒煮爛去肚並藥單取蒜食之用汁二三杯少刻大便放屁不絕漸漸寬泰其大便自去黃水如不去水飲高良薑汁一小杯即去後服健脾藥更妙</p>
<p>又方　西瓜一個頂上切去一片去瓤入大蒜八兩去皮原頂蓋之用糠火圍煨三炷香取出大蒜食之</p>
<p>又方　用鯉魚斤許者一尾將赤小豆填滿魚腹不著鹽醬煮熟連湯食之三四次愈（赤小豆即小紅豆也）</p>
<p>又方　鳥魚一尾斤外者剖去腸入皮硝二兩外用厚棉纏包數層又以熟黃泥裹之糠火煨一夜敲得響為度去泥後頭至尾食之將骨焙糊丸酒下忌鹽醬百日如下愈再製一料服</p>
<p>腹脹水腫　小便不通老扁蒲陰乾陳者煎湯服</p>
<p>又方　亞腰壺蘆連子燒灰存性一個為末食前溫酒下不飲酒者白湯下脾積黃腫　綠礬四兩煆成赤朱子　當歸上兩酒淬浸七日焙　百草霜三兩共為末以浸藥酒打糊丸如桐子大每服五七十丸溫水下一月後黃退立效</p>
<p>氣脹氣蠱　蘿蔔子研碎以水濾汁入砂仁一兩浸一宿曬乾又浸又曬凡七次為末每米飲服一錢</p>
<p>通身腫滿春風　葶藶子四兩炒為末棗肉為丸如桐子大桑皮湯下十五丸日三次</p>
<p>面浮水腫　甘遂一錢為末豬腰子一枚切作七片將遂未摻勻於內外以濕紙裹煨熱食之覺復鳴二便利愈忌鹽一月膈噎聖藥　取貓胞新瓦炭火炙乾研細末每服二三分好酒送下粒米不下者五六次即愈（酒內不可少有燒氣）　欲取貓胞以小木枷枷其項庶免自食</p>
<p>又方　古塚內飲瓶水頓飲一杯立愈仙方</p>
<p>翻胃秘方　將狗一雙關房子餓數日用香油拌糯米晚米與食之約有三升為度將所遺之糞盛麻布袋口於長流水中漂將為粉加木香末少許蔥白數莖煮粥食之即愈</p>
<p>膈噎初起　老薑一斤　童便浸七日取出土內埋七日洗淨曬乾為末一兩白朮土炒一兩飯丸桐子大空心米飲下一錢</p>
<p>又方　韭汁　梨汁　薑汁　人乳飯上蒸熟服之三日後再服秘授神治噎膈反胃　用陳倉米一斗同山黃土炒令米熟去土為末以慄米煎湯調下再服後藥白水牛喉管一條去兩頭節並筋膜脂肉節取下如阿膠片以米醋一碗浸之頻番動令勻微火炙乾醋淬醋乾為度勿見日色只宜火焙研細末厚紙包收或遇陰濕濕時連紙微火烘焙收藏每服錢食前陳米飲下輕者一服立效此方名正胃散得於糞人君子可制救人</p>
<p>梅核氣方　元明粉一兩用人乳竹瀝二味和勻曬乾又拌又曬至三兩為度每用一錢加甘草末一分臨臥清茶化下截瘧仙方　虛人久不愈者　整當歸（一枝，切）　鱉甲（二錢炙研）　知母（二錢）　何首烏（五錢）　料豆（一撮）　向北桃頭七個　以上藥用井河水各一碗煎露一宿清晨溫服不可經女人手二帖愈</p>
<p>又初起者　青皮（四錢）　陳皮（二錢）　甘草（一錢）　水酒各半碗煎露五更面東服之</p>
<p>又方　未來之先日取朝北天麻葉九尖者方是包大喜蛛扎頭上莫犯陰人手立止或取東瓜花帶頭上神效</p>
<p>三日久瘧　鮮何首烏（五兩打碎）　白甘菊（二兩）　甘草（一兩）　細茶（一兩）　陰陽水漫火煎一小時露一宿清晨服</p>
<p>又方　枯礬研細醋糊丸黃豆大遇將寒時桃頭七個泡湯下七丸</p>
<p>瘧久不止　常山二兩切薄片好大紅棗二十八入砂鍋內水二碗煮棗黑為度去常山取棗去皮核清晨臨來之日空心白湯送下徐徐食之忌雞鵝茶蔥小兒減半當日即止百發百中</p>
<p>小兒瘧　丁香　甘草各（三分）　鳥梅　檳榔各半個　好酒一鍾煎露一宿向南早晨溫服</p>
<p>受寒瀉痢　生薑（二錢）　陳茶（五錢）　同煎入醋露一宿空服白者溫服赤者冷服</p>
<p>紅白痢疾　用扃豆花（二兩）　紅用白花白紅花煎湯入紅糖一兩　生薑汁五匙　熱服即止</p>
<p>又方　用鮮蘿蔔英搗汁露一夜入紅糖空心服不遇二三次愈</p>
<p>又方　以豆腐炙灰紅則以赤沙糖拌服白則以白糖拌服每服約半酒杯服二三次即愈</p>
<p>休息痢　狗骨炙黃為末第服一錢米飲下日二服即愈噤口痢　元明粉納臍中用活鱔魚一條以竹片三四根周圍縛之留尾半寸許快刀割斷滴血於臍四面離元明粉一韭菜葉許以手將血塗平一圈俟乾即時行去滯物便能飲食但魚血不可滴在元明粉上要緊久痢　元眼（七個）　蓮子（七粒）　白糖（三錢）　陳細茶末（二錢）　臭椿根皮（三寸）　水煎服</p>
<p>又腸滑久痢　石榴一個燉煙盡研末仍以酸石榴皮一塊煎湯服神效</p>
<p>又方　臭椿根向東南根皮置活水漂二日去外黃皮焙乾為末一兩加木香二錢糯米飯為丸每服二錢米飲下</p>
<p>血痢不止　乾姜燒黑存性放冷為末每服一錢米飲下</p>
<p>暴瀉不止　車前子炒為末米飲調下二錢其根葉普可搗汁飲</p>
<p>又方　陳艾一把生薑一塊水煎熱服</p>
<p>寒濕泄瀉　小便清者以滴燒酒飲之</p>
<p>久瀉腸滑　白朮炒　茯苓各一兩　陳糯米二兩炒為末棗肉拌食</p>
<p>血痢及瀉血不止　木賊草（五錢）　煎服一日一次</p>
<p>便痢膿血及酒痢久痢　烏梅一兩去核　燒灰為末每服二錢空心米飲下熱毒血痢　金銀花藤濃煎飲之</p>
<p>噤口痢　糯稻一升炒出白花去殼再薑汁拌濕再炒為末每服一匙白湯下數服即好</p>
<p>又方　上好少糖（四兩）　生薑（四兩）　烏梅（十五個）　三味共搗以滾水調勻服兼治翻胃</p>
<p>盜汗不止　黃耆蜜炙　黑豆　浮麥各等分　煎飲</p>
<p>癲癇　甘遂末三錢　豬心一個　取管血和藥入內縛定紙包煨熟取出入殊砂一錢分四服以豬心煎湯下大便下惡特為交不下再服風痰癇疾　山茨茹二三個以茶酒研如泥日中時用茶調下即臥久而吐出痰物永不發如不吐再以熱茶投之</p>
<p>又方　生白礬一兩　陳松蘿茶五錢為末蜜丸梧子大一歲十丸茶湯下大人五十丸久服痰自大便出病愈</p>
<p>風狂　犀角四兩銼末　每用一兩清水十碗熬至一碗濾淨其渣仍用水十碗熬至二小杯又用淡竹葉四兩小六碗煎至二碗去渣和前犀角汁服之盡四劑即愈</p>
<p>失心瘋病忽悲忽笑者　鬱金（七兩）　明礬（三兩）　為末糊丸白湯下數錢黃疸　田螺不拘多少搗爛沖滾酒服以色轉為止</p>
<p>又方　生明礬打為上塊以乾豆腐皮少許包之空心白湯吞下第一日礬一分第二日礬二分照日加至七日七分每日吃三次七日內共用礬八錢四分其症自愈</p>
<p>又方　綠豆一升煎湯浴之自退　又用薏苡根煎湯服（俗名菩提粟）黃胖腫　紅棗（一斤）　皂礬（二兩八錢）　花椒三錢去子淨　饅頭面三合　共搗細滴醋為丸如胡椒大每服廿五丸空心薑湯下忌鮮魚雞子生冷之物</p>
<p>追蟲取積　皂礬五錢　入上白饅頭內火燉礬紅為度研末去饅好酒下五分數次愈</p>
<p>寸白蚘蟲　石榴根皮煎水煮米粥食</p>
<p>腹中白蟲　馬齒莧水煮一碗和監醋空心食之蟲盡出傷米食積　白麵一兩白酒丸二顆炒為末每服二匙白湯調下如傷肉食山查湯下</p>
<p>頭風方　大蜈蚣一條　用陳艾葉揉絨如蜈蚣樣長一條鋪在瓦上將蜈蚣放在艾上火灼艾置棹上令患人端坐以目視之藥盡為度鼻中有黃水出即愈再以鵝不食草塞鼻內</p>
<p>又方　白芷一味酒洗為末蜜丸彈子大清茶下或荊芥湯下</p>
<p>又方　生蘿蔔汁一蜆殼仰臥隨左右注鼻中神效</p>
<p>又方　南星川芎等分為琳入連須蔥白搗成餅貼太陽穴帕包</p>
<p>又方　稿本　細辛各五分　白芷（一錢）　辛夷（八分）　為細末分作四劑用四條紙捲藥在內火點以煙薰鼻吸入即愈</p>
<p>痛久不除　晴明天氣將發分開用　麝香五分　皂角一錢薄紙裹置患處以布包炒熱鹽於上熨之冷則另易數次不再發</p>
<p>頭痛　細茶（一撮）　芝麻（一撮研）　生白果（二十枚搗）　同煎數沸服之走馬喉痺　士牛膝根搗汁漱之一用牽牛鼻繩燒灰吹之（土牛膝對節萬梗綠葉有紋）</p>
<p>又方　壁喜窠燒灰　登心燒灰　枯礬各等分　為細末吹之　急喉閉　於患人手大指甲後離韭菜葉許用大針刺出血立安男左女右危者左右刺之　又用淡白梅子一個去核將蜒蚰一條嵌梅內含之立愈</p>
<p>咽喉閉塞　蜡月初一取豬膽五六枚　川黃連　青黛荷　殭蠶　白礬　朴硝各五錢　裝入膽內青紙包好將地掘一孔方濘一尺以竹橫懸此膽在內以物蓋定至立春日取出待風吹去膽皮青紙研末密收吹之（此萬金不傳之方）</p>
<p>又方　用瓦茶壺一把內入著炭一塊摻蛇床子一撮將蓋蓋蓋之以病人口對壺嘴吠煙入喉立開</p>
<p>暴赤火眼　大梨一去皮核　明礬一塊如指大同搗如泥入碗內以綿紙蓋之捺一咼候汁滿咼用紙蘇汁抹眼數次　又瓦松同明礬搗爛敷太陽上又大黃末新汲井水調敷兩眉頭兩太陽乾則以水潤之須臾腫消痛止風眼赤爛　白礬煆一兩銅青三錢同研泡湯澄清洗之</p>
<p>打撲損傷眼胞赤腫疼痛　芙蓉葉　生地等分搗爛敷之或為末用雞子清調敷</p>
<p>損目破眼　牛口涎日點二次諸物眯目　藕汁滴目中</p>
<p>洗眼方　用經霜桑葉　側柏葉　菊花　荊芥穗　桑根白皮　以上五味主方　眵多加艾葉　蒼朮　作癢加赤芍　川椒　水一碗煎半碗露一宿一次早溫洗軟絹拭之每日二三次水宜用紙蓋勿令落入灰麝</p>
<p>紅爛眼　古文錢（一文）　黃連（五分）　艾葉（三片）　杏仁（七粒）去皮研院　煎好澄清一宿洗之</p>
<p>昏花眼　童便浸菊花洗之</p>
<p>眼中起星　荸齊捶碎取汁漉紙上成粉候乾刮取點之七精丹　點一切翳膜昏花眼　黑羊膽七個取汁（百草之精）　人乳二碗（氣血之精）明礬七分（石之精）　白蜜三兩五錢（百花之精）共為一處飲上蒸取（谷之精）須天氣清明日曬夜露（取陰陽兩露之精）若有云霧切不可出復蒸復曬待如膏狀點之又羊膽一個　割開入好蜂蜜一錢線扎兩手揉勻白水煮一滾即取出以涼水浸半日找乾傾出內水點之雀目夜不能視　黃蠟不拘多少化開入蛤粉相和得勻以刀切下二錢用豬肝二兩摻藥在內麻皮扎定水一碗銚內煮熟乘熱薰眼至溫並肝食之</p>
<p>鼻淵腦漏　白芷（一兩）　薄荷（五錢）　蒼耳子炒　辛夷仁各（二錢五分）　為末蔥白湯或清茶下</p>
<p>酒渣鼻　硫黃食鹽各等分為末放小鍾內入陳米醋比硫鹽高一指晚間於空處當天之下露之日間收屋內七夜為度將面上油洗淨以指黏醋塗之鼻自不止</p>
<p>鼻血不止　白蘿蔔搗汁滴入鼻內　或頭髮洗淨燒灰存性為末吹入鼻內再以水服一二錢</p>
<p>又方　寶珠山茶曬乾為末每服二錢酒下</p>
<p>又方　用書匠所用白粉土研細五錢井水下立止</p>
<p>鼻血不止　服藥不應用蒜一枚去皮研如泥作錢大餅子左鼻血出貼左足心右鼻貼右足心兩鼻出俱貼之或用新汲水隨左右洗足即止或用冷水巽而或以百草霜末吹之或用冷水浸紙貼滷門上以熨之立止齒縫出血　百草霜摻之立止</p>
<p>舌上出血　槐花末敷之</p>
<p>腦漏　鼻流臭涕者　將患者左手掌盡處橫紋緊對鼻尖不可移動捺至頭上中指盡處是穴以墨點記之用艾茸如豆大灸七壯聽其略害結馮自愈</p>
<p>耳聾　用新苧麻作枕內包花椒四兩枕之</p>
<p>牙疼　用火硝燒紅淬入好燒酒內連淬數次將酒漱數次立止</p>
<p>又方　雄黃　硼砂　火硝各等分　冰片少許　共末擦之</p>
<p>牙疳方　蕉舊紅褐子燒灰七分　壁喜巢土牆上者佳炙七分　甘蔗皮燒灰七分　狗屎內骨頭燒灰七分　紅棗肉七分　俱用陰陽瓦焙為末先將瘡用米泔水煎或甘草湯洗淨然後次藥</p>
<p>又方　人中白燉末（一錢）　錢綠（三分）　麝香（一分）　共細研末擦之牙疼　青監　川椒　露蜂房炒存性各一兩為末擦牙如痛急用末五錢煎湯漱之</p>
<p>又齒出血　酒炒大黃末二錢用枳殼湯加童便調下</p>
<p>心腹痛　陳香圓燒灰存性好酒和服二錢　或用醋和水入古銅錢七文煎數十沸溫服　疼而嘔者用明礬三錢研細溫酒和服疼而不嘔者用當歸五錢焙研細溫酒和服</p>
<p>一切心腹痛　沉香（三錢）　牙皂（三錢）　木香（二錢五分）　胡椒（二錢）　全蠍七個洗去泥　硃砂四錢　為末米湖丸如豆大每用薑湯下大人九丸十一丸小兒五丸七丸</p>
<p>心痛欲死　頭髮與羊糞各五錢炒脆為末酒下立愈</p>
<p>又方（可除根）古石灰研細水飛（一兩）　生熱礬各（二錢五分，研）　飛面為丸綠豆大大人用一錢二分中人八分小人四五分火酒下</p>
<p>腹中蟲痛　每發即吐蟲或大便多蟲者此蟲痛也取練樹根上白皮著泥東行者每用三錢煎湯露一夜或五更時先吃紅糠水一盞引起蟲口復進此湯其蟲自下不下再服此方在月頭用更妙用時莫與病者知蟲咬心痛　香油一鍾燉溫服之或煎滾衝入燒酒一小鍾乘痛急飲　又烏梅三個川椒十四粒煎服</p>
<p>蟲積　貪食一切物如茶葉壁泥桴炭石灰生米之類用芝麻一碟拌雄黃末三分吃半月愈或用生榧子一斤每日蘇少糖吃數十粒或同使君子肉四五枚半生半熟吃更妙</p>
<p>痞　二三兩鯽魚一尾去腸雜不下水以芫花塞滿肚內外以桑葉裹二層又以濕草紙包數層火內煨熟去芫花只吃魚白湯送下痞狠者不妨多吃</p>
<p>又方　青黛（二兩）　明雄（一兩）　為細末每服三酒下一日三次外用麝香（一錢）　紅棗（十枚）　獨頭蒜（十個）　同搗爛青布包摩患處即化下</p>
<p>又方　生大黃　樟冰各等分　為末用獨蒜同搗膏攤青布上貼患處俟鼻中有蒜氣出即去之如過則皮潰爛矣其痞自化</p>
<p>胃脘痛　炒鹽（一錢）　生薑七片水煎溫服立止心氣痰痛或死血作痛　白蠟三錢痛時滾酒化下</p>
<p>積年心痛不可忍　煮小蒜食飽勿著鹽立效不發　小蒜即野蒜也</p>
<p>心腹惡痛口吐清水　艾葉搗汁飲冬月以乾艾煎汁服之</p>
<p>又方　良薑酒洗七次　香附醋洗七次各焙研各記收之痛因寒得用薑末二錢附末一錢因怒得用附末二錢薑末一錢寒怒俱兼用各一錢五分以米飲加薑汁一匙鹽一捻服之立止</p>
<p>卒心急痛牙關緊閉欲絕　老蔥白五根搗汁送入咽中再灌麻油四兩但得下咽即蘇</p>
<p>絞腸痧痛　若陰痧則腹痛手足冷但身上有紅點以燈</p>
<p>心蘇油點火粹點上陽痧則腹痛手足暖將兩臂捋下惡血令聚指頭以針刺十手指近爪甲處分許血出即安或以蕎麥麵一撮炒溫水服或童便服或炒鹽一兩調口中</p>
<p>卒然腰痛　料豆六升水拌濕炒熟布裹熨之冷則易之</p>
<p>脅肋痛　白芥子水研敷之服亦可腰痛不可忍　黑牽牛不拘多少微炒取頭末去粗渣不用以大蒜瓣用濕紙包煨令香熟共搗為丸如桐子大以硃砂為衣每服二十丸酒下　腎虛久痛不治</p>
<p>又方　虛者宜之　杜仲一兩鹽水炒　故紙一兩鹽水炒　好肉桂五錢　共研末每服二三錢酒下數服大效又豬腰子一枚破開入杜仲末三錢大茴末一錢青鹽少許濕荷葉包煨熟好酒送下</p>
<p>白濁　初起立效　大黃二三錢用濕草紙包數層灰火煨透研末每以數分用雞蛋一枚破頭入內紙封飯上蒸熟去藥空心食品店之不過數次愈</p>
<p>又方　生雞蛋沖豆腐漿空心連吃數日即愈</p>
<p>偏墜疝氣小腸氣　黑醜二兩　用硫黃末五錢同炒同用　橘核二兩炒大茴五錢　吳萸五錢　元明五錢　為末空心酒下三錢出汗即愈</p>
<p>又方　小茴　大茴各一兩豬尿胞一具入藥紮緊砂鍋內酒煮爛連胞搗丸梧子大空心下五十丸</p>
<p>木子狐疝神方　生花椒子（四兩）　陳皮（二兩）　青皮（二兩）　荔枝核（一百粒）　炒黃色　硫磺（二兩二錢五分）　用燒酒（一斤）　將硫磺化開倒入燒酒內九次焙乾為末和前藥酒末湖為丸空心酒下三錢</p>
<p>脫肛　用融牛燒灰豬脂和敷立縮或以蔥湯薰洗五倍子末敷之熱鞋底托上或五倍子煎湯薰洗或以鱉頭燒灰香油調敷或用鮮蚌肉搗敷立止或薴麻根搗爛薰洗以礬五倍末敷之</p>
<p>治腳粗如木桶　用鳳仙花葉梗多多搗汁煎濃以筆塗之以消為度</p>
<p>小便下血　亂髮燒灰每服二錢以米湯入醋和服或以茅根車前湯下</p>
<p>大便下血　人發不拘多少先將磁罐一個裹外用姜擦三次將頭髮洗淨入內再用鐵燈盞蓋罐口以鹽和泥封頭周圍用火煆三炷香取出去火氣用五錢再用柏汗炒　雞冠花各一兩　為末每服二錢黃酒下</p>
<p>又方　槐花焙乾研細第服二錢空心白滾湯入白蜜糖數匙調服七日見效</p>
<p>又方　生荸齊吃十斤自愈</p>
<p>又方　槐花炒黑　扁柏葉炒黑省　陳棕灰各等分　為末白湯調服</p>
<p>便血　荊芥穗二兩　槐花一兩　同炒紫色為末每服三錢清茶下</p>
<p>又方　何首烏忌鐵為末食前米飯我服二錢　又木饅頭燒存性棕櫚皮燒存性烏梅去核粉草炙等分為末每服二錢水一盞煎服</p>
<p>小便血　茅根煎湯頻飲</p>
<p>又方　早蓮草車前草等分搗取自然汁空心服一杯　又荷蒂七個燒灰酒服</p>
<p>血淋　用薴麻根搗湯頻服</p>
<p>小便不通　活田螺不拘多少清水養之將所吐泥留下逼去清水入膩粉五分鹽一匙麝香少許塗臍下良久即通　又連須蔥白搗爛入蜜罨外腎上立通　又萵苣子搗餅貼臍中</p>
<p>婦人遺尿　桑螵蛸搗炒為末薑湯服二錢</p>
<p>小兒遺尿　以新炊熱飯一盞傾尿訂處拌與食之勿令病者知又野薇根五錢酒翦夜夜飯</p>
<p>諸淋白濁　莖中痛欲死及小便不通者土牛滕不拘多少煎濃汁加麝香少許空心服　又蔥七根鹽一撮熱水薰陰處即愈　又葵花根二錢用野蜀葵更佳車前子一錢水煮飲水　又扃竹草湯煎頻服</p>
<p>大便不通　芝麻　細茶各一合　細嚼滾水徐徐嚥下或將二味搗爛白湯兩面三刀跳痛如刀割不可忍不紅腫者先用生薑切片蘇香油擦痛處隨用生薑火燒熱搗爛敷患處須臾姜乾痛止</p>
<p>歷節風痛　獨活　姜活　松節各等分　酒煮空心服一杯</p>
<p>筋骨疼痛　刺薔薇根（三錢）　五加皮　木瓜　當歸　茯苓各（二錢）　酒二盞煎一盞日服一次</p>
<p>又方　羌子產下蹄甲入罐內煆紅存性為末丐糊為丸梧子大每服三錢黃酒下不拘時一二次即愈</p>
<p>寒濕氣痛　鳳花蒼耳草俱連根帶葉搗爛煎湯洗</p>
<p>腳氣上攻繩索成腫核　白礬三兩煎水浸洗兩足良久自愈</p>
<p>又方　甘遂為末水調敷之內飲甘草湯即消</p>
<p>腳氣疼痛　每夜用監擦腳膝至足甲淹少時以熱湯泡洗又木瓜為末好酒</p>
<p>調敷患處　或以萆麻葉蒸搗裹之日二三易</p>
<p>又神應膏　廣膠三兩薑蔥各半斤搗汁另將陳酒糟取油一二兩或用米醋一碗和陳糟春細絹濾取汁共熬成膏布攤貼之立刻止痛消腫</p>
<p>腿轉筋　木瓜　吳萸各（一錢）　食鹽（五分）　水二盞煎一盞服</p>

<h1>村居救急方卷四</h1>

<h2>婦人科</h2>
<p>附益丸調經種子　香附一斤童便浸透洗淨露一宿曬乾又浸如此三次</p>
<p>益母草十二兩　二味為末再用香附四兩艾二兩煎汁加醋大半煮糊丸每日百丸空心白滾水下</p>
<p>月經不通　益母草葉（花更好）　庵閭子各等分　浸酒常服　乾血癆　當歸全用五錢酒洗　水煎早晚服半月見效</p>
<p>血崩不止　陳棕燒存性每用陳酒送下三錢</p>
<p>又方　多年舊褐子四指寬一尺許燒灰存性須看勿令有一點不燒透者研細和好酒熱服立止</p>
<p>女人經脈不調腰脊痛骨節疼用丹參洗淨切曬為末每服二錢溫酒調下</p>
<p>白帶　白雞冠花曬乾為末空心酒服三錢赤者用紅</p>
<p>又方　硫磺二分入雞子內飯上蒸熟食之</p>
<p>白血崩　胡桃肉十五枚燈心燒存性研作一服空心溫酒調下</p>
<p>又方　老絲瓜燒灰存性陳棕燒灰各等分用酒或鹽湯服即止　又蓮蓬殼荊芥穗各燒灰存性為末米飲下二錢　又新綿一口燒灰空心酒下</p>
<p>胎漏下血　白茅草根煎濃服即止</p>
<p>治孕婦偶因所觸或墜高被打胎動不可忍用砂仁放熨斗內慢火炒令熟透去殼搗為末每服二錢熱酒調下覺腹中胎動處術熱則安否則再服</p>
<p>孕婦慣落胎　整當昌一枝約重五錢　整烏藥一板約重三錢　每早煮雞蛋一枚三炷香為度取蛋並湯食之能保足月</p>
<p>隨胎下血不止　當歸焙一兩　蔥白一握每服五錢酒一盞半煎八分溫服</p>
<p>經血不止　陳蓮蓬殼燒灰存性研末每服二錢熱酒下</p>
<p>妊娠胎氣上衝心不安腹中脹痛　紫蘇　陳皮　蔥白　砂仁各等分　酒煎服立效</p>
<p>妊娠胎動或子死腹中血下疼痛口噤欲絕　服此探之不損則痛止已損便立下當歸二兩川芎一兩為粗末每服三錢水一盞煎至將乾投酒一盞再煎一沸溫服或灌之如人行五里再服不過三五服便效</p>
<p>難產三五日不下垂死乃矮小女子交骨不開者　乾龜殼一個酥炙研婦人頭髮一握燒為川芎當歸各二兩每服七錢水煎服如人行五里許再一服生死胎俱下</p>
<p>胎衣不下　朱膝三兩水二盞煎溫服立下　或以涼水入醋少許巽面即下</p>
<p>胎動不安　砂仁研細末（一錢）　條芩（一錢）　苧麻根一把洗淨打碎　生薑五片煎一盞服之</p>
<p>胎動下血　腹痛搶心者　用蔥白一把煮濃汁飲之未死即安已死即出不效再服</p>
<p>治月數不足子死腹中母欲悶絕　黑大豆三碗好醋濃煎汁三碗燉服立效（一方加川芎）</p>
<p>凡孕婦臨月覺腹痛不可便用力　須俟產門腫滿腰間重痛腹尖一處痛不可忍糞門迸急胞水或血俱下方是時候一用力即生矣如數症未見產門未腫雖痛即一日半日不可驚惶須勉強行走使氣血流動倘體弱倦怠即仰臥不妨照舊飲食但用大枕放兩腿兩口令產門不閉為妙妙若強之用力太早性命條關慎之（又六字真言一日睡二日忍痛三日慢臨盆）</p>
<p>催生妙方　不破整荷葉一張略剪去邊再用桂圓照孕婦年紀一歲一個連殼以銀簪刺孔數處將荷葉包好臨產酒煎服之</p>
<p>又方　柞樹枝切成小蝦約兩許甘草四五錢切蝦臨產時水二碗煎一碗服</p>
<p>神效亦治衣胞不下</p>
<p>催山　四兩麻油一兩糖（糖即蜜）銀器溫煎產婦當（如無銀器用磁罐入銀五錢煎）　更加一杯酒在內（酒無灰者）免教母子見閻王</p>
<p>又方　一烏（梅）　三巴（豆）　七胡椒　細研爛搗取成膏　酒醋調和臍下貼　便令子母見分胞（積庵）</p>
<p>橫生　用乾黃牯牛屎二斤分作四股鍋內炒大熱以濕青布袋盛之替換覆</p>
<p>產婦腹上熨之良久即時順生但炒時面將鍋安空處炒不可在灶上切記</p>
<p>死胎不下　脂油蜜糖好酒各等分煎一碗熱服即下（亦治胞衣不下）</p>
<p>又方　鹿角屑三五錢煎蔥豉湯調下立出</p>
<p>胎衣不下多因兒產後血入胞中　此非藥能取效治法先將嬰兒抱住勿斷臍用一伶俐老成婦人以右手二緊跟臍帶而上帶外將指向上半寸余摸之覺有血以指連胞衣向下一捺其血自覆衣自隨下　每見胎衣不下誤服藥或用吐法甚至以足掛肚者大至喪命小至成病宜用上法最妙仍須安靜勿太驚惶</p>
<p>胎衣不下　乾荷葉滾水一衝即服立下如煎則不效</p>
<p>又方　朴硝三錢　童便燉熱調服</p>
<p>產後中風（手足搐逆不省人事）荊芥穗微焙為末每服三錢酒調下或童便服</p>
<p>產後風狂　苦葫蘆（一個去頂不去子入）　鬱金　明礬　半夏各一錢為末再入陳老酒仍將頂封好埋飯內蒸透取出露一宿重湯燉服吐痰即愈</p>
<p>產後閉目不語　生明礬為末每服一錢滾水和下</p>
<p>產後發暈　慣有此病者先用艾葉（春冬一錢秋夏二錢）澤蘭葉二錢　同煎一碗待生下後即將紅糖一兩和勻熱服無論暈與不暈服之皆有大益產後去血過多昏暈不醒者　用韭菜一二斤搗煉入瓶中衝滾熱醋以缸口對產婦鼻孔取氣薰之即醒或以醋澆紅炭薰之或以漆器燒煙薰之如不醒急掐人中（乃鼻下唇上也）捉頭頂心發灌以童便薑汁自醒</p>
<p>產後腥痛　益母草切碎一大撮水一碗煎五分入童便一杯服　或延胡索炒研酒服二錢甚效</p>
<p>產後血不止　百草霜（須燒野草者）　酒調溫服產後大小便不通多服牛乳三日即通人乳更妙</p>
<p>子腸不收　萆麻仁十四粒　研膏敷頭頂心腸上即揭去之內用姜活二兩酒煎服</p>
<p>產後諸症　宜生新血逐敗血用當歸　川芎各等分　每用五錢入好酒一杯煎將乾加水一杯再煎三四滾去渣服</p>
<p>乳汁不下　用雄豬白胰一個切碎鍋炒半熟入黃酒一碗燒滾空心連胰酒服二三次即下</p>
<p>又方　豬前蹄有孔者三四雙同細木通五錢石膏五錢煮熟食湯與蹄子即通　又赤小豆煎湯頻飲即通</p>
<p>乳脹不回　大麥芽炒黃煎服神效</p>
<p>乳癰初起　用蒲公英一兩（即奶漿草每莖開黃花一朵掐斷有白漿者是又名黃花郎草）金銀花藤二兩　搗汁和熱酒服仍以渣敷之　或用香肥皂和紅糖敷</p>
<p>乳癤神效方　黃耆（二錢）　角針（一錢）　花粉錢半　白芷（一錢）　當歸錢半　乳香（一錢）　沒藥（一錢）　紅花（一錢）　瓜蔞（一雙）　連翹錢半　銀花（二錢）　赤芍（一錢）　加福酒一盞同水煎未成者一劑已成者二劑即消會經屢試屢驗（竺岩）乳岩乳癆敗龜板煆存性每服三錢糖拌好酒送下盡醉即消</p>
<p>乳癧潰爛見臟腑者　土棟樹子（經霜者妙川棟不用）雄鼠糞兩頭尖者是炒　露蜂房煆各三錢　為末每服三錢酒下間三日一服不數日膿盡收斂</p>
<p>乳癰　大熟瓜蔞一枚搗爛真白酒一大碗煮取一半去渣溫服又皂角刺燒存性二錢　花粉一錢　共研溫酒三錢</p>
<p>婦人妖魅　以生蜜塗陰戶自絕</p>

<h1>村居急救卷五</h1>

<h2>幼科</h2>
<p>初生小兒不尿乃胎熱也　取大蔥白切四片取乳汁半盞同煎片時分作四服即通不飲乳者服之飲乳若臍傍有青黑色及撮口者不治</p>
<p>小兒初生大小便不通以致腹脹欲死　急令人以湯漱口吸咂兒前後心並手足心臍下七處凡五七次以皮紅赤色為度須臾即通</p>
<p>小兒生下不出聲者即死　可看上齶有泡急以銀簪挑破絲棉試去血勿令入喉即活</p>
<p>又方　切不可斷臍以綿衣包兒用大紙燃燒臍得兒氣轉回方可斷臍</p>
<p>小兒生下偏身無皮　速取白米粉乾樸候皮生乃止</p>
<p>急驚　看食指上（大指傍邊第二指也男看左女看右）近虎口第二節有青紫筋紋用針挑斷擠出惡血即愈忌飲食一復時</p>
<p>小兒夜啼　燈草一大圍燒灰存性仍用燈草湯調下或塗兒上齶亦妙</p>
<p>又方　雞屎塗兒臍中男用雌女用雄</p>
<p>急慢驚風　秒砂（一錢）　輕粉（七分）　直姜蠶七個去頭足焙　全蠍三個洗去泥並鉤炙　共末人乳調服兒小分三次服</p>
<p>小兒夜夜遺尿　雞肫一具去內物洗淨焙乾存性豬尿胞一個燒灰存性二味為末作二三次空心溫酒調服男用雄女用雌</p>
<p>小兒鎖口並口瘡舌上瘡　取桑樹汁塗兒口中</p>
<p>小兒口舌生瘡　乳食湯藥皆不能服下者以生明礬為末以難蛋清同吊麈灰調數腳心布包即愈</p>
<p>小兒好吃泥土生米布物　綠礬土炒　紅棗去皮核飯上蒸熟和勻濕紙包煨研末每五分酒下</p>
<p>小兒健脾丸　山查肉一斤炒焦　白朮二兩土炒為末爛蜜丸彈子大每日服二三丸米湯化下</p>
<p>小兒瘦疳　五穀蟲（清水洗淨瓦上焙脆為末四兩）　（乾蟾一個即暇蟆炙脆）麝香少許　以粳米粉糊為小丸米飲下</p>
<p>又方　石決明磨去粗皮煆一兩　使君子肉焙乾三錢　硃砂三錢　共為細末每用一錢以健豬肝二兩一塊破開入藥在肉用線紮好米泔水煮熟連湯與食之半月愈</p>
<p>小兒癆方　陳酒童便各一杯先煎數十滾再加白蜜人乳各一鍾共煎成膏服重者多服</p>
<p>小兒受寒吐瀉不早治則成慢驚　丁香　陳皮各數分　煎服立愈</p>
<p>小兒臍腫　荊芥煎湯洗淨以煨蔥皮刮薄貼之即消</p>
<p>小兒臍瘡　久不愈馬齒莧燒灰敷之</p>
<p>小兒口瘡　不能吮乳蜜陀僧為末醋調塗足心瘡愈洗之</p>
<p>小兒口疳　甘蔗皮燒灰研末搽之　又溺桶中垢用火煆過一錢銅綠三分麝香一分冰片少許細末吹之</p>
<p>小兒軟癤　大芋頭一個搗如泥敷之</p>
<p>小兒丹毒　入腹則死綠豆五錢大黃二錢為末用生薄荷汁入蜜調塗　又芒硝一兩滾水一盞化水頻試患上　又馬齒莧搗塗之　又藍靛搗敷之</p>
<p>小兒月內乖瘡滿頭及渾身脫皮者　多年尿缸內紅色磚焙乾為末或香油麻油俱可調搽</p>
<p>小兒瘰癧　脂麻連翹等分為末頻食之</p>
<p>預解痘毒　七八月蔌三伏日剪葫蘆須如環子腳者陰乾於除夕煎湯浴小兒可免出痘　又蜡月梅花采將開者曬乾為末煉蜜丸未出痘兒可與三四服加朱尤妙</p>
<p>三豆飲　治天時痘瘡預服此飲疏利解毒縱出亦稀用綠豆赤豆黑豆各一升甘草三兩水煮極熟任意食品店豆與汁七日乃止</p>
<p>消解痘毒　紫草一錢　陳皮五分　蔥白三寸　新汲水煎服</p>
<p>痘出不快　芫荽四兩先用好酒二盞煎一二沸方入芫荽氣即起　又韭菜根煎湯服之　又老絲瓜近蒂三寸連皮燒存性研末沙糖滾水服</p>
<p>痘毒黑疔　紫草三錢雄黃一錢為末以胭脂汁調銀針挑破點之痘瘡作癢　宜燒茶葉煙薰之</p>
<p>痘後癰毒　赤小豆末雞子清塗敷</p>
<p>痘瘡不收靨　牆上白螺螄殼洗淨煆研摻之</p>
<p>痘後日翳　天花粉蛇蛻洗焙等分為末用羊肝披開入藥在內米泔煮熟切食旬日即愈</p>
<p>痘瘡黑陷倒靨　蜡月取乾人糞煆灰為末沙糖水調服</p>
<p>痘爛生蛆　嫩柳葉鋪席上臥之蛆盡出而愈</p>
<p>痘疹入目　取黑狗耳刺血滴眼其瘡自落</p>
<p>發痧疹　櫻桃核打　西河柳（又名觀音柳冬月用風乾者）蔥白各等分同煎飲之</p>
<p>異授終身不出天花神方　大麻子（揀肥白者去殼三十六粒）硃砂透明者一錢　麝香要真者五釐　將秒砂麝香二味同研細然後入大麻子一</p>
<p>處區研極細成膏子於五朋五日午時搽小兒頭頂心前後心兩手心兩腳心兩肘兩腿灣兩脅窩通共十三處俱要搽過一次出痘數顆次年端午再搽一次出痘一二顆再次年端午又搽一次永不出痘如若未過周歲小兒於七月七日九月九日搽之</p>
<p>此方能奪天地造化之功傳方之家不出天花已十三代矣見知聞知普概傳之抄寫或與人莫大陰功也</p>
<p>稀痘方　小兒臍帶落後安淨瓦上用炭火炙乾止令煙盡勿使成灰取出碗覆地上出火氣為末即以乳調服日後出痘自稀</p>
<p>又方　金銀花揀淨七兩　陳六安茶三兩多年者佳</p>
<p>右二味為粗末每日沖湯代茶飲數次終岙不出天花出亦稀合前列數方體用兼全其功效自然神異</p>
<p>小兒麻疹內熱煩燥口中乾燥津液全無者　時與綠豆湯飲之後用白頸大蚯蚓曲鱔　搗爛沖新汲井水發清不拘時服大效</p>
<p>痘毒方　大蚌一個　取肉用黃泥包裹火煨至紅色取蚌肉研末麻油調敷痘瘡敷日陷頂漿滯不行　用水楊柳葉水楊柳葉圓闊而尖枝條短硬與柳樹不同如無葉用枝取四五斤用河水一大鍋煎湯薰浴冷再添湯良久以燈照見累起有暈絲者漿行也如不滿再浴之力弱者只洗頭面手足如屢浴不起者血氣敗矣不可再浴邕出及癢塌者皆不可浴此方百發百中痘疹抓破成膿者用蓋屋多年陳爛草蓋牆頭草亦可為末擦之若渾身膿水沽衣難以坐臥用二三升攤席上令小兒坐臥即安</p>

<h1>村居救急方卷六</h1>

<h2>外科症</h2>
<p>無名腫毒　於端午日正午時以青布包大黃紮緊入糞坑中浸至十二日午時取出以清水洗淨風乾以醋磨敷之屢驗如神每年備用</p>
<p>又方　合硬白丐作圈圍瘡上用黃豆稻穀共麻細末水調作點心樣空其底比瘡大些蒸熟乘熱加瘡上冷則換熱者數次則生者熟熟者出膿愈</p>
<p>無名腫毒　用核桃七個劈開取出桃肉用全蠍七個同桃肉略搗仍將於殼內將殼合好以線紮緊用黃泥裹成團放炭火內煆之先起青煙後起白煙隨即取起入罐中悶息冷定去泥研為細末酒沖服儘量飲醉出汗即愈如村居一時無全蠍只用核桃殼半個以乾人糞填滿刮平合在腫毒上殼外用艾火燒灸以桃殼炸破為度毒自愈　毒蛇咬亦用此方發背　用生牛肉一斤陳石灰四兩共打爛罨患處一日一換神效</p>
<p>又方　如意草搗爛和醋糟為餅貼之一日換數次</p>
<p>又方　初覺時便用艾於患處灸至癢癢又灸之痛使毒氣隨火而散最為良法惟在頭面者忌之</p>
<p>發背腫毒妙方　藤黃（二錢五分）　五倍子（二兩）　共為末米醋調圍之</p>
<p>替針散　癰疽　不破者　蠶陳殼一個　煆存性為末酒調下不可多用背毒　未成者用蟾一雙擊放瘡上半日置水中放其生再易一雙放之又易一雙則毒散矣　已成者用大蝦蟆一個剝其全身癩皮蓋貼瘡口先於皮上以針刺數孔以出毒氣</p>
<p>多年惡瘡百方不瘥或焮腫不已　以馬齒莧搗敷之不過數次即愈</p>
<p>諸惡瘡毒　茨菇葉搗爛塗之立便消退兼治小兒赤遊丹毒（野者更佳）</p>
<p>又方　芙蓉葉或根或花或生搗或乾研蜜調塗於腫處四圍中間留頭乾則頻換已成未成俱效或加生赤豆末更妙</p>
<p>癰癰疽陰毒黑陷不痛　用艾葉一斤硫黃雄黃末各五錢以水同煎半日搗極爛乘溫敷上再易十餘遍知痛可生不知者死癰腫無頭　新生鵝蛋殼燒灰存性為末醋調敷即出膿血</p>
<p>諸毒潰後不長肉　用白蠟一兩冰片二分研勻敷之深者填入即愈</p>
<p>疔毒初起　白礬末三錢　蔥白七根　同搗極爛分作七塊每用熱酒一杯送下服畢蓋暖再飲蔥白湯一杯少頃出汗如淋即愈</p>
<p>疔瘡　凡疔一覺急以磁鋒剌入二三分擠去惡血恐藥一時難覓急尋蝸牛連殼搗爛敷之或菊花根葉搗敷就以菊汁和熱酒下出汗即愈慎勿遲延而誤事也</p>
<p>拔疔方　銀硃（一錢）　濫雞屎（一錢）　荔枝內（十個）　蝸牛（即蜒蚰螺螄也）　烏梅肉（十個）　先用麝香塗疔口將前藥共搗敷上痛即止其疔一夜拔出血疔神方　一窮如針眼出血不止或生肘下或生眼角用真麻油四兩無灰好酒和勻熱服其血即止再以野菊花濃煎常飲切忌茶湯</p>
<p>消疔毒　胡椒廿五粒　獨頭蒜一個　蔥白三根　共搗爛攤油紙上作膏藥貼之即消</p>
<p>血絲疔　五倍子搗再以濫雞屎調入同搗搽上立愈</p>
<p>指頭蛇疔　雞蛋一個去白用黃以荔枝肉嚼爛攪勻裝入殼內套指頭上即清</p>
<p>又方　豬膽一枚八雄黃末五分攪勻汁內套指上縛之手足忽起紅絲最為急症如走入胸中即可喪命　宜急用大針橫截紅絲所到之處刺之令其出血以膏蓋之或嚼浮萍草根敷之立愈　內用明礬末三錢蔥白七根　搗爛分作七塊每熱酒一杯送下以衣被蓋之如無汗再服蔥白湯出汗為度戎發物房事</p>
<p>濕痰流注神方　土茯苓磁鋒刮去皮木杵打碎四兩　膽星（二錢）　川貝僵蟲炒　銀花　槐花炒　五倍子各三錢　橘紅　秦艽　防風各（一錢）　防已（八分）　木通（一錢）　甘遂去皮（八分）　皂角子鮮者（九粒打碎）　肥皂子鮮者（十粒打碎）　虛人加石斛苡仁米各（一錢）　痰在頭頂胸者加夏枯草（一錢）　在背加姜活（五分）　在脅加木瓜（二錢）　牛膝（一錢五分）　用河水九碗煎三碗早午晚各服一碗痰在心之上食後服在心之下食前服如虛者分二劑極虛者分三劑小兒分四劑忌食監醬茶醋豬肉鮮魚雞鵝發物煎炒姜椒菸酒生冷但方內有甘遂恐別丸散中有甘草相反者切不可能已破者止服四五齊不致流於他處隨用十全大補湯加川貝二錢五分石斛二錢乳香炙四分須數十劑全愈如多火之人減去肉桂（十全大補湯方書俱有）</p>
<p>瘰癧初起未破者　將丐照瘡大小略離患處作圈圍者取槐樹根白皮照圍略小入丐圈中用艾茸作一丸於中心灸之肉上覺漸痛即拂去再灸如此三遍其丐圈不動槐皮要換三次連灸三日即消</p>
<p>瘰癧膏方　陳滴醋八斤　肥皂五斤去筋膜　二味同熬如膏再入黃蠟四兩退火氣七日用紅緞或紅布攤貼</p>
<p>又方　左顧牡蠣須斤許者佳火煆醋淬七次研末極細每兩入冰片八釐每早晚各三錢滾水下未潰者內消已潰者收口忌一切氣惱房事如犯者重又吃起</p>
<p>瘰歷痰核內消妙方　好鉛三兩　鐵器內炒取黑灰陳醋調塗以舊帛貼之頻換去惡水如此半月不痛不破內消為水而愈</p>
<p>瘰癧效方　肥皂中仁（八兩）　夏枯草（一斤）　元參（一斤）　共為細末煉蜜丸梧子大每服三錢食遠服至凶者二斤即愈忌一切發物並栗子醋糟肝腸豬首鴨蛋等物</p>
<p>一切破爛瘡多年結毒魚口疳瘡不愈神效　雪白燈心半斤冬月極冷時將燈草入水濕透放陰處凍一二日研為細粉加乳得沒藥輕粉冰片各些須研勻敷之藥須冬月制就</p>
<p>楊梅結毒潰爛不堪　硃砂透明者飛　滑石粉白　共細末每服三分三釐用土茯苓十二兩捶碎拌勻陰陽水六碗煎至三碗渣再用水三碗煎半碗分早午晚溫服忌鹽醋茶一切發物服至月餘愈</p>
<p>楊梅七貼散　細葉野艾根（二兩）　無則用金銀花　土茯苓四兩忌鐵器打碎　生豬油（一兩）　直殭蠶七條研院　蟬蛻翅足全洗淨七枚　肥皂核肉（七粒）　皂莢子（七粒，打碎）　共作一劑空心用水六茶杯煎三杯服午前四杯煎二杯服臨臥二杯煎一杯服每日一貼連服七日未發者暗消已發者收斂永無後患毒草深者用十四貼</p>
<p>梅瘡初起　用豆腐四兩中心開孔入杭粉二錢盛一碗內蒸熱先將蔥三根略煨嚼下後吃完腐粉再飲熱燒酒一二杯用棉被蓋暖於不通一線風處臥出臭汗一身人不可近近則過毒汗不要出盡衣被送於野處露洗之</p>
<p>又楊梅結毒方　鳳仙花熬水棉絮蘇洗拭乾以冰片搽之</p>
<p>又方　皂角子　當歸　白蘇皮　五加皮　金銀花各二兩　分八劑　每劑加土茯苓四兩煎服</p>
<p>廣瘡初起　活黃牛膽好黃酒燉熱沖服以醉為度雄豬膽亦可腳縫濕爛　鵝掌皮陰乾燒灰存性為末乾摻</p>
<p>痔漏　青黛四兩　大露蜂房一個去頂將青黛入內用紙封好香油內浸七日取出露七夜焙乾為末煉蜜丸桐子大每用狗肉汁送下七十丸其管自落</p>
<p>痔方　木鱉子一個醋磨濃汁塗之（許芷庭）</p>
<p>又方　冬青葉濃煎入朴硝乘熱薰洗或魚腥草煎洗以枯礬入冰片少許敷之能以熊膽塗之諸方不及（冬青即女貞樹）</p>
<p>又治漏方　柳上黃耳燒煙薰之久而效（柳上黃耳即柳樹上菌子）</p>
<p>偷糞鼠　貓屎井底泥和勻圍之立愈</p>
<p>一切痔漏　野錢兒蜀葵根枸根水邊楊柳須各一兩先薰後洗耳恭聽數次即愈橫痃　青果核七枚　燒灰研末酒服立愈</p>
<p>又方　菜油二三兩入少年頭髮二三錢銅杓煎枯去渣用去殼雞蛋二三枚放碗內以滾油傾下連油蛋食之立消</p>
<p>治魚口便毒　活山羊解鋸下燒灰每服二錢好酒送下連服二三次即愈左用左角右用右角或豬蹄甲亦可（蹄甲亦燒灰用）</p>
<p>又方　棉地榆　白酒三碗煎一碗空心服雖有膿者亦愈加穿山甲同患處大者二片土炒引經更妙</p>
<p>鶴膝風　鱔魚不拘二三條同酒糟搗如泥加麝香三分敷患處紙隔布扎六七日內作熱任他熱熱後即愈</p>
<p>又方　蘄艾半斤　煎湯乘熱薰洗一日數次</p>
<p>又方　陳石灰　芙蓉葉　生薑　蒲黃各四兩　共打一塊如膏藥一般貼之三次即愈</p>
<p>又方　薴麻根數兩健豬腦子二個同搗爛又入乳香沒藥各二錢和勻敷之腸癰　小腹堅硬如掌而熱按之則痛肉色如故或焮赤微腫小便頻數汗出憎寒或腳縮不伸者服之神效　大黃炒　朴硝各一錢　丹皮　白芥子炒研究院桃仁研各二錢　空心煎服</p>
<p>懸癰　生在肚門前陰囊後兩交界處初如蓮子漸如桃李宜急治之　大粉草四兩　長流水浸透炭炙乾再浸再炙三次切片同當歸三兩水三碗慢火熬至稠將好酒對勻食前數次服未成即消已成即潰潰即收功</p>
<p>臟毒　人中白以泥固火煆去泥（一兩）　川烏（一錢）　草烏（五分）　乳香（五分）　沒藥（五分）　共細末桐油調敷</p>
<p>又方　乾柿燒灰米飲下二三錢</p>
<p>膿窠疥瘡　單板機黃（二兩）　黃柏（二兩）　斑毛（七個）　豬板油（四兩）　同入杓內熬枯濾去渣入研爛大楓子肉四十九粒調勻搽之</p>
<p>黃水浸淫傷手等瘡　水銀（一兩）　用鉛六七分死之　雄黃（一錢）　枯礬官粉　五倍子（五分）　共末濕則摻乾則香油調搽</p>
<p>魚胞瘡　身上忽起水泡如魚胞破之惟流清水已而又起甚痛以蜘蛛網纏之即落如再起再纏二三次即愈</p>
<p>葡萄瘡　其色紫如葡萄此瘡令人心煩亦惡瘡也用小榆條如針細者去皮橫堅穿斷去血即愈</p>
<p>膿巢瘡血風並效　雄黃二錢（五分）　硫磺（二錢）　黃柏（二錢）　石膏（一錢）為末菜油調搽</p>
<p>風疾癬癩藥酒方　秦艽　當歸功於　天麻　姜活　五加皮　防風各二兩　白花蛇（一條酒浸去骨）老酒（一斤）　煮三炷香入土埋一宿停六日漸次飲之其渣曬乾磨末水滴丸服</p>
<p>狗癬疥　初起小顆極癢漸成片出黃水者　狗脊（二兩砂黑）　地榆（二兩炒黑）　枯礬（五錢）　寒水石（一兩）　蛇床子（一兩二錢）　硫黃用渾酒腳煮乾（五錢）　共末熟豆油調搽　頑癬　硫黃　燒鹽　土大黃根（俗名牛舌頭草）　同搗爛每洗澡後穿山甲刮破搽之</p>
<p>疥瘡　川椒　尖檳榔各（三錢）　蛇床子　枯礬各（二錢）　雄黃　水銀　輕粉　樟冰各（三錢）　楓子　杏仁各（四十九粒）　共研細和勻加桐油（一兩）</p>
<p>為丸患處滾之</p>
<p>癩疥瘡方　硫黃四五錢用監滷半杯將硫黃在瓦器內以文火溶化入監滷中再溶再入如是者七次至第八次在泥地上掘一孔以硫黃倒入膈一宿取出以麻油磨塗立愈（竺岩）</p>
<p>鵝掌風　番木鱉　常山各一兩　同桐油四兩浸七日取油搽患處外有松毛川椒燒煙薰之不可下水</p>
<p>又方　連須蔥白搗汁半斤熬成四兩入好蜜四兩再熬一半每晚搽之以火烘乾終身忌食忌鵝肉</p>
<p>風疹癢甚爬隨起疙瘩大小累累不斷者　艾葉　菊花　金銀花各等分　葉亦可　獨頭蒜共搗爛入雄黃二錢麝香少許塗三四次即愈癬　花椒煮濃汁乘熱泡洗仍將椒研爛敷癬上數次即愈</p>
<p>癩疥　麻油一杯入雞蛋一個銅杓熬枯去蛋又入川椒二錢煎枯去椒又入研細硫黃明礬煎數沸取起搽之</p>
<p>黃水瘡　小兒頭上最生此瘡　松香（一兩研細裝蔥管內水煮去）蔥　枯礬（五錢）　飛丹（二錢）　輕粉（五分）　無名異少許　共為末香油調搽</p>
<p>禿瘡剃頭後以銀匠店中漬銀水熱洗一遍切蒜瓣擦之或搗爛敷之或用豬腳爪煆末麻油調搽三四次除根</p>
<p>蟮拱頭　小兒夏月頭上多患此毒出膿又脹綿綿不愈實為厭用田螺肉韭地蚯蚓泥共打勻做膏貼之或用澆銅杓擔上化銅舊罐研細桐油調敷並效</p>
<p>大人小兒遍身赤腫火毒　生大黃　皮硝各等分　共末用扁柏葉搗拌調敷火丹（滿身生遍形如水泡者）用小兒胎衣缸內水以雞毛抹上隨手而愈</p>
<p>又方赤遊丹　美人芭蕉貼患處桐油煎滾用生薑切片蘇熱油於蕉葉上擦之立愈</p>
<p>渾身生猴子　芝麻花每日擦不住手即愈</p>
<p>白蛇纏腰　腰間忽起紅泡若不早治被其纏到不救用蛇殼一條燒灰存性廁坑板上浮泥刮下同研細童便調敷數次即愈</p>
<p>汗斑　蜜佗僧為末以隔年陳醋調搽隨手而愈</p>
<p>鼻疳爛通鼻孔鹿角　明礬各一錢瓦上煆過　人發五錢燈上燒灰　共為細末花椒湯將患處洗敷之如不收口以瓦松燒灰敷之</p>
<p>鬍子瘡　五倍子和棗肉煆（三錢）　銅青（一錢）　輕粉　枯礬　松香各（三錢）　羊須一錢燒灰如無以水楊須代之　黃連（一錢）　檳榔　杏仁去皮　楓子肉各（三錢）　黃細末香油調搽</p>
<p>膿耳　水聾骨（一錢）　硼砂（五分）　為末吹之</p>
<p>又方　海螵蛸（五分）　麝香（三釐）　為末吹之</p>
<p>舌腫滿口或出血　蒲黃末摻之</p>
<p>坐板瘡　用尿屎處磚燒熱上鋪大麻子葉（即萆麻子葉）乘熱坐在磚上湯不過一二次即愈</p>
<p>又方　松香（五錢）　雄黃（一錢）　蒼朮（三錢）　共末和勻綿紙包撚作紙條二個臘豬油溶化浸透火燒滴下油搽之</p>
<p>又方　陳荷葉煎水常薰常洗生芝麻嚼爛敷之</p>
<p>腎囊風　癢不可忍用大葉楊柳葉煎水薰洗或牆上醬板豆草煎洗後以蚯一切濕爛血風廉瘡　黃柏末　甘草末各（五錢）　輕粉（二錢）以手研細　糞坑中舊磚瓦洗淨以炭火燒紅淬入醋內如此七遍為末一兩共為一處桐油調敷早晚二次先用米泔水洗然後上藥</p>
<p>傷手頑瘡久不收口　蘆甘石　赤石脂各（一錢）入銀罐煆紅淬入黃黃芩柏湯內去湯曬乾　松香七分　冰片（一分）　共細末用白佔二錢化開調藥在內塗之先用甘草湯洗</p>
<p>臁瘡　朝腦　松香　杭粉　蔥白　雞蛋清　健豬油各等分搗爛用油紙二層上雞眼皮燒灰存性加冰片少許搽之　或溪港內年久螺螄殼燒灰加冰片亦妙</p>
<p>又方　面紛置鐵刀上以炭火焙黃色油透舊羅緞帽沿燒灰各等分研細搽之宜用甘草瓦花煎湯洗之</p>
<p>女人陰疳　五倍子整者一個開一孔入兒茶黃柏末填滿其中入銀罐內煆存性每用一錢加冰片二分龍骨三分共研細末摻之再以熟豬肝夾之</p>
<p>裙風瘡　甘石醋煆為末麻油日日調敷</p>
<p>濕毒臁瘡　麻油二兩入川椒三十粒熬枯去椒加輕紛二錢研細　蠟白一兩　收成膏以綿紙攤成膏藥先用苦參湯洗後貼之二日一換</p>
<p>頑瘡不收口　兒茶　龍骨煆各（一錢）　輕粉　滑石各（五分）　冰片（五釐）　為細末苦茶洗後以紗管盛藥彈患處</p>
<p>千捶膏　貼一切惡久不愈頑瘡能拔毒去腐　松香（一錢）　萆麻子（四十九粒）　銅青（二錢）　共捶千下捻成膏藥貼之</p>
<p>熱癤　生半夏　監　飛丐各等分　為末陳醋調敷調即消去爛肉方　巴豆仁炒煙起焦黑為度研極細末摻之去腐之去腐生新</p>
<p>遍身發癢或生細瘡　用七月七或七月半收紫背浮萍煎湯洗或煎服一切惡瘡疼痛並疥瘡俱效　取蒼耳梗內蟲以陰陽瓦焙存性研細每服一錢空心溫酒下</p>
<p>口舌生瘡　黃連炮姜灰青黛兒茶各等分為末摻之</p>
<p>舌卒腫大塞口不治殺人　百草霜和酒塗之或以蒲黃乾姜等分為摻之內用甘草濃煎漱之（百草霜須燒野草者是）</p>
<p>唇裂生瘡　黃柏末以薔薇根汁調塗</p>
<p>牙齦疳爛臭敗者　胡黃連五分　膽礬盛於青魚膽內陰乾為末吹之立效</p>
<p>咽喉痛腫　燈草（一錢）　黃柏（五分）　並燒灰存性枯礬（七分）　冰片（三分）</p>
<p>為末每以二三分吹患處</p>
<p>鶴膝風　肥皂二個去子　五倍子去灰　皮硝各一兩共研末用頭酒糟四兩沙糖一兩薑汁半茶鍾和搗敷膝上乾加燒酒潤之十日愈</p>
<p>天泡瘡　絲瓜水調官粉敷　若日久作爛疼痛不已膿水淋漓者　石膏煆　輕粉各（一兩）　青黛　黃柏各（三錢）　共末甘草湯洗淨摻之　或用瓦花汁調抹之</p>
<p>風疽腫毒　麻油熬蔥黑色趁熱旋塗自消　又陳小粉年久者愈佳鍋炒黃黑色研以陳米醋調熬如黑漆狀瓦罐收用紙攤剪孔貼之冷如冰痛即止少頃覺癢乾不可動毒消藥脫神驗</p>
<p>一切腫毒痛不可忍　萆麻子仁搗敷即止</p>
<p>惡瘡腫毒人不能識者　取獨頭蒜二顆搗爛和麻油厚敷乾則易渾身疥癩　端午日午時採番白草每用一握煎洗效</p>
<p>又方　苦參半斤　河水煎數沸入雄豬膽汁四五枚淋洗血風瘡　千年石灰研搽之</p>
<p>又方　黃柏一兩　以豬膽汁拌之曬乾數次研細　枯礬（三錢）　花椒湯洗後摻之　或用桐油調搽</p>
<p>大麻風鬚眉脫落　扃柏葉九蒸九曬為末每服一錢一日三服滾水下厲風瘙癢遍身疹癩毛落須脫　白花蛇一條　首尾全者酒浸二三日去骨陰乾　苦參四兩　共為末以皂角五斤去皮弦酒浸一宿取出用水熬膏和丸梧子每服七十丸以防風通聖散送下</p>
<p>又方　經霜皂莢刺為末隔一日空心酒下二錢忌發物</p>
<p>又洗方　艾（八兩）　明礬（四兩）　楝樹根皮八兩　每日煎湯浴之</p>
<p>防風通聖散方</p>
<p>防風　大黃　赤芍　薄荷　川芎　當歸　甘草　朴硝　山梔　連翹　黃芩　桂枝　白朮　麻黃　荊芥　滑石　石膏　各等分河水煎囊癰　用野紫蘇葉（面青背紅者是）焙乾為末敷之中燥以得油調敷對口</p>
<p>番瓜蒂燒灰存性麻油調敷偏者妨</p>
<p>諸毒傷</p>
<p>蜂蜇毒　小便洗擦拭乾香油搽之或雄黃末搽之或瓦花搗塗之蟹毒　蒜汁　黑豆汁　紫蘇汁　俱可解</p>
<p>解中河豚毒　一時無藥急以清麻油多灌吐出毒物</p>
<p>又方　蘆根汁或金汁服之愈</p>
<p>自死六畜毒　壁上黃土水調服　或飲人乳一碗</p>
<p>解中砒毒　黃佔四兩　快刀削入鐵鍋內用水四碗煎至二碗待溫灌下如蠟不盡掐作小丸灌下其毒蠟裹後大便出</p>
<p>又方　綠豆粉（四兩）　黃泥飾淨（四兩）　雞子清（九個）　共一處以浸豆水和服</p>
<p>風犬咬毒　拔去頭頂紅髮一根搗蔥敷患處急於無風處掐去惡血如孔乾以針刺出血鹽湯洗淨用糯米一撮番木則加一個連前藥炒黃去斑毛不用研末酒服忌房事聞鑼聲終身不可吃犬羊肉</p>
<p>又方　即將風犬打死取血和老油服之又取犬心酒煮服此方神效不必服他藥亦不必忌口</p>
<p>誤吞螞蝗為害最毒　但多服蜜即愈　或飲地漿亦妙</p>
<p>解諸藥毒　蠶脫紙燒灰研細每以一錢冷水調下少頃再服雖面青脈絕腹脹吐血服之立效亦治牛馬誤食蜘蛛腹脹欲死凡覺中毒即以生豆試之不聞腥氣即是</p>
<p>人咬傷　熱尿洗去牙黃並血嚼生白果塗之如痛以麻油紙燃焰薰之用乾屎裝荔枝殼內加艾灸以不痛為止</p>
<p>咬傷指頭久則脫爛手指　急用熱尿入缻將指浸之一夕即愈如爛手用夾蛇龜殼燒灰敷之</p>
<p>虎咬　搗青松汁敷升飲之以渣敷患處頻易即愈</p>
<p>毒蛇咬　全蠍二個洗去泥　蜈蚣一條　同炙研末酒下立愈</p>
<p>鼠咬　斑毛燒灰入麝香少許津唾調敷或以吳萸擦貓鼻取涎塗之蠍子傷　杏仁七粒　蔥白三寸　搗爛津唾調敷立愈</p>
<p>惡犬傷　以米泔洗淨毒以熱牛糞封之即時痛止</p>
<p>又方　刮內店墩上油膩和沙糖敷之</p>
<p>又方　多年舊屋瓦上青苔刮下塗之立愈</p>
<p>毒蛇咬傷　以大藍汁小藍楷搗爛敷之</p>
<p>又方　五爪龍草敷立愈其草牽藤莖光每葉五辨面光者是多生屋邊陰處如葉七辨莖有毛者非</p>
<p>中蚯蚓毒　小兒受之則卵腫用鹽湯洗鴨血塗之</p>
<p>諸色惡蟲咬傷　用薑汁先洗患處用明礬雄黃為末搽之</p>
<p>蓑衣蟲傷　其蟲隱壁間以尿射人遍身生瘡狀如湯火傷烏雞翎燒灰雞子清調敷</p>
<p>百蟲入耳　薑汁少許滴之或蔥汁雞冠血亦妙</p>
<p>又法　用紙塞耳鼻留蟲入之耳不寒閉口勿言少頃即出</p>
<p>毒蛇咬傷　用針剌傷處出血急以繩扎兩頭浸糞缸中毒不肉攻以煙管燒滴油搽之百試百驗</p>
<p>蜈蚣咬　鮮扁豆葉揉爛敷之　又刺雞冠血塗之　又以草紙點火薰之立止　又蜘蛛置患處自吮其毒</p>
<p>解鹽滷　生豆腐漿灌之再以鵝翎絞喉吐之即活</p>
<p>食毒鱉　飲藍汁數碗或靛青水亦可</p>
<p>燒酒毒　用白蘿蔔或熱尿灌之</p>
<p>牛肉毒　烏柏樹根皮酒煎服或野菊花連根搗汁服</p>
<p>野菌毒　飲以地漿掘地二三尺傾以新汲水桶許用棍攪之澄清即地漿也</p>
<p>天絲入目　用梳垢為一丸放眼角邊即出</p>
<p>煙渣入目　用亂髮或綜纓緩緩揉之即愈（如將湯洗必疼傷眼）</p>
<p>麥芒入目　煮大麥汁洗之即愈</p>
<p>誤食麥芒　取鴨涎食之即消（竺岩）</p>
<p>膝瘡　用螃蟹唾沫搽或磨刀水泥塗之或用彬木煎湯洗或蟹殼滑石未蜜讞搽　或石膏輕粉韭汁調搽</p>
<p>誤服桐油吐不止　急飲熱酒一杯即解</p>
<p>中斷腸草毒　生雞子三四枚灌之或服熱羊血碗許總宜吐盡為妙</p>
<p>婦人打胎誤服鉛粉每至欲死　急搗蘿蔔汁飲之</p>
<p>誤吞針　米飲調炭末三錢或用蠶豆煮熟同韭菜吃針後大便出</p>
<p>誤吞銅錢　多服荸齊自化</p>
<p>誤吞金銀銅鐵等物　取鳳仙子或根搗汁服自下或多吃麥芽糖即白糖也魚骨刺喉　用紫玉簪根搗汁以茶匙挑灌不可沾齒如沾齒落去為其化骨不化肉也　又即以魚淨肉滿口咽之即下</p>
<p>諸骨哽喉　以硼砂含化食頃即愈或以鳳仙花子二三十粒研細白湯下箭頭針刺人肉不出　用萆麻子去殼搗爛敷之癢而即出</p>
<p>又方　巴豆仁略炙與蟑螂同研塗之痛定覺微癢忍之待極癢不可忍便搖動拔出速以生肌藥敷之</p>
<p>銃子入肉　蜂蜜不拘多少衝好酒飲醉即出如無用黃蠟亦可或用舊銀罐同水銀研入患處其鉛即化隨水銀出</p>
<p>諸骨哽咽　威云（一兩二錢）　砂仁（一兩研）　沙糖一盞水二鍾煎一鍾服魚骨哽咽　飴糖如棗大吞之不下再服又口含硼砂咽汁即下</p>
<p>跌打損傷（止痛散血）好酒糟一團生薑四兩搗爛同炒熱布包搭患處以大錫茶壺盛滾水煨之冷則換更吃童便好酒以醉為度或以本人頭髮一縷燒灰酒下　又飲以熟麻油好酒臥火燒地上一覺而痛腫俱消跌損傷力畜血　歸尾三錢　地鱉蟲（三錢研）　元胡（一錢）　胡桃肉（五錢）　紅花（二錢）　蘇蘇木（五錢）　酒煎服不可見水</p>
<p>手足跌折接骨神方　五加皮（四兩）　為細末雄雞一雙重七八兩者去翅頭爪並腸胃毛入加皮同搗爛先於跌碎處整理對縫不可少有差錯然後以雞攤於布上周違裹紮縛緊不可搖動又用彬木薄片十餘條首尾各攢一孔以繩穿相連四下再裹於外方不轉動藥敷一伏時將此藥再換其骨自接並沒疼痛有換三四次者不等以後只用加皮四兩煮紅糖為膏敷至平復為度若不先理對縫明白若差毫釐敷藥則多長一分切記</p>
<p>折傷斷指破唇缺耳　胡桃隔炒為末　千年石灰　血竭　降香節　白占各等分　為末敷之</p>
<p>跌損　用白公雞一雙連毛皮去頭爪腸胃搗爛入飛面少許同搗先將湯浴患處然後敷上包緊伺患處作癢方可去藥</p>
<p>一切刀傷磕損跌撲腫痛或出血　用蔥白細切搗爛炒熟敷患處蔥冷再換神效</p>
<p>刀斧傷出血不止　用陳石灰同韭菜搗爛陰乾研細罨之立刻止血生肌或用黃亮松香研細罨之即止雖切斷亦接莫下水（端午日合更效）</p>
<p>又方　刀刮青石末摻之</p>
<p>金瘡血出不止　紫黑降香節銼末微炒出汗五倍子打碎炒黃色各等分為細末摻之</p>
<p>跌打損傷　切莫用水洗洗則難好急用古廟屋上多年瓦任取一片拌滴醋燒乾乾又拌一連七次研細沖熱酒飲醉立愈</p>
<p>又方　來往人尿處舊磚燒紅醋漓淬研末酒下立愈</p>
<p>跌作接骨　取活蟹搗爛沖熱酒服儘量飲醉再以渣罨患處半日骨內有聲即接或用菜瓜子三錢略炒為末酒下數次即接在上者食後服在下者食前服骨碎垂危用乳香沒藥各三錢研碎以滾酒儘量服之頭面手足踢或擦壞皮肉　冬青葉同醋煮數沸略滴麻油少許在內取葉換貼自好</p>
<p>閃腰打傷閃肭並手足損傷不出血但有青腫紫色風傷者　先以蔥白搗爛炒熟將痛處擦遍隨用生大黃研末薑汁調敷儘量飲以好酒即愈</p>
<p>打傷青腫　用生豬精肉一片將當歸赤石脂末少摻肉上貼之</p>
<p>又方　切豆腐片如指厚於鐵片上烙熱搭患處冷則易之數次即愈</p>
<p>打傷眼睛　切莫用涼藥涼水則血凝難治如打出眼睛仍放眼內不可把瞳人背了將生地加酒搗爛敷之</p>
<p>破傷風　蠐螬蟲一個（即土蠶）兩指掐其腰口中吐出黃水抹患處避風汗出即愈（蟲仍送土中）</p>
<p>治打綿臀　錫箔用無根水濕過鋪杖處以手掌著辦拍打即消</p>
<p>又方　木耳（四兩）　炒黃為末蜜調敷患上</p>
<p>後高墜下或落馬欲死　取老鴉眼睛藤搗汁服之以渣塗患處或韭菜汁或熱童便灌之或元胡索末三錢酒下日進二服</p>
<p>夾棍傷　急用熱童便一桶將足浸之如冷用燒紅磚二塊淬之即熱直浸至童便面上浮起白油其傷盡出矣　再用肥皂搗如泥雞子清和勻敷患處以草紙包裹腳縛昆一夜不可動內服人中白一兩煆　乳香沒藥各（三錢）　箬炙　牛膝（三錢）　木耳燒灰（五錢）　自然銅煆（五錢）　共末用牛膝煎酒調下三四錢</p>
<p>棒瘡膏　麻油四兩　煎滾入雞子黃（三個）　熬枯撈去再入洗淨血餘（五錢）</p>
<p>又熬枯勞去下白蠟（五錢）　冰片（三分）　和勻放地冷透薄敷患處</p>
<p>竹木瓦刺入肉　大活蝦七個　搗爛塗之一時剌隨蝦出</p>
<p>又方　莧菜搗爛敷患處外以布裹定一二日即化</p>
<p>鬼箭打　山梔炒（七個）　丐炒　桃頭（七個）　共杵餅貼患上次日取下作七丸投炭火燒響即愈</p>
<p>肉刺雞眼　萆麻子搗敷之或用活蜈蚣一條搗爛敷之</p>
<p>腳墊傷痛　人走長路緊急被石塊腳底墊腫不能行走痛不可忍急用舊草鞋底浸尿桶內一夜新瓦磚一塊燒紅以浸濕草鞋放磚上隨以腳踏上火逼尿氣入內節消如走長路兩腳腫痛亦用此法若不早治恐潰爛難愈手足開折　用湯洗淨用黃占（一兩）　溶化入松香末（二分）　以少許安刀頭上溶化滴入折中</p>
<p>湯火傷　醋調黃土敷效或用板炭取浮水上者研細有水乾摻如無水用菜油調敷冷水心死　浸冷水中心爛至骨或用蛤蜊殼炙焦研細菜油調敷</p>
<p>又方　白芨　大黃　以麻油磨塗（鋤葉）</p>
<p>又方　雞子清好冷燒酒調勻以雞翎掃患上乾則再塗立效</p>
<p>又方　活豬鬃剪下燒灰麻油調敷神效加輕粉硼砂少許更妙</p>
<p>刀傷刎頸不斷喉者　急以白蠟為細末滿填患處</p>

<h1>村居救急方卷七</h1>

<h2>五絕</h2>
<p>縊死者用一有力人抱住解繩不得剪斷輕輕放倒捻正喉嚨以手掩住口鼻勿令走氣一人以腳挺其兩肩用挽其頂發常令弦急勿縱再一人摩其胸臆屈伸其手足再一人以膝裹衣抿住糞門女人則連陰戶不令氣泄將筆管吹其兩耳氣回眼開仍然按引勿放用薑湯或米飲灌之能自咽乃止自旦至暮雖冷可救自莫斷繩輕輕鬆解放下刺雞冠血滴口鼻中（白公雞尤佳）又用皂莢細辛為末吹鼻中或以細蔥心刺耳鼻中有血出即蘇溺死　將患人伏大橙上面時刻搖動之以鹽擦動之以鹽擦膝中待水流出即活但心頭溫者皆可救切忌提出倒水烘無救又法　用鍋合地令死者腹對鍋臍覆上用人扶牢徐徐移鍋橫走以筋夾口中出腹中水即活又橫臥牛背上令人牽牛徐徐走領出水即活火燒悶死　以新尿冷飲之或以溫水和蜜飲遍身燒爛　或服蘿蔔汁或服童便隨所取好酒一二壅入缸中令患者浸酒中極重不死</p>
<p>魘死　切忌火照驚惶但狠咬其腳跟用皂角末吹鼻中打噴氣通即活或烏骨雞血滴口中立活</p>
<p>熱死　伏天行走熱極卒然昏倒斷不可與冷物遇冷即死移陰處取道傍熱土圍於臍上使數人溺尿於臍中熱湯沖洗更妙急以童便乘熱灌之再以布蘇熱湯熨臍下三寸立醒醒後忌與冷水即與道傍熱土和大蒜沖滾水灌之</p>
<p>冬月落水凍死　心頭有微熱者脫去濕衣解活人暖衣護之即用灶灰炒熱布包熨心上冷即換待氣回少與好酒熱粥湯若不先溫心頭便火烘則冷與火爭必死　或用灶中灰一石埋之惟露七孔</p>
<p>中惡　或弔喪登塚入廟來鄉卒死口鼻流血但腹不鳴心下溫暖急用菖蒲搗汁灌口鼻自愈或切斷豬尾取血飲之半縛豚枕之立活</p>
<p>卒中厥論風寒暑熱鬼邪陰濕氣　薑汁一鍾童便一鍾和灌之</p>
<p>效自刎法　自刎之人斷食顙者易治斷氣顙者難治全要在知覺急早即將頭扶住乘其氣未絕額未冷急將活雞一二雙扯下熱雞皮冷則無用將線縫刀口周圍纏護用軟絹帛並棉花扎之外將女子舊布裹腳周圍再纏五六轉勿使泄氣其中自然合一令患者仰臥以高枕枕腦後使頭鬱而不直刀口不開冬夏避風衣被蓋暖若氣後口鼻通出方用白米一合入人參五錢姜三片同煎粥湯飲之接補元氣再延名醫調治可也　倘能預備陳石灰二斤大黃四兩同炒石灰至桃花色去大黃將灰研細收瓶內過月出火氣再以降香末松香末外面多多敷之妙</p>
<p>跌磕木石厭死氣未絕者　急擗開口以熱小便灌之</p>
<p>附余錄驗方</p>
<p>種子方　調經　當歸身四兩酒洗　大川芎二錢　白茯苓去皮（三錢）　廣皮（三錢）　制香附（六錢）　吳茱萸四炒　延胡縈（三錢）　丹皮（三錢）　白芍酒炒（二錢）</p>
<p>若經水先期血紫者血虛有熱也本方加條芩三錢過期色淡者血虛有寒也本方加官桂炮姜熟艾各五分　用水一碗半煎八分經水至日空心服渣再煎臨臥服一日一劑服至經止兩三日交媾即孕屢試輒驗</p>
<p>又方　凡人五十歲無子者是精寒不能得孕也服此方極效　胡桃肉一斤肉蓯蓉（一兩）　製附子（五錢）　補骨脂四兩用酒略煮取起</p>
<p>右藥共研極細末水泛為丸如桐子大每服一錢元眼湯送下</p>
<p>避難全嬰方　用綿作一小球略使滿口而不使閉其氣以甘草煎湯或甜物皆可炙之臨時縛置兒口中使咽其味兒口有物食之自不能作聲而綿軟不傷兒口蓋不幸而遇過難啼聲不止恐為賊所聞棄之道旁哀哉用此法活甚眾不可不知</p>
<p>煮豆救飢方　或遠行或荒歲皆可備急一時　黃豆（七斤）　芝麻（三斗）</p>
<p>水淘過即蒸不可浸多時恐去元氣蒸過即曬曬乾去殼三蒸三曬搗為細末米粉糊為丸如胡桃大每服一丸可以不飢</p>
<p>生產神效仙方　治產久不下屬氣知虛者　熟地黃（一兩）　灸黃蓍（四兩）　白歸身（四錢）　西潞黨（四錢）　炒臼芍（一錢）　川撫芎（一錢）　肚枸杞子（四錢）　浙茯苓（三錢）</p>
<p>此方大補氣血於臨產危急時無論產婦平素氣質強弱胞衣已破未破宜急以方內之藥連進三四劑不必用二汁恐其力薄也服後痛可立止胎自順下矣屢經試驗</p>
<p>開玉門仙方　即開骨散　全當歸（一兩）　川撫芎（七錢）　灸龜版（一錢）　杜血餘三錢　用水二碗煎一碗如行五里之戶即生若死胎亦即下也</p>
<p>有人產門不開兩日未生服此一劑即產真聖藥也</p>
<p>六字真言　（唾）　（忍痛）　（慢臨盆）　唾　將產時須要調養心神愛異氣力若能上休閉目安唾片時最好倘不能睡即暫時起身或扶人緩行或撫桌站立痛若稍緩又上休安睡但宜仰臥使腹中寬舒小兒易於轉動且大人睡下兒亦睡下轉身更不費力總之睡為第一妙法</p>
<p>忍痛　臨期第一要忍痛如初覺腹痛不問試胎與正產自已先立定主意生育乃天地自然之理世間極容易之事不必驚慌但看痛一陳不住連痛三五七陳漸痛漸緊方是大產與人說知以便伺候若痛得慢此為試胎且自安眠穩食品店寬心靜養使痛陳漸急自然易生</p>
<p>慢臨盆　將產不可輕易臨盆此是最要昆關頭不可認錯倘聽信穩婆說孩兒頭已在此以致用力太早或兒身未轉胞漿未破即便臨盆豆不有誤須看痛之緊慢真當其候方可至囑至囑要積壓天生天養當其時小兒自會攢出何須性急後來瓜熟蒂落水到渠成自然而然不待勉強及至生下產母亦自知其所然也</p>
<p>亦余各方原書全缺社友炳章曹君後他書補入惟避難全嬰法一方得系吉生錄於方便醫書中吉生附志</p>
