<header data-type="book">
<h1>產孕集</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張曜孫</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1830">公元1830年</data></dd></div>
<div><dt>底本</dt><dd>清同治七年重訂刊本（<a href="https://lccn.loc.gov/2012402488">美國國會圖書館藏本</a>）；《珍本醫書集成》第八冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521058">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>粵稽古來產書，惟《產寶》諸方及《產育寶慶》方，見於《永樂大典》，藏於我朝四庫，世間多不傳，所傳者《胎產心法》、《達生篇》諸書，擇焉不精，語為不詳，皆不得為善本。陽湖張仲遠先生有《產孕集》一書，推原人生受命之始，因時調護之力，變故挽回之法，無乎不備。而其措詞雅馴，推本陰陽生化之原，關睢之亂，尤以隱維世道，默挽人心，所以端本於閨門，立極於椎輅，其用心深矣至矣，其濟世廣矣久矣。是書向有刻本，風行海內，先生自序剴切詳明，行篋擦損，無可仿寫，梓人重刊，聊敘顛末。</p>
<p><u>光緒二十四年歲在戊戌冬十月長白濟世謹序</u></p>

<h1>上篇</h1>

<h2>辨孕第一</h2>
<p>二氣相感，合而生神，兩精相搏，聚而成形，陽奇而施，陰偶而承，陽施而靜，陰承而動，靜則陽凝，動則陰攝，動靜互根，形神交倚，而孕以成。易曰：天地絪縕，萬物化醇，男女構精，萬物化生。故乾坤消息而變萬類，日月運行而生寒暑。鳥獸草木昆蟲鱗介之屬，莫不附陰化陽，因氣成質，其生雖不同，而所以生者一也。人為萬物之靈，得天地之正，具五德之全，經緯蕃變，與上下參。男稟陽，得乾道；女稟陰，得坤道。乾主動而生靜，坤主靜而生動。乾動則陽施，坤靜則陰承。陽生靜則氣化而神生，陰生動則精融而形成。神裕其始，而形要其終，故孕者始於神而終於形，生於陽而成於陰也。凡物生易而成難，未孕之先，兩氣相感，如磁引針，如珀黏芥，適然而合，其動以天，非陰陽離決，氣憊精涸者，鮮不凝合，自然生化，絕無人功。即孕之後，積氣成形，分別百體，營建藏府，條理絡脈，灌溉筋骨，閱三百餘日，乃成為人。日滋月遂，盡取給於母氣，苟失其道，或生而不育，形體不具，氣血薄弱，壽命夭折，譬之果實之屬，風雪侵之，非立見萎落，即不適於口，故未孕之先，無俟人力，既孕之後，半由人功。攝養以安之，藥物以助之，調其陰陽以煦之，絕其賊害以固之，祛其疾痛以衛之，皆人力之所為也。古者，婦人別立治法，以有月事產孕之異，而產孕尤重。蓋產孕者，生人之始，而保護又產孕之始也。愚者不察，或誤孕為疾，而肆其攻擊，或誤疾為孕，而養虎貽患，小則傷體，大則傷生，深可憫焉。辨孕之法，《素問》曰：陰搏陽別，謂之有子。又曰：足少陰脈動甚者，妊子也。《脈經》曰：脈滑疾而重，按之散者胎已三月。脈重按之不散，但疾不滑者，五月也。又曰：三部浮沉正等，按之無絕者，妊也。《千金方》論曰：脈平而虛者，乳子法也。手少陰脈動甚者，妊子也。尺中之脈，按之不絕者，法妊娠也。諸家論脈，其說不一，要不外滑利和平，不偏不弊，所謂身有病而無病脈，身無病而有病脈，為簡而易明。經閉吐逆，體怠惡食，而脈反平和，是有病而無病脈也；外無吐逆諸病，體旺如昔，而脈反滑利動疾，是無病而有病脈也。脈象微妙，驟不易知，差之毫釐，謬以千里。善診者，心領神會，毋事固執，斯為善也。懷妊之候，必病惡阻，若沉重憒悶，不欲飲食，又不知患所在，頭重眩暈，四肢惰懈，不欲執作，喜啖酸鹹果實，多臥少起，氣逆嘔吐，蓋由經血既閉，水漬於藏，藏氣不宣，血脈不行，故有此候。察其候，合其脈，孕之是非，無所遁矣。若兼有表裡諸疾，脈不可辨，則別有驗之之法：以雀腦芎藭一兩，當歸七錢為末，分二服，煮艾湯，或醇酒下之，二三時間，覺腹中臍間微動，即為有孕，或以醋煮艾湯半盞服之，有孕必大痛，無孕則否。妊娠四月，男女可分。脈法：左疾為男，右疾為女，左右俱疾，為產二子。左手沉實為男，右手浮大為女，左右俱沉實，生二男，左右俱浮大，生二女。左尺偏大為男，右尺偏大為女，左右尺俱大為產二子。又法：左尺中浮大者男，右尺中沉細者女。若脈不可知，則有辨法：令人按其腹，如覆杯者，男也，如肘項參差起者，女也。左乳房有核者，男也。右乳房有核者，女也。孕婦行坐，自後急呼之，左回首者男，右回首者女。蓋左右者。陰陽之道路也，陽親其左，陰親其右，自然投托，各就其所。氣血因之，故脈象應之，盛於左，則左疾而大，盛於右，則右疾而大。其有異孕，無所歸屬，則兩者皆見。尺中者，腎部也。腎主胞門，孕之所在，陽具於左，故浮大，陰具於右，故沉細也。男形常伏，女形常仰，故揣腹可知。乳為陰府，下通胞門，陰盛則結，各就其位，氣血偏盛，則身有偏重，視其回首可知者，必慎護其重也。《千金方》又言：男子左乳房結核者生男，右乳房結核者生女。婦有孕而驗其夫，原其所始，理亦可通，而所以結核之故，終不可解矣。</p>

<h2>養孕第二</h2>
<p>妊娠一月，名始胚，足厥陰脈養之。其經內屬於肝，肝主筋及血，是時血行否澀，毋為力事，必令安靜，嗜酸鹹，食宜麥，毋食腥辛。若曾孕一月而墮者，宜預服補胎湯以養之。</p>
<p><u>補胎湯</u></p>
<p>乾地黃（一兩）　白朮（一兩）　生薑（一兩）　防風（六錢）　大麥（二合）　烏梅（三合）　細辛（三錢）　吳茱萸（一合）</p>
<p>八味，以水三升，煮一升，分三服，熱而渴者。去吳茱萸、細辛，加栝蔞根三錢，見《千金方》。</p>
<p>二月，名始膏，足少陽脈養之。其經內屬於膽，主精，是時精成於胞里。若曾孕二月而墮者，宜預服黃連湯以養之。</p>
<p><u>黃連湯</u></p>
<p>黃連（二錢）　人參（三錢）　吳茱萸（一合五勺）　生薑（一兩）　生地黃（一兩六錢）</p>
<p>共五味，以水三升，煮一升，分四服，日一。若覺不安，加烏梅三合，見《千金方》。</p>
<p>三月，名始胞，未有定儀，見物而化，手心主脈養之。其經內屬於心，當靜謐以定心氣，食谷宜稻，羹宜魚。若曾孕三月而墮者，宜預服茯神湯以養之。</p>
<p><u>茯神湯</u></p>
<p>茯神　丹參　龍骨（各三錢）　阿膠　當歸　甘草　人參（各一兩）　大棗（二十一枚）　赤小豆（二十一枚）</p>
<p>九味，水三升，煮一升，分四服，七日後，更作。腰痛者，加桑寄生六錢，見《千金方》。</p>
<p>四月，始受水精，以成血脈，手少陽脈養之。其經內輸於三焦，是時形體已具，當盛其氣血，以通耳目而行輕絡。若曾孕四月而墮者，宜預服菊花湯以養之。</p>
<p><u>菊花湯</u></p>
<p>菊花（如雞子大一把）　麥門冬（三合）　大棗（十二枚）　人參（五錢）　當歸　甘草（各六錢）　阿膠（一兩）　生薑（一兩六錢）</p>
<p>八味，以水三升，煮半，內清酒一升，並膠煎取一升，分二服。若受寒者，加麻黃，見《千金方》。</p>
<p>五月，始受火精，以成其氣，足太陰脈養之。其經內屬於脾，是時四肢皆成，宜適飢飽，其食宜甘，羹宜牛羊，和以茱萸，養氣以定五藏。若曾孕五月而墮者，宜預服安中湯以養之。</p>
<p><u>安中湯</u></p>
<p>黃芩（三錢）　當歸　芎藭　乾地黃　人參（各六錢）　甘草　芍藥（各一兩）　生薑（二兩）　麥門冬（三合）　五味子（一合五勺）　大棗（三十五枚）</p>
<p>十二味，以水二升三合，清酒一升五合，煮取一升，分四服，日三，夜一，七日後，更作，見《千金方》。</p>
<p>六月，始受金精，以成其筋，足陽明脈養之。其經內屬於胃，主口目，是時口目皆成，身欲微勞，以變腠理，紉筋以養其力，以堅背膂。若曾孕六月而墮者，宜預服麥門冬湯以養之。</p>
<p><u>麥門冬湯</u></p>
<p>麥門冬（三合）　人參　甘草　黃芩（各六錢）　乾地黃（一兩）　阿膠（一兩三錢）　生薑（二兩）　大棗（十五枚）</p>
<p>八味，以水二升三合，煮減半，內清酒六合，並膠，煎一升，分三服，中間進糜粥。見《千金方》。</p>
<p>七月，始受木精，以成其骨，手太陰脈養之。其經內屬於肺，主皮毛，是時皮毛已成，宜勞身動作，以運血氣，食谷宜粳稻，避寒就燥，以密腠理，以養骨而堅齒。若曾孕七月而墮者，宜預服蔥白湯以養之。</p>
<p><u>蔥白湯</u></p>
<p>蔥白（長二寸十四莖）　麥冬（三合）　旋覆花（六勺）　黃芩（三錢）　人參（五錢）　甘草　當歸　黃耆（各一兩）　阿膠（一兩三錢）　生薑（二兩六錢）</p>
<p>十味，水二升六合，煮減半，內清酒一升，及膠，煎一升余，分四服，日一服，溫進。見《千金方》。</p>
<p>八月，始受土精，以成膚革，手陽明脈養之。其經內屬於大腸，主九竅，是時九竅皆成，無使氣極，以密腠理而澤顏色。若曾孕八月而墮者，宜預服芍藥湯以養之。</p>
<p><u>芍藥湯</u></p>
<p>芍藥（一兩三錢）　生薑（一兩三錢）　厚朴（六錢）　甘草　當歸　白朮　人參（各一兩）　薤白（三合）</p>
<p>八味，以水一升六合，酒一升，煮一升，分三服，日一。見《千金方》。</p>
<p>九月，始受石精，六府百節，莫不畢具，足少陰脈養之。其經內屬於腎，腎主續縷，是時經脈續縷皆成，穀氣入胃，毋犯冷濕，飲宜體，食宜黍，緩帶自持，以養毛髮，致才力。若曾孕九月而墮者，宜預服豬腎湯以養之。</p>
<p><u>豬腎湯</u></p>
<p>豬腎（一具）　茯苓　桑寄生　乾薑　乾地黃　芎藭（各一兩）　白朮（一兩三錢）　附子（三錢）　大豆（一合）　麥門冬（三合）</p>
<p>十味，以水三升，煮腎令熟，去腎，納諸藥，煎取一升，分三服，日一。見《千金方》。</p>
<p>十月，足太陽脈養之。其經內屬於膀胱，五藏完備，六腑齊通，納天地氣于丹田，使關節人神皆備，待時而出，宜服滑藥以速其生（以上本徐之才說）。若曾孕十月而不產者，宜預服八物湯。</p>
<p><u>八物湯</u></p>
<p>人參（三錢）　白朮（三錢）　茯苓（三錢）　甘草（一錢）　陳皮（一錢）　芎藭（一錢五分）　當歸（三錢）　熟地黃（三錢）　白芍（一錢五分）</p>
<p>共作一服，以水一升，煮四合，日一服。見《萬病回春》。</p>
<p>凡孕十月，三陰三陽各養三十日，內輸五精，外受五氣，惟手少陰太陽不養。心為君主，統攝百脈，下主月水，上為乳汁，手太陽合之，故不專養。天氣盛於東南，地氣盛於西北，故萬物之生，始於東南而成於西北。養孕之脈，始於足厥陰，東方木，生氣之原也。繼之以手心主，南方火，長氣育之也。繼之以足太陰陽明，中央土，化氣宣之也。繼之以手太陰陽明，西方金，收氣堅之也。繼之以足少陰太陽，北方水，藏氣成之也。天一生水，故始受水精；土載萬物，故終受土精。氣以順養，精以逆受，相生無不及，相剋無太過，猶之四時遞嬗，自春而夏而長夏而秋而冬而一歲成，五氣互生，自木而火而土而金而水而一人成，其理一也。孕之生也，陰陽相合，氣含陰陽，則有清濁，清者浮升而善動，濁者沉濁而善靜，動靜相交，陽中之陰沉而下降，陰中之陽浮而上升。陽之升也，自東而南；陰之降也，自西而北。陽升於東，則魂具而化神；陰降於西，則魄藏而凝精。神化則氣生精，凝則質結，故孕一月如露珠，太極也，陰陽之未判者也。二月如花蕊，太極生兩儀也。陽升陰降，陰陽之已分者也。三月至五月，形體具而四肢成。陽自東而南，陰自西而北，五神既宅，四維乃張，兩儀生四象也。六月以後，筋骨皮毛，九竅百節，無不畢具，陰陽交育，精氣旋生，四象生八卦也。八卦生而天道備，十月盡而人道具，所謂萬物一太極，一物一太極也。知孕之所以生，則知所以養之之道矣。凡孕三月，體虛者宜常服滋生湯。</p>
<p><u>滋生湯</u></p>
<p>熟地黃（三錢）　白芍　甘草　芎藭　當歸　阿膠（各一錢）　黃芩（六分）　砂仁（一錢）　糯米（百粒）　或參朮養胎飲</p>
<p><u>參朮養胎飲</u></p>
<p>人參（一錢）　白朮（三錢）　茯苓（二錢）　炙甘草（八分）　歸身　白芍（各一錢五分）　阿膠（二錢）　陳皮（八分）</p>
<p>體過實者，宜《金匱》當歸散。</p>
<p><u>金匱當歸散</u></p>
<p>當歸　川芎藭　黃芩　白朮　白芍（各一兩）</p>
<p>治為末，每服一錢，百沸湯調下。見《丹溪心法》。</p>
<p>挾寒者，宜減味保胎丸。</p>
<p><u>減味保胎丸</u></p>
<p>白朮　熟地　阿膠（各二兩）　當歸　杜仲（各一兩五錢）　川斷　川芎藭（各一兩）　艾（五錢）</p>
<p>八味，搗末，杵棗為丸，每服五十丸。</p>
<p>挾熱者，宜黃芩散。</p>
<p><u>黃芩散</u></p>
<p>黃芩（一錢）</p>
<p>搗末，濃煎白朮湯調下，日一。見《丹溪心法》。</p>
<p>或芩術湯。</p>
<p><u>芩術湯</u></p>
<p>黃芩（三錢）　白朮（一錢五分）</p>
<p>二味作一服。見《丹溪心法》。</p>
<p>或白朮丸。</p>
<p>即前方十倍為丸，如桐子大，日三十丸。見《丹溪心法》。</p>
<p>將產體實而旺者，宜達生散以速之。</p>
<p><u>達生散</u></p>
<p>大腹皮（二錢）　甘草（一錢五分）　當歸　白朮　白芍（各一錢）　人參　陳皮　紫蘇　枳殼　砂仁（各五分）　青蔥（五寸）</p>
<p>十一味，作一劑，孕九月後服之。日一服，體旺者，至產而止。見《丹溪心法》。</p>
<p>凡孕無論虛實，皆宜服便產方，三四月後，三十日服一劑，八九月，二十日服一劑，將產之月，日一服之。是方制合精良，無可增減，俗傳謂宮中十二味，系明嘉靖間太醫所作，如法服之，絕無難產之患，真良方也。</p>
<p><u>便產方</u></p>
<p>當歸（一錢五分）　芎藭（一錢五分）　厚朴（七分，薑汁炒）　枳殼（六分，炒）　菟絲子（二錢，酒洗）　艾葉　羌活（各五分）　貝母（一錢）　荊芥（八分）　黃耆（七分，蜜炙）　白芍（一錢二分，炒）　甘草（五分）</p>
<p>水煎隨宜服之。見《保產輯要》。</p>

<h2>孕宜第三</h2>
<p>人有清濁厚薄之異，智愚善惡之殊。揆其所始，皆由祖氣。祖氣者，先天之氣也。氣清則善，氣濁則惡，清則聖哲，濁則昏愚。然而凶頑之質，亦生聖人，賢哲之嗣，或多昏昧，何也？是豈祖氣之有所變易乎？蓋生成有消息之理，長養寓補救之方也。凡物陽生而陰成，生人之初，稟氣於父，兩氣既合，胚胎以凝，自此以往，日滋月遂。至於成人，皆由母氣，蘊為五神，發為五氣，育為五精，結為五藏，開為五官，氣以煦之，血以濡之，得其道則氣厚而神清，失其道則氣濁而神昏。清則可以反濁，濁則可以害清，自然之理也。譬之稼穡，良莠不同，由於種之美惡，然使土瘠氣薄，暘雨不時，灌溉失度，則雖美種，不如荑稗；上沃氣厚，燥濕均平，種雖不良，亦必大熟。故祖氣者，稼穡之種也。母氣者，土氣也。氣煦血濡者，暘雨也。攝養之道，灌溉之力也。稼穡不能專恃天時，因有灌溉之法，生人不能專恃父氣，必有補救之方，調之使均，攝之使平，反昧為哲，易濁為清，精微之道也。子居母腹，以母氣為氣，以母血為血，母呼亦呼，母吸亦吸，善心生，則氣血清和，而子性醇；噁心生，則氣血渾濁，而子性劣。而母氣之清濁善惡，又隨時而遷，觸物而變，非有一成不易之常。氣主於心，心之神主內而應外，外有所接，則神動而氣隨之。所接善，則陽氣動而為清；所接惡，則陰氣動而為濁。故妊子之時，必慎所感，人生而肖萬物者，皆母之感而肖化也。古者，婦人妊子，寢不側，坐不邊，立不蹕，不食邪味，割不正不食，席不正不坐，目不視邪色，耳不聽淫聲，則生子端正，才德過人。昔大任有身，能以胎教，乃生文王之聖，君子美之（以上本《列女傳》）。故舊說謂受孕三月，逐物變化，使妊母常觀犀象珠玉寶玩之物，禮樂鐘磬俎豆之事，誦詩書箴誡，琴瑟詠歌，欲得賢人長者。論述古今忠孝之事，盛德大業之人，則生子多男，氣正而質純，賢良而壽考，亦不過欲和其心志，絕其嗜欲，使心靜於內，慮謐於中，清氣充滿，濁氣自消，即胎教之道也。夫草木之生，其形色臭味，皆秉天理自然之化，而何以遷地則形色皆殊，而技者又有栽種灌溉之法，可以轉白為赤，易苦為甘。草木尚然，況人之至靈者乎？至男女之分，定於祖氣，非人力所能轉移，舊有轉女為男之法，如系弓弩弦，（《千金方》，取弓弩弦一枚，絳囊盛帶左臂，或繫腰下，百日後，乃去之）。佩雄黃，（《千金方》，雄黃一兩，絳囊盛帶之）。置斧床下，（《千金方》，以斧一柄，置妊母床下，系刃向上，勿令人知）。或驗或否，會其適然。然亦可以祛邪辟惡，以衛陽氣，無損於事。若欲服藥物以改之，無是理也。妊母常食松子，令子堅實，常食砂仁，可令速產。《達生編》云：常以麻子油和腐皮食，可令滑胎。又云：始覺有妊，以布一幅，橫束之，上緊下寬，至臨產始去，可令易生。蓋使腹中遏窄，胎不上長，乍去則驟寬，產時便利故也。大凡攝養之道，在善調其心氣，此非醫者所能為。夫生子不善，人之所惡，人之不善，雖由習欲，實本性生。孔子曰：惟上知與下愚不移。推原其故，皆由未生以前，理微而顯，事小而大，在智者心知其意而變通之。教於已生之後，莫若教於未生之時。以可為者責之人，以不可為者聽之天，是亦為人父母者所當究也。</p>

<h2>孕忌第四</h2>
<p>生人誕育，天理自然，陰陽滋化，本無災害。而每有孕而不固，固而不育，育而輒夭者，豈生化之理有所異哉？攝養有乖，逆其滋生之道也。古者婦人有孕，即退居別室，謹持胎教，故彌月而生，無災無害。今人不然，或有孕而不知，不事養護，其知者又不知所忌，不慎起居，勞役失宜，舉止違理，欲其無患，不亦難乎？夫人有富貴貧賤之異，而誕育則皆同，而產孕之變，多起於富貴之家，人與禽獸，各稟氣血以生，而禽獸之生，初無墮落難產之患，豈非嗜欲有多寡之異，生理有順逆之分乎？</p>
<p>懷孕之後，首忌交合，蓋陰氣動而外泄，則分其養孕之力，而擾其固孕之權，且火動於內，營血不安，神魂不密，形體勞乏，筋脈震驚，動而漏下，半產難產，生子多疾而夭，淫濁而鈍，甚至孕猶未固，輒動而墮之。一再墮後，胞室寒滑，隨孕隨墮，終身無子而不自知，亦可慨矣。居處動作，最易損傷，起於細微，人所不覺，體候虛羸者，尤宜慎之。毋登高，毋作力，毋疾行，毋側坐，毋曲腰，毋跛倚，毋高處取物，毋向非常處大小便，毋久立，毋久坐，毋久臥，毋犯寒熱，毋冒霜雪露霧暴雨酷日烈風疾雷，毋視日月薄蝕虹霓星變，毋觀土木工作及怪獸異鳥奇詭之物，毋入神廟寺院，睹猙獰險惡之狀，一舉一動，必謹飭之。五志之發，鮮能和平，而產孕最宜調抑。孕藉母氣以生，呼吸相通，喜怒相應，一有偏倚，即致子疾，宜和其心志，毋暴喜，毋過思，毋怒，毋恐，毋悲，毋憂慮，毋鬱結，顏無忤色，口無惡聲，心無雜念，使血氣和平，德性凝定，不特孕安，且生子英賢，無疾而壽矣。其飲食，則以沖和澹泊為正，節厚味，禁腥濁，毋飲醇酒，毋食異味。《千金方》云：食山羊，令子多疾；食兔，令子缺唇；食犬肉，令子無聲；食桑椹鴨卵，令子側出心寒；食雀，令子性淫；食鱉，令子項短；食姜芽，令子多指；雞合糯米食，令子生寸白蟲；雞及干鯉魚食，令子生瘡；食鮮菌，令子驚風；食冰漿，令胎絕；食騾馬驢肉無鱗魚螃蟹，皆令難產；食薏苡莧菜蒜蔥麥芽，皆令墮胎。其藥味則宜和平調攝，毋犯金石，毋近毒藥，大熱大燥、大攻大表、大寒大涼、走竄迅疾泄利之品，咸宜禁止，即需施用，宜詳酌而慎處之。凡妊娠，起居飲食，惟以和平為上，不可太逸，逸則氣滯，不可太勞，勞則氣衰。五月以前宜逸，五月以後宜勞。冬毋太溫，夏毋太涼，食毋過飽，飲毋過多。養孕之經，不可灸刺。無故不宜服藥，調之抑之，務使無偏則得之矣。</p>

<h2>孕疾第五</h2>
<p>妊娠諸疾，與常人殊，故治法亦異。子居母腹，藉母氣固之。母氣不順，子不得安，必有墮落之患。子氣既損，母氣亦傷。治之者，或僅護胎孕，不敢攻疾，或亟於治疾，不顧子氣，致子母交損，大小殞亡，慘烈之禍，於此為甚。《素問》曰：婦人重身，毒之何如？曰：有故無殞，亦無殞也。大積大聚，可犯之也，衰其大半而止。夫大積大聚，病之重者。苟不亟治，立見危迫，故必毒之，使邪去而孕安。然恐藥勢太過，正氣易傷，故衰其大半，即止不治。古人立法，動出萬全，不可不究也。</p>
<p>懷妊之後，必患惡阻，惡阻者，謂噁心阻其飲食也。由於經脈既閉，藏氣不宣，津液停瘀，水濕為患，故其候四肢沉重，惡食嘔吐，偏嗜一物，頭痛眩暈，多臥少起。若面色如故，脈象和平，此不須醫，但調其飲食，適其寒溫，緩緩可愈。其甚者，大吐嘔血，食飲不下，寒熱往來，心中憒悶，惡聞食臭，肢節疼痛，疲怠自汗，色萎肢瘦，勢若危殆，或施治不善，逆其胎氣，致暴作吐下，困頓欲絕，則宜橘皮茯苓湯。</p>
<p><u>橘皮茯苓湯</u></p>
<p>橘皮（一錢）　茯苓（二錢）　蘇梗（八分）　歸身（一錢五分）　白芍（一錢五分，炒）　砂仁（五分）　生薑（搗去汁，三錢）　青竹茹（八分）　炙甘草（五分）</p>
<p>作一服。三四服不愈，宜半夏茯苓湯，三五服必愈。</p>
<p><u>半夏茯苓湯</u></p>
<p>半夏　茯苓（各三錢）　乾地黃　生薑（各二錢二分）　橘皮　旋覆花　細辛　人參　芍藥　芎藭　桔梗　甘草（各一錢七分）</p>
<p>十二味，以水三升，煮取一升，分三服。若客熱煩渴，去細辛，加前胡、知母各一錢七分。若冷痢者，去幹地黃，加桂心一錢五分。熬服後，忌生冷醋滑油膩等物。見《千金方》。</p>
<p>妊娠傷寒，以安胎為主，無犯胃氣。不可妄汗吐下，泄利小便。其候輕者，頭痛，煩熱，宜芎蘇飲。</p>
<p><u>芎蘇飲</u></p>
<p>芎藭　紫蘇葉　白芍藥　白朮　麥門冬　陳皮　乾葛（各一錢）　甘草（五分）　生薑（三片）　蔥白（三莖）</p>
<p>十味，作一服。見《東醫寶鑑》。</p>
<p>甚者，壯熱不解，欲汗之，宜蔥白湯。</p>
<p><u>蔥白湯</u></p>
<p>蔥白（十莖）　生薑（六錢）</p>
<p>二味，以水一升，煮五合，作二服。見《千金方》。</p>
<p>不解，宜拭身法。</p>
<p><u>拭身法</u></p>
<p>麻黃（二兩六錢）　竹葉（三合）　石膏（一升，為末）</p>
<p>三味，以水二升六合，煮取一升，去滓，冷拭身體，以故布掩頭額心胸，燥則易之。見《千金方》。</p>
<p>熱病者，宜豆豉湯。</p>
<p><u>豆豉湯</u></p>
<p>豆豉（三合）　蔥白（一兩六錢）</p>
<p>二味，以水二升，煮一升，分三服，取汗。見《千金方》。</p>
<p>大煩熱，宜葛根汁飲解之。</p>
<p><u>葛根汁飲</u></p>
<p>葛根汁（六合）</p>
<p>分三服，間四刻許進一服。見《千金方》。</p>
<p>皆須用固孕法，以安其孕。</p>
<p><u>固孕法</u></p>
<p>取灶中黃土，水和塗臍，干復塗之。見《千金方》。</p>
<p><u>又方</u></p>
<p>萍、朴硝、大黃、蛤粉、藍根，等分貼臍上，見《得效方》。</p>
<p>妊娠煩懣悶瞀，謂之子煩。此由痰濕堙郁，熱氣薰蒸，上焦之氣不得流暢，熱鬱過甚，則胎動漏下，宜竹瀝湯。</p>
<p><u>竹瀝湯</u></p>
<p>竹瀝（三合）　麥門冬　防風　黃芩　茯苓（各一兩）</p>
<p>五味，以水一升，煮六合，分三服，日一。見《千金方》。</p>
<p>中風口噤，項背強直，筋脈拘攣，發搐不止，痰盛昏迷，或時作時止，名曰子癇，宜四物湯，量加驅風逐飲之藥，甚則宜羚羊角湯。</p>
<p><u>羚羊角湯</u></p>
<p>羚羊角（鎊）　棗仁　獨活　五加皮（各一錢二分）　防風　薏苡仁　當歸　芎藭　茯神　杏仁（各七分）　甘草　木香（各五分）　姜（三片）</p>
<p>作一服。見《醫學正傳》。</p>
<p>水腫脹滿，謂之子腫，其候或遍身浮壯，或手足攣腫，或肚腹壅大，高過心胸，氣逆喘急，甚則損胎，此因水氣過甚，正氣不化，溢於皮肉，輕者產後即愈，不必施治，甚者宜鯉魚湯。</p>
<p><u>鯉魚湯</u></p>
<p>鯉魚一頭（重十兩）　白朮　生薑（各一兩六錢）　芍藥　當歸（各一兩）　茯苓（一兩三錢）</p>
<p>六味，以水四升，煮魚熟，澄清取二升六合，內藥煎取一升，分三服。見《千金方》。</p>
<p>或苓朮湯。</p>
<p><u>苓朮湯</u></p>
<p>茯苓　白朮（各一兩三錢）　黃芩　杏仁（各一兩）　旋覆花（三錢）</p>
<p>五味，以水二升，煮八合，分三服。見《千金方》。</p>
<p>小水淋痛，謂之子淋，此由下焦氣化，壅閉不行，故水道不利，鬱而為痛，宜葵子散解之。</p>
<p><u>葵子散</u></p>
<p>冬葵子　赤茯苓</p>
<p>各等分，為末，每服二錢，米飲調下。見《金匱要略》。</p>
<p>若便閉不通者，謂之轉胞，乃胎氣陷下，壅遏過甚，氣道梗阻，故水不得通，虛人多有之。宜參朮飲。</p>
<p><u>參朮飲</u></p>
<p>人參　白朮　半夏　陳皮　芎藭　當歸　芍藥　乾地黃（各一錢）　甘草（五分）　生薑（三片）</p>
<p>作一劑，服後，探吐之。見《丹溪心法》。</p>
<p>甚者宜腎氣丸。</p>
<p><u>腎氣丸</u></p>
<p>熟地（八兩）　山茱萸（四兩）　山藥（四兩）　丹皮（三兩）　茯苓（三兩）　澤瀉（三兩）　附子（一兩制）　肉桂（一兩）</p>
<p>丸如桐子大，每服十五丸，米飲下。見《金匱要略》。</p>
<p>若遺溺者白薇方主之。</p>
<p><u>白薇方</u></p>
<p>白薇　芍藥</p>
<p>各等分，為末，酒服一錢。見《千金方》。</p>
<p>久嗽不止，謂之子嗽，此外感風寒也。甚則動胎，宜百合湯。</p>
<p><u>百合湯</u></p>
<p>百合（三錢）　紫菀（一錢）　貝母（一錢）　白芍（一錢五分）　當歸（一錢五分）　前胡（五分）　茯苓（二錢）　桔梗（一錢五分）　蘇葉（五分）</p>
<p>九味，作一服。</p>
<p>下痢赤白，謂之子痢。其候腹中疼痛，裡急後重，不得以尋常治法施之，宜薤白飲。</p>
<p><u>薤白飲</u></p>
<p>薤白（三合）　石榴皮　黃連（各六錢）　阿膠（一兩）　地榆（一兩炙）</p>
<p>以水二升，煮六合，分三服。見《千金方》。</p>
<p>若注下不止，宜膠艾湯。</p>
<p><u>膠艾湯</u></p>
<p>阿膠　艾葉　石榴皮（各六錢五分）</p>
<p>以水二升，煮六合，分三服。見《千金方》。</p>
<p>若下膿血，宜白朮湯。</p>
<p><u>白朮湯</u></p>
<p>白朮　當歸　黃芩（各三錢）</p>
<p>作一服。見《醫學正傳》。</p>
<p>寒熱往來，一日一作，或間日一作，若有定期，謂之子瘧。發當夏秋，宜香薷保安湯。</p>
<p><u>香薷保安湯</u></p>
<p>香薷（八分）　柴胡　羌活（各五分）　陳皮（六分）　白朮（二錢）　黃芩（一錢）　炙甘草（四分）　當歸（一錢五分）　生薑（一片）　棗（二枚）</p>
<p>作一服。</p>
<p>在冬春，宜驅邪湯。</p>
<p><u>驅邪湯</u></p>
<p>白朮　藿香　砂仁　茯苓（各一錢）　橘紅　草果（各八分）　甘草（五分）　姜（三片）</p>
<p>作一服。見《丹溪心法》。</p>
<p>胸滿腹脹，氣逆上干，謂之子懸。此由中焦氣結之故，多得之憤郁驚惶，宜紫蘇飲。</p>
<p><u>紫蘇飲</u></p>
<p>紫蘇葉（一錢五分）　人參　大腹皮　芎藭　陳皮　白芍　當歸（各一錢）　甘草（五分）　姜（三片）　蔥（三莖）</p>
<p>作一服。</p>
<p>或蔥白湯。</p>
<p><u>蔥白湯</u></p>
<p>蔥白（二十莖）</p>
<p>以水一升五合，於銀石器內，煮取半升，頓服，並食蔥。見《婦人良方》。</p>
<p>若心痛者，宜竹皮湯。</p>
<p><u>竹皮湯</u></p>
<p>青竹皮（三合）</p>
<p>以酒六合，煮三兩沸，頓服。見《千金方》。</p>
<p>腹痛者，宜芩術湯。</p>
<p><u>芩術湯</u></p>
<p>黃芩（一兩）　芍藥（一兩三錢）　白朮（六兩）</p>
<p>以水二升，煮取一升，分三服。見《千金方》。</p>
<p>腰痛者，大豆酒主之。</p>
<p><u>大豆酒</u></p>
<p>大豆（三合）</p>
<p>以酒一升，煮取六合，頓服。見《千金方》。</p>
<p>妊娠下血，謂之漏胞，甚則崩決不止，陰氣不固，熱動於內，傷其脈絡，故營血內溢，血盡則死，宜地黃飲。</p>
<p><u>地黃飲</u></p>
<p>生地黃（二兩六錢）</p>
<p>清酒一升，煮三沸，去滓，頻頻服之。或入雞血少許。見《千金方》。</p>
<p>或地黃散。</p>
<p><u>地黃散</u></p>
<p>乾地黃</p>
<p>搗末，酒服三指撮許，三服瘥。見《千金方》。</p>
<p>若胎動不安，腹痛繞臍，腰背皆痛，卒有所下，或叫號口噤，四肢厥冷者，宜艾葉湯。</p>
<p><u>艾葉湯</u></p>
<p>艾葉　阿膠　芎藭　當歸（各一兩）　甘草（六錢）</p>
<p>以水二升六合，煮一升，分三服。見《千金方》。</p>
<p>若因交合而動胎者。宜八物膠艾湯。</p>
<p><u>八物膠艾湯</u></p>
<p>人參　白朮　茯苓（各二錢）　芎藭（一錢五分）　當歸（一錢五分）　白芍（二錢）　乾地黃（三錢）　阿膠（二錢）　艾葉（八分）</p>
<p>見《醫學入門》。</p>
<p>因飲酒而傷者，宜黃芩湯。</p>
<p><u>黃芩湯</u></p>
<p>黃芩　白朮　當歸　砂仁（各一錢）</p>
<p>作一服，日二。見《得效方》。</p>
<p>因喜怒而傷者，宜佛手散。</p>
<p><u>佛手散</u></p>
<p>當歸（五錢）　川芎藭（三錢）</p>
<p>作一服。見《丹溪心法》。</p>
<p>因鬱悶而傷者，宜蔥白湯（見前子懸下）。</p>
<p>因勞役而傷者，宜安脈湯。</p>
<p><u>安脈湯</u></p>
<p>人參　白朮（各二錢）　當歸（一錢五分）　阿膠（三錢）　炙甘草　陳皮（各五分）　芎藭（一錢）　菟絲子　黃耆（各一錢五分）　杜仲（二錢）</p>
<p>因跌墜而傷者，宜續杜丸。</p>
<p><u>續杜丸</u></p>
<p>續斷　杜仲（各二兩）</p>
<p>棗肉搗為丸，如梧桐子大，每服五十丸，米飲下。見《醫學入門》。</p>
<p>若腰痛損傷下血不止，宜馬通湯。</p>
<p><u>馬通湯</u></p>
<p>馬通汁（三合）　乾地黃　阿膠（各一兩三錢）　當歸　艾葉（各一兩）</p>
<p>以水一升六合，煮取八合，內馬通汁，及膠令烊，分三服。見《千金方》。</p>
<p>若胎奔上搶心，危急之候，宜艾葉地黃湯。</p>
<p><u>艾葉地黃湯</u></p>
<p>艾葉（一兩）　阿膠　芎藭　芍藥　甘草　當歸（各六錢）　乾地黃（一兩三錢）</p>
<p>以水一升六合，煮取一升，內好酒一升，內膠，令消，分三服。見《千金方》。</p>
<p>甚者，血從口出，逆不得息，宜蟹爪湯。</p>
<p><u>蟹爪湯</u></p>
<p>蟹爪（三合）　甘草　桂心（各三錢）　阿膠（六錢）</p>
<p>以東流水三升，煮一升，內膠，分二服，口噤不能服者。抉口灌之。藥下便活也。生胎即安，死胎即下。見《千金方》。</p>
<p>若因毒藥攻胎，胎動欲墮，血逆衝心，悶亂喘促，大汗不止者，宜白扁豆散，以解其毒。</p>
<p><u>白扁豆散</u></p>
<p>白扁豆</p>
<p>為末，新汲水調下二三錢。口噤者，斡開灌之。見《得效方》。</p>
<p>若因高取物胞系有傷，兒啼腹中，則令妊母曲身，向地拾物，須臾即止。若腹中作鐘鳴聲者，取鼠穴中土噙之。</p>
<p>八九月喑不能言者，不須治之，產後即愈。</p>
<p>凡胎動，無故而動，及體素羸弱者，乃衝任脈虛，不得固攝，當大補之。腹痛者，宜行其氣。損傷者，宜行其血。余各因其所由治之。</p>
<p>未及期而產，謂之半產，即墮胎也。損氣耗血，甚於正產，二三月猶輕，六七月為最重，譬之果未熟而強摘之，其根蒂必傷也。故凡半產，當與正產同其調養，而尤加意焉。宜因其所傷而補益之，以善其後。前列諸法，皆可參用。若輕易視之，則一次半產，後遂習以為常，不得謂非失治之過也。半產後，治疾之法，與正產稍異，蓋正產惡露多，半產惡露少也。若有腹痛等疾，宜溫補之。逐瘀破血之藥，用宜審察。若數日後大熱而渴，面紅眼赤，欲飲涼水，晝夜不息，此大虛也。寒涼下咽，即死不治，宜當歸補血湯。</p>
<p><u>當歸補血湯</u></p>
<p>黃耆（一兩）　當歸（二錢）</p>
<p>水煎，作一服。見《內外傷辨》。</p>
<p>若血崩不止者，宜攝陰湯。</p>
<p><u>攝陰湯</u></p>
<p>黃耆（五錢）　阿膠（三錢）　歸身（二錢）　白朮（二錢）　甘草（五分炙）　棕櫚皮（一錢，炙）　烏賊骨（一錢五分，炙）　荊芥（一錢，炒）</p>
<p>其他諸症，並詳正產，相時度勢，消息用之，未可拘泥為也。</p>

<h1>下篇</h1>

<h2>辨產第六</h2>
<p>孕滿十月，待時而生，自然之道，無所勉強。而世俗不察，或未產而強速之，致有橫逆之變。推其故，由於未明其理，不辨其候而然。故初覺腹痛，遂謂欲生，稍事遲延，遂謂難產，方藥以攻之，非法以擾之，使氣瞀神亂，子母俱死。富室巨家，其弊尤多，本安也而自危之，本生也而自殺之，可憫也已。辨產之法，《脈經》曰：妊婦月滿，則脈離經。離經者，《難經》所謂一呼三至曰離經，一呼一至亦曰離經也。又曰：尺脈轉急，如切繩轉珠者，欲產也。《千金方》論曰：將產者離經，離經者其脈浮。朱彥修曰：離經六至，沉細而滑。按：切繩轉珠，動疾之象，即一呼三至之義，一呼三至，一吸三至，呼吸定息，脈七至，閏以太息，脈八至，疾之甚也。朱說與《千金方》不同，當以《難經》《脈經》為正，要之胎動欲產，無論浮沉遲速，皆有動象，無動象者，非正產也。</p>
<p>正產腹痛，必連腰及臍，或牽引脊背，胎氣陷下，或目中生火，穀道挺迸，漿血下後，腹痛愈緊，乃為欲生。若漸痛漸緩，或乍緊乍慢，即漿血交下，皆非正生。《達生編》言試痛正產之辨，誤以試痛為正產之害，推勘極精，多可採者。《達生編》云：初覺腹痛，第一以忍痛為主，無論為主產，為試痛，痛久自生。更宜養神惜力，以安睡為妙，不可輕易臨盆。蓋子居母腹，端坐不動，至生時轉身向下，妊母安臥，腹中不至逼窄，易於轉身。若未及轉身，遂使坐草，則嬰兒難於轉運，復用力以注之，則是先出而成逆產；轉身未定，用力逼之，則手先出而為橫生，或首骨偏礙，而為偏產。種種弊端，皆基於欲速之故。故臨盆以緩為正，即使過遲，亦無妨礙也。又曰：孕至八九月，或妊母有火，起居不時，令孕不安，因而作痛，所謂試痛也。但須照常眠食，甚則服安胎藥一二劑即止，若誤作欲產，遽令坐草，即使勉強能生，母氣必損，子亦多夭，猶之剖卵出雛，裂繭取蛹，安望生耶？又曰：腹痛有感寒傷食之候，亦宜辨別。傷食者，當臍而痛，手按轉加，或臍旁如有膹起者，不連腰及脊，寒痛多在臍下，綿綿延延，無所增減，得暖稍安也。凡此皆極言欲速之害，而歸於辨產未明。蓋妊母多畏難產而欲速產者，在主者察脈晰理，明辨而調抑之。事常而易變，苟不慎察，戕害生命，亦非俯育之道，慎毋謂闈房瑣屑之事，非丈夫所宜知，而忽略視之也。</p>

<h2>產戒第七</h2>
<p>產育順事，而俗人多擾亂之，致反順為逆。此雖習俗使然，亦不知之過也。輯產時所當戒者著於篇，使覽者凜焉。</p>
<p>妊母將產，率多疑懼，腹痛緊急，氣血下注，神不能安，易於驚惶，初次產育，尤為易擾。而不知者，稍有不順，輒恐懼無主，大事張皇，致妊母心亂神散，氣憊而逆。氣逆則血湧，氣憊則力衰。嬰兒之生，雖自能轉動，亦藉母氣助之，氣逆力衰，何以能下？唯宜溫慰妊母，使勿驚疑，即有不順，勿使知覺，俾心定氣凝，神安力旺，無論本屬順生，即遇惡候，亦可反逆為順也。</p>
<p>《千金方》論云：產事雖系穢惡，然不得令死喪汙穢之人視之，犯者多致難產。又忌多人瞻視，惟得一二人在室，產後乃可告人，亦以人眾則易於驚擾，致妊母心神不定故也。</p>
<p>室中宜適溫涼，夏暑過甚，勿掩門戶，以器貯新汲水石許，置室中以闢熱氣，免致昏暈。天寒，宜置火暖之，毋得太熾，令火氣熏灼。室中人毋大聲，毋多語，毋嗟咨太息，參訝駭，毋叱吒，毋祈神問卜，宜安靜如常。</p>
<p>妊母宜惜力，宜安臥，臥宜正，不可左右，毋摩腹，毋按腰，毋妄動，毋輕坐草，初產及天寒尤忌，美其飲食，頻頻與之。若虛羸者，不能多食，以糜粥雜入參末飲之。毋亂服方藥，毋輕試異術，必辨明正產。胞水已下，交骨不開，或交骨已開，而子久不下，擇平和之藥，稍稍助之。要之產前調攝既善，亦無須此。</p>
<p>接兒老嫗，俗謂穩婆，宜預擇妥善者用之。蓋隱曲之事，非此輩不能為，而愚蠢奸狡之輩，或妄為動作，故事恐嚇，戕人性命，以炫己之術，不可不慎。大率以年老為佳，蓋年老則歷事多而性稍醇也。</p>
<p>產後勿問男女，須收拾既定，然後告人，世有急於求嗣者，墮地得男，而產母暴喜，遂致昏暈，得女，則產母不悅，家人又從旁懊惱之，致有郁厥血逆之患，宜預防也。</p>
<p>大凡產厄，誤於張皇者半，誤於怠忽者亦半。產育固生人常事，然苟主者不察，而漫然聽之，則產母無主而驚疑，為害亦大。往見拘迂者，矯張皇之弊，謂嬰兒可以自出，無藉乎人，因閉門安臥，勿令人知，而產母體素羸弱，氣血虛少，又性本嬌怯，不能忍痛，曲腰護之，偏倚妨之，輾轉敧仄，致嬰兒不得轉動，交骨不得開張，氣血下注，久無泄路，勢必逆而上行，一日之間，而子母俱死。如此者，何啻無故而自殺之哉！此皆不明其理，不究其道，愚而自用，殘賊人偷。夫產孕者，生生之本，天理之原，似續攸關，斷宜詳慎也。</p>

<h2>用藥第八</h2>
<p>產時用藥，有二弊焉。方伎之士，多取速效，肆用峻利之藥，以炫己之術。其效者，藥甫入口，而難產即下，眾人駭服，推為神奇。而不知一時便利，子母大傷，至產後發疾，遂至不起，嬰兒或墜地不舉，或舉而輒夭，而又委之天命，歸咎後醫，日殺生命，而人莫之知，深可痛惜。古方如兔腦、鼠腎、蛇蛻，回生諸藥，只堪備至急之用，安可妄試？尤有甚者，挾不經之術，無稽之方，展轉傳布，謬為仙授，乘人之急，以脅人之利，功則歸己，過則歸人，世俗憒憒，多為所愚，不可譬曉，此一弊也。而矯其弊者，遂謂產孕本無須用藥，常變順逆，悉靜而聽之於天，斯言誠善，然必自懷妊至臨產，攝養無乖，然後可也。苟或不善，即可反順為逆，而仍執勿藥之說以自愚，是何異未能辟穀，而謂人可勿食耶，此二弊也。且天下亦或有生而難產者，或未孕之先，即有宿疾，或氣血羸弱，骨格緊密，脈絡堅緻，皆令難產，亦藉臨時藥力以扶助之。但宜斟酌盡善，擇平和之品，醇正之法，相不得不用之時，而後用之。如加味芎歸湯、佛手散，味和而力厚，氣平而效速，斯為善也。</p>
<p><u>加味芎歸湯</u></p>
<p>當歸（一兩）　川芎（七錢）　龜板（手大一片醋炙研）　婦人發（如雞卵大一枚，瓦為焙存性）</p>
<p>水一升，煎四合服之。見《醫學入門》。</p>
<p><u>佛手散</u></p>
<p>見前孕疾篇。</p>
<p>富貴之家，產後必服人參，而致死者多。矯其弊者，並倡產後無補益之說，而致死者亦多。蓋不明其理，左右皆誤。夫產後諸疾，多出於虛，人參非不可用，而用之亦自有法。得其法，益身而卻疾，不得其法，致疾而促生，不可不辨。服參之法，在子方墜地，參已入口，一刻之間，過此一刻，便不可服。蓋產時氣血下注，上中二焦，盡屬虛寒，產後氣復上行，下焦惡血填湊，血道梗塞，氣道亦滯，驟加補中之藥，血道未開，氣道益阻，遂有惡露不行，瘀血上逆之患。若當兒甫墮地，一刻之間，氣血猶未上行，藏府空虛，脈絡困乏，人參入腹，甘溫之性，宅中土而運脾精，輔正氣而逐惡血，灑播精微，灌溉經脈，氣強則行速，脈潤則道通，惡露順下，乳汁通流，焉有他患？且新產之後，百脈皆動而下行，自下而上，瘀濁者去，精華者留，有更新之象。婦人宿疾，多在血分，平時所不能除者，此時可以除之。卻病益身，非妄說也。</p>
<p>凡欲服參者，將產時，即宜制就，汁宜濃厚，可以一飲而盡，（或以人參一二錢，研為末，另以錢余煮汁調服，亦可，）令一人司之，俟兒首既出，即與服之。參盡而兒適墮地，乃為合法。苟失其法，為害非小，而復歸咎於參之不可用，豈不謬哉！</p>
<p>產時應變，皆倉猝之際，所有藥物，亦宜預籌，有備無患，不可渴而掘井，鬥而鑄兵也。</p>

<h2>應變第九</h2>
<p>產育本順事，不幸而至於逆，變起倉卒，安危繫於片時，亦人生至急之事，極難之治也。應變之術，宜切究焉。凡產之變有五：曰橫產，曰逆產，曰偏產，曰礙產，曰盤腸產。</p>
<p>橫產者，兒橫腹中，手臂先出。治法：令產母仰臥，囑收生嫗，徐徐推兒下身，令直上，以手中指摩其肩推上而正之。又以手摩其耳，令頭正自生。或以小針，刺兒手，入一半分，徐徐送入，不入，以鹽塗之。</p>
<p>逆產者，兒未轉身，兩足先出，以鹽塗兒足心，針刺如上法，或以爪搔之。並以鹽摩母腹，兒得痛癢，驚縮而轉，自當回順。</p>
<p>偏產者，產時，兒首偏掛一傍，雖近產門，只露頞角，終不得下。治法：令收生嫗，以手徐徐正其頭，若因腦骨偏拄穀道，當以綿衣炙火令熱，裹手於穀道外，徐徐推之。俟正，然後坐草。若產時兒不向產門，直趨穀道者，宜熬鹽令熱，以紬裹於穀道外熨之。</p>
<p>礙產者，兒首正抵產門，久而不下。此必轉身時，臍帶攀掛兒項，或肩。當急令安臥，令收生嫗，推兒近上，徐徐通手以中指按兒兩肩，理脫之。然後坐草，蓋此候最為險惡，慎毋輕易用力。若纏繞於項，復用力以注之，則其纏愈緊，致子死腹中，不可不慎。凡橫逆諸產，如法拯救，皆宜內服，加味芎歸湯、佛手散，（加味芎歸湯，見用藥篇，佛手散，見孕疾篇，）以助之。若不能用法，但令靜心安臥，服前藥一二劑，亦效。</p>
<p>盤腸產，子腸先出，兒即隨下，或腸隨兒下。此由下焦素虛，不得收攝，氣血下注，無以固之。或用力太過，一次如此，凡產皆然，宜以溫湯潤之。溫諭產母勿令驚慌，以好醋半盞，新汲水加醋十之七，調和，驟噀產母面或背，三噀則收，或以磨刀水，微潤腸，煎磁石湯一盞飲之。或以蓖麻子搗敷產母頂心，視收入，速洗去，遲則為害。內宜服補益升提之藥，慎護其腸，勿令見風，或遭風侵，多有不能收入者。</p>
<p>產時交骨不開，最為惡候，此由陰氣大虛，血液衰少，宜加味芎歸湯（方見前）。甚者，加桂少許。</p>
<p>子死腹中，其候心腹脹悶，重墜異常，產母面赤舌青，指甲皆青，或口出惡臭者是也。若面舌唇口俱青，口沫出者，子母俱死。面青舌赤者，母死子生，宜佛手散（方見前）或平胃散。</p>
<p><u>平胃散</u></p>
<p>蒼朮　厚朴（薑汁炒）　陳皮（各三錢）　甘草（一錢二分）</p>
<p>水煎，加朴硝二錢，化服，其效頗速，見《局方》。</p>
<p>或蟹爪湯。</p>
<p><u>蟹爪湯</u></p>
<p>蟹爪（一升）　甘草（一尺）　阿膠（一兩）</p>
<p>以東流水三升，煮蟹爪甘草，得一升，去滓，內膠，令烊，分二服。見《千金方》。</p>
<p>若雙胎，一死一生者，服之能令生者安而死者出。若干燥著脊不能下者，宜葵子湯、脂蜜酒，以滑之。</p>
<p><u>葵子湯</u></p>
<p>葵子（三合）　阿膠（一兩六錢）</p>
<p>以水一升六合，煮六合，頓服未效，再作一服。見《千金方》。</p>
<p><u>脂蜜酒</u></p>
<p>豬脂　白蜜（各三合）　醇酒（六合）</p>
<p>合煎取六合，分二服。見《婦人良方》。按：無豬脂，以麻子油易之亦可。產時用力太過，水衣早破，漿水盡下，產戶乾澀，或坐草日久，為風所吹，因而腫脹，多致難產。或產時子忽不動，是妊母力乏之故，勿誤為死，肆用攻逐，皆宜加味芎歸湯（方見前）。</p>
<p>產時，妊母忽猝然氣痿暈絕，目翻口噤，面黑唇青，口沫流出，子母俱殞。若兩顴微見紅色，子死母生，此至危之候，宜霹靂丹救之。</p>
<p><u>霹靂丹</u></p>
<p>蛇蛻一條，蠶退紙並燒存性各用二錢，男子頭髮饒灰，路旁左足草鞋，燒存性，各用一錢，乳香五分，黑鉛二錢五分，水銀七分五釐。</p>
<p>以鉛和水銀，入鍋中，火上熔化，結如砂子，研治為末，和諸藥以獖豬心血和丸，如梧桐子大，金箔為衣，每用三丸，流水下，或煎化灌之。見《醫學入門》。</p>
<p>嬰兒既生，胞衣不下，亦多危險。《達生編》云：用力太早，交骨強開，兒甫出而骨即隨閉，以致不下。宜急斷臍帶，以麻線將臍帶繫緊又雙摺之，再系一道，勿令風入，以輕物墮之。但令產母，安心定氣，稍遲當痿而下，慎勿令收生嫗，妄用手取，致損及臟腑，因成惡疾。若血流入衣中，為血所脹，致不得下，腹中脹滿，下衝心胸，疼痛喘急者，宜佛手散（方見前）。</p>
<p>若以手按之，痛稍緩者，此氣虛也，宜益母湯。</p>
<p><u>益母湯</u></p>
<p>益母草（一兩）</p>
<p>酒煎，加童便一杯服之。見《達生編》。</p>
<p>若危者，宜牛膝湯。</p>
<p><u>牛膝湯</u></p>
<p>滑石（二錢，研末）　木通　當歸　牛膝　瞿麥（各一錢五分）　冬葵子（二錢）</p>
<p>共作一服。見《局方》。</p>
<p>若急上搶心者，或死胎上搶心者，宜用熨法。</p>
<p>熨法，取蟻垤土一升，熬熱囊盛熨心下，令不得上。見《千金方》。</p>
<p>若輕者，以草紙燒煙，熏產母之鼻，令納氣即下。或以發入口作嘔，亦佳。《千金方》載產時禳法，雖未明其理，而頗有效驗，並附著以備用。凡欲產宜脫尋常所著衣，籠灶頭及灶口，令至密，即易生。若逆生者。以手中指取釜底墨，書兒足下，作×形，即順生，或書父名於足心，或以車轄脂如上法書畫。若胞衣不下，取夫內衣蓋井上，即出。本草載臨產取赤馬皮鋪身下，又以海馬石燕兩手持之，皆令速產云。</p>
<p>凡應變，皆以凝神息慮為主，毋得張皇，以擾產母。心欲細而定，智欲敏而速，法欲簡而捷，藥欲峻而安。毋取劫功，毋貽後患。凡遇危急，無不皆然，不特產孕之一端也。</p>

<h2>調攝第十</h2>
<p>產後調攝，最宜詳慎。蓋產後氣血虛少，絡脈空乏，肢節懈怠，腠理開張，皮毛不實，營衛不固，血道易塞，氣道易滯，故致疾之易，而去疾之難，莫甚於此。產後致疾，皆起於纖細易忽之間，其源甚微，其發至鉅。闈房瑣屑之事，主者所不及檢，醫書所不能詳，不識避忌，不知防範，或致疾而終身不愈，或疾作而危在片時。往見一婦，產時至速，不及告人，遂產於地，產後人知，始扶臥於榻，三日後，大熱不止，醫以為血瘀也，而以桃仁承氣投之，數日而死。一時不謹，為害如此，況其大焉者乎！故善調攝者，不使致疾，並可去宿患之疾，不可不知也。</p>
<p>凡產後，產母勿令安臥，宜以高枕倚之。膝宜豎起，勿得伸直，須閉目靜神，勿令熟睡，歷十二時乃可安臥（少須八九時）。若倦怠者，宜頻頻呼之，常令欲醒。亦毋高聲急語，致使驚恐。蓋產後氣血上行，若遽令安睡，則氣逆而血壅，多致昏暈，必預防之。膝宜豎者，膝伸則筋骨內掩，恐礙惡露也。</p>
<p>嬰兒墜地，即取鐵秤錘或石子，入火燒紅，以醋向產母淬之，使氣入鼻，不特可以闢穢，且能收斂神氣，散解惡血以杜血暈，或日淬一二次，三日後止，更佳。</p>
<p>室中宜避風，絲毫罅隙，必掩塞之。宜適溫涼，母犯寒暑。將寒即衣，驟暖毋易。夏雖大暑，勿得解衣，毋浴，毋以扇招風，寧失過暖，毋失過寒。</p>
<p>產後宜益母草煮汁，和童便服之。或和清酒，日三五服，三日而止。自產之次日始，日服生化湯一劑。</p>
<p><u>生化湯</u></p>
<p>川芎（一錢）　當歸（五錢，炙）　甘草（五分，炙）　乾薑（五分）　桃仁（十粒，去皮尖）</p>
<p>以水二盞煎一盞，入清酒一合，溫服。</p>
<p>五日而止，瘀未盡者，七日止。大虛者，可加人參少許服之。二三日後，或寒熱交作，此骨合也，虛人多有之，但診無他患，如法服生化湯，勿妄用他藥。十二日後，惡露將盡，氣血更新。體虛者，宜服補虛湯。</p>
<p><u>補虛湯</u></p>
<p>人參　白朮（各三錢）　當歸　川芎　黃耆（各二錢）　炙甘草　陳皮（各八分）　乾薑（五分，炒）</p>
<p>八味作一劑，日一服。見《醫學入門》。</p>
<p>十數服，有宿疾者，宜服永安湯。</p>
<p><u>永安湯</u></p>
<p>人參（一錢）　熟地（三錢）　當歸（三錢）　芎藭（二錢）　阿膠（一錢五分）　白朮（二錢）　續斷（一錢五分）　桃仁　烏賊骨（各一錢）　吳茱萸（四分）</p>
<p>十味，作一服，食前溫進，日一。</p>
<p>或澤蘭湯。</p>
<p><u>澤蘭湯</u></p>
<p>澤蘭（二錢）　香附（二錢）　當歸　芎藭（各一錢五分）　芍藥　烏藥（各一錢）　人參（一錢）　阿膠　黃耆　白朮（各三錢）　紅花（五分）　生薑（二錢）</p>
<p>作一服，食前溫進。</p>
<p>或羊肉湯。</p>
<p><u>羊肉湯</u></p>
<p>羊肉（十兩）　黃耆（一兩）　大棗（三十枚）　茯苓　甘草　當歸　麥冬　地黃　芍藥（各六錢）　肉桂心（三錢）</p>
<p>以水六升，煮羊肉，取三升，內藥，煎取一升，分三服，溫進。見《千金方》。</p>
<p>相疾之輕重、體之偏寒偏熱而用之，或十餘服，或數十服，可使宿疾盡去，體弱反強。</p>
<p>飲食宜澹泊，毋食鹽，犯之令無乳，毋食生冷堅硬，一切異物，參食炙煿煎炒，毋過於肥膩，皆令致疾。十日內毋食豬肉，一月內毋食豬脂，犯之令經絡壅塞。凡食肥甘之物，皆宜去油脂，以清淡為上，清本乎陽，可以益神而育精，濁本乎陰，足以致滯而成積。而酸鹹之味，凝血阻脈，尤為切忌也。產後一月，俗謂之滿月，二月謂之大滿月，此二月內，不宜力役動作，不宜交合，心志宜和，思慮宜絕，悲恐憂鬱，大喜大怒皆不可犯，七情傷人，甚於六氣。世有產後羸瘠，謂之蓐勞，多至不治，皆不知調攝之故也。</p>

<h2>懷嬰第十一</h2>
<p>《千金方》論曰：嬰兒初生，當即舉之。舉之稍晚，則令中寒。先浴之，然後斷臍。斷臍不得以刃，令人隔衣咬斷之，以暖氣呵之，然後纏結。所留臍帶須令至小兒足跌，短則兒腹中不調，常下痢。若先斷臍，然後浴者，則臍中水，令常腹痛。其臍斷訖，連臍帶中多有蟲，宜急撥去之。不爾，則入兒腹成疾。裹兒臍法，椎治白練，令柔軟，方四寸，新綿厚半寸，與帛等合之，調其緩急，急則令兒吐。若十許日，兒怒啼，似衣中有刺者，此或臍燥，還刺其腹，當解之。易衣更裹時，閉戶下帷，燃火令溫暖，仍以溫粉粉之。若臍不愈，燒絳帛末粉之。若臍中水，當炙粉絮以熨之，不時治護。</p>
<p>浴兒法，湯須調冷熱，冷熱失宜，令兒驚。凡兒冬不可久浴，久則傷寒，夏不可久浴，久則傷熱。浴兒者，以豬膽汁一枚，取汁投湯中以浴之，終身不患瘡疥。兒生三日，宜用桃根湯浴之良。</p>
<p><u>桃根湯</u></p>
<p>桃　梅　李根（各三兩）</p>
<p>以水三升，煮二十沸，去滓，無根，枝亦可。</p>
<p>生男，宜用父故衣裹之。生女，宜用母故衣裹之。皆勿用新帛衣，不可過厚，令傷兒皮膚，害血脈。嬰兒始生，宜時見風日，凡天氣和暖無風，宜令乳母將兒於日中嬉戲，則血凝氣剛，肌肉牢密，堪耐風寒，不致有疾病。</p>
<p>《達生編》云：兒生三日，浴之，俗謂之洗三。如冬寒切不可洗，然《千金方》謂小兒不浴，令毛落，則不浴，亦非良法，宜如上法蔽風燃火，下帷而浴之。又云：斷臍必以艾蘸油為燃，燎斷之，令暖氣入腹，常視之，勿令濕，較《千金》法為佳。南中收生嫗斷臍，多於連胞衣處斷之，並留胞衣少許，先繫緊，然後斷之。雖臍帶稍長，易於妨礙，然可免入風泄氣之患，亦可用也。</p>
<p>嬰兒甫生，氣欲絕不能啼，以暖水灌之。不啼以綿絮包裹之，勿斷臍，以紙捻蘸油燃火於臍帶下熏之，令暖氣入腹，更以熱醋湯，蕩洗臍帶，令氣回啼哭如常，方可斷臍。</p>
<p>若面青身冷口噤者，乃胎寒也，宜殭蠶散急救之。</p>
<p><u>殭蠶散</u></p>
<p>白殭蠶　木香　肉桂　陳皮　炙甘草　檳榔（各五分）</p>
<p>水煎取汁，以帛蘸入兒口中。見《醫學入門》。</p>
<p>若因臍纏喉管礙產者，急去其所纏之臍，輕按其背俞及胸口，徐摩其喉管，即氣復而啼。</p>
<p>初生有即死者，急看兒口中懸雍，前齶上有泡，如石榴子，以指摘破出血，以帛拭去，以發灰糝之。若令惡血入口中即死。初生撮口不飲乳，名曰馬牙，不治則死。馬牙之候，兒齒齦有小泡，如粟米狀，急以針挑出血，用墨磨薄荷汁，斷母發裹手指，蘸擦口中令遍，勿飲乳，一時許，即瘥。</p>
<p>初生穀道無孔，不得大便，急用金玉簪，揣其是孔處，刺通之。以蘇合香少許，作小鋌，納孔中，或以油紙鋌，納孔中，勿令復合。</p>
<p>若非無孔，而大小便不通者，氣脹欲絕。令婦人以溫湯漱口，吸咂前後心並臍下、手足心，共七處，每咂三五次，漱口更咂，取紅色為度，須臾自通，不爾則死。或以蔥汁、乳汁各半，調勻抹兒口中，與乳吮下，亦通。</p>
<p>若小便不通，不欲飲乳者，以蔥白一寸，四破之，以乳汁入銀石器內煎灌之。</p>
<p>若生鵝口瘡者，其候口內白屑遍生，舌上鼻上皆有之，不能吮乳。急以亂髮纏指，蘸薄荷汁，或井華水，拭之。三日當脫，若不脫，可煮荴木汁，令濃，以帛纏箸頭，拭之。無荴木，慄木亦可，或以白楊枝燒瀝塗之。</p>
<p>初生遍體無皮者，以白早米粉撲之，候生皮乃止。若如魚泡，如水晶，碎則水流者，以密陀僧為末糝之。</p>
<p>初生患連舌，以爪摘斷之。微有血出，無害，若血出不止，以發灰敷之。連舌者，舌下有膜，如榴子中隔連接舌下，令兒言語不轉也。</p>
<p>生六七日後，氣血收斂成肉，則口舌喉頰清淨。若喉里舌上，有物如蘆管中盛水狀者，若如脹起者，可以綿纏長針，留刃如粟米大，刺決之，令氣泄，去青黃汁，日一刺之，不過三刺即愈。著舌下者，名曰重舌，著上齶者，名曰重齶，治如前法。</p>
<p>初生感風，鼻塞不通者，取皂角草烏，等分為末，薑汁調敷囟門，或以薑汁調天南星末敷之。</p>
<p>外腎縮入不得出者，以硫黃、茱萸各五錢，為末，以蒜汁調塗臍腹，仍以蛇床子燒煙燻之。</p>
<p>初生遍體發丹毒，赤腫遊走，若入腹即死，名曰赤遊，乃胎熱也。宜以細針，隨赤暈周匝，刺出惡血，仍以芭蕉汁或蠐螬汁塗之。或以赤小豆末，和雞卵白塗之，亦良。</p>
<p>初生二三日，面目繞鼻，左右皆黃，閉目撮口而啼，口中乾燥，四肢不得伸縮者，乃血脈不斂也。血氣沮敗，不成肌肉，故有此候，宜龍膽湯。</p>
<p><u>龍膽湯</u></p>
<p>龍膽草　鉤藤皮　柴胡　黃芩　桔梗　芍藥　茯苓　甘草（各八分）</p>
<p>以水三合，煮二合，兒生一日至七日，以三勺，分三服，八日至十五日，以四勺，分三服，十六日至二十日，以六勺，分三服，二十日至三十日，以一合，分三服，三十日以外，以二合，分三服。凡寒熱，驚掣，變蒸，不解，客忤，驚癇，食積，皆可服之。見《千金方》。</p>
<p>凡嬰兒甫出，先以綿裹指拭口中及舌上惡血。若啼聲發，便入腹中，以成百病，斷臍後宜與甘草湯。</p>
<p><u>甘草湯</u></p>
<p>以甘草如手中指一節，打碎，以水六勺，煮取三勺。見《千金方》。以綿裹沾取，與兒吮之，計得一蜆殼許入腹止。兒胸中有惡物者，當快吐之。若不吐，須臾更與。盡之若不吐，是無惡物，勿更與也。</p>
<p>凡母乳兒不欲太飽，飽則嘔吐，如太飽，則以空乳乳之，自消。夏不去熱乳，令兒嘔，冬不去寒乳，令兒咳且痢，甫交合即乳，令兒羸瘠交脛不能行。將乳，當先去宿乳，又用力極挼之，勿令乳急出，令兒噎。若急出，以指按夾之，噎則奪之，令得息然後乳之。兒若臥，乳母當以臂枕之，令乳與兒平，令兒不噎。欲寐，則奪其乳，恐填塞口鼻，且或致過飽。母臥，母以口鼻向兒，恐氣吹其巔頂。母有熱，勿乳，犯之令兒變黃。母怒，勿乳，犯之令生驚，發疝，上氣顛狂。母醉，勿乳，犯之令身熱腹痛。母新吐下，勿乳，犯之令兒虛羸，皆所當慎。</p>
<p>富貴家，多置乳婦，而愚蠢之輩，不知慎護，不識避忌，寒燠失候，飢飽違理，因而致疾者最多。故善懷嬰者，當自乳為善，必欲置乳婦，宜擇氣血清和，肥白壯盛之婦，毋犯胡臭，癭瘻，瘑疥，癡癃，白禿，癧瘍，耳聾，齆鼻，癲癇之疾。夫乳者，血氣之所為也。兒之性情未定，藉血氣以涵養之，苟飲以惡濁之乳，則氣血日昏，性情日劣，變清明而為愚蠢，為患實深，又不特致疾之一端也。</p>
<p>大凡嬰兒氣血薄弱，施治難於常人，小有不慎，即生重疾。愚醫不察，拘執謬說，肆用毒藥，往往而殤。夫疾作而治之於後，曷若未疾而慎之於先？未生則調之於母，既生則適其飢飽，量其寒溫，疾從何生？而煩廣施謬方，遍倡邪說耶，集《懷嬰》一篇，有心保赤者，所當覽也。</p>

<h2>拯危第十二</h2>
<p>產後諸疾，危迫者多，頃刻生變，有延醫治藥所不及者。孫子所謂發於秋毫，廣於嵩岱也。而世俗治此，恆昧其道，稍有不順，輒謂不治。治之不善，又不啻下石而殺之。蓋能起死而定亂者鮮矣，著拯危一篇以政惑焉。產後血暈，最為危急，其候兒甫墮地，母即昏絕，不省人事，急令婦女以膝裹綿軟舊衣曲抵產戶，勿令氣泄，一人以一手挽頭髮，一手掩口鼻，俟稍轉動，乃可用藥。若不醒，以韭菜一把，細切，瓶盛之，灌以熱醋，以瓶口向產母鼻管熏之。仍以鐵石器火燒淬醋，令室中常得醋氣，或以醋噀其面，或以漆器燒之。用藥宜辨虛實，虛者其候昏悶煩亂，卒然暈倒，口張，手撒遺尿，鼾聲，四肢厥冷，寸口脈微細散亂，或伏匿不至，此正氣大虛，微陽欲脫，陰離陽決，危在俄頃，救之稍遲，則氣不復返，宜清魂散。</p>
<p><u>清魂散</u></p>
<p>人參　澤蘭（各一錢二分）　炙甘草（一錢）　當歸　芎藭（各二錢）　荊芥穗（一錢）</p>
<p>作一服，水煎，加清酒引。見《婦人良方》。</p>
<p>定氣飲。</p>
<p><u>定氣飲</u></p>
<p>人參　白朮　阿膠（各三錢）　炮姜　熟附子（各一錢）　大棗（五枚）　炒粳米（一撮）</p>
<p>濃煎，分二服，溫進。</p>
<p>獨參湯。</p>
<p><u>獨參湯</u></p>
<p>人參（四五錢）</p>
<p>長流水濃煎厚汁灌之。見《醫說》。或加炒米一撮，炮姜一錢尤妙。</p>
<p>六味回陽飲。</p>
<p><u>六味回陽飲</u></p>
<p>熟地黃（五錢）　當歸（三錢）　炮姜（二錢）　熟附子（二錢）　肉桂（二錢）　人參（三錢）</p>
<p>見《幼幼集成》。</p>
<p>相度用之實者，心下滿急，神昏口噤，腹脹氣粗，兩手拳握，脈無虛象，乃下血過少，惡露上逆，當破其惡血，宜黑神散。</p>
<p><u>黑神散</u></p>
<p>肉桂　當歸　白芍　炮姜（各二錢）　乾地黃　炒黑大豆（各五錢）</p>
<p>見《幼幼集成》。</p>
<p>奪命散救之。</p>
<p><u>奪命散</u></p>
<p>沒藥　血竭各等分，治為末，每用三錢，童便清酒各半，煎數沸服，神效。見《丹溪心法》。</p>
<p>若舌強不語者，敗血壅其脈絡也，宜四味散。</p>
<p><u>四味散</u></p>
<p>當歸　延胡索　血竭　沒藥（各一錢）</p>
<p>每用二錢，童便或清酒調下，或並煎作湯，亦可。見《丹溪心法》。</p>
<p>若見鬼譫妄，言語顛倒，眼見黑花者，宜辨虛實，誤者即死。體素虛弱，下血過多，昏迷不省，瞑目無所知，甚則循衣撮空，錯語失神者，虛也。又謂之鬱冒，暴亡其血，陽神無所依附，宜安神飲治之。</p>
<p><u>安神飲</u></p>
<p>人參　柏子仁（去油，各三錢）　黃耆　阿膠　當歸　茯神（各一錢）　肉桂　炙甘草（各一錢）</p>
<p>共作一服。</p>
<p>體素壯實，下血未多，發狂見鬼，面青口噤，角弓反張者，實也。敗血乾心，亂其神明，宜蘇合香丸一錢，童便調服，或奪命散四味散皆宜（方俱見上）。</p>
<p>血崩不止，是謂重傷，其候血暴下如注，急若山崩，故名曰崩。唇青肉冷，汗出目瞑，此由陽氣大虛，不得收攝，故直下無制，潰決而不可止，宜朝宗湯。</p>
<p><u>朝宗湯</u></p>
<p>歸身（一兩）　芎藭　乾地黃（各五錢）　芍藥（三錢）　人參　黃耆　肉桂　炙甘草（各二錢）</p>
<p>分二服。</p>
<p>補氣養血湯。</p>
<p><u>補氣養血湯</u></p>
<p>人參　黃耆　當歸　白朮　芍藥　阿膠　芎藭（各二錢）　艾葉　青皮　香附　甘草（各五分）　熟附子（一錢）　縮砂仁（一錢）</p>
<p>共作一服。見《萬病回春》。</p>
<p>或攝陰湯治之。若少腹滿痛，肝藏已壞，不可治矣。</p>
<p><u>攝陰湯</u></p>
<p>熟地黃（五錢）　人參（三錢）　黃耆（二錢）　當歸（一錢五分）　荊芥穗（炙）　棕櫚皮（炙）　甘草（炙各一錢）　熟附子（一錢五分）</p>
<p>作一服。</p>
<p>衄血者，口鼻血出不止，口鼻起黑色如煙煤，是胃絕也。氣血散亂，多不可治，急以緋線一條，併產母頂心發二莖，合系產母手中指節，令極緊，仍用荊芥散。荊芥穗為末，每服二錢，童便調下，口噤開灌之。見《婦人良方》。產後大喘，乃死候也。此由陽氣素衰，所下過多，血竭於下，氣留於上，無所依附，獨聚肺中，孤陽絕陰，命在呼吸，宜獨參湯（方見上）、定氣飲（方見上，炮姜，宜易乾薑）、六味回陽飲（方見上），輕者小參蘇飲。</p>
<p><u>小參蘇飲</u></p>
<p>濃煎蘇木汁，調人參末二錢，或三錢，作一服。見《東醫寶鑑》。</p>
<p>若血下少而作喘者，其喘不甚，由於瘀血入肺，窒礙氣道，宜桃仁湯治之。</p>
<p><u>桃仁湯</u></p>
<p>桃仁（二錢，炒）　杏仁（二錢，炒）　當歸　貝母（各二錢）　茯苓（二錢）　乾薑　人參（各五分）</p>
<p>若咳逆不止欲死者，以肉桂五錢，薑汁三合，同熬，稍服半合許，以手摩肺俞令熱，以余汁塗之。時摩時塗，汁盡即愈。見《婦人良方》。</p>
<p>陰脫者，子宮脫出，或脫出如脫肛者，蓋產時弩力所致，宜當歸黃耆飲。</p>
<p><u>當歸黃耆飲</u></p>
<p>黃耆（三錢，酒炒）　人參　當歸（各二錢）　升麻（五分）　甘草（八分）</p>
<p>上作一服，水煎，日二。見《丹溪心法》。</p>
<p>若脫出如線，長三四尺，手觸之則痛甚者，宜慎護之。不可令斷，斷則死。以姜三片，連皮搗之。清油二斤，和炒，以油干為度，以熟絹五尺許，疊數層，承其線，屈曲作圓形，納戶口，以絹袋盛姜，溫熨之。冷即易，一日夜當入其半，二日當愈，仍內服失笑散助之。</p>
<p><u>失笑散</u></p>
<p>五靈脂　蒲黃等分為末，每服二錢，童便或酒調下。見《局方》。</p>
<p>凡產後危症，皆屬虛寒，惡血為患，僅十之三四。而昧者多以去瘀破血賅之，肆用攻伐，複雜寒涼，邪說盛行，古法晦昧。夫血已亡而復破之，陽已衰而復泄之，危如轉燭。主救猶恐不及，而尚妄謬為之耶！有識者尚其慎之，毋為邪說所惑也。</p>

<h2>去疾第十三</h2>
<p>產後治疾，當以溫補為主，去瘀次之。《千金方》論曰：婦人產訖，五藏虛羸，惟得將補，不可轉瀉，若其有病，不須快藥，若行快藥，轉更增虛。就中更虛，向生路遠。朱彥修曰：胎前毋滯，產後毋虛，亮哉斯言，不易之法也。而方今醫者，用法多殊，陽虛發熱，妄用滋降，氣逆作喘，謂之痰火，豈未見《千金》諸說耶？朱氏為滋陰降火之祖，而於產後大熱，亦用乾薑，雖說理未明，而用法則合，而宗其說者，並此而背之，可異也已。</p>
<p>《脈經》曰：產後之脈，洪實不調者死，沉微附骨者生。又曰：沉小者生，實大堅強急者死。蓋產後當虛，沉小而微，虛寒之象也。當虛反實，則陰陽相併，氣血瞀亂，《素問》所謂氣並則無血，故脈象反盛，猶之真藏之脈，多屬堅強，絕無生意者也。知脈理則知治法，知治法則知病情矣。</p>
<p>大凡產後諸疾，虛寒者十之六七，瘀滯半之，內傷外感又半之，而總不外溫補二法。常有之候，曰惡露不行，曰發熱，曰尿血，曰無乳汁，曰頭腦心腹腰脅痛，曰嘔吐，曰淋瀝，曰遺溺，曰泄痢，曰便秘，曰陰腫痛癢，曰交骨不合。其甚者，曰傷寒，曰中風，曰浮腫，曰虛實。凡此數者，世俗犯之，有終身不愈者。至中風虛勞，多歸不治，由古法久廢，下士多愚，非必死之症也。</p>
<p>惡露之候，產後下血過少，腹滿而脹，痛引少腹，牽掣腰背，宜加味生化湯。</p>
<p><u>生化湯</u></p>
<p>加澤蘭（二錢）　延胡（一錢五分）　益母草（三錢）</p>
<p>甚者，逆搶心胸，手足厥冷，唇乾腹大，短氣促喘，宜甘草湯。</p>
<p><u>甘草湯</u></p>
<p>甘草　芍藥　桂心　阿膠（各一兩）　大黃（一兩三錢）</p>
<p>以東流水三升，煮一升，內膠，令烊，分三服。見《千金方》。</p>
<p>若敗血不下，成塊作痛，俗謂之兒枕痛，乃血瘕也，宜失笑散（方見拯危篇）、立效散。</p>
<p><u>立效散</u></p>
<p>五靈脂</p>
<p>為末，每服二錢，溫酒調下。見局方。</p>
<p><u>古鐵酒</u></p>
<p>古鐵五錢，火燒令赤，以酒三合，入淬之，溫服。見《千金方》。</p>
<p>烏賊骨湯治之。</p>
<p><u>烏賊骨湯</u></p>
<p>烏賊骨（三錢）　桃仁（二錢）　當歸　芎藭　芍藥　阿膠（各一錢五分）　肉桂（五分）　五靈脂（一錢）</p>
<p>作一服。</p>
<p>產後發熱，其候大熱煩躁，晝輕夜重，或譫語神昏，脈虛大者，虛也，宜當歸補血湯（方見孕疾篇）。腹內痛，有塊者，瘀也，宜生化湯（方見調攝篇）。感冒者，宜補虛加乾薑湯。</p>
<p><u>補虛湯</u></p>
<p>加乾薑一錢，作一服。見《丹溪心法》。</p>
<p>四物炮薑湯。</p>
<p><u>四物炮薑湯</u></p>
<p>芎藭（一錢五分）　芍藥（二錢）　乾地黃（三錢）　炮姜（二錢）　當歸（三錢）</p>
<p>若因蒸乳而熱者，乳必脹痛，去乳汁即愈。若往來寒熱者，宜柴胡湯主之。</p>
<p><u>柴胡湯</u></p>
<p>柴胡（八錢）　黃芩　人參　甘草（各一兩）　生薑（六錢）　大棗（十二枚）　半夏（三合）</p>
<p>以水三升。煮一升五合，分三服。見《千金方》。</p>
<p>新產無乳，其故有二：陽虛陰盛，無以化之，營血不得溫升，故不能生乳，體素羸弱者多有之。舊說所謂血虛無乳者，即此候也。宜益陽以化陰，溫經以通絡，宣營湯主之。</p>
<p><u>宣營湯</u></p>
<p>當歸　黃耆　阿膠（各三錢）　人參（五錢）　芎藭　芍藥（各二錢）　川貝母（一錢）　炮姜（一錢）　紅花　甘草（各五分）</p>
<p>十味作一服。</p>
<p>氣滯血阻，脈絡不通，乳道壅閉，亦無乳，宜豬蹄湯。</p>
<p><u>豬蹄湯</u></p>
<p>豬蹄（二枚）　通草（二兩）</p>
<p>以清酒三升，浸之，加水一升，煮一升，飲之。見《千金方》。《達生編》無通草，加生黃耆（一兩），當歸（五錢），白芷（五錢），名通脈湯。</p>
<p>或貝母湯主之。</p>
<p><u>貝母湯</u></p>
<p>貝母（一錢五分）　連翹（二錢）　當歸　川芎藭（各二錢）　桔梗　白芷（各一錢）　赤芍　川續斷（各一錢）　紅花（五分）</p>
<p>頭痛者，血虛也，其候痛連巔項，掣引腦項，緊急欲死。厥陰少陽陽明之脈，會於巔，絡於額，貫於腦，驟亡其血，脈絡不安，故震動而痛，宜小補血湯。</p>
<p><u>小補血湯</u></p>
<p>川芎藭（三錢）　黨參（一兩）　阿膠（五錢）　生薑（二錢）</p>
<p>即少挾風邪，不可發散，宜一奇散主之。</p>
<p><u>一奇散</u></p>
<p>川芎藭　當歸（各二錢）　荊芥穗（一錢）</p>
<p>作一服。見《東醫寶鑑》。</p>
<p>心腹疼痛，多由血瘀氣結，挾寒而起，宜芎歸理中湯。</p>
<p><u>芎歸理中湯</u></p>
<p>芎藭（一錢五分）　當歸　黨參　白朮（各三錢）　炮姜　枳實（各一錢）　桃仁（一錢五分）</p>
<p>若虛羸而腹痛，少氣不得息，少腹拘急，牽引腰背，不能飲食者，宜內補當歸建中湯。</p>
<p><u>內補當歸建中湯</u></p>
<p>當歸（一兩三錢）　芍藥（一兩六錢）　甘草（三錢）　生薑（二兩）　桂心（六錢）　大棗（十八枚）</p>
<p>以水三升，煮一升，分三服。見《千金方》。</p>
<p>腰痛者，下焦虛寒，血滯不行也，宜續斷飲。</p>
<p><u>續斷飲</u></p>
<p>續斷（三錢）　當歸　阿膠（各二錢）　杜仲（三錢）　桃仁　延胡（各一錢五分）　肉桂（五分）</p>
<p>脅痛者，肝虛也，宜四物乾薑湯。</p>
<p><u>四物乾薑湯</u></p>
<p>當歸　乾地黃　芍藥（各三錢）　川芎藭　乾薑（各一錢五分）　棗（五枚）</p>
<p>冬月產後臍下痛者，宜羊肉湯。</p>
<p><u>羊肉湯</u></p>
<p>羊肉（四兩）　當歸　陳皮（各二兩）　生薑（一兩）</p>
<p>水一升，酒五合，煮八合，分三服。見《醫學正傳》。</p>
<p>嘔逆之候，腹脹懣悶，食入即吐，此敗血瘀阻，胃氣不降也，宜抵勝湯。</p>
<p><u>抵勝湯</u></p>
<p>芍藥　半夏　澤蘭　人參　陳皮（各一錢五分）　甘草（五分）　姜（七片）</p>
<p>作一服。見《醫學正傳》。</p>
<p>淋瀝遺溺，由於下焦虛寒，或產理不順，妄用謬法，損傷府絡，宜桑螵蛸散。</p>
<p><u>桑螵蛸散</u></p>
<p>桑螵蛸（十五枚）　鹿茸　黃耆（各一兩五錢）　牡蠣　人參　赤石脂　厚朴（各一兩）</p>
<p>治為末，每服一錢，米飲調下。見《東醫寶鑑》。</p>
<p>鹿角霜飲。</p>
<p><u>鹿角霜飲</u></p>
<p>鹿角霜（五錢）　熟地黃（八錢）　黨參　黃耆（各三錢）　韭子（一錢）　肉桂（一錢）　菟絲子（二錢）</p>
<p>損者，宜參朮膏。</p>
<p><u>參朮膏</u></p>
<p>人參　白朮　黃耆（各二斤）</p>
<p>熬膏，每服二錢，米飲下。見《丹溪心法》。</p>
<p>或參朮飲，然宜速治，緩則無及矣。</p>
<p><u>參朮飲</u></p>
<p>人參（二錢五分）　白朮（二錢）　黃耆（一錢五分）　陳皮　桃仁　茯苓（各一錢）　甘草（五分）</p>
<p>以豬羊脬一個煮湯，入藥再煎去滓，作一服。見《丹溪心法》。</p>
<p>尿血者，血隨溺下，滲瀝不已，甚則溺孔作痛，宜竹茹湯。</p>
<p><u>竹茹湯</u></p>
<p>竹茹（六合）　人參　芍藥　桔梗　芎藭　當歸　甘草　桂心（各三錢）　熟地黃（二兩三錢）</p>
<p>以水三升，煮取一升，分三服。見《千金方》。</p>
<p>若渴，或淋而渴者，宜竹葉湯。</p>
<p><u>竹葉湯</u></p>
<p>竹葉（一升）　生薑　半夏（各一兩）　大棗（十四枚）　小麥（二合）　甘草　茯苓　人參（各三兩）　麥門冬（一兩六錢）</p>
<p>以水三升，煮竹葉小麥取二升，內藥，煮取九合，分三服。見《千金方》。</p>
<p>產後泄痢，多因脾虛感寒，其候雜下五色，或赤白膿血，日十數行，腹痛困頓，宜芍藥湯。</p>
<p><u>芍藥湯</u></p>
<p>芍藥　乾地黃（各一兩六錢）　甘草　阿膠　艾葉　當歸（各六錢）</p>
<p>以水二升，煮八合，內膠，分三服。見《千金方》。</p>
<p>甚者，桂蜜湯。</p>
<p><u>桂蜜湯</u></p>
<p>桂心　甘草（各六錢）　乾薑（六錢）　附子（三錢）　蜜（三合）　當歸（一兩）　赤石脂（三兩）</p>
<p>以水六升，煮一升，內蜜煮數沸，分三服，日一。見《千金方》。</p>
<p>禹餘糧湯。</p>
<p><u>禹餘糧湯</u></p>
<p>禹餘糧（五錢）　白朮　乾薑（各二錢）　黨參（一兩）　茯苓（三錢）　陳皮　川芎藭（各一錢）　炙甘草　木香（各一錢）</p>
<p>分二服。</p>
<p>久不已者，宜豆麥飲。</p>
<p><u>豆麥飲</u></p>
<p>大豆（微熬）　小麥　蒲黃（各三合）　吳茱萸（一合）</p>
<p>以水三升，煮一升，分三服。見《千金方》。</p>
<p>泄瀉者，宜安中湯。</p>
<p><u>安中湯</u></p>
<p>白朮（三錢）　當歸　黨參（各二錢）　炙甘草　陳皮　砂仁　麥芽（各一錢）　生薑（七片）　大棗（五枚）</p>
<p>或補中益氣湯。</p>
<p><u>補中益氣湯</u></p>
<p>黃耆（一錢）　人參　白朮　當歸（各五分）　甘草（三分）　陳皮　升麻（各四分）　柴胡（五分）　姜（三片）　棗（三枚）</p>
<p>作一服。見《脾胃論》。</p>
<p>便秘不通，多由津虧之故，或誤發其汗，陽泄於外，胃氣不降，宜澤府湯。</p>
<p><u>澤府湯</u></p>
<p>阿膠　當歸（各三錢）　桃仁　麻仁（各二錢）　黨參（三錢）　紅花（五分）</p>
<p>降胃湯。</p>
<p><u>降胃湯</u></p>
<p>人參　陳皮（各一錢）</p>
<p>作一服。</p>
<p>陰腫癢痛，木鬱下陷也，宜溫肝湯。</p>
<p><u>溫肝湯</u></p>
<p>柴胡　白芍　川芎（各一錢）　當歸　首烏　白朮　苡仁（各三錢）　蔥白（七枚）</p>
<p>外以蛇床子煮湯熏洗之。</p>
<p>交骨不合，陽氣大虛也，宜十全大補湯。</p>
<p><u>十全大補湯</u></p>
<p>人參　茯苓　白朮（各二錢）　乾地黃　黃耆　當歸（各三錢）　白芍　川芎（各一錢五分）　肉桂（一錢）　甘草（五分）</p>
<p>或加味芎歸湯（方見前）。</p>
<p>產後傷寒，治法與產前同，產前宜安胎，產後宜補血，小柴胡湯主之。</p>
<p><u>小柴胡湯</u></p>
<p>柴胡（三錢）　黃芩（一錢）　人參　半夏（各一錢）　甘草（五分）　姜（三片）　棗（二枚）</p>
<p>作一服。見《醫學入門》。</p>
<p>若因傷寒時疾，熱入血室者，宜小柴胡加桃仁五靈脂湯。</p>
<p>小柴胡湯加桃仁、五靈脂各一錢</p>
<p>或柴胡地黃湯。</p>
<p><u>柴胡地黃湯</u></p>
<p>柴胡　地黃（各三錢）　人參　半夏　黃芩（各二錢）　甘草（五分）　姜（三片）　棗（二枚）</p>
<p>作一服。見《得效方》。</p>
<p>熱渴者，熟地黃湯。</p>
<p><u>熟地黃湯</u></p>
<p>栝蔞根（三錢）　人參　麥門冬（各一錢五分）　熟地黃（一錢）　甘草（五分）　糯米（百粒）　姜（三片）</p>
<p>見《得效方》。</p>
<p>人參當歸飲治之。</p>
<p><u>人參當歸飲</u></p>
<p>人參　熟地黃　當歸　白芍藥　麥門冬（各一錢）　桂皮（五分）　青竹葉（十片）　粳米（一合）　姜（三片）　棗（二枚）</p>
<p>見《醫學入門》。</p>
<p>中風之候，舌寒唇急，手指振動，甚則牙關緊急，手足瘛瘲，背項強直，一身皆重，或痛或癢，嘔逆直視，角弓反張，名曰蓐風。此因虛風冷濕，及勞傷所為。《千金方》論曰：凡產後諸風，不得用毒藥，不得發汗，特忌吐利，犯之必死。蓋陽虛陰憊之候，中氣未定，乙木不得溫升，鬱而生風，播煽藏府，外則風冷襲之，束其皮腠，表氣壅遏，激烈愈增，內外交煽，津液消亡，筋脈攣縮，故手足瘛瘲，牙關緊急，項背強直，角弓反張，諸症作焉。較之尋常中風之候，其甚十倍，治亦如之，非可忽略為也，《千金》大豆紫湯。</p>
<p><u>大豆紫湯</u></p>
<p>大豆（二升）　清酒（三升）</p>
<p>以鐵鐺猛火炒豆焦，令煙出，以酒沃之。去豆，服三合，一日盡之。見《千金方》。</p>
<p>獨活湯。</p>
<p><u>獨活湯</u></p>
<p>獨活（五兩三錢）　大豆（二升）　舊酒（三升）</p>
<p>以漬獨活再宿，若急用，微火煮令減一升，另炒大豆焦，以此沃之，去豆，分五服，日三，夜二。見《千金方》。</p>
<p>華陀愈風散。</p>
<p><u>華陀愈風散</u></p>
<p>荊芥炒為末，每服三錢，豆淋酒調下。見《得效方》。按：豆淋酒，即上大豆紫湯，每服一合。</p>
<p>海藏防風當歸散。</p>
<p><u>防風當歸散</u></p>
<p>防風　當歸　芎藭　熟地黃（各二錢五分）</p>
<p>作一服。見《東醫寶鑑》。</p>
<p>皆精當可用。若中柔風者，舉體疼痛，自汗出，宜獨活當歸湯。</p>
<p><u>獨活當歸湯</u></p>
<p>獨活（二兩六錢）　當歸（一兩三錢）</p>
<p>以酒二升六合，煮取一升三合，分四服。見《千金方》。</p>
<p>若夏秋，宜用浴法。</p>
<p>浴法　鹽（一升六合）　雞毛（一把）</p>
<p>燒作灰，以水二斗三升，煮鹽作湯，內雞毛灰浴之。見《千金方》。</p>
<p>產後浮腫，乃大虛也。脾恃中氣以運陰陽，中氣者，陽氣也。產後亡血，陽氣大虛，脾無所恃，失轉運之正，水氣停蓄，津液阻梗。木鬱於左，無升達之力。金逆於右，無下行之路。氣位於上，水位於下。肺不降則水上逆，肝不升則氣下陷，上逆則腫頭目，下陷則腫肚腹。四肢者，諸陽之本，脾之所屬也。血亡陽散，失所依附，漁於四末，而水濕隨之，無所泄越，故壅阻而為腫。前人論此，謂惡血流入四肢，夫惡血瘀滯，能為痿痹而不為浮腫，淺小之見，無足深辨。前人諸方，精者絕少，宜馭中湯。</p>
<p><u>馭中湯</u></p>
<p>黃耆　人參　白朮（各五錢）　茯苓　當歸（各三錢）　炙甘草（一錢）　陳皮（一錢）　苡仁（一兩）　肉桂（一錢）　生薑（三錢）　大棗（十二枚）</p>
<p>作一服。</p>
<p>小腎氣湯。</p>
<p><u>小腎氣湯</u></p>
<p>熟地黃　當歸　人參（各三錢）　澤瀉（一錢五分）　白朮（五錢）　熟附子（二錢）　肉桂（一錢）　茯苓　（三錢）</p>
<p>作一服。</p>
<p>若因中風而腫者，宜大豆酒治之。</p>
<p><u>大豆酒</u></p>
<p>大豆（一升）</p>
<p>以水六升，煮取一升半，去豆，更煎，減半升，內白朮（二兩六錢），附子（一兩），獨活（一兩），生薑（二兩六錢），添水三升，煮二升，內好酒（一升六合），再煎，取一升五合，分五服。見《千金方》。</p>
<p>產後虛勞，名曰蓐勞。其候乍起乍臥，飲食不化，時作嗽咳，目昏頭痛，口渴盜汗，寒熱往來，喘乏自汗，少氣驚悸，此由攝養不善，內傷七情，陽陷陰逆，升降倒置，藏府交病，表裡均虧，誤用寒涼，即死不治，宜羊肉湯。</p>
<p><u>羊肉湯</u></p>
<p>羊肉（一斤去脂）　當歸　桂心　甘草（各六錢）　芎藭（一兩）　芍藥　生薑（各一兩三錢）　乾地黃（一兩六錢）</p>
<p>以水五升，先煮羊肉，取二升三合，內藥，煮取一升，分三服。見《千金方》。</p>
<p>豬腎湯。</p>
<p><u>豬腎湯</u></p>
<p>豬腎（一具，去脂四破之）　香豉（用綿裹）　白粳米　蔥白（各三錢）</p>
<p>以水一斗，煮取二升，任意服之。見《千金方》，或加當歸人參各六錢，見《廣濟方》。</p>
<p>羊肉黃耆湯。</p>
<p><u>羊肉黃耆湯</u></p>
<p>羊肉（十兩）　黃耆（一兩）　大棗（三十枚）　茯苓　甘草　當歸　桂心　麥門冬　乾地黃　芍藥（各六錢）</p>
<p>以水六升，煮羊肉，取三升，內諸藥，共煮六合，分三服，一日盡。見《千金方》。</p>
<p>鹿肉湯。</p>
<p><u>鹿肉湯</u></p>
<p>鹿肉（一斤五兩）　乾地黃　甘草　芎藭　黃耆　芍藥　麥門冬　茯苓（各六錢）　人參　當歸　生薑（各三錢）　半夏（三合）　大棗（二十枚）</p>
<p>以水八升，煮肉取四升，內藥，取一升六合，分四服。見《千金方》。</p>
<p>當歸芍藥湯，消息治之。</p>
<p><u>當歸芍藥湯</u></p>
<p>當歸（一兩二錢）　芍藥　人參　桂心　生薑　乾地黃　甘草（各三錢）　大棗（二十枚）</p>
<p>以水二升，煮取一升，分三服。見《千金方》。</p>
<p>若流汗不止者，宜鯉魚湯。</p>
<p><u>鯉魚湯</u></p>
<p>鯉魚（十兩）　豉蔥（各三合）　乾薑　桂心（各六錢）</p>
<p>以水二升，煮魚取二升，內藥，煎六合，去滓，分二服。見《千金方》。</p>
<p>虛煩者，人參湯。</p>
<p><u>人參湯</u></p>
<p>人參　當歸　麥冬　乾地黃　桂心（各三錢）　大棗（二十枚）　粳米（三合）　芍藥（一兩三錢）　淡竹葉（一升）</p>
<p>以水四升，先煎竹葉及米，取二升六合，內藥，煮一升，分三服。見《千金方》。</p>
<p>甘竹茹湯。</p>
<p><u>甘竹茹湯</u></p>
<p>甘竹茹（三合）　人參（三錢）　茯苓　甘草（各六錢）　黃芩（一兩）</p>
<p>水二升，煮六合，分三服。見《千金方》。</p>
<p>兼見大熱者，宜知母湯。</p>
<p><u>知母湯</u></p>
<p>知母（一兩）　芍藥　黃芩（各六錢）　桂心　甘草（各三錢）</p>
<p>水二升，煮八合，分三服。見《千金方》。</p>
<p>胸中逆氣者，宜薤白湯主之。</p>
<p><u>薤白湯</u></p>
<p>薤白　半夏　甘草　人參　知母（各六錢）　石膏（一兩六錢）　栝蔞根（一兩）　麥門冬（一合五勺）</p>
<p>以水四升，煮取一升三合，分五服。見《千金方》。</p>
<p>若因交合過早，勞損下血者，宜熟地黃湯。</p>
<p><u>熟地黃湯</u></p>
<p>熟地黃（一錢五分）　當歸　蟹爪　鹿角膠　男子褲襠（燒存性，各一錢）　伏龍肝（七分）　白茯苓　芍藥（各五分）　桂心　甘草（各二分半）</p>
<p>作一服。見《醫學正傳》。</p>
<p>凡此諸候，皆常見之疾，達其理，通其法，無有不瘳。外此則有跌僕損傷，一切非常異候，皆不具著。明其大旨，推廣而貫通之，亦可無所窒滯矣。</p>

<h1>跋</h1>
<p>聖賢中庸工夫，全講平易近人，醫小術耳，而理亦不能外。是編豹人弟向仲遠借讀，赴蜀時留在案頭，偶閱一過，覺天地進化之理，已了了在人心目。理雖至精，而愚夫愚婦無不可知，始嘆近世醫家好讀奇僻，皆醉人吃語耳。仲遠家學淵源，抱負不淺，乃讀書數十年而無所試，只此偏長薄技，見重於時，亦可哀也，然而已足千古矣。</p>
<p><u>道光丁酉十月維揚史丙榮。</u></p>

<h1>跋</h1>
<p>二五絪縕，妙合而凝。誕彌厥月，瓜熟蒂落。此天地自然之道，不必以人事計之者也。然妊子之婦，調護識別，自有法度，七情交戰，六氣橫攻，一有不慎，不得不藉藥餌為補救之術。是書陽湖張子所手集，曾刻於吳中三松堂潘氏，法多經驗，世推善本。潘子子宜隨侍閩省，篋中攜有是編，鋟之版以廣其傳。夫僻壤窮鄉，胎教不明，藥石誤投，號呼莫救者多矣。拯閨闥之呻吟，杜嬰孩之夭枉，婦子熙熙，咸登仁壽，安知非是書之一助也，小道云乎哉。</p>
<p><u>同治辛未秋八月平江吳大彬跋</u></p>

<h1>跋</h1>
<p>《產孕集》十三篇，陽湖張子所著。濟世利人，實非淺鮮。道光乙巳家補之叔祖為之校訂，刊於吳門，一時風行，不腔而走。嗣煅於兵火。同治戊辰，重付剞劂志厚，隨侍十閩，篋中攜有是編，見之者咸以為善，接踵向索，而版存里中，猝無以應，因復為鋟版以廣流傳，並識其緣起於此。</p>
<p><u>同治辛未秋八月潘志厚謹跋。</u></p>
