<header data-type="book">
<h1>王氏醫案三編</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="王士雄">王士雄</data>撰，<data value="徐亞枝">徐亞枝</data>輯</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1854">公元1854年</data></dd></div>
</dl>
</header>

<h1>重刊王氏醫案三編序</h1>
<p>嘗聞有是病，即有是藥。但些小之病，臟氣固有抵抗病菌之能力，雖不藥亦能自愈。若偶遇疑難危症，認為寒者必投熱；認為熱者必投寒；認為虛者必投補；認為實者必投瀉；雖廣延諸醫於一堂，其主見必各是其是，際此吉凶反掌之時，反令人茫無適從，甚至日易多醫，不問寒涼補瀉，遇藥即投，直至氣絕人亡，病家亦竟委之於壽命，聽之於大數。嗚呼！興言及此，不勝扼腕。詎知皆由後人學識未精，審證不確之誤耳！苟能推尋奧妙，研究精微，博覽前人醫案，參察脈理，一思百慮，感而遂通，鮮有不能取效者。俞桂庭先生云：醫理深微，非上智不能討究。以百人習醫，無十人成就。成就之中，無一人精通。得一明醫，談何容易。然事在人為，貴乎自立。如王甥孟英之銳志於醫也，足不出戶者十年，手不釋卷者永夜。邇年在婺屢起沉疴，余每聞而喜躍。所有歷年治驗，曾令其須存底稿。史縉臣先生亦云：無論內外大小，一年之中，豈無一二奇證，若懷之於胸臆，則近於秘道不傳，何不將所治奇病，現何證、服何藥、如何療、如何愈以為醫案，使後人有跡可循，而無識認不真之憾。俞氏又云：縉臣先生亦有此話，可謂先得我心。世之為醫者，遵史氏之格言，效吾甥之苦志，出而問世，必可加人一等也。孟英之留存案，可謂承舅氏之遺訓，遵史氏之格言，久而行之，漸積成卷。迨癸卯冬，周君光遠，選刊自道光甲申迄癸卯醫案二卷，曰《回春錄》。張君柳吟等，復集甲辰至庚戌醫案七卷，題曰《仁術志》。咸豐丁亥春，楊大令素園，重為刪定，詳加評點，附霍亂於後，合梓於江西，改題曰《王氏醫案正續編》，總刊於江浙，久已膾炙人口。後如徐君亞枝等，續採自辛亥至咸豐甲寅之驗案，亦名《王氏醫案三編》，然仍編年之例，以期遞增無已也。又如乙卯至丁巳醫案，由先生自編，即《歸硯錄》之卷四是也。其餘驗案，散見於《古今醫案按選》及《洄溪醫案》、《名醫類案》者亦不少。惟《醫案三編》及《歸硯錄》，刻於《潛齋十種》之末，原版已遭兵燹，且後無翻印行世，故流傳甚稀。民國元年，李氏校刊《潛齋八種》，亦未採此二種。余於丁巳秋，偶在舊書肆，得《潛齋十種》，備重價購歸，恐再散佚，為此即謀石印，並增王案正續編，冠於三編前，俾相接續，而成全璧。余嘗讀先生案，益佩先生敏而好學，嘗寢饋於醫學，更能參究性理諸書，以格物窮理，故審病辨證，能探虛實，察淺深，權緩急，每多創闢之處，然仍根據古書。其裁方用藥，無論用補用瀉，皆不離運樞機，通經絡，能以輕藥愈重證，為自古名家所未達者。更有自始至終，一法到底，不更方而愈者。良由讀書多，而能融會貫通，悟超象外。故楊氏有云：王氏醫案，議論精透，前無古人。周氏謂其治病若天授。皆不易之定評也。</p>
<p><u>中華民國七年二月四明後學曹炳章赤電氏序於古越之養性廬</u></p>

<h1>半癡山人醫案三編序</h1>
<p>山人王君孟英，名士雄，嘗經宜黃令楊君素園刻其醫案續編，余既序之矣。今同人復刊《醫案三編》，以諗於余。余謂：山人，蓋隱君子也托於醫以資事育耳，不可僅以醫目之。山人有夙慧，書一覽即領解。十歲知三黨、五服之別，通算術。十四失怙，衣食於奔走，不喜時藝，暇則泛覽史籍、古文詞。或勸以博功名，嘆曰：功名何必勢位哉！顏其室曰「潛齋」。父嘗誡山人曰：為人必期有用於世，山人誌之不忘。因思有用莫如濟世，濟世莫如良醫，遂研究軒岐之學。未冠即能瘳劇疾，不懸壺、不受扁，遇瀕危之證，人望而卻走者，必竭思以拯焉。人皆癡之。山人曰：我於世無所溺，而獨溺於不避嫌怨，以期愈疾，是尚有半點癡心耳，因自號半癡。凡人有所求，力能者必應之。其心交趙君菊齋知之深，謂山人有數善焉，其貧而業醫也，有所得必獻之母，不私之於妻，其弟性拙，闢一業造就之，俾成材得贍其室家，此古人子婦無私，兄弟同財之義。其待友也，久要不忘平生之言。能治生而無餘貲，曰：祖父家風如是，幼孤貧而不填溝壑幸矣。其守道輕利有如此。然則吾之所以重山人者，非驚其絕技之工，而欽其內行之篤也，君子先德行而後材藝，其成而下者，有成而上者為之主也。昔朱君震亨，以醫名一世而遊於白雲先生之門，《元史》且進而附於道學傳。吾願山人敦行不怠，將見學益懋而業益充，不以方技自域以媲美於丹溪，則固吾之所深望哉！</p>
<p><u>咸豐四年秋日秀水莊仲方書，時年七十有五</u></p>

<h1>題王氏醫案三編</h1>
<p>王君半癡，讀書好學，雅尚氣節而隱於醫者也。與余交有年，論事知本末，而洞中竅要。壬子秋，余病痢幾殆，君活之，今又三年矣。承以所刻初、二、三編醫案十三篇見示，讀之皆道其平生閱歷之艱苦，與病情之百出其變，以相嘗試，而君顧能以一心之靈明，疏瀹臟腑，使藥無不及病，病無不受治於藥，何醫之神哉！從古聖賢著書垂世，大抵出於不得已之苦心，而非僅以博一時之譽，求千載之名也。自《素問》、《難經》及漢、唐、宋、元、明以來，其可傳不朽之醫書、醫案藏之秘府，流傳世間者，不過數百十家，知其久而湮沒無聞者多矣。君之所著，其殆有不得已之苦心，而足以不朽於世也。與憶君制服中，有貴人延之治病，老耄多忌諱，欲君易服而進，君怫然去之，其守節不阿如此。余不知醫而能知君之為人，與其所用心，故樂為述之者。君即以此為是書之弁言，則有玷君書矣。惡乎可？</p>
<p><u>咸豐甲寅閏月仁和朱瑞菘生甫書</u></p>

<h1>卷一</h1>
<p>辛亥春，孟英治其令正，誕子三朝，忽渾身麻冷，尋即壯熱大渴，汗出不解，耳鳴眼淚，舌絳無津，苔色燥黃，腹痛拒按，不飢脘悶，惡露仍行，小溲極熱，脈則弦滑右甚。是胎前吸受風溫，兼挾痰食內滯，雖新產血去陰傷，見證較劇，然病不在營，亟宜撤熱以安營，不可破血以傷營，亦不可養陰而助病。遂以元參、白薇、梔子、知母、竹茹、旋覆、菖蒲、枳實、栝蔞為方，服之熱雖退而脈不減，仍用此方。越二日復麻冷而後熱，惟舌稍潤，苔較薄耳；再飲之，熱亦即退，並吐膠痰數碗，略進稀糜。間一日又發寒熱，或疑為瘧，或疑分娩不易，用力勞傷，恐是虛證，苟不及早溫補，蓐損堪虞，孟英一一頷之。復與前藥，熱果漸短，渴亦遞減。逾日寒熱猶來，亦不更方。至十一朝，始下黑燥矢而寒熱乃休，即能安穀。計服此藥已十大劑矣，始出方與戚䣊閱之，蓋恐眷屬之預聞涼解而有阻撓也，諸親莫不駴詫。然此證非孟英獨斷獨行，斷難成功。設泥新娩而通瘀，或以為瘧而溫散，或疑其虛而滋補，勢必驟變，即有瞻顧，亦必邪熱糾纏而延成蓐損。世人之病，往往弄假成真者，大率類此。</p>
<p>王瘦石令郎遲生，年未冠而體甚弱，夜夢中忽如魔如驚，肢搖目眩，雖多燃燈燭，總言黑暗，醒後納食如常，月一二發。乃父以為憂而商於孟英。脈之弦細而澀。曰：真陰不足，肝膽火炎所致耳。令服神犀丹一月，病遂不發。繼予西洋參、二地、二冬、三甲、黃連、阿膠、甘草、小麥、紅棗熬膏服之，竟刈其根。逾年完姻，癸丑已生子矣。</p>
<p>朱紺云令正，去年娩後，自乳而月事仍行，至仲冬乳少汛愆，咸以為妊也。既而右脅筋絆作疼，漸至肩背。醫投平肝藥，痛益甚，改用補劑，遂嗽痰帶血，人皆以為損矣，廣服溫補，其病日增。延至仲春，臥榻已匝月，群醫束手，始求診於孟英。面赤足冷，時時出汗，食減無眠，脈來右寸溢，關尺滑而微數，左手弦而帶滑，舌赤而潤，微有白苔，氣逆口渴，所吐之血淡紅而夾痰涎，大解溏，小溲短且熱。曰：沖為血海而隸於陽明，自乳而姅不爽期者，血本有餘也。因陽明經氣為痰所阻而不能流通輸布，致經斷乳少，痰血轇轕而為絡痹竄痛，醫者不為分導下行，病無出路，以致逆而上溢，再投補劑，氣愈窒塞，在山過顙，夫豈水之性哉！予葦莖湯加茜根、海螵蛸、旋覆、滑石、竹茹、海䖳為劑，和藕汁、童溺服，以肅肺通胃，導氣化痰而領血下行，覆杯即愈。旬余汛至，不勞培補，尋即受孕。此證不遇孟英，必至補死，而人亦但知其死於虛勞也，服藥可不慎耶！</p>
<p>韓貢甫於去冬偶患足瘡，瘍科治之，瘡愈而大便下血，漸至腰背疼脹。醫謂其虛，率投溫補，病日以劇。迨仲春寒熱時作，臥榻不起，諸醫束手，已治木矣。所親陳季竹囑延孟英圖之。脈弦緩而澀，苔黃溺赤，飲食不思，曰：此藥病也，良由氣機鬱滯，濕熱不清，補藥亂投，病漸入血，然猶自尋出路，奈醫者不知因病而下血，不治其病，徒澀其血，則氣機愈窒，營衛不通，寒熱不飢，固其宜也。而又疑為土敗陰虧，脾腎兩補，藥力愈峻，病勢愈危。若我視之，原非大病，肯服吾藥，不日可瘳。乃兄聰甫聞之，大為折服，以海䖳蘆菔湯煎蘆根、厚朴、絲瓜筋、通草、白薇、梔子、楝實、竹茹等藥投之。三劑而寒熱不作，胃漸知飢。旬余血止溺澄，各恙皆已，改服清養藥而康。</p>
<p>邵氏子於母殯發引之時，忽仆倒不省人事，亟請孟英視之，灌蘇合香丸而蘇。又屠氏女送父殯至厝所歸，即神氣瞀亂，如癲如瘋。速孟英治之，投以玉樞丹而瘳，此即謂所飛屍之候也。</p>
<p>殳某久患寒熱，精遺自汗，能食神疲，肌肉漸瘦，詣孟英診之。脈大微弦，予黃耆建中，加參、歸、龍、牡而瘥。</p>
<p>夏初孟英挈眷送太夫人葬於䖚亭山，越日歸，其令郎心官，患微熱音嗄，夜啼搐於搦。幼科謂其生未三月，即感外邪，又兼客忤，復停乳食，證極重也，疏方甚龐雜。孟英不以為然，乃用蚱蟬三枚煎湯飲之，蓋取其清熱息風，開聲音而止夜啼，一物而擅此數長，與證適相對也。果覆杯而愈。趙笛樓聞而嘆曰：用藥原不貴多而貴專，精思巧妙，抑何至於此極耶！然即古之奇方也，今人不能用，而孟英每以此法奏神效，錄此以見一斑。</p>
<p>錢希敏室坐草二日，即未分娩，忽患小便不通，勢甚亟，乃速孟英視之。脈至滑數，睛赤口乾，以為熱結膀胱，氣不化達。予車前子、滑石、血餘、栝蔞、知母、梔子、牛膝、紫菀、紫草為大劑投之，是通溺催生互用之法。服後溲仍不行，徑產一男，既而胞下，溺滿其中，始知兒出胞後，頻飲湯水，盡貯其中也。孟英曰：此證古所未聞，余雖初不料其如此，然非開泄導下，則兒不即娩，吉凶未可知矣！而《折肱漫錄》云：孕婦將產，如患小便不通，乃脾氣虛弱，不能勝胞，故胞下墜，壓塞膀胱使然，宜重劑白朮大健其脾，則胞舉而小便自通者，正與此證虛實相對，想其脈必有虛微之象也。</p>
<p>幼科王蔚文之甥女，向依舅氏。於三年前患熱病甚危，服多劑涼解始愈。第寢食雖如常人，而五心恆熱，黑苔不退，口苦而渴，畏食葷膻，頻餌甘涼之藥，經來色黑不紅。去年適吳氏，仍服涼藥，迄不能痊。今夏伊舅氏浼孟英診之，脈甚滑數。曰：此熱毒逗留陽明之絡，陷入衝脈，以沖隸陽明也。然久蘊深沉，尚不為大患者，以月事時下，猶有宣泄之路也。其頻年藥餌，寒之不寒者，以熱藏隧絡，湯劑不能搜剔也。令每日以豆腐皮包紫雪五分吞下。半月後，苔果退，渴漸減，改用元參、丹參、白薇、黃芩、青蒿煎湯，送服當歸龍薈丸。又半月經行色正，各恙皆蠲，尋即受孕焉。</p>
<p>朱生甫明經令郎仲和，於六月初旬患瘧，寒少熱多，嘔渴痞悶，逆孟英視之。曰：曩曾屢患此疾，證形大略相同，廣延名手治療，總難即愈，病輒經年，大受其累。聞君療瘧極神，不知能否於月內即痊？孟英曰：何限之寬耶！余非神於此，蓋寒暑燥濕風五氣之感於人也，重則為傷寒，輕則為瘧疾，今所患者，暑濕之瘧也。清其暑濕，旬日可瘥。前此之纏綿歲月而不能已者，必是不分五氣之源流，徒以見瘧治瘧，而用柴胡、薑、棗等風瘧之方，以致暑濕之邪滋蔓難圖耳。茲以清暑化濕湯奉贈，放膽服之，不可商於人，恐其於五種傷寒未能辨晰，而泥少陽正瘧之法以相爭也。仲和韙之。方用石膏、杏仁、半夏、厚朴、知母、竹葉。果八劑而安。既而梁甫之仲郎亦患瘧，孟英視曰：脈數舌絳，熱熾寒微，素質陰虧，暑邪為患也，更不可稍用瘧門套藥。予元參、青蒿、白薇、丹皮、黃菊、知母、花粉、銀花、竹葉、梔子。數帖而病減，乃去青蒿、丹皮，加生地、甘草，數服而瘳。</p>
<p>石北涯之大令媳患瘧，壯熱如焚，背微惡冷，汗多大渴，舌絳神煩，不食不眠，奄奄一息。亟迓孟英診之。脈細數而芤，知其陰分久虧，暑邪深入，遂予白虎湯去米，加西洋參、元參、犀角、竹葉、銀花、石斛為方，六劑而愈。人皆聞而異之，孟英曰：見病治病耳，何異之有？然與見瘧治瘧，而不治其所以瘧者，固有異焉。</p>
<p>韓正甫患瘧，越醫王某進以柴、桂、薑、樸等藥，勢乃劇。所親何新之知為藥誤，改用清解而不效，始乞診於孟英。脈數而右更滑大搏指，胸悶不堪，溲赤而渴，苔極垢膩，以涼膈散去芒硝、甘草，合雪羹加厚朴、杏仁、石膏、半夏、石菖蒲。投四帖，頻下宿垢，各恙皆減，改投輕清以滌餘邪，遂以向愈。其時渠兄貢甫之室，患瘧初起，肢麻且冷，口渴苔黃，眩瞀善嘔，心煩無寐。孟英診曰：此亦暑濕為瘧，不可溫散者。而越醫勸服朮、樸、薑、椒等藥，病家聞用溫化，恪信弗疑。二劑後，嘔渴愈甚，經不當期而至，四肢終日不溫，汗頻出而熱不休。再邀孟英診之，脈漸伏，曰：此熱深厥深之謂也，溫燥熱補，切弗再服。病家不信，另招張某、黃某會診。僉云陰暑，宜舍時從證，徑用薑、附、六君，加萸、桂、沉香等藥服之，肢愈冷，藥愈重。八劑後，血脫如崩而逝，即以春間為貢甫所治之棺殮焉，豈非數已早定耶！故雖一家之中，同時之病，而疑信不同，死生判別，況春間貢甫之病，治有成效，尚蹈此轍，無怪乎求未經目擊溫熱之害者，宜其以服涼解藥為可恥矣。</p>
<p>吾師趙菊齋先生令郎廉士之如君，新娩後微寒壯熱，小溲全無，惡露稍行，大便如痢，神煩善哭，大渴不眠，專科謂瘧痢交作，不能圖治，遂請孟英援手。脈來洪大滑數，曰：暑為患耳，不必治其瘧痢。以辰砂益元散加竹葉、銀花、丹皮、木通、元參、丹參、蓮杆，為大劑投之。三帖各恙皆平，第營陰素虧，即改甘涼濡養善後而愈。尚且乳汁全無，顯由血少，設非清解，又當何如耶？繼有表弟潘少梅喬梓同時患暑濕瘧，孟英咸與清化法，數劑皆愈。潘反生疑，謂病邪被涼遏伏，故瘧遽止，恐將來必有他患。孟英喟然曰：甚矣！醫之不可為也。世人患瘧，苦無良治，纏綿不愈，習見不疑。余之治瘧則不然，但專力治其所以病，故瘧疾雖與傷寒同有五種之別，而受病究比傷寒為輕。苟治之如法，無有不數劑而愈者。設誤藥以遏其邪之出路，則苔不能化，溲不能澄，神不能清，食不能進矣。子自思之，其真愈乎？抑假愈乎？潘始恍然大悟而首肯焉。</p>
<p>蔡西齋令正，腹有聚氣，時欲攻衝，醫者以為下部虛寒，進以溫補攝納，如桂、附、沉香、蘆巴、故紙、吳萸之類，愈服愈劇。酷暑之時，其發益橫，日厥數十次，醫皆望而卻走，乃迎孟英視之。脈數舌絳，面赤睛紅，溺如沸湯，渴同奔驥，少腹拒按，飢不能餐，曰：事急矣，緩劑恐無速效。令以豆腐皮包紫雪一錢，另用海䖳、鳧茈煎濃湯，俟冷吞下，取其芳香清散之性，直達病所也。服後腹如雷鳴，渾身大汗，小溲如注，宛似嬰兒墜地，腹中為之一空，其病已如失矣。繼有許梅生八令愛，患痛厥屢日，筋掣神迷，肢冷息微，脈伏唇紫，多藥無效，孟英亦以此藥灌之而蘇。</p>
<p>新秋汪子與室寡居患瘧，範某疊進小柴胡法，昏熱欲厥，腹痛汗淋，人皆危之。乃祖朱椿年太史逆孟英往視。兩尺空數，左關弦寸溢，右寸關滑駛。曰：此真陰素虧，腹有聚氣，吸受暑熱，最忌升提。與元參、西洋參、百合、竹葉、蓮子心、鱉甲、牡蠣、楝實、小麥、黃連等藥，兩劑而減。其族人謂瘧禁涼劑，而尺脈無根，苟非溫補，猝變可虞，母家不從，兩疑莫決，因請乩方服之。數日後勢復劇，苔漸黑。伊父朱次膺仍乞援於孟英。及診脈更數於前，因於前法中加犀角，兩帖而安。續以滋潛善其後而愈。</p>
<p>湯振甫患瘧於嘉興，醫知為暑，與清解法，轉為泄瀉，以為暑去而濕存，改用溫燥，瀉益甚而發熱不休，神氣昏瞀，因而束手，令其買棹旋杭。所親陳雪舫延孟英視之。苔黑麵紅，胸間拒按，便如膠漆，小溲全無，譫妄耳聾，不眠善笑，脈則洪數而芤。予黃連、黃柏、黃芩、銀花、石斛、梔子、楝實、知母、蔞仁、元參為方，綠豆煎清湯煮藥，調下神犀丹。四劑而胸次漸舒，稍啜稀粥，便色漸正，小溲亦通，乃去神犀、楝、柏，加生地、石膏。服三日熱淨神清，脈來柔緩，以甘涼養液十餘劑而瘳。大凡溫熱暑證，而大解溏泄者，正是熱邪下行，豈可誤投溫燥之藥，反助燎原之勢哉！同時一男子患感瀕危，浼孟英勘之。神昏舌黑，瘛瘲脈微，曰：遲矣！此犀角地黃證，惜無人用。病家云：陸某已屢用之矣。因索其方閱之，雖用犀角屑八分、生地五錢，緣病者便溏，配以枳殼炒焦白朮三錢。孟英喟然曰：此方從無如此加減法，況清涼不敵溫燥，是徒有犀角地黃之名耳。古人治病，必放出路，茲反截其去路，良由學無理路，遂致人無生路，良可哀也！（眉批：近日庸手每多患此，全不揣摹古人處方之義，複方之法，矛盾混施，深堪痛惡。又犀角與枳朮合方，可謂善做截搭題，一笑。炳章志）</p>
<p>朱次膺令正，姅後偶有微寒微熱，醫與解散藥一劑，遂神疲自汗，不食不眠，泛泛欲嘔，時時欲暈，肢麻且軟，氣欲上衝，舌赤微苔，溺頻脘痛，便溏不暢，目不欲張，心悸懶言，欲噫不達。孟英察其脈，虛弦軟數，曰：此營陰素虧，憂愁勞瘁之餘，血從下奪，八脈交虛，正所謂陽維為病苦寒熱，陰維為病苦心痛也，豈可以有寒熱而即從瘧治哉！授以龜板、鹿角霜、當歸、枸杞、白薇、紫石英、甘草、大棗、小麥、牡蠣，數劑而安。嗣與熟地、棗仁、當歸、杞子、麥冬、楝實、苡仁、黃連，壯水和肝而愈。</p>
<p>陳嫗年已七旬，患霍亂轉筋甚危，亟拉孟英救之，已目陷形消，肢冷音颯，脈伏無溺，口渴汗多，腹痛苔黃，自欲投井。令取西瓜汁先與恣飲，方用白虎加芩、連、黃柏、木瓜、威靈仙，略佐細辛分許為劑，覆杯即安。人皆疑用藥太涼，何以徑效？孟英曰：凡夏熱亢旱之年，入秋多有此病，豈非伏暑使然，況見證如是之熾烈乎？今秋余已治愈多人。詢其病前有無影響？或曰：五心煩熱者數日矣；或曰：別無所苦，惟睹物皆紅如火，已而病即陡發。夫端倪如此，更為伏暑之的據焉。</p>
<p>李華甫繼室，陡患霍亂而兼溺血如注，頭疼如劈，自汗息微，勢極危殆，迎孟英診視。脈極弦駛，是肝陽內熾，暑熱外侵。先用犀角、木通、滑石、梔子、竹茹、薏苡、銀花、茅根、菊葉為大劑，和入藕汁，送當歸龍薈丸，而霍亂即安，惟溺血雖減，而小溲時頭猶大痛，必使人緊抱其頭，重撳其巔，始可略耐。尚是風陽僭極，肺胃不清也。以葦莖湯去桃仁，加百合、白薇、元參、竹葉、西瓜翠衣、菊葉、蓮子心為方，和入童溺，仍吞龍薈丸，服旬日而愈。繼有祝氏婦患溺血五六年矣，醫皆作淋治。孟英診視脈弦數，苔黃口苦，頭疼溺熱，曰：是溺血也，法宜清肝，與久淋當滋補者迥殊。病者極為首肯，蓋其出路自知，而赧於細述，故醫者但知其為淋也。</p>
<p>陳楚珍仲媳，陡患霍亂，亟迓孟英治之。云：昨晚曾食冷魚，夜深病作，想由寒重致此，然臍間貼以回陽膏而不效奈何？及診脈右甚滑數，口渴苔黃，令按胸下，果堅硬而痛，曰：吐瀉雖多，宿食戀膈，非寒證也。回陽膏亟為揭去，以石菖蒲、枳實、蘇葉、黃連、半夏、竹茹、海䖳、蘆菔為方服之，一劑霍然。</p>
<p>同門相簡哉室患瘧，始則消散，繼則補中益氣，治之匝月，萎靡不堪，腹中似有聚氣，時欲上衝，氣促心搖，汗多眩暈，左脅震躍，渴飲無眠，骨瘦如豺，醫皆束手。吾師趙菊齋先生拉孟英往診。脈弦細以數，按之不鼓，因謂相曰：不可再以瘧字橫於胸中，則旬日可安。若見其久瘧而欲截之，且聞前醫謂令正初次患瘧為胎瘧，務令發透，不妨形瘦似鶴，此皆非余之所知也。夫一生不患瘧者有之矣，未聞先在胞中患過瘧疾而後生者也。若以初次患瘧為胎瘧，則他病之初患者，無不可以胎字冠之矣。何以不聞有胎痢、胎傷寒之名乎？因醫者治瘧而不知治其所以瘧，以致纏綿難愈者多，遂妄立胎瘧、鬼瘧等名以紿世俗而自文其淺陋，今昔相沿，賢者不免，故世人又有瘧疾不可服官料藥之戒，其實藥亦何嘗有官私之別耶？服藥不當，皆能增病，不服藥為中醫，不僅為瘧疾而言也。令正素稟陰虧，感邪不重，過投消散，營液重虛，再升其陽，本實欲撥，補中益氣，原是成方，與證不宜，於體不合，即為毒藥，我儀圖之。介類潛陽，重鎮理怯，甘酸化液，厚味滋陰，大劑而投，膚功可奏。相極感服，如法服之，果未浹旬，霍然病已。方以西洋參、熟地、牡蠣、紫石英、龜板、鱉甲、枸杞、當歸、冬蟲夏草、龍齒、阿膠、麥冬、龍眼、甘草、蒲桃干、紅棗、蓮子心、小麥等，出入互用也。</p>
<p>王雨蒼室，仲秋患滯下，治兩旬而罔效。何新之薦孟英往視。脈來弦數而滑，腹墜腰疼，溲少口乾，面紅煩躁，知飢能食，夜不成眠，而滯下赤白，從無糞色相兼，及至更衣，又極艱澀，略無痢色相雜，通補溫涼，服皆不應，稍投升舉，氣塞於胸，詢其月事，因痢愆期。孟英曰：此病不在腸中也，能食便堅，府氣並不窒滯，陰虛木旺，營液因而旁溢，緣衝任隸於陽明，平人氣血循經，各行其度，豈有衝任之血液，可從大腸而出之理乎？然天地雖有定位，山澤可以通氣，周身脈絡，原自貫穿，挹彼注茲，風陽所煽，猶之交腸證糞從前陰而出，舉一反三，病機可悟。何極歎服。爰以烏鰂、茜根、阿膠、鮑魚、蓯蓉、枸杞、柏子仁、黃柏、銀花、藕為劑。一服即減，不旬而瘥。續參熟地、當歸、龜板、鹿霜善後而愈。（鮑魚，淡乾魚也。諸魚皆可為之，然以石首魚為勝，俗謂白鯗是也。惟台州三伏時所幹者，味淡而香，色白尾圓，世稱松門臺鯗，可以入藥，無腥咸作吐之弊，其誤用蝮魚者，蓋失考也。）</p>
<p>洪張伯孝廉令弟蘇仲，鄉試後自以場作不愜於懷，怏怏數日，漸以發熱，醫作伏暑治，日形困頓，懶語音低，神情恍惚，稍閤眼輒以文有疵累如何中式云云。屢服牛黃、犀角等藥，竟無寸效。延孟英視之。時時出汗，不飢溺少，舌絳口乾，切脈虛軟以數，曰：此心火外浮也。昔賢惟王損庵論之獨詳。今人罕讀其書，每與溫暑逆傳證混淆施治。夫心，猶鏡也，彼熱邪內陷，襲入心包，則霧障塵蒙之象也，故可磨之使明，是為實證，今心陽過擾，火動神浮，乃銅質將熔之候也。法宜堅之使凝，是為虛證，良由陰分素虧，心營易耗，功名念切，慮落孫山，病屬內傷，似乎外感，大忌發表，更禁寒涼，又非東垣補中益氣之例，無怪醫者為之技窘也，而有藥治病，無藥移情。余有一言，可廣其意：文之不自愜於懷者，安知不中試官之意乎？且禍盈福謙，《易》之道也。嘗見自命不凡者，偏不易售，而自視欿然之士，恆於意外得之，即此一端，吾可必其中也。病者聞之，極為怡曠，服藥後各恙漸安，半月而愈。及榜發，果獲售。僉云：藥即神妙，而慧吐齒牙，竟成吉懺，仁言仁術，醫道通仙，可於孟英信之矣。其方則甘草、乾地黃、麥冬、紅棗、枸杞、鹽水炒黃連、紫石英、龜板、龍齒、珍珠也。迨季冬，兩孝廉將北上，其母夫人陡病恍惚，孟英往診曰：高年素多憂慮，而別離在即，神倏飛揚，縱有仙丹，亦難救藥。另邀他醫視之，皆云冬溫，須過十四日。及旬而沒，神氣不昏，始信孟英鏡質消熔，與塵濛霧障有殊也。</p>
<p>一嫗患面目肢體浮腫，便溏腹脹，腸鳴時痛，飲食日減。醫與理中、腎氣多劑，病日劇而束手矣，始丐孟英診焉。按脈弦細，沉之帶數，舌絳口乾，腫處赤痛，溺少而熱。乃陰虛肝熱，鬱火無從宣泄而成此病，火愈鬱則氣愈脹，氣愈脹則津愈枯，再服溫燥，如火益熱矣。授白頭翁湯加楝實、銀花、元參、丹皮、綠豆皮、梔子、冬瓜皮數劑。證減知飢，漸佐養血充津之品而愈。前此諸醫謂其山居久受濕蒸，且病起黴雨之時，而又便溏脈細，遂不察其兼證而群指為寒濕也。嗣有黃梅溪令堂，患證類此，而燥熱之藥服之更多，肌削津枯，脈無胃氣，邀孟英往勘，不遑救藥矣。</p>
<p>石北涯仲媳，胎前患瀉，季秋娩後，瀉如漏水，不分遍數，惡露不行，專科束手，咸慮其脫，亟孟英脈之。左弦而數，右大不空，口苦不飢，苔黃無溺，曰：非虛證也。參湯斷弗沾唇。予白頭翁合石頑伏龍肝湯丸治之。一劑知，三劑愈。</p>
<p>孫位申陡患喉偏左痛，下及乳旁，神疲欲臥，動即凜寒，速孟英視之。脈弦細以軟，苔薄白，口不渴，痰多且韌，溺赤不飢。是暑濕內伏而肝鬱不舒，且陰兮素虧復傷勞倦也。昔人之清暑益氣湯、藿香正氣丸，皆是成法，設誤投之，悉為戈戟。幸病家深信不疑，旁無掣肘。予射干、兜鈴、蔞殼、通草、滑石、竹茹、絲瓜絡、冬瓜子、枇杷葉、荷杆極輕清之藥一劑，即吐膠痰數碗，汗出周身，喉痛較松，凜寒亦罷，而身痛微熱，苔色轉黃。去射干、兜鈴，加梔子、豆卷服之。熱退痛減，再去滑石、豆卷，加石斛、沙參、野薔薇露投之，知飢啜粥，諸恙悉安。嗣用養陰充液而愈。</p>
<p>施玉林患感，治經多手，延將匝月，熱退未淨，苔膩垢黃，脘悶便溏，腰痛溺短，不飢不眠，氣短音低。醫者技窮，李華甫薦孟英視之。脈弦軟不調，而尺中虛細，是痰熱尚結於上焦，房勞素傷於下部，初治即從清解，並無背謬之方，奈不足以開有形之結，而滋久耗之陰，以致曠日相持，神氣日形消索也。以小陷胸湯加葦莖、竹茹、枇把葉、蘭葉、石斛、歸身、枸杞為方，加野薔薇露和服。一劑苔即化，三服而結糞下，胸乃舒，去蔞仁，加西洋參服四帖，苔淨能餐，諸恙冰釋。續投峻補肝腎而康。</p>
<p>儒醫何新之素患脘痛，每日必吐水數缶始舒暢，吐後啖麵食肉，如湯沃雪，第不能吃飯者十餘年矣。季秋痛吐益甚，飲食不進，平肝通絡，諸治不瘳，人極委頓。屈孟英視之。脈弦滑而軟，曰：中虛停飲也。以六君去甘草，加桂枝、厚朴、牽牛。服之積飲果下，痛亦漸休，吐止餐加，精神稍振，乃去牽、樸，加附子、白芍、薏仁與之遂愈，且能吃飯。病者謂既能吃飯，善後藥不肯多服。迨仲冬中旬出門診疾，驟與嚴寒，歸即痛作，連服荔香散數日而逝。蓋中氣素虛者，不可專用香散之藥也。</p>
<p>許蘭嶼令正，自夏間半產後患感證，雖已治愈，而腰腹左痛時作，多醫雜治，其痛日增，食減汛愆，臥床不起。黃某謂諸藥無功，惟有腎氣湯先固其根本。頻服之，痛益劇，且痛作之時則帶下如注。黃謂顯系真火無權，附、桂復為加重，遂至痛無停晷，呻吟欲絕。陳春湖囑迎孟英診之。左關尺弦數無倫，形消舌赤，徹夜無眠，是腎陰大虧，肝陽極熾，營液耗奪，八脈交虛之證也。用龜板、烏鰂、蓯蓉、枸杞、歸身、楝實、竹茹、白薇、黃柏、絲瓜絡、蒲桃干、藕為方。一劑知，數劑已。續加熟地，阿膠，調理月餘，經行而愈。</p>
<p>陳笠塘年近花甲，於初冬時偶從梯半一跌，遂發寒熱，痰多咳逆。沈辛甫作虛痰類中挾風溫治，熱退便行，而痰逆不休，且兼呃忒，改從清肅鎮攝，其呃日甚。因拉孟英商之。診脈左弦澀不調，右兼軟滑，察其呃，時有微甚而有欲呃不爽之象，詢其噴嚏，久不作矣。曰：此氣鬱於肝，欲升而不能升，痰阻於肺，欲降而不能降之證也。補攝之品，咸在禁例，以柴胡、枳殼、石菖蒲、紫蘇、薤白、蔞仁、竹茹、橘皮、白前為劑。覆杯而減，再劑而安。</p>
<p>翁笠漁素健啖，偶患發熱，錢某謂勞倦內傷，進補中益氣法，病日劇。張某診為停食感冒，用承氣法下之，連解黑矢，熱如故。與養陰藥多劑，熱仍不退，且從此不食不便，不渴不眠。僉云：攻補難施，已成壞證。所親孫詒堂迓孟英診之。脈形澀數不調，神呆靜臥，倦於語言，溺少苔黃，時時面赤，曰：無慮也，衛分之邪失於清解，補中益氣實衛錮邪，何異適燕而南其指乎？承氣通府，但能下其腸胃有形之物，不能散其衛分無形之邪，下後養陰，固是方法，然必表裡皆和者，方可投之。衛氣未清，徒增窒滯，樞機日鈍，此神識之所以如呆也；升降失司，此出入之所以皆廢也。延之雖久，病猶在衛，故可治也。予葦莖、蔥豉，加芩、桔、梔子、栝蔞。服一劑而遍身赤疹，神氣爽悟，乃去芩、桔、蔥，加雪羹、蘆菔、銀花、蘭葉。服數帖解醬矢二十餘次，苔退知飢，脈和而愈。</p>
<p>咸豐紀元冬十月，荊人忽患頭痛，偏左為甚，醫治日劇。延半月，痛及頸項頰車，始艱於步，繼艱於食，馴致舌強語蹇，目閉神蒙，呼之弗應，日夜沉踵如木偶焉。醫者察其舌黑，灌犀角、牛黃、紫雪之類，並無小效。扶乩求仙，藥亦類是。乃兄周雨禾云：此證非孟英先生不能救，吾當睡其門而求之。及先生來視，曰：苔雖黑而邊猶白潤，唇雖焦而齒色尚津，非熱證也。投藥如匙開鎖，數日霍然。緣識數語，並錄方案如下，用表再生之大德，而垂為後學之津梁云。仁和蔣寅謹識。</p>
<p>真陰素虧，兩番半產，兼以勞瘁，內風陡升。病起頭疼，左偏筋掣，旬日不語，二便不行，不食唇焦，苔黑邊白，胸腹柔軟，神氣不昏，脈至弦緩，並不洪數。此非熱邪內陷，乃陰虛痰滯機緘。宜予清宣，勿投寒膩，轉其關鍵，可許漸瘳。（十月二十五日初診。）</p>
<p>石菖蒲　麩炒枳實　仙製半夏　鹽水泡橘紅（各一錢）　鮮竹茹（四錢）　旋覆花　茯苓　當歸（各三錢）　陳膽星（八分）　鉤藤（五錢後下）　竹瀝一杯，生薑汁三小匙和服，蘇合香丸塗於心下，以舒氣鬱。</p>
<p>舌稍出齒，未能全伸，苔稍轉黃，小溲較暢，羞明頭痛，顯屬風升，咽膈不舒，痰凝氣阻，本虛標實，脈軟且弦，不可峻攻，法先開泄。（二十六日再診。）</p>
<p>前方去膽星、半夏、茯苓，加枸杞三錢，淡蓯蓉一錢，蔞仁五錢。</p>
<p>舌能出齒，小溲漸行，神識稍清，苔猶灰滯，頭疼似減，語未出聲，脈至虛弦，右兼微弱，本虛標實，難授峻攻，開養兼參，庶無他變。（二十七日三診。）</p>
<p>前方去枳實、旋覆、鉤藤、竹瀝、薑汁，加參鬚一錢，麥冬三錢，遠志七分，老蟬一對，淡海䖳一兩，鳧茈三個。</p>
<p>稍能出語，尚未有聲，舌色淡紅，苔猶灰膩，毫不作渴，非熱可知，脈軟以遲，不食不便，宜參溫煦，以豁凝痰。（二十八日四診。）</p>
<p>前方去雪羹，加酒炒黃連、肉桂心各五分。</p>
<p>苔漸化而舌漸出，語稍吐而尚無音，頭痛未蠲，略思粥食，胃氣漸動，肝火未平，久不更衣，脈仍弦軟，徐為疏瀹，法主溫通。（二十九日五診。）</p>
<p>前方去麥冬，加麻仁四錢，野薔薇露二兩和服。</p>
<p>連投溫養，神氣漸清，語亦有聲，頭猶左痛，苔退未淨，大解不行，左脈微遲，法當補血，血充風息，府氣自行。（十一月初一日六診。）</p>
<p>前方去遠志、菖蒲、老蟬，加天麻一錢，白芍二錢，桑椹三錢。</p>
<p>脈已漸起，尚未更衣，濁未下行，語猶錯亂，時或頭痛，寐則夢多，濡導下行，且為先授。（初二日七診。）</p>
<p>前方去天麻、桑椹，加牛膝三錢，生首烏四錢，柏子仁二錢。</p>
<p>雖已知飢，未得大解，肝無宣泄，時欲上衝，陰分久虧，豈容妄下。素傷思慮，肝鬱神虛，脈軟而遲，語言錯亂。法當養正，通鎮相參。（初三日八診。）</p>
<p>前方去白芍、首烏，加紫石英四錢，砂仁末炒熟地六錢，遠志七分，菖蒲五分。</p>
<p>大解已行，並不黑燥，肝猶未戢，乘胃脘疼，幸已加餐，可從鎮息。（初四日九診。）</p>
<p>參鬚　仙半夏（各一錢）　砂仁末炒熟地（八錢）　牡蠣（六錢）　紫石英（四錢）　歸身（三錢）　枸杞（二錢）　淡蓯蓉（一錢五分）　川楝肉（一錢）　酒炒黃連（三分）　桂心（五分，研調）　三帖</p>
<p>復得大解，苔退餐加，肝血久虧，筋無所養，頭疼脘痛，掣悸不安，柔養滋潛，內風自息。（初七日十診。）</p>
<p>前方去半夏、連、楝，加炙草、橘餅各一錢，烏梅肉八分，四帖。</p>
<p>神氣漸振，安穀耳鳴，脈弱口乾，面無華色，積虛未復，平補是投。（十一日十一診。）</p>
<p>前方去桂心、橘餅、烏梅，加龜板六錢，麥冬、蒲桃干各三錢。十帖後汛至體康而愈矣。</p>
<p>許自堂叔岳，年越古稀，忽頭面赤腫磊癢，漸及兩臂，煩燥不眠，飲食日減，外科治而勿效。孟英脈之弦洪疾駛，重按細軟，曰：高年氣血兩虧，鬱火內燔，不可從瘍科治。予黃耆、當歸、梔、芍、元參、生地、甘草、桑葉、菊花、丹皮、蒺藜、荊芥等出入為方，十餘劑而瘳。</p>
<p>顧仙槎年越古稀，仲冬偶患痰嗽，服表散藥數帖，氣喘如奔，欲臥而不能著枕，欲食而不能吸納，痰欲出而氣不能吐，便欲行而氣不能送，日夜危坐，躁汗時形，其婿家請孟英視之。按脈虛洪豁大而舌色干絳，溲赤點滴。證屬陰虧，忌投剛燥。與西洋參、熟地、蓯蓉、枸杞、蔞仁、麥冬、牛膝、茯苓、白芍、冬蟲夏草、青鉛為大劑，以豬肉煮清湯煎服。果韌痰漸活，堅矢下行，眠食亦安，遞以告愈。</p>
<p>傷風雖小恙，過表傷陰，與邪未淨而早投補劑，皆能延損，其高年下虛而誤服升提者，往往陽浮上戴，須以溫補救之。更有一種似傷風而實非傷風之證，乃根蒂空虛，腎水泛溢以成痰，浮陽沖逆而為嗽也，此自古未經道及者。今年四月十二日，孟英詣高石泉處謝吊，偶診其脈，左關尺忽見浮弦而空，因私囑其次郎雋生曰：尊翁之脈，頗有可慮，子其慎之。繼無所苦，方疑其言之未當，雖有小恙，亦未邀診。迨雋生登賢書，計偕有日，石泉忽患痰嗽，酷似傷風。馮某視之，與解散藥一帖，次日便瀉數行。黃某進分清藥一劑，第三日痰升氣逆，自覺唇腫不能啜飲。雋生始憶及孟英之言，速其拯治。脈如蛛絲過指，舌色晦黯無津，唇不略腫，其不能吸飲者，蓋由氣有出而無入耳，陰既脫於下，陽將脫於上，莫可救藥。翼日云亡。此十二月春前事也。聞霜降後許吉齋山長微患傷風，數日而逝。立春後許硯鄰亦然，皆同為似傷風證也。據孟英曰：兒子阿心，長成太速，心性太靈，余固知其不秀，秋分後小患傷風，適余酬應紛繁，不遑顧視，且聞無甚大病，亦不延兒科診視，不料三日後倏然而殤。或云：惜不早治。余謂襁褓而患根蒂之病，雖治愈亦何益哉！然則不必高年慮有此證，即小兒亦間有之矣。醫者其可以傷風而概視為小恙哉！《不居集》專論傷風誤補成勞，猶是一隅之見焉。</p>
<p>孫書三仲郎菊如之室，因兒女過多，不欲生產，懷妊屢服下胎藥不應。娩後三朝，陡發寒熱，兼以痛瀉，所下皆黑，而小溲不行。醫作瘀治，用回生丹等藥，已覺漸愈，惟寒熱間作不休，至八朝，或囑其邀孟英診視。神氣頗安靜，苔色黃膩不厚，胃略知飢，惟右寸關空大，有靜中一躍之形。診畢適前醫至，孟英謂右脈不佳，恐有驟變，彼按脈云：較昨已大和矣，必無害也。孟英唯唯而退，菊如送至門外，復囑以令正元氣大傷，莫投峻藥而別。繼聞是夜寒熱復作，腹仍大痛，更服回生丹，越日而亡。</p>
<p>書賈陳南橋患冬溫，數日後譫語不眠，所親任殿華竭力清解，熱退便行，忽然不語，因迓孟英視之。入房見其危坐於榻，面無病容，兩目開闔自如，呼之不聞不答，若無知識者。按脈左寸細數無倫，尺中微細如絲。乃腎陰素傷，心陽過擾，真水下竭，真火將灺，縱有神丹，不能接續。吾師趙菊齋先生暨許少卿皆在座，僉云：渠有八旬老父，一歲孤兒，盍忍契然？勉為設法，如犀角、紫雪之類以圖萬一，不亦可乎？孟英曰：此非痰滯於絡，亦非熱傳手少陰，適從高、孫兩家來，並此為三敗證，餘一日而遇之，皆無藥可用，不敢立方。平素不畏大證，君輩共知，稍有可為，毋勞諄囑也。既而果逝。</p>
<p>李健伯夫人因傷情志而患心跳，服藥數月，大解漸溏，氣逆不眠，面紅易汗，臥榻不起，勢已瀕危。其次婿余朗齋浼孟英診之，堅辭不治。其長婿瞿彝齋力懇設法，且云婦翁遊楚，須春節旋里，縱使不治，亦須妙藥稽延時日。孟英曰：是則可也。立案云：此本郁痰證，緣謀慮傷肝，營陰久耗，風陽獨熾，爍液成痰，痰因火動，跳躍如舂，若心為君主之官，苟一跳動，即無生理，焉能淹纏至此乎？但郁痰之病，人多不識，廣服溫補，陰液將枯，脈至右寸關雖滑，而別部虛弦軟數，指下無情，養液開痰，不過暫作緩兵之計，一交春令，更將何物以奉其生？莫謂贈言之不詳，姑順人情而予藥。方用西洋參、貝母、竹茹、麥冬、茯神、丹參、蓯蓉、薏苡、紫石英、蛤殼等。服之痰果漸吐，火降汗收，納穀能眠，胸次舒適，而舌色光絳，津液毫無。改授集靈膏法，扶至健伯歸。因謂其兩婿曰：我輩之心盡矣，春節後終虞痙厥之變也。已而果然。</p>
<p>朱仲和令正，向於娩後陡患痙厥，多醫以圖，廣服補劑，其人雖起，厥疾弗瘳，再產亦然，延已數載，安之若素。孟英聞之，嘗謂仲和曰：將來受孕，宜預藥以痊之。今冬懷妊，病發益頻，遂邀過診。脈甚弦滑，厥前必先作脹，更衣得瀉始舒，巔頂時疼，飲食不減。曰：肝風挾痰為患耳！仲和云：肝風則良是，痰則從來未吐。曰：惟其不吐，所以為患。沈堯封謂胎前病痰證居半，產時痰涎不下，諸病叢生，醫者未知此理，徒知產後為虛，痰處絡中，如何自吐，亦幸而痰在絡中，補之不為大害，不過錮之愈深耳，豈可以不見痰面，遂云無痰乎？爰授蠲飲六神湯合雪羹，加蔞仁、竹瀝，服三十劑病果漸愈。次年娩後安然，知病根已拔矣。</p>

<h1>卷二</h1>
<p>壬子春，沈峻揚年五十七歲，素患痰嗽，年前顧某與小青龍湯一劑，喘逆漸甚。汪某進腎氣湯一服，勢更瀕危。醫云治實治虛，不能捨此二法而皆不應，病真藥假，不可為矣。王月鉏囑迎孟英圖之。脈來虛弦軟滑，尺中小數，顴紅微汗，吸氣不能至腹，小便短數，大解甚艱，舌紅微有黃苔，而渴不多飲，胸中痞悶不舒。曰：根蒂虛於下，痰熱阻於上。小青龍治風寒挾飲之實喘，腎氣湯治下部水泛之虛喘，皆為仲景聖法。用之得當，如鼓應桴，用失其宜，亦同操刃。所以讀書須具隻眼，辨證尤要具隻眼也。此證下雖虛而肺不清肅，溫補反助其壅塞，上雖實而非寒飲，溫散徒耗其氣液。耗之於先，則虛氣益奔；壅之於後，則熱痰愈錮，其加病也，不亦宜乎？爰以杏仁、葦莖、紫菀、白前、蔞仁、竹瀝開氣行痰以治上實，而佐蓯蓉、胡桃仁以攝納下焦之虛陽。一劑知，再劑平。旋去紫菀、白前，加枸杞、麥冬、白石英，服三帖而便暢溺長，即能安穀。再去杏仁、竹瀝、葦莖，加熟地、當歸、薏苡、巴戟，填補而痊。</p>
<p>陳舜廷繼室，娩後略有咳嗽，微有寒熱，惡露不多，少腹似有聚瘕，時覺竄痛，腰疼不能反側，齒衄頻流，溺少口乾，仍不喜飲，舌色無液，善怒不眠，四肢牽掣不舒，易於出汗，逆孟英診之。脈至虛弦細弱，系素屬陰虧，新產血去之後，八脈皆空，陽不能潛，遊行於上，見證雖然錯雜，治當清息風陽，表散攻瘀，毫不可犯。爰以沙參、竹茹、白薇、丹參、絲瓜絡、石斛、梔子、小麥、甘草、紅棗、藕為方。服數帖嗽衄皆蠲，為去丹參、麥、棗、梔、斛，加歸身、熟地、枸杞、麥冬、楝實。服之各恙漸瘥，復因卒聞驚嚇之聲，心悸自汗，肢麻欲厥，乃定集靈膏加紫石英、牡蠣、龍齒，合甘麥大棗熬膏服之而康。繼有汪少洪令侄女適孫彬士者，產後患證與此相似，誤投溫散，發熱愈壯，但在上部。醫者猶不知為陰虛陽越，仍從感治，迨脈脫汗淋，始邀孟英視之。始知是虛陽外越，然已不能拯救。病者自賦絕命詞而逝。蓋凡屬虛脫之證，至死而神不昏也，醫者識之。</p>
<p>許蘭嶼令正，正月中旬，偶食蒸餅，即覺腹中攻痛而寒熱間作，以為瘧也，請孟英診之。脈弦軟而微數。曰：此不可以瘧論，緣營素虧，往歲愈後少於調補，仍當濡養奇經。蓋陽維為病亦能作寒熱，而八脈隸於肝腎，溫腎涼肝，病即霍然矣。授以蓯蓉、枸杞、當歸、白薇、青蒿、茯苓、竹茹、鱉甲、楝實、藕，數帖果愈。迨二月中旬，其病復作，舉家僉以為瘧，或云：必前次早補，留邪未去使然。而蘭嶼遠出，家無主議之人。孟英曰：前次愈之太易，我之罪也，不為善後，誰之過歟！如信我言，指日可瘳，第須多服培養之劑，保無後患。於是仍服前藥，亦數劑而安。續以集靈膏去牛膝，加羊藿、阿膠、當歸、黃柏、菟絲、蓯蓉、蒲桃干，熬膏服之，竟不再發。</p>
<p>張友三室，去春受孕後，忽夢見其亡妹，而妹之亡也，由於娩難。心惡之，因囑婢溫輩廣購墮胎藥餌服，卒無驗。冬間娩子後亦無恙，自疑多餌墮胎藥，元氣必傷，召朱某治之。述其故，朱即迎合其意，而斷為大虛之候。且云：苟不極早補救，恐延蓐損。病者聞而益懼，廣服補劑，漸至臥榻不起，多藥弗效。延至仲春，族人張鏡江為邀孟英視之。不飢不寐，時或氣升，面赤口乾，二便秘澀，痰多易汗，胸次如舂，咽有炙臠，畏明善怒，刻刻怕死，哭笑不常，脈至左部弦數，右手沉滑。曰：此郁痰證誤補致劇也，與上年李健伯令正之病情極相類。第彼已年衰而傷於憂思謀慮，是為虛郁；此年壯體堅，而成於驚疑惑懼，是為實郁。虛郁不為舒養而輒投溫補，則鬱者愈郁，而虛者愈虛；實郁不為通泄而誤施溫補，則鬱不能開，而反露虛象，所謂大實有羸狀也。醫者但云補藥日投，虛象日著，不知虛象日形，病機日錮，彼豈故釀其病，而使之深耶？亦是一片仁心，無如藥與病相僢而馳，蓋即好仁不好學之謂耳。余非好翻人案，恐不為此忠告，未必肯舍補藥而從余議也。病者聞之大悟，即授小陷胸合雪羹，加菖蒲、薤白、竹茹、知母、梔子、枳實、旋、赭出入為方，吞當歸龍薈丸。三劑後，蔞仁每帖用至八錢而大解始行，各恙乃減。半月後，心頭之舂杵始得全休。改用清肅濡養之法，調理匝月，汛至而痊。</p>
<p>蔣禮園三令弟拜楓，自去年瘧後，左脅聚氣不消，時時竄痛，疑為瘧母。孟英脈之弦軟且滑，曰：非瘧母也。予旋覆、海石、竹茹、絲瓜絡、絳屑、蔥白、蛤殼、鳧茈、海䖳為方，十餘劑而刈其根。</p>
<p>關寅伯贊府家某廚，患春溫，渠主人穎庵治之弗瘳，為速孟英診焉。脈來弦軟而寸數，舌絳苔黑而神昏，譫渴溺紅，胸腹拒按，是雙傳證也。夫順傳者宜通其胃，逆傳者宜清其營，治法不容紊也。然氣血流通，經絡貫串，邪之所湊，隨處可傳，其合其分，莫從界限，故臨證者宜審病機而施活變，弗執死法以困生人。此證屬雙傳，即當雙解。予涼膈散加犀角、菖蒲、元參，下之果愈。</p>
<p>何氏婦年未四旬，於庚戌冬患腹脹善嘔。或云寒凝氣滯，宜吸鴉片煙以溫運之，及煙癮既成而病如故。或云冷積也，莫妙於蒜罨，往夏遂以蒜杵如泥，遍塗脊骨，名曰水灸。灸後起疱痛潰，骨蒸減餐，其脹反加，經乃漸斷。招越醫莊某治之，云：勞損也。進以溫補，病乃日甚。復邀張鳳喈、包次橋、姚益齋諸人視之，僉云勞損已成，或補陰，或補陽，服至冬令，便瀉不飢，骨立形消，臥床不起。今春請神方於各乩壇，皆云不治。其夫因蒲艾田薦於許信臣學使，隨任廣東。家無主意，束手待斃而已。蒲聞而憐之，為屈孟英一診，以決危期之遲速，初無求愈之心也。切其脈弦細數，循其尺索刺粗，舌絳無津，飲而不食，兩腿腫痛，攣不能伸，痰多善怒，腹脹堅高，上膚黃粗，循之慼慼然，晝夜殿屎，愁容黎瘁，小溲短澀而如沸，大便日瀉十餘行，脈色相參，萬分棘手，惟目光炯炯，音朗神清，是精氣神之本實未撥，病雖造於極中之極，卻非虛損之末傳也。殆由木土相凌，為嘔為脹。洋菸提澀其氣，益令疏泄無權；蒜灸劫耗其陰，更使郁攸內爍；進以溫補，徒為壯火豎幟而涸其津；溉以滋填，反致運化無權而釀為瀉。固之澀之，煞費苦心，余謂賴有此瀉，尚堪消受許多補劑，縱臨證心粗，不詢其瀉出之熱而且膩，豈有腎虛脾敗之瀉，可以久不安穀而延之至今乎？夫人氣以成形耳，法天行健，本無一息之停，而性主疏泄者肝也，職司敷布者肺也，權衡出納者胃也，運化精微者脾也，咸以氣為用者也。肝氣不疏，則鬱而為火；肺氣不肅，則津結成痰；胃氣不通，則廢其容納；脾氣不達，則滯其樞機。一氣偶愆，即能成病，推諸外感，理亦相同。如酷暑嚴寒，人所共受，而有病有不病者，不盡關乎老小強弱也。以身中之氣有愆有不愆也，愆則邪留著而為病，不愆則氣默運而潛消。調其愆而使之不愆，治外感內傷諸病無餘蘊矣。今氣愆其道，津液不行，血無化源，人日枯瘁，率投補藥，更阻氣機，是不調其愆而反錮其疾也。疾日錮，腹愈脹，氣日愆，血愈枯。或以為乾血勞，或以為單腹脹，然汛斷於腹脹半年之後，是氣愆而致血無以化，非血病而成脹矣。既脹而馴致腿腫筋攣，不可謂之單脹矣。腫處裂有血紋，堅如鱗甲，顯為熱壅，不屬虛寒。借箸而籌，氣行則熱自泄。首重調愆，展以輕清，忌投剛燥，熱泄則液自生；佐以養血，須避滋膩，宜取流通。徐洄溪所謂病去則虛者亦生，病留則實者亦死。勿以藥太平淡，而疑其不足以去病也。艾田云：薛一瓢謂人須修到半個神仙身分，才可當得名醫二字，聆君妙論，不愧名醫。於是以沙參、竹茹、絲瓜絡、銀花、楝實、枇杷葉、冬瓜皮、黃柏、當歸、麥冬、枸杞、白芍出入為方，用水露煮葦莖、藕湯煎藥。服四劑，脈柔溲暢，瀉減餐加，乃參以西洋參、生地、黃連、花粉、薏苡、梔子之類。又六劑，舌色漸淡，腿腫漸消，服至匝月，忽然周身汗出溱溱，而腫脹皆退，舌亦津潤，皮膚漸脫，肌肉漸生，足亦能伸，便溺有節，並不另授峻補，兩月後可策杖而行矣。天時漸熱，服藥已久，以虎潛丸方熬為膏，用藕粉溲搗成丸，因丸劑皆藥之渣質，脾運殊艱。孟英凡治陰虛須滋補者，悉熬取其精華而以可為佐使者和之為丸，不但藥力較優，亦且餌之易化。如法服至長夏，健步經通，遂以康復。艾田云：此證人不能治，神亦不能治，君竟能肉白骨而生之，不僅半個神仙，殆人而仙者耶，抑仙而降為人者耶？（水露以甜水貯甑，蒸取其露，宜臨時蒸用，取其有升降之機，而養津液也，一名甑汗水，停久則失性矣。）</p>
<p>應氏婦年逾四旬，去年難產後，患左目無光，火升心悸，諸治不效。所親沈玉庭囑延孟英治之。予集靈膏合甘麥大棗湯，以峻滋肝腎之陰而愈。</p>
<p>一機匠久患寒熱，兼以痰嗽，形消肌削，人皆以勞怯治之，久而不愈，或囑其就診於孟英。脈弦緩而大，畏冷異常，動即氣逆，時欲出汗，暮熱從骨髓中出，痰色綠而且臭，便堅溺赤。曰：痰火為患耳，誤投補藥矣。以葦莖湯合雪羹，加白薇、花粉、旋覆、蛤殼。服二十劑體健加餐，其病如失。</p>
<p>諸暨張某者，有跛疾，業點翠，終日坐，而三四年來行數十武，即喘不能已，別無他苦，飲食如常。醫咸謂虛，頻補不應，詣孟英視之。曰：久坐不勞，氣行遲滯，痰凝久伏，故為此患。脈緩而滑，豈為虛象？授雪羹合小陷胸加竹茹、旋覆、海石、杏仁、半夏服之，果吐多痰而愈。</p>
<p>高雋生孝廉令堂患痰嗽，服傷風藥而喘汗欲脫。孟英予人參、茯苓、半夏、甘草、桂枝、白石英、牡蠣、胡桃仁、冬蟲夏草而瘳。以其年近五旬，衝任不足，雖素有飲邪，而悲哀勞瘁之餘，經事忽行，一投表散，氣即隨而上逆，故用藥如此。</p>
<p>孟夏許芷卿偶自按脈，左寸如無，招他醫診之，僉云心散。舉家驚懼，己亦皇皇，屈孟英視之。曰：勞心而兼痰火之郁，故脈伏耳。其火升面赤，不寐脅鳴，乃驚駭激動肝膽之陽，勃然升越，非本病也。予人參、黃連、菖蒲、紫石英、小麥、麥冬、蓮子心、紅棗、竹葉、甘草為方。一劑知，二劑已。</p>
<p>蔣禮園令堂年七十三歲，患瘧寒少熱多，時時自汗，咸慮其脫，議欲進補。孟英切脈洪數而滑，舌絳口乾，是暑為病也，與清解法數劑而痊。</p>
<p>許子厚令庶母，年未四旬，患晡熱發於上焦，心悸頭疼，腰痠腿軟，飢不欲食，暮則目如盲而無所睹，時或腹脹，自汗帶多。孟英脈之弦細而弱，氣短不足以息，舌赤無苔。曰：此營血大虧，不可作暑治也，授人參、熟地、棗仁、枸杞、歸身、麥冬、烏鰂骨、牡蠣、龜板、蒺藜、芍藥、杜仲、羊藿等藥數十劑，而康復如常。</p>
<p>吳曲城三令郎年未冠，患瘧，醫作食瘧、暑瘧、陰虛瘧治之，諸法不應，逆孟英視之。面色浮黃，便溏嘔惡，脘悶腹脹，溺少汗多。曰：濕瘧也。予枳、樸、苓、滑、蒼朮、半夏為方，送服香連丸而愈。繼用六君子善其後。或云：先生近輯《溫熱經緯》，力辨暑必兼濕之非。今年黴雨全無，夏至後酷熱亢旱，流金爍石，濕自何來？方嘆先生析理之精，胡以此證是濕邪，大劑燥藥果然獲效，又何說歟？孟英曰：暑即天上之日，有何濕氣？人因畏暑貪涼，瓜果過度，雖無雨濕相雜，濕亦自內而生，所以暑每易於挾濕，而昧者遂指濕熱相合之病為暑證，殆由未見天日，故不識暑之真面目也。一笑。</p>
<p>蘭溪吳氏婦，盛夏患惡阻。洪某進旋覆、薑、桂等藥，而壯熱神昏，腰疼欲墮，二便秘澀，嘔吐不休，脈數而洪。予梔、芩、連、楝、竹茹、知母、銀花、綠豆為劑，佐以蘇葉二分，冬瓜煮湯煎藥。下咽即安，數服而愈。</p>
<p>張六橋年逾七旬，素不耐病，新秋患瘧，托孟英籌速愈之方。曰：易事耳。第寒少熱多，苔黃渴汗，溺赤便秘，體厚多痰，杳不知飢，極其畏熱，其年雖耄，其證宜清。以大劑知、芩、連、滑、花粉、竹茹、厚朴、石膏，加雪羹投之。數劑而痊，康強如昔。</p>
<p>吳奏云三令郎甫八齡，患感，幼科治以清解弗瘥，迓孟英視之。脘悶便秘。曰：氣機未展耳。投小陷胸，加紫菀、通草、杏仁。服三劑，先戰汗而解，尋更衣以愈。當戰解之時，家人不知，詫為將脫，欲煎參湯灌之。幸孟英適至，阻其勿服。既而其婦弟陳某之病略相似，亦用此法而痊。</p>
<p>朱生甫明經以花甲之年，偶在嘉興患滯下甚劇，急買棹旋杭，集諸醫議治。許敬齋宗景岳，謂痢必本於寒濕，主幹薑、桂、樸以溫化；洪石生尚東垣，聞其向患脫肛，主清暑益氣以舉陷。或云素善飲而有鼻衄，血熱陰虧，既受暑邪，宜玉女法以兩清；或云痢必有積，不必問其餘，宜大黃、歸、枳以盪滌。聚議紛紜，乃郎仲和等不知所從而質諸孟英。診畢，遂問此證何如？當用何藥？曰：此滯下證之最難治者也。痢初作即不能起於榻，而五色並見，噤口不食，非暑熱之深受，一何至於此極耶？滿面紅光，鼻赤尤甚，肺熱素熾，暑火爍金，故水失化源，溺少而澀，此不可以溫燥再劫其津也；肢掣無眠，合目囈語，時時煩躁，視物不明，畏熱喜風，口乾易汗，陽氣浮越，暑漸侵營，故苔雖膩黃，尖紅根黑，此不可以升散再擾其陽也；胸次不舒，飲水欲噎，欲噫不達，欲嚏不能，莖縮易嗔，時有惡夢，肝多怫鬱，痰阻清陽，故升降不調，中樞窒滯，此不可以滋澀再礙其機也。又非尋常之痢，病僅在府，可以推蕩以為功也；參之於脈，右寸關緩滑而寸較抑，左則弦洪而數兼上溢，故知其氣鬱痰凝，暑火深受，風陽內動，久耗心營，所幸兩尺皆平，身無大熱，如能治之中肯，儘可無虞。仲和出諸方云：然則此皆不可服乎？曰：咸治痢之法也。惜尊翁之證，不能合於此藥耳！若尊翁之恙，見證雖太錯雜，而責重在於肝經，肝屬厥陰，風火內寄，故此經之痢，宜柔宜涼，忌剛忌溫，以肝為角木，龍性難馴，變化飛騰，病機莫測，但使風陽靖息，庶幾險浪不興，縱有別脈未清，自可徐為疏瀹也。仲和聞而心折，力懇圖維。於是以仲聖白頭翁湯為主方，加石菖蒲、川貝母、竹茹開痰舒郁以調其氣，犀角、銀花、竹葉涼血息風以清其心，冬瓜、蔗梢、鳧茈、海䖳煮湯煎藥，以清胃熱而生津，化府氣而濯垢，吞送滋腎丸三十粒，引肝火迅速下行。服後諸恙遞減，糞色漸見，痰果頻吐，神氣亦安。既而粥食日增，夜眠恬適，始去犀角、雪羹、滋腎丸，加西洋參、阿膠以復其津液。迨痢淨而時有血隨糞下，為加鴉膽仁，以龍眼肉包而吞之果止。惟腸鳴氣泄，稀糞隨流，肛墜難收，脈亦弦軟。知其病去而正虛也，改用三奇散而安。繼予氣血交培善後，仍佐蠲痰舒郁，康健較勝曩時，蓋並其積年宿疾而去之也。故生甫謝孟英詩五排結句云：不因施上藥，那得挽沉疴。磈磊從今盡，先生殆緩和。</p>
<p>趙菊齋外孫華穎官，易患痰嗽，幼科治之，漸至發熱口渴便瀉，汗多煩哭，以為將成慢驚。參入溫補，日以加劇。孟英視之曰：肺熱也。投葦莖湯加滑石、黃芩、枇杷葉、桑葉、地骨皮。旬日而愈。</p>
<p>顧媼因比鄰失火，幾焚其廬，驚嚇之餘，不能起榻，脅痛偏右，便秘神瞀，身面發黃。醫云濕熱，治之罔效。乞診孟英，脈澀而弦，按之甚軟。曰：此因驚恐氣結不行所致。予沙參、桑葉、梔子、絲瓜絡、冬瓜子、葦莖、枇杷葉、旋覆、蔥須、竹茹，數劑而痊。</p>
<p>金願谷中翰患便秘，廣服潤劑，糞黑而堅如彈丸，必旬余始一更衣，極其艱澀。孟英診脈遲軟，舌潤不渴，小溲甚多，乃久患痹證，坐臥不行，健運迂遲。法宜補氣，俾液濡布，所謂中氣足，則便溺如常矣，非涼潤藥所能治也。予大劑參、朮、橘、半，加旋覆花以旋轉中樞，雞膍胵以宣通大腸之氣，雞不溺而糞易下也。更仿《金匱》谷實之例，佐血餘、蓯蓉，俾為流通府氣之先導。如法服之，數日即解，且較暢潤，至三十劑其病若失。</p>
<p>沈氏子年甫髫，仲秋患感兩旬，屢醫弗愈，求孟英視之。神昏譫語，面慘無眠，舌絳耳聾，頻吐白沫，脈數溺少，渴飲不飢，熱已甚微，汗亦頻出，牛黃、紫雪，數進無功。以元參、丹參、白薇、知母、葦莖、竹茹、旋覆、冬瓜子、蛤殼、石斛、枇杷葉、竹葉、花粉、蓮子心、西瓜翠衣等出入為方，數服而愈。蓋邪雖傳營，氣分未廓，故雖善飲水而敷布無權，不能下行為溺，但能旁溢為汗，上行為沫，良由初起不知為暑，治以表散風寒之藥。及至傳營，又不知營衛兩解之法，徒以直走膻中之藥，漫圖僥倖，何異鸚鵡學人言，而不知所以言耶！</p>
<p>沙沛生鹺尹患身熱頭重，腹脹便溏，脘悶不飢，口流涎沫，腿痠溺少，脈軟神疲。孟英診曰：內濕素盛，兼吸客邪，不可謂值此亢旱之年，竟無氾濫之病也。予檳、樸、蔻、苓、豬、澤、橘、半、防己、秦艽之劑。小溲雖行，其口中涎水流出尤多，病遂以愈。既而其子龍官初次患瘧，耳聾舌絳，溺赤痰多，脈數而弦，寒微熱甚。幼科云：胎瘧不能即愈。孟英曰：此齊東野語也。予滑石、竹茹、知母、花粉、苓、翹、橘、半、青蒿、鱉甲，八帖而痊。</p>
<p>溫敬齋令正，九月間忽然四肢麻木，頭暈汗淋，尋不能言，目垂遺溺，渾身膚冷，急請孟英視之。脈微弱如無，乃虛風內動，陽浮欲脫也。先令煮水以待藥，與東洋參、黃耆、龍、牡、桂枝、甘草、茯苓、木瓜、附子九味煎數沸，隨陸續灌之。未終劑，人漸蘇，蓋恐稍緩則藥不能追也。</p>
<p>朱飭庵孝廉，年未三旬，自都中奔喪回杭，患滯下赤白，腹不甚痛，而奔迫異常，能食溺長，醫治罔效。孟英脈之，虛弦而軟，曰：此不可以常痢視也。以三奇散加歸、芎，送香連丸而愈。</p>
<p>王子庵令堂，年已古稀，患便秘不舒，時欲弩掙，汗出頭暈。醫謂其肝氣素滯，輒與麻仁丸等藥，其勢孔亟。伊婿陳載陶屈孟英診焉。脈虛弦而弱，是虛風秘結。予人參、蓯蓉、當歸、柏子仁、冬蟲夏草、白芍、枸杞、楝實、胡桃仁數帖而痊。次年秋患脘痞疼脹，醫者率進溫補香燥之藥，馴致形消舌絳，氣結津枯，始延孟英視之，不及救矣。</p>
<p>屠小蘇令正，自乳經停，泛泛欲吐，或疑為妊。所親高嘯琴進以養陰之藥，漸致時有微熱，脘悶不飢，氣逆嗽痰，臥難著枕，二便秘澀，耳閉汗頻。孟英脈之虛軟而澀。曰：根蒂素虧，經停乳少，血之不足；泛泛欲嘔，肝乘於胃，率投滋膩，窒滯不行；略受風邪，無從解散，氣機痹塞，九竅不和。先以蔥、豉、通草、射干、兜鈴、杏仁、蔞殼、枇杷葉、白蔻開上，兩劑熱退，次用小陷胸合雪羹，加竹茹、旋覆、白前、紫菀宣中。三劑便行安穀。繼予冬蟲夏草、蓯蓉、當歸、枸杞、麥冬、紫石英、楝實、熟地、牛膝滋下而瘳。又顧氏子患發熱獨熾於頭，醫進發散，汗出不解，胸次痞悶，便滯溺艱，舌絳口乾，飲不下膈，不眠頭痛，脈數而弦。孟英曰：體質素虛，熱薄於肺，痰結於胸，治宜輕解。羌、防、柴、葛，惡可妄投？膏粱與藜藿有殊，暑熱與風寒迥異，治上焦如羽，展氣化宜輕。以通草、葦莖、冬瓜子、絲瓜絡、紫菀、枇杷葉、射干、兜鈴、白前九味，天泉水急火煎服，覆杯即已。蓋席豐履厚之家，密室深居，風寒濕三氣所不能侵，惟暑燥之邪易於吸受，誤用溫散，最易劫津。若田野農夫，櫛風沐雨，肌堅氣實，當用辛溫。設進輕清，焉能濟事？故醫者須量體以裁衣，弗膠柱而鼓瑟也。（炳按：汪謝城云：覆杯即已下宜刪去，以言過當也。若然則藜藿人溫證暑證，亦可用辛溫矣。此評甚是。）</p>
<p>孫氏子患腿痠寢汗，溺赤脘疼，食減口乾，或疑為損。孟英按脈緩大，苔色微黃，乃勞力火升，內兼濕熱也。以沙參、竹茹、甘草梢、小麥、石斛、楝實、絲瓜絡、綠萼梅、建蘭葉、帶露桑葉為方，送服松石豬肚丸，旬日而愈。嗣有任氏女校書患帶，諸藥罔瘳。孟英視曰：脈軟數而長，非虛也，宜豬肚丸清其濕火。服匝月，病良已。</p>
<p>沈嫗素患肝氣，初冬便瀉，醫藥勿瘥。所親吳馥齋迓孟英診之。脈至弦梗，舌赤無津，杳不知飢，脅腹時脹，乃風陽內熾，津液耗傷，香燥忌投，法宜濡潤，否將陰涸，毋畏甘涼。予甘草、地黃、麥冬、阿膠、枸杞、薏苡、楝實、葳蕤、烏梅為劑，牡蠣一斤，甘瀾水煮濃湯煎藥，和入蔗漿服之。數日而瘳，已能安穀，忽然舌不能伸，心搖語蹇，不眠頭暈，面赤火升。仍速請孟英視之。脈梗雖和，極其弦細，是陰液未復，木火失涵。以前方去薏、楝、烏梅，加人參、龍眼肉，少佐黃連授之而愈。</p>
<p>羅氏婦先患痰嗽，氣逆礙眠，後兼瘧痢並作。醫者僉云無法，浼人乞診於孟英。脈見滑數，口渴苔黃，不飢脘悶，溺似沸湯。曰：無恐也，雖見三證，其實一病，蓋肺胃大腸，一氣流通，暑伏肺經，始為痰嗽，失於清解，氣逆上奔，溫納妄投，胃樞塞滯，郁遏成瘧，渴飲汗多，熱甚寒微，病情畢露，溫化再誤，轉入大腸，赤白稠黏，無非熱迫，不必見證治證，但治其暑，則源清流自潔矣。以葦莖湯加滑石、黃芩、竹茹、石膏、厚朴授之。不旬日而三證悉瘳。</p>
<p>沙沛生鹺尹令正，胎前痰嗽，娩後尤甚。孟英視之，面赤能餐，汗多畏熱，脈滑而數，嘔渴苔黃，惡露流通，血分無病，乃燥火伏於肺胃。法宜清肅上焦，不可謂產後禁涼潤也。劑以沙參、茹、滑、知、斛、冬、甘、枇杷葉、冬瓜子、葦莖、梨皮、桑葉、蛤殼，出入互用，旬日而痊。</p>
<p>錢氏婦患嗽數月，多醫莫治，漸至廢寢忘餐，凜寒乍熱，經停形瘦，心悸耳鳴，滋補填陰，轉兼便泄。孟英視脈虛弦緩大，而氣短懶言，臥榻不支，動即自汗。曰：固虛也，然非滋陰藥所宜。予參、耆、龍、牡、桂、苓、甘、芍、冬蟲夏草、飴糖，大劑服旬日而安。繼去龍、牡，加歸、杞服二十劑，汛至而康。病者欲常服補藥，孟英止之曰：病痊體健，何以藥為？吾先慈嘗云，人如欹器，虛則欹，中則正，滿則覆。世之過服補劑，致招盈滿之災者比比焉，可不鑑哉！</p>
<p>高魯川三令愛，為外科姚仰余令郎杏村之室，年三十五歲，自去年仲夏患痢，白少赤多，晝夜一二十行，或有溏糞相雜，醫治日殆，延至今冬，經斷半年，脅腹聚塊，時時上竄，宛如蟲行，癢至於咽，食壓始下，腹脹腿腫，唇白口糜，舌絳無津，耳鳴巔痛，略有干嗆，渴飲汗頻，熱淚常流，溺短而熱，善嗔多夢，暮熱無眠，心似懸旌，屢發昏暈，痢門與蟲門方藥，遍試無功，舍病而補法備施，亦無寸效，僉云不能過冬至。棺衾咸備，無生望矣。杏村之僚婿蔣禮園、黃上水交薦孟英圖之。脈至左弦數上溢，尺中滑大，按之細弱，右手軟滑，略兼弦數。診畢謂杏村曰：令正幸能安穀，得以久延，然下痢五百日，喉齶辣燥，陰液固已耗傷，而尺膚淖澤，脂膏未剝，其中蓋別有故焉。腹中之塊，痢前曾有乎？痢後始起乎？杏村云：起於痢前。然則前此曾有產育乎？云：去年二月間分娩艱難，胞已糜碎，生而未育。曰：是矣，此實似痢而非痢也。夫胞衣糜碎，必有收拾未盡而遺留於腹中者，惡露雖行，此物未去，沾濡血氣，結塊漸成，阻礙衝任之常道。而衝任二脈，皆隸陽明，月事既不能循度以時下，遂另闢捷徑，旁灌於陽明，致赤白之物悉由穀道而出，宛如痢疾。據云：姅期向在中旬，故每月此時，痢必加甚，仍與月汛相符，雖改途易轍而行，尚是應去之血，所以痢至年半，尺膚猶不至枯瘁也。且其痢由腰脊痠楚而下，顯非腸胃之本病。緣病起夏月，正痢疾流行之候，病者自云患痢，醫者何暇他求，通之、澀之、舉之、填之，無非腸胃之藥，不但未切於病情，抑且更廣其病機。試思腸胃之痢，必脂膏削盡而經枯，則焉能納食如常而充肌膚耶？然非謂不必治其痢也。欲治痢，必治其所以痢，則當治衝任；治衝任，必治衝任之所以病，則當去其遺留之物。遺留之物去，則衝任二脈遵道而行，月事如期，痢亦自愈。第物留已將兩載，既能上行求食，諒已成形。前醫指為蟲病，而無面白唇紅之證據者，蟲必飲食挾濕熱之氣所化，此但為本身血氣所凝，似是而非，判分霄壤。況此物早已脫蒂，不過應去而未去，欲出而不能。開通衝任二脈，其物自下，不比腸覃石瘕，有牢不可拔之勢，必用毒藥以攻之者。爰以烏鰂、鮑魚、茜根、龜板、鱉甲、血餘、車前子、茺蔚子、藕汁為初方。眾見方案，僉云：舍垂危之痢而不顧，乃遠推將及兩年之產後，而指為未經人道之怪證，不但迂遠穿鑿，未免立異矜奇。疑不敢從。蔣禮園令弟敬堂云：徐洄溪批葉案，以十年九年之病，仍標產後為大不然。謂產後過百日而起病者，不作產後看。舉世皆以為定評。余讀孟英所輯葉案瑕瑜，謂案中所云十年九年者，乃病從產後起，延至於今而屢發也，否則脹瀉浮腫，何必遠推多載之前而隸於產後耶？更有新產之後，其病不因產育所致者，雖在百日之內，亦不可謂之產後病，僅可云病於產後耳。此證痢雖起於百日之外，塊早形於兩月之前，因流溯源，正是治病必求其本也。今人之病，何必古書盡載？此醫之所以不易為，而辨證之所以為最難也。聽其議論，具有根柢，並非捕風捉影之談，況藥極平和，又非毒劑，似與久病元虛無礙，他醫既皆束手，盍從其計求生，具囑仰余勿改其方。於是，群議始息。服兩劑後，病者忽覺糞從前陰而出，大駴，急視之，乃血裹一物，頭大尾小，形如魚鰾而有口，剖之甚韌，血滿其中。眾始詫為神治，而病者汗暈不支。孟英即與人參、龍骨、牡蠣、茯苓、麥冬、甘草、小麥、紅棗為方。服數劑神氣安爽，始知臍下之塊已落，而左脅下者猶存，然上竄之勢，向亦臍下為甚，竄勢既減，痢亦漸稀，改用白頭翁湯加阿膠、甘草、小麥、紅棗，吞仲景烏梅丸，和肝脾之相賊，養營液而息風。旬日後頭目漸清，腫消脹減。復以初方合《金匱》旋覆花湯，服四劑，又下一物，較前差小而脅塊乃消，竄癢悉罷，痢亦徑止，惟溺熱便溏，口猶辣渴，心搖易汗，腿軟無眠，煩躁火升，脈形虛豁。乃陰火內熾，脾受木乘，營液久傷，浮陽不斂也，授歸耆建中湯去姜，加黃柏、烏梅、龍骨、牡蠣、小麥。以羊肉湯煎，送下交泰丸一錢。脈證雖覺漸和，惟久病元虛，屢生枝節。孟英堅持此法，不過隨機略為進退而已。而旁觀者議論紛紜，因囑邀王篪伯會診，篪伯亦主是法，浮言乃息。服至匝月，喉間漸生甘液而各恙遞平。又匝月，甘液布及舌尖而滿口皆潤。次年二月中旬，經至肌充而愈。適吳楚之警，遂輟藥。迨仲冬患瘡，誤用藥水洗之，致毒內陷而殞。惜哉！（炳按：交泰丸系黃連、瑤桂心研末為丸。——</p>
<p>施秋濤室，仲冬分娩，因前歲初產艱難，穩婆妄施毒手，臠而出之，自懷憂懼，產周時不下，舉家皇皇，穩婆以為奇貨可居，力贊仍喚原手相助，竟仍前例，索謝而去。孟英聞之惻然。謂其乃尊趙菊齋曰：難產自古有之，莊公寤生，見於《左傳》。故先生如達，不坼不副，詩人以為異徵。然先生難而後生易，理之常也，晚嫁者尤可必焉。但亦有晚嫁而初產不難者；非晚嫁而初產雖易，繼產反難者；或頻產皆易，間有一次甚難者；有一生所產皆易，一生所產皆難者。此或由稟賦之不齊，或由人事之所召，未可以一例論也。諺云：十個孩兒十樣生，至哉言乎！若得兒身順下，縱稽時日，不必驚惶，安心靜俟可耳。會稽施圃生茂才誕時，其母產十三日而始下，母子皆安。世俗不知此理，稍覺不易，先自慌張，凶惡穩婆故為恫嚇，使人不敢不從其計，要取重價，操刃臠生，索謝去後，產母隨以告殞者有之。奈貿貿者不知墮彼術中，尚誇其手段之高，忍心害理，慘莫慘於此矣！設果胎不能下，自有因證調治諸法，即胎死腹中，亦有可下之藥，自古方書，未聞有臠割之刑加諸投生之嬰兒者。惟有一種騾形女子，交骨如環，不能開坼，名鎖子骨，能受孕而不能產，如懷妊，必以娩難亡，此乃異稟，千萬人中不得其一二者。如尋常可開之交骨，斷無不能娩之理也。菊齋聞而浩嘆。產後患干嗆不飢，少眠善夢，口乾溺數，繼發寒熱。孟英診曰：幸體氣堅實，不過因驚懼而感冬溫耳。與白薇、梔子、丹參、竹茹、茯苓、青黛、蛤殼、枇杷葉、豆豉、蔥白，投匕而安。數日後，寒熱又作，仍投前方，覆杯即愈。繼去蔥、豉，加百合、石斛、知母，服之各恙皆痊。孟英又曰：騾形為五不可孕之一，方書誤作螺者，非也。蓋驢與馬交則生騾，純牝無牡，其交骨如環無端，不能孕育，體純陰，性極馴，而善走勝於驢馬，然亦馬之屬也，故《易》曰：坤為馬，行地無疆，利牝馬之貞，皆取象於此也。人賦此形而不能安其貞，則厄於娩矣。秋濤聞之，方疑其室之騾形也，迨癸丑冬，產一子竟無恙，始悔前此為穩婆所愚也。</p>
<p>顧子襄體素豐，患頤腫，醫投升散之藥，神昏氣逆，鼻衄大流。伊舅氏朱生甫明經為延孟英視之。面赤音低，不眠脘悶，大渴溺赤，脈滑數而洪。曰：冬溫也。其苔色白而不燥者，內有伏痰耳；便瀉如水者，肺熱下大腸耳；豈可以為寒乎？予犀角、元參、旋覆、梔、芩、射干、竹茹、通草、銀花、石菖蒲服之。衄止神清，瀉亦不作。去犀、射，加花粉、貝母。服二劑，解堅矢，吐膠痰，知飢熱退而愈。繼有朱氏子右頸腫突，外科圍藥甚痛，身熱不飢。孟英診曰：冬溫耳，非患癰也。敷藥亟令洗淨，另以芙蓉葉杵爛塗之，投以清解肺衛藥，數日而痊。</p>
<p>蔣氏婦年逾四旬，患一奇證，痰必自少腹突沖而上，其勢甚猛，其堅如石，其熱如火，故突然而沖之際，周身為之震撼，日夜二十餘次，每次止須一咯，即脫然出口，四肢漸形牽掣，口極渴而溺如沸湯，食減少眠，形日消瘦。諸醫皆知為痰火病，而治無寸效。孟英視之曰：證治非謬，而藥不勝病者，殆積熱深錮，必從前多餌溫補所釀也。其夫云：誠然，向來本無病，因無生育，紫河車已服過數十具，他藥稱是。曰：愚哉！藥之治病，猶兵之戡亂也，所謂用藥如用兵，無病而藥，是黷武也，既無生育，何不納妾？凡服溫補之藥以求子者，其藥毒鍾於小兒，生子多不育，況食人之胞乎？無論忍心害理，已屬不仁。即偶然得子，多患異疾，或頑蠢狠戾而無人心，亦何益哉！昨聞沙沛生令妹患痘服此，致鼻穿而痘仍不救。設非胞衣之毒，奚至此乎？故余臨證三十年，從不用之，縱病家要用，亦必剖陳利害以勸止之。或令以羊腎代之，溫養有情，且無穢毒，功較勝焉。令正服過數十具而從未生育，毒氣毫無出路，欲種子者翻種病矣，豈尋常清涼之劑所能愈哉！考古惟紫雪能搜剔久蘊深藏之毒火，試餌之或有驗也。爰用紫草、銀花、元參、土茯苓、甘草、綠豆、海䖳、鳧茈為方，和入竹瀝，另以豆腐皮包吞紫雪五分。服之果效，匝月而瘳。</p>
<p>陸渭川令媳患感，適遇姅期，醫治數日，經止而昏狂陡作，改從熱入血室治，轉為痙厥不省人事，所親沈雨階為延孟英診之。脈弦羍而虛滑，氣逆面青，牙關不開，遺溺便秘，令按胸次，堅鞕如柈。此冬溫尚在氣分，如果熱入血室，何至晝亦昏迷？良由素多怫鬱，氣滯痰凝，用柴胡則肝氣愈升，攻瘀血則誅伐無過。予小陷胸合蠲飲六神湯加竹瀝，調服牛黃至寶丹一顆，外以蘇合丸塗於心下，痰即湧出，胸次漸柔，厥醒能言，脈較有力。次日仍用前方，調萬氏清心丸一粒，果下痰矢，漸啜稀糜，改授肅清，數日而愈。續有顧某陡患昏狂，苔黃便秘，臥則身挺，汗出五心。醫云熱入膻中，宜透斑疹，治之加劇。孟英診脈弦緩不鼓，身無大熱，小溲清長，的非外感，乃心虛膽怯，疑慮憂愁，情志不怡，郁痰堵竅也。以蠲飲六神湯合雪羹加竹葉、蓮子心、竹瀝。服二劑狂止，自言腹脹而頭偏左痛，仍以前方吞當歸龍薈丸，大解始下。改用清火養心，化痰舒郁之法而愈。</p>
<p>孟英治其令弟季傑之簉室，懷孕患嗽，嗽則鼻衄如噴，憎寒乍熱，口渴頭疼，右脈洪數，授白虎湯合蔥豉，投匕而瘳。或云時已隆冬，何以徑投白虎？孟英曰：脈證如是，當用是劑，況今年自夏徂冬，亢旱不雨，寒雖外束，伏熱蘊隆，此即麻杏甘膏之變法耳。</p>
<p>朱介眉年逾花甲，患感於季冬，初服溫散，苔色遂黑，即投白虎，胸脅大疼，面赤不眠。口乾氣逆，音低神憊，溺赤便溏。醫者僉云不治。孟英切脈虛數而弦，是真陰素虧，痰多氣鬱，今年自夏徂冬，亢旱已極，所伏之邪，無非燥熱，稍一溫散，火即燎原。一見黑苔，即投白虎，而不知其樞機窒滯，氣道未舒，且陰液耗傷，亦非白虎湯僅能滌熱者之任也。予沙參、葦莖、竹茹、冬瓜子、絲瓜絡展氣開痰，蓯蓉、當歸、紫石英、冬蟲夏草潛陽鎮逆。覆杯即減，旬日而瘥。</p>
<p>石北涯之大令媳，忽患多言不寐，面赤火升，汗出心搖，倉皇欲死。孟英察脈虛弦小數，乃賦質陰虧，將交春令，虛陽浮動，有鳶飛魚躍之虞。亟以人參、龍齒、牡蠣、石英、甘草、百合、小麥、竹葉、紅棗、青鹽水炒黃連為劑，引以雞子黃，投匕即安。續加熟地、阿膠滋填而愈。</p>
<p>蔣敬堂令正懷妊九月，忽患胎上撞心，面浮痰塞，四肢搐搦，神氣昏瞀，亟延孟英視之。予紫蘇、菖蒲、半夏、枳實、茯苓、橘皮、羚羊、鉤藤、旋覆、赭石為劑。服後即舉一男，母子皆安而愈。同時聞幼科王蔚文令媳，妊已臨月，患證亦爾，治不如法，不產而亡。</p>
<p>乙巳秋拙荊年三十二歲，忽患四肢痠痛，早晚尤甚，初謂其平素勞瘁所致，已而日劇。延醫治之，以為痛風，服藥不效。單方針灸，無不遍試，至冬令漸難行走。次年春，山陰俞某作虛風治，用參、朮、熟地、桂、附等藥。（文）恐太熱，減去附子服十餘帖，遂手足拘攣，不能屈伸，日夜號痛，如受炮烙，眠食皆廢，痰韌如石，皮膚燥裂，鱗起如松。至夏更加兩腋腫核，陰戶瘡糜，痛不可支。業師顧聽泉先生，荊人之舅氏也，求其援手。云：兩脈弦數，舌絳無津，況汛斷半年，破䐃脫肉。經言九侯雖調，猶屬不治，危殆若此，不能過夏至矣。因請孟英先生救之。先生來視曰：營分素虧，陰液盡爍，幸病在經絡，猶可圖治，第恐成廢耳！授以西洋參、元參、生地、天冬、麥冬、知母、花粉、銀花、甘草、葳蕤、石斛、絲瓜絡等藥，出入為劑。用竹瀝、梨、蔗諸汁和服。酷暑之時，則加生石膏、西瓜汁。文遵方恪服，計燒瀝之竹四五十竿，榨漿之蔗七八十枝，搗汁之梨五六十斤，絞汁之瓜三四十枚。果痛漸以減，瘡漸以平，膚漸以蛻，食漸以增。仍溉以涼潤生津，兼佐熟地、枸杞、歸身之類。服至兩載，月事乃行。又半年，肌肉漸充。手足亦能舒展，聞者無不驚異。今則形神如昔，步履雖未能如常，已可坐轎出門。是證也，不遇先生，必致夭枉。既銘諸心，復錄之以為後人鑑。</p>
<p><u>錢塘張文輝月卿謹識</u></p>
<p>病人久臥床蓐，則腰臀磨穿，《內經》謂之破䐃，俗呼㾬瘡是也，最為難治。孟英令人於初起時，即用廣東羊皮金貼之甚效。然此等佳案，前未收輯，今張君聞有三編之輯，附錄於此，益信遺珠不少也。</p>
<p><u>弟王士華仲韶校字</u></p>

<h1>卷三</h1>
<p>癸丑孟春，陳舜廷自寧波旋杭，迓孟英診視。云去冬患痰嗽，彼處醫家初以疏散，繼則建中，諸藥備嘗，日漸羸困，左脅躍躍跳動，胸次癢如蟲行，舌素無苔，食不甘味，嗽甚則汗，夜不安眠，痰色清稀，便溏溲短，恐成肺痿，惟君圖之。孟英診曰：病始肺傷於燥，治節不行，體質素屬陰虧，風陽內煽，爍其津液，故右脈軟滑而虛。溫以辛甘，致左脈浮弦且數，雖非肺痿，而上下交虛。治先保液息風，續宜壯水，可奏膚功。徒化痰理嗽，見病治病，有何益乎？爰以沙參、葦莖、冬瓜子、絲瓜茹、竹茹肅肺氣，甘草、石斛、燕窩生津液，冬蟲夏草、石英、牡蠣息風陽。投劑即嗽減能眠。旬日後去冬子、石斛，加歸身、麥冬、茯苓。服數帖兩脈較和，餐加溺暢。再去牡蠣、甘草、絲瓜絡，加熟地、鹽橘紅。十餘劑各恙皆安，以高麗參易沙參，善後而康。</p>
<p>馬翠庭鹺尹令寵，患兩腿疼腫，便溏不渴，醫進蒼朮、木瓜、萆薢、獨活等藥，其病日甚，不食不眠，筋掣欲厥。孟英切其脈弦滑而數，詢其溺極熱如沸。曰：非寒濕也，肝火為患耳。便瀉是土受木乘，不渴乃內有伏痰。予梔、柏、芩、蓮、茹、楝、通草、半夏、蠶砂、絲瓜絡為方。一劑知，二劑已。</p>
<p>許康侯令堂，初夏患坐臥不安，飢不能食，食則滯膈，欲噫不宣，善恐畏煩，少眠形瘦，便艱溲短，多藥莫瘳。孟英按脈弦細而滑，乃七情怫鬱，五火爍痰，誤認為虛，妄投補藥，氣機窒塞，升降失常，面赤痰黃，宜先清展。方用旋覆、菖蒲、紫菀、白前、竹茹、茯苓、黃連、半夏、枇杷葉、蘭葉。不旬而眠食皆安，為去前四味，加沙參、歸身、紫石英、麥冬調養而痊。</p>
<p>康爾九令正患汛愆，而致左脅疼脹，口苦吞酸，不飢不寐，溲熱便難，時時欲哭，乃尊馬翠庭鹺尹延孟英診之。左甚弦數，以雪羹湯吞龍薈丸，經行如墨而瘳。繼因思鄉念切，久斷家書，心若懸旌，似無把握，火升面赤，汗出肢涼，乃父皇皇，亟邀孟英視之。左寸關弦數，尺中如無，乃陰虛木火上亢也。以元參、黃連、牡蠣、麥冬、生地、甘草、女貞、旱蓮、百合、石英、小麥、紅棗為劑，引以青鹽一分，覆杯而愈。</p>
<p>錢某患感，醫治旬日，漸致神昏瘛瘲，大便泄瀉。以其體素弱而吸洋菸也，胥束手矣，始丐診於孟英。左脈弦軟，右則虛大而滑，汗出不解，目瞀耳聾，囈語溲紅，時時呃逆，心下拒按，舌不能伸，斡齒視苔，滿黃微燥。曰：溫邪雖陷，氣分未清，裡氣雖虛，伏痰內盛，幸瀉數次，邪勢稍衰。先予人參、牡蠣、犀角、元參、竹葉、竹茹、銀花、石斛、枇杷葉、川貝母、蓮子心為劑，調服萬氏清心丸一顆。目明熱退，呃減舌伸，臂顯赤斑，夜亦能寐。詰朝去參、蠣、牛黃丸，加竹瀝、桑枝、絲瓜絡。痰果大吐，瘛瘲即平，再去犀、元、桑枝，加紫菀、海䖳。呃止胸舒，苔色漸退，稀糜漸進，耳聽略聰，再去竹葉、蓮心、紫菀，加沙參、花粉，服五帖而下堅矢。嗣投調養而安。</p>
<p>李華甫年六十三歲，仲夏患惡寒，氣逆不飢，即請孟英視之。脈甚虛軟，舌本紫而滑澤無苔，溲頻數而濃赤不禁，陰莖已縮，兩手紫黯。乃心陽過擾，熱伏厥陰之象，不可謂無熱惡寒發於陰，而認為真傷寒也。雖平昔耽飲嗜茶，設投燥劑，則液之涸也不須旋踵。爰以蔥、豉、茹、芩、梔、薇、桑葉、通草輕解其外。至夜始發熱，再劑微汗而解，獨腹熱如烙，舌漸干而口渴，改予西洋參、元參、生地、麥冬、甘草、花粉、梔、楝、蓯、茹和青蔗汁。服二帖下堅矢而舌愈干，且讝語不寐，於前方加竹葉、木通，服之舌根始見黃苔，知伏熱漸化，再一劑苔轉黑。原方調以神犀丹一丸，即戰解而舌始潤，稍啜稀糜，猶妄言無寐，乃心陰久耗，陽不能收也，仍以前方加童溲和服兩帖，大解復行，神氣漸謐，諸恙尋愈。此證設犯溫升，即難救藥，幸初發得遇名手，始克扶危持顛，旬日而愈。故為相者治天下，當因民之所利而利之，不必務虛名而復井田肉刑也；為醫者治人，亦當因病之所利而利之，不可守成法而泥麻黃、桂枝也。</p>
<p>王炳華之媳，屢次墮胎，人漸尪羸，月事亂行，其色甚淡，醫謂虛也。大投補劑，其瘦日甚，食少帶多，遂加桂、附，五心如烙，面浮咳逆，痰壅礙眠，大渴善嗔，醫皆束手，始請孟英脈之。兩尺虛軟，左寸關弦數，右兼浮滑，乃陰虛火炎也。然下焦之陰雖虛，而痰火實於上焦，古人治內傷，於虛處求實，治外感於實處求虛，乃用藥之矩矱也。爰以沙參、竹茹、冬瓜子、蘆筍、枇杷葉、冬蟲夏草、石英、紫菀、蓯蓉、旋覆為方。兩劑即能寐，五六劑嗽止餐加，乃去紫菀、旋覆、沙參，加西洋參、歸身、黃柏。服五劑，熱減帶稀，口和能食，再去蘆筍、冬瓜子、枇杷葉，加熟地、枸杞、烏鰂骨服之而愈。又吳氏婦陡患咳嗽，痰不甚多，不能著枕者旬日矣，神極委頓，孟英察脈虛數，授枸杞、蓯蓉、歸身、石英、龜板、牡蠣、冬蟲夏草、麥冬、牛膝、胡桃肉之劑，覆杯而病若失。</p>
<p>吳籙園患發熱嘔吐，莖縮腹痛，孟英診脈弦軟而數，苔色膩黃。曰：熱伏厥陰也。與楝實、通草、梔、蓮、茹、斛、絲瓜絡。一劑知，數劑愈。</p>
<p>朱生甫明經令郎萊云之室，娩後月餘患間瘧，孟英脈之虛數而弦，頭疼腹痛，苔色甚薄，乳少善嘔，乃營虛而邪客少陽也。令郎斷乳，庶免蓐勞。劑以柴、芩、茹、半、桑、楝、延胡、枇杷葉。二帖嘔止腹不痛，去楝實、延胡，加當歸。四帖瘧罷能餐，而頭尚痛，再加杞菊。服三劑，頭不疼，改用甘麥大棗，加歸、芍、杞、菊、竹茹、蒲桃干、藕調之，經行而愈。</p>
<p>陳氏婦季夏患瘧，寒微熱熾，舌紅不渴而思啖瓜果，不飢不食，二便皆通，夜不成眠，汗多神憊。孟英審脈虛軟微數，雖屬暑瘧，邪不甚重，惟營陰久虧，不須重劑誅罰無辜。以西洋參、知母、芩、茹、白薇、麥冬、西瓜翠衣為劑，果三啜而瘳。</p>
<p>胡氏婦患瘧寒少熱多，自云陰分素虧，醫進清解涼營之藥多劑，其熱愈熾；改用養陰法，嘔惡煩躁，自欲投井。或謂今年中伏之時，風雨連朝，人須挾纊，有何暑熱？而多服涼劑，以致瘧來發躁，必屬虛火。擬以薑、附治之。病者云：吾舌已脫液，陰將涸矣！堅不肯服而請決於孟英。脈至滑數，右寸關更甚。視其舌，淡白而光滑，儼似無苔，其實有苔如膜，滿包於舌也。證屬陰虛吸暑，兼以痰阻清陽，初治失於開泄耳！授菖、茹、連、半、旋、茯、蘇、枳、枇杷葉為小劑，取其輕清開上也，兩服舌即露紅，嘔止受谷，瘧熱亦減。又二服瘧竟罷。孟英曰：余亦初不料其若是之神也。隨以清養善後而安。</p>
<p>高某以陰虛之體而患瘧於暑月，久而不愈，馮、黃二醫僉用補養矣，而杳不知飢，欲噫不暢，便溺艱澀，渴喜沸湯。孟英診脈緩澀不調，按其胸次堅而不柔，舌上滿布干黃薄苔，曰：氣機鬱結，痰滯未行，如何遽投補劑？予菖、貝、旋、蔞、蘇、桔、連、半、紫菀、枇杷葉為方，四帖而愈。始從調養以善其後。嗣有王雨蒼仲郎之證治，與此略同。</p>
<p>謝氏婦素體孱弱，亦屬陰虛暑瘧久延，舌色鮮赤，醫投養血，竟不見功。孟英視之曰：舌雖無苔，色絳而澤，此非脫液，乃液為痰隔而不能上布，故不生苔；如果脫液，詎能如是之鮮澤哉？蓋痰雖因火灼成，究是水液所結，其潮氣上騰，舌自不燥。與茹、貝、菖、蔞、芩、桔、蛤粉、枇杷葉等藥。痰果漸吐，三日後熱減知飢，白苔漸布，改用養陰清熱而瘳。孟英嘗曰：臨證必先辨其病屬何因，繼必察其體性何似，更當審其有無宿恙，然後權其先後之宜，才可用藥，自然手到病除，無枘鑿之不入矣。又曰：熱證有見白潤苔者，亦痰盛於中，潮氣上蒸也。此不可遽施涼潤，先宜開以辛通，而昧者但知苔色白潤為寒證之的據，遂不詳勘其兼證，而妄投溫散燥補以誤事者多矣。附錄於此，學者識之。</p>
<p>沈峻揚令妹年逾五旬，體素瘦弱，不能寐者數夜，證遂瀕危，乃兄延孟英視之。目張不能闔，淚則常流，口開不能閉，舌不能伸，語難出聲，苔黃不渴，飲不下咽，足冷不溫，筋瘛而疼，胸膈板悶，溲少便秘，身硬不柔，脈則弦細軟澀，重按如無，或疑中暑，或慮虛脫。孟英曰：身不發熱，神又不昏，非中暑也；二便艱澀，咽膈阻悶，非脫證也。殆由情志鬱結，怒木直升，痰亦隨之，堵塞華蓋，故治節不行，脈道不利也。誤進補藥，其死可必。但宜宣肺，氣行自愈。方用紫菀、白前、兜鈴、射干、菖蒲、枇杷葉、絲瓜絡、白豆蔻。果一劑知，四劑瘳。</p>
<p>胡某素患耳鳴，且吸鴉片，時服補藥，漸至食減痰多，舌上起灰黃厚膩之苔者三年矣。多醫莫愈。孟英脈之弦細軟滑。曰：真陰虧於下，痰熱阻於上耳。以西洋參、菖蒲、遠志、麥冬、竹茹、蓯蓉、歸身、石英、牡蠣、冬蟲夏草，少加黃連服之。不半月痰少餐加，舌苔盡退，三年之病，遂以霍然。</p>
<p>陳德齋令侄緝庵患瘧，黃某連投小柴胡湯，漸至熱勢加長，撫之烙手，時當盛暑，帳幔不啟而不得汗，神情瞀亂，大渴苔黃，脘悶欲嘔，便秘溺赤。孟英按脈軟滑而數，身面膚赤。乃暑濕挾痰轇轕於中，氣機阻痹。宜予清宣劑。以菖、茹、蔞、枳、知、滑、芩、連、花粉、枇杷葉、竹葉、西瓜翠。服後痰即漸吐，異日瘧來有汗。病者臥於藤榻，身穿西洋布汗衫短褲，其汗但出於衣不遮蔽之處。孟英適至，診畢，令裸其體，汗即遍出，熱亦尋退。方不加減，四劑瘧斷更衣，胸舒安穀，另以輕清肅滌餘邪而愈。（世人不論天時，不究病因，但知蓋覆以取汗者，宜於此案探討其未發之義，不可草草讀過也。）</p>
<p>許子芍年甫冠，平素飲食不節，氣滯多痰，偶患時瘧，溺赤苔黃，脈至滑數，脘悶不飢，孟英投清解藥一劑。其門下醫者黃某云：瘧疾以小柴胡湯為主方，乃舍之不用，而以竹茹大寒之品遏伏其邪，菖蒲散心之藥耗損其神，此病雖輕，而藥已誤，恐有變證。病家聞而惑之。次日即服其方，病勢日進。輒云菖蒲散心以致神氣不安，竹茹寒滯以致邪不能解。小柴胡方內加入桂枝、首烏等藥，狂熱尤甚。黃復薦招任某會診，交口以為開手一藥之誤，恐延虛脫，徑用生脈六味，加龍、牡、杜仲、續斷、阿膠之類服之。半月後病者目不能張，畏聞聲響，語出無音，身挺而重，不能轉側，略一動搖，則手足震掉如擂鼓然，房中几案皆為撼簸。黃、任二醫僉云汗脫在即。舉家皇皇，其堂兄蘭嶼夤夜拉孟英往視，脈甚弦疾。曰：病藥也，其何能脫？疏方以天竹黃、竹茹、竹葉、竹瀝並用，病者聞而咋舌，謂一味竹茹釀成大病，一方四竹能不殺人？仍服任某補劑，以冀留人而再治病也。又旬日瘧徑不作，至時惟腦後之枕骨與兩足跟著席，身則反張如弓，如是數刻，則昏亂狂走，醫者諉為祟病，符醮水陸，大費不貲，而病如故。既而黃某疽發於背，任亦託病不出。所親陳雪舫力舉孟英胸無畦畛，不妨再懇其挽救。病家計窮，始為諄請。脈仍弦疾而左尤堅搏，且善啖而腹脹如石矣。孟英曰：幸而便通，猶可無慮，以旋覆、赭石、菖蒲、膽星、枳實、黃連、青黛、整塊硃砂兩許合四竹為方，調服蘇合香丸。一劑而反張、狂譫皆減。病者云：我今日如夢初醒，而精神自覺惘惘。次日仍用原方，調以玉樞丹。得瀉四次，腹脹遂減，反張狂譫悉蠲，惟至時尚有氣逆肢掣耳。乃去玉樞丹，令吞送當歸龍薈丸。大便日瀉，胸腹漸柔。又服五劑，逆掣皆平，改用沙參、丹參、石英、茯神、白薇、梔子、絲瓜絡、貝母、海䖳、鳧茈等清理善後而愈。孟冬已完姻矣。嗣其僕陳福，陡患身面如金，便血吐血，求孟英視之。身熱苔垢，而肢冷手紫，脈至如絲。曰：此急黃證而兼血溢於上下，即所謂瓜瓤瘟也，藥不及救。越日果亡。（黃某，敦愛局瘍醫也。年逾六旬，忽患背疽，聞服參、茸等藥七日而亡。夫背疽之敗，何至如是之速？必是暑熱為患，而誤從溫托耳。楊素園大令批《仁術志》云：硃砂不宜入煎劑，當生研少許調服。愚謂硃砂但忌火煉，不忌湯煎，且整塊而煎，僅取其氣，較研服其質者尤無弊也，余磵花《印雪軒隨筆》云：刑幕鄭春潭患秋感發狂，譫語喃喃，若與人爭辨，謂有二鬼向其索命，乃索筆作遺囑，處分身後事，如是者數晝夜。山右武君視之曰：非鬼也，病由邪熱未清，遽服補劑耳。如法治之，浹旬而起。設非武君不又為談因果者添一公案哉。子芍之證，亦猶是耳。）</p>
<p>邱小敏初發熱，即肢瘛腹痛，臥則昏譫，坐起即清，膈間痞悶，飲亦礙下，舌色紫腫，苔厚膩黃，身面赤色，齦腫而疼。醫見其病情錯雜，初以為斑疹之候，進透發之劑，渾身冷汗，又慮內閉外脫，灌以紫雪，病如故。又疑熱入血室，用桃仁、茺蔚、丹皮、藕汁、童溲等藥，又恐其虛，用西洋參、龜板等味。遂言蹇呃逆，正在彷徨，適病者登圊更衣，忽然昏暈，謂欲虛脫，欲進生脈散以固元氣。舉家無措，所親姜柳湖請孟英往診之。脈洪弦而兼滑數，病屬暑濕，惟肝氣素郁，肺胃多痰，是以升降失常，邪氣壅塞，臥即神昏者，乃濕熱上熏也，故坐起則爽，彼熱入血室，乃晝明瞭而夜譫語，非晝臥即昏，夜坐即明也。治宜清展氣機，病必化瘧而解。設以溫散表其汗，則邪熾而津劫；若以滋補固其元，則邪閉而正脫，誤用血分藥，則引邪入營；徒用寒潤法，則遏邪不化。先以雪羹、梔、楝、旋、枳、連、蔞、芩、半、菖、茹、元參、銀花、絲瓜絡等出入為方，吞當歸龍薈丸。果轉為瘧，各恙遞減，連下黑矢，半月後便色始正而瘧亦止，胃醒安穀而瘳。停藥數日，偶因嗔怒，其瘧復作，寒少熱多，睛赤齦疼，汗多足冷，孟英曰：餘熱逗留，風陽內煽也。視其苔灰黃夾黑，因謂其弟桂山曰：但看黑苔退淨，則邪自清矣。仍予元參、白薇、知、芩、梔、茹、銀花、木通、絲瓜絡、菊葉等，送龍薈丸。瘧即遞減，逾旬苔淨，眠食如常而起矣。</p>
<p>陳雪舫令郎小舫，年甫冠，人極清癯，偶患瘧，醫與柴、葛、羌、防數帖，遂不飢不寐，胸膈阻塞，湯水不能下咽，壯熱神疲，汗出不解，二便秘澀，舌絳齦疼，齒縫血流，凝結於齶。孟英持其脈細而數，有下厥上竭之勢，而肺未肅清，宜用輕劑。以葦莖、冬瓜子、紫菀、元參、通草、枇杷葉、旋覆、滑石、蔞皮、西瓜翠衣為方。數啜而安。嗣用養陰，西洋參不過一錢，生地不過三錢，緣其稟賦極弱，不但攻散難堪，即滋培稍重，亦痞悶而不能運也。耆、術之類，更難略試，故量體裁衣，乃用藥之首務也。</p>
<p>傅與三令正，年已花甲，患瘧服藥，浹旬而斷，乃夜不能眠者數日，忽然吐瀉交作，肢冷自汗，渴喜熱湯，神氣張皇而有譫語。張某謂元虛，而所用之藥乃桂、芍、萸、連、葛、藿、烏藥、木香之類。病家欲投溫補，迎孟英質之。脈來浮弦軟數，尺中甚弱，舌絳無液，稍有黃苔，乃真陰素虧，久傷謀慮，吸受暑熱，化瘧未清，擾及中州，則為吐瀉。詢所吐，果有酸甘苦辣之味，瀉亦色醬而熱如火，豈非伏熱之的據耶？然邪已自尋出路，故腹無痛苦，況汗出如淋，不獨用香燥疏散之藥為耗液，即溫補如理中、四逆，亦無非助熱而重劫其津也。乃定沙參、龍、牡、朱染茯神、黑豆皮、薏苡、木瓜、小麥、竹針、鮮蓮子之方。一劑則吐瀉皆止，得寐神清，且略知飢，稍能收谷。次日復診，病者云：依舌上脫液者三十年矣，是以最怕熱藥，奈群醫謂瘧宜溫化，以致愈服愈殆，設非先生眼光如炬，恐昨日已登鬼錄矣。尋以充液柔肝而愈。</p>
<p>高魯川，家兄禮園之外舅也。年近古稀，新秋患感，顧某進清解藥二劑熱即退。以其年高遂用滋養，越日復熱，謂欲轉瘧。改用厚朴、薑、棗等藥，遂熱壯神昏，速孟英視之。脈形滑數，舌心已黑，溲赤乾嘔，粥飲不入。亟予元參、知母、花粉、銀花、竹茹、枇杷葉、蓮子心、梔子、白薇、西瓜翠衣為劑，數帖霍然。</p>
<p>呂慎庵云：余於去冬行路過勞，兩足劇痛，調治至今年春杪，似覺小效，而陰頭覺冷，因食牛骨髓以冀收功，遂患便濁，莖中梗澀，時欲小溲，腰脊板痛，俯不能仰，清心益腎之品，備嘗無效。秋初拖舟直詣潛齋請診。孟英先生曰：膽經鬱火未清，所服牛髓壅氣助火，是猶適燕而南其指矣。爰定：沙參（四錢），直生地（六錢），淡當歸（一錢），女貞（三錢），旱蓮（三錢），鹽川柏（一錢），酒龍膽（八分），生薏仁（四錢），川楝肉（錢半），絲瓜絡（錢半），生甘草梢（六分），砂仁（八分研沖）。一方服十劑，溺澀已減，腰足猶疼，請改方。先生以沙參（四錢），生地（六錢），淡歸身（錢半），絡石（四錢），柏子霜（三錢），淡肉蓯蓉（一錢），酒川柏（一錢），川楝肉（錢半），鮮竹茹（三錢），藕汁（一杯和服），為劑。亦服十數帖，證去八九，而小溲猶渾有穢氣。先生令以虎潛丸料熬成膏，藕粉和杵為丸，服至三料，小溲清暢，粗健如常。是證也歷半載有餘，屢訪前輩證治，未有毅然直指病源如先生者。獲痊後銘感無既，隔垣之視，允宜垂世，敢贅數言，以備採輯。</p>
<p>陳載陶年五十五歲，患瘧兩旬，始迓孟英診之。脈不浮而弦滑且數，按之愈甚，苔色黃膩滿布，熱至大渴，極喜冷飲，小溲赤臭，熱時則點滴莖痛，大解不行，間數日則略下稀水，是暑熱挾痰見證。疏清解法予之。及閱前醫之方，初則柴、桂、薑、棗，嗣用參、甘、耆、朮、首烏、草果之類，溫補雜投，其瘧日甚，其發日遲，其補日峻，其口日渴，乃令熱時少飲西瓜汁一二杯。病者飲瓜汁而大快，輒恣飲一二碗，蓋謂其體厚陽虛，中氣不足，故溺赤而便稀水。又云：暑是陰邪，熱自濕來，不可稍犯寒涼之藥，因仿景岳治陰虛傷寒以冷水與桂、附並行之例，而令其服溫補以治瘧，少佐瓜汁以解渴也。噫！景岳此案之不可為訓，葉香岩發揮於前，魏玉橫辨謬於後，奚可尤而效之乎？治而勿愈，反責病人過飲瓜汁使然。余謂此證苟非日飲瓜汁一二碗，早已液涸痰膠，燎原莫救矣！病者聞而頜之。服數劑，胸前赤斑密布，瘧渴皆減，溲漸通，苔轉白。前醫云：再不溫補，恐其驟變，病者惑之，仍服其藥，並加鹿茸、附子。又旬余，瘧如故而形瘦面黧，氣衝干嗽，白糜滿舌，言蹇無眠，醫者皇皇，病家慼慼。復延孟英視之。脈仍數，曰：邪較衰矣，西瓜汁之功也；陰受劫矣，溫補藥之力也。極早回頭，尚堪登岸。爰以西洋參、生地、甘草、石斛、白石英、葳蕤、麥冬、黃連、阿膠、牛膝為方，並令熬鱉汁飲之。五劑而瘧罷、嗽蠲，得眠安穀，苔亦全退，但舌紅口辣，溲赤不清。前方去連、膝，加歸、杞。服八劑，始解堅燥黑矢而愈。然病者喜溫補，既愈仍囑前醫善後，故舌紅口辣，與胸前斑點久不能消，直至冬令，孟英力勸停藥，始漸除也。有朱湘槎者，與載陶年相若，體相似也，秋杪自越患瘧旋杭，屢藥不應，遲孟英視之，面赤脘悶，二便不行，熱則譫言，苔焦口渴。予小陷胸湯加菖、茹、梔、翹、花粉、竹葉等藥。群謂肥人之體慮虛其陽，不敢服此涼劑，治載陶之前醫迎合主見，大投溫補。載陶偶見孟英而述之，孟英曰：湘槎殆矣，此時恐無西瓜汁以救藥誤也。旬日後果狂躁而亡，其未亡前一日，人已昏狂，畢某診云：暑熱內陷。意欲挽救，投以犀角等藥一帖，故前醫於陳證，由攘為溫補之功，於朱證則卸為犀角之罪，蓋明知溫補易售，可以避罪徼功，故樂操其術，而不肯改弦易轍也。後載陶令兄喆堂喬梓同時患瘧，因前車之鑑，雖汗多懶語，酷類虛象，不敢從補，均依孟英作暑濕內伏治而愈。</p>
<p>家嫂患疥遍身，外科治之不愈，且形瘦而左臂痠疼不能舉。孟英按脈弦洪而數，授清肝滌暑之劑，旬余而愈。又聞治一妊婦患疥，瘍科治而弗愈，以靈壽寺所售瘡藥搽之，遂渾身壯熱，膚赤神昏，陰戶疼腫，尤為慘酷，氣逆不飢，徹夜無寐，醫皆無策，延孟英視之。脈甚洪數，舌絳無苔，四肢拘攣，溲熱如火，乃暑火證而復為毒烈燥熱之藥助其虐也，誰謂外治不比內服，可以擅用哉？與大劑銀花、元參、石膏、甘草、梔子、鮮生地、竹葉、蓮子心、菊葉、冬瓜皮、絲瓜絡、西瓜翠衣，而以綠豆、黑豆煮清湯煎藥。服三帖，膚淡神清，略進稀粥。又三帖熱退始盡，四肢漸舒，浹旬腫盡消，周身膚蛻如蛇皮而愈。</p>
<p>家慈年七十四歲，陡患泄瀉，腹微痛，身發熱，神思不清，自汗嘔惡，不進飲食，亟延醫視。云慮其脫，擬進參藥。迨孟英來診，曰：暑脈微弱，不可謂之虛也，且兼數象，參不可投。高年固屬陰虧，然去其所本無，即所以全其所本有也。爰定芩、連、滑、斛、茹、柏、竹葉、銀花、橘皮、枇杷葉之方，東瓜湯煎藥，一劑而熱退神清，二劑霍然矣。既而五弟婦偶患微寒發熱，醫與柴、芎等藥一劑，遂昏狂悲哭，見人輒怒詈欲搏。屈孟英過診，脈弦滑而數，面赤不瞑，苔色黃膩，胸下拒按，曰：痰熱肝火為患耳。以菖蒲、膽星、旋、赭、連、蔞、枳、半，合雪羹投之，一劑而安。翼日寒熱復作，孟英曰：幸其體實，藥不可緩，庶免化瘧也。照方服五劑，果寒熱三作而遂痊。</p>
<p>蔡湘帆之女甫周歲，斷乳後患腹膨泄瀉，兒科以為疳也，遍治不愈，謂其將成慢驚，丐孟英視之。苔甚白滑，曰：瓜果傷也。以生厚朴、生蒼朮、丁香柄、雞膍胵、五穀蟲、陳皮、苡仁、木香、黃連、防風投之。服後連下十餘次而腹即消，次日竟不瀉而能安穀矣，聞者僉以為異。或云尤有異者，許子雙大令令愛宜姑，幼時患發熱神昏，幼科皆束手矣。孟英偶一望見曰：犀角證也。與以方，果投匕而瘳。此案輯《仁術志》者失採，今子雙宦粵東，不能詢其詳矣，姑附其略於此，以識望而知之之神。</p>
<p>關琴楚令孫少西，年三十四歲，素善飲，夏間已患著枕即嗽，諱而不言，家人未之知也。迨秋髮熱，嘔吐腹痛，伊父母以為痧也，諸痧藥遍投之，尋即氣衝咳嗽，血湧如泉，不能稍動，動即氣湧血溢。沈某但知其素稟陰虧，遽從滋補，服後益劇。遲孟英診焉，脈弦洪而數，曰：雖屬陰虛，但飲醇積熱於內，暑火外侵，而加以治痧丹丸，無不香竄燥烈，誠如火益熱矣。亟當清解客熱。昔孫東宿治族侄明之一案與此略同，必俟熱退血止，再為滋養，知所先後，則近道矣。病家素畏涼藥，而滋補又不應，遂求乩方服之。藥甚離奇，並木鱉、麝香亦信而不疑。旬日後血已吐盡，氣逆如奔，不寐形消，汗多熱壯，再乞診於孟英，已不可救藥矣。</p>
<p>沈友聞令郎厚栽，久患羸弱，馴致腹痛便瀉，惡谷形消，諸醫束手，求孟英圖之。脈虛弦而空軟，曰：不可為矣。雖然，治之得法，尚可起榻，可虞者，其明年春令乎。爰以潞參、鱉甲、耆、芍、甘、柏、薏、斛、木瓜、橘皮為方，吞仲景烏梅丸。不旬日而便堅食進，又旬日即下樓而肌充矣。又其大令郎子槎之室，體素怯，夏間曾患久瀉，多劑溫補始瘳。忽發寒熱，肢麻頭痛，徹夜不眠，嘈雜如飢，咽喉似阻，食飲難下，汗僅出於上焦，僉以為虛損將成。孟英持其脈弦弱而數，視苔微黃滿膩，曰：暑濕時瘧也，補藥烏可投耶？以茹、滑、芩、連、桑葉、紫菀、銀花、橘皮、冬瓜子、枇杷葉、絲瓜絡等藥，蘆根湯煎服數劑而痊。嗣與滋養善其後。既而子槎自上海歸，亦患瘧，孟英視之：暑濕挾痰也。予溫膽湯數服而愈。次年春杪，厚栽竟逝。</p>
<p>陳氏婦年逾四旬，娩後忽然發狂，時值秋熱甚烈，或以為受熱，移之清涼之所勢不減；或以為瘀，投以通血之藥而不效。金、顧二醫皆謂虛火，進以大劑溫補，則狂莫能制；或云痰也，灌以牛黃丸亦不應。浼孟英視之，切脈弦數，頭痛睛紅，胸腹皆舒，身不發熱，乃陰虛而肝陽陡動也。先灌童溲勢即減，劑以三甲、二至、丹參、石英、生地、菊花、牛膝、藕，用金飾同煎，一飲而病若失。愈後詢之，果因弄瓦而拂其意耳。</p>
<p>吳曲城仲郎偶患少腹堅脹，左脅聚氣，群醫見其面黃，作暑濕治，攻補雜施，兩月弗效。孟英視脈弦澀，溺赤便艱，口苦不飢，肢冷形瘦，曰：非外因也，肝鬱耳。予旋覆花湯合金鈴子散，加雪羹、竹茹、青皮、白芍煎，吞當歸龍薈丸，八劑而病如失矣。</p>
<p>濮樹堂患滯下，醫者以其脈弱體虛，第三日即參補養，延至匝月，痛痢不減，穀食不思，肌瘦如豺，面浮足腫，口乾舌絳，懶語音低，氣短汗多，略難轉側，諸醫無策。始迓孟英診之。曰：初起脈微弱，為暑之本象，今按之尚數，乃陰液已傷，渴飲無苔，豈容溫補？溲赤而痛，胡可酸收？見證雖危，治不可紊。為定白頭翁湯加西洋參、乾地黃、炙草、白芍、麥冬、阿膠、酒炒銀花之劑，以水露煮陳倉米湯煎藥。群議以為太涼潤，不可輕試，孟英曰：此厥陰證而胃液已傷，幸而脈未空數浮弦，亟予養陰清熱，庶可圖功，若徒議藥不議病，縱有一片婆心，未免好仁不好學矣。病者憶及乙巳之病，深信不疑，遂服之。一劑知，六劑而痢淨，舌潤知飢，溲通得睡，第便溏腹痛，日必兩行，左齦赤腫而疼。外塗以玉樞丹，內治以三奇散加潞參、炙草、薏仁、扁豆、雞膍胵、黃柏、橘皮，吞香連丸。旬余而浮腫消，大便堅，舌苔生，起於榻，而口腹不節，發熱口乾，乃食復也，按法治之熱退，至七日始更衣，因囑其加意珍攝，俾易康痊。奈家務紛繁，既愈即不能靜養，神機曲運，心氣渙散不收，液涸津枯，而前功盡墮，惜哉！然此案自可傳也。</p>
<p>孫位申令正，左內踝患一瘡，外科敷割，雜治兩月，漸至瘡色黑陷，食減神疲，寒熱時形，痛無停晷，始延孟英診之。脈象弦細無神，曰：此營陰大虧之證，余於外科雖疏，然初起既無寒熱，患處亦不紅腫，其非火毒可知，並不流膿，虛象更著，始則攻散劫津，繼則溫托壅氣，妄施敷割，真是好肉剜成瘡矣。況病在下焦，素患肝鬱，耆、茸、芎、歸，益令陽浮，兩腿不溫，豈為真冷？亟煎蔥湯將患處洗淨，切勿再行鉤割。以生附子杵爛貼湧泉穴引火下行，患處日用蔥湯溫洗。方用血餘、當歸、冬蟲夏草、枸杞、牛膝、蓯蓉、豬膚、藕、白蒲桃干煎服。五劑寒熱全休，腿溫安穀，黑處轉紫，痛減脈和。旬日後紫轉為紅，陷處日淺，始令以珍珠八寶丹糝之。匝月而肌生體泰。</p>
<p>沈陶安寒熱初作，醫用溫散藥，即眩悗不安，延孟英視之。舌絳無苔，大渴多汗，瘧則寒微熱甚，發時咳嗽兼嘔，溺少不飢，脈洪且數。清癯之體，陰分素虧，而伏暑化瘧也。予知、芩、茹、貝、花粉、白薇、銀花、元參、枇杷葉、紫菀、冬瓜子等藥出入為方。服後連解赤糞，瘧即遞輕，不半月而愈。乃兄秋粟賈於蘇，因八月初五日上海寇警，吳門震恐，遂踉蹌旋里。迨十七日忽發瘧，但熱無寒，汗多昏譫，脈亦洪數，嘔嗽溺頻，曲糵素耽，體豐痰滯。孟英即以治陶安法，佐以開痰治之，溏解頻行，其色皆赤，伏邪雖有去路，緣心陽過擾，譫渴不休。加犀角、竹葉、蓮子心之類。至月杪診時，適大戰大汗之際，其家疑為有祟，方在禳禱，鐃鼓喧闐，病者神氣更不安恬。孟英令將醮壇移遠，並灌以神犀丹一丸。其家問此證何不用石膏？孟英曰：藥有定性，病無定形，況旬日以來苔退將淨，瘧即可罷，何必石膏？次日乃叔蘭谷另邀一醫視之，方雖相似，而迎合主人之意，加入石膏三錢，冰糖四錢，粳米一兩。連進兩帖，左脅即痞脹不堪，按之如柈，杳不思谷。病者悔恨云：月杪大汗之後，吾瘧已休，何以更醫致生痞脹。仍迓孟英診之。脈來澀滯，苔復膩黃，因詢曾服滋膩之藥乎？陶安始述其所以。孟英曰：石膏為治暑良藥，吾非不善用者，因此證不止肺胃二經受暑，心肝二經皆有所病，故不用也，且內挾痰濕者，雖當用亦必佐以宣化之品。辛丑夏家篪伯茂才患瘧，初起誤服此公石膏兩劑，腹遽脹，延成瘧鼓，幾至不起。後服多劑桂、附及金液丹而始愈，蓋此公但見其瘧至睛赤，裸衣狂走，而不研察其病情也。余究其因，遽云：瘧發時其熱自下而上，比至心頭，即覺昏冒，且口不渴而惡涼飲，乃濕上甚為熱之證，彼時若以蒼朮同用，則濕熱之邪一齊同解，奚至延鼓哉？賢昆仲之瘧熱亦自下而上，系挾肝陽上升，故熱升則必嘔嗽，而令兄更有伏痰，故余劑中多用連、夏、菖蒲、滑石之類以化之。今瘧罷熱去之後，痰濕未清，石膏已誤，再佐糖米之甘緩，俾膩塞而不行，苟不急為宣導，則鼓脹之萌也。遂以蔞、薤、菖、枳、連、夏、旋、橘、楝實、延胡、雞金、雪羹之類。出入互用至二十劑，痞始泯然，粥食遞加，苔亦退盡，而竟不更衣，改用參、歸、杞、芍、橘、半、蓯蓉、首烏、鱉甲等十劑，大解始下，堅黑異常，連解數日始淨，隨予峻補善後而痊。秋粟之室，懷妊九月，加以憂勞，九月初七日患瘧間作，寒熱之時，胎痛上竄，或下墜腰疼，更兼痰嗽帶下，口渴無苔，其勢甚危，孟英但於清解之中加蔥白、蘇梗投之，連下赤矢，痛勢遞減，第瘧雖漸殺，至期必兩發，病者苦之。孟英曰：愈機也，毋憂焉。果浹旬而愈。復苦脘痛嘔吐，勺水不納，藥亦不受，授以藕汁、蘆根汁、梨汁，少加薑汁，和入薔薇露、枇杷葉露、香櫞露，徐徐呷之漸瘥。嗣予滋養藥加黃柏服之而愈。迨冬至分娩甚快健。又秋粟令郎十歲，陶安令愛八歲，俱患間瘧，僉慮胎瘧難瘳。孟英曰：無是理也，小兒內無七情，苟能慎飲食，較大人易治焉。劑以清解，旬日胥痊。</p>
<p>施玉林之侄順老，患瘧失治，自頭至足龐然浮腫，溲赤便溏，不飢痰嗽。孟英授杏、樸、橘、半、蘇、滑、桑皮、通草、銀花、冬瓜皮、蘆菔為方。服六劑瘧愈腫消，便堅溲暢而善飯矣。</p>
<p>陳載陶令郎夏間患嗽瀉愈後，時發微熱，寢汗如蒸，醫治兩月，迄不能退，時猶作嗽，咸以為勞。其世父喆堂逆孟英視之。熱甚於頸面，形瘦口乾，脈則右大。曰：肺熱不清也。養陰之藥久服，勢必弄假成真，熱錮深入而為損怯之證，亟宜澹泊滋味，屏絕補物。以芩、梔、地骨、桑葉、苡仁、枇杷葉、冬瓜皮、梨皮、葦莖為劑。服後熱汗遞減，至九帖解醬矢赤溲，皆極熱而臭，自此熱盡退而汗不出矣。惟噫猶不暢，時欲太息，飽則胸下不舒，乃滋膩藥所釀之痰未去也。改用沙參、枳實、旋覆、冬瓜子、竹茹、白前、栝蔞、海䖳、橘皮數帖而胸舒嗽斷，體健餐加。</p>
<p>張某患四肢發熱，久治不痊，食減便溏，汗多形瘦。張孝子謂此證非孟英不能愈。遂往就診，曰：熱厥也，前此必誤服補藥矣，故脈來甚澀，以芩、梔、連、柏、白薇、通草、地骨、青蒿、絲瓜絡為方，十餘劑而瘥。</p>
<p>董茂清患瘧，脈軟脘脹，手紫面黃，便秘溺紅，苔膩而渴。孟英曰：暑濕挾穢氣阻於募原，用菖、樸、橘、半、杏、滑、芩、翹、蔞、枳、銀花，加雪羹，出入為方。服五劑便瀉知飢，瘧休而愈。</p>
<p>陳誦芬令堂年越古稀，精神素旺，滯下數月，病日以劇。所親蔣策熏囑延孟英圖之，已粒米不納，雖啜飲而咽膈阻塞，唇舌皆紫，痰中帶血，吐之甚艱，日夜更衣數十次，稀糞挾以赤垢，若欲小溲，必令人重按肛門，始能涓滴而出，熱如沸湯，脈則左手弦洪澀數而上溢，右軟滑而大，按之無神。孟英曰：此證本滯下，良由七情鬱結，木土相乘，醫謂高年，輒投溫補，釀成危證，藥不可為。誦芬云：先生之言是也，家慈因春間疊聞江南之警，心甚皇皇，舉家遷避，飲食頓減，夏初旋里，似已稍安，六月間患瀉，飲食又減，屢進參、朮、熟地、附、桂、炮姜之劑，竟無寸效，惟望鼎力斡旋是幸。孟英曰：上不能納，下不能分，中氣無權，營津兩匱，既承下問，姑擬一方，僅許小瘥，不能奏績也。誦芬從之。服後即思粥食，小溲單行。再求轉方，孟英堅不承手。果至季秋而沒。其方乃沙參、冬瓜子、絲瓜絡、蘆根、紫菀、菖蒲、竹茹、通草、薏仁、枇杷葉、陳倉米，以水露煎服也。顧鐵舟贊府，精於醫者也，目擊其一服而進粥溺行，因嘆曰：仙方也。惜遇之不早，命矣夫！</p>
<p>徐仲榮四令弟德生，患感至旬余，忽然大戰大汗，而大便兼下瘀血。朱茂才視之，不知戰解之義，以為將脫也，率投大劑溫補藥一服，汗收壯熱，杳不知飢，渴飲無眠，舌赤溲少，遂束手。更醫謂汗下傷陰，滋填疊進，馴致身難轉側，懶語音低者，又旬余矣。所親吳愛棠囑延孟英圖之。脈弦數而駛，按其胸下堅且痛，舌絳而根苔黃滯，曰：汗下傷陰固然，惟府猶實也，滋膩曷可投耶？然一病至此，又難攻奪，姑以善藥通之。因予小陷胸湯合雪羹，加茹、杏、紫菀、白前、冬瓜子、蘆菔和梨汁，服二帖，堅黑之矢果下，仍夾瘀血，身熱遂緩，稍進稀糜，改用清養肺胃以充津液。旬日後熱淨溲澄，知飢安穀，惟舌不生苔，寐即汗出，授大劑滋陰而愈。德生有一婢，年十七矣，陡患腹痛，稍一言動，則痛不可支，舉家疑為急痧中惡，多方以圖皆不應，飛速孟英往視。見其神色如常，並不吐瀉，脈則牢澀，苔則膩黃。曰：此多食酸甘而汛阻也。詢之果然。以桃仁、紅花、生蒲黃、靈脂、海䖳、香附、延胡、芍藥，蘆菔湯煎藥，吞當歸龍薈丸而愈。</p>
<p>許梅生仲郎恬甫，年未冠，仲秋患感，醫知其陰虛伏暑也。疊進清衛涼營之法，旬餘熱退，以為無慮矣。惟六日不更衣，因用生地、麻仁、花粉等藥。服後果欲大解，及登圊大瀉一次，人即汗暈，急扶上榻，連瀉二三十次，滿床皆汙，盡是黃水，身復發熱，肢痙音低，唇焦齒槁，苔色干黃而渴，舌不能伸，目不欲張，速孟英勘之。脈微細欲絕，而呼吸甚促，按其心下堅而且痛。曰：疾不可為也。緣初治失於開泄，胸中痞結而津液不能敷布，盡從下脫，攻補皆難措手矣。翼日果殞。</p>
<p>許蘭嶼令正素屬陰虧，舌常脫液，季秋患脘下疼脹，得食愈甚，映及脅背，宛如針刺，稍閤眼則心掣動而驚寤，自按痛處，則湧水苦辣，渴不欲飲，溲少神疲，自疑停食，服楂、曲而益劇。孟英視脈弦軟，曰：此停飲也，飲停則液不能上布，故口渴；而飲即水也，內有停水，故不喜飲；其舌上脫液雖屬陰虛，亦由飲隔；寐即心掣者，水凌火也；得食痛加者，遏其流也。以芩、澤、橘、半、旋、蛤、連、䖳加生薑衣投之，溲行得睡，惟晚食則脘下猶疼，疼即心熱如火，且面赤頭痛，腿冷腰痠，必俟脘間食下，則諸恙皆平。孟英曰：此停飲雖蠲而肝火升也，宜參潛養為治矣。改授沙參、蓯、歸、竹茹、楝、柏、石決明、絲瓜絡、薑汁炒梔子，少佐生黃連，服之遂愈。</p>
<p>蔡湘帆年二十歲，體素豐，偶發寒熱，翼日尚吃飯出門，自不知為病也。第三日寒熱大作，莖縮不能小溲，氣喘大汗，眩暈不支，乞孟英往診，舉家倉皇大哭。循其脈緩大而滑，苔色黃膩，脘下拒按。曰：無恐也。予菖、枳、旋、蔞、梔、豉、連、半、茹、䖳，以蘆菔湯煎服一劑，大吐痰涎而喘汗平，二劑莖舒溲暢而大解行，越日寒熱即減。又兩劑瘧罷知飢而愈。然李東垣諄諄以內傷類外感為言，而溫熱暑濕之病，初起極類內傷，往往身未發熱而手心先熱，或兼眩暈自汗，設泥古法而不辨證，禍可言哉！</p>
<p>葉承恩年五十歲，患發熱暮甚，肢厥頭疼，嘔惡便溏，睡則囈語，不飢不渴，汗出上焦，自覺把握不住。延孟英診之。脈軟澀而不鼓指，右手尤甚，宛似虛寒之證，惟舌本紫，苔雖薄而黃膩口苦，眼鼻時覺出火，是真陰素虧而熱伏於內也。予梔、連、桑、菊、茹、翹、芩、斛、銀花、絲瓜絡、蓮子心出入數劑，熱囈皆減，脈亦較和，溲赤而疼，大解色醬，知其伏熱下行矣。又數劑，苔始退而知飢，參以養陰而愈。</p>
<p>一勞力人發熱，左脅疼，咳嗽礙眠，痰出甚臭，苔黃舌絳，渴飲譫語，便秘溲赤，脈形滑數，乃伏暑證。詢其平昔嗜飲，醉後必向左臥，故濕熱釀痰，久積於左，非內癰也。以葦莖湯去苡仁，加雪羹、芩、滑、茹、翹、梔、蔞、旋覆、木通等出入三劑，大便行，譫語止，而痰出更多，其臭益甚。仍用前藥。又四劑痰始少而不臭，熱淨能眠，知飢苔退。改授甘涼養液而瘳。</p>
<p>陳芷潯主政患瘧，跗腫便溏，痰多食少，時欲嘔吐，間有鄭聲。孟英取其脈微弱而弦，不渴無苔，小溲不赤，乃中虛寒濕為患也。方以六君去甘草，加桂枝、苡仁、白芍、吳萸，投劑即減，半月而愈。</p>
<p>周光遠令正，孀居十載，年已五十三歲，汛猶未絕，稍涉勞瘁，甚至如崩。偶患少腹偏左掌大一塊作疼，其疼似在皮裡膜外，拊之痛甚，越日發熱自汗，眩冒譫語，嘔渴不飢，耳聾煩躁。孟英循其脈虛軟微數，左兼弦細，便溏溲熱，舌本不赤，略布黃苔。營分素虧，而有伏熱阻於隧絡，重藥礙投，姑予芩、連、芍、楝、竹茹、桑葉、白薇、通草、橘核、絲瓜絡、燈芯，少加硃砂和服。一劑勢即減，二劑熱退嘔止，啜粥神清，第腹猶痛，去桑、芩、燈芯、硃砂，加蓯、歸、苡、藕，服數帖而起。迫季冬，其君姑七十八歲，患腹痛，痛亦僅在皮膜，仍能納食，二便無疴，數日後痛及兩腰，機關不利，礙於咳嗽，痰出甚艱，而有鹹味，夜不能瞑。孟英視曰：肝腎大虛，脈絡失養也。以沙參、熟地、歸、杞、蓯、膝、杜仲、石英、羊藿、絡石、薏苡、胡桃等藥進之，日以遞愈。繼用一味桑椹，善後而康。</p>
<p>四舍弟西甫年二十四歲，秋杪患感，至六日神漸昏，延孟英診之。脈形澀滯，苔垢頭疼，氣逆汗頻，腰疼溲少，脘悶拒按，乃伏暑晚發而本元極虧也。亟與開中，俾有去路，小陷胸加梔、豉、菖、芩、白薇、翹、枳，蘆菔湯煎服一劑，脘不拒按，苔亦稍退，汗不達於下部，脈來軟而且澀，改授茹、半、芩、梔、橘、翹、知、蛤、花粉、蓮子心之劑。三帖脈轉弦數，大解未行，譫語不休，夜間熱熾，腿涼頭暈，濁熱上熏也。以芩、蔞、梔、連、茹、翹、元參、白薇、丹皮、海䖳、竹葉投之。乃下堅黑大便，而圊後神暈，苔漸薄而轉黑，為去芩、連、蔞、䖳，加犀角、鮮生地、知母、花粉兩帖。更衣仍黑，氣乃漸平，腿亦漸溫，熱渴均減，猶不知飢，脈軟而虛，苔退未淨，乃去犀、翹，加西洋參、麥冬、銀花、菖蒲。服三劑，又解黑矢，舌色始津，而寐不安神，汗多心悸，因去知母、花粉、丹皮，加甘草、丹參、茯苓，而地黃用乾者。兩帖，大解甚暢，胃漸知飢，稍漸稀糜，力不勝啜，脈亦虛大，寐即神馳，乃邪未清而虛畢露也。用西洋參、生地、龍齒、歸、芍、芩、甘、連、柏、麥冬、小麥。服五劑，復下醬矢，而右脈尚虛大。又六帖，糞色始正，汗減神安，脈漸柔和，寢食乃適。嗣又食複數次，賴孟英活潑如龍，隨機應變，竟以告愈，洵屬再生。</p>
<p>四弟婦懷娠臨月，西甫起病之次日，即患瘧，因弟病日劇，不免憂勞，至第五日孟英視之。脈欲離經，腰疼腹墜，伏暑化瘧，將娩之徵。以梔、豉、蘇、歸、芩、連、茹、半、知母、蔥白服兩帖而產。產後瘧來頗減，惡露不行，腹不脹疼，不飢而渴。投梔、滑、薇、茹、澤蘭、丹參、通草、桃仁、茺蔚藥一劑，惡露即行，而狂言不寐，面紅口渴，人皆危之。蓋杭諺有云：夫病妻懷孕，鐵船過海難逃命。未產先縈憂懼，既娩血去火炎，故晝夜輒以鐵船沉海云云。孟英於前方去澤蘭、通草，加琥珀、菖蒲、膽星、燈芯，和以童溲投之。一飲神識漸清，再劑即安睡矣。去琥珀、菖、星、桃仁、燈草、茺蔚，加知母、麥冬、甘草、沙參、枇杷葉，衝入藕汁一杯。三服解赤矢而苔退，瘧亦減而嗽痰，改用沙參、枇杷葉、冬瓜子、甘、斛、梔、薇、茹、翹兩帖。嗽減猶渴而身痛，去梔、薇、枇杷葉，加歸、貝、鱉甲。四帖而瘧罷，眠食鹹安，調養至彌月，即出房矣。</p>
<p>三舍弟拜楓之室，汛後患感。孟英視曰：冬溫也，而營分素虧，左腹聚氣，肝陽爍液，痰阻樞機。脈數而虛，黃苔滿布，腰疼礙於呼吸，口淡不飢不渴，嗽則欲嘔，溲熱便秘，當變法治之。初授蔥、豉、連、楝、梔、薇、延胡、絲瓜絡、竹茹，少加蘇葉。服二劑解溏矢，苔稍化而身熱退，起榻梳髮。復發熱，脈尚數，改用南沙參、枇杷葉、橘、斛、梔、薇、芩、翹、蘆菔。服二帖，脈數漸退，大解復行，心悸汗多，時或發熱，間有譫語，脅痛不飢，苔色根黃，即參養血。以北沙參、歸身、石英、丹參、茯苓、黃連、葳蕤、甘草、小麥、紅棗核為方。服三帖虛熱不作，譫語亦休，大解已堅，夜不成寐，不飢胸痞，痰滯未清也。為去後四味，加竹茹、半夏、鹽橘紅、薑汁炒梔子。二帖痰果吐，胸漸舒，仍不知飢，神疲不語，脈甚細軟，乃去芩、連、梔、半，加石斛、麥冬、冬瓜子、藕，而易沙參以西洋參，用陳倉米湯煎藥，和入野薔薇露。服五帖脈漸起，神亦振。七帖後知飢，而苔花少液，去竹茹、冬瓜子、薔薇露，加甘草、生地、白蒲桃干。服二帖粥食雖增，耳鳴神憊，復加枸杞，而地黃用熟者，易洋參以高麗參。服後苔淨加餐，再加黃耆、杜仲而愈。惟素患帶多，仿虎潛法善其後，汛至而康。</p>
<p>五舍弟樹廷，時患喘逆，初冬尤甚，稍食甜物，其病即發。孟英察脈遲弱，苔黃垢而不渴，指冷腿痠，乃中虛痰濕內盛也。授參、朮、蒼、枳、旋、半、薤、樸、杏仁、生薑之劑。服後痰果大吐，氣亦漸平，嗣以六君去甘草，加當歸、木香調補而痊。</p>
<p>沙沛生鹺尹令堂年五十七歲，體素弱而多怫鬱，秋間患瘧於諸暨，醫治未效。冬初來杭，謝某疊進溫補，其勢孔亟，寒微熱熾，昏譫瘛瘲，目不識人，舌絳無液，苔色黃燥，便秘不行，延孟英視之。脈洪滑右甚，左手兼弦，乃痰熱深蟠，內風煽動也。予知母、花粉、蔞仁、竹茹各三錢，佐以梔、薇、翹、貝、橘紅、蓮心。一飲而更衣溲暢，胸次較寬，痰嗽口糜，且知頭暈，乃去知母、花粉、蔞、翹，加沙參、苡、斛、麥冬、野薔薇露。次日瘧來甚減，糜退口乾，神憊音低，津虛痰滯也。去苡仁、枇杷葉、薔薇露，加知母、花粉各一錢五分，甘草五分，和入藕汁一杯。服二帖瘧至甚微，口乾倦臥，脈則右虛左數，用養氣充津、蠲痰清熱法：西洋參、鹽橘紅、歸、甘、杞、斛、冬、茯、茹、蕤，和入藕汁。服兩帖瘧休神爽，咽痛唇糜，飢不能餐，余焰內燃也。去杞、斛、甘草，加生地、牛膝。四劑後咽唇皆愈，神憊懶言，仍加杞子、甘草。服二劑胃氣漸蘇，口猶少液，因涉嗔怒，暮有微熱，膚腫欲嘔，口乾便秘，即去地、冬、蕤、杞、甘、膝，加連、楝、蒺藜、石英、絲瓜絡、冬瓜皮。一啜熱去嘔蠲而腹猶脹。去西洋參、歸身、冬瓜皮、石英、黃連，加沙參、旋、芍、延胡、香附、藕。一劑脹消，而口淡便秘，飢不能餐。改用西洋參、木瓜、銀花、延胡、蒺藜、蓯、歸、芍、斛為方。投匕而便行，三啜而腫盡消，始予高麗參、紫石英、橘、半、歸、冬、菖、茹、牡蠣調養。續去菖、半，加杞、地、鱉甲而愈。嗣因登圊跌僕而發寒熱，周身骨痛，會陰穴起一瘰甚疼，乃以高麗參、骨碎補、合歡、木瓜、杜仲、絲瓜絡、鹿角霜、首烏、鱉甲、杞、柏、歸、甘、苡、膝、蓯、斛等出入為方，外用蔥白杵爛，蜜調傅患處，七日而痊。</p>
<p>沛生令庶母亦在越患瘧，來杭後孟英視之。脘悶欲嘔，汗多頭重，脈來弦數，苔色膩黃。乃餘邪逗留，兼挾肝鬱。以枳、樸、芩、半、茹、斛、蔞、菖，加蘇葉炒黃連投之，痰涎大吐，邪已外越，脘脹口乾，寒熱復作。乃去樸、半，而加艽、翹。吐猶不止，聚氣上衝，渴飲無眠，筋瘛便秘。改用金鈴子散合雪羹，加旋、赭、茹、半、薑汁炒梔子、蘇葉炒黃連。一飲而嘔渴減，氣下行。即去金鈴子散、旋、赭，加沙參、歸、斛。服五劑，各恙皆安，神憊汗多，為用沙參、歸、斛、芩、橘、梔、連、茹、藕二帖。又因嗔怒，左脅作脹，苦渴不飢，暮熱便秘，於前方加柴、芍、金鈴子散。一啜脅脹即舒，惟氣衝口苦，飢不能餐，自汗耳鳴，頭左筋惕，改授沙參、當歸、鱉甲、石英、竹茹、牡蠣、蒺藜、菊花、絲瓜絡。服旬余眠食皆適，但暮則火升，口乾易汗，去蒺藜、絲瓜絡，加黃連、麥冬合甘麥大棗湯，服浹旬，經行腰痛，頭震耳鳴，八脈久虧也，調養奇經以善後而康。</p>
<p>沛生令寵平素陰虛肝旺，而腹有聚瘕，時脹時疼，初冬患瘧，苔黑口乾。孟英脈左弦數而洪，右滑數而溢。初以梔、豉合金鈴子散、雪羹，加元參、白薇、竹茹。服四帖，疼脹皆減，瘧緩汗多，溲澀口乾，飢不能食，氣時沖逆。予沙參、歸、斛、茹、橘、石英、絲瓜絡、蛤殼、藕。二帖後汛行腰痛，口渴少餐，氣鬱營虛，兼有痰滯也。去蛤殼加旋覆、冬瓜子、花粉。兩帖而更衣乃暢，然猶脘悶不飢，汛少且黑，口渴頭疼，瘧亦未罷，乃去石英、旋覆，加梔、滑、枳實。四劑各恙皆安，瘧猶未斷，以歸、蓯、甘、杞、橘、半、蔞、芩、竹茹、花粉，少佐桂枝調其營衛。奈病者因口苦而惡粥食，嗜啖甘酸，病既曲折，邪益留戀。此方服至半月而瘧始休，惟宿瘕時痛，肛痔便難，口苦吞酸，神疲寢汗。去芩、桂、甘草、花粉，加鱉甲、烏鰂骨、白芍、延胡、仙靈脾、藕，出入調補而痊。</p>
<p>德清徐子瑞令正，屢次墮胎，復多憂鬱，汛行之際，患瘧經止，而兩耳驟聾，雖對面疾呼，亦不聞也，不飢不渴，不語不眠，便秘遺溺，仰面靜臥而已，惟熱至則昏譫欲厥。乃父沈悅亭謂其熱入血室，拉孟英視之。脈滑數而右大，按之皆虛，兩尺尤甚，胸下拒按。曰：此下元虛損，故耳聾若是，即精脫之徵，豈可因汛遽止而輒通其血乎？然氣鬱痰凝，苔色白膩，上焦邪實，補且緩商，先予小陷胸合蠲飲六神湯，加雪羹開痰行氣。悅亭韙之，三服便通，胸不拒按，苔化黃色，瘧即較輕，改以沙參、歸、斛、茹、半、翹、芩、菖、橘、甘、艽。五劑瘧止，漸思飲食，二便皆調，兩耳仍聾，脈形細弱，乃用大劑培養藥善後而愈。</p>
<p>沈南臺年三十七歲，初冬在鄉收租，將歸飽啖羊肉麵條，途次即發熱頭疼，到家招沈某視之，謂其體豐陽氣不足，以致傷寒夾食，表散消導之中，佐以薑、附。數帖後，熱壯神昏，諸醫束手，交八日，所親許錫卿、吳久山交薦孟英圖之。苔色黃膩，口不甚渴，粒米不沾，時時火升，汗躁譫語，溲赤便秘，面晦睛紅，呼吸不調，胸前拒按，脈則虛軟微帶弦滑，不甚鼓指，曰：體氣素虧，然脈證太覺懸殊，必因痰阻清陽，故氣壅塞而脈更無力也。劑以小陷胸合雪羹，加旋、菖、薤、枳、梔子、膽星。服後痰即吐，脈較起。再服譫語息，三服痰中帶出紫血數塊，四服熱退而汗躁胥蠲，七服苔淨胸舒，溲長口渴。改予甘涼濡潤之法，服數帖痰已漸少，舌布新苔而仍不更衣，覺有穢氣上衝，亦不知飢。仍予甘涼養胃，佐以蘭葉、野薔薇露降其濁氣。數帖後，穢氣除，粥食進，但不大解，家人憂之。孟英曰：既無所苦，能食脈和，靜俟水到渠成，不可妄行催動也。既而加谷起床，便猶不解，病者停藥旬日，計起病已交一月矣。粥嫌不飽，意欲食飯，復請孟英商之。孟英曰：可食也，藥則不當停，亟宜培養涵濡俾其轉運也。授參、朮、歸、蓯、杞、麻、半、芍，少佐枳殼為方。服十二劑始得暢解堅矢，嗣與峻補善後，尋即復元。續有宣氏婦脈體極虛，患溫而胸次痞悶，苔黃垢膩，醫皆畏難而退。孟英以輕清肅化之藥數劑，苔退胸舒，即能進粥，隨予生津養血，又旬日更衣而愈。觀此則黃苔宜下之說，須合脈體以為可否也。</p>
<p>曹氏婦孀居而操家政，人極精幹，患恙旬余，諸醫以為冬溫而多藥罔瘥，勢瀕於危，伊親家孫位申速孟英挽之。面赤耳聾，脈狀細軟，舌赤無液，粒米不沾，夜不成眠，便溏浸赤，痰咸咳逆，腹脹氣衝，齦腫巔疼，音低自汗，口中甚辣，心下如焚，兩足不溫，時欲發暈。乃肝腎素虧，心陽內亢，原非感證，藥誤已深，縱是冬溫，亦不可妄施柴、葛，況足冷麵赤，非渾身發熱之比也。既耗其氣，更爍其營，陰火潛燃，治宜鎮息。方以參、蠣、連、芍、茹、冬、楝、斛、丹參、小麥、龜板、鱉甲，煎吞磁朱丸。一飲脹消，餘證不減，去楝、芍、龜板、鱉甲，加龍齒、銀花、導赤散。三服暈止便堅，小溲亦暢，略安寢食，再去銀花、木通、磁朱丸，加知、柏、紅棗、紫石英，而麥冬以硃砂染。兩帖火降足和，舌色漸潤。又兩帖，汗嗽胥減，心下始涼，乃易生地以熟地滋補而瘳。</p>
<p>葉茂栽年三旬余，寒熱時形，身振多汗，醫從瘧治，數日而危，速孟英視之。脈微欲脫，語難出聲，舌光無苔，筋惕肉瞤。亟宜救逆合建中湯灌之，覆杯即愈，續服多劑培補而安。</p>
<p>翁某年甫冠，仲冬患感，醫與溫散藥數帖，神悗耳聾，苔黑便瀉，胸痞腹脹，溲少妄言。孟英切脈細數而澀，乃暑濕內伏，氣鬱不宣也。投以犀角、銀花、元參、連翹、菖蒲、鬱金、黃連藥一劑。熱退神清，脘不拒按，別恙未減，脈則弦細而數，口轉發渴。改用芩、翹、樸、斛、連、楝、銀花、通草、蘭葉、冬瓜皮為劑。兩啜化為間瘧，其瘧發一次，則苔化一層，脹減一分，粥加一盞。藥不更張，凡四發而苔淨脹消，脈和溲暢，嗣予調養而康。</p>
<p>潘嫗久患痛吐，多藥莫痊。孟英視之，脈弦勁而數。曰：口苦而渴乎？大便不暢乎？小溲如沸乎？病者云誠然。第冷氣時沖，欲嘔不暢，渴喜飲沸，吐沫極酸，總由積寒深重耳。孟英曰：因此諒諸醫必用溫燥之藥矣。須知氣衝覺冷者，熱極似寒；渴欲飲沸者，飲邪內踞；吐沫作酸者，曲直所化；其病在絡，故吐之不易。方以茹、旋、梔、楝、枇杷葉、絲瓜絡、木通、生薑衣、海䖳、鳧茈、蘇葉炒黃連，煎吞當歸龍薈丸。一劑知，五劑愈。</p>
<p>張氏婦先於四月間患嘔吐，醫以為寒，疊進薑、萸之藥，致血溢自汗，丐孟英診之。脈甚滑，按之不絕，舌光無苔。曰：孕也。詢其經事，果愆兩度。予沙參、枇杷葉、生地、蘆根、連、蘇、旋、斛之劑而安。仲冬舉一男，胎前即患痰嗽，娩後招專科治之，服四物湯增損多劑，而氣逆礙眠，嗽則汗出，便溏遺溺，口渴不飢。再乞援於孟英，脈洪大按之虛軟。授沙參、石英、黃耆、苡仁、甘草、牡蠣、石斛、茯苓、小麥、紅棗、冬蟲夏草之方，兩帖而汗收安穀，四帖而渴減便堅，旬余遂愈。</p>
<p>朱慶雲室，年六十六歲，初發熱即舌赤無津，錢、丁、任、顧諸醫胥云：高年液少，津涸堪憂。甘潤之方，連投八劑，馴致神悗耳聾，不飲不食，沉沉欲寐，呃忒面紅，勢已瀕危。徐德生囑其延孟英圖之，審其脈弦滑而數，視其舌絳而捫之甚燥，然體豐呼吸不調，呃聲亦不暢達，合脈證與體而論之，雖無脘悶拒按之候，確是肝陽內熾，痰阻樞機，液不上承，非津涸也。劑以小陷胸湯加茹、薤、旋、菖、枇杷葉、蘇葉。一飲而夜得微汗，身熱即退，次日痰嗽大作，舌滑流涎。病家詫曰：奇矣！許多潤藥求其潤而愈燥，何以此劑一投而反津津若是耶？殆仙丹矣？三帖後更衣呃止，痰嗽亦減，漸進稀粥。改用沙參、紫菀、苡、斛、歸、茹、麥冬、冬瓜子。服數帖溲暢餐加，而覺肢麻頭暈。予參、耆、杞、歸、芍、橘、半、熟地、天麻、石英、牛膝、茯苓、桑枝，補虛息風化痰而健。</p>
<p>朱逵士令正，懷妊八月，脘痛便溏，跗腫腰疼，頻吐綠水，溫補不效。孟英診之：脈軟而弦，舌絳無液，口乾少寐，形瘦神疲。木土相乘，陰液大耗，雖宜培養，燥烈禁施。以參、連、歸、斛、杜仲、靈脾、冬蟲夏草、柏、橘、茹、英為劑。果各恙遞安，脘舒瀉止，加以熟地，舌漸生津而愈。</p>
<p>黃漱莊司馬，素患左目失明，今春右目患障，多藥未瘳，延至秋間，孟英視曰：脈甚弦滑，痰火之疴，溫補宜停，庶免瞽患。奈司馬性喜溫補，不以為然，漸至耳亦失聰，冬季再請孟英往診。右目但能視碗大之字，稍小者不能見矣，耳則雖對面撞鐘放炮，胥無聞也，且巔腫而疼，時咳白沫，脈來搏勁不撓，見其案頭有顧某所定丸方，用藥四十味，皆貴重溫補及血肉之品。蓋其病在絡，不在藏府，故服此如膠似漆之藥，僅能錮疾成廢，而無性命之虞也。聞辛亥春，許辛泉患類中，諸醫僉從虛治。孟英診脈沉滑而數，且體厚苔黃，亟宜化痰清熱。疏方畢，人皆不以為然，惟其子秋蘆極佩服云：五年前家父患恐懼多疑，曾屈診視，方案猶存，若合符節，只因家父性喜溫補，前之病根不拔，釀成今日之疴，先生卓見不可及也。奈病者依然不悟，不刈根株，延至壬子夏復中而殞，年未五旬也。並識之以為不究病情，好服溫補者鑑。</p>
<p>施瀛洲體豐色白，夏月在紹患瀉，醫進參、朮、桂、附、熟地、四神之類，略無寸效。季冬來杭就診於孟英。其脈微弱，左手及右尺沉取有弦數之象，眩暈形消，舌色深紫，無苔不渴，納食腹脹，溲少而赤，瀉必腸鳴。中氣固虛，理應投補，但不可佐滋膩以滯中樞，而助其溜下之勢；又不宜雜燥熱以煽風陽，而壯其食氣之火。予參、耆、朮、苡、升、柴、苓、澤、香連為劑，吞通關丸，乃宣清升降補運兼施之法也。服之良效，浹旬舌淡溲行，脹消暈止，惟大便未實耳，去苓、澤、升、柴、香連、通關丸，加菟絲、木瓜、橘皮、黃柏、石脂、白芍善後而瘳。</p>
<p>兩間之事，兩兩間之理為之。故有一事必有一理，無可假也。王丈孟英之處事，必曰近人情。蓋近情，即不遠於理矣。丈內行純篤，人無閒言。其精於醫也，孳孳焉以濟世為懷，駸駸乎入古人之室。貧而得肆其志，肥遁無不利焉。《醫案三編》梓成，吾祖既序之，益孫幼蒙期許，今逾壯歲，方愧理未明、情未協，顧猶不以為不肖，命贅數語於後，謹述平昔之得聞於丈者，以志三世至交，不勝欽佩云。世晚莊益孫謹跋。</p>
<p><u>弟王士俊季傑校字</u></p>
