<header data-type="book">
<h1>履霜集</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>臧達德</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十四冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521062">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>蓋醫者，意也。借望聞問切四者，以一己之心理，而揣度夫病理，援五行生剋之標榜，而定其所傷何部，以形式而論，似屬談空，細繹之，固有至理在焉。醫學者，實理學也。即古聖所謂格致學也。憑一人有限之心理。而揣摩夫無限之病理。淺試之，未能盡中夫病竅，故自軒岐以來，四千餘年，名醫輩出，著作汗牛，非偏於涼清，即偏於溫補，偶有得竅之方法，或終身秘而不宣，或傳授不肯盡言而自秘，私心不死者眾。故諺云：「醫者後世不昌。」是作也不敢云無所偏謬，實系家傳三世臨症確驗，雖屬一得之愚，洵堪自信。本邑王鶴侶先生，亦醫友也。屢勸付梓，以廣流傳，爰詳加校定，以便付印，並擬數言，以志緣起於簡端云。</p>
<p><u>清嘉慶十九年八月上旬識於五蓮山之望海書樓，山東諸城縣臧達德公三氏自識，時年六十有五歲</u></p>

<h1>卷一</h1>

<h2>男子虛損癆症</h2>
<p>男病莫重於癆，為其根本傷也。先天根本腎也，後天根本脾也。腎乃藏元氣者也，脾乃養形體者也。治宜分陰分陽，滋腎補脾，以久取效。但世多勞心好色，以致陰虛火動。人見陰虛火動，往往專事清潤。不知癆症多死於泄瀉，泄瀉多由於寒涼，此至著至確者也。傷在根本，治在枝葉，寧有當乎？故特辨之。</p>

<h2>婦人胎前產後</h2>
<p>婦人病，先須調經，經調則無病矣，故調經科居首，而通經止血科次之，保胎救產科又次之。惟大補科居終收功，神而明之，存乎人耳。或謂婦人胎前產後，有三十六症，豈六科所能盡乎？然三十六症，無非六科之變症也。但治其本，百標自愈矣。</p>

<h2>虛損癆症總論</h2>
<p>經云：男子之癆，起於傷精。精不足則氣失資化，氣不足則血失所榮，血不足則氣無所附。蓋腎為真水，腎氣竭，而微陰不能與胃氣上升，以接清陽之氣，則元氣下陷，相火大旺。火旺則真陰愈爍，遂發躁熱。火衝上焦，發熱咳嗽，喘急吐痰，吐血，肺癆，肺癰等症。火結下焦，發熱淋濁，結爍遺精，盜汗腹疼等症。然其症必各見於一經，如現有精濁，兼之脛酸，腰背拘急，則其邪在腎也。現有喘咳嗽血，鼻塞聲重，知其邪在肺也。現有咯血多汗，加之惕驚，口舌生瘡，知其邪在心也。現有夢遺，加之脅痛，多怒頸強，知其邪在肝也。現有泄瀉，加之腹疼痞塊，飲食無味，知其邪在脾也。大抵陰虛多，陽虛少，要隨症調理。世之治者，往往用四物補陰，黃柏、知母降火。不知陰虛者，乃腎中之真陰虛也，非四物陰血之理也。火者，龍雷之火也，非寒涼所能降也。況血藥嘗滯，必至減食，血藥常潤，必至滑腸。黃柏苦寒，尤能減食，知母甘寒，尤能滑腸，二味俱瀉腎中實火。丹溪云：實火可瀉，虛火可補。癆症之火，虛乎實乎？瀉之可乎？即有知補者，而用藥頗多疑難，以保肺則妨脾，保脾則妨肺也。須知燥熱而甚，能食而下瀉者，潤而補脾，亦不可缺也。若虛羸而甚，食少腸滑，雖多喘咳，惟當補脾，而清潤宜戒，故古人治癆，補腎兼補脾。蓋水為天一之元，土為萬物之母，二臟安和，諸經各治，所謂土旺而金生，水旺而火熄，誠不易之論也。經云：受補者可治，不受補者不可治。故丹溪專主滋陰，其癆方用參者，十之八九。葛可久神於治癆，其垂著十方，多用人參。自王好古有肺熱傷肺之說，後人畏參不用，束手待斃，良可悲也。然肺經自有熱者，肺脈必洪數，按之而實，未合用參。若火來乘金，肺脈雖洪數，按之必軟，金氣大傷，非參安能保之？亦在乎用藥者之認症的確，活變不滯耳。</p>

<h2>陰虛陽虛論</h2>
<p>經云：治病必求本。蓋陽病陰必虛，口乾舌瘡，咽疼涕唾稠黏，咳嗽手足發熱，小便黃赤，大便燥結，面必赤，無根之火載於上也。脈弦數而疾，下午及夜尤甚，宜用滋補，或六味地黃丸，或早服九味地黃丸，晚服補心健脾丸，不可偏用苦寒知柏之類。咽瘡失音者難治。陰病陽必虛，火衰不能上行，腐熟水穀，唾痰白，胃逆不納飲食，食亦不化，手足逆冷，小便多，遺精白濁，大便溏泄，面不赤，火入於內也。脈沉緩無力，上半日轉劇，宜用溫補，或八味丸，或加減八味丸，或補中益氣湯，因症加減，不可偏用辛香丁附之類。泄瀉不止者難治。總之癆症須分陰陽，然後可施治，否則陰虛補陽，陽虛補陰，誤人多矣！</p>

<h2>陰虛似陽論</h2>
<p>陰虛之病，反覺惡寒足冷，嘔吐自汗，或見小便清長，與精滑頻溺之狀，似陽虛之症，不可作陽虛治之。惟其脈必澀數，口必乾燥為異。雖有惡寒足冷之勢，以其相火動，火極似水也。如陽虛病而有前項之症，則其脈必微弱，而口中氣息，惟覺寒冷，不覺乾燥為異。</p>

<h2>陽虛似陰論</h2>
<p>陽虛之病，反見夜熱晝止，或咳嗽咽疼，骨蒸煩熱，兩手心焦烙，面紅煩躁，或陽氣不固，而患脫血之狀，似陰虛症，不可誤作陰虛治之。然形症雖如是，其六脈必微弱，或命門之脈衰脫，及手足逆冷為異。</p>

<h2>陰虛發熱論</h2>
<p>陰虛者謂勞，好色內傷真陰也。真陰既傷，陽無所附，故發熱。世之不治者，因陰字認不真，誤以為陰，故用四物補陰，知柏降火，百不救一。不知腎中之真陰，即先天也。內經云：真水竭，則隆冬不寒。真火息，則盛夏不熱。必須六味八味，出入增減，以補真陰，屢用屢效。有一等假熱之症。煩擾狂越，不欲近衣，欲坐臥泥水中，甚者煩極發躁，渴飲不絕，面如塗朱，身如焚繚，足心如烙，吐痰如湧，咳嗽喘急，大便秘結，小便淋瀝，三部脈洪大而無倫，當是時也，卻似承氣熱症，承氣入口即斃。卻似白虎症，白虎下咽即亡。若用八味六味丸，緩不濟事。急用加減八味丸料一斤，內有肉桂一兩，水煎五六飯碗，冰冷與飲，諸症自退。異日必畏寒脈脫，是無火也。當補其陽，急服八味丸自愈。此病俱變其常，而不以常法治者也。</p>

<h2>滋陰降火論</h2>
<p>滋陰者，謂滋其陰，而火自降。當串講，不必降火也。蓋人之身，陰常不足，陽常有餘。況節欲者少，過欲者多，精血既虧，相火必旺，火旺則陰愈消，宜常補其陰，使陰與陽平，則水能制火，水能降火，斯無病矣。故丹溪發明補陰之說，謂專補左尺腎水也。或謂少年腎水正旺，似不必補。然欲心正旺熾，妄用太過，至於中年，欲心雖減，少年斫喪既多，焉能得實？及至老來，真水漸絕，只有孤陽，故補陰之藥，自少至老，不可缺也。但水虛者固多，火衰者亦不少。當於二尺中，各分陰陽虛實，求其所屬而平之。如左尺脈虛弱細微，是左尺之真水不足，用六味丸。右尺脈遲軟沉細而數，是命門之相火不足，用八味丸。是皆滋其先天之化源，實萬世無窮之利也。</p>
<p>臧公三曰：人之陰虛，猶樹之根枯，始宜以滋腎為主，繼宜以參耆救肺，虛則補母之義也。若不先用六味，壯水以鎮火，而遽投參耆以補陽，反使陽火愈旺，金益受傷，豈藥之罪哉？所謂不識先後者也。</p>

<h2>先天真水論</h2>
<p>先天根本腎也。腎者水臟，水不足，則龍雷之火，無畏而亢上。劉河間所謂腎虛則熱是也。古聖論脈，謂人生之有尺脈，猶樹之有根，所以足於精者，百病不生，窮於精者，萬邪蜂起。先哲窺見原本，亟保北方，以厚生命之根。而昧者多以知柏為滋陰上品，不問虛實而概投之，則滑腸寒胃，陽明受戕，何以化榮衛而潤宗筋？經云：壯水之主，以鎮陽光。六味丸是也。</p>
<p><u>六味地黃丸</u></p>
<p>大懷生地八兩，酒潤開，重湯煮極透，杵膏聽用，山萸肉四兩，去淨核微蒸，懷山藥四兩，炒過再用乳拌蒸，白茯苓三兩去皮，乳拌穀米飯上蒸透，粉丹皮三兩去骨酒洗，白澤瀉三兩去淨毛，小便勤者減半，共末煉蜜，並煎杵膏為丸，丸如梧桐子大，空心淡鹽湯下三錢。</p>
<p>按：地黃、山茱萸味厚，為陰中之陰，故補腎陰，山藥、茯苓甘淡，能制濕滲濕，故云滲腎經，澤瀉、丹皮鹹苦，能潤下降火，故伏龍雷之火，右方水泛為痰之聖劑也。</p>
<p><u>九味地黃丸</u></p>
<p>熟地黃四兩杵膏，山萸肉二兩去淨核微蒸，懷山藥三兩炒，再用乳拌蒸，白茯苓三兩去皮蒸透，粉丹皮二兩，去骨酒洗，白澤瀉一兩去淨毛，小便勤者減半，加人參二兩去蘆，麥冬二兩去心，遼五味一兩炒，煉蜜並前杵膏為丸，如梧子大，空心熱水服三錢。</p>
<p>按：六味地黃丸，天一生水之良劑也。而又加味何也？經云：虛則補其母。蓋肺為腎母，人參補之，麥冬清之，五味斂之，所以滋其上源也。右方不燥不寒，兼理脾胃，治陰虛龍雷之火，至和平，至應驗，久服則灼陰之火自除，濟火之水益滋，效在六味丸之上，不必用七味及治之方也。</p>

<h2>先天相火論</h2>
<p>經云：兩腎中間，一點是真精，即命門相火也。蓋一陽生於二陰之間，所以位乎北，而成乎坎也。人非此火，無以運行三焦，腐熟水穀，生化之源，或幾乎息矣。此火與人火不同。人火者，可以濕伏，可以水滅，可以直折，黃連之屬，可以制之。相火者，龍火也，雷火也。寄於肝腎之間，乃水中之火，若用黃柏、知母苦寒之藥，又是濕伏水減，直折龍雷之火愈發矣。龍雷之火，每當濃陰驟雨之時，火焰愈熾，惟陽火一照，火自滅息，此得水則熾，得火則滅之一驗也。此相火不可以水滅，而用辛熱之義也。經云：益火之源，以消陰翳。八味丸是也。</p>
<p><u>八味腎氣丸</u></p>
<p>六味丸加肉桂二兩，不見火，大附子一兩，炮製如法。</p>
<p>去附子，加五味，名加減八味丸。</p>
<p>按：肉桂性熱，與火同性，雜在下焦壯水藥中，能引無根虛火，降而歸經，附子健悍，能噓既槁之陽春。右方水沸泛為痰之聖劑也。</p>
<p>製附子法　黑附子擇一兩三四錢重頂圓正，九頂如蓮花瓣，兼底平者佳，先用麵包附子，入火燒熱取出，去淨皮臍，切四大片，用童便、鹽湯、防風湯、甘草湯，浸一二日令透，即用浸附子湯去渣，文火煮附子以湯盡為度，切薄片焙乾，視有白星者。再焙至無白星收用。</p>

<h2>後天脾胃論</h2>
<p>後天根本，脾胃是也。人之有脾胃，猶其家之有餉道。餉道一絕，萬眾立散。脾胃一敗，百藥難施。古聖著脈，謂四時皆以胃氣為本，有胃氣則生，無胃氣則死矣。東垣《脾胃論》，亦有胃中元氣勝，能食而不傷，過時而不飢。脾胃俱旺，能食肥。脾胃俱虛，不能食而瘦。能食而瘦者，胃伏火邪於氣分，則能食。脾虛則肌肉削也。每見世俗，一遇脾胃虛滯，便投山楂、麥芽、香砂、枳、樸之類，甚而用黃連、山梔，以為脾胃良方，不知此皆實則瀉子之法。因脾胃有積聚，有實火，元氣未衰，邪氣方張者宜之。若虛而伐之，則愈虛。虛而寒之，遏其生化之源，則脾胃愈傷。脾胃傷則元氣必耗，陰火上衝，氣高而喘，身熱而煩。脾胃之氣下陷，穀氣不得升浮，是春生之令不行，無陽以護其榮衛，乃生寒熱。經曰：癆者溫之，損者補之。又曰：甘溫能除大熱。故補中益氣，正取其溫養之義也。</p>
<p>經云：水穀入口，其味有五，各注其海，津液各走其道。胃者，水穀之海也。飲食不節則胃病，胃病則氣短精神少，而生大熱。胃既病則脾無所稟受，脾為死陰不主事，故亦從而病焉。形體勞倦，則脾病。脾病則怠惰嗜臥，四肢無力，大便泄瀉。脾既病，則胃不能獨行津液，故亦從而病焉。其所生病之先後雖異，所受邪則一也。</p>
<p>《醫貫》云：人之脾胃，當分別陰陽水火而調之。如不思飲食，此屬陽明胃土受病，須補少陰心火。歸脾湯補心火，以生胃土也。能食不化，此屬太陰脾土受病，須補少陽相火。八味丸補相火，以生脾胃土也。無非欲人培養一點先天之火氣，以補土母耳。</p>
<p><u>補中益氣湯</u>（陽虛宜之）</p>
<p>嫩黃耆錢半蜜炙，人參一錢去蘆，白朮一錢土炒，甘草一錢蜜炙，陳皮一錢，當歸一錢酒洗，升麻三分，柴胡三分，水碗半，薑棗煎服。</p>
<p>按：中者脾胃居中，為四臟之主。氣者中焦無形之氣，所以蒸腐水穀，升降出入，是先天之氣，又為脾胃之主也。</p>
<p><u>補心健脾丸</u>（陰虛宜之）</p>
<p>白茯苓一兩蒸透，陳皮一兩，人參三錢，炙草五錢，當歸身一兩酒洗，白芍八錢炒，棗仁二兩炒透，麥冬六錢去心，桔梗六錢，蓮子八錢去心衣，龍眼肉八錢，山藥八錢炒，煉蜜為丸。</p>
<p>臧公三曰：經云：精不足者，補之以味。《洪範》論味，而曰稼穡作甘。世間謂五穀得味之正，淡食五穀，大能養精。又曰：胃為水穀氣血之海，化榮衛而潤宗筋，是胃強則腎充而精氣旺，胃病則精傷而陽事衰，補後天即所以補先天也。《醫貫》謂，飲食入胃，猶水穀在釜中，非火不熱。夫人腎氣，若壯丹田之火，上蒸脾土，脾土溫暖，中州自運則能化食矣。若房勞過度，則真陽衰憊，坎水不溫，則中州不運，故飲食弗進，胸膈痞塞，或不食而脹滿，或既食而不消，皆下焦真火，不能上蒸脾土，補先天即所以補後天也。故曰先天后天，不得截然兩分。</p>

<h2>虛癆吐痰論</h2>
<p>王節齋曰：痰之本水也，原於腎。痰之動濕也，主於脾。世人用二陳，為治痰通劑，然以治濕痰寒痰則是也。若陰水不足，陰火上炎，肺受火侮，不得清肅下行，故其津液，隨氣而升，凝結成痰，腥穢稠濁，甚則有帶血而出者，此非中焦脾胃，濕痰寒痰之所比，亦非半夏、南星之所治，惟用滋陰之劑，使上逆之火，得返其宅而息焉，則痰自清。投以二陳，立見殆矣。</p>
<p>《醫貫》云：痰者水也。原人身之所有，非水泛為痰，即水沸為痰，但當分有火無火之異耳。腎中之火虛，不能制水，則水不歸源，如水逆行，洪水氾濫而為痰，是無火者也，故用八味丸補火以制水。腎中之水虛，不能制火，則火動而水沸，騰動於腎者，猶龍火之出於海，龍興而水附，動於肝者，猶雷火之出於地者，疾風暴雨，水隨波湧而為痰，是有火者也，故用六味丸補水以制火，此不治痰之標，而治痰之本者也。然有火無火之痰，何以辨之？曰無火者純是清水，有火者中有稠濁白沫為辨耳。至其用藥，於腎虛者，先以六味、八味，壯水之主，益火之原。後以四君子，或六君子補脾以制水。於脾虛者，既先補中、理中以補土，繼以六味、八味制水以益土，子母互相生克，而於治之道，其庶幾矣。《蒙筌》謂，地黃泥膈生痰，為痰門禁藥，以薑汁炒之。嗟乎！以薑汁炒之，則變為辛燥，地黃無用矣。蓋地黃正取其濡潤之品，能入腎經。若雜於脾胃藥中，土本惡濕，安能不泥膈生痰？六味地黃丸諸品，皆少陰經藥，群隊相引，直入下焦，名曰水泛為痰之聖藥，空腹服之，壓以美膳，不留胃中，此古賢立方之妙，又何疑焉？</p>
<p><u>四君子湯</u></p>
<p>人參一錢去蘆，云白朮錢半土炒，白茯苓錢半去皮，甘草八分蜜炙。</p>
<p><u>六君子湯</u></p>
<p>四君子湯加半夏一錢，薑汁炒透，陳皮一錢。</p>
<p><u>理中湯</u></p>
<p>人參一錢去蘆，白朮二錢土炒，乾薑八分，炙草八分。</p>

<h2>虛癆吐血論</h2>
<p>陰虛吐血有二。陰中之火虛，則腎中寒冷，龍雷無可安之宅穴，不得已而遊行於上，故血亦隨火而妄行。八味丸中桂附二味，純陽之火，加於六味純陰水中，使腎宮溫暖，如冬日一陽來復，於水土之下，龍雷之火，自然歸就於原宅，不用寒涼，而火自降，不必止血，而血自安。陰中之水虛，則腎水乾枯而火炎者，去附桂，純用六味丸，以補水制火，血亦自安，不必去火，俱水為主。</p>
<p>夫人之吐血，多起於咳嗽。咳嗽血者，肺病也。方家以止嗽藥，治肺兼治血，而不效何也？腎脈入肺，二臟相連，病則俱病，而其根在腎，腎中有水有火，水乾火然，陰火刑金，故咳嗽。嗽中有痰唾帶血而出者，腎水逐相火炎上之血也。惟六味丸獨補腎水，性不寒涼，不損脾胃，久服則水升火降而愈。又須人參救肺補脾藥收功。</p>
<p>《醫貫》曰：吐衄非陰虛則陽虛。今人一見血症，以為陰虛者血虛也，舍四物何法乎？火動者，熱也。非芩、連、梔、柏何藥乎？咳嗽者，火也，非紫菀、百部、知母何物乎？誰知陰虛之病，大抵上熱下寒者，始而以寒涼進之，上焦非不爽快，醫者病者無不謂道在是矣。稍久則食減，又以食不化，加神麯、山楂，再久而熱愈盛，痰咳愈多，煩燥愈甚，又以藥力欠到，寒涼倍增，而滑瀉腹脹之症作矣。乃以枳殼、大腹皮寬中之藥，快氣之品進之，不危何待？是故咳嗽吐血，時時發熱，未必成瘵也。服四物黃柏之類不已，則瘵成矣，胃滿膨脹，悒悒不快，未必成脹也。服山楂、神麯之藥不已，則脹成矣。面浮胕腫，小便秘澀，未必成噎也。服滲利之藥不已，則噎成矣。成則不可服藥，及至於危，乃曰病犯條款，雖對症之藥，無可奈何，豈不愚哉？</p>

<h2>虛癆咳嗽論</h2>
<p>咳為無痰而有聲，嗽為有痰而有聲，其要皆主於肺，而治之之法，不在於肺，而在於脾，又不專在於脾，而反歸重於腎。蓋脾者肺之母也。腎者肺之子，故虛則補其母，虛則補其子也。如外感風寒而咳嗽，今人率以麻黃、紫蘇之類，發散表邪。如果系形氣病氣俱實者，一汗而愈。若形氣病氣稍虛者，宜以補脾為主，而佐以解表之藥。何也？脾實則肺金有養，皮毛有衛，已入之邪易出，後來之邪，無自而入矣。若專解表，則肺氣益虛，腠理益疏，外邪乘間而入，何時能已也？須以人參、黃耆、甘草補脾，並桂枝以驅邪，此不治肺而治脾，虛則補母之義也。《仁齋直指》云：肺出氣腎納氣也。肺為氣之主，腎為氣之藏。凡咳嗽，暴重，動引百骸，自覺氣從臍下逆奔而上者，此腎虛不能收氣歸元，當以六味腎氣丸主之。勿徒從事於肺，虛則補其子也。</p>
<p>有火爍肺金而咳嗽者，宜清金降火。今之醫書中，論清金降火者，以黃芩、天冬、麥冬、桑根白皮清肺金，以黃連降心火，石膏降胃火，以四物、黃柏、知母降陰火，殊不知清金降火之理，似是而實非，補北方，正所以瀉南方也。滋其陰，正所以降火也。蓋病本起於房勞，不過虧損真陰，陰虛而火上，火上而刑金，故咳嗽，則金不能不傷矣。宜先壯水之主，用六味丸補其真陰，使水升而火降，即以參耆救肺之品，以補腎中之母，使金水相生而病愈矣。</p>

<h2>虛癆發喘論</h2>
<p>內經云：諸喘皆屬於上。又謂：諸逆衝上，皆屬於火。蓋火之有餘，水之不足也。陽之有餘，陰之不足也。凡諸逆沖之火，皆下焦相火，出於腎肝者也。腎水虛衰，相火偏盛，壯火食氣，銷鑠肺金，烏得而不喘氣耶？須用六味地黃丸料，加麥冬、五味子，大劑煎飲，以壯水之主，則水升火降而喘自定。蓋緣陰水虛故有火，有火則有痰，有痰則咳嗽，咳嗽甚則喘也。</p>
<p>有一等似火而非火，似喘而非喘者，其人平日若久病，但覺氣喘，非氣喘也，乃氣不歸元也。視其外症，四肢厥逆，面赤而煩燥惡熱，似火非火也。乃命門真元之火，離其宮而不歸也。察其脈，兩寸浮大而數，兩尺微而無力，或似有而無為辨耳。不知者以其有火也，少用涼藥以清之。以其喘急難禁也，佐以四磨湯之類以寬之。下咽之後，似覺稍快，少頃依然。豈知寬一分更耗一分？甚有見其稍快，誤認藥力且到，倍進寒涼快氣之劑，立見其弊矣。何也？蓋陰虛至喘，去死不遠。幸幾希一線，牽帶在命門之根。易治者以助元接真，溫補下元之劑，俾反本歸元，或可全生，然亦不可峻驟也。且先以八味丸，煎人參生脈散送下，覺氣若稍定，然後以十全大補湯，加補骨脂、牛膝等，以鎮墜之於下，又以八味丸，日夜遇飢則吞服方可。然猶未也，須遠房幃，絕色欲，經年積月，方可保全。不守此禁，終亦必亡而已。聰明男子、當自治未病，毋踏此危機。</p>
<p><u>十全大補湯</u></p>
<p>人參一錢五分去蘆，白茯苓一錢去皮，白朮一錢五分土炒，炙草八分，當歸一錢五分，熟地一錢五分，白芍八分酒炒，川芎七分，肉桂五分去皮，黃耆二錢蜜炙。</p>
<p><u>人參生脈散</u></p>
<p>人參三錢去蘆，五味子二錢研碎，麥冬二錢去心。</p>

<h2>虛癆消渴論</h2>
<p>經曰：二陽結為之消。二陽者，陽明也。手陽明大腸主津液，消則目黃口乾，乃津液不足也。足陽明胃主血，熱則消穀易飢，血中伏火，乃血不足也。結者，結而不潤，燥熱而渴，皆真水消耗所致，宜分三消而治之。上消者肺也。多飲水而少食，小便如常，治宜以肺胃為急，麥冬、花粉、生甘草、生地、乾葛、人參之類。然必由心有事，以致虛火上攻，宜茯神安心，竹葉清火。能食而渴為實熱，人參石膏湯，不能食而渴為虛熱，白朮散。中消者胃也。善食易飢，自汗大便硬，小便數黃赤，治宜甘辛降火，地連丸或豬肚丸。下消者腎也。人之有腎，猶木之有根，因色欲過度，腎水虛衰，足膝痿弱，面黑形瘦，耳焦小便頻數，稠濁如膏，較諸病為重，治宜壯水之主，則渴飲不思，六味丸。若元陽衰敗，宜兼益火之原，八味丸或加減八味丸，蓋無陽無以生陰也。</p>
<p>《醫貫》曰：治消之法，無分上中下。總是下焦命門火不歸元，遊於肺則為上消，遊於胃則為中消，先治腎為急，其間攝養失宜，水火偏勝，惟六味八味，加減八味丸，逐症而服，降其心火，滋其腎水，則渴自止。渴病愈，多發腦疽背癰，宜預先服忍疼膏，黃酒下可免。</p>
<p>趙氏曰：人有服地黃湯，而渴仍不止者何也？蓋心肺位近，宜制小其劑。腎肝位遠，宜制大其劑。如上消中消，可以前丸緩治。若下消已極，大渴大燥，須加減八味丸料一斤，內有肉桂一兩，如煎五六碗，恣意冰冷服之熟眠，而渴病如失。亦在乎人之變通耳。</p>
<p>有一等渴飲，一二口即厭者，此中氣寒，寒水泛上，迫其浮火於口舌之間，故上焦一段，欲得水救，若到中焦，以見水自然惡之。治法如面紅煩躁者，理中湯送八味丸。</p>
<p>三消脈多洪數無力。洪數是虛火，無力是氣血不足，宜滋養不宜燥劑，俱宜服茯菟丸，禁半夏及發汗，更戒厚味酒面，房事等項。</p>
<p><u>人參石膏湯</u></p>
<p>人參五分，石膏一錢打碎，炙草五分，粳米一撮。</p>
<p><u>白朮散</u></p>
<p>四君子加五味子、炒乾葛。</p>
<p><u>地連丸</u></p>
<p>生地黃、白藕，各取自然汁一升，牛乳一升熬成膏，炒黃連末為丸，如綠豆大。每日白湯下三錢。</p>
<p><u>豬肚丸</u></p>
<p>黃連二兩炒，麥門冬、熟地、五味子、花粉各二兩，人參一兩共為末，入雄豬肚內縫，煮極熟搗爛，煉蜜為丸，食後米湯下百丸。</p>
<p><u>茯菟丸</u></p>
<p>菟絲子十兩蒸，五味子七兩炒，白茯苓五兩蒸，蓮子四兩去皮心，共為末，山藥六兩打糊為丸，如綠豆大，米湯下三錢。</p>
<p>臧公三曰：余有一單方，無病寡欲，遇病絕欲，如是則愛念不生，萬慮澄澈，水火自然交媾，何病之有？否則雖藥無功。遇病七戒，不可不知。恣縱慆淫，不自珍重，一也。陰陽莫分，攻補妄投，二也。姑息日久，肌肉消脫，三也。求治心急，陰火愈動，四也。寢興不適，飲食無度，五也。憚服藥丸，過用湯劑，盪滌腸胃，六也。今日預愁明日窘，若拘囚無瀟灑趣，七也。</p>

<h1>卷二</h1>

<h2>調經論</h2>
<p>夫婦人之病，四時所感，六淫七情所傷，悉與男子治法同。惟胎前產後，崩帶經閉，七症八瘕等症為異。究其所因，皆由經不調變生諸症，大概以經如期為要。</p>
<p>岐伯曰：心屬陽主血，脾統血以行氣。經候不調，多由心君不足，思慮傷脾，有所勞倦，穀氣不輸，肺金失養，腎水無資，經血津液，日漸枯涸，所以養心則血生，健脾則氣布，布者則和，氣暢血行，調經之要，斯其至矣。</p>
<p>丹溪曰：經水者陰血也。陰必從陽，故其色紅，稟火色也。血為氣之配，氣熱則熱，氣寒則寒，氣升則升，氣降則降，氣滯則滯，氣行則行，氣清則清，氣濁則濁，每應於月，其行有常，名之曰經。夫經有紫有黑，今人率指為風冷乘之，而行溫熱之劑，禍不旋踵矣。</p>
<p>經云：火熱過極，反化水象。所以熱則紫，甚則黑也。況婦人性情迂滯，臟腑之火，無日不起，非熱而何？若曰風冷，必須外得，間有之耳。</p>
<p>婦人無子，多因七情所傷，氣盛血衰。氣盛者，謂忿鬱之邪氣盛也。所以經候不調，不能受孕，調經種玉湯甚效。若過期而色淡者，加桂、薑、艾。先期色紫者，不可加減。經至之日服起，一日一劑，連服四五劑，則孕子成矣。</p>
<p>薛立齋曰：經水先期為血熱，加味逍遙散。後期為血虛，八珍湯。食少體倦為鬱火，加味歸脾湯。發熱惡寒，為氣血俱虛，十全大補湯。許鶴年曰：經水將行，先一二日，小腹連腰作疼，血瘀氣滯也。當歸、玄胡各二錢，乳香、陳皮、炙草各一錢，煎服自效。經水過期不來，心腹連腰作疼，血虛氣寒也。八珍加小茴、玄胡，或十全大補湯亦效。經水後期或淡紅，痰多血少也。八珍加陳皮、半夏。經水行後作疼，氣血俱虛也。八珍或大補丸俱效。經水不分先後期，紫黑色血熱也。四物用生地，加防風、荊芥穗。如黑豆汁煙塵水，血熱之甚也。前藥加童便或六味丸，腹疼加玄胡。經水不分先後期，紫黑成塊，血熱氣凝也。四物用生地，加防風、荊芥穗、桃仁、紅花、香附、陳皮、青皮。經水不止，遍身四肢浮腫，是脾經血虛也。八珍加木通、陳皮、香附、玄胡。若面目俱腫，是胃經氣虛也。倍白朮、白茯苓，或調經丸與大補丸，相間服之亦效。經水不行，遍身四肢浮腫，是瘀血滲入脾經也。八珍加桃仁、紅花、玄胡、木香，或救產丸與大補丸，相間服之亦效。經水正行之時，忽斷不行，反吐血衄血，是火載血上，氣之亂也。四物加條芩、生地、麥冬、丹皮，或止血丸加童便服，或六味地黃湯。</p>
<p>臧公三曰：血者水穀之精氣，滋養五臟六腑，在婦人上為乳汁，下為經水。雖心主血，肝納血，總統攝於脾。夫人之精血，由脾胃飲食比生，宜補脾胃元氣，以生陰血。仲景治血脫補氣，東垣論陽生陰長，血無單補之理也。若專用四物，則胃氣愈虛，而血無資生之地矣。</p>
<p><u>調經益母丸</u></p>
<p>益母草八兩，砂鍋焙乾、香附末二兩，七制，人參二兩，嫩黃耆三兩蜜水炒，白朮三兩土炒，白茯苓三兩去黑皮，乳拌蒸透，粉甘草三兩，去皮蜜水炒，陳皮三兩，熟地三兩，當歸身三兩，川芎二兩，白芍二兩炒，遠志二兩去骨，水煮片時，酸棗仁三兩炒透，蓮肉二兩去皮心。上藥為末，用龍眼肉六兩，好黃酒製爛，杵膏和煉蜜為丸，每丸重三錢，曬乾收用。病輕者，日用一丸研末，或熱黃酒下，或蜜湯下。有痰者，薑湯下。病甚者，朝夕各一碗，以愈為度。或丸如綠豆大，每服三錢，亦可。余仿此。</p>
<p>七制香附法　香附一斤，黃酒、米醋、鹽湯、童便、薑湯、艾湯、米泔，共浸香附，春五日，夏三日，秋七日，冬十日，剖開無白心為度。將原湯澄清，煮米湯盡，曬乾聽用。</p>
<p><u>逍遙散</u></p>
<p>當歸酒拌，白芍酒炒，白茯苓去皮蒸，白朮土炒，柴胡各一錢，炙草五分，加牡丹皮童便炒，梔子姜炒黑各五分，名加味逍遙散，水煎服。</p>
<p><u>八珍湯</u></p>
<p>四君子湯四物湯合用，薑棗引煎服。</p>
<p><u>歸脾湯</u></p>
<p>人參去蘆，白朮土炒，茯苓去皮，龍眼肉去核，酸棗仁炒透各一錢五分，遠志肉去骨，甘草水煮片時，當歸身、黃耆蜜水炒各一錢，炙草五分，木香三分，加山梔、丹皮，名加味歸脾湯。</p>
<p><u>十全大補湯</u></p>
<p>人參一錢五分，白茯苓去皮一錢，白朮土炒一錢五分，炙草一錢，當歸一錢，熟地一錢五分，白芍炒八分，川芎七分，肉桂五分不見火，黃耆二錢蜜水炒。</p>
<p><u>四物湯</u></p>
<p>當歸酒洗，熟地各二錢，白芍一錢五分炒，川芎一錢。</p>
<p><u>調經種玉湯</u></p>
<p>熟地一錢五分，當歸身酒洗，吳茱萸炒，川芎、白芍炒各一錢，白茯苓蒸，香附米便制，玄胡索炒，粉丹皮、陳皮各八分，乾薑、艾葉各五分，官桂三分，空心溫服。</p>

<h2>通經論</h2>
<p>婦人壯盛經閉者，此血實氣滯，宜專攻也，救產丸主之。虛弱經閉者，此血枯宜專補也，大補丸主之。半虛半實經閉者，宜攻補兼施之。有積塊經閉者，宜養血破積也，通經丸與救產丸主之。王節齋曰：經閉不通，多有脾胃損傷而致者，不可便認作經閉血瘀，輕用通經破血之藥通之。須審其脾胃如何？若因飲食勞倦，損傷脾胃，少食惡食，泄瀉疼痛，或因誤服汗下攻克之藥，傷其中氣，以致血少而不行者，致宜補養脾胃，脾旺則能生血，而經通矣。丹溪曰：婦人經閉，看因何所致？而用何方以治之，不可執一。《內經》云：損其肺者，益其氣。損其心者，益其榮衛。損脾者，調其飲食，適其寒溫。損其肝者，緩其中。損其腎者，益其精。許鶴年曰：脾胃虛弱，不能生血而經閉者，四君子或六君子加當歸、川芎。虛寒者，加砂仁、炮姜。脾胃鬱火，銷鑠其血而經閉者，加味歸脾湯。肝脾血燥，自汗盜汗，內耗其血而經閉者，加味逍遙散。脾胃氣血虛弱，內熱脯而經閉者，八珍湯加童便、丹皮。肺氣虛損，不能行血而經閉者，補中益氣湯。腎水虛弱，不能生肝木，血虛發熱，損傷真陰而經閉者，六味地黃丸。</p>
<p>臧公三曰：經云：婦人之癆，起於經閉，因血虛不榮經絡故也。蓋血虛則發熱，發熱則心傷，不能養脾，故不嗜食。脾虛則金虧，故咳嗽。金虧則腎水虛衰，木氣不榮，益發燥熱。或以為血熱，用涼藥解。不知血熱則行，血涼則凝，遂成敗症。當養脾胃滋陰血，血足而熱自退，則火不刑金，金不受克，則腎水有資，氣血漸充，經脈自通。若用破血之藥，反傷脾土，金愈虧水愈竭，骨蒸癆瘵之症成，而大費調理矣。雖然，又當通其變治之，如服滋補藥不效，壯盛者宜服救產丸通之。何也？勞傷經閉，亦有瘀血也。瘀血不去，則新血不生，則經水不行矣。</p>
<p><u>通經益母丸</u></p>
<p>益母草上截用八兩，香附米三兩，七制，桃仁三兩去皮尖，曬乾麩炒，雙仁勿用，紅花三兩酒炒，當歸四兩酒洗，白芍四兩酒炒，白朮四兩土炒，白茯苓四兩乳拌蒸透，粉甘草三兩蜜水拌炒，陳皮三兩，丹皮三兩去骨，丹參三兩酒洗，共為末煉蜜為丸，丸重三錢，服法同前。</p>

<h2>止血論</h2>
<p>丹溪曰：血從上竅口鼻出者，皆是陽盛陰虛，有升無降，血隨氣上，越出上竅，治法宜補陰抑陽，氣降則血自歸經矣。</p>
<p>許鶴年曰：婦人血崩有二：一因虛，一因熱。虛則下陷，四物加參、術之類。熱則妄行，四物加芩、連之類。若虛熱，宜服止血湯。但崩後氣血必虧，大補為主。</p>
<p>龔西園曰：婦人交腸病，謂糞從小便出，尿自大便出也。乃夏月伏暑而致，須用五苓散加牛膝、車前子、木通，俱令大小便各歸本臟即安。</p>
<p>臧公三曰：失血之症，非止一端，大概俱是熱症，但有新舊虛實之不同，或妄有寒者誤也。若新起屬實熱者，宜養血清火，止血丸主之。若日久屬虛熱者，宜溫補氣血，大補丸主之。若瘀血停滯腹疼者，宜疏通之，救產丸主之。蓋虛實不同，故治法有所異也。</p>
<p><u>止血益母丸</u></p>
<p>益母草上截用八兩，大薊用四兩陰乾，香附三兩，用童便制，丹參三兩，條芩四兩，去皮酒炒，熟地黃八兩，杵膏忌鐵，萸肉四兩去核，乾山藥四兩酒炒，白茯苓三兩，去皮蒸熟，丹皮三兩，去骨酒洗，澤瀉三兩去淨毛，煉蜜為丸，丸重三錢，服法同上。</p>
<p><u>止血湯</u></p>
<p>當歸頭一錢五分，川芎八分，白朮一錢土炒，炙草一錢，白芍一錢五分炒，黃芩八分酒炒，生地一錢酒洗，乾薑四分炒黑，升麻五分，棕灰六分存性，空心煎服。</p>

<h2>赤白帶下論</h2>
<p>丹溪曰：婦人帶下，脈宜遲緩虛小，不宜急疾緊大。或因六淫七情，或因產育房勞，或因膏梁厚味，或因服燥熱之藥，致脾胃虧損，滲入膀眺，流為稠物，故云帶也。帶有青紅黑白黃之殊，皆應五臟之色。中焦之濕熱薰蒸，則帶為腥腐之氣。凡此皆宜壯脾胃升陽氣為主，佐以各經見症之藥，俱酌加炒山梔，以解中焦之濕熱。若傷心經，則帶色紅，逍遙散加黃連、山梔。若傷脾經，則帶色黃，六君子湯或歸脾湯加柴胡、山梔。若傷肝經，則帶色青，逍遙散加丹皮、山梔。若傷肺經，則帶色白，補中益氣湯加白茯苓、山梔。若傷腎經，則帶色黑，六味地黃丸。若氣血俱損，八珍湯。許鶴年曰：赤帶濕熱傷血分，血不足則生熱，熱逼血而錯經妄行，加味四物湯以養血。白帶濕熱傷氣分，氣不足則生濕，濕滯氣而痰積，加味六君子湯以補氣。赤白相兼者，氣血內虛，加味八珍湯，以補氣血。</p>
<p>臧公三曰：脾氣不足，則不能過化津液而生濕。脾血不足，則不能滋潤一身而生熱。濕熱傷其氣血，以致陰虛陽弱，榮血不升，衛氣下陷，滲入膀胱為稠物，名之曰帶。健脾氣則濕消，養脾血則熱退，而帶有不愈者鮮矣！</p>

<h2>保胎論</h2>
<p>夫氣為陽，陽氣壅則熱盛，和順則熱清。先哲云：調理胎前，清熱養血為主。保胎丸生血行氣藥，血生則胎有所養，氣行則熱清而胎穩。尤當因病加味，百不一失。如氣虛加人參，血虛倍當歸、熟地，嘔吐少食加砂仁，食不化倍白朮，稍加神麯，咳嗽倍紫蘇，痰涎壅盛，倍陳皮、條芩，胎漏下血，倍條芩加糯米，心神不寧加遠志、茯神，小便淋閉，大便閉滋加人乳、童便。至八九個月及十月，形體成就，宜進瘦胎易產之劑。婦人素壯，胎肥氣實，微加枳殼，以散滯氣，氣順則縮胎而易生。婦人素弱，胎怯氣虛，加白朮以益元氣，氣壯則能送胎而易產。服得人參者，加人參更妙。龔金溪曰：妊娠脈息和順，但肢體沉重，頭暈擇食，甚者寒熱嘔吐，胸膈煩悶，名惡阻。謂噁心阻其飲食，切勿作寒熱症治，宜保生湯或茯苓補心湯加竹茹。孕婦小便澀痛頻數，謂子淋，乃腎與膀胱虛熱，不能制水也，宜子淋散。妊婦小便頻數，出少不疼，謂轉胞，宜五苓散去桂加阿膠。妊婦經水時下，謂胎漏，屬氣血兩虛，有熱，宜膠艾四物湯。妊娠覺氣不安，或腹疼或腰疼，或飲食不美，或胎動下血，宜安胎飲。妊婦心腹作疼，宜香歸止疼散。</p>
<p>許鶴年曰：妊婦病傷寒，煩躁之極，勢必小產，宜急取鍋底多年燒紅土三四碗，好醋調稀，掃病婦腹上三寸厚，干即再換，待汗出盡去。此方不惟保胎，亦能催胎。</p>
<p>臧公三曰：婦人墜胎，因氣血虛損，無所榮養而然也。夫胎之在腹，如果之在枝，枝枯果落，理之自然。婦人胎動而墜者，大抵不外屬虛屬火二者之間，清熱養血盡之矣。外此而動脈者，又不可不知。或因飲食不節，或因勞倦太過，或因外感風寒，或因負重閃挫，或因跌僕擊觸，或因房事相犯，或因怒氣傷肝，或因鬱氣傷脾，俱能動胎，宜保胎丸救之。然胎有傷之輕者，服之而胎穩。傷之重者，必致損墜。若妊婦腹疼，驗其面赤舌青者，此胎已死，急用救產丸下之，以救其母。下後必虛，繼服大補丸。</p>
<p><u>保胎益母丸</u></p>
<p>益母草上截三兩，香附米二兩童便制，熟地黃三兩，歸身三兩，白芍三兩酒炒，川芎二兩酒洗，蘇梗二兩忌鯉魚，陳皮三兩，炙草二兩，白茯苓二兩，白朮二兩，條芩二兩酒炒，蓮肉二兩去皮心。共為末，煉蜜為丸，丸重三錢，服法同前。</p>
<p><u>保生湯</u></p>
<p>人參、炙草各一錢，白朮土炒，陳皮、香附七制、烏藥各二錢，加生薑煎服。</p>
<p><u>茯苓補心湯</u></p>
<p>當歸、川芎、白芍炒、熟地、白茯苓去皮、桔梗、前胡、紫蘇、陳皮各一錢，乾葛炒、炙草、人參、半夏、香油、薑汁炒各五分。</p>
<p><u>子淋散</u></p>
<p>麥冬去心、赤茯苓、大腹皮洗淨土泥，薑汁拌炒，甘草、淡竹葉，水煎服。</p>
<p><u>五苓散</u></p>
<p>豬苓一錢，澤瀉一錢，白朮一錢，茯苓八分，加阿膠八分。</p>
<p><u>膠艾四物湯</u></p>
<p>當歸、川芎、白芍酒炒、條芩酒炒、白朮土炒、熟地砂仁炒、香附童便炒黑、真阿膠蛤粉炒珠、艾葉少許，用粳米同煎服。</p>
<p><u>安胎飲</u></p>
<p>白朮土炒二錢，條芩炒一錢五分，砂仁炒熟地、陳皮、當歸、白芍炒各一錢，川芎、紫蘇各八分，甘草四分。</p>
<p><u>香歸止疼散</u></p>
<p>當歸身二錢酒洗，炙草一錢，元胡炒一錢，乳香一錢，水煎服。</p>

<h2>救產論</h2>
<p>夫婦人臨產之初，宜選一善熟穩婆，及得力家人，勿使張皇，以驚產婦。腹疼且令扶行，或疼或止，名曰弄疼。不可使試水手探，亦不可屈腰睡臥。如連腰引疼，眼中如見火光，此是兒轉，不可坐草，恐兒在腹難以轉側，及胞漿先破，子道乾澀，皆至難產。必至腹相引，頻頻陣疼，難以行立，然後坐草。抱腰之人不得傾斜，則兒順易產。若久坐不產，熱黃酒下救產丸一粒。夫當臍腹疼痛之初，兒身才轉而未順，若用力一逼，用藥一催，遂至橫生逆產，所以臨月之時，待胎自轉下，必頭對產戶，方用藥一催，補其血而順其氣，使子易生，而胞易落也。產訖，用益母草五錢，當歸二錢，川芎一錢，水煎，加童便、黃酒各一盞，進三服，百病不生。上床時仰臥立膝，勿伸足，勿便睡。不可以得男為喜，過喜則傷心，恐生紅汗之症。不可以得女為憂，恐有敗血傷心之患。惟食粥，勿令過飽。若胎衣不下，是血胞中為血所脹，宜將胸間用帶束住，恐上衝心胸，喘急疼痛，必至危殆。再以物墜住臍帶，用意拴縛，然後截斷，急服救產丸一二枚即下，慎勿妄用手法。</p>
<p>王叔和云：新產之脈緩滑吉，實大弦急死。來侵寸口，焱疾不調死。沉細附骨不絕生。蓋產後扶虛消瘀，脈卻宜虛小也。</p>
<p>《醫鑑》云：婦人產後發熱惡寒，有去血過多者，有惡露不盡者，有三日乳蒸者，有早起勞倦者，有飲食停滯者，俱狀類傷寒，不可輕易汗下。蓋產後氣血空虛，若汗之，必鬱冒筋惕肉瞤，昏迷不省，手足搐搦，大便閉結。若下之，則痢不止。昏沉厥逆等症，俱宜溫補氣血為主。</p>
<p>金溪曰：婦人產後，血暈下一，要因症調理。下血少而暈者，是敗血衝心，心下脹滿，神昏口噤，不省人事，宜破血行血之藥治之，救產丸、失笑散選用。下血多而暈者，是去血過多，心無血養，神昏煩熱，宜補血養血之藥治之，八珍湯、十全大補湯、大補丸、獨參湯選用。用力太過而暈者，是去血過多，氣無所附，陽隨陰散，宜養血補氣之藥治之，補中益氣湯倍歸身加香附、六君子加芎歸、八珍湯、芎歸調血湯、當歸補血湯選用。</p>
<p>《醫貫》曰：產後及大失血後，陰血暴傷，必大發熱，亦名陰虛發熱。此陰字正謂氣血之陰，若以涼藥正治，立見其危殆，此時不可用四物。經云：有形之血，不能速化，無形之氣，所宜急固。須用獨參湯，或當歸補血湯，此陰生陽長之義也。</p>
<p>許鶴年曰：產後心腹作疼，手按而痛愈甚，此是血滯，四物湯加桃仁、紅花、炮薑、澤蘭、益母，補而散之。手按而疼稍緩，此是血虛，四物加人參、白朮、炮薑、益母，補而養之。疼而作瀉，是脾虛不能運化，六君子加肉蔻。疼而作嘔，是胃虛不能受納，六君子加砂仁。</p>
<p>《醫貫》曰：產後發熱惡寒，由脾胃虧損，氣血不足也。經云：陰虛則熱，陽虛則惡寒。大抵陰不足，陽旺乘之，則陽下陷於陰分而發熱。陽不足，陰旺乘之，則陰上逆於陽分而惡寒。此陰陽不歸其分，以致寒熱交爭，故發熱而惡寒也。且不可用汗藥發表，涼藥降火。若寒盛用補中益氣湯，熱盛六味地黃丸。</p>
<p>許立齋曰：產後惡露未盡，兒枕疼，必脅肋脹滿，連大小腹有塊作疼，用桃仁、紅花、當歸、川芎、丹皮、白芍，行血破血，加炮姜以行瘀。若虛宜另行溫補。</p>
<p>許鶴年曰：產後玉門不閉，發熱惡寒，氣血虛也，十全大補湯加五味子，切忌寒涼。產後生腸不收，發熱畏寒，氣下陷也，補中益氣湯倍升、柴。產後感瘧，亦氣血虛，補中益氣湯，寒盛倍黃耆，熱盛倍柴胡。產後大便閉結，氣血虛衰，腸胃結澀，不可輕用通利之劑，損傷元氣，宜養血潤燥，當歸、熟地煎湯，入人乳、童便、黃酒日三服，以通為度。產後小腹急疼小便閉，八味地黃湯加車前子、牛膝。產後血不止，用生藕汁一杯、黃酒一杯煮熟，空心服之，以愈為度。</p>

<h2>小產論</h2>
<p>夫婦人懷胎大產，十月已滿，陰陽氣足，兒自折胞而出，此是時至自生，如瓜熟蒂落，粟熟殼開，乃造化自然之妙。小產如摘生瓜，如採生粟，破其皮殼，斷其根蒂，非自然者。蓋胎臟損傷，胞系腐爛，然後墜胎，豈不重於大產？治法尤宜補養形氣，生新血，去瘀血為主。</p>
<p>臧公三曰：丹溪謂產後當大補氣血，雖有雜症，以末治之。誠不易之論也。原夫妊婦向以氣血養胎，而體固不甚厚，況產後大耗氣血，是虛而又虛者也。安得不大補？外此又當通其變而治之。夫胎妊既分，而久積之汙血，須該盡脫。若猶未盡，腹中必硬疼，宜用破血，如救產丸之藥行之。必要惡露驅盡，方用補劑，乃為正治。</p>
<p><u>救產益母丸</u></p>
<p>益母草八兩，香附四兩，鹽、酒、童便制，蒼朮四兩，米泔浸炒，澤蘭葉四兩，桃仁四兩，去皮尖，麩炒，雙仁勿用，元胡四兩酒炒，當歸二兩，川芎二兩，牛膝二兩，俱酒炒，炙草二兩。共為末，用大黃膏為丸。</p>
<p>川大黃十兩研細，蘇木三兩，河水十餘碗，煎汁三碗，炒紅花三兩，用黃酒十餘碗，煎汁三碗，黑豆三碗，河水煮煎汁三碗。先將大黃末入鍋，投好醋七八碗攪勻，以文武火煎之。再入醋二次，不住手攪熬成膏，次入紅花、蘇本、黑豆汁，攪大黃膏內，再用文武火煎成膏，將前藥末為丸。每丸曬乾重二錢，收用最效。</p>
<p>治產難、橫生、倒產，胎衣下下，併產後血暈眼花，有語錯亂，心悶口乾，寒熱似瘧，四肢浮腫，癲狂不語，瀉痢腹疼，大小便閉結，下血如湧，胸膈氣滿，嘔吐不安，咳嗽喉中似蟬聲，面黃舌乾，鼻中流血，遍身生黑點血斑。將丸研細末，用黃酒送下一丸。若子死腹中，產母必腹冷脹疼，上則口角嘔沫，下則小便流血，手足冰冷，指甲青黑，急以車前子一錢，去殼炒香研末，同丸熱酒服之，死胎即下。諸症服一兩丸，病愈即止。繼服大補丸，收功可也。</p>
<p><u>立效散</u>　治產難胎衣不下。</p>
<p>真芝麻油、蜂蜜、童便各半茶盞，滑石二錢為末，共入一磁壺內，頓二三滾入碗內，加生雞蛋清一個，遂攪即服立產。若橫生逆產，加蔥汁半茶盞，攪勻服之即正產矣，最效。按：藥料不費多錢，能救人子母頃刻，真良方。</p>
<p><u>芎歸補血飲</u></p>
<p>當歸、川芎、白朮土炒、白茯苓、陳皮、香附、童便、熟地黃、烏藥、乾薑炒黑、益母草、炙草、牡丹皮。</p>
<p><u>當歸補血湯</u></p>
<p>黃耆蜜炒一兩，當歸三錢，水煎丸。</p>
<p><u>失笑散</u></p>
<p>五靈脂炒、蒲黃炒各一錢，熱黃酒送下。</p>

<h2>產後類中風論</h2>
<p>夫產後類中風有二：肝經血虛者，其外症遍身手足俱熱，面赤渴飲，口鼻中氣熱，小便黃赤。內經云：肝主筋而納血。產後陰血去多，陽火熾盛，筋無血養，以致手足屈伸不止，俗云發搐是也。治宜六味丸料，加益母草煎服，似補肝血。肝經氣虛者，其外症遍身四肢俱冷，面黃不渴，口鼻中氣寒，小便清白。內經云：脾為太陰而主四肢。四肢俱冷，由元陽衰弱，無氣以溫之也。產時去血過多，氣無所附，以致陽隨陰衰，故四肢冷，亦發搐不止。脾胃虛陷者，補中益氣湯。脾胃虛寒者，十全大補湯。</p>
<p>薛立齋曰：產後類中風者，因產時去血過多，則陰精枯竭，火盛金衰木旺，無制而生風，故發搐不止，皆內傷氣血，非外感風寒也。當大補氣血，宜八珍湯加丹皮，以生陰血，不可祛風之藥。</p>

<h2>產後真中風論</h2>
<p>夫產後氣血內虛，外為風寒濕乘虛而入皮膚經絡，則毛孔閉塞，陽氣鬱結，九竅不利，以致頭疼身疼，發熱惡寒。若傷於風，重感於寒，則四肢筋脈拘攣，無汗而惡寒。若傷於風，重感於濕則四肢筋脈軟弱，有汗而發熱。若風入於臟，則心神不寧，恍惚驚悸，隨所傷而為病。開目為陽風，閉目為陰風。產後得此，乃氣血極虛之危症也，急以十全大補湯，大補氣血，稍佐以祛風之劑。無汗惡寒，加荊芥穗、防風各一錢。有汗發熱，加荊芥穗、軟防風各五分。痰盛加半夏一錢。心悸加白茯苓、遠志各一錢。多服求應，忌服食寒涼。</p>
<p>臧公三曰：產後類中風者，固宜專補氣血。即真中風者，亦當補氣血，微加祛風之藥。《內經》云：風乃氣血之虛象也。縱有外來風邪，亦是乘虛而入，若專治風，是速其危也。</p>

<h2>大補論</h2>
<p>夫婦人虛損成病者，十之八九。壯盛成病者，十之二三。或因虛損而經候不調，或因虛損而經閉不行，或因虛損而吐衄崩帶，或因虛損而小胎不穩，或因虛損而產後多疾。大補丸諸虛之總司，婦科之主帥，但要審病虛實，因症投劑耳。</p>
<p>《醫貫》云：真其為陽虛也，則用補中益氣湯。真其為陰虛中寒也，則用理中湯。真其為陰虛也，則用六味丸。真其為陰虛無火也，則用八味丸。</p>
<p>許鶴年曰：婦人虛勞，惟健脾養血，以致其本，解鬱清火，以致其標，久則血生熱退，經自行勞自愈矣。逍遙散一方，健脾養血解鬱清火之良劑，因加減用之可也。</p>
<p>臧公三曰：婦人虛症，莫要於八珍湯，以氣血兼補也。但肥人氣虛有痰，宜豁痰補氣，四君倍加，四物減半。瘦人血虛有火，宜瀉火滋陰，四物倍加，四君減半。</p>
<p><u>大補益母丸</u></p>
<p>益母草八兩用上截，香附二兩七制，嫩黃耆三兩蜜炒，人參二兩去蘆，白朮三兩土炒，白茯苓二兩蒸透，炙草二兩，當歸身三兩，俱酒洗，白芍二兩酒炒，陳皮二兩，熟地三兩，砂仁二兩炒。做法同前。按經不調，龍眼肉、炒棗仁去心、蓮子煎湯下。經閉，炒桃仁、炒紅花煎湯下。下血，生地、炒芩、丹皮煎湯下。小胎不穩，炒芩、去白陳皮、蘇梗煎湯下。俱四五分為率。產後惡露未淨，腹中心硬疼，先用黃酒服救產丸，下淨瘀血，繼服此丸。若無惡露，多服此丸，補虛為主，感寒加生薑，發熱加童便。</p>
<p>臧公三曰：六科益母丸，治婦人諸症，百發百中，真婦科至寶。但倉惶之際，藥亦難得。若饒裕之家，多制濟人，即是廣行方便，其功不在渡螘下，勝燒香唸佛，求福渺茫者萬萬矣。</p>

<h1>卷三</h1>

<h2>痘瘡發熱</h2>
<p>小兒痘瘡發熱，大抵與傷寒相似。脈多洪數，煩燥臉赤唇紅，或身疼腹疼，頭疼噁心，或呵欠煩悶，咳嗽噴嚏，但耳尖、中指、尻骨，足梢皆冷，及耳後紅絲赤縷顯露者，此其症也。即當體認經絡陰陽明白，不可妄投藥劑，以致誤汗誤下，慎之慎之。</p>

<h2>點分輕重</h2>
<p>痘瘡初發，稀朗紅潤者輕，牽聯乾枯紫黑者重。</p>

<h2>痘分經絡</h2>
<p>呵欠煩悶屬肝，時發驚悸屬心，乍寒多睡屬脾，煩赤嗽嚏屬肺。四經有毒，惟腎無毒。若熱極而為腎水所制，方變黑歸腎也。</p>

<h2>陽症陰症</h2>
<p>瘡色紅盛，譫語弄舌，煩渴不寧，足胭熱，兩腮紅，大便秘，小便澀，氣急，脈洪大而舌上生胎者，乃陽症也，戒用熱藥。瘡色灰白，癢塌陷頂，寒顫咬牙，足脛冷，肚腹虛脹，面白吐瀉，脈沉細而舌上溫潤如常者，乃陰症也，戒用寒藥。若非大熱大寒之症，用藥當以和平為主。</p>

<h2>表裡虛實</h2>
<p>凡吐瀉少食為裡虛，不吐瀉能食為裡實。灰白色陷頂多汗為表虛，紅綻無汗為表實。大凡表裡氣血貴和平，不宜偏勝，陰陽相和為平，陰陽偏勝為病。</p>

<h2>輕變重論</h2>
<p>食生冷，月婦，外人，穢觸，犯房事，誤汗誤下，見點後誤服升麻葛根湯，誤服人參太早，陽症陰虛誤服熱藥，陰症陽虛誤服涼藥。</p>

<h2>重變輕論</h2>
<p>避風寒，節飲食，遠香臭，忌生人，戒酒色，用藥得宜。</p>

<h2>認痘疔訣</h2>
<p>痘大者疔也。紫黑者為疔，臭爛者為疔。若痘瘡灰色不起者，即當認出痘疔，速用銀針，挑斷其根，吮出惡血，即以四聖散塗之。</p>
<p>頭髮灰　珍珠鍛　豌豆　各等分為細末，用好油胭脂調勻，塗入疔瘡內，能令遍身痘瘡，即轉紅活。</p>

<h2>逐日附方</h2>
<p>凡痘瘡初出顏色紅潤者，不須服藥。若隱於肌肉之間，不即見點者，宜服加減升麻湯。升麻四分，桔梗三分，生甘草一分，羌活三分，水一盅，燈心十根，煎三分，不拘時服。</p>
<p>見點二日三日，如粟如黍，光澤明淨，身無大熱者，不須服藥。若熱盛痘多，宜服消毒飲。當歸酒洗、川芎、山楂、連軺去穰各四分，前胡二分去皮，木通二分去皮，甘草一錢，煎法同前。</p>
<p>四日五日，大小不等，根窠紅潤者，不須服藥。若色暗陷頂，及欠起發者，宜服牛蒡子湯。牛蒡子五分炒研碎，當歸酒洗、川芎、黃耆蜜炙、茯苓去皮各四分，桔梗、陳皮、連軺去穰各三分，大腹皮三分酒洗淨土，煎法如前。</p>
<p>六日毒化漿行，痘瘡肥滿者，不須服藥。若欠起發，及不潤澤者，宜服托裡散。當歸酒洗、川芎、黃耆蜜炙、白朮土炒、陳皮、牛蒡子炒研碎、茯苓去皮各五分，桔梗二分，通草二分，水一盅，炒糯米一撮，煎四分，食遠服。若毒已化而漿欠足者，加人參三分。</p>
<p>七日八日，漿來充足，飲食不減者，不須服藥。若痘塌漿虧者，宜服加味保元湯。人參去蘆、白朮土炒、黃耆蜜炙、當歸酒洗、陳皮各五分，通草二分，煎法如前。若發癢，加白芷四分，蟬蛻三分酒洗淨。若漿色虛白，再加人參五分。外用燈心縛成小帚，輕輕掃之。</p>
<p>九日十日，漿老如黃蠟色，或結靨高厚，別無他症者，不須服藥。若漿不足，及靨薄者，宜服十奇散。人參去蘆、白朮土炒、白芍酒炒、牛蒡子、茯苓去皮、陳皮、當歸酒洗各五分，桔梗、通草、炙草各二分，水一盅，龍眼肉五枚，煎四分，食遠服。</p>
<p>十一日十二日，身不潮熱，飲食不減者，不須服藥。若當靨不靨，及痂落無托靨者，宜服解毒飲。當歸酒洗、白芍酒洗、人參去蘆、山楂、黃耆蜜炙、荊芥、牛蒡子炒研碎、防風各五分，炙草一分，水煎服。</p>
<p>若陽症陰虛，各照本方加黃芩二分，黃連四分，俱酒炒。熱甚者，用生黃連、生黃芩各四分，或加柴胡二三分亦可。熱甚發狂，譫語弄舌者，宜服犀角地黃湯。犀角、生地、連翹、黃連、當歸各五分，牡丹皮三分，水一盅，煎四分，不拘時服。</p>
<p>若陰症陽虛，咬牙寒顫，各照本方加制過熱附子二分。製附子法，見一卷八味丸門內。梔子、丁香、麥冬各三分，生薑三片，同煎溫服。若痘瘡靨前靨後，痰咳不止，並飲食銼喉者，各照本方加川貝母、麥冬、杏仁同煎。八九日之外，宜加五味子。</p>

<h2>陰虛泄瀉</h2>
<p>陰虛泄瀉者，宜服調中解毒湯。</p>
<p>陳皮　山藥炒　川芎　白朮土炒　赤茯苓　木通　黃連酒炒　連軺去穰　甘草　山楂肉枚各等分。水一盅，姜皮一小片，蓮肉三枚，煎四分食遠服。如久瀉不止，加訶子肉四分炒。</p>

<h2>陽虛泄瀉</h2>
<p>陽虛泄瀉者，宜服補中健脾湯。</p>
<p>陳皮　山藥　訶子肉煨　人參　白朮土炒　砂仁炒研碎　川芎　木香　各等分，不見火，水一盅，生薑三片，炒糯米一撮，蓮肉五枚，煎四分，食遠溫服。如不止，加肉豆蔻五分煨。如泄甚者，宜用豆蔻丸。肉豆蔻麵裹煨熟去油，木香不見火，砂仁　白龍骨　枯白丸　訶子肉濕紙裹煨　赤石脂　各等分，共為末，神麯糊為丸，如黍米大，每服三十丸，炒米湯下。</p>
<p>臧公三曰：治痘之法，以氣血為主。然氣血盛，故能逐痘毒。而火毒盛，亦能損氣血。急則治其標，緩則治其本，宜補氣血。總以發透托三法為治痘秘訣。</p>
