<header data-type="book">
<h1>醫驗隨筆</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張文藻</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>醫驗隨筆序</h1>

<h1>醫驗隨筆序</h1>
<p>昔韓昌黎見北平馬公嘆日猶高山深林鉅谷龍虎變化不測傑魁人也自余始識　沈丈奉江先生瞻其岸然道貌竊有味乎韓子之言繼又得見先生介弟葆三先生葆三先生以名孝廉覃精內典廣長說法得未曾有國得讀棣萼集先生昆季唱和之作也謝家嗣響心儀者久之先生師孟河馬徵君深入堂奧而穎悟博治敻絕恆蹊性疏曠寓居中隱院一室鬧書左右多蓄古金石余每強謁見病者踵趾相接先生一一洞其癥結而活之診余編摩殆不去手或縱談古今上下旁及世事議論風發泉湧不可方物喜獎借人有一長輒津津樂道不倦與同志組織中醫友誼會及醫刊主持壇坫翕然悅服無間言而先生□如也然後知先生果非常人也甲子秋周君逢儒手錄先生治驗一冊示余囑序余讀之狂喜曰韓子之所謂龍虎變化不測者此殆鱗爪矣乎雖然余之服膺　先生既如上述又安敢嘵舌哉周君固請重以先生之命不護已乃道其所得於先生者而又幸夫周君好學之勤與先生之才之識得此以廣其傳世必有被其澤者非細事也</p>
<p><u>世晚張樹銘伯倩謹序</u></p>

<h1>梁溪沈君事述</h1>
<p>沈君祖復字禮庵號奉江別署鮐翁先世居浙江湖州宋淳熙進士有開官太常博士立朝抗節著直聲為君遷錫始祖累代高隱不仕祖文炳通申韓家言書工鐘王法父堯甲溷跡商界素精計學君生時父年四十有弟二兆英早卒祖經登丁西科賢書君幼頴梧讀書史過目輒成誦貌魁梧有獨立性伉爽不阿年十二歲執筆論古人不屑拾人牙慧應郡縣試輒冠其曹郡尊長白桐公澤邑候浙江吳公觀樂賞其文錄為門下士（校卷秀水沈太史衛常熟龐主政宗瑚南元陸公正福）有風度端礙芳蘭竟體之譽君為文詞藻富麗才氣磅礴灝瀚惟於風檐寸晷不暇推敲以故屢摘屢躓遂援例納粟為國子生赴鄉闈郁不得志因遨遊古越瀏覽西子湖名勝謁岳王墓憩冷泉亭翛然有瀟灑出塵風致既權寓浙課顧氐子祖瑛昆仲讀閱一載以父衰病旋里應城西高司馬承祖凌明經學攽聘督課兩家弟子凡六七年內顧家計外任學實力培植成名說者咸謂君孝友出於天性云歲甲午前出使英法義比大臣薜星使福成任滿歸國猶子聰彝明府與君交莫逆延校天蓋樓文集者累月適中日失和君傷懷時事淡於進取平昔攻健全學嘗概慕歐西裴乃德龍蒲束及國朝徐大椿為人至是喟然曰大丈夫不為良相定為良醫遂執贄孟河馬徵君文植門下徵君者會應詔入都為今上慈禧皇太后請脈恩賞疊稠聲譽滿天下者也君奉以為師問難質疑洞見癥結所學日益粹更隨侍徵君視盛宮保俞軍門聶中丞龍侍郎吳廉訪諸鉅公疾尤內翰先甲稔君醫理堪深特延聘為蘇垣醫局員因事不果往丁酉歲杪君為弟部署計偕北上遂僑居祟安寺中隱院其地即秋嚴上人退隱處也禪房清曠花木扶疏君小住三椽清雅絕谷居則一僮一劍自隨出則利濟為懷活人無算遐邇傳其名邑宰泗州楊公士晟及守戎皖南汪公福林均心欽之制額以贈君年四十後孑身寂處不問家庭瑣屑及田園生計事惟渴愛才凡邑中留學泰東西各國志士類與研究新學痛論時局雖居恆絕志進取而愛國憂世之心未嘗一日忘比年體贏多病壬寅四月陡染虛列拉疾劇甚某夜氣乘絕魂遊深山石室間四圍峭壁千尋上漏光一線君箕踞兀坐凝氣練神突來一異僧狀貌古樸舉腕破壁攜小里囊負之出頓蘇向母索蔗漿豪飲數十杯病若失因更號曰蔗生留紀念慶更生也丙午夏又腹疾大作屢瀕於卮君弟諸友惶急甚君日甘蔗曾生我以啖我可化險為夷試之信然君精氣神由此益耗筋痹舉發脊粱樞僂自謂風前燭影殆將以醫士終其身矣所著醫通一卷鋤經堂文稿一卷棣華集一卷已刻入家乘某與君弱冠訂交重以年誼於君學行知之有素輒忘其不文略述梗概以告當世之知言者光緒戊申年秋月</p>

<h1>沈鮐翁醫驗隨筆</h1>
<p>唐蔚芝先生之太翁若欽老先生年七十餘足上數發酒濕忽而飲食少進請城南某君診視用消運之品屢服如故先生診之曰此高年氣虛無力連化非用參朮不可若以消導是更傷其中氣矣用補中益氣湯加減一服而胃醒連服數劑而飲食如常蔚芝先生贈聯云少年學文中年學道不為良相即為良醫</p>
<p>楊楚孫之夫人久病寒熱不愈甚至昏厥不省人事延王醫診治不效轉薦先生即以王醫之肩輿邀診入門見紙轎草履齊偏診其脈沈伏牙關緊閉氣不接續按腹板硬曰此實證也非攻下不可但藥已難進恐夜半生變不測如藥能服下或可挽回用大黃枳實玉樞丹等撬牙灌之初不受至天明喉中汨汨有聲下降神情轉清連去診視攻下之劑八九服下結糞不少楚孫曰久不飲食似不可再用攻下先生曰無妨也有病則病當之再下一二日用扶正之品調治而愈楚孫制聯云受藥我知羊叔子論功人比買長沙</p>
<p>凌敬叔一病半年請先生診視脈眩大苔黃膩兩目失神多眵徹夜不寐飲食不進者久矣語無倫次親友疑有癲病也先生曰此痰火擾亂神明且積滯未清非用大黃兀明粉不可家人畏不敢進以久病恐虛脫先生堅持此議囑服之一劑下結糞言稍有序明日再將原方加減又下燥糞略兼溏薄惟舌苔干黃厚掯擬芳香化濁不應先生曰此氣陰虛而不能化也用人參鬚西洋參羚羊角珠粉等數劑後舌苔漸化再服數劑而苔化盡得進飲食病大轉機適其愛妾病亡先生代為耽憂恐此病再生波折用種種勸解始得病無變遷常服益氣養營之方調理而愈</p>
<p>惜谷同王曉峰先生年六十餘矣自少茹素葷昧未嘗下箸時時頭痛不止服桑葉鉤藤等藥無效先生曰此因不茹葷而五藏滋液枯槁肝腎之陰不足非用阿膠龜膠等血肉有情之品不可王君曰茹素已六十年餘不願以葷味汙我腹內清淨之府也嗣後頭痛愈甚先生勸之曰入藥不為葷何迂執乃爾後仍照前方服之數日而痛止</p>
<p>醫生張亮生先生之譜弟也曾病伏暑寒熱交作一月有餘形瘦骨立神情疲倦兩目失神飲食不進脈細無神舌上已起白腐時住岳家養疴其岳母見其病勢垂危欲送之返家先生止之曰不可恐中途有變議遂輟因偕嚴康甫同診用柴白煎一劑熱退再服熱情續用扶正養陰之品而愈至今精神且遠勝於前焉鄒律師之子病氣逆痰鳴喘急不能平臥先生診視曰此喉風也用猴棗一分同貝母制膽星研末調服服後喘熱大定得以安睡呼之不應家人以為昏迷也孰知竟愈矣又縣下塘某婦病亦與此症相同服藥後亦昏睡如醉臥當時稍覺驚駭病亦由此而愈考猴棗古書所無馬培之徵君首用此藥先生承師法繼用之有效今則人人皆知用此物矣然惟風痰熱痰可用若寒痰濕痰用之無怪凌永言君訾議之也吾以為非藥之咎是醫之不良於用藥之過也打鐵橋下鄧元利洋貨店錫君之妻病癲終日喋喋自言語命立則立坐則終日呆坐與食則食不與亦不索如是者年餘矣中西醫均不效一日先生遇鄧君於新市橋詳述病狀邀至中隱診所為立一方用羚羊角五分貝母三錢珠紛五分並贈與馬寶五分研和分三次服稍愈再合前方服未過半病已爽然若失逾月遂有娠生一子學家欣喜過望因制銀盾鐫飲上池水四字以贈云又高車渡農家子病癇風每發四肢陡然柚搐不省人事四處就治多年不效一日來診先生亦用前法與服馬寶等後雖復發不過兩手蠢動耳又服前方加熊膽一分同研後問諸其人云已久不發矣按時珍綱目馬腎條下云馬有墨在賢與牛黃狗寶相類而未詳其功用諒即馬寶也今先生尚藏四兩許色灰白有寶光紋理層層包裹與牛黃狗寶同其大小無定大者如瓜小者如拳先生云馬為火畜其性必燥病之有痰者宜之又閱醫學問答初集俞君鑑泉答裘君雲天癡狂為神經病心屬神屬火馬為火畜行速不寐能識途確具神足心專之能力以動物之體生此靜物故有安神定心之功歟</p>
<p>陳贊廷室人患三陰大瘧三年有餘諸藥無效延先生診治起伏時兩目深紅脈弦舌絳先生曰此非寒也瘧久則肝陰傷而化火溫藥萬不可用用羚羊角一錢石決明等一藥而愈店橋頭某婦從上海蹄患三陰大瘧已歷四年屢服各種截瘧藥及金雞納丸而間二曰寒熱如故先生用醫話夜光丸意加減鱉甲夜明砂花檳醋製常山半夏草果等再用雄精二分辰砂二分研末服一劑而愈又先生見許榮庭之子亦病三瘧有人傳單方以三十丈至藥肆購雄黃店夥誤聞為硫黃也竟以硫黃付之服後三瘧竟愈而頭面周身黧黑毫毛皆焦無異黑種終身如是邑人見之皆絕倒</p>
<p>洛社張巷張鈞培室人經事前後無序白帶頻下飲食無味陰戶墜下一塊宛如紫茄咳則下臥則縮服藥年餘不效先生診之閱前方皆云膀胱下墜乃細詢其形色何若病者曰其色紫黯觸之微痛先生曰此非膀胱也夫膀胱之色白小溲不能通利此乃氣虛不固子宮下墜也恐難一時見效用黃耆升麻白朮人參鬚葛根芡實牡蠣陳皮甜杏仁白芍神麴服三劑而縮上矣</p>
<p>大市橋王姓童子洗熱浴後赤足遇寒回家半日覺牙齦腫脹腐碎右足脛青紫異常惡寒身熱先生診曰此青腿牙疳也上病必治其下用銀針刺其足脛紫處出惡血內服活血去瘀牙疳遂愈</p>
<p>西門橋下溫姓壯熱面油脈洪舌絳右臂紅腫作痛外科章某曰此流往也用溫藥桂枝當歸等道生堂高君介紹先生診視已有一醫用藤黃塗之先生曰此係熱毒名曰火炎疽用解毒劑是時神識尚清既而胸前又多一紅腫處復延章醫仍謂流注先生以為不然決其熱毒內走勢必毒陷神昏而死至下午果暴殂</p>
<p>惠山趙某之妻氣體豐腴每日嘔吐百餘次飲食難進諸藥罔效先生用秋石五分泡湯每日服二次三日愈此胃火上逆秋石味鹹取咸能下降之意西門謝繼昌婦結縭未滿一年病伏邪淹纏半載遍請各地名醫時輕時重危在旦夕病骨支離忽而遍體浮腫氣逆喘急神情模糊風動痙厥日噴血沫兩手脈伏目不能視先生用潛陽扶土法一劑而神識清浮腫退復診兩目仍不見物先生曰經雲氣脫者目不明又曰目得血而能視此氣陰並虧之故也小溲現雖通利然水不涵木肝陽妄動火極則風生風陽飛舞痰涎血沫隨喘而起若秋金之氣下降可以制震東之木而三焦決瀆之水皆歸州都化溺而出但病久大虛還防虛脫再擬益氣養陰和中潛陽之法方用人參鬚一錢白芍三錢廣鬱金二錢淮小麥三錢煆石決明一兩炒秫米三錢土炒於朮二錢辰茯神四錢炒西洋參錢半珍珠母一兩另上濂珠三分玳瑁三分研末調下病勢頓輕後生骨槽風雨足痿躄先生接症調理數月而愈</p>
<p>先生病霍亂飲蔗汁而痊會載入醫鍾第四期謹錄其原文於左</p>
<p>僕於光緒壬實正月病春溫綿延三月始進糜粥至四月間吾錫時疫盛行沿門閣境死亡者踵相接僕亦傳染疫症吐瀉暴作指螺皆癟目眶黑陷聲嘶呃越煩躁筋轉險象疊生群醫束手危在俄頃衣衾棺木齊備咸謂生機絕望矣當一息奄奄時向家慈索飲甘蔗汁少許服後心煩撩亂稍定吐瀉呃逆肢冷如故一書夜再連飲數十碗嘔任其嘔服還自服而呃逆吐瀉心煩撩亂頓止病勢爽然若失僕嗣後追思療病之由從陽明溫病後胃液煎涸重犯吐瀉胃之津液能有幾何本草載甘蔗甘寒助冒除熱潤燥止渴並治噦惡大凡霍亂疲屬熱者一經吐瀉胃液不存肝木風翔則激浪上湧所以嘔吐不止抽筋不休而蔗汁既能清熱潤燥味甘更可安胃並能緩肝而是病之得愈者其理在是矣若患濕霍亂症中焦痞滿者飲之反致不可救附志於此以資同人研究先生花甲後患少腹終日飽脹不可忍耐溲痛不爽當時以為腎氣不足肝木失疏一日忽溲血鮮紫不一日夜數便壺一月已來不止甚至有血塊溺出砰然有聲大如銀元而腹脹漸消飲食倍增先生悟為氣虛濕火久蘊使然非真溺血也不然溺血如此之多元神必困疲矣何以虛健如恆自制六味地黃丸加人參牛膝黃柏服之而愈</p>
<p>駁岸上某姓女患霍亂吐瀉無度脈沈苔膩遍體如冰氣息奄奄其母最信女巫巫云用向東楊柳枝煎湯薰洗因用沸湯遍體揩洗終日不休湯熱揩者手皮破爛而病人不覺其熱先生用半硫丸及附桂乾薑大熱之藥三劑汗出而愈</p>
<p>陳季度年甫弱冠在學校暑假回里忽下頦動搖不止適先生診楊氏子因邀診曰此陽明經之風火使然用石膏知母殭蠶鉤鉤菊花絲瓜絡等清胃之品外用烏梅擦牙兩日而愈</p>
<p>楊君之義子三歲寄育於外因病來城寓崔官牌下程姓家請先生診視壯熱不揚面色青滯涕淚俱無此係暑熱內伏多飲乳汁蒸變為痰痰阻清竅肺氣不宣用杏仁大貝桔梗膽星月石炒麥芽等一劑面色青滯退兩劑哭而有淚轉為間瘧汗出而愈</p>
<p>北門外陳合茂行主年五十餘有煙霞癖素有痰喘之證忽起寒熱不揚不進飲食者累月咳嗽痰多形神消瘦脈沈細苔濁膩龔醫用達邪化濕之品不效反至汗出如雨呃逆不止神迷淊□先生以為氣陰皆傷中陽不足同張君硯芬用老山人參一錢生薑一錢西洋參天生術牡蠣五味子半夏茯苓伽楠香再生稻葉等一劑汗止再劑苔化能食煮爛焦鍋巴調理旬日而愈又羊毛行陳某亦有煙癖神情迷糊謎語氣逆喘急循衣摸床先生診其脈沈細舌苔濁膩用人參附子乾薑半夏溫補之法適干醫至見方用人參揚言不可服診脈後在樓下相遇不置可否而去病家信服一劑而神情清爽諸象均退西門凌君企周有煙癖四旬未便而飲食如故彼自服燕醫生瀉丸始三粒繼服六粒後一日服至二十丸竟不得便延先生診視曰此腸胃乾枯燥結極矣用□仁湯大黃六七錢元明粉二錢仍不效再用瀉葉三錢煎湯以磨生大黃錢半一日服三次服後腹中攻撐先下燥慄蠶又下乾結鞭糞無數先生曰此非一日所能盡也須三五日方能下清前方加減連服三日約有桶許然後用參朮等調治其便如常</p>
<p>師母張夫人素來陰虛每交冬令喜用腳爐春時易生溫病一日遍體奇癢漸發無數之塊大者如盤小者如碗不等腫而微紅攻於頭面則目紅攻於胸肺則氣逆神糊搔癢不止幾欲挖去其肉日夜不寐呼號三日困苦莫可言狀他醫驚而卻走先生以為非風疹乃疙瘩瘟也熱毒蘊於營分外發肌膚防其毒陷心包則大險重用犀角鮮大青鮮生地銀花連翹黑山梔丹皮牛蒡子人中黃綠豆茅根等服三四劑而塊漸小漸減癢亦漸止調理六七劑而愈東大街某君年十八歲其母寡孀只此一子病暑邪寒熱起伏已歷三候而熱仍不解骨瘦支離延先生診視脈細數苔薄膩曰此邪濕未清也用薄荷牛蒡佩蘭鬱金藿梗猾石豬苓佛手荷葉等至廿七日始透白㾦細粒密布色如枯骨古人謂氣液已竭先生以為久病仞透而未足也再宗前法加茅根蘆根蟬衣服之遍體透足粒粒晶珠熱勢淅退二三日而能食稀粥矣</p>
<p>壽州孫夫人年近六十忽身熱胸悶不暢延先生診視用辛涼紲肺之藥翌日胸前發出紅點而圓先生以為螢分之熱溫毒發痘也用生地紫草茸連翹黑梔丹皮茅根胸背前後又透約有數百粒漸起漿汁仍用犀角人中黃銀花丹皮一派清營之品收漿結疤而熱勢退再服解毒數劑而愈據云此痘安徽時有之寺後門大頭金官之子咳嗽壯熱胸悶煩躁三日後頭面及體遍發痧點內舍稀漿先生曰此溫熱挾濕故含水氣也並非水痘重用辛涼透泄繼用解毒之藥而愈</p>
<p>劉姓子年十餘歲伏邪秋髮寒熱起伏始一二日汗多以後肌膚乾枯不潤形神瘦弱至第八日延先生診之舌薄苔內脈象細數曰此童本元不足且不見汗第九日必透白㾦即透亦遲非二三日不能透足用簿荷牛蒡連翹黑梔豆豉杏仁豬苓澤瀉茅根枇杷葉竹茹佛手荷葉輕清宣泄之法服後胸前稀透白㾦再加蟬衣桔梗鬱金等背足亦透三日而伏熱退矣</p>
<p>琴雪軒某牙科之女病頓咳已四月不咳則巳咳則百餘聲不止氣不接續骨瘦如柴先生用麻杏石甘湯兩劑而愈年餘又病寒熱咳嗽痧點隱約不透先生偕門人丁士鏞同去診視脈象悶郁舌苔光紅壯熱口糜神情模糊曰此邪熱熾盛故痧點不能透達也時醫僅知透發但余須用犀角紫草情涼一派此藥非君家不開防時醫之訾議也其家信服之大便得解痧點外達再劑點齊三服而愈觀此則吾邑過玉書所著治痧書專用溫透者未可一概論也迎迓亭某茶肆主蘇人也其妻懷妊八月患伏邪煩躁不安神情倦怠面色青晦兩脈沈伏舌苔焦黑腹中不動者半月矣無力延醫先生診之曰此邪熱內燔胎元恐已不保若顧其胎命在旦夕川寒涼香開之劑服之胎下巳半體潰爛後用去瘀等劑化險為夷</p>
<p>先生鄰家女僕阿梅手腕作痛不能舉物先生細視其腕見脈門有紅絲一條長二三寸蜿蜒遊行半臂此紅絲疔也若過肩胛不可治矣用舊頭繩扎止以銀針刺紅絲兩端擠出紫血內服黃速解毒湯而愈又一婦生手指疔曾聞業師馬徵君云疔初起背上有紅點如蚊螫狀其數均奇非五即七須銀針刺破挑斷其中之絲則疔可以不成若過三五日其毒走散紅點隱去疔必成矣余依法尋得剌之果未成周源按此法巳刊入周氏集驗方中甚詳</p>
<p>西門外棉花巷雷靜安右牙齦上發一粒子不紅而腫牙牙銷覺不利諸醫皆謂牙癰也溫君明遠囑偕至業師馬培之徵君處視之業師曰前醫皆不識此證耳此名牙民藥不可為矣兩月後牙關緊閉不能飲食必致餓斃後果然馬徵君孫女患氣喉頸項腫大徵君命用日者彈敝舊弦一條長如頸項大小使異姓六人綰六結連本人一結名七姓弦套入頸中時時移之上下若氣喉稍小其結亦逐漸收小一年而而愈奇方也其理殊雖索解　又方用錢錢草煎服亦效</p>
<p>馬徵君為沈子達診治年四十餘納妾少艾患痿症服藥外令以桑葉去葉背筋絡濃煎時時服之半載而愈先生門人丁士鏞之戚病口歪偏右就診先生之師馬徵君用蓖麻子四十九粒麝香三分共搗成餅夏布包好放入左手掌心以好酒一杯燉熱將杯底罩於藥上令手伸直不一時即口歪牽正欣喜而歸</p>
<p>大市橋林姓有煙霞癖先寒熱繼則腹痛下痢紅白晝夜百餘次飲食不能下咽氣息奄奄當時醫士有汪黨之稱茶集於祟安寺議論此證或主香連丸或欲用駐車丸或四磨飲先生聞之竊笑其誤明日來請診視脈細舌乾黃曰此久痢氣陰兩傷時時登圊而無便者此虛坐努責非益氣養陰不可用人參白芍丹皮細生地等味服之病大轉機前方擴充數劑而愈</p>
<p>木邑王燕庭醫士之母年已古稀外一日腹痛下痢無度神情倦怠其孫文夒延先生診視脈細數舌苔根濁而掯先生曰此痢不可與尋常症同治大年正元早虧食物不消兼有積滯用人參鬚枳實殼花檳神麴等先生曰此方非在尊府不開痢疾忌補補而且攻未免招物議詎服後大便通利腹痛亦止竟兩劑而愈</p>
<p>毛梓橋下鄒姓婦懷妊六月七月中旬腹痛下紅兩次極冬延陳君診治不效先生診其脈並不離經舌苔白膩用人參白朮荷葉蒂桑寄生自芍蘇梗陳皮砂仁黃耆等安胎之品血止而腰痠氣滯大便下血塊日二三次紅紫不一先生曰此腸胃有濕熱也雖與胎漏有別於懷妊終屬不宜用槐花炭川連黃柏子芩木香蘇梗分化濕熱調氣之品便紅減而未止再用槐花炭地榆炭子芩野苧根鮮藕節荷蒂蘇梗砂仁陳皮桑寄生佛手等而愈</p>
<p>東門內表善妨巷殷君一清蘇州桃塢中學畢業生也任職上海工部局事病少腹作痛間及兩脅胸背得食則嘔甚至不能直立臥則氣土沖痛楚莫可言狀纏綿半載形神疲弱面色青灰江陰朱君用疏肝理氣一派香燥之藥服三十餘劑毫不見效又延他醫以為虛勞損證也似見小效一日來就診脈沉細舌苔薄白按腹板硬已七日不便得病以來便常艱少先生曰元氣雖虛定有乾結燥糞也非攻下不可但恐正元不支耳名服香燥之藥肝陰受傷腑實不通則其氣上泛為逆故嘔惡肝主筋本臟即燥則血不營筋擬先通腑取遍則不痛之義用人參鬚七分生大黃三錢元明粉一錢枳實二錢制香附三錢橘絡二錢製半夏三錢川雅連四分同淡吳萸三分炒竹茹一錢佛手二錢復診大便未解少腹仍痛再擬攻下生大黃三錢元明粉一錢元參三錢帶皮檳三錢瓜蔞皮三錢木香七分秦艽錢半沉香五分服從大便下燥結鞭糞尺許堅如鐵粗如小臂下時稍覺神疲腹痛隨止少腹仍板時吐酸水肝胃不和也再用和胃佐以潤腸藿香梗三錢法半夏三錢淡吳萸四分黃連二分同炒枳殼二錢帶皮檳三錢省頭草三錢細青皮一錢香附二錢橘白絡各錢半沉香五分磨沖另先服清導丸三粒（系西藥）服後又下燥屎如前按腹略軟惟嘔逆肝氣黃撐經絡稍有微痛中脘不運仿半夏茯苓湯加減製半夏五錢茯苓五錢枳殼二錢橘絡一錢炒天生術二錢沉香屑五分炒殼芽三錢左金丸一錢另醋炒高良薑七分酒炒制香附錢半煎服又下燥結與溏潤之糞不知凡計宿積從此清矣嘔逆亦止只以肝木剋土脾胃受傷當以培土抑木天生術三錢山藥三錢扁豆衣三錢白芍五錢萸肉錢半炙烏梅五分橘白絡各一錢製半夏三錢茯苓四錢檀香炒殼芽三錢白殘花一錢胃氣大醒每餐能食碗許但右脅稍覺微痛耳再從效法擴充野於朮三錢懷山藥三錢扁豆衣三錢白芍五錢橘絡一錢川斷三錢鬱金二錢萸肉錢牛歸身錢半甜杏仁二錢甘杞子二錢生殼芽三錢飲食加增惟右脅下稍覺作酸背旁痛處大如掌此係有留飲也當以蠲飲兼調脾胃茯苓五錢陳皮一錢橘絡一錢遠志二錢法半夏二錢扁豆衣三錢澤瀉三錢桑枝三錢神麴三錢秦艽錢半炒殼芽三錢荷葉邊一轉嗣後諸恙日退調理而瘳</p>
<p>西鄉大孫巷孫婦年二十餘忽身熱四肢作痛日夜叫號其叔祖友亮延先生治之脈數而弦此痛風也暴痛屬火火性急故痛甚也用鮮生地四兩與丹皮絡石藤秦艽絲瓜絡等一服而痛止</p>
<p>南門外某姓肉店主病屍厥七日僵臥於床口噤目瞪神呆醫用香開又服制雄丹不效均云疾不可為也陳君子彥私淑先生有年矣問法於先生為擬一方用牛黃珠粉牙皂雄精菖蒲等品一劑神清能言再劑而愈自是陳君聲譽遍傳南地矣</p>
<p>張雪梅小孫女上下牙齦碎爛此名牙疳陽明之熱走入牙床之絡當以大劑治之磨犀角三分生石膏一兩五錢生大黃三錢丹皮三錢知母三錢絲瓜絡三錢人中黃一錢鮮竹葉三十斤蘆根二兩升麻三分綠豆三錢鮮生地一兩荷葉一角另贈以赤霜散加冰片西黃搽牙服藥後泄瀉二腐肉去已見新肉仍用清解之法前方加川連忍冬藤黑山梔去鮮地升麻竹葉生軍易熟軍外搽緣棗丹加冰片而愈</p>
<p>乾德里甘號陳姓婦分娩橫生小兒不能轉身穩婆臠割而下已經二十餘日忽頭痛如劈日夜呼號甚至發痙先生診之兩脈弦數舌苔白膩胸悶不暢曰此去血過多風火上升適值盛夏又感暑熱恐其痛厥之變用石決明白芍菊花鉤鉤藿梗佩蘭蔻仁佛手荷葉菖蒲諸味一劑而痛大定惟少有胸悶再用芳香宣氣化濕而愈</p>
<p>西門外倉浜夏姓婦久患目疾黑珠潰爛不能視物將有傷明之勢先生開服羚羊角犀角濂珠元參川連鮮生地穀精草等外用真熊膽三分清水化烊點眼旬日而愈</p>
<p>伍麟趾婦產後病咳嗽身軟無力醫用肅肺去瘀等藥月餘不效先生診之脈細苔濁按少腹膨脹而急曰此濕熱成臌用疏通分化之法略見小效仍覺腹痛再用黑醜沉香木香櫞香皮烏藥蔻仁等四劑腹軟而不得便又用用樸大黃暢下燥糞少腹大軟逾數日因暑熱內蘊變為紅痢仍用大黃黃芩炙五穀蟲本香銀花炭等兩劑而痢止矣此病變幻莫測若專憑脈象恐不足恃也惟中書館筆店楊某之母年八十氣血已虧神倦目閉脈數有力舌質薄白自覺心藏罅裂氣機下陷而不上升大便不解下唇起一小泡手背作脹服冰瓜而渴不解先生曰此心經有火腸胃有實熱也用川連五分生石膏七錢連翹四錢生山梔三錢淡芩錢半鹽半夏二錢辰滑石五錢鮮荷葉一角金銀花露一兩鮮佛手錢牛全瓜簍四錢光杏仁二錢此證先生與源同往見其外狀並無熱象亦不煩躁惟下唇起泡渴喜飲冷故毅然而處此方一劑竟霍然</p>
<p>盛巷某在上海汽車行為夥六月初忽起寒熱兩日熱退頓時足軟不能開步足肚不紅而脹手指麻木不能直伸回錫調治先生用分利濕熱之藥略效繼用雞鳴散加滅足肚作脹已減自能行走惟少力耳又來診治舌紅轉為白膩用溫經通絡之法如桂枝厚朴桑枝川斷金毛狗脊本瓜薏仁松節牛膝等服後苔化手指能伸而大拇指仍然不用先生曰此陽明有熱也去桂樸加石膏數劑後大指伸足力充觀此以見先生用藥之活潑</p>
<p>西村裡談正生出外小溺返家驟然趺僕兩目斜視神識不清左乎足不能行動遺溺頭痛面油舌短脈伏苔膩先生診之曰此類中而兼伏熱也用至寶丹一粒以竹瀝六兩調服至天明神識較清再用平肝熄風化痰兩目巳不斜視神情更覺清楚脈有起色舌苔灰黑而潤惟舌縮如故再以芳香化濕消痰之劑大轉機能食稀粥惟友手足一時不能自如耳</p>
<p>金小云校書素有煙癖忽胸悶難過面如油潤且兼青灰色兩足趾痛極呼號胸膺亦然先生曰此濕遏伏熱下走經絡也用宣泄肺氣芳香化濕兩劑面油減痛漸定胸悶如故用玉樞丹石菖蒲研末服佐以芳香等藥舌苔大化而轉紅色先生曰此濕化透熱於發也再用清泄之法而愈</p>
<p>西鄉某姓病濕溫神情迷糊舌苔黴黑脈伏麵包青滯先生診之知為痰濁遏伏熱邪處方中有肥皂子三錢值藥肄無此物典以牙皂搗碎煎服服後涕淚淋漓而神識遂清舌苔亦化病尋愈此因誤而得效亦云巧矣</p>
<p>老寶華照相店張竹君勞力之後有人攝影正在布置自覺氣機不舒陡起呃逆日夜連聲不止已數日矣身體疲軟來乞診先生曰此痰熱阻滯氣機不宣為制刀豆柿蒂等古法隨取內痧散與嗅取嚏數十聲藥方書畢而呃止矣市公所孫君久與先生相知盛暑過先生寓所先生謂曰曷不備白痧散兩瓶以防不測不獨取嚏且能化痰旬日後孫君夫人疾勢極垂危不省人事牙關緊閉氣息奄奄已為料理後事忽憶及先生言試取臼痧散一瓶撬齒灌之頓吐痰數碗稍覺蘇省廷先生診治半月吐頑痰無數調治而愈</p>
<p>先生之媳錢世嫂懷妊五月病暑邪壯熱煩躁揚手擲足神識昏糊目定直視熱時身如炭炙赤身臥地者累日不熱則身冷如冰面色青灰人中掀起舌苔黃掯而膩腹中作痛號呼不已請諸道長診視均不敢立方先生囑極熱時用並底泥貼其胸腹泥為熱沸先服西瓜與薄荷絞汁數碗繼服川連佩蘭葉黑山梔運翹子芩鬱金菖蒲鮮荷葉蒂薄荷及牛黃清心丸前後共透紅白㾦九次枯皮滿榻西瓜汁共服廿餘個熱勢稍衰尚難把握先生子亦蘇世兄私與服枳實檳榔丸三錢恐病不起而胎在腹中也從此妊未足七月而呱呱墮地產後又變為五色痢日夜無度七日不減先生以為生機絕望矣與服桃仁承氣略見小效並以鴉片灰泡湯服之而痢漸稀調理月餘始安先生之孫因母病在腹不長十指剛及分科藐小殊甚以棉繭紙搓軟代溺布每日按鐘點用小竹管吸乳汁滴口中一月後稍能吮乳但兩目不開至明年元旦張視目光奕奕有神數年中張師母培養周至故身體頗為茁壯頴悟過人三歲能背誦明陽繼盛先賢男兒欲上凌煙閣第一功名不愛錢之句</p>
<p>西鄉丁巷丁婦早年孀居膝下乏嗣年近不惑遍體發熱雖嚴寒之時祖裼裸程喜貼冷處他醫投清涼藥不效己數年矣先生以為心肝之鬱火方用羚羊角珠粉研末及元參合歡皮鹽水炒遠志鬱金等解鬱之品約服二十餘劑而完全不發熱矣</p>
<p>南門許海秋之媳從臍上至心下起一梗粗如拇指時時作痛來診適值酷暑先生用附桂吳萸乾薑等味不數劑而梗消此係寒濁凝結所致與古書所謂伏粱寒熱微有差別也</p>
<p>老縣前某婦產前子癇發痙欲死兩目直視雙手亂舞舌出二寸胎下不覺勢甚危殆先生用童便一味服三日而定調理乃痊</p>
<p>恆善堂祝某之室畏多男用藥料墮胎產後大寒戰慄臥床振動難過異常寒後發厥汗出如雨脈伏目定危在頃刻請先生診治謂曰此氣血交亂陰陽錯雜寒之不可溫之不能用藥棘手擬重用交加散加味一劑而愈</p>
<p>先生前在三里橋施診局來一江陰人手提光粉一袋時時取食云不食則不安諸醫滿座均莫識其證先生曰此蟲證也名曰石蛔非使君等所能殺之用雄精等而愈</p>
<p>錢子才之女年十七歲身軀矮小一日嘔出赤蟲（蟲類九種之一）儼如精肉長半寸許其形如蟬有目色黑跳躍桌上先生曰此蟲生於睥胃之間由中脘氣虛飲食失宜濕熱所生丹溪有半月向上下之論古法不外甘以誘之苦以伏之酸以軟之攻以逐之就脈而論細弱便溏苔黃過熱非宜姑標本同治川連吳萸烏梅川黃柏白朮黃耆甘草蕪荑榧子生礬安胃丸後再健脾胃兼殺蟲之藥而安</p>
<p>東河頭蒼許奇孫之弟年幼時患腹痛面色萎黃後患時瘧按之腹硬先生初以為有積滯也川枳實檳榔生大黃等服後便下一物狀似小燕窩螺紋盤旋蟲藏其中大者長一二寸小者寸許約有數百條從此痛止始知是蛔結痛也再用雷丸蕪荑雄精黃連黃柏等藥數劑而愈</p>
<p>陳婦寄居寺後門王姓宅後年六十餘遍體肌肉生蝨不覺痛癢每日席上不知凡計先生於之曰此係濕熱釀成又年高氣弱正氣不能化濕濕蘊生蝨況脈細苔膩非易治也用人參鬚薏仁百部雷丸茅朮等品外用苦參百部黃柏豨薟濃煎洗浴其蝨乃滅</p>
<p>某姓婦素有外痔一日病暑熱起伏先生將伏邪治愈後而痔發更甚痛如刀割臥床不起視其痔大如茄色灰黑勢將翻花晝夜呼號其家人慾舁入醫院剖割而不果先生開黃柏龍膽草淡芩槐花升麻苦寒之品服數劑見效再加制軍犀角苦參火麻仁郁李仁又服數劑外川熊膽冰片蚌水豬膽汁西牛黃調敷腫脹消而痛止後川補中益氣法十餘劑而收縮如常矣至今數年未發東河頭巷曹君年已花甲氣體豐腴據云小便龜頭翻花小溲艱難或云腎岩或云徽瘡數年不效後至醫院將玉莖齊根割去愈後回家一二日左腿橫痃大發蔓延腫脹且多脂水腎囊下突生一梗長約寸許粗如小指頭尖而微紅延先生診視曰此刀割之後濕毒未清攻入海底之上一時恐難消散重用黃柏澤瀉及赤豬芩龍膽草牛薏仁丹皮淡芩銀花甘草等詎料二三劑後其梗全消橫痃亦愈</p>
<p>西門老縣前謝姓婦年二十餘生女後久不育每交媾陰戶流血如注含羞就診先生曰此非氣不固血系君相之火過動故肝不藏血也擬濂珠黃柏黃連白芍烏梅玄參連翹黑梔等服之安然無盡</p>
<p>榮姓婦陰戶奇癢不堪其夫述此求計於先生先生用雄精熊膽明礬川連等研末成條插入陰戶不逾時而癢止此肝經濕熱生蟲故苦燥殺蟲之品立見奇效聞先生之師馬徵君亦用此力已愈多人</p>
<p>河埒口蔣姓遍發瘡毒體無完膚形神消瘦先生偕門人鄒致和同往致和幼讀醫書並在他處學習內外科五六年始入房見其形狀驚而卻走先生用枯礬末數兩麻油調敷遍體兩星期而愈繼有黃泥橋薜姓子病遺精北門王醫用固澀補藥十餘劑不獨精不能固遍體腫脹發瘡濃水淋漓兩手不能握箸舌苔光絳先生曰此濕火灼陰也用鮮首烏黃柏黃連黃芩丹皮等外治同前法濃瘡即愈遣精亦止後見其人氣體甚豐腴也</p>
<p>光緒庚子秋先生與凌君伯升明經赴滬寓大東輪船局一日晚鮑君朗州以包車迎先生至棋盤街妓療診病有妓頭痛如劈頃刻無停呼號萬狀甚至暈眩傾僕諸醫用平肝熄風不效先生診其脈洪舌絳曰此非肝陽是毒火上炎也下部陰處必碎爛無疑始則隱諱繼以實情相告因囑其女傭以骨簪卷棉花拭去其腐用西黃熊膽珠粉豬膽汁調糊少加冰片灌入服方用犀角鮮生地銀花龍膽草黃柏生粉草仙遺糧大劑一帖而頭眩止再帖而頭痛若失矣又有一妓云肛門作痛自覺發碎診之見肛門兩邊白腐如大拇指先生曰此瀉毒未盡留毒於肛旁是名蝴蝶梅也用大黃犀角川黃連黃柏等服之外糝銀青散數日而愈</p>
<p>北柵日許某之孫年十四面色黃瘦小溲時帶白膩時常鼻塞似傷風狀他醫診之服發散藥先生細審其鼻孔內左有瘜肉甚大右孔較小先生曰此兒正元素虧氣虛濕熱下注是為膏淋況風熱上蒸於肺鼻為肺竅故瘜肉生焉但瘜肉本可用水螄散點之因許君子己早亡只此一孫未便用猛烈品以老式永片一味研末點之方用辛夷白朮川萆薢海金沙黃柏澤瀉桑白皮黑山梔桔梗等逾數日又來診視在鼻瘜肉已縮小呼吸順利矣錄此後先生諭源曰臨證宜細心詳察不可草率從事此病本非奇異惜皆未得要領慎之</p>
<p>水警廳第一隊長合肥劉性媳年十七歲容貌雅秀軀幹不長自結縭後日漸瘦削寒熱咳嗽飲食稀少言語音低經事不利己五月矣他醫用肅肺之藥不效先生以為破瓜太早有傷正元此虛咳也用黃耆黨參歸身首烏桂枝白芍雞血藤續斷甜杏仁氣血並補等品出入兩服而寒熱退咳嗽減形容亦轉豐腴覆方加細生地丹參藏紅花月季花阿膠蜜炙馬兜鈴等以通其月事</p>
<p>西門張巷張伸若長媳懷妊六月夏日多啖西瓜至九月重九前寒熱交作未得暢汗濕遏熱鬱已服開泄芳香表散等劑並不見退反□語風動痙厥胸悶循衣摸床兩旬後延先生診治脈左弦數右尺不應舌苔掯黑潤而帶青灰語蹇而不能抵齒神情時迷呼之目微張頃又似睡面色㿠白淡黃稍有齒垢先生曰此邪熱遏伏痰濁蒙閉內陷之象也幸脈不沉細有娠用藥殊形棘手若因礙胎而不用恐難保其生命方用皂英子制膽星省頭草竹黃川貝母煆石決明鉤鉤鬱金藿梗蘇梗荷蒂另制膽星石菖蒲礞石伽楠香研末服後下轉矢氣胸膈頓寬神情清楚不似前日之似睡苔亦稍化略能分矚家務明日加茅朮川樸生熱薏米鮮佩蘭而舌苔更化惟仍潮而浮黑更覺蔓延先生以為濕松熱欲外達仍為濕遏之象也再加重製茅朮佐以芳香泄化滲濕等品渠翁亦知醫調理而愈</p>
<p>西門申新紗廠工人婦素有肝氣煩躁嘔惡南門王君以為氣膈症延先生診之先生曰此非膈症是伏邪晚發胃火沖逆而上用姜炒川連及豆卷藿梗黑山梔蓮翹枳實竹茹蘆根嘔逆減而寒熟起伏煩躁脈象細郁脘腹板硬先生以為積阻氣滯用生大黃元明粉花檳等便黑色宿糞嘔止熱輕略用達邪得微汗而退</p>
<p>江陰巷陶氏婦病濕溫始延龔醫用茅朮川林燥藥服二十四劑不效神情委頓氣息奄奄先生診之舌苔厚白而干曰此冒陰傷也陰傷則苔無以化方中用鮮石斛一兩大養其陰苔頓化病轉機能食稀粥調理而愈米業某有嗜好病暑濕龔醫診之屢燥無效乃延先生診見其形瘦骨立面色㿠白無華此係中陽已衰故舌苔濁膩不化也用乾薑等溫劑舌苔漸化效驗神速</p>
<p>周師季梅長孫病後狂食神色自若某醫謂是佳兆與食可也西醫亦云無妨先生診其脈沉細欲絕謂為除中決其不起後果然其母因痛子情切時時抑鬱於甲子五月身熱胸悶兩耳發尖遍體肌膚皆痛請先生診視曰此氣鬱化火生風也並有伏熱挾濕挾積用開鬱化濕之品藿香佩蘭枳實檳榔玉樞丹石菖蒲等一劑而氣機暢達二劑熱退積下再診諸恙均退而遍體肉瞤先生曰古書論肉瞤血虛者多此非也乃氣火流行於肌膚之間耳仍用解鬱清熱而愈</p>
<p>太溯濱鄉某年疫癘盛行請先生診視家族鄰里以為最危險者先生藥之立愈有少年病最輕群以為無慮者先生一見即斷不治蓋見懸曬病者之衣及病人口鼻眼角均有蠅蚋紛集揮之不去臟腑先敗之徵兆藥不可為矣後果不起</p>
<p>相國之裔嵇某踡臥舌乾唇焦發熱不語脈細欲絕醫用寒涼不應先生以其踡臥知寒格於外以附桂等進至夜半病者暴臊躍床而起明晨遂改用白虎湯病良已後□知友人病者私吸阿芙蓉膏值癮發故踡臥云</p>
<p>書院弄搖車灣童姓婦與夫口角服火柴頭兩匣巳服西藥嘔吐不效適其夫至先生家先生藏有金汁一小瓶囑其回家灌服胸中暴躁煩灼頓除再服綠豆銀花犀角解毒之品應手取效又有洛社某婦服火柴頭先生亦用犀角人中黃銀花甘草綠豆等大劑肌膚髮出紅點壘壘前方加大黃丹皮大青川連等而愈</p>
<p>南門外竇仲卿年三十餘甲子秋行房之明日食麵一碗陡然腹痛臍極收引汗出如雨誤以為痧也延針科刺之屢針無效三日痛仍如故汗亦不止用炒熱麩皮熨之仍不見松且便泄如蟹沫診其脈沈細舌苔白膩先生決其為寒也陽氣不足中下焦陰寒凝結不散方用酷炒高良薑酒炒制香附製附子煨木香神麴鬱金吳萸炒白芍法半夏沉香老桂木外用白胡椒肉桂麝香少許研末貼臍囑其勿用鵓鴿傷害生命一劑已</p>
<p>西門內太平巷某媼年七十三每值夜半子時氣逆喘促起坐至天明其氣稍平汗出不止微咳稍有痰不得吐診脈細軟舌上少苔其孫問先生曰此何故耶曰子時者陰靜陽動之時高年陰分已虧陰不斂陽故氣促汗出仿高鼓峰用六味地黃丸一兩五錢坎氣青鉛小麥白芍牡蠣等同煎服數劑而安</p>
<p>光復門外王文魁年四十餘面色㿠白浮腫少腹堅硬氣逆喘急徹夜不寐咳嗽痰多兩脈沉細舌質淡白始用旋覆代赭坎氣及冬瓜皮雞金散等而喘急如故先生曰此係腎陽不足氣不攝納脾不溫運效也因用細辛四分製附子五分炒棗仁三錢帶皮苓五錢炒蘇子二錢老桂本四分青鉛一兩製半夏三錢甜杏仁連皮三錢枇耙葉去毛三片沉香三分服後氣喘大平夜得安臥面腫亦退舌質轉紅右脈似覺有力惟咳嗽未止前方去棗仁枇杷葉沉香加巴戟肉三錢姜皮七分坎氣一條三劑喘平腫退</p>
<p>西門外陳打鼓弄口嘉太米行高君甲子七月吐瀉交作轉筋不止名曰霍亂此係清濁不分揮霍撩亂也兩日後吐瀉雖止不寒獨熱胸痞煩躁頻頻噦惡呃忒音底陽縮溲少而酸臭神識時清時迷脈來至數糊小舌苔中心干黃兩邊微潤四肢厥冷過節汗出如雨風動抽搐清陽之氣窒痹暑熱濁痰交滯於中種種疊見無非險象茲擬熄風化痰升清降濁之法用磨羚羊角五分石決明二兩川貝母三錢晚蠶沙荷葉包五錢藿梗三錢宣木瓜七錢柿蒂七個刀豆子三錢鬱金三錢枇耙葉去毛五斤另雄精二分血珀三分豬牙皂五釐制膽星三分石菖蒲三分研末用荷花露二兩溫熱調服再診風定神清呃止汗減且能安眠醒後胸悶煩臊如故四肢雖屬轉溫有時發冷午後稍覺倦迷所吐稠痰如膿況易動怒一怒起呃四肢稍搐片時即定脈象右手弦數左手覺軟舌苔糙黃體雖豐腴實則外強中虛濁痰瀰漫三焦清氣不能流利暑熱引動肝火也病情尚險風動神糊猶恐不免再擬熄風化痰清泄暑熱磨羚羊角四分至寶丹一粒二昧同荷花露先調服川雅連吳萸湯炒一錢川貝母三錢天竹黃三錢柿蒂十個鬱金三錢竹茹四錢珍珠母二兩炒枳實二錢海浮石一兩瓜蔞皮五錢九節菖蒲七分枇杷葉去毛五斤西瓜翠衣一兩竹瀝二兩沖另煎羊羚角七分煎一炷香頻願與服因症急而羚羊角久煎出味恐不及待故先服磨後服煎也三診病機已轉佳象脈象大起舌苔亦化惟胸脘尚悶還是痰濁交蒸清陽之氣失於舒展肺主一身之氣可以通調水道下輸膀胱肺氣熱鬱膀胱氣化不宣小溲故不爽利時欲起坐胃不和則臥求安也飲食宜慎用黃芩黃連瀉心湯復以芳香化濁略參熄風法川連鹽水炒一錢淡芩二錢川貝母三錢石決明二兩玄精石四錢鹽半夏二錢竹茹三錢辰滑石七錢赤豬苓各三錢竹葉捲心三十片通草二錢另犀角尖三分西月石二分雄精一分半石菖蒲三分鬱金三分血珀三分研細用竹瀝一兩荷花露一兩和勻溫熱調服病勢日退用芳香化濁調理而痊</p>
<p>徐君漸吉先生侄倩也甲子中秋後病寒熱骨節疼痛頭昏不止始服疏散之藥繼則壯熱胸悶時時太息熱甚昏糊如醉如癡終日言語不休先生日此因勞倦乏力外感邪熱痰熱擾亂蒙閉清陽方用枇杷葉鬱金膽星枳實法半夏海浮石簿荷秦艽竹茹陳皮石菖蒲黑山梔連翹另三石丸（即月石礬石礞石）一錢服後至天明神情清爽寒熱皆退下午恣食雞肉餛飩葷油等物又見四肢微寒咳嗽頻吐黃痰再用清肅肺金清化痰熱如神麴山查以消雞面之積而愈</p>
<p>先生之孫孕七月即生生後七日頓時不能飲乳牙齦腫硬俗謂生黃延挑黃者刺之仍如故時鄰人趙姓之僕來診病先生偶告之僕曰得毋七星黃乎近喉上聘必有白點至七粒者不治若四五粒猶可救須用銀針挑破即愈邀其至家視上齶果有白點五粒用銀針刺出惡血頃刻間照常飲乳矣世有初生小兒患此者幸加之意焉</p>
<p>老棚下茶肆小兒初生十日兩內股及褶衣縫小便紅腫去皮日夜啼哭不能吮乳先生曰此胎火也與黴毒□猻疳有別但芽童不禁受此痛楚殊為可慮先生用大黃川連銀花煎湯興服另以外科解毒丹加西黃滲之未滿一時小兒安臥如常且能吮乳兩日全愈因其效速故錄之</p>
<p>尤重患雞肫疳膀胱濕熱下注也滑石車前子赤芍豬苓廣皮黃柏山萆薢</p>
<p>書院弄蔡姓婦未病之前言語稍覺不倫繼則寒熱大作神識昏糊狂呼有大大蛇來兩手環轉日夜不休有時大呼三老爺具呈伸冤兩目翳封甚至裸體奔匿桶中延醫診之足加醫頭與牛黃清心丸至寶丹口如龍噴後請鄧君診視以為痰火擾亂神明與大黃一兩元明粉五錢數服無效險象迭呈或以為武癡也不飲不食已五六日矣其夫惶恐欲備後事時先生與蔡姓同居適家人病是時在五月杪市上枇杷已少先生命購一簍與食而分半與蔡姓蔡婦食之味甘美屢次索食其夫又覓得數蔞日夜與食病轉機兩目之翳亦退諒系肝本太旺枇杷屬金能潤心肺兼平肝木故見效如是十年後秋間又診始病伏邪寒熱交作舌苔濁膩質絳有旬日矣用芳香清暑之品寒熱減輕其人飲食不慎恣食各物忽轉為癲狂兩目失神徹夜不寐喃哺自言有時謾罵赤身裸體不避親疏先生診之曰此痰火擾亂神明心神不安也用馬寶一分濂珠二分辰砂三分膽星三分天竹黃三分石菖蒲三分研末竹瀝二兩徐徐灌服一劑神清癲狂遂已</p>
<p>光復門外某婦患異疾每夜恍惚似有人與之交六年有餘矣四肢乏力腹中作痛形神萎悴據云與夫同寢輒有人擊其夫兩臀夫寤後隱隱覺痛現青色倦怠七日方已先生診之曰此陽氣不足陰邪乘之當發越陽氣以制陰邪用當歸二錢青蒿三錢雷丸三錢鬼箭羽三錢木香七分香附二錢石菖蒲五分防風湯炒黃耆三錢純陽正氣丸錢半先服另硃砂三分雄精二分研末調服外用雄精研末塗陰處並遍灑床帳是夜又來離床尺許不敢近明日復來診用扶陽抑陰遵大易之旨人參鬚一錢辰茯神五錢青蒿二錢雷丸三錢酸棗仁三錢辰砂拌燈心三尺鬼箭羽三錢龍齒四錢珠砂安神丸三錢另真獺肝一分雄精二分金箔一張研末服是夜與一婦人同來勸解曰與我銀錠若干則不來矣病者見其從窗欞更換黑衣而去從此遂絕今已氣體強壯矣又鄉間一婦亦患此疾來時覺枕邊呼呼有聲且有腥氣貼身冰冷此係蛇精為祟亦用前法而愈</p>
<p>北鄉四丫濱某姓駕舟為業其子八歲病溫邪咳嗽不揚神識時糊時清脈象悶郁苔絳延謝醫診治不效一日其子忽高聲曰例不到城去請沈奉江先生一劑可愈矣父訝之曰此先生不知在何處於答曰至祟安寺問訉是耳吾乃西漢王也爾家事可以歷歷言之備述家事甚悉閤家毛髮悚然來寓請診且道其所以然到鄉則龔君錫春先在焉遂擬辛涼宣泄兼用至寶丹半粒果一劑而愈竊思此童素不相識而此濱未會診過何由知先生之名此理殊難索解</p>
<p>西門陳午亨側室病先生診之脈細而鬱舌苔薄白神情清楚驟云余有淚流至頰視之無也忽云額上奇癢忽云心中難過頃刻不安先生曰此因夫亡憂思鬱結神志不寧有鬼憑之也（即莫枚士研經言所云鬼□之屬）用解鬱鎮心安神之品略效不旬日聞人云自縊死矣僅用腰帶繁壁間竹上作縊狀足未離地帶未束緊眼不突舌不出是月鄰居縊死者有五人之多觀此則鬼神之道不可不信亦不可偏信也</p>
<p>陳婦寄寓迎溪橋下壬戍冬天初寒大雪霏霏檐際永掛尺許路少行人陳婦至河邊濯物失足跌入河中數十分鐘載沉戴浮為行人所見呼眾援出遍體皆是米塊氣息全無用剪撕去衣服以腹楞於笆斗底上稍去積水其鄰居急來請先生用乾薑附子桂枝吳萸大熱之劑投之氣復稍回明晨又去診視滿口吐血先生曰此非服熱藥之故系笆斗楞傷所致仍用大熱藥頻服稍能米飲氣機條達面有色澤矣旬日後來寓診視咳嗽氣促先生曰此受大寒之後寒嗽病成矣治之不易用麻黃附子桂枝細辛等兩劑而愈年餘遷居西門外六月出收會款黃昏時又至前墮河處溺死從可知生死有定數且有定處非吾人所得知也</p>
<p>凌學攽之夫人病肝胃氣痛先生治之而愈案云厥陰脈起大敦絡抵少腹下脘為肝之部十月為陽之盡陰盛陽衰厥氣橫逆上侮胃土則嘔惡不喜飲食脈象弦細虛寒無疑須交一陽來復方能霍然茲本經旨肝欲散急食辛以散之本靜則土亦安高良薑制香附製附子青皮陳皮煨木香穀芽白芍吳萸四分同炒臺烏藥另篳茇一分半蔻仁二分猺三分沉香二分研末飯丸復診天寒陽伏陰氣當權厥陰為陰中之至陰緣以質本虛寒遇冷即痛況脾胃素多痰濁肝木上侮土也再用制香附乾薑橘絡細青皮煨木香公丁香砂仁半夏烏藥炒萊菔子小茴香另公丁香沈香蔻仁猺桂研末飯丸</p>
<p>西水關鴻源之母舌尖不能轉掉言語不清口乾額上火冒脈息左寸似無兩尺脈細而數先生曰此心氣不足津液不能上承陰虛陽升舌瘖症也用熟地潼沙苑益智仁（鹽水炒）阿膠丹皮女貞子石斛石菖蒲柏子仁蓮心紅棗趙某咳血音嘶己久木擊金傷肺痿已成生氣殘矣方用北沙參竹茹毛燕冬瓜子丹皮枇杷葉知母杏仁藕節白芨</p>
<p>錢少和世丈子癰與疝氣有別實則異名同類經云男子任脈為病內結七疝巢元方立癃㿉之名㿉者內里膿血是也癃者小泄不通之謂也左睪丸屬肝脈象弦急氣逆口乾高年恐父痛厥現在小溲三日不利腎子脹痛外皮紅腫濕熱下注也姑先通調水道水道不通濕熱愈形阻滯矣赤芍車前子滑石石決明黃柏龍膽草甘草梢竹茹川楝橘核通草薏仁萆薢</p>
<p>蔣右肺主氣脾主運肝主疏泄客冬感受寒邪以致咳嗽今已久嗽傷陰矣金忌</p>
<p>駁岸觀看堂某嫗年九十六壯熱神糊延先生診視脈細弱苔光先生曰大年精血枯槁雖有外感未便過於疏散非扶正達邪不可用人多須一錢蘇葉川旦母菖蒲鬱金等一劑而神識清再劑熱退</p>

<h1>醫驗隨筆跋</h1>
<p>曾南豐稱歐陽公曰蓄道德能文章而歐公之送余無黨文則以為修於身者未必能施於事施於事者或不能見於言三者之不可得而兼自古已然蓋若斯之難也鏞遊於夫子之門數年竊嘗有以觀其微矣夫子粹於醫而於學無所不窺涵泳於道德發越於文章行道數十年所治輒效縉紳耆宿名公鉅卿折節相推重即遠近人士雖未識　夫子之面而感知夫子之名焉每一診視鏞與及門季君鳴九趙君友漁均相侍側遇劇症往往口講指畫詳言其所以然必明辨再四至無憾乃已生平喜著述久而多散佚鏞等雖心識之愧未能一一纂錄也周君逢儒秉承小農先生家學而從遊於夫子閱時未久其手錄治驗已衰然成卷鏞曰此固　夫子之修於身施耶於事見於言者將於是乎見矣周君學好不倦儻積以歲月其所造寧止於是耶庸碌如鏞等能無愧然夫子會師事孟河御醫馬培之徵君世稱為盂河學派云</p>
<p>民國十三年歲在甲子小春月受業丁士鏞謹跋\醫險隨筆跋</p>
<p>病情萬變藥亦萬變能齊其變以寄死生之重決之於俄頃之間蓋至難之事也是故非博學審問慎思明辨而又積甚深之經驗則對此萬變之病與藥未有不茫然者民國王戍秋吾邑中醫友誼會成明年刊醫鍾因得受先生親炙聆其講論極深研幾窮探幽微未當不心焉識之　先生粹面盎背盛德靄然與物無忤義之所在排眾難而為之治病力肩其任不為外物所撓源當隨侍診席每見奇疴大痏群醫卻走而先生當機立斷咯無遲疑莫不應手愈常諭源曰讀書貴博觀約取活潑潑地不沾沾於一家靜察物理觀天人相與之際臨證時目光四矚面面俱到應變幻雖多而病無遁情矣先生行道垂載平生醫驗不可殫述茲就聞見所及筆之於書故不分時代已為同學四千所記者不錄其他奇驗而記憶不完者不錄惟學識譾陋文字拙劣不足闡明先生大義於萬一而先生之經驗閎深變化不測無在非學問思辨之功盂河一脈淵源斯在敬識之以告讀是者書</p>
<p>受業周源逢儒謹跋</p>
