<header data-type="book">
<h1>脈因證治</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>舊題元·<data value="朱震亨">朱震亨</data>著，清·<data value="湯望久">湯望久</data>校輯</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1775">公元1775年</data></dd></div>
<div><dt>底本</dt><dd>《丹溪朱氏脈因證治》，明刊本（<a href="https://www.digital.archives.go.jp/file/1079657">国立公文書館掃描本</a>）；《丹溪朱氏脉因證治》，多紀元胤手跋本（<a href="https://www.digital.archives.go.jp/file/1079026">国立公文書館掃描本</a>）；《芋園叢書·脈因證治》（<a href="https://ctext.org/library.pl?if=gb&res=78888">掃描本</a>）。</dd></div>
</dl>
</header>

<h1>繆序</h1>
<p>余自歸里後，杜門不與世事接。先太宜人病痰飲，延葉眉壽治，歷四年弗痊，而眉壽謂為痼疾難效。因遍覽方書，頗會其旨，揀方以治，不一年而瘳。後遂旁收博採，窮幽極渺，而於長沙、河間、東垣、子和、丹溪諸書尤三致意焉。竊嘗謂醫之有長沙，時中之聖也；而四家並峙，猶清任和之各成其聖，偏焉而至者也。學不從此參究，猶航斷港絕潢以望至於海也，其能之乎？但四家自河間、東垣而外，子和文多缺略，未為全書；丹溪著作，類出門人記載。惟聞《脈因證治》一書簡而賅，約而盡。學者循是而窺長沙，如得其船與楫，沿而不止，固自不可量也。而流傳絕少，歷三十年未獲一嗒，心常怏怏。歲乙未，客有持來示余，欲廣諸同好，亟請付梓。不禁欣感交集，以為一線靈光，忽然湧現，真為桑榆之幸。因不辭而為之序，以弁其首。</p>
<p><u>乾隆乙未仲夏吳趨繆遵義書於芝田山房</u></p>

<h1>卷一</h1>

<h2>一、卒屍</h2>
<p><u>【脈】</u>　寸口沉大而滑，沉則為實，滑則為氣，實氣相搏，厥氣入臟則死，入腑則愈。唇青身冷為入臟，死；身和汗自出為入腑，則愈。緊而急者為遁屍；少陰不至，腎氣衰、少精血，為屍厥。跌陽脈不出，脾不上下，身冷硬，呼之不應，脈絕者死；脈當大，反小者死。</p>
<p><u>【證治】</u>　在外者可治，入里者死。血氣並走於上，則為厥，暴死。素有痼疾，新加卒病，先治卒病。屍厥者，昏不知人，脈動如故，開上焦心肺之陽，自愈。</p>
<p>屍厥，脈動無氣，氣閉靜而死也。以菖蒲屑內鼻兩孔中吹之，令人以桂屑放舌下。又方：剃取左角發方寸，燒末酒和，灌入喉立起。</p>
<p><u>救卒死身熱者驗方</u>　礬石半斤，以水一斗五升煮消，浸腳令沒踝。蓋取礬性收澀，而斂其厥逆之氣。</p>
<p><u>還魂湯</u>　治卒死、客忤氣。</p>
<p>麻黃（三兩，去節）　杏仁（八十個，去皮尖）　炙甘草（一兩）</p>
<p>上三味，水八升，煮取三升，去渣，入薑汁少許，令咽之。蓋取辛甘通陽氣，發越邪氣故也。</p>
<p><u>救卒死目閉方</u>　搗薤汁灌耳中妙；或吹皂莢末於鼻中，立效。薤汁辟邪安魂，莢末取嚏開竅。</p>
<p><u>救卒死張口反折方</u>　灸手足兩爪後十四壯，飲以五毒諸膏散。</p>
<p>外有中惡、中氣、中食等狀，與卒屍相類，須詳諦脈證而投之，慎勿泛視，誤人倉卒。變通在神，法難畢述。</p>

<h2>二、痹</h2>
<p><u>【脈】</u>　寸口喘而堅，痹在心；喘而浮，痹在肺；長而左右彈，痹在肝；大而虛，痹在脾；堅而大，痹在腎。</p>
<p><u>【因】</u>　風，風為行痹。風性善行。寒，寒為痛痹。寒主收引。濕，濕為著痹。濕本重滯。三氣致痹之原，或外兼他患有之。若舍此而能痹，未有也。</p>
<p><u>【證】</u>　其合而為痹也。以冬遇者，骨痹；春遇者，筋痹；夏遇者，脈痹；長夏遇者，肌痹；秋遇者，皮痹。久而不去，內舍五臟之合。待舍其合，難治矣。</p>
<p>《痹論》中議痹，乃三氣皆可客於五臟，其風、寒、濕乘虛而客之故也。筋痹不去，內舍於肝；皮痹不去，內舍於肺；肌痹不去，內舍於脾；脈痹不去，內舍於心；骨痹不去，內舍於腎。其客於心，則煩心，上氣嗌乾，恐噫，厥脹是也。其客於肺，使人煩滿而喘吐。其客於肝，多飲數溲，小腹痛如懷妊，夜臥則驚。其客於脾，四肢解墮，發渴嘔沫，上為大塞。其客於腎，善脹，尻以代踵，脊以代頭。其客於腸，數飲而小便不得，中氣喘爭，時發飧泄。夫大腸乃傳道之官，為沖和之氣，三氣乘虛客之，而和氣閉矣。水道不通，使糟粕不化，故喘爭飧泄也。其客於胞，小腹膀胱，按之內痛。若沃以湯，小便澀，上為清涕。夫三氣客於胞中，則氣不能化出，故胞滿而水道不通，隨經出鼻竅。其客於血脈，隨脈流通上下，升降一身，謂之周痹。</p>
<p><u>華佗論痹</u>　乃邪氣合四時不正之氣，感於臟腑所為。有氣、血、筋、肉、骨之分。其氣痹者，愁思喜怒，過則氣結於上，久而不消則傷肺，正氣衰，邪氣勝。留於上，則胸腹痛而不能食；注於下，則腰腳重而不能行；貫於舌，則不言；遺於腹，則不溺。壅則痛，流則麻。右寸脈沉而遲澀者是也。其血痹者，飲酒過多，懷熱太甚，或寒折於經絡，或濕犯於營衛，因而血搏，漸成枯削失血之證。左寸脈結而不流利是也。其肉痹者，飲食不節，肥美之為。肉不榮，膚不澤，則紋理疏，三氣入之，則四肢緩而不收持。右關脈舉按皆無力而澀也。其筋痹者，由叫怒無時，行步奔急，淫邪傷肝，肝失其氣，寒熱客之，流入筋會，使筋急而不舒。左關脈弦急而數，浮沉有力是也。其骨痹者，乃嗜欲傷於腎氣，內消而不能閉禁，邪氣妄入。脈遲則寒，數則熱，浮則風，濡則濕，滑則虛。治法各隨其宜。</p>
<p><u>麻木余辨</u>　是風濕熱下陷入血分陰中，陽氣不行。其證合目則渾身麻。亦有痰在血分癢者，血不營肌腠。</p>
<p><u>【治】附子湯</u>　治風、寒、濕痹。</p>
<p>附子（炮去皮臍）　桂枝　白芍　甘草　茯苓　人參（各三錢）　白朮（一兩）</p>
<p>行痹，加麻黃桂湯；痛痹，加附子、姜茯湯；胞痹，加四苓；腸痹，加平胃、茱萸、草肉、豆蔻等。</p>
<p><u>戴人法</u>　苦劑湧寒痰，次與痰劑。使白朮（除濕）、茯苓（養腎水）、桂（伐木）、薑、附（寒勝加）。</p>
<p><u>麻木方</u>　人參（助陽道）　當歸（行陰）　生甘草（去熱）　白朮　茯苓（除濕熱）　升麻　</p>
<p><u>柴胡</u>　白芍　蒼朮　黃柏。痰，加二陳。</p>
<p><u>忍冬藤膏</u>　治五痹拘攣。</p>

<h2>三、痓</h2>
<p>（即痙也）</p>
<p><u>【脈】</u>　太陽發熱，脈反沉細，難愈。太陽證備，脈沉遲，此為痙。寸口脈直上下行，伏堅緊如弦。沉弦，沉緊。少陰脈緊，暴微者，欲解。</p>
<p><u>【因】</u>　血氣內虛，四氣外襲。因濕，諸痙項強，皆屬於濕。寒、濕同性，故濕可傷太陽。</p>
<p><u>《三因》論狀</u>　身熱足寒，頭強項急，惡寒，時頭熱，面赤，目赤脈，獨頭搖動，卒噤，角弓反張。皆因血虛筋無所養，邪因入之。故寒則緊縮，熱則弛張，風則弦急，濕則脹緩。又有因瘡口未合，風入之，為破傷風；濕入之，為破傷濕。與痙同，但少頭強項急，余並相如。又有因汗、下過多，又有產後怒氣致此病者，項強亦有痰者。</p>
<p><u>【證】</u>　有汗而不惡寒，名柔痙；無汗，口噤腳攣，名剛痙。</p>
<p><u>【治】</u>　宜流濕祛風緩表而安。詳有無汗而藥之。柔痙，葛根加桂湯；剛痙，大承氣湯。葛根湯汗之，有表證可用。大承氣下之，有里證可用。</p>

<h2>四、痿</h2>
<p><u>【脈】</u>　浮而大，浮虛大熱；滑而大，滑痰大虛；洪而緩，洪熱緩虛。</p>
<p><u>【因】</u>　腎水不能勝心火，火上爍肺金，六葉皆焦，皮毛虛弱，急而薄著者，則生痿躄。皆因貪欲好色之故。濕痰亦能為之。</p>
<p><u>經論</u>　有由悲哀太甚，陽氣內動，數溲血，大經空虛，熱起於心。病則樞紐如折，不相提挈，名曰脈痿。有思想無窮，入房太甚，宗筋弛縱，熱入於肝。病則筋急而爪枯，名曰筋痿。有由濕地，以水為事，熱生於脾。病則胃干而渴，肌肉不仁，名曰肉痿。有因遠行勞倦，遇大熱而渴，陽氣內乏，熱舍於腎。病則腰脊不舉，骨枯而髓減，名曰骨痿。然此皆熱熏於肺之為也。火上炎，肺治節不行而痿躄矣。</p>
<p><u>【證】</u>　面黃，身熱，肌瘦，往來寒熱，涎嗽喘滿，面浮弱而不用者，為痿。外有痿即軟風也。柔風腳弱，病同而證各異。</p>
<p><u>【治】</u>　治獨取陽明。陽明者，胃脈也。五臟六腑之海，主潤宗筋，宗筋主束骨利機關也。故陽明虛而然。</p>
<p>張，以黃連解毒湯加歸等劑治之。</p>
<p>李，以甘寒瀉火，苦寒瀉濕熱。四君子補陽明虛，清暑益氣治之。濕痿之為病，宜二陳湯加朮、苓、柏治之。</p>
<p><u>清暑益氣湯</u>　治熱傷肺，氣虛成痿。</p>
<p>黃耆（一錢，汗少減半。暑邪干衛，身熱自汗，甘溫補之）　人參（救火傷氣）　白朮（各半錢）　白蒼朮（一錢，除濕）　甘草（炙，三錢，益氣）　當歸（三錢）　升麻（一錢，酒潤，甘平，潤肌熱，風勝濕）　葛根（二錢）　陳皮（半錢）　澤瀉（半錢滲濕）　神麯（半錢，消食去痞）　五味（九分，酸寒，收暑傷金）　麥門冬（三錢）　青皮（二錢半）　黃柏（三錢，補水瀉熱）或加知母、黃芩。</p>
<p><u>健步丸</u>　治濕熱成痿。</p>
<p>羌活　防風　柴胡　滑石　炙甘草　生薑（酒洗，各半兩）　澤瀉（五錢）　防己（酒製一兩）　川烏　苦參（酒洗）　肉桂（一錢）</p>
<p>愈風湯下。</p>
<p><u>秘方</u>　氣虛，四君子加蒼、白朮、苓、柏。痰，加竹瀝。血虛，四物湯。濕痰，二陳湯加蒼白朮、苓、柏、竹瀝。下補陰丸。</p>
<p><u>經論</u>　喑痱　乃腎虛也。舌不語，腎脈挾舌本，腎氣厥不至；足不行，腎氣不順。</p>

<h2>五、厥</h2>
<p><u>【脈】</u>　沉微而不數，謂之寒厥；沉伏而數，謂之熱厥。</p>
<p><u>【因】</u>　因虛，因痰，因熱，因寒。</p>
<p><u>【證】</u>　厥當分兩種，次分五臟。寒厥，為手足寒也。陰氣勝則寒。其由乃恃壯縱欲於秋冬之間，則陽奪於內，精氣下溢，邪氣上行，陽衰精竭，陰獨行，故為寒厥。熱厥，為手足熱也。陽氣勝則熱。其由乃醉飽入房，氣聚於脾胃，陰虛陽氣入則胃不和，胃不和則精竭，精氣竭則四肢不榮，酒氣與穀氣相搏，則內熱而溺赤，腎氣衰，陽獨勝，故為熱厥。</p>
<p>五心煩熱，有小腸熱者，有心虛而熱者。</p>
<p>厥，亦有腹暴滿不知人者，或一二日稍知人者，或卒然衰亂者。皆因邪氣亂，陽氣逆，是少陰腎脈不至也。腎氣衰少，精氣奔逸，使風促迫，上入胃膈，宗氣反結心下，陽氣退下，熱歸股腹，與陰相助，令人不仁。又五絡皆會於身，五絡俱絕，則令人身脈俱動，而形體皆無所知，其狀如屍，故曰屍厥。正由臟器相亂，或與外邪相忤，則氣鬱不行，閉於經絡，諸脈伏匿，昏不知人。</p>
<p>厥有痰如曳鋸聲在咽中，為痰厥；骨枯爪痛為骨厥；身直如椽為骭厥；因醉而得為酒厥；暴怒而得為氣厥；手足搐搦為風厥；喘而狂走為陽明厥。此皆氣逆之所為也。</p>
<p><u>【治】</u>　李法：痰用白朮、竹瀝；熱用承氣下之；氣虛補氣，四君子；血虛補血，四物。</p>
<p>張法：降心火，益腎水。通血和氣，必先湧之。</p>

<h2>六、傷寒</h2>
<p><u>【脈】</u>　陽浮而陰弱，謂之傷風。邪在六經俱強，加之風傷陽，故浮虛。陽浮，衛中風也；陰弱，營氣弱也。浮緊而無汗，謂之傷寒。寒傷營，營實則衛虛。寒傷陰，故堅牢。陽緊，邪在上焦，主欲嘔；陰緊，邪在下焦，必欲利。</p>
<p>脈浮，頭項痛，腰脊強，病在太陽。脈長，身熱目痛鼻乾，病在陽明。脈弦，胸脅痛而耳聾，病在少陽。脈俱沉，口燥舌乾，邪在少陰。脈俱微緩，煩滿囊縮，邪在厥陰。脈俱沉細，嗌乾腹滿，邪在太陰。脈陰陽俱盛，重感於寒而緊澀，變為溫瘧。陰陽俱盛，傷寒之脈，前病熱未已，後寒復盛也。脈陽浮滑，陰濡弱，更遇於風乘，變為風溫。陽浮而滑，陰濡而弱，皆風脈也，前熱未歇，風來乘熱。脈陽洪數，陰實大，遇濕熱兩合，變為溫毒。洪數、實大，皆兩熱相合。脈陽濡陰弱而陰弦緊，更遇溫氣，變為溫疫。</p>
<p>病發熱，脈沉而細，表得太陽，名曰痙。病太陽身熱疼，脈微弱、弦芤，名曰中暍。病若發汗已，身灼然熱，名曰風溫，風溫為病，脈陰陽俱浮，自汗出，身重多眠，睡鼾，語難。以小便不利，更被其下。若被火者，微發黃色，劇者則驚癇，時瘛瘲。若火熏則死。病太陽，關節疼痛而煩，脈沉細，名曰濕痹。脈沉細而疾，身冷則四肢冷，煩躁不欲飲水，狂悶，名是陽厥。脈當有神，不問數極、遲敗，當中有力即有神焉。神者，血氣之先。傷寒熱甚，脈浮大者生，沉小者死；已汗，沉小者生，浮大者死。溫病二三日，體熱腹滿頭痛，飲食如故，脈直而疾者，八日死。溫病八九日，頭身不痛，目不赤，色不變而反利，脈來牒牒，按之不彈手，時大，心下堅，十七日死。溫病四五日，頭痛腹滿而吐，脈來細強，十二日死。溫病汗不出，出不至足者死。厥汗出，腎脈強急者生；虛緩者死。溫病下利，腹中痛甚者死。熱病七八日，不汗躁狂，口舌暴燥焦黑，脈反細或代者死。八日以上反大熱，死。邪勝故也。熱病七八日，當汗反下，脈絕者死。熱病得汗，脈躁者死，脈轉大者死。厥逆呼之不應，脈絕者死。陽厥，有力者生；陰厥，按之大者生。熱病七八日，脈不躁，喘不數，後三日中有汗。不汗者，四日死。熱病脈澀小疾，腹滿䐜脹，身熱，不得大小便，死。熱病脈浮大絕，喘而短氣，大衄不止，腹中疼，死。熱病脈浮洪，腸鳴腹滿，四肢清，注泄，死。熱病脈絕動疾，便血，奪形肉，身熱甚，死。熱病脈小疾，咳喘眩悸，奪形肉，身熱，死。熱病腹脹便血，脈大，時時小絕，汗出而喘，口乾，視不見者，死。熱病脈轉小，身熱甚，死。熱病脈轉小，身熱甚，咳而便血，目陷，妄言，循衣縫，躁擾不臥，死。熱病嘔血，咳而煩滿，身黃，腹鼓脹，泄不止，脈絕，死。熱病瘛瘲狂走，不能食，腹滿，胸痛引腰脊，嘔血，死。脈浮而洪，邪氣勝也。身體如油，正氣脫也。喘而不休，水漿不下，胃氣盡也。體麻不仁，營衛不行，乍靜乍亂，正邪爭也。故為命絕也。</p>
<p>熱病喘咳唾血，手足腹腫面黃，振慄不言，名肺絕，死。丁日死，後仿此。熱病頭痛嘔宿汁，嘔逆吐血，水漿不入口，狂妄，腹大滿，名脾絕，死。熱病煩滿骨痛，嗌腫不可咽，欲咳不能咳，歌笑而哭，名心絕，死。熱病僵臥，足不安地，嘔血，血妄行，遺屎溺，名肝絕，死。熱病喘悸吐逆，骨痛短氣，目視不明，汗如珠，腎絕，死。</p>
<p>太陽病，脈反躁盛，是陰陽交，死；得汗，脈靜者生。少陰病，惡寒而蜷，下利，手足逆者死。又吐利躁逆者，死。少陰病，四逆，惡寒而蜷。其脈不至，不煩而躁者死。少陰病，下利止而頭眩，時時自冒者死。又七八日息高者死。少陰病，脈微沉細，但欲臥，汗出不煩，自欲吐，五六日自利煩躁，不得臥寐者死。若利止，惡寒而蜷，手足溫者，可活。少陰病，下利止，厥逆無脈不煩、服湯藥，其脈暴出者死；微續者生。傷寒下利厥逆，躁不得臥者死；下利至厥不止者死。傷寒厥逆，六七日不利，便發熱而利者生。汗出利不止者死，有陰無陽故也。傷寒五六日，不結胸，腹濡，脈虛，復厥者不可下，下之亡血，死。熱病不知所痛，不能自收，口乾陽熱甚，陰頗有寒者死。熱病在腎，渴，口乾，舌燥黃赤，日夜飲水不知，腹大脹尚飲，目無精光者死。傷寒下利，日十餘行，脈反實者死。病者脅下素有痞，而下至於臍旁，痛引小腹入陰挾筋，為臟結者死。結胸證具，而煩躁者死。直視譫語，喘滿者死。若下利亦死。</p>
<p><u>【因】</u>　房勞、辛苦之過，腠理開泄，少陰不藏，觸冒冬時殺厲之氣，嚴寒之毒。中而即病，曰傷寒，不即病，寒毒藏於肌膚之間，至春變為溫，至夏變為熱病。皆腎水涸，春無以發生故也。皆熱不得發泄，鬱於內，遇感而發，雖曰傷寒，實為熱病。春病溫疫，夏為熱病及飧泄，秋髮痎瘧，冬生咳嗽，皆因感四時不正之氣，總名之曰傷寒。</p>
<p><u>【證治】</u>　自外而入，內傳經絡。</p>
<p>太陽證，頭疼，發熱惡寒，腰脊強。脈浮而緊，無汗，謂之傷寒，可汗，宜麻黃湯。脈緩自汗，謂之傷風，宜桂枝湯。忌利小便、重汗、下大便。</p>
<p>陽明證，身熱目疼，鼻乾不得臥，不惡風寒而自汗。尺寸脈俱長，宜白虎湯。浮沉按之有力，宜大承氣湯。胃，血也，不主汗、利。忌汗，利小便。</p>
<p>少陽證，往來寒熱，胸脅痛而嘔，耳聾，脈弦，宜和解之，小柴胡湯。膽無出入水火之間，下犯太陽，汗、下、利皆不可。忌利小便，忌汗，忌利大便。</p>
<p>太陰證，腹滿咽乾，手足自溫，自利不渴，時腹痛，脈沉細，其臟寒，宜四逆湯。脈浮可汗，宜桂枝湯。又大實痛，可下，用詳。忌三法，宜三法，用詳。</p>
<p>少陰證，口噤，舌乾而渴，脈沉實，宜大承氣湯。脈沉細遲者，宜用溫之，四逆湯。身涼，脈沉細而虛，宜瀉心湯。身熱，煩躁不寧，大小便自利，脈浮洪無力，按之全無，宜附子瀉心湯。其吐瀉不渴，脈浮弱，理中湯主之。渴而脈沉，有力而疾，宜五苓散。少陰證，脈沉發熱，當汗，麻黃細辛附子湯。少陰證，下利色不青，當溫；色青口燥，當下。脈弱忌下；乾燥忌汗。</p>
<p>厥陰證，煩滿而囊縮，大小便不通，發熱引飲腹滿，脈俱微沉實，按之有力，當下；無力，當溫。厥陰乃二陰交盡，曰厥陰，為生化之源，喜溫而惡清。</p>
<p>大抵三陰非胃實不可下，此三陰無傳經，止胃實可下也。</p>
<p>太陽，標本不同。標熱，太陽發熱；本寒，膀胱惡寒。故宜汗。陽明，從中氣。標陽，肌熱；本實，妄語。標陽，故宜解肌；本實，故宜下。少陽，標陽，發熱；本火，惡寒。前有陽明，後有太陰，故宜和解。太陰，標陰；本濕，腹脹滿，或嗌乾，身目黃。從標治則溫；從本治宜泄滿下濕。少陰，標陰，爪甲清冷；本熱，脈沉實，口乾渴。標宜溫，本宜下。厥陰，中氣宜溫；煩滿囊縮，故為熱，宜苦辛下之。</p>
<p>麻黃、桂枝之輩，汗而發之。葛根、升麻之屬，因其輕而揚之。三承氣、陷胸之輩，引而竭之。瀉心、十棗之類，中滿泄之。在表宜汗，在裡宜下，在半表半裡宜和。表多里少，和而少汗之。里多表少，和而微下之。在上者，吐之。中氣與脈氣微者，溫之。脈亦同法，又當求本。假令腹痛，用桂枝芍藥湯。何不只用芍藥？卻於桂內加之。要知從太陽中來，故太陽為本。又如結胸，麻黃亦然。</p>
<p>劉法：分病及脈。以五臟言之，諸在皮者，汗之，麻黃湯內加表之。在內者，下之。麻黃細辛附子湯內加下之。此言藏者，五臟也。可通經入臟。物之藏者，腑也，方可下。麻黃湯，治外證之外，麻黃細辛附子湯，治內證之外。肝脈外證，善潔，面青，善怒，脈弦，前方加羌活、防風三錢。內證，滿秘便難，淋溲，轉筋，沉而弦，後方加同前。心脈外證，面赤，口乾，善笑，脈沉而洪，前方加黃芩、石膏各三錢。內證，煩心，心痛，掌中熱而噦，脈沉，後方加同前。肺脈外證，面白，善嚏，悲愁欲哭，脈浮而澀，前方加薑、桂各三錢。內證，喘咳，灑淅寒熱，脈沉，後方加生薑、桂枝。脾脈外證，面黃，善噫，善思味，脈浮而緩，前方加白朮、漢防己。內證，腹脹滿，食不消，怠惰，脈沉。後方加同前。腎脈外證，面黑，善恐，脈浮，前方加附子、生薑。內證，泄如注，下重脛寒，脈沉，後方加同前。</p>
<p>以前外證，皆表之表，汗而發之；內證者，里之表也，漬形以汗，如脈沉，復有里證。里證為發熱引飲，便利赤澀，泄下赤水，或秘，按之內痛，此為里證。宜速下之，依方加大黃三錢。如邪又未盡，復加大黃二錢。</p>
<p>劉、張又相繼論：人多勞役飢飽者，得之火化、火擾。治之宜以辛涼。比及年少性急勞役，豈非火乎？遲脈年老之人，可以辛溫解之。故制雙解散，治諸傷寒、時氣在表裡，皆可服之。表裡證有相似，藥不可差。傷寒表證，發熱惡寒而渴，獨頭痛，身熱，目疼，鼻乾，不得臥，乃陽明經病也，白虎湯主之。雜證，里證亦同。但目赤者，臟病也。脈亦洪大，甚則吐血，先有形也。乃手太陰肺不足，不能管領陽氣，亦以枸杞、地黃等物治之。補瀉當察虛實。假如洪弦相雜，洪，客也，弦，主也。子能令母實。又脈弦無表證，是東方實，西方虛也。又前來者，為實邪。依此補瀉，余仿此行之。</p>
<p>表汗，通聖散、雙解散。半表半裡，涼膈散、柴胡湯。里下，右手脈實，承氣湯；左手脈實，抵當湯。不分浮沉，但實可用。</p>
<p>血氣俱實，主三承氣湯；溫，四逆湯、真武湯；解利，五苓散、解毒散、白虎湯、甘露飲、梔子湯；發黃，茵陳湯。</p>
<p>傷寒得傷風脈，傷風得傷寒脈。假如太陽證，頭疼，身熱，自汗，惡風，脈當緩而反緊，是傷風得傷寒脈也。余以例推之。桂枝麻黃各半湯、羌活湯尤妙。</p>
<p><u>吐</u>　瓜蒂散：瓜蒂　赤小豆</p>
<p>豆豉湯下一錢。</p>
<p>結胸，脈浮大者，不可下之，下之必死。</p>
<p><u>小陷胸湯</u>　半夏　連（薑汁炒）　栝蔞實</p>
<p><u>大陷胸湯</u>　炒大黃（五錢）　苦葶藶（炒，三錢）　芒硝（一錢）　杏仁（十二個）</p>
<p>丸如彈子大。每服一丸，入甘遂末三字，蜜半匙，水煎，至半溫服。</p>

<h3>六經餘證</h3>
<p>太陽痙，汗多熱利，誤下變證。</p>
<p>陽明煩躁。火入於肺，煩也。火入於腎，躁也，梔子豆豉湯。宿食加大黃。狂譫實熱發斑，胃火嘔吐噦。</p>
<p>少陽潮熱。有平旦、日晡之分。（詳見前。）</p>
<p>太陰腹痛，有部分同雜證治。</p>
<p>痞有虛實。實，便秘，厚朴、枳實。虛，便利，白芍。</p>
<p>少陰心驚悸是雜證。吐瀉同霍亂證。治咽喉熱，甘草、桔梗。寒熱合二方。下利色青，下；色不青，溫。渴逆，乃陰消陽逆，或兼以舌攣，語言不正，昏冒咽痛，大承氣。</p>
<p>厥陰，羌活湯。</p>
<p>厥利傷寒，不問何經，辨兩感、傷寒之例。</p>
<p>羌活　防風　川芎　甘草（炙）　芩（各一錢）　地黃　細辛（二錢半）　白朮（二錢）</p>
<p>如身熱，加石膏四錢；腹痛，加芍藥三錢半；往來寒熱，加柴胡一錢、半夏五錢；心下痞，加枳實一錢；里證，加大黃三錢，邪去止之。</p>
<p><u>治疫</u>　麻黃（一兩）　甘草（一兩半）　石膏　滑石　黃芩　白朮（各四兩）　煎服表汗。</p>
<p><u>解利</u>　大羌活湯　治兩感傷寒。出李。</p>
<p>防風　羌活　獨活　防己　白朮　甘草（炙）　黃芩　黃連　蒼朮　川芎　細辛（各三錢）知母　生地黃（各一兩）　白芷（陽明加之）</p>
<p><u>雙解散</u>　混解，不問風、寒。出張，李、劉皆用。</p>
<p><u>梔子豉湯</u>　出李。</p>
<p><u>消毒飲</u>　治疫癘時毒。</p>
<p>黃芩　黃連（各半兩）　連翹（一錢）　陳皮　玄參（各三錢）　甘草　黍黏子　板藍根　馬勃（各一錢）　人參　殭蠶（各一錢）　桔梗（三錢）　升麻（七錢）　柴胡（五錢）　薄荷　川芎（各五錢）　大黃（便硬加之）</p>
<p>以水煎服。</p>
<p><u>傷寒中寒說</u>　傷寒為外寒鬱內熱。傷寒面慘而不舒，惡寒不惡風。中寒謂寒乘其膚腠，不分經絡，疏豁一身，無熱可發，溫補自安。此胃氣之大虛也。</p>
<p><u>風濕不可下論</u>　春夏之交，病如傷寒，自汗，肢體重痛轉側難，小便不利，此名風濕，非傷寒也。因陰雨卑濕，或引飲多有此證，宜多與五苓散，切忌汗、下。</p>
<p><u>四證類傷寒</u>　傷寒，右寸脈緊盛，痞滿。腳氣如傷寒證，但病起於腳胯。痰證，嘔逆頭痛，脈浮而滑；痞滿，虛煩不惡寒，不頭痛身疼。陽毒，身重，腰脊痛，狂言，或吐血下利，脈浮大數，咽喉痛唾血，面赤如錦紋，五六日可治。陰毒，身重背強，腹中絞痛，咽喉不利；毒氣攻心，心下堅，嘔逆，唇青面黑，四肢冷，脈沉細緊數，身如打，五六日可治。</p>
<p><u>陰盛格陽</u>　目赤，煩躁不渴，或渴不欲水，脈七八至，按之不鼓，姜附主之。</p>
<p><u>陽盛拒陰</u>　身表涼痛，四腳冷，諸陰證，脈沉數而有力，承氣主之。</p>
<p>陽厥極深，或時鄭聲，指甲、面色青黑，勢困，脈附骨，按之有舉之無。因陽氣怫鬱，不得榮運於四肢，以至身冷。先涼膈養陰退陽，以待心胸微曖，可承氣下之。</p>
<p>陰證身靜，重語無聲，氣難布息，目睛不了了，鼻中呼不出吸不入，口鼻中氣冷，水漿不入口，二便不禁，面上惡寒，如有刀刺。</p>
<p>陽證身動，輕語有聲，目睛了了，鼻中呼吸出入能往能來，口鼻氣熱。傷風，氣出粗，合口不開，面光而不慘，惡風不惡寒。傷食，口無味，液不納，息肩。</p>
<p><u>兩感</u>　一日太陽受之，即與少陰俱病，頭疼口乾，煩滿而渴者是。二日陽明受之，即與太陰俱病。腹滿身熱，不飲食，譫語。三日少陽受之，即與厥陰俱病。煩滿囊縮，水漿不入口，不知人，六日死。</p>
<p><u>痙</u>　太陽病，發熱無汗，反惡寒者，名剛痙。無汗為表實，惡寒為重感，故名剛痙。太陽病，發熱有汗，不惡寒者，為柔痙。表虛傷濕。其病身熱足寒，頸項強急，惡寒，時頭熱，面赤，目脈赤，頭搖，卒口噤，背反張。</p>
<p><u>中濕</u>　見前脈。其病一身盡黃，頭痛汗出，欲水而不能飲，反欲近火。</p>
<p><u>頭汗</u>　乃邪搏諸陽，熱不得越，津液上湊。又見自汗條下。</p>
<p><u>手足汗</u>　有邪聚於胃則便硬。有寒則便溏，不能食，小便不利。</p>
<p><u>煩躁</u>　有熱傳於內，胸中有熱，關前洪數，宜解熱。有虛，因汗、吐、下，虛協餘熱，身不疼，脈不緊數，宜補之。又初解，胃弱強食，胃脈浮洪。</p>
<p>苔，皆心經之熱淺深也。白而滑，乃邪在半表半裡也；白而澀，熱在裡也；黃而干，熱在胃也；黑者宜下。</p>
<p>噦皆胃疾，或寒，或妄下之虛。</p>
<p>厥，手足冷。有寒，有熱。先熱而後厥者，熱伏於內；先厥而後熱者，陰退陽氣復；始得之便厥，皆陽不足而陰勝也，所主為寒。</p>
<p><u>譫語四證</u>　傷寒譫語，屬陽明經。乃胃有熱，脈洪大者是。宜調胃承氣湯。身不熱，身困者，謂之鄭聲。病退人虛，脈和平，宜滋補。婦人經來，適邪氣乘虛入於血海，左關脈數者，小柴胡湯主之。有邪祟者，言語涉邪，頗有意思，狀多變，與病相違者是。</p>
<p><u>氣喘七證</u>　傷寒太陽證，下之微喘者，內虛外熱故也，宜解其表。飲水過多，水停心下，胸膈滿而喘者，宜利其小便。病本無喘，因藥下之，瀉止而喘，其色已脫，不治。喘而四逆者，不治。喘而噫者，不治。喘而魚口者，不治。喘而目閉、面黑者，不治。</p>
<p><u>目瞪四證</u>　傷寒至目瞪不省人事，此中風痙證。以藥開關吐痰，痙退眼開，隨證治之。傷寒，病已過經，痙退無熱，人困不語，脈和目瞪，謂之戴陽，下虛故也。陽毒不解，熱毒之氣伏於太陽之經，故使目瞪。六脈弦勁，漸作魚口，氣粗者死。太陰痰潮，上灌七竅，兩目瞪。與小兒驚風之類同，下痰則愈。舌卷唇焦，乃心肝熱極，三焦精液不生，可治；舌卷卵縮，厥陰絕也，必也。</p>
<p><u>厥陰幽悶三證</u>　陰毒陽冷，四肢逆冷，心膈幽悶，默默思睡，脈沉伏者是。傷寒起，汗下後，又戰汗過多，人困身冷不動者，乏陽也。傷寒未三日，身冷，額上汗出，面赤心煩者，非陰毒證，謂之陰勝格陽。陰氣並於外，陽氣伏於內，其脈沉數也。</p>
<p><u>咽乾兩證</u>　少陽證，口苦咽乾，乃膽熱也，小柴胡湯。少陰證，口燥咽乾，主腎熱津液不生，宜下。</p>
<p><u>惡寒三證</u>　發熱惡寒，發於陽。脈浮數，宜麻黃、桂枝汗之。無熱惡寒，發於陰。脈沉細。宜四逆溫里。發汗後，反惡寒，氣虛也。脈微弱，補虛，芍藥附子甘草湯主之。</p>
<p><u>惡風三證</u>　汗出而脈緩，宜桂枝加葛根湯，便遍身潤。太陽病，發汗過多，亡陽。衛虛惡風，當溫其經，宜桂枝加附子湯。風濕相搏，骨節煩痛，不得屈伸，汗出惡風，不欲去衣，宜甘草附子湯。</p>
<p><u>汗後發熱並再傷八證</u>　發汗不入格，其病不解，宜再汗之。發汗後，再傷風邪而熱，宜發汗；再傷風寒而熱，隨證治之。汗後溫之熱，脈弦小而數者，有餘熱也，宜和解之。汗後溫之熱，脈靜，身無痛處。虛熱也，宜平補之。汗後溫之熱，或渴，或煩，或胸滿，或腹急，有里證，脈沉數，宜下之。勞力而再熱，平解勞倦，宜柴胡鱉甲散。食過而熱者，宜消化其食。</p>
<p><u>中暍</u>　夏月發熱惡寒，小便己灑然毛聳，脈弦細而芤遲，宜白虎人參湯。忌汗、下。</p>
<p><u>中暑</u>　背寒面垢，手足微冷，煩躁引飲，四肢不痛，脈浮，宜五苓、白虎。</p>
<p><u>中溫</u>　，冬月冒寒，至春再感乖常之氣。</p>
<p><u>風溫</u>　先傷風，後傷溫。頭疼自汗，體重息如喘，但默默欲眠，尺寸脈俱浮。風溫脈浮，證同前條下。</p>
<p><u>溫毒</u>　汗、吐、下，表未罷，毒邪入臟，身有斑，脈陽洪數、陰實大。濕溫，先傷濕，後中暑。</p>
<p><u>瘟疫</u>　眾人一般，脈陽虛弱、陰弦緊。</p>
<p><u>潮熱</u>　陽明，申酉時分也。胃實宜下，寒熱相繼在他時。太陽病，熱在寅卯；少陽，在巳午。</p>
<p><u>汗自出</u>　太陽經自汗，營弱衛強也。中風，太陽脈緩；風溫，身重多睡，脈浮緩；風濕，脈沉而細，證同前條下。少陰，咽痛，拘急，四肢疼，厥逆自汗，亡陽也。太陽，亡陽自汗。柔痙，同前痙下。</p>
<p>除中者，死。傷寒六七日，脈遲下利而熱，反與黃芩湯撤其熱，腹中惡冷，當不能食，今反能食，名曰除中。脾經受邪，則下利而熱，反與黃芩，邪熱未去而胃氣先去。</p>
<p><u>禁忌</u>　厥陰心痛發斑，不欲食，食則吐蛔，下則利不止。諸四肢厥逆，不可下。五六日，不結胸，腹痛滿，脈虛復厥者，不可下。當下反汗之，必口爛。</p>
<p>少陰脈沉細數，病在裡，忌汗；微者，忌汗。尺脈弱澀者，不可下之。</p>
<p>太陰腹滿，吐，食不下，自利，時腹自痛。忌下，下之胸下結硬。脈弱，自便利，雖用下，宜減之。</p>
<p>少陽不可汗，忌利小便，忌利大便。犯之，各隨上下前後，本變及中變諸變例。</p>
<p>太陽小便不利，不可利之。利之邪氣入里不能解。咽乾淋衄，小便不利，當汗不可汗。在表不可下，下之動血。誤犯之成結胸、痞氣。汗之成血蓄於胸中；當汗而下之，成協熱利。</p>
<p><u>太陽證誤下有八變</u>　脈浮者，必結胸。緊者，必咽痛。弦者，必兩脅拘急。細數者，頭痛不止，沉緊者，必欲嘔。沉滑者，必熱利。浮滑者，必下血。</p>
<p><u>陽明不當發汗</u>　發汗成蓄血，上焦為衄。不當下而下之，血蓄下焦發狂。有年老患時熱狂妄，服附者愈，服寒涼者死。</p>
<p>足太陽未渴，小便清者，禁利。咽乾禁汗，成蓄血禁下太早。已渴者，五苓散。譫語、潮熱、大渴，宜下。</p>
<p>足少陽三禁，胃實可下。足太陰禁下。足少陰脈沉，口燥咽乾而渴，禁汗；脈澀而弱，禁下。三陰非胃實，不可下。</p>
<p>治三焦便有膽少陽經，作風治不宜汗、下、利小便。治心便有腎少陰，故本熱標寒，故脈沉細，按之洪大，用承氣湯酒製熱飲是也。</p>
<p>治膀胱便有小腸太陽，故本寒標陽，故脈緊數，按之不鼓而空虛，用姜附寒飲頓服。</p>
<p>治肺便有脾太陰，故寒因寒用，大黃枳實下之。</p>
<p>治陽明純陽，大腸喜熱惡清，當以熱治寒也。絡宜清，當以寒治熱。</p>
<p>許學士解利外感</p>
<p>傷風者，惡風。用防風二錢、甘草、麻黃各一錢。頭痛加川芎，項背腰痛加羌活，身重加蒼朮，肢節痛加羌活，目痛鼻乾及痛加升麻；或乾嘔，或寒熱，或脅下痛，加柴胡。傷寒者，惡寒。用麻黃二錢、防風、甘草各一錢。頭沉悶加羌活一錢。</p>
<p>凡治傷寒，以甘草為君，防風、白朮為佐。是寒宜甘發也，看他證加減。傷風以防風為君，甘草、白朮為佐。是風宜辛散也。其傷寒表證，以石膏、滑石、甘草、知母、蔥、豉之類，汗出即解。如熱半表半裡，與小柴胡，汗出而愈；熱甚，大柴胡與之；更甚，小承氣。裡熱甚，大承氣，發黃者，茵陳蒿湯下之。結胸，陷胸湯下之。</p>
<p>內傷，見於右手。內傷躁作寒已，寒作躁已，不相併，但有間，且晡時必減，乃胃氣得令。潮作之時，精神困倦，乃其氣不足。外傷，見於左手。外傷但無間，且晡時必作劇，乃邪氣盛。潮作之時，精神有餘，乃邪氣勝。寒邪不能食，風邪能食。</p>
<p>表虛，不作表虛治。或勞役於涼處解衣，或陰虛新浴，表虛為風寒所遏，切不可妄解表。</p>

<h2>七、大頭腫痛</h2>
<p>（附蛤蟆瘟）</p>
<p><u>【因】</u>　陽明邪熱太甚，故資實少陽相火而為之也。濕熱為腫痛，治之視其腫熱在何部分，隨結而取之，是天行也。</p>
<p><u>【治】</u>　黃芩（炒）　甘草　大黃（煨）　黍黏子（炒）　芒硝</p>
<p>陽明渴，加石膏；少陽渴，加栝蔞根；陽明行經，加升麻、白芍、葛根、甘草；太陽行經，加羌活、防風。</p>
<p><u>蛤蟆瘟</u></p>
<p><u>【因】</u>　風熱。</p>
<p><u>【治】</u>　解毒丸下之。</p>
<p>側柏葉自然汁調蚯蚓糞敷。燒灰大妙。</p>
<p>車前葉服；或丁香尖、附子尖、南星，醋磨敷皆可。五葉藤汁敷亦可。</p>

<h2>八、霍亂</h2>
<p><u>【脈】</u>　微澀，或代，或伏。脈弦滑者，膈有宿食；身卻不熱，為霍亂。大者生，微遲者死，脈洪者熱。</p>
<p><u>【因】</u>　其氣有三：一曰火，二曰風，三曰濕。</p>
<p>邪在上焦則吐，下焦則瀉，中焦則吐而且利。吐為暍熱也；瀉為濕也；風勝則動，故轉筋也。或因大渴而大飲，或飢，或飽甚，傷損胃氣，陰陽交爭而不和。此為急病也，不死。如干霍亂而不得吐利，必死。</p>
<p><u>【證】</u>　其狀心腹卒痛，嘔吐下利，憎寒發熱，頭痛眩暈。先心痛則先吐，先腹痛則先下，心腹俱痛，吐利並作。甚則轉筋，入腹則死，不然則吐瀉。</p>
<p>乾霍亂者，忽然心腹脹滿，絞刺痛，欲吐不吐，欲利不利，須臾則死。以鹽湯大吐之佳。</p>
<p>外有沖惡，病同而名異。</p>
<p><u>【治】</u>　五苓散治熱多飲水，關上脈洪者，熱也。宜清之。</p>
<p><u>理中丸</u>　治寒多不飲水，身不熱者。</p>
<p><u>半夏湯</u>　治霍亂轉筋，吐利不止。身痛不止者，宜加桂枝湯。</p>
<p>半夏曲　茯苓　陳皮　白朮　薄荷　桂枝　甘草</p>
<p><u>和解散</u>　治霍亂。此條，內有所積，外為邪氣所阻。甚用吐法，二陳湯。</p>
<p><u>和解散</u>　川芎　蒼朮　白芷　防風</p>

<h2>九、瘟病</h2>
<p><u>【證】</u>　眾人一般者是。</p>
<p><u>【治】</u>　有三法：宜補，宜散，宜降。</p>
<p>大黃　黃芩　黃連　人參　桔梗　蒼朮　防風　滑石粉　人中黃　香附子</p>
<p>上神麯丸，送下隨宜。氣虛四君子；血虛四物湯；痰，二陳湯；熱甚，童便作湯送下。</p>
<p>春夏不服麻黃，秋冬不服桂枝；夏不服青龍，冬不服白虎。</p>

<h2>十、傷暑</h2>
<p><u>【脈】</u>　脈虛身熱，或浮自汗。自汗者，火動而散故也。</p>
<p><u>【因】</u>　夏火太熱，損傷肺金元氣。其感有二：動而得之，乃辛苦之人，動而火勝，熱傷氣也，脈洪而大。靜而得之，乃安樂之人，靜而濕勝，火勝金位也，脈沉而實。</p>
<p><u>【證治】</u>　暑喜歸心。入心則噎塞，昏不知人；入肝則眩暈；入肺則喘滿、痿躄；入脾則昏睡不覺；入腎則消渴。病則怠惰嗜臥，四肢不收，精神不足，兩腳痿弱，頭疼惡熱，躁熱，大渴引飲，大汗。因動而中，白虎加入參湯主方。頭疼惡寒，拘急肢節疼，大熱無汗。因靜而中，大順散、白虎加蒼朮。有陰勝陽之極，甚則傳腎肝為痿厥，清暑益氣湯主之。</p>
<p>凡中暍死，切忌與冷水涼處，須沃以湯，宜黃龍丸主之。</p>
<p>心虛傷暑，身熱頭痛，煩滿而渴，五苓散主之。肺虛傷暑，身熱煩悶而喘，白虎湯主之。脾虛傷暑，則為痎瘧，常山飲主之。</p>
<p><u>黃連香薷湯</u>　治暑。挾痰加半夏；虛加參、耆。</p>
<p><u>清暑益氣湯</u>　治暑傷金，虛甚。</p>
<p><u>玉龍丸</u>　曾用治暑。油炒半夏、薑汁丸。</p>
<p><u>補中益氣湯</u>　治疰夏痰滲。</p>
<p><u>二苓湯</u>　治春夏之交，病似傷寒，自汗體重，痛難轉側，此名中濕。</p>
<p>澤瀉（一兩）　滑石（二兩）　茯苓　豬苓　白朮（半兩）</p>
<p>暑風挾火，痰實者，可用吐法。</p>
<p><u>玉龍丸</u>　治暑泄瀉，或二便秘。</p>
<p>焰硝　明礬　滑石　硫黃（一兩）　白麵（六兩）</p>
<p>水丸，水下。</p>

<h2>十一、瘧</h2>
<p><u>【脈】</u>　瘧脈自弦，弦數多熱，弦遲多寒。弦小緊者，可下之；弦遲者，可溫之；弦數者，可汗，灸之；浮大者，可吐之；弦數者，風發也，以飲食消息止之。</p>
<p><u>【因】</u>　夏暑舍於營衛之間，腠理不密，遇秋之風，玄府受之。慘愴之水，寒氣氣閉而不出，舍於腸胃之外，與營衛並行。晝行於陽，夜行於陰，並則病作，離則病止。並於陽則熱，並於陰則寒。淺則日作，深則間日。在氣則早，在血則晏。因汗郁成痰，因虛弱陰陽相乘。</p>
<p>外因從六淫，有寒、濕、癉、濕、牝。寒則先寒後熱；溫則先熱後寒；癉則但熱不寒；濕則身骨節疼；牝則寒多不熱。內因，有臟氣不和，鬱結痰飲所致。有肝、心、脾、肺、腎之說。說見後。不內外因，疫瘧，一歲之內，大小相似；鬼瘧夢寐不詳；癉瘧乍有乍已；食瘧因飲食得之；勞瘧因勞得之；母瘧有母傳染者也。</p>
<p><u>李論</u>　夏傷於暑，秋為痎瘧。暑者，季夏濕土。濕令不行則土虧矣，所勝妄行，木氣太過，少陽主也。所生者受病，則肺金不足，不勝者侮之。水勝土之分，土者坤，坤在申，申為相火。水入土，則水火相干，則陰陽交作，肺金不足，灑淅惡寒。土虛少陽乘之，則為寒熱。發於秋者，濕熱則卯酉之分也。</p>
<p><u>【證治】</u>　先寒而熱，謂之寒瘧；先熱而寒，謂之溫瘧；治之宜乎中也。中者，少陽也。渴者，燥勝也。不渴者，濕勝也。又有得之於冬，而發於暑，邪舍於腎，足少陰也。有藏之於心，內熱蓄於肺，手太陰也。但熱而不寒，謂之癉瘧，足陽明也。在太陽經謂之風瘧，宜汗之；在陽明經謂之熱瘧，宜下之；少陽經謂之風熱，宜和之。此傷之淺也。在陰經則不分三經，謂之溫瘧，宜從太陰經論之。此傷之重也。</p>
<p>太陽經，頭痛腰痛，寒從背起，先寒後熱，宜小柴胡、羌活地黃湯。</p>
<p>少陽經，心體解㑊，寒熱不甚，惡見人，多汗出甚，小柴胡湯。</p>
<p>陽明經，先寒久乃熱，熱大汗，喜見火乃快，宜桂枝二白虎一湯。</p>
<p>少陰經，嘔吐煩悶，熱多寒少，欲閉戶而處，病難已，小柴胡加半夏湯。</p>
<p>太陰經，好太息，不嗜食，多寒熱汗出，病至喜嘔乃衰，理中湯。</p>
<p>厥陰經，小腹腰痛，小便不利，意恐懼，四物玄明苦楝附子湯。</p>
<p>心瘧，煩心，甚欲得清水，反寒多不甚熱，宜桂枝黃芩湯。</p>
<p>肺瘧，心寒甚，熱間善驚，如有見者，桂枝加芍藥湯。</p>
<p>肝瘧，色蒼蒼然太息，甚伏若死，通脈四逆湯。</p>
<p>脾瘧，寒則腹痛，熱則腸鳴，鳴已汗出，小建中湯、芍藥甘草湯。</p>
<p>腎瘧，腰脊痛宛轉便難，目眴然，手足寒，桂枝加當歸芍藥湯。</p>
<p>胃瘧，將病也，善飢不能食，能食而支滿腹脹，理中湯、丸主之。</p>
<p>勞瘧，經年不瘥，後復發作，微勞力不任，名曰勞瘧。</p>
<p>母瘧，百藥不瘥，結成癥癖在腹脅，名瘧母。</p>
<p>治雖不同，瘧得於暑，當以汗解。或汗不徹，鬱而成痰，宜以養胃化痰發汗，邪氣得出，自然和也。虛則補之，脈洪數無力者是也。</p>
<p><u>羌活湯</u>　治邪氣淺在表。</p>
<p>羌活　防風　甘草　惡寒有汗，加桂枝；惡風無汗，加麻黃；吐，加半夏。</p>
<p><u>麻黃桂枝湯</u>　治夜瘧。此散血中風寒。</p>
<p>麻黃（一兩）　桂枝（二錢）　甘草（炙，三錢）　黃芩（五錢）　桃仁（三十粒，去皮尖）　邪氣深而入血，故夜。以桃仁緩肝，散血中邪。</p>
<p><u>桂枝石膏湯</u>　治邪深間日。</p>
<p>桂枝　石膏　知母　黃芩　汗出不愈，為內實外虛，寒熱大作，必傳入陰。太陽陽明，耆、芍；寒熱傳入，太陽陽明少陽合病，加柴胡、半夏、人參、甘草。</p>
<p><u>藜蘆散</u>　治久瘧欲吐不能吐，宜吐之。</p>
<p>藜蘆為末，溫齏水調下半錢，以吐為度。</p>
<p><u>張法</u>　白虎加參湯、小柴胡合五苓散、神祜丸治之。</p>
<p>服前三方未動，次與之承氣湯治。甚者，甘露飲調之，人參柴胡飲子補之，常山飲吐之。</p>
<p><u>老瘧丹</u>　治老瘧，風暑入陰在臟，凝血氣。</p>
<p>川芎　桃仁　紅花　當歸　蒼朮　白朮　白芷　黃柏　甘草</p>
<p>上水煎，露一宿，次早服之。</p>
<p><u>瘧母丸</u>　治瘧母、食瘧。</p>
<p>鱉甲（醋炙，君）　三稜　莪朮（醋炙）　香附子　阿魏（食積加醋化）</p>
<p><u>截瘧丸</u>　先補藥、表藥，徹起陽分，方可截。</p>
<p>川常山　草果　知母　檳榔　烏梅　穿山甲（炒）　甘草（炙）</p>
<p>用水一大碗，煎半碗，露一宿，臨發時溫服之，宜吐。</p>
<p><u>一補一發丹</u>　治久瘧內傷挾外邪。內發必主痰，外以汗解。</p>
<p>半夏　茯苓　陳皮　柴胡　黃芩　蒼朮　川常山　葛根　虛加參、術補氣，甚加芩、連。有一人夏感，脈沉細，服之愈。</p>
<p><u>常山湯</u>　治婦胎瘧。</p>
<p>常山（二兩）　黃芩（三兩）　石膏（八錢，另研）　烏梅（十四個）　甘草（一兩）</p>
<p>煎服之。</p>
<p><u>不二散</u>　白麵（二兩）　砒（一錢）</p>
<p>和勻，以香油一斤煎之，色黃，用草紙壓之，去油為末，入江茶三兩，每服一字。</p>
<p><u>神妙絕瘧</u>　木通（川者）　秦艽（去蘆）　穿山甲（炙）　常山（各等分）　辰砂（半錢，另研）　烏梅（七個）　大棗（七個）</p>
<p>上以水三盞，煎至半，入酒一盞，再至半。先刮砂，棗服，次服藥。</p>

<h2>十二、疸</h2>
<p><u>【脈證】</u>　脈沉，渴欲飲水，小便不利，皆發黃。脈沉乃陽明蓄熱，喜自汗。汗出入水，熱鬱身腫，發熱不渴，名黃汗。脈緊數，乃失飢發熱，大食傷胃，食則腹滿，名谷疸。數為熱，熱則大食；緊為寒，寒則腹滿。脈浮緊，乃因暴熱浴冷水，熱伏胸中，身面目悉如金色，名黃疸。陽明病，脈遲者，食難用飽，飽則發煩、頭眩者，必小便難，欲作谷疸。脈沉弦或緊細，因飲酒百脈熱，當風入水，懊憹心煩足熱，名酒疸。其脈浮欲嘔者，先吐之；沉弦者，先下之。脈浮緊，乃大熱交接入水，腎氣虛流入於脾，額黑，日晡熱，小腹急，足下熱，大便黑，時溏，名女勞疸。腹如水狀，不治。脈寸口近掌無脈，口鼻冷，不治。其病身熱，一身盡痛，發黃便澀。</p>
<p><u>【因】</u>　內熱入水，濕熱內郁，沖發胃氣。病雖有五，皆濕熱也。</p>
<p><u>【治】</u>　諸黃家，但利其小便愈。假令脈浮，以汗解之；如便通汗自，當下之愈。當以十八日為期，治之十日以上為差，反劇者難治。治法以疏濕、利小便、清熱或汗之，五苓加茵陳、連類。</p>
<p><u>茵陳梔子湯</u>　茵陳（一兩，去莖）　大黃（半兩）　山梔（十個）</p>
<p>豆豉湯下</p>
<p><u>五苓散</u>　熱加苦參；渴加栝蔞根；便澀加葶藶；素熱加黃連。</p>
<p><u>茵陳蒿湯</u>　治黃疸，寒熱不食，食則頭眩，心胸不安者是。</p>
<p><u>滑石石膏丸</u>　治女勞疸。證見題下。</p>
<p>滑石石膏</p>
<p>研末下，粥飲，例利則止。</p>

<h2>十三、勞</h2>
<p>（勞極　煩熱　勞瘵）</p>
<p><u>【脈】</u>　男子平人，脈大為勞，極虛為勞，浮大為裡虛。男子脈虛弱細微者，善盜汗。男子脈虛沉弦，無寒熱，短氣裡急，小便不利、面色白，時目瞑，喜衄。諸芤、動、微、緊，男子失精，女子夢交。脈沉小遲，名脫氣。其人疾行則喘，手足寒，腹滿，甚則溏泄，食不消。脈弦而大，大則為芤，弦則為減，女子漏下，男子失精。脈微弱而澀為無子，精氣清冷。尺脈弱寸強，胃絡脈傷。安臥脈盛，謂之脫血。脈舉之而滑，按之而微，看在何部，以知其臟。尺弱滑而澀，下虛也；尺滑而澀疾，為血虛。脈數，骨肉相失，聲散嘔血，陽事不禁，晝涼夜熱者死。脈輕手則滑，重按則平，看在何經而辨其腑。寸弱而微者，上虛也。</p>
<p><u>【因】</u>　喜怒不節，起居不時，有所勞傷，皆傷其氣。氣衰則火旺，火旺則乘其脾土，而胃氣、元氣散解，不能滋養百脈，灌注臟腑，衛護周身，百病皆作。</p>
<p><u>【證】</u>　百節煩疼，胸滿氣短，心煩不安，耳聵鳴，眼黑眩，寒熱交作，自汗飧泄，四肢怠惰者。</p>
<p>外有脾痹、中風、濕痹病、傷暑、骨熱不同。</p>
<p><u>【治】</u>　法以甘寒瀉火，甘溫補中，溫之、收之。</p>
<p>十全散、四物湯治血虛；四君子湯治氣虛，加升麻，補中益氣湯。</p>
<p><u>牛膝丸</u>　治腎肝損，骨痿不能起床，筋緩不能收持。</p>
<p>川萆薢（炒）　杜仲（炒）　蓯蓉（酒浸）　菟絲（酒浸）　牛膝（酒浸，治腎）　蒺藜（治肝，各等分）　桂枝（半兩）</p>
<p>酒煮豬腰子，丸梧桐子大。空心酒下。亦治腰痛。</p>
<p><u>腎氣丸</u>　治腎脾不足，房室虛損，宜此榮養血以益腎。腎苦燥，以辛潤之，致津液，故用川芎。酸以收之，故用五味。蓋神方也。</p>
<p>蒼朮（泔浸，一斤）　熟地（一斤）　五味（半斤）　川芎（冬一兩，夏半兩，秋七錢，春亦七錢）</p>
<p>上為末，用棗肉丸，米飲下。</p>
<p><u>地黃煎丸</u>　解勞生肌活血。</p>
<p>生地汁　藕汁　杏仁汁　薑汁（各五升）　薄荷汁　鵝梨汁　法酒（二升）　沙蜜（四兩）</p>
<p>以上慢火熬成膏，入後藥。</p>
<p>柴胡（三兩，去蘆）　秦艽（去蘆）　桔梗（各二兩）　熟地黃（四兩）　木香　枳殼（炒）　柏子仁（炒）　山藥　白茯苓　遠志（去心）　人參　白朮（各一兩）　麝香（半錢，另研）</p>
<p>上為末，和前藥，丸如梧桐子大，甘草湯下。</p>
<p><u>辛苦勞</u>　柴胡　人參　黃耆　黃柏　甘草</p>
<p><u>牡蠣散</u>　治諸虛不足，津液不固，自汗出。</p>
<p>牡蠣（煅取粉）　麻黃根　黃耆　或加秦艽、柴胡、小麥同煎。</p>
<p><u>麥門冬湯</u>　治大病後虛煩，則熱不解，不得臥。</p>
<p>半夏　竹茹　陳皮　茯苓　麥門冬　人參</p>
<p><u>炙甘草湯</u>　治虛勞不足，汗出而悶，心悸，脈結代。</p>
<p><u>酸棗仁丸</u>　治虛勞，虛煩不得眠者。</p>
<p>棗仁（炒，一兩）　參　桂（各一錢）　茯苓（三錢）　石膏（半兩）　豬苓（三錢）</p>
<p><u>固精丸</u>　治精滑。</p>
<p>牡蠣砂鍋煅，醋淬七次，醋糊丸，梧子大，空心鹽酒送下。</p>
<p><u>參歸散</u>　治骨蒸勞。</p>
<p>知母（炒）　人參（炒）　秦艽（去尖蘆）　北柴胡（同術炒）　鱉甲（麥湯浸七次）　前胡（各半兩）　烏梅（三個）　地骨皮　川常山（酒浸三日）　川歸（柴胡同炒）　甘草　白茯苓（各七錢半）</p>
<p>水煎服。</p>
<p><u>脾虛</u>　本經宜四君子湯。</p>
<p>肝乘之，脅痛口苦，往來寒熱而嘔，四肢滿悶，淋溲便難，轉筋腹痛。宜防風、獨活、川芎、桂、芍藥、白朮、茯苓、豬苓、澤瀉、黃柏、細辛、滑石。</p>
<p>心乘之，宜連、芩、柏、白芍、地黃、石膏、知母。</p>
<p>肺受病，痰嗽短氣，懶言嗜臥，灑淅寒熱，宜補中益氣湯。作涎清涕，肩胛腰脊痛，冷泄，宜乾薑、朮、附、烏、蒼朮、桂、茯。</p>
<p><u>勞極</u></p>
<p>勞者，神不寧也。</p>
<p>肝勞實熱，關格牢澀，閉寒不通，毛悴色夭。肝勞虛寒，口苦，關節疼痛，筋攣縮，煩悶。</p>
<p>心勞實熱，口舌生瘡，大便閉塞，心滿痛，小腹熱。心勞虛寒，驚悸恍惚多忘，夢寐驚魘，神志不定。</p>
<p>脾勞實熱，四肢不和，五臟乘戾，脹滿肩息，氣急不安。脾勞虛寒，氣脹咽滿，食不下通，噫宿食臭。</p>
<p>肺勞實熱，氣喘鼻脹，面目苦腫。肺勞虛寒，心腹冷氣，氣逆遊氣，胸脅氣滿，從脅達背痛，嘔逆虛乏。</p>
<p>腎勞實熱，小腹脹滿，小便赤黃，末有餘瀝數少，莖中痛，陰囊生瘡。腎勞虛寒，恐慮失志，傷精噓吸短氣，遺泄白濁，小便赤黃，陰下濕癢，腰脊如折。顏色枯悴。</p>
<p>盡力謀慮則肝勞；曲運神機則心勞；意外致思則脾勞；預事而憂則肺勞；矜持志節則腎勞。</p>
<p>極者，窮極無所養也。</p>
<p>筋實，咳而兩脅下痛，不可轉動，腳下滿不得遠行，腳心痛不可忍，手足爪甲青黑，四肢筋急，煩滿。筋虛，好悲思，支噓吸，腳手俱攣，伸動縮急，腹內轉痛，十指甲疼，轉筋。甚則舌卷卵縮，唇青，面色蒼白，不得飲食。</p>
<p>脈實，氣衰血焦，發落，好怒，唇舌赭。甚則言語不快，色不澤，飲食不為肌膚。脈虛，虛則咳，咳則心痛，喉中介介如梗，甚則咽垂。</p>
<p>肉實，肌脾淫淫如鼠走，津液開，腠理脫，汗大泄。或不仁，四肢急痛。或腹緩弱，唇口壞，皮膚變色。肉虛，體重怠惰，四肢不欲舉，關節痛疼，不嗜飲食，飲食則咳，咳則脅下痛陰引背及肩不可轉動。</p>
<p>氣實，喘息沖胸，常欲自恚，心腹滿痛，內外有熱，煩嘔不安。甚則嘔血，氣短乏不欲食，口燥咽乾。氣虛，皮毛焦，津液不通，力乏腹脹。甚則喘息，氣短息塞，晝差夜甚。</p>
<p>精實，目視不明，齒焦發落，形衰，通身虛熱。甚則胸中痹㾓痛，煩悶泄精。精虛，尪羸，驚悸，夢泄遺瀝，小便白濁。甚則莖弱核徹，小腹裡急。</p>
<p>骨實，熱，耳鳴，面色焦枯，隱曲膀胱不通，牙腦苦痛，手足痠疼，大小便閉。骨虛，面腫垢黑，脊痛不能久立，氣衰發落齒槁，腰背相引痛。甚則喜唾不了。</p>
<p><u>煩熱</u></p>
<p>內熱曰煩，外熱曰熱。身不覺熱，頭目昏痛，口乾咽燥不渴，清清不寐，皆虛煩也。平人自汗，小便頻並，遺泄白濁，皆憂煩過度，大病虛後煩悶，謂之心虛煩悶。</p>
<p><u>《古今錄驗》五蒸湯</u>　治五蒸病。</p>
<p>甘草（一兩，炙）　人參　知母　黃芩（各二兩）　茯苓　熟地　葛根（各三兩）　竹葉（二把）　石膏（五兩，碎）　梗米（二合）</p>
<p>上㕮咀，以水九升，煮取二升半，分為三服。亦可以煎小麥水乃煎藥。忌海藻、菘菜、蕪荑、大醋。</p>
<p><u>實熱</u>　黃芩　黃柏　黃連（氣也）　大黃（血也）</p>
<p><u>虛熱</u>　烏梅　秦艽　柴胡（氣也）　青蒿　蛤蚧　鱉甲　小麥　丹皮（血也）</p>
<p><u>肺</u>（鼻乾）　烏梅　天冬　麥冬　紫菀</p>
<p>皮（舌白，唾血）　桑白皮　石膏</p>
<p>膚（昏昧嗜唾）　牡丹皮</p>
<p>氣（遍身虛熱，喘促鼻乾）　人參　黃芩　梔子</p>
<p>大腸（鼻右孔干痛）　大黃　芒硝</p>
<p>脈（唾白浪語，脈絡溢，脈緩急不調）　生地黃　當歸</p>
<p><u>心</u>（舌乾）　生地　黃連</p>
<p>血（發焦）　地黃　當歸　桂心　童便</p>
<p>小腸（下唇焦）　赤茯苓　木通　生地</p>
<p><u>脾</u>（唇焦）　芍藥　木瓜　苦參</p>
<p>肉（食無味而嘔，煩躁甚不安）　白芍藥</p>
<p>胃（舌下痛）　石膏　粳米　大黃　芒硝　葛根</p>
<p><u>肝</u>（眼黑）　川芎　當歸　前胡</p>
<p>筋（甲焦）　川芎　當歸</p>
<p>膽（眼白失色）　柴胡　栝蔞</p>
<p>三焦（乍寒乍熱）　石膏　竹葉</p>
<p><u>腎</u>（兩耳焦）　生地　石膏　知母　寒水石</p>
<p>腦（頭眩，悶熱）　地黃　防風　羌活</p>
<p>髓（髓沸骨中，骨熱）　天冬　當歸　地黃</p>
<p>骨（齒黑，腰痛足逆）　鱉甲　地骨皮　牡丹皮歸　生地黃</p>
<p>肉（肢細膚腫，腑臟俱熱）　石膏　黃柏</p>
<p>胞（小便赤黃）　澤瀉　茯苓　滑石　生地　沉香</p>
<p>膀胱（左耳焦）　苓　滑石　澤瀉</p>
<p>外有胸中煩熱，肝中寒煩悶、肝中風酒疸、中暑中風濕、心痹、脾痹、肝虛寒、精實、五心煩熱、小腸熱、心虛熱。足下熱，酒疸、女勞疸。日晡熱如疸。</p>
<p><u>勞瘵</u></p>
<p>脈虛。</p>
<p><u>【因】</u>　痰與血病。</p>
<p><u>【證】</u>　其病俗名傳屍。雖多種不同，其病與前人相似。大略令人寒熱盜汗，夢與鬼交，遺泄白濁，發乾而聳；或腹中有塊，或腦後兩邊有小核數個，或聚或散，沉沉默默，咳嗽痰涎；或咯膿血，如肺痿、肺癰狀；或腹下利，羸瘦困乏，不自勝持。雖不同證，其根多有蟲齧心肺一也。</p>
<p><u>【治】</u>　青蒿（一斗半）　童便（三斗）</p>
<p>文武火熬至七分，去蒿。再熬至一升，入豬膽汁七個、辰砂、檳榔末。再熬數沸，以甘草末收之。</p>
<p><u>四物湯</u>　治虛勞痰，竹瀝、薑汁、便。或加參、術。</p>
<p><u>三拗湯</u>　治傳屍勞瘵，寒熱交攻，久嗽咯血羸瘦，先服此方，後服蓮心散，萬無一失。</p>
<p>麻黃　生甘草　杏仁（不去皮尖、炙）</p>
<p>薑棗煎服，痰清則止。</p>
<p><u>蓮心散</u>　當歸　黃耆　甘草（炙）　鱉甲（醋炙）　前胡　柴胡　獨活　羌活　防風　</p>
<p><u>防己</u>　茯苓　半夏　黃芩陳皮　官桂　阿膠　赤芍　麻黃（去節）　杏仁　蓮心（去心）　天南星川芎　芫花（醋炒黑）　枳殼（炒）</p>
<p>除芫花，每服二錢半，水二盞半，姜三片，棗一枚，入芫花一抄，煎至八分服。須吐有異物，漸減芫花及甘草，殺蟲少之。</p>
<p><u>調鼎方</u>　治傳屍勞，神效。</p>
<p>混沌皮（一具，醋浸一宿，焙乾）　炙鱉甲　桔梗　芍藥　胡黃連　製大黃　甘草　豉心　苦參　貝母　秋石（另研）　草龍膽　知母　黃柏（蜜炙）　芒硝　犀角（一錢）　蓬朮（一個）</p>
<p>上煉蜜為丸。溫酒下二十丸，腸熱食前，膈熱食後，一月平安。</p>
<p><u>白蠟丸</u>　治瘵。</p>

<h1>卷二</h1>

<h2>十四、熱</h2>
<p><u>【脈】</u>　浮大而虛為虛，脈細而實為實。脈沉細或數者，皆死。病熱有火者，心脈洪是也；無火者死，細沉是也。脈弱四肢厥，不欲見人，食不入，利下不止，死。</p>
<p><u>【因】</u>　因心火為之。心者，君火也。火旺則金爍水虧，惟火獨存。</p>
<p><u>【證治】</u>　暴熱，病在心肺；積熱，病在腎肝。</p>
<p>虛熱，如不能食而熱，自汗氣短，屬脾虛，治宜甘寒溫而行之。實熱，如能食口乾，舌燥便難者，屬胃實，治宜辛苦大寒下之。火熱而鬱，乃心火下陷脾土，抑而不伸，五心熱，宜汗之、發之。心神煩亂，血中伏火，病蒸蒸然不安，宜鎮陰火，硃砂安神丸主之。蒸勞熱，乃五臟齊損，病久憔悴，盜汗下血，宜養血益陰。陰虛而熱者，用四物加柏。</p>
<p><u>治法</u>　小熱之氣，涼以和之；大熱之氣，寒以取之；甚熱之氣，汗而發之。不盡，則逆治之。</p>
<p><u>又治法</u>　養血益陰，其熱自治。《經》曰：壯水之主，以制陽光。輕者可降，重者從其性而伸之。</p>
<p>李論：外有元氣虛而熱，有五臟而熱，有內中外而熱。輕手捫之則熱。重之則不熱，在皮毛血脈也。輕按之不熱，重至筋骨，熱蒸手足甚，筋骨熱也。不輕不重而熱，在肌肉也。</p>
<p>凡三法，以三黃丸通治之。</p>
<p>肺熱者，輕按之瞥瞥見於皮毛，日西甚。其證喘咳，灑淅寒熱。輕者瀉白散，重者涼膈、白虎、地骨皮散。</p>
<p>心熱者，微按之熱見於血脈，日中甚。其證煩心、心痛，掌中熱而啘，以黃連瀉心湯、導赤散、硃砂安神丸。</p>
<p>肝熱，肉下骨上熱，寅卯間甚。脈弦，四肢滿悶，便難，轉筋多怒驚，四肢困熱，筋痿不起床，瀉青丸、柴胡飲。</p>
<p>脾熱，輕重之中見於肌肉，夜甚，怠惰嗜臥，無氣以動。瀉黃散、調胃承氣治實熱，補中益氣湯治虛熱。</p>
<p>腎熱，按至骨，蒸手如火，困熱不任起床，宜滋腎丸、六味地黃丸。</p>
<p>平旦潮熱，熱在行陽之分，肺氣主之，白虎加芩。日晡潮熱，熱在行陰之分，腎氣主之，地骨皮、牡丹皮、知母、柏。</p>
<p><u>木香金鈴子散</u>　治暴熱心肺，上喘不已。</p>
<p>大黃（五錢）　金鈴子（三錢）　木香（三錢）　輕粉　朴硝</p>
<p>上為末，柳白皮湯下三錢，以利為度。止喘亦止。</p>
<p><u>大黃散</u>　治上焦煩，不得臥睡。</p>
<p>大黃　梔子　鬱金（各五錢）　甘草（二錢半）</p>
<p>煎服，微利則止。</p>
<p><u>黃牛散</u>　治相火之氣遊走臟腑，大便閉。</p>
<p>大黃（一兩）　牽牛頭末（半兩）</p>
<p>酒下三錢，以利為度。此不時熱，溫熱也。</p>
<p><u>金花丸</u>　柏　連　芩　梔　大黃（便實則加）</p>
<p>煎、丸任用。或腹滿吐嘔，欲作利，加半夏、苓、樸、生薑；如白膿下利後重，加大黃。</p>
<p><u>涼膈散</u>　退六經熱。</p>
<p>連翹　山梔　大黃　薄荷　甘草（一兩半）　黃芩（半兩）　朴硝（二錢半）</p>
<p>如咽噫不利，腫痛，並涎嗽，加桔梗一兩、荊芥半兩。咳而嘔，加半夏三錢，姜煎。鼻衄、嘔血，加白芍、地黃。如淋閉，加滑石四兩、茯苓一兩；或悶而不通，腹下狀如覆碗，痛悶難忍。乃腸胃乾涸，膻中氣不下。先用木香三錢、沉香三錢，酒下，或八正散。甚則宜上湧。</p>
<p><u>當歸承氣湯</u>　治陽狂奔走，罵詈不避親疏。此陽有餘陰不足也。</p>
<p>當歸　大黃　芒硝（各一兩）　甘草（半兩）</p>
<p>每二兩，薑、棗煎。</p>
<p><u>牛黃膏</u>　治熱入血室，發狂不認人。</p>
<p>牛黃（二錢半）　硃砂（一兩）　鬱金　甘草（各半兩）　腦子（一錢）　丹皮（三錢）</p>
<p>上煉蜜丸，皂子大，水下。</p>
<p><u>三黃丸</u>　治實熱能食者。能食，為實熱也。</p>
<p><u>白虎湯</u>　治表熱惡寒而渴者。</p>
<p><u>柴胡飲子</u>　治兩脅下肌熱，脈浮弦者。</p>
<p><u>四順飲子</u>　治一身盡熱，日晡肌熱，皆血熱也。</p>
<p><u>桃仁承氣</u>　治血熱，夜發熱者。</p>
<p>潮熱者，黃芩、生甘草，辰戍時，加羌活；午間，黃連；未時，石膏；申時，柴胡；酉時，升麻；夜間，當歸根。如有寒者，黃耆、參、術。</p>
<p>兩手大熱為骨厥，如在火中，可灸湧泉五壯，立愈。</p>
<p>地黃丸　治久新憔悴，寢汗發熱，腸澼下血，骨蒸，痿弱無力，五臟齊損，不能運動，煩渴，皮膚索澤。食後更宜當歸飲子。</p>
<p>熟地（八兩）　山茱萸　山藥（各四兩）　丹皮　茯苓　澤瀉（各三兩）</p>
<p>上煉蜜和丸，梧子大。每服五十丸，空心酒下。</p>
<p><u>當歸飲子</u>　柴胡　人參　黃芩　甘草（各一兩）　大黃　當歸　白芍（各三兩）　滑石（三兩）　姜煎服。</p>
<p>如痰實咳嗽，加半夏；五穀不化完出，淋悶驚悸，上下血，宜金花丸。</p>
<p><u>硃砂安神丸</u>　治心神煩亂怔忡，兀兀欲吐，胸中氣亂而熱，似懊憹狀，皆是膈上血中伏火。</p>
<p>硃砂（一錢，研）　黃連（一錢半，酒製）　炙甘草（五分）　生地（五錢）　當歸（半錢）</p>
<p>餅丸，津下。如心痞，食入反出，加煨大黃，除地黃。</p>
<p><u>補血湯</u>　治肌熱燥熱，目赤面黃紅，煩渴引飲，日夜不息，脈浮大而虛，重按之全無，為血虛發熱。證似白虎，唯脈不長並實耳。</p>
<p>黃耆（一兩）　當歸（二錢，酒製）</p>
<p>熱服。</p>
<p><u>火劑湯</u>　黃芩　黃連　山梔　黃柏</p>
<p><u>火鬱湯</u>　治四肢熱，五心煩熱。因熱伏土中，或血虛得之；或胃虛，多飧冷物，抑遏陽氣於土中。</p>
<p>羌活　升麻　葛根　人參　白芍（各半兩）　柴胡　甘草（炙，各三錢）　防風（二錢半）　蔥白（三寸）　煎服。</p>
<p><u>硃砂涼膈丸</u>　治上焦虛熱。肺脘咽膈，有氣如煙搶上。</p>
<p>黃連　山梔（各一兩）　人參（半兩）　硃砂（三錢，另研）　腦子（另研，五錢）　茯苓（五錢）</p>
<p>上蜜丸，硃砂為衣，水下。</p>
<p><u>黃連清膈丸</u>　治心肺間及經中熱。</p>
<p>麥冬（一兩）　黃連（五錢）　鼠尾（三錢）</p>
<p>上蜜丸，綠豆大，溫水下。</p>
<p><u>補中益氣湯</u>　治脾胃虛弱而熱。</p>
<p><u>辰砂滑石丸</u>　治表裡熱。</p>
<p>辰砂　龍腦　薄荷　六一散</p>
<p><u>秘方</u>　治陰虛發熱。</p>
<p>四物湯、黃柏、龜板、人參、白朮（二味，氣虛加之）</p>
<p><u>治酒發熱</u>　青黛　栝蔞仁　生薑。</p>

<h2>十五、吐衄下血</h2>
<p><u>【脈】</u>　脈澀濡弱為亡血；細弦而澀，按之虛，為脫血也。脈浮弱，按之而絕者，為下血；煩咳者，必吐血。脈沉弦，面無血色，無寒熱者，必衄。沉為在裡，營衛內結，胸滿必吐血。脈滑小弱者生，浮大牢數者死；又血溫身熱，脈躁者死，熱為血氣散故也。藏血，脈俱弦者死，滑大者生。</p>
<p><u>【因】</u>　外有肺癰、肺痿，亦能咳嗽膿血。勞亦能吐血。</p>
<p><u>【證治】</u>　麻黃湯　治傷寒證大壅塞內熱，火氣不伸成衄。脈浮緊為寒。</p>
<p><u>桂枝湯</u>　治證同前，脈浮緩為風。</p>
<p><u>五苓散</u>　治伏暑，熱流入經絡。</p>
<p><u>黃芩芍藥湯</u>　治傷寒、風二證，脈微。</p>
<p><u>衄血方</u>　治出於肺經。如不止，用寒水紙於胸、腦、大椎三處貼之。</p>
<p>犀角　升麻　山梔　黃芩　白芍　生地　丹參　紫參　阿膠　荊芥穗</p>
<p>研服亦良。蘿蔔頭段搗飲，又汁滴之亦良。大椎、啞門灸之亦止。</p>
<p><u>咯唾血方</u>　出於腎。亦有瘀血內積，肺氣壅遏，不能下降。肺壅，非吐不可。</p>
<p>天冬　麥冬　知母　貝母　桔梗　熟地　遠志　黃柏</p>
<p>有寒加乾薑、肉桂。</p>
<p><u>嘔痰涎血方</u>　出於脾。</p>
<p>黃耆　黃連　白芍　當歸　甘草　沉香　葛根</p>
<p><u>嘔吐血方</u>　出於胃。</p>
<p><u>犀角地黃湯</u>　治實，及病餘瘀血。</p>
<p>犀角（一兩）　生地（八兩）　白芍（三兩）　丹皮（二兩）</p>
<p><u>小建中湯加黃連</u>　治虛及傷胃吐血。</p>
<p><u>三黃補血湯</u>　治六脈大，按之虛，面赤善驚，上熱，乃手少陰心之脈也。此氣盛而亡血，瀉火補氣，以墜氣浮。</p>
<p>丹皮（一錢）　川芎（二錢）　熟地（二錢）　生地（三錢）　柴胡　當歸（各一錢半）　升麻　黃耆（各一錢）　白芍（五錢）</p>
<p><u>人參飲子</u>　治脾胃虛弱，衄血、吐血。又治吐血久不愈，於氣衝三稜針出血，立愈。</p>
<p>甘草（一錢）　麥冬（二錢）　當歸（三錢）　黃耆（一錢）　五味子（五個）　白芍（一錢）</p>
<p><u>救肺飲</u>　治咳、吐血。</p>
<p>升麻　柴胡　白朮　白芍（各一錢）　歸尾　熟地　黃耆　人參（各二錢）　蘇木　陳皮　甘草（各五分）</p>
<p>作一服。</p>
<p><u>清心蓮子飲</u>　治咳血兼痰。</p>
<p><u>涼血地黃湯</u>　治腸澼下血，水穀與血，另作一派。</p>
<p>知母（炒）　黃柏（炒，各一兩）　槐子（炒）　青皮熟地　當歸</p>
<p>如餘證，同痢門法治之。</p>
<p><u>胃氣湯</u>　治風毒客腸胃，動則血下。</p>
<p>芍　術　參　歸　桂　芎　苓（各等分）</p>
<p><u>尿血方</u>　治心腎因房勞、憂思氣結。</p>
<p>發灰，能消瘀血，通閉，醋湯下三錢。棕櫚燒灰，米飲下亦可。</p>
<p><u>三汁丹</u>　治小便出血。</p>
<p>水楊樹腦　老鴉飯草　赤腳馬蘭</p>
<p>各自然汁，以水服之。</p>
<p><u>益陰散</u>　治陽浮陰翳，咯血、衄血。</p>
<p>黃柏　黃連　黃芩（以蜜水浸，炙乾）　白芍　人參　白朮　乾薑（各三錢）　甘草（炙，六錢）　雨前茶（一兩二錢）　香油釜炒紅，米飲下三四錢，立安。</p>
<p><u>三黃丸</u>　治衄血不止，大便結燥者，下之。</p>
<p>大黃（半兩）　芒硝　地黃（二錢）　黃連　黃芩　山梔（各一錢）</p>
<p>老蜜煉丸。</p>
<p><u>咳血丹</u>　治因身熱，痰盛血虛。</p>
<p>青黛　栝蔞仁（二味治痰）　訶子　海石（澀）　杏仁（治嗽甚）　四物湯（治虛）　薑汁　童便　山梔</p>
<p>蜜調噙化。</p>
<p><u>嘔血丹</u>　治因火載血上，錯經。</p>
<p><u>四物湯</u>　山梔（炒）　鬱金　童便　薑汁　韭汁　山茶花</p>
<p>痰加竹瀝。喉中痛是氣虛，加參、耆、朮、柏。</p>
<p><u>衄血丹</u>（涼血）犀角地黃湯入鬱金。</p>
<p><u>溺血丹</u>　治熱。</p>
<p>生地（四兩）　蘇木根　淡竹葉　山梔（炒）　滑石　甘草　蒲黃　藕節　當歸</p>
<p>血虛，加四物、牛膝膏、通草。</p>
<p><u>下血丹</u>　四物湯。熱，加連（酒煮溫）、山梔（炒）、秦艽、升麻、膠珠、白芷；虛，加乾薑（炮）、五倍子；寒，加辛升溫散，一行一止。</p>
<p><u>神效方</u>　治吐血，痰血，酒色過度者。</p>
<p>枇杷葉（去毛）　款冬　紫菀茸　杏仁（去皮尖）　鹿茸（炙如法）　桑白皮　木通（各一兩）大黃（半兩）</p>
<p>煉蜜丸，臨臥含化口中。</p>
<p><u>聖餅子</u>　治咯血。</p>
<p>青黛（一錢）　杏仁（四十粒，去皮尖）</p>
<p>上杏仁，以黃蠟煎黃色，研細，入黛作捏餅子。每日柿一個，中破開入藥合定，濕紙煨，飲下。</p>
<p><u>羅面丹</u>　治內損吐血。</p>
<p>飛羅面（略炒）　京墨（磨下，二錢）</p>
<p><u>越桃散</u>　治下血及血痢。</p>
<p>山梔　槐花　大棗　乾薑（各等分）</p>
<p>燒存性，研，米飲下三錢。</p>
<p><u>伏龍肝散</u>　治便血。因內外有感，凝住在胃，隨氣下通，亦妄行之類。</p>
<p>伏龍肝（八兩）　白朮　阿膠　黃芩　乾地黃　甘草（各三兩）</p>
<p>煎服。</p>
<p><u>赤豆歸散</u>　治先血後便，謂之近血。</p>
<p>赤小豆（五兩，浸令芽出，曬乾）　當歸（一兩）</p>
<p>為末漿水下。</p>
<p><u>五靈脂散</u>　治下血。</p>
<p>五靈脂（炒為末）</p>
<p>芎歸湯下。</p>
<p>有血脫盡，色白而夭、不澤，脈濡。此大寒證，乃始同而末異。治宜辛溫益血，甘熱溫經，乾薑類是也。</p>
<p>有陰結者便血。夫邪在五臟，則陰脈不和，陰不和則血留之，血無所稟，滲入腸間，其脈虛澀，非腸風臟毒也。治宜生地黃汁、小薊汁各一升、砂糖、地榆、阿膠、側柏葉。</p>

<h2>十六、下利</h2>
<p><u>【脈】</u>　脈滑按之虛絕者，必下利，寸脈反浮數，尺中自澀，必下清膿血。脈沉弦者，下重，其脈小大者，為未止。脈數，若微發熱，汗自出者，自愈；設脈復緊者，必為未解。脈微，若數者令自止，雖發熱不死；脈反弦，發熱，身汗出，自愈。脈絕手足厥，灸之手足溫者生；若脈不還，反微喘者死。脈遲而滑者，實也。利未止，當下之；數而滑者，有宿食，當下之。腸澼下白沫，沉則生，浮則死。腸澼下膿血，懸絕者死，滑大生。又沉小流連者生，數大有熱者死。腸澼轉筋，脈極數者死。凡諸痢泄注，脈沉小者生，浮大者死。身熱者死。或譫語，或腹堅痛，脈沉緊者，可下；遲者，可溫之。下痢不欲食，有宿食；腸滿痛，為寒食；腸堅心下堅，為實，皆可下。下痢脈遲，緊痛腸鳴，心急大孔痛，皆可溫。傷寒下痢，三部無脈，尺中時小見，脈再舉頭者，腎氣也。形損脈不至者死。</p>
<p><u>【因】</u>　風濕熱論之，則火盛而金去，獨木火旺而脾土損矣。輕則飧泄，身熱脈洪，谷不能化；重則下利膿血。經曰：春傷於風，夏必飧泄。又曰：諸下利，皆屬於濕。又曰：下利稠黏，皆屬於火。又曰：利下膿血，皆屬滯下。</p>
<p><u>【證】</u>　前證，皆熱證、實證也。忌用龍骨、石脂、粟殼等劑。虛證泄利，水穀或化或不化，並無努責，惟覺困倦，脈弦澀者是也。宜溫補之。</p>
<p><u>【治】</u>　治法，重則大黃湯主之，輕則黃芩芍藥湯主之。後重則宜下，乃有物結墜。裡熱脈洪甚，宜下；若脈洪大甚，不宜下也。又大腸經氣不宣，加木通、檳榔、木香。腸痛則宜和，胃氣不和，當以茯苓、歸、芍和之。身重則除濕，脈弦則去風。風氣因動屬於內，大柴胡湯主之。血膿稠黏，以重藥竭之，熱甚故也。身冷自汗，以毒藥溫之。有暴下無聲，身冷自汗。小便清利，大便不禁，氣難布息，脈沉微，喘吐，雖有裡急後重，謂寒邪在內而氣散也。可溫藥而安，則漿水散是也，屬少陰。風邪在內縮，宜汗之也。有厥陰下利不止，脈沉而遲，手足厥逆，涕唾膿血，此難治，宜麻黃湯、小續命湯平之。法曰：謂有表邪縮於內，當散表邪而安矣。李用升舉之法亦然。鶩溏為利，宜溫之。謂利有結糞，屬太陰。有里者下之。或後重，或食積與氣墜，下之。在上者湧之。或痰氣在上，湧之安；在下者，竭之。大法，去者送之，盛者和之，過者止之。假如惡寒熱，腹不痛，加苓為主；痛甚，加當歸，倍芍。如見血，加連；或發熱惡寒，非芩不止，上部血也。如惡寒脈沉腰痛，或白痢下痛，或血，非連不止，中部血也。或惡寒脈沉，先血後便，非地榆不止，下部血也。</p>
<p>痢下，有風、濕、熱、寒、虛，滯下、噤口痢、疳痢、瘵痢、濕蝕瘡，病同而因異。血痢，有瘀血、血枯、肺痿、風血酒痢，證同而因異。</p>
<p>泄痢是積辨　泄痢有期，或久亦然，或久神不悴亦然，宜逐去之，此名滯下。</p>
<p>有一人，年六十。憂患滯下褐色，腹微痛，後重頻並，食大減，身微熱，脈弦而澀，似數稍長。非滯下，乃憂患所致，心血虧脾弱也。以四物、四君合而治之愈。</p>
<p>有一人，年三十，奉養厚。秋間患滯下，腹大痛，左脈弦大似數，右脈亦然，稍減，重取似緊。此乃醉飽後吃寒涼，當做虛寒治之，遂以四物，桃仁、紅花，去地黃，加參、朮、乾薑，煎入薑汁、茯苓，一月而安。</p>
<p><u>黃芩芍藥湯</u>　治泄痢腹痛，後重身熱，脈洪疾。</p>
<p>芍藥　黃芩（各一兩）　甘草（五錢）</p>
<p>痛加桂少許。</p>
<p><u>大黃湯</u>　治前證重者。</p>
<p>大黃一兩，酒浸半日，煎服，以利為度。</p>
<p><u>芍藥湯</u>　治下痢膿血，裡急後重。行血則便膿自安，調氣則後重自除。</p>
<p>芍藥（一兩）　當歸　黃連（各半兩）　甘草（炒）　木香　檳榔　桂枝（各二錢）　黃芩（半兩）　大黃（三錢）</p>
<p><u>白朮芍藥湯</u>　治脾受濕，水泄微滿，困弱，暴下無數。</p>
<p>白朮　芍藥（各一兩）　甘草</p>
<p>腹痛甚，加芩桂；脈弦頭痛，加蒼朮、防風；下血，加蒼朮、地榆，癢則同上；如心下痞滿，加枳實。</p>
<p><u>黃連湯</u>　治大便下血，腹中不痛，謂之濕毒下血；腹中痛，謂之熱毒下血。</p>
<p>當歸（半兩）　大黃（二錢半，熱毒加之）　芍藥　桂（腹痛加之）</p>
<p><u>訶子散</u>　治虛滑，久不已。</p>
<p>黃連（三錢）　木香（半兩）　炙甘草（三錢）　訶子皮（生、熟各半兩）　白朮</p>
<p>芍藥湯送下。</p>
<p><u>桃花湯</u>　治冷痢腹痛，下魚腦白物。</p>
<p>赤石脂（煅）　乾薑（炮）</p>
<p>餅丸，飲下。</p>
<p><u>漿水散</u>　治暴泄如水，身冷脈微氣少，甚者加吐、急痛。</p>
<p>半夏（一兩）　炮附子　乾薑（五錢）　桂枝（五錢）　炙甘草（三錢）　良薑（二錢半）</p>
<p>上為末，三五錢，漿水二盞，煎半，和滓熱服。</p>
<p><u>小續命湯</u>　治風積痢。</p>
<p>龍芽草　劉寄奴</p>
<p><u>椿皮丸</u>　治風邪內陷。</p>
<p><u>香連丸</u>　止痢。</p>
<p><u>燥濕和血湯</u>　治腸澼下血，合作一派，腹中大痛。此乃陽明氣衝，熱毒所作也。以下出李。</p>
<p>地黃（生、熟各半兩）　牡丹皮（半錢）　白芍（一錢半）　當歸（二錢）　甘草（生半錢，熟一錢）　黃耆（一錢）　升麻（七錢）　蒼朮　秦艽　肉桂（各三錢）　橘皮（二錢）　作一服。</p>
<p><u>升麻補胃湯</u>　治前證，腹中不痛，腰沉沉然，乃陽明、少陽經血證，名濕毒下血。效過老人久痢。</p>
<p>升麻（一錢）　羌活（二錢）　獨活　柴胡　防風（各五分）　葛根（三錢）　肉桂（少許）　白芍（一錢半）　當歸（三錢）　丹皮（半錢）　地黃（生、熟各半錢）　炙甘草（半錢）　黃耆（一錢）　槐花（治濕毒）　青皮</p>
<p>作兩服。</p>
<p><u>益智和中湯</u>　治前證，腹中痛，皮惡寒，脈俱弦，按之無力，關甚緊弦，肌表陽分涼，喜熱熨，為內寒明矣。</p>
<p>升麻（一錢半）　葛根（半錢）　白芍（一錢半）　炙甘草（一錢）　桂皮（四錢）　益智（五分）　當歸（一錢）　黃耆（一錢）　牡丹皮（炙）　柴胡　半夏（各五分）　乾薑（炒）　肉桂（一錢）</p>
<p><u>茯苓湯</u>　治傷飲冷水，變成白痢，腹內痛，減食。</p>
<p>茯苓（六錢）　澤瀉（一錢）　當歸（四錢）　蒼朮（二錢）　生薑（二錢）　黃芩（三錢）　肉桂（二錢）　豬苓（六錢）　甘草（半兩，炙）　芍（一錢半）　升麻　柴胡（各二錢）</p>
<p><u>止痢神丸</u></p>
<p>川黃連　茱萸　粟殼（清泔浸三日。又酒浸七日，炒乾，同上二味，同此制）</p>
<p>上末為丸。熱則甘草湯下，寒薑湯下八十丸。</p>
<p><u>小柴胡去參湯</u>　渾身熱，挾外感。</p>
<p><u>沒乳丸</u>　治瘀血痢。</p>
<p>乳香　沒藥　桃仁　滑石</p>
<p>佐以木香、檳榔。蘇木湯下。</p>
<p><u>保和丸</u>　治食積痢。</p>
<p><u>噤口丹</u>　治噤口痢，嘔不納食；亦治痢吐食。</p>
<p>枇杷葉（十張，蜜炙）　縮砂（十個，末）</p>
<p>熟蜜調，抹口上。</p>
<p>半夏（四錢）　人參（八錢）</p>
<p>姜煮乾，焙末。以姜粉入香附，丸服，連多加參煎呷。</p>
<p><u>大承氣湯</u>　治下痢不欲食。</p>
<p>許學士云：凡痢病腹痛，以白芍、甘草為君、歸、術為佐。見血前後，以三焦熱論。</p>
<p>凡治痢病，小便清白不澀為寒，赤澀為熱。</p>
<p>又法，完穀不化而色不變，吐利腥穢，沉沏清冷，小便清白不澀，身涼不渴，脈微細而遲者，寒也。穀雖不化而色變非白，煩渴，小便赤黃而或澀者，熱也。凡穀消化，無問他證及色，便為熱也。寒泄而谷化者，未之有也。</p>
<p>傷食，微加大黃；腹脹，川樸；渴者，白茯苓；腹痛，白芍、甘草為主。冬月，白芍藥一半、白朮一半；夏月，制黃芩。先見膿血，後見大便者，黃柏為君，地榆為佐，加歸尾；先見大便而膿血者，制芩、歸梢；膿血相雜下者，制連；大便腹不痛，白芍半之；身倦。目不欲開，口不能言，黃耆、人參；沉重者，製蒼朮；不思食者，木香，藿香。余同上。</p>

<h2>十七、泄</h2>
<p><u>【脈】</u>　脈疾身多動，音聲響亮，暴注下迫，此陽也、熱也。脈沉細疾，目睛不了了，飲食不下，鼻準氣息，此陰也、寒也。</p>
<p><u>【因】</u>　濕多成五泄者，胃泄、脾泄、大腸泄、小腸泄、大瘕泄。</p>
<p><u>【證治】</u>　胃泄，飲食不化、色黃，宜承氣湯。</p>
<p>脾泄，腹脹滿，泄注食嘔吐逆，宜理中湯。一云，腸鳴食不化者，經云脾虛。</p>
<p>大腸泄；食已窘迫，大便色白，腸鳴切痛，宜乾薑附子湯。</p>
<p>小腸泄，溲便膿血，小腹痛，宜承氣湯。</p>
<p>大瘕泄，裡急後重，數圊不得，莖中痛，宜五苓散。</p>
<p>五病治雖不同，其濕一也。有化寒、化熱之異故也。虛則無力，不及拈衣而已出，故謂之不禁故也。溫之、熱之；實則圊不便，虛坐努責，宜下之。</p>
<p>痰積下流，因太陰分有積痰，肺氣不得下流降而瘀，大腸虛而作泄，當治上焦，以蘿蔔子等吐之。</p>
<p>水恣泄，乃大引飲，是熱在膈上，水多入下，胃經無熱不勝。寒泄，大腸滿而泄鶩溏。風泄，久風為飧泄，乃水穀不化而出也，防風為君。</p>
<p><u>平胃五苓散</u>　治濕泄、水恣泄、熱泄。此方治一切陽證。</p>
<p>平胃散、五苓散、白朮。熱，加黃連、木通。</p>
<p><u>補胃丸</u>　治氣虛下溜。</p>
<p>四君子、白芍（炒）、升麻。</p>
<p><u>流積丸</u>　治痰積下流。甚則吐之。</p>
<p>青黛　黃芩　海石　神麯　砂仁</p>
<p><u>止瀉丸</u>　肉豆蔻（五兩）　滑石（春一兩，夏二兩，秋一兩半）</p>
<p>寒，加神麯、砂仁、吳茱萸；熱，加黃連、茯苓；滑，加訶子（煨）。</p>
<p><u>溫六丸</u>　清六丸</p>
<p><u>脾泄丸</u>　白朮（二兩，炒）　白芍（一兩，酒炒）　神麯（一兩半，炒）　查子　半夏（一兩半）　黃芩（半兩，炒）　蒼朮</p>
<p>虛，加參、朮、甘草；裡急後重，加檳榔、木香、荷葉煨飯丸。</p>
<p><u>姜附湯</u>　治寒泄。</p>
<p><u>椒術丸</u>　治濕瀉。</p>
<p>川椒　蒼朮　肉果。</p>
<p><u>胃風湯</u>　治風泄。</p>
<p><u>太平丸</u>　治泄。</p>
<p>黃連</p>
<p>一方與乾薑炮各一兩，或加訶、歸，名駐車丸；一方與茱萸各一兩，或加芍藥，又名苦散。</p>
<p>腸鳴，乃濕與熱相搏也；或大熱亦然；或飲水亦鳴。</p>
<p><u>許論</u>　泄瀉有八。冷瀉，脈微，宜暖藥。熱瀉，胃中有熱，傷寒多有脈數，宜涼解之。積瀉，脾脈沉弦，宜逐積。脾瀉，同上條。氣泄者，躁怒不常，傷動其氣，肝氣乘脾而泄，脈弦而逆，宜調氣。飧泄者，春傷於風，肝旺受病而傳於脾，至季夏土而泄，宜瀉肝補土。驚瀉者，因心受驚，驚則氣亂，心氣不通，水入穀道而泄，心脈散大者，是宜調心利水。病亟氣敗而瀉者，《素問》云：門戶不要也。</p>
<p>厥逆幽悶，困瀉不止，四肢冷，困軟不能轉側，下泄不知，脈亡陽，喘者死。</p>

<h2>十八、自汗頭汗</h2>
<p><u>【因】</u>　濕能自汗，熱能自汗。虛則盜汗。痰亦自汗、頭汗。</p>
<p><u>【證】</u>　陰陽俱虛，身體枯燥，頭汗，亡津液也。熱入血室，頭汗。</p>
<p>傷濕額上汗，因下之，微喘者死。胃熱上熏，頭汗。發黃頭汗，小便不利而渴。此瘀熱在裡也。心下懊憹，頭汗。</p>

<h2>十九、淋</h2>
<p>（附小便不禁　腎臟風）</p>
<p><u>【脈】</u>　細而數。脈盛大而實者生；虛小而澀者死。尺中盛大，此陰血不足，陽乘之，為關。</p>
<p><u>【因】</u>　膀胱有熱則淋。然赤澀、淋澀，如脂膏、如砂石，皆內熱也。如水煎鹽而成也。氣不利則不通。《經》曰，小便為氣所化，氣不化則臍腹滿不利，悶而為淋。</p>
<p><u>【治法】</u>　淋者，解熱利小便；閉者，行氣則水自下。有氣虛則氣不行，血虛則氣不升，痰多氣塞則氣不運。治法，氣虛補氣，血虛補血，痰多導痰。先服本藥，後皆用吐之以提其氣，氣升則水自下，加以五苓散。有人患淋，乃血滯，故四物湯內加杜牛膝而愈。死血亦淋也。</p>
<p>李論：皆邪在肺而無資其化源，邪熱在腎而閉其下焦，可除其熱、瀉其塞當已。</p>
<p>治熱在上焦，以梔子、黃芩主之；熱在中焦，加以連、芍；熱在下焦，加之以柏。</p>
<p><u>資腎丸</u>　治小便閉，不渴，熱在下焦血分也。</p>
<p>知母（酒製）　黃柏（各二兩，酒炒）　肉桂（一錢）</p>
<p><u>清肺飲子</u>　治渴，小便不利，熱在上焦氣分。</p>
<p>茯苓（二錢）　豬苓（三錢）　澤瀉（五錢）　琥珀（五分）　燈心（一錢）　木通（七錢）　通草（二錢）　車前子（一錢）　扁豆（七錢）　瞿麥（半錢）</p>
<p><u>導氣除濕湯</u>　治小便閉，乃血澀致氣不通；或淋者，即有死血。</p>
<p>知母（三錢，酒浸）　黃柏（四錢，酒製）　滑石（二錢，炒黃）　澤瀉　茯苓（各三錢）</p>
<p>空心服。</p>
<p><u>牛漆膏</u>　治前方證，大妙。</p>
<p><u>腎疸湯</u>　治目黃漸至身，小便赤澀。</p>
<p>升麻（半兩）　羌活　防風　藁本　獨活　柴胡（各半錢）　白朮　蒼朮（一錢）　豬苓（四錢）　茯苓（二錢）　黃柏（二錢）　澤瀉（三錢）　白芍（五分）　神麯（六錢，炒）　人參（三錢）　甘草（三錢）</p>
<p>作二服。</p>
<p><u>秘方</u>　淋熱則利之，山梔之類；氣虛補之，參、術加木通、山梔之類。</p>
<p>小便不通。氣虛，參朮升麻湯，後吐之。血虛，四物湯，後吐之。痰氣閉塞，二陳湯，加木通、香附，後吐之。</p>
<p><u>又方</u>　治淋。</p>
<p>麥門冬　蔥頭（帶根）　人參　三臼根　黑豆</p>
<p>濃煎，飲之。</p>
<p><u>淋方</u></p>
<p><u>五淋散</u>　牛膝根　葵子　滑石　瞿麥</p>
<p>冷加附；熱加芩；血加梔子；膏加秋石，加石葦；氣，小腹滿閉，加沉香、木香。</p>
<p><u>發灰散</u>　治飲食、忍小便、走馬房勞，皆致轉胞，臍下急滿不通。醋服一合，或加葵子、甘遂，加大蒜搗餅，安臍心，令實，著艾灸三十壯，治小便不通。</p>
<p><u>小便不禁</u>（膀胱不約為遺尿）</p>
<p><u>因</u>　歸之腎冷，用韭子丸（六兩，炒），佐以鹿茸、肉蓯蓉、牛膝、巴戟、菟絲、石斛、杜仲、肉桂、當歸、地黃等藥。</p>
<p><u>阿膠散</u>　治濕。</p>
<p>阿膠（二兩，炒）　牡蠣（煅）　鹿茸（酥炙，四兩）</p>
<p>煎散，任下。</p>
<p><u>茯苓丸</u>　治心腎虛，淋瀝。</p>
<p>赤白茯苓各二兩　地黃汁</p>
<p>好酒熬膏，丸，鹽酒下。</p>
<p><u>【證】</u>　大小便閉者，外有骨熱不同。關格者，外有肝實熱、心實熱。便利不禁者，外有風濕、肝痹不同。腎臟風乃濕。</p>
<p><u>【治】</u>　陰莖癢痛不忍，苦參、大黃、荊芥、皂角洗熏。</p>
<p>陰胞癢，蟲蝕方　狗脊（不用金毛者）、黃連、黃柏、黃丹、水銀粉、光粉、赤石脂，為末敷好。</p>
<p><u>又方</u>　大甘草湯浸海螵蛸末，敷。</p>

<h2>二十、頭目痛</h2>
<p>（附腦痛、眉骨痛）</p>
<p><u>【脈】</u>　寸脈緊急或短，皆曰頭痛，又浮而滑為風痰，主頭目痛，脈反短澀者死。又卒然無所見者死；腦痛、脈緩大者死。太陽頭痛，脈浮緊，惡風寒。少陽頭痛，脈弦細，有寒熱。陽明頭痛，脈浮緩長，自汗。太陰頭痛，脈沉緩，必有痰。厥陰頭痛，脈浮緩，為冷厥。少陰頭痛，脈沉細，為寒厥。左屬風，右屬痰。</p>
<p><u>【因】</u>　有風、有痰者，多風痰結滯。痛甚者，火多，火曰炎上。血虛頭痛者，亦多血不上榮。諸經氣滯亦頭痛，乃經氣聚而不行也。</p>
<p><u>【證治】</u>　太陽頭痛兼項痛，足太陽所過攢竹痛也，惡風寒，羌活、川芎主之。陽明頭痛，自汗發熱，石膏、白芷、葛根、升麻主之。少陽頭痛，額角上偏痛，往來寒熱，柴、芩主之。太陰頭痛，有濕痰實，體重腹痛，半夏、南星、蒼朮主之。少陰頭痛，主三陰、三陽經不流行，而足寒逆為寒厥，細辛主之。厥陰頭痛頂痛，血不及，或痰吐涎沫、厥冷，吳茱萸主之。氣虛頭痛，黃耆主之。病則耳鳴，九竅不和，參、耆主之。血虛頭痛，芎、歸主之。傷寒頭痛，從傷寒法治之。太陽證，麻黃湯、桂枝湯；陽明脈洪，白虎；少陽柴胡；太陰脈浮則桂枝，脈沉則理中；少陰麻黃加辛、附子；厥陰桂枝麻黃各半湯。痰厥頭痛，吐之。火作痛，清之、散之。傷暑亦同。濕熱頭痛，證則心內煩。外有腳氣，亦能頭痛，其狀吐逆、寒熱、便溲不通。有谷疸亦頭痛。</p>
<p><u>半夏白朮天麻湯</u>　治痰厥頭痛。</p>
<p>天麻（五分）　木香（一錢）　半夏（七錢半）　黃耆（五分）　蒼朮　陳皮（各半錢）　人參　澤瀉（各一錢）　神麯（一錢，炒）　乾薑　黃柏（二錢）　茯苓（五分）</p>
<p><u>清空膏</u>　治風、濕、熱及諸般頭痛，惟血虛不治。</p>
<p>羌活　黃連（酒製）　防風（各一錢）　柴胡（七錢）　川芎（五錢）　甘草（一錢半）　黃芩（三錢）</p>
<p>白湯調下。巔頂痛，加蔓荊子、藁本。</p>
<p><u>芎歸湯</u>　治血虛自魚尾上攻。</p>
<p><u>茶調散</u>　吐、頭痛有痰。</p>
<p><u>家珍方</u>　治偏頭痛連睛痛。</p>
<p>石膏　黍黏子（炒）</p>
<p>為末，酒下。</p>
<p><u>玉壺丸</u>　治風濕頭痛，亦治痰患。</p>
<p>雄黃　白朮　南星　半夏　天麻</p>
<p><u>香芎散</u>　治一切頭風。</p>
<p>香附（二兩，炒去毛）　川芎　甘草（一兩，炙）　石膏（半兩）　細辛　防風　草烏　川烏白芷　荊芥　羌活</p>
<p>煎。</p>
<p><u>諸頭痛有六證</u></p>
<p>傷風頭痛，或半邊偏痛，皆因冷風所吹，遇風冷則發，脈寸浮者是也。</p>
<p>食積，因胃中有陰冷，宿食不化，上衝頭痛，右手脈浮緊甚者是也。</p>
<p>氣虛，因下部氣虛，上攻，溫溫而痛者，異乎邪毒所攻，無邪，脈尺虛浮是也。</p>
<p>傷寒在太陽經，其痛如破，關前脈數是也，緊數是也。陽明經胃熱上攻，右關洪大而數是也。</p>
<p>膈上有風涎冷痰，而或嘔吐，脈弦細，出於寸口是也。</p>
<p>陰毒傷寒，身不熱，脈沉細，目痛，皆血有太過不及，皆能為痛。太過則目壅塞而發痛，不及則無血養而枯痛。目之銳眥，少陽經也，血少氣多。目之上綱眥，太陽經也，血多氣少。目之下綱，陽明經也，血氣俱多。唯足厥陰連於目系而已。血太過者，血得太熱而溢於上，所以作痛。治法，血實者決之，虛者補之。宜以辛散之，涼以清之、汗之、吐之。</p>
<p>腦痛，乃風熱乘虛而入於腦，以辛涼之藥散之、行之。眉骨痛乃風痰。</p>
<p><u>羌活湯</u>　治風熱壅盛，上攻頭目，昏眩疼痛及腦疼。</p>
<p>羌活　防風　黃芩（酒炒，一兩）　黃連（一兩，酒製）　柴胡（七錢）　黃柏（酒炒）　栝蔞根（酒製）　甘草　茯苓（各半兩）　澤瀉（三錢）</p>
<p><u>羌附湯</u>　治冬大寒犯腦痛，齒亦痛，名曰腦風。</p>
<p>麻黃　黑附　升麻　防風　白殭蠶　黃柏（三錢）　羌活　蒼朮（各五分）　甘草　白芷　黃耆（一錢）</p>
<p>作一服。</p>
<p><u>眉骨痛方</u>　羌活　防風　甘草　黃芩（酒炒）　白朮　半夏　南星　細辛</p>
<p><u>又方</u>　加烏頭、草烏，童便炒去毒為君</p>
<p><u>藿香散</u>　治腦風頭痛。</p>
<p>藿香　川芎　天麻　蔓荊子　槐花　白芷</p>
<p>酒調下</p>
<p><u>吹搐方</u>　治同上。</p>
<p>穀精草　銅綠（各二錢，另）　硝石（一錢，另研，吹鼻中。）　細辛　瓜蒂　良薑（各一錢）　硝（五錢）</p>
<p>含水滿口，以藥搐鼻。</p>
<p>荊芥　薄荷　木賊　殭蠶　蠍梢</p>
<p>茶清下二錢。</p>
<p>風成寒中則泣出。風氣與陽明入胃，循脈而上至目內眥，人瘦則外泄而泣，宜辛溫。</p>
<p>風成熱則目黃。風氣與陽明入胃，循脈而上至目內眥，人肥不得外泄，故熱鬱也。</p>

<h2>二十一、眩暈</h2>
<p><u>【因】</u>　痰飲隨氣上，伏留於陽經，遇火則動。去血過多，亦使眩暈，頭眩亦然，兼挾氣虛。</p>
<p><u>【證】</u>　外因者，風在三陽經，頭重項強有汗。寒則掣痛，暑則熱悶，濕則重著，皆令吐逆暈倒。</p>
<p>內因者，因七情致臟氣不行，鬱而生涎，結為飲，隨氣上厥，伏留陽經，嘔吐，眉目疼痛，眼不得開。</p>
<p>因房勞、飢飽去血過多者，眼花屋倒，起則暈倒。</p>
<p><u>【治】</u>　散風行濕湯　治痰火暈眩。二陳湯、蒼朮、黃芩、羌活。</p>
<p><u>瓜蒂散</u>　治暈眩痰厥。</p>
<p><u>芎歸湯</u>　治血虛眩暈。</p>
<p><u>參朮湯</u>　治挾氣虛頭痛，補氣降火為主。</p>
<p>人參　白朮　黃芩　黃連</p>

<h2>二十二、心腹痛</h2>
<p><u>【脈】</u>　陽微陰弦，胸痹而痛，責在極虛。短而數，心痛心煩。心腹痛不得息，脈細小遲者生，堅大實者死。若腹痛脈反浮大而長者死。趺陽脈滑而緊。滑者，穀氣強胃氣實；緊者，陰氣勝，故痛。病腹痛而喘，脈滑而利，數而緊者，實也。心痛有熱厥、寒厥、大實。</p>
<p><u>【因】</u>　勞役太甚，飲食失節，中氣不足；或寒邪乘虛而入客之，或久不散鬱而生熱，或素有熱，虛熱相搏，結於胃脘而痛。或有實積痰飲，或氣與食相郁不散，停結胃口而痛。</p>
<p><u>【證治】</u>　胃病者，腹䐜脹，胃脘當心而痛，上支兩脅，膈咽不通，食飲不下。</p>
<p>脾病者，食則嘔吐，腹脹喜噫，胃脘痛，心下急。</p>
<p>熱厥心痛，身熱足痛，四肢寒，甚則煩躁而吐，額自汗，脈洪，可汗。刺太谿、崑崙。</p>
<p>寒厥心痛，手足逆，通身冷汗，便利溺清，不渴，氣脈微弱，可溫。</p>
<p>大實心痛，卒然而發，大便或秘，久而注悶，心胸高起，按之痛，不能飲食，可下。</p>
<p>腎心痛，與背相接，瘈如從後絞觸其心，偃僂，刺束骨、合骨、崑崙。胃心痛，腹脹胸滿，刺大都、太白。脾心痛，如錐刺，刺然谷、太谿。肝心痛，狀如死，終日不得休息，取行間、太衝。肺心痛，臥若徒居，心痛間動作益盛，刺魚際、太淵。</p>
<p>厥心痛，乃寒邪客於心包絡也，宜以良薑、菖蒲，大辛熱之藥。</p>
<p>蓋諸心痛，皆少陰厥氣上衝也。刺之，宜通氣、行氣，無所凝停也。</p>
<p><u>腹痛</u></p>
<p><u>【因】</u>　有客寒阻之不行，有熱內生鬱而不散，有死血、食積、濕痰結滯，妨礙升降，故痛。蓋痛當分其部分，從其高下而治之。</p>
<p><u>【證治】</u>　中脘痛，太陰也，理中、草豆蔻主之。</p>
<p>小腹痛，厥陰也，正陽、回陽，四逆湯主之。</p>
<p>雜證而痛，苦楝湯、酒煮當歸丸、丁香楝實丸等主之。</p>
<p>腹中不和而痛者，以甘草芍藥湯主之。</p>
<p>傷寒誤下傳太陰經，腹滿而痛，桂枝芍藥主之。痛甚，桂枝大黃湯主之。夏月肌熱惡熱，脈洪實而痛，黃芩芍藥主之。諸蟲痛者，如腹痛腫聚，往來無有休息，涎出，嘔吐清水。痰積腹痛隱隱然，得熱湯、辛物則暫止，宜導痰解鬱氣，溫散之。中氣虛亦痛，或飢而痛是也，理中湯主之。胸痹，皆痰水宿飲，停留不散，宜栝蔞、枳實、香附、芎、蒼朮、溫散之。</p>
<p>外有似類而痛異名。心痛，有心中寒，有心熱，有心虛，有脾積，有宿食留飲，有胸痞。腹痛，有腳氣。胸痛，有積實。小腹痛，有肝脾，有胞痛，有筋虛，有疝，有腸癰。</p>
<p><u>金鈴子散</u>　治熱厥心痛，或作或止，久不愈。</p>
<p>金鈴子　玄胡（各一兩）</p>
<p>熱加黃連，疝氣加荔枝核。酒下三錢。</p>
<p><u>煮雄丸</u>　治大實心痛、痃癖，如神。</p>
<p>雄黃（一兩，另研）　巴豆（五錢，生用去油，爛研，卻入雄黃末）　白麵（二兩）</p>
<p>上再研勻，水丸梧桐子大。每服時，先煎漿水令沸，下藥二十四粒，煮三十沸，撈入冷漿水，沉水冷，一時下一丸。二十四時也，加至微利為度，用浸藥水下。</p>
<p><u>朮附湯</u>　治寒厥心暴痛，脈微氣弱。</p>
<p>附子（一兩，炮去皮臍）　白朮（四兩）　甘草（二兩，炙）</p>
<p>薑、棗煎服。</p>
<p><u>術香散</u>　治心脾卒痛不忍。</p>
<p>木香　蓬朮（各一兩）　乾漆（一錢，炒煙盡）　醋湯下一錢。</p>
<p><u>燥飯丸</u>　治飲水吞酸作痛。牆上蜆殼丸。</p>
<p><u>秘丹</u>　治心痛久則成郁，郁久必生火。</p>
<p>川芎　梔子（炒）　蒼朮　香附　石鹼　乾薑（炒）</p>
<p>反治之法。</p>
<p>有人飽過患此，以火毒治，遂以黃連六錢、甘草一兩，一服而安矣。</p>
<p>有心痛十八年，因酒、牛乳，痛時以一物拄之，脈三至，弦弱而澀，吞酸，七月內以二陳湯、朮、芩、連、桃、郁李仁、澤瀉。</p>
<p><u>秘丹</u>　治死血留於胃口作痛。承氣湯、梔子、韭汁、桔梗（能開血氣）、麻黃（重者，須此發之。）</p>
<p><u>蟲痛方</u>　治面上白斑，唇紅，能食者是。苦楝根、錫灰。</p>
<p>胃脘當心痛，有垢積者，斑蝥、烏梅肉。丸如綠豆大，泔下一丸。皂樹上蕈，泡湯，有肥珠起，飲之，微泄見效。未已又服，無不驗。</p>
<p><u>草豆蔻丸</u>　治脾胃傷損客寒，一切虛證，心腹大痛。</p>
<p><u>理中建中湯</u>　治寒腹痛。</p>
<p><u>調胃承氣加木香檳榔湯</u>　治熱腹痛。</p>
<p><u>大承氣加方</u>　治有人雨後得涼，腹痛甚。問之，於夏月投淵取魚，脈沉弦而細實，重按則如循刀上。本方加桂兩帖，又加桂、桃仁兩帖，又加附兩二帖，下黑血。</p>
<p><u>二陳芎蒼丸</u>　治清痰腹痛，脈滑者是。</p>
<p><u>二陳湯</u>　臺芎　蒼朮　香附　白芷　薑汁</p>

<h2>二十三、腰痛</h2>
<p>（附腰胯腫痛、腰軟）</p>
<p><u>【脈】</u>　尺脈粗常熱，謂之熱中。腰胯痛，脈大者，腎虛；脈澀者，痰血。</p>
<p><u>【因】</u>　腎虛而致。有濕熱，有瘀血，有外感。</p>
<p>腎虛，皆起於內。蓋失志傷腎，鬱怒傷肝，憂思傷脾，皆致腰痛。故使氣結不行，血停不禁，遂成虛損，血氣去之。又有房勞過者多矣。</p>
<p>濕熱，亦因腎虛而生焉。腎者，水也。氣不利而成濕熱者，因腎水涸，相火熾，無所榮制，故濕熱相搏而成痛。亦有虛勞，外感濕氣，內熱不行而成黨錮。</p>
<p>瘀血，因用力過多，墮墜折納，瘀血不行。</p>
<p>外感，因虛襲之。</p>
<p>外有腎風、腎熱、腎瘧、厥陰瘧，皆腰痛。</p>
<p><u>【證】</u>　失志者虛，云不足。面黑，遠行久立不能住。鬱怒者，腹急脅脹，目視䀮䀮，所祈不能，意浮於外。憂思者，肌肉濡漬，痹而不仁，飲食不化，腸胃脹滿。房勞者，精血不足，無所榮養。經曰：轉搖不得，腎將憊矣，名骨痿。</p>
<p>濕熱者，四肢緩，足寒逆，腰冷如冰，冷汗，精滑，扇痛。外感，如太陽腰痛引項，尻重；陽明腰痛，不可以顧，善悲；少陽如刺其皮，不可俯仰；太陰煩熱，如有橫木居中，遺溺；少陰引脊內；厥陰如張弓弦。大抵太陽、少陰多中寒，陽明、太陰多燥濕，少陽、厥陰多風熱。</p>
<p><u>【治】羌活湯</u>　治腰痛。</p>
<p>羌活　獨活　柴胡　防風　肉桂　當歸</p>
<p>如臥寒濕地，足太陽、少陰血絡中有凝血，加歸尾、蒼朮、桃仁、防己。如濕熱痛，加黃柏、蒼朮、杜仲、川芎。如虛，加杜仲、五味、藁、歸、知母、龜板。如墜撲瘀血，加桃仁、麝香、蘇木、水蛭。</p>
<p>腎氣丸、茴香丸、鹿茸丸、此三方補陽之不足也，勞傷、房室之人有之。</p>
<p>六味地黃丸、封髓丹，此二方補陰之不足也，膏粱之人有之。</p>
<p><u>煨腎丸</u>　治腰痛虛。</p>
<p>杜仲（炒去絲，三錢）</p>
<p>上一味，末之。以豬腎一枚，薄批五七片，以鹽椒淹去腥水，糝藥在內，包在荷葉，用濕紙數重煨熟，酒下。</p>
<p><u>立效散</u>　玄胡索　當歸　肉桂（等分）</p>
<p>為末，酒下。</p>
<p><u>挫氣丹</u>　治挫氣腰痛。</p>
<p>山楂子（四兩，去核）　北茴香（炒，一兩）</p>
<p>為末，酒下。</p>
<p><u>腰胯重痛</u></p>
<p><u>【因】</u>　風、寒、濕流注經絡，結凝骨節，氣血不和而痛。痰積趁逐經絡，流注搏於血內，亦然。</p>
<p><u>【治】</u>　宜流濕，散風寒，逐痰積，氣血自然湍流也。</p>
<p><u>除濕丹</u>　檳榔　甘遂　赤芍藥　威靈仙　澤瀉　葶藶（各二兩）　乳香（研）　沒藥（各一兩）　大戟（炒，三錢）　陳皮（四兩）</p>
<p>麵糊丸，加牽牛末丸。</p>
<p><u>禹功散</u>　治同。腰軟</p>
<p><u>【因】</u>　腎肝伏熱。</p>
<p><u>【治】</u>　宜黃柏、防己。</p>
<p><u>論余</u>　解㑊證，少氣不欲言，寒不寒，熱不熱，壯不壯，停不停，乃精氣虛而腎邪實矣。治以澤、茯疏腎實，地黃、牛膝、麥門冬補精氣。</p>

<h2>二十四、肩背痛</h2>
<p>（附腰髀痛）</p>
<p><u>【脈】</u>　洪大，洪為熱，大為風。脈促上擊者，肩背痛。脈沉而滑者，背膂痛。</p>
<p><u>【因】</u>　風濕乘肺手太陰經，脈氣鬱甚不行也。</p>
<p><u>【證】</u>　病則頰頷腫，頸、肩、臑、肘、臂外後臁痛。汗出小便數而欠者，皆風熱乘肺也；小便遺溺者，皆肺金虛也。</p>
<p><u>【治】</u>　宜通經益元氣，散風瀉火之藥。</p>
<p><u>通氣散</u>　治風熱乘肺，肩背痛。</p>
<p>防風　藁木　獨活　羌活（以上通經血）　黃芩　黃連（以上降火）　人參　黃耆（上二味，虛則加之）</p>
<p><u>腰髀痛</u></p>
<p><u>【因】</u>　小腸經氣，小腸心痛及腑。外有肺風、肺寒、骨虛而致。</p>

<h2>二十五、脅痛</h2>
<p>（附身體痛）</p>
<p><u>【脈】</u>　雙弦，是兩手俱弦也。</p>
<p><u>【因】</u>　肝木氣實火盛，或因怒氣大逆，肝氣鬱甚，謀慮不決，風中於肝。皆使木氣大實生火，火盛則肝急，瘀血、惡血停留於肝，歸於脅下而痛。病則自汗，痛甚，按之益甚。</p>
<p><u>【證】</u>　痰積流注厥陰，亦使脅下痛。病則咳嗽。</p>
<p>外有肝中風，左脅偏痛；肝中寒，脅下攣急；飲水脅下鳴相逐，皆致脅痛，須詳之。</p>
<p><u>辨非</u>　血枯證。胸脅支滿，絡氣不行，妨於食，肝脾傷，病至先聞腥臊臭，出清液，肺葉傷也。四肢清，目眩，復後血，此年少脫血，或醉行房，肝傷氣竭致之故也。</p>
<p><u>【證治】</u>　木火盛，宜以辛散之，以苦瀉之，當歸龍薈丸、瀉青丸主之。死血，宜以破血為主，潤血為佐，復元活血、當歸導滯等主之。痰積，宜以去痰行氣，二陳湯加南星、青皮、香附、青黛等主之。</p>
<p><u>龍薈丸</u>　治食積發熱，木盛脅痛。</p>
<p>柴胡　甘草　青皮　黃連　大黃　當歸　木香　草龍膽　蘆薈　川芎</p>
<p>治水氣實加之。</p>
<p><u>治血湯</u>　治死血。</p>
<p><u>左金丸</u>　治肝火。</p>
<p>黃連（六兩）　茱萸（一兩）</p>
<p><u>導痰湯</u>　治痰注。諸痰皆生於熱。</p>
<p>臺芎（二兩）　香附（八兩）　陳皮　蘇葉　乾薑（一兩）</p>
<p><u>貼痛</u>　芥菜子（研，水敷）　茱萸（醋研，敷上大效）</p>
<p><u>熨痛</u>　醋炒灰熱，布裹熨之，蔥艾炒亦可；韭汁亦可。身體痛</p>
<p><u>【脈證】</u>　傷寒，太陽經表證，六脈俱緊；陰毒傷寒，身如被打，脈沉緊；傷寒，發汗後，身體痛，氣血未和，脈弦遲。傷濕，濕流關節，一身盡痛；風濕相搏，肢體重痛，不可轉側，脈緩。虛勞之人，氣血虛損，脈弦小。</p>

<h2>二十六、逆痰嗽</h2>
<p><u>【脈】</u>　出魚際，逆氣喘息。脈弦為咳。咳而浮者，四十日己；咳而弦者，相其人強，吐之而愈；咳而脈虛，必苦冒；咳而沉者，不可發汗。喘咳上氣，脈數有熱，不得臥者死；上氣，面浮腫，肩息，其脈浮大者死；久咳數歲，脈弱者生，實大者死；上氣，喘息低昂，脈滑，手足溫者生，脈澀四肢寒者死；咳，脫形發熱，小堅急者死；肌瘦下脫，熱不去者死；咳嗽脈沉緊者死，浮直者生，浮軟者生，小沉伏者死；咳而嘔，腹脹且泄，脈弦急欲絕者死；咳嗽羸瘦，脈形堅大者死。暴咳脈散者死。浮為風，緊為寒，數為熱，細為濕，此生於外邪之所搏；浮緊則虛寒，沉數則實熱，弦澀則少血，洪滑則多痰，此生於內氣之所郁。</p>
<p><u>【因證】</u>　因風、寒、火（附腹滿）、勞、痰。</p>
<p>風寒為病主乎肺，以肺主皮毛而司於外。傷之。腠理不疏，風寒內鬱於肺，清肅之氣不利而生痰動嗽。又寒飲食入胃，從脾脈上至於肺則肺寒，肺寒則內外合邪，因之而咳。火之嗽，病因火盛生痰、鑠肺金也，遂成郁遏脹滿。甚則干嗽無痰，或唾血痰。勞而咳嗽，皆好色腎虛，則子能令母虛，氣血俱虛，陰虛則生火，肺金耗敗，而津液、氣血皆化為痰矣。痰者礙清氣升降，滯氣而不行，遂成諸咳嗽之證。</p>
<p><u>論咳逆痰嗽分為二</u>　咳者，謂無痰而有聲。肺氣傷而不清，而上逆，皆關於肺也。嗽者，謂有痰而無聲。脾濕動而為痰，而成嗽，皆積於脾也。蓋因傷於肺氣，動於脾濕，咳而為嗽也。若脾無留濕，雖傷肺氣而不為痰也。然寒、暑、燥、濕、風、火皆令人咳。唯濕痰，飲食入胃留之而不行，上入於肺，則為咳嗽也。假令濕在心經，謂之熱痰；濕在肝經，謂之風痰；濕在肺經，謂之氣痰；濕在腎經，謂之寒痰。</p>
<p><u>《三因》論</u>　咳者，衛氣之失；嗽者，營血之失。外傷六氣，隨風、寒、暑、濕、燥、火感其部位，而察其元以表之。內傷七情，皆聚於胃而關於肺，多痰嗽也。衛氣之失，則多痰逆；營氣之失，則多痰嗽也。</p>
<p><u>張論</u>　以貧富言之。貧者，謂之咳嗽，外感之由也。《內經》曰：秋傷乎濕，冬必咳嗽是也。又曰：歲火太過，肺金受病，民病咳嗽是也。富貴者，謂之涎嗽，多飲食厚味，熱痰所成也。</p>
<p><u>李論</u>　皆脾弱受病，肺金受邪，飲食不化精微，留積而成痰，肺氣不利，而痰沖清道而成咳。</p>
<p><u>劉論</u>　皆脾濕入於肺而成痰，傷風而成咳。</p>
<p><u>痰嗽潮熱四證</u>　有痰嗽者，潮熱大體雖同，動作有異。或因虛中寒冷，則先痰嗽，嗽久而不已，血形如線，隨痰而出，惡寒發熱，右寸浮而數；外證，日輕夜重，面白痰清。</p>
<p>因憂愁大怒，則吐血而後痰嗽，少寒多熱，左寸沉小而數；外證，心下噎塞，情思不樂，飲食不下。</p>
<p>或蠱注相傳，死魂相逐，則先嘔血，不知來處，微有痰嗽，漸成寒熱，兩手脈弦細而數，外證，飲食不為肌膚，頰紅變動不常，身體痠痛倦，及嗽損咽痛多痰，或喘或瀉則死。</p>
<p>先因傷濕、傷寒解利不盡，雖病退人起，飲食減少，不生肌肉，身倦無力，勞力則熱，身體痠痛，狀如勞伏，但不吐血，不發潮熱，經二三年醫無驗。此是餘毒伏在經絡，其脈弦也，再發則愈。</p>
<p><u>《三因》論狀</u>　傷風咳者，憎寒壯熱，自汗惡風，口乾煩躁。傷寒咳者，憎寒發熱，無汗惡寒，不幹煩躁。傷暑咳者，煩熱引飲，口燥，或吐沫，聲嘶咯血。傷濕咳者，骨節煩痛，四肢重者，洒洒淅淅。喜傷心，咳而喉中介介如腫狀。甚則咽腫喉痹，自汗咽乾，咯血。此勞傷心，小腸受之，咳與氣俱失。怒傷肝，咳而兩脅下痛，不可轉側，則兩胠下滿，左脅偏痛引少腹。此怒傷肝，膽受之，咳嘔膽汁。思傷脾，咳而右脅下痛，隱隱引肩背。甚則不可動，腹脹心痛，不欲食。此飢飽之傷，胃受之，咳而嘔，嘔則長蟲出，憂傷肺，咳而喘息有聲。甚則吐血，吐白沫涎，口燥聲嘶。叫呼傷肺，大腸受之，咳而遺矢。恐傷腎，咳而腰背相引痛。甚則嗔，咳涎，寒熱，引腰背，或喘滿。房勞傷腎，膀胱受之，咳而遺溺。久咳不已，三焦受之，咳而腹滿不飲食。</p>
<p>咳、嗽、喘、逆氣、短氣分別不同。</p>
<p>咳者，無痰有聲，喉中如癢，習習如梗，甚則續續不止，連連不已，沖膈擊胸。外有心咳、一切血證、肺咳上逆。</p>
<p>嗽者，有痰。外有勞瘵喘促嗽血、肺痿、肺癰。</p>
<p>喘者，促促而氣急，喝喝而息數，張口抬肩，搖身攘肚。外有腳氣。</p>
<p>逆氣者，但腳氣上而奔急。外有肺中風、肺中暑、肺熱、肺寒、肺水、肺痹、肝熱膽寒、心熱腸痹、痰水。</p>
<p>短氣者，呼吸難，數則不能相續，似喘而不搖肩，似呻吟而無痛。外有脾中風、脾中寒、肺熱、腎虛、歷節風、憂氣、胸痞、痰飲。</p>
<p><u>【治】</u>　咳嗽謂無痰而有聲。《素問》云：咳乃皮毛先受邪氣以從其合，其寒飲食入胃，從脾脈上至肺，肺寒則內外合邪，因有咳證。</p>
<p>肺咳，麻黃湯；大腸遺矢，赤石脂禹餘糧湯、桃仁湯。</p>
<p>脾咳，升麻湯；胃吐蟲出，烏梅湯。</p>
<p>心咳，桂枝湯；小腸氣失，芍藥甘草湯。</p>
<p>肝咳，小柴胡湯；膽嘔苦汁，黃芩半夏湯。</p>
<p>腎虛，麻黃細辛附子湯；膀胱遺溺，茯苓甘草湯。</p>
<p>久咳不已，三焦受之。其狀，咳，腹滿不欲飲食。此皆聚於胃，關於肺，令人多涕唾而面浮腫氣逆也。異功白朮散。</p>
<p>逆，逆謂氣上逆肺，壅而不下。上氣逆者，皂莢丸；火逆上氣，麥門冬湯；上氣脈浮者，麻黃厚補湯；上氣脈沉者，澤漆湯。澤漆（五）、桑白皮（六）、射干（泔浸）、黃芩、白朮、茯苓（四）、竹茹，治氣上逆，為熱所作。</p>
<p><u>治法</u>　無痰而有聲者，以辛潤其肺，青皮以散三焦之氣壅。有痰而嗽者，治痰為先，下氣為上。痰而能食者，下之。不能食者，厚朴湯治之。痰而熱者，柴胡湯加石膏主之；痰而寒者，小青龍加桃仁主之。</p>
<p><u>張之治痰</u>　以通聖散加半夏。暑嗽以白虎、涼膈；火嗽以黃連解毒；濕嗽以五苓、白朮；燥嗽以木香葶藶散；寒嗽以寧神寧肺散，為上也。更分以吐、汗、下為佳。</p>
<p><u>方</u>　南星、半夏、枳殼、陳皮。風痰脈弦，加通聖；熱痰脈滑，小柴胡，洪加青黛、連；氣痰脈澀，加青、陳皮；濕痰脈緩，加朮、防己；寒痰脈沉，加桂、杏、小青龍；發熱加芩、桔；痞加枳實，重加茯苓；氣上逆加葶藶；氣促加參、桔；浮腫加郁李仁、杏仁、澤瀉、茯苓；上熱喘湧，加寒水石、石膏；大便秘加大黃；能食加大承氣；不能食加樸。</p>
<p><u>利膈丸</u>　治胸中不利，痰嗽喘促。</p>
<p>木香　檳榔（一錢半）　枳實（炒，一兩）　樸（三兩）　大黃（酒製，一兩）　人參　當歸（各三錢）</p>
<p><u>紫蘇飲子</u>　治脾肺受寒，痰涎嗽。</p>
<p>紫蘇子　桑白皮　青皮　陳皮　杏仁　麻黃　炙甘草　五味子　半夏　人參。</p>
<p><u>千緡湯</u>　治痰妙。</p>
<p>半夏（一兩，生）　大皂角（半兩，去皮子）　雄黃加之（大治痰）</p>
<p>上同入絹袋中，水三升，姜八片，煎至半，以手操洗之，取清汁服。</p>
<p>大熱大飲凝於胸中而成濕，故痰作矣。宜吐之。</p>
<p><u>二陳湯加麻黃杏仁湯</u>　治風寒。行痰開腠理。本方加麻黃、杏仁、桔梗。</p>
<p><u>降火導痰湯</u>　治火。</p>
<p>黃芩　黃連　栝蔞　海石</p>
<p><u>勞嗽丹</u>　四物　竹瀝　薑汁</p>
<p><u>斂肺丹</u>　治肺脹及火鬱。</p>
<p>訶子　杏仁　青黛　栝蔞　半夏　香附</p>
<p><u>積痰方</u>　南星　半夏　青黛　栝蔞　石鹼</p>
<p>如肝痛，疏肝氣，加青皮；上半日咳，多屬胃火，加貝母、石膏；下半日嗽，多屬陰虛，加知母、柏、川芎、歸；虛甚好色者，加參、膏、青陳皮、姜。</p>
<p><u>酒病嗽</u>　白礬（一兩，另研）　杏仁（一升）</p>
<p>上水一升，煎乾，攤新瓦上，露一宿，砂鍋內炒乾。每夜飯後，細嚼杏仁十五個。</p>
<p><u>劫嗽方</u>　五味（半兩）　甘草（二錢）　五倍子風化硝（各一錢）</p>
<p>為末，干噙化。</p>
<p><u>鵝管法</u>　治風入肺管。</p>
<p>南星　雄黃　款冬花　鵝石</p>
<p>上為末，入艾中，放薑片上，置舌上灸，吸菸入喉，以多為妙。</p>
<p><u>痰方</u>　若或痰白作泡，當於肺中瀉水。</p>
<p>滑石　川貝母　半夏　風化硝　白芥子　陳皮　茯苓　皂角（風加）　蒼朮（濕加）　栝蔞（潤加）　枳實（結加）　青黛　黃芩（熱加）</p>
<p><u>青礞石丸</u>　化痰。</p>
<p><u>麝香丸</u>　治痰。</p>
<p><u>勞嗽方</u>　四君子　百合　款冬花　細辛　肉桂　五味子　阿膠　半夏　天門冬　</p>
<p><u>杏子</u>　白芍　甘草</p>
<p>煎食。</p>
<p><u>《三因》論</u>　因怒而傷者，甘草；憂而傷者，枳殼；喜而傷者，五味；悲而傷者，人參。</p>

<h2>二十七、喘</h2>
<p>（附哮）</p>
<p><u>【脈證】</u>　實喘，氣實肺盛，呼吸不利，肺竅壅滯，右寸脈沉實者是，宜瀉肺。</p>
<p>虛喘，由腎虛，呼吸氣短，兩脅脹滿，左尺脈大而虛者是，宜補腎。</p>
<p>邪喘，由肺感寒邪，伏於肺經，關竅不通，呼吸不利，右寸脈沉而緊，亦有六部俱伏者。宜發散，則身熱而喘定。</p>
<p><u>《三因》狀虛實</u>　肺實者，肺必脹，上氣喘逆，咽中塞如嘔狀，自汗。肺虛者，必咽乾無津，少氣不足以息也。</p>
<p><u>【因】</u>　氣虛入於肺；陰虛火起衝上；有痰；有水氣乘肺。</p>
<p><u>【治】</u>　喘年深，時作時止。雄豬肚一個，治如食法，入杏仁四五兩，線縫，醋三碗，煮乾取出。先食肚，次以杏仁新瓦焙，捻去皮，旋食，永不發。</p>
<p><u>氣虛方</u>　治氣虛。</p>
<p>人參　黃柏（蜜炙）　麥冬　地骨皮</p>
<p><u>血虛方</u>　治陰虛有痰。</p>
<p>四物　黃連　枳殼　半夏</p>
<p><u>導痰千緡湯</u></p>
<p>半夏　南星　陳皮　茯苓　皂角　枳實</p>
<p><u>劫藥方</u>　治喘不止；甚，不可用苦寒藥，可溫劫之。</p>
<p>椒目（二錢），為末，薑湯下。萊菔子（蒸）、皂角（燒存性）。薑汁丸，噙。大黃（煨）、牽牛（各二兩，炒。）各為末，蜜水下二錢。治熱痰暴喘欲死。</p>
<p><u>瀉白散</u>　治陰氣在下，陽氣在上，咳喘嘔逆。</p>
<p>桑白皮一兩　青皮　五味　甘草　茯苓　人參　杏仁　半夏　桔梗（上二味，痰涎嘔逆加之）　地骨皮（七錢）</p>
<p>姜煎。</p>
<p><u>神秘湯</u>　治水氣逆行乘肺，肺得水而浮，使氣不通流。脈沉大。此人不得臥，臥則喘者是。</p>
<p>紫蘇　陳皮　桑白皮　生薑　人參（各五錢）　木香　茯苓（二錢）</p>
<p><u>哮</u></p>
<p><u>【因】</u>　哮喘主於內，痰宜吐之。</p>
<p><u>【治】</u>　哮積丹　雞子略敲不損膜，浸尿缸內四五日夜，吃之有效。蓋雞子能去風痰。蘿蔔子丸，薑湯送下妙。</p>

<h1>卷三</h1>

<h2>二十八、宿食留飲</h2>
<p>（附痰飲）</p>
<p><u>【脈】</u>　寸口脈浮大，按之反澀，尺中亦微而澀，故有食痰。寸口脈緊如轉索，左右無常者，有宿食。脈滑而數者，實也，有宿食，當下之。脈浮而滑者，宿食；下利不欲食者，宿食。脈沉，病若傷寒者，宿食、留飲，宜下之。脈短疾而滑者，酒病。脈浮細而滑者，傷飲。</p>
<p><u>【因】</u>　飲食自倍，腸胃乃傷。復加之，則胃化遲難，故宿食、留飲。飲，水也，無形之氣也。因而大飲則氣逆，形寒飲冷則傷肺。病則為咳滿水泄，重而為蓄積。食者，物也，有形之血也。因而食飽，筋脈橫解，腸澼為重，或嘔或吐或下利。</p>
<p><u>【證治】</u>　《千金》云，胃中有癖，食冷物則痛不能食，有熱物則欲食。大腹有宿食，即寒凜發熱如瘧狀。小腹有宿食，當暮發熱，明旦復止。</p>
<p>《三因》云：有飲在中脘則嘈，有宿食則吞酸。</p>
<p><u>李論</u>　戊己火衰，不能制物，食則不消，傷其太陰，填塞悶亂，兀兀欲吐。甚則心胃大痛，犯其血也。治宜分寒熱輕重。如初得上部有脈，下部無脈，其人當吐，不吐即死，宜瓜蒂散。輕則內消，縮砂、炒曲等是也。重則除下，承氣湯是也。寒則溫之，半夏、乾薑、三稜、莪朮是也。熱則寒之，大黃、黃連、積實、麥芽是也。飲則下行，或大飲而氣逆，或寒冷而傷肺。病則喘咳痰涎、水腫。輕則宜取汗、利小便，使上下分消其濕，解醒湯、五苓散、半夏、朮、枳殼之類是也。重則為蓄枳、為滿者，三花、神祐是也。</p>
<p><u>張論</u>　飲食不消，分貧富而治之。富者，乃膏粱太過，以致中脘停留，脹閉痞膈，醋心，宜木香導飲丸主之。貧者，乃動作過勞，飲食粗，酒食傷之，以致身腹滿悶，時吐酸水，宜進食丸主之。</p>
<p>又有重者，病證同太陰傷寒，止脈沉，可與導飲丸治之。</p>
<p>又論，留飲，蓄水而已，雖有四、有五之說，止一證也。夫鬱憤而不伸，則肝氣乘脾之氣而不流，亦為留飲。肝主慮，久不決，則氣不行。脾主思，久則脾結，亦為留飲。因飲水，脾胃久衰，不能布散，亦為留飲。飲酒過多，胞經不及滲泄，亦為留飲。渴飲冷水，乘快過多，逸而不動，亦為留飲。夫水者，陰物也。但積水則生濕，停酒則滿，燥久而成痰，左脅同肥氣，右脅同息賁，上入肺則嗽，下入大腸則瀉，入腎則湧，在太陽為支飲，皆內氣逆得之。故濕在上者，目黃面浮；在下者，股膝腫滿；在中者，支飲痞膈痰逆；在陽不去，久而滯氣；在陰不去，久而成形。宜治以導水、禹功，調以五苓、葶藶、椒目，逐水為全矣。</p>
<p>有傷西瓜，冷水、羊乳寒濕之物，宜白朮（二錢）、川烏（五分）、防風（一錢）、丁香（一枚）、甘草（炙，一錢。）</p>
<p>傷羊肉面濕熱之物，宜白朮、黃芩、黃連（各七錢）、大黃（二錢）、甘草（炙，五分）。如心下痞，枳實；腹痛，白芍藥（一錢）；腹脹，厚朴；胸中不利，枳殼；胸中寒，陳皮；渴者，白茯苓；腹中窄，蒼朮；體肢沉重，蒼朮。大抵傷冷物，以巴豆為君；傷熱物，以大黃為君。</p>
<p><u>檳榔丸</u>　治傷之輕者，飲食不化，心腹鼓脹。出劉。</p>
<p>檳榔（二錢）　陳皮（八錢）　牽牛頭末（四錢）</p>
<p>醋糊丸，梧子大。薑湯送下二十丸。</p>
<p><u>雄黃丸</u>　治傷之重，脅肋虛脹者。</p>
<p>雄黃（一兩，另研）　巴豆（五錢，生用，去油）</p>
<p>丸服。法同心痛。</p>
<p><u>瓜蒂散</u>　主吐。心腹卒痛悶亂，急以治之。</p>
<p>瓜蒂　赤小豆各三錢　細末之。每服一錢，溫酒下。</p>
<p><u>枳實丸</u>　治傷食。</p>
<p>枳實（半兩）　白朮（一兩）　曲丸。木香、檳榔、青皮，此三味氣滯加之；大黃、黃芩、黃連，此三味，濕熱加之；蘿蔔子、黃連、澤瀉，伏濕痞悶加之；梔子，病後食傷加之；半夏、豆粉，濕面油膩加之；草豆蔻、稜、莪，傷冷硬加之；乾薑，傷水加之；縮砂、丁香，心胃痛加之；人參，傷胃加之。</p>
<p><u>解酲湯</u>　治傷酒。</p>
<p>白豆蔻　砂仁　生薑　葛花（各半兩）　白茯苓　豬苓（去皮）　陳皮（去白）　人參　白朮（各一兩半）　青皮（三錢）　神麯（炒）　澤瀉（各二錢五分）　木香（五分）</p>
<p>上為末，白湯送下。</p>
<p><u>秘方</u>　治胃中有物，惡食。</p>
<p>二陳湯，加白朮、山楂、川芎、蒼朮、神麯（炒）。</p>
<p><u>神祐丸</u>　治留飲、懸飲，脈弦。又治脈伏，其人慾自利，難利，心下續堅滿。此為留飲欲去故也。</p>
<p><u>茯苓桂術湯</u>　治心下有痰飲，胸脅支滿，目眩。</p>
<p>茯苓　官桂　白朮　甘草</p>
<p><u>大青龍湯</u>　治溢飲體痛，當發其汗。</p>
<p>麻黃（七錢）　官桂　甘草（各二錢五分）　石膏（雞子大）　杏仁　半夏（濕加）</p>
<p><u>澤瀉湯</u>　治心下有支飲，其人苦冒眩。支飲不得息，加葶藶、棗。</p>
<p><u>樸黃湯</u>　治支飲胸痛。</p>
<p>大黃　厚朴（各等分）。</p>
<p><u>二陳湯、小半夏湯</u>　治嘔家本渴，今反不渴，心下有支飲故也。治先渴卻嘔，水停心下，此屬飲，加茯苓。</p>
<p><u>五苓散</u>　治瘦人，臍下有悸者，吐涎沫而顛眩，水也。亦治停痰宿水。</p>
<p><u>破飲丸</u>　治五飲結為癰瘕，支飲胸滿吐逆，心內隱痛。大能散氣。</p>
<p>蓽茇　胡椒　丁香　縮砂　青皮　烏梅　木香　蠍梢　巴豆（去油）</p>
<p>以青皮同巴豆，浸漿水一宿，漉出，同炒，青皮焦，去豆。將浸水淹烏梅肉，炊一熟飯，研細為膏。薑湯送下五七丸。</p>
<p><u>控涎丹</u>　治患胸背、手足、頸項、腰胯隱痛不忍，連筋骨牽釣痛，坐臥不安，時走易。</p>
<p>甘遂　大戟（紅牙）　白芥子（真）</p>
<p>上粉丸，梧子大，白湯送下。</p>
<p><u>痰飲證狀</u>　或咳或喘，或嘔或泄，眩暈嘈煩，忪悸愪，寒熱疼痛，腫滿攣癖，癃閉痞膈，如風如癲。懸飲者，水飲在脅下，咳唾引痛。溢飲者，飲水流於四肢，當汗不汗，身體疼痛重。支飲者，嘔逆倚息，短氣不得臥，其形如腫。痰飲者，其人素盛今瘦，腸間漉漉有聲。留飲者，背寒如手大，或短氣而渴，四肢歷節疼痛，脅下痛引缺盆。伏飲者，膈滿咳喘嘔吐，發則寒熱，腰背痛，目淚惡寒振振然。懸飲當下，溢飲當汗，支飲隨證汗、下之，痰飲宜溫之，從小便去之。</p>

<h2>二十九、噯氣吞酸嘈雜</h2>
<p>（附䅽氣）</p>
<p><u>【因】</u>　胃中有火，有痰。</p>
<p>《三因》論醋咽。夫中脘有飲則嘈，有宿食則酸。食後噫酸、吞酸者，皆食證（俗名咽酸）</p>
<p><u>【治方】</u>　食鬱有痰，吞酸。</p>
<p>南星　半夏（五錢）　黃芩（一兩）　陳皮</p>
<p><u>燥飲丸</u>　治痰飲心痛。</p>
<p>干螺殼（牆上者）　蒼朮　神麯為丸。</p>
<p><u>曲術丸</u>　治吞酸。中脘有飲則嘈，宿食則酸。</p>
<p>縮砂　陳皮　蒼朮　神麯（炒）</p>
<p>曲丸，薑湯送下。</p>
<p><u>又方</u>　治酸，皆濕熱鬱。</p>
<p>黃連（薑汁炒）　蒼朮　茯苓</p>
<p>湯浸，餅丸。吐清水</p>
<p>蒼朮（陳壁土炒）　茯苓（一錢）　滑石（煨）　術（一錢五分）　陳皮（五分）</p>
<p>水煎。</p>
<p><u>論䅽氣</u></p>
<p><u>證</u>　夫䅽飪之邪從口入者，宿食也。其病煩痛，畏風憎寒，心腹脹滿，下利不欲食，吞酸噫宿腐氣。或腹脹瀉泄，及四肢浮腫。若胃實熱，食反留滯，其脈滑而數，宜下之愈。</p>
<p>若脾虛，其脈浮大，按之反澀，尺中亦微澀，宜溫消之。</p>
<p><u>木香丸</u>　木香　硇砂　蓬朮　胡椒　半夏　乾漆（炒令煙盡，各五錢）　桂心　縮</p>
<p><u>砂</u>　青皮（各三錢）　附子（炮，去皮臍）　三稜（醋炙）　乾薑（各一兩）</p>
<p>上末，蜜丸，梧子大。每服五十丸，薑湯下。</p>
<p><u>感應丸</u>　肉豆蔻　川芎　百草霜（各二兩）　木香（一兩五錢）　蓽澄茄　丁香　三稜（各一兩）　巴豆（百粒，去皮）　蠟（四兩）　杏仁（百粒，去皮）</p>
<p>上除巴豆外，為末。以下別研。巴豆、杏仁和勻。先將油煎蠟溶化，傾出藥末，內和成劑，入臼內杵千餘下，丸綠豆大。每服三五丸白湯下。</p>
<p>又外有醋咽、䅽氣、思膈皆同。</p>

<h2>三十、積聚</h2>
<p><u>【脈】</u>　來細而附骨乃積。寸口，積在胸；關上，積在臍旁；尺中，積在氣衝。左積左，右積右，脈兩出，積在中央。浮而毛，按之辟易，脅下氣逆，背相引痛，名肺積。</p>
<p>沉而芤，上下無常處，胸滿悸，腹中熱，名心積。</p>
<p>弦而細，兩脅下痛，邪走心下，足腫寒，名肝積。</p>
<p>沉而急，若脊與腰相引痛，飢見飽減，名腎積。</p>
<p>浮大而長，飢減飽見，腹滿泄嘔，脛腫，名脾積。</p>
<p>寸口沉而結，快而緊，積聚有系痛。脈弦細微者，為癥，橫脅下及腹中有橫積。脈弦，腹中急痛為瘕。脈細而沉時直者，身有癰腫，若腹中有伏梁。脈沉小而實者，胃有積聚，不下食，食則吐。脈沉而緊者，若心下有寒，時痛，有積聚。關上脈大而尺寸細者，必心腹冷積；遲而滑，中寒有症。脈弦而伏，腹中有症，不可轉也，死。脈緊，強急者生，虛弱者死，沉者死。</p>
<p><u>【因】</u>　脛寒厥氣則血脈凝澀，寒氣上入腸胃，所以腹脹。腹脹則腸外之汁沫，迫聚不得散，日以成積。</p>
<p>又盛食多飲，起居過度，腸胃之絡傷，則血溢於腸外，腸外有寒汁沫，與血相搏，則氣聚而成積。</p>
<p>又外中於寒，內傷於憂怒，氣則上逆，上逆則六腧不通，濕氣不行，凝血蘊裹，津液凝澀，滲著不去而成積。</p>
<p>又生於陰，蓋憂思傷心，重寒傷肺，忿怒傷肝，醉以入房，汗出當風傷脾，用力過度入房，汗出入浴傷腎，皆臟氣不平，凝血不散，汁沫相搏，蘊結而成積矣。</p>
<p>又有食積、酒肉積、水積、涎積、血積、氣積，皆因偏愛，停留不散，日久成積塊。在中為痰飲，在右為食積，在左為血積。</p>
<p><u>【證】</u>　蓋積、聚之源則一。其在臟者，始終不移為積；其在腑者，發痛轉移，隨氣結束為聚。積者，繫於臟；聚者，繫於腑。癥者，繫於氣；瘕者，繫於血。</p>
<p>肝之積名肥氣。在左脅下如覆盆，發咳逆痎瘧。連歲不已，其中有血，肝主血故也。</p>
<p>心之積名伏梁。起臍下，大如臂，上至心下，令人煩心，有大膿血，在於膈胃之外。</p>
<p>肺之積名息賁。在右脅下，大如杯，灑淅寒熱，喘咳肺壅。賁者，賁門也，積在肺下有賁門。</p>
<p>脾之積名痞氣。在胃脘，大如盤，四肢不收，黃疸，飲食不為肌。痞者，濕也。食冷，其人傷氣，為濕所蓄。</p>
<p>腎之積名奔豚。發於小腹，上至心下，若豚狀。上下喘息，骨痿。</p>
<p>病在六腑。太陽利清氣，陽明泄濁氣，少陽化精氣，失常則壅聚不通。故實而不轉，虛則輸，屬陽無形，隨氣往來，在上則格，在下則脹，旁攻兩脅，如有泥塊，易於轉變，故名曰聚。</p>
<p>又有息積者，乃氣息癖滯於脅下，不在臟腑營衛之間，積久形成。氣不幹胃，故不妨食，病者脅下滿，氣逆息難，頻噦不已，名曰息積。</p>
<p><u>【治法】</u>　寒者熱之，結者散之，客者除之，留者行之，堅者削之；消者摩之，咸以軟之，苦以瀉之；全真氣以補之，隨其所利而行之；酒肉食等積，以所惡者攻之，以所喜者誘之。</p>
<p><u>五積丸</u>　治積塊。</p>
<p>黃連（肝腎五錢，心肺一兩半，脾七錢）　厚朴（肝心脾，五錢，肺胃八錢）　巴豆霜（五分）　川烏（肝肺一錢，腎脾五錢）　乾薑（心肝五分，腎一錢五分）　茯苓（一錢五分）　人參（肝肺腎二錢，心五錢）</p>
<p>另研巴豆，旋入和勻，煉蜜丸，梧子大。微溏為度。</p>
<p>肝積，加柴胡二兩、皂角二錢五分，川椒四錢、昆布二錢、莪朮三錢五分。</p>
<p>心積，加茯苓三錢、肉桂一錢、茯神一錢、丹參一錢、菖蒲五錢。</p>
<p>肺積，加桔梗一錢、紫菀一錢五分、天門冬一錢、三稜一錢、青皮一錢、陳皮一錢、川椒一錢五分、白豆蔻一錢。</p>
<p>腎積，加玄胡三錢、苦楝肉三錢、全蠍一錢、附子一錢、澤瀉二錢、獨活三錢、肉桂三錢、菖蒲二錢、丁香五錢。</p>
<p>脾積，加吳萸二錢、澤瀉一錢、茵陳二錢、縮砂二錢、川椒五錢。</p>
<p>秋冬，加制樸一倍，減芩、連服。人覺熱，加連；覺悶亂，加桂；氣短，減樸。又有虛人，不可直攻，以蠟匱其藥，又且久留磨積。</p>
<p>肉積，硇砂、水銀、阿魏；酒積，神麯、麥芽；血積，虻蟲、水蛭、桃仁、大黃；氣積，檳榔、木香；水積，甘遂、牽牛、芫花；涎積，雄黃、膩粉；食積，礞石、巴豆；癖積，三稜、莪朮；魚鮮積，陳皮、紫蘇、草果、丁香、桂心；寒冷成積，附、樸、硫黃。</p>
<p><u>化氣湯</u>　治息積癖於腹脅之下，脹滿瘀痛，嘔吐酸水。</p>
<p>縮砂　肉桂　木香（各一錢）　甘草（炙）　茴香（炒）　丁香　青皮（炒）　陳皮　生薑（炮，各五錢）　沉香　胡椒（各一錢）</p>
<p>上為末，薑、紫蘇湯、鹽、酒調二錢一分。</p>
<p><u>散聚湯</u>　治久氣六聚，狀如癥瘕，隨氣上下，發作有時，心腹絞痛，攻刺脅腰，喘咳滿悶䐜脹。</p>
<p>半夏　檳榔　當歸（各三錢）　陳皮　杏仁　肉桂（各二錢）　茯苓　甘草　炮附　川芎　枳殼　吳萸　厚朴（制，各一錢）　大黃（大便秘加之）</p>
<p><u>三聖膏</u>　貼塊。</p>
<p>石灰（末化者半斤，瓦器炒，令淡紅出，候熱稍減，研之）　大黃（一兩，末之，就爐微炒，候涼入桂）　桂心（半兩，末，略炒，醋熬成膏，厚攤，貼患處）</p>
<p><u>又方</u>　大黃　朴硝（各一兩，末。）　大蒜搗膏，貼之亦佳。</p>
<p><u>張法</u>　無憂散　治諸積不化。桂苓白朮散調之。</p>
<p><u>茶調散</u>　治沉積水氣。木香檳榔丸調之。</p>
<p><u>千金硝石丸</u>　止可磨塊，不令困人，須量虛實。</p>
<p>硝石（六兩）　大黃（半斤）　甘草　人參（各三兩）</p>
<p>上為末，以三年苦酒（即好醋也）。三升，置筒中，以竹片作三片刻，先納大黃攪，使微沸盡一刻，乃下余藥。又盡一刻，微火熬膏。丸梧子大，每服三十丸。</p>
<p><u>消塊丸</u>　此必審確可用。</p>
<p>三稜　莪朮（削堅）　青皮　陳皮（破氣）　香附（調氣）　桃仁　紅花（治血）　靈脂（破血）甘草　牛膝（死血用）　石鹼（破痰塊）　二陳湯（皮裡膜外多痰加之）　山楂（食塊加之）　吳茱萸（炒，一錢五分）　益智（炒，一錢五分）　葵根　白朮（等分）</p>
<p>鹼石湯下。</p>
<p><u>茶癖散</u>　石膏　黃芩　升麻</p>
<p>砂糖調服。</p>
<p><u>治痰塊</u>　苦參　半夏　瓜蒂　姜</p>
<p>蜜丸。</p>
<p><u>破塊驗丸</u>　吳茱萸　黃連　木香　檳榔　桃仁　郁李仁</p>
<p>又承氣加連、芍、川芎。乾葛湯下。</p>
<p>又栝蔞、半夏、黃連、貝母丸，果效。</p>

<h2>三十一消渴</h2>
<p><u>【脈】</u>　心脈滑為渴，滑者陽氣勝。心脈微小為消癉。脈軟散者，氣血虛。脈洪大者，陽余陰虧。寸口脈浮而遲，浮為虛，衛氣虧；遲為勞，營氣竭。趺陽脈浮而數，浮為風，數消穀。消癉，脈實大，病久可治；懸小堅急，病久不可治。脈數大者生，實堅大者死。細浮短者死。</p>
<p><u>【因證】</u>　膏粱甘肥之變，則陽脈盛矣。陽脈太甚，則陰氣不得營也。津液不足，結而不潤，皆燥熱為病也。</p>
<p>經云：二陽結謂之消。二陽者，陽明也。手陽明主津，病消則目黃口乾，是津不足也。足陽明主血。熱則消穀善飢，血中伏火，乃血不足也。此皆津血不足而熱也。</p>
<p>夫因則火一也，病則有上、中、下三也。蓋心火盛於上，為膈膜之消。病則舌上赤裂，大渴引飲。論云：心移熱於肺，傳為膈消是也，以白虎加參湯主之。</p>
<p>火盛於中，為腸胃之消。病則善食身瘦，自汗，大便硬，小便數。論云：癉成為消中者是也。以調胃承氣、三黃等治之。</p>
<p>火盛於下，為腎消。病則煩躁，小便濁，淋如膏油之狀。論云：焦煩水易虧者是也。六味地黃丸主之。</p>
<p><u>【治法】</u>　熱淫所勝，治以甘苦，甘以瀉之。熱則傷氣，氣傷無潤，則折熱補氣，非甘寒不治。</p>
<p>李以補肺、降火、生血為主。</p>
<p><u>秘丹</u>　生血為主，總治三消。</p>
<p>黃連　花粉　人乳　地黃汁　藕汁</p>
<p>上蜜為膏，徐徐留舌上，以白湯下。</p>
<p><u>參膏湯</u>　治膈消，上焦渴，不欲多飲。</p>
<p>人參（五錢）　石膏（一兩）　知母（六錢）　甘草（三錢五分）</p>
<p>水煎。或方加寒水石妙。</p>
<p><u>順氣散</u>　治消中，能食，小便赤。</p>
<p>川樸（一兩）　大黃（四兩）　枳殼（二兩）　赤芍藥（一錢）</p>
<p><u>茴香散</u>　治腎消，小便如油。</p>
<p>茴香　苦楝（炒）　五味</p>
<p>上為末，酒下二錢，食前服。</p>
<p><u>珍珠丸</u>　治白淫滑泄，思想無窮，所願不得之證。</p>
<p>黃柏（一斤，燒）　真蛤粉（一斤）</p>
<p>水丸，空心酒下。柏降火，蛤咸補腎。</p>
<p><u>又方</u>　蘆根　栝蔞根　麥門冬　知母　竹葉　牛乳</p>
<p><u>生津甘露飲</u>　已下出李。</p>
<p>石膏　甘草（滋水之源）　黃連　山梔　黃柏　知母（瀉熱補水）　杏仁　麥冬　全蠍　連翹　白葵　白芷　歸身　蘭香（和血潤燥）　升麻　柴胡（經行）　木香　藿香（反佐取之）　桔梗（為末，舐之）</p>
<p><u>酒煮黃連丸</u>　治中暑熱渴。</p>
<p>太陽渴，脈浮無汗，五苓、滑石類；陽明渴，脈長有汗，白虎、涼膈等；少陽渴，脈弦而嘔，小柴胡加栝蔞；太陰渴，脈細不欲飲，不思水；少陰渴，脈沉而自利者，豬苓、三黃湯；厥陰渴，脈微引水，少與之。</p>
<p><u>神芎丸</u>　已下出張。</p>
<p>黃連（入心）　牽牛（逐火）　滑石（入腎）　大黃（逐火）　黃芩（入肺）　薄荷（散熱）</p>
<p><u>三黃</u>　治消渴。大黃，春秋二兩，夏一兩，冬五兩；黃芩，春四兩，秋夏六兩，冬三兩；黃連，春四兩，秋夏七兩，冬三兩。桂苓甘露飲調之。白虎湯調之。</p>
<p>生藕節汁、淡竹瀝汁、生地黃汁，相兼服之、潤之。</p>
<p>寒水石、甘草、蛤粉等分，濃煎麥門冬苗，下二錢。</p>
<p><u>神白散</u>　治真陰虛損。</p>
<p><u>豬肚丸</u>　治消中。</p>
<p>豬肚（一個）　黃連（五錢）　麥冬（去心）　知母栝蔞</p>
<p>上四件末，入肚縫之，蒸爛熟，於砂盆內杵而丸之，如堅少加蜜，丸梧子大，每服五十丸。</p>
<p><u>葛根丸</u>　治腎消。</p>
<p>葛根　栝蔞（各二兩）　鉛丹（二兩）　附子（一兩，炮）</p>
<p>蜜丸，如梧子大，一日三服，春夏去附。</p>
<p><u>胡粉散</u>　治大渴，又治腎消。</p>
<p>栝蔞根（二兩五錢）　胡粉（五錢）　鉛丹（五錢）　澤瀉　石膏　白石脂　赤石脂（各五錢）甘草（炙，三兩五錢）</p>
<p>上杵為末，任意服，痛者減服。</p>
<p><u>人參白朮湯</u>　人參　白朮　當歸　白芍　山梔　澤瀉　大黃（各五錢）　連翹　栝</p>
<p><u>蔞根</u>　茯苓（各一兩）　肉桂　藿香　木香（各一錢）　寒水石（二兩）　滑石　朴硝（各半斤）　甘草（三兩）　石膏（四兩）</p>
<p>姜煎，入蜜少許。</p>
<p>口燥、口乾、口渴、咽乾，須詳之。</p>

<h2>三十二、痞</h2>
<p><u>【因】</u>　誤下陰虛。食積痰滯。濕土虛痞。</p>
<p>論曰：太陰濕土為積飲痞膈，乃土來心下痞滿也。</p>
<p><u>【證治】</u>　誤下多則亡陰，胸中之氣，因虛而下陷於心之分野。宜升胃氣，以血藥治之。亡陰謂脾胃水穀之陰亡也。</p>
<p>痰積痞膈，胸中窄塞，宜消導之，謂之實痞。</p>
<p>濕土虛痞有二。大便秘能食者，厚朴、枳實主之；大便利者，芍藥、陳皮主之。</p>
<p><u>【治法】</u>　以瀉心湯。黃連為君，瀉心下之土邪；厚朴降氣。</p>
<p>《三因》論狀　心下堅滿，痞急痛如刺，不得俯仰，其胸前皮皆痛，短氣，咳唾引痛，咽塞不利，習習如癢，喉中乾燥，嘔吐煩悶，自汗時出，痛引徹背。</p>
<p>外有心熱而痞之，痞則滿硬。結胸則痛，屬胸痹。</p>
<p><u>大消痞丸</u>　治濕土痞、虛氣痞。</p>
<p>黃連（炒）　黃芩（各三錢）　薑黃（一錢）　白朮　半夏（各一兩）　甘草（炙，一錢）　縮砂（一錢）　枳實（炒）　生薑（各五錢）　陳皮（二錢）　神麯（一錢，炒）　厚朴（三錢）　澤瀉　豬苓（各一錢五分）</p>
<p>丸梧子大，白湯送下。木香，有憂氣結中脘，心下痞滿，肚皮底微痛加之，否則不用。</p>
<p><u>利膈丸</u>　除痰利膈。</p>
<p>黃芩（生炒各一兩）　黃連　南星　半夏（各五錢）　枳殼　陳皮（各三錢）　白朮（二錢）　白礬（五分）　澤瀉（五錢）　神麯（五錢，炒）</p>
<p><u>栝蔞丸</u>　治胸痞，或脅下逆搶心。</p>
<p>栝蔞子　枳實　陳皮</p>
<p>取栝蔞皮，穰末熬丸。胸痞切痛，加梔子燒存性、附子炮，各二兩。</p>

<h2>三十三、腫脹</h2>
<p><u>【脈】</u>　遲而滑者脹。盛而緊曰脹，陽中有陰也，故下之。趺陽緊而浮，緊為痛而堅滿，浮為虛則腸鳴。弦而遲者，必心下堅。又肝木克脾，土鬱結涎，閉於臟氣，腑氣不舒，胸則脹閉。脈浮而數，浮則虛，實則數。脈浮，風水、皮水皆浮。虛緊澀者脹。憂思連結，脾肺氣凝，大腸與胃，不平而脹。脈，石水、黃汗皆沉。脈浮而滑，名風水。浮而遲，浮熱遲濕，濕熱相搏，石水必矣。弦而緊，弦則衛氣不行，水走腸間。水滿腹大如鼓，脈實者生，虛者死；洪大者生，微者死。腹脹便血，脈大時絕，極脈小疾者並死。中惡，腹大四肢滿，脈大而緩者生，緊大而浮者死，緊細而微者亦生。</p>
<p><u>【因證】</u>　蓋腫脹之因，其始則一，其變則二，皆脾胃之土生焉。</p>
<p>水腫之因　蓋脾虛不能制水，腎為胃關，不利則水漬妄行，滲透經絡。其始也，目窠上微腫，頸脈動、咳，陰股寒、足脛脹，腹乃大，其水已成矣。按其腹隨手而起，如裹水之狀。短氣不得臥者，為心水；小腹急滿，為小腸水；大便鴨溏，為肺水；乍虛乍實，為大腸水；兩脅痛，為肝水；口苦咽乾，為膽水；四肢重，為脾水；小便澀，為胃水；腰痛足冷，為腎水；腹急肢瘦，為膀胱水。然此十水，謂之正水，審脈證，分經絡而治之。</p>
<p>風水，脈浮惡風，歸肝；皮水，脈亦浮，不惡風，喘渴，按沒指，歸肺；石水，脈沉，不惡風歸腎；黃汗，脈沉遲，發熱而多寒，歸脾。</p>
<p><u>【治法】</u>　腰以上腫宜汗，腰以下腫宜利小便。主治，使補脾氣，實則能健運，以參、術是也，佐以黃芩、麥冬制肝木。腹脹加厚朴，氣不運加沉、木香，使以通利，是必痊矣。開鬼門、潔淨府，正此謂也。外有濕腫，用加附子，脈沉細是也。又有腫痛，為中寒也，加炮附是也。</p>
<p>脹滿皆脾土轉輸失職，胃雖受谷，不能運化精微，聚而不散，隧道壅塞，清濁相混，濕鬱於熱，熱又生濕，遂成脹滿。</p>
<p>又寒濕抑遏，遏於脾土之中，積而不散而脹。即經云臟寒生滿病是也。</p>
<p>又五積痰飲聚而不散，或宿食不化，皆成脹滿。</p>
<p>煩心短氣，臥不安，為心脹；虛喘咳滿，為肺脹；脅痛引小腹，為肝脹；善噦四肢脫，體重不勝衣，臥不安，為脾脹；引背央央然。腰髀痛，為腎脹；腹滿胃脘痛，妨食聞焦臭，大便難，為胃脹；腸鳴痛，冬寒飧泄，為大腸脹；小腹䐜滿引腰而痛，為小腸脹；小腹氣滿而氣癃，為膀胱脹；氣滿於膚硜硜然，為三焦脹；脅痛脹，口苦，善太息，為膽脹。</p>
<p>寒氣客於皮中，𪔣𪔣然不堅，腹身大，色不變，按之不起，為膚脹；腹脹身皆大，色蒼黃，腹筋起者，為鼓脹。</p>
<p>寒氣客於腸外，與衛相搏，氣不得營，因有所繫，癖而內著，其大也如雞子，至其成如懷胎，按之則堅，推之則移，月事不以時下，名腸覃；寒氣結於子門，閉塞不通，惡血當瀉而不瀉，血留止，日以益大如胎，月事不時，此生於胞中，為石瘕。此二者，皆生於女子，可道而下。</p>
<p><u>【治】</u>　虛則宜補脾以養肺，流濕以散氣。治以參、術，佐以平胃、茯苓。熱加芩、連，血虛四物，死血桃仁。</p>
<p>風寒外邪，自表入里，寒變為熱而胃實滿，宜大承氣下之；痰積宿食，宜以消導，或大黃丸下之。經云：去菀陳莝是也。</p>
<p>前者之外，有胃寒腸熱，腹脹而且泄。胃寒則氣收不行為脹，腸熱則水穀不聚而泄。黃連、木香、大黃、厚朴、茯苓、青皮、茱萸。</p>
<p>又有胃熱腸寒，故痛而且脹。胃熱則善飢消穀，腸寒則血凝脈急，故痛而且脹。</p>
<p>又有頸腫、膺腫、胸脹，皆氣不順，有餘於上。</p>
<p>又有身腫而冷，胸塞不能食，病在骨節，汗之安。</p>
<p><u>忌</u>　面上黑點肺敗，掌中無紋心敗，臍突脾敗，腳根腫肝敗，腹滿青筋腎敗。</p>
<p>營衛俱絕，浮腫者死；唇腫齒焦者死；卒痛，面蒼黑者死；臍腫反出者死；陰囊、莖俱腫者死；脈絕口張，腫者死；足趺腫脹，如斗者死。</p>
<p><u>變水湯</u>　治腫脹。</p>
<p>白朮　茯苓　澤瀉（各二兩）　郁李仁（二錢）</p>
<p>煎入薑汁，調以耆、術，為建中之類。</p>
<p><u>楮實丸</u>　治脹。</p>
<p><u>木香散</u>　治腫。</p>
<p>木香　大戟　白牽牛（各一兩）</p>
<p>上為末三錢，豬腎子一雙，批作片子，糝末在內，煨熟，空心服。更塗甘遂末於肚上，少飲甘草水。</p>
<p><u>十棗丸</u>　治腫脹。</p>
<p><u>五皮散</u>　治腫皮水。</p>
<p>大腹皮　桑白皮　茯苓皮　生薑皮　陳皮　木香</p>
<p><u>消腫丸</u>　滑石　白朮　木通　牽牛　茯苓　半夏　陳皮　木香　丁香　瞿麥</p>
<p>酒糊丸，麥門冬湯下。</p>
<p><u>中滿分消丸</u>　治熱脹、鼓脹、氣脹。</p>
<p>黃芩（刮黃皮，一兩）　黃連（炒，一兩）　薑黃　白朮　人參　豬苓　甘草（各一兩）　茯苓　縮砂　陳皮（各三錢）　枳實　半夏（各五錢）　厚朴（一兩）。</p>
<p><u>廣朮饋堅湯</u>　治脹，有積塊如石，上喘浮腫。</p>
<p>厚朴　草豆蔻　歸尾　黃芩　益智（各五錢）　甘草　黃連　白朮　柴胡　神麯　澤瀉（各三錢）　吳茱萸　青皮　陳皮（各二錢）　半夏（七錢）　桃仁　蘇木　木香　紅花（各一錢）</p>
<p><u>海金砂丸</u>　治腫。</p>
<p>牽牛（生炒各半兩）　甘遂（半兩）　金砂（三錢）　白朮（一兩）</p>
<p>煎服。</p>
<p><u>木香塌氣丸</u>　治脹。</p>
<p>胡椒　草蔻（麵裹，煨）　木香（各三錢）　蠍梢（三錢五分，去毒）。</p>
<p><u>大補中氣行濕散氣湯</u></p>
<p><u>秘傳十水丸</u>　後用尊重丸退余水。</p>
<p>炒甜葶藶　澤瀉　巴豆（去殼，出油）　醋煮　大戟　芫花（醋炒）　甘遂（醋炒）　桑白皮漢椒　茯苓　雄黃</p>
<p>每三錢，五更水下，以肉壓之，免噁心。</p>
<p><u>車水葫蘆丸</u>　止用一掃光為貴。</p>
<p>木香　丁香（各三錢）　沉香　黑白醜（各二錢）　枳殼　烏藥　白芷　當歸（各一錢）</p>
<p>茶丸。</p>
<p><u>尊重丸</u>　治蠱脹。腹大水腫，氣逆喘乏，小便澀，大便閉，虛危甚效。</p>
<p>沉香　丁香　人參　檳榔　木香　青陳皮　枳實　白牽牛　木通　車前　苦葶藶　赤茯苓（各四錢）　胡椒　海金砂　白豆蔻　蠍尾　滑石（各二錢五分）　蘿蔔子（炒，六錢）　白丁香（一錢）　郁李仁（兩半，去皮）</p>
<p>薑汁糊丸，薑湯下。</p>
<p>氣分與胸痹、中滿皆相類。中滿為氣虛，胸痹為氣實，氣分挾痰飲。</p>
<p>營衛不利，腹滿脅鳴相逐；氣轉膀胱，營衛俱勞；陽氣不通則身冷，陰氣不通則骨疼；陽前通則惡寒，陰前通則痹不仁；陰陽相得，其氣乃行，大氣一轉，其氣乃散；實則失氣，虛則遺溺，名曰氣分。寸口遲而澀，遲則氣不足，澀則血不足，氣寒涎結，水飲所作。</p>
<p>婦人經水前斷後病，名曰血分；先病水，後經斷，名曰水分。</p>
<p><u>類別相似</u>　濕腫類多，自正水之餘，有風水、皮水、石水、黃汗等。入水門，如脾氣橫泄、腳氣、皮滿膚脹、腸覃、石瘕、氣分、血分、皆相似也。</p>
<p><u>類分䐜脹</u>　有胃中風、脾中寒、中濕、心痹、肝虛、脾傷、脾熱、飲聚、女疸。</p>
<p>小腹脹，有腎熱、三焦虛寒、瘍癰、女勞疸。面腫，肺中風、腎中風、胃寒、肺水。</p>
<p><u>有論胕腫七證</u>　有肺氣隔於膜外，運行不得，遍身浮腫，脈浮，治宜調肺通氣。</p>
<p>有男臟虛，女血虛，傷於冷毒之物成積，礙氣道不通，腹急氣喘，亦有四肢不腫，只肚鼓脹，脈弦，治宜化積。</p>
<p>有脾寒久年不愈，傳為浮腫。且云內有伏熱，因而瀉利，及其熱乘虛入脾，至胸腹急脹，脈數，治宜解熱。</p>
<p>有脾主肌肉，肉如泥，按之不起，土濕病也，脈沉，治宜燥脾。</p>
<p>有脾虛不能制腎水，脾濕如泥，脈沉遲，治宜緩脾元利水道。</p>
<p>有傷風濕而腫，或傷冷濕而腫，氣血凝澀，脈浮緩，治宜發散風濕也。</p>
<p>有久病氣虛面浮，手足虛，氣妄行者。婦人產後，或經事後，有此一證，是氣虛也，治在調氣補血。</p>
<p>結陽者，腫四肢。夫熱勝則腫，四肢為諸陽之本。陽結於內，不得行於陰，熱邪則菀於四肢，大便閉澀，是熱也，非水也。宜服犀角、玄參、連翹、升麻、麥門冬、木通、芒硝。</p>
<p>有脅支滿，或腹滿痛，或胸脹，亦有經氣聚而不行，如脅支滿，少陽經氣不行也。余皆仿此。</p>
<p>有頭腫、臂腫、胸脹，皆氣不順，有餘於上。</p>
<p>有身腫而冷，胸塞不能食，病在骨節，汗之安。</p>

<h2>三十四、嘔吐噦</h2>
<p><u>【脈】</u>　形狀如新臥起。脈弱而嘔，小便複利，身有微熱，見厥者死。趺陽脈浮，胃氣虛，嘔而不食，恐怖死，寬緩生。寒氣在上，陰氣在下，二氣並爭，但出不入。嘔家有癰膿者，不可治，膿儘自愈。先嘔卻渴，此為欲解；先渴卻嘔，為水停心下，屬飲。嘔本渴，今反不渴，有支飲。嘔多，雖有陽明證，不可下，蓋邪氣不在胃口。脈數反吐、汗，令陽微，膈氣空虛，數為客熱，不能消穀，胃中虛冷，故吐也。陽緊陰數，食已則吐；陽浮而數亦然，或浮大。皆陽偏盛，陰不能配之也，為格，主吐逆，無陰故嘔。寸口脈緊而芤，緊為寒，芤為虛，虛寒相搏，脈為陰結而遲，其人則噎。關上脈數則吐。脈弦者，虛也。胃氣無餘，朝食暮吐，變為胃反。寸緊尺澀，胸滿不能食而吐，吐止者為下之，未止者為胃反也。趺陽脈微而澀，微則下利，澀則吐逆，谷不得入；或浮而澀，浮則虛，虛傷脾，脾傷則不磨，朝食暮吐，名胃反。寸口脈微而數，微則血虛，血虛則胸中寒。脈緊而澀者，難治；嘔吐思水者，易解。關上脈浮大，風在胃中，心中澹澹，食欲嘔。關上脈微浮，積熱在胃中，嘔吐蛔蟲。關上脈緊而滑者，蛔動。脈緊而滑者，吐逆。脈小弱而澀，胃反。</p>
<p><u>【證】</u>　嘔吐噦各有所辨。</p>
<p>吐屬太陽，有物無聲，乃血病也。有食入則吐，食已即吐，食久則吐之別。</p>
<p>嘔屬陽明，有物有聲，氣血俱病。</p>
<p>噦屬少陽，無物有聲，乃氣病也。</p>
<p><u>【治】</u>　因胃口有熱，膈上有痰，故嘔吐。亦有寒氣客於腸胃，厥逆上出，故痛而嘔。因胃中虛，膈上熱，故噦。亦有痰水滿塞而噦。因胃氣虛，陽火上衝，故吃逆。亦有痰熱在胃，中氣不降而呃。</p>
<p><u>李論</u>　寒客胃中，物盛上溢，故嘔。清厥甚則痹，食而吐。寒氣與新穀氣俱還於胃中，新故相亂，真邪相攻，故噦。三者雖殊，皆因脾胃虛弱，亦因寒氣客胃，加之飲食所傷而致。宜以丁、藿二香、半夏、茯苓、陳皮、生薑之類主之。又有痰飲者，必下之。</p>
<p><u>又論</u>　皆氣衝之火，逆胃之脈，反上而作，治宜降火。呃者，氣逆也，陰火炎上也。氣自臍下為火，直衝上出於口而作聲也。又火結痰氣而上升，衝出於口也。治宜降火行氣導痰而自安。</p>
<p><u>劉論</u>　吐有三，氣、積、寒也。</p>
<p>上焦吐者，皆從於氣。氣者，天之陽也。脈浮而洪，其證食已暴吐，渴欲飲水，大便燥結，氣上衝胸而發痛。治宜降氣和中。</p>
<p>中焦吐者，皆從於積，食與氣相假為積而痛。脈浮而匿，其證或先吐而後痛，或先痛而後吐。治法，以毒藥行其積，木香、檳榔去其積。</p>
<p>下焦吐者，從於寒也。脈沉遲，其證朝食暮吐，暮食朝吐，小便清利，大便不通。治法，毒藥通其閉塞，溫其寒氣也。</p>
<p>《三因》論　有寒嘔、熱嘔、痰嘔、食嘔、血嘔、氣嘔。</p>
<p>寒，因胃寒傷食，四肢厥冷，脈弱，宜四逆湯。</p>
<p>熱，食入即出，煩躁脈數，柴胡湯。</p>
<p>痰，昔肥今瘦，腸間有聲，食與飲並出，宜半夏、人參主之。</p>
<p>食嘔因胃虛，寒氣在上，暖氣在下，朝食暮出，不消，養胃湯主之。</p>
<p>血因瘀蓄，冷血聚於胃口，因憂怒氣攻，血隨食出，宜茯苓湯主之。</p>
<p>氣，胃者陽明，合榮於足，今隨氣上逆，心膈脹，嘔卻快，宜茱參湯主之。</p>
<p><u>方論</u>　呃逆切忌熱藥，丁香類。病皆胃虛，陰火所乘，宜參、術大補之類。如痰實者，察其病因，形氣俱實，以人參蘆吐之。有傷寒差後嘔者，當去餘熱。有酒家嘔，解酒治之。有腳弱脾疼而嘔者，此腳氣內攻，依腳氣門治。有中毒而嘔者，解毒治之。有懷孕惡阻者，依惡阻治之。有心中風、心中寒、肝中風、中濕脾痹，有漏氣，有走哺。女人患嘔吐甚者死，其陰在上故也。</p>
<p>論皆屬於火　嘔而心下痞，半夏瀉心湯。乾嘔而利者，黃芩半夏湯。嘔吐，谷不得入，小半夏湯。嘔吐，病在膈上，豬苓湯。食已即吐者，大黃甘草湯。胃反，吐而渴，茯苓澤瀉湯。似嘔不嘔，如噦不噦，無奈，薑汁半夏湯。噦逆上氣者，陳皮竹茹湯，陳皮、參、草、竹茹。</p>
<p><u>桔梗湯</u>　治上焦氣熱所沖，食已暴吐，脈浮而洪。已下出劉。</p>
<p>桔梗　白朮（各一兩五錢）　半夏　神麯（二兩）　陳皮　枳實（炒）　茯苓　厚朴（制，一兩）</p>
<p>水煎，下木香、檳榔末各一兩。如大腑燥結，加承氣湯。</p>
<p><u>荊黃湯</u>　治前證熱氣甚者。</p>
<p>荊芥穗（一兩）　人參（五錢）　大黃（三錢）　甘草（二錢五分）</p>
<p>調下木香、檳榔末各二錢。</p>
<p><u>清鎮丸</u>　治前證頭痛有汗，脈弦。</p>
<p>柴胡（二兩）　黃芩（七錢五分）　半夏　甘草（各五錢）　青黛（二錢五分）　人參（五分）</p>
<p>上薑汁浸炊餅，丸梧子大。食後薑湯下。</p>
<p><u>紫沉丸</u>　治中焦吐。食積與寒氣相假，故吐而痛。</p>
<p>半夏　神麯　烏梅（去核）　代赭石　縮砂（各三錢）　杏仁（去皮尖）　沉香　木香（各一錢）　陳皮（半兩）　檳榔　丁香（各三錢）　白豆蔻（五分）　白朮（一錢）　巴霜（五分，另入）</p>
<p>上醋糊丸米大，薑湯下五十丸。</p>
<p><u>木香白朮散</u>　治前證腹中痛，是脾實系強，宜和之。</p>
<p>木香（八兩）　白朮（半兩）　半夏　神麯（一兩）　檳榔（二錢五分）　茯苓（半兩）　甘草（四錢）</p>
<p>上濃煎，芍藥薑湯下二錢。有積而痛，手不可按，無積者宜之。</p>
<p><u>附子丸</u>　治下焦，朝食暮吐，暮食朝吐，大便不通。</p>
<p>附子（炮，五錢）　巴豆霜（一錢）　砒（五分，另研）</p>
<p>上黃蠟丸，如梧子大，每二丸，冷水下，利為度。更服紫沉丸，不令再閉。</p>
<p><u>安胃散</u>（李先生）　治嘔吐噦以胃寒所致。</p>
<p>丁香（五分）　茱萸　草蔻　人參（各一錢）　炙甘草（五分）　黃耆（一錢）　柴胡（五分）　升麻（七分）　黃柏（三錢）　陳皮（五分）　當歸（一錢五分）　蒼朮（一錢）　半夏　茯苓　陳皮</p>
<p>末三味治嘔吐痰涎，痰飲為患加之，寒則否。煎，稍熱服。</p>
<p><u>秘方</u>　治痰嘔吐。</p>
<p>二陳湯、山梔（炒）、黃連（薑汁炒）、香附。虛，加蒼朮。</p>
<p>呃逆因，寒則可用。此世俗之劫亦可戒。</p>
<p>丁香　柿蒂（各一錢）　竹茹</p>
<p>煎，熱服。</p>
<p>有噁心，吐蟲數條後，乃頻作。服殺蟲藥，則吐蟲愈多。六脈皆細，非蟲脈也，乃臟寒而不安矣。</p>
<p>有嘔，飲食皆不得進。治嘔愈嘔，此胃風也。</p>
<p><u>論吐有三證</u>　冷吐，先覺咽酸嘔，然後吐食，脈小滑者是。王叔和云：關，胃寒不下食。傷寒汗下過多，胃中虛冷，食久反吐，亦屬於寒。</p>
<p>胃熱而吐者，聞穀氣則嘔，藥下則吐；或傷寒未解，胸中有熱，關脈洪，宜涼之。</p>
<p>胸中有宿食，或痰飲，或停水，關沉而伏者，宜吐之。</p>
<p><u>《三因》論</u>　嘔吐出於胃，故有寒、熱、食、痰、血、氣，同上條。</p>
<p>論嘔逆則咳逆也。大率胃實則噫，胃虛則噦。此因胃中虛，膈上熱也。故噦至八九聲相連，收氣不回驚人者，若傷寒久病得此，甚惡。《內經》所謂壞腑是也。</p>
<p>亦有噦而心下堅痞、眩悸者，以膈間有痰水，非虛危比也。痰，半夏湯主之；噦虛，橘皮竹茹湯主之。</p>
<p><u>論漏氣</u>　病者身背皆熱，肘臂牽痛，其氣不續，膈間厭食，食則先吐而後下，名曰漏氣。此由上焦傷風，開其腠理，經氣失道，邪氣內著，麥門冬湯主之。</p>
<p>麥門冬　生蘆根　竹茹　人參　茯苓　白朮　甘草　陳皮　葳蕤　姜亦可。</p>
<p><u>論走哺</u>　病者上焦實熱，大小便不通，氣逆不續，嘔逆不禁，名曰走哺。人參湯主之。</p>
<p>前方加黃芩、知母、石膏、山梔，去竹茹、麥冬。</p>

<h2>三十五、噎膈</h2>
<p><u>【脈】</u>　澀小，血不足；大而弱，氣不足。</p>
<p><u>【因】</u>　血虛（血，陰血也。主靜，內外兩靜，火則不能生焉），臟腑之火起，氣虛（氣，肺金生水，制火則不起），臟腑之火熾。而或因金水二氣不養，或陰血不生，腸胃津涸，傳化失宜；或因痰膈妨礙升降，氣不交通，皆食入復出，謂之膈噎。即翻胃也，噎病也。</p>
<p>大概因血液俱耗，胃脘亦槁。在上近咽之下，水飲可行，食物難入，間或可食，入亦不多，名之曰噎。其槁在下，與胃為近，食雖可入，難盡入胃，良久復出，名之曰膈，亦名翻胃，大便秘少如羊矢。名雖不同，病本一也。</p>
<p><u>張論</u>　三陽結謂之膈。三陽，大腸、小腸、膀胱也。結者，結熱也。小腸結熱，則血脈燥；大腸結熱，則後不通；膀胱結熱，則津液涸。三陽既結，則前後閉，則反而上行，此所以噎食不下，縱下而復出也。宜先潤養，因而治下。或涎痰上阻，用苦酸微微湧之。</p>
<p><u>【證】</u>　《三因》有五噎：</p>
<p>氣噎者，心悸，上下不通，噫噦不徹，胸背痛。</p>
<p>憂噎者，遇天陰寒，手足厥冷，不能自溫。</p>
<p>勞噎者，氣上膈，脅下支滿，胸中填塞，故背痛。</p>
<p>思噎者，心怔悸，喜忘，目視䀮䀮。</p>
<p>食噎者，食無多少，胸中苦塞痛，不得喘息。</p>
<p><u>五膈</u></p>
<p>憂膈者，胸中氣結，津液不通，飲食不下，羸瘦短氣。</p>
<p>思膈者，中脘食滿，噫則酸心，飲食不消，大便不利。</p>
<p>怒膈者，胸膈逆滿，噎塞不通，嘔則筋急，惡聞食臭。</p>
<p>喜膈者，五心煩熱，口舌生瘡，四肢倦重，身常發熱，胸痛引背，食少。</p>
<p>恐膈者，心腹脹滿，咳嗽氣逆，腹中苦冷雷鳴，繞痛，不能食。</p>
<p><u>【治法】</u>　宜以潤養津血，降火散結，萬藥萬全。</p>
<p>有人血耗，便如羊矢，病反胃半年，脈澀而不勻，不大便八九日。先以甘蔗汁煎六君子湯加附子、大黃與之，伺便潤，令以牛乳服之。</p>
<p><u>方</u>　四物湯　加陳皮（去白）　紅花（酒浸）　驢尿（防其成蟲）</p>
<p><u>秘方</u>　治膈噎。</p>
<p>童便　牛羊乳　韭汁　竹瀝　甘蔗汁（解酒毒）</p>
<p>氣虛加四君；血虛加四物。</p>
<p><u>胡荽丹</u>　治反胃氣。</p>
<p>烏雞（一隻，令淨）</p>
<p>胡荽子入雞，縫之，煮熟食之，漸盡。不得，再一隻雞妙也。</p>

<h2>三十六、瘡瘍</h2>
<p><u>【脈】</u>　沉實，發熱煩躁，外無焮火赤痛，其邪深在內，故先疏通以絕其源。</p>
<p>脈浮大數，焮腫在外，當先托裡，恐邪入於內。</p>
<p>脈不沉不浮，內外證無，知其在經，當和營衛。</p>
<p>浮者太陽，長者陽明，弦者少陽。浮者在表，宜行經；沉者在裡，宜疏利臟腑。緩者身重，除濕。緩者濕勝，故重；脈大，心躁乍熱，大者，心肺有熱。脈弦，眩暈，有風，肝脈。澀者，氣滯乏津，瀉氣補血，澀者血虛。脈弦細，便溺多，溺寒水。脈細，為膀胱之寒水。</p>
<p><u>【因】</u>　火之屬。</p>
<p>濕熱相搏，肌肉敗壞而為膿。營氣不從，逆於肉裡，乃生癰腫。營氣，運氣也，逆而不行，其源在經。濕氣外傷，害人皮肉，皆營氣之不行也。其源在外，盛則內行。膏粱之變，足生大疔，皆營氣逆行，凝於經絡。其源在裡，發於表也。</p>
<p><u>【證】</u>　瘡瘍諸症，皆營氣盛，偏助火邪而作。隨虛而出於經絡也。如太陽經虛，從背而出；少陽虛，從須而出；陽明虛，從髭而出；腎脈虛，從腦而出。微熱則癢，熱甚則痛；血虛則痛甚，熱甚則腫甚。</p>
<p><u>【治法】</u>　外者，宜以辛涼發散之，通聖、涼膈、解毒是也。</p>
<p>內者，宜以苦寒下之，三黃湯、玉燭散是也。</p>
<p>中者，宜以調經，涼血等是也。</p>
<p>腫瘍宜解毒，下之是也。潰瘍宜托裡，補之是也。如溫經，加通經之藥妙矣。夫邪氣內蓄腫熱，宜砭射之也。氣勝血聚者，宜石而泄之。如腫瘍年壯，謂伏熱在心，可降其火。如潰瘍年老，發嘔不食，謂虛，大補。病瘡，腰脊瘛瘲者死。</p>
<p><u>內疏黃連湯</u>　治嘔啘啘發熱，脈沉而實，腫硬色不變、根深，臟腑秘澀。</p>
<p>黃連　芍藥　當歸　木香　檳榔　黃芩　山梔　薄荷　甘草　桔梗（各一兩）　連翹（二兩）　大黃（便秘加之。行經，黃芩、黃連、連翹、人參、木香、檳榔、柏、澤瀉）。</p>
<p>在腰以上至頭者，枳殼疏利臟腑，用前藥中加大黃；痛者，當歸、黃耆止之。</p>
<p><u>傷煎散</u>　治腫焮於外，根盤不深。脈浮，邪氣盛，則必侵於內，宜熱之。</p>
<p>地骨皮　黃耆　白芍　黃芩　白朮　茯苓　人參　當歸　肉桂　甘草　防己（各一兩）　防風（二兩）</p>
<p>上以蒼朮一升，水五升，煎至半，去渣，入藥煎服。便秘加大黃；熱加黃連。</p>
<p><u>黃連消毒湯</u>　治一切瘡、疽、背、腦。</p>
<p>黃連（一錢）　黃芩　黃柏　地黃　知母（各四錢）　羌活　獨活　防風　藁本　歸尾　桔梗　連翹（各四錢）　黃耆　人參　甘草（各三錢）　蘇木（二錢）　防己（五錢）　澤瀉（二錢）</p>
<p><u>遠志酒</u>　忍冬酒　不問腫潰，皆有奏捷之功。然二酒有補性，歸心歸血之效。</p>
<p><u>金銀花湯</u>　治痛，色變紫黑者，回瘡。</p>
<p>金銀花並枝　甘草（各二兩）　黃耆（四兩）</p>
<p>酒一升，閉口重湯煮、酒煮皆可。</p>
<p><u>乳香散</u>　治痛，瘡口大。</p>
<p>寒水石（煅）　滑石（各一兩）　乳香　沒藥（五錢）　腦子（少許）</p>
<p>末糝口上。</p>
<p><u>雄黃散</u>　治惡肉不去。</p>
<p>雄黃（一錢）　巴豆（一個，去皮尖）　乳香　沒藥（少許，另研）</p>
<p>細和勻，敷肉上。</p>
<p><u>木香散</u>　治久不收口。</p>
<p>木香　檳榔　當歸（各一錢）　黃連（二錢）</p>
<p>為末糝之。</p>
<p><u>出剩骨</u>　血竭罨之，骨自出。</p>
<p><u>治漏瘡剩骨</u>　青橘葉　地錦草</p>
<p>上二件，杵成膏。先淨瘡口，用杜牛膝根內入瘡中，以膏敷之，縛定。</p>
<p><u>一上散</u>　治瘡、疥癬。</p>
<p>雄黃（另）　硫黃（另，各五錢）　斑蝥（三個，去翅足，另）　黑狗脊（另）　寒水石　蛇床子（炒，各五錢）</p>
<p>上細末，同勻油調擦上。加法隨病。</p>
<p><u>金絲</u>　其狀如繩線，鉅細不一，上下行，至心即死。可於瘡頭上截經刺之，出血後，嚼萍草根塗之，立安。</p>
<p><u>治疔瘡</u>（劉先生方）　烏頭尖　附子底　蠍梢　雄黃（各一錢）　蜈蚣（一兩）　硇砂</p>
<p><u>粉霜</u>　輕粉　麝香　乳香（各五分）　信石（二錢五分）</p>
<p>上末，先破瘡口出血，亟以草杖頭，用紙滯於內，以深為妙。</p>
<p>疔瘡毒氣入腹，昏悶不食。</p>
<p>紫花地丁　蟬蛻　貫眾（各半兩）　丁香　乳香</p>
<p>溫酒下二錢。</p>
<p><u>治疔瘡</u>（李先生方）　歸尾　沒藥　白芨　乳香　杏仁　黃丹　蓖麻　粉霜　巴豆</p>
<p><u>木鱉子</u>　芝麻油　桃柳枝</p>
<p>上煎如法。白菊花紫莖者汁服，渣敷之。茜草根葉亦可。</p>
<p>疔瘡先癢後痛，先寒後熱，熱定則寒，四肢沉重，頭痛心驚，眼花嘔逆則難治。</p>
<p><u>貼杖瘡</u>　虎骨　黃柏　黃連　黃芩　苦參</p>
<p>以五味煎，入油紙，煎又數沸，次以紙貼上。</p>
<p><u>惡瘡</u>　霜後凋蕉葉乾末敷，香油調，油紙掩。先用忍冬藤、蔥、椒、金絲草洗，松上白蟻泥、黃丹炒黑，香油調敷，外用油紙夾上，日換。後用龍骨末藥於口上收肉，黃丹入香油煎，入朴硝抹瘡上。</p>
<p><u>口瘡神方</u>　焰硝　硼砂</p>
<p>含口不開，以南星於湧泉醋敷之。</p>
<p>飲酒人口糜，導赤散、五苓散。</p>
<p>風寒遏絕，陽氣不伸，聲不出。</p>
<p>半夏（制，一兩）　烏頭　肉桂（各一錢）</p>
<p>煎服。</p>
<p><u>赤口瘡</u>　白礬（飛）　沒藥　乳香　銅綠　末糝。</p>
<p><u>白口瘡</u>　雄黃　沒藥（各一錢）　輕粉（五分）　巴豆</p>
<p>末糝。</p>
<p><u>唇緊燥裂生瘡</u>　用青皮燒灰，豬脂調敷。夜臥頭垢亦可。</p>
<p><u>口痛瘡</u>　五味子（一兩）、黃柏（蜜炙）、滑石（各五錢）銅綠加糝，白薔薇汁，漱之良。</p>
<p>有口瘡不下食，眾以狐惑治之，必死。未若以礬湯，於腳上浸半日，頓寬。以黃柏蜜炙、殭蠶灼末敷，立下乳而安。</p>
<p><u>一方神效</u>　西瓜外皮（燒灰），黃柏、黃連、硃砂、孩兒茶、硼砂為末，水調抹效。</p>
<p><u>手癡瘡</u>　皂角　枯礬　輕粉　黃連　黃柏。</p>
<p><u>沙瘡</u>　柵地藤燒灰。</p>
<p><u>足上毒瘡</u>　密陀僧、黃連，（敷之有法）、旱蓮草（鹽炒）、桑白皮打細作餅蓋，干易之。杜牛膝，無名異、金星草俱可。</p>
<p><u>治腳</u>　五倍子（研）、牛腳髓同調厚朴。</p>
<p><u>治陰瘡</u>　臘茶、五倍子（等分）、膩粉（少許），孩兒茶妙。</p>
<p><u>又方</u>　降真香，磨水抹，效。</p>

<h2>三十七、癰疽</h2>
<p><u>【脈】</u>　數，身無熱，內有癰也。脈數必當發熱，而反惡寒，若有痛處，當發其癰。脈數而虛，咳唾涎沫，為肺痿；脈數而實，或滑，咳則胸中隱痛，為肺癰。脈緊而數，膿為未成；緊去但數，膿為已成。脈滑而數，小腹堅滿，小便或澀，或汗，或寒，為腸癰。設脈遲緊聚為瘀血，下血則愈；設脈洪數，膿為已成。腸癰，脈滑為實，數為熱。衛數下降，營滑上升，營衛相干，血為敗濁，皆濕熱之所為也。</p>
<p><u>死之地分</u>　伏兔、腓腨、背、臟俞、項上、腦、髭、鬢、頤。</p>
<p><u>【因】</u>　火之毒，氣結之毒，從虛而出也，薄處先穿之義。師全用補。蓋厚味之火，氣鬱之結，壅滯經絡，或引痰飲，血為之滯，氣為之亂，積久從虛而出其經也。夫陰滯於陽則癰，陽滯於陰則疽。氣得淤而鬱，津液稠黏，為痰、為飲，而久滲入肺，血為之濁，此陰滯於陽也。血得邪而鬱，隧道阻隔，積久結痰，滲出脈外，氣為之亂，此陽滯於陰也。</p>
<p>肺痿，熱在上焦。肺癰，乃風傷於衛，熱過於營，血為凝滯，蓄結成癰。囊癰，乃濕熱下注也。有作膿者，此濁氣順下，將流入滲道，因陰氣虧水道不利而然。膿盡乃安。骨疽，因厚味及酒後涉水得寒，故熱邪深入髀樞穴左右，積痰老血，相搏而成也。內疽，因飲食之火。七情之火，相鬱而發，在腔子而向里，非於腸胃肓膜也。以其視之不見，故名之曰內。</p>
<p><u>【證】</u>　肺痿病，多涎唾，小便反難而數，大便如豚腦，欲咳不咳，咳出干沫，唾中出血，上氣喘滿，或燥而渴者，寸口脈數而虛，按之澀。</p>
<p>肺癰病，咳逆上氣，濁吐出如粥，膿血，胸中隱痛。又咳膿血口燥，或喘滿不渴，唾沫腥臭，時時振寒，寸口脈數而實，按之滑。</p>
<p>腸癰病，小腹重，強按則痛，堅滿如腫，小便數似淋或澀，或自汗，復惡寒。又身甲錯，腹皮急，按之濡如腫狀，腹如聚積，按之痛如淋，小便自調。甚則腹脹大，轉側聞水聲，或繞臍生瘡，或膿從臍出。</p>
<p>背癰脈數，身無熱而反惡寒，若有背痛處，發其癰。</p>
<p>附骨疽與白虎、飛屍、歷節皆相似。歷節，走注不定；白虎飛屍，痛淺，按之便減，亦能作膿；附骨疽，著骨而生，痛深，按之無益。</p>
<p><u>【治】</u>　法宜補氣血，瀉火散氣。初覺，可清熱拔毒；已潰，則拔毒補氣。用分經絡氣血多少，可補可驅毒，如少陽分，少血多氣，宜補。</p>
<p><u>千金內托散</u>　內托之名，使氣充實，則膿如推出也。</p>
<p>羌活　獨活　藁本（各一錢五分）　防風（身梢）　歸梢（各五分）　歸身（四錢）　連翹（三錢）　黃芩（酒炒）　黃耆　人參　甘草（各一錢半，生用五分）　陳皮　蘇木　五味（各五分）　黃柏（酒炒）　知母（酒炒）　生地（酒製）　黃連（酒製，各一錢五分）　漢防己（酒製）　桔梗（各五分）　山梔（二錢）　豬苓（二錢，去皮）　麥冬（二錢，去心）　大黃（酒製，三錢）</p>
<p>作兩服煎。</p>
<p><u>驗方</u>　有婦人年七十，性好酒，形實性急，腦生疽，脈緊急，切之澀。錦紋大黃（酒炒）、人參（酒熟）、每一錢，薑汁煎服。</p>
<p><u>驗方</u>　有人年五十，形實色黑，背生紅腫，近骨下痛甚，脈浮數而洪緊，食亦大嘔，時冬月。</p>
<p>麻黃　桂枝（冬月用之）　生附（脈緊用之）　黃柏（酒炒）　栝蔞　甘草節　羌活　青皮　半夏　人參　黃耆</p>
<p>姜煎。</p>
<p><u>驗方</u>　治初生一切瘡、癤、癰、疽、發背，服之殊效。亦能下死血。</p>
<p>大黃　甘草　辰砂　血竭</p>
<p>酒下。</p>
<p><u>解毒丹</u>　治一切發背、癰、疽、金石毒。</p>
<p>紫背車螯大者，鹽泥固濟，煅紅，出火毒，甘草膏丸，甘草湯下。惡物，用寒水石煅紅入翁，沉井中，臘豬油調敷。</p>
<p><u>又方</u>　以輕粉為佐，又以燈草為佐，散腫消毒，輕者可杖。</p>
<p><u>清涼膏</u>　治發背。</p>
<p>當歸　白芷　木鱉肉　白芨　白蘞（各一兩）　乳香（研）　膩粉（少許）　白膠（少許）　黃丹（五兩）　麻黃（七兩）</p>
<p>上煎前六味，候紫色去之，入槐、柳枝各七寸，再煎，入丹，臨時入下。</p>
<p><u>三生散</u>　治漫腫光色附骨癰，如神。</p>
<p>露蜂房　蟬蛻　頭髮（各等分）</p>
<p>燒灰存性，三錢，研細酒下。</p>
<p>曾用五灰膏，敷一宿，待惡肉腐，以刀去之盡，以香油蘸在錦上，紐干復之。待好肉如岩合盙狀，方可以收口，用龍骨、白蘞、乳、沒等藥敷之。</p>
<p>內疽用四物湯加減服之。有人性急味厚，在脅下一點痛，每服熱燥之藥，脈輕則弦，重則芤，知其痛處有膿，因作內疽病治之。</p>
<p><u>甘草乾姜人參</u>　治肺痿。</p>
<p>甘草（四兩）　乾薑（二兩）　人參（一兩）　大棗（三個）</p>
<p>煎服。</p>
<p>小青龍湯　治肺癰，先解表之邪也，此治腫瘍之法也。</p>
<p><u>葶藶大棗瀉肺湯</u>　治癰疽，喘不得臥也。</p>
<p>葶藶炒黃研，丸彈子大。水三升，入棗先煎二升，去棗入葶藶，煎至一升，頓服之。先進小青龍湯三服，後進此。</p>
<p><u>桔梗湯</u>　治咳胸滿，唾如米粥，當吐膿血。</p>
<p>甘草　桔梗（各一兩）</p>
<p><u>葦莖湯</u>　治咳有微熱，胸中甲錯，此治潰瘍之法也。</p>
<p>葦莖（二升切）　瓜瓣仁　薏苡仁（各半斤）　桃仁（五十個，去皮尖）</p>
<p>煎服。又方，栝蔞連瓤下煎。</p>
<p><u>薏苡附子敗醬散</u>　治腸癰身甲錯，腹皮急脹，本無積聚，身無熱，脈數者。</p>
<p>附子（炮）　敗醬（各二錢）　薏苡仁（十個）</p>
<p>水煎。</p>
<p><u>大黃牡丹湯</u>　治腸癰，小腹，或偏在膀胱左右，大如掌，熱，小便自調，時自汗，脈遲緊，未成膿可下之，膿成不可下。</p>
<p>大黃（四兩）　牡丹皮（三兩）　芒硝（二兩）　瓜子（一個）　桃仁（五十個）</p>
<p>水煎頓服。</p>
<p><u>雲母膏</u>　有如腹痛，百分不治，脈滑數。腹微急，脈當沉細，今脈滑數，以雲母膏下之。雲母膏，丸梧子大。一百丸，阿膠烊入酒下之。下膿血為度，可止。</p>
<p><u>青皮當歸湯</u>（李先生方）　治便癰。</p>
<p>青皮　防風　當歸　甘草梢</p>
<p>空心煎服。</p>
<p><u>桃仁承氣湯</u>（張先生方）　治便癰。</p>
<p><u>驗便毒方</u>　葫蘆巴末服，川楝灰亦好。</p>
<p><u>附骨疽方</u>　青皮　黃柏　桂枝（冬加）　黃芩（夏加）　牛膝（虛加）　甘草　薑汁　麻黃（發不動加）</p>
<p>又防風通聖，去硝黃，入生犀角、浮萍末，治骨疽。</p>
<p>癭狀多著肩背。如堅硬不可移，名石癭；皮色不變，名肉癭。如筋脈露結，名筋癭；赤脈交錯，名血癭；隨憂愁消長，名氣癭。</p>
<p>瘤狀隨氣凝結，有骨、筋、肉、膿、血之瘤。</p>

<h1>卷四</h1>

<h2>三十八、乳癰</h2>
<p><u>【證】</u>　乳房為陽明所經，乳頭為厥陰所屬。</p>
<p><u>【因】</u>　厚味濕熱之痰，停蓄膈間，與滯乳相搏而成。</p>
<p>滯乳，因兒口氣吹噓而成；有怒氣激其滯乳而成。凡病皆陽明經也，淺者，為癰；深者，為岩，不治。</p>
<p><u>【治】</u>　宜疏厥陰之滯，清陽明之熱，行汙血，散腫結。</p>
<p><u>方</u>　煅石膏（清陽明）　橘皮　栝蔞子（消腫）　甘草節（行血）　蜂房　臺芎　香附（二味鬱氣加之）　青皮（疏厥陰）　葛根</p>
<p>酒、薑汁飲。</p>
<p><u>又方</u>　大黃　天花粉　當歸（一兩）　甘草節（已下一錢五分）　栝蔞子　穿山甲（陳壁土炒）　酒丸服。</p>

<h2>三十九、瘰</h2>
<p><u>【因】</u>　大抵食味之過，鬱氣之積，曰毒，曰風，曰熱，皆此三端，變化引換。須分虛實，實者易治，虛者可慮。夫初發於少陽一經，不守禁戒，延及陽明。蓋膽經至主決斷，有相火，而且氣多血少。</p>
<p><u>神效方</u>　牡蠣粉五錢，和雞膽為膏，貼之。又，用活石一兩，肉桂五錢，調湯服之好。</p>
<p><u>【證】</u>　外有蝦蟆瘰，無核但腫。瘰在陽明、少陽經，結核按之走痛。癭或隱僻處。勞瘵結核，連數個在耳邊，或聚或散也。瘤等亦同。</p>
<p><u>【治】</u>　宜瀉火散結。虛則補元氣，實則瀉陰火。補則十全散，下則玉燭散、化堅湯。</p>
<p>升麻（一錢）　葛根（五分）　漏蘆（足陽明）　牡丹皮（三錢，去留血）　當歸　地黃（生熟各三錢）　連翹（一錢，生血脈）　黃耆（一錢，護皮）　白芍（收散，三錢）　肉桂（散結，寒因熱用，三錢）　柴胡（八錢）　黍黏（消腫）　羌活（一錢）　防風　獨活（各五分，散結）　昆布（軟堅）　三稜（削堅）　廣朮　人參　厚朴（腹脹加）　黃連　陳皮　木香（氣不順加）　大黃（便秘加）。</p>
<p><u>大黃湯</u>　大黃（煨）　皂角　甘草（炙）</p>
<p>煎服。以麝香、栝蔞仁敷之。</p>
<p><u>法</u>　未破核者，用火針針其上，即用追毒膏，點苧線頭，內針孔中。</p>
<p>又用杜牛膝搗敷，縛其上，一日一易。如膿將盡，又用生玄參、地榆、滑石、寒水石、大黃等末敷，縛其瘡。又用白厄菜、墨草，同縛其瘡。以寒水石、大黃、硝、龍骨、木香、檳榔末、收口。後又用竹茹，亦能長肉，白膏藥收後。紅不退，用北蠮螉窠敷。如已潰久不收口，須用香附，燈燒鐵烙，烙其腐處，盡後，依前治之。</p>
<p><u>治</u>　耳接耳邊項上生塊核是。</p>
<p><u>方</u>　五味子　香白芷</p>
<p>為末，蜜調敷。</p>
<p>豭鼠糞，以黃泥爐煅。</p>
<p><u>去瘰癧毒</u>　皂角子（五兩）　大黑豆（一斤）　甘草（一兩）　冬青葉汁（一斤）</p>
<p>上煮汁干為度，常食，不過兩料。</p>

<h2>四十、發斑</h2>
<p><u>【因治】</u>　屬表者，因風挾熱痰。通經微汗之，下之亦可。</p>
<p>屬裡者，因胃熱，助手少陰心火，入於手太陰肺也。故紅點如斑，生於皮毛之間耳。白虎、瀉心，調胃承氣，從長而用之。</p>

<h2>四十一、丹疹</h2>
<p><u>【因】</u>　熱與痰、血熱也。夫斑、痘、疹、丹，皆惡毒血熱蘊蓄於命門，遇相火合起則發也。</p>
<p>外有赤遊風、天蛇漠、丹疹、癮斑，其狀不同，因則一也。</p>
<p><u>【治】</u>　張歸之少陽相火。如遇熱之時，以通經辛涼解之；如在寒之時，以葛根、升麻，辛溫解之。如遇瘡癰黑陷，腹內喘滿者，熱而氣虛也，急以白虎解之。熱加參，參主喘也。主之，全以涼膈調之。</p>
<p><u>消毒湯</u>　升麻根　羌活　藁本　細辛　柴胡　葛根　黃芩（酒炒）　生地黃　黃連</p>
<p><u>黃柏</u>　連翹　紅花　當歸　蘇木　白朮　蒼朮　陳皮　吳茱萸　防風　甘草</p>
<p><u>又方</u>　紫草　紅花子　白芍　胡荽　當歸</p>
<p><u>附方</u>　剪刀草汁調原蠶砂，敷之。</p>
<p><u>龍腦丸</u>　治斑瘡倒靨。</p>
<p>豬心血調腦子成膏，以紫茸湯化，無腦用辰砂。</p>

<h2>四十二、金瘡</h2>
<p>（附油火刀犬等傷）</p>
<p><u>【脈】</u>　金瘡出血太多，脈沉細者生，浮數實大者死。</p>
<p><u>【治】</u>　沒藥散　治刀箭傷，止血住痛。</p>
<p><u>定粉</u>　風化灰（各一兩）　枯白礬（三錢）　乳香（五分，另研）　沒藥一字，（即二分半也，一銅錢有四字之故。）另研和勻糝之。</p>
<p><u>聖愈湯</u>　治出血太多。</p>
<p>四物湯　人參　黃耆</p>
<p>煎服。</p>
<p><u>金瘡刀傷見血方</u>　降真香末細貼之；石灰和人血作餅，旋干貼之；煨大黃、石膏，細研，桐油二分，水一分，拌，抹上；又淹灰搽敷亦良。</p>
<p><u>救苦散</u>　治熱油、刀斧傷、火傷、犬咬傷。</p>
<p>寒水石</p>
<p>油調塗上</p>

<h2>四十三、傾僕</h2>
<p><u>【脈】</u>　傾僕，內有血，腹脹滿，脈堅強者生，小弱者死。</p>
<p><u>【證】</u>　瘀血為病，或痰涎發於上。</p>
<p><u>【治】</u>　同中風證。惡血歸內，留於肝經，脅痛自汗，治宜破血行經。</p>
<p><u>張論</u>　墜墮使生心恙，痰涎發於上也。治宜補之。凡杖打、閃肭疼痛，皆血滯證，可下之。忍痛則傷血。</p>
<p><u>神應散</u>　治瘀血，大便不通。</p>
<p>大黃（酒浸，一兩）　桃仁　紅花（二錢）　當歸（三錢）　栝蔞根（二錢）　炮穿山甲（二錢）柴胡（引經）　麝香（透）</p>
<p>熱酒下。</p>
<p><u>紫金丹</u>　治骨節折傷疼痛。</p>
<p>炮川烏　炮草烏（各一兩）　五靈（五錢）　木鱉子（去殼）　黑牽牛（各五錢）　威靈仙　金毛狗脊　骨碎補　沒藥　麝香　紅娘子（各二錢五分）　地龍　烏藥　青皮　陳皮　茴香（各五分）防風　自然銅（四兩，燒淬）　禹餘糧（四兩，淬）</p>
<p>醋糊丸，梧子大，每十丸酒下。</p>
<p><u>三聖散</u>　吐之，治痰壅。</p>

<h2>四十四、百藥中傷</h2>
<p><u>【脈】</u>　浮澀而疾者生，微細者死。洪大而遲者亦生。</p>
<p><u>【治法】</u>　在上吐之。</p>
<p><u>解毒丸</u>　治食毒物，救人於必死。</p>
<p>干板藍根（四兩）　貫仲（一兩，去土）　青黛　甘草</p>
<p>蜜丸。青黛良。</p>
<p><u>秘傳方</u>　續隨子　甘草　五味子</p>
<p>茶清下一二碗。</p>

<h2>四十五、癲狂</h2>
<p><u>【脈】</u>　大堅疾者，癲病。脈大滑者，自已；脈小急實者死，循衣縫者死，虛而弦急者死。脈虛弦為驚，脈沉數為痰熱。</p>
<p><u>【因】</u>　痰、火、驚。</p>
<p>血氣者，身之神也。神既衰乏，邪因而入。夫血氣俱虛，痰客中焦，妨礙不得運用，以致十二官各失其職，神聽言動，皆有虛妄，宜吐之而安。</p>
<p>肺入火為譫語。肺主諸氣，為氣所鼓舞，火傳於肺，為之尋衣撮空；胃中大實熱，熏於心肺，亦能譫語。宜降火之藥。</p>
<p>驚其神，血不得寧也。痰積鬱熱，隨動而迷亂，心神無主，有似邪鬼。可先吐之，後以安神丸主之，佐以平肝之藥，膽主驚故也。</p>
<p><u>【證】</u>　狂言、譫語、鄭聲辨</p>
<p>狂者，開目與人語，語所未嘗見之事，為狂也。</p>
<p>譫語者，合目自言日用常行之事，為譫也。</p>
<p>鄭聲者，身動無力，不相接續，造語出於喉中，為鄭聲也。</p>
<p>又蓄血證，則重複語之。</p>
<p><u>【治】</u>　痰者吐之，三聖散；火者下之，承氣湯；驚者平之，安神丸。</p>
<p><u>方</u>　總治：黃連、辰砂二味降火，栝蔞、南星、半夏三味行痰，青黛、柴胡、川芎三味平肝。</p>
<p><u>桃仁承氣湯</u>　治熱入血室，發狂。</p>
<p><u>犀角地黃湯</u>　治瘀血狂妄。因汗不徹，吐衄不盡，瘀血在內，面黃唇白，便黑，腳弱氣喘，甚則狂悶。</p>
<p>犀角（一兩）　生地（八兩）　白芍（三兩）　丹皮　大黃（二兩）</p>
<p>脈大遲，腹不滿，為無熱，減之。煎服。</p>
<p>洪、長、伏三脈，諸癇發狂，以《局方》妙香丸，以針透眼子，冷水浸服之。</p>
<p>弦、細、緩三脈並癇，李和尚五生丸。</p>
<p><u>治癇方</u>　黃丹、白礬（等分）</p>
<p>研細，用楊樹火煅過，曲丸。</p>
<p><u>又方</u>　川芎（二兩）　防風（一兩）　皂角鬱金（各一兩）　明礬（一兩）　黃、赤腳蜈蚣（各一條）</p>
<p>細末，蒸餅，丸梧子大，空心茶清下十五丸。</p>

<h2>四十六、驚悸</h2>
<p><u>【脈】</u>　寸口脈動而弱，動為驚，弱為悸。趺陽脈微而浮，浮為胃氣虛，微則不能食，此恐懼之脈，憂迫所作也。寸口脈緊，趺陽脈浮，胃氣則虛，是以悸。肝脈鶩暴，有所驚駭。</p>
<p><u>【證】</u>　悸有三，驚、悸、忪悸。痰飲閉於中脘，其證短氣自汗，四肢浮腫，飲食無味，心虛煩悶，坐臥不安。悸，心築然而動。</p>
<p><u>【治】</u>　因血虛。肝主血，無血養則木盛，故易驚。心神忤亂，氣與涎結，遂使驚悸。血虛，治宜硃砂安神丸。氣涎相結，宜溫膽湯，在心膽經。小兒驚搐，涎潮如死，乃母胎時受怖。為腹中積熱，可墜其涎，鎮火清心等是也。</p>
<p>悸因失志氣鬱，涎聚在心脾經，治宜定志丸。失志者，或事不如意，久思所愛。</p>
<p>少陰心悸，乃邪入於腎，水乘心，唯腎欺心，火懼水也。治在於水，以茯苓導其濕，四逆散調之。枳實、柴胡、芍藥、甘草是也。與驚悸不同，名亦謂之悸，故書以別之。</p>
<p>發搐痰飲為證，脈必弦澀，皆用下之。</p>
<p>外有肝痹、心肺瘧，言虛寒，皆驚。</p>
<p><u>硃砂安神丸</u>　治血虛驚悸。</p>
<p>硃砂（一兩，另研）　黃連（一錢二分）　當歸（五分）　甘草（五分）　生地（三錢）</p>
<p>炊餅丸。</p>
<p><u>溫膽湯</u>　治心膽性易驚。</p>
<p>半夏　竹茹　枳實（二兩）　茯苓（一兩五錢）　陳皮（三兩）　甘草（一兩）</p>
<p><u>寒水石散</u>　治因驚心氣不行，鬱而生痰，結為飲。</p>
<p>寒水石（煅）　滑石（水飛，各一兩）　甘草（一兩）　龍腦（少許）</p>
<p>熱則水下，寒姜下。</p>

<h2>四十七、疝㿗</h2>
<p><u>【脈】</u>　寸口弦緊，為寒疝。弦則衛氣不行，衛氣不行則惡寒，緊則不欲食。寸口遲緩，遲則為寒，緩為氣之虛，虛寒相搏而痛。脈沉緊豁大者，為虛。脈滑為疝，急為疝，搏為疝，見於何部而知其何臟。</p>
<p><u>【因證】</u>　蓋全在肝經。因濕熱在經，抑遏至久，又感外寒，濕被鬱而作痛；或大勞則火起於筋，醉飽則火起於胃，房則火起於腎，大怒則火起於本經。</p>
<p>火鬱之甚，濕熱便盛，濁液凝聚，併入血隧，流於肝經，為寒所束，宜其痛甚。因痰飲積流入厥陰，聚結成核。因瘀結其本經，因虛而感，或內火外寒鬱之。肝經與沖、任、督所會，聚於陰器，傷於寒則陰縮入，傷於熱縱挺不收。屬木，性速急，火性暴而痛亦暴矣。</p>
<p>張論七疝：</p>
<p><u>寒疝</u>　因濕地、雨水、風冷處，使內過多。其狀囊結硬如石，陰莖不舉，或控睪丸而痛，宜以溫劑下之。久而無子。</p>
<p><u>水疝</u>　因醉過內，汗出遇風濕之氣聚於囊中。其狀腎囊腫痛如水晶，或癢搔出黃水，小腹或按之作水聲，陰汗，治宜逐水。</p>
<p><u>筋疝</u>　因房勞及邪術所使。陰莖腫或潰膿，或痛而裡急，筋速縮，或挺不收，或白物如精，或莖痛之極則癢，宜降火下之。</p>
<p><u>血疝</u>　因使內氣血流溢，滲入脬囊，留而不去，結成癰膿。多血，狀如黃瓜，在小腹兩旁，橫骨約中，俗云便癰，治宜和血。</p>
<p><u>氣疝</u>　因號哭忿怒，氣鬱而脹，哭怒罷則散。其狀上連腎區，下及陰囊，宜以散氣藥下之。小兒有此，因父精怯，故不治。</p>
<p><u>狐疝</u>　與氣疝大同小異。狀如仰瓦，臥則入小腹，行之則出入囊中，宜逐氣流經之劑下之。</p>
<p><u>㿗疝</u>　因地卑濕，江淮間所生。其狀如升、鬥，不癢不痛，宜去濕之藥下之。女子陰戶突出，雖相類，乃熱不禁固也。</p>
<p><u>《三因》有四㿗：</u></p>
<p><u>腸㿗</u>　因房室過度，元臟虛冷，腸邊膋系不收，墜入㿗中，上下無定，此難治。</p>
<p><u>氣㿗</u>　因七情臟氣下墜，陰㿗腫脹急痛，易治。</p>
<p><u>水㿗</u>　因濕氣得之，則腫脹其陰，易治之。</p>
<p><u>卵㿗</u>　因勞役坐馬，致卵核腫脹，或偏有大小，上下無常，此難治也。</p>
<p>外有婦人陰門挺出，亦名㿗病。</p>
<p><u>丁香楝實丸</u>　已下出李。</p>
<p>當歸（酒製，去蘆）　炮附　川楝　茴香（以上各一兩）</p>
<p>銼，好酒三升，同煮。酒盡焙乾作末，入下藥：丁香　木香（各五分）　全蠍（十三個）　玄胡索（五錢）</p>
<p>上同為末，酒糊丸，梧子大。每服三十丸至百丸，溫酒下。</p>
<p><u>參朮湯</u>　治虛疝脈豁大者是。</p>
<p>人參　白朮　山梔　香附</p>
<p><u>倉卒散</u>　治寒疝入腹卒痛，小腸膀胱氣絞，腹冷重如石，出白汗。</p>
<p>山梔（四十九個，燒半過）　生附子</p>
<p>酒煎二錢。</p>
<p><u>又一方</u>　烏代附。</p>
<p><u>神應散</u>　治諸疝心腹絞痛不忍，此方能散氣開結。</p>
<p>玄胡索　胡椒　或加茴香。酒煎二錢。</p>
<p><u>牡丹丸</u>　治寒疝心腹刺痛及血。</p>
<p>川烏（炮，去皮尖）　牡丹皮（四兩）　桃仁（炒，去皮尖）　桂（各五兩）　青皮（一兩）</p>
<p>蜜丸，酒下。</p>
<p><u>桃仁湯</u>　治㿗疝。</p>
<p>大桃仁（如法）　茱萸　桂枝　蒺藜　青皮　白茯苓　檳榔　木香　海藻　三稜　莪朮（任意加減）</p>
<p>張用導水、禹功、豬腎、通經等散下之。</p>
<p><u>秘方</u>　治諸疝。</p>
<p>枳實（治痛）　山梔　茱萸　橘子　山楂（去核積）　桃仁（瘀血加之）　川烏（劫痛同梔）　桂枝（不定必用）　荔枝核（濕則加之）　青皮</p>
<p><u>守丸</u>　治㿗要藥，不痛。</p>
<p>蒼朮　南星　半夏　白芷（散水）　川芎　枳實　山楂</p>
<p><u>應痛丸</u>　治敗精惡物不出，結成疝，痛不忍。</p>
<p>阿魏二兩，醋和蕎麥麵裹，火煨熟；檳榔大者二個，刮空，滴乳香滿盛，將刮下末，用蕎麥拌作餅，慢火煨。上細末，入硇砂一錢，赤芍一兩，同為末，麵糊搜和，丸如梧子大，鹽酒下。</p>
<p><u>雄黃散</u>　治陰腫大如斗，核痛不治。</p>
<p>雄黃（一兩）　明礬（五錢）　甘草（五錢）</p>
<p>煎洗。</p>
<p><u>又方</u>　天蘿筋燒灰，治疝妙。</p>

<h2>四十八、腳氣</h2>
<p><u>【脈】</u>　浮弦者風，濡弱者濕，洪數者熱，遲澀者寒，微滑者虛，牢堅者實，結則因氣，緊則因怒，細則因悲。</p>
<p>入心則恍惚妄謬，嘔吐，食不入，眠不安，左寸脈乍大乍小者死。</p>
<p>入腎則腰腳俱腫，小便不通，呻吟，目額皆黑，沖胸而喘，左尺脈絕者死。</p>
<p><u>【因】</u>　濕之病。南方之人，自外而感；北方之人，自內而致。南方之人，當風取涼，醉房，久坐濕地，或履風濕毒氣，血氣虛弱，邪氣並行虛腠，邪氣盛，正氣少，故血氣澀，澀則脾虛，虛則弱，病發熱。四肢痠痛煩悶者，因暑月冷濕得之；四肢結持弱者，因寒月冷濕得之。北方之人，因湩酪醇酒之濕熱下注，積久而成腫滿瘀痛也。治宜下藥，泄越其邪。</p>
<p><u>【證治】</u>　因病脛腫，小腹不仁，頭痛煩心，痰壅吐逆，時寒熱，便泄不通，甚至攻心而勢迫，治之不可後也。此壅之痰壅未成，當宜通之，調以黃柏、蒼朮類；壅既成，當砭惡血，而後以藥治之。</p>
<p>攻心腳氣，乃血虛而有濕熱也，治宜四物加柏。筋動轉而痛者，乃血受實熱也，治加桃仁、芩、連；有痰流注，加竹瀝、薑汁、南星是也。</p>
<p>李曰：濕淫所勝，治以苦溫。以苦辛發之，透關節勝濕為佐；以苦寒泄之，流濕清熱為臣。故主當歸拈痛湯一方治之。</p>
<p><u>中腳膝論</u>　自內，喜、怒、憂、思，寒熱邪毒之氣，注於腳膝，狀類諸風，謂之腳氣也。自外，風、寒、暑、濕，皆有不正之氣，中於腳膝，謂之腳氣也。實者利之，虛者益之，六淫隨六法以治之，七情隨六氣以散之。</p>
<p><u>《三因》論</u>　乃風、寒、暑毒氣襲之也。風則脈浮，寒則脈緊，濕則脈細，表則脈浮，里則脈沉；寒則痛，濕則重，暑則煩，風則行，隨其所中經絡而治之。</p>
<p>太陽經則頭項腰脊背痛，六淫中之論同前，宜以麻黃左金湯。</p>
<p>麻黃　乾葛　細辛　白朮　茯苓　防風　防己　羌活　桂枝　甘草</p>
<p>陽明則寒熱呻欠，鼻乾腹脹，膝臏賽中腹外皆痛，六淫亦然，宜大黃左金湯。</p>
<p>大黃　細辛　茯苓　防風　防己　羌活　黃芩　前胡　枳殼　厚朴　杏仁。</p>
<p>少陽則口苦脅痛面垢，體無膏澤，頭目頷銳痛，六淫亦同，宜半夏左金湯。</p>
<p>半夏　乾葛　細辛　白朮　茯苓　桂枝　柴胡　麥冬</p>
<p>三陽合病，寒熱，關節重痛，手足拘攣，冷痹，上氣，嘔吐，下利，脈必浮弦緊數，合前三方以發之。</p>
<p>太陰腹滿，咽連舌急，胸膈痞滿，骨節煩疼，四肢拘急，浮腫，宜六物附湯。</p>
<p>炮附　桂枝（各四兩）　甘草（二兩）　茯苓（三兩）　防己（四兩）　白朮（三兩）</p>
<p>少陰上氣喘急，小腹不仁，腰脊足心腨膕皆痛，六淫亦然，宜八味丸主之。</p>
<p>牡丹皮　澤瀉　茯苓　桂枝　香附　山藥　山茱萸　熟地黃</p>
<p>厥陰脅腰偏疼，陰器抵小腹夾臍諸處脹痛，一如中風，宜神應養真丹。</p>
<p>當歸　天麻　川芎　羌活　木瓜　熟地　芍藥</p>
<p>《三因》元並臟腑不同故也。</p>
<p><u>當歸拈痛湯</u>　治濕熱肢節煩痛，肩背沉重，胸膈不利，身痛胻腫。</p>
<p>羌活　炙甘草　黃芩（酒炒）　茵陳葉（酒炒）　當歸（各五錢）　人參　苦參（酒洗）　升麻葛根　蒼朮（各二錢）　知母（酒洗）　防風　澤瀉（各三錢）　豬苓　白冬朮（各五分）</p>
<p>煎服。</p>
<p><u>羌活導滯湯</u>　治前證便溺阻隔，先以藥導之，服前方及此方。</p>
<p>羌活　獨活（各五錢）　防己（三錢）　大黃（酒煨，一兩）　當歸（三錢）　麩炒枳實（三錢）</p>
<p><u>除濕丹</u>　治諸濕。</p>
<p>檳榔　甘遂　赤芍　威靈仙　葶藶　澤瀉（各一兩）　乳香（另研）　沒藥（各五錢）　黑醜（炒，三錢）　大戟（一兩半，炒）　陳皮（二兩）。</p>
<p><u>腳氣方</u>　治濕熱。</p>
<p>生地　黃柏（酒炒）　蒼朮（鹽、酒炒）　白朮　川芎　防己　檳榔　犀角　甘草　木通　黃連　黃芩（二味熱加之）　竹瀝　薑汁（二味痰加之）　石膏（熱時加）　桃仁（便實加）　牛膝（溺澀加）</p>
<p><u>食積流注方</u>　蒼朮　黃柏　防己　南星　川芎　白芷　犀角　檳榔　龜板（血虛加）</p>
<p><u>血積轉筋</u>（方見論）　治攻心腳氣。</p>
<p><u>阮氏方</u>　治膝痛腳骨熱，或赤腫行步難。</p>
<p>蒼朮四兩，泔浸一日夜；鹽炒黃柏四兩，酒浸一日夜。炙焦，㕮咀服。</p>

<h2>四十九、蟲</h2>
<p>（附狐惑）</p>
<p><u>【脈】</u>　匿蟲蝕陰肛，脈虛小者生，急緊者死。</p>
<p><u>【因證】</u>　濕熱之生，臟腑虛則侵蝕。腹內熱，腸胃虛，蟲行求食。上唇有瘡曰惑，蟲食其臟；下有瘡曰狐，蟲蝕其肛。亦有口瘡，非狐惑也。</p>
<p><u>【治】</u>　《集效方》　木香　鶴蝨（炒）　檳榔　訶子（煨）　蕪荑（炒）　炮附　乾薑（各七錢）　大黃（一兩五錢）</p>
<p>烏梅或加連、柏。上蜜丸。陳皮湯、醋湯任下。</p>
<p><u>化蟲丸</u>　治蟲即化水。</p>
<p>硫黃（一兩）　木香（五錢）　密陀僧（三錢）　炮附（一個）</p>
<p>上先附末，醋一升，熬膏，入藥和丸，綠豆大。荊芥、茶清下二十丸。</p>
<p><u>秘方</u>　治吐蟲。</p>
<p>黑錫（炒成灰）</p>
<p>檳榔末，茶飲下。</p>
<p><u>又方</u>　川椒，酒糊丸，治蟲。</p>
<p><u>又方</u>　炒雞子、白蠟塵，治寸白蟲，酒糊丸妙。</p>
<p>瀉心湯，治惑；苦參湯洗之，治狐。</p>

<h2>五十、喉痹</h2>
<p><u>【因】</u>　熱內結。雖有蛾閉、木舌、纏喉、走馬之名，火則一也。論咽與喉，會厭與舌，同在一門，而用各異，喉以候氣，故通於天；咽以納食，故通於地；會厭管乎其上，以司開闔。掩其咽，其食下；不掩之，其喉錯；必舌抵上齶，則會厭能閉其咽矣。四者相交為用，缺一則飲食廢而死矣。及其為病，皆火也。夫手少陰君火心主之脈，手少陽相火三焦之脈，二火皆主脈並絡於喉，氣熱則內結，結甚則腫脹，腫脹甚則痹甚，痹甚則不通而死矣。</p>
<p>至如嗌乾痛、咽頷腫、舌本強，皆君火之為也。唯喉痹急速，相火之為也。</p>
<p><u>【證】</u>　咽，咽物之處。咽腫則不能咽，或嘔吐咯傷，或多飲啖，痰熱皆至，咽系乾枯也。</p>
<p>喉，聲音出入之處。臟熱則腫，其發暴腫閉塞。或心虛寒，有懸癰生在上齶，俗名鵝也。咳而聲嘶喉破，俗名聲散也。</p>
<p><u>【治法】</u>　微以咸軟之，甚以辛散之，痰結以苦吐之，否則砭出血。人火以涼治之，龍火以火逐之，涼劑以熱服之是也。宜刺少商出血。</p>
<p><u>秘方</u>　朴硝　牙硝（各研）　青魚膽　上以膽放二硝上，干方研為末，竹管吹入喉中，痰出即愈。</p>
<p><u>五匙散</u>　治風熱喉痹，及纏喉風。</p>
<p>朴硝（一兩五錢）　硼砂（五錢）　腦子（三錢）　殭蠶</p>
<p>以竹管吹末入喉中。</p>
<p><u>神效散</u>　治熱腫語聲不出。</p>
<p>荊芥穗　蓖麻（生，去皮另研，各一兩）</p>
<p>蜜丸，皂角子大，嚼含化。</p>
<p><u>雄黃解毒丸</u>　治纏喉風及喉痹，倒僕失音，牙關緊急，不省人事。</p>
<p>雄黃（一錢，飛）　鬱金（一錢）　巴豆（去皮、油，十四個）</p>
<p>醋糊丸，綠豆大。熱茶清下一丸，吐則止。</p>
<p>蜜附子　治腑寒咽門閉，不能咽。大附去皮臍，切大片，蜜塗炙黃，含咽津。</p>
<p><u>又方</u>　龍膽、礬，包烏梅肉內，以綿裹含。</p>
<p><u>龍火拔毒散</u>　治纏喉急證。先以針出血為上策，緩以丹敷。</p>
<p>陽起石（煅）　伏龍肝（各三錢）</p>
<p>新水埽之。</p>
<p><u>又方</u>　白瑞香花根，研水灌之。</p>
<p><u>秘方</u>　治痰。其證皆因痰也。以鵝毛刷桐油探吐之。皂莢灰亦可吐。殭蠶研姜服亦可。生艾汁亦可。</p>

<h2>五十一、口</h2>
<p><u>【因證】</u>　脾熱則甘；膽熱則苦。口苦亦有肝虛寒者。</p>
<p><u>【治】</u>　三黃丸治甘。柴胡湯治口苦，及謀慮不決。</p>
<p>柴胡湯加麥冬、棗仁、地骨皮、遠志。</p>

<h2>五十二、舌</h2>
<p><u>【脈】</u>　心脈系舌根，脾脈系舌旁，肝脈、腎脈絡舌本。</p>
<p><u>【因證】</u>　因風寒所中，則舌捲縮而不言。七情所郁，則舌腫滿不得息。肝壅則血上湧，心熱則裂而瘡。脾熱則滑苔，是虛熱，心經飛揚上竄；脾閉則白苔如雪；脾熱則舌強。舌卷而卵縮者，厥陰絕也，死。</p>
<p><u>【治】</u>　金沸草散　治風寒傷心脾，令人寒熱、齒浮、舌腫。</p>
<p>金沸草　荊芥（四兩）　前胡　麻黃（各三兩）　甘草　半夏（一兩）</p>
<p><u>升麻柴胡湯</u>　治心脾虛熱上攻，舌上生瘡，舌本強，兩頰腫痛。</p>
<p>升麻　柴胡　白芍　梔子　木通（一兩）　杏子　大青　黃芩（三錢）　煅石膏（二兩）</p>
<p><u>舌腫破</u>　鍋底煤，即鍋底煙，醋鹽敷。</p>
<p><u>出血如泉</u>　白膠香、五倍子、牡蠣，末糝。</p>
<p><u>白胎語澀</u>　薄荷汁、白蜜，薑片揩，敷之。</p>

<h2>五十三、目</h2>
<p><u>【因】</u>　風熱血少。經曰：目得血而能視。肝血不上榮也，神勞。目者，神氣之主，勞則魂魄散，不能相得。腎虛，水精不上奉也。</p>
<p><u>【證治】</u>　在腑則為表，當除風散熱。在臟則為里，宜養血安神。如暴失明，昏澀翳膜，眵淚斑入眼，皆表也，風熱也，宜發散以去之。如昏弱不欲視物，內障見黑花，瞳散，皆里也，血少神勞腎虛也，宜養血補水安神以調之。</p>
<p>斑入眼，此肝氣盛而發在表；瞳子散大，皆辛熱之為也。辛主散，熱乘之，當除風熱，涼血益血，以收耗散之氣。以芩連苦寒除邪氣之盛為君，歸身、地黃養血涼血為臣，五味酸寒體浮收瞳散，地骨皮、天冬瀉熱補氣。</p>
<p>凡目暴赤腫，以防風、黃芩為君以瀉火，黃連、當歸為佐以和血。</p>
<p>凡目疾暴赤腫，以防風、羌活、柴胡、升麻、白芷、芩、連、甘草、當歸，白睛紅加白豆蔻少許。</p>
<p>凡目久病昏暗，以熟地、歸根為君，在羌活、防風、甘菊之類雜佐之。</p>
<p><u>撥雲湯</u>　羌活　防風一錢半　藁木　川芎　荊芥一錢　葛根　細辛　柴胡　升麻（五分）　知母　歸身　川柏　甘草　黃耆（各一兩）</p>
<p>內障，是脾虛火盛上，加下藥，人參、五味、白芍、茯苓、白朮；濕熱，加下藥：黃連（炒）、黃芩、生地；睛痛加歸、地黃；胸中不利，加槐子；赤翳，加羚角；腑秘，加大黃。</p>
<p><u>百點膏</u>　黃連水一大碗，煎至半，加歸六錢，防風八錢，蕤仁去皮尖三錢。</p>
<p>上熬滴水不散，加蜜少許點之。蔓荊、椒眼、地黃、甘草、荊芥、麻黃、升麻，隨所長加之。</p>
<p><u>春雪膏</u>　點眼。</p>
<p>朴硝置生腐上蒸，待流下，瓦器接之。</p>
<p><u>地黃丸</u>　治不能遠視、近視，此大除風熱。</p>
<p>生地　天門冬（各四兩）　炒枳殼　甘菊（各二兩）</p>
<p>蜜丸，茶酒任下。</p>
<p><u>《局方》定志丸</u>　治不能近視，反能遠視。</p>
<p>人參　遠志　菖蒲　白茯苓</p>
<p>蜜丸。</p>
<p><u>瀉青丸</u>　治風熱。</p>
<p>熟乾地黃丸　治血少安神。</p>
<p><u>駐景丸</u>　補腎水。</p>
<p>車前子　菟絲子　熟地黃（各五兩）</p>
<p><u>槐子散</u>　治體肥氣盛，風熱上行，目昏澀。</p>
<p>槐子　黃芩　木賊　蒼朮</p>
<p>末之，茶下。</p>
<p><u>桔梗丸</u>　治太陽衛虛血實，瞳人腫痛，眼黑肝風盛。</p>
<p>桔梗（一斤）　牽牛頭末（三兩）</p>
<p>蜜丸，水下。</p>
<p><u>神仙退翳丸</u>　治一切翳暈，內外障昏無睛，累效。</p>
<p>當歸（酒洗）　川芎　犀角屑　枳實　川連　蟬蛻　栝蔞根　薄荷（六錢）　甘菊　蛇蛻　密蒙花　荊芥（與甘草煎三味）　地骨皮（三錢，洗）　炒白蒺藜　羌活　地黃（用干，酒浸，一兩）　木賊（一兩半，去節，童便浸一宿，火干）</p>
<p>上末，煉蜜丸，米飲下。婦人氣旺者，木香湯下之。</p>
<p><u>家珍方</u>　治眼梢赤。</p>
<p>川連　白礬（三錢）　銅綠（五分）　密陀僧（一錢）　輕粉（少許）</p>
<p>末，貼之。</p>
<p><u>又方</u>　黃丹　白礬（等分）</p>
<p><u>驗方</u>　治痘後目上翳。</p>
<p>穀精草　蛇殼　綠豆殼　天花粉</p>
<p>上等分末，粟米泔浸，煮蜜柿干為度，食之。</p>
<p><u>羊肝丸</u>　治一切目病，不問障盲。</p>
<p>白乳羊肝（一具，竹刀刮去膜）　黃連（一兩）　甘菊　防風　薄荷（去梗）　荊芥　羌活　當歸　川芎（各三錢）</p>
<p>上為末，羊肝搗丸，漿水下。</p>
<p><u>爛翳驗方</u>　茜根燒灰，燈草點之，須臾大痛，以百節草刮去之。</p>
<p><u>七寶膏</u>　珍珠　珊瑚　甘石（三味煅，以連水淬七次）　石沙　腦子　麝香　蕤仁（去殼，各一錢）　研細點之。</p>

<h2>五十四、耳</h2>
<p><u>【因】</u>　風熱、氣虛火升。腎寄竅於耳。</p>
<p><u>【證治】</u>　風毒耳痛。全蠍一兩、生薑二兩，切作四方塊，同炒，去薑末之，湯點聤耳。</p>
<p>耳膿出，用桑螵蛸（一個，火炙）　麝香（二分五釐）</p>
<p>糝之。又加枯礬吹之良。</p>
<p>蟲入耳中，麻油灌。又，貓尿灌耳內好。</p>

<h2>五十五、鼻</h2>
<p><u>【因證】</u>　鼻為肺之竅，同心肺，上病而不利也。有寒、有熱。寒邪傷於皮毛，氣不利而壅塞，熱壅清道。酒渣鼻，乃血熱入肺；齆鼻息肉，乃肺氣盛；鼻淵，膽移熱於腦，則辛頞鼻淵。</p>
<p><u>【治】</u>　寒邪傷者，宜先散寒邪，後補衛氣，使心肺之氣交通，宜以通氣湯。</p>
<p>羌活　獨活　防風　葛根　升麻（各三錢）　川芎（一錢）　蒼朮　炙草（各三錢）　黃耆（四錢）　白芷（一錢）　黃連　黃柏</p>
<p><u>酒渣鼻方</u>　四物湯　黃芩（酒炒）　紅花</p>
<p>水煎服。</p>
<p><u>又方</u>　乳香　硫黃（以蘿蔔內煨）　輕粉　烏頭尖</p>
<p>酥調敷。</p>
<p><u>又方</u>　鴨嘴、膽礬，敷。</p>
<p><u>齆鼻息肉</u>　枯礬研為面脂，綿裹塞鼻，數目自消。</p>
<p><u>又方</u>　瓜蒂末，綿囊裹塞亦可。木通、細辛、炮附子，蜜和，綿裹內鼻中，亦可。</p>
<p><u>防風通聖散</u>　加好三稜、山萸肉、海藻，並用酒浸，炒末，每一錢五分。</p>
<p>鼻淵　薄荷　黃連（二錢半）　通聖散（一兩）</p>
<p>孩兒茶服。</p>

<h2>五十六、齒</h2>
<p><u>【因證】</u>　夫齒乃腎之標，骨之餘。</p>
<p>上齦隸於坤土，足陽明之貫絡也；下齦隸於庚金，手陽明之貫絡也。</p>
<p>手陽明惡寒飲而喜熱；足陽明喜寒飲而惡熱。腎衰則豁，腎固則堅。大腸壅，齒乃為之浮；大腸虛，齒為之宣露。熱甚則齒動齦脫，作痛不已；寒邪、風邪客於腦，則腦痛、項筋急粗露；疼痛蚛餌則缺，少而色變癢痛。</p>
<p><u>【治】</u>　羌活散　麻黃（去根、節）　羌活（一錢半）　防風（三錢半）　細辛（五分）</p>
<p><u>升麻</u>　柴胡（五分）　當歸　蒼朮（五分）　白芷（三錢）　桂枝　黃連　骨灰（三錢）</p>
<p>上先以湯漱口淨擦之。</p>
<p><u>牙疼方</u>　土蒺藜（半兩）　青鹽（三錢）</p>
<p>漿水二碗，煎熱服。</p>
<p><u>又方</u>　烏頭　熟艾　蔥（三株）　川椒（十數粒）</p>
<p>上濃煎漱，有膿痰出而安。</p>
<p><u>治蟲散氣</u>　草蓽撥末　木鱉肉</p>
<p>上同研，搐鼻。</p>
<p><u>治風氣走疰痛</u>　藁本　剪草　細辛</p>
<p>熱漱愈。</p>
<p><u>治骨槽風</u>　皂角（不蚛，去子）　杏仁（燒，存性）</p>
<p>上每味一兩，入青鹽一錢，揩用。</p>
<p><u>治風蚛牙</u>　以北棗一枚，去核，入巴豆一粒，合成。文武火炙如炭，放地上良久，研細，以紙捻入蚛孔十次。</p>

<h2>五十七、結燥</h2>
<p><u>【因】</u>　火邪伏於血中，耗散真陰，津液虧少，夫腎主大便。腎主津液，液潤則大便如常</p>
<p><u>【證】</u>　小腸移熱於大腸，為虙瘕，為沉。虙瘕，是便澀閉也。</p>
<p><u>【脈治】</u>　燥熱　有云：脾脈沉數，下連於尺，臟中有熱。亦有吐瀉後腸胃虛，服燥熱藥多者，宜承氣湯下之。</p>
<p><u>風燥</u>　有云，右尺浮也，內肺受風，傳入腸中，宜麻仁丸。</p>
<p><u>陽結</u>　脈數大而實，宜苦寒類治。</p>
<p><u>陰結</u>　陰燥欲坐井中，二腎脈搐之必虛，或沉細而遲者是也。</p>
<p>如有陰證煩躁，脈堅實，陽藥中少加苦寒，以去熱燥。</p>
<p>有年老氣弱津液不足而結；有產婦內亡津液而結。二證並宜地黃丸。</p>
<p>大便閉，小便澀數，謂之脾約。約者，脾血耗燥，肺金受火無所攝，脾津液故竭。理宜養血潤燥。</p>
<p>有產婦便秘，脈沉細，服柏、知母、附子而愈。</p>
<p>外有腳氣、虛寒、氣實，皆相似，亦大便不通。</p>
<p>腎惡燥，急食辛以調之，結者散之。如少陰不得大便，以辛潤之；太陰不得大便，以苦瀉之。如食傷腹滿，腹響是也。陽結者散之，陰結者熱之。</p>
<p><u>潤腸丸</u>　麻仁　桃仁（去皮、尖，各一兩）　羌活　歸尾　大黃（煨，各半兩）</p>
<p>除二仁別研，餘味共搗，火枯，蜜丸，梧子大，湯下。如不大便，邪氣盛急，加大黃酒製；如血燥而大便乾燥，加桃仁、大黃酒製；如風結燥，大便不行，加麻仁、大黃；如風澀，加皂角仁、秦艽、大黃；如脈澀，身覺有短氣，加郁李仁、大黃；如陰結寒證，加乾薑、附子。</p>
<p>有云，大便不通有五證，熱、冷、氣、風、濕，尺脈伏也，宜溫補之。</p>
<p>風，老人、產婦，秘有虛實。能飲食，小便赤為實。實者，秘物也。麻仁、七宣等主之。（見前。）不能飲食，小便清為虛。虛者，秘氣也。厚朴湯主之。</p>
<p>厚朴　半夏　神麯　甘草（三兩）　白朮（五兩）　枳實　陳皮（一兩）</p>

<h2>五十八、痔漏</h2>
<p><u>【因證】</u>　因蟲就燥也。乃木乘火勢而侮燥金，歸於大腸為病，皆風、熱、燥、濕為之也。</p>
<p>蓋腸風、痔漏總辭也，分之則異。若破者則謂之漏。大便秘澀，必作大痛。此由風熱乘食飽不通，氣逼大腸而作也。受病者，燥氣也；為病者，胃濕也。胃刑大腸則化燥，化以乘燥熱之實，勝風附熱而來，是風、燥、濕、熱四氣而合。故大腸頭成塊，濕也；大痛者，風也；結燥者，主病兼受火邪也；不通者，熱也。</p>
<p><u>【治】</u>　以苦寒瀉火，辛溫和血潤燥、疏風止痛。</p>
<p><u>秘方</u>　涼血為主。</p>
<p>四君子　四物　黃芩（涼大腸）　枳殼（寬大腸）　槐角（涼血生血）　升麻</p>
<p><u>秦艽白朮丸</u>　秦艽（去蘆）　皂角（各一兩，去皮，燒存性）　白朮（五錢）　當歸（半兩，酒洗）　桃仁（一兩，去皮尖）　地榆（三錢，破血）　枳殼（麩炒，泄胃）　澤瀉（各半兩，滲濕）　大黃（四錢）</p>
<p>麵糊丸，米湯下百丸。空心服，以膳壓之。氣滯，加檳榔、木香；濕熱勝，加柏。</p>
<p>一云，凡痔漏，蒼朮、防風為君；甘草、白芍為佐。</p>
<p><u>蒼朮澤瀉丸</u>　蒼朮（四兩）　枳子　澤瀉（各二兩）　地榆　皂角</p>
<p>飯丸。</p>
<p><u>淋洗用</u>　天仙子　荊芥穗　川椒　蔓荊子</p>
<p><u>煎洗秘方</u>　五味子　朴硝　蓮房　桑寄枝　先熏後洗。</p>
<p><u>敷腫</u>　木鱉子　五味子</p>
<p>為末，調敷。</p>
<p><u>腸風塞藥</u>　爐甘石（煅）　牡蠣粉</p>
<p><u>痔漏方</u>　好臘茶　腦子</p>
<p>同研津調，紙花貼上。除根用後方。</p>
<p><u>又方</u>　白礬（枯二錢，生二錢）　乳香（三錢）</p>
<p>真香油同研為膏，紙花貼。如便秘，枳實，當歸湯下三黃丸。</p>
<p><u>皂角散</u>　治痔漏脫肛。</p>
<p>黃牛角䚡（一個，切）　蛇蛻（一條）　皂角（小，五個）　穿山甲</p>
<p>上並切，入瓷瓶，泥固濟，候乾。先以火燒煙出，方以大火煅紅，出冷，研細，胡桃酒下。臨臥引出蟲，五更卻以酒下二錢。</p>
<p><u>脈痔方</u>　血自肛門邊另作竅。</p>
<p>烏頭（炮，去皮尖）　黃連（各一兩）</p>
<p>又方亦妙　槐花　荊芥　石菖蒲（各一兩）</p>
<p><u>酒痔連丸</u>　黃連一味，酒浸、酒煮，酒丸，飲下。</p>
<p><u>腐痔核即為水</u>　硼砂（煅）　輕粉　爐甘石（煅）</p>
<p>上以朴硝淬洗辰砂，或加信煅，敷外四圍，點核上。</p>
<p>貼痔　麝香、樟腦、硃砂，研，入山田螺內，待成水，抹頭，不拘遍數，以干為度。</p>
<p><u>治酒痔下血不止</u>　乾絲瓜一枚，連皮子燒，存性，為末，酒下二錢。</p>
<p><u>痔血不止</u>　檢漆根灰，空心下。</p>
<p><u>木槿散</u>　治痔專封口，能幹。木槿花八九月採，陰乾。用葉杵敷亦可。</p>
<p><u>又方</u>　當歸一兩　黃連二兩　烏龜一個</p>
<p>酒煮乾，日乾為末，蜜丸皂子大。</p>
<p><u>治脫肛方</u>　理省藤　桑白皮　白礬</p>
<p>煎洗自收。因治玉莖挺長，亦濕熱，小柴胡加黃連。有塊加青皮；外用熱絲瓜汁調五味子敷。</p>

<h2>五十九、婦人產胎</h2>
<p><u>【脈】</u>　平而虛者，乳子。陰搏陽別者，妊子。搏者近於下，別者出於上，血氣和調，陽施陰化也。</p>
<p>少陰脈動甚者妊。少陰，心脈也。尺中按之不絕者妊；三部脈浮沉正等，按之無絕者妊。妊娠初時寸微小，呼吸五至；三月而尺脈數。脈滑疾，重以手按之散者，蓋三月也；脈重手按之不散，但疾不滑者，五月也。寸微關滑尺帶數，流利往來並雀啄，是妊。左沉實疾大，皆為男，縱者主雙；右沉實疾大，皆為女，橫者主雙。脈浮腹痛，痛引腰脊，為欲生也；脈一呼三至曰離經，沉細而滑亦同；尺脈轉急如切繩者，皆便生也。妊三月而渴，脈反遲，欲為水分；復腹痛者，必墮。妊五月六月脈數，必壞；脈緊，必胞滿；脈遲，必水壞為腫。妊六七月脈弦，發熱惡寒，其胎愈腹，腹痛，小腹如扇，子臟開故也。當溫之以附子。妊六七月，暴下鬥余水，必倚而墮。妊七八月，脈實大牢強，弦者生，沉細者死。妊十月，足身熱脈亂者吉。少陰脈浮而緊，緊則疝瘕，腹中痛，半產而墮傷，浮則亡血，絕產惡寒。脈微澀為無子，脈弦大為無子，血氣虛不足之故也。新產脈沉小滑者生，實大強急者死；沉細附骨者生，數疾不調死。新產因得熱病，脈懸小，四肢溫者生，寒清者死。新產因傷寒、中風，脈實大浮緩者生，小急者死。脈得浮緊，當身痛；不痛，腹鳴者，當陰吹。寸口浮而弱，浮為虛，弱無血；浮短氣弱有熱。趺陽浮而澀，浮氣喘，澀有寒。少陰微而弱，微少血，弱生風，微弱相搏，陰中惡寒。胃氣不泄，吹而正喧，此穀氣之寒也，膏發導之。少陰滑而數，陰中必瘡；少陰脈弦，白腸必挺核；少陰浮而動，浮虛，動痛、脫下。</p>
<p><u>【因證治】</u>　胎墜因虛而熱；轉胞乃血虛有痰；胎漏逼胞，致小便不利；溺出不知時因痰，胎避而下，因血氣不能升，四物加貝母、滑石；痰加二陳。惡阻因痰血相搏，半夏湯主之。</p>
<p>妊娠腹脹，乃氣不利而虛有熱。炒枳殼、黃芩、白朮。妊娠寒熱，小柴胡去半夏。胎痛乃血少，四物、香附紫蘇湯安胎大妙。</p>
<p>胎衣不下，或子死胎中，或血衝上昏悶，或暴下血，胞幹不生。</p>
<p>半夏（一兩半）　肉桂（七錢半）　大黃（五錢）　桃仁（三十，去皮尖）</p>
<p>先服四物三兩，次服煎湯，姜煎。不效，再服。又半夏、白蘞丸之。</p>
<p><u>下死胎</u>　肉桂（二錢）　麝香（五分，同下）</p>
<p>又方，朴硝半兩，童便下。</p>
<p><u>欲墮方</u>　肉桂（一兩）　栝蔞（一兩二錢）　牛膝（一兩）　瞿麥（半兩）</p>
<p><u>絕產方</u>　蠶種紙一尺，燒灰，醋湯調服，永不孕產。</p>
<p>難產，乃敗血裹其子。麝香（一錢）、鹽豉（一兩），青布裹，燒令紅，捶為末。秤錘燒紅，淬酒下一錢。</p>
<p><u>又</u>　百草霜　香白芷　伏龍肝（單用）</p>
<p>童便、醋調下，未下再服。</p>
<p>貝母、白蒺藜、活石、葵子，並治之。</p>
<p>產後陰脫，乃氣血下溜。四物、蝟皮（各，半兩）、牡蠣（煅）、黃芩（二兩）或加升麻飲下；蛇床子布裹熨妙；烏賊骨、硫黃、五味子，共末，糝患處。</p>
<p>產後血暈因暴虛，素有痰飲，瘀血隨氣上攻。</p>
<p><u>芎歸湯</u>　治暴虛，童便下；治瘀血，荊芥下。</p>
<p><u>清魂散</u>　治虛。</p>
<p>澤蘭葉　人參（一兩）　荊芥（一兩）　川芎　當歸（半兩）</p>
<p>溫酒灌下。</p>
<p>五靈脂、荊芥，童便下；鹿角灰，酒下。</p>
<p><u>半夏茯苓湯</u>　治痰飲。</p>
<p><u>牡丹散</u>　牡丹皮　大黃（蒸）　芒硝（一兩）　冬瓜子（半合）　桃仁（二十個）</p>
<p>水煎服。</p>
<p>浮腫，是胎前宿有寒濕。茯苓　白朮　白芍　當歸　陳鯉魚。如法。</p>
<p>又名胎水，俗名子腫，如腫滿狀。產後因敗血化水，或血虛氣滯。</p>
<p>喘急。因營血暴竭，衛氣無主，獨聚於肺，此名孤陽絕陰，必死。因敗血上熏於肺，奪命丹主之；因傷風寒者，旋覆花湯主之。</p>
<p>產後不語，因敗血迷心竅。產後口鼻黑氣起及衄，因胃氣絕肺敗，氣消血散，亂入諸經，卻還不得，死矣。</p>
<p>子煩，二火為之。病則苦煩悶。麥門冬、茯苓、黃芩、防風、竹葉。</p>
<p>心痛，因宿寒搏血，血凝其氣。五靈脂、蒲黃。醋下。</p>
<p>子癇（佚）</p>
<p>漏阻。因事下血，胎幹不動，奔上搶心，腹中急迫。返魂丹、達生散、天仙方。</p>
<p>產婦臨月未涎者，凡有病先以黃芩、白朮安胎，然後用治病藥。肌熱者，黃芩、黃連、黃耆、人參；腹痛者，白芍藥、甘草。感冒依解利。</p>
<p>產後諸病，忌用白芍，以黃芩、柴胡主之。內惡物，上衝胸脅痛者，大黃、桃仁；血刺痛者，當歸。內傷發熱者，黃連；渴者，茯苓。一切諸病，皆依前法。唯渴者，去半夏；喘咳去參；腹脹忌甘草。產後身熱血證，一同傷寒。若傷寒內有痛處，脈弦而健，宜解傷寒，血虛無疼，脈弱而澀，宜補其血。</p>

<h2>六十、帶下</h2>
<p><u>【脈因】</u>　濕熱結於肺，津液湧溢，入小腸為赤，入大腸為白。然任脈自胞上過，帶脈貫於臍上，沖、任、督三脈同起而異行，一源而三歧，皆絡帶脈，統於篡戶。因余經往來，遺熱於帶脈之間。熱者，血也。血積多日不流，從金之化，即為白淫。治法同濕證，以十棗、禹功降火流濕之劑良矣。</p>
<p>因痰積下流，滲入膀胱，肥人多有之。二陳湯，加升提為主。</p>
<p><u>【證治】</u>　三陽其氣俱欲竭，血海將枯，滑物下流。其有一切虛寒之證，脈洪大而澀，按之全無，宜以溫養之。</p>
<p>李先生之酒煮當歸丸，治此證。血虛多加四物；氣虛多加參、術；滑甚者，以龍骨、赤石脂澀之。</p>
<p>外有蟲唇瘡，亦淋露白汁。</p>
<p><u>小胸丸</u>　治濕熱帶下，下之；苦楝丸調之。</p>
<p>苦楝（酒浸）　茴香（炒）　當歸（等分）</p>
<p>酒糊丸，梧子大，酒下。腰腿痛，加四物四兩、羌活、防風各一兩。虛加參、耆、甘草，或加白芍。</p>
<p><u>酒煮當歸丸</u>　治一切虛證。上中下元氣俱竭，噦嘔不止，胃虛之極，脈洪大無力，按之空虛或不鼓，皆中寒之證。</p>
<p>當歸（一兩）　茴香（半兩）　黑附（炮）　良薑（各七錢）</p>
<p>上四味銼細，以酒一升半，煮至酒盡，焙乾炒黃。</p>
<p>鹽　丁香　苦楝（生）　甘草（炙，各半兩）　全蠍（三錢）　柴胡（二錢）　升麻（一錢）　木香（一錢）　玄胡（四錢）</p>
<p>上九味，同前酒煮四味，俱末，酒煮麵糊丸，空心淡醋湯送下。</p>
<p><u>固真丸</u>　治臍腹冷痛，目中溜火，此皆寒濕乘其胞內，汁輕伏火。</p>
<p>白石脂（一錢，以火燒赤，水飛，研細末）　白龍骨（一錢，二味以枯以濕）　乾薑（炮，四錢，瀉寒水）　黃柏（半錢，因用引導）　柴胡（《本經》使一錢）　當歸（一錢，和血脈）　白芍（半錢，導之，）　人參　黃耆（虛甚加之）</p>
<p>上白石、龍骨水飛研細外，余同極細，水煮麵丸雞頭大，日乾，空心湯下，以膳壓之。忌生冷、油膩、濕面。血海將枯，加白葵花（七朵）、郁李仁（潤燥而滋津液）；不思飲食，加五味子。</p>
<p><u>《衍義》方</u>　治白膿帶下，此腸胃有膿也。去盡膿自安。</p>
<p>紅葵根　白芷　赤芍藥　白礬</p>
<p>蠟丸，米飲下。</p>
<p><u>又方</u>　治白帶、白濁，以黃荊子炒焦為末，酒下。</p>
<p>張用瓜蒂散吐寒痰升氣；導水丸下濕熱；甘露散調之，利濕熱。</p>
<p><u>燥濕痰方</u>　治肥人。</p>
<p>海石　半夏　南星（治痰）　黃柏（治濕痰）　蒼朮（燥濕痰）　川芎（升之）　椿皮　香附（調氣）　牛膝（風痛加之）</p>
<p><u>刮熱方</u>　治瘦人。</p>
<p>黃柏（相火）　滑石　椿皮　川芎　黃連（性躁）</p>
<p>滑者，加龍骨，加石脂；滯者，加葵花；血虛，加四物。甚用吐下。吐用二陳加蒼朮；下用白朮；調治，神祐丸。</p>

<h2>六十一、經候</h2>
<p><u>【脈】</u>　經脈不行者。血生於心，因憂愁思慮則傷心，心氣停結，故血閉不行。左寸沉結，宜調心氣、通心經，使血生而自通。或因墮胎，或產多，共血先少而後不通。此為血枯，脈兩尺弱小，宜生血。</p>
<p><u>【因證】</u>　血隨氣行，結為塊，日漸長，宜散之。</p>
<p>久發盜汗，致血脈乾枯而經不通，宜補血。是汗出於心，血生於心，血與汗出也。</p>
<p>久患潮熱，則血枯燥。蓋血為熱所消，寒熱去則血自生。脾胃不和，飲食減少，則血不生。血者，飲食所化。經云：二陽之病發心脾，女子不月。</p>
<p>血為氣引而行。血之來而先有病，皆氣之患也；來而後有病者，皆血之虛也；病出意外，皆血之熱也。</p>
<p><u>【治】</u>　將來作痛，乃氣實也，桃仁、紅花、香附、枳殼、川連。</p>
<p>不及期者，乃血熱也，四物加川連。</p>
<p>過期有二，乃血少與痰多也。血少，芎、歸、參，紫黑成塊加連；痰多，色淡也，肥人多有，二陳加蒼朮、香附、川芎。</p>
<p>閉而不行，乃虛而熱；來成塊，乃氣之滯；錯經妄行，乃氣之亂。</p>

<h2>六十二、崩漏</h2>
<p><u>【脈】</u>　洪數而疾。漏血下赤白，日下數升。脈急疾者死，遲者生；緊大者死，虛小者生。</p>
<p><u>【因治】</u>　熱，血熱則流；虛，虛則下溜。蓋陰虛陽搏謂之崩。由脾胃有虧，氣下陷於腎，與相火相合，濕熱下迫。脈洪而疾，先見寒熱往來，心煩不得眠，治宜大補脾胃而升其血氣。</p>
<p>蓋心氣不足，其火大熾，在於血脈之中，致脾胃有虧，火乘其中，形容似不病者，此心病也。治法同前，微加鎮墜心火之藥，補陰瀉陽，經自止矣。</p>
<p>蓋腎心真陰虛，不能鎮守包絡相火，故血走而崩也，是氣血俱虛，為大寒之證；輕手其脈數疾，舉指弦緊或澀，皆陽脫也；陰火亦云或渴，此皆陰燥。宜溫之、補之、升之。</p>
<p>脾胃者，血氣之根本，周榮滋身；心者，血之府；脈者，人之神。俱不足，則生火故也。</p>
<p><u>【治】</u>　升陽散火除濕。羌活、防風、升麻、柴胡、川芎；涼血瀉相火，生地、黃連、黃柏、黃芩、知母；和血補血，酒洗當歸、黃耆。胃口客寒，當心痛，加草豆蔻、炒曲；氣短，加參、術；冬寒，加麻黃、桂枝；血氣俱脫，大寒證，加附子、肉桂；不止，加阿膠、艾葉，或加丁香、乾薑。</p>
<p>四物加荊芥穗、發灰，治血不止如神。單味蒲黃炒黑，亦妙。</p>
<p><u>治標方</u>　急則治其標。凡藥須炒黑，血見黑則止。白芷湯調棕櫚灰，後用四物湯加姜調治；五靈脂末亦可；凌霄花末，酒下。</p>
<p><u>治本方</u>　四物湯。黃連，熱則加之；參、耆，虛加之；乾薑，寒則加之；黃芩，熱則加之。</p>
<p><u>胎漏方</u>　血虛有熱。</p>
<p>地黃（生一半，熟一半）　白朮（一兩）　黃芩（炒）　枳殼（各半兩）</p>
<p>煎湯，調下地黃末。</p>

<h2>六十三、小兒證</h2>
<p><u>【脈】</u>　八至者平，九至者傷，十至者困。緊為風癇，沉為乳不消，弦急客忤氣；沉而數者，骨間有熱。脈小，大便赤青飧泄，手足溫者生，寒者難已。</p>
<p><u>【證】</u>　有四，曰驚、疳、吐、瀉。</p>
<p>病，其頭毛皆上逆者死；汗出如珠，著身不流者死。</p>
<p><u>【因治】</u>　有二：曰飽、暖。</p>
<p>小兒十六歲前，稟純陽氣，為熱多也。</p>
<p>小兒腸胃常脆，飽食難化，食則生積為痰。肝則有餘，腎尚不足，肝病亦多也。</p>
<p>張，皆歸之濕熱。常以牽牛、大黃、木通為丸，以治諸病。</p>
<p>驚，因熱痰，主急，當瀉，降火痰丸，養血湯下；因脾虛，主慢，當補，硃砂安神丸，參朮湯下。</p>
<p>疳，因土熱也。　川連（去熱，二錢）　胡黃連（去果子積，半錢）　阿魏（去肉積，醋浸）神麯（各一錢）</p>
<p>丸如米大。</p>
<p>啼，因肝熱。薑汁炒川連、甘草、竹葉。煎服。</p>
<p>吐瀉脾虛。</p>
<p>斑疹是火，與前丹疹條下同。</p>
<p>夫惡血留於命門，伏於一隅，待氣虛、血虛、脾損，相火生焉。二火交熾，煎熬太陰，其證呵欠，寒熱噴嚏，手足梢冷，睡驚，俱屬少陽相火、少陰君火顯證。自吐、吐瀉者，邪出也，即吉。宜消毒解火；大便不利，當微利之。身溫者順，身涼者逆。</p>
<p>痘同疹論，切忌熱藥（亦勿泥）。</p>
<p><u>宜分氣血</u>　虛則補之。氣虛四君，血虛四物。吐瀉少食，為裡虛；陷白倒靨，麵灰白，為表虛。不吐瀉能食，為實，宜解毒，芩、連等是也。實則更補，必結癰膿也。</p>
<p><u>解毒方</u>　絲瓜　升麻　白芍（酒炒）　甘草　糖球　黑豆　犀角　硃砂</p>
<p>單用絲瓜煮湯亦可。</p>
<p><u>血痢三黃湯</u>　食積利用。</p>
<p>炒曲　蒼朮　白芍　黃芩　白朮　甘草　陳皮　茯苓</p>
<p>下保和丸。</p>
<p><u>治小兒蟲用</u>　胡黃連　川連　蕪荑　山楂　神麯　青陳皮　蘆薈</p>
<p>和丸。</p>
<p>急、慢驚風　辰砂一顆、全蠍一枚，生犬血，快研，服。</p>

<h2>六十四、雜證</h2>
<p>濕熱，相火病多，土火病多。氣常有餘，血常不足。肥人血多、濕多；瘦人氣實、熱多。白者，肺氣弱，血不足；黑者，腎氣有餘，忌黃耆。熱傷血，不能養筋，故為拘攣；濕傷筋，不能束骨，故為痿弱。</p>
<p>氣屬陽，無寒之理，下用補相間；勞病忌寒藥，此東垣之旨也。寒不得熱，是無火也；熱不得寒，是無水也。肺癰，非吐不可。</p>
<p>辛苦、飢飽，疼痛皆傷血。服藥之力峻，須用酸收。指甲卷，是血少不養筋。身如被打，濕傷血也；亦有血虛而痛。腑病責臟用，臟病責腑用。氣血弱，遠枳殼，以其損氣也；血盛忌丁香，以其益氣也。</p>
<p>治病先調氣。病分氣血陰陽。晝增夜靜，是陽氣病，而血不病；夜增晝靜，是陰血病，而氣不病。夜靜日惡寒，是陰上溢於陽；日夜並惡寒，是陰部大盛，兼有其陽，當瀉其寒、峻補其陽。夜靜日熱，是陽盛於本部；日靜夜惡寒，是陰盛於本部。日安夜躁煩，是陽氣下溜於陰中，當瀉其陽，峻補其虛；日惡寒夜煩躁，為陰陽交，飲食不入，必死。傷寒、中暑，與傷飲食一般。人火正治，諸龍火反治。</p>
<p>諸病有郁，治之可開。噁心，有熱，有痰，有虛。悲者，火乘金。陽絕則陰虧，陰氣若盛，陽無暴絕之理。虛勞，不受補者死。諸病發熱者，風、寒、暑、濕、燥、火七情，皆能發熱。寒濕同性，火燥同途，非也。寒宜溫之，濕宜燥之，火宜降之、涼之，燥宜潤之。諸病尋痰火，痰火生異證。</p>
<p>診脈、觀形、察證，三者殊途，不可執一。</p>
<p>諸病先睹胃氣。</p>

<h2>六十五、雜治</h2>
<p><u>惡寒</u>　有濕痰積中，脈沉緩，抑遏陽氣，不得外泄，身必惡寒。宜江茶入香油、薑汁吐其痰，以通經散去麻、硝、黃，加歸、地黃。伏脈，有熱甚而血虛，亦惡寒。脈沉而澀，宜四物倍地黃、朮、耆、柏、參、甘草。</p>
<p><u>戰慄有熱</u>　一陽發病，少氣善咳善泄，其傳為心掣。掣，動也。子母傳故泄，理中主之。</p>
<p><u>勞風</u>　法在肺下，使人強上冥視。勞生熱，唾出若涕；感風，惡風而振寒。肺主皮毛，宜通經散加半夏、歸。</p>
<p><u>痹氣</u>　乃陰氣盛而血不榮，故身寒如水中，皆虛寒之證，宜薑、附。</p>
<p><u>五實五虛</u>　脈盛、脈細，心；皮熱、皮寒，肺；腹脹、飲食不入，脾；悶瞀、氣少，肝；前後不通、泄利前後，腎。</p>
<p><u>陰滯於陽</u>　有作勞而冷，飲酒醉，次日膈痛似飢，過飽，遂成左脅痛有塊，脈細澀沉數，服韭汁、桃仁、童便等安。又有如前，左乳痛有核，服石膏、白芷、乾葛、栝蔞、蜂房等。</p>
<p><u>陽滯於陰</u>　有事不如意、衄如注，脈浮數，重而大且芤，四物加萱草、薑汁飲之。有逃難飲食下血，脈沉澀似數，以鬱金、芎、芷、蒼、芍、葛、香附。右腎屬火，補之以巴戟、杜仲之類；左腎屬水，補之以地黃、山茱、黃柏之類。</p>

<h2>六十六、臟證</h2>
<p><u>肝</u>　胃脘當心而痛，上支兩脅，肝經。膈咽不通，飲食不下，土衰病。甚則耳鳴眩轉，目不視人，善僵嗌僕，裡急緛戾，脅痛嘔泄，令人善怒也。虛則目無所見，耳無所聞，善恐，如人將捕之。</p>
<p><u>心</u>　胸中熱，嗌乾胠滿，皮膚痛，寒熱咳喘，驚或狂妄，一切血證，胸中痛，脅支滿，膺背肩胛間痛。虛則胸腹大，脅下與腰背相引而痛。</p>
<p><u>脾</u>　跗腫骨痛，陰痹腰脊頭項痛，大便難，積飲痞膈，霍亂吐下，飧泄腸鳴，脾熱之主虛。</p>
<p><u>肺</u>　骨節內變，右胠脅痛，寒侵於中，鶩溏，心脅滿引小腹，不可反側，嗌乾，面塵脫色，丈夫癲疝，婦人小腹痛。實則咳逆肩背痛；虛則少氣不能報息，耳聾咽乾。</p>
<p><u>腎</u>　腰腿痛，大關節不利，屈身不便，腹滿痞堅，寐汗。實則腹、脛腫身重；虛則胸中滿，大小腹痛，清厥。</p>

<h2>六十七、七情證</h2>
<p><u>怒</u>　為嘔血，飧泄，煎厥，薄厥，胸滿脅痛，食則氣逆而不下；為喘渴煩心；為消脾肥氣，目暴盲，耳暴閉，筋緩。怒傷肝，為氣逆，悲治怒。</p>
<p><u>喜</u>　為笑，毛革焦傷，氣不收，甚則狂。喜傷心，為氣緩，恐治喜。</p>
<p><u>悲</u>　為陰縮筋攣，肌痹脈痿，男為數溲，女為血崩，酸鼻辛頞，泣則臂麻。悲傷肺，為氣消，喜治悲。</p>
<p><u>驚</u>　為痰涎，目睘吐，癡癇不省人事。驚傷神，為氣亂，思治驚。</p>
<p><u>勞</u>　為咽噎喘促，嗽血唾血，腰重痛，骨痿，男少精，女不月。勞傷血氣耗，逸治勞。</p>
<p><u>思</u>　為不眠，好臥昏瞀，三焦痞塞，咽喉不利，嘔苦筋痿，白淫，不嗜飲食。思傷脾，為氣結，怒治思。</p>
<p><u>恐</u>　傷腎，為氣不行，思治恐。</p>

<h2>六十八、雜脈</h2>
<p>寸口脈但實者，心勞。寸口脈沉，胸中氣短，浮而絕者，氣闢；大而滑，中有短氣。數而不加六至者，為滑；微弱者少氣。尺脈沉滑者，寸白蟲。男女皆當以左手尺脈常弱，右手尺脈常盛，為平。陽盛陰虛，下之安；二寸實大，尺短少，此傷寒之邪，乘其裡虛而入於腑者是也。如尺脈弱寸強，則陰不足陽往乘之，下之安，汗之死。余以類推。脈俱弦，指下又虛，脾胃虛弱證。食少而渴，痞。腹中痛窄狹，二便不調，脈俱沉緊，按之不鼓，膀胱勝小腸也。或瀉利不止而腹脹，或純白赤，或雜血便多，不渴，精神少，或面白脫色，此失血之故。或面黃而氣短，此元氣損少之故。是丙火小腸為壬膀胱所克而外走也，屯火投於水，大寒之證，宜溫之則愈。薑、附（各半兩）、赤石脂（四錢半，飛）、硃砂（一兩，研。）茯苓湯下二三十丸。</p>
<p>脈，諸按之不鼓為虛寒。二寸短少，謂之陽不足，病在下。脈，諸搏手，為寒涼或寒藥治之，脈虛，亦薑、附。脈二手相似而右為盛，皆胃氣虛；二寸求之脾胃，當從陰引陽。脈中少有力，盛甚則似止，胸中元氣不及。脈貴有神。神者，不問遲數之病，中外有力者，為神也。脈，諸短為虛。二關脈實，上不至，發汗。下不至，利大便。脈，諸大為虛。二關脈沉細，純虛也，宜補之。脈澀與弦而大，按之有力為實，無力為虛。脈沉遲，寸微滑者為實。二尺不見，或短少，乃食塞，當吐之。凡脈盛大以澀，外有寒證，名寒中。乃寒獨留，血脈泣，故大也。脈大而實，不可益氣。滑脈關以上見，為大熱；關以下見，為大寒。火併於上，以丙火化；火併於下，以壬水化。雜病脈沉者，多屬痰，宜吐。傷寒寸脈浮滑者，有痰、宜吐。勞熱，脈沉細無火者死。陽脈浮，陰脈弱者，則血虛，血虛則筋急。凡有者為實，無者為虛。假令脈浮則為陽盛陰虛，脈沉則為陰盛陽虛，此有則彼無，彼有則此無。又如弦則木實、金虧、土虛。浮診見者，為腑，為上部，為陽；按之見者，為臟，為下部，為陰。脈來者，為陽，為氣；去者，為陰，為血。假如脈來疾去遲，為陽有餘而陰不足也，故曰外實內虛是也。出以候外，疾為實；入以候內，遲為虛。寸微尺緊為虛損，陰盛陽微之故也。諸浮脈無根死，臟腑無根故也。</p>
<p><u>長病脈</u>　虛而澀、虛而滑、虛而緩、微而伏、浮而結、浮而滑、實而大、實而滑、細而軟，如蛛絲、羹上肥，如屋漏，如雀啄，如霹靂，如貫珠，如水淹。以上此脈，得之則生，反之則死（一本如水淹之下，注曰皆死脈也。無以上此脈，得之則生，反之則死三句。有識者詳之）卒病與長病條下，反之則死。人病甚，脈不調難差，脈洪者易已。</p>
<p><u>形脈相應</u>　肥人，脈細欲絕者死。瘦人脈躁者死。身溫，脈滑者死。身滑，脈澀者死。身小，脈大者死。身大脈小者死，身短脈長者死。身長脈短者死。</p>

<h2>六十九、察視</h2>
<p>黑氣起於耳目鼻上，漸入口者死。白色者亦然。赤色見於耳目頞上，五日死。張口如魚，出氣不反者死。循衣摸縫者死。無熱妄語者死。遺尿不知者死。爪甲青者死。爪甲肉黑者死。舌卷卵縮者死。眉傾髮直者死。唇反人中滿者死。陰陽俱閉，失聲者死。神氣不守，聲嘶者死。汗出不流者死。口臭不可近者死。回目直視，肩息者死。齒忽黑色，面青目黑，面青目黃，面青目白，面青唇黑者，皆死。面白目黑，面白目白，皆死。面赤目黃，面赤目白死。而黑目白死。面黑脅滿，不能反側者死。面黑唇青死。面黑目青死。面黃目白，面黃目青，面黃目黑死。以上黑如燃，白如枯骨，赤似血，青似草，方為死候。</p>
<p>心絕肩息，回盼目直，一日死。肺絕氣去不快，口如魚，三日死。骨絕，腰脊痛，不可反側，五日死。脾絕口冷，足腫，脹泄，十二日死。腎絕大便赤澀下血，耳干，腳浮，舌腫者，六日死。筋絕魂驚虛恐，手足爪甲青，善呼，罵不休，九日死。腸絕髮直，汗出不止，不得屈伸，六日死。肝絕恐俱伏臥，目直面青，八日死。又即時死。胃絕齒落，目黃者，七日死。</p>

<h2>七十、汗</h2>
<p>脈，沉微、細弱不可汗。沉細為在裡，微弱氣血虛。浮而緊，法當身痛，當以汗解。假令尺脈遲者，不可汗，此血微少故也。陰病脈細沉數不可汗，病在裡之故也。傷寒風濕。素傷於風，復傷於熱，四肢不收，頭痛身熱，常汗不解，治在少陰、厥陰，不可汗。汗之譫語內煩，不得臥，善驚，目亂無精光。傷寒濕溫，素傷於寒，因而中暍，若兩脛冷腹滿，頭目痛妄言，治在足太陰，不可汗。汗出必不能言，耳聾，不知痛所在，身青面變死。傷寒頭痛。形象中風，常微汗出，又自嘔者，心懊憹，發汗則痙。傷寒脈弦細頭痛，而反熱，此屬少陽，不可汗。太陽與少陽並病，頭項強痛，或眩冒，心下痞堅，不可汗。少陰病，咳而下利譫語者，此強汗之故也。咽中閉塞不可汗，汗之則吐血。厥陰不可汗，汗之聲亂咽嘶。亡血家不可汗，汗之則寒慄。衄不可汗，汗之必額陷直視。淋家不可汗，汗之必便血。瘡家不可汗，汗之則痙。汗家不可重汗，汗之必恍惚，脈短者死。冬時發其汗，必吐利口瘡。下利清穀不可汗，汗之必脹滿。咳而小便利，或誤汗之，則厥逆。諸逆發汗，微者難愈；劇者言亂，睛眩者死。動氣在，不問左右上下，一切不可汗。</p>
<p>脈，浮大可汗。問病者，設利，為虛而不可汗也。浮而緊可汗。太陽病，脈浮弱，可汗。浮而數者，亦可汗。脈遲汗出多，微惡寒，表未解，可汗。熱如瘧，此為陽明，脈浮虛，可汗。身痛，清便自調，可汗。</p>
