<header data-type="book">
<h1>醫方絜度</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>錢敏捷</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>敘</h1>
<p>古醫方得人乃傳，非人勿言，故自漢以前皆稱禁方。至後漢張仲景，具濟世之才，憫死亡之苦，乃勤求古訓，博採眾方，特著《傷寒雜病論》合十六卷，條分縷析，審證處方，俾業醫者潛心考究，可以見病知源，宛如指南有針，皆可執此以治病，庶不致茫無頭緒也。良醫與良相同功，信非虛語。自後名醫輩出，一人必有一證之專門，亦必有良方之傳述。先兄勤民秉性聰穎，細承庭訓，不僅醫道，即天文、地理、奇遁等書，無不洞悉原由。與儒人談古論今，互相辯論，均皆折服。此書乃君採擇後賢方義，匯成一書，名曰：《醫方絜度》，卷分三帙，方共二百六十有餘首。逐方註釋，間附以親手試驗之作，惟仲景經方概不採入。雖非仲景之翼方，隱然有繼述聖賢之意，抑其一片濟世之慈心，亦可以同垂不朽，洵醫家之寶筏也。</p>
<p>上敘一首，原以另紙草稿夾於冊內，茲移錄卷首。一二筆誤之字，亦已改正。作此序者乃著者之弟錢緩之也。</p>

<h2>煎藥用水歌</h2>
<p>急流迅速堪通便，宣吐回瀾齏水宜。百沸氣騰能取汗，甘瀾雨水意同之。陰陽霍亂與瘧用，經絡痹阻酒可醫。新汲無根皆取井，除煩去熱補陰施。地漿解毒露清暑，臘雪寒冰療疫奇。更有輕靈氣化水，奇功千古少人知。善調升降充津液，滋水清金更益脾。</p>

<h2>服藥法則</h2>
<p>急服：有通口直飲，重劑治下部宜之。有趨熱連飲，輕劑發汗宜之。</p>
<p>緩服：有趨熱徐徐小飲，治肺病宜之。有大劑頻頻連飲，虛證、熱證、消證宜之。有含在口，隨津自下，治咽喉病宜之。</p>
<p>冷服：有寒劑冷服，治大熱證宜之。有熱劑冷服，治假熱病宜之。</p>
<p>熱服：有熱劑熱服，治大寒病宜之。有寒劑熱服，治假寒病宜之。</p>
<p>溫服：有補劑溫服，氣血虛者宜之。有平藥溫服，病不犯大寒熱者宜之。</p>
<p>空心服：病在肝腎者宜。</p>
<p>食後服：病在上部者宜之。</p>
<p>有食遠方服：病在中部者宜之。</p>
<p>臨臥服：病在上部素有積者宜之。</p>
<p>一二滾服：發散治上部者宜之。</p>
<p>數十滾服：溫補治中下部者宜之。</p>

<h2>丸藥法則</h2>
<p>丸大而堅或蠟糊，治下焦病宜之。</p>
<p>丸小而鬆用水法或酒糊，治上焦病宜之。</p>
<p>丸如綠豆用蜜糊或曲糊，治中焦病宜之。</p>

<h1>卷一</h1>
<p>四君子湯（《局方》）</p>
<p>主中氣虛弱，面白，言微，肢軟，脈弱。</p>
<p>人參　白朮（各二錢）　茯苓（三錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p>張路玉曰：人之一身，胃氣為本。胃氣王則五藏受蔭；胃氣傷則百病叢生。故久虛不愈，惟有益胃補腎兩途。氣虛者補之以甘溫。四君子具坤順之德，有乾健之功，得甘溫中和之氣，專培中土，使藥氣四達。則周身之機運流通，水穀之精微敷布，有如君子成人之德也。</p>
<p>生鐵落飲（《內經》）</p>
<p>主肝陽上升，怒狂，一切急暴之證。</p>
<p>生鐵落（一兩）</p>
<p>水三杯，煮取一杯，飲水。</p>
<p>王晉三曰：鐵落生則氣寒味辛，其性直行內降，下氣疾速。用其槌出之花，庶得外走經絡，開結於木火之中。借金以平木，質重以墜陽，故治肝陽上升之怒狂立效。經云：奪其食則已。是穀食又在禁例，易以麥飯，並可鎮肝候政。</p>
<p>導赤散（仲陽）</p>
<p>主心熱移腸，口糜，舌碎，莖痛，溲黃赤。</p>
<p>生甘草梢（一錢）　木通（二錢）　生地黃（三錢）　淡竹葉（一錢五分）</p>
<p>水煎服。</p>
<p>錢鬥保曰：赤色屬心。導赤者，導心經之熱從小腸而出也。然心移熱於小腸，故不用黃連直瀉，而用生地滋腎涼心。木通苦通火府，竹葉通利小腸，甘草梢瀉最下之熱，導心經之熱也。利水而不傷陰，瀉火而不伐胃，所以為妙。</p>
<p>當歸龍薈丸（守真）</p>
<p>主肝經實火，暴厥，癇痙，脅痛，驚悸，便閉，淋癃，陰囊腫脹，耳聾，頭痛，痛經色紫。</p>
<p>當歸　黃連　黃芩　龍膽　梔子　黃蘗（各一兩）　蘆薈　麝香　青黛　大黃（各五錢）　木香（二錢五分）</p>
<p>為末，神麯糊丸。</p>
<p>汪訒庵曰：木為生火之本。肝火盛，則諸經之火併起。故以黛薈龍膽，直折其火，先平其甚者。諸火無不漸平，當歸滋養血液，以制陽光。四黃、梔子，使三焦之火悉從二便而出。木、麝泄氣開竅，靈通周至，則火自泄矣。然非實火，不可輕投。</p>
<p>普濟消毒飲（明之）</p>
<p>主風火熱毒上蒙清竅，頭面腫赤痛。</p>
<p>鼠黏子（碎）　生殭蠶（各三錢）　板藍根　羚羊角　金銀花　馬勃　元參（各二錢）　菊花（二錢五分）　茶（一錢）　甘草　薄荷（各八分）</p>
<p>為末。一半湯調頻服，一半蜜丸噙化。</p>
<p>吳鞠通曰：東垣謂邪熱客於心肺之間，上攻頭目，乃為腫痛，特製此方以治之。此方之妙，在馬勃、殭蠶。馬勃出於汙穢之地，至大不腐。蠶亦僵而不腐，故能化穢毒而使還清，以其得清氣獨全也。元、藍、甘、菊，清熱敗毒，利肺氣，制邪火。羚羊熄風平肝，避瘟疫。牛、薄、銀、茶宣泄風毒，使從表出。大抵此方皆以輕藥直走上焦，肅肺泄風，清熱消毒。噙化頻服，所謂在上不厭頻也。若不應者，宜五利大黃湯。</p>
<p>何人飲（《景岳》）</p>
<p>主瘧久元虧，心腎不交，不寐，盜汗，夜熱。</p>
<p>何首烏（搗，四錢）　人參（一錢五分）</p>
<p>水煎服。</p>
<p>錢韻之曰：久瘧元虛，邪伏不出，必用人參以托邪外泄，扶養元氣，與露姜飲為對待。久瘧元津兩虧，腎液不潮，或暑入榮分，陰液被爍，心腎不交者，宜此方。人參以生津液，首烏調和氣血，外散客邪。邪退元振，病安從來？然交藤，首烏苗也。治不寐，交陰陽者，宜用交藤為妙；如液干便澀，首烏為宜。</p>
<p>香連丸（《局方》）</p>
<p>主濕熱內阻，食滯中宮，下利赤白後重。</p>
<p>廣木香（一錢五分）　黃連（二錢）</p>
<p>神麯糊丸。</p>
<p>葉天士曰：夏秋利疾，固是濕熱積滯。古人稱曰：滯下謂滯在氣，滯在血，不獨食滯一因也。木香調氣導滯，黃連清化濕熱，二物相須，夏秋下利初起第一神方。</p>
<p>歸脾湯（《局方》）</p>
<p>思慮傷脾，驚悸健忘，不寐盜汗，心脾作痛，月經不調，面唇無色，失血過多，膚黃肢軟。</p>
<p>黃耆（炙）　人參　白朮（各二錢）　當歸（一錢五分）　茯苓　棗仁（各三錢）　木香（五分）　遠志（一錢，去心）　炙甘草（七分）　龍眼肉（四錢）</p>
<p>水煎服。</p>
<p>羅東逸曰：夫心藏神，其用為思；脾藏智，其出為意。見神智思意，火土合德者也。故脾陽苟不運，心腎必不交。彼黃婆者，若不為之媒合，而心陰何所賴以養？此取坎填離者，所以必歸之脾也。其藥一滋心陰，一養脾陽，取乎健者，以壯子益母。然恐脾郁之久，思意不通，故少取木香，以開氣醒脾，使能速通脾氣，以上行於心。脾之所歸，正在斯耳。</p>
<p>徐靈胎曰：補脾有二法，一補心以生脾血，一補腎以壯脾氣。此乃心脾同治法，補後天以生心，即所以調經，又為血虛不復之聖方。</p>
<p>射影散（椿田）</p>
<p>主沙蜮吐利，肢麻而冷，目陷脈伏。</p>
<p>衛矛　雷丸　龍齒　中黃（各三錢）　射干（一錢五分）　肉桂　附子　炮姜　琥珀（各五分）</p>
<p>為末，黃土湯調服。</p>
<p>沙蜮一證，非六氣，非七情，是射工之所傷。其物也，如蟲如鬼，不能捕捉。其傷人也，含沙射影。人影被射，即吐利交作，須臾不救，病名沙蜮。自古迄今，療治之方，惟此而已。治之之法，因其蟲也，用雷丸以殺之；因其鬼也，用衛矛以殺之；因其毒也，用射黃以解之；因其陰邪也，用龍虎以鎮之；因其傷陽也，用桂附乾薑以挽之。面面周到，可謂神妙。他如玉樞洗毒，俱可參入。若傳屍冷勞，亦可假用。但用此方，必須細審，如舌白滑，脈伏，而家家如是，然即疫證也。若有一毫熱象，忌服，宜用定亂等法為穩。</p>
<p>半夏茯苓天麻湯（明之）</p>
<p>主風痰頭痛，眩暈嘔吐。</p>
<p>半夏（薑汁製）　天麻（各一錢五分）　茯苓（三錢）</p>
<p>水煎服。</p>
<p>葉天士曰：治痰須健中，熄風可緩暈，此方是也。</p>
<p>汪訒庵曰：痰飲非苓半不能除，內暈非天麻不能定，且三味並皆益氣健脾也。</p>
<p>香薷飲（《局方》）</p>
<p>主夏感寒濕，或過生冷，頭痛，惡寒，無汗，水腫，腹痛，泄瀉。</p>
<p>香薷　厚朴（各五分）</p>
<p>水煎溫服。</p>
<p>薛生白曰：此夏令感受寒濕，或飲冷太過，陽氣為陰寒所遏。故用香薷之辛溫散寒，利水，發越陽氣。厚朴苦溫除濕而行滯也。</p>
<p>李東垣曰：香薷乃夏月解表之藥，猶冬月之用麻黃。氣虛人不可多服。今人謂能解暑，誤矣。</p>
<p>越鞠飲（震亨）</p>
<p>主氣、血、痰、食、濕、火、鬱結。</p>
<p>香附　神麯（各三錢）　蒼朮（八分）　梔子（一錢，炒）　川芎（五分）</p>
<p>水煎服。</p>
<p>費伯雄曰：大凡郁病必先氣病。氣得流通，鬱於何有？此方云統治六郁，豈有一時而六郁並集者乎？須知古人立方，不過昭示大法。氣鬱者，香附為君；濕鬱者，蒼朮為君；血鬱者，川芎為君；食鬱者，神麯為君；火鬱者，梔子為君。相其病在何處，酌量加減，方能得古人之意，而不泥古人之旨。讀一切方書，皆當作如是觀。</p>
<p>郁李飲（仲陽）</p>
<p>主驚恐後邪襲肝膽，驚悸夢惕，目不得瞑。</p>
<p>郁李仁（酒浸，三錢）</p>
<p>水酒煎服。</p>
<p>薛生白曰：滑可去著，郁李仁性最滑脫。錢氏治驚恐後，肝系滯而不下，始終目不瞑者，邪留於膽。膽為清淨之府，藏而不瀉，是以病去而內留之。邪不去，寐則陽氣行陰，膽熱內擾，肝魂不寧，用郁李仁以泄邪。必用酒浸者，以酒氣獨歸膽也。</p>
<p>牛黃清心丸（謐齋）</p>
<p>主溫邪內陷胞絡，神昏譫語。</p>
<p>牛黃（二分五釐）　辰砂（一錢五分）　黃連（五錢）　黃芩　梔子（各三錢）　鬱金（二錢）</p>
<p>蒸餅糊丸，湯調服。</p>
<p>王晉三曰：溫熱入於心胞，邪在裡矣。草木之香，僅能達表，不能透里。牛黃幽香物，性乃能內透胞絡，與神明相合。芩、連、梔子瀉心火，鬱金通心氣，硃砂鎮心神，合之牛黃相使之妙，定建奇功。</p>
<p>玉女煎（《景岳》）</p>
<p>主水虧火盛，牙疼，吐衄。</p>
<p>石膏　生地（各五錢）　麥冬（二錢）　知母　牛膝（各一錢五分）</p>
<p>水煎服。</p>
<p>錢韻之曰：少陰之陰不足，陽明之火有餘，水虧火盛，血熱妄行。故以膏冬一瀉陽明之火，一滋陽明之液；知地一清少陰之火，一補少陰之水。使以牛膝滑通下竅，則二經之火咸從下趨矣。下部不固者忌服。</p>
<p>蔥豉湯（《肘後》）</p>
<p>主外感初起，惡寒，頭痛，畏風，無汗。</p>
<p>蔥白（一握）　豆豉（一升，綿裹）</p>
<p>水煎服。</p>
<p>華岫云曰：在內之溫邪欲發，在外之新邪又加，此方最為捷徑，表分可以肅清。</p>
<p>王孟英曰：葉氏於新邪引動伏邪，亦主是方，蓋此方為外感初起必用之藥。石頑謂虛人產後感冒，靡不隨手獲效。然胎前外感，未嘗不是妙劑。</p>
<p>威喜丸（《局方》）</p>
<p>主飲食積滯，蟲痞脹滿，久瘧利，沉冷積塞。</p>
<p>木香　肉蔻（各四錢）　炒乾姜（二錢五分）　巴豆（二十粒，去油）　杏仁（四十粒）　百草霜（五錢）</p>
<p>為末，黃蠟一兩五錢，酒煮一時，去酒，將蠟入麻油七錢，拌勻，趁熱丸如綠豆大，每服三十丸。</p>
<p>冷積於脾，非香、蔻、乾薑不能溫，巴、杏、麻油不能下。飲食於胃，全賴命火烹煮，乃能輸散。若火一衰，則食冷而停滯。百草霜釜下之墨，能扶命火，所謂釜底添薪之法。蠟和則不傷中而緩下積滯也。</p>
<p>徐靈胎曰：用蠟之義最精。凡治積，新病宜急下，久病宜緩下。此方治久患寒積之症，乃緩下法也。</p>
<p>補心丹（《道藏》）</p>
<p>主思慮過度，心血不足，怔忡，健忘，舌瘡。</p>
<p>生地（四錢）　人參　元參（炒）　丹參（去頭尾）　茯神　桔梗　遠志（炒，各五錢）　棗仁（炒）　柏仁（炒，去油）　天冬（炒）　麥冬（炒）　當歸身　五味子（炒，各一兩）</p>
<p>為末，蜜丸，朱衣，淡鹽湯送下。</p>
<p>柯韻伯曰：心者屬火，所以主之者，神也。火盛則神困。心藏神，補神者必調其心，補心者必清其火，而神始安，則心能任物矣。</p>
<p>葉天士曰：養神通志，補而兼清，制伏蹺陽道路，則榮液升降如常矣。</p>
<p>此方之妙，在於桔、遠。凡思慮過度，必心氣抑鬱，鬱則化火，火盛則血液傷而心神困憊矣。若徒用參、地、冬、歸等滋陰清火，不特郁不能開，而脾胃素弱者得無妨食作瀉之慮乎？佐此二味則藥不礙鈍，且桔梗能宣心之郁，遠志可交通心腎。心郁開，則火鬱散，而滋血清火得其益矣。腎水上濟，則心神得養，則聰明開而記憶強矣。然病來非暴，故用丸劑以緩調也。若歸脾之木香，妙香之麝香，逍遙之柴胡，皆此意也。</p>
<p>致和湯（天士）</p>
<p>主溫熱病後津液不復，胃氣不醒，口渴不寐，寐醒咽乾，不飢不食，便不通爽。</p>
<p>石斛（三錢）　穀芽（五錢）　南沙參（一錢五分）　麥門冬（搗，一錢）　貝母（去心，二錢）　茯神（二錢五分）　枇杷葉（去毛，四錢）　甘草（五分）</p>
<p>水煎服。</p>
<p>華岫云曰：凡著書立說，竟將脾胃總論。今觀葉氏之書，始知脾胃當分析而論，蓋藏府體用各殊也。其立論云：納食主胃，運化主脾，脾宜升則健，胃宜降則和。太陰濕土得陽始運，陽明陽土得陰自安，以脾喜剛燥，胃宜柔潤。凡遇稟質木火之體，患燥熱之證，或病後熱傷津液，以致九竅不和，都屬胃病。先生必用降胃之法。所謂胃宜降則和者，非用辛開苦降，亦非苦寒下奪，以損胃氣，不過甘平或甘涼濡潤，以養胃陰，則津液來復，使之通降而已矣。此義即宗《內經》所謂「六府者傳化物而不藏」，以通為用之理也。</p>
<p>徐靈胎曰：此病解之善後方也。蓋大病之後必有留熱，治宜清養。後人概用峻補，以留其邪，則元氣不能驟復，愈補愈虛矣。</p>
<p>王孟英曰：凡溫病後氣液兩虧，不能峻補，皆可以此湯調理。方出葉案，惜未有名，世人每多忽略，故因名其方曰：致和。謂於撥亂返正之後，以致中和，則天地位，萬物育化日舒長，更何復病之有哉？</p>
<p>麻蘇飲（叔微）</p>
<p>主老人，產後，血液衰少，大便不通。</p>
<p>蘇子　麻仁（各等分）</p>
<p>擂汁飲。</p>
<p>葉天士曰：血液枯燥，風秘便艱，皆可取用。一以降氣，一以潤腸，雖藥味殊常，而功效甚捷。</p>
<p>三仙丹（飛霞）</p>
<p>主冷食積滯，脾氣被遏，痢疾誤澀。</p>
<p>五靈脂（二兩）　木香（五錢）　巴豆仁（四十粒，去油）</p>
<p>神麯糊丸。</p>
<p>此方為冷食填於太陰而設，與承氣為對待。彼則熱結於胃，此則寒滯於脾也。故以木香宣揚脾氣，靈脂導滯化食，巴霜通便下積也。若輕者，用保和丸。</p>
<p>犀角地黃湯（《局方》）</p>
<p>主陽明熱盛，少陰水弱，血熱妄行，牙宣吐衄，口糜舌碎，大便黑瘀。</p>
<p>犀角　芍藥　丹皮（各三錢）　生地黃（一兩）</p>
<p>水煎服。</p>
<p>吳鞠通曰：邪在血分，熱爍血液。故以犀角入血分清熱，引腎水上濟心火；地黃去結熱積聚而補陰；芍藥去瘀血，安新血；丹皮瀉惡血，並血中伏火也。</p>
<p>大殺鬼丸（曉瀾）</p>
<p>主鬼祟作狂，罵詈不避親疏，逾垣上屋。</p>
<p>虎頭骨（三兩）　藜蘆　鬼臼　天雄　皂角　雄黃（各一兩）　桃木屑（酒浸，一合）</p>
<p>為末，蜜丸，硃砂、金箔為丸。</p>
<p>錢韻之曰：鬼祟為患，必亂有情識之藏，大要不出心肝膽三經；必元氣不振，鬼祟能附，附則擾亂神明，無所不作。故以虎頭骨之威以辟邪，藜、皂、鬼臼搜逐痰血。蓋祟附必神魂離宅，痰血輦入，與鬼為伍。去其痰血，則祟無依附，復以二雄、桃、朱、金箔純陽之物，迅掃陰邪，鬼祟焉有不去之理哉？或兼服玉樞丹亦可。但邪祟一去，即當大補，元氣得強，邪無容足矣。</p>
<p>青蒿白薇湯（孟英）</p>
<p>主熱入陰分，夜瘧有汗，經淡超前。</p>
<p>青蒿（三錢）　白薇（二錢）</p>
<p>水煎服。</p>
<p>暑熱入營，肝血熱熾，必脈數，舌紅，故用白薇清陰血之熱，青蒿領從少陽而外泄。凡冬溫鬱火在血分，皆宜用也。</p>
<p>涼膈散（守真）</p>
<p>主時邪蘊熱，內閉膈間，身熱少汗，目赤，口渴，口瘡，唇乾，吐衄，昏煩，便閉，發斑，發狂。</p>
<p>連翹（四兩）　大黃（酒浸）　甘草　芒硝（各二兩）　梔子（炒）　黃芩（酒炒）　薄荷（各一兩）</p>
<p>為末，竹葉十片，白蜜一匙，湯調服。</p>
<p>王晉三曰：膈者，膜之橫蔽，遮隔濁氣，不使上熏心肺者。凡蘊熱內閉於膈，其氣先通心、肺、膻中。火燔氣機似痹，自當內外分消，故以薄荷辛涼發散，芩、甘甘苦化陰，梔、翹、芒硝從心、小腸而下泄，大黃引熱下行。為散者，取「散以散之」之義。庶幾燎原之場，頃刻為虛靈之府。古人贊其神妙，信哉！</p>
<p>喻嘉言曰：風火上炎，胸膈正燎原之地，所以清心寧神轉舌，涼膈之功居多，不可以宣通腸胃，輕訾之也。</p>
<p>花蕊石散（可久）</p>
<p>主血凝壅聚，胸膈進痛，湧血色黯，血逆血暈，胞衣不下，腳氣衝心。　</p>
<p>青、花蕊石等分，為末，童便調服。</p>
<p>張石頑曰：此破血之峻劑。功專化血為水，故主陰凝暴湧之血，或瘀血上衝之證。葛氏與十灰散並出，不分寒熱主治，當知十灰主火炎上湧。此方專導陰凝，其用童便使所化之血，領從下出，且能降逆而止暈也。</p>
<p>生脈散（《千金》）</p>
<p>主熱傷元氣，氣短倦怠，口渴多汗，脈散大。</p>
<p>人參（三錢）　麥門冬（一錢五分）　五味子（一錢）</p>
<p>水煎服。</p>
<p>吳鶴皋曰：一補、一清、一斂，養氣之道備矣。脈得氣則充，故名生脈也。</p>
<p>徐靈胎曰：此傷暑之後，存其津液之方也。即復脈內取參、麥二味。以止汗，故加五味。近人不論何病，每用此方，收住邪氣，殺人無算，蓋本為邪淨元虛而用也。</p>
<p>半夏湯（《內經》）</p>
<p>主陰陽不交，目不得瞑。</p>
<p>半夏（五合，治）　秫米（一升）</p>
<p>勞水揚之萬遍，取清者，葦薪煮沸，內藥再煎，飲一小杯，以知為度，汗出則已。</p>
<p>蔣寶素曰：經謂胃不和則臥不安。陰虛則不寐。胃者衛之原，不和則衛氣獨行於陽，不入於陰，則陽蹻脈盛，目不得瞑。半夏生當夏半，感一陰而生，調和陰陽。秫米假道胃衛，以入脾陰，而達陽蹻。復用流水輕揚，葦薪武火，寓升降交通之意。陰陽和，臥立至矣。</p>
<p>三才湯（潔古）</p>
<p>主陰虧內熱，自汗，盜汗，夜熱，目眩，乾咳。</p>
<p>天門冬（二錢）　人參（三錢）　生地黃（四錢）</p>
<p>水煎服。</p>
<p>汪訒庵曰：藥有天地人之名，而滋補亦上中下之分，使天地位育，參贊居中，故曰三才。為熱傷陰液神方。</p>
<p>香附旋覆花湯（鞠通）</p>
<p>主邪留於絡，脅痛，咳嗽，寒熱，痞塊，嘔逆，脘痛，腹痛，奔豚。</p>
<p>香附（三錢，搗）　旋覆花（二錢，綿裹）</p>
<p>水煎服。</p>
<p>邪氣久羈，內留經絡，抑鬱傷肝，木土失和，故以香附疏肝解鬱，調氣和絡；旋覆和肝逐飲，疏通經絡，旋轉中樞。二味相需，庶經絡通而木土和，邪郁焉有不解之理乎？且不論內傷外感、新久、實虛、氣血，皆建奇功，誠有利無弊之良方也。惟大便泄瀉者忌用。</p>
<p>清燥救肺湯（嘉言）</p>
<p>主諸氣膹郁，秋燥傷肺，乾咳，痿，喘，嘔。</p>
<p>桑葉　石膏（各三錢）　甘草　胡麻（炒，各一錢）　阿膠（八分）　麥冬（一錢五分）　人參　杏仁（各七分）　枇杷葉（三片，去毛）</p>
<p>水煎服。</p>
<p>王晉三曰：燥曰清者，燥為火氣，當清以潤之；肺曰救者，肺為嬌藏，不容緩圖，當急救也。喻云胃為肺之母，故以膏、冬、參、草生津補土，潤燥養肺；桑、杏、枇杷清肅肺金氣化；胡、膠壯生水之源。雖亢火害金，水得承而制之，則肺清肅而治節行，尚何有喘嘔痿厥之患哉？</p>
<p>二至丸（楊起）</p>
<p>主腎陰不足，風陽上升，牙宣吐衄，頭痛眩暈。</p>
<p>女貞子（一兩）　旱蓮草（七錢）　桑椹（一兩，熬膏）</p>
<p>為末，膏丸。</p>
<p>女貞益肝補腎，並瀉相火；旱蓮補陰益精，並熄內風；桑椹流通關節，滋養營血。二藥採於冬夏二至，又能暗轉陰陽也，故陰虧人最宜長服。</p>
<p>滋腎丸（明之）</p>
<p>主熱閉下焦，陰火上衝，癃淋，呃忒，口不渴。</p>
<p>黃蘗（酒炒）　知母（酒炒，各二兩）　肉桂（一錢）</p>
<p>為末，蜜丸。</p>
<p>李明之曰：小便者，膀胱所主，生於肺金。肺中伏熱，水不能生，是絕小便之源也。渴而小便不通者，肺氣不得降也，故用氣薄淡滲之藥，瀉火而清肺金之正化，滋水之化源也。若熱在下焦而不渴，是絕其流而溺不泄也，須用氣味俱厚之藥，除其熱而泄其閉也。一燥一潤相須為用，佐以肉桂，寒因熱用，伏其所主而先其所因，則鬱熱從小便出而關開矣。又陰火上衝，吸氣不入，陰中伏陽，衝脈上衝，呃忒牙宣，巔痛連足夜甚者，用之立效。</p>
<p>王孟英曰：此能引肝火迅速下行。若夾風者，宜龍薈丸，大泄風陽，直折肝膽逆升之火，所當分析也。</p>
<p>費伯雄曰：腎水大虧，不能制火，飛龍上亢。此方用知、柏以象二陰，肉桂以象一陽，仍取坎卦之義，以通生化之原，意義極精，非尋常導龍歸海也。</p>
<p>羅東逸曰：此方以黃柏之苦以堅腎，則能伏龍雷之沸火，是謂浚其原而安其流；知母之清以涼肺，是謂沛之雨而騰之露。然恐水火不相入而相射，故益以肉桂為反佐，兼以導龍歸海也。</p>
<p>左金丸（震亨）</p>
<p>主肝火上逆，木乘土位，脘痛，吐嘔，疝瘕。</p>
<p>黃連（六兩）　吳茱萸（一兩）</p>
<p>為末，水丸。</p>
<p>葉天士曰：此方瀉肝，謂肝家鬱火上衝，大苦寒降其火，大辛熱泄其氣。</p>
<p>汪訒庵曰：黃連瀉心清火，茱萸解鬱，引熱下行。一者正治，一者反治，故能相濟以立功也。名曰左金，謂火熱清則金令行於左而肝自平。</p>
<p>坎離丹（《聖濟》）</p>
<p>主心腎不交，面赤，不寐，怔忡，眩暈，舌碎。</p>
<p>枸杞子（五錢）　元參（一兩）　甘草（三錢）</p>
<p>同搗，為丸，湯調服。</p>
<p>心屬離火在上，腎屬坎水在下。離中耦畫生陰，心氣日欲下交；坎中奇畫生陽，腎氣日欲上承。火水相交，何病之有？苟失其交，疾瘲蜂起。杞子甘溫，助君火之神；元參苦寒，滋天一之精氣。欲交上下，必調其中，甘草甘平，和中養胃，交合腎心，則火來坎戶，水到離宮，中樞旋運，而諸病自痊矣。陰陽水火，雖屬一氣，微有分別。如半夏、何人交陰陽也，是方交心腎也。交陰陽者，橫也；交水火者，縱也。</p>
<p>火劑湯（倉公）</p>
<p>主陰寒凝結，二便不通，勢甚危急。</p>
<p>硫黃（二錢）　火硝（一錢）　巴豆（三粒）</p>
<p>長流水煮，冷服。</p>
<p>錢韻之曰：陰濁上干，下寒竊踞，腹痛便閉，此為陰結，其勢孔亟。諸寒攻下，附和其陰，多見格拒。半硫來復，無迅速之功，非此剛劑不可。硫黃純陽石火之精，大破陰寒格拒，補助命火，疏利大腸，宣導濁陰，得火硝純陽之藥，同氣相求，迅掃濁陰。使之下趨，即以巴豆之猛，急通大便，便通則濁陰下出，清陽得闢矣。流水者，取其行速也。名曰火劑，謂此劑如火之烈，如火之急，刻不容緩之詞也。</p>
<p>犀角地黃湯（晉三）</p>
<p>主溫熱入絡，神煩有汗，諸藥不效者。</p>
<p>犀角　連翹（各三錢）　生地（五錢）　甘草（五分）</p>
<p>水煎服。</p>
<p>王晉三曰：溫熱入絡，舌絳，脈數，八九日不解，經寒之、散之、攻之，熱勢並熾，得此立效者，非解陽明熱邪，解心經絡熱也。犀地走心經，專解營熱；連翹入心散客熱；甘草入心和血絡，以治熱邪入絡，於理無悖。</p>
<p>大補陰丸（震亨）</p>
<p>主陰虛陽浮，牙宣，齒痛，面赤，遺精。</p>
<p>黃蘗　知母　生地（各四兩）　龜膠（二兩）</p>
<p>為末，膠丸。</p>
<p>葉天士曰：五志過動，龍相無制，陰精走泄。欲固其陰，先和其陽。和陽之道，在補陰以潛陽，故取介以潛陽，苦以堅陰，甘以補陰也。</p>
<p>龍膽瀉肝湯（《局方》）</p>
<p>主肝膽實火、濕熱，耳腫，陰挺，淋濁。</p>
<p>龍膽（酒炒，一錢）　黃芩（酒炒）　梔子（炒，各一錢五分）　木通（八分）　甘草（三分）</p>
<p>水煎服。</p>
<p>錢韻之曰：肝膽實火、濕熱，左脈必見弦數。龍膽花開青碧，得龍膽之名，龍乃東方之神，膽屬少陽甲木，稟東方木氣，而味苦澀寒，主清斂肝膽之火，化濕瀉熱，一名游龍，行性至速，竄絡最急，故以為君。黃芩清內外濕火，梔子瀉上下濕火。合草木之通泄火府，庶周身諸火一齊從小便而泄。名曰瀉肝，謂五藏之火，肝必先生；五志化火，都從肝出。言肝則可概其餘也。</p>
<p>白虎加地黃湯（孟英）</p>
<p>主溫病氣血兩燔，身熱多汗，目赤，口渴引飲。</p>
<p>石膏　生地（各一兩）　甘草（一錢）　知母（五錢）</p>
<p>水煎服。</p>
<p>溫邪化火，津液欲竭。氣血兩燔，不得不用氣血雙清之法。故用白虎退氣熱，救胃津，肅肺氣，合生地清血熱，保津液，則氣血邪熱，一齊掃清矣。然必舌絳，苔黃，脈洪，自汗，方可用之，較化斑湯為淺一層立法。</p>
<p>玉液湯（《濟生》）</p>
<p>主肝風痰飲，眉稜骨痛。</p>
<p>半夏（治，二錢）　沉香（七分）</p>
<p>水煎服。</p>
<p>肝風挾痰飲上逆，急治之方，惟此耳。方取半夏消痰滌飲。大凡木物，入水必浮，此則沉而不浮，故降肝風之上僭也。</p>
<p>紫雪（《局方》）</p>
<p>主內外煩熱不解，狂易叫走，發斑發黃，口糜，腳氣，瘴毒，蟲毒，熱毒，藥毒，鬼魅，驚癇。</p>
<p>黃金（一百兩）　寒水石　石膏　滑石　磁石（水煮，各三斤，搗，去渣，入後藥）　升麻　元參　甘草（炙，各八兩）　犀角　羚羊角　沉香　木香（各五兩）　丁香（一兩，並搗，銼，入前藥汁中，煎去渣，入後藥）　朴硝　硝石（各二斤，剔淨，入前藥汁中，微火煎，不住手將柳木攪後，汁欲凝，再加入後二味）　辰砂（三兩，研末）　當門子（一兩二錢，入藥拌勻）</p>
<p>冷水調服。</p>
<p>葉天士曰：溫熱時癘，上行氣分而漸及血分，非如傷寒六經順傳經絡者，大抵熱氣鴟張，必熏蒸經絡內竅，故昏躁脹悶，皆里竅之欲閉，非此芳香逐穢宣竅，開深伏之熱，入藏府搜錮閉之邪，安有轉機？</p>
<p>徐靈胎曰：邪火毒火，穿經入藏，無藥可治。此能消解，其效如神。</p>
<p>邵步青曰：煩躁發狂，症在陽明，清熱攻下，用而不效，其毒深矣。草木無功，進求金石。黃金稟中央陰已之氣，合西方從革之行，且能鎮定，可肅妄炎。五石有冰霜之度，二角有凜冽之風，元參補其北，硃砂瀉其南。制以四香，無增氣之虞。君以朴硝，有隆冬之象。群陰並集，賴升麻以導入陽明。雖有苛毒，行且消矣。方名紫雪，取其色，表其功也。</p>
<p>滲濕化毒湯（錦庭）</p>
<p>主下焦濕毒挾熱，淋濁，足腫或痛。</p>
<p>萆薢　黃蘗　防己　忍冬（各等分）</p>
<p>水煎服。</p>
<p>此方一以利便，一以堅陰，一以通絡，一以解毒，四味並有滲濕清熱之功。</p>
<p>當歸補血湯（明之）</p>
<p>一切血虛血脫，症似白虎。</p>
<p>當歸（二錢）　黃耆（一兩）</p>
<p>水煎服。</p>
<p>吳鶴皋曰：凡甘皆補。黃耆補氣，當歸補血。今耆多數倍，而云補血者，以有形之血不能自生，生於無形之氣故也。經言陽生陰長，是之謂耳。症似白虎者，虛其陰血而陽獨治也。</p>
<p>化斑湯（鞠通）</p>
<p>主陽明熱盛，赤斑。</p>
<p>石膏（一兩）　知母　元參（各四錢）　犀角　甘草（各二錢）　粳米（一合）</p>
<p>水煎服。</p>
<p>吳鞠通曰：陽明主肌肉。斑家遍體皆赤，自內而外，故以石膏清肺胃之熱，知母清金保肺而治陽明獨勝之熱，甘草清熱解毒和中，粳米清胃熱而保胃液，元參啟腎水上交於肺，庶水天一氣，上下循環，不致泉源暴絕也；犀角救腎水以濟心火，托斑外出，而又敗毒闢瘟也。再病至發斑，氣血皆病，故加二味涼血也。</p>
<p>牛黃膏（震亨）</p>
<p>主熱入血室，瘀結不行，日清夜昏。</p>
<p>牛黃　硃砂　鬱金　丹皮（各三錢）　冰片　甘草（各一錢）</p>
<p>為末，蜜丸，新水化服。</p>
<p>錢韻之曰：熱入血室，不特婦人，男子血後間或有之。其治有四：大約熱阻血瘀，宜清熱以行瘀；熱迫血行，宜導熱以安榮；血去熱湊，宜養營以徹熱；熱血相摶，畜血如狂，舌色紫絳，宜此方行瘀以祛熱，清氣以化結。牛黃產自牛腹，原從氣血而成，混處氣血之邪，藉此破其蘊結。余則行瘀泄熱，共襄清神開竅之功耳。</p>
<p>雪羹（《千金》）</p>
<p>主肝火痰飲，胸脅作痛，脘痞，便秘，癃淋。</p>
<p>地慄（四枚，搗）　海䖳（一兩，漂淡）</p>
<p>水煎服。</p>
<p>王晉三曰：羹，食物之味調和也；雪，喻其淡而無奇，有清涼內沁之妙也。地慄味甘緩急，海䖳味鹹軟堅，並皆性寒滑利。凡肝火痰飲為患者，用以清火泄熱，和肝潤燥，化痰消滯，有如湯沃雪之神。</p>
<p>王孟英曰：木熱則脂流，斷無肝火盛而無痰者。海䖳本水結成，煮水可化為水，故消火煉津液之痰。地慄清肝家之火最為神妙。</p>
<p>銀花解毒湯（錦庭）</p>
<p>主風火熱毒自衛入營，疫疹痧，神昏。</p>
<p>銀花（三錢）　地丁（四錢）　犀角（五分）　甘草（一錢）</p>
<p>水煎服。</p>
<p>葉天士曰：疫癘穢邪，從口鼻吸入，風溫由皮毛襲入，自氣分而及血分，內伏為熱，久蘊成毒，逆走膻中，當清血絡，以防結閉。然必大用解毒，以祛其邪，庶無內閉外脫之虞。</p>
<p>瓊玉膏（鐵甕）</p>
<p>主血液衰少，乾咳，吐血。</p>
<p>生地黃（四斤，搗汁）　茯苓（十三兩）　人參（六兩，各研末）　白蜜（二斤）</p>
<p>上四味調勻，磁器貯，用紙封口，隔水煮三日夜取出，懸井中，米飲沖服。</p>
<p>此潤燥主方也。地黃甘寒，多滋多汁，大補津血，啟腎水上滋於肺；人參益氣以生津血；茯苓培後天生長之氣；白蜜甘平柔潤，可以固肺元，可以潤肺燥，可以緩其急，可以滋津汁。其妙用在於生物隔水煮，則不失清和之氣，而無烈火之性。大凡治上焦者，皆當用生。此滋補之藥，恐生服力薄，故隔水煮之，則體質柔潤，滋養上焦津血。其名曰膏。膏者，補物也。郭機云：起吾沉瘵，珍賽瓊瑤。膏名瓊玉，有取乎此。故徐氏贊為血症乾咳第一效方。凡滋補上焦之藥，皆宜仿此。</p>
<p>羚羊角散（錦庭）</p>
<p>主風熱夾肝陽上逆頭脹，耳腫，目赤痛，牙緊，鸕鷀瘟。</p>
<p>羚角（二錢）　夏枯（三錢）　象貝（二錢五分）　桑葉（四錢）　丹皮（一錢五分）　甘草（五分）</p>
<p>水煎服。</p>
<p>錢韻之曰：風溫偶襲少陽，肝陽上逆。羚角色白味辛，外散風熱，內熄肝陽；夏枯和陽泄風；貝母散風清熱；甘草解毒緩急；桑葉清少陽絡中氣分，宣表泄邪；丹皮清少陽絡中血分，兼泄火熱。合而論之，共襄熄風清熱之功耳。當與普濟消毒飲互相參用，庶無誤也。</p>
<p>桑菊飲（鞠通）</p>
<p>主風溫傷肺，咳嗽，身熱，畏風，頭痛。</p>
<p>桑葉　菊花　牛蒡（搗，各三錢）　薄荷　甘草（各五分）　杏仁（去皮尖）　土貝（各二錢）</p>
<p>上以水煮沸，入薄荷，溫服取汗。</p>
<p>吳鞠通曰：肺為清虛之藏，微苦則降，辛涼則平。立此方，清肅上焦，宣通腠表，不犯中下，無開門揖盜之弊，有輕可去實之能。此葉氏立法，所以迥出諸家也。</p>
<p>硃砂安神丸（明之）</p>
<p>主熱傷心胞，氣浮心亂，虛煩，口糜。</p>
<p>硃砂　黃連（各五錢）　甘草（二錢）　當歸（二錢五分）　生地（三錢）</p>
<p>為末，蒸餅糊丸，硃砂為衣。</p>
<p>張石頑曰：凡言心經藥，都屬心胞。惟硃砂外稟離明，內含真汞，故能交合水火，真入心藏。但其性徐緩，無迅掃陽焰之速效，是以更需黃連之苦寒，以直折其勢。甘草之甘緩，以款其微，俾膈上之虛火、實火，悉從小腸而降泄。允為勞心傷神，動作傷氣，擾亂虛陽之的方，豈特治熱傷心胞而已哉？然其奧又在當歸之甘溫養血；地黃之濡潤滋陰，以杜火氣復熾之路。其動靜之機，多寡之制，各有至理。良工調劑之苦心，其可忽諸？</p>
<p>紫金錠（龍宮）</p>
<p>主諸毒瘟疫，山嵐瘴氣，癰疽諸腫，鬼祟陰邪，穢濁霍亂，毒蟲獸咬。</p>
<p>山茨菇（去皮，焙）　五倍子　千金霜（各二兩）　紅牙戟（焙，一兩）　硃砂（飛）　雄精（各五錢）　麝香（三錢）</p>
<p>為末，糯米飯糊作錠子，端午、七夕、重陽日合，忌見婦人、孝服、殘疾、畜生。不拘內服外敷，並用水磨，無不立效。</p>
<p>徐靈胎曰：此仙方也。用藥之奇，不可思議，乃秘藥中之第一方也。</p>
<p>王孟英曰：虛人、孕婦忌服。又不可與甘草藥同進也。</p>
<p>雞矢醴（《內經》）</p>
<p>主臌脹，心腹滿，旦食則不能暮食。</p>
<p>雞矢白（一升）　老酒（二斤）</p>
<p>燉熱，漬雞矢，趁溫，囊，絞汁服。</p>
<p>張隱菴曰：雞矢白，雞之精也，屬陽明秋金，在卦配巽風木。此乃脾土艱於運化，以致脹滿不食，風木製化土氣，陽明燥合太陰。醴主補益中土而先行營衛也。</p>
<p>瀉青丸（仲陽）</p>
<p>主肝膽風火，不能安臥，多驚多怒，目赤腫。</p>
<p>龍膽　梔子　大黃　芎藭　羌活　當歸　防風（各等分）</p>
<p>蜜丸，竹葉砂糖湯下。</p>
<p>瀉青者，瀉肝膽風火之有餘也。肝為厥陰而屬風，膽為少陽而屬火。本經風火迅速上行，安得不用大苦大寒以直折？龍膽大苦澀寒，熄風折火；防、芎、羌活，宣散火風鬱結。當歸滋陰養血，血行則風自滅，陰充則陽自息，所以杜風火熾盛之原也。大黃通大府，梔子通火府，庶邪有出路也。蜜丸不使傷中，且緩風火之急，此與龍薈丸大同小異。所以者，彼重此輕也。</p>
<p>磁朱丸（《千金》）</p>
<p>主心腎不交，虛陽上越，神光短少，耳鳴，狂。</p>
<p>磁石（二兩）　硃砂（一兩）</p>
<p>為末，生神麯糊丸。</p>
<p>柯韻伯曰：天一之真水不足，地二之虛火妄行，所謂天氣者蔽塞，地氣者冒明。天明則日月不明，則邪害空竅。朱稟南方離火而中懷嬰奼，降無根之火而安神明；磁稟北方坎水而外發氤氳，吸肺金之氣，歸藏腎水。二石體重而性降，氣寒而涼陰，真匡正辟惡之靈物也。生曲和脾，發越石性，上交心神，下達腎志。志同道合，奏功可立俟也。</p>
<p>增液湯（鞠通）</p>
<p>主熱結液干，便閉，口渴。</p>
<p>元參（一兩）　麥冬　細生地（各八錢）</p>
<p>水煎服。</p>
<p>吳鞠通曰：虛人熱結液干，承氣急下，嫌其峻猛，則以此方代之。元參壯水制火，啟腎水上潮於天；生地增液，兼能走絡；麥冬迴護其虛，務存津液，為陰虛陽亢之良法。妙在潤腸通便，腸為津液之府，便通則液自生矣。甚者合肉蓯蓉湯。</p>
<p>達原飲（又可）</p>
<p>邪踞膜原，寒熱如瘧，口不知味。</p>
<p>檳榔　厚朴　草果　知母　黃芩（各等分）</p>
<p>水煎服。一劑寒熱大作，二劑即止。</p>
<p>邵步青曰：時逢雨濕潮蒸，鬱勃穢濁之氣，口鼻觸受，直走胃絡膜原，分布三焦，初起全在氣分。草果辛溫雄烈，除盤結之伏邪；厚朴破戾氣所結；檳榔疏利時邪，直達膜原，使邪氣潰散也。</p>
<p>何報之曰：此方初起舌苔白滑厚膩者可用，若病成熱熾，用此恐無濟而反增其病也。</p>
<p>露姜飲（《局方》）</p>
<p>主元虛瘧久不愈。</p>
<p>人參　生薑（各等分）</p>
<p>露水煎服。</p>
<p>王孟英曰：邪衰正餒而瘧纏綿不已者，始可用以截之。白露降而炎暑消，故取秋露以滌餘邪。</p>
<p>葉天士曰：久瘧氣餒，故一以固元，一以散邪。</p>
<p>蘭草湯（《內經》）</p>
<p>主脾癉口甘，濕濁上蒙，胸悶泛惡。</p>
<p>蘭草（一握）</p>
<p>水煎服。</p>
<p>邵新甫曰：葉氏謂脾癉，乃濕熱氣聚，與穀氣相摶，盈滿則上泛。《內經》設一蘭草，足以散結化濁，除陳解鬱，為濕濁泛溢之良方也。</p>
<p>王孟英曰：天士謂蘭草為佩蘭，洄溪云建蘭，余謂山蘭葉，以清逸勝，功並竹茹。省頭草，以猛烈勝，略同草蔻。臨證施治，各有所宜也。</p>
<p>斑龍托裡湯（伯雄）</p>
<p>主瘧久邪入陰分，元陽陷伏，寒多熱少，腰項折，三陰瘧疾。</p>
<p>鹿角　蟬衣（各一錢）　人參　當歸　山甲　䗪蟲　半夏（治，各一錢五分）　鱉甲　龜甲（各三錢）　生薑（三片）　大棗（五分）</p>
<p>水煎服。</p>
<p>錢韻之曰：大凡瘧疾既久，勞傷陽氣，當知有內損邪陷之理。考《內經·瘧論》曰：「邪客於風府，循膂而下。」衛氣一日一夜大會於風府，其明日日下一節，故其作也晏。其道遠，其氣深，其行遲，不與衛氣俱行，不得皆出也。倘邪氣久羈，陽氣傷矣。其道遠矣，其氣深矣，其來久矣，其作晏矣。督脈不能總督諸陽，邪伏陷而不出，故用鹿角自督脈升陽托裡，以發陷伏之邪。蟬衣其脫從背，能使陷膂之邪外出。又恐邪久深伏，必假瘀痰為伍，故以三甲、䗪、半，攻逐瘀痰，且可調合陰陽。同薑棗以和營衛。然此猛攻之藥，非久病所宜，得參、歸通陽補虛，斯為備耳。督脈有權，邪氣自出，營衛循環常度，瘧疾焉有不止之理哉？</p>
<p>凡治瘧者，和陰陽，泄邪氣，此千古不易之成法。即柴胡治瘧，半貝、何人皆不離此義也。惟是病久入深，邪混氣血，則非此等套方所能治矣。若此方亦和陰陽而徹邪耳。假使和營衛之陰陽不能效，須通督任之陰陽。督任二經，陰陽之宗。故此方以鹿角升督脈，龜板通任脈，使任督交而陰陽和；䗪、蟬、山、鱉，搜剔氣血絡中沉混之邪；參、歸、薑、棗，填補氣血，使邪氣無容留之地；半夏領邪氣由陰以達陽外出。方名托裡，確有此義。</p>
<p>金沸草散（用和）</p>
<p>主外受風寒，伏飲上逆，咳嗽，惡寒，痰喘。</p>
<p>金沸草　荊芥　前胡　赤芍（各二錢）　麻黃（四分）　甘草（五分）</p>
<p>水煎服。</p>
<p>汪訒庵曰：麻黃、荊芥發汗而散寒；前胡、金沸降氣而滌痰飲；風傷衛，寒傷營，芍藥色赤走血，所以領營分之邪外出；甘草調和諸藥而緩風急也。</p>
<p>清心丸（丹溪）</p>
<p>主相火妄動，陰虧濕熱，夢遺帶下。</p>
<p>黃蘗（一兩）　冰片（少許）</p>
<p>為末，蜜水法丸。</p>
<p>朱震亨曰：主秘藏者，腎也；司疏泄者，肝也。二藏有相火，而其繫上屬於心。心，君火也，為物所感，則易於動心，動則相火翕然隨之。雖不交會，精亦暗流滲漏矣。此方以黃柏一味獨瀉相火，清濕熱堅陰，而治中年相火盛，夢遺，心悸，或帶下日久者，屢用屢效也。</p>
<p>三仁湯（鞠通）</p>
<p>主濕溫阻氣，惡寒，身熱，多汗，胸痞，口不渴。</p>
<p>杏仁　苡仁（各三錢）　蔻仁（五分）</p>
<p>水煎服。</p>
<p>吳鞠通曰：濕溫乃土氣鬱蒸，自長夏而來，其來有漸，其性氤氳黏膩，最難速已。不可汗、下、溫、清，惟以三仁湯輕宣肺氣。蓋肺主一身之氣，氣化則濕熱化矣。若熱重濕輕，舌黃脈數者，不宜用，慮其劫液耳。</p>
<p>介潛湯（椿田）</p>
<p>主陰虧陽浮，痰飲氣逆，面赤，足冷，喘嗽。</p>
<p>龜板　鱉甲　牡蠣　淡菜　蛤殼　螺螄殼　石決明　蚌珠（各等分）</p>
<p>水煎服。</p>
<p>介形象離，其神在坎。介屬陰類，皆可潛陽，是引陽氣下歸於陰，復通陰氣上行之藥也。育陰潛陽之中，各有專主之功。神屋首入於腹，能通任脈之陰；神守隨日而轉，能守君火之神；牡蠣海水結成，能引飛龍歸宅；白螺紋形轉旋，能斡身中之氣；決明寒水所生，能抑亢逆肝陽；蛤蜊燥金之質，能軟痰陰之堅；蚌珠感月而胎，能益至陰之精；淡菜咸中之淡，能補陰中之氣。凡遇陰不潛陽之證，有兼他病，隨證採選可也。</p>
<p>四烏賊一藘茹丸（《內經》）</p>
<p>主血枯經閉，胸滿，唾血，帶下。</p>
<p>烏賊骨（四兩）　藘茹（一兩）</p>
<p>研末，雀卵為丸，小豆大，每服五丸。飯後以鮑魚汁一杯送下，早晚二服。</p>
<p>王孟英曰：女子氣竭傷肝，月事不來，病名血枯。蓋瘀血不去，則新血日枯也。此方及大黃䗪蟲丸，正此義也。後人但知彼血枯為虛，而不知血得熱則瘀，反用溫補，豈能愈病？又任脈虛而帶下不攝，皆以此方久服，無不收功，真妙法也。</p>
<p>緩風湯（元功）</p>
<p>主肝膽風火，暈厥相因，面赤，足冷。</p>
<p>鐵衣　青鉛（各一兩）</p>
<p>生地（五錢）　羚角（一錢五分）　夏枯（二錢）　豬膽汁（一枚）　甘草（五分）</p>
<p>用水先煮，鉛、鐵、羚羊俟沸再入，三味煎沸，入膽汁溫服。</p>
<p>秦元功曰：肝膽火鬱，火盛風生，此為內風。狂風勃發，氣血大亂，走竄空竅，故以助金平木為要務，以養血滋水為正治，所謂治風先治血也。</p>
<p>黃芩定亂湯（孟英）</p>
<p>主溫熱霍亂，肢冷，脈伏，腹不痛，口渴，身熱，神情煩躁。</p>
<p>山梔（炒）　黃芩（炒）　半夏（治）　竹茹（各一錢四五分）　豉（三錢，綿裹）　蠶砂（四錢，綿裹）　橘紅（五分）</p>
<p>陰陽水煎，徐徐服，禁穀食一日。</p>
<p>王孟英曰：梔子苦寒，善泄鬱熱；豉經蒸腐，性極和平。凡霍亂多由濕鬱化熱，挾穢濁惡氣，或疫內停滯而擾攘中宮。惟此二物最為對證良藥。熱勝則佐以黃芩，以清解溫邪；蠶砂勝濕祛風，以領濁氣下趨；橘、夏、竹茹開痞行食，清暑宣穢；陰陽水者，以濁陰不降，清陽不升，發為霍亂，用之以分其陰陽，使得其平也。此溫邪霍亂之祖方也。如轉筋，合蠶矢；入營合解毒，甚則合連樸，然照、瀉心俱可參入。若舌不黃而白者，黃芩尚嫌其寒。然徐服禁谷，尤為至要。蓋急服則必吐而不得藥性，穀食則膩滯邪氣，須以大麥粉易之。</p>
<p>黃耆六一湯（立齋）</p>
<p>主氣虛自汗，夜熱，喘促，心悸，消渴，不寐，血證，遺濁，癃淋，痘不灌漿，面黃。</p>
<p>黃耆（六兩）　甘草（一兩）</p>
<p>水煎服。</p>
<p>錢韻之曰：氣者，氤氳浩大，位天地，育萬物。人在氣中，若魚在水中，不可須臾離也。氣之傷也，不特六淫、七情，倘或血去過多，氣隨以散；亡津久渴，氣亦自戕；藥餌過投，皆令氣損；房勞過度，每致氣傷；病久食少，則氣無資生，病愈增也。是方主一切氣不統血，氣不固精，氣不布津，氣不自收之病，取二味之甘能益氣也。名六一者，取先天水數，以養後天元氣也。</p>

<h1>卷二</h1>
<p>甘露消毒丹（天士）</p>
<p>主濕溫時疫，發熱，倦怠，胸滿，腹脹，肢酸，咽腫，斑疹，黃疸，頤腫，口渴，吐瀉，瘧痢。</p>
<p>滑石（十五兩）　茵陳（十一兩）　黃芩（一兩）　菖蒲（六兩）　川貝　木通（各五兩）　藿香　射干　連翹　薄荷　白蔻（各四兩）</p>
<p>為末，每服三錢。</p>
<p>王孟英曰：此濕溫時疫之總方也。《六元正紀》五運分步，每年春分後十三日交二運，徵火王，天乃漸溫；芒種後十日交三運，宮土王，地乃漸濕。溫濕蒸騰，更加烈日之暑，爍石流金，人在氣交之中，口鼻吸受其氣，留而不去，乃成濕溫疫癘之病。但看舌苔淡白，或厚膩，或黃滑者，是暑濕熱疫之邪尚在氣分，悉以治之，立效。</p>
<p>六一散（守真）</p>
<p>主暑濕，瘧痢，黃疸，水腫，泄瀉，疹㾦，口瘡，口臭。</p>
<p>滑石（六兩，水飛）　甘草（一兩）</p>
<p>為末，新汲水調服。</p>
<p>汪訒庵曰：滑石，滑能通竅，寒能清熱，淡能滲濕，色白能開肺氣而下輸膀胱。甘草和中，緩滑石滲利，故能隨引而走內走外也。其數六一者，取天一生水，地六成之之義，故又名天水散。</p>
<p>徐靈胎曰：滑利清涼，通達水道而不傷陰，所以為佳。</p>
<p>茯苓丸（指迷）</p>
<p>主痰停中脘，兩臂疼痛，食滯，脘痛拒按。</p>
<p>生半夏　茯苓（各一兩）　枳殼（五錢）　風化硝（二錢五分）</p>
<p>為末，生薑汁糊丸。</p>
<p>汪訒庵曰：半夏燥濕化痰，茯苓和脾滲濕，枳殼行氣化滯，風化硝軟堅消積，生薑製半夏之毒而散結，故不特為痰飲之良方，尤為食滯之妙藥。</p>
<p>徐靈胎曰：方極和平，義精效速，重者宜控涎丹。</p>
<p>連翹金貝煎（《景岳》）</p>
<p>主熱毒紅腫之瘍在陽分者。</p>
<p>連翹　大貝　金銀花　夏枯草　蒲公英　紅藤（各等分）</p>
<p>水煎服。</p>
<p>錢韻之曰：此方治陽分之瘍，清熱解毒，和營消腫，大有神功。暑瘍熱癤，並可用之。</p>
<p>保胎飲（孟英）</p>
<p>主血虛有熱，屢次墮胎。</p>
<p>竹茹　桑葉　絲瓜絡　杜仲（各三錢）</p>
<p>水煎服。</p>
<p>王孟英曰：此方皆養血清熱而熄內風。凡物之堅強，莫如竹皮。《禮》云：如竹箭之有筠是也。皮肉之緊貼，亦莫如竹。故竹雖簁而皮肉不相離，實為血證之要藥，觀塞舟不漏可知矣。桑葉，蠶食之而成絲，杜仲皮亦有絲，絲瓜絡筋膜聯絡，質韌子堅，具包羅維繫之形，且皆色青入肝，肝虛而胎系不牢者，勝於他藥多矣。</p>
<p>青龍散（守真）</p>
<p>主風成熱中，目黃，煩渴。</p>
<p>仙靈脾　地黃　首烏（各三錢）　防風　荊芥（各一錢五分）</p>
<p>為末，沸湯調服三錢。</p>
<p>《內經·風論》曰：「風氣與陽明入胃，上循目內眥，不得泄，則熱中而目黃。」仙靈脾氣味辛寒，散風泄熱；首、地行血熄風；荊、防宣表散郁。庶得血行。郁散而病自瘳矣。名曰青龍者，青龍乃東方之神，龍行而鬱散也。</p>
<p>參附湯（《局方》）</p>
<p>主陽脫，汗多，肢冷，脈伏。</p>
<p>人參　附子（各等分）</p>
<p>水煎服。</p>
<p>錢鬥保曰：先身而生謂之先天，後身而生謂之後天。先天之氣在腎，是父母之所賦；後天之氣在脾，是水穀之所化。先天之氣為氣之體，體主靜，故子在胞中，賴母息以養生氣，則神藏而機靜；後天之氣為氣之用，用主動，故育形之後，資水穀以奉生身，則神發而運動。天人合德，二氣互用，故後天之氣得先天之氣，則生生而不息；先天之氣得後天之氣，始化化而不窮也。補後天元氣，無如人參；補先天陽氣，無如附子。二藥相須，用之得當，則能瞬息化氣於烏有之鄉，頃刻生陽於命門之內，方之最神捷者也。</p>
<p>固根湯（天士）</p>
<p>主下虛不固，沖氣上衝，咳喘，失血，遺滑，腰痛，面赤，足冷，多汗。</p>
<p>人參（五錢）　枸杞（二兩）　牡蠣　紫石英　鉛（各一兩）　竹茹（三錢）</p>
<p>水煎服。</p>
<p>錢韻之曰：昔黃帝有以人應木之語，譬如人者，木也；人之腎，猶木之根也；人之血，猶木之津也。腎中陰陽，不可偏倚。陰精一虧，腎自不固，則如木之根浮，暴風莫御。若衝陽上衝，精血失守，無非藏納之失司。藥取質靜濃厚，重著歸下。血脫益氣，故用人參、枸杞培補精血；英、鉛收鎮衝脈，包裹大氣之散越；牡蠣收其氣液，導陽歸海。務使腎職封藏，衝陽不動，根本自固矣。</p>
<p>王孟英曰：凡氣喘吸促，根蒂欲漓者，可重用杞子，殊勝他藥也。以其純甘多液，能補精神氣血之耗傷，又可以養心營，可以潤肺燥，可以緩肝急，可以補脾陰，其用多矣。竹皮堅韌，能固氣液之脫而清虛火，即房勞而氣液兩虧者，亦可以此法接續一線之生機。復以參之大補氣血，金石以鎮逆，介屬以潛陽。凡氣液虛而氣不納者，可以挽性命於旦夕之間。</p>
<p>交感丹（鐵甕）</p>
<p>主心腎不交，肝鬱侮土，心忪，痞滿，遺泄，陰痿，脘痛，納食難運。</p>
<p>香附　茯神（各一兩）</p>
<p>為末，蜜丸。</p>
<p>脾胃之氣不運，升降失司，上下否塞；心火不降，腎水不升；又或肝氣抑鬱，橫凌中土，為病不止一端。故以茯神補心火以生土，香附解肝鬱以疏土。使中焦流運，上下斡旋，五內和諧，互相交感，何虞諸恙不已哉？</p>
<p>枇杷葉湯（天士）</p>
<p>主濕溫白㾦，身熱有汗。</p>
<p>枇杷葉（五錢，去毛）　杏仁（去皮尖搗）　茵陳　豆卷（各三錢）</p>
<p>水煎服。</p>
<p>平胃散（龍宮）</p>
<p>主脾經積濕，中滿飲痞。</p>
<p>蒼朮（五兩）　厚朴　陳皮（各三兩）　甘草（二兩）</p>
<p>為末，調服。</p>
<p>王孟英曰：卑監乃是脾德。有慚土不勝濕，健運失職，陽氣不升，非胃病也。夫脾字從卑，原為陰土，其性惡濕。燥補相宜，脾濕去而不滯，脾得補而健運，則是方也，乃調脾土之卑監。而名曰平胃者，以脾氣健而升，胃自平而降耳。</p>
<p>人中黃散（震亨）</p>
<p>主溫疫熱毒，疙瘩瘟，霍亂，痧痢。</p>
<p>人中黃（一兩）　硃砂　雄黃（各一錢五分）</p>
<p>為末，調服。</p>
<p>凡病人人相染，即為疫毒。朱、黃稟天地純陽之氣，專闢瘟邪，大解疫毒。中黃本甘草之體，藉糞尿之精，氣味鹹寒，大清熱毒，且與穢濁同氣相求，引穢濁熱毒使從下趨也。</p>
<p>滋營養液膏（生白）</p>
<p>主肝氣不和，頭暈、耳鳴，久不愈。</p>
<p>女貞子　旱蓮草　沙苑　蒺藜　桑葉　芝麻　枸杞　菊花　白芍　歸身　地黃　穭豆　南燭　茯神　玉竹　陳皮　甘草（各四兩）</p>
<p>以天泉水、桑火熬膏，收以阿膠、白蜜各三兩，貯好，日服五、六錢。</p>
<p>薛生白曰：此方為林下服食之大藥，肝氣不和之妙品。貞、蓮二味，法二至以暗轉陰陽；佐以桑、麻，為調風氣，應候播植生機；助以杞、菊，為升降之春秋，亦承留以宣化；歸芍辛酸，一通一泄，使無壅滯之情；地黃、蒺藜，一填一養，不致肌虛之困；穭豆滋水熄肝；南燭培元益氣；茯神、玉竹，為營衛報使；橘紅、甘草，為喉舌真司；阿膠濟水，造成激濁揚清之凜冽；蜂蜜，百花釀就，和風甘雨之仁慈。服之不特調元卻病，且以見天地之生生，有如是也。</p>
<p>珍珠母丸（叔微）</p>
<p>主魂魄不安，不寐，驚悸。</p>
<p>珍珠母　龍齒　虎睛（各等分）</p>
<p>為末，蜜丸，朱衣。</p>
<p>許叔微曰：珠母為鎮驚第一，龍齒安魂，虎睛定魄，各言其類也。東方青龍，屬肝而藏魂；西方白虎，屬肺而藏魄。故治魂飛揚者，宜以龍齒；治魄不寧者，宜以虎睛。萬物有成理而不失，亦在夫人達之而已。</p>
<p>通絡湯（天士）</p>
<p>主水濕橫溢，一身洪腫，二便澀少。</p>
<p>蔥須（洗）　絲瓜絡　忍冬　赤豆（各等分）</p>
<p>水煎服。</p>
<p>大凡經絡為病，總以宣通為是。濕熱相蒸，經隧阻塞，表裡俱病。是方四味並通經絡，冬豆泄之於內，蔥須祛之於外，合瓜絡則宣通太陽、太陰之氣化，氣化則水自行也。《內經》「開鬼門，潔淨府」，正指此也。</p>
<p>然照湯（孟英）</p>
<p>主暑穢挾濕，霍亂吐下，惡寒肢冷，脘痞。</p>
<p>梔子（炒）　佩蘭　半夏（治，各一錢五分）　厚朴（四分）　豉（三錢，綿裹）　滑石（二錢）</p>
<p>水煎服。</p>
<p>薛生白曰：霍亂本是濕熱穢濁直犯中焦。故以梔豉上下分開之，半滑中外滲泄之，芳香辛散之藥橫解之，以廓清諸邪，吐下自止。</p>
<p>王孟英曰：霍亂而凜寒厥逆，舌苔白厚，有似寒象，實濕熱穢濁內蒙也。故必須具然犀之照，庶不為病所蒙。</p>
<p>交加散（叔微）</p>
<p>主營衛不通，經脈不調，癥瘕寒熱。</p>
<p>生地（生薑汁炒）　生薑（生地汁炒）</p>
<p>各炒乾為末，溫酒下三錢。</p>
<p>氣血不行，營衛不通，邪聚經絡，故以通絡脈，和血積之地黃，引辛散之生薑直入經絡，行氣散結。氣行結散，經絡自和。且姜得地而不燥，地得姜而不凝，交加取義若此。凡邪深而祛邪之藥不能直達病所者，皆可伊此，用同氣藥引之也。</p>
<p>檀香飲（天士）</p>
<p>主膻中郁遏，肝氣不和，心痛欲死。</p>
<p>檀香（二兩）　丹參（五錢）　砂仁（一錢）</p>
<p>水煎服。</p>
<p>錢韻之曰：思慮過度，大怒傷肝，膻中郁遏，氣壅不通，或瘀血不通，其痛大作。檀香辛鹹溫而氣香，利氣和肝，散郁醒脾。檀字從亶，膻亦從亶，理能入膻勻氣。丹參苦辛色紫，人心調血；砂仁開曠胸中。氣血調和，膻中清靜，則志意治，陽氣固，病自除矣。怒氣傷肝，宜用紫檀；思慮傷脾，宜用白檀。臨證施用，各有所宜也。</p>
<p>駐車丸（《千金》）</p>
<p>主下利崩脫，日久不愈。</p>
<p>黃連（六兩）　乾薑（二兩）　當歸　阿膠（各三兩）</p>
<p>為末，膠丸。</p>
<p>陳修園曰：張路玉謂人身有車，皆附脊而行，以精氣神之運度。羊車屬肺分，當在上，以職司化氣生精，故位反在下；鹿車屬腎分，當在下，以職司化火益氣，故位反在中；牛車屬脾分，當在中，以職司化味歸神，故位反在上。此平人之常度也。平人失其常度而患下利崩脫，良由鹿車過駃，趲動羊車，過動以致精不藏；牛車過疲，不能隨鹿車之駐驟，以致水穀不克。故用乾薑以助牛車之健運，黃連以挽鹿車之傾危，阿膠以救羊車之奔迫，當歸以理血氣之散亂。庶精、氣、神各歸其統，而無崩脫之虞。且冷利得乾薑可瘳；熱利得黃連可瘳；冷熱交錯，得姜連可解。阿膠可滋乾薑之燥，當歸可和黃連之寒，不特為久利神丹，尤為休息之專藥。</p>
<p>五花煎（椿田）</p>
<p>主氣滯血凝，脘痛，石瘕，腹疼，經水不調。</p>
<p>月季花　山茶花　紅桃花　玫瑰花　水紅花（各等分）</p>
<p>水煎服。</p>
<p>凡屬積聚，多由肝經悒鬱，氣不運行，血凝成瘕。此方獨取其花，取花以散之也。且皆色赤，氣溫味苦，能走血絡而和之行之，足可卻疾，非破積除癥之猛劑也。虛人、老人，不耐攻伐者，皆可採用也。</p>
<p>稀涎散（《局方》）</p>
<p>主中風暴僕，痰涎壅盛，氣閉不通，牙緊喉閉。</p>
<p>白礬　皂角　巴豆　藜蘆（各等分）</p>
<p>為末，溫水灌五分，取吐痰涎為度。</p>
<p>徐靈胎曰：此急救吊痰之法。實見其痰在膈上則可用，否則提其上升，反成厥冒等疾。</p>
<p>白薇湯（叔微）</p>
<p>主血厥內熱，經色漸淡，或結塊，帶下，寒熱。</p>
<p>白薇　當歸　人參（各二錢）　甘草（五分）</p>
<p>水煎服。</p>
<p>謝映廬曰：形瘦多火，面紅脈大，汗多厥逆，名曰血厥。火氣焚灼，血液衰弱。陰陽相抱，乃能動靜有常。若陽失陰守，則陽氣上而不下，而為厥逆，月事超前或陽維為病。而苦寒熱，法當生陰以維陽。白薇降而涼血，達衝任而利陰，故主忽忽不知人，狂惑。參、歸生血液而固氣，合甘草以緩火勢也。</p>
<p>杉木湯（洵美）</p>
<p>主濕毒瘀血，腳氣上衝，脘腹痞硬欲死。</p>
<p>杉木節　橘葉（各一升）　大腹子（七枚，搗）　丹參（一兩）　童便（一杯，衝入）</p>
<p>水煎服。</p>
<p>錢韻之曰：唐·柳柳洲云：元和間得腳氣病，夜半脘脅結痞如石，不知人，目上視，用此湯服之立愈。蓋足部有病，多因濕毒，經久不愈，與瘀血為伍，若衝至心肺則不治。杉節堅硬屬金，取節以止之，金能鎮逆、燥濕、通氣、流利關節，橘以疏肝利氣，檳則達下降逆，丹參通瘀活血，從上達下，勢若奔馬，童便領邪從濁道而出。故一二劑即可救死。但斯證終不除根，不過使其仍歸於足而已。</p>
<p>桑螵蛸散（寇氏）</p>
<p>主精神失守，遺精，溲數，健忘，心悸。</p>
<p>人參　茯神　遠志　龍骨　當歸　石菖蒲　桑螵蛸（各等分）</p>
<p>為末，龜膠泡湯調，臨臥服。</p>
<p>葉天士曰：神傷於上，精敗於下，心腎不交，里真無藏，腎關不固，心動神馳，神馳精敗。故急以螵蛸、龍骨固之，當歸滋血，人參益氣，菖蒲益心智，龜膠滋腎精，茯神理心脾以交腎，遠志固腎氣以寧心，色色俱到。</p>
<p>柴胡地骨湯（守真）</p>
<p>主陰氣素虧，熱入骨髓，骨蒸內熱，盜汗，口糜，牙宣。</p>
<p>銀柴胡　地骨皮（各一兩）</p>
<p>水煎服。</p>
<p>陰虧內熱，或因素稟，或因暑熱病後，必見脈數，舌黃。柴地俱有滋陰養液之功，又有直清髓熱之力，若兼濕者，甘露飲尤妙。</p>
<p>竹茹湯（在涇）</p>
<p>主胃火上逆，喘咳，呃逆，嘔惡，吐血。</p>
<p>竹茹（一升）　葦根（一尺）　枇杷葉（五張，去毛）</p>
<p>水煎服。</p>
<p>汪訒庵曰：胃火上衝，肝膽之火助之，肺金之氣不得下降，方以竹茹清肝膽火，葦根清胃火，枇杷葉降肺氣。藥雖平衍無奇，卻有輕以去實之能。</p>
<p>紫菀湯（元義）</p>
<p>主肺氣不化，胸痹，便閉，不寐，不食，咳喘，身熱，時邪症汗下溫清不應者。</p>
<p>紫菀（八錢）　蘇子　鬱金　栝蔞皮（各一錢五分）　杏仁（三錢）　枳殼（一錢）　桔梗（三分）　枇杷葉（四錢，去毛）</p>
<p>水煎服。</p>
<p>葉天士曰：天氣下降則清明，地氣上蒸則晦塞。上焦不行，下脘不通，陽氣痹塞，濁陰自聚。治法獨取太陰者，以肺主一身之氣化也。紫菀開肺之郁，潤腸之燥，旋運清陽，一物而三扼其要，蘇、郁宣其鬱結，桔、枳升降氣機，枇、杏、蔞皮清肅氣化，由肺直達大腸，上痹之邪，可從下解矣。用之得當，立奏奇功；不中病機，亦無大害，誠妙方也。</p>
<p>藿香正氣散（《局方》）</p>
<p>感夏月不正之氣，憎寒壯熱，頭痛頭眩，瘧痢泄瀉，脘悶嘔惡。</p>
<p>藿香　紫蘇　白芷　大腹皮　蒼朮　茯苓（各三兩）　陳皮　半夏　厚朴（各二兩）　桔梗　甘草（各一兩）</p>
<p>為末，每服五錢。</p>
<p>王孟英曰：此治風寒外感，食滯內停，或兼濕邪，或吸穢氣，或傷生冷，或不服水土等證的是良方。若溫暑熱證，不兼寒濕者，在所切禁。名曰正氣，謂非時不正之氣，此方皆能正之。</p>
<p>金鈴子散（守真）</p>
<p>主肝木犯胃，氣滯血凝，下焦濕熱，心痛，脘痛，嘔逆，癥瘕，溺赤，淋濁，下利，腹痛，奔豚，帶下，疝。</p>
<p>金鈴子（三錢）　延胡索（一錢）</p>
<p>為末，調服。</p>
<p>李時珍曰：用之中的，妙不可言。方雖小制，配合存神，卻有應手取效之功，勿以輕淡而忽之。</p>
<p>葉天士曰：川楝苦寒，清熱化濕，直泄肝陽；延胡專理氣滯血凝之痛，以肝主疏泄故也。</p>
<p>王晉三曰：此方治熱厥心痛。厥者，逆也。經以諸痛皆屬於心，而熱厥屬於肝逆。金鈴非但泄肝，功專導去小腸膀胱之濕熱，引心胞相火下行，而堅下焦之陰，延胡和周身氣血而止痛。凡肝經鬱熱者，皆可用之。</p>
<p>治瘧湯（元功）</p>
<p>主暑溫，伏暑，瘧疾，不寐。</p>
<p>夏枯草（一兩）　生薑衣（一錢）　半夏（治，二錢）　桑葉（五張）</p>
<p>露水煎服在發熱時。</p>
<p>錢韻之曰：經謂「夏傷於暑，秋必痎瘧」。又曰「夏暑汗不出，秋成風瘧」。瘧者，暑熱伏於少陽，秋涼束於皮毛。少陽乃陰陽交界之所，故以夏枯至夏即枯，由陽入陰，內清暑熱；半夏至夏方生，由陰達陽，領邪外出。二藥相濟，陰陽交界之邪可出。即以桑葉、姜皮解肌發汗，在表之邪從汗走泄矣。此熱瘧皆可用之。至若不寐，亦惟調和陰陽而已。</p>
<p>黃砂洗毒散（椿田）</p>
<p>主疫毒百病。</p>
<p>雄黃（五錢）　硃砂（一兩，水飛）</p>
<p>為末，調服。</p>
<p>此辟邪殺鬼，敗瘟解毒，安神定魄之神方也。</p>
<p>交泰丸（曉瀾）</p>
<p>主肝胃不和，相火妄行，脘痛，嘔，口糜，舌碎。</p>
<p>肉桂　黃連（各等分）</p>
<p>為末，蜜丸。</p>
<p>顧曉瀾曰：夫人身氣血即天地之陰陽，必二氣交泰，方為穗歲。偶有偏倚，變幻即生。今肝胃不和，心火上炎，腎火妄行，非此莫愈。蓋桂為平肝之聖藥，既可引火歸原，又能入心養營。佐以黃連交濟，俾水火兩得，交感而無背戾。自然龍藏海底，金養水中，血漸生而氣有所附，不至或升或降，遊騎無歸矣。</p>
<p>此方一寒一熱，一補一瀉，一者正治，一者反治，乃治火證之良方也。</p>
<p>蘇連飲（生白）</p>
<p>主肺胃不和，乾嘔，呃逆。</p>
<p>蘇葉（三分）　黃連（五分）</p>
<p>水煎徐徐服。</p>
<p>王孟英曰：此方藥止二味，分不及錢，不但治上焦宜劑小而輕，竟可愈重病，所謂去實輕可也。蓋氣貴流通，而邪氣擾之，則周身窒滯，失其清虛靈動之機，反覺實矣。惟劑以輕清，則正氣宣布，邪氣潛消，而窒滯自通。設投重劑，不但已過病所，病不能去，而無病之地，反先遭其克伐矣。黃連不但治濕熱，乃苦以降胃火之上衝；蘇葉味辛甘而氣芳香，通降順氣，獨擅其長。然溫散之性，故雖有黃連並駕，尚減分許而節制之，可謂方成知約矣。用以治胎前惡阻甚妙。</p>
<p>保和丸（震亨）</p>
<p>主食滯不消，脘痛拒按，吞酸，惡食，泄瀉。</p>
<p>山楂（三兩）　神麯　茯苓　半夏（治，各一兩）　陳皮　萊菔子　連翹（各五錢）</p>
<p>為末，神麯糊丸，麥芽湯下。</p>
<p>凡感證而兼食滯，則以此取一二味，參於感證方中，如肉滯用山楂，麵食用萊菔，糯米用麥芽，若但食滯而無他證者，則用此丸服三四錢。名保和者，謂食滯胃中，則元氣潛消，此方功專化滯而不傷正氣，即是保合太和元氣也。</p>
<p>分清泄濁丸（楊起）</p>
<p>主下焦濕火，敗精瘀血阻竅淋濁。</p>
<p>生大黃（研）　琥珀（研，各等分）</p>
<p>雞子白為丸。</p>
<p>淋屬肝膽，濁屬心腎，最宜分別。其有濕火下注，或敗精瘀血阻塞隧道，皆能成此。大黃苦寒，清火化濕，滌精敗瘀，同琥珀則直走小便。其道得通，淋濁自止。</p>
<p>十灰散（可久）</p>
<p>主火亢迫血妄行，吐血如湧。</p>
<p>大薊　小薊　藕節　柏葉　茅根　茜根　山梔　大黃　丹皮　棕櫚（各等分）</p>
<p>燒存性，為末，墨汁調服。</p>
<p>周揚俊曰：留得一分自家之血，即減得一分上升之火，故當急止耳。</p>
<p>劉若金曰：諸灰治血，取其由水而化血，又由血而歸水，故能療血之病於火者。總由水火合化之元，更取水火轉化之氣。原非用於止澀，由水火轉化之氣，更取水火蛻化之功。亦且用之益虛，握樞機以轉關矣。</p>
<p>啟蒙煎（天士）</p>
<p>主風暑上蒙，目赤，頭脹，耳頤腫痛。</p>
<p>夏枯草　鮮菊葉　荷葉邊　綠豆衣　土貝（去心）　桑葉（各三錢）　苦丁茶（一錢五分）　羚角（二錢）</p>
<p>水煎服。</p>
<p>葉天士曰：頭面清竅，皆清陽交會之所，就外邪來乘，亦必無質清邪。經謂上焦如霧，非清芬輕揚氣味，何以卻邪？壅遏得宣，蒙竅啟清矣。</p>
<p>黃芩滑石湯（鞠通）</p>
<p>主濕熱相蒸，身熱，汗多不解。</p>
<p>黃芩（一錢五分）　滑石（三錢）</p>
<p>水煎服。</p>
<p>吳鞠通曰：濕家本有汗，故不可汗解；濕熱兩傷，亦不可偏治。故以黃芩清濕中之熱，滑石利熱中之濕，合則共成宣氣利小便之功。氣化則濕熱化，小便利則濕熱去矣。然非汗多舌黃，不可輕投。</p>
<p>羊脂煎（《千金》）</p>
<p>主虛人久利。</p>
<p>羊脂　白蠟　白蜜　白米（各等分）</p>
<p>煎如粥服。</p>
<p>張石頑曰：羊脂性滑利，人用治久利，取滑利以通虛中留滯也。</p>
<p>臥龍丹</p>
<p>主中惡霍亂，五絕，諸般卒倒急暴之證。</p>
<p>牛黃　金箔（各四分）　冰片　荊芥　羊躑躅　花蕊（各二錢）　麝香（五分）　硃砂（六分）　牙皂（二錢五分）　燈心炭（二錢五分）</p>
<p>研末，磁器密收。</p>
<p>王孟英曰：羊躑躅辛溫大毒，不入湯劑，入酒飲能殺人，近目即昏翳。今以此為君藥，少許搐鼻取嚏，救急最速。垂危重證，亦可以涼開水調灌分許。癰疽發背，蛇蠍蜈蚣受傷，用酒塗患處極效。</p>
<p>補中益氣湯（明之）</p>
<p>主中氣不足，久利久瀉，脫肛，溲長。</p>
<p>黃耆　人參　白朮（各一錢五分）　當歸　甘草（各一錢）　陳皮　升麻　柴胡（各五分）</p>
<p>水煎服。</p>
<p>《口問篇》曰：「中氣不足，溲便為之變。」中氣者，脾氣也。脾氣不足則清陽下陷，下關不收，瀉利無度。脾宜升則健，故以升、柴升之，所以健其脾。氣虛者，補之以甘溫，參、朮、歸、陳甘溫氣味，所以益其氣。補之猶恐不及，復以黃耆固在外之元氣，甘草填在內之元氣。故王晉三曰：不僅名之曰補中，而復申之曰益氣也。</p>
<p>徐靈胎曰：此方以升提中氣為主。如果中氣下陷者，最為合度。若氣高而喘，則非升柴所宜，學者不可誤用也。</p>
<p>二母湯（傅滋）</p>
<p>主溫邪爍肺，熱痰，燥痰，喘咳，身熱有汗。</p>
<p>知母（三錢，去毛）　貝母（五錢，去心）</p>
<p>水煎服。</p>
<p>錢韻之曰：少陰熱熾，煉液化痰，或外感化火，灼爍肺津，化源欲絕。故以知母甘苦寒，清熱瀉火，滋液潤燥，復肺金清肅之權；貝母甘淡，化痰開鬱，且其形象心，又能護衛宮城。凡溫熱時邪，將欲入營者，此方最妙。喻嘉言曰：凡肺病有胃氣則生，無胃氣則死。胃氣者，肺之母氣也。本草有知母之名，謂肺藉其清涼，知肺以清涼為母也；貝母者，謂肺藉其豁痰，豁痰為肺之母也。然屢施於火逆上氣，咽喉不利，而屢不應者，名不稱矣。</p>
<p>瀉白散（仲陽）</p>
<p>主腎火刑金，喘咳氣急，內熱有汗，浮腫。</p>
<p>桑白皮　地骨皮（各一兩）　甘草（五錢）</p>
<p>為末，每服二錢，入粳米百粒水煎。</p>
<p>張綺石曰：桑白皮辛能瀉肺氣之有餘，甘能補肺氣之不足，苦能逐三焦之水濕。上部得之，清火而滋陰；中部得之，利濕而益土；下部得之，逐水而消腫。凡虛人喘、腫二候，金逆為火所逼，高而不下則為喘；土卑為水所侮，陷而失堤則為腫。天崩地陷之象也，惟桑皮可以調之。骨皮，枸杞之根也，入土最深，故名地骨，以其在下，故能資腎家真水；以其皮，故能舒肺葉之焦枯；以其寒，故能退骨髓之炎蒸。粳米調中，不致倒胃；甘草甘緩，不致滑脾。施治允當，功力萬全。若有一毫寒邪、風邪，便宜禁服。</p>
<p>安東散（雲林）</p>
<p>主肝胃不和，胃脘作痛。</p>
<p>蘇羅子（一兩）　瓦楞子　蛤殼（各五錢）　香櫞（三錢）</p>
<p>為末，調服。</p>
<p>肝為剛藏，官稱將軍，其性躁暴。病則侮其所勝，其因不一，若因氣鬱動肝，或乘其王令，或土弱受侮，或金虛不制者，皆宜此方安之。天師慄安東方之木，疏肝氣之郁；楞、蛤介屬屬金，金能柔木；香櫞調氣散郁，則遂其條達之性而自安矣。</p>
<p>金甲夜光散（旌陽）</p>
<p>主瘧臌。</p>
<p>雄黃　穿山甲　夜明砂　常山　硃砂（各等分）</p>
<p>為末，調服。</p>
<p>瘧疾截之太早，或久而不愈，或變為瘧母者有之，變為臌脹者有之，此方治瘧臌者也。雄黃主寒熱百蠱，明砂主寒熱積聚，常山搜剔伏邪，硃砂安鎮神明，使正氣存內，邪氣外達。寒熱仍作，則可祛邪從表而泄矣。</p>
<p>黃土湯（仲陽）</p>
<p>主肝風上僭，脾胃虛寒，瘛瘲，失血，吐瀉。</p>
<p>黃土（二兩）</p>
<p>水煎服。</p>
<p>劉若金曰：黃土本火土相生之義，俾水土各奠其位，又必因水土合德之義，俾土木互相為用，是則黃土之用，非漫然去濕也，正欲用陽以化陰，而俾濕化得行也。濕化行而血乃化，所以治血證者，非以止澀為功，蓋補生化之原，乃為固脫耳。更欲化陰以和陽，而俾風化得平也，風化平而氣乃化。所以療風證者，非以疏散為功，蓋益其合化之原，乃為靜風耳。</p>
<p>神犀丹（天士）</p>
<p>主溫暑疫毒逆傳入營，痙厥，昏狂，譫語，癍疹，痘瘄，口糜，目赤，咽腐，神煩。</p>
<p>烏犀　菖蒲　黃芩（各六兩）　生地　銀花（各一斤）　金汁　連翹（各十兩）　板藍根（九兩）　豉（八兩）　元參（七兩）　花粉　紫草（各四兩）</p>
<p>生研爛為丸，開水化下。</p>
<p>王孟英曰：溫暑疫毒，邪不即解，耗液傷營，逆傳內陷，但看舌乾光，或紫絳，或元硬，或黑苔，皆以此丹救之。若初病即覺神情昏躁，而舌赤口乾者，是溫暑直入營分。酷暑之時，陰虛之體及新產婦人，患此最多。急須用此，多可挽回，切勿拘泥日多，誤投別劑，以僨事也。</p>
<p>桃花丸（椿田）</p>
<p>主痰飲固結，發狂咳嗽。</p>
<p>桃花（一兩）　硼砂（一兩五錢）　白芥子（八錢）</p>
<p>為末，水泛丸。</p>
<p>痰飲日久，根蒂牢固，非此方不能破其固結。桃花苦溫，消痰、滌飲、通便最速，復以硼之咸以軟堅，芥之辛以開結，堅結一解，痰從便泄矣，何有狂咳之患哉？</p>
<p>五仁丸（震亨）</p>
<p>血虧氣滯，腸液枯少，大便閉結。</p>
<p>麻仁　桃仁　柏仁　松仁　郁李仁（各一兩）</p>
<p>搗爛為丸。</p>
<p>華岫云曰：便閉一證，本有承氣火劑之猛下，豬膽蜜煎之外潤，可謂無餘蘊矣。然竟有不效者，蓋因血液枯燥而氣亦滯，致氣血結痹者，非五仁養潤陰液，行氣活血，不能奏功也。</p>
<p>敗毒飲（存橘）</p>
<p>主風溫內襲，胸膈赤痛，身熱咳嗽。</p>
<p>紫荊皮　羚羊角（各二錢）　薄荷　甘草（各七分）　牛蒡子（三錢，搗）</p>
<p>以水入羚角，煮一沸，內諸藥，俟再沸，入薄荷葉，溫服取微汗。</p>
<p>錢韻之曰：風熱襲於肌腠，胸膈赤痛，名曰赤膈。從古患者多死，至戈氏得此方，全活甚眾。其大意在清熱泄風之中，借荊皮之活血敗毒耳。</p>
<p>煉雄丹（《夷堅甲志》）</p>
<p>主暑毒，濕毒，瘧痢，泄瀉。</p>
<p>雄黃（水煮九次，為末）</p>
<p>蒸餅糊丸，甘草湯下。</p>
<p>《夷堅志》曰：昔虞丞相允文久患泄瀉，醫藥莫痊。一夕夢見壁上有韻語一方，讀之云：暑毒在脾，濕氣連腳，不泄則痢，不痢則瘧，獨煉雄黃，蒸餅和藥，甘草作湯，服之安樂。如法服之果效，後凡見是證，屢試屢驗。</p>
<p>八汁飲（曉瀾）</p>
<p>主胃陰不足，虛火上衝，噎膈，吐血。</p>
<p>藕汁　梨汁　蔗汁　白蜜　竹瀝　萊菔汁（各一杯）　白果汁（半杯）　生薑汁（三匙）</p>
<p>和勻服。</p>
<p>人身水火一負則一勝，若胃中之陰液一虧，陽火必然升越。然非有餘之火，胡可以苦寒直折？且苦味入口，其勢必吐。諸汁氣味甘寒，滋補胃中津液，清上逆之虛火。藕瀝又可止血，蔗蜜又可緩急，梨菔又可順氣，白果其頭向北，能令腎水以上濟虛火。少佐生薑，以宣三陽之結。其氣清芬味美，則胃氣自醒，順序下行，何有吐噎之虞？</p>
<p>三甲煎（生白）</p>
<p>主邪入厥陰，主客交混，神昏不語，久不愈。</p>
<p>地鱉蟲（二錢，酒醉）　鱉甲（三錢，醋炒）　穿山甲（一錢五分）　桃仁（十二粒）　柴胡（三分）　生殭蠶（四錢）</p>
<p>水煎服。</p>
<p>許益齋曰：百脈一宗，悉致其病，元氣不布，邪氣淹留，乃祖仲景用異類靈動之物。鱉甲入厥陰，用柴胡引之，俾陰中之邪盡出於表；䗪蟲入血，用桃仁引之，俾血分之邪盡泄於下；山甲入絡，用殭蠶引之，俾絡中之邪亦從風化而散。緣病久氣鈍血滯，非拘拘於恆法所能愈也。</p>
<p>通津玉靈湯（《保命》）</p>
<p>主裂胞難產，血水已乾，產戶枯澀。</p>
<p>龍眼肉汁（六兩）　牛漆梢酒（一兩）</p>
<p>汁、酒和服，半日即產。</p>
<p>王孟英曰：龍眼甘溫，大能補血，力勝參耆，如遇難產，即並膝共瀹。凡氣血不足，單用龍眼蒸服，殊勝他藥，易產亦可服。</p>
<p>阿膠湯（元功）</p>
<p>主燥傷陰分，柔痙汗多。</p>
<p>阿膠　生地　小麥（各三錢）　麥冬（一錢五分）　甘草（一錢）　豬膽汁（二匙，衝入）</p>
<p>水煎服。</p>
<p>錢韻之曰：津血大虧，風陽上僭，經絡枯燥。經謂肺移熱於腎，傳為柔痙。肺主皮毛，故有汗而痙也。以阿地滋液熄風，膽汁清火和陽，甘麥緩急止汗也。</p>
<p>歸附丸（《千金》）</p>
<p>主氣亂血病，月事愆期，崩帶胎產腹痛。</p>
<p>當歸（四兩）　香附（八兩）</p>
<p>為末，水法丸。</p>
<p>婦女肝多抑鬱，鬱則氣機愆度，氣愆則不能帥血，血病則月事愆期，或崩或帶，病非一端。故以香附疏肝、散郁、流氣，氣運則血自運；當歸調和營血，則血滯者可行，虛者可補，結者可散，通者可止，使血有所歸，上下循環，月事以時下。胎前用之，可以安胎；產後用之，可以調營，誠妙方也。</p>
<p>甘豆湯（蘇頌）</p>
<p>主毒邪百病。</p>
<p>甘草（一兩）　綠豆　黑豆（各半升）</p>
<p>水煎服。</p>
<p>錢韻之曰：此解毒之統劑，並神劑也。</p>
<p>心脾雙補丸（生白）</p>
<p>主心脾氣鬱，化火傷陰，遺精，怔忡。</p>
<p>人參　元參　茯神　麥冬（各一兩）　五味　棗仁　柏仁　白朮　川貝　甘草　丹參　香附　硃砂（各五錢）　遠志（四錢）　桔梗（三錢）　生地（一兩五錢）　黃連（三錢五分）</p>
<p>為末，桂圓肉搗，為丸，如彈大。</p>
<p>薛生白曰：經以心、脾為女子立命之根。凡心脾氣鬱，鬱則從火，久久不解，漸耗五陰，特製此方。取人參養心氣，麥冬益心津，生地、元、丹益心陰，茯神、柏、遠安心神，味、棗收心液，連、草瀉心陽，桔梗利心氣，硃砂鎮心怯，龍眼補心血，白朮健脾陽，香附暢脾陰，川貝療脾郁。為丸而細嚼吞下，不致直趨下焦，其功倍著矣。</p>
<p>肉蓯蓉湯（《景岳》）</p>
<p>主邪少虛多，噤口痢久不愈，便閉。</p>
<p>肉蓯蓉（五錢，漂）</p>
<p>水煎服。</p>
<p>吳鞠通曰：蓯蓉感馬精而生，精血所生之草而有肉者也。稟少陰水火之氣而歸太陰坤土之藥，補下焦陽中之陰有殊功。噤口痢日久，陰陽兩傷，水土俱損，蓯蓉乃確當之品也。且濡潤之質，鹹甘之味，復腸中之津液，津足則糞矢自下矣。</p>
<p>澤術麋銜散（《內經》）</p>
<p>主酒風，汗下如浴。</p>
<p>澤瀉　術　麋銜（為末，以三指撮）</p>
<p>百沸湯調服，復以後飯。</p>
<p>張隱菴曰：山澤通氣，澤瀉生於澤中，而能瀉水；術得山氣，能通散脾氣於四旁；麋銜無風自動，有風不搖，能去風除濕。合三指撮者，三乃木數，取風木製化土氣。後飯者，復以穀氣助脾也。</p>
<p>涼血湯（元功）</p>
<p>主熱利純血。</p>
<p>槐花（炒）　紅曲　貫眾（各三錢）　黃芩（一錢五分）　藕汁（一杯，沖）　砂糖（二錢）</p>
<p>水煎服。</p>
<p>熱毒入於血分，故用槐、芩、曲、眾、藕汁，清血中之熱；砂糖以緩急，通利小腸。若熱毒下利成溲，貫眾尤為要藥。</p>
<p>六神湯（堯封）</p>
<p>主痰迷心竅，癲狂，咳嗽，產後神昏譫語，惡露仍通者，或嘔吐，頭貟。</p>
<p>菖蒲（一錢五分）　旋覆花（三錢，綿裹）　半夏（治，二錢）　膽星（七分）　茯神（五錢）　橘紅（五分）</p>
<p>水煎服。</p>
<p>錢韻之曰：《內經》云：「氣因於中，中氣如樞。」樞機不旋，津液化痰，痰阻機關，病非一端，狂言在心，嘔吐入胃，喘咳支肺，眩暈注肝，泄瀉踞脾，胸脘痞滿，一切怪證，都屬於痰。若病具如是，而脈滑舌乾光者，即當用之。蓋此非津液竭而無苔，實有苔如膜耳。是方也，旋覆有旋轉中氣之功，菖蒲有蠲飲宣陽之力，星、半則開結滌痰，橘紅則化痰流氣，茯神上安心主，下利小便，則痰飲不致復生，清陽可以四布，氣機流運，痰飲自化，病從何生？</p>
<p>蒿丹散（松峰）</p>
<p>主瘧久不止。</p>
<p>青蒿（三錢）　黃丹（一錢五分）</p>
<p>為末，陰陽水調服。</p>
<p>此截瘧方也。瘧發有期，必邪踞肝膽有情識之藏府，故以青蒿色青入肝，領邪氣由少陽而出表，即以黃丹質重之藥鎮其虛怯。葉氏所謂凡壯膽肝之氣，皆可止瘧也。然必邪氣欲清，瘧發無休，脈舌如平者，方可用之，若早用之，有脹腫癥瘕之累矣。</p>
<p>資生丸（仲淳）</p>
<p>主老人幼稚脾胃虛弱百病。</p>
<p>人參　白朮（各三兩）　橘紅　楂肉　神麯（各二兩）　茯苓（一兩五錢）　甘草（五錢）　黃連　白蔻仁（各三錢五分）</p>
<p>為末，蜜丸，砂仁湯下。</p>
<p>王孟英曰：《廣筆記》云：「妊娠三月，胃脈養胎，陽明脈衰，胎無所養，而易墮者，宜此丸。」洄溪曰：「此治懷妊氣阻，用消補互兼之法，以止惡阻，而固胎氣。」意頗可取。余謂保胎止吐，皆健運脾胃之功，故曰：資生。夫脾胃位鎮中樞，而司出納，為人後天之本，一失健運，百病叢生。凡衰老稚弱及飢飽不時，勞逸過度，思慮久傷之輩，脾胃尤易受傷。若能常服此丸，俾升降不愆，周流無滯，揮霍撩亂於是弭也。</p>
<p>清營湯（天士）</p>
<p>主溫熱入營，內陷心包，神昏譫語。</p>
<p>犀角（一錢，磨沖）　元參（四錢）　連翹（二錢）　鬱金（一錢五分）　竹瀝（一杯）　石菖蒲（七分）</p>
<p>水煎沸，和瀝汁服，牙緊者啟齒灌之。</p>
<p>葉天士曰：暑濕熱氣，內郁化火，心營、肺衛、胃液悉受熱焰蒸迫，聰明智慧之氣俱被濁氣矇蔽。既為邪蒙，精華氣血不肯流行，諸竅失司聰明矣。急當宣解氣血之壅，故以連翹入心，散心包客熱；犀、參啟腎水上濟心陰，以清燎原之熱；菖、郁辛香，宣竅滌痰；竹瀝救胃中津液，除熱化痰。無形令其旋轉，三焦自有專司，庶無內閉外脫之虞。若閉結太甚，此方不能宣竅清神，宜調入至寶丹一粒，或牛黃丸亦可。</p>
<p>百花煎（《濟生》）</p>
<p>主肺氣虛寒，背寒咳嗽，經久不休。</p>
<p>百合　百部　款冬花（各一錢五分）</p>
<p>水煎服。</p>
<p>錢韻之曰：此治肺氣虛寒經年咳嗽之方也。百合眾瓣合成，象肺補肺，百部溫肺散寒，款冬溫肺止咳。大凡溫藥皆燥，此二物性溫而潤，故亦不礙於肺虛也。</p>
<p>溫膽湯（《局方》）</p>
<p>主膽逆於胃，熱痰為患，嘔苦不眠，驚悸。</p>
<p>茯苓（七錢）　半夏（治）　竹茹（一兩）　廣皮（一兩五錢）　枳實（一兩）　甘草（四錢）</p>
<p>水煎服。</p>
<p>王晉三曰：膽氣橫逆，移熱於胃而為病，欲其旁通膽氣，退熱為溫，非膽寒而溫之也。用半、苓和胃降逆，合橘皮則化痰，合甘草則補中，復以竹茹清上焦熱痰，枳實泄下焦熱痰。膽為生氣所出之府，不得以苦寒傷之，故用此輕劑也。命曰溫者，無過泄之戒詞。</p>
<p>羅東逸曰：膽屬東方木德，少陽溫和之氣也。若宿飲未消，餘熱未盡，必致傷少陽之和氣。茯、半有化痰滌飲之功，陳、草有運氣和中之力，竹茹清少陽之熱，枳實降熱痰之逆。痰熱去，則少陽膽氣溫和矣。</p>
<p>天地煎（生白）</p>
<p>主濕熱化風，口噤，肢痙，神昏，角弓反張。</p>
<p>生天蟲　桑葉　絲瓜絡（各三錢）　活地龍（三條，洗）　桑枝（一兩）　竹茹　羚角　秦艽　威靈仙（各一錢五分）</p>
<p>以水入羚角先煮一沸，內諸藥，煎沸啟齒灌之。</p>
<p>錢韻之曰：人身皮腠之內，經絡也。觀仲祖邪走經絡，必用蟲類攻逐。故薛氏於濕熱化風，走竄經絡，特製此方以療治之。天、地、羚羊、蟲類，搜攻絡中風熱，合竹、桑、絲、艽、靈仙，亦皆通絡、熄風、清熱、化濕耳。</p>
<p>至寶丹（《局方》）</p>
<p>主熱入心包，神昏不語，熱疫，煩躁，或心肺積熱，嘔吐，邪氣攻心，神魂恍惚。</p>
<p>犀角　玳瑁　琥珀　硃砂　雄黃（各一兩）　龍腦　麝香（各一分）　牛黃（五錢）　水安息香（二兩）金箔　銀箔（各五六片）</p>
<p>為末，水安息糊丸，金銀箔為衣。</p>
<p>王晉三曰：此以有靈之品開通心竅，重墜之藥安鎮神明，佐以芳香，搜剔幽隱諸竅。故熱入心包，神昏舌絳者，以此丹入諸清營方中，能立展神明，有非他藥之可及。若病起頭痛而後不語者，此肝虛魂升於巔，又非至寶所能蘇也。凡心神外越，神明撩亂者皆宜。</p>
<p>椒附湯（叔微）</p>
<p>主腎氣攻背，項強不能轉仄。</p>
<p>附子（二錢）　川椒（二十粒）　生薑（七片）　鹽（少許）</p>
<p>水煎服。</p>
<p>許叔微曰：「《千金方》有腎氣攻背，項強等證，予處此方，一服即瘥。」蓋逆行至此，用椒以引，歸經則安矣。腎氣上達，椒下達。詩云：「椒聊且貽我握。」皆此意也。</p>
<p>枳桔湯（朱肱）</p>
<p>主邪蔽胸膈，胸痞，吐酸，呃逆，咳嗽。</p>
<p>枳殼（一錢）　桔梗（三分）</p>
<p>水煎服。</p>
<p>錢韻之曰：胸為氣息之路，總宜曠若太空。若邪蔽胸中，肺氣不布，清陽郁遏，升降不調而為病者，宜此方。枳殼行氣散結，桔梗開肺宣陽，一降一升，氣機旋運，升降不愆，邪氣自散。</p>
<p>雄黃解毒丸（震亨）</p>
<p>主纏喉急痹，陰寒結聚，便閉不通。</p>
<p>雄黃（一兩）　鬱金（二錢）　巴豆（十四粒，去油）</p>
<p>為末，醋丸，津嚥下。</p>
<p>吳鶴皋曰：纏喉急痹，緩治則死。雄黃能破結氣，鬱金能散惡血，巴豆能下稠涎。此方借治陰結不通，厥氣上逆，屢奏奇功。</p>
<p>黃龍湯（又可）</p>
<p>主虛人實熱，循衣摸縫，或不能運藥者。</p>
<p>生大黃（三錢）　生地　蓯蓉（各五錢）　元參（三錢五分）　人參（二錢五分）　當歸（二錢）　甘草（八分）　芒硝（一合）</p>
<p>水煎服。</p>
<p>張石頑曰：湯取黃龍命名，專攻中央燥土。雖曰用承氣，不得參、歸等鼓舞胃氣，烏能興雲致雨，或者以為因虛用參，殊不知參在群行劑中，則迅掃之威愈猛，安望其補益之力歟？</p>
<p>吳鞠通曰：虛人熱盛，不下即死；或下之不通，正虛不能運藥者亦死。蓋正氣已虛，邪氣復實，不得不以人參補正，大黃逐邪，芒硝破結，甘、地、蓯、歸增液，下通邪退。即正存一線，亦可大隊補陰而生，此邪正合治也。</p>
<p>瀉黃散（明陽）</p>
<p>主脾胃伏火，口乾，口臭，口瘡，熱在肌肉。</p>
<p>防風（四兩）　藿香（七錢）　山梔（一兩）　石膏（五錢）　甘草（二錢）</p>
<p>為末，略炒香，蜜酒調服。</p>
<p>吳鶴皋曰：脾中伏火，故用防風升陽散肝火，發脾中伏火，藿香理脾胃之氣，石膏大寒瀉熱，梔子使火屈曲下行，從小便出，甘草和中，又能瀉火，調以蜜酒，所謂先誘之而後攻之也。</p>
<p>端本丸（東宿）</p>
<p>主濕痰下流，遺精，白濁，帶下，面油。</p>
<p>白螺螄殼（煅，四兩）　牡蠣（二兩）　半夏（治）　葛根　柴胡　苦參　黃柏（各一兩）</p>
<p>神麯糊丸。</p>
<p>錢韻之曰：陰氣走泄，濕熱痰飲乘虛下陷，必見脈滑面亮為的。螺螄水中旋行成道，澄清降濁，滲濕化痰；牡蠣固正精而卻邪水，化濕痰；半夏以和陰陽；柴葛以升清氣；黃柏堅陰清火；神麯開發氤氳。為丸緩服，則升者不致劇升，使濕痰去而清者升，則四體泰然，遺濁自止矣。</p>
<p>一貫煎（柳洲）</p>
<p>主肝血衰少，脘痛，脅疼。</p>
<p>北沙參　麥冬　當歸（各一錢五分）　枸杞　生地（各三錢）　川楝子（二錢）</p>
<p>水煎服。</p>
<p>肝者，將軍之官，謀慮出焉，稍有拂鬱，則橫凌中土，理固然也。若腎水虧損，血液不足，則肝失所養而虛矣。大凡藏氣一衰，必所勝侮之，獨肝性剛暴，虛則不但不肯受制，而反欲侮其所勝矣。倘但見病似實，而抑之平之，是更廣其病機也。夫肝為剛藏，宜濟以柔，魏氏立此方，所以避剛劑也。生地補腎水，《難經》所謂「虛則補其母」是也；枸杞滋心血，《千金》所謂「子王則氣感於母」是也；麥冬益胃氣，仲師所謂「見肝之病，知肝傳脾，當先實脾」是也；沙參養肺氣，即《內經》所謂「勝極必復」，是迎其復氣也；當歸資本藏之血，《金匱》所謂「肝氣盛則肝自愈」是也。然肝為剛暴之藏，恐得補而反助其勢，故復以川楝泄肝之品，以監製之。命名一貫，取五藏有相生循環之妙，而一方貫之也。</p>
<p>青娥丸（《局方》）</p>
<p>主腎虛風冷，腰痛而重，喘咳。</p>
<p>胡桃肉（二十個）　破故紙（六兩，酒炒）　杜仲（十六兩，薑汁炒）</p>
<p>為末，蒜膏丸。</p>
<p>王晉三曰：腎虛為風冷所乘，或處濕地，或墜墮傷損，皆令腰間似有物墜垂也。骨脂、胡桃，以補左性右命之間；杜仲、蒜膏，調和肝腎之氣。溫腎納氣，則喘咳平而腰腳自利矣。一方加青鹽膏，似覺更妙。</p>
<p>五皮飲（澹寮）</p>
<p>主水溢皮膚，遍身浮腫。</p>
<p>五加皮（四錢）　桑白皮（一錢五分）　大腹皮（三錢）　生薑皮（六分）　新會皮（五分）　茯苓皮（三錢五分）</p>
<p>水煎服。</p>
<p>汪訒庵曰：諸藥滲濕健脾，於散瀉之中，猶寓調補之意。皆取皮者，水溢皮膚，以皮行皮也。</p>
<p>保元湯（明之）</p>
<p>主氣虛發熱，肢軟面白，痘陷不起。</p>
<p>黃耆（三錢）　人參（二錢）　甘草（一錢）　肉桂（三分）</p>
<p>水煎服。</p>
<p>錢鬥保曰：保元者，保守元氣之謂。黃耆保在外一切之氣，甘草保在中一切之氣，人參保上、中、下、內、外一切之氣，加肉桂以鼓腎間動氣，諸氣治則元氣足矣。</p>
<p>清魂散（《局方》）</p>
<p>主產後眩暈，不知人，神昏，口噤。</p>
<p>澤蘭　人參（各一分）　荊芥（一兩）　甘草（五錢）</p>
<p>為末，酒下。</p>
<p>汪訒庵曰：產後氣血虛弱，瘀留而又感風邪，神魂蕩越。人參甘草以補正，荊芥以祛風，澤蘭以行瘀。風去瘀行，氣血生則神清矣。肝藏魂，故曰：清魂。</p>
<p>三香湯（天士）</p>
<p>主暑濕穢濁，不飢，不食，不便，不寐，胸煩。</p>
<p>瓜蔞皮（炒）　鬱金（各一錢五分）　山梔（炒）　降香（各一錢）　豆豉（三錢）　枳殼（七分）</p>
<p>水煎服。</p>
<p>葉天士曰：濕濁暑穢，觸自口鼻，由膜原直走中道，遂致清肅不行，機竅不靈，故以清熱開鬱，芳香逐穢法也。</p>
<p>甘露飲（《局方》）</p>
<p>主胃經濕火，口臭，舌碎，吐衄，齒血。</p>
<p>枇杷葉（去毛）　生地　天冬　枳殼　茵陳　麥冬　石斛　甘草　黃芩（各等分）</p>
<p>水煎服。</p>
<p>天之暑熱一動，地之濕濁自勝，人在氣交之中，感受其氣，身中心火、胃濕熏蒸上竅，或腎水不足，而致胃火上升，或胃之陰虛，而虛陽上冒者，甘露飲最為的對。此以陰虧而火王，火王而濕動。除其火熱則陰自生而濕自化也。名曰「甘露」，謂甘露從天下降，炎暑自掃蕩無餘。然降露之夜，必天朗氣清，故方中以枇杷葉之清涼，肅清肺氣，以象降露之天；露之質，究屬是水，故以二冬、甘、斛，滋津養液，以象化露之水；露之性，甘潤清涼，故以地、芩甘苦氣寒，清熱瀉火，以象甘露之性。如是則甘露成，陰得養而熱自清，濕可化矣。然濕熱雖化而不使下泄，仍有上蒙之患，故復以枳殼通幽門，茵陳通火府，使濕熱濁邪一齊下趨矣，制方之妙若此。</p>
<p>斑龍丸（《青囊》）</p>
<p>主督脈虧損，天柱骨傾，頭重高搖，久利遺精，崩漏帶下。</p>
<p>鹿角膠　鹿角霜　鹿茸　補骨脂　柏仁　菟絲子　熟地（各等分）</p>
<p>為末，膠糊丸。</p>
<p>葉天士曰：鹿茸升督脈之陽，角霜通督脈之氣，鹿膠補督脈之血，骨脂獨入命門，以收散越陽氣，柏子涼心以益腎，熟地味厚以填腎，菟絲就少陰以升氣固精。古語云：「尾閭不禁滄海竭，九轉靈丹都漫說。惟有斑龍頂上珠，能補玉堂關下闕」。故治下部陽虛督損之病也。</p>
<p>汪訒庵曰：凡此峻補氣血之劑，陽虛者宜之。若真陰虧損，虛火上乘者，不可輕投，恐反涸其水。</p>
<p>控涎丹（無擇）</p>
<p>主痰飲膠結，四肢牽引釣痛，手足冷痹。</p>
<p>甘遂　大戟　白芥子（各等分）</p>
<p>為末，薑汁糊丸。</p>
<p>王晉三曰：控，引也；涎，湎涎也，水流貌，引三焦之水湎涎流出於水道也。白芥白色入肺，走皮裡膜外之水飲；甘遂色黃入脾，決經隧之水飲；大戟色黑入腎，逐藏府之水飲。三者引經各異，湎涎於水道則同，當審用之，能收奇功也。</p>
<p>徐靈胎曰：此乃下痰之方，人實證實者用之。</p>
<p>烏蠍四君子湯（士瀛）</p>
<p>主慢驚風。</p>
<p>川烏（五分）　全蠍（三隻）　白朮（一錢五分）　甘草（四分）　人參（二錢）　茯苓（三錢）</p>
<p>水煎服。</p>
<p>錢韻之曰：慢脾驚風之稱，何謂也？慢者，緩也，脾之性也；驚者，肝膽之情也。由於病久元虛，脾陽不健，肝膽之風，逆沖脾土。風性急而病反緩者，不特脾性之緩慢，抑亦邪正之不爭也。病在幼稚者，未得穀味精微耳。若不窮其致風之由，惟治其風淫之標，豈不遺人夭枉乎？烏頭峻補命火，立建脾陽，全蠍善竄，疏絡定風，人參致中和之氣，白朮培中宮，茯苓清治節，甘草調五藏。土氣砥柱，木不動搖；木平風熄，病安從來？</p>
<p>妙香散（荊公）</p>
<p>主心氣不足，驚怖悲憂，虛煩不寐，夢遺汗。</p>
<p>茯神（二兩）　人參　遠志　甘草（各五錢）　龍骨　黃耆（各一兩）　益智（四錢）　桔梗　硃砂（各三錢）　木香（二錢五分）　麝香（一錢）　山藥（六錢）</p>
<p>為末，調服。</p>
<p>古人謂：五志過極，都從火化。以勞神太過，心液受傷，心陽妄動，相火隨之，火壯食氣，氣不攝精，遺而有夢，是精神兩泄矣，與房勞過度者有別。人身三寶，精、氣、神也。今精、神兩傷，氣孤無偶，故急以人參保之，黃耆固氣以固精，龍骨斂神以斂精，益智補命而澀精，茯神補心而安神，桔梗宣思慮之鬱結，硃砂鎮妄動之心陽，遠志醒脾氣以上安心神，山藥補胃氣以下澀腎精，甘草調和中氣，以交通心腎。然其妙則又在於二香，蓋精神氣血之所以交戀不離者，在乎一氣之運動也。故以二香通行十二經八脈氣分，為之轉輸，不使滯於一處而偏勝，則上下安和，陰平陽秘，精神乃治矣。</p>
<p>解甲風（孔明）</p>
<p>主夏月汗秘，頭疼，惡寒，發熱。</p>
<p>麻黃（八兩）　綠豆（十兩）</p>
<p>為末，每服二錢，水茶煎飲。</p>
<p>錢韻之曰：此方乃武候南征所制。時值夏月，軍士解甲之頃，風寒乘汗而入，則無汗、頭疼等症作矣。然風寒外束，內中不無暑熱，故以麻黃散風寒於外，綠豆清暑熱於中，汗出邪散，諸證悉除，豈非神劑乎？</p>
<p>解語湯（資壽）</p>
<p>主風中脾絡，舌強不語，半身不遂。</p>
<p>羚角　天麻（各二錢）　桂枝（三分）　生薑汁（二匙）　竹瀝（一杯）</p>
<p>水入羚羊煮沸，再入麻桂，再沸，和瀝汁服。</p>
<p>錢韻之曰：經云：脾是動則病舌本強，食入嘔。此言肝風挾痰飲上衝於脾絡。脾脈絡於舌本，故舌強而不言也。是方取羚、桂、天麻，疏絡定風；合薑、瀝，則滌痰而流利機關也。俟開言後，即當玉屏風善後。</p>
<p>參乳飲</p>
<p>主氣血交虧，先天不足，面黃羸瘦。</p>
<p>人參末　人乳末（各等分）</p>
<p>蜜丸，米飲調服。</p>
<p>汪訒庵曰：人參、人乳，用之以交補氣血，虛人宜常服。</p>

<h1>卷三</h1>
<p>來復丹（《局方》）</p>
<p>主暑濕濁寒壅滯中宮，氣塞填胸，便閉。</p>
<p>元精石（一兩）　硫黃　硝石（各一兩，同硫炒，結砂）　五靈脂　青皮（各二錢）　橘紅（一錢）</p>
<p>為末，醋糊丸，豌豆大米飲下。</p>
<p>王晉三曰：《易》言一陽來復於下，在人為少陽生氣所出之藏。病上盛下虛，則陽氣去，生氣竭。此丹能復陽於下，故曰來復。玄精乃鹽滷至陰之精，硫黃乃純陽石火之精。寒熱相配，陰陽互濟，有扶危拯逆之功。硝石化硫為水，亦可佐元硫以降逆。靈脂引經入肝最速，能引石性內走厥陰，外達少陽，以交陰陽之樞紐。使以青橘者，納氣必先利氣，用以為肝膽之嚮導也。</p>
<p>葉天士曰：寒閉神昏用來復，與熱閉用至寶為對待。</p>
<p>張石頑曰：此方以硝黃二味，大理中宮。寒涎宿垢，更以元精清鎮肺金，使氣化下行，歸就膀胱。二皮五靈以破食積痰血之滯，雖大理腸胃而不礙乎陽虛，故為治伏暑水瀉之聖藥。但小便赤澀不利者禁用。</p>
<p>章虛谷曰：人有素來上盛下虛者，暑濕濁邪壅於中宮，氣不升降，攻補難施，惟此方能旋轉陰陽，使濁邪上解，元氣下復，故名來復。凡虛而有濁者皆宜，不獨治暑病而已。</p>
<p>集靈膏（內府）</p>
<p>主氣血兩虛，身弱，咳嗽，咽乾，羸瘦。</p>
<p>人參　杞子（各一斤）　天冬　麥冬（各一斤十二兩）　生地（三斤）　牛膝（四兩，酒蒸）　仙靈脾（五兩）</p>
<p>甜水砂鍋熬濃，加白蜜六兩收膏，白湯調服。</p>
<p>王孟英曰：凡少年但氣弱倦怠，津液少，虛火上炎者，急宜服之，免成勞損。後惟魏玉橫先生善用此方，極言其功效，愚謂峻滋肝腎之陰，無出此方之右。若兼帶下遺精，宜去牛膝加黃柏。大便易滑者，亦宜去。</p>
<p>疏鑿飲子（《濟生》）</p>
<p>主水氣洪腫，喘急多渴，二便不利。</p>
<p>羌活、椒目、赤豆（各等分）</p>
<p>水煎服。</p>
<p>錢鬥保曰：水濕過盛，表裡俱實，故以羌活行在表之濕，從皮膚而散；椒豆行在裡之水，從下竅而出。上下內外分消甚勢，亦猶神禹疏鑿江河之意也。</p>
<p>獨聖散</p>
<p>主產後瘀血作痛，或食肉不消，脘痛拒按。</p>
<p>山楂（一兩，炒）</p>
<p>水煎，和童便一杯，砂糖半兩服。</p>
<p>吳於宣曰：山楂不惟消食健脾，功專破瘀，止兒枕痛，更以砂糖之甘，逐瘀而不傷脾。童便之咸，入胞而不涼下，相得相需，功力甚偉。名曰獨聖，誠不虛也。</p>
<p>白螺丸（震亨）</p>
<p>主痰積中宮，嘔吐，脘痛，吞酸。</p>
<p>白螺螄殼（一兩）　蒼朮（一錢）</p>
<p>為末，神麯糊丸。</p>
<p>錢韻之曰：脾氣一虛，津液不輸，積為痰飲，瀰漫胸膈之間，為病非一。螺螄生於水中，旋行成道，開脾郁，豁痰飲，旋轉中氣而輸水濕下行。蒼朮健脾，去窠囊之積，助以神麯，推陳致新，使積飲去，納食加而病愈矣。</p>
<p>清絡飲（天士）</p>
<p>主暑入肺絡，身熱，頭脹，咳嗆，耳聾而脹。</p>
<p>西瓜翠（五錢）　絲瓜葉（一兩）　荷葉邊（三錢）　金銀花（一錢五分）　竹葉（十片）</p>
<p>水煎服。</p>
<p>葉天士曰：暑火傷氣，肺先受邪，經絡痹塞，清竅為蒙，治以清涼芬芳氣味，廓清上焦氣分，其邪不攻自罷，合乎軒岐上病治上之方。</p>
<p>黑膏（《千金》）</p>
<p>主溫邪化火，劫津灼血，身熱無汗，神昏譫語。</p>
<p>生地（一兩）　豆豉（五錢）</p>
<p>熬膏服。</p>
<p>錢韻之曰：溫邪化火，津液受劫，氣血兩燔，用此以雙解表裡之邪也。生地專清營血之熱，補腎水上制邪火；豆豉發散衛分之邪，隨生地可拽營熱，使從表泄。名曰：黑膏。黑者，取黑水以平赤火；膏者，滋津以助作汗之具也。此方與白虎地黃同為氣血兩清之劑。有汗者，宜白虎地黃，兩清氣血之燔；無汗者，宜此方，兩泄氣血之熱。分而用之，有如桴應鼓之神。</p>
<p>玉壺丸（扁鵲）</p>
<p>主陽虛臌脹，便閉，百治不效。</p>
<p>硫黃（八兩，制九次）</p>
<p>為末，水法丸，開水送下。</p>
<p>王晉三曰：玉壺指人身而言。道書云：「金精滿鼎氣歸根，玉液盈壺神道至。」硫黃有水火既濟之妙。凡命門陽虛，陽氣暴絕，臌脹便秘，用以治之，卻有神功。</p>
<p>二金湯（天士）</p>
<p>主濕滯脾經，黃疸，腫脹。</p>
<p>海金沙（綿裹）　雞內金（各三錢）</p>
<p>水煎服。</p>
<p>錢韻之曰：坤土不運，水濕自生，濕阻氣道，氣機不行，為臌為疸，治以木畜之脾，健脾運氣。金沙其象似土，能於土中布其流散之用，而並達水濕從小便而祛，故東垣治脾濕腫滿，喘悶不快之病也。</p>
<p>鎮火湯（元功）</p>
<p>主虛火上炎，吐血，咯血，面赤，足冷。</p>
<p>龜板　赭石（各四錢）　阿膠（一錢五分）　三七（七分）　馬蘭根（三錢）</p>
<p>水煎服。</p>
<p>錢韻之曰：血者，營養筋骨者也，生於心，統於脾，藏於肝。腎之龍火一動，肝之雷火從之，龍雷相蕩，陽絡受傷，肝失藏，脾失統，血無所主，隨火奔騰，越出上竅。龜甲制龍火之上騰，兼補腎藏真水。赭石一名血帥，帥血歸經，鎮墜雷火。阿膠得濟水沉伏，滋陰降火。三味功專鎮火之逆，故以名湯。復以三七、馬蘭和絡止血。火降則血止，血止則陰生，陰生則火不妄升矣。</p>
<p>大力奪命丹（《外臺》）</p>
<p>主胃虛，氣逆，噎膈。</p>
<p>牛囀草（一握）　杵頭糠　元米（各半升）</p>
<p>為末，牛涎泛丸。</p>
<p>胃屬中土，坐鎮諸氣，胃氣一虛，氣逆上奔，乃為噎膈。治以坤土之牛涎，主滋養胃津，囀草主扶脾運化，糠主降逆，米主調中，胃氣既治，病由何作？</p>
<p>煨棗（曉瀾）</p>
<p>主營弱衛疏，易感風邪，汗多咳嗽。</p>
<p>南棗（二斤）　黃耆　桑葉（各二兩）　菊花（一兩）　陳皮（五錢）</p>
<p>水煎五沸，去藥滓，空心啖棗七枚。</p>
<p>錢韻之曰：此病後杜虛風復入之方，乃風引玉屏之變法也。第風邪之復入，本於營虛而衛疏，故以黃耆實衛，紅棗調營，營衛和諧，腠理致密。桑菊熄風平肝，蓋風之外襲，必由肝風內招，故以斯先平之。陳皮不過疏耆棗之滯。單食棗者，省服藥之煩，且不損胃土中和之氣耳。</p>
<p>久瘧湯（元功）</p>
<p>主邪留經絡，瘧久不休，熱多寒少。</p>
<p>何首烏（一兩）　蟬衣（五錢）</p>
<p>水煎服。</p>
<p>暑邪日久，邪歸經絡，陰氣日虧，邪氣日熾，故以首烏調和氣血，滋養陰液，蟬衣搜剔絡中伏邪，托之外出，邪泄則正強而瘧止矣。此與何人有邪正虛實之分，彼則邪少虛多，故取參之補正；此則邪多虛少，故用蟬之泄邪耳。</p>
<p>蘇合香丸（《局方》）</p>
<p>主寒阻關竅，暴厥，疰忤，鬼氣，瘴瘧，傳屍。</p>
<p>蘇合油　乳香（各五錢）　安息膏　丁香　木香　檀香　沉香　蓽茇　香附　訶子　犀角　硃砂（各一兩）　片腦（二錢）　麝香（三錢）</p>
<p>為末，油膏蜜和丸，如芡實大，沸湯下。</p>
<p>錢韻之曰：李士材謂：「寒阻關竅，宜此方。」蓋亦芳香開竅法也。諸香調氣散郁，溫散寒邪，開通關隘。犀角以為反間，不然恐其格而不入耳。凡溫暑濕邪入營昏痙，舌苔滑白者，亦可假以開竅通神。</p>
<p>半硫丸（《局方》）</p>
<p>主陽衰，風秘冷秘，痃癖冷氣。</p>
<p>生半夏　硫黃（各等分）</p>
<p>為末，生薑汁法丸。</p>
<p>吳鞠通曰：腎司二便，肝主疏泄。腎中真陽為濕所困，久而彌虛，失其本然之職，故助之以硫黃，熱而不燥，能疏利大腸。肝主疏泄，風濕相為勝負，濕凝則風熄而失其疏泄之能，故通之以半夏，能入陰燥勝濕。辛下氣，溫開鬱，三焦通而二便利矣。</p>
<p>搜邪解毒湯（宜亭）</p>
<p>主毒痧隱伏，人人相染，神昏。</p>
<p>牛蒡子　貫眾　中黃（各三錢）　連翹　蟬衣　銀花　穿山甲　射干（各一錢五分）　浮萍　馬勃（綿裹）　犀角（各七分）　豬屎（五錢，綿裹）</p>
<p>水煎服。</p>
<p>錢韻之曰：痧瘄者，皮膚紅暈，乃風熱毒蘊於肌腠也。若已見而復隱者，非涼風外束，即內火上炎。涼風外束，表散為先，故是方以萍、蒡、蟬、穿大開腠理，搜邪外出；犀、黃、銀、射清熱解毒於中；豬勃化穢毒熱邪，使之還清；翹、貫引血中熱毒，使之還表。此以表裡皆病，故用由營透衛法，若普濟消毒飲，亦可互用。</p>
<p>虎杖湯（叔微）</p>
<p>主敗精阻竅，淋濁，莖痛。</p>
<p>虎杖汁（半杯）　麝香（一分）</p>
<p>隔水燉溫，空心服。</p>
<p>葉天士曰：房勞強忍精血之傷，乃有形敗濁阻於隧道，故每尿必痛，以尿與精同門異路耳。故以杜牛膝通隧道之阻塞，麝香逐敗瘀之精血也。</p>
<p>失笑散（《蘇沈》）</p>
<p>主瘀血不下，心腹絞痛拒按，血迷心竅，不省人事，月經停滯作痛。</p>
<p>五靈脂　蒲黃（各等分）</p>
<p>為末，溫酒調服。</p>
<p>吳於宣曰：經以心主血，脾統血，肝藏血，故瘀血阻滯，三經皆受其病。血之瘀也，由寒凝不消散，氣滯不流行，非甘溫破血行血，不能攻逐蕩平也。是方用靈脂之甘溫走肝，生用則行血；蒲黃之辛溫入肝，生用則破血。佐酒以行其力，庶可直抉厥陰之滯，而有推陳致新之功。不覺諸證悉除，直可以一笑而置之矣。</p>
<p>霹靂劫巢湯（映廬）</p>
<p>主中風，痰湧，暴厥，身不發熱。</p>
<p>草烏　牙皂　麻黃（各三分）　細辛（一分）　殭蠶（三錢，生）　全蠍（一錢五分）　南星（一錢）　半夏（一錢七分）　竹瀝（一杯）　薑汁（三匙）　天雄（四分）</p>
<p>水煎頻灌。</p>
<p>謝映廬曰：將息失宜，痰飲日生，關隘漸塞，藏於隱微之中，結成囊癖，如燕之巢，如蜂之窠，其積之苦，非一日也。倏然外風襲入，或肝風內動，膠韌之痰，隨風上湧，清陽失位倒置，或令暴僕，或為痛厥，或為嘔吐。斯義惟喻嘉言透此一關，取用氣味俱雄之藥，所謂能變胃而不受胃變，如寇匪蟠踞，侵漫已極，使非斬關奪門之將，何以突圍而劫巢乎？故以星、半、麻、雄、蠶、蠍、薑、瀝，通經入絡，搜散風邪，消癖攻痰。然討寇之兵，性情暴烈，膈膜隱癖之區，道路常多曲折，非所易入，恐難決勝。故復使烏、皂、細辛，氣味俱雄者，有鋒銳巧捷之能，搜邪關竅之用。飲之下咽，猶霹靂一聲，號令一舉，眾皆走而不守，直達病所，贊襄成事，取功易易。</p>
<p>斂神湯（元功）</p>
<p>主懈㑊，不寒不熱，神識時迷。</p>
<p>龍骨　虎骨（各二兩）　龜甲　硃砂　五味子　紫石英（各一兩，為末）　棗仁（三錢）　茯神（四錢）</p>
<p>煎湯調服。</p>
<p>錢韻之曰：經謂：「夏刺經脈，血氣乃竭，令人懈㑊，寒不甚，熱不甚，惡見人，見人惴惴然。」此言懈㑊之病象也。《靈樞》云：「神氣舍心，魂魄畢具。」今心氣不足，無以外護；心血不足，無以內營。內外失守，神不歸舍，魂魄外越，筋骨懈怠而為懈㑊。治以龍虎之靈，東西對待，安魂寧魄。味、龜、英、朱，水火交媾，安神澀精，助以茯、棗，交補心經氣血。道經云：「龍從火里出，虎向水中生。」「人寶惟有精、氣、神，葆得三者可永生。」方名斂神，取斂攝神氣，神斂則筋骨強矣。</p>
<p>黑錫丹（《局方》）</p>
<p>主陽氣不固，陰氣衝逆，暴厥，暴血，奔豚。</p>
<p>沉香　附子　蘆巴　肉桂（各五錢）　茴香　骨脂　肉蔻　楝實　木香（各一兩）　黑錫（同硫黃炒成砂）　硫黃（各三兩）</p>
<p>為末，酒麵糊丸如桐子大。</p>
<p>張石頑曰：黑錫，水之精；硫黃，火之精。二味為君，諸香燥純陽之藥為臣，以金鈴苦寒為反佐，沉香引入至陰之分為使。凡遇陰火逆沖，真陽暴脫，氣喘痰鳴之急證，用以鎮固其陽，使坎離交於頃刻，續命神丹也。</p>
<p>徐靈胎曰：鎮納上越之陽氣，為必備之要藥。</p>
<p>更衣丸</p>
<p>主津液不足，腸胃乾燥，大便不通。</p>
<p>蘆薈（七錢）　硃砂（五錢）</p>
<p>為末，滴酒為丸，酒下一錢二分。</p>
<p>柯韻伯曰：兩陽合明而胃家實，仲景有承氣以下之；三陽燥結而津液亡，前賢又制此方以潤之。古人入廁必更衣，故以此命名也。硃砂以汞為體，性寒重墜下達；蘆薈以液為質，大苦大寒，性能潤燥結，從上導下而胃關開矣。合以為丸，兩者相須，奏功甚捷。</p>
<p>達原普濟飲（宜亭）</p>
<p>主內火熾盛，毒痧隱伏。</p>
<p>犀角（七分）　石膏（一兩）　鱉甲　惡實（各三錢）　歸身　桃仁　山甲　荊芥　連翹　蟬衣（各一錢五分）　母豬屎（五錢）</p>
<p>水煎服。</p>
<p>錢韻之曰：搜邪解毒，因風邪外束而痧隱，故重用散邪。此以內火太盛，經絡壅塞，毒痧隱伏，故需石膏之大清諸火，歸、翹、桃、鱉活血通絡，荊、蒡、蟬、甲以解肌，犀角、豬屎以化毒，則痧自外達矣。</p>
<p>玉屏風散（允宗）</p>
<p>主病後表虛，易感風寒，咳嗽，自汗。</p>
<p>黃耆　防風　白朮（各等分）</p>
<p>為末，調服。</p>
<p>柯韻伯曰：邪之所湊，其氣必虛。故治風者，不患無以驅之，而患無以御之；不患風之不去，而患風之復來。何則？發散太過，元府不秘故也。昧者不知托裡固表之法，遍試風藥以驅之，去者自去，來者自來，邪氣留連，無解期矣。防風善於驅風，得黃耆以固表，則外有所衛；得白朮以固里，則內有所據。風邪去而不復來，此欲散風邪者，當依如屏，珍如玉也。</p>
<p>柴胡人參湯（院使）</p>
<p>主陰虛內熱，骨蒸盜汗。</p>
<p>銀柴胡　人參（各五錢）</p>
<p>水煎服。</p>
<p>溫邪久羈，陰液受戕，邪氣陷入，又或素稟陰虛火旺，皆勞損之萌也。是方人參、銀、柴，氣味甘寒，養陰清熱，且不伐中和之氣，而補後天元氣也。</p>
<p>二妙散（震亨）</p>
<p>主下焦濕熱，足腫，淋濁。</p>
<p>蒼朮　黃柏（炒，各等分）</p>
<p>為末，調服。</p>
<p>王晉三曰：蒼朮、黃柏，一生一熟，相為表裡，治陰分濕熱，大有殊功。</p>
<p>蠶矢湯（孟英）</p>
<p>主濕熱穢濁，霍亂，轉筋。</p>
<p>蠶砂（一兩）　苡仁（五錢）　豆卷（四錢）　木瓜（三分）</p>
<p>水煎服。</p>
<p>王孟英曰：蠶砂本桑葉所化。夫桑葉主熄風化濕，既經蠶食，蠶亦主勝風去濕。且蠶僵而不腐，得清氣造物者獨純，故其矢不臭不變色，殆桑從蠶化，雖走濁道而清氣獨全。蠶砂既引濁下趨，又能化濁使之還清，性較雞矢更優，故為霍亂轉筋之主藥。治溫疫用人中黃散，亦取領諸藥迅掃濁邪，下趨陰竅，較他之藉硝以達下者，更覺貼切，制方之義可謂精矣。至來復丹之用五靈脂，亦從雞矢白脫胎也。木瓜善舒筋縮，卷、苡淡滲而主攣痹，合而用之，奏功甚速。</p>
<p>君雷散</p>
<p>主蛔蟲腹痛，吐沫，面白，唇紅，喜食茶土炭。</p>
<p>雷丸　使君子（各等分）</p>
<p>為末，以其所喜者作湯調服。</p>
<p>大凡殺蟲之劑，皆伐生氣，惟此方殺蟲而不傷生氣者也，所以為佳。</p>
<p>豬肚丸（松石）</p>
<p>主濕熱下流，遺精，白濁，面黃，帶下。</p>
<p>牡蠣　白朮（各四兩）　苦參（三兩）</p>
<p>為末，豬肚煮爛糊丸。</p>
<p>王晉三曰：此治濕熱醪蘊脾胃，留伏陰中，故以豬肚為水中之土，厚胃泄水，白朮健脾勝濕，苦參泄濕清熱而堅腎陰，牡蠣化濕清熱而固正精。泄其邪，固其正，安有遺滑之患哉？</p>
<p>清暑化濕湯（孟英）</p>
<p>主暑濕發瘧，汗多不解。</p>
<p>石膏（一兩）　厚朴（一錢）　杏仁（三錢）　竹葉　半夏（治）　知母（各一錢五分）</p>
<p>水煎，臨熱時服，一劑知，二劑已。</p>
<p>葉天士曰：夏秋久熱，口鼻吸暑，偶有風涼外束，裡熱欲出無路，與營衛二氣交爭，致發瘧疾。夫暑必夾濕，濕也，熱也，皆氣也。聖帝論病，本乎四氣。其論藥方，首推氣味。理必苦降辛通，斯熱清濕化。石膏辛寒，大清氣分暑熱，厚朴辛溫燥濕，導涼藥以達膜原，半夏以和營衛，知、竹專理陽明獨勝之熱，杏仁降氣。而手太陰肺亦得秋金肅化之司，氣化則邪亦化矣。一劑知，謂藥已知其對證；二劑已，已者中病當愈之稱耳。</p>
<p>奪命散（趙塋）</p>
<p>主產後血暈，瘀血衝心，發狂。</p>
<p>血竭　沒藥（各等分）</p>
<p>為末，童便溫酒調服。</p>
<p>錢韻之曰：新產之頃，有三沖急症，乃惡露不下而上衝心、沖肺、沖胃也。血竭專破瘀血，和絡定痛；沒藥衛護心宮，去瘀生新；童便導濁下行。能奪回性命於瞬息之間，故為產後三沖急症之神方也。</p>
<p>牽正散（士瀛）</p>
<p>主中風痰湧，口眼喎邪，無他證者。</p>
<p>白附子　殭蠶　全蠍（各等分）</p>
<p>為末，酒調服。</p>
<p>汪訒庵曰：白附辛溫，祛風豁痰；蠶、蠍辛鹹，軟痰散風。性動可使活絡，有毒可使破結。風性善行而有毒，用行而攻行，用毒以攻毒者，大《易》所謂「同氣相求」，《內經》所謂「衰之以其屬也」。不僅為內風之良方，又為外中旋風之聖藥。</p>
<p>辰砂散（《蘇沈》）</p>
<p>主癲癇狂，精神恍惚。</p>
<p>辰砂（一兩）　棗仁（微炒）　乳香（各五錢）</p>
<p>為末，溫酒調服。令恣飲沉醉，勿令至吐，便安置床枕令睡。病淺者一二日，深者三五日，睡覺，即神魂定矣。慎不驚觸。</p>
<p>孫兆曰：人但知安神，而不知昏其神，則神始安。得睡者，酒力也，醉則神昏而反安矣。辰砂鎮心泄火，乳香入心散瘀痰，棗仁補肝膽而寧心。</p>
<p>清陰煎（天士）</p>
<p>主暑熱上冒，入暮昏厥，譫語，或神呆，痰潮。</p>
<p>綠豆衣　赤豆衣　黑豆衣（各三錢）</p>
<p>地漿煎湯，調入珍珠末四分，冰片一分，溫服。</p>
<p>葉天士曰：暑熱客氣，由上受以行中道，熱蒸上冒，三焦否塞，擾亂神明而為厥。厥則邪深在陰，故取地漿重陰之氣，直清陰分之熱。珍珠至陰之氣，清心中之熱，立展神明。少佐冰片，辛溫以開熱痹。三豆清暑解毒，由至陰而外達皮膚，使其厥止。厥止，展清氣分可也。</p>
<p>羊肉湯（祗和）</p>
<p>主亡陽脫血，惡人倦臥，時戰如瘧。</p>
<p>羊肉（四兩）　生薑　附子（各二兩）　當歸　白芍　牡蠣（各一兩）　龍骨（五錢）　桂枝（一錢五分）</p>
<p>水煎服。</p>
<p>韓祗和曰：氣血欲脫，若止救逆，效必遲矣。與羊肉湯，病雖色見有陽，是熱浮上焦，中下二焦陰氣不化，若調得下焦有陽，則上焦之陽下降丹田，知所歸宿矣。</p>
<p>丁香柿蒂湯（扁鵲）</p>
<p>主因寒呃逆，久利。</p>
<p>丁香　柿蒂　蓮子　生薑（各等分）</p>
<p>水煎服。</p>
<p>汪訒庵曰：陰氣若盛，陽火隨竭，浮於胸中，亦欲散矣，故不用鎮降而反以溫藥。丁香養胃、益火、暖腎，柿蒂納氣歸腎，蓮子輔胃鎮逆，生薑開鬱散寒。胃氣一和，陽回寒散矣。</p>
<p>四生丸（自明）</p>
<p>主血熱妄行，吐血，鼻血。</p>
<p>生地　柏葉　生藕　艾葉（各等分）</p>
<p>搗丸，調服。</p>
<p>柯韻伯曰：陰虛而陽無所附，則火炎上焦。陽盛則陽絡傷，故血上溢也。四味皆清寒之性，盡取其生者，所以全其水氣也。生地多膏，清心腎而通血脈之源；柏葉西指，清肺金而調營衛之氣；艾葉芳香，入脾胃而有去瘀生新之功；生藕空通，而和藏血攝血之用。五志之火既清，五藏之陰安堵，則陰平陽秘，血自歸經。</p>
<p>養胃湯（元功）</p>
<p>主胃氣不蘇，不飢不食，噤口痢疾。</p>
<p>扁豆花　茉莉花（各十朵）　蓮肉　綠豆衣（各二錢）　菖蒲　枳殼（各五分）　蘇梗（四分）　穀芽（五錢）</p>
<p>水煎服。</p>
<p>經以九竅不和，都屬胃病。胃府屬陽，以通為用。暑濕痹於胃府，出納之權交失。菖、茉芳芬，以醒胃氣；扁、綠甘寒，以清暑濕。蓮以降逆，蘇以調氣，谷養其陰，枳滌其濁。胃中邪濁既清，胃氣自然甦醒，於是九竅咸利矣。若非胃氣不醒，而舌光或干絳者，胃陰傷也，宜致和湯。</p>
<p>四磨飲（《濟生》）</p>
<p>主七情感傷，上氣喘急，胸膈不快，妨食。</p>
<p>人參　檳榔　沉香　烏藥（各等分）</p>
<p>磨汁，煎服。</p>
<p>王又原曰：聖人嗇氣，如持至寶；庸人役物，反傷太和。若正氣已衰，即欲削堅破滯，則邪氣難服。法當用人參先補正氣，沉香納之於腎，而後檳榔烏藥從而導之，所謂實必顧虛，瀉必先補也。</p>
<p>薛生白曰：四磨取漸磨運化，使手太陰得清肅之令，足厥陰無剋制之暴。</p>
<p>徐靈胎曰：濃汁使藥存留胸中，不即下達，亦妙法也。</p>
<p>解毒活血湯（孟英）</p>
<p>主溫暑入營，霍亂，斑疹，腹痛，利赤。</p>
<p>地丁　紫菜　絲瓜絡　益母草（各三錢）　銀花（一錢五分）　綠豆衣（四錢）</p>
<p>水煎服。</p>
<p>王孟英曰：地丁主清血熱而解毒，紫菜涼血解毒，益母亦主涼營化濕，銀、豆、瓜絡清絡中火毒。凡暑濕入於營者，服此奏功頗捷。</p>
<p>滾痰丸（隱君）</p>
<p>主實熱，老痰，怪病。</p>
<p>礞石　火硝（各一兩，同礞石入罐煅黃）　沉香（五錢）　黃芩　大黃（各八兩）</p>
<p>為末，水泛丸，溫水下。</p>
<p>汪訒庵曰：礞石發剽悍之性，能攻陳積伏歷之痰，大黃以開下行之路，黃芩以清上僭之火，合沉香行氣，則能迅掃老痰巢穴，濁膩之垢不少留，此滾痰之所由名也。然非老痰怪病，不輕投之。</p>
<p>卻邪湯（嘉言）</p>
<p>主祟病鬼疰，夜夢鬼交，如醉如癡。</p>
<p>犀角尖　羚羊角　虎骨　鹿角霜　龍齒　牡蠣　人參　黃耆（各等分）</p>
<p>為末，羊肉湯調服。</p>
<p>喻嘉言曰：祟附於身，與人之神氣交持，亦逼處不安，無隙可出，故用諸多靈物之遺形，引以羊肉之羶，俾邪氣轉附骨肉，移從大便而出。仿上古移精變氣，祝由遺事，而充其義耳。</p>
<p>白金丸（祗和）</p>
<p>痰血迷心，癲狂失心者主之。</p>
<p>白礬（三兩）　鬱金（七兩）</p>
<p>為末，水泛丸。</p>
<p>汪訒庵曰：此病多因驚憂，痰血塞於心竅所致。白礬能軟頑痰，鬱金能走心竅，去惡血。痰血去，心竅開矣。</p>
<p>昌陽瀉心湯（孟英）</p>
<p>主暑濕穢濁，胸前痞塞，呃逆吐逆。</p>
<p>菖蒲（一錢）　黃連（四分）　黃芩　半夏（治）　竹茹（各一錢五分）　蘇葉（五分）　厚朴（三分）　枇杷葉（去毛）　葦根（各四錢）</p>
<p>煎服。</p>
<p>王孟英曰：此瀉心湯證也，何必另立方治？以暑濕穢濁與傷寒不同。然終不能離其法，故仍曰瀉心。茲以菖蒲為君者，謂掃滌濁邪，而昌發清陽之氣也。合諸藥以為劑，共奏蠲痰泄熱，展氣通津之績，已歷試不爽矣。</p>
<p>金鎖固精丸</p>
<p>主氣虛遺滑，溲數。</p>
<p>黃耆　沙苑（各三兩）　芡實　蓮鬚（各二兩）　龍齒（一兩）　牡蠣（四兩）</p>
<p>為末，蓮肉煮爛丸，淡鹽湯下。</p>
<p>經以心藏神，腎藏精，肺藏氣，此三者，人身之寶也。三者交戀無失，則身健永生。若神氣一虧，皆令精損。是方以金鎖固精名之，明指氣不攝精而設。耆、苑氣味甘溫，益氣固精，芡、蓮交心腎以澀精，斯陰平陽秘，精神乃治。然氣衰精動，皆由於火，故復以龍牡導火歸原，火靜則精得固而氣有所養，神亦不困矣。</p>
<p>桑麻丸（胡僧）</p>
<p>主陰虧風動，肢麻，眩暈，耳鳴。</p>
<p>桑葉　胡麻（各八兩）</p>
<p>為末，蜜丸。</p>
<p>汪訒庵曰：桑葉祛外風而熄內風，胡麻益腎精而補肝陰，白蜜緩肝急而滋筋骨。風去精充，則精骨強而頭目清，不亦宜乎？</p>
<p>宣痹湯（天士）</p>
<p>主溫邪氣結，喘咳，神昏，譫痙，唇裂，舌腐。</p>
<p>石菖蒲（洗打）　竹葉（各一錢五分）　連翹（三錢）　貝母（二錢，去心）　杏仁（二十粒）　射干（二分）　枇杷葉（五錢，去毛）</p>
<p>水煎服。</p>
<p>陳修園曰：外感之危，不過閉塞，有清道濁道之分。熱痹清道，流行之氣，亦痹不行，郁遏不通，其熱愈甚。頻與寒涼發散，熱仍不已，惟葉氏云：「諸氣皆痹，邪無出路，有內閉外脫之虞。」欲宣內痹，須得芳香，菖蒲辛芳，開痹結之氣，竹、翹解結聚之熱，杏、貝、枇、射宣通肺氣。氣化則邪亦化矣，深得之才輕可去實之旨。</p>
<p>分清飲（士瀛）</p>
<p>主陽虛濕濁，白濁，溲數，漩白如油，便瀉。</p>
<p>萆薢　菖蒲　烏藥　益智　甘草（各等分）</p>
<p>水煎服。</p>
<p>陽火不足，脾無所養，濕濁自生，下注二陰。清濁交渾，乃小腸失泌別清濁之職，因脾土之升降不調也。於是清陽不升，濁陰不降，清濁相干，二便為變。方以菖蒲宣發心陽，以生脾土；益智益火之原，以消陰霾；甘草調和脾土，以助升降之權。其妙在於烏藥、萆薢，一通一澀，則通者通水濕，專走前陰；澀者澀滓穢，不趨小便。則清濁已分，二便各歸正化，名曰分清，良不誣也。</p>
<p>半貝散</p>
<p>主瘧疾初起。</p>
<p>半夏　貝母（各等分）</p>
<p>為末，陰陽水調服。</p>
<p>錢韻之曰：夫瘧之發而未久也，真氣尚充安於內，但邪氣亡戰於外。乘其戰時，藥用陰陽相反邀之，所謂我不出利，彼出不利，我無出也，引而去之，令其半出而擊之利，此之謂也。</p>
<p>連樸飲（孟英）</p>
<p>主濕熱蘊伏，霍亂，寒熱，胸痞，口膩。</p>
<p>厚朴　黃連（各四分）</p>
<p>水煎服。</p>
<p>厚朴燥濕而祛濁，黃連瀉熱而降逆，凡濕熱穢濁之邪，阻於胸膈脘間，用此無不奏效，然即瀉心變法也。</p>
<p>朱蛤散（元化）</p>
<p>主血溢上竅，吐血，咯血，咳血。</p>
<p>蛤殼（四錢）　硃砂　三七（各一錢，為末）　阿膠（一錢五分）　竹茹（三錢）　藕節（三枚）</p>
<p>煎湯調服。</p>
<p>錢韻之曰：血之暴溢也，無非氣行急迫，火炎上湧，肝失其藏，肺失其降，經絡之血越於上竅。是方以蛤殼潛陽降氣，其字從合，能召陽歸陰，以陰闔陽，使血不妄行。硃砂色赤鎮心，以心主血也，使血有所主。三七乃木火之數，調養心肝，使出絡之血消化，循經之血安和，所謂推陳致新也。阿膠育陰制火。竹茹，竹之絡脈，通人之絡脈，其皮緊貼，能固絡中之血。藕本破血之物，取其節者，節以止之也。其肉空通有絲，能安絡中新血。此方降火而不伐胃，降氣而不溫燥，止血而不留瘀，去瘀而不損新，其方之神妙若此。</p>
<p>杏蘇散（《局方》）</p>
<p>主風寒頭痛，咳嗽，鼻塞，無汗。</p>
<p>蘇葉（一錢五分）　杏仁（三錢）　前胡（二錢）　半夏（二錢五分）</p>
<p>水煎服。</p>
<p>徐靈胎曰：此乃感冒風寒之總方。其病止在皮毛肌肉，未入經絡者，有食則兼用消食可也。</p>
<p>水陸二仙丹（蘇頌）</p>
<p>主下關不攝，遺精白濁。</p>
<p>金櫻子膏　芡實末（各一斤）</p>
<p>和丸。</p>
<p>汪訒庵曰：二味甘能益氣，潤能滋陰，澀能止脫。氣王陰充，精關自攝。櫻產于山，芡生於水，陰陽相和，人健如仙。</p>
<p>茶調散（《局方》）</p>
<p>主久風化火，頭痛目赤。</p>
<p>白芷　黃芩（各二錢）　防風（一錢五分）　薄荷（八分）　甘草（一錢）　荊芥（一錢四分）</p>
<p>為末，細茶泡湯調服。</p>
<p>張石頑曰：諸辛藥得甘草之甘，辛甘散發，僅可治風，未能消火，得芩、茶以協濟之，乃分解之良法。故能輕揚解表，三陽並治，宣通上焦鬱熱也。</p>
<p>蠲痹湯（士瀛）</p>
<p>主風寒濕，周身痠痛。</p>
<p>當歸　赤芍　黃耆　薑黃　防風　羌活（各七錢）　甘草（二錢五分）</p>
<p>水煎服。</p>
<p>徐靈胎曰：此為治痹之祖方，營衛兼顧之中，而又能祛風、散寒、利濕，痹證之善方也。</p>
<p>參胡飲（王璆）</p>
<p>主腎虛氣不收納，喘咳不休，吸入少力。</p>
<p>人參（一錢）　胡桃（三枚）</p>
<p>水煎服。</p>
<p>王晉三曰：胡桃連皮，能收肺經耗散之氣，納之於腎；連膈能通命門之火；肉則消膈內之痰飲，又能解梅斂之痰飲。人參補真元。凡年高腎氣不收咳嗽者，最為要藥。</p>
<p>土狗散（元化）</p>
<p>主水腫太甚，二便皆閉。</p>
<p>土狗（三隻）</p>
<p>瓦上焙為末，溫酒調下，或蟋蟀亦可。</p>
<p>錢韻之曰：土狗之性，急速銳利，善攻水土留結之所，有如刀破竹之勢，比之牽牛、商陸等，純敏多矣。</p>
<p>槐花散（叔微）</p>
<p>主腸風藏毒下血。</p>
<p>槐花（炒）　柏葉（炒）　枳殼（炒）　荊芥（炒，各等分）</p>
<p>為末，調服。</p>
<p>汪訒庵曰：血之在身，有陰有陽，熱傷陰絡，血必滲入腸胃而下。槐花苦寒，瀉腸胃之熱而疏肝，柏葉稟金氣而和肝。木主升，金主降，升降相配，夫婦之道和，則血得歸肝矣。荊芥搜風散瘀，枳殼利氣帥血，則血得經矣。</p>
<p>三子湯（祗和）</p>
<p>主氣實痰盛，喘咳，痞滿。</p>
<p>紫蘇子　白芥子　萊菔子（各等分）</p>
<p>為末，調服。</p>
<p>痰湧氣喘，能致一時殞命，不得不投峻猛豁痰之品。紫蘇降氣，白芥滌痰，萊菔破結，氣降則結散而痰化矣。雖云峻猛，較之礞石、控涎，猶為平妥也。</p>
<p>烏藥散（《局方》）</p>
<p>主下焦寒冷沖疝，少腹、臍旁、睪丸掣脅痛不可忍，大便不通。</p>
<p>烏藥　木香　茴香　良薑　青皮　檳榔（各五錢）　楝實（十枚，巴豆七十粒同炒，去巴豆）</p>
<p>為末，調服。</p>
<p>吳鞠通曰：此治寒濕客於肝、腎、小腸之方也。烏藥祛下焦冷氣，木香導氣透絡，青皮行氣伐肝，良薑溫藏劫寒，茴香暖腎透絡，楝實得巴豆之氣，逐濕濁從小便而出，檳榔直達肛門，引邪氣由肛門而出。則堅者潰，聚者散，一齊解化而病根拔矣。</p>
<p>安胎飲（《外臺》）</p>
<p>主屢次墮胎。</p>
<p>蓮子　青苧　紋銀　元米（各等分）</p>
<p>水煎服。</p>
<p>王晉三曰：半產由於房勞傷損，腎傷則精氣不固，肝傷則血熱妄行，脾傷則胎元自墮，故以元米扶脾養胃，紋銀涼血清肝，蓮子澀精補腎，青苧瀉淫欲之火，滌子宮之垢，兼固胎絡，誠王道之劑也。</p>
<p>薏苡仁湯（《聖濟》）</p>
<p>主腸癰腹痛，按之如淋。</p>
<p>苡仁（一升）　桃仁　丹皮（各三兩）　冬瓜子（二升）</p>
<p>水煎服。</p>
<p>古語云：「膏粱無厭發癰疽。」此指外瘍而言也。然腸癰一證，亦因膏粱積熱者多，又或婦女經停，氣血壅滯，亦能致此。冬瓜仁於人身氣血腐敗中全其生氣，苡仁敗氣毒，丹皮敗血毒，桃仁攻逐膿血，從大便泄也。</p>
<p>香茸丸（叔微）</p>
<p>主陰陽兩傷，久痢久瀉，骨立，不能食，飲酒即泄，崩帶，遺濁，久瘧。</p>
<p>鹿茸（炙）　肉蓯蓉（煨，各一兩）　麝香（五分）</p>
<p>為末，飯丸，米飲下。</p>
<p>葉天士曰：瀉利經久，腎陽肝陰必虧。中流乏砥柱坐鎮，致狂瀾滔天，此皆陰陽二氣微絕，八脈無權，下無收攝，漏卮不已。故用鹿茸辛甘理陽，自督脈以煦提；復以麝香之辛，以散留結之邪。且二味血肉有情，栽培身中精血。肉蓯蓉乃精血所生之草，滋補精血，育陰潛陽，用之者恐香茸有過升之患也。此方有升督陽，固八脈，散結邪，培精血之功，豈僅治瀉利一證而已哉？凡陽虛邪伏者皆可用也。</p>
<p>清骨散（士瀛）</p>
<p>主骨蒸，夜熱有汗，盜汗。</p>
<p>銀柴胡　秦艽　地骨皮　青蒿　甘草（各等分）</p>
<p>為末，鱉甲三錢，煎湯調服。</p>
<p>汪訒庵曰：骨蒸有汗，陽邪陷於陰血骨髓之中，地骨、鱉、柴能除陰分之熱而平之於內，青、艽亦能除內熱而領出於外，甘草和諸藥而退虛熱也。</p>
<p>祛黃湯（洪緒）</p>
<p>主濕熱內郁，黃疸，溲赤。</p>
<p>蒼耳子　薄荷　木通　茵陳（各二錢）</p>
<p>陳酒煎，調入砂仁末一錢，溫服。</p>
<p>王洪緒曰：蒼、薄散之於外，通、茵泄之於內。蓋疸證之成，不外風寒固表，濕熱內盛，氣機不動，腠理拂鬱。內外分消則愈。或疑黃疸濕症，應忌酒，不知酒本濕也。今做緝濕捕，善識濕穴，領藥戰濕，非酒不可，且酒有流通肌腠之力也。</p>
<p>雞鳴散（《千金》）</p>
<p>主下焦寒濕，腳氣上攻。</p>
<p>檳榔　蘇葉（各二錢）　防己（一錢）　橘皮　吳茱萸（各七分）　木瓜（三分）</p>
<p>為末，水煎，雞鳴時冷服。</p>
<p>陳修園曰：寒濕著於下焦，故用茱萸驅寒，檳、橘除濕，皆以氣勝，加以紫蘇血中之氣藥，辛香撲鼻，更助其氣。氣盛則行速，取著者行之之義也。又佐木瓜之酸，防己之苦，經云：「酸苦湧泄為陰。」俾寒濕之氣，得大氣之藥，從微汗而解之，戰則必勝之道也。服於雞鳴，取陽盛時則陽藥得力。冷服者，以陰從陰，混為一家，先誘之而後攻之也。</p>
<p>寶華散（右陶）</p>
<p>主穢濁阻痹，嘔瀉，口膩，神識模糊，脘痞。</p>
<p>鬱金　降香　荊芥　枳殼　銀花（各等分）　細辛（少許）</p>
<p>為末，茶清下。</p>
<p>穢濁由口鼻吸入，走中道而分布三焦，經絡瘀塞，機竅不靈，故用芳香之品，調氣、活血、開竅、逐穢也。</p>
<p>大調經散（無澤）</p>
<p>主產後血虛，惡露未化，營衛不調，寒熱腫滿，自汗，心怔，神昏。</p>
<p>炒大豆（一兩五錢）　茯神（一兩）　琥珀（一錢）</p>
<p>為末紫蘇湯調服。</p>
<p>錢韻之曰：產後心血虛而惡露未消，氣為濁凝，營衛不調，血走皮腠，故以神、珀安鎮心神於上，消瘀調經於下，更以大豆養血消腫，紫蘇調氣和營，營衛和諧，諸症屏息。</p>
<p>止瀉湯（草窗）</p>
<p>主脾虛腹痛，泄瀉久不止。</p>
<p>白朮　白芍　陳皮　防風（各等分）</p>
<p>水煎服。</p>
<p>脾虛則濕積，肝實則凌脾，故用白朮滲濕補脾，陳皮調氣醒脾，使脾健則濕化而不受肝乘矣；白芍於土中瀉木，防風於土中達木，使木得其平，則相疏而不相乘侮矣。木土和而痛瀉止矣。</p>
<p>蒼耳散（無擇）</p>
<p>主風寒襲腦，清涕流溢，頭額作痛。</p>
<p>白芷　薄荷　辛夷　蒼耳（各等分）</p>
<p>為末，調服。</p>
<p>汪訒庵曰：膽熱移腦，則為鼻淵。然亦有風寒者，故用辛溫疏風散寒，風寒散則腦液自固矣。</p>
<p>震靈丹（《局方》）</p>
<p>主奇經不攝，崩帶淋濁。</p>
<p>禹餘糧（煅）　赤石脂（煅）　紫石英（煅）　代赭石（煅，各四兩）　乳香　沒藥　硃砂　五靈脂（各二兩）</p>
<p>為末，糯飯糊丸。</p>
<p>葉天士曰：崩帶不止，是沖、任、督、帶諸脈，不能固攝，病在下焦，故用此方直達衝任，以固之收之也。</p>
<p>青松藥酒（德軒）</p>
<p>主風痹攻痛，色紅。</p>
<p>松毛　海䖳　桑枝　黑豆　菊花　胡桃　白蜜（各四兩）</p>
<p>陳酒煎服。</p>
<p>錢韻之曰：松毛祛血中之風，菊花平肝生之風，桑枝流通關節，海䖳濡潤經絡，豆蜜胡桃緩肝潤血以熄風。用酒煮者，借酒性以行藥力也。</p>
<p>龜鹿二仙膏</p>
<p>主諸虛百損，羸瘦少氣。</p>
<p>鹿角　龜甲（各二斤）　人參　杞子（各一斤）</p>
<p>熬膏服。</p>
<p>李時珍曰：鹿、龜皆靈有壽。龜首常藏向腹，能通任脈，故取其甲，補心、補腎、補血，以養陰也；鹿首常返回尾，能通督脈，故取其角，補命、補精、補氣，以養陽也。且血肉有情，接補身中氣血。人參益氣，枸杞補血，氣血交補，陰平陽秘，精神乃治。填補之法，此為最穩。</p>
<p>樗皮丸（子和）</p>
<p>主濕熱下注，白帶不止，休息痢，遺精。</p>
<p>樗皮（一兩五錢）　白芍（五錢）　良薑（煅）　黃柏（煅，各三錢）</p>
<p>為末，粥丸。</p>
<p>王晉三曰：帶下，熱勝於濕，滑脫不禁，故以樗皮苦澀，清熱勝濕以澀之，白芍收陰氣以約之，良薑入胃和陽，截生濕之源頭，黃柏入腎堅陰，固帶下之去路，炒黑則收澀固脫也。凡下部不固之因於濕熱者皆宜，豈獨一帶下而已哉？</p>
<p>五利大黃湯（叔承）</p>
<p>主風熱毒邪，大頭瘟，壯熱，目閉，紅腫。</p>
<p>元明粉（七分）　大黃（酒炒，一錢）　犀角（八分）　牛蒡子（三錢）　山梔（酒炒，一錢五分）</p>
<p>水煎服。</p>
<p>錢韻之曰：大頭瘟初起，表證悉具，宜普濟消毒飲散之；若散之不解，漸見陽明實熱，宜用此方。所謂熱淫於內，治以鹹寒也。犀、粉鹹寒，瀉熱解毒；黃梔苦寒，泄火清熱。用酒以引其上升，升已而降，則熱毒悉從便解。復以牛蒡辛涼宣表，使風熱從表而泄，表裡雙解之法也。</p>
<p>禹功散（子和）</p>
<p>主水腫喘急，二便不通。</p>
<p>黑牽牛（薑汁炒）　茴香（各等分）</p>
<p>為末，調服。</p>
<p>王晉三曰：此方消水腫如神禹決水之功。牽牛瀉水逐濕，以茴香引之，從戌入丙至壬，開通陽道，走泄濕邪，決之使下，一瀉無餘，而水土得平。然非體強脈實，不可輕投。</p>
<p>抑扶煎（宜亭）</p>
<p>主脾虛肝鬱，脘痛，吐酸。</p>
<p>白朮　赤芍（炒）　神麯（各二錢）　橘絡　玫瑰花　金柑皮（各七分）　冬蟲夏草（一錢五分）　穀芽（五錢）</p>
<p>水煎服。</p>
<p>錢韻之曰：肝鬱土中，陽微運滯，故用朮、谷扶脾健運，玫、柑抑肝理氣，橘、曲開鬱醒脾，赤芍和其肝脾，冬蟲夏草交其心腎，五藏相生，則肝藏欣欣向榮，脾復健運之職，何恙不已？</p>
<p>韭白丸（天士）</p>
<p>主下焦濕熱，淋濁脹痛，淋下粒子，疝證。</p>
<p>大黃（韭根汁炒）　歸尾　楝實　山甲　桃仁（各二錢）　鼠矢（三十粒）　茴香（七分）　桂枝（四分）</p>
<p>為末，韭白汁泛丸。</p>
<p>葉天士曰：此通泄厥陰氣血之方也。痛甚於下，濁結有形，非辛香無以入絡，非穢濁無以直走至陰之域，以子和奉議合方。</p>
<p>濕熱盤踞下焦，或竄精室，或走任脈，或注厥陰，或阻隧道，又或房勞強忍，精血為腐，窒塞隧道，故以楝實泄下焦濕熱，桂、茴化氣散結通經，桃、歸逐瘀血敗精，鼠、甲滌精宮邪濁，韭黃通隧路之阻塞，使之下泄也。</p>
<p>四竹湯（孟英）</p>
<p>主熱痰入膻，昏譫，肢痙，喘咳，痰潮。</p>
<p>竹葉（三十片）　竹茹（一升）　竹瀝（一杯）　竹黃（五錢）</p>
<p>水煎服。</p>
<p>錢韻之曰：溫邪逆走膻中，熱痰蔽阻。痰乃熱熏津液所化，膻中是清空之所，邪結於此，是用之最難。故以竹葉清熱散結，竹瀝滋液除熱，竹茹宣通經絡，竹黃清膻滌痰，且四竹俱有熄風清竅之功，熱退痰消，神清咳止矣。</p>
<p>毓麟珠（曉瀾）</p>
<p>主屢次墮胎，在五月前者。</p>
<p>絲毛雞子每一枚，用絲綿包裹煮熟食，復飲其湯。</p>
<p>葉天士曰：胎孕乃精血所結，皆屬有形。以草木無情為補益，聲氣必不相應，故以絲裹雞子，象包羅維繫之形，養胎固絡，且血肉有情，栽培身內精血。而食物之品，不伐沖和生氣，但王道無近功，多啖自有益。</p>
<p>蜣螂散（天仁）</p>
<p>主噎膈反胃，甚則嘔出糞水，大便不通。</p>
<p>蜣螂蟲（三隻，炙）</p>
<p>為末，調服。</p>
<p>錢韻之曰：嘔糞便閉，腸胃傾亂倒施矣。蛣蜣之智，在於轉丸，其推糞土成丸，厥力甚巨，用以開通大便，奏功甚捷。蓋便通則上嘔自止矣，斯法是尤世輔所始，用放屁蟲，是惡毒更甚於此，故舍彼而取此也。</p>
<p>降氣飲（仲淳）</p>
<p>主肝氣上逆，吐血，呃逆，咳嗽，脅痛。</p>
<p>蘇子（一錢五分）　枇杷葉（四錢，去毛）　鬱金　降香　川貝（各二錢）</p>
<p>水煎服。</p>
<p>人氣以成形耳，法天行健，左升主肝，右降屬肺。今肝有拂鬱，氣升太過，右降不及，故以蘇貝開其鬱結，郁降鎮其逆升，枇杷葉以助降令，俾氣暢郁舒，升降和平，不失常度，血自歸經矣。</p>
<p>三奇散（石頑）</p>
<p>主久痢久瀉，腸鳴後重。</p>
<p>防風　黃耆　枳殼（各等分）</p>
<p>為末，米飲調服。</p>
<p>張石頑曰：久風成飧泄，故用防風散風，黃耆固氣，一開一闔，開闔有權，下關自攝。枳殼以破滯氣，俾腸胃邪濁，盡從下泄矣。然後重稍減，即宜補中益氣調之。</p>
<p>都梁丸（吉老）</p>
<p>主風寒頭痛，腦額巔痛，項背拘急，眩暈。</p>
<p>白芷（等分，為末，蜜丸）　荊芥（一錢）　細茶（一錢五分）</p>
<p>泡湯送下。</p>
<p>楊吉老曰：此方初無名，自都梁制用，即以都梁名之。能散頭、額、巔、腦中風寒，又治婦人乍傷風邪，目昏頭疼，並皆有效。</p>
<p>導氣湯（子和）</p>
<p>主一切疝氣。</p>
<p>楝實（四錢）　木香（三錢）　茴香（二錢）　吳茱萸（一錢）</p>
<p>水煎服。</p>
<p>張子和曰：凡遺尿，癃秘，陰痿，胞痹，精滑白淫，皆男子之疝也。不月，小腹有塊，咽乾，癃秘，前陰突出，後陰痔核，皆女子之疝也。但女子名瘕而不名疝。川楝苦寒，入肝舒筋，使無攣急之苦，導熱從小便而出。木香升降諸氣，通利三焦，疏肝和脾。茴香暖丹田而祛冷氣。吳萸燥濕除寒，宣通其氣，使小便下行，其邪自去矣。</p>
<p>清肝導滯湯（陳氏實功）</p>
<p>主肝經濕熱，玉莖腫痛，小溲澀痛。</p>
<p>瞿麥　萹蓄　滑石　甘草　大黃　燈心（各等分）</p>
<p>水煎服。</p>
<p>肝經濕熱，下阻隧道，小便腫痛，然非相火，龍膽難投，亦非精濁，虎杖莫療，此方決不可少。瞿麥之命名，瞿乃四通八達之路，麥乃東方肝木之谷，能暢發肝木，復其疏泄之權，兼能通瞿道之壅滯。萹、滑專清濕熱，合甘、燈則通泄火府，大黃清濕熱而導積滯。合諸藥為劑，則垢濁導從小便而出矣，積滯通而肝邪清矣。</p>
<p>橘葉湯（錦庭）</p>
<p>主肝氣鬱結，乳癰焮紅漫腫，或結核而痛。</p>
<p>橘葉　公英　象貝（去心）　香附（各三錢）　青皮　赤芍　夏枯草（各一錢五分）</p>
<p>水煎服。</p>
<p>錢韻之曰：經以肝為罷極之本，生氣之所出也。性喜條達而惡鬱結，郁久不解，則氣結於乳部，以乳部屬肝也。橘、青、香附，辛香流氣，開鬱散結，枯、貝消塊軟堅，英、芍和營消腫，以營氣不從，逆於肉理，乃生癰腫也。</p>
<p>煉雄丹（生白）</p>
<p>主暑穢痧邪直犯包絡，神明閉塞，昏憒如屍，及霍亂初定，驟爾神昏如醉如寐，身不厥冷者。</p>
<p>雄黃（一分）　焰硝（六分）</p>
<p>煉成清水，俟凝，用木通二錢，通草一錢，雪水煎，去滓，再入陳雨水和勻，入犀角汁三分，桃丹三釐，徐徐冷灌，服盡，必吐清痰而愈。此丹灶家秘製也，安能強解。</p>
<p>化陰煎（《景岳》）</p>
<p>主水虧火盛，癃閉，淋濁疼痛，牙宣齦衄。</p>
<p>生地　綠豆衣（各三錢）　黃柏　知母　牛膝（各一錢五分）</p>
<p>水煎服。</p>
<p>腎水有虧，相火自旺，陰精不守，欲泄不泄，阻於隧道，又或龍相上炎，血溢齦牙，故以知、地增水瀉火，黃柏堅未動之陰，綠豆解陰中毒火，牛膝導相火下行，逐敗精濁液，俾腎職堅，相火熄，腐濁去，何恙不已？</p>
<p>首烏茅朮湯（自制）</p>
<p>主風熱濕毒相搏，一身淫癢，搔之流水，諸瘡滋水淋漓。</p>
<p>首烏（五錢）　樺皮　黃柏　苦參　荊芥　銀花（各一錢五分）　茅朮（一錢）　甘草（七分）　黑豆（一合）</p>
<p>水煎服。</p>
<p>錢韻之曰：濕熱風毒鬱於肌腠，起塊流水者，濕熱之淫泆也。癢者，風毒也。朮、柏、苦參化濕清熱，荊芥、樺皮以祛風，甘草、銀花以解毒，烏豆內調營血，外散客邪。邪去而營衛安和，滋水收而癢止矣。</p>
<p>紫草承氣湯</p>
<p>主濕毒斑、痘、疹不透，便閉，神昏。</p>
<p>紫草　大黃（各四兩）　厚朴（二兩）　枳實（一兩）　芒硝（一字）</p>
<p>水煎服，以利為度。</p>
<p>王晉三曰：溫病毒氣太盛，即從中焦肆虐。若痘疹初起，板而不松，紫而干滯，煩亂昏憒，此毒伏血中，不能載毒外出，故以承氣破中焦之實，瀉血中之滯，復以紫草清熱解毒。內通血脈，外達皮毛，肌肉鬆而毒得泄矣。</p>
<p>甘雨湯（自制）</p>
<p>主溫邪化燥，津液受劫，口渴，舌乾，齒燥。</p>
<p>鮮石斛（二兩）　鮮生地　鮮沙參　元參（各一兩）　甘草（二錢）</p>
<p>雪水煎，頻頻服。</p>
<p>人身天真之氣謂之陽，陽根於津，陰化於液。仲師云：「胃氣生熱，其陽則絕。」謂溫邪化火，胃土燥裂，津液已竭，陰陽交絕。故薛生白曰：「感病以胃液之存亡，訣病情之生死。」陳耕道曰：「病人之津液，猶兵家之糧餉。」糧既匱矣，兵勇何為？救液之劑，其可緩乎？石斛津汁最多，斛司出入，胃亦司出入，其能救回胃液可知。甘草甘守津還，元、地增水滅火，沙參潤肺之燥。肺潤則不盜胃津，津液既還，如久旱之忽逢甘雨，萬物欣欣而向榮矣。</p>
<p>陽和湯（真君）</p>
<p>主寒痰，疽痎，哮喘，一切陰凝之證。</p>
<p>熟地（一兩）　白膠（三錢）　麻黃（五分）　肉桂　甘草（各一錢）　白芥子（炒，二錢）　炮薑炭（五分）</p>
<p>水煎服。</p>
<p>錢韻之曰：痎者，寒痰深伏；哮者，寒痰上逆；疽者，阻也，氣血既虧而經絡復阻。其所阻者，非寒即痰，用白芥、桂、姜，溫而消之；鹿、地、甘草，溫而補之。消補互用，復得麻黃徹內徹外，走竄經絡，則補者不滯，阻者自行，氣血流運，如春回寒谷，陽和一布，冰雪溶而草木萌動，何疽痎之有哉？</p>
<p>豭鼠矢湯（朱肱）</p>
<p>主陰陽易病。</p>
<p>韭根（一把）　兩頭尖（十四粒）</p>
<p>水煎服，黏汗出為度。</p>
<p>王晉三曰：易病者，餘毒襲入也。韭根滑利通陽，疾於下行，再以鼠矢之陰霾，引入至陰之處，通陰舒陽。汗出為度者，毒邪外泄也。</p>
<p>追瘧飲（《景岳》）</p>
<p>主邪入陰分，瘧來寒多熱少，面白唇淡。</p>
<p>當歸　牛膝　半夏（治）　陳皮（各一錢五分）</p>
<p>水煎服。</p>
<p>錢韻之曰：瘧疾既久，屢散不應，邪氣不撤，轉入陰分。若瘧熱多者，宜鱉甲、何人輩之搜邪；若寒多熱少，必須此方以追瘧邪下泄。當歸內調營血，牛膝引邪下出，半夏和其陰陽，陳皮疏中利氣，氣血和而瘧止矣。</p>
<p>腎氣丸（《濟生》）</p>
<p>主肺腎虛，腰重浮腫，氣喘咳嗽，小便不利。</p>
<p>地黃（八兩）　山藥　萸肉（各四兩）　丹皮　茯苓　澤瀉（各三錢）　肉桂　附子　牛膝　車前子（各一兩）</p>
<p>為末，蜜丸如桐子大，湯下。</p>
<p>徐靈胎曰：此方亦治腳氣，乃驅邪水，益正水之法也。專利小便，水去而陰不傷，扶陽而火不升，制方之妙，固非一端。</p>
<p>荷米煎（養老）</p>
<p>主津液不升，清陽下陷，便泄，口渴。</p>
<p>荷葉（三錢）　葛根粉（一錢）　粳米（一合）</p>
<p>煮粥食。</p>
<p>脾胃氣衰，清陽下陷，津液不升，故以荷葉升清陽而引生氣，葛根啟津液以上潮，粳米補胃氣而生津。</p>
<p>四妙湯（示吉）</p>
<p>主痘後瘍潰調理。</p>
<p>黃耆　當歸　銀花　甘草（各等分）</p>
<p>水煎服。</p>
<p>蔣示吉曰：此方益氣、和血、解毒、托裡、排膿，最為神妙。</p>
<p>護心丹（《景岳》）</p>
<p>主邪氣攻心，神未昏者。</p>
<p>黃蠟　白礬末（各一兩）</p>
<p>以蠟溶化，入礬末和丸。</p>
<p>蠟成於蜜，蜜者，密也。主固密護心。礬主收神明而護心。凡見腳氣，露瘀癰毒，蛇蟲咬毒，將欲攻心，於神未昏時，急服此丹，可免攻心昏憒，即用祛邪解毒，逐瘀治本，所謂留人治病法也。</p>
<p>真人活命飲</p>
<p>主一切腫瘍。</p>
<p>白芷　防風　陳皮　角刺　山甲　土貝　花粉　當歸　赤芍　乳香　沒藥　銀花　甘草（各等分）</p>
<p>水煎服。</p>
<p>王晉三曰：瘍科之方最繁，皆無深義，難以選擇。茲取和營消腫，化毒清熱，腫瘍可以通用者錄之。</p>
<p>碧雪</p>
<p>主熱極火閉，昏狂煩躁，咽喉腫痛，口糜齦爛，舌瘡喉閉，時疫發斑，便秘。</p>
<p>寒水石　火硝　朴硝　芒硝　牙硝　石膏（研末）　青黛（各等分）</p>
<p>用甘草一把煎湯，溶化諸藥，入膏，黛俟凝，涼水化下，不能咽物者吹之。</p>
<p>錢韻之曰：此鹹寒瀉火法也。</p>
<p>錫類散（瑞符）</p>
<p>主爛喉時症，乳蛾牙疳，口舌腐爛。</p>
<p>象牙屑（焙）　珍珠（各三分）　青黛（六分）　冰片（三釐）　壁錢（十二個）　牛黃　指甲（各五釐）</p>
<p>研極細末，吹患處。</p>
<p>王孟英曰：此方張瑞符傳，此救人而得之，故餘名之曰錫類散。功效甚著，不能殫述。</p>
<p>百勞丸方</p>
<p>勞瘵積滯疾，不經藥壞者，百勞丸主之。</p>
<p>當歸（炒）　乳香　沒藥（各一兩）　人參（二兩）　大黃（四兩）　梔子（十四枚，去皮熬）　虻蟲　水蛭（各十四枚，熬黑）</p>
<p>為末，煉白蜜丸，梧子大，每服百丸，百勞水下，取下惡物為度，服白粥十日。</p>
<p>張石頑曰：虻蟲、黃、歸、乳、沒，以散血結。即用人參以緩中補虛，兼助藥力以攻乾血。梔子以開通熱鬱。服用百勞水者，取其行而不滯也。仲景按證用藥，不慮其峻。此方即血痹虛勞大黃䗪蟲丸一證。其授陳大夫以此方，已略為降等，猶恐誤施，故復云：一切勞瘵積滯疾，不經藥壞者主之，可見慎重之至也。</p>
<p>調氣飲方</p>
<p>赤白利，小腹痛不可忍，下重或面青，手足俱變者，調氣飲主之。</p>
<p>黃蠟　阿膠（各三錢）</p>
<p>同溶化，入黃連末五錢，攪勻，分三次熱服。</p>
<p>李時珍曰：黃蠟味淡而性澀質堅，故止泄痢。仲景治利有此方，屢用屢驗，乃知《本經》主下利膿血之言，深當膺服也。善用《本經》者，惟長沙一人而已。</p>
<p>此二方乃仲景所制，故變例書之。</p>
