<header data-type="book">
<h1>王九峰醫案（二）</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王九峰</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1813">公元1813年</data></dd></div>
</dl>
</header>

<h1>上卷</h1>

<h2>時邪</h2>
<p>寒傷營分，發熱頭重，骨疼，咳嗽，腹脹便泄，邪傷中表，散寒導滯。</p>
<p>柴胡　葛根　薄荷　荊防風　前胡　蘇梗　杏仁　黃芩　淡竹茹　青陳皮　姜</p>
<p>中脘痛連少腹，氣滯寒停，寒熱時作，感冒溫邪，左脈弦數，右脈遲細，宜疏散暢中。</p>
<p>柴胡　蘇梗　薄荷　佩蘭葉　荷葉　砂仁　半夏　青皮　延胡索</p>
<p>表邪漸達，里邪漸清，仍然骨痛發熱，腰背痠痛，皆緣平素肝腎兩虧，刻當扶正祛邪為法。</p>
<p>當歸　茯苓　青皮　車前　荷梗</p>
<p>溫邪旬余不解，耳聾溺赤，中脘按之覺膨，便閉旬日，腑氣不通，表邪未撤，解肌導滯。</p>
<p>柴胡　葛根　枳殼　黃芩　杏仁　棗仁　半夏　木香　雪羹</p>
<p>溫邪三日，頭重骨疼，舌苔厚膩尖紅，脈來弦大，按之微數，少陰陽明合病，柴葛解肌加白虎湯。</p>
<p>柴胡　葛根　石膏　豆豉　蒼朮　竹茹　茯苓　蔞皮　甘草　半夏</p>
<p>時感九朝，胸悶寒熱，口渴腹痛，舌白脈伏，有內陷之慮。</p>
<p>桂枝　柴胡　葛根　黃芩　赤芍　當歸　陳皮　甘草</p>
<p>時邪夾有濕熱，恙防內陷，得汗方解，囊大如斗，濕熱下注，小便通利為佳。</p>
<p>四苓加葛根　生地　苡仁　車前　半夏　通草　川柏　桑葉</p>
<p>斑疹隱隱，發而未透，喉疼，手足麻，頭身皆痛而喘，脈伏邪閉，肺胃皆病，防其呃喘之患。服方是理，仍依法治。</p>
<p>升麻　羌活　防風　葛根　甘草　大力子　桔梗　蟬衣　茅根　蘆尖　胡荽　陳皮</p>
<p>時邪八日，身發白㾦，舌苔厚黃而潤，口乾不渴，脈息沉數，有化熱之勢。熱在血分，所以不渴。擬方候諸高明酌之。</p>
<p>瓜蔞　生地　赤芍　山梔　枳殼　歸身　丹皮　川貝　熟軍　牛蒡　連翹　竹茹　觀音柳</p>
<p>昨已更衣，通身有汗，熱未退盡，舌強，舌心漸干，脈數少力。飲茶較多，邪勢難解，仍防陷變。</p>
<p>生地　竹茹　麥冬　枳殼　當歸　甘草　柴胡　黃芩　膽星　貝母　瓜蔞</p>
<p>時疫四朝，壯熱無汗，胸悶舌白，身痛腹瀉，嘔惡，神煩口渴，脈來浮數，妊娠兩月，斑尚未透。</p>
<p>蘇梗　薄荷　蘆尖　陳皮　升麻　柴胡　乾葛　荊芥　桔梗　赤芍　黃芩　甘草　觀音柳</p>
<p>春溫九朝，頭暈身疼，發熱不退，口乾鼻衄，邪乾血絡，最怕神昏譫語，內陷之變。</p>
<p>赤芍　丹皮　小生地　葛根　柴胡　當歸　甘草　麥冬　茅根</p>
<p>妊娠足月，感冒時邪，身疼煩躁，壯熱口渴，脈數舌絳，邪郁陽明，謹防熱甚傷胎，氣急譫語之變。</p>
<p>當歸　葛根　川貝　知母　蘇梗　甘草　黃芩　白朮</p>
<p>風溫不可發汗，而亦宜微汗，否則邪從何出。大抵風溫之邪從上有，風從陽，溫化熱，上焦近肺，肺先受邪，肺為嬌臟，兩陽薰灼，津液受劫。古方有萎蕤湯，以玉竹之甘潤滋柔之品，以保胃液。俗醫輒投羌活柴葛，以發汗劫津，失其旨矣。當與辛涼輕劑，清解為先，擬梔豉合涼膈方法。</p>
<p>黑梔　豆豉　蔞皮　薄荷　連翹　黃芩　象貝　橘紅　杏仁　桑葉　梨</p>
<p>春溫十一朝，頭痛骨疼，胸中脹悶，惡寒發熱，入夜譫語，表裡合症，謹防內陷。</p>
<p>柴胡　葛根　豆豉　獨活　秦艽　當歸　赤芍　陳皮　枳殼　車前</p>
<p>秋邪壯熱，大汗渴飲，背微惡寒，桂枝白虎湯。</p>
<p>桂枝　知母　石膏　生草　竹葉</p>
<p>肝腎陰虧，中虛濕痰不化，左肋痞硬年餘，前日觸不正之邪，寒熱疊作，旋即自汗肢冷，前師投以參附，汗止陽回。詎知邪乘虛陷於陽明，與濁痰交併胃中，內熱神識，明昧不清、溲赤，便閉，胸痞，舌苔灰黑，四肢指節蠕動，陰傷熱熾，風木鴟張，慮其轉入心胞，有神昏痙厥之變。議用苦降辛開，兼育陰以迴護心胞，速退乃佳。當延高明酌裁。</p>
<p>黃連　乾薑　半夏　黃芩　鬱金　北沙參　麥冬　蔞仁　青皮　枳實　竹茹</p>
<p>復診　昨用苦降合清營之法，內熱稍緩，苔亦較化，脈亦較和，惟脘痞格拒，腑氣不通，日晡熱甚，陽明之滯未下，火邪劫爍陰津，慮陰津消亡，發為陷症。議甘寒泄熱，佐和中潤下治之。</p>
<p>北沙參　麥冬　鬱金　青皮　蔞皮　半夏　鮮石斛　丹皮　川貝　茯苓　海蜇　荸薺</p>
<p>三診　神識漸清，胸痞漸解，舌苔雖化，惟中脘覺燥，心煩時動，慮風火相煽，痙厥再至，則為患非淺。擬以甘寒潤導，兼泄汗熱。</p>
<p>生地　蔞皮　青皮　川貝　柏子仁　茯苓　麻仁　鮮斛　天麥冬　海蜇　荸薺</p>
<p>四診　恙勢較退，滯氣已出胃腑，是屬佳兆。惟脈來細數，臟陰、營液俱虧。若得腑氣宣通，陰氣來復，方保無虞。</p>
<p>前方去海蜇　荸薺　加鮮梨　阿膠</p>
<p>吳　神迷不能語，牙關緊閉，發熱面紅，口甜，痰沫黏膩，小溲自遺，四肢不舉，脈浮洪，舌苔滑膩。據述在軍前甫回，旋即寒熱，復食生冷，竊思病情，始因驚恐，復感秋邪，痰熱蒙閉，先用至寶丹、石菖蒲、竹油汁湯下，一時許，神即清爽，再用煎方。</p>
<p>葛根　連翹　川貝　蔞皮　枳實　丹參　玉竹　半夏　竹瀝　菖蒲</p>
<p>病後復勞感邪，虛邪襲入，始發寒熱，今則寒去而熱蒸蒸，蘊於脾肺兩經，舌苔白厚，有汗而熱不清，溺赤似痛，脈數而濡，腠理空疏，是以多汗，陰虛夾痰，蘊戀於絡，議景岳服蠻煎加竹葉石膏湯主之。</p>
<p>生地　橘白　木通　半夏　知母　丹皮　麥冬　竹葉　石膏　澤瀉　茯苓　蔗皮　荸薺</p>
<p>斑出而神昏譫妄如故，溫邪內陷，猶未解也。反以為斑已發出，可以無慮，此語大謬。勉擬葉氏之法，輕清涼血以透斑，芳香逐穢以開竅，必得汗出神清，庶可勿藥有喜。</p>
<p>犀角　元參　連翹　鮮石斛　牛黃清心丸　銀花　金汁</p>
<p>邪入血分則不渴飲，舌苔變黑，神昏譫語。犀角地黃湯加味主之。</p>
<p>犀角　地黃　天竺黃　連翹　元參　赤芍　丹皮　竹葉　甘草</p>
<p>秋邪伏熱，月餘不解，人汗淋之後，熱退不清，口乾舌燥，渴不欲飲，不思飲食。伏邪傷陰耗氣，少陽陽明不和，所服之方，俱在理路，顯然邪陷於陰，不能外達，擬黑逍遙散加減。</p>
<p>柴胡　青蒿　生地　當歸　丹皮　甘草　澤瀉　山藥　茯苓　陳皮　穀芽</p>
<p>疫邪兩候，陰分已虛，熱糊不清。口渴多飲，舌黑底絳，譫語不寧，痰咯不爽，脈象弦滑，伏邪化熱，熱鬱不達，傷陰損精，正虛邪實，暫擬養陰化痰，兼開太陰。</p>
<p>鮮地　羚羊　赤芍　丹皮　赤苓　知母　黃芩　元參　半夏　車前　地慄　陳米</p>
<p>時感十朝，日前寒熱如瘧，目今已止，惟胸胃不開，精神萎頓，五更作嘔，溲黃內熱，脈來弦滑，且不寧靜，伏邪未化，少陽陽明皆不清楚，未可言愈，不生風波即吉。</p>
<p>柴胡　葛根　半夏　陳皮　川樸　甘草　炒荊芥　赤苓　神麯</p>
<p>時感六朝，胸中悶結，口吐白沫，有汗熱仍不解，邪滯陽明為患，謹防內陷。</p>
<p>柴胡　川樸　半夏　藿香　枳實　甘草　葛根　神麯　瓜蔞　生薑</p>

<h2>風火</h2>
<p>脈來沉弦而數。沉者，郁也。肝鬱不暢，氣化為火，少陽不寧，右脈滑疾，濕熱生痰，心腎兩虧，厥陰之氣鼓動火炎於上，上盛則下耗，養心腎以和厥陰。</p>
<p>生地　麥冬　丹皮　茯苓　柴胡　燈心　澤瀉　萸肉　菊花　蒺藜</p>
<p>心肝之氣鬱結，化火刑金，陰不化氣，喉痛生疴，頸項結核，兩耳閉氣，少陽厥陰用事，風火相煽，清心涼肝，兼解鬱結。</p>
<p>生地　石決　當歸　菊花　柴胡　木通　薄荷　麥冬　甘草　赤芍　茯苓</p>

<h2>濕熱</h2>
<p>經以風勝則動，熱勝則縱，燥勝則乾，濕勝則溏泄，左顧右盼，尚未自如，深秋入臘，濕熱作祟，暫和陽明，兼化脾濕。</p>
<p>補中益氣去姜　加葛根　木瓜　車前</p>
<p>濕熱生痰，近入初冬，兩尺滑數不靜，以三補三瀉法。</p>
<p>生地黃湯加橘紅　苡米</p>
<p>少壯年華，濕熱久郁，今夏大腿曾患濕痰潰膿之症，雖已愈合，而濕熱傷陰，脈尚未靜，以補其不足，瀉其有餘。</p>
<p>原方加車前　料豆　歸身　用芝蔴油熬膏為丸</p>
<p>精不化氣，氣不生陰，脈不安靜，陰中之陽不運。陽腑之氣不調，舌有裂紋，氣分有熱，陰中有濕，所服之方，俱在理路，輕可去實，每朝服豬膽丸三錢。</p>
<p>洋參　料豆衣　通草　橘皮</p>
<p>濕熱傷陰，氣化無權，利濕傷陰，清熱耗氣，無形幻出有質。補則氣聚，破則氣滿，輕可去實，澀以固脫。肝腎內虧，心腎不交，每朝服六味地黃丸，合十四味資生丸。一助坤順，一法乾健。午後服豬膽丸三錢，化脾腎濕熱。</p>
<p>料豆　茯苓　沙苑　連翹　苡米　車前　夜交藤　枳殼　冬瓜子　北沙參</p>
<p>脈沉而滑，濕熱鬱肺，肺氣受傷，腎氣不納，濕熱上衝，喘咳不止，清火化痰，防其氣衝厥逆之患。</p>
<p>蘇杏二陳合百合花　桔梗　炒芩</p>

<h2>黃疸</h2>
<p>黃為土色，脾為土臟。脾為濕熱薰蒸，則中央正色發越於外。脾虛不能統血，肺與大腸相為表裡，火盛灼金，迫血妄行、血去陰傷，宗氣上浮，虛里穴動。疾因酒後濕熱內生，血在便後，腹中䐜脹，是血離營位，脾失統攝之司。黃如草木將凋，非黃之正氣，乃中土久虧，無以奉秋收之令，脈來滑數無神，當從蓄血發黃論治。</p>
<p>熟地　雲苓　澤瀉　冬朮　川斷　地榆　歸身　荊芥炭　黃芩　車前子　烏梅肉　蜜丸</p>

<h2>腫脹</h2>
<p>腎為水之下源，肺為水之上源，膀胱為水之導引，脾土為水之堤防。胎前水腫，氣化無權，治水之法，禹功疏鑿雖善，然非羸弱所宜。虛則崇土，一定成法。如甘遂、大戟、芫花、商陸等，行水雖速，堤防不固，正氣不支，終屬不濟。現在腹大如箕，腰圍倍昔，脈渺如絲，喘鳴肩息，生氣殘矣。</p>
<p>人參　冬朮　茯苓　炙草　廣皮　豬苓　澤瀉　油桂</p>
<p>腫為水溢，脹為氣凝。腎主藏水，肺行諸氣，肺腎雙虧，氣不運行，溢於皮膚則腫，留於臟腑則脹。夫水非氣不行，非土莫制。症本脾元先虧，不能制水，肺失所主，不能行水，氣水相持，不歸正化。然脾虛必由腎火不足，是以古法補脾必先補火，以火能生土，補腎宜兼補脾，以脾為生化之源。治水必先治氣，以氣化水亦化，治氣宜兼治水，以水行氣亦行。此脾腎氣水之不可分，而治當兼顧，必復其所主，先其所因，此腫脹之所以不易治也。公議嚴氏實脾飲主之。</p>
<p>製附子　川樸　冬朮　炮姜　煨木香　草豆蔻　大腹皮　木瓜　雲苓　炙草　每晚服金匱腎氣丸。</p>
<p>腎統諸經之水，肺司百脈之氣，脾為中土之臟。脾虛不能制水，腎虛不能納水，肺虛不能行水，氾濫皮膚則腫，流注臟腑則脹，脈來沉數無神，症勢危如朝露，勉擬金匱腎氣丸法，宗《經》旨「塞因塞用」之例。</p>
<p>金匱腎氣丸作煎</p>
<p>濕熱為病，非是一端，腫脹不越肺、脾、腎三經，其治不一。脾司清陽，胃行濁氣。東垣論「塞因塞用」，納氣歸窟，最為詳細。仲景欲升陽氣，必降濁氣，欲降濁陰，必升清陽。高年之恙，實難著手，偏寒偏熱，皆有太過之弊。</p>
<p>補中益氣加黃耆皮　甘草皮　乾蟾皮</p>
<p>臟寒生滿病，脾虛生氣脹，濕熱不行，腫滿見矣。左脅脹甚，脾腎俱虧，清濁混淆，升清降濁，補陰益氣，開太陽以走濕邪諸法，服之皆不應驗。鄙見淺陋，當訪諸高明。晚腎氣服丸三錢，早服資生丸三錢，一助坤順，一助乾健。</p>
<p>五苓散加乾蟾皮　羌活</p>
<p>復診　開太陽以走濕邪，調氣血。已服二劑，尚屬平平，右邊氣逆，腫脹隱痛，臍上下腫脹，動勞則喘，左右能臥，俯仰不能，陰陽皆病，氣血不化也。小溲已行，氣血未暢，氣屬無定，左右上下不一，升降無常，氣血不足，雖曰虛象，不能再補，湯藥難投，腫脹中滿，尚有開通陽氣之法。</p>
<p>茯苓　赤豆　豬苓　蘇子　椒目　通草　蜜楂　生熟萊卜子</p>
<p>三診　細思腫脹無非水、濕、氣病，肝、脾、腎三經次之。治腫治脹，不外著眼氣、血、水、濕。金匱腎氣、濟生腎氣，氣血濕熱，無不統治，毫無一效，危危待斃，《內經》雞矢醴，尚未用過，又思一法，盡人事而已。</p>
<p>五靈脂　生蒲黃　榧子　白果　蕪荑　雷丸　使君子　堅檳榔　宣木瓜　冬朮　川椒　錫灰　鶴蝨　萊卜子　白薇</p>
<p>四診　男怕著靴，女怕戴帽，著靴者腿先腫也。戴帽者頭面先腫也。藥醫病不能醫命，命由天定，非人力所能挽也。久已言明，擬力盡人事。</p>
<p>麻黃　赤小豆　椒目　茯苓　大腹皮　防己　車前草　豬苓　澤瀉　冬瓜仁</p>
<p>金匱腎氣不效，腎為水之本，膀胱為水之標，肺為水之上源，水濕侵脾，脾虛困耗，又值肝木司春，侮其所不勝，殊屬堪慮。以胃苓加減。</p>
<p>冬朮　川樸　豬苓　陳皮　澤瀉　車前　苡仁　麥冬</p>
<p>左邊能臥，覺氣升脹疼較舒，腫脹未消，腫自下起，上至缺盆，難療之疾，盡人事以待天時，不能早更暮改，腫脹系脾肺腎病，不能一例調治，見貌辨色，隨機變化而已，開太陽以走濕邪，通霜氣而消陰翳。</p>
<p>郁李仁　火麻仁　茯苓　生熟萊卜子　千里駒</p>
<p>氣滿中虛，腹大如鼓，內外皆脹，古方甚多，得效者少，金匱腎氣、濟生腎氣、敗鼓之皮、琥珀安神、木香化氣、牛溲馬勃、分清等飲，皆不能用。液化為氣，氣化為火，惟有調五臟、安六腑。除此之外，更無良方。每服小溫中丸五錢。</p>
<p>西瓜皮（三錢）　冬瓜皮（三錢）　砂仁（一錢）　赤小豆（三錢）　茯苓（三錢）　冬葵子（三錢）　香櫞皮（錢半）　琥珀（五分）</p>
<p>又用千里馬右腿一隻，火麻仁，郁李仁煎服。</p>
<p>諸濕腫滿，皆屬於脾。脾土虧殘，濕邪深入，腎氣因傷，脾腎交虧，精華日敗，濕勢益彰。譬如土為水侵，物何以立，勢已危篤，擬方挽之。</p>
<p>東洋參　熟地　雲苓　澤瀉　懷膝　炮姜　製附子　車前</p>
<p>脾胃為中土之臟，倉廩之官。容受水穀，則有坤順之德，化生氣血，則有乾健之功。素飲澗水沉寒，水流濕而就下，腎氣先傷，傳之於脾，漬之於肺。腎虛則真陽不足以煦和，真陰不以濡潤，脾傷健運失常，肺傷無以行水，致令精華腐敗於中，乃至氣虛中滿。前服脾腎雙培，崇土生金等劑，病似退而復進。近則秋感纏綿，脾、肺、腎三經益病。是以中滿益甚，輾轉沉疴，歲月彌深，殊難奏效，使非屏除塵絆，恬淡虛無，終無濟也。</p>
<p>附桂八味湯去澤瀉，加沉香　冬白朮　甘草　陳皮　肉果　炮姜　牛膝</p>
<p>始因瘧邪留肝，致成痞塊，延今多載，加之氣鬱傷中，肝脾兩傷，胸腹痞脹，兩腿浮腫，二便不暢，飲食日減，精神日羸，脈見兩弦，木來乘土，清濁混淆，勢成中滿，不可輕視。每服小溫中丸錢半，擬東垣先生升清降濁法，不致中滿則吉。</p>
<p>黨參　冬朮　甘草　苡仁　陳皮　當歸　木香　木瓜　柴胡　升麻　川樸</p>
<p>木乘土位，健運失常，清陽無展舒，陰霾上翳，以故食入反吐，腫脹頻仍，脈來弦數無神，久延有三陽結病之慮。治病必求其本，《金匱要略》曰：見肝脈之病，當先實脾。爰以歸脾、六君加減，資坤順之德，助乾健之功，仍宣抑鬱以舒神志，否則徒恃藥餌之能，一曝十寒無益。</p>
<p>洋參　焦白朮　雲苓　炙草　姜夏　陳皮　歸身　生木香　柴胡根　升麻　澤蘭　水疊丸</p>
<p>瘧後風邪為弊，濕熱歸囊，肚臍突，青筋暴露，形如抱甕，小便點滴。《經》云：諸腹腫大，皆屬於熱。已成膨脹，難以挽回。服滋腎丸三錢。</p>
<p>大橘皮湯加柴胡　木通　條芩</p>
<p>脾為生痰之源，肺為貯痰之器。年逾七一，陰陽就衰，肺脾腎三經皆病，腫自下起，蔓延於上，腰大如圍，下體重著，二便不利，濕不運行，少食則脹，清濁混淆，氣化無權，勢入老境。金匱腎氣固是正理，脈見滑數，脾虛生濕，漬之於肺，有喘滿之慮，暫以蘇杏輕通，化濕化熱，再進腎氣可也。</p>
<p>蜜蘇梗　杏仁　檳榔　於朮　茯苓　豬苓　益元散　香櫞皮</p>
<p>服數帖後去杏仁加人參　橘紅　冬瓜子</p>

<h2>痰飲</h2>
<p>子後清水氾濫，濁飲沖逆欲嘔，飲邪為患也。痰飲阻塞則不寐不便。潔古治法，通陽始能逐飲。</p>
<p>苓桂術甘合大半夏湯</p>
<p>暮夜濁飲沖逆，交子後清水氾濫，議真武法，以逐飲邪。</p>
<p>熟附子　白朮　炙草　茯苓　白芍　薑汁</p>
<p>痰飲之作，必由元氣虧乏，及陰盛陽衰兩起，以致津液凝結，不能輸布，留於胸中，水之清者悉變為濁。水積陰，即為飲，飲凝陽，則為痰。若果真元充足，胃強脾健，則飲食不失其度，運行不停其機，何痰之有。《金匱》曰：外飲治脾，內飲治腎。臨症權變。痰飲忡悸欠寐，嘔吐膠痰色紅，投溫膽法，雖能安寐，而膠痰不盡，或欠寐心煩，後加黑山梔，服一劑，煩定寐安，去山梔。惟氣逆作吐，改用旋覆代赭湯。服兩劑，氣逆遂減，而痰仍未盡，仍用二陳加白芥子、海浮石。三劑膠痰已清，飲食不多，改用理脾法。</p>
<p>二陳湯加山藥　北沙參　歸身　蔻衣</p>
<p>一劑覺煩擾不安，食入於胃，帶飲嘔吐，吐盡方安，改用大半夏湯早服，煩少定，嘔仍未止，原方加當歸、茯苓。又一劑，仍復煩躁氣逆不納，或寒或熱、脈躁指黑，鼻生煙煤，改用四君子加附子粳米湯。一劑，嘔未盡止，稍能納穀，脈靜肢和，黑氣已退，似覺胸膺痹窒。此虛氣上逆，濁飲上升，原方加芍藥、桂枝以斂虛氣，以開脾郁。</p>
<p>胃之大絡，名曰虛里。宗氣跳躍，躉嗽有年，肺腎交傷，氣足似喘，常吐清痰。氣虛夾飲，發則喉疼。肝陽擾動心火，水虧不能制陽。五臟諸飲，大旨溫腎調脾，熟腐五穀，淡滲以運三焦，薛立齋有人參二陳為主藥。仲聖內飲治腎，外飲治脾。六君子、《金匱》、《外臺》三方，初效後不效，皆是中虛氣不宣化，痰鬱生飲，二天不振，補後天以培先天，觀其進退。</p>
<p>六君子湯加蘇梗　沙苑　胡桃肉</p>
<p>脾為生痰之源，肺為貯痰之器。痰之標在脾，痰之本在腎。年逾六旬，腎水不升，肺陰不降。七情傷其內，六淫感其外。咳痰如膠，五更多汗，口如麻布，食不甘味，肺胃亦傷，恐成勞象。先為蘇杏六君，補土生金，再培胃元。</p>
<p>蘇杏六君加南沙參</p>
<p>外強中乾，氣火併於上。病因前年受寒咳嗽，曾服麻黃數劑，未經得汗。又服杷葉、款冬，似覺稍輕。素來善茶，故成茶飲，發則咳嗽痰多，嘔吐清水，背脊發寒，手足發燒，服金匱腎氣，口鼻出血無休時。服半夏飲，兩耳鳴不寐。繼又考試，操勞鬱悶，且相火素旺，木火易興，大便燥結，右手伸而難屈。相火內寄於肝，聽命於心。心為一身之主宰，腎為十二脈之根本。操勞不寐，心腎不交，陰不斂陽，不能和氣，氣有升無降，所以耳閉不聰也。肺為相傅之官，秉清肅之令。六葉兩耳，二十四節，按二十四氣。風寒內伏，清肅不行，上輸之津不能敷於五臟，而痰飲生焉。且茶飲苦寒，最能傷胃。脾虛生濕，水積不行。輾轉相因，遂成痼癖。化熱傷陰，苦寒敗胃，外強中乾，恐傷生髮之氣。擬歸脾、二地、二術，以養心脾，兼和肝調中，化痰治飲。　</p>
<p>黨參　茯苓　棗仁　木香　杏仁　半夏　橘紅　於朮　當歸　麥冬　遠志　豆豉　神麯　羚羊　竹茹　枳實　生地　熟地　枇杷葉　茅朮（玄參拌蒸五次）</p>
<p>脈弦兼滑，偶感暴寒，咳嗽。手足發燒，服神麯湯已解。咳嗽未已，痰飲舉發，水停心下為飲。風寒傷於外，七情傷於內，茶飲傷氣耗陰，思慮傷其肝脾，驚恐傷其心腎，治飲兼解七情。現在感冒未清，治宜先標後本。</p>
<p>蘇梗　杏仁　車前　茯苓　半夏　豆豉　生薑</p>
<p>左脈弦澀，右來濡滑，按不應指。寒能生濕，濕能生飲。內飲治腎，外飲治脾。腹為太陰，太陰者脾也。臍屬少陰，少陰者腎也。少腹屬厥陰，厥陰者肝也。腎病帶動肝胃，胸鄉氣滿脹痛，揚揚有聲。上焦如霧，中焦如漚，下焦如瀆。清濁混淆，臟病帶動六腑。所服之方，井井有條，無庸他歧，仍請一手調治。</p>
<p>安桂　茯苓　於朮　甘草</p>

<h2>哮喘</h2>
<p>肺為嬌臟，內配胸中，為五臟之華蓋。清虛之所，不耐邪侵，外司皮毛，下蔭於腎。哮喘十載，脈來滑疾，兩尺不靜，郁濕、鬱熱、郁痰、伏風為患，極難脫體。</p>
<p>蘇子　杏仁　橘紅　茯苓　豆豉　兒參　白前　白果　半夏曲</p>
<p>前因咳甚，哮症復萌，痰多氣阻，額上有汗。腎司五臟之精，肺司百脈之氣。肺氣不降，腎氣不納，中氣不能樹定中樞，肺虛不能主揚諸氣。調中養腎，納氣歸窟，子母相生。</p>
<p>蜜炙麻黃　蜜炙蘇梗　黨參　茯苓　半夏　海參（連土瓦上炙枯）　姜　棗</p>
<p>痰喘不時舉發，邪戀肺俞，胸結窠囊，每遇勞碌，觸邪即咳，溫肺化痰。</p>
<p>三子養親湯合溫肺飲去桂枝　加半夏　橘紅　前胡　生薑　金沸草</p>
<p>腎不納，則諸氣浮。脾不健，則諸濕聚。濕聚痰生，氣浮肺舉。素本操勞易飢，精神疲倦，哮喘即發。發則巔疼不寐，陰虛可知。喉間水雞聲，胸左高起一塊，有時作痛，至今未平，乃老痰凝結於肺絡，即濕痰流注之屬。總由正氣不能營運，結喉旁生結核，齒衄數日一發，陰虧不能制火，血少無以榮筋。金匱腎氣引火歸元，納氣歸窟，是其大法。桂無佳者，反助其熱。病真藥假，為之奈何？勉擬一方，多酌高明。</p>
<p>熟地　茯苓　杏仁　山藥　半夏　陳皮　枇杷葉　白芥子　於朮　五味　炙草</p>
<p>髫年咳嗽，冬秋舉發，延今廿餘載。胸次痞悶，寒束肺俞之外，火鬱肺絡之中，寒包熱蘊則金傷，痰凝飲聚為患。</p>
<p>杏仁　茯苓　冬朮　姜夏　前胡　廣皮　白芥子　甘草</p>
<p>髫年宿哮，秋冬舉發。發則不能安臥，豁痰乃平，於茲廿餘載。現在舉發，氣促痰鳴不得臥，痰未豁，食不甘，脈弦兼滑。肺有伏風，為外風所引，液敗為痰，痰成窠臼，慮難脫體，先小青龍加減。</p>
<p>麻黃　桂枝　細辛　半夏　五味　乾薑　赤芍　炙草　杏仁　豆豉</p>
<p>髫年哮喘，起自風寒，風入於肺，液變為痰，風痰蟠踞清空，每遇秋冬即發，喘兼咳嗽，痰帶涎沫紅絲，竟夕無寐，齁䶎聲聞四近，形豐脈軟，外強中乾，補則風痰愈結，散則正氣不支，邪正既不兩立，攻補又屬兩難，少壯若此，年衰何堪，暫以崇土生金，是否觀其進退。</p>
<p>孩兒參　冬朮　茯苓　炙草　半夏　橘紅　蘇梗　杏仁　桔梗　胡桃</p>
<p>哮喘起自髫年，延今廿餘載，六味，六君、三子、八仙、小青龍等，遍嘗無效者，伏風痰飲迴搏，肺胃曲折之處為窠為臼也。必待真火以煦和，真水以濡潤，中氣為之斡旋，以漸消磨，方克有濟。以金匱腎氣、嚴氏歸脾，更益宣風豁痰之品，候酌貴邑高明。</p>
<p>金匱腎氣加歸身　黃耆　遠志　木香　棗仁　車前　牛膝　洋參　冬朮　炙草　海浮石　防風　醉魚草花</p>
<p>服十餘劑，更以十劑或廿劑為末，以桂圓肉煎水泛丸。</p>
<p>脈滑而數，肺蘊風痰鬱熱，清肅不行，哮喘痰鳴，舌燥唇乾溲混，巔疼食減，宜先清燥救肺。所服之方，井井有條，仍請原手調治，何必遠涉就診。第肺為嬌臟，惡寒惡熱，苦寒雖效，未宜常服，恐戕生髮之氣。</p>
<p>羚羊角　炙草　兒參　半夏　蘇梗　橘紅　苦杏仁　地骨皮　桔梗　蘆根</p>
<p>清上源之水，導州都之熱，服後溲色已清，諸恙悉退，形神復振，眠食俱安。哮喘既平，自宜補正，現交秋令，燥氣加臨。雖曰肺旺於秋，自得其位而起，然有無制之弊，仍加清上之品。　</p>
<p>生地　丹皮　茯苓　山藥　澤瀉　麥冬　羚羊角　杏仁　骨皮　砂仁　陳皮　沉香　蘆根煎水泛丸。</p>
<p>陰陽兩傷，脾腎雙虧，以致風伏肺經，哮喘屢發，不扶其土，無以生金，不固其下，無以清上，治宜固腎扶土，清上實下輔之。爰以六味六君加減，守常調治，或可圖功。質之高明，未知當否！</p>
<p>六味六君去萸肉，參用洋參，水泛丸。</p>
<p>素來善飲善怒，土為木侮，脾為濕侵，漬之於肺，動勞則哮喘，不能安臥，痰豁乃平，不時舉發，不宜煩勞動怒，怒則氣上，所謂氣升則痰升也。</p>
<p>熟地　當歸　半夏　橘紅　蘇梗　葶藶　炙草　南棗</p>
<p>肺司百脈之氣，為至嬌之臟，不耐邪侵。邪侵毫毛必咳，庚辰寒客肺俞，宜服小青龍化邪外達。因循怠治，致令邪郁肺絡，變生哮喘，發則不能安臥，延今四載，終身之累也。</p>
<p>蜜炙麻黃　熟地　半夏　桂枝　白芥子　五味子　炮姜　杏仁</p>
<p>脈來沉滑而疾，童年哮喘，風伏肺絡，延今廿餘載，正氣腎氣俱虧，不能化邪外達。前進補土生金法，久病宜和養肺胃。至於三子養親、蘇子降氣、小青龍等，取效一時，非常服之品。太陰濕土司令，濕侵漬肺，又當一論。現在大氣發泄，用藥尤難，多酌高明。　</p>
<p>兒參　冬朮　茯苓　炙草　半夏　陳皮　蘇梗　牡蠣　胡桃肉　冬蟲夏草</p>
<p>哮喘遇冷則發。東垣參蘇溫肺湯。</p>
<p>黨參　蘇梗　白朮　半夏　陳皮　茯苓　桂枝　桑皮　杏仁　炙草　薑汁</p>
<p>實喘治肺，虛喘治腎。肺主出氣，腎主納氣。衰年下元虛乏，動則氣喘，宜用填補。所謂上實下虛，上病則下治也。</p>
<p>炙熟地　萸肉　茯苓　山藥　龜版　五味　磁石　車前</p>
<p>便溏浮腫，喘咳不得臥，脾肺虛也。脾為氣母，肺為氣龠，土旺自能生金，補脾可以寧肺。</p>
<p>西潞黨　霞天曲　冬朮　茯苓　半夏　大腹皮　炙甘草　橘皮　苡米　建蓮</p>
<p>產後下虛最多，痰飲易於上泛，喘咳食減，有浮腫脹滿不得臥之虞，不可小視。</p>
<p>茯苓　白芍　乾薑　五味</p>
<p>脈沉喘咳浮腫，鼻竅黑，唇舌赤，渴飲，少腹脹急，大便解而不爽，此秋風化燥，上傷肺氣，氣壅不降，水穀湯飲之濕，痹阻經隧，化為痰涎，最多坐不得臥之慮。法宜開太陽之裡，用仲景越婢、小青龍合方。若畏產後久虛，補以溫燥，客氣散漫，三焦閉塞則危矣。</p>
<p>桂枝　杏仁　生白芍　乾薑　五味　雲苓　炙草　熟石膏</p>
<p>腎納五內之精，肺司百脈之氣。症本腎水下虧，子竊母氣，致令肺虛於下。《經》以邪之所湊，其氣必虛。肺合毛皮，風邪易襲，皮毛先受風邪，邪氣以從其合。肺中津液，不歸正化，凝結為痰。屢有傷風咳嗽氣促之患，喉間作癢，金水枯燥，可以知而無疑。發時宜宣風豁痰，暫治肺咳之標，平復後宜溫養真陰，常服補腎精之本。</p>
<p>熟地　歸身　茯苓　炙草　杏仁　半夏　橘皮　蘇梗　常服腎氣丸　又補養方</p>
<p>熟地　山藥　萸肉　歸身　菟絲　枸杞　冬朮　龜版（牡蠣炒）　鹿角（牡蠣炒）</p>
<p>腎虛精不化氣，肺損氣不歸精，氣息短促，不能相續，提之若不能升，咽之若不能下，呼吸之間，渾如欲斷，下損於上，元海無根，子午不交，孤陽上越，慮難奏功，多酌明哲。</p>
<p>熟地　歸身　炙草　人參　肉桂</p>
<p>脾肺氣虛，上焦微熱，作咳作喘。</p>
<p>洋參　麥冬　五味</p>
<p>諸逆衝上，皆屬於火。自覺氣從少腹上衝則喘，乃水虛不能制火。火性炎上，肺失清降，法當壯水之主，以鎮陽光。</p>
<p>六味地黃湯加黃柏　炙龜版</p>
<p>肺為氣之主，腎乃氣之根。腎虛則氣不歸根，肺損則氣無所附。致使孤陽浮泛，無所依從，喘鳴肩息，動勞益甚，脈來細數兼弦，誠為剝極之候。</p>
<p>附桂八味加沉香</p>
<p>火燥金傷，上焦熱甚，煩渴多飲，肺虛則喘。</p>
<p>生石膏　肥知母　甘草　生地　懷膝　麥冬　沙參</p>
<p>食少飲多，水停心下，喘呼形腫不得臥，臥則喘甚。此腎邪乘肺，肺氣不布，滯澀不行，子病及母。《經》云：不得臥，臥則喘者，是水氣之客也。夫水者循津液而流也。腎者水臟，主津液，主臥與喘也。擬《直指》神秘湯加減。</p>
<p>陳皮　半夏　茯苓　炙甘草　洋參　蘇梗　桔梗　桑皮　煨姜</p>
<p>諸氣膹郁，皆屬於肺。肺合皮毛，為氣之主。風寒外束，肺衛不舒，氣壅作喘。《經》以虛邪陽受之，陽受之則入六腑，入六腑則身熱不得臥，上為喘呼是也。當以清劑揚之。</p>
<p>麻黃　桂枝　乾薑　細辛　五味　赤芍　半夏　杏仁　茯苓　炙草</p>
<p>痰火內郁，臟腑受傷，喘促，脈洪而滑，法當清肅上焦。</p>
<p>麻黃　黃芩　半夏　杏仁　桔梗　生薑　枳殼　炙草</p>
<p>外受風寒鬱遏，內因胃火上升，寒熱相搏，肺臟失其清肅，氣機壅滯作喘，治宜涼散。</p>
<p>蜜炙麻黃　生石膏　桂枝　杏仁　甘草　姜</p>
<p>血隨氣行，氣賴血輔，產後亡血過多，氣無依附則喘，謹防汗脫。</p>
<p>附桂八味加洋參</p>
<p>水不配火，腎不納氣，氣不歸原。氣有餘便是火。右腎熱氣上漫，常多走泄，精神不振。腎屬水，虛則熱，補陰不易，補陽尤難。脈象六陰按之虛數不靜，兩尺尤甚，心腎兩虧。今擬斑龍、歸脾、起元、兩儀合為偶方，培補命腎之陰陽，冀其水火既濟，自然納氣歸窟。</p>
<p>人參　黃耆　遠志　棗仁　冬朮　麥冬　歸身　熟地　木香　茯苓　杞子　菟絲　鹿茸　鹿角膠　龜版膠　柏子霜　橘皮　蜜丸</p>

<h2>咳嗽</h2>
<p>肺主咳屬金、金空則鳴、金實則啞、金破則嘶。素本操勞過度，肺虛招風，氣機不展，音聲不揚，已延一載，上損於下，防成肺痿。</p>
<p>太子參　杏仁　牛蒡　蘇梗　桔梗　半夏　廣陳皮　雲苓　炙草</p>
<p>復診　服藥四劑，音聲漸揚，痰咳漸減，肺之治節已行。現在溽暑流行，宜加養陰益氣之品，以行清肅之令。</p>
<p>太子參　五味子　麥冬　生地　銀花　甘草　半夏　蘇梗　桔梗　山藥　扁豆</p>
<p>肝陰素弱，肺有伏風，肺為嬌臟，不耐邪侵。肺不和則鼻不聞香臭，冒風則咳，咳甚難臥，喉中水雞聲。肺虛治節不行，肝虛氣不條達，先以清疏為主。</p>
<p>蘇梗　杏仁　葶藶　姜夏　陳皮　赤苓　炙草　蜂蜜　薑汁　北棗</p>
<p>實火宜瀉，虛火宜補。風火宜清宜散，鬱火宜開宜發。格陽之火，宜衰之以屬，所謂同氣相求也。水虧於下，火越於上，厥陰繞咽，少陰循喉，久咳音啞喉痛，口乾不欲飲冷，脈洪豁，按之不鼓，格陽形證已著。清火清熱取一時之快，藥入則減，藥過依然，所謂揚湯止沸，終歸不濟，導龍入海，引火歸原，前哲良謀無效者，鄙識淺陋也。小陡暫清肺熱之法，尚屬平穩可服，再擬金匱腎氣，竭其所思，未知當否？多酌明哲。</p>
<p>金匱腎氣丸</p>
<p>久咳音啞，每咳痰涎盈碗，食減神羸，苔白厚，脈雙弦，中虛積飲，土敗金傷，水濕浸淫，漬之於肺，傳之於脾，注之於腎，三焦不治，殊屬非宜。</p>
<p>真武湯</p>
<p>復診　連服真武雖效，亦非常法。第三焦不治，肺腎俱傷，當宗《經》旨，治病必求其本，從乎中治，崇土既能抑木，亦可生金，脾為生化之源，補脾即能補腎。爰以歸脾六君加減，徐徐調治。</p>
<p>六君子湯加遠志　木香　棗仁</p>
<p>脈來細數兼弦，症本臟陰營液俱虧。木擊金鳴，下損於上，精血膏脂不歸正化，悉變為痰，咳嗽痰多，喉痛音啞，乍寒乍熱，自汗盜汗，氣促似喘，腹鳴便泄，二氣不相接續，藩籬不固，轉瞬春動陽升，有痰湧喘汗暴脫之慮。姑以從陰引陽，從陽引陰，質之明哲。</p>
<p>熟地黃湯加鹿角霜　五味　胡桃肉</p>
<p>咳嗽已歷多年，去春失血之後，痰嗽延今益甚，乾嘔噫氣不除，顏色憔悴，形容枯槁，左脅作痛，不能左臥，左臥咳甚。左右者，陰陽之路。肝氣左升，肺氣右降。陰虧木火擊金，清肅不行，二氣偏乘，難於奏捷。</p>
<p>六君子湯加川貝　桔梗　茅根</p>
<p>症緣秋燥傷肺，痰嗽不舒，繼又失血。入春以來，痰嗽益甚，氣促似喘，內熱便瀉，形神日羸，飲食日少。腎損於下，肺損於上，上損從陽，下損從陰，上下交損，從乎中治。脈來細數無神，虛損之勢已著。謹防喉痛音啞，吐食大汗。</p>
<p>東洋參　冬蟲夏草　生地　白朮　山藥　陳皮　甘草</p>
<p>肺為水母，腎為水源。補土則金生，金生則音展，壯水則火靜，火靜則咳平。壯水濟火，崇土生金，頗合機宜。原方加減為丸，緩緩圖治。</p>
<p>生地黃湯加洋參　白朮　陳皮　半夏　甘草　阿膠　共為末，以百合煎水泛丸</p>
<p>雞鳴咳嗽，痰多食少，病歷多年，五日前吐血，動作氣促。肺腎兩虧，三焦俱傷，脈數形羸，虛勞已著。</p>
<p>生地　阿膠　獲芥　萸肉　姜夏　歸身　麥冬　鮮藕　炙草</p>
<p>清金保腎，乙癸同源，已服六劑，結喉腫痛全消，弦數之脈已緩，每朝咳嗽痰多，聲音不振，午後心煩，總屬陰虧水不濟火，原方加減。</p>
<p>北沙參　麥冬　大貝　杏仁　茯苓　苡米　牛蒡子　桔梗　甘草</p>
<p>暑濕司令，厥少陰液益傷。厥陰繞咽，少陰循喉，以致結喉腫痛復萌，逆氣上衝則咳，午後口渴心煩，陰虧不能制火也。昨議清養肺胃，以御暑濕，但能清上。今擬實下為主，清上輔之。</p>
<p>熟地黃湯加兒參　麥冬　桔梗　炙草　蘆根</p>
<p>清上則肺不畏火之炎，實下則腎有生水之漸。腎水承製五火，肺金運行諸氣，金水相生，喉之腫痛全消，胸中逆氣已平，飲食亦進，夜來安寐。惟平明痰嗽猶存，脈仍微數，肺胃傷而未復，仍顧其本。</p>
<p>前方去甘草</p>
<p>肺胃傷而未復，又緣心動神馳。陰精下泄，虛火上升。子水竊氣於金，不能承製五火。神傷必移枯於肺，無以運行諸氣，致令諸症復萌，仍以前日獲效之方，更益填精之品為丸，緩圖為是。</p>
<p>熟地黃湯加洋參　麥冬　龜版　鹿膠　蜜水疊丸</p>
<p>腎主納氣，肺主出氣。咳為肺病，喘為腎病。恙緣先天虧弱，後天生氣不振，母令子虛，金水兩傷。肝臟之虛陽上僭，是以咳嗆咽痛，動勞則喘。擬金水六君加味。</p>
<p>炙生地　洋參　麥冬　陳皮　半夏　沙苑　茯苓　紫菀</p>
<p>肺主氣，為水之上源，膀胱為津液之腑，氣化乃能出焉。久咳肺虛，清肅之令不降。日中溲短，臥則清長。夫人臥則氣歸於腎，腎司二便故也。議培土生金，兼滋腎水，俾天氣得以下降，兩陰濁自化矣。</p>
<p>沙參　料豆　沙苑　杏仁　橘紅　夜合花　枇杷葉　女貞　山藥　百合　茯苓　車前　蓮子</p>
<p>脈滑而數，風傷肺。痰鬱肺胃，夏令脈洪數。前月初診，脈沉滑而數。沉者，陰也，郁也。滑者，陽也，痰也。數者，火也。邪伏化熱生痰，所以用蘇、杏、甘、桔開提，蔞、夏理肺胃，不治咳嗽而咳嗽自解，不治痰而痰自出。用梨汁、萊卜汁以調肺胃，展其氣化，清肅漸行，咳少緩矣。</p>
<p>蜜蘇梗　杏仁　桔梗　甘草　前胡　牛蒡　梨汁</p>
<p>言乃心之聲，賴肺金以宣揚。肺如懸鐘，配胸中為五臟之華蓋，空則鳴，實則咳，破則啞。肺為仰臟，出而不納，二十四節，按二十四氣。最嬌之臟，不耐邪侵，邪侵毫毛必咳。肺主氣，為水之上源，受邪入絡，必順歸於腎，為痿、為咳、為啞。凡如此者，人皆不知，總曰癆症。六淫之邪不去，皆可成癆。病延載余，音聲不出，金已破矣。病者不知，醫須揣其本情，以木火通明。《經》以營出中焦，資生於胃，下益腎水，來濟五火。火不灼金，金不泄氣，燥不耗水為妙。今日喉痛已止，咳減痰少，聲音稍開，仍原方加減候酌。　</p>
<p>孩兒參　甘草　山藥　馬兜鈴　桔梗　杏仁　茯苓　大力子（元米炒）　蘇梗　花粉　南沙參　豬膚　雞子清　瓜子殼　黴乾菜</p>
<p>病原前方疊次申明，不復多贅。金水難調之候，全在靜養工夫。天命為主，非人力所為，叨屬親誼，敢不盡言。病由外感內傷，必由中而外達。郁久不達，非升麻不可。病將一載，聲音不出，水源不生，邪不去也。權用補中益氣加減，候酌。</p>
<p>補中益氣湯去耆，加山藥　陳乾菜　服三劑，加兒參，又服三劑，加參鬚。</p>
<p>脈細如絲，按之如無，中傷肺損。不能言語，語則喘咳不寧，足腫身熱。謹防大汗陰陽脫離之變。</p>
<p>黨參　南沙參　山藥　茯苓　款冬　百合　杏仁　新會皮　胡桃肉　蘇梗</p>
<p>脈來沉滑而疾，濕痰蘊結肺胃之間。痰嗽氣促，胸次不爽，面色戴陽，腎虧子盜母氣。暫以《外臺》茯苓飲加減。</p>
<p>黨參　杏仁　姜夏　蘇梗　冬朮　枳實　茯苓　橘皮　炙草　姜</p>
<p>進《外臺》茯苓飲，喘促已平，痰嗽較減，氣機已展，濕痰已運。第恙久腎虧，子盜母氣，擬清上實下，培土生金。</p>
<p>熟地　歸身　姜夏　枳實　廣皮　黨參　冬朮　茯苓</p>
<p>素有疝氣，不受溫補。肺為嬌臟，不耐邪侵，去秋瘧後中傷，濕痰上僭，餘風未清，乘虛犯肺，痰嗽不舒，日以益甚。冬來齒痛，虛火上升，肺金益損。入春以來，胸脅隱痛，面色戴陽，顯系腎虛，子盜母氣，非其所宜。</p>
<p>生地　白芍　麥冬　苡米　蘇梗　杏仁　桃仁</p>
<p>脈來沉澀，推之則移，痰鬱陰虧。肺氣不展，久嗽不已，三焦俱傷，慎勿輕視。舒肺胃以展氣機，現在火令司權，慎防音啞。</p>
<p>沙參　杏仁　茯苓　麥冬　地骨　桑皮　炙草　冬花　桔梗</p>
<p>脈來滑數，肺有郁痰。喘咳不安，口乾神倦食減，恙久體虛不受補，極難奏效。</p>
<p>杏仁　赤芍　姜夏　葶藶　酒芩　廣皮　桔梗　草炙</p>
<p>病原已具前方。服藥以來，喘雖減，飲食未增，便泄未止，土敗金殘已著，殊難奏捷。</p>
<p>黨參　冬朮　茯苓　甘草　姜夏　廣皮　百合　款冬</p>
<p>咳嗽痰多，脈象濡弱，氣虛痰鬱，脾受濕侵，漬之於肺。</p>
<p>茯苓　姜夏　橘紅　炙草　白朮　杏仁　桔梗　款冬</p>
<p>營衛不和，往來寒熱。熱後咳嗆無痰，四肢甲錯無汗，形神疲倦，食少無味，土弱金傷，肺胃俱困，虛勢漸著。勉擬東垣法。</p>
<p>孩兒參　冬朮　茯苓　廣皮　炙草　杏仁　蘇梗　白歸身　柴胡　升麻</p>
<p>復診　服三劑，諸恙悉退，惟咳嗆尚未全止。照方去兒參加阿膠、麥冬。未久咳嗆復萌，左脅作痛，暑傷氣，清肅之令不行也。</p>
<p>孩兒參　杏仁　桑皮　桔梗　蘆根　阿膠　麥冬　白芍　炙草</p>
<p>進清燥救肺，咳嗆未平，脅下忽痛忽止，肺氣不展，清肅不降，舒肺胃以展氣機。</p>
<p>象貝　杏仁　紫菀　桔梗　炙草　白蜜　蘆根　牛蒡　蘇梗</p>
<p>服藥四劑，痰嗽已平，脅痛亦止。症本土不生金，金令不肅，木無所畏，扣金為咳。脅痛者，木橫之徵也。崇土生金，亦可抑木，前方加減，為丸緩治。</p>
<p>六君子湯加歸身　懷藥　升麻　柴胡　蜜水泛丸</p>
<p>久咳痰多，喉腫且痛而癢，耳鳴頭眩，寤而不寐，飲食少進，脈來弦數，陰虧已極，水不上升，心火刑金，清肅不降，慮難奏捷。</p>
<p>生地　麥冬　象貝　玄參　桔梗　牛蒡　桑皮　烏梅　豬膚　榧子肉</p>
<p>服藥三劑，痰嗽、耳鳴、頭眩俱減，夜寐稍安，喉間痛癢亦緩，惟食少神倦依然。病本火灼金傷，益水之虧，制火之炎。</p>
<p>生地黃湯加牛蒡　阿膠　麥冬　豬膚　烏梅肉</p>
<p>服地黃湯加味六劑，諸恙亦安，頭目尚覺不清，夜來寐則易醒，喉間痛止癢存，微咳，飲食尚少，脈沉弦數。</p>
<p>原方加川貝</p>
<p>痰嗽已止，諸恙亦平，惟頭眩未愈，夜寐易醒。病延三載之久，三陰虧損已極，豈能一旦豁然，陰難驟補，以疊效煎方加味為丸。</p>
<p>熟地黃丸加貝母　北沙參　五味子　麥冬　共為末，煉蜜丸</p>
<p>久嗽不已，虛里穴動，動則應衣。宗氣無根，孤浮於上，乃金殘水涸之危症也。</p>
<p>六味地黃萸肉減半，加川貝　麥冬　五味</p>
<p>脾虛濕鬱，大便濡泄，痰嗽食減，行動氣促，脾傷傳肺。</p>
<p>六君加澤瀉　木香　生薑　南棗</p>
<p>脈沉而小，按之頗不流利。外寒內熱，久嗽不已，喉間淫淫作癢即咳，夜來少寐，胸滿食減。</p>
<p>二陳湯加東洋參　冬朮　阿膠　生地　歸身　蘇梗　百部</p>
<p>肺合皮毛，主咳。《經》言皮毛受邪，邪氣以從其合也。其飲食入胃，從脾脈上至於肺，則肺寒。肺寒則內外合，邪因而客之，則為肺咳。乘春則肝先受之。蓋肺咳不已，傳於他臟，際此發陳之令，則必先傳於肝，當以和解法中佐以肅降之品。</p>
<p>二陳加前胡　杏仁　蔞皮　澤瀉　蛤粉　姜</p>
<p>素有咳嗆，冬令即發。自秋季咳嗽，延今不已，動則氣逆，痰不易出，上熱下寒，兼食洋菸，胃陰消爍，下耗腎水，引動肝木，氣有上而無下。故上熱下寒，腎虛則喘，肺虛則咳，氣耗陰傷，故痰不爽。議養陰肅肺，兼柔肝納腎之治。</p>
<p>沙苑　麥冬　牛膝　毛燕　橘紅　川貝　桑皮　紫菀　蛤粉　夜合花　枇杷葉</p>
<p>先天薄弱，水不養肝，肝火易動，心相不寧。三陰內虧，火沖血上，下有痔漏，常多夢泄。失血後干嗆作嗽，喉痛聲啞之患，草木之功，不能補有情之精血，必得撤去塵情如鐵石，靜攝天真，精血復得下，病可減去三分，此機宜從。否則有仙丹亦屬無濟。擬丸代煎，徐徐調治。</p>
<p>河車（一具洗去血絲）　北沙參（八兩）　川貝（四兩）　白及（八兩）　鰻魚（一條）　懷藥（八兩）　燕根（四兩）　茯神（四兩）　牡蠣（八兩）　蛤粉（八兩）　芡實（八兩）</p>
<p>老尿壺一具，以長流水浸三日夜，去臊味。將牡蠣、鰻魚投入壺內，童便灌滿，以黃泥封固，以文火燒一日夜。次日取出鰻魚骨，用麻油炙研，再入群藥，和勻搗作餅，曬乾烘脆，研細末，用兩儀膠作丸和服，無兩儀膠即用玉竹膠。</p>
<p>脾濕生痰，漬之於肺，清晨咳嗽，得黃痰即平寧，否則不已。兩脅微痛，背心隱酸，肝胃之氣不展，得噯方舒。手足無汗，或時手足發冷，脾腎不足，不易驟復。</p>
<p>於朮　米仁　菟絲子　茯苓　橘紅　半夏　炙草　白蔻</p>

<h2>咳血</h2>
<p>肝藏諸經之血，肺司百脈之氣。水弱肝虛，火載血上。肺虛不能下蔭於腎，腎虛子竊母氣，下損於上，痰嗽帶血。相火內寄於肝，君火動則相火隨之，心有所思，神有所歸，則夢遺之病見矣。有情精血易損，接以草木，聲勢必難相應，宜速屏除塵絆，恬淡虛無，水升火降，方克有濟。</p>
<p>熟地黃湯去萸肉加白芍　麥冬　川貝　血餘</p>
<p>金水虧殘，龍雷震盪，載血妄行，上溢清竅。木扣金鳴為咳，腎虛水泛為痰。營衛乖違，往來寒熱，脈來細數無神。數載屢發不已，虛勞之勢已著。勉擬甘溫壯水，以制陽光，不可過服沉寒，致戕生氣。蓄瘀雖為陰類，運之者，其惟陽乎！</p>
<p>熟地黃湯加歸身　白芍　麥冬</p>
<p>年近四旬，幼年失血。今春舉發，血雖止，痰嗽不已，平明尤甚，脈來滑數，痰多食少，陰傷子盜母氣。現在溽暑流行，謹防狂吐。</p>
<p>生地　丹皮　茯苓　澤瀉　當歸　白芍　阿膠　川貝　紫菀　百部</p>
<p>失血多年，早暮咳嗆，交節尤甚。現在三四日一發，血發甚湧，胸次作脹，食少運遲。巔疼身熱，脈來弦數，陰虛火載血上，木擊金鳴為咳，不宜思慮勞心，當思靜則生陰之理。</p>
<p>生地　牛膝　陳皮　旱蓮　丹皮　白芍　茯苓　炙草　女貞子</p>
<p>《經》以大怒則形氣絕，而血菀於上。鬱結化火，火載血上，狂吐之後，咳嗽延今不已。十餘日必遺泄，脈來弦數，水不養肝，木擊金鳴，肝虛侮胃，久延非宜。</p>
<p>熟地黃湯加二至丸</p>
<p>服藥三劑，形神稍振，飲食漸增，咳仍未止，痰色黃白不一，昨日無夢而遺，腎虛肝損，仍以乙癸同源主治。</p>
<p>前方加麥冬　胡桃</p>
<p>乙癸同源，頗合機宜。復感暑濕，脾傷泄瀉，痰嗽較甚。急則從標，暫以清暑益氣。</p>
<p>孩兒參　澤瀉　杏仁　白朮　陳皮　神麯　茯苓　女貞　炙草　當歸</p>
<p>加減清暑益氣，治標治瀉。瀉止，痰嗽亦減。症本陰虧，從乙癸同源例治，頗合機宜。第暑濕新瘥，未便滋補。</p>
<p>孩兒參　升麻　麥冬　甘草　石斛　桔梗　茯苓　淮山藥</p>
<p>痰嗽帶血，起自夏初，日以益甚，延今半載，食少喉干，平明咳甚。氣隨血耗神虛，血由憂煎，氣隨怒減，吐血時言語錯亂。胸喉之間，若煙障霧迷，懊憹莫能名狀。七情之火，酒濕之熱，灼陰耗液，積損為頹，謹防大汗。</p>
<p>熟地　杏仁　桃仁　三七　牛膝　蘆根　藕汁　童便</p>
<p>年逾六旬，二氣就衰，冬客風冷，咳嗽綿延不已。今春痰帶紅紫，夜不能寐，身痛氣急，動勞尤甚，飲食少思，足跗浮腫，蔓延於上，陰分大虧，兼有濕熱，脈來停止，土敗金殘，生氣大損，慮難奏捷。擬補腎開胃法，胃開則吉。</p>
<p>生地　山藥　茯苓　杞子　歸身　白朮　胡桃</p>
<p>失血之脈，緩靜為順，洪大為逆。半產之後，二氣素亂，血隨氣上，痰嗽帶血，痰少血多，脈來弦洪，且大且數，血不養肝，肝不藏血，氣衝血逆，致有妄行之患。所服之方甚可，奈時令肝木用事，氣火上騰，慎防喘汗血脫，金殘肺痿。</p>
<p>生地　三七　牛膝　犀角　丹皮　血餘炭　牡蠣　麥冬　童便</p>
<p>先天不足，知識早開，水不養肝，肝虛易怒，怒則氣升，有升無降，火載血上，紅紫相間，形神不振。木扣金鳴為咳，腎水上泛為痰。始則痰少血多，延今則血少痰甚。陰虧水不制火，中傷氣不接續，壯水滋肝，兼和肺胃。</p>
<p>熟地黃湯去萸肉，加女貞子　旱蓮草　沙參　麥冬</p>
<p>素有失血之患，心營肺衛俱傷，近乃復感寒邪，已經表散未解，身熱憎寒，短氣自汗，痰嗽帶血，聲嘶脈軟，正虛邪實，殊為棘手。</p>
<p>柴胡　孩兒參　黃芩　甘草　半夏　陳皮　當歸　白芍</p>
<p>昨服小柴胡湯加減，表邪已解。本症陰虛，曾經咳血，龍雷內熾，五液交枯，虛熱往來，渴不欲飲，自汗不收，痰嗽帶血，面色戴陽，聲嘶脈軟。所幸胃氣尚存，猶慮復感寒邪，變生難治。用藥大旨，迎夏至一陰來復，以滋金水之源。</p>
<p>六味去萸肉，加麥冬　阿膠　小麥</p>
<p>進補金水之劑，諸症悉退，惟喉癢咳頻仍然，夫肺屬金而主咳，金之所畏者火也，金之化邪者燥也。燥甚則癢，癢甚則必咳。症本陰虧，水不制火，火灼金傷，精不化氣，則肺病燥。法當潤補為宜。</p>
<p>六味去萸肉加五味　麥冬　杏仁　胡桃肉</p>
<p>肝藏諸經之血，肺司百脈之氣，腎為藏水之臟，水虧不能生木，木燥生火，載血上行。木擊金鳴為咳，腎水上泛為痰。陰偏不足，陽往乘之，舌絳咽乾，蒸熱夜甚，脈來細數無神，虛勞已著。勉以壯水之主，以鎮陽光。現在木火上升之令，慎防狂吐。</p>
<p>六味去萸肉，加白芍　麥冬　牛膝　山梔</p>
<p>思為脾志，心主藏神，神思過用，病所由來。心為君主之官，脾為後天之本，二經受病，五內心虛。水虛不能生木，木火載血上行，木擊金鳴為咳。木乘土位，津液凝滯成痰，陰液不足以滋臟腑，二陽之病發自心脾。心煩意亂，形容枯槁，病魔不去，精神不生。輾轉沉痼，歲月彌深，所服之方，卻是法程。胃者衛之源，脾乃營之本，衛外失司則寒，營內失守則熱。失位之血，離經遠來則紫，吐後色紅者，近血也，漸淡為痰，合而為一者，血迫近而未及化也。痰血本為同類，臟氣盛則痰即化紅，臟氣衰則血即化痰。前論痰為精血所化，譬如亂世之賊盜，即治世之良民。舌上白苔，丹田有熱也。足得血而能步，血少故難行。中州不運，食欲少思，內宮運動，心有循持。未吐血前，脈強而硬，既吐血後，脈弦而軟，顯系血從肝來，營弱心虛則口難言。血化為痰，吐出方快，時或思臥，土困於中，心腎不交，竟夕不寐。脈來時弦細而急，或凝滯若不能自還，此三五不調，近乎澀革，兩關尤甚，又似勁脈。總之脈緩則平，脈急則甚。左右者，陰陽之道路。陰陽互相剋制，脈亦左右偏強。脾屬坤土，主治中央，最宜服食，土不制水，水溢高源，涎吐不禁，清氣在下，則生飧泄。昔黃帝問於歧伯曰：形弊血盡而功不立者，神不使也。精神不振，志意不治，精壞神去，營衛不可復收。何者？嗜欲無功，而憂患不止。誠能屏除塵絆，恬淡虛無，補以藥餌，何憂不已。</p>
<p>熟地　洋參　茯苓　白朮　甘草　歸身　棗仁　遠志　枸杞</p>
<p>血富於沖，所在皆是。賴絡脈之堤防，從隧道以流注。久咳肺絡受傷，血隨咳上，鮮瘀不一，脈來浮數兼弦，症本陰虧，水不濟火，火灼金傷，木擊金鳴，清氣不降，絡有停瘀，未宜驟補。昔肯堂治失血之症，必先蕩盡停瘀，然後培養。余宗其法，多酌高明。</p>
<p>當歸　白芍　丹參　側柏　三七　牛膝　糖楂　桔梗　茜根　桃仁　藕節</p>
<p>傷風致損，必是腎虛，咳嗽痰多，微帶鮮血，耳鳴盜汗，脫肛不收，脈來虛數，下損於上，肺腎兩虧。速遠房幃，獨居靜養，真陰來復，方能有濟。</p>
<p>生地　茯苓　生牡蠣　淮藥　百合　冬蟲草　桃肉</p>
<p>肺無因而不咳，絡不傷血不出，客秋感冒，痰嗽食減，甚則嘔吐，至今吐血甚多，鮮紅可畏。今春又吐，較前略少，痰嗽益甚，夜不能寐，身痛肢木，血不榮筋，面色帶黃，陽盛水不濟火，腎虛竊氣於金，精損移枯於肺，脈帶數象，尤非所宜。</p>
<p>犀角　白芍　茅根　生地　丹皮　甘草　懷膝　童便</p>
<p>三陰不足，酒濕內傷，下有漏瘍，火載血上，痰嗽食少，便溏，舌絳中有槽，左脅有動氣，脈來虛弦。法宜清補，仍防狂吐。</p>
<p>大生地　懷藥　白朮　芡實　蛤粉炒阿膠</p>
<p>去年咳血，調治已痊，近乃五心蒸熱，痰嗽在夜，痰色多黃。陰虧脾濕生痰，漬之於肺，慎防血溢。</p>
<p>孩兒參　杏仁　生地　赤苓　陳皮　冬朮　苡米</p>
<p>暴怒傷陰，肝陽化火，載血上行，咳喘帶紅，脈來弦勁，法當清以降之。</p>
<p>大生地　白芍　丹皮　澤瀉　黑梔　青皮　川連</p>
<p>肝藏諸經之血，肺司百脈之氣。失血後咳不止，氣微促，食減，脈細數，由盛怒傷腎，水不濟火，火載血上，木擊金鳴。腎不納，肺不降，故氣促。前賢以諸端皆為危證，殊屬不宜。擬方多酌高明。</p>
<p>雲苓　法夏　歸身　炙草　共為末，水泛丸</p>

<h2>失血</h2>
<p>右脈弦而洪，左脈弦大而芤。水不養肝，肝不藏血，氣逆血上，血不歸絡，衝犯陽明，致有狂吐之患。天下無逆流之水，水由乎風；人身無逆行之血，血由乎氣。脈不安靜，波濤不定，防其壅逆，慎之。</p>
<p>犀角地黃湯加青鉛　青麟丸　還魂草　赤芍　糖楂　茜草炭　牛膝　荊芥炭　柴胡　童便</p>
<p>上年失血，得於醉飽之後，全屬胃病。今次失血，因嗽而起。夫咳血與嘔血不同，咳因嗽起，嘔是逆來。脈象左關右尺洪而有力，餘部細數。陰分素虧，交春生之氣，龍雷鼓動，故不時頭烘面熱，耳鳴咳嗆，誤視頭風，竟以辛溫升散，致陽火獨狂，衝破血脈，咳吐兩晝夜未寧止。用犀角地黃，清心解熱，未能制及龍雷。鄙意大劑育陰，兼以苦降之法，必得龍藏澤中，雷潛海底，方可向安。</p>
<p>細生地　黃柏　洋參　天麥冬　肥知母　丹皮　木通　玄參　玄武版</p>
<p>女子以肝為先天，蓋肝藏血，且為血海，又當衝脈，此汪訒庵創論，實千古之確論也。肝藏血，情懷不遂，氣動於中。人身氣血，譬如權衡，一勝則一負，氣旺則陰愈傷，陰傷而絡血不注衝脈，此月事稀少所由來也。既肝無血養，而肝木愈燥，則化氣化火。氣火妄動，則血絡不安，兩脅或脹或痛。離經之血，必賴雷火以上升，由肺胃而出，咯嘔夾紅，止後覺頭眩心悸，津津汗出。心主血，汗為心液，液耗陰傷，故精神萎頓，肢面虛浮，下體氣墜，眼皮倦於開闔。木旺則土衰，脾失轉輸，清陽下陷，不能達於肢腠，故見症若此。刻當先養心脾，兼柔肝木，後議乙癸同源之法。鄙見如斯，敢質明眼。</p>
<p>山藥　當歸　丹參　白芍　龍齒　柏子仁　茯苓　沙苑　洋參　蓮子　料豆　夜合花</p>
<p>先是腹痛䐜脹，卒然吐血盈碗，血去脹消，精神飲食俱減，由思慮傷脾，抑鬱傷肝所致。肝為血海，脾為血源，脹本肝脾之病，肝虛不能藏血，脾虛不能統血，血無所依，致有妄行之患。以養肝脾為主，佐以引血歸經，從血脫益氣例主治。</p>
<p>熟地黃湯去萸肉，加洋參　於朮　牛膝　當歸　三七　車前</p>
<p>《經》以中焦取汁，變化而赤，是為血。積勞積損，中氣大傷，化機不健，致敗精華。所吐黑瘀，即經中敗血，繼吐血涎，即未化之血也。《靈樞》謂白血出者，不治也。勉擬理中湯，從胃論治，多酌高明。</p>
<p>理中湯</p>
<p>血吐如傾，氣隨以脫，危急之秋，當先從其急，固氣為主。蓋有形之血，不能即生，無形之氣，所當急固。使氣不盡脫，則血可漸生，所謂血脫益氣，陽生陰長是也。公議十全大補去川芎、肉桂，加杞子、麥冬。</p>
<p>陰液不足，木火有餘，載血上行，每吐盈碗，服壯水潛陽等法，病勢平復，年餘不發。近因起居飲食失宜，加以調治之心懈怠，遂致前症復萌，仍以壯水潛陽主治。</p>
<p>生地　歸身　龜版　丹參　丹皮　地骨皮　白芍　五味　麥冬　鱉甲膠　煎膠服之。</p>
<p>長夏失血，肺腎兩傷，金水交虧，龍雷震盪，五液神魄之病生焉。神情恍惚，語言錯亂，陰絡內傷，雲門卒痛，陽蹻脈盛，竟夕無眠。脈象虛弦，殊難奏捷。壯水之主，以制陽光，是其大法。仍請原手調治，何必多歧。現在火令司權，遠涉就診，非其所宜。</p>
<p>大熟地　懷藥　阿膠　知母　百合　麥冬　五味子　北沙參　歸身</p>
<p>暮春風溫上受，發熱三日，吐血鮮紅，四月中旬，血又湧來，至今不止，胸脅相引而痛，是系肝胃不和。胃為多血之腑，肝為藏血之贓，肝陰少藏，胃血上湧，脈來洪滑，非其所宜。</p>
<p>犀角　大生地　白芍　丹皮　炙草　黑梔　懷膝　鮮藕汁　童便　紅糖</p>
<p>肝為血海，陽明乃氣血之綱維。因失血寒涼逼伏，氣鬱陰傷，滋補則酸水上泛，中脘作痛，溫劑則血又上溢，鮮瘀不一，腎虛中胃不健，飲聚痰生為患。</p>
<p>冬朮　白芍　茯苓　香附　生薑</p>
<p>三進真武湯，血上痛除，惟夾脊膂筋酸楚，左手大拇指乍寒乍熱，督脈少運，仍防血逆上湧。</p>
<p>人參　白芍　冬朮　茯苓　木香　枳實</p>

<h2>衄血</h2>
<p>水不制火，火旺陽經，血溢於上，名曰鼻衄。</p>
<p>生地　丹皮　澤瀉　茯苓　白芍　麥冬　甘草　黃芩　牛膝　茅根</p>
<p>身懷六甲，火犯陽明，絡傷血溢，病名外衄。</p>
<p>生地　麥冬　黃芩　白芍　犀角　甘草　丹皮　茅根</p>
<p>足陽明脈，起於鼻，挾口環唇。蓋鼻準屬脾土，鼻孔屬肺金，而胃統之。產後口鼻起黑色而衄，乃瘀血入肺，肺絕胃敗之候也。急擬二味參蘇加附子治之。</p>
<p>黨參　蘇木　附片</p>
<p>操勞過度，真陰不足，水不制火，衝任血動，上溢於鼻，名曰外衄。脈來細弱無神，自述素耽酒色，法當培補真陰，未可作火熱論治。</p>
<p>生地黃湯去萸肉，加白芍　歸身　牛膝</p>
<p>陽明燥熱，內擾衝任，逼血妄行為衄。治宜清降為主。</p>
<p>生地　丹皮　犀角　白芍　山萸　牛膝　槐花蕊</p>
<p>素本陰精不足，瘧後陰液大傷，陰虧陽亢，水不濟火，逼血妄行，出於肺竅。肺主百脈之氣，肝藏諸經之血。腎使一身之精。水虛無以制火，精虛不能化氣，火性炎上，血隨氣行，是以血溢於肺竅，有喘促痙厥之慮。脈來軟數無神，治宜壯水之主，與六淫在經邪熱壅盛有間。</p>
<p>生地　丹皮　澤瀉　丹參　白芍　知母　甘草　牛膝</p>
<p>陰虛火動，齒衄消渴，脈來浮滑，神倦氣怯，大便堅，小便數。當從陽明有餘，少陰不足論治。</p>
<p>牛膝　生地　知母　麥冬　甘草　丹皮　澤瀉　茯苓</p>
<p>齒者骨之所絡也，齒衄動搖，並無火證火脈可據。乃腎陰不固，虛火上升，宜壯水以制之。</p>
<p>生地黃湯加牛膝</p>
<p>《經》曰中焦受氣取汁，變化而赤，謂之血。出於中焦，而主於心，故五臟各有守經之血，而六腑則無矣。其散於脈內者，隨衝任二經遍行經絡，散在脈外者，充溢於肌腠皮膚之間。凡吐血衄血、牙齦齒縫出血，散在經絡之血，湧而上決者也。近人謂巨口失紅，及牙齦縫出血者為胃血，此說誤人不淺。蓋胃為外腑，職司出納，為水穀蓄泄之區，其中並無一點一絲之血，夾雜內中，即牙宣出血一症，亦不過胃熱熾甚，肉不附骨，故血熱而上湧，其牙不宣而出血者，乃陰竭於下，陽亢於上，龍雷之火沖激胃絡。錢氏所謂骨漏是也。恙起於一月之前，齒縫出血，牙並不宣，多則血流盈盞，晝夜十餘作，發時面赤目赤，煩擾不安，近雖小愈，而漏不已。脈本六陽，刻下見症在胃，而所以致病，實由肝腎。急宜珍珠母丸合玉女煎加減，俾龍得下潛，然後陽明方有寧宇。　</p>
<p>珍珠母　石膏　洋參　羚羊角　花粉　龜版　石斛　龍齒　丹皮　白芍　槐花　藕汁　珍珠母丸</p>

<h1>中卷</h1>

<h2>關格</h2>
<p>飲食不入謂之格，二便不出謂之關。陰陽有所偏乘，尺寸為之復溢，氣口脈浮大，上引結喉之人迎。吐逆不能食，大便兼旬不解，小便如癃閉，陽明胃液就枯。化火金傷，治節不行，陰陽不相營運，幽門失其啟閉。氣化不及州都，關津不利，乃三陽將結之危疴也。</p>
<p>生脈散加生地　山藥　萸肉　牛乳</p>
<p>氣痰作阻，食不能下，關津不利，便不能解，中州失運，升降失司，乃高年之逆候也。生脈散加生地　懷藥　製半夏　廣皮　白蜜。</p>
<p>食入則噎，氣痰作阻，痛徹心背，已經三載。現在米粥難下，三陽結病已著。所服之方，都是法程。請原手調治，何用多歧。勉擬補陰益氣煎。</p>
<p>生地　黨參　山藥　當歸　陳皮　甘草　柴胡　升麻</p>
<p>病原已載前方，服補陰益氣煎大劑，噎塞雖開，勢必旋閉。《經》以三陽結謂之隔。隔者，格也。陽格於外，不與陰氣相榮，陰陽離決之候也。人迎一盛，病在少陽，二盛病在太陽，三盛病在陽明。胃為水穀之海，脾為中正之官，膀胱為津液之府。憂思抑鬱，損傷甲木，春升之氣，不能化液，灌溉州都，膀胱津液虛少，無以濡潤陽明。陽明之火，離出三陽本位，胃津就枯，譬如釜底無火，火在釜蓋之上，安能腐熟水穀精微，勢必吐逆，食不得入，故罹此病。多方寡效者，蓋未思及助甲木春和之氣，化生氣液，如天雨下降，流注膀胱，承製陽明，倒吸離出三陽之火，化作釜底之薪，使胃來潮，水火既濟，氤氳徹頂，生氣勃然，其病自已也。今緣就診心誠，化裁泄法，尚候貴邑明哲政之。　</p>
<p>地黃　黨參　茯苓　甘草　陳皮　半夏　遠志　蓯蓉　當歸　黃粟米　柴胡　升麻　川芎　淡竹葉煎水泛丸</p>
<p>容納主胃，運化屬脾，脾升則健，胃降則和，抑鬱傷肝，木乘土位，清陽無以展舒，濁陰上僭，致生痞象。津液不歸正化，凝漬生痰，蔽障清空之所，以致膈咽不通，飲食不下。年逾六旬，五液先虧，大便結燥，肺胃乾枯，乙癸同源，金水相生，未有肝病而腎不病者。勉擬斡旋中樞，以暢清陽為主，清上實下輔之。冀其土德融合，金令清肅，三陽結解。</p>
<p>六味地黃湯去萸肉，加東洋參　歸身　麥冬　白朮　橘紅　甘草　柴胡　升麻</p>
<p>斡旋中樞，清上實下，共服八劑，咽膈漸利，飲食漸受，中州頗有復振之機，咽膈之間，部位最高，清虛之所，曠然無外。蒼天貴清靜，陽氣惡煩勞。症本勞煩抑鬱損傷，致令三陽結病。宣中則清陽暢而春和之氣升，清上則清肅降而膀胱之液化，實下則五液充而三陽之結解。前方既獲效機，略加減為丸緩治。</p>
<p>地黃湯加使君子　當歸　柴胡　升麻　橘紅　麥冬　蓯蓉為末泛丸。</p>
<p>天氣通於肺，肺主喉，喉者候氣也；地氣通於咽，咽屬胃，咽者，嚥氣也。情志抑鬱，氣痞於中，會厭開闔失常，咽喉氣阻，飲食不下，肺胃乾槁。三陽結病已著。年逾六旬，尤屬不宜。勉擬歸脾六君加減、從乎中治，多酌高明。</p>
<p>東洋參　棗仁　遠志　罌粟殼　半夏　白蜜</p>
<p>酒入於胃，肝浮膽橫。暴怒傷陰，暴喜傷陽。木乘土位，火灼金傷，金令不肅，州都氣化失常，治節不行，傳道之官失職，大便結如羊糞，小便不利如淋。諸逆衝上，皆屬於火，體戰心驚，火之象也。食不能下，人迎脈盛，病在陽明，陽明腑火上炎，少陰髒水耗竭，無以濡潤諸經，一任三陽轉結，《經》以一陽發病，其傳為隔是也。慮難奏捷，勉擬清上實下法挽之。</p>
<p>六味地黃湯去萸肉加牛膝　車前　花粉　葛花　橘紅　青皮　昆布</p>
<p>歸脾六君，助坤順，法乾健，理陰神，益腎命，暢中陽。共服十有三劑，食入阻礙已平，嘔吐痰涎亦止，胸次之痛大減，弦數之脈亦緩。症本火虧於下，土困於中，津液凝結成痰，蘊結不行，氣為之阻，遂致三陽將結。前方既獲效機，略為加減，為丸緩治。第胸次雲門穴痛未除，乃營液欲竭，終屬不宜。　</p>
<p>熟地　茯苓　橘紅　遠志　歸身　白朮　半夏　炮姜　洋參　甘草　棗仁　木香為丸，每早、晚服三錢。</p>
<p>脈來洪數，氣鬱填胸，汨汨有聲，隱隱作痛，食不能入，二便俱阻。長沙以小便不出謂之關，飲食不入謂之格，陰陽偏勝謂之逆。慮難奏捷。</p>
<p>熟地黃湯去萸肉　加冬葵子　郁李仁　冬瓜仁　火麻仁　柏子仁　姜半夏　車前子</p>

<h2>噎膈</h2>
<p>鬱怒傷肝，憂思傷脾，肝脾榮損，氣亙於中，賁門不利，食入作梗，痰多，乾物難下，脈弦，左關沉澀，中枯症也。擬養胃和中，兼柔肝木。</p>
<p>於朮　茯苓　半夏梨汁炒　橘紅　鬱金　佩蘭　蔻殼　沙苑　穀芽　當歸　瓦楞子</p>
<p>夫張機峰之論噎膈也，其言曰：此病是神思之病，法當內觀靜養，方為得旨。蓋百病之因，多兼六淫而成，噎膈則以七情所致。由於飲食者，亦間有之。治症之法，無非開胃止吐，養陰潤燥之方。然病在神思，所謂心病還須心藥。內者，外之對。此症向來事外忘內，未嘗收拾此心，或為利鎖名韁，或為酒沉色困，以致五臟空虛，氣無所主，食不能進，入亦反出。若不垂簾反照，及忙裡偷閒，濃中著淡，何由屏絕諸魔？夫是之謂內觀。靜者，動之對。此症向來多動少靜，未能恬逸此心，微是誘於大喜大怒，而致傷神傷肝，即被牽於勞思過擾，而致傷脾傷腎，致五火叢起，血無由生，胃脘乾枯，大腸結燥。務須安養休息，即僻山深林，只稱隱逸，寧靜有志，雖車轟馬驟，亦是心清。夫是之謂靜。守此二者，則噎膈可通，即飲食可進，逆自平而嘔吐可止，燥自潤而血自可生，結自開而二便自利。左脈結澀，右脈弦小，中傷肺損，擾內無權，陰陽兩敗，藥難為力。回府當以血肉有情之品，養生生之氣，每日服人乳、牛乳皆可。</p>
<p>半夏　秫米　蓯蓉　五味　白蜜　長流水　揚三百六十五遍</p>
<p>怒則氣上，思則氣結，脈沉弦而滑，肝鬱中傷，胃失沖和，氣血作阻，機關不利之象。呃逆不容飲食，三陽結也。怡情開懷為妙。</p>
<p>補中益氣合雪羹湯，用孩兒參加五味</p>
<p>接展恙原，敬悉尊體由服方以來，稀粥漸增。因操勞煩心，清痰復多，飲食日減。症緣勞心耗腎，腎不吸胃，胃不沖和，思則氣結，憂則氣耗。腎氣通於胃，脾絡布於胸，靜養太和，則真氣洋溢。喜則氣和志達，心暢胃開，庶臻康泰。膠方雖好，必得補中益氣，若過補，則壅塞氣機。　</p>
<p>黃精　黨參　福橘　玉竹　杞子　生地　於朮　蓯蓉　茯苓　桂圓　沙苑　鹿膠　用桑柴煎，加花粉收膠</p>
<p>又煎方　黑歸脾湯去黃耆加穀芽煎湯代水</p>
<p>食入格拒，胸脘隱痛，氣衝湧涎，二便交阻。陽結於上，陰枯於下，為關格之漸。</p>
<p>西黨參　郁李仁　茯苓　附子　乾薑　川連　半夏　通脫木　薑汁</p>
<p>太陰濕土，得陽始運；陽明燥土，得陰自安。胃以降為和，脾以升為健。食入上逆，胃已病矣；大便頻溏，脾亦病矣。能粥而不能飯，慮成噎膈。凡九竅失和，都屬胃病。治宜剛柔並濟，令其升降為要。</p>
<p>麥冬　石斛　茯苓　澤瀉　橘白　半夏　益智　厚朴　秫米　木香　枳實</p>
<p>老年血氣漸衰，津液枯槁，胃管窄隘，湯飲可行，食物難入。急宜滋潤，以甘酸化陰，勿進溫燥之劑。</p>
<p>沙參　杏仁　烏梅肉　麥冬　花粉　炙草　石斛　玫瑰花　木瓜　梨汁　蔗汁</p>
<p>脈來兩關弦細，肝氣犯胃，胸咽梗痛，有如刀割，勢成隔疾。</p>
<p>當歸　丹皮　鬱金　遠志　柏子仁　砂仁　佩蘭　沉香　半夏　茯苓　金橘餅</p>

<h2>積聚</h2>
<p>肝之積名曰肥氣，脾之積名曰痞氣。左脅心下俱有，形大如覆杯，按之則痛，彈之有聲，中虛木旺，健運失常，升降失司，血凝痰阻。枳朮治中加減，資坤順之德，益乾健之功。　</p>
<p>枳殼　冬朮　人參　甘草　炮姜　青皮　生木香　水紅花子　澤瀉為丸，晚服三錢</p>
<p>五味失宜，七情不節，二氣失其和順之機，致令水穀精華之氣，不歸正化，凝於腸胃之外，膜原之間，為五積之沉疴也。</p>
<p>木香　丁香　陳皮　青皮　半夏　黃連　三稜　莪朮　烏梅　巴豆　薑汁和水泛丸</p>
<p>《難經》云：積者，陰氣也。陰沉而伏，血之所結日積。故積者，五臟所生，心下有形，大如覆碗，按之痛而不移，為痞積。當以攻劑伐之，宜局方溫中丸。</p>
<p>《難經》云：聚者，陽氣也。陽浮而動，氣之所鍾曰聚。故聚者，六腑所成，按之則移，尋之無跡，此為氣聚。宜以宣劑揚之。</p>
<p>麩炒枳實　青皮　白朮　香附　烏藥　藿香　木香　橘紅</p>
<p>五志違和，六淫外襲，脾胃失其健運之機，致令水穀精華之氣，不歸正化，結於虛里，大如覆碗，按之不移，上連膻中，不時攻痛。膻中為陽氣之海，虛里乃胃之大絡。癥結盤踞其間，陽氣為之閉塞，前人雖有養正除積之法，效者甚鮮。《經》云：堅者削之，留者攻之，結者散之，客者除之。蓋有形之積，以攻為是。　</p>
<p>東洋參　吳萸　川連　柴胡　巴豆　桔梗　菖蒲　肉桂　炮姜　皂角　椒目　香附　三稜　莪朮　川芎　紫菀　茯苓　水泛丸</p>
<p>清陽不升，濁陰不降，左脅盤踞，此肝積名曰肥氣。肝屬木，木剋土，故肥氣久而脾土必虧。脾為生化之源，源竭而肝木愈旺，上刑肺金，致有咳嗆咯血之患。熱移於腦，則鼻流濁涕。東垣云：痞滿皆血症也，謂脾胃水穀之陰傷也。心主血，心虛則嘈雜似飢，故得食則安；肝藏血，肝虛則陰伏於陽，皆氣血不運而成，即虛轉實也。若用氣藥破之，雖取快一時，貽憂日後，痞氣堅而陰愈傷矣。攻之愈急，必變中滿，脈象虛數，而脾胃之陰宜養，營分宜調。參以乙癸同源，為法中之法。正氣足，積自除；不治痞，而痞自消矣。　</p>
<p>洋參　川貝　沙參　太子參　茯苓　山藥　半夏　麥冬　歸身　白芍　橘紅　石斛　苡仁、麥芽　二味，煎湯代水</p>
<p>肝積曰肥氣，在左脅下，恙起前年，瘧後肝邪未盡，口腹未謹，邪與痰滯，互結絡中。春夏以來，漸覺硬大，客秋時感病後，脾胃雖強，而脾陽困頓，土衰木旺，肝邪愈強，積益散大，硬及腹右，食後覺飽，慮成蠱病。脈象左部細弦，右部兼滑，每遇煩勞，氣逆耳鳴，心腎榮虧，肝陽上僭。法當扶土抑木，兼和榮泄濁之法。候裁。</p>
<p>土炒於朮　枳實　當歸　青皮　鱉甲　木香薑汁炒黨參　冬瓜子　陳皮　椒目　煨姜</p>
<p>《經》云：積之始生，得寒乃成。肥氣為肝積，臟病也。臟難而腑易，久病脾土必傷，故肚腹脹滿。連投健運分消之法，撐脹稍舒，而堅積未見鬆軟，不宜速攻，仍固本之中兼以溫化。</p>
<p>黨參　於朮　乾薑　川樸　枳實　砂仁　青皮　茯苓　當歸　瓦楞　白芥子　水紅花子</p>
<p>鬱怒傷肝，肝營虧虛，氣從中逆，陽之濁痰，藉以上升，始則胸脅痛脹，走竄無定；繼則臍下關元氣海梗痛，二便不爽。此肝木橫逆，始則上行，繼則下克脾臟，於是清不能升，濁不能降，常似喘促，喉間有痰，或上或下。舌白中致滑膩，脈來沉澀軟弱，正氣已傷。擬養血柔肝，兼和中化濁之法。</p>
<p>當歸　丹參　茯苓　半夏　青皮　杏仁　福曲　鬱金　佛手　龍齒　冬葵子</p>
<p>一劑二便較爽，喘促已平，胃脘較舒，少腹疼痛亦減，舌白亦退。原方加生首烏、穀芽。</p>
<p>晚診　背愈覺熱，濁痰化熱，鬱於氣分。原方去半夏，加通草、芝麻秸。</p>
<p>左脈沉弦不靜，右脈滑數，肝鬱不暢，氣不條達，氣聚為瘕，任脈為病，肝脈為患。肝脾皆傷，不宜憂慮鬱結。月事不調，常多白帶。議養心脾，和肝胃。歸脾湯去耆，加金橘皮。</p>
<p>水停心下為飲，水積脅下為痞。腎納無權，中虛積飲，清濁混逆，濕熱為患。先以東垣補中益氣湯去耆。</p>
<p>二天不振，寒濕不化，飲積中焦，積聚為患。臟寒生滿病，脾虛生濕脹。攻痞成滿，破氣成鼓。脾虛運化無權，腎虛真陽不旺。氣主煦之，血主濡之。補命腎以健中陽，調脾胃以化痞氣。　</p>
<p>黨參　冬朮　當歸　莪朮　桃仁　內金　冬瓜子　糖楂　紅花</p>
<p>早服溫中丸，以化癥瘕；午後服資生丸，以理脾胃。脹勢稍平，心仍嘈甚，食仍作脹兼嘔，原方加五穀蟲。</p>
<p>服養正化邪之劑，瘕塊漸軟。養肝腎以化之，以丸代煎。</p>
<p>黨參　冬朮　當歸　白芍　莪朮　青皮　陳皮　砂仁　糖楂　五穀　蟾皮　雞金　水紅花子　推車漢（去殼）五對（研）北麥面加麥穗（火煨）</p>
<p>右為末，用紅糖、神麯打糊為丸。</p>
<p>郁損心陽，寒凝中脘。《經》以陽氣者，若天與日，失其所則折壽而不彰，故天運當以日光明。膻中之陽，猶天之日，雲霧不清，太虛矇蔽，生陽不布，膻中陽暝，猶雲霧之蔽日也。胸次痞塞不開，似脹非脹，不飢不食，病名虛痞。法當益火之源，以消陰翳。</p>
<p>人參　冬朮　歸身　炙草　附子　油桂　炮姜</p>
<p>胃陽衰微，陰寒凝結，噯噫吞酸，胸痞不飢不食，脈來細數，非食停中脘，乃陽氣不升作滯，是陰翳也。議理中主治。</p>
<p>理中湯加陳皮　歸身</p>
<p>思慮傷脾，脾虛不運，痞塞不開，不飢不食，脈體弦多胃少，法當補腎溫脾。《經》有塞因塞用之例。</p>
<p>歸脾湯用東洋參、雲苓</p>
<p>飲食有節，起居有常。飲食起居，均失其宜，脾胃傷而不運。一月以來，不飢不食，胸次痞滿，脈形緩弱，升降失司，否而不泰。法當補脾腎，運中州，以展清陽為主。　</p>
<p>熟地　東洋參　歸身　棗仁　遠志　煨木香　雲苓　淮山藥　陳皮　炙草　升麻　銀柴胡</p>
<p>中土素虛，過服克伐之藥，重傷脾胃，傳化失常，飲食少進，胸腹如脹，病名虛痞。宜資化源之法。</p>
<p>東洋參　冬朮　茯苓　炙草　陳皮　歸身　木香　煨姜</p>
<p>噯腐吞酸，胸痞不食，寒滯中焦，脾陽不運，脈來小駃於遲，法當溫暖中土。</p>
<p>治中湯</p>
<p>塞而不開謂之痞，脹而不行謂之滿，有邪滯為實，無邪滯為虛。今胸脘無脹痛邪滯等證，但不飢不食，而自疑若滿。脈來緩弱，容色蕭然，氣痞於中，中陽不健，非消導所宜。擬塞因塞用法。</p>
<p>東洋參　冬朮　茯苓　炙草　姜夏　歸身　遠志　煨木香</p>
<p>前哲以塞而不開謂之痞，有邪滯為實，無邪滯為虛。濕土司令，氣滯中州，邪著於心，按之有形，大如覆杯，飲食不進，邪滯作痞。擬平胃散加味。</p>
<p>陳皮　蒼朮　川樸　甘草　茯苓　木香　枳實　生薑</p>
<p>濁氣在上，則生䐜脹，操勞過度，中土受傷，無以運化精微。飲食少進，胸中痞滿，按之不痛，非停瘀可比。乃升降失常，變生痞象。法當苦以泄之，辛以散之，甘溫以補之，鹹淡以滲之。偏消偏補，均非正治。</p>
<p>川連　川樸　人參　冬朮　茯苓　姜夏　炮姜　枳實　澤瀉</p>
<p>服調氣藥，痞反甚，痞不在氣分無疑。東垣謂痞從血中來，長沙言病發於陰，而反下之，因作痞。蓋皆營分受傷，血屬有形，當治以有形之藥。</p>
<p>人參　歸身　炙草　川連　乾薑</p>
<p>三經受感，病後絕不思食，時或知飢，食入則痞，調治半年方痊。近因憂勞太過，復不能食，脾胃為中土之臟，倉廩之官，賴腎火以生，火素不足，中州不振，胃虛衛不外護則寒，脾虛營失內守則熱，非外感可比。脈來胃少弦多，原當益火生土，現在春木上升，宜先培土崇木。擬治中湯加附子。</p>
<p>服附子治中湯四十餘劑，化機復健，飲食日增，中土已得平調。第胃火久虧，治中雖然益火，未能達下，益火之本，以消陰翳，中病下取，古之成法。每早服附子治中湯。</p>
<p>六味丸加杞子　製附子　東洋參　白朮　歸身　蜜丸</p>
<p>胸腹乃臟腑之部，膻中為陽氣之海。胸次痞塞不開，按之有形，如心積伏梁之狀。飲食減少，脈來細數，素來木不條達，中虛清氣不展，離光不振，陰霾上翳，審以高年，非佳兆也。</p>
<p>六君子湯加青皮　木香　棗仁　遠志　藿梗　蜜丸</p>
<p>年甫十五，經水未通，小腹右角有形，大如覆杯，痛如針刺，痛時其形反隱伏不見。蓋積居膜原之間，如氣血源流衝擊，暫離窠臼，潛行於里。小便不利，且痛如淋證之狀，積瘀壅塞膀胱。《經》以膀胱為州都之官，津液藏焉，氣化則能出矣。州都氣化失常，故小便如淋證之狀，非淋證也。胸次氣血，往來不暢，肺司百脈之氣，為水之上源，下流不通，上流壅塞，氣不化液，無水通調，水道鬱而不伸，非喘促可比。扁鵲云：積者五臟所生，聚者六腑所成。脈來細數兼弦，證本先天元陰不足，水不涵木，木乘土位，健運失常，致令血液精華，不歸正化，凝結於臟腑之外，隔膜之間，少腹厥陰肝木之部，症名肥氣。當從養正除積論治，暫擬交加散加味，觀其進退。　</p>
<p>生地　生薑　二味同搗汁　丁香　蔻仁　洋參　青陳皮　木香　紅花　為丸</p>
<p>先哲言養正除積，蓋為虛弱之輩，非《經》正治，乃權宜耳。五積之候，使非悍利之品，豈能推逐頑積，體虛綿弱，積勞則甚，痛而不已，結於虛里。飲食不節，起居不時，致傷胃氣，與停滯相搏結而成積，暫以和脾胃以潛消，資化原而融化。</p>
<p>異功散加枳實　木香</p>

<h2>反胃</h2>
<p>食入反吐，脾胃失其健運之機，清陽無以展舒，濁陰上僭，升降失司，否象已見。勉擬東垣治法，行春令，甦中土。不致三陽轉結為吉。</p>
<p>東洋參　炙草　陳皮　柴胡　炙黃耆　老生薑　葛根　木香　當歸　大棗</p>
<p>中胃如釜，命火如薪，朝食午化，午食暮化，胃中之熱，何異大烹之鼎。食入嘔吐，火力不足可知，益火之源，以消陰翳。前賢大法，仿以為治。</p>
<p>金匱腎氣丸（煎劑）</p>
<p>胃虛中陽不運，脾虛傳化失常，食入停中不運，朝食暮吐，午後脘痛氣響，轉矢則舒。由七情鬱結，思慮損傷。補中益氣，升健中陽雖好，不若歸脾加減，兼養心脾為妙。早服金匱腎氣丸三錢。</p>
<p>歸脾湯</p>
<p>歸脾湯養心脾以舒郁，腎氣丸益腎火以升陽，服後頗合機宜。脘痛漸平，食入不吐。《經》以憂懼則傷心，思慮勞倦則傷脾。心不受病，患移相火，脾為中土，非火不生，脾傷不運，郁壅脘痛，鬱火與陰霾搏擊有聲，故賁響腹脹。益火之源，以消陰翳，斡旋中土，以暢諸經。仍宜恬淡無為，以舒神志。仍服腎氣丸三錢。　</p>
<p>人參　冬朮　炙草　當歸　棗仁　遠志　炮姜　肉豆蔻　青皮　木香　南棗　煎水疊丸</p>
<p>納食主胃，運化主脾，脾升則健，胃降則和。胃陽不足，不能納食，脾陰不足，不能運食。陽賴腎水以煦和，陰賴腎水以濡潤，皆真氣為斡旋。丙虛不能生戊土，丁虛不能生己土。壬虛盜氣於庚金，癸虛竊氣於辛金。金傷則治節傳送失常，土困則升降轉輸失職，以故食入反出，補中益氣，助春生之氣，以甦中土，可謂詳而細矣。第三陽從地而起，方能漸入春和，相火從腎而升，庶可以消陰翳。是宜益火之源，以求其本，使陽升於下，令陰精上蒸，則融和之氣充滿中州，脾胃自然強健，每朝仍服補中益氣丸。</p>
<p>附桂八味加菟絲子　枸杞子　鹿角膠　蓯蓉　蜜丸，早、晚服四錢</p>
<p>食入反吐，脾胃失其健運之機，清陽無以展舒，濁陰上僭，升降失司，否象已見。擬歸脾、理中，一助坤順，一法乾健。</p>
<p>人參　冬朮　炙草　炮姜　歸身　黃耆　木香　茯苓　棗仁　遠志</p>
<p>王太僕曰：內格嘔逆，食不能入，是有火也。食入反出，是無火也。腎火不宣，胃之陰陽不健，傳化失常，食入則吐。食入於胃，賴腎火中陽腐也，丙虛不能生戊土，丁虛不能生己土，脾虛不運，胃府津液為濁，胸中泛泛不安，飲食進而反出，因循怠治，冀望自瘥，反復相仍，病情轉劇，將近半載。前哲以朝食暮吐，屬相火下虧，食入隨吐，屬胃陽中弱。至於竟夕無寐，小便頻數，乃胃不和、則臥不安，中氣不足，溲便為之變。今食入隨吐，當先理胃陽為急。擬治中湯合神香散，建中宣火，是否候酌。</p>
<p>人參　炙草　澤瀉　青皮　白蔻　白朮　乾薑　橘紅　丁香</p>
<p>復診　飲食較進，嘔吐亦退，腹內知飢，飢不欲食，食入即脹，得後與氣，則快然如衰。此胃陽未復，脾陰亦虧，脈來胃少弦多，爰以歸脾湯加減。</p>
<p>歸脾湯去黃耆，加半夏</p>
<p>三診　《上古天真論》曰：飲食有節，起居有常。李東垣曰：飲食不節，起居不時，脾胃受傷。王節齋曰：胃陽主氣，脾陰主血，胃司受納，脾司運化，一納一運，化生精氣，津液上升，糟粕下降，斯無疾矣。症本辛苦勞煩過度，起居飲食失宜，五志違和，七情不節，致傷脾胃，傳化失常。脾胃為中土之臟，倉廩之官，容受水穀，有坤順之德，化生氣血，有乾健之功。若使胃強脾健，何反胃嘔吐之有。中土既傷，化機失職，飲食少思，食入反出，延綿數月，反復相因，病勢益甚，竟成反胃。胃者衛之源，脾乃營之本。胃虛，衛失外護則寒。脾虛，營失中守則熱。故寒熱往來如瘧，與外感六淫有間。前服崔氏八味湯，益火生土不效，蓋非相火衰微，乃抑鬱不舒，致火不宣揚，不能溫土，非相火虧虛，不能生土可比。且南方卑濕，中土常虧。現在濕土司令，中陽亦困，濕鬱生痰，痰飲不化。四進治中湯合神香散，理胃陽以開鬱而生火，食入不吐，四肢微熱，乃胃陽來復之徵。三投歸脾法，益脾陰以滲濕而祛痰，腹內知飢，食入不脹，乃脾陰漸生之兆。歧伯曰：治病必求其本。症本戊已受傷，法當專培中土。胃強則食進而嘔吐自止，脾健則痰清而化機守職，諸恙不治而自除矣。擬早服胃愛散，晚服健脾丸，一助坤順，一法乾健，胃愛散去黃耆加陳皮。</p>
<p>人參　茯苓　於朮　甘草　陳皮　丁香　豆蔻　乾薑為極細末，早服三錢，以冰糖一錢，和開水調下。</p>
<p>《醫統》大健脾丸去黃連、枳實，加當歸、遠志、棗仁。</p>
<p>人參　白朮　茯苓　半夏　遠生稻　蔻仁　木香　當歸　遠志　棗仁　青皮　陳皮　山楂　荷葉　陳米煎水泛丸。</p>
<p>王冰曰：病嘔而吐，食入反出，是無火也。相火不足，中土受虧，土虛不能載木，肝病傳脾，值春木上升之令，復食生冷傷胃，脾陽愈虧，不能運化精微，脅痛吞酸，食入反吐。前哲謂朝食午化，午食暮化，胃中陽熱，無異大烹之鼎。食不能化，火力不足可知。益火之源，以消陰翳，上病下取，最是良謀。仍以益火之本。</p>
<p>附子　炮姜　冬朮　人參　炙草　茯苓　當歸　生地　杞子　蓯蓉</p>
<p>腎乃先天納氣藏精之穴，脾屬後天資生化育之樞。先天精虧，頻年產育過多，水枯木燥，肝木轉取汲於胃，胃取汲於脾，脾胃輸津液於肝，久則不能相繼，而反為木克矣。滋水清肝，補精納氣，實為正治。故滋陰清降，似乎有效，後天薄弱者，滋降豈能久服。今擬欲求穩當，莫如滋水涵木，扶土柔肝，則先天后天，皆得其治，土氣不為木製矣。據愚見，治病用藥，須要中正和平，方能胃氣無損，倘胃氣一虛，則五臟無養，諸病蜂起。故曰：胃氣治，則諸病不生，胃氣弱，則諸邪輻湊是也。苦辛降逆，只可暫制肝氣之怒盛，嘔止痛平，即宜補腎和胃，方無掣肘之弊。脈來沉弦澀兼，由肝鬱不舒，少腹痛，氣逆直衝於胃，氣不下趨，反胃之症，宜和中抑木法。　</p>
<p>冬朮土炒　半夏　炙草　茯苓　白芍　陳皮　當歸　蔻仁　木香　荔枝核</p>
<p>《經》云：曲直作酸。酸者，肝之味也。肝氣怫鬱，上升擾胃，致胸痞氣逆，吞酸嘔吐。昨進泄肝和胃，似合機宜。原方進治。</p>
<p>原方加煨姜　益智仁</p>
<p>肝邪橫逆，經絡脹痛不堪，嘔吐酸苦，兼蛔上溢，緣痛久胃氣空虛，求嗜而出。理中安蛔，合左金疏肝法。</p>
<p>左金丸加茯苓　玄胡　白朮　石決　砂仁　半夏　陳皮　青皮　蔞皮</p>
<p>無故噯氣不止，仿旋覆代赭法。</p>
<p>黨參　熟地　赭石　一劑而愈</p>
<p>抑鬱不舒，土衰木團，食入即嘔，脈左寸關數，肝木乘土，急宜清降。</p>
<p>左金丸加苡米　半夏　代赭石　山梔　姜　竹茹</p>
<p>脈來六部弦勁，朝食暮吐，完穀不化。　</p>
<p>首烏　益智仁　灶心土　火麻仁　代赭石　半夏　牛膝　車前　桂心　茯苓　茅朮</p>

<h2>諸蟲</h2>
<p>胃虛肝乘，納穀則嘔，甚則吐蛔，通補陽明，開泄厥陰。</p>
<p>黨參　吳萸　烏梅　半夏　茯苓　黃連薑汁炒　薑汁衝入</p>
<p>蛔厥作痛，嘔瀉俱出，皆緣平素勞郁，多怒傷肝，思慮傷脾，脾氣日損，胃氣日虧，飲食少進，遂致濕蒸熱鬱生蟲。脈來弦數。烏梅湯加味。</p>
<p>烏梅　半夏　細青皮　枳殼　白朮　川楝子　茅朮　川樸　楝樹根　吳萸　煨姜</p>
<p>又甘草粉一兩，鉛粉炒黃五錢，白蜜湯調服。早服粉蜜湯，晚服烏梅湯</p>
<p>脈來弦細少神，氣血已衰，食少胸腹作痛，有時嘔涎，脾胃兩敗，和中合養營治法。</p>
<p>冬朮　乾薑　益智　砂仁　陳皮　香附　丹參　當歸　吳萸　半夏　棗</p>
<p>蟲以濕土為窠，舊法燥濕健脾以化之，乃治蟲通套法也。然有五臟形狀之異，寸白與扁蟲不同，寸白無妨，扁蟲則類馬蝗，能大能小，尖嘴禿尾，接續可長數尺，與寸白類害人甚速。惟養腎元，先杜其布子之患。每早服黑錫灰丸三錢。</p>
<p>熟地　黃精　茯苓　白朮　黃柏　川楝子　附片　烏梅　榧子　萹蓄　茴香　淨黃土煎湯代水</p>
<p>臟氣實者，蟲無以生，蟲之生者，臟氣虛也。症本腎虛於下，木失敷榮，木乘土位，脾困於中，濕蘊生熱，化生蛔蟲，蟲食脂膏，痛如錐刺，時作時止，脈反浮洪，痛甚顏青唇赤，是蟲之明驗也。治宜固腎扶土為主，追蟲滲濕佐之。　</p>
<p>生地　東洋參　冬朮　當歸　茯苓　川椒仁　黃柏　荔枝核　木香　使君子　山藥　白蕪荑　水泛丸。</p>
<p>肝邪橫逆，胸膺脹痛，嘔吐苦酸，兼吐蛔蟲。病緣胃虛趁嗜而出，理中安蛔，參入左金疏肝。前年經治以愈，今因半產早勞，兼之平素多郁，最傷脾胃，胃虛肝乘，納食則嘔，脘中板硬如拳，是中虛氣滯凝結。診脈沉細，形神皆衰，棘手重症，勉方候酌。　</p>
<p>桂心　乾薑　砂仁　白芥　白朮　陳皮　半夏　白芍　木香　海蜇皮　荸薺</p>
<p>服藥以來，痛脹未發，不發則已，發則霎時令人不可受，痛止則如平人一樣。《經》以五行之速，莫逾風火，鬱火郁風，氣滯濕滯生蟲。此蟲不殺，此風不可散，此火不可涼，郁自不可補，亦不可破。調衝任，利陽明，氣血融和，不治痛而痛自解，不調經而經自調。玩味諸家化裁之妙，全在圓機活潑，不可拘泥成方，徒事止痛，愈吃愈虛。擬方質之明哲。</p>
<p>七制香附　茯苓　歸身　會皮　生廣木香　金鈴子　酒炒白芍　醋炒柴胡　冬瓜子　苦胡蘆巴　甘草</p>

<h2>心腹痛</h2>
<p>瘧後脾腎兩傷，腹痛心慌，神疲食減，嘔惡酸水，平明虛熱，溲色清澄，頭中一線痛至尾閭。目中眩花，三陰不足，陰濕凝結。擬桂附八味加減。　</p>
<p>附子　油桂　炮姜　姜夏　廣皮　淮藥　熟地　萸肉　澤瀉　丹皮　茯苓</p>
<p>脈象沉弦，氣鬱肝傷，土為木侮。肝病善痛，已歷多年，不耐煩勞，形容憔悴，血不華色，心脾營損。養心脾以和肝胃。</p>
<p>東洋參　歸身　白芍　棗仁　炙草　焦冬朮　廣皮　茯苓　遠志　木香</p>
<p>進養心脾以和肝胃，痛稍安，容色漸轉，既獲效機，依方進步。</p>
<p>前方加熟地　油桂　桂圓肉</p>
<p>腹痛已平，飲食已進，夜來安寐，脈形神色俱起，不宜煩勞動怒，原方加減。　</p>
<p>熟地　東洋參　白芍　遠志　杞子　炙草　冬朮　歸身　茯苓　木香　棗仁</p>
<p>寒滯互結中焦，胃脘當心而痛。</p>
<p>藿香　附片　香附　廣皮　炮姜　川樸　木香　枳實</p>
<p>憂悲不解，二氣潛消，血由憂煎，氣隨悲減，不能營養心脾，胸腹痛無定止。</p>
<p>熟地　歸身　五靈脂　蒲黃　炮姜　炙草</p>
<p>積勞積損，五內受傷，氣血虛寒，心脾失養，胸脅隱痛，痛甚心慌，按之痛緩。法當溫養。</p>
<p>東洋參　棗仁　遠志　茯苓　炮姜　煨木香　冬朮　歸身　炙甘草</p>
<p>拒按為實，可按為虛。脘痛按之稍緩，由憂思不遂所致，乃氣血雙虧，不能營養心脾。法當溫補。</p>
<p>東洋參　冬朮　煨木香　茯苓　陳皮　歸身　遠志　炙草　棗仁　姜　棗</p>
<p>痛不拒按，得食即緩，因多勞傷力，飢飽失時所致。營絡胃陽俱虛，宜溫通甘緩。</p>
<p>黨參　桂枝　生薑　雲苓　炙草　大棗</p>
<p>肝鬱乘脾，中傷氣痛，飲食少進，食入則吐，脈來細數無神，久延有虛勞之慮。《經》以怒為肝志，木鬱達之。然草木功能，難與性情爭勝，使悲怒不戒，終無濟也。</p>
<p>孩兒參　冬朮　炙草　橘皮　歸身　白芍　茯苓　佩蘭　鬱金　蜜水為丸</p>
<p>病原已載前方。第脘痛甚則發寒，肢尖面目不可以當風，此屬氣閉不能營敷四末，上走清空，非真虛也。服理氣之劑，佐以山梔清氣鬱之火，病勢隨愈，嘔吐亦平，飲食亦進，脈數亦緩。症本木乘土位，中傷氣鬱，化火傷陰。不宜煩勞動怒。肝病治脾，前醫良法。擬六君加減。運中樞以暢清陽為主。　孩兒參　茯苓　白朮　炙草　橘紅　青皮　木香　沉香　佩蘭　當歸　白芍　遠志　蜜水為丸</p>
<p>肝鬱氣痛，痰多作嗽。肺有伏風，值秋燥行令，自得其位，烏足慮也。</p>
<p>茯苓　蘇梗　半夏　廣皮　杏仁　甘草　當歸　白芍</p>
<p>氣痛竟止，痰嗽未平，咽痛似傷，非喉痹也。乃陰虧火燥，肺有伏風，仍以清肅肺胃。</p>
<p>前方去白芍加牛蒡子　蛤粉炒阿膠</p>
<p>痰嗽稍平，脘痛復作，按之則痛緩，可緩為虛也。《經》以脾絡布於胸中，肺脈環循胃口。症本木旺中虛，土不生金，風伏於肺，氣機不展，痛則不通，不可拘肝無補法之說。通則不痛，通者、宣和也，非必通利也，補亦可通也。益水生木，培土生金，展氣化，宣伏風主治。</p>
<p>熟地　人參　霞天曲　廣皮　棗仁　炙草　茯苓　於朮　當歸　炒白芍　半夏　遠志　桂枝　阿膠蛤粉炒　陳米煎湯　代水泛丸（甲子擬方）</p>
<p>服丸徐治，入冬以來，脘痛時作時止，痰嗽或減或增，飲食較進，細數之脈未起。肺胃雙虧，伏風未盡，腎病當愈於冬，自得其位而起，不愈者，以水旺於冬，而冬水反涸，得潤下之金體，而少升生之氣故也。水冷金寒，肺有伏風，外風易感，同氣相求也。必使裡氣融和，方克有濟，暫從溫散。</p>
<p>熟地　當歸　蜜炙麻黃　杏仁　半夏　炮姜　細辛　五味　桔梗　蘇梗　茯苓　甘草</p>
<p>乙丑五月，診脈仍細數，素本陰虧，木不條達，剋制中胃。中傷絡損，氣失沖和，肝鬱則痛，胃傷則嘔。陽明之氣，下行為順，太陰之氣，上升則和。《經》以六經為川，腸胃為海，以通為主。五六日一更衣，陰液不濡，腸胃燥結可知。香燥開胃，非所宜也。當潤燥生陰，佐和中胃。</p>
<p>熟地　人參　蓯蓉　當歸　阿膠　牛膝　橘紅　白蜜</p>
<p>潤燥生陰，佐和中胃，服後痛嘔俱平，惟胸次不暢，大便未解。陽明傳送失職，太陰滯結不行，皆緣陰液有虧也。不必強行傷氣，照原方加郁李仁五錢。</p>
<p>大便已解，腑氣已通，症本陰虧。當從緩治。蓋陰無驟補之法，仍以甲子所擬丸方調治。逢節氣以人參湯送下。</p>
<p>丙寅二月　診脈細數如初，飲食較前略進，形神漸振，痛嘔並作，舉發漸稀。症本陰虧不斂，剋制中胃，胃不沖和，傳化失職，津凝為飲，液結成痰。肝為起痛之源，胃為傳病之所。脾絡布於胸中，肺脈環循胃口。中虛清氣不展，陰霾上翳，否象呈焉。七方中甘緩最為妥協，服三五劑後，仍以甲子所擬丸方調治。</p>
<p>歸脾湯去桂圓加姜　棗</p>
<p>肝陰不斂，腎陰不滋，健運失常，中傷飲聚，痛嘔並見，屢發不瘳。腎傷竊氣於肺，肝病必傳於脾，腎氣通於胃脾，絡布於胸，絡脈通調則不痛，胃氣強健則無痰。治病必求其本，滋苗必灌其根。如不培養真元，徒以痛無補法，執定呆理，安望成功？數載以來，病勢退而復進，脈體和而又否者，病勢深而少靜定之力也。蓋陰無驟補之法，且草木功能，難與性情爭勝。金為水母，水出高源，謹擬補腎生陰為主，清金益肺輔之。俾金水相生，從虛則補母之法，乃經旨化裁之妙，非杜撰也。</p>
<p>熟地黃湯加阿膠　天麥冬　蓯蓉　沙參　霞天曲　為末，水泛丸　逢節參湯下</p>
<p>肝氣逆行犯胃，痛嘔不能納穀，議歸芍二陳，兩和肝胃。</p>
<p>當歸　白芍　廣皮　半夏　茯苓　甘草姜　棗</p>
<p>痛嘔未平，大便且閉，木反侮金，胃病傳肺，肺與大腸相為表裡，肺氣下行，傳送守職，大便自解。通則不痛，得大便宣通，痛嘔方能平復。仍以二陳加味。</p>
<p>二陳湯加杏仁　郁李仁　柏子仁　當歸　牛膝　蜜</p>
<p>氣虛不能傳送，液耗不能濡潤。氣主煦之，血主濡之。腎司二陰，胃司九竊，腎水承製五火，肺金運行諸氣。氣液不足濡潤。肝陽木旺，中傷轉輸失職，血燥液干，故大便不解，痛嘔不舒，通夕不寐。擬生脈散，行肺金之治節，滋腎水之源流，冀其清肅令行，肝胃自治。症不拘方，因人而使，運用之妙，存乎一心。公議如是，敬呈鈞鑒。</p>
<p>生脈散加白蜜</p>
<p>昨進生脈散，夜得少寐。今仍痛嘔。雖體氣素旺，然病將三月之久，脾胃已困，肝陽獨旺。肝在聲為呼，胃氣愈逆，不能飲食，轉輸愈鈍，大便不行。肝為剛臟，非柔不和，胃為倉廩，非谷不養。肝氣鬱極化火，火灼陰液為痰，痰凝氣結，幻生實象，非食積壅滯可下也。公議仍以生脈散合大半夏湯。</p>
<p>痛嘔不止，飲食不進，大便不解，總由水不濟火，火灼液耗，兩陽合明之氣，未能和洽，故上不入，下不出，中脘嘔不舒也。此時惟宜壯水清金，兩和肝胃。木欲實，金以平之，肝苦急，甘以緩之。水能生木，土能安木，肝和則胃開納穀，胃開則安寐便解，此不治痛，不通便，而通便止痛之法在其中矣。仍以生脈散合《金匱》大半夏湯，加甘麥大棗法。</p>
<p>人參　麥冬　五味　半夏　小麥　甘草　大棗　甘瀾水煎</p>
<p>腑氣雖通未暢，臟氣未和，痛尚未止，總由肝氣橫逆。夫肝屬木，賴腎水滋營，不思食者，胃陽不展，土受木製故也。胃為陽土，得陰始和，究其原委，皆由平昔肝陽灼熾，耗損腎陰，以致水虧於下，莫能制火，火性上炎，與諸陽相牽為患。王道之法，惟有壯水之主，以鎮陽光。俾水能濟火，則肝自平，胃自和，痛自止矣。</p>
<p>六味合生脈散加黑棗　黃粟米　蜜　甘瀾水煎</p>
<p>木喜條達，鬱則侮土，性藉水濟，涸則燥急。心煩口燥，母病及子，胃氣由心陽而開，肝木得腎陰而養。中陽貴健旺，金令宜清肅，大便通，大腸之氣已順，痛嘔止，陽明之氣已和。惟是胃氣不開，尚不思食，乃病久氣餒中傷，胃不清和，陰液未能遽復。養肝和胃，益氣生津，俾二氣各守其鄉，庶免變生之患。</p>
<p>六味合生脈散加牛膝</p>
<p>肝制中胃，不能納穀，大便復閉。稽覈各家，並無攻下成法。據《醫通》中或問大便不通，暫服通劑可否？乃曰：病非傷寒痢疾症，豈可下乎！雖然取快一時，來日閉結更甚。致令陰虧於下，陽結於上，燥槁日甚，三陽結病，勢在必然。《經》以北方黑色，入通於腎，開竅於二陰，腎惡燥，喜辛潤，為五液之長，陰液足，則大便如常，陰液衰，則大便燥結。高年血燥陰虧，每有是疾。《經》云：肝木太過，則令人善怒，不及則令人胸痛引背，下則兩脅脹痛，痛久傷氣，氣傷陰虧，火燥便結，腸胃氣滯，外似實象，內系枯燥。所謂大虛似實，虛極反似實象也。轉瞬木令司權，中樞益困，急宜養陰涵木，子母相生，俾春生之氣，萃於一身，自能勿藥有喜。</p>
<p>六味去丹皮、澤瀉，加人參　麥冬　五味　當歸　牛膝　枸杞　蜜水為丸，朝晚服三錢</p>
<p>昔肥今瘦，神疲食減，胸否作痛，曲直作酸，痰飲作嘔。中虛木侮，傳化失常，宜治中宣補。</p>
<p>洋參　於朮　炙草　炮姜　橘紅　青皮　豆蔻　木香　半夏</p>
<p>衝任並損，脾腎兩虧，壯年產育過多，精血不足營養心脾，心脈循胸出脅，肝虛不能為胃行其津液，凝滯成痰，隨氣流行，乘虛而進，先犯心脾之絡，是以胃脘當心而痛，橫侵脅肋，攻衝背膂，膨脹有聲，時作時止，乃痰飲之徵。夫氣血猶源泉也，盛則流暢，暢則流通，少則凝澀則不通，不通則痛。無急暴之勢，惟連綿不已，虛病不卜可知。用藥大旨，培補脾腎，以資衝任精血之本，宣通脈絡，以治痰飲之標。擬丹溪白螺丸，合景岳大營煎加減。</p>
<p>熟地　當歸　茯苓　白朮　杞子　白螺殼　膽星　橘紅　半夏　草蔻　五靈脂　沒藥　水泛為丸</p>
<p>大營煎以養血，白螺丸之祛痰。營血漸生，宿痰漸化，脈絡通調，病何由作？精血充滿，痰無以生。痛止年餘，近又復作，此精血未能充滿，痰飲猶存，蔽障經中，氣為之阻。自述痛時小溲如淋，乃痰隔中州，升降失司之據。養陰宣絡，古之成法，藥合機宜，原方增減。</p>
<p>熟地　當歸　洋參　益智　陳皮　半夏　草果　山梔　薑黃　延胡　白螺殼　甘草　薑、棗煎湯泛丸</p>
<p>積食停寒，脘痛如刺。</p>
<p>藿香　木香　陳皮　枳殼　烏藥　厚朴　香附　炮姜</p>
<p>胃脘當心而痛，痛則水瀉，脈滑而弦，舌有黃苔，胸次不舒，不思飲食，積食停飲阻隔，陰陽升降失司。和氣平胃，以展清陽主治。</p>
<p>乾薑　冬朮　木香　茯苓　草蔻　延胡　枳實　厚朴　澤瀉</p>
<p>客秋脘痛，心中憒憒莫能自主，服黃連二劑稍好。現在大痛不止，痛時胸次氣鬱如焚，貫膈沖咽，痰塞咽喉，咯咽不去，午後尤甚。頭眩形神不振，飲食少進，脈來弦數，五志不伸，肝火犯中，土為木侮，以苦泄辛開法調之。左金戊己本好，先以瀉心法，服後再議。</p>
<p>川連　黃芩　半夏　甘草　炮姜　人參　大棗</p>
<p>年甫廿三，胃痛八載，嘔吐吞酸，脈象沉潛無力。中陽不健，胃寒積飲，擬苓桂朮甘湯加味。</p>
<p>茯苓　冬朮　桂枝　白蔻　半夏　姜</p>
<p>當臍作痛，痛時作嘔作脹，已歷多年。腎火不足，積寒為患。每朝服金匱腎氣丸。</p>
<p>積食停寒，脘痛如刺，上焦不行，下脘不通，俗名心痛，吐之則愈。《經》云：在高者，引而越之。病在胸膈之上為高，越之為吐。擬二陳湯加萊菔子探吐。</p>
<p>胸次脹痛如錐，心煩消渴飲冷，熱鬱上焦，宜先清降。</p>
<p>二陳湯加黃芩　山梔</p>
<p>脈滑數，小腹痛如針刺，大便堅，溲混赤，火鬱下焦，法宜清利。</p>
<p>赤苓　豬苓　澤瀉　車前　滑石　木通　白朮　甘草　山梔</p>
<p>脈滑數，脘痛橫連脅肋，晝輕夜重。此為痰鬱，宜苦泄之。第經日不食，氣餒於中，不勝湧吐，暫以失笑散加味。</p>
<p>五靈脂　蒲黃　沒藥　無灰酒一杯煎服</p>
<p>症延二載，曾以盛寒之令，手浸水中，因而心痛，已而復作，日以益甚。四肢者，諸陽之本，足陽明胃亦主四肢，冬時陽氣在內，胃中煩熱，為寒所束，化機失職，而精華津液，不歸正化，互結於中，是以痛無休止。法當理氣為先。</p>
<p>烏藥　沉香　木香　人參　冬朮　陳皮　炮姜　藿香為水蜜丸。</p>
<p>水濕之氣，直犯陽明，飲食之滯，停留中脘。邪滯搏結於中，勢不兩立，是以心腹撐痛，欲吐不吐，欲利不利，揮霍撩亂，莫能自主。乃乾霍亂之危症。先以淡鹽湯探吐，後服金不換正氣散。</p>
<p>廣皮　蒼朮　川樸　甘草　藿香　半夏　檳榔　草果</p>
<p>脈來洪數而弦，少腹痛連胸背，虛煩自汗，食入作吐，溲赤不利，便黃有沫。《內經》「痛論」十三條，寒居十一，惟二便不爽屬熱。今上則嘔吐不安，下則二便不利，此二陽之火，蘊結不開，值經血適來，血為熱所搏結，厥陰脈絡愈壅，諸逆衝上，皆屬於火，故食不得入。諸汗屬陽明，心煩由血熱。法當清理腸胃之火，直行下焦瘀血。</p>
<p>茯苓　澤瀉　豬苓　山梔　枳殼　車前　青皮　當歸</p>
<p>昨投藥後，諸症輕減。惟少腹脹痛不舒，夜來無寐，水不制火，陽蹺脈盛，陰不上承，心陽獨旺，血為熱所搏結不行，經水適來，熱入血室。議壯水補陰為急，行血逐瘀為緩。</p>
<p>生地黃湯去萸肉，加當歸　白芍　半夏　黃米　甘瀾水煎</p>
<p>血積下焦，少腹脹痛拒按，時覺上攻胸背，食飲少思，自汗心煩不寐，二便不利，症屬有餘。然久恙二氣俱虧，不勝攻伐，先進扶正之劑，二氣漸振，症勢漸解，今漸進行瘀之劑。</p>
<p>當歸　牛膝　生楂　香附　紅花　桃仁　木香　青皮</p>
<p>少腹脹痛拒按，上攻胸背，便黑不爽，溲赤而渾，血蓄下焦已著。昨進通瘀之劑，脹痛反甚，非藥不對症，乃藥淺病深。況痛久正氣已虛，無能斡旋藥力，正治之法從緩，暫以養陰宣絡主之。</p>
<p>當歸　牛膝　茯苓　澤瀉　沒藥　乳香　青陳皮</p>
<p>瘀停少腹，脹痛不舒，火在二陽，自汗不寐，血為熱搏，滯澀難行，嘔吐心嘈，二便不爽，症延日久，二氣交虧。屢進補正通瘀之劑，症勢退而復進，瘀血行而又止。蓋血為熱搏，乾澀於中，有非氣復津回，不能融化之勢。今擬清輕之品，以徹二陽之火，俾胃腸清和，再議行瘀可也。</p>
<p>生地黃湯去萸肉、山藥，加車前　牛膝　山梔　當歸</p>
<p>兩進清輕撤火之劑，諸恙俱減。少腹脹痛，然心下反覺不快，按之則痛，時嘔痰涎。恙久脾胃兩虧，轉輸失職，不能運化精微，以致中宮不快。脾傷不能為胃行其津液，瘀結成痰作嘔，胃虛不能斡其藥力，流暢諸經，停瘀不散作痛。欲培脾胃，守補之劑非宜，欲散停瘀，胃弱攻劑不勝。暫以通徹陽明主之。</p>
<p>熟地　孩兒參　茯苓　甘草　棗仁　半夏　白歸身　遠志</p>
<p>木乘土位，轉化失常，清陽不升，濁陰不降，升降失司，否而不泰。脘痛如刺，嘔吐痰涎，不思食物，脈來軟數，已歷多年，正氣已虧，殊難奏效。擬補氣法加補正品。</p>
<p>太子參　冬朮　炙草　青皮　橘紅　當歸　白芍　草豆蔻　木香　沉香　棗仁　遠志　蜜水泛丸，朝、晚服三錢</p>
<p>陰虛於下，腎不養肝，木乘土位，健運失常，不能營運精微，二氣源流不暢，痛則不通，是以痛嘔不能納穀。延今四載有餘，春末夏初舉發。今年發生在冬時，脘痛如刺，嘔吐不食，呻吟不絕，幾致汗脫，延綿四十餘日，服藥痛嘔雖平，飲食難進，脈仍未起，慮其來復。以丸代煎，徐徐培養。</p>
<p>熟地　當歸　洋參　肉桂　山藥　萸肉　白芍　木香　棗仁　半夏　遠志　橘紅　茯苓蜜水泛丸</p>

<h2>脅痛</h2>
<p>脅痛本屬肝膽，二經之脈，皆循脅肋。素本憂勞，憂傷肺志，勞動心陽，心肺傷而肝鬱。法當宣補，未可以東方氣實，宜疏散治。</p>
<p>洋參　茯苓　冬朮　當歸　遠志　木香　陳皮　炙草　姜　棗</p>
<p>肝膽氣滯不舒，脅肋痛如錐刺。宜濟川推氣飲。</p>
<p>肉桂　薑黃　枳殼　甘草　姜　棗</p>
<p>抑鬱傷肝，木乘土位，木性條達，不揚則抑，土德敦厚，不運則壅。氣道不宣，中脘不快，兩脅作痛。</p>
<p>香附　陳皮　半夏　甘草　姜　棗</p>
<p>暴怒傷肝，木火載血妄行清竅，脅肋脹痛，煩熱脈洪。宜先瀉東方之實，兼助中央之土，以杜傳脾之患。</p>
<p>當歸　青皮　陳皮　茯苓　白朮　白芍　丹皮　山梔　澤瀉　象貝</p>
<p>脅痛多年，屢發不已，延今益甚，寒熱、攻補、調氣、養血等劑，遍嘗無效。第痛時有一條槓起，乃食積之徵也。暫以丹溪保和丸主治。</p>
<p>保和丸　每朝、晚服三錢</p>
<p>肝火內郁，脅痛二便不爽。</p>
<p>川連　吳萸　山梔　青黛　當歸　蘆薈　木香　龍膽草</p>
<p>肝藏諸經之血，腎司五內之精。緣少年嗜欲無度，損傷肝腎，精血兩虧。精虛不能化氣，血虛無以涵肝。氣血猶泉流也，虛則不能流暢，凝滯不通，不致胸脅作痛，延綿不止，虛痛奚疑。法當培補氣血，治其致病之本，不可泛服行氣通經之品。　</p>
<p>熟地　當歸　肉桂　杜仲　牛膝　枸杞　甘草</p>
<p>肝膽之脈，循乎脅肋。憂思過度，致傷心脾，氣血不能流貫，致令厥、少二經不利，心脈亦循胸出脅。脾傷故木不安，是以脅肋隱痛。宜先培補心脾，治其致病之源</p>
<p>洋參　冬朮　熟地　炙草　柏子仁　茯苓　當歸　遠志　木香　酸棗仁</p>

<h2>腰痛</h2>
<p>腰者，腎之府。腰間空痛，按之稍緩，能直不能曲，病在骨也。　</p>
<p>熟地　洋參　鹿角　當歸　龜版　自然銅　杜仲　補骨　羊腎　胡桃　青鹽　茯苓</p>
<p>腰為腎府，痛屬腎虛，與膀胱相為表裡。太陽挾脊抵腰，督、帶、沖、任，皆會於此。素沉酒色，腎陰本虧，恬不知養，僭傷血脈。痛起於漸，屢發不瘳，輾轉沉痼，歲月彌深，行立不支，臥息稍緩。暴病為實，久病為虛，在經屬腑，在臟屬腎。每晚服青娥丸三錢。</p>
<p>當歸　洋參　蓯蓉　鹿角　杜仲　補骨脂　巴戟天　淡秋石</p>
<p>腰乃身之大關節也，腰痛屢發不瘳，痛則傷胃，腎乃胃之開關，關津不利，皆緣腎胃兩虧，氣血源流不暢。目得血而能視，足得血而能步。血失營養，以致頭傾視深，步履欹斜。服健步虎潛丸寡效者，胃氣不能敷布也。擬六味、二妙，腎胃兼治，以漸圖功。第以高年，慎防傾跌。</p>
<p>六味加黃柏　蒼朮　蜜</p>

<h2>七疝</h2>
<p>《經》以任脈為病，男於內結七疝。衝任同源，為十二經脈之海，起於腎下，出於氣街，並足陽明經，夾臍上行，至胸中而散。症因思慮煩勞，損傷中氣，虧及奇經。任虛則失其擔任之職，沖虛則血少不能營筋。肝主一身之筋，與腎同歸一體，前陰為宗筋之會，會於氣街，以故睪丸下墜，不知痛癢，名曰㿗疝。前哲之法頗多，效者甚鮮。暫從中治。</p>
<p>補中益氣去黃耆　加熟地　山藥　茯苓　半夏　川芎　煉蜜為丸</p>
<p>二天不振，八脈有虧，任脈不足，睪丸下墜。偏於左者，肝位也。腎氣通於耳，水不濟火則耳鳴，火熾陰削則精泄。脈來虛數少神，脾腎雙培為主。</p>
<p>熟地　洋參　山藥　萸肉　茯苓　橘皮　炙草　當歸　木香　遠志　棗仁　蜜水為丸</p>
<p>沖為血海，任司胞胎，下司肝腎，上隸陽明。氣血凝結，濕氣鬱之。服藥以來，熱勢雖減，癥瘕未消，扶正氣徐徐消化</p>
<p>歸尾　山梔　牛膝　糖楂　延胡　杏仁　茯苓　陳皮　茜根　蘇木　千里馬</p>
<p>心之所藏者神，腎之所藏者精。精神生於坎府，運用出於離宮。心腎兩虧，小腹小塊，按之不痛不移，氣往上衝，每朝溏泄，精神散亂，無夢而遺。清陽在下，則生飧泄，陰不斂陽，坎離不濟，火升不降，當先治心脾。冀水火有濟，清升濁降，飲食如常，乃為妙也。每朝服資生丸，以助坤順，午後服濟生腎氣，以法乾健。</p>
<p>歸脾湯去黃耆，加神麯</p>
<p>少腹左右有塊，腹大膨脹，形削食少，乃單腹之脹。客秋產後，氣血凝結，癥瘕為患。肝脾為病，病延已久，其勢已深。</p>
<p>四制香附　青皮　肉桂　莪朮　冬朮　川芎　糖楂　歸身　桃仁　冬瓜子</p>
<p>暴病在經，久病入絡。通則不痛，非通利也，乃和利也。</p>
<p>烏藥　牡蠣　乾葛　甘草　當歸　白芍　肉桂　陳皮</p>
<p>疝氣九年，大如雞卵，常發不已，發則脹大，不耐飢寒勞碌，補中益氣加金鈴子、橘核、枸杞、薑、棗。</p>
<p>丸方：金鈴子　杞子　橘核　防風　青陳皮　赤芍　肉桂　茯苓　澤瀉　海藻　豬苓　紅糖為丸</p>
<p>疝氣三載，脈弦兼滑。《經》以任脈為病，內結七疝，大如雞卵，囊大如瓜，滿腹攻痛，勞則脹大作墜，肝腎不足，中氣亦虛。勞者溫之，損者益之。</p>
<p>補中益氣合六味加延胡　荔枝核　橘核　金鈴子</p>

<h2>痿躄</h2>
<p>久嗽不已，脈弱形癯，兩足環跳穴按之則痛，不能步履。《經》曰：肺熱葉焦，則生痿躄。肺為華蓋，司氣化而主皮毛，譬如天之雨露不施，則萬物不生，樹之剝膚亡液，則枝葉必槁也。若惟知壯筋骨而治腰膝，失其旨矣。下病治上，則宜滋養肺金。</p>
<p>炙黃耆　北沙參　玉竹　麥冬　毛燕根　扁豆　甜杏仁　茯苓</p>
<p>腰為腎府，膝為筋府。蓋腎臟藏精，肝臟藏血。肝腎兩虧，後天生化之氣，又不能充旺，血枯髓涸，以致大筋軟短，小筋弛長。短則為拘，弛則為痿。腰痛脊突，足膝難行，形體日漸消瘦，症勢非輕。宜乙癸同源，以充筋髓。　</p>
<p>當歸　熟地　白芍　牛膝　山藥　東洋參　茯苓　杜仲　毛脊　胡桃　玉竹　於朮　豬脊筋</p>
<p>正在壯年，三陰不足，陰寒濕邪，乘虛陷入下焦，兩足脛骨腫脹，腿膝痠疼，大肉漸瘦，脈象弦細微數，神疲食少，面目痿黃，氣血俱虧，慮成殘廢。宜平補三陰，兼利濕舒絡之品，緩緩調治。　</p>
<p>炙生地　當歸　山藥　牛膝　龜版　苡仁　冬朮　獨活　茯苓　木瓜　萆薢　桑枝　紅棗</p>
<p>足三陰之絡，自足過膝而入腹。肝腎血液內虧，濕邪乘虛而入，腿足痠疼有年，夏令為甚。下午則痠痛益劇，陰虛邪戀經髓。當固本治標。　</p>
<p>丹參　獨活　萆薢　秦艽　當歸　炙地　龜版　牛膝　苡仁　木瓜　桑枝　棗</p>
<p>迭進甘寒舒絡，兼培氣血，股腿外廉痛已漸減，而內廉大筋伸則痛，《經》云：濕熱不攘，則大筋軟短，短則拘攣。且汗孔不透，究系營衛不充，濕邪逗留不解。仍用前法，少佐辛溫之品，直達下焦，以冀全可。　</p>
<p>大熟地　全當歸　牛膝　川斷　甜瓜子　白芍　絲瓜絡　黃柏　獨活　萆薢　熟附　木瓜　桑枝</p>
<p>脈象比昨較靜，惟是弦細，細為陰虧，弦為血少。肝腎血液不足，莫能流貫絡中，腿足痠痛乏力，或輕或劇者，虛則善變也。擬以三陰進治。　</p>
<p>生熟地　當歸　黨參　毛脊　冬朮　川斷　絲瓜絡　菟絲子　杜仲　杞子　川膝　棗仁　萆薢　桑枝</p>
<p>腿有六經，內前廉屬肝脾之絡。筋脈紮起，屈伸則痛，酸楚乏力，筋無血養，絡濕不清，即系夏令，猶須棉護，顯屬虛寒。法當溫養。　</p>
<p>熟地　黨參　當歸　杜仲　巴戟　柏子霜　絲瓜絡　狗虎骨　牛膝　冬朮　萆薢　五加皮　木瓜　桑枝</p>
<p>胃為水穀之海，脾為生化之源。脾氣散精，上歸於肺。肺失降令，脾失轉輸，水穀之濕邪，聚而為痰，停蓄於中，以致中脘不舒，食少作脹。痰氣上升，肺之治節無權，於是二便不暢，兩足軟弱難行。痿躄大症，以《經》旨治痿躄獨取陽明。蓋陽明主潤宗筋，束骨而利機關也。當先理脾胃，佐清痰氣。　</p>
<p>半夏　茯苓　苡仁　牛膝　當歸　冬瓜子　厚朴　杏仁　陳皮　款冬</p>
<p>四劑後，咳減脹消，二便亦暢。原方去厚朴、冬瓜子、冬花，加冬朮、獨活、川斷。服四帖，足漸有力。惟脾肺濕痰，未能盡淨，前方去杏仁、苡仁加料豆。</p>

<h2>三消</h2>
<p>陰虛有二，有陰中之火虛，有陰中之水虛。水火同居一窟，腎臟主之。陽不化氣，水精不布，水不得火，有降無升，直入膀胱，飲一溲二，名曰腎消。經載不治，擬方挽之。是否候酌。</p>
<p>附桂八味加巴戟　蓯蓉　石斛　遠志　菖蒲　五味子　麥冬</p>
<p>《經》以二陽結，謂之消。謂手足陽明、胃與大腸經也。胃乃水穀之誨，大腸為傳送之官，二經熱結，則運納倍常，傳送失度。故善消水穀，不為肌膚，名曰中消，誠危症也。謹防疽發。</p>
<p>生地　生石膏　木通　牛膝　知母　麥冬　生草　滑石</p>
<p>歧伯曰：五氣上溢，名曰脾癉。夫五味入口，藏於胃，脾為之行其精氣。津液在脾，故令人口甘也。此肥美之所發也。肥者令人內熱，甘者令人中滿，故其氣上溢，轉為消渴。治之以蘭，除陳氣也。</p>
<p>佩蘭　知母　黃柏　天花粉　西洋參　麥冬　五味　升麻　生地汁　生藕汁</p>
<p>善食而瘦，名曰食消，亦名中消。熱結陽明胃輕，防其疽發。擬知柏八味加減主之。</p>
<p>知柏八味丸去萸肉，加萆薢</p>
<p>大渴引飲，舌裂唇焦，火灼金傷，津液枯涸，能食脈軟，此屬上消，亦名膈消。謹防發背。白虎加人參湯。</p>
<p>知母　生石膏　甘草　人參　粳米</p>
<p>善渴為上消，屬脾，善飢為中消，屬胃。飢渴交加，肺胃俱病。肺主上焦，胃中主焦，此由中焦胃火上炎，上焦肺金失其清肅，津液為之枯槁，欲得外水相救，故大渴引飲。陽明主肌肉，多食而瘦削日加，乃水穀精華，不歸正化，故善食而瘦，陽明症也。《經》言亢則害，承乃制。擬白虎湯主之。</p>
<p>《經》以二陽結，謂之消，有上、中、下之別也。下消者，小溲如膏如淋，渾濁者是也。良由過用神思，擾動五志之火，消灼真陰，精血脂膏津液，假道膀胱溺器而出，故小溲如膏如淋。五內失其營養，一身失其灌溉，日消月縮，殊為可慮。擬兩儀加味，以滋肺腎之源，取金水相生之意。第草木功能，難與性情爭勝，更宜屏除尖絆，恬淡虛無，俾太和之氣，聚於一身，自能勿藥有喜。</p>
<p>生地　東洋參　天冬　麥冬　南沙參　牛膝　歸身　羚羊角　秋石　熬膏</p>
<p>消渴已止，眠食俱安。痰嗽未平，胸腹仍脹，乃木火餘威，木擊金鳴，火灼金傷故也。曾經產後，經前作痛，於茲七載，尚未妊育，女子八脈有虧。現在經閉二月有餘，脈象細數無力，非胎候也。有虛勞之慮。宜靜補其陰。</p>
<p>天麥冬　生熟地　冬朮　龜版　兒參　女貞　玉竹　熬膏</p>
<p>脈來軟數無力，症本陰液有虧，五志過極，俱從火化，萬物遇火則消，必先盪滌積熱，然後補陰，否則得補而愈熾。服瀉心湯五劑，火勢已殺，宜補真陰。</p>
<p>知柏八味去萸肉，加山梔　龜版　為丸。</p>

<h2>陰痿</h2>
<p>精也者，神依之如魚得水，氣依之如霧覆淵。先天氤氳而無形，後天有形而可見。男女媾精，萬物化生，得自然之氣，生子必壽。養先天，煉後天，水升火降，則為和會，見欣欣之舉，自然入彀。不可徒事助陽，燥熱竭陰，致有偏亢之弊。非徒無益，而反害之。</p>
<p>鯉魚子　洋參　枸杞　鹿角膠　熟地　山藥　胡桃　黃魚膠於朮　蓯蓉　覆盆子　萸肉　芡實　菟絲　巴戟　益智　茯神　桑椹　車前　橘皮　水泛丸</p>
<p>思為脾志，心主藏神，神思過用，病所由生。心為君主之官，端拱無為，相火代心司職，曲運神機，搖動相火，載血上行，下為遺泄。因循怠治，病勢轉深，更增虛陽上越，眩暈等症。諸風掉眩，皆屬於肝，面色戴陽，腎虛故也。不能久立久坐者，肝主筋，腎主骨，不足以滋養筋骨也，眼花耳鳴者，腎氣通於耳，肝開竅於目，水弱不能上升於耳，血少不能歸明於目也。胸背間隱痛如裂者，二氣無能流貫，脈絡不通也。嘔吐黃綠水者，肝色青，脾色黃，青黃合色則綠，乃木乘土位之徵也。前陰為宗筋之會，會於氣街，而陽明為之長，心脾不足，衝脈不充，宗筋不振，陰縮不興。滋陰降火，苦堅之法，最是良謀。惜少以通濟塞之品，以故無效。不受溫補熱塞之劑者，蓋壯年非相火真衰，乃抑鬱致火不宣揚。膻中陰瞑，離火不振也。相火不足，治宜益火之源，以消陰翳。相火不宣，則宜斡旋中氣，以暢諸經。譬如盛火蔽障，微透風，則翕然而起矣。</p>
<p>生地　東洋參　冬朮　甘草　木香　沉香　琥珀　歸身　棗仁　遠志　茯苓　元參　黃柏　蜜為丸</p>
<p>陽事不舉，舉而不堅，精不充實，心有餘而力不足。養陰中之陽，清神中之氣，氣來生陰，自能入彀。</p>
<p>菟絲子　熟地　蓯蓉　芡實　燕根　鹿尾　鰁魚膠　桂圓　柏子仁　遠志　茯苓　車前　牡蠣　桑椹　枸杞　玉竹</p>
<p>以上十四味研末，以桂圓、鰁魚膠煎水泛丸。淡菜湯下。</p>
<p>九九方　蛇床子　覆盆子　枸杞子　五味子　桑椹子　淫羊藿　遠志肉　桑螵蛸　大活蝦　如無活蝦，用雄雞肝亦可</p>

<h2>遺精</h2>
<p>心旌上搖，火下應，意淫於外，精滑於內。精傷無以化氣，氣虛無以化神，形神慵倦，肢體無力，陰不斂陽，浮火時升，寐來口燥，間有妄夢，證屬陰虧。</p>
<p>熟地黃湯加石蓮子　女貞子　旱蓮草</p>
<p>心主藏神，腎主藏精，神傷於上，精滑於下，五日一遺者，非獨心腎不交，中土大虧之明驗也。五為土之生數，生氣不固，殊屬不宜。</p>
<p>熟地　洋參　白朮　茯苓　甘草　歸身　黃耆　遠志　棗仁　水泛為丸</p>
<p>肝主疏泄，腎主封藏。二經俱有相火，其繫上屬於心。心為君火，心有所動，則相火翕然而起，此遺泄之所由來也。宜先服妙香散，安神秘精。</p>
<p>龍骨　赤苓　丹砂　洋參　茯神　遠志　益智　甘草　為末，服二錢，溫酒調下</p>
<p>病源已載前方。惟心腎不交，緣少年陰精不固，真陽失守，目有所睹，心有所慕，意有所樂，欲想方興，不遂其求所致。蓋心有所愛，則神不歸，意有所想，則志不定。心藏神，腎藏志，脾藏意，志意不和，遂致三陽否隔，此心腎不交之本末也。二十餘年，病多變態，近服歸脾獲效，是求末之功，豈泛治所能瘳也。心腎不能自交，必謀中土。擬媒合黃婆，以交嬰奼法。</p>
<p>東洋參　黃耆　於朮　炙草　木香　棗仁　歸志遠　身益智　桂圓肉煎水泛丸</p>
<p>精之藏制在腎，精之主宰則在心，腎精之蓄泄，聽命於心君，心為君火，腎為相火。君火上搖，相火下應，二火相煽，消爍真陰，情動於中，莫能自主。腎欲靜而心不寧，心欲清而火不息，致令嬰奼不交，夜多妄夢，精關不固，隨感而遺，反復相仍，二十餘年。前進媒合黃婆，以交嬰奼。數月以來，頗為獲效。第病深藥淺，猶慮難復，仍加意調養，通志意以御精神，宣抑鬱以舒魂魄，方克全濟。</p>
<p>熟地　東洋參　茯苓　菟絲子　山藥　石蓮子　黃耆　白芍　遠志　棗仁　粉糊丸</p>
<p>思為脾志，實繫於心，神思妄動，暗吸腎陰。腎之陰虧，則精不藏，肝之陽強，則氣不固。心思不靜，遺泄頻仍。古云：有夢治心，無夢治腎。治腎宜固，治心宜清，持心息慮，掃去塵情。每朝仍服水陸二仙丹。</p>
<p>熟地　東洋參　茯苓　五味　柏子仁　棗仁　遠志　桑螵蛸　當歸　元參　丹參　菖蒲</p>
<p>《經》云：腎主藏精，受五臟六腑之精而藏之，不獨專主於腎也，當察四屬，以求其旨。吟誦不倦，深霄不寐，寐則夢遺，形神日羸，飲食少思，脈來細數，此屬血耗心虛，神不攝精，水不濟火，腎不交心，非郁思不遂者可比。心不受病，當從厥陰胞絡論治。</p>
<p>生地　辰砂　棗仁　茯苓　遠志　歸身　洋參　犀角　胡連　川連</p>
<p>腎受五臟六腑之精而藏之，源源而來，用宜有節。精固則生化出於自然，臟腑皆賴其營養，精虧則五內互相剋制，諸病之所由生。素體先天不足，中年後復為遺泄所戕，繼之心虛白濁，加以過勞神思，以致心腎乖違，精關不固，精不化氣，氣不歸精，漸成羸疾，《經》以精食氣，形食味，味歸氣，氣歸精，精歸化。欲補無形之氣，須益有形之精；欲補有形之精，須益無形之氣。此形氣有無之象也。今擬氣味俱厚之品，味厚補坎，氣厚填離，冀其坎離相濟，心腎交通，方克有濟。　</p>
<p>熟地　麥冬　枸杞　黃精　五味　河車　冬朮　覆盆子　菟絲子　東洋參　黃魚膠　棗仁　沉香　鹿膠　龜膠　丹參　蜜丸</p>
<p>年甫廿四，兩天皆虛，納穀不豐。去冬勞感咳嗽愈後，頻頻走泄，或有夢，或無夢，有夢治心，無夢治腎。有時心悸，體倦食少，勞心耗腎，心腎兩虧，脈不寧靜，心相火旺。陰虛精遺於下，陽虛熱冒於上，心腎不交，水不濟火。暫宜變化地黃湯。</p>
<p>地黃湯加蜜楂　夜交藤　淡菜</p>
<p>走泄頻頻，精關不固，俗曰漏精。《經》曰下消。陰精上蒸者壽，陽虛下陷者危。虛陽無根，真元失守，血不化精，精不化氣，陰無氣化，陽無陰斂，浮火時升。人身之陰，難成而易虧，補陰不易，補陽尤難。天地造化之機，無非靜養。《文選》云：石韞玉而山輝，水含珠而川媚。悟得保精之道，亦可卻病延年。三十封髓，水陸二仙，皆是妙方。樹皮草根，無非領袖補偏救弊之意。全服補氣，未必盡善。未嘗無藥，益水之源，固腎之關，亦是良法。</p>
<p>三才封髓合水陸二仙去人參，加海螵蛸、生地　洋參　豬溺器</p>
<p>心為主宰，腎為根本，精神生於坎府，運動應乎離宮。曲運神機，勞傷乎心，心腎過用，暗吸真陰。勞心倍於勞腎，不拘乎酒色也。況先天薄弱，加之操勞，有未老先衰之象。不可不早為培養，冀生生之妙。</p>
<p>酒蒸熟地　鰁魚膠　黨參　於朮　木香　茯苓　炙黃耆　菟絲子　歸身　山藥　棗仁　炙草　遠志</p>
<p>如法為末，熟地杵餅，曬乾研細和勻，用桂圓肉、枸杞熬膏為丸。每朝開水下二錢。夏用鹽湯下。</p>
<p>脈象虛數，兩天不足，水虧於下，火炎於上，午後渴飲，肺胃陰傷，大便結，小便頻，常多夢泄，能食不能充養形骸，壯其氣血，水不濟火，謹防消渴而變三陽結病。速當息慮寧神，撇去塵絆，靜養調攝，水升火降，心得太和之氣，服藥方克有濟。</p>
<p>生熟地　天麥冬　山藥　鮮蓮子　釵石斛　北沙參　茯神　藕</p>
<p>肺司百脈之氣，腎納五內之精。肺腎俱虧，精氣不相營運，精不化氣，氣不歸精，無故精滑，自不能禁。脈來軟數無力，法當溫固三陰，議丹溪九龍丸加參朮。　</p>
<p>熟地　萸肉　杞子　歸身　茯苓　芡實　金櫻子　石蓮肉　人參　於朮　為末，山藥糊丸</p>
<p>操勞過度，致損肝脾。脾主中州，肝司疏泄。中氣不足，溲便為之變。肝為罷極之本，每值勞動，輒覺筋力有所不勝，木土氣弱何疑。擬歸脾湯，先為實脾。</p>
<p>歸脾湯</p>
<p>稟賦不足，生陽不固，陰精失守，夢泄頻仍。自述實無思慮，乃先天元氣薄弱，法宜溫固命門。議經驗秘真丹主治。　</p>
<p>菟絲子　覆盆子　赤石脂　牡蠣　杜仲　萸肉　補骨脂　金櫻子　山藥　龍骨　遠志　杞子　巴戟天　鹿角膠　家韭子　黃柏　柏子仁　炮姜　蜜丸</p>
<p>司疏泄者，肝也。主秘藏者，腎也。二經俱有相火，火不能靜，精不能藏，易於疏泄。擬經驗豬肚丸，清火固精。</p>
<p>冬朮　苦參　牡蠣</p>
<p>共為末，以雄豬肚洗淨，煮爛為丸</p>

<h2>淋濁</h2>
<p>脈來軟數無神，症本臟陰有虧。陰虧有二：有陰中之水虧，有陰中之火虧。少年真陰不固，真陽失守，腎兼水火之司。水不生木，肝病傳脾，土不生金，脾傷及肺。《經》以中氣不足，溲便為之變。腎開竅於二陰，腎虛則水反為濕，脾虛則土不制水，小水如膏如淋，非濁可比。宗氣無根，虛里穴動。腎為先天，脾為後天，脾土之健運，賴腎水之充盈，腎中水火不能上蒸，中土何由健運，中虛不能交通心腎。</p>
<p>熟地　茯苓　當歸　棗仁　遠志　麥冬　五味　黃柏　芡實　附片　萆薢　金櫻　柏子仁　鹿角膠　龜版膠　煎膏</p>
<p>勞心耗腎，肝不藏血，血不化精，精不化氣，濕熱傷陰，心火下注。溺血者，則血去不痛，有痛乃赤淋也。癃閉亦能溺血，三焦為決瀆之官，水道出焉，氣化則能出矣。脈來澀象，氣化無權，火掩精竅，血阻溺竅。所用之方，尚在理路。</p>
<p>犀角地黃加藕汁　炒白芍　丹皮　茜草　木通　山漆</p>
<p>病勢稍松，血淋已止，再用豬腎、薺苨，合小薊、白薇、犀角法。清心保腎，清其上源，下益腎陰，以化血瘀。</p>
<p>小薊　犀角　白薇　兒參　丹參　生地　白芍　茯神　山漆　甘草梢</p>
<p>肺為水之上源，氣化不及州都，陽明濕熱，下流於腎，便不能暢。濕火無從宣泄，頻發作痛。血不化精，精不化氣，膀胱亦不化。服藥效而不效者，裡氣虛不能化邪也。再擬萆薢分清飲。</p>
<p>萆薢　茯苓　甘草梢　菖蒲　益智　烏藥（鹽水炒）</p>
<p>年甫十三，尚未出幼，當請專科調治。去秋小便不利，出時竅痛。今春二月，溲赤痛甚。現小便淋漓，濕熱傷陰，心火下注。</p>
<p>犀角　白芍　丹皮　生地　石斛　兒參　甘草　湖蓮</p>
<p>水泉不止者，膀胱不藏也。小便頻數，脈來虛數，心火下注，氣結闌門，由癃而變淋，火掩精竅，已服多方，先效後不效。氣虛陰虧，二便齊下，約束無權。宜清心保腎。</p>
<p>犀角地黃加孩兒參　豬溺器　童便</p>
<p>血淋載余，溺管疼痛，始因苦寒傷胃，繼又溫補，咳嗽有痰，形神日羸，飲食日少，皮膚髮熱，下損於上，損及於中。脈來弦象，腎之陰虧，肝之陽強，三焦俱傷，殊屬可慮。商政。</p>
<p>川石斛　太子參　北沙參　山藥　熟地　茯神　麥冬　荷葉包　老陳米　藕　梨</p>
<p>濕熱傷於血分則赤，傷於氣分則白，赤白並見，氣血兩傷。時值秋燥，熱甚傷氣傷陰。腑以通為調，臟以藏為補。服藥以來，汗以漸斂，背脊蒸熱，寤寐不寧，心腎不交，脾虛濕困。</p>
<p>茯苓　澤瀉　川連（酒炒）　木香　當歸　益元散　藕　白芍　沙參　糖楂　老陳米　新蓮子</p>
<p>淋屬肝膽，濁由心腎。淋濁莖如刀割刺痛，時或白濁，少腹作脹，神虛心煩，食少陰虧，抑鬱濕熱，結閉膀胱，氣虛不化所致。久延防成勞怯。　</p>
<p>生地　茯苓　烏藥　歸身　車前　牛膝　萆薢　遠志　益智　甘草梢</p>

<h2>溲血</h2>
<p>《經》以胞移熱於膀胱則癃。溺血痛與不痛有別也，不痛為溺血，痛則為淋血。先溲後血，有時停瘀溺管，令不得溲，窘迫痛楚，莫能名狀，必得瘀血塊先出，大如紅豆者數枚，則便隨之，已而復作，於茲十載。當從熱入血室論治。</p>
<p>生地　木通　甘草　牛膝　犀角　丹皮　白芍　歸身　地榆　黃芩　柴胡</p>
<p>素來善飲，濕甚中虛，五志不和，俱從火化，壯火食氣，氣不攝血，血不化精，濕熱相乘，致有溺血之患。初服四苓導赤而愈，後又舉發，服知柏八味，化陰中之濕熱，理路甚好。未能獲效者，情志所傷也。第情志中病，雖有五臟之分，總不外乎心腎。議六味養心二方加減。</p>
<p>生地黃湯去萸肉，加柏子仁　歸身　棗仁　麥冬　洋參　蜜丸</p>

<h2>便血</h2>
<p>陽明多氣多血，大腸本無血，肝藏諸經之血，賴脾以統之，中氣攝之。氣不攝血，滲入大腸而下。血不養肝，肝不藏血，不能受孕者，血海空虛也。生產之後，血不歸經，氣不歸窟，形豐脈虛，外強中乾。養心脾，以和肝胃。　</p>
<p>洋參　生地　於朮　茯神　炙草　遠志　當歸　白芍　棗仁　阿膠　木香</p>
<p>心主血，肝藏血，脾統血，氣攝血。濕熱腸風，血隨經下，常發常止，地黃湯加生地、槐米、白芍、芥炭。</p>
<p>陰絡傷則便血。糞前血，近血也；糞後血，遠血也。濕熱傷陰，中氣虛也。</p>
<p>補中益氣加生地　卷柏</p>
<p>便血骨痛，肝脾兩傷。</p>
<p>當歸　白芍　茯苓　旱蓮　荊芥炭　槐米　生地　側柏　荷葉　白朮炭</p>
<p>絡傷便血，歷十餘年。精神不振，肝氣病痛，心虛氣短，不相接續，陽事痿頓，年甫四二，未老先衰。脈來虛軟，右關弦滑，中虛腎肝胃氣皆虛，陰陽並損，從陽引陰，從陰引陽，大封大固，是其法程。第營出中焦，資生於胃，陽根於地，氣根於腎，當從心脾進步。精血生於穀食，脾胃振作，為資生化源之本，不必寢事於陽，見血投涼。擬黑歸脾湯加減。然否？明眼裁之。</p>
<p>人參　熟地　茯神　棗仁　黃耆　於朮　甘草　遠志　龍眼肉　阿膠（藕粉研沖）</p>
<p>服十劑後，加鹿角膠、鹿角霜、炙龜版為末，以桂圓肉煎膏和丸。如胸攻作痛，以紅糖湯送下。</p>
<p>便後血，乃遠血也。血色鮮紅，肛脫半時乃上，已十餘年。頭眩神倦，脈來軟數，腎水不足，肝陰少藏，脾少統司，氣無攝納，從乎中治。議歸脾舉元。</p>
<p>熟地　洋參　茯苓　白朮　當歸　棗仁　遠志　木香　升麻　桂圓</p>
<p>脈滑數，酒濕傷陰，腸風便血。</p>
<p>生地黃湯去萸肉，加荊芥炭　黃芩　槐花末　側柏葉</p>
<p>便血數年，先後不一，紅紫相間，中帶紅塊，腹中隱痛，脈來滑數，按之無力。三陰內虧，濕熱不化，陰絡受傷，脾不統血，氣不攝血，滲入大腸而下。</p>
<p>生地　歸身　阿膠　白芍　赤石脂　於朮　棗仁　槐花　鮮地榆</p>
<p>衰年心脾氣餒，肝腎陰虧，氣餒不能攝血，陰虧無以制火。心主血，肝藏血，腎開竅於二陰。四經俱病，則營血失其統攝之司。血畏火燔，無以守靜謐之職，妄行從魄門而出。擬歸脾加減。</p>
<p>人參　冬朮　茯苓　炙草　炙耆　當歸（土炒）　棗仁　遠志　山漆</p>
<p>血因火動，涼以和之。</p>
<p>生地　白芍　生甘草　黃芩　川斷　炒地榆　槐蕊　烏梅肉</p>
<p>《經》以中焦取汁，變化而赤，是謂血。勞損中傷，化機衰憊，注泄下行，其色如赭。脈來細數，此陽敗於陰，真元幾脫之象。擬回陽之法。多酌明哲。</p>
<p>熟地　人參　當歸　炙草　炮姜　製附子　五味　山藥　萸肉</p>
<p>便血已歷多年，近乃膚脹腹大，脈沉潛無力，絕不思食，脾腎兩虧，生陽不布，水溢則腫，氣凝則脹。心開竅於耳，腎之所司，耳閉絕無聞者，腎氣欲脫，不能上承心也。勉擬一方，以盡人力。</p>
<p>洋參　冬朮　茯苓　炙草　熟地　歸身　棗仁　遠志　苡仁</p>
<p>脈來浮數而空，尺部獨減，症本心脾氣餒，脾腎陰虛，血失統司，水不制火，血注後陰，鮮瘀不定，便前便後俱有，遠近之血交流，脈絡不能攝固，血滑氣脫，殊為棘手。</p>
<p>熟地　洋參　冬朮　炙草　訶子肉　川斷　白芍　五味　烏梅　龜版　山藥　鮮地榆　歸身　蜜丸</p>
<p>中央生濕，濕生土，土生熱，熱傷血。火灼金傷，陽明胃血下注大腸。血在便後，已歷多年，所服黑地黃丸，黃土湯，均是法程。第濕熱盤踞中州，傷陰耗氣，血隨氣行，氣賴血輔，必得中州氣足，方能煦血歸經。</p>
<p>生地　洋參　懷藥　白朮　歸身　白芍　棗仁　遠志　炙草　升麻　桂圓肉</p>

<h2>便結</h2>
<p>《經》以腎開竅於二陰，主五液而司開闔。飲食於胃，津液輸於脾，歸於肺，注於膀胱，是為糟粕。轉入小腸，傳送大腸，出於廣腸，是為大便。其中醞釀氤氳之氣，化生精微，滋潤五臟，營養百骸，蓋大腸傳送，賴相傅為之斡旋。故肺與大腸相為表裡，肺為相傅之官，治節出焉。腎之津液，賴州都為之藏蓄，故腎與膀胱相為表裡。膀胱為州都之官，津液藏焉。小溲多而大便結，正與大腸泄、小腸秘，同歸一體。便瀉溲秘，乃清濁相混，溲多便結，乃清濁不分，過猶不及。脈來軟數無神，尺部尤甚，症本陰虧，水不制火，火灼陰傷，寒熱如瘧，注泄之後，五液乾耗，肺不清肅，無由下降，致令開闔失司，傳送失職，州都津液少藏，故大便秘而小便數。所服之方極是。擬清上實下主治。清上則肺無畏火之類，實下則腎有生水之漸，冀其金水相生，肺腎相資，清歸於肺，潤回於腎，則大腸無燥閉之患矣。愚見云然，未識高明以為是否。</p>
<p>鮮首烏　牛膝　歸尾　杏仁　羚羊片　南沙參　甘瀾水煎，分二次服。</p>
<p>食入脘脹，大便兼旬不解，腸中攻痛，此名腸覃。丹溪治法在肺，肺氣化則便自通，是亦腑病治臟，下病治上之法。</p>
<p>紫菀　鬱金　桔梗　杏仁　瓜蔞仁　枳實　枇杷葉</p>

<h2>泄瀉</h2>
<p>暑濕痰滯，互傷脾胃，腹鳴痛瀉，溲少。進平陳加減。</p>
<p>赤豬苓　澤瀉　木香　川樸　陳皮　冬朮　車前　炙草</p>
<p>脾喜燥而惡濕，濕蘊痰滯傷脾，腹中痛瀉，進胃苓湯，痛瀉已止，宜和中調胃。</p>
<p>赤苓　白蔻　陳皮　半夏　炙草　木香　穀芽　神麯</p>
<p>寒濕水氣，交併中州，泄瀉延今月餘，繞臍作痛，腹中氣墮，濕鬱化熱之象。精通之歲，陰未和諧，瀉久傷陰，殊為可慮。每朝進六味地黃丸三錢，午後服十味資生丸三錢，再以補中益氣加香連。是否仍候高明酌正。</p>
<p>補中益氣加木香　川連</p>
<p>清氣在下，則生飧泄，濁氣在上，則生䐜脹，肝脈循於兩脅，脾脈布於胸中，肝實脅脹，脾虛腹滿，木乘土位，食少運遲，營衛不和，寒熱往來，補中益氣，是其法程。更兼以澀固胃關之品，冀效。</p>
<p>洋參　茯苓　冬朮　炙草　川連　升麻　柴胡　歸身　木香　陳皮　山藥　補骨脂　肉豆蔻</p>
<p>淫雨兩旬，時濕暴甚，脾腎受傷。脾屬土，腎屬水，水土相亂，清濁不分，大便瀉，小便少。《經》言穀氣通於脾，雨氣通於腎，濕則泄瀉。擬胃苓加減，通調水道，以澄其源。</p>
<p>枳實　川樸　山楂　陳皮　砂仁　木香　澤瀉　藿香</p>
<p>暴瀉為實，久瀉為虛。曾由飲食失調致瀉，延今不已，瀉色淡黃，完穀不化，火不生土，命門虛寒，脾胃俱虧，化機不振。《經》言腎者，胃之關也，開竅於二陰。擬景岳胃關煎，略為加減。</p>
<p>熟地　山藥　吳萸　炮姜　炙草　冬朮　肉蔻　故紙　五味子</p>
<p>《經》以清氣在下，則生飧泄。數年洞泄，脾胃久傷，清陽不升，濁陰不降，胃關不固，倉廩不藏，乃失守之兆。非其所宜。</p>
<p>洋參　炙耆　冬朮　歸身　肉豆蔻　炙草　升麻　柴胡　故紙　煨木香</p>
<p>少腹痛，寅瀉完穀不化，此真陰不足，丹田不暖，尾閭不固，陰中火虛故也。</p>
<p>熟地　山藥　吳萸　附子　五味　茯苓　楂肉</p>
<p>曾經暴怒傷肝，木乘土位，健運失常，食滯作瀉。過怒則發，已歷多年，病名氣瀉。議補脾之虛，調脾之氣。</p>
<p>冬朮　陳皮　川樸　炙草　木香　藿香　枳殼</p>
<p>過服克伐之劑，中胃受傷，腹中窄狹，便瀉不已，脾虛氣痞於中，化氣不展。擬歸脾六君，以助坤順乾健。</p>
<p>洋參　茯苓　冬朮　炙草　半夏　陳皮　木香　遠志　棗仁</p>
<p>陽氣者，若天與日，失其所則折壽而不彰。故天運當以日光明。人與天地相參，與日月相應。膻中為陽氣之海，生化著於神明，命門為陽氣之根，長養由於中土，故曰君火以明，相火以位。明即位之光，位即明之質。症本相火之虧，不能生土，土虛無以生金。肺司百脈之氣，脾乃生化之本，腎開竅於二陰，相火不振，膻中陰瞑，脾失斡旋，肺失治節，中土困於陰濕，烏能敷布諸經。濕甚則濡泄，注於二陰，是以大便溏薄，小水頻數，虛症蜂起。譬如久雨淋漓，土為水浸，防堤潰決，庶物乖違。益火之本，以消陰翳，離照當空，化生萬物，陰平陽秘，精神乃治。</p>
<p>熟地　洋參　冬朮　鹿角膠　附子　肉豆蔻　補骨脂　白芍　吳萸　小茴香白龍骨　訶子皮　蜜丸</p>
<p>曾經洞泄，又值大產，脾腎雙虧，《經》以腎乃胃之關，清氣在下，則生飧泄。脾虛則清氣不升，腎虛則胃關不固，是以洞泄日增，近復完穀不化。脾主遠化屬土，賴火以生，火虛不能生土，土虛不能運化精微，胃能容納，脾不健運，腎火不足可知。脈來細弱無神，有血枯經閉之慮。治當益火之源，以消陰翳。</p>
<p>熟地　山藥　冬朮　洋參　五味子　肉豆蔻　吳萸　升麻　附子　補骨脂　罌粟殼　石榴皮煎汁泛丸</p>
<p>服固腎溫脾之劑，洞泄已而復作。症本火虧於下，土困於中，不能運化精微，致令升降失司，胃關不固。益火之源，以消陰翳，古之良法。反復者，必有所因。自述多因怒發，怒為肝志，乙癸同源，腎主秘藏，肝主疏泄，怒則傷肝，木能剋土，腎欲固而肝泄之，脾欲健而木克之，是以反復相因，綿延二載，非藥不對症，蓋草木功能，難與性情爭勝。是宜澄心息怒，恬淡無為，輔以藥餌，何憂不已。　</p>
<p>熟地　冬朮　訶子肉　肉豆蔻　罌粟殼　赤石脂　木香　洋參　五味子　附子　乾薑　吳萸　石榴皮煎水泛丸</p>
<p>脾統諸經之血，腎司五內之精。曾經三次血崩，七胎半產，脾腎雙虧。脾與胃脂膜相連，為中土之藏，倉廩之官，容受水穀，有坤順之德，化生氣血，有乾健之功。中土受虧，化機失職，清不能升，濁無由降，乃生嘔吐吞酸，腸鳴飧泄等症。乘腎之虛，戊邪傳癸，遂成腸澼，腎氣不支，澼勢危殆，晝夜無度，五色相兼，嘔噦大汗，絕食神迷。自服熱澀之劑，正合《局方》之理，是以獲愈，未能如故。脾腎雙虧，腎兼水火之司，火虛不能生土，水虛盜氣於金，脾土乃肺金之母，大腸與肺相為表裡，辛金上虛，庚金失攝，土虛不能勝濕，腎虛胃關不固，且南方卑濕，脾土常虧，既失所生，又素不足，土弱金殘，濕勝瀉泄，是以每至夏令，則必泄瀉。《經》所謂長夏善病洞泄寒中是矣。經旨為常人立論，尚且洞泄，而況脾胃久虧者乎。是以瀉後諸症蜂起，自與眾殊。所幸年當少壯，能受峻補，病勢一退，精神如故。然峻補之劑，僅可使愈，未能杜源。近復三月，或五志不和，飲食失宜，泄瀉吞酸，不寐、怔忡、驚悸等症立起，即以峻補之劑，投之立愈，已而復發，反復相仍，於茲四載。今年六月間，因憂勞病發，仍以前法治之而已。第藥入則減，藥過依然，洞泄日加，虛症蜂起，怔忡驚悸，莫能自主，膹響腹脹，竟夜無眠，嘔吐吞酸，時時欲便，非便即瀉，瀉則虛不能支，欲便能忍，忍則數日方解，精神日敗。蓋腎主藏精，開竅於二陰，瀉則陰精不固，所以精不化氣，氣不歸精，相火不振，君火失明，宗氣上浮，心神昏憒，怔忡驚悸。陰陽不交則不寐，土不制水故腸鳴，吞酸乃西金化氣太過，嘔吐是東方犯土有餘。此皆火不歸窟，氣不依精，不然何以卒然頹敗，倏爾神清，使非氣火為病，何能迅速如此。治病必求其本，病本火虧於下，氣不歸精，屢服益火之劑，病勢未能盡卻者，以火能生土，亦能傷金。肺司百脈之氣，氣與火不並立，壯火食氣，熱劑過當，肺金受傷，元氣孤浮無主，以故卒然疲敗，補火固是治本之法，所失在不兼濟肺標之急。今擬晨服三才，養心清金育神，以濟心肺之標。晚服八味，養脾益火生土，以治受病之本。申服歸脾、六君，崇土生金，以杜致病之源。療治標本雖殊，三法同歸一體。冀具腎升肺降，中土暢和，二氣兩協其平，水火同歸一窟，精神化氣，氣降歸精，天地交通，何恙不已。</p>
<p>晨服煎方：熟地　茯神　當歸　柏子仁　棗仁　炙草　麥冬　天冬　洋參　五味子</p>
<p>申服煎方：洋參　炙耆　冬朮　桂圓肉　茯苓　木香　遠志　棗仁　當歸　陳皮　半夏</p>
<p>晚服丸方：附桂八味加杞子　菟絲　鹿膠　杜仲　蜜水丸</p>
<p>《經》謂腎乃胃之關。清氣在下，則生飧泄。宗氣上浮，虛里穴動，胃關不固，泄瀉數年不痊，氣不歸宗，怔忡屢發不已。脈來虛數無神，久延有二陽之病發心脾，傳為風消息賁之慮。服煎劑以來，諸恙減七八，當以丸劑緩圖可也。</p>
<p>熟地　東洋參　茯苓　煨肉果　於朮　澤瀉　升麻　棗仁　煨木香　炙草　車前　遠志　水泛丸。</p>
<p>尊年脾胃素虧，值暑濕余氛未盡，食飲少思，便瀉不禁。腎虛胃關不固，脾虛傳化失常，致令水穀精微之氣，不能上升，反從下降，有降無升，猶四時之有秋冬，而無春夏。擬東垣先生法，和中土，展清陽，行春令。質諸明哲。</p>
<p>人參　冬朮　茯苓　炙草　山藥　橘皮　升麻　柴胡　煨肉果　姜　棗</p>

<h2>腳氣</h2>
<p>女子以肝為先天，肝為血海。經前痛脹，肝木失調，血不和暢。曾因截瘧，邪留肝腎，足脛常腫，逢陰雨煩勞則痛，且發寒熱，腳氣類傷寒已著，甚至濕熱隨氣衝心則厥，沖胃則吐。當治少陰陽明，調氣血以化濕熱。</p>
<p>六味地黃湯去萸肉，加人參　於朮　炙草　獨活　沉香　蜜丸</p>
<p>《經》以陽受風氣，陰受濕氣；傷於風者，上先受之，傷於濕者，下先受之。陰濕襲虛，病起於下，兩足蒸蒸而熱，腫痛至膝，蠕蠕而動，痠軟無力，病名腳氣。本為壅疾，然必少陰血虛，陽明氣餒，濕邪得以乘之，脈來細數無神，有拘攣痿躄之慮。法當除濕通經為主，輔以宣補少陰陽明之品。昔永嘉南渡，人多此疾，濕鬱明矣。</p>
<p>檳榔　蒼朮　獨活　南星　藿香　生地　牛膝　歸身　桂枝　木瓜　防己　乳香　沒藥　橘紅　半夏　通草　為末，水泛丸，如椒子大，每早晚服三錢</p>

<h1>下卷</h1>

<h2>頭痛</h2>
<p>怒損肝陰，木邪化火，下耗腎水，上蒸巔頂。值有妊三月，奇脈亦受其戕，少陰虛，不能引巨陽府氣則巔疼，陽維為病，苦寒熱。擬《醫壘元戎》逍遙散加川芎、香附，以條達肝邪，治其寒熱巔疼之本。</p>
<p>柴胡　白芍　歸身　冬朮　香附　生薑　川芎　雲苓　炙草</p>
<p>頭偏左痛，巔頂浮腫，痛甚流淚，身半頑麻。三陽行首面，厥少會巔頂。此屬虛風上冒，真陰下虧。養肝腎之陰，開巨陽之表。</p>
<p>蒺藜　羌活　川芎　熟地　羚羊　天麻　防風　茯苓　黃菊　澤瀉　丹皮</p>
<p>陽明胃火上炎，頭中震痛如動脈之狀，時作時止，脈洪而數。寒以取之。</p>
<p>熟地　麥冬　石膏　知母　粳米　木通　甘草　澤瀉</p>
<p>素本陽虛，不時巔痛，脈來細數，容色蕭然，陰翳上滯精明之府。法當益火之源。</p>
<p>附子　乾薑　洋參　冬朮　甘草</p>
<p>宿疾陰虧，巔頂時痛，面色戴陽，脈來軟數，浮陽上擾清空。暫以壯水之主。</p>
<p>地黃湯去萸，加桂</p>
<p>脈象沉滑，頭痛如破，痛甚作嘔，胸滿肋脹，濕痰盤踞中州，清氣無由上達清靈之所，名曰痰厥頭痛。主以溫中，佐以風藥取之。</p>
<p>平胃散加蔓荊子　川芎　細辛</p>
<p>頭痛兼眩不寐，肢尖逆冷，心中憒憒如駕風雲。此風痰上擾清靈，有痙厥之慮。擬半夏白朮天麻湯去耆，加川芎。</p>
<p>蔓荊子　川芎　半夏　乾薑　澤瀉　黃柏　穀芽　蒼白朮　天麻　陳皮　洋參　茯苓　神麯</p>
<p>頭為諸陽之會，痛屬上實下虛。上實為陽明有餘，下虛乃少陰不足。擬玉女煎加味。</p>
<p>熟地　石膏　麥冬　知母　牛膝　升麻</p>

<h2>耳聾</h2>
<p>左脈虛弦，右脈滑疾，心、肝、腎之陰不足，中虛濕痰不運，兩耳失聰，如風雨聲，間或蟬鳴。肝虛生風，心陰、腎陰不足，脾虛生濕，腎虛不能納氣。</p>
<p>生地　萸肉　菖蒲　澤瀉　茯苓　山藥　柴胡　苡米　半夏　木通　遠志　故紙　胡桃</p>
<p>心開竅於耳，腎之所司也。耳閉之症，不宜勞神動火，厥、少不和，夾有濕熱生痰。利濕傷陰，清熱耗氣，清心保腎，佐以寧心柔肝，兼化濕痰。</p>
<p>生地　丹皮　山藥　萸肉　茯苓　澤瀉　菖蒲　磁石　黃芩　柴胡　木通</p>
<p>去秋右耳或閉，或作蟬鳴，或如風雨聲。冬月患痔，時痛時癢，水流不止，遂服補中益氣。痔患雖愈，右耳仍閉，晝夜常鳴，二目迎亮處，無限小黑點閃爍不定。右脈滑疾無力，左脈虛弦，氣虛有痰，肝虛生風，脾虛生濕。每日服天王補心丹一錢，以養其氣，午後服資生丸以助坤順。</p>
<p>黑歸脾湯去阿膠</p>
<p>耳腫脹作癢作痛，兼有黏臭黃水，心火肝陽不寧，少陽濕熱為患。先宜小柴胡合導赤散。</p>
<p>生地　木通　炒芩　茯苓　黨參　柴胡　蟬衣　甘草　石斛　荊芥</p>
<p>童年患耳，延今不已，現在耳轟不聰。濕熱阻於氣分，少陽不和。已近精通之歲，心火肝陽不寧。脈來滑數，厥、少不和，防其失聰。</p>
<p>柴胡　木通　黃芩　半夏　茯苓　甘草　萸肉　菖蒲　菊花</p>
<p>壯水則火靜，火靜則痰消，毋拘拘乎化氣，勿汲汲乎清心。年甫十七，厥、少不和，心相不寧，非老年重聽可比。引北方以濟南方，乙癸同源，兼和厥、少，水源生則龍相寧，必得靜養為妙。</p>
<p>知柏地黃加木通　柴胡　橘紅　茯苓　為末，加菊花、麥冬，熬膏和丸。服二料後，加活磁石（醋煅），童便飛為衣</p>
<p>因於濕，首如裹。耳目如蒙，熱蒸濕騰，鼓郁陽明濕痰，少陽不透，致有耳鳴之患。</p>
<p>小柴胡合溫膽加蒺藜　菊花　羚羊</p>
<p>左脈虛數，右脈虛細，先天固屬不足。氣分有濕，阻蔽清竅，升降失常，濕蒸熱騰，少陽不和，清竅不靈，致有耳蔽之患。</p>
<p>逍遙散加生地，三劑後加蠶繭</p>
<p>服逍遙後，右耳作響，響後聽語稍清，左耳如故，前方加菊花。</p>
<p>脈弦右滑，按之大疾，氣分有濕有痰，耳閉不聰，精通之時，清心相以化濕熱，午後服資生丸。</p>
<p>生地黃湯加柴胡　木通　川柏　茯苓　蠶繭</p>
<p>兩耳不聰，氣火交併於上，清心相以和肝腎。風熱平靜，清上實下，是其王道。多酌明哲。</p>
<p>原方加磁石　黃芩　羚羊</p>
<p>《經》以十二經脈，三百六十五絡，其氣血皆上注於目，而走空竅。其彆氣走於耳而為聽，心開竊於耳，腎之所司也。腎為藏水之臟，腎虛則水不能上升，心火無由下降，壯火食氣，二氣不能別走清空。陰液下虧，脈絡乾涸，氣血源流不暢，是以耳內常鳴。素多抑鬱，五志不伸，水虛不能生木，肝燥生脾，土虛不能生金，肺病及腎，二氣不平，五內互克，輾轉沉痼，歲月彌深。壯年固不足慮，恐衰年百病相侵，未必不由乎此，豈僅耳閉而已哉！是以澄心靜養，遣抱舒懷，輔以藥餌，方克有濟。擬《局方》平補鎮心丹加減，以上病下取之意。</p>
<p>熟地　洋參　茯苓　麥冬　菖蒲　棗仁　遠志　龍齒　龜版　元參　山梔　白朮　丹皮　當歸　五味　蜜丸</p>

<h2>目疾</h2>
<p>心開竅於耳，肝開竅於目，賴腎水光明。耳內蟬鳴，睛紅生眵，太陽脹痛，手足無汗。腎虛不能養肝，肝虛生風，腎虛生熱，脾虛生濕。三陰內虧，脈來虛數而空。酒色宜戒，防上盛下虛之脫。自保生命為要。</p>
<p>沙參　蕤仁　芡實　生地　熟地　石決　牡蠣　桑葉　穀精　芝麻</p>
<p>六脈俱沉，按之細數。沉者，郁也，氣也。弦者，肝也。細者，肝陰不足。氣火掩閉神光，左目失明。宜以明目地黃合扶桑法，以保右目。</p>
<p>天陰則日月不明，邪害空竅，陽氣閉塞，地氣冒明。目為五臟六腑之精華所聚，賴腎水以滋養。勞心耗腎，水不養肝，肝虛生風，肝風上擾，以致瞳神縮小，而左目散大，視物不明，服藥雖多，真陰未復。《經》以肝開竅於目，理當養腎滋水，而木自敷榮矣。不可著意耳目，見病治病，明哲以為何如。　</p>
<p>天冬　麥冬　甘草　北沙　兒參　枸杞　菊花　山藥　沙苑　女貞　石斛　茯苓　桑葉　菟絲　生熟地　黑芝麻</p>
<p>右藥用桑柴火熬膏，每朝開水化服三錢</p>
<p>目疾六載，不時舉發，迎風流淚，懼日羞明，交午尤甚，申刻方好。目內紅絲，起自童年，肝開竅於目，腎之所司也。脈來弦數，肝肺伏熱化風，清心涼肝，兼清肺熱。</p>
<p>石決　蕤仁　生地　麥冬　穀精草　冬瓜子　赤芍　車前　黃芩　桑葉　白蒺藜</p>
<p>服藥以來，目疾較平。目乃五臟六腑精華所聚，賴腎水以光明，真氣以煦之，真水以涵之。光華少照，起自童年，風伏肝肺，熱亦內蘊，清心涼肝，兼清肺熱。</p>
<p>生地　羚羊　石決　蕤仁　麥冬　白蒺藜　桑葉　赤芍　黃苓　車前　冬瓜子　芝麻　黑羊肝（用桑葉搗爛，捶糊成丸）</p>
<p>肝開竅於目，為風木之藏，郁久化火，上蒙清竅，以丸代煎，不可再動肝怒。</p>
<p>生地　黃芩　歸身　赤芍　麥冬　蕤仁　夜明砂　木賊　桑葉　決明　蟬衣　穀精　車前　冬瓜子</p>
<p>共研細末，加甘菊、石斛、煎汁泛丸</p>
<p>心火、肝火，擾動陽明之火，眼邊紅爛，食不甘味，清心和肝，兼和陽明。腎虛不能養肝，心肝不寧，目疾之候。目干、舌乾，常時夢泄，目疾時發時愈，目珠作痛，視物模糊。壯水以鎮陽光。</p>
<p>生熟地　車前　穀精草　茯苓　蕤仁　黑芝麻　桑葉　冬瓜仁　石決　川柏</p>
<p>共為末，加石斛　玉竹　麥冬，熬膏為丸。</p>
<p>目雖肝竅，《經》以五臟六腑之精氣，皆上注於目，而為之精。精之窠為眼，骨之精為瞳子，筋之精為黑眼，血之精為絡，氣之精為白眼，肌肉之精為約束。曾經目赤，因循未愈，近乃白精赤縷參差，浮紅成片，時多淚出，內眥凝眵，而瞳子黑精無恙。此腎水下虧，不能涵木，木燥生火，火甚生風，風火相搏，肺金受制。白睛屬肺，肺熱故白睛發赤，時多淚出，譬如熱極生風乃能雨，熱耗津液故多眵。脈來軟數，而且有赤脈貫瞳之慮。治宜壯水生木，升陽散火，不可泛服去風滌熱之劑。《經》有上病下取之旨，擬明目養肝丸加減。</p>
<p>熟地　當歸　麥冬　黃菊　桑葉　杞子　石決　洋參　柴胡　黃柏　牛膝　羊肝</p>
<p>上藥共研細末，以羊肝一具，煮爛、打和蜜丸，如梧子大。每朝、晚服三錢</p>
<p>肝有風熱，翳膜遮睛，曾經紅腫，失於調治，致令水不濟火，木燥生風，風火相搏，髓液潛消，《經》以諸髓皆屬於腦。髓熱則脂下流為翳。宜先清髓退翳為主。</p>
<p>當歸　蒺藜　甘草　山梔　青葙子　草決明　柴胡　菊花　蟬衣　羚羊　蔓荊子　川芎　蜜丸</p>
<p>水虧於下，火升於上，水不制火，陰不勝陽。緣少年嗜欲太過，水失所養，不能生木，木燥生風，風火交併於上，陰液消耗於下，致令瞳睛暗淡，瞳子無光，色兼藍碧，此為內障。《經》以五臟六腑之精氣，皆交受於脾，上明於目。脾為諸經之長，目為血脈之宗。腎為先天之源，脾為後天之本。脾土之強健，賴腎水之充盈，腎水虛，脾亦虛。脾虛，則臟腑之精，皆失所司，不能歸明於目。肝虛，則血不歸原。腎虛，則水不濟火，是故暗淡無光。治宜壯水濟火，補陰潛陽，冀其水升火降。</p>
<p>熟地　蓯蓉　白朮　山藥　萸肉　當歸　杞子　五味　天冬　麥冬　洋參　丹皮　甘草　龜版　茯苓　橘紅　菟絲子　柏子仁　熬膏</p>
<p>服膏以來，脾腎尚未充足，精光頗有聚斂之機。黑睛外一條藍圍，如月暈之狀，夫月之有暈，乃太陰之精不振，而陰霾之氣蔽之。陰霾矇蔽，月為之暈，陰精尚在，無精則無暈矣。神光黑水蘊於中，光射四維於外，雖失明無睹，為根本尚未頹殘，猶可治也。舌者，心之官也。服補陰潛陽之劑，舌反乾燥者，乃腎水枯涸之徵，不能上濟心火。心為君火，腎為相火，君火以明，相火以位，君火上搖，相火下應。腎欲靜而心不安，心欲清而火不息，腎水何由而升，心火何由而降，殊為可慮。是宜休心靜養，恬淡無為，假以歲月，助以藥餌，方能有濟。</p>
<p>熟地　山藥　萸肉　洋參　天麥冬　五味　石斛　當歸　杞子　冬朮　菟絲　覆盆子　龜版　蓯蓉　黃精　熬膏　早、晚開水和服</p>
<p>思為脾志，心主藏神。曲運神機，心脾受困。脾為諸經之長，心為君主之官。心君端拱無為，相火代君行事。相火內熾，陰液潛消，無以上奉清空，黑水神光暗淡。伐下者必枯其上，滋苗者必灌其根。治宜壯水之主，兼補心脾，冀其天地交通，水火既濟。</p>
<p>熟地　牛膝　萸肉　茯苓　棗仁　冬朮　當歸　山藥　菟絲</p>
<p>《經》以五臟六腑之精氣，上注於目。目系屬心，目屬脾，白珠屬肺，黑珠屬肝，瞳子屬腎。症本腎水不足，肝木失榮，木燥生風，上擾心宮。腎乃肝之母，心乃肝之子，母子並違，精華難聚。心火上擾則神外馳，腎水下虧則志不定，肝木枯燥則血少藏。是以目失澄明，神光不斂，名曰內障。故曰：目者，心之使也，神所寓焉，肝之外候也，精彩營焉。治宜壯水生木，固腎清心，子母相資，方能有濟。</p>
<p>熟地　洋參　黃精　覆盆子　當歸　麥冬　五味　萸肉　山藥　菟絲　石斛　水泛丸</p>
<p>服壯水潛陽之品，瞳人昏暗反增，白珠亦赤。素本經營過渡，腎水潛消，曲運神機，心陽內熾，心腎不交，水火不濟。壯水之主，以鎮陽光，上病下取，《內經》之旨。不能奏捷者，未伐木火之盛也。肝為東方實臟，主目，屬木，生火，況五志過極，俱從火化，火灼金傷。白珠屬肺，肺耗水虧，瞳人昏暗。水虧為虛，火盛為實。前方直補金水之不足，未瀉木火之有餘，前哲有十補一清之例，用藥如用兵，任醫猶任將，兵貴圓通，藥宜瞑眩。疾病加身，譬如寇兵臨境，全戰全守，未免執泥，偏攻偏補，均非實際。十補一清，可寓養精蓄銳，突然一戰，足以振兵威，補養日久，暫以一清，未必大傷元氣，務得攻補之宜，方能奏捷。擬薛立齋龍膽瀉肝腸。</p>
<p>生地　龍膽草　黃芩　山梔　當歸　柴胡　車前子　澤瀉　木通　甘草</p>
<p>白珠屬肺，黑珠屬肝，瞳人屬腎，目窠屬脾，目外屬心。精滑四載有餘，腎水陰陽交損，不能上注於目，卒然瞳子背明，腎室精空。尾閭穴痛，形神頹敗，食入多眠。服藥以來，飲食稍加，精神漸振，遺泄漸稀，能間二三日，目中如電，神光不斂可知。黑白分明，瞳人之中，並無煙障之氣、混蒙之色，非內障可比。仍以固精填腎，斂陰化液之品，為丸徐治。第少壯年華，服藥寡效，非其所宜。</p>
<p>洋參　首烏　羚羊角　紫河車、牡蠣　五味子　芡實　冬朮　菟絲子　煅磁石　丹砂</p>
<p>上藥為末，以大生地、天麥冬、歸身熬膏。再入金櫻子膏，和藥末為丸，如桐子大</p>
<p>《經》以五臟六腑之精氣，皆上注於目，不獨專主乎肺氣也。水之精為志，火之精為神，目者，神之使也。視物不甚分明，脈體虛弦無力，素多帶下，奇經有虧，水火不濟，神光不斂，宜純補真陰。</p>
<p>熟地　山藥　黃精　芡實　牡蠣　當歸　棗仁　龜版　菟絲　茯苓　枸杞　為丸</p>
<p>目為心使，故用五瀉心；血瘀生胬肉，故用逐瘀之劑；肝膽龍雷震盪，故用金匱腎氣。三法加減，共卅余劑，胬肉已消，龍雷已散，唯視物不明，淚熱生眵，乃腦脂下流，肝風衝上。先擬謙甫還睛散，待秋令木落，再以黃連羊肝丸調之可也。</p>
<p>龍膽草　草決明　黃菊　石決　川芎　川椒　茯苓　楮實子　木賊草　蒺藜　芥炭　茺蔚　炙草　水泛丸</p>

<h2>鼻淵</h2>
<p>腦為髓海，鼻為肺竅，腦滲為涕，膽移熱於腦，則辛頞鼻淵。每交秋令，鼻流腥涕，不聞香臭，肺有伏風，延今七載，難於奏捷。</p>
<p>孩兒參　蒼耳子　辛夷　杏仁　菊花　白蒺藜　地骨皮　黃芩　桑皮　甘草</p>
<p>《經》以膽移熱於腦，則辛頞鼻淵。膽為甲木，腦力髓海，鼻為肺竅。素本酒體，肥甘過度，或為外感所乘，甲木之火，由寒抑鬱，致生濕熱，上熏於頂，津液溶溢而下，腥涕常流，為鼻淵之候，有似比之天暑，濕蒸熱乃能雨，此之類也。源源不竭，髓海空虛，氣隨津去，轉熱為寒，亦猶雨後炎威自卻，匝地清陰，而陽虛眩暈等症，所由生也。早宜調治，久則液道不能扃固，甚難為力也。</p>
<p>蒼耳子　辛夷　薄荷　川芎　白芷　蒺藜　防風根　甘草</p>

<h2>口齒音聲</h2>
<p>齒痛上引太陽，因眩暈、左肢麻痹而起。金水二臟素虧，眩暈乃肝邪所致，金虛不能平木，水虛不能制火，故肝陽內擾，陰水不升，肝位居左，氣虛則麻。兼以酒體肥甘過度，濕熱蓄於腸胃，上壅於經，故見手陽明、足陽明、手太陰、足少陰四經之症。夫齒痛，屬陽明之有餘，眩暈、麻痹、屬太、少之不足。按《靈樞·經脈篇》：手陽明之脈，其支者從缺盆上頸貫頰，入下齒中；足陽明之脈，下循鼻外，入上齒中，齒痛之由本此。第久延歲月，病勢已深，調治非易。爰以清胃、玉女煎加鹿銜草，從陽明有餘，少陰不足論治。</p>
<p>熟地　丹皮　澤瀉　當歸　升麻　生石膏　川連　知母　麥冬　牛膝　鹿銜草</p>
<p>《經》以齒乃骨之所終。手足陽明之脈，上循於齒。天癸主於衝脈，沖為血海，並足陽明經而行。陰虛無以配陽，水虛不能濟火，是以經事先期，不時齒痛。當從陽明有餘，少陰不足論治。</p>
<p>熟地　丹皮　澤瀉　知母　牛膝　佩蘭</p>
<p>《經》以南方赤色，入通於心，開竅於耳，外候於舌。七情不適，傷乎心也。盛怒不解，傷於腎也。腎虛不能濟火，心火上熾，舌為之糜。法宜壯水之主，加以介類潛陽之品。</p>
<p>熟地黃湯去萸肉，加鱉甲　龜版　五味</p>
<p>二氣素虛，五志過極，心火暴甚，腎水虛衰，水不制火，舌為之黑。治宜壯水之主，以制陽光。</p>
<p>知柏八味去萸肉</p>
<p>形豐脈軟，外實內虛。舌為心苗，黑為腎色，舌邊帶黑，乃腎色見於心部，非其所宜。腎司五內之精，脾統諸經之血。脾腎強健，則精血各守其鄉，腎色上僭，脾腎必虛。心屬火，腎屬水，腎水不能上升，心火無由下降，火炎物焦，理應如是。治病求本，滋苗灌根，培補其陽，徐徐調治。</p>
<p>熟地黃湯去丹皮，加旱蓮　女貞　牛膝　蜜丸</p>
<p>腎水不足，心火有餘。舌為心苗，火性炎上，水不濟火，舌為之糜。脈來軟數無神，緣五志乖逆所致。上病下取，滋苗灌根，法當壯水之主，以制陽光。</p>
<p>熟地黃湯去萸肉，加牛膝　龜版　地骨　麥冬　水泛丸</p>
<p>腎水不足，肝木失榮，木燥生火，火盛生風，風火相併，上冒清空，聲啞舌強，視聽不聰，脈來軟數無力。治宜益氣壯水，冀其水火既濟，天地交通。</p>
<p>熟地黃湯去茯苓，加廣皮　甘草　半夏　冬朮</p>
<p>音聲本於臟氣，氣盛則聲揚，氣虛則聲啞。腎為音聲之根，肺為音聲之本，舌乃發聲之機，唇為聲音之戶。腎主藏精，精化為氣，脈司氣化，氣主發音。證因誦讀太過，損於臟氣。河間云：五志過極，俱從火化，火盛刑金，金溶不鳴。舌為心苗，腎為水臟，火性炎上，火旺水虧，傷其本而失其機，是以聲啞語難，脈來滑數而空。爰以鐵笛丸加減。</p>
<p>熟地　天麥冬　五味　貝母　桑皮　桔梗　炙草　薄荷　訶子肉　紫菀　連翹　為末，以竹瀝和水泛丸</p>
<p>誦讀勞心，心火刑金，金溶不鳴，聲嘶語難。當以壯水清金，行其清肅之令。</p>
<p>熟地　沙參　元參　丹參　麥冬　五味　茯苓　當歸　遠志　柏子仁　棗仁</p>

<h2>咽喉</h2>
<p>肺氣鬱而音不開，會厭作梗，喉痛食難，肺胃乾槁，陰不上承。舌苔乾白，心境不暢，鬱結化火，老年所忌。</p>
<p>蘇子　杏仁　桔梗　牛蒡　孩兒參　茯苓　橘餅　淡乾菜　雞子清</p>
<p>恙源前方已著。喉疼會厭作干，湯水不下，藥難為力。</p>
<p>前方去蘇子　杏仁　雞子清　橘餅　加豬膚　桃肉　膩粉團</p>
<p>陰損於陽，液化為痰，精不化氣，氣不生陰，金水交傷，脈來細數，臟陰津液俱耗。無陽則陰不生，無陰則陽不化。陰耗陽竭，飲食入於陰，長氣於陽，喉疼音啞，咳嗽痰多，腎水不升，肺陰不降，陽氣不斂，陰氣不收，生氣傷殘。</p>
<p>陳米團　豬膚　黨參　熟地　甘草　陳皮　桔梗　天花粉　象貝母</p>
<p>三年前蒂丁下垂，愈後喉痛不能食鹽，不耐煩勞，脈來虛數，心、肝、腎三陰皆虧。厥陰循咽，少陰澆喉，濕熱痰火，鬱而不達。擬清上實下，久防喉痛。</p>
<p>孩兒參　南沙參　北沙參　生地　白芍　茯苓　桔梗　蘇梗　大力子　甘草</p>
<p>小產多次，喉腫潰爛不疼，蒂丁爛去半邊，醫治未痊。去歲小產後，咳嗽纏綿，耳底疼痛，行生白顆，食入作噫。厥陰循咽，少陰繞喉，火毒內郁，金水兩傷。</p>
<p>孩兒參　綠豆花　野菊花　桔梗　川貝　丹皮　黑豆皮　水中金（即童便）</p>
<p>咳嗽大減，唯覺痰多，蒂丁之爛，不能完固，火毒內郁，行經腹痛，氣血不調，慮難奏捷，以膏代煎，徐徐調治。</p>
<p>孩兒參　生地　甘草　桔梗　川柏　玉竹　歸身　黑豆皮　白芍　綠豆皮　野菊花根　上藥熬膏，少加芝麻油膠。每早開水服五錢。</p>

<h2>中風</h2>
<p>風濕夾痰，擾犯陽明之絡，外風鼓動內風，口開左歪，左腮無力，語言蹇澀，謹防類中。</p>
<p>秦艽　獨活　鉤鉤　茯苓　橘紅　殭蠶　甘草　蒺藜</p>
<p>頃接恙源，敬稔老太太服童便藕汁，血止四日，近日痰多，不易吐出，肋痛如故，氣壅脹閉。今午後醒來，語言蹇澀，口角流涎、目睛癡呆，咳嗽喉痛。此肝陽化風，痰火上擾，氣不升降，似有類中之象。老人無可暫停，以二陳湯加減。</p>
<p>半夏　橘紅　茯苓　甘草　麥冬　竹茹</p>
<p>邪風鼓動肝風，擾動陽明，口歪眼喎，視聽不明，言語不清，食入流涎，眼喎流淚，小便黃赤，內火招風，陰不化陽，類中風也。</p>
<p>羚羊角　鉤鉤　蒺藜　甘菊　薄荷　半夏　橘紅　茯苓</p>
<p>邪風鼓動肝熱，服和肝化痰之劑，諸證漸退，以丸代煎，徐徐調治。</p>
<p>原方加於術　神麯　防風　桑葉　芝麻　紅糖為丸</p>
<p>經行腹痛之後，兩脅少腹作脹，口開左歪，肝脾郁濕，化熱生風，擾犯陽明</p>
<p>胡麻　秦艽　蒺藜　殭蠶　羚羊　橘紅　半夏　茯苓　鉤鉤　獨活　當歸　甘草</p>
<p>服藥四劑，口歪未正，陽明未和，風濕未化，心中懊憹，難以名狀。防類中風。</p>
<p>前方去秦艽、獨活，加玉竹　芝麻</p>
<p>類中於右，三陽發病，神煩言蹇，肢搐口歪，氣衝呃逆。外風勾動內風，濕痰上攻清竅，脈來大小不均。年近古稀，風燭堪慮。</p>
<p>鉤鉤　橘紅　茯苓　遠志　竹瀝　枳實　白芍　甘草</p>
<p>勢雖平寧，神識暝昧。議加洋參、當歸、薑汁。</p>
<p>頃接吳甥持來嚴兄之信：等人親家，於十四日晚，因濯足致右手右腿不能伸舒，小便甚多，舌強言蹇。右手足雖屬三陽，腎不養肝，虛風上冒，母令子虛，王五所用之方尚妥。余見字即欲來圩看視，奈因十二日夜，偶然肝氣痛，失血數口，精神不振，稍遲數日，當買棹渡江診視，再造丸斷不可服。今擬一方，囑其安心靜養，自有神明庇佑。克昌王五諸門生，稟筆請安。</p>
<p>蒺藜　秦艽　鉤鉤　歸身　茯神　半夏　橘紅　甘草</p>
<p>神識稍清，諸恙稍減。唯舌中紅燥，陰分大虧，議加洋參、麥冬。</p>
<p>類中四朝，偏枯於右，服藥以來，神清語正，諸恙減退，尤當靜養，不致痰火上升為吉。議宗前法加減，候酌。</p>
<p>法半夏　薄橘紅　茯神　甘草　歸身　白芍　西洋參　麥冬　白蒺藜　秦艽　鉤鉤</p>
<p>昨煩心過度，夜又錯語，痰火上冒，速宜靜養。原方加遠志、薑汁、竹瀝。</p>
<p>類中偏枯，已延六朝，神情寐安，言尚蹇澀，舌苔尚膩，腑氣未通，濕痰未化，寧神靜養。</p>
<p>半夏　橘紅　遠志　茯神　當歸　夜交藤　洋參　麥冬　炙草　蒺藜　秦艽　竹茹</p>
<p>右手稍能舉動，自屬效機。原方議加通暢陽明。加生穀芽三錢。</p>
<p>類中於右七朝，扶正化痰，通調氣分，神識雖清，舌竅未靈，仍有錯語，舌黃未化，大便未行，腑氣未通，陽明未暢，濕熱痰滯，隨心火肝陽上升，年近七旬，二氣已衰，膩補從緩。</p>
<p>洋參　橘紅　半夏　遠志　麥冬　茯神　蒺藜　秦艽　竹茹　枳實　穀芽　甘草</p>
<p>恙勢雖退，惟大便未行，佐以潤之。前方加生首烏、黑芝麻、向日嫩桑頭。</p>
<p>類中偏枯，行經十二日，扶正育陰，息肝風，化痰火，雖臻效機。舌苔漸消，大便未行，腑氣未通。穀雨節令，前三後四，尤當靜養，議以原方加減。　</p>
<p>洋參　石斛　麥冬　梨汁　甘草　當歸　茯苓神　半夏　橘紅　遠志　蒺藜　枳實　穀芽　炒竹茹</p>
<p>服藥之後，寐安神寧。原方加柏子仁、夜交藤、生地</p>
<p>類中十六朝。滋肝息風，清火化痰，雖日有效機，神識尚未清明，手肢動甚，大便未通，腑氣未和，臟氣未協。原方加減。</p>
<p>當歸　蒺藜　茯神　丹參　洋參　半夏　橘紅　遠志　生地　天麥冬　竹茹　枳實　生熟穀芽</p>
<p>類中念五日，壯水滋肝，息風化痰清火，佐以益氣潤腸，更衣已行數次。腑氣漸通，臟陰漸和，手足漸動，精神漸起。立夏節令在邇，不致變更乃吉。</p>
<p>半夏　橘紅　遠志　茯神　當歸　杞子　生地　麥冬　甘草　桑枝</p>
<p>年逾六旬，二氣就衰，陰陽並損，將息失宜，心火暴甚，四肢麻木，牙緊口強，時許方定，愈後復發。心腎兩虧，肝虛生風，已成類中。養心脾，和肝胃。黑歸脾去阿膠，加花粉蒺藜、雞子清。</p>
<p>曲運神機，勞傷乎心，心勞腎耗，水不涵木，肝陽內擾，奔走風塵，有勞無逸，內風化火，火動痰升，上衝多汗，精神昏憒，恍惚不寧，語言錯亂，類中之象。今口角歪斜，精神清爽，脈象弦滑，惟宜靜養為妙。</p>
<p>西洋參　麥冬　鮮生地　煅牡蠣　朱茯神　柏子仁　鉤藤　姜半夏　城頭菊　薄橘紅</p>
<p>心脈系舌本，脾脈絡舌本，少陰循喉嚨，挾舌本。心脾郁濕，生風生痰，舌破流涎，類中風也。</p>
<p>鉤鉤　蒺藜　防風　殭蠶　麥冬　半夏　橘紅　竹茹　茯苓</p>
<p>復診加枳實、羚羊。</p>
<p>卒然暈倒，手足厥逆，六脈皆伏，而氣口猶是。此因飲食填塞胸中，胃氣不行，陰陽阻隔，升降不通，類中風而非真中風也。先宜鹽湯探吐，再服煎方。</p>
<p>白茅朮　厚朴　製半夏　藿梗　蔻仁　廣皮　生薑　神麯　炙草</p>
<p>右半偏枯，已延二月，邇時雖可言語，吐字音未能清爽，手足未能運動，脈象左部細弦，右部氣口脈虛濡，關部沉滑。《經》謂三陽之病發於右，右屬痰與氣虛。肝腎之陰亦損，而絡中痰濕未能盡淨，當從氣血兩培，兼化痰利節之法。　</p>
<p>生地　當歸　黨參　懷山藥　料豆　法半夏　獨活　遠志　紅棗　川斷　甜瓜子　寄生　柏子仁</p>
<p>一水以濟五火，腎是也。腎水不足，不能養肝火，風陽鼓動，心火隨之，以致心胸不安，頭眩肢麻，膚腠刺痛，腹肋氣喘作脹。脈來左部弦數，右部兼滑，風陽不降，夾有濕痰，延防類中。當滋水柔肝，兼養心脾，以化痰濕。</p>
<p>蛤粉炒生地　北沙參　當歸　茯神　夜合花　沙苑　蒺藜　牡蠣　柏子仁　澤瀉　廣皮　金橘餅</p>

<h2>眩暈</h2>
<p>水虧於下，火炎於上，壯火食氣，上虛則眩，頭眩足軟，如立舟中，咽乾口燥，夢泄頻頻。少陰腎脈上循喉，有夢而泄主於心。精不化氣，水不上承，明驗也。清上實下，是其大法。腎水虧，必盜氣於金，金衰不能平木，水虛不能涵木，木燥生火，煎熬津液變痰。丹溪所謂無痰不作眩是也。脈來軟數兼弦，值春令陽升，防其痙厥。乙癸同源，法宜壯水。地黃湯加半夏、沙苑。</p>
<p>《經》以上氣不足，腦為之不滿，耳為之苦鳴，頭為之旋，目為之眩。素本脾腎不足，抑鬱不宜，氣鬱化火，土鬱生痰，上擾精明之府，顛眩如駕風雲，卒然憒亂，倏爾神清，非類中之比。脈來軟數無神，原當壯水之主，上病下取，滋苗灌根。第痰伏中州，清氣無由上達，下氣無以上承。姑擬治痰為主，以半夏白朮天麻丸加減。</p>
<p>半夏　冬朮　天麻　南星　橘紅　洋參　當歸　川芎　柴胡　升麻　五倍子</p>
<p>共為末，用竹瀝三兩，薑汁和水為丸耳其　上實則頭痛，下虛則頭眩，邪氣盛則實，精氣奪則虛。諸風掉眩，皆屬於肝，頭痛顛疾，下虛上實。河間云：風主動故也。風氣甚，則頭目旋轉，風木旺，必是金衰。金衰不能平木，木復生火，風火皆屬陽，陽主乎動，兩陽相搏，則頭為之眩，故火本動也。火焰得風則自然旋轉。上實為太陽有餘，下虛乃少陰不足。少陰虛，不能引巨陽之氣則顛痛，腎精虛，不能充盈髓海則顛眩。潤血息風，肅金平木，固是良謀。然上病下取，滋苗灌根，又當補腎。</p>
<p>熟地黃　鹿膠　枸杞子　炙龜版　牡蠣　懷山藥　當歸　山萸肉　菟絲子</p>
<p>血虛肝風上擾，頭眩肢酸，腰脊時痛，當歸養榮加味。</p>
<p>四物加蒺藜　丹參　柏子仁　杜仲　桑枝　香附　炙草　芝麻　大棗</p>
<p>脈弦細，按之稍滑，營衛兩虧，痰氣結中，中脘板悶，噯氣不舒，內熱食少，有時肢抽肉瞤，所謂血虛肝風擾絡，延久須防暈厥。擬進化痰鎮逆法。</p>
<p>代赭石　橘絡　蘇梗　香附　茯苓　棗　金沸草　蒺藜　黨參　沉香　當歸　藕</p>

<h2>肝風</h2>
<p>暴怒傷肝，肝之變動為熱。右手掉搖，膻中隱痛，客冬進補中益氣而愈，現又舉發。擬補陰益氣煎治之。</p>
<p>人參　當歸　山藥（酒炒）　熟地　陳皮　甘草　升麻　柴胡</p>
<p>進補陰益氣煎，掉搖已止，膻中隱痛亦平。諸風掉眩，皆屬於肝，戰慄搖動，火之象也。良由水不涵木，肝火化風，壯水濟火，乙癸同源主治。</p>
<p>六味加銀柴胡　白芍　陳皮　蜜水疊丸，早服三錢</p>
<p>月之初日，頸痛氣促，自服疏散無效，更增心悸，手臂掉搖。肝之變動為熱，心之動為悸，腎之動為慄，氣卻動肝，腎不養肝，肝火上僭，戰慄之病生焉。</p>
<p>太子參　於朮　茯苓　炙草　熟地　當歸　酸棗仁　遠志為丸</p>

<h2>肝鬱</h2>
<p>憂思鬱怒，最損肝脾，木性條達，不揚則抑，土德敦厚，不運則壅，二氣無能流貫諸徑，營衛循環道阻。肝乃腎之子，子傷則盜母氣以自養，致令水虧於下，水不濟火，灼陰耗血，筋失榮養，累累然結於項側之右。脈來細數無神，潰久膿清不斂，法當壯水生木，益氣養營。仍需恬淡無為，以舒神志，方克有濟。</p>
<p>生地　洋參　當歸　川芎　香附　貝母　冬朮　桔梗　黃耆　元參　海藻　長流水、桑柴火熬膏</p>
<p>木性條達，不揚則抑。土德敦厚，不運則壅。憂思抑鬱，不解則傷神。肝病必傳脾，精虛由神怯，情志乖違，氣血交錯。夫心藏神，脾藏意，二經俱病，五內交虧。心為君主之官，脾乃後天之本，精涸神怯而無依，是以神擾意亂，不知所從，動作云為，倏然非昔。宜甘溫之品培之。</p>
<p>熟地　黨參　當歸　白朮　枸杞　菟絲　遠志　棗仁　炙草</p>
<p>肝鬱中傷，氣血失於條暢，月事愆期，肢節酸楚，氣墜少腹，脹痛不舒，兼有帶下。臍左右筋，按之牽痛，如動氣之狀，按摩漸舒。先宜調中和氣。</p>
<p>異功散加香附　砂仁　當歸　赤芍</p>
<p>病原已載前方，進異功散加味，調氣和中，諸症漸減，既獲效機，依方進步為丸緩治。</p>
<p>當歸　白芍　太子參　香附　茯苓　於朮　陳皮　炙草　沉香　木香　姜　棗　煎汁泛丸</p>

<h2>情志</h2>
<p>心為一身之主宰，所藏者神。曲運神機，勞傷乎心，心神過用，暗吸腎陰，木失敷榮，肝膽自怯，神不安舍，舍空則痰居之，心悸多疑，情志不適，腹中澎湃如潮，嚏則稍爽，心病波及肝膽，天王補心丹、酸棗仁湯，皆是法程。擬阿膠雞子黃湯加味。然否清政。</p>
<p>阿膠　姜夏　桔紅　枳實　雞子黃　竹茹　茯苓　炙草</p>
<p>憂思抑鬱，最損心脾。神不安舍，驚悸多疑少寐，肢戰食減，容色蕭然，脈見雙弦，殊為可慮。</p>
<p>歸脾湯去耆加熟地</p>
<p>情懷屈抑不伸，肝木橫乘脾胃，脾肺兩傷，脾為生痰之源，肺為貯痰之器，脾虛不能運化水穀之精微，津液凝結成痰，上注於肺，喉為肺系，是以痰塞喉間，咯不能上，咽不能下，胸次不舒，飲食減少。痰隨氣以流行，痰自脾經入肺，經過胞絡，神形外馳，莫能自主，悲不能止，涕泣沾襟，非癲狂可比。脈來弦數無神，有三陽結病之慮。法當寧中州為主。</p>
<p>六君子湯加當歸　廣木香　淮小麥　南棗</p>
<p>婦人無故悲淚，肺臟燥則肝系急也。淮麥大棗湯。</p>
<p>淮小麥　大棗</p>

<h2>癲狂</h2>
<p>肝志為怒，暴怒傷陰，怒動肝火，木反侮金，清肅不行，氣不下降。氣有餘，便是火。火鬱痰生，上擾心胞之絡，言語不禁，呢喃不止，氣高不寐，噯噫不舒。先擬瀉心湯。　</p>
<p>川連　姜夏　枳實　山梔　龍膽草　橘紅　黃芩　竹茹　茯神　甘草</p>
<p>語出於腎，機發於心，語言不經，機變不靈，精神不振，心腎交虧，七情傷於驚恐。早服天王補心丹。</p>
<p>生地　麥冬　沙苑　遠志　茯神　玄武版　菖蒲　龍齒憂思抑鬱，最傷心脾。心為君主之官，神明出焉，脾為諫議之官，智意出焉。二經受病，五內乖違，腎水下虧，不能上濟，火盛灼金，肺金虧虛，不能平木，木復生火，二火交併，清肅不行，同氣相求，必歸於心。東垣以火盛必乘土位，煎熬津液成痰，痰隨炎上之性，蔽障神明，心神外馳，莫能自主，故心煩意亂，不知所從，動作行為，倏然非昔。前議鎮木清金，瀉南補北，諸症悉退，脈亦調平。第火起於妄，變幻不定，宜濟補真陰，濟君相而行肺金清肅之令。清痰之本，調和智意，不容上擾心君，更益以鎮重之品，定其氣血，各守其鄉，庶免來復之患。擬《惠民和劑局方》歸神丹加味主之。　</p>
<p>烏犀尖　川連　龍膽草　南星　川芎　玄武版　天竺黃　麥冬　知母　姜半夏　黃芩　羚羊角　龍齒　琥珀　蘆薈　青黛　菖蒲　磁石　歸身　天冬　金箔　蜂房</p>
<p>共研末，將鐵落用長流水煎汁，入竹瀝薑汁。另以全蠍十個，煎汁，和入疊丸。每早服三錢</p>
<p>七情不適，氣失沖和，舉動不經，言語錯亂。自服景岳服蠻煎不效，非癲可知。木性條達，不揚則抑，肝主謀慮，膽主決斷，謀決不遂，屈無所伸，莫能自主，故動作行為，異乎平昔，病名陽厥。擬清鎮法主之。</p>
<p>熟地　歸身　茯神　蔞仁　姜夏　南星　川連　青黛　龍齒　硃砂　薑汁　竹瀝　鐵落煎湯代水。服四劑後，以十劑為末。生鐵落煎水，入竹瀝薑汁泛丸。</p>
<p>思為脾志，肝主謀慮。曲運神思，謀慮不遂，思則氣結，謀深木屈，木鬱生火，土鬱生痰。痰火擾亂神魂，故動作不經，語言無次，陰不勝陽，脈來搏疾。法當尋火尋痰，加以清鎮之品。每朝服牛黃丸一錢。</p>
<p>川連　製半夏　蔞仁　歸身　龍齒　南星　竹瀝　龍膽草　枯芩　青黛　鐵落　薑汁</p>
<p>思則氣結，憂則氣耗，悲哀動中，形神錯亂，肝膽自怯，心腎不交，多寤寡寐，神不安舍，舍空則痰火居之。多飲膏梁伏酒，興而後寐，膽虛不寐，陽蹻脈空，心神不斂，肝陽不寧，有狂亂之患。</p>
<p>生地　川連　阿膠　半夏　秫米　枳實　竹茹　孩兒參　雞子清</p>
<p>情懷抑鬱，氣動於中，五志過極，皆從火化，心膽自怯。驚則氣亂，傷於心也；恐則氣下，傷於腎也。肝風痰火上擾，神志不藏，風火相煽，陽明內實，致有狂亂之患。清心化痰。解鬱疏肝。</p>
<p>羚羊角　枳實　竹茹　半夏　川連　條芩　乾薑　孩兒參　茯苓　鉤藤　青果汁。</p>
<p>暴怒傷陰，暴喜傷陽。包絡者，臣使之官，喜樂出焉。肝為風木之臟，虛則生風，鬱則化火。腎為少陰之水，水不養肝，心腎不交，神不安舍，痰火居之。心、肝、腎三陰內虧，加之鬱結，化火生痰，上擾心包，陽明內實，虛風、虛火、虛痰，難免狂亂逾垣之患。風痰之藥，遍嘗寡效，肝為剛藏，濟之以柔，亦法程也。</p>
<p>十味溫膽湯用生地　孩兒參，加天麥冬　羚羊　夜交藤　青果汁　童便</p>
<p>肝不藏魂，肺不藏魄，神不歸舍。風火痰擾亂不寧，癲狂咬牙，日夜無寐，身強有力，有逾垣上屋之勢。陽明內實，難以奏效。</p>
<p>犀角　羚羊　茯苓　麥冬　生熟地　黃芩　川連　赤芍　丹皮　枳實　半夏　橘紅　天冬　遠志　黃柏　玄參　竹茹　青果汁</p>
<p>《經》以重陽為狂，重陰為癲。胎產之後，惡露不行。因於臥，卒敗血上衝，擾亂心胞，瘀凝作脹，人事不省，如醉如瘋。鼓動肝風，多笑多語，心神不安。胞絡者，臣使之官，喜樂出焉。化郁是理。脈來沉，沉者郁也。氣血不得和暢，氣化風火，敗血隨之，癲狂見矣。仍宜化瘀。</p>
<p>歸身　桃仁　杏仁　丹參　鬱金　石決　赤芍　童便</p>
<p>言發於心，語發於腎。水火氣偏，神志不藏，肝風痰火，擾亂心胞，思想無窮，所願不得，鬱結化火生痰。壯水之主，以鎮陽光，亦是一法。現在午火司權，少陰用事，擬清心寧肝一法。是否候酌。</p>
<p>溫膽瀉心用孩兒參　加青果汁</p>
<p>瘧後失調，加之氣懊鬱結，酒客中虛，鬱結生痰，心腎不交，腎虛不能養肝，肝虛生風，風痰上擾清空，神志如迷，神情恍惚。息怒安神戒酒為妙。</p>
<p>半夏　橘紅　竹茹　枳實　茯苓　黃芩　孩兒參　羚羊角　遠志　棗仁</p>
<p>心火肝火上亢，神不安舍，舍空痰火居之。月事不調，而有帶症，頭常作痛，遍身骨節俱疼，近來肌膚作癢，兩目呆瞪，項頸氣脹，牙縫出血，右鼻作腥，語言錯亂，脈來滑數，肝風痰火不寧，擾亂心胞為患。</p>
<p>川連　雞子清　半夏　橘紅　竹茹　生地　鉤藤　阿膠　羚羊角　白蒺藜</p>

<h2>癇厥</h2>
<p>水虧於下，木失敷榮，土為木侮，中樞少運，致令水穀精微，不歸正化，凝結成痰，蔽障中土，絡脈為之間斷。人之氣血流貫，如環無端。痰伏於中，則周流氣血失其常度，是以卒然仆地，神魂如醉，痰涎上溢，四肢瘛瘲，良久方醒，間斷來發，病名曰癇。補正則伏痰愈結，攻痰則正氣益虛，偏補偏攻，均非所宜，症本虛中之實，法當補瀉兼施。擬《集驗》安神丸加減。</p>
<p>紫河車　東洋參　石菖蒲　熟地　茯神　當歸身　製半夏　麥冬　炙草　廣皮　檀香　密水為丸。</p>
<p>癇症有五，其原不離臟虛痰阻，其治不越補瀉兼施。面色戴陽，腎虛可知。前《集驗》安神丸加減，病發漸稀，原方加真降香、制南星。</p>
<p>卒然跌僕，流涎時醒者，號曰癲癇。忽然寒熱，熱甚昏冒者，名為屍厥。脈來弦大，心火肝陽上升化風，夾痰上達心胞，症延二載有餘，積勞、積鬱、積痰為患，治之甚難。</p>
<p>茯神　天竺黃　鉤藤　蒺藜　羚羊　麥冬　半夏　橘紅　殭蠶　青果</p>
<p>《經》以諸風掉眩，皆屬於肝，戰慄震動，火之象也。身戰、口噤、背張，至夏則發，逾時而已。脈來軟數，水不濟火，血熱化風，病名曰風痙。法宜養肝息風，壯水制火。</p>
<p>大生地　白芍　歸身　沙參　麥冬　五味　煅磁石　黃柏　龜版　蜜水疊丸</p>
<p>厥陰繞咽，少陰循喉嚨，挾舌本，手足陽明之脈，入上下齒中。咽疼舌短，卒然口噤背張，手足掉搖，氣從少腹沖逆於上，陰虧水不涵木，沖虛血不榮筋，中虛濕痰生熱，血燥化風，風擾陽明，龍雷上僭，所服之方甚妥。擬歸芍異功加減，從厥陰、陽明主治。</p>
<p>歸芍異功散去白朮，加黃柏　知母　白芷　冬瓜皮</p>
<p>瘛瘲已緩，入夜虛煩，口乾作渴，心悸如人將捕之之狀。腹中似脹，時有氣升，舌難伸，項背強，牙關緊，六日不更衣，脈虛弦而數，濕痰化熱，血燥生風，風擾陽明，九竅不和，都從胃治。原方加減。</p>
<p>前方加郁李仁</p>

<h2>驚悸</h2>
<p>驚則氣亂傷心，恐則氣怯傷腎，傷則二氣致偏，偏久致損，損不能復，病勢益甚。現在氣不生陰，陰不化氣，木乘春旺，中土受損，水精不布，揆度失常，面色如妝，玉山已倒，生機殘矣。今擬一方候酌。</p>
<p>熟地　人參　淮藥　歸身　茯神　棗仁　遠志　廣皮　牡蠣</p>
<p>心血不足，肝火有餘，火伏營中，肝陰不靜，致多驚恐。《經》以東方色青，入通於肝。其病發驚駭是矣。</p>
<p>生地　川連　丹砂　甘草</p>
<p>大驚卒恐，心神腎志交傷。腎藏精，恐則精怯，精化氣，怯則精無以化。心藏神，驚則神亂，化生精，亂則精無以生。是以心神震動，惶惶惕惕，莫能自主。陽統於陰，精本乎氣，上不安者，必由於下，心氣虛者，必因於精。證以精氣互根之宜，廠君相所資之道。法當峻補心腎，仍須盡釋疑懷，使氣歸精，精化氣，則神志安定，病自已矣。</p>
<p>熟地　洋參　上耆　冬朮　歸身　雲苓　棗仁　遠志　炙草</p>
<p>心脾氣血素虛，因驚恐致傷神志，胸中震動不安，時多恐畏，甚則心煩意亂，不知所從。《經》曰：胃之大絡，名曰虛里，出於左乳之下，其動應衣，宗氣泄也。心臟神，腎藏志，腎虛心脾失養，神不安舍，宗氣無根，心腎乖離，危症也。</p>
<p>熟地　洋參　冬朮　歸身　棗仁　遠志　九節菖　淮藥　磁石　飛丹砂　炙草</p>
<p>心怯神傷，兼有痰火，恐懼不安。</p>
<p>東洋參　茯神　冬朮　麥冬　九節菖　遠志　磁石　丹砂</p>
<p>肝有風熱，脾蘊濕痰，痰熱上乘胸膈，致生驚恐。</p>
<p>溫膽湯加白石英　丹砂　金釵　一股　煮水煎服</p>
<p>火盛水虧，煩熱消渴，胸中震動，畏恐不安，法宜壯水。</p>
<p>生地黃湯</p>
<p>胃弱脾虛，濕痰中蘊，上迷心竅，驚悸不安。</p>
<p>溫膽湯加冬朮　制南星　沉香　飛丹砂</p>
<p>因驚恐而致病者，主於肝膽；因病而致驚恐者，屬乎心腎。心為君主之官，端拱無為，相火代君行事，相火藏於兩腎之間。《經》言七節之旁，中有小心，即其處也。腎為作強之官，伎巧出焉，蓋人之動作行為，皆賴腎中之火，此火一衰，則情志昏憒，形神頹殘，而風痹痿厥等症，所由來也。今臍下卒然震動，驚惕莫能自主，旋竟上攻，兩臂痿厥不收，逾時而已。脈數無力，面色戴陽，症勢頗類無根之火。蓋非相火衰微，乃憂思抑鬱，致火不宣揚，不能生土，且南方卑濕，脾土常虧。既失所生，又素不足，脾濕鬱而生痰，流注諸經，變幻不一。左關屬腎，腎火不安，腎志為恐，而蔽障於痰則悸，譬如水滴火中，炎焰勃然而起，故氣自臍下而上升於兩臂，正合七節之旁之旨。兩臂亦中土太陰、陽明之部，橫走於肝則木不安，肝主謀慮，膽附於肝，膽主決斷，為痰所擾則怯。諸恙雖見於目前，而致病之原已萌於曩昔。人年至半百而衰，必少壯有恃強之弊，非一朝一夕之故，其所由來者漸矣。公議補肝腎，運中樞，以杜痰源；省思慮，益精神，以舒志意，方克有濟。張景岳云：此為不慎其初，所以致病於後，今病已及身，而又不知慎，則末有能善其後者矣。此言最切，故幸留意焉。</p>
<p>六味合六君加沉香　蜜丸</p>

<h2>怔忡</h2>
<p>《經》以喜怒傷氣，寒暑傷形，衝脈起於腎下，出於氣街，挾臍上行，至胸而散。衝脈動，則諸脈皆動。少腹屬厥陰，厥陰肝也。氣從少腹蠕動，逆衝於上。心慌意亂，虛里穴跳如躍梭。腎不養肝，氣失攝納，皆根蒂之虧。寡欲固是良謀，更宜恬淡虛無為妙，否則盡恃草木功能，一曝十寒，亦無益也。</p>
<p>六味地黃丸加牡蠣　沙苑子</p>
<p>年甫廿三，脈來軟數，二天不振，心腎交虧，瘰癧雖痊，二氣傷而未復，虛里穴動，中虛作嘔。先養心脾，兼滋肝腎。</p>
<p>熟地　茯苓　棗仁　遠志　冬朮　歸身　木香　炙草　洋參</p>
<p>陰虧於下，宗氣上浮，氣不歸原，撼於胸臆，虛里穴動，病名怔忡。擬《醫統》養心湯。</p>
<p>洋參　麥冬　五味　熟地　棗仁　茯神　柏子仁　炙草</p>
<p>腎虛精不化氣，肺虛氣不歸精，宗氣上浮，動於臍左，殆越人、仲景所謂動氣之類耳。</p>
<p>六味地黃丸湯加歸身</p>
<p>真陰不足，五液下虧，陰不斂陽，宗氣上僭，虛里振動，頭眩汗出，氣為汗衰，陽蒸陰分，議進當歸六黃法。待血熱清平，再議補陰可也。</p>
<p>當歸六黃湯加洋參　赤苓</p>
<p>真陰不足，心腎不交，宗氣上浮，虛里穴動，心煩意亂，莫能自主，脈數無神，當培其下。</p>
<p>六味地黃丸加五味</p>
<p>脈體漸平，症勢漸減，水火漸有相濟之機。第久恙陰虧陽亢，心腎不交，宜服養心之劑。</p>
<p>熟地　洋參　歸身　麥冬　五味　遠志　棗仁　丹參　茯苓　炙草　柏子仁</p>
<p>五液下虧，二火上熾，水不濟火，陰不配陽。緣昔過服克伐之劑，腎陰受傷，致見怔忡驚悸等症，自服養心之劑，雖獲機效，然治上者必求其下，滋苗者必灌其本。心為致病之標，腎為致病之本，不必治心，當專補腎。</p>
<p>熟地　淮藥　洋參　五味　菟絲子　枸杞子　蓯蓉　玄武版　鹿角膠　蜜水疊丸。</p>
<p>腎水下虧，心火上熾，水火不濟，神志不安，宗氣上浮，虛里穴動。前進都氣丸，壯腎水以制陽光；繼服養心法，抑心陽以清君熱，怔忡較減。然治上者，必求其本，滋苗者，必灌其根，仍主壯水之主。</p>
<p>都氣丸加龍齒　紫石英</p>
<p>心為君火之鄉，腎為藏水之臟，火性炎上，水體潤下，水欲上升，火欲下降，水虛無以上升，心火何由下降，水火不濟，心腎不交，是以心煩意亂，不知所從，宗氣上浮，虛里穴動。脈來軟數無神，有驚悸健忘之慮。法宜壯水潛陽為主。</p>
<p>洋參　歸身　五味　菟絲　懷藥　茯苓　杞子　萸肉</p>
<p>上為末，另以大生地、麥冬、冬朮、長流水熬膏。熔入龜膠、鹿膠，和末為丸，如桐子大，早晚服</p>
<p>木鬱不伸，剋制中土，傳化失常，津液凝漬成痰，內擾肝膽心胞之絡，致有怔仲之患。甚則驚悸，莫能自主。服培養心脾，條達肝木之劑，諸恙雖平，未能如故。今遠涉江漢，志意多違，飲食起居，異於故土，防微杜漸，恐有來復之慮。安不忘危，必以寡欲澄心為主，土能培木，水能生木，必得水土平調，方無抑鬱動擾之患。擬歸脾二陳加減。</p>
<p>熟地　洋參　冬朮　茯神　棗仁　遠志　歸身　女貞　旱蓮　姜夏　炙草　蜜水為丸</p>

<h2>不寐</h2>
<p>真陰下虧，虛陽上越，水不濟火，心腎乖違，五志過極，俱從火化。火愈熾，水愈虧。水不涵木，曲直作酸，陰不斂陽，竟夜無寐，甚至心煩慮亂，莫能自主，心氣必困於精，脈來弦數而軟。授以三才、六味，加以介類潛陽之品，專培五內之陰，冀其精化氣、氣歸精，陰平陽秘，精神乃治。</p>
<p>熟地黃湯加洋參　黃精　龜版　炙鱉甲　煅牡蠣　天麥冬　蜜水疊丸</p>
<p>心腎兩虛，自汗不寐，服藥雖效，未能杜源。汗為心液，外出三陽，腎水不升，心火不降，心腎多疑多慮。法當補坎補離，冀其水火既濟。</p>
<p>六味加棗仁　阿膠　雞子黃</p>
<p>脈來動數，按之則弦。默默不知喜怒，時多疑慮，幻生驚恐，心膽自怯，怯則氣亂，傷乎心也，恐則精怯，傷乎腎也。心為君主之官，膽司中正之職，附於肝之短葉下，膽汁不滿，膽冷無眠。所服之方，理路甚是，仍清一手調治，暫與十味溫膽湯。</p>
<p>十味溫膽湯</p>
<p>衛氣晝行於陽，夜行於陰，行陽則寤，行陰則寐。泄瀉後寤而不寐，嘔吐痰涎，陰傷胃不和也。擬《靈樞》半夏秫米湯。</p>
<p>製半夏　北秫米</p>
<p>精血素虧，龍雷振動，心神不安，竟夜無寐。</p>
<p>硃砂安神丸（夜服）　半夏秫米湯</p>
<p>心腎素虧，七情不節，驟加驚恐，二氣潛消。驚則神傷，恐則精怯，神因精怯以無依，精因腎傷而不化，是以神搖於上，精陷於下，陰陽不交，竟夜不寐。</p>
<p>生地黃　冬朮　洋參　歸身　棗仁　遠志　炙草　半夏　黃粟米</p>
<p>金不平木，木復生水，火性炎上，上擾心君，心煩意亂，不知所從，竟夕無眠，悔怒數起，虛里動穴，食減神疲。前進壯水濟火，補陰潛陽，諸恙漸退，依方進步，為丸緩治。</p>
<p>鬱氣丸去萸肉，加麥冬　沙參　龜版　為丸</p>
<p>憂思抑鬱，最損心脾。心主藏神，脾司志意。二經俱病，五內乖違。心為君主之官，脾乃後天之本，精因神怯以內陷，神因精怯而無依。以故神擾意亂，竟夕無寐，無故多思，怔忡驚悸。</p>
<p>洋參　歸身　赤苓　炙草　棗仁　遠志　黃耆　白朮　廣皮</p>
<p>思慮耗傷精血，痰火擾動神魂，夜臥不安，倏寐倏醒，怔忡驚悸，莫能自主。法當專培精血，不可尋火尋痰，未識高明，以為然否。</p>
<p>洋參　黃耆　茯苓　歸身　茯神　遠志　棗仁　炙草　湘蓮肉</p>
<p>服秘傳酸棗仁湯，竟得酣寐，連霄達旦。前議專補精血，不尋痰火，已合病機。第病兩月之久，陰已虧耗，以致驚悸、怔忡等，未能悉退，宜加補三陰之品。</p>
<p>洋參　冬朮　熟地　枸玄　萸肉　黃耆　歸身　淮藥　遠志　棗仁　炙草　茯苓神</p>
<p>心火妄動，心血耗傷，口渴咽乾，虛煩不寐，由思慮焦勞所致。</p>
<p>熟地　洋參　天麥冬　五味　玄參　丹參　桔梗　歸身　柏子　遠志　茯神</p>
<p>痰火擾亂，心神不寐。</p>
<p>溫膽湯加黃芩　薑汁</p>
<p>腎水不足，陰不上承，心陽上亢，竟夕無寐。</p>
<p>六味地黃湯加半夏　秫米</p>
<p>大產後氣血交虧，心脾並損，素多痰火，乘虛內擾心神，不安不寐。</p>
<p>溫膽湯加東洋參　熟地　棗仁　遠志　丹砂　粟米</p>
<p>夏季坐褥，秋月病熱，半年來不寐，大便不行，痰飲阻氣也。議寧肺以通大腸。</p>
<p>紫菀　杏仁　枳實　桔梗　川鬱金　薑汁</p>
<p>思為脾志，心主藏神。神思過用，心脾受困。心君無為，相火代君司職。相火不靜，腎水潛消，水不濟火，心陽獨亢。脾之與胃，以膜相連。胃者衛之源，脾乃營之本。胃氣旋於營，脾氣還於胃。脾傷則不能力胃行其津液，營氣不謐，則胃氣獨行其外，行於陽不得入於陰，陰虛故目不瞑。擬七福歸脾，從乎中治。</p>
<p>七福飲合歸脾湯</p>
<p>不寐之因共十六條，從無間日輕重，互為起伏之事。惟少陽受病，半表半裡，乃間日舉發。然少陽尚在陽分，未入太陰，縱或受病，不能久踞。今綿延數載。未能霍然。蓋因肝經積有肥氣，與少陽互相勾結，少陽為三陽之終，厥陰為三陰之盡。甲乙同宮，又得少腹極陰之所，為藏身之地，而根蒂深矣。《經》曰：凡內傷者，時作時止。言正勝邪伏而暫止，邪勝則復作而劇也。陽明不和，時作呃逆，太陰不運，中脘氣憊，皆被肝膽之所累，非脾胃之本病，若非拔本塞源，則時作時止，安有已時。惟受病已深，其勢實足以勝正氣而抗藥力，非可旦夕奏功。擬煎丸並投，寓盪滌於調養之中。俾無形之氣，自前陰而出；有形之濁，自後陰而出。然後再為調攝，庶可安痊。鄙見如斯，敢質明眼。</p>
<p>生熟地　潼白蒺藜　川連　龍齒骨　黑綠豆衣　赤白芍　生熟苡仁　桂心　天麥冬　川釵石斛　赤白苓　生熟甘草　鮮百合　河井水煎</p>
<p>高年氣血兩虧，平素思慮過度，耗損心脾，以致寤不成寐，連投歸脾湯三劑，不效。偶遇名醫張見，談及此症，曰：若要成功，原方須加酒炒黃連一份。繼與一劑，果效。</p>
<p>膽經濕邪護心，以致寐而長笑，面紅。治以四妙。</p>
<p>桂枝　薄荷　鉤鉤　薑棗</p>
<p>不寐怔忡之症，得於思慮驚恐。夫驚氣傷膽，恐氣傷腎。五志不伸，必生痰聚飲，聚飲氣阻，則膽氣不潔。膽寒肝熱，熱升於胃，則心胸懊憹，得湯飲稍安，不湧吐清涎。適閱前方，均調養心脾之法，未獲效者，俱未論及膽胃二經，況悸在胃脘心下，脈來兩關弦強搏指，豈非明證。書云：水停心下則悸。又曰：胃不和則臥不安。正合經旨。擬苓朮半夏湯，和其陰陽。兼用豬膽汁為足少陽之先導，諒該有益。</p>
<p>豬膽汁炒半夏　茯苓　陳皮　甘草　秫米</p>
<p>三劑已愈大半，原方加丹參　竹茹　枳殼</p>
<p>又四劑，症已大減，覺遍體有痰流動，摩捺則從口溢出。原方加瓦楞子去豬膽。</p>
<p>暴怒傷陰，心境不暢。肝失條達。兩脅痛如刀刺，胸悶噯氣，口內作甜，夜不成寐，七情鬱結化火，老年殊屬不宜。</p>
<p>遠志　延胡　柏子　炒川連　冬瓜子　桂圓　棗仁　茯神　石斛　益智仁　川楝子</p>

<h2>虛損</h2>
<p>八年前曾經失血。《經》云：陽外泄則自汗，陰內泄則遺精。自汗陽虛，盜汗陰弱。加之受室後復又失血，手足心燒，神疲無力，夜來頻頻盜汗，飲食日少，形神日羸，表裡陰陽兩傷，虧損已極，殊難奏效。</p>
<p>八仙長壽丸加龍骨　牡蠣　浮小麥</p>
<p>食少嘔酸，夜間仍咳，盜汗仍來，陽氣未斂，陰陽兩虛。養心脾以固脫。</p>
<p>六君子加孩兒參　龍骨　牡蠣　茯神　浮小麥</p>
<p>服藥三劑，諸恙平平，脈來形色未起，殊非佳兆。現感風寒，暫以二陳湯加減。</p>
<p>蘇梗　杏仁　陳皮　半夏　桔梗　款冬花　孩兒參　糯稻根　浮小麥</p>
<p>水虧火旺，陰不斂陽，陽升莫制，雲霧不下，則枯槁不榮，亢龍有晦，悔子之熱也。亢則害，承乃制。擬三才法。</p>
<p>孩兒參　北沙參　玄參　天麥冬　生熟地　童便</p>
<p>脈來細澀，臟陰營液俱耗。腎虛則胃關不健，腎不吸胃，食入即吐，小便紅赤，夜不能寐，心神不交，酒色傷陰耗氣，防其渙散。多酌明哲。</p>
<p>黨參　熟地　附子　歸身　炮姜　甘草　茯神　秫米</p>
<p>包絡者，臣使之官，喜樂出焉。三焦無狀，空有其名，胸中膈拒。三焦為決瀆之官，水道出焉。心為主宰，膽為中正。心動神馳，意握萬物，勞心耗腎，水耗於下，龍雷不藏，坎離不濟，雲霧不下，白露不降，土中無水，亢龍有晦，必得水以濟之。少陽相火司天，厥陰風木在泉，於朮、龍齒暫停。清神中之火，調氣分之陽。</p>
<p>六味去茯苓，加茯神　孩兒參　沙參　料豆　淡菜　燕根（即燕窩別名），糖楂　穀芽　女貞　旱蓮　麥冬　福橘　藕熬汁為丸</p>
<p>左脈澀，右脈弦滑。肝腎兩虧，腎虛則胃關不健，脾積則飲食作酸，胃不沖和，運納失常。脈犯五行之克，少年更屬不宜，延四月有餘，正氣腎氣皆耗，虛不受補，症屬棘手。補陰益氣煎加沉香三分。服四劑，吞酸已減，脈象稍清，盜汗仍多，原方加神麯。以保固真元，誠有益耳。</p>
<p>菟絲　熟地　杜仲　黨參　山藥　歸身　神麯　沉香　橘紅</p>

<h2>汗症</h2>
<p>《經》以陽之汗，猶天地之雨。汗為心液，液泄陰虧，肝失滋榮，木乘土位，化機不足斡旋水穀之精微，是以飲食少思，寐來盜汗。在內為血，發外為汗，汗出太多，血液潛消，久延有經閉血枯之慮。法宜益氣養榮為主。</p>
<p>熟地　洋參　冬朮　茯苓　牡蠣　女貞　歸身　白芍　炙草　蜜丸</p>
<p>《經》以陽之汗，以天地之雨名之。汗即血也。素昔經來甚湧，近乃汗出不收，面色戴陽，虛里穴動，脈象軟數無神。症屬陰虧，水不濟火，陰不斂陽，腠理疏開，心液外泄。前進壯水潛陽之劑，雖獲效機，第汗血同歸一體，使無崩漏之慮，宜加固血之品。</p>
<p>生熟地　天麥冬　玄武版　洋參　玄參　五味　歸身　白芍　丹參　棗仁　烏梅　側柏　蓮房　長流水熬膏</p>

<h2>經脈</h2>
<p>《經》以女子二七天癸至，任脈通，太衝脈盛，月事以時下。又二陽之病發心脾，有不得隱曲，女子不月，其傳為風消，為息賁者危。經閉年餘，飲食日少，形體日羸，脈來弦勁，乃郁損心脾，木乘土位所致。心為生血之源，肝為藏血之臟，脾為統血之經。心境不暢，肝不條達，脾失斡旋，氣阻血滯，痞滿生焉。五志不和，俱從火化，火爍真陰，血海漸涸，故月事不以時下，必至血枯經閉而後已。將治心乎？有形之血難培。苟治脾乎？守補中州易鈍。抑治肝乎？條達滋柔均皆不受。當以斡運中樞為主，使脾胃漸開，將逍遙養肝鬱，再以歸芍地補陰養血，調和衝任，冀其經通為吉。</p>
<p>人參　茯神　棗仁　遠志　於朮　歸身　廣皮　木香　桂圓　阿膠</p>
<p>左脈弦出寸口，志意隱曲不伸，郁損心陰，陰虛血少，血不養脾，脾傷不能為胃行其津液，胃病不能容受水穀而化精微，精血日以益衰，脈絡為之枯澀，經閉半載有餘，腹中虛脹作痛，容色憔憔，飲食減少。《經》言：二陽之病發心脾，有不得隱曲，女子不月是也。其傳為風消，再傳為息賁，則不治。</p>
<p>四君子湯加歸身　遠志　棗仁　木香　阿膠　澤瀉　柏子仁　桂圓</p>
<p>曾經服藥五劑，病勢似有退機，因循怠治，停藥月餘，遂致䐃肉漸消，喘鳴肩息。症本隱情曲意，郁損心脾，病傳於胃，所謂二陽之病發心脾是也。心為生血之源，胃為水穀之海，脾為生化之本。海竭源枯，化機衰憊，血枯經閉，氣鬱化火，火疾風生，消灼脫肉，故削瘦如暴風之馳速。金傷火灼，氣無依附，故喘息如流水之奔逝。犯經旨風消息賁之忌，雖倉扁復生，無如之何！勉擬一方，以副遠涉就醫之望。</p>
<p>生地　洋參　麥冬　澤瀉　柏子仁　歸身　茯苓　阿膠</p>
<p>腹中素有血癥，大如覆杯，脈絡阻礙，經血循環，失其常度。經不及期，經前作痛，氣鬱傷肝，木乘土位，飲食減少，悲哀傷肺，治節不行，胸次不暢，腰如束帶，帶脈亦傷，年逾三旬，尚未妊子，必得經候平調，方能孕育。</p>
<p>八珍湯加陳皮　木香　棗仁　遠志　艾葉</p>
<p>動則為瘕，瘕者假也，氣也。不動為癥，癥者徵也，血也。血踞於中，經血因循道阻，月不及期，期前作痛。素多抑鬱悲傷，生生之氣不振，年逾三旬未能有妊。調肝脾以暢奇經，宣抑鬱以舒神志。久延非宜。</p>
<p>異功散加歸身　砂仁　肉桂　棗仁　遠志　姜　棗　煎　水泛丸</p>
<p>經乃水穀之精氣，和調於五臟，灑陳於六腑，源源而來，生化於心，統攝於脾，藏受於肝，宣布於肺，施泄於腎，上為乳汁，下為月水。經閉五載有餘，飲食起居如故，無骨蒸、痰嗽等症，乃任脈經隧滯塞，非血枯可比。手指腫脹色紫，不時鼻衄，經血錯行可知。營氣不從，逆於肉裡，遍身瘡瘍，脈來滑數而長，有癰疽腫滿之慮。擬子和玉燭散行之，冀其經通為吉。病勢深遠，藥性暴悍，多酌明哲，再服可也。</p>
<p>生地　當歸　赤芍　川芎　生軍　玄明粉　炙草</p>
<p>經以應月，月以三十日而一盈，經以三旬而一至，象月滿則虧也。虧極則病，陰虧則火盛，火盛則逼血妄行。《經》以陰虧陽搏謂之崩是也。服藥以來，崩漏雖止，巔頂猶疼，腹中䐜脹。厥陰之脈，上出於額，與督脈會於巔頂，下絡少腹，水不涵木，陰不斂陽，巔疼腹脹，脈軟數無神。仍以壯水潛陽為主，冀其氣血各守其鄉，方無來復之慮。　</p>
<p>生地　洋參　麥冬　五味　當歸　白芍　藘茹（即茜草）　烏賊骨　生牡蠣　玉竹　棗仁　蜜水為丸</p>
<p>氣不外衛則寒，血失中營則熱，經無約束則愆期，二氣素虛，奇經復梗，督行一身之陽，任行一身之陰，任督猶天之子午，衝脈從中直上，合地之云升。法當靜補真陰，以充八脈。</p>
<p>洋參　熟地　黃魚鰾　萸肉　五味　山藥　麥冬　當歸　牡蠣　白蓮花　長流水、桑柴火熬膏</p>
<p>脈來滑數，無神而空，似有胎而不果，腹無堅硬之處，非停瘀可比。素本月事不調，晡熱巔疼，時作時止，陰虧血少，病在肝脾，木不條達，土運鬱抑。崇土培木，宣補中州，觀其動靜。</p>
<p>於朮　砂仁　陳皮　茯苓　香附　歸身　川芎　黃芩</p>
<p>經候愆期，胸腹相引而痛，痛時手足厥冷，過食生冷、寒凍即發，腹中雷鳴，脈來沉細，顯是命火中傷，不足以煦和五內而敷四未。皆由產後氣血雙虧，虛寒為崇。治宜益水之源，以消陰翳。</p>
<p>附桂八味加歸身　川芎</p>
<p>坤道重在調經，經調方可受孕。經本失期，少腹脹痛，不時嘔噦，脈象雙弦無力，少腹主於肝，肝病善痛；肝傳脾，脾病善脹；脾及胃，胃病善嘔，飲食不甘。肝、脾、胃並病，有妨孕育。</p>
<p>八珍湯去白芍，加木香　艾絨　益母花煎水泛丸</p>
<p>經閉半載，肝鬱氣滯，氣滯血凝，血結成癥，下離天樞寸許，正當衝脈之道，是以跳躍如梭，攻痛如咬，按有頭足，疑生血鱉。肝乘土位食減，木擊金鳴為咳。中虛營衛不和，寒熱往來如瘧，從日午至寅初，汗出而退。脾傷血不化赤，白帶淋漓，脈象空弦，虛勞已著。第情志鬱結之病，必得心境開舒，服藥方克有濟。</p>
<p>四物湯加五靈脂　生蒲黃　茜草根　牛膝</p>
<p>昨暮進藥，三更腹痛，四更經行，淡紅而少，五更紫黑而多，少腹脹墜而痛，停瘀未盡。前方加青皮、延胡索。</p>
<p>年逾四旬，產育過多，氣血雙虧，形豐脈軟，飲食不甘，精神慵倦，夜來少寐，清晨坐起必嘔，胃有留飲，經失期色紫，腹右有癥，由氣鬱傷肝，怒哀動中所致，有血崩之慮。先以解鬱舒肝，以暢心脾主治。</p>
<p>洋參　於朮　歸身　白芍　柴胡　香附　木香　遠志　棗仁　茯苓　炙草　佩蘭</p>

<h2>崩帶</h2>
<p>帶下赤白如漏厄。脈虛弦，舌絳中有紅巢，大便堅結難解，小腹左角作痛，遍體關節痠痛，咳嗽震動，按摩其痛不止，甚至呼吸往來俱覺牽引痛處，此皆血液脂膏耗損，不能榮養一身，經隧滯澀，絡脈乖分，二氣無能流貫連絡交經之處。前哲謂久漏久崩，非堵塞可止，升提可愈。法當協和二氣，調護雙維，宣補中寓以收澀之意。</p>
<p>生地　洋參　阿膠　海螵蛸　鮑魚肉　白薇　金櫻子　橘紅　杜仲</p>
<p>宣補之中，寓以收澀之法，取通以濟塞之意。蓋帶下日久，液道虛滑，卒然堵塞，陡障狂瀾，其勢必潰。故以宣通之品，為之嚮導，同氣相求也。服後帶下較減，痛楚漸舒，大便仍結，舌心無苔，一條紅滑，乃真陰虧損之徵也。脈來弦數無神。原方加減。</p>
<p>生地　洋參　杜仲　海螵蛸　川斷　阿膠　黃芡　白薇　鮑魚肉</p>
<p>連進通以濟塞，帶下十減二三，小腹關節痠痛俱緩，大便燥結未潤，弦數之脈未靜，舌心紅滑如故。症本血液脂膏耗損，復延奇經，任行身前，督行身後，衝脈從中直上，帶脈環周一身，如束帶然，陰維陽維，陰陽相維，陰蹻陽蹻，陰陽相交，八脈俱虧，百骸俱損，豈銖兩之丸散，所能窺其藩牖乎。爰以一通一塞，大封大固之品，共煎濃汁，如膏如飴，每以二兩，開水和服，下咽之後，入胃輸脾，融化營衛，濡枯澤槁，則欣欣向榮，營氣充滿一身，庶乎二氣協和，奇經復振。</p>
<p>生熟地　洋參　砂仁　杜仲　川斷　阿膠　龜版　鱉甲　白薇　黃柏　鮑魚肉　海桑螵蛸　黃魚螵　長流水、桑柴　火熬膏，再入膠熔化為膏。</p>
<p>《經》以陰虛陽搏謂之崩。血得熱則宣流，氣與火不兩立，壯火食氣，氣無以帥，血不歸經，致令經水妄行，遂成崩症。防其汗脫，先取化源。</p>
<p>熟地　冬朮　洋參　炙草　烏賊骨　藘茹　三七　血餘炭</p>
<p>脾腎兩虧，濕熱下注，陰虛發熱，腰痛帶下，年逾五旬，真陰久衰。宜培補脾腎，補益真陰，佐利濕熱，以冀緩效。</p>
<p>熟地　黃芡　歸身　澤瀉　萆薢　茯苓　苡仁　杜仲　石斛　扁豆</p>
<p>帶下不止，所有皆淡黃色，腹痛筋如抽掣，此精血內枯，脂液盡涸，衝任交病，非肝木乘脾也。從奇經八脈主治。</p>
<p>紫石英（醋煅）　桂心　龜版　歸身　菟絲　小茴香　杜仲　杞子　蓯蓉</p>
<p>經漏成帶，醫療無功，乃沖、任、督、帶交病，所與歸脾等劑，未嘗齒及奇經。議通陽補陰，從奇經八脈主治。</p>
<p>鹿角霜　紫石英（醋煅）　阿膠　牡蠣　杜仲　杞子　柏子霜　桑螵蛸　蒲黃　龜版　建蓮</p>
<p>崩漏日久，《經》云：暴崩當溫澀，久漏宜宣通。因久則血去陰虛，而生內熱，必有瘀滯停積。若用耆朮保守，歸艾辛溫，守則氣壅，辛則陽動，失其旨矣。</p>
<p>烏賊骨　茜草　生地　阿膠（蛤粉炒）　白芍　水泛丸。每朝服三錢，先飲淡鮑魚肉一小杯為引導。</p>
<p>奇經之脈，隸於肝腎。衝任不足，血復虛寒，經來色淡且少，帶下腰痛，骨節痠痛，當乙癸同源主治。</p>
<p>當歸　白芍（桂枝炒）　川芎　生地炭　杜仲　寄生　黃芡　香附　茯苓　烏賊骨　秦艽　棗</p>

<h2>宜男</h2>
<p>天地氤氳，萬物化醇，男女媾精，萬物化生，故受胎必得醇正之氣。肝木乃東方生髮之本，性喜條達，怒惡抑鬱，則生髮之氣不振，臟腑皆失沖和。況坤道偏陰，陰性偏執，每不可解，皆緣木不條達，素來沉默寡言，脈象虛弦無力，肝木鬱結可知。擬逍遙、歸脾、八珍加減，冀其肝木暢和，方有蘭徵之慶。</p>
<p>烏賊骨　鯉魚子　生地　洋參　冬朮　歸身　白芍　棗仁　木香　川芎　遠志　炙草　茯苓　柴胡　紫河車　蜜丸</p>
<p>陰不維陽，陽不維陰，衛失外護，營不中守。寒熱往來七載，經候不能應月盈虧，是以未能孕育。肝木乃東方生髮之本，鬱則失其化育之機。法當條暢肝脾，以充營衛；補陰益氣，以護兩維。期其二氣兩協其平，方有蘭徵之慶。</p>
<p>生地　當歸　川芎　洋參　山藥　甘草　柴胡　青蒿　佩蘭　丹參　杜仲　烏賊骨　升麻　蜜丸</p>

<h2>胎產</h2>
<p>服壯水潛陽之劑，胎元竟過離宮，半載以來，陰平陽秘，脈象和調。曾經受孕，即覺體倦神疲，由漸而甚，至產育後方平。現在形神拘倦，甚於疇昔，皆緣火甚陰虧，仍以壯水潛陽為主。</p>
<p>大生地　歸身　冬朮　黃芩　棗仁　杜仲　黃柏　益母草　龜膠　長流水、桑柴火熬膏</p>
<p>胎元本於氣血，盛則胎旺，虛則胎怯。氣主生胎，血主成胎，氣血平調則胎固，氣血偏盛則胎墜。曾經半產五次，俱在三月之間。三月手心主胞絡司胎，心主一名膻中，為陽氣之海。陽氣者，若天與日，離照當空，化生萬物，故生化著於神明，長養由於陽土，君火以明，相火以位，天非此火，不能生長萬物，人非此火，不能生長胎元，人與天地同參，日月相應，天一生理也。但此火平則為恩，亢則為害。胎三月則墜，正屬離火暴甚，陰液耗虛，木失滋營，勢必憔悴，譬如久旱，赤日憑空，泉源乾涸，林木枯槁，安能不墜。脈來滑數無神，證見咽乾舌絳。法當壯水之主，以制陽光。</p>
<p>生地　冬朮　黃芩　龜版　甘草　歸身　白芍　川斷　杜仲　元參　知母　沙參　熬膏</p>
<p>素本陰虛火盛，近則有妊三月有奇。三月手厥陰胞絡離火司胎，離火暴甚，陰液潛消，無以灌溉胎元，殊為可慮。非獨子在胞中受制，即異日之強弱，未必不由乎此。血為熱迫，吐血一次，胎欠榮養可知。伐下者必枯其上，滋苗者必灌其根。法當峻補真陰，以培其本。</p>
<p>生熟地　山藥　茯苓　冬朮　杜仲　龜版　歸身　牡蠣　白芍　白薇　黃芩　蜜水為丸</p>
<p>產後百脈空虛，氣血俱傷，衝任不振，半月血來甚湧，所謂沖傷血崩是也。斯時宜宗前哲暴崩暴漏，溫之補之之法。蔓延不已，奇經大損，營衛乃傷，任虛不能外衛，沖虛無以內營，致寒熱如感，衝脈並足陽明經而行，陽陰不和，乳房作痛，上氣不足，頭為之旋，水不濟火，五心燔熱，諸虛疊見，日以益甚。脈來弦數無神，先從太陰、陽明進步，冀其胃開進食，諸虛可復。</p>
<p>人參　黃耆　冬朮　茯苓　炙草　歸身　棗仁　遠志　杞子　熟地　龍眼肉</p>
<p>大產後陰傷未復，內熱目澀羞明，形神慵倦，脈象虛弦。水不涵木，火灼金傷，清肅不降，咳吐痰腥，有肺癰之慮。清上實下主之。</p>
<p>生地　茯苓　澤瀉　丹皮　天冬　麥冬　兒參　五味　歸身　阿膠　石決　蜜為丸</p>
<p>有妊至三月則墜，三月手厥陰胞絡離火司胎。素本陰虧，水不濟火，離火暴甚，陰液消耗，無以灌溉胎元，譬如草木萌芽，無雨露滋營，被陽光消灼，安能不墜。經今二次，任失偏固，慮胎至離宮，永為滑例。擬《局方》磐石散，取補陰制火，益氣養營之意。</p>
<p>熟地　當歸　川芎　白芍　洋參　冬朮　茯苓　炙草　川斷　黃芩　砂仁　粳米　蜜丸</p>
<p>有妊至七月則墜。七月手太陰肺脈司胎，肺司百脈之氣，氣與火不兩立，壯火食氣，肺藏乃傷，無以奉秋收之令。金水同源，肺與大腸相為表裡，腎開竅於二陰，大便堅結難解，陰虧火盛可知。治宜壯水潛陽為主，輔以清肅上焦之意。</p>
<p>洋參　麥冬　生地　知母　歸身　冬朮　龜版　杜仲　川斷　黃芩　蜜丸</p>
<p>半產後亡血過多，木失敷榮，素多抑鬱，中樞少運。胃者衛之源，脾乃營之本。胃虛衛不外護則寒，脾虛營失中守則熱。脾為統血之經，肝為藏血之臟，肝脾俱困，經候愆期，宗氣上浮，虛里穴動，脈來弦數無神。治宜滋腎補肝為主，解鬱崇土輔之。</p>
<p>八珍湯加遠志　棗仁　萸肉　山藥　蜜丸</p>
