<header data-type="book">
<h1>食物本草會纂</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>沈李龍</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1691">公元1691年</data></dd></div>
<div><dt>底本</dt><dd>《增補圖樣食物本草會纂》，清康熙間載詠樓刻本（<a href="https://www.digital.archives.go.jp/file/1079048">国立公文書館掃描本</a>、<a href="https://lccn.loc.gov/2014514195">美國國會圖書館藏本</a>）；《繪像食物本草會纂》（<a href="https://ctext.org/library.pl?if=gb&res=86211">谷歌圖書掃描本</a>）</dd></div>
</dl>
</header>
