<header data-type="book">
<h1>傅氏女科</h1>
</header>

<h1>女科</h1>
<p>（先生本有《女科》傳於世，此數條《女科》未載故存之）</p>

<h2>產後以補氣血為主</h2>
<p>方用：</p>
<p>人參（三錢）　當歸（一錢）　川芎（五錢）　荊芥（炒黑一錢）　益母草（一錢）　水煎服。</p>
<p>有風加柴胡五分；有寒加肉桂五分；血不淨加炒山楂十個；血暈加炮姜五分；衄血加麥冬二錢；夜熱加地骨皮五分；有食加穀芽、山楂；有痰加白芥子少許。余不必胡加。</p>

<h2>胎漏胎動</h2>
<p>此症氣血兩不足之故。</p>
<p>方用：</p>
<p>人參　山萸　山藥　茯苓　麥冬（各二錢）　白朮（五錢）　杜仲　枸杞　甘草（各一錢）　熟地（五錢）　五味子（五分）　歸身（三錢）　水煎服。</p>
<p>此方不寒不熱，安胎之聖藥也，胎動為熱，不動為寒。</p>

<h2>子懸</h2>
<p>此乃胎熱子不安，身欲立起於胞中，若懸起之象，倘以氣盛冶之立死矣。方用：</p>
<p>人參　茯苓　歸身　生地（各二錢）　白朮　白芍（各五錢）　杜仲　黃芩（各一錢）　熟地（一兩）　水煎服。</p>
<p>此皆利腰臍之藥，少加黃芩，胎得寒而自定。</p>

<h2>白帶</h2>
<p>產前無帶也，有則難產之兆，即幸而順生，產後必有血暈之事。方用黑豆三合，水三碗煎湯二碗，入白果十個，紅棗十個，再煎一碗，入熟地（一兩）　山萸　山藥　薏仁（各四錢）　茯苓（三錢）　澤瀉　丹皮（各二錢）　加水二碗煎服。一劑止，二劑水不白矣。亦通治婦人白帶，無不神效。</p>

<h2>產婦氣喘腹痛</h2>
<p>此症少陰受其寒邪，而在內之真陽必逼越於上焦，上假熱而下真寒也。方用平喘祛寒湯：</p>
<p>人參　肉桂（各二錢）　麥冬（三錢）　白朮（五錢）　吳萸（一錢）　一劑喘定，二劑痛止，必微涼頓服。</p>

<h2>產婦嘔吐下痢</h2>
<p>此腎水泛溢，因腎火之衰也。急用補陽之藥入於補陰之中，引火歸源水自下行矣。方用：</p>
<p>熟地　白朮　茯苓（各一兩）　山萸　人參（各五錢）　附子　車前子（各一錢）　肉桂（三分）　水煎服。</p>

<h2>血崩</h2>
<p>方用：</p>
<p>歸身（酒炒一錢）　生地（一錢二分）　蒲黃（酒炒）　地榆（酒洗各二分）　木通　丹皮（酒炒）　三七根　香附（童便浸，各五分）　白朮（一錢）　橘紅（七分）　姜三片，酒一杯，水一杯，煎九分，空心服。</p>

<h2>產後大喘大汗</h2>
<p>此乃邪入於陽明，寒變為熱，故大喘大汗。平人得此病當用白虎湯，而產婦氣血大虛何可乎？方用補虛降火湯。</p>
<p>麥冬（一兩）　人參　元參（各五錢）　桑葉（十四片）　蘇子（五分）　水煎服。</p>
<p>此方以麥冬、人參補氣，元參降火，桑葉止汗，蘇子定喘，助正，而不攻邪，邪退而不損正，實有奇功。</p>

<h2>產後亡陽友狂</h2>
<p>大抵亡陽之症，用藥汗止便有生機，宜先止汗而後定狂。方用收汗湯：</p>
<p>人參（三兩）　桑葉（二十片）　麥冬（二兩）　元參（一兩）　青蒿（五錢）　水煎服，一劑汗止，二劑狂定，後改人參、麥冬、五味子、當歸、川芎調理。此方只可救亡陽之急症，一時權宜之計，二劑後必須改方。</p>

<h2>產門症（瘡）</h2>
<p>方用：</p>
<p>黃柏（炒）　蚯蚓糞　白薇　乳香（炒去油）　鉛粉　潮腦（各三錢）　輕粉　冰片（各五分）　兒茶（二錢）　麝香（三分）　共為細末，調勻擦瘡。此方治產門瘡最效。亦通治諸瘡。</p>

<h2>打死胎</h2>
<p>用細瓷片為細末，或黃酒或溫水調下三錢，即出。</p>

<h1>女科上卷一</h1>
<p>（共三十八條，三十九症，四十一方）</p>

<h2>帶下</h2>

<h3>白帶下一</h3>
<p>夫帶下俱是濕症，而以帶名者，因帶脈不能約束，而有此病，故以名之。蓋帶脈通於任督，任督病帶脈始病。帶脈者，所以約束胞胎之系也。帶脈無力則難以提系，必然胎胞不固，故曰：帶弱則胎易墜，帶傷則胎不牢。然而帶脈之傷，非獨跌閃挫氣已也，或行房而放縱，或飲酒而癲狂，雖無疼痛之苦，而有暗耗之害，則氣不能化經水，而反變為帶者，病矣。故病帶者惟尼僧、寡婦、出嫁之女多有之，而在室女則少也。況加以脾氣之虛，肝氣之郁，濕氣之侵，熱氣之逼，安得不成帶下之病哉！故婦人有終年累月下流白如涕如唾，不能禁止，甚則臭穢者，所謂白帶也。夫白帶乃濕盛而火衰，肝鬱而氣弱，則脾土受傷，濕土之氣下陷，是以脾精不守，不能化榮血以為經水，反變成白滑之物，由陰門直下，欲自禁而不可得也。治法宜大補脾胃之氣，稍佐以舒肝之品，使風木不閉塞於地中，則地氣自升騰於天上，脾氣健而濕氣消，自無白帶之患矣。方用完帶湯：</p>
<p>白朮（一兩，土炒）　山藥（一兩，炒）　人參（二錢）　白芍（五錢，酒炒）　車前子（三錢，酒炒）　蒼朮（三錢，制）　陳皮（五分）　黑芥穗（五分）　甘草（一錢）　柴胡（六分）</p>
<p>水煎服。二劑輕，四劑止，六劑則白帶痊愈。此乃脾、胃、肝三經同治之法，寓補於散之中，寄消於升之內。升提肝木之氣，則肝血不燥，何至於下克脾土；補益脾土之元，則脾氣不濕，何難分消水氣。至於補脾而兼以補胃者，由里以及表也。脾非胃氣之強，則脾之弱不能旺，是補胃正所以補脾耳。</p>

<h3>青帶下二</h3>
<p>婦人有帶下而色青者，甚則綠於綠豆汁，稠黏不斷，其氣腥臭，所謂青帶也。夫青帶乃肝經之濕熱。肝屬木，木色屬青，帶下流如綠豆汁，明明是肝木之病矣。但肝木最喜水潤，濕亦水之積，似濕非肝木之所惡，何以竟成青帶之症？不知水為肝木之所喜，而濕實肝木之所惡，以濕為土之氣故也。以所惡者合之所喜必有違者矣。肝之性既違，則肝之氣必逆。氣欲上升，而濕欲下降，兩相牽掣，以停住於中焦之間，而走於帶脈，遂從陰器而出。其色青綠者，正以其乘肝木之氣化也。逆輕者，熱必輕而色青；逆重者，熱必重而色綠，似乎治青易而治綠難，然而均無所難也。解肝木之火，利膀胱之水，則青綠之帶病均去矣。方用加減逍遙散：</p>
<p>茯苓（五錢）　白芍（酒炒，五錢）　甘草（生用，五錢）　柴胡（一錢）　茵陳（三錢）　陳皮（一錢）　梔子（炒，三錢）</p>
<p>水煎服。二劑而色淡，四劑而青綠之帶絕，不必過劑矣。夫逍遙散之立法也，乃解肝鬱之藥耳，何以治青帶者斯其神與？蓋濕熱留於肝經，因肝氣之郁也，鬱則必逆，逍遙散最能解肝之郁與逆。郁逆之氣既解，則濕熱難留，而又益之以茵陳之利濕，梔子之清熱，肝氣得清，而青綠之帶又何自來！此方之所以奇而效捷也。倘僅以利濕清熱治青帶，而置肝氣於不問，安有止帶之日哉！</p>

<h3>黃帶下三</h3>
<p>婦人有帶下而色黃者，宛如黃茶濃汁，其氣腥穢，所謂黃帶是也。夫黃帶乃任脈之濕熱也。任脈本不能容水，濕氣安得入而化為黃帶乎？不知帶脈橫生，通於任脈，任脈直上走於唇齒，唇齒之間原有不斷之泉，下貫於任脈以化精，使任脈無熱氣之繞，則口中之津液盡化為精，以入於腎矣。惟有熱邪存於下焦之間，則津液不能化精而反化濕也。夫濕者，土之氣，實水之侵；熱者，火之氣，實木之生。水色本黑，火色本紅，今濕與熱合，欲化紅而不能，欲返黑而不得，煎熬成汁，因變為黃色矣，此乃不從水火之化，而從濕化也。所以世之人，有以黃帶為脾之濕熱，單去治脾而不得痊者，是不知真水、真火合成丹邪、元邪，繞於任脈、胞胎之間，而化此黅色也。單治脾何能痊乎？法宜補任脈之虛，而清腎火之炎，則庶幾矣。方用易黃湯：</p>
<p>山藥（一兩，炒）　芡實（一兩，炒）　黃柏（二錢，鹽水炒）　車前子（一錢，酒炒）　白果（十枚，碎）</p>
<p>水煎。連服四劑，無不痊愈。此不特治黃帶方也，凡有帶病者，均可治之，而治帶之黃者更奇也。蓋山藥、芡實專補任脈之虛，又能利水，加白果引入任脈之中，更為便捷，所以奏功之速也。至於用黃柏清腎中之火也，腎與任脈相通以相齊，解腎中之火，即解任脈之熱矣。</p>

<h3>黑帶下四</h3>
<p>婦人有帶下而色黑者，甚則如黑豆汁，其氣亦腥，所謂黑帶也。夫黑帶者，乃火熱之極也。或疑火色本紅，何以成黑？謂為下寒之極或有之。殊不知火極似水，乃假象也。其症必腹中疼痛，小便時如刀刺，陰門必發腫，面色必發紅，日久必黃瘦，飲食必兼入，口中必熱渴，飲以涼水，少覺寬快。此胃火太旺，與命門、膀胱、三焦之火，合而熬煎，所以熬干而變為炭色，斷是火熱之極之變，而非少有寒氣也。此等之症，不至發狂者，全賴腎水與肺金無病，其生生之氣，潤心濟胃以救之耳。所以但成黑帶之症，是火結於下而不炎於上也。治法惟以瀉火為主，火熱退而濕自除矣。方用利火湯：</p>
<p>大黃（三錢）　白朮（五錢，土炒）　茯苓（三錢）　車前子（三餞，酒炒）　王不留行（三錢）　黃連（三錢）　梔子（三錢，炒）　知母（二錢）　石膏（五錢，煅）　劉寄奴（三錢）</p>
<p>水煎服。一劑小便疼止而通利，二劑黑帶變為白，三劑白亦少減，再三劑全愈矣。或謂此方過於迅利，殊不知火盛之時，用不得依違之法，譬如救火之焚，而少為遷緩，則火熱延燃，不盡不止。今用黃連、石膏、梔子、知母一派寒涼之品，人於大黃之中，則迅速掃除。而又得王不留行與劉寄奴之利濕甚急，則濕與熱俱無停住之機。佐白朮以輔土，茯苓以滲濕，車前以利水，則火退水迸，便成既濟濟之卦矣。</p>

<h3>赤帶下五</h3>
<p>婦人有帶下而色紅者，似血非血，淋漓不斷，所謂赤帶也。夫赤帶亦濕病，濕是土之氣，宜見黃白之色，今不見黃白而赤者，火熱故也。火色赤，故帶下亦耳。惟是帶脈繫於腰臍之間，近乎至陰之地，不宜有火，而今見火症，豈其路通於命門，而命門之火出而燒之耶？不知帶脈通於腎，而腎氣通於肝。婦人憂思傷脾，又加鬱怒傷肝，於是肝經之鬱火內熾，下克脾土，脾土不能運化，致濕熱之氣蘊於帶脈之間；而肝不藏血，亦滲於帶脈之內，皆由脾氣受傷，運化無力，濕熱之氣，隨氣下陷，同血俱下，所以似血非血之形象，現於其色也。其實血與濕不能兩分，世人以赤帶屬之心火誤矣。治法須清肝火而扶脾氣，則庶幾可愈。方用清肝止淋湯：</p>
<p>白芍（一兩，醋炒）　當歸（一兩，酒洗）　生地（五錢，酒炒）　阿膠（三錢，白麵炒）　粉丹皮（三錢）　黃柏（二錢）　牛膝（二錢）　香附（一錢，酒炒）　紅棗（十枚）　小黑豆（一兩）</p>
<p>水煎服。一帖少止，二帖又少止，四帖痊愈，十帖不再發。此方但主補肝之血，全不利脾之濕者，以赤帶之為病，火重而濕輕也。夫火之所以旺者，由於血之衰，補血即足以制火。且水與血合而成赤帶之症，競不能辨其是濕非濕，則濕亦盡化而為血矣，所以治血則濕亦除，又何必利濕之多事哉！此方之妙，妙在純於治血，少加清火之味，故奏功獨奇。倘一利其濕，反引火下行，轉難遽效矣。或問曰：先生前言助其脾土之氣，今但補其肝木之血何也？不知用芍藥以平肝，則肝氣得舒，肝氣舒自不剋土，脾不受克，則脾土自旺，是平肝正所以扶脾耳，又何必加人參、白朮之品，以致累事哉！</p>

<h2>血崩</h2>

<h3>血崩昏暗六</h3>
<p>婦人有一時血崩，兩目黑暗，昏暈在地，不省人事者，人莫不謂火盛動血也。然此火非實火，乃虛火耳。世人一見血崩，往往用止澀之品，雖亦能取效於一時，但不用補陰之藥，則虛火易於衝擊，恐隨止隨發，以致經年累月不能全愈者有之。是止崩之藥不可獨用，必須於補陰之中行止崩之法。方用固本止崩湯：</p>
<p>大熟地（一兩，九蒸）　白朮（一兩，土炒焦）　黃耆（三錢，生用）　當歸（五錢，酒洗）　人參（三錢）　黑姜（二錢）</p>
<p>水煎服。一劑崩止，十劑不再發。倘畏藥味之重而減半，則力薄而不能止。方妙在全不去止血而惟補血，又不止補血而更補氣，非惟補氣而更補火。蓋血崩而至於黑暗昏暈，則血已盡去，僅存一線之氣，以為護持，若不急補其氣以生血，而先補其血而遺氣，則有形之血恐不能遽生，而無形之氣必且至盡散，此所以不先補血而先補氣也。然單補氣則血又不易生，單補血而不補火則血又必凝滯，而不能隨氣而速生。況黑姜引血歸經，是補中又有收斂之妙，所以同補氣補血之藥井用之耳。</p>

<h3>年老血崩七</h3>
<p>婦人有年老血崩者，其症亦與前血崩昏暗者同，人以為老婦之虛耳，誰知是不慎房幃之故乎！夫婦人至五十歲之外，天癸匱乏，原宜閉關守寨，不宜出陣戰爭。苟或適興，不過草草了事，尚不至腎火大動。倘興酣浪戰，亦如少年之好合，鮮不血室大開，崩決而墜矣。方用加減當歸補血湯：</p>
<p>當歸（一兩，酒洗）　黃耆（一兩，生用）　三七根末（三錢）　桑葉（十四片）　水煎服。二帖而少止，四帖不再發。然必須斷欲始除根，若再犯色欲，未有不重病者也。夫補血湯乃氣血兩補之神劑，三七根乃止血之聖藥，加入桑葉者，所以滋腎之陰，又有收斂之妙耳。但老婦陰精既虧，用此方以止其暫時之漏，實有奇功，而不可責其永遠之績者，以補精之味尚少也。服此四帖後，再增入：</p>
<p>白朮（五錢）　熟地（一兩）　山藥（四錢）　麥冬（三錢）　北五味（一錢）</p>
<p>服百帖，則崩漏之根可盡除矣。</p>

<h3>少婦血崩八</h3>
<p>有少婦甫娠三月，即便血崩而胎亦隨墮，人以為挫閃受傷而致，誰知是行房不慎之過哉！夫少婦行房，亦事之常耳，何便血崩？蓋因元氣衰弱，事難兩顧，一經行房泄精，則妊娠無所依養，遂致崩而且墮。凡婦人之氣衰，即不耐久戰，若貪歡久戰，則必泄精太甚，氣每不能攝夫血矣。況氣弱而又娠，再加以久戰，內外之氣皆動，而血又何能固哉？其崩而墮也亦無怪其然也。治法自當以補氣為主，而少佐以補血之品，斯為得之。方用固氣湯：</p>
<p>人參（一兩）　白朮（五錢，土炒）　大熟地（五錢，九蒸）　當歸（三錢，酒洗）　白茯苓（二錢）　山萸（二錢，蒸）　甘草（一錢）　遠志（一錢，去心）　杜仲（三錢，炒黑）　五味子（十粒，蒸）</p>
<p>水煎服。一帖而血止，連服十帖全愈。此方固氣而兼補血，已去之血可以速生，將脫之血可以盡攝。凡氣虛而崩漏者，此方最可通治，非僅治小產之崩。其最妙者，不去止血，而止血之味含於補氣之中也。</p>

<h3>交感出血九</h3>
<p>婦人有一交合則流血不止者，雖不至於血崩之甚，而終年累月不得愈，未免血氣兩傷，久則恐有血枯經閉之憂。此等之病，成於經水正來之時貪歡交合，精沖血管也。夫精沖血管，不過一時之傷，精出宜愈，何以久而流紅？不知血管最嬌嫩，斷不可以精傷。凡婦人受孕，必於血管已淨之時，方保無虞。倘經水正旺，彼欲湧出而精射之，則欲出之血反退而縮入，既不能受精而成胎，勢必至集精而化血。交感之際，淫氣觸動其舊日之精，則兩相感召，舊精欲出而血亦隨之而出。治法須通其胞胎之氣，引舊日之集精外出，而益之以補氣補精之藥，則血管之傷可以補完矣。方用引精止血湯：</p>
<p>人參（五錢）　山萸肉（五錢，蒸）　白朮（一兩，土炒）　熟地（一兩，九蒸）　茯苓（三錢，去皮）　芥穗（三錢）　車前子（三錢，酒炒）　黑姜（一錢）　黃柏（五分）</p>
<p>水煎。連服四劑愈，十劑不再發。此方用參朮以補氣，用地、萸以補精，精氣既旺，則血管流通，加入茯苓、車前子以利水與竅，水利則血管亦利；又加黃柏為引，直入血管之中，而引夙精出於血管之外；芥穗引敗血出於血管之內；黑姜以止血管之口。一方之中，實有調停曲折之妙，故能祛舊病而除沉疴。然必須慎房幃三月，破者始不至重傷，而補者始不至重損，否則不過取目前之效耳。其慎之哉！宜寡欲。</p>

<h3>鬱結血崩十</h3>
<p>婦人有懷抱甚郁，口乾舌渴，嘔吐吞酸，而血下崩者，人皆以火治之，時而效，時而不效，其故何也？是不識為肝氣之鬱結也。夫肝主藏血，氣結而血亦結，何以反至崩漏？蓋肝之性急，氣結則其急更甚，更急則血不能藏，故崩不免也。治法宜以開鬱為主，若徒開其鬱，而不知平肝，則肝氣大開，肝火更熾，而血亦不能止矣。方用平肝開鬱止血湯：</p>
<p>白芍（一兩，醋炒）　白朮（一兩，土炒）　當歸（一兩，酒洗）　柴胡（一錢三七根三錢，研末）　生地（三錢，酒炒）　丹皮（三錢）　甘草（二錢）　黑芥穗（二錢）</p>
<p>水煎服。一帖嘔吐止，二帖乾渴除，四帖血崩愈。方中妙在白芍之平肝，柴胡之開鬱，白朮利腰臍，則血無積住之虞；荊芥通經絡，則血有歸還之樂；丹皮又清骨髓之熱，生地復清臟腑之炎；當歸、三七於補血之中，以行止血之法；自然鬱結散而血崩止矣。</p>

<h3>閃跌血崩十一</h3>
<p>婦人有升高墜落，或閃挫受傷，以致惡血下流，有如血崩之狀者，若以崩治，非徒無益，而又害之也。蓋此症之狀，必手按之而疼痛，久之則面色痿黃，形容枯槁，乃是瘀血作祟，並非血崩可比。倘不知解瘀而用補澀，則瘀血內攻，疼無止時，反致新血不得生，舊血無由化，死不能悟，豈不可傷哉！治法須行血以去瘀，活血以止疼，則血自止而愈矣。方用逐瘀止血湯：</p>
<p>生地（一兩，酒炒）　大黃（三錢）　赤芍（三錢）　龜板（三錢，醋炙）　丹皮（一錢）　枳殼（五錢，炒）　當歸尾（五錢）　桃仁（十粒，泡炒，研）</p>
<p>水煎服。一劑疼輕，二劑疼止，三劑血亦全止，不必再服矣。此方之妙，妙於治血之中，佐以下滯之品，故逐瘀如掃，而止血如神。或疑跌閃升墜是由外而傷，雖不比內傷之重，而既已血崩，則內之所傷，亦不為輕，何以只治其瘀而不顧氣也？殊不知跌閃升墜，非由內傷以及外傷者可比。蓋本實不撥，去其標病可耳。故曰：急則治其標。</p>

<h3>血海太熱血崩十二</h3>
<p>婦人有每行人道，經水即來，一如血崩，人以為胞胎有傷，觸之以動其血也，誰知是子宮血海因太熱而不固乎？夫子宮即在胞胎之下，而血海又在胞胎之上。血海者，衝脈也。衝脈太寒而血即虧，衝脈太熱而血即沸，血崩之為病，正衝脈之太熱也。然既由衝脈之熱，則應常崩而無有止時，何以行人道而始來，果與肝木無恙耶？夫脾健則能攝血，肝平則能藏血。人未入房之時，君相二火，寂然不動，雖衝脈獨熱，而血亦不至外馳。及有人道之感，則子宮大開，君相火動，以熱招熱，同氣相求，翕然齊動，以鼓其精房，血海氾濫，有不能止遏之勢，肝欲藏之而不能，脾欲攝之而不得，故經水隨交感而至，若有聲應之捷，是惟火之為病也。治法必須滋陰降火，以清血海而和子宮，則終身之病，可半載而除矣。然必絕欲三月而後可。方用清海丸。</p>
<p>大熟地（一斤，九蒸）　山萸（十兩，蒸）　山藥（十兩）　麥冬肉（十兩）　地骨皮（十兩）　丹皮（十兩）　沙參（十兩）　石斛（十兩）　北五味（二兩，炒）　龍骨（二兩）　白朮（一斤，土炒）　白芍（一斤，酒炒）　干桑葉（一斤）　元參（一斤）</p>
<p>上十四味，各為細末，合一處，煉蜜丸桐子大，早晚每服五錢，白滾水送下，半載全愈。此方補陰而無浮動之慮，縮血而無寒涼之苦，日計不足，月計有餘，潛移默奪，子宮清涼而血海自固。倘不揣其本而齊其末，徒以發灰、白礬、黃連炭、五倍子等藥末，以外治其幽隱之處，由恐愈澀而愈流，終必至於敗亡也。可以不慎與！</p>

<h2>鬼胎</h2>

<h3>婦人鬼胎十三</h3>
<p>婦人有腹似懷妊，終年不產，甚至二三年不生者，此鬼胎也。其人必面色黃瘦，肌膚消削，腹大如斗。厥所由來，必素與鬼交，或入神廟而興雲雨之思，或遊山林而起交感之念，皆能召祟成胎。幸其人不至淫蕩，見祟而有驚慌，遇合而生愧惡，則鬼祟不能久戀，一交媾即遠去，然淫妖之氣，已結於腹，遂成鬼胎。其先尚未覺，迨後漸漸腹大，經水不行，內外相包，一如懷胎之狀，有似血臌之形，其實是鬼胎，而非臌也。治法必須以逐穢為主。然人至懷胎數年不產，即非鬼胎，亦必氣血衰微。況此非真妊，則邪氣必旺，正不敵邪，其虛弱之狀，必有可掬，烏可純用迅利之藥，以祛蕩乎！必於補中逐之為也。方用蕩鬼湯：</p>
<p>人參（一兩）　當歸（一兩）　大黃（一兩）　枳殼（一錢）　厚朴（一錢）　雷丸（三錢）　川牛膝（三錢）　紅花（三錢）　丹皮（三錢）　小桃仁（三十粒）</p>
<p>水煎服。一帖腹必大鳴，可瀉惡物半桶，再服一帖又瀉惡物而愈矣。斷不可復用三帖也。蓋雖補中用逐，未免迅利，多用恐傷損元氣。此方用雷丸以祛穢，又得大黃之掃除，且佐以厚朴、紅花、桃仁等味，皆善行善攻之品，何邪之尚能留腹中而不盡逐下也哉？尤妙在用參、歸以補氣血，則邪去而正不傷。若單用雷丸、大黃以迅下之，必有氣脫血崩之患矣。倘或知是鬼胎，如室女寡婦輩，邪氣雖盛，而真氣未漓，可用岐天師新傳紅花霹靂散：紅藥半斤，大黃五兩，雷丸三兩，水煎服，亦能下胎。然未免太於迅利，過傷氣血，不若蕩鬼湯之有益無損為愈也。在人臨證時，斟酌而善用之耳。</p>

<h3>室女鬼胎十四</h3>
<p>女子有在家未嫁，月經忽斷，腹大如妊，面色乍赤乍白，六脈乍大乍小，人以為血結經閉也，誰知是靈鬼憑身乎！夫人之身正則諸邪不敢侵，其身不正，則諸邪自來犯。或精神恍惚而夢裡求親，或眼目昏花而對面相押，或假託親屬而暗處貪歡，或明言仙人而靜地取樂。其始則驚詫為奇遇而不肯告人，其後則羞赧為淫褻而不敢告人。日久年深，腹大如斗，有如懷妊之狀。一身之精血僅足以供腹中之邪，則邪日旺而正日衰，勢必至經閉而血枯。後雖欲導其經而邪據其腹，則經亦難通；欲生其血而邪食其精，則血實難長。醫以為胎，而實非真胎；又以為瘕，而亦非瘕病。往往因循等待，非因羞憤而亡其生，即成勞瘵而終不起，至死不悟，不重可悲哉！治法似宜補正以祛邪，然邪不先祛，補正亦無益也。必須先祛邪而後扶正，斯為得之。方用蕩邪散：</p>
<p>雷丸（六錢）　桃仁（六十粒）　當歸（一兩）　丹皮（一兩）　甘草（四錢）　水煎服。一劑必下惡物半桶。</p>
<p>再服調正湯治之：</p>
<p>白朮（五錢）　蒼朮（五錢）　茯苓（三錢）　陳皮（一錢）　薏米（五錢）　貝母（一錢）</p>
<p>水煎。連服四劑，則脾胃之氣轉，而經水漸行矣。前方蕩邪，後方補正，實有次第。或疑身懷鬼胎，必大傷其血，所以經閉，今既墜其鬼胎矣，自當大補其血，乃不補血，而反補胃氣何故？蓋鬼胎中人，其正氣大虛可知，氣虛則血心不能驟生，欲補血必先補氣，是補氣而血自然生也。用二術以補胃陽，陽氣旺則陰氣難犯，尤善後之妙法也。倘重用補陰之品，則以陰招陰，吾恐鬼胎雖下而鬼氣未必不再侵，故必以補陽為上策，而血自隨氣而生也。</p>

<h2>調經</h2>

<h3>經水先期十五</h3>
<p>婦人有先期經來者，其經甚多，人以為血熱之極也，誰知是腎中水火太旺乎！夫火太旺則血熱，水太旺則血多，此有餘之病，非不足之症也。似宜不藥有喜，但過於有餘，則子宮太熱，亦難受孕，更恐有爍於男精之慮。過者損之，謂非既濟之道乎！然而火不可任其有餘而水斷不可使之不足。治之法但少清其熱，不必泄其水也。方用清經散：</p>
<p>丹皮（三錢）　白芍（三錢，酒炒）　大熟地（三錢，九蒸）　地骨皮（五錢）　青蒿（二錢）　白茯苓（一錢黃）　柏（五分，鹽水浸炒）</p>
<p>水煎服。二帖而火自平。此方雖是清火之品，然仍是滋水之味，火泄而水不與俱泄，損而益也。</p>
<p>又有先期經來只一二點者，人以為血熱之極也，誰知腎中火旺而陰水虧乎！夫同是先期之來，何以分虛實之異？蓋婦人之經最難調，苟不分別細微，用藥鮮克有效。先期者火氣之沖，多寡者水氣之驗，故先期而來多者，火熱而水有餘也；先期而來少者，火熱而水不足也。倘一見先期之來，俱以為有餘之熱，但泄火而不補水，或水火兩泄之，有不更增其病者乎！治之法不必泄火，只專補水，水既足而火自消矣，亦既濟之道也。方用兩地湯：</p>
<p>大生地（一兩，酒炒）　元參（一兩）　白芍（五錢，酒炒）　麥冬肉（五錢）　地骨皮（三錢）　阿膠（三錢）</p>
<p>水煎服。四劑而經調矣，此方之用地骨、生地，能清骨中之熱。骨中之熱，由於腎經之熱、清其骨隨，則腎氣自清，而又不損傷胃氣，此治之巧也。況所用諸藥，又純是補水之味，水盛而火自平，理也。此條與上條參觀，斷無誤治先期之病矣。</p>

<h3>經水後期十六</h3>
<p>婦人有經水後期而來多者，人以為血虛之病也，誰知非血虛乎！蓋後期之多少，實有不同，不可執一而論。蓋後期而來少，血寒而不足；後期而來多，血寒而有餘。夫經本於腎，而其流五臟六腑之血皆歸之，故經來而諸經之血盡來附益，以經水行而門啟不遑迅闔，諸經之血乘其隙而皆出也，但血既出矣，則成不足。治法宜於補中溫散之，不得曰後期者俱不足也。方用溫經攝血湯：</p>
<p>大熟地（一兩，九蒸）　白芍（一兩，酒炒）　川芎（五錢，酒洗）　白朮（五錢，土炒）　柴胡（五分）　肉桂（五分，去粗皮，研）　續斷（一錢）　五味子（三分）</p>
<p>水煎服。三劑而經調矣。此方大補肝、腎、脾之精與血，加肉桂以祛其寒，柴胡以解其鬱，是補中有散，而散不耗氣；補中有泄，而泄不損陰，所以補之有益，而溫之收功。此調經之妙藥也，而攝血之仙丹也。凡經來後期者，俱可用。倘元氣不足加人參一二錢亦可。</p>

<h3>經水先後無定期十七</h3>
<p>婦人有經來斷續，或前或後無定期，人以為氣血之虛也，誰知是肝氣之鬱結乎！夫經水出諸腎，而肝為腎之子，肝鬱則腎亦郁矣。腎鬱而氣必不宣，前後之或斷或續，正腎之或通或閉耳。或曰：肝氣鬱而腎氣不應，未必至於如此。殊不知子母關切，子病而母必有顧復之情，肝鬱而能不無繾綣之誼，肝氣之或開或閉，即腎氣之或去或留，相因而致，又何疑焉。治法宜舒肝之郁，即開腎之郁也，肝腎之郁既開，而經水自有一定之期矣。方用定經湯：</p>
<p>菟絲子（一兩，酒炒）　白芍（一兩，酒炒）　當歸（一兩，酒洗）　柴胡（五分）　大熟地（五錢，九蒸）　山藥（五錢，炒）　白茯苓（三錢）　芥穗（二錢，炒黑）</p>
<p>水煎服。二帖而經水淨，四帖而經期定矣。此方舒肝腎之氣，非通經之藥也；補肝腎之精，非利水之品也。肝腎之氣舒而精通，肝腎之精旺而水利。不治之治，正妙於治也。</p>

<h3>經水數月一行十八</h3>
<p>婦人有數月一行經者，每以為常，亦無或先或後之異。亦無或多或少之殊，人莫不以為異，而不知非異也。蓋無病之人，氣血兩不虧損耳。夫氣血既不虧損，何以數月而一行經也？婦人之中，亦有天生仙骨者，經水必一季一行，蓋以季為數，而不以月為盈虛也。真氣內藏，則坎中之真陽不損，倘加以煉形之法，一年之內便易飛騰，無如世人不知，見經水不應月來，誤認為病，妄用藥餌，本無病而治之成病，是治反不如其不治也。山聞異人之教，特為闡揚，使世人見此等行經，不必妄行治療，萬勿疑為氣血之不足而輕一試也。雖然天生仙骨之婦人，世固不少，而嗜欲損夭之人，亦復甚多，又不可不立一療救之方以輔之。方名助仙丹。</p>
<p>白茯苓（五錢）　陳皮（五錢）　白朮（三錢，土炒）　白芍（三錢，酒炒）　山藥（三錢，炒）　菟絲子（三錢，酒炒）　杜仲（一錢，炒黑）　甘草（一錢）</p>
<p>河水煎服。四劑而仍如其舊，不可再服也。此方平補之中，實有妙理。健脾益腎而不滯，解鬱清痰不泄，不損天然之氣血，便是調經之大法，何得用他藥以冀通經哉！</p>

<h3>年老經水復行十九</h3>
<p>婦人有年五十外，或六七十歲，忽然行經者，或下紫血塊，或如紅血淋。人可謂老婦行經，是還少之象，誰知是血崩之漸乎！夫婦人至七七之外，天癸已竭，又不服濟陰補陽之藥，如何能精滿化經，一如少婦。然經不宜行而行者，乃肝不藏，脾不統之故也，非精過泄而動命門之火，即氣鬱甚而發龍雷之炎，二火交發，而血乃奔矣，有似行經而實非經也。此等之症，非大補肝脾之氣與血，而血安有驟止。方用安老湯：</p>
<p>人參（一兩）　黃耆（一兩，生用）　大熟地（一兩，九蒸）　白朮（五錢，土炒）　當歸（五錢，酒洗）　山萸（五錢，蒸）　阿膠（一錢，蛤粉炒）　黑芥穗（一錢）　甘草（一錢）　木耳炭（一錢）　香附（五分，酒炒）</p>
<p>水煎服。一帖減，二帖減，四帖全減，十帖愈。此方補益肝脾之氣，氣足自能生血而攝血。尤妙大補腎水，水足而肝氣自舒，肝舒而脾自得養，肝藏之而脾統之，又安有泄漏者，又何慮其血崩哉！</p>

<h3>經水忽來忽斷時疼時止二十</h3>
<p>婦人有經水忽來忽斷，時疼時止，寒熱往來者，人以為血之凝也，誰知是肝氣不舒乎！夫肝屬木而藏血，最惡風寒。婦人當行經之際，腠理大開，適逢風之吹、寒之襲，則肝氣為之閉塞，而經水之道路亦隨之而俱閉，由是腠理經絡，各皆不宜，而寒熱之作，由是而起。其氣行於陽分則生熱，其氣行於陰分則生寒，然此猶感之輕者也。倘外感之風寒更甚，則內應之熱氣益深，往往有熱入血室而變為如狂之症，一似遇鬼之狀者。若但往來寒熱，是風寒未甚，而熱未深耳。治法宜補肝中之血，通其鬱而散其風，則病隨手而效，所謂治風先治血，血和風自滅，此其一也。方用加味四物湯：</p>
<p>大熟地（一兩，九蒸）　白芍（五錢，酒炒）　當歸（五錢，酒洗）　白朮（五錢，土炒）　川芎（三錢，酒洗）　粉丹皮（三錢）　元胡（一錢，酒炒）　甘草（一錢）　柴胡（一錢）</p>
<p>此方用四物以滋脾胃之陰血；用柴胡、白芍、丹皮以宣肝經之風邪；用甘草、白朮、元胡以利腰臍而和腹疼，入於表裡之間，通乎經絡之內，用之得宜，自奏功如響也。</p>

<h3>經水未來腹先疼二十一</h3>
<p>婦人有經前腹疼數日，而後經水行者，其經來多是紫黑塊，人以為寒極而然也，誰知是熱極而火不化乎！夫肝屬木，其中有火，舒則通暢，鬱則不揚。經欲行而肝不應，則抑拂其氣而疼生。然經滿則不能內藏，而肝中之鬱火焚燒，內逼經出，則其火亦因之而怒泄。其紫黑者，水火兩戰之象也。其成塊者，火煎成形之狀也。經失其為經者，正鬱火內奪其權耳。治法似宜大泄肝中之火，然泄肝之火，而不解肝之郁，則熱之標可去，而熱之本未除也，其何能益？方用宣郁通經湯：</p>
<p>白芍（五錢，酒炒）　當歸（五錢，酒洗）　丹皮（五錢）　山梔子（三錢，炒）　白芥子（二錢，炒研）　柴胡（一錢）　香附（一錢，酒炒）　川鬱金（一錢，醋炒）　黃芩（一錢，酒炒）　生甘草（一錢）</p>
<p>水煎。連服四劑，下月斷不先腹疼而後行經矣。此方補肝之血，而解肝之郁，利肝之氣，而降肝之火，所以奏功之速。</p>

<h3>行經後少腹疼痛二十二</h3>
<p>婦人有腹疼於行經之後者，人以為氣血之虛也，誰知是腎氣之涸乎！夫經水者，乃大一之真水也，滿則溢而虛則閉，亦其常耳，何以虛能作疼哉？蓋腎水一虛則水不能生木，而肝木必克脾土，木土相爭則氣必逆，故爾作疼。治法必須以舒肝氣為主，而益之以補腎之味，則水足而肝氣益安，肝氣安而逆氣自順，又何疼痛之有哉！方用調肝湯：</p>
<p>山藥（五錢，炒）　阿膠（三錢，白麵炒）　當歸（三錢，酒洗）　白芍（三錢，酒炒）　山萸肉（三錢，蒸熟）　巴戟（一錢，鹽水浸）　甘草（一錢）</p>
<p>水煎服。此方平調肝氣，既能轉逆氣，又善止郁疼。經後之症，以此方調理最佳。不特治經後腹疼之症也。</p>

<h3>經前腹痛吐血二十三</h3>
<p>婦人有經未行之前一二日，忽然腹疼而吐血，人以為火熱之極也，誰知是肝氣之逆乎！夫肝之性最急，宜順而不宜逆，順利氣安，逆則氣動。血隨氣為行止，氣安則血安，氣動則血動，亦勿怪其然也。或謂經逆在腎不在肝，何以隨血妄行，竟至從口上出也，是肝不藏血之故乎？抑腎不納氣而然乎？殊不知少陰之火急加奔馬，得肝火直衝而上，其勢最捷，反經而為血，亦至便也，正不必肝不藏血，始成吐血之症。但此等吐血與各經之吐血有不同者，蓋各經之吐血，由內傷而成；經逆而吐血，乃內溢而激之使然也。其症有絕異，而其氣逆則一也。治法似宜平肝以順氣，而不必益精以補腎矣。雖然經逆而吐血，雖不大損失血，而反復顛倒，未免太傷腎氣，必須於補腎之中，用順氣之法，始為得當。方用順經湯：</p>
<p>當歸（五錢，酒洗）　大熟地（五錢，九蒸）　丹皮（五錢）　白芍（二錢，酒炒）　白茯苓（三錢）　沙參（三錢）　黑芥穗（三錢）</p>
<p>水煎服。一劑而吐血止，二劑而經順，十劑不再發。此方於補腎調經之中，而用引血歸經之品，是和血之法，實寓順氣之法也。肝不逆而腎氣自頂，腎氣既順，又何經逆之有哉！</p>

<h3>經水將來臍下先疼痛二十四</h3>
<p>婦人有經水將來三五日前，而臍下作疼，狀如刀刺者，或寒熱交作，所下如黑豆汁，人莫不以為血熱之極，誰知是下焦寒濕相爭之故乎！夫寒濕乃邪氣也，婦人有衝任之脈，居於下焦，沖為血海，任主胞胎，為血室，均喜正氣相通，最惡邪氣相犯。經水由二經而外出，而寒濕滿二經而內亂，兩相爭而作疼痛，邪愈盛而正氣日衰。寒氣生濁，而下如豆汁之黑者，見北方寒水之象也。治法利其濕而溫其寒，使衝任無邪氣之亂，臍下自無疼痛之疚矣。方用溫臍化濕湯：</p>
<p>白朮（一兩，土炒）　白茯苓（三錢）　山藥（五錢，炒）　扁豆（三錢，炒，搗）　巴戟肉（五錢，鹽水浸）　白果（十枚，搗碎）　建蓮子（三十枚，不去心）</p>
<p>水煎服。然必須經未來前十日服之。四劑而邪氣去，經水調，兼可種子。此方君白朮，以利腰臍之氣；用巴戟、白果以通任脈；扁豆、山藥、蓮子以衛衝脈，所以寒濕掃除而經水自調，可受妊矣。倘疑腹疼為熱疾，妄用寒涼，則衝任虛冷，血海變為冰海，血室反成冰室，無論難於生育，而疼痛之止又安有日哉！</p>

<h3>經水過多二十五</h3>
<p>婦人有經水過多，行後復行，面色萎黃，身體倦怠，而困乏愈甚者，人以為血熱有餘之故，誰知是血虛而不歸經乎！夫血旺始經多，血虛當經縮，今日血虛而反經多，是何言與？殊不知血歸於經，雖旺而經亦不多；血不歸經，雖衰而經亦不少。世之人見經水過多，謂是血之旺也，此治之所以多錯耳。倘經多果是血旺，自是健壯之體，須當一行即止，精力如常，何至一行後而再行，而困乏無力耶！惟經多是血之虛，故再行而不勝其困乏，血損精散，骨中髓空，所以不能色華於面也。治法宜大補血而引之歸經，又安有行後復行之病哉。方用加減四物湯：</p>
<p>大熟地（一兩，九蒸）　白芍（三錢，酒炒）　黑芥穗（三錢）　山萸（三錢，）　蒸當歸（五錢，酒洗）　白朮（五錢，土炒）　川芎（二錢，酒洗）　續斷（一錢）　甘草（一錢）</p>
<p>水煎服。四劑而血歸經矣。十劑之後，加人參三錢，再服十劑，下月行經，適可而止矣。夫四物湯乃補血之神品，加白朮、荊芥，補中有利；加山萸、續斷，止中有行；加甘草以調和諸品，使之各得其宜，所以血足而歸經，歸經而血自靜矣。</p>

<h3>經前泄水二十六</h3>
<p>婦人有經未來之前，泄水三日，而後行經者，人以為血旺之故，誰知是脾氣之虛乎！夫脾統血，脾虛則不能攝血矣。且脾屬濕土，脾虛則土不實，土不實而濕更甚，所以經水將動，而脾先不固，脾經所統之血，欲流注於血海，而濕氣乘之，所以先泄水而後行經也。調經之法，不在先治其水，而在先治其血，抑不在先治其血，而在先補其氣。蓋氣旺而血自能生，抑氣旺而濕自能除，且氣旺而經自能調矣。方用健固湯：</p>
<p>人參（五錢）　巴戟（五錢，鹽水浸）　白茯苓（三錢）　薏苡仁（三錢，炒）　白朮（一兩，土炒）</p>
<p>水煎。連服十帖，經前不泄水矣。此方補脾氣以固脾血，則血攝於氣之中。脾氣日盛，自能運化其濕，濕既化為烏有，自然經水調和，又何至經前泄水哉！</p>

<h3>經前大便下血二十七</h3>
<p>婦人有行經之前一日，大便先出血者，人以為血崩之症，誰知是經流於大腸乎！夫大腸與行經之路各有分別，何以能人乎其中？不知胞胎之系，上通心而下通腎，心腎不交，則胞胎之血兩無所歸，而心腎二經之氣不來照攝，聽其自便，所以血不走小腸而走大腸也。治法若單止大腸之血，則愈止而愈多；若擊動三焦之氣，則更拂亂而不可止。蓋經水之妄行，原因心腎之不交，今不使水火之既濟，而徒治其胞胎，則胞胎之氣無所歸，而血安有歸經之日！故必大補其心與腎，使心腎之氣交，而胞之氣自不散，則大腸之血自不妄行，而經自順矣。方用順經兩安湯：</p>
<p>當歸（五錢，酒洗）　白芍（五錢，酒炒）　大熟地（五錢，九蒸）　白朮（五錢，土炒）　麥冬（五錢，去心）　山萸肉（二錢，蒸）　黑芥穗（二錢）　升麻（四分）　人參（三錢）　巴戟肉（一錢，鹽水浸）</p>
<p>水煎服。二帖大腸血止，而經從前陰出矣。三帖經止而兼可受妊矣。此方乃大補心、肝、腎三經之藥，全不去顧胞胎，而胞胎有所歸者，以心腎之氣交也。蓋心腎虛則其氣兩分，心腎足則其氣兩合，心與腎不離，而胞胎之氣聽命於二經之攝，又安有妄動之形哉！然則心腎不交，補心腎可也，又何兼補夫肝木耶？不知肝乃腎之子，心之母也，補肝則肝氣往來於心腎之間，自然上引心而下入於腎，下引腎而上入於心，不啻介紹之助也。此使心腎相交之一大法門，不特調經而然也，學者其深思諸。</p>

<h3>年未老經水斷二十八</h3>
<p>經云：女子七七而天癸絕。有年未至七七而經水先斷者，人以為血枯經閉也，誰知是心、肝、脾之氣鬱乎！使其血枯，安能久延於人世。醫見其經水不行，妄謂之血枯耳。其實非血之枯，乃經之閉也。且經原非血也，乃天一之水，出自腎中，是至陰之精而有至陽之氣，故其色赤紅似血，而實非血，所以謂之天癸。世人以經為血，此千古之誤，牢不可破。倘果是血，何不名之曰血水，而曰經水乎！古昔聖賢創呼經水之名者，原以水出於腎，乃癸干之化，故以名之。無如世人沿襲而不深思其旨，皆以血視之，然則經水早斷，似乎腎之衰涸，吾以為心、肝、脾氣之郁者，蓋以腎水之生，原不由於心、肝、脾，而腎水之化，實有關於心、肝、脾。使水位之下無土氣以承之，則水濫滅火，腎氣不能化；火位之下無水氣以承之，則火炎鑠金，腎氣無所生；木位之下無金氣以承之，則木妄破土，腎氣無以成。倘心、肝、脾有一經之郁，則其氣不能入於腎中，腎之氣即鬱而不宣矣。況心、肝、脾俱郁，即腎氣真足而無虧，尚有茹而難吐之勢，矧腎氣本虛，又何能盈滿而化經水外泄耶！經日：「亢則害，」此之謂也。此經之所以閉塞有似乎血枯，而實非血枯耳。治法必須散心、肝、脾之郁，而大補其腎水，仍大補其心、肝、脾之氣，則精溢而經水自通矣。方用益經湯：</p>
<p>大熟地（一兩，九蒸）　白朮（一兩，土炒）　當歸（五錢，酒洗）　山藥（五錢，炒）　生棗仁（三錢，搗碎）　山藥（三錢，酒炒）　沙參（三錢）　丹皮（二錢）　人參（二錢）　杜仲（一錢，炒黑）　柴胡（一錢）</p>
<p>水煎。連服八劑而經通矣，服三十劑而經不再閉，兼可受孕。此方心、肝、脾、腎四經同治藥也。妙在補以通之，散以開之。倘徒補則鬱不開而生火，徒散則氣益衰而耗精。設或用攻堅之劑，辛熱之品，則非徒無益，而又害之矣。</p>

<h2>種子</h2>

<h3>身瘦不孕二十九</h3>
<p>婦人有瘦怯身軀，久不孕育，一交男子即臥病終朝。人以為氣虛之故，誰知是血虛之故乎！或謂血藏於肝，精涵於腎，交感乃泄腎之精，與血虛何與？殊不知肝氣不開，則精不能泄，腎精既泄，則肝氣亦不能舒。以腎為肝之母，母既泄精，不能分潤以養其子，則木燥乏水，而火且暗動以鑠精，則腎愈虛矣。況瘦人多火，而又泄其精，則水益少而火益熾。水雖制火，而腎精空乏，無力以濟，成火在水上之卦，所以倦怠而臥也。此等之婦，偏易動火，然此火因貪欲而出於肝木之中，又是虛燥之火，絕非真火也。且不交合則己，交合又偏易走泄，此陰虛火旺，不能受孕。即偶爾受孕，必致逼干男子之精，隨種而隨消者有之。治法必須大補腎水而平肝木，水旺則血旺，血旺則火消，便成水在火之卦。方用養精種玉湯：</p>
<p>大熟地（一兩，九蒸）　當歸（五錢，酒洗）　白芍（五錢，酒炒）　山萸肉（五錢，蒸熟）</p>
<p>水煎。服三月便可身健受孕，斷可種子。此方之用，不特補血，而純於填精，精滿則子宮易於攝精，血足則子宮易於容物，皆有子之道也。惟是貪欲者多，節欲者少，往往不驗。服此者果能節欲三月，心靜神清，自無不孕之理。否則不過身體壯健而已，勿咎方之不靈也。</p>

<h3>胸滿不思食不孕三十</h3>
<p>婦人有飲食少思，胸膈滿悶，終日倦怠思睡，一經房事，呻吟不已，人以為脾胃之氣虛也，誰知是腎氣不足乎！夫氣宜升騰，不宜消降，升騰於上焦，則脾胃易於分運；降陷於下焦，則脾胃難於運化。人乏水穀之養，則精神自爾倦怠，脾胃之氣可升而不可降也明甚。然則脾胃之氣，雖充於脾胃之中，實生於腎之內。無腎中之水氣，則胃之氣不能騰；無腎中之火氣，則脾之氣不能化。惟有腎之水火二氣，而脾胃之氣始能升騰而不降也。然則補脾胃之氣，可不急補腎中水火之氣乎？治法必以補腎氣為主，但補腎而不兼補脾胃之品，則腎之水火二氣不能提於至陽之上也。方用並提湯：</p>
<p>大熟地（一兩，九蒸）　巴戟（一兩，鹽水浸）　白朮（一兩，土炒）　人參（五錢）　黃耆（五錢，生用）　山萸肉（三錢，蒸）　枸杞（二錢）　柴胡（五分）</p>
<p>水煎。服三月而腎氣大旺，再服一月未有不能受孕者。此方補氣之藥多於補精，似乎以補脾胃為主矣，孰知脾胃健而生精自易，是補脾胃之氣與血，正所以補腎之精與水也。又益以補精之味，則陰氣自足，陽氣易升，自爾騰越於上焦矣。陽氣不下陷，則無非大地陽春，隨遇皆是生化之機，安有不受孕之理與。</p>

<h3>下部冰冷不受孕三十一</h3>
<p>婦人有下身冰冷，非火不暖，交感之際，陰中絕無溫熱之氣，人以為天分之薄也，誰知是胞胎寒之極乎！夫寒冰之地，不生草木；重陰之淵，不長魚龍。今胞胎既寒，何能受孕？雖男子鼓勇力戰，其精甚熱，直射於子宮之內，而寒冰之氣相逼，亦不過茹之於暫，而不能不吐之於久也。夫猶是人也，此婦之胞胎，何以寒涼至此？豈非大分之薄乎！非也。蓋胞胎居於心腎之間，上繫於心而下繫於腎，胞胎之寒涼，乃心腎二火之衰微也。故治胞胎者，必須補心腎二火而後可。方用溫胞飲：</p>
<p>附子（三分，制）　白朮（一兩，土炒）　巴戟（一兩，鹽水浸）　人參（三錢）　杜仲（三錢，炒黑）　菟絲子（三錢，酒浸炒）　山藥（三錢，炒）　芡實（三錢，炒）　肉桂（二錢，研兌）　補骨脂（二錢，鹽水炒）</p>
<p>水煎，服一月而胞胎熱。此方之妙，補心而即補腎，溫腎而即溫心。心腎之氣旺，則心腎之火自生。心腎之火生，則胞胎之寒自散。原因胞胎之寒，以至茹而即吐，而今胞胎既熱矣，尚有施而不受者乎？若改湯為丸，朝夕吞服，尤能攝精，斷不至有伯道無兒之嘆也。</p>

<h3>胸滿少食不受孕三十二</h3>
<p>婦人有素性恬淡，飲食少則平和，多則難受，或作嘔泄，胸膈脹滿，久不受孕，人以為賦稟之薄也，誰知是脾胃虛寒乎！夫脾胃之虛寒，原因心腎之虛寒耳。蓋胃土非心火不能生，脾土非腎火不能化，心腎之火衰，則脾胃失生化之權，即不能消水穀以化精微矣。既不能化水穀之精微，自無津液以灌溉於胞胎之中。欲胞胎有溫暖之氣，以養胚胎，必不可得。縱然受胎而帶脈無力，亦必墮落。此脾胃虛寒之咎，故無玉麟之毓也。治法可不急溫補其脾胃乎？然脾之母原在腎之命門，胃之母原在心之包絡，欲溫補脾胃，必須補二經之火，蓋母旺子必不弱，母熱子必不寒，此子病治母之義也。方用溫土毓麟湯：</p>
<p>巴戟（一兩，去心酒浸）　覆盆子（一兩，酒浸蒸）　白朮（五錢，土炒）　懷山藥（五錢，炒）　人參（三錢）　神麯（一錢，炒）</p>
<p>水煎。服一月可以種子矣。此方之妙，溫補脾胃而又兼補命門與心包絡之火，藥味不多而四經並治。命門心包之火旺，則脾與胃無寒冷之慮。子母相順，一家和合，自然飲食多而善化，氣血旺而能任，帶脈有力，不慮落胎，安有不玉麟之育一哉！</p>

<h3>少腹急迫不受孕三十三</h3>
<p>婦人有少腹之間自覺有緊迫之狀，急而不舒，不能生育，此人人之所不識也，誰知是帶脈之拘急乎！夫帶脈繫於腰臍之間，宜弛而不宜急。今帶脈之急者，由於腰臍之氣不利也；而腰臍之氣不利者，由於脾胃之氣不足也。脾胃氣虛，則腰臍之氣閉，腰臍之氣閉，則帶脈拘急，遂致牽動胞胎，精即直射於胞胎，胞胎亦暫能茹納，而力難負載，必不能免小產之慮。況人多不能節欲，安得保其不墜乎？此帶脈之急，所以不能生子也。治法宜寬其帶脈之急，而帶脈之急不能遽寬也。宜利其腰臍之氣，而腰臍之氣不能遽利也，必須大補其脾胃之氣與血，而腰臍可利，帶脈可寬，自不難於孕育矣。方用寬帶湯：</p>
<p>白朮（一兩，土炒）　巴戟肉（五錢，酒浸）　大熟地（五錢，九蒸）　人參（三錢）　麥冬（三錢，去心）　杜仲（三錢，炒黑）　肉蓯蓉（三錢，洗淨）　白芍（三錢，酒炒）　補骨脂（一錢，鹽水炒）　當歸（二錢，酒洗）　五味子（三分，炒）　建蓮子（二十粒，不去心）</p>
<p>水煎。服四帖少腹無緊迫之狀，服一月即受胎。此方之妙，脾胃兩補，而又利其腰臍之氣，自然帶脈寬舒，可以載物而勝任矣。或疑方中用五味、白芍之酸收，不增帶脈之急，而反得帶脈之寬，殊不可解。豈知帶脈之急，由於氣血之虛，蓋血虛則縮而不伸，氣虛則攣而不達。用芍藥之酸，以平肝木，則肝不克脾；用五味之酸，以生腎水，則腎能益帶，似相仿而實相濟也。何疑之有！</p>

<h3>嫉妒不孕三十四</h3>
<p>婦人有懷抱素惡，不能生子者，人以為天心厭之也，誰知是肝氣鬱結乎！夫婦人之有子也，必然心脈流利而滑，脾脈舒徐而和，腎脈旺大而鼓指，始稱喜脈。未有三部脈郁，而能生子者也。若三部脈郁，肝氣必因之而更郁，肝氣鬱，則心腎之脈必致郁之極而莫解。蓋子母相依，郁必不喜，喜必不郁也。其鬱而不能成胎者，以肝木不舒，必下克脾土，而致塞脾土之氣。塞則腰臍之氣必不利，腰臍之氣不利，必不能通任脈而達帶脈，則帶脈之氣亦塞矣。帶脈之氣既塞，則胞胎之門必閉，精即到門，亦不得其門而入矣，其奈之何哉？治法必解四經之郁，以開胞胎之門，則幾矣。方用開鬱種玉湯：</p>
<p>白芍（一兩，酒炒）　香附（三錢，酒炒）　丹皮（三錢，酒洗）　茯苓（三錢，去皮）　當歸（五錢，酒洗）　白朮（五錢，土炒）　花粉（二錢）</p>
<p>水煎。服一月則鬱結之氣開，郁開則無非喜氣之盈腹，而嫉妒之心亦可以一易，自然兩相合好，結胎於頃刻之間矣。此方之妙，解肝氣之郁，宣脾氣之困，而心腎之氣亦因之俱舒。所以腰臍利而任帶通達，不必啟胞胎之門，而胞胎自啟，不特治嫉妒者也。</p>

<h3>肥胖不孕三十五</h3>
<p>婦人有身體肥胖，痰涎甚多，不能受孕者，人以為氣虛之故，誰知是濕盛之故乎！夫濕從下受，乃言外邪之濕也，而肥胖之濕，實非外邪，乃脾土之內病也。然脾土既病，不能分化水穀，以養四肢，宜其身軀瘦弱，何以能肥胖乎？不知濕盛者多肥胖，肥胖者多氣虛，氣虛者多痰涎，外似健壯，而內實虛損也。內虛則氣必衰，氣衰則不能行水，而濕停於腸胃之間，不能化精而化涎矣。夫脾本濕土，又因痰多，愈加其濕，脾不能受，必浸潤於胞胎，日積月累，則胞胎竟變為汪洋之水窟矣。且肥胖之婦，內肉必滿，遮隔子宮，不能受精，此必然之勢也。況又加以水濕之盛，即男子甚健，陽精直達子宮，而其水勢滔滔，氾濫可畏，亦遂化精成水矣，又何能成妊哉？治法必須以泄水化痰為主。然徒泄水化痰，而不急補脾胃之氣，則陽氣不旺，濕痰不去，人先病矣，烏望其茹而不吐乎？方用加味補中益氣湯：</p>
<p>人參（三錢）　黃耆（三錢，生用）　當歸（三錢，酒洗）　半夏（三錢，制）　甘草（一錢）　柴胡（一錢）　白朮（一兩，土炒）　升麻（四分）　陳皮（五分）　茯苓（五錢）</p>
<p>水煎。服八帖，痰涎盡消；再十帖，水濕利，子宮涸出，易於受精而成孕矣。其在於昔，則如望洋觀海；而至於今，則是馬到成功也。快哉！此方之妙，妙在提脾氣而升於上，作云作雨，則水濕反利於下行；助胃氣而消於下，為津為液，則痰涎轉易於上化。不必用消化之味，以損其肥，而肥自無礙；不必有浚決之品，以開其竅，而竅自能通。陽氣充足，自能攝精；濕邪散除，自可受種，何肥胖不孕之足慮乎？</p>

<h3>骨蒸夜熱不受孕三十六</h3>
<p>婦人有骨蒸夜熱，遍體火焦，口乾舌燥，咳嗽吐沫，難於生子者，人以為陰虛火動也，誰知是骨髓內熱乎！夫寒陰之地，固不生物，而乾旱之田，豈能長養。然而骨髓與胞胎，何相關切？而骨髓之熱，即能使人不嗣，此前賢所未言者也。山一旦創言之，不幾為世俗所駭乎！而要知不必駭也，此中實有其理焉。蓋胞胎為五臟外之一臟耳，以其不陰不陽，所以不列於五臟之中。所謂不陰不陽者，以胞胎上繫於心包，下繫於命門。繫心包者，通於心，心者陽也；繫命門者，通於腎，腎者陰也。是陰之中有陽，陽之中有陰，所以通於變化，或生男，或生女，俱從此出。然必陰陽協和，不偏不枯，始能變化生人，否則否矣。況胞胎既通於腎，而骨髓亦腎之所化也。骨髓熱由於腎之熱，腎熱而胞胎亦不能不熱；且胞胎非骨髓之養，則嬰兒無以生骨；骨髓過熱，則骨中空虛，惟存火烈之氣，又何能成胎？治法必須清骨中之熱。然骨熱由於水虧，必補腎之陰，則骨熱除，珠露有滴濡之喜矣。壯水之主，以制陽光，此之謂也。方用清骨滋腎湯：</p>
<p>地骨皮（一兩，酒洗）　麥冬（五錢，去心）　元參（五錢，酒洗）　丹皮（五錢）　沙參（五錢）　五味子（五分，炒研）　白朮（三錢，土炒）　石斛（二錢）</p>
<p>水煎。連服三十帖而骨熱解，再服六十帖自受孕。此方之妙，補腎中之精，涼骨中之熱，不清胞胎而胞胎自無太熱之患。然陰虛內熱之人，原易受妊，今因骨髓過熱，所以受精而變燥，以致難於育子。本非胞胎之不能受精，所以稍補其腎，以殺其火之有餘。而益其水之不足，便易種子耳。</p>

<h3>腰痠腹脹不受孕三十七</h3>
<p>婦人有腰痠背楚，胸滿腹脹，倦怠欲臥，百計求嗣，不能如願，人以為腰腎之虛也，誰知是任督之困乎！夫任脈行於前，督脈行於後，然皆從帶脈之上下而行也。故任脈虛則帶脈墜於前，督脈虛則帶脈墜於後，雖胞胎受精，亦必小產。況任督之脈既虛，而疝瘕之症必起。疝瘕礙胞胎而外障，則胞胎縮於疝瘕之內，往往精施而不能受，雖餌以玉燕，亦何益哉？治法必須先去其疝瘕之病，而補其任督之脈，則提挈天地，把握陰陽，呼吸精氣，包裹成形，力足以勝任而無慮矣。外無所障，內有所容，安有不能生育之理，方用升帶湯：</p>
<p>白朮（一兩，土炒）　人參（三錢）　沙參（五錢）　荸薺粉（三錢）　鱉甲（三錢，炒）　茯苓（三錢）　肉桂（一錢，去粗研）　半夏（一錢，制）　神麯（一錢，炒）</p>
<p>水煎。連服三十帖而任督之氣旺，再服三十帖而疝瘕之症除。此方利腰臍之氣，正升補任督之氣也。任督之氣升，而疝瘕自有難容之勢。況方中有肉桂以散寒，荸薺以祛積，鱉甲之攻堅，茯苓之利濕，有形自化於無形，滿腹皆升騰之氣矣，何至受精而再墜乎哉？</p>

<h3>便澀腹脹足浮腫不受孕三十八</h3>
<p>婦人有小水艱澀，腹脹腳腫，不能受孕者，人以為小腸之熱也，誰知是膀胱之氣不化乎！夫膀胱原與胞胎相近，膀胱病而胞胎亦病矣。蓋水濕之氣，必走膀胱，而膀胱不能自化，必得腎氣相通，始能化水以出陰器，倘膀胱無腎氣之能，則膀胱之氣化不行，水濕之氣必且滲人胞胎之中，而成汪洋之勢。汪洋之田又何能生物也哉？治法必須壯腎氣，以分消胞胎之濕；益腎火，以達化膀胱之水，使先天之本壯，則膀胱之氣化，胞胎之濕除，而汪洋之田，化成雨露之壤矣。水化則膀胱利，火旺則胞胎暖，安有布種而不發生者哉？方用化水種子湯：</p>
<p>巴戟（一兩，鹽水浸）　白朮（一兩，土炒）　人參（三錢）　肉桂（一錢，去粗研）　菟絲子（五錢，酒炒）　芡實（五錢，炒）　茯苓（五錢）　車前（二錢，酒炒）</p>
<p>水煎。服二劑，膀胱之氣化；四劑，艱澀之症除；又十劑，虛脹腳腫之病形消；再服六十帖，腎氣大旺，胞胎溫暖，易於受胎而生育矣。此方利膀胱之水，全在補腎中之氣；暖胞胎之氣，全在壯腎中之火。至於補腎之藥，多是濡潤之品，不以濕而益助其濕乎？然方中之藥，妙於補腎之火，而非補腎之水；尤妙於補火而無燥烈之虞，利水而非盪滌之猛。所以膀胱氣化，胞胎不濕，而發榮長養無窮與！</p>

<h1>女科下卷二</h1>
<p>（共三十九條，四十一症，四十二方，二法）</p>

<h2>妊娠</h2>

<h3>妊娠惡阻三十九</h3>
<p>婦人懷娠之後，噁心嘔吐，思酸解渴，見食憎惡，困倦欲臥。人皆曰妊娠惡阻也，誰知肝血太燥乎！夫婦人受妊，本於腎氣之旺也。腎旺，是以攝精。然腎一受精而成妊，則腎水生胎，不暇化潤於五臟；而肝為腎之子，日食母氣以舒。一日無津液之養，則肝氣迫索；而腎水不能應，則肝益急，肝急則火動而逆也。肝氣既逆，是以嘔吐噁心之症生焉。嘔吐縱不至太甚，而其傷氣則一也。氣既受傷，則肝血愈耗。世人用四物湯治胎前諸症者，正以其能生肝之血也。然補肝以生血，未為不佳，但生血而不知生氣，則脾胃衰微，不勝頻嘔，猶恐氣虛則血不易生也。故於平肝補血之中，加以健脾開胃之品以生陽氣，則氣能生血，尤益胎氣耳。或疑氣逆而用補氣之藥，不益助其逆乎？不知妊娠惡阻，其逆不甚；且逆是因虛而逆，非因邪而逆也。因邪而逆者，助其氣則逆增；因虛而逆者，補其氣則逆轉。況補氣於補血之中，則陰足以制陽，又何慮其增逆乎！宜用順肝益氣湯：</p>
<p>當歸（酒洗）　蘇子（炒研）　人參（各一兩）　白朮（土炒）　白芍（酒炒）　麥冬（去心各三錢）　茯苓（二錢）　熟地（五錢，九蒸）　陳皮（三分）　砂仁（一粒，炒研）　神麯（炒，一錢）</p>
<p>水煎服，一帖輕，二帖平，三帖全愈。此方平肝則肝逆除，補腎則肝燥息，補氣則血易生。凡胎病而少帶惡阻者，俱以此方投之，無不安，最有益於胎婦。其功更勝於四物焉。</p>

<h3>妊娠浮腫四十</h3>
<p>妊婦有至五個月，肢體倦怠，飲食無味，先兩足腫，漸至遍身、頭面俱腫。人以為濕氣使然也，誰知是脾肺氣虛乎？夫妊娠雖有按月養胎之分，其實不可拘於月數，總以健脾補肺為大綱。蓋脾統血、肺主氣，胎非血不蔭、非氣不生；脾健則血旺而蔭胎，肺清則氣旺而生子。苟肺衰則氣餒，氣餒則不能運氣於皮膚矣；脾虛則血少，血少則不能運血於肢體矣。氣與血兩虛，脾與肺失職，所以飲食難消，精微不化，勢必至氣血下陷，不能升舉；而濕邪即乘其所虛之處，積而成浮腫症，非由脾肺之氣血虛而然耶。治法當補其脾之血與肺之氣，不必祛濕而濕自無不去之理。方用加減補中益氣湯：</p>
<p>白朮（土炒）　人參（各五錢）　黃耆（生用）　當歸（酒洗，各三錢）　柴胡（一錢）　甘草（一分）　茯苓（一兩）　升麻　陳皮（各三分）</p>
<p>水煎服，四帖即愈，十帖不再犯。夫補中益氣湯之立法也，原是升提脾肺之氣，似乎益氣而不補血。然而血非氣不生，是補氣即所以生血。觀當歸補血湯用黃耆為君，則較著彰明矣。況濕氣乘脾肺之虛而相犯，未便大補其血，恐陰太盛而招陰也。只補氣而助以利濕之品，則氣升而水尤易散，血亦隨之而生矣。然則何以重用茯苓而至一兩，不幾以利濕為君乎？嗟嗟濕症，而不以此藥為君，將以何者為君乎？況重用茯苓於補氣之中，雖曰滲濕，而仍是健脾清肺之意。且凡利水之品，多是耗氣之藥，而茯苓與參、術合，實補多於利，所以重用之以分濕邪，即以補氣血耳。</p>

<h3>妊娠少腹疼四十一</h3>
<p>妊娠小腹作疼，胎動不安，如有下墜之狀。人只知帶脈無力也，誰知是脾腎之虧乎？夫胞胎雖繫於帶脈，而帶脈實關於脾腎。脾腎虧損，則帶脈無力，胞胎即無以勝任矣。況人之脾腎虧損者，非飲食之過傷，即色欲之太甚。脾腎虧，則帶脈急，胞胎所以有下墜之狀也。然則胞胎之系，通於心與腎，而不通於脾，補腎可也，何故補脾！然脾為後天，腎為先大；脾非先天之氣不能化，腎非後天之氣不能生；補腎而不補脾，則腎之精何以遽生也！是補後天之脾，正所以補先天之腎也；補先、後二天之脾與腎，正所以固胞胎之氣與血，脾腎可不均補乎！方用安奠二大湯：</p>
<p>人參（去蘆）　熟地（九蒸）　白朮（各一兩，土炒）　炙草（一錢）　枸杞（二錢）　山藥（炒）　山萸（蒸去核）　扁豆（炒去皮，各五錢）　杜仲（炒黑，三錢）</p>
<p>水煎服。一帖而疼止，二帖而胎安矣。夫胎動乃脾腎雙虧之症，非大用參、朮、熟地補陽補陰之品，斷不能挽回於頃刻。世人往往畏用參、術，或少用，以冀見功，所以寡效。此方正妙在多用也。</p>

<h3>妊娠口乾咽痛四十二</h3>
<p>妊婦至三四個月，自覺口乾舌燥，咽喉微痛，無津以潤，以至胎動不安，甚則血流如經水。人以為火動之極也，誰知是水虧之甚乎？夫胎也者，本精與血之相結而成。逐月養胎，古人每分經絡，其實均不離腎水之養。故腎水足而胎安，腎水虧而胎動。雖然腎水虧又何能動胎，必腎經之火動而胎始不安耳。然而火之有餘，仍是水之不足，所以火炎而胎必動。補水則胎自安，亦既濟之義也。惟是腎水不能遽生，必須滋補肺金。金潤則能生水，而水有逢源之樂矣。水既有本，則源泉混混矣，而火又何難制乎！再少加以清熱之品，則胎自無不安矣。方用潤燥安胎湯：</p>
<p>熟地（一兩，九蒸）　生地（三錢，酒炒）　山萸肉蒸　麥冬（去心，各五錢）　五味（一錢炒）　阿膠（蛤粉炒）　黃芩（酒炒）　益母（各二錢）</p>
<p>水煎服，二帖而燥息，再二帖而胎安。連服十帖，而胎不再動矣。此方專填腎中之精，而兼補肺。然補肺仍是補腎之意，故腎經不幹燥，則火不能灼胎，焉有不安之理乎！</p>

<h3>妊娠吐瀉腹疼四十三</h3>
<p>妊娠上吐下瀉，胎動欲墮，腹疼難忍，急不可緩，此脾胃虛極而然也。夫脾胃之氣虛，則胞胎無力，必有崩墜之虞；況又上吐下瀉，則脾與胃之氣，固吐瀉而愈虛，欲胞胎之無恙也得乎！然胞胎疼痛而究不至下墜者何也？全賴腎氣之故也。胞胎繫於腎而連於心，腎氣固則交於心，其氣通於胞胎，此胞胎之所以欲墜而不得也。但腎氣能固，則陰火必來生脾；心氣能通，則心火必來援胃。脾胃雖虛而未絕，則胞胎雖動而不墮，可不急救其脾胃乎？然脾胃當將絕而未絕之時，只救脾胃而難遽生，更宜補其心腎之火，使之生土，則兩相接續，胎自固而安矣。方用援土固胎湯：</p>
<p>人參　山藥（炒）　山萸（蒸去核，各一兩）　白朮（土炒，二兩）　附子（五分，制）　續斷　杜仲（炒黑）　菟絲子（酒炒）　枸杞（各三錢）　砂仁（三粒，炒，研）　炙草（一錢）　肉桂（二錢，去粗研）</p>
<p>水煎服，一帖而泄止，二帖而諸病盡愈矣。此方救脾胃之土十之八，救心腎之火十之二也。救火輕於救土者，豈以土欲絕而火末甚衰乎？非也。蓋土崩非重劑不能援，火衰雖小劑而可助。熱藥多用，必有太燥之慮，不比溫甘之品也。況胎動系土衰而非火弱，何用太熱！妊娠忌桂、附，是恐傷胎，豈可多用！小熱之品，計之以錢；大熱之品，計之以分者，不過用以引火而非用以壯火也，其深思哉！</p>

<h3>妊娠子懸脅疼四十四</h3>
<p>妊娠有懷抱憂鬱，以致胎動不安，兩脅悶而疼痛如弓上弦。人止知是子懸之病也，誰知是肝氣不通乎？夫養胎半繫於腎水，然非肝血相助，則腎水實有獨力難支之勢，故保胎必滋腎水，而肝血斷不可不顧。使肝氣不郁，則肝之氣不閉，而肝之血必旺。自然灌溉胞胎，合腎水而並脅養胎之力。今肝氣因憂鬱而閉塞，則胎無血蔭，腎難獨任，而胎安得不上升以覓食？此乃鬱氣使然也，莫認為子之欲自懸，而妄用泄子之品則得矣。治法宜開肝氣之鬱結，補肝血之燥干，則子懸自定矣。方用解鬱湯：</p>
<p>人參（一錢）　白朮（五錢，土炒）　白茯苓　山梔子（炒，各三錢）　當歸（酒洗）　白芍（酒炒，各一兩）　枳殼（炒，五分）　砂仁（三粒，炒，研）　薄荷（二錢）</p>
<p>水煎服，一帖而悶痛除，二帖而子懸定，至三帖而全安。去梔子再多服數帖，不復發，此乃平肝解鬱之聖藥。郁開則木不剋土，肝平則火不妄動。方中又有健脾開胃之品，自然水精四布，而肝與腎有潤澤之機，則胞胎自無乾燥之患，又何慮上懸之不愈哉！</p>

<h3>妊娠跌損四十五</h3>
<p>妊婦有失足跌損，致傷胎元，腹中疼痛，勢如將墮者。人只知是外傷之為病也，誰知有內傷之故乎？凡人內無他症，胎元堅固，即或跌，撲、閃、挫，依然無恙。惟內之氣血素虧，故略有閃挫，胎便不安。若止作閃挫外傷治，斷難奏功，且恐有因治而反墮者，可不慎與！必須大補氣血，而少加以行瘀之品，則瘀散胎安矣。但大補氣血之中，又宜補血之品多於補氣之藥，則無不得之。方用救損安胎湯：</p>
<p>當歸（酒洗）　生地（酒炒，各一兩）　白芍（酒炒）　蘇木（搗碎，各三錢）　白朮（土炒，五錢）　乳香（去油）　沒藥（去油）　炙草　人參（各一錢）</p>
<p>水煎服，一帖而疼痛止，二帖而勢不下墜矣，不必三帖也。此方之妙，妙在既能去瘀而不傷胎，又能補氣補血而不凝滯，固無通利之害，亦痊跌閃之傷，有益無損，大建奇功，即此方與？然不特治懷孕之閃挫也。即無娠，閃挫亦可用之。</p>

<h3>妊娠小便下血病名胎漏四十六</h3>
<p>妊婦有胎不動，腹不疼，而小便中時常有血流出者。人以為血虛胎漏也，誰知氣虛不能攝血乎？夫血只能蔭胎，而胎中之蔭血必賴氣以衛之。氣虛下陷，則蔭胎之血亦隨氣而陷矣。然則氣虛下陷而血未嘗虛，不應與氣同陷也。不知氣乃血之衛，血賴氣以固；氣虛則血無憑依，無憑依必躁急，躁急必生邪熱。血寒則靜，血熱則動，動則外出而莫能遏，又安得不下流乎！倘氣不虛而血熱，則必大崩而不止些微之漏矣。治法宜補其氣之不足，而泄其火之有餘，則血不必止而自無不止矣。方用助氣補漏湯：</p>
<p>人參（一兩）　白芍（酒炒，五錢）　黃芩（酒炒黑）　生地（各三錢，酒炒黑）　益母草　甘草（各一錢）　續斷（二錢）</p>
<p>水煎服，一帖而血止，二帖再不漏矣。此方用人參以補陽氣，用黃芩以泄陰火，火泄則血不熱，而無欲動之機。氣旺則血有依，而無可漏之竅。氣血俱旺而和協，自然歸經而各安其所矣，又安有漏泄之患哉！</p>

<h3>妊娠子鳴四十七</h3>
<p>妊婦懷胎，至七八個月，忽然兒啼腹中，腰間隱隱作痛。人以為胎熱之過也，誰知是氣虛之故乎？夫兒之在胞胎也，全憑母氣以化成。母呼兒亦呼，母吸兒亦吸，未嘗有一刻之間斷。至七八個月，則母氣必虛矣，兒不能隨母之氣以為呼吸，必有迫不及待之勢。母子原相依為命，子失母之氣，則拂子之意，而啼於腹中，似可異而究不必異。病名子鳴，氣虛甚也。治宜大補其氣，使母之氣與子氣和合，則子之意安而啼亦息矣。方用扶氣止啼湯：</p>
<p>黃耆（生用）　麥冬（去心）　人參（各一兩）　當歸（五錢，酒洗）　橘紅（五錢）　甘草　花粉（各一錢）</p>
<p>水煎服，一帖而啼即止，二帖不再啼。此方用人參、黃耆、麥冬以補肺氣，使肺氣旺，則胞胎之氣亦旺；胞胎之氣旺，則胞中之子氣有不隨母之氣以為呼吸者，未之有也。</p>

<h3>妊娠腰腹疼、渴、汗、躁、狂四十八</h3>
<p>婦人懷妊，有口渴汗出，大飲冷水，而煩躁發狂，腰腹疼痛，以致胎欲墮者。人莫不謂火盛之極也，抑知是何經之火盛乎？此乃胃火炎熾，熬煎胞胎之水，以致胞胎之水涸，胎失所養，故動而不安耳。夫胃為水穀之海，多氣多血之經，所以養五臟六腑者。蓋萬物皆生於土，土氣厚而物始生，土氣薄而物必死。然土氣之所以能厚者，全賴火氣之來生也。胃之能化水穀者，亦賴火氣之能化也。今胃中有火，宜乎生土，何以火盛而反致害乎？不知無火難以生土，而火多又能爍水。雖土中有火，土不死，然亦必有水方不燥。使胃火太旺，必致爍於腎水；土中無水，則自潤不足，又何以分潤胞胎！土爍之極，火勢炎蒸，犯心越神，兒胎受逼，安得不下墜乎！經所謂「二陽之病，發心脾」者，正此義也。治法必須瀉火滋水，使水氣得旺，則火氣自平，火平則汗狂躁渴自除矣。方用息焚安胎湯：</p>
<p>生地（一兩，酒炒）　白朮（土炒）　青蒿（各五錢）　茯苓　人參（各三錢）　知母　花粉（各二錢）</p>
<p>水煎服，一帖而狂少平，二帖而狂大定，三帖而火盡解，胎亦安矣。此方藥料頗重，恐人慮不勝而不敢全用，又不得不再為囑之，懷胎而火勝，若此非大劑何以能蠲？火不息，則狂不止，而胎能安耶？況藥料雖多，均是滋水之味，益而無損，勿過慮也。</p>

<h3>妊娠中惡四十九</h3>
<p>婦人懷子在身，痰多吐涎，偶遇鬼神祟惡，忽然腹中疼痛，胎向上頂。人疑為「子懸」之病也，誰知是中惡而胎不安乎？大凡不正之氣，最易傷胎，故有孕之婦，斷不宜人廟燒香，與僻靜陰寒之地，如古洞幽巖皆不可登。蓋邪祟多在神字潛蹤，幽隱巖洞亦其往來遊戲之所，觸之最易相犯，不可不深戒也。況孕婦又多痰涎，眼目易眩；眼目一眩，如有妄見，此招祟之因痰而起也。人云「怪病每起於痰」，其信然與！治法似宜以治痰為主，然治痰必至耗氣，氣虛而痰難消化，胎必動搖。必須補氣以生血，補血以活痰，再加以清痰之品，則氣血不虧，痰亦化矣。方用消惡安胎湯：</p>
<p>當歸（酒洗）　白芍（酒炒，各一兩）　白朮（土炒）　茯苓（各五錢）　人參　花粉（各三錢）　甘草　蘇葉　沉香（研末，各一錢）　陳皮（五分）</p>
<p>此方大補氣血，輔正邪自除之義也。</p>

<h3>妊娠多怒墮胎五十</h3>
<p>婦人有懷妊之後，未至成形或已成形，其胎必墮。人皆曰氣血衰微不能固胎之，誰知是性急怒多，肝火大動而不靜乎？夫肝本藏血，肝怒則不藏，不藏則血難固。蓋肝雖屬木，而木中實寄龍雷之火，所謂相火是也。相火宜靜不宜動，靜則安，動則熾。況木中之火又易動而難靜，人生無日無動之時，即無日非動火之時，大怒則火益動矣。火動而不可止遏，則火勢飛揚，不能生氣養胎，而反食氣傷精矣。精傷則胎無所養，勢必不墜而不已。經所謂「少火生氣，壯火食氣」，正此義也。治法宜平其肝中之火，利其腰臍之氣，使氣生夫血，而血清其火，則庶幾矣。方用利氣瀉火湯：</p>
<p>人參　當歸（酒洗）　芡實（炒，各三錢）　白朮（一兩，土炒）　熟地（九蒸）　白芍（各五錢，酒炒）　甘草（一錢）　黃芩（二錢，酒炒）</p>
<p>水煎服。六十帖而胎不墜矣。此方名雖利氣，而實補氣也。然補氣而不加以瀉火之品，則氣旺而火不能平，必反害其氣也。故加黃芩於補氣之中以瀉火，又有熟地、歸、芍以滋肝；而壯水之主，則血不燥而氣得和，怒氣息而火自平，不必利氣而氣無不利，即無往而不利矣。</p>

<h2>小產</h2>

<h3>行房不慎小產五十一</h3>
<p>好婦因行房癲狂，遂致小產，血崩不止。人以為火動之極也，誰知是氣脫之故乎？大凡婦人之懷妊也，賴腎水以蔭胎。水源不足，則火易沸騰，加以久戰不已，則火必大動，再至興酣癲狂，精必大泄。精大泄，則腎水益涸，而龍雷相火益熾，水火兩病，胎不能固而墮矣。胎墮而火猶未息。故血隨火而崩下，有不可止遏之勢。人謂火動之極，亦未為大誤也。但血崩本於氣虛，火盛本於水虧。腎水既虧，則氣之生源涸矣。氣源既涸，而氣有不脫者乎？此火動是標，而氣脫是本也。經云：「治病必求其本，本固則標自立矣。」若只以止血為主，而不急固其氣，則氣散不能速回，而血何由止？不大補其精，則水涸不能遽長，而火且益熾。不揣其本而齊其末，山未見有能濟者也。方用固氣填精湯：</p>
<p>人參　黃耆（生用）　大熟地（各一兩，九蒸）　三七（研末沖，三錢）　白朮（土炒）　當歸（酒洗，各五錢）　芥穗（二錢，炒黑）</p>
<p>水煎服，一帖而血止，二帖而身安，四帖而全愈。此方之妙，妙在不去清火，而惟補氣補精。其奏功獨神者，以諸藥濕潤，能除大熱也。蓋熱是虛，故補氣自能攝血，補精自能止血，意在本也。</p>

<h3>跌閃小產五十二</h3>
<p>妊婦有跌撲閃挫，遂致小產，血流紫塊，昏暈欲絕者。人皆曰瘀血作祟也，誰知是血室損傷乎？夫血室與胞胎相連，如唇齒之相依。胞胎有傷，則血室亦損，唇亡齒寒，理有必然也。然胞胎傷損而流血者，其傷淺；血室傷損而流血者，甚傷深。傷之淺者，疼在腹；傷之深者，暈在心。同一跌撲損傷，而未小產與己小產，治各不同。未小產而胎不安者，宜顧其胎，而不可輕去其血；己小產而血大崩，宜散其瘀，而不可重傷其氣。蓋胎已墮，血既脫而血室空虛，惟氣存耳。倘或再傷其氣，安保無氣脫之憂乎！經云：「血為營，氣為衛。」使衛有不固，則營無依而安矣。故必補氣以生血，新血生而瘀血自散矣。方用理氣散瘀湯：</p>
<p>黃耆（生用）　人參（各一兩）　當歸（酒洗）　薑炭（各五錢）　茯苓　丹皮（各三錢）　紅花（一錢）</p>
<p>水煎服，一帖而流血止，二帖而昏暈除，三帖而全安矣，此方用人參、黃耆以補氣，氣旺則血可攝也；用當歸、丹皮以生血，血生則瘀難留也；用紅花、黑姜以活血，血活則暈可除也；用茯苓以利水，水利則血易歸經也。</p>

<h3>大便乾結小產五十三</h3>
<p>好婦有口渴煩躁，舌上生瘡，兩唇腫裂，大便乾結，數日不得通，以致腹疼小產者。人皆曰大腸之火熱也，誰知是血熱爍胎乎？夫血所以養胎也，溫和則胎受其益；太熱則胎受其損。如其熱久爍之，則兒在胞胎之中，若有探湯之苦，難以存活，則必外越下奔，以避炎氣之逼迫。欲其胎之不墜也，得乎？然則血蔭乎胎，則血必虛耗。血者，陰也，虛則陽亢，亢則害矣。且血乃陰水所化，血日蔭胎，取給刻不容緩。而火熾，陰水不能速生以化血，所以陰虛火動；陰中無非火氣，血中亦無非火氣矣。兩火相合，焚逼兒胎，此胎之所以下墜也。治法宜清胞中之火，補腎中之精，則可已矣哉！或疑兒已下墜，何故再顧其胞血不蔭胎？何必大補其水？殊不知火動之極，以致胎墜，則胞中純是一團火氣，此火乃虛火也。實火可泄，而虛火宜於補中清之，則虛火易散，而真火可生。倘一味清涼以降火，全不顧胞胎之虛實，勢必至寒氣逼人，胃中生氣蕭索矣。胃乃二陽資養五臟者也。胃陽不生，何以化精微以生陰水乎？有不變為勞瘵者者幾希矣！方用加減四物湯：</p>
<p>熟地（五錢，九蒸）　白芍（生用）　山藥（炒）　丹皮（炒，各三錢）　當歸（一兩，酒洗）　川芎　山梔子（各一錢，炒）　山萸（二錢，蒸，去核。）</p>
<p>水煎服，四五帖而愈矣。</p>
<p>丹皮性極涼血，產後用之，最防陰凝之害，慎之。</p>

<h3>畏寒腹痛小產五十四</h3>
<p>妊婦有畏寒腹痛，因而墮胎者。人只知下部太寒也，誰知是氣虛不能攝胎乎？夫人生於火，亦養於火，非氣不充。氣旺則火旺，氣衰則火衰。人之所以坐胎者，受父母先天之真火也。先天之真火，即先天之真氣以成之，故胎成於氣，亦攝於氣。氣旺則胎牢，氣衰則如胎墮。胎日加長，而氣日加衰，安得不墮哉！況又遇寒氣外侵，則內之火氣更微；火氣微，則長養無資，此胎之不能不墮也。使當其腹疼之時，即用人參、乾薑之類補氣祛寒，則可以疼止而胎安。無如人拘於妊娠之藥禁，而不敢用，因致墮胎，而僅存幾微之氣。不急救氣，尚有何法？方用黃耆補氣湯：</p>
<p>黃氏（生用，二兩）　當歸（酒洗，一兩）　肉桂（五分，去精皮，研）</p>
<p>水煎服，五帖愈矣。倘認定是寒，大用辛熱，全不補氣與血，恐過於燥熱，反致亡陽而變危矣。</p>

<h3>大怒小產五十五</h3>
<p>妊婦有大怒之後，忽然腹疼吐血，因而墮胎；及墮胎之後，腹疼仍未止者。人以為肝之怒火未退也，誰知是血不歸經而然乎？夫肝所以藏血者也，大怒則血不能藏，宜失血而不當墮胎，何為失血而胎亦隨墮乎？不知肝性最急，血門不閉，其血直搗於胞胎。胞胎之系，通於心腎之間，肝血來沖，必斷絕心腎之路。胎因心腎之路斷，胞胎失水火之養，所以墮也。胎既墮矣，而腹疼如故者，蓋因心腎未接，欲續無計，彼此痛傷。肝氣欲歸於心而心不受，欲歸於腎而腎不納，故血猶未靜而疼無已也。治法宜引肝之血仍入於肝，而腹疼自已矣。然徒引肝之血，而不平肝之氣，則氣逆而不易轉，即血逆而不易歸也。方用引氣歸血湯：</p>
<p>白芍（酒炒）　當歸（各五錢，酒洗）　白朮（土炒）　黑芥穗　丹皮　麥冬（各三錢，去心）　甘草　鬱金（各一錢，醋炒）　薑炭　香附（各五分，酒炒）</p>
<p>水煎服。此方名為引氣，其實仍是引血也。引血亦所以引氣，氣歸於肝之中，血亦歸於肝之內。氣血兩歸，腹疼自止矣。</p>

<h2>難產</h2>

<h3>血虛難產五十六</h3>
<p>妊娠有腹疼數日，不能生產。人皆曰氣虛力弱，不能送子出門，誰知是血虛膠滯，胞中無血，兒難轉身乎？夫胎之成，成於腎臟之精；而胎之養，養於五臟六腑之血。故血旺則子易生，血衰則子難產。所以臨產之前，宜用補血之藥，補血而血不能遽生，必更兼補氣以生之。然不可純補其氣也，恐陽過於旺，則血仍不足，偏勝之害，必有升而無降，亦難產之漸也。防微杜漸，其惟氣血兼補乎！使氣血並旺，則氣能推送，而血足以濟之。是汪洋之中，自不難轉身也，又何有膠滯之患乎！方用送子丹：</p>
<p>當歸（酒洗）　麥冬（去心）　生黃耆（各一兩）　川芎（三錢）　熟地（五錢，九蒸）</p>
<p>水煎服。二帖而生矣，且無橫生倒產之患，此補血、補氣之藥也。二者相較，補血之味多於補氣之品。蓋補氣止用黃耆一味，其餘無非補血之品。血旺，氣得所養；氣生，血得所依，胞胎潤澤，自然易產。譬如舟遇水淺之處，雖大用人力，終難推行。忽逢春水氾濫，舟自躍躍欲行；再得順風以送之，有不揚帆而迅行者乎！</p>

<h3>交骨不開難產五十七</h3>
<p>妊婦有兒到產門，竟不能下，此危急存亡之時也。人以為胞胎先破，水乾不能滑利也，誰知是交骨不開之故乎？蓋產門之上，原有骨二塊，兩相鬥合，名曰「交骨」。未產之前，其骨自合，若天衣之無縫；臨產之際，其骨自開，如開門之見山。婦人兒門之肉，原自斜生，皮亦橫長，實可寬可窄，可大可小者也。苟非交骨連絡，則兒門必然大開，可以手入探取胞胎矣。此交骨為兒門之下關，實婦人鎖鑰之鍵。此骨不閉，則腸可直下；此骨不開，則兒難降生。然而交骨之能開能合者，氣血主之也。血旺而氣衰，則兒雖向下，而兒門不開；氣旺而血衰，則兒門可開，而兒難向下。是氣所以開交骨，血所以轉兒身也。欲生產之順利，非大補氣血不可。然交骨之閉甚易，而交骨之開甚難。臨產交骨不開者，多由於產前貪欲泄精太甚。精泄則氣血失生化之本，而大虧矣。氣血虧，則無以運潤於兒門，而交骨黏滯不開矣。故欲交骨之開，必須於補氣補血之中，而加開骨之品。兩相合治，自無不開之患，不必催生而兒自迅下，母子俱無恙矣。方用「降子湯」：</p>
<p>當歸　柞木枝（各一兩）　人參　川芎（各五錢）　紅花（一錢）　川牛膝（三錢）</p>
<p>水煎服，一劑兒門必響亮一聲，交骨開解而兒乃降生矣。此方用人參以補氣，芎、歸以補血，紅花以活血，牛膝以降下，柞木枝以開關解骨，君臣佐使同心協力，所以取效如神，在用開於補之中也。然單用柞本支，亦能開骨；但不補氣與血，恐開而難合，未免有下部中風之患；不若此方之能開能合之為神妙也。至於兒未臨門之時，萬不可先用柞木以開其門。然用降子湯亦正無妨，以其能補氣血耳。若欲單用柞木，必須候到門而後可。</p>

<h3>腳手先下難產五十八</h3>
<p>妊婦生產之際，有腳先下而兒不得下者，有手先下而兒不得下者。人以為橫生倒產，至危之症也，誰知是氣血兩虛之故乎？夫兒在胞胎之中，兒身正坐，男面向後，女面向前；及至生時，頭必旋轉而向下生，此天地造化之奇，非人力所能勉強者。雖然先天與後天原並行而不悖，天機之動，必得人力以濟之。所謂人力者，非產母用力之謂也，謂產母之氣與血耳。產母之氣血足，則胎必順；產母之氣血虧，則胎必逆。順則易生，逆則難產。氣血既虧，母身必弱，子在胞中亦必弱。胎弱無力，欲轉頭向下而不能，此胎之所以有腳手先下者也。當是之時，急用針刺兒之手足，則兒必痛而縮入，急用轉天湯以救順之：</p>
<p>人參　當歸（各二兩，酒洗）　川芎（一兩）　川牛膝（三錢）　升麻（四分）　製附子（一分）</p>
<p>水煎服。一帖而兒轉身矣，再二帖自然順生。此方之妙，用人參以補氣之虧，用芎、歸以補血之虧，人人皆知其義。若用升麻，又用牛膝、附子，恐人未識其妙也。蓋兒已身斜，非用提挈則頭不易轉；然轉其身，非用下行則身不易降。升麻、牛膝並用，而又用附子者，欲其無經不達，使氣血迅速以催生也。</p>

<h3>氣逆難產五十九</h3>
<p>婦人有生產數日，而胎不下者，服催生之藥，皆不見效。人以為交骨之難開也，誰知是氣逆不行而然乎？夫交骨不開，固是難產；然兒頭到產門而不能下者，方是交骨不開之故，自當用開骨之劑。若兒頭尚未到產門，乃氣逆不行，兒身難轉，非交骨不開之故也。若開其交骨，則兒門大開，兒頭未轉而向下，必致變症非常，是兒門萬萬不可輕開也。大凡生產之時，切忌坐草太早。若兒未轉頭，原難驟生，乃早於坐草，產婦見兒許久不下，未免心懷恐懼。恐則神怯，怯則氣下而不能升；氣既不升，則上焦閉塞，而氣乃逆矣。上氣既逆，而上焦必脹滿，而氣益難行。氣阻滯於上下之間，不利氣而徒催生，則氣愈逆而胎愈閉矣。治法但利其氣，兒自轉身而下矣。方用舒其散：</p>
<p>人參　當歸（各一兩，酒洗）　白芍（酒炒）　川芎（各五錢）　紫蘇梗（三錢）　牛膝（二錢）　陳皮（一錢）　柴胡（八分）</p>
<p>蔥白七寸。水煎服，一劑而逆氣轉，兒即下矣。此方利氣，而實補氣。蓋氣逆由於氣虛，氣虛易於恐懼，補其氣而恐懼自定。恐懼定，而氣逆者將莫知其何以定也，何必開交骨之多事乎哉！</p>

<h3>子死產門難產六十</h3>
<p>婦人有生產三四日，兒已到產門，交骨不開，兒不得下，子死而母未亡者。服開骨之藥不驗，當有死亡之危。今幸而不死者，正因其子死而胞胎下墜，子母離開，母氣已收，未至同子氣俱絕也。治但救其母，而不必顧其子矣。然死子在產門，塞其下口，有致母死之患。宜用推送之法，補血以生水，補氣以生血；使氣血兩旺，死子可出，而存母命也。倘徒用降子之劑以墜之，則死子未必下，而母氣先脫矣。非救援之善者也。山親見此等之症，常用救母丹活人頗多，故志之：</p>
<p>人參　川芎　益母草（各一兩）　當歸（酒洗，一兩）　赤石脂（一錢）　芥穗（炒黑，三錢）</p>
<p>水煎服。一帖而死子下矣。此方用芎、歸以補血，人參以補氣，氣旺血旺，則上能升而下能降，氣能推而血能送。況益母又善下死胎，石脂能下瘀血，自然一湧而出，無少阻滯矣。</p>

<h3>子死腹中難產六十一</h3>
<p>婦人有生產六七日，胞衣已破而子不見下。人以為難產之故也，誰知是子已死於腹中乎？夫兒死於兒門之邊易辨，而死於腹中難識。蓋兒已到產門之邊，未死者頭必能伸能縮，已死者必然不動，即以手推之，亦必不動如故。若系未死，用手少拔其兒之發，兒必退入，故曰易辨。若兒死在腹中何從而知之？然實有可辨而知之者，凡子死腹中而母可救者，產母之面必無煤黑之氣，是子死而母無死氣也。子死腹中而母難救，產母之面必有煙燻之氣，是子死而母亦無生機也。以此辨死生，斷斷不爽也。既知兒死腹中，不能用藥以降之，危道也；若用霸道以泄之，亦危道也。蓋生產至六七日，其母之氣必甚困乏，烏能勝霸道之治！如用霸道以強逐其死子，恐死子下而母亦立亡矣。必須仍補其母，使母之氣血旺，而死子自下也。方用療兒散：</p>
<p>人參（一兩）　當歸（二兩，酒洗）　川牛膝（五錢）　鬼臼（三錢，研，水飛）　乳香（二錢，去油）</p>
<p>水煎服。一帖死子下，而母生矣。凡兒之降生，必先轉其頭。原因其母氣血之虛，以致兒不能轉頭以向下。世人用催生之藥，以耗兒之氣血，則兒之氣不能通達，反致閉悶而死於腹中。此實庸醫殺之也。所以難產之疾，斷斷不可用催生之藥，只宜補氣補血，以壯其母，而全活嬰兒之命，正無窮也。此方救兒死之母，仍大補氣血，所以救其本也；誰知救本，即所以催生哉！</p>

<h2>正產</h2>

<h3>正產胞衣不下六十二</h3>
<p>產婦有兒已下地，而胞衣留滯於腹中，二三日不下，心煩意躁，時欲昏暈。人以為胞衣之蒂未斷也，誰知是血少乾枯，黏連於腹中乎？世人見胞衣不下，未免心懷疑懼，恐其沖之於心，而有死亡之兆。然而胞衣究何能上衝於心也？但胞衣不下，瘀血未免難行，恐有血暈之慮耳。治法仍宜大補其氣血，使生血以送胞衣，則胞衣自然潤滑，潤滑則易下生。氣以助生血，則血生自然迅速，尤易催墮也。方用送胞湯：</p>
<p>當歸（二兩，酒洗）　益母草　乳香（不去油）　沒藥（不去油，各一兩）　川芎（五錢）　芥穗（三錢，炒黑）　麝香（五錢，研，另沖）</p>
<p>水煎服，立下。此方以芎、歸補其氣血，以荊芥引血歸經，用益母、乳香等藥逐瘀而下胞衣。新血既生，則舊血難存；氣旺上升，而瘀濁自降，尚有留滯之苦哉？夫胞衣是包兒之一物，非依於子，即依於母，子生而不隨子俱下，以子之不可依也，故留滯於腹。若有回順其母之心，母胞雖已生子，而其蒂間之氣原未遽絕。所以留連欲脫而未脫，往往有存腹六七日不下，而競不腐爛者，正以其尚有生氣也。可見胞衣留腹不能殺人，補之而自降耳。或謂胞衣既有生氣，補氣補血，則胞衣亦宜堅牢，何以補之而反降也？不知子未下，補則益於子；子已下，補則益於母。益子而胞衣之氣連，益母而胞衣之氣脫。此胞胎之氣通則兩合，閉則兩開矣。故大補氣血，而胞衣反降也。</p>
<p>有婦人子下地五六日，而胞衣留於腹中，百計治之，竟不能下，而又絕無昏暈煩躁之狀。人以為瘀血之黏連也，誰知是氣虛不能推送乎？夫瘀血在腹，斷無不作祟之理，有則必然發暈。今安然無恙，是血已淨矣，血淨宜清氣升而濁氣降。今胞衣不下，是清氣下降而難升，遂至濁氣上浮而難降。然濁氣上升，又必有煩躁之病，今亦安然者，是清濁之氣兩不能生矣；然則補其氣，不無濁氣之上升乎？不知清升而濁降者，一定之理，未有清升而濁亦升者也。苟能於補氣之中，仍分其清濁之氣，則升清正所以降濁也。方用補中益氣湯：</p>
<p>人參（三錢）　生黃耆（一兩）　柴胡　升麻（各二分）　炙草（一分）　當歸（五錢）　白朮（土炒）　萊菔子（各五分，土炒）　陳皮（二分）</p>
<p>水煎服，一劑而胞衣自下矣。夫補中益氣湯乃提氣之藥也，並非推送之劑，何以能降胞衣如此之速也？然而濁氣之不降者，由於清氣之不升也。提其氣則清升而濁降；濁氣降則腹中所存之物即無不隨濁氣而盡降，正不必再用推送之法也，況又加萊菔子數分，能理濁氣，不致兩相扞格，所以奏功之奇也。</p>

<h3>正產氣虛血暈六十三</h3>
<p>婦人甫產兒後，忽然眼目昏花，嘔惡欲吐，中心無主，或神魂外越，恍若天上行雲。人以為惡血衝心之患也，誰知是氣虛欲脫而然乎？蓋新產之婦，血必盡傾，血室空虛，止存幾微之氣。倘其人陽氣素虛，不能生血；心中之血前已蔭胎，胎墮而心中之血亦隨胎而俱墮。心無血養，所賴者幾微之氣以固之耳。今氣又虛而欲脫而君心無護，所剩殘血欲奔回救主；而自非正血，不能歸經，內庭變亂，而成血暈之症矣。治法必須大補氣血，斷不可單治血暈也。或疑血暈是熱血上衝，而更補其血，不愈助其上衝之勢乎？不知新血不生，舊血不散；補血以生新血，正活血以逐舊血也。然血有形之物，難以速生；氣乃無形之物，易於迅發。補氣以生血，尤易於補血以生血耳。方用補氣解暈湯：</p>
<p>人參　生黃耆　當歸（各一兩，不酒洗）　黑芥穗（三錢）　薑炭（一錢）</p>
<p>水煎服，一帖而暈止，二帖而心定，三帖而血生，四帖而血旺，再不暈矣。此乃解暈之聖藥。用生耆以補氣，使氣壯而生血也，用當歸以補血，使血旺而養氣也。氣血兩旺，而心自定矣。用荊芥、薑炭引血歸經，用薑炭以行瘀引陽，瘀血去而正血歸，不必解暈而暈自解矣。一方之中，藥止五味，而其奏功之奇而大如此，其神矣乎！</p>

<h3>正產血暈不語六十四</h3>
<p>產婦有子方下地，即昏暈不語，此氣血兩脫也，本在不救。然救之得法，亦有能生者。山得岐天師秘訣，何敢隱而不宣乎！當斯之時，急用銀針刺其眉心，得血出則語矣。然後以人參一兩煎湯灌之，無不生者。即用黃耆二兩、當歸一兩，名「當歸補血湯」。煎湯一碗灌之，亦得生；萬不可於二方之中，輕加附子。蓋附子無經不達，反引氣血之藥，走而不守，不能專注於胞胎：不若人參、歸、耆直救其氣血之絕聚而不散也。蓋產婦昏暈，全是血室空虛，無心養心，以致昏暈。舌為心之苗；心既無主，而舌又安能出聲耶？夫眉心之穴，上通於腦，下通於舌，而其系則連於心。刺其眉心，則腦與舌俱通，而心之清氣上升，則瘀血自然下降矣。然後以參、耆、當歸之能補氣生血者，煎湯灌之，則氣與血接續，又何至於死亡乎！雖單用參、耆、當歸，亦有能生者，然終不若先刺眉心之為更妙。世人但知灸眉心之法，不知刺更勝於灸。蓋灸法緩而刺法急，緩則難於救絕，急則易於回生。所謂「急則治其標，緩則治其本」者，此也。</p>

<h3>正產敗血攻心暈狂六十五</h3>
<p>婦人有產後二三日，發熱，惡露不行，敗血攻心，狂言呼叫，甚欲奔走，拿提不定。人以為邪熱在胃之過，誰知是血虛心不得養而然乎？夫產後之血，盡隨胞胎而外越，則血室空虛，臟腑皆無血養。只有心中之血尚存幾微，以護心君；而臟腑失其所養，皆欲取給於心，心包為心君之宰相，攔絕各臟腑之氣，不許入心，始得心神安靜。是護心者，全藉心包之力也。使心包亦虛，不能障心，而各臟腑之氣遂直入於心，以分取乎心血。心包情急，既不能內顧其君，又不能外御乎眾；於是大聲疾呼，號鳴勤工，而其跡象反近於狂悖，有無可如何之勢。故病狀似熱而實非熱也。治法須大補心中之血，使各臟腑分取以自養，不得再擾乎心君，則心君泰然而心包亦安矣。方用安心湯：</p>
<p>當歸（二兩）　川芎（二兩）　生地（炒）　丹皮（各五錢，炒）　生蒲黃（二錢）　乾荷葉（一片引）</p>
<p>水煎服，一帖而狂定，惡露亦下矣。此方用芎、歸以養血，何以又用生地、丹皮之涼血？似非產後所宜。不知惡露所以奔心，原因虛熱相犯，於補中涼之，而涼不為害，況益之以荷葉，七竅相通，引邪外出。不惟內不害心，且佐蒲黃以分解乎惡露也。但只可暫用以定狂，不可多用以取咎也。謹之！慎之！</p>

<h3>正產腸下六十六</h3>
<p>產婦腸下，亦危症也。人以為兒門不關之故，誰知是氣虛下陷，而不能收乎？夫氣虛下陷，自宜用升提之藥以提其氣。然新產之婦，恐有瘀血在腹，一旦提氣，並瘀血升騰於上，則衝心之患又恐變出非常，是氣又不可競提也。氣既不可竟提，而氣又下陷，將用何法以治之哉！蓋氣之下陷者，因氣之虛也，但補其氣則氣旺，而腸自升舉矣。惟是補氣之藥少，則氣力薄而難以上升，必須以多為貴，則陽旺力強，斷不能降而不升矣。方用補氣升腸飲：</p>
<p>人參（去蘆）　生黃耆　當歸（各一兩，酒洗）　白朮（五錢，土炒）　川芎（三錢，酒洗）　升麻（一分）</p>
<p>水煎服，一帖而腸升矣。此方純於補氣，全不去升腸，即如用升麻一分，亦不過引氣而升耳。蓋升麻之為用，少則氣升，多則血升也，不可不知。又方用蓖麻仁四十九粒，搗塗頂心以提之，腸升即刻洗去，時久則恐吐血，此亦升腸之一法也。</p>

<h2>產後</h2>

<h3>產後少腹疼六十七</h3>
<p>婦人產後少腹疼痛，甚則結成一塊，按之愈疼。人以為兒枕之疼也，誰知是瘀血作祟乎？夫兒枕者，前人謂兒頭枕之物也。兒枕之不疼，豈兒生不枕而反疼，是非兒枕可知矣。既非兒枕，何故作疼？乃是瘀血未散，結作成團而作疼耳。凡此等症，多是壯健之婦，血有餘而非血不足也，似乎可用破血之藥。然血活則瘀自除，血結則瘀作祟，若不補血而反敗血，雖瘀血可消，畢竟耗損難免。不若於補血之中，以行逐瘀之法，則氣血不耗而瘀亦盡消矣。方用散結定疼湯：</p>
<p>當歸（一兩，酒洗）　川芎（五錢，酒洗）　丹皮（炒）　黑芥穗（各二錢）　益母草（三錢）　乳香（一錢，上油）　山楂（十粒，炒黑）　桃仁（七粒，泡，去皮尖，炒研）</p>
<p>水煎服，一帖而疼止而愈，不必再服也。此方逐瘀於補血之中，消塊於生血之內，妙在不專攻疼病而疼病止。彼世人一見兒枕之疼，動用元胡、蘇木、蒲黃、靈脂之類以化塊又何足論哉！</p>
<p>婦人產後少腹疼痛，按之即止。人亦以為兒枕之疼也，誰知是血虛而然乎？夫產後亡血過多，血室空虛，原能腹疼，十婦九然。但疼有虛實之分，不可不辨。如糟糖觸體光景，是虛疼而非實疼也。大凡虛痛宜補，而產後之虛疼尤宜補焉。惟是血虛之疼，必須用補血之藥，而補血之味多是潤滑之品，恐與大腸不無相礙。然產後血虛，腸多幹燥，潤滑正相宜也，何礙之有？方用腸寧湯：</p>
<p>當歸（酒洗）　熟地（各一兩，九蒸）　人參　麥冬（去心）　山藥（炒）　阿膠（各三錢，蛤粉炒）　續斷（一錢）　甘草（一錢）　肉桂（二分，去粗研）</p>
<p>水煎服，一帖而疼輕，二帖而疼止，多服更宜。此方補氣補血之藥也，然補氣而無太郁之憂，補血而無太滯之患，氣血既生，不必止疼而疼自止矣。</p>

<h3>產後氣喘六十八</h3>
<p>婦人產後氣喘，最是大危之症。苟不急治，立刻死亡。人只知是氣血之虛也，誰知是氣血兩脫乎？夫既氣血兩脫，人將立死，何又能作喘？然此血將脫，而氣猶未脫也；血將脫而氣欲挽之，而反上喘。如人救溺，援之而力不勝，又不肯自安於不救，乃召號同志以求助，故呼聲而喘作。其症雖危而可救處，正在能作喘也。蓋肺主氣，喘則肺氣似盛而實衰。當是之時，血將脫而萬難驟生，望肺氣之相救甚急，若赤子之望慈母。然而肺因血失，止存幾微之氣，自顧尚且不暇，又何能提挈乎血！氣不與血俱脫者幾希矣，是救血必須補氣也。方用救脫活母湯：</p>
<p>人參（二兩）　當歸（酒洗）　熟地（九蒸）　麥冬（各一兩，去心）　枸杞子　山萸（各五錢，蒸去核）　黑芥穗　阿膠（各二錢，蛤粉炒）　肉桂（一錢，去粗研）</p>
<p>水煎服，一帖而喘輕，二帖而喘減，三帖而喘定，四帖而全愈矣。此方用人參以接續元陽，然徒補其氣而不補其血，則陽燥而狂。雖回生於一時，亦旋得旋失之道。即補血而不補其肝腎之精，則本源不固，陽氣又安得而續乎！所以又用熟地、山萸、枸杞之類，以大補其肝腎之精，而後大益其肺氣則肺氣健旺，升提有力矣。特慮新產之後，用補陰之藥，膩滯不行，又加肉桂以補命門之火。使火氣有根，助人參以生氣，且能運化地黃之類以化精生血。若過於助陽，萬一血隨陽動，瘀而上行，亦非保全之策，更加荊芥以引血歸經，則肺氣安而喘速定。治幾其神乎！</p>

<h3>產後惡寒身顫六十九</h3>
<p>婦人產後惡寒噁心，身體顫，發熱作渴。人以為產後傷寒也，誰知是氣血兩虛，正不敵邪而然乎？大凡人之氣不虛，則邪斷難人。產婦失血既多，則氣必大虛。氣虛則皮毛無衛，邪原易入，正不必戶外之風來襲體也。即一舉一動，風即可乘虛而入之。然產後之婦，風易入而亦易出。凡有外邪之感，俱不必祛風，況產婦之惡寒者，寒由內生也；發熱者，熱由內弱也；身顫者，顫由氣虛也。治其內寒，而外寒自散。治其內弱，而外熱自解，壯其元陽，而身顫自除。方用十全大補湯：</p>
<p>人參　白朮（土炒）　茯苓（去皮）　當歸（各三錢，酒洗）　甘草（炙）　川芎（酒洗）　肉桂（各一錢，去粗研）　熟地（五錢，九蒸）　白芍（二錢，酒炒）　生黃耆（一兩）</p>
<p>水煎服，一帖而諸病悉愈。此方但補氣與血之虛，而不去散風與邪之實，正以正足而邪自除也。況原無邪氣乎！所以奏功之捷也。</p>

<h3>產後噁心嘔吐七十</h3>
<p>婦人產後噁心欲嘔，時而作吐。人皆曰胃氣之寒也，誰知是腎氣之寒乎？夫胃為腎之關，胃之氣寒，則胃氣不能行於腎之中；腎之氣寒，則腎氣亦不能行於胃之內。是腎與胃不可分而兩之也。惟是產後失血過多，必致腎水乾涸。腎水涸，應腎火上炎，當不至胃有寒冷之虞，何故腎寒而胃亦寒乎？蓋新產之餘，水乃遽然涸去，虛火尚不能生。火既不生，而寒之象自現。治法宜補其腎中之火，然火無水濟，則火在水上，未必不成火動陰虛之症。必須於水中補火，腎中溫胃，而後腎無太熱之患，胃有既濟之歡也。方用溫腎止嘔湯：</p>
<p>熟地（九蒸）　山萸（各五錢，蒸，去核）　巴戟（鹽水浸）　白朮（各一兩，土炒）　人參（三錢）　炮姜（一錢）　茯苓（二錢，去皮）　白蔻（一粒，研）　橘紅（五分，薑汁洗）</p>
<p>水煎服，一帖而嘔吐止，二帖而不再發，四帖而全愈矣。此方補腎之藥，多於治胃之品，然而治腎仍是治胃也。所以腎氣升騰而胃寒自解，不必用大熱之劑溫胃而去寒也。</p>

<h3>產後血崩七十一</h3>
<p>少婦產後半月，血崩昏暈，目見鬼神。人皆曰惡血衝心也，誰知是不慎房幃之過乎！夫產後業逾半月，雖不比初產之二三日，而氣血初生，尚未全復。即血路已淨，而胞胎之損傷未痊，斷不可輕於一試，以重傷其門戶。無奈少嬌之婦，氣血初復，不知慎養，欲心大動，貪合圖歡，以致血崩昏暈，目見鬼神。是心腎兩傷，不特胞胎門戶已也。明明是既犯色戒，又加酣戰，以致大泄其精。精泄而神亦隨之而欲脫，此等之症，乃自作之孽，多不可活，然於不可活之中，而思一急救之法，舍大補其氣與血，別無良法也。方用救敗求生湯：</p>
<p>人參　當歸（酒洗）　白朮（各二兩，土炒）　熟地（一兩，九蒸）　山萸（蒸）　山藥（炒）　棗仁（各五錢，生用）　附子（二分或一錢，自制）</p>
<p>水煎服，一帖而神定，二帖而暈止，三帖而血亦止矣。倘一服見效，連服三四天，減去一半，再服十帖，可慶更生。此方補氣以回元陽於無何有之鄉，陽回而氣回，自可攝血以歸神，生精而續命矣。</p>

<h3>產後手傷胞胎淋漓不止七十二</h3>
<p>婦人有生產之時，被穩婆手入產門，損傷胞胎，因而淋漓不止，欲少忍須臾而不能。人謂胞破不能再補也，孰知不然。夫破傷皮膚，尚可完補，豈破在腹內者獨不可治療！或謂破在外，可用藥外治以生皮膚；破在內，雖有靈膏無可救補。然破之在內者，外治雖無可施力，安必內治不可奏功乎？試思瘡傷之毒，大有缺陷，尚可服藥，以生肌肉。此不過收生不謹，小有所損，並無惡意，何難補其缺陷也！方用完胞飲：</p>
<p>人參　當歸（各一兩，酒洗）　白木（十兩，土炒）　茯苓（去皮）　益母草（各三錢）　生黃耆　川芎（各五錢）　紅花　白芨末（各一錢）　桃仁（十粒，泡，炒，研）</p>
<p>用豬、羊胞一個，先煎湯，後煎藥，飢服，十帖全愈。夫胞損宜用補胞之藥，何以反用補氣血之藥也？蓋生產本不可手探試，而穩婆竟以手探胞胎，以致傷損，則難產必矣。難產者，因氣血之虛也。產後大傷氣血，是虛而又虛矣。因虛而損，復因損而更虛。若不補其氣與血，而胞胎之破何以奏功乎？今之大補其氣血者，不啻飢而與之食，渴而與之飲也。則精神大長，氣血再造而胞胎何難不完乎！所以旬日之內便成功也。</p>

<h3>產後四肢浮腫七十三</h3>
<p>產後四肢浮腫，寒熱往來，氣喘咳嗽，胸膈不利，口吐酸水，兩脅疼痛。人皆曰敗血流於經絡滲於四肢，以致氣逆也，誰知是肝腎兩虛，陰不得出之陽乎？夫產後之婦，氣血大虧，自然腎水足，腎火沸騰。然水不足，則不能養肝，而肝木大燥，木中乏津，木燥火發，腎火有黨，子母兩焚，火焰直衝而上克肺金，金受火刑，力難制肝，而咳嗽喘滿之病生焉。肝火既旺，而下克脾土，土受木刑，力難制水，而四肢浮腫之病出焉。然而肝木之火旺，乃假象而非真旺也。假旺之氣若盛而實不足，故時而熱，時而寒，往來無定，乃隨氣之盛衰以為寒熱。而寒非真寒，熱亦非真熱，是以氣逆於胸膈之間而不舒耳！兩脅者，肝之部位也，酸者，肝之氣味也。吐酸，脅疼痛，皆肝虛而腎不能榮之象也。治法宜補血以養肝，補精以生血，精血足而氣自順，而寒熱、咳嗽浮腫之病悉退矣。方用轉氣湯：</p>
<p>人參　茯苓（去皮）　白朮（土炒）　山萸（蒸）　芡實（各三錢，炒）　當歸（酒洗）　白芍（酒炒）　山藥（各五錢，炒）　熟地（一兩，九蒸）　故紙（一錢，鹽水炒）　柴胡（五分）</p>
<p>水煎服，三帖效，十帖痊。此方皆是補血補精之品，何以名為「轉氣」耶？不知氣逆由於氣虛，乃是肝腎之氣虛也。補肝腎之精血，即所以補肝腎之氣也。蓋虛則逆，旺則順，是補即轉也。氣轉而各症盡愈，陰出之陽，則陰陽無格之虞矣。</p>

<h3>產後肉線出七十四</h3>
<p>婦人有產後水道中出肉線一條，長二三尺，動之則疼痛欲絕。人以為胞胎之下墜也，誰知是帶脈之虛脫乎？夫帶脈束於任督之間，任脈前而督脈後。二脈有力，則帶脈堅牢，二脈無力，則帶脈崩墜。產後亡血過多，無血以養任督而帶脈崩墜，力難升舉，故隨溺而墮下也。帶脈下垂，每每作痛於腰臍之間，況下墜者而出於產門之外，其失於關鍵也更甚，安得不疼痛欲絕乎！方用兩收湯：</p>
<p>人參　山藥（各一兩，炒）　白朮（土炒）　熟地（各二兩，九蒸）　川芎（酒洗）　巴戟（各三錢，鹽水浸）　山萸（四錢，蒸）　芡實（炒）　扁豆（炒）　杜仲（各五錢，炒黑）　白果（十粒，搗碎）</p>
<p>水煎服，一帖而收半，二帖而全收矣。此方補任督而仍補腰臍，蓋以任督連於腰臍也。補任督而不補腰臍，則任督無助，而帶脈何以升舉？惟兩補之，則任督得腰臍之助，帶脈亦得任督之力而收矣。</p>

<h3>產後肝痿七十五</h3>
<p>婦人產後陰戶中垂下一物，其形如帕，或有角，或二岐。人以為產𩴂也，誰知是肝痿之故乎？夫產後何以成肝痿也？蓋因產前勞役過傷，又觸動怪怒，以致肝不藏血，血亡過多，故肝之脂膜隨血崩墜，其形似子宮，而實非子宮也。若是子宮之下墜，狀如茄子，只到產門而不能越出於產門之外。唯肝之脂膜，往往出產門外者至六七寸許，且有黏席於落一片如手掌大者。如是子宮墜落，人立死矣，又安得能復生乎！治法宜大補其氣與血，而少加升提之品，則肝氣旺而易生，肝血旺而易養。肝得生養之力，而脂膜自收。方用收膜湯：</p>
<p>生黃耆（一兩）　人參　白朮（土炒）　白芍（各五錢，酒炒焦）　當歸（三錢，酒洗）　升麻（一錢）</p>
<p>水煎服，一帖即收矣。或疑產後禁用白芍，恐伐生氣之源，何以頻用之而奏功也？而未讀仲景之書者。嗟乎！白芍之在產後不可頻用者，恐其收斂乎瘀也，而謂伐生氣之源，則誤矣。況病之在肝者，尤不可以不用。且用之於大補氣血之中，在芍藥亦忘其為酸收矣，又何能少有作祟者乎！矧脂膜下墜，正借酸收之力，助升麻以提升氣血，所以奏功之捷也。</p>

<h3>產後氣血兩虛乳汁不下七十六</h3>
<p>婦人產後絕無點滴之乳。人以為乳管之閉也，誰知是氣與血之兩涸乎！夫乳乃氣血之所化而成也，無血固不能生乳汁，無氣亦不能生乳汁，然二者之中，血之化乳又不若氣之所化為尤速。新產之婦血已大虧，血本自顧不暇，又何能以化乳？乳全賴氣之力，以行血而化之也。今產後數日，而乳不下點滴之汁，其血少氣衰可知。氣旺則乳汁旺，氣衰則乳汁衰，氣涸則乳汁亦涸，必然之熱也。世人不知大補氣血之妙，而一味通乳，豈知無氣則乳無以化，無血則乳無以生，不幾向飢人而乞食，貧人而索金乎！治法宜僕氣以生血，而乳汁自下，不必利竅以通乳也。方名通乳丹：</p>
<p>人參　生黃耆（各一兩）　當歸（二兩，酒洗）　麥冬（五錢，去心）　木通　桔梗（各三分）　七孔豬蹄（二個，去爪殼）</p>
<p>水煎服，二劑而乳如泉湧矣。此方專補氣血以生乳汁，正以乳生於氣血也，產後氣血涸而無乳，非乳管之閉而無乳者可比。不去通乳而名「通乳丹」，亦因服之乳通而名之。今不通乳而乳生，即名「生乳丹」亦可。</p>

<h3>產後鬱結乳汁不通七十七</h3>
<p>少壯之婦於生產之後，或聞丈夫之嫌，或聽翁姑之淬，遂致兩乳脹滿疼痛，乳汁不通。人以為陽明之火熱也，誰知是肝氣之鬱結乎？夫陽明屬胃，乃多氣多血之府也。乳汁之化，原屬陽明。然陽明屬土，壯婦產後雖云亡血，而陽明之氣實未盡衰，必得肝木之氣以相通，始能化成乳汁，未可全責之陽明也。蓋乳汁之化，全在氣而不在血。今產後數日，宜其有乳，而兩乳脹滿作痛，是欲化乳而不可得，非氣鬱而何！明明是羞憤成郁，土木相結，又安能化乳而成汁也！治法宜大舒其肝木之氣，而陽明之氣血自通，而乳亦通矣，不必專去通乳也。方用通肝生乳湯：</p>
<p>白芍（醋炒）　當歸（酒洗）　白朮（土炒）　麥冬（去心，各五錢）　甘草熟地（各三分）　通草　柴胡　遠志（各一錢）</p>
<p>水煎服，一劑即通，不必再服也。</p>

<h1>產後編上卷共四十三症</h1>

<h2>產後總論</h2>
<p>凡病起於血氣之衰，脾胃之虛，而產後尤甚。是以丹溪先生論產後必大補氣血為先，雖有他症，以末治之，斯言盡治產之大旨。若能擴充立方，則治產可無過矣。夫產後憂驚、勞倦，氣血暴虛，諸症乘虛易入。如有氣毋專耗散，有食毋專消導；熱不可用芩、連；寒不可用桂、附。寒則血塊停滯，熱則新血崩流。至若中虛外感，見三陽表症之多似可汗也，在產後而用麻黃則重竭其陽；見三陰里症之多似可下也，在產後而用承氣，則重亡陰血。耳聾、脅痛乃腎虛惡露之停，休用柴胡；譫語、出汗乃元弱似邪之症，非同胃實。厥由陽氣之衰，無分寒熱，非大補不能回陽而起弱。痙因陰血之虧，不論剛柔，非滋榮不能舒筋而活絡。乍寒乍熱發作無期，症似瘧也，若以瘧治，遷延難愈。言論無倫，神不守舍，病似邪也，若以邪治，危亡可待。去血過多而大便燥結，肉蓯蓉加於生化，非潤腸承氣之能通。去汗過多而小便短澀，六君子倍加參、耆，必生津助液之可利。加參生化湯頻服，救產後之危；長生活命丹屢用蘇絕谷之人。㿗疝脫肛多是氣虛下陷，補中益氣之方；口噤拳攣乃因血燥類風加參生化之劑；產戶入風而痛甚宜服羌活養榮湯；玉門傷涼而不閉宜洗䗫兒硫磺散；怔忡驚悸，生化湯加以定志；似邪恍惚，安神丸助以歸脾；因氣而悶滿、虛煩，生化湯加木香為佐；因食而噯酸、惡食，六君子加神麯、麥芽為良。蘇木、莪朮大能破血；青皮、枳殼最消滿脹。一應耗氣破血之劑，汗、吐、宣、下之法，止可施諸壯實，豈宜用於胎產。大抵新產後先問惡露如何？塊痛未除，不可遽加參、術；腹中痛止，補中益氣無疑。至若亡陽脫汗，氣虛喘促，頻服加參生化湯是從權也。又如亡陰火熱，血崩厥暈，速煎生化原方是救急也。王太僕云：「治下補下治以急。」緩則道路達而力微，急則氣味厚而力重。故治產當遵丹溪而固本，服法宜效太僕以頻加。凡付生死之重寄，須著意如極危；欲求俯仰之無虧，用存心於愛物。此雖未盡產症之詳，然所聞一症皆援近鄉治驗為據，亦未必無小補云。</p>

<h2>產前、後方症宜忌</h2>

<h3>正產</h3>
<p>正產者有腹或痛或止腰脅痠痛，或勢急而胞未破，名弄胎，服八珍湯加香附自安。有胞破數日而痛倘緩，亦服上藥俟之。</p>

<h3>傷產</h3>
<p>傷產者胎未足月有所傷動，或腹痛臍痛，或服催生藥太早，或產母努力太過，逼兒錯路，不能正產。故臨月必舉動從容，不可多睡、飽食、飲酒，但覺腹中動轉即正身仰臥，待兒轉順，與其臨時費力，不如先時慎重。</p>

<h3>調產</h3>
<p>調產者，產母臨月擇穩婆、辦器用、備參藥。產時不可多人喧鬧，二人扶身或憑物站，心煩用滾水調白蜜一匙，獨活湯更妙，或飢服米粥少許，勿令飢渴。有生息未順者，只說有雙胎，或胎衣不下，勿令產母驚恐。</p>

<h3>催生</h3>
<p>催生者，因坐草太早，困倦難產，用八珍湯稍佐以香附、乳香以助血氣。胞衣早破，漿血已乾，亦用八珍湯。</p>

<h3>熱產</h3>
<p>熱產者，暑月宜溫涼得宜，若產室人眾，熱氣蒸逼，致頭痛、面赤、昏暈等症。宜飲清水少許以解之。然風、雨、陰涼亦當避之。</p>

<h3>凍產</h3>
<p>凍產者，天寒血氣凝滯，不能速生。故衣裳宜厚，產室宜暖，背心下體尤要。</p>

<h3>橫產</h3>
<p>橫產者，兒居母腹，頭上足下，產時則頭向下，產母若用力逼之，胎轉至半而橫。當令產母安然仰臥，令其自順。穩婆以中指挾其肩，勿使臍帶羈絆，用催生藥努力即生。</p>
<p>當歸　紫蘇（各三錢）　長流水煎服即下。</p>
<p>一方用好京墨磨服之即下。</p>
<p>一方用敗筆頭一個，火煅，以藕節自然汁調服即下。</p>
<p>一方用益母草六兩，濃煎，加童便一大杯調服即下。</p>

<h3>盤腸產</h3>
<p>盤腸產者，產則子腸先出，然後生子。其腸或未即收，以蓖麻子四十九粒，研碎塗頭上，腸收急急洗去，遲則有害。又方止用四十粒，去皮研為膏，塗頂中，收即拭之。如腸燥，以磨刀水潤之，再用磁石煎湯服之，須陰陽家用過有驗者。</p>

<h3>難產</h3>
<p>難產者，交骨不開，不能生產也。服加味芎歸湯良久即下。</p>
<p>小川芎　當歸（各一兩）　敗龜板（一個酒炙）　婦人發灰（一握，須用生過男女者，為末）</p>
<p>水一鍾，煎七分服。</p>

<h3>死產</h3>
<p>死產者，子死腹中也。驗母　青黑，其胎已死。先用平胃散一服，酒水各一鍾，煎八分，投朴硝煎服即下，用童便亦好，後用補劑調理。</p>

<h3>下胞</h3>
<p>胞衣不下，用滾酒送下失笑散一劑，或益母丸，或生化湯送鹿角灰一錢，或以產母發入口作吐，胞衣即出。有氣虛不能送出者，腹必脹痛，單用生化湯：</p>
<p>全當歸（一兩）　川芎（三錢）　白朮　香附（各一錢）　加人參（三錢更妙）</p>
<p>水煎服。</p>
<p>一方用蓖麻子二兩，雄黃二錢，研膏塗湧泉穴，衣下即速洗去。</p>
<p>平胃散：</p>
<p>南蒼朮（米泔水浸炒）　厚朴（姜炒）　陳皮　炙草（各二錢）</p>
<p>共為粗末，或水煎，或酒煎，煎成時加朴硝二錢，再煎一二沸，溫服。</p>
<p>失笑散：</p>
<p>五靈脂　蒲黃　俱研為細末，每服三錢，熱酒下。</p>

<h3>斷臍</h3>
<p>斷臍必以綿裹，咬斷為妙。如遇天寒，或因難產，母、子勞倦，宜以大麻油紙燃，徐徐燒斷，以助元氣。雖兒已死，令暖氣入臍多得生，切勿以刀斷之。</p>
<p>滑胎散：</p>
<p>臨月常服數劑，以便易生。當歸（三、五錢）　川芎（五、七錢）　杜仲（二錢）　熟地（三錢）　枳實（七分）　山藥（二錢）</p>
<p>水二鍾，煎八分，食前溫服。如氣體虛弱人，加人參、白朮隨宜服之；如便實多滯者，加牛膝二錢。</p>
<p>治產秘驗方：</p>
<p>治橫生逆產至數日不下，一服即下。有未足月，忽然胎動，一服即安。或臨月先一服，保護無慮。更能治胎死腹中及小產傷胎無乳者，一服即如原體。</p>
<p>全當歸　川芎（各一錢五分）　川貝母（一錢去心）　荊芥穗　黃耆（各八分）　厚朴（姜炒）　蘄艾　紅花（各七分）　菟絲子（一錢二分）　白芍（一錢二分，冬月不用）　枳殼（六分，麵炒）　羌活（六分，同上）　甘草（五分）</p>
<p>上十三味，只用十二味，不可加減。安胎去紅花；催生去蘄艾。用井水鍾半，姜三片為引，熱服。渣用水一鍾煎半鍾，熱服。如不好，再用水一鍾，煎半鍾服之即效，不用二劑。</p>
<p>催生免腦丸治橫生、逆生神效　臘月兔腦髓（一個）　母丁香（一個）　乳香（一錢另研）　麝香（一分）</p>
<p>兔腦為丸，芡實大。陰乾、密封，用時以溫酒送下一丸。</p>
<p>奪命丹：</p>
<p>臨產未產時，目反、口噤，面黑唇青，口中吐沫，命在須臾，若臉面微紅，子死母活，急用：蛇退　蠶故子（燒灰不存性）　發灰（一錢）　乳香（五分）　共為細末，酒下。</p>
<p>加味芎歸湯治子宮不收，產門不閉。</p>
<p>人參　當歸（各二錢）　黃耆　川芎（各一錢）　五味（十五粒）　升麻（八分）　炙草（四分）　再不收，加半夏（八分）　白芍（八分，酒炒）</p>

<h3>新產治法</h3>
<p>生化湯先連進二服。若胎前素弱，婦人見危症、熱症、墮胎，不可拘貼數，服至病退乃止。若產時勞甚，血崩、形脫，即加人參三四錢在內，頻服無虞。若氣促亦加人參。加參於生化湯者，血塊無滯，不可以參為補而勿用也。有治產不用當歸者，見偏之甚，此方處置萬全，必無一失。世以四物湯治產，地黃性寒滯血。芍藥微酸無補，伐傷生氣，誤甚。</p>

<h3>產後用藥十誤</h3>
<p>一因氣不舒而誤用耗氣、順氣等藥，反增飽悶，陳皮用至五分，禁枳實、厚朴。</p>
<p>二因傷氣而誤用消導，反損胃氣至絕谷，禁枳殼、大黃、蓬、稜、曲、樸。</p>
<p>三因身熱而誤用寒涼，必致損胃增熱，禁芩、連、梔、柏、升、柴。</p>
<p>四因日內未曾服生化湯，勿用參、耆、術，以致塊痛不消。</p>
<p>五毋用地黃以滯惡露。</p>
<p>六毋用枳殼、牛膝、枳實以消塊。</p>
<p>七便秘毋用大黃、芒硝。</p>
<p>八毋用蘇木、稜、蓬以行塊，芍藥能伐氣不可用。</p>
<p>九毋用山楂湯以攻塊、定痛而反損新血。</p>
<p>十毋輕服濟坤丹以下胎、下胞。</p>
<p>產後危疾諸症，當頻服生化湯，隨症加減，照依方論。</p>

<h3>產後寒熱</h3>
<p>凡新產後，榮衛俱虛，易發寒熱、身痛、腹痛，決不可妄投發散之劑。當用生化湯為主，稍佐發散之藥。產後脾虛，易於停食，以致身熱。世人見有身熱，便以為外感，遽然發汗，速亡甚矣。當於生化湯中加扶脾消食之藥。大抵產後先宜補血，次補氣。若偏補氣而專用參、耆，非善也。產後補虛，用參、耆、芎、歸、白朮、陳皮、炙草；熱輕則用茯苓淡滲之藥，其熱自除，重則加乾薑。或云大熱而用姜何也？曰：此熱非有餘之熱，乃陰虛內生熱耳。蓋乾薑能入肺分利肺氣，又能入肝分引眾藥生血，然必與陰血藥同用之。產後惡寒、發熱、腹痛者，當主惡血。若腹不痛，非惡血也。</p>
<p>產後寒熱、口眼歪邪，此乃氣血虛甚，以大補為主。左手脈不足，補血藥多於補氣藥。右手脈不足，補氣藥多於補血藥。切不可用小續命等發劑之藥。</p>

<h3>胎前患傷害、疫症、瘧疾、墮胎等症</h3>
<p>胎前或患傷寒、疫症、瘧疾，熱久必致墮胎，墮後愈增熱，因熱消陰血而又繼產失血故也。治者甚勿妄論傷寒、瘧疫未除，誤投梔子豉湯，柴、芩、連、柏等藥。雖或往來潮熱，大小便秘，五苓、承氣等藥斷不可用，只重產輕邪，大補氣血，頻服生化湯。如形脫、氣脫，如生脈散以防血暈。蓋川芎味辛能散，乾薑能除虛火。雖有便秘，煩渴等症，只多服生化湯，自津液生而二便通矣。若熱用寒劑，愈虛中氣，誤甚。</p>

<h2>產後諸症治法</h2>

<h3>血塊第一</h3>
<p>此症勿拘古方，妄用蘇木、蓬、稜以輕人命。其一應散血方、破血藥俱禁用。雖山楂性緩亦能害命，不可擅用，惟生化湯系血塊聖藥也。</p>
<p>生化湯原方：</p>
<p>當歸（八錢）　川芎（三錢）　桃仁（十四粒，去皮尖，研）　黑姜（五分）　炙草（五分）</p>
<p>用黃酒、童便各半煎服。</p>
<p>又益母九、鹿角灰就用生化湯送下一錢，外用烘熱衣服暖和塊痛處，雖大暑亦要和暖。塊痛處有氣不運而暈、迷、厥，切不可妄說惡血搶心，只服生化湯為妙。俗有生地、牛膝行血，山稜、蓬朮敗血，山楂、沙糖消塊，蘄艾、椒酒定痛，反致昏暈等症，切不可妄用。二、三、四日內，覺痛減可揉，乃虛痛也，宜加參生化湯。如七日內，或因寒涼食物結塊痛甚者，加入肉桂八分於生化湯內。如血塊未消，不可加參、耆，用之則痛不止。總之，慎勿用峻利藥，勿多飲薑、椒、艾、酒。頻服生化湯行氣助血，外用熱衣以暖腹。如用紅花以行之，蘇木、牛膝以攻之則誤。其胎氣脹用烏藥、香附以順之，枳殼、厚朴以舒之，甚有青皮、枳實、蘇子以下氣定喘，芩、連、梔子、黃柏以退熱除煩；至於血結更甚，反用承氣湯下之而愈結；汗多小便短澀，反用五苓散通之而愈秘，非徒無益而又害之也。</p>
<p>凡兒生下，或停血不下，半月外尚痛，或外加腫毒高寸許，或身熱減飲食倦甚，必用生化湯加三稜、蓬朮、肉桂等攻補兼治，其塊自消。如虛甚食少泄瀉，只服此帖定痛且健脾胃，迸食止瀉，然後服消塊湯。</p>
<p>加味生化湯治血塊日久不消，半月後方可用之。</p>
<p>川芎（一錢）　當歸（三錢）　黑姜（四分）　桃仁（十五粒）　三稜（六分，醋炒）　元胡　肉桂（各六分）　炙草（四分）</p>

<h3>血暈第二</h3>
<p>分娩之後眼見黑花，頭眩昏暈，不省人事者，一因勞倦甚而氣竭神昏；二因大脫血而氣欲絕；三因痰火乘虛泛上而神不守；當急服生化湯二三帖，外用韭菜細切，納有嘴瓶中，用滾醋二鍾，衝入瓶內，急衝於產母鼻中即醒。若偏信古方，認為惡血搶心而輕用散血之劑；認為疫火而用無補消降之方，誤甚矣。如暈厥牙關緊閉，速煎生化湯，挖開口將鵝毛探喉，酒盞盛而灌之。如灌下腹中漸溫暖，不可拘帖數，外用熱手在單衣上從心揉按至腹，常熱火暖之一二時，服生化湯四帖完即神清。始少緩藥方進粥，服至十服而安。故犯此者，連灌藥、火暖，不可棄而不救。若在冬月，婦人身欠暖，亦有大害。臨產時必予煎生化湯，予燒秤錘、硬石子，候兒下地，連服二三帖。又產婦枕邊行醋韭投醋瓶之法，決無暈症。又兒生時，閤家不可喜子而慢母；產母不可顧子而忘倦。又不可產訖即臥，或忿怒逆氣，皆致血暈。慎之慎之！</p>
<p><u>加味生化湯</u>（治產後三等血暈症）</p>
<p>川芎（三錢）　當歸（六錢）　黑姜（四分）　桃仁（十粒）　炙草（五分）　荊芥（四分，炒黑）　大棗</p>
<p>水煎服。</p>
<p>勞倦甚而暈及血崩氣脫而暈並宜速灌兩服。如形色脫或汗出而脫皆急服一帖，即加人參三四錢，一加肉桂四分，決不可疑參為補而緩服。痰火乘虛泛上而暈，方內加橘紅四分，虛甚加人參二錢；肥人多痰再加竹瀝七分，薑汁少許，總不可用稜、術破血等方。其血塊痛甚，兼送益母丸或鹿角灰，或元胡散，或獨勝散，上消血塊方服一服即效，不必易方，從權救急。</p>
<p><u>加參生化湯</u>（治產後形色脫暈或汗多脫暈）</p>
<p>人參（三錢，有倍加至五錢者）　川芎（二錢）　當歸（五錢）　炙草（四分）　桃仁（十粒）　炮姜（四分）　大棗</p>
<p>水煎服。</p>
<p>脈脫、形脫將絕之症，必服此方加參四五錢，頻頻灌之。產後血崩、血暈兼汗多宜服此方。無汗不脫只服本方不必加參。左尺脈脫亦加參。此方治產後危急諸症可通用，一晝一夜必須服三四帖。若照常症服，豈能接將絕之氣血，扶危急之變症耶！產後一二日，血塊痛雖未止，產婦氣血虛脫，或暈、或厥、或汗多、或形脫，口氣漸涼，煩渴不止，或氣喘急，無論塊痛，從權用加參生化湯，病勢稍退，又當減參，且服生化湯。</p>
<p>加減法：血塊痛甚加肉桂七分；渴加麥冬一錢、五味十粒；汗多加麻黃根一錢；如血塊不痛加炙黃耆一錢，以止汗；傷飯食、麵食加炒神麯一錢、麥芽五分，炒；傷肉食加山楂五個、砂仁四錢，炒。</p>

<h3>厥症第三</h3>
<p>婦人產有用力過多，勞倦傷脾，故逆冷而厥，氣上胸滿，脈去形脫，非大補不可，豈錢數川芎、當歸能回陽復神乎？必用加參生化湯倍參進二劑則氣血旺而神自生矣，厥自止矣。若服藥而反渴，另有生脈散，獨參代茶飲救臟之燥。如四肢逆冷，又瀉痢類傷寒陰症，又難用四逆湯，必用倍參生化湯加附子一片，可以回陽止逆，又可以行參、歸之力，立二方於左分先後。</p>
<p><u>加參生化湯</u>（治產後發厥、塊痛未止，不可加耆、術。）</p>
<p>川芎　人參（各二錢）　炙草（五分）　炮姜（四分）　桃仁（十粒去皮尖，研）　當歸（四錢）　棗</p>
<p>水煎。進二服。</p>
<p><u>滋榮益氣復神湯</u>（治產後發厥，問塊痛已除，可服此方。）</p>
<p>人參　當歸（各三錢）　黃耆（蜜炙）　白朮（土炒）　川芎　熟地　麥芽（各一錢）　炙草　陳皮（各四分）　五味（十粒）　棗（一枚）</p>
<p>水煎服。</p>
<p>手足冷加附子五分；汗多加麻黃根一錢、熟棗仁一錢，妄見妄言加益智、柏子仁、元肉，大便實加肉蓯蓉二錢。大抵產後暈、厥二症相類，但暈在臨盆，症急甚於厥，宜頻服生化湯幾帖，塊化、血旺、神清、暈止。若多氣促形脫等症，必加參耆。厥在分娩之後，宜倍參生化湯，止厥以復神，並補氣血也，非如上偏補氣血而可愈也。要知暈有塊痛，耆、術不可加。厥症若無塊痛，耆、朮、地黃並用無疑也。</p>

<h3>血崩第四</h3>
<p>產後血大來，審血色之紅紫，視形色之虛實。如血紫有塊，乃當去其敗血也。止留作痛，不可論崩。如鮮紅之血，乃是驚傷心不能生血；怒傷肝不能藏血；勞傷脾不能統血；俱不能歸經耳。當以崩治，先服生化湯幾帖，則行中自有補。若形脫汗多氣促，宜服倍參生化湯幾帖以益氣，非棕炭之可止者。如產後半月外崩，又直升舉大補湯治之。此症虛極，服藥平穩，未見速效，須二十帖後，諸症頓除。</p>
<p><u>生血止崩湯</u>（治產唇血崩）</p>
<p>川芎（一錢）　當歸（四錢）　黑姜（四分）　炙草（五分）　桃仁（十粒）　荊芥（炒黑）　烏梅（煅灰）　蒲黃（炒，各五分）</p>
<p>棗水煎。忌薑、椒、熱物、生、冷。</p>
<p>鮮紅血大來，荊芥穗炒黑、白芷各五分；血竭形敗，加參三四錢；汗多氣促亦加參三四錢；無汗、形不脫氣促，只服生化湯。多服則血自平。有言歸、芎但能活血，甚誤。</p>
<p><u>升舉大補湯滋榮益氣，如有塊動，只服前方，耆、術勿用。</u></p>
<p>黃耆　白朮　陳皮　炙草　升麻　白芷（各四分）　人參　當歸　熟地（各二錢）　麥冬　川芎（各一錢）　黃連（三分）　荊芥穗（四分、炒黑）</p>
<p>汗多加麻黃根一錢，浮麥炒一小撮；大便不通加肉蓯蓉一錢，禁用大黃；氣滯磨木香三分；痰加貝母六分、竹瀝、薑汁少許；寒嗽加杏仁十粒、桔梗五分、知母一錢；驚加棗仁、柏子各一錢；傷飯加神麯、麥芽各一錢；傷肉食加山楂、砂仁各八分；俱加棗水煎。身熱不可加連、柏；傷食、怒氣均不可專用耗散無補藥。凡年老虛人患崩，宜升舉大補湯。</p>
<p>（按：症虛極注中有身熱不可加連、柏云云，後三頁復神湯項下注有宜用此湯少佐黃連墜火雲云。設無火可墜，此方內並無熱藥，無須反佐，恐黃連未可輕用，此處最宜詳慎。又注中寒嗽加有知母，既系寒嗽，知母亦未可擅用。此條疑原刊寒字有誤）</p>

<h3>氣矩似喘第五</h3>
<p>因血脫勞甚，氣無所恃，呼吸止息，違其常度，有認為痰火，反用散氣化痰之方，誤人性命，當以大補血為主。如有塊不可用參、耆、術，無塊方可用本方去桃仁加熟地井附子一片，足冷加熟附子一錢及參、朮、陳皮接續補氣養榮湯。</p>
<p><u>加參生化湯</u>（治分娩後即患氣短者，有塊不可加耆、術。）</p>
<p>川芎（二錢）　當歸（四錢）　炙草（五分）　黑姜（四分）　人參（三錢）　桃仁（十粒去皮、尖，研）　引加棗一枚，連進二三帖後再用後方。</p>
<p><u>補氣養榮湯</u>（治產後氣短促，血塊不痛，宜服此方。）</p>
<p>黃耆　白朮（各一錢）　熟地　川芎（各二錢）　當歸（四錢）　人參（三錢）　陳皮　炙草　黑姜（各四分）</p>
<p>如手足冷，加熟附子一錢；汗多加麻黃根一錢、浮麥一小撮；渴加麥冬一錢、五味子十粒；大便不通加肉蓯蓉一錢、麻仁一撮；傷面飯加炒神麯一錢、炒麥芽一錢；傷肉食加山楂、砂仁各五分。</p>
<p>按：麥芽有回乳之害，用者慎之。</p>

<h3>妄見妄言第六</h3>
<p>由氣血虛，神魂無依也。治當論塊痛有無、緩急。若塊痛未除，先服生化湯二三帖，痛止，繼服加參生化湯，或補中益氣湯加安神定志丸調服之。若產日久，形氣俱不足，即當大補氣血，安神定志，服至藥力充足，其病自愈，勿謂邪祟。若噴以法水驚之，每至不救。屢治此症，服藥至十數帖方效。病虛似邪，欲除其邪，先補其虛，先調其氣，次論諸病。此古人治產後虛症及年老虛喘、弱人妄言，所當用心也。</p>
<p><u>安神生化湯</u>（治產後塊痛未止，妄言妄見症，未可用耆、術。）</p>
<p>川芎　柏子仁（各一錢）　人參（二錢）　當歸（三錢）　茯神（二錢）　桃仁（十二粒）　黑姜　炙草（各四分）　益智（八分，炒）　陳皮（三分）</p>
<p>棗水煎（服）。</p>
<p><u>滋榮益氣復神湯</u>（治塊痛已止，妄言妄見，服此方即愈。）</p>
<p>黃耆　白朮　麥冬　川芎　柏子仁　茯神　益智（各一錢）　人參，熟地（各二錢）　陳皮（三分）　炙草（四分）　棗仁（十粒，一錢）　五味子（十粒）　蓮子（八枚）　元肉（八個）</p>
<p>棗水煎服。</p>
<p>產後血崩、血脫、氣喘、氣脫、神脫、妄言，雖有血氣陰陽之分，其精散神去一也。比暈後少緩，亦微症也。若非厚藥頻服，失之者多矣。誤論氣實痰火者非也。新產有血塊痛並用加參生化湯，行中有補，斯免滯血血暈之失也。其塊痛止，有宜用升舉大補湯少佐黃連墜火以治血脫，安血歸經也。有宜用倍參補中益氣湯少佐附子助參以治氣脫，攝氣歸淵也。有宜用滋榮益氣復神湯少佐黃連以清心火安君主之官也。</p>

<h3>傷食第七</h3>
<p>新產後禁膏粱、遠厚味。如飲食不節，必傷脾胃。治當扶元溫、補氣血、健脾胃。審傷何物，加以消導諸藥，生化湯加神麯、麥芽以消麵食；加山楂、砂仁以消肉食；如寒冷之物加吳萸、肉桂；如產母虛甚加人參、白朮。又有塊然後消補並治，無有不安者。屢見治者不重產後之弱，惟知速消傷物，反損真氣，益增滿悶，可不慎哉！</p>
<p><u>加味生化湯</u>（治血塊未消，服此以消食。）</p>
<p>川芎（二錢）　當歸（五錢）　黑姜（四分）　炙草（五分）　桃仁（十粒）</p>
<p>問傷何物，加法如前煎服。</p>
<p><u>健脾消食生化湯</u>（治血塊已除，服此消食。）</p>
<p>川芎（一錢）　人參　當歸（各二錢）　白朮（一錢半）　炙草（五分）</p>
<p>審傷何物，加法如前。</p>
<p>如停寒物日久，脾胃虛弱，恐藥不能運用，可用揉按、炒神麯熨之更妙。凡傷食誤用消導藥，反絕粥幾日者，宜服此方。</p>
<p><u>長生活命丹</u></p>
<p>人參三錢，水一鍾半，煎半鍾，先用參湯一盞，以米飯鍋焦研粉三匙，漸漸加參湯。鍋焦粉引開胃口，煎參湯用新罐或銅杓，恐聞藥氣要嘔也。如服寒藥傷者，加姜三大片煎湯。人參名活命草，鍋焦名活命丹，此方曾活數十人。</p>

<h3>忿怒第八</h3>
<p>產後怒氣逆，胸膈不利，血塊又痛，宜用生化湯去桃仁。服時磨木香二分在內，則塊化怒散不相悖也。若輕產重氣偏用木香、烏藥、枳殼、砂仁之類，則元氣反損，益增滿悶。又加怒後即食，胃弱停悶，當審何物，治法如前，慎勿用木香、檳榔丸、流氣飲子之方，使虛弱愈甚也。</p>

<h3>木香生化湯治產後血塊已除，因受氣者。（）</h3>
<p>川芎（二錢）　當歸（六錢）　陳皮（三分）　黑姜（四分）</p>
<p>服時磨木香二分在內。此方減桃仁用木香、陳皮，前有減於姜者，詳之。</p>
<p><u>健脾化食散氣湯</u>（治受氣傷食無塊痛者）</p>
<p>白朮　當歸　人參（各二錢）　川芎（一錢）　黑姜（四分）　陳皮（三錢）</p>
<p>審傷何物，加法如前。大抵產後忿怒氣逆及停食二症，善治者重產而輕怒氣消食，必以補氣血為先，佐以調肝順氣，則怒郁散而元不損，佐以健脾消導，則停食行而思谷矣。若專理氣消食，非徒無益而又害之。</p>

<h3>類瘧第九</h3>
<p>產後寒熱往來，每日應期而發，其症似瘧而不可作瘧治。夫氣血虛而寒熱更作，元氣虛而外邪或侵，或嚴寒，或極熱，或晝輕夜重，或日晡寒熱，絕類瘧症。治當滋榮益氣以退寒熱。有汗急宜止，或加麻黃根之類，只頭有汗而不及於足，乃孤陽絕陰之危症，當加地黃、當歸之類。如陽明無惡寒、頭痛、無汗且與生化湯加羌活、防風、連須蔥白數根以散之。其柴胡清肝飲等方、常山、草果等藥，俱不可用。</p>
<p><u>滋榮養氣扶正湯</u>（治產後寒熱育汗、午後應期發者）</p>
<p>人參（二錢）　炙黃耆　白朮　川芎　熟地　麥冬　麻黃根（各一錢）　當歸（三錢）　陳皮（四分）　炙草（五分）</p>
<p>棗水煎。</p>
<p><u>加減養胃湯</u>（治產後寒熱往來，頭痛無汗類瘧者）</p>
<p>炙草　陳皮　藿香（各四分）　半夏（八分）　川芎　蒼朮　人參　白茯苓（各一錢）　當歸（二三錢）</p>
<p>姜引煎服。</p>
<p>有痰加竹瀝、薑汁、半夏、神麯。弱人兼服河車丸。凡久瘧不愈兼服參朮膏以助藥力。</p>
<p><u>參朮膏</u></p>
<p>白朮（一斤）　米泔浸一宿，銼焙　人參（一兩）　用水六碗，煎二碗，再煎二次，共計六碗，合在一處，將藥汁又熬成一碗，空心，米湯化半酒盞。</p>

<h3>類傷寒二陽症第十</h3>
<p>產後七日內發熱、頭痛，惡寒，毋專論傷寒為太陽症。發熱、頭痛、脅痛，毋專論傷寒為少陽症。二症皆由氣血兩虛，陰陽不和而內外感。治者慎勿輕產後熱門而用麻黃湯以治類太陽症。又勿用柴胡湯以治類少陽症。且產母脫血之後而重發其汗，虛虛之禍可勝言哉！昔仲景云：亡血家不可發汗。丹溪云：產後切不可發表。二先生非謂產後真無傷寒之兼症也。非謂麻黃湯、柴胡湯之不可對症也。誠恐後輩學業偏門而輕產，執成方而發表耳。誰知產後真感風感寒生化中芎、姜亦能散之。</p>
<p><u>加味生化湯</u>（治產後三日內發熱頭痛症）</p>
<p>川芎　防風（各一錢）　炙草　羌活（各四分）　桃仁（十粒）　當歸（三錢）</p>
<p>（查刊本去桃仁，然必須問有塊痛與否方可議去。）服二帖後，頭仍痛、身仍熱，加白芷八分、細辛四分。如發熱不退，頭痛如故加連須蔥五個、人參三錢。產後敗血不散亦能作寒作熱，何以辨之？曰：時有刺痛者，敗血也。但寒熱無他症者，陰陽不和也。刺痛用當歸乃和血之藥，若乃積血而刺痛者，宜用紅花、桃仁、歸尾之類。</p>

<h3>類傷寒三陰症第十一</h3>
<p>潮熱大汗，大便不通，毋專論為陽明症。口燥咽乾而渴，毋專論為少陰症。腹滿液干大便實，毋專論為大陰症。又汗出、譫語、便閉毋專論為腸胃中燥糞宜下症。數症多由勞倦傷脾，運化稽遲，氣血枯槁（原本為稿），腸腑燥涸，乃虛症類實當補之症。治者勿執偏門輕產而妄議三承氣湯以治類三陰之症也。間有少壯產後妄下幸而無妨，虛弱產婦亦復妄下多致不救。屢見妄下成膨，誤導反結。又有血少數日不通而即下致瀉不止者，危哉！婦人良方云：產後大便秘，若計其日期，飯食數多，即用藥通之，禍在反掌。必待腹滿覺脹欲去不能者，反結在直腸，宜用豬膽汁潤之。若日期雖久，飲食如常，腹中如故，只用補劑而已。若服苦寒疏通反傷中氣，通而不止，或成痞滿，誤矣。</p>
<p><u>養正通幽湯</u>（治產後大便秘結，類傷寒三陰症）</p>
<p>川芎（二錢半）　當歸（六錢）　炙草（五分）　桃紅（十五粒）　麻仁（二錢）　肉蓯蓉（酒洗，去甲，一錢）</p>
<p>汗多便實加黃耆一錢、麻黃根一錢、人參二錢；口燥渴加人參、麥冬各一錢；腹滿便實加麥冬一錢、枳殼六分、人參二錢、肉蓯蓉一錢；汗出譫語便實，乃氣血虛竭，精神失守，宜養榮安神，加茯神、遠志、肉蓯蓉各一錢，人參、白朮各二錢，黃耆、白芷、柏子仁各一錢。</p>
<p>以上數等大便燥結症，非用當歸，人參至斤數難取功效。大抵產後虛中傷寒、日傷食物，外症雖見頭痛發熱，或脅痛、腰痛是外感宜汗，猶當重產亡血禁汗，惟宜生化湯量為加減，調理無失。又如大便秘結，猶當重產亡血，禁下，宜養正助血通滯則穩當矣。又：</p>
<p><u>潤腸粥</u>（治產後日久大便不通）</p>
<p>芝麻一升，研末，和米二合，煮粥食腸潤即通。</p>

<h3>類中風第十二</h3>
<p>產後氣血暴虛，百骸少血濡養，忽然口噤，牙緊，手足筋脈拘搐等症，類中風、癰、痙，雖虛火泛上有痰，皆當以末治之。勿執偏門而用治風消痰之方以重虛產婦也。治法當先服生化湯以生旺新血。如見危症，三服後即用加參益氣，以救血脫也。如有痰火，少佐橘紅、炒芩之類，竹瀝、薑汁亦可加之，黃柏、黃連切不可並用，慎之！</p>
<p><u>滋榮活絡湯</u>（治產後血少口噤、項強筋搐、類風症）</p>
<p>川芎（一錢半）　當歸　熟地　人參（各二錢）　黃耆　茯神　天麻（各一錢）　炙草　陳皮　防風　羌活　荊芥穗（各四分）　黃連（八分、薑汁炒）</p>
<p>有痰加竹瀝、薑汁、半夏；渴加麥冬、葛根；有食加山楂、砂仁以消肉食，神麯、麥芽以消飯食；大便閉加肉蓯蓉一錢半；汗多加麻黃根一錢；驚悸加棗仁一錢。</p>
<p><u>天麻丸</u>（治產後中風，恍惚語澀，四肢不利）</p>
<p>天麻　防風　遠志　柏子仁　山藥　細辛　麥冬　石菖蒲（各一錢）　棗仁（一兩）　川芎　羌活（各七分）　南星曲（八分）</p>
<p>研細末，煉蜜為丸，辰砂為衣，清湯下六七十丸。</p>

<h3>類痙第十三</h3>
<p>產後汗多即變痙者，項強而身反，氣息如絕，宜速服加減生化湯。專治有汗變痙者。</p>
<p>川芎　麻黃根（各一錢）　桂枝　羌活（各五分）　當歸（四錢）　人參（原缺，錢）　炙草（五分）　天麻　羚羊角（各八分）　附子（一片）</p>
<p>如無汗類痙中風用川芎（三錢）　當歸（一兩，酒洗）　棗仁　防風（原俱無分量）</p>

<h3>出汗第十四</h3>
<p>凡分娩時汗出，由勞傷脾、驚傷心、恐傷肝也。產婦多兼三者而汗出，不可即用斂汗之劑，神定而汗自止。若血塊作痛，耆朮未可遽加，宜服生化湯二三帖以消塊痛。隨繼服加參生化湯以止虛汗。若分娩後倦甚，濈濈然汗出，形色又脫，乃亡陽脫汗也。汗本亡陽，陽亡則陰隨之。故又當從權速灌加參生化湯倍參以救危無拘塊痛。婦人產多汗當健脾以斂水液之精，益榮衛以噓血歸源，灌溉四肢，不使妄行。雜症雖有自汗、盜汗之分，然當歸六黃湯不可治產後之盜汗也，並宜服加參生化湯及加味補中益氣二方。若服參、耆而汗多不止及頭出汗而不至腰足，必難療矣。如汗出而手拭不及者不治。產後汗出氣喘等症虛之極也，不受補者不治。</p>
<p><u>麻黃根湯</u>（治產後虛汗不止）</p>
<p>人參　當歸（各二錢）　麻黃根（一錢）　黃耆（一錢半，炙）　白朮（一錢，炒）　桂枝（五分）　粉草（炒，五分）　牡蠣（研，少許）　浮麥（一大撮）</p>
<p>虛脫汗多乎足冷，加黑姜四分、熟附子一片；渴加麥冬一錢、五味子十粒；肥白人產後多汗加竹瀝一盞、薑汁一小匙以清痰火；惡風寒加防風、桂枝各五分；血塊不落，加熟地三錢，晚服八味地黃丸。</p>
<p>山茱萸　山藥　丹皮　雲苓　熟地（各八錢）　澤瀉　五味子（各五錢）　炙黃耆（一兩）</p>
<p>煉蜜為丸。</p>
<p>陽加於陰則汗。因而遇風變為瘛瘲者有之，尤難治，故汗多宜謹避風寒。汗多小便不通，乃亡津液故也，勿用利水藥。</p>

<h3>盜汗第十五</h3>
<p>產後睡中汗出，醒來即止，猶盜瞰人睡而謂之盜汗，非汗自至之比。雜症論云：自汗陽虧，盜汗陰虛。然當歸六黃湯又非產後盜汗方也。惟兼氣血而調治之乃為得耳。</p>
<p><u>止汗散</u>（治產後盜汗）</p>
<p>人參　當歸（各二錢）　熟地（一錢半）　麻黃根（五分）　黃連（五分，酒炒）　浮小麥（一大撮）　棗（一枚）。</p>
<p><u>又方：</u></p>
<p>牡蠣（煅細末，五分）　小麥麵炒黃研末</p>

<h3>口渴兼小便不利第十六</h3>
<p>產後煩躁、咽乾而渴兼小便不利，由失血汗多所致。治當助脾益肺升舉氣血，則陽升陰降，水入經而為血為液，谷入胃而氣長脈行，自然津液生而便調利矣。若認口渴為火而用苓、連、梔、柏以降之，認小便不利為水滯而用五苓散以通之，皆失治也。必因其勞損而溫之益之，因其留滯而濡之、行之，則庶幾矣。</p>
<p><u>生津止渴益水飲</u></p>
<p>人參　麥冬　當歸　生地（各三錢）　黃耆（一錢）　葛根（一錢）　升麻　炙草（各四分）　茯苓（八分）　五味子（十五粒）</p>
<p>汗多加麻黃根一錢、浮小麥一大撮；大便燥加肉蓯蓉一錢五分；渴甚加生麥散不可疑而不用。</p>

<h3>遺尿第十七</h3>
<p>血氣太虛不能約束，宜八珍湯加升麻、柴胡，甚者加熟附子一片。</p>

<h1>產後編下卷四</h1>

<h2>產後諸症治法</h2>

<h3>誤破尿胞第十八</h3>
<p>產理不順，穩婆不精，誤破尿胞膀胱者，用參，耆為君，歸、芎為臣，桃仁、陳皮、茯苓為佐，豬、羊尿胞煎藥，百服乃安。又方云：用生黃絲娟一尺，白牡丹皮根（當為根皮）為末，白芨末各二錢，水二碗，煮至絹爛如飴服之。宜靜臥不可作聲，名補脬飲，神效。</p>

<h3>患淋第十九</h3>
<p>由產後虛弱，熱客於脬中，內虛頻數，熱則小便淋澀作痛曰淋。</p>
<p><u>茅根湯</u>（凡產後冷熱淋並治之）</p>
<p>石膏　白茅根（各一兩）　瞿麥　白茯苓（各五錢）　葵子　人參　桃膠　滑石（各一錢）　石首魚頭（四個）　燈心水煎，入齒末空心服。</p>
<p><u>又方：</u>（治產後小便痛淋血）</p>
<p>白茅根　瞿麥　葵子　車前子　通草（以上俱無分量）　鯉魚齒（一百個）</p>
<p>水煎服。亦入齒末。</p>
<p>（按：齒末疑均是鯉魚齒）</p>

<h3>便數第二十</h3>
<p>由脬內素有冷氣、因產發動，冷氣入脬故也。用赤石脂二兩為末，空心服。</p>
<p><u>又方：</u></p>
<p>治小便數及遺尿，用益智仁二十八枚為末，米飲送下二錢。</p>
<p><u>又：桑螵散</u></p>
<p>桑螵蛸（三十個）　人參　黃耆　鹿茸　牡蠣　赤石脂（各三錢）</p>
<p>為末。空心服二錢，米飲送下。</p>

<h3>瀉第二十一</h3>
<p>產後瀉泄非雜症。有食泄、濕泄、水穀注下之論。大率氣虛食積與濕也。氣虛宜補，食積宜消，濕則宜燥。然惡露未淨遽難驟燥，當先服生化湯二三帖，化舊生新，加茯苓以利水道。俟血生然後補氣以消食，燥濕以分利水道，使無滯澀、虛虛之失。若產旬日外，方論雜症，尤當論虛實而治也。如痛下清水、腹鳴、米飲不化者，以寒泄治；如糞水黃赤，肛門作痛，以熱泄治之；有因飲食過多，傷脾成泄，氣臭如敗卵，以食積治之；又有脾氣久虛少食，食下即鳴，急盡下所食之物方覺快者，以虛寒泄治之。治法：寒則溫之，熱則清之，脾傷食積，分利健脾，兼消補虛，善為調治無失也。產後虛瀉，眠昏人不識，弱甚形脫危症，必用人參二錢，白朮、茯苓各二錢，附子一錢，方能回生。若脈浮弦，按之不鼓，即為中寒，此蓋陰先亡而陽欲去，速宜大補氣血，加附子、黑姜以回元陽，萬勿忽視。</p>
<p><u>加減生化湯</u>（治產後塊未消患瀉症）</p>
<p>川芎　茯苓（各二錢）　當歸（四錢）　黑姜　炙草（各五分）　桃仁（十粒）　蓮子（八枚）</p>
<p>水煎溫服。</p>
<p><u>健脾利水生化湯</u>（治產後塊已除患瀉症）</p>
<p>川芎（一錢）　茯苓（一錢）　歸身（二錢）　黑姜（四分）　陳皮　炙草（各五分）　人參（三錢）　肉果（一個，制）　白朮（一錢，土炒）　澤瀉（八分）</p>
<p>寒瀉加乾薑八分；寒痛加砂仁、炮姜各八分；熱瀉加炒黃連八分；瀉水腹痛米飲不化加砂仁八分、麥芽、山楂各一錢；瀉有酸噯臭氣加神麯、砂仁各八分；脾氣久虛，瀉出所食物方快，以虛寒論；瀉水者，加蒼朮一錢以燥濕；脾氣弱、元氣虛必須大補，佐消食、清熱、祛寒藥；弱甚，形色脫，必須第一方參、朮、苓、附必用之藥也。諸瀉俱加升麻酒炒、蓮子十粒。</p>

<h3>完穀不化第二十二</h3>
<p>因產後勞倦傷脾而運轉稽遲也，名飧泄。又飲食太過，脾胃受傷亦然，俗呼水穀痢是也。然產方三日內，塊未消化，此脾胃衰弱，參、耆、術未可遽加，且服生化湯加益智、香、砂少溫脾氣。俟塊消後加參、耆、術補氣，肉果、木香、砂仁，益智溫胃，升麻、柴胡清胃氣，澤瀉、茯苓、陳皮以利水為上策也。</p>
<p><u>加味生化湯</u>（治產後三日內，完穀不化，塊未消者）</p>
<p>川芎　蓋智（各一錢）　當歸（四錢）　茯苓（一錢半）　黑姜　炙草（各四分）　桃仁（十粒）</p>
<p><u>參苓生化湯</u>（治產後三日內塊已消，穀不化，胎前素弱，患此症者）</p>
<p>川芎　茯苓　白芍（炒）　益智（炒，各一錢）　黑姜（四分）　炙草（五分）　人參　白朮（各二錢，土炒）　肉果（一個，制）　當歸（二錢）</p>
<p>瀉水多加澤瀉、木通各八分；腹痛加砂仁八分；渴加麥冬、五味子；寒瀉加黑姜一錢、木香四分；食積加神麯、麥芽消飯面；砂仁、山楂消肉食；產後瀉痢日久，胃氣虛弱，完穀不化，宜溫助胃氣，六君子湯加木香四分、肉果一個，制。</p>

<h3>痢第二十三</h3>
<p>產後七日內外，患赤白痢，裡急後重頻並，最為難治。欲調氣行血而推蕩痢邪，猶患產後元氣虛弱；欲滋榮益氣而大補虛弱又助痢之邪。惟生化湯減乾薑而代以木香、茯苓則善消惡露而兼治痢疾並行而不相悖也。再服香連丸以俟一二日後病勢如減，可保無虞。若產七日外有患褐花色後重頻並虛痢即當加補無疑。若產婦稟厚，產期已經二十餘日，宜服生化湯加連、芩、厚朴、芍藥行積之劑。</p>
<p><u>加減生化湯</u>（治產後七日內患痢）</p>
<p>川芎（二錢）　當歸（五錢）　炙草（五分）　桃仁（十二粒）　茯苓（一錢）　陳皮（四分）　木香（磨，三分）</p>
<p>紅痢腹痛加砂仁八分</p>
<p><u>青血丸</u>（治禁口痢）</p>
<p>香連為末、加蓮肉粉各一兩半，和勻為丸，酒送下四錢。</p>
<p>凡產三四日後塊散，痢疾少減共十症，開後依治。</p>
<p><u>一、產後久瀉</u></p>
<p>元氣下陷，大便不禁，肛門如脫，宜服六君子湯加木香四分、肉果一個制、薑汁5分。</p>
<p><u>二、產後瀉痢</u></p>
<p>色黃乃脾土真氣虛損，宜服補中益氣湯加木香、肉果。</p>
<p><u>三、產後傷麵食</u></p>
<p>瀉痢宜服生化湯加神麯，麥芽。</p>
<p><u>四、產後傷肉食</u></p>
<p>瀉痢宜服生化湯加山楂、砂仁。</p>
<p><u>五、產後胃氣虛弱</u></p>
<p>瀉痢完穀不化，當溫助胃氣，宜服六君子湯加木香四分、肉果一個，制。</p>
<p><u>六、產後脾胃虛弱</u></p>
<p>四肢浮腫，宜服六君子湯加五皮散。見後水腫。</p>
<p><u>七、產後瀉痢</u></p>
<p>無後重但久不止，宜服六君子湯加木香、肉果。</p>
<p><u>八、產後赤白痢</u></p>
<p>臍下痛，當歸、厚朴、黃連、肉果、甘草、桃仁、川芎。</p>
<p><u>九、產後久痢</u></p>
<p>色白屬血虛，宜四物湯加荊芥、人參。</p>
<p><u>十、產後久痢</u></p>
<p>色赤屬氣虛，宜六君子湯加木香、肉果。</p>

<h3>霍亂第二十四</h3>
<p>由勞傷氣血，臟腑空虛，不能運化食物及感冷風所致。陰陽升降不順，清濁亂於脾胃，冷熱不調，邪正相搏上、下，為霍亂。</p>
<p><u>生化六和湯</u>（治產後血塊痛未除患霍亂）</p>
<p>川芎（二錢）　當歸（四錢）　黑姜　炙草　陳皮　藿香（各四分）　砂仁（六分）　茯苓（一錢）　姜（三片）　煎服。</p>
<p><u>附子散</u>（治產後霍亂吐瀉手足逆冷，須無塊痛方可服。）</p>
<p>白朮（一錢）　當歸（二錢）　陳皮　黑姜　甘草　丁香（各四分）</p>
<p>共為末，粥飲送下二錢。</p>
<p><u>溫中湯</u>（治產後霍亂，吐瀉不止，無塊痛者可服。）</p>
<p>人參　茯苓（各一錢）　白朮（一錢半）　當歸（二錢）　厚朴（八分）　黑姜（四分）　草豆蔻（六分）　姜（三片）</p>
<p>水煎服。</p>

<h3>嘔逆不食第二十五</h3>
<p>產後勞傷臟腑，寒邪易乘於腸胃則氣逆嘔吐而不下食也。又有瘀血未淨而嘔者；亦有痰氣入胃胃口不清而嘔者，當隨症調之。</p>
<p><u>加減生化湯</u>（治產婦嘔逆不食）</p>
<p>川芎（一錢）　當歸（三錢）　黑姜　砂仁　藿香（各五分）　淡竹葉（七片）</p>
<p>水煎和薑汁二匙服。</p>
<p><u>溫胃丁香散</u>（治產後七日外嘔逆不食）</p>
<p>當歸（三錢）　白朮（二錢）　黑姜　丁香（各四分）　人參（一錢）　陳皮　炙草　前胡　藿香（各五分）　姜（三片）</p>
<p>水煎服。</p>
<p><u>石蓮散</u>（治產婦嘔吐、心沖目眩）</p>
<p>石蓮子（去殼，去心一兩半）　白茯苓（一兩）　丁香（五分）</p>
<p>共為細末，米飲送下。</p>
<p><u>生津益液湯</u>（治產婦虛弱、口渴氣少，由產後血少多汗，心內煩不生津液）</p>
<p>人參　麥冬（去心）　茯苓（各一兩）　大棗　竹葉　浮小麥　炙草　栝蔞根　大渴不止加蘆根</p>

<h3>咳嗽第二十六</h3>
<p>治產後七日內，外感風寒，咳嗽鼻塞、聲重、惡寒，勿用麻黃湯以動汗；嗽而脅痛，勿用柴胡湯；嗽而有聲，痰少面赤，勿用涼藥。凡產有火嗽，有痰嗽，必須調理半月後方可用涼藥，半月前不當用。</p>
<p><u>加味生化湯</u>（治產後外感，風寒咳嗽及鼻塞聲重）</p>
<p>川芎（一錢）　當歸（二錢）　杏仁（十粒）　桔梗（四分）　知母（八分）</p>
<p>有痰加半夏曲；虛弱有汗咳嗽加人參。總之，產後不可發汗。</p>
<p><u>加參安肺生化湯治產後虛弱，旬日內外感風寒咳嗽、聲重、有痰或身熱頭痛及汗多</u></p>
<p>川芎　人參　知母　桑白皮（各一錢）　當歸（二錢）　杏仁（十粒去皮，尖）　甘草　桔梗（各四分）　半夏（七分）　橘紅（三分）</p>
<p>虛人多痰加竹瀝一杯、薑汁半匙。</p>
<p>（按：咳嗽論中明示，縱有火嗽，在半月前猶不得輕用涼藥。垂戒綦嚴，而第一與第二方中均有知母，小注均有外感風寒云云。此必於既感之後將蘊而為燥熱，不得已而用之。小注未及申明，如謂不然，苟初感既用此涼品，其不與前論顯為柄鑿。讀者須會前人微意，庶不致用古方而自少權衡耳。）</p>
<p><u>加味四物湯</u>（治半月後於嗽，有聲痰少者）</p>
<p>川芎　白芍　知母　瓜蔞仁（各一錢）　生地　當歸　訶子（各二錢）　冬花（六分）　桔梗　甘草　鬥令（各四分）　生薑（一大片）</p>

<h3>水腫第二十七</h3>
<p>產後水氣，手足浮腫，皮膚見光榮色，乃脾虛不能制水，腎虛不能行水也。必以大補氣血為先，佐以蒼朮、白朮、茯苓補脾。壅滿用陳皮、半夏、香附消之，虛人加人參、木通；有熱加黃芩、麥冬以清肺金。健脾利水，補中益氣湯。七日外用人參、白朮各二錢，茯苓、白芍各一錢、陳皮五分、木瓜八分、紫蘇、木通、大腹皮、蒼朮、厚朴各四分；大便不通加郁李仁、麻仁各一錢；如陰寒邪濕氣傷脾，無汗而腫，宜姜皮、半夏、蘇葉加於補氣方以表汗。</p>
<p><u>五皮散</u>（治產後風濕客傷脾經，氣血凝滯以致面目浮虛、四肢腫脹、氣喘）</p>
<p>五加皮　地骨皮　大腹皮　茯苓皮　姜皮（各一錢）　棗（一枚）</p>
<p>水煎服。</p>
<p>又云：產後惡露不淨，停留胞絡，致令浮腫，若以水氣治之，投以甘遂等藥誤矣。但服調經散則血行而腫消矣。</p>
<p><u>調經散</u></p>
<p>沒藥（另研）　琥珀（另研）　肉桂　赤芍　當歸（各一錢）</p>
<p>上為細末，每服五分，薑汁、酒各少許調服。</p>

<h3>流注第二十八</h3>
<p>產後惡露流於腰、臂、足關節之處，或漫腫，或結塊，久則腫起作痛，肢體倦怠，急宜用蔥熨法以治外腫，內服參歸生化湯以消血滯，無緩也。未成者消，已成者潰。</p>
<p><u>蔥熨法</u></p>
<p>用蔥一握，炙熱搗爛作餅敷痛處，用厚布二三層，以熨斗火熨之。</p>
<p><u>參歸生化湯</u></p>
<p>川芎　黃耆（各一錢半）　當歸　人參（各二錢）　馬蹄香（二錢）　肉桂　炙草（各五分）</p>
<p>此症若不補氣血，節飲食，慎起居，未有得生者。如腫起作痛，起居飲食如常，是病氣未深，形氣未損，易治。若漫腫微痛，起居倦怠，飲食不足，最難治。或未成膿，未潰，氣血虛也，宜服八珍湯；憎寒、惡寒陽氣虛也，宜服十全大補湯，補後大熱，陰血虛也，宜服四物湯加參、朮、丹皮；嘔逆，胃氣虛也，宜服六君子湯加炮薑、乾薑；食少體倦，脾氣虛也，宜服補中益氣湯；四肢冷逆，小便頻數，腎氣虛也，補中益氣湯加益智仁一錢。神仙回洞散治產後流注，惡露日久成腫。用此宜導其膿。若未補氣血旺，不可服此方。</p>

<h3>膨脹第二十九</h3>
<p>婦人素弱，臨產又勞，中氣不足，胸膈不利而轉運稽遲。若產後即服生化湯，以消塊止痛，又服加參生化湯以健脾胃，自無中滿之症。其膨脹因傷食而誤消，因氣鬱而誤散，多食冷物而停留惡露，又因血虛大便燥結誤下而愈脹。殊不知氣血兩虛，血塊消後當大補氣血以補中虛。治者若但知傷食宜消，氣鬱宜散，惡露當攻，便結可下，則胃氣反損，滿悶益增，氣不升降，濕熱積久，遂成膨脹。豈知消導坐於補中，則脾胃強而所傷食氣消散，助血兼行，大便自通，惡露自行。</p>
<p>如產後中風，氣不足微滿，誤服耗氣藥而脹者，服補中益氣湯。</p>
<p>人參　當歸　白朮（各五分）　白茯苓（一錢）　木香（三分）　川芎　白芍　蘿蔔子（各四分）</p>
<p>如傷食，誤服消導藥成脹，或脅下積塊，宜服健脾湯。</p>
<p>人參　白朮　當歸（各三錢）　白茯苓　白芍　神麯　吳萸（各一錢）　大腹皮　陳皮（各四分）　砂仁　麥芽（各五分）</p>
<p>如大便不通，誤服下藥成脹及腹中作痛宜服養榮生化湯：</p>
<p>當歸（四錢）　白芍　白茯苓　人參　蓯蓉（各一錢）　陳皮　大腹皮　香附（各五分）　桃仁（十粒，制）　白朮（二錢）</p>
<p>塊痛將藥送四消丸。屢誤下須用參、歸半斤大便方通，膨脹方退；凡誤用消食耗氣藥以致絕谷，長生活命丹屢效。方見傷食條。</p>

<h3>怔忡驚悸第三十</h3>
<p>由產憂、驚、勞、倦，去血過多，則心中跳動不安，謂之怔忡。若惕然震驚，心中怯怯，如人將捕之狀，謂之驚悸。治此二症，惟調和脾胃，志定神清而病愈矣。如分娩後血塊未消，宜服生化湯，且補血行塊。血旺則怔定驚平，不必加定神定志劑。如塊消痛止後患此，宜服加減養榮湯。</p>
<p>當歸　川芎（各二錢）　茯神　人參　棗仁（炒）　麥冬　遠志　白朮　黃耆（各一錢，炙）　元肉（八枚）　陳皮　炙草（各四分）</p>
<p>姜煎。虛煩加竹瀝、薑汁，去川芎、麥冬，再加竹茹一團，加木香即歸脾湯。</p>
<p><u>養心湯</u>（治產後心血不定，心神不安）</p>
<p>炙黃耆　柏子仁（各一錢）　人參（一錢半）　麥冬（一錢八分）　茯神　川芎　遠志（各八分）　炙草（四分）　當歸（二錢）　五味（十粒）</p>
<p>姜水煎服。</p>

<h3>骨蒸第三十一</h3>
<p>宜服保真湯，先服清骨散。</p>
<p><u>柴胡梅連湯</u>（即清骨散，作湯速效）</p>
<p>柴胡　前胡　黃連　烏梅（去核）</p>
<p>各二兩共為末聽用。再將豬脊骨一條、豬苦膽一個、韭菜白十根各一寸，同搗成泥，入童便一酒盞，攪如稀糊，入藥末再搗。為丸，如綠豆大。每服三四十丸，清湯送下。如上膈熱多，食後服。此方凡男女骨蒸，皆可用之，不專治產婦。</p>
<p><u>保真湯</u></p>
<p>黃耆　川芎（各六分）　人參　當歸　白朮（炒）　麥冬　白芍　枸杞　生地　知母（各二錢）　黃連（炒）　黃柏（炒）　地骨皮（各六分）　五味（十粒）　炙草（四分）　天冬（一錢）　棗（三枚，去核）</p>
<p>水煎服。</p>
<p><u>加味大造湯</u>（治骨蒸勞熱，若服清骨散、梅連丸不效，服此方）</p>
<p>人參　當歸　山藥　枸杞（各一兩）　生地（二兩）　麥冬　石斛（各八分，酒蒸）　柴胡（六錢）　胡連（五錢）　黃柏（炒，七分）</p>
<p>先將麥冬、地黃搗爛，後入諸藥同搗為丸，加蒸紫河車另搗，焙乾為末，煉蜜丸。</p>

<h3>心痛第三十二</h3>
<p>此即胃脘痛。因胃脘在心之下，勞傷風寒及食冷物而作痛，俗呼為心痛。心可痛乎？血不足則怔忡、驚悸不安耳。若真心痛，手足青黑色，旦夕死矣。治當散胃中之寒氣，消胃中之冷物。必用生化湯佐消寒食之藥，無有不安。若綿綿而痛，可按止之，問無血塊，則當論虛而加補也。產後心痛、腹痛二症相似，因寒食與氣上攻於心則心痛，下攻於腹則腹痛。均用生化湯加肉桂、吳萸等溫散之藥也。</p>
<p><u>加味生化湯</u></p>
<p>川芎（一錢）　當歸（三錢）　黑姜　炙草（各五分）　肉桂　吳萸　砂仁（各八分）</p>
<p>傷寒食加肉桂、吳芋；傷麵食加神麯、麥芽；傷肉食加山楂、砂仁；大便不通加肉蓯蓉。</p>

<h3>腹痛第三十三</h3>
<p>先問有塊無塊。塊痛只服生化湯調失笑散二錢加元胡一錢。無塊則是遇風冷作痛，宜服加減生化湯。</p>
<p>川芎（一錢）　當歸（四錢）　黑姜　炙草（各四分）　防風　桂枝（各七分）　吳萸（六分）　白蔻（五分）</p>
<p>痛止去之，隨傷食物所加如前。</p>

<h3>小腹痛第三十四</h3>
<p>產後虛中感寒飲冷，其寒下攻小腹作痛；又有血塊作痛者；又產後血虛臍下痛者，並治之以加減生化湯。</p>
<p>川芎（一錢）　當歸（三錢）　黑姜　炙草（各四分）　桃仁（十粒）</p>
<p>有塊痛者，本方中送前胡散。亦治寒痛。若無塊但小腹痛，亦可按而少止者屬血虛，加熟地三錢、前胡、肉桂各一錢，為末。名前胡散。</p>

<h3>虛勞第三十五</h3>
<p>指節冷痛，頭汗不止。</p>
<p>人參　當歸（各三錢）　黃耆（二錢）　淡豆豉（十粒）　生薑（三片）　韭白（十寸）　豬腎（兩個）</p>
<p>先將豬腎煮熟，取汁煎藥八分，溫服。</p>

<h3>遍身疼痛第三十六</h3>
<p>產後百節開張，血脈流散。氣弱則經絡間血多阻滯。累日不散，則筋牽脈引骨節不利。故腰背不能轉側，手足不能動履，或身熱頭痛。若誤作傷寒發表出汗，則經脈動盪，手足發冷，變症出焉。宜服趁痛散：</p>
<p>當歸　桑寄生（各一錢）　甘草　黃耆　白朮　獨活　肉桂　牛膝（各八分）　薤白（五根）　姜（三片）</p>
<p>水煎服。</p>

<h3>腰痛第三十七</h3>
<p>由女人腎位系胞，腰為腎府，產後勞傷腎氣，損動胞絡，或虛未復而風乘之也。</p>
<p><u>養榮壯腎湯</u>（治產後感風寒，腰痛不可轉）</p>
<p>當歸（二錢）　防風（四分）　獨活　桂心　杜仲　續斷　桑寄生（各八分）　生薑（三片）</p>
<p>水煎服。</p>
<p>兩帖後痛未止屬腎虛，加熟地三錢。</p>
<p><u>加味大造丸</u>（治產後日久，氣血兩虛，腰痛腎弱，方見骨蒸條）</p>
<p><u>青蛾丸</u></p>
<p>胡桃（十二個）　破故紙（八兩酒浸，炒）　杜仲（一斤，薑汁炒，去絲）</p>
<p>為細末，煉蜜丸。淡醋湯送六十丸。</p>

<h3>脅痛第三八</h3>
<p>乃肝經血虛氣滯之故。氣滯用四君子湯加青皮、柴胡；血虛用四物湯加柴胡、人參、白朮。若概用香燥之藥，則反傷情和之氣，無所生矣。</p>
<p><u>補肺散</u>（治脅痛）</p>
<p>山萸　當歸　五味　山藥　黃耆　川芎　熟地　木瓜　白朮　獨活　棗仁（各等分）</p>
<p>水煎服。</p>

<h3>陰痛第三十九</h3>
<p>產後起居太早，產門感風作痛，衣被難近身體，宜用祛風定痛湯。</p>
<p>川芎　茯苓（各一錢）　當歸（三錢）　獨活　防風　肉桂　荊芥（炒黑，各五分）　地黃（二錢）　棗（二枚）</p>
<p>煎服。</p>
<p>又附陰疳、陰蝕、陰中瘡，曰䘌瘡。或痛或癢，如蟲行狀，濃汁淋漓，陰蝕幾盡者。由心腎煩郁，胃氣虛弱，致氣血留滯。經云：諸瘡痛癢，皆屬於心。治當補心養腎，外以藥熏洗，宜用十全陰疳散。</p>
<p>川芎　當歸　白芍　地榆　甘草（各等分）</p>
<p>水五碗煎二碗，去渣熏，日三夜四，先熏後洗。</p>
<p>一方用蒲黃一升，水銀二兩，二味調勻搽。</p>
<p>一方用蝦蟆兔糞等為末敷瘡。</p>
<p>一方治疳蟲食下部及五臟，取東南桃枝，輕打頭散，以綿纏之。</p>
<p>一方用硫磺末，將縛桃枝，蘸而燃煙燻之（按此條宜與上條合看）。</p>
<p>一方，截一短竹筒，先納陰中，以桃枝燒煙燻之。</p>

<h3>惡露第四十</h3>
<p>即繫裹兒汙血，產時惡露隨下，則腹不痛而產自安。若腹欠溫暖，或傷冷物，以致惡露凝塊，日久不散則虛證百出，或身熱骨蒸，食少羸瘦，或五心煩熱，月水不行。其塊在兩脅，動則雷鳴，嘈雜暈眩，發熱似瘧，時作時止。如此數症，治者欲瀉其邪，先補其虛，必用補中益氣湯送三消丸，則元氣不損，惡露可消。</p>
<p><u>加味補中益氣湯</u></p>
<p>人參　黃耆（炙）　白芍（各一錢）　廣皮　甘草（各四分）　白朮（二錢）　當歸（三錢）</p>
<p>薑、棗煎服。</p>
<p><u>三消丸</u>（治婦人死血、食積、痰三等症）</p>
<p>黃連（一兩，一半用吳萸煎汁去渣浸炒，一半用益智仁炒，去益智仁不用）　萊菔子（一兩五，不炒）　川芎（五錢）　桃仁（十粒）　山梔　青皮　三稜　莪朮（各五錢，俱用醋炒）　山楂（一兩）　香附（一兩，童便浸炒）</p>
<p>上為末，蒸餅為丸，食遠服。用補中益氣湯送下五六十丸，或用白朮三錢、陳皮五錢，水一鍾，煎五分送下亦可。</p>

<h3>乳瘋第四十一</h3>
<p>乳頭屬足厥陰肝經。乳房屬足陽明胃經。若乳房癰腫、結核、色紅，數日外，腫痛潰稠膿，膿盡而愈。此屬膽胃熱毒，氣血壅滯，名曰乳癰，易治。若初起內結小核，不紅、不腫，不痛，積之歲月漸大如巉巖山，破如熟榴，難治。治法痛腫寒熱，宜發表散邪；痛甚，宜疏肝清胃；膿成不潰，用托裡；肌肉不生，膿水清稀宜補脾胃；膿出及潰，惡寒發熱，宜補血氣，飲食不進，或作嘔吐，宜補胃氣。乳岩初起用益氣養榮湯加歸脾湯，間可內消。若用行氣補血之劑，速亡甚矣。</p>
<p><u>瓜蔞散</u>（治一切癰疽，並治乳癰。癰看，六腑不和之氣阻滯於陰則生之）</p>
<p>瓜蔞（一個，連皮搗爛）　生甘草　青皮　乳香（燈心炒）　沒藥（燈芯炒，各五分）　當歸　金銀花（各三錢）　白芷（一錢）</p>
<p>水煎，溫服。</p>
<p><u>回脈散</u>（乳癰未潰時服此，毒從大便出，虛人不用）</p>
<p>大黃（三錢半）　乳香　木香　沒藥（各五分）　白芷（八分）　穿山甲（五分，蛤粉拌炒）</p>
<p>共為末，人參二錢，煎湯調藥末（原為末藥）服。</p>
<p><u>十全大補揚</u></p>
<p>黃耆　熟地　人參　白朮（各三錢）　茯苓　川芎（各八分）　甘草（五分）　金銀花（三錢）</p>
<p>瀉加黃連、肉果；渴加麥冬、五味；寒熱往來，用馬蹄香搗散。凡乳癰，服薏苡仁粥，好。</p>
<p><u>又方：</u></p>
<p>用烏藥軟白香辣者五錢研，水一碗，牛皮膠一片，同煎七分，溫服。如孕婦腹內癰，此二方可通用。又有乳吹，乃小兒飲乳，口氣所吹，乳汁不通，壅結作痛，不急治則成癰。宜速服瓜蔞散，更以手揉散之。</p>

<h3>風甚第四十二</h3>
<p>用山羊血取色新者於新瓦上焙乾，研末，老酒衝下五六分為度。重者用至八分，其效如神。</p>
<p>又用抱不出殼雞子，瓦上焙乾，酒調服。</p>
<p>如治虛寒危症，用藍鬚子根刮皮，新瓦上焙乾，研末，溫服一錢為度。雖危可保萬全。</p>

<h3>不語第四十三</h3>
<p>乃惡血停蓄於心，故心氣閉塞，舌強不語。用七珍散。</p>
<p>人參　石菖蒲　川芎　生地（各一兩）　辰砂（研，五分）　防風（五錢）　細辛（一錢）</p>
<p>共為細末，用薄荷湯下一錢。因痰氣鬱結，閉口不語者，好明礬一錢，水飛過，沸湯送下。</p>
<p><u>一方治產後不語</u></p>
<p>人參　石蓮子（去心）　石菖蒲（各等分）</p>
<p>水煎服。</p>
<p>婦人良方云：產後喑，心腎虛不能發聲，七珍散；脾氣鬱結，歸脾湯；脾傷食少，四君子湯；氣血俱虛，八珍湯；不應，獨參湯，更不宜（當為應）急加附子。蓋補其血（當為氣）以生血。若單用佛手散等破血藥，誤矣。</p>
<p>產後編終。</p>

<h2>補集</h2>

<h3>產後大便不通</h3>
<p>用生化湯內減黑姜加麻仁，脹滿加陳皮；血塊痛加肉桂、元胡；如燥結十日以上，肛門必有燥糞，用蜜棗導之。</p>
<p><u>煉蜜棗法</u></p>
<p>用好蜜二三兩，火煉滾至茶褐色，先用濕桌傾蜜，在桌上用手作如棗樣，插肛門，待欲大便，去蜜棗方便。</p>
<p><u>又方：</u></p>
<p>用麻油口含，竹管入肛門內，吹油四五口，腹內糞和即通，或豬膽亦可。</p>

<h3>產後雞爪風</h3>
<p>桑柴灰（三錢存性）　魚膠（三錢，炒）　手指甲（十二個，炒）</p>
<p>共為末，黃精送下，取汗即愈。</p>

<h3>保產無憂散</h3>
<p>當歸（酒洗）　川芎（各錢半）　芥穗（炒黑）　炙黃耆（各八分）　艾葉（炒）　厚朴（姜炒，各七分）　枳殼（六分，麵炒）　菟絲子（一錢四分，酒炒）　羌活　甘草（各五分）　川貝母（一錢，去心）　白芍（錢二分，酒炒）　姜（三片，溫服。）</p>
<p>上方保胎，每月三五服，臨產熱服，催生如神。</p>

<h3>浮腫</h3>
<p>治遍體浮腫，是脾虛水泛過。凡浮腫者，可通用俱神效。</p>
<p>真縮砂仁（四兩）　萊菔子二兩四錢，研末水浸濃，取汁浸砂仁，候汁盡，曬乾，研極細末。每服一錢，漸加至二錢為度，淡薑湯送下。</p>

<h3>保產神效方</h3>
<p>未產能安，臨產能催。偶傷胎氣，腰疼腹痛，甚至見紅不止，勢欲小產危急之際，一服即愈，再服全安。臨產時交骨不開，橫生逆下，或子死腹中，命在垂危，服之奇效。</p>
<p>全歸（酒洗）　真川芎　菟絲子（酒泡各一錢五分）　紫厚朴（薑汁炒，七分）　川貝母（二錢去心淨，煎好方和入）　枳殼（麵炒）　川羌活（各六分）　荊芥穗　黃耆（各八分，蜜炙）　炙草　蘄艾（各五分，醋炒）　白芍（一錢二分，酒炒，冬用二錢。）</p>
<p>生薑三片，水二鍾，煎八分，渣、水一鍾煎六分，產前空心予服二劑，臨產隨時熱服。</p>
<p>此乃仙傳奇方，慎勿以庸醫輕加減其分兩。</p>
<p>（按：保產無憂散、保產神效方，與編首治產秘驗良方俱相同，特引論略別，並存參看可也）</p>
<p>產後編補集卷四終。</p>
