<header data-type="book">
<h1>痢疾明辨</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>吳士瑛</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1857">公元1857年</data></dd></div>
</dl>
</header>

<h1>陳序</h1>
<p>吾嘗讀王旭高醫書，治痢奇方一湯，用之神驗。云：此方出自華墅姜體乾先生。且華墅多名醫，繼往開來，代有聞人。因考姜先生為清·咸豐時人，醫名震大江南北，同時復有吳君甫恬，與姜先生為至友，出其緒餘，著有《痢疾明辨》一書，語發前人所未發，堪為醫學津梁。惜未梓板，世無傳本。張君宗耀，予之畏友也，籍江陰華墅，於治險危痢疾，無不奇效。因疑先生亦得有吳先生真傳者。庚辰春，予遷居錫城，與先生過從為密，因叩以先生治痢獨多奇效，得毋藏有華墅先哲之秘本歟。先生曰：然，遂於篋中檢出《痢疾明辨》一書，曰：此即甫恬先生之真本，予之所賴以治驗者也。假歸讀之，如獲拱璧，遂商之先生，擬為公開梓板，為蒼生造福，為國粹爭光；有此一書，西洋治痢特效藥不足稱豪於一時矣，豈不快哉。</p>
<p><u>民國二十九年庚辰夏五月陳韶九識</u></p>

<h1>自序</h1>
<p>嘗謂：醫者意也，通其意則靈，不通其意則滯，善用其意則巧，不善用其意則拙。予嘗有句云：「醫林漫說秘青囊，活法全憑用意良。」又云：「讀書泥古非師古，因證施方不執方。」甚矣！醫貴通其意，又必善用其意也，何則？道本無言，一落言詮，便相失矣。渾言之而無所不通者，聖言也；專言之而條分縷析者，凡言也。然規矩在此，繩墨亦在此，熟於規矩繩墨之成法，而能因事制宜，處處參以活法，而又動合古法，斯得之矣。即如痢疾一門，外因六氣之邪，內因飲食之積，又兼感時厲之氣，合而成病，乃時氣也；古之醫書每以臟病、內傷下痢混同論治，執死法者，滯而不圓，拘古法者，泥而不變，爰著痢疾之明辨，分六經，列四綱，箝種種見證，以及婦女胎產。四十年來，由折肱而心悟，由心悟而知古今之得失，一一辨之，以俟後學君子，有通其意而善用其意者，是予之所望也。</p>
<p><u>咸豐七年歲次丁巳閏五月之吉澄吳士英甫恬氏序</u></p>

<h1>辨痢疾之源</h1>
<p>痢疾一症，古稱滯下，乃時邪病也。暑、濕、熱三氣之邪滯於腸胃，三焦流行之機因之阻滯，所以無非濕火蘊釀之積垢，久之便傷腸中之脂液。其現症也，則裡急後重，數至圊而不能爽，其腹或痛或不痛，或痛之極，故曰滯下也。蓋滯者，氣血被邪迂滯之謂；下者，暴注下迫之謂也。其病名最確。又曰腸澼，並無痢疾之稱；後世謂之痢疾，命名不切，蓋利者通利之謂也，而非滯下之後重窘迫明矣。醫書每列於雜症門中，初不指為溫暑時邪之疾，又與泄瀉連類而及，混同論治，不分虛、實、寒、熱，致後人誤以泄瀉之法治痢，而於《難經》五泄之義，茫然無所分別，徒知理脾、健胃，消導、破氣，溫燥亂投，殺人無算，殊不知小腸泄即大瘕泄也，故其痛必在少腹及當臍小腸部也，瘕者，有似癥瘕塊，痛則泄、不爽如有瘕塊也。熱傷氣分白凍多，熱傷血分紅凍多，赤白相兼、氣血交病，並非赤為熱、白為寒也。李士材、王損庵諸賢，皆有名論，惜未究其本。海虞吳本立，有《痢證匯參》一書，不過摭拾前人方論，瑜瑕並收，不知棄短取長，編者既少卓識，又不能闡發此中精義，不可為治痢指南。至倪涵初治痢三方，徒令印定後人心目，皆無足取。惟嘉言喻子，議論頗詳，時醫亦不參考。餘數十年來，目擊心傷，臨症之暇，殫心研究，頗有一得，聊與及門論之，以濟斯人，顏曰《痢疾明辨》，條陳於後。不正其名而仍曰痢疾者，從俗也；不揣譾陋，就有道而正焉，倘蒙高賢賜教，則幸甚矣。</p>

<h1>箝六經表裡陰陽虛實寒熱乃治痢要訣</h1>
<p>凡病必先辨六經，一切外感內傷，不能捨六經而為治，痢疾何獨不然。首太陽，為諸陽之氣，察其邪從太陽陷入者，宗仲聖太陽例，桂枝、羌活為主；從陽明陷入者，「葛根」為主；從少陽陷入者，「柴胡」為主；陷入陽明之腑，有結有熱者，三「承氣」選用，有熱無結者，「黃芩湯」、諸「瀉心湯」選用，此外感三陽痢之成法也。失治，則由三陽陷入三陰，少陰經有寒症、有熱症，熱則「黃連阿膠湯」、「豬膚湯」，寒則「桃花湯」、「真武湯」、「四逆」輩；厥陰經有寒症、有熱症、有寒熱錯雜症，熱用「白頭翁湯」，寒投「吳茱萸湯」，寒熱錯雜進「烏梅丸」；獨太陰有寒症、無熱症，所謂鶩溏是也，「理中湯」為主方。此是例也，不獨痢疾為然，一切病皆當察脈辨證，使寒、熱、虛、實、陰、陽、表、里八字，胸中瞭然，庶幾下筆無誤，學者當先明此理。</p>

<h1>辨痢大綱有四</h1>
<p>（邪陷、秋燥、時毒、滑脫）</p>

<h2>一曰邪熱</h2>
<p>凡一切外感惡寒發熱，忽而裡急後重，下凍白色，或出黃如糜，此三陽經之邪熱下陷也，而暑、濕、熱三氣尤多。此病無論發熱與不發熱，審其為三陽邪陷，嘉言喻子用「人參敗毒散」，論之為「逆流挽舟法」，至精至妙。論曰：《內經》冬時傷寒，已稱熱病，至夏秋，暑、濕、熱三氣交蒸互結，其熱十倍於冬月矣；外感三氣之邪熱而成下痢，其必從表而出之，故必從汗，先解其外，次調其內，首用辛涼以解其表，次用苦寒以清其里，一二劑愈矣。失於表者，外邪俱從里出，不死不休，故雖百日之遠，仍用「逆挽」之法，引其邪而出之於表，死症可活，危症可安，治經多人，成效歷歷可記。《金匱》云：「下痢脈反弦，發熱、身汗者自愈。」夫久痢之脈，深入陰分，沉澀微弱者忽然而轉弦數脈，渾似少陽生髮之氣，非用逆挽之法，何以得此。久痢邪入陰分，身必不熱，間有陰虛之熱，則熱而不休，今因挽逆之勢，逼其暫時燥熱，頃之邪從表出，熱自無矣。久痢陽氣下陷，皮膚乾燥，斷然無汗，今以逆挽之法，衛外之陽領邪同還於表，而身有汗，是以腹中安靜，其病自愈。此段議論，從古無人論及，乃治三陽外感邪陷之寶符也。吾鄉前輩名醫姜恆瑞先生始用此法，及門宗之，審為邪陷，萬舉萬當，百無一失，嘉言喻子恐淺學不能分經用藥，舉「活人敗毒散」以為矩矱，首用辛涼以解其表，不使邪陷入里，次用苦寒以清其里，則河間、丹溪清熱導滯之法，躍然於言外矣。</p>
<p>陳韶九按：逆流挽舟，提舉陷邪，喻氏設一「人參敗毒散」為例，非謂不據何經悉可用此以主治也。得此一說，開悟後學不少。</p>
<p>【引證】</p>
<p>舒進賢曰：所謂邪陷者，邪陷入六經而為痢也，治法當從《傷寒》六經之例，有何經之證，即加何經之藥於其間，合而治之，如兼太陽表證，有汗主「桂枝」，無汗主「麻黃」，兼太陽腑證，仍主「五苓」；兼見陽明表證，加「葛根」，兼見陽明腑證，察其淺深，而斟酌於「白虎」、「承氣」；兼少陽表證，用「柴胡」，里證用「黃芩」；兼太陰虛寒之症，「附子理中湯」；少陰助相火而動者，生津解熱；厥陰純陽無陰之症，破陽行陰，純陰無陽之症，溫經止泄，陰陽錯雜之症，寒熱互用，陰陽並驅。凡六經陷邪，以六經合而治之，無不立驗。又鶩溏一證，糞內帶清水如鴨屎，嘗見於陷之中，屬太陰藏寒，主用耆、朮、薑、附，溫經散邪。</p>
<p>甲寅夏，與及門論痢疾：三陽濕熱，最易下陷於手、足陽明之腑，失治則陷入三陰，便屬棘手，適以陳修園明府所著醫書數種見示者，觀其痢疾門挽逆之道，實獲我心，節錄於此以見：</p>
<p>陳修園曰：「醫書云，脈沉小易治，浮大難療。又云，發熱不休者死，此遵《內經》腸澼一論，執一不通之過也。余別有所悟：脈浮為表邪，浮而兼大是表邪侵於陽明之界而下痢，仲景有「葛根湯」等治法，發熱不休，非感冒風寒，即是邪留經絡，宜用「桂枝湯」、「四逆散」祛風寒以調經絡，「人參敗毒散」加老米名「倉廩湯」，亦是此意。大抵初病治法，發熱惡寒者，香蘇飲加防風、川芎，或四逆散以取微汗。若寒熱往來多嘔者，小柴胡湯，若熱多而口渴者，小柴胡湯去半夏，加瓜蔞根主之。若發熱不惡寒，裡急後重者，以葛根黃芩黃連甘草湯，照古法先煎葛根，後煎諸藥，日服二三劑必愈。若用痢門成方，其邪無不陷入變危者，予深恨倪氏三方，真是殺人之具。</p>
<p>愚按：三陽經邪陷有虛、實之分，實者必陷陽明之腑，俗云「無積不成痢」，蓋因積滯引邪而入也。虛者，中氣之虛也，「活人敗毒散」中有人參，夾虛者必須加入，以鼓舞胃氣。至三陰陷邪，宜遵仲景心法。附錄三陽邪陷醫案，俾知虛、實之辨，瞭然心目，以增見識。</p>
<p>【醫案】</p>
<p>喻嘉言治周信川，年七十三，平素體健，秋月病痢，久而不愈，至冬因成休息痢，一晝夜十餘次，面目浮腫，肢體肌膚晦暗，診其脈沉數有力；此陽邪陷入之徵也。吾意以法治之，尚可全愈，於是以「人參敗毒散」煎好，用厚被圍椅上坐，置火其下，更以布條捲成鵝卵狀，置椅褥上，墊肛門，使內氣不得下走，然後以前藥趁熱與服，良久，遂覺皮膚津津微潤，再灌以熱湯，教令努力忍便，不得移身，如此約二時之久，皮門津潤，病者心躁畏熱，始令連被臥，是晚只痢一次，不旬日而愈。蓋內陷之邪，欲提之轉從表出，不以逆流挽舟法治之，何可底哉。</p>
<p>閩王星宰患痢，諸藥不效，蘇郡先醫進以「人參敗毒散」，其勢差減，大有生機，但少此一段斡旋之法，竟無成功。故凡遇陽邪陷入陰分，如久瘧、久熱之症，皆當識此，使其緩緩透出表外，方為合法。若急而速之，則恐挽出又入，徒傷其正耳。</p>
<p>吳興陸養愚：治歸安李令尹之岳，路途感冒，至署頭常微痛，身體微熱，飲食如故，不以為意，數日後患暑瀉，小便赤痛，自服「胃苓湯」不止，後下赤白，又服芩、連、檳、芍、廣木香，二劑不效，李公延予診治，脈兩手浮弦，沉按澀數；此表氣不舒，故里氣亦不順，偶值脾胃不調而泄瀉也，以「五積散」加白朮、木香，二劑，大汗，諸症悉退。</p>
<p>盧紹安評云：長途未免勞頓，感冒表邪，飲食失調，業已成痢，世俗惟投痢疾之藥，此其常也；先生以「五積」雙解表裡之邪，得汗而諸症如失。痢因汗愈，非真知灼見，孰敢如斯。</p>
<p>惺庵治塘橋龐微帆，下痢，晝夜約二百餘遍，腹痛後重無片刻安，初起本有微寒發熱之象，至第二日寒熱已無，第四日延予治之，見其神清音亮，脈浮弦數，用「人參敗毒散」一劑，次早又服一劑，晚用「潔古芍藥湯」，製大黃三錢，去桂枝，是日下痢百餘次，第三日再進「敗毒散」一劑，加白芍、木香、檳榔汁，至晚痢減十之七，三更時又進「芍藥湯」，熟軍只用二錢，白芍用肉桂炒，是夕出溏糞頗多，痢減大半，又投「芍藥湯」，去桂枝、大黃加桔梗，是夕下痢尚二十餘次，明日停藥一天，次早用輕劑，漸次平安，為時不過十日而愈。症雖重，每日尚能吃粥三碗，故能應手。時道光己丑八月也。</p>
<p>承守丹明經，體質素虛，壯年即耳聾不寐，患三陰瘧，忽然轉下痢赤白，裡急後重，神氣昏倦，面色晦滯，瘧發之日，昏沉如蒙，延予治之；謂曰：此少陽之邪陷入太陰、少陰，法宜逆挽，使伏邪出表，瘧重則痢自減，痢重則熱反輕，然「活人敗毒散」宜重用人參，加木香，如是二帖，果瘧勢重而痢勢輕，但腹痛未止，於是停藥一日，仍用「敗毒散」，次日用「四君子」合「小建中湯」送「香連丸」，衝入木香、檳榔汁，停藥一日，又進「敗毒散」，翌日仍進「四君」、「建中」、「香連」，痢即止，瘧仍如期，用丸藥補正托邪，明年方愈。</p>
<p>孫姓婦，年四十餘，體質極弱。甲寅秋患痢，嘔吐不止，醫進黃連、參、術不愈，痢反劇，投「藿香正氣散」，又不應，進「連理湯」又不應。易一醫，進溫澀之劑：烏梅、粟殼、肉果、乾薑，症反重，日夜七十餘次。又一醫用人參、薑、附，痢稍稀，翌日發熱惡寒，延予診治，脈得浮數微弦。其夫謂予曰：下痢身熱，法在不治也。予曰：此陷邪出表，乃生機也，議「小柴胡湯」。病家不肯發表，於是停藥，但飲粥湯，痢漸稀，令其用荷葉、粳米、桔梗、「益元散」、薄荷治湯飲，明日胸腹白㾦滿布，微汗熱退，痢止而愈。此症溫補誤治而劇，勿藥而痊。或曰：此婦平日常吃冷粥、冷飯，多啖瓜果，服參、附去其脾胃伏寒，故邪寒得從外達；理亦有之，仍偶然也，然三陽陷邪誤進溫補而死者，不可勝數，必發出陷邪，透出紅、白㾦，暑濕之邪方退耳。</p>
<p>一人病霍亂，明日發熱下痢，進「敗毒散」二劑，赤白未止而身發斑，議再投「敗毒散」以發表，合「犀角地黃湯」以清裡，加檳榔、木香、「青寧丸」以理氣導滯，兩劑而愈。</p>
<p>童佩芬茂才，冬初伏暑兼挾秋燥、患痢，守不服藥之戒，已將匝月。醫進「青寧丸」，燥矢去而痢不減，又進制軍亦不應，此時投逆挽法尚可圖治。乃易治，進「附子理中」加杜仲、肉果、阿膠，二三劑，痢不止而口燥舌紅，脈數大有力，延予治之。予謂：伏邪未經透表提出陷邪，徒用推蕩，無益於事，然亦未受害也，用肉果、白朮等藥，非太陰病而誤投之，則受害更深矣，安能挽回。書清火育陰方而辭之。後聞咽痛舌碎而斃。</p>
<p>以上略舉三陽下痢症萬不可用溫補，引邪入里，致傷人命，切戒！切戒。又按：外感三陽痢夾內傷者頗多，一時難辨；有內傷多而外感少者，有外感重而內傷輕者，宜分別先、後、緩、急而治，故舉一二成案為則。</p>
<p>喻嘉言治張君仲儀，仲秋得痢疾，日三、五十行，即請往診，行動如常，然得內傷之脈而夾少陰之邪。予診畢，議此宜一表一里，但表藥中多用人參，里藥中多用附子，方可無患，若用痢門諸藥，必危之道也。仲儀以平日深信，遂取前方不疑。然疾勢未著也，及日西，發大熱，身重如巨石，頭在枕上，兩人始扶動，人事昏迷，舉家惶急，忙忙服完表裡之劑，次早診時，即能起身出房，又與參、附二劑，遂得安全。若不辨證用藥，痢疾幾曾有此治法，況於疾尚未著者乎。</p>
<p>陳韶九按：所謂內傷之脈者，必右手空虛無力；少陰之邪，必欲寐，口不渴，審證確當，故敢放膽用之。</p>
<p>生生子治大宗伯董潯陽門下馬廚者，九月初旬病痢，延二十餘日，危在旦夕，寒熱極重，寒至不憚入灶，熱至不憚入井，痢兼紅白，日夜八十餘行，腹痛，噁心，汗多，神倦。蔣洪喬、沈萬二人，述其病狀而請於予，予曰：脈如何？蔣、沈曰：下痢脈洪大者死，細數者生。今洪大者，逆也。予曰：痢忌洪大，而寒熱又不宜細數，其中必有故。予往診其脈，果如所言。詢其致疾之由，病者云：日前客眾，廚間燥熱，食瓜果過多，晚又過飲、御內而寐於樓檐下，翌日即寒熱腹痛，因而下痢。予雖得其病情，尚未融通一治法，沉思良久，作背城一戰。人參、石膏、滑石各五錢，大附子、炙草各二錢，作一劑煎服；謂曰：倘得一睡，則陰陽和，和則汗可斂，而寒熱、嘔吐可止也。明晨巳刻再診，痢減半，汗、吐止，脈亦斂，再用人參、石膏、白朮、白芍、滑石、炮薑、知母各二錢，肉桂二錢，炙草、附子各一錢，服後熱止，痢又減半，食漸進，神氣漸轉；改用酒炒白芍三錢，人參、白朮、滑石各二錢，甘草、炮薑、廣皮各一錢，三劑而痢止食進。蔣、沈問曰：公寒熱均投，此謂何症而劑何名乎？予曰：此滑公所謂混沌湯也，《經》曰：夏傷於暑，秋必痎瘧，「白虎」、「益元散」皆解暑之劑，瓜果寒涼，傷其中氣，酒後御內，損其下元，「附子理中」，正所以溫中補下者；《經》云：實者，邪氣實也，「白虎」應之。虛者，正氣虛也，故「理中」應之。若以寒熱均用為嫌，則仲景「附子瀉心湯」既用大黃、黃連，又用乾薑、附子，此何說哉。蓋假對假，真對真也。</p>
<p>陳韶九按：凡病之成立，必有兩個以上原因，所謂單絲不成線也，按喻嘉言之治，前案乃三陽下痢而兼少陰病者，用「活人敗毒散」，重用人參以提出其下陷之邪，又用少陰「附子湯」，重用附子以溫其里。此案陽明經感暑、濕、熱三氣，如焰如焚，大汗淋漓，非「白虎」不能驅其暑熱，而酒色戕其下，瓜果傷其中，非參、附不能救其脾陽，此太陰、陽明一表一里同時受病，與溫病之兩感無異，「白虎」、「理中」合用，乃正治法也，由此推今之暑濕、伏邪等病，豈非兩感症乎，皆宜察脈辨證，胸中了了，方可立定主意用藥；試觀今之發熱脈微，數日即變者，皆此類也。附識數言，以為學者告。</p>
<p>附：上盛下虛，陽明、少陽熱邪，太陰、少陰、厥陰裡寒一案</p>
<p>舒進賢治天慶班小生，患痢甚危，七日不食，其症上身有熱，下身作冷，此陽熱在上，陰寒在下也，心中煩熱，乃陽明裡症，法用石膏，口苦咽乾、乃少陽腑症，法用黃芩，食不下，屬太陰，宜用黃耆、白朮、半夏、砂仁，身重多汗者，少陰亡陽也，法用熟附子、乾薑，厥逆腹痛者，厥陰裡寒也，主用生附子、吳茱萸；因其陰陽錯雜，藥即寒熱並用。一劑病略減，再劑心中煩熱、口苦、咽乾、上熱下寒、厥逆諸證均已，於是方中減去石膏、黃芩、生附子，加甘草、茯苓，數劑而愈。</p>
<p>附：三陽三陰、六經之邪皆陷一案</p>
<p>又治陳春元侄，患痢紅白相兼，身發熱而食不下，醫謂受暑，用香薷、黃連多劑，痢轉紅，不能起床，延予視之。其症惡寒發熱，頭項強痛者，太陽表證也；前額、眼眶連兩側痛者，陽明、少陽之表證也；胸膈不開，飲食不下，屬太陰、少陽之候也；目瞑身重，少氣懶言，屬少陰見症；且見厥陰之腹痛拘急，逆上胸膈；此症邪陷六經皆具矣。用桂枝、葛根、柴胡，以解三陽之表；黃耆、白朮、半夏、砂仁，為三陰理脾開表；附子、乾薑，走少陰，溫經散邪；吳萸、川椒入厥陰，去寒降逆。一劑寒熱清而頭痛止，痢轉白而無紅，其三陰之證仍然未減，於方中去三陽表藥，再劑飲食漸進，腹痛略止，痢亦稍輕，將前藥再服三劑而愈。</p>
<p>附：少陽兼太陰陷邪案</p>
<p>又治一人，寒熱往來，口苦不食，痢紅白兼綠凍，又帶清水。有知醫者問曰：此噤口痢也，主用黃連乎。凡不能食皆名噤口，然而有寒、熱、虛、實、陰、陽、表、里之不同，觀其外證，少陽之經證也；綠凍少陽之本色也，清水如溏，屬大陰之藏寒也。少陽經證主表，太陰藏寒主裡。其陰陽、表裡懵然不辨，妄投黃連，必殺之矣；問者聞而愕然，復問曰：當以何法主治乎，曰：主以「小柴胡」加白朮、茯苓、附子、肉桂。一劑而效，三劑而愈。</p>
<p>附：三陽陷邪、兼太陰臟寒，下痢赤白夾血一案</p>
<p>壺蘆山人治貢楚翹孝廉，下痢赤白兼血而脈緩弱，進「人參敗毒散」先解其表，其脈仍緩弱無力，脾虛兼暑也，用「附子理中」加香、連、白芍而愈。蓋孝廉有胃寒，暑月食瓜，加以火酒，又值中年以後、中虛之故。當日同議者，貢上之先生也，此亦外感兼內傷者。</p>
<p>陳韶九按：外無寒熱表證，進「敗毒散」似嫌不合，「附子理中」亦嫌過峻，河間苦辛寒方，確合此病。</p>
<p>附：陷邪未經表散而先下一案</p>
<p>吾鄉老醫孫御千，於乾隆戊子七月，治李諧禹令政趙氏，年十七歲，患痢極重，乃翁招御千入城診視；痢已五六日，始純紅，繼白色相兼，今下紅白黏膩，日夜四、五十行，後重窘迫，多在腰尻、尾閭之間，少腹不過微痛，胃口不能納食；閱前方，並未外解，用硝、黃攻下而劇，外邪暑熱，凝結下焦，無從解散，先疏其壅，用川連、生薑、秦艽、枳殼、木香汁、檳榔汁，楂肉、神麯、桔梗、鮮荷葉、陳倉米，煎湯服一劑。次日墜痛少減，腹中喧響，矢氣甚臭，滯未盡而有糞色，且知飢納穀；書謂下痢矢氣者，當利其小便，急開支河以通之，滑石、茯苓、甘草、扁豆花、川連、青皮、廣皮、阿膠、白芍、荷葉，服二劑。八月初二早診，痢已減半，谷納漸增，脈皆和緩，獨右尺動大少平，遏邪陷於大腸之分未盡；擬將欲降之，必先升之法。羌活、升麻、防風、南沙參、滑石、生草、茯苓、廣皮、楂肉、檳榔、乾荷葉、炒陳米煎湯。晚又進末藥一服。地榆、銀花、木香、楂肉、麥芽、茯苓、廣皮、甘草，以腸胃病宜散不宜湯也。初三日痢止、便溏，肌肉潤澤有汗，神志清爽，谷納頓加，脈細弱而數；痢後陰虛，宜用阿膠、白芍、炙甘草、扁豆、建蓮、廣皮、茯苓、砂仁。數劑而愈。</p>

<h2>一曰秋燥</h2>
<p>秋燥者，火之餘氣也，濕之復氣也。其時大火西流，燥氣盛行，故痢每甚。四氣、五氣之間，因濕熱最傷肺氣，肺氣不肯受邪，傳之於腑，肺火鬱於大腸，其腹痛甚，所下皆赤白膿血黏稠，其症甚重，陰虛者尤多患之。《金匱》云：「肺痛」者，非肺痛也，肺氣下鬱於大腸故痛也，宜用桔梗以開之，苦寒以化之，滋陰以潤之，《金匱》主「紫參湯」，紫參不知何物，張璐以紫菀代之，亦是開泄之義。此症忌用「敗毒散」，以風藥多燥也；忌大下，陰虛者下之復傷其陰也。忌補氣，氣愈滯則燥愈甚也。張飛疇云：此症補氣死，攻積亦死，宜「白頭翁湯」加甘草、阿膠湯。予嘗用「黃連阿膠湯」加桔梗，多效；每見此症，夭枉者甚多。喻氏云：水出高源，肺氣清則小便自行，肺與大腸為表裡，大腸之熱，皆因肺熱所積，尤宜用辛涼之藥，清化肺源，況腸胃有病，其所關全在乎肺。《本草》謂：紫參治心、肺、腹中痛，疏積聚，療腸中熱，通九竅，利大、小便；仲景取通因通用之意，可見肺氣不通而痛，則急通其壅可知矣。</p>
<p>愚按：嘉言此論，即秋燥之根本，予所見患此者多極，醫者不識，故詳及之。</p>
<p>【引證】</p>
<p>舒進賢曰：秋燥者，秋分以後燥金主氣之時，涼風漸起，暑氣退而熱氣收，天氣清而土氣燥，起居咸康，然天道靡常，時有不正之氣溷於清肅之令，轉令暴行，謂之秋燥。其燥氣上浸於膈，即乾咳，失音，咽痛，心煩，肌無潤澤，法宜玉竹、天冬、桔梗、蔞仁、雞子白。其燥下侵腸胃，則腹痛下痢，裡急後重，皮毛焦槁，索瑟無汗，心躁咽乾，法宜生地、阿膠、桔梗、蔞仁、雞子黃。燥與火不同，火為實證，陽亢熱甚，身熱多汗，宜苦寒奪實而瀉其熱，燥為虛證，陰虧失於潤澤，肌膚乾燥，宜苦寒滋其陰而潤其燥；又與陷邪不同，陷邪有濕熱、有脾虛，此為陰虛，耆、朮、砂仁、半夏萬不可便投也。</p>
<p>附：秋燥痢醫案</p>
<p>舒進賢治一人：身體熯燥，聲音重濁，腹痛、心煩，口燥無味，痢症日增，痛愈甚；曰：此秋燥症也，用阿膠、生地各四兩，桔梗、甘草各二兩，濃煎、不時與服，一日一夜完畢，人事蘇暢，各證略減，忽思鮮魚下飯，即與之，食訖得汗，其病如失。或問：此症腹痛，有寒熱乎？余曰否；肺氣為燥氣壅遏入腹中，搏結作痛，但清其燥氣，則無往不得矣。</p>
<p>壺蘆山人治尹山令弟：秋燥下痢，腹痛異常，赤凍有血，醫進「敗毒散」及辛溫燥劑，症反增重，舌紅口燥，澼出無度。延予診，脈澀數，進「黃連阿膠湯」加桔梗、荷葉、白粳米湯，並進兩劑，痢減半，再將前方去桔梗，加「益元散」、炒銀花、知母，三服而愈。時道光庚子秋也。</p>
<p>論秋燥亦因歲氣盛衰</p>
<p>孫氏御千曰：乾隆戊子，少陰君火司令，小滿後夾三伏之氣，正屬主氣，客氣亦屬君火加臨，二陰盤旋太虛，風火自出，日日風火亢旱，自春至秋，逢風熄之日則炎熱異常，立秋後上自湖廣，下至江浙，皆患疫痢，色赤或五色相兼雜，虛者受之，必噤口而入臟肢冷，五六日告斃矣，輕者由赤轉白乃愈，瘧疾絕少。夫火盛之年，本能生土旺胃，因木火同性，肝膽肆橫，挹取胃中津液，腸胃中被竊空虛，暑毒乘虛內襲，故患痢者多。瘧乃少陽經病，木旺邪不入，故少。本年治痢，以肝為剛臟，宜制以柔，用阿膠、白芍；胃為陽土，喜通惡塞，用人參、茯苓、甘草、陳皮，通補胃陰；荷葉升清，陳皮理氣，銀花清少陰君火而解毒，加檳榔汁以疏通腸中之壅。同姜體干酌定，無不應手取效。</p>

<h2>一曰時毒</h2>
<p>時毒乃疫氣流行，或因天氣亢旱，暑熱異常，或因天時大水，濕熱鬱蒸，或因水氣偏勝，一方盛衰不同，其病速，其症重，每有二三日告斃者。逆挽法輕不可廢，而鞭長莫及；苦辛寒急下之法，不可緩投。喻氏曰：有驟受暑濕之毒，水穀傾囊而出，一日夜七、八十行，大渴，飲水自救，此腸胃為熱毒所攻，傾刻腐爛，更進逆挽法，迂矣！通因通用之法：大黃、甘草、川連，一日夜連進三、五十次，俟其上渴、下痢之勢稍緩，乃平調於內，更不必挽之於外，蓋其邪如決水轉石，乘其勢出盡，無可挽耳。更有急開支河一法：其邪熱之在裡者，奔迫於大腸、膀胱，熱急則氣不化而小便短赤，不用「導赤」而用逆挽，仍非計也；清膀胱之熱，令氣分行而分消熱勢，則甚捷也；仲景謂：下痢矢氣者，當利其小便，非急開支河之謂乎。</p>
<p>【引證】</p>
<p>舒進賢曰：時毒者，天行疫癘，時氣流行，觸之為痢，外見心煩，惡熱，口臭，氣粗，渴欲冷飲，腹滿攪痛，鼻如煤煙，肛門似烙，乃熱毒內攻，臟腑有立壞之勢，急宜「三黃」陡進，以救內焚，加桔梗開提肺氣，宣其壅而舉其陷，腹痛自止，熱毒除而疫癘消，下痢亦愈。此症腹痛，乃肺氣為火熱所迫，陷入腹中，壅滿遏甚而為擾痛，與虛寒腹痛不同；虛寒者腹不滿，喜手摩按，法宜溫補；火熱內壅者其腹滿，不喜摩按，耆、術溫補，毫不敢犯，即如陳皮、木香、厚朴等藥，皆不可用，惟有桔梗開之一法，投之立應。</p>
<p>陳韶九按：用桔梗開提，亦必加於苦寒藥中，如「三黃解毒湯」加桔梗；此神劑也，予曾驗過。</p>
<p>繆仲醇曰：時行疫癘一症，三十年前間或有之，今則往往夏末秋初，沿門闔境患此。其症發熱頭痛，口渴，躁煩，痢而溺澀，甚者一日夜僅百餘次，或兼發斑疹，熱甚危迫，世醫妄指為漏底，殊不知此時氣使然，因世人稟賦漸薄，積感濕蒸癘氣所致，法當清熱解毒、表散為急，如升麻、葛根、柴胡、黃芩、黃連之類；或熱遏甚，前藥可加寒水石，更有別症，以意加減，切忌破氣、收澀，犯此多致不救。</p>
<p>愚按：仲景《傷寒論》中，凡寒熱泄瀉，熱結旁流等症，統曰下利，毫無分別，故方書每以泄痢二者混同立論，繆氏此論，亦舉泄痢而統言之，學者未免混蒙。須知滯下亦屬時行雜感，與暑濕、霍亂、洞泄、飧泄、協熱下利、熱結旁流，同源異流，皆時毒所致；有赤白積垢，裡急後重者，痢疾也；無是者非也。治法總是表裡雙解，下手稍緩，去生便遠，時行之病，大率類是。余長子十八歲，亦以此症殞命，當時擬「敗毒」加制軍、芩、連，雖曰小效，而邪仍內陷，發熱、咽腐而斃。早知繆氏之說，當不至此。</p>
<p>附：時毒醫案</p>
<p>喻嘉言治朱孔揚，年二十五歲，形體清瘦，素享安逸，夏月因𣂏訟奔走日中，受暑濕內蘊之火而成痢疾，日夜一、二百次，不能起床，以粗紙鋪於褥上，頻頻易置，只飲水而不進食，其痛甚厲，肛門如火，揚手擲足，躁擾無寧。予診其脈弦緊勁急，不為指撓，謂曰：此症一團毒火、蘊結在腸胃之間，其勢如焚，若二三日外，腸胃俱腐臭矣；於是以大黃三兩，黃連、甘草各二兩，入大砂鍋內煎濃，隨滾隨服，服下人事稍寧，少頃仍作躁擾，一日夜服至二十餘碗，大黃俱已煎化，黃連、甘草俱已煎至無味。次日，病者再求煎藥，余診畢，見脈勢稍柔，知病可愈，但用急法，不用急藥，遂改用生地、麥冬各四兩，另研生汁，而以花粉、丹皮、赤芍、甘草各一兩，煎，和前汁大碗咽之。以其來勢暴烈，一身津液從此告竭，待下痢止後生津養血，則枯槁一時難回，今脈勢既減，則火邪已退，不治痢而痢自止，豈可潤滯之藥而不急用乎，服此藥果然下痢盡止，但遺些少氣沫耳，第三日思豆腐漿，第四日略進陳米汁，緩緩調之，旬余方能消穀，亦可見胃氣之存留一線，不可少此焦頭爛額之客耳。</p>
<p>附錄繆仲醇治毒痢及發疹、時毒痢方</p>
<p>鮮金銀花三兩，濃煎三大碗；入生地榆五錢，川連、炒槐米各四錢，川柏、黃芩各二錢，酒炒白芍三錢，炙甘草三錢，醋炒綠升麻六分，同煎一碗，調飛滑石五錢。不拘時服。</p>

<h2>一曰滑脫</h2>
<p>滑脫每見於久痢之後，三氣之邪已盡，五臟之氣不固，所以不過微黃稀水，並無赤白凍，亦無裡急後重，小便不赤，口舌不燥，脈沉細而弱，審定屬虛寒者，方可用溫澀之劑，仲景所謂陽明不闔，太陰獨開，下焦關閘盡撤，以「赤石脂禹餘糧湯」，必如此而後可。</p>
<p>曰滑脫也，豈可以裡急後重、至圊而不爽、日夜無度者亦曰滑脫哉。生死關頭，不容不辨，每見市醫治痢，並非滑脫，誤進粟殼、肉果、補骨脂、杜仲、菟絲子等兜澀之劑，殺人無算。</p>
<p>【引證】</p>
<p>舒進賢曰：滑脫者，由病後久虛，脾胃土敗，腎陽衰乏，中氣不固，下陷而為滑脫，法宜大補元氣，扶陽固腎，理脾健胃，更加澀以固脫，方用：人參、附子、肉果、鹿茸、炮薑、半夏、砂仁、川椒、芡實、山藥、故紙、益智仁、圓肉，大劑多進，俾令陽回陰消，脾胃強健，腎氣收固，元氣大復，滑脫自止。</p>
<p>繆仲醇曰：凡治滯下，與大腸滑泄自利不止不同，滑泄自利不止，有可澀之道，故古人有間用罌粟殼及訶黎勒，以止其滑脫並泄；若夫滯下，本屬濕熱澀滯不行，法宜疏利，藥忌兜澀。大腸，腑之病也，大腸既有濕熱留滯，肺家亦必有熱，肺為華蓋之臟，《經》曰：脾氣散精，上歸於肺，通調水道，下輸膀胱，是肺氣喜通利，惡閉塞，故古人藥性中每云「利肺氣」，大意概可知矣。倘誤用粟殼、訶黎勒，使濕熱無所宣泄，肺氣不得下行，非惟滯下增劇，濕熱熏蒸上干乎肺，則且脹悶氣逆，不得眠，不思食諸症至矣。</p>
<p>陳韶九按：滑脫可澀，滯下不可澀。蓋謂脫者，邪氣已盡，元氣已虛；滯下者濕熱未清，邪積猶留。審證不確，死生反掌，可不懼乎。</p>
<p>【醫案】</p>
<p>喻嘉言治浦君藝痢，初起有表邪未散，誤用參、術固表，使邪氣深入，又誤服黃連、涼膈、大黃推蕩，經治月餘，胃氣不運，下痢一日夜百餘行，一夕嘔出從前黃連汁三五碗，嘔至二三次後，胃與腸打為一家，內中幽門、闌門洞開無阻，不但粥飲直出，即人參濃膏才吞入喉，已汩汩從腸中奔下，危急之中，諸崑玉及諸內戚俱探余曰：此症可無恐乎？予曰：在此用藥，便有可恃；吾豈不知痢勢之危，但別無可任，姑以靜鎮之，而殫力以報於知己耳。於是以大劑「四君子湯」，煎調赤白脂、禹餘糧二味，連連與服，服後下痢之勢稍衰，但腹中痛不可忍。君藝謂余曰：前次下痢雖多，然尚不痛，服此而痛增，未可再服矣。予曰：此正「通則不痛，不通則痛」之謂也，不痛則死，痛則安，何樂而不痛也；仍以前藥再進，症勢漸減，統用「四君子」倍茯苓十餘劑而安。</p>
<p>葉天士治喬姓，初起無寒熱，即瀉痢嘔惡不食，此噤口重病，暑邪之傷由口鼻吸入，邪與水穀交混，蒸變濕熱，釀為積滯血膿，腸胃氣窒，欲解不能通暢，遂致裡急後重。「香連」苦辛理氣，導濕清熱，初用頗是。但平素勞碌，非膏粱溫養之體質，淡薄積勞，中氣易傷，四十日余，積少痛緩，似屬病解，然食不下咽，不知飢餓，診得脈弦，形衰，舌白不渴，飲水自瀉，全屬胃倒氣奪，中宮虛極，下關不攝，穀食不能下咽，焉能承受湯藥味氣之劣，胃衰必惡，久痢久瀉，務在自食，古人非醒脾即安腎攝納；再詢：粉漿下咽，或嗆或噎。議以上脘宜通其清陽，下焦當固攝其滑脫；仿古人方中「參苓白朮散」末，佐以米飲，日服二次，間以不膩滑之物日食少許，以示胃之所喜為補，必得胃氣漸醒，方可轉危為安。方用：人參二錢，焦白朮一錢半，茯苓一錢半，炙草五分，炒扁豆二錢，桔梗一錢，苡仁一錢半，砂仁八分，炮姜一錢，肉豆蔻一錢。上藥共研細末，稱准分量，每次以香粳米湯飲，調服一錢半，日進二次。</p>
<p>陳韶九按：此要訣也，所謂吃不死的痢疾，謂其有胃氣也。治久痢大法，盡於此矣，病至滑脫，若只圖固攝而不佐宣通，則病雖減而胃氣難復也。</p>
<p>痢疾初起，亦有用補塞者，附錄一案備考。</p>
<p>吳興陸養愚治吳南丘：八月間醉後御內，明日患痢，一日夜百餘次，赤白相兼，狀如爛肉，腹中作痛，四肢厥冷，脈緩無力，兩尺尤弱。余曰：即宜補塞，處方先書人參、肉果二味，其諸子大駭曰：無積不成痢，豈一二日即用補塞者乎，予姑以「調氣養榮湯」，不進不退。明日又診，還宜補塞，諸即又力爭，仍以前湯加人參，而彼竟不加，亦無進退。一醫進芩、連、檳榔、本香等藥，腹痛加劇，足厥如冰冷，時時少氣不足以息，所食之物即從大便而出，色竟不變。復延余診，進而視之，身體不能轉側，大便如流，勢甚危急而兩脈神氣俱未絕，因用大料「附子理中湯」，倍人參、加肉桂、肉果，一帖腹痛稍減，數劑足溫泄少，後用人參至兩斤始起，鬚髮盡落。</p>
<p>陸潤生評曰：病有反治，有正治，有常治，有變治。痢久而通因通用者，反治也，通久而塞者，正治也。然而初起用通者，常治也，初起用塞者，變治也。知反知正，尤宜知常知變，方為合法。吳南丘諸公子執無積不成痢之常法，而不知尊君脈症之虛，若非神手，幾敗乃事。</p>
<p>陳韶九按：此症開手即用補塞，全在脈緩無力，兩尺猶弱上著意，所謂胸有成竹，眼底無花，不過仍為傍議奪意，未能斷然處方，致有此變。甚矣！醫事之難，豈易言哉。蓋芩、連、檳榔，重墜元氣，氣被耗殘，故腹痛如割；足厥氣少者，少陰關閘廢弛也。</p>
<p>以上四大綱，邪陷、秋燥二證，患者極多，亦有邪陷兼秋燥者，亦有邪陷繼而陰傷化燥者。至於時毒疫痢，每盛於亢旱酷暑之年；暑濕病亦多有之，若滑脫則不多見，久痢之後、邪淨正虛者始有，此症患者極少，切勿以裡急後重者誤作滑脫治之，致成久痢或正虛邪戀，邪正同歸於盡而死，不可不慎。</p>

<h1>痢因暑濕熱三氣</h1>
<p>痢疾一症，盛於夏秋，暑、濕、熱三氣與食滯交蒸互結為病。蓋濕為黏滯之邪，熱為無形之氣，積為有形之滯，必用苦、辛、寒，清熱導滯，如溝渠壅積汙濁，不能一通即愈，一下即安，故七日內初進喻氏法，次宗河間法、丹溪法，無不應手。</p>

<h1>痢不獨濕熱</h1>
<p>《內經》云：春傷於風，夏生飧泄，此因風之伏氣至夏始發也，又曰：飲食不節，起居不時者陰受之，……陰受之則入五臟，……入五臟則䐜滿閉塞，下為飧泄，久為腸澼。常恣縱口腹，肥甘濃厚，傷及腸胃，或多食瓜果，陽氣被抑，反受生冷之害；須知腸胃一傷，不能轉化精微，傳送糟粕，壯者氣行則已，弱者著而為病，蓄積停滯而為痢矣。故戴元禮曰：痢疾古名滯下，以氣滯成積，積滯成痢，治法當順氣為先，故古法清熱導滯方中，必用辛溫藥味為反佐，如「潔古芍藥湯」之肉桂，「瀉心湯」之乾薑，皆先正法程也。按：春風伏氣，至夏腸澼，亦是下陷，「活人敗毒散」亦對症之妙法也。</p>

<h1>辨治痢與治瀉不同</h1>
<p>泄瀉有寒，有熱、有濕、有食積、有清氣下陷之不同，用藥有溫燥、分利之異。痢則純乎暑、濕、熱與燥火交結為病，復有邪陷、秋燥、時毒之別，或涼、或潤，或宜推蕩，或宜清暑；最要清暑化熱，不忌清滋滑潤，溫燥萬不可投，耆、術萬不可用，與治瀉有天淵之別。每見治痢者輒進薑、附、二術溫燥之劑，誤人不少。明乎仲景六經辨證之法，可無此等之弊。</p>

<h1>辨痢屬大小腸之病</h1>
<p>心與小腸為表裡，暑為君火，心氣應之，故暑先入之，心不受邪，移與小腸，「盛受之官」，不能化物，故當臍腹痛，膿血黏稠，數至圊而不解便，所謂「暴注下迫，皆屬於火」也。肺屬金，為嬌臟，體燥而畏火，暑熱迫之，移於大腸，傳導之官不克變化而出糟粕，由是膿血難下，赤白相兼，糞矢壓於廣腸，致後重窘迫，其勢甚苦。從未有人說破此理，特為倡明。</p>

<h1>辨痢屬脾胃濕熱當分陰陽虛實</h1>
<p>脾為己土，屬陰，濕襲之便為寒濕。胃為戊土，屬陽，濕襲之化為濕熱。痢者濕熱病也，脾不運化，濕熱襲於陽明者居多，故痢疾每多見陽明病，或通因通用，或寒因熱用，導去腸中之熱，則濕亦漸化矣；若脾之寒濕為病，當溫脾化濕，此屬太陰病，不可混治。</p>

<h1>辨痢疾有燥矢凍膩旁流</h1>
<p>下痢膿血稠黏，必有燥矢結於腸內，故後重窘迫、屢下不爽；結於廣腸則後重更甚，赤白腸膏皆從燥矢之旁流出，燥矢一日不去，腸膏一日不止，每見用升、柴升提而後重依然如故者，何哉？蓋無形之氣下墜可升，有形之滯壓於肛門，不能升也，當用大黃下之，大解頓然通暢，燥矢盡去，後重如失，腸垢自無，霍然而愈。若元氣稍虛者，燥矢化作小塊，陸續而下，一時不愈，必待數日屎多凍少，漸次而愈。無論陷邪、秋燥、時毒，均有燥矢結於陽明者。此理前人亦未發明也。</p>
<p>附：醫案</p>
<p>憶道光戊子七月，先君七十七歲，患痢，腹痛後重，日夜三十餘次，進「敗毒散」，用人參，是夕不減，明晨又進一劑。謂士英曰：予收視返聽，覺致疾之處在小腸下口接大腸地，病至其痛令人難堪，所以痢下不起者頗多。不肖於是晚進「敗毒散」半劑，明晨進「潔古芍藥湯」，制軍用三錢，至下午，大解慄糞數枚，尚有凍膩，傍晚又大解燥矢二三寸者數枚，諸症如失，即飽餐夜飯，從此霍然。先君平日勤修好學，內養功深，嘗謂不肖曰：守真劉河間云：「和血則便膿自愈，調氣則後重自除」二句，切中是病，糞結而不行，凍系腸膏，因後重逼迫，旁流而出，前賢不說破者，要後學用功心悟耳。</p>

<h1>辨痢因邪滯廣腸藥難立到致後重窘迫</h1>
<p>痢因邪滯大、小腸，其迴轉曲折之處，用藥已難清理，邪滯廣腸，燥矢壓之，後重窘迫，痛苦萬狀，煎藥一時難到病所，蓋湯者蕩也，僅能盪滌中、上焦無形之邪，廣腸在下焦極下之處，其道遠，其邪深，必用苦寒有形之藥，滌之導之，方能直到病所，「青麟丸」、「滯下丸」，甚者「當歸龍薈丸」，均為應用之劑，古人必用檳榔者，正為此耳。</p>
<p>吾鄉祝思佳君，病痢，進「敗毒散」以提陷邪，渠欲速效，吸洋菸而痢益不爽，肛門如有刺毛刺痛，予謂：一團濕火結於肛門，必須通之，用「青麟丸」、「芍藥湯」，重用大黃皆不效，服「更衣丸」始去結糞數塊，又進「龍薈丸」三錢，大下結糞數次而瘳，因知後重逼迫，肛門如烙，乃濕火結成宿垢，滯於廣腸之故也。</p>

<h1>辨腹痛有火有滯有肝邪橫逆有傷臟陰之不同</h1>
<p>濕熱與食滯互結，定然腹痛。痛在中脘，陽明病也。痛在當臍及少腹，大、小腸病也。皆因食滯與濕熱阻滯氣分，並傷及血分，不能運行所致。治當清火、理氣、導滯，所謂和血則便膿自愈，調氣則後重自除。至於肺火鬱於大腸，小腹之痛尤劇，宜桔梗以開提之，紫菀以辛潤之，痛或挾肝邪，白芍在所必用，膿血剝膏從中刮下，焉得不痛，吳人謂之「刮積」，正是此意。若傷陰而痛，皆因痢久腸膏竭絕；邪已盡去，扶正補陰可愈，邪未盡出，雖補無益，必至邪正同歸於盡而已。再按，邪正相搏則痛，氣分鬱結則痛，血分凝結則痛，其有不痛者，人多忽之，不知邪正混合為痢，雖重，腹亦不痛，最宜詳審。</p>
<p>陳韶九按：此節卻道人所未道，最宜注意，不可以不見痛而便斷為虛寒，遽投溫補也。</p>

<h1>辨痢不腹痛</h1>
<p>痢有不腹痛者，乘其元氣未傷，投劑宜峻，如發表、攻裡、清熱、化濕，蓋濕熱極盛，正不與邪爭，故不痛也。若是寒邪，邪正相爭，亦必腹痛，醫家、病家，每以不腹痛而忽之，遷延日久，必多誤事。</p>

<h1>治痢七日以內用藥宜峻不可因循誤事</h1>
<p>痢疾初起，乘其元氣未傷，投劑宜峻，如發表、攻裡、清熱、導滯、理氣等法，萬不可緩。若膽小用疲藥，因循誤事，致延成久痢或休息痢，甚至因邪致虛，正虛邪實，誤人性命者，醫之過也。</p>

<h1>治痢又不宜鹵莽峻攻致傷</h1>
<p>治痢宜相人之虛實，察寒、熱、表、里、陰、陽，斟酌用藥，庶無太過不及之弊。若一味孟浪，攻補亂投，禍不旋踵，必須察脈辨證，而又不拘於俗見，不泥於成見，當清則清，當下則下，當補則補，實有把握，方不愧為司命。</p>

<h1>辨治痢用補中益氣之謬</h1>
<p>痢為滯下，因氣滯血凝，失流利之常度而成，宜利氣，不宜益氣；宜疏通，不宜壅滯。耆、術呆鈍之物，非特閉氣留邪，抑且就火化燥。若為因後重而用之，則有形之燥矢壓重肛門，用升、柴升之無益，徒使虛火上升而後重窘迫如故也。若謂中虛而補之，則留邪遺禍也。予表叔曹士禎先生，年近古稀，患痢，醫者初起亦用「敗毒散」以解表，苦寒以清裡，旬日外未痊，慮其年老，用「補中益氣湯」，從此更重矣。延至十一月，延予治，予曰：此因補留邪之誤也，用「香連丸」、「青麟丸」以撤邪，至正月方愈。予見此證誤治甚多，不可不辨，至人參，仿「人參敗毒散」外，亦不可輕用。</p>

<h1>辨治痢用二術之謬</h1>
<p>蒼朮雖燥濕而滯邪，用之於寒濕則可，用之於濕熱則不可；白朮則壅閉氣分，更非所宜。常見服此者皆纏綿難愈，亦有因此殞命者。至山藥、扁豆，皆不可輕用。繆仲醇治一少年名貴介，暑月外出，飲食失宜，患滯下，途次無藥，歸則腹痛不已，遍嘗諸藥，入口痛甚，亦不思食，仲醇視之，曰：此濕熱耳。其父曰：醫亦以濕熱治之而劇，仲醇曰：投何藥？曰：蒼朮、厚朴、枳殼等，曰：誤也，術性溫燥，善閉氣，故滯下忌之，少君陰虛人也，尤非所宜，以滑石一兩、為細末，丹皮汁煎之，別以酒炒白朮五錢，炙草二錢，炮姜五分，水煎，調滑石末服之，須臾小便如注，痛立止。引此以證用術之誤。</p>

<h1>血痢</h1>
<p>痢下純紅或鮮紅，或紅紫相兼，二者皆濕傷及血分，此極重之候也，必用苦寒以清其熱，歸芍以和其血，製大黃，「青麟丸」在所必用，「潔古芍藥湯」、「東風散」皆對症之王道藥。時賢陳修園曰：醫書云下痢純血者死；按其治法，不過阿膠、地榆、槐米之屬，安能救得死症。如果鮮紅下奔，口渴溲短，裡急後重，脈盛者，乃火症，宜「白頭翁湯」，一日兩服；虛人及產後加甘草、阿膠；亦有鮮血而非火症者，血帶黯而成塊，俱宜從脈症細辨。</p>
<p>附：血痢色鮮色黯治驗</p>
<p>繆仲醇治陳督學，因校事過勞，感暑滯下純紅，醫皆難之，陳刺史曰：「此非仲醇不能療也」，使者旁午得至吳門，一日夜馳至武陵。仲醇診得其所由，用人參五錢，升麻七分，炙草錢半，烏梅二個，紅曲二錢，黃連三分，白芍三錢，蓮肉四十粒，煎調滑石粉五錢，兩劑愈，督學曰：「痢止矣，心搖搖不能閱案，奈何？」仲醇曰：「此勞心太過，暑因客之故耳」，加棗仁、乾葛、竹葉，一劑遂平。</p>
<p>吾鄉戚孟楊先生治潘金奎，裡急後重，腹痛下痢，純紅不爽，日夜二十餘次，脈沉、弦數有力，以暑濕滯食、兼時毒傷血也，用「潔古芍藥湯」去桂易炮薑炭，加地榆、銀花、荷葉、陳米湯煎，三帖而愈。</p>
<p>又治一人，血色晦黯，脈細如絲，腹痛作嘔，後重逼迫，十餘日飲食不進，用「黃芩湯」，加炮薑、地榆、桃仁、枳殼、楂肉、伏龍肝、荷葉、陳米，服之血漸少，後用「連理湯」而愈。</p>

<h1>下痢血水</h1>
<p>下痢血水，或如洗魚之血水，或如豬肺之血水者，此濕熱俱重，蘊結於魄門，煎湯不能到其處，用桂元肉七枚，每個包苦參子仁七粒，空心淡鹽水送下，宜間日服之，以待脾之運化，若日日服之，囫圇之物一時消化不及，恐反妨飲食耳。此方先大夫得之都中，本治濕熱便血，百藥無效，用此愈人甚多。治病在廣腸，必用有形之物苦泄之，而又恐苦寒敗胃，用桂元之甘溫包於苦參之外，先到胃中，甘溫之味先化，苦寒之味未彰，直至小腸、大腸以至魄門，苦乃直趨於下，俾濕熱之陷於極下者，始得清耳！用藥之妙如此。方書以下痢血水為死證，未必盡然。</p>
<p>附：暑濕下痢血水急症案</p>
<p>國初云間清白里老醫，治吳玉榮令郎琴五，於八月十三日患痢，裡急後重，似乎輕症，惟脈沉數，積滯不清，熱邪鬱伏之象也，即告以勿輕視，當清虛淡泊為主，越數日，內熱甚，日夜百餘次皆血水，後重逼迫，肛門如火灼，小便不利，諸醫皆進消積和血藥，反脈大身熱，血水如注，議者皆以為不可治；余曰：「脈證雖危，尚有善狀，胸膈舒暢，粥飲可進，身體輕快，積色鮮明，無臭穢之氣，熱勢雖甚，腸胃未傷，此係暑邪傷其津液，無形之火為患也，必得有形之水制之，用井水調「益元散」與之，並以西瓜汁間服，一日數十碗方覺快爽，以「黃芩芍藥湯」加川連、枳殼、滑石、木通、銀花之類治之而安。蓋此症不宜用消導、和血之藥者，乃無形之暑邪為患耳，半月間用西瓜四十餘枚，井水調「益元散」三十餘碗，黃連五兩餘，肛始不熱，口始不渴，若以痢門常法治之、則津液愈耗，綿延日久而斃者多矣。</p>

<h1>下痢如屋漏水</h1>
<p>方書載：下痢如屋漏水者死，亦未盡然。夫所謂屋漏水者，即紅黑色之水也，或如赤豆汁，或如糖芋頭汁，混濁不清，治以苦寒清火，而兼分利以化其濕，無不皆痊，始知屋漏水非死症也。予每用單方：黃鱔去腹雜及血，風乾、炙灰，每服三錢，拌赤砂糖三錢，黃酒調服，四五次，即腹痛亦愈。</p>
<p>附：醫案</p>
<p>壺蘆山人治峭岐繆金官，年四十餘，七月中旬病痢，延至八月中旬延余治，腹不痛而後重不爽，胃呆不醒，所下穢水如糖芋頭汁。閱醫方：有用溫者，有用涼者，雜治罔效。予用焦楂肉、銀花炭、地榆炭、「益元散」、茯苓、木通、枳殼、芩、芍、陳米，煎服三劑，繼進黃鱔灰，如法服之，七日霍然；半月以來，始知飢進食，未下床也，更心中覺飢，適有煮爛豬肺在床頭，尚未冷，極盡吃之，因又下痢，赤少白多，復延予治，進「青麟丸」二錢，下宿垢頗多，又疏投白芍、楂肉、檳榔、「香連丸」，炮姜，糞多凍少，又進「理中丸」合「資生丸」日服，過冬至方愈。</p>

<h1>下痢五色及凍如魚腦</h1>
<p>下痢五色及凍如魚腦者，方書咸謂之死症，余所見者，治之得法，無不中竅，常用豬小腸油膩垢、刮下，瓦上炙焦黃色，研末，陳酒調服，三四條即愈，腹痛者亦效。蓋小腸，人之分金爐，飲食由胃而下，至此始化糟粕，歸於大腸為屎，水飲化入膀胱為瘦，屬丙火，故亦曰「赤腸」，火熱下迫，失其傳化，故病滯下，痢久刮腸膏，便如魚腦、或如五色，即以小腸之垢治之，亦同氣相求之道也。</p>
<p>附：五色痢醫案</p>
<p>壺蘆山人治江陰祝藝芳明經令正，患痢赤白，續下五色，溫之、寒之、攻之不應，一月不愈，諸醫咸謂不治。延余診：脈虛數，腹痛後重，苔白，予謂：聲音清亮，粥食可進，未見絕證，但性躁多怒，非所宜也；用「香連丸」、檳榔、芍藥、歸身、枳殼、「天水散」，兩劑，「青鱗丸」三錢，繼進豬小腸垢，如法制服，十日全愈。</p>

<h1>痢疾發癍疹</h1>
<p>時疫痢多見發癍、發疹，前錄繆氏說可以為法，「活人敗毒散」、「銀翹」諸法，皆妙劑也，不治痢而痢自止，提發之後而熱熾舌絳者，「犀角地黃」合以清之、泄之；邪結於胃者，「涼膈散」、「大柴胡湯」、「雙解散」均可參用；至於發白疹，乃暑濕陷邪由肺胃而達皮毛，最為佳兆，勿藥亦痊，咳嗽亦佳；若轉瘧疾，從少陽之樞而出，均屬生機。</p>

<h1>久痢傷陰</h1>
<p>大腸主津，小腸主液，故痢久必傷津液，每見液涸舌乾，齒燥唇裂，言語不清者，其症多險，舌黑、舌絳、舌光、舌碎、舌糜，均為惡候；邪盡正虛者，受補可愈，邪少正虛者，育陰卻邪，可救二三，邪盛者必致津枯液盡而斃。</p>
<p>附：孫御千、姜體乾兩先生醫案</p>
<p>乾隆戊子七月十六日，無錫太平橋季姓室祝氏，患痢極重，請孫、姜兩翁診視。是日，孫先至，痢已半月矣，五色相雜；初起、錢醫治之，因症由瀉轉痢，為脾傳腎之臟病，用炮薑、白朮、石脂、龍骨、蘄艾、人參，一派辛溫之藥，反佐黃連、烏梅，病勢日重，飲食日減，面色晦滯，精神困頓已極，診脈，細澀不和，右尺急搏，按之時又鼓指，手溫足冷，有時微熱，舌苔白，心中煩，腹痛後重如初；孫曰：此非臟病內傷，乃暑濕內郁腸胃，初未外達，邪未去而陰自耗，液已虧矣；擬和陰潤燥之劑，用阿膠、白芍、炙草、銀花炭、扁豆花、大沙參、丹皮、茯苓，陳米煎湯代水。是夜只痢三次，煩痛亦減，但神倦似睡，汗微出，舉家咸喜病減，又疑欲脫，孫曰：微微汗出，乃暑濕外泄，陽得陰則融解耳。十七早，姜體乾到，同診，脈象虛澀，如雨沾沙，姜曰：未刻交白露節，正氣已衰，當備人參、阿膠、白芍、炙草、薑汁黃連、白扁豆花、荷梗、神麯、廣皮、陳米煎湯，服一時許，即索粥，神思稍清而能安臥，惟仍滯漏，小便澀少，口中乾燥，飲以麥冬湯，至夜小便二次，痢竟矣。十八日前方去川連、神麯、白扁豆花，加麥冬、小麥，養心調理，令服四劑而愈。</p>
<p>陳韶九按：暑為無形之邪，最易灼爍陰液，故用膠、芍、炙甘草以救陰津，銀花、扁豆以卻暑邪，而諸病如失，昧者議為滋膩滯濕留濕，不知先生已從前辛溫之劑探得真情矣，故放膽用之，而效收鼓桴也。</p>
<p>孫御千云：丁亥六月，侄某，患痢極重，治療月餘，已愈，然不能戒口、戒怒，復發，至閏七月二十日日沒時，人事昏沉，更定後方蘇。余診其脈細弱無神，右關為最，腹如仰瓦，臍右動氣大如雞卵，跳動不息，中虛已極，生氣索然，投以「建中」，病勢不減，次日延姜體乾視，案云：久痢傷陰，肉削形奪，姑以養陰清燥之法治之，用阿膠、沙參、生白芍、炙草、生白扁豆、桑葉、天冬二劑；下午神已不昏，再邀體乾同診之，案云：下痢腸垢五十餘日，猶腹痛抽制，憔悴尪羸殆甚，几几欲脫矣，雖胃中有滯，勢難消散，急救其陰，以戀其陽，彷彿「復脈」之意：大生地、天麥冬、阿膠、白芍藥、沙參、炙草，毋過煎，三五十沸即服，取濁藥輕投之意。八月初六日臍旁動氣已平，腹亦漸厚，痢亦減，腹不制痛，惟所下垢中有白點不已，眾皆望愈矣，予同薑、戚再診之，案云：診脈左弱右軟、有神，連進復脈法，中宮柔和，而神亂煩躁俱止，有津回液轉之機，此時不問其虛，安問其餘，用大生地、麥冬、大沙參、白芍、阿膠、鮮藕大片，井水煎五十沸服，自此之後，餘證俱減，家貧不能服參，日啖羊肉斤許方快，又延一月，面浮足腫而斃。是役也，雖未收功，實因病久反復多端，而醫方另出一種，亦堪傳也。</p>
<p>陳韶九按：救陰之後，大約胃氣不能醒復，中虛難建所致，若歸咎於家貧不能服參，非計也。</p>

<h1>痢疾呃逆</h1>
<p>痢疾呃逆，初起決無是證，或邪甚致此，或誤治致此，皆為惡候；大抵中氣大傷，邪正混合不清，有以致此耳。其有濕熱上衝者，「諸熱衝上，皆屬於火」也，丹溪法可遵；中氣虛寒，「理中」可投，然必鶩溏溲白者方可用；寒熱錯雜者，「連理湯」；若赤白相兼，「瀉心湯」、「芍藥湯」加參為妥；若邪未盡而正大傷，僻出無度，終難挽救。再按：景岳主乎中虛氣逆，必降氣調氣，最屬近理，臨症者宜參之。</p>
<p>附：醫案</p>
<p>嘉慶庚辰七月初，壺蘆山人治祝誠齋姻伯，下痢赤白，乾嘔不止，予同祝晉垣姻丈同診，脈數大，苔白膩，一團暑濕鬱結於內，晝夜四、五十次，議進「倉廩湯」三劑，繼進「芍藥湯」去桂，服一帖，痢少減，去制軍，又服一帖，痢又減而干惡不止，遂微呃逆，服橘餅湯即止，迨後其湯不靈，呃聲連續不已，進「半夏瀉心湯」加白芍，檳榔、沉香汁，下稀糞頗多，赤白漸少而呃終不止，用刀豆子、丁香、柿蒂亦不應，已越十四日矣，細思老翁平素思慮過度，痔瘍脫肛，中氣必虛，所下稀糞如水，已無裡急後重之苦，當作胃虛呃逆治，因促其邀戚君燦辰來城同議，戚君至，亦曰中虛呃逆無疑，議進「人參連理湯」，呃如故，加附子於前方中，二劑而痢止、呃平。計呃十一日方止，調理半月，康復如舊。</p>

<h1>噤口痢</h1>
<p>胃中有濕熱之氣，蒸熏清道，以致濁氣上干，胃口壅塞，或作惡、或作嘔吐，湯水不能納，雖曰極重之症，然致疾之由不一，有挾肝火者，木剋土也。有火逆上衝者，「諸逆衝上，皆屬於火」也。有挾痰、挾飲、挾濕，或寒熱錯雜者，皆濁在上也。宜諦審其因而治之，無不中竅。丹溪用「人參石蓮子散」，等分煎服，但得一口下咽，濕熱即開；又用：田螺、麝香搗爛，捲臍內，引熱順下而行，頗效。丹方用五穀蟲、炙焦、研、三錢，米飲湯送下。此皆前人定法，然宜按症施治，熱則清之，寒則溫之，濕則燥之、分利之，邪陷則發之，鬱則疏之，方為妥善。</p>
<p>繆仲醇治噤口痢神效方</p>
<p>綠升麻一錢，酒炒人參一錢，蓮肉三十粒、去芯炒焦，黃酒一盅，煎半杯飲之；蜜和為丸更妙，每服四錢，白湯送。又制「滯下如金丸」，治各種痢疾惡心欲吐，即噤口痢，用人參一錢，多加石蓮肉，升麻八分、醋炒，白芍三錢、酒炒，白扁豆、炒、三錢，花亦可用。</p>

<h1>胎前痢</h1>
<p>婦人胎前患痢疾，邪陷者宜提散，邪滯者宜疏利，有火者宜清潤，與治常人下痢之法同，但不可用傷胎藥，大黃可用，「青麟丸」不可用，因中有車前、滑石故也，檳榔雖下氣，其性下墜，亦宜酌用。每見遇此等病，動欲安胎，執用芩、術，不知芩可用而術斷不可用，每多誤事，須知痢一日不止，胎氣一日不安，急去其邪，邪去痢止，則胎不安而安也。普明子曰：余治此症，仔細揣摩，忽見燭光，遂恍然有得，思火性上炎者，何以下降於腸中而為痢，良由積熱在中，或為外感風寒所閉，或為飲食所遏，以致火氣不得舒伸，逼迫於下而裡急後重也，醫者不察，更用檳榔等下墜之劑，愈降而痢愈甚矣，余因制「治痢散」，以治痢疾初起，良驗。</p>

<h1>產後痢</h1>
<p>胎前患痢，治不得法，多致傷胎，無論小產、正產，邪未盡而延至產後者，即謂之產後痢。此極重之症也，古人謂之七日死。張路玉以「伏龍肝湯、丸」，用之於濕熱已消，但見稀水、薄糞而無實火者，誠然有效。若濕熱之邪未清，舌紅或黃，唇燥口渴，腹痛，後重窘迫者，均非所宜。每見醫家治此症，不肯用苦寒藥，宗張氏三禁之論，又據丹溪產後不用白芍之說，不肯用黃芩、白芍，病者煩躁不安，揚手擲足而斃者，深為慘傷。吾鄉戚孟揚先生亦云苦寒宜忌。致局於迂執之見，無法起死回生，又無明師可以折衷，思之至忘寢食，一夕不禁憬然悟曰：仲景為醫中之聖，《傷寒》已得先輩口訣、心法，《金匱》一書，豈不可與《傷寒》心法通之乎，從此用功《金匱》，寤寐神遊，讀至產後熱痢用「白頭翁湯」一條，恍然於苦寒之劑，先聖未嘗禁用，只要辨證清楚耳。余自庚子年至今，常用「黃連阿膠湯」、「黃芩湯」、「瀉心湯」，皆應手取效，是知濕火下陷，萬不可用溫燥也。又有並非胎前下痢，產後複數日下痢者，亦如上法，切勿用溫燥之劑；均宜明辨六經、表裡、寒熱、陰陽、虛實八字而治之，萬無一失。</p>
<p>陳韶九按：胎前患痢，產後不止，七日必死，此言營虛而邪火熾甚，忌于禁用苦寒，不死何待，醫者不知變通之過也，然亦不可執一，若久而虛滑者，宜朮、附、訶、粟並進，下陷者、升麻兼用。予曾驗過，初謂獨得之秘，不知先生已先得我心矣。</p>
<p>附：醫案</p>
<p>道光庚子七月，壺蘆山人治章嘉鰲令正，懷胎七月，患痢七日即產，產後痢仍不止，舌絳無津，口渴唇燥，裡急後重。徐炳衡邀予診，脈弦數大，煩躁不安，暑邪化燥，加以新產後營血大傷，邪火反熾，議進「黃連阿膠湯」，用荷葉、陳米煎湯代水，一劑、痢少減，又進一劑，痢雖減，舌絳、口渴如故，自汗，身熱益甚，其脈洪大，內有實火也，與西瓜汁，進「玉女煎」，荷、米湯代水煎，服一劑，熱退汗少，再劑諸恙皆痊。</p>
<p>又治祝塘一婦，胎前患痢，裡急後重腹痛，澼出日夜無度，醫進膠、艾、肉果、「四物」，又進杜仲、芩、術等安胎藥，痢更劇，三日而胎殞，產後，易女科，用「生化湯」加荊芥、牛膝、山楂，病者熱甚昏厥，始延予治，脈數滑，舌絳干，內外皆熱而腹痛異常，痛即痢，痢復痛，循環不已，無刻得安，此營血已耗，誤投溫補助火劫陰，而暑、濕、熱三氣未經外達內消，以致如此，危險極矣。議進「黃連阿膠湯」，諸醫皆曰不可服，後病勢依然，腹痛甚即厥，法在不治，沉思良久，究因邪陷少陰，故口渴，舌絳，心煩，又見厥陰之腹痛下痢，陽明之嘔惡不納，似可與「白頭翁」合用，將「黃連阿膠湯」為主，取白頭翁一味以升清，用白芍、甘草、銀花、地榆、夏枯草、金鈴子、玉桔梗、滑石、荷葉、陳米，一劑、稍安，連進三劑，又用鮮荷葉、枇杷葉、金銀花、鮮稻葉、蘆根、西瓜翠，蒸露、頻進，又頻進西瓜汁；經治第七日，身發白㾦而夾紅疹，痢止，仍進花露、荷、米煎益元散。可見痢由暑濕為患、即伏暑之陷入者，方書皆以內傷、瀉、痢混同論治，即張氏醫案亦毫無足取，惟仲景法乃法王手眼。</p>
<p>又治琴川大東門外白場米鋪葉姓婦，甘三歲，懷孕九月，忽患霍亂吐瀉，一日而產，產後下痢赤白，裡急後重，一日夜五十餘次，腹痛甚厲，痛則汗出，煩躁，口渴，不寐，諸醫作瘀血腹痛，「失笑散」、桃仁、延胡索、香附等一派辛溫破血之劑，痛、痢更甚，越五日而延予診，脈弦大而數，苔白厚，唇乾，面白、時有火升，噁心不納。僉曰瘀血。余問產婦痛狀，謂予曰：痛而痢，痢而痛減，少停又痛，痛勢直趨後陰，如欲大便者；此因滯下而痛也，痛在少腹，凝滯於宮胞門，大便不轉矢氣，但所下無多，旋又苦痛不堪耳。余謂此痛隨痢減，滯下之常，非瘀也。其姑曰：何以無惡露，予曰：吐瀉傷胎，其血必少，亡陰故也，為定一方：桂炒白芍、萸炒黃連、土炒當歸、炮薑、楂炭、「益元散」、廣皮、木香汁、檳榔汁、乾荷葉蒂、陳米、赤砂糖，脈不甚數，用伏龍肝煎湯代水，以溫中止嘔，服後宿垢大下，腹痛即止。明日再診：原方去木香、檳榔、薑、連，另服「香連丸」。明午又診：下痢尚三十次，白凍中有紅血點，畏寒蜷臥，汗出過多，鼻準之汗如珠，頭亦多汗，脈象虛弱不數，告其翁姑曰：恐亡陽變脫；用製附子、白芍、炮薑、歸身、龍牡、茯苓、洋參、炙草、陳米、淮小麥，紅棗，另服「香連丸」五分、以清濕熱，兩劑汗止，所下純白凍尚二十餘次而不知飢，忽惡寒發抖，伸手診脈，片刻即縮入被內，懶言，氣短，聲微，皆不足之象，用桂枝、炮薑、白芍、丹參、炙草、朱茯神、棗仁、黨參、歸身、荷、米等補養之劑，又服「豬小腸垢方」，三服，日進稀粥一盞而胃口不醒，伊夫又病伏暑，房中皆羌、防、荊芥之氣，令其撤去藥爐，而焚以紅棗，室中煎紅棗粥，烹鮮鯽魚湯，令聞其香氣，由是胃口大開，白凍亦少止。十餘日杳無音信，一日過其門而問之，知其夫死而婦活矣；當其日診其婦，竟未請一診其夫，此亦有數存焉。時咸豐丙辰九月也。</p>

<h1>休息痢</h1>
<p>痢時止時作，纏綿不已者曰休息痢。其來有二：一、誤於醫家，撤邪不清，或早補，或早澀。一、誤於病家，自以為小恙，服食尚可，不以為意，遷延時日，正氣日衰，邪氣尚留而不去者；亦有食物不謹，舊積未去，新積又生者。致時發時止、竟有數十年不愈者，延至脾腎兩虧，面浮足腫，痢仍不止而斃，皆屬邪正同歸於盡而死，故患痢者必須早治，以斷其根，與時症無異。治法並宜察脈辨證，分別寒熱虛實而治。</p>
<p>附：休息痢又感新邪案</p>
<p>云間清白里老醫治南匯徐某，休息痢已二年，因冒暑傷濕而裡急後重，身熱下血，陳醫進「七味地黃湯」，熱更甚，脈洪大，即用黃連、白芍、柴胡、黃芩、木通、滑石、枳殼、厚朴、甘草，四劑熱減痢清，再投涼血理滯，新邪退而舊病亦愈。</p>

<h1>老人虛人患痢</h1>
<p>老人、虛人，氣血兩虧，暑、濕、熱與食滯交蒸而致成痢，治法尤難，萬不可因循，乘其初起元氣未漓，發表攻裡，相須圖治，所謂無糧之師，貴在速戰也，若畏虛養病，遷延時日，多致不救。</p>
<p>附：醫案</p>
<p>云間清白里老醫治胡正之，年七十二歲，先胸膈不舒，飲食不得達下者兩月，自以為膈症，與老友訣別，往太倉調理，八月初患痢，裡急後重腹痛，血積稠黏，肛門如灼，飲食不納，諸醫以年老氣血衰耗，以培脾健胃為主，痢更甚，且煩躁，內熱，噁心，其勢危急。邀余診：脈息數大，面帶紅色，小便不利，後重逼迫，煎藥入口即吐，用大黃、檳榔、川樸、枳殼、黃芩為丸與服，下大紅積甚多，胸膈稍舒，熱勢更甚，以西瓜汁、「益元散」徐徐與之，自覺爽快，即以芩、連、枳殼、木通，川樸、白芍、滑石、檳榔汁，三帖，大去積垢，頗覺神思困倦，以「獨參湯」飲之，其夜少寐，然腹痛後重未除，又以參湯送「檳黃丸」，攻補兼用，去積滯不計，仍用「益元散」、西瓜汁調服，腹始不痛，肛始不熱，積滯已除，頗思粥飲，漸漸加餐，胸膈舒暢，食物可進，月餘而愈。壽八十有三。此高粱厚味凝滯胃中，因滯下而新疾舊恙皆瘳。</p>
<p>愚按：此案合潔古所云：「小制湯丸，累累加之，關扃自透」，故膈症愈，觀此案可通治膈症之法也；膈症非痰即瘀，凝滯胸膈者。</p>
<p>又治蘇城齊門外蔣奶奶，寡居七載，勞心抑鬱，肝氣不得條達，體質極虛，夏初患滯下，腹痛，後重，胸膈不寬而噁心，葉天士以為不足之症，用人參、人乳等調補而劇。余適在吳門，延予診治：脈息弦大帶數，腹痛後重，肛門如烙，口乾氣急，此肝家有鬱火，挾濕下注而為滯下，上升而為嘔惡，胸膈不寬，用「黃芩芍藥湯」加厚朴、枳殼、香附、山梔、黃連、木通、滑石，一劑、腹痛頓除，飲食可進，連四劑，痢止胸寬；後用香附、廣皮、黃芩、黃連、厚朴、枳殼、山梔，理氣清火，郁舒而愈。</p>

<h1>小兒痢</h1>
<p>小兒患痢，與大人治法無異，蓋所受之暑、濕、熱同也，惟腸胃柔脆，難於克伐，而又喜食雜物，其積滯比大人尤甚。八九歲者，尤可詢其病情，痛與不痛，熱與不熱，以察病之輕重，邪之淺深；若三歲以下，不能自述病情，全賴醫者察色聽聲，以諦察其病之虛實寒熱，方無差誤。</p>
<p>附：醫案</p>
<p>姚公遠幼子病痢，一醫誤下之，遂下純血，氣喘身熱，不思食。繆仲醇適至，急以人參五錢，白芍、石蓮、升麻、橘紅、石蠶、白扁豆、滑石、炙草，投一劑而喘平血止，又數劑、痢止。仲醇臨別，囑公遠曰：兒雖愈，百日內不出痘則生，否則死，以元氣未復故也。未幾即痘，果殤。</p>
<p>《內經》云：下痢發熱者死，指雜病濕熱下痢而言；仲景云：下痢手足不冷，反發熱者不死，指傷寒陰邪內出而言。</p>
<p>附：通用諸方：敗毒散、香連丸、青麟丸、龍薈丸、滯下丸、芍藥湯、桂元肉包苦參子、豬小腸垢灰、治痢散。</p>
<p>治痢奇方：川連、川樸、青廣皮、枳殼、檳榔、山楂、木香、白芍、黃芩、地榆、歸尾、桃仁、紅花、草。</p>
<p>東風散：黃芩、檳榔、枳殼、山楂、青皮、川樸、當歸、白芍、炙草，肢冷加肉桂，熱甚加黃連，兼瘧加柴胡，紅痢加桃仁、紅花、地榆，白痢加香附、陳皮。</p>
<p>芍藥湯：白芍、茯苓、官桂、甘草、檳榔、木香、歸尾、川連，滯加枳殼，後重加升麻，臟毒加黃柏，血弱加膠、薑、芎、柏，燥糞加大黃。</p>

<h1>吳序</h1>
<p>澄江之東南隅有龍砂山，瑰奇靈秀，代生名醫，清·道咸間有吳公甫恬，醫名噪遐邇，髻齡聞前輩談吳公軼事：公於醉後診新產婦，投以安胎藥，隨診者不敢下筆，先生促之，翌日酒醒，方疑慮間，而病家來云復生一兒，公乃狂喜曰：吾三指固未嘗醉也；鎮江將軍女病，聞吳公名，以重金聘之診，公誤為妾媵也，診畢，謂將軍曰：非病也，且喜得男，將軍默然，少頃，公方饈，將軍出謝曰，先生果名醫也，以一盤捧上，蓋破腹而出者也，公大驚，由此得心疾。其門下傳抄有《痢疾明辨》一書，云：傳自喻嘉言之甥舒進賢，其大旨以南陽《傷寒論》六經為主，中分邪陷（外感六經陷下之邪）、秋燥及時毒（即疫痢）、滑脫四門，實為痢證特開生面，並能闡發《傷寒論》之精義，涵竊以是書為可傳，不敢自秘，爰加校勘，錄數語於簡端。</p>
<p><u>民國十一年暨陽後學吳文涵謹序</u></p>
