<header data-type="book">
<h1>飲膳正要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>忽思慧</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1330">公元1330年</data></dd></div>
<div><dt>底本</dt><dd>明景泰七年內府刊本（<a href="https://rbk-doc.npm.edu.tw">故宮善本</a>：故殿025429–025431）；<a href="https://ctext.org/library.pl?if=gb&res=3172">北京大學圖書館掃描本</a>；《四部叢刊初編·飲膳正要》（<a href="https://www.kanripo.org/ed/KR3i0043/SBCK/">漢リポ文字化本</a>）</dd></div>
</dl>
</header>

<h1>御製《飲膳正要》序</h1>
<p>朕惟人物皆稟天地之氣以生者也。然物又天地之所以養乎人者，苟用之失其所以養，則至於戕害者有矣。如布帛菽粟雞豚之類，日用所不能無，其為養甚大也。然過則失中，不及則未至，其為戕害一也。其為養甚大者尚然，而況不為養而為害之物，焉可以不致其慎哉！此特其養口體者耳。若夫君子動息威儀，起居出入，皆當有其養焉，又所以養德也。嘗觀前元《飲膳正要》一書，其所以養口體、養德之要，無所不載，蓋當時尚醫所論著。其執藝事，以致忠愛，雖深於聖賢之道者不外是也。夫善莫大於取諸人，取諸人以為善，大舜所先肆。朕嘉是書而用之，以資攝養之助，且鋟諸梓，以廣惠利於人，亦庶幾乎，好生之仁。雖然生稟於天，非人之所能為，若或戕之，與立嚴牆之下者同，有不由於人乎！故此非但攝養之助，而抑順受其正之大助也。</p>
<p><u>景泰七年四月初一日</u></p>
<p>臣聞古之君子善修其身者，動息節宣以養生，飲食衣服以養體，威儀行義以養德，是故周公之制禮也。天子之起居、衣服、飲食，各有其官，皆統於塚宰，蓋慎之至也。今上皇帝，天縱聖明，文思深遠，御延閣，閱圖書，旦暮有恆，則尊養德性，以酬酢萬幾，得內聖外王之道焉。於是趙國公臣常普蘭奚，以所領膳醫臣忽思慧所撰《飲膳正要》以進。其言曰：昔世祖皇帝，食飲必稽於本草，動靜必准乎法度，是以身躋上壽，貽子孫無疆之福焉。是書也，當時尚醫之論著者云，噫！進書者可謂能執其藝事，以致其忠愛者矣。是書進上，中宮覽焉。念祖宗衛生之戒，知臣下陳義之勤，思有以助聖上之誠身，而推其仁民之至意。命中政院使臣拜住刻梓而廣傳之。茲舉也，蓋欲推一人之安，而使天下之人舉安；推一人之壽，而使天下之人皆壽。恩澤之厚，豈有加於此者哉！書之既成，大都留守臣金界奴傳敕命臣集序其端云。臣集再拜稽首而言曰：臣聞《易》之《傳》有云：「大哉乾元，萬物資始」，「至哉坤元，萬物資生」；天地之大德，不過生生而已耳。今聖皇正統於上，乾道也；聖後順承於中，坤道也。乾坤道備，於斯為盛，斯民斯物之生於斯時也，何其幸歟！願揚言之，使天下後世有以知。夫高明博厚之可見如此，於戲休哉。</p>
<p><u>天曆三年五月朔日謹序</u></p>
<p><u>奎章閣侍書學士翰林直學士中奉</u></p>
<p><u>大夫知制誥同修國史臣虞集</u>　撰</p>
<p>伏睹國朝，奄有四海，遐邇罔不賓貢。珍味奇品，咸萃內府，或風土有所未宜，或燥濕不能相濟，倘司庖廚者，不能察其性味而概於進獻，則食之恐不免於致疾。欽惟世祖皇帝聖明，按《周禮·天官》有醫師、食醫、疾醫、瘍醫，分職而治。行依典故，設掌飲膳太醫四人。於本草內選無毒、無相反，可久食，補益藥味，與飲食相宜，調和五味，及每日所造珍品，御膳必須精製。所職何人，所用何物，進酒之時，必用沉香木、沙金、水晶等盞。斟酌適中，執事務合稱職。每日所用，標註於歷，以驗後效。至於湯煎、瓊玉、黃精、天門冬、蒼朮等膏，牛髓、枸杞等煎，諸珍異饌，鹹得其宜。以此世祖皇帝聖壽延永無疾。恭惟皇帝陛下自登寶位，國事繁重，萬機之暇，遵依祖宗定製，如補養調護之術，飲食百味之宜，進加日新，則聖躬萬安矣。臣思慧自延祐年間選充飲膳之職，於茲有年，久叨天祿，退思無以補報，敢不竭盡忠誠，以答洪恩之萬一。是以日有餘閒，與趙國公臣普蘭奚，將累朝親侍進用奇珍異饌，湯膏煎造，及諸家本草，名醫方術，並日所必用穀肉果菜，取其性味補益者，集成一書，名曰《飲膳正要》，分為三卷。本草有未收者，今即採摭附寫。伏望陛下恕其狂妄，察其愚忠，以燕閒之際，鑑先聖之保攝，順當時之氣候，棄虛取實，期以獲安，則聖壽躋於無疆，而四海咸蒙其德澤矣。謹獻所述《飲膳正要》一集，以聞，伏乞聖覽下情，不勝戰慄激切屏營之至。</p>
<p><u>天曆三年三月三日飲膳太醫臣忽思慧進上</u></p>
<p>天之所生，地之所養，天地合氣，人以稟天地氣生，並而為三才。三才者，天地人。人而有生，所重乎者心也。心為一身之主宰，萬事之根本，故身安則心能應萬變，主宰萬事，非保養何以能安其身。保養之法，莫若守中，守中則無過與不及之病。調順四時，節慎飲食，起居不妄，使以五味調和五臟。五臟和平則血氣資榮，精神健爽，心志安定，諸邪自不能入，寒暑不能襲，人乃怡安。夫上古聖人治未病不治已病，故重食輕貨，蓋有所取也。故云：食不厭精，膾不厭細。魚餒肉敗者，色惡者，臭惡者，失飪不時者，皆不可食。然雖食飲，非聖人口腹之慾哉！蓋以養氣養體，不以有傷也。若食氣相惡則傷精，若食味不調則損形。形受五味以成體，是以聖人先用食禁以存性，後製藥以防命。蓋以藥性有大毒，有大毒者治病，十去其六；常毒治病，十去其七；小毒治病，十去其八；無毒治病，十去其九。然後穀肉果菜，十養一僅之，無使過之，是以傷其正。雖飲食百味，要其精粹，審其有補益助養之宜，新陳之異，溫涼寒熱之性，五味偏走之病。若滋味偏嗜，新陳不擇，製造失度，俱皆致疾。可者行之，不可者忌之。如妊婦不慎行，乳母不忌口，則子受患。若貪爽口而忘避忌，則疾病潛生，而中不悟，百年之身，而忘於一時之味，其可惜哉！孫思邈曰：謂其醫者，先曉病源，知其所犯，先以食療，不瘥，然後命藥，十去其九。故善養生者，謹先行之。攝生之法，豈不為有裕矣。</p>

<h1>卷第一</h1>

<h2>三皇聖紀</h2>

<h3>太昊伏羲氏</h3>
<p>風姓之源，皇熊氏之後。生有聖德，繼天而王，為萬世帝王之先。位在東方，以木德王，為蒼精之君。都陳時，神龍出於榮河，則而畫之為八卦。造書契，以代結繩之政，立五常，定五行，正君臣，明父子，別夫婦之義，制嫁娶之理。造屋舍，結網𦊙，以佃漁，服牛乘馬，引重致遠。取犧牲，供祭祀，故曰伏羲氏。治天下一百一十年。</p>

<h3>炎帝神農氏</h3>
<p>姜姓之源，烈山氏之後。生有聖德，以火承木，位在南方，以火德王，為赤精之君。時人民茹草飲水，採樹木之實，而食蠃蛖之肉，多生疾病，乃求可食之物，嘗百草，種五穀，以養人民。日中為市。作陶冶，為斧斤，造耒耜，教民耕稼，故曰神農。都曲阜。治天下一百二十年。</p>

<h3>黃帝軒轅氏</h3>
<p>姬姓之源，有熊國君少典之子。生而神靈，長而聰明，成而登天。以土德王，為黃精之君，故曰黃帝。都涿鹿。受河圖，見日月星辰之象，始有星官之書。命大撓探五行之情，占鬥罡所建，始作甲子；命容成作歷；命隸首作算數；命伶倫造律呂；命岐伯定醫方。為衣冠以表貴賤，治干戈，作舟車，分州野，治天下一百年。</p>

<h2>養生避忌</h2>
<p>夫上古之人，其知道者，法於陰陽，和於術數，食飲有節，起居有常，不妄作勞，故能而壽。今時之人不然也，起居無常，飲食不知忌避，亦不慎節，多嗜欲，厚滋味，不能守中，不知持滿，故半百衰者多矣。夫安樂之道，在乎保養，保養之道，莫若守中，守中則無過與不及之病。春秋冬夏，四時陰陽，生病起於過與，蓋不適其性而強。故養生者，既無過耗之弊，又能保守真元，何患乎外邪所中也。故善服藥者，不若善保養，不善保養，不若善服藥。世有不善保養，又不能善服藥，倉卒病生，而歸咎於神天乎！善攝生者，薄滋味，省思慮，節嗜欲，戒喜怒，惜元氣，簡言語，輕得失，破憂阻，除妄想，遠好惡，收視聽，勤內固，不勞神，不勞形，神形既安，病患何由而致也。故善養性者，先飢而食，食勿令飽，先渴而飲，飲勿令過。食欲數而少，不欲頓而多。蓋飽中飢，飢中飽，飽則傷肺，飢則傷氣。若食飽，不得便臥，即生百病。</p>
<p>凡熱食有汗，勿當風，發痙病，頭痛，目澀，多睡，夜不可多食，臥不可有邪風。凡食訖溫水漱口，令人無齒疾、口臭。汗出時，不可扇，生偏枯。勿向西北大小便。勿忍大小便，令人成膝勞、冷痹痛。勿向星辰、日月、神堂、廟宇大小便。夜行，勿歌唱大叫。一日之忌，暮勿飽食；一月之忌，晦勿大醉；一歲之忌，暮勿遠行；終身之忌，勿燃燈房事。服藥千朝，不若獨眠一宿。如本命日，及父母本命日，不食本命所屬肉。</p>
<p>凡人坐，必要端坐，使正其心；凡人立，必要正立，使直其身。立不可久，立傷骨；坐不可久，坐傷血。行不可久，行傷筋；臥不可久，臥傷氣。視不可久，視傷神；食飽勿洗頭，生風疾。如患目赤病，切忌房事，不然令人生內障。沐浴勿當風，腠理百竅皆開，切忌邪風易入。不可登高履險，奔走車馬，氣亂神驚，魂魄飛散。</p>
<p>大風、大雨，大寒、大熱，不可出入妄為。口勿吹燈火，損氣。</p>
<p>凡日光射，勿凝視，損人目。勿望遠，極目觀，損眼力。坐臥勿當風、濕地。夜勿燃燈睡，魂魄不守。晝勿睡，損元氣。食勿言，寢勿語，恐傷氣。</p>
<p>凡遇神堂、廟宇，勿得輒入。</p>
<p>凡遇風雨雷電，必須閉門，端坐焚香，恐有諸神過。怒不可暴，怒生氣疾、惡瘡。遠唾不如近唾，近唾不如不唾。虎豹皮不可近肉鋪，損人目。</p>
<p>避色如避箭，避風如避仇，莫吃空心茶，少食申後粥。</p>
<p>古人有云：入廣者，朝不可虛，暮不可實。然不獨廣，凡早皆忌空腹。古人云：爛煮麵，軟煮肉，少飲酒，獨自宿。古人平日起居而攝養，今人待老而保生，蓋無益。</p>
<p>凡夜臥，兩手摩令熱，揉眼，永無眼疾。凡夜臥，兩手摩令熱，摩面，不生瘡䵟。一呵十搓，一搓十摩，久而行之，皺少顏多。凡清旦，以熱水洗目，平日無眼疾。凡清旦刷牙，不如夜刷牙，齒疾不生。凡清旦鹽刷牙，平日無齒疾。凡夜臥，被髮梳百通，平日頭風少。</p>
<p>凡夜臥，濯足而臥，四肢無冷疾。盛熱來，不可冷水洗面，生目疾。</p>
<p>凡枯木大樹下，久陰濕地，不可久坐，恐陰氣觸人。立秋日，不可澡浴，令人皮膚粗糙，因生白屑。常默，元氣不傷；少思，慧燭內光；不怒，百神安暢；不惱，心地清涼；樂不可極，欲不可縱。</p>

<h2>妊娠食忌</h2>
<p>上古聖人有胎教之法，古者婦人妊子，寢不側，坐不邊，立不蹕。不食邪味，割不正不食，席不正不坐，目不視邪色，耳不聽淫聲，夜則令瞽誦詩，道正事，如此則生子形容端正，才過人矣。故太任生文王，聰明聖哲，聞一而知百，皆胎教之能也。聖人多感生，妊娠故忌見喪孝、破體、殘疾、貧窮之人；宜見賢良、喜慶、美麗之事。欲子多智，觀看鯉魚、孔雀；欲子美麗，觀看珍珠、美玉；欲子雄壯，觀看飛鷹、走犬。如此善惡猶感，況飲食不知避忌乎。</p>
<p>妊娠所忌：食兔肉，令子無聲缺唇。食山羊肉，令子多疾。食雞子、乾魚，令子多瘡。食桑椹、鴨子，令子倒生。食雀肉，飲酒，令子心淫情亂，不顧羞恥。食雞肉、糯米，令子生寸白蟲。食雀肉、豆醬，令子面生䵟黯。食鱉肉，令子項短。食驢肉，令子延月。食冰漿，絕產。食騾肉，令子難產。</p>

<h2>乳母食忌</h2>
<p>凡生子擇於諸母，必求其年壯，無疾病，慈善，性質寬裕，溫良詳雅，寡言者，使為乳母。子在於母資乳以養，亦大人之飲食也。善惡相習，況乳食不遂母性。若子有病無病，亦在乳母之慎口。如飲食不知避忌，倘不慎行，貪爽口而忘身適性致疾，使子受患，是母令子生病矣。</p>
<p>乳母雜忌：夏勿熱暑乳，則子偏陽而多嘔逆。冬勿寒冷乳，則子偏陰而多咳痢。母不欲多怒，怒則氣逆，乳之令子癲狂。母不欲醉，醉則發陽，乳之令子身熱腹滿。母若吐時，則中虛，乳之令子虛羸。母有積熱，蓋赤黃為熱，乳之令子變黃不食。新房事勞傷，乳之令子瘦癢，交脛不能行。母勿太飽乳之，母勿太飢乳之，母勿太寒乳之，母勿太熱乳之。子有瀉痢、腹痛、夜啼疾，乳母忌食寒涼發病之物。子有積熱、驚風、瘡瘍，乳母忌食濕熱、動風之物。子有疥癬、瘡疾，乳母忌食魚、蝦、雞、馬肉、發瘡之物。子有癖、疳、瘦疾，乳母忌食生茄、黃瓜等物。</p>
<p>凡初生兒時，以未啼之前，用黃連浸汁，調硃砂少許，微抹口內，去胎熱邪氣，令瘡疹稀少。凡初生兒時，用荊芥、黃連熬水，入野牙豬膽汁少許，洗兒。在後雖生斑疹、惡瘡，終當稀少。凡小兒未生瘡疹時，用臘月兔頭並毛骨，同水煎湯，洗兒，除熱去毒，能令斑疹、諸瘡不生，雖有亦稀少。凡小兒未生斑疹時，以黑子母驢乳令飲之，及長不生瘡疹、諸毒。如生者，亦稀少。仍治小兒心熱、風癇。</p>

<h2>飲酒避忌</h2>
<p>酒，味苦甘辛，大熱，有毒。主行藥勢，殺百邪，去惡氣，通血脈，厚腸胃，潤肌膚，消憂愁。少飲尤佳，多飲傷神損壽，易人本性，其毒甚也。醉飲過度，喪生之源。飲酒不欲使多，知其過多，速吐之為佳，不爾成痰疾。醉勿酩酊大醉，即終身百病不除。酒，不可久飲，恐腐爛腸胃，漬髓，蒸筋。</p>
<p>醉不可當風臥，生風疾。醉不可向陽臥，令人發狂。醉不可令人扇，生偏枯。醉不可露臥，生冷痹。醉而出汗當風，為漏風。醉不可臥黍穰，生癩疾。醉不可強食、嗔怒，生癰疽。醉不可走馬及跳躑，傷筋骨。醉不可接房事，小者面生䵟、咳嗽，大者傷臟、澼、痔疾。醉不可冷水洗面，生瘡。醉，醒不可再投，損後又損。醉不可高呼、大怒，令人生氣疾。晦勿大醉，忌月空。醉不可飲酪水，成噎病。醉不可便臥，面生瘡癤，內生積聚。大醉勿燃燈叫，恐魂魄飛揚不守。醉不可飲冷漿水，失聲成屍噎。</p>
<p>飲酒，酒漿照不見人影勿飲。醉不可忍小便，成癃閉、膝勞、冷痹。空心飲酒，醉必嘔吐。醉不可忍大便，生腸澼、痔。酒忌諸甜物。酒醉不可食豬肉，生風。醉不可強舉力，傷筋損力。飲酒時，大不可食豬、羊腦，大損人，煉真之士尤宜忌。酒醉不可當風乘涼、露腳，多生腳氣。醉不可臥濕地，傷筋骨，生冷痹痛。醉不可澡浴，多生眼目之疾。如患眼疾人，切忌醉酒、食蒜。</p>

<h2>聚珍異饌</h2>

<h3>馬思荅吉湯</h3>
<p>補益，溫中，順氣。羊肉（一腳子，卸成事件）　草果（五個）　官桂（二錢）　回回豆子（半升，搗碎，去皮）上件，一同熬成湯，濾淨，下熟回回豆子二合，香粳米一升，馬思答吉一錢，鹽少許，調和勻，下事件肉、芫荽葉。</p>

<h3>大麥湯</h3>
<p>溫中下氣，壯脾胃，止煩渴，破冷氣，去腹脹。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　大麥仁（二升，滾水淘洗淨，微煮熟）</p>
<p>上件，熬成湯，濾淨，下大麥仁，熬熟，鹽少許，調和令勻，下事件肉。</p>

<h3>八兒不湯</h3>
<p>系西天茶飯名。補中，下氣，寬胸膈。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　回回豆子（半升，搗碎，去皮）　蘿蔔（二個）</p>
<p>上件，一同熬成湯，濾淨，湯內下羊肉，切如色數大，熟蘿蔔切如色數大，咱夫蘭一錢，薑黃二錢，胡椒二錢，哈昔泥半錢，芫荽葉、鹽少許，調和勻，對香粳米乾飯食之，入醋少許。</p>

<h3>沙乞某兒湯</h3>
<p>補中，下氣，和脾胃。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　回回豆子（半升，搗碎，去皮）　沙乞某兒（五個，系蔓菁）</p>
<p>上件，一同熬成湯，濾淨，下熟回回豆子二合，香粳米一升。熟沙乞某兒切如色數大，下事件肉，鹽少許，調和令勻。</p>

<h3>苦豆湯</h3>
<p>補下元，理腰膝，溫中，順氣。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　苦豆（一兩，系葫蘆巴。）</p>
<p>上件，一同熬成湯，濾淨，下河西兀麻食或米心𱃪子，哈昔泥半錢，鹽少許，調和。</p>

<h3>木瓜湯</h3>
<p>補中，順氣，治腰膝疼痛，腳氣不仁。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　回回豆子（半升，搗碎，去皮）</p>
<p>上件，一同熬成湯，濾淨，下香粳米一升，熟回回豆子二合，肉彈兒木瓜二斤，取汁，沙糖四兩，鹽少許，調和，或下事件肉。</p>

<h3>鹿頭湯</h3>
<p>補益，止煩渴，治腳膝疼痛。</p>
<p>鹿頭蹄（一副，退洗淨，卸作塊）</p>
<p>上件，用哈昔泥豆子大，研如泥，與鹿頭蹄肉同拌勻，用回回小油四兩同炒，入滾水熬令軟，下胡椒三錢，哈昔泥二錢，蓽撥一錢，牛奶子一盞，生薑汁一合，鹽少許，調和。一法用鹿尾取汁，入薑末、鹽，同調和。</p>

<h3>松黃湯</h3>
<p>補中益氣，壯筋骨。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　回回豆子（半升，搗碎，去皮）</p>
<p>上件，同熬成湯，濾淨，熟羊胸子一個，切作色數大，松黃汁二合，生薑汁半合，一同下炒，蔥、鹽、醋、芫荽葉，調和勻。對經卷兒食之。</p>

<h3>粆湯</h3>
<p>補中益氣，健脾胃。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　回回豆子（半升，去皮）</p>
<p>上件，同熬成湯，濾淨，熟乾羊胸子一個，切片，炒三升，白菜或蕁麻菜，一同下鍋，鹽調和勻。</p>

<h3>大麥算子粉</h3>
<p>補中益氣，健脾胃。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　回回豆子（半升，去皮）</p>
<p>上件，同熬成湯，濾淨，大麥粉三斤，豆粉一斤，同作粉。羊肉炒細乞馬，生薑汁二合，芫荽葉、鹽、醋調和。</p>

<h3>大麥片粉</h3>
<p>補中益氣，健脾胃。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　良薑（二錢）</p>
<p>上件，同熬成湯，濾淨，下羊肝醬，取清汁，胡椒五錢，熟羊肉切作甲葉，糟姜二兩，瓜齏一兩，切如甲葉，鹽、醋調和，或渾汁亦可。</p>

<h3>糯米粉搊粉</h3>
<p>補中益氣。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　良薑（二錢）</p>
<p>上件，同熬成湯，濾淨，用羊肝醬熬取清汁，下胡椒五錢，糯米粉二斤，與豆粉一斤，同作搊粉，羊肉切細乞馬，入鹽、醋調和，渾汁亦可。</p>

<h3>河㹠羹</h3>
<p>補中益氣。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）</p>
<p>上件，同熬成湯，濾淨，用羊肉切細乞馬，陳皮五錢，去白，蔥二兩，細切，料物二錢，鹽、醬拌餡兒，皮用白麵三斤，作河㹠，小油炸熟，下湯內，入鹽調和，或清汁亦可。</p>

<h3>阿菜湯</h3>
<p>補中益氣。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　良薑（二錢）</p>
<p>上件，同熬成湯，濾淨，下羊肝醬，同取清汁，入胡椒五錢。另羊肉切片，羊尾子一個，羊舌一個，羊腰子一副，各切甲葉；蘑菇二兩，白菜，一同下，清汁、鹽、醋調和。</p>

<h3>雞頭粉雀舌𱃪子</h3>
<p>補中，益精氣。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　回回豆子（半升，搗碎，去皮）</p>
<p>上件，同熬成湯，濾淨，用雞頭粉二斤，豆粉一斤，同和，切作𱃪子，羊肉切細乞馬，生薑汁一合，炒蔥調和。</p>

<h3>雞頭粉血粉</h3>
<p>補中，益精氣。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　回回豆子（半升，搗碎，去皮）</p>
<p>上件，同熬成湯，濾淨，用雞頭粉二斤，豆粉一斤，羊血和作搊粉，羊肉切細乞馬炒，蔥、醋一同調和。</p>

<h3>雞頭粉撅面</h3>
<p>補中，益精氣。　</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　回回豆子（半升，搗碎，去皮）</p>
<p>上件，同熬成湯，濾淨，用雞頭粉二斤，豆粉一斤，白麵一斤，同作面。羊肉切片，兒乞馬入炒，蔥、醋一同調和。</p>

<h3>雞頭粉搊粉</h3>
<p>補中，益精氣。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　良薑（二錢）</p>
<p>上件，同熬成湯，濾淨，用羊肝醬同取清汁，入胡椒一兩，次用雞頭粉二斤，豆粉一斤，同作搊粉，羊肉切細乞馬，下鹽、醋調和。</p>

<h3>雞頭粉餛飩</h3>
<p>補中益氣。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　回回豆子（半升，搗碎，去皮）</p>
<p>上件，同熬成湯，濾淨，用羊肉切作餡，下陳皮一錢，去白，生薑一錢，細切，五味和勻，次用雞頭粉二斤，豆粉一斤，作枕頭餛飩。湯內下香粳米一升，回回豆子二合，生薑汁二合，木瓜汁一合，同炒，蔥、鹽調和勻。</p>

<h3>雜羹</h3>
<p>補中益氣。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　回回豆子（半升，搗碎，去皮）</p>
<p>上件，同熬成湯，濾淨，羊頭洗淨二個，羊肚、肺各二具，羊白血雙腸兒一副，並煮熟切，次用豆粉三斤，作粉，蘑菇半斤，杏泥半斤，胡椒一兩，入青菜、芫荽炒，蔥、鹽、醋調和。</p>

<h3>葷素羹</h3>
<p>補中益氣。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　回回豆子（半升，搗碎，去皮）</p>
<p>上件，同熬成湯，濾淨，豆粉三斤，作片粉，精羊肉切條道乞馬，山藥一斤，糟姜二塊，瓜齏一塊，乳餅一個，胡蘿蔔十個，蘑菇半斤，生薑四兩，各切，雞子十個，打煎餅，切，用麻泥一斤，杏泥半斤，同炒，蔥、鹽、醋調和。</p>

<h3>珍珠粉</h3>
<p>補中益氣。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　回回豆子（半升，搗碎，去皮）</p>
<p>上件，同熬成湯，濾淨，羊肉切乞馬，心、肝、肚、肺各一具，生薑二兩，糟姜四兩，瓜齏一兩，胡蘿蔔十個，山藥一斤，乳餅一個，雞子十個，作煎餅，各切，次用麻泥一斤，同炒，蔥、鹽、醋調和。</p>

<h3>黃湯</h3>
<p>補中益氣。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　回回豆子（半升，搗碎，去皮）</p>
<p>上件，同熬成湯，濾淨，下熟回回豆子二合，香粳米一升，胡蘿蔔五個，切，用羊後腳肉丸肉彈兒，肋枝一個，切，寸金薑黃三錢，薑末五錢，咱夫蘭一錢，芫荽葉同鹽、醋調和。</p>

<h3>三下鍋</h3>
<p>補中益氣。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　良薑（二錢）</p>
<p>上件，同熬成湯，濾淨，用羊後腳肉丸肉彈兒，丁頭𱃪子，羊肉指甲匾食，胡椒一兩，同鹽、醋調和。</p>

<h3>葵菜羹</h3>
<p>順氣。治癃閉不通。性寒，不可多食。今與諸物同製造，其性稍溫。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　良薑（二錢）</p>
<p>上件，同熬成湯，熟羊肚、肺各一具，切，蘑菇半斤，切，胡椒五錢，白麵一斤，拌雞爪面，下葵菜炒，蔥、鹽、醋調和。</p>

<h3>瓠子湯</h3>
<p>性寒。主消渴，利水道。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）</p>
<p>上件，同熬成湯，濾淨，用瓠子六個，去穰皮，切掠，熟羊肉，切片，生薑汁半合，白麵二兩，作面絲同炒，蔥、鹽、醋調和。</p>

<h3>團魚湯</h3>
<p>主傷中，益氣，補不足。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）</p>
<p>上件，熬成湯，濾淨，團魚五六個，煮熟，去皮、骨，切作塊，用面二兩，作面絲，生薑汁一合，胡椒一兩，同炒，蔥、鹽、醋調和。</p>

<h3>盞蒸</h3>
<p>補中益氣。</p>
<p>撏羊背皮或羊肉（三腳子，卸成事件）　草果（五個）　良薑（二錢）　陳皮（二錢，去白　小椒二錢）</p>
<p>上件，用杏泥一斤，松黃二合，生薑汁二合，同炒，蔥、鹽五味調勻，入盞內蒸令軟熟，對經卷兒食之。</p>

<h3>臺苗羹</h3>
<p>補中益氣。</p>
<p>羊肉（一腳子，卸成事件）　草果（五個）　良薑（二錢）</p>
<p>上件，熬成湯，濾淨，用羊肝下醬，取清汁，豆粉五斤，作粉，乳餅一個，山藥一斤，胡蘿蔔十個，羊尾子一個，羊肉等，各切細，入臺子菜、韭菜、胡椒一兩，鹽、醋調和。</p>

<h3>熊湯</h3>
<p>治風痹不仁，腳氣。</p>
<p>熊肉（二腳子，煮熟，切塊）　草果（三個）</p>
<p>上件，用胡椒三錢，哈昔泥一錢，薑黃二錢，縮砂二錢，咱夫蘭一錢，蔥、鹽、醬一同調和。</p>

<h3>鯉魚湯</h3>
<p>治黃疸。止渴，安胎。有宿瘕者，不可食之。</p>
<p>大新鯉魚（十頭，去鱗肚，洗淨）　小椒末（五錢）</p>
<p>上件，用芫荽末五錢，蔥二兩，切，酒少許，鹽一同淹，拌清汁內，下魚，次下胡椒末五錢，生薑末三錢，蓽撥末三錢，鹽、醋調和。</p>

<h3>炒狼湯</h3>
<p>古本草不載狼肉，今云性熱，治虛弱。然食之末聞有毒。今製造用料物以助其味，暖五臟，溫中。</p>
<p>狼肉（一腳子，卸成事件）　草果（三個）　胡椒（五錢）　哈昔泥（一錢）　蓽撥（二錢）　縮砂（二錢）　薑黃（二錢）　咱夫蘭（一錢）</p>
<p>上件，熬成湯，用蔥、醬、鹽、醋一同調和。</p>

<h3>圍像</h3>
<p>補益五臟。</p>
<p>羊肉（一腳子，煮熟，切細）　羊尾子（二個，熟，切細）　藕（二枚）　蒲筍（二斤）　黃瓜（五個）　生薑（半斤）　乳餅（二個）　糟姜（四兩）　瓜齏（半斤）　雞子（一十個，煎作餅）　蘑菇（一斤）　蔓菁菜　韭菜（各切條道）</p>
<p>上件，用好肉湯，調麻泥二斤、薑末半斤，同炒。蔥、鹽、醋、調和，對胡餅食之。</p>

<h3>春盤面</h3>
<p>補中益氣。</p>
<p>白麵（六斤，切細面）　羊肉（二腳子，煮熟，切條道乞馬）　羊肚肺（各一個，煮熟切）　雞子（五個，煎作餅，裁幡）　生薑（四兩，切）　韭黃（半斤）　蘑菇（四兩）　臺子菜　蓼牙　胭脂上件，用清汁下胡椒一兩，鹽、醋調和。</p>

<h3>皂羹面</h3>
<p>補中益氣。</p>
<p>白麵（六斤，切細面）　羊胸子（二個，退洗淨，煮熟，切如色數塊）</p>
<p>上件，用紅曲三錢，淹拌，熬令軟，同入清汁內，下胡椒一兩，鹽、醋調和。</p>

<h3>山藥面</h3>
<p>補虛羸，益元氣。</p>
<p>白麵（六斤）　雞子（十個，取白）　生薑汁（二合）　豆粉（四兩）</p>
<p>上件，用山藥三斤，煮熟，研泥，同和麵，羊肉二腳子，切丁頭乞馬，用好肉湯下炒，蔥、鹽調和。</p>

<h3>掛麵</h3>
<p>補中益氣。</p>
<p>羊肉（一腳子，切細乞馬）　掛麵（六斤）　蘑菇（半斤，洗淨，切）　雞子（五個，煎作餅）　糟姜（一兩，切）　瓜齏（一兩，切）</p>
<p>上件，用清汁，下胡椒一兩，鹽、醋調和。</p>

<h3>經帶面</h3>
<p>補中益氣。</p>
<p>羊肉（一腳子，炒焦肉乞馬）　蘑菇（半斤，洗淨，切）</p>
<p>上件，用清汁，下胡椒一兩，鹽、醋調和。</p>

<h3>羊皮面</h3>
<p>補中益氣。</p>
<p>羊皮（二個，撏洗淨，煮軟）　羊舌（二個，熟　羊腰子四個，熟，各切如甲葉）　蘑菇（一斤，洗淨）　糟姜（四兩，各切如甲葉）</p>
<p>上件，用好肉釅湯或清汁，下胡椒一兩，鹽、醋調和。</p>

<h3>禿禿麻食</h3>
<p>系手撇面。補中益氣。</p>
<p>白麵（六斤、作禿禿麻食）　羊肉（一腳子，炒焦肉乞馬）</p>
<p>上件，用好肉湯下炒蔥，調和勻，下蒜酪、香菜末。</p>

<h3>細水滑</h3>
<p>絹邊水滑一同。補中益氣。</p>
<p>白麵（六斤，作水滑）　羊肉（二腳子，炒焦肉乞馬）　雞兒（一個，熟，切絲）　蘑菇（半斤，洗淨，切）</p>
<p>上件，用清汁，下胡椒一兩，鹽、醋調和。</p>

<h3>水龍𱃪子</h3>
<p>補中益氣。</p>
<p>羊肉（二腳子，熟，切作乞馬）　白麵（六斤，切作錢眼𱃪子）　雞子（十個）　山藥（一斤）　糟姜（四兩）　胡蘿蔔（五個）　瓜齏（二兩，各切細）　三色彈兒（內一色肉彈兒，外二色粉，雞子彈兒）</p>
<p>上件，用清汁，下胡椒二兩，鹽、醋調和。</p>

<h3>馬乞</h3>
<p>系手搓面。或糯米粉，雞頭粉亦可。補中益氣。</p>
<p>白麵（六斤，作乞馬）　羊肉（二腳子，熟，切乞馬）</p>
<p>上件，用好肉湯炒，蔥、醋、鹽一同調和。</p>

<h3>搠羅脫因</h3>
<p>系畏兀兒茶飯。補中益氣。</p>
<p>白麵（六斤，和，按作錢樣）　羊肉（二腳子，熟切）　羊舌（二個，熟切）　山藥（一斤）　蘑菇（半斤）　胡蘿蔔（五個）　糟姜（四兩，切）</p>
<p>上件，用好釅肉湯同下、炒，蔥、醋調和。</p>

<h3>乞馬粥</h3>
<p>補脾胃，益氣力。</p>
<p>羊肉（一腳子，卸成事件，熬成湯，濾淨）　粱米（二升，淘洗淨）</p>
<p>上件，用精肉切碎乞馬，先將米下湯內，次下乞馬、米、蔥、鹽，熬成粥，或下圓米，或折米，或渴米皆可。</p>

<h3>湯粥</h3>
<p>補脾胃，益腎氣。</p>
<p>羊肉（一腳子，卸成事件）</p>
<p>上件，熬成湯，濾淨，次下粱米三升，作粥熟，下米、蔥、鹽，或下圓米、渴米、折米皆可。</p>

<h3>粱米淡粥</h3>
<p>補中益氣。</p>
<p>粱米（二升）</p>
<p>右先將水滾過，澄清，濾淨，次將米淘洗三、五遍，熬成粥，或下圓米、渴米、折米皆可。</p>

<h3>河西米湯粥</h3>
<p>補中益氣。　</p>
<p>羊肉（一腳子，卸成事件）　河西米（二升）</p>
<p>右熬成湯，濾淨，下河西米，淘洗淨，次下細乞馬、米、蔥、鹽，同熬成粥，或不用乞馬亦可。</p>

<h3>撒速湯</h3>
<p>系西天茶飯名。治元臟虛冷，腹內冷痛，腰脊痠疼。</p>
<p>羊肉（二腳子，頭蹄一副）　草果（四個）　官桂（三兩）　生薑（半斤）　哈昔泥（如回回豆子兩個大）</p>
<p>上件，用水一鐵絡，熬成湯，於石頭鍋內盛頓，下石榴子一斤，胡椒二兩，鹽少許，炮石榴子用小油一杓，哈昔泥如豌豆一塊，炒鵝黃色微黑，湯末子油去淨，澄清，用甲香、甘松、哈昔泥、酥油燒煙薰瓶，封貯任意。</p>

<h3>炙羊心</h3>
<p>治心氣驚悸，鬱結不樂。</p>
<p>羊心（一個，帶系桶）　咱夫蘭（三錢）</p>
<p>上件，用玫瑰水一盞，浸取汁，入鹽少許，籤子簽羊心，於火上炙，將咱夫蘭汁徐徐塗之，汁盡為度，食之。安寧心氣，令人多喜。</p>

<h3>炙羊腰</h3>
<p>治卒患腰眼疼痛者。</p>
<p>羊腰（一對）　咱夫蘭（一錢）</p>
<p>上件，用玫瑰水一杓，浸取汁，入鹽少許，籤子簽腰子火上炙。將咱夫蘭汁徐徐塗之，汁盡為度，食之。甚有效驗。</p>

<h3>攢雞兒</h3>
<p>肥雞兒（十個，撏洗淨，熟切攢）　生薑汁（一合）　蔥（二兩，切）　薑末（半斤）　小椒末（四兩）　面（二兩，作面絲）</p>
<p>上件，用煮雞兒湯炒，蔥、醋入薑汁調和。</p>

<h3>炒鵪鶉</h3>
<p>鵪鶉（二十個，切成事件）　蘿蔔（二個，切）　薑末（四兩）　羊尾子（一個，各切如色數）　面（二兩，作面絲）</p>
<p>上件，用煮鵪鶉湯炒，蔥、醋調和。</p>

<h3>盤兔</h3>
<p>兔兒（二個，切作事件）　蘿蔔（二個，切）　羊尾子（一個，切片）　細料物（二錢）</p>
<p>上件，用炒，蔥、醋調和，下面絲二兩，調和。</p>

<h3>河西肺</h3>
<p>羊肺（一個）　韭（六斤，取汁）　面（二斤，打糊）　酥油（半斤）　胡椒（二兩）　生薑汁（二合）</p>
<p>上件，用鹽調和勻，灌肺，煮熟，用汁澆食之。</p>

<h3>薑黃腱子</h3>
<p>羊腱子（一個，熟）　羊肋枝（二個，截作長塊）　豆粉（一斤）　白麵（一斤）　咱夫蘭（二錢）　梔子（五錢）</p>
<p>上件，用鹽、料物調和，搽腱子，下小油炸。</p>

<h3>鼓兒籤子</h3>
<p>羊肉（五斤，切細）　羊尾子（一個，切細）　雞子（十五個）　生薑（二錢）　蔥（二兩，切）　陳皮（二錢，去白）　料物（三錢）</p>
<p>上件，調和勻，入羊白腸內，煮熟切作鼓樣，用豆粉一斤，白麵一斤，咱夫蘭一錢，梔子三錢，取汁，同拌鼓兒籤子，入小油炸。</p>

<h3>帶花羊頭</h3>
<p>羊頭（三個，熟切）　羊腰（四個）　羊肚肺（各一具，煮熟切，攢胭脂染）　生薑（四兩）　糟姜（二兩，各切）　雞子（五個，作花樣）　蘿蔔（三個，作花樣）</p>
<p>上件，用好肉湯炒，蔥、鹽、醋調和。</p>

<h3>魚彈兒</h3>
<p>大鯉魚（十個，去皮、骨、頭、尾）　羊尾子（二個，同剁為泥）　生薑（一兩，切細）　蔥（二兩，切細）　陳皮末（三錢）　胡椒末（一兩）　哈昔泥（二錢）</p>
<p>上件，下鹽，入魚肉內拌勻，丸如彈兒，用小油炸。</p>

<h3>芙蓉雞</h3>
<p>雞兒（十個，熟攢）羊肚、肺（各一具，熟切）　生薑（四兩，切）　胡蘿蔔（十個，切）　雞子（二十個，煎作餅，刻花樣）　赤根　芫荽（打糝）　胭脂　梔子（染）　杏泥（一斤）</p>
<p>上件，用好肉湯炒，蔥、醋調和。</p>

<h3>肉餅兒</h3>
<p>精羊肉（十斤，去脂膜筋，捶為泥）　哈昔泥（三錢）　胡椒（二兩）　蓽撥（一兩）　芫荽末（一兩）上件，用鹽調和勻，捻餅，入小油炸。</p>

<h3>鹽腸</h3>
<p>羊苦（腸水洗淨）</p>
<p>上件，用鹽拌勻，風乾，入小油炸。</p>

<h3>腦瓦剌</h3>
<p>熟羊胸子（二個，切薄片）　雞子（二十個，熟）</p>
<p>上件，用諸般生菜，一同捲餅。</p>

<h3>薑黃魚</h3>
<p>鯉魚（十個，去皮鱗）　白麵（二斤）　豆粉（一斤）　芫荽末（二兩）</p>
<p>上件，用鹽、料物淹拌過搽魚，入小油炸熟，用生薑二兩，切絲。芫荽葉，胭脂染，蘿蔔絲炒，蔥調和。</p>

<h3>攢雁</h3>
<p>雁（五個，煮熟，切攢）　薑末（半斤）</p>
<p>右用好肉湯炒，蔥、鹽調和。</p>

<h3>豬頭姜豉</h3>
<p>豬頭（二個，洗淨，切成塊）　陳皮（二錢，去白）　良薑（二錢）　小椒（二錢）　官桂（二錢）　草果（五個）　小油（一斤）　蜜（半斤）</p>
<p>上件，一同熬成，次下芥末炒，蔥、醋、鹽調和。</p>

<h3>蒲黃瓜齏</h3>
<p>淨羊肉（十斤，煮熟，切如瓜齏）　小椒（一兩）　蒲黃（半斤）</p>
<p>上件，用細料物一兩，鹽同拌勻。</p>

<h3>攢羊頭</h3>
<p>羊頭（五個，煮熟攢）　薑末（四兩）　胡椒（一兩）</p>
<p>上件，用好肉湯炒，蔥、鹽、醋調和。</p>

<h3>攢牛蹄</h3>
<p>馬蹄、熊掌一同。</p>
<p>牛蹄（一副，煮熟，攢）　薑末（二兩）</p>
<p>上件，用好肉湯同炒，蔥、鹽調和。</p>

<h3>細乞思哥</h3>
<p>羊肉（一腳子，煮熟，切細）　蘿蔔（二個，熟，切細）　羊尾子（一個，熟切）　哈夫兒（二錢）</p>
<p>上件用好肉湯同炒，蔥調和。</p>

<h3>肝生</h3>
<p>羊肝（一個，水浸，切細絲）　生薑（四兩，切細絲）　蘿蔔（二個，切細絲）　香菜　蓼子（各二兩，切細絲）</p>
<p>上件，用鹽、醋、芥末調和。</p>

<h3>馬肚盤</h3>
<p>馬肚腸（一副，煮熟，切）　芥末（半斤）</p>
<p>上件，將白血灌腸，刻花樣，澀脾，和脂剁心子攢成炒，蔥、鹽、醋、芥末調和。</p>

<h3>炸䐑兒</h3>
<p>系細項。</p>
<p>䐑兒（二個，卸成各一節）　哈昔泥（一錢）　蔥（一兩，切細）</p>
<p>上件，用鹽一同淹拌，少時，入小油炸熟。次用咱夫蘭二錢，水浸汁，下料物、芫荽末，同糝拌。</p>

<h3>熬蹄兒</h3>
<p>羊蹄（五副，退洗淨，煮軟，切成塊）　薑末（一兩）　料物（五錢）</p>
<p>上件，下面絲炒，蔥、醋、鹽調和。</p>

<h3>熬羊胸子</h3>
<p>羊胸子（二個，退毛洗淨，煮軟，切作色數塊）　薑末（二兩）　料物（五錢）</p>
<p>上件，用好肉湯，下面絲炒，蔥、鹽、醋調和。</p>

<h3>魚鱠</h3>
<p>新鯉魚（五個，去皮、骨、頭、尾）　生薑（二兩）　蘿蔔（二個）　蔥（一兩）　香菜　蓼子（各切如絲）　胭脂（打糝。）</p>
<p>上件，下芥末炒，蔥、鹽、醋調和。</p>

<h3>紅絲</h3>
<p>羊血同白麵（依法煮熟）　生薑（四兩）　蘿蔔（一個）　香菜　蓼子（各一兩，切細絲）</p>
<p>上件，用鹽、醋、芥末調和。</p>

<h3>燒雁</h3>
<p>燒䳄䳓、燒鴨子等同。</p>
<p>雁（一個，去毛、腸、肚，淨）　羊肚（一個，退洗淨，包雁）　蔥（二兩）　芫荽末（一兩）</p>
<p>上件，用鹽同調，入雁腹內燒之。</p>

<h3>燒水札</h3>
<p>水札（十個，撏洗淨）　芫荽末（一兩）　蔥（十莖）　料物（五錢）</p>
<p>上件，用鹽同拌勻燒，或以肥麵包水扎，就籠內蒸熟亦可。或以酥油水和麵包水扎，入爐𨫼內爐熟亦可。</p>

<h3>柳蒸羊</h3>
<p>羊（一口，帶毛）</p>
<p>上件，於地上作爐，三尺深，周迴以石，燒令通赤，用鐵芭盛羊上，用柳子蓋覆，土封，以熟為度。</p>

<h3>倉饅頭</h3>
<p>羊肉　羊脂　蔥　生薑　陳皮（各切細）</p>
<p>上件，入料物、鹽、醬，拌和為餡。</p>

<h3>鹿奶肪饅頭</h3>
<p>或作倉饅頭，或做皮薄饅頭皆可。</p>
<p>鹿奶肪　羊尾子（各切如指甲片）　生薑　陳皮（各切細）</p>
<p>上件，入料物、鹽，拌和為餡。</p>

<h3>茄子饅頭</h3>
<p>羊肉　羊脂　羊尾子　蔥　陳皮（各切細）　嫩茄子（去穰）</p>
<p>上件，同肉作餡，卻入茄子內蒸，下蒜酪、香菜末，食之。</p>

<h3>剪花饅頭</h3>
<p>羊肉　羊脂　羊尾子　蔥　陳皮（各切細）</p>
<p>上件，依法入料物、鹽、醬拌餡包饅頭，用剪子剪諸般花樣，蒸，用胭脂染花。</p>

<h3>水晶角兒</h3>
<p>羊肉　羊脂　羊尾子　蔥　陳皮　生薑（各切細）</p>
<p>上件，入細料物、鹽、醬拌勻，用豆粉作皮包之。</p>

<h3>酥皮奄子</h3>
<p>羊肉　羊脂　羊尾子　蔥　陳皮　生薑（各切細或下瓜哈孫--系山丹根）</p>
<p>上件，入料物、鹽、醬拌勻，用小油、米粉與面，同和作皮。</p>

<h3>撇列角兒</h3>
<p>羊肉　羊脂　羊尾子　新韭（各切細）</p>
<p>上件，入料物、鹽、醬拌勻，白麵作皮，𨫼上炮熟，次用酥油、蜜，或以葫蘆瓠子作餡亦可。</p>

<h3>蒔蘿角兒</h3>
<p>羊肉　羊脂　羊尾子　蔥　陳皮　生薑（各切細）</p>
<p>上件，入料物、鹽、醬拌勻，用白麵、蜜與小油拌入鍋內，滾水攪熟作皮。</p>

<h3>天花包子</h3>
<p>或作蟹黃亦可。藤花包子一同。</p>
<p>羊肉　羊脂　羊尾子　蔥　陳皮　生薑（各切細）　天花（滾水燙熟，洗淨，切細）</p>
<p>上件，入料物、鹽、醬拌餡，白麵作薄皮，蒸。</p>

<h3>荷蓮兜子</h3>
<p>羊肉（三腳子，切）　羊尾子（二個，切）　雞頭仁（八兩）　松黃（八兩）　八檐仁（四兩）　蘑菇（八兩）　杏泥（一斤）　胡桃仁（八兩）　必思答仁（四兩）　胭脂（一兩）　梔子（四錢）　小油（二斤）　生薑（八兩）　豆粉（四斤）　山藥（三斤）　雞子（三十個）　羊肚肺（各二副）　苦腸（一副）　蔥（四兩）　醋（半瓶）　芫荽葉</p>
<p>上件，用鹽、醬、五味調和勻，豆粉作皮，入盞內蒸，用松黃汁澆食。</p>

<h3>黑子兒燒餅</h3>
<p>白麵（五斤）　牛奶子（二升）　酥油（一斤）　黑子兒（一兩，微炒）</p>
<p>上件，用鹽、減少許，同和麵作燒餅。</p>

<h3>牛奶子燒餅</h3>
<p>白麵（五斤）　牛奶子（二斤）　酥油（一斤）　茴香（一兩，微炒）</p>
<p>上件，用鹽、減少許，同和麵作燒餅。</p>

<h3>𩚫餅</h3>
<p>經卷兒一同。</p>
<p>白麵（十斤）　小油（一斤）　小椒（一兩，炒去汁）　茴香（一兩，炒）</p>
<p>上件，隔宿用酵子、鹽、減、溫水，一同和麵。次日入面接肥，再和成面。每斤作二個，入籠內蒸。</p>

<h3>頗兒必湯</h3>
<p>即羊闢膝骨。　主男女虛勞，寒中，羸瘦，陰氣不足。利血脈，益經氣。</p>
<p>頗兒必三四十個，水洗淨。</p>
<p>上件，用水一鐵絡，同熬。四分中熬取一分，澄濾淨，去油去滓，再凝定。如欲食，任意多少。</p>

<h3>米哈訥關列孫</h3>
<p>治五勞七傷，藏氣虛冷。常服補中益氣。</p>
<p>羊後腳一個（去筋膜，切碎）</p>
<p>上件，用淨鍋內干爁熟。令蓋封閉，不透氣，後用淨布絞紐取汁。</p>

<h1>卷第二</h1>

<h2>諸般湯煎</h2>

<h3>桂漿</h3>
<p>生津止渴，益氣和中，去濕逐飲。</p>
<p>生薑（三斤，取汁）　熟水（二斗）　赤茯苓（三兩，去皮，為末）　桂（三兩，去皮，為末）　曲末（半斤）　杏仁（一百個，湯洗，去皮、尖，生研為泥）　大麥糵（半兩，為末）　白沙蜜（三斤，煉淨。）</p>
<p>右用前藥，蜜水拌和勻，入磁罐內，油紙封口數重，泥固濟，冰窖內放三日方熟。綿濾冰浸，暑月飲之。</p>

<h3>桂沉漿</h3>
<p>去濕逐飲，生津止渴，順氣。</p>
<p>紫蘇葉（一兩，銼）　沉香（三錢，銼）　烏梅（一兩，取肉）　沙糖（六兩）</p>
<p>上件四味，用水五六碗，熬至三碗，濾去滓，入桂漿一升，合和作漿飲之。</p>

<h3>荔枝膏</h3>
<p>生津止渴，去煩。</p>
<p>烏梅（半斤，取肉）　桂（一十兩，去皮，銼）　沙糖（二十六兩）　麝香（半錢，研）　生薑汁（五兩）　熟蜜（一十四兩）</p>
<p>右用水一斗五升，熬至一半，濾去滓，下沙糖、生薑汁，再熬去滓，澄定少時，入麝香攪勻，澄清如常，任意服。</p>

<h3>梅子丸</h3>
<p>生津止渴，解化酒毒，去濕。</p>
<p>烏梅（一兩半，取肉）　白梅（一兩半，取肉）　乾木瓜（一兩半）　紫蘇葉（一兩半）　甘草（一兩，炙）　檀香（二錢）　麝香（一錢，研）</p>
<p>右為末，入麝香和勻，沙糖為丸如彈大。每服一丸，噙化。</p>

<h3>五味子湯</h3>
<p>代葡萄酒飲。　生津止渴，暖精益氣。</p>
<p>北五味（一斤，淨肉）　紫蘇葉（六兩）　人參（四兩，去蘆，銼）　沙糖（二斤）</p>
<p>上件，用水二斗，熬至一斗，濾去滓，澄清，任意服之。</p>

<h3>人參湯</h3>
<p>代酒飲。　順氣、開胸膈，止渴生津。</p>
<p>新羅參（四兩，去蘆，銼）　橘皮（一兩，去白）　紫蘇葉（二兩）　沙糖（一斤）</p>
<p>上件，用水二斗，熬至一斗，去滓，澄清，任意飲之。</p>

<h3>仙術湯</h3>
<p>去一切不正之氣，溫脾胃，進飲食，闢瘟疫，除寒濕。</p>
<p>蒼朮（一斤，米泔浸三日，竹刀子切片，焙乾，為末）　茴香（二兩，炒，為末）　甘草（二兩，炒，為末）　白麵（一斤，炒）　干棗（二升，焙乾，為末）　鹽（四兩，炒）</p>
<p>上件，一同和勻。每日空心白湯點服。</p>

<h3>杏霜湯</h3>
<p>調順肺氣，利胸膈，治咳嗽。</p>
<p>粟米（五升，炒，為面）　杏仁（二升，去皮、尖，麩炒，研）　鹽（三兩，炒）</p>
<p>上件拌勻。每日空心白湯調一錢。入酥少許尤佳。</p>

<h3>山藥湯</h3>
<p>補虛益氣，溫中潤肺。</p>
<p>山藥（一斤、煮熟）　粟米（半升，炒，為面）　杏仁（二斤，炒令過熟，去皮、尖，切如米）</p>
<p>上件，每日空心白湯調二錢，入酥油少許，山藥任意。</p>

<h3>四和湯</h3>
<p>治腹內冷痛，脾胃不和。</p>
<p>白麵（一斤，炒）　芝麻（一斤，炒）　茴香（二兩，炒）　鹽（一兩，炒）</p>
<p>上件，併為末。每日空心白湯點服。</p>

<h3>棗薑湯</h3>
<p>和脾胃，進飲食。</p>
<p>生薑（一斤，切作片）　棗（三升，去核，炒）　甘草（二兩，炒）　鹽（二兩，炒）</p>
<p>上件為末，一處拌勻。每日空心白湯點服。</p>

<h3>茴香湯</h3>
<p>治元藏虛弱，臍腹冷痛。</p>
<p>茴香（一斤，炒）　川楝子（半斤）　陳皮（半斤，去白）　甘草（四兩，炒）　鹽（半斤，炒）</p>
<p>上件為細末，相和勻。每日空心白湯點服。</p>

<h3>破氣湯</h3>
<p>治元藏虛弱，腹痛，胸膈閉悶。</p>
<p>杏仁（一斤，去皮、尖，麩炒，別研）　茴香（四兩，炒）　良薑（一兩）　蓽澄茄（二兩）　陳皮（二兩，去白）　桂花（半斤）　薑黃（一兩）　木香（一兩）　丁香（一兩）　甘草（半斤）　鹽（半斤）</p>
<p>上件為細末。空心白湯點服。</p>

<h3>白梅湯</h3>
<p>治中熱，五心煩躁，霍亂嘔吐，乾渴，津液不通。</p>
<p>白梅肉（一斤）　白檀（四兩）　甘草（四兩）　鹽（半斤）</p>
<p>上件為細末。每服一錢，入生薑汁少許，白湯調下。</p>

<h3>木瓜湯</h3>
<p>治腳氣不仁，膝勞冷痹疼痛。</p>
<p>木瓜（四個，蒸熟，去皮，研爛如泥）　白沙蜜（二斤，煉淨）</p>
<p>上件二味，調和勻，入淨磁器內盛之。空心白湯點服。</p>

<h3>橘皮醒酲湯</h3>
<p>治酒醉不解，嘔噫吞酸。</p>
<p>香橙皮（一斤，去白）　陳橘皮（一斤，去白）　檀香（四兩）　葛花（半斤）　綠豆花（半斤）　人參（二兩，去蘆）　白豆蔻仁（二兩）　鹽（六兩，炒）</p>
<p>上件為細末。每日空心白湯點服。</p>

<h3>渴忒餅兒</h3>
<p>生津止渴，治嗽。</p>
<p>渴忒（一兩二錢）　新羅參（一兩，去蘆）　菖蒲（一錢，各為細末）　白納八（三兩，研，系沙糖）</p>
<p>上件，將渴忒用葡萄酒化成膏，和上項藥末，令勻為劑，印作餅。每用一餅，徐徐噙化。</p>

<h3>官桂渴忒餅兒</h3>
<p>生津，止寒嗽。</p>
<p>官桂（二錢，為末）　渴忒（一兩二錢）　新羅參（一兩二錢，去蘆，為末）　白納八（三兩，研）</p>
<p>上件，將渴忒用玫瑰水化成膏，和藥末為劑，用訶子油印作餅子。每用一餅，徐徐噙化。</p>

<h3>答必納餅兒</h3>
<p>清頭目，利咽膈，生津止渴，治嗽。</p>
<p>答必納（二錢為末，即草龍膽）　新羅參（一兩二錢，去蘆，為末）　白納八（五兩，研）</p>
<p>上件，用赤赤哈納（即北地酸角兒。）熬成膏，和藥末為劑，印作餅兒，每用一餅，徐徐噙化。</p>

<h3>橙香餅兒</h3>
<p>寬中順氣，清利頭目。</p>
<p>新橙皮（一兩，焙，去白）　沉香（五錢）　白檀（五錢）　縮砂（五錢）　白豆蔻仁（五錢）　蓽澄茄（三錢）　南硼砂（三錢，別研）　龍腦（二錢，別研）　麝香（二錢，別研。）</p>
<p>上件為細末，甘草膏和劑印餅。每用一餅，徐徐噙化。</p>

<h3>牛髓膏子</h3>
<p>補精髓，壯筋骨，和血氣，延年益壽。</p>
<p>黃精膏（五兩）　地黃膏（三兩）　天門冬膏（一兩）　牛骨頭內取油（二兩）</p>
<p>上件，將黃精膏、地黃膏、天門冬膏與牛骨油一同不住手用銀匙攪，令冷定和勻成膏。每日空心溫酒調一匙頭。</p>

<h3>木瓜煎</h3>
<p>木瓜（十個，去皮穰，取汁，熬水盡）　白沙糖（十斤，煉淨）</p>
<p>上件，一同再熬成煎。</p>

<h3>香圓煎</h3>
<p>香圓（二十個，去皮取肉）　白沙糖（十斤，煉淨）</p>
<p>上件，一同再熬成煎。</p>

<h3>株子煎</h3>
<p>株子（一百個，取淨肉）　白沙糖（五斤，煉淨）</p>
<p>上件，同熬成煎。</p>

<h3>紫蘇煎</h3>
<p>紫蘇葉（五斤）　乾木瓜（五斤）　白沙糖（十斤，煉淨）</p>
<p>上件，一同熬成煎。</p>

<h3>金橘煎</h3>
<p>金橘（五十個，去子取皮）　白沙糖（三斤）</p>
<p>上件，一同熬成煎。</p>

<h3>櫻桃煎</h3>
<p>櫻桃（五十斤，取汁）　白沙糖（二十五斤）</p>
<p>上件，同熬成煎。</p>

<h3>桃煎</h3>
<p>大桃（一百個，去皮，切片取汁）　白沙蜜（二十斤，煉淨）</p>
<p>上件，一同熬成煎。</p>

<h3>石榴漿</h3>
<p>石榴子（十斤，取汁）　白沙糖（十斤，煉淨）</p>
<p>上件，一同熬成煎。</p>

<h3>小石榴煎</h3>
<p>小石榴（二斗，蒸熟去子，研為泥）　白沙蜜（十斤，煉淨）</p>
<p>上件，一同熬成煎。</p>

<h3>五味子舍兒別</h3>
<p>新北五味（十斤，去子，水浸取汁）　白沙糖（八斤，煉淨）</p>
<p>上件，一同熬成煎。</p>

<h3>赤赤哈納即酸刺</h3>
<p>赤赤哈納（不以多少，水浸取汁）</p>
<p>上件，用銀石器內熬成膏。</p>

<h3>松子油</h3>
<p>松子（不以多少，去皮，搗研為泥）</p>
<p>上件，水絞取汁熬成，取淨清油綿濾淨，再熬澄清。</p>

<h3>杏子油</h3>
<p>杏子（不以多少，連皮搗碎）</p>
<p>上件，水煮熬，取浮油，綿濾淨，再熬成油。</p>

<h3>酥油</h3>
<p>牛乳中取淨凝，熬而為酥。</p>

<h3>醍醐油</h3>
<p>取上等酥油，約重千斤之上者，煎熬過濾淨，用大磁甕貯之，冬月取甕中心不凍者，謂之醍醐。</p>

<h3>馬思哥油</h3>
<p>取淨牛奶子不住手用阿赤（即打油木器也。）打取浮凝者為馬思哥油。今亦云白酥油。</p>

<h3>枸杞茶</h3>
<p>枸杞五斗，水淘洗淨，去浮麥，焙乾，用白布筒淨，去蒂萼、黑色，選揀紅熟者，先用雀舌茶展溲碾子，茶芽不用，次碾枸杞為細末。每日空心用□匙頭，入酥油攪勻，溫酒調下，白湯亦可。（忌與酪同食。）</p>

<h3>玉磨茶</h3>
<p>上等紫筍五十斤，篩筒淨，蘇門炒米五十斤，篩筒淨，一同拌和勻，入玉磨內，磨之成茶。</p>

<h3>金字茶</h3>
<p>系江南湖州造進末茶。</p>

<h3>範殿帥茶</h3>
<p>系江浙慶元路造進茶芽，味色絕勝諸茶。</p>

<h3>紫筍雀舌茶</h3>
<p>選新嫩芽蒸過，為紫筍。有先春、次春、探春，味皆不及紫筍雀舌。</p>

<h3>女須兒</h3>
<p>（出直北地面，味溫甘。）</p>

<h3>西番茶</h3>
<p>（出本土，味苦澀，煎用酥油。）</p>

<h3>川茶、藤茶、誇茶</h3>
<p>（皆出四川。）</p>

<h3>燕尾茶</h3>
<p>（出江浙、江西。）</p>

<h3>孩兒茶</h3>
<p>（出廣南。）</p>

<h3>溫桑茶</h3>
<p>（出黑峪。）</p>
<p>凡諸茶，味甘苦微寒，無毒。去痰熱，止渴，利小便，消食下氣，清神少睡。</p>

<h3>清茶</h3>
<p>先用水滾過濾淨，下茶芽，少時煎成。</p>

<h3>炒茶</h3>
<p>用鐵鍋燒赤，以馬思哥油、牛奶子、茶芽同炒成。</p>

<h3>蘭膏</h3>
<p>玉磨末茶三匙頭，面、酥油同攪成膏，沸湯點之。</p>

<h3>酥簽</h3>
<p>金字末茶兩匙頭，入酥油同攪，沸湯點服。</p>

<h3>建湯</h3>
<p>玉磨末茶一匙，入碗內研勻，百沸湯點之。</p>

<h3>香茶</h3>
<p>白茶（一袋）　龍腦成片者（三錢）　百藥煎（半錢）　麝香（二錢）</p>
<p>同研細，用香粳米熬成粥，和成劑，印作餅。</p>

<h2>諸水</h2>

<h3>玉泉水</h3>
<p>甘平，無毒。治消渴，反胃，熱痢。今西山有玉泉水，甘美味勝諸泉。</p>

<h3>井華水</h3>
<p>甘平，無毒。主人九竅大驚出血，以水噀面即住。及洗人目翳。投酒醋中，令人損敗，平旦汲者是也。今內府御用之水，常於鄒店取之。緣自至大初武宗皇帝幸柳林飛放，請皇太后同往觀焉。由是道經鄒店，因渴思茶，遂命普蘭奚國公金界奴朵兒只煎造。公親詣諸井選水，惟一井水，味頗清甘。汲取煎茶以進，上稱其茶味特異。內府常進之茶，味色兩絕。乃命國公於井所建觀音堂，蓋亭井上，以欄翼之，刻石紀其事。自後御用之水，日必取焉。所造湯茶，比諸水殊勝，鄰左有井，皆不及也。此水煎熬過，澄瑩如一。常較其分兩與別水增重。</p>

<h2>神仙服食</h2>

<h3>鐵甕先生瓊玉膏</h3>
<p>此膏填精補髓，腸化為筋，萬神具足，五臟盈溢，髓實血滿，發白變黑，返老還童，行如奔馬。日進數服，終日不食亦不飢，開通強志，日誦萬言，神識高邁，夜無夢想。人年二十七歲以前，服此一料，可壽三百六十歲。四十五歲以前服者，可壽二百四十歲。六十三歲以前服者，可壽一百二十歲。六十四歲以上服者，可壽百歲。服之十劑，絕其欲，修陰功，成地仙矣。一料分五處，可救五人癰疾，分十處，可救十人勞疾。修合之時，沐浴至心，勿輕示人。</p>
<p>新羅參（二十四兩，去蘆）　生地黃（一十六斤，汁）　白茯苓（四十九兩，去黑皮）　白沙蜜（一十斤，煉淨）</p>
<p>上件，人參、茯苓為細末，蜜用生絹濾過，地黃取自然汁，搗時不用銅鐵器，取汁盡，去滓，用藥一處拌和勻，入銀石器或好磁器內封，用淨紙二三十重封閉，入湯內，以桑柴火煮三晝夜。取出，用蠟紙數重包瓶口，入井口去火毒一伏時。取出再入舊湯內煮一日，出水氣，取出開封，取三匙作三盞，祭天地百神，焚香設拜，至誠端心。每日空心，酒調一匙頭。</p>

<h3>地仙煎</h3>
<p>治腰膝疼痛，一切腹內冷病。令人顏色悅澤，骨髓堅固，行及奔馬。</p>
<p>山藥（一斤）　杏仁（一升，湯泡，去皮、尖）　生牛奶子（二升）</p>
<p>上件，將杏仁研細，入牛奶子、山藥，拌絞取汁，用新磁瓶密封，湯煮一日。每日空心，酒調一匙頭。</p>

<h3>金髓煎</h3>
<p>延年益壽，填精補髓，久服發白變黑，返老還童。</p>
<p>枸杞（不以多少，採紅熟者）</p>
<p>右用無灰酒浸之，冬六日，夏三日，於沙盆內研令爛細，然後以布袋絞取汁，與前浸酒一同慢火熬成膏，於淨磁器內封貯。重湯煮之，每服一匙頭，入酥油少許，溫酒調下。</p>

<h3>天門冬膏</h3>
<p>去積聚，風痰，癩疾，三蟲，伏屍，除瘟疫。輕身，益氣，令人不飢，延年不老。</p>
<p>天門冬（不以多少，去皮，去根、須，洗淨）</p>
<p>上件搗碎，布絞取汁，澄清濾過，用磁器、沙鍋或銀器，慢火熬成膏。每服一匙頭，空心溫酒調下。</p>

<h3>服天門冬</h3>
<p>《道書八帝經》：欲不畏寒，取天門冬、茯苓為末服之。每日頓服，大寒時汗出，單衣。《抱朴子》云：杜紫微服天門冬，御八十妾，有子一百四十人，日行三百里。《列仙子》云：赤松子食天門冬，齒落更生，細發覆出。《神仙傳》：甘始者，太原人。服天門冬，在人間三百年。《修真秘旨》：神仙服天門冬，一百日後怡泰和顏，羸劣者強。三百日，身輕。三年，身走如飛。</p>

<h3>服地黃</h3>
<p>《抱朴子》云：楚文子服地黃八年，夜視有光，手上車弩。</p>

<h3>服蒼朮</h3>
<p>《抱朴子》云：南陽文氏，值亂逃於壺山，飢困，有人教之食術，遂不飢。數年乃還鄉里，顏色更少，氣力轉勝。《藥經》云：心欲長生，當服山精。是蒼朮也。</p>

<h3>服茯苓</h3>
<p>《抱朴子》云：任季子服茯苓一十八年，玉女從之，能隱彰，不食谷，面生光。孫真人《枕中記》：茯苓久服，百日百病除。二百日，夜晝二服後，役使鬼神。四年後，玉女來侍。</p>

<h3>服遠志</h3>
<p>《抱朴子》云：陵陽仲子服遠志二十年，有子三十人，開書所見，便記不忘。</p>

<h3>服五加皮酒</h3>
<p>東華真人《煮石經》：舜常登蒼梧山，曰厥金玉香草，即五加也，服之延年。故云：寧得一把五加，不用金玉滿車；寧得一斤地榆，安用明月寶珠。昔魯定公母，單服五加皮酒，以致長生。如張子聲、楊始建、王叔才、於世彥等，皆古人服五加皮酒而房室不絕，皆壽三百歲，有子三、二十人。世世有服五加皮酒而獲年壽者甚眾。</p>

<h3>服桂</h3>
<p>《抱朴子》云：趙他子服桂二十年，足下毛生，日行五百里，力舉千斤。</p>

<h3>服松子</h3>
<p>《列仙傳》：偓佺食松子，能飛行健，走如奔馬。《神仙傳》：松子不以多少，研為膏，空心溫酒調下一匙頭，日三服則不飢渴。久服日行五百里，身輕體健。</p>

<h3>服松節酒</h3>
<p>《神仙傳》：治百節疼痛，久風虛，腳痹痛。松節釀酒，服之神驗。</p>

<h3>服槐實</h3>
<p>《神仙傳》：槐實於牛膽中漬浸百日，陰乾。每日吞一枚，十日身輕，二十日白髮再黑，百日通神。</p>

<h3>服枸杞</h3>
<p>《食療》云：枸杞葉能令人筋骨壯，除風補益，去虛勞，益陽事。春夏秋採葉，冬採子，可久食之。</p>

<h3>服蓮花</h3>
<p>太清諸本草：七月七日採蓮花七分，八月八日採蓮根八分，九月九日採蓮子九分，陰乾食之，令人不老。</p>

<h3>服栗子</h3>
<p>《食療》云：如腎氣虛弱，取生栗子不以多少，令風乾之。每日空心細嚼之三五個，徐徐咽之。</p>

<h3>服黃精</h3>
<p>神仙服黃精成地仙：昔臨川有士人虐其婢，婢乃逃入山中。久之，見野草枝葉可愛，即拔取食之，甚美。自是常食之，久而不飢，遂輕健。夜息大木下，聞草動以為虎，懼而上木避之，及曉下平地，其身豁然，凌空而去，或自一峰之頂，若飛鳥焉，數歲，其家採薪見之，告其主，使捕之，不得。一日，遇絕壁下，以網三面圍之，俄而騰上山頂。其主異之，或曰：此婢安有仙風道骨？不過靈藥服食。遂以酒饌五味香美，置往來之路，觀其食否，果來食之，遂不能遠去，擒之。問以述其故，所指食之草，即黃精也。謹按：黃精寬中益氣，補五藏，調良肌肉，充實骨髓，堅強筋骨，延年不老，顏色鮮明，發白再黑，齒落更生。</p>

<h3>神枕法</h3>
<p>漢武帝東巡泰山下，見老翁鋤於道，背上有白光高數尺。帝怪而問之，有道術否？老翁對曰：臣昔年八十五時，衰老垂死，頭白齒落，有道士者，教臣服棗，飲水，絕谷，並作神枕法，中有三十二物。內二十四物善，以當二十四氣；其八物毒，以應八風。臣行轉少，黑髮更生，墮齒復出，日行三百里。臣今年一百八十矣，不能棄世入山，顧戀子孫，復還食谷，又已二十餘年，猶得神枕之力，往不復老。武帝視老翁，顏壯當如五十許人，驗問其鄰人，皆云信然。帝乃從授其方作枕，而不能隨其絕谷，飲水也。</p>
<p>神枕方：用五月五日，七月七日，取出林柏以為枕。長一尺二寸，高四寸，空中容一斗二升，以柏心赤者為蓋，厚二分，蓋致之令密，又使開閉也。又鑽蓋上為三行，每行四十九孔，凡一百四十七孔，令容粟大。用下項藥：</p>
<p>芎藭　當歸　白芷　辛荑　杜衡　白朮　藁本　木蘭　蜀椒　桂　乾薑　防風　人參　桔梗　白薇　荊實　肉蓯蓉　飛廉　柏實　薏苡仁　款冬花　白衡　秦椒　麋蕪</p>
<p>凡二十四物，以應二十四氣。</p>
<p>烏頭　附子　藜蘆　皂角　菵草　礬石　半夏　細辛</p>
<p>八物毒者，以應八風。</p>
<p>右三十二物各一兩，皆㕮咀。以毒藥上安之，滿枕中，用囊以衣枕。百日而有光澤，一年體中無疾，一一皆愈而身盡香。四年白髮變黑，齒落重生，耳目聰明。神方驗秘，不傳非人也。武帝以問東方朔，答云：昔女廉以此傳玉青，玉青以傳廣成子，廣成子以傳黃帝。近者谷城道士淳于公枕此藥，枕百餘歲而頭髮不白。夫病之來皆從陽脈起，今枕藥枕，風邪不得侵入矣。又雖以布囊衣枕，猶當復以幃囊重包之，須欲臥時乃脫去之耳。詔賜老翁疋帛，老翁不受，曰：臣之於君，猶子之於父也，子知道以上之於父，義不受賞。又臣非賣道者，以陛下好善，故進此耳。帝止而更賜諸藥。</p>

<h3>服菖蒲</h3>
<p>《神仙服食》：菖蒲尋九節者，窨干百日，為末，日三服。久服聰明耳目，延年益壽。</p>
<p>《抱朴子》云：韓聚服菖蒲十三年，身上生毛，日誦萬言，冬袒不寒。須得石上生者，一寸九節，紫花尤善。</p>

<h3>服胡麻</h3>
<p>《神仙服食》：胡麻，食之能除一切痼疾，久服長生，肥健人，延年不老。</p>

<h3>服五味</h3>
<p>《抱朴子》：服五味十六年，面色如玉，入火不灼，入水不濡。</p>

<h3>服藕實</h3>
<p>《食醫心鏡》：藕實，味甘平，無毒。補中養氣，清神，除百病。久服令人止渴悅澤。</p>

<h3>服蓮子蓮蕊</h3>
<p>《日華子》云：蓮子並石蓮去心，久食令人心喜，益氣、止渴。治腰痛，泄精，瀉痢。</p>
<p>《日華子》云：蓮花蕊，久服鎮心益色，駐顏輕身。</p>

<h3>服何首烏</h3>
<p>《日華子》云：何首烏，味甘，無毒，久服壯筋骨，益精髓，黑髭鬢，令人有子。</p>

<h2>四時所宜</h2>
<p>春三月，此謂發陳，天地俱生，萬物以榮，夜臥早起，廣步於庭，被髮緩行，以使志生，生而勿殺，予而勿奪，賞而勿罰，此春氣之應，養生之道也。逆之則傷肝，夏為寒變，奉長者少。</p>
<p>春氣溫，宜食麥，以涼之，不可一於溫也。禁溫飲食及熱衣服。</p>
<p>夏三月，此謂蕃秀，天地氣交，萬物華實，夜臥早起，無厭於日，使志無怒，使華英成秀，使氣得泄，若所愛在外，此夏氣之應，養長之道也。逆之則傷心，秋為痎瘧，奉收者少，冬至重病。</p>
<p>夏氣熱，宜食菽，以寒之，不可一於熱也。禁溫飲食，飽食，濕地，濡衣服。</p>
<p>秋三月，此謂容平，天氣以急，地氣以明，早臥早起，與雞俱興，使志安寧，以緩秋刑，收斂神氣，使秋氣平，無外其志，使肺氣清，此秋氣之應，養收之道也。逆之則傷肺，冬為飧泄，奉藏者少。</p>
<p>秋氣燥，宜食麻，以潤其燥。禁寒飲食，寒衣服。</p>
<p>冬三月，此謂閉藏，水冰地坼，無擾乎陽，早臥晚起，必待日光，使志若伏若匿，若有私意，若己有得，去寒就溫，無泄皮膚，使氣亟奪，此冬氣之應，養藏之道也。逆之則傷腎，春為痿厥，奉生者少。</p>
<p>冬氣寒，宜食黍，以熱性治其寒。禁熱飲食，溫炙衣服。</p>

<h2>五味偏走</h2>
<p>酸澀以收，多食則膀胱不利，為癃閉。苦燥以堅，多食則三焦閉塞，為嘔吐。辛味薰蒸，多食則上走於肺，榮衛不時而心洞，鹹味湧泄，多食則外注於脈，胃竭，咽燥而病渴。甘味弱劣，多食則胃柔緩而蟲過，故中滿而心悶。</p>
<p>辛走氣，氣病勿多食辛。咸走血，血病勿多食鹹。苦走骨，骨病勿多食苦。甘走肉，肉病勿多食甘。酸走筋，筋病勿多食酸。</p>
<p>肝病禁食辛，宜食粳米、牛肉、葵菜之類。心病禁食鹹，宜食小豆、犬肉、李、韭之類。脾病禁食酸，宜食大豆、豕肉、慄、藿之類。肺病禁食苦，宜食小麥、羊肉、杏、薤之類。腎病禁食甘，宜食黃黍、雞肉、桃、蔥之類。</p>
<p>多食酸，肝氣以津，脾氣乃絕，則肉胝䐢而唇揭。多食鹹，骨氣勞短，肥氣折，則脈凝泣而變色。多食甘，心氣喘滿，色黑，腎氣不平，則骨痛而發落。多食苦，則脾氣不濡，胃氣乃厚，則皮槁而毛拔。多食辛，筋脈沮㢮，精神乃央，則筋急而爪枯。五穀為食，五果為助，五肉為益，五菜為充，氣味合和而食之，則補精益氣。雖然五味調和，食飲口嗜，皆不可多也。多者生疾，少者為益。百味珍饌，日有慎節，是為上矣。</p>

<h2>食療諸病</h2>

<h3>生地黃雞</h3>
<p>治腰背疼痛，骨髓虛損，不能久立，身重氣乏，盜汗，少食，時復吐利。生地黃（半斤）　飴糖（五兩）　烏雞（一枚）</p>
<p>右三味，先將雞去毛、腸肚淨，細切，地黃與糖相和勻，內雞腹中，以銅器中放之，復置甑中蒸炊，飯熟成，取食之。不用鹽醋，唯食肉盡卻飲汁。</p>

<h3>羊蜜膏</h3>
<p>治虛勞，腰痛，咳嗽，肺痿，骨蒸。</p>
<p>熟羊脂（五兩）　熟羊髓（五兩）　白沙蜜（五兩，煉淨）　生薑汁（一合）　生地黃汁（五合）</p>
<p>右五味，先以羊脂煎令沸，次下羊髓又令沸，次下蜜、地黃、生薑汁，不住手攪，微火熬數沸成膏。每日空心溫酒調一匙頭。或作羹湯，或作粥食之亦可。</p>

<h3>羊藏羹</h3>
<p>治腎虛勞損，骨髓傷敗。</p>
<p>羊肝、肚、腎、心、肺（各一具，湯洗淨）　牛酥（一兩）　胡椒（一兩）　蓽撥（一兩）　豉（一合）　陳皮（二錢，去白）　良薑（二錢）　草果（兩個）　蔥（五莖）</p>
<p>上件，先將羊肝等，慢火煮令熟，將汁濾淨。和羊肝等並藥，一同入羊肚內，縫合口，令絹袋盛之，再煮熟，入五味，旋旋任意食之。</p>

<h3>羊骨粥</h3>
<p>治虛勞，腰膝無力。　</p>
<p>羊骨（一副，全者，捶碎）　陳皮（二錢，去白）　良薑（二錢）　草果（二個）　生薑（一兩）　鹽（少許）</p>
<p>右水三斗，慢火熬成汁，濾出澄清，如常作粥，或作羹湯亦可。</p>

<h3>羊脊骨粥</h3>
<p>治下元久虛，腰腎傷敗。　</p>
<p>羊脊骨（一具，全者，捶碎）　肉蓯蓉（一兩，洗，切作片）　草果（三個）　蓽撥（二錢）</p>
<p>上件，水熬成汁，濾去滓，入蔥白、五味，作面羹食之。</p>

<h3>白羊腎羹</h3>
<p>治虛勞，陽道衰敗，腰膝無力。</p>
<p>白羊腎（二具，切作片）　肉蓯蓉（一兩，酒浸，切）　羊脂（四兩，切作片）　胡椒（二錢）　陳皮（一錢，去白）　蓽撥（二錢）　草果（二錢）</p>
<p>上件相和，入蔥白、鹽、醬，煮作湯，入面𱃪子，如常作羹食之。</p>

<h3>豬腎粥</h3>
<p>治腎虛勞損，腰膝無力，疼痛。</p>
<p>豬腎（一對，去脂膜，切）　粳米（三合）　草果（二錢）　陳皮（一錢，去白）　縮砂（二錢）</p>
<p>上件，先將豬腎、陳皮等煮成汁，濾去滓，入酒少許，次下米成粥，空心食之。</p>

<h3>枸杞羊腎粥</h3>
<p>治陽氣衰敗，腰腳疼痛，五勞七傷。</p>
<p>枸杞葉（一斤）　羊腎（一對，細切）　蔥白（一莖）　羊肉（半斤，炒）</p>
<p>右四味拌勻，入五味，煮成汁，下米熬成粥，空腹食之。</p>

<h3>鹿腎羹</h3>
<p>治腎虛耳聾。</p>
<p>鹿腎（一對，去脂膜，切）</p>
<p>上件於豆豉中，入粳米三合，煮粥或作羹，入五味，空心食之。</p>

<h3>羊肉羹</h3>
<p>治腎虛衰弱，腰腳無力。</p>
<p>羊肉（半斤，細切）　蘿蔔（一個，切作片）　草果（一錢）　陳皮（一錢，去白）　良薑（一錢）　蓽撥（一錢）　胡椒（一錢）　蔥白（三莖）</p>
<p>上件，水熬成汁，入鹽、醬熬湯，下面𱃪子，作羹食之。將湯澄清，作粥食之亦可。</p>

<h3>鹿蹄湯</h3>
<p>治諸風、虛，腰腳疼痛，不能踐地。</p>
<p>鹿蹄（四隻）　陳皮（二錢）　草果（二錢）</p>
<p>上件，煮令爛熟，取肉，入五味，空腹食之。</p>

<h3>鹿角酒</h3>
<p>治卒患腰痛，暫轉不得。</p>
<p>鹿角（新者，長二三寸，燒令赤）</p>
<p>上件，內酒中浸二宿，空心飲之立效。</p>

<h3>黑牛髓煎</h3>
<p>治腎虛弱，骨傷敗，瘦弱無力。</p>
<p>黑牛髓（半斤）　生地黃汁（半斤）　白沙蜜（半斤，煉去蠟）</p>
<p>右三味和勻，煎成膏，空心酒調服之。</p>

<h3>狐肉湯</h3>
<p>治虛弱，五藏邪氣。</p>
<p>狐肉（五斤，湯洗淨）　草果（五個）　縮砂（二錢）　蔥（一握）　陳皮（一錢，去白）　良薑（二錢）　哈昔泥（一錢，即阿魏）</p>
<p>上件，水一斗，煮熟，去草果等，次下胡椒二錢，薑黃一錢，醋、五味，調和勻，空心食之。</p>

<h3>烏雞湯</h3>
<p>治虛弱，勞傷，心腹邪氣。</p>
<p>烏雄雞（一隻，撏洗淨，切作塊子）　陳皮（一錢，去白）　良薑（一錢）　胡椒（二錢）　草果（二個）</p>
<p>上件，以蔥、醋、醬相和，入瓶內，封口，令煮熟，空腹食。</p>

<h3>醍醐酒</h3>
<p>治虛弱，去風濕。</p>
<p>醍醐（一盞）</p>
<p>上件，以酒一杯和勻，溫飲之，效驗。</p>

<h3>山藥飥</h3>
<p>治諸虛，五勞七傷，心腹冷痛，骨髓傷敗。</p>
<p>羊骨（七五塊，帶肉）　蘿蔔（一枚，切作大片）　蔥白（一莖）　草果（五個）　陳皮（一錢，去白）　良薑（一錢）　胡椒（二錢）　縮砂（二錢）　山藥（二斤）</p>
<p>上件同煮，取汁澄清，濾去滓，面二斤，山藥二斤，煮熟，研泥，溲麵作飥，入五味，空腹食之。</p>

<h3>山藥粥</h3>
<p>治虛勞，骨蒸，久冷。</p>
<p>羊肉（一斤，去脂膜，爛煮熟，研泥）　山藥（一斤，煮熟，研泥）</p>
<p>上件，肉湯內下米三合，煮粥，空腹食之。</p>

<h3>酸棗粥</h3>
<p>治虛勞，心煩，不得睡臥。</p>
<p>酸棗仁（一碗）</p>
<p>右用水，絞取汁，下米三合煮粥，空腹食之。</p>

<h3>生地黃粥</h3>
<p>治虛弱骨蒸，四肢無力，漸漸羸瘦，心煩不得睡臥。</p>
<p>生地黃汁（一合）　酸棗仁（二兩，水絞，取汁二盞）</p>
<p>上件，水煮同熬數沸，次下米三合煮粥，空腹食之。</p>

<h3>椒面羹</h3>
<p>治脾胃虛弱，久患冷氣，心腹結痛，嘔吐不能下食。</p>
<p>川椒（三錢，炒，為末）　白麵（四兩）</p>
<p>上件同和勻，入鹽少許，於豆豉作麵條，煮羹食之。</p>

<h3>蓽撥粥</h3>
<p>治脾胃虛弱，心腹冷氣㽲痛，妨悶不能食。</p>
<p>蓽撥（一兩）　胡椒（一兩）　桂（五錢）</p>
<p>右三味為末。每用三錢，水三大碗，入豉半合，同煮令熟，去滓，下米三合作粥，空腹食之。</p>

<h3>良薑粥</h3>
<p>治心腹冷痛，積聚，停飲。</p>
<p>高良薑（半兩，為末）　粳米（三合）</p>
<p>上件，水三大碗　煎高良薑至二碗，去滓，下米煮粥，食之效驗。</p>

<h3>吳茱萸粥</h3>
<p>治心腹冷氣衝脅肋痛。</p>
<p>吳茱萸（半兩，水洗，去涎，焙乾，炒，為末）</p>
<p>上件，以米三合，一同作粥，空腹食之。</p>

<h3>牛肉脯</h3>
<p>治脾胃久冷，不思飲食。</p>
<p>牛肉（五斤，去脂膜，切作大片）　胡椒（五錢）　蓽撥（五錢）　陳皮（二錢，去白）　草果（二錢）　縮砂（二錢）　良薑（二錢）</p>
<p>上件為細末，生薑汁五合，蔥汁一合，鹽四兩，同肉拌勻，淹二日，取出焙乾，作脯，任意食之。</p>

<h3>蓮子粥</h3>
<p>治心志不寧。補中強志，聰明耳目。</p>
<p>蓮子（一升，去心）</p>
<p>上件煮熟，研如泥，與粳米三合，作粥，空腹食之。</p>

<h3>雞頭粥</h3>
<p>治精氣不足，強志，明耳目。</p>
<p>雞頭實（三合）</p>
<p>上件煮熟，研如泥，與粳米一合，煮粥食之。</p>

<h3>雞頭粉羹</h3>
<p>治濕痹，腰膝痛。除暴疾，益精氣，強心志，耳目聰明。</p>
<p>雞頭（磨成粉）　羊脊骨（一副，帶肉，熬取汁）</p>
<p>上件，用生薑汁一合，入五味調和，空心食之。</p>

<h3>桃仁粥</h3>
<p>治心腹痛，上氣咳嗽，胸膈妨滿，喘急。</p>
<p>桃仁（三兩，湯煮熟，去尖、皮，研）</p>
<p>上件取汁，和粳米同煮粥，空腹食之。</p>

<h3>生地黃粥</h3>
<p>治虛勞，瘦弱，骨蒸，寒熱往來，咳嗽唾血。</p>
<p>生地黃汁（二合）</p>
<p>上件，煮白粥，臨熟時入地黃汁，攪勻，空腹食之。</p>

<h3>鯽魚羹</h3>
<p>治脾胃虛弱，泄痢，久不瘥者，食之立效。</p>
<p>大鯽魚（二斤）　大蒜（兩塊）　胡椒（二錢）　小椒（二錢）　陳皮（二錢）　縮砂（二錢）　蓽撥（二錢）</p>
<p>上件，蔥、醬、鹽、料物、蒜，入魚肚內，煎熟作羹，五味調和令勻，空心食之。</p>

<h3>炒黃面</h3>
<p>治泄痢，腸胃不固。</p>
<p>白麵（一斤，炒令焦黃）</p>
<p>上件，每日空心溫水調一匙頭。</p>

<h3>乳餅面</h3>
<p>治脾胃虛弱，赤白泄痢。</p>
<p>乳餅（一個，切作豆子樣）</p>
<p>上件，用面拌煮熟，空腹食之。</p>

<h3>炙黃雞</h3>
<p>治脾胃虛弱，下痢。</p>
<p>黃雌雞（一隻，撏淨）</p>
<p>右以鹽、醬、醋、茴香、小椒末同拌勻，刷雞上，令炭火炙乾焦，空腹食之。</p>

<h3>牛奶子煎蓽撥法</h3>
<p>貞觀中，太宗苦於痢疾，眾醫不效，問左右能治愈者，當重賞。時有術士進此方：用牛奶子煎蓽撥，服之立瘥。</p>

<h3>猯肉羹</h3>
<p>治水腫，浮氣，腹脹，小便澀少。</p>
<p>猯肉（一斤，細切）　蔥（一握）　草果（三個）</p>
<p>上件，用小椒、豆豉，同煮爛熟，入粳米一合作羹，五味調勻，空腹食之。</p>

<h3>黃雌雞</h3>
<p>治腹中水癖，水腫。</p>
<p>黃雌雞（一隻，撏淨）　草果（二錢）　赤小豆（一升）</p>
<p>上件，同煮熟，空心食之。</p>

<h3>青鴨羹</h3>
<p>治十種水病不瘥。</p>
<p>青頭鴨（一隻，退淨）　草果（五個）</p>
<p>上件，用赤小豆半升，入鴨腹內煮熟，五味調，空心食。</p>

<h3>蘿蔔粥</h3>
<p>治消渴，舌焦，口乾，小便數。</p>
<p>大蘿蔔（五個，煮熟，絞取汁）</p>
<p>上件，用粳米三合，同水並汁，煮粥食之。</p>

<h3>野雞羹</h3>
<p>治消渴，口乾，小便頻數。</p>
<p>野雞（一隻，撏淨）</p>
<p>右入五味，如常法作羹臛食之。</p>

<h3>鵓鴿羹</h3>
<p>治消渴，飲水無度。</p>
<p>白鵓鴿（一隻，切作大片）</p>
<p>上件，用土蘇一同煮熟，空腹食之。</p>

<h3>雞子黃</h3>
<p>治小便不通。</p>
<p>雞子黃（一枚，生用）</p>
<p>上件，服之不過三服，熟亦可食。</p>

<h3>葵菜羹</h3>
<p>治小便癃閉不通。</p>
<p>葵菜葉（不以多少，洗擇淨）</p>
<p>右煮作羹，入五味，空腹食之。</p>

<h3>鯉魚湯</h3>
<p>治消渴，水腫，黃疸，腳氣。</p>
<p>大鯉魚（一頭）　赤小豆（一合）　陳皮（二錢，去白）　小椒（二錢）　草果（二錢）</p>
<p>上件，入五味，調和勻，煮熟，空腹食之。</p>

<h3>馬齒菜粥</h3>
<p>治腳氣，頭面水腫，心腹脹滿，小便淋澀。</p>
<p>馬齒菜（洗淨，取汁）</p>
<p>上件，和粳米同煮粥，空腹食之。</p>

<h3>小麥粥</h3>
<p>治消渴，口乾。</p>
<p>小麥（淘淨，不以多少）</p>
<p>右以煮粥，或炊作飯，空腹食之。</p>

<h3>驢頭羹</h3>
<p>治中風頭眩，手足無力，筋骨煩痛，言語蹇澀。</p>
<p>烏驢頭（一枚，撏洗淨）　胡椒（二錢）　草果（二錢）</p>
<p>上件，煮令爛熟，入豆豉汁中，五味調和，空腹食之。</p>

<h3>驢肉湯</h3>
<p>治風狂，憂愁不樂，安心氣。</p>
<p>烏驢肉（不以多少，切）</p>
<p>上件，於豆豉中，爛煮熟，入五味，空心食之。</p>

<h3>狐肉羹</h3>
<p>治驚風，癲癇，神情恍惚，言語錯謬，歌笑無度。</p>
<p>狐肉（不以多少及五臟）</p>
<p>上件，如常法入五味，煮令爛熟，空心食之。</p>

<h3>熊肉羹</h3>
<p>治諸風，腳氣，痹痛不仁，五緩筋急。</p>
<p>熊肉（一斤）</p>
<p>上件，於豆豉中，入五味、蔥、醬，煮熟，空腹食之。</p>

<h3>烏雞酒</h3>
<p>治中風，背強，舌直不得語，目睛不轉，煩熱。</p>
<p>烏雌雞（一隻，撏洗淨，去腸肚）</p>
<p>上件，以酒五升，煮取酒二升，去滓。分作三服，相繼服之。汁盡，無時熬蔥白、生薑粥投之，蓋覆取汁。</p>

<h3>羊肚羹</h3>
<p>治諸中風。</p>
<p>羊肚（一枚，洗淨）　粳米（二合）　蔥白數莖　豉（半合）　蜀椒（去目，閉口者。炒出汗，三十粒）　生薑（二錢半，細切）</p>
<p>右六味拌勻，入羊肚內爛煮熟，五味調和，空心食之。</p>

<h3>葛粉羹</h3>
<p>治中風，心脾風熱，言語蹇澀，精神昏憒，手足不遂。</p>
<p>葛根（半斤，搗，取粉四兩）　荊芥穗（一兩）　豉（三合）</p>
<p>右三味，先以水煮荊芥、豉，六七沸，去滓，取汁，次將葛粉作索麵，於汁中煮熟，空腹食之。</p>

<h3>荊芥粥</h3>
<p>治中風，言語蹇澀，精神昏憒，口面喎斜。</p>
<p>荊芥穗（一兩）　薄荷葉（一兩）　豉（三合）　白粟米（三合）</p>
<p>上件，以水四升，煮取三升，去滓，下米煮粥，空腹食之。</p>

<h3>麻子粥</h3>
<p>治中風，五臟風熱，語言蹇澀，手足不遂，大腸滯澀。</p>
<p>冬麻子（二兩，炒，去皮，研）　白粟米（三合）　薄荷葉（一兩）　荊芥穗（一兩）</p>
<p>上件，水三升，煮薄荷、荊芥，去滓，取汁，入麻子仁同煮粥，空腹食之。</p>

<h3>惡實菜</h3>
<p>即牛蒡子，又名鼠黏子。治中風，燥熱，口乾，手足不遂及皮膚熱瘡。</p>
<p>惡實菜葉（肥嫩者）　酥油</p>
<p>上件，以湯煮惡實葉三五升，取出，以新水淘過，布絞取汁，入五味，酥點食之。</p>

<h3>烏驢皮湯</h3>
<p>治中風，手足不遂，骨節煩疼，心燥，口眼面目喎斜。</p>
<p>烏驢皮（一張，撏洗淨）</p>
<p>上件，蒸熟，細切如條，於豉汁中，入五味，調和勻，煮過，空心食之。</p>

<h3>羊頭膾</h3>
<p>治中風，頭眩，羸瘦，手足無力。</p>
<p>白羊頭（一枚，撏洗淨）</p>
<p>上件，蒸令爛熟，細切，以五味汁調和膾，空腹食之。</p>

<h3>野豬臛</h3>
<p>治久痔野雞病，下血不止，肛門腫滿。</p>
<p>野豬肉（二斤，細切）</p>
<p>上件，煮令爛熟，入五味，空心食之。</p>

<h3>獺肝羹</h3>
<p>治久痔下血不止。</p>
<p>獺肝（一副）</p>
<p>上件，煮熟，入五味，空腹食之。</p>

<h3>鯽魚羹</h3>
<p>治久痔，腸風，大便常有血。</p>
<p>大鯽魚（一頭，新鮮者，洗淨，切作片）　小椒（二錢，為末）　草果（一錢，為末）</p>
<p>上件，用蔥三莖，煮熟，入五味，空腹食之。</p>

<h2>服藥食忌</h2>
<p>但服藥不可多食生芫荽及蒜，雜生菜、諸滑物、肥豬肉、犬肉、油膩物，魚膾腥膻等物。及忌見喪屍、產婦、淹穢之事。又不可食陳臭之物。</p>
<p>有術勿食桃、李、雀肉、胡荽、蒜、青魚等物。有黎蘆勿食猩肉。有巴豆勿食蘆筍及野豬肉。有黃連、桔梗，勿食豬肉。有地黃勿食蕪荑。有半夏、菖蒲，勿食飴糖及羊肉。有細辛勿食生菜。有甘草勿食菘菜、海藻。有牡丹勿食生胡荽。有商陸勿食犬肉。有常山勿食生蔥、生菜。有空青、硃砂，勿食血。凡服藥通忌食血。有茯苓勿食醋。有鱉甲勿食莧菜。有天門冬勿食鯉魚。</p>
<p>凡久服藥通忌：未不服藥，又忌滿日。正、五、九月忌巳日。二、六、十月忌寅日。三、七、十一月忌亥日。四、八、十二月忌申日。</p>

<h2>食物利害</h2>
<p>蓋食物有利害者，可知而避之。</p>
<p>面有𦤡氣，不可食。生料色臭，不可食。漿老而飯餿，不可食。煮肉不變色，不可食。</p>
<p>諸肉非宰殺者，勿食。諸肉臭敗者，不可食。諸腦，不可食。凡祭肉自動者，不可食。豬羊疫死者，不可食。曝肉不幹者，不可食。馬肝、牛肝，皆不可食。兔閤眼，不可食。燒肉，不可用桑柴火。獐、鹿、麋，四月至七月勿食。二月內，勿食兔肉。諸肉脯，忌米中貯之，有毒。魚餒者，不可食。羊肝有孔者，不可食。諸鳥自閉口者，勿食。蟹八月後可食，余月勿食。蝦不可多食，無須及腹下丹，煮之白者，皆不可食。臘月脯臘之屬，或經雨漏所漬、蟲鼠齧殘者，勿食。海味糟藏之屬，或經濕熱變損，日月過久者，勿食。六月、七月，勿食雁。鯉魚頭，不可食，毒在腦中。諸肝青者，不可食。五月勿食鹿，傷神。九月勿食犬肉，傷神。十月勿食熊肉，傷神。不時者，不可食。諸果核未成者，不可食。諸果落地者，不可食。諸果蟲傷者，不可食。桃杏雙仁者，不可食。蓮子不去心，食之成霍亂。甜瓜雙蒂者，不可食。諸瓜沉水者，不可食。蘑菇勿多食，發病。榆仁不可多食，令人瞑。菜著霜者，不可食。櫻桃勿多食，令人發風。蔥不可多食，令人虛。芫荽勿多食，令人多忘。竹筍勿多食，發病。木耳色赤者，不可食。三月勿食蒜，昏人目。二月勿食蓼，發病。九月勿食著霜瓜。四月勿食胡荽，生狐臭。十月勿食椒，傷人心。五月勿食韭，昏人五臟。</p>

<h2>食物相反</h2>
<p>蓋食不欲雜，雜則或有所犯，知者分而避之。</p>
<p>馬肉不可與倉米同食。馬肉不可與蒼耳、姜同食。豬肉不可與牛肉同食。羊肝不可與椒同食，傷心。兔肉不可與姜同食，成霍亂。羊肝不可與豬肉同食。牛肉不可與栗子同食。羊肚不可與小豆、梅子同食，傷人。羊肉不可與魚膾、酪同食。豬肉不可與芫荽同食，爛人腸。馬奶子不可與魚膾同食，生癥瘕。鹿肉不可與鮠魚同食。麋鹿不可與蝦同食。麋肉脂不可與梅、李同食。牛肝不可與鮎魚同食，生風。牛腸不可與犬肉同食。雞肉不可與魚汁同食，生癥瘕。鵪鶉肉不可與豬肉同食，面生黑。鵪鶉肉不可與菌子同食，發痔。野雞不可與蕎麵同食，生蟲。野雞不可與胡桃、蘑菇同食。野雞卵不可與蔥同食，生蟲。雀肉不可與李同食。雞子不可與鱉肉同食。雞子不可與生蔥、蒜同食、損氣。雞肉不可與兔肉同食，令人泄瀉。野雞不可與鯽魚同食。鴨肉不可與鱉肉同食。野雞不可與豬肝同食。鯉魚不可與犬肉同食。野雞不可與鮎魚同食，食之令人生癩疾。鯽魚不可與糖同食。鯽魚不可與豬肉同食。黃魚不可與蕎麵同食。蝦不可與豬肉同食，損精。蝦不可與糖同食。蝦不可與雞肉同食。大豆黃不可與豬肉同食。黍米不可與葵菜同食，發病。小豆不可與鯉魚同食。楊梅不可與生蔥同食。柿、梨不可與蟹同食。李子不可與雞子同食。棗不可與蜜同食。李子、菱角不可與蜜同食。葵菜不可與糖同食。生蔥不可與蜜同食。萵苣不可與酪同食。竹筍不可與糖同食。蓼不可與魚膾同食。莧菜不可與鱉肉同食。韭不可與酒同食。苦苣不可與蜜同食。薤不可與牛肉同食，生癥瘕。芥末不可與兔肉同食，生瘡。</p>

<h2>食物中毒</h2>
<p>諸物品類，有根性本毒者，有無毒而食物成毒者，有雜合相畏、相惡、相反成毒者，人不戒慎而食之，致傷腑臟和乳腸胃之氣，或輕或重，各隨其毒而為害，隨毒而解之。</p>
<p>如飲食後不知記何物毒，心煩滿悶者，急煎苦參汁飲，令吐出。或煮犀角汁飲之，或苦酒、好酒煮飲，皆良。</p>
<p>食菜物中毒，取雞糞燒灰，水調服之。或甘草汁，或煮葛根汁飲之。胡粉水調服亦可。</p>
<p>食瓜過多，腹脹，食鹽即消。食蘑菇、菌子毒，地漿解之。食菱角過多，腹脹滿悶，可暖酒和姜飲之即消。食野山芋毒，土漿解之。食瓠中毒，煮黍穰汁飲之即解。</p>
<p>食諸雜肉毒及馬肝漏脯中毒者，燒豬骨灰調服，或芫荽汁飲之，或生韭汁亦可。食牛、羊肉中毒，煎甘草汁飲之。食馬肉中毒，嚼杏仁即消，或蘆根汁及好酒皆可。食犬肉不消成䐜脹，口乾，杏仁去皮、尖，水煎飲之。</p>
<p>食魚膾過多成蟲瘕，大黃汁、陳皮末，同鹽湯服之。食蟹中毒，飲紫蘇汁，或冬瓜汁，或生藕汁解之。干蒜汁、蘆根汁亦可。食魚中毒，陳皮汁、蘆根及大黃、大豆、朴硝汁皆可。</p>
<p>食鴨子中毒，煮秫米汁解之。食雞子中毒，可飲醇酒，醋解之。</p>
<p>飲酒大醉不解，大豆汁、葛花、椹子、柑子皮汁皆可。</p>
<p>食牛肉中毒，豬脂煉油一兩，每服一匙頭，溫水調下即解。食豬肉中毒，飲大黃汁，或杏仁汁、朴硝汁，皆可解。</p>

<h2>禽獸變異</h2>
<p>禽獸形類，依本體生者，猶分其性質有毒無毒者，況異像變生，豈無毒乎。倘不慎口，致生疾病，是不察矣。</p>
<p>獸岐尾，馬蹄夜目，羊心有孔，肝有青黑，鹿豹文，羊肝有孔，黑雞白首，白馬青蹄，羊獨角，白羊黑頭，黑羊白頭，白鳥黃首，羊六角，白馬黑頭，雞有四距，爆肉不燥，馬生角，牛肝葉孤，蟹有獨螯，魚有眼睫，蝦無須，肉入水動，肉經宿暖，魚無腸、膽、腮，肉落地不沾土，魚目開合及腹下丹。</p>

<h1>卷第三</h1>

<h2>米穀品</h2>

<h3>稻米</h3>
<p>味甘苦，平，無毒。主溫中，令人多熱，大便堅，不可多食。即糯米也。（蘇門者為上，釀酒者多用。）</p>

<h3>粳米</h3>
<p>味甘苦，平，無毒。主益氣，止煩，止泄，和胃氣，長肌肉。即今有數種。（香粳米，匾子米、雪裡白，香子米。）香味尤勝。諸粳米搗碎，取其圓淨者，為圓米，亦作渴米。</p>

<h3>粟米</h3>
<p>味鹹，微寒，無毒。主養腎氣，去脾胃中熱，益氣。陳者良，治胃中熱，消渴，利小便，止痢。唐本草注云：粟類多種，顆粒細如粱米，搗細，取勻淨者為浙米。</p>

<h3>青粱米</h3>
<p>味甘，微寒，無毒。主胃痹，中熱，消渴，止泄痢，益氣補中，輕身延年。</p>

<h3>白粱米</h3>
<p>味甘，微寒，無毒。主除熱，益氣。</p>

<h3>黃粱米</h3>
<p>味甘，平，無毒。主益氣和中，止泄。唐本注云：穗大毛長，穀米俱粗於白粱。</p>

<h3>黍米</h3>
<p>味甘，平，無毒。主益氣補中，多熱，令人煩。</p>
<p>久食昏人五臟，令人好睡，肺病宜食。</p>

<h3>丹黍米</h3>
<p>味苦，微溫，無毒。主咳逆，霍亂，止煩渴，除熱。</p>

<h3>稷米</h3>
<p>味甘，無毒。主益氣，補不足。關西謂之糜子米，亦謂穄米。古者取其香可愛，故以供祭祀。</p>

<h3>河西米</h3>
<p>味甘，無毒。補中益氣。顆粒硬於諸米。出本地。</p>

<h3>綠豆</h3>
<p>味甘寒，無毒。主丹毒，風疹，煩熱，和五臟，行經脈。</p>

<h3>白豆</h3>
<p>味甘，平，無毒。調中，暖腸胃，助經脈。腎病宜食。</p>

<h3>大豆</h3>
<p>味甘，平，無毒。殺鬼氣，止痛，逐水，除胃中熱，下瘀血，解諸藥毒。作豆腐即寒而動氣。</p>

<h3>赤小豆</h3>
<p>味甘酸，平，無毒。主下水，排膿血，去熱腫，止瀉痢，通小便。解小麥毒。</p>

<h3>回回豆子</h3>
<p>味甘，無毒。主消渴。勿與鹽煮食之。出在回回地面，苗似豆，今田野中處處有之。</p>

<h3>青小豆</h3>
<p>味甘寒，無毒。主熱中，消渴。止下痢，去腹脹。產婦無乳汁，爛煮三五升食之，即乳多。</p>

<h3>豌豆</h3>
<p>味甘，平，無毒。調順榮衛，和中益氣。</p>

<h3>匾豆</h3>
<p>味甘，微溫。主和中。葉主霍亂吐下不止。</p>

<h3>小麥</h3>
<p>味甘，微寒，無毒。主除熱，止煩躁，消渴，咽乾，利小便，養肝氣，止痛，唾血。</p>

<h3>大麥</h3>
<p>味鹹，溫、微寒，無毒。主消渴，除熱，益氣，調中，令人多熱，為五穀長。《藥性論》云：能消化宿食，破冷氣。</p>

<h3>蕎麥</h3>
<p>味甘，平寒，無毒。實腸胃，益氣力。久食動風氣，令人頭眩。和豬肉食之，患熱風，脫人鬚眉。</p>

<h3>白芝麻</h3>
<p>味甘、大寒，無毒。治虛勞，滑腸胃，行風氣，通血脈，去頭風，潤肌膚。食後生啖一合。與乳母食之，令子不生病。</p>

<h3>胡麻</h3>
<p>味甘，微寒。除一切痼疾，久服長肌肉，健人。油，利大便，治胞衣不下。《修真秘旨》云神仙服胡麻法：久服面光澤，不飢，三年水火不能害，行及奔馬。</p>

<h3>餳</h3>
<p>味甘，微溫，無毒。補虛乏，止渴，去血，健脾，治嗽。小兒誤吞錢，取一斤，漸漸盡食之即出。</p>

<h3>蜜</h3>
<p>味甘，平、微溫，無毒。主心腹邪氣，諸驚癇，補五臟不足，益中氣，止痛，解毒，明耳目，和百藥，除眾病。</p>

<h3>曲</h3>
<p>味甘，大暖。療藏府中風氣，調中益氣，開胃消食，補虛去冷。陳久者良。</p>

<h3>醋</h3>
<p>味酸，溫，無毒。消癰腫、散水氣，殺邪毒，破血運，除症塊，堅積。醋有數種：酒醋、桃醋、麥醋、葡萄醋、棗醋、米醋為上，入藥用。</p>

<h3>醬</h3>
<p>味鹹酸，冷，無毒。除熱止煩，殺百藥、熱湯火毒，殺一切魚、肉、菜蔬毒，豆醬主治勝麵醬。陳久者尤良。</p>

<h3>豉</h3>
<p>味苦，寒，無毒。主傷寒，頭痛，煩躁，滿悶。</p>

<h3>鹽</h3>
<p>味鹹，溫，無毒。主殺鬼蠱邪，疰毒傷寒，吐胸中痰癖，止心腹卒痛。多食傷肺，令人咳嗽，失顏色。</p>

<h3>酒</h3>
<p>味苦甘辣，大熱，有毒。主行藥勢，殺百邪，通血脈，厚腸胃，潤皮膚，消憂愁，多飲損壽傷神，易人本性。酒有數般，唯醞釀以隨其性。</p>

<h3>虎骨酒</h3>
<p>以酥炙虎骨搗碎，釀酒。治骨節疼痛，風疰冷痹痛。</p>

<h3>枸杞酒</h3>
<p>以甘州枸杞依法釀酒。補虛弱，長肌肉，益精氣，去冷風，壯陽道。</p>

<h3>地黃酒</h3>
<p>以地黃絞汁釀酒。治虛弱，壯筋骨，通血脈，治腹內痛。</p>

<h3>松節酒</h3>
<p>仙方以五月五日採松節，銼碎，煮水釀酒。治冷風虛，骨弱，腳不能履地。</p>

<h3>茯苓酒</h3>
<p>仙方，依法茯苓釀酒。治虛勞，壯筋骨，延年益壽。</p>

<h3>松根酒</h3>
<p>以松樹下撅坑置甕，取松根津液釀酒。治風，壯筋骨。</p>

<h3>羊羔酒</h3>
<p>依法作酒，大補益人。</p>

<h3>五加皮酒</h3>
<p>五加皮浸酒，或依法釀酒。治骨弱不能行走，久服壯筋骨，延年不老。</p>

<h3>膃肭臍酒</h3>
<p>治腎虛弱，壯腰膝，大補益人。</p>

<h3>小黃米酒</h3>
<p>性熱，不宜多飲，昏人五臟，煩熱多睡。</p>

<h3>葡萄酒</h3>
<p>益氣調中，耐飢強志。酒有數等，有西番者，有哈剌火者，有平陽太原者，其味都不及哈剌火者。田地酒最佳。</p>

<h3>阿剌吉酒</h3>
<p>味甘辣，大熱，有大毒。主消冷堅積，去寒氣。用好酒蒸熬，取露成阿剌吉。</p>

<h3>速兒麻酒</h3>
<p>又名撥糟。味微甘辣。主益氣，止渴。多飲令人膨脹、生痰。</p>

<h2>獸品</h2>

<h3>牛肉</h3>
<p>味甘，平，無毒。主消渴，止啘泄，安中益氣，補脾胃。</p>
<p><u>牛髓</u></p>
<p>補中，填精髓。</p>
<p><u>牛酥</u></p>
<p>涼，益心肺，止渴、嗽，潤毛髮，除肺痿，心熱吐血。</p>
<p><u>牛酪</u></p>
<p>味甘酸，寒，無毒。主熱毒，止消渴，除胸中虛熱，身面熱瘡。</p>
<p><u>牛乳腐</u></p>
<p>微寒，潤五臟，利大小便，益十二經脈，微動氣。</p>

<h3>羊肉</h3>
<p>味甘，大熱，無毒。主暖中，頭風，大風，汗出，虛勞，寒冷，補中益氣。　</p>
<p><u>羊頭</u></p>
<p>涼，治骨蒸，腦熱，頭眩，瘦病。</p>
<p><u>羊心</u></p>
<p>主治憂恚，膈氣。</p>
<p><u>羊肝</u></p>
<p>性冷，療肝氣虛熱，目赤暗。</p>
<p><u>羊血</u></p>
<p>主治女人中風、血虛，產後血暈，悶欲絕者，生飲一升。</p>
<p><u>羊五臟</u></p>
<p>補人五臟。</p>
<p><u>羊腎</u></p>
<p>補腎虛，益精髓。</p>
<p><u>羊骨</u></p>
<p>熱，治虛勞，寒中，羸瘦。</p>
<p><u>羊髓</u></p>
<p>味甘，溫。主治男女傷中，陰氣不足，利血脈，益經氣。</p>
<p><u>羊腦</u></p>
<p>不可多食。</p>
<p><u>羊酪</u></p>
<p>治消渴，補虛乏。</p>

<h3>黃羊</h3>
<p>味甘，溫，無毒。補中益氣，治勞傷虛寒。其種類數等成群，至於千數。</p>
<p><u>白黃羊</u></p>
<p>生於野草內。</p>
<p><u>黑尾黃羊</u></p>
<p>生於沙漠中。能走善臥，行走不成群。其腦不可食，髓骨可食，能補益人。煮湯無味。</p>

<h3>山羊</h3>
<p>味甘，平，無毒。補益人，生山谷中。</p>

<h3>𦍩𦎐</h3>
<p>味甘，平，無毒。補五勞七傷，溫中益氣。其肉稍腥。</p>

<h3>馬肉</h3>
<p>味辛苦，冷，有小毒。主熱，下氣，長筋骨，強腰膝，壯健輕身。</p>
<p><u>馬頭骨</u></p>
<p>作枕令人少睡。</p>
<p><u>馬肝</u></p>
<p>不可食。</p>
<p><u>馬蹄</u></p>
<p>白者治婦人漏下，白崩；赤者治婦人赤崩。</p>
<p><u>白馬莖</u></p>
<p>味鹹甘，無毒。主傷中，脈絕，強志，益氣，長肌肉，令人有子，能壯盛陰氣。</p>
<p><u>馬心</u></p>
<p>主喜忘。馬肉內有生黑墨汁者，有毒，不可食。白馬多有之。</p>
<p><u>馬乳</u></p>
<p>性冷，味甘。止渴，治熱。有三等，（一名升堅，一名晃禾兒，一名窗兀。）以升堅為上。</p>

<h3>野馬肉</h3>
<p>味甘，平，有毒。壯筋骨。與家馬肉頗相似，其肉落地不沾沙，然不宜多食。</p>

<h3>象肉</h3>
<p>味淡。不堪食，多食令人體重。胸前小橫骨，令人能浮水。身有百獸肉，皆有分段，惟鼻是本肉。</p>
<p><u>象牙</u></p>
<p>無毒。主諸鐵及雜物入肉，刮取屑，細研和水傅瘡上即出。</p>

<h3>駝肉</h3>
<p>治諸風，下氣，壯筋骨，潤皮膚，療一切頑麻風痹，肌膚緊急，惡瘡腫毒。</p>
<p><u>駝脂</u></p>
<p>在兩峰內，有積聚者，酒服之良。</p>
<p><u>駝乳</u></p>
<p>（系愛剌。）</p>
<p>性溫，味甘。補中益氣，壯筋骨，令人不飢。</p>

<h3>野駝</h3>
<p>味甘，溫平，無毒。治諸風，下氣，壯筋骨，潤皮膚。</p>
<p><u>駝峰</u></p>
<p>治虛勞風。有冷積者，用葡萄酒溫調峰子油，服之良。好酒亦可。</p>

<h3>熊肉</h3>
<p>味甘，無毒。主風痹，筋骨不仁。若腹中有積聚，寒熱羸瘦者，不可食之，終身不除。</p>
<p><u>熊白</u></p>
<p>涼，無毒。治風補虛損，殺勞蟲。</p>
<p><u>熊掌</u></p>
<p>食之可御風寒。此是八珍之數，古人最重之。十月勿食之，損神。</p>

<h3>驢肉</h3>
<p>味甘，寒，無毒。治風狂憂愁不樂，安心氣，解心煩。</p>
<p><u>頭肉</u></p>
<p>治多年消渴，煮食之良。烏驢者，尤佳。</p>
<p><u>脂</u></p>
<p>和烏梅作丸，治久瘧。</p>

<h3>野驢</h3>
<p>性味同。比家驢鬃尾長，骨骼大。食之能治風眩。</p>

<h3>麋肉</h3>
<p>味甘，溫，無毒。益氣補中，治腰腳無力。不可與野雞肉及蝦、生菜、梅、李果實同食，令人病。</p>
<p><u>麋脂</u></p>
<p>味辛，溫，無毒。主癰腫惡瘡，風痹，四肢拘緩。通血脈，潤澤皮膚。</p>
<p><u>麋皮</u></p>
<p>作靴能除腳氣。</p>

<h3>鹿肉</h3>
<p>味甘，溫，無毒。補中，強五臟，益氣。</p>
<p><u>鹿髓</u></p>
<p>甘，溫。主男女傷中，絕脈，筋急，咳逆，以酒服之。</p>
<p><u>鹿頭</u></p>
<p>主消渴，夜夢見物。</p>
<p><u>鹿蹄</u></p>
<p>主腳膝疼痛。</p>
<p><u>鹿腎</u></p>
<p>主溫中，補腎，安五臟，壯陽氣。</p>
<p><u>鹿茸</u></p>
<p>味甘，微溫，無毒。主漏下惡血，寒熱驚癇，益氣強志，補虛羸，壯筋骨。</p>
<p><u>鹿角</u></p>
<p>微咸，無毒。主惡瘡癰腫，逐邪氣，除小腹血急痛，腰脊痛及留血在陰中。</p>

<h3>獐肉</h3>
<p>溫。主補益五臟。《日華子》云：肉無毒。八月至臘月食之，勝羊肉；十二月以後至七月食之，動氣。道家多食，言無禁忌也。</p>

<h3>犬肉</h3>
<p>味鹹，溫，無毒。安五臟，補絕傷，益陽道，補血脈，厚腸胃，實下焦，填精髓。黃色犬肉尤佳。不與蒜同食，必頓損人。九月不宜食之，令人損神。</p>
<p><u>犬四腳蹄</u></p>
<p>煮飲之，下乳汁。</p>

<h3>豬肉</h3>
<p>味苦，無毒。主閉血脈，弱筋骨，虛肥人。不可久食，動風。患金瘡者，尤甚。</p>
<p><u>豬肚</u></p>
<p>主補中益氣，止渴。</p>
<p><u>豬腎</u></p>
<p>冷。和理腎氣，通利膀胱。</p>
<p><u>豬四蹄</u></p>
<p>小寒。主傷撻諸敗瘡，下乳。</p>

<h3>野豬肉</h3>
<p>味苦，無毒。主補肌膚，令人虛肥。雌者肉更美，冬月食。橡子肉色赤，補人五臟，治腸風瀉血，其肉味勝家豬。</p>

<h3>江豬</h3>
<p>味甘，平，無毒。然不宜多食，動風氣，令人體重。</p>

<h3>獺肉</h3>
<p>味鹹，平，無毒。治水氣脹滿。療瘟疫病，諸熱毒風，咳嗽勞損。不可與兔同食。</p>
<p><u>獺肝</u></p>
<p>甘，有毒。治腸風下血及主疰病相染。</p>
<p><u>獺皮</u></p>
<p>飾領袖則塵垢不著。如風沙翳目，以袖拭之即出。又魚刺鯁喉中不出者，取獺爪爬項下即出。</p>

<h3>虎肉</h3>
<p>味鹹酸，平，無毒。主噁心欲嘔，益氣力。食之入山，虎見則畏，闢三十六種魅。</p>
<p><u>虎眼睛</u></p>
<p>主瘧疾，辟惡，止小兒熱驚。</p>
<p><u>虎骨</u></p>
<p>主除邪惡氣，殺鬼疰毒，止驚悸。主惡瘡鼠瘻，頭骨尤良。</p>

<h3>豹肉</h3>
<p>味酸，平，無毒。安五臟，補絕傷，壯筋骨，強志氣。久食令人猛健忘，性粗疏，耐寒暑。正月勿食之，傷神。唐本注云：車駕鹵簿用豹尾，取其威重為可貴也。</p>
<p><u>土豹腦子</u></p>
<p>可治腰疼。</p>

<h3>狍子</h3>
<p>味甘，平，無毒。補益人。</p>

<h3>麂肉</h3>
<p>味甘，平，無毒。主五痔，多食能動人痼疾。</p>

<h3>麝肉</h3>
<p>無毒，性溫。似獐肉而腥，食之不畏蛇毒。</p>

<h3>狐肉</h3>
<p>溫，有小毒。《日華子》云：性暖，補虛勞，治惡瘡疥。</p>

<h3>犀牛肉</h3>
<p>味甘，溫，無毒。主諸獸蛇蟲蠱毒，闢瘴氣，食之入山不迷其路。</p>
<p><u>犀角</u></p>
<p>味苦鹹，微寒，無毒。主百毒蠱疰，邪鬼瘴氣，殺鉤吻、鴆羽、蛇毒。療傷寒、瘟疫。犀有數等：山犀、通天犀、闢塵犀、水犀、鎮帷犀。</p>

<h3>狼肉</h3>
<p>味鹹，性熱，無毒。主補益五臟，厚腸胃，填精髓。腹有冷積者，宜食之。味勝狐、犬肉。</p>
<p><u>狼喉嗉皮</u></p>
<p>熟成皮條，勒頭去頭痛。</p>
<p><u>狼皮</u></p>
<p>熟作番皮，大暖。</p>
<p><u>狼尾</u></p>
<p>馬胸堂前帶之，辟邪，令馬不驚。</p>
<p><u>狼牙</u></p>
<p>帶之辟邪。</p>

<h3>兔肉</h3>
<p>味辛，平，無毒。補中益氣。不宜多食，損陽事，絕血脈，令人痿黃。不可與薑、橘同食，令人患卒心痛。妊娠不可食，令子缺唇。二月不可食，傷神。</p>
<p><u>兔肝</u></p>
<p>主明目。</p>
<p><u>臘月兔頭及皮毛</u></p>
<p>燒灰，酒調服之，治難產，胞衣不出，余血不下。</p>

<h3>塔剌不花</h3>
<p>一名土撥鼠。</p>
<p>味甘，無毒。主野雞瘻瘡，煮食之宜人。生山後草澤中。北人掘取以食，雖肥，煮則無油，湯無味。多食難克化，微動氣。</p>
<p><u>皮</u></p>
<p>作番皮，不濕透，甚暖。</p>
<p><u>頭骨</u></p>
<p>去下頦肉，令齒全，治小兒無睡，懸之頭邊，即令得睡。</p>

<h3>獾肉</h3>
<p>味甘，平，無毒。治上氣咳逆，水脹不差，作羹食良。</p>

<h3>野貍</h3>
<p>味甘，平，無毒。主治鼠瘻，惡瘡，頭骨尤良。</p>

<h3>黃鼠</h3>
<p>味甘，平，無毒。多食發瘡。</p>

<h3>猴肉</h3>
<p>味酸，無毒。主治諸風，勞疾。釀酒尤佳。</p>

<h2>禽品</h2>

<h3>天鵝</h3>
<p>味甘，性熱，無毒。主補中益氣。鵝有三、四等，金頭鵝為上，小金頭鵝為次。有花鵝者，有一等鵝不能鳴者，飛則翎響，其肉微腥，皆不及金頭鵝。</p>

<h3>鵝</h3>
<p>味甘，平，無毒。利五臟，主消渴。孟詵云：肉性冷，不可多食，亦發痼疾。《日華子》云：蒼鵝性冷有毒，食之發瘡。白鵝無毒，解五臟熱，止渴。脂潤皮膚，主治耳聾。鵝彈補五臟，益氣。有痼疾者，不宜多食。</p>

<h3>雁</h3>
<p>味甘，平，無毒。主風攣拘急，偏枯，氣不通利，益氣，壯筋骨，補勞瘦。</p>
<p><u>雁骨灰</u></p>
<p>和米泔洗頭，長髮。</p>
<p><u>雁膏</u></p>
<p>治耳聾，亦能長髮。</p>
<p><u>雁脂</u></p>
<p>補虛羸，令人肥白。六月、七月勿食雁，令人傷神。</p>

<h3>䳄䳓</h3>
<p>味甘，溫，無毒。補中益氣，食之甚有益人，炙食之味尤美。然有數等，白䳄䳓、黑頭䳄䳓、胡䳄䳓，其肉皆不同。</p>
<p><u>髓</u></p>
<p>味甘美，補精髓。</p>

<h3>水札</h3>
<p>味甘，平，無毒。補中益氣。宜炙食之，甚美。</p>

<h3>丹雄雞</h3>
<p>味甘，平，微溫，無毒。主婦人崩中漏下赤白，補虛，溫中，止血。</p>
<p><u>白雄雞</u></p>
<p>味酸，無毒。主下氣，療狂邪，補中，安五臟，治消渴。</p>
<p><u>烏雄雞</u></p>
<p>味甘酸，無毒。主補中，止痛，除心腹惡氣。虛弱者，宜食之。</p>
<p><u>烏雌雞</u></p>
<p>味甘，溫，無毒。主風寒濕痹，五緩六急，中惡，腹痛及傷折骨疼，安胎血，療乳難。</p>
<p><u>黃雌雞</u></p>
<p>味酸，平，無毒。主傷中，消渴，小便數，不禁，腸澼，泄痢，補五臟。先患骨熱者，不可食。</p>
<p><u>雞子</u></p>
<p>益氣，多食令人有聲。主產後痢，與小兒食之止痢。《日華子》云：雞子，鎮心，安五臟。其白微寒，療目赤熱痛，除心下伏熱，止煩滿、咳逆。</p>

<h3>野雞</h3>
<p>味甘酸，微寒，有小毒。主補中益氣，止泄痢。久食令人瘦。九月至十一月食之，稍有益，他月即發五痔及諸瘡，亦不可與胡桃及菌子、木耳同食。</p>

<h3>山雞</h3>
<p>味甘，溫，有小毒。主五臟氣喘不得息者，如食法服之。然久食能發五痔，與蕎麥麵同食生蟲。今遼陽有食雞，味甚肥美；有角雞，味尤勝諸雞肉。</p>

<h3>鴨肉</h3>
<p>味甘，冷，無毒。補內虛，消毒熱，利水道及治小兒熱驚癇。</p>
<p><u>野鴨</u></p>
<p>味甘，微寒，無毒。補中益氣，消食，和胃氣，治水腫。綠頭者為上，尖尾者為次。</p>

<h3>鴛鴦</h3>
<p>味鹹，平，有小毒。主治瘻瘡。若夫婦不和者，作羹私與食之，即相愛。</p>

<h3>鸂鶒</h3>
<p>味甘，平，無毒。治驚邪。</p>

<h3>鵓鴿</h3>
<p>味鹹，平，無毒。調精益氣，解諸毒藥。</p>

<h3>鳩肉</h3>
<p>味甘，平，無毒。安五藏，益氣明目，療癰腫，排膿血。</p>

<h3>鴇肉</h3>
<p>味甘，平，無毒。補益人。其肉粗味美。</p>

<h3>寒鴉</h3>
<p>味酸鹹，平，無毒。主瘦病，止咳嗽，骨蒸羸弱者。</p>

<h3>鵪鶉</h3>
<p>味甘，溫平，無毒。益氣，補五臟，實筋骨，耐寒暑，消結熱，酥煎食之，令人肥下焦。四月以前未可食。</p>

<h3>雀肉</h3>
<p>味甘，無毒，性熱。壯陽道，令人有子。冬月者良。</p>

<h3>蒿雀</h3>
<p>味甘，溫，無毒。食之益陽道，美於諸雀。</p>

<h2>魚品</h2>

<h3>鯉魚</h3>
<p>味甘，寒，有毒。主咳逆上氣，黃疸，止渴，安胎。治水腫，腳氣。天行病後不可食，有宿瘕者不可食。</p>

<h3>鯽魚</h3>
<p>味甘，溫平，無毒。調中，益五臟。和蓴菜作羹食良，患腸風，痔瘻下血宜食之。</p>

<h3>魴魚</h3>
<p>甘，溫平，無毒。補益與鯽魚同功。若作膾食，助脾胃。不可與疳痢人食。</p>

<h3>白魚</h3>
<p>味甘，平，無毒。開胃下食，去水氣。久食發病。</p>

<h3>黃魚</h3>
<p>味甘，有毒。發風動氣，不可與蕎麵同食。</p>

<h3>青魚</h3>
<p>味甘，平，無毒。南人作鮓。不可與芫荽、麵醬同食。</p>

<h3>鮎魚</h3>
<p>味甘，寒，有毒。勿多食，目赤、須赤者，不可食。</p>

<h3>沙魚</h3>
<p>味甘鹹，無毒。主心氣鬼疰、蠱毒、吐血。</p>

<h3>鱔魚</h3>
<p>味甘，平，無毒。主濕痹。天行病後，不可食。</p>

<h3>鮑魚</h3>
<p>味腥臭，無毒。主墜蹶踠折瘀血，痹在四肢不散者，及治婦人崩血不止。</p>

<h3>河㹠魚</h3>
<p>味甘，溫。主補虛，去濕氣，治腰、腳、痔等疾。</p>

<h3>石首魚</h3>
<p>味甘，無毒。開胃益氣。干而味鹹者，名為鱟。</p>

<h3>阿八兒忽魚</h3>
<p>味甘，平，無毒。利五臟，肥美人，多食難克化，脂黃肉粗，無鱗，骨止有脆骨。胞可作膘膠，甚黏。膘與酒化服之，消破傷風。其魚大者有一二丈長，一名鱘魚，又名鱣魚。生遼陽東北海河中。</p>

<h3>乞里麻魚</h3>
<p>味甘，平，無毒。利五臟，肥美人。脂黃肉稍粗。脆亦作膘。其魚大者，有五六尺長，生遼陽東北海河中。</p>

<h3>鱉肉</h3>
<p>味甘，平，無毒。下氣，除骨節間勞熱結實壅塞。</p>

<h3>蟹</h3>
<p>味鹹，有毒。主胸中邪熱結痛，通胃氣，調經脈。</p>

<h3>蝦</h3>
<p>味甘，有毒。多食損人。無須者，不可食。</p>

<h3>螺</h3>
<p>味甘，大寒，無毒。治肝氣熱，止渴，解酒毒。</p>

<h3>蛤蜊</h3>
<p>味甘，大寒，無毒。潤五臟，止渴，平胃，解酒毒。</p>

<h3>蝟</h3>
<p>味苦，平，無毒。理胃氣，實下焦。</p>

<h3>蚌</h3>
<p>冷，無毒。明目，止消渴，除煩，解熱毒。</p>

<h3>鱸魚</h3>
<p>平。補五臟，益筋骨，和腸胃，治水氣，食之宜人。</p>

<h2>果品</h2>

<h3>桃</h3>
<p>味辛甘，無毒。利肺氣，止咳逆上氣，消心下堅積，除卒暴擊血，破癥瘕，通月水，止痛。桃仁止心痛。</p>

<h3>梨</h3>
<p>味甘，寒，無毒。主熱嗽，止渴，疏風，利小便，多食寒中。</p>

<h3>柿</h3>
<p>味甘，寒，無毒。通耳鼻氣，補虛勞，腸澼不足，厚脾胃。</p>

<h3>木瓜</h3>
<p>味酸，溫，無毒。主濕痹邪氣，霍亂吐下，轉筋不止。</p>

<h3>梅實</h3>
<p>味酸，平，無毒。主下氣，除煩熱，安心，止痢，住渴。</p>

<h3>李子</h3>
<p>味苦，平，無毒。主僵仆，瘀血，骨痛，除痼熱，調中。</p>

<h3>奈子</h3>
<p>味苦，寒。多食令人腹脹，病人不可食。</p>

<h3>石榴</h3>
<p>味甘酸，無毒。主咽渴，不可多食，損人肺，止漏精。</p>

<h3>林檎</h3>
<p>味甘酸，溫。不可多食，發熱，澀氣，令人好睡。</p>

<h3>杏</h3>
<p>味酸。不可多食，傷筋骨。杏仁有毒，主咳逆上氣。</p>

<h3>柑子</h3>
<p>味甘，寒。去腸胃熱，利小便，止渴。多食發痼疾。</p>

<h3>橘子</h3>
<p>味甘酸，溫，無毒。止嘔，下氣，利水道，去胸中瘕熱。</p>

<h3>橙子</h3>
<p>味甘酸，無毒。去噁心。多食傷肝氣。皮甚香美。</p>

<h3>慄</h3>
<p>味鹹，溫，無毒。主益氣，厚腸胃，補腎虛，炒食，壅人氣。</p>

<h3>棗</h3>
<p>味甘，無毒。主心腹邪氣，安中養脾，助經脈，生津液。</p>

<h3>櫻桃</h3>
<p>味甘，主調中，益脾氣，令人好顏色。暗風人忌食。</p>

<h3>葡萄</h3>
<p>味甘，無毒。主筋骨濕痹，益氣強志，令人肥健。</p>

<h3>胡桃</h3>
<p>味甘，無毒。食之令人肥健，潤肌黑髮，多食動風。</p>

<h3>松子</h3>
<p>味甘，溫，無毒。治諸風頭眩，散水氣，潤五臟，延年。</p>

<h3>蓮子</h3>
<p>味甘，平，無毒。補中養神，益氣，除百疾，輕身不老。</p>

<h3>雞頭</h3>
<p>味甘，平，無毒。主濕痹，腰膝痛，補中，除疾，益精氣。</p>

<h3>芰實</h3>
<p>味甘，平，無毒。主安中，補五臟，輕身不飢。</p>

<h3>荔枝</h3>
<p>味甘，平，無毒。止渴生津，益人顏色。</p>

<h3>龍眼</h3>
<p>味甘，平，無毒。主五臟邪氣，安志，厭食，除蟲，去毒。</p>

<h3>銀杏</h3>
<p>味甘苦，無毒。炒食煮食皆可，生食發病。</p>

<h3>橄欖</h3>
<p>味酸甘，溫，無毒。主消酒，開胃，下氣，止渴。</p>

<h3>楊梅</h3>
<p>味酸甘，溫，無毒。主祛痰，止嘔，消食，下酒。</p>

<h3>榛子</h3>
<p>味甘，平，無毒。益氣力，寬腸胃，健行，令人不飢。</p>

<h3>榧子</h3>
<p>味甘，無毒。主五痔，去三蟲，蠱毒鬼疰。</p>

<h3>沙糖</h3>
<p>味甘，寒，無毒。主心腹熱脹，止渴，明目。（即甘蔗汁熬成沙糖。）</p>

<h3>甜瓜</h3>
<p>味甘，寒，有毒。止渴，除煩熱。多食發冷病，破腹。</p>

<h3>西瓜</h3>
<p>味甘，平，無毒。主消渴，治心煩，解酒毒。</p>

<h3>酸棗</h3>
<p>味酸甘，平，無毒。主心腹寒熱，邪結氣聚，除煩。</p>

<h3>海紅</h3>
<p>味酸甘，平，無毒。治泄痢。</p>

<h3>香圓</h3>
<p>味酸甘，平，無毒。下氣，開胸膈。</p>

<h3>株子</h3>
<p>味酸甘，平，無毒，性微寒，不可多食。</p>

<h3>平波</h3>
<p>味甘，無毒。止渴生津。置衣服篋笥中，香氣可愛。</p>

<h3>八檐仁</h3>
<p>味甘，無毒。止咳下氣，消心腹逆悶。（其果出回回田地。）</p>

<h3>必思答</h3>
<p>味甘，無毒。調中順氣。（其果出回回田也。）</p>

<h2>菜品</h2>

<h3>葵菜</h3>
<p>味甘，寒平，無毒。為百菜主。治五臟六府寒熱，羸瘦，五癃，利小便，療婦人乳難。</p>

<h3>蔓菁</h3>
<p>味苦，溫，無毒。主利五臟，輕身，益氣。蔓菁子明目。</p>

<h3>芫荽</h3>
<p>味辛，溫，微毒。消穀，補五藏不足，通利小便。（一名胡荽。）</p>

<h3>芥</h3>
<p>味辛，溫，無毒。主除腎邪氣，利九竅，明目，安中。</p>

<h3>蔥</h3>
<p>味辛，溫，無毒。主明目，補不足，治傷寒發汗，去腫。</p>

<h3>蒜</h3>
<p>味辛，溫，有毒。主散癰腫，除風邪，殺毒氣。獨顆者佳。</p>

<h3>韭</h3>
<p>味辛，溫，無毒。安五臟，除胃熱，下氣，補虛。可以久食。</p>

<h3>冬瓜</h3>
<p>味甘，平、微寒，無毒。主益氣，悅澤駐顏，令人不飢。</p>

<h3>黃瓜</h3>
<p>味甘，平寒，有毒。動氣發病，令人虛熱。不可多食。</p>

<h3>蘿蔔</h3>
<p>味甘，溫，無毒。主下氣消穀，去痰癖，治渴，制面毒。</p>

<h3>胡蘿蔔</h3>
<p>味甘，平，無毒。主下氣，調利腸胃。</p>

<h3>天淨菜</h3>
<p>味苦，平，無毒。除面目黃，強志清神，利五臟，（即野苦買。）</p>

<h3>瓠</h3>
<p>味苦，寒，有毒。主面目四肢浮腫，下水。多食令人吐。</p>

<h3>菜瓜</h3>
<p>味甘，寒，有毒。利腸胃，止煩渴。不可多食。（即稍瓜。）</p>

<h3>葫蘆</h3>
<p>味甘，平，無毒。主消水腫，益氣。</p>

<h3>蘑菇</h3>
<p>味甘，寒，有毒。動氣發病。不可多食。</p>

<h3>菌子</h3>
<p>味苦，寒，有毒。發五臟風壅經脈，動痔病，令人昏悶。</p>

<h3>木耳</h3>
<p>味苦，寒，有毒。利五臟，宣腸胃壅毒氣。不可多食。</p>

<h3>竹筍</h3>
<p>味甘，無毒。主消渴，利水道，益氣。多食發病。</p>

<h3>蒲筍</h3>
<p>味甘，無毒。補中益氣，治血脈。</p>

<h3>藕</h3>
<p>味甘，平，無毒。主補中，養神，益氣，除百疾，消熱渴，散血。</p>

<h3>山藥</h3>
<p>味甘，溫，無毒。補中益氣，治風眩，止腰痛，壯筋骨。</p>

<h3>芋</h3>
<p>味辛，平，有毒。寬腸胃，充肌膚，滑中。野芋不可食。</p>

<h3>萵苣</h3>
<p>味苦，冷，無毒。主利五臟，開胸膈壅氣，通血脈。</p>

<h3>白菜</h3>
<p>味甘，溫，無毒。主通行腸胃，除胸中煩，解酒渴。</p>

<h3>蓬蒿</h3>
<p>味甘，平，無毒。主通利腸胃，安心氣，消水飲。</p>

<h3>茄子</h3>
<p>味甘寒，有小毒。動風，發瘡及痼疾。不可多食。</p>

<h3>莧</h3>
<p>味苦，寒，無毒。通九竅。莧子，益精。菜，不可與鱉同食。</p>

<h3>芸臺</h3>
<p>味辛，溫，無毒。主風熱，丹毒，乳癰。</p>

<h3>波薐</h3>
<p>味甘，冷，微毒。利五藏，通腸胃熱，解酒毒。（即赤根。）</p>

<h3>莙薘</h3>
<p>味甘，寒，無毒。調中下氣，去頭風，利五藏。</p>

<h3>香菜</h3>
<p>味辛，平，無毒。與諸菜同食，氣味香，闢腥。</p>

<h3>蓼子</h3>
<p>味辛，溫，無毒。主明目，溫中，耐風寒，下水氣。</p>

<h3>馬齒</h3>
<p>味酸，寒，無毒。主青盲白翳，去寒熱，殺諸蟲。</p>

<h3>天花</h3>
<p>味甘，平，有毒。與蘑菇稍相似，未詳其性。（生五臺山。）</p>

<h3>回回蔥</h3>
<p>味辛，溫，無毒。溫中，消穀，下氣，殺蟲。久食發病。</p>

<h3>甘露子</h3>
<p>味甘，平，無毒。利五藏，下氣，清神。（名滴露。）</p>

<h3>榆仁</h3>
<p>味辛，溫，無毒。可作醬，甚香美。能助肺氣，殺諸蟲。</p>

<h3>沙吉木兒</h3>
<p>味甘，平，無毒。溫中，益氣，去心腹冷痛。（即蔓菁根。）</p>

<h3>出莙薘兒</h3>
<p>味甘，平，無毒。通經脈，下氣，開胸膈。（即莙薘根也。）</p>

<h3>山丹根</h3>
<p>味甘，平，無毒。主邪氣腹脹，除諸瘡腫。（一名百合。）</p>

<h3>海菜</h3>
<p>味鹹，寒，微腥，無毒。主癭瘤，破氣核、癰腫。勿多食。</p>

<h3>蕨菜</h3>
<p>味苦，寒，有毒。動氣發病，不可多食。</p>

<h3>薇菜</h3>
<p>味甘，平，無毒。益氣，潤肌，清神，強志。</p>

<h3>苦買菜</h3>
<p>味苦，冷，無毒。治面目黃，強力，止困，可敷諸瘡。</p>

<h3>水芹</h3>
<p>味甘，平，無毒。主養神益氣，令人肥健，殺藥毒，療女人赤沃。</p>

<h2>料物性味</h2>

<h3>胡椒</h3>
<p>味辛，溫，無毒。主下氣，除藏府風冷，去痰，殺肉毒。</p>

<h3>小椒</h3>
<p>味辛，熱，有毒。主邪氣咳逆，溫中，下冷氣，除濕痹。</p>

<h3>良薑</h3>
<p>味辛，溫，無毒。主胃中冷逆，霍亂，腹痛，解酒毒。</p>

<h3>茴香</h3>
<p>味甘，溫，無毒。主膀胱、腎經冷氣，調中止痛，住嘔。</p>

<h3>蒔蘿</h3>
<p>味辛，溫，無毒。健脾開胃，溫中，補水藏，殺魚、肉毒。</p>

<h3>陳皮</h3>
<p>味甘，平，無毒。止消渴，開胃氣，下痰，破冷積。</p>

<h3>草果</h3>
<p>味辛，溫，無毒。治心腹痛，止嘔，補胃，下氣，消酒毒。</p>

<h3>桂</h3>
<p>味甘辛，大熱，有毒。治心腹寒熱，冷痰，利肝肺氣。</p>

<h3>薑黃</h3>
<p>味辛苦，寒，無毒。主心腹結積，下氣破血，除風熱。</p>

<h3>蓽撥</h3>
<p>辛，溫，無毒。溫中下氣，補腰腳痛，消食，除胃冷。</p>

<h3>縮砂</h3>
<p>味辛，溫，無毒。主虛勞冷瀉，宿食不消，下氣。</p>

<h3>蓽澄茄</h3>
<p>味辛，溫，無毒。消食下氣，去心腹脹，令人能食。</p>

<h3>甘草</h3>
<p>味甘，平，無毒。和百藥，解諸毒。</p>

<h3>芫荽子</h3>
<p>辛，溫，無毒。消食，治五藏不足，殺魚、肉毒。</p>

<h3>乾薑</h3>
<p>味辛，溫熱，無毒。主胸膈咳逆，止腹痛，霍亂，脹滿。</p>

<h3>生薑</h3>
<p>味辛，微溫。主傷寒頭痛，咳逆上氣，止嘔，清神。</p>

<h3>五味子</h3>
<p>味酸，溫，無毒。益氣，補精，溫中，潤肺、養藏強陰。</p>

<h3>苦豆</h3>
<p>味苦，溫，無毒。主元藏虛冷，腹脅脹滿，治膀胱疾。</p>

<h3>紅曲</h3>
<p>味甘，平，無毒。健脾，益氣，溫中。醃魚、肉內用。</p>

<h3>黑子兒</h3>
<p>味甘，平，無毒。開胃下氣。燒餅內用，極香美。</p>

<h3>馬思答吉</h3>
<p>味苦香，無毒。去邪惡氣，溫中利膈，順氣止痛，生津解渴，令人口香。（生回回地面，云是極香種類。）</p>

<h3>咱夫蘭</h3>
<p>味甘，平，無毒。主心憂鬱積，氣悶不散，久食令人心喜。（即是回回地面紅花，未詳是否。）</p>

<h3>哈昔呢</h3>
<p>味辛，溫，無毒。主殺諸蟲，去臭氣，破癥瘕，下惡除邪，解蠱毒。（即阿魏。）</p>

<h3>穩展</h3>
<p>味辛，溫苦，無毒。主殺蟲去臭。其味與阿魏同。又云，即阿魏樹根，醃羊肉香味甚美。</p>

<h3>胭脂</h3>
<p>味辛，溫，無毒。主產後血運，心腹絞痛，可敷遊腫。</p>

<h3>梔子</h3>
<p>味苦，寒，無毒。主五內邪氣，療目赤熱，利小便。</p>

<h3>蒲黃</h3>
<p>味甘，平，無毒。治心腹寒熱，利小便，止血疾。</p>

<h3>回回青</h3>
<p>味甘，寒，無毒。解諸藥毒。可敷熱毒瘡腫。</p>

<h1>跋</h1>
<p>《飲膳正要》三卷，元忽思慧撰。前有天曆三年常普蘭奚進書表，虞集奉敕序，蓋元代飲膳太醫官書也。明景泰間重刻於內府。此本《皕宋樓藏書志》作元刊元印，余向見常熟瞿氏鐵琴銅劍樓藏本，同出一刻而楮印較遜。有景泰年序，知此為明本而非元本，特佚去景泰一序耳。其書詳於育嬰，妊娠、飲膳衛生、食性宜忌。諸端雖未合於醫學真理，然可考見元人之俗尚。舊時民間傳本極稀，近世藏目以鈔本為多，究不若此刊本之可信。余求之有年，十七年冬始覯之於東京靜嘉文庫，因得借印流傳，償余夙昔之願焉。</p>
<p><u>民國紀元十有九年十月鹽海張元濟</u></p>
<p>景泰一序，原書已佚，初版未獲印入，殊為缺憾，嗣從瞿氏借得，今當重印，因以冠諸卷端，讀者鑑之。元濟再識。</p>
