<header data-type="book">
<h1>醫宗金鑑·幼科心法要訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="吳謙">吳謙</data>等</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1742">公元1742年</data></dd></div>
<div><dt>底本</dt><dd>《御纂醫宗金鑑》，光緒十八年（1892）上海五彩書局石印本（<a href="https://repository.lib.cuhk.edu.hk/tc/item/cuhk-997363">香港中文大學圖書館掃描本</a>），卷五十至卷五十五；《欽定四庫全書·子部五·醫家類·御纂醫宗金鑑》卷五十至卷五十五（<a href="https://www.kanripo.org/ed/KR3e0090/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>四診總括</h1>
<p>兒科自古最為難，毫釐之差千里愆，氣血未充難據脈，神識未發不知言。惟憑面色識因病，再向三關診熱寒，聽聲審病兼切脈，表裡虛實隨證參。</p>

<h2>察色</h2>
<p>欲識小兒百病原，先從面部色詳觀，五部五色應五臟，誠中形外理昭然。額心頦腎鼻脾位，右腮屬肺左屬肝，青肝赤心黃脾色，白為肺色黑腎顏。青主驚風赤火熱，黃傷脾食白虛寒，黑色主痛多惡候，明顯濁晦輕重參。部色相生為病順，部色相剋病多難，相生實者邪助病，相剋虛者正難堪。天庭青暗驚風至，紅主內熱黑難痊，太陽青驚入耳惡，印堂青色驚瀉纏。風氣青驚紫吐逆，兩眉青吉紅熱煩，鼻赤脾熱黑則死，唇赤脾熱白脾寒。左腮赤色肝經熱，右腮發赤肺熱痰，承漿青驚黃嘔吐，黑主抽搐病纏綿。此是察色之大要，還將脈證一同參。</p>
<figure>
<img data-orig-src="urn:270:03529.jpg" alt="面部圖">
</figure>
<figure>
<img data-orig-src="urn:270:03530.jpg" alt="面部五臟部位圖">
</figure>

<h2>聽聲</h2>
<p>診兒之法聽五聲，聆音察理始能明，五聲相應五臟病，五聲不和五臟情。心病聲急多言笑，肺病聲悲音不清，肝病聲呼多狂叫，脾病聲歌音顫輕，腎病聲呻長且細，五音昭著證分明。啼而不哭知腹痛，哭而不啼將作驚，嗞煎不安心煩熱，嗄聲聲重感寒風。有餘聲雄多壯厲，不足聲短怯而輕，多言體熱陽腑證，懶語身冷陰臟形。狂言焦躁邪熱盛，譫語神昏病熱凶，鴨聲在喉音不出，直聲無淚命將傾。虛實寒熱從聲別，聞而知之無遁情。</p>

<h2>審病</h2>
<p>審兒之病貴詳參，要在安煩苦欲間，能食不食渴不渴，二便調和通秘勘。發熱無汗為表病，內熱便硬作里看，安煩晝夜陰陽證，苦欲冷暖定熱寒。能食不食胃壯弱，渴與不渴胃濕干，便稠黏穢為滯熱，尿清不赤乃寒占。耳尻肢涼知痘疹，指梢發冷主驚癇，肚腹熱悶乃內熱，四肢厥冷是中寒。眉皺曲啼腹作痛，風熱來臨耳熱纏，腹痛須按軟與硬，喜按不喜虛實參。欲保赤子誠心辨，對證施方治不難。</p>

<h2>切脈</h2>
<p>小兒周歲當切脈，位小一指定三關，浮脈輕取皮膚得，沉脈重取筋骨間。一息六至平和脈，過則為數減遲傳，滑脈如珠多流利，澀脈滯澀往來艱。三部無力為虛脈，三部有力作實言，中取無力為芤脈，微脈微細有無間。洪脈來盛去無力，數緩時止促結占，緊脈左右如轉索，弦則端直張弓弦。浮為在表外感病，沉為在裡內傷端，數為在腑屬陽熱，遲為在臟乃陰寒。滑痰洪火微怯弱，弦飲結聚促驚癇，芤主失血澀血少，沉緊腹痛浮感寒。虛主諸虛不足病，實主諸實有餘看，痘疹欲發脈洪緊，大小不勻中惡勘。一息三至虛寒極，九至十至熱極炎，一二十一十二死，浮散無根沉伏難。表裡陰陽虛實診，惟在兒科隨證參。</p>

<h2>虎口三關部位脈紋形色</h2>
<p>初生小兒診虎口，男從左手女右看，次指三節風氣命，脈紋形色隱隱安。形見色變知有病，紫屬內熱紅傷寒，黃主脾病黑中惡，青主驚風白是疳。風關病輕氣關重，命關若見命多難。大小曲紫傷滯熱，曲青人驚走獸占，赤色水火飛禽撲，黃色雷驚黑陰癇。長珠傷食流珠熱，去蛇吐瀉來蛇疳，弓里感冒外痰熱，左斜傷風右斜寒，針形槍形主痰熱，射指射甲命難全，紋見乙字為抽搐，二曲如鉤傷冷傳，三曲如蟲傷硬物，水紋咳嗽吐瀉環，積滯曲蟲驚魚骨，形如亂蟲有蛔纏。脈紋形色相參合，醫者留神仔細觀。</p>
<figure>
<img data-orig-src="urn:270:03531.jpg" alt="虎口三關部位脈紋圖">
</figure>
<p><u>風關次指第一節，氣關次指第二節，命關次指第三節，虎口叉手處也。男先看左手次指內側，女先看右手次指內側</u></p>
<figure>
<img data-orig-src="urn:270:03533.jpg" alt="長珠形圖　流珠形圖">
</figure>
<figure>
<img data-orig-src="urn:270:03532.jpg" alt="去蛇形圖　來蛇形圖">
</figure>
<figure>
<img data-orig-src="urn:270:03535.jpg" alt="弓反里形圖　弓反外形圖">
</figure>
<figure>
<img data-orig-src="urn:270:03534.jpg" alt="紋斜向左形圖　紋斜向右形圖">
</figure>
<figure>
<img data-orig-src="urn:270:03537.jpg" alt="針形圖　槍形圖">
</figure>
<figure>
<img data-orig-src="urn:270:03536.jpg" alt="透關射指形圖　透關射甲形圖">
</figure>
<figure>
<img data-orig-src="urn:270:03539.jpg" alt="乙字形圖　二曲如鉤形圖">
</figure>
<figure>
<img data-orig-src="urn:270:03538.jpg" alt="三曲如蟲形圖　水字形圖">
</figure>
<figure>
<img data-orig-src="urn:270:03541.jpg" alt="環形圖　曲蟲形圖">
</figure>
<figure>
<img data-orig-src="urn:270:03540.jpg" alt="魚骨形圖　亂蟲形圖">
</figure>

<h1>初生門上</h1>

<h2>拭口</h2>
<p><u>（附下胎毒法）</u></p>
<p>拭口須用胭脂法，穢淨方無口病生，古云未啼先取穢，只緣未察此中情。</p>

<h3>甘草法</h3>
<p>甘草之法自古稱，能解諸毒性味平，濃煎頻令兒吮服，免使胎毒蘊腹中。</p>

<h3>黃連法</h3>
<p>素稟胎熱蘊於中，惟有黃連法最靈,水浸濃汁滴口內，臍糞胎毒自此清。</p>

<h3>朱蜜法</h3>
<p>朱蜜鎮神利腸胃，清熱防驚大有功，胎熱便秘皆堪用，稟賦怯弱慎而行。</p>

<h3>豆豉法</h3>
<p>怯弱之兒豆豉法，宣發胎毒功最良，兒生冬月亦宜此，煎取濃汁當乳嘗。</p>

<h2>斷臍</h2>
<p>臍帶剪下即用烙，男女六寸始合宜，烙臍　（方1）　灸法防風襲，胡粉　（方2）　封臍為避濕。</p>
<p>〔附方〕</p>
<p>1.烙臍餅子：豆豉　黃蠟（等分）　麝香（少許）</p>
<p>以豆豉、麝香研勻，熔蠟，量臍大小捻為餅，灸用。</p>
<p>2.胡粉散：胡粉　甑帶灰　乾薑　白石脂　棉灰（各等分）　麝香（少許）</p>
<p>共為細未，每用一錢，敷臍上封之。</p>

<h2>浴兒</h2>
<p>浴兒之法五枝湯，冬夏寒溫適可當，加豬膽汁去汙穢，且滋肌膚免生瘡。</p>

<h2>不啼</h2>
<p>小兒生下不能啼，俗語名之為草迷，多因臨產難生育，或值嚴寒氣所逼。氣閉不通聲不出，奄奄呼吸命須臾，氣閉不通蔥鞭背，寒逼急用火熏臍。</p>

<h3>鞭背法</h3>
<p>小兒初生氣不通，奄奄呼吸少啼聲，用蔥鞭背輕輕擊，須臾聲發可回生。</p>

<h3>熏臍帶法</h3>
<p>小兒生下或冒寒，氣閉無聲啼則難，油捻熏臍休剪帶，暖氣入腹自通安。</p>

<h2>不乳</h2>
<p>兒生能乳本天然，若不吮兮必有緣，腹中穢惡未下淨，或在胎中素稟寒。穢惡不淨一捻　（方1）　效，胎寒不乳勻氣　（方2）　先，若更面青肢冷厥，此是寒虛理中　（方3）　煎。</p>
<p>〔附方〕</p>
<p>1.一捻金：大黃（生）　黑醜　白醜　人參　檳榔（各等分）</p>
<p>上為細末，每少許蜜水調服。</p>
<p>2.勻氣散：陳皮　桔梗（各一錢）　炮姜　砂仁　炙甘草（各五分）　木香（三分）</p>
<p>共為細末，每服五分，紅棗煎湯調服。</p>
<p>3.理中湯：人參　白朮（土炒）　乾薑　甘草（炙）</p>
<p>引用紅棗肉，水煎服。</p>
<p>方歌　理中人參並乾薑，白朮甘草共為湯，胎寒諸疾皆當服，不乳肢冷更堪嘗。</p>

<h2>眼不開</h2>
<p>兒生眼閉不能開，皆因脾熱受於胎，內用地黃湯　（方1）　最妙，熊膽　（方2）　洗目效靈哉。</p>
<p>〔附方〕</p>
<p>1.生地黃湯：生地黃　赤芍藥　川芎　當歸　天花粉　甘草（生）</p>
<p>水煎服</p>
<p>方歌　目閉不開胎熱成，生地黃湯赤芍芎，當歸花粉生地草，水煎速服莫消停。</p>
<p>2.熊膽洗法：熊膽　黃連（各少許）</p>
<p>用滾湯淬洗，其目自開。（藥物煅紅投水中叫淬）</p>

<h2>吐不止</h2>
<p>兒吐不止何因生，穢惡停留胃內成，或緣稟賦胎寒熱，或因生時感寒風。穢惡一捻金方1）　散下，外感香蘇方2）　溫散能，熱涎酸黏連陳方3）　治，寒吐清沫用理中方4）　。</p>
<p>〔附方〕</p>
<p>1.一捻金</p>
<p>2.香蘇飲：藿香　蘇葉　厚朴（姜炒）　陳皮　茯苓　木香（煨）　枳殼（麩炒）　炙甘草</p>
<p>引用生薑，水煎服。</p>
<p>方歌　香蘇飲用藿香蘇，厚朴陳皮枳殼茯，甘草木香一併入，生薑為引吐能除。</p>
<p>3.黃連二陳湯：半夏（薑製）　陳皮　茯苓　生甘草　黃連</p>
<p>引用生薑，水煎服。</p>
<p>方歌　兒生胎熱吐頻頻，醫治須當用二陳，半夏陳皮茯苓草，姜連加入效如神。</p>
<p>4.理中湯</p>

<h2>不小便</h2>
<p>小便不通胎熱壅，異赤方1）　八正方2）　二方從，外用豆豉方3）　貼臍法，須臾小便自能通。</p>
<p>〔附方〕</p>
<p>1.導赤散：生地黃　木通　甘草（生）</p>
<p>引用燈心、竹葉水煎服，加黃連、滑石、赤苓更妙。</p>
<p>方歌　方名導赤妙難言，生地木通甘草煎，引用燈心共竹葉，清熱利水便如泉。</p>
<p>2.八正散：扁蓄　瞿麥　滑石（飛）　木通　赤苓　車前子　生大黃　梔子（生）</p>
<p>引用燈心水煎服。</p>
<p>方歌　八正散治小便秘，扁蓄瞿麥車前利，木通滑石赤茯苓，大黃梔子合成劑。</p>
<p>3.豆豉膏：淡豆豉（一勺）　田螺（十九個）　蔥（一大束）</p>
<p>搗爛，用芭蕉汁，調貼臍上。</p>

<h2>不大便</h2>
<p>大便不通名鎖肚，皆緣熱毒受胎中，朱蜜方1）　捻金方2）　俱可用，急咂五心臍下通。</p>
<p>〔附方〕</p>
<p>1.朱蜜法</p>
<p>2.一捻金</p>

<h2>大小便不通</h2>
<p>二便俱秘胎熱極，木通散方1）　與紫霜丸方2）　行熱開結真神妙，口嘬之法悉如前。</p>
<p>〔附方〕</p>
<p>1.木通散：車前子　扁蓄　瞿麥　木通　赤苓　山梔　滑石（飛）　黃芩　生甘草　大黃</p>
<p>引用燈心水煎服，或入薄荷同煎。</p>
<p>方歌　二便閉兮如何醫，木通散用甚為奇，車蓄瞿通苓梔子，滑芩甘草大黃宜。</p>
<p>2.紫霜丸：代赭石（火煨醋浸三、五次，研，一兩）　赤石脂（一兩）　杏仁（炒，去皮尖，六十粒）　巴豆（去油膜，三十粒）</p>
<p>上研細末，飯糊如麻子大，日服三丸，白水下。</p>

<h2>肛門內合</h2>
<p>有因熱毒肛門結，或是內合無隙通，清毒宜服黑白散方1）　，脂瞞簪通導法精。</p>
<p>〔附方〕</p>
<p>1.黑白散：黑牽牛（半生半炒）　白牽牛（半生半炒）　生大黃　檳榔　陳皮（各五錢）　生甘草（三錢）　元明粉（一錢）</p>
<p>上除檳榔不過火，餘五味或曬或焙，仍合檳榔為末，同元明粉入乳缽內研細，每服五分至六、七分，溫蜜湯化服。</p>

<h2>噤口</h2>
<p>噤口舌上如黍米，吮乳不得啼漸難，清肝龍膽湯方1）　極妙，腹硬便秘紫霜丸方2）　，吐涎牙緊擦牙方3）　效，次用辰砂全蠍煎方4）　，病勢稍安勿過劑，調和脾胃勻氣方5）　先。</p>
<p>〔附方〕</p>
<p>1.龍膽湯：柴胡　黃芩　生甘草　釣藤鉤　赤芍　大黃（紙裹煨）　龍膽草　蜣螂（去翅足）　桔梗　赤茯苓</p>
<p>引用棗肉，水煎服。</p>
<p>方歌　噤口龍膽湯極靈，柴胡黃芩草鉤藤，赤芍大黃龍膽草，蜣螂桔梗赤茯苓。</p>
<p>2.紫霜丸</p>
<p>3.秘方擦牙散：生南星（去皮臍，二錢）　龍腦（少許）</p>
<p>研為極細末，用指蘸，合生薑汁放大牙根擦之立效。如不開者，將應用之藥調和稀糊，含在不病人口內，以筆管插入病人之鼻孔，用氣將藥吹入。</p>
<p>4.辰砂全蠍散：辰砂（水飛，五分）　全蠍（去毒，三枚）　硼砂　龍腦　麝香（各一分）</p>
<p>上為極細末，用乳母唾調抹口唇里及齒上。</p>
<p>5.勻氣散</p>

<h2>撮口</h2>
<p>撮如囊口吮乳難，舌強唇青吐沫痰，面色赤黃胎熱極，四肢厥冷命難全。痰盛宜用殭蠶散方1）　，便秘須進紫霜丸方2）　，驚熱龍膽湯方3）　極妙，抽搐撮風散方4）　自安。</p>
<p>〔附方〕</p>
<p>1.辰砂殭蠶散：辰砂（水飛，五分）　殭蠶（直的去系嘴炒，一錢）　蛇蛻皮（炒，一錢）　麝香（五分）</p>
<p>上為末，用蜜調敷唇口。</p>
<p>2.紫霜丸</p>
<p>3.龍膽湯</p>
<p>4.撮風散：赤腳蜈蚣（炙，半條）　釣藤鉤（一錢五分）　硃砂（水飛）　直殭蠶（焙）　全蠍尾（各一錢）　麝香（一字）</p>
<p>上為末，每服一字，竹瀝調下。</p>

<h2>臍濕臍瘡</h2>
<p>浴兒不慎水浸臍，或因繃袍濕漬之，臍間淋漓多痛癢，甚則焮腫作瘡痍，臍濕必用滲臍散方1）　，瘡腫金黃散方2）　最宜，治療之法須如此，臨證施之不可疑。</p>
<p>〔附方〕</p>
<p>1.滲臍散：枯礬　龍骨（煅，各二錢）　麝香（少許）</p>
<p>研細末，干撒臍中。</p>
<p>2.金黃散：川黃連（二錢半）　胡粉　龍骨（煅，各一錢）</p>
<p>上為末敷患處。</p>

<h2>臍突</h2>
<p>嬰兒蘊熱在腹中，伸引頻頻臥不寧，努脹其氣衝臍本，虛大光浮臍突成。速服犀角消毒飲方1）二豆方2）　能消腫赤攻，最忌寒涼敷臍上，冰凝毒熱反成凶。</p>
<p>〔附方〕</p>
<p>1.犀角消毒飲：牛蒡子（炒研）　生甘草　荊芥　防風　金銀花</p>
<p>水煎熟，臨服入犀角細末調勻服。</p>
<p>方歌　犀角消毒牛蒡加，甘草荊防金銀花，細研犀角調勻服，臍突能消功最佳。</p>
<p>2.二豆散：赤小豆（不去皮）　豆豉　天南星（去皮臍）　白蘞（各一錢）</p>
<p>上為細末，用五分芭蕉汁調敷臍四旁，日二次。</p>

<h2>臍風</h2>
<p>斷臍不慎起臍風，感受風寒濕水成，將成驅風散方1）　最效，已成兼證要分明，腹脹便秘黑白散方　2）　，面白肢寒用理中方3）　，痰涎壅盛殭蠶散方4）　，壯熱面赤龍膽方5）　清，嘔吐多啼益脾方6）　治，唇青撮口撮風方7）　平，臍青口噤為不治，一臘逢之命必傾。</p>
<p>〔附方〕</p>
<p>1.驅風散：蘇葉　防風　陳皮　厚朴（姜炒）　枳殼（麩炒）　木香（煨）　殭蠶（炒）　釣藤鉤　生甘草</p>
<p>引用生薑，水煎服。</p>
<p>方歌　臍風將作用驅風，蘇防陳樸枳香從，殭蠶鉤藤與甘草，生薑加入更通靈。</p>
<p>2.黑白散</p>
<p>3.理中湯</p>
<p>4.辰砂殭蠶散</p>
<p>5.龍膽湯</p>
<p>6.益脾散：白茯苓　人參　草果（煨）　木香（煨）　炙甘草　陳皮　厚朴（姜炒）　紫蘇子（炒，各等分）</p>
<p>上為末，每服一錢，薑棗湯調服。</p>
<p>7.撮風散</p>

<h2>天釣</h2>
<p>天釣邪熱積心胸，痰涎壅盛氣不通，瘛瘲壯熱同驚證，頭目仰視若釣形。九龍控涎方1）　醫搐掣，牛黃　散方2）　用善驅風，瘛瘲減參鉤藤飲方3）　，爪甲青色蘇合方4）　精。</p>
<p>〔附方〕</p>
<p>1.九龍控涎散：赤腳蜈蚣（酒塗炙乾，一條）　滴乳　天竺黃（各一錢，二味研勻）　臘茶　雄黃　炙甘草（各二兩）　荊芥穗（炒）　白礬（枯，各一錢）　綠豆（半生半熟，一百粒）</p>
<p>上為末，每服五分，人參薄荷湯調下。</p>
<p>2.牛黃散：牛黃（細研，一錢）　硃砂（水飛細研，一錢）　麝香（五分）　天竺黃（二錢）　蠍梢（一錢）　釣藤鉤（二錢）</p>
<p>研勻，每服一字，新汲水調下。</p>
<p>3.鉤藤飲：人參　全竭（去毒）　羚羊角　天麻　甘草（炙）　釣藤鉤</p>
<p>水煎服。</p>
<p>方歌　天釣須用鉤藤飲，瘛瘲連連無止歇，人參羚羊與鉤藤，炙草天麻共全蠍。</p>
<p>4.蘇合香丸</p>

<h2>內釣</h2>
<p>內釣肝臟病受寒，糞青潮搐似驚癇，傴僂腹痛吐涎沫，紅絲血點目中纏。瘛瘲甚者鉤藤飲方1）　，急啼腹　痛木香丸方2）　，肢冷甲青唇口黑，養臟方3）　溫中或保全。</p>
<p>〔附方〕</p>
<p>1.鉤藤飲</p>
<p>2.木香丸：沒藥　木香（煨）　茴香（炒）　釣藤鉤　全蠍　乳香（各等分）</p>
<p>先將乳香沒藥研勻，後入諸藥末和畢，取大蒜少許研細，和丸如桐子大，曬乾，每次二丸，鉤藤湯下。</p>
<p>3.養臟散：當歸　沉香　木香（煨）　肉桂　川芎（各半兩）　丁香（二錢）</p>
<p>上為末，每服一錢，淡薑湯調服。</p>

<h2>盤腸氣痛</h2>
<p>盤腸寒搏腸中痛，曲腰不乳蹙雙眉，定痛溫中豆蔻散方1）　，熨臍外治方2）　法堪垂。</p>
<p>〔附方〕</p>
<p>1.白豆蔻散：白豆蔻　砂仁　青皮（醋炒）　陳皮　炙甘草　香附米（制）　蓬莪朮（各等分）</p>
<p>上為末，各服一錢，紫蘇煎湯調下。</p>
<p>2.熨臍法：淡豆豉　生薑（切碎，各二錢）　蔥白（五莖）　食鹽（一兩）</p>
<p>同炒熱，置臍上熨之。</p>

<h1>初生門下</h1>
<p><u>（原書卷次第五十一）</u></p>

<h2>目爛</h2>
<p>兒生兩目痛難睜，胞邊赤爛胎熱攻，內用地黃湯方1）　清熱，外點真金方2）　目即明。</p>
<p>〔附方〕</p>
<p>1.生地黃湯</p>
<p>2.真金散：黃連（生）　黃柏（生）　當歸　赤芍藥（各一錢）　杏仁（炒，去皮尖，五分）</p>
<p>上銼散，乳汁浸一宿，曬乾，為極細末，用生地黃汁調一字，頻頻點眼即愈。</p>

<h2>懸癰</h2>
<p>齶上腫起號懸癰，皆因胎毒熱上衝，法當刺破鹽湯拭，如聖方1）　一字方2）　摻之靈。</p>
<p>〔附方〕</p>
<p>1.如聖散：鉛霜（一錢）　真牛黃（一錢）　太陰元精石　硃砂（水飛，各二錢五分）　龍腦（五分）</p>
<p>上為極細末，每用一字摻患處。</p>
<p>2.一字散：硃砂（水飛）　硼砂（各五分）　龍腦　朴硝（各一分）</p>
<p>上為極細末，用蜜調少許，鵝翎蘸搽口內。</p>

<h2>重齦</h2>
<p>重齦胎熱胃中蓄，牙根腫脹痛難禁，刺破一字散方1）　敷上，繼進清胃方2）　效如神。</p>
<p>〔附方〕</p>
<p>1.一字散</p>
<p>2.清胃散：生地　丹皮　黃連　當歸　升麻　石膏（煅）</p>
<p>引用燈心，水煎服。</p>
<p>方歌　清胃散洽胃熱熏，生地黃連當歸身，丹皮升麻石膏煅，臨煎須要入燈心。</p>

<h2>鵝口</h2>
<p>鵝口白屑滿舌口，心脾蘊熱本胎原，清熱瀉脾方1）　搽保命方2）　，少遲糜爛治難痊。</p>
<p>〔附方〕</p>
<p>1.清熱瀉脾散：山梔（炒）　石膏（煅）　黃連（姜炒）　生地　黃芩　赤苓</p>
<p>引用燈心水煎服</p>
<p>方歌　清熱瀉脾治鵝口，石膏生地赤苓煎，芩連梔子合成劑，加入燈心病即安。</p>
<p>2.保命散：白礬（燒灰）　硃砂（水飛，各二錢五分）　馬牙硝（五錢）</p>
<p>上研末，以清水攪取汁，塗舌與口角上。</p>

<h2>吐舌</h2>
<p>吐長收緩名吐舌，皆是心經有熱成，面紅煩渴溺赤澀，瀉心導赤方1）　服即寧。</p>
<p>〔附方〕</p>
<p>1.瀉心導赤湯：木通　生地　黃連　甘草（生）</p>
<p>引用燈心，水煎服</p>
<p>方歌　瀉心導赤湯最良，心熱吐舌即堪嘗，木通生地黃連草，燈心加入服自強。</p>

<h2>弄舌</h2>
<p>弄舌時時口內搖，心脾熱發口唇焦，煩熱舌乾大便穢，瀉黃方1）　導赤方2）　並能療。</p>
<p>〔附方〕</p>
<p>1.瀉黃散：藿香葉　山梔子（炒）　石膏（煅）　防風　甘草（生）</p>
<p>引加燈心水煎服</p>
<p>方歌　弄舌瀉黃散最神，藿香葉配山梔仁，甘草防風石膏煅，臨時煎服入燈心。</p>
<p>2.瀉心導赤湯</p>

<h2>重舌</h2>
<p>舌下腫突似舌形，心脾積熱上攻衝，內服宜以清熱飲方1）　，外敷涼心方2）　功最靈。</p>
<p>〔附方〕</p>
<p>1.清熱飲：黃連（生）　生地　木通　甘草（生）　連翹（去心）　蓮子</p>
<p>引用淡竹葉水煎，時時灌入口中</p>
<p>方歌　清熱飲內用黃連，生地蓮子木通甘，連翹更加淡竹葉，一同煎服自然安。</p>
<p>2.涼心散：青黛　硼砂　黃柏　黃連（人乳拌曬）　人中白（煅過，各二錢）　風化硝（一錢）　冰片（二分）</p>
<p>上為極細末，吹之甚效。</p>

<h2>木舌</h2>
<p>木舌心脾積熱成，腫脹木硬證多凶，外用川硝方1）　敷舌上，內服瀉心導赤方2）　靈。</p>
<p>〔附方〕</p>
<p>1.川硝散：朴硝（五分）　真紫雪（二分）　鹽（一分）</p>
<p>上為細末，以竹瀝調敷舌上。</p>
<p>2.瀉心導赤湯</p>

<h2>哯乳</h2>
<p>哯乳之候非一端，傷乳停痰胃熱寒，熱宜和中清熱飲方1）　，寒用溫中止吐方2）　煎，傷乳平胃散（方3）　最妙，停痰二陳湯方4）　可痊，若是滿而自溢者，常須節乳自能安。</p>
<p>〔附方〕</p>
<p>1.和中清熱飲：黃連（姜炒）　半夏（薑製）　陳皮　茯苓　藿香　砂仁</p>
<p>引用姜水煎服。</p>
<p>方歌　和中清熱飲黃連，半夏陳皮茯苓攢，藿香砂仁合成劑，水煎徐服可安全。</p>
<p>2.溫中止吐湯：白豆蔻（研）　茯苓　半夏（薑製）　生薑</p>
<p>水煎，沖磨沉香汁服。</p>
<p>方歌　溫中止吐白豆蔻，茯苓半夏共生薑，臨服沉香汁加入，專治哯乳自寒傷。</p>
<p>3.平胃散：蒼朮（炒）　陳皮　厚朴（姜炒）　甘草（炙）　麥芽（炒）　砂仁（研）</p>
<p>引用姜水煎服。</p>
<p>方歌　小兒傷乳多吐哯，平胃調中功可見，蒼陳厚朴甘草偕，加入麥砂姜一片。</p>
<p>4.枳桔二陳湯：枳殼（麩炒）　桔梗　陳皮　半夏（薑製）　茯苓　甘草（炙）</p>
<p>引用姜水煎服。</p>
<p>方歌　停痰哯乳不能安，枳桔二陳湯最先，枳桔陳半苓甘草，生薑加入即時痊。</p>

<h2>夜啼</h2>
<p>夜啼寒熱因胎受，須將形色辨分明，寒屬脾經面青白，手腹俱冷曲腰疼，面赤溺閉屬心熱。熱用導赤方1）寒鉤藤方2）　，若無寒熱表裡證，古法蟬花散方3）　最精。</p>
<p>〔附方〕</p>
<p>1.導赤散</p>
<p>2.鉤藤飲：川芎　白當歸　茯神　白芍（炒）　茯苓　甘草（炙）　木香（煨）　釣藤鉤</p>
<p>引用紅棗水煎服。</p>
<p>方歌　夜啼之證因脾寒，須服鉤藤飲可痊，芎歸神芍苓甘草，木香鉤藤紅棗煎。</p>
<p>3.蟬花散：蟬蛻（下半截，不拘多少）</p>
<p>上研細末，每服少許，薄荷煎湯調下。</p>

<h2>胎黃</h2>
<p>兒生遍體黃如金，濕熱熏蒸胎受深，法當滲濕兼清熱，地黃方1）　犀角方2）　二方神。</p>
<p>〔附方〕</p>
<p>1.生地黃湯：生地黃　赤芍藥　川芎　當歸　天花粉　赤茯苓　澤瀉　豬苓　生甘草　茵陳蒿</p>
<p>引用燈心，水煎，食前服。</p>
<p>方歌　胎黃鬚用地黃湯，四物花粉赤苓良，澤瀉豬苓甘草等，茵陳加入水煎嘗。</p>
<p>2.犀角散：犀角（鎊）　茵陳蒿　栝蔞根　升麻　甘草（生）　龍膽草　生地黃　寒水石（煅）</p>
<p>水煎，不拘時服。</p>
<p>〔方歌〕胎黃又有犀角散，甘草犀角與茵陳，升麻膽草生地共，寒水石同栝蔞根。</p>

<h2>胎赤</h2>
<p>胎赤胎中受毒熱，生後遍體若丹塗，清熱解毒湯方1）　極妙，蔣氏化毒方2）　功效殊。</p>
<p>〔附方〕</p>
<p>1.清熱解毒湯：生地黃　黃連　金銀花　薄荷葉　連翹（去心）　赤芍　木通　甘草（生）</p>
<p>引用燈心，水煎服。</p>
<p>方歌　清熱解毒湯堪誇，生地黃連金銀花，薄荷連翹赤芍藥，木通甘草燈心加。</p>
<p>2.蔣氏化毒丹：犀角　黃連　桔梗　元參　薄荷葉　甘草（生）　大黃（生，各一兩）　青黛（五錢）</p>
<p>上為細末，煉白蜜為丸，重六分，每服一丸，燈心湯化服。</p>

<h2>赤遊風</h2>
<p>赤遊胎中毒熱成，皮膚赤腫遍身行，頭面四肢猶可治，若歸心腹命難生。內服犀角方1）　藍葉散方2）　，外用砭法方3）　敷神功方4）　，百日之內忌砭血，貼塗二法方5）　可安寧。</p>
<p>〔附方〕</p>
<p>1.犀角解毒飲：牛蒡子（炒）　犀角　荊芥穗　防風　連翹（去心）　金銀花　赤芍藥　生甘草　川黃連　生地黃</p>
<p>引用燈心，水煎服。</p>
<p>方歌　犀角解毒藥最良，牛蒡犀角合荊防，連翹銀花赤芍藥，甘草川連生地黃。</p>
<p>2.藍葉散：藍葉（五錢）　黃芩　犀角屑　川大黃（銼，微炒）　柴胡　梔子（生，各二錢）　川升麻（一錢）　石膏（一錢）　生甘草（一錢）</p>
<p>上為粗末，每服一錢，水一小盞，煎五分，去渣，兌竹瀝一酒杯，煎三兩沸，放溫，量兒大小用之，氣怯弱者，可去大黃。</p>
<p>3.砭血法：口吮毒血各聚一處，用細瓷器擊碎，取鋒芒者，將箸頭（即筷子）劈開夾住，用線縛定，兩指輕撮箸梢，令瓷芒對聚血處，再用箸一根頻擊，刺出毒血。砭後毒甚者，以神功散敷之；毒輕者，砭後不可用，恐皮膚既破，草烏能作痛也。如患在頭者，不用砭法，只宜臥針倒挑患處，出毒血則愈。</p>
<p>4.神功散：黃柏（炒）　草烏（生）</p>
<p>上各為末，等分，用漱口水調敷（按：以不用為佳），頻以漱口水潤之。</p>
<p>5.豬肉貼法：用生豬肉切片，貼於赤腫處，數數更換。</p>
<p>塗法：生赤小豆不拘多少，研為細末，用雞子清調塗患處，干則再塗。</p>

<h2>初生無皮</h2>
<p>兒生無皮有二端，父母梅毒遺染傳，或因未足月生早，無皮赤爛痛難堪。梅毒換肌消毒散方1）　，胎怯當歸飲方2）　能痊，外敷清涼方3）　鵝黃方4）　粉方5）　，毒解形完膚自堅。</p>
<p>〔附方〕</p>
<p>1.換肌消毒散：當歸　生地黃　赤芍藥　川芎　皂刺　土茯苓　金銀花　連翹（去心）　甘草（生）　白芷　苦參　白蘚皮　防風</p>
<p>引用燈心，水煎服。</p>
<p>方歌　無皮換肌消毒治，四物皂刺土茯苓，銀花連翹草白芷，苦參白蘚共防風。</p>
<p>2.當歸飲：何首烏（制）　白蘚皮　白蒺藜　甘草　當歸　生地黃　白芍藥　人參　黃耆　川芎</p>
<p>水煎服。</p>
<p>方歌　當歸飲治兒無皮，面白肢冷服最宜，首烏蘚皮白蒺藜，甘草四物共參耆。</p>
<p>3.清涼膏：石灰（未經水濕成塊者，四兩。）</p>
<p>用水泡之，沒指半許，露一宿，面上有浮起如雲片者，輕輕取之，微帶清水，視其多寡，對小磨香油亦如之，以順攪成膏為度，用雞翎搽之自愈。</p>
<p>4.鵝黃散：黃柏（生）　石膏（煅，各等分。）</p>
<p>共研為細末撲之，濕則干撲，干則用豬苦膽調搽。</p>
<p>5.撲粉法：早稻白米作粉，時時撲之，其皮漸生。</p>

<h2>變蒸</h2>
<p>萬物春生夏熱長，兒生同此變形神，三十二日為一變，六十四日曰一蒸。變長百骸生臟腑，蒸增智慧發聰明，十八五百七十六，變蒸既畢形神成，變蒸之狀身微熱，耳尻骨冷無病情。</p>

<h1>驚風門</h1>

<h2>驚風總括</h2>
<p>心主驚兮肝主風，心熱肝風作急驚，素虛藥峻因成慢，吐瀉後起慢脾風。急驚陽證有實象，慢脾陰證有虛形，慢驚半陰半陽證，虛實寒熱要詳明。</p>

<h2>驚風八候</h2>
<p>驚風八候搐搦掣，顫反引竄視之名，肘臂伸縮名為搐，十指開合搦狀成，勢若相撲謂之掣，顫則頭肢動搖鈴，反張身仰頭向後，引狀兩手若開弓，竄則目直常似怒，視則睹物不轉睛，內外左右分順逆，須識急慢證皆同。</p>

<h2>通關急救法</h2>
<p>驚風搐搦神昏憒，痰壅氣塞在心胸，急用通關方1）　吹入鼻，無嚏則死有嚏生。</p>
<p>〔附方〕</p>
<p>1.通關散：半夏（生）　皂角　細辛　薄荷（各等分）</p>
<p>共為細末，用筆管吹入鼻內少許。</p>

<h2>急驚風</h2>
<p>急驚觸異心驚熱，或由風鬱火生風，暴發痰盛或熱極，壯熱煩急面唇紅，痰壅氣促牙關噤，二便秘澀脈數洪，驚用鎮驚方1、2）　風至寶方3），　牛黃方4）　攻痰涼膈方5）　清，平治羌活方6）　瀉青方7）　等，化痰方8）　導赤方9）　共涼驚方10）　。</p>
<p>〔附方〕</p>
<p>1.清熱鎮驚湯：柴胡　薄荷　麥冬（去心）　梔子　龍膽草　川黃連　茯神　釣藤鉤　甘草（生）　木通</p>
<p>引用燈心、竹葉，調硃砂末服。</p>
<p>方歌　清熱鎮驚治外驚，柴胡薄荷麥門冬，梔子黃連龍膽草，茯神鉤藤草木通。</p>
<p>2.安神鎮驚丸：天竺黃　茯神（各五錢）　膽星　棗仁（炒）　麥冬（去心）　赤芍　當歸（各三錢）　薄荷葉　黃連　辰砂　牛黃　梔子　木通　龍骨（煅，各三錢）　青黛（一錢）</p>
<p>上為細末，煉蜜丸如綠豆大，赤金鉑為衣，量兒大小與之，淡薑湯化下。</p>
<p>3.至寶丹：麻黃　防風　荊芥　薄荷　當歸　赤芍　大黃　芒硝　川芎　黃芩　桔梗　連翹（去心）　白朮（土炒）　梔子　石膏（煅）　甘草（生）　滑石　全蠍（去毒）　細辛　天麻　白附子　羌活　殭蠶（炒）　川連　獨活　黃柏（各等分）</p>
<p>上共為細末，煉蜜為丸，每丸重五分，量兒大小與之，薑湯化下。</p>
<p>4.牛黃丸：黑牽牛　白牽牛（各七錢半）　膽星　枳實（麩炒）　半夏（薑製，各五錢）　牙皂（去皮弦，二錢）　大黃（一兩半）</p>
<p>研極細末，煉白蜜為丸，重五分，量兒大小與之，薑湯化下。</p>
<p>5.涼膈散：黃芩　大黃　連翹（去心）　芒硝　甘草（生）　梔子　薄荷</p>
<p>引用竹葉、生蜜，煎服，無汗者加防風、羌活。</p>
<p>方歌　涼膈散治膈熱盛，梔翹芩薄芒硝黃，便秘硝黃加倍用，無汗更加羌活防。</p>
<p>6.羌活散：羌活　防風　川芎　薄荷　天麻　殭蠶（炒）　甘草（生）　川黃連　柴胡　前胡　枳殼（麩炒）　桔梗</p>
<p>引用生薑，水煎服。</p>
<p>方歌　羌活散風兼清熱，羌防川芎薄荷葉，天麻殭蠶草黃連，柴胡前胡枳殼桔。</p>
<p>7.瀉青丸：龍膽草（焙）　梔子　大黃（煨）　羌活　防風（各一錢）　川芎（錢半）</p>
<p>上研末，煉蜜為丸，如梧桐子大，竹葉薄荷湯調下。</p>
<p>8.清熱化痰湯：橘紅　麥冬（去心）　半夏（薑製）　赤苓　黃芩　竹茹　甘草（生）　川連　枳殼（麩炒）　桔梗　膽星</p>
<p>引用生薑、燈心，水煎服。</p>
<p>方歌　清熱化痰有橘紅，麥冬半夏赤茯苓，黃芩竹茹生甘草，川連枳桔膽南星。</p>
<p>9.瀉心導赤湯</p>
<p>10.涼驚丸：龍膽草　防風　青黛（各三錢）　釣藤鉤（二錢）　黃連（五錢）　牛黃（一錢）</p>
<p>上為細末，麵糊為丸，如粟米大，量兒大小與之，金器煎湯化下。</p>

<h2>急驚後調理法</h2>
<p>急驚之後尚未清，痰熱琥珀抱龍方1）　靈，神虛氣弱痰兼熱，清心滌痰方2）　大有功。</p>
<p>〔附方〕</p>
<p>1.琥珀抱龍丸：人參　琥珀　茯神（各五錢）　山藥（炒，一兩）　甘草（炙，四錢）　檀香（三錢）　天竺黃　枳殼（麩炒）　枳實（麩炒，各五錢）　辰砂（三錢）　膽星（五錢）　赤金鉑（二十片）</p>
<p>上為細末，煉蜜為丸，每丸重一錢，大兒一丸，小兒半丸，淡薑湯化下。</p>
<p>2.清心滌痰湯：竹茹　橘紅　半夏（薑製）　茯苓　枳實（麩炒）　甘草（生）　麥冬（去心）　棗仁（炒）　人參　菖蒲　南星　川黃連</p>
<p>引用生薑，水煎服。</p>
<p>方歌　清心滌痰湯效靈，補正除邪兩收功，參苓橘半連茹草，枳實菖棗星麥冬。</p>

<h2>慢驚風</h2>
<p>慢驚多緣稟賦弱，或因藥峻損而成，緩緩搐搦時止作，面白青黃身則溫，昏睡眼合睛或露，脈遲神慘大便青，氣虛夾痰醒脾方1）　效，脾虛肝旺緩肝方2）　靈。</p>
<p>〔附方〕</p>
<p>1.醒脾湯：人參　白朮（土炒）　茯苓　天麻　橘紅　半夏（薑製）　全蠍（去毒）　殭蠶（炒）　甘草（炙）　木香　倉米　膽南星</p>
<p>引用生薑，水煎服。</p>
<p>方歌　氣虛夾痰醒脾治，參朮天麻白茯苓，橘半全蠍殭蠶草，木香倉米膽南星。</p>
<p>2.緩肝理脾湯：廣桂枝　人參　白茯苓　白芍藥（炒）　白朮（土炒）　陳皮　山藥（炒）　扁豆（炒研）　甘草（炙）</p>
<p>引用煨薑、大棗，水煎服。</p>
<p>方歌　肝旺脾虛緩肝湯，桂枝參苓芍術良，陳皮山藥扁豆草，煎服之時入煨姜。</p>

<h2>夾熱夾痰慢驚</h2>
<p>慢驚夾熱或夾痰，身熱心煩口溢涎，宜以清心滌痰方1）　治，白丸方2）　柴芍六君方3）　煎。</p>
<p>〔附方〕</p>
<p>1.清心滌痰湯</p>
<p>2.青州白丸子：生川烏（去皮臍，五錢）　生半夏（七兩）　南星（生，三兩）　白附子（生，二兩）</p>
<p>上為末，盛生絹袋內，用井華水擺出粉，未盡再擺，以粉盡為度，置瓷盆內，日曬夜露，每早撇去舊水，別用新水攪，春五日，夏三日，秋七日，冬十日，去水曬乾，研為細末，用糯米粉煎粥清丸綠豆大，每服三五丸，薄荷湯送下。</p>
<p>3.柴芍六君子湯：人參　白朮（土炒）　茯苓　陳皮　半夏（薑製）　甘草（炙）　柴胡　白芍（炒）　釣藤鉤</p>
<p>引用薑、棗，水煎服。</p>
<p>方歌　脾虛木旺風痰盛，四君人參術草苓，痰盛陳半因加入，肝風更用柴芍藤。</p>

<h2>慢脾風</h2>
<p>肝盛脾衰金氣弱，金失承製木生風，每因吐瀉傷脾胃，閉目搖頭面唇青，額汗昏睡身肢冷，舌短聲啞嘔澄清，溫中補脾方1）　為主劑，固真方2）　理中方3）　隨證從。</p>
<p>〔附方〕</p>
<p>1.溫中補脾湯：人參　黃耆（蜜炙）　白朮（土炒）　乾薑　陳皮　半夏（薑製）　附子（制）　茯苓　砂仁　肉桂（去粗皮研）　白芍（炒焦）　甘草（炙）　丁香</p>
<p>引用煨姜，水煎服。</p>
<p>方歌　慢脾溫中補脾湯，參耆白朮共乾薑，陳半附苓縮砂桂，白芍甘草共丁香。</p>
<p>2.固真湯：人參　白朮（土炒）　肉桂（去粗皮）　白茯苓　山藥（炒）　黃耆（蜜炙）　甘草（濕紙裹煨透）　附子（去皮臍湯泡浸）</p>
<p>引用薑、棗，水煎服。</p>
<p>方歌　固真湯治慢脾風，人參白朮桂茯苓，山藥黃耆煨甘草，附子浸泡最宜精。</p>
<p>3.理中湯</p>

<h1>癇證門</h1>

<h2>癇證總括</h2>
<p>小兒癇證類痙驚，發時昏倒搐涎聲，食頃即蘇如無病，陰陽驚熱痰食風。</p>

<h2>陰癇</h2>
<p>陰癇屬臟肢厥冷，偃臥拘急面白青，吐沫聲微脈沉細，醒脾方1）　固真方2）　定癇方3）　靈。</p>
<p>〔附方〕</p>
<p>1.醒脾湯</p>
<p>2.固真湯</p>
<p>3.定癇丹：人參（三錢）　當歸（三錢）　白芍（炒，三錢）　茯神　棗仁（炒，各五錢）　遠志（去心，三錢）　琥珀（三錢）　天竺黃（四錢）　白朮（土炒，五錢）　橘紅　半夏（薑製）　天麻（各三錢）　釣藤鉤（四錢）　甘草（炙，二錢）</p>
<p>共為細末，煉蜜丸如榛子大，每服一丸，淡薑湯化服。</p>

<h2>陽癇</h2>
<p>陽癇屬腑身熱汗，仰臥面赤脈數洪，噤急啼叫吐涎沫，龍膽方1）　瀉青方2）　與抱龍方3）　。</p>
<p>〔附方〕</p>
<p>1.龍膽湯</p>
<p>2.瀉青丸</p>
<p>3.四制抱龍丸：天竺黃（五錢）　辰砂（二錢）　膽星（一兩）　雄黃（二錢）　麝香（一分半）</p>
<p>上為極細末，另用麻黃、款冬花、甘草各五錢，煎湯去滓，慢火熬成膏，合藥末為丸，如芡實大，每服一丸，薄荷湯化下。</p>

<h2>驚癇</h2>
<p>驚癇觸異驚神氣，吐舌急叫面白紅，發作如人將捕狀，安神大青方1）　鎮驚方2）　靈。</p>
<p>〔附方〕</p>
<p>1.大青膏：天麻（三錢）　白附子（二錢）　青黛（一錢研）　蠍尾（去毒，一錢）　硃砂（研，一錢）　天竺黃（二錢）　麝香（三分）　烏梢蛇肉（酒浸焙乾，一錢）</p>
<p>同研細末，煉蜜和膏，每服大兒五分、小兒三分，薄荷湯化服。</p>
<p>2.鎮驚丸：茯神　麥冬（去心，各五錢）　辰砂　遠志（去心）　石菖蒲　棗仁（炒，各三錢）　牛黃（一錢半）　川黃連（生，三錢）　珍珠（二錢）　膽星（五錢）　釣藤鉤（五錢）　天竺黃（五錢）　犀角（三錢）　甘草（生，二錢）</p>
<p>共研細末，煉蜜為丸，每丸重五分，量兒與之，用淡薑湯下。</p>

<h2>痰癇</h2>
<p>痰癇平素自多痰，發時痰壅在喉間，氣促昏倒吐痰沫，一捻金方1）　與滾痰丸方2）　。</p>
<p>〔附方〕</p>
<p>1.一捻金</p>
<p>2.朱衣滾痰丸：礞石（煅，一兩）　沉香（五錢）　黃芩（七錢）　大黃（一兩）</p>
<p>上為細末，水泛為丸，硃砂為衣，多寡量兒大小，白滾水化服。</p>

<h2>食癇</h2>
<p>食癇食過積中脘，一時痰熱使之然，面黃腹滿吐利臭，妙聖方1）　滾痰方2）　和胃方3）　安。</p>
<p>〔附方〕</p>
<p>1.妙聖丹：雄黃　蠍梢　硃砂　代赭石（煅，醋淬，各二錢）　巴豆（去油，三個）　杏仁（炒去皮尖，二錢）</p>
<p>共為細末，蒸棗肉丸如桐子大，每服三、五丸，木香煎湯化服。</p>
<p>2.朱衣滾痰丸</p>
<p>3.清熱和胃丸：川連（生，五錢）　梔子（生，五錢）　竹茹（四錢）　麥冬（去心，五錢）　連翹（去心，四錢）　山楂（一兩）　神麯（炒，一兩）　麥芽（炒，一兩）　陳皮（四錢）　枳實（麩炒，五錢）　大黃（五錢）　甘草（生，三錢）</p>
<p>共為細末，煉蜜為丸，每丸重一錢，量兒與之，用滾白水化下。</p>

<h2>風癇</h2>
<p>風癇汗出風襲經，二目青黯面淡紅，十指屈伸如數物，化風方1）　羌活方2）　牛黃方3）　寧。</p>
<p>〔附方〕</p>
<p>1.化風丹：膽星（二錢）　羌活　獨活　天麻　防風　甘草（生）　荊芥穗　人參　川芎（各一錢）</p>
<p>共為細末，煉蜜丸皂子大，每服一丸，薄荷湯化開服。</p>
<p>2.羌活桂枝湯：羌活　防風　麻黃　桂枝　天麻　大黃　甘草（生）</p>
<p>引用生、姜，水煎服。</p>
<p>方歌　羌活桂枝治風癇，疏風瀉熱妙難言，羌防麻桂天麻草，大黃煎服自然安。</p>
<p>3.牛黃丸：膽星　全蠍（去毒）　蟬蛻（各二錢半）　防風　牛黃　白附子（生）　殭蠶（炒）　天麻（各一錢五分）　麝香（五分）</p>
<p>上為細末，煮棗去核皮，取肉和丸，如綠豆大，每服三、五丸，生薑湯化服。</p>

<h1>疳證門</h1>

<h2>疳證總括</h2>
<p>大人為勞小兒疳，乳食傷脾是病原，甘肥失節生積熱，氣血津液被熬煎。初患尿泔午潮熱，日久青筋肚大堅，面色青黃肌肉瘦，皮毛憔悴眼睛䀽。</p>

<h2>脾疳</h2>
<p>脾疳面黃肌消瘦，身熱困倦喜睡眠，心下痞硬滿腫脹，臥冷食泥腹痛堅，頭大頸細食懶進，吐瀉煩渴便腥黏，攻積消疳方1）　肥兒方2）　治，補脾參苓白朮方3）　先。</p>
<p>〔附方〕</p>
<p>1.消疳理脾湯：蕪荑　三稜　莪朮　青皮（炒）　陳皮　蘆薈　檳榔　使君子肉　甘草（生）　川黃連　胡黃連　麥芽（炒）　神麯（炒）</p>
<p>引用燈心，水煎服。</p>
<p>方歌　消疳理脾用蕪荑，三稜莪朮青陳皮，蘆薈檳榔使君草，川連胡連麥芽曲。</p>
<p>2.肥兒丸：人參（二錢半）　白朮（土炒，五錢）　茯苓（三錢）　黃連（二錢）　胡黃連（五錢）　使君子肉（四錢）　神麯（炒）　麥芽（炒）　山楂肉（各三錢半）　甘草（炙，錢半）　蘆薈（煨，二錢半）</p>
<p>上為末，黃米糊丸，如黍米大，每服二三十丸，米湯化下。</p>
<p>3.參苓白朮散：人參（二錢）　茯苓　白朮（土炒）　扁豆（炒）　薏米（炒）　山藥（炒，各五錢）　陳皮（三錢）　縮砂　桔梗（各二錢）　甘草（炙，一錢）　建蓮子（去心，五錢）</p>
<p>共為細末，每服一錢，老米湯調服。</p>

<h2>疳瀉</h2>
<p>疳疾傷脾因作瀉，先清後補為妙訣，初宜清熱和中湯方1）　，久瀉參苓白朮方2）　捷。</p>
<p>〔附方〕</p>
<p>1.清熱和中湯：白朮（土炒）　陳皮　厚朴（姜炒）　赤苓　黃連　神麯（炒）　穀芽（炒）　使君子　生甘草　澤瀉</p>
<p>引用燈心，水煎服。</p>
<p>方歌　疳久泄瀉名疳瀉，清熱和中功甚捷，白朮陳厚赤苓連，神谷使君草澤瀉。</p>
<p>2.參苓白朮散</p>

<h2>疳腫脹</h2>
<p>疳疾腫脹面浮光，傳化失宜脾肺傷，氣逆喘咳胸膈滿，御苑勻氣方1）　服最良。</p>
<p>〔附方〕</p>
<p>1.御苑勻氣散：桑皮（蜜炒）　桔梗　赤苓　甘草（生）　藿香　陳皮　木通</p>
<p>引用姜皮、燈心，水煎服。</p>
<p>方歌　疳久脾虛腫脹生，御苑勻氣有奇功，桑皮桔梗赤苓草，藿香陳皮合木通。</p>

<h2>疳痢</h2>
<p>疳疾日久頻下痢，多緣腸胃熱凝滯，或赤或白腹窘急，香連導滯方1）　為妙劑。</p>
<p>〔附方〕</p>
<p>1.香連導滯湯：青皮（炒）　陳皮　厚朴（姜炒）　川黃連（姜炒）　生甘草　山楂　神麯（炒）　木香（煨）　檳榔　大黃</p>
<p>引用燈心，水煎服。</p>
<p>方歌　疳久下痢名疳痢，香連導滯功最良，青陳厚朴川連草，楂曲木香檳大黃。</p>

<h2>肝疳</h2>
<p>肝疳面目爪甲青，眼生眵淚澀難睜，搖頭揉目合面臥，耳流膿水濕瘡生，腹大青筋身羸瘦，燥渴煩急糞帶青，清熱柴胡方1）　同蘆薈方2）　，調養逍遙方3）　抑肝方4）　靈。</p>
<p>〔附方〕</p>
<p>1.柴胡清肝散：銀柴胡　梔子（微炒）　連翹（去心）　胡黃連　生地黃　赤芍　龍膽草　青皮（炒）　甘草（生）</p>
<p>引用燈心、竹葉，水煎服。</p>
<p>方歌　柴胡清肝治肝疳，銀柴梔子翹胡連，生地赤芍龍膽草，青皮甘草一同煎。</p>
<p>2.蘆薈肥兒丸：五穀蟲（炒，二兩）　蘆薈（生）　胡黃連（炒）　川黃連（姜炒，各一兩）　銀柴胡（炒，一兩二錢）　扁豆（炒）　山藥（炒，各二兩）　南山楂（二兩）　蝦蟆（煅，四個）　肉豆蔻（煨，七錢）　檳榔（五錢）　使君子（炒，二兩半）　神麯（炒，二兩）　麥芽（炒，一兩六錢）　鶴蝨（炒，八錢）　蕪荑（炒，一兩）　硃砂（飛，二錢）　麝香（二錢）</p>
<p>共研細末，醋糊為丸，如黍米大，每服一錢，米飲下。</p>
<p>3.加味逍遙散：茯苓　炒白朮　當歸　白芍（炒）　柴胡　薄荷　炙甘草　丹皮　梔子（炒）</p>
<p>引用薑、棗，水煎服。</p>
<p>方歌　加味逍遙散如神，茯苓白朮當歸身，白芍柴胡薄荷草，再加丹皮梔子仁。</p>
<p>4.抑肝扶脾湯：人參　白朮（土炒）　黃連（姜炒）　柴胡（酒炒）　茯苓　青皮（醋炒）　陳皮　白芥子　龍膽草　山楂　神麯（炒）　炙甘草</p>
<p>引用薑、棗，水煎服。</p>
<p>方歌　調理抑肝扶脾湯，參朮黃連柴苓良，青陳白芥龍膽草，山楂神麯甘草嘗。</p>

<h2>心疳</h2>
<p>心疳而赤脈絡赤，壯熱有汗時煩驚，咬牙弄舌口躁渴，口舌生瘡小便紅，胸膈滿悶喜伏臥，懶食乾瘦吐利頻，瀉心導赤方1）　珍珠方2）　治，茯神方3）　調理可收功。</p>
<p>〔附方〕</p>
<p>1.瀉心導赤湯</p>
<p>2.珍珠散：珍珠（三錢）　麥冬（去心，五錢）　天竺黃（三錢）　金鉑（二十五片）　牛黃（一錢）　胡黃連（三錢）　生甘草（二錢）　羚羊角　大黃　當歸（各三錢）　硃砂（二錢）　雄黃（一錢）　茯神（五錢）　犀角（三錢）</p>
<p>上為細末，每服五分，茵陳湯調服。</p>
<p>3.茯神湯：茯神　當歸　炙甘草　人參</p>
<p>引用龍眼肉，水煎服。煩熱者加麥冬。</p>
<p>方歌　茯神湯內用茯神，當歸甘草共人參，若是煩熱麥冬入，清補兼施功最純。</p>

<h2>疳渴</h2>
<p>肥甘積熱傷津液，大渴引飲心煩熱，速用清熱甘露方1）　宜，熱減津生渴自歇。</p>
<p>〔附方〕</p>
<p>1.清熱甘露飲：生地黃　麥冬（去心）　石斛　知母（生）　枇杷葉（蜜炙）　石膏〔煅（按，宜用生者為是）〕　甘草（生）　茵陳蒿　黃芩</p>
<p>引用燈心，水煎服。</p>
<p>方歌　耗液傷津成疳渴，清熱甘露飲如神，生地麥冬斛知母，枇杷石膏草茵芩。</p>

<h2>肺疳</h2>
<p>面白氣逆時咳嗽，毛髮焦枯皮粟干，發熱憎寒流清涕，鼻頰生瘡號肺疳。疏散生地清肺方1）　效，清熱甘露飲方2）　為先，肺虛補肺散方3）　最妙，隨證加減莫遲延。</p>
<p>〔附方〕</p>
<p>1.生地清肺飲：桑皮（炒）　生地黃　天冬　前胡　桔梗　蘇葉　防風　黃芩　生甘草　當歸　連翹（去心）　赤苓</p>
<p>引用生薑、紅棗，水煎服。</p>
<p>方歌　生地清肺用桑皮，生地天冬前桔齊，蘇葉防風黃芩草，當歸連翹赤苓宜。</p>
<p>2.甘露飲：生地黃　熟地黃　天冬　麥冬（去心）　枳殼（麩炒）　桔梗　黃芩　枇杷葉（蜜炙）　茵陳蒿　石斛</p>
<p>引用紅棗肉，水煎服。</p>
<p>方歌　甘露飲治肺火壅，生熟地黃二門冬，枳桔黃芩枇杷葉，茵陳石斛共煎成。</p>
<p>3.補肺散：白茯苓　阿膠（蛤粉炒）　糯米　馬兜鈴　炙甘草　杏仁（炒，去皮尖）</p>
<p>水煎服。</p>
<p>方歌　肺虛補肺散通仙，茯苓阿膠糯米攢，馬兜鈴配炙甘草，杏仁微炒去皮尖。</p>

<h2>腎疳</h2>
<p>解顱鶴膝齒行遲，骨瘦如柴面黑黧，齒齦出血口臭氣，足冷腹痛瀉哭啼。腎疳先用金蟾方1）　治，九味地黃方2）　繼進宜，若逢稟賦氣虛弱，調元散方3）　進莫遲疑。</p>
<p>〔附方〕</p>
<p>1.金蟾丸：干蝦蟆（煅，五個）　胡黃連　黃連（各三錢）　鶴蝨（二錢）　肉豆蔻（煨）　苦楝根白皮　雷丸　蘆薈（生）　蕪荑（各三錢）</p>
<p>上為末，麵糊為丸，綠豆大，雄黃為衣，每服十五丸，米湯化下。</p>
<p>2.九味地黃丸：熟地　茱萸肉（各五錢）　赤茯苓　澤瀉　牡丹皮　山藥（炒）　當歸　川楝子　使君子肉（各三錢）</p>
<p>上為細末，煉白蜜為丸，如芡實大，用滾白水研化，食前服。</p>
<p>3.調元散：人參　茯苓　白朮（土炒）　山藥（炒）　川芎　當歸　熟地黃　茯神　黃耆（炙）　甘草（炙）　白芍（炒）</p>
<p>引用薑、棗，水煎服。</p>
<p>方歌　調元散治稟賦弱，參苓白朮乾山藥，芎歸熟地共茯神，黃耆甘草同白芍。</p>

<h2>疳熱</h2>
<p>小兒疳疾身發熱，輕重虛實當分別，初用青蒿飲方1）　為宜，日久鱉甲散方2）　最捷。</p>
<p>〔附方〕</p>
<p>1.鱉甲青蒿飲：銀柴胡　鱉甲（炙）　青蒿　生甘草　生地黃　胡黃連　赤芍　知母（炒）　地骨皮</p>
<p>引用燈心，水煎服。</p>
<p>方歌　疳疾血虛身發熱，鱉甲青蒿藥有功，銀柴鱉蒿草地芍，胡連知母地骨同。</p>
<p>2.鱉甲散：人參　黃耆（炙）　鱉甲（炙）　生地　熟地　當歸　白芍（炒）　地骨皮</p>
<p>水煎服。</p>
<p>方歌　疳疾日久骨熱蒸，鱉甲散治效從容，參耆鱉甲生熟地，當歸白芍地骨同。</p>

<h2>腦疳</h2>
<p>腦疳多緣受風熱，又兼乳哺失調節，頭皮光急生餅瘡，頭熱發焦如穗結，鼻乾心煩腮囟腫，困倦睛暗身汗熱，龍膽方1）　龍腦丸方2）　甚良，吹鼻龍腦方3）　效甚捷。</p>
<p>〔附方〕</p>
<p>1.龍膽丸：龍膽草　升麻　苦楝根皮（焙）　防風　赤茯苓　蘆薈　油發灰（各二錢）　青黛　黃連（各三錢）</p>
<p>上為細末，豬膽汁浸糕糊丸，如麻子大，薄荷湯下，量兒大小與之。</p>
<p>2.龍腦丸：龍腦　麝香（各五分）　雄黃（二錢）　胡黃連（三錢）　牛黃（一錢）　硃砂（一錢五分）　蘆薈（生，三錢）　干蝦蟆（灰，四錢）</p>
<p>上為細末，熊膽合丸，如麻子大，每服三丸，薄荷湯下。</p>
<p>3.吹鼻龍腦散：龍腦　麝香（少許各研細末）　蝸牛殼（炒黃）　蝦蟆灰　瓜蒂　黃連　細辛　桔梗（各等分）</p>
<p>上為細末，入瓷盒內貯之，每取少許吹入鼻中，日吹二次。</p>

<h2>眼疳</h2>
<p>疳熱上攻眼疳成，癢澀赤爛胞腫疼，白睛生翳漸遮滿，流淚羞明目不睜，疏解瀉肝散方1）　最妙，雲翳清熱退翳方2）　靈，日久不瘥當補養，逍遙方3）　羊肝方4）　二方從。</p>
<p>〔附方〕</p>
<p>1.瀉肝散：生地黃　當歸　赤芍　川芎　連翹（去心）　梔子（生）　龍膽草　大黃　羌活　甘草（生）　防風</p>
<p>引用燈心，水煎服。</p>
<p>方歌　瀉肝散治肝熱壅，生地當歸赤芍芎，連翹梔子龍膽草，大黃羌活草防風。</p>
<p>2.清熱退翳湯：梔子（微炒）　胡黃連　木賊草　赤芍　生地　羚羊角　龍膽草　銀柴胡　蟬蛻　甘草（生）　菊花　蒺藜</p>
<p>引用燈心，水煎服。</p>
<p>方歌　清熱退翳消雲翳，梔連木賊芍生地，羚羊龍膽銀柴胡，蟬蛻甘草菊疾藜。</p>
<p>3.逍遙散</p>
<p>4.羊肝散：青羊肝（一具，去筋膜，切韭吐厚片）　人參　羌活　白朮（土炒）　蛤粉（各等分）</p>
<p>上為細末，令勻聽用，將藥置荷葉上，如錢厚一層，鋪肝一層包固，外以新足青布包裹蒸熟，任兒食之，如不食者，及夏月恐腐壞，則曬乾為末，早晚白湯調服，服完再合，以好為度。若熱者減人參。</p>

<h2>鼻疳</h2>
<p>疳熱攻肺成鼻疳，鼻塞赤癢痛難堪，浸淫潰爛連唇際，咳嗽氣促發毛乾。熱盛清金方1）　化毒方2）效，疳蟲蝕鼻化蟲方3）　丸，調敷須用鼻疳散方4）　，吹鼻蟬殼方5）　效通仙。</p>
<p>〔附方〕</p>
<p>1.清金散：生梔子　黃芩　枇杷葉（蜜炙）　生地黃　天花粉　連翹（去心）　麥冬（去心）　薄荷　元參　生甘草　桔梗</p>
<p>引用燈心，水煎服。</p>
<p>方歌　清金散治肺壅熱，梔子黃芩枇杷葉，生地花粉翹麥冬，薄荷元參甘草桔。</p>
<p>2.蔣氏化毒丹</p>
<p>3.化蟲丸：蕪荑　蘆薈（生）　青黛　川芎　白芷梢　胡黃連　川黃連　蝦蟆（灰，各等分）</p>
<p>上為細末，豬膽汁浸糕為丸，如麻子大，每服二十丸，食後杏仁煎湯下。</p>
<p>4.鼻疳散：青黛（一錢）　麝香（少許）　熊膽（五分）</p>
<p>上為細末，乾者用豬骨髓調貼，濕者幹上。</p>
<p>5.吹鼻蟬殼散：蟬殼（微炒）　青黛（研）　蛇蛻皮（灰）　滑石　麝香（各等分細研）</p>
<p>上為細末，每用綠豆大，吹入鼻中，日三用之，疳蟲盡出。</p>

<h2>牙疳</h2>
<p>疳成毒熱內攻胃，上發齦肉赤爛疼，口鼻血出牙枯落，穿腮蝕唇命多傾。攻毒消疳蕪荑方1）　效，繼以蘆薈肥兒方2）　靈，外用牙疳散方3）　時上，能食堪藥始能生。</p>
<p>〔附方〕</p>
<p>1.清疳蕪荑湯：大黃　芒硝　蕪荑　蘆薈（生）　川連　胡黃連　黃芩　雄黃</p>
<p>水煎服，服後便軟及不食者，去大黃、芒硝，加石膏、羚羊角。</p>
<p>方歌　蕪荑消疳大黃硝，蘆薈蕪荑二連標，黃芩雄黃一同入，能清積熱牙疳消。</p>
<p>2.蘆薈肥兒丸</p>
<p>3.牙疳散：人中白（煅存性）　綠礬（燒紅）　五倍子（炒黑，各等分）　冰片（少許）</p>
<p>上為極細末，先用水拭淨牙齒，再以此散敷之，有蟲者加檳榔。</p>

<h2>脊疳</h2>
<p>積熱生蟲蝕脊膂，手擊其背若鼓鳴，羸瘦脊骨鋸齒狀，身熱下利煩渴增，十指皆瘡齧爪甲，此名脊疳病熱凶，蘆薈丸方1）　同金蟾散方2）　，急急調治莫從容。</p>
<p>〔附方〕</p>
<p>1.蘆薈丸：生蘆薈　青黛　硃砂　熊膽　胡黃連　貫眾　地龍（微炒）　川黃連　蟬蛻（去足）　雷丸（各五錢）　麝香（一錢）　蝦蟆（酥塗炙焦，一個）</p>
<p>上為細末，用蝸角肉研和，丸如麻子大，每服五丸，粥飲下，量兒大小與之。</p>
<p>2.金蟾散：蟾（酥塗炙焦，一枚）　夜明砂（炒）　桃白皮　樗根白皮　地榆　黃柏　訶黎勒（皮煨）　百合　人參　大黃　白蕪荑（炒）　胡粉（各三錢）　檳榔（一錢）　丁香（三十七粒）</p>
<p>上為細末，每服五分，粥飲調下。</p>

<h2>蛔疳</h2>
<p>過食膩冷並肥甘，濕熱生蛔腹內纏，時煩多啼時腹痛，口唇色變溢清涎，腹脹青筋肛濕癢，使君散方1）治莫遲延，不愈下蟲丸方2）　極效，蛔退補脾肥兒丸方3）　。</p>
<p>〔附方〕</p>
<p>1.使君子散：使君子（瓦上炒為末，十個）　苦楝子（泡去核，五個）　白蕪荑　甘草（膽汁浸一宿，各一錢）</p>
<p>上為末，每服一錢，水調服。</p>
<p>2.下蟲丸：苦楝根皮（新白者佳酒浸焙）　木香　桃仁（浸去皮尖）　綠包貫眾　蕪荑（焙）　雞心檳榔（各二錢）　輕粉（五分）　鶴蝨（炒，一錢）　干蝦蟆（炒黑，三錢）　使君子（取肉煨，三錢）</p>
<p>上為末，麵糊成丸，如麻子大，每服二十丸，滾白水下。</p>
<p>3.肥兒丸</p>

<h2>無辜疳</h2>
<p>無辜疳傳有二因，鳥羽汙衣著兒身，或緣乳母病傳染。頸項瘡核便利膿，蟲蝕臟腑身羸瘦，面黃發熱致疳生。清熱宜用柴胡飲方1）　，消疳肥兒方2）　效如神。</p>
<p>〔附方〕</p>
<p>1.柴胡飲：赤芍藥　柴胡　黃連　半夏（薑製）　桔梗　夏枯草　龍膽草　浙貝母　黃芩　甘草（生）</p>
<p>引用燈心，水煎服。</p>
<p>方歌　柴胡飲治無辜疳，赤芍柴胡川黃連，半夏桔梗夏枯草，龍膽浙貝芩草煎。</p>
<p>2.蘆薈肥兒丸</p>

<h2>丁奚疳</h2>
<p>偏身骨露號丁奚，肌肉乾澀晝夜啼，手足枯細面黧黑，項細腹大突出臍，尻削身軟精神倦，骨蒸潮熱渴煩急，化滯五疳消積方1）　治，補養人參啟脾方2）　宜。</p>
<p>〔附方〕</p>
<p>1.五疳消積丸：使君子肉（炒，五錢）　麥芽（炒）　陳皮　神麯（炒）　山楂（各一兩）　白蕪荑　黃連　膽草（各三錢）</p>
<p>上為末，陳米飯為丸，每服一錢，米飲下。</p>
<p>2.人參啟脾丸：人參（五錢）　白朮（土炒，五錢）　白茯苓（五錢）　陳皮（四錢）　扁豆（炒，五錢）　山藥（炒，五錢）　木香（煨，二錢）　穀芽（炒，三錢）　神麯（炒，三錢）　炙甘草（二錢）</p>
<p>上研細末，煉蜜為丸，重一錢，用建蓮湯化下。</p>

<h2>哺露疳</h2>
<p>乳食不節傷脾胃，羸瘦如柴哺露成，吐食吐蟲多煩渴，頭骨開張哺熱蒸。先用集聖方1）　消積滯，繼用肥兒方2）　甚有靈；若還腹大青筋現，人參丸方3）　服莫從容。</p>
<p>〔附方〕</p>
<p>1.集聖丸：蘆薈（微炒）　五靈脂（炒）　夜明砂（淘洗焙乾）　縮砂仁　木香　陳皮　莪朮　使君子肉　黃連　川芎（酒洗炒）　乾蟾（炙，各二錢）　當歸（一錢五分）　青皮（制，二錢）</p>
<p>上為細末，用雄豬膽二個，取汁和麵糊為丸，每服一錢，米飲送下。</p>
<p>2.肥兒丸</p>
<p>3.人參丸：人參　麥冬（去心）　半夏（薑製）　大黃（微炒）　黃耆（炙）　茯苓　柴胡　黃芩　炙甘草　川芎　訶黎勒（煨）　鱉甲（炙）</p>
<p>上為細末，煉蜜為丸，如麻子大，以粥飲下，量兒大小與之。</p>

<h1>吐證門</h1>

<h2>吐證總括</h2>
<p>諸逆上衝成嘔吐，乳食傷胃或夾驚，或因痰飲或蟲擾，虛實寒熱要分明。</p>

<h2>辨嘔吐噦證</h2>
<p>有物有聲謂之嘔，有物無聲吐證名，無物有聲為噦證，分別醫治中病情。</p>

<h2>傷乳吐</h2>
<p>乳食過飽蓄胃中，乳片不化吐頻頻，身熱面黃腹膨脹，消乳方1）　保和方2）　有神功。</p>
<p>〔附方〕</p>
<p>1.消乳丸：香附（制，二兩）　神麯（炒）　麥芽（炒，各一兩）　陳皮（八錢）　縮砂仁（炒）　甘草（炙，各五錢）</p>
<p>上為細末，滴水為丸，如粟米大，量兒大小與之，薑湯化下。</p>
<p>2.保和丸：南山楂（二兩）　神麯（炒，一兩）　茯苓　半夏（薑製，各一兩）　連翹（去心）　陳皮　萊菔子（炒，各五錢）</p>
<p>上為細末，麵糊為丸，麥芽湯化服。</p>

<h2>傷食吐</h2>
<p>過食傷胃腹脹熱，惡食口臭吐酸黏，眼胞虛浮身潮熱，須服三稜方1）　和胃方2）　煎。</p>
<p>〔附方〕</p>
<p>1.三稜丸：三稜（煨）　陳皮　半夏（薑製）　神麯（炒，各一兩）　黃連（姜炒）　枳實（麩炒）　丁香（各五錢）</p>
<p>上研細末，面和為丸，如黃米大，每服二十丸，食後薑湯下。</p>
<p>2.和胃湯：陳皮　半夏（薑製）　縮砂仁（研）　蒼朮（炒）　厚朴（姜炒）　藿香葉　香附（炒）　甘草（炙）　山楂　神麯（炒）</p>
<p>引用生薑，水煎服。</p>
<p>方歌　和胃湯治嘔吐頻，陳皮半夏縮砂仁，蒼朮厚朴藿香葉，香附甘草山楂神。</p>

<h2>夾驚吐</h2>
<p>食時觸異吐清涎，身熱心煩睡不安，截風觀音散方1）　極妙，止吐定吐丸方2）　可痊。</p>
<p>〔附方〕</p>
<p>1.全蠍觀音散：人參（三錢）　黃耆（蜜炙）　扁豆（炒）　茯苓（各五錢）　蓮肉（去心，三錢）　木香（煨，一錢五分）　白芷（二錢）　羌活　防風　天麻　全蠍（去毒，各三錢）　炙甘草（一錢五分）</p>
<p>上為細末，薑棗煎湯調服，量兒大小與之。</p>
<p>2.定吐丸：丁香（二十一粒）　蠍梢（去毒，四十九條）　半夏（薑製，三個）</p>
<p>上為細末令勻，煮棗肉為丸，如黍米大，每服七丸，煎湯化服。</p>

<h2>痰飲吐</h2>
<p>痰飲壅盛在胸中，痰因氣逆嘔吐成，眩暈面青吐涎飲，香砂二陳方1）　六君方2）　寧。</p>
<p>〔附方〕</p>
<p>1.香砂二陳湯</p>
<p>即二陳湯加藿香砂仁。</p>
<p>2.香砂六君子湯：藿香　縮砂仁　白朮（土炒）　人參　茯苓　半夏（薑製）　陳皮　甘草（炙）</p>
<p>引用生薑，水煎服。</p>
<p>方歌　香砂六君虛痰吐，藿香縮砂共白朮，人參茯苓及陳皮，半夏甘草同煎服。</p>

<h2>蟲吐</h2>
<p>蟲吐胃熱或胃寒，色變時疼嘔清涎，寒熱當以陰陽辨，化蟲方1）　加減理中方2）　痊。</p>
<p>〔附方〕</p>
<p>1.化蟲丸：蕪荑（五錢）　鶴蝨　苦楝根皮　胡粉　使君子肉　檳榔（各一兩）　枯礬（二錢五分）</p>
<p>上為細末，麵糊為丸，量兒大小與之。</p>
<p>2.加減理中湯：人參　乾薑　白朮（土炒）　川椒</p>
<p>引用烏梅一個，水煎服。</p>
<p>方歌　加減理中寒吐蟲，人參乾薑白朮從，川椒烏梅伏蟲動，煎成服下即安寧。</p>

<h2>虛吐</h2>
<p>虛吐多因胃弱成，神倦囟動睡露睛，自利不渴頻嘔吐，丁沉四君方1）　藥最靈。</p>
<p>〔附方〕</p>
<p>1.丁沉四君子湯：人參　白朮（土炒）　茯苓　炙甘草　丁香　沉香</p>
<p>引用煨姜，水煎服。</p>
<p>方歌　胃虛嘔吐不思食，丁沉四君治最宜，參朮苓草補其胃，丁香沉香溫其脾。</p>

<h2>實吐</h2>
<p>小兒實吐腹脹滿，二便不利痞硬疼，發渴思涼吐酸臭，三一承氣方1）　可收功。</p>
<p>〔附方〕</p>
<p>1.三一承氣湯：芒硝　生大黃　枳實（麩炒）　甘草（生）　厚朴（姜炒）</p>
<p>引用生薑，水煎服。</p>
<p>方歌　三一承氣治實吐，滌滯通塞功最著，芒硝相配生大黃，枳實甘草同厚朴。</p>

<h2>寒吐</h2>
<p>朝食暮吐為冷吐，乳食不化不臭酸。四肢厥冷麵唇白，姜橘方1）　丁萸理中方2）　煎。</p>
<p>〔附方〕</p>
<p>1.姜橘散：白姜（二錢）　陳皮（一兩）　炙甘草（一錢）</p>
<p>上為細末，每服一錢，溫棗湯調服。</p>
<p>2.丁萸理中湯</p>
<p>即理中湯加丁香，吳茱萸（溫胃止嘔）。</p>

<h2>熱吐</h2>
<p>食入即吐因胃熱，口渴飲冷吐酸涎，身熱唇紅小便赤，加味溫膽湯方1）　可痊。</p>
<p>〔附方〕</p>
<p>1.加味溫膽湯：陳皮　半夏（薑製）　茯苓　麥冬（去心）　枳實（麩炒）　生甘草　竹茹　黃連（姜炒）</p>
<p>引用燈心，水煎服。</p>
<p>方歌　熱吐須用溫膽湯，陳皮半夏茯苓良，麥冬枳實生甘草，竹茹黃連水煎嘗。</p>

<h1>瀉證門</h1>

<h2>瀉證總括</h2>
<p>小兒泄瀉認須清，傷乳停食冷熱驚，臟寒脾虛飧水瀉，分消溫補治宜精。</p>

<h2>傷乳食瀉</h2>
<p>乳食過傷瀉酸膿，噫臭腹熱脹滿疼，口渴惡食溺赤澀，保安方1）　平胃方2）　奏神功。</p>
<p>〔附方〕</p>
<p>1.保安丸：香附（醋炒）　縮砂仁（各一兩）　白姜（炮）　青皮（醋炒）　陳皮　三稜　莪朮　炙甘草（各五錢）</p>
<p>上為細末，麵糊為丸，量兒大小與之，白湯化下。</p>
<p>2.平胃散</p>

<h2>中寒瀉</h2>
<p>過食生冷中寒瀉，腸鳴脹痛泄澄清，面白肢冷懶飲食，理中方1）　訶子散方2）　堪行。</p>
<p>〔附方〕</p>
<p>1.理中湯</p>
<p>2.訶子散：訶子（麵煨）　肉豆蔻（麵煨）　白朮（土炒）　人參　茯苓　木香（煨各一兩）　陳皮　炙甘草（各五錢）</p>
<p>上為細末，每服一錢，薑湯調服。</p>

<h2>火瀉</h2>
<p>火瀉內熱或傷暑，暴迫下注腹痛疼，煩渴瀉黃小便赤，玉露四苓可收功。</p>
<p>〔附方〕</p>
<p>1.玉露散：寒水石　石膏（各一兩）　甘草（三錢）</p>
<p>上為細末，量兒大小，溫湯無時調服。</p>
<p>2.四苓湯：茯苓　白朮（土炒）　豬苓　澤瀉</p>
<p>引用燈心，水煎服。</p>
<p>方歌　火瀉小便不利通，利水除濕用四苓，茯苓白朮豬苓澤，燈心為引共煎成。</p>

<h2>驚瀉</h2>
<p>驚瀉因驚成泄瀉，夜臥不安晝惕驚，糞稠若膠帶青色，鎮驚方1）　養脾方2）　服通靈。</p>
<p>〔附方〕</p>
<p>1.益脾鎮驚散：人參（錢半）　白朮（土炒）　茯苓（各三錢）　硃砂（八分）　鉤藤（二錢）　甘草（炙五分）</p>
<p>上研細末，每服一錢，燈心湯調服。</p>
<p>2.養脾丸：人參　白朮（土炒）　當歸　川芎（各三錢）青皮（醋炒）　木香（煨）　黃連（姜炙）　陳皮（各二兩）　神麯（炒）　山楂　縮砂仁　麥芽（炒各一錢）</p>
<p>上研細末，神麯糊為丸，如麻子大，每服二十丸，陳倉米飲下。</p>

<h2>臍寒瀉</h2>
<p>剪臍失護受寒冷，糞色青白腹痛鳴，散寒和氣飲方1）　極效，溫補調中湯方2）　最靈。</p>
<p>〔附方〕</p>
<p>1.和氣飲：蒼朮　紫蘇　防風　赤苓　豆豉　藿香　陳皮　厚朴（姜炒）　炙甘草</p>
<p>引用生薑燈心，水煎服。</p>
<p>方歌　和氣飲具溫散功，蒼朮紫蘇共防風，赤苓豆豉藿香葉，陳皮厚朴甘草同。</p>
<p>2.調中湯：人參　茯苓　藿香　白朮（土炒）　炙甘草　木香（煨）　香附（制）　縮砂仁</p>
<p>引用煨姜，水煎服。</p>
<p>方歌　臍寒瀉用調中湯，人參白朮煨木香，藿香茯苓同香附，縮砂炙草引煨姜。</p>

<h2>脾虛瀉</h2>
<p>脾虛食後即作瀉，腹滿不渴少精神，面黃懶食肌消瘦，參苓白朮方1）　奏奇勳。</p>
<p>〔附方〕</p>
<p>1.參苓白朮散</p>

<h2>飧泄</h2>
<p>清氣下陷失健運，完穀不化飧瀉名，補中益氣湯方1）　升補，久瀉腸滑用四神方2）　。</p>
<p>〔附方〕</p>
<p>1.補中益氣湯：人參　黃耆（蜜炙）　當歸（土炒）　白朮（土炒）　炙甘草　陳皮　升麻（土炒）　柴胡（醋炒）</p>
<p>引用薑棗，水煎服。</p>
<p>方歌　飧瀉多因清陽陷，補中益氣湯最驗，參耆歸術草陳皮，升麻柴胡功無限。</p>
<p>2.四神丸：補骨脂（四兩）　五味子　肉豆蔻（麵裹煨，各二兩）　吳茱萸（水浸炒，一兩）</p>
<p>上為細末，生薑棗肉為丸，每服一錢，米飲下。</p>

<h2>水瀉</h2>
<p>脾胃濕盛成水瀉，懶食溏瀉色多黃，清濁不分溺短澀，胃苓方1）　升陽除濕湯方2）　。</p>
<p>〔附方〕</p>
<p>1.胃苓湯：蒼朮（炒）　陳皮　厚朴（姜炒）　白朮（土炒）　茯苓　炙甘草　肉桂　澤瀉　豬苓</p>
<p>引用生薑紅棗，水煎服。</p>
<p>方歌　濕瀉胃苓湯堪行，蒼朮陳皮厚朴同，白朮茯苓炙甘草，肉桂澤瀉共豬苓。</p>
<p>2.升陽除濕湯：蒼朮（炒）　陳皮　防風　神麯（炒）　麥芽（炒）　澤瀉　升麻　炙甘草　羌活　柴胡　豬苓</p>
<p>引用生薑，水煎服。</p>
<p>方歌　升陽除濕瀉不停，蒼朮陳皮共防風，神麯麥芽澤甘草，升麻羌活柴豬苓。</p>

<h1>感冒門</h1>

<h2>感冒風寒總括</h2>
<p>小兒肌膚最柔脆，偶觸風寒病營衛，輕為感冒病易痊，重為傷寒證難退，夾食夾熱或夾驚，疏散和解宜體會。</p>

<h2>傷風</h2>
<p>肺主皮毛感邪風，發熱憎寒頭痛疼，有汗嚏涕脈浮緩，鼻塞聲重咳嗽頻，杏蘇飲方1）　同金沸散方2）　，疏風解表莫從容。</p>
<p>〔附方〕</p>
<p>1.杏蘇飲：杏仁（炒去皮尖）　紫蘇　前胡　枳殼（麩炒）　桑皮（炒）　黃芩　甘草（生）　麥冬（去心）　橘紅　浙貝母（去心）　桔梗</p>
<p>引用生薑，水煎服。</p>
<p>方歌　杏蘇飲治風傷肺，杏仁紫蘇前桔同，枳殼桑皮黃芩草，麥冬貝母合橘紅。</p>
<p>2.金沸草散：旋覆花　活荊芥　細辛　半夏（薑製）　前胡　甘草（生）　赤苓</p>
<p>引用薑棗，水煎服。</p>
<p>方歌　金沸草散微傷風，細辛荊芥半夏同，旋覆前胡生甘草，生薑紅棗赤茯苓。</p>

<h2>傷寒</h2>
<p>小兒傷寒表感寒，發熱無汗而惡寒，頭痛身痛脈浮緊，嘔逆煩渴病邪傳，初用羌活方1）　熱通聖方2）　，邪傳柴葛方3）　大柴方4）　煎。</p>
<p>〔附方〕</p>
<p>1.九味羌活湯：蒼朮（炒）　白芷　川芎　細辛　羌活　防風　生地　黃芩　甘草（生）</p>
<p>引用生薑蔥白，水煎服。大便秘者，加大黃。</p>
<p>方歌　傷寒初起羌活湯，蒼芷芎細合羌防，生地芩草薑蔥入，便秘之時加大黃。</p>
<p>2.雙解通聖湯：麻黃　朴硝　大黃　當歸　赤芍　川芎　白朮（土炒）　石膏　滑石　桔梗　梔子　連翹（去心）　黃芩　薄荷　甘草（生）　荊芥　防風</p>
<p>引用生薑蔥白，水煎服。</p>
<p>方歌　傷寒熱盛通聖湯，表裡兩解麻硝黃，歸芍芎術膏滑桔，梔翹芩薄草荊防。</p>
<p>3.柴葛解肌湯：葛根　柴胡　白芷　羌活　桔梗　石膏　黃芩　赤芍　甘草（生）</p>
<p>引用生薑、紅棗，水煎服。</p>
<p>方歌　柴葛解肌解三陽，葛根柴胡白芷羌，桔梗石膏芩赤芍，甘草煎服自安康。</p>
<p>4.大柴胡湯：柴胡　黃芩　赤芍　半夏（薑製）　枳實（麩炒）　大黃</p>
<p>引用生薑、大棗，水煎服。</p>
<p>方歌　大柴胡治邪傳經，少陽陽明表裡通，柴胡黃芩赤芍藥，半夏枳實大黃同。</p>

<h2>感冒夾食</h2>
<p>內傷飲食感寒風，發熱憎寒頭痛疼，惡食噯臭吐酸物，便秘尿澀腹熱膨，雙解方1）　藿香正氣飲方　2）　，化滯平胃方3）　斟酌行。</p>
<p>〔附方〕</p>
<p>1.雙解通聖湯</p>
<p>2.藿香正氣湯：蘇葉　白芷　藿香　陳皮　茯苓　半夏（薑製）　大腹皮　甘草（生）　厚朴（姜炒）　桔梗</p>
<p>引用生薑、紅棗，水煎服。</p>
<p>方歌　和解藿香正氣湯，蘇葉白芷共藿香，陳皮茯苓大腹草，厚朴桔梗引棗姜。</p>
<p>3.平胃散</p>

<h2>感冒夾熱</h2>
<p>平素有熱感風寒，面赤唇焦口鼻乾，憎寒壯熱頻飲冷，心煩譫妄便多艱，瀉熱先宜用通聖方1）　，清熱涼膈方2）　天水方3）　煎。</p>
<p>〔附方〕</p>
<p>1.雙解通聖湯</p>
<p>2.涼膈散</p>
<p>3.天水散：滑石（飛，六兩）　甘草（生一兩）</p>
<p>共為細末，每服一錢，燈心湯調下。</p>

<h2>感冒夾驚</h2>
<p>感冒病時觸驚異，心驚膽怯睡不安，身熱煩躁面青赤，疏解散方1）　與涼驚丸方2）　，和以柴胡溫膽方3）　劑，寧神定志效通仙。</p>
<p>〔附方〕</p>
<p>1.疏解散：羌活　蘇葉　防風　枳殼（麩炒）　桔梗　前胡　赤芍　杏仁（炒去皮尖）　殭蠶（炒）　甘草（生）　黃連（酒炒）</p>
<p>引用生薑，水煎服。</p>
<p>方歌　疏解散治感冒驚，羌活蘇葉及防風，枳桔前胡黃連芍，杏仁殭蠶甘草同。</p>
<p>2.涼驚丸</p>
<p>3.柴胡溫膽湯：柴胡　陳皮　半夏（薑製）　茯苓　甘草（生）　竹茹　枳實（麩炒）</p>
<p>引用生薑，水煎服。</p>
<p>方歌　柴胡溫膽感冒驚，病後餘邪尚未寧，柴胡陳半茯苓草，竹茹枳實姜用生。</p>

<h1>瘟疫門</h1>

<h2>瘟疫總括</h2>
<p>溫病傷寒傳變同，感寒即病傷寒名，冬受寒邪春復感，因感而發溫病成，至夏感發為熱病，逐戶相傳乃天行，四時不正為時氣，痧疹瘟癍要詳明。</p>

<h2>溫病</h2>
<p>冬受寒邪不即病，復感春寒發名溫，證同傷寒治雙解方1）　，嘔加生薑半夏均。</p>
<p>〔附方〕</p>
<p>1.雙解通聖湯</p>

<h2>風溫</h2>
<p>風溫復感春風發，汗熱身重睡鼾眠，汗少荊防敗毒方1）　治，汗多桂枝白虎方2）　煎。</p>
<p>〔附方〕</p>
<p>1.荊防敗毒散：荊芥　防風　羌活　獨活　柴胡　前胡　甘草（生）　川芎　枳殼（麩炒）　桔梗　茯苓</p>
<p>引用生薑，水煎服。</p>
<p>方歌　荊防敗毒宜時氣，風溫無汗用之靈，荊防羌獨柴前草，川芎枳桔與茯苓。</p>
<p>2.桂枝合白虎湯：桂枝　芍藥　石膏〔煅（按：石膏以生用為是）〕　知母（生）　粳米　甘草（生）</p>
<p>引加生薑、大棗，水煎服。</p>
<p>方歌　桂枝湯合白虎湯，壯熱多汗服此方，桂芍石膏知母草，粳米大棗共生薑。</p>

<h2>熱病</h2>
<p>冬受寒邪不即病，至夏復感暑熱成，身不惡寒而多渴，證同溫病治亦同。</p>

<h2>瘟疫</h2>
<p>天行厲氣瘟疫病，為病挨門合境同，皆由邪自口鼻入，故此傳染迅如風。當分表裡陰陽毒，因時取治審重輕，古法皆以攻為急，荊防方1）　普濟方2）　救苦方3）　攻。</p>
<p>〔附方〕</p>
<p>1.荊防敗毒散</p>
<p>2.普濟消毒飲：黃芩（酒炒）　黃連（酒炒）　陳皮　桔梗　板藍根　升麻　柴胡　薄荷　連翹（去心）　牛蒡子（炒研）　殭蠶（炒）　馬勃　甘草（生）　元參</p>
<p>引用燈心，水煎服。</p>
<p>方歌　普濟消毒清時瘟，芩連陳桔板藍根，升柴薄荷翹牛蒡，殭蠶馬勃草元參。</p>
<p>3.二聖救苦丹：大黃（四兩）　皂角（二兩）</p>
<p>上為末，水丸，每服一錢，量兒大小與之，用無根水下。</p>

<h2>瘟癍疹痧</h2>
<p>傷寒疹癍失汗下，時氣初感即其然，表邪復郁榮衛分，外泛皮脈痧疹癍。痧白疹紅如膚粟，癍紅如豆片連連，紅輕赤重黑多死，淡紅稀暗是陰癍。未透升麻消毒方1）　治，熱盛三黃石膏方2）　煎，已透消癍青黛飲方3）　，痧疹表裡雙解方4）　先。</p>
<p>〔附方〕</p>
<p>1.升麻葛根湯合消毒犀角飲：升麻　葛根　芍藥　牛蒡子　甘草（生）　荊芥　防風　犀角</p>
<p>引用芫荽，水煎服。</p>
<p>方歌　升麻消毒表癍疹，升葛芍草蒡荊防，倍加犀角急煎服，表實熱盛另有方。</p>
<p>2.三黃石膏湯：黃連　梔子　黃芩　黃柏　豆豉　麻黃　石膏</p>
<p>引用生蔥，水煎服。</p>
<p>方歌　三黃石膏發癍疹，表實熱盛有奇功，連芩梔柏與豆豉，麻黃石膏生用蔥。</p>
<p>3.消癍青黛飲：石膏〔煅（按：生用為宜）〕　知母　犀角　甘草（生）　梔子（生）　川連（生）　青黛　元參　柴胡　生地　人參　大黃</p>
<p>引用薑、棗，水煎，臨服，入苦酒一匙和服。</p>
<p>方歌　消癍青黛消毒癍，石知犀角草梔連，青黛元參柴生地，人參大黃斟酌添。</p>
<p>4.雙解通聖湯</p>

<h1>暑證門</h1>

<h2>暑證總括</h2>
<p>小兒暑病有四證，中暑陽邪傷暑陰，暑風攻肝抽搐見，暑厥攻心不識人。</p>

<h2>中暑</h2>
<p>中暑汗出身壯熱，頭痛大渴煩不寧，氣乏神倦兩足冷，加味人參白虎方1）　靈。</p>
<p>〔附方〕</p>
<p>1.加味人參白虎湯：人參　石膏（生）　知母（生）　粳米　甘草　蒼朮</p>
<p>水煎服。</p>
<p>方歌　加味人參白虎湯，暑熱傷氣服最良，參膏知母粳米草，停飲嘔水更加蒼。</p>

<h2>傷暑</h2>
<p>傷暑受暑感寒風，無汗熱渴面赤紅，乾噦噁心腹絞痛，嗜臥懶食肢重疼。清散二香飲方1）　極效，氣虛六合湯方2）　奏功，夾食惡食多吐瀉，加味香薷方3）　法最靈。</p>
<p>〔附方〕</p>
<p>1.二香飲：蘇葉　藿香　白茯苓　陳皮　扁豆（炒）　厚朴（薑製）　半夏（薑製）　大腹皮　甘草（生）　白芷　桔梗　川黃連　香薷</p>
<p>引用生薑、燈心，水煎服。</p>
<p>方歌　二香飲治風暑病，蘇葉藿香白茯苓，扁豆厚朴陳半草，腹芷桔連香薷靈。</p>
<p>2.六合湯：人參　香薷　半夏（薑製）　甘草（生）　砂仁　木瓜　赤茯苓　藿香　杏仁（炒去皮尖）　扁豆（炒）　厚朴（姜炒）</p>
<p>引用薑、棗，水煎服。</p>
<p>方歌　六合虛暑用人參，香薷半夏草砂仁，木瓜赤苓藿香杏，厚朴扁豆棗姜勻。</p>
<p>3.加味香薷飲：香薷　厚朴（姜炒）　陳皮　扁豆（炒）　山楂肉　豬苓　甘草（生）　枳實（麩炒）</p>
<p>水煎服。</p>
<p>方歌　加味香薷治夾食，香薷厚朴共陳皮，白扁豆配山楂肉，豬苓甘草炒枳實。</p>

<h2>暑風</h2>
<p>暑風抽搐似驚風，煩渴汗熱便黃紅，先用加味香薷飲方1）　，繼用玉露散方2）　即寧。</p>
<p>〔附方〕</p>
<p>1.加味香薷飲：香薷　黃連　扁豆（炒）　羌活　厚朴（姜炒）</p>
<p>引用燈心，水煎服。</p>
<p>方歌　加味香薷治暑風，香薷黃連扁豆同，厚朴姜炒羌活入，燈心煎服效從容。</p>
<p>2.玉露散</p>

<h2>暑厥</h2>
<p>暑厥昏眩不知人，氣虛挾痰上衝心，虛者清暑益氣方1）　治，挾痰益元方2）　抱龍方3）　均。</p>
<p>〔附方〕</p>
<p>1.清暑益氣湯：人參　黃耆（炙）　當歸（酒洗）　白朮（土炒）　甘草（炙）　陳皮　麥冬（去心）　五味子　青皮（炒）　蒼朮（炒）　黃柏（酒炒）　升麻　葛根　澤瀉　神麯（炒）</p>
<p>引用薑、棗，水煎服。</p>
<p>方歌　清暑益氣虛受暑，參耆歸術草陳皮，麥味青皮蒼朮柏，升葛澤瀉炒神麯。</p>
<p>2.辰砂益元散：辰砂（水飛，三錢）　滑石（水飛，六兩）　甘草（末，一兩）</p>
<p>每用一錢，姜燈心湯調勻合抱龍丸服。</p>
<p>3.抱龍丸：黑膽星（九轉者佳，四兩）　天竺黃（一兩）　雄黃（水飛）　辰砂（另研，各半兩）　麝香（另研，一錢）</p>
<p>上為細末，煮甘草膏和丸，皂莢子大，溫水化下。</p>

<h1>霍亂門</h1>

<h2>霍亂總括</h2>
<p>霍亂風寒暑飲成，卒然吐瀉腹心疼，飲暑盛兮濕霍亂，寒勝為干症不輕。</p>

<h2>濕霍亂</h2>
<p>吐瀉不已腹頻疼，口渴引飲胸悶膨，飲盛主以二香飲方1）　，暑盛益元散方2）　最靈。</p>
<p>〔附方〕</p>
<p>1.二香飲</p>
<p>2.辰砂益元散</p>

<h2>乾霍亂</h2>
<p>欲吐瀉之不吐瀉，腹中絞痛不能堪，煩渴大飲甘露飲，方1）　肢厥不渴理中方2）　煎。</p>
<p>〔附方〕</p>
<p>1.桂苓甘露飲：白朮（土炒）　茯苓　澤瀉　豬苓　肉桂（少許）　滑石（水飛）　寒水石　石膏</p>
<p>水煎服。</p>
<p>方歌　寒暑凝結霍亂成，桂苓甘露莫從容，白朮茯苓豬澤桂，膏滑寒水石相同。</p>
<p>2.理中湯</p>

<h1>痢疾門</h1>

<h2>痢疾總括</h2>
<p>痢疾暑濕生冷成，傷氣為白傷血紅，後重裡急腹窘痛，寒熱時痢噤口名。</p>

<h2>寒痢</h2>
<p>寒傷久痢臟虛寒，腸鳴切痛實難堪，面唇青白喜飲熱，理中方1）　養臟方2）　效通仙。</p>
<p>〔附方〕</p>
<p>1.理中湯</p>
<p>2.真人養臟湯：人參　白朮（土炒）　木香（煨）　肉桂　當歸（土炒）　白芍（炒）　罌粟殼（蜜炙）　訶子肉（麵煨去核）　肉果（煨）　甘草（炙）</p>
<p>引用烏梅，水煎服。</p>
<p>方歌　寒痢須用養臟湯，人參白朮廣木香，歸芍肉桂炙甘草，粟殼訶子肉果良。</p>

<h2>熱痢</h2>
<p>痢初實熱腹窘痛，下痢無度尿短紅，舌赤唇焦喜飲冷，芍藥方1）　白頭方2）　香連方3）　靈。</p>
<p>〔附方〕</p>
<p>1.當歸芍藥湯：當歸　白芍　木香　黃芩　黃連　肉桂　大黃　檳榔　甘草（生）</p>
<p>水煎服。</p>
<p>方歌　熱痢當歸芍藥湯，裡急後重服最良，歸芍木香芩連桂，大黃甘草共檳榔。</p>
<p>2.白頭翁湯：黃連　黃柏　秦皮　白頭翁</p>
<p>水煎服。</p>
<p>方歌　白頭翁湯治熱痢，腹中窘痛溺短赤，連柏秦皮白頭翁，煎服之後痢自愈。</p>
<p>3.香連丸：木香　川黃連（各等分）</p>
<p>為細末醋糊為丸如桐子大，量兒大小用之，空心米飲下。</p>

<h2>時痢</h2>
<p>時痢痢疾感時氣，發熱無汗遍身疼。熱為邪束因作嘔，倉廩湯方1）　散有奇功。</p>
<p>〔附方〕</p>
<p>1.倉廩湯：人參　茯苓　獨活　桔梗　前胡　川芎　羌活　柴胡　甘草（炙）　枳殼（麩炒）　倉米</p>
<p>引用生薑，水煎服。</p>
<p>方歌　時痢須用倉廩湯，參苓獨活桔梗良，前胡川芎炙甘草，枳殼倉米及柴羌。</p>

<h2>噤口痢</h2>
<p>火毒沖胃成噤口，脈大身熱不能食，舌赤唇紅惟飲冷，參連開噤散方1）　功奇。</p>
<p>〔附方〕</p>
<p>1.參連開噤散：人參　川連（姜炒）　蓮子肉（各等分）</p>
<p>為細末，米飲調下。</p>

<h1>瘧疾門</h1>

<h2>瘧疾總括</h2>
<p>瘧疾夏暑秋寒風，營衛合邪病始成，陰陽相併發寒熱，日間淺深作分明。</p>

<h2>寒瘧風瘧</h2>
<p>先寒後熱身無汗，此為寒瘧不須評。先熱後寒身有汗，此為風瘧須詳明。寒宜麻黃羌活方1）　劑，風惟桂枝羌活方2）　從。</p>
<p>〔附方〕</p>
<p>1.麻黃羌活湯：麻黃　羌活　防風　甘草（生）</p>
<p>引用生薑，水煎服。</p>
<p>方歌　麻黃羌活湯醫瘧，身體無汗寒熱增，麻黃羌活防風草，引姜煎服體安寧。</p>
<p>2.桂枝羌活湯：羌活　防風　桂枝　甘草（生）</p>
<p>引用生薑，水煎服。</p>
<p>方歌　桂枝羌活湯，治瘧豈尋常，羌活生甘草，防風桂枝良。</p>

<h2>食瘧</h2>
<p>食瘧寒熱腹脹膨，面黃惡食悶不通，輕者須用柴平方1）　劑，便硬加味大柴方2）　攻。</p>
<p>〔附方〕</p>
<p>1.柴平湯：陳皮　半夏（薑製）　蒼朮（米泔水浸炒）　厚朴（姜炒）　黃芩　柴胡　甘草　人參</p>
<p>引用薑棗，水煎服。</p>
<p>方歌　柴平湯治傷食瘧，陳半蒼朮同厚朴，黃芩柴胡草人參，薑棗作飲為良藥。</p>
<p>2.大柴胡湯</p>

<h2>瘧痰瘧飲</h2>
<p>瘧痰瘧飲多嘔逆，面黃目腫胸膈膨，痰盛清脾方1）　加橘半，飲盛加蒼倍入苓。</p>
<p>〔附方〕</p>
<p>1.加減清脾飲：柴胡　黃芩　半夏（薑製）　茯苓　甘草（炙）　厚朴（薑製）　青皮（醋炒）　檳榔　草果　人參　白朮（土炒）　橘紅　南蒼朮（炒）</p>
<p>引用生薑，水煎服。</p>
<p>方歌　清脾治瘧兼痰飲，柴芩半夏樸青榔，苓果氣虛參朮入，痰盛加橘飲盛蒼。</p>

<h1>咳嗽門</h1>

<h2>咳嗽總括</h2>
<p>肺病咳嗽有痰聲，有聲無痰咳之名，有痰無聲謂之嗽，為病寒熱食與風。</p>

<h2>肺寒咳嗽</h2>
<p>肺虛飲冷致咳嗽，面色㿠白痰涕清，聖惠橘皮方1）　宜初進，補肺阿膠方2）　久嗽靈。</p>
<p>〔附方〕</p>
<p>1.聖惠橘皮散：人參　貝母　蘇葉　陳皮　桔梗　杏仁（去皮尖炒）</p>
<p>引用紅棗，水煎服。</p>
<p>方歌　肺虛受寒頻咳嗽，橘皮散治效通仙，參貝蘇葉陳皮桔，杏仁微炒去皮尖。</p>
<p>2.補肺阿膠散：人參　阿膠（麩炒）　牛蒡子（炒）　馬兜鈴　杏仁（去皮尖，炒）　糯米　甘草（炙）</p>
<p>水煎，食後服。</p>
<p>方歌　小兒肺寒時時嗽，補肺阿膠效若神，人參阿膠牛蒡子，杏仁糯米草兜鈴。</p>

<h2>肺熱咳嗽</h2>
<p>火嗽面赤咽乾燥，痰黃氣穢帶稠黏，便軟加味瀉白散方1）　便硬加味涼膈方2）　煎。</p>
<p>〔附方〕</p>
<p>1.加味瀉白散：桑皮（蜜炙）　地骨皮　甘草（生）　桔梗　川貝母（去心碾）　麥冬（去心）　黃芩　知母（生）　薄荷</p>
<p>水煎服。</p>
<p>方歌　加味瀉白治火咳，桑皮地骨甘草合，貝母麥冬生知母，桔梗黃芩同薄荷。</p>
<p>2.涼膈散</p>

<h2>食積咳嗽</h2>
<p>食積生痰熱熏蒸，氣促痰壅咳嗽頻，便溏曲麥二陳方1）　治，便燥蘇葶滾痰方2）　攻。</p>
<p>〔附方〕</p>
<p>1.曲麥二陳湯：陳皮　半夏（薑製）　茯苓　甘草（生）　黃連（薑製）　山楂　麥芽（炒）　神麯（炒）　栝蔞仁　枳實（麩炒）</p>
<p>引用生薑、紅棗，水煎服。</p>
<p>方歌　曲麥二陳食積嗽，陳半苓草川黃連，山楂麥芽神麯炒，栝蔞枳實一同煎。</p>
<p>2.蘇葶滾痰丸：蘇子（炒，一兩）　苦葶藶（微炒，一兩）　大黃（酒蒸一次，四兩）　沉香（五錢）　黃芩（四兩）　青礞石（火煅如金為度，五錢）</p>
<p>上為末，水為丸，量兒虛實服之，薑湯送下。</p>

<h2>風寒咳嗽</h2>
<p>風寒咳嗽頻嚏涕，鼻塞聲重唾痰涎，疏風參蘇方1）　金沸散方2）　，散寒加味華蓋方3）　痊。</p>
<p>1.參蘇飲：蘇葉　乾葛　前胡　陳皮　半夏（薑製）　甘草（生）　枳殼（麩炒）　桔梗　赤茯苓</p>
<p>水煎服。</p>
<p>方歌　參蘇飲治風寒嗽，蘇葉乾葛前胡從，陳皮半夏生甘草，枳殼桔梗配赤苓。</p>
<p>2.金沸草散</p>
<p>3.加味華蓋散：麻黃　杏仁（去皮尖，炒）　蘇子（炒）　前胡　橘紅　甘草（生）　桑皮（炒）　桔梗　赤茯苓</p>
<p>水煎，食後溫服。</p>
<p>方歌　華蓋散治風寒盛，氣促胸滿咳嗽頻，麻杏蘇子前橘草，桑皮桔梗赤茯苓。</p>

<h1>喘證門</h1>

<h2>喘證總括</h2>
<p>喘則呼吸氣急促，抬肩欠肚哮有聲，實熱氣粗胸滿硬，寒虛痰飲馬脾風。</p>

<h2>火熱喘急</h2>
<p>火喘燥渴面唇紅，肺胃涼膈方1）　白虎方2）　清，瀉心宜用導赤散方3）　，陰虛知柏地黃方4）　靈。</p>
<p>〔附方〕</p>
<p>1.涼膈散</p>
<p>2.涼膈白虎湯：大黃（生）　朴硝　甘草（生）　梔子　黃芩（生）　連翹（去心）　薄荷葉　石膏（生）　知母（生）</p>
<p>引用粳米水煎，溫服。</p>
<p>方歌　涼膈白虎肺胃熱，梔子連翹薄荷葉，黃芩大黃朴硝草，知母石膏粳米列。</p>
<p>3.導赤散</p>
<p>4.知柏地黃湯：乾地黃　山茱萸肉　山藥（炒）　茯苓　知母（炒）　黃柏（鹽炒）　牡丹皮　澤瀉</p>
<p>水煎服。</p>
<p>方歌　知柏地黃陰虛熱，知母黃柏牡丹皮，乾生地黃並澤瀉，茯苓山藥共茱萸。</p>

<h2>肺虛作喘</h2>
<p>虛喘氣乏聲短澀，潔古黃耆湯　（方1）　效捷，百合固金方2）　化虛痰，本事黃耆方3）　清虛熱。</p>
<p>〔附方〕</p>
<p>1.潔古黃耆湯：人參　黃耆（炙）　甘草（炙）　地骨皮　桑白皮（炒）</p>
<p>水煎溫服。</p>
<p>方歌　潔古黃耆湯，虛喘最為良，人參黃耆共，甘草地骨桑。</p>
<p>2.百合固金湯：百合　天門冬　麥門冬（去心）　生地黃　熟地黃　當歸　白芍藥（炒）　甘草（生）　貝母（去心）　元參　桔梗</p>
<p>水煎服。</p>
<p>方歌　百合固金虛痰喘，百合二冬二地黃，當歸白芍生甘草，貝母元參桔梗良。</p>
<p>3.本事黃耆湯：五味子　白芍藥　天門冬　人參　麥門冬（去心）　黃耆（炙）　熟地黃　茯苓　甘草（炙）</p>
<p>引用烏梅、薑、棗，水煎服。</p>
<p>方歌　本事黃耆虛熱喘，五味芍藥二門冬，參耆熟地炙甘草，烏梅薑棗白茯苓。</p>

<h2>風寒喘急</h2>
<p>風寒傷肺氣喘急，表熱無汗華蓋方1）　方，肺虛被邪紫蘇飲方2）　，無邪氣逆降氣湯方3）　。</p>
<p>〔附方〕</p>
<p>1.加味華蓋散</p>
<p>2.紫蘇飲子：蘇葉　杏仁（炒去皮尖）　桑皮（炒）　陳皮　青皮（醋炒）　半夏（薑製）　人參　五味子　甘草（生）　麻黃</p>
<p>引用生薑，水煎服。</p>
<p>方歌　氣虛又被風寒傷，紫蘇飲子最相當，蘇葉杏桑陳青半，人參五味草麻黃。</p>
<p>3.蘇子降氣湯：蘇子（炒）　當歸　陳皮　前胡　半夏（薑製）　甘草（生）　厚朴（薑製）　桂心　沉香</p>
<p>引用薑、棗，水煎服。</p>
<p>方歌　氣逆喘用降氣湯，肺虛無邪服最良，蘇子當歸陳半草，前胡厚朴桂沉香。</p>

<h2>痰飲喘急</h2>
<p>痰飲壅逆因作喘，痰飲蘇葶滾痰方1）　從，停飲喘急不得臥，瀉飲降逆用蘇葶方2）　。</p>
<p>〔附方〕</p>
<p>1.蘇葶滾痰丸</p>
<p>2.蘇葶丸：南蘇子（炒）　苦葶藶子（微炒，各等分）</p>
<p>為細末，蒸棗肉為丸，如麻子大，每服五丸至七丸，淡薑湯下。</p>

<h2>馬脾風</h2>
<p>暴喘傳名馬脾風，胸高脹滿脅作坑，鼻竅煽動神悶亂，五虎方1）　一捻方2）　服最靈。</p>
<p>〔附方〕</p>
<p>1.五虎湯：麻黃（蜜炒）　杏仁（炒，去皮尖）　甘草（生）　白石膏（研為末）　細茶</p>
<p>引用生薑，水煎，臨時用藥沖石膏服。</p>
<p>方歌　五虎湯治馬脾風，麻黃蜜炒杏仁從，甘草石膏細茶葉，煎服之後喘自寧。</p>
<p>2.一捻金</p>

<h1>痰證門</h1>

<h2>痰證總括</h2>
<p>痰因津液不四布，陰盛為飲陽盛痰，稠黏黃色為燥熱，清稀色白乃濕寒。</p>

<h2>燥痰</h2>
<p>燥痰肺燥澀難出，氣逆喘咳臥不舒，面紅口乾小便赤，清氣化痰方1）　滾痰方2）　孚。</p>
<p>〔附方〕</p>
<p>1.清氣化痰丸：膽南星（九轉）　半夏（薑製，各一兩五錢）　橘紅　枳實（麩炒）　杏仁（炒，去皮尖）　栝蔞仁（去油）　黃芩（酒炒）　白茯苓（各一兩）</p>
<p>為細末，薑汁為丸，淡薑湯下。</p>
<p>2.蘇葶滾痰丸</p>

<h2>濕痰</h2>
<p>濕痰脾濕懶飲食，倦怠嗜臥面色黃，痰多枳桔二陳方1）　劑，飲多桂苓甘術湯方2）　。</p>
<p>〔附方〕</p>
<p>1.枳桔二陳湯</p>
<p>2.桂苓朮甘湯：茯苓　桂枝　甘草（生）　白朮（土炒）</p>
<p>引用生薑，水煎服。</p>
<p>方歌　桂苓甘術濕痰飲，除濕利飲更扶陽，茯苓桂枝生甘草，白朮土炒引生薑。</p>

<h1>疝證門</h1>

<h2>疝證總括</h2>
<p>諸疝厥陰任脈病，外因風寒邪聚凝，內因濕熱為寒鬱，證皆牽睪引腹疼。胎疝多因稟賦病，總審熱縱寒痛疼，血左不移氣右動，濕則墜重虛墜輕。</p>

<h2>寒疝</h2>
<p>寒濕內蓄日已深，覆被風冷水氣侵，囊冷硬痛成寒疝，烏頭桂枝方1）　金茱方2）　神。</p>
<p>〔附方〕</p>
<p>1.烏頭桂枝湯：桂枝　赤芍藥　甘草（炙）　烏頭</p>
<p>引用生薑，水煎服。</p>
<p>方歌　烏頭桂枝治寒疝，解表溫中法最良，廣桂枝同赤芍藥，烏頭甘草引生薑。</p>
<p>2.金茱丸：金鈴子肉（一兩）　吳茱萸（五錢）</p>
<p>共為細末，酒煮麵糊為丸，如麻子大，每服數丸，鹽湯下。</p>

<h2>濕熱感寒疝</h2>
<p>厚味過度生濕熱，復觸風寒疝氣成，囊縱紅腫常刺痛，烏頭梔子方1）　服即寧。</p>
<p>〔附方〕</p>
<p>1.烏頭梔子湯：烏頭　梔子（炒）</p>
<p>用順流水入薑汁煎服。</p>
<p>方歌　濕熱感寒疝氣疼，烏頭梔子湯最靈，梔子烏頭薑汁共，順流水煎病即寧。</p>

<h2>胎疝</h2>
<p>胎疝多因母過啼，兒生胞硬痛無時，輕用十味蒼柏方1）　治，重用金鈴方2）　川楝方3）　宜。</p>
<p>〔附方〕</p>
<p>1.十味蒼柏散：青皮（醋炒）　川附子（炮）　黃柏　益智仁　南山楂肉（酒炒）　蒼朮（米泔水浸）　香附（制）　元胡索（醋炒）　桃仁　甘草（炙）</p>
<p>引用小茴香水煎服。</p>
<p>方歌　十味蒼柏治胎疝，青皮川附柏楂蒼，香附益智元胡索，桃仁甘草引茴香。</p>
<p>2.金鈴散：三稜　莪朮（各三線）　陳皮　赤茯苓（各五錢）茴香（三錢）　甘草（生二錢）　檳榔　枳殼（麩炒，各三錢）　釣藤鉤　青皮（炒，各四錢）　南木香（三錢）　金鈴子肉（一兩）</p>
<p>上藥除檳榔、木香不過火，余焙共為細末，每服半錢至一錢，無灰酒調服。</p>
<p>3.川楝丸：木香　檳榔　三稜　莪朮（各三錢）　青皮（醋炒）　陳皮（各四錢）　川楝肉（八錢）　芫花（醋炒，五分）　辣桂（二錢）　牽牛（生取仁，二錢）　巴豆（去油，三粒）</p>
<p>上為極細末，麵糊為丸，如麻子大，每服三、四丸，薑湯送下。</p>

<h2>陰腫</h2>
<p>陰囊腫大邪氣凝，風癢濕墜熱多疼，疏風方1）　五苓方2）　導赤散方3）　偏墜守效丸方4）　最靈。</p>
<p>〔附方〕</p>
<p>1.疏風五苓散：防風　蒼朮（米泔水浸）　肉桂　羌活　豬苓　澤瀉　赤茯苓　白朮（土炒）</p>
<p>引用生薑，水煎服。</p>
<p>方歌　陰腫疏風五苓散，防風蒼朮肉桂羌，豬苓澤瀉赤苓朮，煎服之時入生薑。</p>
<p>2.加味五苓散：金鈴子　白朮（土炒）　澤瀉　木通　茴香（炒）　赤茯苓　橘核仁　肉桂　檳榔　豬苓</p>
<p>引用生薑、燈心，水煎服。</p>
<p>方歌　五苓散內用金鈴，白朮澤瀉與木通，茴香赤苓橘核配，肉桂檳榔合豬苓。</p>
<p>3.導赤散</p>
<p>4.加味守效丸：南星　山楂肉（酒炒）　蒼朮（炒，各二兩）　白芷　半夏（薑製）　橘核仁　神麯（炒，各一兩）　海藻　昆布（各五錢）　吳茱萸　青皮（醋炒）　元胡索（醋炒）　荔枝核（炒，各一兩）</p>
<p>共為末，神麯糊丸，如梧桐子大，每服三十丸，空心酒下。</p>

<h2>小腸氣</h2>
<p>痛引腰脊小腸氣，加味香蘇方1）　溫散宜，上衝心痛失笑散方2）　，有形胡蘆巴丸方3）　醫。</p>
<p>〔附方〕</p>
<p>1.加味香蘇散：蒼朮（米泔水浸）　陳皮　川楝肉　甘草　蘇葉　香附（醋炒）</p>
<p>引用蓮鬚、蔥白，水酒兌煎服。</p>
<p>方歌　加味香蘇散蒼朮，廣陳皮與川楝肉，甘草蘇葉香附同，蓮鬚蔥白共煎服。</p>
<p>2.加味失笑散：五靈脂　蒲黃（隔紙炒）　元胡索（醋炒，各等分）</p>
<p>為細末，每服一二錢，水酒調下。</p>
<p>3.胡蘆巴丸：胡蘆巴（炒）　川楝子（蒸去皮核焙，各四錢）　川烏（去皮臍）　巴戟肉（各一錢五分）　茴香（三錢）　吳茱萸（半酒半醋浸一宿焙，二錢五分）　牽牛（炒二錢）</p>
<p>共為細末，酒麵糊為丸，如梧桐子大，每服數丸，空心溫酒下。</p>

<h1>淋證門</h1>

<h2>淋證總括</h2>
<p>諸淋皆緣寒熱濕，下移膀胱溲無時，水道澀滯常作痛，寒熱石血隨證醫。</p>

<h2>寒淋</h2>
<p>冷氣入胞成寒淋，小便閉塞脹難禁，淋漓不斷腹隱痛，五苓方1）　倍桂小茴神。</p>
<p>〔附方〕</p>
<p>1.五苓散：白朮（土炒）　澤瀉　豬苓　赤茯苓　肉桂　小茴香</p>
<p>水煎服。</p>
<p>方歌　五苓治寒淋，白朮澤豬苓，肉桂加倍用，茴香赤茯苓。</p>

<h2>熱淋</h2>
<p>膀胱蓄熱淋證成，十味導赤方1）　有奇功，小腹脹滿大便結，急服八正方2）　莫少停。</p>
<p>〔附方〕</p>
<p>1.十味導赤湯：生地　山梔子　木通　瞿麥　滑石　淡竹葉　茵陳蒿　黃芩　甘草（生）　豬苓</p>
<p>水煎服。</p>
<p>方歌　十味導赤藥最靈，生地山梔合木通，瞿麥滑石淡竹葉，茵陳黃芩草豬苓。</p>
<p>2.八正散</p>

<h2>石淋</h2>
<p>濕熱蓄久石淋成，溲如沙石莖中疼，輕者須用葵子散方1）　，重則八正方2）　可相從。</p>
<p>〔附方〕</p>
<p>1.葵子散：桑皮（炒）　瞿麥　梔子　赤茯苓　木通　車前子　甘草（生）　葵子</p>
<p>水煎服。</p>
<p>方歌　葵子散治石淋證，桑皮翟麥山梔仁，赤苓木通車前子，甘草葵子共和勻。</p>
<p>2.八正散</p>

<h2>血淋</h2>
<p>血淋心熱傷血分，尿血同出莖中疼，清利須用小薊飲方1）　，莖中痛甚五淋方2）　從。</p>
<p>〔附方〕</p>
<p>1.小薊飲子：通草　滑石　淡竹葉　當歸　小薊　梔子（炒）　甘草（生）　生地　蒲黃　藕節</p>
<p>水煎，空心服。</p>
<p>方歌　小薊飲子治淋血，通草滑石淡竹葉，當歸小薊山梔甘，生地蒲黃合藕節。</p>
<p>2.五淋散：當歸　赤芍　苦葶藶　木通　黃芩（炒）　梔子　車前子　淡竹葉　滑石　葵子　甘草（生）　赤茯苓</p>
<p>引用蔥白，水煎服。</p>
<p>方歌　五淋血淋莖中疼，歸芍葶藶芩木通，梔子車前淡竹葉，滑石葵子草赤苓。</p>

<h1>頭痛門</h1>

<h2>頭痛總括</h2>
<p>小兒頭痛分表裡，里屬內熱表寒風，風寒外閉須疏散，內熱熏蒸以清攻。</p>

<h2>風寒頭痛</h2>
<p>風寒頭痛屬太陽，上及巔頂額角旁，惡寒無汗身發熱，加味清空方1）　自堪嘗。</p>
<p>〔附方〕</p>
<p>1.清空膏：羌活　防風　柴胡　川芎　黃芩　黃連　甘草（生）</p>
<p>引用生薑，水煎服。痛甚加細辛。便秘加大黃。</p>
<p>方歌　風熱上攻頭疼痛，加味清空膏最良，羌防柴芎芩連草，痛甚加辛便秘黃。</p>

<h2>內熱頭痛</h2>
<p>內熱頭痛屬陽明，鼻乾目痛齒頰疼，清熱加味茶調方1）　治，便秘加入大黃攻。</p>
<p>〔附方〕</p>
<p>1.加味茶調散：荊芥穗　薄荷　黃芩　青茶葉　石膏（生）　白芷　川芎</p>
<p>引用生薑，水煎服。便秘者加川大黃。</p>
<p>方歌　加味茶調治頭疼，胃經積熱上攻衝，荊穗薄荷芩茶葉，石膏生用芷川芎。</p>

<h1>腹痛門</h1>

<h2>腹痛總括</h2>
<p>小兒腹痛有四因，食寒蟲動痛相侵，停食感寒相兼痛，臨證醫治要詳分。</p>

<h2>食痛</h2>
<p>食痛傷食心胃痛，食入即痛喜飲涼，惡食腹滿吐便秘，承氣方1）　平胃方2）　酌量嘗。</p>
<p>〔附方〕</p>
<p>1.小承氣湯：大黃　枳實（麩炒）　厚朴（姜炒）</p>
<p>引用生薑，水煎服。</p>
<p>方歌　小承氣湯治腹痛，腹硬煩渴便不通，枳實厚朴大黃共，煎服便利立時松。</p>
<p>2.香砂平胃散：蒼朮（米泔水浸炒）　陳皮　甘草（炙）　厚朴（姜炒）　縮砂（研）　南山楂　香附（醋炒）　神麯（炒）　麥芽（炒）　枳殼（麩炒）　白芍（炒）</p>
<p>引用生薑，水煎服。</p>
<p>方歌　香砂平胃傷食痛，下後仍痛用此和，蒼陳樸草縮香附，山楂曲麥枳殼芍。</p>

<h2>寒痛</h2>
<p>寒痛中虛脾受寒，尿爪俱白麵青看，喜熱腹滿或下利，理中方1）　肢厥加附煎。</p>
<p>〔附方〕</p>
<p>1.理中湯</p>

<h2>蟲痛</h2>
<p>蟲痛不安腹因痛，面色乍青乍赤白，時痛時止吐清涎，安蟲方1）　理中方2）　治最合。</p>
<p>〔附方〕</p>
<p>1.錢氏安蟲散：胡粉（炒黃）　鶴蝨（炒黃）　白礬（枯）　川楝子（去皮尖，各二錢五分）</p>
<p>共為細末，每服一匙，大者五分，米飲調下，痛時服。</p>
<p>2.加減理中湯</p>

<h2>內食外寒腹痛</h2>
<p>內傷乳食外感寒，發熱惡寒腹痛兼，惡食嘔吐多啼叫，藿香和中方1）　可急煎。</p>
<p>〔附方〕</p>
<p>1.藿香和中湯：藿香　砂仁（研）　羌活　陳皮　蒼朮（米泔水浸）　厚朴（姜炒）　山楂　甘草（生）　香附（炙）　白芷　蘇葉　川芎</p>
<p>引用生薑，水煎服。</p>
<p>方歌　藿香和中治腹疼，內傷食滯外寒風，藿砂羌蒼陳樸草，山楂香附芷蘇芎。</p>

<h1>黃疸門</h1>

<h2>黃疸總括</h2>
<p>黃疸濕熱鬱蒸成，遍身皆黃及目睛，陽黃色亮身多熱，陰黃色暗冷如冰。</p>

<h2>陽黃</h2>
<p>陽黃無汗宜疏散，茵陳麻黃方1）　能發汗，腹滿便秘茵陳方2）　攻，表裡無證茵苓方3）　善。</p>
<p>〔附方〕</p>
<p>1.茵陳麻黃湯：茵陳蒿　麻黃</p>
<p>水煎，加黃酒少許服之。</p>
<p>方歌　兒發陽黃身無汗，茵陳麻黃湯極便，麻黃茵陳各等分，量兒煎服有奇驗。</p>
<p>2.茵陳蒿湯：茵陳蒿　川大黃　梔子</p>
<p>引用燈心，水煎服。</p>
<p>方歌　裡實須用茵陳湯，梔子茵陳生大黃，燈心為引水煎服，便利黃消體泰康。</p>
<p>3.茵陳五苓散：茵陳蒿　赤苓　豬苓　澤瀉　白朮（土炒）肉桂</p>
<p>引用燈心，水煎服。</p>
<p>方歌　茵陳五苓治黃病，利水除濕有奇功，術苓澤瀉豬苓桂，茵陳加入便自清。</p>

<h2>陰黃</h2>
<p>陰黃多緣轉屬成，脾濕腎寒兩虧生，溫脾茵陳理中方1）　治，溫腎茵陳四逆方2）　靈。</p>
<p>〔附方〕</p>
<p>1.茵陳理中湯（方見理中湯加茵陳）</p>
<p>2.茵陳四逆湯：附子（制）　乾薑　茵陳蒿　甘草（炙）</p>
<p>水煎服。</p>
<p>方歌　茵陳四逆湯，附子共乾薑，茵陳炙甘草，黃消病漸康。</p>

<h1>水腫門</h1>

<h2>水腫總括</h2>
<p>水腫俱屬脾肺經，肺喘脾脹要分明。上腫屬風宜汗散，下腫屬濕利水靈，通身腫者兼汗利，喘則逐飲脹則攻。再辨陽水與陰水，攻瀉溫補貴變通。</p>

<h2>風水腫</h2>
<p>腫在上者因風起，急宜發汗莫從容，越婢湯方1）　中加蒼朮，汗後全消病即寧。</p>
<p>〔附方〕</p>
<p>1.越婢湯：麻黃　石膏（煅）　甘草（生）　蒼朮（米泔水浸）</p>
<p>水煎服。</p>
<p>方歌　越婢湯治風水腫，麻黃甘草共石膏，再加蒼朮水煎服，能使兒童腫即消。</p>

<h2>濕水腫</h2>
<p>腫在下者因濕起，急宜利水可安然，外法貼臍方1）　如神妙，內服沉香琥珀丸方2）　。</p>
<p>〔附方〕</p>
<p>1.貼臍法：巴豆（去油四錢）　水銀粉（二錢）　硫黃（一錢）</p>
<p>共研勻成餅，先用新棉一片，包藥布臍上，外用帛縛時許，自然瀉下惡水，待下三、五次，去藥以粥補住。</p>
<p>2.沉香琥珀丸：苦葶藶子（一兩五錢）　郁李仁（去皮一兩五錢）　防己（七錢五分）　沉香（一兩五錢）　陳皮（去白，七錢五分）　琥珀（五錢）　杏仁（去皮尖，炒，五錢）　蘇子（五錢）　赤苓（五錢）　澤瀉（五錢）</p>
<p>共為細末，煉蜜為丸，如梧桐子大，以麝香為衣，每服一錢，量兒大小與之，用滾白水下。</p>

<h2>風濕腫</h2>
<p>通身皆腫屬風濕，外散內利最相宜。峻攻則用疏鑿飲方1）　，和劑茯苓導水方2）　醫。水上攻肺喘不臥，蘇葶方3）　定喘最相宜。水停中州脹急滿，舟車神祐方4）　量攻之。</p>
<p>〔附方〕</p>
<p>1.疏鑿飲子：商陸　秦艽　羌活　椒目　木通　赤小豆　茯苓皮　大腹皮　澤瀉　檳榔</p>
<p>引用姜皮，水煎服。</p>
<p>方歌　疏鑿飲子風濕腫，外發內利陸秦羌，椒目木通赤小豆，苓皮大腹澤檳榔。</p>
<p>2.茯苓導水湯：紫蘇　陳皮　白朮（土炒）　木香　桑白皮（炒）　麥冬（去心）　赤茯苓　澤瀉　木瓜　大腹皮　縮砂仁　檳榔</p>
<p>引用燈心，水煎服。</p>
<p>方歌　和解茯苓導水湯，紫蘇陳皮術木香，桑皮麥冬赤苓澤，木瓜大腹縮檳榔。</p>
<p>3.蘇葶丸</p>
<p>4.舟車神祐丸：甘遂　芫花　大戟（俱醋炒，各一兩）　大黃（一兩）　黑牽牛（頭末，四兩）　青皮（炒）　陳皮　木香　檳榔（各五錢）　輕粉（一錢）</p>
<p>上為細末，水丸如椒目大，小兒二丸、三丸，大兒五丸、七丸，量服之，滾白水送下。</p>

<h2>陽水</h2>
<p>陽水身熱脈沉數，小便赤澀大便難，熱盛煩渴浚川散方1）　，濕盛脹滿神祐丸方2）　,量兒大小斟酌用，應變而施勿一偏。</p>
<p>〔附方〕</p>
<p>1.大聖浚川散：川大黃（煨）　牽牛（取頭末）　郁李仁（各一兩）　木香（三錢）　芒硝（三錢）　甘遂（五分）</p>
<p>共為細末，薑湯調下，量兒大小用之。</p>
<p>2.舟車神祐丸</p>

<h2>陰水</h2>
<p>陰水便利不煩熱，須服實脾方1）　腎氣丸方2）　，若服溫補俱無驗，攻補兼施病始痊。</p>
<p>〔附方〕</p>
<p>1.實脾散：草果仁（研）　大腹皮　木瓜　茯苓　木香（研）　厚朴（姜炒）　乾薑　附子（制）　白朮（土炒）　甘草（炙）</p>
<p>引用棗二枚，水煎服。</p>
<p>方歌　實脾散治陰水腫，草果大腹木瓜香，厚朴姜附術苓草，虛者仍兼腎氣方。</p>
<p>2.金匱腎氣丸：熟地黃（一兩）　山藥（炒八錢）　山茱萸（八錢）　牡丹皮（五錢）　茯苓（一兩）　澤瀉（五錢）　肉桂（五錢）　淡附子（五錢）　車前子（五錢）　牛膝（八錢）</p>
<p>共為細末，煉蜜為丸，如梧桐子大，每服錢半，白滾水送下。</p>

<h1>腹脹門</h1>

<h2>腹脹總括</h2>
<p>腹脹脾虛因久病，胃實多由食滯停，補虛健脾兼理氣，攻食消導自然寧。</p>

<h2>虛脹</h2>
<p>久病脾虛失運健，或因吐瀉暴傷脾，食少即脹精神倦，面黃肌瘦四君方1）　宜。</p>
<p>〔附方〕</p>
<p>1.香樸四君子湯：人參　白朮（土炒）　白茯苓　甘草（炙）　香附（制）　厚朴（姜炒）</p>
<p>引用生薑，水煎服。</p>
<p>方歌　香樸四君治虛脹，參朮甘草共茯苓，香附厚朴宜加入，引姜煎服脹即寧。</p>

<h2>實脹</h2>
<p>飲食過度內傷胃，停滯腹脹便不通，潮熱煩渴形氣壯，平胃方1）　承氣方2）　施治靈。</p>
<p>〔附方〕</p>
<p>1.加味平胃散：南蒼朮（炒）　厚朴（姜炒）　大腹皮（制）　陳皮　甘草（生）　萊菔子（焙）　山楂　麥芽（炒）　神麯（炒）</p>
<p>引用生薑，水煎服。</p>
<p>方歌　加味平胃治實脹，蒼朮厚朴大腹皮，甘草陳皮萊菔子，山楂麥芽炒神麯。</p>
<p>2.小承氣湯</p>

<h1>發熱門</h1>

<h2>諸熱總括</h2>
<p>小兒有病多發熱，表裡虛實宜分別，觀形察色辨因由，審證切脈有妙訣，表證須汗里下之，虛則宜補實則瀉，平昔體認要精詳，方得臨時無遺闕。</p>

<h2>表熱</h2>
<p>表熱之證因外感，脈浮發熱惡風寒，頭痛身疼而無汗，十神方1）　通聖方2）　表為先。</p>
<p>〔附方〕</p>
<p>1.十神湯：升麻　葛根　麻黃　蘇葉　香附（醋炒）　陳皮　赤芍藥　川芎　香白芷　甘草（生）</p>
<p>引用生薑，水煎服。</p>
<p>方歌　十神湯治表熱證，升麻乾葛共麻黃，香附陳皮蘇葉芍，芎芷甘草引生薑。</p>
<p>2.雙解通聖湯</p>

<h2>裡熱</h2>
<p>裡熱之證因內熱，遍身蒸熱小便紅，面赤唇焦舌燥渴，調胃方1）　白虎方2）　解毒方3）　清。</p>
<p>〔附方〕</p>
<p>1.調胃承氣湯：大黃　芒硝　甘草</p>
<p>引用生薑，水煎服。</p>
<p>方歌　調胃承氣治裡熱，大黃甘草共芒硝，引用生薑水煎服，大便通利熱自消。</p>
<p>2.白虎湯：石膏〔煅（按：石膏生用為宜）〕　知母（生）　甘草（生）　粳米</p>
<p>水煎服。</p>
<p>方歌　胃熱白虎湯，知母生用良，石膏合甘草，粳米共煎嘗。</p>
<p>3.黃連解毒湯：黃芩　黃連　梔子　黃柏</p>
<p>水煎服。</p>
<p>方歌　黃連解毒湯，清熱效非常，芩連梔子柏，煎服保安康。</p>

<h2>虛熱</h2>
<p>虛熱病後營衛弱，神倦氣乏用補中方1）　,嘔渴竹葉石膏方2）　治，面赤尿白厥白通方3）　。</p>
<p>〔附方〕</p>
<p>1.補中益氣湯</p>
<p>2.竹葉石膏湯：竹葉　石膏〔煅（按：石膏生用為宜）〕　人參　粳米　麥冬（去心）　甘草（生）　半夏（薑製）</p>
<p>引用生薑，水煎服。</p>
<p>方歌　病後虛熱煩渴嘔，皆因氣弱胃津亡，竹葉石膏參麥草，半夏粳米共生薑。</p>
<p>3.白通湯：乾薑　附子（制）　蔥</p>
<p>水煎服。</p>
<p>方歌　虛熱原於陰格陽，真寒假熱白通湯，散寒姜附蔥白莖，厥回熱退自然康。</p>

<h2>實熱</h2>
<p>實熱積熱午潮熱，腹脹尿紅大便難，煩渴口瘡腮頰赤，涼膈方1）　大柴方2）　效通仙。</p>
<p>〔附方〕</p>
<p>1.涼膈散</p>
<p>2.大柴胡湯</p>

<h1>積滯門</h1>
<p><u>（原書卷次第五十五）</u></p>

<h2>積滯總括</h2>
<p>小兒養生食與乳，撙節失宜積滯成，停乳傷食宜分晰，因證調治保安寧。</p>

<h2>乳滯</h2>
<p>嬰兒乳滯睡不安，多啼口熱吐驚煩，肚脹腹熱便酸臭，慎攻宜用消乳丸方1）　。</p>
<p>〔附方〕</p>
<p>1.消乳丸</p>

<h2>食滯</h2>
<p>小兒食滯任意餐，頭溫腹熱便膿酸，噯氣惡食煩作渴，大安方2）　承氣方3）　審宜先。</p>
<p>〔附方〕</p>
<p>1.木香大安丸：木香　黃連　陳皮　白朮（土炒）　枳實（麩炒）　山楂肉（各三錢）　連翹（去心，二錢）　神麯（炒）　麥芽（炒，各三錢）　砂仁　萊菔子（焙，各二錢）</p>
<p>上為細末，神麯糊為丸，每服一錢，陳倉米湯下。</p>
<p>2.小承氣湯</p>

<h1>癖疾門</h1>
<p><u>（原書卷次第五十五）</u></p>

<h2>癖疾總括</h2>
<p>癖疾過食腸胃滿，濁液外溢被寒凝，潮熱飲冷肌削瘦，腹滿硬塊面青黃。</p>

<h2>癖疾</h2>
<p>癖疾潮熱渴飲冷，肚大青筋堅硬疼，內服消癖方1）　木香方2）　效，外貼紅花膏方3）　最靈。</p>
<p>〔附方〕</p>
<p>1.千金消癖丸：蘆薈　阿魏（另為糊）　青黛　木香　厚朴（姜炒）　檳榔　陳皮　甘草（生，各一錢）　使君子（去殼）　胡黃連　山楂肉　香附（醋炒）　三稜（醋炒）　莪朮（醋炒，各二錢）　水紅花子　神麯（炒）　麥芽（炒，各四錢）　人參　白朮（土炒）　茯苓（各三錢）</p>
<p>上為細末，將阿魏一錢，白水和麵，打糊為丸，綠豆大，米飲下，量兒大小服之。</p>
<p>2.木香丸：木香　蓬莪朮　縮砂仁　青皮　硃砂（研細各二錢）</p>
<p>共為細末和勻，飛白麵糊和丸，麻子大，每服二、三丸，乳傷乳飲下，食傷以所傷物熬湯下。</p>
<p>3.紅花膏：沒藥（五錢）　血竭　麝香　阿魏（各三錢）　當歸　赤芍（各一線）　水紅花料（一捆煎汁去渣熬膏一碗）。</p>
<p>共為細末，入膏內攪勻，以青布攤貼患處。</p>

<h1>汗證門</h1>
<p><u>（原書卷次第五十五）</u></p>

<h2>汗證總括</h2>
<p>自汗屬陽有虛實，或因胃熱或表虛，睡中盜汗為陰弱，心虛血熱隨證醫。</p>

<h2>自汗</h2>
<p>表虛自汗玉屏風，甚者桂枝加附從，裡實自汗用白虎，便秘調胃承氣攻。</p>
<p>〔附方〕</p>
<p>1.玉屏風散：黃耆（蜜炙）　防風　白朮（土炒）</p>
<p>水煎服。</p>
<p>方歌　表氣虛弱時自汗，玉屏風治頗相宜，黃耆防風炒白朮，水煎溫服不拘時。</p>
<p>2.桂枝加附子湯：白芍藥　桂枝　甘草（炙）　附子（制）</p>
<p>引用薑棗，水煎服。</p>
<p>方歌　表氣虛弱甚，桂枝湯最良，芍藥桂枝草，加附病漸康。</p>
<p>3.白虎湯</p>
<p>4.調胃承氣湯</p>

<h2>盜汗</h2>
<p>心虛盜汗睡多驚，酸棗仁湯方1）　服即寧，心火傷陰必煩熱，當歸六黃湯方2）　奏功。</p>
<p>〔附方〕</p>
<p>1.酸棗仁湯：當歸　白芍（炒）　生地　茯苓　酸棗仁（炒）　知母（炒）　黃柏（炒）　五味子　人參　黃耆（炙）</p>
<p>水煎服。</p>
<p>方歌　酸棗仁湯治盜汗，陽不能藏陰本虛，歸芍生地茯苓棗，知柏五味共參耆</p>
<p>2.當歸六黃湯：當歸　生地黃　熟地黃　黃芩　黃柏　黃連　黃耆（炙）</p>
<p>引用浮麥，水煎服。</p>
<p>方歌　當歸六黃治盜汗，陽盛陰傷液自流，生熟二地芩連柏，歸耆浮麥汗能收。</p>

<h1>失血門</h1>
<p><u>（原書卷次第五十五）</u></p>

<h2>失血總括</h2>
<p>陰乘陽熱血妄行，血犯氣分不歸經，血病及腑滲濁道，傷於臟者溢出清，熱犯陽絡上吐衄，熱侵陰絡下失紅，又有努勞成血病，血止仍嗽勢多凶。</p>

<h2>衄血</h2>
<p>衄血之候鼻乾燥，身熱不渴苦頭疼，失表分汗麻方1）　桂方2）　治，內熱犀角方3）　瀉心方4）　清。</p>
<p>〔附方〕</p>
<p>1.麻黃湯：麻黃　杏仁（炒去皮尖）　桂枝　甘草（生）</p>
<p>引用生薑，水煎服。</p>
<p>方歌　傷寒失表營鬱熱，身熱無汗血妄行，須用麻黃湯調治，桂枝麻黃杏草同。</p>
<p>2.桂枝湯：桂枝　芍藥　甘草（炙）　生薑　大棗</p>
<p>水煎服。</p>
<p>3.犀角地黃湯：牡丹皮　白芍藥　犀角　生地黃</p>
<p>水煎服，便硬者加川大黃。</p>
<p>方歌　犀角地黃湯，治衄效非常，丹皮芍犀地，便秘加大黃。</p>
<p>4.四物三黃瀉心湯：川芎　當歸（酒洗）　生地黃　赤芍藥　黃芩　黃連　川大黃（酒洗）</p>
<p>水煎服。</p>
<p>方歌　四物三黃瀉心湯，熱盛吐衄功最良，芎歸生地赤芍藥，黃芩黃連川大黃。</p>

<h2>吐血</h2>
<p>吐血不咳因熱逆，若兼咳嗽努勞傷，內熱犀角地黃方1）　治，努傷承氣方2）　四物方3）　嘗，勞傷有熱雞蘇散方4）　,無熱須用救肺方5）　良。</p>
<p>〔附方〕</p>
<p>1.犀角地黃湯</p>
<p>2.桃仁承氣湯：桃仁（去皮尖研）　大黃　芒硝　甘草　桂枝　加當歸、芍藥、蘇木、紅花。</p>
<p>水煎服。</p>
<p>方歌　努傷吐血先破逐，桃仁承氣湯絕妙，桃仁黃硝草桂枝，加入歸芍蘇紅捷。</p>
<p>3.加味四物湯：當歸　芍藥　川芎　生地黃　茅根　蒲黃　牡丹皮　甘草（生）　梔子（炒黑）</p>
<p>引用藕節，酒水煎服。</p>
<p>方歌　努傷吐血須活血，四物為主真妙訣，再加茅根與蒲黃，丹皮梔草引藕節。</p>
<p>4.雞蘇散：雞蘇　薄荷葉　川貝母（去心）　麥門冬（去心）　桔梗　阿膠（蛤粉炒）　生地黃　甘草（生）　黃耆（炙）　白茅根　蒲黃（炒）</p>
<p>水煎服。</p>
<p>方歌　勞傷有熱嗽痰血，雞蘇貝母麥門冬，桔梗阿膠生地黃，黃耆茅根蒲黃同。</p>
<p>5.加味救肺散：麥冬（去心）　人參　黃耆（炙）　鬱金　五味子　當歸（酒洗）　白芍藥（酒炒）　川貝母（去心研）　甘草（炙）　馬兜鈴</p>
<p>水煎服。</p>
<p>方歌　勞傷無熱嗽痰血，加味救肺麥門冬，參耆鬱金五味子，歸芍貝母草兜鈴。</p>

<h2>便血</h2>
<p>熱傷陰絡病便血，臟毒血黯腸風紅，須辨腹痛肛腫痛，熱盛濕盛要分明。臟毒初起腫痛甚，大黃皂刺方1）　莫稍停，熱盛俱宜槐花散方2）　，濕盛平胃地榆方3）靈，日久脈微氣血弱，升陽和血方4）　共養榮方5）　。</p>
<p>〔附方〕</p>
<p>1.皂刺大黃湯：皂刺　生川大黃（各等分）</p>
<p>量小兒年歲大小虛實，酌其多少，水酒煎服。</p>
<p>2.槐花散：槐花（炒）　側柏葉　枳殼（麩炒）　川黃連　荊芥穗（炒）</p>
<p>水煎服，臟毒加蒼朮、苦楝；腸風加秦艽、防風。</p>
<p>方歌　臟毒腸風槐花散，黃連枳殼槐柏荊，臟毒蒼朮苦楝入，腸風須加艽防風。</p>
<p>3.平胃地榆湯：蒼朮（炒）　陳皮　厚朴（姜炒）　甘草　地榆</p>
<p>引用生薑，水煎服。</p>
<p>方歌　便血濕盛腹不痛，須用平胃地榆湯，蒼朮陳皮厚朴草，地榆同煎引生薑。</p>
<p>4.升陽和血湯：黃耆（炙）　當歸（酒洗）　白芍（炒）　牡丹皮　陳皮　肉桂　秦艽　生地黃　熟地黃　生甘草　炙甘草　蒼朮（炒）　升麻</p>
<p>水煎服。</p>
<p>方歌　下血日久腹中痛，治宜升陽和血湯，二地二草耆歸芍，陳丹秦艽升桂蒼。</p>
<p>5.人參養榮湯：人參　黃耆（炙）　白朮（土炒）　白茯苓　白芍藥（炒）　肉桂　熟地黃　當歸（酒洗）　甘草（炙）　陳皮</p>
<p>引用薑棗，水煎服。</p>
<p>方歌　失血日久氣血虛，人參養榮湯頗宜，參耆朮草白芍桂，地黃當歸草陳皮。</p>

<h2>溺血</h2>
<p>溺血多緣精竅病，尿血分出莖或疼，牛膝四物湯方1）　調治，急宜煎服效從容。</p>
<p>〔附方〕</p>
<p>1.牛膝四物湯：牛膝　木通　鬱金　甘草梢　瞿麥　當歸　川芎　生地黃　赤芍藥</p>
<p>水煎服。</p>
<p>方歌　小兒溺血精竅病，宜用牛膝四物湯，牛膝鬱金通瞿草，歸芍赤芍生地黃。</p>

<h1>雜證門</h1>

<h2>二便秘結</h2>
<p>小兒熱結二便秘，口渴舌乾唇面紅，八正方1）　尿秘少腹滿，神芎方2）　便秘腹脹疼。</p>
<p>〔附方〕</p>
<p>1.八正散</p>
<p>2.神芎丸：大黃　滑石（水飛，各一兩）　薄荷　川芎（各四錢）　黃芩　黃連（生，各五錢）　牽牛（四錢）</p>
<p>共為細末，滴水為丸，每服五丸，蜜湯化下。</p>

<h2>氣虛脫肛</h2>
<p>瀉痢日久中氣陷，肛松腸薄滑而脫，面色青黃指梢冷，脈來沉細唇淡白。補中益氣湯方1）　升舉，真人養臟方2）　固滑脫，外用澀腸散方3）　調敷，氣升肛澀腸自合。</p>
<p>〔附方〕</p>
<p>1.補中益氣湯</p>
<p>2.真人養臟湯</p>
<p>3.澀腸散：訶子　赤石脂　龍骨（煅，各等分）</p>
<p>共為細末，用臘茶調敷，和藥摻腸頭上，綿帛揉入。</p>

<h2>肛腫翻肛</h2>
<p>積熱肛腫大便難，努力肛出翻不還，外用蟠龍散方1）　消腫，內宜皂刺大黃方2）　煎。</p>
<p>〔附方〕</p>
<p>1.曾氏蟠龍散：乾地蟠龍（略去土，焙，一兩）　風化硝（二錢）</p>
<p>上銼研為細末，仍和勻朴硝，每以二錢至三錢，肛門濕潤者干塗，乾燥者用清油調塗，先用荊芥、生蔥煎水，候溫洗浴，輕與拭乾，然後敷藥。</p>
<p>2.皂刺大黃湯</p>

<h2>龜胸</h2>
<p>肺積痰熱病龜胸，胸骨高聳若龜形，氣急喘咳體羸瘦，寬氣方1）　百合方2）　酌量行。</p>
<p>〔附方〕</p>
<p>1.寬氣飲：杏仁（去皮尖炒）　桑白皮（炒）　橘紅　蘇子（炒）　枳殼（麩炒）　枇杷葉（蜜炙）　麥門冬（去心）　生甘草　苦葶藶</p>
<p>水煎服。</p>
<p>方歌　寬氣飲治兒龜胸，杏仁桑皮合橘紅，蘇子枳殼枇杷葉，甘草葶藶麥門冬。</p>
<p>2.百合丹：百合　天門冬　杏仁（去皮尖，炒）　木通　桑白皮（炒）　甜葶藶　石膏（各五錢）　大黃（三錢）</p>
<p>共為細末，煉蜜為丸如綠豆大，量兒大小服之，臨臥滾白水送下。</p>

<h2>龜背</h2>
<p>龜背坐早被風吹，傴僂背高狀如龜，內服松蕊丹方1）　緩治，外用灸法點龜尿。</p>
<p>〔附方〕</p>
<p>1.松蕊丹：松花　枳殼（麩炒）　防風　獨活（各一兩）　麻黃　前胡　川大黃（生）　桂心（各五錢）</p>
<p>共為細末，煉蜜為丸，如黍米大，每服十丸，粥飲送下。</p>
<p>附：取龜尿法</p>
<p>用龜放在荷葉上，用鏡子照之，其尿自出。</p>

<h2>五軟</h2>
<p>五軟稟賦不足證，頭項手足口肉肌，地黃丸方1）　與扶元散方2）　，全在後天調養宜。</p>
<p>〔附方〕</p>
<p>1.補腎地黃丸：熟地黃（一兩五錢）　山萸肉（一兩）　懷山藥（炒）　茯苓（各八錢）　牡丹皮　澤瀉（各五錢）　牛膝（八錢）　鹿茸（酥炙，五錢）</p>
<p>共為細末，煉蜜丸，如梧桐子大，每服一錢，用鹽湯下。</p>
<p>2.扶元散：人參　白朮（土炒）　茯苓　熟地黃　茯神　黃耆（蜜炙）　山藥（炒）　炙甘草　當歸　白芍藥　川芎　石菖蒲</p>
<p>引用薑、棗，水煎服。</p>
<p>方歌　五軟扶元散堪嘗，參朮茯苓熟地黃，茯神黃耆山藥草，歸芍川芎及石菖。</p>

<h2>五硬</h2>
<p>陽氣不營成五硬，仰頭取氣難搖動，手足強直冷如冰，氣壅胸膈牽連痛。小續命湯方1）　最為良，烏藥順氣散方2）　極應，若遇肝木乘脾經，加味六君方3）　妙無竟。</p>
<p>〔附方〕</p>
<p>1.小續命湯：人參　麻黃　川芎　黃芩　芍藥　甘草（炙）　防風　官桂（去皮）　附子（泡去皮臍）　杏仁（炒去皮尖）　漢防己</p>
<p>引用薑、棗，水煎服。</p>
<p>方歌　小續命湯治五硬，人參麻黃川芎共，黃芩芍藥草防風，官桂附子防己杏。</p>
<p>2.烏藥順氣散：麻黃　白芷　川芎　桔梗　枳殼（炒）　殭蠶（炒）　烏藥　炮姜　甘草（生）　橘紅</p>
<p>引用蔥白，水煎服。</p>
<p>方歌　烏藥順氣五硬輕，麻黃白芷合川芎，桔梗枳殼殭蠶炒，烏藥炮姜草橘紅。</p>
<p>3.加味六君子湯：人參　白朮　炮姜　陳皮　半夏（制）　茯苓　炙甘草　肉桂　升麻（蜜炙）　柴胡（醋炒）</p>
<p>方歌　加味六君虛五硬，人參白朮共炮姜，陳半茯苓炙甘草，升麻柴胡肉桂良。</p>

<h2>五遲</h2>
<p>小兒稟來氣血虛，筋骨軟弱步難移，牙齒不生髮疏薄，身坐不穩語言遲。加味地黃方1）　為主治，補中益氣方2）　繼相醫，邪乘心氣菖蒲方3）　好，血虛發遲苣勝方4）　宜。</p>
<p>〔附方〕</p>
<p>1.加味六味地黃丸：熟地黃（一兩）　山萸肉（一兩）　懷山藥（炒）　茯苓（各八錢）　澤瀉　牡丹皮（各五錢）　鹿茸（炙三錢）　五加皮（五錢）　麝香</p>
<p>共為細末，煉蜜丸如梧桐子大，大兒每服二錢，小兒一錢五分，鹽湯送下。</p>
<p>2.補中益氣湯</p>
<p>3.菖蒲丸：人參　石菖蒲　麥門冬（去心）　遠志（去心）　川芎　當歸（酒洗）　乳香　硃砂（水飛，各一錢）</p>
<p>共為細末，煉白蜜為丸，如黍米大，食遠用米湯送下。</p>
<p>4.苣勝丹：當歸　生地黃（洗焙）　白芍藥（炒，各一兩）　苣勝子（碾，二兩）　胡粉（碾，三錢）</p>
<p>同研勻，煉蜜為丸，如黍米大，每服十粒，煎黑豆湯下。</p>

<h2>鶴膝風</h2>
<p>小兒稟賦不充盈，肌肉削瘦少崢嶸，膝骨外露如鶴膝，多緣腎弱髓難生，血脈不榮筋攣縮，膝貯風涎時作疼，大防風湯方1）　宜先服，地黃方2）　繼進莫從容。</p>
<p>〔附方〕</p>
<p>1.大防風湯：人參　白朮（土炒）　茯苓　甘草（炙）　熟地黃　當歸身　白芍藥（炒）　川芎　黃耆（蜜炙）　羌活　防風　杜仲　附子（制）　牛膝</p>
<p>引用薑、棗，水煎服。</p>
<p>方歌　大防風湯八珍耆，羌防附子杜仲移，榮筋更有川牛膝，虛風鶴膝最相宜。</p>
<p>2.補腎地黃丸</p>

<h2>解顱</h2>
<p>小兒解顱最堪憐，先天有損腦髓干，面色㿠白形瘦弱，二目多白若愁煩。補腎地黃丸方1）　堪服，補陽扶元散方2）　為先，更有封囟散方3）　極效，臨時攤貼保安然。</p>
<p>〔附方〕</p>
<p>1.補腎地黃丸</p>
<p>2.扶元散</p>
<p>3.封囟散：柏子仁　防風　天南星（各四兩）</p>
<p>為細末，每用一錢，以豬膽汁調勻，攤在緋絹帛上，看囟大小剪貼，一日一換，不得令乾，時時以湯潤動。</p>

<h2>囟陷</h2>
<p>小兒緣何囟下陷，瀉久脾虧虛弱見，面目青黃四肢涼，六脈沉緩神慘淡。補中益氣湯方1）　最宜，固真湯方2）　進有奇驗，外用烏附膏方3）　攤貼，溫中理脾功無限。</p>
<p>〔附方〕</p>
<p>1.補中益氣湯</p>
<p>2.固真湯</p>
<p>3.烏附膏：雄黃（二錢）　川烏　附子（生，各五錢）</p>
<p>上為細末，用生蔥和根葉細切，杵爛入前藥末，同煎作成膏，每早空心貼陷處。</p>

<h2>囟填</h2>
<p>囟門腫起氣上衝，其間虛實要分明，毛髮憔悴頻頻汗，胸高氣促口唇紅。肝盛瀉青丸方1）　最效，裡熱連翹飲方2）　堪行，因表防風升麻方3）　劑，硬冷屬陰用理中方4）　。</p>
<p>〔附方〕</p>
<p>1.瀉青丸</p>
<p>2.大連翹飲：柴胡　荊芥　連翹（去心）　木通　滑石（水飛）　梔子　蟬蛻（去足翅）　瞿麥　當歸（酒洗）　赤芍藥　黃芩　甘草（生）　防風</p>
<p>水煎服。</p>
<p>方歌　連翹飲治熱上衝，柴胡荊芥翹木通，滑石梔子蟬瞿麥，歸芍黃芩草防風。</p>
<p>3.防風升麻湯：麥冬（去心）　木通　甘草節　山梔　升麻　防風</p>
<p>引用淡竹葉，水煎服。</p>
<p>方歌　防風升麻湯，囟填效非常，麥冬木通草，山梔升麻防。</p>
<p>4.理中湯</p>

<h2>中惡</h2>
<p>小兒神氣未充實，觸惡何能自主持，目閉面青驚悶亂，蘇合方1）　皂角功效奇。</p>
<p>〔附方〕</p>
<p>1.蘇合香丸</p>
