<header data-type="book">
<h1>雜病治例</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>劉純</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1408">公元1408年</data></dd></div>
<div><dt>底本</dt><dd>江戶抄本（<a href="https://www.digital.archives.go.jp/file/1076429">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>書《玉機微義》後</h1>
<p>昔陸宣公罷相，嘗集方書以仁乎人，想見其施於當國秉政之日，而被其澤者，又何可勝既也耶。此醫道所以取重於今昔大人君子者，詎非以其理與造化者參，而有斡旋橐籥之功也。《玉機微義》一書，輯於會稽徐彥純，成於吳陵劉宗厚，考據議論，精密詳備，實醫道之菽粟布帛不可無者，二君子用心亦勞矣。此書稿雖存，未行於世，故知之者鮮。姑蘇都憲陳公奉命來鎮陝石，於宗厚家得之，始命壽梓，晦而復顯。少師大學士西昌楊先生，喜而作文序其事，真為此書之榮幸，名今傳後無疑也。暇日，予與二三僚友，得以盡閱其書。間有魯魚亥豕之訛，固責在承命者之不謹，且有辜負都憲之雅意，亦不足以副少師先生恭體仁民愛物之心矣。仍取原稿校讎，凡字意差謬者，釐而正之，庶俾後之學者無惑焉。敬書贅其後云。</p>
<p><u>時正統庚申春二月望日陝西等處承宣布政使司右布政使會稽王暹書左布政使郭堅等同校</u></p>

<h1>序</h1>
<p>予自髫年入郡庠，讀書之餘，有志醫術。又恐工夫分用，急務相妨。竊嘆此術，自為之固不及，若得前聞人良方錄傳，不惟及於一家一國，且遍於天下而傳於後世，豈不愈於身親為之者耶?博訪旁求，累月經年，無可意者。迨舉天順己卯鄉試，乙未中進士，觀政戶部，奉命給賞甘州官軍。甘州，即漢張掖酒泉郡也。而名醫劉宗厚，□□□□□□□□□神方妙術，猶有存者。乃延其後人，禮貌之，懇求之，慨然以《太素脈訣》、《雜病治例》見與。予如獲隨珠趙壁，喜不自勝。連日檢閱研究，知其切脈辨證，療病用藥，深有奧妙，綽有法度。救急扶危，起死回生，與夫吉凶貴賤，亦占於此。即欲板行，則力又不及焉。今幸以菲材來尹應天之上元，遂捐俸資，以賞夙願，且序其得之由。噫，儒先有云：一命之士，苟存心於愛物，於人必有所濟。予讀儒書，叨承上命，而為民牧，敢不以濟人利物為心乎?是書之行，多人得之，不啻記里車之有所憑。因訣察理，循例治病，其濟利豈淺淺哉。</p>
<p><u>成化己亥歲秋七月既生魄賜進士第知上元縣事長安蕭謙書</u></p>

<h1>蘭室集·醫家十要</h1>
<p>一、每日勤讀醫書，手不釋卷，倘有良友，常宜請益。蓋學海無盡，此乃務本之計。</p>
<p>一、早起晏眠，不可片時離店中。凡有抱病者至，必親自診視，用心發藥，莫仍前，只靠郎中，惟務安閒。蓋一日之計在於寅，一生之計在於勤。</p>
<p>一、照彼中鄉原立價，一則有益於己，二則同道不怪。仍可饒藥，不可減價。諺云：不怕你賣，只怕你壞。</p>
<p>一、行醫及開首發藥，當依經方寫出藥貼，不可杜撰藥名，胡寫秘方，受人駁問。</p>
<p>一、不可輕信人言，求為學官。蓋爾隻身年幼，難以支持，恐因虛名，而妨實利也。</p>
<p>一、同道中切宜謙和，不可傲慢於人。年尊者恭敬之，有學者師事之。倘有醫頭，但當義讓，不可攘奪，致招怨謗。經云：禮之用，和為貴。</p>
<p>一、男治乎外，女治乎內，人之常也。家中事務，錢物出入，當令閫政掌管，庶可積蓄。仍置收支工作薄，以憑照用。倘有餘，則辨首飾器皿，以備緩急。不可收買玩具，及不急什財，浪費錢財。</p>
<p>一、鄰友人情，除親喪、疾病、慶賀隨眾外，其餘無緊要者當已之。一則省錢，二則不廢生理。至於饋送之禮尚往來，不可求奇好勝。古人有云：廣求不如儉用。</p>
<p>一、郎中磨作，量其所入，可用幾人。莫言人多好看，工價雖廉，食用甚貴。</p>
<p>一、開筵會客，命妓作樂，非不美也。當有故而為之，量力而行之。若不守本業，惟務宴逸，其窘可待矣。及有行院干謁，送至茶筆扇帕之類，初焉便不可接，當贈湯藥一二帖，連物回還，自然絕其後患，若圖風流之報。故《太上經》曰：樂與餌，過客止。宜細末之。</p>
<p>上前十說，皆丹溪先生誨子修身齊家之節要，故直言而不文。當置之座隅，朝夕一覽。倘能遵而行之，則可成家立業。若不聽信，必有飢寒凍餓之憂，進退而難，悔將何及矣。</p>

<h1>蘭室誓戒</h1>
<p>一、醫事本吾儒之餘事，可以濟物，患難中可以防身。古人云，養道而已。切不可恃意妄為穿鑿，與人為治，誤人生命，不惟禍及自身，殃墮九祖爾。但以活人之心為心，本於因民之所利而利之，一則生意自有，二則禍患自無也。</p>
<p>一、吾宗累世簪纓名門右族，吾父橘泉翁始從丹溪朱彥修學此術，患難中實得濟。余又得從鄉先生馮庭干、許宗魯、丘克容數君子印正，方始道明藝精。但以因虛名，多受權要捃摭。後吾子孫，遇道行時，仍守儒業可也。</p>
<p>一、此集本求古人為治之法，如指諸掌，可以見法例之變無窮，病證之機不一，諄諄求究，藏為家寶，切不可示人，傳諸不道不義之士。</p>
<p>一、傷寒證候，宜熟讀《傷寒論》、《明理論》、《百證謌》及《吳蒙齋指掌圖》。大抵緊要，在表裡虛實寒熱二字。況一證有兼證，看於著緊處先之。如結胸，身熱發黃俱見，脈沉而實，宜陷胸合茵陳急下之，後看次第調之。是以不可執一，當看證例約之。</p>
<p>一、雜證，看形氣實者，宜以劉、張大法治之。形氣虛，脈虛，或老幼羸弱脫榮者，宜以東垣之法治之，藥亦不可太雜。是以丹溪云：吾每治病，用東垣之藥，效仲景處方，庶品味數少，藥力專精也。又云以某藥治某病。以某藥監某藥，以某藥為引經。此得人之心法也。</p>

<h1>戒行吟</h1>
<p>藥術全據利澤心，活人陰隲在居仁。若無道誼精誠者，必有神明暗伺人。濟物共登同壽域，修真半養自家身。杏林橘井俱陳跡，尚賴余芳種德新。</p>

<h1>調鼎吟</h1>
<p>茫茫宇宙一乾坤，調鼎工夫輩輩傳。指鹿心機徒造偽，問牛氣象實調元。貪人敗俗淳風變，良相匡時化日全。四海雍熙民物阜，春風花柳保年年。</p>
<p>上二詩，一以見醫術行道之用心，戒慎如此；一以見大道之本，調元之意如斯。所謂達為良相，不達則為良醫，非流俗工技之比，實非小材小智所可窺也。</p>
<p><u>時永樂六年歲在戊子十月望後一日中山劉宗厚甫謹識</u></p>

<h1>風</h1>
<p>中風大率主血虛。氣虛以痰治之，治痰為先。挾火與濕，半身不遂，大率多痰。在左屬死血無血，在右屬痰有熱，氣虛。</p>
<p><u>復氣</u>　初未辨內外所因，多有因七情所動，氣厥暴逆，而昏冒牙關緊急。若便作中風，用藥多致殺人。惟宜蘇合香丸灌之便醒，謂氣復則已也。中風如鋒鏑之中，非感冒傷風之比也。</p>
<p><u>捷嚏</u>　初卒倒或中者，用皂角末，或不臥散於鼻內吹之。</p>
<p><u>汗</u>　解表：表實無汗者。散之劫之：表裡俱實。斂表：表虛自汗者。溫之解之：表裡俱虛。《脈經》云脈浮而大者風。沉緩弱者，藥用辛溫排風湯、小續命湯，辛平消風百解散、消風散選用。脈洪實用辛涼，錢氏大青膏。</p>
<p><u>宣</u>　氣滯者難治，宜吐之，痰氣實，能食，痰壅盛者，口眼喎斜不能言，皆用吐法。亦有虛而不可吐者。</p>
<p><u>下</u>　此因內有便溺阻隔，故攻裡。審諦的當，方可施此法，機要三化湯、子和搜風丸、老人潤腸丸。</p>
<p><u>雙解</u>　《要略》云：脈微而數，中風使然。表裡有風熱，防風通聖散、川芎石膏湯。風寒，小續命湯。</p>
<p><u>劫</u>　如聖散、天麻防風之類。（見後。）</p>
<p><u>理氣</u>　氣滯氣鬱，胸脅痞悶，肩膊麻疼之類，此七情也。宜調氣，烏藥順氣、八味順氣之類。</p>
<p><u>理血</u>　無表裡之急，血逆，舉發不時，大秦艽湯、羌活愈風湯，兼用導痰丸子。治在經之病，六合湯、愈風湯之類。表裡現證全無，而血氣虛者，須補之。（見下。）</p>
<p><u>補氣</u>　氣虛卒倒，參朮補之。有痰者，竹瀝、薑汁，以參為主。本於虛者，補中益氣之類加風劑。</p>
<p><u>補血</u>　用四物，或少入薑汁，恐泥痰也，再入竹瀝。能食者，去竹瀝加荊瀝，入薑汁不若，湯藥下青州白丸子。</p>
<p><u>通關透肌骨</u>　陽證有至寶丹，陰證用靈寶丹。昏冒者宜用之。為風入骨髓不能得出，故用龍麝牛雄之類，皆入骨透肌肉，使風邪外出也。若中血脈、中腑未可用。</p>
<p>家寶丹：治一切風症，左癱右瘓，手足痿痹，口眼喎斜，邪入骨髓者。其病如只在肌表者不宜用。否則引風入骨髓，如油入面，不能出。</p>
<p>川烏　南星　五靈脂（用薑汁製，另研）　草烏（各六兩）　白附子　全蠍　沒藥　辰砂（各二兩）　羌活　乳香　殭蠶（各三兩）　片腦（一兩半）　天麻（三兩）　麝香（一兩二錢半）　地龍（四兩）　雄黃（一兩）　輕粉（一兩）</p>
<p>上為細末，作散調服，或蜜和如彈子大，含化。若止風麻痹走注，肢節疼痛，或喑不語，壅滯，宜天麻散。</p>
<p>如聖救苦散：治左癱右瘓，風濕痹，走注疼痛不止，劫劑也，非痛不用。</p>
<p>御米殼（一兩，去頂蜜炒）　陳皮（五錢）　虎骨（酥炙）　乳香（研）　沒藥（研）　甘草（各二錢半）</p>
<p>上為細末，每服三錢。水一盞半，煎八分，連渣熱服。病在上食後，在下食前。如煎時，須一順攪之。</p>
<p>防風天麻散：</p>
<p>防風　天麻　川芎　白芷　草烏　白附子　荊芥穗　當歸　羌活（各半兩）　甘草　滑石（二兩）</p>
<p>上為末，酒化蜜少許，調半錢加至一錢服。</p>
<p><u>導痰通經</u>　竹瀝湯、青州白丸子、三生飲皆治卒中昏冒，口眼喎斜，半身不遂，痰涎潮上壅塞，手足頑麻者。抱龍丸亦妙，省風湯、荊瀝湯。在關節手足指痛者，宜神佑等丸下之。</p>
<p><u>清熱</u>　風本生於熱，火盛水衰，不能制之，陰虛陽實，氣怫鬱也，神芎丸、宣明仙術芎散、通聖散之類。亦有兼濕兼氣不同。如兼血熱者，用防風通聖去麻黃、硝、黃，加生地、生苄、黃連。</p>
<p><u>灸</u>　風池、百會、曲池、翳風、風市、環跳、肩髃等穴皆可灸之，以鑿竅疏風。</p>
<p><u>針以導氣</u></p>
<p><u>熏</u>　如風客經絡，肢體疼痛，不能運動者，用諸去風藥煎水，如法熏之。</p>
<p><u>敷貼</u>　有風客肢體，如痹疼痛，用薑汁、芥子、白芷、南星為末敷上。口眼喎斜，有用巴豆。</p>
<p>如聖散：</p>
<p>仙術（四兩）　川芎　防風　白芷（各二兩）　細辛（一兩）　川芎（半兩）　草烏（一兩）　天麻（半兩）　雄黃（半兩）　上為末，每服一錢，溫酒調下。</p>
<p><u>各經主治藥</u>　肝（川芎）　心（細辛）　脾（升麻）　肺（防風）　腎（獨活）　胃（升麻）　大</p>
<p><u>腸（白芷）</u>　小腸（藁本）　三焦（黃耆）　膀胱（羌活）　心包絡（川芎）</p>

<h1>火</h1>
<p>凡氣有餘便是火，不足者便是氣。陰虛火動難治。</p>
<p><u>發汗</u>　火鬱在何經絡，當發散。</p>
<p><u>降散</u>　輕則可降，小便降火急速，益元散、八正散之類。</p>
<p><u>升發</u>　重則從其氣而升之，升陽瀉火湯例。</p>
<p><u>瀉</u>　實者下之，解毒、涼膈、調胃皆可用。</p>
<p><u>緩</u>　火急甚，必緩之。生甘草兼緩兼瀉。看虛實，分正、從法。</p>
<p><u>正治</u>　人壯氣實，火盛顛狂者，可用正治。或硝水冰飲之，涼膈、解毒之類。</p>
<p><u>從治</u>　人虛火盛或狂者，用薑汁湯調辰砂益元散與之。若投以冰涼涼藥立死。如左金丸治肝火黃連（一兩），茱萸（一兩），逆而從之治也。</p>
<p><u>滋陰壯水</u>　補陰即火自降，炒黃柏、地黃之類。</p>
<p><u>鎮墜</u>　紫雪、珍珠、琥珀、犀角、雲母、硃砂、石膏之類。輕者安神丸。</p>
<p><u>針</u></p>
<p><u>各經主治藥</u>　肝（氣，柴胡，血，黃芩）　心（氣，麥門冬；血，黃連）　脾（氣，白芍；血，生地）　肺（氣，石膏；血，梔子）　腎（氣，知母；血，黃柏）　膽（氣，連翹；血，柴胡）　胃（氣，葛；血，大黃）　三焦（氣，連翹；血，地骨皮）　膀胱（氣，滑石；血，黃柏）　大腸（氣，連翹；血，大黃）　小腸（氣，赤茯；血，木通）　包絡（氣，麥門冬；血，牡丹皮）</p>

<h1>暑</h1>
<p>熱傷氣。火極陰虛。注暑，暑風，熱極也。暍是陽症，暑是陰證。脈沉弱者，切不可用寒涼。</p>
<p><u>補</u>　陰虛元氣不足者，清暑益氣湯。陽虛，補中益氣湯。挾痰加半夏，或生脈散。</p>
<p><u>宣</u>　挾火兼痰實者，可用吐法。暑風多痰。</p>
<p><u>清熱</u>　天水、白虎皆可用。熱悶，辰砂、五苓。脈弦實，黃連、香薷。有痰。消暑丸。</p>
<p><u>清神</u>　香薷、天水、東垣清暑益氣湯加石膏。</p>
<p><u>清燥</u>　濕熱相合，而刑庚金，陽明病在下，東垣清燥湯方、消暑丸至妙，夏月不可無。</p>
<p><u>分利</u>　熱甚，自汗而渴，便澀者，五苓分利之，桂苓甘露飲。</p>
<p><u>溫</u>　吐瀉，脈沉微甚者，可用附子、大順散、香薷丸、桂苓丸、水浸丹。伏熱傷冷，縮脾飲，冷香飲子。</p>
<p><u>瀉火</u>　黃連解毒湯、神芎丸。</p>
<p><u>劫</u>　治伏暑泄瀉，身熱脈弱，宜來復丹。</p>

<h1>濕</h1>
<p>風濕、濕熱、濕痰、濕腫、濕痹。</p>
<p><u>發汗</u>　羌活、仙術之類。</p>
<p><u>分利滲泄</u>　五苓加羌活。</p>
<p><u>燥</u>　羌活勝濕湯、平胃之類。</p>
<p><u>解肌實表</u>　風濕相搏，一身盡痛，金櫃黃耆防己湯。</p>
<p><u>下</u>　氣實邪勝者，神佑、導火、舟車等丸。氣虛者，桑白皮、茯苓、人參、葶藶、木香之類。</p>
<p><u>各經主治藥</u></p>
<p>肝（白朮）　脾　肺　腎（澤瀉）　胃（白朮）　小腸（車前）　三焦（陳皮）　膀胱（茵陳）　大腸（秦芤）　心包絡（茗）</p>

<h1>燥</h1>
<p>有痰實、血少、風邪、火熱、消渴，皆為燥。</p>
<p><u>降火</u>　白虎、益元、清神、疏風、麻仁丸。</p>
<p><u>益血滋陰</u>　血少陰虛者，四物加炒柏、桃仁之類。</p>
<p><u>清金</u>　肺熱身燥，宜清金降火。</p>
<p><u>潤腸</u>　手陽明燥實，宜與麻仁丸脾約。</p>
<p><u>下</u>　痰實，宜滾痰丸、利膈丸或三乙承氣、柴胡飲子。</p>
<p><u>汗</u>　風熱之邪，脈盛氣實，防風通聖散。</p>
<p><u>補</u>　老人便燥澀，黃耆、陳皮，麻仁湯。</p>
<p><u>各經主治藥</u></p>
<p>肝（當歸）　心（麥門冬）　脾（麻仁）　肺（杏仁）　腎（柏子仁）　大腸（硝石）　小腸（茴香）　三焦（山藥）　膀胱（茴香）　心包絡（桃仁）</p>

<h1>寒</h1>
<p>表惡寒者溫之，內中者劫之。表證見傷寒例。</p>
<p><u>正治</u>　主乎溫散，桂枝、四逆輩。甚者，三建霹靂散。有卒中天地之寒，口傷生冷之物。</p>
<p><u>從治</u>　熱藥加涼劑引之，或熱藥冷飲。經曰從而逆之。</p>
<p><u>反攻</u>　蜜煎烏頭之類。</p>
<p><u>灸</u>　陰寒及下陷脈絕者，宜灸之。</p>
<p><u>熨</u>　寒鬱作痛，灰包熨之。</p>
<p><u>補</u>　氣虛中寒，脈沉遲弱，於補中益氣加桂，甚者加附子。</p>
<p><u>下</u>　寒積怫鬱作痛，桂枝大黃湯，逆而從之。</p>
<p><u>劫</u>　寒氣結搏，附子類。溫熱而不回者，用金液丹、二氣丹，壯益陽氣。</p>
<p><u>各經主治藥</u></p>
<p>肝（氣，吳茱萸；血，當歸）　心（氣，桂心；血，同上）　脾（氣，吳茱萸；血，同上）　肺（氣，麻黃；血，乾薑）　腎（氣，細辛；血，附子）　膽（氣，生薑，血，川芎）　大腸（氣，白芷；血，秦艽）　小腸（氣，茴香；血，玄胡）　三焦（氣，黑附；血，川芎）　膀胱（氣，麻黃；血，桂枝）　心包絡（氣，附子；血，川芎）</p>

<h1>發熱</h1>
<p>有寒熱、潮熱、煩熱、往來熱、皆與傷寒中兼看。如勞役熱、溫疫熱、痰熱，傷食、腳氣發熱，皆不得與傷寒初治，誤則殺人。生斑、屍疰、勞瘵、鬼疰，皆為寒熱發熱。蓋病本不同，其標多相似，故舉諸例於下。</p>
<p><u>瀉火</u>　氣實脈盛，身熱煩擾，宜三乙承氣湯、涼膈等藥下之。熱在中，四順、清涼飲。在下，八正之類。</p>
<p><u>涼血</u>　夜熱多，或有汗，或鼻衄，身熱而便難，四物去芎，加黃連、生地、地骨皮之類，柴胡、生草、知母。勞熱骨蒸，血，青蒿、蛤蚧、鱉甲、小麥。</p>
<p><u>清氣</u>　日熱多，熱在氣分，柴胡飲子、白虎湯。有暑熱。從前例。蒸熱氣，烏梅、秦艽、柴胡。</p>
<p><u>清肌</u>　在輕手按之甚熱，重手取之不甚熱，此熱在肌表，宜清之，竹茹、竹葉、地骨皮、麥門冬之類。</p>
<p><u>清神</u>　有神氣怫鬱而熱，宜清神散。</p>
<p><u>抑火升水</u>　熱在上而陰水不升，虛火沸騰，宜升陽瀉火法，虛者補之。</p>
<p><u>養陰退陽</u>　初病陽症而失於下，至變似陰而不可下，用白虎之類。</p>
<p><u>瀉黃</u>　因脾熱也。實則調胃、瀉黃，虛則人參黃耆散。</p>
<p><u>導赤</u>　心熱，實則瀉心湯，虛則硃砂安神丸。</p>
<p><u>瀉白</u>　肺熱，實則涼膈散，虛則人參白虎湯。</p>
<p><u>瀉青</u>　肝熱實，柴胡飲子。</p>
<p><u>滋陰</u>　腎熱實則滋腎丸，本滋陰法也。無實不可瀉。</p>
<p><u>下食</u>　有食傷太陰而熱，或停食而下之。</p>
<p><u>導痰</u>　痰液不散，鬱結成熱，宜導開之。</p>
<p><u>消積</u>　因積滯而蓄熱，當先消積而熱自退。</p>
<p><u>解毒</u>　有丹毒熱腫，氣鬱結滯，並可解散，隨證用藥。此候欲發瘡毒，分六淫治。</p>
<p><u>鎮墜</u>　柴雪、硃砂、琥珀、犀角之□□墜浮溜之火。</p>
<p><u>益精</u>　陰虛精耗，元氣脫者，用滋陰藥。</p>
<p><u>潤燥</u>　俱前燥法下。</p>
<p><u>逐血</u>　有蓄血證，宜下之。</p>
<p><u>分利</u>　小便降火急速，或有與小便單服。又，解肌生津例、虛者補中例加木通。</p>
<p><u>水沃</u>　以水沃於外，或令坐水中，當審脈證而行之。</p>
<p><u>揭越</u>　汗下後，元氣虛而下陷，陰陽之氣揭薄而不起，為虛熱，宜與來復丹、靈砂以揚之。</p>
<p><u>與地漿</u>　汗下後，脈躁身熱，大渴，飲水不已者，新掘井泉，取水飲之。</p>
<p><u>消風</u>　有鬱冒諸風為熱，宜防風通聖、川芎、石膏之類。</p>
<p><u>清金</u>　有肺燥鬱熱，或火乘之者，宜清之，白虎加地骨。</p>
<p><u>補</u>　元氣不足，胃氣下陷為熱，補中益氣湯。血虛者加血藥。</p>
<p><u>漬形</u>　血虛氣弱，邪不能散。</p>
<p><u>針</u>　導氣。熱病汗不出，商陽、合谷、陽谷、俠谿、厲兌、勞宮、腕骨泄血。熱無度不可止，陷谷出血。</p>
<p><u>從治</u>　藥使酒煎，或溫熱為佐使。</p>
<p><u>反治</u>　蜜煎烏頭之類。</p>
<p><u>升散</u>　其候欲發斑疹，身熱，宜升麻湯等藥發之。</p>
<p><u>涼骨肉分勞瘵熱主治藥</u>　氣血見前。</p>
<p>肝（當歸，柴胡）　心（生地，黃連）　脾（芍藥、木瓜）　肺（石膏、桑白）　腎（知母、生地）　膽（柴胡、栝萎）　胃（石膏硝）　大腸（硝、大黃）　小腸（赤茯、木通）　三焦（石膏、竹葉）　膀胱（滑石、澤瀉。）</p>
<p><u>朅劫</u>　柴胡梅連散：治骨蒸勞熱，三服除根。</p>
<p>胡黃連　柴胡　前胡　烏梅（各三錢）</p>
<p>上咀片，每服三錢。童便一盞，豬膽一枚，豬脊髓一條，韭根白半盞，同煎至七分，不拘時，候溫服。熱住後，可別調理。</p>

<h1>腹痛</h1>
<p>有實、有虛、寒、氣滯、死血、積、熱、風、濕痰、清痰、驚痰。脈滑者痰，弦者食痹、瘡、痧、疝。</p>
<p><u>發汗</u>　大抵風寒與濕痰在表之裡作痛，宜汗之。</p>
<p><u>溫</u>　寒入中脘痛，理中。少腹小腹，四逆，厥陰，當歸四逆湯、吳茱。</p>
<p><u>熨</u>　寒在內急痛，宜灰包熨之。</p>
<p><u>逐熱</u>　有濕熱作痢者，宜導氣湯下之。濕熱怫鬱，痛隨利減。</p>
<p><u>針</u>　大抵實痛宜刺瀉之，太衝、三陰交、太白、太淵、太陵。</p>
<p><u>消積</u>　脾積丸。見瀉例中。</p>
<p><u>下食</u>　食積停滯，與內消脾積，看冷熱物下之。</p>
<p><u>通利</u>　墜肭瘡疝之類。皆宜下之。有懸飲為痛，當下之，見痰例中。</p>
<p><u>軟</u>　諸痛未可用參朮，蓋補氣則氣痛轉甚。虛者須咸以耎之。</p>
<p><u>灸</u>　邪客經絡，藥不能及者，宜灸氣海穴、關元穴、中脘穴。</p>
<p><u>外接法</u>　治陰毒。</p>
<p>牡蠣（燒）　不灰木（燒）　良薑（炒）　川烏（炮）　白芍（各一錢）　麝（少許）</p>
<p>上為細末，每服一錢。男病用女唾津調，塗外腎。女病用男唾調，塗兩乳。</p>
<p><u>摩按</u>　風寒濕宜按摩之，或用油線絞括奪命、委中等處。俗謂之括痧。</p>
<p><u>逐血</u>　有積血奔豚，皆以活血通經藥逐之。</p>
<p><u>補</u>　傷寒腹痛，臍下築動者，理中丸加人參主之。</p>
<p><u>消郁導痰</u>　清痰多作腹痛，用茗、芎、仙術、香附、白芷、薑汁入湯調服。</p>
<p><u>托瘡</u>　有瘡在肺或腸癰，脈來數而實。</p>

<h1>頭痛</h1>
<p>有風、風熱，多主於痰、濕、寒、破傷風、下實內閉之作痛。痛甚者火多。血虛難治。</p>
<p><u>發散</u>　風邪與寒、破傷風、如聖散蔥酒調服。</p>
<p><u>宣</u>　痰留膈上，氣實成郁壅盛者，宜吐之。</p>
<p><u>消風</u>　川芎茶調散。風熱防風通聖散。風寒仲景加味麻黃湯。</p>
<p><u>清熱</u>　清空膏，片子黃芩一味，為末調服。寶鑑石膏散。</p>
<p><u>散濕</u>　三因芎術湯。</p>
<p><u>補氣</u>　有因虛寶鑑順氣和中湯。陰虛用天雄、川芎類。只灸亦可。</p>
<p><u>補血</u>　血虛者，四物倍芎，加石膏、荊穗。陰虛用補陰丸。</p>
<p><u>導痰</u>　青州白丸子、秘藏半夏白朮天麻湯。</p>
<p><u>捷嚏</u>　用不臥散搐之。痛甚以豬牙皂角二錢，玄胡、青黛些少，搐鼻取涎。</p>
<p><u>灸</u>　疏風散寒。</p>
<p><u>針</u>　脈浮取腕骨、京骨穴。脈長取合谷、衝陽。脈弦取陽池、風府、風池。</p>
<p><u>下</u>　少陽偏頭痛，多便閉，宜下之。</p>
<p><u>敷瘠</u>　用傷寒汗後法，敷貼細辛、草烏。</p>
<p><u>各經主治藥</u></p>
<p>陽明（白芷、石膏）　少陽（柴胡、川芎）　太陽（藁本、羌活）　太陰（蒼朮、半夏）　少陰（細辛、獨活）　厥陰（吳茱、當歸）</p>

<h1>腰痛</h1>
<p>氣虛、血虛、腎虛、風、濕、熱、瘀血、寒、氣滯。</p>
<p><u>疏風</u>　小續命湯加桃仁。</p>
<p><u>治寒</u>　濟生朮附湯。</p>
<p><u>行濕</u>　濕熱用蒼朮、杜仲、炒黃柏、川芎之類。風濕東垣獨活湯。痰者用南星。</p>
<p><u>理氣</u>　小七香丸，或簡易枳殼湯。</p>
<p><u>行血</u>　黑神散，空心酒調服。脈澀者瘀血，用補血調氣藥中加桃仁、紅花。</p>
<p><u>散錯雜之邪</u>　風寒暑濕氣，五積散主之。</p>
<p><u>補</u>　氣血虛，補中益氣中加地黃、杜仲。脈大者腎虛，用杜仲、敗龜板、黃柏、知母、枸杞、五味之類，豬脊髓丸。</p>
<p><u>針</u>　血滯於下，委中出血。</p>
<p><u>灸</u>　腎俞、昆倉。</p>
<p><u>補榮衛</u>　固真飲子下後藥，真氣虛青娥丸方：杜仲（四兩）　補骨脂（二兩）。</p>
<p><u>下</u>　閃肭實痛，豬腎散等藥下之。</p>
<p>摩腰膏：</p>
<p>附子尖　烏頭尖　南星（各二錢半）　炒姜（一錢）　雄黃　獐腦　丁香（各一錢半）　麝香（五粒）　煉蜜為丸，薑汁化開成膏，放手掌內，火上烘摩之。大抵邪在表可用，或薑汁、蔥亦可。</p>
<p><u>通關節</u>　濟生庵閭丸</p>

<h1>脅痛</h1>
<p>肝火盛，木氣實，有死血，有痰流注，肝急。</p>
<p><u>行血</u>　輕者用桃仁紅花、川芎。肝苦急，急食辛以散之，用撫芎、蒼朮。</p>
<p><u>下</u>　龍會丸瀉火之要藥。木氣實者承氣。初痛脈氣實者十棗湯。</p>
<p><u>和解</u>　小柴胡加牡蠣。</p>
<p><u>導痰</u>　二陳加南星、川芎、蒼朮、柴胡。</p>
<p><u>行氣</u>　咳而脅痛，二陳、南星、多加香附、青皮、青黛、薑汁。木氣實，或血氣兩調之。</p>
<p><u>捷嚏</u>　用不臥散吹之。</p>
<p><u>針</u>　丘墟、中瀆。</p>

<h1>心痛</h1>
<p>有風寒、氣、血虛、食、鬱熱。</p>
<p><u>散寒</u>　鐵刷湯或草豆蔻丸。輕者五積散。脈伏者姜附。</p>
<p><u>調血</u>　四物。有平日喜食熱物，或有衝擊，死血留於胃口作痛，用桃仁承氣下之。</p>
<p><u>行氣</u>　木香、乳香、玄胡、益智、薑黃、砂仁。氣虛加以二陳，中加炒姜以和之。實者枳殼之類。</p>
<p><u>補</u>　因虛而作，咸以軟之，牡蠣丸。牡蠣一味，淬為末，水丸。</p>
<p><u>化蟲</u>　蟲痛者，多面上白斑，唇紅能食，治以苦楝根、錫灰之類。</p>
<p><u>清熱</u>　胃口有熱而作，非梔子不可，佐以薑汁，此反佐也。金鈴子散，見《活法機要》。</p>
<p><u>針</u>　太谿、然谷、尺澤、行間、建里、太都、太白、中脘、神門、湧泉。</p>
<p><u>消導</u>　元戎厚朴丸、感應丸。</p>
<p><u>宣</u>　銅青之類，蘿蔔子三大合炒，擂細濾之，空心茶湯和下，大鐘漸漸濃服取吐。</p>
<p><u>下</u>　大實滿痛者，元戎厚朴丸、備急丹、大陷胸湯。蟲痛，三因集效方。</p>

<h1>牙疼</h1>
<p>或出血屬熱，胃口有熱。有風寒、濕熱蟲蛀。</p>
<p><u>疏風</u>　川芎、石膏、升麻、細辛、草烏、白芷、防風、羌活擦之，或單用鶴蝨。一方用升麻、石膏、細辛、藁本、檀香、麝香、皂角。</p>
<p><u>行濕</u>　細辛、芫花、蒼耳葉、大戟、小麥、川椒煎水漱之。</p>
<p><u>清熱</u>　石膏、升麻、地骨皮、羊脛骨灰。</p>
<p><u>解鐵雜之邪</u>　東垣當歸龍膽散。治寒熱，用元戎梧桐淚散。</p>
<p><u>下</u>　神功丸、涼膈散、調胃承氣湯為末，蜜丸服之。</p>
<p><u>行血</u>　牙疳蝕臭出血，當作陽明蓄血治之，桃仁承氣湯蜜丸服之。東垣清胃散。有服牛尿，漱而得血者，立愈。</p>
<p><u>散寒</u>　草豆蔻、白芷、細辛、草烏、丁香、蠍梢。</p>
<p><u>取</u>　皂角樹上蛾子，或白馬蛆，或用草烏、川椒、細辛。</p>
<p><u>益腎</u>　腎虛者，骨熱而蘇蘇然痛者，滋腎丸。</p>
<p><u>灸</u>　頰車、聽會、曲池。</p>
<p><u>熏</u>　用韭子。</p>
<p><u>治蟲</u>　天仙子燒煙。用竹筒抵牙，引煙燻之，其蟲即死。</p>
<p><u>針</u>　合谷、內庭、浮白、陽谷、三間。</p>
<p><u>擦藥</u>　元戎問玉散方：</p>
<p>醋榴皮　訶子（各二兩）　升麻　何首烏　綠礬（枯）　青鹽　百藥煎　五倍子　沒石子（各兩半）　麝（一錢）　白茯菟（一兩）　細辛　石膽礬（各半兩）　荷葉灰　白檀　芎　芷　甘粉　苓苓香　茴香　藿香　豬牙皂角灰　木別子（各二錢）　青黛（一錢半）　共為末。</p>

<h1>眼目</h1>
<p>疼者肝氣實，風熱，痰熱、血瘀熱，血實，氣壅。</p>
<p><u>諸邪</u>　風熱：羌活、甘菊、川芎、蔓荊子、荊芥穗。火：酒炒芩、連、大黃、當歸、生地、防風、薄荷。濕熱：神芎丸。風：川芎茶調散。</p>
<p><u>涼血</u>　實者，犀角地黃湯加芩、連、荊穗、石膏、柴胡。虛者，四物加黃連、生地黃、草荊穗、枳實。</p>
<p><u>清氣</u>　實者，涼膈。虛者，清心蓮子飲，局方定志丸：茯菟　人參（各三兩）　遠志　</p>
<p><u>菖蒲（各二兩）</u>　蜜丸，辰砂為衣。</p>
<p><u>針</u>　絲竹空、上星、百會、攢竹宣泄。痛者，風池、合谷。</p>
<p><u>導痰行氣</u>　二陳加枳殼、川芎、仙術、石膏、荊芥。</p>
<p><u>瀉肝</u>　瀉青丸、羊肝丸（白羊肝一具，黃連末。）</p>
<p><u>養陽</u>　東垣神效黃耆湯。</p>
<p><u>滋陰</u>　地黃丸。二者兼治，東垣滋陰地黃丸。</p>
<p>消翳膜方</p>
<p>甘菊　川椒　木賊　蒺藜子　密蒙花　蛇蛻　蟬蛻　川芎　蔓荊子　荊芥穗　石燕　黃連　薄荷葉　枳實　栝蔞根　羌活　當歸　甘草上為末，蜜丸含化。</p>
<p><u>灸</u>　大寒犯腦，連及目疼，或風濕相搏，風邪，皆可用。有翳取二間、合谷。</p>
<p><u>宣</u>　痰實氣鬱，宜吐之，然後用藥。</p>
<p><u>下</u>　熱勝氣鬱，承氣湯。血實，玉燭散。</p>
<p><u>洗</u>　湯泡散：黃連、杏仁、當歸、防風。</p>
<p><u>點藥</u>　末子用爐甘石，不拘多少，淬後為極細末點。先用童便淬，後用黃連汁淬之。</p>
<p>熊膽膏：</p>
<p>黃連　黃柏（各三兩）　蕤仁（一錢，去油）　先將三味煎濃汁，濾過入後藥</p>
<p>熊膽（一錢）　硼砂（半錢）　牛黃（半錢）　腦子（四錢）　蜜（四兩，和淨水熬）</p>

<h1>瀉痢</h1>
<p>氣虛兼寒熱，食積、風邪、驚邪、熱濕，陽氣下陷，痰積。當分治，瀉輕痢重。</p>
<p><u>升散</u>　胃風湯、防風芍藥湯、神朮散、蒼朮防風湯、敗毒散皆可汗之。</p>
<p><u>攻裡</u>　濕熱用導水丸，兼郁承氣湯、和中丸。積滯用聖餅子、脾積丸。冷積局方蘇感丸。下後用藥調理。痢初得者，必用下，通因通用。濕熱甚者，宣明玄青膏。</p>
<p><u>和氣</u>　後重窘迫用木香檳榔。白屬氣，赤白者氣血受病，赤黑相兼屬濕熱，青綠雜風與火濕。</p>
<p><u>涼血</u>　下血者當涼血，歸、苄。赤屬血，《保命集》四物加槐花、黃連、米殼。</p>
<p><u>溫</u>　脈沉弱而腹痛，用姜附加對五苓、理中丸、機要漿水散。色青者，寒兼風。</p>
<p><u>升提</u>　陽氣下陷，升陽益胃加桔梗，醋沃南星。用一葉梅外貼極效，起泡便止。</p>
<p><u>收斂</u>　實腸散、桃花湯、養臟湯、嚴氏烏梅丸、元戎烏梅散，如米殼、榴皮、龍骨之類。</p>
<p><u>勝濕</u>　平胃散、，曲芎丸之類。老人奉養太過，飲食傷脾，為脾泄，機要白朮芍藥湯、茯苓湯。濕勝，仙術炒用。</p>
<p><u>滲泄</u>　陰陽不分，淡以滲之，五苓、豬苓之類。或單用薏苡實炒為末服之。</p>
<p><u>補</u>　初不可便補。氣虛者補中益氣。血虛神弱，人參、白朮、當歸、川芎、炒芍藥、茯苓，少加黃連之類。錢氏白朮散、十全大補湯。</p>
<p><u>劫</u>　瀉痢，脈沉伏細弱下陷者，用來復丹、靈砂丹以劫之。</p>
<p><u>清暑</u>　中暑暍而脈虛者，香薷散、桂苓甘露、清暑益氣湯。</p>
<p><u>灸</u>　陷下則灸之。脾俞、關元、腎俞、復溜、腹哀、長強、太谿、大腸俞、三里、氣舍、中脘。</p>
<p><u>解熱</u>　外熱者先退熱，柴、芩、連。內熱者香連丸、芍藥柏皮丸、黃連阿膠丸。噤口者解毒。</p>
<p><u>分利</u>　胃苓湯，與淡滲同五苓。或獨用芣香散。</p>
<p><u>外貼</u>　以一葉梅於印堂貼之。</p>
<p><u>宣</u>　有痰飲在膈上，氣不能降，以致大腸不能收斂而瀉利。痰在肺中，宣大腸之不固也，宜吐之。</p>
<p><u>盒臍</u>　噤口痢用田螺於臍中盒之，以引下其熱，黃連多加參朮，終日呷之，如吐再進。</p>
<p><u>補腎</u>　腎泄久不止，脈沉細無力，二神丸、本事五味子散、金鎖正元丹。</p>
<p><u>和脾氣</u>　脾氣不和，濁氣下干，不能愈者，問病人思食何物，與食之，脾氣和而愈矣。</p>
<p><u>消積</u>　因積作者脾積丸，方見後。</p>
<p>青皮　陳皮　三稜（炒）　蓬朮（煨。各二錢）　莎實（二兩，炒）　肉果　山豆（炒）　山楂丁香　砂仁　檳榔　薑黃　厚朴（炒。各二錢）　黃連（三錢）　木香（一錢半）　檀香（二錢）　澄茄（一錢）　白豆蔻（一錢）　麥蘖（炒，二錢）</p>
<p>上為末，蠟為丸，如綠豆大，每服二三十丸，溫水下。</p>

<h1>瘧（又名痁）</h1>
<p>有風暑、山嵐瘧氣、食、老瘧、瘧母、寒濕、痹、五臟瘧、六腑瘧。</p>
<p><u>發散</u>　有汗要無汗，正氣為主帶散之，小柴胡加桂、白虎加桂。頭痛脈浮，惡風有汗，機要桂枝羌活湯。</p>
<p><u>和解</u>　無汗要有汗，散邪為主帶補之，桂枝加黃耆、知母石膏湯、人參柴胡飲子，六和湯方：</p>
<p>人參　知母　草果　貝母　白芷　檳榔（各一錢）　烏梅　柴胡（各一錢，用酒拌）　常山（二錢）</p>
<p><u>溫</u>　寒多熱少，或但寒不熱，名牡瘧，宜柴胡薑桂湯，此溫經也。</p>
<p><u>下</u>　熱多寒少，目痛多汗，脈大，以柴胡微利為度。餘邪未盡，白芷、石膏、知母三物湯以盡其邪。</p>
<p><u>調經</u>　風暑深入陰分而夜發者，乃血受病，宜桂枝、桃仁、當歸、柴胡、黃芩等藥。</p>
<p><u>闢瘴氣</u>　草豆蔻、厚朴、草果、檳榔、半夏、常山。</p>
<p><u>溫脾</u>　內傷生冷，於平胃中加參，守田、茯苓、草果、藿香、薑、烏梅輩，飛龍奪命丹亦可用。</p>
<p><u>消癖</u>　咳瘧多成癖，在左脅之下名瘧母，嚴氏鱉甲飲子、金匱鱉甲煎丸。</p>
<p><u>消食</u>　三因紅丸子。</p>
<p><u>宣</u>　因外感病屬上焦胸膈，多結聚痰涎，故宜吐，子和恆山散、藜蘆散、雄黃散。</p>
<p><u>截</u>　辰砂丹、一剪金，皆要藥也。</p>
<p>硃砂（一兩半，留五錢為衣）　信　雄黃（各五錢）</p>
<p>上為末，入白麵六錢，水丸綠豆大，每一丸於五更時水下。</p>
<p><u>補</u>　汗多，寒熱不止，懶言語，食少，小柴胡加桂、白朮、陳皮、當歸、草果皮、芍藥、黃耆、知母、貝母。不止者兼服後藥。</p>
<p>三日一發，或一月兩月發者，秘方清脾丸：白朮（一兩半）　人參　檳榔　草果　黃芩　守田（制。各一兩）　青皮（一兩）　蓬朮（醋炒）　厚朴（各半兩）　甘草　薑黃（各三錢）</p>
<p>上為末，飯丸如梧桐子大，每五六十丸食遠白湯下，日進二服。</p>
<p><u>移精變氣</u>　或驚之擊之，藏隱，照水飲符，觀盡奕棋，皆可止之，邪傳裡則不能止。</p>
<p><u>針</u>　合谷、曲池、公孫。</p>
<p><u>灸</u>　不問男女，於大椎中第一節盡處，先針，後灸三七壯，立效，或灸第三節亦可。</p>

<h1>咳嗽</h1>
<p>風、寒、火、勞、痰、肺脹、濕、五臟咳，看痰例分六氣治為要。</p>
<p><u>發散</u>　風：消風散、金沸草散。寒：麻黃湯、乾薑五味子湯。</p>
<p><u>下</u>　濕：十棗湯、小胃丹、葶藶木香散。水：葶藶丸。胃實痰鬱者，下後調理。</p>
<p><u>宣</u>　痰在膈上，或停郁胃中。重者，瓜蒂散。輕者，蘿蔔子末吐之。</p>
<p><u>瀉火</u>　實者，解毒湯。輕者，知母、地骨、桑白皮、麥門冬、桔梗、甘草，礞石滾痰丸。上半日屬胃中有火，貝母、地骨。五更咳者，此胃中有食積，至此時流入肺中。</p>
<p><u>滋陰</u>　午後嗽多者，屬陰虛，四物、知母、黃柏、或四物入竹瀝，或六味丸，或八味丸為要藥。</p>
<p><u>收斂</u>　火氣浮於肺，不宜用涼藥，以五味、五倍斂而降之，或粟殼、烏梅之類。肺脹者，訶子、青黛、杏仁，久咳自汗宜用之。</p>
<p><u>瀉白</u>　肺氣有餘宜瀉之，桑白為主，半夏、茯菟佐之，瀉其有餘，補其不足。</p>
<p><u>清金</u>　肺燥當潤之。屬熱者，桔梗、大力、知母、雞清。聲啞者屬寒，細辛、半夏、生薑，辛以散之。</p>
<p><u>補</u>　肺虛者，人參膏補之，阿膠為主。陰不足者，六味丸為要藥，知母茯苓湯炒。咳而瀉者、痢者、用粟殼不必疑。</p>
<p><u>熏</u>　款花、雄黃、艾，燒煙燻入喉中，以散肺中邪氣。丹溪治久嗽風入肺者，用鵝管石、雄黃、鬱金，款花碾末和艾中，以生薑一片留舌上灸之，以煙入喉中為度。</p>
<p><u>灸</u>　天突、肺俞、肩井、少商、然谷、肝俞、期門、行間、廉泉、扶突。</p>
<p><u>針</u>　曲澤，治咳喘出血立已。前谷穴兼胸滿。面赤熱咳，支溝。多唾，三里。</p>
<p><u>導痰</u>　食痰，瑞竹堂方化痰丸。熱：滾痰丸。濕：葶藶、桑白。風痰：青州白丸子。</p>
<p><u>行氣</u>　二陳加南星、紫蘇、桔梗、枳殼之類，桑白皮。燥者，杏仁、蘇子。熱者兼荊、芩、連、知母。</p>
<p><u>涼血</u>　熱傷血分，宜生地、地骨、知母、麥門冬、阿膠、甘草、桑白皮、桔梗、紫菀、五味、荊、芩。</p>
<p><u>劫藥</u>　五味（半兩）　甘草（二錢半）　五倍（一錢）　風化硝（一錢）　上為末，干含化。</p>
<p>一方：粟殼（四兩，炒）　烏梅（一兩）　人參（半兩）　款花（半兩）　苦梗（半兩）　兜苓（一兩）　南星（薑製，一兩）</p>
<p>上為末，蜜丸彈子大，含化。汗多者用之。</p>

<h1>吐衄血</h1>
<p>身熱，多是血虛。血溫身熱者，死不治。火載血上，錯經妄行。</p>
<p><u>瀉火</u>　嘔吐血出於胃，犀角地黃，保命生地黃散，柴胡、黃連、黃芩、黃耆、地骨、生熟地黃、白芍。</p>
<p><u>調榮</u>　衄涕血出於肺：犀角、升麻、丹參、紫參、生地、芍藥、黃芩。咯唾血出於腎：紫菀、知母、熟地、遠志、門冬。痰涎血出於脾：葛、耆、黃連、芍、沉香、甘草。虛者，小建中加黃連，或前保命生地黃散，再加天門冬、枸杞子、甘草等分，水煎服。</p>
<p><u>調衛</u>　分氣紫蘇飲，由七情致者。</p>
<p><u>針</u>　隱白、脾俞、上脘、肝俞。</p>
<p><u>下</u>　血結胸中，心下手不可近，為中部蓄血，桃仁承氣湯。小腹硬滿，小便自利，大便反黑，臍下手不可近，為下部蓄血，宜抵當湯。嘔吐血，宜三黃湯順下之。</p>
<p><u>調理</u>　脈大而熱，或喉中痛，是氣虛，用人參、黃耆蜜炒、黃柏、荊芥、生地、地骨、當歸頭。咯血，用桑白皮、半夏、知母、貝母、茯菟、阿膠、桔梗、陳皮、甘草、杏仁、生地之類。衄血及嗽，以上藥加蒲黃、五倍灰，入煎劑服妙。</p>
<p><u>外迎</u>　以井花水濕紙，於頂中貼之。左鼻衄以線扎左手中指，右出扎右中指。俱出，左右二指俱扎。或以炒黑蒲墨吹鼻中。</p>
<p><u>清熱降火</u>　二陳加知母、桑白、桔梗、黃連、黃芩、生地、石膏之類，煎藥水和入墨汁服。</p>

<h1>溺血</h1>
<p>屬熱、氣虛、血虛。</p>
<p><u>涼榮</u>　四物加生地、牛膝，或四物加黃連、棕灰，六味地黃丸切要。</p>
<p><u>補氣</u>　莖痛用甘草梢，血藥中少佐以地榆、陳皮、白芷、棕灰。</p>
<p><u>劫</u>　瑞竹堂方蒲黃散：</p>
<p>蒲黃（炒）　古石灰（炒）　破故紙（炒）　為末調服。或單用蒲黃，或蔥白湯調鬱金末服之，文蛤灰入煎劑妙。</p>

<h1>下血</h1>
<p>腸風多在胃與大腸病。</p>
<p><u>清熱補血</u>　四物加炒梔子、炒黃連、秦艽、升麻、阿膠、棕皮、下槐角丸。</p>
<p><u>溫</u>　因寒致者，當溫散，四物加升麻、炮薑、棕灰。或腸胃受寒濕毒，宜當歸四逆、平胃之類。</p>
<p><u>灸</u>　三里。</p>
<p><u>針</u>　隱白。</p>
<p><u>解絡脈之結</u>　或單用枳殼一味。</p>
<p>一方：黃連（一兩）　枳殼（二兩）　槐花（八兩）</p>
<p>上以槐花炒上二味，去花不用，止以二味煎，進，立效。</p>
<p><u>劫</u>　一方用百藥煎一兩，取一半燒為灰，作末，糊丸梧桐子大，每五六十丸空心服之。一法用血餘灰、棕櫚皮灰、鞋底灰，豬牙皂角灰，酒服半兩。</p>

<h1>諸氣</h1>
<p>怒則氣上，驚則氣亂，恐則氣下，勞則氣耗，悲則氣消，喜則氣緩，思則氣結。</p>
<p><u>升散</u>　寒氣鬱於中作痛，七氣湯、鹽煎散、參蘇飲、東垣升陽順氣湯。</p>
<p><u>降抑</u>　逆者抑之，木香流氣飲、降氣湯。有熱者，須加涼劑抑之，所謂從陰引陽也。</p>
<p><u>下</u>　木香檳榔丸、導氣丸、小承氣湯。</p>
<p><u>針</u>　針以導氣。</p>
<p><u>調理</u>　沉香降氣湯、分心氣飲、紫沉通氣湯。</p>
<p><u>補</u>　炅則氣泄，宜清暑益氣湯。</p>
<p><u>宣</u>　木鬱則達之。</p>
<p><u>捷嚏</u>　搐鼻。</p>
<p><u>消導</u>　局方異香散。</p>
<p><u>導痰</u>　散郁和中，二陳、四七、蘇子降氣之類。</p>
<p><u>理血</u>　氣逆血從，濟生歸脾湯。</p>

<h1>漏</h1>
<p><u>內托提</u>　二地、耆、參、朮、升、草、菟、芍。</p>
<p><u>外塞法</u>　用童便煅爐甘石、牡蠣粉。</p>

<h1>淋</h1>
<p>屬熱，小便澀，氣承水，寒閉熱結，痰氣不利。胞痹屬寒。</p>
<p><u>解熱</u>　關格者分利之，涼血火府丹，木通、黃芩各一兩，生地二兩。不渴而小便閉者，滋腎丸，知母、黃柏。</p>
<p><u>補</u>　老人氣虛，人參、白朮，中加木通、山梔、六味丸為主。氣虛不運者加升麻。虛寒者，八味丸為要藥。</p>
<p><u>灸</u>　三陰交。</p>
<p><u>掩臍</u>　連須蔥三莖，生薑一塊，豆鼓二十一粒，鹽一匙，同搗作餅，烘熱掩之，扎定即通。</p>
<p><u>宣</u>　吐之以提其氣，氣升則水自下，以二陳吐之，吐中便有降，關格必用吐，提其氣之橫絡，不必在出痰也。</p>
<p><u>下</u>　八正散之類。</p>
<p><u>捷嚏</u>　不臥散吹之。</p>
<p><u>外迎</u>　湯浴之。</p>
<p><u>擦</u>　用連須蔥擦周身。</p>
<p><u>降氣</u>　八正中加木香、沉香、琥珀，清氣蓮子飲。寒者溫之，三因生附散。</p>

<h1>小水不禁</h1>
<p><u>補</u>　內虛寒自汗，御藥秘元丹、三因家韭子丸。內虛濕熱者，六味丸。寒者，八味丸加杜仲、骨脂、五味。</p>
<p><u>灸</u>　陰陵泉、陽陵泉。</p>

<h1>閟（詳淋）</h1>
<p>不通者，用以上法，或用坐藥，見傷寒例。男子急甚者，令人吹吮之。婦人仍用坐藥。</p>

<h1>喉痹</h1>
<p>痰熱，濕熱。</p>
<p><u>宣</u>　以桐油吐，或以射干、逆流水吐。一方，槐花，獨活，醋煎吐涎。</p>
<p>三因雄黃丸：</p>
<p>雄黃（一兩）　巴豆（去油，十四個）　鬱金（一錢）　醋糊丸，綠豆大，茶清下七丸。</p>
<p><u>吹藥</u>　三因玉鑰匙：焰硝（一兩半）　硼砂（半兩）　腦子（一字）　殭蠶（一分）</p>
<p>金鑰匙加雄黃，或止用膽礬。</p>
<p>一字散：雄黃　蠍梢　白礬（枯）　藜蘆　豬牙皂角（炙）　各等分，為末，每用一豆大，放鼻內搐之。</p>
<p><u>解陰陽之結</u>　連翹、麥門冬、桔梗、甘草、大力子、薄荷、山豆根、半夏、牡蠣、木通。</p>
<p><u>針</u>　合谷、湧泉、天突、豐隆。</p>
<p><u>灸</u>　起初傍灸之。蓋亦鑿竅，使外泄也。頸腫針曲池二穴。</p>
<p><u>導痰</u>　痰不降而致，桔梗半夏湯。寒痰：三因玉粉丸。熱者：滾痰丸。</p>
<p><u>下</u>　脈實氣盛，火甚者，涼膈散下之，氣虛老人勿輕用。血熱：柴胡飲子。氣熱：碧雪。風熱：用通聖散。</p>
<p><u>疏風</u>　大力子、桔梗、半夏、薄荷、甘草、防風、荊穗、射干、牛膝、山豆根、當歸、黃芩、竹瀝。</p>
<p><u>溫</u>　有下虛陰盛格熱在上，切不可用涼藥，脈沉緊細小者是也，宜桂附溫下之藥，上用半夏、桔梗之類。</p>

<h1>諸瘡</h1>
<p>初起者，疔疽發背，便蒸之。或毒下陷，亦可用方別內托。</p>
<p><u>發汗</u>　在背羌活為主，在面白芷，在肩脅柴胡，在胸腹白芷、升麻。東垣最妙，脈數滑浮大者，宜東垣消毒散。沉細者，十補散。滑數瘡在下，宜當歸拈痛湯。</p>
<p><u>蒸</u>　蒜片或白芷、木鱉為末，蜜和作餅用。多年冷瘡，用附子片。</p>
<p><u>下</u>　脈實，瘡腫焮，便閉，宜內疏黃連湯。汗多脈大，譫語，破棺丹。</p>
<p><u>從治</u>　有因食一切毒物及死驢馬肉，而發瘡腫者，有濕毒等致，宜服後藥。</p>
<p>飛龍奪命丹：治一切疔瘡惡腫，癰疽初發，或發而內陷者。如熱毒脈盛，宜後飲子。</p>
<p>天南星　雄黃　巴豆（各一錢）　碙砂　黃丹　信石　乳香（各半錢）　班虎（十六個，去翅皮）　麝香（少許）</p>
<p>上為末，取蟾酥和丸，如黃黍米大，每十一二或十四五丸，看瘡上下，食前後好酒送下。忌食諸般肉、油膩七日。一方有礬（一錢）　半夏（一錢，）無雄。</p>
<p>東垣黃連消毒飲：治癰疽發於腦頂或背，腫勢外散，熱毒焮發，麻木不痛，宜灸之。</p>
<p>黃連（酒炒）　羌活（各一錢）　黃芩　黃柏（各半錢，酒炒）　生地　知母（炒）　獨活　防風　歸尾（各四錢）　連翹（四錢）　藁本　防己　桔梗（各半錢）　黃耆　蘇木　陳皮　澤瀉（各二錢）　人參　甘草（各三錢）</p>
<p>上咀片，作一服，水煎服。若腫勢已過，宜後方復煎散：</p>
<p>地骨　芩　苓　參　耆芍　白朮　桂　甘草　防己　當歸（各一錢）　防風（三錢）　作一服，先取仙術三錢煎，水煎。　</p>
<p><u>灸</u>　瘰癧瘡，須灸之，肩井二穴，曲池前骨端二處。內作散腫潰堅丸一二料服之。</p>
<p><u>雙解</u>　厥逆咽塞寒熱，五香連翹湯。風熱，防風通聖散。脈實丹毒，千金漏蘆湯。</p>
<p><u>內托</u>　脈虛胃熱，復煎散、聖濟托裡湯、東垣黃耆人參湯、黃耆湯。</p>
<p><u>外治</u>　有膿者開之，久瘡肉冷者蒸之。敷藥，初起用濕山藥，少加木鱉、蓖麻，搗敷，消。反肉，青金錠子選用之。下濕瘡用文蛤散。郭氏水澄膏，敷紅赤色，攻焮疼痛。</p>
<p><u>針</u>　緣唇瘡，須去惡血，下注瘡亦然。</p>

<h1>漏瘡</h1>
<p><u>補</u>　用人參、黃耆、白朮、川芎、當歸為主，以生氣血。有濕熱者，先下後用。</p>
<p><u>熏蒸</u>　用附末，唾和如餅，若半指厚，上用艾蒸之，五七次，肉平為度，或只有茝末亦可。</p>

<h1>疥</h1>
<p>濕熱，濕毒。</p>
<p><u>外治</u>　脂調散：</p>
<p>苦參　荊芥　雄黃　硫黃　礬末（各半兩）　蛇床（二兩）　草烏（尖，一兩）為末，敷之。</p>
<p><u>汗</u>　通聖散加羌活、獨活、白芷，兼服苦參丸。</p>
<p><u>下</u>　顯仁丸必用之。</p>
<p><u>熏</u>　硫黃、艾。</p>
<p><u>洗</u></p>
<p><u>針</u></p>

<h1>風癬</h1>
<p><u>外治</u>　脂調散，或豆瀝、胡桃瀝搽。</p>
<p>一方：雄黃（三錢半）　檉皮　剪草（各一）　凡　芨（半）　班虎（七個）　草烏（尖）</p>
<p><u>汗</u>　換肌散，苦參丸（苦參二，殭蠶一，茝一，為丸服。）</p>
<p><u>下</u>　重甚，舟車、禹功，或顯仁丸。</p>

<h1>痔瘡</h1>
<p>甘草（二錢，生用）　用米泔水調服之。</p>
<p>一方：大黃（煨，三錢）　牡蠣（煅，一兩）　為末，作十服，空心服效。</p>
<p><u>熏</u>　用無花果葉煎水，熏少時再洗。好醋沃燒新磚，如法坐熏。</p>
<p><u>點</u>　以藥點蝕瘡去之。</p>
<p><u>涼血</u>　槐角丸，下血者劫之。</p>
<p><u>滋陰</u>　地黃丸必用之，空心服一百丸。</p>
<p>地黃丸方：</p>
<p>槐角（炒）　柏（炒）　杜仲（炒）　茝（各一兩）　山藥　山茱萸　獨活（各八錢）　澤瀉　丹皮　茯菟（各六錢）　黃耆（一兩半）　熟地（一兩六錢）　白附（二錢）　蜜和為丸。</p>
<p>世俗坐臥熊皮上極效，皮襯鞋底亦妙。</p>

<h1>臁瘡</h1>
<p><u>熏</u>　初起者，即愈，用熟艾，於小罐內燒煙燻之。</p>
<p><u>敷</u>　大扎草灰貼。蠟膏紙，入油些少，乳香些少更妙，或只用文蛤末。</p>
<p>一方：黃連（五）　蛤粉（四）　輕粉（一）　黃丹（一）　枯礬（半）</p>
<p><u>下</u>　顯仁丸。下注瘡只用當歸拈痛湯效，或作丸服。</p>

<h1>疝</h1>
<p>因寒、氣、濕熱、痰積流下，㿗，不痛者是也。</p>
<p><u>溫</u>　酒煮當歸丸、奪命丹、十補丸。按之痛定者屬虛。桂（炒、）　梔子、烏頭，薑汁糊丸，劫痛，第三四十丸服。海石、小茴香，入薑汁，湯調下。或鹽煎散、烏頭桂枝湯。</p>
<p><u>導氣</u>　郁甚，復元通氣散、天台烏藥散。</p>
<p>上病，尿時，用手掩右口鼻耳，少時效。右則取右。</p>
<p><u>疏風</u>　大抵多是肝病。</p>
<p><u>滲濕</u>　五苓加川楝。</p>
<p><u>下</u>　三白散。控引睪丸，蜘蛛散選用之。</p>
<p><u>灸</u>　大敦、三陰交。一法，於臍中蒸之。</p>
<p>一法：於小腹下橫紋斜尖上灸一壯，以下連灸三處，神效。</p>
<p><u>針</u>　太衝、大敦、跳骨、足小指下。</p>
<p><u>行血</u>　有食積與瘀血成痛者，炒梔子、桃仁、山楂、枳實、吳茱萸、荔核，薑汁糊丸。</p>
<p><u>消㿗</u>　外腎囊偏大，用荔核、橄欖核，鼻涕團果核，共燒灰，空心用小茴香湯調下。</p>

<h1>腳氣</h1>
<p>濕熱，食積，流注，風濕，寒濕。</p>
<p><u>勝濕</u>　仙術、白朮、防己、川芎為主，或六物附子湯。濕熱，當歸拈痛湯。</p>
<p><u>下</u>　顯仁丸。兼氣鬱甚者，舟車丸、除濕丹。有飲者，東垣開始導飲丸。</p>
<p><u>劫</u>　如神救苦散、一粒金丹、應疼丸（方在後。）赤芍（半兩）　草烏（半兩）　各煨，去皮尖，酒糊為丸。</p>
<p><u>解表</u>　麻黃左經湯等藥，隨證選用。有兼痰氣、寒濕，五積散。</p>
<p><u>雙解</u>　大黃左經湯選用，東垣羌活導滯湯。</p>
<p><u>理血</u>　八味丸，四物湯加羌活、天麻，或四物加黃柏、南星，或健步丸。</p>
<p><u>補陽</u>　黃耆、防己、白朮、桂、南星、木瓜、茯菟。</p>
<p><u>通關透肌骨</u>　三因勝駿丸。</p>
<p><u>疏風養血</u>　獨活寄生湯。</p>
<p><u>外治</u>　敷貼，用薑汁，芥子、白芷等為末，敷糝。或用仙術、羌活、獨活、白芷、細辛，為末，入帛內，㩢用。</p>
<p><u>熨</u>　腳心用附子末，津貼。湧泉穴，卻以熱熨之。</p>
<p><u>洗藥</u>　威靈仙、防風、荊芥、地骨、當歸、升麻、朔藋。</p>
<p><u>針</u>　公孫二穴，衝陽二穴。</p>
<p><u>灸</u>　三里。</p>

<h1>轉筋</h1>
<p>屬血熱，濕熱。</p>
<p><u>涼血</u>　四物加黃芩、紅花、南星。</p>
<p><u>溫</u>　筋寒者溫之。</p>

<h1>痿</h1>
<p>濕熱，痰，無血而虛，氣弱，瘀血。</p>
<p><u>燥濕</u>　東垣健步丸。</p>
<p><u>導痰</u>　二陳加仙術、白朮、竹瀝、炒黃柏之類。</p>
<p><u>補血</u>　四物加炒柏、仙術，下補陰丸。或四斤丸、八味丸，或四物中加桃仁、紅花。</p>
<p><u>補氣</u>　益氣湯加仙術、炒柏。</p>
<p><u>下</u>　顯仁丸。甚者，丹車丸，行後便收拾調理。</p>
<p><u>灸</u>　三里、肺俞。</p>
<p><u>針</u>　須停待氣至一二時或三時方可。中瀆二穴，環跳二穴。</p>

<h1>內傷</h1>
<p>傷食有有餘，有不足，傷力者，多不足。</p>
<p><u>下</u>　食有餘鬱積，先下之，甚者，備急丹、承氣下。傷力初得，甚者，當歸承氣湯。</p>
<p><u>調理</u>　食過傷元氣，東垣枳朮丸、橘皮枳朮丸。熱物，芩連枳朮丸。</p>
<p><u>補</u>　補中益氣湯。傷力用桑白皮、參、朮、陳皮、當歸，加降火藥。</p>
<p><u>宣</u>　食在上不得下。</p>
<p><u>消導</u>　在中焦。</p>

<h1>痰飲</h1>
<p>痰之為物，隨氣升降，無處不到，亦有脾虛而痰飲作者。有五飲。</p>
<p><u>宣</u>　寸脈實當吐。痰在上，瀉亦不去，吐中有發散之意。桔梗、參蘆、瓜蒂、藜蘆、牙茶選用。</p>
<p><u>消導</u>　食積：瑞竹堂化痰丸、錢氏白餅子。痰在四肢，非竹瀝不開。在脅下，非白芥子不能達。熱痰：青黛、黃連、滾痰丸，二陳加芩連。濕痰：小胃丹、神佑丸，輕者二陳湯。寒痰：薑桂丸、溫中丸、五套丸。風痰：青州白丸子、玉壺丸、天南星丸。驚痰：辰砂化痰丸、保生錠子。</p>
<p><u>發散</u>　風寒外感，金沸草散、三拗湯。因郁，參蘇飲。</p>
<p><u>下</u>　祛痰丸。有痰實似邪祟狂證，滌痰丸、大利膈丸、蠲飲枳實丸。有懸飲內痛，十棗湯，或三因控涎丹。</p>
<p><u>理氣</u>　四七湯、蘇子降氣湯。</p>
<p><u>滋陰</u>　半夏止能泄痰之標，不能治痰之本，腎氣丸以主之。海粉，熱痰能降，濕痰能燥，結痰能軟，頑痰能消，可入丸子，不可入煎藥。</p>
<p><u>鎮墜痰飲</u>　升降陰陽　靈砂丹、黑錫丹、來復丹。</p>

<h1>喘</h1>
<p>未發，以扶正氣為主。已發，以攻邪為主。有外感邪盛。</p>
<p><u>補</u>　氣虛短氣，用人參、蜜炙黃柏、麥門冬、地骨、阿膠、桑白皮。</p>
<p><u>降痰</u>　有痰亦短氣而喘。導痰湯方：</p>
<p>半夏、南星、陳皮、枳實、茯苓、甘草。</p>
<p><u>滋陰</u>　陰虛，自小腹下火起而上者，地黃丸。年高痰喘不定者，必用此，仍茯菟與地黃等分。</p>
<p><u>疏利風痰</u>　《婦人大全良方》千緡湯方：</p>
<p>半夏、皂角、炙草、生薑。</p>
<p><u>降火</u>　有熱甚而喘。</p>
<p><u>泄水</u>　有水乘肺而喘，葶藶、牽牛之類。</p>
<p><u>降氣</u>　導氣湯、蘇子降氣湯，氣實導氣下行。</p>
<p><u>潤燥</u>　款花膏。</p>
<p><u>下</u>　有胃實壅遏，以承氣湯下之，氣實者下之。</p>
<p><u>劫</u>　椒目為細末一二錢，用薑汁調下止之。又蘿蔔蒸熟為君、皂角燒灰等分、薑汁，煉蜜丸，梧桐子大，服五六十丸。劫後，看證用藥。</p>
<p><u>溫</u>　外感心下有水氣，乾嘔而喘，小青龍去麻黃加杏仁主之。</p>

<h1>哮</h1>
<p>專主於痰，必用薄滋味。</p>
<p><u>宣</u>　宜春初吐之。</p>
<p><u>導痰順氣</u>　清肺養正之藥。</p>

<h1>霍亂</h1>
<p>內有所積，外有所感。</p>
<p><u>宣</u>　就微吐之，以提其氣，或用樟木湯吐亦可。</p>
<p><u>解散</u>　乾霍亂不用涼劑，二陳加川芎、仙術、防風、白芷。</p>
<p><u>分利</u></p>

<h1>嘔吐</h1>
<p>有熱，有痰、寒、停食。</p>
<p><u>清熱</u>　胃口有熱，膈上有痰，二陳加薑、黃連。</p>
<p><u>滋陰</u>　還少丹、腎氣丸。</p>
<p><u>溫</u>　理中丸、不二丸。</p>
<p><u>導滯</u>　有積滯毒氣上攻而嘔者。</p>
<p><u>下</u>　有食用內消丸。</p>
<p><u>清鎮</u>　燒針丸必用之。</p>
<p><u>滲泄</u>　水逆者，五苓散主之。</p>
<p><u>補</u>　久病者，胃虛不納穀也，人參、黃耆、白朮、陳皮之類。</p>

<h1>噁心</h1>
<p>痰、熱、虛。</p>
<p><u>辛散</u>　皆用生薑，隨證用藥。</p>
<p><u>灸</u>　嘔吐噁心，胃俞、幽門、商丘、中府、石門、膈俞、陽關。</p>

<h1>膈噎</h1>
<p>即翻胃。血虛、氣虛、熱、痰兼病血積、癖積。</p>
<p><u>補氣</u>　四君子加蘆根、童便，或參苓白朮散，或韭汁、牛羊乳，或入駁驢尿。</p>
<p><u>補血</u>　四物加童便。血病不可服香燥之藥，服之必死。</p>
<p><u>消積</u>　有用阿魏、香附、砂仁、仙術、陳皮、山豆、枳實、木香、歸鬚、桃仁、黃連之類。</p>
<p><u>溫胃</u>　以馬雹兒燒灰存性，每服一錢，用棗肉、平胃散二錢和入酒調下。丁沉透膈湯，小七香丸。</p>
<p><u>逐滯血</u>　多有積血停於內而致，當消息逐之。大便澀者多難治，常令食兔肉，則便利。</p>
<p><u>行氣</u>　木香流氣飲、嘉禾散。</p>
<p><u>清鎮</u>　燒針丸。</p>
<p><u>針</u>　初病者，取天突穴導之，石關二穴。</p>

<h1>疸</h1>
<p>濕熱、寒熱、食積。</p>
<p><u>發汗</u>　三因麻黃醇酒。</p>
<p><u>行濕</u>　茵陳五苓加食積藥。</p>
<p><u>下</u>　黃連、梔子、茵陳、枳實、厚朴、大黃。</p>
<p><u>搐鼻</u>　在上者，用瓜蒂搐之，取下黃水。</p>
<p><u>消食</u></p>
<p><u>溫</u>　陰黃當溫經燥濕。</p>
<p><u>灸</u></p>

<h1>消渴</h1>
<p>上消則多飲水而少食。渴而飲食多，便赤，為中消。下消則膏淋，面色黑而瘦。</p>
<p><u>養肺降火</u>　人參白虎湯、東垣蘭香飲子、麥門冬飲子。</p>
<p><u>滋陰</u>　八味丸、丹溪補陰丸。</p>
<p><u>清鎮</u>　硃砂黃連丸、三因珍珠丸。</p>
<p><u>生津補氣血</u>　東垣生津甘露飲子。</p>
<p><u>下</u>　謂胃承氣湯。</p>
<p><u>潤燥</u>　黃連末、天花粉末、生地汁、生藕葉和入牛乳，佐以薑汁、蜜，或單用浮萍汁。</p>

<h1>水腫</h1>
<p>五臟水，為證不同。皮水、正水、石水、風水。內因氣、濕、食。</p>
<p><u>行氣削積</u>　重者蹋腫丸，輕者大橘皮湯、神金散。</p>
<p><u>下</u>　三聖散，枳實、蘿蔔子、牽牛，為末，看大小與服。氣實，三花、神佑、舟車、禹功選用之，苦瓠丸。</p>
<p><u>利機關</u>　用腎氣，須茯苓與地黃對用，平胃為衣，稍實者，下後用此潔淨府也。</p>
<p><u>實脾土</u>　脾虛不能制水，水漬妄行，當燥脾補虛為主，切不可下。對金飲子、脾積丸。</p>
<p><u>滲泄</u>　桑白、葶藶、大橘皮湯、五苓之類，苤苢。</p>
<p><u>蒸</u>　用湯以法坐熏之。</p>
<p><u>繆刺</u>　脈盛氣實者，可用胃倉穴、合谷、石門、水溝、三里、復溜、曲泉、四滿。</p>
<p><u>消導</u>　有食傷太陰而浮腫如水者，因積滯，看寒熱，分消丸。</p>
<p><u>開鬼門</u>　謂發汗也。</p>

<h1>鼓脹</h1>
<p><u>消導</u>　氣脹，清熱行氣，中滿分消丸。寒脹，中滿分消湯。</p>
<p><u>補中行濕</u>　此脾虛之甚，大劑參、朮、陳皮、茯苓、仙術。</p>
<p><u>行血</u>　有血積。</p>
<p><u>潔淨府</u>　小便澀者，宜竟滲利之。</p>
<p><u>下</u>　脈實人壯盛者，下之便用收拾。</p>
<p><u>行氣</u>　厚朴治脹，因味辛散。一法，用大蝦蟆一個，入豬肚內煮熟，去蟆不用，病人一日吃盡，遂愈，神妙。</p>
<p><u>滋陰</u>　無陰則不能化，故脹，故藥加芩、連類。</p>
<p><u>針</u>　上脘、三里、章門、陰谷、關元、期門、行間、脾俞、懸鐘、承滿。</p>

<h1>自汗</h1>
<p>氣虛、濕熱、陽虛。</p>
<p><u>助陽</u>　參朮中佐以桂枝，甚者附子。</p>
<p><u>下</u>　火氣上蒸於胃作汗者，涼膈散。</p>
<p><u>補</u>　心虛者，礪粉丸補之。</p>
<p><u>撲斂</u>　牡蠣、麩皮、麻黃根、藁本、糯米、防風、白芷，為末，周身撲之。</p>
<p><u>封臍</u>　何首烏末，津調封之。</p>
<p><u>消導</u>　脾胃有食積，熱而自汗，須導之，脾積丸。</p>

<h1>盜汗</h1>
<p>血虛、陰虛。小兒不須治。</p>
<p><u>涼血補血</u>　生地、當歸、黃耆、黃連、黃柏、黃芩、甘草、麻黃根、浮麥。</p>
<p><u>實脾斂肌</u>　白朮四兩，用黃耆、牡蠣、麩，各分一兩，炒過，只用術，為末，每服三二錢。</p>
<p><u>補</u>　文蛤末，為丸，湯下二十粒。</p>
<p><u>劫</u>　何首烏為末，唾調，安臍內。</p>

<h1>吃逆</h1>
<p>痰、氣虛、陰火。</p>
<p><u>補</u>　虛者，參朮中下大補丸。輕者乍得，用思以勝之。</p>
<p><u>溫</u>　胃寒，理中湯。</p>
<p><u>下</u>　便實者下之。</p>
<p><u>宣</u>　氣實脈盛有痰者，必吐之。</p>

<h1>頭眩</h1>
<p>或運。痰挾氣虛，火積其痰。脈大是久病。</p>
<p><u>利痰清熱</u>　南星、半夏、桔梗、枳殼、陳皮、甘草、茯苓、黃芩之類。</p>
<p><u>疏風</u>　川芎茶調散。兼熱痰，二陳加羌活、仙術、黃芩，青州白丸子。</p>
<p><u>降火</u>　滾痰丸、清空膏。</p>
<p><u>導飲</u>　蠲痰丸。</p>
<p><u>消食</u>　有內傷停食挾痰而致。</p>
<p><u>活血</u>　脈澀有死血。</p>
<p><u>補氣</u>　虛者，參、朮、耆、歸、陳皮、甘草之類。</p>
<p><u>搐鼻</u>　濕甚者，牛末吹之。</p>
<p><u>針</u>　上星、風池二穴、天柱。</p>

<h1>痛風</h1>
<p>風熱、風濕、血虛、有痰。</p>
<p><u>發散</u>　仙術、南星、川芎、白芷、當歸（酒炒、）黃芩、防己、桂、甘草。在上，加羌活、威靈仙；在下，加牛膝、木通、炒柏。寒：小續命湯；風：天麻防風散。</p>
<p><u>調理</u>　皮骨散：</p>
<p>虎骨（酥炙二兩）　花蛇（酒浸取肉）　天麻　防風　川牛膝　殭蠶（炒）　歸（酒浸）　乳香（另研）　桂心（各二兩）　炙草　全蠍（半兩）　麝香（一錢）</p>
<p>上為末，每服二錢，豆淋酒調下。</p>
<p><u>補血</u>　多用芎、歸，佐以桃仁、紅花。</p>
<p><u>疏風勝濕</u>　南星、仙術、炒柏為主，佐以臺芎、白芷、桂、桃仁、防己。有濕勝一身盡痛，小胃丹、浚川散。</p>
<p><u>導痰</u>　青州白丸子。</p>
<p><u>針</u>　百會、環跳。</p>
<p><u>灸</u></p>

<h1>肩臂痛</h1>
<p><u>導痰行濕</u>　仙術、半夏、白朮、南星、炒芩、香附、陳皮、荊芥、威靈仙。</p>
<p><u>針</u></p>
<p><u>灸</u>　肩髃、曲池。</p>

<h1>癖塊</h1>
<p>在中為痰飲，在右為食積，在左為血積。氣積、癥、瘕、聚。</p>
<p><u>消削</u>　五臟積，隨證治之，見《玉機微義》積聚門。</p>
<p>血：醋煮海石、三稜、蓬朮、桃仁、紅花、五靈脂、香附、歸鬚、乾漆之類。</p>
<p>氣：御藥院方助氣丸。</p>
<p>痰：滌痰丸。</p>
<p>癥瘕：宣明積氣丹。</p>
<p>肉：丹溪阿魏丸。</p>
<p>酒：鄧山房感應丸。</p>
<p>食：丹溪保和丸、脾積丸，見瀉痢例中。</p>
<p><u>下</u>　因熱，千金硝石大丸。積：蹋腫神應丸。鬼物：八毒赤丸，白馬尿亦能行，或單服之。</p>
<p><u>消導</u>　用行氣和血煎藥，下磨積藥，從湯蕩之。秘方脾積丸，因氣血弱者，攻補兼之。</p>
<p><u>鉤邪</u>　有鬼物，必須鬼物以鉤之，用死人枕煮服。</p>
<p><u>敷貼</u>　以大黃、朴硝、大蒜、鴿糞為膏，敷痞上。又煮蝦蟆，食法見前鼓脹例中。</p>
<p><u>熨蒸</u>　牽牛、蘿蔔子、枳實為末，置於上，以艾火蒸之。</p>
<p><u>養正</u>　養正氣實，而積自除。有隻用舊砂鍋為末，作丸服之效。</p>
<p><u>針</u>　中脘、建里、石關、商曲。</p>
<p><u>倒倉</u>　見《玉機微義》積聚門。</p>
<p><u>灸</u></p>
<p><u>外貼</u>　以一葉梅貼印堂，起泡去之。</p>

<h1>痞</h1>
<p>食積與濕</p>
<p><u>散郁開痰</u>　橘半、枳朮丸、三稜丸。</p>
<p><u>宣</u>　見心痛蘿蔔法。</p>
<p><u>導滯</u>　輕者，枳、丸、茱連丸、陷胸湯。又煮蝦蟆，食法見前鼓脹例下。</p>

<h1>噯氣</h1>
<p>胃中有火、痰、氣鬱、滯，隨證治之。</p>

<h1>吞酸</h1>
<p>有熱者，必順其性而折之，用吳茱、黃連。濕勝者，七香丸。</p>

<h1>嘈雜</h1>
<p>多是痰、食鬱。有熱，姜炒黃連不可無。</p>

<h1>夢遺</h1>
<p>脫精，專主濕熱、虛。</p>
<p><u>固真</u>　縛虎飲子，見腰痛補例。</p>
<p><u>補</u>　氣血虛，與八物湯下珍珠粉丸。</p>
<p><u>燥濕</u>　珍珠粉丸方：黃柏、知母、牡蠣粉、蛤粉。</p>
<p><u>清熱安神</u>　青黛、海石、柏。</p>
<p><u>灸</u></p>

<h1>濁</h1>
<p>濕熱、痰、虛。赤屬血，白屬氣。</p>
<p><u>燥濕</u>　濕痰流注，於二陳中加仙術、白朮。赤者加白芍，仍用珍珠粉丸。</p>
<p><u>清熱</u>　脈弦滑者，青黛、滑石、柏、□。</p>
<p><u>燥痿</u>　南星，守田，海石，以神麯糊為丸，青黛衣。</p>
<p><u>補</u>　氣血虛，縛虎飲子下珍珠丸。心虛，宜定志丸。</p>
<p><u>下</u>　熱在下，氣實者，導水丸。</p>

<h1>癇</h1>
<p>大率行痰為主。</p>
<p><u>清熱養氣血</u>　寧神丹：</p>
<p>天麻　人參　陳皮　白朮　歸身　茯神　荊穗　殭蠶　獨活　遠志　犀角　麥門冬　棗仁　辰砂（各五錢）　守田　南星　石膏（各一兩）　甘草　白附子　川芎　鬱金　牛黃（各三錢）　珍珠（三錢）　生地　黃連（各半兩）　金箔（三十片）　共為末，酒糊為丸。</p>
<p><u>灸</u>　百會、鳩尾、上脘、神門。</p>

<h1>健忘</h1>
<p>精神短少者多，亦有痰者，隨證治之。</p>
<p><u>清熱養血</u>　安神丸、小黃丸合服之。</p>
<p><u>順氣清神</u>　補中益氣加石膏、荊芥、芎。</p>

<h1>怔忡</h1>
<p>大抵屬血虛，有慮便動屬虛，時作時止者，痰逐火動。瘦人是血少，肥是痰。</p>
<p><u>補</u>　補中益氣湯加生地、石膏、荊芥穗。</p>
<p><u>宣</u>　氣實者，用倒倉法，見積聚門（《玉機微義》）。</p>
<p><u>導痰清神</u>　調中益氣丹方：</p>
<p>人參　歸身　茯神　遠志　乾山藥　生地　酸棗仁　辰砂　陳皮（各一兩）　白朮（一兩半）　牡蠣（煅，二兩）　麥門冬　黃連（各半兩）　生甘草（一兩）　枳實（炒，七錢）　半夏（制，八錢）</p>
<p>上為末，酒糊丸，如梧桐子大，每服四五十丸，食遠白湯下。</p>

<h1>驚悸</h1>
<p>屬血虛、痰、熱，隨證治之。</p>

<h1>耳聾</h1>
<p><u>疏風</u>　疼者，用五倍末、全蠍末，綿裹塞之。茶調散、人乳和蓖麻子肉、棗作膏，塞耳中。</p>
<p><u>清熱開痰</u>　清神散合二陳。</p>
<p><u>宣</u>　蘿蔔子半兩，炒，為末，調白湯，作三二次空心服而吐之。</p>
<p><u>解鬱</u>　有因七情致者，隨氣治之。</p>

<h1>痹</h1>
<p>風、寒、濕。</p>
<p><u>發散</u>　風寒濕三氣，合為行痹，上下左右無定，宣明防風湯。</p>
<p><u>溫經</u>　寒勝為痛痹，四肢疼而浮腫，宣明茯苓湯。濕勝為著痹，四肢麻、筋攣、腫，茯苓川芎湯。</p>
<p><u>潤膚滋腎</u>　在血脈之中，隨上下不通。</p>
<p><u>摩擦</u>　薑汁、蔥泥，周身擦之。</p>
<p><u>灸</u></p>
<p><u>疏風養血</u>　通聖散去硝、黃，加白芷、羌活，為末服之。</p>
<p><u>導痰飲</u>　有因支飲手足麻痹、多唾、眩冒。守田、赤茯苓、陳皮、枳實、桔梗、甘草，名茯苓湯。</p>

<h1>厥</h1>
<p><u>捷嚏</u>　初得厥而不知人事，宜不臥散吹擂。</p>
<p><u>調氣</u>　先用蘇合香丸灌之，醒後看虛實治。</p>
<p><u>升發</u>　卒厥暴死，飛屍鬼注，鬼擊客忤，三因追魂湯，即麻黃湯。</p>
<p><u>宣</u>　或七情痰氣所致，故宜吐之。白子末湯調，服之吐。</p>
<p><u>清熱養氣</u>　白虎加人參湯。虛甚者，獨參湯。</p>
<p><u>溫</u>　表熱內寒，下利清穀，食入則吐，或乾嘔，或汗，四肢冷，拘急，身體痛，不渴，四逆湯。</p>

<h1>癭</h1>
<p>常服芩連枳朮丸，仍含後丸，用昆布、海藻、帶各二錢，大力四錢，炒，為末，如後用，效。</p>
<p><u>耎散</u>　瓦松、海藻、昆布、海帶、豬羊靨子，和為丸，如彈子大，每丸含化之。</p>
<p><u>導痰氣</u>　三稜丸。</p>

<h1>癩</h1>
<p>此是感天地殺厲之氣。聲啞者，難治。</p>
<p><u>下蟲</u>　病在下，通天再造散。取蟲及穢物方：</p>
<p>鬱金（一錢）　大黃（一兩）　白牽牛（六錢，半生半熟）　皂角刺（一兩，陳者）　共為末，酒下五錢。</p>
<p><u>取涎</u>　病在上，用醉仙散於牙縫中追毒取涎，方見後。</p>
<p><u>發散</u>　痛者，養血藥中加如聖散。</p>
<p><u>疏風清熱</u>　防風通聖散加生地、羌活、獨活、大力子、白芷、蔓荊子。</p>
<p><u>宣</u>　氣實痰壅者，宜吐、汗之。</p>
<p><u>換肌</u>　換肌丹方：</p>
<p>當歸　苦參（各二兩）　川芎　撫芎　防風　荊芥穗　川羌活　獨活　金蠍　蟬蛻（各一兩半，共為末）　大楓子（三斤，取淨肉一斤）</p>
<p>上楓肉搗如泥，和陳米飯為丸，每服四十丸，空心至晚各進一服。</p>
<p><u>針</u>　出惡血，取委中二穴，針之去惡血二三合。又黑紫疙瘩處，亦去惡血。</p>
<p><u>涼血瀉火</u>　四物加生地、荊芥穗、黃耆、黃連、地骨、甘草、黃芩之類。</p>
<p><u>潤膚</u>　大楓子、枯礬、輕粉、苦參、白芷，為膏潤之。癢者，加白芨、硝、雄黃。</p>
<p><u>追涎</u>　鼻塞者，用豬牙皂角十條，微泡去皮，玄胡索大者三枚，青黛半錢，共為末，滴水丸如雞頭大，曬乾。</p>
<p>每一丸以水浸開，口含水，以藥搐鼻中，其涎自出，後以水漱口自止。</p>
<p>醉仙散方：服五七日後，牙縫中出涎。</p>
<p>胡麻　鼠黏子　枸杞子　蔓荊子（各一兩，同炒）　白蒺藜　苦參　防風　栝蔞根（各半兩）上為末，每十五錢入輕粉一錢，茶湯調下。</p>
<p><u>洗浴</u>　雄黃（研，生用，）　臨時下黃柏、槐花、麻黃、苦、乾薑（各一兩），只為粗末，用水一桶許，浸五日，令藥水濃卻，煎數沸，去渣，入缸或大桶內，令滿，坐於內沒身，汗出為度，其蟲取下，遠去其水，於僻處理藏，換新衣著，大忌色欲、口味。</p>
<p><u>雙解</u>　烏蛇丸方：皂角去皮弦子二十定，酥炙；白花蛇、烏蛇各一條，並酒浸，去骨，焙乾；苦參四兩；大楓子三斤，內取淨肉一斤。共為細末，以皂角十三定捶碎，以水五升浸一宿，濾去渣，熬成膏，和前藥為丸，桐子大。每三十丸，欲利，溫酒下，以利為度；欲汗，通聖散汁送下，三日服一遍，汗出為度。</p>
<p><u>斂瘡藥</u>　風癢多用，尋常少用。</p>
<p>紫荊皮（四兩）　白芨　赤小豆　斑蝥（去足翅）　明礬　全蠍（各二錢半）</p>
<p>上為細末，水調塗敷其瘡，直到了不換，痊後其痂自落。</p>

<h1>白癜風</h1>
<p>瑞竹堂追風丹。一法，臘八日取活兔血，和酒服之。</p>

<h1>紫癜風</h1>
<p>雄黃、白附子、草烏尖末，和薑汁擦之。</p>

<h1>下疳瘡</h1>
<p><u>敷</u>　好茶（二錢）　川椒（半錢）　為末貼之。蟾，乾者，燒灰貼之亦可，洗後敷之。又方：五倍子（炒、）吳、白芷、荊芥穗、黃柏、共為末，貼。</p>

<h1>骨梗</h1>
<p><u>咒</u>　密咒云：洪穎登樓奉帝敕，吾敕真人化此辰。急急如敕令。向北七遍。</p>
