<header data-type="book">
<h1>三消論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>劉完素</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>年份</dt><dd><data value="1244">公元1244年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=78952">《周氏醫學叢書》本</a></dd></div>
</dl>
</header>

<h1>正文</h1>
<p>《易》言：天地自太虛至黃泉，有六位，《內經》言：人之身，自頭至足，亦有六位，今余又言：人胸腹之間，自肺至腎，又有六位，人與天地，造化五行，同一爐備，知彼則知此矣。故立天之氣，曰金與火，立地之氣，曰土與水，立人之氣，曰風與火，故金火合則熱而清，水土合則濕而寒，風火合則溫而炎。</p>
<p>人胸腹之間，亦猶是也。肺最在上，為燥金，主清，心次，為君火，主熱，肝又次之，為風木，主溫，膽又次之，為相火，主極熱，脾又次之，為濕土，主涼，腎又次之，黃泉，為寒水，主寒。故心肺象天，脾腎象地，肝膽象人。不知此者，不可與論人之病矣。</p>
<p>夫土為萬物之本，水為萬物之元，水土合德，以陰居陰，同處乎下，以立地氣。萬物根於地，是故水土濕寒。若燥熱陽實，則地之氣不立，萬物之根索澤，而枝葉枯矣。五常政大論曰：根於中者，命曰神機，是為動物，根本在於中也。根本者，脾、胃、腎也。（解經牽強，經義不如此也。經文本有兩義，一言動物之官骸，聽命於中，是根於中也，植物之枝葉，發生於下，是根於外也，一言人神明思慮發於中，故曰根於中，營術氣血運於外，故曰根於外也。中廢則無知，外息則不動矣，非脾腎之謂也。後《原病式》所論，極是。）</p>
<p>食入胃，則脾為布化氣味，榮養五臟百骸，故酸入肝而養筋膜，苦入心而養血脈，甘入脾而養肌肉，辛入肺而養皮毛，鹹入腎而養骨髓。五氣亦然，故清養肺，熱養心，溫養肝，濕養脾，寒養腎也。凡此五味五氣，太過則病，不及亦病，惟平則安矣。（觀此則上文偏重濕寒，而惡燥熱，亦屬未是。）故六節臟象論曰：五味入口，藏於腸胃，味有所臟，以養五氣，氣和而生，津液相成，神乃自生，是其理也。又，大陰陽明論云：脾病而四肢不用者，何也？岐伯曰：四肢稟氣於胃，而不得至經，必因於脾，乃得稟也。今脾病不能為胃行其津液，四肢不得稟水穀氣，氣日以衰，脈道不利，筋骨肌肉皆無氣以生，故不用焉。帝曰：脾不主時何也？岐伯曰：脾者，土也，治中央，常以四時長四臟，各十八日寄治，不得獨主於時也。脾臟者，常著於胃土之精也，土者，生萬物而法天地，故上下至頸足，不得獨主於時也。帝曰：脾與胃，以膜相連爾，而能為之行其津液，何也？岐伯曰：足太陰者，三陰也，其脈貫胃屬脾絡嗌，故太陰為之行氣於三陰。足陽明者，表也，五臟六腑之海也，亦為之行氣於三陽。臟腑各因其經而受氣於陽明，故為胃行其津液。四肢不得稟水穀氣，氣日以衰，脈道不利，筋骨肌肉皆無氣以生，故不用焉。不用者，謂不能為之運用也。由是觀之，則五臟六腑，四肢百骸，皆稟受於脾胃，行其津液，相與濡潤滋養矣。後之醫者，欲以燥熱之劑，以養脾胃，滋土之氣，不亦舛乎！況消渴之病者，本濕寒之陰氣極衰，燥熱之陽氣太甚，更服燥熱之藥，則脾胃之氣竭矣。</p>
<p>叔世不分五運六氣之虛實，而一概言熱為實而虛為寒，彼但知心火陽熱一氣之虛實，而非臟腑六氣之虛實也。（熱實寒虛，義亦本於《內經》，以人身發生之元氣言，先生乃以五行之生制言。二者之理，均所當究，未可互非。）蓋肺本清，虛則溫，心本熱，虛則寒，肝本溫，虛則清，脾本濕，虛則燥，腎本寒，虛則熱。假若胃冷為虛者，乃胃中陰水寒氣實甚，而陽火熱氣衰虛也，非胃土濕氣之本衰，（此段義論精切，所謂五行各有陰陽也。）故當溫補胃中陽火之衰，退其陰水寒氣之甚。又如，胃熱為實者，乃胃中陽火實而陰水虛也，故當以寒藥瀉胃中之實火，而養其水虛。然此皆補瀉胃中虛熱水火所乘之邪，非胃為濕者之本。其餘例同法。夫補瀉脾胃濕土之本氣者，潤其濕者是補濕，燥其濕者是瀉濕，土本濕故也。（指明本氣，是先生獨得之秘，是從五行立論。）</p>
<p>凡臟腑諸氣，不必腎水獨當寒，心火獨當熱，要知每臟每腑，諸氣和同，宣而平之可也。故余嘗謂：五行之道，陰中有陽，陽中有陰。孤陰不長，獨陽不成。但有一物，皆備五行，遞相濟養，是謂和平，交互克伐，是謂衰盛，變亂失常，患害由行。故水少火多，為陽實陰虛，而病熱也，水多火少，為陰實陽虛，而病寒也。其為治者，瀉實補虛，以平為期而已矣。故治消渴者，補腎水陰寒之虛，而瀉心火陽熱之實，除腸胃燥熱之甚，濟一身津液之衰，使道路散而不結，津液生而不枯，氣血利而不澀，則病日已矣。（散結濡枯利澀，為治消渴妙諦，亦治萬病之準繩也。以上論臟腑五行之本氣，為第一段。）況消渴者，本因飲食服館失宜，腸胃乾涸，而氣液不得宣平，或耗亂精神，過違其度，或因大病，陰氣損而血液衰虛，陽氣悍而燥熱鬱甚之所成也。故《濟眾》云：三消渴者，皆由久嗜咸物，恣食炙煿，飲酒過度。亦有年少服金石丸散，積久食熱，結於胸中，下焦虛熱，血氣不能制石，熱燥甚於胃，故渴而引飲。</p>
<p>若飲水多而小便多者，名曰消渴。若飲食多而不甚飢，小便數而漸瘦者，名曰消中。若渴而飲水不絕，腿消瘦而小便有脂液者，名曰腎消。如此三消者，其燥熱一也，但有微甚耳。</p>
<p>余聞世之方，多一方而通治三消渴者，以其善消水穀而喜渴也。然叔世論消渴者，多不知本。其言消渴者，上實熱而下虛冷，上熱故煩渴多飲，下寒故小便多出。本因下部腎水虛，而不能制其上焦心火，故上實熱而下虛冷。又曰：水數一，萬物之本，五行之先，故腎水者，人之本，命之元，不可使之衰弱。根本不堅，則枝葉不茂，元氣不固，則形體不榮。消渴病者，下部腎水極冷，若更服寒藥，則元氣轉虛而下部腎水轉衰，則上焦心火亢甚，而難治也。但以暖藥補養元氣，若下部腎水得實，而勝退上焦心火，則自然渴止，小便如常，而病愈也。若此之言，正與仲景相反，所謂巧言似是，於理實違者也。非徒今日之誤，亦已久哉。又如，蔣氏《藥證病源》中，（今無此書。）論消渴、消中、消腎病曰：三焦五臟俱虛熱，惟有膀胱冷似冰，又曰：腰腎虛冷日增重，又曰：膀胱腎臟冷如泉。始言三焦五臟俱虛熱，惟有膀胱冷似冰，復言腎臟亦冷，且腎臟冰冷言為虛，其餘熱者，又皆言其虛，夫陰陽興衰，安有此理！且其言自不相副，其失猶小，至於寒熱差殊，用率相反，過莫大焉。（先生之辯，固極有理，然虛熱、虛寒，常為病者所兼有，不獨消渴也。《內經》亦曰：氣之所併為血虛，血之所併為氣虛，是無實乎？曰：有者為實，無者為虛。故氣並則無血，血並則無氣，氣血相失，故為虛焉。故一身而兼有寒熱之兩虛者，亦非甚悖於理也。但用藥從陰引陽，從陽引陰，須有權衡，豈可謂火虛者必水實，陰盛者必陽衰耶！後來薛立齋輩，謂陽盛者不必抑陽，但益陰以配之，陰盛者不必消陰，但助陽以配之。此即一偏之論也，未始非濫觴。於先生之說矣。）或又謂：腎與膀胱屬水，虛則不能制火，虛既不能制火，故小便多者，愈失其遠矣。彼謂水氣實者必能制火，虛則不能制火，故陽實陰虛，而熱燥其液，小便淋而常少，陰實陽虛，不能制水，小便利而常多，豈知消渴小便多者，非此謂也。何哉？蓋燥熱太甚，而三焦腸胃之腠理，怫鬱結滯，緻密壅塞，而水液不能泄，浸潤於外，榮養百骸，故腸胃之外，燥熱太甚，雖復多飲於中，終不能浸潤於外，故渴不止。小便多出者，為其多飲，不能滲泄於腸胃之外，故數溲也。（此段議論，精確絕倫，學者當能參透，即萬病俱貫通矣。而徐靈胎、陳修園，每詆葉天士通絡之議，何也？一部《原病式》，只說得經絡氣化四字。）</p>
<p>故余著有《原病式》曰：皮膚之汗孔者，謂泄汗之孔竅也。一名氣門者，謂泄氣之門戶也。一名腠理者，謂氣液之隧道紋理也。一名鬼門者，謂幽冥之門也。一名玄府者，謂玄微之府也。然玄府者，無物不有，人臟腑、皮毛、肌肉、筋膜、骨髓、爪牙，至於萬物，悉皆有之。乃出入升降，道路門戶也。故經曰：出入廢則神機化滅，升降息則氣立孤危，故非出入則無以生長壯老已，非升降則無以生長化收臟，是知出入升降，無器不有。故知人之眼、耳、鼻、舌、身、意、神、識，能為用者，皆由升降出入之通利也。有所閉塞，則不能用也。若目無所見，耳無所聞，鼻不聞香，舌不知味，筋痿骨痹，爪退齒腐，毛髮墮落，皮膚不仁，腸胃不能滲泄者，悉由熱氣怫鬱，玄府閉塞，而致津液、血脈、營衛、清氣不能升降出入故也。各隨鬱結微甚，而為病之大小焉。病在表，則怫鬱腠理，閉密陽氣，不能散越，故燥而無汁，而氣液不能出矣。叔世不知其然，故見消渴數溲，妄言為下部寒爾，豈知腸胃燥熱怫鬱，使之然也，予所以舉此。</p>
<p>世謂消渴之證，乃腸胃之外燥熱，痞閉其滲泄之道路，水雖入腸胃之內，不能滲泄於外，故小便數而復渴。此數句，足以盡其理也，試取《內經》凡言渴者，盡明之矣。有言心肺氣厥而渴者，有言肝痹而渴者，有言脾熱而渴者，有言腎熱而渴者，有言胃與大腸熱結而渴者，有言腸痹而渴者，有言小腸癉熱而渴者，有因病瘧而渴者，有因肥甘石藥而渴者，有因醉飽入房而渴者，有因遠行勞倦遇大熱而渴者，有因傷寒胃干而渴者，有因病熱而渴者，有因病風而渴者。雖五臟之部分不同，而病之所遇各異，其歸燥一也。（以上發明病根，是本段之前半截。下乃備引經義，以證其實而足其理。）</p>
<p>所謂心肺氣厥而渴，厥論曰：心移熱於肺，傳為膈消。注曰：心熱入肺，久而傳化，內為膈熱，消渴多飲也。所謂肝痹而渴者，痹論曰：肝痹者，夜臥則驚，多飲，數小便。所謂脾熱而渴者，痿論曰：脾氣熱則胃干而渴，肌肉不仁，發為肉痿。所謂腎熱而渴者，刺熱論曰：腎熱病者，先腰痛，胻酸，苦渴數飲，身熱，熱論曰：少陰脈貫腎，絡於肺，系舌本，故口燥舌乾而渴。叔世惟言腎虛不能制心火，為上實熱而下虛冷，以熱藥溫補腎水，欲令勝退心火者，未明陰陽虛實之道也。夫腎水屬陰而本寒，虛則為熱，心火屬陽而本熱，虛則為寒，若腎水陰虛，則心火陽實，是謂陽實陰虛，而上下俱熱，明矣。故氣厥論曰：腎氣衰，陽氣獨勝。宣明五氣論曰：腎惡燥，由燥，腎枯水涸。臟氣法時論曰：腎苦燥，急食辛以潤之。夫寒物屬陰，能養水而瀉火，熱物屬陽，能養火而耗水，今腎水既不勝心火，則上下俱熱，奈何以熱藥養腎水，欲令勝心火？豈不繆哉！又如，胃與大腸熱結而渴者，陰陽別論曰：一陽結，謂之消。注曰：二陽結，胃及大腸俱熱結也。腸胃菀熱，善消水穀。又，氣厥論曰：大腸移熱於胃，善食而瘦。脈要精微論曰：癉成為中消，善食而瘦。如腸痹而渴者，數飲而不得中，氣喘而爭，（痹論作數飲而出不得，中氣喘爭。今以不得中為句，是謂不得留於中，而即出也，恐非經旨。）時發飧泄。夫數飲而不得中，其大便必不停留，然則消渴數飲而小便多者，止是三焦燥熱怫鬱而氣衰也，明矣，豈可以燥熱毒藥助其強陽，以伐弱陰乎！此真實實虛虛之罪也。夫消渴者，多變聾盲、瘡癬、痤疿之類，皆腸胃燥熱怫鬱，水液不能浸潤於周身故也。或熱甚而膀胱怫鬱，不能滲泄，水液妄行，而面上腫也。如小腸痹熱而渴者，舉痛論曰：熱氣留於小腸，腸中痛，癉熱焦渴，則便堅不得出矣。注曰：熱滲津液，而大便堅矣。如因病瘧而渴者，瘧論曰：陽實則外熱，陰虛則內熱，內外皆熱，則喘而渴，故欲飲冷也。然陽實陰虛而為病熱，法當用寒藥養陰瀉熱，是為瀉實補衰之道也。如因肥甘石藥而渴者，奇病論曰：有口甘者，病名為何？岐伯曰：此五氣之所溢也，病名脾癉。癉為熱也，脾熱則四臟不稟，故五氣上溢也。（脾屬土，土數五，故曰五氣，非謂五臟之氣也。）先因脾熱，故曰脾癉。又，經曰：五味入口，藏於胃，脾為之行其精氣，津液在脾，故令人口甘也。此肥美之所發也，此人必數食甘美而多肥也。肥者令人內熱，甘者令人中滿，故其氣上溢，轉而為消渴。通評虛實論曰：消癉、僕擊、偏枯、痿厥、氣滿發逆，肥貴之人，膏粱之疾也。或言：人惟胃氣為本，脾胃合為表裡，脾胃中州，當受溫補，以調飲食。今消渴者，脾胃極虛，益宜溫補，若服寒藥，耗損脾胃，本氣虛乏，而難治也。此言乃不明陰陽、寒熱虛責、補瀉之道，故妄言而無畏也。豈知腹中論云：帝曰，夫子數言熱中消中不可服芳草石藥，石藥發癲，芳草發狂。注言：多飲數溲，謂之熱中。多食數溲，謂之消中。多喜曰癲。多怒曰狂。芳，美味也。石謂英、乳，乃發熱之藥也。經又曰：熱中消中，皆富貴人也，今禁膏粱，是不合其心，禁芳草石藥，是病不愈，願聞其說。岐伯曰：芳草之味美，石藥之氣悍，二者之氣，急疾堅勁，故非緩心和人，不可服此二者。帝曰：何以然？岐伯曰：夫熱氣慓悍，藥氣亦然。所謂飲一溲二者，當肺氣從水而出也，其水穀之海竭矣。凡見消渴，便用熱藥，誤人多矣，故《內經》應言渴者，皆如是，豈不昭晰歟！</p>
<p>（以上論理升降出入，是病機也。推病根，為第二段。）</p>
<p>然而猶有惑者，諸氣過極，反勝也，是以人多誤也，如陽極反似陰者是也。（推進一層，發明化氣，則前半義理，更覺圓道矣。）若不明標本，認似為是，始終乖矣。故凡見下部覺冷，兩膝如冰，此皆心火不降，狀類寒水，宜加寒藥下之三五次，則火降水升，寒化自退。（此下謂清降之也，非攻下也。此等上熱下寒，固是火不下降，然火之所以不降，非有寒以格之耶，治此者，成法甚多，未可概用寒下。且上熱下寒與內熱外寒，皆真寒真熱也，與真熱而現寒之假象，尚隔一層。）然而舉世皆同執迷，至如《易》、《素》二書，棄如朽壤，良可悲夫！故處其方，必明病之標本，達藥之所能，通氣之所宜，而無加害者，所以制其方也已。</p>
<p>所謂標本者，先病而為本，後病而為標，此為病之本末也。標本相傳，先當救其急也。又云：六氣為本，三陰三陽為標，蓋為病，藏病最急也。又云：六氣為胃之本，假若胃熱者，胃為標，熱為本也，處其方者，當除胃中之熱，是治其本也。故六氣乃以甚者為邪，衰者為正，法當瀉甚補衰，以平為期。養正除邪，乃天之道也，為政之理，補殘之義也。大凡治病，明知標本，按法治之，何必謀於眾。陰陽別論曰：謹熟陰陽，無於眾謀。標本病傳論：知標知本，萬舉萬當，不知標本，是謂妄行。至真要大論曰：知標知本，用之不殆，明知逆順，正行無問。不知是者，不足以言診，適足以亂經。故《大要》曰：粗工嘻嘻，以為可知，言熱未已，寒病復起，同氣異形，迷診亂經，此之謂也。夫標本之道，淺而博，小而大，可以言一而知百。言標與本異，易而弗損，察本與標，氣可令調。明知勝復，為萬民式，天之道畢矣。天元紀大論曰：至數極而道不惑，可謂明矣。所謂藥之功能者，溫涼不同，寒熱相反，燥濕異本，前已言之矣。（以上推論化氣，發明標本，是補足前半篇義理，為第三段。以下論五味補瀉治法，結束通篇，為第四段。）</p>
<p>斯言氣也，至於味之功能，如酸能收，甘能緩，辛能散，苦能堅，咸能輕。酸屬木也，金燥主於散落，而木反之。土濕主於緩，而水勝之，故能收也。苦能燥濕而堅、火者苦也，《易》曰燥萬物者，莫熯乎火，凡物燥則堅也，甘能緩急而散結，甘者土也，燥能急結，故緩則急散也。辛能散抑散結潤燥，辛者金也，金主散落，金生水故也。況抑結散，則氣液宣行，而津液生也。藏氣法時論曰：腎苦燥，急食辛以潤之，開腠理，致津液，通氣也。咸能輕堅，咸者水也，水潤而柔，故勝火之堅矣，此為五臟之味也。其為五味之本者，淡也。淡，胃土之味也。胃土者，地也，地為萬物之本，胃為一身之本。天元紀大論曰：在地為化，化生五味，故五味之本，淡也。以配胃土，淡能滲泄利竅。夫燥能急結，而淡能緩之，淡為剛土，極能潤燥，緩其急結，令氣通行，而致津液滲泄也。故消渴之人，其率與食，皆宜淡劑。至真要大論曰：辛甘發散為陽，酸苦湧泄為陰，鹹味湧泄為陰，淡味滲泄為陽。六者或散、或收、或緩、或急、或燥、或潤、或堅、或輕，隨所利而行之，調其氣也。</p>
<p>《本草》云：藥有三品，上品為君，主養命，小毒，以應天，中品為臣，主養性，常毒，以應人，下品為佐使，主治病，大毒，以應地。不在三品者，氣毒之物也。凡此君臣佐使者，所以明藥之善惡也。處方之道，主治病者為君，佐君者為臣，應臣之用者為佐使。適其病之所根，有君臣佐使、奇偶小大之制，明其歲玫、君臣、脈位，而有逆順、反正、主療之方，隨病所宜以施用，其治法多端，能備所用者，良工也。寒者熱之，熱者寒之，溫者清之，清者溫之，結者散之，散者收之，微者逆而制之，甚者從而去之，燥者潤之，濕者燥之，堅者輕之，輕者堅之，急者緩之，客者除之，留者攻之，勞者溫之，逸者行之，驚者平之，衰者補之，甚者瀉之，吐之，下之，摩之，浴之，搏之，劫之，開之，發之，灸之，刺之，適足為用，各安其氣，必清必淨，而病氣衰去，臟腑和平，歸其所宗，此治之大體也。陰陽應象大論曰：治不法天之紀，不明地之理，則災害至矣。又，六節藏象論曰：不知年之所加，氣之盛衰，不可以為工也。</p>
<p>今集諸經驗方，附於篇末。</p>
<p><u>神白散</u>　治真陰素被損虛，多服金石等藥，或嗜炙爆咸物，遂成消渴。</p>
<p>桂府滑石（六兩）　甘草（一兩，生用）</p>
<p>上為細末，每服三錢。或大渴欲飲冷者，用新汲水尤妙。</p>
<p><u>豬肚丸</u>　治消渴、消中。</p>
<p>豬肚（一枚）　黃連（五兩）　栝蔞（四兩）　麥冬（四兩，去心）　知母（四兩。如無，以茯苓代之）</p>
<p>上四味，為末，納豬肚中，線縫，安甑中，蒸極爛熟，就熱於木臼中搗可丸，如硬，少加蜜，丸如桐子大，每服三十丸，漸加至四十丸。渴則服之。如無木臼，以砂盆中，用木杆研亦可，以爛為妙矣。</p>
<p><u>葛根丸</u>　治消渴，消腎。</p>
<p>葛根（二兩）　栝蔞（三兩）　鉛丹（二兩）　附子（一兩重者，炮，去皮臍用）</p>
<p>上四味，搗，羅為細末，煉蜜為丸，如梧桐子大，每服十丸，日進三服。治日飲碩水者。春夏去附子。</p>
<p><u>胡粉散</u>　治大渴，百方療不瘥者。亦治消腎。</p>
<p>鉛丹　胡粉（各半兩）　栝蔞（一兩半）　甘草（二兩半）　澤瀉　石膏　赤石脂　白石脂（各半兩）　</p>
<p>上八味，為細末，水服方寸匕，日二服。壯者一匕半。一年病，一日愈，二年病，二百愈。渴甚者二服。腹痛者減之。如丸服亦妙，每服十丸，多則腹痛也。</p>
<p><u>三黃丸</u>　主治男子婦人五勞七傷，消渴不生肌肉，並婦人帶下，手足發寒熱者。（此方見《千金翼方》第十九卷中，分兩少有不同。）</p>
<p>（《赤水玄珠·三卷·口問》載此方云：主三焦實熱。分兩俱與此同，惟夏三月黃連作五兩。）</p>
<p>春三月：黃芩（四兩）　大黃（二兩，《翼》作三兩）　黃連（四兩）</p>
<p>夏三月：黃芩（六兩）　大黃（一兩）　黃連（一兩，《翼》作七兩）</p>
<p>秋三月：黃芩（六兩）　大黃（二兩）　黃連（二兩，《冀》作三兩）</p>
<p>冬三月：黃芩（三兩）　大黃（五兩）　黃連（二兩）</p>
<p>上三味，隨時加減，搗為細末，煉蜜為丸，如大豆大每服五丸，日三服。不去者，加七丸。服一月病愈。嘗試有驗矣。</p>
<p><u>人參白朮散</u>　治胃膈癉熱，煩滿，不欲食。或癉成為消中，善食而瘦。或燥郁甚而消渴，多飲而數小便。或熱病，或恣酒色，誤服熱藥者，致脾胃真陰血液損虛，肝心相搏，風熱燥甚，三焦胃腸，燥熱怫鬱，而水液不能宣行，則周身不得潤濕，故瘦瘁黃黑，而燥熱消渴。雖多飲，而水液終不能浸潤於腸胃之外，渴不止而便注，為小便多也。</p>
<p>叔世俗流，不明乎此，妄謂下焦虛冷，誤死多矣。又如周身風熱燥郁，或為目瘴、癰疽、瘡瘍，上為喘嗽，下為痿痹。或停積而濕熱內甚，不能傳化者，變水腫腹脹也。凡多飲數溲，為消渴，多食數溲，為消中，肌肉清瘦，小便有脂液者，為消腎，此世之所傳三消病也。雖古所不載，以《內經》考之，但燥熱之微甚者也。此藥兼療一切陽實陰虛，風熱燥郁，頭目昏眩，中風偏枯，酒過積毒，一切腸胃澀滯壅塞，瘡癬痿痹，並傷寒雜病，煩渴，氣液不得宣通，並宜服之。</p>
<p>人參　白朮　當歸　芍藥　大黃　山梔子　澤瀉（已上各半兩）　連翹　栝蔞根　乾葛　茯苓（已上各一兩）　官桂　木香　藿香（各一分）　寒水石　甘草（各二兩）　石膏（四兩）　滑石　盆硝（各半兩）</p>
<p>上為粗末，每服五錢，水一盞，生薑三片，同煎至半盞，絞汁，入蜜少許，溫服。漸加至十餘錢，無時，日三服。或得臟腑疏利，亦不妨，取效更妙。後卻常服之，或兼服消痞丸。似覺腸胃結滯，或濕熱內甚自利者，去大黃、芒硝。</p>
<p><u>人參散</u>　治身熱頭痛，或積熱黃瘦，或發熱惡寒，蓄熱寒戰，或膈痰嘔吐，煩熱煩渴，或燥渴瀉利，或目疾口瘡，或咽喉腫痛，或風火昏眩，或蒸熱虛汗，肺痿勞嗽。一切邪熱變化，真陰損虛，並宜服之。</p>
<p>石膏（一兩）　寒水石（二兩）　滑石（四兩）　甘草（二兩）　人參（半兩）</p>
<p>上為細末，每服二錢，溫水調下，或冷水亦得。</p>

<h1>跋</h1>
<p>《三消》之論，劉河間之所作也。因麻徵君寓汴梁，暇日訪先生後裔，或舉教醫學者，即其人矣。徵君規詣其家，求先生平昔所著遺害。乃出《三消論》、《氣宜》、《病機》三書，未傳於世者，文多不全。止取《三消論》，於卷首增寫六位、藏象二圖，其餘未遑潤色，即付友人穆子昭。</p>
<p>子昭，乃河間門人穆大黃之後也。時覓官於京師，方且告困。徵君欲因是而惠之，由是余從子昭授得一本。後置兵火，遂失其傳。</p>
<p>偶於鄉人霍司承君祥處，復見其文，然傳寫甚誤，但依仿而錄之，以付後之學者，詳為刊正云。</p>
<p><u>時甲辰年冬至日錦溪野老書</u></p>

<h1>續方</h1>
<p><u>柏葶東久亭寺僧悟大師傅經驗方</u>　治飲水百杯，尚猶未足，小便如油，或如杏色。服此藥三五日，小便大出，毒歸於下，十日永除根本。此方令子和辨過，云是重劑，可用。悟公師親驗過矣。</p>
<p>水銀（四錢）　錫（二錢，用水銀研成沙子）　牡蠣（一兩）　密陀僧（一兩）　知母（一兩）　紫花苦參（一兩）　貝母（一兩）　黃丹（半兩）　栝蔞根（半兩）</p>
<p>上為細末，男子用不生兒豬肚一個，內藥，婦人用獖豬肚一個，麻線縫之，新瓦一合，繩系一兩遭，米一升，更用栝蔞根末半斤，卻於新汲水煮熟，取出放冷，用砂盆，內研爛，就和為丸，如豬肚丸法用之。</p>
