<header data-type="book">
<h1>醫砭</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="徐大椿">徐大椿</data>原撰，<data value="王士雄">王士雄</data>參訂</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1850">公元1850年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>無棣張柳吟先生，邃於醫學，與余交最深，曩於天台道上草《霍亂論》稿，乃先生鑑定者。繼又為余編次甲辰治案，題曰《仁術志》，而序以待梓。別後寄示手訂洄溪《慎疾芻言》一冊，且云芻言者，謙詞也。際此醫學荒蕪之日，非此書無以砭俗尚之錮習，宜易其名曰《醫砭》。昔徐氏嘗著《醫貫砭》，專砭崇信《醫貫》之病；吾名此書為《醫砭》，則醫之通病胥砭。醫而受砭則病去，醫必病去，而後可以去人之病；醫而不受砭，則病錮，醫之病錮，而謂能去人之病，不已傎乎！不知吾子以為何如？余讀而韙之，頃至宜黃攜示楊素園大令，嘆曰：洵時師之藥石也，何可久秘帳中耶？爰附管窺付諸梨棗，惟我同志，幸毋諱病而拒砭，庶期共濟生民於壽域，是作者暨先生之厚望焉。</p>
<p><u>道光三十年庚戌春二月杭州王士雄書於貴溪舟次</u></p>

<h1>徐靈胎先生傳</h1>
<p>乾隆二十五年，文華殿大學士蔣文恪公患病，天子訪海內名醫，大司寇秦公首薦吳江徐靈胎。天子召入都，命視蔣公疾，先生奏疾不可治。上嘉其樸誠，欲留在京師效力，先生乞歸田裡，上許之。後二十年，上以中貴人有疾，再召入都。先生已七十九歲，自知衰矣，未必生還，乃率其子爔載楄柎以行，果至都三日而卒。天子惋惜之，賜帑金，命爔扶櫬以歸。嗚呼！先生以吳下一諸生，兩蒙聖天子蒲輪之徵，巡撫司道到門速駕，聞者皆驚且羨，以為希世之榮。余，舊史官也，與先生有撫塵之好，急思採其奇方異術，奮筆書之，以垂醫鑑而活蒼生，倉猝不可得。今秋訪爔於吳江，得其自述紀略，又訪諸吳人之能道先生者，為之立傳。傳曰：先生名大椿，字靈胎，晚自號洄溪老人。家本望族，祖釚，康熙十八年鴻詞科翰林，纂修《明史》。先生有異稟，聰強過人，凡星經、地誌、九宮、音律，以至舞刀奪槊、勾卒嬴越之法，靡不宣究，而尤長於醫。每視人疾，穿穴膏肓，能呼肺腑與之作語。其用藥也，神施鬼設，斬關奪隘，如周亞夫之軍從天而下，諸岐黃家目憆心駭，帖帖懾服而卒莫測其所以然。蘆墟迮耕石臥病六日，不食不言，目炯炯直視。先生曰：此陰陽相搏證也。先投一劑，須臾目瞑能言，再飲以湯，竟躍然起。唶曰：余病危時，有紅黑二人纏繞作祟，忽見黑人為雷震死，頃之紅人又為白虎銜去，是何祥也？先生笑曰：雷震者，余所投附子霹靂散也；白虎者，余所投天生白虎湯也。迮驚以為神。張雨村兒生無皮，見者欲嘔，將棄之。先生命以糯米作粉糝其體，裹以絹，埋之土中，出其頭，飲以乳，兩晝夜而皮生。任氏婦患風痹，兩股如針刺，先生命作厚褥，遣強有力老嫗抱持之，戒曰：任其顛撲叫號，不許放鬆，以汗出為度。如其言，勿藥而愈。商人汪令聞十年不御內，忽氣喘頭汗，徹夜不眠，先生曰：此亢陽也，服參過多之故。命與婦人一交而愈。有拳師某，與人角伎，當胸受傷，氣絕口閉，先生命覆臥之，奮拳擊其尻三下，遂吐黑血數升而愈。其他如沈文愨公未遇時，診脈而知其必貴，熊季輝強壯時，握臂而知其必亡，皆所謂視於無形，聽於無聲者，其機警靈速皆此類也。先生長身廣顙，音聲如鐘，白鬚偉然，一望而知為奇男子。少時留心經濟之學，於東南水利尤所洞悉。雍正二年，當事大開塘河，估深六尺，傍塘岸起土。先生爭之曰：誤矣！開太深則費重，淤泥易積，傍岸泥崩，則塘易倒。大府是之，改縮淺短，離塘岸一丈八尺起土，工省費而塘以保全。乾隆二十七年，江浙大水，蘇撫莊公欲開震澤七十二港，以泄太湖下流，先生又爭之曰：誤矣！震澤七十二港，非太湖之下流也。惟近城十餘港，乃入江故道，此真下流所當開浚者。其餘五十餘港，長二百餘里，兩岸室廬墳墓以萬計，如欲大開，費既重而傷民實多，且恐湖泥倒灌，旋開旋塞，此乃民間自浚之河，非當官應辦之河也。莊公以其言入奏，天子是之，遂賦工屬役，民不擾而工已竣。先生隱於洄溪，矮屋百椽，有畫眉泉，小橋流水，松竹鋪紛，登樓則太湖奇峰鱗羅布列，如兒孫拱侍狀。先生嘯傲其間，人望之，疑真人之在天際也，所著有《難經經釋》、《醫學源流》等書，凡六種。其中鈲𨴗利弊、剖析經絡，將古今醫書存其是，指其非，久行於世。子爔，字榆村，儻䓪有父風，能活人濟物，以世其家。孫垣，乙卯舉人，以詩受業隨園門下。贊曰：《記》稱德成而先，藝成而後。似乎德重而藝輕，不知藝也者，德之精華也。德之不存，藝於何有？人但見先生藝精伎絕，而不知其平素之事親孝，與人忠，葬枯粟乏，造修輿梁，見義必為，是據於德而後遊於藝也，宜其得心應手，驅遣鬼神。嗚呼！豈偶然哉？猶記丙戌秋，余左臂忽短縮不能伸，諸醫莫效，乃拖舟直詣洄溪，旁無介紹，惴惴然疑先生之未必我見也。不料名紙一投，蒙奓門延請，握手如舊相識，具雞黍為歡，清談竟日，贈丹藥一丸而別。故人李蒪溪迎而笑曰：有是哉！子之幸也。使他人來此一見，費黃金十笏矣。其為世所欽重如此。先生好古，不喜時文，與余平素意合，故採其嘲學究俳歌一曲，載《詩話》中，以警世云。</p>
<p><u>錢塘袁枚撰</u></p>
<p>張按：迮耕石所服二方，先投者附子霹靂散，繼飲者當是白虎湯，文中作天生白虎湯，恐有傳訛。蓋天生白虎湯乃西瓜之別名，如果以西瓜汁為治，當云再灌以西瓜汁，不當云再飲以湯。識此以質博雅君子。</p>

<h1>原引</h1>
<p>余弱冠時，家多疾病，先世所藏醫書頗多，因隨時翻閱，不過欲稍識方藥而已。循習漸久，乃上追《靈》、《素》根源，下沿漢唐支派，如是者十餘年，乃注《難經》，又十餘年而注《本草》，又十餘年，而作《醫學源流論》，又五年而著《傷寒類方》，五十年中批閱之書，約千餘卷，泛覽之書，約萬餘卷，每過幾時必悔從前疏漏，蓋學以年進也。乃世之醫者，全廢古書，隨心自造，以致人多枉死，目擊心傷。數年前，曾作《芻言》一冊，欲以醒世而鮮克聽從。竊思生長聖朝，毫無益於此世，而半生辛苦，雖有著述幾種，皆統談醫學，無驚心動魄之語，足令人豁然開悟。因復嘔心控骨，即《芻言》原本，更加痛快剖悉，實因悲憫填胸，不能自已，願覽者諒其苦心，虛懷體察。以之治人，則敬慎可以寡過；以之治己，則明哲可以保身。冀遇信從之有人，庶綿斯道於一線。</p>
<p><u>乾隆丁亥秋七月巧日洄溪徐靈胎識</u></p>
<p>張按：徐氏所注《本草》及《醫學源流論》、《傷寒類方》、《蘭臺軌範》，俱蒙御賜入《四庫全書》。</p>

<h1>補劑</h1>
<p>學問之道，必由淺入深，從未有淺近不知而專求怪僻者。況醫法一誤，必致傷生害命，尤不可不慎也。夫所謂淺近者，如傷風則防風、荊芥，感寒則蘇葉、蔥頭，咳嗽則蘇子、杏仁，傷食則山楂、神麯，傷暑則香薷、廣藿，瘧疾則柴胡湯加減，痢疾則黃芩湯加減，婦人則四物湯加減，小兒則異功散加減，此皆歷聖相傳之定法，千古不能易也。至於危險疑難之證，則非此等藥所能愈，必博考群方，深明經絡，實指此病何名，古人以何方主治，而隨症加減。今則以古聖之法為卑鄙不足道，又不能指出病名，惟以陽虛、陰虛、肝氣、腎弱等套語概之，專用溫補，以致外邪入里，馴至不救。間有稍馴謹之人，起病時仍用切近之藥一二劑，未即有效，即轉而改用溫補。不思病之中人，愈必有漸，不可因無速效而即換方也。況所服之方，或未盡善，不思即於前方損益萬妥，而遽求變法，又不肯先用輕淡之劑探測病情，專取性雄力厚之品，大反前轍，必至害不旋踵，總由胸無定見之故。當思人之有病，不外風寒暑濕燥火為外因，喜怒憂思悲驚恐為內因，此十三因，試問何因是當補者？大凡人非老死即病死，其無病而虛死者千不得一，況病去則虛者亦生，病留則實者亦死，若果元氣欲脫，雖浸其身於參附之中，亦何所用？乃謬舉《內經》曰：邪之所湊，其氣必虛。氣虛固當補矣，所湊之邪不當去耶？蓋邪氣補住，則永不復出，重則即死，輕則遷延變病，或有幸而愈者，乃病輕而元氣漸復，非藥之功也。余少時見問疾者，聞醫家已用補藥，則相慶病者已愈，今則病勢方張，正群然議進參、附、熟地，豈不可駭。其始也，醫者先以虛脫嚇人，而後以補藥媚人，浙江則六味、八味湯加人參、麥冬等藥，江南則理中湯加附、桂、熟地、鹿茸、臍帶等藥，於是人人習聞，以為我等不怕病死，只怕虛死，所以服補而死，猶恨補之不早，補之不重，並自恨服人參無力以致不救，醫者虛脫之言，真有先見之明，毫無疑悔。若服他藥而死，則親戚朋友，群詬病家之重財不重命，死者亦目不能瞑，醫者之罪，竟不勝誅矣。所以病人向醫者述病，必自謂極虛，而旁人代為述病，亦共指為極虛，惟恐醫者稍用攻削之劑以致不起，或有稍識病之醫，即欲對證擬方，迫於此等危言，亦戰戰兢兢，擇至補之藥以順其意，既可取容，更可免謗，勢使然也。此風之起，不過三十餘年，今則更甚，不知何時而可挽回也。</p>
<p>張按：所列傷風、暑瘧、婦人、小兒淺近之法，原為輕淺之證，舉其大略如此，非謂凡此諸證，不論何因，有無夾雜，悉以此法可為枕秘也。醫學不若是之易，讀者毋以詞害志，觀後論暑各條可見。至於瘧疾，《素問》既分六經，又分藏府，並不泥定少陽一經。故沈綠芊云：今人治瘧，必用柴胡湯，若非此湯，即不足以為治者，故致展轉淹滯，變生不測，竟能殞命，則知瘧本非死證，惟概以柴胡治瘧者殺之也。夫柴胡為少陽表藥，若其瘧果發於少陽，而以柴胡治之，無不立愈。若系他經用之，則必令他經之邪展轉而入少陽，遷延以斃，乃既死猶曰柴胡為治瘧主藥，吾開手即用之，不知其何以死，病家亦以柴胡治瘧而竟不效，真其命之當死也，彼此昏迷，不得一悟，良可浩嘆。</p>
<p>又按：浙江之六味、八味湯，此風至今不息，又惟紹興為尤盛，蓋格守景岳，不啻齊人知管仲也。山陰之下方橋有陳姓世醫，頗著盛名，求診者踵相接，而一脈相傳，不問何病，僅此二方出入。乙未夏，余僕鄭九，幾為所殺。然其門如市，數世不衰，人情畏虛，補死無怨，真誅心之論也。</p>
<p>雄按：小柴胡湯柴、半各八兩，以今准之，各得六錢另八釐，參、草、芩、姜各三兩，准今各得二錢二分八釐，大棗十二枚，以水一斗二升，准今則八合零四杪，煮至減半，去滓再煎至減半。夫煎而又煎，僅取四分之一，其湯之濃郁甘柔可知矣。喻氏謂和劑，取其各藥氣味之相和。余謂和者，取其氣緩味厚，斯為補正托邪之用，故惟風寒正瘧，可以按法而投，則參、甘、薑、棗補胃滋營，半夏利其樞，柴、芩解其熱，病無有不愈矣。即今人於瘧發之先，飽啖羊肉酒飯，亦能取效。因風寒自表而受，胃府空虛，仍能安穀，譬諸邊釁，可以發糧帑而命將也。若溫熱暑濕之時瘧，邪自口鼻而受，病從里發，肺胃之氣窒塞，先以痞悶惡谷，譬諸內患，必須清宮禁而搜伏也。病形雖似，證因迥殊，苟不辨別，而執小柴胡湯以為治，則參、甘、薑、棗之溫補，壅塞助邪，必致液涸神昏，即不用全方而專以柴胡治瘧，亦惟時邪不重而外挾風寒者，始可見功，尤必隨證之佐使得宜，庶無他變，此倪涵初之三方，所以愈病者稀而加病者多也。不但此也，每見粗工治瘧，不究病因，輒以薑棗湯飲之，因而貽誤者不少，羊肉亦然。凡屬時邪化瘧，雖愈亦勿遽食，蓋傷寒有五，瘧亦有五，不過重輕之別耳。傷寒惟感寒即痛者為正傷寒，乃寒邪由表而受，治宜溫散，尤必佐以甘草、薑、棗之類，俾助中氣以托邪外出，亦杜外邪而不使內入，倘邪在半表半裡之界，或所感邪氣較輕，不為傷寒而為正瘧者，其脈必弦，並以小柴胡湯和解為主方。設冬傷於寒而不即病，則為春溫夏熱之證，其較輕者，則為溫瘧、瘴瘧，軒岐、仲景皆有明訓，何嘗概以小柴胡湯治之耶？若感受風溫、濕溫熱之氣者，重則為時感，輕則為時瘧。今世溫熱多而傷寒少，故瘧亦時瘧多而正瘧少。溫熱暑濕，既不可以正傷寒法治之，時瘧豈可以正瘧法治之哉？其間二日而作者，正瘧有之，時瘧亦有之，名曰三陰瘧者，乃邪犯三陰之經也，不可誤以為必是陰寒之證也。醫者不知五氣皆能為瘧，顢頇施治，罕切病情。故世人患瘧多有變證，或至纏綿歲月，以致俗人有瘧無正治，疑為鬼祟等說。惟葉氏精於溫熱暑濕諸感，故其治瘧也，一以貫之。余師其意，治瘧鮮難愈之證。曩陳仰山封翁詢余曰：君何治瘧之神乎？殆別有秘授耶？余謂何秘之有，第不惑於悠悠之謬論，而辨其為風溫，為濕溫，為暑熱，為伏邪者，仍以時感法清其源耳。然溫瘧、暑瘧，雖宜涼解，尤當辨其邪之在氣在營也。繆氏善治暑瘧，而用當歸、牛膝、鱉甲、首烏等血分藥於陽明證中，亦屬非法。若濕溫為瘧，與暑邪挾濕之瘧，其濕邪尚未全從熱化者，用藥極要斟酌，而時瘧之外，更有瘀血、頑痰、腳氣、肝火、營衛不足、陽維為病等證，皆有寒熱如瘧之象，最宜諦審。拙案中諸治略備，不辭饒舌，附贅其概於此，願司命者少加垂意，慎毋囿於小柴胡之死法，而統治四時五氣之活瘧，則幸甚矣。</p>
<p>又按：病去則虛者亦生，病留則實者亦死，真千古名言。蓋人者氣以成形耳，法天行健，原無一息之停，惟五氣外侵，或七情內擾，氣機窒塞，疾病乃生，故雖在極虛之人，既病即為虛中有實，總宜按證而施宣通消解之法，一味蠻補，愈閡氣機，重者即危，輕者成錮。奈醫家目不識病，開口言虛，病者畏死貪生，樂於從補，是以貧人無力服藥，得盡其天年者多，若富貴人之死於溫補，則十居其七八也。迷而不悟，覆轍相尋，誠如徐氏所言，讀此可為痛哭。</p>
<p>又按：崔氏八味丸用桂，治腳氣上入，少腹不仁，乃溫化下焦寒濕之劑也。用桂枝者，《金匱》名腎氣丸，治虛勞腰痛，少腹拘急，小便不利，及婦人轉脬不得溺。又云：短氣有微飲，服此使從小便去。三證雖殊，其為溫通腎氣以行水，則一也，重用地黃之駕馭者，庶寒濕水飲之邪去而真陰不傷耳。後賢廣其義，以治關門不開，聚水成腫，得其旨矣。其下焦有濕熱者，則去附、桂為六味丸，甚則加知、柏，然皆與上、中之病無涉也，且並非主治諸虛，人人可服之藥，用者審之。又《金匱》云：男子消渴，小便反多，以飲一斗，小便亦一斗，腎氣丸主之。後人遂謂消渴有寒證，且引《內經》「心移寒於肺為肺消，飲一溲二者死不治」以為口實，而極言專主清涼之謬，舉世惑之，莫敢掉罄，惟南海何西池曰：此雖亦名消渴，而實非消渴，《金匱》所言，乃因其人命門火衰，不能蒸動腎水，與脾胃中谷氣以上達於肺，故上焦失潤而渴，其所飲之水，未經火化，直下膀胱，故飲一溲一，其味不咸。腎氣丸以壯其命門之火，如釜底加薪，則水穀之氣上騰，蒸為潤澤也。然此證止因水不上滋而渴，非如盛火之焚灼，則其渴不甚，飲亦必不多。其謂飲一斗溲一斗者，乃合計之詞，非言每飲輒一斗也，其與熱證之大渴引飲不止者，安得無殊耶？且腎熱則小便如膏，腎寒則小便清白，又自有辨也。至《內經》所言心火衰微，反為水冷金寒之化，不特所飲之水無氣以化，且並身中之津液，亦無氣提攝，相併下趨而成飲一溲二之證，則肺氣之消索已甚，尚何大渴大飲之有？似皆不當名以消渴，致後人涇渭不分，動手溫補，熱證逢之，不死何待？此守真、戴人所為大聲疾呼，而痛詆其非也。余謂此辨最為精切，故於《醫砭》中錄出以為後人矩矱。第世人喜服溫補，不獨吾浙為然，如江西文物之邦，人才蔚起，惟於醫學，則鄙陋尤甚，喻嘉言是其土著，書反不行，專奉薛新甫、趙養葵二家為圭指，不拘病證，凡方中無附、桂、鹿茸、薑、萸、故紙等味者，人皆不肯沾唇，是以建昌郡城有專售附子一物之行。此說向聞之吉安宋渭川鹺尹，初尚疑其言之過實也，今至撫州，目擊信然。因謂宜黃邑侯楊素園曰：君既精於醫而官於此，正可力挽頹風，登民壽域。楊侯蹙頞云：非不為也，是不能也。梔子黃芩，畏之如虎，石膏知母，視之若砒，相習成風，牢不可破，既不能導之以政，又不可齊之以刑，官其如彼何哉？而此間頗有著述，無非薛、趙二氏之唾餘，且謂黑錫丹可以久服，其議論大率類此，所以溫熱病，從未聞有一人得生者，余謂此則喻氏不能辭其責也。《寓意草》醫案，冠絕古今，而《金鑑》病少陰傷寒於春月，治法絲絲入扣，允為仲聖真傳。奈嘉言誤指為溫，立言偶失，其書雖不行於其鄉，而此一大錯，竟成鐵鑄，諒鄉人必熟聞之矣。黃紫垣明府云：吾鄉以附子為必用之常品者，良由水土之氣較寒耳。余曰不然，界接粵閩，冬無霜雪，花皆早放，草木蕃滋，地氣較江浙尤暖，其慣服熱藥，死而無悔者，正徐氏所謂死後人必冷也。素園聞之捧腹。</p>

<h1>用藥</h1>
<p>醫道起於神農之著本草，以一藥治一病，但一病有數證。（統名為病，如瘧痢之類分名為證，如瘧而嘔吐頭疼，痢而寒熱脹痛之類。）後之聖人，取藥之對證者合幾味而成方，故治病必先有藥而後有方，方成之後，再審其配合之法。與古何方相似，則云以某方加減，並非醫者先有一六味、八味、理中等湯橫於胸中，而硬派人服之也。至其辨證用藥之法，如有人風寒痰食合而成病，必審其風居幾分，寒居幾分，痰食居幾分，而藥則隨其邪之多寡以為增減。或一方不能兼治，則先治其最急者，所以無一味虛設之藥，無一分不斟酌之分兩也。況醫之為道，全在自考，如服我之藥而病情不減，或反增重，則必深自痛懲，廣求必效之法而後已，則學問自能日進。若不論何病，總以幾味溫補投之，愈則以為己功，死則以為病本不治，毫無轉計，此則誤盡天下而終身不自知也。又其所名成方者，用柴胡一味，即名柴胡湯，用大黃一味，即名承氣湯，於古人制方之義，全然不知，隨其口之所指而已。其醫案，則襲幾句陰陽虛實、五行生剋籠統套語，以為用溫補之地。而文人學士，又最易欺，見有陰陽五行等說，即以為有本之學，深信不疑，其人亦自詡為得醫學之捷徑，將千古聖人窮思極想，所制對症之方數千首，皆不必問而已稱名醫矣。夫醫者欲道之行，相習成風，猶無足怪，獨是閒居涉獵之人，亦俱蹈襲此等謬說，與醫者同聲合氣，親知家有病，即往幫助醫者，用危言拿住本家，使之不得不用溫補貴重之藥以明關切，因而致死，死則以為用此等藥，原未嘗云病者服之必效，不過如此門第之家，於理不該服價賤之藥耳。若已生疾，又有人亦以此法斃之，真屬可憫。數十年前亦有涉獵醫學者，頗能辨別藥性，博覽經方，今乃相率而入於魔道，其始起於趙養葵、張景岳輩，全不知古聖制方之義，私心自用，著書成家，彼亦不知流弊至於此極也，我知天心仁愛，其轉移必不久矣。</p>
<p>張按：洄溪之《醫貫砭》，陳修園之《新方八陣砭》，醫者不可不讀也。</p>
<p>雄按：葉香岩《景岳發揮》，近已梓行，尤有功於醫學之書也。</p>

<h1>中風</h1>
<p>中風，北人多屬寒，宜散寒；南人多屬火，宜清火；而祛風消痰，則南北盡同。古方自仲景侯氏黑散、風引湯而外，則續命湯為主方。續命湯共有數首，不外驅風，其隨症加減，皆有精義，從未有純用溫熱滋補，不放風寒痰火一毫外出，以致重病必死，輕病則使之不死不生，惟日服人參以破其家而戀其命，最可傷也。又有稍變其說者，用地黃飲子以為得陰陽兼補之法，亦大謬也，此方乃治少陰氣厥不至，舌瘖足痿，名曰痱證，乃純虛無邪，有似中風，與風寒痰火之中風正相反，劉河間之書可考也。乃以此方治有邪之中風，其害相等。余每年見中風之證，不下數十人，遵古治法，十愈八九，服溫補之藥者，百無一愈，未甚服補藥者，尚可挽回，其不能全愈，或真不治者，不過十之一二耳。奈何一患此證，遂甘心永為廢人，旁人亦視為必不起之證，醫者亦惟令多服重價之藥，使之直得一死，而可無遺憾，豈不怪哉！願天下之中風者，斷勿以可愈之身，自投於必死之地也。</p>
<p>張按：類中風雖無風邪外襲，必有虛風內鼓，或兼痰火，苟無脫象，切不可純用溫補也。</p>

<h1>咳嗽</h1>
<p>咳嗽由於風寒入肺，肺為嬌藏，一味誤投，即能受害，若用熟地、麥冬、萸肉、五味等滋膩酸斂之品補住外邪，必至咯血、失音、喉癬、肛癰、喘急、寒熱，近者半年，遠者三年，無有不死，蓋其服此等藥之日，即其絕命之日也。間有見機而停藥者，或能多延歲月，我見以千計，故今之吐血而成癆者，大半皆因咳嗽而誤服補藥所致也。或云五味子乃仲景治嗽必用之藥，不知古方之用五味，必合乾薑，一散一收，以治寒嗽之證，非治風火之嗽也，況加以熟地、麥冬，則受禍尤烈。又嗽藥中多有桔梗，桔梗升提，甘桔湯中用之，以載甘草上行，治少陰之喉痛，與治嗽宜清降之法者非宜，苟誤服之，往往令人氣逆痰升，不得著枕。凡用藥當深知其性，而屢試屢驗，方可對病施治，無容冒昧也。</p>
<p>張按：亦有咳嗽屬於陰虛肺燥者，誤投溫散，劫其津液，必成勞損，即此論之對面也，醫者臨證，可不詳審其病情哉？</p>

<h1>吐血</h1>
<p>五十年前吐血者絕少，今則年多一年，其證本皆可愈，而多不治者，藥誤之也。蓋血證因傷風咳嗽而起者十之七八，因虛勞傷損而起者十之一二，乃醫者概以熟地、人參、麥冬、五味等滋補酸斂之藥，將風火痰瘀俱收拾肺管，令其咳嗽不止，元氣震動，津液化痰，不死何待！凡風寒補住，必成癆瘵，無人不知，今竟無一人知之矣。蓋吐血而嗽者，當清肺降氣，略進補陰之品；其不嗽者，乃喉中之絡破，故血從絡出，並不必服藥，其甚者，只取補絡之藥以填損處，自可除根，即不服藥，亦能自愈，歷試不爽。乃病者進以不服藥之說，則雖或面從，背後必非笑隨之，進以熟地、麥冬、人參、五味等藥，則甘心就死，前者死矣，後者復然，豈非命乎？</p>
<p>張按：血之吐也，證因匪一，溫涼補瀉，隨病而施，豈可但補其虛而不究其病耶？</p>

<h1>中暑</h1>
<p>暑字之名義，與寒字相反，乃天行熱毒之病也。其證脈微少氣，煩渴燥熱，甚則手足反冷。若其人汗出不止，用人參白虎湯主之。如或身熱腹痛，脹滿嘔吐，瀉痢厥冷，則名熱霍亂，人參斷不可用，當用香薷飲、藿香正氣散主之，皆治暑之正法也。若《傷寒論》中，又有寒霍亂一證，此乃寒邪入陰，用理中湯主之，此治寒霍亂之法也，與暑熱之霍亂，絕不相干。乃後之醫書，於熱霍亂門中，附入寒霍亂一方，名大順散，用肉桂、乾薑，即理中湯之變法，其方下亦註明治夏月傷冷飲之證，其說甚明。乃昏昧之人，耳聞有此方，竟以之治暑熱之霍亂以示奇異，其死也宛轉呼號，唇焦目裂，七竅見血，熱歸於內，則手足反冷而脈微欲絕，所謂熱深厥亦深也。（手足冷謂之厥，厥者逆也。）乃病者、醫者不知此理，以為服熱藥而更冷，其為陰證無疑，故目睹其慘死而無所悔，以後復治他人，熱藥更加重矣，與治暑熱痢者之用四逆湯，其害正同，舉世盡以為必當如此，雖言不信也。</p>
<p>雄按：南海何西池《醫碥》云：丹溪謂夏月炎暑盛行，人身內外皆熱，其說甚的。乃張景岳謂夏月伏陰，人身外熱內寒；冬月伏陽，人身外寒內熱，以夏至陰生，地上熱而井水寒，冬至陽生，地上寒而井水溫為證。其說似是而非，乃知有天時而不知有地理者也。人身之氣，與天地通，固從天時而變，亦隨地勢而移，既有東西南北之殊，豈無上下高深之別？人之身，固在地上也，非在地中也。設夏時而身處井中，則不特內寒，即外亦寒矣，尚得如其說謂外熱內寒耶？然則置身地上，不特外熱，即內亦熱，自可反觀而見矣。試觀浮瓜沉李，咽水飲冰，未嘗畏冷，其情可見，冬月能如是乎？或曰夏月汗多則亡陽，陽亡則陰生於內，謂之伏陰非乎？曰：夏月汗多，是人皆然，豈皆亡陽耶？不過虛其津液耳。津液虛即陰虛，陰虛則陽愈熾，觀小便之短赤可知，不滋金水而補火土，吾見其惑也。曰：古人於暑證多用熱藥何耶？曰：此因證轉虛寒乃然，不可一概混施也。（雄按：清涼太過而轉虛寒者有之，或本非暑證而誤用清涼，或因避暑而貪涼飲冷過度，反病寒證，或其人素稟陰臟而患沉寒錮冷之疾，皆宜投以熱劑，第不可錯認面目，謂為治暑也。）然則夏月陽氣外泄，冬月陽氣內藏亦非歟？曰：陽外泄則汗出而內涸，故清潤之品為宜，（雄按：仲聖謂奪液為無陽，正是此義，治當救液，喻氏論之詳矣。）氣內斂則化水而陰充，故溫熱之劑可任，觀夏月渴而小便短赤，冬不渴而小便清長，則陽外泄之內非冷，陽內藏之中非熱，更可見矣。（雄按：洄溪嘗云，如有暑邪，姜斷不可用，雖與芩、連並行，亦不可也，況附、桂乎？）</p>
<p>又按：德清徐悔堂《聽雨軒雜紀》云：乾隆壬申，余同里馮在田館於楓橋蔡輔宜所，夏日輔宜自外歸，一蹶不起，氣息奄然，因以重金急延薛生白治之。薛至則輔宜口目悉閉，六脈皆沉，少妾泣於旁，親朋議後事。診畢，曰虛厥也，不必書方，且以獨參湯灌之，遽拱手上輿而別。眾相顧莫敢決，參不可用，眾以二論相反，又相顧莫敢決。在田曰：余雖不諳醫理，然聞服參不效，則病為參錮，他藥不可挽矣，盍再延一醫以決之？有符姓者，常熟人，設醫肆於楓橋，因邀之入視。符曰：系中暑也，當服清散之劑，參不可用，眾以二論相反，又相顧莫敢決。在田曰：吾聞六一散能祛暑邪，盍先試之？皆以為然。即以葦管灌之，果漸蘇，符又投以解暑之劑，病即霍然。夫薛氏，昭代之良醫也，望見少妾之泣，誤以中暑為虛脫，幾傷其生。古云智人千慮，必有一失，此類是也。臨證者其可恃聰明而不加細審哉？紀文達公云：盧霽漁編修患寒疾，誤延讀《景岳全書》者投人參立卒，是不但暑病當慎也。</p>

<h1>痢疾</h1>
<p>痢有數種，誤治則生死立判。凡脾氣不實，飲食不化，晝夜無度，無紅白積者，此為脾瀉，其方不一，當隨證施治。若傷寒傳入陰經，下利清穀，脈微厥冷，此為純陰之危證，非參、附、乾薑不治，患此者絕少。若夫夏秋之月，暑邪入腑，膿血無度，此名滯下，全屬暑熱之毒，蒸腸爛胃，與陰寒之利，判若水火，仲景以黃芩湯為主，而因證加減，此千古不易之法。今乃以暑毒熱痢，俱用附、桂、薑、茸，始則目赤舌焦，號痛欲絕，其色或變如豆汁，或如敗肝，熱深厥深，手足逆冷，不知其為熱厥，反信為真寒，益加薑、附，以至胃爛腸裂，哀號宛轉，如受炮烙之刑而死，我見甚多，惟有對之流涕。更有用六味湯及參、耆等補藥者，於久痢虛乏之人，或有幸中，若邪氣未清，非成錮疾，即至不救。蓋治痢之方甚多，博考古書，自能窮其變化，何得以不入痢症之藥，每投必誤也。</p>
<p>張按：瀉利多寒，亦有熱證，滯下屬暑，間有虛證，浪投溫補，傷人必多。</p>

<h1>陰證</h1>
<p>六淫之邪，不但暑燥火固屬乎熱，即風寒濕亦變為熱。經云：熱病者，皆傷寒之類也。又云：人之傷於寒也，則為病熱。故外感，總以散熱為治，惟直中陰經之傷寒，必現脈緊便青，畏寒倦臥，不喜飲，舌無胎，種種寒象，當用溫散，此千不得一者也。何近日之醫，舉天下寒熱雜感病勢稍重者，皆指為陰證，即用參、附、薑、桂，服後而熱更甚，並不疑為熱藥之故，即用熟地、麥冬等以為補陰配陽之法，竟忘其為外感矣。要知陰證無發熱之理，間有寒極似陽而外現熱證者，其內證必現種種寒象，然亦當驅散其寒，如麻黃附子細辛湯之類，亦並無補寒之法也。乃以溫熱之邪，硬派作陰證，而全用溫補，真千古之奇聞也。又有以夢泄房勞之後，而得外感者為陰證，更屬笑談。夫邪果入陰經，即無房勞等事，亦屬陰證；如邪不入陰經，則自有本證治法，與陰何干？若云外邪乘虛入腎，則尤當急驅腎中之邪，豈可留邪爍腎？又有用熱藥之後，其熱勢益增，忽轉而改用大寒，乃是以藥試病矣。要知一病有一病之方，豈無對病和平之藥，乃始投之火，即轉而投之水，何也？然其死也，病家不咎熱藥之誤，而咎寒藥之誤，何也？蓋人之死也必漸冷，服熱藥而反冷，則信以為非藥之故；若服寒藥而冷，則明明以藥使之冷矣。故熱藥之殺人不覺，而寒藥之殺人顯然，所以醫者寧可用補用熱，雖死而猶可免咎也。</p>
<p>雄按：何報之云：凡病非寒則熱，非實則虛，第五志過動，既能生火，外感之邪，悉皆化火，是寒熱虛實，無不有火。然則病多屬火，河間、丹溪之言，豈不信哉？而張景岳輩不達其旨，竭力詆讕，並滯下、消渴、吞酸、蟲疳等證，明明屬熱者，亦概目之為非火，且反謂之為寒，真菽麥不辨者矣。或云上世人所稟厚實，可任寒涼，晚近人所稟薄弱，止宜溫補，謬也。丹溪去景岳不過二百餘年，如果稟賦強弱，相懸如是，將數千百年之後，人皆變為陰鬼乎？一笑。又葉氏《景岳發揮》云：今醫每言龍雷之火，得太陽一照，火自消靡。此言甚悖。龍雷之起，正當天令炎熱盛暑酷烈之時，未見天寒地凍凜冽祁寒而龍雷作者，則知仍因陽亢，而非熱藥所能治矣。蓋陽為火，陰為水，水衰陽無所附而浮於上者，宜滋補真陰，則孤陽下附。若可用熱藥者，乃仲景所謂戴陽、格陽二證，是內真寒而外假熱，陰極似陽，仍是寒證，故用熱藥，此處務要講究明白。魏玉橫則曰：內真寒而外假熱，諸家嘗論之矣；至內真熱而外假寒，論及者罕矣。《醫碥》又云：桂、附引火歸原，此為下寒上熱者言之。若水涸火炎之證，上下皆熱，不知用此引火，引歸何處？今日醫者動用桂、附，輒云引火歸元，殺人如麻，可嘆也。（雄）謂：更有熱壅於上，氣不下行而兩足如冰，面赤煩渴，儼似下寒上熱之戴陽、格陽者，皆不可認為陰證，而用熱藥使其漸冷，以圖殺人不覺之巧也。</p>

<h1>老人</h1>
<p>能長年者，必有獨盛之處，陽獨盛者當補其陰，陰獨盛者當益其陽。然陰盛者十之一二，陽盛者十之八九。而陽之太盛者，不獨當補陰，並宜清火以保其陰，故老人無不頭熱，耳聾，面赤，便燥，現種種陽證。乃醫者為老人立方，不論有病無病，總以補陽為主，熱盛生風，必生類中等病，是召疾也。若偶有風寒痰濕等因，尤當急逐其邪。蓋老年氣血不甚流利，豈堪補住其邪，以與氣血為難？故治老人之有外感者，總與壯年一例，或實見其有虛弱之處，則用輕淡之品而量為補托，若無病而調養，則當審其陰陽之偏勝而損益使平。蓋千年之木，往往自焚，陰盡火炎，萬物盡然也。故治老人者，斷勿用辛熱之藥竭其陰氣，助其亢陽，使之面紅目赤，氣塞痰壅，脈洪膚燥，當耆艾之年而加之焚如之慘也。</p>
<p>張按：此論鑿然中理，洵發前人之未發也。</p>

<h1>婦人</h1>
<p>婦人懷孕，胞中一點真陽日吸母血以養，故陽日旺而陰日衰。凡半產滑胎，皆火盛陰衰，不能全其形體故也。近人有胎前宜涼之說，頗為近理。至於產後，則陰血盡脫，孤陽獨立，臟腑如焚，經脈如沸，故仲景專以養血消瘀為主，而石膏、竹茹亦不禁用。余每遵之，無不立效。乃近人造為產後宜溫之邪說，以薑、桂為主藥。夫果陰陽俱脫，脈遲畏寒，血水淋漓，面青舌白，薑、桂亦有用時。乃血乾火燥，純現熱證，亦用熱藥，則經枯脈絕，頃刻而斃，我見以百計。更有惡露未淨，身熱氣塞，煩躁不寐，心煩腹痛，皆由敗血為患，亦用薑、桂助其火而堅其瘀，重則即死，輕則變成褥勞，世之所謂女科名家，一例如此。蓋胎產乃天地生育之機，絕少死證，其死皆藥誤也。造為此等邪說者，九死不足以蔽其辜。又胎產藥中，不用生地而用熟地，亦全失用藥之理，不可不思也。</p>
<p>張按：產後宜溫之邪說，不知創自何人，舉世惑之，遂不察其病體之寒熱，並不分其時令之冬夏，殺人如麻，從無悔悟。在病者如飛蛾撲火，初不知身死油中，而醫者如一盲引眾盲，亦不知為覆轍也。彼此夢夢，可不哀哉！</p>

<h1>小兒</h1>
<p>小兒之疾，熱與痰二端而已。蓋純陽之體，日抱懷中，衣服加暖，又襁褓之類，皆用火烘，內外俱熱，熱則生風，風火相煽，乳食不歇，則必生痰，痰得火煉，則堅如膠漆，而乳仍不斷，則新舊之痰日積，必至脹悶啼哭，又強之食乳以其止啼，從此胸高氣塞，目瞪手搐，即指為驚風，其實非驚，乃飽脹欲死耳。此時告其父母令減衣停乳，則必大慍，謂虛羸若此，反令其凍餒，無不唾罵。醫者亦不明此理，非用剛燥之藥，即用參、耆滋補，至痰結氣凝之後，則無可救療，余見極多。教之適其寒溫，停其乳食，以清米飲養其胃氣，稍用消痰順氣之藥調之，能聽從者，十愈八九，其有不明此理，反目為狂言者，百無一生。至於痘科，尤屬怪誕。痘為小兒之所必不免，非惡疾也。當天氣溫和之時，死者絕少，若大寒大暑，其元氣虛而稠密者，間有不治。其始欲透發，其後欲漿滿，皆賴精血為之。乃未發以前，即用大黃、石膏數兩，以遏其生髮之機而敗其元氣，既而即用蚯蚓數十，蠐螬數個，及一切大寒大毒之品，如蜈蚣、蠍子、雞頭、豬尾之類，又將地丁、銀花等粗糲之品數兩，煎汁而灌之，增其毒而倒其胃，此等惡物，即令醫者自服之，亦必胃絕腸裂而死，況孩提乎？凡用此等藥者，必豫決此兒死於何日，十不失一，其父母反盛稱其眼力不爽，孰知其即死於彼所用之藥也。或有元氣充實，幸而不死者，遂以為非此等大藥不能挽回，而人人傳布，奉為神方矣。更可異者，強壯之年，醫者黃芩、麥芽俱不敢用，以為克伐，孩提之子，則石膏、大黃成兩亂用，毫不顧慮，忍心害理，至此已極，無奈呼天搶地以告人，而人不信也。又有造為螳螂子之說者，割開頤內，取出血痰，此法起於明末海濱妖婦騙財之法，惟蘇、松二處盛行，割死者甚眾。蓋小兒有痰火者，吃乳數日，必有一二日頤腫厭食，名曰妒乳，用薄荷、朴硝為末，搽一二次即愈，即不治亦愈。至所割出之痰塊，或大或小，人因信之，不知頤內空虛之處，人人有此，割則復生，並非病也。不然何以普天下之小兒，從未有患螳螂子而死者，獨蘇、松有此病耶？此亦一害，故並及之。</p>
<p>張按：張戴人云：余嘗告陳敬之，若小兒病緩急無藥，不如不用庸醫，但以蒸餅湯浸令軟，丸作白丸，紿其妻妾以為真藥，使兒服之以聽天命，最為上藥。歲丙戌，群兒皆病泄瀉，用藥者多死。蓋醫者少達濕熱之理，以溫燥行之，故皆死，惟敬之不與藥，用余之言，其兒獨存。雄謂：此即不服藥為中醫之義。徐洄溪批葉案，亦有欲停一切醫人之藥之說，良以明醫罕覯也。而婦女無知，焉知此理？故戴人以蒸餅丸為小兒真藥，蓋取其和中化滯、行水調脾，與百病皆無礙，且可以安婦女之心也。良工深意，煞費苦心，贅此以告為人父母者。</p>
<p>雄按：葉氏《幼科要略》一卷，洄溪謂其字字金玉，可法可傳。華岫云刻於《臨證指南》之後。奈大方家視為幼科之治法，不過附庸於此集，僉不甚留意，即闡發葉氏如俞東扶、吳鞠通、章虛谷輩，亦皆忽略而未之及。余謂雖為小兒說法，大人豈有他殊？其論春溫、夏暑、秋燥諸條，皆發前人所未發者。至習幼科之人，謂此書為大方之指南，更不過而問焉，特為表出，學者識之。《要略》後附鄭望頤所述種痘之法甚詳，洄溪極口讚美，而《醫學源流論》亦云種痘有九善。奈牟利之徒，膽用時苗，害人不少，並令世人連種痘之法亦不信矣。（癸卯春，吾杭兒科李某，世醫也，誤購時苗種痘，受害之家不少，《回春錄》醫案中，曾載數條可參。）更有以水痘痂為苗者，種出之時，痘極稀朗，並無稠密棘手之候，醫者索謝而去，為父母者亦歡然放心矣。孰知真痘未出，迨時痘流行之歲，天花陡發，病家、醫家皆不預料，往往誤指別證，妄投藥餌，縱不誤治，痘必危險，較彼妄用時苗之罪更浮十倍，反得脫身事外，人不知之，然天地鬼神之鑑察難逃，罰及子孫，噬臍有日。即如西洋所傳牛痘法，更勝於鼻孔種痘之或有一失。而近聞趙春山司馬之孫，曾種牛痘於京師，復出天花，是必傳授不真，或奸人假託以罔利，皆不可知，但如此鬼蜮，不僅害人，且令良法見疑於世，尤為罪不容誅也。</p>

<h1>外科</h1>
<p>治外證始起，欲其不大，將成欲其不痛。大則傷肌爛膚，腐骨穿筋，難於收口；痛則衝心犯胃，耗血亡津，惡證叢生矣。故始起之時，最重圍藥，束其根盤，截其餘毒，則頂自高而膿易成；繼則護心托毒治其內，化腐提膿治其外，自然轉危為安。乃始則不能束毒使小，又無護心定痛之方，惟外用五灰三品，內服附、桂熱毒等藥，必至腐腸爛肉，更輕用刀針，割肉斷筋，以致呼號瞀亂，神散魂飛，宛轉求死，仁人之所不忍見也。況癰疽用刀太早，最難生肌收口，凡毒藥刀針，只宜施於頑肉老皮，余者自有拔頭呼膿之法，至於惡肉，自有消腐化水之方，故能使患者絕無痛苦，收功速而精神易復。乃此等良法，一切不問，豈傳授之不真，抑或別有他念也。更可駭者，瘡瘍之證，最重忌口，一切鮮毒，毫不可犯，無書不載。乃近人反令病者專服毒物，以為以毒攻毒，夫解毒尚恐無效，豈可反增其毒，種種謬誤，不可殫述。間有患外證之人，若用安穩治法，全不以為妙，用毒藥刀針者，血肉淋漓，痛死復活，反以為手段高強，佩服深摯而遍處薦引。因知疾痛生死，皆有定數，非人所能自主，而醫者與病人以苦楚，亦病者有以召之也。</p>
<p>張按：洄溪有《手批外科正宗》、《瘍科選粹》二書，繩愆糾繆，學者宜宗。</p>
<p>雄按：秀水呂慎庵云：先生原引云：批閱之書千餘卷，殆不止此二種，惜其後人秘藏，而不傳於世也。</p>

<h1>治法</h1>
<p>凡病只服煎藥而愈者，惟外感之證為然，其餘諸證，則必用丸散膏丹、針灸砭鐮、浸洗熨溻、蒸提按摩等法，因病施治。乃今之醫者既乏資本，又惜功夫，古方不考，手法無傳，寫一通治煎方，其技已畢，而病家不辭遠涉，不惜重聘，亦只求得一煎方，已大滿其願。古昔聖人窮思極想，製造治病諸法，全不一問，如此而欲愈大證痼疾，無是理也。所以今人患輕淺之病，猶有服煎藥而愈者，若久病大證，不過遷延歲月，必無愈理也。故為醫者必廣求治法，以應病者之求，至常用之藥，一時不能即合者，亦當要預為修制以待急用，所謂工欲善其事，必先利其器。奈何欲施救人之術，而全無救人之具也。</p>
<p>張按：諺云：尋著醫生一帖藥。近日業醫之人雖多，而治病之法愈少，不過一帖藥之伎倆，即懸壺而為司命，故洄溪批葉案有云：近日醫者之藥一概俱停，天下遂無枉死之人矣。蓋深慨之也。</p>

<h1>製劑</h1>
<p>古時權量甚輕，古一兩，今二錢零；古一升，今二合；古一劑，今之三服。又古之醫者皆自採鮮藥，如生地、半夏之類，其重比干者數倍，或古方雖重，其實無過今之一兩左右者，惟《千金》、《外臺》間有重劑，此乃治強實大證，亦不輕用也。若宋元以來，每總制一劑，方下必注云每服或三錢或五錢，亦無過一兩外者，此煎劑之法也。末藥則用一錢匕，丸藥則如桐子大者，十丸加至二三十丸。試將古方細細考之，有如今日二三兩至七八兩之煎劑乎？皆由醫者不明古制，以為權量與今無異，又自疑為太重，為之說曰：今人氣薄，當略為減輕。不知已重於古方數倍矣，所以藥價日貴而受害愈速也。又有方中熟地用三四兩，余藥只用一二錢者，亦從無此輕重懸殊之法。要知藥氣入胃，不過藉此調和氣血，非藥入口即變為氣血，所以不在多也。又有病人粒米不入，反用膩膈酸苦腥膻之藥，大碗濃煎灌之，即使中病，尚難運化，況與病相反之藥填塞胃中，即不藥死，亦必灌死，小兒尤甚。又不論人之貧富，人參總為不祧之品，人情無不貪生，必竭蹶措處，孰知反以此而喪身。其貧者送終無具，妻子飄零，是殺其身而並破其家也。吾少時見前輩老醫，必審貧富而後用藥，尤見居心長厚，況是時參價猶賤於今日二十倍，尚如此謹慎，即此等存心，今人已不逮昔人遠矣。</p>
<p>張按：古方權量，惟王樸莊考覈最精。云：古方自《靈》、《素》至《千金》、《外臺》，所集漢、晉、宋、齊諸名方，凡云一兩者，准今之七分六釐，凡云一升者，准今之六勺七杪。辨論甚博，詳載唐立三《吳醫匯講》。</p>
<p>又按：先生作《醫學源流論》，謂人參之價十倍於昔，越十年而作是書，參價又增十倍矣。是以諄囑醫人，用須謹慎。而數十年銀價日高，參價愈湧，較之先生之所謂貴者，又不覺更貴二十倍矣。且佳參日罕，偽物日多，稍有人心，慎毋輕用。</p>
<p>又紀文達公《筆記》云：虛證種種不同，而人參之性則專有所主，不通治各證。以藏府而論，參惟至上焦、中焦，而下焦不至焉。以營衛而論，參惟至氣分而血分不至焉。腎肝虛與陰虛而補以參，庸有濟乎？豈但無濟，亢陽不更煎鑠乎？且古方有生參、熟參之分，今採參者得即蒸之，何處得有生參乎？古者參出於上黨，秉中央土氣，故其性溫厚，先入中宮。今上黨氣竭，惟用遼參，秉東方春氣，故其性發生，先升上部。即以藥論，亦各有運用之權，醫者審之。</p>
<p>雄按：曩時醫皆備藥，今則醫與藥分，亦可以見世道人心之不古也。從此用藥者不識藥，而偽藥日多矣。然藥者治病之物，猶治亂之干戈，故曰：用藥如用兵。補偏救弊，用貴得宜，量體裁衣，法隨時變，如急病重證，非大劑無以拯其危。繆氏所謂虜荊非六十萬人不可也。而熟於世故之徒，輒以無關痛癢之藥，為避濕推干之計，宜乎為史搢臣所訶責矣。設輕疾緩疴，暨病後之調理，當以小劑徐為疏瀹者，反肆投竣補以邀功，每至藥過病所，誅罰無過，或樞機窒滯，厥疾弗瘳，蓋未明《內經》「食養盡之」之義也。況肉雖多，聖人猶云不可勝食氣，豈攻病之草木，反可使之勝食氣乎？《古今醫案》載葉天士治朱懷音案云：渠用貴重之藥，必自信為名醫，但多費病家之財，與病毫無干涉，即庸醫也。及觀徐公之論，則雖用對證之藥，尚須審其貧富，況與病無涉者而可多費其財耶？奈世人樂於溫補，富貴之家，恥服賤藥，若愚人不諳藥性者，惟以價貴為良，賣藥之家，又雌黃其口，輒以善用貴藥者而揄揚之，故無識之徒，但求其術之行，不求其道之明，遂甘為庸醫而不辭，良可慨已。</p>

<h1>煎藥服藥法</h1>
<p>煎藥之法各殊，有先煎主藥一味，後入余藥者；有先煎眾味，後煎一味者；有用一味煎湯以煎藥者；有先分煎後並煎者；有宜多煎者；（補藥皆然。）有宜少煎者；（散藥皆然。）有宜水多者；有宜水少者；有不煎而泡漬者；有煎而露一宿者；有宜用猛火者；有宜用緩火者。各有妙義，不可移易。今則不論何藥，惟知猛火多煎，將芳香之氣散盡，僅存濃厚之質，如煎燒酒者將糟久煮，則酒氣全無矣，豈能和營達衛乎？須將古人所定煎法，細細推究而各當其宜，則取效尤捷。其服藥亦有法，古方一劑必分三服，一日服三次，並有日服三次、夜服三次者。蓋藥味入口，即行於經絡，驅邪養正，性過即已，豈容間斷？今人則每日服一次，病久藥暫，此一暴十寒之道也。又有寒熱不得其宜，早暮不合其時，或與飲食相雜，或服藥時即勞動冒風，不惟無益，反能有害。至於傷寒及外證、痘證，病勢一日屢變，今早用一劑，明晚更用一劑，中間間隔兩晝一夜，經絡已傳，病勢益增矣。又發散之劑，必暖覆令汗出，使邪從汗散，若不使出汗，則外邪豈能內消，此皆淺易之理，醫家、病家皆所宜知也。又惡毒之藥不宜輕用，昔神農遍嘗諸藥而成《本草》，故能深知其性。今之醫者於不常用之藥，亦宜細辨其氣味，方不至於誤用。若耳聞有此藥，並未一嘗，又不細審古人用法，而輒以大劑灌之，病者服之，苦楚萬狀，並有因此而死者，而已，亦茫然不知其何故。若能每味親嘗，斷不敢冒昧試人矣，此亦不可不知也。</p>
<p>張按：熊三拔《泰西水法》云：凡諸藥系草木果瓜谷菜諸部具有水性者，皆用新鮮物料，依法蒸餾得水，名之為露，以之為藥，勝諸藥物。何者？諸藥既干既久，或失本性，如用陳米作酒，酒力無多，（若不堪久藏之物，尤宜蒸露密貯。）若以諸藥煎為湯飲，味故不全。間有因煎失其本性者，若作丸散，井其渣滓下之，亦恐未善。（然峻厲猛烈之品，不得不丸以緩之。）凡人飲食，蓋有三化，一曰火化，烹煮熟爛；二曰口化，細嚼緩咽；三曰胃化，蒸變傳化。二化得力，不勞於胃，故食生冷，大嚼急咽，則胃受傷也。胃化既畢，乃傳於脾，傳脾之物，悉成乳糜，次乃分散達於周身，其上妙者化氣歸筋，其次妙者化血歸脈，用能滋益精髓，長養肌體，調和營衛。所云妙者，飲食之精華也，故能宣越流通，無處不到，所存糟粕，乃下於大腸焉。今用丸散，皆干藥合成，精華已耗，又須受變於胃，傳送於脾，所沁入宣布，能有幾何？其餘悉成糟粕下墜而已。若用諸露，皆是精華，不待胃化脾傳，已成微妙，且蒸餾所得，既於諸物體中最為上分，復得初力，則氣厚勢大焉，不見燒酒之味濃於他酒乎？余謂此說極有理，醫者不可不知，故節錄於此。而養胃之道，尤當深味焉。其論汗溺海水等說，及人身說概，皆有可取，學者亦宜參考也。</p>
<p>雄按：凡藥之露一宿服者，取秋露水入藥，以治暑熱也。緣暑為天之陽邪，露乃天之涼氣，清涼肅降，炎暑潛消，道本自然，勝諸藥石。月令白露降，天氣始肅，蓋立春以後，地氣漸以上升，夏月之露，不從天降，東坡詩「露珠夜上秋禾根」是也。云秋禾者，以禾登在秋，而夜上之露，實指夏月地氣升騰，滋養萬物之露也。無識之人，夏月露藥，豈不可笑！更有以暑為陰邪者，尤悖謬之極矣。</p>

<h1>迎醫</h1>
<p>疾病為生死相關，一或有誤，追悔無及，故延醫治病，乃以性命相托也，何可不加意慎擇，如無的確可信之人，寧可不服藥以待命。乃世人獨忽於此，惟以耳為目，不考其實學何如，治效何若，聞人稱說，即延請施治，服藥無效，毫不轉念，甚而日重一日，惟咎已病之難痊，不咎藥者之貽誤。孰知藥果中病，即不能速愈，必無不見效之理，不但服後奏功，當服時已有可徵者。如熱病服涼藥，寒病服熱藥之類，聞其氣已馨香可愛，入於口即和順安適。如不中病之藥，則聞其氣必厭惡，入於腹必懊憹。《內經》云：臨病人，問所便。此真訣也。今人則信任一人，即至死不侮，其故莫解，想必冥冥之中有定數也。又有與此相反者，偶聽人言，即求一試，藥未盡劑，又易一醫，或一日而請數人，各自立說，茫無主張，此時即有高明之人，豈能違眾力爭，以遭謗忌，亦惟隨人唯諾而已。要知病之傳變，各有定期，方之更換，各有次第，藥石亂投，終歸不治。二者事異而害同，惟能不務虛名，專求實效，審察精詳，見機明決，庶幾不以性命為兒戲矣。</p>
<p>張按：治病難，患病不易，故有不服藥為中醫之說也。</p>

<h1>秘方</h1>
<p>古聖設立方藥專以治病，凡中病而效者即為秘方，並無別有奇藥也。若無病而服藥，久則必有偏勝之害，或有氣血衰弱藉藥滋補，亦必擇和平純粹之品，審體氣所偏而稍為資助。如世所謂秘方奇術，大熱大補之劑，乃昔人所造以欺人者。若其方偶與其人相合，或有小效，終歸大害；其不相合者，無不傷生。更有一等怪方，乃富貴人賄醫所造者。余曾遇一貴公子，向余求長生方，余應之曰：公試覓一長生之人示我，我乃能造長生之方，若長生無一人，則天下無長生之方矣，其人有慍色，是時適有老醫在其家，因復向老醫求得之，乃傲余曰：長生方某先生已與我矣，公何獨吝也？余視其方，乃聚天下血肉溫補之藥，故難其製法，使耳目一新者。余私謂老醫曰：先生之長生方從何傳授？老醫曰：子無見哂，子非入世行道之人耳。凡富貴之人，何求不得，惟懼不能長生縱欲耳，故每遇名醫，必求此方。若長生方不知，何以得行其道？我非有意欺彼，其如欲應酬於世，自不得不然耳。後果得厚酬。余固知天下所傳秘方，皆此類也。此即文成五利之餘術，萬勿以為真可以長生也，速死則有之耳。識此以醒世之求長生而覓秘方者。</p>
<p>張按：《閱微草堂筆記》云：藥所以攻伐疾病，調補氣血，而非所以養生，方士所餌，不過草木金石，草木不能不朽腐，金石不能不消化，彼且不能自存，而謂借其餘氣反長存乎？古詩云：服藥求神仙，多為藥所誤。昔邱處機語元太祖曰：藥為草，精為髓，去髓添草，譬如囊中貯金，以金易鐵，久之金盡，所有者鐵耳，夫何益哉？即神仙何嘗不死那？蓋生必有死，物理之常，煉氣存神，皆逆而制之者也。逆制之力不懈，則氣聚而神亦聚，逆制之力或疏，則氣消而神亦消，消則死矣。至吐納導引之術雖出丹經，而非丹經所能盡，其分刌節度，妙極微芒，苟無口訣真傳，但依法運用，如檢譜對奕奕必敗，如拘方治病病必殆。緩急先後稍一失調，或結為癰疽，或滯為拘攣，甚或精氣瞀亂，神不歸舍，遂成癲癇。楊雨亭言勞山深處，有人兀坐木石間，身已與木石同色矣。然呼吸不絕，目炯炯尚能視，此嬰兒煉成而閉不能出者也。不死不活，亦何貴於修道，反不如鬼之逍遙矣。大抵仙有仙骨，非藥石所能換，仙有仙緣，非情好所能結。苟不知此而妄思沖舉，因而致害者不一，此人亦其明鑑也。或曰：以刃破其頂，當尸解去，然則成仙須受一刃之刑矣，人亦何樂而慕之耶？若容成、彭祖之術，尤為邪道，不得法者，禍不旋踵，真得法者，亦僅使人壯盛，壯盛之極，必有決裂橫潰之患。譬如悖理聚財，非不驟富，而斷無終享之理也。門人王廷詔言，有一道士精此術，後遭雷殛。而妄人謂可求仙，不亦傎哉！</p>
<p>雄按：大熱大補之藥服而傷生者，指不勝屈，其初有小效終歸大害，而尚可為之挽救者，余案中所載多矣。惟沈琴癡患類中，廣餌熱補，漸致四肢拘攣，口不能言，但飲食如故，是痰火風邪盡補入絡也，呻吟床蓐者七載，遍治不效而亡。張越欽茂才室，體極陰虧，醫者謂陽能生陰，輒與熱補，遂至肉脫形消，四肢痿廢，是養筋之營液盡爍也，不能下榻者已數年矣。姑舉一二以為後人鑑之。</p>

<h1>詭誕</h1>
<p>醫藥為人命所關，較他事尤宜敬慎，今乃眩奇立異，竟視為兒戲矣。其創始之人，不過欲駭愚人之耳目，繼而互相效尤，竟以為行道之捷徑，而病家則以為名醫異人之處在此，將古人精思妙法，反全然不考，其弊何所底止，今略舉數端於下。人中黃（腸胃熱毒偶有用，入丸散者。今入煎藥，則是以糞汁灌入而倒其胃矣。）、人中白（飛淨入末藥，若煎服，是以溺汁灌入矣。）、鹿茸、糜茸（俱入丸藥，外證、痘證偶入煎藥。又古方以治血寒久痢，今人以治熱毒時痢，腐腸而死。河車臍帶補腎丸藥偶用，今入煎藥，腥穢不堪。又臍帶必用數條，肆中以羊腸、龜腸代之。）、蚌水（大寒腸胃，前人有用一二匙治陽明熱毒，今人用一碗、半碗以治小兒，死者八九。）、蚯蚓（痘證用一二條酒沖，已屬不典，今用三四十條，大毒大寒，服者多死。）、蜈蚣、蠐螬（即桑蟲）、蠍子、胡蜂（皆極毒之物，用者多死，間有不死者幸耳）。石決明（眼科磨光，鹽水煮，入末藥，今亦以此法入一切煎劑，何義？）白螺殼（此收濕糝藥，亦入煎劑，其味何在？雞子黃此少陰不寐引經之藥，今無病不用。）燕窠、海參、淡菜、鹿筋、醜筋、魚肚、鹿尾（此皆食品，不入藥劑，必須洗浸極淨，加以薑、椒、蔥、酒，方可入口，今與熟地、麥冬、附、桂同煎，則腥臭欲嘔。）醋炒半夏、醋煅赭石、麻油炒半夏（皆能傷肺，令人聲啞而死。）橘白、橘內筋、荷葉邊、枇杷核、楂核、扁豆殼（此皆方書所棄，今偏取之以示異。）更有宜炒者反用生，宜切者反用囫圇，此類不可枚舉。以上各種，其性之和平者，服之雖無大害，亦有小損。至諸不常用及腥毒之物，病家皆不能炮製，必致臭穢惡劣，試使立方之人取而自嘗之，亦必伸舌攢眉嘔吐穢逆，入腹之後，必至脹痛瞀亂，求死不得，然後深悔從前服我藥之人，不知如何能耐此苦楚，恨嘗之不早，枉令人受此荼毒也。抑思人之求治，不過欲全其命耳，若以從未經驗之方，任意試之，服後又不考其人之生死而屢用之，則終身無改悔之日矣。嗟呼！死者已矣，孰知其父、母、妻、子之悲號慘慼，有令人不忍見者乎？念及此，能不讀書考古，以求萬穩萬全之法者，非人情也。以上所指，皆近時之弊，若後世此風漸改，必不信世間有如此醫法，反以我言為太過者，豈知並無一語虛妄者乎？又有疑我為專用寒涼攻伐者，不知此乃為誤用溫補者戒，非謂溫補概不可用也。願世之為醫者真誠敬慎，勿用非法之方，世之求治者明察知幾，勿服誣誕之藥，則兩得之矣。</p>
<p>張按：醫為仁術，仁者，人之心也。讀此而不知悔悟者，是無人心也，曷可以為醫？</p>

<h1>宗傳</h1>
<p>一切道術，必有本源，未有目不睹漢、唐以前之書，徒記時尚之藥數種，而可為醫者。今將學醫必讀之書，並讀法開列於下，果能專心體察，則胸有定見，然後將後世之書，遍觀博覽，自能辨其是非，取其長而去其短矣。</p>
<p><u>《靈樞經》</u></p>
<p>此明經絡、臟腑之所以生成，疾病之所由侵犯，針灸家不可不詳考，方脈家略明大義可也。</p>
<p><u>《素問》</u></p>
<p>此明受病之源及治病之法，千變萬化，無能出其範圍。如不能全讀，擇其精要切實者熟記可也。</p>
<p><u>《傷寒論》</u></p>
<p>此一切外感之總訣，非獨治傷寒也。明於此，則六淫之病無不通貫矣。</p>
<p><u>《金匱》</u></p>
<p>此一切雜病之祖方，其諸大證，已無不備，能通其理，天下無難治之病矣。</p>
<p><u>《神農本草》</u></p>
<p>《神農本草經》止三百二十種，自陶宏景以後，藥味日增，用法益廣，至明李時珍《綱目》而大備。其書以《本經》為主，而以諸家之說附之，讀者字字考驗，則能知古人制方之妙義，而用之不窮矣。</p>
<p>張按：梁芷林中丞云：《曲禮》曰：醫不三世，不服其藥。蓋古之醫師，必通於三世之書，一曰《神農本草》，二曰《靈樞針灸》，三曰《素問脈訣》。《脈訣》可以察證，《針灸》所以去疾，《本草》所以辨藥，非是三者，不可以言醫，註疏甚明。若必云三世相承，然後可服其藥，將祖父二世行醫，終無服其藥者矣。俗多誤解，故庸醫之世其家業者頗能溫飽。噫！此醫學之所以日陋矣。</p>
<p>雄按：家學淵源，繼述無愧，極是難事，醫林中惟張季明一人而已。《陸氏三世醫驗》一書，楊素園大令謂其學問遞降，亦是定評。若不學無術，徒藉祖父聲名以溫飽者，更無論矣。</p>
<p><u>《外臺秘要》</u></p>
<p><u>《千金方》</u></p>
<p>二書彙集唐以前之經方、秘方，及婦科、兒科、外科，無所不備，博大深微，必明乎《靈》、《素》、仲景之書，方能知所審擇，不至氾濫而無所適從矣。</p>
<p><u>婦科</u></p>
<p><u>兒科</u></p>
<p>婦人除經、帶、胎、產之外，與男子同。小兒除驚、癇、痧、痘而外，與老壯同。所以古人並無專科，後人不能通貫醫理，只習經、產、驚、痘等方藥，乃有專科。若讀前所列之書，則已無所不能，更取後世所著《婦人良方》、《幼幼新書》等參觀可也。</p>
<p><u>外科</u></p>
<p>其方亦具《千金》、《外臺》，後世方愈多而法愈備，如《竇氏全書》、《瘍科選粹》，俱可採取。惟惡毒之藥及輕用刀針，斷宜切戒。</p>
<p><u>《御纂醫宗金鑑》</u></p>
<p>源本《靈》、《素》，推崇《傷寒論》、《金匱要略》以為宗旨，後乃博採眾論，嚴其去取，不尚新奇，全無偏執，又無科不備，真能闡明聖學，垂訓後人，足徵聖朝仁民之術無所不周，習醫者即不能全讀古書，只研究此書，足以名世，何乃不此崇信，而反從事於近世杜撰無稽之說耶？</p>
<p>雄按：《本草綱目》，可謂集諸氏之大成矣。踵之者，有劉若金之《本草述》、倪純字之《本草匯言》，趙恕軒之《綱目拾遺》，尤足以補李氏之闕失，然皆不過貫穿融匯於金元諸名家而已。惟盧子繇《本草乘雅》，鄒潤安《本經疏證》，力追上古，直溯長沙，抉發精微，推闡盡致，掃盡諸家蕪穢而歸於至當。學者幸生其後，得讀其書，從此而心惟神悟，深造有得，庶上接神農之一脈哉。</p>
