<header data-type="book">
<h1>廣嗣紀要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>萬全</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1572">公元1572年</data></dd></div>
<div><dt>底本</dt><dd>明萬曆余氏怡慶堂刊本（<a href="https://www.digital.archives.go.jp/file/1084160">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>李之用《廣嗣紀要》序</h1>
<p>頃刻《保命歌括》，推極人臣之忠，載閱《廣嗣紀要》，並有感於人子之孝。夫孝莫大乎事親。能養，事之文也；能嗣，事之本也。水源木實，肇諸作者身重視；源衍枝疏，引之勿替親重後。古稱三不孝，惟後為大。生生玄化之倪，人稟玄化以生，生又人道之極，不然，將與天地不相似，奚哉其為善事親？故寄晨昏於樓護，悼緩急於傳西，投車絕愛，別鶴噓憂，往乘所重惜。語云：天與善人乃其變者。邁種之賢，弓裘不續；敦仁之士，桂玉罔聞，令為善者不能必之已信之天道，而至疑於漢安世之榮，若是乎嗣之不可不廣也。跡古所譚，履巨降玄，遐乎藐矣。空桑之志幻，徵蘭之兆幽。甫生自岳，喜生自蓮，麟見而曲阜懸弧，龍感而芒碭隆準，是皆非常之希覯。天道之未定者，在彼不能必已信之天道，而此欲以未定求之，難矣。《紀要》者，近取諸身，因人之理，順諸玄化者五，輔以人事者七，間有出自然之外而實範圍自然之中，為愚夫愚婦之知能，又能為賢智者之巧取。詳哉乎其言之矣，若乃修德、寡欲諸篇，冠諸卷首。常觀德之不修，孔聖猶憂。寡欲養心七篇攸載，其義正，其說嚴，其際實，其感疾，蓋不徒以方術誘人而使之趨。醫案診視之已定，參以湯劑，湯劑之不宜，運以心思，默有探乎指下之微、方外之意。為人子者，倘得是說而持之，以此嗣親，庶幾其有永乎。將生生之說長已，是不可以不傳也。</p>
<p><u>賜進士中順大夫黃岡李之用撰</u></p>

<h1>卷之一</h1>
<p>全嘗著《廣嗣紀要》，一曰修德，以積其慶；二曰寡欲，以全其真；三曰擇配，以昌其後；四曰調元，以卻其疾；五曰協期，以會其神。遵而行之，有子之道也。若山水之靈，祈禱之應。必有德無欲者，天地交感，志意潛通，可茀無子而獲孔釋抱送之祥矣。否則徼福於冥冥之中，其不為天地厭之者，幾希？</p>

<h2>修德篇第一</h2>
<p>巢氏云：夫人無子者，蓋有三焉：一者墳墓不嗣，二者夫婦年命相剋，三者夫疾婦病。皆令無子。若夫疾婦病，可以服藥而後能有子，余者皆不可治也。</p>
<p>密齋著修德積慶之銘曰：民之有生，宗祀攸系。不生不育，人道乃熄。天不棄人，惟人自棄。厥動匪彝，自求禍戾。無高不摧，無升不墜。盛衰相乘，四時之序。積善之家，慶流不匱。栽者培之，造化之秘。謹按人之乏嗣者，或氣數將窮，脈絡當絕；或驕奢已極，福澤少減；或殘忍太甚，罪業難逃。苟非省躬悔過，積功崇德，則不能轉禍為福也。故曰君子修之吉。</p>
<p>太上感應篇十種利益：</p>
<p>一、收街市遺棄嬰兒，倩人看養。俟年十五，願識認者，還歸父母團圓。</p>
<p>二、每冬十一月初三為始，收六十以上、十五以下乞丐、貧人，入本家養濟院，每日給米一升，錢十五文。至來年十一月初三日，滿一年，令其自便求趁。</p>
<p>三、普施湯藥，應驗救人病苦。</p>
<p>四、施棺木，周給無力津送之家。</p>
<p>五、使女長大，不計身錢，量給衣資，聽其適人。</p>
<p>六、專一戒殺，救護眾生，遇有飛走物命，買贖放生。</p>
<p>七、每遇荒歉之年，其糧貴糴賤糶，賑濟貧民。</p>
<p>八、應有寺觀損壞者，修理之；聖像剝落者，為裝飾之；或橋梁道路溝渠不通者，咸為治焉。</p>
<p>九、有遠鄉士夫、客旅流落者，酌量遠近，以助裹糧而周急還鄉。</p>
<p>十、居權司，凡遇冤枉，必與辨明。</p>
<p>密齋云：十種利益，如收養乞丐、貧人一條，惟公侯宰相之家得為之，不如遇有飢寒者即周急之。如施棺木一條，所濟有限，不如見路旁之死人，暴露之枯骨，即倩人掩埋之。如放禽獸一條，不可為例，恐有捉捕來求利者，未免反傷其生也。如貴糴賤糶一條，不如豐歉平糶，勿論貴賤。如修理寺觀，裝飾神像，必親監視之，恐被欺罔虛報也。</p>
<p>昔東京有一焦公，三世無嫡嗣，遂為商旅，遊玩名山，尋訪至人，問其因果。及至京都，見一老僧，聲清而遠，目視精光，數與談論，語言甚異，故就席而坐。僧曰：有何所論？焦曰：貧家三世無嫡嗣，奈何？僧曰：無嗣者有三：一、宗祖無德，自己無行；二、夫婦年命，恐犯禁忌；三、精神不守舍，妻妾血寒。有何法術？焦再拜告曰：願聞一言。僧曰：不難。先修德，後修身，三年之後，可到五臺山，當授異方。說畢，忽不見。焦自遇老僧之後，時時行方便，種種積陰功。遇人臨難者，效觀音之救苦；見物垂死者，體太上之好生。行恩布德，如此三年，竟往五臺山尋訪老僧。數日不見，乃忽見行童手持一書言曰：老師傳語，大夫功成行滿，回宅合藥，志誠服之，富貴子孫，隨念降生。焦公曰：但得嫡子足矣，何望貴子乎！於是生焦員外。後員外養子不肖，嘆曰：有何損德如是。忽遇一道人云：汝有憂色，何不往五臺山見老僧？焦氏頓首，遂往五臺山決其因果。至五臺山不見老僧，只見行童曰：老師昨日言員外今日到山，令行相接也。再三傳語，何必來問，但依父行，愚者自賢爾，後必生賢德子孫。焦氏曰：豈愚者反賢乎？行童曰：昔竇氏五子皆不全形，後行恩布德，皆拜科第。焦氏拜謝而歸。</p>
<p>密齋云：修德莫如悔過，過而不悔，則累其德矣。禱之於天，不若反求諸己，反身不誠，則獲罪於天矣，此無子之報應也。</p>
<p>《良方論》云：分野異域，則所產有多寡之宜；吉事有祥，則所夢各達其類。是故荊揚多女，雍冀多男。熊羆男子之祥，虺蛇女子之祥。是皆理之可推也。</p>

<h1>卷之二</h1>

<h2>寡欲篇第二</h2>
<p>經曰：丈夫二八腎氣盛，天癸至，精血溢瀉，陰陽和，故能有子。女子二七而天癸至，任脈通，太衝脈盛，月事以時下，故有子。</p>
<p>倉公云：男子精盛以思室，女子血盛以懷妊。</p>
<p>密齋云：男女配匹，所以廣胤嗣，續綱常也。厥系匪輕。求子之方，不可不講。夫男子以精為主，女子以血為主，陽精溢瀉而不竭，陰血時下而不愆，陰陽交暢，精血合凝，胚胎結而生育蕃矣。不然，陽衰不能下應乎陰，陰虧不能上從乎陽，陰陽牴牾，精血乖離，是以無子。昧者曾不知此，乃拂自然之理，謬為求息之術方，且推生克於五行，蘄補養於藥石，以偽勝真，以人奪天，雖有子孕而不育，育而不壽者眾矣。</p>
<p>《褚氏遺書》云：男子二八而陽精溢，女子二七而陰血滋，陽精陰血，皆飲食五味之實秀也。男子精未通而遇女以通其精，則五體有不滿之處，異日有難狀之疾。陰以痿而思色以降其精，則精不出，小便道澀而為淋。女子天癸既至，逾十年無男子合則不調，未逾十年思男子合亦不調。不調則舊血不出，新血妄行，雖合而難子。</p>
<p>師云：古人男子三十而後娶，女子二十而後嫁。正如褚氏之論，恐傷其精血也。故求子之道，男子貴清心寡慾以養其精，女子貴平心定氣以養其血。何也？蓋男子之形樂者氣必盈，志樂者神必蕩。不知安調則神易散，不知全形則盈易虧，其精常不足，不能至於溢而瀉也。此男子所以貴清心寡慾，養其精也。女子之性偏急而難容，情媚悅而易感。難容則多怒而氣逆，易感則多交而瀝枯，氣逆不行，血少不榮，則月事不以時也。此女子所以貴平心定氣，養其血也。</p>
<p>抑又論之：孟子曰：養心莫善於寡欲。寡欲者，尤男子之至要也。蓋腎藏精，肝之脈環於陰器而出其挺末，心不妄動則精常溢瀉，肝實而陽道奮發矣。苟心慕少艾，縱恣無度則精竭，精竭則少而不多。精竭於內則陽衰於外，痿而不舉，舉而不堅，堅而不久。隱曲且不得，況欲輸其精乎？是則腎肝俱損，不惟無子，而且有難狀之疾矣。</p>
<p>《要略》曰：脈得諸芤動微緊，男子失精，女子夢交，桂枝龍骨牡蠣湯主之。</p>
<p>桂枝　芍藥　生薑（各三兩）　甘草（二兩）　大棗（十二枚）　龍骨　牡蠣（各三兩）</p>
<p>水七升，煮取三升。</p>
<p>密齋云：此方乃固澀之劑，非鎮心安神之藥也。蓋神者，精氣之主也。神以御氣，氣以攝精，故人寤則神棲於心，寐則神棲於腎。心腎，神之舍也。晝之所為，夜之所夢，男子夢交而精泄，女子夢交而精出，是皆不知清心寡慾之道者也。斯人也，神不守舍，從欲而動，晝有所感，夜夢隨之，心不攝念，腎不攝精，久而不已，遂成虛損。或有神氣委靡，念慮猖狂，風邪乘其虛，鬼氣干其正，與妖魅交通者，是又難狀之疾也。（詳見上卷。）辟邪丹宜鎮神鎮精丹主之。</p>
<p>人參（一兩）　茯神（一兩）　遠志（甘草水煮，去心，一兩）　柏子仁（一兩）　酸棗仁（去殼，一兩）　石菖蒲（一兩）　白龍骨（煅）　牡蠣（煅，各二兩半）　辰砂（水飛，五錢，留一錢為衣）</p>
<p>以上共為末，煉蜜丸，如彈子大，每服一丸，棗湯下。</p>
<p>丹溪曰：人受天地之氣以生。天之陽氣為氣，地之陰氣為血，故氣常有餘，血常不足。何以言之？男子十六而精通，女子十四而經行。是有形之後，猶有待於乳哺、水穀之養，陰氣始成，而可與陽氣為配，以能成人。而為人父母，古人必待三十、二十而後嫁娶，可見陰氣之難於成，而古人之善於保養，則伸陽於腎，有補無瀉，正是此意。又按《禮記》注曰：惟五十然後養陰者，有以加。《內經》曰：年至四十，陰氣自半，而起居衰矣。又曰：男子六十四而精絕，女子四十九而經斷。夫以陰氣之成，止供給得三十年之用，已先病矣。人之情欲無涯，此難成易敗之陰氣，若之何而可以縱欲也。</p>
<p>或曰：人在氣交之中，今欲順陰陽之理，而為攝養之法，如之何則可？曰：主閉藏者腎也，司疏泄者肝也，二臟皆有相火，而其繫上屬於心。心，君火也，為物所感則易於動，心動則相火翕然而隨，雖不交會亦暗流而滲漏矣。所以聖賢只教人收心養性，其旨深矣。天地以五行更迭衰旺而成四時，人之五臟六腑亦應之而衰旺。四月屬巳，五月屬午，為火太旺，火為肺金之夫，火旺則金衰。六月屬未，為土大旺，土為水之夫，土旺則水衰。況腎水嘗借肺金為母，以輔助其不足。故《內經》諄諄然資其化源也。</p>
<p>古人以夏月必獨宿而淡滋味，兢兢業業於愛護保養金水二臟，正嫌火土之旺耳。《內經》又曰：藏精者，春不病溫。十月屬亥，十一月屬子，火氣潛伏閉藏，以養其本然之真，而為來春升陽發生之本。若干此不恣欲以自戕，至春升之際，根本壯實，氣不輕浮，焉有溫熱之病？夫夏月火土之旺，冬月火氣之伏，此論一年之虛耳。若上弦前、下弦後，月廓空，亦為一月之虛。大風大霧，虹霓飛雹，暴寒暴熱，日月薄蝕，憂愁忿怒，驚恐悲哀，醉飽勞倦，謀慮勤勤，又皆為一日之虛。若病患初退，瘡痍正作，尤不止一日之虛。今人多有春末夏初患頭痛腳軟，食少體弱，仲景論春夏劇，秋冬差，而脈弦大者，正世俗謂注夏病也。若犯四者之虛，似難免此。夫當壯年，便有老態，仰事俯育，一切隳廢，興言至此，深可驚歎。古人謂不可見欲，使心不亂。夫以溫柔之感於體，聲音之感於耳，顏色之感於目，馨香之感於鼻，誰是鐵心漢不為動擾？善養生者，於此五個月出居於外，苟值一月之虛、一日之虛，亦宜暫遠帷幕，各自珍重，保全天和，庶可以滋助化源，水得所養，陰無虧欠，與陽平。然後陽得所附而無損越之變，遂成天地交之泰，何病之可言。</p>
<p>按丹溪此論四者之虛，尤求子者之當謹也。</p>
<p>密齋云：男精女血，難成而易敗如此。夫以易敗之陰，從以無窮之欲，敗而又敗，故男不待於八八、女不待於七七而早衰矣。嘗見男子近女，一宿數度，初則精，次則清水，其後則是血，敗之甚矣！女子之血謂之七損，上為乳汁，下為月經，交合浸淫之水，與夫漏濁、崩中、帶下之物，皆身中之血也，加以生育之多，豈不敗而又敗哉？此求子之道，男子當益其精，女子當益其血，節之以禮，交之以時，不可縱也。</p>
<p>《色欲箴》云：惟人之生，與天地參。乾道成男，坤道成女。配為夫婦，生育攸寄。血氣方剛，惟其時矣。成之以禮，接之以時。父子之親，其要在茲。眷被昧者，徇情縱欲。惟恐不及，濟以燥毒。氣陽血陰，人身之神。陰平陽秘，我體長春。血氣幾何，而不自惜。我之所生，翻為我賊。女之耽兮，其欲實多。閨房之肅，門庭之和。士之耽兮，其家自廢。既喪厥德，此身亦瘁。遠彼帷薄，放心乃收。飲食甘美，身安病瘳。</p>
<p>密齋作箴曰：不孝之大，罪在無子。配匹之際，以續宗祀。時操井臼，常侍衽席。尤物移人，勿被所迷。苟或貪戀，縱欲准危。匪嗣之求，為身之厲。火盛水衰，形槁色弊。膏肓既入，箕裘何襲。覆宗殞命，悔之無及。</p>
<p>茭山云：形者，精神之舍宇也。氣血者，精神之父母也。所以男子養其氣以輸其精，積精以全其神。人身賴此以為根蒂，蓋欲恬澹怡養。古云毋耗我氣，毋勞我神，毋傷我血，毋搖我精，可以為守精神者矣。今人但知養其外，不知養其內。養其外者，養其口體者也。但知以酒肉為滋補，以逸欲為舒情，絕不知守精神育子之法，似乎經云以酒為漿，以妄為常者矣。是故多病無子，或生而多夭。古人養其內者，養其心腎也。不妄作勞，年躋百歲，故病少多壽也。今世無子者，多娶幼妾，或寒經而不調，或沸騰而多病，所以未成先傷，未結先壞，精血愈耗，神氣愈怯，故無子，或生而多夭也。且人身精神有限，安得用度無窮？須當修省積精，以養天真，寡欲情而益眉壽。如此則惜精愛身，有子有壽，其妙何如耶？</p>
<p>《左傳》：晉平有病，求醫於秦，秦伯使醫和視之，曰：疾不可為，是謂近女室，疾如蠱。非鬼非食，惑以喪志。良臣將死，天命不佑。公曰：女不可近乎？對曰：節之。淫生六疾。六氣曰陰、陽、風、雨、晦、明也。分為四時，序為五節，過則為災。陰淫寒疾，陽淫熱疾，風淫末疾，雨淫腹疾，晦淫惑疾，明淫心疾。女，陰物而晦時，淫則生內熱惑蠱之疾。今君不節不時，能無及此乎？</p>
<p>按醫和所謂不節不時，不能寡欲者也。</p>

<h1>卷之三</h1>

<h2>擇配篇第三</h2>
<p>擇配之道，莫善於卜。人謀鬼謀，再三則瀆。文定厥祥，克昌姬籙。攘公之羭，十年有臭。或有於姜，或喪其婦。筮短龜長，從長是福。曲禮昏義，欽哉三複。</p>
<p>《要略》曰：男子脈浮弱而澀，為無子，精氣清冷。</p>
<p>《脈經》曰：婦人少腹冷，惡寒久，年少者得之，為無子。</p>
<p>脈微而澀，此為居經，三月一來，年少得此，為無子，中年得此，為絕產。</p>
<p>肥人脈細，胞有寒，故令少子。</p>
<p>密齋云：按丈夫無子者，妻妾之多何益？妻之無子，必用妾也。人之娶妾，不可不擇，觀其相，決之於卜。命不足信，蓋有假裝年月以欺人者。勿擇其美，有美者必有惡，如叔向之母論夏姬之女是也。勿擇其族類，芝草無根，醴泉無源也。</p>
<p>《褚氏遺書》云：建平王妃姬等皆麗而無子，擇良家女未笄入御又無子。問曰：求男有道乎？澄對之曰：合男女必當年，男雖十六而精通，必三十而娶，女雖十四而天癸至，必二十而嫁。皆欲陰陽氣血完實而後交合，則交而孕，孕而育，育而為子，堅壯強壽。今未笄之女，天癸始至，已近男色，陰氣早泄，未完而傷，未實而動，是以交而不孕，孕而不育，育而子厄不壽，此王之所以無子也。婦人有所產皆女者，有所產皆男者，大王誠能訪求多男婦人，謀置宮府，有男之道也。王曰：善。未再期生六男。夫老陽遇少陰，老陰遇少陽，亦有子之道也。</p>
<p>密齋按：《易》曰：枯楊生梯，老夫得其女妻。枯楊者，老陽之象也。老夫之年，雖過八八之數，受氣獨厚，天真不匱，故遇少陰，乃能有子，如枯楊之復生梯也。若云老陰遇少陽，此枯楊生華之象。故《易》曰：老婦士夫亦可醜也。</p>
<p>《左傳》：晉叔向欲娶於申公巫臣氏。其母曰：子靈之妻，殺三夫，一君，一子，而亡國、兩卿矣。可無懲乎？吾聞之，甚美必有甚惡，是鄭穆少妃姚子之子，子貉之妹也。子貉早死無後，而鍾美於是，必將以是大有敗也。昔有仍氏生女，發黑而甚美，光可以鑑，名曰玄妻。樂正後夔取之，生伯封，實有豕心，貪婪無饜，忿戾無期，謂之封豕。有窮后羿滅之，夔是以不祀。且三代之亡，共子之廢，皆是物也。汝何以為哉？夫有尤物，足以移人，苟非德義，則必有禍。</p>
<p>某按叔向之母云：甚美必有甚惡。又云：夫有尤物，足以移人，苟非德義，則必有禍。信哉言乎！嘗見人有美妻妾者，胎孕未成，形體先壞，身且不保，安望子耶？</p>
<p>昔康公遊於涇水，獲三女以歸。其母戒之曰：吾聞獸三為群，人三為眾，女三為壑。汝小邦德微，不能享，當獻與王。康公不聽，竟以亡國。</p>
<p>密齋著箴曰：人有恆言，子生眾母。寵人太多，恐非其福。夫也不良，賤黃貴綠。妻有偏心，終朝反目。妾婢失防，中冓之辱。設有遺孽，易姓亂族。克偕伉儷，自有嗣續。</p>
<p>梁鱣，年三十未有子，欲出其妻。商瞿曰：吾恐子自晚年耳，未必妻之過。鱣從之，後二年果有子。</p>
<p>袁韶父為郡吏，夫婦俱近五十無子，其妻資遣之往臨安買妾。既得妾，乃官家女也，即送還之，遂獨歸。妻問妾安在，告以故，且曰：吾思之，無子命也，我與汝夫婦年久，若有子，汝豈不育，必待他婦人乃育哉？妻亦喜曰：君設心若此，必當有後。明年生韶，既長，為參政知事。</p>
<p>齊馮勤之父，自恥短陋，恐子孫類也，為子孫娶長大之妻。鄉里有女長而陋，相言其貴，娶之而生勤，長八尺，仕至尚書。</p>
<p>《金丹節要》云：骨肉瑩光，精神純實，有花堪用。五種不宜：一曰螺，陰戶外紋如螺螄樣旋入內。二曰紋，陰戶小如箸頭大，只可通，難交合，名曰石女。三曰鼓，花頭，繃急似無孔。四曰角，花頭，尖削似角。五曰脈，或經脈未及十四歲而先來，或五十五六而始至，或不調，或全無。此五種無花之器，不能配合太陽，焉能結仙胎也哉。</p>
<p>男子亦有五種病：一曰生，原身細小，曾不舉發。二曰犍，外腎只有一子，或全無者。三曰變，未至十六，其精自行，或中年多有白濁。四曰半，二竅俱有，俗謂二儀子也。五曰妒，妒者忌也，陰毒不良。男有此五病，不能配合太陰，乏其後嗣也。</p>

<h1>卷之四</h1>

<h2>調元篇第四</h2>
<p>丹溪云：無子之因，多起於父氣之不足，豈可歸罪於母血之虛寒？況母血之病，奚止虛與寒而已哉？然古人治婦人無子，惟秦桂丸一方，其性熱，其辭確，今之欲得子者，率皆服之無疑。夫求子於陰血，何至輕用熱劑耶？</p>
<p>劉宗厚云：婦人無子，多因經血不調，或陰虛血少，積聚痰氣嗜欲等致種種不同，奚止虛與寒而已哉？然經寒者亦有之，但不可例為常法耳。是以先生論此，戒後人不得病機之的者，斯藥勿妄行也。況無子之因，亦豈止於婦室者？如東垣云：李叔和問中年以來生一子，至一歲之後，身生紅絲瘤不救，後三四子，三歲皆病瘤而死，何緣至此疾？翼日思之，謂曰汝乃腎中伏火，精氣中多有紅絲，以氣相傳，生子故有此病，俗名胎瘤是也，汝試視之。果如其言，遂以滋腎丸數服，以瀉腎中火邪，補真陰不足，忌酒辛熱之物。其妻與六味地黃丸以養其陰血，受胎五月之後，以條芩、白朮二味作散，啖五七服。後生子至三歲，前症不復作，今已年壯。</p>
<p>密齋著《痘疹心要》論胎毒云：人之生也，受氣於父，成形於母。胎毒之貽，父亦有之，未可專歸於母也。觀東垣論李叔和之子紅絲瘤之病，丹溪論鄭憲史之子得淋病，皆其父之貽毒也。故一治其父，一治其子，悉用瀉火解毒之藥以獲元吉。今之求嗣者，不知滋養真陰之旨，喜服辛燥之藥，以致陽火蘊隆，陰水乾涸，禍及其身，豈止胎毒貽於子也哉。（鄭憲史子淋病見前調經論。）</p>
<p><u>東垣滋腎丸</u>　治下焦伏火，陰虛腳痛無力，陰痿無子。</p>
<p>黃柏（酒洗，焙）　知母（酒洗，焙，各一兩）　肉桂（二錢）</p>
<p>上末，水丸，如梧桐子大，每七八十丸至百丸，食前百沸湯下。</p>
<p>褚氏云：凡子形肖父母者，以其精血嘗於父母之身，無所不歷也。是以父一肢之廢，則子一肢亦肖其父，母一目虧，則子一目亦肖其母。</p>
<p>愚按男精女血，混合成胎，子形之肖於父母者，其原固有所自矣。然則求子者，男當益其精而節其欲，使陽道之常健，女當養其血而平其氣，使月事之時下，交相培養，有子之道也。</p>
<p>又云：父少母老，產女必羸；母壯父衰，生男必弱。古之良工首察乎此，補羸女則養血壯脾，補弱男則養脾絕色。羸女宜及時而嫁，弱男宜待壯而婚。</p>
<p>愚按此言弱男羸女補養之法，誠求子之所當講求者也。蓋男強女壯，精溢血盛，自然有子，何須補益？惟男之弱者，精常不足，當補腎以益其精；女之羸者，血常不足，當補脾以益其血。補腎六味地黃湯，精寒加五味子、熟附子。補脾參苓白朮散，血少加歸、芎。又著箴曰：男精充盈，陰血時行。陽變陰合，旺胎妙凝。男益其精，女調其經。乃能有子，螽斯振振。羸男虧陽，弱女虧陰。雖交不孕，雖孕不成。調養之法，上工所明。不遇其良，反成其疹。</p>
<p>茭山云：或有感而不生，或有感而孕，孕而多墮，其意何也？感而不生者，男子精盛之時，女子陰血不足，猶若老陰得其少陽，枯楊生華，種子下磽田之中，故不發生。又有男子精冷如冰，精清如水，雖女陰血縱橫，而終身亦無子矣。感而易孕者，女子血盛，男子精雖不足，猶若老陽得其少陰，枯楊生梯，種子下於肥田之中，故生而秀實也。孕而多墮者，男子貪淫無度，女子好欲性偏，兼以喜食辛酸熱物，暴損衝任，故有墮胎之患。</p>
<p>孫都憲淮海公，年四十未有嫡嗣，嘗問密齋廣嗣之道，且語其故。密齋告曰：男女媾精，萬物化生。夫男子陽道之堅強，女子月事之時下，應期交接，妙合而凝，未有不成孕育者矣。然男子陽道之不強者，由於腎肝之氣不足也。腎者作強之官，肝者罷極之本。肝之罷極，由於腎之強作也，故陰痿而不起不固者，筋氣未至也。肝主筋，肝虛則筋氣不足矣。陰起而不堅不振者，骨氣未至也。腎主骨，腎虛則骨氣不足矣。又有交接之時，其精易泄，流而不射，散而不聚，冷而不熱者，此神內亂，心氣不足也。凡有此者，各隨其臟氣不足而補之。在肝則益其肝，如當歸、牛膝、續斷、巴戟之類。在腎則益其腎，如熟地黃、蓯蓉、杜仲之類。在心則益其心，如五味、益智、破故紙之類。再用枸杞子、菟絲子、柏子仁以生其精，使不至於易虧；山茱萸、山藥、芡實以固其精，使不至於易泄。修合而服之，其藥勿雜，其交勿頻，其動以正，其接以時，則熊羆之夢，麒麟之子，可計日而待矣。命其方曰螽斯丸。</p>
<p>當歸　牛膝　續斷　巴戟　蓯蓉　杜仲（薑汁炒）　菟絲（酒蒸）　枸杞子　山萸肉　芡實　山藥　柏子仁（各一兩）　熟地黃（二兩）　益智（去殼）　破故紙（黑麻油炒）　五味子（各半兩）</p>
<p>上十六味，各制研末，秤定和勻，煉蜜丸，梧桐子大，每五十空心食前酒下。</p>
<p>公又問：女子月事或前或後，或多或少，無定期者，何以調之？密齋曰：此神思之病，無以治也。公曰：何故？曰：寵多而愛不周，念深而幸不到，是以神思不舒也。以身事人而其性多傲，以色悅人而其心多忌，故難調也。公曰：據此意思制方，平其氣，養其血，開其鬱，宜無不可？曰：謹如教。乃進調元丸，方用香附子、川芎、陳皮以開鬱順氣，白朮補脾利滯血，當歸養心生新血。又以治其二陽發心脾之疾。</p>
<p>香附子（一斤，醋浸，春五夏三秋七冬十，捶極爛，曬乾，研為細末，十兩餘醋作糊）　當歸　川芎　白朮　陳皮（各五兩）</p>
<p>五味各為極細末，浸藥余醋煮麵糊為丸，如梧桐子大，每五十空心食前酒下。不飲酒，小茴湯下。</p>
<p>密齋嘗見男子陰痿者，多致無子，不可不慮也。惟其求嗣之急，易為庸醫之惑，或以附子、石床脂為內補，或以蟾酥、哈芙蓉為外助，陽事未興，內熱已作，玉莖雖勁，頑木無用，以致終身無子，或有妖歿之慘者。吾見此輩無辜，而受醫藥之害，遍訪諸方，無越此者，出以示人，命曰壯陽丹。</p>
<p>熟地黃（四兩）　巴戟（去心）　破故紙（炒，各二兩）　仙靈脾（一兩）　桑螵蛸（真者鹽焙）　陽起石（煅，別研，水飛，各半兩）</p>
<p>上六味，合陰之數，研末，煉蜜丸，如梧桐子大，每三十丸空心只一服，溫酒下。不可恃此自恣也，戒之。</p>
<p>人有誤服壯陽辛燥之劑，鼓動命門之火，煎熬北海之水，以致邪火妄動，真水漸涸，失其養生之道，去死不遠矣。治此之法，曰滋水之主，以制陽光。腎者，水之主也。肺者，水之化源也。腎苦燥，急食辛以潤之，辛者，肺金之味也，滋其真水之化源，以制其邪火之亢甚，陽光既伏，真水自生，補陰丸主之。</p>
<p>黃柏（鹽水炒，四兩）　知母（酒洗，四兩）　熟地黃（酒蒸焙，六兩）　天門冬（焙，三兩，各勿犯鐵）</p>
<p>各取末和勻，煉蜜丸，梧桐子大，每五十丸，空心食前百沸湯下。</p>
<p>制方，古云：腎苦燥，知母之辛寒以潤之；腎欲堅，黃柏之苦寒以堅之；熟地黃之苦甘寒以補腎之虛；天門冬之甘寒以補肺，滋腎水之化源，所謂虛則補其母也。</p>
<p>丹溪曰：婦人無子者，多因血少不能攝精。俗醫悉謂子宮虛冷，投以辛熱之藥，煎熬臟腑，血氣沸騰，禍不旋踵。或服艾者，不知艾性至熱，入火灸則下行，入服藥則上行，多服則致毒，咎將誰歸？</p>
<p>若是肥盛婦人，稟賦甚厚，恣於酒食之人，經水不調，不能成胎，謂之軀脂滿溢，閉塞子宮，宜行濕燥痰，用南星、半夏、蒼朮、川芎、防風、羌活、滑石，或導痰湯之類。</p>
<p>密齋云：肥盛婦人無子者，宜服蒼附導痰丸。</p>
<p>蒼朮（制，二兩）　香附（童便浸，二兩）　陳皮（去白，兩半）　南星（炮，另制）　枳殼（麩炒）　半夏（各一兩）　川芎（一兩）　滑石（飛，四兩）　白茯苓（兩半）　神麯（炒，一兩）</p>
<p>上十味，共末，薑汁浸蒸餅丸，梧桐子大，淡薑湯下。</p>
<p>若是怯瘦性急之人，經水不調，不能成胎，謂之子宮乾澀無血，不能攝受精氣，宜涼血降火，或四物加香附、柴胡、黃芩養血養陰等藥。</p>
<p>東垣有六味地黃丸，以補婦人陰血之不足，無子服之，能有胎孕。</p>
<p>仁齋云：人之夫婦，猶天地然。天地陰陽和而後萬物生，夫婦之道，陰陽和而後男女生。是故欲求嗣者，先須調其婦之經脈，經脈既調，則氣血和平，氣血和平，則百病不生，而樂乎有子矣。</p>
<p>古庵云：婦人無子之因，或經不勻，或血不足，或有疾病，或交不時，四者而已。調其經而補其血，去其病而節其欲，夫如是則經調血足，無病而交有時，豈有不妊娠者乎？雖然人之後嗣系乎天命，抑或人事之未盡者，可不究其心歟？</p>
<p>愚按婦人無子，或經水不調，自有調經之方。血不足者，莫如六味地黃丸；素有疾病者，莫如補脾參苓白朮散。若夫子宮虛寒者，不可不講，苟執勿用熱藥之禁，所謂執中無權，猶執一也。今採韓飛霞女金丹、楊仁齋艾附暖宮丸二方於後，以備治虛寒者之用也。</p>
<p><u>韓飛霞女金丹</u>　（可代詵詵丸）</p>
<p>白朮　當歸　川芎　赤石脂　藁本　人參　白薇　丹皮　玄胡索　白芷　桂心　白芍　沒藥　白茯苓　甘草（各一兩）</p>
<p>上十五味，除石脂、沒藥另研，余以醇酒浸三日，焙乾為末，足數十五兩。香附子十五兩，以米醋浸三日，略炒，為細末，足十五兩。共十六味，為末，重羅和勻，煉蜜丸，彈子大，磁銀器封收。每取七丸，空心雞未鳴時服一丸，以清茶灌漱咽喉後細嚼，以溫酒或白湯下，咸物乾果壓之。服至四十九丸為一劑，以癸水調勻，受胎為度。胎中三日一丸，百日止。盡人事而不育者天也。</p>
<p><u>仁齋艾附暖宮丸</u>　兼治帶下白淫。</p>
<p>香附（六兩，俱要各時採者，用醋五升，以瓦罐煮一晝夜，搗爛，分作餅，慢火焙乾）　艾葉（去枝梗，三兩）　吳茱萸（去枝梗）　川芎　白芍（炒）　黃耆（各二兩）　當歸（三兩）　續斷（兩半）　生地黃（一兩）　官桂（五錢）</p>
<p>共為細末，上好米醋糊丸，梧桐子大，每五七十丸，淡醋湯食遠下。</p>
<p>修合宜壬子日，或天德合月德合日，益後續斷生氣日，精選藥材，至誠合造，精用經驗。</p>
<p>婦人服藥，更戒惱怒，勿食生冷。男子亦要保養精神，戒夜酒，謹慎經期，循素女房中之論，無不效。（見《素女論》下。）</p>
<p>梁武平齊，獲侍兒十餘，郄後憤恚成疾。左右曰：《山海經》云鶬鶊為膳可療，使不忌。郄茹之，妒減半。</p>
<p><u>附：養腎種子方</u></p>
<p>枸杞子（六兩，用好水酒浸，曬乾，研細末，不用火炒，忌鐵器）</p>
<p>菟絲子（六兩，用好水酒浸，浸滿日數畢，為末，七蒸七曬，如干了，少用酒拌濕，蒸之，研成餅則爛矣，忌鐵器）</p>
<p>熟地黃（三兩，用好水酒浸，浸畢，用竹刀薄切，曬乾，研末，忌鐵器）</p>
<p>乾山藥（六兩，不必制，研碎，忌鐵）</p>
<p>白茯苓（六兩，用好水酒浸，去粗皮，細研，忌鐵器，曬乾，用竹刀切之）</p>
<p>當歸（三兩，用好水酒浸，竹刀切，曬乾，研碎，忌鐵）</p>
<p>川芎（三兩，去粗皮，好水酒浸，竹刀切，曬乾，研碎，忌鐵）</p>
<p>蒼朮（六兩，米泔水浸，用竹刀切，曬乾，研碎，忌鐵）</p>
<p>肉蓯蓉（六兩，好水酒浸，去鱗甲，竹刀切，曬乾，研碎，忌鐵）</p>
<p>小茴香（六兩，用鹽一酒鍾，拌炒黃色，去鹽，細研，用瓦鍋炒）</p>
<p>何首烏（六兩，用黑豆二三升，將一半放罐底，置首烏於其中，仍將一半豆放其上，著水煮一日，去豆浸之，竹刀薄切，曬乾，細研，忌鐵器）</p>
<p>甘草（十二兩，去粗皮，椎碎，用蜜瓦鍋炒）</p>
<p>川椒（十二兩，去子，瓦鍋炒黃色，先用黃土細捶，鋪在地上，用紙二層置土上，將炒椒在紙上，以瓦盆蓋著，去火毒）</p>
<p>上十三味，冬天浸七日，秋天浸五日，夏天三日，俱用竹刀薄切，曬乾，研細，忌一切鐵器，煉蜜為丸，如梧桐子大。不拘時，每服五六十丸，或酒，或滾白水，或鹽湯送下。忌豆腐、鹿肉二事。年過六十者，加人參一兩，沉香一兩。</p>
<p><u>附：血餘固本九陽丹</u></p>
<p>血餘（一斤，選黑者，不拘男女，用皂莢煎湯洗淨，清水漂過，入口無油垢氣為度，曬乾，置大鍋內，用紅川椒去梗目，與發層鋪上，用小鍋蓋定，鹽泥秘塞上，鍋底上用重石壓之，先用武火煅煉一柱香，後用文火半柱香，以青煙去淨，無氣息為度，冷定取出，研末，雙絹篩過）</p>
<p>何首烏（赤者八兩，白者八兩，先用米泔水浸，竹刀刮去皮）</p>
<p>淮山藥（八兩，共何首烏去皮，竹刀切成片，用黑豆二升上下鋪蓋，蒸熟曬乾）</p>
<p>赤茯苓（八兩，去皮，牛乳浸一日夜）</p>
<p>白茯苓（四兩，人乳浸一日夜）</p>
<p>破故紙（四兩，酒拌，砂鍋炒，以香為度）</p>
<p>菟絲子（四兩，人乳一碗，酒半碗，浸一夕，飯鍋上隔布蒸熟，曬乾，微炒，研末）</p>
<p>枸杞子（四兩，去蒂梗，酒拌，蒸熟）</p>
<p>生地黃（半斤，酒蒸）</p>
<p>蒼朮（半斤，去皮，為末）</p>
<p>熟地黃（半斤，酒蒸）</p>
<p>龜板（半斤，酥油炙）</p>
<p>當歸（四兩，去尾，酒浸）</p>
<p>牛膝（四兩，酒浸，黑豆蒸）</p>
<p>以上各藥末，煉蜜為丸，如梧桐子大，每服五六十丸，藥酒送下。</p>
<p><u>藥酒方</u></p>
<p>當歸　生地黃　五加皮　川芎　芍藥　枸杞（以上各二兩）　核桃肉（一兩）　砂仁（五錢）　黃柏（一兩）　小紅棗（二百個）</p>
<p>用無灰白酒三十六斤，內分五斤入藥，裝壇內密封，隔湯煮之，冷定去渣，入前酒密封用。</p>
<p><u>附：烏須種子方</u></p>
<p><u>八制茯苓丸</u>　治一切虛損，男子壯筋骨，生心血，烏鬚髮，明目固精；女人滋顏色，暖子宮，調經氣。</p>
<p>白茯苓（二斤半，須皮光結實者，去皮，打碎，如棗大，分為八處）</p>
<p>黃耆（六兩，切片，水六鍾，煎三鍾，煮茯苓一分，干為度）</p>
<p>肉蓯蓉（四兩，酒洗，去鱗，水六鍾，煎三鍾，煮茯苓如前）</p>
<p>人參（六錢，水五鍾，煎三鍾，煮茯苓如前）</p>
<p>甘枸杞（六兩，水八鍾，煎三鍾，煮茯苓如前）</p>
<p>破故紙（五兩，水八鍾，煎三鍾，煮茯苓如前）</p>
<p>何首烏（半斤，用黑豆一升，煎水三斤，浸首烏，春秋二日，夏一日，冬三日，將浸過首烏豆汁煮茯苓如前）</p>
<p>秋石（四兩，水三鍾，化開，煮茯苓如前）</p>
<p>人乳（半斤，煮茯苓如前）</p>
<p>將制過茯苓總入石臼內，搗為細末，用米篩篩過，上甑蒸熱，眾手為丸，如梧桐子大。生子者，每日早晚一服，每服四十丸，鹽湯送下，烏須明目用滾白湯送下。忌燒酒、犬肉。</p>
<p>一修合須用平定開成，生氣續世，黃道吉日。先一日午時，將諸藥煎制，煮茯苓，搗末，待次日子時完成，微火烘乾，不見風日。忌孝服、婦人、雞，並四廢六不成日。</p>
<p>以上三方，本集不載，系附入。</p>

<h1>卷之五</h1>

<h2>協期篇第五</h2>
<p>種子歌云：三十時中兩日半，二十八九君須算。落紅滿地是佳期，金水過時空霍亂。霍亂之後枉費功，樹頭樹底覓殘紅。但解開花能結子，何愁丹桂不成叢。</p>
<p>仁齋云：此蓋婦人月經方絕，金水才生，此時子宮正開，乃受精結胎之候，妙合太和之時，過此佳期，則子宮閉而不受胎矣。然男女之分，各有要妙存焉。如月候方絕，一日三日五日交會者成男，二日四日六日交會者成女，過此則不孕矣。</p>
<p>訣曰：何為種子法，經里問因由。昨日紅花謝，今朝是對周。藍田種白玉，子午敘綢繆。三五成丹桂，二四白梅抽。</p>
<p>此言經水未行之時，血海正滿，子宮未開，不能受精以成其娠。經水既行，則子宮開，血海淨，斯能受其精矣。昨日，謂兩日半後也。子午，謂陰陽初動之始，即復妒二卦，非二時也。經止後，一日三日五日得奇數為陽，必生男，故曰丹桂成；二日四日六日得偶數為陰，必生女，故曰白梅抽。七日之後，子宮復閉，不成娠矣。</p>
<p>玉湖須淺泛，重載卻成憂。陰血先參聚，陽精向後流。血開包玉露，平步到瀛洲。</p>
<p>淺泛者，即《素女論》所謂九淺一深之法也。蓋男女交媾，淺則女美，深則女傷，故云重載即成憂也。陰血先聚，陽精後沖，則血開裹精而成男；陽精先至，陰血後參，則精開裹血而成女，即《斷易天玄賦》所謂陽包陰則桂庭添秀，陰包陽則桃洞得仙也。</p>
<p>從斯相暫別，牛女隔河遊。二月花開發，方知喜氣優。好事當傳與，讒言莫妄綢。</p>
<p>此言種子之後，男子別寢，不可再交。蓋精血初凝，恐再衝擊也。故古者婦人有娠，即居側室，以養其胎氣也。二月，即次月也。前月經行，協期種玉，次月經斷，真有娠矣。當此之時，胎教之法，不可不講。故常使之聽美言，見好事，聞詩書，操弓矢；淫聲邪色，不可令其見聞也。</p>
<p>密齋箴曰：月事初下，謂之紅鉛。三十時足，佳期不愆。舊汙既去，新癸未生。子宮正開，玉種藍田。陽道剛健，交接勿煩。勿令氣忤，必使情歡。陽偶陰和，雨順風恬。芳花結子，丹桂森森。</p>
<p>種子須得天月二德，天月德合，三合六合，益後續世。日吉：正月丁壬丙辛，建成收開閉；二月申巳甲己，建平定危成；三月丁壬，建執成收開；四月辛丙庚乙，建平滿成開；五月亥寅丙辛，建成收除；六月甲己，建除滿成閉；七月癸戊丁壬，建危成收；八月寅亥庚乙，建危成除；九月丙辛，建執破危成；十月乙庚甲己，建平成閉；十一月巳申丁壬，建除執破成；十二月庚乙，建成開閉。（外建成開閉俱合天喜六合，益後續世在內。）</p>
<p>《巢氏病源》云：三陽所會則生男，三陰所會則生女。葛洪《肘後方》云：男從父氣，女從母氣。《聖濟經》云：天之德，地之氣，陰陽之至和，相為流薄於一體，因氣而左動則屬陽，陽資之則成男，因氣而右動則屬陰，陰資之則成女。乾道成男，坤道成女，此男女別也。</p>
<p>丹溪曰：成胎以精血之後先分男女者，褚澄之論，愚竊惑焉。複閱李東垣之方，有曰經水斷後一二日，血海始淨，精勝其血，感者成男；四五日以後，血脈已旺，精不勝血，感者成女，此確論也。《易》曰：乾道成男，坤道成女。夫乾坤，陰陽之情性也；左右，陰陽之道路也；男女，陰陽之儀象也。父精母血，因感而會，精之施也，血能攝精，精成其孕，此萬物資始於乾元也，血成其胞，此萬物資生於坤元也。陰陽交媾，胎孕乃凝，所藏之處，名曰子宮，一系在下，上有兩歧，一達於左，一達於右。精勝其血，則陽為之主，受氣於左子宮而男形成；精不勝血，則陰為之主，受氣於右子宮而女形成矣。</p>
<p>或曰：分男分女，吾知之矣。男不可為父，女不可為母，與男女之兼形者，又何如分之耶？予曰：男不可為父，得陽氣之虧者也；女不可為母，得陰氣之塞者也。兼形者，由陰為駁氣所乘而成，其類不一。以女函男有二：一則遇男為妻，遇女為夫；一則可妻而不可夫。其有具男之全者，此又駁之甚者也。</p>
<p>或曰：駁氣所乘，獨見於陰，而所乘之形，又若是之不同，何耶？予曰：陰體虛，駁氣易於乘也。駁氣所乘，陰陽相混，無所為主，不可屬左，不可屬右，受氣於兩岐間，隨所得駁氣之輕重而成形。故所兼之成形，有不可得而同也。</p>
<p>愚按男女居室，人之大倫，交感之道，雖夫婦之愚不肖，可以能知能行也。紀傳所載方法甚明，求子之人用之無效者，可以謂其人之不能行也。其道則邇，其事則易，不可謂其人之不能行也。然可語者法也，不可語者意也，兩意不洽，故徒法不能行矣。因著論於下，惟高者取正焉。</p>
<p>謹按《易·繫辭》曰：天地絪縕，萬物化醇；男女媾精，萬物化生。誠哉是言也。男女胥悅，陰陽交通，而胚胎結矣。嘗觀「周頌」之《詩》云：思媚其婦，有依其士。則夫婦親愛之情，雖在田野，未之忘也。故於衽席之間，體雖未合，神已先交，陽施陰受，血開精合，所以有子。苟夫媚其婦，而女心未愜，則玉體才交，瓊漿先吐，陽精雖施，而陰不受矣；婦依其夫，而士志或異，則桃浪雖翻，玉霜未滴，陰血雖開，而陽無入矣。陰陽乖離，成天地不交之否，如之何其能化生萬物哉！（詳見下《素女論》。）</p>
<p>或曰：種子論為富貴之人立法，若彼農民則不知此理，而生育偏多也。殊不知男女居室，雖愚不肖，可與能知能行焉，禽獸何知，而字尾亦有期耶。但富貴之人，身安志樂，嗜欲縱而身體瘁，嬌妻美妾，愛博而情不專，苟不立此種子之法，則縱恣無度，空勞神思，終不成胎孕也。郊野之民，形苦志苦，取樂不暇，一夫一妻，情愛不奪，至如交合之時，自然神思感動，情意綢繆，積久有餘之氣，交久未合之身，陽施陰受，此所以交則有孕而生育之多也。或曰：富貴無子者，信如所論，不孝有三，無後為大，不識如之何而可使生子也？曰：修德以求福，寡欲以養心，配必擇良，藥不妄餌，庶乎可矣。</p>
<p>帝問曰：若人無子，必欲求之，有法乎？素女答曰：求子之法，須察婦人經水畢，四旺日之後，子宮方開，可以交合而成其子。</p>
<p>按四旺日：春，甲乙寅卯日；夏，丙丁巳午日；秋，庚辛申酉日；冬，壬癸亥子日；四季，戊己辰戌丑未日。如不值其日，取四旺時行之。</p>
<p>帝曰：何以為交接則成男女乎？素女曰：男女交合，女人美快，不自知覺。若陰血先至，陽精後沖，縱氣來乘，陰血開裹陽精，是陰包陽，則成男；若陽精先至，陰血未參，橫氣旁來，陽精開裹陰血，是陽包陰，則成女也。</p>
<p>帝曰：夫婦有不相和悅，其故何如？素女曰：蓋因女子不能察夫之情，不曉夫婦人倫之道，生育繼嗣之理，但自縱，心性凶頑，常懷忿怨不足之意。或因夫背棄自妻，私淫外婦，至令自己夫婦交合之時，雖夫欲無休，而妻情意不向，反生怨惡而憎嫌也。以此夫婦不相和悅，雖交而情不美。</p>
<p>帝曰：交媾之間，情相合而意相敬何如？素女曰：此皆男女通曉夫婦之道，陰陽交合之理，自然得其情意契合，故相敬也。</p>
<p>素女曰：男女交合，男有五傷：一者，男與女交合之時，泄精少者，為氣傷；二者，交合之時，精出而勃者，為肉傷；三者，交合之時，泄精而多者，為筋傷；四者，交合之時，精出而不射者，為骨傷；五者，交合之時，玉莖不堅，雖堅而不久者，為腎傷。以上五者，皆因泄精過度，致傷身體，可不畏哉！</p>
<p>《養生經》云：精清者，肉傷；精血者，筋傷；精赤者，骨傷。如此傷者，病乃生焉。</p>
<p>又曰：女有五傷之候：一者，陰戶尚閉不開，不可強刺，強則傷肺；二者，女興已動欲男，男或不從，興過始交則傷心，心傷則經水不調；三者，少陰而遇老陽，玉莖不堅，莖舉而易軟，雖入不得搖動，則女傷其目，必至於盲；四者，女經水未盡，男強逼合，則傷其腎；五者，男子飲酒大醉，與女子交合，莖物堅硬，久刺之不止，女情已過，陽興不休，則傷其腹。</p>
<p>愚按《素女論》男女五傷之候，欲求子者，夫婦交合之時，不可不慎也。其論交接之事，男有四至，女有九到之說，辭太近褻，故不收錄，乃竊取其意而補之。雖云情欲之私，實為生民之始，萬化之源也。</p>
<p>夫男女未交合之時，男有三至，女有五至。男女情動，彼此神交，然後行之，則陰陽和暢，精血合凝，有子之道也。若男情已至，而女情未動，則精早泄，謂之孤陽；女情已至，而男情未動，女興已過，謂之寡陰。《玉函經》云孤陽寡陰即不中，譬取鰥夫及寡婦，謂不能生育也。</p>
<p>男有三至者，謂陽道奮昂而振者，肝氣至也；壯大而熱者，心氣至也；堅勁而久者，腎氣至也。三至俱足，女心之所悅也。若痿而不舉者，肝氣未至也，肝氣未至而強合，則傷其筋，其精流滴而不射矣。壯而不熱者，心氣未至也，心氣未至而強合，則傷其血，其精清冷而不暖也。堅而不久者，腎氣未至也，腎氣未至而強合，則傷其骨，其精不出，雖出亦少矣。此男子之所以求子者貴清心寡慾，以養肝心腎之氣也。</p>
<p>女有五至者，面上赤起，媚靨乍生，心氣至也；眼光涎瀝，斜覷送情，肝氣至也；低頭不語，鼻中涕出，肺氣至也；交頸相偎，其身自動，脾氣至也；玉戶開張，瓊液浸潤，腎氣至也。五氣俱至，男子方與之合，而行九一之法，則情洽意美。其候亦有五也。嬌吟低語，心也；合目不開，肝也；咽乾氣喘，肺也；兩足或曲或伸，仰臥如屍，脾也；口鼻氣冷，陰戶瀝出沾滯，腎也。有此五候，美快之極。男子識其情而採之，不惟有子，且有補益之助。</p>
<p>男有三至，女有五至者，精之動也。應至而未至者，神未至也。故欲人動者，必先移其神，其神若交，其精自洽。然神交之道，有天之所命者，如姜嫄履巨人跡，歆歆然若有人道之感而生稷，漢薄姬夢蒼龍據腹，高祖幸之而生文帝者是已。有夢之所感者，如「斯干」之《詩》云：維熊維羆，男子之祥；維虺維蛇，女子之祥是已。若楊國忠夫人之事，則未免天下後世之非笑也。</p>
<p>《天寶遺事》：楊國忠出使於江浙，其妻思念至深，荏苒成病，忽夢與國忠交，因有娠，後生男名𦨥泊。至國忠使歸，其妻具述夢中之事，國忠曰：此蓋夫人相念，情感所至。時人無不譏誚之。</p>
<p>素女曰：男女交媾之際，更有避忌，切須慎之。若使犯之，天地奪其壽，鬼神殃其身，又恐生子不肖不壽之類。謹守禁戒，可以長生。所忌之要，備述於後：天地震動，卒風暴雨，雷電交作，晦朔弦望，月煞日破，大寒大暑，日月薄蝕，神佛生辰，庚申甲子，本命之日，三元八節，五月五日。又有忌禁：名山大川，神祠社廟，僧宇道觀，聖賢像前，井灶前後，火炎鬧烘。以上類目，切須忌之，不可交合。犯之者，令人壽夭，小則生病，或若生男，令其醜貌怪相，形體不全，災疾夭壽。</p>
<p>又有交合禁忌：神力勞倦，愁悶恐懼，悲憂思怒，疾病走移，發赤面黃，酒醉食飽，病體方痊，女子行經。以上所忌，不可交合，令人虛損，耗散元氣，可不慎之？</p>
<p>諸所禁忌，敷奏於前。復有五月十八日，自是天地牝年之日，陰陽交合之期，世人須避慎，不可行房。犯之重則奪命，輕則減壽，若干此時受胎孕，子母難保。</p>
<p>密齋云：夫婦交合之時，所當避忌者，素女之論頗詳。然男女無疾，交會應期，三虛四忌，不可不講。三虛者，謂冬至陽生，真火正伏，夏至陰生，真水尚微，此一年之虛也；上弦前、下弦後，月廓空，此一月之虛也；天地晦冥日月，此一日之虛也。遇此三虛，須謹避之。四忌者，一忌本命正沖，甲子庚申，晦朔之日；二忌大寒大暑，大醉大飽之時；三忌日月星辰，寺觀壇廟，灶塚墓之處；四忌觸忤惱怒，罵詈擊搏之事。犯此三虛四忌者，非惟無子，令人夭壽。</p>
<p>上種子法，見於群書所載者，如此仿而行之，無不驗者。愚竊有說焉，若彼田野之氓，邪淫之女，多至生育者，豈皆知此種子法耶？蓋待其天癸動、子戶開而媾精者，此鳥獸字尾之期，待其男三至、女五至而通體者，此陰陽交感之理，其機至微，非文字之能盡者。若夫田野之氓，則交疏而情意狎，邪淫之女，其思切而情先交，所以陰陽和而生育多也。</p>

<h1>卷之六</h1>
<p>陰陽別論曰：陰搏陽別，謂之有子。</p>
<p>王太僕云：陰，謂尺中也。搏，謂搏觸於手也。尺脈搏擊，與寸口脈別，則為娠子之兆。何者？陰中有別陽也。</p>

<h2>轉女為男法</h2>
<p>《良方論》曰：陽施陰受，所以有娠，遇三陰所會，多生女子。但懷娠三月，名曰始胎，血脈不流，形象而變，是知男女未定，故令於滿三月間，服藥、方術轉令生男也。其法以斧置妊婦床下，擊刃向下，勿令人知。恐不信者，待雞抱卵時，仿此置窠下，一窠盡出雄雞子。</p>
<p>又，初覺有妊，取弓弩弦縛婦人腰下，滿百日去之，紫宮玉女秘法也。又如三月以前，取雄雞尾尖上毛三莖，潛安婦人臥席下，勿令知之，驗。又，取夫發及手指甲，潛安婦人臥席下，勿令人知之。</p>
<p>又，妊娠才及三月，要男者，以雄黃半兩衣中帶之，要生女者，取雌黃帶之。</p>
<p>密齋云：夫婦媾精，陰陽分形，陽精勝者為男，陰血勝者為女，固已別矣，豈能轉移之耶？雖三月男女分形，陽精勝者為男，陰血勝者為女，蓋一月二月之間，精血混合，男女之形未彰，至於三月，陰陽始判，震巽之索斯定，故曰男女分也。謂初受之氣於茲始定，非謂陰陽男女初無定體，必待三月而後分，故可以轉移變化之耳。古人留是法者，必有所試，陰陽變化之妙，愚不得而知焉。</p>

<h2>護養胎元</h2>
<p>《脈經》曰：婦人懷胎一月之時，足厥陰脈養；二月，足少陽脈養；三月，手心主脈養；四月，手少陽脈養；五月，足太陰脈養；六月，足陽明脈養；七月，手太陰脈養；八月，手陽明脈養；九月，足少陰脈養；十月，足太陽脈養。諸陰陽各養三十日，活兒。手太陽、少陰不養者，下主月水，上為乳汁，活兒養母。懷胎者，不可灸刺其經，必墮胎。</p>
<p>按《巢氏病源論》云：婦人妊娠一月名胎胚，足厥陰脈養之；二月名胎膏，足少陽脈養之；三月名始胎，手心主脈養之；四月始受水精，以成血脈，手少陽脈養之；五月始受火精，以成其氣，足太陰脈養之；六月始受木精，以成其筋，足陽明脈養之；七月始受金精，以成其骨，手太陰脈養之；八月始受土精，以成膚革，手陽明脈養之；九月始受石精，以成毛髮，足少陰脈養之；十月，五臟六腑關節人身皆備，此足太陽脈養之也。</p>
<p>《良方論》云：四時之令必始於春木，故十二經之養始於肝也。若足厥陰，肝脈也，足少陽，膽脈也，所以養胎一月二月也。手心主，心包絡脈也，手少陽，三焦脈也，屬火而夏旺，所以養胎在三月四月。足太陰，脾脈也，足陽明，胃脈，屬土而旺長夏，所以養胎在五月六月也。手太陰，肺脈也，手陽明，大腸脈也，屬金而旺秋，所以養胎在七月八月也。足少陰，腎脈也，屬水而旺冬，所以養胎在九月；又況母之腎臟繫於胎，是母之真氣，子之所賴也。至十月，兒於母腹之中受足諸臟氣脈所養，然後待時而生。此論奧妙而有至理，余書所論皆不及也。</p>
<p>《良方論》云：然則胚胎造化之始，精移氣變之後，保衛輔翼固有道矣。天有五氣，各有所湊，地有五味，各有所入，所湊有節適，所入有度量。凡所畏忌，悉知戒慎，資物為養者，理固然也。寢興以時，出入以節，可以高明，可以周密，霧露風邪不得投間而入，因時為養者，理固然也。以致調喜怒，寡嗜欲，不妄作勞，而氣血從之，皆所以保攝妊娠，使諸邪不得干焉。苟為不然，方授受之時，一失調養，則內不足以為中之守，外不足以為身之強，氣形弗克，而疾病因之。若食兔唇缺，食犬無聲，食雜魚而瘡癬之屬，皆以食物不戒之過也。心氣大驚而癲疾，腎氣不足而解顱，脾胃不和而羸瘦，心氣虛乏而神不足之屬，皆以氣血不調之過也。誠能食飲知所戒，推而達之，五味無所傷，誠能於氣之所調，推而達之，邪氣無所乘，茲乃生育相待而成者。故曰天非人不因。</p>
<p>食物所忌：</p>
<p>食犬肉令子無聲。食兔肉令子缺唇。雞肉合糯米同食，令子生寸白蟲。膾鯉同雞子食，令子生暗多瘡。食羊肝令子多厄難。食鱉魚令子項短。鴨子與桑椹同食，令子到生心寒。鱔魚同田雞食，令子喑啞。雀肉合豆醬同食，令子面生黑子。食螃蟹橫生。食子姜令子多指生瘡。食水醬令絕產。食雀肉飲酒，令子無恥多淫。食茨菇消胎氣。乾薑、蒜毒胎無益，黏膩難化傷胎。食驢馬肉，過月難產。豆醬合藿同食，墮胎。食山羊肉，子多病。無鱗魚不可食，菌有大毒，有食者誕子多風而夭。食雀腦令子雀目。</p>
<p>婦人有妊，最不可針灸及亂服藥餌，恐致墮胎，以貽後悔。</p>
<p>驗胎法：</p>
<p>大凡婦人三月經不行，宜用川芎一兩，為末，濃煎艾湯，八分一盞，空心調服之，服盡覺腹中微痛則有胎矣。不動者，血病也；若動在臍下者，血癥也。故《脈經》云：一月血為閉，二月若有若無，三月為血積也。</p>

<h2>胎前所忌藥物歌</h2>
<p>蚖班水蛭地膽蟲，烏頭附子配天雄。</p>
<p>躑躅野葛螻蛄類，草烏側子與虻蟲。</p>
<p>牛黃水銀並巴豆，大戟蛇蛻及蜈蚣。</p>
<p>牛膝藜蘆加薏苡，金石錫粉對雌雄。</p>
<p>牙硝芒硝牡丹桂，蜥蜴陀僧與䗪蟲。</p>
<p>代赭蚱蟬胡腦麝，芫花薇蘅草三稜。</p>
<p>槐子牽牛並皂角，桃仁蠐螬及茅根。</p>
<p>欓根硇砂與乾漆，亭長溲疏菌草中。</p>
<p>瞿麥櫚茹鱉爪甲，蝟皮鬼箭赤頭紅。</p>
<p>馬刀石蠶衣魚等，半夏南星通草同。</p>
<p>乾薑蒜雞並鴨子，驢馬兔肉不須供。</p>
<p>切忌婦人產前用，此歌宜記在心胸。</p>
<p>歌中半夏炒過，乾薑炮過，可用，不必拘疑。</p>
<p>妊娠所忌，切不可犯，犯則損胎，子母不利。（詳見下文。）</p>
<p>婦人受胎之後，常宜行動，使氣血流通，百脈和暢，臨產無難也。今之為婦者，好逸惡勞，喜靜懶動，含羞養嬌，以致氣血不行，產育多苦。況行住坐臥之久，為皮肉筋骨之傷，子在腹中，氣通於母，母氣既傷，子亦受病。又勿登高，勿越險，勿舉動，恐致墮胎。婦人懷胎，常欲見美事，聞善言；若彼神怪之像，傀儡之類，必遠避之，勿令見也，稍有犯者，兒必肖之，其貌不雅。居處之處，欲其得軒豁明朗，切忌僻靜幽暗，無人相伴，恐其胎氣怯弱，邪氣侵犯，為害甚大。</p>
<p>仁齋云：婦人懷胎，臟氣擁閉，不可多睡，不可憂懼、勞役，不可啖食黏滯、辛辣、堅硬之物，又不可妄施針灸，所貴時行數步，調暢自適，使氣得其平。若酒面炙煿，熱毒薰蒸；若感觸風邪，傳染熱氣；若誤服藥餌，破血動胎；若七情內傷，快意縱恣，則易致漏胎。若近產多淫，觸犯胎氣，則易墮落也。</p>
<p>《良方》云：受胎之後，切宜避胎殺所遊之方：正月房床，二月戶扇，三月門，四月灶，五月母身，六月床，七月碓磨，八月廁，九月門，十月房，十一月爐灶，十二月房床。</p>
<p>六甲胎神：甲己日佔門，乙庚日碓磨，丙辛日廚灶，丁壬日倉庫，戊癸日房床。十二支胎神：子午日碓，丑未日佔廁，寅申日佔爐，卯酉日大門，辰戌日雞棲，巳亥日佔床。</p>

<h1>卷之七</h1>

<h2>調理胎疾</h2>
<p>仁齋安胎之法有二：或因母病以致動胎者，但療母病，其胎自安；或胎氣不堅，因觸動以致母病者，則安胎而母自愈。以膠艾湯、當歸湯各半，縮砂佐之為良。</p>
<p>丹溪云：天行不息，所以生生而無窮。產前當清熱養血為主。茺蔚子活血行氣，有補陰之妙，命名益母，以其行中有補也，故曰產前無滯，產後無虛。黃芩乃安胎之聖藥，俗以為寒而不敢用，反用溫熱藥，謂能養脾，殊不知胎孕宜清熱養血，使藥循經而不妄行，乃能養胎，必擇條實者用之。縮砂安胎，以止其痛，行氣故也，非八九個月不可多用。</p>
<p>《金匱要略》云：婦人妊娠，常服當歸散主之。</p>
<p>當歸　川芎　白芍（各一兩）　白朮（半兩）　條芩（一兩）</p>
<p>或散，或酒糊丸，或湯。</p>

<h2>妊娠墮胎</h2>
<p>丹溪云：陽施陰化，胎孕乃成，血氣虛乏，不足以榮養其胎則墮。譬如枝枯則果落，藤萎則花墜。又有勞恐傷精，內火便動，亦能墮胎。譬如風撼其木，人折其枝也，火能消物，造化自然。《病源》所謂風冷傷子臟而墮，此未得病情者也。予見賈氏婦，但有娠至三個月必墮，診其脈，左手大而無力，重則澀，知其血少也。以其壯年，只補中氣，使血自榮。時正初夏，教以濃煎白朮湯，下黃芩末一錢，與數十帖，得保全而生。因而思之，墮於內熱而虛者，於理為多。曰熱、曰虛，蓋孕至三月，正屬相火，所以易墮。不然，何以黃芩、熟地黃、阿膠等為安胎妙藥耶？</p>
<p>王節齋云：婦人墮胎，多在三五個月、七個月而墮者，除跌僕損傷不拘外，若前次三個月而墮，則下次必如期復然，蓋先於此時受傷，故後於至期必應，乘其虛也。遇有半產者，產後須多服養氣血、固胎元之藥，以補其虛損。下次有胎，先於兩個半月後，即服固胎藥十數同帖，以防三月之墮。至四個半月後，再服八九帖，防過五月。又至六個半月後，再服五七劑，以防七月。及至九個月內，服丹溪達生散數十帖，可保無虞。其連墮數次，胎元損甚者，服藥須多，久則可以留。方用四物湯，倍加人參、白朮、阿膠、陳皮、茯苓、甘草、艾葉、條芩。氣加香附、縮砂，痰加薑製半夏調理。</p>
<p><u>丹溪固胎飲</u>　常墮胎者宜服之。</p>
<p>熟地黃（五分）　歸身　人參　白芍（各一錢）　白朮（錢半）　川芎（五分）　陳皮（一錢）　條芩（五分）　甘草（二分）　黃連（少許）　黃柏（少許）　桑木上羊兒藤（七葉，圓者即桑絡也，真寄尤妙）</p>
<p>水二盞，糯米五七十粒，煎服。血加阿膠，胎氣痛加縮砂。</p>
<p>茭山云：孕而多墮者，男子貪淫情縱，女子好欲性偏，兼以好食辛酸熱物，暴損衝任，故有墮胎之患。其膏粱與藜藿婦人不同，欲之多寡故也。有一等婦人，有胎似乎無胎，痰氣疼痛發熱，醫者不明脈理，妄施耗氣退熱之劑，不知胎氣宜養，病氣宜攻，若有胎反用攻藥，豈不誤矣！故養胎者血也，護胎者氣也。或有婦人小產太多，及至中年設法服藥保全，但欲心不絕，其性情不改，百凡上氣，逆損衝任，因而殞命者有之。故昔人有言：飛禽抱卵，走獸懷胎。物類尚能保全產育，人為萬物之靈，反不及此，何耶？且小產甚於大產，瓜果生而摘之，豈不傷其枝蔓，養生可不慎哉？</p>
<p>又或問予曰：今婦人小產最多，往往服藥保孕鮮有效者，何也？予答曰：婦人縱欲，恣養口體，傷於衝任，故有墮胎之患。醫家不審氣血冷熱，妄施歸、芎、膠、艾香燥之藥，因而墮者有之，永為則例者亦有之。世俗概用濟生寶艾附等丸以為的當，殊不知前品乃溫熱之藥，助火消陰之劑，血熱妄行，故漏胎之患必有。且如果品多生春夏，少結秋冬，既因血漏胎，反為寒治，必致誤人。予特為此參出一方，藥品雖少，其功甚大，但懷胎時，自知慎重避忌，服此藥可以保全。遂名曰千金保孕丸。</p>
<p>杜仲（八兩，去粗皮，以糯米煎湯拌勻，炒斷絲）　煙塵續斷（去蘆，三兩）</p>
<p>上二味，為細末，以山藥五兩，作糊為丸，如桐子大，每服七十，空心米飲下。忌酒醋，戒惱怒。一方用棗肉為丸。</p>
<p>又云：胎墮，氣血不足。氣不足，胎無所榮，血不足，胎無所養，榮養失宜，猶木枯果落。其間過傷怒氣，勞佚動胎，內外冷熱，傷於子臟，又當量輕重而治之。</p>
<p>《胎產須知》云：胎氣不固，常小產，用四物湯加炒阿膠、炒黑香附、白朮、黃芩、砂仁、糯米，煎服。</p>
<p>密齋預防墮胎之方，莫有善於所集者。惟《金匱》當歸散方，去川芎，用熟地黃，加阿膠、炙草，若常服之尤穩。更兼安胎丸，一名湖蓮丸。</p>
<p>蓮肉（去心，二兩）　白朮（二兩）　條芩（二兩）　砂仁（炒，半兩）</p>
<p>共為末，山藥五兩，糊為丸，如梧桐子大，每五十米飲下。</p>

<h2>妊娠漏胎</h2>
<p>《要略》：師曰：婦人有漏下者，有半產後間續都不絕者，有妊娠下血者，假令妊娠腹中痛，為胞阻，膠艾湯主之。</p>
<p>川芎　阿膠　甘草（各二錢）　艾葉　當歸（各錢半）　白芍　熟地黃（各二錢）</p>
<p>水二盞，酒一盞，煎一盞，去滓，內阿膠，慢火煎，令膠烊，頓服之。</p>
<p>丹溪云：有娠而血，漏下也，屬氣虛血熱，可服固孕之藥。（方見前《胎產須知》條。）</p>
<p><u>河間二黃散</u>　治胎漏下血。</p>
<p>生、熟地黃（等分）</p>
<p>上為末，煎白朮枳殼湯，下二錢或錢半。</p>
<p>劉宗厚按《良方論》云：婦人有子之後，血蓄以養胎矣，豈可復能散動耶？所以然者，有孕而月信每至，是亦未必因血盛也。若謂榮血有風則經始動，動以其風勝，則有此例。可見胎漏之因，非止一端也，治者宜擴充焉。</p>
<p>如血熱胎漏者，用丹溪治漏下血方。</p>
<p>條芩（五錢）　白朮（一兩）　砂仁（妙）　阿膠（蛤粉炒成珠，各三錢）</p>
<p>為細末，每服二錢，艾葉湯下。</p>
<p>氣血兩虛，下血不止者，秘傳當歸寄生湯，水煎服。</p>
<p>當歸　川芎　艾葉　白朮（各一錢）　人參　寄生　川續斷　熟地黃（各二錢）</p>
<p>《良方論》：妊婦全假血以養胎，或因驚走，或從高墜下，冒涉風邪，觸忤神祟，以致下血，胎奔上心，腹中急動，或血從口出，皆是傷胎。其下血不止，胎上衝心，四肢厥冷，悶絕將死者。</p>
<p>阿膠（炒）　艾（各二兩）　青竹茹（拳大）　白蜜（二合）</p>
<p>上水六升，煮艾、竹茹至二升，去渣，入膠、蜜一二沸，待膠烊，分作三服。</p>
<p>妊血如月信者，若至胞干，非特損子，亦損母矣。</p>
<p>芑（焙）　乾薑（炮，各半兩）</p>
<p>上為細末，酒調服三錢，日夜分三服。</p>
<p><u>立聖散</u>　治妊娠下血不止。</p>
<p>用雞肝二具，以好酒一升，煮熟，共酒食，大效。</p>
<p>密齋云：女子之血，在下為經水，在上為乳汁，一朝有娠，則經水不動，乳汁不行，聚於子宮，以養其胎也。故胎之有血，如魚之有水，水深則魚得活，水涸則魚困矣。今有娠而復下血，乃氣虛血虛，胞中有熱，不亟止之，但恐血枯，子命難全，母亦隨斃。法當用人參、白朮以補其氣，歸、芎以補其血，黃芩以清其熱，生甘草以瀉其火，阿膠以止其血，未有不安者矣。</p>

<h1>卷之八</h1>

<h2>胎動不安</h2>
<p>凡二論八方。</p>
<p>丹溪云：胎動者，因火逼動胎，逆上作喘，急用條芩、香附之類。夫黃芩乃安胎之聖藥。安胎飲：胎成之後，覺胎氣不安，或腹微痛，或腰間作疼，或飲食不美，宜服；或五六個月常服甚好。（此丹溪方也。）</p>
<p>白朮　當歸　白芍　熟地黃（各一錢）　人參　川芎　條芩　陳皮　甘草　砂仁　蘇葉（各三分）</p>
<p>生薑三片，水煎。</p>
<p>密齋云：胎動不安，其因有七：或因墜跌舉重，觸動胎氣者；或因縱慾無度，觸動胎氣者；或因七情失節，觸動胎氣者；或因誤食辛熱，觸動胎氣者；或因觸冒寒暑，衝動胎氣者；或因修造移徙，觸犯胎氣者；或因母多疾病，胎失其養而不安者。當各求之，勿妄治也。</p>
<p>如因自高墜下，或為重物所壓，觸動胎氣，腹痛下血，宜用安胎散主之。</p>
<p>縮砂不拘多少，和皮略炒，勿令焦黑，去皮取仁，為末，以當歸、川芎等分，水煎作湯調服。如覺胎中熱，其胎即安矣。此方甚驗，大抵妊婦不可缺此，常服安胎易產。</p>
<p>如因夫婦貪歡，不知避忌，縱恣情欲，以致衝任傷損，觸動胎元，胎動腹疼，或為漏胎者，宜如聖散主之。</p>
<p>鯉魚皮（鮮者）　當歸　熟地黃　阿膠（麵炒為珠）　白芍　川續斷　川芎　炙草（各等分）</p>
<p>水一盞，苧根少許，姜三片，煎服。</p>
<p>如因喜怒憂思，恐懼失節，觸動胎氣不安者，宜加減四物天香湯主之。</p>
<p>當歸　川芎　香附　陳皮　蘇葉</p>
<p>因於怒，加黃芩、甘草、人參以緩其中，使肝氣平。因於憂者，加枳殼、大腹皮以理其氣，使脾氣平，飲食進。因於喜者，加黃芩、黃連、麥門冬以瀉其火，使心氣平。因於恐者，加茯神、益智以安其神，使腎氣平，則胎自安矣。</p>
<p>如因恣食酒面，炙煿厚味，及誤服辛燥毒藥者，以致邪火薰蒸，胎動不安，宜加味枳殼湯主之。</p>
<p>枳殼（半兩）　黃芩（一兩）　白朮（一兩）　（加）黃連　黃柏（各二錢，炒）　生甘草　青竹茹</p>
<p>水煎服，三錢一劑。</p>
<p>如因起居不時，沖寒冒暑，動其胎者，宜《金匱》當歸散加減。因寒，加蔥白、蘇葉、生薑。因暑者，加黃連、人參、知母。</p>
<p>如因修方動土，移徙堆垛，觸犯日月胎神，以致不安者，宜服前安胎散，更請道高者，於胎神所佔之方作符，使禳之。</p>
<p>如因母疾病，氣衰血少，不能護養其胎，以致不安者，宜十聖散主之。（即十全大補加減也。）</p>
<p>人參　白朮　地黃　砂仁（炒）　黃耆（各五分）　炙草　川芎　歸身　白芍（炒，各一錢）　川續斷（八分）</p>
<p>水煎服。</p>
<p>以上胎動不安者，諸症如有腹痛下血者，各就本方加阿膠、艾葉。</p>

<h2>妊娠聚積</h2>
<p>（附：鬼胎）</p>
<p>凡七論三方。</p>
<p>六元正紀大論：帝曰：婦人身重，毒之何如？岐伯曰：有故無殞，亦無殞也。</p>
<p>王太僕云：故有堅大癥瘕，痛甚不堪，則治以破積愈痛之藥。是謂不救必死，盡死救之，蓋存其大也，雖服毒不死也。上無殞言母必全，下無殞言子亦不死也。</p>
<p>又曰：大積大聚，其可犯也，衰其大半而止，過者死。</p>
<p>河間云：藥之性味，本以治疾，誠能處以中庸，與疾適當，且如半而止之，亦何疑於攻治哉。</p>
<p>《要略》云：婦人宿有癥病，經斷未及三月，而得漏下不止，胎動在臍者，為癥痼害。妊娠六月動者，前三月經水利時，胎下血者，後斷三月下血也。所以血不止者，其癥不去故也，當下其癥，桂枝茯苓丸主之。</p>
<p>桂枝　茯苓　丹皮　桃仁（去皮尖，炒）　芍藥（各等分）</p>
<p>上五味，為細末，煉蜜丸，如兔屎大，每日食前服一丸。不止，加至三丸。溫水下。</p>
<p>《脈經》云：設令宮中人，若寡婦無夫，曾夜夢寐，交通邪氣，或懷作久癥瘕，急當治下。</p>
<p><u>斬鬼丹</u>　治婦人鬼胎如抱甕。</p>
<p>吳茱萸　川烏頭　白姜蠶（炒）　秦艽　柴胡　巴戟（去心）　巴豆（不去油）　芫花（各一兩）</p>
<p>上為末，蜜丸，梧桐子大，每服七丸，蜜酒吞，取去惡物，取愈。</p>
<p>寸口脈洪而澀，洪則為氣，澀則為血。氣動丹田，其血則濕，澀則於下，胎冷若冰。陽氣活胎，陰氣必凝，故必陰陽，其下心僵。假令陽經蓄血若杯。（陰為死血，陽為蓄血。）</p>
<p>問：婦人雙胎，其一獨死，其一獨生，醫其生，下其死者，其病則愈。然後竟免軀，何脈以別之？師曰：寸口脈衛氣平和，榮氣緩舒，陽施陰化，精盛有餘，陰陽俱盛，故知雙胎。今少陰微緊，血則濁凝，經養不周，胎則偏大，少腹冷滿，膝臏疼痛，腰重起難，此為血理。若不早去，害母失胎，宜芎歸湯。</p>
<p>川芎　當歸（各等分）</p>
<p>每服三五錢，加蘇葉數莖，酒水合煎。死者即下，未者即安。</p>

<h2>妊娠惡阻</h2>
<p>凡三論五方二案。</p>
<p>惡阻者，謂有娠而噁心，阻其飲食也。按《內經》：精化於氣，氣傷於味。注云：精肉內結，郁為穢腐，攻胃則五味居然不得入也。女人重身，精化百日，皆傷於味也。其斯惡阻之謂歟？</p>
<p>妊娠平日喜怒憂思，七情氣滯，以致中脘伏痰留飲。有娠之後，經血既閉，飲血相搏，氣不宣通，遂使心下憒悶，頭旋眼花，四肢倦怠，惡聞食氣，喜啖鹹酸，多臥少起，甚則吐逆，不自勝持。治療之法，順氣理痰，自然安矣。肥人是痰，瘦人是熱。</p>
<p>密齋云：妊娠惡阻者，乃懷孕之常病，不須服藥。惟平日脾胃虛弱，飲食少者，必嘔吐大甚，飲食不入者，恐傷胃氣，有害胎元，必須治之。然治此者，必用半夏，半夏有動胎之性，必須制用。（炒過無妨。）</p>
<p>如肥人惡阻，旋覆花湯主之。</p>
<p>旋覆花　川芎　細辛（減半）　人參（各一錢）　白茯苓　半夏　歸身　陳皮（各二錢）　乾薑（炮，五分）　炙草（一錢）</p>
<p>分作二服，姜五片，煎服。</p>
<p>又方：加味二陳湯，一名小茯苓湯</p>
<p>陳皮　白茯苓（各四錢半）　半夏（三錢）　白朮（二錢四分）　炙草（一錢）</p>
<p>上㕮咀，分作二服，水二盞，姜五片，烏梅一個，煎八分服。</p>
<p>瘦人惡阻，宜人參橘皮湯主之。（一名竹茹湯，一名參補飲。）</p>
<p>橘皮　茯苓（各二錢）　人參　麥冬　白朮　厚朴（薑製）　炙草（各一錢）　竹茹（雞子大一團）</p>
<p>水碗半，姜五片，煎服。</p>
<p>又方，用：</p>
<p>白朮（二兩）　條芩（一兩）　砂仁（炒，五錢）</p>
<p>為末，神麯糊丸，白湯下。</p>
<p>如嘔吐不已者，恐傷胃氣，宜錢氏異功散加藿香主之。</p>
<p>白朮　陳皮　茯苓（各一錢）　藿香葉　人參　砂仁（各半錢）　炙草（三分）</p>
<p>水盞半，姜五片，煎服。或神麯為丸服，尤妙。</p>
<p>一婦孕兩月，嘔吐頭眩，醫以參、朮、川芎、陳皮、茯苓服之，愈重，脈弦，左為甚，此惡阻病，必怒氣所激，問之果然。肝氣既逆，又挾胎氣，參朮之補，大非所宜，以茯苓湯、抑青丸二十四丸，五服稍安。脈略弦，口苦幹，食即口酸，噫其膈間，滯氣未盡行，以川芎、陳皮、梔子、生薑、茯苓煎湯下抑青丸，下十五粒而愈。但口酸易飢，此肝氣未平，以熱湯下抑青丸。愈後兩手脈平和，而右甚弱，此時肝氣既平，可用參朮以防之，服一月而胎不墮。（此丹溪治例也。）</p>
<p>徽州商人吳儼妻汪氏，年三十餘，末子二歲，正食乳，經水未行。一日因與夫爭言激怒，得嘔逆病，食入隨吐，凡所食物，鼻中即作其食臭。請過二醫，俱用反胃之藥，不效，請予治之。其脈左三部沉實搏手，右三部脈平。予曰：此有孕脈也，當生二男。汪曰：我生過三子，皆三歲而後娠，今小兒方二歲，經又未動，不是娠也。只因與我官人講口，便有此病。予曰：身自有娠，且不知之，況醫人乎，宜其服藥而不效。蓋怒傷肝，肝傳心，諸臭皆屬於心，心傳脾，故隨所食之物，即作其物氣出也。嘔逆食臭，皆肝心二臟之火炎上之象也。以黃芩一兩，黃連、白朮、陳皮、香附（童便炒黑）、白茯苓各五錢，砂仁（炒）二錢。共為末，神麯糊丸，綠豆大，每五十白湯下。未五日而安，後生雙男。</p>

<h1>卷之九</h1>

<h2>妊娠子懸</h2>
<p>凡五論二方一案。</p>
<p>妊娠五六個月以後，胎氣不和，上湊心腹，脹滿疼痛者，謂之子懸，嚴氏紫蘇飲主之。</p>
<p>紫蘇　大腹皮　陳皮　川芎　白芍　當歸（各六分）　人參　甘草（各三分）</p>
<p>姜三片，蔥五莖，水煎，空心服。亦治七情過傷，胎動不安之病。</p>
<p>蔡元度寵人有孕，夫人怒欲逐之，遂成此疾。醫官王師復處香術散，用莪朮（煨）二錢，丁香一錢，甘草三分。共為細末，分作三服，空心，鹽湯調，覺胸中如物推下之狀而愈。</p>
<p>古庵云：婦人忿怒，憂思過度，以致胸腹之間氣刺滿痛。此言良是。蓋婦人上有舅姑丈夫，事觸物忤，不能自決，而憂思忿怒，沉鬱於中。丹溪云：氣鬱成火，火載胎下，榮衛不通，則心腹之間脹滿疼痛俱作也。宜矣。</p>
<p>妊娠子上衝心昏悶，刺巨闕穴，在鳩尾下一寸是，下針令蘇不悶，次補合谷，瀉三陰交，胎應針而落。如子手掬心，生下子有針痕頂母心，向前人中有針痕，向後枕骨有針痕是。</p>
<p>辨云：按《十四經發揮》云：凡人心下有膈膜，前齊鳩尾，後齊十二椎，周圍著脊所遮膈，令濁氣不使上薰心肺，是心在膈上也。妊娠之婦，若子上衝至膈，則兒之在腹，指未能執物，尚堅握而不伸者，又有胞衣裹之，豈能破膈握心哉。心為一身之主，神明出焉，不容小有所犯，豈有破沖掬而不死哉。蓋以其上衝近心，故云爾，如胃脘痛曰心痛之類是也，學者不可以辭害意。</p>
<p>密齋云：五臟系皆通於心，而心通五臟系也。故胞門子戶上通心系，胎氣和則安靜而不動，胎氣不和則伸縮轉動，牽拽其系而心痛也，如物懸墜之狀，名曰子懸。</p>

<h2>妊娠子煩</h2>
<p>凡七論九方。</p>
<p>妊娠四月六月，多苦煩悶，蓋四月屬少陰君火以養精，六月屬少陽相火以養氣，所以如是。又有不在此兩月分，而苦煩悶者，由將息失宜，七情傷感而然也，名曰子煩。</p>
<p>密齋云：子煩之症，皆屬於熱，有虛有實，更宜分十二經養胎之月，各隨其臟氣治之。此吾家傳之秘，群書未載。</p>
<p>如妊娠食少氣弱者，此虛煩也，宜麥門冬散主之。</p>
<p>麥門冬　白茯苓　防風（各一分）　人參（半錢）</p>
<p>水一盞，姜三片，淡竹葉十片，煎七分服。</p>
<p>妊娠氣實體壯者，此實煩也，宜竹葉湯主之。</p>
<p>白茯苓　防風　麥冬　條芩　知母（各一錢）</p>
<p>淡竹葉十片，煎服。</p>
<p>如初受胎一月二月，此足厥陰肝、少陽膽二經之脈所養也。此時精血混合，胞胎融結，肝膽氣逆，使人煩悶不安，嘔吐惡阻，柴胡湯主之。</p>
<p>柴胡（錢半）　赤茯苓　麥冬　條芩（各一錢）　人參　橘皮　甘草（各五分）</p>
<p>水盞半，生薑三片，煎八分，溫服。</p>
<p>如妊娠三月四月，手心主包絡、少陽三焦二經之脈所養。二經皆屬相火，其氣逆，令人煩悶不安，口乾舌燥，加味竹瀝湯主之。</p>
<p>淡竹瀝（一合）　黃芩　麥冬　知母（各一錢）　白茯苓（錢半）</p>
<p>上㕮咀，水二盞，入炒黃柏三分，煎一盞，入竹瀝，再煎一二沸服。</p>
<p>如妊娠五月六月，此時屬足太陰脾、陽明胃經之脈所養。若因飲食勞倦所傷，以致氣逆，令人腹脹，煩悶不安者，和胎飲主之。</p>
<p>白朮　白茯苓　條芩（各一錢）　厚朴（制）　麥冬　枳殼（炒，各五分）　甘草（二分）</p>
<p>水煎，食遠服。</p>
<p>如妊娠七月八月，此時受手太陰肺、陽明大腸二經之氣所養。若因形寒飲冷所傷，以致氣逆，令人喘咳，煩悶不安者，知母飲主之。</p>
<p>白茯苓　黃芩（各二錢半）　知母　麥冬　炙草（各一錢六分）　桑白皮　地骨皮（各一錢）</p>
<p>分二帖，水二盞，煎一盞，入竹瀝一合，再煎沸服。</p>
<p>如妊娠九月，屬足少陰腎經脈養。此時胎形俱足，如有煩悶不安者，乃胎肥作熱也，宜苓朮枳殼湯主之。</p>
<p>條芩（錢半）　白朮　枳殼（炒，各一錢）　生甘草（五分）</p>
<p>淡竹葉十二片煎，空心服。</p>

<h2>妊娠子滿</h2>
<p>凡二論一方一案。</p>
<p>妊娠至七八個月，此時受足太陰脾經、手太陰肺經之氣已足，形體俱成，毛髮漸生，其婦奉養本厚，安居太過，胎元肥壯，濕熱內盛，腹大如鼓，腹滿下墜，逼迫子戶，坐臥不安，謂之子滿。經云：諸濕腫滿，皆屬脾土。諸氣膹郁，皆屬於肺。宜東垣和氣飲主之。</p>
<p>白朮　黃芩（各錢半）　大腹皮　枳殼（炒，各一錢）　蘇葉莖　砂仁（各五分，炒）　炙草（三分）</p>
<p>水煎。</p>
<p>徐太和之妻，娠八月，得子滿病，他醫作子懸治，不效。腹滿轉甚，胎墜下迫，玉門大張，胞形外露，但仰臥不能坐，勢危，請密齋師治之。診其脈，兩手俱大堅搏手，謂其夫曰：令正病無害，乃雙胎也。胎肥氣弱，不能束約，故下墜耳。用束胎和氣飲主之，加人參一錢，升麻（炒）三分，服三劑，胎復上而安，後生一男一女。</p>
<p>《要略》云：婦人懷娠六七月，脈弦發熱，其胎愈脹，腹痛惡寒者，小腹如扇，所以然者，子臟開故也，當以附子湯溫其臟。（方未見。）</p>

<h2>妊娠子腫</h2>
<p>一名子氣。凡三論五方二案。</p>
<p>戴云：子腫者，謂夫人手足或頭面通浮腫者是也。</p>
<p>《濟生方》云：曾有娠婦腹脹，小便不利，吐逆，諸醫雜進溫胃寬氣等藥，服之反吐，轉加脹滿湊心，診之胎死也。久服下死胎藥，不能通，詳因得鯉魚湯。其論曰：娠妊遍身腫滿，或心胸急脹，名曰胎水。遂去婦人胸前看之，胸肚不分，急以鯉魚湯三五服，大小便皆下惡水，腫消脹去，方得分娩死胎，可謂更生之人矣。此症蓋懷娠腹大，不自知覺，人人皆謂胎娠如此，終不知胎水之患也。故著此論，以諭後人，當自省察。</p>
<p><u>三因鯉魚湯</u>　專治妊娠腹脹，胎有水氣。</p>
<p>白朮（五兩）　白芍　當歸（各三兩）　白茯苓（四兩）</p>
<p>上銼細，鯉魚一個，不拘大小，破洗鱗腹，白水煮熟，取汁，去魚不用，每服四錢，魚汁鍾半，姜七片，橘皮少許，同煮七分，空心服，以胎水去盡為度。一方加人參、澤瀉。</p>
<p>丹溪治一婦人，三十八歲患有娠水腫，鯉魚湯加五苓散治之愈。</p>
<p>《要略》云：妊娠有水氣，身重，小便不利，灑淅惡寒，起即頭眩，宜葵子茯苓散主之。</p>
<p>葵子（一升）　茯苓（三兩）</p>
<p>上二味，杵為末，米飲服一錢，日三服，小便利為度。</p>
<p>娠婦面目虛浮，肢體腫如水氣者，全生白朮散主之。</p>
<p>白朮（一錢）　生薑皮　大腹皮　白茯苓皮　陳皮　桑白皮（各五錢）</p>
<p>上㕮咀，濃磨木香水半盞，同煎八分，去渣溫服。</p>
<p>如娠婦三月成胎之後，兩足自腳面漸腫腿膝以來，行步艱辛，伏似水氣，至於腳指間有黃水出，又名子氣，天仙藤散主之。</p>
<p>天仙藤（即青木香苗莖也，洗，略炒）　香附（炒）　陳皮　甘草（減半）　烏藥（各等分）　木瓜（三片）　木香（等分）</p>
<p>水盞半，姜三片，煎服。</p>
<p>密齋云：妊娠七八月後，兩腳腫者，未可醫治，至產後其腫自消。如兩腳腫甚者，宜白朮茯苓散主之。</p>
<p>白朮　白茯苓（各二兩）　防己　木瓜（各三兩）</p>
<p>上為細末，每服一錢，食前沸湯調下，日三服，腫消止藥。</p>

<h1>卷之十</h1>

<h2>妊娠傷寒</h2>
<p>凡十五論十二方。</p>
<p>丹溪活套：婦人胎前感冒風寒，頭痛發熱，或身體疼痛，用四物湯合小柴胡湯，或更加細辛、白芷、羌活、防風等藥。</p>
<p>河間云：大抵胎病天行從增損柴胡，雜症從增損四物。然春夏須從柴胡，秋冬必用四物，藥性寒熱，病症虛實，不可不察也。又云：治產前寒熱，小柴胡去半夏，謂之黃龍湯。</p>
<p>密齋云：妊娠傷寒，專以清熱安胎為主，或汗，或下，各宜隨其五臟表裡所見脈症主治，勿犯胎氣。故在表發汗，以香蘇散為主方；半表半裡則和解之，以黃龍湯為主方；在裡則下之，以三黃解毒湯為主方。此吾家傳之秘，活人甚多。如古方六合湯，雖分治詳明，猶不及此切當。</p>
<p>凡娠婦傷寒，勿論日數，但見惡寒頭疼，宜香蘇散主之。</p>
<p>紫蘇（二錢）　香附子（炒黑，二錢）　陳皮（一錢）　甘草（半錢）</p>
<p>姜三片，蔥五根，煎服。</p>
<p>頭痛加川芎、白芷各一錢，名芎芷香蘇散。</p>
<p>假令得肝脈，其外症善潔面青，善怒，其三部脈俱弦而浮，惡寒，里和，謂清便自調也，本方加羌活、防風各一錢，謂肝主風，是膽受病也。</p>
<p>假令得心脈，其外症面赤口乾，善笑，其三部脈俱浮而洪，惡寒，里和，謂清便自調也，本方加黃芩、石膏各錢半，謂心主熱，是小腸受病也。</p>
<p>假令得脾脈，其外症面黃善噫，善思，其尺寸脈浮而緩，惡寒，里和，本方加白朮、防己各錢半，謂脾主濕，是陽明受病也。</p>
<p>假令得肺脈，其外症面白善嚏，善悲不樂，欲哭，其尺寸脈俱浮而澀，惡寒，里和，本方加黃耆、防風各一錢，謂肺主燥，是大腸受病也。</p>
<p>假令得腎脈，其外症面黑，善恐，其尺寸脈俱浮而濡，惡寒，里和，本方加附子（炮）一錢，謂腎主寒，是膀胱經受病也。（附子犯胎，用吳茱萸溫之可也。）</p>
<p>河間云：解利傷寒，不問何經所受，皆能解之。謂不犯各經之受病，雖不能解盡，亦無壞症。羌活湯尤益妊婦。</p>
<p>羌活（二錢）　防風　川芎　黃芩　甘草（炒，各一錢）　細辛（三分半）　白芷（一錢）　白朮（錢半，無汗用蒼朮）</p>
<p>水煎服，無時。</p>
<p>其妊婦傷寒，得之三五日後，有惡寒發熱，內有煩渴引飲，小便赤澀之症，此邪在半表半裡也，宜黃龍湯主之。</p>
<p>柴胡（二錢）　黃芩（錢半）　人參（一錢）　甘草（一錢）</p>
<p>薑棗引。</p>
<p>如寒熱往來，無汗口乾，加葛根二錢，去棗，入蔥白三根。</p>
<p>如頭疼不止，加川芎、白芷各一錢，去棗，加蔥白三根。</p>
<p>如發熱有汗，口渴，加白朮、瓜蔞根各錢半。</p>
<p>如脈浮大有力，大熱大渴，本方合人參白虎湯，去薑棗。</p>
<p>如心煩不得臥，本方加白茯苓、麥門冬各一錢。</p>
<p>如嘔噦，加半夏（制）、白茯苓各一錢，去棗。</p>
<p>如胸脅滿痛，加枳殼（炒）、香附子（炒黑）、川芎各一錢。</p>
<p>如大便秘，本方初加大黃五分，得利則止，不利加一錢，以利為度。</p>
<p>其娠婦傷寒五六日後，表邪悉罷，並無頭疼惡寒之症，止煩躁發熱，大渴，小便赤，大便秘，或利下赤水，六脈沉實，此病邪在裡也，宜三黃解毒湯主之。</p>
<p>黃柏　黃芩　黃連　山梔　大黃（等分）</p>
<p>水煎。更隨五臟脈症加減。</p>
<p>假令得肝脈，其內症煩滿消渴，溲便難，尺寸脈沉弦有力，是肝經本臟受病也，本方加當歸錢半，甘草五分，倍山梔。</p>
<p>假令得脾脈，其內症腹脹滿，譫妄，其脈沉緩有力，是脾經本臟受病也，本方加枳實（炒）、厚朴（薑汁炒）各錢半，倍大黃。</p>
<p>假令得心脈，其內症煩躁，心痛，掌中熱而噦，尺寸脈沉數有力，此心經本臟受病也，本方加麥冬一錢，竹茹一團，倍黃連。</p>
<p>假令得肺脈，其內症喘咳胸滿，尺寸脈沉澀有力，是肺經本臟受病也，本方加葶藶（炒）一錢，桔梗五分，倍黃芩。</p>
<p>假令得腎脈，泄如下重，足脛寒而逆，尺寸脈沉而石，是腎經本臟受病也，加乾薑（炮）五分，熟地黃錢半，倍黃柏。</p>
<p>其娠婦傷寒，發汗後，汗流不止，胎氣損者，加減當歸六黃湯。</p>
<p>歸身　黃耆　生地黃　黃芩　白朮　阿膠珠　炙草（各等分）</p>
<p>浮小麥一撮，煎湯盞半，去麥，每服五錢，煎七分，溫服。</p>
<p>其娠婦傷寒，下後，協熱而利不止，胎氣損者，宜加味黃芩湯。</p>
<p>黃芩（二錢）　白芍　白朮　白茯苓　炙甘草　阿膠（各一錢）</p>
<p>水盞半，煎一盞，後入阿膠，再煎八分服。</p>
<p>其娠婦汗下後，熱不除者，虛也，加味竹葉湯主之。</p>
<p>人參　麥冬　炙草　阿膠　生地黃（各一錢）</p>
<p>竹葉十二，粳米合引。</p>
<p>其娠婦傷寒，差後發熱者，宜黃龍湯、四物湯主之。因於食者，本方加枳實。</p>
<p>其娠婦傷寒，熱極發斑，狀如錦紋者，宜四物湯去川芎，加黃芎、人參、知母、石膏、玄參、大青葉主之。</p>
<p>其娠婦熱病護胎法。夫妊娠感非時之邪，熱毒之氣，侵損胞胎，遂有動胎漏血，致害子母之命，用白藥子不拘多少，為末，以雞子清調，攤於紙上，如碗大，貼臍下胎存處，干則以溫水潤。又方：以灶心土研細，水調塗臍下，干又易之。又方：以井底泥敷心下，令胎不傷。又方：用干浮萍、朴硝、大黃（炒）、蛤粉、板藍葉，共為末，水調貼臍下，安胎，解燥熱，和臟腑。</p>
<p>其娠婦值天行熱病，壯熱，百節疼痛，不急治，即墮胎。</p>
<p>柴胡　知母　葛根　石膏（各六錢）　大青葉（八錢）　梔仁（一兩）　升麻（八錢）　蔥白（切，半盞）</p>
<p>水七盞，煎三盞，分四服，服之。</p>
<p>其妊娠熱病六七日，極者傷胎，兒死腹中，身冷不能自出，須用暖胎藥，服黑神散，溫酒調，暖胎自出。評此不若用催生湯。</p>
<p>蒼朮（二兩）　桔梗（一兩）　橘仁（六錢）　白芷　桂心（去皮，各二錢）　炙草（二錢）　乾薑（炮）　當歸　厚朴（制）　芍藥　半夏（洗）　川芎　枳殼（炒，各四錢）　杏仁（炒）　木香（各一錢）</p>
<p>水盞半，薑棗引。</p>

<h2>妊娠霍亂</h2>
<p>一論一方。</p>
<p>霍亂者，陽明經病之別名也。陽明者，胃也。蓋因平日五味肥膿，腐積成痰，七情菀結，氣盛為火，停蓄胃中，乍因寒熱之感，邪正交爭，陰陽相混，故令心腹絞痛，吐利並作，揮霍變亂，故名霍亂。如邪在上胃脘，則當心而痛，其吐多。邪在胃脘，則當臍痛，其利多。邪在中脘，腹中痛，吐利俱多。吐多則傷氣，利多則傷血，血氣受傷，不能護養其胎。況邪氣鼓擊，胎氣震動，壽未有不殞者矣。此危惡之症，不可不亟治也，宜前香蘇散加藿香葉治之。</p>
<p>香蘇散一劑　藿香葉　縮砂（炒，各五分）</p>
<p>如轉筋加木瓜一錢，胎動不安加白朮錢半。</p>
<p>如夏月得之，加黃芩錢半，黃連一錢，香薷二錢。</p>
<p>如冬月得之，加人參、白朮各一錢，乾薑（炮）五分。</p>

<h2>妊娠風痙</h2>
<p>又名子癇。一論三方一案。</p>
<p>痙，俗作痓，乃太陽膀胱病之別名也。論曰：妊娠中風，頸項強直，筋脈攣急，言語謇澀，痰涎壅盛，或發搐不省人事，名曰子癇。亦有臨月發風痓，或暈悶倒地不識人，吐逆如癇，亦名子癇。治各有方。</p>
<p>其因中風，腰背強直，時復反張無汗者，宜防風葛根湯主之。</p>
<p>防風　葛根　生地黃　川芎（各二錢）　杏仁（去皮尖）　麻黃（去節，各錢半）　桂枝（少許）　獨活　甘草　防己（各一錢）</p>
<p>上㕮咀，分二帖，每水盞半，煎麻黃去沫，入藥煎八分，溫服，以安為度，不安連服勿間。</p>
<p>其有汗者，或發搐不省人事者，宜羚羊角散主之。</p>
<p>羚羊角（鎊）　川獨活　酸棗仁（炒）　五加皮（各半錢）　薏苡仁　防風　當歸　川芎　茯神　杏仁（去皮尖，各四分）　木香　甘草（各二分半）</p>
<p>水鍾半，姜三片，煎服如上法。</p>
<p>其臨月發者，宜葛根湯主之。</p>
<p>葛根　貝母　陳皮　防風　防己　川芎　當歸　白茯苓　桂枝　澤瀉　人參　獨活　石膏　炙草（各等分）</p>
<p>每帖七錢，水二盞，煎八分，不拘時。貝母令人易產，未臨月用升麻代之。</p>
<p>密齋師在鄖陽時，值鄖陽知縣一婢，臨月患此病，口眼喎斜，腰背反張，手足攣曲，不省人事，請師治之。用黃連解毒湯方，加硃砂末，斡開口灌之，稍定，其夜生一男。主謝曰：以一劑之藥，活二人之命，其功大矣。產後病，尤昏迷不醒，以七珍湯與之，即安。</p>

<h1>卷之十一</h1>

<h2>妊娠心腹腰諸痛</h2>
<p>凡三論九方。</p>
<p>妊娠以安靜為貴，但有心腹諸痛，便是胎氣不和，此胎氣之為母病者也。若因飲食不調，惱怒不已，或素有痰氣，發作無時者，此母病之害其胎氣也。須分治之。</p>
<p>丹溪云：凡心氣諸痛，不可用參朮補氣，其痛愈甚。師謂治諸心腹痛者，用香蘇散加砂仁最妙。</p>
<p>其二三月娠，忽心腹腰痛不安，此肝氣不和也。</p>
<p>當歸（三錢）　阿膠珠（二錢）　炙草（一錢）　蔥白（四錢）</p>
<p>水煎。</p>
<p>其三五月娠，忽心腹絞痛者，此心氣不和也。</p>
<p>大棗（十四個，燒令黑）　鹽（煅，一錢）</p>
<p>為末，取一撮許，酒調服愈。</p>
<p>其娠婦心痛，氣欲絕者，火龍散主之。</p>
<p>艾葉末（鹽炒，一兩半）　茴香（炒）　川楝子（去核，各一兩）</p>
<p>上為末，每服二錢，水一盞，煎七分，食後服。</p>
<p>其娠婦腹中絞痛，心下急痛者，當歸芍藥湯主之。</p>
<p>白芍藥（四兩）　當歸（三兩）　白茯苓（一兩）　澤瀉（一兩）　川芎（二兩）　炙草（一兩）</p>
<p>共為細末，每服三錢，食前溫酒調服，蜜丸亦可。</p>
<p>其妊娠無故下血，腹痛不可忍，或下黃汁，如漆水，如豆汁。</p>
<p>野苧根（炒）　金銀花（各一兩）</p>
<p>酒水各一盞，煎服。</p>
<p>其娠婦素有冷氣，心痛如刀剌及腹痛者，加減當歸散主之。</p>
<p>當歸　香附（炒黑）　川芎（各三兩）　青皮（二兩）　吳茱萸（半兩，炮七次）</p>
<p>上為末，溫酒調一錢，服無時。</p>
<p>其娠婦腰痛不可忍者，通氣散神妙。</p>
<p>破故紙（不拘多少，瓦上炒令香）</p>
<p>上為末，嚼胡桃肉半個，空心溫酒調服二錢。</p>
<p>其因於七情者，前方香蘇散加砂仁、木香各五分。</p>
<p>其因於飲食者，香蘇散加白朮、枳實各一錢，砂仁五分。</p>

<h2>妊娠痎瘧</h2>
<p>凡一論四方。</p>
<p>瘧者，苛毒苦惱之名也。寒則凜凜，湯火不能御，熱則蒸蒸，冰雪不能解，所謂來如風火，去似微塵，易受而難退也。有孕之婦，豈堪忍受。方其初得，急驅逐之，及其久也，須和解之，勿犯胎氣，勿傷胃氣，此治之之大要也。</p>
<p>初病之時，小柴胡合四物湯以解之。解之不退，宜常山飲截之。</p>
<p>知母　川常山（各二錢）　炙草（一錢）　烏梅（一錢）</p>
<p>酒水各盞半，桃枝七寸，露一宿，發日五更服，面東，如吐勿忌，得吐即愈。</p>
<p>其瘧久不可再截，只以補脾和胎為主，宜加味異功散主之。</p>
<p>人參　白朮　白茯苓　炙甘草　陳皮　當歸　黃芩　柴胡（等分）</p>
<p>上為末，每服一錢，米飲下，日三服，得汗而解。或加九肋鱉甲作丸，服之妙。</p>
<p>如寒多熱少者，驅邪散主之。</p>
<p>良薑（炒）　白朮　草果仁　藿香葉　陳皮　縮砂　白茯苓（各五分）　炙草（二分半）</p>
<p>姜五片，棗一枚，服不拘時。又治食瘧。</p>
<p>如熱多寒少者，加味白虎湯主之。</p>
<p>生地黃（錢半）　黃芩　麥冬　人參　知母　葛根（各一錢）　石膏（三錢）　甘草（五分）</p>
<p>烏梅半個，水煎。亦治暑瘧。</p>

<h1>卷之十二</h1>

<h2>妊娠吐瀉</h2>
<p>凡二論五方。</p>
<p>吐利並作者，霍亂也。常吐者，惡阻也。治法在前。惟忽然嘔吐者，勿認惡阻，須詳審之。如吐清水，同食物出者，寒也，宜理中湯主之。</p>
<p>人參　白朮（各一錢）　炙草（三分）　乾薑（炮，五分）　藿香葉（五分）</p>
<p>水盞半，煎七分，入薑汁一匙。</p>
<p>如吐酸水，同食物出者，熱也，宜加味二陳湯主之。</p>
<p>陳皮（錢半）　白茯苓　半夏（炒，各一錢）　甘草（三分）　黃連（薑汁炒）　吳茱萸（炮，去皮，三分）</p>
<p>水鍾半，姜五片，煎服。</p>
<p>妊娠多食瓜果生冷，及當風取涼，則令胎冷，腹脹虛疼，腸內虛鳴，臍下冷痛，大便滑瀉，宜安胎和氣飲主之。</p>
<p>訶子（麵煨，去核）　白朮（各二錢）　陳皮　良薑（炒）　木香　白芍（炒）　陳粟米（炒）　炙草（各錢半）</p>
<p>分二帖，水二鍾，姜五片，煎服。</p>
<p>如瀉久不止，恐其傷血，無以養胎，宜加減八珍湯主之。</p>
<p>人參　白朮　白茯苓　炙草　當歸　生地　白芍　阿膠（各等分）</p>
<p>水鍾半，煎一鍾，入阿膠，煎八分，食前服。</p>
<p>如不止，兼服三物桃花丸。</p>
<p>赤石脂　白龍骨（等分）　乾薑（炒焦，減半）</p>
<p>上為末，粥糊丸，梧桐子大，每服三十丸，或五十丸，米飲下。</p>

<h2>妊娠痢疾</h2>
<p>一論五方一案。</p>
<p>病屬濕熱，努貢之時，胃氣下陷，胎氣墜，不亟治之，恐其傷胎。</p>
<p>初病腹中脹痛，裡急後重，宜下之，三黃解毒湯主之。（方見前。）</p>
<p>腹中微痛，裡急後重，用河間行氣，後重自除，養血則下利自止，法宜芍藥湯主之。</p>
<p>白芍（一錢）　當歸　黃連（各五分）　檳榔（二分）　木香（二分）　桂（少許）　大黃（三分）　黃芩（一錢）　炙草（二分）</p>
<p>上㕮咀，水盞半，煎八分，食前服。</p>
<p>又，芍藥柏皮丸常服。</p>
<p>白芍　黃柏（各二兩）　黃連　當歸（各半兩）</p>
<p>上為末，水丸，小豆大，每五十丸，陳米飲下。</p>
<p>大抵妊娠痢疾，以清熱解毒為主，此治濕熱之聖藥也。</p>
<p>妊娠下利赤白，腸鳴後重，穀道疼痛，黃連阿膠丸主之。</p>
<p>黃連　砂仁　歸身　阿膠（炒）　白朮（各一兩）　乾薑（炒，二錢半）　枳殼（炒，五錢）　炙甘草（三錢）</p>
<p>上為末，鹽梅肉三兩，入少醋，同杵丸，陳米湯下。</p>
<p>妊娠膿血下痢，狀如魚腦，小腹絞痛難當。</p>
<p>地榆　黃連　阿膠（另煎）　酸石榴皮（等分）</p>
<p>水煎。</p>
<p>臨產痢疾，用梔子燒存性，末之，空心熱水調下一匙，甚者不過五服。或用四物湯調枳殼散服，效。</p>
<p>羅田典史熊鏡妻有娠，先於五月病熱，請女醫朱廷和治之，變瘧；又請萬元獻壬子舉人治之，加痢；至八月瘧痢並作，請師調治。診其脈，左手沉實有力，右脈浮大而虛，此乃男娠內傷病也。用補中益氣湯加條芩，倍白朮，連進十餘服，瘧痢俱止，後以胡連丸調理而安，次年春果生一男。</p>

<h2>妊娠喘嗽</h2>
<p>凡一論四方。</p>
<p>妊娠喘嗽，當分二症。有風寒外感者，有胎氣內壅者，須詳審之。其風寒外感者，必發熱，鼻塞聲重，初病之時，宜發散之，桔梗散主之。</p>
<p>天門冬　茯苓（各一錢）　杏仁（去皮尖）　人參　甘草　桑白皮（蜜炒）　紫蘇葉　桔梗（各五分）　麻黃（去節，七分）</p>
<p>姜三片，水煎。</p>
<p>久嗽不止，謂之子嗽，引動胎氣，胎必不安，宜紫菀湯主之。</p>
<p>天門冬　紫菀（各二錢）　桔梗（五分）　甘草　杏仁（去皮尖）　桑白皮（蜜炒，各二分半）　防風（五分）</p>
<p>上㕮咀，水二盞，竹茹一塊，煎八分，入蜜半匙，再煎一沸服。</p>
<p>如服上藥不止，或痰中有血者，宜門冬清肺飲主之。</p>
<p>天冬　麥冬（各一錢）　桑白皮（蜜炒）　杏仁（去皮尖）　黃芩　五味子　阿膠　桔梗　甘草（各五分）　蘇葉（五分）　烏梅肉（半個）</p>
<p>水煎服。</p>
<p>痰甚加陳皮五分，淡竹瀝一合。有血加生地黃一錢，大薊根、茅根汁各一二匙。</p>
<p>妊娠七八月以後，受肺與大腸之氣，胎氣壅盛，咳嗽喘急，宜馬兜鈴散主之。</p>
<p>馬兜鈴　桔梗　枳殼（炒）　甘草　陳皮　大腹皮　蘇葉（各一錢）　五味子（七粒）</p>
<p>姜三片，水煎。</p>

<h2>妊娠子淋</h2>
<p>（附：不禁）</p>
<p>凡三論六方。</p>
<p>子淋之病，須分二症：一則妊母自病，一則子為母病。然妊母自病，又分二症：或服食辛燥，因生內熱者，或自汗自利，津液燥者。其子為母病，亦分二症：或胎氣熱壅者，或胎形迫塞者。症既不同，治亦有別也。大抵熱則清之，燥則潤之，壅則通之，塞則行之，此治之之法也。</p>
<p>娠婦奉養太厚者，喜食炙煿酒面，辛燥之物，以致內熱，小便赤澀作痛者，宜加味木通湯主之。</p>
<p>木通　生地黃　赤芍　條芩　甘草梢（等分）</p>
<p>淡竹葉十二片　水煎。</p>
<p>妊婦嘗病自汗，或因下痢後，小便短少，不痛者，此津液不足也。</p>
<p>麥冬　通草　滑石（各三錢）　當歸　甘草（各五錢）　人參　細辛（各一錢）</p>
<p>上為細末，每服二三錢，燈心煎湯，空心服。</p>
<p>娠婦素淡滋味，不嗜辛酸，病小便赤澀而痛者，此胎熱也，宜冬葵子湯主之。</p>
<p>冬葵子（一兩）　赤芍　條芩（各半兩）　赤茯苓　車前子（各三錢）</p>
<p>上末，每二錢米飲調服，不拘時。如小便不通，恐是轉胞，加發灰少許極妙。</p>
<p>娠婦八九月，胎形肥碩，小便短少，小腹脹，身重，惡寒，起則暈眩欲倒，此胎氣迫塞，膀胱之氣不行也，宜大腹皮散主之。</p>
<p>枳殼（炒）　大腹皮　甘草（炙，各一錢）　赤茯苓（三錢）</p>
<p>上為末，每服一錢，濃煎蔥白湯下，不拘時。一方有黃芩一錢。</p>
<p>一娠婦淋瀝，小便不通，醫作轉胞治之，不愈，後用檳榔、赤芍藥二味研末，順取長流水煎湯調服，效。此方治男婦一切血淋，及淋澀水道疼痛，用之無有不效。</p>
<p>娠婦九個月後，多小便不禁者，胎下墜也。凡見小便頻數，或自出不覺，其勢將產，不須治之。如九月以前，遺尿不知出者，此病也，用真桑螵十二個，炙焦，為末，空心米飲調下。又方：用白薇、白芍藥等分，為末，酒調方寸匕，日三服。</p>
<p>《要略》云：娠婦小便難，飲食如故，歸母苦參丸主之。</p>
<p>當歸　貝母　苦參（各四兩）</p>
<p>上為末，煉蜜丸，如小豆大，米飲下，三丸加至十丸。</p>
<p>婦人懷胎有傷，腹滿不得小便，從腰以下重，如有水氣狀，懷身七月，太陰當養不養，此心氣實，當刺瀉勞宮及關元，小便微利則愈。</p>

<h1>卷之十三</h1>

<h2>妊娠轉胞</h2>
<p>仲景曰：婦人本肌肥盛，頭舉自滿，反羸瘦，頭舉中空，胞系了戾，亦多致此病，但利小便則愈，宜服腎氣丸。按此方以中有茯苓故也，地黃為君，功在補胞。（方見上卷。）</p>
<p>丹溪曰：轉胞之病，胎婦之稟受弱者，憂悶多者，性急躁者，食味厚者，庸或有之。古人皆用滑利疏導藥鮮有應效，因思胞不自轉，為胎所壓，展在一邊，胞系了戾不通耳。胎若舉起，居於其中，胞系自通，水道自利。然胎之墜下，必有其由。近吳宅寵人患此，遂用四物湯加參、術等藥，空心飲，隨以指探喉中，吐出藥汁，俟少頃氣定，又與一帖，次早亦然，如是與八帖而安。此法未為的確，恐偶中耳，後又歷用數人皆效，未知果何如耶？方名參朮散：四物湯加人參、白朮、半夏、陳皮、甘草。入姜煎，空心服。</p>
<p>吳宅寵人患轉胞，兩脈似澀，重則弦，左稍和。予曰：此得之憂患。澀為血少氣多，則胎氣弱而不舉，弦為有飲。血少則胎弱，氣多有飲，中焦不清而隘，則胞知所避而就下。乃以參朮散與服，去八帖而安。</p>

<h2>妊娠便秘</h2>
<p>凡一方。</p>
<p>便難之病蓄熱，屬血虛，宜潤腸丸主之。</p>
<p>火麻子（去殼，取淨仁，二兩，淨研）　桃仁（去皮尖，另研，一兩，生用）</p>
<p>上和勻，研極細末，蜜丸，梧桐子大，每服三十，空心，枳殼湯下。</p>

<h2>妊娠雜症</h2>
<p>凡十三症十三方三案。</p>
<p>娠婦冬月中寒，宜理中湯加細辛主之。</p>
<p>娠婦夏月中暑，宜人參白虎湯加黃連主之。</p>
<p>娠婦傷食，香蘇散加白朮、枳實（炒）、黃連主之。</p>
<p>娠婦夏秋之間中濕，宜平胃散加黃柏主之。</p>
<p>娠婦胎不長者，血氣不足也，五六月脾胃脈養之時，宜十全大補湯去桂，加陳皮，薑棗引。</p>
<p>娠婦胎肥者，八月以後，胎氣壅盛，宜常服枳殼散，易產。</p>
<p>商州枳殼（五兩，炒）　炙粉草（一兩）　香附（炒黑，一兩）</p>
<p>上為末，每服二錢，空心沸湯調服。一方有糯米半斤（炒），同為末，令兒易產。初生胎氣微黑，百日後肥白，此為古方之冠。若娠婦稍弱者，單服恐胎寒腹痛，胎弱多驚，王隱君於內加當歸一兩，木香半兩，不見火，如此用之，則陽不致強，陰不致弱，二氣調和，有益胎嗣。</p>
<p>湖陽公主胎肥難產，方士進瘦胎散，用枳殼四兩，和甘草二兩，為末，空心服六錢匕，茶調服。</p>
<p>妊娠胎驚者，七八月以後，胎形既成，或因氣悶，或因喧呼，心神脈亂，致令子驚，使母心神忪悸，睡里多驚，坐臥不寧，氣急逼迫，宜服大聖散，保安胎孕，子母無虞。</p>
<p>白茯苓　川芎　麥冬　炙草　當歸　木香　人參　炙耆（等分）</p>
<p>上㕮咀，每服七錢，水鍾半，姜三片，煎服。</p>
<p>妊娠胎熱者，皆因娠婦多居火間，衣著太暖，伏熱在裡，又食酒面炒煿，熱物太過，致令胎熱，頭旋眼暈，視物不見，腮項腫核，若加涎壅，命在須臾，此肝臟毒熱上攻也，宜消風散主之。</p>
<p>石膏（炒）　菊花　當歸　羌活　防風　芥穗　川芎　白芷（各錢半）　羚羊角（半錢）　炙草（半錢）　茗苦茶（一錢）　大黃豆卷（一錢）</p>
<p>分二帖，水煎。</p>
<p>一娠婦將臨月，兩眼忽然失明，不見燈火，頭痛眩暈，項腮腫不能轉，諸醫治療不瘥，轉加危困，偶得消風散服之，病減七八獲安。分娩，其眼吊起，人物不辨。有人云：只服四物湯加荊芥、防風，更服眼科天門冬飲子，但以此方間服，目漸稍明。大忌酒面煎炙，雞魚鵝鴨豆腐，辛辣熱毒物並房勞，不然，則眼不復明也。</p>
<p>天門冬飲子：</p>
<p>天門冬　茺蔚子　知母（各二錢四分）　茯苓　羌活　五味子　人參（各一錢八分）　防風（二錢一分）</p>
<p>㕮咀，分二帖，每水二盞，姜三片，煎八分服。</p>
<p>妊婦七八月，忽然無故悲傷欲哭，狀如神靈所作，數欠伸者，此名臟躁，乃肺也，宜甘麥大棗湯主之。（出《要略》。）</p>
<p>甘草（二兩）　小麥（一升）　大棗（十枚）</p>
<p>三味，以水六升，煮取三升，分三服。</p>
<p>妊娠失音不語，奇病論：帝問曰：人有重身，九月而喑者，何也？岐伯對曰：胎之絡脈絕也，胎絡者，繫於少陰之脈，貫腎，絡舌本，故不能言。帝曰：治之奈何？岐伯曰：無治也，當十月復。</p>
<p>婦人有娠，故服毒藥攻胎，藥毒衝心，外症牙關緊急，口不能言，兩手強直握拳，頭低自汗，身微熱，與中風子癇相似，其脈浮數，十死一生。醫者不識，作中風治之，更不審問，必致損絕。宜用白雹豆一味，研末，新汲水調，斡開口灌之。（此症不正之婦有之。）</p>
<p>妊娠兒在腹中哭，宜黃連湯主之。</p>
<p>黃連（三錢）　甘草（一錢）</p>
<p>濃煎二味，令母呷之。</p>
<p>又一方：用半年空屋下鼠穴中土一塊，令母含之，即止。</p>
<p>一云：臍帶上疙瘩，乃兒口中含者，因娠婦登高取物，脫出兒口，以此作聲，令娠婦曲腰在地拾物，使兒復得入口，即止。</p>
<p>密齋云：此症臨月將產婦人有之。師母錢氏，嘉靖戊子有娠九個月，兒在腹中哭，錢大驚，令作男子拜而止之，過二十日生師兄邦孝也。</p>
<p>娠婦日月未足而腹痛，如欲產者，用知母一味，為末，蜜丸，雞頭實大，酒化下。</p>

<h1>卷之十四</h1>

<h2>預防難產</h2>
<p>丹溪云：世之難產，往往見於鬱悶安逸之人，富貴奉養之家，若貧賤辛苦者無有也。方書止有瘦胎飲一論，而其方為湖陽公主設也，實非極至之言。何者？有此方，其難自若。予族妹苦於難產，正與湖陽公主相反。今其有娠五六個月，遂於大全方紫蘇飲加補氣藥，與十數帖，因得男而甚快。遂以此方隨母之形色性稟，參以時令加減與之，無不應者。因名曰達生散。</p>
<p>大腹皮（三錢）　人參（五分）　陳皮（五分）　白朮（一錢）　白芍（一錢）　炙草（二錢）　紫蘇（梗葉五分）　歸身（一錢）</p>
<p>入青蔥五葉，黃楊腦七個（此即黃楊樹葉梢兒也，）或加枳殼、砂仁，以水煎，食後服。於八九月服數十帖，甚得力。</p>
<p>夏加黃芩，冬不必加，春加川芎，或有別症，以意消息。</p>
<p>氣虛加參、術，氣實香附、陳皮，血虛倍歸、芎，形實倍紫蘇，性急加黃連，有熱加黃芩，濕痰加滑石、半夏，食積加山楂，食後易飢倍黃楊腦，腹痛加木香、桂。</p>
<p>予族妹苦於難產，後遇胎孕，則觸去之，予甚憫焉。說其形肥而勤於針指，靜思旬日，忽自悟曰：此症與湖陽公主相反，彼奉養之人，其氣必實，耗其氣使和平，故易產。今形肥知其氣虛，久坐知其不運，而其氣愈弱，久坐胞胎因母氣不能自運爾，當補其母之氣，則兒健而易產。今其有孕至五六個月，遂與達生散十帖，遂得男而甚快。</p>
<p>又云：難產多是氣血虛。亦有氣血凝滯而不能轉運者，亦有八九個月內不能謹欲者。</p>
<p><u>丹溪束胎丸</u>　至七八個月內服之。</p>
<p>黃芩（夏一兩，秋七錢，冬五錢，春七錢　）　白朮（二兩）　茯苓（七錢五分）　陳皮（三兩，並不見火）</p>
<p>上為末，粥丸，梧桐子大，每服三四十丸，白湯下。</p>
<p><u>又方</u>　第九個月服。</p>
<p>黃芩（一兩，酒炒焦，怯弱者減半）　白朮（一兩）　枳殼（炒，七錢半）　滑石（七錢半，小便多者去之）</p>
<p>上為末，粥丸，梧桐子大，每三十丸空心白湯下，多則恐損元氣。</p>
<p>劉宗厚按世俗婦室妊娠鮮有服束胎藥者，蓋局方、良方諸法，未能盡其妙用者，多輒動娠，故率不敢行。然丹溪先生因系以上三方，以備世俗取擇，好生君子之一端也。</p>
<p>密齋云：婦女之懷胎，有膏粱藜藿勞逸苦樂之殊，豈必人人有產難之厄哉。自湖陽公主後，始有瘦胎之論，前此有寤生者，豈無法耶？今之娠婦未有盡服束胎藥者，蓋生育者，婦人之常，非病也，故不用藥耳；惟素有產難之苦者，不得不講求其方，以為保生之計。其束胎之方，用各不同，如枳殼瘦胎散，及用滑石方，氣實多痰者宜用之；達生散，束胎丸，氣虛血少有熱者宜用之。若不審其虛實，不若不服之，善也。</p>
<p>蘄水朱宅一婦女李氏，嘗苦難產，其夫階情叩師求方，且曰形頗壯，性急食少。予思此氣滯也，與一方，枳殼、甘草、香附子為主，當歸、川芎、白朮、陳皮佐之，至八九個月內，每月服三帖，後生三子甚快。</p>
<p><u>張氏方</u>　臨月服之，束胎易產，行氣寬膈。</p>
<p>枳殼（五兩，炒）　甘草（兩半）　香附子（二兩半）</p>
<p>上為末，薑湯點服。</p>

<h2>難產七因</h2>
<p>全著。</p>
<p>一、因安逸。蓋婦人懷娠，血以養之，氣以護之，宜常行動，使氣血周流，胞胎活潑，不可久坐久臥也。今富貴之家，愛惜娠婦，惟恐勞役，任其安逸，久坐久臥，以致氣滯而不運，血滯而不流，胎亦沉滯而不轉動，故誕彌厥月，而難產矣。試觀貧賤之婦，親執井臼之勞，勤動不倦，生育甚易者，彼何如哉？若是難產者，宜於八九個月常服達生散。</p>
<p>二、因奉養。蓋胎之肥瘦，氣通於母，母之所嗜，胎之所養也。故懷胎之婦，宜節飲食，淡滋味，一切肥甘之味，皆當遠之，不惟母無產厄，子亦少病矣。今富貴之家，惑於俗論，謂非辛熱則胎不暖，非肥膿則胎不長，恣食厚味，而不知節，以致胎肥而難產也。試觀糟糠之婦，藜藿之腸，何以無產厄哉？是以難產者，宜於八九月間多服瘦胎散及張氏方。</p>
<p>三、因淫欲。蓋古者，婦人懷娠之後，即居側室，不共夫寢者，保養胎氣也。今之為夫者，縱欲而不休，為婦者，貪歡而無忌，至七八個月之間，胎形已俱，情欲猶昔，以致敗精濁液黏滯胞胎，故臨產不利也。何以知之？其子生下，頭上有白膜一片，俗呼為戴漿生者是已。若此者，宜服瘦胎丸加滑石。</p>
<p>四、因憂疑。按兵法曰：禁祥去疑，恐惑眾也。而今人家求子之心既切，保胎之計甚疏，或問命卜，或禱鬼神。殊不知談其禍福者，惑人之聽，信於祈禱者，干鬼神之怒，此等無益之事，適增有娠之憂，心常疑懼，產必艱難也。若此者，必戒卜筮，常使娠婦聞正言、見善事為貴。觀不正之女，多產厄者，可以理會。</p>
<p>五、因軟弱。如少婦初產者，神氣怯弱，子戶狹隘，常懷恐怖之心，不任折副之苦，當產之時，腰曲不伸，腳直不開，展轉傾側，兒不得出。又如中年婦人，生育既多，氣血亦損，當產之時，氣虛血少，生理不遂。若是二者，淹延數日，針藥不施，母子獲安者鮮矣。</p>
<p>六、因倉皇。娠婦臨產，自覺兒身轉移，胞漿流溢，腰腹急痛，門戶張迫，當是時也，兒欲奔出，母則著力一送，兒便下矣。若兒身未轉，胞漿未破，腹中陣痛，乍作乍止，當是之時，寬心忍耐，直待如上形狀，然後使力可也。有等粗俗穩婆，不認正產弄產，但見腹痛，遽令努力，娠婦無主，只得聽從，以致或逆或橫，子母殞命，皆倉皇之失也。</p>
<p>七、因虛乏。娠婦當產之時，胞漿已破，著力逼送，視兒欲出之勢，或急或緩，順其勢而利之可也。若使兒未欲出，用力太早，及兒欲出，母力已乏，使兒留住產戶之間，津液乾澀，產有艱難。若是者，可以大補氣血催生湯救之。</p>

<h1>卷之十五</h1>

<h2>育嬰方論</h2>
<p>諺云：寧醫十男子，莫醫一婦人；寧醫十婦人，莫醫一小兒。非以小兒口不能言，脈無可診，為啞科歟。傳曰：如保赤子，心誠求之。雖不中，不遠矣。大抵小兒之病有三：一曰稟賦不足，二曰胎毒，三曰乳食所傷。蓋稟賦不足者，羸父弱母，精耗血衰，胞胎之氣既虧，血肉之軀先損。既生之後，目無精采，啼聲不揚，顱解發稀，皮薄肉軟，齒久不生，行坐過遲者，皆稟賦不足之病也，宜大補腎地黃丸主之。胎毒者，父餌壯陽之丹，母飲暖宮之藥，交接無度，淫火猖狂，飲食不忌，膏粱內變，令兒受之，丹瘤瘡疹，驚癇臍風，盤腸內吊之病作矣，宜保嬰解毒丸主之。乳食所傷者，小兒腸胃脆薄，乳食過多，難以傳化，而父母溺於護愛，惟恐飢乏，凡肥甘生冷與食之，以致宿食成積，久積成癖，而吐瀉瘧痢，腫脹腹痛，疳蟲之病生矣，肥兒丸主之。</p>
<p>小兒肝常有餘，病多驚癇，琥珀抱龍丸主之。脾常不足，病多疳癆，集聖丸主之。</p>
<p><u>八味地黃丸</u>　治稟賦不足，腎氣虛弱，骨髓枯竭，囟大頭縫不合，體瘦語遲，行步多艱，齒生緩者。</p>
<p>乾山藥（去黑皮）　山茱萸（酒拌潤，蒸軟，去核取肉，焙乾）　熟地黃（酒洗，焙乾，各五錢）　鹿茸（蜜塗炙，酒浸炙亦可）　川牛膝（酒洗，焙，各四錢）　牡丹皮（去心，淨洗）　白茯苓（去皮，各三錢）　澤瀉（二錢）</p>
<p>上銼，焙，研為細末，煉蜜丸，如麻仁大，每服十五丸，或二十五丸，至三十五丸，空心溫鹽湯下，溫酒亦佳。</p>
<p><u>保嬰解毒丸</u>　治胎熱，胎驚，胎黃，臍風，丹瘭，瘡疹，一切胎毒。</p>
<p>甘草（半生以解毒，半熟以溫中）　黃連（去枝梗，解毒瀉火，各三錢）　黃柏（去皮，蜜水炒，瀉陰火，二錢）　辰砂（水飛，鎮驚解毒，二錢）</p>
<p>共為細末，臘雪水杵和為丸，如芡實大，未周歲者半丸，周歲者一丸，燈心煎湯化下。</p>
<p><u>肥兒丸</u>　健脾胃，進飲食，消積滯，殺疳蟲，補疳癆，長肌肉，乃保嬰之第一方也。</p>
<p>人參（去蘆，三錢）　白朮（堅白者，去蘆，五錢）　橘紅（刮淨，五錢）　白茯苓（去皮，四錢）　甘草（去皮，炙，二錢）　青皮（四花者，去穰，三錢）　縮砂仁（二錢五分）　木香（二錢五分）　山藥（刮淨，五錢）　蓮肉（去皮去心，五錢）　使君子（去殼，三錢）　山楂子（蒸取肉，三錢）　三奇神麯（炒，三錢）</p>
<p>共研為極細末，用生荷葉包粳米煮熟，去荷葉，將米杵爛，以淨布扭出，再煮成糊，為丸，如麻仁。每服二十五丸，或三十五丸，至五十丸，陳倉米炒熟，煎湯，不拘時服。</p>
<p><u>琥珀抱龍丸</u>　抱者，養也。龍者，陽之象也。《易》曰：震為龍，一陽初生，乃少陽之氣。震為乙木，內應乎肝。小兒初生，純陽之體，肝常有餘，故立此方。以抱龍名者，所以保養陽氣，使不至於暴泄，滋益陰精，令得制乎炎光也。常服祛風化痰，鎮心解熱，和脾胃，益精神，尤保嬰之第一方也。</p>
<p>真琥珀　天竺黃　白檀香（細銼）　人參（去蘆）　白茯苓（去皮，以上五味各一兩五錢）　粉草（去皮節，三兩）　枳殼（水浸潤，去穰，麵炒黃色）　枳實（去殼，制，各一兩）　硃砂（水飛，五兩）　山藥（去黑皮，一斤，銼碎，慢火炒，令黃熟勿焦）　牛膽南星（一兩）　金箔（一百個，另篩入藥中，和勻）</p>
<p>上一十二味，除硃砂、金箔另制，檀香不見火外，九味或曬，或焙，同研為末，和勻。硃砂、金箔每一兩重藥，取新汲井水一兩重，入乳缽內，略杵勻，隨手丸如芡實大，約五分重一粒，陰乾，晴霽略曬，日色燥甚則拆裂，宜放當風處，取其自干。百日內兒，每丸作三次，一歲以上者，一丸或二丸，並用薄荷湯化服。痰壅嗽甚，淡薑湯下。感冒風寒，蔥湯下。痘疹驚癇搐搦，滾白水下。心悸不安，燈心湯下。中暑迷悶，麥門冬湯下。凡合此藥，品味必備，但缺一味，制不依法，即不效也。常用瓦罐收貯，勿令泄氣。</p>
<p><u>集聖丸</u>　治小兒疳瘦發熱，肚大青筋，頭皮光緊，發稀作穗，喜吃泥土，此治疳病之第一方也。</p>
<p>蘆薈　五靈脂　夜明砂（洗淨，焙）　縮砂仁　陳皮　青皮（去穰）　莪朮（煨）　木香　使君子（去殼，煨，各二錢）　黃連（去皮梗）　乾蟾（炙焦，去足，各三錢）</p>
<p>疳瘦加當歸、川芎各二錢。</p>
<p>共為細末，用獖豬膽二枚，取汁和藥，入糕糊丸，麻子大，陳米飲下。</p>

<h1>卷之十六</h1>

<h2>幼科醫案</h2>
<p>山中讀《易》，研精宓義。小往大來，福壽均齊。歲月云邁，而無所之。及其出壬，人相扶持。別號通仙，業專於醫。江湖逸叟，七十有四。幼科醫案，暮年自敘。</p>

<h3>胎疾</h3>
<p>嘉靖丁酉八月，英山縣鄭斗門初八日初生一男，命名廷試，生五日不乳，噴嚏昏睡，請予視之。予曰：此臍風病也，一名馬牙風。小兒生後，一臘之內尤急。斗門驚懼，予曰無妨。乃看其口中上齶有白泡子，如珠大者三四個，取銀挖耳刮去之。斗門憐惜之情見於色。去之未盡，次日猶不乳。鄰親金氏老嫗聞之，傳語斗門，以臍風之害。斗門憂惶，復請予，叩問臍風之病何如？予告之曰：臍風之病，不可治者有三：臍腫腹脹，大小便不通者，名曰鎖肚；口緊不開，不乳不啼，時作搐者，名曰噤風；環口青色，口唇緊撮者，名曰撮口。令郎初病，未至困也。復以手法去其白泡而安。斗門曰：當用何藥？予曰：兒在母腹之中，賴母之血以養之；及其生也，食母之乳，乳亦血所化也。胃氣常脆，穀氣未生，豈能任其藥毒耶？雖有古方，不敢用也。斗門曰：若然，則坐視其死而不救哉？予曰：上工治未病，中工治初病，下工治已病。治未病者，十全八九；治初病者，十救四五；治已病者，十無一生也。斗門曰：治未病者何如？曰：兒初生時，必先浴之，後斷其臍。斷臍之後，以火灸其斷處，臍乾未落，常謹視之，勿為兒尿所浸，則自無臍風之病矣。斗門曰：治初病者何如？曰：但見兒噴嚏多啼，少乳者，即視其口中上齶，有白泡子成聚者，急以手法刮去之，以軟布拭淨其血，則臍風不發矣。斗門曰：治已病者何如？曰：不知以上二法，其泡落入腹中，或為鎖肚，或為噤風，或為撮口，雖有神丹，不能救也。斗門謝曰：請詳記之，以為育嬰之法。</p>
<p>隆慶壬申，羅田監生胡正衢次子生兩月，病吐乳發熱，昏睡不思乳，請予視之。予曰：此傷乳病也。先有一乳母，其乳少，又使一乳母佐之。兒生兩月，脾胃尚弱，乳哺易傷。二乳母恐兒之啼，觸主之怒，強以乳相繼哺之，因此成病。教令損其一日之乳，其病自愈，不必服藥。乳母聽教，次日果安。</p>

<h3>驚風</h3>
<p>黃州府同知張，命我縣知縣朱，差人致書云：本府張二守公子得風疾，苦無良醫，聞汝知醫且精，轉我召汝，汝當星夜速來，是亦濟世之端，功名之會也。全奉命，亟往視其病，兩腮紅，上氣喘急，脈浮緩而濡。此因傷食得之，食傷脾，脾虛不能養其肺，脾為之母，肺為之子，母子俱虛。兩腮紅者，虛熱也；上氣喘急者，肺虛也；脈浮緩而濡，氣虛也。時醫各以驚風治之，用抱龍丸、牛黃丸、蘇合香丸，不效。予告曰：公子不是風病，乃肺虛證也。諸醫顧笑。予用阿膠炒成珠，一服二分，煎蘇葉烏梅湯化服，三劑而安。張公大喜，厚賜而歸，眾醫各有慚色。</p>
<p>羅田知縣朱云閣一女，未周歲，病驚風，召全治之。乃用瀉青丸，治驚風之秘方也，何故不效而搐轉甚？豈喉中有痰，藥末頗粗，頑痰裹藥，黏滯不行之故歟？改用煎過作湯，以薄綿紙濾去滓，一服而效。朱公大喜，賜以儒醫之匾。</p>
<p>英山縣知縣吳前洲公子病驚風，差人請全往治之。至則眾醫聚議，用藥無功，吳甚憂懼，而有千金之託。全告曰：公子病可治，勿憂也。乃用導赤散作湯，吞瀉青丸，一服而搐止，復進琥珀抱龍丸，調理三日而安，吳公大喜。</p>
<p>羅田縣學教諭曾加一子病驚風，先請萬石泉治之。庠生也，善醫。時予在庠，因往問之，曾留予同醫。石泉主小續命湯，予曰：不可用也。肝主風，心主驚，風火相煽，乃發搐也。續命湯多辛燥之藥，恐反助火邪，而病益甚也，不如通聖散效。石泉心服，未盡劑而安。</p>
<p>蘄水縣庠生徐淑道一子病驚風，先請張醫治之，不效，遣人請余。時病七月矣，發搐無時，痰鳴氣急，其勢危困。予按治驚之法，先降其痰，次止其搐，後補其虛，一言以蔽之，惟治其火而已。乃用河間涼膈散，改朴硝為馬牙硝，煎成湯，入青礞石末，調服之，痰下喘止。隨用瀉青丸、導赤散，二方相合，作湯服之，而搐止。餘熱未除，張主小柴胡湯、竹葉湯、涼驚丸，予不許，乃用四君子湯加炒黑乾薑，一服而身涼。祖母蕭氏怪而問淑道曰：莫非用芩、連、梔子，令兒身冷耶？淑道應其母曰：所服者參、朮、乾薑，非芩、連也。蕭命其子問予治病之法，後來有病，莫為醫所誤也。予答曰：大凡小兒肝常有餘，脾常不足。肝主風，搐搦氣逆，皆屬於肝。經云：太過則乘其所勝，而侮所不勝。故肝木旺則乘其脾土，侮其肺金，所以用參、苓補肺，甘、術補脾也。肝膽之火，名龍雷之火，水不能制，寒不能勝，必辛甘之藥，從其性而伏之，故用炒乾姜之辛熱，合人參、甘草之甘溫，以瀉其火而身涼也。張醫聞而驚服，乃命其子從予講幼科，予盡以其術教之。</p>
<p>羅田縣富室胡淑卿一子病驚風，先請甘醫治之，甘乃吾妾之兄，授以幼科，其術頗明，用瀉青丸不效，復請予至。吾恐其丸劑太緩，作湯加全蠍服之，不效。予思藥之不效，不對病也，於是親視其發驚之狀，其子昏睡，醒則大笑一聲，復作貓聲而後搐也。予曰：怪得瀉青丸不效，此非肝病，乃心病也。用導赤散一劑而搐止。淑卿大喜，詳問其故。予曰：心屬火，笑者火之聲也。火生在寅，屬虎，貓聲者虎之聲也。心為君主，不可輕犯，小腸為之府，導赤散以瀉小腸之火，則心火自平矣。</p>
<p>又一富室張世魯子病驚風，迎予往治之。時病已十七日矣，目右視而眨，口右張而動，手足向右掣引，舌上黑苔，勢已危急。予謂世魯之父希賢曰：令孫病劇，宜急取薄荷葉煎濃湯洗其舌，如黑苔去而舌紅，則病可治，否則不可治也。洗之黑苔盡去，以瀉青湯作大劑服之，口眼俱定，手足不掣，以涼驚丸、至聖保命丹調理十餘日而安。</p>
<p>又張族一寡婦吳氏，有子周歲，病驚風，大小便不通，請予治之。予用五色三黃丸利其驚熱，至聖保命丹定其搐。</p>
<p>縣學庠生汪元津一子，年五歲，傷食成瘧，瘧後發搐，乃脾虛病也，請予治之。予謂元津曰：凡治驚風，必用瀉青丸、導赤散，雖良工不能廢其繩墨也。今在令郎，必不可用，非予不能理此疾也，願得女衣一套，與公治之。元津曰：但得小兒安，何止女衣哉。予用調元湯、琥珀抱龍丸服之而搐止，但目不能開，昏昏喜睡，父母憂之。予思脾虛極矣，脾主困，故喜睡，目之上下胞屬脾，脾虛故不能開也。仍以調元湯服之，以補其虛，琥珀抱龍丸以安其神。脾喜樂，命平日所與作伴，同嬉戲者，環列床前，取鼓鈸之器擊之，或歌或舞以引之，病兒之目，乍開乍閉，以漸而醒，不喜睡矣。後用肥兒丸調之，兒病既安，竟負前言。</p>
<p>又伯兄監生汪前川一子，年四歲，七月病驚搐，請醫以拿法掐止之；八月連發二次，並以掐法；九月又發，乃遣人來問予。予曰：痰聚成驚，驚久成癇，幼科拿法，即古之按摩法也，病在榮衛者，可以用之，使榮衛之氣行，亦發散之意，病在臟腑，則不能去矣。驚久成癇，痰塞心竅之中，不亟治之，必成痼疾，古人所謂五癇者，自此得之。因制一方，以黃連瀉心中之邪熱為君，枳實、半夏去胸中之積痰為臣，硃砂、寒水石之類墜之，以安其神為佐，甘遂以逐上焦之痰飲，麝香以利竅為使，神麯作糊丸，如龍眼大。每用一丸，用獖豬心一個，刀批開，納丸於中，縛而煮之，待心熟，取丸和心食之，飲其湯以吞之，名曰斷癇丸。凡服豬心五個，再不發矣。</p>
<p>英山縣聞宅一子，年六歲，病驚風，請予往治。至則悶死，衣棺具備。予視其形色未變，手足尚溫，謂其父母曰：勿哭，吾能活之。與之針湧泉二穴，良久而蘇。父母喜而稱謝予。予曰：此兒之病，得之傷食，宿食成痰，痰壅作搐，今病雖愈，宿痰未去，恐他日復再作也，當制丸藥以除其根，不然神氣漸昏，必成癇也。其家不聽，謂吾索利，至次年八月，果成痰迷之病，大小便不知，解去其衣，水火不知避，復求予治之。予思其重醫之情，因制一方，以黃連、山梔仁瀉其浮散之火，牛膽南星、白附子（炮）以去其壅積之痰，茯神、遠志、石菖蒲、硃砂以安其神，麝香以利其心竅，用獖豬心中血和神麯糊為丸，如黍米大，燈心煎湯送下，調理半年，不復發矣。又與之灸風池、曲池、三里六穴而安。</p>
<p>蘄水縣陳宅一子，年二歲，病驚風，失於調理成癇，半月一發，來求藥。予用六一散末，分三包，一包用青黛相和，名安魂散，寅卯時竹葉煎湯下；一包硃砂相和，名寧神散，巳午時燈心煎湯下；一包入輕粉少許，名定魂散，申酉時薄荷煎湯下，調理半年而安。大凡癇病初得之者，十全八九，如遇二三年後者，不可治矣。時醫有用吐法者，有用滾痰丸下之者，徒損胃氣，百無一效。有制壽星丸治之者，一杯之水，豈能減積薪之火哉。</p>
<p>予婿李中庵，蘄水縣之學生也，年九歲時得癇，病則昏僕，口眼俱合，手足不動，喉中無痰，但僵仆如醉人也。予知其心病，乃制一方，用東垣安神丸去地黃，加茯神、遠志、石菖蒲以通其心竅，南星、珍珠末、鐵花粉以墜其痰，湯浸蒸餅丸，如黍米大，燈心煎湯下，調理一年而愈。</p>
<p>子第四男邦治，七八歲有癇病，發則面先青慘，目定視，口中有痰，如嚼物之狀，昏僕一食頃即蘇。予教其母，但見面青目定時，即以鵝翎探吐其痰，母依吾教，前後葉痰二升許，癇竟不發，如此調理三年而安。大抵癇病皆痰也，雖有五獸之名，各隨其臟，詳見錢氏方中。凡得此病，氣實者，控涎丹；氣虛者，斷癇丸。病愈之後，以琥珀抱龍丸調之，未有不安，但年深日久不可治也。</p>
<p>蘄水縣金谷山周小應子，半歲，病驚風，迎予往治之。視其昏睡不乳，發搐不休，予曰：搐而不止，止而復發，此不治證也。其家又請張醫，張用掐法，掐則目張口動，乃護痛也；捏其乳汁於口中，則吞之有聲。旁人竊笑予之不能，而稱張之術。予請再視其兒，目斜視，張曰看娘；口張而動，張曰要吃奶。予曰：非也。目斜視者，睹不轉睛也；口張而動者，脾絕也；掐而痛不哭者，啼不出聲也；吞乳有聲者，乳汁如水，下流汩汩，非自吞也。去生遠矣，何術之足稱耶？半夜兒死，張亦逃去。</p>
<p>麻城縣新店童云衢一子，生三月，遍身有瘡，一日瘡隱而發搐，時予在見素家，因請予視之。曰：但得瘡復出，則驚止矣。以瀉青丸方與之，加白殭蠶、全蠍，遍身紅，搐略止。予曰：皮肉紅者，瘡必出也，不須服藥。云衢求安之心太亟，不信吾言，或用拿法，或服湯劑，瘡久不見，又發搐，七日後而兒死。大抵小兒生下三月，變蒸未足，臟腑未實，不宜服藥，或不得已而用之，中病即止，不可過也。</p>
<p>黃州府學庠生周小川一女，生周歲，病昏睡不醒，頭傾項軟，眾醫議作風痰治之，時有管糧廳通判蕭取予在府，小川與予視之。予曰：頭者，六陽之合也。頭傾項軟者，乃陽虛之病也，非風也。主調元散，一服而安，覷者稱奇。</p>

<h3>疳病</h3>
<p>羅田知縣朱云閣只有一子，年七歲，甚珍愛之。脾胃虛弱，食多則傷，食少則困，形瘦而黑，常使韓醫治之。因其傷食，則與枳朮保和丸以消導之；因其困倦，則與參苓白朮丸以補之。時補時消，精神日瘁，將成疳矣。予告之曰：公子之脾胃素虛，不能消穀，故食易傷也。傷食而復消導之，則脾益虛，虛而復補，脾未得實，而傷者又至矣，豈良法哉？全進一方，專以補脾為主，內兼消導，名肥兒丸。公視其方，以四君子湯為主，加陳皮、青皮、木香、砂仁、山藥、蓮肉、使君子肉、神麯、麥芽、山楂肉，共為細末，荷葉包粳米，煮爛，搗為丸，米飲下，命予修制。自此不復傷食，肌肉漸肥矣。</p>
<p>縣學教諭許厚舉一子，年十四歲，吐血，諸醫作痰火治之，不效。生員董萬卷薦全，厚舉聽而請之。全診其脈，兩尺右關皆不足。全告曰：公子之年未及二八，脈當沉緊，今反不足，當作胎稟怯弱之病。全觀宗師體厚，何以有此？必夫人有虛病，或乳少得之也。厚翁聞而躍起大笑，呼師母曰：汝當初懷身時多病，生小哥後無乳，密齋之脈神哉！問作何病治之？全曰：十六歲以後病此者曰癆，十五歲以前病者曰疳，疳即癆也。宜用六味地黃丸以補腎，治其胎稟怯弱之病，參苓白朮丸補脾，助其生長之氣，病自安矣。乃制二藥服之，一月而安。厚舉稱讚之，全之名由此漸著矣。</p>
<p>監生王三峰有子，年二歲，多病，請予治之。予曰：此乳少病也。三峰曰：母乳極多。予不應而遂行。其父竹泉留之曰：煩公調治，必有厚謝。予曰：若使全治，必作少乳之病，今曰乳多，識證不明，不敢醫也，願別求明醫以治。力辭而退。時予寄寓三溪書館中，其夜東郊會川來訪，問予數日曾治幾病？所得幾何？予笑曰：只今早王三峰請去，看其子病，乃疳證也，因乳少得之，彼曰乳多，吾不與治，此兒成疳，可惜不救。會川聞知，亟去。三溪曰：此會川之婿，汝言太甚，故去矣。予曰：必與三峰同來，公等少坐。須臾，會川果與三峰至，謝曰：今早多慢！此兒之病，與吾先在南京所喪之兒病症同，乃疳病也。今聞會川述先生之言，正合吾心，望推猶子之愛，為我治之。予曰：因乳多乳少治法不同，請歸驗之，明早再議。各散去。次早三峰復至曰：先生之見神妙，及昨夜歸問拙荊，拙荊捏其母之乳，果無乳也，晝則嚼飯以哺之，啖以粑果，夜則貯水以飲之，奈何？予曰：欲使換其乳母，則母子認慣，不可換也。若不使有乳婦人養之，則此疾終難治也。不如仍與舊母養之，擇一少壯婦人有乳者，夜則相伴，以乳補之，久而慣熟，自然相親矣。三峰曰：有乳無乳，其法異乎？予曰：有乳之疳，得之傷乳，乃飽病也，宜集聖丸。無乳之疳，得之失乳，乃飢病也，宜肥兒丸。調理一月而安。</p>
<p>監生汪懷江有子，年六歲，病瘧久不已，面㿠白，發稀成穗，腹脹，食不作肌膚，乃疳病也。懷江一家凡有病者，諸醫用藥不效，惟予治之，所活者多，是以留居其家，朝夕甚恭。予重其情，故於此子之病，以養脾丸平其瘧，肥兒丸治其疳，調理半月而愈。</p>
<p>蘄水縣陸沉港李黃之妻，程稀川之女也，寡而一女，五歲，因傷風寒不愈，變為瘧疾，瘧止變為泄痢，痢止成疳，肌肉消瘦，飲食減少，日啖蓮肉十數枚。其母恐怖，遣人請予往治之。予曰：病名曰疳，形色雖衰，胃氣猶存，病可醫也。時有江西一醫萬鼎者，其叔李莊留在其家，學水煉秋石之法，妄談此病不治。予笑曰：勿患此女之病難治，當患水煉秋石之不成也。乃謂其母曰：堅心服吾之藥，勿為浮言所惑，吾去矣，待女病大愈，不負吾功。以集聖丸調理三個月而安，復請予謝之。予至其家，女出拜，貌甚妍。予問萬鼎何在？家人答曰：秋石不成，今騙一騾，而遠遁矣。</p>
<p>吾縣富室胡黑三長孫，一歲，病腦後啞門穴出一毒，如桃大，已潰，白膿不幹，請視之。予曰：此無辜疳也，法不能治。或問何謂無辜疳？予曰：《全幼心鑑》云：有妖鳥名雎，一名夜行遊女，白晝不出，夜則出飛，此鳥無雄，飛入人家有兒褓衣掛晾未收者，則布毒其上，兒著此即病而死，掠取其魂，化為己子，是名無辜疳，亦傳屍之類也。故病則頸上有核，針破之，內有白粉，況項後之疽，又九不治中之一證也，故云難治。時有一老醫號鄧風子者，以善拿法名，人相慕之。黑三請視其孫，鄧曰可治。予曰：久慕先生之名，如治此兒之病，名不虛傳。鄧曰是不難，乃留。五日後而兒死矣，鄧大慚而去。</p>
<p>又鄉中一小兒，方二歲，常利下綠水，形瘦如鬼狀，醫作疳病治之，不效。其父來問，予審其病狀，曰：此非疳病，乃胎氣所害，名曰鬾病者是也。凡人家養子者，勿與懷娠婦人抱之。如胎稟強者，則無此病，胎稟怯弱者，胎氣犯之，即成鬾病，如客忤之類。若治此病，只補其脾胃，待彼兒生，自然安矣，宜肥兒丸主之。</p>

<h3>咳嗽　哮喘</h3>
<p>胡元溪，戊子科舉人，三十九歲始得一子，時嘉靖丁酉也。辛丑春病嗽，請醫張鵬治之，名醫也，用葶藶丸，乍止乍作。至夏轉作，又請甘大用治之，吾所教者，用五拗湯不效。或以葶藶，或以五拗，發表攻裡，其嗽益加，至百十聲不止，面青氣促，口鼻血出，勢急矣。不請予者，予先補縣學廩膳，元溪與胡明睿、蔡惟忠等嫉而害之，不敢請也。至是事急，不得已而占之於筮，得大蹇朋來之辭，於是請予。予以活人為心，不懷舊恨，欣然而往，約以調理兩月而愈。元溪曰：何如是之難也？予曰：自春至秋，病已半年，肺為嬌臟，治之不易，請勿懷疑，看予調理。乃立一方，用天、麥門冬、知母、貝母、桔梗、甘草、蘇子、陳皮（去白）、黃芩、梔子仁、白茯苓，連進三劑，咳只二三十聲，口鼻血止。元溪心中不安，又請醫萬紹至。予心怪之，欲留不可，欲去則誤此兒之命。觀其主方，以二陳湯加防風、百部、杏仁、紫菀、桑白皮。予謂紹曰：肺氣已逆，升而不降，吾方抑之，其咳稍定，防風、百部升發之藥，似不可用。紹曰：防風、百部乃咳嗽之聖藥也。元溪曰：各有秘方，何以沮之？予曰：吾為爾子，豈沮同輩如昔日同類之嫉吾哉？乃摩其子之頭云：勿多服藥，病再發矣。力辭而歸。是日服其藥後，氣上逆而咳百十聲不止，口鼻血復來。其子呼曰：爺爺送了我命也。其妻鄧娘子且怒且罵，元溪心忙，托吾妾母謝罪，懇求予治。予笑曰：各有秘方，吾決不敢奪人之功也。待紹術窮，吾自來矣，不必強也。元溪跪而叩頭曰：明書不是，願勿峻拒。予往其家，鄧娘子出拜，謝曰：奴家丈夫不是，望勿記心，治好吾兒，必重報謝。其子手指白金一錠，約重三兩，曰：權為利市，望救我命。予恐多元溪疑，願置一簿，逐日登記病證藥方，以為醫案。元溪大喜，仍用前方，調理五日而血止。乃取生茅根，搗自然汁，和藥服之。血止，只用前方，或加款冬花、杏仁以止其咳，或去黃芩、梔子仁，加人參、白朮以補其脾，或去黃芩、梔子，加阿膠以補其肺，調理二十日而安。元溪問曰：小兒之咳，張、甘二醫治之不效，萬紹治之反甚，先生治二十日而愈者，何也？予曰：方春之時，多上升之氣，肺感風寒，當與發散，葶藶丸乃攻裡之劑，肺金本虛，而反瀉之，此一逆也。夏天火旺，肺金受克，當用清金瀉火之劑，五拗湯乃發散藥也，用熱犯熱，此二逆也。一汗之，一下之，肺金大虛，方秋之時，氣應降而不降，萬紹反用升發之劑，此三逆也。予用收斂清降之藥，以平其浮散之火，火衰於戌，時值九月，故病易已。元溪歎服。</p>
<p>黃岡縣省祭許成仁有子，病嗽，痰中帶血，醫用茅根湯治之，不效。時予在府，請視其子，且敘其所服之藥。予曰：此吾家治咳血方也，因胡元溪之子咳血，而立在彼則可，在此則不可。許問其故，予曰：彼病於秋，肺旺時也；此病於春，肺衰時也。彼病氣逆上，而口鼻出血；此病氣逆而痰中有血也。病既不同，治亦有別。乃用阿膠為君，杏霜、瓜蔞霜、貝母為臣，蘇葉、桔梗、甘草為佐，煉蜜作丸，薄荷湯化而服之，效。</p>
<p>致仕縣丞胡三溪一女，素有哮病，遇天欲雨則發，發則多痰，服五虎湯、九寶湯即止，不能斷根。吾於三溪呼為知己，思欲與之斷其根也。一旦得之，蓋痰聚而作喘，痰去則止。痰者，水液之渾濁者也。《難經》云：腎主液，液者水所化也。腎為水臟，入心為汗，入肝為淚，入肺為涕，入脾為涎。此腎喘也，乃以六味地黃丸服之，不復發矣。</p>
<p>一富室小兒，先病瀉，醫以藥服之，乃作喘，歸咎於醫，請予治之。予曰：非醫之誤，乃冷傷脾作瀉，脾傳肺作喘。脾為母，肺為子，傳其所生也。用陳氏芎蠍散，一服喘止而安。後用此方，治瀉後喘者良驗。</p>
<p>萬石泉，乃賓蘭之父也，一女，病久嗽不止，胸高氣急，問治於予。予曰：此龜胸病也。胸者，肺之腑也，肺脹則胸骨高起，狀如龜殼。吾聞其病，未曾治之，故無方也，或者不可治乎。石泉曰：肺脹者，氣實也，當服葶藶丸。予曰：病有新久，證有虛實，嗽久肺虛，再服葶藶瀉肺之劑，恐有虛虛之禍。石泉不聽，竟以是病卒。</p>

<h3>吐嘔</h3>
<p>縣學教諭熊文村子，二歲，病嘔吐，更數醫治之，皆不效，藥食入口，即吐出也。時學中諸友，或嫉予者短之，至是病亟。或與吾厚者薦之，文村差人請。全往告曰：病可治也。文村問用何方？曰：理中湯。文村曰：服多劑矣！不效，奈何？全曰：此在《內經》乃陰盛拒陽之病，寒因熱用，熱因寒用，伏其所主，先其所因，則效矣。時蔡惟忠在旁，嗾之曰：不必多談，且看用藥何如？予曰：吐止之後，乃見吾能，兄亦不必多談論也。乃作理中湯一劑，取獖豬膽汁、童便各半杯，和藥炒乾，煎而服之，吐立止。次日諸友來問，文村曰：神矣哉！藥入不吐，其吐止矣。公子稱渴，以湯飲之，復作吐。全曰：凡嘔家多渴者，胃脘之津液干也，當忍一二時，吐止胃氣立，津液生，渴自止矣。可將先藥渣再煎服之，仍禁其飲食。半日而安。文村詳問：同是理中湯，他醫用之不效，先生用之效者，何也？全對曰：公子胃寒而吐，當以熱藥治之。寒盛於中，投之熱藥，兩情不得，故不效也。今以理中湯為治寒之主，用豬膽汁之苦寒，小便之鹹寒為佐，以從其格拒之寒。藥下於咽，兩寒相得，藥入於胃，陰體漸弱，陽性乃發，其始則同，其終則異，故曰：伏其所主，先其所因也。此軒岐之秘旨，啟玄子之奧議，張長沙之良法也。文村稱善。</p>
<p>嘉靖戊午九月，庠生王民肅季子半歲，病吐，先請醫甘大文治之。亦吾之所教者，用理中丸、益黃散服之，不納，乳入即吐。議請予，大文沮之，民肅暗使人請予往。至則昏睡仰臥而努其身，有作慢風之候。予謂民肅曰：勢危矣。取理中末三分，用水一酒鍾，煎至半鍾，入獖豬膽汁、童小便各一匙在內，攪勻，以茶匙灌之。民肅曰：恐吐。予曰：不妨。初進一匙，少停，再進一匙，又少停，進一匙，命以乳哺之。乳母曰：怕吐。予曰：不妨。吮吸三五口，令其止，兒乃熟睡，一覺而醒，服盡其藥，乳不吐，身不努而安。</p>

<h3>泄瀉</h3>
<p>湖廣右布政使孫公淮海，隆慶元年五月有女病瀉，諸醫治之不效。身熱口渴，日漸羸瘦，醫作疳瀉主治，病益甚。公只一女，憂懼不安，有吏王濱江，黃岡人，知醫，因予曾治許成仁子咳血之病有效，乃薦全於公。公亟差人召全，時七月十三日也，全奉命而往。小姐年五歲，公命抱出視之。全告曰：瀉久氣虛，津液不足，故發熱而渴也。渴飲湯水，多則脾受濕，而泄瀉不止，腎益燥，而渴轉甚，瀉則傷陰，陰虛則發熱也。法當專補脾胃，使津液生，而先止其渴，渴止則瀉亦止，而熱自除矣。不出旬日，小姐大安。公喜，留居公𪠘書館中，令其早晚調理之便。全用白朮散作大劑煎湯，戒勿飲水，以湯代之，未半日而進兩劑。予揣其肺為津液之主，肺金太燥，不能生水，故渴不止，乃加法制天花粉。與葛根同等分，只一服，其夜渴減，瀉亦少。十五日，仍用前方，加天花粉，十六日，渴瀉俱止。公問：何不用胡黃連、銀柴胡以退其熱？全告曰：胡黃連、銀柴胡苦寒之性，恐傷胃氣，不敢用也。只服白朮散，其熱自除。二十日，身涼而熱除矣。公大喜，問全曾讀書否，全以實告。公因此加敬，賜之坐，問其病後調理之法，全進參苓白朮散方，作丸服之。公嘗命全侍飲，卮談經書子史，律歷之學。公文學之名，朝野知之，尤好佛經，見全旁通三教，忘其形跡。全告歸，公曰：我先以《禮記》中鄉試，後以《書經》中會試，頗有文名。今秋場屋中代巡，取我作兩經總裁，我入場，欲留汝在此調理八月，以寬吾愛子之心。全告曰：敢不奉命？公於八月初七日入場屋中，命其義男孫還朝夕相伴。還極聰明，先隨公在四川作廉使時，公命學醫，尤精於針。十三日，夫人嬌愛小姐太過，誤與菱啖之。小姐脾胃尚弱，生冷易傷，病喘，面目浮腫，夫人大驚，使還請全，以藥治之，幸勿使老爹知也。全使還覆命曰：夫人勿憂，有全在此。還問：當用何方？全曰：宜錢氏異功散為主治，加藿香葉以去脾經之濕，紫蘇以去肺經之風，則安矣。還如方，只一服而腫去喘止，還記其方。二十九揭曉後，公出場，見其方，喜謂全曰：此可作一醫案。留住至九月初十日，賜全以冠帶歸。</p>
<p>知縣朱云閣只一子，年七歲，嘉靖戊午六月病瀉且渴，請醫治之，至七月中旬猶渴瀉不止。予被人牽告在省，歸，公亟差人召之，全承命而往。公抱其子出，與全視之。全曰：公子大渴不止。公曰：病瀉，非病渴也。全曰：瀉傷脾胃，津液不足，故渴也。渴飲湯水，浸漬腸胃，故瀉不止。勿治其瀉，當治其渴，渴止瀉自止矣。公問宜且何方？全對曰：白朮散。公曰：前醫所用，皆是方也，不效奈何？全曰：用法不同。公問有加減不同乎？全曰：無之。按本方云：常與服之。常字有義。白朮散乃治瀉渴之聖方也，安得不效？但醫者之藥劑小，病者飲水多，藥不勝水，故不效也。謂之常者，以藥代湯，常與飲之，勿雜以水之謂也。乃作大劑，煎而飲之，未盡劑而渴瀉俱止。公由此知全，賜以儒醫之匾。</p>
<p>胡三溪一子多疾，托我調理。年三歲病瀉，時予在英山教書，三溪嘗學醫於我，甘大用吾之所教者，二人同議治之，不效。其兄胡元溪謂三溪曰：今有璞玉於此，雖萬鎰，必使玉人雕琢之。汝一子，不請密齋治之，可乎？三溪始遣人請予。予受其托，義不可辭，星夜來其家，視其子疾，乃傷食瀉也。予謂三溪、甘子曰：藥貴對病，病貴識證，證之未辨，宜藥之不效也。三溪曰：曩與甘子同治瀉者，皆公之教，未敢異也，然或證有異乎？予曰：吾嘗立教，瀉有三證：有熱瀉，糞色黃而渴；有冷瀉，糞色青而不渴；有食積瀉，糞酸臭而腹痛，或渴或不渴。此子之疾，所下酸臭，乃積瀉也。用丁香脾積丸一服而愈。三溪曰：巴豆下積而止瀉，何也？本草云：巴豆未瀉者能令人瀉，已瀉者能令人止。積去瀉止，自然之理也。</p>
<p>萬賓蘭，石泉之長子也，以癸未年九月生，次年六月病瀉，與吾先子菊軒翁求藥治之，隨止隨發。石泉年三十一始生子，愛子甚篤，來請先子，年七十六歲，不能往，命全往治之。至其門，石泉聞瀉甚，僕於地，起書牛，牛字放木凳上云：以牛謝之，就以牛字卜其病。予曰：牛下一橫凳，乃生字也。吾到，令郎之病即愈矣。予取陳氏肉豆蔻丸合胃苓丸，車前草煎湯下，只一服而瀉止。石泉曰：嘗服令尊藥，用一粒丹合胃苓丸服之，止而又發，再欲進一服。予曰：小兒腸胃嬌弱，不得已而用藥，中病即止，不可過也。其瀉果止。三日後，身發紅斑，狀如綿紋，石泉《傷寒活人書》了在心，曰瀉後發斑，此與陽明證下之太早，熱氣乘虛入胃之病同也，宜服化斑湯。只石膏性寒，瀉後脾虛，不可用也。予曰：有是病，則投是藥，何謂不可，請用之。未盡劑而斑沒身涼。</p>
<p>庠生胡鳳原，精於醫，有子病瀉，以理中湯治之，不效，復與吾兒萬邦正求藥，正以理中丸服之，亦不效，復問予。予曰：長沙著《傷寒正理論》云：傷寒下利，宜理中湯，不止，理中者理中氣也，治瀉不利小便，非其治也，五苓散主之。令郎之瀉不止，何不服五苓散？鳳原如其言而果效。</p>
<p>胡逵泉，東郊之長子也，其子年一歲，六月病瀉，東郊遠出，先請甘大用治之，不效，其母李夫人極賢，遣人請予。予視之，瀉下頻，並黃白而後重，發熱而渴，時天甚暑，皮膚乾燥而無汗，發稀成穗。予謂李夫人曰：令郎熱瀉成疳矣。瀉下頻並後重者，裡熱也；糞黃者，脾熱之色也；白者，乳汁不化，邪熱不殺穀也；口渴，皮膚乾燥，發成穗者，津液枯也。乃用四物湯合黃連香薷飲，乳母服之，以解其暑毒。初用四君子湯，調六一散，與兒服之，以解其裡熱；次用四君子湯合黃芩芍藥湯，以止其瀉；三用白朮散，以止其渴；四用白朮散加升麻，以舉其下陷之氣；五用白朮散加烏梅肉，以收其滑瀉之氣，皆不效。李夫人託人問之，予曰：五法不中病，術將窮矣。只有一法，此兒有福，必無慮矣。乃以黃連、木香、訶子、肉豆蔻、乾蟾、使君子肉、砂仁等分為末，粟米糊丸，陳倉米炒熱，煎湯下，調理三日，滿頭出熱瘡及小癤，身有微汗，渴瀉俱止。李夫人謝曰：吾兒得活，先生再造之恩也。</p>
<p>吾子邦正，辛卯年閏六月生，壬辰年六月病瀉，時予遭蹶，出外教書，妾兄甘大用學小兒科於我，以藥治之不效，加以大熱而渴，亟報予歸。問其所用何藥，甘曰理中丸。吾知其犯時禁也，乃制玉露散，澄水調服而愈。</p>
<p>嘉靖癸巳年六月，邑中有屠家徐姓者，子周歲半，病瀉，請甘醫之不效，大熱大渴，煩躁不安，甘強予往視之。予問曰：向服何藥？甘曰：玉露散，初服瀉已止，因熱未除，再與服之，又瀉，至今五日，病益甚。予教可用理中湯加熟附子治之。如服藥後，越加煩躁，再進一劑即效。若不煩躁，不可治也。予歸半月後，甘攜三牲酒來吾家，供獻藥王畢，命其妹設酒，請吾上坐，舉酒跪而勸。吾問何故？甘拜曰：祀藥王，乃問前年祖保（正乳名也）病瀉，用理中丸不效，師教以玉露散止之；今徐家子病瀉，用玉露散不效，師教以理中湯加附子止之，何也？予曰：理中丸之止瀉，補中氣之藥也。玉露散之止瀉，解暑毒之藥也。前年祖保病，汝用理中湯是也，中病即止，不可再服。因汝用之太過，犯時禁也，經云用熱遠熱，故以玉露散解之。今徐家兒病，汝用玉露散亦是也，中病即止，不可再服。因汝用之太過，犯臟禁也，脾喜溫而惡寒，故以理中湯加附子救之。甘曰：如此則理中湯、玉露散，皆不可用也？予曰：理中、玉露正治暑瀉之藥，當觀其證何如。若瀉而渴者，里有熱也，先用玉露散煎服，以解其熱，渴止即用理中丸以補其中。瀉而不渴者，里有寒也，先用理中丸以溫其中，即用玉露散、五苓散煎湯調服，以解其熱，利小便也。甘曰：師謂服理中湯後，加煩躁者可治，不煩躁者不可治，何也？曰：夏至後一陰生，坤乃六月之卦。《易》曰：坤為腹，陰在內而陽在外。坤屬土，土愛暖而不愛寒。玉露散雖治暑瀉之藥，其性寒，服之太過，脾土受傷，陰盛於內，陽脫於外。前日徐家兒病，吾見其面赤目張，口開唇燥，大熱大渴，此陽脫病也，故用理中湯加熟附子，以補其中氣，扶陽而抑陰也。如服藥之後，不加煩躁者，則脾為死陰，不可救也。必加煩躁，則陰勝陽，胃氣猶存，爭藥不敵病，故再進一服，則陽勝陰退而安。</p>
<p>胡汴一子，夏月病瀉，醫用理中以理中氣，五苓以利小便，豆蔻丸以止瀉，皆不效，請予治之。吾見發熱昏睡，腸鳴而利，水穀不化，曰：此傷風泄瀉也。經曰：春傷於風，夏生飧泄。飧泄者，謂水穀不化也。初病時，宜且黃芩芍藥湯加羌活、防風發散之。今病久，中氣弱矣，用建中湯加白朮、茯苓服之，三劑而安。</p>
<p>邑市中一小兒，未周歲，七月病瀉，諸醫不效，請予視之。曰：面嬌唇鮮，不可治也。錢氏云：瀉不定，精神好者，死。其家不信，請巫禳之，數日死。</p>

<h3>痢疾</h3>
<p>鄖陽撫治都御史孫公淮海女病痢，時隆慶戊辰七月也，承差王嘉賓馳驛來召全，全奉命往，自羅田至鄖凡五晝夜。公聞全至，亟召入，見之大喜，曰：吾女自五月病痢起，至今未安，荊州、襄陽、德安、鄖陽共四府醫官治之，今得汝來，吾無憂矣。全曰：先在湖廣，仗臺下小姐之福，幸而中病，安得徼天功以自誇耶？小姐萬福，痢不足憂。乃以河間黃芩芍藥湯加人參服之，五日而安。公謂全曰：那四個醫官，吾問他：養其血而痢自止，調其氣而後重自除，當用何方？彼皆不應。今見汝所用者，正此方也，果效。公於政暇時嘗語全曰：小姐去年五月病瀉，賴汝調理，今年五月病痢，又賴汝治效，吾想小姐兩年之病，都自五月得之，非瀉則痢，此何故也？全曰：脾虛故也。嬌惜太過，飲食傷脾。脾者，陰中之至陰也，屬己土。夏至一陰生，離卦主夏納己，一陰初生，陰土尚弱柔，加以飲食之傷，故有病常在五月為瀉痢也。公曰：煩汝立一方調治，勿使他年再病，可也？全曰：諾。乃以參苓白朮散方去扁豆、桔梗，加陳皮、青皮、木香、砂仁、使君子、神麯、粳米粉、荷葉，水煮糊為丸服之，自此大安，至今不復瀉矣。</p>
<p>知縣張鼎石公子生九個月，病紅痢，請全治之。曰：此傷熱乳病也。公曰：當服何藥？全曰：子母雙調，乳母宜服四物合黃連解毒湯，兒宜服香連丸。七日而愈。</p>
<p>汪四竹之子媳，周柳溪之女也，病瘧且痢，下白膿，治更數醫，半年不愈，請吾治之。用小柴胡湯合桂枝湯，加當歸、陳皮，服二十餘劑而瘧愈。隨以黃芩芍藥湯加人參治其痢，不效。予曰：藥不對病，待吾思之。悟曰：此病得之內傷，名為白蠱。乃用升陽勝濕防風湯，只一劑而安，眾驚服曰：神哉！</p>
<p>祝道山之長子，年七歲，病久痢不已，求治於予，予為制丸劑治之。丸者緩也，以治久病也。用錢氏異功散合香連丸為主，加豬苓、澤瀉、車前子以利其小便，神麯、麥芽以消其積滯，訶子、肉豆蔻、炒乾姜以止其痢，合之曰和中丸，約二兩許，服之未盡而痢止。此為家秘，治久痢不止方也。</p>
<p>汪望江年六十生一子，年三歲，病痢。先請甘醫下之太過，脾胃受傷，中氣下陷，瀉痢頻並。又請張鵬以豆蔻香連丸並粟殼等止之，痢甚，後重而少物也。請予治之。予曰：老年之子，胎稟已弱，痢宜下之，此通因通用之法，因人而施，不可過也。中氣下陷，法當舉之，陳莝未盡，劫澀之方，亦不可用也。乃以錢氏異功散，加木香、黃連、當歸、白芍藥、山藥、蓮肉，神麯作糊為丸，服之，十日後痢止。元氣未復也，只用前藥調之。謝予歸後，遇往武當進香者楊大明、陳德榮來辭望江，望江先因子病，有托二人便帶香疏之願，二人問其病何如？望江曰：請萬密齋治好也。二人曰：我有阿魏，治痢甚效。望江即求五分，作丸五粒，與子服之。予復至其家，望江以告。予曰：阿魏性熱，有大毒，耗人元氣，虛弱之人不可服也。望江曰：今早服一丸，飯後服一丸，服藥後熟睡未醒。予曰：痢止矣，何必服藥。此藥太峻，神氣被傷，恐非正睡也，試請呼之。望江命其母呼之不應，推之不知，急請予入房視之，白睛張露，氣已絕矣，望江大慟。詳記於此，以為輕妄用藥之戒。</p>

<h3>瘧疾</h3>
<p>知縣林樂田只一女，年七歲，習男裝，官出則送至門內，拱候升轎，官入則拱俟於門內，公篤愛之。一旦病瘧，三月一發，醫以藥截之不效，神倦形弱，乃召全治之。全曰：脾胃虛矣，法當補之。公曰：瘧之不絕，何謂補脾？全曰：治瘧有三法。初得之，邪氣尚淺，正氣未傷，宜急截之，不可養邪以害其正。中則邪氣漸深，正氣漸衰，宜先補正氣，而後截之，不可常截，使正氣益衰而邪之獨強也。末則正氣衰甚，邪氣獨存，宜補其正氣，使正氣復，則邪氣自退也。公曰：善。命全製藥，全以平瘧養脾丸調理一月而愈，仍禁其雞魚生冷。</p>
<p>蘄水縣團陂王桂屏之子病瘧，三日一發，請予治之。予用胃苓丸合小柴胡湯方，作丸服之。初三日一發，又間日一發，後一日一發；初於午後發，漸移於辰時發。桂屏問曰：連日服藥，瘧疾轉發急者，何也？予告曰：此瘧將退之漸也。蓋瘧疾三日一發者，邪氣深，難已；一日一發者，邪氣淺，易愈。午後瘧者，邪在陰分，難已；午前瘧者，邪在陽分，易愈。今令郎之瘧，自三日移作一日，自陰分移至陽分，故云將退之漸也。時有麻城丁醫生來，聞吾之論，笑曰：那有許多議論，吾有秘方，治瘧如神。桂屏急欲其子之安，求藥治之。予不知其所用者是丸是散也，自此依舊三日一發，發以酉時至次日巳時後始退。予見病辭歸，桂屏留之甚堅。予曰：令郎病將愈，是丁先生一個秘方，又勞我重費一番力，前功落水矣。桂屏亦埋怨丁，丁慚而去，予留一月，調理而安。</p>

<h3>腫病</h3>
<p>萬邦瑞一女，年十四年，病腫。寅至午，上半身腫；午至戌，下半身腫；亥子丑三時，上下腫盡消，惟陰腫，溺不得出。諸醫不識其病，邦瑞不輕用藥，請予治之。予曰：此腎肝二經病也。腎者，水臟也，亥子丑三時，水旺之時也。肝屬木，腎之子也，水生於亥，子醜二時，肝膽氣行之時也；足厥陰肝經之脈，環於陰器，故當其氣行之時，陰腫而溺不得出也。水在身中，隨氣上下，午時以前，氣行於上也，故上半身腫，午時以後，氣行於下也，故下半身腫，此病源也。五苓散，瀉水之藥也。經曰：諸濕腫滿，皆屬脾土。平胃散，燥濕之藥也。故以二方相為主，名胃苓湯，加生薑皮之辛熱，助桂枝、陳皮以散肝經之邪，茯苓皮之甘淡，助豬苓、澤瀉以滲泄腎經之邪，防己之通行十二經，以散流腫上下之邪也。服十餘劑而愈。</p>
<p>舊縣張宅一子，瘧後病腫，求予治之。予曰：此脾虛腫也。與之胃苓丸，用長流水煎燈心送下。教以每日午時前後，天氣和暖，燒溫水，於避風處洗兒。洗畢，床上被覆睡一時，令有微汗甚佳。此水漬法也。經曰：漬形以為汗。調理半月而平復如常。</p>

<h3>脹病</h3>
<p>汪元津幼子病腹脹，按之甚堅，食漸少。元津之婿胡正衢與吾之婿李中庵，兩親家也，因此私親，請予治之。予曰；此傷食病也。以胃苓丸調理而愈。</p>

<h3>發熱</h3>
<p>義官黃學儀有子，病熱不退，請先翁調理，約以熱退厚謝。一日先翁歸不樂，全問其故，翁曰：黃家小兒熱，今醫七八日不效，是以不樂。全問其狀，翁曰：日夜發熱，小便赤，大便難。全曰：父用何藥治之？翁曰：先服胃苓丸，今服涼驚丸。全曰：不效。翁問全曰：汝能治此病否？全對曰：能之。此名風熱，乃肝病也，宜用瀉青丸，熱即退矣。翁以是言告黃公，黃公同來請全，往視之，真肝病也，遂用瀉青丸治之，五日而愈。父喜謂吾母曰：曩教兒讀書，爾說我不教兒學醫，吾曰醫出於儒，爾不信，吾有子矣。</p>
<p>一染鋪余姓者有子，病熱，諸醫汗之、下之、和解之，皆不效，請予視之。曰：此虛熱也。用調元湯加炒乾姜，未盡劑而熱除。</p>
<p>吾之長男萬邦忠，先翁年八十始見此孫，篤愛之。幼多疾，一日病瘧後，潮熱，日瘦一日，先父母憂之。全告之曰：此疳熱也。用小柴胡湯加鱉甲、當歸、川芎、陳皮、青皮為丸，服之愈。</p>

<h3>腹痛</h3>
<p>王小亭之子，胡三溪之婿也，嘗病腹痛，乃蟲痛也，托予治之。予用安蟲丸，取下一蟲，長一尺，大如拇指，引而伸之，約長丈餘，其形如線，以火焚之。後又胃脘當心而痛，予以草豆蔻丸治之不效，心竊怪之，是何痛也，以吾治之，三日不愈。乃以手按而摸之，問其痛在何處，手不可近，因悟曰：上焦如霧，有氣而無物也。經云濁氣在上，則生䐜脹者是也。若痰飲，若宿食，若瘀血，停在胃脘，當心而痛者，此物而非氣也。凡痛，手可按者，虛痛也；手不可按者，實痛也。氣之為痛，有實有虛；物之為痛，有實而無虛也。今痛在胸中，手不可按，非食則痰，乃實痛也。以小陷胸湯內取黃連、枳實、半夏，控涎丹方內取甘遂、白芥子，加大黃、黑牽牛，神麯作糊為丸，如蘿蔔子大，薑湯下二十一丸。其痛下在脘，又進十四丸，痛下小腹，又進七丸，利下黃涎半碗而安。</p>
<p>胡滂，少喪父母，伯母蕭氏養之，嘗病腹痛，伯父胡泮西請予視之，乃蟲痛也。泮西曰：何以辨之？曰：凡腹痛一向不止，乃積痛也。乍發乍止，腹中成聚，口吐涎水者，蟲痛也。用苦楝根白皮煎濃湯，送下雄黃解毒丸。取一蟲，如指長，如嬰兒形。伯父母怪之，以鐵鉗夾定，請予問之，是何蟲也？予曰：此三傳癆蟲也。初起於父，再傳其母，三傳其子。今取下矣，此子之福也。因命一婢，夾定送至河中，火焚之。其婢受煙氣一口，病瘵而卒，自此斷根。</p>
<p>戶房吏聞安，麻城人，有子病蟲痛，先翁嘗用雄黃解毒丸，苦楝根煎湯下，未見有蟲，腹痛不止，先翁命全與治之。全思此蟲有神，如二豎藏於膏肓之中，針藥之所不能治也。默思一法，此食積所化也，宿食成積，積久成蟲，食積之蟲，所嗜者味也，乃問此兒平生愛吃何物，其母答曰：喜吃煎炒。於是擇上旬破日，暗煎苦楝根湯，勿令兒知，用清油煎雞卵作餅，十分香美，兒欲食之，故遲不與，以少許啖之，喉中涎出，即取苦楝根湯，送下雄黃解毒丸，服藥下咽，以卵餅與之，似不愛矣，半日後大泄，取下黑蟲如蝌蚪子者約半盆，盆中旋走，以火焚之，自此腹不痛矣。</p>

<h3>啼哭</h3>
<p>知縣張鼎石在任生一公子，少乳，求有乳婦人為乳母，年未一周，病啼哭，晝夜不止。幼科甘大用陰結乳母，鑽求進用，至是召入視之。初稱腹痛，用理中丸不止，又稱傷食，用益黃散不止，鼎石想起全名，急差人請去。抱公子出，全觀其形色，曰：公子腮頰目赤，乃心煩啼哭也。公曰：腹痛。予曰：腹痛者面青。公曰：傷食。予曰：傷食者面黃。此心中有熱，煩而啼也。用導赤散加黃連、麥門冬，燈心煎服之。次日早，公差人促全入衙，面語全曰：昨夜哭更多，何也？全曰：病安矣。公曰：病安何以哭不止？全告曰：公子啼哭，三日夜不乳，昨夜熱退心涼，欲得乳，而乳母在外，故知往夜之哭，病哭也，昨夜之哭，飢哭也。公笑曰：果然。乳母五更到，哭即止矣。蕭敬吾聞之，問予曰：先生何料之審耶？予曰：識證既明，用藥且當，料之審矣。</p>
<p>胡三溪之子，年一歲半，日入後，忽然大哭不止，時七月七夕也。三溪設酒，請予露坐庭中，共慶牛女之會。汪娘子見兒哭不止，請全入視之。曰：無病。須臾又請入，問曰：哭久不止，必有病痛。吾細察之，無病。飲未數杯，汪不命酒出，使人責其夫，微言侵我。三溪強予再入，仔細察之，果非病也。無病而哭，必心中有所欲而不能言，謂之拗哭。乃問此兒今日所喜弄者何物也？乳母答曰：馬鞭子。亟命取至，乃笑而持之，擊其乳母，不復哭矣。吾謂三溪曰：令正娘子見兒哭不止，說了許多閒話，今喜哭止，必須盛饌痛飲一醉可也。再設酒，飲至半夜而止。次早三溪以此言語人，人皆曰密齋心聰。或有據乎？因問之。予曰：有此一條，小兒害相思病醫案也。觸類而得，誠有據也。</p>
<p>汪玉虹生子三日，啼哭不止，亟請予去。謂玉虹曰：必斷臍失謹，風冷之氣入於臍中，腹痛而哭也。玉虹曰：我亦如此想。乃取蘄艾炒熱，搗如綿，再烘令熱，以封其臍，冷則易之，凡三易而哭止。</p>
<p>汪懷江生子二月，夜啼不止，請予治之。予曰：此肝熱也。以瀉青丸，竹葉湯入砂糖少許，調服而安。</p>

<h3>卵腫</h3>
<p>朱云閣公子病卵腫，逾年不消，成㿗疝矣。嘗與全議其病，全告曰：足厥陰肝經之脈，環於陰器，肝之志為怒，小兒性急多哭者，常有此病，一名氣卵，常見人病此者，不廢生育，與壽無干。公又曰：有治法，此病亦可治乎？全告曰：有治，但勿求速效可也。公曰：病既有治，雖一年有效，何如？全制一方，用川楝子肉、小茴香（炒）、青皮（不去穰）、山茱萸肉、山楂、木香、當歸、川芎、海藻、三稜、莪朮（二味用黑牽牛同炒，去牛不用），共為末，神麯糊為丸，溫酒下。更灸臍旁穴，而腫消矣。</p>
<p>知縣梁大公子，年七歲，常有疝氣病，發則右邊卵腫，上貫小腹，下連睪丸，約長五寸，大如杵，堅緊苦痛，大小便難。一旦病發，公謂全曰：聞汝幼科甚精，煩為小兒治之。全曰：諾。乃制一方，用當歸梢、青皮（不去穰）、川芎、山梔仁、木通、木香、川楝子肉、小茴香、甘草梢、豬苓、桂、附，與醫生韓鳳岐取藥，合服之，二劑而安。</p>

<h3>結核</h3>
<p>蘄水縣庠生朱震三長子，年五歲，病結喉下生一核，大如李，兩旁有小核相連者二三核，托予婿李中庵求藥。予制一方，用東垣涼膈散方去甘草，加龍膽草、玄參、貝母、海藻、麥芽粉，共為末，神麯作糊為丸，如彈子大，每服一丸，研細，溫酒調服，七日而安矣。予用此方治活兒甚多。</p>
<p>團風鎮帥碧泉有子，頷下一結核大如李，誤聽俗醫之言能去之，貼以藥。一日，丘長史定齋至其家，見之，謂碧泉曰：若是結核，不必治也，久則自消。碧泉不實，告謬曰：熱癤也。自後核腫潰爛，橫亙頷下，請予去，其子口張，脾已敗也，終不可治。</p>
<p>監生王思泉有子，年五歲，耳後出結核二枚，求予治之。予曰：此有二證，無辜疳核不可治，結核不必治也。王子不聽吾言，必請他醫治之，妄用縱橫內消之毒劑，核不少減，胃氣乃傷而無救矣。</p>
<p>予記此二條，以為輕妄用藥之戒。</p>

<h3>蟲疥</h3>
<p>吾長孫，乃邦孝之子，生下遍身生蟲疥。予制一方，用烏梢蛇（酒浸，去皮骨，取淨肉，焙乾）一錢，苦參（酒浸，切，曬乾，取末）一錢半，白蒺藜（炒，去刺）一錢半，三味為末，酒糊丸，如粟米大，每服十五丸，竹葉煎湯下，蟲疥滅跡不復發矣。</p>
<p>邑中有一小兒，身生蟲疥，醫用藥搽之，瘡盡沒，腹脹而喘，求藥於予。曰：幸未發搐，尚可治也。乃與雄黃解毒丸，竹葉、燈心煎湯下，利黃涎，瘡出而安。或問予曰：蟲疥不可搽乎？予曰：蟲疥者，胎毒也，宜用解毒之藥，使毒散於外，不可妄用搽藥逼之，使反於內也。搽瘡之藥必用砒硫水銀，以殺其蟲，藥毒之氣乘虛入里，誤兒性命，切宜慎之。</p>

<h3>口瘡</h3>
<p>一小兒舌上生瘡，口唇破裂，吮乳不得，日夜啼哭，求藥於予。予用洗心散，入竹葉煎服，以解其裡熱，外用柏連散擦之，效。</p>
<p>予一小孫無父，年周歲半，生走馬疳瘡。吾制一方，用尿桶白垢（刮下，新瓦上炭火燒過）五分，五倍子殼內蟲（灰焙）二分半，鼠婦（焙乾）二分半，枯白礬一分，共為細末，擦之即愈。</p>
