<header data-type="book">
<h1>瘍科捷徑</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>楊成博</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1831">公元1831年</data></dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>癰疽原委論</h2>
<p>癰疽發背為何生，好好身軀出此形，內被七情干臟腑，憂愁思慮總關心。外有六淫傷氣血，風寒暑濕火相臨，膏粱厚味多無忌，勞傷房欲致虧陰。故將五臟多乖變，自然六腑不調勻。發於心上多危陰，五臟相干事可明。心之以下多成順，六腑之因亦許評。脾家積毒生肩脊，心經火毒對心生。兩肩左右雙生髮，肺肝積受不虛名。蓮子蜂窩防毒蹈，腰間腎俞發難生。督脈經虛從項發，俗名對口故相稱。何其耳後多生髮，夭疽銳毒不非輕。又有脫疽生手足，丹房補術孽根因。漫腫難治焮腫易，總論中間法可憑。諸瘡另自分門說，豈可輕於紊此呈。</p>

<h2>癰疽治法歌</h2>
<p>癰疽發背怎生醫，不論陰陽先灸之。不痛灸之痛，疼灸不疼時。內服蟾酥丸一服，外將神火照三枚。用膏貼頂上，敷藥四邊圍。氣盛兮，頂自高而突起，血盛兮，根腳束而無凝。高腫起者，忌用攻利之藥以傷元氣。平塌漫者，宜按補托之劑以益其虛。內熱甚者，量加消毒清劑。便閉燥者，必需通利相宜，使臟腑得宣通，俾氣血自流利。十日之間瘡尚堅，必用披針當頭點破。半月之後膿亦少，須將藥筒對頂撥提。有膿血之交黏。必腐肉之易脫。且如斯時，內有膿而不外發者，以針鉤向正面鉤起，頑肉用刀剪，當原頂剪開寸余，使膿管得通流，庶瘡頭無閉塞。頻將湯洗，切忌風吹。又關節在於斯時，變生出於此候。治當大補，得全收斂之功，切忌寒涼，致取變生之局。蓋瘡全賴脾土，調理必要當詳。冬要溫床暖室，夏宜淨幾明窗。飲食何須戒口，冷硬膩物休餐。癰疽雖屬外科，用藥即同內傷。脈虛病虛，首尾必行補法；表實裡實，臨時暫用攻方。病要論新久，要法在於寬治猛治；藥必求標本，功莫別於先醫後醫。若一概之攻補，恐兩途之誤用。又說陽變為陰，內外被寒涼克伐。豈其陰變為陽，首尾得辛熱扶裝。病分真似，理究陰陽。既有針功之異說，豈無線藥之品詳。湯散丸丹，要在發而必中；神聖工巧，誠為學者機關。至於千方百症，難將說盡短長。治在活法，貴在審詳。用之必得其當，醫斯可以稱良。詞雖近於粗鄙，可為後學提綱。</p>

<h2>癰疽陽症歌</h2>
<p>癰疽不論上中下，惟有陰陽二症推。發背雖有正與偏，要取高低兩樣看。純陽初起必焮腫，更兼身熱有微寒。頂如尖字高突起，腫似彎弓根有盤。七日之間多焮痛，二七之期膿漸滿。動息自安食知味，二便調勻無瀉干。腫消膿潰精神爽，脫腐生新氣血完。五善自然臻並至，七惡全無半點干。痛便隨膿減，腫退自肌寬。新肉已生紅豔豔，腐皮自斂白漫漫。一身多爽快，五臟盡知歡。此屬純陽俱易治，百人百可保安全。</p>

<h2>癰疽陰症歌</h2>
<p>純陰初起不知瘡，粟米之形疙瘩強。不紅不腫不知痛，少熱少𪾯少提防。七朝之後身體倦，瘡根平大喜澆湯。頂不高兮根不活，色不光兮腐不穰。軟陷無膿空結聚，脈浮散大細飛揚。飲食不餐身戰戰，嘗湯止許意茫茫。瘡上生衣如脫甲，孔中結子似含芳，膿多臭穢身難便，舉動倉皇韻不長。瘡形成紫黑，面色變青黃。精神昏憒多鼾睡，言語無人便發揚。口乾多舌強，痰喘定身亡。此屬純陰俱不治，百人百可到泉鄉。</p>

<h2>癰疽半陰半陽歌</h2>
<p>陰陽之症兩相交，生死同兼事可招。微熱微寒微赤腫，半昏半爽半平高。脈來雖數多無力，飲食雖餐便不消。腫而不潰因脾弱，潰而不斂為膿饒。大便多溏小便數，上身有汗下身焦。五善雖兼有，七惡未全逃。口渴喜茶腸腹痛，面浮厭飲足心高。心煩不穩睡，神亂怕音焦。投方應病方為妙，陰轉為陽漸可調。心真造化，爾命堅牢。逢之任是神仙手，半死餘生定莫逃。</p>

<h2>癰疽五善七惡歌</h2>
<p>心善精神爽，言清舌潤鮮，瘡疼兼不渴，睡醒得安然。肝善身輕便，因煩自不煩，指頭紅活色，坐起覺平康。脾善唇滋潤，衾幃蒺蘭麝香，凡食俱有味，膿厚更肥黃。肺善聲音響，無痰韻更長，肌膚多滑潤，大便自尋常。腎善誠為要，水升火自降，口和兼不渴，小水得稀長。</p>
<p>一惡神昏憒，心煩舌上干，瘡形多紫黑，言語自呢喃。二惡腰身強，目睛斜視人，瘡頭流血水，驚悸是肝迍。三惡形消瘦，膿清臭穢生，瘡形多軟陷，脾敗不知疼。四惡皮膚槁，聲嘶韻不長，痰多兼喘急，鼻動肺將亡。五惡成消渴，隨飲即隨干，形容多慘黑，囊縮腎家端。六惡身浮腫，腸鳴嘔呃頻，大腸多滑泄，臟腑並將傾。七惡瘡倒陷，形如剝鱔同，四肢多冷逆，汙水自流通。</p>

<h2>治病則例歌</h2>
<p>外科之瘡有治例，說與君家須切記。病端百出別根因，方法一囊豈同類。熱與寒，通與秘，其中消息知端的。通多不足秘多餘，熱實寒虛分症治。陽似陰，陰似陽，似中妙理要推詳。不分表裡一例治，輕變重而重變亡。醫者貴乎多應變，不可偏執用其方。且如表症惡寒，宜用荊防敗毒散。里症發熱，可將內疏黃連湯。瘡勢已成，托裡消毒散誠為要法。內膿將潰，十全大補湯最得相當。人參養營湯治潰後虛熱發作。木香流氣飲散結腫寒濕為殃。飲食不甘，定用香砂開胃，精神怯少，須將參朮回陽。陰虛，須八珍最為要領。盜汗自汗，得獨參一味可強。潰後多疼，乳香定痛散功高莫緩。脾虛下陷，補中益氣湯功效猶良。口燥譫言瀉實火，須黃連解毒湯。心煩衄血理虛陽，必犀角地黃湯。古法治癰疽，稱述仙方活命飲。今時醫發背，遠期神授衛生湯。蟾酥丸在外科稱為獨品。護心散解內毒號曰無雙。詎知蠟礬丸護膜護心。可羨淡中有味。還贊玉紅膏生肌生肉，堪誇懷裡呈祥。身涼自汗腹痛腸鳴嘔逆，豈逃異功散。睡臥不安虛陽發躁膿多，定用聖愈湯。生脈散接虛羸脈來微細。歸脾湯除驚悸睡得安康。竹葉石膏湯治虛煩身熱者，何須疑慮。麥冬清肺飲消膈熱有痰者，毋待商量。金鯉湯治肺癰吐膿氣急，元龜丹攻結毒臭腐頑瘡。風熱生瘡通聖散，瘡瘍狂躁破棺丹。小柴胡湯，治客邪往來潮熱。大防風湯，攻腿膝寒濕為殃。咽腫咽疼，定用清咽利膈散。斑紅斑紫，豈逃化斑解毒湯。八味丸療口乾妙藥，二神丸治脾泄奇方。香連丸為臟腑瀉痢通用，甘露飲治口齒腐爛相當，六和湯補脾除瀉痢，雙解散解表裡內傷。逍遙散善治女人諸病，保元湯當扶赤子多傷。皮膚毛髮乾焦，蘆薈丸效應甚速。咽喉口齒腫痛，冰硼散功實非常。滋腎丸治下元腎虛不固，涼膈散解上焦膈熱多煩。九龍丹消魚口吞之滅跡，二蛟散行濕腫服下安康。呂祖一枝梅，止痢定驚稱為仙藥。真君妙貼散，消疼止痛號曰神方。痔瘻癭瘤疔毒古誇三品錠，癰疽流注諸風今羨萬靈丹。柴胡清肝湯治鬢疽肝膽有效，黃連消毒飲醫對口督脈猶良。小兒口內生疳，必用人中白散。大人咽喉腫痛，須將鎖匙湯。下疳新久珍珠散，小便淋塞木通湯。玉貞散破傷風最效，復元湯跌撲者稱強。提肩散治胳膊強直作痛，拈痛湯治痛腿風濕相傷。小便生疳，龍膽瀉肝湯可羨。大頭腫痛，普濟消毒飲何妨。臟毒懸癰，內消散吞何足慮。臀癰腿痛，耆柴湯下自無殃。又有女子陰瘡能腫能作癢，在人活法或消或補或蟲方。蓋男子之囊癰，瀉肝經之濕熱。小兒赤遊丹，解毒兼砭血。凡治楊梅瘡，解熏為至切。舌下發痰包，利剪方能泄，出如雞蛋清，消痰是真訣。結毒與頑瘡，紫金膏可設。風瘡徹骨癢，雄黃散效絕。疔瘡先刺血，內毒宜汗泄。禁灸不禁針，怕棉不怕鐵。又有失營症，堅硬如岩凸。強陰失道症，形狀要分別。婦人之乳岩，此中一例訣。未破肉嶒稜，已潰流臭血。如此幾般症，古今無治說。瘡有數百種，難以都陳白。惟在一點心，何須三寸舌。學者若精靈，萬事皆通徹。此為粗糙歌，可譏又可閱。</p>

<h2>論病生死歌</h2>
<p>初生如粟，里可容谷。外面如麻，裡面如瓜。外面如錢，里可容拳。起勢大而終無害。未老先白頭，無膿軟陷休。瘡從疙瘩起，有膿生方許。腫潰氣昂昂，不治自安康。根高頂人高，八十壽還饒。焮腫易腐爛，任大終無恙。瘡高熱焮疼，雖若必然生。瘡軟無神氣，應補方為益。肉腫瘡不腫，畢竟生疑恐。膿穢不進食，泄瀉黃泉客。瘡色豬肝紫，無膿必定死。綿潰不腐爛，內怕葡萄嵌。仰臥不知疼，畢竟命難生。面忽似塗朱，十日後分離。敗中有紅肉，雖從生門路，新肉如板片，不食終須變。手足皮膚槁，血敗生難保。唇白眼無神，腹脹瀉將傾。淹氣不滃氣，雖重多生意。眼眶黑氣濃，癰疽怕此逢。房中香馥馥，是病終為福。瘡熱身微熱，輕病何須說。生死此中術，片言一可決。</p>

<h2>腫瘍治法歌</h2>
<p>腫瘍症，細詳明，寒熱陰陽仔細評。表實荊防宜早用，萬靈投服亦堪行。</p>
<p><u>荊防敗毒散</u></p>
<p>荊防敗毒散人參，羌獨前柴芎桔侵。枳殼茯苓同炙草，寒加蔥引表邪深。</p>
<p>荊芥　羌活　前胡　桔梗　川芎　防風　獨活　柴胡　枳殼　甘草　人參　茯苓　蔥白</p>
<p><u>保安萬靈丹</u></p>
<p>萬靈丹用術防風，羌活麻黃歸斛芎。天麻二烏甘蠍芥，雄黃何首北辛攻。</p>
<p>茅朮　麻黃　荊芥　雄黃　川芎　首烏　細辛　防風　天麻　當歸　石斛　川烏　草烏全蠍　生草　羌活</p>
<p>上為細末，煉蜜作丸如彈子大，每服一丸黃酒送下。</p>
<p>裡實症亦須清，發熱心煩便結更，內疏黃連湯可進，若施沃雪疾能輕。</p>
<p><u>內消沃雪湯</u></p>
<p>內消沃雪草陳皮，乳沒青翹歸芷耆。皂甲射干銀貝芍，木香花粉大黃宜。</p>
<p>黃耆　歸身　陳皮　土貝　草節　花粉　赤芍　青皮　連翹　銀花　木香　乳香　沒藥白芷　山甲　角針　射干　大黃</p>
<p><u>內疏黃連湯</u></p>
<p>內疏黃連湯木香，梔歸芩芍薄荷榔。大黃桔草連翹用，邪毒消除身自強。</p>
<p>川連　歸身　連翹　淡芩　大黃　木香　芍藥　桔梗　黑梔　檳榔　薄荷　生草</p>
<p>表裡後，毒未清，真人活命飲相迎，已成勢屬難消退，消毒排膿自可平。</p>
<p><u>真人活命飲</u></p>
<p>真人活命用銀花，防芷歸陳草節加。貝母天花兼乳沒，穿山角刺酒煎賒。</p>
<p>防風　歸身　乳香　陳皮　花粉　山甲　沒藥　土貝　白芷　角針　金銀花　甘草節</p>
<p><u>透膿散</u></p>
<p>透膿散內用黃耆，山甲芎歸總得宜。加上角針頭自破，何妨膿毒漸輕離。</p>
<p>黃耆　川芎　歸身　穿山甲　角針</p>
<p><u>托裡消毒散</u></p>
<p>托裡消毒散人參，芎芍耆歸茯術臨。白芷銀花甘桔等，角針加入力偏深。</p>
<p>人參　川芎　桔梗　角針　銀花　白朮　歸身　茯苓　白芷　黃耆　芍藥　甘草</p>
<p>毒攻裡，作惡生，煩躁神昏似屬驚，護心散與臘礬丸，護心護膜自然平。</p>
<p><u>護心散</u></p>
<p>護心散內乳硃砂，豆粉還同甘草加。每服二錢開水下，應除嘔吐用無差。</p>
<p>綠豆粉（一兩）　乳香（三錢）　硃砂（二錢）　甘草（一錢）</p>
<p>上為細末，每服二錢開水送下。</p>
<p><u>琥珀蠟礬丸</u></p>
<p>琥珀蠟礬丸琥珀，明礬黃蠟與硃砂。雄黃蜂蜜丸成就，保護心膜效獨誇。</p>
<p>白礬（一兩二錢）　黃蠟（一兩）　雄黃（一錢二分）　琥珀（一錢）　硃砂（一錢二分）　蜂蜜（二錢）</p>
<p>煉蜜為丸服一錢。</p>
<p>表裡熱，口渴生，竹葉黃耆湯有名。不腫不紅陰分怯，回陽三建法誠精。</p>
<p><u>竹葉黃耆湯</u></p>
<p>竹葉黃耆湯草芩，芎歸耆芍共人參。石膏半夏兼冬地，淡竹生津解渴心。</p>
<p>人參　川芎　白芍　黃芩　石膏　黃耆　歸身　麥冬　甘草　竹葉　地黃　半夏</p>
<p><u>回陽三建湯</u></p>
<p>回陽三建附參耆，歸術芎苓杞獨萸。陳樸木紅甘紫草，陰疽危症足堪圖。</p>
<p>人參　川芎　木香　茯苓　甘杞　黃耆　歸身　厚朴　陳皮　萸肉　附子　紅花　蒼朮獨活　紫草　甘草</p>

<h2>外治法歌</h2>
<p>外治法，亦須評，紅腫高疼症屬輕。宜敷如意金黃散，陰症回陽照法亨。</p>
<p><u>如意金黃散</u></p>
<p>如意金黃散大黃，薑黃黃柏芷陳蒼。南星樸草天花粉，敷上腫消體便康。</p>
<p>花粉（十斤）　川柏（五斤）　大黃（五斤）　薑黃（一斤）　白芷（五斤）　厚朴（二斤）　陳皮（二斤）　甘草（二斤）　蒼朮（二斤）　南星（二斤）</p>
<p>共為細末，蔥蜜調敷。</p>
<p><u>回陽玉龍膏</u></p>
<p>回陽膏內芍南星，白芷軍姜肉桂馨。更入草烏同搗末，調加熱酒自多靈。</p>
<p>肉桂（五錢）　白芷（三兩）　軍姜（三兩）　草烏（三兩）　赤芍（三兩）　南星（三兩）</p>
<p>共為細末，元酒調敷。</p>
<p><u>神燈照</u></p>
<p>照法神燈效獨誇，麝香雄竭沒硃砂，還須紙裹香油浸，燃照熏瘡漸掩瑕。</p>
<p>雄黃（三分）　硃砂（二分）　血竭（二分）　沒藥（二分）　麝香（四分）</p>
<p>共為細末，用藥三分，綿紙裹藥捻長尺許，調麻油燃火，離瘡半寸周圍照之。</p>
<p>陰陽症，各半名，選用沖和效有成。根腳不收散漫者，鐵箍鐵桶法誠精。</p>
<p><u>沖和膏</u></p>
<p>沖和膏內紫荊皮，獨活菖蒲赤芍宜，白芷隨方加減法，諸般瘍症總堪醫。</p>
<p>紫荊皮（一兩）　石菖蒲（一兩）　獨活（三兩）　赤芍（二兩）　白芷（一兩）</p>
<p>共為細末，蔥蜜調敷。</p>
<p><u>鐵箍散</u></p>
<p>鐵箍花粉柏南星，官桂蟾酥半夏珍。川柏大黃兼木鱉，調敷蔥蜜效如神。</p>
<p>花粉（一兩）　川柏（八錢）　大黃（六錢）　半夏（三錢）　杜酥（三分）　官桂（三錢）　木鱉（三錢）　南星（三錢）　文蛤（五分）</p>
<p>共為細末，蔥蜜調敷。</p>
<p><u>鐵桶膏</u></p>
<p>鐵桶膏中竭麝香，膽礬輕粉鬱金良。明礬及倍並銅綠，調醋箍瘡漸復康。</p>
<p>五倍子（一兩）　麝香（四分）　草鬱金（二錢）　銅綠（五錢）　明礬（四錢）　輕粉（二錢）　白芨（五錢）　明礬（三錢）　血竭（五錢）</p>
<p>共為細末，米醋調敷。</p>

<h2>潰瘍治法歌</h2>
<p>瘡瘍潰，氣血移，八珍兼用十全施。飲食少進香砂使，嘔逆還將清震滋。</p>
<p><u>八珍湯</u></p>
<p>八珍湯擅理陰陽，芎芍當歸熟地黃。白朮參苓兼炙草，何愁虛弱不康強。</p>
<p>人參　當歸　川芎　甘草　生薑　白朮　白芍　茯苓　熟地　紅棗</p>
<p><u>十全大補湯</u></p>
<p>十全大補參耆芍，肉桂川芎熟地黃。歸術茯苓甘草炙，棗姜為引號全方。</p>
<p>人參　川芎　歸身　茯苓　黃耆　白朮　熟地　白芍　炙草　肉桂　生薑　紅棗</p>
<p><u>香砂六君湯</u></p>
<p>古有香砂號六君，參苓白朮藿香氳。砂仁半夏陳皮草，脾胃調和建績勳。</p>
<p>人參　白朮　茯苓　炙草　半夏　陳皮　砂仁　藿香　生薑　紅棗</p>
<p><u>清震湯</u></p>
<p>清震湯中益智仁，參苓柿蒂澤甘陳。棗姜附子同香附，半夏加增效似神。</p>
<p>人參　半夏　雲苓　附子　陳皮　澤瀉　香附　柿蒂　生薑　益智仁　生甘草　小紅棗</p>
<p>血虛症，疼痛頻，托裡定痛急煎斟。陽虛陰盛異功散，益胃升陽補氣神。</p>
<p><u>托裡定痛散</u></p>
<p>托裡定痛散當歸，乳沒川芎白芍隨。粟殼桂皮並熟地，瘡瘍疼痛效堪為。</p>
<p>熟地　歸身　乳香　白芍　肉桂　川芎　沒藥　粟殼</p>
<p><u>神應異功散</u></p>
<p>異功散內木丁香，桂附參苓可轉陽。半夏陳皮歸樸蔻，更加朮棗與生薑。</p>
<p>人參　附子　當歸　木香　雲苓　白朮　厚朴　半夏　丁香　陳皮　官桂　豆蔻　紅棗生薑</p>
<p><u>補中益氣湯</u></p>
<p>補中益氣用陳皮，甘草升柴參朮耆。薑棗當歸同一劑，原虛不足得相宜。</p>
<p>人參　歸身　升麻　黃耆　生薑　白朮　陳皮　柴胡　炙草</p>
<p>虛熱病，煩躁頻，養營湯服可回春。佐以歸脾兼參朮，調服平常是最珍。</p>
<p><u>人參養營湯</u></p>
<p>養營湯內術參歸，白芍陳皮桂與耆。甘草地黃並五味，茯苓遠志棗姜宜。</p>
<p>人參　熟地　白芍　遠志　茯苓　白朮　歸身　五味　桂心　陳皮　黃耆　甘草　紅棗生薑</p>
<p><u>歸脾湯</u></p>
<p>歸脾湯用術參耆，歸草雲苓遠志隨。酸棗木香龍眼肉，煎加薑棗益心脾。</p>
<p>人參　當歸　木香　雲苓　龍眼　白朮　遠志　棗仁　甘草　生薑　黃耆　紅棗</p>
<p>托裡法，有四方，清中和建又溫湯。陰陽寒熱須添定，加減臨時仔細詳。</p>
<p><u>托裡清中湯</u></p>
<p>托裡清中湯茯苓，術冬五味桔人參。棗姜半夏陳皮草，專治瘡瘍咳嗽侵。</p>
<p>人參　麥冬　陳皮　桔梗　甘草　白朮　五味　半夏　茯苓　生薑　紅棗</p>
<p><u>托裡和中湯</u></p>
<p>托裡和中半夏投，參苓白朮木香留。陳皮炙草煨姜共，價值千金效可收。</p>
<p>人參　木香　茯苓　煨姜　白朮　半夏　陳皮　炙草</p>
<p><u>托裡建中湯</u></p>
<p>托裡建中附子強，參苓白朮炮姜良。還須半夏同甘草，補氣回陽儘可嘗。</p>
<p>人參　茯苓　附子　炙草　白朮　半夏　炮姜</p>
<p><u>托裡溫中湯</u></p>
<p>托裡溫中益智良，木香白蔻與乾薑。參苓陳術羌附子，甘草丁香功倍強。</p>
<p>人參　木香　丁香　茯苓　羌活　白朮　陳皮　白蔻　炙草　乾薑　附子　益智仁</p>
<p>瘡瘍症，已潰膿，清涼紅勝兩相從。腐淨肌生紅肉豔，玉紅八寶法宜宗。</p>
<p><u>清涼膏</u></p>
<p>清涼膏地血餘歸，木鱉元參乳沒隨。白芷生軍輕芍桂，培加阿魏柳槐枝。</p>
<p>官桂（二斤三兩）　生軍（二斤三兩）　當歸（二斤三兩）　赤芍（二斤三兩）　元參（二斤三兩）　木鱉（二斤三兩）　沒藥（十兩，去油）　阿魏（二兩五錢）　血餘（十三兩）　白芷（二斤三兩）　乳香（一斤，去油）　輕粉（十三兩，後入）　生地（二斤三兩）　槐枝（一百四十兩）　柳枝（一百四十兩）　麻油（一百斤）</p>
<p>上藥入麻油內，武火煎至渣枯濾去，將淨油再熬至滴水成珠，每斤油加緯丹四兩，收膏瓷缽收貯取用。</p>
<p><u>紅勝丹</u></p>
<p>紅勝丹即是三仙，去腐生新最自然。礬末水銀硝共用，清涼膏盡治瘡穿。</p>
<p>水銀（一兩）　火硝（一兩）　白礬（一兩）</p>
<p>上藥共研細，用小鐵鍋盛貯，以碗蓋之，咸泥封固，升三炷香為度。</p>
<p><u>玉紅膏</u></p>
<p>玉紅膏子善生肌，血竭歸身輕粉施，白芷甘占同紫草，麻油熬好用何疑。</p>
<p>白芷（五錢）　甘草（一兩二錢）　歸身（二兩）　血竭（四錢）　白占（二兩）　紫草（二錢）　麻油（一斤）　輕粉（四錢）</p>
<p>先用當歸甘紫草白芷入油浸三日，銅勺內熬枯色，去渣再下血竭、次下白占，臨好收入輕粉細末。</p>
<p><u>八寶丹</u></p>
<p>長肉生肌八寶丹，珍珠琥珀乳香良，兒茶沒象梅花片，龍骨麒麟竭更強。</p>
<p>珍珠（三錢）　琥珀（一錢）　象皮（一錢）　龍骨（一錢）　梅片（一錢）　血竭（一錢）　乳香（一錢，去油）　沒藥（一錢）　兒茶（一錢）</p>
<p>共為細末，摻於膏藥上，長肉生肌為最。</p>

<h2>頭部</h2>

<h3>百會疽</h3>
<p>百會疽由巔頂生，經居督脈勢非輕。初如粟米如錢樣，甚似葡萄似鐵成。高腫法宜清毒火，陽虛溫補急相迎。腫連耳後痰聲動，三候須知命必傾。</p>

<h3>透腦疽</h3>
<p>透腦疽生百會前，形如雞子痛而堅。膿稀軟漫為虛症，實腫焮疼陽自然。</p>

<h3>侵腦疽</h3>
<p>侵腦疽生透腦旁，穴名五處是其鄉。太陽濕火頻攻發，輕重陰陽須審詳。</p>

<h3>佛頂疽</h3>
<p>佛頂疽居督上星，太陽積熱失調停。不論虛實皆危險，潰爛延綿黑陷形。</p>

<h3>玉枕疽</h3>
<p>玉枕疽生督脈經，症由積熱挾風侵。位居枕骨牽連腦，高腫為陽紫陷陰。</p>

<h3>治法歌</h3>
<p>百會疽，透腦疽，侵腦相同玉佛疽。梅花五氣丹須用，再進黃連救苦祛。</p>
<p>通因用，活命丹，玉屏茄蒂細推詳。已成托裡排膿散，潰後宜投補益良。</p>
<p><u>梅花五氣丹</u></p>
<p>梅花五氣丹輕粉，乳沒辰砂麝片酥，加上雄黃並血竭，此方原是出仙都。</p>
<p>冰片（五分）　輕粉（六分）　乳香（一錢）　沒藥（一錢）　辰砂（六分）　麝香（五分）　蟾酥（二錢）　雄黃（一錢）　血竭（一錢）</p>
<p>共為細末，將蟾酥陳元酒化開為丸，辰砂作衣如桐子大，每服三丸熱酒送下。</p>
<p><u>黃連救苦湯</u>　（初起通用）</p>
<p>黃連救苦葛升銀，柴芍芎歸翹桔芩。羌活防風甘草共，腦疽煎服奏功欽。</p>
<p>葛根　歸身　防風　桔梗　銀花　升麻　芍藥　羌活　淡芩　甘草　柴胡　川芎　連翹黃連</p>
<p><u>玉屏風散</u>　（表虛挾風宜用）</p>
<p>玉屏風散兩般奇，只用防風與炙耆，補散同斟成佐使，風寒從此可能移。</p>
<p>防風　黃耆（一方加白朮）</p>
<p><u>茄蒂湯</u>　（通用）</p>
<p>茄蒂湯中制首烏，能醫封口自消無。總由濕毒還兼腎，是劑湯頭精氣扶。</p>
<p>茄蒂　制首烏</p>
<p><u>托裡消毒散</u>　<u>透膿散</u>　（已成者用之）</p>
<p>見腫瘍。</p>
<p><u>八珍湯</u>　（潰後用之）</p>
<p>見潰瘍。</p>

<h3>額疽</h3>
<p>額疽火毒結成功，左右膀胱正督逢，焦黑無膿為重症，高疼紅腫毒輕鬆。</p>

<h3>治法歌</h3>
<p>額疽症，初荊防，繼用真人活命方，已成消毒投無謬，潰後仍宜補托良。</p>
<p><u>荊防散</u>　（初起寒熱先宜散之）</p>
<p><u>活命飲</u>　（未成和之）</p>
<p><u>托裡消毒散</u>　（已成者托之）</p>
<p>皆見腫瘍。</p>
<p>潰後內外治法照潰瘍門。</p>

<h3>鬢疽</h3>
<p>鬢疽三焦膽二經，症由積熱怒凝成。此經氣足營虛症，潰腐惟宜膿見輕。</p>

<h3>夭疽銳毒</h3>
<p>上為銳毒左夭疽，膽腑之經耳後居，鬱火怒凝成斯症，十人患此九難除。</p>

<h3>耳後疽</h3>
<p>耳後疽生耳摺間，三焦肝膽火風炎，有頭紅腫焮為順，黑陷根平木痛淹。</p>

<h3>耳根毒</h3>
<p>耳根毒發似痰生，腫痛焮紅伏鼠形。風火相兼肝膽蘊，桑丹清毒用之靈。</p>

<h3>治法歌</h3>
<p>鬢疽症，銳毒夭，耳後疽生肝膽苗。宜進桑丹清毒飲，清肝湯更最功超。</p>
<p>若已成，托裡方，潰後宜投補益湯。外敷如意金黃散，內服如神靈寶良。</p>
<p><u>桑丹清毒飲</u>　（初起邪輕裡熱者用之）</p>
<p>桑丹清毒飲連翹，羚角天花甘草稍。赤芍菊花連土貝，茅根配入力偏饒。</p>
<p>桑葉　連翹　花粉　土貝　丹皮　赤芍　甘菊　生草　黃連　羚角　茅根</p>
<p><u>柴胡清肝湯</u>　（通用）</p>
<p>柴胡清肝芎芍歸，黃苓梔子地黃依。防風牛蒡天花粉，甘草連翹有化機。</p>
<p>柴胡　連翹　歸身　黃芩　生草　生地　牛蒡　赤芍　黑梔　川芎　花粉　防風</p>
<p><u>靈寶丹</u></p>
<p>靈寶蟾酥麻大黃，天麻月石術雄黃，沉香丁麝辰砂草，冰片梅花最合方。</p>
<p>茅朮（一兩五錢）　辰砂（三兩）　麝香（二錢五分）　甘草（一兩）　麻黃（一兩）　丁香（三錢）　天麻（一兩）　大黃（一兩）　月石（五錢）　雄黃（一兩五錢）　冰片（五分）　沉香（三錢）蟾酥（四錢五分）</p>
<p>共為細末，燒酒泛丸，辰砂為衣如芥子大，每服二十丸甘菊湯送下。</p>
<p><u>托裡消毒散</u>　（已成者托之）</p>
<p><u>如意金黃散</u>　（外敷）</p>
<p>皆見腫瘍。</p>
<p>內外治法照腫潰二瘍門。</p>

<h3>油風</h3>
<p>油風毛髮起乾焦，淫癢滋蔓勢甚驕。血鬱風邪宜砭法，養真海艾最功超。</p>
<p><u>神應養真丹</u></p>
<p>神應養真丹木瓜，當歸羌芍共天麻。川芎熟地菟絲子，煉蜜為丸酒服誇。</p>
<p>當歸（一兩五錢）　芍藥（一兩五錢）　羌活（五錢）　川芎（五錢）　天麻（一兩五錢）　熟地（三兩）　木瓜（一兩）　菟絲（一兩五錢）</p>
<p>上為細末，煉蜜為丸，每服三錢黃酒送下，甘菊湯亦可。</p>
<p><u>海艾湯</u></p>
<p>海艾湯中甘菊花，防風海艾薄荷誇，甘松藁本蔓荊子，荊藿同煎效不差。</p>
<p>防風　菊花　海艾　甘松　蔓荊子　薄荷　藿香　藁本　荊芥</p>
<p>各二錢煎洗。</p>

<h3>白屑風</h3>
<p>白屑風生面與頭，浸淫騷癢屑風浮，久而風鬱延成燥，須擦黃連膏自瘳。</p>
<p><u>祛風換肌丸</u></p>
<p>換肌丸用石菖蒲，牛膝胡麻參首烏。甘草靈仙蒼朮等，芎歸花粉共相扶。</p>
<p>首烏（四兩）　當歸（一兩五錢）　川芎（五錢）　胡麻（三兩）　牛膝（二兩）　花粉（一兩五錢）　苦參（三兩）　蒼朮（七錢）　菖蒲（七錢）　甘草（五錢）　靈仙（一兩五錢）</p>
<p>上為細末，酒泛為丸，每服三錢，豨薟湯送下。</p>
<p><u>黃連膏</u></p>
<p>黃連膏用大黃連，芩蠟麻油細細煎，熬就瓷瓶收貯好，諸風瘡癢擦之痊。</p>
<p>黃連（一兩）　黃芩（一兩）　大黃（二兩）　黃蠟（六兩）　麻油（二斤）</p>
<p>先用三黃入麻油，煎枯去渣再熬，臨好收入方上黃蠟，瓷杯收貯。用時先以手擦患處發熱，以膏搽之。</p>

<h3>禿瘡</h3>
<p>禿瘡風熱化生蟲，瘙癢難堪卻不紅，白痂如錢生髮內，宜投通聖並消風。</p>
<p><u>防風通聖散</u></p>
<p>防風通聖芍將軍，枳殼芎歸薄術芩。甘草荊防翹滑石，石膏麻桔朴硝斟。</p>
<p>防風　麻黃　芍藥　連翹　大黃　荊芥　石膏　黃芩　桔梗　川芎　薄荷　白朮　當歸枳殼　滑石　朴硝　生草</p>
<p><u>潤肌膏</u></p>
<p>潤肌膏內用麻油，紫草當歸一處投。能擦禿瘡枯穡色，加之黃蠟效應收。</p>
<p>當歸（五錢）　紫草（一錢）　黃蠟（五錢）　麻油（四兩）</p>
<p>上藥濃煎，去渣慢熬，臨好入黃蠟收膏頻擦患處。</p>
<p><u>麥錢散</u></p>
<p>麥錢原擦白禿瘡，硫黃白信要相當。川椒生熟枯礬末，配以煙膠一掃光。</p>
<p>小麥面（一斤）　硫黃（四兩）　白砒（一兩）　煙膠（八兩）　川椒（三兩）　生礬（二兩）　枯礬（二兩）</p>
<p>共為細末，麻油調敷擦藥蟲死風散，白皮枯色不退，以前方潤肌膏擦之。</p>

<h3>肥瘡</h3>
<p>肥瘡風濕兩凝成，淫癢滋蔓黃水頻。外面宜敷青蛤散，消風內服自開陳。</p>
<p><u>消風散</u></p>
<p>消風散內地歸身，蟬蛻荊防蒼苦參，知母胡麻牛蒡子，石膏甘草木通侵。</p>
<p>地黃　防風　蟬蛻　知母　石膏　胡麻　荊芥　牛蒡　苦參　木通　蒼朮　當歸　生草</p>
<p><u>青蛤散</u></p>
<p>肥瘡青蛤最神良，蛤粉相兼青黛涼，煅石膏同輕粉柏，香油豬膽共同方。</p>
<p>青黛（三錢）　蛤粉（一兩）　石膏（一兩）　輕粉（五錢）　川柏（五錢）</p>
<p>共為細末，豬膽麻油調敷。</p>

<h3>螻蛄癤</h3>
<p>螻蛄癤是擅拱頭，大小須分各有由，胎毒膜多堅且小，大而焮腫暑邪留。</p>

<h3>治法歌</h3>
<p>擅拱頭，胎毒由，宜將三品毒能瘳，衣膜化淨生肌散，八寶清涼功可收。</p>
<p>螻蛄癤，暑熱成，清涼紅勝盡能平。風邪郁久難收斂，宜用敗銅散勻輕。</p>
<p>內服法，赤有方，暑熱黃連消毒湯。胎毒綿延經久者，真珠七寶用之康。</p>
<p><u>三品錠</u></p>
<p>三品錠子是神良，白信雄礬又乳香，研末共調為錠子，疔疽瘰癧用之康。</p>
<p>明礬（二兩）　白信（一兩）　雄黃（二錢四分）　乳香（去油，一錢三分）</p>
<p>砒、礬二味為末，入罐煅紅，𢚝白煙旋起為度，放地上涼一宿取出，將乳香雄黃二味和勻，前藥共研極細，麵漿為條，陰乾聽用。治瘡瘍成管將條插於患處膏蓋。然此藥下之疼痛頗甚，小兒及體弱者不宜輕用，惟古方針頭散為最妥。</p>
<p><u>敗銅散</u></p>
<p>敗銅散治潰風傷，瘙癢侵淫滋水瘡，舊罐化銅研細末，麻油調用擦之強。</p>
<p>化銅舊罐研細末，香油調敷。</p>
<p><u>輕乳生肌散</u></p>
<p>輕乳生肌治腐瘍，石膏冰竭乳輕鑲，若然有水加龍芷，雞內金加收口良。</p>
<p>石膏（一兩）　血竭（五錢）　乳香（五錢）　輕粉（五錢）　冰片（一錢）</p>
<p>有水加真龍骨（一錢）　白芷（一兩）　不收口加雞內金（一錢），炙為末摻之。</p>
<p><u>七寶丹</u></p>
<p>珍珠七寶用牛黃，琥珀辰砂滴乳方。冰片甘黃珠粉共，胎元火毒盡消詳。</p>
<p>珍粉（四分）　琥珀（二錢）　甘黃（一錢）　辰砂（五分）　犀黃（三分）　冰片（三分）　滴乳石（三錢）</p>
<p>共研極細，用藥三分加入白飛面五分，土茯苓湯送下。</p>
<p><u>黃連消毒飲</u></p>
<p>黃連消毒飲連翹，黃柏山梔芩草調。內熱口乾煩躁甚，更加牛蒡自然消。</p>
<p>川連　連翹　山梔　生草　川柏　牛蒡　淡芩</p>
<p><u>玉紅膏</u>　<u>八寶丹</u>　<u>紅勝丹</u>　<u>清涼膏</u>　皆見潰瘍。</p>

<h2>面部</h2>

<h3>顴瘍顴疽</h3>
<p>顴瘍疽症似榴形，風熱相凝致結成，瘍起焮紅浮腫痛，疽生堅硬木麻行。</p>
<p>內外治法照腫潰瘍門。</p>

<h3>顴疔</h3>
<p>顴疔初發似椒形，病屬陽明火毒成，堅硬木麻根散漫，更兼寒熱癢疼行。</p>
<p><u>犀角地黃湯</u>　（熱極焦煩者用）</p>
<p>犀角地黃湯芍藥，更兼一味牡丹皮。陽明積熱皆堪服，止血還須用此醫。</p>
<p>犀角　地黃　赤芍　丹皮</p>
<p><u>拔疔散</u></p>
<p>白降原來即拔疔，水銀月石火硝勻，鹽礬硇皂皆堪用，白信還須煅煉真。</p>
<p>水銀（三錢）　火硝（三錢）　月石（三錢）　食鹽（三錢）　皂礬（三錢）　白砒（二錢）　明礬（三錢）　硇砂（二錢）</p>
<p>以上八味傾入陽城罐內，微火結胎，次用粗瓷盆一隻，將陽城罐覆於盆上，以鹽泥封固。另用木桶一隻傾入涼水，將瓷盆磚襯安好。再用粗瓦缽一個，中底鑿一個圓孔，套於陽城罐底，以炭火架於缽內，煅煉三炷香為度。</p>
<p><u>桑丹清毒飲</u>　（加地丁草通用）</p>
<p><u>靈寶丹</u>　皆見鬢疽。</p>
<p><u>如意散</u>　見腫瘍。</p>
<p><u>清涼膏</u>　<u>三仙丹</u>　見潰瘍。</p>

<h3>面發毒</h3>
<p>面發毒在頰車成，初起滋延似豆生。腫破焮疼黃水盛，症由風熱客陽明。</p>
<p><u>涼膈散</u></p>
<p>涼膈散用石膏芩，梔薄連翹淡竹尋。更入朴硝相共用，欲攻須用大黃欽。</p>
<p>薄荷　連翹　大黃　石膏　淡芩　黑梔　朴硝　竹葉</p>
<p><u>荊防敗毒散</u>　（在表者用之）　見腫瘍。</p>
<p><u>青蛤散</u>　見肥瘡。</p>

<h3>痄腮</h3>
<p>痄腮胃熱是其端，初起焮疼熱復寒。高腫色紅風與熱，皆緣濕熱共摧殘。</p>
<p><u>柴胡葛根湯</u>　（表實用）</p>
<p>柴葛湯中花粉甘，連翹牛蒡石膏添。升麻桔梗黃芩共，邪隙陽明此合含。</p>
<p>柴胡　升麻　連翹　桔梗　生草　葛根　花粉　牛蒡　淡芩　石膏</p>
<p><u>四順清涼飲</u>　（裡實用）</p>
<p>四順清涼飲最佳，防風羌活草連翹。當歸梔子生軍芍，胃熱能教一劑消。</p>
<p>防風　羌活　當歸　黑梔　赤芍　連翹　生草　大黃</p>
<p><u>真人活命飲</u>　<u>如意散</u>　見腫瘍。</p>
<p>潰後治法照潰瘍門。</p>

<h3>骨槽風</h3>
<p>骨槽風本屬陰方，外被風邪久戀留。初起痠疼微赤腫，潰而遲斂足堪憂。</p>
<p><u>清陽散火湯</u>　（初起）</p>
<p>清陽散火用翹芩，白芷荊防牛蒡升。甘石蒺藜相共用，當歸活血最堪稱。</p>
<p>防風　連翹　白芷　淡芩　石膏　荊芥　牛蒡　蒺藜　生草　當歸　升麻</p>
<p><u>中和湯</u>　（潰後）</p>
<p>中和白芍樸芎歸，甘草參耆桔梗隨。肉桂芷防薑棗藿，煎來一飲可舒眉。</p>
<p>人參　防風　歸身　桔梗　紅棗　白芷　肉桂　白芍　藿香　生薑　黃耆　川樸　川芎生草</p>
<p><u>真君妙貼散</u></p>
<p>真君妙貼散奇方，白麵硫黃蕎麵鑲。三味共和為餅子，陰乾研末貼敷良。</p>
<p>硫黃（二斤）　蕎麵（二斤）　白麵（二斤）</p>
<p>共為細末，用清水和拌得宜，曬成麵餅，俟陰乾，研細，清水調敷。</p>
<p><u>清涼膏</u>　<u>三仙丹</u>　見潰瘍。</p>

<h3>發頤</h3>
<p>發頤紅腫有堅綿，經屬陽明胃腑傳。汗水脈浮邪在表，咽喉腫痛太陰連。</p>
<p><u>荊芥敗毒散</u>　<u>托裡透膿散</u>　<u>如意散</u>　皆見腫瘍。</p>
<p><u>靈寶丹</u>　見鬢疽。</p>
<p>潰後照潰瘍門。</p>

<h3>時毒</h3>
<p>初生時毒類傷寒，漫腫無頭頤項傍。因感四時瘴癘氣，治分壯弱兩途方。</p>
<p><u>普濟消毒飲</u></p>
<p>普濟消毒飲芩蠶，元草參陳牛蒡連。柴桔翹蘭兼馬勃，升麻少用水同煎。</p>
<p>人參　連翹　淡芩　元參　生草　升麻　牛蒡　川連　桔梗　制蠶　柴胡　陳皮　馬勃板藍根</p>
<p><u>托裡透膿散</u>　<u>如意金黃散</u>　皆見腫瘍。</p>
<p><u>靈寶丹</u>　見鬢疽。</p>
<p>潰後照潰瘍門。</p>

<h3>鳳眉疽</h3>
<p>鳳眉疽在兩眉稜，形長如瓜漫腫行。肝膽小腸膀胱熱，心煩嘔逆頗非輕。</p>

<h3>眉心疽</h3>
<p>眉心疽在印堂生，堅腫為疽木痛行。督脈氣凝風熱阻，治宜輕散又宜清。</p>

<h3>龍泉疽</h3>
<p>龍泉疽起在人中，麻癢兼疼赤豆紅。風熱上焦攻督脈，憎寒壯熱治疔同。</p>

<h3>虎鬚毒</h3>
<p>虎鬚毒在下頜生，積熱熏蒸胃腎成。癰腫焮紅兼脹痛，疽形堅硬木麻行。</p>

<h3>治法歌</h3>
<p>眉心疽，與虎龍，癰疽治法用之同。根堅麻癢成疔者，清毒桑丹建大功。</p>
<p><u>活命飲</u>（通用）</p>
<p><u>透膿散</u>（已成）</p>
<p><u>金黃散</u>　皆見腫瘍。</p>
<p><u>桑丹</u>（清毒飲治疔）</p>
<p><u>靈寶丹</u>　皆見鬢疽。</p>
<p><u>拔疔散</u>　見顴疔。</p>

<h2>項部</h2>

<h3>腦疽</h3>
<p>腦疽症發勢非輕，左右膀胱督脈生。輕重應將順逆辨，陰偏陽正細論評。</p>

<h3>天柱疽</h3>
<p>天柱疽生天柱骨，上焦風火濕瘀凝。高疼紅腫為輕症，平塌陽虛毒內勝。</p>

<h3>治法歌</h3>
<p>正腦疽，天柱疽，內外皆同百會疽。初服真人活命飲，透膿托裡用無虞。</p>
<p><u>真人活命飲</u>　<u>托裡透膿湯</u>　見腫瘍。</p>
<p>內外治法俱照百會疽。</p>

<h3>纏頸風痰</h3>
<p>風邪痹阻少陽經，纏頸風痰是此生。寒熱脈來浮更數，腫連耳後動痰聲。</p>
<p><u>疏邪和解湯</u></p>
<p>疏邪和解用柴胡，白芥連牛枳桔蘇。馬勃制蠶兼土貝，鉤鉤生草共相扶。</p>
<p>柴胡　連翹　蘇梗　桔梗　制蠶　土貝　牛蒡　枳殼　生草　馬勃　芥子　鉤鉤</p>
<p><u>紫金錠</u></p>
<p>古遺太乙紫金方，山菇千金雄麝香。大戟辰砂五倍子，米漿為錠效神良。</p>
<p>山菇（二兩）　五倍子（一兩）　大戟（一兩五錢）　雄黃（三錢）　麝香（三錢）　千金子（一兩）　辰砂（三錢）</p>
<p>上藥研極細末，糯米漿作錠。</p>
<p><u>托裡透膿散</u>　見腫瘍。</p>
<p><u>靈寶丹</u>　見鬢疽。</p>
<p>潰後宜補托。</p>

<h3>鎖喉癰</h3>
<p>鎖喉癰發項前腦，風熱熏蒸肝肺中。紅腫相兼寒熱甚，黃連消毒效無窮。</p>
<p><u>黃連消毒飲</u>　見擅拱頭。</p>
<p><u>托裡透膿散</u>　<u>如意散</u>　見腫瘍。</p>
<p>潰後宜補托。</p>

<h3>瘰癧</h3>
<p>瘰癧三陽總一名，項前頸後側傍生。氣筋痰濕名難異，鬱熱傷肝恚怒成。</p>
<p>瘰癧症、是總名，痰濕風熱氣鬱凝。連翹消毒祛熱毒，風鬱防風解毒應。</p>
<p><u>連翹消毒飲</u></p>
<p>連翹消毒飲陳皮，甘桔元參歸芍梔，芩葛射干花粉共，紅花還與大黃宜。</p>
<p>葛根　連翹　歸身　淡芩　陳皮　元參　桔梗　赤芍　黑梔　生草　花粉　紅花　大黃射干</p>
<p><u>防風解毒湯</u></p>
<p>防風解毒湯荊桔，牛蒡燈心草石膏。枳殼薄荷知母術，芎連共入莫相逃。</p>
<p>防風　連翹　桔梗　薄荷　蒼朮　荊芥　牛蒡　枳殼　生草　知母　川芎　石膏　燈心</p>
<p>外受風，氣阻凝，藿香正氣飲堪憑。此係初感淫邪發，散泄風邪自可興。</p>
<p><u>藿香正氣飲</u></p>
<p>藿香正氣用甘蘇，大腹陳皮桔梗扶。白朮茯苓並半曲，白芷厚朴棗姜符。</p>
<p>藿香　陳皮　桔梗　茯苓　生草　紫蘇　半曲　白芷　厚朴　腹皮　姜渣　紅棗　白朮</p>
<p>筋癧症，痰癧名，內傷氣鬱怒凝成。養陰軟堅湯通用，潰後宜投補托行。</p>
<p><u>養陰軟堅湯</u></p>
<p>養陰軟堅牡蠣參，海石雲苓貝地星。昆布麥冬同海帶，陳皮甘草自多靈。</p>
<p>海石　麥冬　川貝　雲苓　橘紅　沙參　生地　牡蠣　生草　海帶　昆布　南星</p>
<p><u>巴膏</u>（未潰者貼之。）</p>
<p>巴膏內用多般藥，穿山甲山梔血竭研。硇乳兒茶血餘炭，桑枝桃杏柳槐全。</p>
<p>硇砂（六兩）　穿甲（二十六兩）　兒茶（三兩）　桃枝（二十一兩）　柳枝（二十一兩）　山梔（五斤）　血餘（十二兩）　乳香（十兩）　槐枝（二十一兩）　杏枝（二十一兩）　血竭（三兩）　桑枝（二十一兩）　麻油（四十斤，每斤用緯丹四兩煎成。）</p>
<p><u>三仙丹</u>　<u>清涼膏</u>　見潰瘍。</p>
<p><u>三品錠</u>　見擅拱頭。</p>
<p>以上三方潰後用。</p>

<h3>石痰</h3>
<p>石痰生髮項之傍，堅硬渾如石更剛。肝鬱氣凝經絡里，潰時法照癧瘡方。</p>
<p><u>香貝養營湯</u></p>
<p>香貝養營湯四君，四物桔附貝同陳。兩方氣血宜多服，筋癧投之效更神。</p>
<p>人參　於朮　歸身　陳皮　川芎　熟地　雲苓　白芍　桔梗　香附　川貝　甘草　生薑紅棗</p>

<h3>失榮症</h3>
<p>失榮誠是失榮緣，耳後多生頸項前。初起如痰堅不動，潰時皮色愈剛堅。綿延日久形消瘦，若是翻花難許痊。</p>
<p><u>滋營散堅湯</u></p>
<p>滋營散堅四物湯，參苓甘桔術陳當。升麻　香附同川貝，海粉紅花昆布嘗。</p>
<p>人參　歸身　海粉　紅花　桔梗　熟地　白芍　川貝　陳皮　炙草　白朮　川芎　雲苓香附　昆布　升麻　生薑　紅棗</p>

<h2>背部</h2>

<h3>上中下三發背</h3>
<p>三發火毒督鄉成，屬肝中發對心生。肺經上發天柱下，下發由來責腎行。</p>
<p>治法照癰疽門。</p>

<h3>上搭手</h3>
<p>上搭手生肺俞身，左右名同別有因。左發屬肝右屬肺，總由氣鬱怒凝神。</p>

<h3>中搭手</h3>
<p>中搭手近膏肓穴，經屬膀胱脊骨傍。怒火七情皆蘊就，陰陽寒熱細推詳。</p>

<h3>下搭手</h3>
<p>下搭手生膀胱徑，盲門穴上腫形成。房勞過度生毒火，紅腫為陽紫陷傾。</p>
<p><u>六郁湯</u></p>
<p>六郁湯內用川芎，半夏陳苓香附同。梔草砂仁蒼朮等，濕痰流絡即時通。</p>
<p>香附　陳皮　茯苓　蒼朮　生草　川芎　半夏　黑梔　砂仁</p>
<p>內外治法照癰疽門。</p>

<h2>腰部</h2>

<h3>腎俞發</h3>
<p>腎俞由來發腎經，皆緣酒色濕瘀成。房勞怒火雙生髮，紅活為陽黑陷傾。</p>
<p><u>人參養營湯</u>　見潰瘍。</p>
<p>內外治法照癰疽門。</p>

<h3>纏腰火丹</h3>
<p>纏腰火丹蛇串名，紅黃乾溼各分形。肝心脾肺風濕熱，纏遍腰間藥不靈。</p>
<p><u>解毒瀉心湯</u>（乾燥疼痛者用）</p>
<p>解毒瀉心湯梔子，荊防牛蒡石膏全。芩連滑石元參草，知母還同通草煎。</p>
<p>防風　川連　牛蒡　黑梔　元參　荊芥　淡芩　石膏　滑石　生草　通草　知母</p>
<p><u>除濕胃苓湯</u>（濕爛作癢者用）</p>
<p>除濕胃苓用桂枝，樸苓通草黑山梔。陳皮滑石防風草，二術豬苓澤瀉施。</p>
<p>桂枝　川樸　雲苓　黑梔　木通　蒼朮　白朮　陳皮　澤瀉　生草　防風　豬苓　滑石</p>
<p><u>柏葉散</u></p>
<p>柏葉散是用將軍，側柏雄黃川柏輕。赤豆相同蚯蚓類，共研細末貯瓷罌。</p>
<p>側柏葉（五錢）　黃柏（五錢）　雄黃（三錢）　輕粉（三錢）　蚯蚓糞（五錢）　大黃（五錢）　赤豆（三錢）</p>
<p>上為細末，柏葉汁調敷。</p>

<h2>眼部</h2>

<h3>眼疱菌毒</h3>
<p>菌毒生於眼睫邊，形如黑豆亮而圓，頭大蒂小垂眼下，鬱熱相兼脾濕纏。</p>

<h3>治法歌</h3>
<p>眼菌毒，服清脾，左手指甲墊襯宜。右手披針須切下，翠云止血最堪醫。</p>
<p><u>涼膈清脾飲</u></p>
<p>涼膈清脾飲薄荷，荊防生地石膏和。黃芩赤芍連翹等，甘草山梔效更多。</p>
<p>防風　連翹　薄荷　生地　黑梔　荊芥　赤芍　淡芩　石膏　生草</p>
<p><u>翠云錠</u></p>
<p>翠云錠子最相宜，銅綠杭連輕粉依。細末共研為錠子，此方神效世間稀。</p>
<p>銅綠（一兩）　輕粉（一錢）　杭粉（五兩）　黃連（一兩）</p>
<p>上藥共為細末，米漿為錠。</p>

<h3>眼丹</h3>
<p>眼丹上下眼疱生，紅腫焮疼風熱成。宜服桑丹清毒飲，已成托裡透膿行。</p>
<p><u>桑丹清毒飲</u>　見鬢疽。</p>
<p><u>透膿散</u>　<u>如意散</u>　見腫瘍。</p>
<p>內外治法照癰疽門。</p>

<h3>漏睛瘡</h3>
<p>漏睛瘡在大眥生，風濕肝經鬱熱成。腫痛潰膿稠更順，頻流清水長難平。</p>
<p><u>六味地黃丸</u>（日久成漏）</p>
<p>聞稱六味地黃丸，辛淡甘鹹又苦酸。山藥丹苓萸肉澤，磨為細粉蜜糖丸。</p>
<p>地黃　山藥　丹皮　澤瀉　萸肉　雲苓</p>
<p>上為細末蜜丸。</p>
<p><u>桑丹清毒飲</u>　見鬢疽。</p>
<p><u>三仙丹</u>　<u>清涼膏</u>　<u>如意散</u>　見潰瘍。</p>

<h2>鼻部</h2>

<h3>鼻疔</h3>
<p>鼻疔生於鼻孔中，肺經積熱自成功。桑丹清毒宜初服，尚若神昏犀地逢。</p>
<p><u>桑丹清毒飲</u>　<u>靈寶丹</u>　見鬢疽。</p>
<p><u>犀角地黃湯</u>　見顴疔。</p>
<p><u>離宮錠</u></p>
<p>離宮錠子治諸疔，漫腫無頭涼血傾。血竭硃砂為細末，膽礬蟾射墨須京。</p>
<p>血竭（三錢）　硃砂（二錢）　膽礬（三錢）　京墨（一兩）　蟾酥（三錢）　麝香（一錢五分）</p>
<p>上為細末，涼水為錠。</p>

<h3>鼻䘌瘡</h3>
<p>鼻䘌瘡多生小兒，兩傍鼻下爛斑施。總由風熱來乘肺，膿水浸淫癢莫持。</p>
<p><u>澤瀉散</u></p>
<p>澤瀉散中藥四般，鬱金澤瀉黑梔甘。等分作末調和服，鼻䘌瘡生治更堪。</p>
<p>澤瀉　鬱金　黑梔　生草</p>
<p><u>青蛤散</u>　見肥瘡。</p>

<h3>鼻淵</h3>
<p>鼻淵濁涕鼻中流，久患淋漓血水憂。膽熱風寒移腦戶，綿延最怕蝕蟲留。</p>
<p><u>奇授藿香丸</u></p>
<p>奇授藿香丸更仙，還將豬膽汁同煎。鼻淵腦漏皆堪用，三服能教病即痊。</p>
<p>藿香（八兩）</p>
<p>豬膽汁為丸。</p>

<h3>鼻痔</h3>
<p>鼻痔初生榴子形，久垂紫硬氣難行。肺經風熱相兼濕，內服辛夷外點平。</p>
<p><u>辛夷清肺飲</u></p>
<p>辛夷清肺飲黃芩，百合山梔知母論。甘草升冬兼枇葉，還須更入石膏吞。</p>
<p>辛夷　升麻　麥冬　黑梔　生草　淡芩　知母　百合　石膏　枇杷葉</p>
<p><u>硇砂散</u></p>
<p>硇砂散用硇砂君，輕粉雄黃冰片馨。能點鼻瘡風熱症，請君一試便知靈。</p>
<p>硇砂（一錢）　雄黃（三分）　冰片（五釐）　輕粉（三分）</p>

<h3>鼻衄</h3>
<p>鼻衄頻頻血不停，皆緣熱甚血來紛。宜投生地芩連飲，炒黑山梔研末聞。</p>
<p><u>生地芩連湯</u></p>
<p>生地芩連連桔梔，柴芎芩地芍甘知。犀牛角棗磨金墨，茅汁還兼藕汁施。</p>
<p>生地　連翹　柴胡　桔梗　知母　淡芩　川連　川芎　黑梔　生草　犀角　赤芍　大棗茅汁　藕汁　金墨</p>

<h3>肺風粉刺</h3>
<p>肺風粉刺太陰經，酒濕熏蒸出此形。焮腫色紅如赤豆，枇杷清肺飲多靈。</p>
<p><u>黃芩清肺飲</u></p>
<p>黃芩清肺飲芎歸，赤芍防風生地投。乾葛連翹花粉共，紅花又入薄荷頭。</p>
<p>生地　歸身　連翹　赤芍　葛根　淡芩　川芎　花粉　薄荷　紅花　防風</p>
<p><u>枇杷葉丸</u></p>
<p>枇杷丸內枇杷君，花粉黃芩甘草臣。能治肺風粉刺症，服之敢教病離身。</p>
<p>黃芩　花粉　生草　枇杷葉</p>
<p><u>顛倒散</u></p>
<p>此藥緣何顛倒名，大黃寒極硫黃溫。同為細末堪勝任，涼水調塗粉刺痕。</p>
<p>大黃　硫黃</p>
<p>研為細末，涼水調敷。</p>

<h2>耳部</h2>

<h3>黑疔</h3>
<p>黑疔耳竅暗藏生，色黑根深椒目形。疼痛好如針刺損，皆緣火毒始能停。</p>

<h3>治法歌</h3>
<p>黑疔症，耳竅生，消毒黃連效可呈。宜用蟾酥滴耳內，腎經火毒自能平。</p>
<p><u>蟾酥丸</u></p>
<p>蟾酥丸效獨稱雄，乳沒砂礬輕粉舂。銅綠膽礬寒水石，蝸牛原麝共和同。</p>
<p>蟾酥（二錢，酒化）　輕粉（五分）　枯礬（一錢）　寒水石（一錢，煅）　銅綠（一錢）　沒藥（一錢）　膽礬（一錢）　麝香（一錢）　雄黃（二錢）　蝸牛（二十一個）　乳香（一錢）　硃砂（三錢）</p>
<p>將蝸牛搗爛為丸，硃砂為衣，每服三丸，黃酒送下。治黑疔水磨滴耳內。</p>
<p><u>黃連消毒飲</u>　見擅拱頭。</p>

<h3>耳痔菌挺</h3>
<p>耳痔菌挺耳竅生，腎肝胃火結凝停。微疼腫脹兼流水，寒久能教人重聽。</p>
<p><u>梔子清肝湯</u>（通用）</p>
<p>梔子清肝湯芍芎，柴芩牛蒡石膏同。黃連歸草丹皮等，用水同煎一處從。</p>
<p>柴胡　當歸　淡芩　丹皮　川芎　石膏　赤芍　川連　黑梔　生草　牛蒡</p>
<p><u>硇砂散</u>　見鼻疔，少許點之。</p>

<h2>口部</h2>

<h3>大人口破</h3>
<p>大人口破實虛分，腐爛焮疼實火因。不腫少紅稀白點，皆緣虛火細詳真。</p>
<p><u>涼膈散</u>　見面發毒，實火用之。</p>
<p><u>六味丸</u>　見漏睛瘡，虛火用之。</p>
<p><u>柳青散</u></p>
<p>柳青散用好川連，芩柏兒茶白芷研。青黛薄荷梅片草，竹筒吹末效如仙。</p>
<p>川連（二錢）　川柏（四錢）　梅片（一錢）　薄荷（五錢）　淡芩（二錢）　兒茶（四錢）　白芷（一錢）　甘草（五分）　青黛（二錢五分）</p>
<p>上為細末吹之。</p>

<h3>口糜</h3>
<p>口糜陽火與陰虛，濕水乘脾膀胱居。濕與熱邪熏胃口，色紅腐爛痛難舒。</p>
<p><u>導赤湯</u></p>
<p>導赤湯中地木通，草梢竹葉四般功。口糜淋痛堪煎服，引熱同歸小便中。</p>
<p>生地　木通　生草　竹葉</p>
<p><u>清涼散毒湯</u></p>
<p>清涼散毒治陽明，土貝連翹牛蒡侵。豆豉薄荷赤芍等，甘黃薇露與黃芩。</p>
<p>薄荷　連翹　淡芩　豆豉　赤芍　牛蒡　甘中黃　土貝母　野薔薇露</p>
<p><u>柳青散</u>　見口破。</p>

<h2>唇部</h2>

<h3>反唇鎖口疔</h3>
<p>反唇疔發在唇稜，嘴角還名鎖口疔。粟米堅疼麻癢痛，心經胃火毒邪停。</p>
<p><u>桑丹清毒飲</u>　見鬢疽。</p>
<p><u>清涼膏</u>　<u>三仙丹</u>　見癰疽。</p>
<p><u>拔疔散</u>　見顴疔。</p>
<p><u>離宮錠</u>　見鼻疔。</p>

<h3>繭唇風</h3>
<p>繭唇脾胃火邪成，豆粒還如蠶繭形。潰若翻花堅更痛，久成消渴火邪刑。</p>
<p><u>消涼甘露飲</u></p>
<p>消涼甘露地柴芩，犀角茵陳石斛珍，甘草麥冬知枳殼，還加枇葉用多神。</p>
<p>犀角　石斛　銀柴　淡芩　枳殼　生地　茵陳　知母　甘草　枇葉　麥冬</p>
<p><u>離宮錠</u>　見鼻疔。</p>

<h2>齒部</h2>

<h3>牙衄</h3>
<p>牙衄頻頻血不停，腎與胃生實虛因。實多口臭牙堅固，虛者牙搖痛莫伸。</p>
<p><u>清胃散</u>（實火）</p>
<p>清胃散中用石膏，芩連生地不相饒。丹皮加上升麻好，胃熱陽明立刻消。</p>
<p>石膏　黃連　生地　丹皮　升麻　淡芩</p>
<p><u>玉女煎</u>（虛火）</p>
<p>玉女煎中用石膏，膝知麥地黃相邀。少陰不足陽明盛，擬此湯頭功最高。</p>
<p>石膏　麥冬　懷膝　知母　生地</p>
<p><u>柳青散</u>　見口破。</p>
<p><u>六味丸</u>　見漏睛瘡，虛者用之。</p>

<h3>鑽牙疳</h3>
<p>鑽牙疳發在牙根，硬骨如針突出生，痛似剛刀相刺損，皆由肝胃熱凝成。</p>
<p><u>蘆薈消疳飲</u></p>
<p>蘆薈消疳飲薄荷，元參甘桔共柴胡。升翹牛蒡羚羊角，梔石川連竹葉扶。</p>
<p>蘆苓　柴胡　元參　升麻　黑梔　羚角　牛蒡　桔梗　薄荷　生草　川連　連翹　石膏竹葉</p>
<p><u>口疳藥</u></p>
<p>鑽牙疳藥用兒茶，龍骨辰砂柏芷嘉，甘薄濂珠龍腦片，加之中白效堪誇。</p>
<p>兒茶　硃砂　珠粉　白芷　川柏　薄荷　甘草　龍骨　梅片　人中白</p>
<p>各為細末吹之。</p>

<h3>牙疔</h3>
<p>牙縫生疔胃火成，大腸濕熱失調停。形如粟米連腮腫，麻癢相兼即黑疔。</p>
<p><u>清涼散毒湯</u>　見口糜。</p>
<p><u>拔疔散</u>　見顴疔。</p>
<p><u>靈寶丹</u>　見鬢疽。</p>

<h3>牙癰</h3>
<p>牙癰胃熱腫牙床，寒熱兼疼痛莫當。膿水稀流難保愈，多生骨肉犯寒涼。</p>
<p><u>荊防敗毒散</u>　見腫瘍。</p>
<p><u>如意金黃散</u>　見腫瘍。</p>
<p><u>靈寶丹</u>　見鬢疽。</p>
<p><u>柳青散</u>　見口破。</p>
<p><u>清涼散毒湯</u>　見口糜。</p>

<h3>走馬牙疳</h3>
<p>走馬牙疳症不輕，郁邪病後毒凝成。牙根腐臭頻流血，齒落穿腮治不平。</p>
<p><u>蘆薈消疳飲</u>　見鑽牙疳。</p>
<p><u>青蓮膏</u></p>
<p>青蓮膏帖腐牙疳，化腐消疳效更堪。乳射白砒輕粉黛，油調細末切宜諳。</p>
<p>青黛（二錢）　乳香（一錢）　輕粉（一錢）　麝香（五分）　白砒（一分）</p>
<p>上為細末，麻油調攤油紙上，剪小帖於患處，換藥以米泔水漱淨。</p>
<p><u>牙疳散</u></p>
<p>走馬牙疳川樸梔，梅花冰片棗羅施。人中白又加青黛，研末頻將朝夕吹。</p>
<p>人中白（五錢）　青黛（一兩）　黑梔（五錢）　黑棗（三兩，去核包川樸煅）　松羅茶（五錢）冰片（一錢）　川樸（五錢）</p>
<p>上為細末。</p>

<h3>爛牙疳</h3>
<p>爛牙疳症為何生，風火瘀凝襲胃成。口臭只緣胃生甚，齒根腐爛血膿行。</p>
<p><u>清涼散毒湯</u>　見口糜。</p>
<p><u>柳青散</u>　見口破。</p>

<h1>卷中</h1>

<h2>舌部</h2>

<h3>舌脹</h3>
<p>舌脹皆緣心火連，血壅腫脹痛而堅。舌強須用針頭刺，紫重原來紅易痊。</p>
<p><u>涼膈散</u>　見面發毒。</p>
<p><u>柳青散</u>　見口破。</p>

<h3>痰包</h3>
<p>痰包舌下軟綿生，結腫如匏痛脹行。妨語並將妨飲食，還須利剪泄之輕。</p>
<p><u>加味二陳湯</u></p>
<p>加味二陳湯半陳，芩連甘草白雲苓，薄荷又入生薑炭，痰飲生來最有靈。</p>
<p>黃連　陳皮　雲苓　甘草　黃芩　半夏　薄荷　生薑</p>
<p><u>柳青散</u>　見口破。</p>

<h3>舌衄</h3>
<p>舌衄如泉出不停，皆緣心火熱蒸淋。宜投犀地黃連等，止血還須用柳青。</p>
<p><u>犀角地黃湯</u>　見顴疔。</p>
<p><u>柳青散</u>　見口破。</p>

<h3>重舌</h3>
<p>（痰核、重齶、舌疔）</p>
<p>舌症發於心與脾，症由積熱是無凝。重舌舌下生包脹，痰核還生舌上施。</p>
<p>重齶生於上齶成，心煩渾似李梅形。舌疔舌上生紫泡，寒熱相兼似豆停。</p>
<p><u>紫雪散</u></p>
<p>紫雪羚羊犀角同，升麻寒水石膏逢。元參沉木香甘草，硝片硃砂金箔從。</p>
<p>犀角（一兩，鎊）　升麻（一兩）　石膏（一兩）　木香（五錢，銼）　元參（二兩）　沉香（五錢，銼）　朴硝（三兩六錢）　硃砂（三錢，研）　冰片（三錢，研）　甘草（八錢）　羚羊角（一兩，鎊）　寒水石（一兩）　金箔（一百張，研）</p>
<p>上藥煎二、三汁湯去渣滓，投入朴硝，臨好再入硃砂，冰片、金箔，凝結如雪為度，大人一錢，小兒二分。</p>
<p><u>柳青散</u>　見口破。</p>

<h3>舌菌</h3>
<p>舌菌心脾毒火成，渾如豆粒舌間形。泛如蓮子多妨食，綿潰翻花血不停。</p>
<p><u>清涼甘露飲</u>　見繭唇風。</p>
<p><u>黑雪丹</u></p>
<p>黑雪乾薑百草霜，硃砂月石熟蒲黃，食鹹梅片元明粉，共細研之吹自良。</p>
<p>冰片（一分）　食鹹（五分）　乾薑（五分）　元明粉（五分）　月石（二錢五分）　硃砂（五分）百草霜（二錢五分）　蒲黃（二錢五分）</p>
<p>上為細末吹之。</p>

<h2>喉部</h2>

<h3>緊喉風</h3>
<p>（纏喉風）</p>
<p>緊喉風更與纏喉，腫痛咽喉風火留。湧塞痰聲如拽鋸，少商穴刺吐之瘳。</p>

<h3>治法歌</h3>
<p>緊喉風，纏喉風，桐油探吐是神功。荊防散，宜先服，更進清咽利膈中。</p>
<p><u>疏邪荊防散</u></p>
<p>荊防散內用前胡，牛蒡防風甘桔扶。象貝杏仁兼馬勃，鮮萊菔汁用之符。</p>
<p>荊芥　象山貝母　牛蒡子　桔梗　甘草　防風　前胡　杏仁　馬勃　萊菔汁</p>
<p><u>清咽利膈湯</u></p>
<p>清咽利膈用翹芩，甘桔荊防梔薄侵。牛蒡銀花連制錦，朴硝又入黑元參。</p>
<p>荊芥　連翹　薄荷　元參　大黃　防風　桔梗　牛蒡　山梔　朴硝　黃芩　銀花　甘草黃連</p>
<p><u>桐油餞</u></p>
<p>桐油餞法導痰壅，探吐喉風最有功。半水半油鵝羽用，斬關開膈效無窮。</p>
<p>用桐油一鍾，開水一鍾，和勻鵝羽探吐。</p>
<p><u>玉鑰匙</u></p>
<p>喉風玉匙古遺方，月石元明冰片良。加入制蠶研細末，探痰湧吐力能當。</p>
<p>月石（五錢）　元明粉（一兩五錢）　冰片（四分）　殭蠶（一錢五分）</p>
<p>共研細末，吹之探吐亦用。</p>
<p><u>子字</u></p>
<p>子字吹方藥幾般，元明月石一同研。再加冰片硃砂共，吹入喉中妙若仙。</p>
<p>月石（五錢）　元明粉（五錢）　硃砂（三分）　冰片（三分）</p>
<p>共研細末吹之。</p>

<h3>陰虛喉痹</h3>
<p>陰虛喉痹體虛生，微腫咽關癢痛行。暴怒下虧相火勝，憂思過度總能成。</p>
<p><u>甘露飲</u></p>
<p>甘露飲中兩地芩，茵陳枇葉一同珍。黑梔甘草兼川斛，天麥門冬斯劑伸。</p>
<p>生地黃　熟地黃　天門冬　麥門冬　茵陳　石斛　甘草　黃芩　山梔　枇杷葉</p>
<p><u>未字</u></p>
<p>未字燈心芷薄荷，蒲黃中白黛礬和。元明月石梅花草，連柏加之效不訛。</p>
<p>薄荷（一錢五分）　白芷（二分）　黃連（二分）　甘草（五分）　人中白（一錢）　青黛（五分）月石（一錢）　黃柏（一錢）　蒲黃（一錢）　枯礬（二分）　元明粉（一錢八分）　冰片（三分）　燈心（二分）</p>
<p>上為細末。</p>

<h3>喉癬</h3>
<p>喉癬咽乾苔癬生，時增燥癢痛難停。皆緣厚味五辛火，斑爛延開蟻蛀形。</p>
<p><u>清金潤燥湯</u></p>
<p>清金潤燥地元參，牛蒡連翹花粉侵。川貝射干甘草等，殭蠶更又入燈心。</p>
<p>元參　連翹　生地黃　甘草　殭蠶　天花粉　牛蒡子　貝母　射干　燈心</p>
<p><u>未字</u></p>
<p>見喉痹。</p>

<h3>上齶癰</h3>
<p>癰生上齶若桃形，積熱三焦與少陰。開合艱辛寒熱勝，鼻流紅涕若難禁。</p>
<p><u>黃連消毒飲</u>　見擅拱頭。</p>
<p><u>子字</u>　見喉風。</p>

<h3>鎖喉毒</h3>
<p>鎖喉毒在耳前生，外感，風寒積熱停。漸欲攻喉形瘰癧，相兼心與小腸經。</p>
<p><u>清咽利膈湯</u>　<u>子字</u>　見喉風。</p>

<h3>乳蛾</h3>
<p>乳蛾積火肺經成，單重雙輕喉內生。形似蠶蛾紅更腫，若教痛塞勢非輕。</p>
<p><u>清咽利膈湯</u>　<u>子字</u>　見喉風。</p>

<h3>喉瘤</h3>
<p>喉瘤鬱熱肺經成，多語還兼損氣神。渾似紅絲元眼裡，雙輕單重細詳因。</p>
<p><u>益氣清金湯</u></p>
<p>益氣清金肺熱攻，喉瘤頻服妙無窮。陳蘇芩蒡門冬桔，梔薄參芩甘貝逢。</p>
<p>人參　桔梗　黃芩　貝母　甘草　麥門冬　牛蒡子　山梔　茯苓　陳皮　薄荷　紫蘇</p>
<p><u>消瘰碧玉散</u></p>
<p>消瘰碧玉點喉瘤，開結通喉熱可搜。君以硼砂冰片輩，膽礬末入患皆瘳。</p>
<p>硼砂（三錢）　冰片（三分）　膽礬（三分）</p>
<p>研末點之。</p>

<h2>胸部</h2>

<h3>井疽</h3>
<p>井疽心火發中庭，初起焮疼豆粒形。口燥唇焦煩更渴，黑凶紅活驗之靈。</p>
<p><u>內疏黃連湯</u>　見腫瘍。</p>
<p>內外治法照腫瘍。</p>

<h2>乳部</h2>

<h3>內外吹乳</h3>
<p>吹乳皆緣積毒生，內吹胎熱自然成。外吹子鼻寒涼襲，寒熱虛煩腫痛行。</p>
<p><u>牛蒡子湯</u></p>
<p>牛蒡子湯牛蒡陳，黃芩花粉及蔞仁。連翹梔子柴青共，角刺還同甘草銀。</p>
<p>柴胡　連翹　栝蔞仁　山梔　金銀花　牛蒡子　黃芩　陳皮　皂角　甘草　天花粉　青皮</p>
<p><u>柴胡舒肝湯</u>　見鬢疽。</p>
<p><u>托裡透膿湯</u>　見腫瘍。</p>
<p><u>橘葉散</u></p>
<p>橘葉散中桔葉陳，柴胡甘草黑梔珍。川芎芩石膏翹輩，更入青皮用自神。</p>
<p>柴胡　陳皮　川芎　山梔　青皮　黃芩　連翹　甘草　橘葉　石膏</p>
<p><u>如意散</u>　<u>沖和膏</u>　見腫瘍。</p>

<h3>乳癰（乳疽）</h3>
<p>乳癰疽髮乳房生，肝鬱瘀凝胃火成。癰發焮紅兼赤痛，疽形漫硬覺疼行。癰成二七腫蒸就，疽症還須一月盈。未潰排膿托裡法，已成膿泄補功呈。</p>
<p><u>牛蒡子湯</u>（初起）　見吹乳。</p>
<p><u>透膿湯</u>（已成）　見腫瘍。</p>
<p>內外治法照癰疽門。</p>

<h3>乳癧（乳癖同）</h3>
<p>乳中結核李梅形，按之難移色不更。將涉勞岩時隱痛，肝脾鬱結始能成。</p>
<p><u>清肝解鬱湯</u></p>
<p>清肝解鬱芍青陳，牛桔芎歸貝茯神。生地甘梔通遠志，更加蘇梗妙多真。</p>
<p>生地黃　當歸　青皮　桔梗　甘草　蘇梗　川芎　陳皮　山梔　牛蒡子　芍藥　遠志　貝母　木通　茯神</p>
<p><u>逍遙散</u></p>
<p>逍遙散用芍當歸，薄茯柴甘香附依。再入丹皮云片術，疏肝解鬱立能揮。</p>
<p>柴胡　當歸　茯苓　丹皮　甘草　香附　芍藥　白朮　薄荷</p>
<p><u>巴膏</u>　見瘰癧。</p>

<h3>乳岩</h3>
<p>乳岩初結隱疼行，肝與脾虧氣血成。寒熱不紅形似核，潰流臭水不非輕。</p>
<p><u>歸脾湯</u>　見潰瘍。</p>
<p><u>逍遙散</u>　見乳癧。</p>
<p><u>木香餅</u></p>
<p>木香餅子消岩核，結滯舒通功倍強。生地木香研細末，頻頻熨貼效非常。</p>
<p>生地黃（一兩）　木香（五錢）</p>
<p>為末同搗作餅，每日將熨斗熨之。</p>

<h2>腹部</h2>

<h3>幽癰</h3>
<p>臍上幽癰七寸生，初時猶小腫疼成。憂思火毒膏粱味，緊閉牙關戰慄傾。</p>

<h3>中脘疽</h3>
<p>中脘疽由胃火生，臍上四寸即其名，堅疼漫腫無紅熱，嘔惡原來毒不輕。</p>

<h3>臍癰</h3>
<p>臍癰毒發在臍中，腫大如瓜突更崇。無熱無紅宜蒜灸，稠膿為吉水流凶。</p>

<h3>少腹疽</h3>
<p>少腹疽生臍下邊，證由火鬱七情纏。紅疼高腫兼牽背，軟陷無膿流水綿。</p>

<h3>治法歌</h3>
<p>癰疽症，總會言，異名同類細詳論。已成托裡排膿法，潰後宜詳補托門。</p>
<p><u>活命飲</u>　<u>消毒散</u>　<u>透膿湯</u>　<u>如意散</u>　<u>沖和膏</u>　<u>清涼膏</u>　<u>三仙丹</u>　<u>玉紅膏</u>　見腫瘍</p>
<p><u>。</u></p>
<p><u>十全大補湯</u>　<u>人參養營湯</u>　見潰瘍。</p>
<p><u>蟾酥丸</u>　見黑疔。</p>

<h2>腋部</h2>

<h3>腋癰疽</h3>
<p>腋癰疽腫腋間生，腫硬焮疼寒熱行，血熱熏蒸兼忿怒，肝脾經絡解還清。</p>
<p><u>柴胡清肝湯</u>（初起）　見鬢疽。</p>
<p><u>透膿湯</u>（已成）　見腫瘍。</p>
<p>潰後內外治法照癰疽門。</p>

<h3>暗疔</h3>
<p>腋下生之名暗疔，肝脾火毒癢疼成。增寒壯熱形多黑，急按疔門治即平。</p>
<p>內外治法照顴疔。</p>

<h2>肋部</h2>

<h3>肋疽</h3>
<p>肋疽始發屬肝經，鬱怒還兼火毒凝。如李如桃多結腫，須宜針刺砭之應。</p>
<p>治法照癰疽門。</p>

<h3>淵疽</h3>
<p>淵疽肝膽怒憂成，肋下生之腫痛行。潰破有聲膜已透，預先可服護膜輕。</p>
<p><u>柴胡清肝湯</u>　見鬢疽。</p>
<p>治法俱照癰疽門。</p>

<h3>內發丹毒</h3>
<p>丹毒肝脾熱極生，赤霞腰胯肋間憑。急宜砭血毋疑怠，嘔噦昏沉毒已騰。</p>
<p><u>化斑解毒湯</u></p>
<p>化斑解毒石膏連，知母元參牛蒡研。更有升翹相併用，甘中黃入妙天然。</p>
<p>升麻　元參　連翹　黃連　石膏　知母　牛蒡子　甘草　人中黃</p>
<p><u>如意散</u>　見腫瘍。</p>

<h3>脅癰（脅疽）</h3>
<p>高腫焮紅是脅癰，頂平根散號疽同。皆緣肝膽三焦火，厚味憂思亦可逢。</p>
<p><u>柴胡清肝湯</u>　見鬢疽。</p>
<p><u>托裡透膿湯</u>　見腫瘍。</p>
<p>內外治法照癰疽門。</p>

<h2>內部</h2>

<h3>肺癰</h3>
<p>肺癰肺熱復傷風，肺臟生癰隱痛中。狀若傷寒煩咳甚，痰涎稠濁臭腥沖。倘然未潰麻黃汗，不臥痰湧葶藶攻。潰後膿稠能食吉，膿清兼血不收功。</p>

<h3>治法歌</h3>
<p>肺癰症，勢非輕，治法還須著一呈。未潰風寒宜解散，麻黃湯用自能平。</p>
<p><u>射干麻黃湯</u></p>
<p>射干麻黃治肺癰，細辛五味款冬宗。生薑紫菀兼半夏，大棗加來法可從。</p>
<p>麻黃　細辛　五味子　紫菀　大棗　生薑　射干　半夏　款冬花</p>
<p>氣喘急，不得眠，葶藶大棗此方先。身皮甲錯蒸膿者，葦莖湯煎法更鮮。</p>
<p><u>葶藶大棗湯</u></p>
<p>葶藶大棗肺癰嘗，不臥須知膿自強。葶藶苦寒兼瀉熱，更加大棗效難量。</p>
<p>葶藶子　大棗</p>
<p><u>千金葦莖湯</u></p>
<p>聞說千金有葦莖，桃紅瓜瓣薏苡仁。能通脈絡兼行血，初起之癰服自神。</p>
<p>葦莖　桃仁　甜瓜瓣　薏苡仁</p>
<p>膿已成，頻吐腥，排膿桔梗急煎吞。心煩身熱須金鯉，童便還須飲一樽。</p>
<p><u>排膿桔梗湯</u></p>
<p>排膿桔梗是奇方，解毒清金效莫當。甘桔兩般堪治疾，請君一試便知良。</p>
<p>桔梗（一兩）　甘草（二兩）</p>
<p><u>金鯉湯</u></p>
<p>金鯉湯中藥罕稀，法同貝母鯉魚奇。魚同童便重湯燉，肺臟生癰此可醫。</p>
<p>金鯉魚（一尾重四兩者）　川貝母（二兩，去心）</p>
<p>將鯉魚刮去腸雜，勿經水，用川貝末摻入魚肚，棉線縫之。用白童便半大碗，將魚浸童便內，隔湯燉煮魚眼突出為度，少頃取出去鱗骨，將淨肉童便一日二、三次服淨為效。</p>
<p>肺癰潰，自汗虛，桔梗湯吞效更舒。再宜紫菀清金劑，調攝平常可自如。</p>
<p><u>清肺桔梗湯</u></p>
<p>清肺原來桔梗湯，歸蔞耆貝草葶良。米仁百合知防己，枳殼桑皮味骨嘗。</p>
<p>桔梗（八分）　黃耆（八分）　五味子（一錢）　枳殼（麩炒，八分）　栝蔞仁（研，二分）　桑白皮（炒，八分）　當歸（八分）　防己（八分）　川貝母（八分）　薏苡仁（炒，八分）　地骨皮（一錢）　葶藶子（一錢）　知母（生，一錢）　甘草節（八分）　杏仁（炒研，一錢）</p>
<p><u>紫菀茸湯</u></p>
<p>紫菀茸湯犀角參，冬花桑貝杏仁珍。阿膠百合兼半夏，甘草蒲黃姜最神。</p>
<p>紫菀　半夏　款冬花　生薑　犀角　杏仁　蒲黃　桑葉　甘草　人參　貝母　百合　阿膠</p>
<p><u>清金保肺丸</u></p>
<p>清金保肺貝甘陳，二地歸苓骨桔侵。天麥柴芎連芍味，人參白朮淡黃芩。</p>
<p>川貝　甘草　陳皮　生地　熟地　當歸　茯苓　地骨皮　桔梗　天門冬　麥門冬　白朮黃芩　銀柴胡　川芎　胡黃連　芍藥　五味子　人參</p>
<p>上為細末，煉蜜為丸。</p>

<h3>大、小腸癰</h3>
<p>大小腸癰濕熱凝，血瘀氣滯注腸停，大黃湯用行瘀法，倘若膿成薏苡靈。</p>
<p><u>大黃湯</u></p>
<p>大黃湯內朴硝和，白芥丹皮用不訛，更有桃仁相共用，腸癰腹部自然瘥。</p>
<p>大黃　白芥子　牡丹皮　朴硝　單桃仁</p>
<p><u>牡丹湯</u></p>
<p>牡丹湯內用桃仁，瓜子芒硝與錦紋。始起腸癰宜早用，煎之方識迥超群。</p>
<p>大黃　甜瓜仁　牡丹皮　單桃仁　芒硝</p>
<p><u>薏苡附子散</u></p>
<p>薏附還須加敗醬，三般相共水煎扶。腸癰氣急須宜服，臟腑能教邪自驅。</p>
<p>附子　敗醬草　薏苡仁</p>
<p><u>薏苡仁湯</u></p>
<p>薏苡仁湯功效奇，腸癰腹癰最堪醫。桃仁加上栝蔞子，赤芍丹皮一處隨。</p>
<p>薏苡仁　單桃仁　栝蔞仁　芍藥　牡丹皮</p>
<p><u>八珍湯</u>（潰後）　見潰瘍。</p>

<h3>胃癰</h3>
<p>胃癰中脘穴焮疼，不咳頻將膿吐腥。飲食七情之火毒，腸癰治法略同形。</p>
<p><u>清胃射干湯</u></p>
<p>清胃射干湯射干，升麻犀角麥冬芒。元參竹葉山梔子，又入黃芩與大黃。</p>
<p>射干　升麻　元參　黑山梔　芒硝　麥門冬　犀角　黃芩　竹葉　大黃</p>
<p><u>赤豆薏苡湯</u></p>
<p>赤豆還加薏苡湯，胃癰脈數考茲方。還兼炙草同防己，用水煎嘗服不妨。</p>
<p>赤小豆　薏苡仁　防己　甘草</p>
<p>補中益氣湯（潰後氣虛）　見潰瘍。</p>

<h3>脾癰</h3>
<p>脾癰濕熱血瘀凝，隱隱章門穴腫形。腹脹嗌乾小水短，分通濕熱自然靈。</p>
<p>治法照腸癰。</p>

<h3>肝癰</h3>
<p>肝癰憤怒氣凝生，穴腫期門堅痛行。坐臥如驚多脹滿，清肝滋腎自功成。</p>
<p><u>柴胡清肝湯</u>　見鬢疽。</p>
<p><u>六味地黃丸</u>　見漏晴瘡。</p>

<h3>心癰</h3>
<p>心癰巨闕腫兼疼，酷飲還相火毒成。面赤口乾身作痛，須知陽熱總宜清。</p>
<p><u>涼血飲</u></p>
<p>飲名涼血治心癰，瞿荊荷芷翹草運。赤芍通梔生地等，車前花粉麥門冬。</p>
<p>生地黃　連翹　荊芥　天花粉　木通　麥門冬　芍藥　薄荷　白芷　瞿麥　車前子　山梔　甘草</p>
<p><u>升麻葛根湯</u></p>
<p>升葛湯中升葛柴，芩甘赤芍木通諧。連翹又入山梔子，專治心癰酒毒佳。</p>
<p>升麻　柴胡　黃芩　木通　山梔　葛根　連翹　芍藥　甘草</p>

<h3>腎癰</h3>
<p>腎癰皆為腎經虧，微腫京門穴上垂。少腹肋間䐜脹滿，房勞過度外邪隨。</p>
<p><u>龍宮湯</u></p>
<p>龍宮特獻許真君，遺與醫家為秘經。熟地麻黃姜芥桂，還加鹿角用多靈。</p>
<p>熟地黃　肉桂　白芥子　麻黃　鹿角霜　乾薑</p>

<h3>三焦癰</h3>
<p>三焦癰發石門生，濕熱凝瘀腫痛成。治法腸癰分例用，自然臟腑悉和平。</p>
<p>治法照腸癰。</p>

<h2>肩部</h2>

<h3>肩疽</h3>
<p>肩疽癰發正肩中，黑陷為疽癰腫紅。若是干疽肩後發，血瘀風鬱濕凝逢。</p>
<p>治發悉照腫瘍。</p>

<h2>臑部</h2>

<h3>臑疽</h3>
<p>臑疽風熱氣凝成，紅腫焮疼粟米生。內屬三陰陽發外，癰疽治法細詳評。</p>
<p>治法照癰疽。</p>

<h3>魚肚發</h3>
<p>魚肚發如魚肚形，皆緣心火發青靈。焮紅暴腫兼疼痛，悉照癰疽治法經。</p>
<p>治法照癰疽。</p>

<h3>石榴疽</h3>
<p>石榴疽起肘尖間，粟疱根開腫痛堅。翻破如榴寒熱甚，三焦相火濕凝然。</p>
<p><u>菊花清燥湯</u></p>
<p>菊花清燥湯生地，知貝芎歸地骨皮。甘草柴芩犀角共，升麻白芍麥冬宜。</p>
<p>生地黃　歸身　犀角　柴胡　甘菊花　川芎　芍藥　麥門冬　升麻　地骨皮　知母　黃芩　貝母　甘草</p>
<p><u>蟾酥丸</u>　見黑疔。</p>
<p><u>沖和膏</u>　<u>護心丸</u>　見腫瘍。</p>
<p>潰後悉照癰疽門。</p>

<h2>臂部</h2>

<h3>臂疽　臂癰</h3>
<p>臂上癰疽繞臂生，紫平凶象腫紅輕。皆緣風熱凝營衛，甚則攣拳徹骨驚。</p>
<p><u>荊防敗毒散</u>　<u>如意散</u>　<u>沖和膏</u>　<u>托裡透膿湯</u>　見腫瘍。</p>
<p><u>蟾酥丸</u>　見黑疔。</p>
<p>潰後照癰疽門。</p>

<h3>兌疽</h3>
<p>兌疽動脈腕之間，漫腫堅疼兌骨邊。痛徹膊間為險症，太淵穴上肺經傳。</p>
<p><u>桑丹清毒飲</u>　<u>靈寶丹</u>　見鬢疽。</p>
<p><u>如意散</u>　<u>清涼膏</u>　<u>三仙丹</u>　見腫瘍。</p>
<p>潰後見補托法。</p>

<h3>腕癰</h3>
<p>腕癰風火發三陽，手腕之間結腫強。高突焮紅須速潰，倘然黑腐總難康。</p>
<p><u>荊防敗毒散</u>　<u>托裡透膿湯</u>　見腫瘍。</p>
<p><u>紫金錠</u>　見風痰。</p>
<p><u>靈寶丹</u>　見鬢疽。</p>
<p>潰後照補托門。</p>

<h3>螻蛄串</h3>
<p>螻蛄串生臂內中，骨筋渾似射傷同。思傷脾氣凝胞絡，內潰穿筋涉漏通。</p>
<p><u>逍遙散</u>　見乳岩。</p>
<p><u>紫金錠</u>　見風痰。</p>
<p><u>養營湯</u>　見潰瘍。</p>
<p>潰後照癰疽門。</p>

<h2>手部</h2>

<h3>手背發</h3>
<p>手背發初芒刺形，三陽風火濕凝成。硬堅潰後妨筋骨，紅腫高疼速潰輕。</p>
<p><u>荊防敗毒散</u>　<u>真人治命飲</u>　<u>如意散</u>　<u>萬靈丹</u>　見腫瘍。</p>
<p>余照癰疽門。</p>

<h3>掌心毒</h3>
<p>疔名托塔掌心生，胞絡之經積熱成。發在掌邊穿掌毒，初宜發汗次宜清。</p>

<h3>手丫發</h3>
<p>手丫發即是丫疔，濕火瘀凝結自成。如粟漸然如豆粒，急求疔法治之輕。</p>

<h3>疔</h3>
<p>疔名泛爪甲傍生，甲後生之蛇背論。竹節疔生中節骨，羅門疔發在羅門。</p>

<h3>代指</h3>
<p>代指生於指甲身，腫紅焮熱痛連心。潰而膿少多脫甲，經脈瘀凝濕熱侵。</p>

<h3>治法歌</h3>
<p>以上疔，風火成，桑丹清毒法從新。蟾酥丸更宜先服，外治須敷太乙神。</p>
<p><u>桑丹清毒飲</u>　見鬢疽。</p>
<p><u>蟾酥丸</u>　見黑疔。</p>
<p><u>紫金錠</u>　見風痰。</p>
<p><u>三仙丹</u>　<u>清涼膏</u>　見腫瘍。</p>

<h3>蜣螂蛀</h3>
<p>蜣螂蛀由痰氣凝，蟬肚之形指節生。初起不疼延久痛，膿清涉怯頗非輕。</p>
<p><u>香砂六君湯</u>　<u>養營湯</u>　見潰瘍。</p>
<p><u>離宮錠</u>　見鼻疔。</p>
<p><u>三仙丹</u>　<u>清涼膏</u>　見腫瘍。</p>

<h3>鵝掌風</h3>
<p>鵝掌風生掌上間，皮膚燥烈痛而堅。營虛血燥風邪襲，滋燥養營湯可痊。</p>
<p><u>滋燥養營湯</u></p>
<p>滋燥養營兩地黃，芩甘歸芍及艽防。爪枯火燥兼風閉，火爍精傷血液亡。</p>
<p>生地黃　當歸　防風　黃芩　熟地黃　芍藥　秦艽　甘草</p>
<p><u>二礬散</u></p>
<p>鵝掌風須用二礬，兒茶柏葉一同行。桐油先用搽患處，油捻將來熏洗良。</p>
<p>白礬（四兩）　皂礬（四兩）　孩兒茶（五錢）　側柏葉（八兩）　水（十碗）</p>
<p>煎滾，先以油搽患處，桐油傳燃點火熏患處，片時次用煎湯乘熱熏洗，七日內不可下水。</p>

<h2>下部</h2>

<h3>懸癰</h3>
<p>懸癰毒發會陰生，初起如蓮漸似桃。濕熱三陰虧損症，潰而大半涉瘡勞。</p>
<p><u>滋陰八物湯</u></p>
<p>滋陰八物湯生地，赤芍丹皮花粉歸。甘草川芎兼澤瀉，燈心為引效堪依。</p>
<p>生地黃　當歸　牡丹皮　澤瀉　天花粉　川芎　芍藥　燈心　甘草</p>
<p><u>還元保真湯</u></p>
<p>還元湯內用參苓，四物丹皮白朮珍。甘草黃耆枸子澤，還須附桂用之勻。</p>
<p>人參　肉桂　牡丹皮　茯苓　枸杞子　黃耆　附子　澤瀉　白朮　甘草　熟地黃　當歸川芎　芍藥</p>
<p><u>國老膏</u></p>
<p>古法懸癰國老膏，當歸甘草莫相逃。長流水浸桑柴煮，元酒相調功倍高。</p>
<p>當歸（三兩）　甘草（三兩）</p>
<p>二味桑柴文武火煎，頭二、三汁去渣，再煎成膏。每日清晨，元酒沖服三、四錢。</p>
<p><u>七釐丹</u>（初起裡實者用之）</p>
<p>通幽解毒七釐丹，乳沒川烏巴豆霜。更有辰雄能解毒，散瘀排氣片薑黃。</p>
<p>薑黃（一兩）　川烏（二錢五分）　乳香（去油，二錢，五分）　雄黃（三錢）　沒藥（去油，二錢五分）　辰砂（二錢五分）　巴豆霜（一兩）</p>
<p>為末米漿作丸棓子大，每服七丸，陳元酒送下。</p>
<p><u>琥珀蠟礬丸</u>　見腫瘍。</p>
<p>潰後內外治法照腫瘍。</p>

<h3>跨馬癰</h3>
<p>跨馬癰生近腎囊，皆緣濕火腎肝傷。焮疼紅腫為輕症，禁用寒涼托裡良。</p>
<p><u>真人活命飲</u>　<u>托裡透膿湯</u>　見腫瘍。</p>
<p>治照癰疽。</p>

<h3>便毒魚口橫痃</h3>
<p>便毒生於腿縫間，忍精瘀血怒凝然。堅疼木硬曾寒熱，針灸還宜汗下痊。</p>
<p><u>紅花散瘀湯</u></p>
<p>紅花散瘀湯蘇木，翹貝殭蠶乳決明。歸尾大黃兼角刺，牽牛山甲酒煎行。</p>
<p>紅花　當歸　貝母　大黃　殭蠶　蘇木　連翹　石決明　皂角針　穿山甲　乳香　黑牽牛</p>
<p><u>黃耆內托散</u></p>
<p>黃耆內托散芎歸，白朮銀花澤瀉隨。花粉角針甘草共，跨間便毒此能醫。</p>
<p>黃耆　當歸　金銀花　天花粉　甘草　白朮　川芎　澤瀉　皂角針</p>
<p><u>荊防敗毒散</u>　見腫瘍。</p>
<p><u>琥珀膏</u></p>
<p>琥珀膏中用大黃，南星白芷鬱金調。同為細末瓷瓶貯，蔥蜜調敷腫自消。</p>
<p>大黃　鬱金　南星　白芷　共為細末，蔥蜜調敷。</p>
<p>潰後照癰疽門。</p>

<h3>下疳</h3>
<p>疳瘡名一有三因，欲火瘀凝紫亮形，癗癢皆緣房術毒，淋漓赤腫濕多停。</p>
<p><u>八正散</u></p>
<p>八正散中用木通，車前瞿麥大黃同。山梔萹蓄兼滑石，甘草加之效不窮。</p>
<p>瞿麥　萹蓄　車前子　木通　滑石　甘草　大黃　山梔</p>
<p><u>清肝導滯湯</u></p>
<p>清肝導滯甘瞿麥，滑石須同萹蓄勻。更入大黃因便閉，還加燈草用之神。</p>
<p>瞿麥　萹蓄　滑石　大黃　燈草　甘草</p>
<p><u>龍膽瀉肝湯</u></p>
<p>龍膽瀉肝湯地黃，車前澤瀉木通當。芩梔翹草同歸尾，濕用黃連閉大黃。</p>
<p>龍膽草　地黃　車前子　澤瀉　木通　當歸尾　黃芩　山梔　連翹　甘草　黃連　大黃</p>
<p><u>銀粉散</u></p>
<p>銀粉散中效罕稀，硃砂錫炒力多奇。水銀輕粉同杭粉，結毒陽糜用此醫。</p>
<p>好錫（六錢），化開硃砂末（二錢），同炒，砂枯去砂留錫，再化開入水銀（一兩），和勻傾出聽用。用杭粉（一兩），研細平山夾紙上，捲成一條，一頭燃火煨之，紙淨為度，吹去灰用粉同錫末，再加真輕粉（一兩），共研極細摻之。</p>
<p><u>珍珠散</u></p>
<p>珍珠散治下疳瘡，清濕除瘀脫腐方。連柏兒茶輕粉蛤，象牙杭乳沒香良。</p>
<p>珍珠（一錢）　黃柏（一錢）　輕粉（一錢五分）　文蛤（三錢）　乳香（一錢五分，去油）　黃連（一錢）　杭粉（三錢）　象牙屑（三錢）　孩兒茶（一錢）　沒藥（一錢五分，去油）</p>
<p>共為細末摻之。</p>

<h3>陰蝨瘡</h3>
<p>陰蝨瘡由毛際生，腎肝濁熱蘊而成。更兼淫癢渾如癩，急用無憂散自輕。</p>
<p><u>銀杏無憂散</u></p>
<p>銀杏無憂散麝香，水銀輕粉杏仁強。雄黃狼毒兼蘆薈，調擦何愁藥不良。</p>
<p>水銀（一錢）　杏仁（一錢）　雄黃（一錢）　蘆薈（一錢）　麝香（二分）　輕粉（一錢，鉛製）狼毒（一錢）</p>
<p>上五味為末，合水銀杏仁，再研極細，津唾調搽。</p>

<h3>腎囊癰</h3>
<p>腎囊癰發腎囊間，濕熱凝瘀下注摶。紅腫焮疼寒熱作，潰而腐爛露睪丸。</p>
<p><u>清肝滲濕湯</u></p>
<p>清肝滲濕湯歸地，芎芍柴通澤瀉芩。膽草山梔花粉等，燈心甘草法從心。</p>
<p>生地黃　當歸身　黃芩　天花粉　山梔　川芎　龍膽草　芍藥　木通　澤瀉　柴胡　甘草　燈心</p>
<p><u>滋陰內托散</u></p>
<p>滋陰內托散芎歸，白芍還兼生地耆。澤瀉角針山甲共，囊癰日久服相宜。</p>
<p>地黃　當歸　川芎　澤瀉　黃耆　芍藥　穿山甲　皂角針</p>
<p>內外治法照癰疽門。</p>

<h3>腎囊風</h3>
<p>腎囊風發屬肝經，風濕熏蒸外襲成。癢痛搔穿流血水，甚而疙瘩亦多生。</p>
<p><u>蛇床子湯</u></p>
<p>蛇床湯內苦參歸，更入靈仙用有奇。河水同煎熏患處，腎囊風癢洗之宜。</p>
<p>蛇床子（五錢）　葳靈仙（五錢）　當歸（五錢）　苦參（五錢）</p>
<p>四味煎湯洗淨。</p>

<h3>婦人陰瘡</h3>
<p>陰瘡一症總為名，條款分門著意呈。陰挺如虯脾怯弱，腫陰傷血與勞成。</p>
<p>胃虛積鬱生陰蝕，陰脫憂思太過生。氣血雙虛陰㿗症，各隨經絡治之平。</p>

<h3>治法歌</h3>
<p>陰挺症，似蛇形，脾經虛弱有來因。初服逍遙龍膽法，補中益氣用之神。</p>
<p>陰戶腫，血分勞，清肝滲濕有功勞。秦艽湯更須間服，若用逍遙法亦高。</p>
<p>陰蝕病，生小蟲，胃虛積鬱濕相逢。涼營瀉火宜兼用，蘆薈煎之立大功。</p>
<p>陰脫症，思慮成，陰戶開而閉不能。癢痛兼行流水者，逍遙歸脾服之應。</p>
<p>陰㿗症，氣血虛，補中益氣用之符。外敷更用蓖麻子，搗爛將來貼頂須。</p>
<p><u>秦艽湯</u></p>
<p>秦艽湯內用當歸，蔥白菖蒲兩共投。陰腫兼疼煎食服，此方神效妙難求。</p>
<p>秦艽　當歸　菖蒲　蔥白</p>
<p><u>涼營瀉火散</u></p>
<p>涼營瀉火散黃芩，四物山梔知母呈。龍膽柴胡茵草麥，木通更入大黃行。</p>
<p>生地黃　當歸　川芎　芍藥　黃芩　山梔　知母　龍膽草　柴胡　茵陳　甘草　麥門冬大黃　木通</p>
<p><u>蘆薈丸</u></p>
<p>蘆薈丸中用二連，蕪荑鶴蝨共雷丸。青皮麝木香相共，餅和為丸病自安。</p>
<p>蘆薈　黃連　鶴蝨　雷丸　胡黃連　蕪荑　青皮（各一兩）　木香（三錢）　麝香（一錢）</p>
<p>上為細末，水泛為丸，每服一錢。</p>
<p><u>芎歸湯</u></p>
<p>芎歸湯洗陰中癢，蛇菌雞冠並此求。白芷生甘龍膽草，陰癢熏洗效應收。</p>
<p>川芎　當歸　白芷　甘草　龍膽草（各五錢）</p>
<p>煎湯熏洗。</p>
<p><u>雄黃藜蘆散</u></p>
<p>雄黃更又與藜蘆，冰片還同輕鱉敷。更入芎歸研細末，雞冠蛇菌擦之無。</p>
<p>雄黃（一錢）　藜蘆（一錢）　輕粉（一錢）　鱉頭（一錢）　冰片（三分）　川芎（一錢）　當歸（一錢）</p>
<p>研末搽之。</p>
<p><u>艾葉湯</u></p>
<p>艾葉湯中大戟添，防風傾入一同煎。陰疼陰癢皆宜用，熏洗將來效似仙。</p>
<p>艾葉（一兩）　大戟（五錢）　防風（六錢）</p>
<p>煎洗。</p>
<p><u>塌癢湯</u></p>
<p>塌癢湯中用苦參，靈仙狼毒共相珍。蛇床鶴蝨同歸尾，煎洗陰中癢自伸。</p>
<p>苦參（五兩）　葳靈仙（五兩）　狼毒（五兩）　當歸（五兩）　蛇床（五兩）　鶴蝨（一兩）</p>
<p>煎湯熏洗。</p>
<p><u>銀杏散</u></p>
<p>銀杏散中用杏仁，水銀輕粉雄黃真。更加棗肉須綿裹，填塞陰中妙更神。</p>
<p>杏仁（一錢）　水銀（一錢）　輕粉（一錢）　雄黃（一錢）</p>
<p>上為細末，用藥五分，棗肉一枚和丸，用絲綿包裹絲線一根扎之，將藥納於陰戶，留線在外，一日一換。</p>
<p><u>蓖麻法</u></p>
<p>陰㿗皆緣氣血虧，還須蓖麻子無疑。一同搗爛敷巔頂，能治子門脫下垂。</p>
<p>蓖麻子（四十九粒）</p>
<p>搗爛，貼於巔頂，子門上收，速去之。</p>
<p><u>逍遙丸</u>　見乳岩。</p>
<p><u>補中益氣湯</u>　見潰瘍。</p>
<p><u>瀉肝湯</u>　見下疳。</p>
<p><u>清肝滲濕湯</u>　見腎囊癰。</p>
<p><u>歸脾湯</u>　見潰瘍。</p>

<h2>臀部</h2>

<h3>鸛口疽</h3>
<p>鸛口疽生尻尾尖，輕居督脈濕痰緣。潰時膿少流清水，老弱難療少易痊。</p>
<p><u>滋陰除濕湯</u>（初起）</p>
<p>滋陰除濕湯知母，白芍芎歸生地芩。貝母柴陳兼澤瀉，炙甘又入骨皮侵。</p>
<p>生地黃　當歸　芍藥　知母　澤瀉　黃芩　川芎　柴胡　貝母　甘草　地骨皮　陳皮</p>
<p><u>和氣養營湯</u>（已成）</p>
<p>和氣養營湯術耆，參芩熟地共陳皮。丹皮甘草沉香末，加入當歸分外奇。</p>
<p>人參　當歸　黃耆　茯苓　陳皮　熟地黃　白朮　沉香　牡丹皮　甘草</p>
<p><u>滋腎保元湯</u>（潰後）</p>
<p>滋腎保元湯桂參，歸耆熟地茯苓甘。丹皮附子山萸術，杜仲還加薑棗三。</p>
<p>人參　熟地黃　附子　當歸　黃耆　白朮　牡丹皮　生薑　肉桂　山茱萸　杜仲　茯苓甘草　大棗</p>
<p><u>蠟礬丸</u>　見腫瘍。</p>
<p>余照癰疽門。</p>

<h3>坐馬癰</h3>
<p>坐馬癰生督脈經，位居尻尾濕瘀成。高疼紅腫膿稠順，散漫膿清症不輕。</p>
<p>內外治法照鸛口疽。</p>

<h3>臀癰</h3>
<p>臀癰原是出膀胱，漫腫堅剛濕熱強。肉厚太陰真部分，高疼焮腫症為陽。</p>
<p>內外治法照癰疽。</p>

<h3>上下馬癰</h3>
<p>上馬癰同下馬癰，生於左右折紋宗。膀胱濕熱凝於絡，紅腫為輕黑陷凶。</p>
<p><u>內托羌活湯</u></p>
<p>內托羌活桂防翹，生草黃耆黃柏調。歸尾陳皮藁本輩，紅花蒼朮不相饒。</p>
<p>桂枝　當歸　連翹　紅花　陳皮　黃耆　防風　黃柏　蒼朮　甘草　羌活　藁本</p>
<p><u>透膿散</u>　見腫瘍。</p>
<p>內外治法照癰疽。</p>

<h3>臟毒</h3>
<p>臟毒毒注在肛門，虛實還須細酌斟。厚味辛勤兼酒色，外為陽症內為陰。</p>
<p><u>黃連除濕湯</u>（濕熱便閉服之）</p>
<p>黃連除濕湯芩樸，蒼朮硝黃枳殼翹。芎草防風歸尾等，懸癰臟毒此無逃。</p>
<p>黃連　當歸　連翹　蒼朮　朴硝　厚朴　川芎　防風　大黃　甘草　黃芩　枳殼</p>
<p><u>涼血地黃湯</u>（便血腫痛）</p>
<p>涼血地黃湯芍歸，人參梔子地榆依。茯苓白朮芎連草，花粉加之效不稀。</p>
<p>生地黃　白朮　當歸　天花粉　山梔　黃連　芍藥　茯苓　地榆　甘草　人參　川芎</p>
<p><u>五灰散</u></p>
<p>五灰散內用鵝毛，鹿角蜈蚣山甲燒。再入血餘同煅末，肛門腫痛即時消。</p>
<p>血管鵝毛　鹿角　蜈蚣　穿山甲　血餘（各等分）</p>
<p>燒灰存性，每服三錢元酒送下。</p>
<p><u>菩提露</u></p>
<p>菩提熊膽須為最，要好還將冰片彈。臟毒腫疼推此妙，捺於患處即時安。</p>
<p>熊膽（三分）　冰片（一分）</p>
<p>研末水調。</p>
<p><u>托裡透膿湯</u>　見腫瘍。</p>
<p>潰後清熱補托。</p>

<h3>痔瘡</h3>
<p>痔瘡形類有多般，風濕還兼燥熱摶。內外肛門皆可發，通腸或漏最難安。</p>
<p><u>止痛如神湯</u>（通用）</p>
<p>止痛如神湯大黃，秦艽澤瀉術檳榔。桃仁皂角防歸尾，黃柏加之功倍強。</p>
<p>當歸　秦艽　桃仁　皂角　蒼朮　防風　澤瀉　黃柏　檳榔　大黃</p>
<p><u>三黃二地湯</u>（腸風、痔血）</p>
<p>三黃二地湯蒼朮，厚朴陳皮白朮陪。歸尾人參防炙草，地榆澤瀉共烏梅。</p>
<p>人參　黃芩　烏梅　當歸　防風　生地黃　黃連　蒼朮　白朮　地榆　黃柏　熟地黃　厚朴　澤瀉　甘草　陳皮</p>
<p><u>防風秦艽湯</u>（腸風、便血）</p>
<p>防艽方內歸生地，芷術川芎芍殼調。槐角地榆梔子草，檳榔還入赤苓翹。</p>
<p>生地黃　當歸　連翹　槐角　山梔　秦艽　川芎　茯苓　檳榔　甘草　防風　芍藥　白芷　枳殼　地榆　蒼朮</p>
<p><u>提肛散</u>（元虛脫肛）</p>
<p>提肛散內用芎歸，參朮耆連陳草依。更入升柴芩白芷，元虛不足服之肥。</p>
<p>人參　當歸　升麻　黃芩　陳皮　白朮　川芎　柴胡　白芷　甘草　黃耆　黃連</p>
<p><u>當歸郁李湯</u>（痔瘡、脹痛脈結）</p>
<p>當歸郁李共麻仁，生地秦艽澤瀉勻。蒼朮大黃兼皂角，痔瘡脹痛服之神。</p>
<p>生地黃　當歸　郁李仁　大黃　皂角　秦艽　蒼朮　大麻仁　澤瀉</p>
<p><u>臟連丸</u>（新久通用）</p>
<p>臟連丸本用黃連，豬臟將來灌煮煎。同搗為丸溫酒服，敢教諸痔不纏綿。</p>
<p>黃連（八兩）　公豬大臟頭（一尺二寸）</p>
<p>溫酒洗淨，將川連研末灌入臟中，兩頭紮緊，用煮酒斤半共入砂鍋內，文武火熬至將干，搗爛為丸如椒目大，曬乾，每服三錢，元酒送下。</p>
<p><u>胡連追管丸</u>（通腸痔後）</p>
<p>追管丸中刺蝟皮，麝香加入效堪奇。胡連米飲為丸子，去穢生肌用得宜。</p>
<p>胡黃連（一兩，薑汁炒）　刺蝟皮（二兩，炙）　麝香（二分）</p>
<p>各研細末，米飲為丸，每服一錢，元酒送下。</p>
<p><u>胡連閉管丸</u></p>
<p>胡連閉管丸窺易，得此之功難上難。山甲決明槐米共，三錢米飲服之安。</p>
<p>胡黃連（一兩）　穿山甲（五錢，麻油煎）　石決明（五錢，煅）　槐花（五錢，炒）</p>
<p>各研細末，煉蜜為丸，米飲湯送下。</p>
<p><u>苦參地黃丸</u></p>
<p>苦參熟地共和丸，不料和丸只兩般。憑爾腸風兼酒毒，並增下血用之安。</p>
<p>苦參（一斤，切）　熟地黃（四兩）</p>
<p>先將苦參酒浸，蒸熟曬乾，如是九次。炒炙研末，再將熟地酒浸，蒸軟搗爛，然後將苦參用搗極爛，量加煉蜜為丸如梧子大，每服三錢元酒送下，早晚兩服。</p>
<p><u>收痔散</u></p>
<p>收痔散中效更推，焮疼腫痛立生肌。五倍煨入荔枝草，輕片同研敷痔宜。</p>
<p>輕粉　冰片　文蛤　荔枝草</p>
<p>先將文蛤一枚敲小孔，用荔枝草塞滿，用紙塞孔，濕紙包。煨片時，取出去紙研為細末。每一錢加輕粉三分、冰片五釐，冰片田螺水調搽。</p>
<p><u>芫花線</u></p>
<p>藥線芫花共壁錢，再加白扣線同煎。繫於患處神功大，諸痔癭瘤皆可捐。</p>
<p>芫花（五錢）　壁錢（二錢）</p>
<p>白扣線同上藥用水一碗，煮至湯干為度，取線陰乾。臨用用線一根雙扣繫於患處。</p>
<p><u>喚痔散</u></p>
<p>喚痔散中用白礬，草烏刺蝟食鹹詳。再加冰麝同研末，填入肛門效莫良。</p>
<p>白礬（五分）　食鹹（三分）　草烏（一錢）　刺蝟皮（一錢，煅）　麝香（五分）　冰片（二分）</p>
<p>共研細末，先將溫湯洗淨肛門，用津唾調藥三錢填入肛門，痔出後用枯痔散。</p>
<p><u>枯痔散</u></p>
<p>枯痔散中輕粉礬，蟾酥白信鱉頭良。同為細末宜文煅，依法還須三炷香。</p>
<p>鱉頭一個</p>
<p>漂淨酥炙研為細末，每四錢加白砒一兩，白礬二兩，輕粉四錢　淨蟾酥二錢</p>
<p>共為細末，用小鐵鍋一隻入藥，上用碗蓋咸泥封固，炭火煅三炷香為度。研末，每日辰午申三時上藥三次，七、八日其瘡自落。後用玉紅膏、生肌散長肉收功。</p>

<h3>坐板瘡</h3>
<p>坐板瘡在臀腿纏，形如黍豆癢連綿。暑濕熱毒凝肉裡，宜服清脾甘露痊。</p>
<p><u>新制清脾甘露飲</u></p>
<p>清脾甘露飲茵陳，術地丹梔萆薢均。滑石米仁川柏草，苓皮洗竹效如神。</p>
<p>生地黃　牡丹皮　茯苓　滑石　甘草　白朮　山梔　茵陳　苡仁　黃柏　萆薢　淡竹葉</p>
<p><u>黃金散</u></p>
<p>痤痱黃金生石膏，大黃川柏莫相逃。同為細末加輕粉，豬膽麻油調更高。</p>
<p>石膏（三錢）　黃柏（三錢）　大黃（三錢）　輕粉（三分）</p>
<p>共為細末，豬膽麻油調敷。</p>

<h2>股部</h2>

<h3>附骨疽</h3>
<p>附骨疽症為何生，風濕寒凝化熱成。房欲勞傷兼厚味，病情著骨勢非輕。</p>

<h3>咬骨疽</h3>
<p>咬骨疽生側里成，皆由風濕與寒凝。初宜溫散通經絡，已欲蒸膿補托乘。</p>
<p><u>大防風湯</u>（通用）</p>
<p>大防風內術參歸，附芍川芎杜仲耆。熟地懷牛羌活草，姜為引子自無疑。</p>
<p>防風　附子　川芎　杜仲　甘草　白朮　當歸　熟地黃　牛膝　羌活　人參　黃耆　芍藥　生薑</p>
<p><u>木香流氣飲</u></p>
<p>木香流氣飲芎歸，蘇桔青陳烏澤耆。枳殼檳芩防半夏，腹皮白芍膝甘隨。</p>
<p>木香　川芎　當歸　蘇梗　桔梗　青皮　陳皮　烏藥　澤瀉　黃耆　枳殼　檳榔　茯苓防風　半夏　大腹皮　芍藥　牛膝　甘草</p>
<p><u>內脫羌活湯</u>（通用）　見上馬癰。</p>
<p><u>萬靈丹</u>　見腫瘍。</p>
<p><u>龍宮湯</u>（陰寒之症用）　見腎癰。</p>
<p><u>十全湯</u>（潰後）　見潰瘍。</p>
<p>外治法照腫瘍門。</p>

<h3>腿遊風</h3>
<p>（即流火）</p>
<p>腿遊風是濕瘀生，腫赤如雲繞腿行。步履有妨難走動，治宜砱血又宜清。</p>
<p><u>當歸拈痛湯</u></p>
<p>當歸拈痛苦人參，柏澤羌防茵葛甘。知母淡芩蒼白朮，腿間流火此方探。</p>
<p>當歸　黃柏　澤瀉　羌活　葛根　防風　黃芩　甘草　知母　茵陳　人參　苦參　蒼朮白朮</p>
<p><u>如意散</u>　見腫瘍。</p>
<p>青腿牙疳</p>
<p>青腿牙疳何故生，只緣上下不通行。陽邪火熾陰寒閉，凝結而成毒不輕。</p>
<p>青腿如雲茄黑色，皮頑腫硬履難行。牙疳腫臭流膿血，穿破腮唇不再生。</p>
<p><u>活絡流氣飲</u></p>
<p>活絡流氣去風強，青腿牙疳初服良，除濕通經清胃絡，臨時加減有成方。</p>
<p>木瓜蒼朮羌附子，獨膝山楂柏枳榔。烏藥乾薑生草引，麻黃黑豆又生薑。</p>
<p>羌活　蒼朮　烏藥　枳殼　乾薑　獨活　黃柏　黑豆　檳榔　生薑　附子　麻黃　山楂甘草　木瓜　牛膝</p>
<p><u>加味二妙湯</u></p>
<p>加味二妙湯真妙，青腿牙疳齦腫嘗。烏藥柏蒼歸膝瀉，檳榔黑豆木瓜姜。</p>
<p>黃柏　當歸　黑豆　檳榔　烏藥　蒼朮　牛膝　木瓜　澤瀉　生薑</p>
<p>內服馬乳外用砭法。</p>
<p><u>牙疳散</u>　見走馬疳。</p>
<p><u>如意散</u>　見腫瘍。</p>

<h2>膝部</h2>

<h3>膝癰</h3>
<p>膝癰生於膝髕間，腫紅寒熱痛而堅。宜消宜散宜清熱，悉照癰疽法自然。</p>

<h3>鶴膝風</h3>
<p>鶴膝風由膝上侵，上枯下細隙三陰。風寒邪濕乘虛入，日久淹纏痼疾深。</p>
<p><u>獨活寄生湯</u></p>
<p>獨活寄生湯茯甘，當歸熟地細辛參。生薑杜仲秦艽膝，防芍加之效可探。</p>
<p>獨活　人參　茯苓　當歸　牛膝　防風　芍藥　熟地黃　甘草　杜仲　秦艽　生薑　細辛　桑寄生</p>
<p><u>五積散</u></p>
<p>五積芎歸樸桂心，麻陳蒼半茯苓飲。乾薑枳殼並甘桔，白芷還同赤芍臨。</p>
<p>桂心　當歸　麻黃　陳皮　茯苓　蒼朮　芍藥　半夏　枳殼　桔梗　厚朴　川芎　白芷乾薑　甘草</p>
<p><u>大防風湯</u>　見附骨疽。</p>
<p><u>萬靈丹</u>　<u>玉龍丹</u>　見腫瘍。</p>

<h3>委中毒</h3>
<p>委中毒在膕紋生，屈不能伸木硬行。膽熱流於膀胱隙，速宜通散去瘀輕。</p>
<p><u>調和營衛湯</u></p>
<p>調和營衛湯甘草，陳獨芎歸耆大茴。赤芍紅花並白芷，烏牛共入厥功魁。</p>
<p>黃耆　芍藥　陳皮　白芷　牛膝　當歸　紅花　獨活　烏藥　甘草　川芎　茴香</p>
<p><u>琥珀膏</u>　見便毒。</p>
<p><u>蟾酥丸</u>　見黑疔。</p>

<h2>脛部</h2>

<h3>魚肚癰</h3>
<p>魚肚癰在腿肚生，增寒壯熱濕瘀成。潰時膿厚方為吉，稀水頻流勢不輕。</p>
<p>內外治法照癰疽門。</p>

<h3>內外踝疽</h3>
<p>內外踝疽寒濕熱，血瘀氣滯阻於經。三陽外側三陰里，初用宣通蒜灸靈。</p>
<p><u>木香流氣飲</u>　見附骨疽。</p>
<p>內外治法照癰疽門。</p>

<h3>穿踝疽</h3>
<p>穿踝疽由寒濕凝，外穿里發踝間成。有頭陽絡陰微腫，清水常流症不輕。</p>
<p><u>荊防敗毒散</u>（初起）</p>
<p><u>如意散</u>　見腫瘍。</p>
<p>潰後照癰疽門。</p>

<h3>臁瘡</h3>
<p>足部臁瘡分內外，外臁易治內難痊。三陽濕熱由居外，內屬三陰虛熱纏。法用搜風除濕熱，三香夾紙貼瘡邊。</p>
<p><u>黃耆丸</u>（通用）</p>
<p>黃耆丸治臁瘡症，赤豆川烏共蒺藜。川楝茴香烏藥輩，防風酒合地龍齊。</p>
<p>黃耆　川烏　川楝子　茴香　赤小豆　防風　地龍　蒺藜　烏藥</p>
<p>各為細末酒和為丸。</p>
<p><u>四生丸</u>（外臁已久）</p>
<p>四生丸治臁瘡久，骨節多疼舉動遲。白附殭蠶並蚯蚓，草烏又入五靈脂。</p>
<p>地龍　白附子　殭蠶　草烏　五靈脂</p>
<p>共為細末，米糊為丸。</p>
<p><u>虎潛丸</u>（內臁已久）</p>
<p>虎潛丸用羝羊肉，虎脛陳龜膝地歸。赤芍又加知柏鎖，虛勞痿躄任君揮。</p>
<p>熟地黃　當歸　黃柏　牛膝　陳皮　鎖陽　芍藥　知母　虎脛骨　龜板</p>
<p>上為細末，煮嫩羊肉搗爛為丸。</p>
<p><u>三香膏</u>（初起）</p>
<p>三香膏法最堪奇，輕乳松香一共醫。為末麻油調夾紙，線針刺孔貼瘡宜。</p>
<p>輕粉（三錢）　乳香（一兩）　松香（一兩）</p>
<p>研末，入麻油調和攤紙上夾好，以針密刺小孔貼瘡上，三日一換。</p>
<p><u>夾紙膏</u></p>
<p>夾紙膏中輕粉礬，雄黃血竭沒黃丹。兒茶文蛤銀硃末，夾紙敷之效不難。</p>
<p>黃丹　沒藥　輕粉　雄黃　兒茶　血竭　文蛤　銀硃　枯礬</p>
<p>各等分為末，用夾紙貼之。</p>
<p><u>解毒紫金膏</u></p>
<p>古遺解毒紫金膏，結毒臁瘡此法高。松皂油調將紙蓋，敢教痼疾不煎熬。</p>
<p>松香　皂礬（各一斤，煅赤）</p>
<p>共研細末，香油調搽，三日一換，油紙蓋札。</p>
<p><u>蜈蚣餞</u>（頑臁）</p>
<p>蜈蚣餞法用桐油，甘獨蜈蚣白芷投。白麵作圈圍四首，頑臁黑臭即時瘳</p>
<p>蜈蚣　甘草　獨活　白芷（各一錢）　桐油（二兩）</p>
<p>入藥煎滾，先以米泔水洗淨，水和白麵作圈，圍在瘡口四邊，勿令泄氣。將腿放平，以茶匙挑油，漸漸乘熱加滿，少時取下，散風脫腐甚妙。</p>
<p><u>黃蠟膏</u></p>
<p>黃蠟血餘竭白膠，石脂龍骨入油調。蜈蚣餞後將膏蓋，肌肉能生痛自消。</p>
<p>黃蠟（一兩）　血竭（三錢）　赤石脂（三錢）　龍骨（三錢）　血餘（三錢）　白膠香（三錢）</p>
<p>用麻油一兩，入血餘煎枯去楂，再入黃蠟、白膠香溶化，下血竭、赤石脂、龍骨末調勻，候冷，用時捏作薄片貼之，三日一換，別用蔥湯洗淨。</p>

<h3>四彎風</h3>
<p>四彎風歲腿彎生，淫癢滋延似癬形。外受風邪兼濕熱，消風三妙最為靈。</p>
<p><u>三妙散</u></p>
<p>散各三妙用檳蒼，黃柏同研滲濕瘡。蘇合油調除濕癬，收干止癢是神方。</p>
<p>檳榔　蒼朮　黃柏</p>
<p>各等分為末，蘇合油調之。</p>
<p><u>消風散</u>　見肥瘡。</p>

<h2>足部</h2>

<h3>足背發</h3>
<p>足背發屬膽胃經，七情六慾蘊而成，詳分順逆方無謬，細辨癰疽定死生。</p>
<p><u>真人活命飲</u>（初起）</p>
<p><u>托裡透膿湯</u>（已成）　見腫瘍。</p>
<p>內外治法照癰疽。</p>

<h3>湧泉疽</h3>
<p>湧泉疽生在足心，腎虛濕滯症多陰。破時潰淺癰可治，黑陷為疽命必沉。</p>
<p><u>金匱腎氣丸</u>（潰後）</p>
<p>金匱腎氣澤懷中，肉桂丹皮萸肉投。熟附車前並熟地，茯苓懷藥一齊收。</p>
<p>山茱萸　肉桂　茯苓　澤瀉　山藥　熟地黃　熟附子　牡丹皮　牛膝　車前子</p>
<p>共為細末，煉蜜為丸。</p>
<p><u>活命飲</u>（初起）</p>
<p><u>透膿湯</u>（已成）　見潰瘍。</p>
<p>外治法照腫瘍。</p>

<h3>脫疽</h3>
<p>脫疽一症最非輕，房欲膏粱化毒成。腎竭血枯生足指，十人患此九難生。</p>

<h3>治法歌</h3>
<p>脫疽症，勢非輕，初用蟾酥艾灸行。肉死瘡枯施割法，血流如聖效堪呈。</p>
<p>內服法，亦須詳，濟生湯服自平安。居常調敷清神散，二氣陰陽戊土丹。</p>
<p><u>解毒濟生湯</u></p>
<p>解毒濟生湯草芎，柴芩花粉麥門冬。二花知柏神遠志，犀角升麻歸膝逢。</p>
<p>柴胡　當歸　茯神　黃柏　天花粉　升麻　川芎　遠志　麥門冬　知母　犀角　紅花　金銀花　黃芩　甘草　牛膝</p>
<p><u>陰陽二氣丹</u></p>
<p>陰陽二氣麥天冬，冰柏元參青黛同。澤瀉辰砂礬五味，人中甘草解疲癃。</p>
<p>元參　黃柏　五味子　枯礬　人中白　天門冬　麥門冬　澤瀉　青黛　冰片　甘草　辰砂</p>
<p><u>清神散</u></p>
<p>清神散治脫疽佳，悶亂心煩服自諧。豆粉牛黃甘草節，硃砂梅片共相皆。</p>
<p>綠豆粉　牛黃　硃砂　甘草　冰片</p>
<p><u>金液戊土丹</u></p>
<p>金液戊土丹朱味，神志牛黃硝石蒲。連片烏梅金箔共，人中黃更與雄俱。</p>
<p>胡黃連　茯神　雄黃　硝石　冰片　烏梅　菖蒲　遠志　牛黃　金箔　五味子　辰砂　人中黃</p>
<p><u>如聖金刀散</u></p>
<p>如聖金刀散刃傷，血流不止撒之良。二礬更入松香等，共細研之瓦罐藏。</p>
<p>松香（七兩）　生礬（一兩五錢）　枯礬（一兩五錢）</p>
<p>共為細末摻之。</p>
<p><u>青涼膏</u>　<u>玉紅膏</u>　<u>三仙丹</u>　俱見潰瘍。</p>
<p><u>蟾酥丸</u>　見黑疔。</p>
<p><u>八寶丹</u>　見螻蛄串。</p>

<h3>臭田螺</h3>
<p>臭田螺症最淹纏，白疱光明癢不堪。臭水潰流皆濕熱，消風化濕可相參。</p>
<p><u>鵝掌皮散</u></p>
<p>鵝掌皮方功最奇，惟將一味卻堪醫。還須煅煉研為末，調用麻油是合宜。</p>
<p>鵝掌皮一味，文火煅研末，麻油調敷。</p>

<h3>牛程蹇</h3>
<p>牛程蹇因奔走多，氣凝襲痹不相和。熱時著水多生疱，鴿糞煎湯妙不摩。</p>
<p>初起用盆一隻，內安新磚，磚上放鴿糞，上合罩籮，以腳踏上，用滾湯衝入熏之。如不消，用牛角散搽之。頑皮浮起者，剪破，外貼清涼膏自愈。</p>
<p><u>牛角散</u></p>
<p>牛角散治牛程蹇，久破流膿勢不輕。輕粉松香牛角煅，水龍骨用患能平。</p>
<p>松香　輕粉　水龍骨　牛角尖</p>
<p>共為細末　牛角髓調搽。</p>
<p><u>輕乳生肌散</u>　見螻蛄癤。</p>
<p><u>玉紅膏</u>　見腫瘍。</p>

<h3>冷疔</h3>
<p>冷疔寒濕足跟憑，徹骨多疼紫疱凝。黑爛孔深流血水，若然氣穢用神燈。</p>
<p><u>內補十宣散</u></p>
<p>內補十宣諸毒療，已成令潰未成消。參耆桔梗芎歸草，芷樸防風桂酒調。</p>
<p>人參　當歸　防風　白芷　厚朴　黃耆　川芎　桔梗　甘草　桂枝</p>
<p><u>神燈照法</u>（經久不斂用）　見潰瘍。</p>
<p><u>鐵粉散</u>（照後用此敷之）</p>
<p>鐵粉散醫足冷疔，能消黑腐肉肌生。黃丹輕粉松香麝，調用香油紙蓋平。</p>
<p>生鐵粉（一錢）　黃丹（一錢）　輕粉（一錢）　松香（一錢）　麝香（一分）</p>
<p>共為細末，香油調敷。</p>
<p><u>清涼膏</u>　<u>三仙丹</u>　見潰瘍。</p>

<h3>田螺疱</h3>
<p>田螺疱在足邊生，外襲寒凝濕熱成。起似豆形黃水疱，破時流水癢疼行。</p>
<p><u>解毒瀉脾湯</u></p>
<p>解毒瀉脾牛蒡防，木通甘草石膏蒼。黃芩梔子同燈草，服此心脾瀉自康。</p>
<p>防風　山梔　石膏　燈心　甘草　黃芩　蒼朮　牛蒡子　木通</p>
<p><u>清涼膏</u>　<u>三仙丹</u>　見潰瘍。</p>

<h1>卷下</h1>

<h2>發無定處</h2>

<h3>疔瘡</h3>
<p>五臟俱能發各疔，現於形體細詳形。欲知上下陰陽別，須看瘡形出孰經。疔名火焰發心經，往往生於唇指成。時作心煩神恍惚，痛兼麻癢頗非輕。毒發肝經紫燕名，此疔多出骨筋生。破流血水穿筋爛，最慮神昏毒內行。黃鼓由來發脾經，多生口角與顴臨。疱黃光潤微紅色，麻癢頑僵兼噁心。毒發肺經白刃疔，根兼白疱毒非輕。易腐易爛多腮損，咳嗽痰涎勢已成。從來黑黶腎經生，黑疱如疔紫硬行。牽骨痛疼為毒甚，沉昏驚悸目無睛。以上五疔應五臟，又有紅絲別樣侵。初起如瘡紅腫發，紅絲最忌上攻心。凡療疔症宜乎早，三陰當更辨三陽。在下可灸針宜上，緩治多危速即康。內疔一症勢非輕，寒熱先來腹痛行。忽發腫如成積塊，初宜發汗次宜清。又有羊毛一症原，憎寒壯熱命難存。胸前背後如疹隱，宜服蟾酥挑根斷。</p>
<p><u>桑丹</u>（消毒飲初起通用）</p>
<p><u>靈金丹</u>　見鬢疽。</p>
<p><u>黃連消毒飲</u>　見擅拱頭。</p>
<p><u>犀角地黃湯</u>　見顴疔。</p>
<p><u>如意散</u>　見腫瘍。</p>
<p><u>蟾酥丸</u>　見黑疔。</p>
<p><u>離宮錠</u>　見鼻疔。</p>
<p><u>三仙丹</u>　見潰瘍。</p>
<p><u>拔疔散</u>　見顴疔。</p>
<p><u>清涼膏</u>　見潰瘍。</p>

<h3>流注</h3>
<p>流注由來症數般，風寒濕熱與痰搏。發無定處連綿腫，爛骨穿筋不易安。</p>
<p><u>通經導滯湯</u>（治敗瘀流注）</p>
<p>通經導滯湯香附，芍地芎歸獨紫蘇。枳殼陳丹甘草節，紅花牛膝導瘀符。</p>
<p>香附　芍藥　當歸　紫蘇　生地黃　川芎　獨活　枳殼　陳皮　甘草　牡丹皮　紅花　牛膝</p>
<p><u>木香流氣飲</u>　見附骨疽。</p>
<p><u>調和營衛湯</u>　見委中毒。</p>
<p><u>荊防敗毒散</u>　<u>托裡消毒散</u>　<u>透膿散</u>　見腫瘍。</p>
<p><u>龍宮湯</u>　見腎癰。</p>
<p><u>人參養營湯</u>　<u>十全大補湯</u>　<u>歸脾湯</u>　見潰瘍。</p>
<p>外治法照癰疽。</p>

<h3>癭瘤</h3>
<p>五癭陽症六瘤陰，大小還宜仔細尋。感受山嵐凝氣血，治當戒怒靜安心。</p>

<h3>治法歌</h3>
<p>五癭症，六瘤名，治法難堪一一呈。海藻玉壺常用服，散瘀活血自然平。</p>
<p>癭瘤症，根未深，芫花葯錢妙難尋。潰而條降堪勝任，蓋用巴膏功最欽。</p>
<p><u>海藻玉壺湯</u></p>
<p>海藻玉壺青貝陳，連翹半夏草昆珍。川芎獨活歸身等，海帶煎來自必神。</p>
<p>海藻　當歸　連翹　青皮　昆布　半夏　川芎　獨活　陳皮　甘草　貝母　海帶</p>
<p><u>活血散癭湯</u></p>
<p>活血散癭湯芍歸，青陳芎半木香隨。參苓昆布丹皮草，肉桂紅花生地宜。</p>
<p>芍藥　當歸　陳皮　川芎　半夏　木香　人參　茯苓　昆布　牡丹皮　甘草　肉桂　紅花　青皮　生地黃</p>
<p><u>芫花線</u>　見痔瘡。</p>
<p><u>白降丹</u></p>
<p>潰後米漿作條，去淨衣膜，上玉紅膏、八寶丹收口，見顴疔。</p>
<p><u>巴膏</u>　見瘰癧。</p>
<p><u>玉紅膏</u>　<u>清涼膏</u>　見潰瘍。</p>

<h3>大麻風</h3>
<p>大麻風症萬邪成，坐臥當風濕熱萌。調治須詳五敗症，散風養血或能輕。</p>
<p><u>苦參丸</u></p>
<p>苦參丸內荊防風，芷蠍胡麻皂角芎。草首二烏歸蒡術，甘參蛇杏蒺藜楓。天麻白附同牛膝，杜仲靈仙蔓獨功。翹杞海風羌活共，能醫新舊大麻風。</p>
<p>胡麻（五兩）　皂角（五兩）　川芎（五兩）　當歸（五兩）　連翹（二兩）　枸杞子（五兩）　羌活（二兩）　獨活（五兩）　甘草（二兩）　人參（一兩）　蘄州白花蛇（二兩炙）　杏仁（二兩）　大楓子（六兩）　天麻（二兩）　白附子（五兩）　牛膝（五兩）　葳靈仙（五兩）　蔓荊子（二兩）　海風藤（二兩）　何首烏（五兩）　牛蒡子（五兩）　白朮（二兩）　蒺藜（五兩）　杜仲（二兩）　苦參（一斤）　荊芥（一斤）　防風（六兩）　白芷（六兩）　草烏（二兩）　全蠍（五兩）</p>
<p>上為細末，醋打米飲為丸，如桐子大。每服三十丸，溫酒送下。</p>
<p><u>萬靈丹</u>　見潰瘍。</p>
<p><u>黃連膏</u>　見鼻疔。</p>

<h3>楊梅瘡</h3>
<p>楊梅瘡發有來由，斯病皆因自去求。淫欲相兼精氣化，氣宜發汗毒宜搜。</p>
<p><u>透骨散</u>（初起在裡者汗之）</p>
<p>透骨搜風散最強，徹疼筋骨莫能量。芝麻羌獨葡萄豆，槐棗糖茶桃核姜。</p>
<p>透骨草　生芝麻　羌活　獨活　紫葡萄　六安茶　槐花米　冰糖　黑豆　核桃肉　生薑大棗</p>
<p><u>九龍丹</u>（初起毒在裡者下之）</p>
<p>九龍丹藥真堪羨，血竭兒茶乳沒扶。巴豆木香丸共服，橫痃魚口立消無。</p>
<p>血竭　孩兒茶　乳香　沒藥　木香　巴豆霜</p>
<p>等分為丸，每服九丸。</p>
<p><u>升麻解毒湯</u>（行瀉後體實者用）</p>
<p>升麻解毒湯傳易，去病應知卻不難。皂角土苓油入服，多年解毒自欣歡。</p>
<p>升麻（四錢）　皂角（四錢）　土茯苓（一斤）</p>
<p>水八碗煎四腕，一日服盡。每次燉熱加麻油一茶匙。如瘡生頂上加白芷，咽內加桔梗，胸腹加白芍，肩背加羌活，下部加牛膝。</p>
<p><u>歸靈湯</u>（瀉後體虛者服之）</p>
<p>歸靈湯草木瓜參，防己蘚皮膝術群，米粉銀花靈土茯，還須四物作為君。</p>
<p>地黃　川芎　當歸　芍藥　人參　防己　木瓜　金銀花　葳靈仙　牛膝　甘草　白朮　薏苡仁　天花粉　白蘚皮　土茯苓</p>
<p><u>金蟾脫甲酒</u></p>
<p>金蟾脫甲治楊梅，好酒須陳用獨魁。一個蛤蟆同煮服，服之發汗病能回。</p>
<p>好酒（五斤）　大蛤蟆（一個）</p>
<p>浸酒內封瓶口，煮二炷香取起，隨量大小以醉為度。冬日蓋暖避風為妙。</p>
<p><u>翠雲散</u>（毒氣已減方用）</p>
<p>翠雲散用膽礬輕，銅綠生膏解毒精。研細瓷瓶收貯好，梅瘡一症點能清。</p>
<p>銅綠（五錢）　膽礬（五錢）　石膏（一兩）　輕粉（一兩）</p>
<p>共研細末，濕者乾擦，乾者豬膽汁調點。</p>
<p><u>點藥</u>（毒氣已盡者用之）</p>
<p>點藥方中用杏仁，雄黃輕粉共相珍。同為細末頻頻點，斯藥堪教疾苦伸。</p>
<p>杏仁（四十九粒，去皮尖）　雄黃（一錢）　輕粉（三錢）</p>
<p>先將杏仁去油搗細，加入雄黃、輕粉和勻為末點之。</p>
<p><u>鵝黃散</u>（爛成片用之）</p>
<p>鵝黃散本獨稱雄，輕粉相兼膏柏同。為末必須瓷罐貯，梅瘡濕爛告成功。</p>
<p>石膏（一兩）　輕粉（三錢）　黃柏（一兩）</p>
<p>為末摻之。</p>
<p><u>萬靈丹</u>　見潰瘍。</p>

<h3>楊梅結毒</h3>
<p>結毒楊梅毒未清，遍身筋骨痛難禁。咽喉腦鼻皆堪發，解毒搜風服自欽。</p>
<p><u>搜風解毒湯</u>（初起筋骨疼痛）</p>
<p>搜風解毒用防風，薏苡銀花細木通。土茯木瓜加皂角，蘚皮再入效無窮。</p>
<p>防風　金銀花　薏苡仁　皂角針　木瓜　木通　土茯苓　白蘚皮</p>
<p><u>芎歸二術湯</u>（虛弱者用）</p>
<p>芎歸二術湯防樸，獨活參苓薏苡仁。皂角木瓜銀草甲，遺糧豬肉木通珍。</p>
<p>人參　當歸　防風　茯苓　木瓜　白朮　川芎　木通　蒼朮　厚朴　獨活　甘草　金銀花　土茯苓　穿山甲　薏苡仁　皂角針　豬精肉</p>
<p><u>天麻餅</u>（結毒頭痛）</p>
<p>天麻餅子草川烏，芎芷甘防蒼朮符，白附細辛松與薄，雄黃全蠍自相扶。</p>
<p>天麻（一錢）　川芎（一錢）　蒼朮（一錢）　雄黃（三錢）　防風（一錢）　白附子（一錢）　川烏（一錢）　甘松（一錢）　細辛（一錢）　全蠍（三錢）　白芷（一錢）　草烏（一錢）　薄荷（一錢）甘草（一錢）</p>
<p>寒食麵和丸，如桐子大，每服三十丸。</p>
<p><u>結毒紫金丹</u>（潰爛者用）</p>
<p>結毒紫金丹罕稀，此方原不欲人知。決明龜板硃砂等，米飯為丸毒漸離。</p>
<p>石決明（六錢）　龜板（二兩）　硃砂（六錢）</p>
<p>米飯為丸，每服一錢，土茯苓湯送下。</p>
<p><u>西聖復煎丸</u>（結毒經年不愈）</p>
<p>古遺西聖復煎丸，結毒經年服自痊。乳沒兒茶丁血竭，白蛇阿膠面和研。</p>
<p>丁香（一兩）　血竭（四錢）　乳香（一兩）　蘄州白花蛇（四錢）　孩兒茶（一兩）　飛羅面（一斤，炒）　沒藥（一兩）　阿膠（四錢）</p>
<p>共研細末，加煉蜜（六兩）、煎滾麻油（四兩）、大棗肉（二十枚），搗爛為丸，彈子大，每服一丸，土茯苓湯送下。</p>
<p><u>五寶散</u>（結毒攻於口鼻）</p>
<p>五寶飛羅白麵君，珍珠滴乳琥冰尊。硃砂添入研為末，土茯苓湯送一樽。</p>
<p>珍珠（二錢）　琥珀（二錢）　滴乳石（四錢）　冰片（一錢）　硃砂（二錢）　飛羅面（四兩）</p>
<p>共為細末，每服一錢，土茯苓湯送下。</p>
<p><u>硫黃不二散</u>（結毒攻喉湯水難入）</p>
<p>結毒咽喉非淺症，硫黃不二效難描。靛花加上研為末，止痛如神用水調。</p>
<p>硫黃（一錢）　靛青（四分）</p>
<p>共為研末，清水調服。</p>
<p><u>結毒靈藥</u>（結毒潰爛）</p>
<p>結毒靈方用水銀，朱雄又入硫黃勻。共研漫入陽城罐，文火熬成吹自神。</p>
<p>水銀（一兩）　硃砂（三錢）　雄黃（三錢）　硫黃（三錢）</p>
<p>共為細末，入陽城罐內，文火煅煉，三炷香為度。照紅勝丹法治結毒潰爛。用藥五錢，加輕粉五錢，搽之膏蓋。咽爛者，藥一錢，加人中黃二分，研細吹之。</p>
<p><u>鉛回散</u>（結毒疼痛犯寒所致）</p>
<p>鉛回散內藥蹊蹺，筋骨多疼功能饒。加上硫黃為末服，敢教苦楚寂然消。</p>
<p>用鉛半斤，銅勺內化開，傾入水內。將鉛取起，再化再傾，如是百次，鉛盡為度。少頃，候其水清，傾去，用缽底內沉下鉛灰，倒在三重紙上，下襯稻草灰，收乾水氣。取起曬乾，與硫黃等分研細。每服一錢，溫酒送下。</p>
<p><u>碧雲散</u>（結毒頭痛吹鼻中）</p>
<p>碧雲散中藥更工，鵝兒不食草川芎。再將青黛研為末，頭痛還須吹鼻中。</p>
<p>鵝兒不食草（一兩）　川芎（一兩）　青黛（一錢）</p>
<p>共為細末，患者口噙涼水，吹左、右鼻，取嚏為要。</p>
<p><u>通鼻散</u>（鼻中息肉吹之）</p>
<p>通鼻散原吹鼻中，鼻中息肉不相通，相通須用梅花膽，膽片葫蘆鍾乳同。</p>
<p>冰片　膽礬　鐘乳石　葫蘆殼</p>
<p>等分，為末吹之。</p>

<h3>赤白遊風</h3>
<p>赤白遊風何故生，滋蔓如粟癢疼行。皆緣風襲皮毛里，日久熏蒸化熱成。</p>
<p><u>荊防敗毒散</u>　見腫瘍。</p>
<p><u>消風散</u>　見遊風。</p>
<p><u>真君妙貼散</u>　見骨槽風。</p>

<h3>紫白癜風</h3>
<p>紫白癜風無癢疼，白因氣滯紫瘀凝，風邪濕入皮毛里，久服胡麻丸自興。</p>
<p><u>胡麻丸</u></p>
<p>胡麻丸內用防風，白附威靈參草同。獨活菖蒲研細末，酒漿和服效神功。</p>
<p>胡麻（四兩）　苦參（二兩）　葳靈仙（二兩）　甘草（五錢）　防風（一兩）　白附子（一兩）　獨活（一兩）　菖蒲（二兩）</p>
<p>共為細末，酒泛為丸。</p>
<p><u>密陀僧散</u></p>
<p>密陀僧散有蛇床，輕粉雄硫又石黃。能治諸風斑點症，醋調效若雪澆湯。</p>
<p>密陀僧（一錢）　蛇床子（二錢）　雄黃（二錢）　硫黃（二錢）　石黃（一錢）　輕粉（五分）</p>
<p>共研細末，米醋調敷。</p>
<p><u>萬靈丹</u>　見腫瘍。</p>

<h3>丹毒</h3>
<p>丹毒名多雲片形，火風濕熱氣凝停。欲知順逆分肢腹，清火消風敷砭靈。</p>
<p><u>升麻葛根湯</u></p>
<p>升葛湯中芍藥調，柴胡梔子莫相逃。木通甘草連翹等，丹毒遊風功最高。</p>
<p>升麻　柴胡　芍藥　木通　葛根　連翹　山梔　甘草</p>
<p><u>大連翹飲</u></p>
<p>大連翹飲芍梔歸，滑石車前苓麥隨。荊蒡防風紫草等，木通蟬蛻石膏宜。</p>
<p>柴胡　連翹　當歸　車前子　木通　荊芥　芍藥　黃芩　蟬蛻　滑石　牛蒡子　防風　石膏　麥門冬　山梔　甘草</p>
<p><u>導赤湯</u>　見口糜。</p>
<p><u>柏葉散</u>　見纏腰火丹。</p>

<h3>粟瘡</h3>
<p>粟瘡症屬火邪生，風熱乘脾起粟行，火盛化風能作癢，防風通聖散兼消。</p>
<p><u>防風通聖散</u>　見禿瘡。</p>
<p><u>消風散</u>　見肥瘡。</p>

<h3>枯筋箭</h3>
<p>枯筋箭由肝失榮，發於筋氣豆相同，筋頭破突如花蕊，艾葉還須芫線功。</p>
<p><u>逍遙散</u>（通用）　見乳岩。</p>
<p><u>芫花線</u>　見痔瘡初起形小者，以此線紮緊俟，其落後用八寶丹收口。</p>
<p><u>八寶丹</u>　見潰瘍。</p>

<h3>疥瘡</h3>
<p>疥瘡一症最淹纏，淫癢滋生遍體延，不外風邪兼濕熱，散風泄熱自能痊。</p>
<p><u>當歸飲</u></p>
<p>當歸飲子芍芎耆，生地防風白蒺藜，草菊首烏同荊芥，諸風瘡癢服之稀。</p>
<p>當歸　防風　何首烏　黃耆　甘草　生地黃　荊芥　蒺藜　芍藥　甘菊花　川芎</p>
<p><u>繡球丸</u></p>
<p>繡球丸內用樟冰，輕粉雄椒與水銀，楓子枯礬研共末，諸瘡癢疥擦多神。</p>
<p>樟冰　輕粉　川椒　枯礬　水銀　雄黃（各二錢）　大楓子肉（一百枚，另研）</p>
<p>共為細末，同大楓子肉再研和勻，加柏油一兩化開和藥攪勻作丸圓眼大，於瘡上擦之。</p>
<p><u>消風散</u>　見肥瘡。</p>

<h3>癬</h3>
<p>癬病情形有六般，濕蟲風熱是根源，外將必效頻敷擦，內服浮萍丸自吞。</p>
<p><u>浮萍丸</u></p>
<p>浮萍丸內用鉤藤，蒼朮黃芩共苦參。蒼耳殭蠶稀草入，共研細末作丸含。</p>
<p>紫背浮萍（一兩）　鉤藤（三兩）　蒼朮（七錢）　黃芩（一兩五錢）　苦參（三兩）　殭蠶（三兩）　蒼耳子（一兩）　豨薟草（三兩）</p>
<p>研末，水泛為丸。</p>
<p><u>必效散</u></p>
<p>必效大黃百藥煎，海桐巴豆雄黃全。斑蝥輕粉同川槿，諸癬調搽自許痊。</p>
<p>川槿皮　海桐皮　大黃　巴豆霜　百藥煎　斑蝥　雄黃　輕粉</p>
<p>研末，土大黃汁調敷。</p>

<h3>黃水瘡</h3>
<p>黃水瘡如粟米形，起時作癢破疼行。外因濕熱風邪隙，滋水浸淫更復生。</p>
<p><u>消風散</u>　<u>青蛤散</u>　見肥瘡。</p>
<p><u>清脾甘露飲</u>　見坐板瘡。</p>

<h3>翻花瘡</h3>
<p>翻花瘡因潰後生，大頭小蒂菌形行。雖無痛癢頻流血，血燥肝虛怒氣成。</p>
<p><u>烏梅散</u></p>
<p>烏梅散實效稱奇，輕粉同研世所稀。能治翻花流血水，或加熊膽最堪依。</p>
<p>烏梅（一兩）　輕粉（四錢）</p>
<p>研末摻之。</p>
<p><u>逍遙散</u>（內服通用）　見乳岩。</p>
<p><u>芫花線</u>　見痔瘡初起，以此係之，落後用八寶丹收口。</p>

<h3>血風瘡</h3>
<p>血風瘡在遍身生，搔癢滋延流水盈。肝肺脾經風濕熱，血枯皮燥斯能成。</p>
<p><u>消風散</u>　見肥瘡。</p>
<p><u>當歸飲</u>　見疥瘡。</p>
<p><u>黃連膏</u>　見白屑風。</p>
<p><u>潤肌膏</u>　見禿瘡。</p>
<p><u>雄黃散</u></p>
<p>雄黃解毒散多靈，寒水生礬一劑珍。能治諸風瘡癢症，擦之敢許效如神。</p>
<p>寒水石（一兩）　雄黃（一兩）　白礬（四兩）</p>
<p>共研細末，涼水調敷。</p>

<h3>㾦癗</h3>
<p>㾦癗汗後中邪風，遍體渾如豆瓣同。日癢秦艽湯可服，當歸飲子夜重逢。</p>
<p><u>秦艽牛蒡湯</u></p>
<p>秦艽牛蒡用防風，枳殼麻黃犀角逢。菊草升芩為佐使，元參加入效堪從。</p>
<p>秦艽　防風　犀角　枳殼　甘草　麻黃　元參　牛蒡子　黃芩　甘菊花　升麻</p>
<p><u>當歸飲</u>　見疥瘡。</p>
<p><u>青蛤散</u>　見肥瘡。</p>

<h3>天疱瘡</h3>
<p>天疱瘡由時氣生，燎漿水疱偏身成。治分上下風濕熱，解毒清脾疱自平。</p>
<p><u>解毒瀉心湯</u>　<u>松葉散</u>　見纏腰火丹。</p>

<h3>爛皮風</h3>
<p>爛皮風發濕風攻，黃水浸淫似疥同。成片漫延癢不止，治宜清熱並消風。</p>
<p><u>消風散</u>　<u>青蛤散</u>　見肥瘡。</p>

<h3>漆瘡</h3>
<p>漆毒瘡由漆毒生，如疹乍發癢疼行。外敷三白堪稱妙，解毒湯煎勢自輕。</p>
<p><u>三白散</u></p>
<p>三白散敷漆毒瘡，鉛輕粉共石膏強。祛風解毒功誠妙，研末還須韭汁良。</p>
<p>輕粉（五錢）　鉛粉（一兩）　石膏（三錢，煅）</p>
<p>共為細末，韭菜汁調敷。</p>

<h3>血箭</h3>
<p>血箭皆由毛竅生，心陽熾迫血紛行，桃花散用調涼水，再用真金墨即輕。</p>
<p><u>涼血地黃湯</u></p>
<p>涼血地黃湯用連，當歸甘草黑梔全，元參加上功多效，血箭無幸即得痊。</p>
<p>生地黃　當歸　山梔　元參　甘草　黃連</p>
<p><u>桃花散</u></p>
<p>桃花散是治金瘡，須用陳灰與大黃。止血消瘀肌肉長，慎宜房事保無妨。</p>
<p>千年石灰（半斤）　大黃（一兩五錢）</p>
<p>同炒灰變紅色為度，揀去大黃篩細，涼水調敷金瘡，出血即止。</p>

<h3>血痣</h3>
<p>血痣初生如痣形，漸焮如豆色紅憑。外皮揩破流鮮血，怒火肝經瘀血凝。</p>
<p><u>涼血地黃湯</u>　見血箭。</p>
<p>外用白降丹點之，見顴疔。</p>
<p><u>青涼膏</u>　見腫瘍。</p>
<p>痣落後用生肌散，見下疳。</p>

<h2>雜症</h2>

<h3>跌撲</h3>
<p>跌撲之症屬尋常，活血湯煎妙莫量。已破八珍宜早服，若還未潰大成良。</p>
<p><u>復元活血湯</u></p>
<p>復元活血柴胡草，花粉歸紅山甲須。更入生軍桃共用，損傷瘀血酒煎扶。</p>
<p>柴胡　甘草　天花粉　當歸　紅花　穿山甲　生大黃　桃仁</p>
<p>溫酒煎服。</p>
<p><u>大成湯</u></p>
<p>大成湯內朴硝黃，蘇木當歸甘草良。枳殼紅陳通草等，服之瘀血自通揚。</p>
<p>厚朴　芒硝　大黃　蘇木　當歸　甘草　枳殼　紅花　陳皮　通草</p>
<p><u>八珍湯</u>　見潰瘍。</p>
<p><u>桃花散</u>　見血箭。</p>

<h3>金瘡</h3>
<p>更有金瘡須驗痕，輕傷皮肉重傷筋。外敷如聖桃花散，用八珍湯多血靈。</p>
<p><u>八珍湯</u>　見潰瘍。</p>
<p><u>桃花散</u>　見血箭。</p>
<p><u>玉紅膏</u>　見腫瘍。</p>

<h3>鐵針誤入咽喉</h3>
<p>誤吞鐵線入咽喉，急飲蛤蟆血數頭。或用笤籬能去剔，飴糖再進勢難留。</p>
<p>針入欲使即吐，用癩蛤蟆數個，將頭割去，倒流血滿一杯許，灌入咽喉，其針自出。</p>
<p>一方，用舊笤籬煅灰存性研末，每服三錢酒下。</p>
<p>一方，用飴糖一斤，食盡便出。</p>

<h3>誤吞銅錢</h3>
<p>誤食銅錢雖不疼，腹中久踞病能成，荸薺能化堅為軟，多食無妨效可呈。</p>
<p>多食地慄並青菜脂油，其銅自軟化。</p>

<h3>骨哽咽喉</h3>
<p>骨哽咽喉最可憂，吐涎刺痛礙咽喉，鴨涎能治魚蝦刺，獸骨還須狗唾瘳。</p>
<p>魚骨哽，用活鴨倒掛，取涎以碗盛之，令患者仰臥徐徐灌下，其骨自化。</p>
<p>獸骨哽，用狗倒掛取涎，一如前法，令骨自化。</p>
<p>哽痛腫爛，柳青散吹之，見口破。</p>

<h3>杖瘡</h3>
<p>杖瘡須要看其形，輕重還須細認明，拈痛清涼膏破用，能消腫痛肉肌生，血瘀未破須當砭，湯劑還宜用大成，再上玉紅膏去腐，擦之新肉自然生。</p>
<p><u>清涼拈痛湯</u></p>
<p>清涼拈痛用金黃，樟腦三錢是妨方。同細研之瓷罐貯，臨敷須用石灰湯。</p>
<p>如意散（一兩）　樟腦（三錢）</p>
<p>和勻，又用石灰三、四斤以水化開，水高石灰三、四指。露一宿將石灰面浮起，油水結為云片者，輕輕帶水起。□碗內有水一盅，對於香油一盅，竹筷攪百轉，調勻成膏，入前藥稀稠得所，不用湯洗，遍敷患處，一日一換。煎湯洗淨。</p>
<p><u>大成湯</u>　見跌撲。</p>
<p><u>玉紅膏</u>　見腫瘍。</p>

<h3>破傷風</h3>
<p>皮肉損破外傷風，初覺牙關緊不松。甚則角弓反張狀，吐涎抽搐不時攻。</p>
<p><u>玉真散</u></p>
<p>玉真散內用南星，白芷防風羌活靈。白附天麻相併用，破傷風症服之馨。</p>
<p>南星　白芷　防風　羌活　白附子　天麻</p>
<p>各等分為末，每服二錢，熱酒一杯調送，更敷傷處最妙。</p>
<p><u>鎮風散</u></p>
<p>鎮風散用焙鰾膠，杭粉硃砂礬末調。每服二錢和熱酒，破傷風症最逍遙。</p>
<p>鰾膠（一兩）　杭粉（一兩）　皂礬（一兩）　硃砂（二錢）</p>
<p>共為細末，每服二錢酒下。</p>

<h3>發痙</h3>
<p>潰瘍發痙復傷風，有汗為輕無汗凶。膿血出多成此患，祛邪扶正建奇功。</p>
<p><u>十全大補湯</u>（加鉤藤天麻等。）</p>

<h3>燙火傷</h3>
<p>火燒燙潑爛皮疼，起疱宜挑使毒輕。四順清涼能去熱，若然煩躁毒攻傾。</p>
<p><u>附錄火藥燙方</u></p>
<p>鮮生地（一兩）　活田螺（一個）</p>
<p>先以生地搗爛絞汁後，以田螺去殼打爛，加青黛（六分）調和敷之，無不立愈。同治甲子泗江炮船上人受傷，用之極驗。</p>
<p><u>罌粟膏</u></p>
<p>罌粟膏療燙火燒，香油罌粟共煎熬。白蠟相共真輕粉，患上搽塗痛自消。</p>
<p>罌粟花（十五朵，無花以殼代之）　香油（四兩）</p>
<p>將罌粟煎枯濾去渣，入白蠟三錢溶化，傾入碗內，待將凝之時，下輕粉二錢攪勻，燉水中令冷取出。臨用時，抿腳排膏手心中捺化，搽於患處，綿紙蓋上，日換二次，其痛自止。</p>
<p><u>清涼湯</u>　見杖瘡。</p>
<p><u>黃連膏</u>　見白屑風。</p>
<p><u>四順清涼飲</u>　見痄腮。</p>

<h3>凍瘡</h3>
<p>凍瘡一症是寒凝，肌肉頑僵癢痛渾。涼水揉和覺熱散，勿宜烘火勿宜溫。</p>
<p><u>獨勝膏</u></p>
<p>獨勝膏來最散寒，凍風凍耳一般看。每當六月逢三六，蒜搗搽之即自安。</p>
<p>六月初六、十六、二十六，用獨蒜搗膏，日中曬熱，在於患處搽之。忌用湯洗，一日三次。</p>
<p><u>神仙碧玉膏</u>（潰爛者用）</p>
<p>神仙碧玉用樟腦，乳沒輕占杭粉珍。更入脂油熬好貯，凍瘡潰爛效堪神。</p>
<p>輕粉（一兩）　杭粉（二兩）　白占（五錢）　乳香（三錢）　沒藥（三錢）　樟腦（二錢）</p>
<p>用公豬淨油五兩同白占熬化，傾入碗內入上藥和勻，隔水燉溫調搽，油紙蓋之。</p>

<h3>人咬傷</h3>
<p>人咬原來牙毒傷，異常腫痛臭難當。須宜童便頻頻洗，外貼蟾酥膏蓋良。</p>
<p>初用熱童便，次貼蟾酥餅，外用清涼膏蓋之，後搽玉紅膏生肌長肉而愈。</p>
<p><u>蟾酥丸</u>　見顴疔。</p>
<p><u>清涼膏</u>　<u>玉紅膏</u>　見腫瘍。</p>

<h3>馬咬傷</h3>
<p>馬咬傷時何藥醫，肉肌損破血淋漓。急宜生慄來搗爛，內服馬齒莧合宜。</p>
<p>此傷用生慄嚼爛敷於患處。毒氣入里，煩悶噁心者，馬齒莧煎湯多飲為妙。</p>

<h3>瘋犬傷</h3>
<p>瘋犬傷來最不輕，頻頻童便洗之平。頂心紅髮當宜去，急服危散自輕。</p>

<h3>治法歌</h3>
<p>瘋犬傷，毒更深，治宜童便又宜針。初時即服扶危散，碧玉散投效可欽。</p>
<p><u>扶危散</u></p>
<p>扶危散內用斑蝥，滑石雄黃原麝投。細末更須溫酒下，搜除惡血病能廖。</p>
<p>斑蝥（按日數一日一枚，去翹足糯米同炒，去米用）　滑石（一兩，水飛）　雄黃（一錢）　麝香（二分）</p>
<p>共研細末，溫酒調下。</p>
<p><u>琥珀碧玉散</u>（毒歸小便淋塞者用之）</p>
<p>碧玉散中琥珀君，滑甘青黛共相珍，同研為末燈心引，每服三錢效若神。</p>
<p>滑石（六兩）　甘草（一兩）　琥珀（五錢）　青黛（八分）</p>
<p>共研極細，每服三錢，燈心湯下。初咬時急於傷處刺去毒血，即將豆豉研末，香油調稠丸如彈子大，常揩傷處。掏開看豉丸內若有狗毛，此毒氣已出，易丸再揩至無毛為度。</p>
<p><u>瘋犬咬傷拔法</u></p>
<p>用砂燒酒壺兩個，內用燒酒半壺，先以一壺上火燉滾無聲，傾去酒，即按在破傷瘡口，拔出汙黑血水，滿則自落。再以次壺仍按瘡口輪流提拔，以盡為度，其症立愈。</p>
<p><u>玉真散</u>　見破傷風，津唾調敷患處。</p>

<h3>蛇咬</h3>
<p>蛇咬傷時毒不輕，即將米醋飲頻頻。外敷一味雄黃散，內服靈脂功最神。</p>
<p><u>雄黃散</u></p>
<p>雄黃散內雄黃主，更有靈脂效莫當，為末酒調頻送下，患流黃水毒應康。</p>
<p>雄黃（五分）　五靈脂（五錢）</p>
<p>共研細末，酒下二錢。</p>
<p>初咬時即飲好醋一、二碗，使毒不內攻，再以繩扎患處兩頭，外敷一味雄黃。</p>

<h3>蜈蚣咬</h3>
<p>蜈蚣咬損用雄雞，倒控雞涎手抹齊，傷處遍搽疼自止，甚啖雞血更堪題。</p>
<p>此傷用雄雞倒掛以手取涎遍搽傷處，甚者服雞血更妙。</p>

<h3>蠍蜇、蠶咬</h3>
<p>蠍蜇還須大蝸牛，將來搗爛擦之瘳。若然蠶咬將麻苧，用汁調塗功自收。</p>
<p>蠍蜇用大蝸牛搗爛貼之。</p>
<p>蠶咬用苧根汁搽之立效。</p>

<h3>蚯蚓傷</h3>
<p>蚯蚓傷時毒氣侵，眉發脫落似風形，鹹湯著口頻頻洗，毒去災消患即輕。</p>
<p>蚯蚓傷令人眉發皆落，如大麻風狀，宜鹹湯洗之自愈。</p>

<h3>百蟲入耳</h3>
<p>百蟲入耳勿驚慌，燒肉薰香近耳旁。獨坐夜燈蟲自出，麻油滴耳使蟲殃。</p>
<p>小蟲入耳須用麻油滴入耳內，蟲死取出。</p>
<p>如大蟲入耳以肉炙香置於耳旁，其蟲聞香自出。</p>
<p>夜間暗入者，切勿驚慌響叫，逼蟲內攻，宜端坐點燈光照之，其蟲見光自出。</p>

<h3>蠼螋傷</h3>
<p>蠼螋隱壁射傷人，誤著皮膚水疱淫，須用鹹湯洗自妙，金黃敷上力能禁。</p>
<p>初用鹹湯洗淨，如意金黃散井水調敷。</p>
<p><u>金黃散</u>　見腫瘍。</p>

<h2>小兒雜症</h2>

<h3>赤遊丹</h3>
<p>赤遊丹是小兒生，未發之前啼叫驚。雲朵之形紅更赤，紅輕紫重要詳明。</p>

<h3>治法歌</h3>
<p>赤遊丹，胎毒成，初宜砭血次宜清。先投解毒連翹飲，再服消風犀角平。</p>
<p>煩躁頻，面赤申，化毒丹用最堪珍。腹膨音啞多危險，紫雪開關效更真。</p>
<p><u>消風犀角散</u></p>
<p>消風犀角散防風，加上黃連甘草同，還用燈心為引使，赤遊丹症效神功。</p>
<p>犀角　防風　黃連　甘草　燈心</p>
<p><u>五福化毒丹</u></p>
<p>五福化毒用人參，元草黃連青黛冰，桔梗牙硝金箔等，硃砂龍膽赤苓增。</p>
<p>人參（三錢）　元參（一兩）　茯苓（一兩）　硃砂（三錢）　冰片（五分）　桔梗（一兩）　青黛（一兩）　黃連（一兩）　金箔（二十張，為衣）　龍膽草（一兩）　甘草（五錢）　牙硝（一兩）</p>
<p>各為細末，量加煉蜜為丸，如梧子大，每服二丸，燈心湯送下。</p>
<p><u>紫雪丹</u>　見重舌。</p>
<p><u>如意散</u>　見腫瘍，靛青調。</p>
<p><u>大連翹飲</u>　見丹毒。</p>

<h3>鵝口瘡</h3>
<p>鵝口瘡生白點形，心脾之熱小兒生。初生多是胎中熱，甚則咽喉腫痛成。</p>
<p><u>涼膈散</u>　見面發毒。</p>
<p><u>柳青散</u>　見口破。</p>

<h3>胎瘤</h3>
<p>嬰兒初產患胎瘤，胎毒瘀凝是此由。色紫膿成宜針刺，清涼紅勝病能瘳。</p>
<p><u>黃連膏</u>　見鼻瘡搽之。</p>
<p><u>內服五福化毒丹</u>　見赤遊丹。</p>
<p><u>清涼膏</u>　（紅勝丹潰後用）　見腫瘍。</p>

<h3>胎癩</h3>
<p>胎癩皆由胎毒成，眉間頭項發而生。纏綿淫癢頻流水，乾溼須分風濕明。</p>
<p><u>消風導赤湯</u></p>
<p>消風導赤白蘚皮，牛蒡黃連生地宜。甘草銀花通薄等，燈心還與赤苓奇。</p>
<p>白蘚皮　牛蒡子　黃連　甘草　金銀花　生地黃　通草　薄荷　燈心　茯苓</p>
<p><u>烏雲膏</u></p>
<p>烏雲膏內用硫黃，又入松香合一方。法用香油調若糊，薄攤青布妙難量。</p>
<p>松香（一兩）　硫黃（一兩）</p>
<p>各研細末，量用香油調若厚糊，然後攤於青布上卷如大指粗，兩頭紮緊，再入香油內浸一日，取出瀝去余油，以火點著，用碗乘之，自然有油滴下。燉冷水內一宿，出其火毒，然後抹於患處。布灰隨燒隨去，勿使落於油內。</p>
<p><u>五福化毒丹</u>　見赤遊丹。</p>
<p><u>潤肌膏</u>　見禿瘡。</p>

<h3>葡萄疫</h3>
<p>葡萄疫是小兒生，大小青斑遍體行。色若葡萄牙出血，羚羊角散服之輕。</p>
<p><u>羚羊角散</u></p>
<p>羚羊角散最多靈，牛蒡防風與淡芩。知母麥冬兼淡竹，元參甘草共相侵。</p>
<p>羚羊角　牛蒡子　防風　黃芩　知母　麥門冬　淡竹葉　元參　甘草</p>
<p><u>胃脾湯</u></p>
<p>胃脾湯用麥門冬，白朮陳皮遠志逢。甘草沙參神五味，汗多虛弱水煎濃。</p>
<p>麥門冬　白朮　陳皮　遠志　甘草　沙參　茯神　五味子</p>
<p><u>柳青散</u>　見口破。</p>

<h3>臍風</h3>
<p>小兒何故患臍風，沐浴傷風濕熱逢。草紙煅灰敷患處，枯礬龍骨效無窮。</p>
<p><u>枯礬龍骨散</u></p>
<p>枯礬龍骨治臍風，原麝同研最有功。摻上絹細包紮好，避風忌水此方通。</p>
<p>龍骨（二錢）　枯礬（一錢）　麝香（一分）</p>
<p>共研細末、摻之。</p>

<h3>臍突</h3>
<p>臍突胎中積熱生，總由孕母失調停。膏粱醇酒多無忌，宜服珠黃散有靈。</p>
<p><u>珠黃散</u></p>
<p>珠黃散即用珠君，再以犀黃為佐靈。加入甘黃作引使，共研細末貯瓷瓶。</p>
<p>濂珠（三分）　犀黃（二分）　甘草　人中黃（各一錢）</p>
<p>研末，燈心湯調服三分。</p>
<p><u>外消散</u></p>
<p>外消散用大黃硝，牡蠣同研功不饒。冰片田螺相化水，突臍胎熱是能消。</p>
<p>大黃（五錢）　朴硝（二錢）　牡蠣（五錢）</p>
<p>研末，冰片、田螺水調敷。</p>

<h3>陰腫</h3>
<p>陰腫之症幼年生，久感陰寒濕氣凝。或有怒時兼氣閉，陰陽虛實細詳應。</p>
<p><u>桃仁丸</u>（通用）</p>
<p>桃仁丸內桂丹皮，又用牽牛白蒺藜。煉蜜為丸梧子大，燉溫黃酒服之齊。</p>
<p>桃仁（七錢五分，去皮尖，炒）　桂心（五錢）　黑牽牛（一錢五分）　牡丹皮（五錢）　蒺藜（五錢，去刺）</p>
<p>共為細末，煉蜜為丸如梧子大，每服十丸，溫酒送下。</p>
<p><u>烏梅散</u>（陰囊腫痛二子入腹日內吊）</p>
<p>烏梅散內用鉤藤，乳沒延胡甘草投，寒積三陰須審察，腹疼囊卷汗多流。</p>
<p>鉤藤　烏梅　延胡索　甘草　沒藥　乳香（各三錢）</p>
<p>研末，每服二錢煎服。</p>
<p><u>勻氣散</u>（同前）</p>
<p>陰寒勻氣散為先，甘草陳茴桔梗研。薑炭縮砂研細末，滾湯投服一錢煎。</p>
<p>桔梗（二兩）　陳皮（一兩）　茴香（五錢）　生薑（二錢）　甘草（四錢）　砂仁（五錢）</p>
<p>研末，每服五分，開水送下。</p>
<p><u>牽牛散</u>（囊腫及四肢二便不利者）</p>
<p>四肢囊腫便難艱，宜服牽牛散最先。桑白木通消結熱，術甘又入橘紅研。</p>
<p>牽牛　桑白皮　木通　白朮　甘草　橘紅</p>
<p>各一錢，共研細末。</p>
<p><u>五苓散</u>（兒陰腫）</p>
<p>五茯散內用豬苓，白朮雲苓澤瀉珍。肉桂辛溫宜少用，鉤鉤為引此方新。</p>
<p>肉桂（二分）　豬苓（一錢）　茯苓（二錢）　白朮（一錢）　澤瀉（一錢）　鉤藤（三錢）</p>
<p>煎湯送下。</p>
<p><u>立消散</u></p>
<p>立消赤豆與風硝，商陸還兼枳殼焦。須共研之為細末，敷時側柏水同調。</p>
<p>赤小豆　風化硝　商陸　枳殼</p>
<p>各五錢研末，側柏煎湯調敷。</p>

<h3>小兒脫肛</h3>
<p>小兒肛脫肺虛看，宜服補中益氣安。腫痛硬堅皆積熱，翻肛臟毒臟連丸。</p>
<p><u>益氣湯</u>　見潰瘍。</p>
<p><u>臟連丸</u>　見痔瘡。</p>
<p><u>坎宮錠</u></p>
<p>坎宮錠子最清涼，熱腫諸瘍並痔瘡。京墨胡連熊膽麝，兒茶冰片共牛黃。</p>
<p>京墨（一兩）　牛黃（三分）　麝香（五分）　胡黃連（五分）　熊膽（七分）　兒茶（二錢）　冰片（七分）</p>
<p>上研細末，豬膽汁、薑汁、大黃汁、米醋相和成錠，涼血磨塗。</p>

<h3>肛門作癢</h3>
<p>肛門作癢是蟲傷，唇上多生小白瘡。蘆薈丸宜頻送服，再敷銅綠與雄黃。</p>
<p><u>蘆薈丸</u>（通用）　見陰蝕。</p>
<p>外用銅綠、雄黃末滲之。</p>

<h3>遺毒</h3>
<p>遺毒稟受是先天，父母楊梅毒氣傳。身赤無皮延九竅，爛斑臭穢不能痊。</p>
<p><u>二黃散</u></p>
<p>遺毒須知有二黃，胡連甘草共牛黃。山慈菇入同研末，每服三錢加蜜湯。</p>
<p>胡黃連（二錢）　山慈菇（二錢）　甘草（一錢五分）　牛黃（七分）</p>
<p>研末，每服三分，蜜湯送下。一用甘中黃末，土茯苓湯服之亦妙。</p>
<p><u>太乙丹</u>（涼水磨敷）　見纏頸風。</p>

<h3>痘里夾癭</h3>
<p>痘里夾癭生頸旁，形如瓜棗又如桃。心煩身熱痰凝結，托裡消痰解毒高。</p>
<p><u>三消散</u>（痘發三四日結癭者服之）</p>
<p>三消散內地歸身，半芍天花白茯神。燈草木通牛蒡用，紅花蟾草效堪珍。</p>
<p>生地黃　當歸　半夏　芍藥　天花粉　茯神　燈草　木通　牛蒡子　紅花　蟾酥　甘草（各八分）</p>
<p>研末，燈心湯送下。</p>
<p><u>衛元湯</u>（虛弱者用之）</p>
<p>衛元湯內用參耆，甘桔防風歸芍隨。又入紅花通血絡，消瘀內托此方宜。</p>
<p>人參（三分）　當歸（一錢）　防風（一錢）　紅花（七分）　黃耆（二錢）　芍藥（一錢）　桔梗（七分）　甘草（三分）</p>
<p><u>沖和飲子</u>（痘發七八日灌漿時服之）</p>
<p>沖和飲子麥門冬，參桔歸耆柴芍逢。花粉荊防翹白朮，雲苓加入效堪宗。</p>
<p>麥門冬　人參　桔梗　當歸　黃耆　柴胡　芍藥　花粉　荊芥　防風　連翹　白朮　茯苓</p>
<p><u>玉紅膏</u>（清用）　見腫瘍。</p>

<h3>痘疔</h3>
<p>痘疔不與痘瘡同，痘里生疔勢甚凶。黑硬如疔兼似石，天花難許灌漿膿。</p>

<h3>捲簾疔</h3>
<p>捲簾疔發舌根成，黑豆之形硬痛行。須用銀針挑破後，茶湯洗淨拔之輕。</p>

<h3>火珠疔</h3>
<p>火珠疔發鼻中生，眼赤顴紅灼熱蒸。內服辛涼先瀉肺，黃連膏擦自當應。</p>

<h3>忘汲疔</h3>
<p>忘汲疔生眼睫邊，急宜挑破勿宜延。胭脂嚼汁頻頻點，洗用公英甘菊煎。</p>

<h3>拳虎疔</h3>
<p>拳虎由來耳內生，膿成即速用披針。去膿急進桑丹飲，治按疔門仔細尋。</p>

<h3>燕窩疔</h3>
<p>燕窩疔在腋間生，紅腫堅疼神欲昏。急用披針當頂刺，桑丹消毒妙難言。</p>

<h3>注命疔</h3>
<p>注命疔生兩足心，如椒腫硬最昏沉。紅筋透股宜挑去，速用田螺水點臨。</p>

<h3>透腸疔</h3>
<p>透腸疔發在肛門，總在天花六七辰。宜服黃連消毒飲，輕珠散搽妙如神。</p>

<h3>騼龍疔</h3>
<p>疔號騼龍尿孔中，五朝六日熱身躬。腹膨水閉兼翻目，搽用牛黃冰麝同。</p>
<p><u>瀉金散</u>（鼻疔吸之）</p>
<p>瀉金散治鼻中疔，犀地紅花牛蒡尋。蘇桔還加赤芍藥，服之敢許賽甘霖。</p>
<p>犀角　地黃　紅花　牛蒡　蘇子　桔梗　芍藥</p>
<p><u>消毒飲</u></p>
<p>消毒飲中犀地君，連翹甘芍白雲苓。紅花通草燈心引，專治疔瘡火毒停。</p>
<p>犀角　地黃　連翹　甘草　芍藥　茯苓　紅花　通草　燈心</p>
<p><u>提疔散</u></p>
<p>提疔散用白礬砂，更入咸硇用不差。細末共研瓷罐貯，搜根化硬是堪誇。</p>
<p>硇砂（一錢）　白礬（二錢）　硃砂（五分）　食鹹（五分）</p>
<p>咸礬二味放子鏽鐵刀上煅之，然後和研細末。</p>
<p><u>輕珠散</u></p>
<p>輕珠梅片散多靈，即用珍珠輕粉冰，白蘞共研為細末，透腸疔用此方應。</p>
<p>輕粉（一錢）　濂珠（三分）　冰片（三分）　白蘞（二錢）</p>
<p>共為細末，麻油調敷。</p>
<p><u>牛黃散</u></p>
<p>牛黃散內用蟾酥，冰麝同研細末和。能治騼龍疔一症，搽於患處效堪多。</p>
<p>牛黃　蟾酥　冰片　麝香（各一分）</p>
<p>研末搽之。</p>
<p><u>黃連膏</u>　見白屑風。鼻疔加用冰片搽之。</p>
<p><u>桑丹清毒飲</u>　見鬢疽。</p>
<p><u>黃連解毒湯</u>　見螻蛄癤。</p>

<h3>痘毒</h3>
<p>痘毒留於經絡中，發無定處腫而紅。未穿托裡排膿散，已遺保元湯最通。</p>
<p><u>保元湯</u></p>
<p>保元湯力效無窮，救困扶危立大功。甘草參耆兼白朮，棗姜加上起疲癃。</p>
<p>人參　黃耆　白朮　甘草　生薑　大棗</p>
<p><u>托裡消毒散</u>　見腫瘍。</p>
<p><u>清涼膏</u>　<u>三仙丹</u>　見腫瘍。</p>

<h3>痘里丹毒</h3>
<p>痘中丹發為何因，火熱熏蒸出此形。解毒化斑湯可用，消風犀角瀉心應。</p>
<p><u>化斑解毒湯</u>　見內發疳毒。</p>
<p><u>離宮錠</u>　見鼻疔。</p>
<p><u>消風犀角散</u>　見赤遊丹。</p>

<h3>痘爛</h3>
<p>痘爛浸淫爛不停，速將茶葉泡三斤。帶潮草紙相鋪就，臥上能教傾刻欣。</p>
<p>將茶葉三斤，用水煎滾湯去茶湯，將帶濕茶葉鋪於床上，然後將小兒安放於上。</p>
<p><u>象牙散</u></p>
<p>象牙散用屋芽灰，更有兒茶共一堆。又入制蠶研細末，石膏煅煉用之魁。</p>
<p>象牙屑（三錢）　熟石膏（五錢）　兒茶（一錢五分）　殭蠶（三錢）　屋芽灰（二錢）</p>
<p>共研細末摻之。</p>

<h3>痘風瘡</h3>
<p>痘風瘡症最淹纏，淫癢滋生流水延。痘後遇風防變癩，宜搽麥餞散安然。</p>
<p><u>滲濕救苦散</u></p>
<p>滲濕救苦密陀僧，滑石還兼白芷珍。三味共研為細末，蜜湯調和病能伸。</p>
<p>密陀僧　滑石　白芷</p>
<p>各為細末，蜜湯調敷患處。</p>
<p><u>消風散</u>　見肥瘡。</p>
<p><u>麥餞散</u>　見禿瘡，久延成癩者用。</p>
