<header data-type="book">
<h1>辨疫瑣言</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李炳</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1800">公元1800年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第七冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521057">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>正文</h1>
<p>風寒暑濕燥火，為天之六氣。其中人也，皆發熱惡寒，頭疼身痛，其邪從皮毛而入，太陽經之所司也。疫為地所蘊郁之氣，其中人也，亦發熱惡寒，頭疼身痛，其邪從口鼻而入，肺胃之所司也。六氣為天氣，天氣輕清，但中皮毛，不入口鼻。溫疫為地氣，地氣重濁，但入口鼻，不中皮毛。所入雖異，所病則同。若不於同處別其所異，則六氣之寒熱，皆得混指為疫，是不可不首先辨之。六氣之辨，仲景論之詳矣。今專言疫，疫為地氣，發不常有，此氣一行，病則少長率皆相似，沿門闔戶，互相傳染。故《說文》釋疫字云：民皆疾也。無疫之年，每春夏之間，偶見一二症。確乎是疫者，不過地之偏氣，由其人正氣偶傷，為地氣所觸，口鼻受之，亦謂之疫。口氣通於脾，邪從口入，必先於胃，胃者脾之表也。胃喜清通，以下行為順，胃受其濁，胸膈必悶，甚則兩脅亦脹，不能下行，勢必上逆，不為噁心，則為嘔噦。鼻氣通於肺，肺主氣，以氣干氣，尤易受邪。經云：上焦如霧。濁邪壅閉，則霧氣瀰漫，為舌苔、為頭目矇混。六氣之中，人初雖發熱惡寒，頭疼身痛，未嘗便有胸滿脅脹，舌苔、頭目蒙沸諸里症。縱間有兼里症者，亦必四五日後，經氣鬱久而成，初病則未嘗有也。疫症才起，諸里症與寒熱齊見，蓋疫從口鼻而入，本屬裡邪，無關於表，故見症異於太陽之表也。得其所異，以別其所同，則是疫非疫，可一問而決矣。或曰，疫從口鼻而入，無關於表，何以又有發熱惡寒，頭疼身痛諸表症。曰：經云：心營肺衛，心肺俱在膈上。今膈上被壅，則營衛錯亂，安得不惡寒發熱，人之胃屬於頭，胃壅故頭疼，上中二焦被遏，則周身之經氣皆遏，故身痛。此症不但異處有辨，即同處亦略有辨。六氣之寒熱，由邪自外干，故寒熱特甚。疫則邪自內壅，故惡寒不甚，或半日一日便止，後只發熱不惡寒。其熱初在肌肉，由內漸及於表，里閉則表通。雖灼熱而有汗，六氣之頭疼身痛，由邪氣搏擊於經，疫則邪壅於內，而致經氣阻遏，雖疼不甚疼也。不甚疼者，無邪以搏擊也。仲景《傷寒論》，其中表里腑臟，虛實寒熱，頭緒紛繁，每曰何以別之。辨之明，乃治之當，不可忽也。</p>
<p>既別其症之所異，次當明乎脈之所異。異者何，往來凝滯而有力也。夫脈為血氣之先，切脈之學，即察氣之學也。邪從口鼻而入，壅閉肺胃，上中二焦被壅，則寸關之脈，未有不壅者。壅則凝滯而有力矣。初得一二日，寸關脈沉弦有力，往來凝滯，重按微數。寸關沉弦者，陽氣被遏而不能升也。重按微數者，陽氣被遏於下也。往來凝滯者，濁邪壅閉也。三四日脈弦大有力，甚則弦數弦大，為壅遏之甚。弦數為肝膽之陽，遏而不宣，肝膽之陽，何以遏而不宣也。考諸臟象，無病之人，肝膽之陽，上入於心，心有兩耳，由右耳而入，在心中細鍊，自左耳而出。其絡上通於肺，肺屬金而畏火，安能勝此陽火鍛鍊。故開竅於鼻，其熱由鼻而泄，吸冷氣以涼心肺。今肺氣被壅陽無出路，故脈見弦數，症見口苦喜嘔等症。由少陽被遏，非邪傳少陽也。五六日邪傳愈深，脈難預料，或從正氣之盈虛而變，或因治療之寒熱而更，要之往來凝滯之脈，始終自在也。</p>
<p>問症察脈，既別其異，次當明乎治法。治法維何？曰輕清以開肺舒氣，芳香以醒胃辟邪。地氣渾濁，為汗穢之氣，為不正之氣，治以輕清芳香，祛濁邪而復清陽，方名清氣飲。雖出杜撰，實具至理，其間開之醒之。與正氣略無所損，果遇疫症，日服二三劑，輕者即愈，重者亦減，歷試多人，頗有效驗。</p>
<p><u>清氣飲</u></p>
<p>杏霜（二三錢）　桔梗（一二錢）　蟬蛻（去頭足，二三錢）　銀花（二三錢）　廣藿香（二三錢）　蘇葉（一錢或一錢五分）　神麯（二三錢）　穀芽（三四錢）　廣皮（五七分）　半夏（一錢）　赤茯苓（二三錢）</p>
<p>水二小碗，煎一碗溫服，如未覺，更進一服，覺氣通舒暢，是其驗也。重者日三服。</p>
<p>杏霜、桔梗，苦以開肺。蟬蛻輕清上升而從風化，上焦如霧，一經郁遏，則霧氣瀰漫，用蟬蛻者，取清風生霧氣潛消之義。銀花、藿香、蘇葉，芳香闢穢，散胸中不正之氣。穀芽乃稻浸罯而成，神麯乃面蒸罯而成，凡蒸罯之物，能舒郁遏，同氣相求也。廣皮辛香通陽，半夏滑利通險，赤苓利水，三焦通暢，何氣不清，故曰清氣飲。二小碗水，煎一碗，略煎便成，取清芬未散耳。疫症初起二三日內，宜用此方。四五日郁深則熱，如有煩渴面紅等熱象，本方去蘇葉，易冬桑葉二三錢，丹皮一錢或一錢五分；口燥渴去廣皮、半夏，加瓜蔞根一二錢，或蘆根五七錢。煩熱口苦咽乾，加黃芩一錢，或一錢五分。小便不利，加白通草四五分，或飛滑石二三錢。腹脹大便閉，喜冷惡熱，加大黃三五錢或七八錢。以上用諸涼藥，須慎而又慎，一劑不應，便當揣摩不應之故，恐似是而非也。如寸口脈微弱，為里陽不充，於本方加玉竹五七錢，蓋玉竹甘緩而不滯也。乾隆二十二年，暨五十一年，皆大疫，餘日治多人，其用黃芩大黃者，不過百人中之四五人耳。如脈大而空，或大而寸脈不滿，或大雖似有力而往來凝滯，症雖見煩躁舌焦諸熱象，便防其人正虛，如再見心中慌甚，便非疫邪，蓋疫為氣遏於內，決不作慌也。審屬正虛，如補中益氣湯、四君子湯、六味地黃湯、理中湯等類，皆可擇宜而用。蓋行疫之年，未必人人皆疫，亦有勞傷以及裡虛裡寒，傷濕傷暑諸症，夾雜其中。所謂似是而非者，全在細心體認，疫雖互相傳染，醫者不可為疫症所拘也。</p>
<p>清氣飲，乃余訂以治暑之方。經云：寒傷形，暑傷氣。既云傷氣，其入必於口鼻。古人治暑諸方，如香薷飲、大順散、人參白虎湯等類，發散溫里清熱，皆非治氣之方。長夏炎蒸之氣，從口鼻吸入之症最多，其症發熱頭目昏蒙，胸滿脅脹，因訂此方，用頗有效。後逢行疫之年，思疫從口鼻而入，亦屬傷氣，用之輒驗，遂移為治疫之主方。</p>
<p>驗舌之法，仲景《傷寒論》《金匱要略》，雖間及之，而實不以為重。予少時疑其關略，問諸前輩，或以紅黃黑白分寒熱，或以燥濕分寒熱，及後驗之，皆不足憑，始悟仲景罕言之妙。數十年來，所見舌黑芒刺，舌紅如朱，服乾薑附子而愈者，又不知凡幾。舌白如粉之干，舌白如腐之濕，服黃芩石膏而愈者，又不知凡幾。可見治病，全憑乎脈症，尚不足憑，何況區區之舌色。仲景《傷寒論》，六經之前，有辨脈法、平脈法，猶匠之有規矩也。有此規矩，方可以治六經之病。不但六經，即萬病皆莫能逃，莫能逃者。寒熱虛實表裡腑臟之辨也。疫氣二三日，舌上確有白苔，或如積粉，或如濕腐。如積粉者，肺氣為疫壅塞也。如濕腐者，上焦如霧，瀰漫而化水也。四五日，舌心漸黃，黃者胃氣不得升降，郁久成熱，津液漸傷也。愈久則愈傷，焦黑芒刺也。舌固如此，勿盡據舌，仍當以脈為據也。</p>
<p>余幼年見舌白如腐之濕，疑從寒化，用溫燥藥治之不效，不得其解。後思經言，上焦如霧，始悟霧氣不開，即為雨而從水化也。</p>
<p>邪律楚材，收大黃以治疫，而大黃遂為疫症良藥，何也？曰通是也。肺主氣，肺氣壅閉，則一身之氣皆閉。大腸為肺之標，大腸氣閉，胃氣何從下行，清氣飲三五劑不愈。如見胸滿脅脹，不惡寒，反惡熱等症，於方中加大黃三五錢，大腸得通，胃氣斯得下行為順，往往大便通後，汗出而愈。蓋胃氣先得降，而後能升，升斯化汗，汗生於穀精也。但用大黃，須要審人之虛實，此症屬於氣閉，取氣以通氣，每有奇驗。何謂取氣，其法用大黃七八兩，先以水潤透，用小甑蒸之。取露，每用露半茶杯，或半小碗，對入飲內，大便通而胃氣順，其疫渙然而解。此用大黃而無傷正氣，與虛弱之人，最為穩當。又有湯泡一法，用大黃二三錢，沸湯略泡，去渣，俟藥煎成對，服泡之法，仍有輕重，溫湯泡氣多而味少，沸湯泡則氣味兼有也。在臨時酌人之虛實用之。外此又有煎法，有同煎、略煎之別。大黃為血分藥，如血分病，宜於同煎，氣分病，宜於略煎。略煎者，取其氣也。</p>
<p>仲景論下法，必俟表已解訖。誠恐表邪不盡，一經下早，陷入胸中，而成結胸痞滿等症。有一毫惡寒不盡，即為表不罷而禁下，疫從口鼻而入，本非表邪，亦不惡寒，故下之不厭早也。若云疫症有表，亦可下，斷無此理。</p>
<p>疫從口鼻而入，肺胃之氣被壅，薰蒸膈膜，久則膈膜氣結，邪不易散。故藥取芳香透膜為多，如青荷葉、醒頭草等類，俱可擇用。推之上等芽茶，如陽羨龍井、銀針松蘿，其氣清芬，皆可透膜逐邪。</p>
<p>戰汗由於正虛，仲景辨脈篇：脈浮而緊，按之反芤，此為本虛，故當戰而汗出也。其人本虛，是以發戰，以脈浮故當汗出也云云。浮緊表脈也，芤空虛也，是雖表症而得表脈，裡氣不能協應，何以能汗，必待正氣來復，與邪相爭，爭則戰，正氣勝而後逐邪外出。仲景雖未出治法，一則曰：此為本虛，再則曰：其人本虛，而治法已寓其中矣。無論浮緊，凡一切大浮數動滑之陽脈，按之一芤，便當豫從裡氣綢繆，以助其戰勝之機。若再加消導清涼，戕伐生氣，不但不能戰汗，且恐戰而內脫。玩仲景脈浮而緊，專指表言，疫從口鼻而入，斷無浮緊之脈，疫為氣鬱於內，亦斷無按之反芤之脈。即或戰汗，亦是鬱極得通，與正氣相搏而戰，雖與傷寒戰汗不同，而其人本虛，則一也。凡系行疫之時，審系疫症，脈見微弱無力，便當滋培本氣。吳又可《瘟疫論》，以戰而不汗者危，中氣虧危也。次日復戰，厥不回，汗不出者死，正氣脫，不勝其邪也云云。彼亦明知中氣虧危，正不勝邪，藥則仍主達原飲、三消飲、承氣等湯，不且自相矛盾耶。</p>
<p>乾隆二十二年，歲在丁丑，江蘇大疫，沿門闔戶，熱症固多，寒症亦有。大抵寒熱兩途，總由其人之秉賦。素秉陽虛，縱染疫邪，亦多從寒化，素秉陽旺，再經邪郁，其熱愈勝。仲景陽明篇首一條云：陽明之為病，胃家實也。胃家實，不是病症，指其人素秉陽旺。胃氣素實，一經表邪，郁遏而火流就燥，成其為三承氣之實症。古人治病，必先問其平日飲食起居，不然從何知其胃家實也。是先有實之因，一經得病，而後方成實之證，非一切表邪，皆能成三承氣之實症也。</p>
<p>發斑一症，疫在氣分者，得宣通而解疫。干營分者，必發斑而解。發斑有斑疹兩宗，成塊平塌者為斑，顆粒成點者為疹，斑色紅為熱，紫為熱甚，紫而帶青，則不治。如見紅紫成塊之斑，清氣飲去陳皮半夏，加當歸、赤芍、大黃以下之。疹則寒熱虛實均有之，大熱疫邪發疹，為邪向外，順其性而疏散之，自然得愈。余臨症數十年，斑症僅見數人，疹症最多。凡將發疹，或發熱腹痛，或壯熱指尖冷，或昏悶心煩。蓋心主營邪，干於營，故有如上諸症。疹症以燈照之，隱隱有跡，疏解而不外達，虛者補托之，寒者溫散之。內實者少加大黃以利之。補托如補中益氣湯之類，溫散如蔥姜之類。語云：大荒之後，必有大疫。驗之信然。乾隆二十一年荒，二十二年疫，五十年荒，五十一年疫，水荒為偏災。雖荒不得為大，惟三時三伏無雨，亢燥之氣，郁遏土中。至秋冬雖雨，所遏之氣，已經凝結，水土不相和，地之陰陽二氣俱偏，陰閉於外，陽鬱於內。交春雨水節後，地氣上升，陰鬱先起，多為寒症，陽郁後起，多為熱症，其疫初起人受之多。三陰症用四逆理中等湯二三劑即愈，一月後漸有熱症，繼後熱症多而寒症少，顯屬地氣。《瘟疫論》云：天地之戾氣，天氣清純，決不為疫，亦不入於口鼻也。</p>
<p>吳又可《瘟疫論》，發明疫從口鼻而入，誠千古不易之理。但其立論著方，不無可議，如達原飲，檳榔、厚朴、草果，皆破氣峻烈之品，《原病》云：本氣適逢虧欠呼吸之間，外邪因而乘之云云。可見邪乘虛入，雖云留而不去，其病則實。治當一意逐邪，然於逐邪之中，何妨稍存正氣地步，又邪氣鬱閉，必化為熱，亦必俟三四日後，其熱方實。今甫受邪，末必化熱，如此之速，方中便用黃芩、知母。無熱可清，必致傷其陽氣，陽氣一傷，不但變症蜂起，且恐內陷，根於是矣。或曰：達原飲不可用耶？曰：非也，必審其人形色充盛，聲音雄壯，症見煩渴、脈息實大有力，未嘗不可用也。要亦十中之一人耳，若一概用之，鮮有不誤者。仲景小柴胡湯，用黃芩是何等慎重。少陽篇首一條云：少陽之為病，口苦咽乾，目眩也。口苦者，膽熱而氣蒸於上也。咽乾者，膽脈絡於咽，而火氣上炎也。目眩者，風火之氣搖動也。此三症，專指黃芩而言，有此三症，方可用黃芩。蓋黃芩為清膽熱之品，膽為甲木，為東方生氣，十一臟皆秉此生氣。故經云：十一臟皆取決於膽，而可妄行戕伐乎。生氣一傷，未有不輕病變重，重病變危者，近日達原飲之殺人，比比皆是，由其意中，只知《瘟疫論》一書，除《瘟疫論》而外，皆未嘗深究，甚至未嘗寓目。此倡彼和，不至敗壞不止。及至敗壞，藉口內陷，使早知顧惜正氣，何至內陷，方案中預寫緊防內陷四字，而藥仍攻擊，不為預防於先，而欲令病家自防於後，不思彼若能防，請醫何事。</p>
<p>疫從口鼻而入，上焦之氣被壅，舌上白苔者氣為邪結也。舌根漸黃至中央者，邪壅於胃也。加大黃以通其大腑，胃氣得以下行，陽氣自得上升，自然汗解，何須三消飲之羌活、葛根、柴胡。不思邪從口鼻而入，斷無從皮毛而出之理。表藥無表可散，必致散及正氣，正氣一傷，變可立待，不可不慎也。</p>
<p>仲景三承氣湯，為陽明胃實而設。胃氣素秉亢燥，承其氣而治之。即經云：亢則害承乃制之義也。今疫症氣結於上，腸結於下，加大黃以通其腸胃，氣得下行為順，而後正氣得升，疫邪自解，無承製之義，不過取通而已。枳樸芒硝，切宜斟酌。</p>
<p>《瘟疫論》引用仲景五苓散、桃仁承氣湯、抵當湯，此仲景為太陽經犯本而設。何為犯本？足太陽胱膀經，為多氣多血之經，營衛均主之。風傷衛分，郁久不散，邪干本經氣分，小便不利，五苓散利其水，而衛陽得升。寒傷營分，郁久不散，邪干本經血分，少腹急結，桃仁承氣湯攻其血，而營陰自和。二方中俱用桂枝，以其從太陽經來也。甚則瘀血凝結，少腹硬痛不可近，抵當湯主之。此太陽經之所有，余經則無也。疫從口鼻而入，與膀胱毫無干涉。若云由胃失下而瘀及血分，何以仲景陽明篇絕不一言，其不能幹於血分也明矣。疫症小便不利頗有之，由氣閉於上，失其清肅下行之道，開其肺氣，小便立通，若利水則大謬。</p>
<p>《瘟疫論》辨明傷寒時疫曰：夫傷寒必有感冒之因，或卑衣風露，或強力入水，或臨風脫衣，或當檐出浴，當覺肌肉粟起，既而四肢拘急，惡風惡寒，然後身疼頭痛，發熱惡寒，脈浮而數，脈緊無汗為傷寒，脈緩有汗為傷風雲云。不知仲景《傷寒論》，包六氣而言。天之六氣，傷及太陽膀胱寒水之經，故曰傷寒。今云傷寒，必有感冒之因，常見感冒，並未有因，即卑衣風露，強力入水等因，六經俱可受病，不止太陽一經，亦不止風寒兩途。又云傷寒投劑一汗而解，治傷寒寧如是之易乎。由其意中只知瘟疫，尚未知傷寒二字作何解說也。</p>
<p>疫為地氣，自口鼻而入，《瘟疫論》只言口入，忘其鼻入。故用方絕無一味開肺之品，不知鼻入較口入尤多，人有時不言，未有一刻不呼吸者。</p>
<p>《瘟疫論》云：傷寒時疫，皆能傳胃，至是同歸於一，故用承氣輩導邪而出。要之傷寒時疫，始異而終同也云云。傷寒與時疫，一是天氣，一是地氣，其原不同，治法亦異。傷寒之傳胃，由其人胃氣素實，實者胃陽強，胃陰弱也。一經表郁，胃氣已熱，火流就燥，胃氣益實，仲景之用硝黃，雖曰瀉陽，實是救陰也。未必人人皆胃實症，症皆傳胃。矧今人虛者多，實者少，寒者多，熱者少，溫補養正而愈者，十中五六，何嘗盡用承氣也。疫從口入，必先於胃，又何用傳胃，氣以下行為順，用大黃者，通其下行之道路也。與傷寒用承氣之義迥別，何同歸於一之有。</p>
<p>《瘟疫論》云：時疫之邪，匿於膜原，根深蒂固云云。膜原是穴名，不是經名。疫從口入，胃經是其所舍。疫是邪之氣，氣在胃，膈膜受其薰蒸，是以取乎芳香，非芳香不能透膜也。何嘗是匿，又何嘗根深蒂固，良由不知芳香透膜之理，遂覺根深蒂固矣。</p>
<p>《瘟疫論》云：陰症世間罕有云云。從前諸說，尚屬小誤，此一名，印定後人眼目，殺人無止矣。予臨症數十年，三陰之病，無日無之。設學者奉又可之言，讀書時不向三陰篇討論，臨症時不向三陰症著想，而世之死於三陰者，伊誰之過耶？嗚乎！立言不可不慎也。</p>
<p>《瘟疫論》以溫病之溫字，即瘟字省文，溫即瘟也云云。瘟指邪氣言為實邪，溫指正氣言為虛邪。經言冬傷於寒，春必病溫。又云冬不藏精，至春發為溫病。藏於精者，春不病溫。精者精明之陽氣也，冬令陽氣潛藏於腎水之中，是其常也。傷其腎水，陽不能藏，陽無水氣涵養，是謂亢陽。至春亢陽發動，是謂溫病。仲景云：太陽病發熱而渴，不惡寒者為溫病。亢陽內發，故發熱而渴，邪非外來，故不惡寒。與瘟從口鼻而入者，大相懸絕，此等溫病，治惟滋陰壯水為主，若概作瘟疫治之，吾知其不死於溫病，而必死於瘟藥矣。</p>
<p>世之宗《瘟疫論》者，十人而九。但見發熱惡寒，不論何經，不論虛實寒熱，春則曰春瘟，夏則曰時疫，秋則曰秋疫，冬則曰冬瘟。方則寒涼峻厲，加減出入，立案不敘脈症之理，但曰瘟疫幾朝，症重防變。醫者既先立不敗之地，及至敗壞，則案中原已載明，與醫無涉，予實恥之。因取又可之書，細加論定，予非敢輕議前人，實有不忍不言者。閱者幸鑑其苦心，恕其狂妄可也。</p>
<p>歲庚申，西垣先生以此稿質之家君，家君命（琥）抄錄一本，藏於家塾。乙丑夏，（琥）　病幾危，服先生藥頓愈。先生曰：水災三年，病從寒化，吾治邵伯人病，每以桂附鹿茸，投之輒愈，非吳又可所能知也。嘗因《傷寒例》寒疫二字，及蘇長公用龐氏聖散子治疫之法，推究以盡其變，又得兩千言。今先生沒，求其兩千言不可得，略言梗概，以俟知者。焦延琥識。</p>

<h1>李翁醫記上</h1>
<p>乾隆己亥，先人病臂痛，不能舉，時學師夏君善醫術，往乞其診，以為將成偏枯。時余與史壽莊同筆硯，壽莊祖蓮溪徵君，指求翁視之。翁笑曰：天下無此偏枯證脈。署方黑豆半升，蠶砂二兩為末，服之盡即已。服未盡而痛失。近問之，翁已不記矣。是年為識翁之始，庚戌冬十月㬠，余病嘔血，夜嘔數升，嘔已而咳。或曰陰虛，所為服瓊玉膏，咳益甚。余極駭，血已而咳者，多不治也。訪翁，翁曰：病在濕，舒其陽則愈。咳果已。當是時，猶未信翁之神也。歲丁巳，婦妊脈，忽嘔逆不已，每嘔必厥，日十數度，七晝夜不進飲食，進飲食則嘔，嘔時時有蛔。族人有自謂能醫者，日投以藥，皆不應，厥益劇。急迎翁，翁診良久曰：咳否？婦頷曰：有之，每嘔則有微咳倡其先。翁曰：是宜從脈。立秋幣月，肺金乘權，而右寸獨沉，病得之失治表，表鬱於里，肺失疆而肝火擾，寒熱相擊，所以嘔且厥也。用桂枝十六分，乾薑五分，黃連七分，半夏、甘草各等分。手摘藥趨之服，曰服已必熟睡。或疑其語之決也。已而服藥果然，蓋七夜不能瞑，至是呼吸聞於外，舉家相慶。二更許，睡醒，突大呼，目上視，手振搐搖，首面赤而厥。族人以醫不效自慚，復妒翁之能見是狀，大言歸咎於桂枝、乾薑，迫令灌以梨汁。齒齘不受。家母曰：仍宜問翁。翁時猶未睡，聞是即入診。病者仰臥不知人，喉中喘息。翁曰：非厥也。兩寸脈浮，藥已有效。左右或咻之。翁耳語謂余曰：無畏，適席間豬蹄湯甚濃，吹去浮脂，灌之以醒為度。如其言，且灌且醒，復酣睡，遂霍然。翁曰：嘔七日，胃中液涸，寒氣升而枯竭露也。嗚乎！向令翁不診，必殺於他藥，且以薑桂詈矣，則世之謗翁者，果翁之咎耶。自是至明年戊午四月，婦產女，次日稱胸背急痛，少選嘔厥如舊年市，一日命在呼吸。家母即命迎翁，翁至，值婦痛輾轉於狀，慘切不忍言，少時嘔逆手掣搐而厥。翁曰：此時脈不可據。然去年之厥，責在嘔，今日之厥，責在痛，吾觀其由痛而嘔，由嘔而厥，痛已則嘔與厥皆已矣，不可遲，速治藥。乃書炙甘草二十分，芍藥十分，阿膠十分。曰：此血虛而肝氣乘之，急食甘，肝急自緩，藥入口，痛必平，藥熟，值痛起，趨飲之。如翁言。是秋，余在省病腸澼，阻風燕磯，日數十利，痛苦實甚。俟至揚迎翁診之。余意用姜附，或曰宜大黃也。翁曰：此表證，何澼為，暑淫血分耳，一藥可愈。用藿香、半夏之輩，加當歸以入血，五穀蟲以通大腸，一服而日夜之利盡除。惟雞鳴後腹痠痛，連利數次，以告翁，翁以金銀花治之，二服全已。癸丑夏，吾母病衄，衄已，出黃涕，醫令服蔗漿、阿膠、羚羊角，服之困甚。於是頭痛，右臂右足掣痛而倦。翁曰：病得之陰虛，天令炎熱，肝陽上衝，故衄黃涕者，肝之餘氣也。頭屬胃，胃之絡脈行於右，故見諸證，不必治衄，惟宜養肝，滋胃土，用白芍、山藥、扁豆、甘草四劑而愈。甲子冬，余每日大便後，則由肛門達於尻骨，痠痛不可耐，得飯乃已。翁曰：此水氣也。水氣傷腎，陽腎陽虛，而脾氣下乘，故脹於便後，得食少緩者，陽氣足而能攝也。此水氣非附子不能祛，非多服不能效。乃以鹿角膠、熟地黃、枸杞、菟絲子、山茱萸、山藥、當歸，合附子服之。始服小便夜多，而汗且瀉。翁曰：此水氣外泄也，何疑之？翁治病多用白朮，至此獨以術為戒，他醫以白朮合鹿角霜、鹿角膠、破故紙服之，則汗斂而痛復劇，仍服翁藥三十劑而愈。而族人之自謂能醫者，忌翁甚，每向余短之，余復惑於其言。歲乙丑六月，余幼孫病，竟為此族人誤藥致死。越一月，餘子廷琥病，每巳午未三時，則頭面熱如火蒸，兩肺前穴煩擾不可耐，氣促神躁，不大便，惡水不飲，溲短而黃，翁始以暑治之不應，溫以薑朮不應，面有紅跡似疹，日益見。時閏六月二十五日，翁清晨至曰：君之孫已為醫誤，此子所關甚重，然病情穩曲，今終夜思之，前此非所治也，當由心陰傷而心陽上越，姑試以甘溫。署甘草、大棗等令服，未服而身亦有疹大如戎豆色，且紫，他醫議用快斑發疹之劑。翁又至曰：脈弦微而不渴，何敢用涼藥，且未有疹出而躁若此者，是時躁甚，坐臥行立，皆不寧。翁曰：試以前藥服之。服已而躁定。翁曰：未也。俟之良久，果又躁，且呼手足不仁，臍下亦不仁，漸及於胃脘間。翁曰：急矣，吾今日必愈此疾。乃去急治藥，促煎之。跣足袒衣，自調其水火，診脈凡七八次，藥熟又診脈，久之自持藥令服日。是矣，服之必愈。時正躁急，持其母手而呼，藥既入，遂能臥，而諸苦頓失，面上之疹悉沒，惟熱蒸尚存。翁曰：腎氣虛，虛則寒。昨所服者，真武湯也，氣分之寒消，而血分之寒未去，宜溫血，服炮薑、當歸、山萸、熟地黃、甘草。入口遂酣睡，蒸熱悉除。越三日，便膿血，或曰：熱藥所致。翁聞之，急至曰：非澼也。少陰之寒，升於厥陰，用理中湯加吳茱萸服十劑，膿血自止。服之果然。余於此始恍然於忌之謗之者，真為庸醫，而翁之醫真能神也。方廷琥之服真武湯，而勢始定。其妻忽大呼遍體麻木，不知人，腹中胎上逼喘促欲笑，或曰：宜投紫蘇飲。時三鼓，翁方去，聞此復至，診良久曰：非子懸也，病得之悲傷驚恐，氣血虛且亂，治其虛則胎即安。署熟地黃、白朮、炙甘草、當歸，重其劑投之，而胎果定。是日也，非翁力，則兒與婦皆危矣。翁神於醫，而其拯人之急，不畏勞煩，不恤人言，尤當於道誼學問中求之。余嘗南遊吳越，北及燕齊，見醫者多矣，持一藥曰服之必熟睡，曰藥入口痛必平，曰服之必愈，危急在旦夕，而爭命於須臾轉移之機，其應如響，翁之外，有幾人能乎哉？吾友汪叔震，述江漪堂侍讀之言曰：此翁老後，不可復得，惜市人無知之者。余與唐竹虛孝廉論醫於京師，竹虛亦稱翁不已，昔元好問述李東垣之醫，宋濂述戴原禮之醫，皆仿史遷之述倉公也。翁之可述者多矣，謹錄為余家治效者於上，其得諸傳聞者異其辭。</p>

<h1>李翁醫記下</h1>
<p>黃解元承吉之叔父，病傷寒。有葉生者，治以薑朮而煩減，將服附子。翁診曰：胃熱斂於脾，故減耳，更溫則脾爛矣，服大黃生，服附子死。葉不能爭，投以大承氣，兩目珠戴入於腦。翁曰：熱縱也。又下之，目珠出而頸軟頭不能直。翁曰：熱遁於足太陽，加滑石、甘草下之愈。葉生乃服。</p>
<p>江鶴亭之弟心培，病傷寒煩甚，服清涼之品未已，醫議下。翁診曰：病為格陽，服附子生，服大黃死，服附子狂走，目眥溢血。他醫悉謗翁，翁曰寒競也。力任其治，倍附子加人參，服之愈。</p>
<p>余門人吳潤之叔母，七月病寒熱，服姜而昏，不知人。一醫投大黃，一醫投附子，昏益深，諸醫皆曰：脈無根，中死法。翁診之獨曰：不中死法，脈弦而緩，非無根，病得之暑傷手少陰心，用大黃、附子皆死，用散藥生。令服鮮紫蘇汁，即能言，索飲食。他醫明日診之，皆曰脈有根，不中死法。</p>
<p>郡中一人病腹痛，似少陰證，醫以姜附溫之，益燥擾不能寐。延翁視之，翁曰：此非姜附證，若得數百年石灰投之，當立起。適坐客有從大同來者，篋中蓄此物，言得之長城土中，即煎一錢與之，果定。更一服，下蟲數百頭而愈。知者少陰脈必虛細，今乍大乍小，而有力，唇且紅色不定，非寒乃蟲也，得溫愈擾，故以灰殺之。</p>
<p>周小濂病牙齦潰爛，久不愈，醫莫能治。延翁，翁適衣破衣，周睨之。翁既診，不署方而行，周怪問故，翁曰：此病非吾藥莫能治，然君睨吾，輕我也。雖立方，必不服，何方為。周謝之。翁曰：此病非吾藥莫能治，然君輕我，必不服吾藥，不服吾藥，則必死，請屏諸醫，吾獨任其治，不愈甘受罰。乃用人參二錢，附子三錢，服五十劑而愈。</p>
<p>李艾堂痛疝，醫溫之不應。翁診曰：陰壅也，用半夏湯通之，愈。明年病腹痛，翁適赴河帥召，客淮上。他醫以為濕，治以茵陳，病益劇，將死矣。翁歸急視之，令服防風粥，已而下白糞如銀，病頓已。李遂名其屋為防風館。</p>
<p>趙仰葵習於醫，母病腹痛，不敢自治，卜之曰：三日死。翁診之曰：三日愈。病得之陽氣陷於陰，以吳茱萸、人參治之已。趙謝之，翁又診曰：未也。脈有燥氣，日午必煩，宜小承氣湯。已而果煩，下之愈。</p>
<p>汪氏女，或曰即汪劍潭司馬之女弟。病咳羸瘠，兩目畏日，醫以地黃治之。翁曰：服地黃必厥。果厥。乃以甘草生炙各半治之，八十日愈。病得之陰虛極，極虛者不可以重補，以炙草益陽以生陰，以生草緩陽以強陰也。</p>
<p>商僕某，每晨起咯血，醫治以地黃。翁診曰：病得之內而遇驚，膽蓄熱，夜騰於胃，至晨而出，於地黃藥加豬膽汁，曰：服藥病加則生。服藥病果加，以溫膽湯治之愈。引地黃入膽試之也，病加知所測之不誤矣。</p>
<p>翁幼年從師學，師治一傷寒曰：身如負杖，陰證也，治以姜附不效，師辭不治。翁竊視之，治以大青龍湯，明日愈。師大駭異，治酒問翁曰：子何所見而若此？翁曰：吾思負杖之人，身必不能轉動，故以狀陰證之身痛，今見其人輾轉於床，時起時臥，口呼痛而身不靜，非所云骨節煩疼者耶，故姑汗之，不意竟效。師大悅，即令行醫。</p>
<p>周生者，病頭痛。翁診之曰：是有鬼氣乘之。或疑其言之奇，未幾，目果見鬼物。翁曰：鬼附於肝，不能自去，驅鬼必以風，用羌活、獨活、川芎、細辛、防風、荊芥、升麻、甘松，一切升陽發散之品為末，服之而愈，生名金聲，遂師事翁。</p>
<p>有老人年八十，病泄瀉。他醫用止瀉藥，翁診之曰：非瀉也，止瀉則死。令以雞子入豬肪煮之，服一百日。服至三十日，瀉益甚。他醫治其瀉，瀉止而食不能下。歙縣金殿撰轉之，為老人之戚，奇翁之方，仍令如翁言，復能食，又百日而瀉自減。</p>
<p>江漪堂侍讀之子婦，產後發寒熱，手舞且笑，俗所謂驚風也。醫曰宜涼，翁曰：宜溫，治以涼益劇。翁令以蔥數斤，與布同煮，以布貼少腹，病果已。翁曰：古人灸百會穴，為委曲溫之吾所本也。</p>
<p>唐樸存孝廉，病暑不溲，利之清之，皆不效，勢危篤。翁治以蟬脫，即溲。病由暑氣塞於上焦，上焦如霧，非風不驅，蟬性輕清，暑愈酷而愈鳴，用之為清風之吹也。王東山病虛勞，柴立腰脅刺痛，呼吸將絕，醫辭不治。翁診之曰：血瘀也，宜金匱百勞丸法。用乾漆、大黃、䗪蟲、桃仁、當歸尾治之，便黑血鬥許。而蘇。越十數日，即能會文，於轉運署中。語余曰：子素稱李翁，今誠然，已而試於省，積勞病發，至冬復殂，翁每惜之。明年邵伯鎮一貧婦人，病咳嗽吐血，形枯神瘁，待命於床蓐，翁始署滋陰公用之藥。忽顧所供神曰：我無以對此。復診之曰：血瘀尚可治，亦用百勞丸而愈。</p>
<p>邵伯鎮一人，壯年病吐血，延鎮江蔡姓醫治，以甘寒月餘，血止而飲食倍於常，偶請翁診之。翁曰：中除也，胃陽盡伐，消食者，腎陽也，法不治。辭不與藥，半月果死。</p>
<p>鮑席芬尊人病咽，不能食，厚幣迎吳中醫顧雨田，費千金。以方示翁，翁曰：服之夜必煩。果如其言，吳醫慚愧去。翁曰：此陽結也，宜重劑下之。署大黃一兩。其家未敢盡劑。明日，翁診曰：服藥宜必效，不效者，未全服也。仍署大黃一兩，趨服之，一藥而能食。</p>
<p>葉文光尊人，舌腫若菌。翁曰：木竭也，脈既散，甲乙之氣先亡，木葉落，即不起，果如其言。</p>
<p>觀察和公騰額，兩足瘠弱不能行，以禮延翁，翁感其知己，為留三月，治之而愈。翁始診之曰：足未病之先，陽必痿，有之乎？公曰：有之。陽未痿，肌肉即羸瘠乎？曰：然。翁曰：病宜治脾以及肝，少用白朮茯苓甘草，而加白蒺藜一兩五錢。公奇之，以問王獻廷，獻廷京口名醫也。曰：李之學，足為吾輩師，其用意豈吾之所能知也，宜從之，必有效。服數十劑，不易方果愈。</p>
<p>翁壯年，嘗以歲暮避人於吳，有病咳者，吳醫張亮葵治之不應。翁診曰：此可為也。治以川椒，明日咳止。張使人問之，翁曰：寐則咳，醒則已，蓋寐則肺氣藏於腎，腎寒使之咳耳，通其陽故愈。張極歎服，約訂交而翁辭歸。</p>
<p>有市井小男，病喉，喘促將死。其父母卑詣翁，翁曰：病在少陰誤服寒藥，故至此，急溫之，溫之而愈。其父母貧人也，方翁為之診問几子。曰：止此。翁惻然久之，曰：吾不盡力為爾治，子必死。於是反復求之而得也。時乾隆辛亥冬十二月。</p>
<p>歐陽制美，無故忽鬚眉萎落，醫投細辛等藥十劑，不效，且及於發將禿矣，遍求醫，莫能治。翁曰：此風淫於皮膚間也。令煉松脂和粥食之。兩月而鬚髮皆長，至今猶服松脂也。</p>
<p>翁治徐直生員外家，一寒證，曰：宜附子理中湯。病家曰：已服二劑矣，服之煩躁。翁曰：姑服吾藥，服之遂愈。問其故，翁曰：湯名理中者，重在甘草、白朮、乾薑，彼用附子倍於姜，故劇，吾用附子半於姜，故愈。</p>

<h1>名醫李君墓誌銘</h1>
<p>嘉慶十年秋七月，名醫李君卒。卒之日，予家人兒女咸哀泣。湖中農人有泣於路者，皆君所活也。先是閏月，予子女及子婦病，瀕於危，君活之。距君之卒，止一月。君諱炳，字振聲，號曰西垣，儀徵縣人，幼習三世之書，苦不能得其蘊，乃學易，十年而有得。曰：治病之要，不外陰陽消息而已，陽生陰死，醫為人求其生，故必使陽長而陰消，用寒涼峻厲，則傷其元，惟陽主通，汗吐下所以亨也。利者，義之和，其德在秋，火亢必有以和之。火齊白虎，所以和也。用陰以輔陽，非用以伐陽，貞元相續，而天行所以不已也。時予有說《易》之書，謂《易》之當位，即岐伯所云當位。君見之，欣然曰：醫理在易，先生可與言醫矣。君又曰：帝出乎震，震為木，木者人之所以始也。肝膽之氣存則生，消則死，俗醫嫉肝木如寇仇，務制而勝之。生氣乃日損，而人壽益促，君尤所自得者。曰：肝之本在右，而行於左，學者駭其言，多攻之。歙人汪彥超，為舉一證曰：秦越人書，謂肝七葉，左三右四，右羸其一，斯為本乎。予亦舉為兩證，曰：肝為乙木，乙為庚妻，妻必從夫，宜其本在右。鄭康成之莊周禮疾醫也，言肝氣涼，肺氣熱。賈公彥申其說，云肝在心下近右，其氣當秋，是肝右之說，不始自君矣。然予驗之十數年，凡右脅痛者，君以甘緩之，和以芍藥，無不應手痊。治肺必劇，乃知君以積驗得之。真能發前人所未言，可為後世法也。彼攻者，烏足以知之。君苦《金匱》無善注，乃撰《金匱要略》注二十二卷，能抉其微，錄生平治驗之案，為西垣診籍。惡吳又可《瘟疫論》之惑人也，作《辨疫瑣言》以糾之。謂大黃治疫，本於邪律楚材，又可竊之。而不知其義，妄造達原飲，用草果、黃芩以剝人生氣，且疫為陰濁，入人口鼻，當以芳香勝之。立清氣飲，用大黃有漬法，釀法，同煮，略煮諸法，取其氣而不取其味，意尤造於微。嗚乎！習醫者多不通經，或有假經語以為緣飾者，又莫能發其精微以會通於神農黃帝之旨。自宋金元明以來，能好學深思，心知其意者，其惟君乎。君卒年七十七，遺孤止二歲。是年九月，葬君於蜀岡之陰。君為貧人賤士治疾，必竭盡心力，寒暑莫夜，聞召即行。而短於伺候富室顯者，故身後無餘財。胸有定見，不善隨眾浮沉，病已則戒勿藥，不屑以調理為名，奔走射利。或制一方，令服百劑數十劑，不更增損，均與世俗醫相反。而識者遂稀，至於生死在呼吸之際，人攻君補，人塞君通，人寒君熱，以口舌爭之而不足，以身名性命，誓而決之，手調其藥，而坐驗其啜，不效不已，及其愈也。所報或無一錢，君以為快。嘗往來吳越荊楚之間，所交落落，然而談論風采，間者好之。說醫之文，簡而有法，間為詩歌，不甚溺也。予既錄其診籍，為《李翁醫記》，復述其生平梗概，及學之所得，以垂於石銘。曰：惟人思之，知君術之神。惟人嫉之，知君學之真。財利所在，護之他人，拙於求富，巧於濟貧。人喜用克，君獨以春，贈以陽和，不殺而仁，每乘舴艋，泛我湖漘。囊中有帙，指奧而醇，人驚論創，實中於倫，為語學者，維茲有津，問而師之，以保庶民。</p>
