<header data-type="book">
<h1>顧氏醫案</h1>
</header>

<h1>一、女科時症門（二百四方）</h1>
<p>（案1）女，產後彌月，形凜身熱，津津汗出，脈細濡數，來去靡定，舌紅渴飲。此因營陰內虧，冬令過暖，溫邪襲匿於痰中，相交為患。治法和陽化溫，清降痰氣。</p>
<p>炒桑葉　青竹茹　製半夏　南花粉　炒丹皮　雲茯苓　炙橘紅　川石斛</p>
<p>女，寒熱互作，有汗不止，渴飲舌絳，脈濡空軟，痰吐不爽。產後陰分本虧，冬溫挾痰內伏，營氣不與衛氣和諧，若再纏綿不已，恐致陰傷風動。擬和陽益陰化溫除痰，陽旦、溫膽、交加三方出入之所。</p>
<p>桂枝　白芍藥　竹茹　半夏　淡芩　炙甘草　枳殼　橘紅　薑汁炒　生地</p>
<p>女，寒熱之勢已緩，而仍漐漐有汗，體痛偏左，咳嗽，痰不易出，脈弦滑數。冬溫兼挾痰氣，阻痹肺之絡。當理絡化痰，宣通氣機。</p>
<p>枇杷葉　細生地　鉤鉤　橘紅　白杏仁　青竹茹　半夏　茯苓　大豆黃卷</p>
<p>女，寒熱了而不了，營氣猶不和諧，左脅痛引背，股絡中氣血不通。再議和養氣血，佐以宣絡。</p>
<p>荊芥炭　楂炭　穀芽　陳皮　炙甘草　茯神（此方與脈案不合疑有錯誤）</p>
<p>（案2）女，經居四月，脈象虛弱，內熱食少，腰痠腹痛膨脹。營虛氣滯。防其暴下虛波，擬和養肝脾氣血。</p>
<p>炒鬆生地　四制香附　川杜仲　金毛狗脊　炒黑歸身　白芍藥　川續斷　粉丹皮</p>
<p>（案3）女，心悸，頭鳴，咳嗆，食少作脹，脈形細數。素體虧弱，氣火上升。恐增寒熱，且先清肺和胃。</p>
<p>竹茹　甘草　川貝　六曲　雲苓　蛤殼　杏仁　鉤鉤　枳殼　陳皮　料豆　穀芽</p>
<p>（案4）兩脈濡數無力，脾陽久虛，聚濕生痰，胃氣失和，足浮，痰多，納少，無寐。瘧後營衛失諧，元氣益虛。擬和養脾胃，安神化痰。</p>
<p>潞黨參　甘草　竹茹　棗仁　制於術　半夏　枳殼　姜皮　白茯苓　陳皮　秫米　紅棗</p>
<p>（案5）女，經居五十餘日，奔走勞力，動絡下血，一日頗多腰痠腹支急，飲食減少，脈形濡數。衝任營絡損傷，防其腹痛暴下。擬和養健脾。</p>
<p>甜於術　縮砂仁　厚杜仲　川石斛　懷山藥　炒香穀芽　蘇蘇梗　廣陳皮　川續斷</p>
<p>（案6）女，失音半載，咽乾口燥，經阻兩月，脈形細數。陰傷肺熱，恐入損途。</p>
<p>丹參　杏仁　竹茹　牛蒡子　沙參　枳殼　橘白　抱茯神　川貝　桔梗　甘草</p>
<p>（案7）咳嗽頭脹皆減，耳鳴驚惕，中指發麻，痰多食少，脈虛細弦。血虛肝陽化風，靜養慎調。</p>
<p>西洋參　東白芍　石決明　茯苓　制首烏　川貝　鉤鉤　金斛　料豆衣　橘紅　歸身</p>
<p>（案8）女，血虛脾弱，經阻半載，腹痛便溏，耳鳴食少，脈形細澀。病頗深，損怯可虞也，理之不易。</p>
<p>大生地　赤芍藥　山楂炭　炒穀芽　全當歸　懷山藥　橘皮白　甘草　粉丹皮　紫丹參　茺蔚子　雲茯苓</p>
<p>（案9）肝氣挾痰上擾，頭痛心悸，痰咳嘔惡，腹痛食減，脈細弦數，舌黃口乾。病久體虛，恐有痙象。</p>
<p>首烏　棗仁　石決明　甘草　料豆　茯神　淨鉤鉤　穀芽　半夏　竹茹　甘菊花　陳皮　枳殼　川石斛</p>
<p>（案10）濕熱傷脾，便血泄瀉，腹膨食減，舌白脈濡。恐增腹滿之虛，擬清脾和濕。</p>
<p>洋參　秫米　六曲　茯苓　冬朮　木香　陳皮　大腹皮　地榆　砂仁　豬苓　澤瀉</p>
<p>（案11）女，產後四十餘日，下血如崩，營傷脾弱，遍體浮腫，舌白便溏，脈形濡細無力，氣急鼻衄。陰陽兩傷，防喘塞泄濁虛變。</p>
<p>冬朮　澤瀉　赤苓皮　陳皮　歸身　五加皮　大腹皮　薑炭　薏米仁　大紅棗</p>
<p>女，產後月餘，下血如崩，營傷脾弱，肢體腫脹，氣急便溏，咳嗆舌白，脈形濡細。脾肺腎三焦皆病，防喘塞虛波，病機險重之症。</p>
<p>懷山藥　廣陳皮　川貝母　姜皮　大腹絨　加皮　紫石英　紅棗　茯苓　米仁　沉香屑歸身炭</p>
<p>女，產後去血過多，營傷脾弱，肢體浮腫，咳嗽氣喘，食少便溏，舌白脈細。三焦皆病，喘塞可虞，不可忽視。</p>
<p>甘枸杞　炙甘草　紫石英　茯苓　生薑皮　加皮　陳皮　紅棗　歸身炭　川貝母　懷山藥　大腹皮　沉香屑</p>
<p>（案12）女，肝陽上擾，頭暈嘔惡，白帶頗多。陰虛胃弱，防其淹纏增重。</p>
<p>制首烏　廣陳皮　茯神　竹茹　左牡蠣　料豆衣　鉤鉤　白芍　半夏　石決明　金斛</p>
<p>（案13）女，七月妊軀，腿足腫脹，面浮溲少，脈形細濡，咳嗽頭脹，舌白食少。脾虛濕勝，防驟產虛波。</p>
<p>土炒白朮　福澤瀉　甜杏仁　紅棗　雲茯苓　大腹皮　川貝母　甘草　廣陳皮　生薑皮</p>
<p>（案14）女，寒熱較減，面目黃色稍退，脘痛徹背，經阻兩月，頭脹食少。肝鬱濕熱，氣血失於流暢也。</p>
<p>制香附　白茯苓　廣陳皮　烏藥汁　制茅朮　六神麯　淨當歸　沉香汁　木豬苓　川芎藭　綿茵陳　福澤瀉　赤芍藥　黑山梔</p>
<p>（案15）女，產未滿月，瘀盡，白帶頗多，少腹痛而腰痠，咳嗽食少，舌白脈細。營虛寒凝氣阻，防其增重。</p>
<p>全當歸　炮乾薑　川貝母　香穀芽　赤芍藥　山楂炭　廣陳皮　江枳殼　厚杜仲　枸杞子　白茯苓　炙甘草</p>
<p>（案16）女，經後營虛，肺熱音閃，胃弱食少，脘脹。此時尚難進補。</p>
<p>竹茹　穀芽　橘白白　桔梗　金斛　川貝　六曲　枳殼　杏仁　茯神</p>
<p>（案17）女，自乳體虛，伏邪留戀，寒熱間兩日一發，左脅背部作痛，咳嗽食少，脈息小弦，最淹纏也。</p>
<p>柴胡　生草　青皮　橘絡　當歸身　旋覆花　枳殼　茯苓　赤芍藥　新絳屑　川貝　蔥管</p>
<p>（案18）女，天癸不調，來則腰痠，且腹與渾身骨痛，近日徹夜無寐，大便泄瀉，頭脹，牙齘開合不利。心脾營虛氣滯，兼有伏風，防其增重，毋忽！</p>
<p>歸身炭　橘絡　六曲　湖藕　中生地　煨木香　丹皮　棗仁　白芍藥　桑葉　山藥　鉤鉤</p>
<p>（案19）心陰內虧，衛陽外薄，神倦少寐，自汗不止。</p>
<p>大生地　棗仁　歸身　於術　清阿膠　白芍　黃耆　陳皮</p>
<p>（案20）先形寒肢冷，昏昏嗜臥，而後增熱，體痛胸脘痞悶。此積勞陽傷，風溫與濕相搏。舌絳苔白，將恐化而為熱，且從表分達泄。</p>
<p>淡豆豉　枇杷葉　江枳殼　連翹殼　蔥頭白　甜杏仁　桔梗　麥芽</p>
<p>（案21）身熱肢冷，去來無定，得微汗或止或不止，脈數左弦，舌苔白，神倦囈語，頭疼體痛。邪兼太少兩陽，若明日一候不解，恐其內陷。</p>
<p>陽旦湯（即桂枝湯加黃芩。）</p>
<p>平旦更衣之後，寒熱勢緩，而脈未靜，舌絳苔白，溫邪挾濕，蒸中不化，病情尚未定著，且與和解化痰，以消息之。</p>
<p>溫膽湯加枇杷葉、白杏仁</p>
<p>夜來先形寒，逾時而熱，後熱後得汗而解，脈弦數，邪伏少陽陽明，竟有瘧狀。柴胡溫膽，未知可否。</p>
<p>柴胡溫膽湯</p>
<p>屢屢得汗，熱已退解，但脈沉細數，舌絳，苔微黃，咳嗽，痰不易出，胸脅隱痛。且與理肺和胃化痰，以視明日動靜。</p>
<p>溫膽湯去半夏，加枇杷葉、白杏仁、川貝、穀芽。</p>
<p>漐漐汗出，脈漸和平，此時只宜和胃養陰，使其神安加谷，宜《內經》法。</p>
<p>半夏　竹茹　茯苓　秫米　橘紅　炙草（長流水煎）</p>
<p>多夢紛紜，神倦譫語，舌尖紅，苔薄白，脈數空弦。穀食不加，此乃汗解之後，心陰內耗，肺胃熱邪又留未盡。再擬養心安神，清痰熱，和胃經法。</p>
<p>洋參　淮麥　竹茹　川貝　麥冬　南棗　茯神　半夏</p>
<p>寢食皆安，脈亦和平。扶正安神，一定成則。</p>
<p>人參　茯神　淮麥　麥冬　橘白　川斛</p>
<p>（案22）痰喘口渴，便溏肛墜。手足太陰皆虛，宜補土生金。</p>
<p>五味異功散加麥冬、川貝、海石</p>
<p>（案23）素體極弱，心力俱勞，二氣交虛矣。風溫乘襲，背寒身熱，心中嘈雜如飢。此屬內傷而兼外感者，病之輕重未定，姑從溫膽湯和之。</p>
<p>溫膽湯加玉竹條</p>
<p>（案24）素體陰虧，煩勞陽傷，冬溫乘襲，身熱九日，咳嗆氣喘，自利煩渴，徹夜無寐，口不仁面垢，唇焦齒乾，舌濁脈數濡。深恐正虧邪陷，當從肺胃清泄。</p>
<p>枇杷葉　葛根　桔梗　白杏仁　赤芍　生甘草　犀角　淡芩　蘆根</p>
<p>汗出不徹，熱退不淨，咳嗆胸痞，唇焦渴飲，肺胃熱邪未清，仍宜宣泄上焦。</p>
<p>桑葉　川貝　黃芩　枇杷葉　豆豉　連翹殼　杏仁　生草　蘆根</p>
<p>（案25）妊娠八月，陡然昏厥，甚至上竅血溢，揚手擲足，發熱神昏，咬牙脈亂。冬溫挾痰，陷入厥陰，肝陽挾胎氣上迫，勢極危急，無從著手，不得已勉與暴厥應下之法，參入熄風化痰，以冀萬一。</p>
<p>白紋銀　鉤藤鉤　枳實汁　青葶結　石決明　礞石滾痰丸（三錢）　羚羊角　黑山梔</p>
<p>女，又，損胎既下，仍然昏痙暈厥，手臂強直，脈弦滑數。此邪痰惡血，蒙閉心胞，正在險津也，謹防陡變。</p>
<p>羚羊角　薑汁　澤蘭　石菖蒲　橘紅　楂炭　竹瀝　丹皮　化服回生丹一粒。</p>
<p>（案26）未老先衰，勞倦感溫，身熱八日，熱退，面青肢冷，額汗津津，神倦呃忒，痰喘如鋸，脈滑細如絲，舌濁而干。邪熱匿於痰中，中氣交脫之象。其勢不得不補，然須得補耐補乃幸。</p>
<p>人參　茯苓　竹瀝　熟地　半夏　薑汁　麥冬　橘紅　紫石英</p>
<p>得補雖安，虛態不減。病前遠行，振動陽絡，咳痰帶血，最恐多溢，此時又以和絡止血為急。然納補之藥，仍未敢撤也。</p>
<p>人參　麥冬　竹茹　熟地　川貝　藕汁　阿膠　茯神　墨汁</p>
<p>（案27）溫邪九日，身熱不揚，瞀悶不揚，燥擾，舌絳苔白，氣喘耳聾，痰咳不爽，斑發紫黯，隱約不出肉，脈細，濡數而伏。此屬邪陷膻中，有昏厥立危之勢。急急清營透表，邪達乃幸。</p>
<p>犀角（二錢）　鬱金（五分）　牛蒡（三錢）　枇杷葉（一兩）　赤芍（一錢半）　荊芥（五錢）　青蒿（三錢）　川貝（錢半）　連翹（三錢）　蘆根（三錢）</p>
<p>身微熱，四肢不溫，神蒙耳聾，舌紅渴飲，瞀悶囈語，斑發不掀，脈浮不出。溫邪痰熱，內擾蒙閉，漸入心營之勢，恐陡然昏痙厥閉。今擬清營解表，辛香開泄，以冀轉機。</p>
<p>犀角　連翹　杏仁　枇杷葉　牛蒡　川貝　菖蒲　桔梗　芍藥　鬱金　柴胡</p>
<p>身熱不揚，昏狂叫喊，囈語喃喃，脈數不出，煩渴引飲。陽明邪火極熾，仍慮昏痙厥閉。再擬清營辛開，甘寒化熱，扶過兩候方可。</p>
<p>竹葉（三錢）　石膏（五錢）　生草（五分）　麥冬（二錢半）　犀角（二錢）　生地（七錢）　川貝（三錢）　菖蒲（五錢半）　枇杷露（三錢）</p>
<p>又，夜來得汗之後，昏狂煩熱似定，舌色亦少淡薄，但大便連行，而脈甚細軟，神志倦怠。最恐邪去未淨，而正氣先虛，今宜清解和胃安神養陰方。</p>
<p>生地　粳米　茯神　石斛　川貝　石決明　甘草　麥冬　竹葉</p>
<p>又方：大生地　沙參　川貝　粉丹皮　大麥冬　茯神　川斛　石決明</p>
<p>（案28）溫邪蒸熱旬余，斑疹發不出膚，舌紅苔白，大便溏泄，邪伏陽明，深恐里陷變喘，不可忽視。</p>
<p>葛根　桔梗　赤芍　赤苓　芩連　甘草　連翹　荷葉</p>
<p>病情如昨，泄瀉數減，脈來細數，而寸不出。乃太陽邪熱入太陽陽明，舌紅苔黑，深恐昏厥。</p>
<p>犀角　赤芍　豆卷　黃連　炙草　連翹　青芩　赤苓　荷葉</p>
<p>熱勢退緩，舌紅苔濁，脈數口乾，陽明之邪未淨，小溲短赤，是濕熱癃閉州都所致。</p>
<p>犀角　連翹　滑石　竹葉　丹皮　草梢　赤苓　川柏</p>
<p>（案29）滋陰清熱。</p>
<p>香犀尖　丹皮　麥冬　川石斛　細生地　連翹　茯神</p>
<p>（案30）溫病八日，身熱不揚，脈左空弦，右模糊，膺悶呃忒，面赤如醉，舌紅苔白，邪熱苔白。痰濕混阻，其勢頗危。</p>
<p>旋覆花　鬱金　杏仁　竹瀝　枇杷葉　川貝　豆卷　薑汁</p>
<p>大戰一晝夜，邪熱勢猛，幾危屢次，幸而膚黃斑透得解，轉致咽喉微痛，頰車失開，舌絳口乾，面油目昏，脈數左弦。乃陽明之經猶熱，少陽之氣內虧，濕反化燥之時，猶恐泛而復聚。今當清營滋化，理咽除痰，不致再生更張乃吉。</p>
<p>犀角地黃湯加連翹、川貝、竹茹、桔梗、人中黃</p>
<p>頰車失張，咽嗌哽痛。少陰自虛，陽明尚未清肅，滋養少陰之中，少佐清泄。</p>
<p>元參　甘草　金斛　葛花　生地　桔梗　川貝　雞距子</p>
<p>（案31）身熱不揚，氣逆咳嗽，痰中映紅，脈數，左細軟，右浮滑。冬令過暖，溫邪蘊伏肺中，嗆傷營絡，恐增喘急。陰分本虧，只宜輕濟清泄，慎勿辛溫發散。</p>
<p>葦莖湯加藕肉、川貝、蜜炙枇杷葉</p>
<p>（案32）身微熱，畏風惡寒，瞀悶氣喘，體痛右甚，脈浮滑數。勞倦感邪，氣痹不宣，恐其厥逆。</p>
<p>蘇子　豆豉　前胡　桑皮　枳殼　杏仁　桔梗　川樸　蔥白</p>
<p>（案33）肝氣挾痰塞逆，心脘掣痛，陡然寒顫，壯熱痙厥，洊至汗出如雨，膚冷如石，脈細如髮，語言不出。是痰邪內伏，肝風鴟張，正氣欲脫，危如朝露，無可奈何。勉擬扶正滌痰，回陽救逆，以冀萬一。</p>
<p>人參　龍骨　半夏　竹瀝　附子　牡蠣　橘紅　薑汁</p>
<p>（案34）冬溫九日，身熱不揚，神煩瞀悶，脈數不暢，舌紅苔黃，手腕搐搦，痰邪內伏，肝風欲動，恐其復厥。</p>
<p>豆豉　半夏　連翹　桔梗　蔥白　橘紅　杏仁</p>
<p>（案35）冬溫內伏，陽虛胸痹。其病不輕。</p>
<p>瓜蔞皮　桂枝　枳殼　茯苓　薤白　半夏　川樸　黃芩</p>
<p>（案36）冬溫咳嗆，挾食壯熱，咳嗆。其勢極險。</p>
<p>蘇子　杏仁　象貝　萊菔汁　前胡　桔梗　連翹　桑葉　枳殼　蘆根</p>
<p>（案37）形寒身熱，面赤戴陽，嘔惡舌濁，脈沉細，少腹拘急，終宵不寐，氣上衝心。高年濕熱內盛，冬溫深入厥少。其勢危篤，勉與仲聖厥陰治法。</p>
<p>川連　桂木　細辛　川柏　乾薑　黨參　附子　歸身　烏梅</p>
<p>（案38）病後熱留營中，更兼喪明之痛。</p>
<p>犀角地黃湯加川貝、萱花</p>
<p>（案39）脈浮，頭項強而惡寒，此太陽病也。病後陰虛，宜兼滋養。</p>
<p>桂枝湯（即陽旦湯）加黃芩，再加生地（即陽旦湯加生地）</p>
<p>（案40）外受風寒，內傷酒醴，濕熱。</p>
<p>蘇子　枇杷葉　橘紅　茯苓　杏仁　米仁　桔梗　桑皮</p>
<p>（案41）煩勞耗陰，冬溫伏邪。</p>
<p>沙參　麥冬　海石　川貝　玉竹　蛤殼　米仁　梨皮</p>
<p>（案42）濕熱肝氣內郁，風寒外遏，心中懊憹不食，目黃，舌絳唇乾，脈不通暢。治當疏達。</p>
<p>柴胡　黑梔　神麯　青皮　麥芽　茵陳　香附　連翹　豆豉</p>
<p>（案43）冬溫搐肺，金實則啞。</p>
<p>蘇子　桑皮　川貝　活水蘆根　杏仁　前胡　桔梗　生瓜子殼</p>
<p>（案44）冬溫伏胃，蒸熱膚黃，嘔吐拒納。</p>
<p>藿香梗　茵陳　茯苓　連翹　宋半夏　陳皮　黃芩　神麯</p>
<p>（案45）此大頭天行毒也，若毒邪內攻則昏亂，何小視之耶？</p>
<p>普濟消毒飲</p>
<p>（案46）陰虛感溫，肝陽上逆。</p>
<p>溫膽湯加金石斛、石決明</p>
<p>（案47）失血損體，勞煩感溫，防其新邪舊病，因時病併發。</p>
<p>葦莖湯加南沙參、象貝、湖藕</p>
<p>（案48）風寒壅遏，食滯停積，肝氣上逆，寒熱昏躁，胸悶脈伏，勢將昏痙厥閉。若此重症，如何來此就醫？勉擬方速載歸，而勿再來也。</p>
<p>黑山梔　枳實　連翹　桔梗　淡豆豉　麥芽　杏仁　鬱金</p>
<p>（案49）冬溫夾食，來勢不輕。</p>
<p>豆豉　茵陳　蘇梗　杏仁　山梔　連翹　川樸　枳殼</p>
<p>（案50）肢冷身熱，煩躁呻吟，脈沉數。冬溫，食滯阻中，暴寒外遏。其勢棘手。</p>
<p>葛根　淡芩　連翹　麥芽　柴胡　石膏　甘草　枳實</p>
<p>（案51）肝氣內郁，風寒外遏。</p>
<p>豆豉　枳殼　半夏　萊菔子　黑梔　杏仁　生薑　蔥白　橘紅</p>
<p>（案52）女，產後營虛，溫邪乘襲，寒熱匝月，咳嗆氣短，腹膨，脈細，神倦。恐其邪正兩脫，至險至險，勉擬一方。</p>
<p>桑葉　楂炭　丹皮　茯苓　玉竹　陳皮　歸身　穀芽</p>
<p>（案53）冬溫身熱旬余，勢將陰傷風動。</p>
<p>青蒿　連翹　枳殼　桑葉　黃芩　竹葉　麥芽　蘆根</p>
<p>（案54）冬溫九日，形凜身熱，脈細數，舌絳苔白。陰虧不能運泄，將恐邪陷昏憒。</p>
<p>豆豉　枳殼　麥芽　桑葉　山梔　杏仁　連翹　蘆根</p>
<p>身熱夜重，自利渴飲，舌絳苔黃，脈細，嘔惡不食。陰虧之體，冬溫內伏，防其昏陷。</p>
<p>葛根芩連湯加神麯、柴胡、赤苓、穀芽</p>
<p>（案55）冬溫傷肺，咳嗆痰血，喘不得臥，其險極。</p>
<p>桑葉　南沙參　石膏　生甘草　杏仁　枇杷葉　麥冬</p>
<p>高年積勞陽傷，冬溫入伏，咳嗆氣短，正不克邪之象。</p>
<p>豆豉　蘇子　橘紅　蔥白　杏仁　半夏</p>
<p>冬溫之病，辛燥頻進，肺胃受傷，木火上逆，咳嗆痰濁，嘔吐拒納，理之極難。</p>
<p>竹茹　甜杏仁　米仁　瓜子　橘白　川貝母　茯苓　稻須</p>
<p>下虛之體，冬溫重感，身熱痰嗽，喘不能臥，反復淹纏，極難用藥。</p>
<p>葦莖湯加枇杷葉、桑皮、蛤殼、川貝</p>
<p>（案56）身熱旬余，微汗不解，脈細數不出，舌絳苔黃，渴飲便閉。溫邪夾食也，恐其內陷轉重。</p>
<p>小陷胸湯加山梔、豆豉、連翹、生穀芽</p>
<p>（案57）冬溫八日，瞀悶脈伏，邪食並重，恐其內陷。</p>
<p>蔥白　川樸　枳殼　秦艽　豆豉　杏仁　桔梗　麥芽</p>
<p>（案58）積勞陽傷，營衛不和，或寒或熱。</p>
<p>桂枝湯加當歸、陳皮、茯苓</p>
<p>熱退不淨，咳嗆嘔吐，脈弦而數，寐則囈語，肝膽之陽挾溫邪而上升也。</p>
<p>溫膽湯去甘草，加青蒿、黃芩、生薑</p>
<p>冬溫伏邪，營衛不和。</p>
<p>陽旦湯加杏仁</p>
<p>（案59）濕熱痰食混中焦，正不敵邪則內結外脫。</p>
<p>川連　橘紅　羚羊角　黃芩　生草　連翹　鉤鉤　葛根　麥芽</p>
<p>熱退未淨，防其復盛。</p>
<p>前方去羚羊角、麥芽，加神麯</p>
<p>（案60）身熱不揚，遍體浮腫，脈緊，舌黃口乾，咽哽胸悶。冬溫內伏，嚴寒外遏，肺不清達，最恐喘急，不是小病。</p>
<p>麻杏石甘湯</p>
<p>（案61）身熱去來靡定，得汗解而旋覆燥渴引飲，舌白中濁，脈濡數，不食不寐。此暑風濕熱混蒸陽明太陽，居素交虛，惟恐里走，或得轉而為瘧乃幸。</p>
<p>藿香　半夏　神麯　石決明　川樸　陳皮　茯苓　鮮荷葉</p>
<p>夜來熱退不淨，神煩無寐，脈數軟，舌乾微黃。暑熱蘊伏，惟恐復熱，擬從肺胃達泄。</p>
<p>枇杷葉　半夏　茯苓　荷葉　白杏仁　橘紅　竹茹</p>
<p>果然復熱，昏譫鼻衄，煩渴引飲，脈數不暢，舌紅苔白，小溲短赤，煩躁無寐。暑傷心，寒傷氣，肺胃邪火鴟張，惟恐陰傷風動，已屆一候，病情未定。今擬清解達泄，冀其轉瘧如何。</p>
<p>山梔　連翹　羚羊角　杏仁　豆豉　竹葉　枇杷葉　蘆根</p>
<p>熱緩不退，脈細數不出，舌紅苔黃，鼻衄盈盞，煩渴引飲，徹夜無寐。暑熱深伏陽明營分，將恐熱迫陰傷，當清營滋泄，得轉癉瘧乃幸，仍不可泛視也。</p>
<p>犀角　連翹　知母　地黃　竹葉　貝母　淡豆豉　蘆茅根　西瓜翠衣</p>
<p>夜來熱甚神昏，平旦醒而熱退不淨，似乎瘧象而未准者，但症陽脈陰，深恐正不勝邪，轉虛迅速，頗難立法，擬清氣熱和胃陰法。</p>
<p>洋參　花粉　半夏　粳米　麥冬　甘草　竹葉</p>
<p>頭額常熱，身肢卻有退時，癉瘧之象，今日之來，冀其輕緩，不致昏憒譫語，庶無內陷之虞。仍擬清熱和陰。</p>
<p>洋參　半夏　竹葉　麥冬　粳米　花粉　生草　青蒿　蘆根</p>
<p>昨午表熱不壯，而自覺心中甚熱，陽亢陰虧所致。脈象模糊，神煩無寐，額熱不退，舌心剝落，口苦吞酸，陽明濕熱不化，心肝氣火內盛，必須耐性以調之，如躁急心熱更張或多失。仍擬扶正養陰、和胃安神以消息之。</p>
<p>洋參　半夏　茯神　麥冬　竹茹　青蒿　生草　橘白　稻葉</p>
<p>暑濕痰熱混蒸三焦，似轉瘧而去來靡定，朦朧將睡時囈語喃喃，肢搐身瞤，神憒，耳聾不聰。此屬臟陰內虧，痰火蒙閉，風陽竊動，尚慮變幻多端。急當扶正安神，熄風化痰，不致虛波陡起乃幸。</p>
<p>洋參　石決明　羚羊角　竹茹　大生地　麥冬　連翹　茯神　鉤鉤　橘紅</p>
<p>身涼額亦不熱，脈象稍出，左弦右空，舌苔膩白。暑濕若有未楚者，然尚慮散而復聚。煩渴漸減，正亦漸弱，宜未雨綢繆，勿使虛態畢集。</p>
<p>黨參　麥冬　石決　鮮蓮子　生地　茯神　橘紅　生穀芽</p>
<p>昨身熱至曉退解，脈左弦右數，舌紅苔白。究是暑濕伏於陽明而為癉瘧，扶正安神，化痰清熱，一定成則。</p>
<p>黨參　陳皮　茯神　麥冬　竹葉　石決　半夏　穀芽　鮮蓮子</p>
<p>昨瘧之象雖不重，而熱退汗出津津，口苦咽乾，心恍體倦，二氣漸露虛象。必當扶正養陰，以化餘邪。</p>
<p>參鬚　中生地　金斛　半夏　麥冬　肥知母　茯神　橘紅</p>
<p>昨發瘧得汗而解，茲診其脈，仍依舊弦數，得毋欲變日至乎？仍與扶正養陰，化痰和胃。</p>
<p>洋參　金斛　橘紅　麥冬　茯苓　石決明　知母　蓮子　稻葉</p>
<p>熱甚而長退時，汗少口乾，舌紅脈數空弦。肺胃之邪尚蘊，心腎之陰已耗。急宜壯水以制陽光，鹹苦入陰法。</p>
<p>生地　貝母　橘白　蓮子　天冬　花粉　茯苓　知母　連翹　沙參（此方與案不合）</p>
<p>小補之後，余焰復烈，癉瘧發熱三日，不分界限，不易外達也。滋清之中復兼利濕消暑。</p>
<p>青蒿　骨皮　連翹　鱉甲　大生地　荷葉　知母　六一散　鮮佛手</p>
<p>忽涼忽熱，汗出不徹，舌轉濁白，脈數不暢，究是熱蒸濕蘊。清滋養陰之中，兼滲三焦分利。</p>
<p>青蒿　地骨皮　荷葉　鱉甲　斛藿　鮮佛手　知母　六一散　神麯</p>
<p>暑濕交蒸，熱不退解，汗出不徹。已屆秋令，性天先生主以喻氏，頗合病機，增損為治。（性天即薛公望。）</p>
<p>冬桑葉　杏仁　阿膠　知母　枇杷葉　石膏　麥冬　川貝</p>
<p>附薛性天案：</p>
<p>熱自里發，值於暑濕交蒸之時，且奪精於病前，今為期三候，寒熱不定，多於申酉之間。脈靜脈大則身和，脈大則身熱，最易液涸風動。</p>
<p>昨熱盡退，茲診脈，仍數，額微熱，口苦耳聾，悉屬少陽陽明見症，暑濕未能盡化，而陰氣孤絕，陽氣獨發也。與仲景方，清氣熱養胃陰。</p>
<p>竹葉石膏湯加沙參、桑葉、丹皮</p>
<p>（案62）暑為陽邪，心為離火，暑先入心，汗乃心液，暑病三候之外，君主焉有不虧之理？擬加生白芍錢半，與性天先生同議。</p>
<p>參葉　茯神　半夏　秫米　麥冬　甘草　橘紅　鮮蓮</p>
<p>（案63）大清大涼之後，脾胃焉有不虧之理？和脾胃專務參朮，恐其太早，若再清涼，更苦脾溏，曷若微清微涼，則兩得其平矣。</p>
<p>人參葉　橘紅　麥冬　鮮蓮子　絲瓜葉　茯苓　穀芽　半夏　甘草　生白芍</p>
<p>（案64）少陰之脈循喉嚨，挾舌本，兼茲以里邪兼發，又被暑濕交蒸疊進，清解暑濕退熱，邪之流弊未楚，是以咽痛嗌乾，脈不數而少納，四肢清涼也。擬少陰立法。</p>
<p>百合　雞子清　蛤殼　元參　女貞子　麥冬　清阿膠　旱蓮草　貝母</p>
<p>咽紅腫痛，蒂舌下墜，口咽皆干，舌紅苔糙，中心剝落。暑濕大病之後，心腎真陰耗散，孤陽上僭。法當救陰潛陽，壯水制火。同性天先生議。</p>
<p>大生地　白芍　知母　淡天冬　龜板　淡元參　真阿膠　淡秋石　雞子黃</p>
<p>（案65）七夕表熱已解，而轉增咽哽阻咽，咳嗆痰稠，脈數右大。少陰本虧，真陽上燔。鹹苦滋救，仲景成法也。公議方。</p>
<p>雞子黃連阿膠湯　豬膚湯</p>
<p>復診：昨方加知母。</p>
<p>咽痛未定，身涼復熱，不但陰虧火炎，猶有暑濕餘氣，時散時聚。今議養陰利濕，使從小便而出。</p>
<p>豬苓湯、三豆湯代茶</p>
<p>咽痛漸平，大便頻泄，少腹急痛，舌苔灰白，暑濕餘邪挾食滯困中。恐其由瘧變痢，宜從陽明開提泄熱，仍佐兼顧少陰。</p>
<p>葛根芩連湯、洋參、阿膠、白芍、佛手</p>
<p>熱不復來，利亦減緩，惟舌本絳而苔花，搭脈右甚數。肺胃餘熱未清，心腎之陰頗虧，此時尚須清肺和胃，滋養心腎，為善後之計。</p>
<p>麥冬　阿膠　黃芩　佛手　川斛　白芍　炙草　蓮子</p>
<p>諸恙漸平，惟穀味寡納，寤言不寐，左寸關不靜。今當靜心安神，和胃養陰，務祈怡神靜養，不致再生更張乃吉。</p>
<p>洋參　茯神　炙草　麥冬　石決明　穀芽　棗仁　宋半夏　阿膠</p>
<p>倦怠不嗜食，寤寐紛紜，脈細軟數。皆屬邪去正虛，心陰內虧之故。擬安神補心，和胃養陰，然後再商峻補。</p>
<p>黨參　阿膠　秫米　生地　半夏　木瓜　麥冬　牡蠣　茯神</p>
<p>形神色脈，悉屬轉虛，必須扶正養陰。</p>
<p>參鬚　牡蠣　茯神　阿膠　半夏　秫米　大生地　麥冬　木瓜　（此方與前方同）</p>
<p>邪去正虧，當以滋補。慎寒暖，節飲食，勿使功虧一簣。</p>
<p>人參　蓯蓉　茯神　懷山藥　熟地　萸肉　麥冬　新會皮</p>
<p>（案66）夜來小便，寤寐不安，口乾舌燥，背脊轟熱，脈數右大。皆繫心腎內虧，陽亢陰虛。權宜攝陰潛陽。</p>
<p>人參　龜板　山藥　海參　熟地　牡蠣　白芍　天冬　茯神　陳皮</p>
<p>此案諸方，悉屬有本而來，惟當用清燥救肺之際，補劑略早一步，是以其熱反復，淹留不退也。歷觀前案自明。</p>
<p>（案67）深秋涼風觸動暑濕伏邪，初起間日癉瘧，已屬陽明見症，爾來熱無定時，脈空數，兩關獨大尺短，舌絳邊碎，口糜氣穢，咽哽塞。胃中邪熱內蒸，陰液日漸告涸。不但慮其病久正脫，抑恐毒氣內陷，則胃敗不食。姑擬徹熱救陰、清胃解毒之法，以消息病機。</p>
<p>黃連　生地　人中黃　川貝　黃芩　阿膠　川石斛　銀花</p>
<p>平旦潮熱又發，燥而渴飲，胸痞氣粗，口糜氣穢，鼻癢舌乾，脈數。悉屬肺胃蘊熱，陰液內涸之象。喻西昌為的對之方，但其熱勢猖狂，深恐鞭長莫及。</p>
<p>清燥救肺湯用參鬚、人中黃，去麻仁</p>
<p>連進苦泄滋陰，甘寒化熱，津液不回，神識模糊，脈數無力。邪熱匿於痰中，蒙閉心營，正氣不得振托，明日三候陡然昏厥，將何料理？不忍束手，竭蹶擬方，以冀弋獲。</p>
<p>犀角　麥冬　知母　生地　石膏　石決明　人參　川貝　竹瀝</p>
<p>夜來得微汗，神醒而倦怠懶言，脈右弦數，唇仍干，身熱暫解。目前之急，痰邪終未能出，慮其明日復然，治法不外清營化痰，公議方損益。</p>
<p>犀角　麥冬　石決明　竹瀝　生地　石膏　川貝母　蘆根　人參　知母　霍斛</p>
<p>晚診：更衣不暢，渴飲脈數，邪火之勢未衰也，胃中津液大虧。若明晨忽然風動，將何以御之？此時滋清熄風之外，無他道也。</p>
<p>羚羊角　麥冬　川貝　燈心　石決明　蘆根　南沙參　生地　霍斛　竹葉</p>
<p>病情如昨，脈象稍遜，寤言不寐，邪熱逗留不去，正氣日漸消除磨，假使今晚復熱，豈不大費躊躇也乎？公議清陰中之熱，和膽胃之熱。</p>
<p>生地　麥冬　川貝　竹茹　鱉甲　石決明　橘白　花粉　川斛　丹皮</p>
<p>晚診：熱不復發，固屬轉機，然脈軟少神，更衣怯力，口乾舌蹇，陰液頗虧，伏熱不清，怕其驟虛，口疳糜爛。責在專司滋陰和胃，以熄余焰。</p>
<p>生地　川斛　丹皮　橘白　麥冬　川貝　茯神　稻須</p>
<p>脈形雖軟，病情未減，即古云難成而易虧者，陰氣也。口糜不除，胃中自覺熱氣上升，乃余焰未熄。宗前法滋陰清化，和胃生津。</p>
<p>生地　茯神　稻須　甘蔗汁　丹皮　川斛　麥冬　石決明</p>
<p>晚診：諸症仍若，毋庸多贅，惟似寐非寐，醒則喉間咳嗆，足見肺胃陰液不能上供。本擬再用滋劑，因未及一晝夜藥已兩進，恐藥力過病，擬用色白味甘性潤者扶助胃氣，清泄肺胃而已。</p>
<p>沙參　冬瓜子　通草　麥冬　川斛　蘆根　川貝　茯苓</p>
<p>又，診得右關獨大，喉間作痛，嗌乾，二便時難，知飢少納，此皆陰液少於涵養，水火有亢炎之勢。急請專司調治，以免蔓延。宗前法復入咸降之品。</p>
<p>生地　麥冬　料豆衣　天冬　桔梗　綠豆衣　川斛　生草　淡秋石</p>
<p>交今日來大便三次，便後氣粗神倦，寐則眼睛露白，漸次有諸虛之象。擬用三才加味，一以攝納正氣，一以靜攝肝陽，頻頻灌溉，庶幾免太過不及之象。</p>
<p>人參　天冬　川斛　淮麥　生地　石決明　茯神　南棗</p>
<p>夜來又作潮熱，熱時神蒙，幸喜為刻無多，脈形仍數，翻覆不已，究屬餘邪留戀。擬清骨散以搜剔之，佐以清胃。</p>
<p>生地　骨皮　知母　川斛　鱉甲　丹皮　麥冬　草梢</p>
<p>（案68）間日瘧停久，倏又往來潮熱，病情變幻多端，究是此熱不泄，津液不復。口出熱氣穢濁。前議胃中有熱，間可畏也。仍與滋陰潤燥，宣上徹下，使從小便而出。</p>
<p>沙參　天冬　丹皮　桔梗　生地　茯苓　澤瀉　生草</p>
<p>（案69）脈數，左關弦，右關大，蒸蒸潮熱，莫往莫來，邪誠在陽明，若云不涉少陽者，恐未必然也。然病久陰液已涸，豈僅和解可溉？自應清滋化熱，少佐宣達，亦迎其機而導之之法也。</p>
<p>生地　丹皮　青蒿子　茯苓　鱉甲　骨皮　川石斛　澤瀉</p>
<p>潮熱兩度退而不盡，渴飲舌乾，脈弦數。暫停滋膩，獨取陽明。</p>
<p>蘆根　川貝　青蒿子　花粉　骨皮　白粳米</p>
<p>（案70）漐漐汗出，且發白疹，莫非伏邪外達，然神倦，脈軟，口穢舌乾。邪熱未去，正氣已虛，最恐陡然轉虛，成敗未卜也。用和胃養陰、扶正化邪法。</p>
<p>沙參　麥冬　茯神　穀芽　生地　玉竹　石決明</p>
<p>白疹未暢，旋即退收，邪終未泄，繼而復熱，氣粗鼻掀，肺虛火盛，不克宣降恐其熱勢復烈。擬用錢仲陽法，復入清通之品。</p>
<p>補肺阿膠湯加蘆根、佛手</p>
<p>熱退脈小緩，熱來則數大，此邪之聚散也，舌苔稍潤，渴飲溺赤，斑發未艾。清滋解泄，一定成則，昨宵法合當，繼之。</p>
<p>照昨方。</p>
<p>絡續得汗，可知邪未復聚，所以潮熱不來，舌雖潤紅而有裂紋。肺胃之陰殊難恢復，專以清之化之。</p>
<p>沙參　玉竹　麥冬　茯苓　生地　川斛　橘白　穀芽</p>
<p>身涼脈靜，不比昨日，其邪若有未淨者。然養陰和胃為主，清泄少陽為佐。</p>
<p>生地　玉竹　茯苓　桑葉　麥冬　川斛　橘白　丹皮</p>
<p>（案71）舌紅裂紋，渴飲，上猶燥也，而腹鳴溺赤，口疳復生，濕熱蓄於中下。今當滋上分下。</p>
<p>川斛　阿膠　丹皮　澤瀉　麥冬　沙參　茯苓　淡竹葉</p>
<p>（案72）舌不幹而口乾，胃中津液虧也。仍舊滋陰和胃以化之。</p>
<p>沙參　阿膠　麥冬　人中白　生地　石斛　丹皮　穀芽</p>
<p>（案73）病已逾月，舌紅苔黃，脈數關大，渴飲溲赤，痰濁口膩，不更衣者六日。雖未可云腑實，而陽明之熱究屬未清。須得便通之後，舌淡脈靜，方可填納。然乎？否乎？方未錄。</p>
<p>濕溫病後，飲食不節，復熱十餘日，戰汗不解，遍體紅紫，藍斑密布，齒衄成流，脈芤澀。濕溫熱毒，深傷陽明，營分血得熱而沸騰也，勢極危篤。</p>
<p>犀角汁（石膏湯磨）　板藍汁　金汁　羚羊角汁（石膏湯磨）　方諸水　茅根汁　鮮生地汁　藕汁　銀花露</p>
<p>復診：照前方去羚羊角，加生軍汁。</p>
<p>大便連行，熱甚不解。若不進谷，胃氣內憊，終難成功也。</p>
<p>犀角　丹皮　生石膏　生地　洋參　明玳瑁　茅根　人中黃　板藍根</p>
<p>復診：前方去玳瑁、石膏，加藿香、鮮蓮子。</p>
<p>穀食漸進，身熱漸緩，皆是邪毒化解之機，然其斑如玳瑁者，未能轉色，尚在險途。擬清營解毒。</p>
<p>茅根三豆湯代茗</p>
<p>犀角地黃湯加西洋參、人中黃、板藍根</p>
<p>（案74）暑風濕熱夾痰食交蒸，十六日不得汗解，神志昏蒙，唇腫舌強，脈沉滑數。邪結膜膈，漸入心營，大勢棘手。勉擬清營泄熱，開竅豁痰，以冀萬一。</p>
<p>犀角　薄荷　豆豉　竹瀝　山梔　連翹　鮮地　菖蒲汁　竹葉　淡芩</p>
<p>另用紫雪丹五分，竹葉湯送下先服。</p>
<p>（案75）咳嗆不爽，至圊不便，邪食阻踞膜膈，有昏閉危厥之勢。勉擬背城借一。（涼膈散拆寫）</p>
<p>竹葉　薄荷葉　黃芩　元明粉　連翹　生草　生軍　桑皮　枇杷葉　黑梔</p>
<p>（案76）濕溫疫邪九日，神呆，脈伏，斑點模糊，內陷之象，其勢棘手。</p>
<p>犀角　連翹　檳榔　菖蒲汁　牛蒡　草果　鬱金　知母　半夏　赤芍</p>
<p>必得斑隨汗化，方有希冀。</p>
<p>犀角　竹葉　杏仁　赤芍　鬱金　桔梗　連翹　川貝　豆卷</p>
<p>痰食內閉，尚未坦途。</p>
<p>犀角　鬱金　連翹　黑膏　菖蒲　山梔　赤芍　川連　天竺黃</p>
<p>（案77）暑濕疫邪互蒸，病初起有汗，表氣外泄則穢氣入走營分，發見斑疹，氣弱不克振托，所以隱躍不出肉清營熱，開手經一定之理，否則內陷昏閉。</p>
<p>犀角　連翹　竹心　枇杷葉　牛蒡　鬱金　桔梗　蘆根　豆卷　川貝</p>
<p>病情如昨，而斑疹仍不掀發，以致風動，大便瘕泄。又不可滋膩，頗難著手。今擬清營解肌，佐以開提氣分，必期化汗而解方幸。</p>
<p>犀角　赤芍　豆卷　稻葉　牛蒡　鬱金　橘紅　連翹　桔梗　荷葉</p>
<p>退而復熱，脈芤舌絳。陰陽邪復伏，若至兩候不解，勢必內陷風動。</p>
<p>青蒿　犀角　杏仁　荷葉　黃芩　連翹　佛手　西瓜翠衣　豆卷</p>
<p>外用七葉湯揩洗，易去衣單。</p>
<p>（案78）壯熱氣喘，頭汗如蒸籠水，脈數不暢。暑濕熱三氣蒸蘊陽明太陽，恐其昏厥。</p>
<p>小陷胸合蒼朮白虎湯</p>
<p>（案79）女，身熱十九日，乍重乍輕，既汗既下，熱仍不退，神志恍惚，手肢搐搦，脈數模糊。此屬暑濕熱三氣交蒸，產後營虛不克，振拓以致熱甚生風，液虧成痙，頗難立法，勉擬一方。</p>
<p>羚羊角　丹皮　鉤鉤　中生地　石決明　茯神　桑葉　花粉　蓮子</p>
<p>（案80）身熱不揚，忽輕忽重，濈然汗出，舌紅苔黃，目赤面垢，脈右軟左弦，渴不多飲，嘔惡吞酸，初起胸滿引背，繼發疹點。少陽而兼陽明也。神倦聲少，兩候之內，不致虛波陡起，乃幸。</p>
<p>黃連溫膽湯加枇杷葉、黃芩、青蒿、稻根</p>
<p>（案81）胸痞呃忒，面赤戴陽，肢冷自汗，脈軟尺空。暑濕內閉，陰濁上干，陽氣外脫，生脈八味極當。僭擬白通繼進。</p>
<p>人參　乾薑　豬膽汁　白童便　附子　蔥白</p>
<p>（服白通湯後脈得微續，可否繼進？）</p>
<p>暑濕內燔，陽氣外脫，其勢危急，甘露飲深合病機，以此背城借一。</p>
<p>桂枝　人參　於術　寒水石　石膏　茯苓　澤瀉　麥冬</p>
<p>（案82）瘧來呃忒煩冤，瞀悶躁擾，退則汗出，膚冷神憊，脈微。此正不敵邪，若今夕再來，恐其虛脫，姑與攝納，亦既竭吾才，欲罷不能也。</p>
<p>生脈散加熟地、牡蠣、茯神、烏梅肉</p>
<p>復診：前方加炙草、附子。</p>
<p>（案83）脾虛肝鬱，腹脹膨滿，非指日可愈。而又寒熱如瘧，乃感近日之風溫，邪與濕交蒸也，恰在陰陽交替之時。深恐更張或多，勉與《內經》木鬱達之之法。</p>
<p>逍遙散加黃芩、山梔、丹皮</p>
<p>（案84）溫濕交蒸，身熱有汗不解，腹膨滿脅，腹泄，全不思谷，脈細而數。肝腎內傷，大勢棘手。若曰播逃，則我不敢。勉擬培中泄熱。</p>
<p>於術　白芍　神麯　川連　炙草　澤瀉</p>
<p>（案85）暑濕傷氣，體倦脈軟。</p>
<p>煨葛根　歸身　澤瀉　真茅朮　川柏　陳皮　麥冬　神麯　甘草</p>
<p>（案86）陽微之體，陰暑內侵，不可清涼，不可發表。</p>
<p>消暑丸每日四錢，鮮蓮子湯送下。</p>
<p>（案87）暑濕熱三氣傷中，身熱體楚，喘咳自汗，其勢極重。</p>
<p>葛根芩連湯加茯苓、荷梗</p>
<p>（案88）女，產後腹痛偏右，虛中有瘀，身熱咳嗆，音啞脈數，兼夾客感，防其內陷昏憒。（此亦女科套方）</p>
<p>桑葉　澤蘭　細生地　丹參　荊芥　楂炭　益母草　全歸身</p>
<p>（案89）暑濕熱三氣交蒸，身熱脈數，煩渴溲赤，匝月不已，恐其轉重。</p>
<p>甘露飲去寒水石，加橘皮、半夏</p>
<p>（案90）暑熱伏胃，陽氣不通。</p>
<p>桂枝白虎湯加蔻仁</p>
<p>（案91）暑濕食滯，混阻中焦。（此則通套病通套方）</p>
<p>藿梗　川連　枳實　神麯　香薷　川樸　麥芽　連翹</p>
<p>（案92）暑濕熱食混阻膜原，形浮色黃，腹脹起塊，其勢極重，深恐變遷。</p>
<p>茅朮　草果　茯苓　神麯　川樸　淡芩　陳皮　茵陳　檳榔</p>
<p>（案93）陰分本虧，暑濕伏邪觸動深秋涼風，而發寒熱，不能成瘧，舌紅苔黃脈濡，煩渴咳嗆，噁心鼻衄。邪火甚熾，恐其內陷風動，不可泛視。擬喻西昌法。</p>
<p>清燥救肺湯去阿膠</p>
<p>（案94）陽微濕勝之體，夏病纏綿未復，將交寒露，寒熱復作，二便失司，脘痞呃忒，自汗鼻冷，神疲脈微。中下無陽，陰霾痰濁混阻上干，形神色脈，無一不脫，兼不進穀食，將何恃而不恐？擬扶正通陽，滌痰泄濁，以冀弋獲。</p>
<p>人參（一錢）　丁香（三隻）　乾薑（七分）　橘紅（七分）　附子（錢半）　柿蒂（三個）　肉桂（五分）　半夏（錢半）</p>
<p>（案95）暑濕熱食困中。</p>
<p>草果　黃芩　赤苓　檳榔　神麯　澤瀉　川樸　麥芽　茵陳</p>
<p>（案96）因食而復，恐其轉重，宗仲聖法。</p>
<p>枳實梔豉湯</p>
<p>（案97）前已回謝，云何又來？</p>
<p>竹葉　枳殼　半夏　石膏　桔梗　蔻仁</p>
<p>（案98）邪陷陰涸，恐其昏脫。</p>
<p>竹葉石膏湯用黨參</p>
<p>（案99）暑濕阻痹氣機，強迫其汗無益。</p>
<p>青蒿　枳殼　半夏　蔻仁　黃芩　桔梗　茯苓</p>
<p>（案100）熱緩汗多，額脹面垢，舌黃，濕熱蒸中，上干為熱。</p>
<p>山梔　青蒿　茯苓　連翹　豆豉　淡芩　滑石　茵陳蒿</p>
<p>（案101）久病之體，暑濕浸淫，理之極難。</p>
<p>半夏（醋炒）　金斛　穀芽　黃芩　蔻末　佩蘭</p>
<p>（案102）陰虛濕熱浸漬，極為棘手。</p>
<p>黃連阿膠湯加豬苓</p>
<p>（案103）伏暑秋燥，纏有二十四日，身熱煩渴，咳喘嘔穢。陰液已涸，最恐風動，急與喻西昌法。</p>
<p>清燥救肺湯</p>
<p>秋燥傷及肺絡，咳嗽失血，近則恐驚，遠則恐癆。</p>
<p>清燥救肺湯用砂仁，去阿膠、麻仁</p>
<p>（案104）伏邪晚發，寒熱如瘧，最怕昏陷。</p>
<p>柴胡　川連　半夏　滑石　黃芩　川樸　蔻仁　赤苓</p>
<p>（案105）失血損體，伏邪晚發，熱解肢冷，汗出呃忒，脈微細。虛波不測，最防其脫。</p>
<p>救逆湯加黨參、熟地</p>
<p>伏邪晚發，似瘧似痢，舌絳苔干，脈細數。日中少安，夜多煩躁。陰傷已極，正氣不支，最恐虛脫。扶正救陰泄熱，一定成則，舍此之外，無他道也。</p>
<p>人參　阿膠　黃連　生草　生地　麥冬　白芍　雞子黃</p>
<p>（案106）暑濕伏邪，發在秋冬之交，寒熱嘔吐，其勢方張。當用苦辛開達，不可升散。</p>
<p>溫膽湯去甘草，加川連、生薑</p>
<p>若不進谷，終恐其脫。前診回絕，云何頻來？</p>
<p>竹葉石膏湯</p>
<p>（案107）體倦，膚黃，足軟，舌白，脈遲而空。中下陽微，暑濕內困，當與扶陽理濕。</p>
<p>六君子湯去人參，加乾薑、附子、米仁</p>
<p>（案108）女，小產之後，下血過多，暑濕熱邪內蘊，遍體浮腫，微熱咳嗆，頭脹脈數，口乾，舌苔白膩。虛中有熱，恐成蓐癆。</p>
<p>桑葉　杏仁　生地　通草　丹皮　米仁　歸身　紫菀　桔梗　橘紅</p>
<p>（案109）伏邪初秋即發，類乎癉瘧，序將入冬，熱不了了，口淡食少，乾咳氣短，脈空數，舌絳苔白。正氣受伐，而虛熱仍伏肺胃。只宜輕劑化解，若恣意疏散，藥過病所矣。仿孫真人法。</p>
<p>葦莖湯加桑葉、枇杷葉、麥冬、川斛、梨肉</p>
<p>伏邪不清，痰濕困中。</p>
<p>二陳湯去甘草，加草果、檳榔、川樸、知母、神麯</p>
<p>（案110）伏邪恰髮霜降，表熱不壯，心中煩灼如焚，舌絳渴飲，脈空數。陰液被劫，勢將風動昏厥。此非人力所能為也。擬兼顧。</p>
<p>沙參　霍斛　連翹　生草　生地　花粉　竹葉　麥冬</p>
<p>（案111）伏邪發在秋初，身熱屢汗不解，悶煩自汗，脈象濡數，舌絳苔白。其邪蘊於少陽陽明，正氣欲虛，恐其變痢。</p>
<p>二陳湯加葛根、淡芩、神麯、連翹</p>
<p>（案112）積勞陽傷之體，痢後元未恢復，邪藏隱僻之處，寒熱去來靡定，深非所宜也。</p>
<p>三甲飲</p>
<p>（案113）伏邪發在初秋，夜多煩熱，寤言不寐，早用清營分之熱，焉用達泄？</p>
<p>豆卷　薄荷　山梔　竹葉　青蒿　淡芩　枳殼　連翹</p>
<p>（案114）表熱不壯，痞脹不食，少腹隱隱攻痛，舌苔黃濁，脈不流暢。此必陽邪陷入陰經，肺氣不通所致，頗為費手。仿仲景法，兼佐以濁泄濁。</p>
<p>四逆散加薤白頭</p>
<p>（案115）伏邪發於秋杪，淹纏半月，形凜身熱，日晡則甚，平旦則減，脈弦細數，舌黃無苔。煩勞素虛之體，不但陽傷，陰氣亦傷，自難送邪外達，復脈法如何？</p>
<p>復脈散去人參、麻仁，加丹皮</p>
<p>（案116）伏邪至兩月，胸腹灼熱始終未退，而復發寒熱，熱後大便瘕泄，痰嗽氣逆，嘈雜如飢，寤言不寐，舌絳干，苔黃膩，脈空數。酒客平素濕熱蘊蓄中焦，扶外邪必逆滿，病久正虛邪痹，最恐陰陽風動，議用瀉心法。</p>
<p>川連　乾薑　黨參　茯苓　淡芩　半夏　炙草</p>
<p>（案117）胸脹悶熱，咳嗽痰塞，大便頻泄，邪踞中下二焦，但脈數空軟，舌伸發抖，下真自空。陡然虛波，不敢不慮。</p>
<p>二陳湯加黃芩、黃連、洋參、竹茹、枇杷葉</p>
<p>邪匿痰中，風陽漸動，正氣欲撒，若不滌痰，邪無出路。</p>
<p>性天方中加竹瀝、薑汁</p>
<p>伏邪廿四日，膚黃不解，邪蒙語雜，脈空大滑數。咳喘痰血，舌苔濁干，大便仍泄。病久五臟之陰皆傷，痰熱矇蔽心營，肺胃勢必內閉外脫，危如朝露。不得已勉擬清營滋泄合喻西昌法，以冀弋獲。</p>
<p>枇杷葉　麥冬　犀角汁　藕汁　石膏　清阿膠　鬱金汁　川貝　生地　人參汁　竹瀝</p>
<p>熱亦短，氣亦短，正又虛也。恐其昏陷，急急補之清之。</p>
<p>竹葉石膏湯</p>
<p>熱勢猛烈，陰虧風動，尚未坦途。玉女白虎合劑。</p>
<p>生地　石膏　洋參　粳米　麥冬　知母　甘草</p>
<p>（案118）伏邪晚發，濕熱內蒸，腹痛脅脹，膚黃，舌黑，右脈如絲。恐其邪結正脫，至險至險。</p>
<p>茵陳五苓用白朮、川樸、川連、神麯、陳皮，去豬苓</p>
<p>（案119）伏暑發在秋杪，是以辛溫傷陰，以致形削色痿，今雖漸回，尚未恢復。診得脈左弦數，右軟細。是肝升太過，肺虛降令不及，使之然耳。</p>
<p>沙參　蛤殼　杏仁　冬瓜子　麥冬　川貝　米仁　梨肉</p>
<p>（案120）酒客病，不可與桂枝湯，得湯則嘔，以酒客不喜甘故也。喻云則用涼以撤熱，辛苦以泄其滿。</p>
<p>葛根　姜渣　橘紅　連翹　淡芩　黃連　半夏　茯苓</p>

<h1>二、瘧疾門（二十四方）</h1>
<p>（案1）瘧用截止乃致壯熱一晝夜。弄巧成拙，可笑可笑。</p>
<p>二陳湯去甘草，加杏仁、川樸、柴胡、桂枝、黃芩</p>
<p>（案2）深秋一瘧，藥難奏功。</p>
<p>鱉甲（五兩）　龜甲（七錢）　穿山甲（七分）</p>
<p>（案3）日瘧轉間，邪伏愈深，何拔松之有？</p>
<p>二陳湯　黃芩　柴胡　鱉甲　姜　棗</p>
<p>（案4）帶瘧煩勞，遂為瘧癆。藥餌難治，當即歸養。</p>
<p>歸芍異功散　姜　棗</p>
<p>（案5）不能忘情，瘧止又來。</p>
<p>四獸飲</p>
<p>（案6）瘧用截止，經至即止，舌絳煩渴，晝明夜語，邪陷血室，最恐陡厥，大險症也。</p>
<p>犀角地黃湯加柴胡、黃芩、豆豉、甘草、澤蘭、楂炭</p>
<p>（案7）邪入三陰，瘧來無定，營衛不和，正不勝邪。</p>
<p>二陳湯　首烏　歸身　鱉甲　姜　棗</p>
<p>（案8）陰瘧淹纏百日，近增咳嗆，形神色脈空虛，項背筋惕，病在沖督。歷來守不服藥，為中醫之戒，恐其因循成怯，不得不為熟籌之。</p>
<p>首烏　龜甲　知母　歸身　鹿角霜　鱉甲　麥冬　（此名鹿首正陽丹）</p>
<p>（案9）積勞傷陽之體，伏邪發在深秋，瘧來有寒無熱，邪在陰分。</p>
<p>鱉甲　半夏　威靈仙　鹿角霜　生草　薑棗</p>
<p>（案10）三瘧邪伏在陰也，便溏脈遲。脾腎之陽已衰，當先溫陽截藥。</p>
<p>真武湯加牛膝</p>
<p>（案11）三瘧淹纏，正氣日漸消磨，脈左弦右滑，舌絳，膚黃，遍身瘙癢。濕熱風痰混伏擾亂。若不疏風滌痰，其正焉能支持？</p>
<p>威靈仙　知母　半夏　茯苓　穿山甲　草果仁　橘紅　姜　棗</p>
<p>（案12）瘧發三陰，纏淹四月，脈細數，胸悶舌紅，神倦形削，正氣已虛，邪又未達，理之不易。</p>
<p>柴胡　炙草　歸身　姜　首烏　陳皮　茯苓　棗</p>
<p>（案13）陰瘧久發，峻劑傷中，上嘔下瀉，最防其脫。</p>
<p>六君子湯　姜　棗</p>
<p>（案14）中陽式微，痰濕困中，邪匿痰中，三瘧不已。仿四獸飲意，淋濁姑置勿論。</p>
<p>四獸飲加姜（即六君子加烏梅、草果、生薑、大棗。）</p>
<p>（案15）陰瘧久發，當搜邪滌痰。</p>
<p>三甲飲（治瘧）　合二陳湯（治痰）</p>
<p>（案16）瘧疾幾及三月，形神色脈皆虛。若再淹纏反復，驟然脫厥可虞。</p>
<p>二陳湯加桂枝、於朮、首烏、歸身、薑、棗</p>
<p>（案17）高年三瘧，而更浮腫，真陽大虧，頗非細故。擬以補正扶陽，兼和營衛。</p>
<p>人參（七分）　附子（一錢）　肉桂（四分）　生薑（一片）　於術（錢半）　茯苓（三錢）　牛膝（一錢）　大棗（二枚）</p>
<p>（案18）暑濕間瘧，臍腹膨滿。邪伏膜原，恐其發厥。</p>
<p>柴胡　草果　川樸　半夏　茯苓　檳榔　淡芩　甘草</p>
<p>（案19）暑風濕熱為瘧，體盛脈小，陽氣虛也。舌如傅粉，胸痞脘悶，其邪未離膜原，惟恐瘧來昏厥。</p>
<p>達原飲加柴胡、半夏、茯苓，去白芍</p>
<p>（案20）暑濕伏於膜原，間瘧發於深秋。</p>
<p>二陳湯去甘草，加柴胡、黃芩、草果、知母、檳榔</p>
<p>（案21）瘧疾變證，邪入血室。其為至重。</p>
<p>柴胡　淡芩　黃連　橘紅　半夏　茯苓　竹茹</p>
<p>（案22）中秋伏邪，瘧後元氣未恢，脈細數，形神削奪，上咳下瀉。肺脾同病，土不生金，恐不成瘧癆。</p>
<p>沙參　山藥　米仁　炙草　於術　麥冬　茯苓　建蓮</p>
<p>（案23）瘧發秋杪，匝月而止，痰邪結痞，左脅有塊，乃受陰藥之累也。必得再來，方有出路。</p>
<p>二陳湯去甘草，加柴胡、黃芩、青皮、薑、棗</p>
<p>（案24）瘧來深秋，三翻四復，延至冬半，左脅結痞，脈弦細數，形神削奪，面色㿠白。伏邪久踞，正虛不敵，洵可畏也。</p>
<p>首烏　沙參　橘白　鱉甲　麥冬　炙草</p>
<p>（案25）瘧不了了，咳嗆脈數。當補肺陰。</p>
<p>沙參　鱉甲　苡米　川斛　麥冬　丹皮　茯苓　麥芽</p>

<h1>三、痢疾門（十八方）</h1>
<p>（案1）女，伏邪痢疾，慮其妨胎。</p>
<p>白芍　黃芩　白朮　桔梗　黃連　炙草　枳殼　荷蒂</p>
<p>（案2）伏邪為痢，纏綿五旬，近因寒熱而痢頓減，脈細數，唇紅舌白，形削色㿠。暑去濕存，中陽式微矣。急急扶正，惟恐不及。</p>
<p>補中益氣湯</p>
<p>（案3）脾腎兩虧，痢紅不痛。</p>
<p>黑地黃丸加地榆</p>
<p>（案4）久痢腹痛，舌白，穀食艱運。濕熱下著，中氣大虧。</p>
<p>白朮　炙草　木香　白芍　炮姜　茯苓　川連　楂炭</p>
<p>又方：白頭翁湯加木香、炮薑、茅朮</p>
<p>（案5）伏邪身熱，自寒露纏自小雪，既瘧既痢。正氣不勝，則恐其脫。</p>
<p>人參敗毒散</p>
<p>（案6）復痢不止者，當利其小便。</p>
<p>五苓散</p>
<p>（案7）身熱腹痛，塊攻下痢頻頻，脈微神倦。邪從下陷，正氣不守，頗為棘手，勉擬逆流挽舟法。</p>
<p>人參敗毒散</p>
<p>（案8）脾腎兩虧，濕熱下著。若不戒酒，痢無止期。</p>
<p>白頭翁湯　四神丸</p>
<p>（案9）痢久中虛，而濕熱尤復，下著。</p>
<p>白頭翁湯加木香、炮姜</p>
<p>（案10）暑濕食滯釀痢，腹痛，後重裡急，其勢猛烈。</p>
<p>敗毒散加黃芩</p>
<p>（案11）高年休息久痢，恐非陰藥所宜。</p>
<p>連理湯（即理中加連）加木香、秦皮</p>
<p>（案12）夏秋病後，元未恢復，輒而動勞，更受秋涼，似瘧似痢，正氣欲脫，全不進谷。將何療治？（清暑益氣意，分兩須輕。）</p>
<p>葛根　陳皮　白芍　川黃柏　蒼朮　神麯　甘草　黨參　升麻　補骨脂</p>
<p>（案13）伏邪瘧後，自不慎守，里陷為痢，形脈皆虛，飲食減少，將何恃而不恐？</p>
<p>黨參理中湯加熟地、歸身、煨木香、菟絲子、茯苓。</p>
<p>（案14）素居陰虧營熱，肝氣抑鬱，秋初半產之時，以後寒熱如瘧，邪傳太陰，則腹脹消而變痢。痢無休息，復又寒熱互作，骨瘦如豺，脈微如絲，舌光如鏡，皺紋如紗，此屬陰液乾涸、陽氣外脫、營衛分爭之勢。正秋冬之交，歷歷危懼竭蹶。擬方：</p>
<p>人參　炙草　生薑　白朮　歸身　大棗　阿膠　橘白　稻葉</p>
<p>（案15）由瘧變痢，起自半秋，纏綿休息，近冬不瘳，腹中微痛，面黃不澤，舌苔白膩，脈左關弦右濡，下痢紅白相兼，大便不實。此因濕暑傷中，氣分有濕，血分有熱，脾虛肝盛所致。治以扶中養肝，清熱利濕。</p>
<p>四君子湯加白芍、陳皮、楂炭、藕節炭、荷蒂，焦鍋巴代水</p>
<p>（案16）古方痢疾名曰滯下。滯者，言其濕熱之邪蒸釀為痢也。若不清理濕熱，則漫無止期。陽藥既多，自當以丸劑圖之。</p>
<p>炒焦茅朮（一兩）　煨木香（五錢）　炒地榆（八錢）　大白芍（一兩）　土炒於術（兩半）　六神麯（一兩）　川黃連（五錢）　北秦皮（一兩）　福建澤瀉（一兩）　南楂炭（兩半）　烏梅肉（三錢）　炙甘草（三錢）　白雲茯苓（兩半）　炮薑炭（三錢）　川黃柏（七錢）</p>
<p>炒黃米湯泛丸，每日服五錢，參湯送下。午後服東引臭椿根皮去木洗潔，曬乾切片，磨粉炒糯米粉，黑糖拌服。</p>
<p>（案17）女，久痢命門酸墜，脈細數，舌紅，腹痛後重。恐陰虧氣陷，暑濕黏著，最恐妨胎之險。</p>
<p>焦白朮　白芍　黃芩　穀芽　雲茯苓　炙草　川連　荷蒂</p>
<p>（案18）酒醴濕熱，蒸傷臟腑，夕陽在山之象。</p>
<p>葛花　川連　茯苓　雞距　秦皮　神麯</p>

<h1>四、肝火、肝風門（三十四方）</h1>
<p>（案1）心腎陰虧，肝陽上旋。</p>
<p>制洋參　元武板　酸棗仁　淮山藥　淡天冬　鹿角霜　雲茯苓　大熟地　左牡蠣　女貞子</p>
<p>（案2）腎肝陰虧，水不涵木，風動挾痰混擾，氣根不固則喘。治宜滋腎養肝，熄風化痰，燥熱剛劑與病相左。</p>
<p>熟地　橘紅　牡蠣　竹瀝　天冬　阿膠　白芍　淮麥　川貝　茯苓</p>
<p>（案3）濕熱蘊蒸肌表，遍體發瘰瘙癢。高年腎真下虧，風陽上旋眩暈。</p>
<p>細生地　桑皮　米仁　石決明　白芍藥　丹皮　茯苓　川石斛</p>
<p>（案4）肝膽氣火升逆，陽明頭額掣痛，莫作風醫。</p>
<p>黃連溫膽湯</p>
<p>（案5）素體陰虧，肝風挾痰擾亂。</p>
<p>黃連溫膽湯加石決明</p>
<p>（案6）此肝急病也，得之思慮驚恐。若躁擾不已，則防變端。當甘以緩之，酸以收之。</p>
<p>甘麥大棗湯加白芍藥</p>
<p>（案7）氣血並弱，脾虛肝熱。</p>
<p>於術　炙草　歸身　川連　茯苓　陳皮　白芍　丹皮</p>
<p>（案8）少陰咽哽，遍體浮腫，膚黃，舌濁，脈細弦數。陰虧肝鬱之體，濕熱內蒸也。當以養陰泄熱，疥瘡存而不論。</p>
<p>黃連阿膠湯</p>
<p>（案9）陰虧痰盛之體，煩勞過度，心陰耗散。肝家風陽內煽，肢麻心恍。</p>
<p>溫膽湯去枳，加石決明、棗仁</p>
<p>（案10）九竅不和，即屬胃病。平肝即以和胃。</p>
<p>石決明　淮小麥　半夏曲　秫米　鉤藤鉤　白茯苓　廣陳皮　金斛</p>
<p>（案11）恍惚驚悸，眩暈怔忡，脈芤澀，形疲，色不華。皆由心陰過虧，暗吸腎真，水不涵木，則無風而自動矣。</p>
<p>熟地　白芍　淮麥　茯神　山藥　甘草　南棗　牡蠣</p>
<p>（案12）心神不寧，痰火風陽煽動，忽惡寒，忽惡熱，恐懼疑惑而動其中。當此陰陽交接之節，宜與養補元神。</p>
<p>洋參　棗仁　淮麥　牡蠣　生地　茯神　橘紅</p>
<p>（案13）酒醴濕熱傷中，為之頭重足輕。</p>
<p>桑葉　黑梔　半夏　石決明　甘菊　橘紅　竹茹</p>
<p>（案14）手不定，心亦不定。當細思之。</p>
<p>麥冬大棗湯加生地、白芍、燈心</p>
<p>（案15）心營內耗，暗吸腎陰，少寐氣短似喘。孤陽上冒，面赤足冷，肝逆犯胃，吞酸妒谷，表陽外薄，汗出津津。色脈皆虛，非補不可，更須息心靜養，庶幾藥力奏功。</p>
<p>兩儀　茯神　橘白　棗仁（豬膽汁拌）　炙草　竹茹　龜板　淮麥（煎湯代水）</p>
<p>（案16）精氣神皆脫，真陰下竭，孤陽上越，危形已迫矣，奈何？勉與鹹苦滋泄，載神返宅。</p>
<p>人參　方諸水　胡黃連　生牡蠣</p>
<p>再以鹹苦直入至陰，佐以扶正。</p>
<p>前方加天冬二錢、生地五錢、龍齒一兩</p>
<p>（案17）邪說暴行又作，陰陽不相維繫，而徒然昏脫。合鹹苦直入至陰之外，無他道也。</p>
<p>人參　牡蠣　天冬　生地　胡黃連　方諸水　龍齒　龜板　白童便</p>
<p>（案18）肝陽化風，內有伏痰，治當熄風緩肝，不可香開，不可克削。</p>
<p>甘麥大棗湯加白芍、鉤鉤。</p>
<p>（案19）脈細左弦右澀，營虛水虧，肝木失涵，虛風內動，所以見症若此。當養肝腎之陰，佐以滋鎮熄風。</p>
<p>歸身　阿膠　麥冬　紫石英　白芍　熟地　石決明　沉香汁</p>
<p>（案20）久病隱曲旁雜，不離肝臟。姑以甘緩酸泄，鹹寒內沁，以消息之。</p>
<p>甘麥大棗湯加白芍，雪羹湯代水</p>
<p>（案21）肝腎陰虧，風痰濕熱上蒙清竅，耳為苦鳴，臍為之漏。</p>
<p>六味丸加山梔、甘菊、石決明</p>
<p>（案22）真陰下虧，虛陽上冒。舍鹹苦滋納之外，別無他路。</p>
<p>洋參　天冬　女貞　淡貢菜　熟地　知母　牡蠣　十大功勞葉</p>
<p>（案23）頭痛滿蒙，右半尤甚，鼻塞涕濁，脈數弦滑。肝陽挾痰火上升無制，治當清降化痰。用風藥升散，無怪其難忍矣。</p>
<p>二陳湯加生石膏、天冬、石決、竹茹</p>
<p>（案24）肝胃風火，挾痰痹絡，頸項牽痛核起，當清肝疏風化痰。</p>
<p>羚羊角　甘菊花　山梔　甘草　鉤藤鉤　橘紅　連翹　夏枯草</p>
<p>（案25）脈澀右空左細，四肢麻木，形容不澤。心腎陰虧，肝木失涵，風陽竊動，當乙癸同源。</p>
<p>熟地　白芍　阿膠　歸身　天冬　炙草　甘菊　南棗　淮麥　杞子</p>
<p>（案26）血虛營熱，木火煽爍。酸甘以化之。</p>
<p>淮麥　白蜜　風雨梅　甘草　白芍</p>
<p>（案27）營血久虧，肝陽化風挾痰，擾亂神明，陡然痙厥，去來靡定。</p>
<p>羚羊角　石決明　白芍　茯神　鉤藤鉤　中生地　麥冬　白薇　薑汁　竹瀝</p>
<p>（案28）脈象病情並無進退，而終歲嘵嘵，心陰暗耗，陽豈能潛？今當秋冬，自宜養陰，不必煉真說假。</p>
<p>熟地　黃精　鮑魚　麥冬　山藥　牡蠣</p>
<p>復診：洋參　白芍　土貝母　阿膠　石決明</p>
<p>三診：今日胸腹不飢。貝母解鬱，嫌其苦寒。照昨方加金柑皮。</p>
<p>四診：勞傷心脾，不能生血灌溉，以致舌乾腹鳴，神煩少寐。治當補養心脾，潤肺滋肝。</p>
<p>黨參　白芍　麥冬　棗仁　首烏　丹皮　阿膠　茯神</p>
<p>五診：且和肝脾。</p>
<p>白芍　炙草　炒黃米　灶心土</p>
<p>六診：邇日脈形細軟，兩尺微數，面黃肌瘦，舌起刺。心腎之火不靖，脾陽不運，肝氣升逆，肺失肅降。治宜運中固下，勿拘拘於養陰，若雜亂無章，焉能向愈？系痛癢相關，敢不瀝忱苦告候，諸同學印可。</p>
<p>豬肚丸晨昏各服一錢五分，炒黃米湯送下　過冬至再議。</p>
<p>七診：養陰清肝。</p>
<p>毛青布　決明子　阿膠　夏枯草　生白芍　鮑魚</p>

<h1>五、痰門（二十一方）</h1>
<p>（案1）肝風痰火擾亂神明。</p>
<p>羚羊角　石決明　橘紅　薑汁　鉤藤鉤　川貝母　竹瀝</p>
<p>（案2）脾虛生痰，木火擾胃。</p>
<p>丸方：於術　半夏　川樸　茯苓　陳皮　川連　竹瀝為丸。</p>
<p>（案3）內風痰中衝擾。</p>
<p>羚羊角　石決明　膽星　薑汁　鉤藤鉤　天麻　竹瀝</p>
<p>前診付藥十劑，才越三日，又來問治，如此性急，因何病纏半載，今且服完前藥四劑，接近指迷茯苓丸一月再診。痰之為病，莫作怪治。</p>
<p>三子養親湯合二陳湯去甘草，加天竺黃、杏仁</p>
<p>（案4）痰之為病，變怪不測，心緒不寧，痰熱擾亂。</p>
<p>指迷茯苓丸</p>
<p>（案5）中虛積飲。</p>
<p>六君子湯加乾薑、附子</p>
<p>諸氣膹郁，皆屬於肺。濁氣在上，則生䐜脹，必有痰氣阻痹，上焦不得宣化。前所服藥姑緩。</p>
<p>枇杷葉　橘紅　米仁　川貝母　杏仁　蘇子　通草</p>
<p>（案6）中下陽微，痰氣上泛，神憊脈緩。</p>
<p>六君子湯加乾薑、附子</p>
<p>（案7）脾為生痰之源，肺為置痰之器。脾肺同病，治當兼顧。</p>
<p>二陳湯去甘草，加於朮、沙參、藿斛、枇杷葉、海石</p>
<p>（案8）午後嗆甚痰稠，脈弦滑數，是肺火上浮。以輕劑清苦降之。</p>
<p>川貝　知母</p>
<p>申刻復診，咽癢則嗆甚，覺有冷氣上衝，肺雖有火，痰性本寒也。前方加蘇子，使其降氣滌痰。</p>
<p>夜來痰咳小緩，寐亦少安，仍從昨法稍為損益。</p>
<p>桑葉　甜杏仁　元參　茯苓　枇杷葉　阿膠　瓜蔞霜　米仁　沙參　川貝母　蘇子</p>
<p>（案9）飲食之後，舌蹇，言語不清，脈弦數，是水穀之氣挾痰火上升。法宜養胃並治，再仿溫膽之意。</p>
<p>竹瀝　霞天曲　茯苓　瓜蔞仁　枳殼　陳皮　蘇子　枇杷葉</p>
<p>（案10）肝家風火挾痰擾亂，若心神不定，恐成癲癇。</p>
<p>黃連溫膽湯</p>
<p>（案11）肝升肺不降，脾胃痰上泛。</p>
<p>化肝煎加蘇子、旋覆花</p>
<p>（案12）中下陽微，陰濁寒痰上升，嘔吐涎沫，心中嘈雜，脈濡細舌白。序屆冬至，陰陽交潛之時，恐其不相維繫。世兄方甚合，僭加附子一錢。</p>
<p>人參　茯苓　橘紅　紫石英　熟地　白芍　牡蠣　沉香汁</p>
<p>脈如蛇行，遍體漉漉有聲，胸膺瞀悶，咳嗆不爽。此必痰飲水濕，凝結經絡，補之固屬無益，而峻攻又恐伐元，極難取效者。</p>
<p>六君子湯去人參，加鉤鉤、米仁，用薑汁、竹瀝泛丸，先服控涎丹一錢五分，勻三日，薑湯下。</p>
<p>（案13）高年不憚勤動，從高墜下，趺痛，左肋艱於轉側，脈有歇止，氣喘咳嗽，呃忒頻頻，寢食皆少，是陰虧內熱，肝升肺不降也，最恐呃而致痰塞氣厥。</p>
<p>陳皮　白芍　石決明　薑汁　半夏　白薇　旋覆花　竹瀝</p>
<p>（案14）病後神魂失藏，心中有瘀血惡痰。</p>
<p>白金丸（錢半）</p>
<p>（案15）中氣虛，寒痰凝阻，肝氣升逆。</p>
<p>旋覆代赭石湯</p>

<h1>六、肝氣門（三十三方）</h1>
<p>（案1）肝邪犯胃，寒濕困中。</p>
<p>吳茱萸湯加白芍、茯苓、甘草</p>
<p>（案2）心緒不寧，氣火流入小腸，不通則痛。宜宣通腑陽之郁，不可溫，不可攻。</p>
<p>烏藥　山梔　木香　木通　赤芍　赤苓</p>
<p>（案3）病後邪伏不清，元不復反，煩勞以致肝氣逆胃，不飢不便，色脈皆虛。若不進谷，何恃而不恐？</p>
<p>左金丸（青果二枚泡湯送下）</p>
<p>（案4）陽虛陰痹，氣阻痰凝。</p>
<p>桂枝湯合二陳加瓜蔞、薤白</p>
<p>（案5）胸膺掣痛，經久不愈，必有痰濁凝阻。</p>
<p>三味旋覆花湯加桃仁、湖藕、枇杷葉</p>
<p>又診：文蛤散</p>
<p>（案6）胃氣受寒，脘痛嘔吐，脈遲而滑，老年陽衰所致。</p>
<p>吳萸　蘇梗　陳皮　乾薑　茅朮　甘草</p>
<p>（案7）沖氣陰虧，肝氣悒鬱，左脅痞結絞痛。法當和養肝陰。辛燥剛熱，破氣破血，必然弄成臌脹。</p>
<p>化肝煎加阿膠、生地。</p>
<p>（案8）右腹有形攻痛，此肝氣也。</p>
<p>烏梅　赤苓　山梔　歸鬚　木香　木通　茴香</p>
<p>（案9）血虛氣滯，肝鬱作脹，消補皆礙。古人治肝之病，諸藥不效者，則有雪羹湯，咸涼內沁之法。</p>
<p>雪羹湯</p>
<p>（案10）積勞陽傷，氣血並弱，肝邪攻逆犯胃，痰飲不降。難進疏達，必兼扶正。</p>
<p>吳萸　人參　炙草　半夏　川楝　白芍　橘紅　茯苓</p>
<p>（案11）養陰通絡，脅痛不減，當開肺氣。</p>
<p>枇杷葉　新絳緯　杏仁　湖藕　旋覆花　青蔥　桔梗</p>
<p>（案12）營絡既阻，氣絡亦痹。</p>
<p>三味旋覆花湯加紫菀、桔梗、歸鬚、柏仁、藕汁</p>
<p>（案13）無法了障肚腸痛也。</p>
<p>烏梅　青皮　赤芍　木通　檳榔　木香　丹皮　山梔</p>
<p>（案14）腰痛腹脹，嘔吐酸水，脈弦左小，舌絳苔白，面赤足冷，肝氣貫膈入胃，腎病善脹使然。當與苦辛泄降，咸涼內沁，分頭而治。</p>
<p>左金丸出境　雪羹湯</p>
<p>（案15）心痛徹背，背痛徹心，煩勞多飲，陽虛胸痹。</p>
<p>瓜蔞　薤白　桂枝</p>
<p>（案16）陽虛胸痹，背膊作痛，便閉，理之非易。</p>
<p>瓜蔞　桂枝　半夏　檳榔　薤白　川連　枳實</p>
<p>（案17）邪入厥陰，風木擾亂，胃腹中絞痛陣作，蛔上攻也，恐其閉脫。</p>
<p>安蛔丸</p>
<p>（案18）少腹之痛偏左，上逆欲嘔，中氣大虧，肝鬱不舒。補之恐脹，瀉之轉虛，姑與化之。</p>
<p>化肝煎</p>
<p>（案19）肝鬱不疏泄，氣從上逆，則胸膈痞塞，當與化之。</p>
<p>化肝煎加旋覆花</p>
<p>（案20）厥陰之氣衝斥，陽明升逆則病，降則平復。</p>
<p>吳萸　白芍　赤苓　川楝　川牛膝　甘草</p>
<p>（案21）攻藥傷中，肝木乘脾，元氣受戕，以致形神削奪，脈空數，左脅痛引及背，纏綿日久，氣營並虧，又自不能節勞，極難恢復。當和脾養肝。</p>
<p>於術　沙參　白芍　鉤鉤　炙草　茯苓　阿膠　橘紅</p>
<p>（案22）營虛絡痹，不特肝氣。</p>
<p>三味旋覆花湯加歸鬚、柏仁、藕肉</p>
<p>（案23）酒醴濕熱，久阻中焦，肝氣逆胃，脘痛嘔吐，食鴉片者病進，藥每不靈驗。擬丸方。</p>
<p>吳茱萸（三錢）　炙草（四錢）　烏梅（五錢）　延胡索（一兩）　小川連（一兩）　青皮（一兩）　茯苓（三兩）　半夏（一兩五錢）　白芍（三兩）　當歸（二兩）　川楝（一兩）　生術（二兩）</p>
<p>（案24）氣鬱血瘀，思慮傷脾，惱怒傷肝，木乘中土，上衝則嘔，下奪則瀉。法當苦辛泄木，酸甘和陰，病久正虛，必須兼益氣之品。</p>
<p>人參　生白芍　炙草　金鈴子　延胡索</p>
<p>（案25）腹痛欲死，此中虛受寒也。</p>
<p>當歸建中湯</p>
<p>（案26）虛里穴痛，引及胸脅，飲食阻咽，脈芤澀。肝氣抑鬱，營絡空虛，未老先衰，恐成膈症。辛燥開氣，清涼凝滯，皆與病左。</p>
<p>旋覆花　瓦楞子　須歸　湖藕　柏子仁　首烏　阿膠</p>
<p>（案27）心痛徹背，時發時止，脈細澀。中焦營虛，肝氣貫膈入衛。當和營養血，柔肝利絡，不可香燥克氣。擬膏方。</p>
<p>旋覆花（二兩）　柏仁（四兩）　白芍（二兩）　川楝子（二兩）　甘草（五錢）　新絳緯（二兩）　延胡索（二兩）　文蛤殼（八兩）　青蔥（二兩）　阿膠（二兩）　歸身（二兩）　湖藕（八兩）</p>
<p>（案28）脈細數弦滑，肝氣素盛，酒醴濕熱化火化痰。木火橫逆，則脅脹背痠；肺金不肅，則痰塞咳嗆。治當化肝降肺。</p>
<p>化肝煎加蛤殼、麥冬</p>
<p>（案29）怒則氣上，思則氣結。</p>
<p>旋覆花　蘇子　石決明　丹皮　枇杷葉　杏仁　山梔　麥芽</p>
<p>（案30）陰虛肝旺，血少氣多，恣意香燥，必然乾癟癟。</p>
<p>化肝煎加阿膠、橘葉</p>
<p>（案31）肝鬱氣脹，左升太過，右降不及。</p>
<p>枇杷葉　桔梗　白芍　杏仁　青皮　丹皮　枳殼　山梔　麥芽</p>
<p>（案32）心焦營傷，心脘絞痛。</p>
<p>當歸建中湯</p>
<p>（案33）營瘀痹阻，胸脅隱痛。</p>
<p>三味旋覆花湯加歸鬚、桑白皮、丹皮、湖藕</p>
<p>（案34）中虛肝乘，腹膨痹痛。</p>
<p>桂七味丸</p>

<h1>七、疝氣門（三方）</h1>
<p>（案1）肝疝痛脹，溫氣苦泄不效，勢屬難治。</p>
<p>天真丸（錢半）　開水下。</p>
<p>（案2）陰絡受寒，氣與濕痹。</p>
<p>當歸四逆散加川斷肉、杜仲、金毛狗脊，去棗</p>
<p>（案3）痛在臍下，形寒怯冷，脈數，舌乾白，春寒襲入厥陰，深慮發厥，與仲聖方。</p>
<p>當歸四逆散　桂枝　白芍　細辛　甘草　木通　大棗</p>

<h1>八、喘門（五方）</h1>
<p>（案1）氣不歸根，喘塞不得臥，最有虛脫之慮。病人前不便直言。</p>
<p>都氣丸（—兩）　紫石英（—兩）</p>
<p>絹包同煎，衝入沉香末五分。</p>
<p>（案2）肺有風寒，兼受秋風，喘急不已，慮其驟脫。</p>
<p>桂枝湯合麻杏石甘湯（越婢意）</p>
<p>（案3）怒則氣喘，驚則氣亂，若不歸根，則神明散失。</p>
<p>都氣丸　龍骨　牡蠣</p>
<p>絹包同煎，入沉香末小匙。</p>
<p>（案4）三陰並虛，氣不歸根，食少事繁，孔明年紀。</p>
<p>金水六君煎加紫沉香</p>
<p>（案5）本有喘哮，更受嚴寒，痰如鋸聲，其勢危急。</p>
<p>小青龍湯</p>

<h1>九、中風門（九方）</h1>
<p>（案1）偏中在左，最怕悠悠忽忽而脫。</p>
<p>六君子加天麻、殭蠶、竹瀝、薑汁</p>
<p>（案2）痰濁困中，真陽欲脫，理之棘手。</p>
<p>白通湯加竹瀝、薑汁</p>
<p>（案3）已成癱瘓，藥難奏功，勉給一方，不必再來。</p>
<p>生地　鉤鉤　橘紅　當歸　石決明　竹瀝　白芍　天麻　薑汁</p>
<p>（案4）陰虧，風襲陽明經絡，內風竊動，而為類中之象，不是小病。治風必兼養陰化痰，前恙姑置勿論。</p>
<p>生地　鉤鉤　橘紅　薑汁　羚羊角　天麻　石決明</p>
<p>（案5）廉泉穴開，寐中流液。</p>
<p>於術　橘紅　石決明　丹皮　半夏　茯苓　黑山梔</p>
<p>（案6）痰濕本盛，猝然舌澀語澀，瘖始基，當戒意之。</p>
<p>六君子去人參，加天麻、竹瀝、薑汁</p>
<p>（案7）心腎陰虧，廉泉穴開。</p>
<p>熟地　萸肉　棗仁　五味　山藥　牡蠣　雲苓　南棗</p>
<p>（案8）下焦空虛，廉泉穴開，口吐涎沫，宜都其氣。</p>
<p>都氣丸</p>
<p>（案9）三陰並虧，內風挾痰，旋繞不息，廉泉穴開。</p>
<p>河間地黃丸（四兩）　薑汁（三匙）　開水和勻送下。</p>

<h1>十、痹痿門（二十四方）</h1>
<p>（案1）脾腎兩虧，筋骨痿弱。</p>
<p>健步虎潛丸　鹽湯送下。</p>
<p>（案2）幼年陰虧腎熱，家富過分溫飽，醫藥雜投，熱補弄成骨痿，可發一笑。</p>
<p>大補陰丸</p>
<p>（案3）氣血皆虛，肝陽化風內煽，恰至冬至大節，陡然昏暈神迷，右肢不用，脈細滑數。此偏中也，七日以內，謹防昏厥汗越，非指日可愈者，不敢泛視。</p>
<p>陳皮　石決明　竹瀝　於術　半夏　遠志肉　薑汁</p>
<p>（案4）類中口眼歪斜。</p>
<p>陳皮　天麻　半夏　於術　菊花　鉤鉤　殭蠶　薑汁</p>
<p>（案5）濕熱痹絡，筋骨不束，機關不利，治在足太陰陽明。</p>
<p>生於術　米仁　石膏　嫩桑枝　赤苓　萆薢　山楂</p>
<p>（案6）病入經絡，藥難奏效，若性急，則更醫調治。</p>
<p>生地　鱉甲　桂枝　晚蠶沙　黃耆　桑枝　秦艽　歸身　牛膝　杜仲</p>
<p>（案7）牙齦不腫而痛，脈數左細右大，陽明有餘，少陰不足，右股痹痛，亦屬陽明絡熱，非寒也。</p>
<p>玉女煎</p>
<p>（案8）陰虧腎熱，漸成骨痿，而又中焦虛寒，病殊兩歧，當分頭而治之。</p>
<p>陳皮　生薑　米仁　半夏　於術　大補陰丸（衝入）</p>
<p>（案9）脈細數，此陰虧腎熱症也。又誤投剛劑燥，形疲肉消。古人云：人火無物不消。漸漸骨痿，不起於床矣。奈何奈何？急進鹹苦滋泄，猶恐鞭長莫及。</p>
<p>大補陰丸</p>
<p>（案10）病在左臂，晝輕夜重，脈滑疾。自必氣血兩虛，風痰襲絡。法宜補氣養血，熄風化痰，兼通營絡。擬膏方。</p>
<p>桂枝　清阿膠　防風　旋覆花　羚羊角　川貝母　黃耆　新絳緯　桑枝　鉤鉤　虎脛骨　橘紅　大生地　茯苓　於術　歸身　薑汁　竹瀝</p>
<p>（案11）肝主筋，腎主骨，肝腎虧則筋骨痿弱。</p>
<p>熟地　黃耆　蒺藜　萸肉　歸身　杜仲　山藥　杞子　牛膝</p>
<p>（案12）陰虧腎熱，左膝腫痛，經年恐成骨痿。</p>
<p>大補陰丸，外用活絡丹酒磨搽患處。</p>
<p>（案13）漏肩風，乃積勞陽傷、氣血交衰所致。</p>
<p>桂枝　威靈仙　五加皮　嫩桑枝（鴨血拌炒）　黃耆　歸身　左秦艽　鱉甲　枸杞子　茅柴根</p>
<p>（案14）陰虧胃熱，肌肉作痛，清之補之。</p>
<p>人參　麥冬　花粉　茯苓　生地　川斛　橘白　甘草</p>
<p>（案15）陽明絡熱，有風有痰，筋骨不束，機關不利也。</p>
<p>酒炒桑枝　鹽水炒牛膝　熟石膏</p>
<p>（案16）痛無定處，氣絡先痹，營絡亦痹。三載之病，急切難治。</p>
<p>白麻骨　茜根炭　瓦楞子　紫菀頭　大豆卷　生菟絲　白蒺藜　湖藕肉</p>
<p>（案17）風濕與熱，搏激陽明經絡，白虎歷節風是也。</p>
<p>白虎湯加牛膝、桑枝</p>
<p>（案18）陽微之體，痰飲濕熱，痹著經絡。</p>
<p>於術　米仁　防己　川柏　陳皮　半夏　萆薢</p>
<p>（案19）風濕與熱，相搏陽明絡中，為之行痹。認真服藥，避風忌口，匝月方愈。</p>
<p>桂枝白虎湯加牛膝、桑枝</p>
<p>（案20）右肱麻木痛楚，脈空右大。營氣交虛，風濕痹絡。</p>
<p>羚羊角　虎脛骨　金斛　萆薢　桂枝　天花粉　茯苓　桑枝</p>
<p>（案21）濕熱與風相搏，筋骨折痛，腿足漫腫。</p>
<p>羚羊角　花粉　豆卷　牛膝　桂枝　防己　車前　鉤鉤　萆薢　桑枝</p>
<p>（案22）寒濕痹絡，筋骨掣痛。</p>
<p>桂枝　金毛脊　歸身　杜仲　獨活　萆薢　牛膝　陳皮</p>
<p>（案23）沖年陽常有餘，陰常不足。濕熱痹絡，流入骨髓，漸成痿弱。當養陰清熱，不可表散溫經。擬丹溪法。</p>
<p>大補陰丸　淡鹽湯下。</p>
<p>（案24）營絡空虛，痰飲流著，麻木掣痛，屈伸不利。</p>
<p>桂枝　桑枝　首烏　米仁　羚羊角　鉤鉤　歸身　橘紅　竹瀝　薑汁</p>

<h1>十一、黃疸門（二方）</h1>
<p>（案1）積勞陽傷，濕鬱不化，脘脹膚黃，治之非易。</p>
<p>茵陳五苓散加附子</p>
<p>（案2）陽微之體，濕熱困中，發黃晦暗，恐變黑疸。</p>
<p>茵陳五苓散加附子</p>

<h1>十二、郁門（二方）</h1>
<p>（案1）氣鬱血熱，肝藏偏勝，與之和養，使各得其平。</p>
<p>生地　山梔　白芍　香附　丹皮　柴胡　川芎</p>
<p>逍遙合越鞠意</p>
<p>（案2）憂鬱傷肺，從革作辛也。</p>
<p>白芍　天冬　牡蠣　茯苓　甘草　生地</p>

<h1>十三、勞怯門（二十二方）</h1>
<p>（案1）十九年矣，猶有童疾，天癸不至，痧癆成矣。藥所難治，且以飲食消息之。</p>
<p>三仙粥</p>
<p>（案2）當知夕陽在山，何必再來問治？</p>
<p>八仙長壽丸</p>
<p>（案3）五勞七傷，草木難治。</p>
<p>河東大造丸</p>
<p>（案4）陰虧腎熱，筋骨凸起，損證之見端也。急急保真，庶或可救。</p>
<p>大補陰丸</p>
<p>（案5）童勞已成，云何無事？</p>
<p>秦艽　前胡　紫菀　甘草　鱉甲　川貝　桑葉　銀柴胡　茯苓　歸身</p>
<p>（案6）努力太過，陰絡受傷。此人自為之，非天生之病。</p>
<p>大補陰丸</p>
<p>（案7）陰虧勞熱。</p>
<p>秦艽　丹皮　生地　甘草　鱉甲　麥冬　銀柴胡　骨皮　當歸　茯苓</p>
<p>（案8）陰陽氣血皆虛，如之何其撐持？</p>
<p>大補十全丸，每服四錢。棗五枚，龍眼肉九枚，煎湯下。</p>
<p>（案9）氣血並弱，四歲之下尚乳，必然陰乾陽盡，成其怯症矣。何為用雜藥石？</p>
<p>女科八珍丸　米湯送下。</p>
<p>（案10）陰乾陽盡，中氣告竭，藥餌難治矣。百里而來，勉給一方。如不見效，切勿往返。</p>
<p>補中益氣湯</p>
<p>（案11）秋初失血，吐之甚狂，癸水自此不至，逢節必發，脈細數，咳嗆，形凜骨蒸，已成勞損矣。憂自乳子，何不惜身命若此？</p>
<p>沙參　芍藥　蛤殼　百合　生地　阿膠　川貝　歸身　麥冬　地骨皮</p>
<p>（案12）久病纏綿反復，形神色脈皆虛，當此一陽將萌，更何恃而不恐？不敢用藥，勉擬飲食調養，以冀扶延。</p>
<p>建蓮　山藥　茯苓　米仁　倉米　砂仁</p>
<p>各味磨粉黑糖拌，不拘時取服</p>
<p>（案13）上吐下瀉，脈軟音瘖。法扶土生金。</p>
<p>山藥　白朮　麥冬　冬瓜子　扁豆　茯苓　米仁　炙甘草</p>
<p>（案14）耽酒惡酒，其病已成。</p>
<p>葛花　淡芩　半夏　神麯　雞距　石斛　赤苓　澤瀉</p>
<p>（案15）損怯而至音啞，喉痹。骨瘦如柴，色脈皆脫，已是末傳，非草木能療者。</p>
<p>豬膚湯</p>
<p>（案16）沖年失血虛損，更兼痰核焮腫，癧癆之漸，可不懼乎？</p>
<p>六味湯加海帶菜、夏枯草、牡蠣</p>
<p>（案17）鼻塞，薰蕕不聞，是沖年自不保真，上實下虛，當與補之，不可傷肺者。</p>
<p>六味丸加百合</p>
<p>（案18）脈象左弦微細，右空若谷，何虛之如是？</p>
<p>洋參　天冬　茯苓　龜板　熟地　山藥　牡蠣　百合</p>
<p>（案19）憂思傷肺，惱怒傷肝，陰竭陽亢，以致損怯。擬錢仲陽法。</p>
<p>補肺阿膠湯加敗叫子、蛤殼、百合</p>
<p>（案20）損及中焦，藥餌難行，勉擬慰遠。</p>
<p>大熟地　炙草　山藥　制於術　當歸　阿膠　炒白芍　茯苓　麥冬</p>
<p>（案21）積勞陽傷之體，深秋痰嗽失血，纏淹百日，形脈皆衰，理之非易。</p>
<p>人參　當歸　麥冬　生薑　黃耆　炙草　阿膠　大棗</p>
<p>（案22）沖年陰虛，瘧後不復，咳嗆痰稠，脈細空數，形神皆奪，是近怯之機，可不懼乎？</p>
<p>沙參　麥冬　當歸　橘紅　首烏　茯苓　米仁　川貝</p>

<h1>十四、咳嗽門</h1>
<p>（附：肺癰　十一方）</p>
<p>（案1）咳而欲嘔，其病在胃。</p>
<p>竹茹　杏仁　川貝　茯苓　金斛　米仁　麥冬</p>
<p>（案2）酒濕，秋燥爍金，痰咳經久不愈。</p>
<p>葦莖湯加枇杷葉、川貝、麥冬</p>
<p>（案3）久嗽痰腥，肺癰之象。</p>
<p>清燥救肺湯去人參、阿膠、甘草</p>
<p>（案4）深秋風燥傷肺，咳嗆痰血，誤食豬肺，斂邪牢固，弄巧成怯症，好事者為之也。</p>
<p>葦莖湯加川貝、湖藕</p>
<p>（案5）風傷皮毛，熱傷血脈，咳吐痰血，氣腥，恐成肺癰。</p>
<p>葦莖湯加地骨皮、川貝母、知母、藕汁</p>
<p>（案6）脈滑，舌白，因痰而咳。</p>
<p>二陳湯加白朮、乾薑，藕汁</p>
<p>（案7）咳嗆夜甚，嗽而欲嘔，動則氣喘，脈細數。腎陰下虧，肝火上逆，肺不肅降。必須養肝攝腎，和胃化痰，斷不可開泄上焦矣。</p>
<p>黨參　熟地　阿膠　竹茹　蛤殼　麥冬　川貝　茯苓</p>
<p>（案8）金實則啞，金破亦啞，肺病難治。</p>
<p>白麻骨　通草　冬瓜子　杏仁　嫩竹衣　蛤殼　金銀花　米仁</p>
<p>（案9）嗽而欲嘔，其病在胃，杳不進谷，洵可畏也。（方俟續。）</p>
<p>（案10）咳嗆匝月，誤服酸梅，以致咳吐，濁痰上泛如飲，背凜冽，嗆甚，灼熱不休，肌瘦脈數舌白，勢將成癆矣。案云：溫邪內郁，挾痰飲，蓄結於肺俞，所以背寒則咳嗆，邪為酸斂，固結不解，熱戀傷陰，肌膚焦灼，飲蓄於中，舌白不濁矣。此症近似勞怯而非怯也，斷乎不可以補，若補，邪愈無出路，而成怯症矣。肺俞二字是看病眼目。</p>
<p>葶藶大棗湯合葦莖湯、瀉白散主之。</p>
<p>復診：背寒灼熱已解，而咳逆得松。照方加紫菀。</p>
<p>此等症最易差誤，故治病必求其本，泛泛用藥，斷難取效，又最易以此為勞症也。</p>

<h1>十五、吐血門（二十方）</h1>
<p>（案1）勞役奔走，震動陽絡，咯血匝月，近因秋燥上干，咳嗆咯痰。仿喻西昌法。</p>
<p>清燥救肺湯</p>
<p>（案2）陰虧秋燥失血。</p>
<p>清燥救肺湯去石膏，加湖藕、梨肉</p>
<p>（案3）咳嗽傷肺絡，屢屢失血。</p>
<p>山藥　麥冬　紫菀　川貝　生地　鮮生地　款冬花　杏仁　沙參　地骨皮</p>
<p>（案4）陽絡傷血從上溢，陰絡傷血從下滲，上下失血，陰分大虧。</p>
<p>大補陰丸加洋參、阿膠、血餘、藕節</p>
<p>（案5）衄血屢發，天癸不至。</p>
<p>玉女煎加梔子、丹皮</p>
<p>（案6）腹痛痢下，重於隆冬；溫邪入絡，咯吐痰血。</p>
<p>黃芩　橘紅　米仁　瓜子殼　桔梗　川貝　茯苓</p>
<p>（案7）陰虧火炎，春咳徂臘，失血盈盞，症成怯矣。</p>
<p>生地　藕汁　沙參　童便　麥冬　墨汁出境　茜草</p>
<p>（案8）咳傷肺絡，失血，不難成怯矣。</p>
<p>葦莖湯加地骨皮、湖藕肉</p>
<p>（案9）冬溫蘊肺，咳傷肺絡，失血，其勢不輕。</p>
<p>葦莖湯加茜草、墨汁、藕汁、童便</p>
<p>（案10）失血咳嗆，屢發不已，脈細澀。心腎之陰已竭，急宜平補。偏寒偏熱，均未得其病之旨。</p>
<p>黃耆　熟地　麥冬　茯苓　黨參　百合　歸身　甘草</p>
<p>（案11）春初咯血，較之冬半倍多，脈數，左空弦，舌顴赤。肝腎陰虧，孤陽上冒，最恐暴脫。擬乙癸同源。</p>
<p>熟地　知母　白芍　豬脊髓　龜板　阿膠　童便</p>
<p>復診：照前方加牡蠣。</p>
<p>（案12）肝陽失血。</p>
<p>山梔　生地　茜草　藕汁　丹皮　阿膠　墨汁　童便</p>
<p>（案13）病後失調，咳嗆痰血，脈數右空，肺已損傷，勢難治也。</p>
<p>補肺阿膠湯</p>
<p>（案14）秋燥傷肺，木反侮金，咳嗆失血，氣逆不得臥。自宜清降，且勿滋補。</p>
<p>葦莖湯加桑皮、地骨皮、枇杷葉、通草</p>
<p>（案15）絡傷失血，不可亂藥。</p>
<p>炙黑甘草（三錢）　井河水（各一碗，煎）</p>
<p>（案16）負重遠行，震動絡血。</p>
<p>生地　桑葉　桃仁　藕汁　丹皮　茜草　米仁</p>
<p>（案17）肺胃絡傷，咯血經載，漸入虛門矣。</p>
<p>茜草根　蒲黃炭　生地黃　白扁豆　牡丹皮　藕節炭　側柏炭　小青皮</p>
<p>（案18）痰血下午偏多，氣分熱熾。</p>
<p>大沙參　金石斛　貝母　冬桑葉　天花粉　知母</p>
<p>（案19）馳騎習武，百脈震動，動則絡逆為痛，血沸出口，納食起居，無異平日，非虛損也。凡氣為血帥，氣順血自循經，不必用沉降重藥。</p>
<p>枇杷葉　蘇子　苡仁　金石斛　桃仁　降香末</p>

<h1>十六、腫脹門（十七方）</h1>
<p>（案1）足腫腹脹，筋見臍凸，舌白、脈沉細。此虛臌也，急切難治。</p>
<p>附子理中湯</p>
<p>（案2）慳長本是癆名，今足腫腹脹，大筋見臍突，且兼膨脹，將何療治？</p>
<p>五苓散加姜皮、大腹皮、桑皮</p>
<p>（案3）內傷飲食，外感風寒，單腹脹，最恐驟變。</p>
<p>柴胡　葛根　莪朮　黃連　麻黃　山稜　半夏　神麯</p>
<p>（案4）脾腎陽虛，水濕浸漬，浮腫下甚，神倦脈微，最易虛脫。</p>
<p>真武丸</p>
<p>（案5）風水皮水，音啞短氣，治在上焦。</p>
<p>桑皮　連皮杏仁　蟬衣　牛蒡子　米仁　帶皮茯苓　通草　稻根鬚</p>
<p>（案6）一身悉腫，下焦尤甚，咳嗆喘急，便溏不爽，肺風皮濕。症屬棘手，勉擬兩開太陰太陽。</p>
<p>五苓散合五皮飲</p>
<p>（案7）泄瀉便溏，腹大筋見，臍突咳嗆，脈數。膨脹癆損已成，甚為棘手。</p>
<p>桑皮　大腹皮　桔梗　砂仁殼　杏仁　茯苓皮　川連　炒麥芽</p>
<p>（案8）臍凸腹脹偏左，脈細數。肝氣抑鬱所致，不易速效者。</p>
<p>化肝煎加柴胡、香附</p>
<p>（案9）濕濁困中，肝氣作脹。</p>
<p>茅朮　青皮　栝樓　枳殼　川樸　檳榔　薤白　麥芽</p>
<p>（案10）中下陽微，囊腫腹脹，數進通陽理中罔應，豈不棘手？</p>
<p>天真丹</p>
<p>（案11）莖衄甫止，遍體浮腫，脈細數澀。血化為水，邪熱走入空竅也。</p>
<p>茯苓　米仁　稻須　紅棗　黑豆　桑皮　通草</p>
<p>（案12）瘧後變臌，勢屬難治。</p>
<p>柴胡　川連　杏仁　黃芩　瓜皮　薤白　半夏　枳殼　桔梗</p>
<p>（案13）瘧用截止，邪陷中焦，更以盪滌中傷變臌，邪無出路，正立消亡，理之極難。勉與四逆散，仿陽邪陷入陰經之例解。</p>
<p>柴胡　白芍　枳殼　炙甘草</p>
<p>（案14）瘧截變臌，必得復來，方有出路。</p>
<p>柴胡　青皮　神麯　茯苓　黃芩　草果　川樸　大腹皮</p>
<p>（案15）老年中下陽微，漸成水腫。</p>
<p>水泛濟生腎氣丸（三錢）</p>
<p>（案16）瀉後腫脹從下起，脈遲細，舌白。中下陽微，恐其悠悠忽忽而脫。</p>
<p>白朮　桂枝　炮姜　椒目　附子　川樸　茯苓　牛膝（案17）脈細左弦右澀，腹大囊腫，筋青臍凸，此因鬱怒傷肝、思慮傷脾所致。木來剋土，血不歸經，致成臌脹，苦寒溫熱皆與病左，且擬薛立齋法以消息之。</p>
<p>加味歸味湯</p>

<h1>十七、噎膈門（十一方）</h1>
<p>（案1）痰氣噎膈。</p>
<p>薤白汁　竹瀝　藕汁　黃牛乳　薑汁　枇杷汁</p>
<p>（案2）酒濕薰蒸肺胃，久久漸成膈症。</p>
<p>旋覆花　陳皮　枇杷葉　竹瀝　雞距　半夏　杏仁　薑汁</p>
<p>（案3）陽虛氣痹，防其噎膈。</p>
<p>旋覆代赭湯加枇杷葉、蓽澄茄</p>
<p>（案4）氣血痰火阻結，上關下格，理之棘手。</p>
<p>旋覆花　橘紅　乾薑　紫菀　制軍　單桃仁　半夏　降香　柏子仁</p>
<p>（案5）嗜酒，中氣自虛，痰濕痹阻賁門而成膈症，理之非易。</p>
<p>旋覆花　桃仁　陳皮　藕汁　枇杷葉　半夏　竹瀝　薑汁</p>
<p>（案6）高年酒醴濕熱與痰氣阻膈，得進稀粥，方可苟延。</p>
<p>黃牛乳　枇杷露　竹瀝　地慄汁（即荸薺）　薤白汁　藕汁　薑汁　隔湯煎滾服。</p>
<p>（案7）血膈已成，藥難奏效，胡不歸？勉擬慰望。</p>
<p>枇杷葉　川楝　紅藍花　湖藕肉　桃仁　延胡索　降香汁</p>
<p>（案8）積勞，陽虛寒痰凝阻，恐其噎膈反胃。</p>
<p>蓽澄茄　半夏　茯苓　枇杷葉　生薑　橘皮　桃仁</p>
<p>（案9）上關下格，胃中泛逆，急切難治。</p>
<p>蓽茇（三個）　半夏　黃牛乳</p>
<p>（案10）氣鬱血熱，肝膽之氣充斥陽明，噎者，膈之始基也。</p>
<p>溫膽湯去枳殼、半夏，加黃連、白芍</p>
<p>（案11）痰火氣血阻結賁厭，而為噎膈，證屬難治。</p>
<p>旋覆花　竹瀝　枇杷葉　藕汁　單桃仁　薑汁　降香汁　菜汁</p>

<h1>十八、噯噫、痞塊門（四方）</h1>
<p>（案1）怒則氣上，驚則氣亂。</p>
<p>旋覆代赭湯</p>
<p>（案2）臍腹起痞有形，略偏於左，脈細數，左弦右軟，舌苔干質。高年氣血兩衰，思慮傷脾，鬱怒傷肝，乃為中虛氣痞之症，理之諒非易也。</p>
<p>於術　黃連　白芍　沉香　炙草　肉桂　牡蠣　茯苓</p>
<p>（案3）飢飽失時，中虛氣痞。</p>
<p>旋覆代赭湯</p>
<p>（案4）過分香燥克消，因致中虛氣痞。</p>
<p>旋覆代赭湯</p>

<h1>十九、不食、不寐門（五方）</h1>
<p>（案1）此腎開胃閉，若培中則胃愈窒，當從下補。</p>
<p>熟地　菟絲子　陳皮　沉香汁　萸肉　茯苓　石英</p>
<p>（案2）寤言不寐，膽胃不和。</p>
<p>溫膽湯加石英</p>
<p>（案3）陽蹻脈滿，令人不寐。</p>
<p>黃連溫膽湯</p>
<p>（案4）膽熱不寐，虛煩自汗。</p>
<p>溫膽湯加棗仁</p>
<p>（案5）心脾陰虧，徹夜無寐，便溏食少，肝火閃爍，嘈雜噁心，自汗。</p>
<p>黑歸脾湯加黨參、川連。</p>

<h1>二十、癃閉、腸痹門（四方）</h1>
<p>（案1）氣陷小便不通。</p>
<p>補中益氣湯，外用大蒜梗煎洗。</p>
<p>復診：六味湯加益智、黃柏。</p>
<p>（案2）心主無為而治，小腸代心行事，有所鬱而氣痹。治當宣通腑陽。</p>
<p>烏藥　赤芍　赤苓　木香　木通　赤小豆</p>
<p>（案3）病逾百日，身熱來去靡定，脈數舌絳，小便數欠。此屬童年陰虧，濕熱癃閉州都所致，氣化失司。法當養陰利濕，使其熱從小便而出。</p>
<p>豬苓湯</p>

<h1>二十一、遺泄門（二方）</h1>
<p>（案1）二氣交虛，精神失守。</p>
<p>黨參　天冬　牡蠣　熟地　白芍　川柏　茯神　龍骨　山藥</p>
<p>（案2）恐則精卻，神志失守。</p>
<p>熟地　丹皮　茯神　棗仁　山萸　山藥　龍骨　遠志</p>

<h1>二十二、泄瀉門（五方）</h1>
<p>（案1）脾腎兩虛，濕困中焦。</p>
<p>於術　茯苓　木香　山藥　炙草　乾薑　陳皮　菟絲</p>
<p>（案2）形寒身熱，一載有餘，便溏，脈細澀。表裡皆虧，氣虛下陷，擬東垣法。</p>
<p>補中益氣湯</p>
<p>（案3）脾虛肝盛，腹痛泄瀉，遍身作脹。</p>
<p>逍遙散加鉤鉤、香附</p>
<p>（案4）寒濕困中，脾傷不磨。</p>
<p>蘇梗　神麯　枳殼　川樸　白芍　茯苓　木香　麥芽　炙草</p>
<p>（案5）上咳下瀉，形神削奪，脈細，舌白。肺脾虛寒，治在中焦。</p>
<p>於術　白芍　煨姜　茯苓　陳皮　黑棗</p>

<h1>二十三、便血門（五方）</h1>
<p>（案1）形偉，脈小細而且澀。心脾陰虧，血從下溢。</p>
<p>歸脾湯去遠志、桂圓，加白芍、阿膠、焦鍋巴</p>
<p>（案2）肝脾受傷，腹痛便血，塊攻有形，理之不易。</p>
<p>人參　炙草　炮姜　藕節　黃耆　歸身　川柏　於術　木香　升麻</p>
<p>（案3）脾虛氣陷，濕熱下注。</p>
<p>洋參　歸身　陳皮　於術　白芍　槐米炭　炙草　醋炒升麻　炒木耳</p>
<p>（案4）嗜酒中氣自虛，操勞過度，心脾陰傷，忿怒抑鬱，肝陰亦傷。肝不藏血，脾不統血，血不歸經，滲而為瘀。今留血上下皆溢而絡空氣痹，脘背兩脅少腹連及腰走注疼痛，右脈芤澀，左寸空谷。面部浮黃，肌膚失澤，氣營並病，有虛有實，理之非易。必須靜養怡悅，多方調治。若躁急心熱，藥難奏效。公議益氣養血，和營通絡法。</p>
<p>人參　柏仁　旋覆花　白芍　歸鬚　新絳緯　阿膠　橘紅　湖藕</p>
<p>（案5）大便連行，糞黑居多，仍是瘀也。滿腸皆痛，遍體浮黃，少食無寐，六脈空谷。二氣交虛，精神失守，怕其悠悠忽忽而脫，急急補養平調，猶恐鞭長莫及。</p>
<p>人參　炙草　熟地　醋炒升麻　白朮　茯神　阿膠　廣木香　於術　棗仁</p>

<h1>二十四、淋症門（十四方）</h1>
<p>（案1）濁病皆由心氣虛，不宜只作肝腎醫。</p>
<p>四君子湯加遠志</p>
<p>（案2）尿血三載，陰絡大傷，理之極難。</p>
<p>洋參　甘草梢　白絲綿灰　生地　血餘炭　醋炒升麻　阿膠　藕節炭　白綿紙灰</p>
<p>（案3）濕火未清，且勿止澀。</p>
<p>赤苓　丹皮　生地　草梢　澤瀉　山梔　川柏</p>
<p>（案4）酒色過度，陰絡大傷，瘀濁凝阻，愈藥愈亂，無從下手，姑與扁鵲方，先解藥毒。</p>
<p>三豆湯　甘草節</p>
<p>（案5）心腎兩虧，陽明濕熱。</p>
<p>豬肚丸</p>
<p>（案6）血淋半載，陰絡大傷。若再通利，弄成損症。</p>
<p>生地　麥冬　血餘炭　元武板　洋參　白綿紙炭　阿膠　草梢　藕節炭</p>
<p>（案7）濕熱敗精阻竅，小水不通。</p>
<p>威喜丸（一兩勻三日，嚼碎）　牛膝（錢半，煎湯下）</p>
<p>（案8）心陰受傷，熱移小腸，莖痛溺血，不是小病。</p>
<p>洋參　阿膠　草梢　藕節　生地　川柏　血餘</p>
<p>（案9）白濁患於文墨之人，是必心虛所致。景岳歌云：「濁病皆由心氣虛，不宜只作腎肝醫。四君子湯加遠志，兩服之間效更奇。」古人豈欺我哉？世俗養陰通瘀利濕皆通套治法，與病無益。</p>
<p>四君子湯加遠志</p>
<p>（案10）跌傷陰絡，溲難尿血，理之極難。</p>
<p>生地　牛膝　草梢　歸尾　阿膠　琥珀　血餘　川柏</p>
<p>（案11）陰絡受濕熱所傷，淋濁莖痛，二字全戒為要。</p>
<p>川柏（一錢）　萆薢（一錢）　赤苓（三錢）　血餘（錢半）　澤瀉（錢半）　阿膠（錢半）　血珀（研沖，七分）　生地（一錢）　草梢（錢半）</p>
<p>（案12）肝腎陰虧，濕熱下注。</p>
<p>萆薢　黃耆　茯苓　女貞子　川柏　蓮鬚　澤瀉　甘草梢</p>
<p>（案13）夏暑秋風傷肺，移熱大腸，溏泄便血，濕阻州都，則為莖痛。治宜清熱導濕。舌光脈數，陰液大虧，當兼顧之。</p>
<p>豬苓湯</p>
<p>（案14）陰絡受傷，血出溺道，已棘手矣，云何勿礙？</p>
<p>生地（五兩）　血餘（一錢）　升麻炭（三分）　琥珀（五分）　阿膠（錢半）　川柏（一錢）　舊筆頭（三個）　燈心（一分）　藕節（一兩）　草梢（五分，合研）</p>

<h1>二十五、蟲門（二方）</h1>
<p>（案1）陰虛之體，濕熱蒸於腸胃則寸白蟲生，不易速愈。</p>
<p>黃連　枳實　川楝　茯苓　乾薑　檳榔　神麯　澤瀉</p>
<p>（案2）鬲腸不便，上為口糜，下為滯下，內生蟯蟲，勞心抑鬱所致。</p>
<p>胡黃連　赤芍　小木通　鶴蝨草　苦楝根皮　檳榔</p>
<p>雌雞淡清湯先飲少頃，然後服藥。</p>

<h1>二十六、產後調經，胎前崩漏門</h1>
<p>（十四方）</p>
<p>（案1）產後營虛，氣不歸根。</p>
<p>熟地　麥冬　石英　歸身　五味　沉香　炙草　山藥　茯苓</p>
<p>（案2）心脾陰虧，氣滯血熱。</p>
<p>歸脾湯加山梔、丹皮、生地</p>
<p>（案3）氣瘕乾血。</p>
<p>四物湯加香附、丹參、山楂、麥芽</p>
<p>（案4）心脾極虛，八脈損傷，崩漏不已，最恐虛波。</p>
<p>黑歸脾湯加元武板、紫石英</p>
<p>（案5）陰虛肝熱，經至不止。</p>
<p>生地　龜板　丹皮　歸身　女貞　陳皮　白芍　山梔　茯苓</p>
<p>（案6）病在八脈，急切難治。</p>
<p>砂仁炒熟地　紫石英　沉香汁　茴香炒歸身　桂酒炒白芍　元武板　枸杞子　鹿角霜</p>
<p>（案7）年屆七七，癸水應絕而反，來日苦多，去日苦少，脈細數，語言窒塞，肝腎本虧，心脾復傷，氣不攝血。擬黑歸脾法，然非旦夕可愈。</p>
<p>黑歸脾湯</p>
<p>（案8）產後腹痛，癸水衍期，形神削奪，脈微細軟。氣營大虧，非補不可，從未服參，反為不對，是何言歟？</p>
<p>黑歸脾湯</p>
<p>（案9）春產徂臘，月事不來，臍下癥瘕，隱隱作痛，吞酸谷少，脈數而虛。此屬肝氣抑鬱，血不流行所致。今且和其肝胃，緩其腹痛，然後再商消痞。</p>
<p>白芍　丹皮　茯苓　牡蠣　歸身　陳皮　麥仁　川楝</p>
<p>又，溫膽湯</p>
<p>（案10）氣不攝血，腹痛下墜，崩漏不已，其勢手棘。</p>
<p>炒熟地　炙草　木香　醋炒升麻　炒歸身　於術　黨參　新絲棉　黃耆　茯苓　牛角腮</p>
<p>（案11）產後營虛，肝不疏泄，面浮足腫，少腹痞硬，天癸衍期，脈微細澀。急當溫補氣血以調達肝氣。黑逍遙散。</p>
<p>砂仁炒熟地　炙甘草　茯苓塊　酒炒歸身炭　於術　柴胡　加炮薑炭、丹參、香附</p>
<p>（案12）經事垂絕之年，忽然崩中，奇經受傷，若不急補，則恐其脫。</p>
<p>人參　白芍　牡蠣　紫石英　熟地　阿膠龍骨　歸身　女貞　淡貢菜</p>
<p>（案13）陽維為病苦寒熱，陰維為病苦心痛。</p>
<p>熟地　鹿角霜　枸杞子　潼沙苑　歸身　元武板　用杜仲、羊腰子煎湯代水。</p>

<h1>附　釋成方（三方）</h1>
<p>貞元飲加乾薑、肉桂即理陰煎，以此治肺腎虛寒飲泛者，想有奇效。</p>
<p>達元飲用檳榔多厚朴、草果、芩、知母、菖蒲、芍藥、生甘草，溫疫方中記勞哦。達元因濕熱蘊結於膜原，非芳香辛烈不能開其邪之鬱結，故果、檳、蒲、樸為必用之藥，又恐燥烈傷津，故加芍、知母、草以顧津液。</p>
<p>昏昏如憒者非此不可，普濟回春散。</p>
<p>制川樸　丁香　煨木香　炮附子　法半夏　木瓜　廣藿香　檀香　制茅朮</p>
<p>共為細末，陰陽水煎透，腿上青處揩之。</p>
