<header data-type="book">
<h1>扁鵲心書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>竇材</dd></div>
<div><dt>朝代</dt><dd>南宋</dd></div>
<div><dt>年份</dt><dd><data value="1146">公元1146年</data></dd></div>
<div><dt>底本</dt><dd>清乾隆乙酉30年王琦跋本（<a href="https://repository.lib.cuhk.edu.hk/tc/item/cuhk-399393">香港中文大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>卷首</h1>

<h2>序</h2>
<p>《靈》、《素》為醫家正傳，後世張仲景、王叔和、孫思邈、孫兆、初虞世、朱肱，皆不師《內經》，惟採本草諸書，各以己見自成一家之技，治小疾則可，治大病不效矣。（王叔和、朱肱烏可與仲景同列，若云仲景不師《內經》，試觀《傷寒》、《金匱》二書，不本《靈》、《素》之旨，寧有如是精深之論乎？）至皇甫士安、巢元方、王冰等，雖學《素問》，而不得方學之傳，亦依前六子方法而行。此書從古至今，未得通行。餘業醫四世，皆得此法之力，而人世未深信，故難梓行。余初學醫，盡博六子之書，以為醫之理盡矣。然調治小疾，百發百中，臨大病百無二三，每悵己術之不精也。後遇關中老醫，叩余所學，笑曰：汝學非是岐黃正派，特小技爾。只能調小疴，俟其自愈，豈能起大病哉！余即從而師之，三年，師以法授我，反復參詳，遂與《內經》合旨，由茲問世，百發百中，再觀六子書，真兒戲耳。但師授固簡而當，意欲梓行，恐有未盡。遂將追隨先師所歷之法，與己四十餘稔之所治驗，集成醫流正道，以救萬世夭枉。後人得此，苟能日夜勤求，自能洞貫其理，以見余言非謬。至若賢良忠正，孝子仁人，再為廣布，俾天下後世，上可以救君親，下可以濟斯民。余因恐遭天譴，不敢自私，刊刻流傳，願仁者勿拘成見而屑視之，斯幸矣。</p>
<p><u>宋紹興十六年武翼郎前開州巡檢竇材謹序。</u>（細觀此敘前後語意不相聯屬，似非通人之語，疑是後人偽作）</p>

<h2>奏玉帝青辭</h2>
<p>維大宋紹興十六年丙寅月，武翼郎臣竇材奏啟玉皇上帝玉陛下。</p>
<p>臣聞上天好生而惡死，下民畏死而貪生，上天雖云惡殺，但示勸懲於下民，非其人而殺之者有之。下民雖曰貪生，但歸生死於天命，而致枉死者有之，皇天憫下民之疾苦，故假神農、黃帝、岐伯、雷公、扁鵲、俞跗等，以立醫教，救人災病。歷世綿遠，屢遭兵火，其神書散亡，僅存者《靈樞》、《素問》而已，雖不盡傳宗派，是亦能救人疾苦，保人性命，但少洞徹臟腑、刳腸、滌髓之神耳。（果能參悟《靈》、《素》，自然洞見臟腑，至於刳腸滌髓，乃後世法之巧，而用之神。惜乎此書無傳，諒亦不過一技術之妙，豈如《靈》、《素》之貫天人，晰隱顯，大無不包，細無不入，為萬世理道之神書，救人之秘典哉。）後世仲景採《內經》外感風寒之旨，附以己見，定立方法，及採雜證七十餘條，集為《傷寒》、《金匱》。後之學者，咸遵守莫敢移易。殊不知傷寒既有多證，《內經》自然該載，何必牽扯種種雜病，以為傷寒，誤人不少（果能遵循仲景之法，豈有誤人。惟後學不明其旨，妄為註解，各執己見，未免穿鑿，希冀立名，遺訛後世，將為仲景之功臣，實為仲景之罪人。千百年來，明傷寒法者有幾人哉）。嗣後叔和、思邈又附益之，障蔽聖經，遺訛後世，且《經》云：傷寒為病身熱，熱雖甚不死。論中風曰，中五臟俞穴，則為偏風；論水脹曰，因氣為腫；論厲風曰，地之濕氣，感則害人皮肉筋脈。如此言之，其旨深，其意廣，後之人慾移難就易，妄為穿鑿。且舉傷寒之證，真邪相傳，真氣盛則病愈，邪氣盛則病死；陽證無死入之理，陰證害人甚速，須加灸艾，方保無虞。仲景立許多承氣湯，使後人錯用，致寒涼殺人於頃刻也。（三承氣湯惡能害人。後學不明陰陽承製之道，而妄用承氣者害之耳，於仲景何尤？）</p>
<p>臣因母病，用仲景之法不效，遂成不救，痛心疾首，精究《內經》，又得皇天默授，經歷十年方得靈驗。凡一切大病小疾，只以此法，觸類引申，效如影響。臣苦志五十餘年，悟得救人秘法已十餘年矣。向因薄宦，奔走四方，今年過不逾，常慮身填溝壑，其書失傳，遂欲考訂發梓，伏望皇天后土，特加慈憫，保生民於仁壽之域，俾其書萬世通流，臣雖死無憾。設有一言不實，甘受天殃。若此書果益於後世，伏望神天護佑，以廣其傳。（設此重誓，以質上帝，則其立心切於天下後世可知。學者不可謂偏於從熱而忽視之，以負先生一片救世婆心。）臣誠惶誠恐冒罪以聞。</p>

<h2>進醫書表</h2>
<p>臣聞醫家正道，《內經》為真，《內經》言病最詳，而無治病之法，故黃帝又與岐伯撰出《靈樞》，實為醫門所最急者也。嗣後，秦越人依《內經》旨趣，而演八十一難、九針之說，晉皇甫士安採《靈樞》之旨，撰《甲乙經》十卷，隋巢元方摘《靈》、《素》緒餘，注《內經》，又撰《病原》三十卷；唐王冰抉《靈》、《素》之旨注《內經》，撰《天元玉曆》。以上諸子皆有著作，悉師《靈》、《素》，去古法不遠。而漢張仲景不師《內經》，惟採《本草》、《湯液》，著《金匱玉函》十卷，撰《傷寒論》十卷。晉王叔和又贅其說，唐孫思邈採本草藥性，集成《千金方》三十卷。《玉函經》五十卷，和附仲景，重重著述，皆宗此意。廢去針灸及丹附大藥，盡用草木小藥，盛行湯劑，以之理小疾則生，治大病則百無一活，至千百世，誤死天下蒼生。（《傷寒》、《金匱》之書，辨六氣之環轉，析神機之出入，陰陽消長之妙，虛實遞更之變，首尾貫通，絲絲入扣。至於在經俞而用針，起陷下而用灸，並觀其自敘，可謂神於師《內經》者矣。謂仲景不師《內經》，廢棄針灸，不亦冤乎。至若叔和、思邈，俱一代之明醫，亦未宜深貶，後學當細心辨之。）伏念臣河朔真定之寒士，焉敢善善揭前輩之過。但臣世祖隸傳於醫學，內舍相傳，亦以《千金》、仲景等方，小試果效，用臨大證，心竊有疑。後得上天裨我此書，更參《內經》，百發百中，始信醫有迴天之功也。</p>
<p>所謂大病者，一傷寒，二陰疽內蝕，三虛勞痰火，四中風，五水腫，六臌脹，七脾泄暴注，八屍厥，九久痢，十脾瘧，十一喉痹，十二男女骨蒸勞熱，十三小兒急慢驚風，十四痘疹黑斑縮陷。至於胎前產後百十種必死大證，世人莫能救療，束手待斃，良可哀哉。臣於此處消息五十餘年，乃見正道，自古扁鵲、俞跗、倉公、華佗，皆此書也，惜不廣傳於後世。臣今盡傳此法於人，以救蒼生夭橫，伏乞陛下，大展聖裁，憫諸未世，將此書頒行天下，試之有驗，臣死無憾。若試之不效，即置臣於法，以彰誑君之罪。臣誠惶誠恐，稽手頓首，冒死以聞。</p>
<p>（張師固不可毀，而王、孫亦不可闢，夫先生之書固創出前賢，然先鬚根底於《素問》、《靈樞》，致力於仲景、思邈，更充之以先生之法，其於大疾沉疴，自然遊刃有餘矣。無如叔世衰漓，只知耳食，性喜寒涼，畏惡針灸，稍一談及，俱搖頭咋舌，甘死不受。是以先生之道難明，而先生之法不能行於斯世斯民也。予欲以代之之方，思惟數載，終無妙法。先生倘以宿昔濟世仁心神感於予，使予應心得手，再為廣布，以傳不朽，諒先生在天之靈，亦應許可。古月老人胡珏謹識。）</p>

<h1>卷上</h1>

<h2>當明經絡</h2>
<p>諺云：「學醫不知經絡，開口動手便錯。」蓋經絡不明，無以識病證之根源，究陰陽之傳變。如傷寒三陰三陽，皆有部署，百病十二經脈可定死生。既講明其經絡，然後用藥徑達其處，方能奏效。昔人望而知病者，不過熟其經絡故也。俗傳遇長桑居，授以懷中藥，飲以上池之水，能洞見臟腑，此虛言耳。今人不明經絡，止讀藥性病機，故無能別病所在。漫將藥試，偶對稍愈，便爾居功，況亦未必全愈；若一不對，反生他病，此皆不知經絡故也。（近世時醫失口，言經絡部位乃外科治毒要法，方脈何藉於此。嗟嗟！經絡不明，何以知陰陽之交接，臟腑之遞更，疾病情因從何審察。夫經絡為識病之要道，尚不肯講求，焉望其宗主《內經》，研究《傷寒》，識血氣之生始，知榮衛之循行。陰陽根中根外之理不明，神機或出或入之道不識，師徒授受唯一《明醫指掌》、《藥性歌括》，以為熟此儘可通行，用藥誤人全然不辨。或遇明醫，枝梧扯拽，更將時事俗情亂其理談，常恐露出馬腳，唯一周旋承奉。彼明理人焉肯作惡，只得挽回數言，以蓋其誤。如此時醫，誠為可恥。）</p>

<h2>須識扶陽</h2>
<p>道家以消盡陰翳，煉就純陽，方得轉凡成聖，霞舉飛昇。故云：「陽精若壯千年壽，陰氣如強必斃傷。」又云：「陰氣未消終是死，陽精若在必長生。」故為醫者，要知保扶陽氣為本。人至晚年陽氣衰，故手足不暖，下元虛憊，動作艱難。蓋人有一息氣在則不死，氣者陽所生也，故陽氣盡必死。人於無病時，常灸關元、氣海、命關、中脘，更服保元丹、保命延壽丹，雖未得長生，亦可保百餘年壽矣。（今人只是愛趨死路，動云：我有火病，難服熱藥。所延之醫，悉皆趨承附和，不言上焦有火，即雲中、下積熱，及至委頓，亦不知變遷。或遇明眼之醫，略啟扶陽之論，不覺彼此搖頭，左右顧盼，不待書方，而已有不服之意矣。生今之世，思欲展抱負，施姜附尚且難入，而丹藥、灼艾之說，斷乎其不可行也。）</p>

<h2>住世之法</h2>
<p>紹興間劉武軍中步卒王超者，本太原人，後入重湖為盜，曾遇異人，授以黃白住世之法，年至九十，精彩腴潤。辛卯年間，岳陽民家，多受其害，能日淫十女不衰。後被擒，臨刑，監官問曰：汝有異術，信乎？曰：無也，唯火力耳。每夏秋之交，即灼關元千炷，久久不畏寒暑，累日不飢。至今臍下一塊，如火之暖。豈不聞土成磚，木成炭，千年不朽，皆火之力也。死後，刑官令剖其腹之暖處，得一塊非肉非骨，凝然如石，即艾火之效耳。故《素問》云：年四十，陽氣衰，而起居乏；五十體重，耳目不聰明矣；六十陽氣大衰，陰痿，九竅不利，上實下虛，涕泣皆出矣。夫人之真元乃一身之主宰，真氣壯則人強，真氣虛則人病，真氣脫則人死。保命之法：灼艾第一，丹藥第二，附子第三。人至三十，可三年一灸臍下三百壯；五十，可二年一灸臍下三百壯；六十，可一年一灸臍下三百壯，令人長生不老。餘五十時，常灸關元五百壯，即服保命丹、延壽丹，漸至身體輕健，羨進飲食。六十三時，因憂怒，忽見死脈於左手寸部，十九動而一止，乃灸關元、命門各五百壯。五十日後，死脈不復見矣。每年常如此灸，遂得老年康健。乃為歌曰：一年辛苦唯三百，灸取關元功力多，健體輕身無病患，彭籛壽算更如何。（先生三法實為保命之要訣，然上策人多畏懼而不肯行；中策古今痛掃，視為險途；若下策用之早而得其當，亦可十救其五。予遵行歷年，不無有效、有否。效則人云偶中，否則讒謗蜂起，此非姜附之過，乃予熱腸之所招也。吾徒不可以此而退縮不前，視人之將死可救而莫之救也。）</p>

<h2>大病宜灸</h2>
<p>醫之治病用灸，如做飯需薪，今人不能治大病，良由不知針艾故也。世有百餘種大病，不用灸艾、丹藥，如何救得性命，劫得病回？如傷寒、疽瘡、勞瘵、中風、腫脹、泄瀉、久痢、喉痹、小兒急慢驚風、痘疹黑陷等證。若灸遲，真氣已脫，雖灸亦無用矣；若能早灸，自然陽氣不絕，性命堅牢。又世俗用灸，不過三五十壯，殊不知去小疾則愈，駐命根則難。故《銅人針灸圖經》云：凡大病宜灸臍下五百壯。補接真氣，即此法也。若去風邪四肢小疾，不過三、五、七壯而已。仲景毀灸法云：火氣雖微，內攻有力，焦骨傷筋，血難復也。余觀亙古迄今，何嘗有灸傷筋骨而死者！彼蓋不知灸法之妙故爾。（《靈樞》論虛而至陷下，溫補無功，借冰臺以起陷下之陽耳。若仲景所言微數之脈，慎不可灸。脈而至於微矣，似有似無，則真陽已漓，又至於數矣，則真陰已竭，陰陽漓竭，灸亦無益。但有炎焰而無溫存，寧不焦骨傷筋而血難復？非毀灸也。）</p>
<p>孫思邈早年亦毀灸法，逮晚年方信，乃曰：火灸，大有奇功。昔曹操患頭風，華佗針之，應手而愈，後佗死復發。若於針處灸五十壯，永不再發。或曰：人之皮肉最嫩，五百之壯，豈不焦枯皮肉乎？曰：否。已死之人，灸二三十壯，其肉便焦，無血榮養故也。若真氣未脫之人，自然氣血流行，榮衛環繞，雖灸千壯，何焦爛之有哉。故治病必先別其死生，若真氣已脫，雖灸亦無用矣。唯是膏粱之人，不能忍耐痛楚，當服睡聖散，即昏不知痛，其睡聖散余自用灸膝神效，放心服之，斷不誤人。（以救己之心，推以救人。所謂見身說法，其言誠真，其心誠切，其論誠千古不磨之論，無如天下之不信何。）</p>

<h2>三世扁鵲</h2>
<p>醫門得岐黃血脈者，扁鵲一人而已。扁鵲黃帝時人，授黃帝《太乙神明論》，著《五色脈診》、《三世病源》，後淳于意、華佗所受者是也。第二扁鵲，戰國時人。姓秦名越人，齊內都人，採《內經》之書，撰《八十一難》，慨正法得傳者少，每以扁鵲自比，謂醫之正派，我獨得傳，乃扁鵲再出也，故自號扁鵲。第三扁鵲，大宋竇材是也，余學《素問》、《靈樞》，得黃帝心法，革古今醫人大弊，保天下蒼生性命，常以扁鵲自任，非敢妄擬古人，蓋亦有所徵焉。嘗因路過衢州野店，見一婦人遍身浮腫露地而坐。余曰：何不在門內坐？婦曰：昨日蒙土地告我，明日有扁鵲過此，可求治病，我故於此候之。余曰：汝若聽我，我當救汝。婦曰：汝非醫人，安能治病？余曰：我雖非醫，然得扁鵲真傳，有奇方，故神預告汝。遂與保命延壽丹十粒服之，夜間小便約去二升，五更覺飢。二次又服十五粒，點左命關穴，灸二百壯。五日後，大便下白膿五七塊，半月全安。婦曰：真扁鵲再生也。（予治數人患此症者，浮腫、喘急，臥難著席，漿粥俱不入矣，既無丹藥亦不肯灸，只用重劑姜附十餘帖，而形體復舊，飲食如常，可知人能信用溫化，即不灸亦有生機。）</p>
<p>想扁鵲獨倚其才，旁遊列國為同道刺死，華佗亦不傳其法，為人譛死，皆因秘而不發，招人之忌耳。余將心法盡傳於世，凡我同心肯學正傳，不妨亦以扁鵲自命可也。（舜何人哉，予何人哉，有為者亦若是。）</p>

<h2>時醫三錯</h2>
<p>凡陰疽及鬼邪著人，或兩眼內障，此三法皆出《內經》。其瘡疽本於腎虛，為陰所著，寒邪滯經，依附於骨，故爛人筋，害人性命。其法必大補腎氣，壯陽消陰，土得陽氣，自生肌肉，則元氣周流不侵骨髓矣。今則附入外科，庸醫不知，反用敗毒涼藥，致元氣虛憊而死者，多矣。（親見一婦人患伏免陰疽，形扁色白，大如覆盂，延一艮山門瘍醫，連用清火敗毒藥四劑，不待膿潰，一瀉而死。）</p>
<p>鬼邪著人者，皆由陰盛陽虛，鬼能依附陰氣，故易而成病，若陽光盛者焉敢近之。治法大補元氣　加以育神，則鬼邪自然離體。病家不知，專求符籙，此等外道決無靈驗。或假手庸醫，認為燥火，投以涼藥，或清熱化痰，致人枉死，良可悲哉。（世俗於輕淺小疾皆事巫祝，況鬼祟為殃，肯舍巫籙乎！加之醫用寒涼，故爾愈者不易。）</p>
<p>眼生內障由於脾腎兩虛，陽光不振耳。故光之短主於脾，視物不明主乎腎。法當溫補脾腎，壯陽光以消陰翳，則目明矣。今則另立眼科以成一家之技，只用涼劑，冰損元陽，致脾腎虛衰而死，殊不知一切病證皆有《內經》正法。後人分立十三科妄名，是以識見小者，專習一科，成一偏之見，譬之大海中認一浮漚，綜理未貫，動即傷生，悲哉！（予目睹京中來一太醫院官陳某，自炫能開瞽目，專以冷水冰伏，又以寒膏內陷。其人本領，實而火重者見效亦捷；若本弱元虧者，無不陰受其害。斜橋一鹽販之妻服膏半盞，腹即㽲痛，其夫強之服盡，大吐而斃。其夫一時惶急，從樓窗躍出街心。哭叫：陳太醫藥殺我婦！百種辱罵累及祖先，聞者無不寒心。筆此以見寒涼誤人，並信耳不信目之戒。）</p>

<h2>忌用轉下</h2>
<p>《內經》並無轉下之說，止言發散，又止言辛甘發散為陽。辛溫之藥達表則自然汗散，攻裡則自然開通。（據先生之論謂辛甘發散為陽，故表邪解而里自和，非辛甘能攻裡也，後人當活看。）非若寒苦之藥，動人臟腑，泄人元氣也。夫巴豆、硝黃之類能直穿臟腑，非大積大聚，元氣壯實者，不敢輕用。今之庸醫不問虛實，動輒便行轉下，以泄六腑各氣，轉生他證。重則脾胃漸衰，不進飲食，肌肉消瘦而死。又俗云：春行夏補，至秋時須服通行藥數劑，以泄夏月積熱，此語甚訛。（俗醫慣將此數語印人耳目，夫《內經》四時調養生長收藏之道，與春夏養陽、秋冬養陰之法，何等圓活，而愚人執守一說，不肯精求《靈》、《素》，良可慨也！）</p>
<p>夫熱在內，自然從五臟六腑及大小便中泄出。若以涼藥泄熱，吾恐熱氣未去一分，而元氣已衰九分。嘗觀服轉藥一劑，則有五七日飲食脾胃不能復舊。況乎三焦暖熱方能腐熟水穀，若一刻無火則肌膚冰冷，陽氣脫盡而死矣。故《內經》止有沉寒痼冷之論，未有積熱純陽之說。縱然積熱為病，一服轉下便可解救。若陰寒為病，則四肢逆冷，死在須臾。古人立法，若狂言妄語，逾垣上屋諸大熱證，亦要論其大便如何。數日不出者，有燥屎也，方下之，若大便如常，即不可下。（狂言妄語，逾垣上屋，自是熱證，然有一種面青脈急，或面黑脈微，手足厥冷者，又屬陰證。此係無附之陽，必死之證，若治之早或有生者。）</p>
<p>今人於並無以上熱證，而亦概用寒涼轉下，必欲盡去其熱，吾不知將以何為生氣。夫人身無熱則陽氣盡矣。此河間、丹溪遺訛後世，業醫者不可以不察此弊也。</p>

<h2>禁戒寒涼</h2>
<p>夫四百八病，大約熱者居多，寒者最少。無怪乎河間論火，丹溪之補陰也。但泥二子之書而不考究《內經》，墮於偏頗，害人特甚。蓋熱病屬陽，陽邪易散易治，不死。冷病屬陰，陰邪易伏，故令人不覺，久則變為虛寒，侵蝕臟腑而死。（初起不覺之證，最能害人，往往輕忽之，而一變致死者不少。）</p>
<p>況人身之火多亦是當然，天之六氣，火居其二。今之庸醫執壯火食氣之說，（《內經》壯火食氣之說，猶炎暑盛而人氣乏相火熾而真元傷，非涼藥之治，亦非熱藥之謂，馬元臺不察此理，妄為註釋，遺訛後學不淺。）溺於滋陰苦寒之劑，殊不知邪之中人，元氣盛則能當之，乃以涼藥冰脫，反泄元氣，是助賊害主也。夫涼藥不知害了多少人。若元氣稍虛者，無不被涼藥冰敗而死，脾胃有傷，焉望其生。如人飲熱湯及炙爆之物，從齠至髦，斷無損人之理。《內經》言膏粱之變，止發癰疽，況膏粱發疽者，百無一二。故知熱之養人，時刻不可缺也。若以冷水飲人，不須三日，即為腹疼泄瀉，脾虛胃敗矣。故燧人立法，食必用火，萬代蒼生得以活命。俗醫大用涼劑，譬於飲人冷水，陰害黎民，良可慨也。不見當今醫家，禍及子孫甚至滅門絕後，皆學術不精之報也。（醫者觀此切須猛省，誤用涼藥之害真實不爽，予見近代時醫專用溫平者，或延一息，終見陵替。專以寒涼攻伐，夭札人命者，誠未見其有後也。）</p>

<h2>要知緩急</h2>
<p>夫病有淺深，治有緩急。（體認病情，而用藥緩急合當，乃醫家第一要著。）若急病而用緩藥，是養殺人也。緩病而用急藥，是逼殺人也。庸醫遇病，不能必其何名，亦不能必其當用何藥，概以溫平試之。若緩病尚可，設遇大病則為誤不小，故名養殺人。若緩病投以急藥，是欲速其效，殊不知攻急則變生，所謂逼殺人也。（二者之誤，今世醫家比比，膽怯者蹈養殺之弊，心粗者逞逼殺之害。醫本生人，乃為殺藪，悲哉！）</p>
<p>余觀京師名醫呂實者，亦熟此法，但不早用，惟先用溫平藥調治，及至危篤，方議灼艾丹附等事，多不效，乃曰：此天命也。殊不知救挽已遲，藏氣敗絕，雖靈丹妙藥，無能為矣。余親見彼治一傷寒第五日，昏睡譫語，六脈洪大，以為胃中有熱，以承氣下之，四更即死矣。六脈之大，非洪也，乃陽氣將脫，故見此耳。治以下藥，更虛其陰，則陽無所附而死速矣。若先於臍下灸三百壯，固住脾腎之氣；內服保元丹、斂陽丹，飲姜附湯，過三日，自然汗出而愈。余治一傷寒，亦昏睡妄語，六脈弦大。余曰脈大而昏睡。定非實熱，乃脈隨氣奔也，強為之治。（先生真仁人也，強治之心，余頗有之，第以人不我信，且又礙於言訥而不肯為，究非真行仁術之人，常以此自愧。）用烈火灸關元穴，初灸病人覺痛，至七十壯遂昏睡不疼，灸至三鼓，病人開眼，思飲食，令服姜附湯。至三日後，方得元氣來復，大汗而解。（今時姑息成風，灸法難行，余嘗嘆曰：人參雖救命之品，姜附尤有回陽之功，無如世人不識，俗醫痛掃，良可慨也。）余思前證，少陰病也。發昏譫語，全似陽證，若時投以承氣，豈得不死。故耳聾不呻吟，身生赤黑靨，而十指冷至腳面，身重如山，口多痰唾，時發躁熱者，皆少陰證也。仲景以耳聾系之少陽，譫語歸之陽明，用柴胡承氣輩誤人不少。夫但知少陽脈循脅絡耳，卻不思耳竅屬腎，以耳聾歸少陽，此仲景所未到之處也。（耳聾仲景作宗氣虛論，未嘗歸少陽。至於譫語，論中言神氣虛者多，若陽明證中不過數條而已，先生故加貶駁，未免有意索瘢。）</p>

<h2>五等虛實</h2>
<p>凡看病要審元氣虛實，實者不藥自愈，虛者即當服藥，灸關元穴以固性命。若以溫平藥，亦難取效，淹延時日，漸成大病。（溫平之藥，近世所尚，旁人稱其穩當，醫士習於兩岐，及至變成大病，惶急錯投，誤而又誤。總由識見不真，遂爾因循貽害。）</p>
<p>虛病多般，大略分為五種，有平氣、微虛、甚虛、將脫、已脫之別。平氣者，邪氣與元氣相等，正可敵邪，只以溫平藥調理，緩緩而愈，如補中益氣、小柴胡、八物湯是也。微虛者，邪氣旺，正氣不能敵之，須服辛溫散邪之藥，當補助元氣，使邪氣易伏，宜蓽澄茄散、全真丹、來復丹、理中丸、姜附湯之類是也。甚虛者，元氣大衰則成大病，須用辛熱之藥，厚味之劑，大助元陽，不暇攻病也。《經》云：形不足者，溫之以氣，精不足者，補之以味，即官桂、附子、鹿茸、河車之類是也。將脫者，元氣將脫也，尚有絲毫元氣未盡，唯六脈尚有些小胃氣，命若懸絲，生死立待，此際非尋常藥餌所能救，須灸氣海，丹田、關元各三百壯，固其脾腎。夫脾為五臟之母，腎為一身之根。故傷寒必診太谿、衝陽，二脈者，即脾腎根本之脈也。此脈若存則人不死，故尚可灸，內服保元丹、獨骸大丹、保命延壽丹，或可保其性命。（單顧脾腎，乃先生學力大有根柢之論，蓋腎為先天之原，脾為後天之本，資生資始，莫不由茲，故病雖甚而二脈中有一脈未散，扶之尚可延生。）若已脫則真氣已離，脈無胃氣，雖灸千壯，亦無用矣。（此五種證當於平時細心探討，自然隨機應變不致差訛。近世之醫多尚寒涼，專行克伐，致使平氣變虛，虛證變脫，及至三焦失運，神氣改常，出入道乖，升降機息，而猶執邪氣未盡，火熱未除之說，朝涼暮削，不死不休，良可悲痛！）</p>

<h2>黃帝灸法</h2>
<p>男婦虛勞，灸臍下三百壯。</p>
<p>男婦水腫，灸臍下五百壯。</p>
<p>陰疽骨蝕，灸臍下三百壯。</p>
<p>久患脾瘧，灸命關五百壯。</p>
<p>肺傷寒，灸臍下三百壯。</p>
<p>氣厥、屍厥，灸中脘五百壯。</p>
<p>纏喉風，灸臍下三百壯。</p>
<p>黃黑疸，灸命關二百壯。</p>
<p>急慢驚風，灸中脘四百壯。</p>
<p>老人二便不禁，灸臍下三百壯，</p>
<p>老人氣喘，灸臍下三百壯。</p>
<p>久患腳氣、灸湧泉穴五十壯。</p>
<p>產後血暈，灸中脘五十壯。</p>
<p>暑月腹痛，灸臍下三十壯。</p>
<p>鬼邪著人，灸巨闕五十壯、臍下三百壯。</p>
<p>婦人臍下或下部出膿水，灸臍下三百壯。</p>
<p>婦人無故風搐發昏，灸中脘五十壯。</p>
<p>久患傴僂不伸，灸臍俞一百壯。</p>
<p>鬼魘著人昏悶，灸前頂穴五十壯。</p>
<p>婦人半產，久則成虛勞水腫，急灸臍下三百壯。</p>
<p>死脈及惡脈見，急灸臍下五百壯。</p>
<p>婦人產後腹脹水腫，灸命關百壯、臍下三百壯。</p>
<p>腎虛面黑色，灸臍下五百壯。</p>
<p>嘔吐不食，灸中脘五十壯。</p>
<p>婦人產後熱不退，恐漸成癆瘵，急灸臍下三百壯。</p>

<h2>扁鵲灸法</h2>
<p>命關二穴在脅下宛中，舉臂取之，對中脘向乳三角取之。</p>
<p>此穴屬脾，又名食竇穴，能接脾臟真氣，治三十六種脾病。凡諸病困重，尚有一毫真氣，灸此穴二三百壯，能保固不死。一切大病屬脾者並皆治之。蓋脾為五臟之母，後天之本，屬土，生長萬物者也。若脾氣在，雖病甚不至死，此法試之極驗。</p>
<p>腎俞二穴在十四椎兩旁各開一寸五分。凡一切大病於此灸二三百壯。蓋腎為一身之根蒂，先天之真源，本牢則不死，又治中風失音，手足不遂，大風癩疾。</p>
<p>三里二穴在膝眼下三寸，䯒骨外筋內宛中，舉足取之。治兩目䀮䀮不能視遠，及腰膝沉重，行步乏力，此證須灸中脘、臍下，待灸瘡發過方灸此穴，以出熱氣自愈。</p>
<p>承山二穴，在腿肚下，挺腳指取之。治腳氣重，行步少力。</p>
<p>湧泉二穴，在足心宛宛中。治遠年腳氣腫痛，或腳心連脛骨痛，或下粗腿腫，沉重少力，可灸此穴五十壯。</p>
<p>腦空二穴，在耳尖角上，排三指盡處。治偏頭痛，眼欲失明，灸此穴七壯自愈。</p>
<p>目明二穴，在口面骨二瞳子上，入髮際。治太陽連腦痛，灸三十壯。</p>
<p>腰俞二穴，在脊骨二十一椎下。治久患風腰疼，灸五十壯。</p>
<p>前頂二穴，在鼻上，入髮際三寸五分。治巔頂痛，兩眼失明。</p>

<h2>附：竇材灸法</h2>
<p>（計五十條）</p>
<p>一中風半身不遂，語言謇澀，乃腎氣虛損也，灸關元五百壯。</p>
<p>一傷寒少陰證，六脈緩大，昏睡自語，身重如山，或生黑靨，噫氣、吐痰、腹脹、足指冷過節，急灸關元三百壯可保。</p>
<p>一傷寒太陰證，身涼足冷過節，六脈弦緊，發黃紫斑，多吐涎沫，發燥熱，噫氣，急灸關元、命關各三百壯。</p>
<p>傷寒惟此二證害人甚速，仲景只以舌乾口燥為少陰，腹滿自利為太陰，余皆歸入陽證條中，故致害人。然此二證若不早灸關元以救腎氣，灸命關以固脾氣，則難保性命。蓋脾腎為人一身之根蒂，不可不早圖也。（舌乾口燥乃少陰本熱之證，仲景以大承氣急下，但此理非身登仲景之堂者不能知，非神於仲景之法者不能用，蓋火熱亢盛不用承製，則燎原之害熾而生化之機息，可不畏哉！設本熱假而標陰伏，誤用承氣立見危亡矣。先生灸法真保命全生之要，業醫之士切須審察，不可鹵莽而行之也。仲景蓋以氣化而用承氣，若涉形藏，別有治法，不可混闢。）</p>
<p>一腦疽發背，諸般疔瘡惡毒須灸關元三百壯以保腎氣。</p>
<p>一急喉痹、頤粗、頷腫、水穀不下，此乃胃氣虛風寒客肺也，灸天突穴五十壯。（穴在結喉下四寸。）</p>
<p>一虛勞咳嗽潮熱，咯血吐血六脈弦緊，此乃腎氣損而欲脫也，急灸關元三百壯，內服保元丹可保性命。若服知柏歸地者，立死。蓋苦寒重損其陽也。（虛勞而致六脈弦緊，即是腎氣損脫。乃今之醫治虛勞者，脈至微細急疾，尚用寒涼，真視人如草芥也，此種人不知作何結果。）</p>
<p>一水腫膨脹、小便不通，氣喘不臥，此乃脾氣大損也，急灸命關二百壯，以救脾氣，再灸關元三百壯，以扶腎水，自運消矣。</p>
<p>一脾泄注下，乃脾腎氣損，二三日能損人性命，亦灸命關、關元各二百壯。</p>
<p>一休息痢下五色膿者，乃脾氣損也，半月間則損人性命，亦灸命關、關元各三百壯。</p>
<p>一霍亂吐瀉，乃冷物傷胃，灸中脘五十壯，若四肢厥冷，六脈微細者，其陽欲脫也，急灸關元三百壯。</p>
<p>一瘧疾乃冷物積滯而成，不過十口、半月自愈。若延綿不絕乃成脾瘧，氣虛也，久則元氣脫盡而死，灸中脘及左命關各百壯。</p>
<p>一黃疸眼目及遍身皆黃，小便赤色，乃冷物傷脾所致，灸左命關一百壯，忌服涼藥。若兼黑疸乃房勞傷腎，再灸命關三百壯。</p>
<p>一番胃，食已即吐，乃飲食失節，脾氣損也，灸命關三百壯。（命關當作命門）</p>
<p>一屍厥不省人事，又名氣厥，灸中脘五十壯。</p>
<p>一風狂妄語，乃心氣不足，為風邪客於包絡也，先服睡聖散，灸巨闕穴七十壯，灸瘡發過，再灸三里五十壯。</p>
<p>一脅痛不止乃飲食傷脾，灸左命關一百壯。</p>
<p>一兩脅連心痛乃恚怒傷肝脾腎三經，灸左命關二百壯，關元三百壯。</p>
<p>一肺寒胸膈脹，時吐酸，逆氣上攻，食已作飽，困倦無力，口中如含冰雪，此名冷勞，又名膏肓病。乃冷物傷肺，反服涼藥，損其肺氣，灸中府二穴各二百壯。</p>
<p>一咳嗽病，因形寒飲冷，冰消肺氣，灸天突穴五十壯。</p>
<p>一久嗽不止，灸肺俞二穴各五十壯即止。若傷寒後或中年久嗽不止，恐成虛勞，當灸關元三百壯。</p>
<p>一癘風因臥風濕地處，受其毒氣，中於五臟，令人面目龐起如黑雲，或遍身如錐刺，或兩手頑麻，灸五臟俞穴。先灸肺俞，次心俞、脾俞，再次肝俞、腎俞，各五十壯，周而復始，病愈為度。</p>
<p>一暑月發燥熱，乃冷物傷脾胃腎氣所致，灸命關二百壯。或心膈脹悶作疼，灸左命關五十壯。若作中暑服涼藥即死矣。</p>
<p>一中風病方書灸百會、肩井、曲池、三里等穴多不效，此非黃帝正法。灸關元五百壯，百發百中。</p>
<p>一中風失音乃肺腎氣損，金水不生，灸關元五百壯。</p>
<p>一腸癖下血，久不止，此飲食冷物損大腸氣也，灸神闕穴三百壯。</p>
<p>一虛勞人及老人與病後大便不通，難服利藥，灸神闕一百壯自通。</p>
<p>一小便下血乃房事勞損腎氣，灸關元二百壯。</p>
<p>一砂石淋諸藥不效，乃腎家虛火所凝也，灸關元三百壯。</p>
<p>一上消病日飲水三五升，乃心肺壅熱，又吃冷物，傷肺腎之氣，灸關元一百壯，可以免死。或春灸氣海，秋灸關元三百壯，口生津液。</p>
<p>一中消病多食而四肢羸瘦，困倦無力，乃脾胃腎虛也，當灸關元五百壯。</p>
<p>一腰足不仁，行步少力，乃房勞損腎，以致骨痿，急灸關元五百壯。</p>
<p>一昏默不省人事，飲食欲進不進，或臥或不臥，或行或不行，莫知病之所在，乃思慮太過，耗傷心血故也，灸巨闕五十壯。</p>
<p>一脾病致黑色痿黃，飲食少進，灸左命關五十壯。或兼黧色，乃損腎也，再灸關元二百壯。</p>
<p>一賊風入耳，口眼歪斜，隨左右灸地倉穴五十壯，或二七壯。</p>
<p>一耳輪焦枯，面色漸黑，乃腎勞也，灸關元五百壯。</p>
<p>一中年以上之人，口乾舌燥，乃腎水不生津液也，灸關元三百壯，若誤服涼藥，必傷脾胃而死。</p>
<p>一中年以上之人，腰腿骨節作疼，乃腎氣虛憊也，風邪所乘之證，灸關元三百壯。若服辛溫除風之藥，則腎水愈涸，難救。</p>
<p>一腿䯒間發赤腫，乃腎氣風邪著骨，恐生附骨疽，灸關元二百壯。</p>
<p>一老人滑腸困重，乃陽氣虛脫，小便不禁，灸神闕三百壯。</p>
<p>一老人氣喘，乃腎虛氣不歸海，灸關元二百壯。</p>
<p>一老人大便不禁，乃脾腎氣衰，灸左命關、關元各二百壯。</p>
<p>一兩眼昏黑，欲成內障，乃脾腎氣虛所致，灸關元三百壯。</p>
<p>一瘰癧因憂鬱傷肝，或食鼠涎之毒而成，於瘡頭上灸三七壯，以麻油潤百花膏塗之，灸瘡發過愈。</p>
<p>一破傷風，牙關緊急，項背強直，灸關元穴百壯。</p>
<p>一寒濕腰痛灸腰俞穴五十壯。</p>
<p>一行路忽上膝及腿如錐，乃風濕所襲，於痛處灸三十壯。</p>
<p>一腳氣少力或頑麻疼痛，灸湧泉穴五十壯。</p>
<p>一頑癬浸淫或小兒禿瘡，皆汗出入水，濕淫皮毛而致也，於生瘡處隔三寸灸三壯，出黃水愈。</p>
<p>凡灸大人，艾炷須如蓮子，底闊三分，灸二十壯後卻減一分，務要緊實。若灸四肢及小兒，艾炷如蒼耳子大。灸頭面，艾炷如麥粒子大。其灰以鵝毛掃去，不可口吹。</p>
<p>如癲狂人不可灸，及膏粱人怕痛者，先服睡聖散，然後灸之。一服止可灸五十壯，醒後再服、再灸。</p>

<h1>卷中</h1>

<h2>傷寒</h2>
<p>傷寒六脈浮緊，呻吟不絕，足指溫者，陽也；忌服涼藥，恐變為陰，害人性命。至六日發煩躁，乃陰陽換氣，欲作汗也，服當歸茯苓散，汗出而愈。</p>
<p>六脈緊大，或弦細，不呻吟，多睡耳聾，足指冷，肢節痛，發黃，身生赤黑靨，時發噫氣，皆陰也，灸關元三百壯，服金液丹、姜附湯，過十日半月，出汗而愈。若不早灸，反與涼藥者，死。（辨別陰陽不止於此，然熟體此二條則治傷寒證誤謬亦少。其灸法雖不能遍行，若貧家無力而遇難起之病，不能備參藥，勉告以灸能活命，倘肯依從，未必非仁術之一端。予每見時疫盛行之際，鄉陬死者比戶，心切憐之，倘盡心力併合丹藥以濟之，不特己身蒙福，子孫亦必昌大。）</p>
<p>若吐逆而心下痞，灸中脘五十壯。若微微發顫者，欲作汗，服姜附湯而愈。若少年壯實之人，傷寒至五六日，發狂逾垣上屋，胃中有積熱也，服大通散，輕者知母散亦愈。</p>

<h2>傷寒四經見證</h2>
<p>傷寒只有四經，無少陽、厥陰二經。夫寒之中人，如太陽主皮毛，故寒邪先客此經；陽明主胃，凡形寒飲冷則傷之；太陰主脾，凡飲食失節，過食寒物則傷之；少陰主腎，寒水喜歸本經也。故傷寒止有四經，若少陽、厥陰主肝膽，如憂思喜怒方得傷之，寒病最少。如耳聾囊縮者，少陰也，寒熱口苦，乃陽病也，此四證俱不宜用寒涼藥也。（言無少陽厥陰二經，非通論也，時醫見寒熱口苦，耳聾脅痛，乾嘔吐逆，不辨陰陽，不審虛實，動云少陽，首尾小柴胡和解以為穩妥，不知虛陽提越，內陰愈甚，變為躁擾不安，胸膈痞悶，口渴譫妄，脈體弦急；更云內熱已深，輕則瀉心、白虎，重則陷胸、承氣，不至冰脫不已。至若厥陰，標陰本風，中見火化，證來錯雜，人多不識，誤死者多矣。）</p>

<h2>太陽見證</h2>
<p>太陽寒水，內屬膀胱，故脈來浮緊，外證頭疼發熱，腰脊強，惟服平胃散，至六七日，出汗而愈。蓋胃氣不虛，傳遍經絡自愈也。仲景以為陽證，乃與涼藥隨經而解，反攻出他病，甚者變為陰證，六脈沉細，發厥而死，急灸關元，乃可復生。如本經至六七日發戰者，欲作解而陽氣少也，服姜附湯出汗而愈。（仲景圓機活法，論中救誤者甚多，何嘗能誤人哉！其誤人者，乃後人誤用仲景法而誤之耳，於仲景何尤。）</p>

<h2>陽明見證</h2>
<p>陽明燥金內屬於胃，六脈浮緊而長，外證目痛發熱，手足溫，呻吟不絕，服當歸柴胡湯、平胃散。仲景反言熱深厥亦深，此誤也。若果發昏厥，兩目枯陷不能升者，急灸中脘五十壯，漸漸省人事，手足溫者生，否則死。（仲景厥陰證中，有厥熱多寡之論，不過驗邪正之進退，察陰陽之消長，示人為治之活法，無偏無倚，何誤之有。）</p>

<h2>太陰見證</h2>
<p>太陰濕土內屬於脾，其脈弦緊，外證不呻吟，四肢不痛，身不甚熱，時自汗自利，手足冷多痰唾，服保元丹、姜附湯，十日後汗出而愈。（此證溫治若早，愈亦甚速，稍不審察，害人亦易。）又一證發黃生紫斑，咽乾燥噫氣者，此名陰燥、陰黃，服鍾乳粉，十日後汗出而愈。庸醫或誤認陽證，涼之即死。</p>

<h2>少陰見證</h2>
<p>少陰君火內屬於腎，其脈弦大，外證肢節不痛，不呻吟，但好睡，足指冷，耳聾、口乾、多痰唾，身生赤黑靨，時發噫氣，身重如山，煩躁不止。急灸關元三百壯，內服保元丹、姜附湯，過十日汗出而愈。若作陽證，誤服涼藥，以致發昏譫語，循衣摸床，吐血脈細，乃真氣虛，腎水欲涸也。仲景反曰：急下之，以救腎水，此誤也。真氣既虛，反用涼藥，以攻其里，是促其死也。急灸關元三百壯，可保無虞。（少陰本熱標寒而又中見太陽，本熱之證，固不易治，況標陰為病，千頭萬緒，變態百出，令人接應不暇。然只在初時體察真切，用灸用溫，亦非難事。良由初著一錯，貽誤到底，害人不少。至若無本熱，而又無中見之太陽，一派陰寒，必死無疑。或速灸關元，重投丹附，亦在於覺之早，庶望其生。少陰誤治而變諸敗逆證，誠為費手。先生之論，專屬形臟，故尚溫補；仲景之論，惟言氣化，故主承製。然論中用溫者多，下者不過數條而已，況標本氣化，今古難明，非神於仲景之法者不能，倘於急下證而誤溫，殺人反掌；急溫證而誤下，冤沉海底。嗟！嗟！醫之為道誠難矣。）</p>

<h2>傷風傷寒</h2>
<p>脈浮為風，脈緊為寒，仲景分為兩塗，故有麻黃、桂枝之說，此誤也。然傷寒乃太陽本氣受傷，不可大汗，但服姜附湯自愈，不必穿鑿他求，以為精也。（浮風緊寒，古人通論，解肌發表，定法難磨，仲景不可訾也。至若緊而勁急，或微，或沉，神志稍失其常，形氣不能振作，則先生之法，斷不可緩。傷風輕淺之證，初起咽疼喉痛，鼻中火出，此風邪外傷毛腠，抑遏陽氣，故現此耳。醫者不明，誤用寒涼，馴致重大。）</p>

<h2>挾食冷物</h2>
<p>脈沉為胃氣寒，緊為冷氣盛，滑則食不消。其證頭痛、發熱、嘔吐、心下痞，時或腹痛，服丁香丸、來復丹；若冷物不消，蓽澄茄散；胃虛者，平胃散、理中丸。</p>

<h2>中濕</h2>
<p>三四月間，人感潮濕之氣，名曰濕病；或六七月，大雨時行，恣飲冰水冷物，亦名中濕，則令人寒熱自汗。陽則脈緊，肢節痛，足指溫，服朮附湯；陰則脈沉而緊，肢節不痛，身涼自利，足指冷，服姜附湯。不可發汗，汗則必發煩躁，虛汗不止，或發黃腫。若服涼藥，則泄瀉而死。（先生於此證雖分陰陽，而用附子則一，今人於六七月之交，不辨是寒、是濕，或陰、或陽，動輒云暑，專用寒涼，及至發腫瀉泄，而猶云暑毒未清，又行攻下，不至醫殺不止，實可痛心。）</p>

<h2>陰毒</h2>
<p>或腎虛人，或房事後，或胃發冷氣，即腹痛煩躁，甚者囊縮，昏悶而死。急灸關元一百壯，內服姜附湯、保元丹可救一二。若遲則氣脫，雖灸亦無益矣。（審證的確，即當速救，不可因循，致歸絕路。）</p>

<h2>老人傷寒</h2>
<p>切忌發汗及吐下，蓋元氣盛，則邪不能為害，傳遍經絡自愈。仲景不敢補，反攻邪氣，致正氣受傷，誤人多矣。凡遇此證，只用姜附湯多服，自然解散。（元虛而受攻傷正，何必老人，仲景醫之聖者，寧不知此。）</p>

<h2>陰陽換氣</h2>
<p>凡傷寒陽證欲作汗，陰證已加灸，真元欲復，與邪氣分爭，必發寒戰，鼻衄昏迷，牙關微緊，四肢微厥，乃陰陽換氣也。一二時辰，自然腋下汗出而愈。（陰陽換氣，即今之所謂戰汗，須預告病家，令其不必驚駭，否則闔室蒼惶，讒言蜂起，彼時一劑誤投，遂有生死之判。）</p>

<h2>傷寒譫語</h2>
<p>凡傷寒譫語，屬少陰，仲景屬陽明誤也。陽明內熱必發狂，今止譫語，故為少陰。（仲景皆指神虛，未嘗不屬少陰也。）急灸關元三百壯，若灸後，仍不止者死。</p>

<h2>傷寒衄血</h2>
<p>凡鼻衄不過一二盞者，氣欲和也，不汗而愈。若衄至升斗者，乃真氣脫也，針關元入三寸，留二十呼，血立止；再灸關元二百壯，服金液丹。不然恐成虛勞中滿。（當解、當清、當溫、當補，審證施治，庶幾無誤。）</p>

<h2>勞復</h2>
<p>傷寒瘥後，飲食起居勞動則復發熱。其候頭痛、身熱、煩躁，或腹疼，脈浮而緊，此勞復也。服平胃散、分氣丸，汗出而愈。若連服三四次不除者，此元氣大虛故也，灸中脘五十壯。（勞復證仲景數方，用須斟酌，第一須審邪氣之有無，辨寒熱之多寡，以施治則無誤矣。）</p>

<h2>汗後大便下赤水或膿血</h2>
<p>此乃胃中積熱未除，或服丹附而致，宜服黃連當歸芍藥湯，下膿者，如聖餅化積而愈。《經》云：熱雖甚不死。若陰氣盛則殺人於頃刻，戒之。（熱藥之過，一涼可解，涼藥之誤，十熱難瘳。又積熱易解而易治，沉陰難愈而難明，臨證之工大宜體認。）</p>

<h2>汗後發噫</h2>
<p>由於脾腎虛弱，冷氣上奔也，服姜附湯、來復丹。（此症當是發呃，若噫證無死人之理，觀後二案可見。）</p>
<p><u>治驗</u></p>
<p>一人傷寒至八日，脈大而緊，發黃，生紫斑，噫氣，足指冷至腳面，此太陰證也，最重難治。為灸命關五十壯、關元二百壯，服金液丹、鍾乳粉，四日汗出而愈。</p>
<p>一人患傷寒至六日，脈弦緊，身發黃，自汗，亦太陰證也。先服金液丹，點命關穴。病人不肯灸，傷寒唯太陰、少陰二證死人最速，若不早灸，雖服藥無效。不信，至九日瀉血而死。（不聽良言，往往至此，及至證變而下血，俗醫猶謂硫黃熱迫，痛為排擠，反用寒涼，以下石，至死眾口呶呶，總咎熱藥之害，婆心遭謗，不一而足，然有天道，何恤人言。）</p>
<p>一人病傷寒至六日，微發黃，一醫與茵陳湯。次日，更深黃色，遍身如梔子，此太陰證誤服涼藥而致肝木侮脾。余為灸命關五十壯，服金液丹而愈。（傷寒發黃，雖有陰陽之異，然脾家陰濕而為陰黃者多，不可不知。）</p>
<p>一人患傷寒，初起即厥逆，脈一息八九至，諸醫以為必死，余曰：乃陰毒也，與姜附湯一盞，至半夜，汗出而愈。若以脈數為熱，下涼藥，必死無疑。（俗醫視此，必以為痧證，禁服官料藥，專行焠刺，縱飲冷水，不致冰脫不已。）</p>

<h2>肺傷寒</h2>
<p>肺傷寒一證，方書多不載，誤人甚多，與少陰證同，但不出汗而愈，每發於正二臘月間，亦頭疼，肢節痛，發熱惡寒，咳嗽脈緊，與傷寒略同，但多咳嗽耳。不宜汗，服姜附湯，三日而愈。若素虛之人，邪氣深入則昏睡譫語，足指冷，脈浮緊，乃死證也。急灸關元三百壯，可生，不灸必死，服涼藥亦死，蓋非藥可療也。（肺傷寒之證，今人多認為重傷風，非溫平誤事，即寒涼殺人。予於此證略有分曉，然不免因人檢點，苟遇知己用之無疑，應酬通治，不過姜甘桂辛而已。設概用姜附，往往遭人謗毀。）</p>
<p><u>治驗</u></p>
<p>一人患肺傷寒，頭痛發熱，惡寒咳嗽，肢節疼，脈沉緊，服華蓋散、黃耆建中湯，略解。至五日，昏睡譫語，四肢微厥，乃腎氣虛也。灸關元百壯，服姜附湯，始汗出愈。（此證與雍正六年自春徂夏時氣大同，時俗皆禁服藥，藥則有誤，不知非藥誤人，乃庸人不明此理，妄投涼藥之誤耳。苟具隻眼，焉得有誤。）</p>

<h2>疽瘡</h2>
<p>有腰疽、背疽、腦疽、腿疽，雖因處以立名、而其根則同。方書多用苦寒敗毒之藥，多致剝削元氣，變為陰疽，侵肌蝕骨，潰爛而亡。不知《內經》云：脾腎氣虛，寒氣客於經絡，血氣不通，著而成疾。若真氣不甚虛，邪氣不得內陷，則成癰。蓋癰者，壅也。血氣壅滯，故大而高起，屬陽易治。若真氣虛甚，則毒邪內攻，附貼筋骨，則成疽。蓋疽者，阻也。邪氣深而內爛，阻人筋骨，屬陰難治。其始發也，必憎寒、壯熱，急服救生湯五錢，再服全好。甚者，即於痛處，灸三五壯。（陰疽即三五十壯，亦不為過。）如痛者屬陽，易治。若不痛，乃疽瘡也，急服保元丹，以固腎氣。若用涼轉藥，則陽變為陰，或不進飲食而死，急灸關元可生。</p>
<p>（近世瘍醫，只記一十三味方，不問邪之深淺，感之重輕，頂之起不起，色之紅不紅，不辨五美，不審七惡，概用此方，更加涼解。即見純陰冷毒，而猶云半陰半陽，總以發散解毒為良法，及至寒涼冰伏，尚云毒盛內攻。或見神情躁擾，終認火熱未清。小證變大，淺證變深，若遇大證，未有不受其害者。世謂外科拉折腿，醫亦不盡然。人之無良，亦或有之，其餘實由學問未精，識證不確，陰陽錯亂，虛實混淆，變證之來，全然不曉，有似故意害人，其實非本心也。）</p>
<p><u>治驗</u></p>
<p>一人病腦疽六日，危篤不進飲食，余曰：年高腎虛，邪氣滯經也。令服救生湯，即刻減半，夜間再進一服全安。</p>
<p>一人忽患遍身拘急，來日陰囊連莖腫大如斗，六脈沉緊。余曰：此陰疽也，幸未服解毒涼藥，若服之，則莖與睪丸必皆爛去而死。急令服救生湯五錢，又一服全安。</p>
<p>一老婦腦後作痛，憎寒拘急。余曰：此欲發腦疽也。急服救生湯三服全愈。（余治一婦，新產深居密室，頭面遍體生札馬疔，外科與清火敗毒藥二劑，立時消去，其家甚喜。次日胸中氣悶，渴燥不已，神氣異常。至晚腹痛泄瀉，身熱體倦，嘔惡不食。瘍醫云暑毒內攻，更與連梔涼劑，煎訖將進。適余至，診其脈空散無根，一息七八至，乃里虛毒陷也，即以異功加姜附飲之。次日，瀉止，神清，食粥不嘔。又一劑，而札馬疔仍復發出，亦不如前之痛苦矣。夫札馬疔小疾耳，涼解一誤，尚變脫陷，況大毒乎！記此以為瘍醫寒涼之戒，精方脈者，亦不可不明此理。）</p>
<p>凡一切癰疽發背，疔瘡乳癰癤毒，無非寒邪滯經，只以救生湯服之，重者減半，輕者全安，百發百中。</p>

<h2>喉痹</h2>
<p>此病由肺腎氣虛，風寒客之，令人頤頷粗腫，咽喉閉塞，湯藥不下，死在須臾者，急灌黃藥子散，吐出惡涎而愈。此病輕者治肺，服姜附湯，灸天突穴五十壯亦好；重者服鍾乳粉，灸關元穴，亦服姜附湯。</p>
<p><u>治驗</u></p>
<p>一人患喉痹，痰氣上攻，咽喉閉塞，灸天突穴五十壯，即可進粥，服姜附湯，一劑即愈，此治肺也。</p>
<p>一人患喉痹，頤頷粗腫，粥藥不下，四肢逆冷，六脈沉細。急灸關元穴二百壯，四肢方暖，六脈漸生，但咽喉尚腫，仍令服黃藥子散，吐出稠痰一合乃愈，此治腎也。</p>
<p>一人患喉痹，六脈細，余為灸關元二百壯，六脈漸生。一醫曰：此乃熱證，復以火攻，是抱薪救火也。遂進涼藥一劑，六脈復沉，咽中更腫。醫計窮，用尖刀於腫處刺之，出血一升而愈。蓋此證忌用涼藥，痰見寒則凝，故用刀出其肺血，而腫亦隨消也。</p>
<p>（先生治肺治腎之法，千古卓見。況咽喉之證，風火為患，十有二三，肺腎虛寒，十有八九。喉科不明此理，一味寒涼，即有外邪，亦致冰伏，若元本虧損，未有不閉悶致死者。所以咽喉妙法，第一開豁痰涎，痰涎既湧，自然通快，然後審輕重以施治，姜附、灼艾，誠為治本之法，但人多畏之，而不肯用耳。然當危急時，亦不可避忌，強為救治，亦可得生也。至於刺法，亦須知之。雍正四年，咽喉證甚行。友人之子沈禮庭亦患喉痹，次日即爛。予診其兩寸無力，兩尺空散，乃陰虛火動，以七味丸作湯與服一劑，證雖未減而痛勢少緩。鄰家強其延喉科視之，彼醫笑予動輒用熱藥，不知此乃陽明熱甚證，火性急速，故一日而喉即腐潰，豈可用溫補劑耶！乃投白虎二劑，服未半，而神氣改常，語言錯亂，甚至顛倒不眠，其家惶急，復延予。予診其脈亂而八九至，予曰：果病陽明燥火，石膏實為良劑。今系無根之焰，而妄用白虎，使胃絡陷下，而不能上通，故心神失守。以歸脾湯加桂飲之，甫一劑而神恬脈靜矣。噫！彼喉科一無學之人，妄為評品大方，亂投湯藥，幾至殺人，亦愚矣。）</p>

<h2>虛勞</h2>
<p>此病由七情六慾，損傷脾腎，早尚易治，遲則難愈，必用火灸，方得回生。若用溫平藥及黃耆建中、鱉甲飲之類，皆無益於病，反傷元氣。其證始則困倦少食，額上時時汗出，或自盜汗，口乾咳嗽，四肢常冷，漸至咳吐鮮血，或咯血多痰，蓋腎脈上貫肝隔，入肺中，腎既虛損，不能上榮於肺，故有是病，治法當同陰證治之。先於關元灸二百壯，以固腎氣，後服保命延壽丹，或鍾乳粉，服三五兩，其病減半，一月全安。若服知、柏、地黃、當歸之屬，重傷脾腎，是促其死也，切忌房事。然此病須早灸，遲則無益，丹藥亦不受矣，服之反發熱煩，乃真脫故也，若童男女得此病，乃胎秉怯弱，宜終身在家，若出嫁犯房事，再發必死。</p>
<p><u>治驗</u></p>
<p>一人病咳嗽，盜汗，發熱，困倦，減食，四肢逆冷，六脈弦緊，乃腎氣虛也。先灸關元五百壯，服保命延壽丹二十丸，鍾乳粉二錢。間日，服金液丹百丸，一月全安。</p>
<p>一人病咳嗽，證脈與上條同，但病人怕灸，止服延壽丹五十粒，金液丹百粒，鍾乳粉二兩，五日減可，十日脈沉緩，乃真氣復也。仍服前藥，一月全安。蓋此病早治，不灸亦可，遲必加灸，否則難治。</p>
<p>一幼女病咳嗽，發熱，咯血，減食。先灸臍下百壯，服延壽丹、黃耆建中湯而愈。戒其不可出嫁，犯房事必死。過四年而適人，前病復作。余曰：此女胎稟素弱，只宜固守終老。不信余言，破損天真，元氣將脫，不可救矣。強余丹藥服之，竟死。</p>
<p>一人額上時時汗出，乃腎氣虛也，不治則成癆瘵，先灸臍下百壯，服金液丹而愈。</p>
<p>一人夜多虛汗，亦腎氣虛也，服全真丹、黃耆建中湯而痊。</p>
<p>一婦人產後虛汗不止，乃脾腎虛也，服金液丹、全真丹、當歸建中湯而愈。凡童男女秉氣虛、多汗者，亦同此治。</p>
<p>一人每日四五遍出汗，灸關元穴亦不止，乃房事後，飲冷傷脾氣，復灸左命關百壯而愈。</p>
<p>一婦人傷寒瘥後轉成虛勞，乃前醫下冷藥，損其元氣故也。病人發熱咳嗽、吐血少食，為灸關元二百壯，服金液、保命、四神、鍾乳粉，一月全愈。（脾腎者先後天之本與元也，虛勞之病雖有五臟之殊，其原皆由於脾腎受病，而脾腎之治殊難見效，不知腎之元於生陽，脾之本於焦火，溫溫不息，元本日充，自然真水流行，津液四布，神精內守，煙焰不生，五臟無偏頗之虞，水火有交濟之益，何難治之有哉！奈何世人不察，習用寒涼不敗不已。間有知脾腎之當保者，不過玉竹、沙參、生脈、六味溫平之劑而已，知先生之法者有幾人哉！但恨起石無真，鍾乳多偽，合丹救濟亦屬徒然，惟有艾火庶可求全，人又不肯耐疼忍痛，應名數痏，此證之獲愈者，所以千百而無一二也。予具熱腸，動違庸俗，明知難起之疾，勉投桂附，十中亦起一二，其終不愈者，不免多口之來，予亦無庸置辨，彼蒼者天，諒能默鑑予救世之衷也。因略舉治愈數人，附記於後，以為吾黨型式，俾知溫補之可以活人，而不為流俗所惑，不因讒毀縮手也。）</p>
<p>（友人沈蔭昌兄，因患伏免疽，膿血過多，有傷元本，變為虛勞，服滋陰劑過多，喘急吐血，飲食少進。予診之脈弦急，有七八至，面色純青，喘咳氣急，臥難著席，身熱汗出，涎沫不收，虛脫之證已悉見矣。又貧乏無力用參，乃予建中，重投耆桂，一服而喘定安眠，涎沫與血俱減大半，第病久而脾腎過傷，胃氣難復，投桂附加參錢許，月餘而痊。）</p>
<p>（王在庭之室，病虛勞十餘載，喘促吐沫，嘔血不食，形體骨立，諸醫束手，延予診視，見其平日之方，皆滋陰潤肺，溫平之劑。予曰：以如是之病，而乃用如是之藥，自然日趨鬼趣，焉望生機，獨不思仲景云咳者則劇，數吐涎沫，以脾虛也。又昔賢云：腎家生陽，不能上交於肺則喘。又云：脾虛而肺失生化之原則喘。今脾腎敗脫用藥如此，焉望其生。乃重投參耆姜附等二劑而喘定，緣泄瀉更甚再加萸蔻十餘劑而病減十七；又灸關元，因畏痛只灸五十壯，迄今十餘年而形體大健矣。）</p>
<p>（一中年婦，夜熱咳嗽，本小疾耳，為張李二醫合用滋陰退熱藥月餘，致面青脈急，喘促，吐血嘔沫日數升，飲食不進，二醫束手覆而不治，予為重用參附十餘劑而安。此非其本原受虧，乃藥誤所致，故收功易也。）</p>

<h2>中風</h2>
<p>此病皆因房事、六慾、七情所傷。真氣虛，為風邪所乘，客於五臟之俞，則為中風偏枯等證。若中脾胃之俞，則右手足不用；中心肝之俞，則左手足不用。大抵能任用，但少力麻痹者為輕，能舉而不能用者稍輕，全不能舉動者最重。邪氣入臟則廢九竅，甚者卒中而死。入腑則壞四肢，或有可愈者。</p>
<p>治法：先灸關元五百壯，五日便安。次服保元丹一二斤，以壯元氣；再服八仙丹、八風湯則終身不發。若不灸臍下，不服丹藥，雖愈不過三五年，再作必死。然此證最忌汗、吐、下，損其元氣必死。大凡風脈，浮而遲緩者生，急疾者重，一息八九至者死。（中風之證，古方書雖有中臟、中腑、中經脈之別，然其要不過閉證與脫證而已。閉證雖屬實，而虛者不少，或可用開關通竅行痰疏氣之劑。關竅一開，痰氣稍順，急當審其形藏，察其氣血，而調治之。更視其兼證之有無，虛實之孰勝，或補或瀉；再佐以先生之法，庶幾為效速，而無痿廢難起之患矣。至若脫證，唯一於虛，重劑參附或可保全，然不若先生之丹艾為萬全也。予見近時醫家，脫證已具三四，而猶云有風有痰，雖用參附而必佐以秦艽、天麻、膽星、竹瀝冰陷疏散。是誠不知緩急者也，烏足與論醫道哉。）</p>
<p><u>治驗</u></p>
<p>一人病半身不遂，先灸關元五百壯，一日二服八仙丹，五日一服換骨丹，其夜覺患處汗出，來日病減四分，一月痊愈。再服延壽丹半斤，保元丹一斤，五十年病不作。千金等方，不灸關元，不服丹藥，惟以尋常藥治之，雖愈難久。</p>
<p>一人患左半身不遂，六脈沉細無力。余曰：此必服峻利之藥，損其真氣，故脈沉細。病者云：前月服捉虎丹，吐涎二升，此後稍輕，但未全愈耳。余嘆曰：中風本因元氣虛損，今服吐劑，反傷元氣，目下雖減，不數日再作，不復救矣，不十日果大反復，求治於余，雖服丹藥竟不能起。</p>

<h2>癘風</h2>
<p>此證皆因暑月仰臥濕地，或房勞後，入水冒風而中其氣。令人兩目壅腫，雲頭斑起，或肉中如針刺，或麻痹不仁，腫則如癰疽，潰爛筋骨而死。若中肺俞、心俞，名曰肺癩易治，若中脾、肝、腎俞。名曰脾肝腎癩難治。世傳醫法，皆無效驗。</p>
<p>黃帝正法：先灸肺俞二穴，各五十壯，次灸心俞，次脾俞，次肝俞，次腎俞，如此周而復始，全愈為度。內服胡麻散，換骨丹各一料。然平人止灸亦愈，若爛見筋骨者難治。（《經》云：脈風成為癧，蓋風之中人，善行而數變，今風邪留於脈中，淹纏不去，而瘍風成矣。其間有傷營、傷衛之別。傷營者，營氣熱胕，其氣不清，故使鼻柱壞而色敗，皮膚瘍潰。傷衛者，風氣與太陽俱入行於脈俞，散於分肉之間，與衛氣相犯，其道不利，故使肌肉膹䐜而有瘍。此證感天地毒癘濁惡之氣，或大醉房勞，或山嵐瘴氣而成。毒在氣分則上體先見，毒在血分則下體先見，氣血俱受則上下齊見。更須分五臟之毒，肺則皮生白屑，眉毛先落，肝則面發紫泡，腎則腳底先痛，或穿脾則遍身如癬，心則雙目受損。此五臟之毒，病之重者也。又當知五死之證，皮死麻木不仁，肉死割刺不痛，血死潰爛目癱，筋死指甲脫落，骨死鼻柱崩壞。此五臟之傷，病之至重者，難治。若至音啞目盲更無及矣。）</p>
<p><u>治驗</u></p>
<p>一人面上黑腫，左耳下起云紫如盤蛇，肌肉中如刀刺，手足不知痛。詢其所以，因同僚邀遊醉臥三日，覺左臂黑腫如蛇形，服風藥漸減，今又發。余曰：非風也，乃濕氣客五臟之俞穴。前服風藥，乃風勝濕，故當暫好，然毒根未去。令灸腎俞二穴各百壯，服換骨丹一料，全愈，面色光潤如故。</p>
<p>一人遍身赤腫如錐刺，余曰：汝病易治。令灸心俞、肺俞四穴各一百壯，服胡麻散二料而愈。但手足微不隨，復灸前穴五十壯，又服胡麻散二料全愈。</p>
<p>一人病癘證，鬚眉盡落，面目赤腫，手足悉成瘡痍。令灸肺俞、心俞四穴各十壯，服換骨丹一料，二月全愈，鬚眉更生。</p>

<h2>風狂</h2>
<p>此病由於心血不足，又七情六慾損傷包絡，或風邪客之，故發風狂，言語無倫，持刀上屋。</p>
<p>治法：先灌睡聖散，灸巨闕二三十壯，又灸心俞二穴各五壯，內服鎮心丹、定志丸。（此證有陽明脈盛而為熱狂者，清涼可愈也；有暴折而難決為怒狂者，奪其食則已，治之以生鐵落飲，二證皆狂之實者也。然虛證常多，不可誤治，設一差訛，害人反掌。有心血不足而病者，有腎水虧損而病者，有神志俱不足而病者，有因驚恐而病者，有因妄想而病者，是皆虛證，體察而治，斯無悖矣。）</p>
<p><u>治驗</u></p>
<p>一人得風狂已五年，時發時止，百法不效。余為灌睡聖散三錢，先灸巨闕五十壯，醒時再服；又灸心俞五十壯，服鎮心丹一料。余曰：病患已久，須大發一回方愈。後果大發一日，全好。</p>
<p>一婦人產後得此證，亦如前灸服姜附湯而愈。</p>

<h2>口眼喎斜</h2>
<p>此因賊風入舍於陽明之經，其脈挾口環唇，遇風氣則經脈牽急，又風入手太陽經亦有此證。</p>
<p>治法：當灸地倉穴二十壯，艾炷如小麥粒大。左喎灸左，右喎灸右，後服八風散，三五七散，一月全安。（此證非中風兼證之口眼喎斜，乃身無他苦而單現此者，是賊風之客也，然有筋脈之異，傷筋則痛，傷脈則無痛，稍有差別，治法相同。）</p>

<h2>破傷風</h2>
<p>凡瘡口或金刃破處，宜先貼膏藥以御風，不然致風氣入內，則成破傷風。此證最急，須早治，遲則不救。若初得此時，風客太陽經，令人牙關緊急，四肢反張，項背強直，急服金華散，連進二三服，汗出即愈。若救遲則危篤，額上自汗，速灸關元三百壯可保，若真氣脫，雖灸無用矣。（此證所患甚微，為害甚大，雖一毛孔之傷，有關性命之急，一人因拔髭一莖，忽然腫起不食，有友人詢余，余曰：此破傷風也，速灸為妙。瘍醫認作髭疔，治以寒涼，不數日發痙而死。）</p>

<h2>洗頭風</h2>
<p>凡人沐頭後，或犯房事，或當風取涼，致賊風客入太陽經，或風府穴，令人卒僕，口牙皆緊，四肢反張。急服姜附湯，甚者灸石門穴三十壯。（此證若無房事之傷，焉至於此，慎之！慎之！）</p>

<h2>牙槽風</h2>
<p>凡牙齒以刀針挑之，致牙根空露，為風邪所乘，令人齒齲。急者潰爛於頃刻，急服姜附湯，甚者灸石門穴。（腎主骨，齒乃骨之餘，破傷宣露，風邪直襲腎經，致潰爛於俄頃，舍姜附而用寒涼為變，可勝道哉。）</p>

<h2>水腫</h2>
<p>此證由脾胃素弱，為飲食冷物所傷，或因病服攻克涼藥，損傷脾氣，致不能通行水道，故流入四肢百骸，令人遍身浮腫，小便反澀，大便反泄，此病最重，世醫皆用利水消腫之藥，乃速其斃也。</p>
<p>治法：先灸命關二百壯，服延壽丹、金液丹，或草神丹，甚者姜附湯，五七日病減，小便長，大便實或潤，能飲食為效。唯吃白粥，一月後，吃餅面無妨，須常服金液丹，來復丹，永瘥。若曾服芫花、大戟通利之藥，損其元氣或元氣已脫則不可治，雖灸亦無用矣。若灸後瘡中出水或雖服丹藥而小便不通，皆真元已脫，不可治也，脈弦大者易治，沉細者難痊。</p>
<p><u>治驗</u></p>
<p>一人四肢皆腫，氣促，食則脹悶，只吃稀粥，余令日服金液丹百粒，至四日覺大便滑，再二日，乃令吃麵食亦不妨，蓋治之早也。</p>
<p>一婦人病面腳皆腫，飲食減少，世醫皆作血虛治之，不效。余曰非血病，乃脾胃虛也，令日服延壽丹十粒、全真丹五十粒，至十日覺大便滑病愈。</p>
<p>（俞翰林母七旬余，平日患咳喘痰紅，常服滋陰涼潤之劑，秋月忽患水腫，喘急難臥，日漸腫脹，飲食少進，進則氣急欲死，諸醫用藥無效，乃延予治。六脈弦大而急，按之益勁而空。予曰：此三焦火氣虛憊，不能歸根，而浮於外，水隨氣奔，致充郛郭而溢皮腠，必須重溫以化，否則不救。彼云：吾素內熱，不服溫補，片姜入口，痰即帶紅，先生所論故是，第恐熱藥不相宜也。予曰：有是病，服是藥，成見難執。且六脈緊大，太陽已無根，無根即脫矣，此皆平日久股寒涼所致，若再舍溫補不用，恐無生理，請辭。彼云：但不迫動血證，敢不從命。予以附桂姜萸十味，人參三錢，不三劑而腹有皺文，八劑全消，飲食如故，又二劑，而全愈，痰喘吐紅舊證竟不發矣。）</p>
<p>（一婦因子遠出，甕飧不給，憂愁成病，變為水腫喘急，粥食不入者月餘矣。友人見余，談及此婦，乃謂予曰：肯做一好事否？予曰：既云好事焉敢違命。遂偕往。診見其六脈欲絕，臍突腰圓，喘難著席，脾腎之敗不可為矣。因處十味方，命服四劑，喘微定而腫漸消，覺思飲食，復診其脈，微有起色，又四劑而腫消食進矣。嗟！嗟！若棄而不治，雖不由我而死，而實我殺之也，友人亦大快。）</p>

<h2>臌脹</h2>
<p>此病之源，與水腫同，皆因脾氣虛衰而致，或因他病攻損胃氣致難運化，而腫大如鼓也。病本易治，皆由方書多用利藥，病人又喜於速效，以致輕者變重，重者變危，甚致害人。</p>
<p>黃帝正法：先灸命關百壯，固住脾氣，灸至五十壯，便覺小便長，氣下降。再灸關元三百壯，以保腎氣，五日內便安。服金液丹、草神丹，減後，只許吃白粥，或羊肉汁泡蒸餅食之。瘥後常服全真丹、來復丹。凡臌脹脈弦緊易治，沉細難痊。（此病若帶四肢腫者，溫之於早尚可奏功，若單腹脹而更青筋浮露者難治。苟能看破一切，視世事如浮雲，置此身於度外，方保無虞，次則慎起居，節飲食，遠房幃，戒情性，重溫急補，十中可救二三。先生之丹艾，用之得宜，其庶幾乎。）</p>
<p><u>治驗</u></p>
<p>一人因飲冷酒吃生菜成泄瀉，服寒涼藥，反傷脾氣，致腹脹。命灸關元三百壯，當日小便長，有下氣，又服保元丹半斤，十日即愈，再服全真丹永不發矣。</p>

<h2>暴注</h2>
<p>凡人腹下有水聲，當即服丹藥，不然變脾泄，害人最速。暴注之病，由暑月食生冷太過，損其脾氣，故暴注下泄，不早治，三五日瀉脫元氣。方書多作尋常治之，河間又以為火，用涼藥，每害人性命。</p>
<p>治法，當服金液丹、草神丹、霹靂湯、姜附湯皆可，若危篤者，灸命關二百壯可保，若灸遲則腸開洞泄而死。（脾泄之病世人輕忽，時醫亦邈視之，而不知傷人最速。鹽商薛汝良，午間注泄，晡時即厥冷不禁，及余診示已黃昏矣，兩手脈皆絕，予曰病已失守，不可為矣。速灸關元，重投參附，竟不能救，先生之論，誠非謬也。）</p>
<p><u>治驗</u></p>
<p>一人患暴注，因憂思傷脾也，服金液丹、霹靂湯不效，蓋傷之深耳。灸命關二百壯，大便始長，服草神丹而愈。</p>

<h2>休息痢</h2>
<p>痢因暑月食冷，及濕熱太過，損傷脾胃而致。若傷氣則成白痢，服如聖餅、全真丹、金液丹亦可；若傷血則成赤痢，服阿膠丸、黃芩芍藥湯。初起腹痛者，亦服如聖餅，下積血而愈，此其輕者也；若下五色魚腦，延綿日久，飲食不進者，此休息痢也，最重，不早治，十日半月，害人性命。</p>
<p>治法：先灸命關二百壯，服草神丹、霹靂湯三日便愈，過服寒涼下藥必死。（痢至休息無已者，非處治之瘥，即調理之誤，或飲食之過，所以止作頻仍，延綿不已，然欲使其竟止亦頗費手。有肺氣虛陷者，有腎陰不足者，有脾腎兩虧者，有經脈內陷者，有肝木乘脾者，有腐穢不清者，有固澀太早者，有三焦失運者，有濕熱傷脾者，有生陽不足者，有孤陰注下者，有暑毒未清者，有陰積腸蠱者，有風邪陷入者，一一體察，得其病情，審治的當，自能應手取效。）</p>
<p><u>治驗</u></p>
<p>一人病休息痢已半年，元氣將脫，六脈將絕，十分危篤。余為灸命關三百壯，關元三百壯，六脈已平，痢已止，兩脅刺痛，再服草神丹、霹靂湯方愈，一月後大便二日一次矣。</p>
<p>一人病休息痢，余令灸命關二百壯病愈。二日，變泄下，一時五七次，令服霹靂湯二服，立止。後四肢浮腫，乃脾虛欲成水脹也，又灸關元二百壯，服金液丹十兩，一月而愈。</p>

<h2>內傷</h2>
<p>由飲食失節，損其脾氣，輕則頭暈發熱，四肢無力，不思飲食，脈沉而緊，服來復、全真及平胃散；重者六脈浮緊，頭痛發熱，吐逆、心下痞，服蓽澄茄散，來復、全真而愈。若被庸醫轉下涼藥，重損脾氣，變生他病，成虛勞臌脹泄瀉等證，急灸中脘五十壯，關元百壯，可保全生，若服涼藥速死。（內傷之證，飲食其一端也，又有勞倦鬱怒，憂悲思慮，喜樂驚恐，惡怒奇愁，皆由七情不以次入，直傷五臟，更有由房室跌撲而成內傷者，臨證之工，不可不察。）</p>

<h2>霍亂</h2>
<p>霍亂由於外感風寒，內傷生冷，致陰陽交錯，變成吐瀉，初起服珍珠散二錢即愈，或金液丹百粒亦愈。如寒氣入腹，搏於筋脈，致筋抽轉，即以瓦爿燒熱，紙裹烙筋轉處，立愈。若吐瀉後，胃氣大損，六脈沉細，四肢厥冷，乃真陽欲脫。灸中脘五十壯，關元三百壯，六脈復生，不灸則死也。（霍亂之證，三焦失運，中土受傷。一時心疼腹痛，吐利頻作，揮霍撩亂，煩劇不寧。大法溫其三焦，調其中土，一劑可愈。至若厥冷無脈，非重用溫補不可，否則轉筋入腹而死。近世時醫不雲中暑，即言痧發，禁用官料，竟事涼冰，刺其廉英，針其曲澤，以大泄其血，不知脾胃受傷，中焦之榮血已竭，而復大泄之，譬下井而投以石也。此種醫人不顧人命，真狼心虎腹人耶！存救人之心者，當須體察。）</p>

<h2>暑月傷食泄瀉</h2>
<p>凡暑月飲食生冷太過，傷人六腑。傷胃則注下暴泄；傷脾則滑泄，米穀不化；傷大腸則瀉白，腸中痛，皆宜服金液丹、霹靂湯，三日而愈。不愈則成脾泄，急灸神闕百壯。（神闕恐是命關之誤。）《難經》雖言五泄，不傳治法，凡一應泄瀉，皆依此法治之。</p>
<p><u>治驗</u></p>
<p>一女人因泄瀉發狂言，六脈緊數，乃胃中積熱也。詢其丈夫，因吃胡椒、生薑太多，以致泄瀉，五日後發狂言，令服黃芩知母湯而愈。（平日恣啖炙爆，喜食椒姜，胃中積熱者，有此一證，臨證自明，然亦希遇。更有瀉脫津液，致舌胎乾燥，發熱神昏，譫妄不寧者，此脾胃大虛，法當溫補，若用寒涼，虛脫立見。）</p>

<h2>痢疾</h2>
<p>凡人多食生冷，濕熱傷其脾胃，致成痢疾。初起服如聖餅子，下積而愈；若無大便，止下赤膿者，乃胃有大熱傷血也，宜當歸芍藥湯、阿膠湯；若下白膿者，乃飲食冷物傷大腸也，服桃花湯、全真丹而愈；若腹痛發熱昏睡，六脈洪數，純泄赤膿，乃熱氣滯於腸胃也，名疳蠱痢，亦有錯服熱藥而得者，服黃連丸，甚者大通散。（痢疾固當化積清熱，香連、承氣等方，用果得宜，何嘗不應手而愈？若涉脾胃虛寒，經脈內陷，三焦失運而致者，又不可不以溫補為要也，蓋熱藥之誤，易於轉手，涼藥之誤，救治殊難。虛衷以應，臨證誤人自少。）</p>

<h2>傷脾發潮熱</h2>
<p>此因飲食失節，損及脾胃，致元氣虛脫，令頭昏腳弱，四肢倦怠，心下痞悶，午後發熱，乃元氣下入陰分也，服全真丹、蓽澄茄散，三月而愈。若服滋陰降火涼藥，其病轉甚，若俗醫用下藥，致病危篤，六脈沉細，灸中脘五十壯，關元一百壯，可保，遲則脾氣衰脫而死。（庸醫於此證，不知誤殺天下多少蒼生，而小兒為甚。午後發熱，不曰潮熱，便云陰虛；心下痞悶，不云食積，便云停痰。動輒寒涼，恣行消克，大人變為虛脫，小兒轉為脾風，而猶曰風暑難清，痰熱為害，及至垂斃，醫者云人力已竭，病家雲天數難挽，至死不悟，良可悲哉。）</p>

<h2>嘔吐反胃</h2>
<p>凡飲食失節，冷物傷脾，胃雖納受，而脾不能運，故作吐，宜二聖散、草神丹，或金液丹。若傷之最重，再兼六慾七情有損者，則飲蓄於中焦，令人朝食暮吐，名曰番胃，乃脾氣太虛，不能健運也，治遲則傷人。若用攻克，重傷元氣立死，須灸左命關二百壯，服草神丹而愈，若服他藥則不救。（嘔吐一證，先當審其所因，輕者二陳、平胃、藿香正氣一劑可定；虛者六君、理中亦易為力；唯重者，一時暴吐，厥逆汗出，稍失提防，躁脫而死，不可不知。至於番胃，雖屬緩證，治頗棘手，惟在醫者細心，病人謹攝，治以丹艾，庶可獲全，不然生者少矣。）</p>

<h2>痞悶</h2>
<p>凡飲食冷物太過，脾胃被傷，則心下作痞，此為易治，宜全真丹一服全好，大抵傷胃則胸滿，傷脾則腹脹。腹脹者易治，宜草神丹、金液、全真、來復等皆可服，寒甚者姜附湯。此證庸醫多用下藥，致一時變生，腹大水腫，急灸命關二百壯，以保性命，遲則難救。（此證乃《內經》所謂陽蓄積病死之證，不可以誤治也。若腹脹，所謂藏寒生滿病是也，苟不重溫，危亡立至。）</p>
<p><u>治驗</u></p>
<p>一人因暑月食冷物，以致胸腹脹悶欲死，服金液丹百丸，少頃加全真丹百丸，即有氣下降而愈。（夏月伏陰在內，一切冷物在所禁食，若不慎，而致傷者，不重劑溫化，惡得不變。）</p>
<p>一小兒食生杏致傷脾，脹悶欲死，灸左命關二十壯即愈，又服全真丹五十丸。（生杏在大人尚不可食，況小兒乎！溫中藥內入些少麝香為妙。）</p>
<p>一人每飯後飲酒，傷其肺氣，致胸膈作脹，氣促欲死，服鍾乳粉、五膈散而愈。若重者，灸中府穴亦好。服涼藥則成中滿難治矣。（酒後吃飯，中氣不傷，若飯後飲酒，清氣濁亂，所以致脹。）</p>
<p>一人慵懶，飲食即臥，致宿食結於中焦，不能飲食，四肢倦怠，令灸中脘五十壯，服分氣丸、丁香丸即愈。（修養書云：飯後徐徐行百步，自然食毒自消磨。食後即臥，食填中宮，升降有乖，焉得不病。）</p>

<h2>中暑</h2>
<p>凡此病脈大而緩，其候飲食不減，起居如常，但時發煩熱，渴飲無度，此暑證也，易治，知母散一服便愈。若煩熱困倦不食者，暑氣傷胃也，服溫中湯藥即愈。若服香薷、六一寒涼等劑，冰損胃氣，多致變瘧痢泄瀉諸證，慎之。若暑氣客於心包絡之經，令人譫言煩渴，欲飲冷水，小便秘澀，大便下赤水，當服阿膠丸、當歸芍藥湯而愈。若暑月飲食冷物，寒邪入客胃中，致腹中作痛，宜金液、草神、全真、來復等丹連二服便愈。若以涼藥下之，變為中滿脾泄。若元氣虛，早間行路，冷氣入腹，令人心肚作痛，宜服金液丹或來復丹。凡暑月人多食冷物，若常服金液、全真、來復、保元等丹，自然脾胃調和，飲食不傷，但少壯人須五日一次，恐熱上攻眼目也。</p>
<p>（中暑之證，原只尋常，苟渴飲無度，知母散可一服；若困倦不食，便當溫中；設暑客於心包絡，譫煩飲冷，溺澀便赤，清心涼血，皆一劑可愈者。若今之醫家，將一切內傷虛寒之證，亦認為暑，恣用寒涼，朝夕靡已，及變陰深冷脫，猶云暑邪內攻，病勢深重，難挽回矣。間遇明眼高手，投以參附，猶且從中阻撓。洎投之有效，輒靦顏支飾：我原欲轉手，不謂渠意亦同。投之不效，讒言蜂起，一肩卸卻，罪歸參附。病家本不識病情，未免隨之怨悵，嗟！嗟！此種醫人，天良盡喪，予具熱腸，常遭此輩謗累，因書此以志慨。）</p>

<h2>暑月脾燥病</h2>
<p>凡夏月冷物傷脾，又兼暑氣客之，則成燥病，令人發熱作渴不止，六脈弦大，乃火熱傷肺而津液不能上輸也，有脾胃之分。若發燥熱而能食者，熱在胃也，易治，服全真丹、蓽澄茄散而愈。若發燥熱不進飲食，四肢倦怠，熱在脾也，為重，服金液、草神或來復等丹，五日而愈。如作暑治，下以涼藥，熱雖暫退，必變為中滿、洞泄諸證。暑月發熱，務分虛實，六脈沉數，飲食如常者，為實熱，服薄荷煎而愈；若六脈弦緊，減食倦怠者，為虛熱，大忌寒涼，宜全真、來復等丹而愈。（夏月發熱作渴，脈弦而大，誰肯不作暑治而不用寒涼者，不知暑熱熏蒸，耗人元氣，元氣既傷，未有不渴。冷物傷脾，有乖輸灌；三焦失運，腠理不和，發熱作渴，自所不免。且六脈弦大，弦則為減，大則為虛，體驗果真，一溫可解。今之醫家，專尚香薷、青蒿、黃連、滑石等劑，變為瀉泄，猶云協熱，及至虛脫，全然不覺。此由脈理未明，誤主作賊之誤也。）</p>
<p>凡夏月陰氣在腹，又暑能傷人元氣，更兼冰水冷物損其脾胃，皆不足證也。《局方》俱用香薷飲、白虎、益元、黃連解毒等劑，重傷元氣，輕則變瘧痢、霍亂、泄瀉等證，重則成虛勞、中滿、注瀉等證。余常以保元、來復、全真、金液、延壽、姜附湯等類治暑，百發百中，好生之士請嘗試之。</p>

<h2>兩脅連心痛</h2>
<p>此證由憂思惱怒，飲食生冷，醉飽入房，損其脾氣，又傷肝氣，故兩脅作痛。庸醫再用寒涼藥，重傷其脾，致變大病，成中滿、番胃而死。或因惱怒傷肝，又加青陳皮、枳殼實等重削其肝，致令四肢羸瘦，不進飲食而死。治之正法，若重者，六脈微弱，羸瘦，少飲食，此脾氣將脫，急灸左命關二百壯，固住脾氣則不死，後服金液、全真、來復等丹及蓽澄茄散隨證用之，自愈。（此證古法，在左為肝木為病，瘀血不消，惱怒所傷；在右則為痰，為飲，為食積氣滯，此皆標病易於治療。若宗氣有乖，虛里作楚，榮氣失調，脾絡作痛，此非積漸溫養不愈。至若兩脅連心，痛如刀刺，此三陰受殞，逆於膈肓之間，非重用溫補不可。又肥氣、息賁，此積在藏之募原，若泥古方，專於剝削，未有不死者也。）</p>

<h2>消渴</h2>
<p>此病由心肺氣虛，多食生冷，冰脫肺氣，或色欲過度，重傷於腎，致津不得上榮而成消渴。蓋腎脈貫咽喉，系舌本，若腎水枯涸，不能上榮於口，令人多飲而小便反少，方書作熱治之，損其腎元，誤人甚多。正書，春灸氣海三百壯，秋灸關元二百壯，日服延壽丹十丸，二月之後，腎氣復生。若服降火藥，暫時有效，日久肺氣漸損，腎氣漸衰，變成虛勞而死矣。此證大忌酒色，生冷硬物。若脾氣有餘，腎氣不足，則成消中病，脾實有火，故善食而消，腎氣不足，故下部少力，或小便如疳。孫思邈作三焦積熱而用涼藥，損人不少。蓋脾雖有熱，而涼藥瀉之，熱未去而脾先傷敗。正法先灸關元二百壯，服金液丹一斤而愈。（消渴雖有上中下之分，總由於損耗津液所致，蓋腎為津液之原，脾為津液之本，本原虧而消渴之證從此致矣。上消者，《素問》謂之鬲消，渴而多飲，小便頻數。中消者《索問》謂之消中，消穀善飢，身體消瘦。下消者，《素問》謂之肺消，渴而便數有膏。飲一溲二；後人又謂之腎消，腎消之證則已重矣。若脈微而澀或細小，身體瘦瘁，溺出味甘者，皆不治之證也，大法以救津液，壯水火為生。）</p>
<p><u>治驗</u></p>
<p>一人頻飲水而渴不止，余曰：君病是消渴也，乃脾肺氣虛，非內熱也。其人曰，前服涼藥六劑，熱雖退而渴不止，覺胸脅氣痞而喘。余曰：前證止傷脾肺，因涼藥復損元氣，故不能健運而水停心下也。急灸關元、氣海各三百壯，服四神丹，六十日津液復生。方書皆作三焦猛熱，下以涼藥，殺人甚於刀劍，慎之。（津液受傷，不惟消渴，亦兼雜病，而誤用寒涼者不少，時醫以此殺人，而人不悟奈何。）</p>

<h2>著惱病</h2>
<p>此證方書多不載，人莫能辨，或先富後貧，先貴後賤，及暴憂暴怒，皆傷人五臟。多思則傷脾，多憂則傷肺，多怒則傷肝，多欲則傷心，至於憂時加食則傷胃。方書雖載內因，不立方法，後人遇此皆如虛證治之，損人性命。其證若傷肝脾則泄瀉不止，傷胃則昏不省人事，傷腎則成癆瘵，傷肝則失血筋攣，傷肺則咯血吐痰，傷心則顛冒，當先服姜附湯以散邪，後服金液丹以保脾胃，再詳其證而灸之。若脾虛灸中府穴各二百壯，腎虛灸關元穴三百壯，二經若實，自然不死。後服延壽丹，或多服金液丹而愈，涼藥服多，重損元氣則死。（此證皆因七情所傷，五志之過，審其所因而調治之，庶無失誤。）</p>
<p><u>治驗</u></p>
<p>一人年十五，因大憂大惱，卻轉脾虛，庸醫用五苓散及青皮、枳殼等藥，遂致飲食不進，胸中作悶。余令灸命關二百壯，飲食漸進，灸關元五百壯，服姜附湯一二劑，金液丹二斤方愈，方書混作勞損，用溫平小藥誤人不少，悲夫！（大憂惱而得脾泄，醫用五苓、青皮、枳殼，變尚如此，近有六脈虛脫，脾腎敗壞，猶云不妨而用此藥者，又庸醫中之廝隸也。）</p>

<h2>頭暈</h2>
<p>此證因冷痰聚於腦，又感風寒，故積而不散，令人頭旋眼暈，嘔吐痰涎，老年人宜服附子半夏湯，少壯人宜服半夏生薑湯。若用涼劑則暫時有效，痰愈凝而愈固，難以速效矣。（此即所謂頭風證，故有冷痰聚腦，又感風寒之說，若頭暈則純屬於虛，蓋肝虛則血不上榮，肺虛則清陽不運，腎虛則厥成顛疾，心虛則火炎浮越。夫風虛痰火，間或有之，至於頭風虛證不少，不可不知。）</p>
<p><u>治驗</u></p>
<p>一人頭風，發則旋暈嘔吐，數日不食。余為針風府穴，向左耳入三寸，去來留十三呼，病人頭內覺麻熱，方令吸氣出針，服附子半夏湯永不發。華佗針曹操頭風，亦針此穴立愈。但此穴入針，人即昏倒，其法向左耳橫下針，則不傷大筋，而無暈，乃《千金》妙法也。（此針法奇妙，須與高手針家議之，方得無誤。）</p>
<p>一人起居如常，但時發頭痛，此宿食在胃脘也，服丁香丸十粒而愈。</p>

<h2>厥證</h2>
<p>《素問》云：五絡俱絕，形無所知，其狀若屍，名為屍厥。由憂思驚恐，致胃氣虛閉於中焦，不得上升下降，故昏冒強直，當灸中脘五十壯即愈。此證婦人多有之，小兒急慢驚風亦是此證，用藥無效，若用吐痰下痰藥即死，惟灸此穴，可保無虞。令服來復丹、蓽澄茄散而愈。（厥證《經》言詳矣，屍厥不過厥證之一端，外有血厥、痰厥、煎厥、薄厥，總皆根氣下虛之證，所謂少陰不至者厥也，又云內奪而厥，則為喑痱，此腎虛也。）</p>
<p><u>治驗</u></p>
<p>一婦人產後發昏，二目滯澀，面上發麻，牙關緊急，二手拘攣，余曰：此胃氣閉也。胃脈挾口環唇，出於齒縫，故見此證。令灸中脘穴五十壯，即日而愈。（產後血厥，倉公白薇散）</p>
<p>一婦人時時死去已二日矣，凡醫作風治之不效，灸中脘五十壯即愈。</p>

<h2>氣脫</h2>
<p>少年酒色太過，脾腎氣虛，忽然脫氣而死，急灸關元五百壯，服霹靂湯、姜附湯、金液丹久久而愈。此證須早治，遲則元氣亦脫，灸亦無及矣。（更有血脫、神脫、精脫、津脫、液脫，若汗脫即津液脫也。）</p>

<h2>死脈見</h2>
<p>此由少年七情六慾所損，故致晚年真氣虛衰，死脈見於兩手，或十動一止，或二十動一止，皆不出三年而死。又若屋漏、雀喙之類皆是死脈。灸關元五百壯，服延壽丹、保元丹六十日後，死脈方隱，此仙師不傳之妙法也。（雍正三年初冬，一董姓者，來求診脈。其脈，或二動一止，或七動一止，或十二動，或十七動一止，此心絕脈也。仲冬水旺，其何能生，姑定參、耆、茸、附、河車、臍帶、桂心、棗仁等方與之。服十劑，脈之歇止參差，不似前之有定數矣，又十劑而歇止少矣，又十劑六脈如常矣。噫！不可謂藥之無功也，且知治早，雖不用丹艾，亦有可生全者。）</p>

<h2>腰痛</h2>
<p>老年腎氣衰，又兼風寒客之，腰髖髀作痛，醫作風痹走痛，治用宣風散、趁痛丸，重竭真氣，誤人甚多。正法服姜附湯散寒邪，或全真丹，灸關元百壯，則腎自堅牢，永不作痛，須服金液丹，以壯元陽，至老年不發。（老年腰痛而作風氣痹證治者，多致大害，即使風痹，重用溫補亦能散去。）</p>

<h2>中風人氣虛中滿</h2>
<p>此由脾腎虛憊不能運化，故心腹脹滿，又氣不足，故行動則胸高而喘。切不可服利氣及通快藥，令人氣愈虛，傳為脾病，不可救矣。宜金液丹、全真丹，一月方愈。重者，灸命關、關元二百壯。（腎虛則生氣之原乏，脾虛則健運之力微，氣虛中滿之證作矣。又《內經》謂藏寒生滿病，醫人知此不行剝削，重劑溫補，為變者少矣。）</p>

<h2>老人兩脅痛</h2>
<p>此由胃氣虛積而不通，故脅下脹悶，切不可認為肝氣，服削肝寒涼之藥，以速其斃。服草神、金液十日，重者灸左食竇穴，一灸便有下氣而愈，再灸關元百壯更佳。（老人與病後及體虛人兩脅作痛，總宜以調理肝脾，更須察其兼證有無虛實，治頗不易。）</p>
<p><u>治驗</u></p>
<p>一人脾氣虛，好食冷物不消，常覺口中出敗卵臭，服草神丹即愈。若服全真、金液亦效。（脾胃既為食所傷，不可再施消克，唯治以溫化，則自健運矣。）</p>
<p>一人脾氣虛，致積氣留於脅下，兩肋常如流水，多服草神丹而愈。（脾虛致積，當用溫行，水流脅下，更仗溫化。）</p>

<h2>疝氣</h2>
<p>由於腎氣虛寒，凝積下焦，服草神丹，灸氣海穴自愈。（此證《內經》論五臟皆有，而後人以病由於肝，先生言因腎氣虛寒，總不若丹艾之妙。）</p>

<h2>吞酸</h2>
<p>凡人至中年，脾氣虛弱，又傷生冷硬物，不能運行，蘊積中焦，久之變為鬱火、停疾，故令噫氣，久則成中滿、腹脹之證。須服草神丹、全真丹、金液丹皆可。（吞酸為病雖微，致害非淺，苟不慎節飲食，戒謹房幃，久久無不變成臌脹。）</p>

<h2>脾瘧</h2>
<p>凡瘧病由於暑月多吃冰水冷物，傷其脾胃，久而生痰，古今議論皆差，或指暑邪，或分六經，或云邪崇，皆謬說也。但只有脾胃之分，胃瘧易治，脾瘧難調。或初起一日一發，或間日一發，乃陽明證也。清脾飲、截瘧丹皆可。若二三日一發，或午後發，綿延不止者，乃脾瘧也。此證若作尋常治之，誤人不少。正法當服全真、草神、四神等丹，若困重日久，肌膚漸瘦，飲食減少，此為最重，可灸左命關百壯，自愈。窮人艱於服藥，只灸命關亦可愈。凡久瘧止灸命關，下火便愈，實秘法也。（脾瘧原屬正虛，治得其法，應手即愈，而世人竟尚柴胡，攻多補少，不知元氣既虛，又拔其本，以致耽延時日，變端百出，先生灸法，實可宗主。）</p>
<p><u>治驗</u></p>
<p>一人病瘧月餘，發熱未退，一醫與白虎湯，熱愈甚。余曰：公病脾氣大虛，而服寒涼，恐傷脾胃。病人云：不服涼藥，熱何時得退。余曰：《內經》云瘧之始發，其寒也，烈火不能止；其熱也，冰水不能遏。當是時，良工不能措其手，且扶元氣，待其自衰。公元氣大虛，服涼劑退火，吾恐熱未去，而元氣脫矣。因為之灸命關，才五七壯，脅中有氣下降，三十壯全愈。（久瘧而用白虎，真所謂盲人說瞎話也。繆仲醇一代名醫，論多出此，竊所未解。予觀《廣筆記》，疑其所學，全無巴鼻，至於《本草經疏》，設立許多禁忌，令後人疑信相半，不敢輕用，為患匪細。）</p>

<h2>胃瘧</h2>
<p>《素問》論瘧而無治法，《千金》雖傳治法，試之無效。凡人暑月過啖冷物，輕則傷胃，重則傷脾。若初起先寒後熱，一日一發，乃胃瘧也，易治。或吐，或下，不過十日而愈。扁鵲正法，服四神丹，甚者灸中脘穴三十壯愈。（此證感淺病輕，人多忽略。雍正三年，秋冬之交，人皆病此，重劑溫補，或可倖免，投藥少瘥，立見冰脫。用清解小柴胡者，皆不能起，寧紹之人，死者比比，以其溺用寒涼，雖一誤再誤，而終不悟也。）</p>

<h2>邪祟</h2>
<p>此證皆由元氣虛弱，或下元虛憊，憂恐太過，損傷心氣，致鬼邪乘虛而入，令人昏迷，與鬼交通。當服睡聖散，灸巨闕穴二百壯，鬼氣自滅，服姜附湯而愈。（邪祟烏能著人，人自著之耳。果立身正直，心地光明，不負君親，無慚屋漏，鬼神欽敬不遑，何邪祟之敢乘哉，惟其陰幽偏頗，卑惵昏柔之輩，多能感此，有似邪祟之附著，究非邪祟也。蓋由人之藏氣受傷而神魂失守。故肝臟傷則意不寧，而白衣人來搏擊；心臟傷則神不安，而黑衣人來毀傷；脾臟傷則意有不存，而青衣人來毆辱；肺臟傷則魄不守，而紅衣人來凌轢；腎臟傷則志多猶疑，而黃衣人來斥辱。此皆神氣受傷，以致妄有聞見，不覺其見乎四體，發乎語言，而若有邪祟所附也。正法惟有安其神魂，定其志魄，審其何臟之虛而補之，何臟之乘而制之可也。）</p>
<p><u>治驗</u></p>
<p>一婦人因心氣不足，夜夜有少年人附著其體，診六脈皆無病，余令灸上脘穴五十壯。至夜鬼來，離床五尺不能近，服姜附湯、鎮心丹五日而愈。</p>
<p>一貴人妻為鬼所著，百法不效。有一法師書天醫符奏玉帝亦不效。余令服睡聖散三錢，灸巨闕穴五十壯，又灸石門穴三百壯，至二百壯，病人開眼如故，服姜附湯、鎮心丹五日而愈。</p>
<p>一婦人病虛勞，直氣將脫，為鬼所著，余用大艾火灸關元，彼難忍痛，乃令服睡聖散三錢，復灸至一百五十壯而醒。又服又灸，至三百壯，鬼邪去，勞病亦瘥。</p>

<h2>怔忡</h2>
<p>凡憂思太過，心血耗散，生冷硬物損傷脾胃，致陰陽不得升降，結於中焦，令人心下恍惚，當以來復丹、金液丹、蓽澄茄散治之。若心血少者，須用獨骸大丹，次則延壽丹亦可。（憂思之傷，怔忡之本證；飲食之傷，怔忡之兼證，微有虛實之殊。審證施治，自然無誤。）</p>

<h2>心痛</h2>
<p>皆由鬱火停痰而作，飲食生冷填於陽明、太陰分野，亦能作病，宜全真丹。若胃口寒甚，全真丹或姜附湯不愈，灸中脘七十壯。若脾心痛發而欲死，六脈尚有者，急灸左命關五十壯而蘇，內服來復丹，蓽澄茄散。若時痛時止，吐清水者，乃蛔攻心包絡也，服安蟲散。若卒心痛，六脈沉微，汗出不止，爪甲青，足冷過膝，乃真心痛也，不治。（心為一身之主宰，一毫不可犯，處正無偏，豈宜受病。凡痛非心痛，乃心之包絡痛與脾痛、胃痛、膈痛耳。審其所因、所客，或氣、或痰，雖有九種之分，虛實之異、大概虛者為多，屬實者間亦有之，審察而治，庶無差錯。）</p>

<h2>痹病</h2>
<p>風寒濕三氣合而為痹，走注疼痛，或臂腰足膝拘攣，兩肘牽急，乃寒邪湊於分肉之間也，方書謂之白虎歷節風。治法於痛處灸五十壯，自愈，湯藥不效，惟此法最速。若輕者不必灸，用草烏末二兩、白麵二錢，醋調熬成稀糊，攤白布上，乘熱貼患處，一宿而愈。（痹者，氣血凝閉而不行，留滯於五臟之外，合而為病。又邪入於陰則為痹，故凡治痹，非溫不可，方書皆作實治，然屬虛者亦頗不少。）</p>

<h2>神癡病</h2>
<p>凡人至中年，天數自然虛衰，或加妄想憂思，或為功名失志，以致心血大耗，癡醉不治，漸至精氣耗盡而死，當灸關元穴三百壯，服延壽丹一斤。此證尋常藥餌皆不能治，惟灸艾及丹藥可保無虞。（此乃失志之證，有似癡呆，或如神祟，自言自笑，神情若失，行步若聽，非大遂其志不能愈，故愈者甚少。）</p>
<p><u>治驗</u></p>
<p>一小兒因觀神戲受驚，時時悲啼如醉，不食已九十日，危甚，令灸巨闕五十壯，即知人事，曰：適間心上有如火滾下，即好。服鎮心丸而愈。（驚則神無所倚，痰涎入客包絡，宮城受傷，心不安寧，故肺氣來乘，而虛火上蒸。灸法之妙，愈於緩驚錠、抱龍丸多矣。）</p>
<p>一人功名不遂，神思不樂，飲食漸少，日夜昏默已半年矣，諸醫不效。此病藥不能治，令灸巨闕百壯、關元二百壯，病減半；令服醇酒一日三度，一月全安。蓋醺酣忘其所慕也。（失志不遂之病，非排遣性情不可，以灸法操其要，醉酒陶其情，此法妙極。）</p>

<h2>下注病</h2>
<p>貧賤人久臥濕地，寒邪客於腎經，又兼下元虛損，寒濕下注，血脈凝滯，兩腿粗腫，行步無力，漸至大如瓜瓠。方書皆以消濕利水治之，損人甚多，令灸湧泉、三里、承山各五十壯即愈。（俗名蘇木腿，形狀怪異可畏，終身之疾，鮮有愈者，先生灸法，未知驗否。）</p>

<h2>腳氣</h2>
<p>下元虛損，又久立濕地，致寒濕之氣，客於經脈，則雙足腫痛，行步少力。又暑月冷水濯足，亦成乾腳氣，發則連足心、腿胻，腫痛如火烙，或發熱、惡寒。治法灸湧泉穴，則永去病根，若不灸，多服金液丹亦好。平常藥暫時有效，不能全除。其不能行步者，灸關元五十壯。大忌涼藥，泄傷腎氣，變為中滿、腹脹而死。久患腳氣人，濕氣上攻，連兩脅、腰腹、肩臂拘攣疼痛，乃腎經濕盛也。服宣風丸五十粒，微下而愈。然審果有是證者可服，若虛人斷不可輕用。（腳氣壅疾，言邪氣壅滯於下，有如痹證之閉而不行。但此證發則上衝心胸，嘔吐、煩悶，甚為危險，即《內經》所謂厥逆是也。輕者，疏通經脈，解散寒濕，調其陰陽，和其血氣，亦易於治。如蘇梗、腹皮、木瓜、檳榔、蒼朮、獨活等藥，皆可用也。其甚者憎寒、壯熱、氣逆、嘔吐、筋急入腹，悶亂欲絕，此邪衝入腹，危險更甚，非重用溫化不可，如茱萸、姜附等藥，宜皆用之。至如剝削過度，脈微欲絕，變成虛寒，往往不起，不可謂壅疾而不利於補也。）</p>
<p><u>治驗</u></p>
<p>一人患腳氣，兩䯒骨連腰，日夜痛不可忍，為灸湧泉穴五十壯，服金液丹五日全愈。（此證有似痛痹。）</p>
<p>一女人患腳氣，忽手足遍身拘攣疼痛，六脈沉大，乃胃氣盛也，服宣風丸三十粒，泄去而愈。（此證須細審的確，方可用。）</p>

<h2>足痿病</h2>
<p>凡腰以下腎氣主之，腎虛則下部無力，筋骨不用，可服金液丹，再灸關元穴，則腎氣復長，自然能行動矣。若腎氣虛脫，雖灸無益。（此證《內經》皆言五臟虛熱，故後人有補陰虎潛、金剛、地黃等丸。東垣又作濕熱，而以潛行散為治痿妙藥，然不可泥也。虛寒之證亦頗不少，臨證審詳，自有分曉。）</p>
<p><u>治驗</u></p>
<p>一老人腰腳痛，不能行步，令灸關元三百壯，更服金液丹強健如前。</p>

<h2>黃疸</h2>
<p>暑月飲食冷物，損傷脾腎。脾主土，故見黃色，又脾氣虛脫，濁氣停於中焦，不得升降，故眼目遍身皆黃，六脈沉緊。宜服草神丹，及金液、全真、來復之類，重者灸食竇穴百壯，大忌寒涼。（此證第一要審陰陽，陽黃必身色光明，脈來洪滑，善食發渴，此皆實證，清濕熱利小便可愈，若身熱脈浮亦可發表。陰黃則身色晦暗，神思困倦，食少便溏。脈來無力，重用溫補，則小便長而黃白退，若誤作陽黃治之，為變非細。又一種膽黃證，因大驚卒恐，膽傷而汁泄於外，為病最重，惟覺之早，而重用溫補者，尚可挽回。）</p>
<p><u>治驗</u></p>
<p>一人遍身皆黃，小便赤色而澀，灸食竇穴五十壯，服姜附湯、全真丹而愈。</p>

<h2>黑疸</h2>
<p>由於脾腎二經，縱酒貪色則傷腎，寒飲則傷脾，故兩目遍身皆黃黑色，小便赤少，時時腸鳴，四肢困倦，飲食減少，六脈弦緊，乃成腎癆。急灸命關三百壯，服草神丹、延壽丹而愈，若服涼藥必死。</p>

<h2>便閉</h2>
<p>老人氣虛及婦人產後少血，致津液不行，不得通流，故大便常結，切忌行藥，是重損其陰也。止服金液丹，久久自潤，或潤腸丸亦可。又大小便主腎，腎開竅於二陰，能運行津液，若腎氣虛則二便皆不通，亦服金液丹，腎氣壯則大小便自利矣。（有陳姓鹽商，年七十六矣。春時患中風脫證，重劑參附二百餘服，獲痊。至十月大便閉結不行，日登廁數十次，冷汗大出，面青肢厥。一馬姓醫，用滋補劑，入生大黃三錢。予深以為不可，戒之曰：老年脫後，幸參附救全，不能安養，過於思慮，以致津液枯竭，傳送失宜。惟可助氣滋津，佐以溫化，自然流通，何事性急，以速其變。若一投大黃，往而不返，恐難於收功矣，姑忍二三日勢當自解。病者怪予遲緩，口出怨咎之辭。至次日不得已，用人參二兩、蓯蓉一兩、當歸五錢、松柏仁各五錢、附子三錢、升麻四錢，煎服；外用綠礬一斤入圊桶，以滾水衝入，扶其坐上，一刻而通。）</p>

<h2>溺血</h2>
<p>凡膏粱人，火熱內積，又多房勞，真水既涸，致陰血不靜，流入膀胱，從小便而出。可服延壽丹，甚者灸關元。若少壯人，只作火熱治之，然在因病制宜。（火熱為積，實證也，一劑寒涼可解；房勞傳腎，虛證也，非溫補不可。審證而治，大有分別。）</p>

<h2>淋證</h2>
<p>此由房事太過，腎氣不足，致包絡凝滯，不能通行水道則成淋也，服檳榔湯、鹿茸丸而愈。若包絡閉澀，則精結成砂子，從莖中出，痛不可忍，可服保命丹，甚者灸關元。（淋濁之證，古人多用寒涼分清通利之品，然初起則可，久而虛寒，又當從溫補一法。）</p>

<h2>腸癖下血</h2>
<p>此由飲食失節，或大醉大飽，致腸胃橫解，久之冷積於大腸之間，致血不流通，隨大便而出，病雖尋常，然有終身不愈者。庸醫皆用涼藥止血，故連綿不已。蓋血愈止愈凝，非草木所能治也。正法：先灸神闕穴百壯，服金液丹十兩，日久下白膿，乃病根除也。（《經》云：陰絡傷則血內溢，血內溢則後血。治此之法，總在別其脈之強弱，色之鮮暗，該清、該溫，愈亦不難。若不慎飲食，恣縱酒色，斷不能愈矣。）</p>

<h1>卷下</h1>

<h2>陰莖出膿</h2>
<p>此由酒色過度，真氣虛耗，故血化為膿，令人漸漸羸瘦，六脈沉細。當每日服金液丹、霹靂湯，外敷百花散。五六日，腹中微痛，大便滑，小便長。忌房事，犯之復作。若灸關元二百壯，則病根去矣。（遺滑淋濁，無不由酒色之過，至於血出，可謂劇矣。又至化血為膿，則腎虛寒而精腐敗，非溫補不可。更須謹戒，若仍不慎，必致泄氣而死。）</p>

<h2>腸癰</h2>
<p>此由膏粱飲酒太過，熱積腸中，久則成癰，服當歸建中湯自愈。若近肛門者，用針刺之，出膿血而愈。（此證身皮甲錯，腹皮急脹如腫，甚者腹脹大，轉有水聲，或繞臍生瘡，若臍間出膿者不治。大法以口□為主，若膿成□□□而殞。）</p>

<h2>腸痔</h2>
<p>此由酒肉飲食太過，致經脈解而不收，故腸裂而為痔。服金液丹可愈，外取鼠腐（當是婦字）蟲十枚，研爛攤紙上貼之，少刻痛止。若老人患此，須灸關元二百壯，不然腎氣虛，毒氣下注，則難用藥也。（凡系咳嗽吐血後，大腸並肺虛極，而熱陷於大腸，多難收功，若專於治痔，而不顧本原，未有不致斃者。）</p>

<h2>膏肓病</h2>
<p>人因七情六慾，形寒飲冷，損傷肺氣，令人咳嗽，胸膈不利，惡寒作熱，可服全真丹。若服冷藥，則重傷肺氣，令人胸膈痞悶，昏迷上奔，口中吐冷水，如含冰雪，四肢困倦，飲食漸減，此乃冷氣入於肺中，侵於膏肓，亦名冷勞。先服金液丹，除其寒氣，再用姜附湯十日可愈，或服五膈散、撮氣散，去肺中冷氣，重者灸中府三百壯可愈。（形寒飲冷之傷，初起原不甚深重，醫人不明此證，誤與涼藥，積漸冰堅，致成膏肓之疾。及至氣奔吐冷，寒熱無已，不思轉手溫補，仍與以滋陰退熱等劑，以致不起，非是病殺，乃醫殺也。）</p>
<p><u>治驗</u></p>
<p>有一人暑月飲食冷物，傷肺氣，致咳嗽胸膈不利，先服金液丹百粒，泄去一行，痛減三分，又服五膈散而安。但覺常發，後五年復大發，灸中府穴五百壯，方有極臭下氣難聞，自後永不再發。（世醫不審病因，動云暑月熱氣傷肺，一派寒涼，致水氣不消，變成大病。）</p>

<h2>噎病</h2>
<p>肺喜暖而惡寒，若寒氣入肺或生冷所傷，又為庸醫下涼藥冰脫肺氣，成膈噎病。覺喉中如物塞，湯水不能下，急灸命關二百壯，自然肺氣下降而愈。（噎病之多死者，皆由咽中堵塞，飲食不進，醫人畏用熱藥，多用寒涼潤取其滋補，焉能得生，用先生灸法甚妙，奈人不能信用，何哉。）</p>
<p>又有肺寒一證，令人頭微痛，多清涕，聲啞，惡寒，肩背拘攣，脈微浮緊，當服華蓋散，重則姜附湯，忌冷物。此證不可誤認作癆證治，故表而出之。（肺寒之證，世醫不識，不能用溫散，但用桑皮、貝母、麥冬、玉竹等味壅住寒邪，做成弱證者多矣。）</p>

<h2>咳嗽</h2>
<p>咳嗽多清涕者，肺感風寒也，華蓋散主之。若外感風寒，內傷生冷，令人胸膈作痞，咳而嘔吐，五膈散主之。咳嗽煩躁者，屬腎，石膏丸主之。大凡咳嗽者，忌服涼藥，犯之必變他證，忌房事，恐變虛勞。久咳而額上汗出，或四肢有時微冷，間發熱困倦者，乃勞咳也。急灸關元三百壯，服金液丹，保命丹，姜附湯，須早治之，遲則難救。（治咳嗽之法，若如先生因證制宜，焉有癆瘵不治之患，無如醫者輒以芩知桑杏為要藥，致肺氣冰伏，脾腎虛敗，及至用補又不過以四君、六味和平之劑、和平之藥與之，所謂養殺而已。）</p>

<h2>咳㗇病</h2>
<p>此證方書名為哮喘，因天寒飲冷，或過食鹽物，傷其肺氣，故喉常如風吼聲，若作勞則氣喘而滿。須灸天突穴五十壯，重者灸中脘穴五十壯，服五膈散，或研蚯蚓二條，醋調服立愈。（哮證遇冷則作，逢勞則甚，審治得當，愈亦不難，然少有除根者，先生此法甚妙，請嘗試之。）</p>

<h2>失血</h2>
<p>凡色欲過度，或食冷物太過，損傷脾肺之氣，故令人咯血。食前服鍾乳粉、金液丹，食後服阿膠散而愈。若老年多於酒色，損傷脾氣則令人吐血，損傷腎氣則令人瀉血，不早治多死。當灸關元三百壯，服姜附湯、金液丹自愈。傷肺氣則血從鼻出，名曰肺衄，乃上焦熱氣上攻也。服金液丹或口含冷水，以鬱金末調塗項後，及鼻柱上。凡肺衄不過數杯，如出至升斗者，乃腦漏也。（當作腦衄為是。）由真氣虛而血妄行，急針關元三寸，留二十呼立止，再灸關元二百壯，服金液丹、草神丹可保。（失血之證，世人所畏，而醫人亦多縮手，其畏者為殞命之速，而成癆瘵之易，縮手者，恐不識其原，而脫體之難。不知能究其原，察其因，更觀其色，辨其脈，或起於形體之勞，或成於情志之過，由於外感者易治，出於內傷者難痊。絡脈與經隧有異，經隧重而絡脈輕；肝脾與肺腎不同，肺腎難而肝脾易。苟不訛其治法，雖重難亦可挽回，唯在辨別其陰陽，權衡其虛實，溫清補瀉，各得其宜。不可畏其炎焰，專尚寒涼，逐漸消伐其生氣，而致不可解者比比矣。）</p>
<p><u>治驗</u></p>
<p>一人患腦衄，日夜有數升，諸藥不效。余為針關元穴，入二寸留二十呼，問病人曰：針下覺熱否？曰：熱矣。乃令吸氣出針，其血立止。</p>
<p>一法治鼻衄與腦衄神方，用赤金打一戒指，帶左手無名指上，如發作時，用右手將戒指捏緊，箍住則衄止矣。</p>

<h2>腎厥</h2>
<p>凡人患頭痛，百藥不效者，乃腎厥。服石膏丸、黑錫丹則愈，此病多酒多色人則有之。</p>
<p>（《經》云：厥成為巔疾，又云：少陰不至者厥也。頭痛之證，腎虛者多，若用他藥，斷難奏效，惟大溫補為是，溫補不效其丹艾乎。）</p>
<p><u>治驗</u></p>
<p>一人因大惱悲傷得病，晝則安靜，夜則煩悗，不進飲食，左手無脈，右手沉細，世醫以死證論之。余曰：此腎厥病也。因寒氣客脾腎二經，灸中脘五十壯，關元五百壯，每日服金液丹、四神丹。至七日左手脈生，少頃，大便下青白膿數升許，全安。此由真氣大衰，非藥能治，惟艾火灸之。（此證非灸法不愈，非丹藥不效，二者人多不能行，醫人僅用泛常藥以治，其何能生。）</p>

<h2>脾勞</h2>
<p>人因飲食失節，或吐瀉、服涼藥致脾氣受傷，令人面黃肌瘦，四肢困倦，不思飲食，久則肌肉瘦盡，骨立而死。急灸命關二百壯，服草神、金液，甚者必灸關元。（先天之原腎是也，後天之本脾是也。人能於此二臟，謹攝調養，不使有乖，自然臟腑和平，經脈運行，榮衛貫通，氣血流暢，又何勞病之有？病至於勞則已極矣，非重溫補何由得生。虞範溪強立五勞之證，所用皆系溫平涼劑，以此災梨禍棗，實是貽害後人。）</p>

<h2>腎勞</h2>
<p>夫人以脾為母，以腎為根，若房事酒色太過則成腎勞，令人面黑耳焦，筋骨無力。灸關元三百壯，服金液丹可生，遲則不治。</p>

<h2>頭痛</h2>
<p>風寒頭痛則發熱、惡寒、鼻塞、肢節痛，華蓋、五膈、消風散皆可主。若患頭風兼頭暈者，刺風府穴，不得直下針，恐傷大筋，則昏悶。向左耳橫紋針下，入三四分，留去來二十呼，覺頭中熱麻是效。若風入太陽則偏頭風，或左或右，痛連兩目及齒，灸腦空穴二十一壯，其穴在腦後入髮際三寸五分，再灸目窗二穴，在兩耳直上一寸五分，二十一壯，左痛灸左，右痛灸右。（頭風之病，證候多端，治得其法者殊少，致為終身痼疾，先生刺灸二法甚妙，無如醫者不知，病者畏痛奈何。）</p>

<h2>眼病</h2>
<p>肝經壅熱上攻，致目生昏翳，先服洗肝散數劑，後服撥雲散，其翳自去。若老年人腎水枯涸，不能上榮於目，致雙目昏花，漸至昏暗，變為黃色，名曰內障，服還睛丹，半月目熱上攻，勿懼。此乃腎氣復生，上朝於目也。如覺熱，以手掌揉一番，光明一番，一月間，光生復舊矣。（眼科用藥，不循紀律，只用一派發散寒涼，所謂眼垃圾是也。倘能盡如先生之法而行之，天下喪明者少矣。）</p>
<p><u>治驗</u></p>
<p>余家女婢，忽二目失明，視之又無暈翳，細思此女，年少精氣未衰，何緣得此證，良由性急多怒，有傷肝臟，故經脈不調而致，遂與密蒙花散一料，如舊光明矣。（病有萬變，醫止一心，線索在手，頭緒逼清，何懼病體之多端，不愁治療之無術。）</p>

<h2>夢泄</h2>
<p>凡人夢交而不泄者，心腎氣實也；夢而即泄者，心腎氣虛也。此病生於心腎，非藥可治。當用紙捻長八寸，每夜緊繫陰囊，天明解之，自然不泄。若腎氣虛脫，寒精自出者，灸關元六百壯而愈。若人一見女子精即泄者，乃心腎大虛也，服大丹五兩，甚者灸巨門五十壯。（仲景云：陰寒精自出，酸削不能行。可知精之不固，由於陽之不密。先生云：腎氣虛脫，寒精自出，則溫補下元為得法矣。世醫苟明此理，以治遺精，必不專事寒涼，而治人夭枉矣。）</p>

<h2>奔豚</h2>
<p>此由腎氣不足，又兼濕氣入客小腸，連臍發痛，或上或下，若豚之奔，或痛連外腎成疝氣者，服塌氣散、茱萸丸、金鈴子丸或蟠蔥散。（奔豚與疝不同，混淆不得，從小腹而上，抵心者，奔豚也；從少腹而上逆臍，肙氣與橫弦，冐疝也；從陰囊而上衝心膈，痛欲死者，沖疝也；從少腹而下連腎區者，小腸與狐疝也。是有差別，不可不審。）</p>

<h2>肺膈痛</h2>
<p>此證因肺虛，氣不下降，寒氣凝結，令人胸膈連背作痛，或嘔吐冷酸水，當服五膈散自愈。（此證治若失宜，久久必成膈證。）</p>

<h2>骨縮病</h2>
<p>此由腎氣虛憊，腎主骨，腎水既涸則諸骨皆枯，漸至短縮，治遲則死。須加灸艾，內服丹附之藥，非尋常草木藥所能治也，（凡人年老，逐漸矬矮，其猶骨縮之病乎。）</p>
<p><u>治驗</u></p>
<p>一人身長五尺，因傷酒色，漸覺肌肉消瘦，予令灸關元三百壯，服保元丹一斤，自後大便滑，小便長，飲食漸加，肌肉漸生，半年如故。（此自消瘦，與骨縮有間，不知何緣附此，中間疑有缺文。）</p>

<h2>手顫病</h2>
<p>四肢為諸陽之本，陽氣盛則四肢實，實則四體輕便。若手足顫搖不能持物者，乃真元虛損也。常服金液丹五兩，姜附湯自愈。若灸關元三百壯則病根永去矣。（手足顫搖，終身痼疾，若傷寒初起如是者，多難治。若過汗傷營而致者，宜以重劑扶陽，加以神氣昏亂者，亦不治。）</p>

<h2>老人便滑</h2>
<p>凡人年少，過食生冷硬物麵食，致冷氣積而不流，至晚年脾氣一虛，則脅下如水聲，有水氣則大便隨下而不禁，可服四神丹、姜附湯，甚者灸命關穴。此病須早治，遲則多有損人者。又脾腎兩虛，則小便亦不禁，服草神丹五日即可見效。（老人大便不禁，溫固灸法為妥，若連及小便而用草神丹，中有硃砂、琥珀，恐非其宜。）</p>

<h2>老人口乾氣喘</h2>
<p>老人脾虛則氣逆衝上逼肺，令人動作便喘，切不可用削氣苦寒之藥，重傷其脾，致成單腹脹之證。可服草神丹、金液丹、姜附湯而愈，甚者灸關元穴。腎脈貫肺系舌本，主運行津液，上輸於肺，若腎氣一虛，則不上榮，故口常乾燥，若不早治，死無日矣。當灸關元五百壯，服延壽丹半斤而愈。（口乾氣喘，系根元虛而津液竭，庸醫不思補救，猶用降削苦寒之品，不慚自己識力不真，而妄掃溫補之非宜，及至暴脫，更卸過於前藥之誤。此輩重臺下品，本不足論，但惜見者聞者，尚不知其謬妄，仍奉之如神明，重蹈覆轍者，不一而足，豈不哀哉。）</p>

<h2>耳聾</h2>
<p>有為風寒所襲而聾者，有心氣不足而聾者，當服一醉膏，滾酒下，汗出而愈。若多酒色人，腎虛而致聾蔽者，宜先服延壽丹半斤，後服一醉膏。若實聾則難治。（腎開竅於耳，又胃之宗氣別走於耳，故耳聾一證屬虛者多，今言心氣不足，而用一醉膏，此理未解。又云實聾者難治，尚俟細參。琦按：人於六十外，精神強健，不減少壯，而惟耳重聽，乃腎氣固藏之徵，多主老壽不須醫治。此書所謂若實聾則難治者，當是指此一種。）</p>

<h2>氣癭</h2>
<p>若山居人，溪澗中，有姜理石，飲其水，令人生癭瘤，服消風散。（當是消癭散。）初者服姜附湯。若血癭、血瘤則不可治，妄治害人。</p>

<h2>三蟲</h2>
<p>三蟲者，蛔蟲，蟯蟲，寸白蟲也。幼時多食生冷硬物，及腥厭之物，久之生蟲。若多食牛肉，則生寸白。其蛔蟲長五六寸，發則令人心痛，吐清水，貫心則死。寸白蟲如葫蘆子，子母相生，長二三寸，發則令人腹痛。蟯蟲細如髮，隨氣血周遊遍身，出皮膚化為瘋癩，住腹中，為蟯瘕，穿大腸為痔漏，俱宜服安蟲散。若人穀道癢痛，當用輕粉少許服之，來日蟲盡下，寸白蟲亦能下。</p>
<p><u>治驗</u></p>
<p>一婦人病腹脹諸藥不效，余令解腹視之，其皮黃色光如鏡面，乃蟯瘕也。先炙牛肉一斤，令食後用生麻油調輕粉五分服之，取下蟯蟲一合，如線如須狀，後服安蟲散而愈。</p>

<h2>蠱毒</h2>
<p>閩廣之人，以諸蟲置一器內，令其互相啖食，候食盡而獨存者即蠱也。中其毒則面目黃腫，心腹脹滿疼痛，或吐涎血，久則死矣。初得時用皂角一挺，槌根二兩水煎濃汁二盞，臨臥服之，次早取下毒物後，用以萬歲藤根，濕紙裹煨熟，每日空心嚼五枚，生麻油送下，三日毒從大便出。凡人至川廣每日飲食，宜用銀箸，箸白即無妨，箸黑即有毒也。</p>

<h2>癇證</h2>
<p>有胎癇者，在母腹中，母受驚，驚氣衝胎，故生子成疾，發則仆倒，口吐涎沫，可服延壽丹，久而自愈。有氣癇者，因惱怒思想而成，須灸中脘穴而愈。（胎癇出於母腹，俗所謂三搐成癇者也。氣癇由於七情，故大病後及憂苦人，並縱性貪口腹人率多患此。醫書雖有陰陽五臟之分，然皆未得其要，而愈者蓋寡。先生此法直中肯綮，予用之而獲效者多矣。）</p>
<p><u>治驗</u></p>
<p>一人病癇三年餘，灸中脘五十壯即愈。</p>
<p>一婦人病癇已十年，亦灸中脘五十壯愈。凡人有此疾，惟灸法取效最速，藥不及也。</p>

<h2>瘰癧</h2>
<p>此證由憂思惱怒而成，蓋少陽之脈，循脅繞頸環耳，此即少陽肝膽之氣，鬱結而成。亦有鼠涎墮食中，食之而生，是名鼠癧。治法俱當於瘡頭上灸十五壯，以生麻油調百花膏敷之，內服平肝順氣之劑，日久自消。切不可用斑蝥、石灰、砒霜之類。（《內經》所謂陷脈為瘻，留連肉腠。此風邪外傷經脈，留滯於肉腠之間，而為瘰癧，乃外感之輕者也。《靈樞經》所謂腎臟受傷，水毒之氣出於上，而為鼠瘻。失治多至殞命，乃內傷之重者也。）</p>

<h2>婦人</h2>
<p>婦人除妊娠外，有病多與男子相同，但男子以元陽為主，女子以陰血為主，男子多腎虛為病，女子多衝任虛為病。蓋沖為血海，任主胞胎，血信之行，皆由衝任而來，若一月一次為無病，愆期者為虛，不及期者為實，脈沉細而澀，月信不來者，虛寒也。血崩者，衝任虛脫也。崩者，倒也。白帶者，任脈冷也。任為胞門子戶，故有此也。發熱減食，皆為氣血脾胃之虛；不減食，止發熱者，心臟虛也。此外疾病治法皆與男子同。（婦人另立一科，原屬無謂，業方脈者，不知男女之分，陰陽之異，衝任之原，月信之期，胎孕之病，產乳之疾者，則是走方小技之儔，烏得稱大方哉。）</p>

<h2>子嗣</h2>
<p>婦人血旺氣衰則多子，氣旺血衰則無子。若發黑，面色光潤，肌膚滑澤，腋隱毛稀，乃氣衰血旺也，主多子。若發黃，面無光彩，肌肉粗澀，腋隱毛多，乃氣旺血衰也，主無子。若交合時，女精先至，男精後沖者，乃血開裹精也，主成男。若男精先至，女精後來者，乃精開裹血也，主成女。若男女精血前後不齊至者，則不成胎。（為子嗣計者，重在擇婦，婦人端莊則生子凝重。交合有節，則生子秀美。既生之後，又須選擇乳母，兒吮其乳，習其教導，往往類之。先天性情雖稟於父母，而後天體局往往多肖乳母。）</p>

<h2>血崩</h2>
<p>《經》云：女子二七而天癸至，任脈通，太衝脈盛，月事以時下，若因房事太過，或生育太多，或暴怒內損真氣，致任脈崩損，故血大下，卒不可止，如山崩之驟也。治宜阿膠湯、補宮丸半斤而愈。切不可用止血藥，恐變生他病，久之一崩不可為矣。若勢來太多，其人作暈，急灸石門穴，其血立止。（血崩之證，乃先後天衝任經隧周身之血，悉皆不能收持，一時暴下，有如山崩水溢，不可止遏，非重劑參附補救不能生也，間有屬實者，當以形證求之。）</p>

<h2>帶下</h2>
<p>子宮虛寒，濁氣凝結下焦，衝任脈（即子宮也）不得相榮，故腥物時下。以補宮丸、膠艾湯治之。甚者灸胞門、子戶穴各三十壯，不獨病愈而且多子。（帶下之證，十有九患，皆由根氣虛而帶脈不收引，然亦有脾虛陷下者，有濕濁不清者，有氣虛不攝者。有陽虛不固者，先生單作子宮虛寒，誠為卓見。）</p>

<h2>乳癰</h2>
<p>良田藏氣虛衰，血脈凝滯，或為風寒所客著而成癰矣。若陽明蘊熱，亦能成此。先覺憎寒壯熱，服救生湯一劑，若遲三五日，宜多服取效。</p>

<h2>胎逆病</h2>
<p>妊娠後，多於房事，或食冷物不消，令人吐逆不止，下部出惡物，可服金液丹、霹靂散即好。（胎逆即惡阻，俗所謂病兒是也。苟能慎起居，戒房事，節飲食，不但無病兒之患，而生子亦多易育，若謹攝已當，而仍病者，是系孕婦體弱，氣血多虛故耳。）</p>

<h2>午後潮熱</h2>
<p>若飲食減少，四肢倦怠，午後熱者，胃氣虛也。若起居如常，但發煩熱，乃胃實心氣盛也。服茜草湯五日愈。</p>

<h2>臍中及下部出膿水</h2>
<p>此由真氣虛脫，衝任之血不行，化為膿水，或從臍中，或從陰中，淋瀝而下，不治即死。灸石門穴二百壯，服金液丹、姜附湯愈。（臍為神闕穴，上脾下腎，不可有傷，若出膿水，先後天之氣泄矣，焉得不死。）</p>

<h2>婦人卒厥</h2>
<p>凡無故昏倒，乃胃氣閉也，灸中脘即愈。（貪食多欲之婦，多有此證。）</p>

<h2>產後虛勞</h2>
<p>生產出血過多，或早於房事，或早作勞動，致損真氣，乃成虛勞。脈弦而緊，咳嗽發熱，四肢常冷，或咯血吐血，灸石門穴三百壯，服延壽丹、金液丹，或鍾乳粉，十日減，一月安。（凡虛勞而其脈弦緊者，病已劇矣，況在生產而出血過多者乎！急投溫補，唯恐已遲，苟或昧此，尚欲滋陰，愈無日矣。）</p>

<h2>小兒</h2>
<p>小兒純陽，其脈行疾，一息六七至為率，遲冷數熱與大人脈同。但小兒之病，為乳食所傷者，十居其半，發熱用平胃散，吐瀉用珍珠散，頭痛發熱，恐是外感，用蓽澄茄散，穀食不化，用丁香丸，泄瀉用金液丹。（小兒之脈較之大人固是行疾，第略差半至一至為率，若六七至，非平脈也。平脈而六七至，則數脈將八至矣，脈至八至非脫而何。）</p>

<h2>驚風</h2>
<p>風木太過，令人發搐，又積熱蓄於胃脘，胃氣瞀閉，亦令卒僕，不知人事。先服碧霞散吐痰，次進知母黃芩湯，或青餅子、硃砂丸皆可。若脾虛發搐，或吐瀉後發搐乃慢驚風也，灸中脘三十壯，服姜附湯而愈。（小兒之急驚、慢驚，猶大人中風之閉證、脫證，溫清補瀉，審病當而用藥確，自無差訛。）</p>

<h2>斑疹</h2>
<p>（即痘子）</p>
<p>小兒斑疹，世皆依錢氏法治之，此不必贅。但黑泡斑及縮陷等證，古今治之，未得其法，以為火而用涼藥治者，十無一生。蓋此乃汙血逆於皮膚，凝滯不行，久則攻心而死。黃帝正法，用霹靂湯、姜附湯。凡多死之證，但用此法，常有得生者。蓋毒血死於各經，決無復還之理。唯附子健壯，峻走十二經絡，故用此攻之，十中常生八九。於臍下一寸，灸五十壯，則十分無事。若以涼藥凝冰其血，致遍身青黑而死，此其過也。世俗凡遇熱證，輒以涼藥投之，熱氣未去，元氣又漓，此法最不良。余每遇熱證，以知母五錢煎服，熱即退，元氣無損，此乃秘法。（錢氏之法，後世兒醫咸遵守之，以五行五色而分五臟之證，以順逆險而為難易不治之條，所用之藥不過溫平無奇，陽熱之逆誠可救全，陰寒之逆，百無一愈。其後陳氏雖云得法，十中或救一二，不若先生之論，闡千古之秘奧，為救逆之神樞。兒醫苟能奉行，自然夭枉者少矣。每見世俗一遇逆證，勿論陰陽，輒云火閉，石膏、黃連、大黃用之不厭，人皆信之，至死不悔。近時費氏《救偏瑣言》一出，庸子輒又奉為典型。在證藥相合者，雖偶活其一二，而陰寒之證，亦以其法治之，冤遭毒害者，不知凡幾矣。）</p>

<h2>小兒午後潮熱</h2>
<p>小兒午後潮熱，不屬虛證，乃食傷陽明，必腹痛吐逆，宜用來復丹、蓽澄茄散。</p>

<h2>吐瀉</h2>
<p>小兒吐瀉因傷食者，用珍珠散；因胃寒者，用姜附湯，吐瀉脈沉細，手足冷者，灸臍下一百五十壯；慢驚吐瀉灸中脘五十壯。（人家肯用姜附，小兒亦已幸矣，若灼艾至一百五十壯，以此法勸之，斷乎不允，只索托之空言耳。）</p>

<h2>面目浮腫</h2>
<p>此證由於冷物傷脾，脾虛不能化水穀，致寒飲停於中焦，輕者面目浮腫，重者連陰囊皆腫。服金液丹，輕者五日可愈，重者半月全愈，當飲軟粥半月，硬物忌之。（金液丹洵是活命之神藥，但世人不識。在大人尚有許多疑慮，小兒焉肯用哉。）</p>

<h2>咳嗽</h2>
<p>小兒肺寒咳嗽，用華蓋散；若服涼藥，並止咳藥更咳者，當服五膈散；若咳嗽面目浮腫者，服平胃散；咳而面赤者，上焦有熱也，知母黃芩湯。（咳而面赤屬上焦實熱者，宜用知母黃芩，若咳甚而面赤兼嘔涎沫者，則當以溫補氣血為宜。）</p>

<h2>溏瀉</h2>
<p>冷氣犯胃，故水穀不化，大便溏滑，甚則脫肛者，厚腸散、半硫丸主之。</p>

<h2>腹脹</h2>
<p>冷物傷脾則作脹，來復丹、全真丹皆可用。</p>

<h2>痢疾</h2>
<p>痢因積滯而成者，如聖餅化積而愈；暑熱所傷，下赤而腫者，黃連丸；腹痛者，當歸芍藥湯；寒邪客於腸胃下白者，姜附湯、桃花丸。</p>

<h2>水瀉</h2>
<p>火熱作瀉，珍珠散；食積作瀉，如聖餅、感應丸。</p>

<h2>胎寒腹痛</h2>
<p>藏氣虛則生寒，寒甚則腹痛，亦有胎中變寒而痛者。調硫黃粉五分，置乳頭令兒吮之即愈。三四歲者，服來復丹。</p>

<h2>下血</h2>
<p>暑中於心，傳於小腸，故大便下血，宜當歸建中湯。</p>

<h2>牙疳</h2>
<p>胃脈絡齒榮牙床，胃熱則牙縫出血，犀角化毒丸主之。（出《局方》。）腎虛則牙齒動搖，胃虛則牙床潰爛，急服救生丹，若齒齦黑，急灸關元五十壯。（牙齒動搖或有知其腎虛者，至牙床潰爛，誰不曰胃火上攻，敢服救主丸並灸關元者鮮矣。）</p>

<h2>螻蛄癤</h2>
<p>風寒凝於髮際，或冷水沐頭，小兒頭上生癤，麻油調百花散塗之。如腦癰初起，亦服救生湯。</p>

<h2>禿瘡</h2>
<p>寒熱客於發腠，浸淫成瘡，久之生蟲，即於頭上，灸五十壯自愈。看其初起者，即是頭也。</p>

<h2>水沫瘡</h2>
<p>小兒腿胻間有瘡，若以冷水洗之，寒氣浸淫遂成大片，甚至不能步履。先以蔥椒姜洗挹干，又以百花散糝之，外以膏藥貼之，出盡毒水，十日全愈。</p>

<h2>周身各穴</h2>
<p>巨闕（在臍上五寸五分）　中脘（在臍上四寸）　神闕（在臍中）　陰交（在臍下一寸）　氣海（在臍下一寸五分）　石門（在臍下二寸三分，女人忌灸，即胞門子戶）　關元（在臍下三寸）　天柱（在一椎下兩旁齊肩）　肺俞（在三椎旁挾脊各相去一寸五分）　心俞（在五椎下挾脊各相去一寸五分）　肝俞（在九椎旁挾脊各相去一寸五分）　脾俞（在十一椎旁挾脊各相去一寸五分）　腎俞（在十四椎下兩旁挾脊各相去一寸五分）　腰俞（在二十一椎下間）　湧泉（在足心陷中）　承山（在崑崙上一尺肉間陷中）　三里（四穴，二在曲池下一寸，即手腕下一寸；二在膝下三寸，胻骨外大筋內宛宛中）　中府（在乳上三肋骨中）　食竇（即命關，在中府下六寸）　天突（在結喉下四寸宛中）　地倉（一名胃維，挾口吻旁四分）　上星（在鼻上入髮際一寸）　前頂（入髮際四寸五分）　目窗（當目上入髮際一寸五分）　腦空（在腦後入髮際三寸五分）　風府（入髮際一寸）</p>

<h1>神方</h1>

<h2>金液丹</h2>
<p>（一名保元丹，一名壯陽丹。）</p>
<p>余幼得王氏《博濟方》云：此丹治百種欲死大病，竊嘗笑之，恐無是理。比得扁鵲方，以此冠首，乃敢遵用，試之於人，屢有奇效，始信聖人立法非不神也，乃不信者自誤耳。此方古今盛行，莫有疑議，及孫真人著《千金方》，乃言硫黃許多利害，後人畏之，遂不敢用。亦是後人該墮夭折，故棄大藥而求諸草木，何能起大病哉。余觀今人之病皆以溫平藥，養死而不知悔，余以此丹起數十年大病於頃刻，何有發疽之說，孫真人之過也。凡我同志請試驗之，自見奇效。</p>
<p>此丹治二十種陰疽，三十種風疾，一切虛勞，水腫，脾泄，注下，休息痢，消渴，肺脹，大小便閉，吐衄，尿血，霍亂，吐瀉，目中內障，屍厥，氣厥，骨蒸潮熱，陰證，陰毒，心腹疼痛，心下作痞，小腹兩脅急痛，胃寒，水穀不化，日久膀胱疝氣膨膈，女人子宮虛寒，久無子息，赤白帶下，臍腹作痛，小兒急慢驚風，一切疑難大病，治之無不效驗。</p>
<p>舶上硫黃十斤，用銅鍋熬化，麻布濾淨，傾入水中，再熬再傾，如此七次，研細，入陽城罐內，蓋頂鐵絲扎定，外以鹽泥封固八分厚陰乾。先慢火煅紅，次加烈火，煅一炷香，寒爐取出，埋地中三日，去火毒，再研如粉，煮蒸餅為丸，梧子大。每服五十丸或三十丸，小兒十五丸。氣虛人宜常服之，益壽延年功力最大。一切牛馬六畜吐食者，灌硫末立愈，一切雞鵝鴨瘦而欲死者，飼以硫末。可以立愈且易肥。</p>
<p><u>作蒸餅法</u></p>
<p>清明前一日，將乾麵打成薄餅，內放乾麵，包裹陰乾。</p>

<h2>保命延壽丹</h2>
<p>此丹治癰疽，虛勞，中風，水腫，臌脹，脾泄，久痢，久瘧，屍厥，兩脅連心痛，夢泄，遺精，女人血崩、白帶，童子骨蒸勞熱，一切虛羸，黃黑疸，急慢驚風百餘種欲死大病，皆能治之。一粒勝金液丹十粒，久服延年益壽。</p>
<p>硫黃　明雄黃　辰砂　赤石脂　紫石英　陽起石（火煅醋淬三次）</p>
<p>每味各二兩，研作粗末，同入陽城罐，蓋頂，鐵絲扎定，鹽泥封固厚一寸，陰乾。掘地作坑，下埋一半，上露一半，烈火煅一日夜，寒爐取出。研細，醋丸梧子大。每服十粒，空心送下，童男女五粒，小兒二三粒，俱見成效。</p>

<h2>大丹</h2>
<p>此丹補腎氣，駐顏色，活血脈，壯筋骨，輕步履，明耳目，延年益壽。治虛勞，發熱，咳嗽，咯血，骨蒸盜汗，怔忡，驚悸，一切陰疽冷漏，小兒斑痘縮陷，水腫，臌脹，黃黑疸，一切虛羸大病，功同延壽丹，常服可壽百歲余。但富貴人方得合此，貧者難合，只服金液丹亦妙也。</p>
<p>大硃砂一斤（要有牆壁者），為粗末，入陽城罐。先用蜜拌，安砂在底，次以瞿麥末、草烏末、菠蔆末各五錢，以雞子清五錢拌勻，蓋在砂上。以罐蓋蓋住，鐵絲紮好，鹽泥封固陰乾，掘地作坑，下埋五分，上露五分，烈火煅一日夜，寒爐取出。研細，醋打半夏糊丸芡實大，滑石為衣，以發光彩。銀器收貯，每服五粒或三粒，空心面東熱酒下。凡用入藥中，併為衣者，俱如此制，則無毒，可放心服。</p>

<h2>中丹</h2>
<p>此丹補腎氣，壯筋骨，延年不老，治脾瘧，黃黑疸，脾泄久痢，虛腫水腫，女人血崩白帶，骨蒸勞熱，小兒急慢驚風及暴注腸滑，洞泄，中風，諸般瘡毒，皆效。</p>
<p>雄黃（十兩）　赤石脂（二兩）</p>
<p>其共為粗末，亦用前五味拌制，如大丹法，取研極細，醋糊丸芡實大。大人服十丸，小兒三五丸，空心熱酒或米飲下。</p>

<h2>三黃丹</h2>
<p>此丹治中滿，胸膈痞悶，中風，痰喘氣急，大便虛秘，功與中丹同，但略峻耳。</p>
<p>雄黃　雌黃　硫黃</p>
<p>各五兩為粗末，製法如大丹。研極細，醋糊丸芡實大。每服十丸，空心米飲下。</p>

<h2>四神丹</h2>
<p>此丹治病，功力與延壽丹同，治虛證更多，能止怔忡、驚悸諸般大病。</p>
<p>同前三黃丹，外加辰砂五錢。</p>
<p>製法、合法、丸法俱如前。每服四十丸，空心白湯下。</p>

<h2>五福丹</h2>
<p>此丹功力與延壽丹、中丹同，又能壯陽治陽萎，於腎虛之人功效更多。</p>
<p>雄黃　雌黃　硫黃　辰砂　陽起石</p>
<p>各五兩。製法、合法、丸法皆如前，每服三四十丸，空心米飲下。</p>

<h2>紫金丹</h2>
<p>此丹補脾腎虛損，活血壯筋骨，治下元虛憊，子宮寒冷，月信不調，臍腹連腰疼痛，面黃肌瘦，泄瀉精滑，一切虛損之證。</p>
<p>代赭石（燒紅醋淬七次）　赤石脂（製法同）　禹餘糧（製法同）</p>
<p>各五兩，共研細末。入陽城罐，鹽泥封固一寸厚，陰乾，大火煅三炷香，冷定。再研極細，醋糊丸芡實大。每服十丸，熱酒送下。</p>

<h2>全真丹</h2>
<p>此丹補脾腎虛損，和胃，健下元，進飲食，行濕氣。治心腹刺痛，胸滿氣逆，脅下痛，心腹脹痛，小便頻數，四肢厥冷，時發潮熱，吐逆泄瀉，暑月食冷物不消，氣逆痞悶，男女小兒面目浮腫，小便赤澀淋瀝，一切虛寒之證。</p>
<p>高良薑（炒，四兩）　乾薑（炒，四兩）　吳茱萸（炒，三兩）　大附子（制）　陳皮　青皮（各一兩）</p>
<p>上為末，醋糊丸梧子大。每服五十丸，小兒三十丸，米飲下。無病及壯實人不宜多服。</p>

<h2>來復丹</h2>
<p>此丹治飲食傷脾，心腹作痛，胸膈飽悶，四肢厥冷；又治傷寒陰證，女人血氣刺痛，或攻心腹。或兒枕作痛及諸鬱結之氣，真良方也。</p>
<p>陳皮（去白）　青皮　大川附（制）　五靈脂（各六兩）　硝石　硫黃（各三兩）</p>
<p>上為末，蒸餅丸梧子大。每服五十丸，白湯下。</p>

<h2>草神丹</h2>
<p>此丹大補脾腎，治陰毒傷寒，陰疽痔漏，水腫臌脹，中風半身不遂，脾泄暴注，久痢，黃黑疸，虛勞發熱，咳嗽咯血，兩脅連心痛，胸膈痞悶，脅中如流水聲，童子骨蒸，小兒急慢驚風，痘疹變黑縮陷，氣厥卒僕，雙目內障，吞酸逆氣，痞積血塊，大小便不禁，奔豚疝氣，附骨疽，兩足少力，虛汗不止，男子遺精夢泄，沙石淋，溺血，婦人血崩血淋，暑月傷食，腹痛嘔吐痰涎，一切疑難大病。此丹乃藥中韓信也，取效最速，好生君子，廣試驗之，知不誣也。</p>
<p>川附子（制，五兩）　吳茱萸（泡，二兩）　肉桂（二兩）　琥珀（五錢，用柏子煮過另研）　辰砂（五錢，另研）　麝香（二錢，另研）</p>
<p>先將前三味為細末，後入琥珀、辰砂、麝香三味，共研極勻。蒸餅丸梧子大。每服五十丸，米飲下，小兒十丸。</p>

<h2>（神方）姜附丹</h2>
<p>此丹補虛助陽消陰，治傷寒陰證，癰疽發背，心胸作痛，心腹痞悶，喉痹，頤項腫，湯水不下，及虛勞發熱，咳嗽吐血，男婦骨蒸勞熱，小兒急慢驚風，痘疹縮陷，黑泡水泡斑，脾勞面黃肌瘦，腎勞面白骨弱，兩目昏翳內障，脾瘧久痢，水瀉米穀不化，又能解利兩感傷寒，天行瘟疫，山嵐瘴氣及不時感冒等證。</p>
<p>生薑（切片，五兩）　川附子（炮切片、童便浸，再加薑汁炒乾，五兩）</p>
<p>共為末。每服四錢，水一盞，煎七分和渣服。若治中風不語，半身不遂，去附子用川烏去黑皮，製法與附子同。</p>

<h2>霹靂湯</h2>
<p>治脾胃虛弱，因傷生冷成泄瀉，米穀不化，或脹、或痛、或痞，胸脅連心痛，兩脅作脹，單腹臌脹，霍亂吐瀉，中風半身不遂，脾瘧黃疸，陰疽入蝕骨髓，痘疹黑陷，急慢驚風，氣厥發昏，又能解利陰陽傷寒，諸般冷病寒氣。</p>
<p>川附（泡去皮臍，五兩）　桂心（去皮盡，二兩）　當歸（二兩）　甘草（一兩）</p>
<p>共為細末。每服五錢，水一大盞，生薑七片，煎至六分和渣通口服，小兒止一錢。</p>

<h2>救生湯</h2>
<p>治一切癰疽發背，三十六種疔，二十種腫毒。若初起憎寒壯熱，一服即熱退身涼，重者減半，輕者全愈。女人乳癰、乳岩初起，薑蔥發汗立愈。又治手足痰塊紅腫疼痛，一服即消。久年陰寒冷漏病，一切瘡毒，服之神效。</p>
<p>芍藥（酒炒）　當歸（酒洗）　木香（忌火）　丁香（各五錢）　川附（炮，二兩）</p>
<p>共為細末。每服五錢，加生薑十片，水二盞煎半，和渣服。隨病上下，食前後服。</p>

<h2>鍾乳粉</h2>
<p>治勞咳咯血，老人上氣不得臥，或膈氣腹脹，久咳不止，及喉風、喉腫，兩目昏障，童男女骨蒸勞熱，小兒驚風，胎前產後發昏不省人事，一切虛病，能先於臍下灸三百壯，後服此藥，見效如神。蓋虛勞乃腎氣欲脫，不能上榮於肺，此藥是潤肺生水之劑，後因邪說盛行，以致此藥隱閒。丹溪云：多服發渴淋。此言甚謬，余家大人服三十年，未嘗有此疾，故敢附此。服此藥須忌人參、白朮二味。</p>
<p>石鐘乳一斤煅成粉製法見李時珍《本草》內，再入石鼎煮三炷香，研極細。每服三錢，煎粟米湯下。但此藥難得真者，多以滴乳石亂之，真者浮水，性松，煅易成粉。</p>

<h2>蓽澄茄散</h2>
<p>治脾胃虛滿，寒氣上攻於心，心腹刺痛，兩脅作脹，頭昏，四肢困倦，吐逆發熱，泄瀉飽悶等證。</p>
<p>蓽澄茄　高良薑　肉桂　丁香　厚朴（薑汁炒）　桔梗（去蘆）　陳皮　三稜（炮，醋炒）　甘草（各一兩五錢）　香附（制，三兩）</p>
<p>為細末。每服四錢，姜三片，水一盞，煎七分，和渣服。</p>

<h2>半硫丸</h2>
<p>治胃虛心腹脹滿，嘔吐痰涎，頭目旋暈，困倦不食，或大便滑泄，水穀不化，小兒面目浮腫，小便赤淋。</p>
<p>半夏（姜礬牙皂煎水炒）　倭硫　生薑（各五兩）</p>
<p>同搗碎，水浸蒸餅糊丸，梧子大。每服五十丸，小兒二三十丸，白湯下。</p>

<h2>滲濕湯</h2>
<p>治脾胃虛寒，四肢困倦，骨節痠疼，頭暈鼻塞，惡風，多虛汗，痰飲不清，胸滿氣促，心腹脹悶，兩脅刺痛，霍亂吐瀉。此藥能暖脾胃，闢風寒，祛瘴疫，除風濕。</p>
<p>厚朴（二兩）　丁香　甘草　附子（各一兩）　砂仁　乾薑　肉果（麵裹煨透）　高良薑（各八錢）</p>
<p>銼碎。每用五錢加姜三片，棗三枚，水一盞煎七分，去渣空心服。</p>

<h2>生薑半夏湯</h2>
<p>治風痰上攻，頭旋眼花，痰壅作嗽，面目浮腫。</p>
<p>生薑　半夏（各三兩）</p>
<p>共搗餅陰乾為末。每服四錢，加姜五片，水煎溫服。</p>

<h2>附子半夏湯</h2>
<p>治胃虛，冷痰上攻，頭目旋暈，眼昏嘔吐等證。</p>
<p>川附　生薑（各一兩）　半夏　陳皮（去白，各二兩）</p>
<p>共為末，每服七錢，加姜七片，水煎服。</p>

<h2>平胃湯</h2>
<p>治老人氣喘咳嗽。</p>
<p>葶藶（炒，一兩）　官桂（去粗皮，一兩，另研）　馬兜鈴（去絲蒂，三兩）</p>
<p>共為末。每用三錢，水一盞煎七分，於食後細細呷之。</p>

<h2>太白丹</h2>
<p>療咳嗽，化痰涎。</p>
<p>枯礬（煨）　寒水石（煅）　元精石（煅，各四兩）　半夏（制）　天蟲（炒去絲）　天南星（制）　白附子（各二兩）</p>
<p>上為末。麵糊丸（麵糊即蒸餅也）梧子大，每服三十丸，食後薑湯下。</p>

<h2>鹿茸丸</h2>
<p>溫補下元，疏通血脈，明目輕身。</p>
<p>鹿茸（一具，去毛酥炙）　鹿角霜（二兩）　川楝子（炒取淨肉）　青皮　木香（各一兩）</p>
<p>上為末。蒸餅丸梧子大，每服三十丸，空心鹽湯下。</p>

<h2>黃藥子散</h2>
<p>治纏喉風，頤頜腫及胸膈有痰，湯水不下者，用此吐之。</p>
<p>黃藥子即斑根一兩為細末，每服一錢，白湯下，吐出頑痰即愈。</p>

<h2>八風湯</h2>
<p>治中風半身不遂，言語謇塞，口眼喎斜。先灸臍下三百壯，後服此藥永不再發。若不加灸，三年後仍發也。</p>
<p>當歸　防己　人參　秦艽　官桂　防風　釵斛　芍藥　黃耆　甘草　川芎　紫菀　石膏　白蘚皮　川烏　川羌活　川獨活　黃芩　麻黃（去節）　乾薑　遠志各等分，銼為末。每服五錢，水酒各半，煎八分，食前服。</p>

<h2>八風丹</h2>
<p>治中風，半身不遂，手足頑麻，言語謇塞，口眼喎斜。服八風湯，再服此丹，永不再發。</p>
<p>大川烏（炮）　荊芥穗（各四兩）　當歸（二兩）　麝香（另研，五錢）</p>
<p>上為末。酒糊丸，梧子大，空心酒下，五十丸。中風者不可缺此。</p>

<h2>換骨丹</h2>
<p>治中風半身不遂，言語謇澀，失音中風者。先灸臍下三百壯，服金液丹一斤，再服此藥。</p>
<p>當歸　芍藥　人參　鐵腳威靈仙（各二兩）　南星（三兩）　乳香（去油，二兩）　沒藥（去油，二兩）　麻黃（去節，三斤，另煎汁和上藥）</p>
<p>上各為末。先將前五味和勻，後入乳香、沒藥以麻黃膏和勻為丸，如彈子大。每以無灰酒下一丸，出汗，五日一服。仍常服延壽丹、金液丹。</p>

<h2>三五七散</h2>
<p>治賊風入耳，口眼喎斜之證。</p>
<p>人參　麻黃（去節）　川芎　官桂　當歸（以上各一兩）　川烏　甘草（各五錢）</p>
<p>上為末。每服二錢，茶下，日三次。</p>

<h2>蜜犀丸</h2>
<p>治半身不遂，口眼喎斜，語言不利，小兒驚風，發搐。</p>
<p>槐角（炒，四兩）　當歸　川烏　元參（炒，各二兩）　麻黃　茯苓（乳拌）　防風　薄荷　甘草（各一兩）　豬牙皂角（去皮弦子，炒，五錢）　冰片（五分，另研）</p>
<p>先以前十味為末，後入冰片和勻，蜜丸櫻桃大。每服一丸，小兒半丸，細嚼茶清下。</p>

<h2>白龍丸</h2>
<p>治風邪言語不遂等證，面如蟲行，手足麻木，頭旋眼暈及傷風、傷寒，頭痛拘急，小兒急慢驚風，大人風搐失音，並皆治之。</p>
<p>天南星（四兩，以生薑四兩同搗成餅）　川烏　甘草　藁本　甘松　白芷　桂心（各二兩）　海桐皮（一兩）　石膏（二兩，煅研極細）</p>
<p>以前八味共為末，糯米糊丸彈子大，石膏為衣，茶清下，大人一丸，小兒半丸。若治傷寒，薑蔥湯下，出汗。</p>

<h2>華蓋散</h2>
<p>治傷寒頭痛發熱，拘急，感冒，鼻多清涕，聲音不清。大能解利四時傷寒，瘟疫瘴氣等證。</p>
<p>麻黃（四兩，浸去沫）　蒼朮（八兩，米泔浸）　陳皮　官桂　杏仁（去皮尖）　甘草（各二兩）</p>
<p>共為末。每服四錢，水盞半，煎八分，食前熱服，取汗。</p>

<h2>祛風散</h2>
<p>治風寒頭痛，遍身拘急，破傷風，洗頭風，牙槽風，肩背痓直，口噤。</p>
<p>天南星（二兩，泡）　生薑（一兩，同南星制）　防風（二兩）　甘草（一兩）</p>
<p>共為末。每服四錢，姜七片水煎服，取汗，無汗再服。</p>

<h2>當歸柴胡湯</h2>
<p>治傷寒頭痛，發熱惡寒，肢節痛，吐逆。</p>
<p>柴胡（五錢）　半夏（二錢，以生薑一錢同搗）　當歸（一錢）　甘草（五分）</p>
<p>加薑、棗，以水二盞煎至八分，熱服取汗，微微即止。</p>

<h2>大通散</h2>
<p>治傷寒胃中有熱，或服熱藥太多，發狂言，棄衣而走，登高而歌，或腹痛下血，但實熱者用之，虛人大忌。</p>
<p>大黃（二錢）　枳實（麩炒，二錢）　甘草（一錢）</p>
<p>水煎空心熱服，不利再服，得利即止。</p>

<h2>知母黃芩湯</h2>
<p>治傷寒胃中有熱，心覺懊憹，六脈洪數，或大便下血。</p>
<p>知母（二錢）　黃芩（二錢）　甘草（一錢）</p>
<p>水煎熱服。</p>

<h2>當歸芍藥湯</h2>
<p>治中暑下血，血痢腹痛。</p>
<p>當歸　芍藥（各二錢）</p>
<p>水煎熱服。</p>

<h2>四順散</h2>
<p>治中暑冷熱不調，大便下赤白膿。</p>
<p>川黃連（酒炒）　當歸　芍藥（各二錢）　御米殼（去隔膜，醋炒，二錢）</p>
<p>加生薑七片水煎，食前熱服。</p>

<h2>知母散</h2>
<p>解一切煩熱，口乾作渴飲水，若系實熱，皆以此解之，不損元氣。若困倦減食者，乃胃虛發熱也，不可服涼藥，當以溫中為主。</p>
<p>知母（五錢，鹽水炒，研末）　姜（三片）</p>
<p>水一盞煎六分溫服。</p>

<h2>朮附湯</h2>
<p>治六七月中濕，頭疼，發熱惡寒，自汗，遍身疼痛。</p>
<p>附子（炮，一兩）　白朮（土炒，二兩）　甘草（炒，五錢）</p>
<p>共為末。每服五錢，姜七片，水煎熱服。</p>

<h2>截瘧丹</h2>
<p>治一切瘧疾，但瘧不宜截，宜補。</p>
<p>硫黃（一兩）　雌黃（色紅出陰山，一兩）　砒霜（一錢）</p>
<p>為末，入罐內，鹽泥封固，陰乾，打火三香，冷定取出，醋糊丸梧子大。每服五丸，空心米飲下。凡用砒要將蘿蔔切去蓋，下段挖空入砒，以蓋蓋好，紙包火煨透存性取出。今此丹系打火煉過，不必蘿蔔制。</p>
<p>為丸時須研和極勻，若欠勻恐砒有多有少，多處，或致損傷人命。</p>

<h2>良薑理中湯</h2>
<p>治虛瘧、久瘧脾胃虛弱，若初起為冷物所傷，亦用此方。</p>
<p>高良薑　乾薑（炒）　草果（去殼炒，各二兩）</p>
<p>為末。每服四錢水煎空心服。</p>

<h2>建中湯</h2>
<p>治久發瘧疾，脾胃虛弱，胸膈腹中飽悶，痞塊兩脅連心痛，四肢沉重，發熱，泄瀉，羸瘦等證。</p>
<p>附子（炮）　白朮（土炒，各二兩）　芍藥（酒炒，四兩）　甘草（炒）　乾薑（炒）　草果（去殼炒，各一兩）</p>
<p>為末。每服五錢水煎熱服。</p>

<h2>二聖散</h2>
<p>治脾胃虛寒，嘔吐不食。</p>
<p>硫黃（五兩）　水銀（五兩）</p>
<p>共研末同炒，再研細。每服三錢米湯下，小兒一錢，薑湯亦可。炒成青砂頭，亦治翻胃膈食，吐痰神效。</p>

<h2>八仙丸</h2>
<p>治脾胃久冷，大便泄瀉，腸中㽲痛，米穀不化，飲食不進等證。</p>
<p>附子（炮）　高良薑　蓽茇　砂仁　肉豆蔻（各一兩）　生薑（三兩）　厚朴（四兩，薑汁製）</p>
<p>為末。醋糊丸梧子大，米飲下，五十丸。</p>

<h2>厚腸丸</h2>
<p>治脾虛傷食，大便下赤白膿，腸鳴腹痛泄下，米穀不化，小兒脾虛滑泄，脫肛，疳瘦等證。</p>
<p>川烏（炮）　肉桂　硫黃（另研）　赤石脂（煅，各一兩）　乾薑（炒，二兩）</p>
<p>為末。糯米糊丸，梧子大，每服五十丸，白湯下。</p>

<h2>阿膠丸</h2>
<p>治冷熱不調，下痢赤白。</p>
<p>黃連　黃柏（鹽水炒）　當歸（各一兩）　烏梅肉（炒，一兩）　芍藥（二兩）　阿膠（蛤粉炒，一兩）</p>
<p>為末。蒸餅丸梧子大，白湯下，五十丸。</p>

<h2>桃花丸</h2>
<p>治腸胃虛，下赤白膿，小兒脫肛，極效。</p>
<p>乾薑（炒，二兩）　赤石脂（煅，二兩）</p>
<p>為末。米糊丸，梧子大，米飲下五十丸。</p>

<h2>如聖餅</h2>
<p>治大腸冷熱不調，下赤白痢，及大人小兒一切積滯。</p>
<p>密陀僧（五錢）　訶子（大者八個，火煨去核）　硫黃（三錢）　輕粉（二錢）　石燕（一對，洗淨燒紅，酒焠）</p>
<p>為末。麵糊丸龍眼大，捏作餅。每用一餅，入灰中略煨熱，茶清下。</p>

<h2>珍珠散</h2>
<p>治大人小兒霍亂吐瀉。</p>
<p>硫黃　滑石（各二兩）</p>
<p>共為細末。每服二錢，白湯下，不愈再服，小兒一錢。</p>

<h2>少陽丹</h2>
<p>能解利兩感傷寒、瘟疫瘴氣。</p>
<p>硝石　硫黃　五靈脂（醋炒）　青皮　陳皮　麻黃（各二兩）</p>
<p>為末。先以硝石炒成珠和諸末，米糊丸綠豆大，白湯下五十丸，再以熱湯催汗。</p>

<h2>中和湯</h2>
<p>治傷寒、瘟疫，頭目昏痛，發熱，鼻流清涕，服此不致傳染。</p>
<p>蒼朮（一斤，米泔浸）　川烏（炮）　厚朴（薑製）　陳皮　甘草（各四兩）　草果（二兩）</p>
<p>共為末。每用四錢，生薑七片，水煎和渣服。</p>

<h2>還睛丹</h2>
<p>治脾腎虛衰，精血不生，致雙目成內障。</p>
<p>磁石（活者，火煅醋淬七次）　硫黃　雄黃　雌黃（各二兩共為粗末，入罐，打三炷香，冷定取出，研細配後藥。）</p>
<p>鍾乳粉　附子　臺椒（炒出汗，各二兩）</p>
<p>共為末，醋糊丸梧子大。每服二十丸，空心米飲下，日二服。半月覺熱攻眼，勿懼，乃腎氣潮眼，陽光復生也。時用兩手搓熱揉之，揉一番，光明一番，六十日後復明。藥盡再服一料。</p>

<h2>密蒙花散</h2>
<p>治風熱攻眼，昏晴多眵，隱澀羞明，或癢，或痛，漸生翳膜，或患頭風在先，牽引兩眼，漸覺細小，及暴赤腫痛。</p>
<p>密蒙花　木賊（去節）　川羌活　甘菊花　白蒺藜（炒去刺）　石決明（煅，再用鹽水煎）</p>
<p>各等分為末。食後，茶清下三錢。</p>

<h2>撥雲散</h2>
<p>治上焦壅熱，眼目赤腫，疼痛或生翳障，先服洗肝散，後服此藥。</p>
<p>荊芥穗　川芎　防風（各二兩）　枳殼（麩炒）　蟬蛻（去翅足）　薄荷　龍膽草　甘草（各五錢）</p>
<p>共為末。每服二錢，食後服。</p>

<h2>洗肝散</h2>
<p>治藏火太過，壅熱攻目，或翳障疼痛。</p>
<p>大黃（二錢）　黃芩（三錢）</p>
<p>水煎食前服。</p>

<h2>補肝丸</h2>
<p>能補肝腎之氣，服還睛丸後多服此藥。</p>
<p>臺椒（炒）　仙靈脾（剪去邊弦，蜜水炙）　白蒺藜（炒去刺）</p>
<p>各等分為末，酒糊丸梧子大，空心米湯下，三十丸。</p>

<h2>文蛤散</h2>
<p>治目弦腫，大小眥成赤瘡。</p>
<p>五倍子（一兩研末，每服三錢，水一盞煎八分，先洗，後以箸頭點之。）</p>

<h2>一醉膏</h2>
<p>治耳聾</p>
<p>麻黃（一斤，以水五升，熬一升，去渣熬膏。每服一錢七分，臨臥熱酒下，有汗即效。）</p>

<h2>睡聖散</h2>
<p>人難忍艾火灸痛，服此即昏睡，不知痛，亦不傷人。</p>
<p>山茄花（八月收）　火麻花（八月收）</p>
<p>（按：八月中火麻花已過時，恐作七月為是。）</p>
<p>收此二花時，必須端莊閉口，齊手足採之。若二人去，或笑，或言語，服後亦即笑，即言語矣。採後共為末，每服三錢，小兒只一錢，茶酒任下。一服後即昏睡，可灸五十壯，醒後再服再灸。</p>
<p>（按：山茄子，今謂之風茄兒，其花亦謂之曼陀羅花，火麻即大麻。今圃地所植之黃麻乃是此種。《本草綱目》云：曼陀羅花，生北土，南人亦有栽者。春生夏長，獨莖直上，高四五尺，生不旁引，綠莖碧葉，葉如茄葉。八月開白花，凡六瓣，狀如牽牛花而大，攢花中折，駢葉外包，朝開夜合。結實圓而有丁拐，中有小子。八月採花，九月採實。花實氣味俱辛溫有毒，主治諸風及寒濕腳氣，驚癇脫肛等證。相傳此花，笑採浸酒飲，令人笑，舞採浸酒飲，令人舞，予嘗試之。飲須半酣，更令一人或笑或舞，引之乃驗，又云七月採火麻子花，八月採山茄子花，陰乾等分為末，熱酒調服三錢。少頃，昏昏如醉，割瘡、灸火不覺苦痛，蓋古方也。今外科所用麻藥即是此散，服之並無傷害。）</p>

<h2>薄荷散</h2>
<p>治心肺壅熱，頭目不清，咽喉不利，精神昏濁，小兒膈熱。</p>
<p>真薄荷（二兩）　桔梗（三兩）　防風（二兩）　甘草（一兩）</p>
<p>為末。每服四錢，燈心煎湯下。</p>

<h2>碧雲湯</h2>
<p>治風痰上攻，頭目昏眩，咽喉疼痛，涎涕稠黏。</p>
<p>荊芥穗（二兩）　牛蒡子（炒，一兩）　真薄荷（一兩）</p>
<p>為末。食後，茶下三錢。</p>

<h2>丁香丸</h2>
<p>治宿食不消，時發頭疼，腹痛。</p>
<p>丁香　烏梅肉　青皮　肉桂　三稜（炮，各二兩）　巴豆（去油，一兩）</p>
<p>為末，米糊丸黍米大，白湯下七丸，小兒三丸。</p>

<h2>潤腸散</h2>
<p>治老人虛氣、中風、產後大便不通。</p>
<p>枳實（麩炒）　青皮　陳皮（各一兩）</p>
<p>共為末。每服四錢，水一盞，煎七分，空心服。</p>

<h2>菟絲子丸</h2>
<p>補腎氣，壯陽道，助精神，輕腰腳。</p>
<p>菟絲子（一斤，淘淨酒煮，搗成餅，焙乾）　附子（制，四兩）</p>
<p>共為末，酒糊丸梧子大，酒下五十丸，十日後強壯。</p>

<h2>石膏丸</h2>
<p>治腎厥頭痛，及腎虛咳嗽，煩悶，遺尿。</p>
<p>石膏（一兩）　硫黃（一兩）　硝石（一兩，合硫黃同研）　天南星（一兩，用生薑一兩同搗）</p>
<p>為末，麵糊丸梧子大，食前米飲下五十丸，日二次。</p>

<h2>宣風丸</h2>
<p>治風濕腳氣，走註上攻，兩足拘急疼痛，或遍身作痛。</p>
<p>黑醜（取頭末，二兩）　青皮（一兩）　胡椒（二十一粒）　全蠍（二十四枚，去頭足）</p>
<p>共為末，蜜丸梧子大。食前，白湯下五十丸，或三十丸。</p>

<h2>五膈散</h2>
<p>治肺傷寒，誤服涼藥，冰消肺氣，胸膈膨脹，嘔吐酸水，口中如含冰雪，體倦減食，或成冷勞，胸中冷痰，服此皆效。</p>
<p>人參　黃耆（炙）　白朮　麥冬　官桂　附子（炮）　乾薑（炒）　遠志（去心）　臺椒　北細辛　百部（去蘆）　杏仁（各等分）</p>
<p>共為末。水煎服四錢。</p>

<h2>撮氣散</h2>
<p>治涼藥傷肺，飲食不下，胸膈飽悶，吞酸氣逆，久嗽不止。</p>
<p>白朮　乾薑（各二兩）　黃耆（蜜水拌炒）　附子　川椒　杏仁（各一兩）　甘草（五錢）</p>
<p>共為粗末，水煎服四錢。初服冷熱相搏，覺煩悶欲吐，少頃撮定，肺氣自然下降矣。</p>

<h2>麥煎散</h2>
<p>治幼年心絡為暑所傷，每至暑時，即畏熱困倦減食。</p>
<p>知母　烏梅肉　地骨皮　柴胡（各二錢）　大麥（一撮）</p>
<p>上銼片成一劑，水煎溫服緩下。</p>

<h2>剪紅丸</h2>
<p>治遠年近月，腸澼下血。</p>
<p>吳茱萸（去梗，二兩）　荊芥穗（二兩）　川烏（一兩）</p>
<p>上炒黃色，共為末，醋糊丸梧子大，每服五十丸，空心白湯下。</p>

<h2>分氣丸</h2>
<p>治心腹痞悶疼痛，兩脅氣脹，痰涎上攻，咽嗌不利，能行氣，化酒食。</p>
<p>黑醜（半生半熟取頭末，四兩）　青皮（炒）　陳皮（炒）　乾薑（炮）　肉桂（各一兩）</p>
<p>共為末，水法梧子大。每服三十丸，空心薑湯下。</p>

<h2>鎮心湯</h2>
<p>治心氣不足，為風邪鬼氣所乘，狂言多悲，夢中驚跳。</p>
<p>人參　茯苓　石菖蒲（桑葉水拌炒）　遠志　木香　丁香（各一錢）　甘草　乾薑（各五錢）　大棗（三枚）</p>
<p>水煎空心服。</p>

<h2>遠志丸</h2>
<p>治心氣不足，多悲，健忘，精神皆默，手顫腳搐，多睡。</p>
<p>遠志　人參　石菖蒲　茯苓</p>
<p>為末，蜜丸梧子大。每服三十丸，酒棗湯任下。</p>

<h2>定痛丸</h2>
<p>治奔豚上攻，心腹腰背皆痛，或疝氣連睪丸痛。</p>
<p>木香　馬藺草（醋炒）　茴香　川楝子（炒，各一兩）</p>
<p>共為末。每服四錢，滾酒下，連進二服，其痛即止。</p>

<h2>阿膠散</h2>
<p>治肺虛咳嗽咯血。</p>
<p>牙香（三兩，炒）　阿膠（一兩，蛤粉炒成珠）</p>
<p>為末。每服三錢，薑湯下，日三次。</p>

<h2>定風散</h2>
<p>治破傷風及洗頭、牙槽等風，牙關緊急，項背強直，角弓反張。若一二日者，服此可治，五七日者難治，須急灸臍下三百壯。</p>
<p>川烏（炮，二兩）　防風（二兩）　雄黃（一兩）</p>
<p>共為末。每服四錢，水煎，和渣服，日三次，出汗愈。</p>

<h2>安蟲散</h2>
<p>治蟲攻心痛，吐清水。如蟯蟲，發則腹脹，寸白蟲則心痛，並治之。</p>
<p>乾漆（炒至煙盡，五錢）　鶴蝨（炒淨）　雷丸（切炒，各一兩）</p>
<p>共為末。每服二錢，小兒一錢，米湯下。</p>

<h2>檳榔丸</h2>
<p>治小便淋澀不通及血淋、石淋。</p>
<p>檳榔　芍藥　苦楝子（炒）　馬藺花（各一兩）</p>
<p>共為末。每服四錢，酒煎熱服。</p>

<h2>換骨散</h2>
<p>治癩風，面上黑腫，肌肉頑麻，手足疼痛，遍身生瘡。先灸五臟俞穴，後服此藥。</p>
<p>烏蛇（去頭尾酒煮取肉）　白花蛇（同上製法）　石菖蒲　荊芥穗　蔓荊子　天麻（酒炒）　胡首烏（小黑豆拌，蒸、曬）　白楊樹皮（炒，各二兩）　甘草（炒）　地骨皮（酒炒）　枳殼（麩炒）　杜仲（鹽水炒）　當歸（酒炒）　川芎（酒炒）　牛膝（鹽水炒，各一兩）</p>
<p>共為末。每服二錢，酒下。</p>

<h2>胡麻散</h2>
<p>治癘風渾身頑麻，或如針刺遍身疼痛，手足癱瘓。</p>
<p>紫背浮萍（七月半採，一斤）　黑芝麻（炒，四兩）　薄荷（蘇州者佳，二兩）　牛蒡子（炒）　甘草（炒，各一兩）</p>
<p>共為末。每服三錢，茶酒任下，日三服。</p>

<h2>消癭散</h2>
<p>治氣癭多服取效，血癭不治。</p>
<p>全蠍（三十枚，去頭足）　豬羊靨（即膝眼骨，各三十枚，炙枯）　枯礬（五錢）</p>
<p>共為末，蜜丸梧子大。每服五十丸，飴米糖拌吞或茶任下。</p>

<h2>補宮丸</h2>
<p>治女人子宮久冷，經事不調致小腹連腰痛，面黃肌瘦，四肢無力，減食發熱，夜多盜汗，下赤白帶，久服且能多子。</p>
<p>當歸（酒炒）　熟地（薑汁炒）　肉蓯蓉（酒洗去膜）　菟絲子（製法見前）　牛膝（酒洗，各二兩）　肉桂　沉香　蓽茇（去蒂炒）　吳茱萸（去梗）　肉果（各一兩）　真血竭　艾葉（各五錢）</p>
<p>共為末，醋糊丸梧子大。每服五十丸，或酒，或白湯任下。</p>

<h2>膠艾湯</h2>
<p>治婦人衝任虛損，月水不調，子宮久冷，腰腹疼痛，赤白帶下，或惡露不止。此藥能通經絡，活死血，生新血。</p>
<p>阿膠（蛤粉炒成珠）　艾葉　當歸　白芍　川芎　熟地（各二兩）　甘草　乾薑（各五錢）</p>
<p>共為末。每服四錢，水煎和渣熱服，戒怒氣一月。</p>

<h2>地血散</h2>
<p>治婦人心血間有熱，飲食不減，起居如常，但發煩熱。</p>
<p>茜草　當歸　白芍　烏梅　柴胡　知母（各一錢）</p>
<p>每劑加姜三片，水煎溫服。</p>

<h2>大青膏</h2>
<p>治小兒吐瀉後成慢驚，脾虛發搐，或斑疹後發搐。</p>
<p>烏蛇（去頭尾，酒浸炙）　全蠍（十枚，去頭足）　蜈蚣（五條，去頭足，炙）　鍾乳粉（要真者火煅研極細末，水飛淨，五錢）　青黛　丁香　木香　川附子（制，各五錢）　白附子（麵包煨熟，一兩）</p>
<p>共為末，蜜丸龍眼大。每服一丸，滾水下，連進二服立瘥。甚者灸中脘五十壯。</p>

<h2>碧霞散</h2>
<p>治痰涎壅盛卒僕，或發驚搐，一切急症，服此吐痰。</p>
<p>豬牙皂角（炙去皮弦）　銅青（另研）　大黃（生用）　金線重樓（即金線釣蝦蟆，製法見後，各五錢。）</p>
<p>上為末。每服一錢，小兒三五分，白湯灌下。牙關緊者，鼻中灌下，吐痰立愈。</p>

<h2>萬靈膏</h2>
<p>治小兒疳瘦腹脹，水瀉多消。</p>
<p>香附（一兩）　青皮　川黃連　肉桂　巴豆（去油）　砂仁　肉果（各五錢）</p>
<p>上為末，醋糊丸黍米大。每用三五七丸溫水下。</p>

<h2>育嬰丹</h2>
<p>治小兒面黃肚大，青筋作瀉及五疳諸積，健脾進食。</p>
<p>上好白蠟（一兩二錢，入銚頓化，傾入碗內七次）　硃砂（飛淨，一錢，心疳用之）　赤石脂（一錢，火煅，脾疳用之）　青黛（一錢，肝疳用之）　寒水石（一錢，用泥罐上下蓋定火煅，肺疳用之）　牡蠣（一錢，火煅，腎疳用之）</p>
<p>先將白蠟研碎，後加各經引藥，共研細末，分作十帖。每用雞蛋一枚，開一小孔，去黃留清，入藥一帖，攪勻，紙封口，或蒸，或用火煨，任意食之，酒飯無忌。</p>

<h2>抑青餅</h2>
<p>治小兒驚風，清膈化痰，降熱火。</p>
<p>防風　薄荷　桔梗（炒，各一兩）　甘草（炙）　青黛（淨，各五錢）　冰片（四分）</p>
<p>共為末，蜜丸芡實大，或捏作餅薑湯下。</p>

<h2>硃砂丸</h2>
<p>治小兒膈熱消痰。</p>
<p>半夏（制）　辰砂（各五錢）　杏仁（三十粒，去皮）</p>
<p>共為末，蒸餅丸梧子大。每服十丸，或五七丸，食後薄荷湯下。</p>

<h2>醒脾丸</h2>
<p>治久瘧不瘥。</p>
<p>川烏（五兩，薑汁浸去黑皮，切片）　大蒜（三兩，煨去皮）</p>
<p>共為末，醋糊丸梧子大。每服二十丸，米飲下，小兒量減。</p>

<h2>奪命丹</h2>
<p>治中風左癱右瘓半身不遂，口眼喎斜，言語謇澀。</p>
<p>川烏（酒煮）　蒼朮（米泔浸，各四兩）</p>
<p>共為末，酒糊丸梧子大，空心服十五丸，忌見風，暖蓋出汗。</p>

<h2>脫衣散</h2>
<p>治汗斑及紫白癜風。</p>
<p>附子　硫黃（各五錢）</p>
<p>共為末，薑汁調，以茄蒂蘸擦三四次全愈。</p>

<h2>百花散</h2>
<p>治腿肚血風臁瘡，小兒螻蛄癤，或耳底出膿，瘰癧痔漏。</p>
<p>川烏五兩搗為末。凡一切瘡毒，以麻油調塗，濕者干糝，耳中出水吹入，牛馬六畜瘡皆可治。人家合醬入此末五錢，不生蟲蛆。</p>

<h2>附：金線重樓治證</h2>
<p>金線重樓俗名金線釣蝦蟆，採得去外黑粗皮，用石頭打碎，勿見鐵器。</p>
<p>曬乾為末，小罐收貯。凡一切要吐痰涎之證，用代瓜蒂最妙。</p>
<p>一治風痰結胸，用一錢，陰陽水和服，吐去痰即愈。</p>
<p>一治傷食成瘧疾者，用一錢，臨發，空心水和服，一吐即愈。</p>
<p>一治禁口痢疾，涼水和服一錢，吐痰即愈。</p>

<h2>服金液丹各證引藥</h2>
<p>虛勞白湯下，或薑湯下。</p>
<p>骨蒸潮熱地骨皮湯或炒胡黃連五分煎湯，或丹皮湯下。</p>
<p>吐血茅根湯或藕節湯下。</p>
<p>消渴烏梅湯或石膏湯下。</p>
<p>肺脹真蘇子湯下。</p>
<p>中滿陳皮湯或木香湯或芥菜湯下。</p>
<p>水腫車前子湯或木通湯下。</p>
<p>休息痢白者，用臭椿根皮湯下，紅者用雞冠花湯下。</p>
<p>脾泄車前子炒焦煎湯下。</p>
<p>注下木通湯下。</p>
<p>大便閉芒硝煎湯下。</p>
<p>小便閉木通湯下。</p>
<p>尿血山梔木通湯下，或燈心竹葉湯下。</p>
<p>霍亂藿香湯下。</p>
<p>吐瀉生薑燈心湯下。</p>
<p>屍厥薑湯下。</p>
<p>氣厥真蘇子湯下。</p>
<p>陰證附子湯下。</p>
<p>陰毒黃耆湯或附子湯下。</p>
<p>目中內障木賊菊花湯下。</p>
<p>心下作痞，枳實桔梗湯下。</p>
<p>心胃痛延胡索湯或酒下。</p>
<p>胃寒米穀不化，乾薑麥芽湯下，</p>
<p>兩脅急痛青皮湯下。</p>
<p>肚腹痛甘草白芍湯下。</p>
<p>臍腹痛麥芽湯下。</p>
<p>小腹痛小茴香湯下。</p>
<p>膀胱疝氣小茴桔核湯下。</p>
<p>女人子宮虛冷薑湯下。</p>
<p>赤帶地榆湯下。</p>
<p>白帶樗白皮湯或白果炒煅煎酒下。</p>
<p>小兒急驚風金銀花湯下。</p>
<p>慢驚風人參湯下。</p>
<p>一切疑難之證俱用薑湯下。</p>
<p>（昔人稱金液丹有起死回生之功，真是救危神劑，然亦有戒人服餌者。如蘇頌之《本草圖經》，寇宗奭之《本草衍義》，一言其為效雖捷，為患亦速；一言其人但知用之為福，而不知為禍。蓋亦有所鑑而云，世人於此疑而不敢服者多矣。然余常見二人，年少時，皆荒耽於色，至五十外皆患虛損，服參附渺若不知，有勸餌硫黃者，二人皆服皆有效。一人不能節欲，閱五六年竟以氣脫而殞；一人能止欲，至八十餘始卒，此目所親擊者也。夫藥以治疾，有是疾必得是藥而後愈。許叔微所謂「形有寒邪，雖嬰孩亦可服金液；藏有熱毒，雖羸老亦可服大黃。」至哉！通變之說，理不妄也。但中病則已，久服或致偏勝之患。凡藥皆如是，豈特金液丹哉！其或服之終身，反致壽考，此其稟受特異餘人，非可概論。若夫元氣未衰，陰精先耗，此藥實非所宜。更或漁色之徒，朝餐夕餌，不以此為治疾之良劑，而以此為逞欲之單方，自戕其生，而不之懼，卒乃歸咎於金液丹之不可餌。然則鑑人之傷食而並議稻麻菽麥之不宜餐，鑑人之傷飲而並疑酒漿茗汁不可啜，豈理也哉？因憶書冊中所載服硫黃而受益者採摘數條附錄於後以示來者。）</p>
<p>（《夷堅志》云：唐與正知醫，遇人有奇疾，多以意治之。從舅吳巡檢病不得前溲，臥則微通，立則涓滴不下，醫人遍用通利小腸諸藥，窮技巧勿驗。其侄孫來問吳：常日服何藥？曰：常服黑錫丹。問：何人結砂？曰：自為之。唐灑然悟曰：此繇結砂時，鉛不死，硫黃飛去，鉛砂入積膀胱，膀胱臥則偏重，故猶可溲，立則正塞水道，以故不能通。乃取金液丹三百粒分為十服，煎瞿麥湯下之，膀胱所積之鉛得硫黃皆化成灰，自水道下，猶累累如細砂，病遂愈。）</p>
<p>（《類編》云：仁和縣一吏早衰，病瘠齒落，從貨藥道人得一方：碾生硫黃為細末，入豬臟中，水煮臟爛，入蒸餅丸如梧子大，隨意服之。兩月後飲啖倍常，步履輕捷，年逾九十，略無老態，執役如初。因從邑宰入村，醉食牛血，遂洞下數十行，所泄如金水，頓覺尫悴，少日而死。李巨源得其事於臨安入宮醫官管範，嘗與王樞使言之，王曰：嘗聞豬肪脂能制硫黃，茲用豬臟尤為得理。樞使亦合服之，久亦見效。）</p>
<p>（《本草通元》云：壬子秋余應試，北雍有孝廉張抱赤，久荒於色，腹滿如斗，以參湯吞金匱丸，小便差利，滿亦差減。閱旬日而滿腹如故，肢體厥逆，仍投前藥，竟無裨也。舉家哀亂，惟治終事。抱赤泣告曰：若可救我，當終身父事之。余曰：能餌金液丹數十粒，雖不敢謂萬全，或有生理。抱赤連服百粒，小便遄行，滿消食進，更以補中、八味並用，遂獲痊安。故夫藥中肯綮，如鼓應桴。世之病是證而不得援者眾矣。有如抱赤之傾信者幾人哉！且硫非治滿之劑，特以元陽將絕，參附無功，藉其純陽之精，令陰寒之滯，見晛冰消爾。）</p>

<h2>神治諸般風氣靈膏</h2>
<p>紅砒一斤入罐化汁，用金頭蜈蚣、全蠍末投砒內，以砒不起煙為度。又以砒用槐角子一斗煮三晝夜，水乾為度，上以土築實，封固，火煅鍋通紅，死砒脆白化成汁。用砒一兩，配前金液硫一兩，共研為末，攤於膏藥貼患處。</p>

<h2>汗斑神效方</h2>
<p>黑芝麻一撮　鹼汁半杯（按字書無「鹼」字系俗人所造，正寫當作「鹼」字。）</p>
<p>將芝麻研細入鹼汁，煎數沸，搽之即愈。</p>

<h1>跋</h1>
<p>《扁鵲心書》三卷及《神方》一卷，宋紹興中開州巡檢竇材所集錄，已嘗鋟板行世，而歲久湮沒，人間少有見者。古月老人得之，詫為奇書秘冊，寶藏不啻在琅函玉笈中。老人精醫理，於古今方論，剖析疑似，指斥訛謬，皆合軒岐正義。遇危急之疾，他人縮手告難，老人治之往往奏效。年五十外又得此書，嗣後治人痼疾，益多奇驗。沒後，其子道周繼其業，嘗手其書示余，曰：思欲重刊，以傳於世。而家貧乏力，遲之十餘年，竟不克刊，道周亦沒，歷今又十餘年。見其孫紀云語及是書，因出其祖手錄副本見示，上有參論百餘條，拾遺補闕，可謂竇氏功臣。第字句不無訛錯，邊方亦有蠹蝕。問前者所見原本，則歸橫塘一藏書家。余深以不得再見為歉，又恐此本久亦湮沒不存。爰加較勘，即以參論諸條附註其下，以付剖劂。一以恩故人昔日見示斯編之意；一以使奇方要訣，流傳世上，後人用之得以起沉疴而保天年，為益甚無窮也。回思數十年前與古月老人父子相晤語，宛然疇昔事，歲月如馳，兩人墓木已拱，不獲親見是書重刊，為可嘆也。老人名珏字念庵，因姓胡氏，故自號古月老人。</p>
<p><u>乾隆乙酉二月丁丑朔紫陽山民王琦書</u></p>
<p>竇氏材生於宋之中葉，而書中有河間丹溪遺訛後世之語，又鍾乳粉方下，訾丹溪「多服發渴淋」之說為謬，又言製法見時珍《本草》，何緣舉元明人之書而及之，其為後人增益無疑，兼知是編非竇氏原本矣。仲景《傷寒論》，古今奉為不刊之典，竇氏顧有指摘其未當者數條，蓋由膠執其詞，未嘗融貫以參領其活潑之用，致意見有差池耳。再後人自當分別觀之，能鑑其是，更能正其非，判然不惑，斯為善讀古書者。</p>
<p>人稟陰陽二氣。以成此身，身之內皆二氣所充周也。互以相生，因以相濟，而無過與不及之相陵，是以內外和平而無疾病。有疾病者反是。治之者，扶陽保陰，各視其攸宜，損之，益之，以期於至當而無偏焉。是書重在扶陽，或者疑其不免偏見，然余嘗觀天地間日月盈虧，寒暄遞運，雨晹時若，草木盛衰，而信陽常有餘，陰常不足，乃造化自然之樞機。若夫陽常有餘，而芸生不厭其有餘；陰常不足，而芸生不苦其不足。以此悟扶陽之理視保陰為尤要者，亦本造化當然之軌。則竇氏之書以灼艾為第一，餌丹藥為第二，用附子為第三，傳此三法以為保命真訣，洵千古不磨之法。何庸排訾其非哉。其議論張王以下六子也，非務為好辯以矯異也。序中已明言，學六子之書，以調治小疾百發而百中。特以數十種大病，垂危之證，非其書中所載諸方可能救療，而別有救療之方而言也。惟是藥與人有宜不宜之殊，方與證有對不對之異，於古書能善讀者，又貴能善用。苟僅能見其外之形似，而未能察其內之神機。惘惘然，執紙上陳言而嘗試之，一有不當，人且乘其間而議是書扶陽之法為誤而不可遵循矣。嗟，嗟！扶陽正理，何誤之有，因用者之不當，而並咎昔人立言之誤，吾恐斯人之學亦誤於保陰之說，夭枉天下蒼生更多而曾不自覺也，可勝嘆哉！</p>
<p><u>二月十三日己丑琢崖又書</u></p>
<p>雕板未竣，或有阻余者曰：陶節庵錄成《家秘》的本，戒其子勿以示人，恐淺陋者妄肆詆諆。子珍是編，什襲而藏之，擇其人示焉可矣，胡事鐫梨刻棗，以昭示於世，不慮淺學之徒是非鋒起，或加塗抹，而為是書瘡痏與？余曰：人心各異，所見不同，於是書而非之，或塗抹之，如吾子所言固有矣。然豈無重之珍之，更欲重刊之，如古月老人父子者乎！昔華佗能剖割積聚，湔洗腸胃，其方書焚燬不傳，後人以為恨，然使其書尚存，恐謂其誕妄不經者必多，孰敢有信而用者。今竇氏之書寧獨異於華氏之書耶？余幸其得存於今也。亟重刊之，化一帙為千百帙，冀其長留天地間，而不至澌滅無傳。後人得之，或有信而用者，此之起死扶衰，通閉解結，而反之於平。則是書實博施濟眾之良書，其為有功於蒼赤豈少哉！彼執偏滯之見，平居則嘖有煩言，於扶陽之理，肆為排擊；臨險證則袖手徬徨，莫之能救。其學之優劣可一覽而知，其言之是非，曾何足為重輕乎！</p>
<p><u>二月二十六日壬寅琢崖又書</u></p>
