<header data-type="book">
<h1>曹仁伯醫案論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>曹存心</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1815">公元1815年</data></dd></div>
</dl>
</header>

<h1>藩署蕭四爺治驗丸方</h1>
<p>人年四十陰氣自平，從古至今，未嘗不若是也。惟尊軀獨異者，正氣不足，濕痰素多，陽事早痿耳。予偶閱醫書，夜臥臂在被外者，每易招寒而痛。婦人露臂枕兒者，亦易受涼而痛。此尊軀之病，雖非得於被外枕兒，而其起痛之因，本因於臥在竹榻。竹榻之性寒涼者也，日日臥之，則寒涼之氣未有不襲筋骨。較之前二條之偶傷經絡者更進一層，所以陽氣不宣，屈伸不利，痛無虛日，喜熱惡寒矣。仲景云：一臂不舉此為痹。載在中門風中也。實非真中而卻類中之機，豈容忽視？現在治法，首重補陽兼養陰血，寓之以驅寒，加之以化痰，再取經絡通之，則一方制度自不失君臣佐使焉。</p>
<p>大熟地（八兩）　歸身（四兩）　赤芍（二兩）　附子（二兩）　黨參（四兩）　於朮（四兩）　茯苓（八兩）　黃耆（二兩）　半夏（四兩）　虎掌（一對）　阿膠（三兩）　橘紅（二兩）　薑黃（一兩）　桂枝（一兩）　沉香（五錢）　甘草（一兩）　枳殼（二兩）　海桐皮（二兩）　風化硝（一兩）　西羌活（一兩）　為末，取竹瀝一茶碗，薑汁二匙，和入淡蜜水，泛丸。</p>

<h1>衛道觀前頭鳴右盛</h1>
<p>頭為天谷藏神者也。面無精彩，頭苦常鳴，豈非天谷內虛，神色無華乎？然頭鳴右盛，痰火必多，不得不兼顧之。</p>
<p>大熟地　天冬　黨參（三味煮膏）　制於術　黃耆　龍眼肉　炙草　茯苓　遠志肉　石決明　棗仁　木香　半夏　橘紅　阿膠　竹茹　甘菊　為末糊丸，三錢，鹽湯下。</p>

<h1>德清某</h1>
<p>營血本虧，陰火又旺，責在先天。後天脾氣不健，肝木乘之，所進飲食生痰、生飲，貯之於胃，尚可從吐而出，相安於無事，遲之又久，走入膜外，氣道不清，脹自作焉。脾為生痰之源，胃為貯痰之器。若非運化中宮，兼透膜外，則痛勢有加無已，成為脹滿，亦屬易易耳。然脾統血，肝藏血，病久血更衰少。治以化痰，不得不佐以和養。古人之潤燥互用，正為此等症而設。</p>
<p>杜蘇子　白芥子　當歸　茯苓　炙草　生於術　半夏　萊菔子　大腹皮　白芍　車前子　海蜇　大荸薺　陳皮　真厚朴</p>

<h1>嘉興吳</h1>
<p>大小便易位而出，名曰交腸。陡然氣亂於中，卻為暴病也。遲之又久，腸間穢物歸併膀胱，一飲一食都從小便而出。比之交腸症似是而實非者，良由瘀血內阻，大腸廢而不用，幽門闢為坦徑，闌門不司泌別，舍故趨新，舍寬趨隘，日痹一日。竊恐元氣不支而敗。此時論治必須故道復通，瘀血漸消，庶乎近理。</p>
<p>旋覆花　青蔥　新絳　歸鬚　柏仁　薺菜花　首烏</p>
<p>另用舊紗帽一頂，炙灰。每服一錢五分，煮酒下。</p>

<h1>安徽程</h1>
<p>先生之病，素稟濕熱，又挾陰虛之症也。濕者何地之氣也，熱者何天之氣也？天地鬱蒸，濕熱生焉；天地交泰，絪蘊生也。生生不息之機妙合於其間，稟而受者。濕熱元氣混合一家，出自先天，牢不可破，較之外感內傷之濕熱屬在後天者一掃而淨，豈可同日而語哉！設使薄滋味，遠房幃，不過生瘡動血，幼年所患等症而已。惟事膏粱，更多嗜欲，外增濕熱，內耗陰精，則臟腑榮衛常有春夏之情，而無秋冬之氣，無怪乎其亥年之氣風火相煽，耳苦於鳴，豈非陽氣萬物盛上而躍之一驗乎？當斯時也，靜以養之，則臍冷齒痛以下見症之外，猶可相安於無事，何乃火之添油喜功生事，陡然頭昏面赤，一派炎炎之勢。甚至火極似水，陽不成其為陽，熱不成其為熱，肝經之火、督脈之陽亦從而犯上，失其本來之面目。夫近聞引火歸源，以為甘溫能治火熱之計。嗟乎！未聞道也。甘溫能治大熱者。良以下極陰寒，真陽上越，引其火歸其源，則坎離交媾，太極自安。若太陰濕熱蒸動而上者，投以清滋，尚難對待，斷不敢以火濟火，明犯一誤不可再誤之戒。然清已有法，滋亦不少，飲食能增，身體能胖，外有餘矣。而色色不能久立久坐者，即病機中萬物陰陽不定未有主也之條，際此外盛中空、下虛上實，用藥實難嘗見。</p>
<p>東垣之清燥湯、丹溪之虎潛丸，潤燥合宜、剛柔協濟。張氏每贊此兩方，始克有賴，何樂而不即用之耶？無如藥力之所以載行者胃氣也。胃屬陽明，陽明中土萬物所歸，濕熱竊踞亦久已，薰蒸傳為吐血，嗽痰，鼻塞，噫氣，氣便失調，正是九竅不和，都屬胃病。欲安內臟，必先清其外腑，又為要著。至於秋末冬初病甚者，十月坤卦純陰，天已靜矣，而濕熱反為之動；腎欲藏矣，而濕熱反為之露，致邪令正失，能不令病者之更進一層乎？附方謹覆。</p>
<p>青鹽（四兩）　甘草（八兩）　荸薺（一斤）　海蜇（二斤）　萆薢（一兩）　飴糖（八兩）　刺蝟皮（一兩五錢）　橘葉（五錢）　霞天曲（一兩五錢）　十大功勞葉（一斤）</p>
<p>共為細末，竹瀝水，泛丸。服完後，合虎潛丸全料，同合常服。</p>

<h1>杭州汪</h1>
<p>細繹病源，陽分比陰分更虧之候也。陰虧而用十全養榮等法，責重乎陰，寓以陽藥，本屬和平之劑。良以秋分在即，燥氣加臨，不敢責重乎陽，以燥就燥反增燥病焉耳。然於膏方下之後，日可附桂斟酌用之，一語早已言之，非見不到也。蓋天地之氣清矣半月一更，人身之氣亦半月一更。八月而至九月，氣已二更，病勢不除，飲食反減。明明陰得膏滋而無病，陽得膏滋而更衰，一月之間陰陽偏勝，一膏之內功過相抵。可嘆補偏救弊，因時制宜，應接無暇也。所言念七念八九兩日，霜降始寒，寒氣外侵，痰飲內動，動見青黃綠色水，尚屬陽明胃腑。至於黑這一色，已自陽明胃底而來，腎虛水泛，脾虛積飲，已見一班。然神氣困倦，面色青浮，脈見雙弦，以始陽氣不充，痰飲內聚宜矣，而反忽然牙齒浮疼，加以口舌酸泔，呃忒於胃，衛逆於脅，變出一番火氣者，肝火也，肝氣也。氣火之橫逆，不外腎虛，無以涵木，木須順乘脾土。此等氣不足，即是寒之根柢；及見氣有餘便是火之形狀，所謂本寒標熱症是也。夫惟本寒標熱，豈陽氣之虛，較之陰氣更進一層耶？此時論坎離，當然不定，始可陰霾四散，宗風虛則熾痰寒則壅之訓而出一星附散法，以助脾陽。俾虛風寒痰不相互結，非獨分解病情，而且土旺用事更合機宜。如一立冬，又不可以純陽無陰之品施於久病陰血本虧之體。冬月宜藏之令者，以此方分兩三次，一日進一服。參入前定滋方中，只取五錢，清晨服下，傍晚再服水泛金匱腎氣丸錢半，淡鹽湯送下，以占冬至陽生，弗藥有喜。至於黑錫丹、控涎丹，本來合式因病處方，隨機應變，相時而動者，須煩兩先生權之。</p>

<h1>嘉興張</h1>
<p>細繹病源，本屬暑濕熱三氣之因也，始而濕秘，後以熱結，所感暑邪能不久變乎？然此初、中、末三者，而道其常，尚未言其變。所變者何？昔肥今瘦，瘦人多火，濕已化火，火已就燥，而況更有變者。痰結肺經，而取效葶、杏，熱結腸間，又增大便如慄。甚至肺與大腸相為表裡，二金同受火刑，皮膚燥脫，豈非濕生痰，痰生熱，熱生風之一驗乎？若夫水液渾濁皆屬於熱，內熱生痿，不能起床，鼻之燥、耳之鳴，眼之淚，熱象不一而足，陰亦不一而傷。至於口中不渴，似屬令人不解，然亦不難。曰久病入絡，絡亦主血，血主濡，所以但干而不渴耳。宗無陰則陽無以化例，請政。</p>
<p>鮮首烏　姜炒山梔　石決明　方解青鹽　杏仁　牛膝　柏子仁</p>

<h1>薛家灣郭</h1>
<p>陰絡傷則血溢，血內溢則後血。血之從後出者已經數載，時發時止，惟有盛於去年也。今春榮血日虧，衛氣益虛。虛則氣不攝血，亦因咳而來，陽絡更傷，中焦失守，不獨肝腎內虛，無怪乎其浮腫於前，喘促於後。甚至飲食不思，噁心欲吐，脈而數疾無倫，竟有陰從下脫，陽從上脫之意焉。急急大補，俾得抱一不離，已恐鞭長莫及。</p>
<p>人參　麥冬　五味子　坎炁　牡蠣　龍骨　河車　川柏　茯神　蕤仁　棗仁</p>
<p>轉方加黃芩、灶心土，余依上法。</p>

<h1>薛家灣郭復診方</h1>
<p>喘之一證，已得大補而平，可見肝脾腎三經虧之已極，姑置勿論。現在脈芤且弦，其名為革，以昭血絡空虛元氣難攝之意。夫惟元氣難攝，所有溫邪下注為便溏，外走為浮腫，上逆為咳痰；甚至陰絡傷、血內溢之下，更有陽絡傷、血外溢之症。似此中虛少納者，遇之竊恐不堪磨耐，仍起風波而敗，不可忽略。</p>
<p>制川附七分（青鹽下拌）　大生地（二錢）　白芍（一錢）　阿膠（一錢五分）　炙草（四分）　人參（七分）　五味子（七分）　麥冬（一錢五分）　牡蠣（一兩）　伏龍肝（一兩）　烏梅（一錢）</p>

<h1>崑山陶</h1>
<p>濕有五肥，人之濕多起於脾。脾主濕，又濕主土，土氣不旺，濕邪無路可出，出則變而為痰，化而為熱，所為濕生痰，痰生熱是也。濕熱痰體已既有年，姑置勿論，且論病經兩候痛瀉起因，繼寒熱往來，一日日三度發其間，呃忒頻頻，七日而止，顯系冷風外感，內從少陽而入，裡氣不納，上逆沖激，出入無定使然。當時汗出太多，雖有口舌嘔惡等症，卻難和以小柴胡湯。現在汗已不少，吐亦未除，下亦通矣，三法自盡，而瘧疾仍作，胸前痞悶，右脈大虛，邪氣還盛，汗吐下三法既不可施，惟有和寒溫三例尚可以行。常見丹田有熱，胸上有寒，白胎滑者，仲景曾有一方，喻氏師之以為和上下法之計；又見汗吐下三法之後，胸前作痞，噫氣不舒者，用旋覆代赭石湯，通其陽，鎮其逆。俾得呃不再起，想亦未始不合也。然以此治法不獨為新病而設，即舊時之濕熱生痰亦與焉。和方之制，和其不和也，不和於已虛之後。竊恐虛波暗起，不可忽略。候諸高明先生政。</p>
<p>川連　乾薑　炙草　復花　赭石　人參　半夏　桂枝　茯苓　陳皮　白芍　草果仁　生薑　紅棗　附子（青鹽拌炒）　生於術（姜水拌炒焦）</p>

<h1>又轉方</h1>
<p>今晨寒熱又作，來勢頗輕，嘔亦稍松，苔亦尖薄，所受風寒濕熱卻有暗化之機，似屬佳兆。無如脈之弦滑都帶空象，元氣陽氣實已內虛。虛而有邪，不得不扶正化邪為法。蓋恐邪未盡而正先盡耳。</p>
<p>制川樸　於朮　人參　桂枝　草果仁　乾薑　炙草　茯苓　川連　復花　赭石　陳皮　白芍　姜　紅棗　製半夏</p>

<h1>又</h1>
<p>二爺之病，風邪外感，內蒸濕熱痰濁。古人所謂夾病，此等症是也。何以見之，風入少陽，則為寒熱往來，半在表，半在裡，出而與陽爭則寒，寒宜不飲，入而與陰爭則熱，熱宜發渴。今寒時喜熱飲，熱時反不渴，若無濕熱痰濁，何以如是耶？是以舌苔滿布，面已晦滯，脈已帶滑，盡見空濡之象，欲去其風，必須化濕化痰化熱，以除兼夾之邪，則風邪尋路而出，不被兼夾所持矣。然熱自痰生，痰從濕化，即欲化痰化熱，先宜化盡濕邪。嘉言云：舍助陽，別無驅濕之法。明示人以溫通為主，將來附子理中連理輩一定章程。其中損益尤須臨病斟酌，活法在諸高明公也。設使兼夾之邪日化一日，而瘧機未脫，仍可用小柴胡湯和之，或寒熱漸輕，但師其意不取其方，亦未為不可然，而諸高明自有見識，不必多言。此亦因主人之囑，聊以應命焉。</p>

<h1>紹興邵</h1>
<p>東方生風，風生木，木生肝。肝居人左，全賴血以濡之，又為剛藏根，憑水以涵之。腎水本虧於下，心血更耗於上。肝失養，惟橫逆，有升無降，無怪乎其臥則血歸於肝之候。魂不藏，氣反逆，少腹一沖直至胸膈，心為之悸，身為之搖，風從內起。始而母病及子，繼以子病及母。所謂諸風掉眩，皆屬於肝，亦謂上升之氣自肝而出，此等症是也。夫肝者將軍之官，非氣不和。下滋腎水，上清心火，以養木，仍不出乎專理肝經例治。舍許學士真珠母一法，而誰請政？</p>
<p>石決明　熟地　茯苓　黨參　棗仁　歸身　沉香　犀角　柏子仁　龍齒</p>

<h1>西匯胡</h1>
<p>天之熱氣下，地之濕氣上，人在氣交之中，無隙可避，虛而受者，即名曰暑。暑之為言，有濕有熱，不言而喻矣。夫暑先入心，暑必傷氣，氣分之濕不為之先除，則所蓄之熱必不能外出。所以暑濕熱三氣交蒸之初，務須消去其濕，正合古人消暑在消其濕之旨也。然濕邪一去，熱氣即從外達，又名暑熱，不名暑濕。一氣而有兩名，前後之用藥有異。蓋以熱則陰傷，氣亦更弱。無怪乎鼻衄舊恙上從清道而出，身體困憊，飲食漸減，脈轉弦數，陽分更熱，口內知干，種種見虛中有實之象。但暑邪一證，河間每論三焦。現在頭額昏蒙，邪熱偏於中上，惟衄去過多，虛在下焦陰液。如此細診，斷在少陰不足陽明有餘，有何疑惑哉。擬張景岳玉女煎法，俾得中下焦熱氣上熏於肺者，悉從暗化，而下焦之陰氣亦不再傷，仍不出乎劉氏三焦治例。未知是否？候西耕先生政之。</p>
<p>細生地　煨石膏　懷牛膝　麥冬　知母</p>
<p>九牛二虎丸　左虎掌（十二兩，酥炙）　茯苓（五兩，人乳拌蒸，曬）　牛肋骨（九根，要用第三根者佳，酥炙）　牛膝（五兩，鹽水炒）　大力子（二十兩，生曬）　白蒺藜（二十兩，去刺）　小川芎（一兩，生曬）　歸身（五兩，酒炒）　黃耆（五兩，蜜炙）　沙參（五兩，鹽水炒）　雄烏骨雞（一隻，將雞干去毛雜，煮爛連骨重打如泥，酥炙）</p>
<p>共為細末，煉蜜和丸，桐子大。每服四錢，朝以開水送下。</p>

<h1>松江朱</h1>
<p>左升太過，右降不及，何經之病？曰右肺，左肝，肺肝同病，自然升降失常。然肺為五臟華蓋，肝脈布於兩脅，此左升僅屬肝，右降反屬肺矣。何也？蓋肝體在旁，肺體在上，只就位置而言。若論其作用，內經又曰：肝居人左，肺居人右，右之不降，正失其清肅之用也，左之過升，肝反多所生逆之用也。橫逆之邪，加於清肅之所，木寡於畏，反侮於金，無怪乎半身以左之氣旋於右，既不能透澈於上，亦不能歸縮於下，有時邪之相爭，盤旋脅部，直宜待得矢氣，則快然。如衰者，木究不能上克於金，而仍下制於土地也。夫土曰稼穡，作甘者也；木曰曲直，作酸者也。口甘帶酸，痰唾亦然何？莫非土受木乘之過，木亦太剛矣哉？誰能柔之，惟有左金一方，以為剋木之制，則木正其體，金得其用，可患升降之不得其常耶？</p>
<p>左金丸</p>

<h1>又</h1>
<p>接續手札，荷蒙錦念。謝謝！細繹病源，所云氣火益熾等症，即古語云氣有餘便是火。氣從左邊起者肝火也，左金丸主之，當歸龍薈丸亦主之。然左金一丸，如水投石於前自宜，以當歸龍薈丸繼之於後，未常不可為法也。設使以當歸龍薈丸即日為之，聊應臺命宜矣，無如我先生有「為癰為血不可不預防也」一語，斷非無稽之談，出而高明者，弟始而駭然，繼而茫然，自亦不知其筆從何處著也。然在望一方者如飢如渴，以速為貴。而弟亦刻無寧晷，不過夜以繼日，有者求之，無者求之，必得左宜之右無不宜之要法，然覆書非敢緩也，蓋有待也。端午日，下問者少，小徒聚在一堂，講論百病皆生於氣，遂有九氣不同之說。氣本一也，因所觸而為九，怒與思為九氣中之二焉。思則氣結，《內經》自為註腳之。思則心有所存，神有所歸，正氣留而不行，故氣結矣。先生有之不必言矣。至於怒則氣上，甚則嘔血，恐則氣逆筋緩，發於外為癰疽。古人亦載氣門，以昭邪郁必變，久病入絡，非無意也。先生博學而預料之，小徒強志而問及之。弟即從此而領悟：怒有形於外者，亦有不形於外者。形於外者每出於暴怒，暴怒傷陰；不形於外者，名曰鬱怒，鬱怒傷肝。然視履考詳，而陰傷於暴怒者，未必有之；言辭安定，而肝傷於鬱怒者，豈曰無之。惟其鬱也，木即不能暢茂條達，反來橫逆，則氣鬱於中者，勢必火炎於上，金受火刑，有升無降。痰血熱辨，一病於肺；痞滿悶塞，再病於脾。脾肺同病，則胃家之痰食無力消，膽經之水火從而和之，將來血溢於癰，癰腫於經絡，增出一番新病。誠不能不未雨而綢繆者也。然為癰為血之枝葉，仍不外乎氣鬱之火為根，治病必求其本。因思「氣從左邊起者」條內，有「久患氣結諸藥不效者，先服沉香化氣丸以開其結」之文，不獨將來之變病可以預防，即現在之氣火升騰亦為要著。而況右脈弦強則土鬱奪之之法，本來鄭重者乎，但沉香化氣丸重劑也，權宜也，元虛久病之體不能不用，不可多用。清晨只服八分，晚服逍遙六君輩調之，以為實必顧虛之計，未知是否？</p>
<p>朝服沉香化氣丸，晚服逍遙散、六君湯（北沙參、半夏易川貝）。</p>

<h1>甘露華</h1>
<p>大少爺之病，伏暑晚發之病也。暑邪者何？天之熱氣下，地之濕氣上，人在氣交之中，無隙可避，感而受者。假使發於當時，其邪易達，其氣未深耳。惟深伏三焦，直至秋晚而發，道遠氣深自內達外，焉得見輕。所以病經十有三日，日重一日矣。然伏邪僅在三焦，不逢寒熱分爭之下，所見者無非胸前痞悶，口中甜膩，二便失調而已。茲乃肢麻不已，更見厥逆，顯系所患之邪不從三焦而出，反入於肺肝。肝者將軍之宮，其性橫逆，上犯肺氣則見為厥，傍流中土則見為麻，麻厥並至，不惟熱盛，亦且肝傷逆矣。然肝陽之逆，暑氣之侵，原非無故而作，良以風喜傷肝，未平之前先招風氣，引動伏邪。加以陰氣素虛，肝失所養，所謂最虛之處便是客邪之處。三焦久病累及乎肝，最為惡候，能不慮其虛不化邪、厥逆頻頻乎？所幸者，膽受暑。膽屬少陽，其機不樞，有出入之意焉。是以寒熱之勢變為寒熱往來，間日而作，俾得從此漸輕，不獨肝臟之邪可以外傳於腑，即溜在三焦者，亦可望其歸併也。但少陰本虛，脈弦而芤，最怕欲化不能，亦恐半途而廢，邪實正虛，用藥最難入手。然就寤言不寐，多夢紛紜，邪在膽經為甚，惟有十味溫膽湯加減，似屬左右咸宜。未知是否？候政。</p>
<p>十味溫膽湯加羚羊角、龍齒、省頭草。</p>

<h1>朱家角邵</h1>
<p>四太爺之病，肝腎素虛，肺胃新感之病也。夫肝屬乙，腎屬癸，乙癸同源，病則本重。但病者多花甲之年，即使不病新邪，筋骨間早已空虛，何堪再經磨耐，又意寒熱陡發，直至一候有餘而解。解則急急補之，猶恐填而不足，乃又經復食消克等劑，在所必需。幸而外熱遽減，裡熱不清，已虛而益著。其虛咳嗽更劇，渴，痰黏膩，出而不爽，氣息短促，形神困頓，飲食不思，病勢有加。無已因病致虛，因虛更病，互相為患者也。至於苔色，或黃或白，現在又多剝象，左脅曾疼，兩膝常屈，臥床不起，小水仍黃，干而未渴，加以音不揚，睡中語，顯系肺胃兩經之熱。既不能從外而泄，又不能從上而清，邪無出路，斷無中道而立之理。勢已逼入下焦，兩傷肝腎。所謂最虛之處，是客邪之處是也。然邪之所湊，其氣必虛，留而不去，其病為實。實則瀉之，虛則補之。以使補不足，其邪瀉，不傷其正，一舉兩得，方合實必因虛之計，此等之法，似屬從證，而未言脈。然所診之脈，豈有不合之理。右寸關部弦而且滑，左尺關部細而且數。數則為熱，滑則為痰。弦主乎肝，細主乎腎，豈非肺胃兩經之熱痰正甚，肝腎兩經之虛氣大昭，無怪乎其氣從左逆，臥不能，側更著。上實下虛之症焉為日已久，肺失清肅之司，相傳無權；腎失封藏之本，作強無主。而來喘息標本兩治，否則氣不歸原，難卜其旋見吉兆，三才湯合十味溫膽湯兩經法加減。</p>
<p>生地　人參　天冬　竹茹　橘紅　茯神　棗仁　歸身　羚羊角　川貝　桑皮　骨皮　蛤殼</p>

<h1>復診</h1>
<p>清養之下，弦滑脈象較昨頗緩，然肺受熱傷每易成痿，不可不慮。</p>
<p>方加冬瓜子、絲爪絡。</p>

<h1>又方</h1>
<p>喘出於腎，關於肺。標本同源，病始而邪甚，繼以正衰，大非久病所宜。熱在上焦者，因咳為肺痿，仲聖早已言之。非無意肺之一臟，外為熱火所爍，內被肝火所逆，金不生水，水不涵木，木反侮金，其畏如虎。轉與復脈湯治其下，葦莖湯治其上，以冀弋獲。</p>
<p>炙草　人參　生地　麥冬　阿膠　東瓜子　絲瓜絡　蓮根　苡米　川貝　知母　桑皮　骨皮　蛤殼</p>

<h1>未錄住址姓氏</h1>
<p>細繹病原，總不外乎燥之一字。燥萬物者，莫燥乎火。火有虛實，火稍清而虛，火之上炎不能歸縮於下也。是以黃痰之外，更見粉紅，舌乾糙燥，便結小堅，肌膚乾熱，甚至手震睡語，以昭熱極生風，液涸風動之象焉。何必以脈之左者反浮、右者反細，而後知五志厥陽之火亦從而暗燥之其金乎？當此肺已虛矣，束手無策，然又不能坐視。惟有資液救焚湯，雖曰鞭長莫及，亦不得不以潤萬物者，莫悅乎澤之思，以冀吉人天相。</p>
<p>資液救焚湯</p>

<h1>蘆墟東茜墩陳</h1>
<p>夏問伏暑，直至秋末而發，亦云晚矣。晚則其道遠，其氣深，橫連於膜原，外發於陽明。所以初發之時，僅見蒸熱，難得汗泄，而不能解。今已二十日矣，曾經化火，發渴發乾，陰分必傷。傷陰化燥，本屬暑邪見症，而況陽明中土萬物所歸，尤易化火傷津者乎？然陽明化火傷津，不過清之養之而已，尚可有為。無如所患之症，火內挾飲食之積，結而不開，盤踞小腸，上升則口糜，下注則便泄，泄還不已，轉而為痢，其色黃而帶灰白，便則多痛，以昭邪盛則實之意焉。設使胃家氣旺，腎臟不虛，而用攻克之劑，尚可以勝其任者，原為幸事然，而飲食不思，神情困倦，面白帶青，肌肉暗削，小便不多，少陽陽明兩經之正氣索然，津液先涸，須急補助，已恐鞭長莫及也，豈能再用攻克？診得右脈弦數，左脈細小。細小為虛，弦數為實，虛中有實。法補實則礙虛，補虛又礙實，用藥實為兩難。惟有豬苓湯一法，最為瘀後傷陰所合。然下焦可治，而中焦之結者、肝陰之虧者，仍未得以兼治，參入六一散方，佐以芍藥甘草湯，為一方而三法備焉之計，以冀弋獲。否則悠悠而脫矣。候諸高明先生政之。</p>
<p>豬苓　阿膠　赤苓　澤瀉　紅曲　甘草　芍藥　滑石　取薺菜花（一兩）　荸薺（四個）　海蜇（一兩）</p>
<p>煎湯代水。</p>

<h1>又</h1>
<p>進豬苓湯後，所見下痢已減其半，所化之邪亦減其半。所以唇之腫者能消，齒之垢者能清，以及右脈之弦數者能緩能和，似屬佳兆。然左脈細小，按之仍屬無神，且兼關部帶弦。弦主乎肝，細小無神又主乎真陰不足。惟以不足之真陰，難以涵養肝木，肝木順乘土中，尤為易事。如土中尚屬有權，往往於病邪消化之後，胃口漸開，生機可望。此乃胃中之津液早被熱氣所傷，又為下痢所劫，一傷一劫杳不思谷，乾嘔噁心，所為津劫病至，津竭禍來，此等症是也。若論上腸盤踞之邪，痛勢仍然，按之未減，而其位置則已近於小腹，而不連於脅部，勢欲下行，還未歸併大腸。即使貽患將來，不過為癰為血，尚可徐圖。惟此虛態百出，變生眉眼，能無懼乎？然則不得不宗七虛七實、扶正為先之訓，回元氣於無何有之鄉，再圖僥倖。候政。</p>
<p>人參　五味子　麥冬　銀花　甘草　荸薺　海蜇　白芍　青皮　丹皮　川貝　橘白　牡蠣　花粉　人中白　取炒香穀芽（五錢）</p>
<p>煎湯代水。</p>

<h1>又未錄住址姓氏</h1>
<p>驚悸起因，傳為顫振，繼以寤寐不寧，左脈細軟，右關弦數，數則為火，弦則為痰，細軟又主乎虛。虛在肝腎，兼以痰火，結在脾胃，所以肢體軟弱，口燥身疼也。連日固本，既屬安適，可無更張。惟痰火內勝，不以十味溫膽法加減佐之，以為標本兼顧之計，俾得虛不再虛，未知是否？同石盤竹香先生議。</p>
<p>人參　大熟地（浮石拌炒）　棗仁　歸身　天冬　大生地　茯苓　橘紅　竹茹　川貝　柏仁　龍齒　石決明</p>

<h1>次診</h1>
<p>病顫振振，乃陰氣爭勝，顫則陽氣不復。其勢之來，上衝則鼓頷，四散則肢動。至於肉瞤筋惕，不過來勢之輕者。治此病者，平補鎮心而已。惟肝不藏魂，寤寐失常，膽又內怯，驚悸時作，加以痰火串入，用法須兼備免厥塞擬方。侯石盤竹香先生均政。</p>
<p>龍齒　人參　歸身　遠志　茯神　橘紅　棗仁（川連三分拌炒）　膽星　石決明　半夏（竹瀝拌）　秫米　竹茹　鉤藤</p>

<h1>再次診</h1>
<p>顫振不發於冬至，已責陽氣不復。此在冬至以前發者，尤為陽氣不復，不言而喻。至於陰氣爭勝似未明言，而知陰氣之得爭以勝者為陽氣不充未經來復之故。陰氣何能爭勝然，陰之爭勝固明，而其所爭所勝之陰究系何物邪氣？曰肝屬陰，痰亦屬陰，痰生於脾，脾經所生之痰，內因肝經之陰火下動，動則生風，陰痰亦隨之而逆，此顫振之所來也。豈獨諸風掉眩皆屬於肝而已哉？惟本有驚悸，此因顫振而更劇，無怪乎有寤多寐少等症也。</p>
<p>人參　冬朮　茯神　炙草　半夏　陳皮　大生地　麥冬　歸身　白芍　棗仁　遠志　秫米　石決明　竹茹　鉤藤</p>
<p>先服磁朱丸三錢，陳皮湯下。</p>

<h1>唯亭陸</h1>
<p>陰虧之體，腎家一水本來不勝兩火。此《內經》僅道其常也。此間更有變者，煩勞之下，火從內起；炎暑之時，火自外加，內外兩邪合而為一。以腎水久虛者當之，則陽絡受傷，血從外溢，溢而未清，變為咳嗽。甚至有聲有痰連連不已，飲食雖可，肌肉暗削。自秋徂冬，正屬金水相生之候。是以見症尚和，自覺相安於無事，而不知仲春水旺亦反侮金。金者肺也，肺失清肅則音不揚，咽中痛，其喉為痹，以昭一陰一陽之火氣內結，金受其累矣，漸成損症也。然脈形細數，尚未見促，陰火雖旺，陰液未竭，緩以圖之，日進滋補，俾得夏至陰生，可卜其旋元吉。現在脈虛火甚，物雖下咽，最為吃緊之時。非清不可，非補亦不可，斟酌於二者之間，惟有錢氏阿膠散法可以加減用之，以合式。擬候政。</p>
<p>阿膠　馬兜鈴　炙甘草　牛蒡子　花粉　豬膚　川貝　秋石　鳳凰衣　麥冬　粳米　珠粉　大生地　杏仁</p>
<p>另用水泛六味丸（三錢）　清晨淡鹽湯送下。</p>

<h1>平望陸</h1>
<p>紅疹屬血，白㾦屬氣，氣血同病，㾦疹併發。發則病宜解矣，神必清矣。此乃既發白㾦，又發紅疹，而神反昏沉，身熱不退，氣息短促，加以舌縮質紅，其苔灰薄，遍身自汗，足脛逆冷，甚至下唇震動兩手然。昨多喜笑，小便自遺，本來咳嗽，今反寂然，水飲與之則咽，不與亦不思。診得右寸脈形滑數，關部濡軟，左手皆見細小，按之模糊。想是風邪外感引動伏邪又被濕痰所阻，元氣受傷，走入手足厥陰也。勢已危篤，每易悠悠而脫，邪從汗出，元氣亦與之俱出。正在勢不兩立之時，用藥再為棘手，勉從虛羸少氣之例立法，以冀邪盡而元氣不與之俱盡，現為第一要著。</p>
<p>竹葉　石膏　人參　麥冬　川貝　炒穀芽　生地　花粉　遠志　茯苓　鉤藤　牛膝　甘草　犀角</p>

<h1>崑山陳</h1>
<p>胃脘當心而痛，繼以形寒發熱，如瘧而作，甚至呃忒頻頻。此係溫邪外感，穢邪內踞，加以濕痰食滯交結中宮也。今使中宮之陽氣內旺，所受之邪容易化達。而此間元氣本虛，諸邪又傷於後，無力消除，病延多日。所以脈象空弦，神情困倦，非補不可之時也。但舌苔白膩，干欲熱飲，下體先痹。今更作麻，噦逆噁心，邪戀肺胃，而腎氣亦衰，用藥極難兼顧。然溫養中宮，佐以上下之品，俾得一舉而三善備焉，以冀即日見痊瘳為幸，否則氣息易喘，恐增額汗。擬候諸高明先生政。</p>
<p>人參　於朮　川附　乾薑　炙草　復花　半夏　厚朴　丁香　麥冬　藿香　木瓜　赭石　茅根　枇杷葉</p>

<h1>又</h1>
<p>進前劑，麻痹得和，四肢亦緩，且得吐出陳腐酸苦，其色若塵，此皆得溫而通也。然呃忒頻頻，氣自短促，呻吟不絕，噦逆嘔惡之象仍不陡除。神情困倦，左脈細空，右脈弦急，大便溏黑，喜飲熱湯，濕痰邪滯之外，更有瘀血在裡。邪從上出，不自下行，已為逆症，而況嘔吐之時，曾經額汗，能不慮其虛波暗起而胱乎？噦逆吐逆無不由乎氣之所載，氣若不平，諸症何從化解？前方加減，先使氣平為要。</p>
<p>復花　赭石　半夏　洋參　牛膝　檳榔　沉香　杏仁　刀豆子　烏藥　柿蒂　大補陰丸</p>

<h1>又</h1>
<p>呃忒日輕，嘔惡日重，此即陳腐之邪內阻氣機，為呃者都從嘔出。所以一則見輕，一則見重也。然病根欲拔，而其所出之路逆而不順，上而不下。失胃氣下行為順之理，卻為累事。昨夜額雖無汗，今朝脈尚弦急，呻吟未絕，所留陳腐之邪尚在中宮。犯肺為咳，犯胃為嘔，直從中道而出，又帶呃逆。必須去盡宿邪，庶幾有望。</p>
<p>指迷茯苓　蘇子　白芥子　刀豆子　厚朴　茅根　枇杷葉　竹茹　洋參</p>

<h1>又</h1>
<p>盪滌宿邪之下，嘔惡大減，呃忒更緩，脈象稍和，呻吟漸除，大便疊通。無乃胃有下行為順之兆乎？去痰莫如盡，尚須磨蕩下行，繼之於後，可卜其旋元吉。</p>
<p>二蠶綿　當歸　川芎（各三兩，水五大碗煮至爛，曬乾，煅存性入後藥）　捲心荷葉（四兩四錢，取）　阿膠（一兩五錢，酒浸拌蒸曬七次者佳）　大熟地（三兩）　砂仁末（四錢，酒煮）　香附（四兩，鹽水浸三夜，童便浸五宿，日夜各拌曬，酒炒）　杜仲（三兩，鹽水炒）　真於朮（二兩，米泔浸一宿，土炒）　川斷（一兩六錢，酒炒）　細子芩（一兩六錢，酒炒）　歸身（二兩，酒炒）　奎白芍（一兩六錢，酒炒）　甘草（六錢，蜜炙）</p>
<p>為末，蜜丸，每用二錢。朝晚兩服，砂仁湯送下，至七個月不必服。</p>

<h1>梨里王</h1>
<p>陽絡傷，血外溢，溢之後，脈宜靜。此乃脈細而數，數則為熱，細則陰虧。所以氣息短促，胸臆隱痛，面色痿黃，語言無力，小水清白，大便漆黑，心悸少寐，氣逆或悶。動則火升，倦則陽舉，無一而非虛陽上擾，陰血下虛，氣不歸源之象。氣有餘便是火，氣不足即是寒，不足之氣反見有餘，此非真火，乃是虛寒。陰不戀陽，血難配氣。欲降其氣，必須補陰，不言而喻。擬方請政。</p>
<p>人參　五味子　燕窩　枇杷葉　苡米　橘紅　石決明　玉竹　冬瓜子　川貝母　麥冬　茯苓</p>

<h1>又診</h1>
<p>胸脅悶痛，比之午間大減。良以上焦瘀血漸從活動而清，所進養陰利肺法似屬合宜。然氣息之短促未長，火升心悸，口燥顴紅，脈細，仍數陽氣外露，陰血內虧。若能呼吸調和，即是其旋元吉。請政。</p>
<p>人參　五味子　麥冬　白芍　苡米　橘紅　石決明　茯苓　玉竹　冬瓜子　阿膠　絲瓜絡</p>
<p><u>接服方</u></p>
<p>大生地　麥冬　北沙參　茯苓　甘草　枇杷葉　阿膠　石決明　百合　敗龜板　燕窩　白芍　骨皮　玉竹　茯神</p>

<h1>常熟俞</h1>
<p>肝藏魂，肺藏魄，魂升魄降，一陰一陽之別也。此間之病，魄之降者一無所關，魂之升者獨擅其奇。始而見所未見，今又聞所未聞。男女話長，分居左右，此無他；嬰兒奼女，天各一方，而實黃婆之不媒以合也。夫黃婆屬土，土中濕熱生痰，以致天五地十之生成，失其所主，累及肝魂，魂不附中，而出之於上，欲治其上，勢必先奠厥中。</p>
<p><u>六君子湯</u>　加獺肝　另磁朱丸</p>

<h1>杭州鍾徐若泉令親姚名琨先生字來</h1>
<p>幼時瘦弱，陰虛也。痘後頭痛，肝邪旺也。不論外感何邪，頭必痛者，陰虛肝旺容易上升也。十三四歲精氣通，真元早泄，此時反胖，且兼痰火頭疼，喜於敲者，郁得敲而鬆也。每發於春秋，甚於長夏，春分以後秋分以前，溫熱令行也，補則病無增減，虛能受也，即服消痰清火亦不見其長短，有病則病當之也。胸腹脹痛而用消克暫快一時，胃得下行為順之常也。從前痛時在額，此更前後左右引及者，肝有伏風，善行數變，不惟痰之為物，隨氣升降，無處不到也。口中之臭、鼻間之熱，胃逆上衝也。睡不足，如在雲霧之中，腰脊不能支持，諸陽氣浮而無從也。手足之熱，黃白之苔，面發之塊熱而且癢，有時頭暈，陽明中土萬物所歸，上而躍也。竹瀝可醫，上病降而下之也。飲食芳香可受，否則不能者，胃少衝和之氣也。不欲水果，脾不耐寒也。又惡甜膩，胃多濕熱也。偏喜肉食、水畜、鹹寒，療腎氣虛熱也。近更胖者，溫熱痰火扶助，一身元氣擴充，脾胃反見有餘也。因男子二八而精通，通在十三四歲時，肝之疏泄早行，腎之封藏不固，如此猶可相安於無病，不過知其陽之太過而已。乃於幼時瘦弱，已昭陰氣之虛；痘後頭疼更著，肝家之旺。甚至不論何部從外而感，痛如應響，每發於春秋，甚於長夏。明明春分以後，秋分以前，在天地鬱蒸濕熱大行之時候，土中素有之濕熱，尚且同聲相應，而況二五妙合之時，早以濕熱為種。身中常行春夏之生長，而少秋冬之收藏，大生廣生之候，即大病特病之時。張氏云：素稟濕熱而挾陰虛，此等症是也。虛則補之，實則瀉之，各得其所。故免久而生氣之弊。然陽明中萬物所歸，濕熱痰火無不歸之於胃。此口中之臭，鼻間之火，黃白之苔，手足之熱，面發之塊癢而且熱之等象，失其下行為順之常，有升無降，病無虛日矣。一俟肝陽化風，習習內動，頭之自額而痛者，前後左右靡不引之，以昭風性善行數變，愈轉愈深。且至於睡不足時，如在雲霧之中，腰脊不能支持，諸陽氣浮，無所依從，間或眩暈並行，出於不意，陰虛則失基，亦云甚矣。若論頭痛，發明只須竹瀝一味可以愈者，降而下之也。此乃暫行之事，而胃少衝和，所食者僅以芳香可受；脾難健運，所食者竟以水果為嫌。所惡之甜膩，所喜之肉食，一因濕熱內多，一因陰氣虛極，不問可知。自始至終，既不外陰虛濕熱，無怪乎其駕馭濕熱者反能扶助作為，已胖而益胖也。然陰虛與濕熱又不兩立，竊恐中年以後貽患無窮也，不能不早為之計焉。附方請政。</p>
<p>大熟地（八錢）　丹皮（三錢）　澤瀉（二錢）　淮山藥（四錢）　雲苓（三錢）　白芍（二錢）　石決明（三錢）　黃柏（一錢）　知母（二錢）　青鹽（二錢）　甘菊（一錢）　女貞子（三錢）　旱蓮草（三錢）　沉香化氣丸（三錢）</p>
<p>為末，取忍冬藤五斤，洗淨寸截，煎湯，去渣，成膏。入前藥量，加白蜜糊丸。每服三錢，早晚兩服，鹽湯送下。</p>

<h1>洞庭山徐嚴少宰妹</h1>
<p>始而腳痛，繼以頭疼。陡然昏不知人，手振肉瞤，動氣故。築牙關與兩目上視，面黃顴紅，唇上色青，其下亦然，呼吸痰聲。左關已無脈，寸部甚微，右尺亦絕，關前獨大且滑。其人不吐，鼻且不煽，汗亦不出，四肢厥冷，諸醫束手，都以真珠母丸法應酬而劇，此痰祟附於肝經，擾亂不寧，以致地水火風無不上加於天也，古來無此成方，以意逆之，一劑而活動，二劑而舌伸，三劑而能言。歸語門人。</p>
<p>茯神（五錢，硃砂拌）　沉香（三分）　金器（四錢）　磁石（四錢）　獺肝（一錢）　人參（一錢）　竹瀝（一錢五分，人薑汁一匙沖）　甘菊（一錢五分，炒）</p>
<p>先以烏梅肉擦開牙關。</p>

<h1>嘉慶乙亥元和時疫論</h1>
<p>將欲施藥施醫施棺於郡邑之中，則必先解囊後勸善，勞心勞力，日費經營，乃可以有為也，然而求活人甚眾之舉不易得焉。備其藥得醫省其棺，昔之所難者，今於是乎見之，元和實推為善之鄉。當年賑濟尚有餘貲，仍思設法以公諸貧民，有紳士焉憂上天之疫癘，有富貴者焉患生人之夭札。時維初夏，正暑濕熱三氣將蒸，又值乙運之歲金不及，亥年之風木偏淫。不惟木寡於畏，反侮其金，而且凶年穢亂之氣亦被其扇動於中，人在氣交，無隙可避，是一人中其氣則為濕溫、一方染其氣即為時疫之候也。周邑尊既理荒政之餘，望其氣而異之，集醫問乃病，答曰：乙為從革，炎火盛行，亥屬厥陰，風淫所勝，風火相煽，則吳又可瘟疫論之見證，不一邪之盤踞於膜原者，勢必從九竅傳而出，即外起之因內兼之證，以末治之亦不能出此範圍也。況吳又可論瘟疫及張石頑論時行疫氣、周禹載論濕熱暑疫，均值大撓甲子以來第七十三甲子，厥陰司天，少陽在泉，風火用事之時。後先闡發精義入神，會元之司天如斯，值之司天亦未必不如斯。於是邑廟為局，病者接踵而至，門庭若市，內外分科，大小異位。余時切一脈浮不沉而數，望一舌白苔滿布，問其所苦，則凜寒發熱，昏昏不爽，余曰：達原病。旁一後生曰：如用此法治之，苔必轉黃，而邪達矣。服之果然。及問後生為誰，曰徐淡安先生之高弟徐鐵峰也。伊父雪峰本屬老醫，家學淵源從於局中，可謂好學不倦者矣！可謂與人為善者矣！當如同善者如管佛容吳雲門先生，冀百數十人分手而治，論表裡分界者有人，大劑清涼者有人，下而再下者有人。或濕多而仿濕熱混淆之治，或氣異而採芳香逐穢之品，或敗毒，或消毒，或解毒，粲乎隱隱，各得其所，疇不仰體，痌環在抱之心，共相逐疫，效技於堂廡之中哉！外之往視，諸徒一如局中論治，死生若判霍然而愈者，實不勝枚舉已。乃設席延醫，繼以觀劇，成贊且賀曰：見公之作，知公之志。愛民如子，豈不欲救民於衽席？紳之積善餘慶，豈不欲周急而扶危？富之好義施財，豈不欲博施而濟眾？醫之婆心一片，豈不欲起死而回心夫？然設是局也，豈博樂善好施之名歟？將使繼公之理者，見其實惠知其真心也。</p>
