<header data-type="book">
<h1>濕溫時疫治療法</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>何廉臣</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第七冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521057">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>中醫重氣化，西醫重形質，形質為有形之醫學，氣化為無形之醫學。無形之醫學其學深，有形之醫學其學淺。此中醫之優於西醫者，固已彰明較著矣。而學醫者往往棄中學西是何異？卻步而求前焉。尤有拓拾形質之說，欲以壓倒中醫者，真荒唐絕倫。雖然知形質不知氣化者，固不足以言醫。而知氣化不知形質者，亦不足以言醫。二者實如鳥之有翼，車之有輪，大有相輔而不可相離之勢。第以徹悟氣化，自然洞明形質。若徒知形質未必窺見氣化，此則（鄙人）所敢斷言故學醫者，宜講求氣化為唯一之方針。庶不致誤人者還以自誤。然（鄙人）之為是言者非憑空結撰，實有所見而云然。民國元年春夏之交，時疫流行，本會特派（鄙人）赴杭調查。五月二十二日出發，渡江晉省，初至全浙報館，繼至警察署。咸謂杭城今年罹於疫者約死萬人。奔走五六天，歷數十醫家，言春溫為患者多數。惟王香岩先生熱心研究細談病原，言杭城疫症均發自勞動界，症屬濕溫疫邪伏氣為病。良由冬傷寒水之臟，兼之勞役外擾驚恐內因，至春夏之交濕熱行令而發見症。始則惡寒發熱，胸痞肢酸，腰痛頭暈且痛，嘔惡便泄，病在少陰陽明。重則陽明經表熱未解，少陰經裡氣先潰，致神昏譫語，舌焦卷短，種種危殆惡症畢具。若初起用宣化清解透邪由外而出，或發疹暗或微汗而解，不知內陷昏蒙。倘醫者不知裡虛受邪，妄用剛燥，致動內風變為危殆之症。當經同人等討論，急要治療法。指明是症開始必仿普濟解疫丹或銀翹散等類，從氣分宣化云云。調查畢，即回紹開會，本會同人特撰《醫學衛生濕溫時疫治療法》。編就病名、病因、病狀、衛生四章，急性、慢性時疫二種。選錄應驗一百三十五方。俱從理氣宣化並不拘拘於形質而屢試屢驗，堪為醫家指南針病家救命符也。爰筆數言，編諸弁首辭之工拙所不計也。是為序。</p>
<p><u>民國二年暮春瀛嶠胡震序</u></p>

<h1>正文</h1>
<p>今年春夏之交，吾紹發生一種時疫蔓延各鄉，迄今未熄。紹興各報揭載之後，本會歷經開會，公同研究，思所以預防而撲滅之，俾盡本會之義務。茲據調查之報告，各會員臨症之實驗，僉云此種時疫，確係濕溫，並非癘疫，亦非大疫。紹地濱海居濕，實為年年之風土病，苟能治療得法，十中可活八九，現經博採眾議，引據經典。凡本病之差別變化，逐症之治療方法，以及衛生預防，罔不審慎周詳，竭誠公布，以貢一得之愚。且一隅三反，夏秋之時病，半含在內，醫師視之。可得臨症之一助。惟念病機千變，隨症消息，全賴明達者自己體會。所謂示人以規矩，不能示人以巧妙者焉。今將研究所得，編為四章，條列如下，願閱者隨時賜教，以匡不逮，本會幸甚。</p>
<p>第一章　病名之定義</p>
<p>第二章　病因之原理</p>
<p>第三章　病狀及療法</p>
<p>第四章　衛生及預防</p>

<h1>第一章　病名之定義</h1>

<h2>第一節　病名</h2>
<p>西藏名曰小腸壞熱病，東醫名曰腸窒扶期，（譯即小腸發炎爛潰之謂。）中醫名曰濕溫時疫。</p>

<h2>第二節　定義</h2>
<p>《內經》曰：熱病者，皆傷寒之類也。《難經》曰：傷寒有五，有中風，有傷寒，有濕溫，有熱病，有溫病。後漢張仲景，撰用《內經》《難經》而作《傷寒論》，其自序曰：余宗族素多，尚餘二百。建安紀元以來，未及十稔。其死亡者三分有二，傷寒十居其七。由是觀之，則傷寒為外感病之大症。但推求古醫書，皆以傷寒為外感病之總名。故凡中風濕溫熱病溫病，後人通稱曰類傷寒。其實傷寒自傷寒，濕溫自濕溫，界限分明，不容溷淆。昔喻嘉言謂濕溫一症，原藏疫癘在內，今據本會各會員之經驗，大抵無傳染性者，謂之濕溫時病，有傳染性者，則為濕溫時疫。瀏覽泰西日本各醫籍譯本，所云小腸壞熱病，腸窒扶斯，其病狀悉與吾國濕溫時疫同，而譯本仍稱曰傷寒。可見習新醫學者，於吾國醫書，未嘗研究，從可知矣。</p>

<h1>第二章　病因之原理</h1>

<h2>第一節　病因</h2>
<p>西曆千八百八十年，亥勃氏及古弗氏，發明細菌學後，乃知各種傳染病，多本於肉眼不可見之細菌及原蟲所起。本病之發病素，實緣亥勃氏格氏，所精密研究之窒扶斯桿菌。其狀為末端純圓之小杆。此菌發育，常為二枚，或數枚，互相重疊，其末梢有無色圓形之部位。在新鮮標本，及懸滴中，呈極活潑固有之運動。蓋菌體之側部及末端，具有鞭毛八枚，或十二枚。故得營其運動者，西醫又用累富氏之染色法，以顯微鏡窺之，則知菌體之形狀。吾國向無顯微鏡，故不能確指細菌之狀罷。然古人於各種傳染病，多知為黴氣之穢毒，蓋已發覺細菌之徵兆者矣。據此以觀，病因之來，雖中外之說不同，而公認為有一種之發病素，其理則一也。</p>

<h2>第二節　傳染</h2>
<p>發病素之傳播也，中外公認為不潔之井水河水以及糞溺穢濁之所致。考吾國古醫書，言之鑿鑿實亦不可少者。其言傳染病之發生也，則由於水土鬱蒸，或發於河井溝渠，或發於山川原陸。第其所以發生時疫者，或由於腐爛之草木，或由於汙水之潛熱，或由於埃𡐋糞溺之穢濁，或由於死狗死貓之臭毒。故在東南熱地，地氣卑濕，一到首夏迄於初秋之時，光熱吸引，遂使一切不正之雜氣，升降流行於上下之間。凡在氣交之中，無男無女，無老無幼，無少無壯，不能不共相傳染，疫病之所以盛行一時者實由於此。其傳染也，始則風為之媒介，或水為之媒介，繼則病人之口氣汗氣糞溺之氣，及其衣服器具，在在皆可以傳播者也。</p>

<h1>第三章　病狀及療法</h1>

<h2>第一節　西醫之診斷療法</h2>
<p>泰西之小腸壞熱病，日本之腸窒扶斯，其病狀悉與吾國濕溫時疫同，後文當詳言之。惟西醫療法，極為簡單，所言病歷之經過，亦不能如中醫之詳細美備。蓋西醫專重解剖，唯知本病固有之解剖的變化，為窒扶斯桿菌。盤踞於小腸淋巴濾胞，因而淋巴細胞，驟形肥大，變為髓狀腫脹，漸趨於迴腸瓣面，侵及大腸，而成陽潰瘍，甚至脾臟腫大。心臟筋肉帶緩，右側部擴張，心臟筋纖維變化。肝臟細胞屈細，尿管之上皮細胞，胃腸及唾腺之腺細胞，亦成混濁性腫脹，及脂肪變性。此等病理解剖，可謂精微之至，中醫多難能也。庸詎知西醫之偏執解剖，遂使印定眼目，而療法反不能達完全之目的。即如本病之窒扶斯桿菌，因知繁殖腸部，僅用甘汞下之。以冀排泄其腸內之毒質，減輕其熱候之下降。並用實芰答利斯葉浸以利其尿，硫酸以退其熱，或且撤里矢爾酸，注射皮下，以殺菌防腐，為唯一之妙法。近有試用血清療法者，究之治法之幼稚，尚不能得十分之把握。噫窒扶斯桿菌，雖盤踞於腸間，而不知浸淫各臟，皆起變化，豈可不一一顧及之耶。故內科學之診斷療法西醫固執呆板，轉不若中醫之臨機活變者也。人謂西醫善治外症，中醫善治內症，洵不誣哉。</p>

<h2>第二節　中醫之診斷療法</h2>
<p>濕溫症之現狀不一，故變症亦極複雜，本病之最緊要者，當分為急性時疫慢性時疫之二種，試詳述如下。</p>
<p><u>一</u>　急性時疫</p>
<p>急性時疫，純是血分溫毒病，雖其初感受之氣，有因寒因濕之不同，而寒鬱之久，悉從火化，濕鬱之極，必兼燥化。前哲葉天士、余靈胎兩醫師嘗言之。此即《素問》重陰必陽之精理也。其邪伏於血絡，《內經》所謂內舍於營是也。然有肝絡鬱而相火劫液，液結化燥者，有心絡鬱而君火爍血、血熱生風者，現症既異，治亦不同，茲當分別如下。</p>
<p>大凡肝絡鬱而相火劫液，液結化燥者，多發自少陽膽經，首犯胃經血分，（舌色）必鮮紅起刺，或鮮紅而舌根強硬，或純紅而有小黑點，或純紅而有深紅星。間有紅點如蟲碎狀者，或純紅而苔黏有裂紋，如人字川字爻字不等，或裂如直槽者。</p>
<p>（脈息）強滑而盛躁，或右大而左弦數。</p>
<p>（臉色）必面赤如朱，眼白均現紅絲。</p>
<p>（症狀）必壯熱而渴，不惡寒，反惡熱，目眩耳聾，口苦幹嘔，胸腹熱甚，按之灼手，熱汗時出，神多煩躁，甚至如醉如狂，擾亂驚竄，或發疹發斑，小便短數熱，大便燥結。</p>
<p>（治法）宜清解膽火之郁，救胃液之燥，以預防肝經風動。先用犀地桑丹湯，清營透絡，俾伏邪從斑疹而解，或從戰汗而解。若斑疹及戰汗出後，伏火猶熾，則用拔萃犀角地黃湯急下之，使伏火從大便而解。亦有火毒內結，清透之而斑疹不顯，反從下後而斑疹始發，或有透發不應，只用清火解毒。如犀羚白虎湯，加金汁，白頸蚯蚓甘蘿根汁，斑疹反大透而伏火始解，解後用千金生地黃煎，清餘火而復胃液。若虛羸少氣，氣逆欲吐，用竹葉石膏湯，去竹葉加鮮竹茹、鮮茅根、清蔗漿配薑汁數滴，和胃氣而復清津。</p>
<p>又如心絡鬱而君火爍血，血熱生風者，多發自厥陰肝經。最易上蒸腦筋。</p>
<p>（舌色）焦紫起刺如楊梅，或舌苔兩旁有紅紫點，或舌紅無苔而膠干，或泛漲而似膠非膠，或無液而干黏帶澀。</p>
<p>（脈息）多弦緊搏數。</p>
<p>（神色）多昏沉蒙閉，或如醉如疑，屍厥不語。</p>
<p>（症狀）必熱深厥深，手足反冷，咽乾舌燥，頭頸動搖，口噤齒齘，腿腳攣急，時發瘈瘲，甚或睪丸上升，宗筋下注，少腹裡急，陰中拘攣，或腸燥，有似板硬，按之痛甚，彎曲難伸，衝任脈失營養，當臍上下左右，按之堅硬，動躍震手，虛里穴及心房，亦必動躍異常。</p>
<p>（治法）宜急救血液之燥，熄風火之亢，以預防陰竭陽越。急用犀羚鎮痙湯，或滋液救焚湯，重加瓜霜紫雪丹，先清其神而熄風，繼用龍膽瀉肝湯，或平湯清裡湯，鹹苦寒降以瀉火，終用阿膠雞子黃湯，滋陰液以鎮肝陽。</p>
<p>以上所述之急性時疫，傷人最速，治失其時，或治不得法。凡一二三日即殞命者，多屬此類。幸而今年夏季，尚居少數耳。至其暴亡之理由，上海神州醫藥總會同社友余伯陶君，發明最精，試節述其言曰：凡疫症傳染之易，死亡之速，在愚夫愚婦，皆謂有邪祟憑乎其間，實則非真有所謂疫鬼也。即古人儺以逐疫，亦不過藉以鎮人心順民情耳。然其一觸即殞者，皆緣人之呼吸出入機關。司其職者，唯口與鼻，口鼻二部，最與腦經直接。蓋鼻之氣通於腦，口之氣通於胃，亦通於腦，疫邪中人，頃刻震撼全腦，腦中血管暴裂，而其人已無生理矣。此其所以傳染也易，此其所以死亡也速。此論發明急性的熱症時疫，可謂理精詞卓，其他陰性霍亂，如欲稱癟螺痧，吊腳痧之類，幾次暴吐暴瀉。其命即殞者，皆由脾胃陽竭，肺氣虛脫，心臟麻痹使然耳。</p>
<p><u>二</u>　慢性時疫</p>
<p>慢性時疫，純是氣分濕穢病。據濕溫本症而論，當須分別濕多熱多，兼寒兼風之界限，現症與治法，判分兩歧，試詳述如下。</p>
<p>濕多者，濕重於熱也。其病發自太陰肺脾，多兼風寒。</p>
<p>（舌色）苔必白膩，或白滑而厚，或白苔帶灰兼黏膩浮滑，或白帶黑點而黏膩，或兼黑紋而黏膩，或舌苔滿布，厚如積粉，板貼不松。</p>
<p>（脈息）模糊不清，或沉細似伏，斷續不勻。</p>
<p>（神色）多沉困嗜睡。</p>
<p>（症狀）必凜凜惡寒，甚而足冷，頭目脹痛昏重，如里如蒙，身痛不能屈伸，身重不能轉側，肢節肌肉，疼而且煩，腿足痛而且酸，胸膈痞滿，渴不引飲，或竟不渴，午後寒熱，狀若陰虛，小便短澀黃熱，大便溏而不爽，甚或水瀉。</p>
<p>（治法）以輕開肺氣為主，肺主一身之氣，肺氣化則脾濕自化，即有兼邪，亦與之俱化。宜用藿樸夏苓湯，疏中解表，使風寒從皮腠而排泄。芳淡滲利，使濕邪從內腎膀胱而排泄，汗利兼行，自然濕開熱透，表裡雙解矣。雖然，濕熱自內而出，恆結於中焦而成痞滿，必有痰食錯雜其間。前方中，痰鬱，加星香導痰丸；食滯，加沉香百消曲，或生蘿蔔汁，和生薑汁少許最妙。既開濁穢之鬱閉，亦消痰食之停留，隨症均可加入。若兼神煩而昏蒙者，此由濕熱鬱蒸過極，內蒙清竅。前方去蔻仁厚朴，加細辛二三分，白芥子錢許，鮮石菖蒲根葉錢半，辛潤行水，豁痰開蒙，再加水蘆二三兩，燈芯錢許，輕清甘淡，泄熱導濕，蒙閉即開。若兼大便不利者，此由濕阻氣滯，或夾痰涎，前方去藿樸豆豉，加蔻仁拌搗栝蔞仁，蘇子拌搗郁李淨仁等品，此皆味辛質滑，流利氣機，氣機一開，大便自解，即汗亦自出矣。</p>
<p>熱多者，熱重於濕也。其病多發於陽明胃腸，雖或外兼風邪，總屬熱結在裡，表裡俱熱。此時氣分邪熱，郁遏灼津，尚未凝結血分。</p>
<p>（舌色）苔必黃膩，舌之邊尖，紅紫欠津，或底白罩黃，混濁不清，或純紫少白，或黃糙起刺，或苔白底絳，黃中帶黑，浮滑黏膩，或白苔漸黃而灰黑，伏邪重甚者。苔亦厚而且滿，板黏不松。</p>
<p>（脈息）數滯不調。</p>
<p>（面色）或如油膩，或如煙薰。</p>
<p>（症狀）必心煩口渴，渴不引飲，甚則耳聾乾嘔，口穢噴人，胸腹熱滿，按之灼手，甚或按之作痛。</p>
<p>（治法）宜先用枳實梔豉合劉氏桔梗湯，再加茵陳貫仲之清芬解毒，內通外達，表裡兩徹，使伏邪從汗利而雙解。漸欲化燥，渴甚脈大，氣粗逆者，重加石膏知母蘆根汁等，清肺氣而滋化源。其次用清芳闢疫湯，辛涼芳烈，輕清甘淡，泄熱化濕，下行從膀胱而解，外達從白㾦而解，或癍疹齊發而解，即或有邪傳心經，神昏譫煩，亦須辨明舌苔，如舌苔黃膩，仍屬氣分濕熱，內蒙包絡清竅，宜用昌陽瀉心湯，加竹瀝和薑汁少許，辛潤以達之。苦寒以降之。清淡以泄之。使濕熱濁邪，無地自容，其閉自開。極重者，再加太乙紫金丹。如昏蒙而厥者，可用厥症返魂丹，如舌色紫干，或純絳，或圓硬，或黑苔，神昏譫語，或笑或痙，甚則暈厥，閉目不語。此由濕溫化火，竄經入絡，內陷心臟，陡動肝風也，治宜大劑犀地清神湯，重加瓜霜紫雪，清心透絡，瀉肝熄風，或用加減神犀湯合犀珀至寶丹，清營解毒，通血宣竅，急救得法，尚可十全三四。</p>
<p>然以本會員等所經驗，凡昏蒙痙厥，多屬胃熱蒸腦，腦筋起炎，神即昏蒙，頭搖目瞪矣，延及脊腦筋亦發炎，則手足發痙，甚則角弓反張矣。蓋胃為五臟六腑之海，其清氣上注於目，其悍氣上衝於頭，循咽喉，上走空竅，循眼系，入絡腦，腦為元神之府，所以胃熱蒸腦，無不發現神經諸病也。</p>
<p>治宜辨明舌苔，如黃燥黑燥而有質地，此胃腸實火，濁熱壅閉，清竅因之亦閉，宜犀連承氣湯急下之，以決壅閉。陰虛者，加鮮生地、元參、活水、蘆根、鮮冬瓜子等，輕清滑利之品，滋燥養陰足矣。若陰柔滋膩藥多，雖用大黃，亦恐不解，是滋陰轉致傷陰也。</p>
<p>如舌苔黃厚而滑，脈息沉數，中脘按之微痛不硬，大便不解。此黏膩濕熱，與有形渣滓相摶，按之不硬，多敗漿色溏糞。宜用小陷胸湯合樸黃丸，或枳實導滯丸等，緩化而行。重者合神芎導水丸，或陸氏潤字丸等，磨蕩而行，設使大劑攻下，走而不守，則必宿垢不行，反行稀水，徒傷正氣，變成壞症。若舌苔黃如沉香色，或黃黑，脈沉實而小，甚者沉微似伏，或四肢發厥，或渴喜熱飲，脘腹按痛，痞滿燥實堅悉具，痞滿者濕熱氣結，燥實堅為燥矢，甚則上蒸心腦，下爍肝腎，煩燥譫語，舌卷囊縮，宜犀連承氣湯急下之。陰傷者，加鮮生地、元參、知母、川柏之類足矣。蓋速下其邪，即所以存津液也。</p>
<p>若舌色黑潤，少腹按痛，大便色黑如漆，反覺易行，其人喜笑如狂，小便色黑自利，是胃腸蓄血，累及膀胱，宜桃仁承氣湯急下之。或合犀角鮮地黃湯，以涼血逐瘀。發黃，小便不利，腹滿者，茵陳蒿湯緩下之。其間有氣虛甚而邪實宜下者，參黃湯。陰虧甚而邪實宜下者，千金生地黃湯去芒硝，或養榮承氣湯緩下之。即極虛不任下者，宜用雪羹，加鮮生地汁、鮮冬瓜汁、元參、栝蔞仁、蜂蜜等汁稍加薑汁之類，咸滑以去著，辛潤以清燥，慎勿當下不下，徒用滋膩，俾邪無出路，轉致傷陰，亦勿犀回顧慮，致令失下，失則邪愈盛，正愈衰，後即欲下而不可得矣。以上皆慢性時疫初期中期之療法也。至於末期之傳變，不一而足，或由失治，或由誤治，全在臨症施治者。辨明臟腑現症，氣血虛實，對症發藥，庶可收良好之效果。</p>

<h2>第三節　濕溫之化症</h2>
<p>濕溫本病，一切現症及治法，前文已詳言之。惟其化症不一，最宜注重。如濕溫化痧氣，濕溫化霍亂，濕溫化瘧疾，濕溫化泄瀉，濕溫化黃疸，濕溫化痢疾，濕溫化水痘，濕溫化腫脹，變幻多端，辨認須的，庶無誤藥之弊。本會既抱人道主義，索性和盤托出，俾資醫師之研究，今將所化各症治療方法，分列如下。</p>
<p><u>甲</u>　濕溫化痧氣</p>
<p>濕溫化痧氣，當分為急痧症、慢痧症二種。</p>
<p>急痧症，初起即胸膈緊悶，四肢麻木，躁擾昏亂，大叫腹痛，青筋外露，斑點隱隱。繼即閉目不語，昏厥如屍，手足反冷，脘腹約熱，脈多沉伏，舌多灰苔，或黃膩帶紫，此由濕穢阻滯氣極，溫毒內陷清竅，症勢最急最險。法宜內外兼治，外治如用飛龍奪命丹搐鼻以取嚏，刺兩手少商穴，以開肺氣，真薄荷油搽碗蓋口，即括後頸背脊至尾閭止，連括數十餘次，以現紫色點為度。觀音急救散，速點兩眼角以解痧毒。內治宜芳香宣竅，清芬化濁，清快露一兩，和入行軍散三分，或瓜霜紫雪三四分，取效最捷，若兼食積，必胸脘高突，不可抑按，欲吐不得，欲瀉不能。當先進飛馬金丹三五粒，使上吐下瀉，以開達之。此種急痧，稍一失治，或緩治，其人即斃。</p>
<p>慢痧症，安起乍寒乍熱，繼則純熱無寒，或背微寒，頭重暈痛，四肢倦怠，甚或麻木，肌肉煩疼，胸脘痞滿，噁心欲嘔，心膈悶亂。甚則神識如蒙，右脈濡滯，或弦滯，舌苔白膩如粉，口黏不渴，治法宜芳香化濁，藿香正氣散去朮草，加紅靈丹一二分，最效。若舌苔黃膩，心煩口渴者，濕穢化火，偏於熱重也，周氏化濁湯，去川樸，加鮮竹葉青、連翹、青蒿露清化之。若苔兼厚膩，腹滿便秘者，濁滯黏涎，膠結於內也。前方去玉樞丹，加控涎丹通逐之。輕則枳實導滯丸緩下之。下後，則以吳氏四苓湯加茵陳、貫仲，芳淡苦泄，肅清餘熱，以善其後。</p>
<p><u>乙</u>　濕溫化霍亂</p>
<p>濕溫化霍亂，往往猝然而起，症有濕霍亂、熱霍亂、寒霍亂、乾霍亂之分別，此等險急之症，尤宜辨清界限，詳述如下。</p>
<p>偏於濕重者，為濕霍亂，症必上吐下瀉，胸痞腹痛，口膩不渴，小便知少，脈多弦滯，或沉而緩，舌苔白滑。治宜辛淡泄濕，芳香化濁，霍樸胃苓湯加紫金丹，最妙，王氏蠶矢湯、燃照湯等，亦效。</p>
<p>偏於熱重者，為熱霍亂，上吐黃水，或嘔酸水，暴注下逼，瀉出稠黏，心煩口渴，胸悶腹疼，溺赤短熱，脈多弦急，舌苔黃膩，或黃多白少。治宜苦辛通降，清涼芳烈，藿香左金湯連樸飲二方，奏功皆捷。惟霍亂一症，不拘濕重熱重，夾食者多，方中均可加山楂炭、六和曲、佛手片、焦雞金之類。若濕重而外中陰寒，內傷生冷者，則為寒霍亂，如俗稱癟腡痧、吊腳痧多屬此類。其症吐瀉清水，多生腥氣，胸膈堅滿，脘腹痛甚，手冷至臂，足冷至股，溺短或秘，甚則幾次吐瀉，即眼眶內陷，腡紋縐癟，兩足筋吊，冷汗自出，脈多沉微欲絕，或沉細似伏，舌苔㿠白無神，症勢最急最凶。法宜內外並治，標本兼顧，外治如回陽急救散調蔥汁，按入臍中，再貼暖臍膏一張，艾灸二三十壯，白芥子末二三錢，燒酒調糊，罨於胸膈之間。樟腦精酒調燒槽，以洋絨布蘸藥，搽擦手足。內治，初起用椒附白通湯合半硫丸，沖霍亂定中酒，通脈回陽，立止吐瀉，最為力大而效速。或用新加附子理中湯合來復丹，或用加減附子理中湯合純陽正氣丸，務在一日之內，速令陰散陽回，六脈漸起，手足漸和。次用附姜歸桂湯，於回陽之中，兼顧營氣，或用參耆建中合二陳湯，調脾胃，和營衛，庶免熱藥偏勝之弊，過剛則折之虞。又次用附姜歸桂參甘湯，氣血雙補，剛柔並濟，若陽已回，身溫色活，手足不冷，吐瀉漸除，則用辛溫平補湯，平調臟腑營衛，俾不致有藥偏之害。若諸症盡除，而氣液兩虧，心神不安者，則用麥門冬湯合半夏秫米湯，或參麥茯神湯，養液安神，以調理之。然其間竟有寒散濕開，陽回肢溫之手，而胃腸伏熱發現，口大渴，心大煩，氣上逆，上脈轉洪大者，往往用人參白虎湯，竹葉石膏湯加鮮石斛、鮮生地，及西瓜汁，而熱勢始減，諸病漸瘥。各會員歷經實驗，始信重陰必陽之經旨，為精確不磨也。</p>
<p>若濕遏熱伏，又夾酸冷油甜，猝成乾霍亂者，其人慾吐不得吐，欲瀉不得瀉。眩冒煩躁，腸中絞痛，甚則肢厥轉筋，脈多弦堅細數，或沉弦似伏，舌苔灰白，或黃膩帶灰，俗稱絞腸痧者，即此症也。治法以湧吐為首要，速進飛馬金丹三五粒，俟吐後，或瀉後，則用周氏化濁湯，沖生蘿蔔汁，以消化之。繼用香砂二陳湯，以平調之。</p>
<p><u>丙</u>　濕溫化瘧症</p>
<p>偏於濕重者，為濕瘧。症必寒重熱輕，脈必弦滯，余如濕溫本症之濕重者，大同小異。治以清脾飲加減達原飲，溫脾化濕，以和解之。</p>
<p>偏於熱重者為溫瘧，症必熱重寒輕，脈多弦數，或右脈洪盛，余如濕溫本症之熱重者同，治以桂枝白虎湯，或柴胡白虎湯，清胃泄熱，以涼解之。</p>
<p>惟瘧久不止，必入肝絡，朝涼暮熱，熱自陰來，口燥不渴，兩脅痠痛，神多虛煩，甚或驚惕，或極疲倦，或多盜汗，脈多右浮大無力，左弦數無力，甚則細頸，舌色焦紫起刺，或舌紫而無胎有點，或舌紫而罩白苔。此肝絡血熱，因而肝氣失調也。治法惟青蒿鱉甲煎合新絛旋覆花湯、秦艽鱉甲湯，加桑葉丹皮、銀胡，最效。加味逍遙散合半貝丸，亦驗。若已化三陰瘧，俗稱四日兩頭，則屬寒濕傷脾，脾陽內郁，久則多成瘧母，乃脾脹也。治法以瘧疾五神丹為最驗，外貼阿魏消痞膏，以緩消之。次以丁蔻理中丸一錢五分，和鱉甲煎丸一錢五分，每服三錢，用向日葵葉七片，生薑一錢，大紅棗四枚，煎湯送下，約三星期即效，屢驗不爽。</p>
<p><u>丁</u>　濕溫化泄瀉</p>
<p>濕勝者為濕瀉，《內經》所謂濕勝則濡泄也。其症腹中微痛，大便稀溏，小便淡黃，口膩不渴，胸痞肢懈，身重神疲，脈右緩滯，舌苔滑白而膩。治法以藿樸胃苓湯為主。兼風者名飧泄，左關脈弦，必兼腸鳴腹痛。原方加炒白芍川芎，兼寒者名洞泄，脈右軟遲，瀉如鴨糞，腹中綿痛，溺色青白。原方加炮姜吳茱萸，熱勝者為熱瀉。《內經》所謂暴注下迫皆屬於熱是也。瀉出如射，糞多稠黏，氣極臭穢，肛門熱痛難忍，腸鳴腹痛，痛一陣，瀉一陣，澀滯不暢，裡急後重，儼如痢疾，小便赤澀，口渴喜涼，脈數苔黃，治法以藿香左金湯為主。</p>
<p>夾食者，脈右關沉滑，症必咽酸噯臭，惡聞食氣，腹痛甚而不瀉，得瀉則腹痛隨松。原方加淨楂肉六和曲焦雞金，甚則熱結旁流，治以小承氣湯加黃連，下其積熱，則瀉自止。</p>
<p>夾痰者，右脈弦滑，必兼頭暈噁心，氣雖上逆，而咯痰不出，或時瀉，或時不瀉，瀉出白如膠潺。原方加星香導痰丸，或節齋化痰丸，祛其痰熱，則瀉亦止。</p>
<p><u>戊</u>　濕溫化黃疸</p>
<p>脾濕勝者為陰黃，色如薰黃而晦，胸腹痞滿，口膩不渴，小便不利，身冷而痛，脈右緩滯，舌苔滑白，或兼灰黑。治以溫脾化濕，茵陳五苓散加除疸丸主之，茵陳胃苓湯亦主之。若漸次化熱，脈轉弦滑，舌苔黃膩，口乾而不多飲者，藿香左金湯加絳礬丸主之。</p>
<p>胃熱勝者為陽黃，色如橘黃而明，身目如金，遍身無汗，但頭汗出，渴欲飲水，二便俱秘，脈右浮滑而數，舌苔黃膩而糙。治以清胃解毒，茵陳蒿湯緩下之。下後，以梔子柏皮湯、三豐伐木丸清化之。</p>
<p>惟濕熱入肝，肝火逼膽，膽汁入血，血蓄髮黃，名曰膽黃。而目指甲一身盡黃，兼露青筋，小便自利而清，糞色反白，脈左弦澀，右弦滑，舌色紫黯，苔現黃膩，治以通絡逐瘀，代抵當湯重加竹茹茵陳主之。輕則葉氏絳覆湯合當歸龍薈丸緩通之。或加除疸丸，奏功亦速。</p>
<p><u>己</u>　濕溫化痢疾</p>
<p>痢之為病，見於夏秋居多，他時則間有之。本三焦腸胃之疾，其初雖或兼風寒，或兼暑燥而發，而總由於濕熱積滯，鬱伏腸中，蘊釀而成。凡人患痢疾時，其腸中之黏膜，必有紅腫之處，其處生出之膿液，即白痢也。若血管爛破，有血液流出，即赤痢也。膿血兼下，即赤白痢也。若青黃赤白黑雜下，即五色痢也。診斷治療之法，必先別其有表邪，無表邪，為濕重，為熱重，夾虛夾實，傷氣傷血之故，而治要得矣。乃或謂先瀉後痢，自脾傳腎為逆候。而雜藥亂投者，詎知痢疾鮮有不先瀉而後痢者。治如其法，生者甚多，何逆之謂，或謂通則不痛。專以攻下為事者，或兼未詳詢胸腹有無脹痛拒按，但見下痢頻數，而惟事止澀者。或一見痢疾，專從里治，置表分寒熱無汗不理。致內陷而增重者，或執赤為熱，白為寒，不審其證之真寒真熱。而妄施溫涼者，或在痢言痢，不究其人血氣偏虛之故，惟以檳樸醜軍攻逐為事者。皆一偏之成見，未可與言治法也。本會各職員等，臨症實驗，凡赤痢、赤白痢、五色痢等。起病之初，屬於實熱性質者，則由病原菌所釀成之病毒，充滿於腸內。宜先之以通利劑，掃蕩腹內之郁毒，而後以調理劑作後療法，乃為至當之順序。若不先掃蕩病毒，而惟下痢之是恐，先訪遏之則死於腹滿熱盛苦悶之下，是即由逆治致逆症者也。此時之逆症，與實症相一致，又如白痢、赤白痢、五色痢等，屬於氣血兩虛者，多起於胃腸運化不足，非起於腸內聚積病毒者，宜乎虛冷者溫化之，虛熱者清潤之，以調和胃腸氣液為至當之治法。若謂不掃除腹內之病毒，則病根不盡，宜投下劑以廓清之，則其痢益急，莫知所止，每死於肉脫厥冷困憊之下，此即由誤治致急症者也。此時之急症，與虛症相一致，虛實二因，最關病人之生命，為醫者切宜慎重，庶免草率誤人之弊。茲將赤痢、白痢、赤白痢、五色痢等，四種證治，分列如下。</p>
<p>赤痢初起，每兼暑燥之氣而陡發。其症身熱口渴，臍腹大痛，如刺如割，裡急後重，下利頻並，或腸垢帶血，或純下鮮血，日夜數十度，或百餘次，面赤唇紅，或兼吐酸，或兼嘔苦，胸腹如焚，按之灼手，甚或衝任脈動，胯縫結核腫大，小溲赤澀，或點滴而痛，六脈洪數，或左兼弦勁，舌苔黃燥如刺，或紅刺如楊梅狀，此由血分溫毒，與積滯相併，內攻腸胃，劫奪血液下趨，即《內經》所謂腸澼下血，身熱者死是也。症勢最急最險，若以痢勢太頻，妄用提澀，或但用涼斂必至腸胃腐爛而死，即以楂、曲、檳、樸、香、連、芩、芍、銀花炭等。普通治痢之法，以治此種毒痢，亦必胃腸液涸而死。急救之法，初用加味三黃湯，或拔萃犀角地黃湯，日夜連進二三劑，純服頭煎，以先下其毒，次用鮮生地二三兩，鮮茅根一二兩，金汁一二兩，以代大黃，重用甘苦鹹寒之品，以滋液救焚，養陰解毒。連進一二劑後，如尚有積熱未淨者，則用五汁飲清潤滑降，以調理之。終用三參冬燕湯，滋養氣液，以復其元，以上為重性赤痢而設。若輕性赤痢，症雖腹痛，裡急後重，下痢頻並，而但下腸垢如紅醬者。治以加味白頭翁湯，重用西瓜翠衣、白茅根、鮮貫仲等，已足奏功，或先服更衣丸一二次，排除其腸內之溫毒熱積。繼服加味白頭翁湯，奏效尤捷，終用黃連阿膠湯，加鮮鐵皮石斛、鮮稻穗、鮮茉莉花等，以善其後。</p>
<p>白痢初起，每兼生冷油肝而夾發。其症胸腹滯悶，腹綿痛而後墜，或但後重偏甚，忽思飲，飲亦不多，忽思食，食亦乏味，小便熱澀，痢下色白，或如豆汁，舌苔膩濁白滑，或黃。《內經》所謂腸澼下白沫是也。治宜胃苓湯，加沉香、百消曲。首先溫化其濕食，待濕開熱透，食化苔松，即用枳實導滯湯，下其積滯，一經積去痛減，可用香砂二陳湯，加荷葉拌炒穀芽，調理脾胃以善後，或用七味白朮散，亦效。</p>
<p>赤白痢者，《內經》所謂腸澼便膿血是也。先辨其白多紅少，或紅多白少。白多者，雖屬大腸，而內關脾臟，每有因過食瓜果，痼冷在腸，其症胸腹脹痛，腸鳴下痢，痛一陣，痢一陣，下痢後，乃後重不暢，苔白且嘔，脈多弦滯，治宜藿樸胃苓湯，加公丁香、紫金片，溫化冷滯以止痛。若下痢頻迸，腹痛拒按，舌滑而厚者，宜先服備急丸五七粒，速攻其積，積去而痢自減，繼以醉鄉玉屑調理之。赤多者，雖屬小腸，而內關肝臟，每多因瘀血與食滯互結，橫截氣機，致氣上下升降不利，其症脘腹劇痛，下痢紫黑血絲，甚或夾有瘀血塊，舌色紫暗，脈多弦澀，甚或弦勁，速用加味桃仁承氣湯，去其瘀積，輕則四汁飲，送五仁丸，亦足見功。繼用人參芍藥湯，加駐車丸，酸甘化陰，酸苦泄肝，待痛止痢減，即用四炭阿膠湯，清餘熱，滋任陰，以善其後。</p>
<p>若赤白痢初起，見頭痛怕冷，身熱無汗者，均屬有表，當從汗解。如口舌不燥渴，胸腹不悶痛，舌或無苔，或淡白且滑，為濕溫兼風而發。宜喻氏倉廩湯，日夜連進二三服，水煎熱服取汗，汗透而痢便減。若見心煩躁渴，面色膩滯，唇舌紅赤，小便赤熱，苔上黃燥或滑者，為濕溫兼暑所化，宜藿樸夏苓湯，加青蒿、薄荷、連翹、滑石、六神麯等，連進三四服，得汗透而痢亦自止。此表分陰陽之兩大法也。此而一誤，為嘔為呃，不寐不食，神昏耳聾而危矣。（俗稱傷寒帶痢疾，皆屬此類）。</p>
<p>五色痢者，即青黃赤白黑雜下也。青者膽汁，黃者糞，赤者血，白者膿，黑者宿垢，最重難治。仲景所謂五液注下，臍築痛，命將難全是也。症雖有虛有實，畢竟虛多而實少。實症屬毒火，晝夜一二百次，不能起床，但飲水而不進食，其痛甚厲，肛門如火烙，揚手擲足，躁擾無奈，脈弦勁緊急，不為指撓，舌色純紅，甚或焦黑，其勢如焚，救焚須在頃刻。若二三日外，腸胃朽腐矣，急宜重用三黃甘草湯，或拔萃犀角地黃湯，晝夜連進，循環急灌，服至脈勢和柔，知病可愈。但用急法，不用急藥，改以犀角五汁飲，急救津液，終用三參冬燕湯，滋養陰氣以養後。虛症屬陰虧，張石頑所謂痢下五色，膿血稠黏，滑泄無度，多屬陰虛是也。不拘次數多寡，便見腰膝痠軟，耳鳴心悸，咽乾目眩，不寐多煩，或次數雖多，而胸腹不甚痛，或每痢後而煩困更增，掣痛反甚，飲食不思，速用豬膚湯合黃連阿膠湯，加茄楠香汁，甘鹹救陰，苦味堅腸。若虛坐努責，按腹不痛，一日數十度，小腹腰膂抽掣痠軟，不耐坐立。寢食俱廢者，陰虛欲垂脫之候也。急宜增損復脈湯，提補酸澀以止之。遲則無濟，幸而挽救得轉，可用參燕麥冬湯，滋養氣液，以善其後。若痢止後，猶有積滯未淨，郁在下焦，小腹結痛，心煩口燥，夜甚不寐，宜用加味雪羹煎，標本兼顧，肅清余積。</p>
<p>總而言之，孕婦及體虛人，不論赤痢、白痢、赤白痢等，最為難治。惟歸連石斛湯，加佛手花、代代花、鮮茉莉花等，最穩而靈，取其既能潤腸祛積，開胃運氣，又不傷胎礙虛也。臨症時，從此方加減，庶免貽人口舌之譏。</p>
<p><u>庚</u>　濕溫化水痘</p>
<p>水痘者，小如蠶豆，大如豌豆，表皮隆起而為水泡，中多凹陷，始初為透明漿液狀，繼則變為不透明乳液狀，且帶膿性，常混有多數之圓形細胞，惟色淡漿稀，故曰水痘。皆由濕溫兼風，鬱於骨表而發。約有黃赤二種，色黃而含有氣水者，曰黃痘（東醫名含氣性水痘），色赤而含有血液者，曰赤痘（東醫名出血性水痘）。亦有夾疹而出者，有夾正痘而出者，若先水痘收功後，而後發疹或正痘，其疹及痘必輕，此症多發於小兒，大人亦偶有之。將發時，身俱發熱，皮膚如灼，或苦癢，最初發現於顏面，漸次及於軀幹四肢，三五日後，水痘乾燥，成為灰色，或類褐色之痂皮，至七日，則不留瘢痕而剝落。然亦有留皮膚瘢痕者。因患者搔破水泡之際，真皮受損傷所致，其見點，起發，灌漿，結痂，速則止於五六日之間，緩則約歷二周至三周，辨法，雖同一水痘，同為皮薄色嬌。而黃色水痘，一出如豆殼水疱，赤色水痘，一出有紅點水疱，皆從水泡膿泡而結痂，然總不似正痘之根窠圓淨緊束也。治法，黃色水痘，當用五葉蘆根湯透解之。繼與加味五皮飲，解其皮膚之餘濕，赤色水痘，當用加味翹荷湯，清解之。繼用防風解毒湯，清其皮膚之餘熱，終則統用三豆甘草湯以善後。</p>
<p><u>辛</u>　濕溫化腫脹</p>
<p>濕溫所以化腫脹者，或因本病延久而發，或因宿病夾症而發。有但腫而不脹者，有但脹而不腫者，有腫而兼脹者，有腫脹而兼氣喘者。辨其症，腫在外，屬水，脹在內，屬氣，腫分陽水陰水，脹分氣實氣虛。因濕熱濁滯致水腫者，為陽水，因肺脾腎虛致水溢者，為陰水。濁氣在上為實脹，中氣不運為虛脹，辨其位，腫在頭面四肝，脹在胸腹臟腑，試舉其大要而條治之。</p>
<p>陽水腫者，熱蒸濕浮，襲入皮膚也。腫由面目先起，自上而下，皮膚如灌氣狀，以指按之。隨手而起，大便不爽，小便黃熱，時或赤澀，甚則氣粗而喘，皆由氣鬱不舒所致。治在肺而發散之，《內經》所謂開鬼門是也。輕則香蘇五皮飲，重則麻杏三皮飲，使濕熱從微汗而泄，汗透則腫自消，繼以茵陳胃苓湯，健運脾胃以善後。</p>
<p>陰水腫者濕重熱輕，鬱結脈絡也。腫自兩足先起，由下而上，皮膚如裹水狀，以指按之，窅而不起，大便溏滑，溺短渾濁，時或點滴，甚則氣短而喘，皆由水停不行所致。治在腎而滲利之，《內經》所謂潔淨府是也。輕則椒目五苓散，重則麻附五皮飲，使水濕從溺道而泄，溺暢則腫自消，繼以香砂春澤湯，溫補脾腎以善後。若面目一身俱黃，黃而且腫者，名曰黃腫，必先觀其色之明暗，如黃色鮮明，溺色老黃且澀者，此熱重於濕也。治宜茵陳蒿湯，送下神芎導水丸，速瀉其黃以退腫，繼以吳氏二金湯調理之。如色黃昏暗，溺色淡黃不利者，此濕重於熱也。治宜茵陳胃苓湯，送下三豐伐木丸，急去其黃以消腫，繼以茵陳五苓散調治之。惟其間腫而且脹者，首推胃苓五皮湯，最穩而靈，腫而且喘者，五子五皮飲，亦多奏效。</p>
<p>氣實脹者，或因食積，或因痞塊，先有物在胃腸中，而後脹形於外也。按之則堅，腹脹不減，先宜消導以化之。早服程氏和中丸，晚服葉氏寬膨散，效者甚多。如或不效，必是久病入絡，絡鬱則脹也。當先辨其濕滯在絡者，開鬱通絡飲，調下寬膨散主之。瘀積在絡者，香殼散煎湯，調下代抵當丸主之。甚則間服巢氏陰陽攻積丸，不拘濕積瘀積蟲積，皆能奏效。此即《內經》去郁陳莝之穩法也。切不可大劑峻攻，醫者雖取效一時，病者雖暫快數日，往往一二旬間，脹反愈堅，中氣傷殘而斃，草醫包治脹病，每結惡果者，多由於此。</p>
<p>氣虛脹者，多因病後不講衛生，不知禁忌，一復再復，脾胃久傷而化脹，此虛氣在於統腹膜之中，徐洄溪所謂脹俱在腸外三焦膈膜之間是也。其外雖脹，其中無物，按之則濡，扣之有聲，抑之不痛，時脹時減，切不可攻，攻之即死，宜用溫補兼辛通法。早服程氏白朮丸，補其虛以化滯，夜服局方禹餘糧丸，暖水臟以通陽，耐心靜養，緩緩奏功，繼以半硫理中丸，溫補脾陽以寬之。濟生腎氣丸，溫通腎陽以消之。此即《內經》宣布五陽之正法也。外治惟針法，最能取效，若病家急於救效，醫家急於建功，每見速死則有之。而病之能痊，一無反覆者，則百不見一二也。醫家病家，切宜慎重。</p>
<p>以上濕溫化症，但舉其大要而言，其餘變症甚多，未能一一曲盡，閱者諒之。</p>

<h1>第四章　衛生及預防</h1>

<h2>第一節　已病之衛生</h2>
<p>吾紹近今治病，一病之安危，惟責之醫家一人，一醫之良否，專系乎前方一劑，其藥宜多煎，宜少煎，宜先入，宜後入，宜多水，宜少水，非所知也。藥品之道地與否，制煉之合法與否，亦非所辨也。此外寢處不合法，寒暖不適宜，飲食不知節，病情不知察，更無論矣。似此，則醫家之功一，而病家之過十，縱有膚扁，能愈病乎。況重大危險之病機，早晚不同，頃刻傳變，而惟恃一日一至之醫，一日一服之方，治變幻不測之病，庸有幸乎。余故曰：已病之衛生，為病家必要之智識，亦為病家應盡之義務。故凡良醫之能愈病，必先在開化病家，使病家諸人，看護周到，有助醫之力，不掣醫之肘，夫而後病之誤治也，始可以歸罪於醫。茲擇其最緊要最易實行者，條列如下。</p>
<p>一衣被宜潔淨也。清潔為各病所不可缺之要件，若患時疫病而不潔，則其病屢犯於危殆，且能致害於病者之家族及醫師。故病者須日日更換衣服，臥床被褥，尤須清潔。一切舊衣被等，凡可蒸發之物，必須安置空屋，鎖閉箱中。又如被覆過暖，亦能致病加重。重病即死者，以熱鬱於內而氣不宣達也。竟有悶斃許久，而旁人但知其熟睡者。迨呼之不應，揭其蓋覆，始知其人已死，莫不曰死於急痧，近年來聞見頗多。</p>
<p>二飲食宜節制也。濕溫時疫，本屬胃腸伏邪，早已失其消化力，最宜忍飢耐餓，平臥安靜。不但油膩腥發，面糵炙煿薰灼臟腑者，固宜禁絕，即瓜果生冷，凡能冰伏脾胃者，亦宜禁不入口。最妙以蘿蔔湯陳乾菜湯，疏導其胃腸，渴則飲清快露和開水少許，或但飲細芽茶，輸運其津液。病勢輕減後，可略進流動性之滋養品，如薄粥薄藕粉，及開水沖熟之雞蛋等，每日之次數宜多，每次之食量宜少，不過以之略充飢腸而已。病將就痊時，凡各種未熟之果實油類，及一切之固形物而不易消化者，均不宜入口。前哲龐安常先生云：凡病新瘥，只宜先進白稀粥，次進濃者，又次進糜粥，亦須少少與之，不得早吃肉食，他如酒餚甘脆肥鮮生冷等物，皆不可犯。王孟英先生曰：瘥後必小便清，舌苔淨，始可吃粥飯，魚臺鯗之類，油膩酒體甜食新鮮補滯諸物，必解過堅矢新糞，始可徐徐而進，切勿欲速，以致轉病。此皆閱歷有得之名言歟。</p>
<p>三臥房宜寬綽，窗戶宜開爽也。二者皆注意室內之空氣，常使新鮮，最為病理衛生之首要。王孟英先生曰：人煙稠密之區，疫癘時行者，以地氣即熱，穢氣亦盛也。故住房不論大小，必要開爽通氣，掃除潔淨，庶清風徐來，疫氣自然消散。反是則熱氣濁氣，益為疫氣樹幟矣。凡時疫流行，罹此者，每多被褐藜藿之子，荊戶蓬室之人，皆由於此。</p>
<p>四侍人宜勿雜，燈火宜少燃也。吾紹病家習慣，凡病時疫，最怕鬼祟。不但夜間紅燭高燒，即日中於病室床內，亦必以多燃燈火為陽光。而滿屋皆侍病之人，駢肩並足，交頭接耳，七口八嘴，汗露交流。豈知人氣最熱，燈火最毒，濁氣多而清氣少，即使無病者久居此室，亦必頭目昏暈，胸膈氣悶，況在患時疫之人乎。口鼻之所吸受，肺胃之所浸淫，往往輕者重，重者即死，皆此等惡習慣階之厲也。凡疫皆然，亦凡病皆然，正不獨濕溫時疫一種耳。</p>
<p>五擇醫宜精，任醫宜專也。王孟英先生曰：選醫難於選將，選得矣，或從有虛名而無實學，或飽學而非通才，或通才而無卓識，或見到而無膽略，或有膽而少周詳，皆不足以愈大證也。然則如何而可服其藥耶？但觀其臨證時，審問精詳，心思周到，辨證確切，方案明通，言詞直爽近情，舉止落落大方者，雖向未謀面之人，亦一見而知為良醫矣，其藥可服也。周雪樵先生曰：病者之安危，即為醫家之榮辱。苟始終信任之，醫家之於病人，自有密切之關係，若朝暮易醫，則各騁意見，各施治法，勢必溫涼雜投，築室道謀，無一人任其咎而後已。而最為僨事者，則病家之略知醫藥者也，愈病不足，掣肘有餘，最為良醫之阻力。凡於方藥之有力量者，必不敢服，曰：恐其誤治也。於方藥之能速效者，又不敢服，曰：嫌其霸道也。及得至平易之方，則安然服之。病而不效，則又歸其咎於醫，曰：今固無良醫也。有如是之病家，而後投其所好，乃有今日之所謂名醫。故醫師之良者，不但不沾染病家之習氣，尤貴開通病家之智識。</p>
<p>六購藥宜謹，察藥宜慎也。徐洄溪先生曰：當時藥不市賣，皆醫者自取而備之。迨其後有不常用之品，後人欲得而用之。尋求採訪，或誤以他物充之。或以別種代之。又肆中未備，以近似者欺人取利，此藥遂失其真矣。藥失其真，藥性必殊，即審病極真，處方極當，奈其藥非當時之藥，則效亦不可必矣。今之醫者，惟知定方，其藥則惟病家取之肆中，所以真假莫辨，雖有神醫，不能以假藥治真病也。陸定圃先生曰：藥之偽者不必論，即尋常藥品，肆中人粗心，往往以他物攙溷，以親自檢視，方免舛誤。有桐鄉陳李氏子，夏月霍亂，延醫定方，有製半夏二錢，適藥肆人少，而購藥者眾，誤以製附子與之。服後腹即大痛發狂，口中流血而卒。李歸咎於醫，醫謂藥不誤，必有他故。索視藥渣，則附子在焉，遂控藥肆於官，愧以金乃已。此皆不辨藥品而致誤也，可不敬且懼乎。</p>

<h2>第二節　未病之預防</h2>
<p>疾病之預防法，《內經》攝生一章，語皆精卓，但程度太高，難於履行。茲擇其淺近而易於從事者，節錄上海醫學研究所通告如下。</p>
<p>房室務祈灑掃，勿被塵汙，四壁宜用石灰刷新，或兼用除穢藥水澆灑，以杜濕毒之患。</p>
<p>垃圾為穢氣所乘，不宜任意傾倒，宜倒在桶內，候清道夫挑除。挑後，勿再作踐。大街小巷，時常清潔，可免一切疫癘。</p>
<p>晨起須將窗戶洞開，以出炭氣而入養氣，夜則不然，臥不息燈，與貪涼露宿，均宜切戒。</p>
<p>罐壇瓶缽一切器皿，積儲宿水，最易生蚊，如內地已設自來水，宜將此項屏棄勿用。天井陰溝，須時常沖洗，勿任閉塞。若將火油灌入陰溝，以免穢濕，斯為更妙。</p>
<p>停棺於家，最能遺患，設死者系患傳染之症，其害更不堪設想。故喪家宜將棺柩速葬為要。</p>
<p>蚊蠅最能傳病，故食物必須遮蓋，以免蚊蠅散毒，碗盞用時，須先洗淨，臥宿須垂帳子，勿使蚊蟲吮血，致生傳染之病。</p>
<p>各種生冷之物，俱有微生物含其中，故食物必須煮透煮熟。各物亦勿越宿再食，且勿與未煮之物置在一室，庶微生物不致侵入。水未煮過，慎勿入口，呵瀾水冰凍水，皆與人有害，瓜果亦易致病，均宜少食。</p>
<p>吐痰於地，最為穢德，且易傳病，宜向磁盂或陰溝吐之。方可無患。</p>
<p>有汗之衣，亟宜洗濯，慎勿於汗乾之後，再穿身上，致滋疾病。</p>
<p>登山憑眺，涉野環觀，用深呼吸法，吸收新鮮之空氣，最為預防時疫之要法。（新增）</p>
<p>時疫盛行之際，室中宜焚點闢瘟集祥香，以闢除其穢惡不正之氣，入病人室，宜啖囫圇皮蛋一枚。能飲者，佐以高粱酒少許，男婦老幼，俱宜佩太乙闢瘟丹一顆，以絳帛囊之，當心懸掛，不可近褻。（新增）</p>
<p>無論老少強弱之人，虛實寒熱之症，常以炒香枇杷葉泡湯代茗，肅清肺氣，可杜一切痧穢時邪。尤必慎起居，節飲食，薄滋味，謹嗜欲，夏令當茹素三五旬，其一切腥羶發物，俱宜還戒，房勞亦宜撙節。（新增）</p>
<p>食井中，每交夏令，宜入白礬雄精之整塊者，解水毒而闢蛇虺也。水缸內，宜浸鮮石菖蒲根及降香。</p>
<p>選錄急性時疫方</p>
<p><u>犀地桑丹湯</u>　見吳坤安先生《感症寶筏》，照原方略有加減。</p>
<p>白犀角（八分）　鮮生地（八錢）　冬桑葉（三錢）　粉丹皮（二錢）　生山梔（三錢）　青連翹（三錢）　老紫草（三錢）　青子芩（錢半）　青蒿腦（錢半）　元參心（二錢）　池菊花（三錢）　白知母（三錢）</p>
<p>先用活水蘆根二兩，鮮茅根二兩，嫩桑枝一兩，鮮竹葉五十片，煎湯代水。</p>
<p>按：犀角之功，取其透絡熱，清腦炎。凡溫熱邪陷血分，神昏發痙，斑點隱隱者，確有捷效。但原支犀角，只有一條統黑，或兩條統黑，除皆灰白之色，因中醫向有白入氧分黑入血分之說，故方中每寫定黑犀角，豈知同一犀角，白色最多，黑色最少，以致黑色者價增一倍，白色者往往染成黑色。欺人漁利，其實此說不必拘泥，庶幾家況平常者，尚可購服。</p>
<p><u>拔萃犀角地黃湯</u>　見邵步青先生《溫毒病論》。</p>
<p>白犀角（一錢）　鮮生地（兩半）　生錦紋（三錢）　小川連（一錢）　青子芩（二錢）</p>
<p><u>犀羚白虎湯</u>　見王孟英先生《醫案》。</p>
<p>白犀角（一錢）　羚角片（錢半）　生石膏（八錢）　白知母（四錢）　生甘草（八分）　陳倉米（三錢，荷葉包）　雙鉤藤（錢半）　滁菊花（二錢）</p>
<p>先將犀羚二味用水四碗煎成二碗，代水煎藥。</p>
<p><u>千金生地黃煎</u>　見《千金要方》。</p>
<p>生玉竹（三錢）　天花粉（三錢）　地骨皮（三錢）　辰茯神（三錢）　生石膏（四錢）　白知母（三錢）　鮮生地汁　麥冬汁（各二瓢，沖）　鮮竹瀝（一瓢）　生薑汁（四滴，同沖）　淨白蜜（半錢）</p>
<p><u>竹葉石膏湯</u>　見仲景方。</p>
<p>西洋參（一錢）　生石膏（三錢）　生甘草（八分）　原麥冬（錢半）　仙露夏（一錢）　鮮竹葉（三十片）</p>
<p><u>犀羚鎮痙湯</u>　見陸定圃先生《冷廬醫話》。</p>
<p>白犀角（八分）　羚羊角（錢半）　鮮生地（八錢）　青連翹（三錢）　元參心（二錢）　新銀花（二錢）　滁菊花（三錢）　甘中黃（一錢）　生甘梢（六分）　蓮子心（二分）</p>
<p><u>滋液救焚湯</u>　見喻嘉言先生《醫門法律》。</p>
<p>白犀角（一錢）　鮮生地（一兩）　玄精石（一錢）　原麥冬（二錢）　西洋參（錢半）　大麻仁（三錢）　生甘草（三分）　真阿膠（一錢）　柏子仁（二錢）　紫石英（三錢）　西牛黃（一分）　調服</p>
<p><u>瓜霜紫雪丹</u>　見方省庵先生《喉科》。</p>
<p>白犀角　羚羊角　青木香　上沉香（各五錢）　寒水石　石膏　靈磁石　飛滑石（各五兩）　元參　升麻（各一兩六錢）　飛硃砂（五錢）　生甘草（八錢）　公丁香（二錢）　麝香（一錢二分）　金箔（一兩）　西瓜硝（八錢）　冰片（三錢）　製法照局方紫雪</p>
<p><u>龍膽瀉肝湯</u>　見宋神宗《和劑局方》</p>
<p>龍膽草（八分）　生山梔（錢半）　青子芩（二錢）　銀胡（一錢）　鮮生地（五錢）　車前子（錢半）　生黃柏（八分）　歸鬚（八分）　建澤瀉（錢半）　細木通（八分）</p>
<p><u>平陽清裡湯</u>　見梁特岩先生《舌鑑辨正》。</p>
<p>生石膏（六錢）　生甘草（六分）　青子芩（錢半）　白知母（三錢）　小川連（八分）　生川柏（六分）</p>
<p>先用白犀角六分，羚角一錢，煎湯代水。</p>
<p><u>阿膠雞子黃湯</u>　見沈樾亭先生《驗方傳信》。</p>
<p>真阿膠（錢半）　左牡蠣（五錢）　大生地（四錢）　生白芍（三錢）　女貞子（三錢）　黃甘菊（二錢）　雞子黃（一枚）　童便（一鍾）</p>
<p>選錄《慢性時疫方》</p>
<p><u>藿樸夏苓湯</u>　見石芾南先生《醫原》</p>
<p>杜藿香（錢半至二錢）　真川樸（八分至一錢）　姜半夏（二錢至三錢）　光杏仁（二錢至三錢）　白蔻仁（八分沖）　生米仁（四錢至六錢）　帶皮苓（三錢至四錢）　豬苓（錢半至二錢）　建澤瀉（錢半至二錢）</p>
<p>先用絲通草三錢或五錢，煎湯代水。</p>
<p>附加減法　兼風者，汗出惡風。兼寒者，惡寒無汗，前法酌加蘇梗、桔梗、豆豉、蔥白、生薑之類。邪在經絡，一身掣痛，酌加桂枝、酒炒防己、秦艽之類，以開毛竅經絡之壅。兼暑者，面赤，口渴，心煩，前法去蔻仁、半夏、厚朴，酌加青蒿腦，鮮荷葉，清香闢穢，連翹、山梔、滑石，輕清微苦淡滲，以解暑濕熱之結。</p>
<p><u>星香導痰丸</u>　見朱丹溪先生《心法》。</p>
<p>制南星（三兩）　生香附（三兩）　皂角（水浸一周，時曬）　法半夏（三兩）　廣橘紅（五兩）　薑汁糊丸</p>
<p>按：丹溪翁自言，此家傳秘方，治痰嗽無火累驗。</p>
<p><u>沉香百消曲</u>　見德軒《普濟方》。</p>
<p>上沉香（一兩）　五靈脂　制香附（各一斤）　炒香黑白醜（各二兩）</p>
<p>按：原書云：此方秘於道藏，善能消水，消食，消痞，消痰，消氣，消滯，消瘀，消痢，消蠱，消膈，並痰迷心竅等症。修合濟人，費小功大，藥到病除，無不即愈。</p>
<p><u>枳桔梔豉湯</u>　本會各職員《經驗方》。</p>
<p>生枳殼（一錢至錢半）　焦山梔（二錢至三錢）　蘇薄荷（八分至一錢）　苦桔梗（一錢至錢半）　淡豆豉（二錢至三錢）　青連翹（二錢至三錢）　青子芩（一錢至錢半）　生甘草（四分至六分）　西茵陳（二錢至三錢）　貫仲（二錢至三錢）　鮮竹葉（三十片）</p>
<p>按：此方從長沙枳實梔豉湯，合河間桔梗湯，加茵陳、貫仲二味。治濕溫時疫之熱重於濕，兼受風邪而發者，屢投輒效。</p>
<p><u>清芬闢疫湯</u>　見徐洄溪先生《醫案》。</p>
<p>活水蘆根（二兩）　鮮茅根（一兩）　鮮薄荷（錢半）　鮮青蒿（三錢）　澤蘭葉（三錢）　鮮石菖蒲葉（錢半）　解毒萬病丹（一粒，溫水磨沖）</p>
<p>按：此方清芬闢穢，涼血解毒，乃濕溫時疫，濕從燥化，溫從火化之良劑。凡治身熱神昏，悶亂煩躁，甚或嘔吐厥僵，其形如屍等症，投之輒效。蓋火邪逆上，諸竅皆閉，非此等清涼芳烈之藥，不能即令通達。本會各職員，歷經治驗，故敢新定其名曰：清芬闢疫湯。</p>
<p><u>解毒萬病丹</u>　見徐靈胎先生《蘭臺軌範》。</p>
<p>雄黃精（五錢）　山慈姑（二兩）　川文蛤（二兩）　千金霜（二兩）　紅芽大戟（二兩）　麝香（三錢）　飛辰砂（五錢）</p>
<p>上七味，各研細末，和勻，以糯米粥為劑，每料分作四十粒。（按四十料太重，可分作八十粒）</p>
<p>按：洄溪先生曰：此秘藥中之第一方也，用藥之奇，不可思議。專治一切藥毒。菰子，鼠莽，惡菌疫死，牛馬河豚等毒，及時行瘟疫，山嵐瘴瘧，纏喉風痹，黃疸，赤眼，瘡癤熱毒上攻，或自縊，溺水，打撲傷損，癰疽發背，魚臍瘡腫，百蟲蛇犬所傷。男子婦人，癲邪狂走，鬼胎鬼氣，並宜服之。由是觀之，此丹確為殺菌之第一要劑。其方下，明注曰惡菌疫死。則凡屬疫症之由於惡菌者，醫者可推廣其用矣，惟中醫通稱曰惡菌，西醫則通名曰毒菌，因其微細之極，又名曰細菌，且因善能腐敗物質，又名微菌。習新醫學者，輒詆中醫之不知毒菌，則其於中國醫書，未嘗博覽，已可概見。但取中醫學說之可非難者一二端，指摘之以概全體，而棄我所長。新學之士，習聞其說，遂以中醫為一無可取，致使新舊之見，勢同冰炭，兩者益不相容。然如斯互相牴觸之棄，將誰受之。受其弊者非他，吾國之人民而已。竊願中西之二大醫術，日漸融和，共圖醫道之大進步，則本會各職員，實深厚望焉。</p>
<p><u>昌陽瀉心湯</u>　見王孟英先生重訂《霍亂論》。</p>
<p>鮮石菖蒲（錢半）　青子芩　仙露夏（各一錢）　小川連（六分）　紫蘇葉（三分）　真川樸（八分）　鮮竹茹（三錢）　淡竹瀝（一羹，瓢沖）　生薑汁（四滴沖）</p>
<p>先用炒香枇杷葉一兩，活水蘆根二兩，煎湯代水，其枇杷葉，必須先刷毛淨，剪去大筋，然後略炒微黃色為度。</p>
<p>按：菖蒲一名昌陽，辛香不燥，善能掃滌濁邪，昌發清陽之氣，合豬藥以為劑，共奏蠲痰泄熱展氣通津之績。凡治濕熱穢濁之邪，內蒙清竅，已歷試不爽矣。</p>
<p><u>太乙紫金丹</u>　同前。</p>
<p>山慈姑　川文蛤（各二兩）　紅芽大戟　白檀香　安息香　蘇合香油（各一兩五錢）　千金霜（一兩）　明雄黃　琥珀（各五錢）　梅冰　當門子（各三錢）</p>
<p>以上十一味，各研極細，再合研勻，濃糯米飲杵丸，綠豆大，外以金箔為衣，每錢許，涼開水下。專治霍亂痧脹，嵐瘴中惡，水土不服，喉風中毒，蛇犬蟲傷，五絕暴厥，顛狂癰疽，鬼胎魔魅，及暴濕溫疫之邪，瀰漫薰蒸，神明昏亂，危急諸證。</p>
<p>按：薛一瓢先生曰：此方比蘇合丸而無熱，較至寶丹而不涼，兼玉樞丹之解毒，備二方之開閉，洵為濟生之仙品，立八百功之上藥也。由是推之，此丹合前解毒萬病丹二方，真中醫殺菌解毒之靈丹，不論時疫，大疫，癘疫，凡見方下詳註各症，均可酌用，以奏捷效。</p>
<p><u>厥症返魂丹</u>　見王肯堂先生《類方準繩》。</p>
<p>真麝香　生玳瑁　雄黃精　白芥子　飛辰砂（各二錢五分）</p>
<p>上藥同研如粉，於磁器中熔安息香和丸，如綠豆大，每服五丸，小兒只服一丸。</p>
<p>按：昏厥一症，最為急候，輕則漸蘇，重則即死，因怒而得者為氣厥，因瘀而得者為血厥，因痰而得者為痰厥，因食而得者為食厥，因酒而得者為酒厥，因痙而得者為痙厥，因痛而得者為痛厥，因驚而得者為驚厥，卒中而得者為暴厥，其狀如屍者為屍厥，其症皆忽然昏暈，默然不語，不省人事，均以此丹，隨症加入湯引急救之。歷試輒驗。</p>
<p><u>犀地清神湯</u>　見石芾南先生《醫原》。</p>
<p>白犀角（八分至一錢）　鮮生地（六錢至一兩）　新銀花（二錢至三錢）　青連翹（二錢至三錢）　廣鬱金（三錢磨汁沖）　鮮石菖蒲（錢半，後入）　梨汁　竹瀝（各一羹瓢沖）　生薑汁（二滴，沖）</p>
<p>先用活水蘆根二兩，燈芯三十支，煎湯代水，煎成，衝入犀角汁、鬱金汁、梨汁、竹瀝、薑汁等，乘熱即服。</p>
<p>按：濕熱濁邪，化燥傷陰，內陷心宮，神昏譫妄，舌赤無苔，此時用藥，最要空靈，神昏為內閉之象，閉則宜開，心宮乃虛靈之所，虛則忌實。此方四味用汁，地黃用鮮者，取其滑利，少加薑汁，涼藥熱飲，取其流通，此即陰陽開闔之理也。余氏春山曰：熱為濕鬱，不能外達下行，每見惡寒足冷。若拘傷寒惡寒之說，投以溫散，其寒反甚。但用蘆根、燈草，甘淡通陽利竅，滾煎熱服，下咽即覺熱從外達，津津汗出而解，屢驗不爽。故此方合前諸藥以為劑，甘潤救陰，清涼芳透，既無苦寒冰伏之虞，又乏陰茅濁膩之弊。如此制方，確有精義，本會各職員，屢用輒效，特表彰之。</p>
<p><u>加減神犀湯合犀珀至寶丹方</u>　醫學會正會長何廉臣君經驗方。</p>
<p>犀角尖（八分）　鮮生地（二兩，拌搗淡豆豉，三錢）　銀花（二錢）　連翹（三錢）　粉丹皮（錢半）　元參心　老紫草（各三錢）　大青葉（二錢）　金汁（一兩，沖）</p>
<p>犀珀至寶丹一顆，去殼研細，先用藥湯調服，犀角仍磨汁沖。</p>
<p><u>犀珀至寶丹</u>　同前。</p>
<p>白犀角（五錢）　羚羊角（五錢）　琥珀（三錢）　麝香（一錢）　蟾酥（五分）　原桃仁（三錢）　藏紅花（二錢）　血竭（三錢）　辰砂（五錢）　鬱金（三錢）　石菖蒲（三錢）　穿山甲（二錢）　杜赤豆（五錢）　桂枝尖（二錢）　連翹心（三錢）</p>
<p>以豬心血為丸，金箔為衣，每丸計重五分，大人每服一丸，小兒每服半丸，嬰兒每服半丸之半丸。</p>
<p>按：此丹專治一切時邪內陷血分，瘀塞心房，不省人事，昏厥如屍，目瞪口呆，四肢厥冷等症。又治婦人熱結血室，及產後瘀血衝心，小兒痘疹內陷，急驚暴厥，中風中惡等症，用之得當，奏功極速，歷驗如神。</p>
<p><u>犀連承氣湯</u>　見呂槎村先生《傷寒窮源》</p>
<p>白犀角（一錢）　小川連（一錢）　生錦紋（二錢）　小枳實（錢半）　元明粉（三錢）　真川樸（五分）</p>
<p><u>小陷胸湯合樸黃丸</u>　小陷胸湯見張仲景先生《傷寒論》。</p>
<p>栝蔞仁（六錢）　仙露夏（三錢）　小川連（八分）　樸黃丸（三錢）</p>
<p>上藥煎成，絹篩濾清服。</p>
<p><u>樸黃丸</u>　見程鍾齡先生《醫學心悟》。</p>
<p>真川樸　廣陳皮（各十二兩）　制錦紋（一斤四兩）　廣木香（四兩）</p>
<p>上用荷葉水泛為丸，如綠豆大，每服三錢，開水送下，小兒二錢。</p>
<p><u>枳實導滯丸</u>　見李東垣先生《脾胃論》。</p>
<p>小枳實　六神麯（各五錢）　制錦紋（一兩）　小川連（三錢）　青子芩　生曬術（各三錢）　浙茯苓（三錢）　建澤瀉（二錢）</p>
<p><u>神芎導水丸</u>　見劉完素先生《河間六書》。</p>
<p>生錦紋　青子芩（各二兩）　炒黑醜　飛滑石（各四兩）　小川連　川芎　蘇薄荷（各五錢）</p>
<p>共為細末，滴水為丸，如小豆大，溫水下十丸至十五丸，每服加十丸，日三服，冷水下亦得。</p>
<p>按：此丸，瀉濕熱，消酒食，清頭目，利咽喉，能令胃腸結滯宣通，氣和而愈，屢用輒效。</p>
<p><u>陸氏潤字丸</u>　見陸養愚先生《三世醫驗》。</p>
<p>酒炒錦紋（一兩）　製半夏　前胡　山楂肉　天花粉　白朮　廣陳皮　枳實　檳榔（各一錢二分五釐）</p>
<p>每藥須曬乾為末，薑汁打神麯為丸，如梧子大，每服二三錢。</p>
<p>按：此丸，善治濕熱食積，胸滿不食，腹痛便閉，及夏秋赤白痢等症，最穩最靈。</p>
<p><u>桃仁承氣湯</u>　見仲景方。</p>
<p>原桃仁（三錢）　生錦紋（二錢）　元明粉（錢半）　川桂枝（三分）　生甘草（六分）</p>
<p>按此湯，乃仲景原方，吳又可去桂枝甘草二味，加當歸赤芍丹皮各二錢，亦名桃仁承氣湯。吳鞠通去元明粉桂枝甘草三味，加細生地六錢，丹皮四錢，澤蘭二錢，人中白二錢，名加減桃仁承氣湯。同一治蓄血症，涼血通淤之功，較原方尤勝。</p>
<p><u>犀角鮮地黃湯</u>　見孫真人《千金要方》。</p>
<p>白犀角（一錢）　鮮生地（一兩）　粉丹皮（三錢）　赤芍（二錢）</p>
<p><u>茵陳蒿湯</u>　見仲景方。</p>
<p>西茵陳（五錢）　焦山梔（四錢）　生錦紋（二錢）</p>
<p><u>參黃湯</u>　見石芾南先生《醫原》。</p>
<p>別直參（錢半）　生錦紋（錢半）</p>
<p><u>千金生地黃湯</u>　見《千金要方》。</p>
<p>鮮生地（二兩）　生錦紋（一錢）　生甘草（八分）　芒硝（一錢）　大紅棗（四枚）</p>
<p><u>養榮承氣湯</u>　見吳又可先生《溫疫論》。</p>
<p>鮮生地（一兩）　油當歸（三錢）　生白芍（二錢）　白知母（三錢）　生錦紋（一錢）　小枳實（錢半）　真川樸（五分）</p>
<p><u>雪羹</u>　見王晉三先生《古方選注》。</p>
<p>漂淡陳海蜇（四兩）　大荸芥（六個）</p>
<p><u>飛龍奪命丹</u>　見王孟英先生《重訂霍亂論》。</p>
<p>飛辰砂（二兩）　明雄黃　燈芯灰（各一兩）　人中白（八錢）　飛青黛　明礬（各五錢）　梅冰　麻黃（各四錢）　真珠　牙皂　當門子　蓬砂（各三錢）　西牛黃（二錢）　杜蟾酥　火硝（各錢半）　飛真金（三百頁）</p>
<p>上十六味，各研極細合研勻，磁瓶緊收，毋令泄氣，以少許吹鼻取嚏。重者再用涼開水調服一分，小兒減半。</p>
<p>按：王孟英先生自按云：此丹芳香闢穢，化毒祛邪，宣氣通營，全體大用，真有斬關奪隘之功，而且起死回生之力也。</p>
<p><u>觀音救急丹</u>　見甬東王松堂先生《經驗各科秘方輯要》。</p>
<p>真硃砂　雄黃精（各六兩）　蓽茇（二錢）　梅冰（二錢半）　明礬（一兩）　月石（二兩）　牙硝（四兩，後下）　當門子（二錢五分）　真佛金（二百張）</p>
<p>上藥研末，用磁瓶收貯。每裝一分，黃蠟封口，切勿泄氣。如遇有急痧等症，急用此丹，先點兩眼角，再取半分，放入臍內，以膏藥貼之甚驗。若遇重症，可將余丹放舌上，陰陽水送服，無不立效。</p>
<p>按：王松堂自云：此丹功力甚大，即死一時，還可回生。孕婦忌服，小兒減半。</p>
<p><u>行軍散</u>　見王孟英先生《重訂霍亂論》。</p>
<p>西牛黃　當門子　真珠　梅冰　蓬砂（各一錢）　明雄黃（飛淨，八錢）　火硝（三分）　飛真金（二十頁）</p>
<p>上藥研極細如粉，再合研勻，磁瓶密收，以蠟封之。每三四分涼開水調下。</p>
<p><u>飛馬金丹</u>　見沈樾亭先生《驗方傳信》。</p>
<p>巴豆霜　廣木香　賴橘紅（各三錢）　五靈脂　廣鬱金生打　上雄黃　制錦紋（各一兩）　飛辰砂（五錢）　明乳香　淨沒藥　山慈菇　百草霜（各二錢）</p>
<p>各稱另研淨末分兩，再合研一時許，合勻。米醋法丸，金箔為衣，如綠豆大，隔紙曬乾，緊貯磁器，置高燥處。二十歲以上者，每服十二丸。稟強者，加三丸。老幼隨減，三兩歲者七丸，或五丸，七八十歲者九丸。溫開水送下，半日或一二時許，非吐必瀉。孕婦遇急症，七丸為度。</p>
<p><u>藿香正氣散</u>　見王孟英先生《重訂霍亂論》。</p>
<p>藿香（三兩）　川樸　陳皮　桔梗　白朮　半夏（各二兩）　大腹皮　白芷　浙茯苓　蘇葉（各三兩）　炙甘草（一兩）</p>
<p>上十一味為末，每三錢姜三片棗三枚煎服。</p>
<p><u>紅靈丹</u>　同前。</p>
<p>硃砂　牙硝（各一兩）　飛雄黃　蓬砂（各六錢）　煅礞石（四錢）　梅冰　當門子（各三錢）　飛真金（五十頁）</p>
<p>每一分涼開水送下，小兒減半。</p>
<p><u>周氏化濁湯</u>　見周雪樵先生《中國醫學報》。</p>
<p>真川樸（錢半）　杜藿梗（一錢）　青子芩（錢半）　前胡（一錢）　佩蘭葉（一錢）　大腹皮（一錢）　小枳實（一錢）　淡香豉（錢半）　焦山梔（錢半）　紫金片（二分，開水洋沖）</p>
<p><u>控涎丹</u>　見陳無擇先生《三因方》。</p>
<p>白芥子　甘遂　大戟（各一兩）</p>
<p>研末薑汁糊丸，每服十丸，重則三十丸，淡薑湯送下。</p>
<p><u>吳氏四苓湯</u>　見吳又可先生《溫疫論》。</p>
<p>帶皮苓（四錢）　豬苓（二錢）　澤瀉　廣皮（各錢半）</p>
<p><u>藿樸胃苓湯</u>　樊開周先生《經驗方》。</p>
<p>杜藿梗（三錢）　真川樸（一錢）　杜蒼朮（八分）　炒廣皮（錢半）　炙甘草（五分）　生曬術（錢半）　浙茯苓（三錢）　豬苓（錢半）　建澤瀉（錢半）　官桂（五分）</p>
<p><u>王氏蠶矢湯</u>　見王孟英先生《重訂霍亂論》。</p>
<p>晚蠶砂（五錢）　生苡仁（四錢）　大豆卷（四錢）　絲通草（一錢）　陳木瓜（三錢）　仙露夏（一錢）　焦山梔（錢半）　青子芩（一錢）　吳茱萸（三分，拌炒）　川連（二錢）</p>
<p>地漿或陰陽水煎，稍涼徐服。</p>
<p><u>燃照湯</u>　同前。</p>
<p>飛滑石（四錢）　真川樸（一錢）　焦山梔（二錢）　青子芩（錢半）　製半夏（一錢）　淡香豉（三錢）　省豆草（錢半）</p>
<p>水煎去滓研沖白蔻仁八分溫服</p>
<p><u>藿香左金湯</u>　同前。</p>
<p>杜藿香（三錢）　吳茱萸（二分）　小川連（六分）　新會皮（二錢）　姜半夏（錢半）　炒枳殼（錢半）　炒車前（錢半）　赤苓（三錢）　細木通（一錢）　建澤瀉（二錢）　豬苓（錢半）　六一散（四錢，包煎）</p>
<p>先用鮮括淡竹茹五錢，炒香鮮枇杷葉一兩，井水河水各一碗，煎至一碗，分兩次服。服後毋多飲茶，多飲茶則連藥吐出，不得藥力矣，切宜忍耐。</p>
<p><u>連樸飲</u>　同前。</p>
<p>小川連（一錢）　真川樸（二錢）　石菖蒲（一錢）　淡香豉（三錢）　製半夏（一錢）　焦山梔（三錢）</p>
<p>活水蘆根二兩煎湯代水。</p>
<p><u>回陽急救散</u>　同前。</p>
<p>吳茱萸（一兩八錢）　母丁香（一兩二錢）　上桂心（八錢）　硫黃（五錢）　當門子（四錢）</p>
<p>五味共研極細，磁瓶密收，每二三分安臍中，以膏藥封之，一時即愈。孕婦忌貼。</p>
<p>按：此方藥雖猛峻，而僅取其氣由臍入腹，自能溫通臟腑以逐寒邪，不致傷陰，誠為善策。惟口渴苔黃，下利極熱者，顯為陽證，雖見肢冷脈伏，亦勿妄用此散，更張其焰也。</p>
<p><u>椒附白通湯合半硫丸</u>　見吳鞠通先生《溫病條辨》。</p>
<p>川椒（二錢，炒黑）　生附子（三錢，炒黑）　淡乾薑（二錢）　蔥白（三枚）　豬膽汁（半燒酒杯，去渣後調入）</p>
<p><u>半硫丸</u>　同前。</p>
<p>倭硫黃　姜半夏（各一兩）</p>
<p>為細末，蒸餅為丸，梧子大，每服一二錢，開水下。</p>
<p><u>霍亂定中酒</u>　見滬上各報。</p>
<p>樟冰　丁香　木香　大茴香（各三錢）　罌粟膏（三錢）　廣陳皮（二錢）　滴燒酒（一斤）</p>
<p>按：此方專治霍亂、癟螺痧、吊腳痧、絞腸痧、胸郁腹痛痢疾等症。用此酒半茶匙，飲之即愈，極其靈驗。</p>
<p><u>新加附子理中湯</u>　見王清任先生《醫林改錯》。</p>
<p>潞黨參（八錢）　淡附片（四錢）　淡乾薑（四錢）　炒白朮（四錢）　炙甘草（三錢）　原桃仁（二錢）　杜紅花（二錢）</p>
<p>按：吐瀉一見轉筋，身冷汗多，非此方不可，莫畏病人大渴飲冷，不敢用。</p>
<p><u>來復丹</u>　見宋《和劑局方》。</p>
<p>玄精石　倭硫黃　牙硝（各一兩）　賴橘紅　小青皮　五靈脂（各二錢）</p>
<p>上藥為末，醋糊丸，每服二錢，或三十丸，空心醋湯下。</p>
<p><u>加減附子理中湯</u>　見吳鞠通先生《溫病條辨》。</p>
<p>黑附塊　老東參（各錢半）　生茅朮（三錢）　真川樸（二錢）　廣皮（錢半）</p>
<p><u>純陽正氣丸</u>　見《紹興醫學報》。</p>
<p>杜藿香　紫蘇葉　生茅朮　生於術　白茯苓　姜半夏　廣皮　上官桂　公丁香　青木香（各一兩）　紫降香（五錢）</p>
<p>上藥共研細末，水法為丸，如粟米大，外加紅靈丹一兩為衣，開水送服，每服五分，小兒減半，症重者酌加，孕婦忌服。</p>
<p><u>附姜歸桂湯</u>　見喻嘉言先生《醫門法律》。</p>
<p>黑附塊　炮乾薑　全當歸　安邊桂（各一錢半）</p>
<p>上用水二大盞煎至一盞，入蜜一蛤蜊殼溫服。</p>
<p><u>參耆建中合二陳湯</u>　何廉臣經驗方</p>
<p>潞黨參　棉耆（各錢半）　川桂枝（五分）　生白芍（錢半）　炙甘草（八分）　姜半夏（錢半）　炒廣皮（一錢）　浙茯苓（三錢）　飴糖（三錢）　鮮生薑（八分）　大紅棗（四枚）</p>
<p>用水兩碗煎成一碗，去渣溫服。</p>
<p><u>附姜歸桂參甘湯</u>　見喻嘉言先生《醫門法律》。</p>
<p>黑附塊　炮乾薑　全當歸　安邊桂（各一錢半）　潞黨參　炙甘草（各二錢）　鮮生薑（二片）　大紅棗（二枚）</p>
<p>用水兩大盞煎至一盞，入蜜三蛤蜊殼，溫服。</p>
<p><u>辛溫平補湯</u>　同前。</p>
<p>黑附塊　炮乾薑（各五分）　全當歸（一錢）　安邊桂（五分）　潞黨參　炙甘草　蜜炙棉耆　土炒白朮　酒炒白芍（各二錢）　五味子（十二粒）　煨姜（三片）　大紅棗（二枚）</p>
<p>用水二大盞，煎至一盞，加蜜五蛤蜊殼溫服。</p>
<p><u>麥門冬湯合半夏秫米湯</u>　何廉臣經驗方。</p>
<p>原麥冬（三錢）　潞黨參（錢半）　姜半夏（二錢）　北秫米（四錢）　炙甘草（六分）　大紅棗（二枚）</p>
<p><u>參麥茯神湯</u>　見薛生白先生《濕熱條辨》。</p>
<p>西洋參（錢半）　原麥冬（二錢）　辰茯神（三錢）　鮮石斛（三錢）　甜石蓮（錢半）　生穀芽（錢半）　生甘草（六分）　宣木瓜（八分）</p>
<p><u>人參白虎湯</u>　仲景方。</p>
<p>潞黨參（錢半）　生石膏（六錢）　白知母（三錢）　生甘草（六分）　生粳米（三錢，荷葉包煎）</p>
<p><u>香砂二陳湯</u>　見宋《和劑局方》。</p>
<p>廣木香（八分）　春砂仁（八分）　姜半夏（錢半）　廣陳皮（錢半）　浙茯苓（三錢）　炙甘草（六分）</p>
<p><u>桂枝白虎湯</u>　仲景方。</p>
<p>川桂枝（六分）　生石膏（六分）　白知母（三錢）　生甘草（六分）　生粳米（三錢，荷葉包煎）</p>
<p><u>清脾飲</u>　見張路玉先生《醫通》。</p>
<p>川柴胡（錢半）　青子芩（錢半）　姜半夏（一錢）　真川樸（八分）　草果仁（五分）　生於術（八分）　小青皮（七分）　炙甘草（六分）　鮮生薑（兩片）　大紅棗（兩枚）</p>
<p><u>加減達原飲</u>　見雷少逸先生《時病論》。</p>
<p>草果仁（五分）　檳榔（錢半）　真川樸（八分）　炒白芍（錢半）　炙甘草（五分）　生川柏（五分）　焦山梔（二錢）　浙茯苓（三錢）</p>
<p><u>柴胡白虎湯</u>　見丹波廉夫先生《傷寒廣要》。</p>
<p>川柴胡（八分）　生石膏（六錢）　白知母（三錢）　生甘草（六分）　生粳米（三錢，荷葉包煎）　青子芩（二錢）　仙露夏（錢半）</p>
<p><u>青蒿鱉甲煎</u>　見吳鞠通先生《溫病條辨》。</p>
<p>青蒿腦（二錢）　生鱉甲（五錢）　細生地（四錢）　白知母（二錢）　粉丹皮（三錢）</p>
<p><u>新絳旋覆花湯</u>　仲景方。</p>
<p>真新絳（一錢）　旋覆花（三錢）　蔥頭（十四枚）</p>
<p><u>秦艽弊甲湯</u>　見《張氏醫通》。</p>
<p>左秦艽（錢半）　生鱉甲（四錢）　全當歸（錢半）　白知母（錢半）　川柴胡（八分）　地骨皮（四錢）　青蒿腦（錢半）　烏梅肉（三分）</p>
<p><u>加味逍遙散</u>　見薛立齋先生醫案。</p>
<p>白歸身　酒炒白芍（各錢半）　土炒白朮　浙茯苓（各一錢）　川柴胡　炙甘草（各五分）　焦山梔　丹皮（各錢半）　蘇薄荷（三分，沖。）</p>
<p><u>半貝丸</u>　見徐氏《衛生業錄》。</p>
<p>生半夏（八錢）　京川貝（一兩二錢，去心）</p>
<p>共研細末，炒至微黃，候冷，生薑汁搗勻煉丸，裝入磁瓶，弗令泄氣。每服一分五釐，開水半酒杯。於瘧未來時，先一時辰服，遲服則不效。重者下次再服一分五釐，無不愈。愈後，戒食發物及雞蛋南瓜等三個月，永不再發。</p>
<p><u>瘧疾五神丹</u>　何廉臣經驗方。</p>
<p>姜半夏（八錢）　京川貝（一兩二錢去心）　青皮（八錢）　全青蒿（一兩）　金雞勒（二錢）</p>
<p>共研細末，淡姜水和丸，如綠豆大，硃砂為衣，每服一錢。</p>
<p>按：錢塘趙恕軒《本草綱目拾遺》云：金雞勒，細枝中空，儼如去骨遠志，味苦性熱，能達營衛，行氣血，用以治瘧，一服即愈。此方從儀徵楊賡起軍門家傳秘方，參酌而出，經驗多人，歷試不爽，妙在並無後患，功在金雞納霜丸之上，用敢公布。</p>
<p><u>丁蔻理中丸</u>　見廣東陳利《濟藥局方》。</p>
<p>炒冬朮（二兩）　潞黨參　炙甘草　乾薑（各一兩）　公丁香（三錢）　白豆蔻（二錢）</p>
<p>共研細末，水泛為丸，每服錢半至三錢，開水送下。</p>
<p><u>鱉甲煎丸</u>　見仲景方。</p>
<p>鱉甲（十一分）　赤硝（十二分）　炒蜣螂　柴胡（各六分）　炒䗪蟲　丹皮　芍藥（各五分）　炙蜂房（四分）　炒鼠婦　阿膠　大黃　烏扇　紫葳花　桂枝　乾薑　黃芩　川樸　石葦（各三分）　桃仁　瞿麥（各二分）　葶藶　半夏　人參（各一分）</p>
<p>上二十三味為末，取煅灶下灰一斗，清酒一斤五斗，浸灰，候酒盡一半，著鱉甲於中，煮令泛爛如膠漆，絞取汁。內諸藥煎為丸，如梧子大，空心服七十丸，日二服。</p>
<p><u>小承氣加黃連湯</u>　見吳坤安先生《感症寶筏》。</p>
<p>生錦紋（錢半）　小枳實（一錢）　真川樸（八分）　小川連（八分）</p>
<p><u>節齋化痰丸</u>　見王節齋先生《明醫雜著》。</p>
<p>淡天冬　炒黃芩　栝蔞霜　海粉　廣橘紅（各一兩）　苦桔梗　制香附　青連翹（各五錢）　上青黛　風化硝（各三錢）</p>
<p>研細，煉蜜入薑汁丸，白湯送下。</p>
<p><u>茵陳五苓散</u>　仲景方。</p>
<p>帶皮苓（四錢）　豬苓　澤瀉（各二錢）　生曬術（一錢）　官桂（五分）</p>
<p>先用西茵陳五錢煎湯代水。</p>
<p><u>除疸丸</u>　見何廉臣《重訂廣溫熱論》。</p>
<p>倭硫黃（三兩）　淨青礬（一兩）</p>
<p>以上兩味，水泛為丸，姜半夏粉一兩為衣，每服一錢或錢半，一日兩次。</p>
<p><u>茵陳胃苓湯</u>　見萬密齋先生《幼科發揮》。</p>
<p>杜蒼朮（一錢）　真川樸（一錢）　炒廣皮（錢半）　浙茯苓（三錢）　生曬術（錢半）　川桂枝（五分）　建澤瀉（錢半）　豬苓（錢半）　炙甘草（五分）</p>
<p>先用西茵陳八錢煎湯代水。</p>
<p><u>絳礬丸</u>　見《張氏醫通》。</p>
<p>皂礬（五錢，面里燒紅）　杜蒼朮（五錢）　真川樸（八錢）　廣皮（六錢）　炒焦甘草（三錢）</p>
<p>煮紅棗肉為小丸，姜半夏粉一兩為衣，每服錢半，或二錢，一日兩次，淡薑湯送下。</p>
<p><u>梔子柏皮湯</u>　仲景方。</p>
<p>焦山梔（五錢）　生甘梢（一錢）　生川柏（二錢）</p>
<p><u>三豐伐水丸</u>　見王晉三先生《古方選注》。</p>
<p>製蒼朮（一斤）　黃酒麴（二兩，同蒼朮炒赤色）　皂礬（半斤）</p>
<p>醋拌曬乾入陽城罐火煅，以醋糊丸，梧子大，每服三四十丸，好酒米湯任下。</p>
<p>按：張三丰仙傳方云：此乃上清金蓬頭祖師所傳，治黃腫如土色，其效如神。李時珍云：絳礬丸，不及此方之妙。</p>
<p><u>代抵當湯</u>　見楊歷三先生《寒溫條辨》。</p>
<p>醋炒錦紋（二錢）　原桃仁　炒川甲　醋炒莪朮　元明粉　當歸尾　細生地（各一錢）　安邊桂（三分）</p>
<p><u>葉氏絳覆湯</u>　見葉天士先生醫案。</p>
<p>真新絳（錢半）　旋覆花（三錢）　青蔥管（五寸）　桃仁　歸鬚（各錢半）　柏子仁（三錢）</p>
<p><u>當歸龍薈丸</u>　見陳修園先生《時方歌括》。</p>
<p>全當歸　龍膽草　焦山梔　小川連　生川柏　青子芩（各一兩）　生錦紋　上青黛　蘆薈（各五錢）　木香（二錢半）　麝香（五分）</p>
<p>上藥炒神麯糊丸，薑湯下，每服二十丸。</p>
<p><u>加味三黃湯</u>　即三黃甘草湯　見沈樾亭先生《驗方傳信》。</p>
<p>生錦紋（五錢）　小川連　青子芩　生甘草（各二錢）　沖白蜜（一兩）</p>
<p><u>五汁飲</u>　同前。</p>
<p>生蘿蔔汁（二杯）　生薑汁（半酒杯）　白蜜　陳細茶汁　生藕汁（各一酒杯，和勻重湯燉，溫飲之，無蘿蔔時，以萊菔子五錢，清水擂浸一二時許絞汁用）</p>
<p><u>三參冬燕湯</u>　樊開周先生驗方。</p>
<p>太子參　西洋參（各一錢）　北沙參（四錢）　提麥冬（二錢）　光燕條（八分）　青蔗漿（一酒杯）　建蘭葉（三片）</p>
<p><u>加味白頭翁湯</u>　見《良方集腋》。</p>
<p>白頭翁（三錢）　小川連（八分）　青子芩（二錢）　生川柏（六分）　北秦皮（五分）　生白芍（三錢）　益元散（四錢，荷葉包煎）</p>
<p><u>更衣丸</u>　見陳修園先生《時方歌括》。</p>
<p>飛辰砂（五錢）　蘆薈（七錢）</p>
<p>滴酒和丸，每服二錢。</p>
<p><u>黃連阿膠湯</u>　仲景方。</p>
<p>小川連（四分）　真阿膠（八分）　青子芩（六分）　生白芍（錢半）　雞子黃（一枚生，放罐底切不可碎）</p>
<p><u>胃苓湯</u>　即茵陳胃苓湯去茵陳。見《張氏醫通》。</p>
<p><u>枳實導滯湯</u>　見《張氏醫通》。</p>
<p>小枳實（錢半）　制川柏（一錢）　酒洗生錦紋（八分）　仙露夏（錢半）　淨楂肉（三錢）　青連翹（錢半）　小川連（四分）　海南子（錢半）　老紫草（三錢）　細木通（八分）　炙甘草（五分）</p>
<p><u>七味白朮散</u>　見祝春渠先生《歌方集論》。</p>
<p>生曬術　潞黨參（各錢半）　浙茯苓（三錢）　炙甘草（六分）　煨木香（八分）　杜藿香（一錢）　煨葛根（錢半）</p>
<p><u>備急丸</u>　見孫真人《千金方》。</p>
<p>生錦紋（一兩）　巴豆霜（一錢）　乾薑（八錢）</p>
<p>蜜丸，硃砂為衣，小豆大，每服二三丸，多則五七丸。</p>
<p><u>醉鄉玉屑</u>　見徐春甫先生《醫統》。</p>
<p>杜蒼朮　真川樸（各八分）　炒廣皮（一錢）　炙甘草（六分）　焦雞金（兩張）　母丁香（三分）　春砂仁（六分沖）</p>
<p><u>加味桃仁承氣湯</u>　見吳茭山先生《醫案驗方》。</p>
<p>原桃仁（三錢）　醋炒錦紋（一錢）　元明粉（錢半）　生甘草（八分）　安邊桂（三分）　蜜炙延胡（錢半）　馬鞭草（三錢）</p>
<p><u>四汁飲</u>　即前五汁飲去細茶汁。</p>
<p><u>五仁丸</u>　見尤在涇先生《金匱翼》。</p>
<p>柏子仁（半兩）　郁李淨仁　松子仁　原桃仁　甜杏仁（各一兩）　炒廣皮（四兩）</p>
<p>先將五仁另研如膏，入廣皮末研勻，煉蜜丸，梧子大，每服五十丸，空心米飲下。</p>
<p><u>人參芍藥湯</u>　樊開周先生驗方。</p>
<p>太子參（一錢）　生白芍（三錢）　炙甘草（五分）　甜石蓮（錢半）　烏梅炭（三分）　酒炒苦參子（二分）　荔枝殼（三顆）　薺菜乾（錢半）</p>
<p><u>千金駐車丸</u>　見孫真人《千金方》。</p>
<p>真阿膠（三兩）　炒川連　當歸（各兩半）　黑炮姜（一兩）</p>
<p>醋煮阿膠為丸，梧子大，每服四五十丸，米飲送下。</p>
<p><u>四炭阿膠湯</u>　見雷少逸先生醫案。</p>
<p>銀花炭　條芩炭　白芍炭（各錢半）　生地炭（三錢）　真阿膠（錢半）　炒黃淮藥（三錢）　廣陳皮　甜石蓮（各錢半）</p>
<p><u>倉廩湯</u>　見喻嘉言先生《醫門法律》。</p>
<p>西潞黨（錢半）　浙茯苓（三錢）　柴胡　前胡（各八分）　桔梗（一錢）　炙甘草（六分）　炒枳殼（錢半）　羌活　獨活（各五分）　川芎（六分）　鮮生薑（兩片）　陳倉米（四錢，荷葉包煎）</p>
<p><u>犀角五汁飲</u>　何廉臣經驗方。</p>
<p>犀角汁（一瓢）　鮮生地汁（四瓢）　金汁（一兩）　梨汁（三瓢）　甘蔗汁（二瓢，用重湯燉溫，頻頻灌服）</p>
<p><u>豬膚湯合黃連阿膠湯加茄楠香汁方</u>　姚滋軒君驗方。</p>
<p>小川連（六分）　真阿膠（錢半）　生白芍（三錢）　青子芩（錢半）　雞子黃（一枚，先放罐底）　茄楠香汁（二匙沖）</p>
<p>先用淨豬膚淨白蜜各一兩炒，米粉四錢煎湯代水。</p>
<p><u>增損復脈湯</u>　見沈樾亭先生《驗方傳信》。</p>
<p>高麗參（錢半）　提麥冬（三錢）　大生地（三錢）　炙甘草（一錢）　生白芍（三錢）　真阿膠（錢半）　山萸肉（八分）　北五味（三分）　烏賊骨（三錢）　淨白蠟（三錢）</p>
<p><u>參燕麥冬湯</u>　見江筆花先生《醫鏡》。</p>
<p>米炒西洋參（錢半）　光燕條（一錢）　提麥冬（三錢）　奎冰糖（四錢）</p>
<p><u>加味雪羹煎</u>　見沈樾亭先生《驗方傳信》。</p>
<p>淡海蟄（四兩）　大荸薺（二兩）　真阿膠（二錢，另燉洋沖）　山楂炭（三錢）　陳細茶（三錢）</p>
<p><u>歸連石斤湯</u>　同前。</p>
<p>油當歸（五錢）　小川連（七分）　鮮石斤（三錢）　炒枳殼（一錢）　鮮荷葉（一角，拌炒）　長鬚生穀芽（四錢）</p>
<p><u>五葉蘆根湯</u>　見薛生白先生《濕熱條辨》。</p>
<p>藿香葉　佩蘭葉　薄荷葉　鮮荷葉（各一錢）</p>
<p>先用去毛枇杷葉一兩，鮮冬瓜皮，活水蘆根各二兩，煎湯代水。</p>
<p><u>加味五皮飲</u>　見陳修園先生《時方妙用》。</p>
<p>廣陳皮（錢半）　茯苓皮（三錢）　五加皮（三錢）　大腹皮（三錢）　生薑皮（一錢）　光杏仁（錢半）　紫蘇旁枝（錢半）　防風（一錢）</p>
<p><u>加味翹荷湯</u>　見吳鞠通先生《溫病條辨》。</p>
<p>青連翹　蘇薄荷　炒牛蒡　苦桔梗　焦梔皮　老紫草（各錢半）　綠豆皮（二錢）　生甘草（六分）　蟬衣（十隻）　葦莖（一錢）</p>
<p><u>防風解毒湯</u>　見王晉三先生《古方選注》。</p>
<p>防風　荊芥穗　苦桔梗　淡竹葉　知母　通草（各八分）　枳殼（七分）　生石膏　青連翹　炒牛蒡（各一錢）　蘇薄荷（七分）　生甘草（三分）</p>
<p><u>三豆甘草湯</u>　見張路玉先生醫通。</p>
<p>大黑豆　杜赤小豆（各五錢）　綠豆（一兩）　生甘草（一錢）</p>
<p><u>香蘇五皮飲</u>　見陳修園先生《時方妙用》。</p>
<p>制香附　紫蘇葉　廣皮（各錢半）　浙苓皮　大腹皮　五加皮　桑白皮（各三錢）　炙甘草（五分）　鮮生薑（兩片）　蔥白（兩枚）</p>
<p><u>麻杏三皮飲</u>　見葉天士先生醫案。</p>
<p>蜜炙麻黃（一錢）　光杏仁（三錢）　浙苓皮（四錢）　新會皮（錢半）　炒牛蒡子（錢半）　前胡（錢半）　紫苑（八錢）　生薑皮（一錢）</p>
<p><u>椒目五苓散</u>　同前。</p>
<p>川椒目（五分）　生曬術（錢半）　浙茯苓（三錢）　豬苓（二錢）　建澤瀉（二錢）　官桂（五分）</p>
<p>先用海金砂五錢煎湯代水。</p>
<p><u>麻附五皮飲</u>　見周雪樵先生《中國醫學報》。</p>
<p>麻黃（一錢）　淡附片（八分）　新會皮（錢半）　浙苓皮（四錢）　生桑皮　大腹皮　五加皮（各三錢）</p>
<p><u>香砂春澤湯</u>　見丹波廉夫先生《觀聚方要補》。</p>
<p>廣木香　帶殼春砂（各八分）　老東參（錢半）　江西術（二錢）　豬苓　建澤瀉（各錢半）　浙茯苓（三錢）　安邊桂（五分）</p>
<p><u>吳氏二金湯</u>　見吳鞠通先生《溫病條辨》。</p>
<p>焦雞金（三錢）　海金砂（五錢）　絲川樸（錢）　大腹皮（三錢）　豬苓（二錢）　白通草（二錢）</p>
<p><u>胃苓五皮湯</u>　見萬密齋先生《幼科發揮》。</p>
<p>杜蒼朮（八分）　真川樸（一錢）　生曬術（一錢）　浙茯苓（三錢）　建澤瀉（錢半）　豬苓（錢半）　草果仁（三分）　安邊桂（三分）　炙甘草（五分）　新會皮（錢半）　桑白皮　五加皮　大腹皮（各三錢）　生薑皮（一錢）</p>
<p><u>五子五皮飲</u>　見王孟英先生《溫熱經緯》。</p>
<p>光杏仁（三錢）　葶藶子　萊菔子　蘇子（各錢半）　白芥子（八分）　新會皮（錢半）　生桑皮　大腹皮　五加皮　浙苓皮（各三錢）</p>
<p><u>程氏和中丸</u>　見程鍾齡先生《醫學心悟》。</p>
<p>炒白朮（四兩）　炒扁豆（三兩）　浙茯苓（兩半）　炒枳實（二兩）　炒廣皮（三兩）　焦六曲　炒麥芽　焦山楂　制香附（各二兩）　春砂仁（兩半）　姜半夏　蘇丹參（各二兩）　五穀蟲（三兩，酒拌炒焦，黃色）　鮮荷葉（一枚）</p>
<p>煎水疊為丸，每日上午下午開水下二錢。</p>
<p><u>葉氏寬膨散</u>　見葉天士先生醫案。</p>
<p>活癩蝦蟆十隻，將腹皮剖開。用五靈脂、砂仁末各半分量，墊滿腹中，用酒搗黃泥包裹炭火上煅燥，研極細末。每服一錢，一日三次，綠萼梅五分泡湯送下。</p>
<p><u>開鬱通絡飲</u>　見薛瘦吟先生《醫贅》。</p>
<p>香圍皮（錢半）　廣鬱金（三錢）　炒延胡（錢半）　遠志肉（八分）　真新絳（錢半）　陳木瓜（錢半）　羌螂蟲（二錢）　絲通草（一錢）　佛手片（五分）</p>
<p>先用絲瓜絡一枚，路路通十個，生苡仁八錢，煎湯代水。</p>
<p><u>香殼散</u>　見張路玉先生《醫通》。</p>
<p>制香附（三錢）　炒枳殼（二錢）　藏紅花（五分）　歸尾（三錢）　炒青皮（一錢）　新會皮（一錢）　臺烏藥（一錢）　赤芍（一錢）　醋炒莪朮（一錢）　炙甘草（五分）</p>
<p>上藥共研為散，每用五錢，水煎去渣，沖童便半盞，空心溫服。若症勢極重，加白薇五錢，炒延胡錢半，炒川甲一錢，用原桃仁五錢，青糖五錢，陳酒一瓢，加水四碗，成兩碗，代水煎藥。</p>
<p><u>代抵當丸</u>　同前。</p>
<p>酒炒錦紋（四兩）　原桃仁（三十枚）　炒川甲　醋炒莪朮　元明粉　歸尾　細生地（各一兩）　安邊桂（三錢）</p>
<p>共研末蜜丸，每服三錢。</p>
<p><u>喬氏陰陽攻積丸</u>　見李士材先生《醫宗必讀》。</p>
<p>吳茱萸　炮乾薑　安邊桂　炒川烏　姜炒川連　姜半夏　浙茯苓　延胡索　潞黨參（各一兩）　上沉香　真琥珀（各五錢）　巴豆霜（一錢）</p>
<p>上為末，皂角四兩煎汁糊丸，綠豆大，白蠟為衣，每服八分，加至一錢五分，薑湯下，與脾胃藥間服。</p>
<p>按：此方喬三餘先生所定，雖有參苓益氣，然藥多峻猛，妙用全在與脾胃藥間服。予曾效用此方，每令病人早服香砂六君丸三錢，夕服陰陽攻積丸八分，或服攻積丸一日，香砂六君丸二三日，隨人強弱而施，初服輒應，脹勢向衰，即令停服，專用程氏白朮丸調補脾胃。</p>
<p><u>程氏白朮丸</u>　見程鍾齡先生《醫學心悟》。</p>
<p>江西術　浙茯苓　廣陳皮（各二兩）　春砂仁　六神麯（各一兩五錢）　五穀蟲（四兩）</p>
<p>用荷葉陳蒼米煎水疊為丸，每服三錢，開水送下。</p>
<p><u>局方禹餘糧丸</u>　見宋《和劑局方》。</p>
<p>蛇含石　禹餘糧（各三兩）　真針砂（五兩）　羌活　川芎　廣木香　淮牛膝　浙茯苓　安邊桂　白豆蔻　大茴香　蓬莪朮　淡附片　炮乾薑　小青皮　京三稜　白蒺藜　全當歸（各五錢）</p>
<p>上為末，入前藥拌勻，以湯浸蒸餅，濾去水，和藥再杵為丸，梧子大。食前溫酒白湯，任下三十丸至五十丸。</p>
<p>按：此丸不動臟腑，而能去病，但最忌鹽，一毫不可入口，否則發疾愈甚。若陰虛內熱而為䐜脹者，忌服。</p>
<p><u>半硫理中丸</u>　何廉臣經驗方。</p>
<p>半硫丸（一錢）　理中丸（二錢）</p>
<p>和勻開水送服二錢。</p>
<p><u>濟生腎氣丸</u>　見嚴濟生先生方。</p>
<p>浙茯苓（三兩）　熟地（四兩）　淮山藥　山萸肉　粉丹皮　建澤瀉　安邊桂（各一兩）　淡附片（五錢）　淮牛膝　車前子（各一兩）</p>
<p>按：此方本金匱腎氣丸中諸藥，各減過半。惟桂苓二味，仍照原方，更加牛膝、車前，為宣布五陽開發陰邪之專藥。但方中牛膝滑精，精氣不固者，勿用。</p>
<p>以上驗方，統計一百三十五劑，皆古今名醫治驗之良方，而為本會各職員屢投輒效者，爰敢公布。惟其間猛烈之品，重大之劑，務必辨症詳明，認病精確，始可對症選用，切勿草率從事，致貽鹵莽減裂之譏。慎㫋慎㫋。</p>
