<header data-type="book">
<h1>薛氏濟陰萬金書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="薛古愚">薛古愚</data>撰，<data value="鄭敷政">鄭敷政</data>等編</dd></div>
<div><dt>年份</dt><dd><data value="1265">公元1265年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>婦人一科，古人稱以為難，以其嗜欲多於男子，又多經脈胎產一途，感邪且十倍，加以稟性恆執。余早歲學醫，求產科書，如《產寶》、《產經》、《良方》、《濟陰》等書，靡不周覽，往往汗漫雜出。惟吾家薛氏所傳《濟陰萬金書》最為得其要領，余更為銓次，始於調經，次以胎產，終以雜症，方有字號者，乃日常必用之方，吾家之秘也。家無恆產，此為恆業，囑我後人不可輕視，雖至親誼友，慎勿轉觀。</p>
<p><u>大明隆慶三年菊月，崑山平橋鄭敷政</u></p>
<p>余得鄭氏《濟陰萬金書》閱之，大是快心，但方論顛倒，故為重訂。其醫療之方，可云全備，學者誠得其要領而出以新機，則秦鏡在握，真可隨施而隨效者也。但和陽氏戒「勿輕傳」之語，竊有微憾。醫藥者，天下之公用也，仁者存心，事事求其公，猶或失之，奈何云「不可轉觀」，而忍夭折斯人之命哉！用付梓人，以傳諸寓內云。</p>
<p><u>康熙四十年桂月，北洲渚水方謨丕顯氏序</u></p>

<h1>原序</h1>
<p>婦人之病，有可治，有不可治，皆由心性善惡之所致也。間有德性柔良，舉止端嚴，克盡婦道，孝敬翁姑，相夫教子，勤儉理家，女紅井臼，桑麻之事，無弗善者，必無危病。縱有微疾，尚可治也；有等逆詬陰惡，罔尊陵卑，惟飲食自私，全無孝敬之念，犯有七去，助無一能，天教病入膏肓，雖盧扁復生，亦難療治。余幸遇人傳授產書，並《萬金方》以濟之，無不效驗，庶使產婦有患而無患，然平素修德去病之方可不自勉也。夫因臚胎前、產後諸病，及經脈十五論，胎前十月形，治產後十八論，雜效三方，種子妙訣，升精訣，都為兩卷，以紹後人，併為之序云。</p>
<p>昆新縣誌曰：宋，鄭公顯，上柱國億年五世孫，監察御史元輔子，蔭從政郎，潛隱不仕，節介自勵。妻錢，其外祖薛將仕，善帶下醫，公顯傳其術，遂擅名，著有《惠民方》三卷。按：鄭氏累世業醫，皆自公顯始。</p>

<h1>卷一</h1>

<h2>孕元</h2>
<p>天地之道，一陰一陽而已。人受天地之氣以生，而男女者，陰陽之儀象也。男子法象乎陽，從乎日，以陽精為體；女子法象乎陰，從乎月，以陰血為體。日，陽精也；月，陰精也。月行於天，一月有三十日，每二十九日有奇，與太陽會而合朔也。每月二十九日午時，太陰行於陰道而光滅，至初一日，夜半子時，太陰行於陽道而光生。此晦朔之定期也。自二十九日午時至初一日，夜之子時卻有三十時光滅，卻算得光明二十八日半，經脈至二日半而止，通共得三十日，則月行一度，猶月之有晦，而有朔也。月有期，故名月經，又名月信。過期者，血寒，血不足也；不及期來者，血熱，血盛也；五六日不止者，血澀也；經行作痛者，血滯也。不滯不澀，順期而行，血脈調和，及時而盛，其孕乃成。蓋經候初盡，舊血已淨，新血未入，子宮空虛，當此之時，以吾之實，投彼之虛，惟虛也，故能受胎。陽施陰受，交而不孕者，鮮矣。或有不成孕者，過在女子，或有脂肥充塞，而精射不及，或有陰血衰敗，而不能攝精者有之。過在男子，或因命門火衰，而陽不能射，或精寒而滑，施泄精稀者有之。</p>

<h2>胎孕生成論</h2>
<p>夫太極，一理也。太極分，而為兩儀，兩儀者，陰陽也；陰陽分，而五行具焉，五行者，陰陽之妙用也，一以清而上浮為天，一以濁而下凝為地。天地者，陰陽之像也，天以五行之理而化生萬物，是乾道之所以資始也；地以五行之理而化醇萬物，是坤道之所以資成也。故《易》曰：乾道資始，萬物化生；坤道資成，萬物化醇。故凡人受父精母血而成胚胎，陽施陰受，精以資始，血以資成。得火之精以生心，而神藏焉；得金之精以生肺，而魄藏焉；得木之精以生肝，而魂藏焉；得土之精以生脾，而志（宜作意）藏焉；得水之精以生腎，而智（宜作志）藏焉。五行具而臟腑生，皆父之精而始之也。受火之精以成血脈；受金之精以成皮毛；受木之精以成筋；受土之精以成肌肉；受水之精以成骨。五行具，百骸備，皆母之血以終之也。精以資始，血以資成，此胚胎之所由立也。至於成胎有男女之別者，是果何哉？蓋二氣五行默運於天地，而陰陽者，造化之機也，人得天地之氣以成形，而男女者，陰陽之儀象也。故自運行言，則天左旋為陽，右旋為陰；自一歲言，則春夏為陽，秋冬為陰；自一日言，自子至午為陽，自午至子為陰，奇日為陽，偶日為陰；自干支旺相言，則申子辰寅午戌為陽；亥卯未巳酉醜為陰。凡此，蓋天地之陰陽自然之運也。當女子經行初尺，舊血已去，新血未生，子宮澄澈，五日之內，男子與之交，在單日，值子寅辰午申戌日，或在半夜子時，值子寅辰午申戌時交感，有胎則成男；在雙日，值亥卯未巳酉丑時交感，成胎則為女，此陰陽時日氣運而分男女之大機也。諸書不察，皆云：「陽精先至，陰血後沖，陰包乎陽，則成男；女子陰血先至，陽精後參，則成女。」是陰亦能先始而資始，陽亦能後受而資成，理不然矣！若交感之後，囑婦側左睡必男，側右睡必女，或者有諸耳。</p>

<h2>分別男女脈法</h2>
<p>《經》云：陰搏陽別，謂之有子。謂陰脈別於其中，別有陽脈，是謂血氣衝和，陽施陰化也。《脈經》云：少陰之脈動甚者，為有子，以手少陰心脈也，心主血故也。又，腎門為胞門子戶，尺中腎脈，按之不絕，當有胎。又曰：婦人三部脈，按之浮沉正等不絕者，當有妊娠。初時寸微少，呼吸五至者，胎已三月。又曰：尺脈滑疾，重按散者，有胎三月。又曰：重按之不散，但疾而不滑者，有胎五月。又曰：妊娠當四月，左疾為男，右疾為女，俱疾為雙男。又曰：太陽脈為男，太陰脈為女。又曰：左手沉實為男，右手浮大為女，左右俱沉實為雙男，左右俱浮大為雙女。又曰：左偏大為男，右偏大為女，左右俱偏大為雙男。又云：左右俱浮大主二男，左右俱沉主二女。又一法：令妊婦南行，背後令人呼之，左回顧是男，右回顧是女。又，妊婦左乳房先有核是男，右乳房先有核是女。脈法多端，混淆難辨矣。</p>

<h2>脈候歌</h2>
<p>婦人大概血為主，寸弱尺強脈為是，心肝二部要平和，或數或遲經痛起。</p>
<p>尺脈強弱虛實看，血如不足尺微澀，腹中癥瘕脈沉牢，帶下數疾不能止。</p>
<p>尺中脈數不絕來，動入出外定懷胎，左尺浮洪男脈現，右尺浮實女形猜。</p>
<p>左寸浮大亦男脈，右寸沉細女堪測，陰中見陽男已形，陽部見陰女無說。</p>
<p>兩尺俱洪是雙男，若俱沉實女雙成，左手脈逆右手順，左應男三右女三。</p>
<p>脈來滑疾胎三月，但疾不散三月訣，一動一止一月看，二月兩動方一歇。</p>
<p>若還欲產脈離經，夜半覺痛日中生，新產之脈緩滑吉，實大強急命難存。</p>
<p>難產面赤而舌青，母活子死認教真，若是面青而舌赤，母凶子活在逡巡。</p>
<p>面舌俱青吐涎沫，子母應知兩命迍，婦人雜著如何診，二十四根共根因。</p>

<h2>十二月隨經養胎</h2>
<p>十二月經脈手少陰為主，手太陽小腸無為而守，此二經不養胎。妊娠一月，（足）厥陰脈養之，二月足少陽脈養之，此二經屬木，旺於春，主生，故先養胎；三月手厥陰心胞，四月手少陽三焦，屬火，旺於夏，主長；五月足太陰脾，六月足陽明胃，旺於長夏，主收；七月手太陰肺，八月手陽明大腸，屬金，旺於秋，主收；九月足少陰腎，十月足太陽膀胱，屬水，旺於冬，主藏。凡值月養胎，不可針灸其經。天以正月為厥陰，人以始胎為厥陰，人身一小天地也，諸經各養胎三十日，惟少陰心、手太陽小腸，平時上為乳，下為經水，故不得遽養胎也。</p>

<h2>男女受孕時</h2>
<p>凡男女受胎，在婦人經絕後五日，此時舊血已淨，新血方生，子宮正開，男子與交，氤氳氣感，精射而入，陽施陰受，故得成胎，若遇此時日，子宮稍實，精射不入，焉能成胎？是故求嗣者，必須養精，勿妄行交媾，必待此時以實投虛，則一合而胎孕成矣，餘日何益哉！</p>

<h2>男女本源</h2>
<p>男子以精為本，女人以血為源。男子為陽，乾道也，乾納干為甲，甲與巳合，納卦於離，離之中爻，得坤之陰，陰數八，故男子二八而陽精溢；女子為陰，坤道也，坤納干為癸，故女子月經為天癸，癸與戊合，戊納卦於坎，坎之中爻，得乾之體，陰中有陽，陽數七，故女子二七而天癸至，陽精陰血，男女之本原也。精血藏於父母之身，男女交媾，有天地橐籥之象，當鼓鑄之時，百脈齊到，故子形多有肖於父母者，如器之有模範，而象莫能逃。至交媾之時，在天時，為溫暖適中，無日月薄蝕、陰陽錯亂之變；在地利，非廚灶凶器之傍；在人和，無喜怒過中醉飽之時，自然所生男女聰明智慧，不虞凶暴矣！此在胎教之先者也。</p>

<h2>男女七八之數</h2>
<p>《聖濟經》曰：元氣孕育，皆始於子。男左旋，自子至巳，順積三十而至於巳。女子右旋自子至巳，逆積二十而至巳。是巳者，陰陽凝積之會也。故懷孕不問男女，並從巳上起數婦人妊，男胎左旋十月而生於寅，女胎右旋十月而生於申。寅屬木，位居艮，艮之數八，故男子八歲而髮長齒更，二八而陽精至，八八則卦足而陽精竭；申屬金，位居兌，兌之數七，故女子七歲而髮長齒更，二七而天癸至，七七而天癸竭。相感而通以兆，男女陰陽之始終也。</p>

<h2>氣形保衛</h2>
<p>凡人受陰陽五行以成百骸，其間稟賦之初，或附贅、垂瘤、駢拇、歧指、侏儒、跛躄之疾；又或分娩之時，即成瘡瘍、癰疽、聾盲、喑啞之病，皆由妊娠保衛失宜之致；或由交感之時，雷電風霆，陰霾薄蝕，社日晦朔，不能避忌，多成鬼胎異相，此又不可不知也。若其肝氣盛而驚癇（一作顛），腎氣虛而解顱，脾氣虛而羸瘦，心神乏而神短，食兔肉而缺唇，食龜鱉而僂背，食犬肉而失聲，食諸魚而瘡癬，此皆妊娠所當慎也。節其飲食、嗜欲，寢興以時，則自無前患也。</p>

<h2>轉女為男</h2>
<p>受胎二月，謂之胎胚，一塊純血，形質未定，隨物變化，尚可轉移。一法：取雄黃五錢，置妊婦衣中帶之。一法：取雄雞翼上毛三根，潛置婦人臥床下，勿令人見。一法：取弓矢斧斤置妊婦床下。此四物皆陽物，氣類相感，猶陽燧之取火，方諸之取水，螟蛉之類，物有轉移，理亦有諸。古人云：妊婦坐不偏，立不側，則生子形容端正，所謂胎教也。胎中亦有可教，則物感之應，理亦可信。</p>

<h2>男女受形</h2>
<p>乾道成男，故男子面重，溺水必伏；坤道成女，陰氣在背，故女子背重，溺水必仰。父少母老，生女必羸，母壯父衰，生男必弱，良醫必察乎此。氣受偏悴，與之補藥，羸女必養血，弱男必健脾。羸女必時至而嫁，弱男必待壯而娶。陽氣虧則男陽痿，不可為父；女陰衰則玉門連，不可為母，號為石女。又有駁氣所乘，男女二形，遇男可以為妻，遇女可以為夫。又有女具男形全有，又駁氣之甚者也。</p>

<h2>灸法</h2>
<p>婦人絕子嗣，灸然谷五十壯，在內踝前下一寸是穴。婦人絕嗣，灸關元六十壯。《千金翼》云：灸關元即令人無子，針石門令人終身不孕。《明堂經》：婦人懷妊不可針，主婦人妊子不成，若滿胎腹痛，漏下見赤，灸胞門五十壯，在關元左邊二寸是也，右邊一寸為子戶。按：《針經》曰：治人妊胎不成。《千金》云：治臟閉塞不安精，灸胞門五十壯。石門穴在陰部下一寸，主婦人無子，子臟有惡血上衝，腹中疼痛不可忍，灸五十壯，針一分。婦人絕嗣不生，灸氣門海穴，臍下三寸，在關元傍開二寸，灸百壯。按：《針經》云：氣門二穴，衝脈足少陰之會，名胞門，一名子戶，治婦人月事不調，奔騰（宜作豚）上下引腰背痛，可灸五十壯，針三分。婦人不受精，灸胞門五十壯。婦人絕嗣不生，漏下赤白，灸石門十四壯。</p>

<h2>月經論</h2>
<p>以月言之者，一月一行之盈虧也；經者，言其有常，必三十日而後至者，名於斯矣。夫月乃陰之精，其體暗，假日之光以為明；血本白，得心之氣而赤，斯道體之同也。天地之道不變，而人亦隨天以運者，私欲居之其變出矣，月經由是而不齊。夫血者，主於心，生於脾，貫於肺，注於胞，通於腎，歸於肝。《經》曰：二陽之病發心脾，有不得隱曲，女子不月。二陽者，陽明大腸與胃；隱曲者，房室之事也。女子不月亦其類也。又曰：谷入於胃，脈道乃行。水入於經，其血乃成。《評熱論》曰：月事不來者，胞脈閉也，胞脈者，屬心而絡於胞中，今氣上迫於肺，心氣不得下通，故月事不來。由是言之，月經者，主於心而主於脾也，明矣。心者，七情之主；脾者，五味之主。心脾受病，故月事因而不調，其變出百端，蓋病之變也。有臨行作痛者，有行後作痛者；有來二三日止者，有五六日而不止者；有來多者，有來少者；有桃花色者，有淡紅色者；有紫黑者，有帶白者；有膿腐作臭者；有如泥色者，有黃色者；有成片或成塊者；有過期而來者，有不及期而來者；有來而不止者，謂之崩；有幾月不行者，謂之閉。有四季而來者，有半年而來者，有終身不一至者，此三者皆稟氣之偏，非可常論也。夫月經者色鮮而紅，應期而來如期而止，無時刻差矣，得天地之氣完也。若臨行作痛者，氣之滯也，當歸芍藥湯主之；行後作痛者，氣血俱虛也，當歸地黃湯主之；五六日不止者，三黃湯主之；來多而常，是氣血俱盛，來多而覺虛倦無力，飲食減少，是氣血失守，加味麥冬湯主之；有來二三點，六七點，八九點而止者，名胎漏，經五六七次者，胎遲，安胎飲加炒黑蒲黃主之；桃紅色者，血熱、胃熱也，白朮湯主之；淡紅色者，同治；紫色者，熱也，二荊梔子湯主之；帶白者，氣虛夾白帶也，山藥地黃湯主之；如膿腐作塊者，胃中濕熱注於胞絡，平胃骨皮湯主之；如泥色者，亦是濕熱，二術茯苓湯主之；如黃水者，脾熱，不成血也，連翹白朮湯主之；成塊成片者，有氣逆，有迎風寒，有熱極也，生地苓湯主之；氣逆者，歸附湯主之；風寒，桂花湯主之。過期有三，有血寒，有氣逆，有血枯。血枯者，加味四物湯主之；氣逆者，黑附縮砂湯主之；血寒者，薑桂湯主之。不及期者有二，有血熱，有氣虛。氣虛者，人參地黃湯主之；血熱者，二荊湯主之。血崩者，或因怒氣、勞心所致，當分有餘不足。怒氣是有餘，醋附散主之；勞心是不足。《經》曰：陽在外為陰之守。陽不足之崩，獨參湯主之。一季及一生不行者，此稟氣之偏，不在治例。有病血胎者，儼然若孕，周身無恙，血聚胞中，而日益大，亦能運動，與胎無異，但無手足拳臂之撐，或周年不生，或二歲不育，遇觸動則崩潰莫御。有有孕而常自經行，孕而不長大，五六個月不能動，事必經止、血足，然後生育也。孕繫於血，不生育，為月經不調多矣。今人道理不明，遇不懷妊，輒稱胎寒，妄用熱藥，反致血枯精竭，以致喪生，豈明哲之為哉！亦有經不調而懷孕者，此男人腎氣有餘，堅久能射之故，不可以常論，調經者當審之而下藥也。</p>

<h2>方劑</h2>
<p>當歸芍藥湯　未行三日前先服，至行而止。</p>
<p>桃仁（一錢）　丹皮（五分）　當歸（二錢五分，酒炒）　川芎（一錢）　芍藥（一錢五分，酒炒）　香附（一錢）　烏藥（一錢）</p>
<p>清水一碗半，煎七分，食前服。</p>
<p>歸芎地黃湯　每行後服三四劑，服至遇行不痛止。</p>
<p>當歸（二錢，酒炒）　川芎（四分）　白朮（七分）　人參（五分）　熟地黃（一錢五分）　甘草（三分）　杜仲（一錢五分，薑汁炒）</p>
<p>煎法同前。</p>
<p>三黃湯　每服三四劑，行二日服，至止止。</p>
<p>當歸頭身（一錢）　茯苓（一錢）　荊芥炭（一錢）　生地（一錢，酒炒）　黃耆（一錢）　熟地（一錢五分）　人參（三分）　蒲黃（三分）　甘草（三分）　黃芩（一錢）　阿膠（二錢）</p>
<p>加味麥冬湯</p>
<p>茯苓　人參　麥冬（各一錢）　五味子（十粒）　當歸身（一錢五分）　熟地（一錢五分）　甘草（三分）</p>
<p>加味八物湯　每服五六劑，行三日服起。</p>
<p>白茯（一錢）　橘皮（五分）　當歸（一錢，酒洗）　川芎（五分）　白芍（一錢）　人參（一錢）　熟地（一錢五分）　黃耆（一錢）　白朮（一錢）　甘草（四分）</p>
<p>加味安胎飲</p>
<p>當歸頭身（一錢，酒炒）　白朮（一錢）　熟地（一錢，酒洗）　蘇梗（一錢，酒炒）　香附（一錢，酒炒黑）　茯苓（一錢）　甘草（二分）　陳皮（八分）　黃芩（一錢）　蒲黃（一錢，酒炒黑）</p>
<p>白朮茯苓湯　行每服三四劑。</p>
<p>當歸（一錢，酒洗）　白朮（一錢）　熟地（一錢，酒洗）　白芍（一錢，酒炒）　茯苓（一錢）　神麯（一錢）　炙甘草（三分）　川芎（四分）　砂仁（六分）</p>
<p>二荊梔子湯　每行二日服起，服三四劑。</p>
<p>梔子（一錢）　紅花（三分）　黃芩（二分）　生地（二錢）　芍藥（一錢五分）　甘草（五分）　蔓荊子（一錢）　茯苓（一錢）　荊芥（一錢）</p>
<p>黑色者加蒲黃一錢。</p>
<p>山藥地黃湯　服至愈。</p>
<p>熟地（一錢五分，酒蒸）　人參（一錢）　白朮（一錢）　茯苓（一錢）　甘草（三分）　山藥（一錢）　升麻（三分）　半夏（一錢）　當歸（一錢五分）　陳皮（五分）</p>
<p>平胃骨皮湯</p>
<p>蒼朮（一錢）　陳皮（一錢）　製厚朴（一錢，不去皮）　甘草（五分）　地骨皮（一錢）　茯苓（一錢）　黃芩（一錢五分）　生地（一錢）　芍藥（一錢）　連翹（一錢）</p>
<p>二術茯苓湯</p>
<p>蒼朮（米泔浸）　白朮　厚朴（各一錢）　芍藥（一錢）　甘草（四分）　木通　連翹　黃連（各五分）　茯苓　半夏　生地　黃芩（各一錢）</p>
<p>連翹白朮湯</p>
<p>連翹　生地　茯苓　芍藥　地骨皮　山藥（各一錢）　雅黃連（五分）　升麻（三分）</p>
<p>生地苓湯　行一日服起，服至愈。</p>
<p>香附　烏藥　桃仁　延胡索　五靈脂　川芎　陳皮　當歸（各一錢）　丹皮（四分）</p>
<p>歸附湯　行一日服起，至愈。</p>
<p>香附（二錢）　丹皮　桂枝　烏藥　元胡索　桃仁　紫蘇　陳皮　川芎　當歸（各一錢）</p>
<p>人參地黃湯　每服四五劑，行後服。</p>
<p>人參　二地　黃耆（各一錢）　甘草（三分）　黃芩（一錢五分）</p>
<p>加味四物湯　至期服起，服至行。</p>
<p>當歸（四錢）　茯苓（二錢）　川芎　熟地　香附　人參　陳皮（各一錢）　甘草（三錢）</p>
<p>薑桂湯　至期服起，服至行。</p>
<p>乾薑　當歸　香附（各三錢）　肉桂（去皮）　丹皮（各五分）　川芎　陳皮　元胡　桃仁（各一錢）</p>
<p>二荊湯　行後再服五六劑。</p>
<p>黃芩（一錢五分）　荊芥　蔓荊皮　黃耆　茯苓（各一錢）　生地（二錢）　甘草（四分）</p>
<p>醋附散</p>
<p>醋炒黑香附，為末。紫蘇湯調下三四錢。</p>
<p>獨參湯</p>
<p>人參，水煎，並食遠服。</p>

<h1>卷二</h1>

<h2>經候</h2>
<p>《格言》曰：男子稟陽精而成形，以氣為本，一八而乾陽生，二八而乾陽盛，腎氣充足，陽氣始溢，思以御女；女子稟陰精以成形，以血為基，一七而坤陰生，二七而坤陰盛，衝任血滿，經脈流通，月事時下，每以三十日而至，猶月得三十日晦朔一周，謂之經候。所以候氣血之盈虧也，趲前為不及，落後為太過，過與不及，皆病也。血之象，赤如雞冠，不瘀不雜，是為順候。或紫黑而成片，或青或黃，或淡紅如胚，皆病也。一月一至，無有愆期，乃為正候。若經將行及經後而腹痛者，皆病也；血盈則溢，猶月盈則虧，閏余為經，厥有常度，或多或少，或閉而不行，或行而不止，皆病也。揆厥所由，有陽虛陰盛，陰乘於陽，以生內寒而得之者；有飧寒飲冷，脾腎受傷，寒氣客於衝任而得之者；有澡身登廁，風冷乘虛襲於胞中者。斯三者，所因不同，並屬於寒。有陰虛陽盛，陽乘於陰，乃生內熱而得之者；有過食辛辣，脾胃受熱，膏粱之變，流於衝任而得之者；有外感風寒，身發壯熱，或陰虛火動，內蘊積熱，鬱而不散，入於血室而得之者之。斯三者，所受不同，並屬於熱。又有吐衄崩帶之過，勞心勞力之過，思想淫欲之過，縱情戀淫之過，以致陰血耗亡，衝任枯涸而得之者，皆血虛之所致也。又有氣體素厚，衝任血盛，或七情之氣動於中，氣與血鬱，不得流通，而經滯不行者，此則邪氣內實，氣鬱之所致也。巢氏曰：熱則流通，寒則凝滯，故因於寒者，經多行於月後，而其腹必痛；因於熱者，經多行於月前，而其腹不痛。寒之血，其色青；而熱之血，其色必紫黑而成片。虛之血，其來必少而色淡；實之血，其來必多而色濃。不問過期與不及，腹不痛者，皆屬於虛，若或腹痛，皆本於實，氣滯月澀，月不能行，腹乃作痛，實之象也。他如肥人經血色淡，此則屬於痰也，或有痰侵血海，經血過期不行，行則不多者，有痰，有虛，有實，當以脈症參之。然痰必目昏頭眩，寒則惡寒喜熱，虛則精神倦怠，熱則心煩不寐，欲得其情，辨諸此而已。是故熱則清之，如黃連、黃芩；陰虛火動而熱，如黃柏、知母、山梔之屬；寒則溫之，如乾薑、肉桂、茴香、吳茱萸之屬；虛則補之，如當歸、川芎、白芍、生地之類，又如人參、黃耆、熟地、白朮、茯苓之屬；實則疏之，如青皮、枳實、稜蓬、元胡、靈脂、蒲黃；氣逆則調之，以香附、木香、烏藥、枳殼、紫蘇、沉香；血滯則行之，以紅花、桃仁。以此處方，乃為調經之要機也。若其隨經取治，法當以養血調氣為主，如郭氏之增損四物湯，有歸、芎、地、芍以養血。香附、烏藥、陳皮以調氣；血虛而腹不痛，則用當歸、白芍、熟地；血實而腹必痛，則用赤芍、生地、歸尾，以此增損，蓋調經之神劑也。將行作痛，或未來先痛，或過期與不及作痛者，血實氣滯也，則如桃仁、紅花、烏藥、青皮、蓬朮；腹中硬痛，氣血攻心，如蒲黃、靈脂、沉香，甚者乳香、沒藥；風寒客於胞中，小腹急痛，則茴香、肉桂、川楝、青皮；噁心，嘔吐清涎，乾薑、木香、丁香可用也。月水將行或過期與不及期，色淡而腹不痛者，血虛，倍四物熟地，加人參、耆、術；或寒熱往來，加柴胡、黃芩；胸腹痛，加厚朴、大腹皮、枳殼；過期而行，腹有癖塊，加鱉甲、檳榔、蓬朮、青皮；腰跨痛，加杜仲、牛膝；臍腹絞痛，或時上衝，加茴香、青皮、川楝、牛膝；身體痛；加防風、白芷；骨節痛，加二活；肥人經來色淡，加半夏、茯苓；經後虛痛，加參、耆、白朮；經行點滴，淋瀝不已，腹不痛，加阿、艾；腹痛，加阿、艾、地榆、香附；經水來少，四肢倦怠，飲食減少，用六君子湯或補中益氣湯；嘔逆，加半、橘、薑汁；熱入血室，經脈妄行，譫語錯亂，如見鬼神，加麥冬、黃芩、黃柏、知母、生地；自汗厥冷，目眩，不思飲食，用大補湯，少加附子；月信該行不行，脈沉，繞臍冷痛者，寒也，加丹皮、乾薑、肉桂、元胡、牛膝、桃仁，或澤蘭可也。平時常常或三月四月一行，臍腹不痛，面色萎黃，飲食減少者，血枯也，用四物大補湯。若飲食如常，動作不衰，腹中不痛，面色不改，名間經。至有一年二年一行者，有終身不行者，陰候亦不為病，但不能生育耳。若經不行腹中有塊，時作疼痛，不治則為癥瘕，漸大如盤，此惡症也，血枯而三四月不行，法當大補其血，加知、柏、龜甲、枸杞、丹皮、麥冬，以防陰虛火動，為勞熱骨蒸，則難治矣。三四五月及經年不行，腹不痛，形色不變，理當大補其血，使衝任血實，反作腹痛，然後以行血之藥通之，更加調順氣血之劑，服之則經必循月而通矣，此治陰候之法也。若經久不行，腹中結塊，宜覘其形體而衰之，如桃仁、稜朮、元胡、肉桂之類，衰其大半，不可盡劑。然後用牡丹輕劑以漸摩化之也。</p>

<h2>方劑</h2>
<p>增損四物湯（又名養血順氣湯）</p>
<p>香附　烏藥　陳皮　當歸　川芎　白芍　熟地　棗　炙甘草</p>
<p>逍遙散　月水不調，寒熱往來，四肢困倦，目眩頭暈，煩熱嘔惡。</p>
<p>當歸　烏藥　熟地　川芎　人參　柴胡　黃芩　半夏　麥冬　甘草　姜</p>
<p>濟陰丹　將行腰腹胯痛，氣血積聚，癥瘕，口乾眩運。流通三焦，養血調經。</p>
<p>三稜　蓬朮　烏藥　香附　青皮　良薑　乾生薑　當歸　芍藥　川芎　白芷　石斛　肉桂　沉水香　木香　五靈脂　元胡　乳香　沒藥</p>
<p>為末蜜丸。</p>
<p>元胡索散　治心腹腰胯絞痛。</p>
<p>當歸　芍藥　蒲黃　五靈脂　肉桂　薑黃　沒藥　乳香　元胡　木香　乾薑　香附　桃仁　紅花　烏藥　沉香　甘草</p>
<p>如嘔逆，加半夏、橘紅、薑汁，去乳、沒、五靈脂。一方有枳殼、川芎、熟地。</p>
<p>五積散　治月經過期不行，寒熱往來，少腹痛。</p>
<p>當歸　川芎　蒼朮　厚朴　陳皮　甘草　砂仁　枳殼　桔梗　白芷　官桂　半夏　茯苓　姜　蔥</p>
<p>⿰黃令蓬散　治衝任血虛，月水不斷。</p>
<p>當歸　川芎　白芍　生地　人參　黃耆　陳皮　香附　地榆　艾葉　牡蠣　酒炒黃芩　伏龍肝　蓮殼炭</p>
<p>胞寒去芩。</p>
<p>溫經湯　月水該行不行，心腹刺痛，冷寒客於胞中。</p>
<p>當歸　白芍　川芎　熟地　白朮　丹皮　蓬朮　牛膝　人參　桃仁　烏藥　元胡　蒲黃　劉寄奴　香附　肉桂　甘草</p>
<p>生地黃湯　熱入血室，經水妄行，譫語神亂。</p>
<p>生地　人參　黃耆　赤苓　遠志　蒲黃　麥冬　花粉　川柏　黃連　當歸　川芎　蔓荊子　姜</p>
<p>澤蘭湯　風冷壅瘀，月經澀滯。</p>
<p>當歸　川芎　地黃　人參　香附　陳皮　白芷　白芍　桃仁　丹皮　牛膝　烏藥　木香　澤蘭　白薇　萆薢</p>
<p>參歸養榮湯　月水不調，發熱腹痛，頭昏目澀，自汗癖塊。</p>
<p>人參　當歸　川芎　赤芍　柴胡　鱉甲　丹皮　羚羊角　生地　防風　白朮　荊芥　枳殼　棗仁　甘草</p>
<p>烏金散　經來偏身痛痹，寒熱頭疼，目眩，此感風寒所致。</p>
<p>平胃散加歸、芍、芎、茯、半、羌、膝、桔、枳、芷、麻、桂、薑、蔥。</p>
<p>當歸芍藥湯　氣滯血實，臨行作痛。</p>
<p>當歸　川芎　白芍　烏藥　香附　元胡　桃仁　牡丹皮</p>
<p>加薑、棗。一方有澤瀉、白茯、白朮三味，加酒煎。</p>
<p>芎歸湯　經後作痛，氣血俱虛，腰胯痛。</p>
<p>當歸　川芎　白朮　熟地　人參　炙甘草　茯苓　杜仲　姜　棗</p>
<p>三黃湯　血實氣虛，五六日止。</p>
<p>生地　熟地　人參　黃耆　黃芩　蒲黃　歸身　甘草</p>
<p>麥門冬湯　經多，虛倦少力，腰胯痠軟，飲食減少。</p>
<p>人參　黃耆　當歸　二地　麥門冬　五味　黃芩　甘草　姜</p>
<p>當歸紅花湯　血虛經不利，腰胯痛。</p>
<p>歸身　芍藥　紅花　蘇木　紫葳花　劉寄奴　桂枝　白芷</p>
<p>加薑、棗。月水不止者，蛤粉炒阿膠，研末酒下。</p>
<p>四物芩術湯　經水過多，為虛熱，為氣虛不能攝血。</p>
<p>四物湯加黃芩、白朮，水煎服。又：經水過多，為熱，乃陰虛夾熱所致，當補陰清熱，用炒黃芩一兩，炒白芍一兩，炙鱉甲一兩，椿根皮七錢五分，黃柏炭三錢，為末，酒糊丸，空心白湯下五十丸。</p>
<p>四物葵花湯　治經水澀少。</p>
<p>四物湯（各一兩）　葵花（一兩）</p>
<p>一方加紅花、血見愁。經水少而血枯者，四物湯用熟地。</p>
<p>先期湯　經水先期而來，宜涼血固經。</p>
<p>生地　川芎（八分）　當歸（二錢）　白芍　黃柏　知母（一錢）　薑汁炒川連　阿膠（八分）　艾葉香附　甘草（二分）</p>
<p>水煎，食前溫服。一方有人參。</p>
<p>過期湯　經水過期不行，乃血虛氣滯，當補血行氣。</p>
<p>熟地　白芍　當歸　香附（各二錢）　川芎（一錢）　紅花（一分）　甘草（四分）　桃仁泥（六分）　蓬朮　木通（各一錢）　肉桂（四分）</p>
<p>食前服。</p>
<p>又方　補氣行血。</p>
<p>當歸（一錢五分）　川芎（五分）　熟地　白芍（各一錢）　桃仁（廿粒，去尖）　紅花（五分）　香附　蓬朮　蘇木（各一錢）　甘草　官桂（各五分）　木通（二分）</p>
<p>空心服。</p>
<p>四物芩連湯　經水黑如豆汁。</p>
<p>四物加黃芩、黃連一兩。為末，醋和丸。</p>
<p>溫經湯　《和劑》治婦人血海虛冷，月水不調。</p>
<p>川芎　當歸　白芍　蓬朮（各一錢五分）　人參　牛膝（各一錢）　丹皮　桂心　甘草（各一錢）</p>
<p>不時服。</p>
<p>滋血湯　血海虛冷，滋養榮血；心肺虛損，滋榮養血。</p>
<p>川芎　當歸　麥冬　人參　白芍（各一錢）　半夏曲　官桂　阿膠　棗仁　甘草（各五分）　琥珀（研，一錢）</p>
<p>一方有黃耆、白茯苓、山藥、熟地。</p>
<p>薑黃湯　血藏久冷，月水不調，臍腹刺痛。</p>
<p>薑黃　白芍（各二錢）　元胡索　丹皮　當歸（各一錢五分）　蓬朮　紅花　桂心　川芎（各一錢）</p>
<p>水酒各半煎，不時服。</p>
<p>秦艽丸</p>
<p>秦艽　桂心（不見火）　杜仲（薑汁炒）　厚朴（各三錢）　炮姜（酒浸）　牛膝　沙參　半夏（各五分）　生附子（去皮）　白茯苓（各一兩五錢）　人參（兩許）　細辛（一兩一錢）</p>
<p>為末，蜜丸，綠豆大。空心，米飲下五十丸。</p>
<p>芎蘇散　經事不準，寒熱頭疼，中脘不時疼痛。</p>
<p>川芎　蘇梗　桔梗　枳殼　柴胡　姜　半夏　茯苓　橘皮　甘草</p>
<p>治經候不調，腹中刺痛方</p>
<p>元胡索（醋炒）　當歸（酒炒，一兩）　橘皮（二兩）</p>
<p>為末，酒煮米醋，丸梧子大。每服丸，空心，艾醋湯下。</p>

<h2>經候不調</h2>
<p>《經》曰：飲食入胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行。故心脾受氣，則經候如常。苟或七情內擾，六淫外侵，飲食不節，起居失宜，脾胃虛損，則月經不調矣。若先期而至者，有因脾經血燥，有因脾經鬱滯，有因肝經之怒火，有因血分之有熱，有因勞役火動。如過期而至者，有因脾經血虛，有因肝經血虛，有因氣虛血弱，主治之法，俱列於後。脾經血燥者，加味逍遙散；脾經鬱滯者，歸脾湯；肝經怒火者，加味小柴胡湯；血分有熱者，加味四物湯；勞役火動者，補中益氣湯；脾經血虛者，人參養榮湯；肝經血少者，六味地黃湯，氣虛血弱者，八珍湯。蓋血生於脾土，故云脾統血。凡血病，當用苦甘之劑，以助其陽氣而生陰血，前症俱屬不足。肝脾血燥，四物為主；肝脾血弱，補中益氣為主；肝脾鬱滯，歸脾為主；肝經怒火，加味逍遙為主。</p>

<h2>經閉</h2>
<p>人得血氣以成形，充貫乎身以調百脈，男女同具於成胎之時，後天之物也。若其先天真一之精寓於氣，而不囿於氣，寓於血，而不囿於血。妙合之初，與形俱形，男為真陽，女為真陰，即所謂「乾道成男，坤道為女」是也。後天之氣滯於形，有是形，即有氣血立命安形，胥基於此。血氣之行，以一日言，晝行陽二十五度，夜行陰二十五度，一晝一夜而周大衍之數；以一生言，自有生之初，至五十歲而衍數一周也，周則血氣衰，衰則陽道閉，四十九而天癸絕，乃法天之行。女效地，地體坤，應於月，月行遲，故常不及。過不及者，是氣血虧盈之常候也。或趲前，或落後，或一月而兩至，或兩月而一行，皆病也。或去少，或去多，或色淡白，或紫黑成塊，或經年累月經事不至，或漏下，或點滴不絕，或暴崩不止，皆病也。是故有血虛，有血實，有血滯，有血寒，有血熱，是五者，經候之所病也。《機要》曰：虛者補之，實者平之，滯者散之，寒者溫之，熱者清之。故當歸、牛膝、枸杞、蓯蓉、龜甲之屬，血虛之所宜也；三稜、蓬朮、青皮、枳實、元胡、靈脂、蒲黃之屬，血實之所宜也；桃仁、紅花、蘇木、丹皮、牛膝，血滯之所宜也；乾薑、肉桂、茴香、當歸，血寒之所宜也；生地、芩、連、犀角、連翹、山梔，血熱之所宜也；乳香、沒藥、靈脂、凌霄花，血痛之所宜也。東垣云：經閉不行三熱結，三者何也？脾胃久虛，形體羸弱，氣血俱衰而致經水不行，或病中消胃熱，喜食不為肌膚，津液不生。夫經血者，津液所化，津液既絕，為熱所爍，形肉漸瘦，時見渴燥，血海枯竭，病曰血枯經閉，宜瀉胃之燥熱，補益氣血，經自行矣。此病或經適行而有子，子亦不安，為胎病者有矣，此中焦胃熱結也；或心胞脈洪數躁疾，時見大便閉塞，小溲雖清而不利，經水不行，此乃血海乾枯，宜調血脈，清胞絡中火邪，而經自行矣，此下焦包絡熱結也；或因勞心，心火上炎，月事不來者，胞脈閉也，胞脈者，屬於心而絡於胞中，今氣上迫於肺，心氣不得下通，故月事不來，宜安心補血瀉火，經自行矣，此上焦心肺熱結也。</p>
<p>夫婦人月經，氣血盈虧於是焉察之，病之有無於是焉候之，生息孕育於是焉系之。其通其閉，關於婦人為甚重。調養失宜，經候不能順時而下，經年累月，當行不行，病曰經閉。夫經何由而閉也？其病雖有血虛、血實、血寒、血熱、血滯、血脫之不同。推原其因，得之於血虛者，其症有五，蓋血生於脾，若飲食失節，脾胃受傷，使飲食減少，或嘔吐瀉利，或腹滿腸鳴，脾胃內虛，不能生血，而衝任虛空，此當用人參、白朮、茯苓、山藥以健其脾，當歸、川芎、白芍、熟地以補其血，佐以活血行經之劑，如香附、乾薑、陳皮、炙甘草、桃仁、紅花之類；腹滿加厚朴、腹皮；嘔吐加半夏、薑汁；泄瀉加白朮、升麻；水穀不化加砂仁、神麯、麥芽。如歸脾、六君子皆可選而用也。至如血陰而氣陽，陰生陽者也，若或飲食勞役，內傷元氣，以至自汗、盜汗，或腹痛泄瀉，耳鳴頭眩，唇乾口燥，形衰體倦，不思飲食，有此形症，氣虛之明驗也。氣虛則陽衰，陽衰則陰不足，而血日消。此當以補中益氣為主，如參、朮、茯、甘、升、柴、陳皮之屬，而佐之以當歸、芍藥、熟地以養其血。自汗、盜汗加黃耆；腹痛加厚朴；泄瀉加白朮、木香；頭眩暈加川芎；若或耳鳴有氣加龍膽草。他如六君子湯、八珍湯皆可選而用也。又有因病致虛，如瘧勞、房勞、失血勞、陰虛勞等症，日久不愈，真陰內虛。自汗、盜汗，飲食到口，只聞腥臊，食則作脹，食少體羸，不生津液，漸成骨蒸，蒸郁不止，陰血日消，衝任空虛，謂之血枯。咳嗽咯血，或痰中帶血，如歸、芎、熟地、白芍、人參、知、柏、門冬；退熱除蒸，如地骨皮、秦艽；潮熱加柴胡、黃芩；虛熱自汗加黃耆、白朮；五心煩熱加犀角、天冬；瘧勞加鱉甲；瘰癧加海藻、連翹、川貝；咳嗽加杏仁、五味、柴菀、款冬花；有痰加川貝、瓜蔞；咯血加阿膠、百合；房勞加杜仲、枸杞、巴戟、山藥、石斛、蓯蓉，如參歸養榮湯可用也，如此而血枯之症可起也。</p>
<p>又有諸火逼血妄行，以致嘔血、吐血、鼻血，亡血於上；腸風、痔漏，亡血於下，上下竭逆。月經不行者，血竭而衝任不貯也。吐血未除，宜治其上，滋陰降火，消瘀活血，如四物湯加枯芩、山梔、鬱金、茅花、童便、韭菜汁、京墨，以治吐衄之法行之；腸風失血未除，則用滋陰清熱，如四物湯加地榆、槐花、荊芥、秦艽、蒼朮。不行則惟滋陰養榮，而清熱降火非其所急，如四物湯加枸杞、參、耆、朮、茯、炙甘草之類，少加煨姜，以溫其中，且能引血歸於衝任。若山梔、黃芩皆宜撤去，蓋血得寒則凝，火熱內甚，資以降火清熱則可，火熱既平而用梔、芩，則胃氣傷而寒病作矣。潮熱加柴胡，蒸熱加骨皮、秦艽、鱉甲，煩熱加麥、味、知母，如此而亡血致虛者可愈也。</p>
<p>又有積想在心，或深思極慮，勞心過度，損傷心經，心經受傷則心血不足而靈源之舍空，是血虛於其上也；心經傷則脾血因而不行，致津液枯，津液枯則衝任之舍空，是血虛於其下也。上下竭逆，經閉不行，實由於此，法當以參歸養榮湯，如當歸、茯苓、人參、熟地、柏子仁、炙甘草、棗仁、芍藥、川芎以補心血之虛，如石菖蒲、遠志以調心經之氣，以行靈源之血，用枸杞引參、歸以入衝任之舍，如此而勞心血傷者，可復矣。此斯五者，皆不足之症也。經雖不通，症涉於虛，法當補益，補益日久，衝任自實，不必用通經破血之劑，如桃仁、紅花、牛膝、丹皮、蒲黃之屬而經自通。醫不達此，一見經閉，概投通經。如至，有用乾漆、斑蝥、水蛭以重其虛，經雖得通，是竭其巢也，可不慎諸？</p>
<p>至於因而得之者，《經》曰：天寒地凍，凝結成冰。此可以喻得寒而凝之理，是故有陽虛陰盛，陰乘於陽，以生內寒。而血凝者，有經來登廁，風冷入於胞中，血寒而凝者；有飲食不節，內傷生冷，寒氣客於脾胃，凝於衝任而血滯者。是其寒與血搏，則繞臍腹痛，或惡寒喜熱，或嘔吐清涎，面青肌冷，大便溏泄，或小便清白，心不煩，口不渴，寒之象也，法當以溫經散寒為主，而佐之以開滯行血之劑，如風則用防風、白芷；寒則用乾薑、桂心，加桃仁、紅花、元胡、牛膝、紫葳花、劉寄奴、丹皮、赤芍；如少腹痛，加香附、茴香，如痛甚，加乳香、沒藥；若癥瘕癖塊，加蓬朮、牛膝，甚而乾漆、三稜、檳榔可用也；惡寒發熱，頭痛，加羌活、白芷、防風，如小溫經湯可用也。至於血燥而得之者，《經》曰：天暑地暖，經血沸騰。此以喻血得熱則燥之意也。是故有陰虛而陽盛，陽乘於陰，以生內熱。而血燥者，有如食辛辣，伏鍊金石，以動腎火；悲哀驚恐，以動肺火；思謀過憂，以動心火；勞碌動苦，以動脾火；惱怒忿鬱，以動肝火；思想淫欲，以動腎火。五火相煽，燔爍津液，潤氣不行，以致陰血燥結，不得流通，而月不下者。心煩口渴，面赤肌熱，口舌生瘡，胸腹脹滿，小便赤澀，大便秘結，知燥熱結也。《機要》曰：熱者清之，如芩、連、山梔、石膏、柴胡、龍膽草，及一切苦寒之劑，以瀉諸火，是瀉火之標而不能息火之源。潤氣不行，而燥不解，法當用當歸、芍藥、生地，以益其血，滋陰所以抑陽也；用黃柏、知母，以滋其水，補水所以降火也；用麥冬、桃仁，以潤其燥；用紅花、牛膝，以行其血。蓋潤氣行則燥自開，陰氣行則血自通，是為「壯水之主，以制陽光」之。如此而經猶不通，少佐以元胡、寄奴、紫葳花之屬，以泄其閉可也。乃若氣鬱而血滯，如肝氣鬱而憤怒、心氣鬱而積想、脾氣鬱於憂思、肺氣鬱於悲哀、腎氣鬱於恐懼。鬱而不散，聚於胞中，與血相搏，氣滯血澀，不得宣行。而經為之閉者，血滯於氣也，理宜以順氣開鬱為主，如香附、撫芎、烏藥、蓬朮、青皮為主，而佐之以桃仁、紅花、牛膝、元胡、紫葳花，少加蔻仁、沉香、檳榔，以通順乎三焦。若胸膈痞悶，枳殼、桔梗；心下痞加枳實、川連；腹脹加厚朴；嘔加丁香；小腹痛加茴香；脅痛加柴胡；如此則氣血流通，鬱結自散矣。他如氣血實為病，或有跌僕損傷，或為經行受冷，或為吐衄，失血不盡，餐寒飲冷，以致經血壅於經絡，積於胞門，結為癥瘕，為癖塊，為腸覃，諸血潮聚，漸以益大如盆、如杯。《經》云：邪氣盛則實，正氣奪則虛。諸症痃癖，邪氣實也。實者，奪之、散之，當用桃仁、紅花、牛膝、蓬朮、肉桂、乾薑，以溫散其血；用元胡索、五靈脂，以安其痛；用瓦楞子、樸消，以軟其堅；用香附、烏藥以調其氣。若氣血虛，又用當歸、人參以養其血氣，則氣行血散而癥瘕可消，並不用速攻之品，如干漆、青娘子、斑蝥、水蛭、虻蟲一切耗氣耗血之藥，類聚以求速效，使瘀積與經俱下，則暈厥之患至矣！前用之藥消其大半，則加四物，並活血之劑，以安養之使，其潛消默奪，安養之久，則衝任滿而經自行矣。乃若肥人脂滿多痰，而痰或潛住血海，亦主經閉，法當用導痰湯加黃連、川芎，不可用生地，恐其性膩膈，若用必以生薑炒過為妙。此以上四者，皆有餘之症也，症屬於有餘，補益非宜，法當攻散，因症處治。寒則溫之，氣則開之，燥則潤之，實者通之，其要機也。醫不達此，只守於攻擊，如蘇木、蓬朮、乾漆、蒲黃、桃仁、紅花一切耗血之藥，而不知寒溫、潤燥、開滯、奪實之法，又幾何而不殺人也哉！</p>

<h2>方劑</h2>
<p>八珍健脾飲　治脾虛不生血，血虛經閉。</p>
<p>八珍湯加山藥、紅花、香附、乾薑、陳皮、薑、棗。如腹痛加厚朴，嘔加半夏、薑汁，泄瀉倍朮、加升麻，穀不化加麥曲、砂仁。</p>
<p>補中益氣湯　治氣血虛，不能領血，血虛經閉。</p>
<p>四君子湯加升麻、柴胡、陳皮、當歸、白芍、熟地；如自汗盜汗加黃耆，腹痛滿加厚朴，利加木香，眩暈加川芎，耳聾加龍膽草。</p>
<p>滋陰除熱湯　治因病致虛，虛勞骨蒸經閉。</p>
<p>四物湯加人參、麥冬、知母、黃柏、秦艽、甘草、地骨皮、橘紅、銀柴胡。如潮熱加柴胡、黃芩；虛加黃耆；自汗加耆、術；五心煩熱加天冬、麥冬、犀角；瘧勞加鱉甲；瘰癧加海藻、連翹，去甘草；咳嗽加杏仁、五味、紫菀、桔梗、款冬花；有痰加貝母、薑汁；咯血加阿膠、百合；房勞加杜仲、枸杞、巴戟、山藥、蓯蓉、石斛。</p>
<p>滋陰降火湯　治衄血，血虛經閉。</p>
<p>四物湯加黃芩、山梔、鬱金、茅花、大薊、童便、韭汁、京墨。如潮熱加柴胡，蒸熱加骨皮、秦艽，煩熱加麥冬、五味、知、柏。</p>
<p>滋陰清熱湯　治腸風失血，血虛經閉。</p>
<p>四物湯加地榆、槐角、荊芥、條芩、秦艽、蒼朮。用水煎送人中白（三錢）。</p>
<p>滋陰養榮湯　治吐血失血，虛勞經閉。</p>
<p>四物湯加枸杞、人參、白朮、黃耆、茯苓、乾薑、甘草、薑、棗。</p>
<p>參歸養榮湯　勞心傷血，血虛經閉。</p>
<p>四物湯加人參、茯苓、遠志、棗仁、石菖蒲、枸杞、柏子仁、甘草。</p>
<p>溫經湯　風寒客於胞中，衝任內血凝經閉。</p>
<p>歸尾　赤芍　防風　白芷　姜　桂　桃仁　紅花　牛膝　元胡　紫葳花　劉寄奴　丹皮　香附</p>
<p>如小腹痛加茴香，癥瘕加三稜、蓬朮、檳榔，發熱惡寒頭痛加羌活。</p>
<p>抑陽潤血湯　補陰降火，清熱潤燥，血燥經閉。</p>
<p>歸身　生地　芍藥　黃柏　知母　麥冬　桃仁　紅花　牛膝　甘草</p>
<p>烏藥順氣丸　氣血滯澀，經閉不通。</p>
<p>香附　烏藥　川芎　青皮　蓬朮　紅花　牛膝　元胡索　沉香　檳榔　紫葳花　白豆蔻</p>
<p>如胸膈痛加枳殼、桔梗，腹痛加厚朴，嘔吐加丁香，小腹痛加茴香，脅痛加柴胡。</p>
<p>桃花散　血實經閉，癥瘕腸覃。</p>
<p>歸尾　桃仁　烏藥　香附　朴硝　瓦楞子　五靈脂　紅花　牛膝　肉桂　蓬朮　元胡　體虛加人參。</p>
<p>神仙聚寶丹　室女百病並難產，一切血暈，敗血攻心，口噤舌強及惡露不盡，入童便服。</p>
<p>乳香（另研）　沒藥（一兩）　當歸（一兩）　麝香（另研，一錢）　琥珀（二錢）　辰砂（一錢）　木香（一兩）　沉香（五錢）　川芎（五錢）</p>
<p>為末，酒水和丸，每一兩作十五丸，酒或童便下。</p>
<p>萬靈丹</p>
<p>歸身　芍藥　甘草　白芷　牛膝　肉桂　香附　蘇方木　劉寄奴　紫葳花</p>
<p>當歸通經丸　治癥瘕經閉，腹痛，寒熱如瘧。</p>
<p>大黃　當歸　乾薑　牛膝　甘草　桂心　青皮　川椒　蓬朮　川烏　桃仁</p>
<p>大黃膏為丸，每日醋湯下。</p>
<p>小溫經湯　感冒風寒發熱，頭痛腹脹，惡寒經閉。</p>
<p>四物湯加桂心、茴香、砂仁、白芷、香附、羌活、柴胡。</p>
<p>柴胡四物湯</p>
<p>四物湯加人參、柴胡、半夏、黃芩、甘草。泄瀉去芩，加白朮、苓。</p>
<p>立效獨聖散</p>
<p>馬鞭草汁醮膏，或四物杏仁丸，紅花當歸湯下。</p>
<p>集驗通經散　經事不通，寒熱頭痛，水酒同煎，逐敗血通經。</p>
<p>牛膝　當歸　紫葳花　蘇方木　劉寄奴　急性子　紅花　肉桂　白芷　赤芍　甘草</p>
<p>通經丸　室女、婦人經候不通，臍腹疼痛，或成血瘕。</p>
<p>炒川椒　炒川烏　蓬朮　青皮　桂心　當歸　炒桃仁　大黃</p>
<p>為末，醋丸桐子大，每服五丸，淡醋或酒下。</p>
<p>加味五積散　經脈不行，似有胎孕脹堅，脹滿二三月者。</p>
<p>五積原方加歸尾一錢，桃仁十粒。經不行加蓬朮、香附；經不行而發出紅疹塊者，加木香、瓜蔞根、牛膝、乾薑，水酒姜煎。</p>
<p>二陳四物湯　經色淡紅而又多者，痰也。</p>
<p>即本方加生薑煎服。</p>
<p>月水不通</p>
<p>牛蒡子根（二斤）</p>
<p>銼蒸三遍，絹袋盛，酒二斗浸五日，食前服一盞。</p>
<p>丹參散　經脈不調，或前多少，產前不安，產後惡習血不下，兼冷熱，腰脊骨節痛。</p>
<p>丹參</p>
<p>切曬為末，酒下二錢。</p>
<p>萬應丸　女人經閉，繞臍寒痛，及產後血氣不調等症。</p>
<p>乾漆（一兩，炒煙盡）　牛膝末（一兩）</p>
<p>以生地汁一升，銀石器中慢火熬至可丸，丸如桐子大，每服一丸至二三丸，酒飲任下，以通為度。</p>
<p>產寶方　治月經不利，氣上攻，欲嘔不得睡。</p>
<p>乾漆（炒煙盡，三錢）　當歸（四錢）</p>
<p>為末，蜜丸桐子大，每服十五丸，溫酒空心下。</p>
<p>千金方　治月經不通，臍下痛堅如盤，時發熱往來，下利羸瘦，此為血瘕。若生內瘕，不可治也。</p>
<p>乾漆（一斤，燒研）　生地（二十斤，取汁）</p>
<p>和煎至可丸，丸如桐子大，每服十五丸，濕酒空心下。</p>
<p>保產仙方</p>
<p>當歸（酒浸，一錢五分）　川芎（一錢三分）　荊芥穗（八分）　蘄艾（七分，去泥）　羌活（五分）　枳殼（六分，去皮）　白芍（一錢六分，炒）　厚朴（七分，薑汁炒）　菟絲子（一錢四分）　黃耆（八分）　酒炒甘草（五分）　姜（三片）</p>

<h1>卷三</h1>

<h2>調經十五論</h2>
<p>第一論：凡婦人、女子血氣不和，飲食少進，肚腹臌脹，噁心嘔吐，用調經和氣飲。用：</p>
<p>厚朴　香附（五錢）　白朮　枳殼　黃芩（四錢）　陳皮　藿香　草果　甘草　元胡索（三錢）　小茴香　砂仁（二錢）</p>
<p>上為細末，和勻，每日空心米湯下一匙，或酒下亦可。一方無白朮。</p>
<p>第二論：凡室女十五六歲，經脈不通，日夜寒熱，手足麻痹，飲食少進，頭痛惡心，腹中忽結塊沖痛，此乃經行誤食生冷所致。用四物調經湯：</p>
<p>厚朴（五錢）　當歸　川芎（三錢）　白芍　熟地　柴胡　白朮　陳皮　蓬朮　白芷　黃芩　小茴香（二錢）　青皮　砂仁（一錢五分）　炙甘草（一錢六分）</p>
<p>銼，作四劑，加姜三片，蔥二莖，紅花三分，肉桂一錢，同煎七分，空心熱服。泄瀉加肉豆蔻、粟殼二味；遍身疼痛，加羌獨活三錢；腹痛加元胡索、乾漆三錢；咳嗽加半夏、杏仁、五味子（二錢）；瘧疾加常山、草果（二錢）。一方無黃芩，有官桂。按：此二味蓋以寒熱為出入。</p>
<p>第三論：凡室女十七、十八歲，經閉不通，或阻半年，或至百日，顏色青黃，飲食少進，寒熱往來，四肢困倦，頭疼目眩，肚腹疼痛，噁心煩熱，嘔吐膨脹，此乃脾胃氣血虛損，誤傷生冷，急宜補氣血，扶脾胃，調經水。先服逍遙散，用：</p>
<p>當歸　柴胡　芍藥（四錢）　黃芩　川芎　熟地（三錢）　半夏（二錢五分）　麥冬（二錢）　甘草（一錢五分）</p>
<p>作四貼，加生薑三片，煎七分，空心服。嘔吐加砂仁、白朮、香附二錢；咳嗽氣急加五味子、紫蘇、桔梗二錢。</p>
<p>次用八珍湯：</p>
<p>當歸　白芍　香附（五錢）　白朮　川芎（四分）　熟地（三錢）　小茴香　人參　白茯苓（三錢）　柴胡（二錢）　甘草（一錢）　生薑（三片）</p>
<p>銼，作六貼，煎七分，空心服。腹痛加乾漆、枳殼、延胡二錢，嘔吐，噁心加良薑、砂仁二錢；手足麻痹，惡寒加肉桂一錢五分；咳嗽加五味子、桔梗、紫蘇、杏仁。</p>
<p>後服調經丸。女子十九歲，經水不通，寒熱往來，想夫念重，及誤食生冷，依訣服此方：</p>
<p>用香附（二兩）　白朮（一兩八錢）　川芎　枳殼　小茴香　熟地（一兩五錢）　當歸（二兩）　陳皮　白芷　延胡索　三稜　牛膝（一兩）　粉草（五錢）</p>
<p>為末，醋調，粳米糊丸，如桐子大，每早空心米湯下九十丸。</p>
<p>第四論：凡婦人十九、二十歲，出嫁後，但遇經脈動則渾身疼痛，手足麻痹，或生寒熱，頭疼目眩，此因房事感觸，經頭或別失調，宜服烏金散，以和血氣。</p>
<p>白芍　桂枝（一方用肉桂）　麻黃（一錢三分）　川芎（三錢）　陳皮　白芷　茯苓　厚朴　羌活（一錢五分）　當歸　枳殼　半夏（一錢三分）　甘草（八分，生）　桔梗　蒼朮（三錢）</p>
<p>銼，作三貼，加姜三片，蔥三莖，煎八分，空心服。泄瀉去厚朴、枳殼，加去油肉豆蔻、粟殼二錢；咳嗽加杏仁八分。</p>
<p>第五論：凡婦人二十一二歲，經水不調，赤白帶下，或如煤汁，或成片。此症血氣虛弱，往來寒熱，咳嗽，飲食少進，四肢倦怠，日久為骨蒸勞瘵，急服調經和氣飲，虛弱可用八珍湯，次服溫經湯。方用：</p>
<p>沉香　白芍　當歸　香附　人參　鹿茸（鹽水浸，炒）　川芎　熟地　白朮　茱萸　茯苓　橘紅　延胡（各三錢）　小茴香（二錢）　甘草（一錢）</p>
<p>分作六貼，加姜三片，煎七分，空心熱服。汗出不止，加麥仁、黃耆二錢；咳嗽加杏仁、五味子、半夏、桔梗三錢；潮熱加柴胡、紫蘇三錢。</p>
<p>第六論：凡婦人二十三四歲，心腹脹滿，氣輳上胸，不思飲食，腹中有塊如覆杯，此月經後潮熱，誤食生冷過多所致。此症用加味四物六君子湯：</p>
<p>陳皮（去白）　半夏　白茯　枳實　川芎　赤芍　蘇葉　檳榔　當歸　香附　白朮　桔梗　厚朴（四錢）　砂仁　紅花　黃連（三錢）　前胡　甘草（一錢五分）</p>
<p>銼，作八貼，加姜三片，煎七分，空心熱服。口乾潮熱，加竹瀝半盅、薑汁少許同服；咳嗽加杏仁、五味子三錢。一本用豁痰清肺湯，即前方以柴胡換前胡。</p>
<p>第七論：凡婦人二十五六歲，血海虛冷，經閉不調，或下白帶如魚腦，如米泔，或時腹痛，不分信期，每來淋瀝不止，面色羸黃，四肢無力，頭暈目眩，此症血氣俱虛，用四物補經湯：</p>
<p>當歸　芍藥　香附（五錢）　川芎　熟地　黃耆　白朮　白茯　黃芩　陳皮　延胡（三錢）　小茴香　人參　阿膠　沉香　山茱萸（二錢）　砂仁（一錢五分）　甘草（一錢）</p>
<p>秘授烏雞丸方：</p>
<p>海金砂（四兩）　白朮　白芍（二兩五錢）　熟地　香附（三兩）　厚朴　人參　川芎（一兩）　粉甘草　殭蠶　防風（一兩五錢）　側柏葉（四兩）　砂仁（一兩）</p>
<p>上銼，炮製，和合一處，將烏骨雞一隻，不拘斤兩，竹刀殺死，去毛雜並頭足翅，俱不用。將藥入雞肚內，用磁罐將雞藥用好酒五碗盛貯，文武火煮乾，取出去骨，只用肉並藥，曬乾為末。再以粳米酒糊為丸，如桐子大，每日空心米湯送下八九十丸，好酒亦可。</p>
<p>第八論：凡婦人二十七八歲，身體一晌虛憊，經水不調，淋瀝不止，或成片，或似黑水，面色青黃，頭暈眼花，四肢困倦，亟宜調理，不然即成血崩等症，宜服止經湯：</p>
<p>酒炒當歸（五錢）　酒焙白芍　熟地　川芎　醋焙香附（四錢）　側柏葉（鹽水炒）　阿膠（蛤粉炒）　酒炒黃芩　炒黑蒲黃　土炒白朮（三錢）　砂仁　甘草（一錢）</p>
<p>銼，作四貼，水煎，加醋少許，空心服。咳嗽加五味、杏仁三錢；腹痛加枳殼、延胡索、乾漆三錢；泄瀉加肉豆蔻、粟殼三錢；氣急加半夏、蘇子。</p>
<p>第九論：凡婦人三十二三歲，連年生育，敗血過虛，以致經水不勻，或阻四十日，或兩月一度，不時腹中疼痛，敗血結塊，飲食少進，四肢困倦，頭暈目眩，潮熱往來，噁心煩燥，此乃血虛胃弱，急當調治，免患內傷，恐成瘵疾。可服紅花當歸散七八貼。</p>
<p>當歸（六錢）　香附　川芎　赤芍　熟地　柴胡　陳皮（三錢）　枳殼　三稜　牛膝　厚朴　黃芩　小茴香　白朮　紅花　延胡（二錢）　甘草（一錢五分）</p>
<p>銼，作四貼，空心服。後服加味八珍湯八貼。</p>
<p>第十論：凡婦人三十四五歲，氣血脾胃俱虛，或因當風坐臥，腠理空虛，外邪乘虛而入，遍身麻癢，不能轉側，肺經受氣，咳嗽痰盛，宜服五積交加湯：</p>
<p>羌活（五錢）　當歸　獨活　川芎　白芷　厚朴　蒼朮　防風　陳皮　枳殼　麻黃（四錢）　白茯　桔梗（二錢）　桂枝　甘草（一錢五分）</p>
<p>銼，作五貼，加蔥白五莖，不拘時服，兼用八物湯，每服飲酒三五盅即痊，不能行動，去麻黃，加殭蠶，或加烏藥，空心服。</p>
<p>第十一論：凡婦人三十六七歲，經行太過，此因氣虛甚，胃氣不足，故血妄行，宜補氣血養脾胃，年老方無崩患，可服八珍湯：</p>
<p>當歸　白朮（四錢）　白茯　川芎　熟地　白芍（三錢）　香附　甘草（二錢）　人參（三錢五分）</p>
<p>銼，作四貼，加姜三片，空心溫服，兼用烏骨雞丸調理。</p>
<p>第十二論：凡婦人三十八九歲，經脈斷絕太早，腹中余血未散，不時攻痛，治當散血和氣為主，用蓬朮散：</p>
<p>當歸　赤芍　川芎　熟地　蓬朮　白朮　枳殼　黃芩　青皮　延胡（一兩五錢）　三稜　砂仁　甘草　香附（五錢）　乾漆炭（一兩）</p>
<p>每為末，每日空心好酒下三錢，米湯亦可。一本有紅花、小茴香二味。</p>
<p>第十三論：凡婦人四十二三歲，經緒斷絕，五十外復至，其經水不期，常常淋瀝不止，或成片，或漏下，乃陰陽相反，氣血妄行，此症最難治，十中僅療一二，宜用和經湯：</p>
<p>白芍（一兩三錢）　當歸　熟地　茯神　黃芩　香附　白朮（一兩一錢）　川芎　炒蒲黃　棗仁　白芷（九錢）　阿膠　陳皮（八錢）　小茴香　炙草（一錢）</p>
<p>每服一兩，兼用四物補經湯、烏雞丸相兼服之，四制香附丸亦可。</p>
<p>治凡婦女四十歲以上，經水一月兩至者，多成淋病，宜服六味地黃丸：</p>
<p>熟地（君）　山藥　茯苓（臣）　丹皮　山茱萸（佐）　澤瀉（使）</p>
<p>為末，蜜丸，空心下四物湯加黃連、香附，如氣虛者，當服補中益氣湯。</p>
<p>第十四論：凡婦人經候不調，諸般疾病悉皆治之，四制香附丸：香附一斤，四兩薑汁、鹽水制，四兩醋製，四兩山梔汁制，四兩童便制。為末，醋和丸如桐子大，每服醋湯下六七十丸，鹽湯亦可。上方內必加入當歸、白芍、川芎、地黃，或兼益母草。調經加澤蘭、延胡；胎前加黃芩。</p>
<p>第十五論：凡婦人月經久閉，血從口鼻出者，先以墨水一小杯服之，立止。後用當歸紅花飲：</p>
<p>歸尾　紅花（三錢）　空心服，其經立通。</p>

<h2>逐月養胎法</h2>
<p>巢氏論：婦人妊娠一月，名胚胎，足厥陰脈養之；二月名始膏，足少陽脈養之；三月名始胎，手少陰脈養之；四月始受水精，以行血脈，手少陽脈養之；五月始受火，以成其氣，足太陰脈養之；六月始受金精，以成其筋，足陽明脈之；七月始受木精，以成其骨，手太陰脈養之；八月始受土（精），以成膚革，手陽明脈養之；九月始受石精，以成毛髮，足少陰脈養之；十月臟腑、關節、人神俱備，足太陽脈養之。</p>
<p>婦人墮胎在三月、五月、七月者多，在二月、四月、六月者少，以三月屬心，五月屬脾，七月屬肺，臟陰易虧，故多墮耳。如先曾三月墮胎，則心脈受傷，先須調心，不然至期復墮。五、七月仿此。惟一月屬厥陰養之胎，多怒亦墮，多欲亦墮，洗下體則竅開，而墮之且不覺。今人無子者，往往由此，非盡不受孕也。初月胎形如草上露珠，在裩戶之中未入腹內，婦人常時頭暈嘔惡，不思飲食，六脈浮緊，宜用安胎和氣飲；若稟氣素薄，及病後受胎，宜用罩胎飲。</p>
<p>三十八號安胎和氣飲</p>
<p>香附　枳殼　厚朴　砂仁　陳皮　蒼朮　蘇葉　甘草　黃芩　桔梗　藿香（各一錢）</p>
<p>一本有小茴香一錢二分。鄭氏傳方有草果、延胡，名調經和氣飲，忌蔥、椒、鮮物。</p>
<p>三十九號罩胎散</p>
<p>枳殼（四錢）　當歸（三錢）　白芍（三錢）　砂仁（一錢）　川芎（二錢）　甘草（五分）</p>
<p>二月胎形如桃花之蕊，受血近陰，在母北極之中。北極者，牝戶深六寸處。其胎入腹，未有衣裹，多有婦人負重勞碌，致傷胎氣。虛弱之人，必致頭眩目暈，噁心嘔吐，不思飲食，宜用前安胎和氣飲。艾葉湯亦可服。</p>
<p>艾葉湯</p>
<p>艾葉　丹參　當歸　麻黃（各二兩）　人參　阿膠（各三兩）　甘草（一兩）　生薑（六兩）　大棗（十二枚）</p>
<p>上㕮咀，以酒三升，水一斗，煮減半，去渣，納膠，煎取三升，分三服。無風寒者去麻黃，以蘇梗代之。</p>
<p>黃連湯　曾傷二月胎者，當預服之。</p>
<p>黃連　人參　吳茱萸　生地　生薑　當歸　阿膠　烏梅（一個）</p>
<p>三月始胎，當此之時，未有定儀，見物而化，欲生男者，操弓矢；欲生女者，弄珠寶；欲子賢良，清虛端坐，數視圭璧。安胎和氣飲、罩胎飲俱可服。</p>
<p>茯神湯　若曾傷三月胎者，當預服此。</p>
<p>茯神　丹參　龍骨（各二兩）　人參　當歸　甘草（各一兩）　阿膠（一兩一錢）　大棗（廿個）　赤小豆（廿粒）</p>
<p>腰痛加桑寄生。一方有薤白。上㕮咀，以酢漿水一斗，煮取三升，分四服，先日服，七日後復服一劑。</p>
<p>四月胎元入羅宮之室，漸系丹田，忌食毒物以損胎元，若孕婦身體困倦，氣急身熱，飲食無味，貪睡頭暈，四肢痠軟，活胎和氣飲。</p>
<p>四十四號活胎和氣飲</p>
<p>枳殼　厚朴　香附　砂仁　陳皮　蒼朮　蘇葉（各一錢）　甘草（五分）　小茴（四分）</p>
<p>不拘時服。</p>
<p>調中湯　若曾傷四月胎者，當預服此。</p>
<p>白朮　枳實　李根白皮　厚朴　柴胡（各三兩）　白芍　生薑（各四兩）　當歸（一兩五錢）　川芎　續斷　甘草（一兩）　烏梅（一升）</p>
<p>上㕮咀，以水一斗，煮取三升，分四服，日三夜一，八日後復服一劑。</p>
<p>五月胎形男女已分，令婦人前行，人從後喚之，右顧是女，左顧是男。又左乳先結核是男，右乳先結核是女；男思食酸，女思食淡。斯時，胎入宮室之內主，腹重貪眠，飲食少味，肚腹脹悶，宜四十五號瘦胎飲。</p>
<p>益母草（三錢）　當歸　白芍　枳殼　砂仁　香附　益智仁（各一錢）　甘草（五分）　蔥管（三莖）</p>
<p>不拘時服。</p>
<p>安中湯　若曾傷五月胎者，當預服此。</p>
<p>黃芩　當歸　川芎　地黃　人參（各二兩）　甘草　芍藥（三兩）　麥冬　五味子　大麻仁（各五合）　生薑（六兩）　大棗（廿五枚）</p>
<p>㕮咀，以水七升，清酒五升，煮取三升半，分四服，日三夜一，七日後復服一劑。</p>
<p>六月胎成在腹，男先左動，女先右動，胎母氣弱，怕勞怯言，用前瘦胎飲。</p>
<p>柴胡湯　若曾傷六月胎者，當預服此。</p>
<p>柴胡（四兩）　乾地黃（五兩）　白朮（二兩）　芍藥（二兩）　川芎（二兩）　麥門冬（二兩）　甘草（二兩）　蓯蓉（一兩）　生薑（六兩）　大棗（卅枚）</p>
<p>一方有黃芩二兩。上以水一斗，煮取三升，分四服，日三夜一。勿食生冷，堅硬之物，七日後更服一劑。</p>
<p>七月胎形男女已全，男生向母，動則以背攻外，中堅似板，四傍不動者是；女生向外，背母而成，動則以手足膝臂支撐，故四處拉動，比男動為重也。此時孕母腹重，艱於步履，可服知母轉胎飲。此月中即產，亦自成人，不害其為月未足。</p>
<p>四十八號知母轉胎飲</p>
<p>益母　枳殼　黃芩　香附　知母　滑石　蘇葉（各一錢）　甘草（五分）</p>
<p>不時服此方，調理胎前七個月，脾胃虛弱，氣急上衝，胞中脹滿，咳嗽不時，又兼吃熱物，忽然暈倒，此係子懸，非中風眩暈也。</p>
<p>杏仁湯　曾傷七月胎者，當預服此。</p>
<p>杏仁　甘草（二兩）　紫菀　石鐘乳　乾薑（一兩）　麥冬　吳茱萸（一升）　五味子（三合）　粳米（五合）</p>
<p>上㕮咀，以水八升，煮二升半，分四服，日三夜一，中間進食，七日服一劑。</p>
<p>八月兒在胞中，毛竅俱全，令母心悶躁煩，食美少味，困弱氣怯，宜用和氣平胃飲。</p>
<p>五十號和氣平胃飲</p>
<p>厚朴　陳皮　蒼朮　白芍　豬苓　澤瀉　升麻　肉豆蔻　地榆　柴胡　甘草</p>
<p>上調理胎前六七八九月，因脾胃虛弱，胎氣傷而不和，濕熱攻五臟，致成痢疾，此方安胎和氣平胃。</p>
<p>葵子湯　曾傷八月胎者，當預服此。</p>
<p>葵子（二升）　芍藥（四兩）　白朮　柴胡（三兩）　厚朴　甘草（二兩）　生薑（六兩）　紅大棗（二十枚）</p>
<p>上㕮咀，以水九升，煮取三升，分三服，日三，凡十日一劑。</p>
<p>九月七精百節俱備，在母腹中支撐右左脅，眼有光，鼻有氣，耳有聞，口知味，穀道俱全，方能轉身。大動令母卒然肚痛，先行其水，嬰兒不降，為因嗜食辛熱所傷故也，宜用保生如聖散。</p>
<p>五十二號保生如聖散</p>
<p>益母草　砂仁（二錢）　枳殼　當歸　益智仁　白芍（一錢）　甘草（三分）</p>
<p>用活鯉魚一個，約三四兩，不去鱗，破開去腸，不落水，煎湯代水煎藥，臨熟加醋一蛤，沖服。</p>
<p>半夏湯　妊娠九月若腹滿懸結，卒然下痢，胎上衝心，腰背痛不可轉側，短氣，宜服此湯。</p>
<p>半夏　麥冬　吳茱萸　當歸　阿膠（三兩）　乾薑（一兩）　大棗（十二枚）</p>
<p>上㕮咀，以水九升，煮取三升，去滓，內白蜜八合，微火上溫服，四服痢即止。一方用雌雞一隻煮汁煎藥。</p>
<p>豬腎湯　曾傷九月胎者，當預服此。</p>
<p>豬腎（一具）　白朮（四兩）　茯苓　桑寄生　乾薑　乾地黃　川芎（三兩）　附子（中者，一枚）　大豆　麥冬（一升）</p>
<p>以豬腎湯煎藥，分四服，日三夜一服，一十日更服一劑。</p>
<p>十月胎形滿足，四肢骨骱俱開，胎母貪安，或有縱欲內傷，因患潮熱，兼胎前多食辛辣炙煿，瘀血為滯，臨產橫逆，不可不防，宜用活水無憂散。</p>
<p>五十四號活水無憂散</p>
<p>益母草　當歸　川芎　生地　枳殼　蘇葉　急性子　茯苓　秦艽　白芍　肉桂　陳皮　鯉魚一尾，破開去雜，揩淨煎湯，去魚代水煎藥，臨熟加醋一合，沖服。一方有艾，此方鄭氏秘傳，若胎死不下者，急取無根水煎服，可救母命。</p>
<p>安胎催生藥方（李氏存仁家傳）　凡遇妊娠三五個月，或感冒寒熱，胎動不安，及未足月，服之即安，足月服之即產，其效如神。</p>
<p>當歸　白芍（一錢）　貝母　黃耆（八分）　紫蘇　枳殼（六分）　黃芩　川厚朴（五分）　藿香　蘄艾（三分）　菟絲子（一錢四分）　甘草（二分）</p>
<p>水煎，服一二劑，自然快生順產，產後不可服。</p>
<p>鄭氏秘傳烏金丸</p>
<p>阿膠（四兩）　熟艾　麥芽（二兩）　敗筆（或蘇木，二兩）　蛇蛻（全者，一具）</p>
<p>擇吉日，潔掃一室，地上畫八卦，勿令婦人、雞犬見，將上藥磨細，蜜丸，並粽角丸，催生護產神效。</p>
<p>祛邪丹　治婦人夜夢鬼交，如屬狐媚，用桐油抹牝戶，即不至。</p>
<p>阿膠　蘄艾　香附（八錢）　牡蠣　鹿角霜　雄黃（一兩五錢）　石菖蒲　遠志（一兩四錢）　丹皮　益智仁　地骨皮　歸身　熟地　茯神　棗仁（一兩）</p>
<p>上為細末，益母膏為丸，桐子大，硃砂為衣，每服七八丸，臨臥服之。</p>
<p>產難仙方</p>
<p>蓖麻子仁（十四粒）　飛雄黃　飛辰砂（二錢）　蛇蛻（全一條，焙乾）</p>
<p>細末，厚粥和丸，如彈子大，磁瓶收貯，臨產時，胞水一至，先將花椒一撮洗胎婦臍門，納一丸臍內，以油紙數重覆上，軟帛紮緊，產下即去之。此藥收好，可備二三次用。</p>
<p>臨產交骨不開</p>
<p>急性子殼　穿山甲　牙皂　麝香（等分）</p>
<p>為末，蜜捏成條子如指大，一條入陰戶中，近骨處，再將前藥一分煎濃湯，坐浸其中，以手運之，自開。</p>
<p>產後陰腫　蔥白</p>
<p>研膏入乳香敷，羌活防風湯洗。</p>
<p>難產胞衣不下</p>
<p>芒硝（二錢）　牛膝（三錢）</p>
<p>水煎，童便一杯沖服，立下。</p>
<p>產後暈死　生半夏</p>
<p>為末，冷水丸如豆大，納鼻孔中，即蘇。</p>
<p>陰蝕腫痛，亦治下疳　鳳凰衣　川連　輕粉　雄黃（各等分）</p>
<p>研細，香油抹。</p>
<p>陰戶出黃水，甚痛　蠶繭（三錢）</p>
<p>燒存性，研細，酒調，以鴨毛拭上，立愈。</p>
<p>急救血崩　陳棕炭</p>
<p>每服三錢，童便調服，立止。</p>
<p>陰蝕　蕪荑　蛇床子　硫磺　花椒　樟腦　枯礬</p>
<p>研細末，用絲瓜一條，去皮，蘸末，納玉戶深處，妙。</p>
<p>黃連阿膠丸　治婦人交腸，亦治赤白痢。</p>
<p>阿膠（一兩）　黃連（三兩）　白茯苓（三兩）</p>
<p>二味為末，水和阿膠丸。</p>

<h2>妊娠二十七證方</h2>
<p>一、丹溪安胎飲　治胎氣不安，或腹微痛，或腰間痛，或飲食不美，孕至五六月，並宜服。</p>
<p>白朮　當歸（二錢）　條芩　川芎（八分）　人參（一錢）　生地（二錢）　陳皮　紫蘇　甘草（四分）　砂仁（三分）</p>
<p>薑棗煎服。</p>
<p>二、加味安胎飲　孕婦氣元不足，倦怠，或胎動不安，或身微熱，宜此湯。如腰腿痛，須日服二三帖可安。</p>
<p>人參　麥冬　砂仁（一錢）　生地（二錢，酒蒸）　白朮（二錢五分）　陳皮　甘草　紫蘇（四分）</p>
<p>引大棗條芩八分。</p>
<p>三、加味參橘散　孕成後二三月內，惡阻，嘔逆惡食，或頭眩暈倦怠。</p>
<p>人參（一錢）　橘皮（四分）　白朮　當歸（二錢）　半夏（八分）　藿香　甘草（四分）　砂仁（三分）　竹茹（一團）　姜（一片）</p>
<p>肥人加竹瀝薑汁半匙。</p>
<p>四、人參白朮散　孕婦常多怒氣，胸腹滿悶，或服順氣烏藥、香附、砂仁，病反增加者宜服。</p>
<p>人參　白朮　當歸（二錢）　川芎　條芩（八分）　陳皮　紫蘇（四分）　甘草（三分）　木香汁（二分）</p>
<p>五、加味安胎飲　孕婦腹中不時作痛，小腹重墜，多是血虛氣陷，間有兼寒。</p>
<p>人參（一錢五分）　白朮　當歸　熟地（二錢）　川芎（八分）　甘草　紫蘇　陳皮（四分）</p>
<p>兼寒加吳茱萸一錢，乾薑、砂仁五分。</p>
<p>六、全生白朮散　面目虛浮，四肢有水氣，或久瀉所致，宜健脾利水，宜服。</p>
<p>人參（一錢）　白朮（二錢）　川芎（八分）　當歸（二錢）　甘草（三分）　紫蘇　陳皮（四分）　大腹皮（七分）　茯苓（一錢）</p>
<p>水煎。</p>
<p>七、順氣安胎飲　胎氣上攻心腹，脹滿作痛。</p>
<p>人參（一錢）　白朮（二錢）　紫蘇　甘草　陳皮　砂仁（四分）　當歸（二錢）　川芎　黃芩（八分）　有氣加木香汁。</p>
<p>八、補中安胎飲　受孕後下血不止，或按月去血點滴，名曰胎漏，大概因勞、因氣血虛、因喜炙煿，熱物過多。忌房事。</p>
<p>人參　白朮　當歸　甘草　熟地　黃芩　紫蘇　白芷</p>
<p>九、膠艾安胎飲　孕婦跌僕動胎，下血不止，宜先服安胎飲。一日兩服，如不止，宜服此。</p>
<p>人參（五錢）　條芩　阿膠（蛤粉炒，一錢）　川芎　艾葉（八分）　甘草　陳皮　紫蘇（四分）　當歸　生地　白朮（二錢）　姜　棗</p>
<p>十、竹葉安胎飲　孕婦心驚膽怯，煩悶不安，名曰子煩，宜服此。</p>
<p>人參　當歸　炒棗仁　麥冬（一錢）　白朮（二錢）　生地（一錢五分）　川芎（七分）　甘草（四分）　陳皮（三分）　黃芩　遠志（八分）　竹葉（十片）　姜（二片）　棗（十二枚）</p>
<p>煩渴加竹茹；有痰加竹瀝三匙，酒、薑汁少許；虛人倍人參；脾虛常瀉去生地、棗仁。</p>
<p>十一、加味天仙藤散　孕婦腿膝發腫，氣滿不舒，或足指腫出水，由脾主四肢，氣弱不能制水也。肺腎少母氣滋賴，而氣促滿悶，諸書名曰水氣，治宜先服此方，不效，更服補中健脾湯。虛人服天仙藤散，必加參、歸、白朮方可。</p>
<p>天仙藤（即青木香）　制香附（六分）　陳皮（四分）　甘草（三分）　烏藥（七分）　木瓜（一錢）　紫蘇（四分）　姜皮（三分）</p>
<p>脾氣虛弱人，宜補中益氣湯。</p>
<p>十二、加味羚羊角散　孕婦口噤項強，手足拘攣，言語蹇澀，痰涎壅盛，不省人事，可作中風治之，宜服此方。若無痰，言語如常，但見中風，多因血燥生風，切不可一概作中風治，而誤人性命。</p>
<p>羚羊角（一分）　棗仁　米仁　防風（一錢）　獨活　五加皮　茯神（八分）　川芎（七分）　當歸（二錢）　杏仁（十個）　木香　甘草（四分）　姜（一片）</p>
<p>虛人加人參；痰加竹瀝；脾胃弱加白朮。</p>
<p>十三、加味安榮散　有孕，小便澀少，或淋漓。</p>
<p>人參　白朮　當歸　麥冬（二錢）　茯苓皮　通草（一錢）　甘草（四分）　白燈草（三分）</p>
<p>有熱加黃芩；若怒動肝火宜用之。</p>
<p>十四、加味逍遙散　有孕，形體勞苦，或過食炙炒，小便帶血，宜清膀胱。</p>
<p>當歸　柴胡（二錢）　芍藥（一錢）　白朮（一錢五分）　茯苓　丹皮　梔子（七分）　甘草（四分）</p>
<p>十五、加味安胎飲　孕婦臍腹作脹，或小便淋秘，此由脾胃氣虛，胎壓尿胞，宜服此方，加二陳昇提。</p>
<p>白朮　生地（一錢五分）　陳皮　甘草　柴胡　升麻（四分）　人參（一錢）　當歸（二錢）　川芎（八分）　半夏（一錢）　姜（三片）</p>
<p>服後飲鹽湯探吐，則上氣通而下亦通。</p>
<p>十六、安胎飲　孕婦元氣壯盛，受孕後尚有血來，幾次不妨，乃血盛故也。若不腰腿痠痛，不須服藥，如過慮，可服此方。</p>
<p>十七、鯉魚湯　孕婦心滿腹脹，便秘浮腫，名曰胎水不利，宜服。</p>
<p>白朮（五錢）　茯苓（四錢）　當歸（三錢）　芍藥（二錢）　鯉魚（一尾）　橘皮　生薑</p>
<p>十八、宣肺止嗽飲　孕婦咳嗽屬風，屬寒。</p>
<p>天冬（二錢）　桔皮　紫蘇（五分）　知母（一錢）　甘草（四分）</p>
<p>寒加杏仁、桑皮；痰加橘皮、竹瀝、薑汁、黃芩；虛加紫菀、款冬；發喘夜咳加麻黃；虛損加瓜蔞、竹瀝、薑汁；心胸不舒加貝母、百會。</p>
<p>又方　嗽不止，胎不安，用杏仁、甘草、紫菀、桑皮、桔梗、人參。</p>
<p>十九、保肺湯　孕婦咳嗽吐血。</p>
<p>生地（三錢）　紫菀（一錢）　知母（一錢）　白朮（一錢）　陳皮（四分）　麥冬（一錢）　甘草（四分）　黃芩（八分）　當歸（二錢）　天冬（二錢）　犀角（八分）</p>
<p>喘加瓜蔞仁一錢。</p>
<p>二十、六和湯　妊娠霍亂。</p>
<p>二十一、清瘧飲　孕婦瘧疾，寒多熱少。</p>
<p>草果（三分）　青皮（四分）　人參　黃芩（一錢）　白朮　當歸（二錢）　紫蘇　生甘草（四分）　藿香（五分）　烏梅（二個）　姜（二片）</p>
<p>二十二、加味安胎飲　孕婦口乾，不得臥。</p>
<p>安胎飲加麥冬、乾葛。</p>
<p>又方　黃連一錢，為末，粥飲調下。</p>
<p>二十三、清胃飲　孕婦壅熱煩躁口渴。</p>
<p>人參　知母　麥冬　梔子（一錢）　甘草　條芩（五分）　花粉　犀角汁（八分）　竹瀝　薑汁　大棗</p>
<p>二十四、人參麥冬竹茹湯　孕婦熱病，嘔吐不食，胸中煩躁。</p>
<p>葛根　蘆根（一錢五分）　人參　麥冬　知母　梔子（一錢）　竹茹（一丸）　蔥白（三寸）</p>
<p>二十五、舉斑湯　孕婦熱病，斑出赤黑，小便如血，氣急欲絕，胎墮。</p>
<p>梔子　黃芩　升麻（一錢）　豆豉（四十九粒）　生地（二錢）　杏仁（十粒）　石膏（錢半）　青黛　蔥白（七寸）</p>
<p>二十六、葛根升麻湯　孕婦骨節疼痛，不急治則落胎。（按：此亦熱病）</p>
<p>葛根　石膏　升麻　前胡　青黛</p>
<p>加薑汁、竹瀝。</p>
<p>二十七、加味安胎飲　孕婦吐衄，或破傷失血，驀然口噤，項強背直，類中風，皆因失血。</p>
<p>安胎方加人參、當歸、白朮、生地、陳皮、甘草、條芩、天麻、麥冬、防風、荊芥。</p>

<h2>良方藥禁</h2>
<p>通經丸　若脾胃無虧，暴怒氣逆，或生冷所傷，陰血凝滯，月經不通者，宜暫用之。若因脾胃虛弱不能生血，宜六君當歸；若因脾胃鬱火，內耗其陰血者，宜歸脾湯；若因肝脾鬱怒，氣血傷而月經不調者，宜加味歸脾湯；若因脾肝虛熱而月經不調者，宜用加味逍遙散。</p>
<p>艾附丸　若脾胃虛寒，陰血不足，氣逆發熱，月經不調，若胎氣不成者，宜暫用之。若肝腎虧損，陰虛發熱，月經不調，或崩帶漏下，或便血吐衄，小便淋瀝，晡熱內熱，寒熱往來，或盜汗自汗，不時倏熱，宜用六味地黃丸；若兼脾氣不足，飲食少思者，佐以六君子湯。</p>
<p>四物湯　若肝經血燥發熱，或月經不調，宜暫用之。若因脾經虛熱，肝經怒火所致，宜用四君子，或加味逍遙散；若因脾經氣虛血弱，兼晡熱內熱，宜用八珍湯加柴胡、丹皮；若因元氣下陷而致諸症，宜用補中益氣湯。</p>
<p>人參橘皮湯　若胎前氣痞痰滯，作嘔不食者，宜暫用之。若脾胃氣虛，胸高痞脹，痰停作嘔者，飲食少思，宜用半夏茯苓湯；若因怒動肝火，剋制脾土，而致前症者，宜六君子加柴胡、山梔、蘇梗、枳殼；脾胃虛寒者，六君子加木香、砂仁、肉桂。</p>
<p>紫蘇順氣飲　若胎動不安，元氣無虧，宜暫用之。若因脾氣虛寒者，宜用六君子加紫蘇、枳殼；鬱結傷脾者，宜用六君子加柴、梔、蘇梗；鬱怒傷肝脾者，宜用六君子加柴、芩、枳殼。</p>
<p>四物膠艾湯　若內熱，胎漏不止者，宜暫用之。若因肝經風熱，而下血者，宜用防風黃芩丸；若因肝火血熱者，宜用加味逍遙散；若因脾經鬱火，用加味歸脾湯；若因脾氣虛陷，宜用補中益氣湯，倍加升麻、柴胡；若因房事下血者，宜八珍湯加膠、艾。</p>
<p>黃芩、白朮　為安胎聖藥，若脾胃蘊熱，中氣無虧者，宜用之。凡屬脾胃虛痞，飲食少思，或泄瀉嘔吐，面色萎黃，肢體倦怠者，宜用六君子湯。</p>
<p>澤蘭湯　若產後惡露腹痛，胸滿少氣，宜用之。若體倦面黃，食少不寐而惡露不止，宜用加味歸脾湯；若氣血虛損，而惡露上攻，先用失笑散，後用八珍湯。禁用黑神散、奪命丹之類。</p>

<h2>後跋</h2>
<p>婦人一科，首推吾昆邑鄭氏，自宋至清，六百餘年，無有休息，疑其別有秘傳，覓之數年，間有見於世者，不過藥訣百問，毫無深意，未快余懷。辛卯仲春，見王子香父執處《濟陰萬金書》兩卷，書是薛將仕所授，敘證頗詳，立方顯豁，固別有師承，因借歸錄之。惟後幅「產後」，全抄《綱目》，故不錄。子香述，此書是新邑名士潘君道香得於鄰女之手。鄰女適昆邑鄭氏，早寡，遺下抄書一篋，歸寧攜歸，潘見而奇之，假回連夜抄集，編次成帙，奉為至寶，抄贈子香。子香乃潘君之密友也，合併識之，以見得之不易云。</p>
<p><u>鎮洋後學錢雅樂韻之跋</u></p>
