<header data-type="book">
<h1>洗冤集錄</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>宋慈</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1247">公元1247年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=82035">浙江大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>原序</h1>
<p>獄事莫重於大辟，大辟莫重於初情，初情莫重於檢驗。蓋死生出入之權輿，幽枉屈伸之機括，於是乎決。法中所以通著今佐理據者，謹之至也。年來州縣，悉以委之初官，付之右選，更歷未深，驟然嘗試，重以仵作之欺偽，吏胥之奸巧，虛幻變化，茫不可詰。縱有敏者，一心兩目亦無所用其智，而況遙望而弗親，掩鼻而不屑者哉。慈四叨臬寄，他無寸長，獨於獄案，審之又審，不敢萌一毫慢易心；若灼然知其為欺，則亟與駁下，或疑信未決，必反下覆深思，惟恐率然而行，死者虛被澇漉。每念獄情之失，多起於發端之著；定驗之誤，皆原於歷試之涉。遂博採近世所傳諸書，自《內恕錄》以下凡數家，會而粹之，釐而正之，增以己見，總為一編，名曰《洗冤集錄》，刊於湖南憲治；示我同寅，使得參驗互考。如醫師討論古法，脈絡表裡先已洞澈，一旦按此以施針砭，發無不中，則其洗冤澤物，當與起死回生同一功用矣。</p>
<p>淳祐丁未嘉平節前十日，朝散大夫，新除直秘閣、湖南提刑充大使行府參議官宋慈惠父序。</p>
<p><u>賢士大夫或有得於見聞及親所歷涉出於此集之外者，切望片紙錄賜，以廣未備。慈拜稟。</u></p>

<h1>卷之一</h1>

<h2>一·條令</h2>
<p>諸屍應驗而不驗；（初覆同）或受差過兩時不發；（遇夜不計，下條准此）或不親臨視；或不定要害致死之因；或定而不當，（謂以非理死為病死，因頭傷為脅傷之類）各以違制論。即憑驗狀致罪已出入者，不在自首覺舉之例。其事狀難明，定而失當者，杖一百。吏人、行人一等科罪。</p>
<p>諸被差驗覆，非系經隔日久，而輒稱屍壞不驗者，坐以應驗不驗之罪。（淳祐詳定）</p>
<p>諸驗屍，報到過兩時不請官者；請官違法，或受請違法而不言；或牒至應受而不受；或初覆檢官吏、行人相見及漏露所驗事狀者，各杖一百。（若驗訖，不當日內申所屬者，准此）</p>
<p>諸縣，承他處官司請官驗屍，有官可那而稱闕，若闕官而不具事因申牒，或探伺牒至而託故在假避免者，各以違制論。</p>
<p>諸行人因驗屍受財，依公人法。</p>
<p>諸檢覆之類應差官者，差無親嫌干礙之人。</p>
<p>諸命官所任處有任滿賞者，不得差出，應副檢驗屍者聽差。</p>
<p>諸驗屍，州差司理參軍，（本院囚別差官，或止有司理一院，准此）縣差尉。縣尉闕，即以次差簿、丞。（縣丞不得出本縣界）監當官皆闕者，縣令前去。若過十里，或驗本縣囚，牒最近縣。其郭下縣皆申州。應覆驗者，並於差初驗（官）日先次申牒差官，應牒最近縣，而百里內無縣者，聽就近牒巡檢或都巡檢。（內覆檢應止牒本縣官，而獨員者准此，[並]謂非見出巡捕者。）</p>
<p>諸監當官出城驗屍者，縣差手力五人當直。</p>
<p>諸死人未死前，無緦麻以上親在死所，（若禁囚責出十日內及部送者同）並差官驗屍。（人力、女使經取口詞者，差公人）囚及非理致死者，仍覆驗，驗覆訖，即為收瘞。（仍差人監視，親戚收瘞者付之）若知有親戚在他所者，仍報知。</p>
<p>諸屍應覆驗者，在州申州；在縣，於受牒時，牒屍所最近縣。（狀牒內各不得具致死之因）相去百里以上而遠於本縣者，止牒本縣官。（獨員即牒他縣）</p>
<p>諸請官驗屍者，不得越黃河江湖，（江河謂無橋梁，湖謂水漲不可渡者）及牒獨員縣。（郭下縣聽牒，牒至即申州，差官前去）</p>
<p>諸驗屍，應牒近縣，而牒遠縣者，牒至亦受，驗畢，申所屬。</p>
<p>諸屍應牒鄰近縣驗覆，而合請官在別縣，若百里外，或在病假，（不妨本職非）無官可那者，受牒縣當日具事因，（在假者，具日時）保明申本州及提點刑獄司，並報元牒官司，仍牒以次縣。</p>
<p>諸初、覆檢屍格目，提點刑獄司依式印造。每副初、覆各三紙，以千字文為號，鑿定給下州縣。遇檢驗，即以三紙先從州縣填訖，付被差官。候檢驗訖，從實填寫，一申州縣，一付被害之家，（無即繳回本司）一具日時字號入急遞，徑申本司點檢。（遇有第三次[以]後檢驗准此）</p>
<p>諸因病死（謂非在囚禁及部送者）應驗屍，而同居緦麻以上親，或異居大功以上親至死所，而願免者，聽。若僧道有法眷，童行有本師，未死前在死所，而寺觀主首保明各無他故者，亦免。其僧道雖無法眷，但有主首或徒眾保明者，准此。</p>
<p>諸命官因病亡，（謂非在禁及部送者）若經責口詞；或因卒病，而所居處有寺觀主首，或店戶及鄰居，並地分合幹人保明無他故者，官司審察，聽免檢驗。</p>
<p>諸縣令、丞、簿雖應差出，須當留一員在縣。（非時俱闕，州郡差官權）</p>
<p>諸稱違制論者，不以失論。（《刑統·制》曰：謂奉制有所施行而違者，徒二年。若非故違而失錯旨意者杖一百）。</p>
<p>諸監臨主司受財枉法二十匹，無祿者二十五匹，絞。若罪至流，及不枉法，贓五十匹，配本城。</p>
<p>諸以毒物自服，或與人服，而誣告人，罪不至死者，配千里。若服毒人已死，而知情誣告人者，並許人捕捉，賞錢五十貫。</p>
<p>諸緦麻以上親因病死，輒以他故誣人者，依誣告法，（謂言毆死之類，致官司信憑以經檢驗者）不以廕論，仍不在引虛減等之例。即緦麻以上親自相誣告，及人力、女使病死，其親輒以他故誣告主家者，准此。（尊長誣告卑幼，廕贖減等，自依本法）</p>
<p>諸（有）詐病及死、傷，受使檢驗不實者，各依所欺減一等。若實病死及傷不以實驗者，以故入人罪論。（《刑統·議》曰：上條詐疾病者，杖一百。檢驗不實同詐妄，減一等，杖九十）</p>
<p>諸屍雖經驗，而系妄指他屍告論，致官司信憑推鞠，依誣告法。即親屬至死所妄認者，杖八十。被誣人在禁致死者，加三等。若官司妄勘者，依入人罪法。</p>
<p>《刑統·疏》：以他物毆人者，杖六十。（見血為傷，非手足者，其餘皆為他物，即兵不用刃亦是）</p>
<p>《申明刑統》：以靴鞋踢人傷，從官司驗定：堅硬，即從他物；若不堅硬，即難作他物例。</p>
<p>諸保辜者，手足（毆傷人）限十日，[以]他物毆傷人者二十日，以刃及湯火[傷人者]三十日。（折目）折跌肢體及破骨者（三）[五]十日。限內死者，各依殺人論。諸齧人者，各依他物法。辜內墮胎者，墮後別保三十日，仍通本毆傷限，不得過五十日。其在限外，及雖在限內以他故死者，各依本毆傷法。（他故謂別增余患而死。假毆人頭傷風從頭瘡而入，因風致死之類，仍依殺人論。若不因頭瘡得風而死，是為他故，各依本毆傷法）</p>
<p>乾道六年，[八月十六日]尚書省（此[批]狀州縣檢驗之官，並差文官，如有闕官去處，覆檢官方差右選。本所看詳：檢驗之官自合依法差文臣。如邊遠小縣，委的闕文臣處，覆檢官權差識字武臣。今聲說照用。</p>
<p>嘉定十六年二月十八日</p>
<p>勅臣僚奏：檢驗不定要害致命之因，法至嚴矣。而檢覆失實，則為覺舉，遂以苟免。欲望</p>
<p>睿旨下刑部看詳，頒示遵用。刑寺長貳詳議：檢驗不當，覺舉自有見行條法；今檢驗不實，則乃為覺舉，遂以苟免。今看詳命官檢驗不實或失當，不許用覺舉原免。余並依舊法施行。奉聖旨依。</p>

<h2>二·檢覆總說上</h2>
<p>凡驗官多是差廳子、虞候，或以親隨作公人、家人各目前去，追集鄰人、保伍，呼為先牌，打路排保，打草踏路，先馳看屍之類，皆是搔擾鄉眾，此害最深，切須戒忌。</p>
<p>凡檢驗承牒之後，不可接見在近官員、秀才、術人、僧道，以防奸欺及招詞訴。仍未得鑿定日時，於牒。前到地頭，約度程限，方可書鑿，庶免稽遲。仍約束行吏等人，不得少離官員，恐有乞覓。遇夜行吏須要勒令供狀，方可止宿。</p>
<p>凡承牒檢驗，須要行凶人隨行，差土著有家累、田產、無過犯節級、教頭、部押公人看管。如到地頭，勒令行凶人當面，對屍仔細檢喝；勒行人、公吏對眾鄰保當面供狀，不可下司，恐有過度走弄之弊。如未獲行凶人，以鄰保為眾證。所有屍帳，初、覆官不可漏露。仍須是躬親詣屍首地頭，監行人檢喝，免致出脫重傷處。</p>
<p>凡檢官遇夜宿處，須問其家是與不是凶身血屬親戚，方可安歇，以別嫌疑。</p>
<p>凡血屬入狀乞免檢，多是暗受凶身買和，套合公吏入狀。檢官切不可信憑，便與備申，或與繳回格目。雖得州縣判下，明有公文照應，猶須審處。恐異時親屬爭錢不平，必致生詞，或致發覺，自亦例被，汙穢難明。</p>
<p>凡行凶器杖，索之少緩，則奸囚之家藏匿移易，妝成疑獄，可以免死，干係甚重。初受差委，先當急急收索；若早出，官又可參照痕傷大小、闊狹，定驗無差。</p>
<p>凡到檢所，未要自向前，且於上風處坐定。略喚死人骨屬，或地主，（湖南有地主他處無）競主，審問事因了，點數干係人及鄰保，應是合於檢狀著字人齊足。先令札下硬四至，始同人吏向前看驗。若是自縊，切要看吊處及項上痕；更看系處塵土，曾與不曾移動？及系吊處高下，原踏甚處？是甚物上得去系處？更看垂下長短，項下繩帶大小，對痕寬狹；細看是活套頭、死套頭？有單掛十字系，有纏繞系，各要看詳。若是臨高撲死，要看失腳處土痕蹤跡高下。若是落水淹死，亦要看失腳處土痕高下，及量水淺深。</p>
<p>其餘殺傷、病患、諸般非理死人，札四至了，但令扛𢱲明淨處，且未用湯水酒醋，先干檢一遍。仔細看腦後、頂心、頭髮內，恐有火燒釘子釘入骨內。（其血不出，亦不見痕損）更切點檢眼睛、口、齒、舌、鼻、大小便二處，防有他物。然後用溫水洗了，先使酒醋蘸紙，搭頭面上、胸脅、兩乳、臍腹、兩肋間，更用衣服蓋罨了，澆上酒醋，用薦席罨一時久，方檢。不得信令行人只將酒醋潑過，痕損不出也。</p>

<h2>三·檢覆總說下</h2>
<p>凡檢驗，不可信憑行人，須令將酒醋洗淨，仔細檢視。如燒死，口內有灰。溺死，腹脹，內有水。以衣物或濕紙搭口鼻上死，即腹干脹。若被人勒死，項下繩索交過，手指甲或抓損。若自縊，即腦後分八字，索子不交。繩在喉下，舌出；喉上，舌不出，切在詳細。自余傷損致命，即無可疑。如有疑慮，即且捉賊。捉賊不獲，猶是公過。若被人打殺，卻作病死，後如獲賊，不免深譴。</p>
<p>凡檢驗文字，不得作「皮破血出」。大凡皮破即血出，當云「皮微損有血出」。</p>
<p>凡定致命痕，雖小，當微廣其分寸。定致命痕內骨折，即聲說骨不折，不須言骨不折卻重害也。（或行凶器杖未到，不可分毫增減，恐他日索到異同）</p>
<p>凡傷處多，只指定一痕系要害致命。</p>
<p>凡聚眾打人，最難定致命痕。如死人身上有兩痕皆可致命，此兩痕若是一人下手，則無害；若是兩人，則一人償命，一人不償命。須是兩痕內斟酌得最重者為致命。</p>
<p>凡官守，戒訪外事。惟檢驗一事，若有大段疑難，須更廣布耳目以合之，庶幾無誤。如斗毆限內身死，痕損不明；若有病色，曾使醫人、師巫救治之類，即多因病患死。若不訪問，則不知也。雖廣布耳目，不可任一人，仍在善使之；不然，適足自誤。</p>
<p>凡行凶人不得受他通吐，一例收人解送。待他到縣通吐後，卻勾追。恐手腳下人妄生事搔擾也。</p>
<p>凡初、覆檢訖，血屬、耆正副、鄰人並責狀看守屍首，切不可混同解官，徒使被擾。但解凶身、干證。若獄司要人，自會追呼。</p>
<p>凡檢覆後，體訪得行凶事因，不可見之公文者，面白長官，使知曲折，庶易勘鞠。</p>
<p>近年諸路憲司行下，每於初、覆檢官內，就差一員兼體究。凡體究者，必須先喚集鄰保，反覆審問。如歸一，則合款供；或見聞參差，則令各供一款。或並責行凶人供吐大略，一併繳申本縣及憲司。縣獄憑此審勘，憲司憑此詳覆。或小有差互，皆受重責。簿、尉既無刑禁，鄰里多已驚奔。若憑吏卒開口，即是私意。須是多方體訪，務令參會歸一。切不可憑一二人口說，便以為信，及備三兩紙供狀，謂可塞責。況其中不識字者，多出吏人代書；其鄰證內或又與凶身是親故，及暗受買囑符合者，不可不察。</p>
<p>隨行人吏及合幹人，多賣弄四鄰，先期縱其走避，只捉遠鄰或老人、婦人及未成丁人塞責。（或不得已而用之，只可參互審問，終難憑以為實，全在斟酌）又有行凶人，恐要切干證人（真）〔直〕供，有所妨礙，故令藏匿；自以親密人或地客、佃客出官，合套誣證，不可不知。</p>
<p>頑囚多不伏于格目內凶身下填寫姓名、押字，公吏有所取受，反教令別撰名色，寫作被誣或干連之類，欲乘此走弄出入。近江西宋提刑重定格目，申之朝省，添入被執人一項。若虛實未定者，不得已與之就下書填。其確然是實者，須勒令僉押於正行凶字下。不可姑息詭隨，全在檢驗官自立定見。</p>

<h2>四·疑難雜說上</h2>
<p>凡驗屍，不過刀刃殺傷與他物鬥打、拳手毆擊，或自縊、或勒殺、或投水、或被人溺殺、或病患數者致命而已。然有勒殺類乎自縊；溺死類乎投水；鬥毆有在限內致命，而實因病患身死；人力、女使因被捶撻，在主家自害自縊之類。理有萬端，併為疑難，臨時審察，切勿輕易，差之毫釐，失之千里。</p>
<p>凡檢驗疑難屍首，如刃物所傷透過者，須看內外瘡口：大處為行刃處，小處為透過處。如屍首爛，須看其原衣服，比傷著去處。</p>
<p>屍或覆臥，其右手有短刃物及竹頭之類，自喉至臍下者，恐是酒醉攛倒，自壓自傷。</p>
<p>如近有登高處或泥，須看身上有無財物、有無損動處，恐因取物失腳自傷之類。</p>
<p>檢婦人，無傷損處，須看陰門，恐有自此入刀於腹內。離皮淺，則臍上下微有血沁，深則無。多是單獨人、求食婦人。</p>
<p>如男子，須看頂心，恐有平頭釘；糞門，恐有硬物自此入。多是同行人，因丈夫年老、婦人年少之類也。</p>
<p>凡屍在身無痕損，唯面色有青黯，或一邊似腫，多是被人以物搭口鼻及罨捂殺。或是用手巾、布袋之類絞殺，不見痕，更看（頂），〔項〕上肉硬即是。切要（者），〔看〕手足有無擊縛痕，舌上恐有嚼破痕，大小便二處恐有踏腫痕。若無此類，方看口內有無涎唾？喉間腫與不腫？如有涎及腫，恐患纏喉風死，宜詳。</p>
<p>若究得行凶人，當來有窺謀，事蹟分明，又已招伏，方可檢出；若無影跡，即恐是酒醉卒死。</p>
<p>多有人相鬥毆了，各自分散。散後，或有去近江河、池塘邊，洗頭面上血、或取水吃，卻為方相打了，尚困乏；或因醉相打後頭旋，落水淹死。落水時尚活，其屍腹肚膨脹，十指甲內有沙泥，兩手向前，驗得只是落水淹死分明。其屍上有毆擊痕損，更不可定作致命去處，但一一札上驗狀，只定作落水致命，最捷。緣打傷雖在要害處，尚有辜限，在法雖在辜限內及限外以他故死者，各依本毆傷法。（注他故謂別增余患而死者）今既是落水身死，則雖有痕傷，其實是以他故致死分明。曾有驗官，為見頭上傷損，卻定作因打傷迷悶不覺，倒在水內；卻將打傷處作致命，致招罪人翻異不絕。</p>
<p>更有相打散，乘高撲下卓死，亦然。但驗失腳處高下，撲損痕瘢致命要害處，仍鬚根究曾見相打分散證佐人。</p>
<p>凡驗因爭鬥致死，雖二主分明，而屍上並無痕損，何以定要害致命處？此必是被傷人舊有宿患、氣疾，或是未爭鬥以前，先曾飲酒至醉，至爭鬥時有所觸犯，致氣絕而死也。如此者，多是腎子或一個或兩個縮上不見，須用溫醋湯蘸衣服或綿絮之類，罨一飯久，令仵作行人以手按小腹下，其腎子自下，即其驗也。然後仔細看要害致命處。</p>
<p>昔有甲乙同行，乙有隨身衣物，而甲欲謀取之。甲呼乙行，路至溪河，欲渡。中流，甲執乙就水而死，是無痕也。何以驗之？先驗其屍瘦劣、大小，十指甲各黑黯色，指甲及鼻孔內各有沙泥，胸前赤色，口唇青斑，腹肚脹。此乃乙劣而為甲之所執於水而致死也。當究甲之原情，須有贓證，以觀此驗，萬無失一。</p>
<p>又有年老人，以手捂之，而氣亦絕，是無痕而死也。</p>
<p>有一鄉民，令外甥並鄰人子，將鋤頭同開山種粟。經再宿不歸，及往觀焉，乃二人俱死在山。遂聞官。隨身衣服並在，牒官驗屍。驗官到地頭，見一屍在小茅舍外，後項骨斷，頭面各有刃傷痕；一屍在茅舍內，左項下、右腦後各有刃傷痕。在外者，眾曰：先被傷而死。在內者，眾曰：後自刃而死。官司但以各有傷，別無財物，定兩相併殺。一驗官獨曰：「不然，若以情度情，作兩相併殺而死，可矣；其舍內者，右腦後刃痕可疑，豈有自用刃於腦後者？手不便也。」不數日間，乃緝得一人，挾仇並殺兩人。縣案明，遂聞州，正極典。不然，二冤永無歸矣。大凡相併殺，余痕無疑即可為檢驗。貴在精專，不可失誤。</p>

<h1>卷之二</h1>

<h2>五·疑難雜說下</h2>
<p>有檢驗被殺屍在路旁，始疑盜者殺之，及點檢沿身衣物俱在，遍身鐮刀砍傷十餘處。檢官曰：盜只欲人死取財，今物在傷多，非冤仇而何？遂屏左右，呼其妻問曰：「汝夫自來與甚人有冤仇最深？」應曰：「夫自來與人無冤仇，只近日有某甲來做債，不得，曾有剋期之言，然非冤仇深者。」檢官默識其居。遂多差人，分頭告示側近居民：「各家所有鐮刀盡底將來，只今呈驗；如有隱藏，必是殺人賊，當行根勘。」俄而，居民齎到鐮刀七八十張，令布列地上。時方盛暑，內鐮刀一張，蠅子飛集。檢官指此鐮刀問為誰者，忽有一人承當，乃是做債剋期之人，就擒。訊問猶不伏，檢官指刀令自看：「眾人鐮刀無蠅子，今汝殺人，血腥氣猶在，蠅子集聚，豈可隱耶？」左右環視者，失聲歎服；而殺人者，叩首服罪。</p>
<p>昔有深池中溺死人，經久，事屬大家因仇事發。體究官見皮肉盡無，惟髑髏、骸骨尚在，累委官不肯驗。上司督責至數人，獨一官員承當。即行就地檢骨，先點檢見得其他並無痕跡。乃取髑髏淨洗，將淨（熱）湯瓶細細斟湯，灌從腦門穴入，看有無細泥沙屑自鼻竅中出，以此定是與不是生前溺水身死。蓋生前落水，則因鼻息取氣，吸入沙土，死後則無。</p>
<p>廣右有凶徒，謀死小童行，而奪其所齎。發覺距行凶日已遠，囚已招伏：「打奪就推入水中。」尉司打撈，已得屍於下流，肉已潰盡，僅留骸骨，不可辨驗，終未免疑其假合，未敢處斷。後因閱案卷，見初檢體究官繳到血屬所供，稱其弟原是龜胸而矮小。遂差官覆驗，其胸果然，方敢定刑。</p>
<p>南方之民，每有小小爭競，便自盡其命，而謀賴人者多矣。先以櫸樹皮罨成痕損，死後如他物所傷。何以驗之？但看其痕裡面須深墨色，四邊青赤，散成一痕，而無虛腫者，即是生前以櫸樹皮罨成也。蓋人生即血脈流行，與櫸相扶而成痕；（若以手按著，痕損處虛腫，即非櫸皮所罨也）若死後以櫸皮罨者，即苦無散遠青赤色，只微有黑色，而按之不緊硬者，其痕為死後罨之也。蓋人死後血脈不行，致櫸不能施其效。更在審詳原情，屍首痕損那邊長短，能合他物大小，臨時裁之，必無疏誤。</p>
<p>凡有死屍肥壯，無痕損，不黃瘦，不得作病患死。又有屍首無痕損，只是黃瘦，亦不得據所見只作病患死檢了。切須仔細驗定因何致死，唯此等檢驗最誤人也。</p>
<p>凡疑難檢驗，及兩爭之家稍有勢力，須選慣熟仵作人、有行止畏謹守分貼司，並隨馬行，飲食水火，令人監之，少休以待其來。不如是，則私請行矣。假使驗得甚實，吏或受賂，其事亦變。官吏獲罪猶庶幾，變動事情，枉致人命，事實重焉。</p>
<p>應檢驗死人，諸處傷損並無，不是病狀，難為定驗者，先須勒下骨肉次第等人狀訖，然後剃除死人髮髻，恐生前被人將刃物釘入囟門或腦中，殺害性命。</p>
<p>被殘害死者，須檢齒、舌、耳、鼻內，或手足、指甲中，有簽刺算害之類。</p>
<p>凡檢驗屍首，指定作被打後服毒身死，及被打後自縊身死、被打後投水身死之類，最須見得親切，方可如此申上。世間多有打死人後，以藥灌入口中，誣以自服毒（藥）〔者〕；亦有死後用繩吊起，假作生前自縊者；亦有死後推入水中，假作自投水者。一有差互，利害不小。今須仔細點檢死人在身傷痕，如果不是要害致命去處，其自縊、投水及自服毒皆有可憑實跡，方可保明。</p>

<h2>六·初檢</h2>
<p>告狀切不可信，須是詳細檢驗，務要從實。</p>
<p>有可任公吏使之察訪，或有非理等說，且聽來報，自更裁度。</p>
<p>戒左右人，不得鹵莽。</p>
<p>初檢，不得稱屍首壞爛不任檢驗，並須指定要害致死之因。</p>
<p>凡初檢時，如體問得是爭鬥分明，雖經多日，亦不得定作無憑檢驗，招上司問難。須仔細定當痕損致命去處。若委是經日久變動，方稱屍首不任擺撥。</p>
<p>初檢屍有無傷損訖，就驗處，襯簟屍首在物上，復以物蓋。候畢，周圍用灰印，記有若干枚，交與守屍弓手、耆正副、鄰人看守，責狀附案，交與覆檢，免至被人殘害傷損屍首也。若是疑難檢驗，仍不得遠去，防覆檢異同。</p>

<h2>七·覆檢</h2>
<p>與前檢無異，方可保明具申。萬一致命處不明，痕損不同，如以藥死作病死之類，不可概舉。前檢受弊，覆檢者烏可不究心察之，恐有連累矣。</p>
<p>檢得與前驗些小不同，遷就改正；果有大段違戾，不可依隨。更再三審問干係等人，如眾稱可變，方據檢得異同事理，供申；不可據己見便變易。</p>
<p>覆檢，如屍經多日，頭面肨脹，皮發脫落，唇口翻張，兩眼迭出，蛆蟲咂食，委實壞爛不通措手。若系刃傷、他物、拳手、足踢痕虛處，方可作無憑覆檢狀申。如是他物及刃傷骨損，宜沖洗仔細驗之，即須於狀內聲說致命，豈可作無憑檢驗申上。</p>
<p>覆檢官驗訖，如無爭論，方可給屍與親屬。無親屬者，責付本都埋瘞；勒令看守，不得火化及散落。如有爭論，未可給屍；且掘一坑，就所簟物，𢱲屍安頓坑內，上以門扇蓋，用土罨瘞作堆，周圍用灰印印記，防備後來官司再檢覆。仍責看守狀附案。</p>

<h2>八·驗屍</h2>
<p>身上件數。正頭面：（有無髻子）髮長、（若干）頂心、囟門、髮際、額、兩眉、兩眼、（或開或閉，如閉，擘開驗眼睛全與不全）鼻、（兩鼻孔）口、（或開或閉）齒、舌、（如自縊，舌有無抵齒）頦、喉、胸、兩乳、（婦人兩奶膀）心腹、臍、小肚、玉莖、陰囊、（次後捻兩腎子全與不全，婦人言產門，女子言陰門）兩腳大腿、膝、兩腳臁韌、兩腳腕、兩腳面、十指爪。</p>
<p>翻身：腦後、乘枕、項、兩胛、背、腰、兩臀瓣、（有無杖痕）穀道、後腿、兩曲䐐、兩腿肚、兩腳跟、兩腳板。</p>
<p>左側：左頂下、腦角、太陽穴、耳、面臉、頸、肩膊、肘、腕、臂、手、五指爪、（全與不全，或拳或不拳）曲腋、脅肋、胯外、膝外、臁肕、腳踝。</p>
<p>右側亦如之。</p>
<p>四縫屍首須躬親看驗。頂心、囟門、兩額角、兩太陽、喉下、胸前、兩乳、兩脅肋、心、腹、腦後、乘枕、陰囊、穀道，並系要害致命之處。（婦人看陰門、兩奶膀）</p>
<p>於內若一處有痕損在要害或非致命，即令仵作指定喝起。</p>
<p>眾約死人年幾歲，臨時須仔細看顏貌供寫，或問血屬尤真。</p>
<p>凡檢屍，先令多燒蒼朮、皂角，方詣屍前。檢畢，約三五步，令人將醋潑炭火上，行從上過，其穢氣自然去矣。</p>
<p>多備蔥、椒、鹽、白梅，防其痕損不見處，藉以擁罨。仍帶一砂盆並捶，研上件物。</p>
<p>凡檢覆，須在專一，不可避臭惡。切不可令仵作行人遮閉玉莖、產門之類，大有所誤。仍仔細驗頭髮內、穀道、產門內，慮有鐵釘或他物在內。</p>
<p>檢出致命要害處，方可押兩爭及知見親屬令見。切不可容令近前，恐損害屍體。</p>
<p>被傷處須仔細量長闊、深淺、小大，定致死之由。</p>
<p>仵作、行人受囑，多以芮（一作茜）草投醋內，塗傷損處，痕皆不見。以甘草汁解之，則見。</p>
<p>人身本赤黑色，死後變動作青膒色，其痕未見。有可疑處，先將水灑濕，後將蔥白拍碎令開，塗痕處，以醋蘸紙蓋上，候一時久，除去，以水洗，其痕即見。</p>
<p>若屍上有數處青黑，將水滴放青黑處，是痕則硬，水住不流；不是痕處軟，滴水便流去。</p>
<p>驗屍併骨傷損處，痕跡未見，用糟醋潑罨屍首；於露天，以新油絹或明油雨傘覆欲見處，迎日隔傘看，痕即見。若陰雨，以熱炭隔照，此良法也。或更隱而難見，以白梅搗爛，攤在欲見處，再擁罨看。猶未全見，再以白梅取肉，加蔥、椒、鹽、糟一處研，拍作餅子，火上煨，令極熱，烙損處，下先用紙襯之，即見其損。</p>
<p>昔有二人鬥毆，俄頃，一人仆地氣絕，見證分明。及驗出屍乃無痕損，檢官甚撓。時方寒，忽思得計。遂令掘一坑，深二尺余，依屍長短，以柴燒熱得所，置屍坑內，以衣物覆之。良久，覺屍溫，出屍。以酒醋潑紙貼，則致命痕傷遂出。</p>
<p>擁罨檢訖。仵作、行人喝四縫屍首，謂：屍仰臥。自頭喝：頂心、囟門全，額全，兩額角全，兩太陽全，兩眼、兩眉、兩耳、兩腮、兩肩並全，胸、心、臍、腹全，陰腎全，（婦人云產門全，女人云陰門全）兩髀、腰、膝、兩臁肕、兩腳面、十指爪並全。</p>
<p>左手臂、肘、腕並指甲全，左肋並脅全，左腰胯及左腿腳並全。</p>
<p>右亦如之。</p>
<p>翻轉屍：腦後、乘枕全，兩耳後、髮際連項全，兩背胛連脊全，兩腰眼、兩臀並穀道全，兩腿，兩後䐐、兩腿肚、兩腳跟、兩腳心並全。</p>

<h2>九·婦人</h2>
<p>凡驗婦人，不可羞避。</p>
<p>若是處女，札四至訖，𢱲出光明平穩處。先令坐婆剪去中指甲，用綿札。先勒死人母親及血屬並鄰婦二三人同看，驗是與不是處女。令坐婆以所剪甲指頭入陰門內，有黯血出是，無即非。</p>
<p>若婦人有胎孕不明致死者，勒坐婆驗腹內委實有無胎孕。如有孕，心下至肚臍以手拍之，堅如鐵石，無即軟。</p>
<p>若無身孕，又無痕損，勒坐婆定驗產門內，恐有他物。</p>
<p>有孕婦人被殺，或因產子不下身死，屍經埋地窖，至檢時，卻有死孩兒。推詳其故，蓋屍埋頓地窖，因地水火風吹死人，屍首脹滿，骨節縫開，故逐出腹內胎孕。孩子亦有臍帶之類，皆在屍腳下。產門有血水、惡物流出。</p>
<p>若富人家女使，先量死處四至了，便扛出大路上，檢驗有無痕損，令眾人見，以避嫌疑。</p>

<h3>附·小兒屍並胞胎</h3>
<p>有因爭鬥因而殺子謀人者，將子手足捉定，用腳跟於喉下踏死。只令仵作、行人以手按其喉，必塌，可驗真偽。</p>
<p>凡定當小兒骸骨，即云：十二、三歲小兒。若駁問：如何不定是男是女？即解云：某當初只指定十二、三歲小兒，即不曾說是男是女，蓋律稱兒，不定作兒是男女也。</p>
<p>墮胎者，准律：未成形像，杖一百；墮胎者，徒三年。律云：墮，謂打而落。謂胎子落者，按《五藏神論》：懷胎一月如白露，二月如桃花；三月男女分；四月形像具；五月筋骨成；六月毛髮生；七月動右手，是男，於母左；八月動左手，是女，於母右；九月三轉身，十月滿足。</p>
<p>若驗得未成形像，只驗所墮胎作血肉一片或一塊。若經日壞爛，多化為水。若所墮胎已成形像者，謂頭腦、口、眼、耳、鼻、手、腳、指甲等全者，亦有臍帶之類。令收生婆定驗月數，定成人形或未成形，責狀在案。</p>
<p>墮胎兒在母腹內被驚後死，胎下者，衣胞紫黑色，血蔭軟弱；生下腹外死者，其屍淡紅赤，無紫黑色及胞衣白。</p>

<h2>十·四時變動</h2>
<p>春三月：屍經兩三日，口、鼻、肚皮、兩脅、胸前肉色微青；經十日，則鼻、耳內有惡汁流出，肨（匹縫切，脹臭也）脹；肥人如此，久患瘦劣人，半月後方有此證。</p>
<p>夏三月：屍經一兩日，先從面上、肚皮、兩脅、胸前肉色變動；經三日，口鼻內汁流、蛆出，遍身肨脹，口唇翻，皮膚脫爛，疱胗起；經四、五日，發落。</p>
<p>暑月罨屍，損處浮皮多白，不損處卻青黑，不見的實痕。設若避臭穢，據見在檢過，往往誤事。稍或疑處，浮皮須令剝去，如有傷損，底下血廕分明。</p>
<p>更有暑月九竅內未有蛆蟲，卻於太陽穴、髮際內、兩脅、腹內先有蛆出，必此處有損。</p>
<p>秋三月：屍經二、三日，亦先從面上、肚皮、兩脅、胸前肉色變動；經四、五日，口鼻內汁流、蛆出，遍身肨脹，口唇翻，疱胗起；經六、七日，發落。</p>
<p>冬三月：屍經四、五日，身體肉色黃緊，微變；經半月以後，先從面上、口、鼻、兩脅、胸前變動。</p>
<p>或按在濕地，用薦席裹（角埋瘞）〔著〕，其屍卒難變動。更詳月頭、月尾，按春秋節氣定之。</p>
<p>盛熱：屍首經一日，即皮肉變動，作青黯色，有氣息；經三、四日，皮肉漸壞、屍脹、蛆出、口鼻汁流、頭髮漸落。</p>
<p>盛寒五日，如盛熱一日時；半月，如盛熱三、四日時。</p>
<p>春秋氣候平和，兩、三日可比夏一日；八、九日可比夏三、四日。</p>
<p>然人有肥瘦、老少。肥少者易壞，瘦老者難壞。</p>
<p>又南北氣候不同，山內寒暄不常，更在臨時通變審察。</p>

<h2>十一·洗罨</h2>
<p>宜多備糟醋。襯屍紙惟有藤連紙、白抄紙可用；若竹紙，見鹽、醋多爛，恐侵損屍體。</p>
<p>𢱲屍於平穩、光明地上，先檢驗一遍，用水沖洗。次挼皂角洗滌屍垢膩，又以水沖蕩潔淨。（洗時下用門扇、簟席襯，不惹塵土）洗了，如法用糟醋擁罨屍首，仍以死人衣物盡蓋，用煮醋淋，又以薦席罨一時久。候屍體透軟，即去蓋物，以水衝去糟醋，方驗。不得信行人說，只將酒醋潑過，痕損不出。</p>
<p>初春與冬月，宜熱煮醋及炒糟令熱。仲春與殘秋宜微熱。夏秋之內，糟醋微熱，以天氣炎熱，恐傷皮肉。秋將深，則用熱，屍左右手、肋相去三、四尺，加火熁，以氣候差涼。冬雪寒凜，屍首僵凍，糟醋雖極熱，被衣重疊，擁罨亦不得屍體透軟。當掘坑，長闊於屍，深三尺，取炭及木柴遍鋪坑內，以火燒令通紅。多以醋沃之，氣勃勃然，方連擁罨法物襯簟，𢱲屍置於坑內。仍用衣被覆蓋，再用熱醋淋遍。坑兩邊相去二、三尺，復以火烘。約透，去火，移屍出驗。冬殘春初，不必掘坑，只用火烘兩邊，看節候詳度。</p>
<p>湖南風俗，檢死人皆於屍傍開一深坑，用火燒紅，去火，入屍在坑內。潑上糟醋，又四面用火逼良久，扛出屍。或行凶人爭痕損，或死人骨屬相爭不肯認，至於有三四次扛入火坑重檢者。人屍至三四次經火，肉色皆焦赤，痕損愈不分明，行吏因此為奸。未至一兩月間，肉皆潰爛。及其家有論訴，差到聚檢官時已是數月，止有骨殖，肉上痕損並不得而知。火坑法獨湖南如此，守官者宜知之。</p>

<h2>十二·驗未埋瘞屍首</h2>
<p>未埋屍首，或在屋內地上，或床上，或屋前後露天地上，或在山嶺、溪澗、草木上，並先打量頓屍所在，四至高低，所離某處若干？在溪澗之內，上去山腳或岸幾許？系何人地上？地名甚處？若屋內，系在何處？及上下有無物色蓋簟？訖，方可𢱲屍出驗。</p>
<p>先剝脫在身衣服或婦人首飾，自頭上至鞋襪逐一抄札，或是隨身行李，亦具名件。訖，且以溫水洗屍一遍（了），〔乃〕驗。未要便用酒醋。</p>
<p>剝爛衣服洗了，先看其屍有無軍號？或額角、面臉上所刺大小字體，計幾行或幾字？是何軍人？若系配隸人，所配隸何州？軍字亦須計行數。如經刺環，或方或圓？或在手背、項上？亦計幾個。內是刺字或環子？曾艾灸或用藥取？痕跡黯濫，及成疤瘢，可取竹削一篦子，於灸處撻之，可見。</p>
<p>辨驗色目人訖，即看死人身上甚處有雕青、有灸瘢；系新舊瘡疤？有無膿血？計共幾個？及新舊官杖瘡疤，或背或臀；並新舊荊杖子痕，或腿或腳底；甚處有舊瘡癤瘢？甚處是見患？須量見分寸；及何處有黯記之類，盡行聲說。如無，亦開寫。</p>
<p>打量屍首身長若干？髮長若干？年顏若干？</p>

<h2>十三·驗墳內及屋下攢殯屍</h2>
<p>先驗墳系何人地上？地名甚處？土堆一個，量高及長闊，並各計若干尺寸，及屍現攢殯在何人屋下？亦如前量之。</p>
<p>次看屍頭腳所向，謂如頭東腳西之類；頭離某處若干，腳離某處若干。左右亦如之。對眾爬開浮土，或取去攢磚，看其屍用何物盛簟，謂：棺木有無漆飾？席有無沿〔褖〕及蕟簟之類。舁出開拆，取屍於光明處地上驗之。</p>

<h2>十四·驗壞爛屍</h2>
<p>若避臭穢，不親臨，往往誤事。</p>
<p>屍首變動，臭不可近，當燒蒼朮、皂角闢之；用麻油塗鼻，或作紙攄子搵油，塞兩鼻孔；仍以生薑小塊置口內。遇檢，切用猛閉口。恐穢氣衝入。</p>
<p>量札四至訖，用水衝去蛆蟲、穢汙，皮肉乾淨方可驗。未須用糟醋，頻令新汲水，澆屍首四面。</p>
<p>屍首壞爛，被打或刃傷處痕損，皮肉作赤色，深重作青黑色，貼骨不壞，蟲不能食。</p>

<h2>十五·無憑檢驗</h2>
<p>凡檢驗無憑之屍，宜說：頭髮褪落，曲鬢、頭面、遍身皮肉並皆一概青黑，㿹皮、壞爛，及被蛆蟲咂破，骨殖顯露去處。</p>
<p>如皮肉消化，宜說：骸骨顯露，上下皮肉並皆一概消化；只有些小消化不及筋肉與骨殖相連。今來，委是無憑檢覆本人生前沿身上下有無傷損它故，及定奪年顏、形狀、致死因依不得。兼用手揣捏得沿身上下，並無骨損去處。</p>

<h2>十六·白僵死瘁死</h2>
<p>先鋪炭火約與死人長闊，上鋪薄布，可與炭等，以水噴微濕，臥屍於上。仍以布覆蓋頭面、肢體訖，再用炭火鋪擁，令遍。再以布覆之，復用水遍灑。一時久，其屍皮肉必軟起。乃揭所鋪布與炭看，若皮肉軟起，方可以熱醋洗之，於驗損處，以蔥、椒、鹽同白梅和糟研爛，拍作餅子，火內煨令熱，先於屍上用紙搭了，次以糟餅罨之，其痕損必見。</p>

<h1>卷之三</h1>

<h2>十七·驗骨</h2>
<p>人有三百六十五節，按一年三百六十五日。</p>
<p>男子骨白，婦人骨黑。（婦人生骨出血如河水，故骨黑。如服毒藥骨黑，須仔細詳定）</p>
<p>髑髏骨：男子自頂及耳並腦後共八片，（蔡州人有九片）腦後橫一縫，當正直下至髮際別有一直縫。婦人只六片，腦後橫一縫，當正直下無縫。</p>
<p>牙有二十四，或二十八，或三十二，或三十六。</p>
<p>胸前骨三條。</p>
<p>心骨一片，嫩，如錢大。</p>
<p>項與脊骨各十二節。</p>
<p>自項至腰共二十四椎骨，上有一大椎骨。</p>
<p>肩井及左右飯匙骨各一片。</p>
<p>左右肋骨：男子各十二條，八條長、四條短。婦人各十四條。</p>
<p>男女腰間各有一骨，大如手掌，有八孔，作四行，樣<img class="字" src="_files/001.svg" alt="￼">。</p>
<p>手、腳骨各二段。男子左、右手腕及左、右臁肕骨邊皆有捭骨。（婦人無）兩腳膝頭各有𩓹骨，隱在其間，如大指大。手掌、腳板各五縫。手、腳大拇指並腳第五指各二節，餘十四指並三節。</p>
<p>尾蛆骨，若豬腰子，仰在骨節下。</p>
<p>男子者，其綴脊處凹，兩邊皆有尖瓣，如（稜）〔萎〕角，周布九竅。</p>
<p>婦人者，其綴脊處平直，周布六竅。</p>
<p>大、小便處各一竅。</p>
<p>骸骨各用麻草小索，或細篾串訖，各以紙簽標號某骨，檢驗時不至差誤。</p>

<h2>十八·論沿身骨脈及要害去處</h2>
<p>夫人兩手指甲相連者小節，小節之後中節，中節之後者本節。本節之後肢骨之前生掌骨，掌骨上生掌肉，掌肉後可屈曲者腕。腕左起高骨者手外踝，右起高骨者右手踝，二踝相連生者臂骨，輔臂骨者髀骨，三骨相繼者肘骨，前可屈曲者曲肘。曲肘上生者臑骨，臑骨上生者肩髃，肩髃之前者橫髃骨，橫髃骨之前者髀骨，髀骨之中陷者缺盆，缺盆之上者頸。頸之前者顙喉，顙喉之上者結喉，結喉之上者頦，頦兩傍者曲頷，曲頷兩傍者頤，頤兩旁者頰車，頰車上者耳，耳上者曲鬢，曲鬢上行者頂。頂前者囟門，囟門之下者髮際，髮際正下者額，額下者眉，眉際之末者太陽穴。太陽穴前者目，目兩旁者兩小眥，兩小眥上者上（臉）〔瞼〕，下者下（臉）〔瞼〕，正位能瞻視者目瞳子，瞳子近鼻者兩大眥。近兩大眥者鼻山根，鼻山根上印堂，印堂上者腦角，腦角下者承枕骨。脊骨下橫生者髖骨，髖骨兩傍者釵骨，釵骨下中者腰門骨。釵骨上連生者腿骨，腿骨下可屈曲者曲䐐，曲䐐上生者膝蓋骨。膝蓋骨下生者脛骨，脛骨旁生者䯒骨。䯒骨下左起高大者兩足外踝，右起高大者兩足右踝。脛骨前垂者兩足跂骨，跂骨前者足本節，本節前者小節，小節相連者足指甲，指甲後生者足前跗，跗後凹陷者足心，下生者足掌骨，掌骨後生者踵肉，踵肉後者腳跟也。</p>
<p>檢滴骨親法，謂如：某甲是父或母，有骸骨在，某乙來認親生男或女何以驗之？試令某乙就身刺一兩點血，滴骸骨上，是的親生，則血沁入骨內，否則不入。俗云「滴骨親」，蓋謂此也。</p>
<p>檢骨須是晴明。先以水淨洗骨，用麻穿定形骸次第，以簟子盛定。卻鋤開地窖一穴，長五尺、闊三尺、深二尺。多以柴炭燒煅，以地紅為度。除去火，卻以好酒二升，酸醋五升潑地窖內。乘熱氣扛骨入穴內，以藁薦遮定，蒸骨一兩時。候地冷，取去薦，扛出骨殖。向平明處，將紅油傘遮屍骨驗。</p>
<p>若骨上有被打處，即有紅色路，微廕；骨斷處，其接續兩頭各有血暈色；再以有痕骨照日看，紅活，乃是生前被打分明。</p>
<p>骨上若無血廕，蹤有損折，乃死後痕。切不可以酒醋煮骨，恐有不便處。此項須是晴明方可，陰雨則難見也。</p>
<p>如陰雨不得已，則用煮法。以甕一口，如鍋煮物，以炭火煮醋，多入鹽、白梅，同骨煎。須著親臨監視。候千百滾，取出，水洗，向日照，其痕即見。血皆浸骨損處，赤色、青黑色，仍仔細驗有無破裂。</p>
<p>煮骨不得見錫，用則骨多黯。</p>
<p>若有人作弊，將藥物置鍋內，其骨有傷處反白不見。（解法見驗屍門）</p>
<p>若骨或經三兩次洗罨，其色白與無損同，何以辨之？當將合驗損處骨以油灌之。其骨大者有縫，小者有竅，候油溢出，則揩令乾。嚮明照損處，油到即停住不行，明亮處則無損。</p>
<p>一法，濃磨好墨塗骨上，候乾，即洗去墨。若有損處，則墨必浸入；不損，則墨不浸。</p>
<p>又法，用新綿於骨上拂拭，遇損處，必牽惹綿絲起。折者，其色在骨斷處兩頭。又看折處，其骨芒刺向里或外。毆打折者，芒刺在裡，在外者非。</p>
<p>髑髏骨有他故處，骨青；骨折處帶瘀血。</p>
<p>仔細看骨上有青暈或紫黑暈：長是他物，圓是拳，大是頭撞，小是腳尖。</p>
<p>四縫骸骨內一處有損折，系致命所在或非要害，即令仵作行人指定喝起。</p>
<p>擁罨檢訖，仵作、行人喝四縫骸骨，謂：屍仰臥，自髑髏喝：頂心至囟門骨、鼻梁骨、頦頷骨並口骨並全；兩眼眶、兩額角、兩太陽、兩耳、兩腮頰骨並全；兩肩井、兩臆骨全；胸前龜子骨、心坎骨全。</p>
<p>左臂、腕、手及髀骨全；左肋骨全；左胯、左腿、左臁肕並髀骨及左腳踝骨、腳掌骨並全。</p>
<p>右亦如之。</p>
<p>翻轉喝：腦後、乘枕骨、脊下至尾蛆骨並全。</p>
<p>凡驗原被傷殺死人，經日，屍首壞，蛆蟲咂食，只存骸骨者，原被傷痕血黏骨上，有乾黑血為證。若無傷骨損，其骨上有破損，如頭髮露痕，又如瓦器龜裂沉淹損路為驗。</p>
<p>毆死者，受傷處不至骨損，則肉緊貼在骨上，用水沖激亦不去；指甲蹙之方脫，肉貼處其痕損即可見。</p>
<p>驗骨訖。自髑髏、肩井臆骨，並臂、腕、手骨，及胯骨、腰腿骨、臁肕、膝蓋並髀骨，並標號左右。其肋骨共二十四莖，左右各十二莖。分左右：系左第一、左第二，右第一、右第二之類，莖莖依資次題訖。內脊骨二十四節，亦自上題：一、二、三、四，連尾蛆骨處，號之；並胸前龜子骨、心坎骨亦號之，庶易於檢湊。兩肩、兩胯、兩腕皆有蓋骨，尋常不繫在骨之數，經打傷損，方入眾骨係數，不若拘收在數為良也。先用紙數重包定，次用油單紙三、四重裹了，用索子交眼扎系作三、四處。封頭，印押訖。用桶一隻盛之，上以板蓋，掘坑埋瘞，作堆標記，仍用灰印。</p>
<p>行在有一種毒草，名曰賤草。煎作膏子售人，若以染骨，其色必變黑黯，粗可亂真。然被打若在生前，打處自有暈痕；如無暈，而骨不損，即不可指以為痕。切須仔細辨別真偽。</p>

<h2>十九·自縊</h2>
<p>自縊身死者，兩眼合、唇口黑、皮開露齒。若勒喉上，即口閉、牙關緊、舌抵齒不出。（又云齒微咬舌）若勒喉下，則口開，舌尖出齒門二分至三分。面帶紫赤色，口吻、兩角及胸前有吐涎沫，兩手須握大拇指，兩腳尖直垂下。腿上有血廕，如火灸斑痕，及肚下至小腹並墜下青黑色。大小便自出，大腸頭或有一兩點血。喉下痕紫赤色或黑淤色，直至左、右耳後髮際，橫長九寸以上至一尺以來。（一云丈夫合一尺一寸婦人合一尺）腳虛則喉下勒深，實則淺。人肥則勒深，瘦則淺；用細緊麻繩、草索，在高處自縊懸頭頓身致死，則痕跡深；若用全幅勒帛及白練項帕等物，又在低處，則痕跡淺。低處自縊，身多臥於下，或側或覆。側臥，其痕斜起，橫喉下；覆臥，其痕正起，在喉下，起於耳邊，多不至腦後髮際下。</p>
<p>自縊處須高八尺以上，兩腳懸虛，所踏物須倍高，如懸虛處。或在床、椅、火爐、船倉內，但高二、三尺以來，亦可自縊而死。</p>
<p>若經泥雨，須看死人赤腳或著鞋，其踏上處有無印下腳跡。</p>
<p>自縊有活套頭、死套頭、單系十字、纏繞系。須看死人踏甚物入頭在繩套內，須垂得繩套寬入頭方是。活套頭、腳到地，並膝跪地，亦可死；死套頭、腳到地，並膝跪地，亦可死。</p>
<p>單系十字，懸空方可死，腳尖稍到地亦不死。</p>
<p>單系十字，是死人先自用繩帶自系項上後，自以手系高處。須是先看上頭系處塵土，及死人踏甚處物，自以手攀系得上向繩頭著，方是。上面繫繩頭處，或高、或大，手不能攀，及不能上，則是別人吊起。更看所繫處物伸縮，須是頭墜下去上頭系處一尺以上，方是。若是頭緊抵上頭，定是別人吊起。</p>
<p>纏繞系，是死人先將繩帶纏繞項上兩遭，自踏高系在上面，垂身致死。或是先繫繩帶在梁棟，或樹枝上，雙䙡垂下，踏高入頭在䙡內，更纏過一兩遭。其痕成兩路：上一路，纏過耳後，斜入髮際；下一路，平繞項行。吏畏避駁雜，必告檢官，乞只申一痕，切不可信。若除了上一痕，不成自縊；若除下一痕，正是致命要害去處。或覆檢官不肯相同書填格目，血屬有詞，再差官覆檢出，為之奈何？須是據實，不可只作一條痕檢。其相疊與分開處，作兩截量盡取頭了，〔畫取樣子〕更重將所繫處繩帶纏過，比並闊狹並同，任從覆檢，可無後患。</p>
<p>凡因患在床，仰臥將繩帶等物自縊者，則其屍兩眼合、兩唇皮開，露齒咬舌，出一分至二分。肉色黃，形體瘦，兩手拳握，臀後有糞出。左右手內多是把自縊物色至繫緊，死後只在手內。須量兩手拳相去幾寸以來。喉下痕跡紫赤，周圍長一尺余，結締在喉下，前面分數較深。曾被解救，則其屍肚脹，多口不咬舌，臀後無糞。</p>
<p>若真自縊，開掘所縊腳下穴三尺以來，究得火炭，方是。</p>
<p>或在屋下自縊，先看所縊處楣梁、枋桁之類塵土袞亂至多，方是。如只有一路無塵，不是自縊。</p>
<p>先以杖子於所繫繩索上輕輕敲，如緊直，乃是；或寬慢，即是移屍。大凡移屍別處吊掛，舊痕挪動，便有兩痕。</p>
<p>凡驗自縊之屍，先要見得在甚地分？甚街巷，甚人家？何人見？本人自用甚物？於甚處搭過？或作十字死䙡系定，或於項下作活䙡套。卻驗所著衣新舊。打量身四至：東西南北至甚物？面覷甚處？背向甚處？其死人用甚物踏上？上量頭懸去所吊處，相去若干尺寸？下量腳下至地，相去若干尺寸？或所縊處雖低，亦看頭上懸掛索處，下至所離處，並量相去若干尺寸？對眾解下，扛屍於露明處，方解脫自縊套繩，通量長若干尺寸？量圍喉下套頭繩，圍長若干？項下交圍，量到耳後髮際起處，闊狹、橫斜、長短，然後依法檢驗。</p>
<p>凡驗自縊人，先問原申人，其身死人是何色目人？見時早晚？曾與不曾解下救應？申官時早晚？如有人識認，即問：自縊人年若干？作何經紀？家內有甚人？卻因何在此間自縊？若是奴僕，先問僱主討契書辨驗，仍看契書上有無親戚，年多少？更看原吊掛蹤跡去處。如曾解下救應，即問解下時有氣脈無氣脈？解下約多少時死？切須仔細。</p>
<p>大凡檢驗，未可便作自縊致命，未辨仔細。凡有此，只可作其人生前用繩索系咽喉下或上，要害致命身死，以防死人別有枉橫。且如有人睡著，被人將索勒死吊起所在，其檢官如何見得是自縊致死？宜仔細也。</p>
<p>多有人家女使、人力或外人，於家中自縊；其人不曉法，避見臭穢及避檢驗，遂移屍出外吊掛。舊痕移動，致有兩痕：舊痕紫赤，有血廕；移動痕只白色無血廕。移屍事理甚分明，要公行根究，開坐生前與死後痕。蓋移屍不過杖罪，若漏落不具，覆檢官不相照應，申作兩痕，官司必反見疑，益重干連人之禍。</p>
<p>屍首日久壞爛，頭吊在上，屍側在地，肉潰見骨。但驗所弔頭，其繩若入槽（謂兩耳連頷下深向骨本者）及驗兩手腕骨、頭腦骨皆赤色者是。（一云齒赤色，及十指尖骨赤色者是）</p>

<h2>二十·被打勒死假作自縊</h2>
<p>自縊、被人勒殺或算殺假作自縊，甚易辨。真自縊者，用繩索、帛之類繫縛處，交至左右耳後，深紫色。眼合、唇開、手握、齒露。縊在喉上，則舌抵齒；喉下，則舌多出。胸前有涎滴沫，臀後有糞出。若被人打勒殺，假作自縊，則口眼開、手散、發慢。喉下血脈不行，痕跡淺淡。舌不出，亦不抵齒。項上肉有指爪痕，身上別有致命傷損去處。</p>
<p>惟有生勒未死間，即時吊起，詐作自縊，此稍難辨。如跡狀可疑，莫若檢作勒殺，立限捉賊也。</p>
<p>凡被人隔物，或窗欞或林木之類勒死，偽作自縊，則繩不交。喉下痕多平過，卻極深，黑黯色，亦不起於耳後髮際。</p>
<p>絞勒喉下死者，結締在死人項後。兩手不垂下，縱垂下亦不直。項後結交，卻有背倚柱等處，或把衫襟搊著，即喉下有衣衫領黑跡，是要害處氣悶身死。</p>
<p>凡檢被勒身死人，將項下勒繩索，或是諸般帶系，臨時仔細聲說，纏繞過遭數。多是於項後當正，或偏左、右系定，須有系不盡垂頭處。其屍合面地臥，為被勒時爭命，須是揉撲得頭髮或角子散慢，或沿身上有搕擦著痕。</p>
<p>凡被勒身死人，須看覷屍身四畔，有扎磨蹤跡去處。</p>
<p>又有死後被人用繩索系扎手腳及項下等處，其人已死，氣血不行，雖被繫縛，其痕不紫赤，有白痕可驗。死後繫縛者，無血廕，繫縛痕雖深入皮，即無青紫赤色，但只是白痕。</p>
<p>有用火篦烙成痕，但紅色或焦赤帶濕不幹。</p>

<h2>二十一·溺死</h2>
<p>若生前溺水屍首，男僕臥，女仰臥。頭面仰，兩手、兩腳俱向前。口合、眼開閉不定，兩手拳握。腹肚脹，拍著響。（落水則手開，眼微開，肚皮微脹。投水則手握，眼合，腹內急脹）兩腳底皺白，不脹。頭髻緊。頭與髮際、手腳爪縫或腳著鞋則鞋內各有沙泥。口鼻內有水沫，及有些小淡色血汙，或有搕擦損處，此是生前溺水之驗也。（蓋其人未死必須爭命，氣脈往來，搐水入腸，故兩手自然拳曲，腳罅縫各有沙泥，口鼻有水沫流出，腹內有水脹也）</p>
<p>若檢覆遲，即屍首經風日吹曬，遍身上皮起，或生白疱。</p>
<p>若身上無痕，面色赤，此是被人倒提水搵死。</p>
<p>若屍面色微赤，口鼻內有泥水沫，肚內有水，腹肚微脹，真是淹水身死。</p>
<p>若因病患溺死，則不計水之深淺可以致死，身上別無它故。</p>
<p>若疾病身死，被人拋掉在水內，即口鼻無水沫，肚內無水，不脹，面色微黃，肌肉微瘦。</p>
<p>若因患倒落泥渠內身死者，其屍口眼開，兩手微握，身上衣裳並口、鼻、耳、髮際並有青泥汙者，須脫下衣裳，用水淋洗，酒噴其屍；被泥水淹浸處即肉色微白，肚皮微脹，指甲有泥。</p>
<p>若被人毆打殺死，推在水內，入深則脹，淺則不甚脹。其屍肉色帶黃不白，口眼開、兩手散，頭髮寬慢。肚皮不脹，口、眼、耳、鼻無水瀝流出，指爪罅縫並無沙泥，兩手不拳縮，兩腳底不皺白卻虛脹。身上有要害致命傷損處，其痕黑色，屍有微瘦。臨時看驗，若檢得身上有損傷處，錄其痕跡，雖是投水，亦合押合幹人赴官司推究。</p>
<p>諸自投井、被人推入井、自失腳落井，屍首大同小異。皆頭目有被磚石磕擦痕，指甲、毛髮有沙泥，腹脹，側覆臥之則口內水出，別無他故，只作落井身死，即投井、推入在其間矣。所謂落井，小異者：推入與自落井則手開、眼微開，腰身間或有錢物之類；自投井則眼合、手握，身間無物。</p>
<p>大凡有故入井，須腳直下；若頭在下，恐被人趕逼，或它人推送入井。若是失腳，須看失腳處土痕。</p>
<p>自投河、被人推入河，若水稍深闊，則無磕擦沙泥等事；若水淺狹，亦與投井、落井無異。大抵水深三、四尺，皆能淹殺人；驗之果無它故，只作落水身死。則自投、推入在其間矣。若身有繩索及微有痕損可疑，則宜檢作被人謀害置水身死。不過立限捉賊，切勿恤一捕限，而貽罔測之憂。</p>
<p>諸溺河池，（行運者謂之河，不行運者謂之池）檢驗之時，先問原申人：早晚見屍在水內？見時便只在今處？或自漂流而來？若是漂流而來，即問是東西南北？又如何流到此便住？如何申官？如稱見其人落水，即問：當時曾與不曾救應？若曾救應，其人未出水時已死，或救應上岸才死？或即申官，或經幾時申官？</p>
<p>若在江河、陂潭、池塘間，難以打量四至，只看屍所浮在何處。如未浮，打撈方出，聲說在何處打撈見屍。池塘或坎阱有水處可以致命者，須量見淺深丈尺，坎阱則量四至。江河、陂潭屍起浮或見處地岸，並池塘、坎阱系何人所管？地名何處？</p>
<p>諸溺井之人，檢驗之時，亦先問原申人：如何知得井內有人？初見有人時，其人死未；既知未死？因何不與救應？其屍未浮，如何知得井內有人？若是屋下之井，即問身死人自從早晚不見？卻如何知在井內？凡井內有人，其井內自然先有水沫，以此為驗。</p>
<p>量井之四至，系何人地上？其地名甚處？若溺屍在底，則不必量，但約深若干丈尺，方摝屍出。</p>
<p>屍在井內滿脹，則浮出尺余，水淺則不出。若出，看頭或腳在上、在下，先量尺寸；不出，亦以丈竿量到屍近邊尺寸，亦看頭或腳在上、在下。</p>
<p>檢溺死之屍，水浸多日，屍首肨脹，難以顯見致死之因，宜申說：頭髮脫落、頭目肨脹、唇口番張，頭面連遍身上下皮血並皆一概青黑、褪皮。驗是本人在井或河內，死後水浸，經隔日數，致有此。今來無憑檢驗本人沿身有無傷損它故，又定奪年顏、形狀不得。只檢得本人口鼻內有沫，腹脹。驗得前件屍首委是某處水溺身死，其水浸更多日，無憑檢驗，即不用申說致命因依。</p>
<p>初春雪寒，經數日方浮，與春、夏、秋、末不侔。</p>
<p>凡溺死之人，若是人家奴婢或妻女，未落水先已曾被打，在身有傷；今次又的然見得是自落水，或投井身死，于格目內亦須分明具出傷痕，定作被打復溺水身死。</p>
<p>投井死人如不曾與人交爭，驗屍時面目頭額，有利刃痕，又依舊帶血似生前痕，此須看井內有破瓷器之屬，以致傷著。人初入井時，氣尚未絕，其痕依舊帶血，若驗作生前刃傷，豈不利害。</p>

<h1>卷之四</h1>

<h2>二十二·驗他物及手足傷死</h2>
<p>律云：見血為傷。非手足者其餘皆為他物，即兵不用刃亦是。</p>
<p>傷損條限：手足十日，他物二十日。</p>
<p>鬥訟勅：諸齧人者，依他物法。</p>
<p>元符敕申明《刑統》：以靴鞋踢人傷，從官司驗定：堅硬，即從他物；若不堅硬，即難作他物例。</p>
<p>或額、肘、膝拶，頭撞致死，並作他物傷痕。</p>
<p>諸他物是：鐵鞭、尺、斧頭、刀背、木杆、棒、馬鞭、木柴、磚、石、瓦、粗布鞋、衲底鞋、皮鞋、草鞋之類。</p>
<p>若被打死者，其屍口眼開，髮髻亂，衣服不齊整，兩手不拳，或有溺汙內衣。</p>
<p>若在辜限外死，須驗傷處是與不是在頭，及因破傷風灌注致命身死。</p>
<p>應驗他物及手足毆傷痕損，須在頭面上、胸前、兩乳、脅肋傍、臍腹間、大小便二處，方可作要害致命去處。手足折損亦可死，其痕周匝有血廕，方是生前打損。</p>
<p>諸用他物及頭額、拳手、腳足、堅硬之物撞打痕損顏色，其至重者紫黯微腫，次重者紫赤微腫，又其次紫赤色，又其次青色。其出限外痕損者，其色微青。</p>
<p>凡他物打著，其痕即斜長或橫長；如拳手打著，即方圓；如腳足踢，比如拳手（寸）〔手〕分寸較大。（凡傷痕大小定作（掌）〔拳〕足他物，當以上件物比定，方可言分寸）凡打著兩日身死，分寸稍大，毒氣蓄積向里，可約得一兩日後身死；若是打著當下身死，則分寸深重，毒氣紫黑，即時向里，可以當下身死。</p>
<p>諸以身去就物謂之磕。雖著，無破處，其痕方圓；雖破，亦不至深。其被他物及手足傷，皮雖傷而血不出者，其傷痕處有紫赤暈。</p>
<p>凡行凶人若用棒杖等行打，則多先在實處。其被傷人或經一、兩時辰，或一、兩日，或三、五日，以至七、八日，十餘日身死。又有用堅硬他物行打，便致身死者，更看痕跡輕重。若是先驅捽被傷人頭髻，然後散拳踢打，則多在虛怯要害處，或一拳一腳便致命。若因腳踢著要害處致命，切要仔細驗認行凶人腳上有無鞋履，防日後問難。</p>
<p>凡他物傷，若在頭腦者，其皮不破，即須骨肉損也。若在其他虛處，即臨時看驗。若是屍首左邊損，即是凶身行右物致打順故也；若是右邊損，即損處在近後，若在右前，即非也；若在後，即又慮凶身自後行他物致打。貴在審之無失。</p>
<p>看其痕大小，量見分寸。又看幾處皆可致命，只指一重害處，定作虛怯要害致命身死。</p>
<p>打傷處皮膜相離，以手按之即響，以熱醋罨（罨）〔之〕則有痕。</p>
<p>凡被打傷殺死人，須定最是要害處致命身死。若打折腳手，限內或限外死時，要詳打傷分寸闊狹，後定是將養不較致命身死。面顏歲數，臨時聲說。</p>
<p>凡驗他物及拳、踢痕，細認斜長、方圓，皮有微損。未洗屍前，用水灑濕，先將蔥白搗爛塗，後以醋糟，候一時，除，以水洗，痕即出。</p>
<p>若將櫸木皮罨成痕，假作他物痕，其痕內爛損黑色，四圍青色，聚成一片而無虛腫，捺不堅硬。</p>
<p>又有假作打死，將青竹篦火燒烙之，卻只有焦黑痕，又淺而光平。更不堅硬</p>

<h2>二十三·自刑</h2>
<p>凡自割喉下死者，其屍口眼合，兩手拳握，臂曲而縮，（死人用手把定刃物，似作力勢，其手自然拳握）肉色黃，頭髻緊。</p>
<p>若用小刀子自割，只可長一寸五分至二寸；用食刀，即長三寸至四寸以來；若用瓷器，分數不大。逐件器刃自割，並下刃一頭尖小，但傷著氣喉即死。</p>
<p>若將刃物自斡著喉下、心前、腹上、兩脅肋、太陽、頂門要害處，但傷著膜，分數雖小即便死；如割斡不深，及不繫要害，雖三兩處，未得致死。</p>
<p>若用左手，刃必起自右耳後，過喉一、二寸；用右手，必起自左耳後。傷在喉骨上難死，蓋喉骨堅也；在喉骨下易死，蓋喉骨下虛而易斷也。其痕起手重，收手輕。（假如用左手把刃而傷，則喉右邊下手處深，左邊收刃處淺，其中間不如右邊。蓋下刃太重，漸漸負痛縮手，因而輕淺，及左手須似握物是也。右手亦然）</p>
<p>凡自割喉下，只是一出刀痕。若當下身死時，痕深一寸七分，食系、氣系並斷；如傷一日以下身死，深一寸五分，食系斷，氣系微破；如傷三、五日以後死者，深一寸三分，食系斷。須頭髻角子散慢。</p>
<p>更看其人面愁而眉皺，即是自割之狀。（此亦難必）</p>
<p>若自用刀剁下手並指節者，其皮頭皆齊，必用藥物封扎。雖是刃物自傷，必不能當下身死，必是將養不較致死。其痕肉皮頭卷向里，如死後傷者，即皮不卷向里，以此為驗。</p>
<p>又有人因自用口齒咬下手指者，齒內有風著於痕口，多致身死，少有生者。其咬破處瘡口一道，周迥骨折必有膿水淹浸，皮肉損爛，因此將養不較，致命身死。其痕有口齒跡，及有皮血不齊去處。</p>
<p>驗自刑人，即先問原申人：其身死人是何色目人？自刑時或早或晚？用何刃物？若有人來認識，即問：身死人年若干？在生之日使左手、使右手？如是奴婢，即先討契書看，更問：有無親戚？及已死人使左手、使右手？並須仔細看驗痕跡去處。</p>
<p>更須看驗，在生前刃傷即有血行，死後即無血行。</p>

<h2>二十四·殺傷</h2>
<p>凡被人殺傷死者，其屍口眼開，頭髻寬或亂，兩手微握，所被傷處要害分數較大，皮肉多卷凸。若透膜，腸臟必出。</p>
<p>其被傷人，見行凶人用刃物來傷之時，必須爭競，用手來遮截，手上必有傷損。或有來護者，亦必背上有傷著處。若行凶人於虛怯要害處一刃直致命者，死人手上無傷，其瘡必重。若行凶人用刃物斫著腦上、頂門、腦角、後髮際，必須斫斷頭髮，如用刀剪者。若頭頂骨折，即是尖物刺著，須用手捏著其骨損與不損。</p>
<p>若尖刃斧痕，上闊長，內必狹。大刀痕，淺必狹，深必闊。刀傷處，其痕兩頭尖小，無起手、收手輕重。槍刺痕，淺則狹，深必透竿，其痕帶圓。或只用竹槍、尖竹擔斡著要害處，瘡口多不齊整，其痕方圓不等。</p>
<p>凡驗被快利物傷死者，須看原著衣衫有無破傷處，隱對痕，血點可驗。又如刀剔傷，腸肚出者，其被傷處，須有刀刃撩劃三兩痕。且一刀所傷，如何卻有三兩痕？蓋凡人腸臟盤在左右脅下，是以撩划著三兩痕。</p>
<p>凡檢刀槍刃斫剔，須開說：屍在甚處？向當著甚衣服？上有無血跡？傷處長、闊、深分寸，透肉不透肉？或腸肚出，膋膜出，作致命處。仍檢刃傷衣服穿孔。如被竹槍、尖物剔傷致命，便說：尖硬物剔傷致死。</p>
<p>凡驗殺傷，先看是與不是刀刃等物，及生前死後痕傷。如生前被刃傷，其痕肉闊，花文交出；若肉痕齊截，只是死後假作刃傷痕。</p>
<p>如生前刃傷，即有血汁，及所傷痕瘡口皮肉血多花鮮色，所損透膜即死。若死後用刀刃割傷處，肉色即乾白，更無血花也。（蓋人死後血脈不行，是以肉色白也）</p>
<p>此條仍責取行人定驗，是與不是生前、死後傷痕。</p>
<p>活人被刃殺傷死者，其被刃處皮肉緊縮，有血廕四畔。若被支解者，筋骨皮，肉稠黏，受刃處皮肉[緊縮]骨露。</p>
<p>死人被割截，屍首皮肉如舊，血不灌廕，被割處皮不緊縮刃盡處無血流，其色白。</p>
<p>蹤痕下有血，洗檢擠捺，肉內無清血出，即非生前被刃。</p>
<p>更有截下頭者，活時斬下，筋縮入；死後截下，項長，並不伸縮。</p>
<p>凡檢驗被殺身死屍首，如是尖刃物，方說被刺要害；若是齊頭刃物，即不說刺字。如被傷著肚上、兩肋下、或臍下，說長闊分寸後，便說斜深透內，脂膜、肚腸出，有血汙，驗是要害被傷割處致命身死。若是傷著心前、肋上，只說斜深透內，有血汙，驗是要害致命身死。如傷著喉下，說深至項，鎖骨損，兼周迥所割得有方圓不齊去處，食系、氣系並斷，有血汙，致命身死可說要害處。如傷著頭面上或太陽穴、腦角、後髮際內，如行凶人刃物大，方說骨損；若腦漿出時有血汙，亦定作要害處致命身死。如斫或刺著沿身不拘那裡，若經隔數日後身死，便說將養不較致命身死。</p>
<p>凡驗被殺傷人，未到驗所，先問原申人：曾與不曾收捉得行凶人？是何色目人？使是何刃物？曾與不曾收得刃物？如收得，取索看大小，著紙畫樣；如不曾收得，則問刃物在甚處？亦令原申人畫刃物樣。畫訖，令原申人於樣下書押字。更問原申人：其行凶人與被傷人是與不是親戚？有無冤仇？</p>

<h2>二十五·屍首異處</h2>
<p>凡驗屍首異處，勒家屬先辨認屍首。務要仔細打量屍首頓處四至。訖，次量首級離屍遠近，或左、或右，或去肩腳若干尺寸。支解手臂、腳腿，各量別計，仍各寫相去屍遠近。卻隨其所解肢體與屍相湊，提捧首與項相湊。圍量分寸一般，系刃物斫落。若項下皮肉卷凸，兩肩井聳皮𤿫，系生前斫落；皮肉不卷凸，兩肩井不聳𤿫，系死後斫落。</p>

<h2>二十六·火死</h2>
<p>凡生前被火燒死者，其屍口鼻內有菸灰，兩手腳皆拳縮。（緣其人未死前被火逼奔掙，口開氣脈往來，故呼吸菸灰入口鼻內）若死後燒者，其人雖手足拳縮，口內即無煙灰。若不燒著兩肘骨及膝骨，手腳亦不拳縮。</p>
<p>若因老病失火燒死，其屍肉色焦黑或卷，兩手拳曲，臂曲在胸前，兩膝亦曲。口眼開，或咬齒及唇，或有脂膏黃色突出皮肉。</p>
<p>若被人勒死拋掉在火內，頭髮焦黃，頭面、渾身燒得焦黑，皮肉搐皺，並無揞漿㿹皮去處，項下有被勒著處痕跡。</p>
<p>又若被刀殺死，卻作火燒死者，勒仵作拾起白骨，扇去地下灰塵，於屍首下淨地上，用釅米醋酒潑，若是殺死，即有血入地，鮮紅色。須先問屍首生前宿臥所在，卻恐殺死後移屍往他處，即難驗屍下血色。</p>
<p>大凡人屋，或瓦或茅蓋，若被火燒，其死屍在茅瓦之下。或因與人有仇，乘勢推入燒死者，其死屍則在茅瓦之上。兼驗頭足，亦有向至。</p>
<p>如屍被火化盡，只是灰，無條段骨殖者，勒行人、鄰證供狀：緣上件屍首或失火燒燬，或被人燒燬，即無骸骨存在，委是無憑檢驗。方與備申。</p>
<p>凡驗被火燒死人，先問原申人：火從何處起？火起時其人在甚處？因甚在彼？被火燒時曾與不曾救應？仍根究曾與不曾與人作鬧？見得端的，方可檢驗。</p>
<p>或檢得頭髮焦拳，頭面連身一概焦黑。宜申說：今來無憑檢驗本人沿身上下有無傷損他故，及定奪年顏形狀不得。只檢得本人口鼻內有無灰燼，委是火燒身死。如火燒深重，實無可憑，即不要說口鼻內灰燼。</p>

<h2>二十七·湯潑死</h2>
<p>凡被熱湯潑傷者，其屍皮肉皆拆，皮脫，白色。著肉者，亦白，肉多爛赤。</p>
<p>如在湯火內，多是倒臥，傷在手足、頭面、胸前。如因鬥打，或頭撞、腳踏、手推在湯火內，多是兩後䐐與臀腿上或有打損處，其疱不甚起，與其他所燙不同。</p>

<h2>二十八·服毒</h2>
<p>凡服毒死者，屍口眼多開，面紫黯或青色，唇紫黑，手、足指甲俱青黯，口、眼、耳、鼻間有血出。甚者，遍身黑腫，面作青黑色，唇捲髮疱，舌縮或裂拆爛腫微出，唇亦爛腫或裂拆，指甲尖黑，喉腹脹作黑色生疱，身或青斑，眼突，口、鼻、眼內出紫黑血，鬚髮浮不堪洗，未死前須吐出惡物或瀉下黑血，穀道腫突，或大腸穿出。</p>
<p>有空腹服毒，惟腹肚青脹，而唇、指甲不青者；亦有食飽後服毒，惟唇、指甲青而腹肚不青者；又有腹臟虛弱老病之人，略服毒而便死，腹肚、口唇、指甲並不青者，卻須參以他證。</p>
<p>生前中毒而遍身作青黑，多日，皮肉尚有，亦作黑色。若經久，皮肉腐爛見骨，其骨黲黑色。</p>
<p>死後將毒藥在口內假作中毒，皮肉與骨只作黃白色。</p>
<p>凡服毒死或時即發作，或當日早晚；若其藥慢，即有一日或二日發。或有翻吐或吐不絕。仍須於衣服上尋余藥，及死屍坐處尋藥物器皿之類。</p>
<p>中蟲毒，遍身上下、頭面、胸心並深青黑色，肚脹或口內吐血，或糞門內瀉血。</p>
<p>鼠莽草毒，（江南有之）亦類中蟲，加之唇裂，齒齦青黑色，此毒經一宿一日，方見九竅有血出。食果實、金石藥毒者，其屍上下或有一二處赤腫，有類拳手傷痕，或成大片青黑色，爪甲黑，身體肉縫微有血，或腹脹，或瀉血。</p>
<p>酒毒，腹脹或吐、瀉血。</p>
<p>砒霜、野葛毒，得一伏時，遍身發小疱，作青黑色，眼睛聳出，舌上生小刺、疱綻出，口唇破裂，兩耳脹大，腹肚膨脹，糞門脹綻，十指甲青黑。</p>
<p>金蠶蠱毒，死屍瘦劣，遍身黃白色，眼睛塌，口齒露出，上下唇縮，腹肚塌。將銀釵驗作黃浪色，用皂角水洗不去。</p>
<p>一云如是，隻身體脹，皮肉似湯火疱起，漸次為膿，舌頭、唇、鼻皆破裂，乃是中金蠶蠱毒之狀。</p>
<p>手腳指甲及身上青黑色，口鼻內多出血，皮肉多裂，舌與糞門皆露出，乃是中藥毒、菌蕈毒之狀。</p>
<p>如因吐瀉瘦弱，皮膚微黑不破裂，口內無血與糞門不出，乃是飲酒相反之狀。</p>
<p>若驗服毒，用銀釵皂角水揩洗過，探入死人喉內，以紙密封，良久取出，作青黑色。再用皂角水揩洗，其色不去；如無，其色鮮白。</p>
<p>如服毒中毒死人，生前吃物壓下入腸臟內，試驗無證，即自穀道內試，其色即見。</p>
<p>凡檢驗毒死屍，間有服毒已久，蘊積在內，試驗不出者，須先以銀或銅釵探入死人喉，訖，卻用熱糟醋自下罨洗，漸漸向上，須令氣透，其毒氣熏蒸，黑色始現。如便將熱糟醋自上而下，則其毒氣逼熱氣向下，不復可見。或就糞門上試探，則用糟醋當反是。</p>
<p>又一法，用大米或占（黏）米三升炊飯，用淨糯米一升淘　洗了，用布袱　盛，就所炊　飯上炊饙。取雞子一個（鴨子亦可）打破，取白拌糯米飯，令勻。依前袱起，著在前大米、占（黏）米飯上。以手三指緊握糯米飯如鴨子大，毋令冷，急開屍口，齒外放著。及用小紙三、五張，搭遮屍口、耳、鼻、臀、陰門之處。仍用新綿絮三、五條，釅醋三、五升，用猛火煎數沸，將綿絮放醋鍋內煮半時，取出。仍用糟盤罨屍，卻將綿絮蓋覆。若是死人生前被毒，其屍即腫脹，口內黑臭，惡汁噴來綿絮上，不可近。後除去綿絮，糯米飯被臭惡之汁，亦黑色而臭，此是受毒藥之狀；如無，則非也。試驗糯米飯封起，申官府之時，分明開說。此檢驗訣，曾經大理寺看定。</p>
<p>廣南人小有爭怒，賴人，自服胡蔓草，一名斷腸草，形如阿魏，葉長尖，條蔓生，服三葉以上即死。乾者，或收藏經久，作末食亦死。如方食未久，將大糞汁灌之，可解。其草近人則葉動，將嫩葉心浸水，涓滴入口即百竅潰血。其法：急取抱卵不生雞兒，細研和麻油，開口灌之，乃盡吐出惡物而蘇，如少遲無可救者。</p>

<h2>二十九·病死</h2>
<p>凡因病死者，形體羸瘦，肉色痿黃，口眼多合，腹肚多陷，兩眼通黃，兩拳微握，髮髻解脫，身上或有新舊針灸瘢痕，余無他故，即是因病死。</p>
<p>凡病患求乞在路死者，形體瘦劣，肉色痿黃，口眼合，兩手微握，口齒焦黃，唇不著齒。</p>
<p>邪魔中風卒死，屍多肥，肉色微黃，口眼合，頭髻緊，口內有涎沫，遍身無他故。</p>
<p>卒死，肌肉不陷，口鼻內有涎沫，面色紫赤。蓋其人未死時，涎壅於上，氣不宣通，故面色及口鼻如此。</p>
<p>卒中死，眼開睛白，口齒開，牙關緊，間有口眼喎斜，並口兩角、鼻內涎沫流出，手腳拳曲。</p>
<p>中暗風，屍必肥，肉多滉白色，口眼皆閉，涎唾流溢。卒死於邪祟，其屍不在於肥瘦，兩手皆握，手足爪甲多青。或暗風如發驚搐死者，口眼多喎斜，手足必拳縮，臂腿手足細小，涎沫亦流。（以上三項大略相似，更須檢時仔細分別）</p>
<p>傷寒死，遍身紫赤色，口眼開有紫汗流，唇亦微綻，手不握拳。</p>
<p>時氣死者，眼開口開，遍身黃色，量有薄皮起，手足俱伸。</p>
<p>中暑死，多在五、六、七月，眼合，舌與糞門俱不出，面黃白色。</p>
<p>凍死者，面色痿黃，口內有涎沫，牙齒硬，身直，兩手緊抱胸前，兼衣服單薄。檢時，用酒醋洗，得少熱氣，則兩腮紅，面如芙蓉色。口有涎沫出，其涎不黏，此則凍死證。</p>
<p>飢餓死者，渾身黑瘦，硬直、眼閉、口開，牙關緊禁，手腳俱伸。</p>
<p>或疾病死，值春、夏、秋初，申得遲，經隔兩三日，肚上、臍下、兩脅肋骨縫，有微青色；此是病人死後，經日變動，腹內穢汙發作，攻注皮膚，致有此色。不是生前有他故，切宜仔細。</p>
<p>凡驗病死之人，才至檢所，先問原申人：其身死人來自何處？幾時到來？幾時得病？曾與不曾申官取責口詞？有無人識認？如收得口詞，即須問：原患是何疾病？年多少？病得幾日方申官取問口詞？既得口詞之後幾日身死？如無口詞，則問：如何取口詞不得？若是奴婢，則須先討契書看，問：有無親戚？患是何病？曾請是何醫人？吃甚藥？曾與不曾申官取口詞？如無，則問不責口詞因依；然後，對眾證定。如別無它故，只取眾定驗狀，稱說：遍身黃色，骨瘦，委是生前因患是何疾致死。仍取醫人定驗疾色狀一紙。如委的眾證因病身死分明，原初雖不曾取責口詞，但不是非理致死，不須牒請覆驗。</p>

<h2>三十·針灸死</h2>
<p>須勾醫人驗針灸處，是與不是穴道；雖無意致殺，亦須說顯是針灸殺，亦可科醫不應為罪。</p>

<h2>三十一·札口詞</h2>
<p>凡抄札口詞，恐非正身，或以它人偽作病狀，代其飾說，一時不可辨認，合於所判狀內云：日後或死亡，申官從條檢驗。庶使豪強之家預知所警。</p>

<h1>卷之五</h1>

<h2>三十二·驗罪囚死</h2>
<p>凡驗諸處獄內非理致死囚人，須當徑申提刑司，即時入發𮞏鋪。</p>

<h2>三十三·受杖死</h2>
<p>定所受杖處瘡痕闊狹，看陰囊及婦人陰門並兩脅肋、腰、</p>
<p>小腹等處有無血廕痕。小杖痕，左邊橫長三寸，闊二寸五分；右邊橫長三寸五分，闊三寸。各深三分。</p>
<p>大杖痕，左、右各方圓三寸至三寸五分，各深三分。各有膿水，兼瘡周迴亦有膿水淹浸、皮肉潰爛去處。</p>
<p>背上杖瘡，橫長五寸，闊三寸，深五分。如日淺時，宜說：兼瘡周迴有毒氣攻注青赤、㿹皮、緊硬去處。如日數多時，宜說：兼瘡周迴亦有膿水淹浸、皮肉潰爛去處，將養不較致命身死。</p>
<p>又有訊腿杖，而荊杖侵及外腎而死者，尤須細驗。</p>

<h2>三十四·跌死</h2>
<p>凡從樹及屋臨高跌死者，看枝柯掛𢯌所在，並屋高低，失腳處蹤跡，或土痕高下，及要害處須有抵隱或物擦磕痕瘢。若內損致命痕者，口、眼、耳、鼻內定有血出；若傷重分明，更當仔細驗之。仍量撲落處高低丈尺。</p>

<h2>三十五·塌壓死</h2>
<p>凡被塌壓死者，兩腿𤿫出，舌亦出，兩手微握，遍身死血淤紫黯色，或鼻有血或清水出。傷處有血廕赤腫，皮破處四畔赤腫，或骨並筋皮斷折。須壓著要害，致命；如不壓著要害，不致死。死後壓即無此狀。</p>
<p>凡檢舍屋及牆倒石頭脫落壓著身死人，其屍沿身虛怯要害去處若有痕損，須說長闊分寸，作堅硬物壓痕，仍看骨損與不損。若樹木壓死，要見得所倒樹木斜傷著痕損分寸。</p>

<h2>三十六·外物壓塞口鼻死</h2>
<p>凡被人以衣服或濕紙搭口鼻死，則腹干脹。</p>
<p>若被人以外物壓塞口鼻，出氣不得後命絕死者，眼開，睛突，口鼻內流出清血水，滿面血廕赤黑色，糞門突出，及便溺汙壞衣服。</p>

<h2>三十七·硬物癮痁<span data-rev="校">（㼭）</span>死</h2>
<p>凡被外物癮痁死者，肋後有癮痁著紫赤腫，方圓三寸、四寸以來，皮不破，用手揣捏得筋<span data-rev="校">（肋）</span>骨傷損，此最為虛怯要害致命去處。</p>

<h2>三十八·牛馬踏死</h2>
<p>凡被馬踏死者，屍色微黃，兩手散，頭髮不慢，口鼻中多有血出，痕黑色。被踏要害處便死，骨折，腸臟出。若只築倒或踏不著要害處，即有皮破、癮赤黑痕，不致死。驢足痕小。</p>
<p>牛角觸著，若皮不破，傷亦赤腫。觸著處，多在心頭、胸前，或在小腹、脅肋，亦不可拘。</p>

<h2>三十九·車輪拶死</h2>
<p>凡被車輪拶死者，其肉色微黃，口眼開，兩手微握，頭髻緊。</p>
<p>凡車輪頭拶著處，多在心頭、胸前並兩脅肋。要害處便死，不是要害不致死。</p>

<h2>四十·雷震死</h2>
<p>凡被雷震死者，其屍肉色焦黃，渾身軟黑，兩手拳散，口開眼𤿫，耳後髮際焦黃，頭髻披散，燒著處皮肉緊硬而攣縮。身上衣服被天火燒爛。（或不火燒）傷損痕跡多在腦上及腦後。腦縫多開，鬢髮如焰火燒著。從上至下，時有手掌大片浮皮，紫赤，肉不損。胸、項、背、膊上或有似篆文痕。</p>

<h2>四十一·虎咬死</h2>
<p>凡被虎咬死者，屍肉色黃，口眼多開，兩手拳握，髮髻散亂，糞出，傷處多不齊整，有舌舐齒咬痕跡。</p>
<p>虎咬人，多咬頭項上，身上有爪痕𢯌損痕，傷處成窟，或見骨，心頭、胸前、臂腿上有傷處，地上有虎跡。勒畫匠畫出虎跡，並勒村甲及傷人處鄰人供責為證。（一云虎咬人，月初咬頭項，月中咬腹背，月盡咬兩腳，貓兒咬鼠亦然）</p>

<h2>四十二·蛇蟲傷死</h2>
<p>凡被蛇蟲傷致死者，其被傷處微有齧損黑痕，四畔青腫，有青黃水流，毒氣灌注，四肢身體光腫，面黑。如檢此狀，即須定作毒氣灌著甚處致死。</p>

<h2>四十三·酒食醉飽死</h2>
<p>凡驗酒食醉飽致死者，先集會首等，對眾勒仵作行人用醋湯洗檢。在身如無痕損，以手拍死人肚皮膨脹而響者，如此即是因酒食醉飽、過度（腹）脹[滿]心肺致死。仍取本家親的骨肉供狀，述死人生前常吃酒多少致醉；及取會首等狀：今來吃酒多少數目，以驗致死因依。</p>

<h2>四十四·醉飽後築踏內損死</h2>
<p>凡人吃酒食至飽，被築踏內損，亦可致死。其狀甚難明。其屍外別無他故，唯口、鼻、糞門有飲食並糞帶血流出。遇此形狀，須仔細體究，曾與人交爭，因而築踏。見人照證分明，方可定死狀。</p>

<h2>四十五·男子作過死</h2>
<p>凡男子作過太多，精氣耗盡，脫死於婦人身上者，真偽不可不察。真則陽不衰，偽者則痿。</p>

<h2>四十六·遺路死</h2>
<p>或是被打死者扛在路旁，耆正只申官作遺路死屍，須是仔細。如有痕跡，合申官多方體訪。</p>

<h2>四十七·死後仰臥停泊有微赤色</h2>
<p>凡死人項後、背上、兩肋、後腰、腿內、兩臂上、兩腿後、兩曲䐐、兩腳肚子上下有微赤色。</p>
<p>驗是本人身死後一向仰臥停泊，血脈墜下，致有此微赤色，即不是別緻他故身死。</p>

<h2>四十八·死後蟲鼠犬傷</h2>
<p>凡人死後被蟲鼠傷，即皮破無血，破處周迴有蟲鼠齧痕蹤跡，有皮肉不齊去處，若狗咬則痕跡粗大。</p>

<h2>四十九·發塚</h2>
<p>驗是甚向，墳圍長闊多少。被賊人開鋤，墳土狼藉，鍬鋤開深尺寸見板，或開棺見屍。勒所報人具出：死人原裝著衣服物色，有甚不見被賊人偷去。</p>

<h2>五十·驗鄰縣屍</h2>
<p>凡鄰縣有屍在山林荒僻處，經久損壞，無皮肉，本縣已作病死檢了，卻牒鄰縣覆。蓋為他前檢不明，於心未安，相攀覆檢。有如此類，莫若據直申：其屍見有白骨一副，手、足、頭全，並無皮肉、腸胃，驗是屍經多日，即不見得因何致死。所有屍骨未敢給付埋殯，申所屬施行。不可被公人紿作無憑檢驗。</p>
<p>凡被牒往他縣覆檢者，先具承牒時辰，起離前去事狀，申所屬官司，值夜止宿。及到地頭，次第取責干連人罪狀，致死今經幾日，方行檢驗。如經停日久，委的皮肉壞爛不任看驗者，即具仵作、行人等眾狀，稱：屍首頭、項、口、眼、耳、鼻、咽喉上下至心胸、肚臍、小腹、手腳等，並遍身上下屍脹臭爛，蛆蟲往來咂食，不任檢驗。如稍可驗，即先用水洗去浮蛆蟲，仔細依理檢驗。</p>

<h2>五十一·闢穢方</h2>
<p>〔三神湯〕　能闢死氣。</p>
<p>蒼朮（二兩。米泔浸兩宿，焙乾）　白朮（半兩）　甘草（半兩，炙）</p>
<p>上為細末。每服二錢，入鹽少許，點服。</p>
<p>〔闢穢丹〕　能闢穢氣。</p>
<p>麝香（少許）　細辛（半兩）　甘松（一兩）　川芎（二兩）</p>
<p>上為細末，蜜丸如彈子大，久窨為妙。每用一丸燒之。</p>
<p>〔蘇合香丸〕　每一丸含化，尤能辟惡。</p>

<h2>五十二·救死方</h2>
<p>若縊，從早至夜，雖冷亦可救；從夜至早，稍難。若心下溫，一日以上猶可救。不得截繩，但款款抱解放臥，令一人踏其兩肩，以手拔其發，常令緊。一人微微捻整喉嚨，依先以手擦胸上，散動之。一人磨搦臂足屈伸之，若已僵，但漸漸強屈之。又按其腹。如此一飯久，即氣從口出，復呼吸，眼開，勿苦勞動。又以少官桂湯及粥飲與之，令潤咽喉。更令二人以筆管吹其耳內，若依此救，無不活者。又法：緊用手罨其口，勿令通氣，兩時許，氣急即活。</p>
<p>又用皂角、細辛等分為末，如大豆許，吹兩鼻孔。</p>
<p>水溺一宿者尚可救，搗皂角以綿裹，納下部內，須臾，出水即活。</p>
<p>又屈死人兩足，著人肩上，以死人背貼生人背，擔走，吐出水即活。</p>
<p>又先打壁泥一堵，置地上，卻以死者仰臥其上，更以壁土覆之，止露口眼，自然水氣翕入泥間，其人遂蘇。洪丞相在鄱陽，有溺水者身僵氣絕，用此法救即蘇。</p>
<p>又炒熱沙覆死人面，上下著沙，只留出口、耳、鼻，沙冷濕又換，數易即蘇。</p>
<p>又醋半盞，灌鼻中。又綿裹石灰納下部中，水出即活。又倒懸，以好酒灌鼻中及下部。又倒懸解去衣，去臍中垢，令兩人以筆管吹其耳。又急解死人衣服，於臍上灸百壯。</p>
<p>暍死於行路上，旋以刀器掘開一穴，入水搗之，卻取爛漿以灌死者，即活。中暍不省人事者，與冷水吃即死。但且急取灶間微熱灰壅之，復以稍熱湯蘸手巾，熨腹脅間，良久甦醒。不宜便與冷物吃。</p>
<p>凍死，四肢直，口噤。有微氣者，用大鍋炒灰令暖，袋盛，熨心上，冷即換之。候目開，以溫酒及清粥稍稍與之。若不先溫其心，便以火炙，則冷氣與火爭必死。又用氈或藁薦卷之，以索系，令二人相對踏，令袞轉往來，如衦（古旱切，摩展衣也）氈法，候四肢溫即止。</p>
<p>魘死，不得用燈火照，不得近前，急喚多殺人。但痛咬其足跟及足拇指畔，及唾其面，必活。</p>
<p>魘不省者，移動些小臥處，徐徐喚之即省。夜間魘者，原有燈即存，原無燈切不可用燈照。又用筆管吹兩耳，及取病人頭髮二七莖，捻作繩，刺入鼻中。又鹽湯灌之。又研韭汁半盞灌鼻中，冬用根亦得。又灸兩足大拇指聚毛中三七壯。（聚毛乃腳指向上生毛處）又皂角末如大豆許，吹兩鼻內，得嚏則氣通，三四日者尚可救。</p>
<p>中惡客忤卒死，凡卒死或先病及睡臥間忽然而絕，皆是中惡也。用韭黃心於男左女右鼻內，刺入六七寸，令目間血出即活。視上唇內沿，有如粟米粒，以針挑破。又用皂角或生半夏末如大豆許，吹入兩鼻。又用羊屎燒煙燻鼻中。又綿浸好酒半盞，手按令汁入鼻中，及提其兩手，勿令驚，須臾即活。又灸臍中百壯，鼻中吹皂角末，或研韭汁灌耳中。又用生菖蒲，研取汁一盞，灌之。</p>
<p>殺傷，凡殺傷不透膜者，乳香、沒藥各一皂角子大，研爛，以小便半盞、好酒半盞同煎，通（口）[溫]服。然後用花蕊石散或烏賊魚骨或龍骨為末，敷瘡口上立止。</p>
<p>推官宋瑑定驗兩處殺傷，氣偶未絕，亟令保甲，各取蔥白熱鍋炒熟，遍敷傷處。繼而呻吟，再易蔥，而傷者無痛矣。曾以語樂平知縣鮑旂。及再會，鮑曰：蔥白甚妙，樂平人好鬥，多傷。每有殺傷公事，未暇詰問，先將蔥白敷傷損處，活人甚多，大辟為之減少。出張聲道經驗方。</p>
<p>胎動不安。凡婦人因爭鬥胎不安，腹內氣刺痛、脹、上喘者：</p>
<p>川芎（一兩半）　當歸（半兩）</p>
<p>上為細末。每服二錢，酒一大盞，煎六分。炒生薑少許在內，尤佳。</p>
<p>又：用苧麻根一大把，淨洗，入生薑三五片，水一大盞，煎至八分，調粥飯與服。</p>
<p>驚怖死者，以溫酒一兩杯灌之，即活。</p>
<p>五絕及墮打卒死等，但須心頭溫暖，雖經日亦可救。先將死人盤屈在地上，如僧打坐狀，令一人將死人頭髮控放低，用生半夏末以竹筒或紙筒、筆管吹在鼻內，如活，卻以生薑自然汁灌之，可解半夏毒。（五絕者：產、魅、縊、壓、溺。治法：單方半夏一味）</p>
<p>卒暴、墮攧築倒及鬼魘死，若肉未冷，急以酒調蘇合香丸灌入口，若下喉去，可活。</p>

<h2>五十三·驗狀說</h2>
<p>凡驗狀，須開具：死人屍首原在甚處？如何頓放？彼處四至？有何衣服在彼？逐一各檢札名件。其屍首有無雕青、灸瘢？舊有何缺折肢體？及傴僂、拳跛、禿頭、青紫黑色紅痣、肉瘤、蹄踵諸般疾狀，皆要一一於驗狀聲載，以備證驗詐偽，根尋本原推勘；及有不得姓名人屍首，後有骨肉陳理者，便要驗狀證辨觀之。今之驗狀，若是簡略，具述不全，致妨久遠照用。況驗屍首，本緣非理、獄囚、軍人、無主死人，則委官定驗，兼官司信憑檢驗狀推勘，何可疏略？又況驗屍失當，致罪非輕。當是任者，切宜究之。</p>
