<header data-type="book">
<h1>醫賸</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>櫟蔭拙者</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1809">公元1809年跋</data></dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第十三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015283">國家圖書館掃描本</a>）；<a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00056/index.html">早稲田大学図書館掃描本</a></dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>神農嘗藥</h2>
<p>孟子。載為神農言者許行。而不言及醫藥。神農嘗百草制醫藥。世多引淮南子為證。余嘗考淮南文。殊不然矣。曰古者民茹草飲水。採樹木之實。食贏蠬之肉。時多疾病毒傷之害。於是神農乃教民播種五穀。相土地宜燥濕肥墝高下。嘗百草之滋味。水泉之甘苦。令民知所避就。當此之時。一日而遇七十毒。此其嘗百草。為別民之可食者。而非定醫藥也。乃神農之所以稱農也。陸賈新語曰。民人食肉飲血衣皮毛。至神農以為行蟲走獸。難以養民。乃求可食之物。嘗百草之實。察酸苦之味。教民食五穀。亦可以證矣。而其云神農定百藥者。昉見世本。（太平御覽引。）而鄭玄周禮注。神農子儀之術。蓋其說之來尚矣。而孔叢子云。伏羲嘗味百藥。乃在神農之前。楊朱云。五帝之事。如覺如夢。矧於三皇之事。要之不可知。亦不可窮而已。及讀劉青田醫說。曰。天地闢而人生蠢蠢焉。聖人出而後異於物。於是垂衣裳。造書契。作為舟車網罟弧矢杵臼之器。載在易經。不可誣也。凡可以前民用者。聖人無不為之。而況於醫乎。辨陰陽於毫毛。決死生於分寸。其用心之難。又豈直舟車網罟弧矢杵臼而已哉。吾固有以知其作於神農黃帝無疑也。此言極是。芸窗私志。至謂神農聞獸語而知藥。怪誕極矣。</p>

<h2>先天后天</h2>
<p>先天后天。在易則不過論大人之德矣。而干寶周禮注云。伏羲之易小成。為先天。神農之易中成。為中天。黃帝之易大成。為後天。似無謂焉。迨至宋儒。以伏羲之易為先天。以文王之易為後天。遂作之圖。最無謂也。元明以來。醫家亦立元氣先後天之目。牽強殊甚。然其理則固有焉。經云。真氣者所受於天。與穀氣並而充身也。</p>

<h2>三陰三陽</h2>
<p>太少陰陽。原是四時之稱。董仲舒云。春者少陽之選也。夏者太陽之選也。秋者少陰之選也。冬者太陰之選也。易乾鑿度云。易始於太極。太極分而為二。故生天地。天地有春秋冬夏之節。故生四時。虞翻解易則云。四象。四時也。而後世說易者。專用此論蓍策之數矣。以陽明厥陰。合稱三陰三陽者。醫家之言也。靈樞云。兩陰交盡。故曰厥陰。（王冰注素問云。厥。盡也。按厥。蹷同。漢食貨志。師古注。蹷。盡竭也。又按晏子云。陰冰厥陽。冰厚五寸。厥字。蓋與此同義也。）兩陰合於前。故曰陽明。而後世運氣家。強以此為天之六氣矣。</p>

<h2>內經之文似諸書</h2>
<p>余嘗著素問解題一篇。論其為漢人之作。證以前賢之數說。頃刀圭之暇。繙繹子史。文間有與此相似。古人雖不必剽襲。然足觀時世之所以令然。茲舉其一二。以證非典謨以前之筆矣。上古天真論云。美其食。任其服。樂其俗。老子八十章云。甘其食。美其服。安其居。樂其俗。又云。以酒為漿。漢書鮑宣傳。漿酒藿肉。四氣調神論云。渴而穿井。戰而鑄兵。晏子春秋云。臨難而遽鑄兵。噎而遽掘井。陰陽應象大論云。因其輕而揚之。因其重而減之。因其衰而彰之。呂氏春秋盡數篇云。精氣之來也。因輕而揚之。因走而行之。因美而良之。陰陽別論云。一陰一陽結。謂之喉痹。春秋繁露云。陰陽之動。使人足病喉痹。六節藏象論云。立端於始。表正於中。推余於終。而天度畢矣。文元年左傳云。先王之正時也。履端於始。舉正於中。歸餘於終。又云。草生五色。五色之變。不可勝視。草生五味。五味之美。不可勝極。孫子兵勢篇云。聲不過五。五聲之變。不可勝聽也。色不過五。五色之變。不可勝觀也。味不過五。五味之變。不可勝嘗也。（此語又見文子。）脈要精微論云。陰盛則夢涉大水恐懼。陽盛則夢大火燔灼。陰陽俱盛則夢相殺毀傷。上盛則夢飛。下盛則夢隨。甚飽則夢予。甚飢則夢取。列子穆王篇云。陰氣壯則夢涉大水而恐懼。陽氣壯則夢涉大火而燔焫。陰陽俱盛則夢生殺。甚飽則夢與。甚飢則夢取。氣穴論云。發蒙解惑。未足以論也。枚乘七發云。發蒙解惑。未足以言也。營衛生會篇云。上焦如霧。中焦如漚。下焦如瀆。白虎通引禮運記云。上焦如核。中焦如編。下焦如瀆。本神篇云。生之來。謂之精。兩精相搏。謂之神。隨神往來者。謂之魂。並精而出入者。謂之魄。所以任物者。謂之心。心有所憶。謂之意。意之所存。謂之志。因志而存變。謂之思。因思而遠慕。謂之慮。因慮而處物。謂之智。此一節。全見子華子。其他文勢語氣。類淮南者多。聶吉甫云。既非三代以前文。又非東都以後語。斷然以為淮南王之作。豈其然與。</p>

<h2>巫醫</h2>
<p>人而無恆。不可以作巫醫。蓋巫醫唯是醫已。周禮。有巫馬。即馬醫。汲塚周書。鄉立巫醫。具百藥以備疾災。畜五味以備百草。呂覽云。巫醫毒藥逐除治之。故古之人賤之。為其末也。後漢許楊。及王莽篡位。乃變姓名為巫醫。逃匿它界。皆非巫與醫之謂。山海經。開明東。有巫彭巫抵巫陽巫履巫幾巫相。郭璞注云。皆神醫也。世本曰。巫彭作醫。楚辭曰。帝告巫陽。又呂氏春秋。巫彭作醫。世本。巫咸堯臣也。以鴻術為帝堯之醫。說苑云。上古之為醫者。曰苗父。苗父之為醫也。以營為席。以芻為狗。北面而發十言耳。請扶而來。輿而來者。皆平復如故。素問有移精變氣論。上古之醫。必為祝由。則所以有巫醫之稱也。</p>

<h2>伊尹湯液</h2>
<p>皇甫謐甲乙經序云。伊尹以元聖之才。撰用神農本草。以為湯液。蓋伊尹負鼎。言負才也。乃謂庖人。遂作湯液。原出於卮寓。而後人取附會耳。素問。有湯液醪醴論。俞跗治病。不以湯液醪釃。並非湯藥之謂。而漢書藝文志。湯液經法十六卷。豈伊尹所作耶。活人書。桂枝加葛根湯方後云。伊尹湯液。桂枝湯中加葛根。今監本。用麻黃。誤矣。又衛生寶鑑伊尹湯液論云。大黃黃連瀉心湯三味。今監本無黃芩。脫落之也。所謂湯液。雖今無傳。其出於後人依託明矣。</p>

<h2>醫學</h2>
<p>晉以上無醫學之設。及劉宋元嘉二十年。太醫令秦承祖奏置醫學。以廣教授。後魏及隋。有太醫博士助教。唐貞觀三年九月。諸州置醫學。開元元年。諸州置助教。十一年諸州置醫學博士。宋醫學隸大常寺。神宗時始置提舉判局官。及教授一人。學生三百人。政和五年正月。州縣置醫學。元世祖中統二年夏五月。太醫院使王猷吉。言醫學久廢。後進無所師授。竊恐朝廷一時取人。學非其傳。為害甚大。乃遣副使王安仁。授以金牌。往諸路設立醫學。吳澄宜黃縣三皇廟記云。醫有學。學有廟。廟以祀三皇。肇自皇元。前所未有也。夫上古聖人。繼天心。立民命。開物創法。以為天下利。至於今賴之者。莫如三皇也。然歷代以來。未聞立廟以祀。唐天寶間。制立三皇廟。與五帝廟同置。命有司以時祭享。蓋曰祠古聖云爾。非如今日醫學之專廟特祭也。當今路州府縣儒學。有孔子廟。皆因其舊。醫學立三皇廟。與儒學孔子廟等。則新制也。乃知醫學之制。至於元而始備矣。明初置醫學提舉司。設提舉副提舉醫學教授學生官醫提領等官。尋改為太醫監。設少監監丞。吳元年。改監為院。設院使同知院判典簿等官。而各地醫學。府正科一人。州典科一人。縣訓科一人。然似不如元之重醫學也。故丘濬大學衍義補云。今世之業醫者。挾伎以診療者有之矣。求其從師以講習者何鮮也。我太祖內設太醫院。外設府州縣醫學。醫而以學為名。蓋欲聚其人以斅。學既成功而試之。然後授以一方衛生之任。由是進人。以為國醫。其嘉惠天下生民也至矣。臣願究成周所以謂之醫師。國朝所以立為醫學之故。情擇使判以上官。聚天下習醫者。俾其教之養之。讀軒岐之言。研張孫之枝。試之通而後授之職。因其長而專其業。稽其事以制其祿。則天下之人。皆無夭閼之患。而躋仁壽之域矣。是亦王者仁政之一端也。今依此言而推之。當時醫學之衰廢。可以知也。而嘉靖十五年。建聖濟殿於文華殿後。以祀先醫。二十二年。從侍醫之請。又建景惠殿於太醫院。以祀先醫。令大臣春秋主祀。蓋未始於醫學建三皇廟也。清因之。雍正元年。覆准行文直省巡撫。查所屬醫生。詳加考試。課有類經註釋本草綱目。傷寒論三書者。指名題請。授為醫學官教授。每省設立一員。准其食俸三年。如果勤慎端方。貢入太醫院。授為御醫。凡所屬州縣衛習醫人。令其訪明考試。即將三書教習。有精通醫理者。呈報巡撫。給咨太醫院考試。上者授以吏目醫士等官。其有年力不能赴京者。留為本省教授待缺。其致祭三皇於太醫院之景惠殿。順治元年定。（儀注詳出會典。）然醫學之制。未得其詳。享和癸亥冬。蘇門民醫胡振兆新。來寓於崎岙。因使譯官問之。胡乃覆曰。儒學者設立教官。專管在學諸生。衙署學宮之傍。凡讀書人。考取秀才。則知府知縣。送入學內。教官迎進。拜孔聖。後即拜教官。為老師。所謂進學之稱也。醫學者不過本地醫家。寒士寂寞。官長強點充任。雖名醫官。實以備承應傳喚。兼治罪犯之人。每年俸谷無多。仍可在家診治。並無學宮。亦不課教子弟。蓋閭閻醫士。一切衙門。俱不承應。俱讀書人為多。官長延請。須用名帖。所以醫學之不屑為也。三皇廟者寺院也。非學也。有道士承應供奉。醫家朔望進香。此蓋就蘇門一地而言之。如兩直隸。恐不如此也。</p>

<h2>三皇廟</h2>
<p>洪武四年詔曰。三皇繼天立極。開萬世教化之原。汨於藥師可乎。天下郡縣。毋得褻祀。而至嘉靖二十二年。建三皇廟於太醫院北。名景惠殿。又至隆慶四年。禮部侍郎王希烈建言。三皇既祀於歷代帝王廟。又祀於文華東室。乃又雜之醫師。使共俎豆。不亦瀆且褻乎。且官廨中。止宜有祠。不宜有殿。穆宗不欲改先帝之制。報罷。萬曆十八年。詹景鳳修南京太醫院三皇廟。謂三皇之稱。於醫無取。更額曰聖醫廟。事詳於其所匯刻醫學集覽序。按聖醫廟之稱。為協其實焉。然今清朝。猶仍元明之舊制。</p>

<h2>醫科</h2>
<p>醫之立科。歷代不同。周四科。疾醫。瘍醫。食醫。獸醫。見周禮。唐七科。體療。少小。耳目。口齒。角法。按摩。咒禁。見六典。宋設三科教之。曰。方脈科。針科。瘍科。見選舉志。又太醫局。有丞。有教授。有九科。見職官志。而九科無考。金十科。亦無考矣。元十三科。大方脈雜醫科。小方脈科。風科。產科。兼婦人雜病科。眼科。口齒兼咽喉科。正骨兼金鏃科。瘡腫科。針灸科。祝由科。見輟畊錄。（案得效方同。唯除祝由科。輟畊錄云。出聖濟總錄。今聖濟無考。可疑。續文獻通考。無風科。婦人產科為一科。有傷寒科。按摩科。事物紺珠。古十三科。更有獸醫。又名牛醫。）明十三科。大方脈科。傷寒科。小方脈科。婦人科。口齒科。咽喉科。外科。正骨科。痘疹科。眼科。針灸科。出明會典。（按鄭曉吾學編十三科。曰大方脈。曰小方脈。曰婦人。曰瘡瘍。曰針灸。曰眼。曰口齒。曰接骨。曰傷寒。曰咽喉。曰金鏃。曰按摩。曰祝由。按摩。以消息導引之法。除人八疾。祝由。以咒禁祓除邪魅之為厲者。二科今無傳。考會典凡十一科。乃除按摩祝由二科也。古今醫統。古十四科。更有脾胃科。李樓小仙雜錄。與吾學編同。無按摩科。以口齒咽喉為一科。有風科養生科。）清十一科。曰。大方脈。小方脈。傷寒科。婦人科。瘡瘍科。針灸科。眼科。口齒科。咽喉科。正骨科。痘疹科。今痘疹歸小方脈。咽喉口齒共為一科。現設九科。見清會典。（王子接十三科古方選注。傷寒科。內科。女科。外科。幼科。痘疹科。眼科。咽喉科。折傷科。金鏃科。祝由科。符禁科。此十二科。欠針灸科。王棠知新錄。無金鏃按摩祝由。有痘科疹科。分針與灸為二科。未知何據也。）</p>

<h2>呂元膺論醫</h2>
<p>呂元膺論歷代諸醫。其文仿梁袁昂書評體。譬喻切當。為後學之楷則。其言曰。扁鵲醫。如秦鑑燭物。妍媸不隱。又如奕秋遇敵。著著可法。觀者不能測其神機。倉公醫。如輪扁斫輪。得心應手。自不能以巧思語人。張長沙醫。如湯武之師。無非王道。其攻守奇正。不以敵之大小。皆可制勝。華元化醫。如庖丁解牛。揮刀而肯綮無礙。其造詣自當有神。雖欲師之而不可得。孫思邈醫。如康成注書。詳制度訓詁。其自得之妙。未易以示人。味其膏腴。可以無飢矣。龐安常醫。能啟扁鵲之所秘。法元化之可法。使天假其年。其所就當不在古人下。錢仲陽醫。如李靖用兵。度越縱舍。卒與法會。其始以顱囟方。著名於時。蓋因扁鵲之因時所重。而為之變爾。陳無擇醫。如老吏斷案。深於鞠讞。未免移情就法。自當其任則有餘。使人代治則繁劇。許叔微醫。如顧愷寫神。神氣有餘。特不出形似之外。可摸而不可及。張易水醫。如濂溪之圖太極。分陰分陽。而包括理氣。其以古方新病自為家法。或者失察。剛欲指圖為極。則近乎畫蛇添足矣。劉河間醫。如橐駝種樹。所在全活。但假冰雪以為春。利於松柏。而不利於蒲柳。張子和醫。如老將敵對。或陳兵背水。或濟河焚舟。置之死地而後生。不善效之。非潰則北矣。其六門三法。蓋長沙之緒餘也。李東垣醫。如獅弦新絙。一鼓而竽籟並熄。膠柱和之。七均由是而不諧矣。無他希聲之妙。非開指所能知也。嚴子禮醫。如歐陽詢寫字。善守法度。而不尚飄逸。學者易於摹仿。終乏漢晉風。張公度醫。專法仲景。如簡齋賦詩。每有少陵氣旨。王德膚醫。如虞人張羅。廣絡原野。而脫兔殊多。詭遇獲禽。無足算者。見戴九靈滄州翁傳。</p>

<h2>天醫</h2>
<p>范成大問天醫賦序云。案晉書。捲舌六星。其一曰天讒。主巫醫。而孫氏千金書。以日辰推天醫所在。其是歟。田汝成西湖志云。天醫院錢唐名醫朱應軫建以奉陶吳許三真君。錢希言獪園云。天醫有十三科。今在天曹。屬陶許兩真人職掌。月令廣義。引潛居錄云。八月朔。古人以此日為天醫節。祭黃帝岐伯。壽域神方。有八代天醫名銜。</p>

<h2>解臚穿胸</h2>
<p>抱朴子。淳于解臚以理腦。又初學記。引抱朴子云。文摯愆筋以療危困。仲景穿胸以納赤餅。（王冰寶命全形論壞府注。引此文。）又皇甫謐釋勸論。岐伯剖腹以蠲腸。乃不特俞跗華佗能斯術。</p>

<h2>扁鵲墓</h2>
<p>酉陽雜俎云。盧城之東。有扁鵲塚。云魏時針藥之士。以卮臘禱之。所謂盧醫也。范成大攬轡錄云。伏道有扁鵲墓。墓上有幡竿。人傳云。四傍土可以為藥。或於土中得小圓黑褐色石。可以治病。（徐氏筆精。可療飢。疑傳聞之訛。）石湖集。載其詩云。活人絕技古今無。名下從教世俗趨。墳土尚堪充藥餌。莫嗔醫者例多盧。樓攻愧北行日錄云。乾道五年十二月十四日。車行四十五里。過伏道。望扁鵲墓。前多生艾。功倍於他艾。王兆云揮麈新譚云。扁鵲墓在河間任丘縣。其祠名藥王祠。前有地數畝。病者禱神。乃以珓卜之。許則云從其方取藥。如言掘土。果得藥。服之。無弗愈者。其色味不一。四方來者。日掘千窟。越宿俱平壤矣。文安王公守蘇。為陸給事子俞言如此。朱國禎湧幢小品云。鄚州土城無門扉。相對如闕。中有藥王廟。王即扁鵲。州人也。封神應王。神廟玉體違和。慈聖皇太后禱之。立奏康寧。為新廟。建三皇殿於中。以歷代之能醫者附焉。周石匏東京考云。扁鵲墓。在閶闔門外西北菩提東。原在子城內。唐元和十五年。宣武節度使張弘靖徙葬於此。相傳四傍土。可以為藥。禱而求之。或得丸如丹劑。神仙通鑑云。扁鵲死於商都之陰。時年九十七。陽厲趨至死所。哀哭殮葬於路旁。有病者。至墓禱求。撮土煎湯。服之即愈。或得小丸如丹。雖危證可救。墓旁多生艾草。能灸百病。後人為之立廟。吳震芳述異記云。山西潞城縣。民病不服藥。亦無醫。縣南十餘里。有盧醫山。上有盧醫廟。皆石壁石柱石瓦。遠近病者。持香燭楮錢。請廟通籍貫。述病緣。用黃紙空包。壓香爐下。禱畢。紙包角動。開視得紅丸者。入口病即愈。白丸者淹纏數日可愈。病不起者無藥。再四瀆焉。即與黑丸。服之亦死。無益也。廟門夜有二黑虎守之。傍晚即相戒。不敢上山矣。按諸書所載如此。雖是理之渺茫者。大抵不得死於當時。而其遺靈赫赫於千載之後者。關壯繆岳武穆之儔皆是。若我扁鵲。其技實曠古一人。而遂為醯被殺。其亦宜如此。不足深怪也。元好問嘗作扁鵲廟記。詳論此事。近沈歸愚德潛亦有題扁鵲墓詩云。蕩蕩蕩陰里。荒荒扁鵲墓。積此終古恨。草生不復青。當年活人多。到處留令名。活人轉見殺。忌者爭相傾。毋怪後世醫。庸庸保其生。又陶西圃鏞詩云。一壞尚起膏肓疾。九死難醫嫉妒心。又乾隆御製有數首。</p>

<h2>黃帝時有倉公</h2>
<p>嵇康養生論。李善注云。經方小品。倉公對黃帝曰。大豆多食。令人身重。予謂此陳遠。公石室秘錄之祖。泊宅編。漢武帝病渴。仲景為八味丸。已任編。張仲景立八味丸。治漢元帝三陰瘧。疏謬亦甚。</p>

<h2>三折肱</h2>
<p>王棠知新錄云。三折肱知為良醫。謂屢折其臂。能參考其方之優劣也。後人謂三次曲肱而思。慎於下藥。此說非也。楚辭九章云。九折臂而成醫兮。吾今而知其信然。豈亦下藥而用。丸次思索乎。簡按據王氏此說。三。蘇暫切。去聲。三字九字。皆虛用。作實數也。屢折其臂。即折傷之義。於下傳原文。為確當焉。陸儼山解孟子折枝云。枝胑。古通用。折枝。猶折腰也。折腰敬長。即孩提常事。於長者義親切。知後說折字。乃與折腰之折同。義似不穩當。參方之優劣。見孔叢子梁丘據遇虺毒章。孔子語。</p>

<h2>以偏得名</h2>
<p>醫說。載藏用匣中三斛火。陳承篋里一盤冰。（六帖。陳承。作劉寅。）浙江通志云。嚴觀仁和人。不拘古方。頗有膽略。用薑汁製附子。是以用獲奇效。人稱之曰嚴附子。倘湖樵書云。近有陳姓醫人。不問何疾。專用石膏。時人呼為陳石膏。又會稽縣誌云。張介賓號景岳。年十三。隨父至京。學醫於金英。盡得其傳。暇即研窮書史。醫法東垣立齋。喜用熟地黃。人呼為張熟地。此皆以偏得名也。</p>

<h2>王叔和</h2>
<p>程郊倩後條辨。詆王叔和書其字。而鄭漁仲氏族略。王叔姬姓。周襄王之子。王叔虎之後也。然則王叔氏。和其名。亦不可知也。清儲大文存研樓集云。今王叔和墓。在峴山下。未知地誌有載此者否。</p>

<h2>王冰</h2>
<p>李濂醫史。王冰一作王砯。乾隆四庫總目云。冰名見新唐書宰相表。稱為京兆府參軍。林億等引人物誌。謂冰為太僕令。未知孰是。然醫家皆稱王太僕。習讀億書也。其名。晁公武讀書志。作王砯。杜甫集。有贈重表侄王砯詩。亦復相合。然唐宋志皆作砯。而世傳宋槧本素問。亦作冰。或公武因杜詩而誤歟。予按晁公武讀書志。作王砯。沈作喆寓簡。戴侗六書故之類並同。而考杜詩。作王砅。砯披冰切。音砰。砅理罽切。厲同。即深則厲之厲。砯砅字遞別。作次注者疑非杜之重表侄。然寶應之時杜猶在。與王冰同時。況砅砯一點之差。則其果然否。亦不可知也。</p>

<h2>朱葛齊名</h2>
<p>陸採都公譚纂云。元江浙行省有某平章者。將之任。道間忽染中風。四肢不舉。延吾鄉葛可久治之。可久登其舟。金華朱彥修先在。二公素相聞。而不相識。見之甚歡。乃共脈平音。彥修曰。疾已殆。不可藥矣。可久曰。吾固知其殆。然尚有一針法。彥修曰。君之針第可運其二肢。無益也。左右強可久針。針入。如彥修之言。彥修問平章家道里遠近。以指計之。謂左右曰。即回尚可抵家。稍遲無及矣。後平章還。果以及門而卒。又徐禎卿異林雲。朱彥修嘗治浙中一女子瘵。且愈。頰上兩丹點不滅。彥修技窮。謂主人曰。須吳中葛公耳。然其人雄邁不羈。非子所致也。吾遣書往彼必來。主人悅。具供帳舟楫以迎。使至。葛公方與眾博大叫。使者俟立中庭。葛公瞪目視之曰。爾何為者。使者奉牘跪上之。葛公省書。不謝客行。亦不返舍。遂登舟。比至。彥修語其故。出女子視之。可久曰。法當刺兩乳。主人難之。可久曰。請覆以衣。援針刺之。應手而滅。主人贈遺甚豐。可久笑曰。吾為朱先生來。豈責爾報邪。悉置不受。按二書所載。葛朱之技自無軒輊焉。而明世說則曰。葛脈一人曰。子三年疽發背不救矣。朱教以曰飲梨汁。不致大害。後果無恙。葛知其故。嘆曰。竟出朱公下。何醫為。悉取平生所論著焚之。曰。留之適以禍人。此與夷堅志所載楊吉老茅山道士之事相類。疑歸美於朱之溢談耳。</p>

<h2>運氣</h2>
<p>運氣之宗。昉於素問。見褚澄遺書。褚南齊人。然則運氣之混於素問。在於六朝以前乎。褚書蓋蕭淵所依託。得於古塚中雲者。乃欲托汲塚古書耳。隋蕭吉作五行大義。上自經傳。下至陰陽醫卜之書。凡言涉五行者。莫不網羅搜輯焉。特至五運六氣勝復加臨之義。則片言隻字。無論及者。其起於隋以後。確乎可知矣。而其說湊合緯醫二書所立。正是一家。未知創於何人。豈所謂玄珠先生者乎。但至王冰。採而闌入素問篇內。其說始顯。然竟唐代猶未聞有言之者。後及宋劉溫舒沈括楊子建輩篤信之。精詣其理。各有所發明。而當時泗州楊吉老嘗謂黃魯直曰。五運六氣。視其歲而為藥石。雖仲景猶病之也。此言極是。伊川朱子亦嘗論其淺近焉。而傷寒論卷首所載運氣諸圖。未知出於何人之手。黃仲理云。南北二政。三陰司天在泉寸尺不應。交反脈圖。並圖解。運氣圖說。出劉溫舒運氣論奧。又六氣上下加臨補瀉病症圖。並汗差棺墓圖歌括。出浦云運氣精華。又五運六氣加臨轉移圖。並圖說。出劉河間原病式。後人採附仲景傷寒論中。夫溫舒浦云守真三家之說。豈敢附於仲景之篇。特後人好事者為之耳。繆仲淳論運氣云。予從敝邑見趙少宰家藏宋版傷寒論。皆北宋善版。始終詳檢。並未嘗載有此說。六經治法之中。亦並無一字及之。子乃諦信予見之不謬。而斷為非傷寒外感之說。按趙少宰蓋趙開美。與仲淳同海虞人。今所傳宋版傷寒論。乃繫於開美翻鏤。而無運氣諸圖。正與仲淳言符矣。予家藏元板成無忌註解本。亦不載此諸圖。知是出成氏以後之人也。</p>

<h2>對脈</h2>
<p>舊唐書。柳太后病風不能言。脈沉而口噤。新唐書作脈沉而難對。按宋太平老人袖中錦云。宮中以診脈為對脈。蓋難對。謂脈沉伏而診得之難也。又唐裴庭裕東觀奏記云。上（宣宗）自不豫。宰輔侍臣無對見者。瘡甚。令中使往東都太僕卿裴詡宣索藥。中使往返五日。覆命召醫瘡方士院士。對於寢殿。院言可療。既出。不復召矣。所謂對於寢殿。亦診脈於寢殿也。</p>

<h2>息數不同</h2>
<p>人一日一夜。凡一萬三千五百息。方以智云。窮之蓋洛書之數也。而考諸書其數不一。張景醫說。一萬三千五百二十息。小學紺珠。引胡氏易說。一萬三千六百餘息。（朝鮮金悅卿梅月堂集云。人一日有一萬三千六百呼吸。一呼吸為一息。則一息之間。潛奪天運一萬三千五百年之數。一年三百六十日。四百八十六萬息。）天經或問。二萬五千二百息。呂藍衍言鯖云。一氣之運行。出入於身中。一時凡一千一百四十五息。一晝夜。計一萬三千七百四十息。釋氏六帖。引詈意經云。一日有三萬六千五百息也。何夢瑤醫編云。內經曰。脈一日一夜五十營。營。運也。經謂人周身上下左右前後。凡二十八脈。共長一十六丈二尺。五十運。計長八百一十丈。呼吸定息脈行六寸。一日夜行八百一十丈。計一萬三千五百息。按此偽說也。人一日夜。豈止一萬三千五百息哉。據何之言。佛說西說。並多於一萬三千五百。未知以何為實數也。</p>

<h2>輕身延年</h2>
<p>論衡云。道家或以服食藥物。輕身益氣。延年度世。此又虛也。夫服食藥物。輕身益氣。頗有其驗。若夫延年度世。世無其效。百藥愈病。病愈而氣復。氣復而身輕。凡人稟性。身本自輕。氣本自長。中於風濕。百病傷之。故身重氣劣也。服食良藥。身氣復故。非本氣少身重。得藥而氣乃長。身更輕也。稟受之時。本自有之矣。故夫服食藥物除百病。令身輕氣長。復其本性。安能延年至於度世。有血脈之類。無有不生。生無不死。以其生故知其死也。仲任之言。極為直切。蓋當時其說盛行。故具論如此。陶隱居云。本草後漢時書。今閱之無藥而不有延年輕身之說者。時勢令然也。</p>

<h2>藥物所出</h2>
<p>陶弘景雲。本經所出郡縣。乃後漢時制。疑仲景元化等所記。又顏氏家訓云。本草神農所述。而有豫章朱崖趙國常山奉高真定臨淄馮翊等郡縣名。出諸藥物。由後人所羼。非本文也。又證類本草滑石條云。赫陽縣先屬南陽。漢哀帝置。明本經所注郡縣。必是後漢時也。今考本經。一無言所出者。惟女蘿柳華二條僅有焉。蓋慎微修證類時。誤為黑字耳。及時珍作綱目。猶且不察。以舊經所載地名。為別錄文。此襲證類之誤也。唯太平御覽。所引神農本草經。每藥下載所出地名。且文字與盧複本頗異。此乃舊經之文矣。</p>

<h2>王冰引月令</h2>
<p>寓簡云。王砯注素問敘氣候。仲春有芍藥榮。季春有牡丹華。仲夏有木槿榮。仲秋有景天華。皆今月令曆書所無。又以桃始華為小桃華。王瓜生為赤箭生。苦菜秀為吳葵華。戊寅歷皆有之。按晁公武讀書志。唐月令一卷。唐明皇改黜舊文。附益時事。號御刪月令。升為首卷。意是王氏所引。乃唐月令而已。郎瑛以為淮南文。田藝蘅以為偽撰。俱不考耳。</p>

<h2>背陽腹陰</h2>
<p>金匱真言論云。言人身之陰陽。則背為陽。腹為陰。或曰。陰陽二字互誤已。人南面則腹乃為陽。背乃為陰。老子曰。萬物負陰而抱陽。又陰陽離合論曰。聖人南面而立。前曰廣明。後曰大沖。況於其文。南主夏。故腹字從夏肉。背為北。故背字從北肉。朱子云。天地東西南可見。而北不可見。人之瞻視。亦前與左右可見。而背不可見。此皆其明證也。予謂此說不必也。凡物有體質。有功用。以功用言。則背陰腹陽也。而以體質言。背陽腹陰也。蓋天地之道。大為陽。小為陰。高為陽。卑為陰。外為陽。內為陰。易云。立天之道。陰與陽。立地之道。剛與柔。又云。乾剛坤柔。今夫以大小視之。背大而腹小。以高卑視之。背位於上。而有覆幬之勢。乃天之象。腹居於下。而有受載之形。乃地之象。以剛柔外內言之。背剛堅而在於外。腹柔軟而在於內。且男生而覆。女生而仰。其溺水亦然。背為陽腹為陰。而陽經行於背。陰經行於腹者。體質之勢也。人之於走獸飛禽魚鱉蟲豸之屬。雖伏走飛翔浮游蚑行。其狀各異。然至其稟天地陰陽之氣。各具其體則一也。今夫背陰腹陽。於人猶可言耳。至如走獸飛禽魚鱉蟲豸之屬。謂之背陰腹陽而可邪。且如背字。說文云。從北肉聲。然如腹字。則偏旁從夏。而非夏。況易以腹為坤。豈可為夏肉乎。夏肉果為腹。則背字當是冬肉。北肉果為背。則腹字當是南肉。滑是水之骨。坡是土之皮。字學家說。豈足據乎。予因謂背腹陰陽。有功用體質之別。必不可拘於一說矣。</p>

<h2>動氣</h2>
<p>近有傳荷蘭學者云。人脊骨裡面。有一條大動脈。乃百脈之源也。揣人腹上。惻惻跳手者。即其動也。予考靈素已有其言。不特昉於荷蘭焉。按五音五味篇云。衝脈循背裡為十二經之海。歲露篇云。衛氣之行風府。日下一節。二十一日。下至尾骶。二十二日。入脊肉注於伏沖之脈。瘧論。作伏膂之脈。天真論云。太衝之脈盛。月事以時下。全元起。太素。甲乙。並作伏沖之脈盛。逆順肥瘦篇云。夫衝脈者。五藏六府之海也。五藏六府皆稟焉。海論云。夫衝脈者。五藏六府之海也。動輸篇云。衝脈者十二經之海也。與少陰之大絡起於腎。靈素諸篇。所論如此。曰衝脈。曰伏沖。曰大沖。曰伏膂之脈。皆其所謂大動脈者是也。則亦其所謂百脈之源者是也。又百病始生篇云。虛邪之中人也。其著於伏沖之脈者。揣之應手而動。舉痛論云。寒氣客於衝脈。衝脈起於關元。隨腹直上。寒氣客則不通。脈不通則氣因之。故喘動應手。（喘蠕。音通。）此論其動之發於外者。所謂動氣是也。噫。經言何有所無。乃知不昉於荷蘭矣。又嘗考呂廣注難經腎間動氣云。氣衝之脈者。起於兩腎之間主氣。故言腎間動氣。按所謂五藏六府之本。十二經之根。與靈樞云五藏六府之海。十二經之海者。所指必同。且陰陽離合論云。太衝之地。名曰少陰。動輸篇云。與少陰之大絡起於腎。則呂氏之說。有所據焉。今驗之。衝脈之見。有虛實之分。凡人之腔里。一處有罅隙之地。則脈動發泄。或左或右。虛之所在。隨而應手焉。而又其有食積留飲痃癖癥瘕等物。則物與脈相牴觸。實之所在。亦隨而應手焉。傷寒論。原於十六難。立動氣在於左右上下者。不可汗下之戒。蓋其一端已。</p>

<h2>記性</h2>
<p>汪訒庵云。金正希先生。嘗言人之記性皆在腦中。凡人外見一物。必有一形影。留在腦中。小兒腦未滿。老人腦漸空。故皆健忘。愚思凡人追憶往事。必閉目上瞪。而思索之。此即凝神於腦之意也。（出於本草備要辛夷注。）王惠源醫學原始亦云。人之一身。五藏藏於身內。止為生長之具。五官居於身上。為知覺之具。耳目口鼻聚於首。最顯最高。便與物接。耳目口鼻之所導入。最近於腦。必以腦先受其象而覺之。而寄之。而剖之。而存之也。故云。心之記。正記於腦耳。黃庭內景。亦言腦為泥丸宮。元神居焉。是必有本。何惑之有。予按荷蘭說。人之精神在於腦中。故人斷頭立死。亦與內景之說符矣。而五雜俎。談薈。載頭斷而不死者數則。此皆人妖耳。</p>

<h2>解剖藏府</h2>
<p>朱載堉律學新說云。岐伯曰。夫八尺之士。皮肉在此。外可度量切循而得之。其死可解剖而視之。蓋太古時風俗淳樸。死則棄之於野。初無衣衾棺槨之葬。故使為醫術者。可得剖而視之。亦無所禁。後世聖人。取諸太過之象。始制棺槨。由是之後。國有殘毀屍體之禁。無敢剖而視之者。以此推之。知彼醫經。其來之遠。又奚止於三代而已。此說非也。趙與峕賓退錄云。廣西戮歐希範。及其黨。凡二日。剖五十有六腹。宜州推官靈簡。皆詳視之為圖。以傳於世。王莽誅翟義之黨。使太醫尚方與巧屠。共刳剝之。量度五藏。以竹筵導其脈。知所始終。云可以治病。然其說今不傳。又晁公武郡齋讀書志。載存真圖一卷。皇朝楊介編。崇寧間。泗州刑賊於市。郡守李夷行遣醫並畫工往視。決膜摘膏肓。曲折圖之。盡得纖悉。介校以古書。無少異者。比歐希範五藏圖過之遠矣。實有益醫家也。又聞見後錄。載無為軍醫張濟能解人。而視其經絡。則無不精。因歲飢疫人相食。凡視一百七十人。以行針。無不立驗。按明程式亦嘗解倭人。檢視藏府。詳見其醫彀中。近世斯邦醫家。亦好剖解。驗以荷蘭內景書。頗極精微。然有益於外科。而無裨於內科矣。</p>

<h2>少腹</h2>
<p>王冰注氣交變大論云。少腹謂臍下兩傍髎骨內也。劉熙釋名云。自臍以下曰水腹。水汋所聚也。又曰少腹。少。小也。比於臍上為小也。病源候論。以少腹為𦣀腹。未詳何義。</p>

<h2>玉房</h2>
<p>病源候論。玉房蒸。男則遺瀝。女則月候不調。又曰。精藏於玉房。交接太數則失精。玉房未知何處。明李君實紫桃軒雜綴云。銅人針灸圖。載藏府一身俞穴。有玉環俞。不知玉環是何物。張紫陽玉清金華秘文。論神仙結丹處曰。心下腎上。脾左肝右。生門在前。密戶居後。其連如環。其白如綿。方圓徑寸。包裹一身之精粹。此即玉環也。醫書論諸種骨蒸。有玉房蒸。亦即是玉環。其處正與臍相對。人之命脈根蒂也。按今針灸圖。玉環作白環。</p>

<h2>性命之根</h2>
<p>陸文量菽園雜記云。回回其俗善保養者無他法。惟護外腎。使不著寒。見南人夏著布褲者。甚以為非。恐涼傷外腎也。云夜臥當以手握之令暖。謂此乃生人性命之本根。不可不保護。此說最有理。張文潛明道雜誌云。洛陽劉幾年七十餘。精神不衰。體干清健。猶劇飲。予素聞其善養生。因問之。曰。暖外腎而已。以兩手掬而暖之。默坐調息。至十息兩腎融液如泥。瀹入腰間。此術至妙。馮夢禎快雪堂集。與何民部書云。昨視丈病體。大都虛火上騰。火降即安矣。弟所善方士張君善用救命索。其法惟緊縛外腎。雖垂絕之症。可以立蘇。現有一人。症與丈同。行此法而愈。試驗非一。特為送致諸。努力珍護。以待平復。祝允明蘇譚云。口瘡無問新舊。遇夜臥。將自己兩睪丸。以手櫪緊。左右交手。揉三十五遍。每夜睡覺。輒行之。愈於服藥。諸書所載如此。予聞北人冒雪而行。必以稻稈打揉包外腎。必不凍死。又人多誤撲損外腎立殞者。乃其為性命之本根明矣。然宮刑男子割勢。勢。外腎也。（韻會云。外腎為勢。刑德經云。勢。陰核也。折骨分經云。外腎。睪丸也。李時珍綱目人部。載人勢。為陰莖。未見所本。）所謂宦者去其宗筋是也。而騸馬。䆠牛。羯羊。閹豬。潔雞。善狗。淨貓之屬。（事物紀原云。漢文始閹潔六畜。）亦皆劇其勢者。云此易肥焉。又種樹書有騸樹之法。人畜去其性命之本根。而不死者。猶樹木之騸。而不凋枯耶。予弱冠時。見一商家僕。年二十餘。陰囊腫痛十餘日。隱忍不語人。忽一日破裂。失血數升。昏冒困憊。吐蛔五條。湯藥皆嘔。予因與單甘草湯。而嘔止。家人以為便血。方其除穢見之。雙丸墜在於蓐上。家人驚惶。急邀外科療之。凡百日許而痊。尋歸其鄉於江州。後數年。問之江州人。乃云。渠今猶無恙。所墜睪丸。常綿裹藏於匣中。若寒日啟之。體忽惏慄。若誤置之於高處。眩瞀⿰目顛暈。苦楚叵耐。蓋彼此氣之相應也。枯骨寒而脛腳疼。柯古雜俎嘗記之。況於性命之根。理宜然矣。</p>

<h2>診脈借菽</h2>
<p>難經。以菽況診脈之輕重。前人註解。率不得其旨。蓋菽之在莢。累累相連。與脈動指下者相類。以此意推之。言三菽之重者。非三菽加於寸關尺之上。一指下各有一菽之重也。通稱三部。則三菽也。六菽之重者。三部各有二菽之重也。九菽之重者。三部各有三菽之重也。十二菽之重者。三部各有四菽之重也。以三乘之。可以見耳。今如一部有三菽之重。則於與皮毛相得者。為甚重矣。且何不言三菽四菽五菽。而必以三累加之乎。弘前醫官服子溫（良）。著難經愚得。其說如此。可謂發千古之秘蘊矣。其書未及脫稿。子溫沒。殊可惋惜也。</p>

<h2>手檢圖</h2>
<p>脈經第十卷首標曰。手檢圖三十部。明袁表校本。及沈際飛本作二十一部。袁後序曰。末篇有手檢圖二十一部。今觀其文。則皆覆論十二經脈。與奇經八脈。三部二十四種形證所屬。無圖可見。豈叔和所著。故有圖。久不復傳耶。乃宋臣林億劄中。則稱世之傳授。其別有三。隋巢元方時行病源。為第十篇。以第五篇分上下。而撮全經之文。別增篇目者。億嘗據素問九墟靈樞太素難經甲乙仲景諸書。校其脫漏。仍為十篇以傳。則知末篇傳疑已久。億但補正其文。而所謂手檢圖二十一部云者。直存舊目。無從考證耳。袁氏所論如此。今閱脈經十卷之首。以氣口一脈。分為九道。以論三陰三陽奇經之脈。其義未太明。且不及手三陽任督沖之六脈。知是不止其圖失傳。其文亦殘闕。不可復尋繹焉。而李東璧奇經考。以手太陽合手太陰。以手陽明合手太陽。採脈經第二卷文。增任督沖之三脈。因作九道圖。自謂泄千古之秘藏。而猶缺手少陽之一位。將何以合三十二部之數。疏謬亦甚矣。吳山甫云。手檢圖脈法。惟通融之士。能知能行。亦未知圖與經文。既亡且缺也。嗚呼。一寸之口。配乎五藏六府。猶且太煩。縱令古手檢圖如季氏所撰。豈可得更辨所謂九道者。以定奇經八脈之病乎。前年有人問於予者。因以此答焉。</p>

<h2>詹王論脈</h2>
<p>詹東圖明辨類函云。醫者之審病。曰望。曰聞。曰問。曰切。蓋以切脈。驗之望問聞也。先審之有形聲。以終審之無形聲。內外本末。具知之矣。脈之有浮沉弦數固矣。然浮沉弦數之中。其端各又至煩。苟非問以證聞。聞以證望。原始要終。以求其是。既參又伍。以求其當。脈之所指冥冥。雖求必失之矣。古人置切脈於望問之終。非謂其症斷盡於脈耶。而脈之不可無望聞問審矣。又云。切脈而斷之不差者。所恃先有望也聞也問也。予謂問尤急焉。欲得其身之所疾病。與疾之所自始。詳在問也。今之醫者。自負其明。故不問而切脈。一以脈斷。即病者欲以其故告。訑訑然曰。我切得之矣。無煩言也。如斯而得一當。且為不免為幸中。萬一失之。如病者何。故醫而自負恃。不求細詳。最為大病。人命生死在茲。可以輕試而漫投也。王兆云湖海搜奇亦云。脈理吾惑焉。蓋自太史公作史記。已言扁鵲飲上池水。三十日能隔垣視見人五藏。特以診脈為名。則其意固可見矣。今以兩指按人之三部。遂定其為某府某藏之受病。分析七表八里九道。毫毛無爽。此不但世少其人。雖古亦難也。世不過彼此相欺耳。二氏之論。宜為診家之正眼矣。</p>

<h2>初學診脈</h2>
<p>初學診脈之際。心以為弦。則如弦。既又以為緊。則如緊。除浮沉小大滑澀等之外皆為爾。譬之靜坐聞鵓鴿聲。心認脫布褲而聽之。則莫聞而不脫布褲。認德不孤而聽之。則莫聞而不德不孤。蓋心預有所期也。王叔和曰。心中易明。指下難晰。方此際洗盡胸次所蓄。寓孔神於三指頭。自然得矣。</p>

<h2>劉菽</h2>
<p>福建通志。載劉菽者邑諸生也。因善病成醫。醫多奇中。嘗自言負病時。獨居一室。設木案。置瓦瓶食器。雞飛其上。器展轉欲墜地。不為動色。於是療者曰。病可治。故其為醫也。亦以此法愈人。於本草丹溪肘後諸方。多所發明。於貧者不受謝。人以此益歸之。經曰。精神進。志意定。故病可愈。宜乎其病愈焉。而及之於人也。</p>

<h2>千金方</h2>
<p>葉夢得避。暑錄話云。孫真人為千金方兩部。說者謂凡修道養生者。必以陰功協濟。而後可得成仙。思邈為千金前方時。已百餘歲。固以妙盡古今方書之要。獨傷寒未之盡。似未盡通仲景之言。故不敢深論。後三十年。作千金翼。論傷寒者居半。蓋始得之。其用志精審。不苟如此。今通天下言醫者。皆以二書為司命也。按千金傷寒門云。江南諸師。秘仲景傷寒要方不傳。然則方其著千金前方。未曾研其全書也。後及撰翼方。所採摭。亦非今所傳傷寒論。其文字。大抵與玉函經同。知唐以前。傷寒論原自非一通也。翼方世多傳乾隆重刊王肯堂校本。不啻誤文數行尋墨。刊脫數十頁。予常恨焉。聞城東白醫家藏元版。予百計索之不敢許。丙午冬。米價騰躍。渠不能支。遽欲售之。予因鬻雜書數十帙而購之。乃大德乙已。梅溪書院所刊。文字端正。首尾完備。與肯堂本異。予既得之喜劇。明年六月。浪華木世肅（孔恭。）不量以元版前方。千里郵致以貽。於是儼然雙璧。始具於插架。古人云。好學之篤。又有好書濟其求。不堪欣躍。聊筆於此。</p>

<h2>聖濟總錄</h2>
<p>政和聖濟總錄二百卷。宋藝文志。藝文略。玉海。晁陳二氏。並不載其目。南宋諸方書。未見引據者。蓋此書之成。在於徽宗之季年。聖濟經和劑局方之後。洪景盧容齋隨筆云。宣和殿大清樓龍圖閣所儲書籍。靖康蕩析之餘。盡歸於燕。考之宋史則云。靖康二年。少帝在青城。金人盡索國子監書版。三館秘閣四部書。大嘗禮物。大成樂舞。明堂大內圖。以至乘輿服御珍玩之物。輦致軍前。意者如此書。鏤版才成。未及頒布。亦在其中。爾後南北殊界。彼此不通。故南宋之士。不得觀之。遂至有並其目而無知者。及金世宗大定中。取所俘於汴都重刊頒行。因傳於今矣。嗚呼。是書成於北宋。而晦於南宋。不傳於中國。而存於夷狄。而徽宗慈心之所寓。得不泯於千載之後者。抑亦奇矣。清程云來云。大德重校聖濟總錄。元朝奉詔頒行者。大版大字。每卷首篇署元耶律楚材五字。今吉醫官及予家所藏大德重校本。亦大版大字。然無元耶律楚材五字。原文書法端雅。蓋為宋版之舊。但每卷首頁。大德重校聖濟總錄卷第某數字。書刻並劣。繫於元人改刊無疑矣。</p>

<h2>活人書</h2>
<p>宋樓攻媿鑰序增釋活人書（王作肅著。）云。嘗聞之老醫京師李仁仲之子云。前朝醫官。雖職在藥局方書。而階官與文臣同。活人書既獻於朝。蔡師垣當軸。大加稱賞。即令頒行。而國醫皆有異論。蔡公怒。始盡改醫官之稱。不復與文臣齒。樓之言如此。宜乎世之言傷寒者。至知有活人書。而不知有長沙之書也。及明陶節庵六集書出焉。又至並活人書而無知者。今如斯邦。天下莫不知有長沙之書而讀焉。然而其微言大義殆熄矣。</p>

<h2>儒門事親</h2>
<p>驪恕公（忠）嘗言儒門事親一書。前三卷。議論精確。文亦俊逸。後八卷。乃體裁殊異。必是別一種書。或出於門人之手焉。後閱心印紺珠經云。子和金宛丘人。氏張。戴人是也。有儒門事親三十篇。十形三療一帙。治病百法一帙。三複指迷一帙。治心要一帙。三法六門世傳方一帙。今考之於醫統正脈所收本。從第一卷七方十劑繩墨訂。至第三卷水解。凡三十篇。此即儒門事親也。自第四卷。至第五卷。別是一書。自第六。至第十一。乃十形三療也。自第十二。至第十五。乃三法六門世傳方也。尋借元版於西京伊良子氏而抄之。凡三卷。首有中統年間高鳴序。及金人張頤齋序。後有金人無名氏跋。篇數與紺珠經所載符矣。恕公沒十餘年。惜不見此書焉。（朝鮮所輯醫方類聚。多引十形三療。三法六門。今正脈本儒門事親中並有之。）</p>

<h2>妄改書名</h2>
<p>汪穎著食物本草。而改為東垣食物本草。王永輔著惠濟方。而改為簡選袖珍方。艾元英著如宜方。而改為回生捷錄。李東璧作脈學。而改為張孔受脈便。程云鵬著慈幼筏。而改為張介賓慈幼新書。陳司成著黴瘡秘錄。而附之於竇夢麟瘡瘍全書。凡此類不一而足。皆使人眩惑。乃因書估欲易售耳。</p>

<h2>中風</h2>
<p>傷寒論。中風。乃是傷寒中之一證。宋以後呼為傷風者是也。而金匱中風。乃靈素所謂偏枯。後世中風之稱昉於此。夫傷寒論金匱。元是一書。而同成仲景之手。理宜無以一中風之名。互稱兩種之疾。然魏志注引曹瞞傳云。魏太祖陽敗面喎口。叔父怪而問其故。太祖曰。卒中惡風。叔父以告嵩。嵩驚愕呼太祖。太祖口貌如故。嵩問曰。叔父言汝中風。已差乎。太祖曰。初不中風。魏武與仲景氏同漢末人。知當時有此語。又按後漢朱浮與彭寵書。伯通獨中風狂走。此以狂為中風。後世狂風風狂心風等之稱。蓋有所由。均之東漢語。所指遞殊。不可不知也。若夫後世紫白癜風。落架風。食迷風之類。風字竟不可窮詰焉。蓋風善行而數變。凡病變動移易不定者。以風呼之耶。錄以徯識者。</p>

<h2>痰</h2>
<p>痰五飲之一。王氏脈經。作淡飲。宋黃伯思法帖刊誤。載初月帖中雲。淡悶乾嘔。淡方淡液之淡。干古乾溼之干。今人以淡作痰。以干作乾。非也。予考之佛典大般若經初分原品云。身病有四。一者風病。二者熱病。三者痰病。四者風等種種雜病。又唐慧琳一切經音義云。淡飲。徒甘反。下於禁反。謂匈上液也。又云。淡陰。謂匈上液也。醫方多作淡飲。又云痰癊。上音談。下陰禁反。案痰癊字無定體。胸鬲中氣病也。津液因氣凝結不散如筋膠。引挽不斷。名為痰癊。四病根本之中。此一能生百病。皆上焦之疾也。又義楚六帖云。四百四病。百一風。百一黃。百一熱。百一痰等。乃知後世以痰飲為諸飲之總稱。以為十病九痰。或百病生於痰之類。皆原於內典也。而痰癊二字。在我醫方。始見肘後。乃痰飲耳。而聖惠方。三十六黃中。有癊黃一證。此即巢源所載陰黃。唯從疒者。與痰癊之癊自異。療痔病經。有癊痔。蓋亦陰痔已。</p>

<h1>卷中</h1>

<h2>病分左右</h2>
<p>王文正筆錄。載太祖與張永德洎當時宿將數人。同從周世宗。徵淮南。戰於壽春。獲一軍校。欲全活之。而被瘡已重。且自言素有癱風病。請就戮。及斬之。因令部曲視其病患之狀。既而睹其藏府及肉色。自上至下。左則皆青。右則無他異。中心如線直分之。不差發毫焉。按以理揆之。風屬木。木色青。此宜然也。蓋人身一氣脈也。今及其感病。左癱者不及右。右瘓不及左。麻痹亦有如此者。又有汗出偏於下右者。又有瘡瘍左不淫於右。右不浸於下者。又有偏腸毒。自首至踵。平分寒熱者。（見船窗夜話。）雖則一氣脈。其有界限如此。筆錄所載。恐不虛誕也。</p>

<h2>草子</h2>
<p>范成大桂海虞衡志云。草子。即寒熱時疫。南中吏卒小民。不問病源。使人以小錐刺臂及舌尖出血。謂之挑草子。實無加損於病。必服藥乃愈。又王貺指迷。論瘴瘧云。南方謂之中箭。亦謂之中草子。此蓋沙病而已。</p>

<h2>吹霎</h2>
<p>癸辛雜識云。吹霎二字。見劉長卿用之。作傷寒感冷意。問之則謾云。出漢書。然莫可考也。繼閱方書。於香芎散證治云。吹霎傷風。頭疼發熱。此必有所據也。予考諸書。香芎散證治。未見有載此二字者。唯十便良方。傷寒門首云。傷風吹霎附。乃似指咸冒。又和劑指南云。凡傷風者。皆因脫衣感冒。被風吹霎。著則灑然骨寒毛起。惡風自汗者。乃是傷風證也。凡風吹則體自寒。惡風無汗者傷寒證也。</p>

<h2>病從口鼻入</h2>
<p>仁齋直指云。暑氣自口鼻而入。凝之於牙頰。達之於心胞絡。如響應聲。此暑自口鼻而入也。吳昆升麻葛根湯考云。冬月應寒。而反大溫。民受其濕厲之氣。名曰冬溫。非時不正之氣。由鼻而入。皮毛未得受邪。故無汗。又疫瘧五神丸。塞鼻法考云。以疫氣無形。由鼻而入。故亦就鼻而塞之。此冬溫疫氣。並自鼻而入也。又太無神朮散考云。山嵐瘴氣。謂山谷間障霧。濕土敦阜之氣也。濕氣蒸騰。由鼻而入。呼吸傳變。邪正分爭。又醫學全書云。瘴氣之病。東南兩廣。山峻水惡。地溫漚熱。春秋時月。外感霧毒。寒熱胸滿少食。此毒從口鼻入也。此瘴氣自口鼻而入也。廣筆記云。傷寒溫疫三陽證中。往往多帶陽明者。以手陽明經屬大腸。與肺為表裡。同開竅於口。凡邪氣之入。必從口鼻。故兼陽明證者獨多。此陽明病從口鼻而入也。張錫駒傷寒直解云。霍亂者。不從表入。不涉形層。大邪從口鼻而入。直中於內。為病最急。又云。痧者。即天地間不正之氣。濕熱熏蒸。從口鼻而入。不吐不瀉。腹中絞痛。俗所謂絞腸痧是也。此霍亂及痧。並自口鼻而入也。沈明宗金匱注云。中惡之證。俗謂絞腸痧。即臭穢惡毒之氣。直從口鼻。入於心胸腸胃臟腑也。此中惡從口鼻而入也。諸書所載已如此。世人徒因吳又可之言。而知瘟疫自口鼻而已。</p>

<h2>瘴名不一</h2>
<p>巢源。嶺南瘴。猶如嶺北傷寒也。外臺引備急。嶺南率稱為瘴。江北總號為瘧。此由方言不同。非是別有異病。按後漢書馬援傳。軍吏經瘴疫。又宋均傳。則云。及馬援卒於師。軍士多溫濕病。由此觀之。瘴即溫濕之氣。特以南方嶺嶂之地。此氣最酷烈。故謂之瘴氣也。其名稱頗繁。今以余所知錄下。</p>
<p>黃芒瘴。黃茅瘴。（南方草木狀）青草瘴。（巢源）黃梅瘴。新禾瘴。（桂海雜誌）黃茆瘴（番禺雜記）蝦蟆瘴。黑腳瘴。芳草瘴。樸蛇瘴。鎖喉瘴。蛇瘴。（聖濟總錄）冷瘴。熱瘴。中箭。（瘴瘧論）煙瘴。嵐瘴。黃瓜瘴。蚺蛇瘴。蚯蚓瘴。烏蜂瘴。回頭瘴。攪腸瘴。（管見良方）梅瘴。（摭遺）鸚鵡瘴。（北戶錄）啞瘴。（嶺南衛生方）花風瘴。（醫林集要）烏腳瘴。（漳州志）人瘴。（使緬錄）炎瘴。楸頭瘴。（體仁彙編）桂花瘴。（泉州府志）暑濕瘴。毒水瘴。孔雀瘴。江米瘴。（證治大還）脖瘴。（湧幢小品）香花瘴。毒淫瘴。（廣東新語）菊花瘴。（粵述）</p>

<h2>瘴母有二</h2>
<p>嶺表錄異云。有物自空而下。始加彈丸。漸如車輪。遂四散。人中之即病。謂之瘴母。管見良方云。腹脅間。有一癖塊。而痛者。名曰瘴母。蓋錄異瘴母者。乃颶母之屬。良方瘴母者。乃瘧母之類。名同遞異。</p>

<h2>寒熱異治</h2>
<p>鄺湛若赤雅云。炎方土脈疏。地氣外泄。人為常燠所熯。膚理不密。兩疏相感。章木之氣通焉。上脘鬱悶虛煩。下體凝冷。吐之不可。下之不可。用藥最難。但宜溫中固下。升降陰陽。及灸中脘氣海三里。或灸大指及第五指。皆能止熱。予試立驗。如用大柴胡湯。及麻黃金沸草散。青龍湯。是膠柱鼓瑟也。鮮不敗矣。而椿園西域聞見錄云。溫都斯垣。亦西域回國之大者也。大黃尤為至寶。以黃金數十倍兌換。蓋其地之一切疾病瘡瘍。得大黃即愈。百不失一。貴客來及大筵宴。皆以大黃代茶。若經年不服大黃。則必死。故雖貧苦小回。亦必有一半兩大黃。囊系胸前。舌舔而鼻嗅之。考二書所載。乃內經所謂腠理開閉之異。寒方以寒。熱方以熱之義。亦不可不知也。</p>

<h2>廉瀝</h2>
<p>先友篁墩吉虛士（安）嘗問予廉瀝何病。予茫然不能答。後讀唐張彥遠法書要錄云。陶隱居梁武帝啟云。治廉瀝一紙。凡二篇。並是謝安衛軍參軍任靖書。後又治廉瀝貍骨方一紙。是子敬書。亦似摹跡。又宋董逌廣川書跋云。貍骨方。今官帖中定為王右軍書。唐人謂此本荀輿治勞方。右軍臨之。至今謂貍骨帖。梁武帝常以古書雜跡二卷。問於陶隱君。對以貍骨方。是子敬書。亦似摹跡。就二書所載考之。廉瀝乃勞之謂。外臺引蘇遊論云。因虛損得。名為勞極。吳楚云琳瀝。巴蜀云極勞。按廉淋一聲。廉瀝即淋瀝。又巢源云。屍疸病者。嶺南中瘴氣。土人連歷不差。變成此病。連歷。乃綿連歷久之義。正與淋瀝同。蓋江左時。用方言書。唐人乃改作勞也。閱千金等書。古方多用貍骨治勞。而後世用貓頭。方藥池物理小識。論之詳矣。</p>

<h2>肺焦黃胖</h2>
<p>孔毅父談苑云。賈山谷採石人。石未焦肺。肺焦多死。陸儼山農田余話云。作園士。治蔬圃。其人必病黃。日與穢惡之氣相近。蓋五藏之內脾香。臭惡氣入脾。以害脾也。今斯邦人亦云。石匠年老。多發乾咳。此以積年石末飛入腹裡。傷臟所致。醫不能療。又云。黃胖以常觸糞穢所發。乃與二書之言符矣。而醫書不言及者何諸。</p>

<h2>魃記鬾之訛</h2>
<p>鬾。音奇。玉篇。小兒鬼也。故小兒繼病。謂之鬾。菊坡叢話云。今小兒乳哺時。值母有孕。輒眉心青黃泄瀉。此俗謂之記。乃鬾之訛也。巢源千金誤本。或作魃。故保嬰撮要云。魃病。又名鬾病。夫魃者。旱神也。何干小兒之疾。而萍洲可談云。世傳婦人有產鬼形者。不能執而殺之則去。夜復歸就乳。多瘁其母。俗呼旱魃。亦分男女。女魃竊其家物以出。男魃竊外物以歸。予按此亦鬾之訛。遂呼為旱魃耳。又書影云。今中土大旱。輒謠某婦產旱魃。聚眾捽婦。用水澆之。名曰澆旱魃。嗚呼。魃之為魃。遂令產婦受澆水之苦。隻字之訛。一至於此。良可懼矣。澹寮方。載治小兒鬾方云。音其。即解顱也。用錢氏鐵箍散。局方安腎圓。此說亦誤。（醫學啟蒙。謂之魅病。誤甚。）</p>

<h2>摹姑</h2>
<p>顏師古匡謬正俗云。或問曰。小兒羸疾。謂之摹姑。何也。答曰。此謂巫蠱爾。轉為摹姑。此病未即殞斃。而惙惙不陰。有似巫祝壓蠱之狀。故祭酬出之。或云。漢武末年。多所禁忌。巫蠱之罪。遂及貴戚。故其遺言。遍於三輔。至今以為口實也。胡侍真珠船云。韻會。摹姑小兒羸疾。今云無辜。聲之訛也。方以智通雅云。凡物頭員。謂之孤都。俗以愁苦尖喙曰孤都。因以欒欒孤獨可憐之狀。黃公紹曰。小兒羸疾曰摹姑。是也。規模作規撫。無有摸音。則摹姑之聲。亦從無辜來。辜之為罪。正謂其粗惡堪憐也。予考數說。類似牽紐焉。按諸書引玄中記。無辜病。為無辜女所病。一名天帝少女。一名女鳥。一名姑⿱艹⿰犭⿱隹鳥鳥。一名夜行遊女。一名乳母鳥。曰女。曰姑。曰母。無辜之訛。而摹姑亦為鳥名明矣。又按蕪荑。治小兒疳疾。爾雅一名無姑。無既有摹音。摹姑即疳疾。因意無姑之得名。因治無姑之病。猶百合之於百合病耶。並錄俟考。</p>

<h2>痎</h2>
<p>吳處厚青箱雜記云。蜀有痎市。而間日一集。如痎瘧之發。則其俗又以冷熱發歇為市喻。謝肇淛五雜組亦云。西蜀之市。謂之亥。亥者痎也。痎者瘧也。言間日一作也。吳注素問。引方言書。夜市謂之痎市。與二書所言異。按說文。痎。二日一發瘧也。吳說恐是杜撰。</p>

<h2>讓</h2>
<p>急就篇。消渴歐逆咳懣讓。顏師古注。讓。大便節蘊。積而利也。讓即聖惠方。所謂襄利。幼幼新書。所謂釀瀉。劉昉云。釀者如酒之意。皆疳積為病是也。通雅。以為五泄之大瘕泄。誤。</p>

<h2>鄭聲</h2>
<p>鄭聲。重語也。義未明晰。田藝蘅留青日札云。鄭聲淫。今考鄭詩非淫。鄭聲則淫。淫者。聲之過也。猶雨之過者曰淫雨。水之過者曰淫水。故曰溢也。左傳曰。煩手淫聲。慆堙心耳。乃忘和平。謂之鄭聲。許慎五經通義云。鄭重之音。使人淫過也。得之而義自見。</p>

<h2>登豆瘡</h2>
<p>林恆齋（良以）云。巢源登豆瘡。登當是豋字訛。考字收。豋與碗同。楊升庵引唐六典。有豋豆音彎。即豌豆。外臺引巢源曰。其瘡形如豌豆。亦名豌豆瘡。可以證矣。恆齋元祿中醫官。博覽群籍。著書數種。予藏其病名續錄。怪疴續抄。並有益於學者。</p>

<h2>社公</h2>
<p>續醫說。引席上輔談云。今人指發眉如雪。而肌肉純白者。以為社日受胎。故男曰社公。女曰社婆。閱宋人衛生總微論。不治病胎內十二症中。有社老。又書影云。人之賦形有羊白。星家。金羊鬼宿次未。塚宅偏感其氣。則人羊白。是乃此邦呼為白子者。</p>

<h2>野雞</h2>
<p>外臺。小兒野雞。下部癢悶。程衍道云。野雞未詳。按草木子云。漢呂后諱雉。改雉名野雞。人患痔者。名野雞疾。因知本草拾遺。蛇婆主治。五野雞病。即五痔爾。而直指方云。大便下血日久。多食易飢。腹不痛。里不急。名曰野雞。又醫說云。以大便艱難。為野雞痔。謂欲便而復止故也。此則不幹呂后之諱。別是痔中之一證。</p>

<h2>臘梨</h2>
<p>白禿臘梨。蓋臘梨者。臘月之梨。所謂凍梨也。頭生白禿。其狀類此。故亦呼臘梨焉。堅瓠集。載臘梨賦云。葫蘆之質。油灰之色。盔頭以擺錫為裝。燈籠以梅花為式。又有臘梨歌。併為此瘡作耳。外科奇救方。作辣離。醫法指南。作瘌痢。事物紺珠作喇哩。皆因音而轉訛也。</p>

<h2>狐臭</h2>
<p>胡侍真珠船云。洪芻香譜。金磾香。洞冥記。金曰磾入侍。欲衣服香潔。變胡虜之氣。自合此香。由是言之。今謂腋氣為狐臭。狐當作胡。又壽域神方云。胡者。謂胡人之臭。俗稱狐臭誤矣。按肘後方。人體及腋下。如狐𤜢氣。巢源亦作狐臭。則不必改作胡也。教坊記。謂之慍羝。崔氏海上方。謂之鴉臭。全幼心鑑。謂之豬狗臭。南史宋後廢帝記。謂之蒜氣。類書纂要。謂之𤜢臭。此皆不過以其臭之相似呼之而已。</p>

<h2>悶臍生</h2>
<p>陳眉公聞見錄云。大原王相公始生。冷無氣。母驚謂已死。有鄰嫗徐氏者。反覆諦視。良久笑曰。此俗名臥胞生。吾能治之當活。活則當貴。但不免多病累阿母耳。趣使治之。其法用左手掬兒。右手摑其背百餘。逾時嚏下而醒。又周亮工書影云。今北方難產者。落無聲。若熟寐然。以火氣熏接其臍。或從旁擊竟。以引其聲。始能寤。謂之草寐。十隻有一二生全。按育嬰家秘云。兒才生下。即氣絕不啼哭。俗名悶臍生。即寤生也。必是難產。或冒寒所致。物理小識。作悶寂生。胤產全書。謂之夢生。匯聚單方。謂之夢胎。推拿秘法。謂之草迷。並同。</p>

<h2>癇</h2>
<p>王符潛夫論云。嬰兒常病傷飽也。父母常失在不能已於媚子。哺乳太多。則必掣縱而生癇。徐嗣伯曰。大人曰癲。小兒曰癇。巢源云。癇者小兒病也。十歲已上為癲。十歲已下為癇。此癇即宋以後所謂驚風也。（始見聖惠。）而大人之病。亦可稱癇。隋許智藏。診秦孝王俊曰。疾已入心。即當發癇。不可救也。（見隋書本傳。）時孝王已為大人。又外臺大人方中。有癇門。可以見耳。</p>

<h2>𥍃</h2>
<p>炮炙論序。目闢眼𥍃。𥍃字無考。容齋隨筆引作⿰目雝。亦未詳其義。何鎮本草必讀作眼矔。注云。矔音貫。張目視。及轉目視也。張目視。與轉目視。豈是病目。予按𥍃。疑是睢之訛。病源候論。有目睢候。其皮緩縱。垂覆於目。則不能開。世呼為睢目。漢書注。睢。仰視貌。蓋皮垂覆。則不得不仰視。故謂之目睢。</p>

<h2>⿸疒貢</h2>
<p>黴瘡秘錄。有或⿸疒貢爪甲語。又萬氏家抄。瘡名蟮⿸疒貢頭。本草匯言。有軟⿸疒貢瘡。⿸疒貢字。檢字書無考。但品字箋。為首上毒瘡。而其義未允當。原病集釋音。⿸疒攻音貢瘡疾⿸疒攻臖。知是與⿸疒攻同。腫起之義。小兒袖珍方。㿉字亦同。</p>

<h2>文字從疒</h2>
<p>醫書文字。溫疫之為瘟疫。水腫之為㽷瘇。鼓脹之為痮。消渴之為痟暍。勞瘵之為癆瘵。霍亂之為癨亂。歷節之為癧癤。哮嗽之為痚瘶。眩暈之為痃癉。鼠漏之為癙瘺。痄腮之為痄𤸛。便毒之為⿸疒便毒。發背之為發⿸疒背。辣離之為⿸疒辣⿸疒離。休息痢之為㾋瘜痢。凡此類強從疒者。郭忠恕所謂。飛禽即須安鳥。水族便應著魚。正是此之謂也。</p>

<h2>護項</h2>
<p>人之惹風。必自風府。項間颯然。噴嚏隨出。次之以惡寒發熱。寒日宜護而避之。資生經云。岐伯對黃帝之問曰。巨陽者。諸陽之屬也。其脈連於風府。故為諸陽主氣也。然則風府者。固傷寒所自起也。北人皆以毛裹之。南人怯弱者。亦以帛護其項。俗謂三角是也。予少怯弱。春冬須數次感風。自用物護後無此患矣。凡怯弱者。須護項後可也。針灸聚英云。北人以毛皮裹之。今之護風領。南人怯弱者。亦以帛護其領。今護領。乃云。蔽垢膩。實存名亡矣。又朱輔溪蠻叢笑云。朱漆牛皮。以護頭項。名固項。蓋固項。即護領。不止北人為然。按道書。以腦後為風窩。亦由此。</p>

<h2>賊風</h2>
<p>醫壘元戎。俗云。賊風者。窗牖之風。非也。予按以窗牖之風。解經之賊風。固非也。然此攝生家之所最可避也。嘗閱明陳龍正幾亭外書云。孔隙風。名為賊風。何也。曰平面風。如開口之呵。檐下風。如嘬口之吹。呵溫而吹冷。吹已不可不避。況孔隙風乎。鐵之為物。方圓平厚。可坐可憑。惟刀錐不可近。薄與尖故。縫風如刀。隙風如錐。可謂能近取譬矣。</p>

<h2>露首溫足</h2>
<p>予夜寢必覆被沒頭。否則不能穩睡。數十年以為常矣。內典云。欲得老壽。當溫足露首。又應璩詩。下叟前致詞云。暮眠不覆首。嘗日中坐地讀書。見頭上有影二三尺。蒸蒸如遊絲。蓋陽氣之從玄府上騰也。方知露首所以得壽。而下叟之言不偶然。然不能頓止。</p>

<h2>羹上肥</h2>
<p>瞥瞥如羹上肥。世人多不解。井金峨先生。嘗謂予云。瞥瞥財見難認之義。肥謂肉之脂液。浮乎羹面者。凡羹中有肉。則其面有小輪無數。光彩不定。瞥瞥然相逐。此即肥也。後予得數證以質。先生稱善。後漢郡國志。引博物記。記石腦油云。其水有肥。如煮肉洎。羕羕永永。如不凝膏。脈經圖說曰。羹上肥。猶肥珠在於羹面。病源候論。有肥目候云。似羹上脂。致令目暗。外臺載範汪五淋方云。氣淋者。下如羹上肥。</p>

<h2>劑頸</h2>
<p>劑頸而還。無明解。按劑。劑限之義。而還。猶謂以還。言劑限頸以還。而頭汗出也。脈經有劑腰而還之文。又屍子云。莒國有名蕉原者。廣尋。長五十步。臨百仞之溪。莒國莫敢近也。有以勇見莒子者。獨卻行劑踵焉。此所以服莒國也。劑頸。劑腰。劑踵。皆限劑之義耳。</p>

<h2>消息</h2>
<p>傷寒直格云。消息。謂損益多少也。錦城大田公幹（元貞）嘗謂云。公羊昭十九年曰。樂正子春之視疾也。復加一飯則脫然愈。復損一飯則脫然愈。復加一衣則脫然愈。復損一衣則脫然愈。何休注。脫然。疾除貌也。言消息得其節。傷寒論消息二字。得之而義自明。此說得之。</p>

<h2>索餅</h2>
<p>來元成倘湖樵書云。今俗以麥面之綿索而長者。曰面。其團塊而匾者。曰餅。考之古人。則皆餅也。劉禹錫贈進士張盥詩曰。憶爾懸弧弓。余為座上賓。舉箸食湯餅。祝辭添麒麟。湯餅而舉箸食之。馬永卿雲。即世之長命面。此唐人以面為餅之一證也。漢張仲景傷寒論云。食以索餅。餅而云索。乃面耳。此漢人以面為餅之一證也。予按龐安時總病論。煮餅是切面條。湯煮水淘過。熱湯漬食之。即索餅也。方有執改作素餅。誤。千金作㾬餅。</p>

<h2>黃龍湯</h2>
<p>仲景之方。配四獸。曰白虎。曰青龍。曰玄武。曰朱雀。（十棗湯。一名朱雀湯。見外臺澼飲門。）先友山田宗俊（正珍）著傷寒考。詳論之。而丹鉛總錄云。余嘗疑天有五行。星有五緯。地有五嶽。人有五事。而二十八宿。何獨無中央之宿也。後觀石氏星經云。中宮。黃帝。其精黃龍。為軒轅。又按張衡靈憲軒轅黃龍於中。則是軒轅一星。與蒼龍白虎朱雀玄武四獸為五矣。余於是謂方已取名於四獸。則必有配中宮一星者。後讀千金方。勞復篇小柴胡湯。名黃龍湯。乃並四方。以應五獸焉。此當補傷寒考。</p>

<h2>震氣</h2>
<p>菽園雜記云。凡空屋久閉者。不宜輒入。先以香物及蒼朮之類焚之。俟鬱氣發散。然後可入。不然感之成病。久閉眢井窨窖。尤宜慎之。徹醫徐德夫寓京日。家人方春入花窖。窖深。久不起。疑之。又使一人入焉。亦久不起。燃炬照之。二人皆死其中。蓋郁毒中之也。按輟畊錄。枯井有毒一則。與此事相類。又熊三拔太西水法。載避震氣說云。地中之脈。條理相通。有氣伏行焉。強而密理。中人者。九竅俱塞。迷悶而死。凡山鄉高亢之地。多有之。澤國鮮焉。此地震之所由也。故曰震氣。凡鑿井遇此。覺有氣颯颯侵人。急起避之。俟泄盡。更下鑿之。欲候知氣盡者。縋燈火下視之。火不滅。是氣盡也。今東都造麴家窖中。時或有發氣。燭必滅。以蒼朮一塊障火。則不滅。至其甚。人中之而死。救療之法。具於先考所輯濟急方。</p>

<h2>砒毒</h2>
<p>秋燈叢話。載萊郡劉某。遇僧授海上方。多效。其解砒毒。尤為神驗。戚某屢求不與。銜之。乃置酒延劉。食畢。扃其戶謂曰。爾已中砒毒矣。速語我方。為爾療。劉不信。頃覺腹中漬動。乃曰。何惡作劇如是。可疾取白礬三錢來。戚如言取至。調水飲之。立解。因惡其吝也。榜其方於通衢。享和中。東都木挽街。有醫西良庵。制截瘧丸子入砒者。盛囊攜出。而行醫百餘里外。數十日後歸家。搬移之際。丸子滾轉。雜於煙中。西不知之。一日解裝出煙飲之。忽覺口中異常。妻及兒子亦飲之。復然。少選三人心腹大痛。苦楚不可名。因開煙檢之。見有丸子。大駭。急服解毒藥數種。並無寸效。遽呼鄰家仙台醫官永井元庵而議之。元庵無計可出。偶記叢話用白礬事。如法用之。三人便云。藥下胸。頓覺心腹一道開豁矣。竟得救三人之命。予親聞之永井氏。實神驗方也。時輯救急選方。因收其方。嗚呼為醫者。小說雜記。亦安可不寓目哉。</p>

<h2>八月生子</h2>
<p>董含蓴鄉贅筆。載俗傳七月生子生。八月生子死。西鄰有朱氏。妻八月產一子。妾七月產一子。妾產者周歲而殤。妻所生至今無恙。醫書以胎成七月。屬太陰脾經脈。內屬於肺。土能生金。故壽。八月屬手陽明脈。內屬於大腸。生氣交於泄氣。故夭。此論似不足執以為據也。按張志聰注素問六元正紀云。七月所生小兒。能育而亦多長壽者。蓋七月乃肺藏司養。肺屬天。而主氣主血。天一生水。感天地之氣而生。故育。九月十月。乃少陰太陽所主。皆感陰陽水火而生。若夫八月。乃陽明大腸主氣。感陽明之府氣而生。故雖生而不育。董氏所引醫書。未有所考。與隱菴之言少異。要之此說不足信據。然世人多知之。故錄此。</p>

<h2>古方</h2>
<p>古方二字。唐人有於詩中用之者。如盧綸寂寞日長誰問疾。料君惟取古方尋。又雍陶新句有時愁里得。古方無效病來拋。是也。天下皆知學古方書矣。見宋陳振孫書錄解題。外臺秘要部。</p>

<h2>復古</h2>
<p>李東陽云。予恆病天下之藝。未復於古。而醫為甚。今如斯邦。則不然。天下之藝。無不復於古。而醫為甚。昔者病其不復於古。而今則病其復於古。何居。其以為古者。非所謂古也。先師井金峨先生嘗謂曰。自伊物二公。首倡復古。海內靡然響風。雖小道。亦必效之。遂有廢陰陽。排五行。去素靈諸家。直講張仲景書者。動輒云。是非仲景之語也。夫素靈固出於後人。而漢儒之學。原於陰陽五行。仲景生於其後。焉知今所謂古學者乎。故有陰陽五行之說。無害其為仲景也。謂之仲景之誤。則可。謂之後人攙入。則不可。且易說陰陽。書載五行。六氣見於下氏。豈與先天后天。理氣體用。無稽之言同乎。唯其於治病。無所當。則置而不言。固其所已。至其謂之復古。則既無徵於前。後何所復之有。此可以砭近來醫流之謬也。</p>

<h2>藥劑</h2>
<p>茅元儀野航史話云。余嘗怪岐黃家制方。必窮析分釐。而置劑者。每以手為度。必不能合。欲以已疾。焉得不疏。古之名醫。止華佗置劑。心識分銖。不假稱量。他能剖腹破背。湔洗腸胃。此可仿效乎。斯邦醫家。亦坐於此弊。然數十人數百裹之藥。每藥必較量錢分。殆不勝煩瑣。是不得已之勢也。</p>

<h2>診腹</h2>
<p>臨病必診按其腹。詳見於四十九難。揚玄操丁德用注。此醫家四診之外。不可缺之事也。但歷代醫書。未見有詳論者。張志聰傷寒論集註云。中胃按之而痛。世醫便謂有食。夫胃為水穀之海。又為倉廩之官。胃果有食。按必不痛。試將飽食之人按之。痛否。惟邪氣內結。正氣不能從膈出入。按之則痛。又胃無穀神。藏氣虛而外浮。按之亦痛。若不審邪正虛實。概謂有食。傷人必多。又按者輕虛平按。若按不得法。加以手力。未有不痛者。此才挽近診腹之一證也。而近聞吳中醫士。寓於崎岙者。獨診脈。而不及腹。予心訝之。甲子冬。使譯官問之於蘇門胡振。振覆曰。唐山診治。但有按脈。而無按腹之說。況古來亦並無此法。然亦有之。或患腫脹腹滿之症者。視其腹之形色。按其腹之堅軟耳。再或幼科童稚。未免傷於食者。故亦按之。其他癥瘕痞塊病。人自能詳述。亦毋庸按之也。蓋此彼邦近代之弊習為然。振不考諸古今醫書。漫為之答。亦何陋也。</p>

<h2>靨字音</h2>
<p>痘瘡收靨結靨。世醫或為掩音。或為叶音。未詳何是。嘗閱林恆齋（良以）劄記。定為掩音。曰痘靨。或作痘黶。又作痘𨸏。全幼心鑑。痂疕瘡黶。醫學綱目。瘡𨸏曰痂。是也。又通作厴。見本草敗茅條。合諸說考之。原是大學厭然之厭。康成注。厭讀為黶。陸音烏簞反。痂有閉藏之意。黶之為痂。乃本於此。予按準繩云。痘瘡收靨。圓淨堅厚。如螺靨者上也。品字箋。瘡痂。俗曰瘡䗐。正字通。瘡弇。瘡痂也。螺厴草。養疴漫筆。作螺掩草。時珍海蠃釋名。厴音掩。閉藏貌。乃知黶靨䗐弇通用。而音掩。皆可以證恆齋之說矣。又王氏易簡方。作收擫。擫於琰切。音黶。要之會意假借。展轉不一如此。又楊氏家藏方。攤膏藥於紙花。謂之藥靨。靨字之義。亦可見也。</p>

<h2>福醫藥案</h2>
<p>龔氏回春。載南方人有患病者。每延醫至診視。後止索一方。令人構藥於市正。聞彼土風俗。今猶為然。天明壬寅歲。浪華舶商十數人。飄泛到福州地。留月餘。其內一人染時疾。縣司差醫。日就客館診。醫不自調藥。唯疏其方而去。衙卒乃攜方案。買之藥鋪。而其煎藥。將鐵蕉十餘本。搕根收土。投諸水中。攪澄用之。曰。鐵蕉從日本所載來。株猶帶其地土。今用此水。猶用其土水。必無不服水土之患也。蓋其用心切矣。予向得其藥案二紙。廁箋縱九寸。橫五寸。字廁行草。其一曰。治郎初一日。洋參五分。麥門一錢。去心。川石斛二錢。新會皮三錢。穀芽一錢。炒。生苡仁二錢。雲苓一錢。甘草一錢。加東洋土。覺水澄清代水煎。</p>

<h2>錫餳</h2>
<p>金華戴元禮。國初名醫。嘗被召至南京。見一醫家。迎求溢戶。酧應不間。元禮意必深於術者。注目焉。按方發劑。皆無他異。退而怪之。日往觀焉。偶一人求藥者既去。追而告之曰。臨煎時下餳一塊。麾之去。元禮始大異之。念無以錫入煎劑法。特叩之。答曰。是古方爾。元禮求得其書。乃蜴耳。嗚呼。不辨餳錫而醫者。世胡可以弗謹哉。見於陸深金臺紀聞。予弱冠。有偶成詩云。國手喧喧孰是真。俱言寸圭能回春。由來錫餳無辨得。委命求生世上人。乃用此事。近清人說部。載有宦醫以敗醬。為陳年食醬。用之病人。病轉劇者。事太相類。</p>

<h2>左右齊診</h2>
<p>魯華祝衛藏圖識云。西藏醫。名厄木氣。其視脈。以左手執病者之右手。右手執病者之左手。一時齊診。予向得本邦古醫書一卷。其中載診脈法云。左右齊診。而脈動應於醫之手。左右動數不齊者。死之兆也。此從前脈書。所未言及焉。</p>

<h2>文人叵信</h2>
<p>予前年。得汪伯玉大函集。觀其傳世醫吳橋。文辭遒上。全擬太史公。而其治驗三十餘則。莫不神且奇焉。以為倉公之儔也。常欲得其遺書而讀之。頃者偶閱詹景鳳明辨類函曰。歙岩鎮吳氏醫本未精通。而以奔兢得鄉薦紳薦引。出入郡縣公。遂起鉅富。予嘗同其視一姻家內人病。日未時。切脈曰。無病。偶感風寒爾。一劑可療。至酉時。復切脈曰。病減矣。及戌時而婦死。死尚不知。可謂醫乎。汪司馬公伯玉。往來主於其家。遂為作傳。以比太倉公。予於是始知其醫之庸劣。而文人之叵信也。</p>

<h2>草藥</h2>
<p>本草有解草藥毒方。張景醫說。蕭京救正編。並載草藥不可服之戒。蓋草草粗之義。非草木之草。外科精要云。或用君臣藥。或用草藥。其疾益甚。體仁彙編云。平日有舊病。腹中有草藥。又服君臣藥者不治。已任編云。浙西人。言出自醫家藥籠中者。謂之宦料藥。俗傳單方一二味。謂之草頭藥。婦女酷信此說。不讀書者。從而和之。往往以此誤事。</p>

<h2>引線候脈</h2>
<p>世傳翠竹翁引絲診脈。此醫書所未言。襄陽縣誌。載崔真人名孟傳。北水關人。從族兄授醫學。掃云留月。直為壺公妙術。萬曆朝。太后病篤。真人應召。詔自簾孔引線候脈。投劑立愈。上賜官賜金。皆不受。遂賜以真人號。後於武當羽化。自號撲庵。此恐因小說西遊記孫悟空之事傅會者。</p>

<h2>一貼</h2>
<p>藥一貼。始見金匱柴胡飲子方後。或通作帖。蓋是包裹黏貼之義。陳眉公太平清話云。宋朝吳郡士登科者。始於龔誠。其家居崑山黃姑廟。猶藏登第時金花榜帖。乃塗金紙。闊三寸。長四寸許。大書姓名。下有兩知舉花押。又用白紙。作大帖。如藥帖狀。貯金花帖於中。外亦書姓名二字。蓋以此報其人。以此知其制與斯邦藥裹。彷彿相似也。食物亦有稱帖。元李材解酲語云。尚書範谷英。賜食帝前。食菲芽面旨之。一箸而止。帝曰。不中食乎。英曰。臣豈敢。但天廚珍味。臣已領恩矣。山妻久厭糟粕。將以遺之。使知官家有人所不見之物也。帝令盡食之。復賜一帖以歸。又徐氏筆精。墨一笏筆一帖。</p>

<h2>一周</h2>
<p>今俗病之劇愈。藥之驗否。皆預期以七日。謂之一周。按郎仁寶七修類稿云。天之所以為天。不過二氣五行。化生萬物。名曰七政。人之所以為生。亦不過陰陽五常之氣行。於六脈見之。名曰七情。天之道惟七。而氣至六日有餘。（氣盈朔虛。推算時刻。）則為一候。故天道七日來復。人身之氣惟七。六日而行十二經（一日行兩經。）有餘。故人之疾。至七日而輕重判焉。</p>

<h2>高緩</h2>
<p>小說。載醫緩姓高。初疑其出何書。又神仙通鑑。扁鵲自稱高緩。後長桑謂之曰。即以高人自許。更濟以謙和。始可免禍。我即以高和名之。後閱鄭夾漈通志。醫緩。即醫和。聲之訛。小說戲文。非無所由。若夫張松北見曹操。以其川中醫有仲景為誇。則無所考。而方中行引以為證者何諸。</p>

<h2>艾師</h2>
<p>楊鐵崖贈艾師黃中子古樂府云。艾師艾師古中黃。肘有補註明堂方。籠有岐伯神針之海草。（岐伯遺針於海島岸。生艾草。他艾十不及一。）篋有軒轅之燧光。（灼艾禁木火。火鏡火珠。取火佳。）針窠數穴能起死。一百七十銅人孔竅徒紛龐。（華佗針灸。不過數處。）三椎之下穴一雙。二豎據穴名膏肓。百醫精兵攻不得。火攻一策立受降。金湯之固正搗穴。快矢急落如飛鶬。梅花道人鐵石腸。昨日二豎猶強梁。明朝道人步食強。風雨晦明知陰陽。老師藥券不受償。何以報之心空藏。施藥勝施羊公漿。會有仙人報汝玉子成斗量。按艾師。又呼灸師。夷堅甲志云。汝前世為灸師。誤灸損人眼是也。乃以灼艾為業者。今斯邦多有焉。</p>

<h2>果子藥</h2>
<p>予每觀世啞科療病。至虛不多用參附之屬。至盛不多用消黃之輩。特主平穩之劑。至其危殆。不敢自省。然而以此馳名致富者頗多。不特斯邦。嘗閱明江邦申歲寒社耳目日書云。小兒醫痘。杭城首推某矣。某用藥極平易簡少。俗所謂果子藥。然渠所謂吉凶分數。約日不差。人以此服之。予曰。此自其眼力高耳。胸中定耳。渠知痘無藥也。順不必服。逆庸服。險症亦只須果子藥。可保無後怨。倉公傳云。秦越人非能生人。人自當生者。秦越人能使之不死耳。此又可為一不必服藥之明徵矣。</p>

<h2>矢醫</h2>
<p>徐東莊醫貫評云。熱既入里。離表已遠。驅出為難。故就大便通泄其熱。從其近也。得汗而經熱從其解。非汗為害而欲祛之也。便矢而府熱從矢出。非矢為難而欲攻之也。醫不察此。專與糟粕為敵。自始至終。但知消克瀉下之法。求一便矢。以畢其能事。夭人生命。如是者曰矢醫。近來斯邦。矢醫極多。可嘆矣。</p>

<h2>衣上出火</h2>
<p>張芳洲雜言云。景泰中晨出暮歸。抵家天色盡瞑。入室更衣。遂解下裳。暗中有火。星星自裙帶中出。轉摺至揓上。晶熒流落。凡三四見。荊婦相顧失色。不敢言。忽憶張茂先積油致火之說。而余所為裳。乃吳綾。俗所謂油段子。工家又多以脂發光潤。況余被酒體氣蒸郁。或因以致火。亟呼婢令於揓後力曳裳。以手摩之。及手熱幾不可忍。火星星至矣。以此知事物異常者。必有所自。不可遽為驚駭傳惑人也。此他稗官諸書。間載此事。方藥地物理小識云。青布衣。大江西洋布。及人身之衣氣盛者。皆能出火。予先考藍溪公所識一貴婦。每暗中更衣。火星爆出。因謂婦女櫛發於暗中。及描兒背毛逆摩。俱出火之類。蓋體氣盛者。偶有搏擊而發光者。非真火也。近西洋所齎來一器。其制匣大尺余。一人熱線。一人轉捩。少選執線人體上。火星星出。迸炸有聲。意亦此理也。</p>

<h2>同身寸</h2>
<p>俞穴分寸。滑氏以降。以骨度取之。王太僕所謂同身寸者。未知何寸。徐春甫遂有同指寸之說。肘後方。取巨闕法云。以赤度之。（赤尺。古通。）下經曰。岐伯以八分為一寸。亦未知何尺。考晉書裴頠傳云。今尺長於古尺。幾於半寸。樂府用之。律呂不合。史官用之。曆象失占。醫署用之。孔穴乖錯。此三者度量之所由。得失之所取徵。皆絓閡而不得通。此乃似用常尺。要之無論古人所用。即肥瘦修短。隨取而隨而無差者。莫若骨度焉。此乃千古不刊之活法也。近重表弟山崎子政（譱）　創制骨度折量尺十二條。不啻用心之苦。捷便未有過於此者焉。</p>

<h2>針下胎</h2>
<p>針術之妙。李洞玄於長孫皇后。屠光遠於番易酒官之妻。龐安時於桐城民家之婦。凌漢章於吳江貴家之婦。張公壽於松江一婦。（出都公譚纂。）高郵一醫。於寠人妻。（出讀律佩觿。）又滑壽（紹興府志。）焦蘊穩（海州志。）丁毅（江寧府志。）殷榘（儀真縣誌。）之於臨產婦人。或云兒執母心。或云兒手掛母腸。皆隔腹針兒手。胎下而視兒掌有針痕。夫兒居母腹中。在胞內焉。此決理之所無而傳紀載之。實可疑矣。</p>

<h2>針不出</h2>
<p>齊東野語云。趙信公在維揚制閫日。有老張總管者。北人也。精於用針。其徒某得其粗焉。一日信公侍姬苦脾血疾。垂殆。時張老留傍郡。亟呼其徒治之。某曰。此疾已殆。僅有一穴。或有療。於是刺足外踝二寸。徐而針為血氣所留竟不可出。其徒倉惶請罪曰。穴雖中。而針不出。此非吾師不可。請急召之。於是命流星馬宵征。凡一晝夜而張至。笑曰。穴良是。但未得吾出針法耳。遂別於手腕之交刺之。針甫入。而外踝之針躍而出焉。即日疾愈。又新安文獻志云。程約字孟博。婺源人。世工醫。約精針法。同邑馬荀仲自許齊名。約不許也。太守掌爰嘗有疾。馬為左脅下針之。半入而針折。馬失色曰。是非程孟博不可。約至。乃為右脅下一針。須臾而折針出。疾亦隨愈。由是優劣始定焉。今醫家遇針不出。乃針他穴道。正與張程之術符矣。</p>

<h2>八脈名義</h2>
<p>衝脈。起於氣衝。陽維陰維者。維絡於身。難經既論之。但餘四脈。未詳其義。楊玄操云。督之為言都也。任者妊也。此是人之生養之本。故曰位中極之下。長強之上。予切疑任者妊也。在女子則可。至男子則窮矣。因考四脈。皆取義於衣物耳。督⿱敄牛也。又作裻。其脈行脊中行。猶衣⿱敄牛之在於背後。申生偏衣。國語。作衣之偏裻之衣。韋昭注。裻在中。左右異。故曰偏。史趙世家。王夢衣偏裻之衣。正義。按裻。衣背縫也。莊子養生主。緣督以為經。釋文引李注云。督中也。趙注。奇經八脈。中脈為督。衣當中之縫。亦謂之督。見禮記深衣注是也。督已為衣當中之縫。任則為衽之義。其脈行腹中行。猶衣衽之在於腹前也。而帶脈以總束諸脈。猶帶之繞腰也。蹻。草履也。史記。虞卿躡蹻擔簦。二蹻脈。共起於跟中。故取名焉。蹻。音吉約切。滑氏音丘妖切。云是取蹻捷超越之義恐非也。</p>

<h2>脫文校補</h2>
<p>濟世拔萃。載遺山阿魏散。治骨蒸傳屍等勞。寒熱羸劣。困倦喘嗽。上阿魏三錢。研。青蒿一握。細切。東北桃枝一握。細銼。□□□病人中指許大。男左女右。以童子小便二升半。隔夜浸藥。明旦煎取一大升。空心溫服。分為三服進。次服檳榔末三錢。如人行十里。更一服。服至一二劑。即吐出蟲子。或泄瀉。更不須服余藥。若未吐利。即當盡服。病在上即吐。在下即利。皆出蟲如馬尾人發。即差。萬金良藥。可以當之。予當欲試用此方。然所缺三字。未知何字。亦無他本可校。因姑置之。後偶閱王漁洋居易錄。引元遺山續夷堅志。載此方。所缺乃甘草如三字。遂得補完之。但此藥。如斯邦人。不堪臭。因改為丸子用之。頗有效驗。噫此三字。不得之方書中。而校補。不量於說部而得之者。抑亦奇矣。醫焉可不涉獵群籍乎。</p>

<h2>紙鳶放鴿</h2>
<p>續博物志云。今之紙鳶。引絲而上。令兒張口望視以泄內熱。香祖筆記。引張合宙載云。張鐸僉事言。鴿能闢小兒疳氣。當多房養之。清暑令兒開房。故其氣著面則無疳氣。邦俗云。病瘵人可弄烏貓。患風人。宜乎觀鶩。必有所由。</p>

<h2>瘡毒發痢</h2>
<p>王世懋二酉委譚云。予歷藩臬。於寮寀間。見異症。因錄以俟知醫者。秦方伯淦。右轄楚中時。背脅間生一痰核。漸大如瘤。聞荊南有善醫者。須服藥滿百帖始除。即少弗效也。如數服之果愈。遷為豫章左。至時了無恙。亡何足微蹇。問之云。足面似簇筋。令童子捫之傷皮耳。已遂愈。數日而病痢。提學江公以東。私謂同寮曰。大夫其非痢之謂。疾殆不起乎。余怪而問之。曰。余非知醫者也。先大夫先患足瘡。一如秦公。已而下痢。竟不治。蓋瘡毒所發也。秦公乃竟死。一閩參政王公懋德。自延平歸。忽瘦甚。鬚髮皆枯。云是消渴證。百方藥之弗效。先是延平一鄉官。潛謂人曰。王公病。曾有嘗其溺否。有此患者。溺甚甜。此不治驗也。王后聞之。初試微甘。已而漸濃。愈益甜。王亦自知必不起云。消渴病聞之。溺甜則未之前聞也。豈亦糞甜苦之類乎。二事皆醫說所未載。予前年視一士人妻歲五十餘。云常穿玄𧍒線。一日於指節間。針尾所觸。生小瘡。狀如瘊子。後漸腫起。延及臂肘發紅紫暈。不堪痛楚。日夜號呼。瘍醫祝藥。數日而愈。尋患痢。日數十行。所下如爛魚腸。百方無效。時予偶記麟洲所筆。心斷其必死。後果然。至渴疾嘗尿。則見外臺秘要。而許學士本事亦有說。麟洲儒者。或未及檢爾。（嘗糞甜苦。見吳越春秋。）</p>

<h2>縊死用藥</h2>
<p>明史。嘉靖二十年。宮婢楊金英等謀逆。以帛縊帝。氣已絕。太醫院使許紳。急調峻劑下之。辰時下藥。未時忽作聲。去紫血數升。遂能言。又數劑而愈。考焦竑獻徵錄。所用桃仁紅花大黃。諸下血藥也。</p>

<h2>雙睛突出</h2>
<p>王遠奇疾方。載九江有夫毆其婦。致雙睛突出。邊有兵。過其門。令勿動。取手巾水濕。盛睛旋轉。使其系不亂。然後納入。即以濕巾裹住。令三日勿開。其婦性急。閉二日。遂解巾。眼好如故。但遇風寒常發痛。云解早之故也。予嘗見一樸漢。角力之際。左眼睛突出。大如雞蛋。垂下尺余。初不覺痛。一人多唾手。掬而納之。須臾半面腫起。痛劇甚。急請眼醫。點熨十餘日復故。但顧盼之際。烏睛不轉為異耳。又聞有力掀鼻涕。目睛突出者。亦不可不知。</p>

<h2>疥蟲</h2>
<p>草木子。疥有蟲。使明者針而取之。其大不以半粟也。膚革完全。乃因人氣血不和。而化生者。鈕玉樵觚剩云。曹溪金盂常短視。離物寸許。即摸捫不辨。近則能察毫末。年逾七十餘猶然。見人有疥也。輒為搜取其疥內蟲。云疥蟲有雌雄。雄者頷下有須。種種然可數。亦有老少。少者色白。但其口稍黑耳。</p>

<h2>鵝血治噎</h2>
<p>鵝血治噎膈。於方書所未見。特張路玉醫通。載王御九仲君。中翰金淳還公即。太史韓慕廬東坦。咸賴此霍然。按王漁洋香祖筆記。鈕玉樵觚剩。並云。武昌獻花寺僧自究病噎死。遺言其徒。剖之胸腹。果得一骨如簪。取置經案。久相傳示。後有戎師寓寺。從者殺鵝。未斷其喉。偶見此骨。取以挑刺。鵝血憤發。而骨遂消滅。自究之徒。亦病噎。因悟鵝血可治。數飲遂愈。以此方授人。無不驗者。鵝血治噎。昉見於此。與廣五行記。所載靛治噎疾事正相類。王漁洋晚年。著古夫於亭雜錄云。鵝血治噎。試之亦不甚效。蓋噎有五種。未知何噎。必有所主對也。</p>

<h2>暍瘩</h2>
<p>吳震芳談往載崇禎十六年八月至十月。京城內外。病稱暍瘩。貴賤長幼。呼病即亡。不留片刻。兵料曹良直古遺正與客容對談。舉茶打恭。不起而殞。兵部朱希萊念祖拜客急回。入室而殂。宜興吳彥升授溫州通判。方欲登舟。一價先亡。一價為之買棺。久之不歸。已卒於棺木店。有同寓友鮑姓者。勸吳移寓。鮑負行去。旋入新遷。吳略後至。見鮑已殂於屋。吳又移出。明辰亦殂。又金吾錢普民同客會飲。言未絕而亡。少停夫人婢僕輩。一刻間殂十五人。又兩客坐馬而行。後先敘話。後人再問。前人已殞於馬鞍。手猶揚鞭奮起。又一民家。合門俱殂。其室多藏。偷兒兩人。一俯於屋檐。一入房中。將衣飾疊包。遞上在檐之手。包積於屋已累累。下賊擎一包托起上則俯接引之。上者死。下者亦死。手各執包以相縴。又一長班。方煎銀。蹲下不起而死。又一新婚家。合巹坐帳。久不出。啟幃視之。已殞於床之兩頭。沿街小戶。收掩十之五六。凡楔杆之下更甚。街坊間的兒。為之絕影。有棺無棺。九門計數已二十餘萬。大內亦然。天師張真人輯瑞入都。出春明不久。急追再入。諭其施符噴咒。唪經清解。眠宿禁中。一月而死亡不減。發內帑四千。三千買棺。一千理藥。竟不給。十月初有閩人補選縣佐者。曉解病由。看膝灣後。有筋腫起。紫色無救。紅則速刺出血。可無患。來就看者。日以萬計。後霜雪漸繁。勢亦漸殺。閩醫以京銜雜職酬之。明春為流賊所賊。予按所謂暍瘩。即痧病也。王庭痧脹玉衡序云。憶昔癸未秋。余在燕都。其時疫病大作。患者胸腹稍滿。生白毛如羊。日死人數千。竟不知所名。有海昌明經李君。見之曰。此痧也。挑之以針。血出病隨手愈。於是城中舁而就醫者。亦日以千計。皆得愈而去。祟禎十六年。歲在癸未。正與談往之言符矣。此明年闖賊陷燕京。明亡。予謂此不必病。亦妖孽耳。</p>

<h2>針入肉中</h2>
<p>針誤入肉。若不即出。經年累月。走趨肉中。必出從他處。予亦往往目擊焉。袁漫恬書隱叢說云。鄂州武氏女。得奇疾。痛時宛轉不堪。一道人以藥傅之。一鐵針隔皮跳出。余侄家幼婢。寤寐中手面腕間。如蟲螫之痛。若有物入於中。自後蠕蠕微痛。漸漸緣臂灣。環而上。直至肝背。忽露一細頭。以指擿之。乃是一無孔鐵針。其痛始愈。計其三月之久矣。夫針之偶入膚肉亦常耳。獨異其宛轉而上。且能自穴而出。視武氏女又異矣。昔人之所謂蜿蜒如龍者。安知非此等耶。以是知事理之不可測。而物性之不可知也。</p>

<h2>辟穀丹</h2>
<p>甲辰初冬。予於舊書肆中。見古本脈經。乃購歸而檢之。乃熙寧三年。宮刊小字原本也。會篁墩吉資坦（安）見過。二人反覆展覽之際。忽獲夾紙一幅。疏辟穀丹方甚詳。不知何人書。小行草如發。資坦曰。此書態度清逸。在於董玄宰陳仲醇伯仲之間。此宜寶借焉。未知試之於今。驗否如何。而其方甚奇。姑錄於此。曰。此方圓者服之。終歲無飢寒之迫。病者服之。七日有回生之功。更宜修真著行之侶。為入山了道之助。夙緣秘授。妄泄遭愆。凡修制須用黃道天德吉日。忌孝服婦人雞犬見之。砂里汞。七釐半。明硃砂。一分七釐半。乳香一分五釐。茯神五分。茯苓五分。木香二分。飛。管仲七分。蕨粉二錢八分。龍骨五分。黃丹飛過。二分五釐。雄黃二分。黃蠟三錢。松香三分。冰片一分五釐。上好者。白朮五分。大金箔十五張。存二張為衣。金箔汞丹雄五味。細藥另配。研極細不見星片。又另細研。餘八味共末。候松香黃蠟溶化。先入攪勻。次下細藥。速攪隨提。離火下片。搗千餘下。搗一下。念一聲。救苦觀世音菩薩。如凝硬。焙軟再搗。分作六丸。金箔衣之。磁合陰乾。仍蠟固為丸。服此先淡齋數日。臨時食白水淡面。一飽。然後用乳香湯。乘熱送下一丸。入室靜養。扞心減言。不得勞動。如覺微飢。進梨汁三五口。或井花水一小杯。七日外。方可行走說話。時常冷水不忌。或一月一季。以至半年一年。並不飢餓。身體轉健。精神倍長。要飲食。服青菜湯一碗。原藥餌下稀粥補之。兼用棗湯梨汁獨參湯更好。七日內。忌鹽醬酸辛。以後不忌矣。服藥咒曰。這靈丹不可言。名山洞府聚神仙。遺在世內常救苦。保國安家性命全。吾奉太上老君。急急如律令。</p>

<h2>種痘</h2>
<p>醫通云。邇年有種痘之說。始自江左。達於燕齊。近則遍行南北。詳究其源。云自玄女降乩之方。金鑑云。古有種痘一法。起自江右。達於京畿。究其所云源。云自宋真宗時。峨眉山有神人。出為丞相王旦之子。種痘而愈。遂傳於世。弋陽縣誌云。黃旻曙五十三郡人。徐成吉五十五郡人。得十全神痘法。以棉絮取痘漿之佳者。送人鼻內。及愈有瘢如真。往往靈驗。遠近皆聞其風焉。方象瑛種痘小引云。江楚間。多種神痘。相傳昔有道士。憫痘症殺人。禮峨眉山。四千九日。夢授某童子仙苗。翌日痘出。李仁山（蘇州人享保中來寓於崎館。）云。種痘之法。出自神授。前有徽商施姓者。泛海至一山。遇天后顯靈。授以此法。按種痘之源。諸說渺茫如此。蓋其起自明季無疑矣。聞斯邦房州濱海一村。有自數百年前。行種痘法。多用乾苗。乃先於彼土。而知用此。亦奇矣。夫痘之順逆。繫於受毒之輕重。不由種與不種。然不種而逆。人必委之於天。種而逆。必恨種者。不若任其自然也。有人問痘可種否者。予則常以此為答。</p>

<h2>五雲子</h2>
<p>名醫五雲子。名寧宇。系出於太原王氏。慶安中投歸。住於東都。就學醫者眾。萬治三年。庚子四月十六日卒。墓在三田小山大乘寺。後門人數輩。列於醫官。於是一派相傳。盛於今焉。張膏字甘子。號提山。朝鮮之役。屬袁了凡從軍。為我兵所俘。張善眼醫。后豐公遣歸之。贊州渡邊氏得其術。行眼醫。子孫相傳於今。又孟二寬武林人。朝鮮之役。為我軍所俘。業醫改姓名稱武林次庵。明歷三年死。其孫唯七為赤穗侯臣。殉節。</p>

<h2>卜齋</h2>
<p>板阪卜齋手鈔針灸聚英四卷。有那波道圓。及陳元贇跋。皆真跡。卷末有淺草文庫印記。卜齋名如春。世為名醫。好畜書。居於淺草寺之北。明曆元年十一月卒。墓在竹門醫王院。林學士（信篤）銘。予近購此書於一書鋪。因其六世孫宗悅來乞之懇篤。遂與之。以歸於其家。今記陳氏跋曰。嘗觀人之生也。以水土。水土之失宜。則疾病因焉。古之聖人。既創草木之劑調之矣。然又以為草木效遲。不若金火之功速也。此針灸之書所繇作也。茲有針灸節要二書。流傳於世久矣。儒醫板阪卜齋翁。重錄而正之。以珍其傳焉。倘亦以金火襄水土之不及。而起千百世之疲癃者乎。不佞遇過齋頭。披閱而有得於心。遂濡筆於下。以旌吾翁力古之功。明崇禎戊寅。孟秋中浣十九日。虎林元贇謹題。按崇禎戊寅者。本邦寬永十五年也。</p>

<h2>俞璉書</h2>
<p>先考藍溪公。藏嘉靖中太醫院俞璉。送日域金持重公序一幅云。重公好為醫方。東國之豪傑也。凡三百餘言。書法似松雪。數十年前。偶為人借失。今歸於不知何人。懊惜之至。不可弭忘。聊記於此。</p>

<h2>瞽醫</h2>
<p>谷友信字文卿。號藍水。三藏失明。受針醫術於祖考玉池先生。而善賦詩。記憶書傳。講唐明諸家之詩。殆解人頤。名聲漸盛。王侯大人。競邀侍焉。中年棄針移於內醫。記藥方三百有餘。行道之際。口必誦之。予嘗造其廬。坐有抽屜箱子。其內實小紙袋。貯藥二百許。謂余曰。僕用桂。必選東京上好者。請試焉。伸手引屜。直取出小袋中物示之。其為無異明目人。或以為依小袋次第記之。竊亂抽其一問。或摸或嗅。而言其藥。曾無一差。人殫驚異。以是其技亦稍行權貴間。遂有仕進之志。不果而歿。夫瞽而為醫。於四診中。不得不缺望之一診矣。而王元美有太醫盲者邵君像贊。又長洲志。載張頤以瞽人治病。能豫刻年月。決人生死。有名吳中。此蓋曠古無比。顧文卿亦奇人。必察之有方。世上自多明目之人。後來瞽者。脫欲繼其踵。我恐增地下人。</p>

<h2>知時捷法</h2>
<p>北山醫話。載鼻息知時一則。予嘗得知十二時捷法。其法先用絲線長尺余。穿錢孔纏結。雙指舉線末持之。錢下垂尺許。下承以甌若盂屬。勿令錢至底。勿令手動搖。如此須臾。錢稍稍活起。左右搖盪。觸邊作聲。若辰時。則作聲五次而止。巳時則四次。余皆如此。但兩時中間。則僅一聲。妙不可言。倉猝之際。可以代自鳴鐘。或謂指端有脈動而應之。此理不可曉者。</p>

<h2>虎咬</h2>
<p>明和中。朝鮮有虎患。對州戍卒夜巡者。忽遇一虎。直操槍刺之。虎怒號。臨死齧斷其脛肉。急召國醫請治。醫詣。先以新汲水。澆灌傷處數十回。冷極矣。因活剖雞腹。乘熱窨傷處。隨冷隨換。殺雞者數十隻。傷處漸墳起。而焮熱。乃以膏藥傅其上。內用敗毒散。加一味雄黃服之。凡旬余而愈。此法又可治瘛狗咬傷。州人雛河某。嘗為予談。未知方書有載之者否。</p>

<h2>蒙汗藥</h2>
<p>本草。載解蒙汗毒方。未知蒙汗何物。十便良方。引雞峰方云。解中毒蒙翰。昏悶不省。蓋蒙翰即蒙汗。郎仁寶七修類稿云。小說家。嘗言蒙汗藥。人食之昏騰麻死。後復有藥解活。予則以為妄也。昨讀周草窗癸辛雜誌云。回回國有藥名押不盧者。土人採之。每以少許。磨酒飲人。則通身麻痹而死。至三日。少以別藥投之即活。御藥院中亦儲之。以備不虞。又齊東野語。亦載草烏末。同一草食之即死。三日後亦活也。又桂海虞衡志。載曼陀羅花。盜採花為末。置人飲食中。即皆醉也。據是則蒙汗藥非妄。予按明梅元實藥性會元云。羊躑躅花。不可服。誤則令人顫抖昏倒一晝。如用可拌燒酒蒸三次。即無慮矣。同它羅花。川烏。草烏合末。即蒙汗藥。又王翊萬全備急方。蒙汗。俗名麻汗。又清張介石資蒙醫徑。銛骨門。載蒙汗藥。一名銕布衫。少服則止痛。多服則蒙汗。其方鬧陽花。川烏。草烏。瓦龍子。自然銅。乳。沒。熊膽。硃砂。麝香。凡九味。上為絕細末。作一服。用熱酒調服。乘飲一醉。不片時渾身麻痹。得數說而始明矣。然蒙汗未詳何義。先友山田宗俊云。蒙汗即悶之反切。猶秀之為唧溜。團之為突欒之類。予昧於韻學。未知此說為得否。何培元本草必讀云。蒙汗藥。菸草子所造。菸草。豈宋元時得有之。又秘方集驗云。蒙汗藥。俗呼燒悶香。不知亦是何物。後閱史搢臣願體集云。旅店臨臥。置水榻前。以防悶香。又鄭仲夔耳新云。昔有客投河北逆旅。室中紙糊甚密。俄一女子過前。言煙來伏地者再。夜久。果有煙。因憶女子言。得不死。明日白官捕。設媒者。娶女子以去。嘗聞失火之家。須匍伏而遁。不則難出於煙。又有銜水以御之。王兆云揮麈新譚。亦載一事。全與此同。蓋此燒悶香也。然水滸傳。蒙汗藥。皆置酒中。無毒煙薰死事。則集驗之說恐妄耳。</p>

<h2>金箔治杖瘡</h2>
<p>四朝聞見錄云。王涇頗宗繼先術。亦有奇驗。然用藥多孟浪。高宗居北宮。苦脾疾。涇誤用瀉藥。竟至大漸。孝宗欲戮之市朝。憲聖以為恐自此醫者。不敢進藥。止命天府杖其背。黥海山。涇先懷金箔以入。既杖。則以傅。若未受杖者。邦俗打撲腫疼。亦傅金箔。未無所自也。</p>

<h2>丹藥</h2>
<p>程宗衡釋方云。丹丸之大者也。程涓千一疏云。丹單也。一方治諸病之謂。予按二說皆非也。趙與峕賓退錄。引王思誠翠虛篇序云。採時喚為藥。煉時喚為火。結時謂之丹。又聖濟總錄云。丹者。烹煉而成。有一陽在中之義。丸者。取其以物收攝而已。今以火煉及色赤者為丹。非煉者為丸。又按抱朴子云。仙藥之上者。丹砂。陶弘景丹云。丹即硃砂也。蓋以方士多煅煉服餌。凡諸石煅煉之物。泛然稱之丹。後草藥。如控涎丹。亦稱之丹。竟無知其所由焉。</p>

<h2>六一泥</h2>
<p>仙丹。以六一泥封之火之。始見抱朴子金丹卷。未言六一泥是為何物。黃白卷云。以蚓螻土。及戎鹽為泥。泥釜外。此蓋六一泥。千金而降。其方漸繁。然六一泥。唯取其堅固。使藥氣不泄耳。按商浚博聞類纂云。凡爐火中。用鹽泥。乃是鹽爛研細。自然成泥。一名六一泥。六與一皆水數也。鹽泥固濟。醫家常為之。而其知為六一泥者殆希矣。本草述云。六味同為末。故云六一泥非。</p>

<h2>刀圭</h2>
<p>陶氏本草序例云。刀圭者十分方寸匕之一。准梧桐子大。醫心方。引範汪方云。二麻子為一小豆。三小豆為一梧實。二十黍粟為一簪頭。三簪頭為一刀圭。外臺刪繁車前草湯方後云。一刀圭者。准丸如兩大豆大。漢律曆志注云。六千四黍為一圭。按數說似異。而其實大抵同。董谷碧里雜存云。按晦翁感興詩。刀圭一入口。白日生羽翰。然學者皆不知刀圭之義。但知其為妙藥之名耳。嘉靖十四年。八月晦日。忽悟刀圭二字。甚痛快。不知古人亦嘗評及此否前在京買得古錯刀三枚京師人謂之長錢云是部中失火。煨燼中所得者。其錢形正似今之剃刀。其上一圜。正似圭璧之形。中一孔。即貫索之處。蓋服食家。舉刀取藥。僅滿其上之圭。故謂之刀圭。言其少耳。刀。即錢之別名。布也。泉也。錯也。刀也。皆錢之類也。我年號款識。殆漢物乎。又按千金。太乙神明丹方後云。凡言刀圭者。以六粟為一刀圭。一說云。三小豆為一刀圭。據以上諸說。六粟疑是六十粟之訛。</p>

<h2>三建</h2>
<p>程氏釋方云。附子。川烏。天雄。性燥而悍烈。乃雄健之藥也。又陶隱居云。三種本出建平。故謂之三建。蘇敬則辨陶之非。謂建乃堇之訛。蓋堇烏頭苗耳。亦未為得也。又周草窗癸辛雜誌云。川烏建上。頭目虛者主之。附子建中。脾胃寒者主之。天雄建下。腰腎虛憊者主之。予按仲景有建中湯。果如雜誌之言。則當曰建三湯。而不可曰三建湯也。嘗讀謝靈運山居賦云。二冬並稱而殊性。三建異形而同出。自注。三建者。附子天雄烏頭。三建之名。蓋其來尚矣。偶檢韻書。建根一聲。巢源。瘡根一名瘡建。本草。毛茛。一名毛建。因竊疑三建。或是三根之謂。王晉三古方選注云。三生飲方中。南星作虎掌云。肘後方名三建湯。附子小而叢生者。為虎掌。悉是天雄一裔。南星亦名虎掌。乃相沿之誤。實非南星也。按肘後不載三生飲。此說殆為謬妄。</p>

<h2>騙馬丹</h2>
<p>程泰之演繁露云。嘗見藥肆鬻腳藥者。榜曰騙馬丹。歸檢字書。其音為匹轉。且曰躍而上馬。通典曰。武舉制土木馬於裡閭間。教人習騙。始悟騙之為義。予按神仙遺論。便毒。一名騙馬墜。蓋亦取義於此。薛蔚西廂注。騙馬盜賊之屬。誤也。</p>

<h2>中毒昏眩</h2>
<p>陸粲庚已編云。盛御醫寅。一日晨入徹藥房。忽頭痛昏眩欲絕。群醫束手。莫知何疾。敕募人療治。有草澤醫人。請見。投藥一服。逡巡即愈。上奇之。召問所用何方。對曰。寅空心入藥室。卒中諸藥之毒。能和諸藥者。甘草也。臣用是為湯以進耳。非有他術也。上詰寅。果未晨饔而入。乃厚勞其人云。龔氏回春。載藥室家人。正銼藥。忽仆地不省人事。此非病也。必藥氣薰蒸。中於藥毒。令與甘草煎湯。灌之立醒。都本於此。</p>

<h1>卷下</h1>

<h2>紫色</h2>
<p>五藏生成篇。生於腎。如以縞裹紫。據宋王栐燕翼貽謀錄。及趙彥衛云麓漫抄。古之紫。赤汁染之。與朱相近。故論語云。奪朱。今之紫。起宋仁宗晚年。時謂之黑紫。又謂油紫黝紫。以古之紫。為淺紫。或北紫。或赤紫。予按經文。與烏羽對。與炲反。神農本草。紫草。紫芝紫石英屬。皆以今之紫得名焉。爾雅。藐。茈草。郭璞注。可以染紫。本草陶注亦云。紫草即今染紫者。說文。紫。帛赤青色。邢⿱日内論語疏云。紫北方間色。北方正水黑。刻火赤。故紫色。則知不始於宋時也。本草素問。皆漢人所撰述。許慎亦漢人。意今紫古有焉。而後失染法。至於宋再得之者。王趙博治之士。何不檢及於此乎。世婦女藏衣物於匣中。紫赤必分置之。不然。紫吸赤色變絳。家人亦數驗之。豈夫子所稱。亦今之紫。而其云奪者。其謂之與。是誠臆度。錄以徯後考。</p>

<h2>鶻突羹</h2>
<p>先友奧州志茂吉卿（云旦）嘗問予曰。本草鯽魚附方。有鶻突羹。未審鶻突是何義。予書一紙。引援諸說以答之。今漫記於下。劉孟熙霏雪錄云。骨董乃方言。初無定字。東坡嘗作骨董羹。用此二字。晦庵先生語類。只作汩董。字學集要云。骨董以魚肉諸物。埋飯中。謂之骨董飯。和羹中。謂骨董羹。留青日札云。賣寶貨諸物兼備者。曰骨董鋪。村夫稱古董。謬矣。漁隱叢話。作谷董羹。通雅引名物考云。惠州有骨董羹。則鶻突羹耳。孫奕示兒編云。糊塗讀鶻突。或曰不分明也。鶻隼也。突起鹵莽之狀。金壺字考云。糊塗音忽突。成聊攝注傷寒論云。懊憹者。俗謂鶻突是也。蓋心中憒悶。不可名狀之義。品字箋云。骨指肉中之脆骨。董謂蓮之藕芽也。未知此說何據。</p>

<h2>藥用後竅</h2>
<p>新齊諧。載回回病不飲藥。有老回回能醫者。熬藥一桶。令病者覆身臥。以竹筒。插入穀道中。將藥水乘熱灌入。用大氣力吹之。少頃腹中汩汩有聲。拔出竹筒。一瀉而病愈矣。按便秘不中用承氣輩。宜用蜜煎姜兌等者。以西洋唧筒。（名契里私打兒。）鹽水和蜜。入筒中。以筒嘴插臋竅。擠入直腸內。甚為捷速。</p>

<h2>兒啼於腹中</h2>
<p>玉芝堂談薈云。雞蹠集。王曇逸母孕時。腹中聞啼聲。宋孝武大明中。張暢妾懷孕而於腹中啼。聲聞於外。又後廢帝元徽中。車莞徐垣妻。懷孕亦然。曠園雜誌云。康熙三十八年。柏某分巡江西。有胥役吳敬婦。懷八月。腹中忽呱呱作聲。一時喧傳。時杭州有柴北溟。善醫。客柏署。柏因囑往視。見婦極委頓。而腹中作聲不止。舉家驚恐。柴坐定。審視良久。顧座間。有象棋一奩。隨手散傾於地。令人掖婦。逐一拾起納奩中。逾時拾至二十三枚。而聲止。按虞氏正傳云。臍帶上疙瘩。乃兒口中含者。因妊婦登高取物。脫出兒口。以此作聲。令妊婦曲腰。向地拾物。使兒復得含入口中即止。柴乃用此術耳。不足為奇。予昔聞先慈言。予亦在先慈腹中。作聲者數次。</p>

<h2>茶功</h2>
<p>名醫類案。載沈誠莊以茶治肅王疾事。何喬遠名山藏云。西番中國藩籬也。秦蜀產茶。茶性通利。疏胸膈底滯之氣。西番人嗜乳酪。不得茶。則困以病。七修類稿亦載此事云。蓋以彼欲茶。不得則發腫病死矣。欲麝香。不得則蛇蟲為毒。禾麥無矣。殊不知貢易不通。則命死一旦。安得不救也哉。滴露漫錄云。茶之為物。西戎吐蕃。古今皆仰給之。以其腥肉之食。非茶不消。青裸之熱。非茶不解。是山林草木之葉。而關係國家大經。諸書所記。皆以其盪滌胸中之膩也。而本草所未論及。故表而出焉。又國史補。載故老云。五十年前。多患熱黃。近代悉無。而病腰腳者多。乃飲茶所致也。按茗見管子。茶出王褒僮約。及飛燕外傳。又吳孫皓賜茶荈於韋曜。蓋李唐以前。未大行於世也。唐開元中。泰山靈岩寺。有降魔師。大興禪教。學禪務於不寐。又不夕食。皆許其飲茶。人自懷挾。到處煮飲。從此轉相仿效。遂成風俗。至陸鴻漸常熊伯。茶道大行。（詳見封氏聞見記。）古時有扁鵲療黃經。點烙三十六黃經。知斯疾多。考本草。茗。清熱。解炙煿毒。今如本邦。亦罕患之者。豈茗飲行之驗歟。而相感志云。吃茶多。令人黃。後世亦有茶黃之稱。則與國史補之說相反。</p>

<h2>若木瘡</h2>
<p>三因方露宿湯方中。用若木瘡一掌大。人無辨其為何物焉。考程月溪釋方。露宿湯詩云。露宿青榴皮。椿根草果宜。杏仁甘草銼。烏梅薑片隨。知若木瘡。是椿根。奇效良方。亦無若木瘡。有椿根皮。而施氏續易簡。永類鈐方。作苦木瘡。王氏易簡。治痢藥中。有苦木桐。瘡桐音相近。豈桐訛為瘡乎。百一選方。引泊宅編。載椿根止痢之功。當並考。（東醫寶鑑。露宿湯方云。苦木瘡。一掌大。即樗根白皮。）</p>

<h2>鍾馗</h2>
<p>本草綱目。歷日後。出鍾馗一條。時珍集解。全襲楊用修。而不詳藥方所用何物。按都卬三餘贅筆云。唐故事。歲暮賜群臣歷日並畫鍾馗。劉禹錫有代杜相公。謝鍾馗歷日表云。圖寫威神。驅除群厲。頒行元歷。敬授四時。弛張有嚴。光增門戶之貴。動用協吉。常為掌握之珍。又有代李中丞謝鍾馗歷日表云。績其神像。表去厲之方。頒以曆書。敬授時之始。（按張說謝賜鍾馗及歷日表。見文苑英華五百九十六卷。）乃知聖濟總錄。楊起奇效單方。所用正是此物也。又日下舊聞云。明時禁中歲除。安放絹畫鍾馗神像。像以三尺素木小屏裝之。綴錮鐶懸柱。最為清雅。出舊京遺事。</p>

<h2>龜板</h2>
<p>馮夢禎快雪堂集。載王節齋先生。素工醫。撫蜀時。患蟲病。訪知青城山有隱者能治。招之不來。乃躬造之一宿。隱者脈之云。此蟲病也。問何以致此。乃詰其嘗所服藥。云。素服補陰丸。曰。是矣。其蟲乃龜板所致。龜久生之物。惟敗板入藥。不得已。用生解者。須酥炙極透。應手如粉者良。少堅得人之生氣。其生氣復續。乃為蟲耳。此非藥餌所治。公自今壽尚可三年。猶及生子。公遂歸。三年生子而卒。龜板良藥。製法一乖。取禍如此。以節齋之善醫。尚有此矣。醫可輕言哉。庚寅八月廿一日。聞之姜子幹。按王節齋本草集要云。龜乃陰中至陰之物。稟北方之氣而生。故能補陰血不足。又方家以其靈於物。故用以補心甚效。此說蓋出於丹溪。王氏深信丹溪。不啻筆之於書。自用以取禍如此。抑似愚焉。然龜板為蟲之說。亦難信據。而又紫桃軒雜綴。所載一事。殆與此相類。云。昔潤州一大老。性喜服食。所制補劑中。用敗龜板。餌之垂十年。頗健朗。晚歲忽患蟲膈。厭厭就盡。乃謁白飛霞。飛霞診視良久曰。此瘕也。公豈餌龜板藥耶。今滿腹皆龜。吾藥能逐之。其在骨節膚腠中者。非吾藥所能也。公可速治後事。乃與赤丸數粒服之。下龜如菽大者升余。得稍寬。不數月仍敝。易簀時。驗小遺。悉有細蟲。彷彿龜形。其得氣而傳化如此。可畏哉。</p>

<h2>紫河車</h2>
<p>紫河車。不可服餌。李東璧既辨之。今又讀諸書。採李氏所未言及者。備錄於下。程若水醫彀云。紫河車。本草並無其名。今人取其生髮之源。混沌之皮。包含變化。將以補人。此未達至理者。夫兒在胞。始由白露桃花。漸而變化。藏府四肢百骸。以至皮毛骨肉氣血精神。無不具備。十月滿足。乃變化至極之處。物極則返之時。正是瓜熟蒂懸。慄熟自脫之際。且其精華。皆聚於兒。既產其胞衣尚有餘氣存耶。未聞慄殼瓜蒂。尚有補者。其大造丸。有服之而效者。乃余藥之功。非河車力也。李日華六研齋筆記云。宋元幹吾里奇士。以醫遊長安。所寓必楚潔。種樹引流。以自怡。見一時貴者。競服人胞。乃著論排之曰。今人食禽卵而棄其殼。以其無滋也。胞即人殼。奈何貴之。周亮工書影云。親串有從余遊都門者。其人謹願。生平絕跡北里。突生天疱。不解所自。予忽悟其故。解之曰。君質弱。常服紫河車。京師四方雜集。患天疱者甚夥。所服藥中。安知無天疱衣胞。此瘡能延子孫。氣味所沖。尚能中人。生子多無皮膚。衣胞尤為毒氣所歸。君之患。必源於此。眾皆以為然。（五雜組所論。其意與程李同。當參看。）</p>

<h2>人參生熟</h2>
<p>明徐競高麗圖經云。人參之干特生。在在有之。春州者最良。亦有生熟二等。生者色白而虛。入藥則味全。然而涉夏則損蠹。不若經湯釜而熟者。可久留。清三朝紀事云。我國與明人以人參交易。用水漬之。明人佯不欲市。國人恐朽敗急售。多不得價。上慮民用不充。欲煮而暴之以售。諸貝勒難之。上不聽。令如法以制。不急售。得價倍常。民用以利。按本草無人參湯煮之說。特馮氏錦囊秘錄云。人參微寒溫。微溫者。言其功用也。云微寒者。言其所稟也。有采來入沸湯。略沸即取起焙乾。或生置無風處陰乾。凡帶生而採者。有皮力大。過熟而採者。無皮力馴。臨用切薄片。銀石器中浸。火熬汁。如入丸散。隔紙微焙炒。如欲久藏。炒米拌勻。同納瓶中封固。則久藏不壞。且得穀氣也。予試之。生者不啻輕虛。肉脆而癟皺。不若經湯者。肉實而肥也。今朝鮮所貢。皆經湯者。如其收藏法。唐秉鈞人參考。載數款。今試之。馮氏之法為得矣。</p>

<h2>廣東人參</h2>
<p>惠州府志云。韓宗伯曰坡公羅浮五詠。人參。地黃。甘菊。薏苡。枸杞。蒔于山房之小圃。各為詩紀之。今羅浮所產。惟枸杞薏苡。恆有。甘菊亦時有之。人參地黃即老圃無能識者。當時崎嶇萬里。從何移根。人參之詩曰。靈苗此孕育。肩股或具體。又曰青椏綴紫萼。員實墜紅米。言之鑿鑿。應非浪語。然二物不書。傳信也。又屈翁山廣東新語云。廣東無人參。而宋廣業羅浮山志會編。則云。人參羅浮所產。殊與本草人參不類。狀如仙茅。葉細圓。有紫花。三葉一花者為仙茅。一葉一花者為人參。根如人字。色如珂玉。煮汁食之。味與人參無別。但微有膠漿耳。滋補亦如人參。山人採作藥餌。按羅浮。在廣東惠州。此則別是一種人參。而今舶上廣東人參。非廣東所產。以其初廣舶載來。遂有其名。乃與羅浮產者殊異。</p>

<h2>刨參</h2>
<p>王士禛居易錄。載新定刨參之例。刨人參。親王。一百四十名。人參七十斤。世子一百二十名。人參六十斤。（云云）按刨削也。高士奇扈從東巡日錄云。探參之法。以四月及七月。裹糧入山。其草一莖直上。獨出眾草。光與曉日相映。則刨取其根一窠。或四五歧。或二三歧者。清會典。康熙五十三年題准。令烏喇採蜂蜜。人一年採蜜。一年刨參。據此則刨參似謂刨取而不經制者。</p>

<h2>人參茈胡</h2>
<p>薓。說文。人薓。藥草。出上黨。本草遂謂後世因字文繁。遂以參星之字代之。從簡便爾。然而前漢史游急就篇。遠志續斷參土瓜。顏師古注。參謂人參丹參紫參玄參沙參苦參也。又王符潛夫論云。治病當得人參。反得羅服。則本草之言。不必矣。茈。爾雅。玉篇。及上林賦。皆為紫草之紫也。惟急就篇云。黃芩茯苓岩茈胡。顏注。茈。古柴字。而戰國策。淳于髡曰。今求柴胡桔梗於沮澤。則累世不得一焉。世稱好古者。特用人薓茈胡字。而以人參柴胡。卻為後世之字。且以茈為紫音。可笑之甚也。時珍云。傷寒論。尚作薓字。作茈字。考宋板傷寒論。猶作柴參。今宋板。趙清常所校。必非治平之舊。但成無己本。釋音。茈音柴。人薓下音參。則知古本如此。</p>

<h2>生金腦子</h2>
<p>晉賈后飲金屑酒死。則生金有毒可知矣。又梁蕭衍廢齊寶融為巴陵王。乃使鄭伯禽。詣姑熟。以生金進。王曰。我死不須金。醇醪足矣。是亦以生金毒殺之也。吳錄。荊州刺史王睿刮金飲之而死。此亦當是生金矣。宋文天祥賈似道皆服腦子求死。不得。惟廖瑩中以熱酒服數碗。九竅流血而死。此非腦子有毒。乃熱酒引其辛香。散溢經絡。氣血沸亂而然爾。又明季遺聞。丘瑜初被執。即自縊。為賊救醒。後服冰片死。</p>

<h2>土中燋米</h2>
<p>酉陽雜俎。乾陀國。昔屍毗王倉庫。為火所燒。其中粳米燋者。於今尚存。服一粒。永不患瘧。又周櫟園書影云。去汀州八十里。名藍田。石城邑所屬。地有山。號蠟燭峰。圓秀異常。山腰環轉。一路如帶。路產糯米。雜砂礫中。色若火微煅。而文理劃然。鄉人病心者。拾啖之即愈。余曾遊此。命小奚數人拾。各盈匊幾殆盡矣。旋踵視之。又累累如貫珠。真異事也。又吳震芳述異記云。楚武昌府。漢陽門內。舊有陳友諒廣積倉基。今皆為民居。康熙甲子年。有地中掘得黑米者。黑如漆。堅如石。炒之松。研為末。治膈症如神。價比兼金。臨海教諭吳牖丹在楚親見言之。又王椷秋燈叢話。亦載武昌黑米治膈事云。天門學宮前。明改建北郭倉基地。亦掘得黑米。治疾頗驗。乾隆丙申。黃州重修郡學。疏浚泮池。池底積米甚夥。色似漆而堅。治病如前。人爭取之。太守王公廷棟恐系前人鎮壓物。禁而掩之。按本邦奧州二本松。地有名長者倉。土中出燋米。如諸書所記。金峨井先生東遊之時。採得而歸。詳見其所著考槃堂漫錄中。又聞上總州。夷灊郡。萬木城趾中。於草間往往得燋米。患痞人。水服一粒。立愈。見房總志料。</p>

<h2>肉豆蔻</h2>
<p>本草。所載肉豆蔻形狀。僅其中核耳。不知核外有肉包之。予常於侍醫桂川公鑑（國瑞）所。啖蠻舶所齎蜜漬者。大如鵝蛋而圓。香味異常極美。此蓋池北偶談。所載荷蘭重物中甜肉豆蔻者。公鑑云。肉豆蔻木本。本草收之於芳草部中甚誤。考荷蘭藥譜。樹如梨。葉如桃而小。花如薔薇。其香可愛。花褪後。結實。形如胡桃。第一層為肉。極厚。可以為蜜漬而食。在樹而熟。則拆裂。第二層為膜。著核上如慄荴。軟而黃赤。其香最馥郁。剝下干收。以為料物。甚佳。中核。即藥品所用也。核外肉厚。故對草豆蔻。稱肉豆蔻。</p>

<h2>牧靡</h2>
<p>酈道元水經注。牧靡（音麻）縣名。云牧靡可以解毒。百卉方盛。鳥多誤食烏喙。口中毒。必急飛往牧靡山。啄牧靡以解毒也。李奇注漢書云。牧靡。即升麻也。而段柯古云。牧靡不知何藥也。蓋失考耳。予謂方書云。無犀角以升麻代之。朱二允辨其誤。然若用此縣之產。其效宜不減於犀角焉。薩州曾士考（昌啟）云。牧。當是收訛。收周同音。本草。升麻一名周麻。可以證焉。（通雅。作收靡縣。）</p>

<h2>茯苓</h2>
<p>茯苓茯神。原是一物。別錄強判之耳。史記龜策傳。作伏靈。乃神靈二字互用。廣雅。茯神。茯苓也。太平御覽。引本草經。茯苓。一名茯神。可為證也。屈大均云。茯者伏也。神伏於土中而為苓。故曰茯苓。苓者靈也。神能伏則靈。蓋有見於此。大洲太田子通（澄元）有茯苓辨。甚為明確。</p>

<h2>薏苡枸杞</h2>
<p>素問堅而搏。如循薏苡子。累累然。所謂薏苡。非粳𥽇而何。予嘗多種粳𥽇。畦中或有變為薏苡者。因知二種原是一類。功用亦當不太遠。蘇頌云。枝無刺者。真枸杞也。有刺者枸棘也。時珍云。枸杞二樹名。此物棘如枸之刺。莖如杞之條。故兼名之。果如蘇之言。當曰杞。而不可曰枸杞也。予家園圃。亦多栽枸棘。時或有不生。棘者。知是猶薏苡與粳𥽇。寇氏衍義以枸棘。為枸杞一名。似是。</p>

<h2>陳廩米</h2>
<p>顏師古匡謬正俗云。本草有陳廩米。陶弘景注云。此今久倉陳赤者。下條有粳米。弘景又注云。此即今常所食米。前陳廩米。亦是此種。以廩給軍人。故曰廩耳。按陳廩米正是陳倉米。廩即是倉。其義無別。陶公既知已久入倉。故謂之陳。而不知呼倉為廩。改易本字。妄以廩給為名。殊為失理。萬安方云。性全按陳廩米者。日本人。皆謂在倉廩中經年者。誤矣。今如諸本草說者。廩軍。（地名）米。即雖新米。如陳米。入用藥尤佳。余州餘地米。必須用陳米也。但雖言陳米。不可用經兩三年之米。只經一年之米。宜用之。今不見蜀本草者。用經數歲之米。大謬矣。予按大觀本草。所引蜀本草。與此大異。師古唐人。已為倉廩之廩。則蜀本文說難從焉。況廩軍得地名。他書所未見。不知性全何據云爾。</p>

<h2>滑石</h2>
<p>本草載滑石。初取軟如泥。久漸堅。時珍云。今人亦以刻圖書。不甚堅牢。高士奇江村歸田集云。凍石。舊時處州山中。往往從璞中剖出。初本軟。見風結為石。故名曰凍。其色或淡白淡黃淡青。光澤可愛。以之鐫刻圖記。遠勝銅玉。近惟青田舊坑間尚有之。凍石絕不可得矣。依此說。青田凍石蠟凍燈光之屬。乃與滑石一類。曩西湖田元長（善之）亦有此說。知其言偶相符焉。又袁慢恬書隱叢說云。湖廣山中多石膏。初生似膏液。漸凝如礬石。人家往往多采之。雍正中有人採石膏。至一處。見小穴中有人語。自謂前亦採膏人。偶遭山石崩隨。塞其出處。於中不記年歲。朝夕食石膏之未凝者生。幸為出我。採膏者異之。聞之於官。官使人驗之果然。幕中有識者曰。不可驟使見風。恐其身僵成石。以服石膏日久故也。遂以粥飲於穴口漸進之。一二十日後。始出之外。膚如朽腐。後亦漸愈。二程遺書云。南中有人採石。石陷壓閉石罅中。取石膏食之。不知幾年。後他人復採石。見而引之出。漸覺身硬。才見風便化為石。幕中人亦博識矣。又包汝楫南中紀聞云。大理石。初採時柔軟可卷。取出見風始堅勁。採石必諳畫理。臨採攜畫譜進壑。遇可點綴處。輒用指法。那移添湊。片片揭下。席捲懷出。故大者最難得。據二書所載。則見風堅結者。不特滑石之類然也。</p>

<h2>龍骨</h2>
<p>陸深金臺紀聞云。郿縣河灘上。有亂石。隨手碎之。中有石魚。長可二三寸。天然鱗鬣。或雙或只不等。云藏衣笥中。能闢蠹魚。又平陽府候驛澮河。兩岸仄土上。皆婦人手跡。或掌或拳。儼然若印。削去之其中復然。又大同山中。有人骨。在山之腰。上下五六十丈。皆石耳。惟中間一帶。可四五尺。皆髑髏。脛節齦齦然。關中之山。數處亦爾。予按倪氏本草匯言。龍骨非真龍之骨。晉蜀山谷。隨地掘之。要皆石燕石蟹之倫。蒸氣成形。石化而非龍化也。亦當以儼山所紀。推而知已。</p>

<h2>蟾酥</h2>
<p>蔣一葵長安客話云。太醫院。例於端陽日。差官至南海子。捕蝦蟆。擠酥以合藥。制紫金錠。某張大其事。備鼓吹旗旛。喧闐以往。或嘲以詩曰。抖擻威風出鳳城。喧喧鼓吹擁霓旌。穿林披莽如虓虎。捉得蝦蟆剜眼精。嘉興縣誌云。宮中用蟾蜍錠。於每歲端午日修合。各坊車蝦蟆至醫院者億萬計。往時取用後率斃。蓋兩目俱廢。不能跳躍也。東山朱公（按朱彝尊年譜。高祖儒。字宗魯。號東山。）典院事。命止刺其一偏。得蘇者甚多。此事似微。然發念甚真。為德不淺。按內府酥黃丸。出於月令廣義。其方五月五日。以雄黃加硃砂少許。研末入真蟾酥。和陰乾。凡遇惡毒瘡初起。以唾磨搽。微痛立止。紫金錠。用蟾酥。見於臞仙乾坤生意。其方。人言。巴豆。輕粉等凡十五味。與是齋諸方所載大異。王文謨碎金方。取蟾酥法。先將皂角三兩。煎水三沸。旋候冷。用大口甕或缸盛水。將癩蝦蟆不拘多少入中。以稀物覆之。勿令跳出。過一宿。其酥即浮水面。若未浮。其酥即在身上矣。可用竹刀。刮下用之。又鮑叔鼎醫方約說。蟾酥乃治諸蒭之要藥也。制合得宜。傳服皆可用。蛤⿰虫宝皮。即蟾皮也。大能收毒。外貼不可缺也。皆本草不載。故姑錄於此。</p>

<h2>杬有二種</h2>
<p>杭有二種。其一藥中芫花。爾雅所謂毒魚是也。其一藏卵果者。齊民要術。作杬子法所用是也。而郭注爾雅云。杬大木。子似慄。生南方。皮厚汁赤。中藏卵果。顏師古注急就篇引郭注云。此說誤耳。其生南方。用藏卵果者。自別一杬木。乃左思吳都賦所云。縣杬杶櫖者。非毒魚之杬也。顏註明確如此。李東壁不讀急就顏注。於芫花條。載煎汁藏果之說。抑失考耳。朱錫鬯彝尊。著釋杬一篇。辨坊本爾雅。為杭之訛。徵引極博。猶且以毒魚藏果為一杬。亦失於不檢矣。</p>

<h2>礬礜之訛</h2>
<p>醫話。載劉敬叔異苑曰。魏武北征蹋頓。升嶺眺矚見一山岡。不生草木。王粲曰。必是古塚。此人在世。服生礬石。死而石氣蒸出外。故卉木焦滅。即令鑿看。果得大墓。有礬石滿塋。仲宣博識強記。皆此類也。姚寬西溪叢話云。據本經。礬石性寒。異苑云熱。蓋誤矣。愚按方書。礬石礜石。或誤寫。仲宣所謂。恐礜石也。礬石亦出溫泉。則不可謂性寒。但不如礜之甚熱耳。拙者按。黃長睿法帖刊誤云。王子敬靜息帖云。礜石深是可疑事。兄喜患散輒發癰。散者。寒食散之類。散中蓋用礜石。是熱極有毒。故云深可疑也。劉表在荊州。與王粲登障山。見一岡不生百草。粲曰。此必古塚。其人在世。服生礜石。熱蒸出外。故草木焦滅。鑿看果墓。礜石滿塋。又今洛水。冬月不冰。古人謂之溫洛。下亦有礜石。今取此石。置甕水中。水亦不冰。又鸛伏卵以助暖氣。其烈酷如此。固不宜餌服。子敬之語實然。聊附於此。異苑魏武逾頓嶺云云。此段本草誤刻在礬石部。此云劉表登障。別有所出。刊誤所載如此。甚為明備。姚氏豈不見靜息帖耶。洪容齋。亦有引靜息貼。論礜石一則。東璧綱目載之。芳氏之博治。盍檢及於此。又以王子敬言考之。侯氏黑散。亦是寒食散之一。外臺有礜石鐘乳。必是仲景之舊方。巢源。論寒食散發候云。仲景經有候氏黑散。要略黑散方後云。常宜冷食。自在腹中不下也。熱食即下。可以互證矣。程云來以為黑散宋人校正時所附。蓋不考耳。</p>

<h2>笑菌</h2>
<p>予家一僕。於豆州與其友五人。得異菌於道傍。其狀似松蕈而小。稍帶赤色。數莖攢簇。採歸煮食之。旋心如醉。稍稍發笑不止。一時許。目運顛倒不能起。口裡黏唾。吐之色如磨刀汁。繼之以涕泣。如許者半日而復故。其中有酒人。無異平常。本邦不產楓樹。其令人笑者。乃清異錄。所謂笑矣乎乎。夷堅志。載邱岑食蕈事。信乎酒能解其毒矣。</p>

<h2>孔雀尾有毒</h2>
<p>體仁彙編云。鴆鳥毒。即孔雀毛並膽也。用乾葛三兩。為末。水調頓服良。嶺南雜記云。孔雀尾金眼。有毒。孩童戲取銜口中。有死者。其膽與糞尤毒。能殺人。品字箋云。孔雀之項。有毛長一二寸。以之畫酒中。飲之立死。又謂之鴆毒。此皆本草所不載。亦不可不知也。</p>

<h2>甘露雀餳</h2>
<p>吳仁杰兩漢刊誤補遺云。衡陽嘗有甘露降。劉貢父曰。此戾氣所成。其名雀餳。王定國謂。當從博識者。求甘露雀餳之別。仁杰按汝南先賢傳。都尉聽事前。有甘露降。功曹鄭敬曰。明府政事。未能致甘露。但木汁耳。又陳祥明中。松柏林冬月出木體。後主以為甘露之瑞。俗呼為爵餳。貢父所云。其出於此。王仲任曰。欲驗爾雅之甘露。以萬物豐熟。災害不生。此則甘露之驗。其言足以泮群疑也。王陶談淵云。翰林侍講學士杜鎬。博學有識。都城外有墳莊。一日若有甘露降布林木。子侄輩白於鎬。鎬味之慘然不懌。子侄啟請鎬。曰。此非甘露。乃雀餳。大非佳兆。郎仁寶七修類稿云。雀餳味雖甘。色則白濁。其臭如松脂。嚼之膠舌。甘露色微紅。凝結如脂。如珠。馨香而有酒味。食之百竅皆爽也。按東璧綱目。載杜鎬言。作甘露非瑞也。蓋傳寫之訛耳。東都西郊有一鬆樹。每冬有雀餳。枝葉如凝露。土人呼為松蜜云。</p>

<h2>馬肉</h2>
<p>續醫說。載酒製馬毒一則。晏子已云。懸牛首於門。而賣馬肉於內也。知是從古非常食之品。而周禮六牲馬其一也。穆天子傳。有獻食馬之文。郭景純注云。可以供廚膳者。由是觀之。駿馬駕車而不食。猶後世有坐馬菜馬之別與。本邦人。戒食四足。且嚴禁殺馬。不啻不充廚膳。偶有食之者。目以非人。聞唯東奧之俗。有患黴瘡結毒者。餌以自死馬肉。經久極有效驗。此古人所未言及也。</p>

<h2>底野迦</h2>
<p>底野迦。治眼疾。龍樹菩薩眼論。摩頂膏方中用之。云西番者。狀如駝膽。又醫方類聚。引五藏論云。神方千卷。藥名八百。中黃丸能差千疴。底野迦善除萬病。職方外紀云。如德亞之西。有國名達馬斯谷。土人制一藥甚良。名的里亞加。能治百病。尤解諸毒。有試之者。先覓一毒蛇咬傷。毒發腫脹。乃以藥少許咽之。無弗愈者。各國甚珍異之。</p>

<h2>鮓答</h2>
<p>鮓答。始見於元楊山居新話。陶九成輟耕錄。而後世其文字不一。沈周座客新聞。作赭丹。田藝蘅留青日札。作鮓單。七十一西域聞見錄。作劄答。並云。出牛馬腹中。冀越集云。馬黑在腎。又蟫史云。馬墨破之可千葉。煎熬用膈噎疾。按本邦人。以馬腹中石。用膈噎。余亦試之。似飲食稍得下。然兩三日後。必覺心氣壅悶。故病人不肯久服。享和紀元夏。城東白銀街木匠誤吞鐵釘。哽咽不出。痛苦欲死。醫師數輩環繞。無術可施。適一老人以藥末。水調灌之。少選喀一聲。釘隨而出。眾人驚異。訪何藥則云。此秘方也。不敢告。後有一醫。懇請之。乃云一味馬腹中石也。可見其通塞之功耳。職方外紀云。渤泥島有獸。似羊似鹿。名把雜爾。其腹中生一石。能療百病。西國極貴重。可至百換。國王藉以為利。又方觀承松漠草云。蒙古西域祈雨。以楂達石。浸水中咒之。輒驗。楂達生駝羊腹中。圓者如卵。扁者如虎脛。在腎似鸚鵡嘴者良。色有黃白。駝羊有此。則漸羸瘁。生剖得者尤靈。並是一種之獸。楂達亦蓋鮓答耳。七修類稿云。羊哀形如濕茅紙。時亦用之。謂治翻胃。留青日札云。羊哀在腸。形如小鼠子。可治鬲食反胃。余見其三。蟫史云。按牛有黃。狗有寶。羊有卵。俱在腹中。附膽而生。羊卵白石。色如玉。絕類狗寶。可治翻胃。考本草。不特諸獸。腹中石。淋石癖石。亦並治膈噎翻胃。又池北偶談。載高陽民家子。方十餘歲。忽臂上生宿瘤。痛癢不可忍。醫皆不辨何症。一日忽自潰。中有圓卵墜出。尋化為石。劉工部霖。以一金售之。治膈病如神。予所識岩槻街一瞽者。患囊癰。潰爛已久。忽迸出圓石十七枚。大者如杏仁。小者如按豆。余得二枚藏之。後為人持去。恨不試之斯疾。</p>

<h2>樟木蟲</h2>
<p>體仁彙編。治疔瘡及無名腫毒。用樟木蟲。即人家灶上出者。不拘多少。研爛敷之。少時疔出。毒散即消。如神效。按商浚博聞類纂云。曹婆蟲。南人謂之𧒚戛蟲。江南謂之樟木蟲。京師謂之偷油蟲。夜則出。有翅不飛。其走甚疾。多入酒食器中。臊氣可憎。按當塗縣志。蜚蠊。爾雅謂之蜰。俗呼樟木蟲。斯邦俗亦呼油蟲。然人多不知有治瘡之功矣。王永輔惠濟方。土牛兒。春生牆下。作土窩。如錢大。上圓下尖。一名旦谷蟲。此即本草所謂沙挼子。斯邦俗呼造白蟲。徐爾貞醫匯。治齁喘。用鹽油蟲。入竹筒。七日化水。湧幢小品云。蝸蜒。即今俗語所謂沿油也。按鹽油。即沿油。本草所謂蜒蚰蟲。斯邦俗。生吞以治齁喘。頗驗。</p>

<h2>靈柴</h2>
<p>廣筆記。五寶丹。非完方也。無紅鉛靈柴。不能奏效。按本草蒙筌。天靈蓋。一名靈山柴丁鳳醫方集宜。五寶丹。方凡四道。其後云。鼻子陽物蝕去。加天靈蓋五分。便能長出。誠仙方也。明是筆記。所用靈柴。即天靈蓋也。又張筠亭醫門秘旨。靈山柴。即新生小兒臍帶落下者。名同而物異。</p>

<h2>白酒</h2>
<p>白酒。胸痹所用。未詳其為何物。齊民要術。載河東頤白酒。白醪酒等造法。豈其是耶。又隋經籍志。有白酒並作物法十二卷。白酒方一卷之目。抑亦是耶。時珍食物本草。及彭用光普濟良方。楊州府志。亦有造法。疑非古之白酒。（食物本草云。白酒處處有之。以蓼與面為曲。釀糯米為酒母。以水隨下隨飲。初下時味嫩而甘。隔宿味老而酢矣。普濟良方云。糯米一斗。隔夜用冷水浸。次日蒸熟。用井花水。淋下白酒麴五稠。勻拍在缺邊中間留空。得有漿。是為白酒。若洗以燒酒一罈。即蜜淋漓酒。楊州府志。白酒各州縣皆有。用草曲。三日可成。味極甘美。少入水曰水白酒。冬月煮過窨之。曰臘白酒。）虞兆隆天香樓偶得。以為美酒。（偶得云。古人酒以紅為惡。白為美。蓋酒紅則濁。白則清。故謂薄酒為紅友。而玉醴玉液瓊漿瓊飴等名。皆言白也。梁武帝詩云。金盃盛白酒。正言白酒之美。近來造酒家。白麵為曲。並舂白秫。和潔白之水為酒。久釀而成。極其珍重。謂之三白酒。於是呼數宿而成之濁醪。曰白酒。使詩詞家。不敢用白酒字。失其旨矣。）然而靈樞經筋篇。以白酒和桂。且飲美酒。則知醫方所用。白酒與美酒自別。究竟古之白酒。不可得而詳焉。今且從千金。用白酨漿。酨漿。酢也。酢。有通氣下痰。豁胸利膈之能。此乃為得矣。（薛俊日本寄語。白酒。門東曬箕。）</p>

<h2>靈貓</h2>
<p>靈貓。時珍本草。舉數說已。似未親睹其物。職方外紀云。有山貍。似麝。臍後有肉囊。香滿其中輒病。向石上剔出之始安。香如蘇合油而黑。其貴次於龍涎。能療耳病。寬政癸丑年。從崎岙郵致蠻舶所齎一頭。先考藍溪公。重價購之。畜於小檻中。其臭異常。狀如家貍。稍長大。尖頭短耳。黑鼻巨口。其利在於牙。爪短而不著地。渾身茶褐色。黑斑如虎。尾頗似雉。兩陰間有一囊。大如桃。即香囊也。香如白垽。滿則癢悶。舉一足開囊。著之於柱壁間。常與三四人捉之。以氍毹蒙其頭。令不得咬人。因視囊。囊左右分開。色白有底。向上有一小孔。如針眼。乃香所泄出竅也。香以竹篾刮取嗅之。與真麝無別。與身臭大異。經久變黑色。此獸行則低首垂尾。不聞鳴聲。人或觸之。嚇如貓。時閉窗戶。放活雀於堂上。出之於檻。跳躍捕之而啖。甚捷。喂之以雀。日五六頭。先考命二僮豢之。年餘而死。惜不多取其香而貯焉。本草云。自為牝牡。恐誕矣。蓋陰囊之外。有香囊。兩靡略似牝戶。故生此說耳。又云糞溺香。此亦不然。</p>

<h2>菸草</h2>
<p>王逋蚓庵瑣語云。菸葉出閩中。邊上人寒疾。非此不治。關外人至以匹馬易煙一斤。崇禎癸未。禁菸之令嚴。間私種者問徒。法輕利重。民不奉詔。尋令犯者斬。然不久而邊軍病寒無治。遂停是禁。予兒時。尚不識煙為何物。崇禎末。我地偏處栽種。二尺童子。莫不食煙。風俗頓改。按張璐本經逢原云。北人藉以闢寒。此果信。近閱一書。載鄂羅斯人言云。吃煙草。免青腿牙疳之疾。蓋其證因寒毒所發也。</p>

<h1>附錄</h1>

<h2>募原考</h2>
<p>募原。未詳其義。檢字書。募廣求也。無干人身之義。因考素靈諸篇。募者幕之訛也。幕又從肉作膜。劉熙釋名云。膜幕也。幕絡一體也。痿論。肝主身之筋膜。全元起注云。膜者。人皮下肉上筋膜也。李時珍脈學釋音。募與膜同。蓋幕本取義於帷幕（說文。惟在上曰幕。）耳。太陰陽明論。脾與胃。以膜相連。新校正云。太素。膜作募。又邪客篇。地有林木。人有募筋。此募幕易訛之證也。其已如此。而膜之在軀殼中最為用者。為膈幕。人鏡經云。膈膜者。自心肺下。與脊脅腹周迴相著。如幕不漏。以遮蔽濁氣。不使熏清道是也。甲乙經。膈俞。在第七椎。因推之。蓋膈幕之系。附著脊之第七椎。即是幕原也。瘧論。邪氣內薄於五藏。橫連募原也。其道遠。其氣深。（歲露篇同。）王冰注。募原。謂鬲募之原系。新校正云。全元起本。募作膜。太素巢元方並同。今以橫連二字觀之。則為膈幕之原系。無疑矣。而幕原。又所指不一。百病始生篇云。腸胃之外。募原之間。又云。或著於腸胃之募原。舉痛論云。寒氣客於腸胃之間。膜原之下。又云。寒氣客於小腸膜原之間。蓋所謂膜原者。言膜之在各藏各府之間。而遮隔者之原系也。各藏各府之間。皆有薄膜。而外連於皮肉孔穴。直其次者。謂之幕穴。肝幕期門。膽幕日月之類。豈藏府位於身中。而其氣。背部則從脊骨間而輸出。故謂之腧穴。腹部則藏府之幕。直著於皮肉。故謂之幕穴乎。六十七難。亦誤作募。滑壽遂注云。募猶募結之募。言經氣之聚於此也。亦何不考也。此他後世諸家。釋募原者。多牽強迂謬之說。茲舉其一二如下。</p>
<p>馬玄臺百病始生注云。募原之間。皮裡膜外也。又舉痛論注云。膜。謂鬲間之膜。原。謂鬲肓之原。</p>
<p>張介賓百病始生注云。腸胃之外。募原之間。謂皮裡膜外。是皆隱蔽曲折之所。氣血不易流通。又云。募原。如手太陰中府為募。大淵為原之類也。又舉痛論注云。膜。筋膜也。原。肓之原也。腸胃之間。膜原之下。皆有空虛之處。又瘧論注云。諸經募原之氣。內連五藏。</p>
<p>張志聰百病始生注云。募原者。腸胃外之膏膜。又舉痛論注云。膜原者。連於腸胃之脂膜。亦氣分之腠理。金匱要略云。腠者。是三焦通會元真之處。理者。皮膚藏府之文理也。蓋在外則為皮膚肌肉之腠理。在內則為橫連藏府之膜原。皆三焦通會元氣之處。又瘧論注云。募原者。橫連藏府之膏膜。即金匱。所謂皮膚藏府之文理。乃衛氣遊行之腠理也。</p>
<p>高世栻瘧論注云。橫連膏膜之募原也。</p>
<p>吳又可溫疫論云。疫氣之來。從口鼻而入。則其所客內不在藏府。外不在經絡。舍俠脊之內。去表不遠。附近於胃。乃表裡之分界。是為半表半裡。即針經所謂橫連募原是。又云。若表裡分傅者。邪氣伏於膜原。膜原者。即半表半裡也。</p>
<p>高鼓峰四明心決云。凡藏與藏。府與府。或藏與府。彼此相接之處。中間蓋有虛界之募原。而虛界中。復有剛柔筋脈。其為某藏之筋。便為某藏之病。譬如胃與小腸相近。而邪入於胃與小腸之虛界。而彼筋脈屬胃。則為陽明瘧也。又如肝與脾相近。而邪入於肝脾之虛界。而筋脈或屬脾。便為太陰經瘧矣。究之藏府雖病。皆因募原之氣遷移也。</p>
<p>王子接古方選注云。瘧邪內薄。則邪不在表。非但隨經上下。其必橫連於膜。深入於原矣。膜謂鬲間之膜。原謂鬲肓之原。亦衝脈也。靈樞經云。肓之原。出於脖胦。止一穴。在臍下同身寸之一寸半。經又言邪氣客於腸胃之間。膜原之下。則膜原。又有屬於腸胃者。</p>
<p>蔣示吉醫意商云。胃外肺下。即為膈膜。前齊鳩尾。後齊十一椎。周圍著脊。以遮隔中下二焦濁氣。不使上熏。故疫邪亦不得下流伏於隙處也。（案此雖不明言其名。然必指募原。蓋本於又可之說。）</p>
<p>劉奎溫疫論類編云。膜。音莫。胸中支腠。嵩厓尊生書云。募原一說。諸書不及。朗仲云。原者曠野之意。在藏府之外。與胃相近。邪在此。其證不怕寒。一味發熱不止。</p>
<p>案考以上諸說。募原二字。曰為皮裡膜外。曰為鬲肓之原。曰為募穴原穴。肓為腠理。曰為膏膜。曰為衝脈。曰為胸中支膜之原野。其不一定如此。然因瘧論所言而揆之。其地即在形層之內。藏府之外。俠脊之界。吳又可謂之半表半裡者似是。但其言未清晰。是可惜耳。其餘數說。未免岐誤。學者勿見眩惑焉。</p>

<h2>銅人針灸圖經考</h2>
<p>拓本銅人針灸圖經三卷。繫於明正統八年所重刊。首有英宗御製序。及伏仰側三圖。十六字為一行。百六十行為一段。五段為一卷。每段之首。各標而分之。別有都數一卷。又為五段。四邊皆有花草欄格。今依此而考其制。蓋石二板。廣二丈餘。高六尺許。碑面每十餘字。斷為一行。百六十行。橫為一層。凡五層。以為五段。表裡刻之。即為四卷。意者石經之設資便於覽誦撫拓。必不如尋常碑文。就石面上下。書丹為行。觀唐開成石經而可見也。今以此校鏤板正統本。徐三友重刊本。剝裂泐闕。雖間有焉。訂訛正謬頗多。不啻一紙當瑤琨。抑醫家之鴻寶也。廿餘年前。針科醫官山崎子政（善）得拓本銅人圖經。因援引諸書。以為之考。丙寅仲夏。予亦得一本。視之於子政所藏。雖其搨稍粗。裝潢亦楛。然首尾完好。無半簡之缺遺最可貴重。今以前所考。更為改補。備錄於下。</p>
<p>宋藝文志曰。王惟一新鑄銅人腧穴針灸圖經三卷。</p>
<p>鄭樵藝文略曰。銅人腧穴針灸圖經三卷。宋朝翰林醫官王惟一編修。天聖中。詔以針艾之法。鑄為銅人式。</p>
<p>王應麟玉海曰。天聖針經。五年十月壬辰。醫官院。上所鑄腧穴銅人式二。詔一置醫官院。一置大相國寺仁濟殿。先是上以針砭之法。傳述不同。命尚藥奉御王惟一。考明堂氣穴經絡之會。鑄銅人式。又纂集舊聞。訂正訛謬。為銅人腧穴針灸圖經三卷。至是上之。摹印頒行。翰林學士夏竦為序曰。聖人有天下。論病以及國。原診以知政。王澤不流。則奸生於下。故辨淑慝以制治。真氣不榮。則疢動於體。故謹醫砭以救民。昔聖祖之問岐伯。以為善言天必有驗於人。上下有紀。左右有象。督任有會。腧合有數。盡書其言。藏金蘭之室。洎雷公請問其道。乃坐明堂以授之。後世言明堂者。以此針艾之法。舊列王官之守。思革其謬。王惟一授禁方。精厲石。定偃側於人形。正分寸於腧幕。總會諸說。勒成三卷。又以傳心。豈如會目。著辭不如按形。復鑄銅人為式。內分藏府。旁註溪谷。竅而達中。刻題於側。將使多瘠咸詔。巨刺靡差。案說蠲疴。若對於涪水。披圖洞視。如舊飲於上池。保我黎庶。介乎壽考。昔夏後敘六極以辨疾。帝炎問百藥以惠人。當遜德歸功矣。序以天聖四年。歲次析木。秋八月丙申上。</p>
<p>案此序。石本。及正統刻本。徐三友本。並闕。特金大定本載之。題云。翰林學士。兼侍讀學士。景靈宮判官。起復。朝奉大夫。尚書左司郎中。知制誥。判集賢院權尚書都省柱國。泗水縣開國男。食邑三百戶。賜紫金魚袋。臣夏竦奉聖旨撰。文多不同。玉海所載系干刪略。</p>
<p>晁公武郡齋讀書志曰。銅人針灸圖三卷。王惟德撰。仁宗嘗詔惟德考次針灸之法。鑄銅人為式。分藏府十二經。旁註俞穴所會。刻題其石。併為圖注。並主療之術。刻板傳於世。</p>
<p>案惟一。作惟德。可疑。針灸聚英。古今醫統亦同。</p>
<p>蘇頌圖經本草序曰。屢敕近臣。酬校岐黃內經。重定針灸俞穴式。範金揭石。或鏤板聯編。</p>
<p>案據蘇氏此序。知當時新鑄銅人像。而以針灸圖經刻石。又鏤板以印行。山崎子政藏金大定中所刻本。凡五卷。雖非天聖之舊。尤可貴重焉。特以未見宋板為憾耳。</p>
<p>明一統志曰。三皇廟。在順天府治南明照坊。元元貞初建。內有三皇並歷代名醫像。東有神機堂。內置銅人針灸圖二十有四。凡五藏旁註。為溪谷所會。各為小竅。以導其源委。又刻針灸經於石。其碑之題篆。則宋仁宗御書。元至元間。自汴移置此。洪武初。銅人取入內府。圖經猶存。</p>
<p>熊均醫學源流曰。宋咸淳間。翰林醫官。朝散大夫。殿中省。尚藥奉御。騎都尉。王惟一編修。（金本。卷首署名如此。）銅人腧穴針灸圖經凡五卷。</p>
<p>案咸淳。南宋度宗時號。而以惟一為咸淳人。誤甚。又案前所引諸書。並云三卷。蓋宋本之舊為然。而至金分為五卷。又明重定時。仍宋本。而附都數一卷。以為四卷。今熊氏所見。乃繫於金本。</p>
<p>英宗實錄曰。正統八年。三月乙亥。御製重修銅人腧穴針灸經序。（出第一百二卷中。）</p>
<p>案序文。正與石本及板本同。予以金本。及正統原刻板本。徐三友本（萬曆壬寅校刊。）參對之。文字互有異同。而不如石本及金本之端正也。山崎子政云。明滑壽著十四經發揮。一依金蘭循經云。然其所引循經文。與銅人毫無差異。乃知循經。全取諸銅人。而滑壽未嘗見銅人也。蓋元明之際。隱晦罕傳。英宗之重修。抑繇此乎。</p>
<p>丘浚明堂經絡圖序曰。考史宋仁宗天聖中。命尚藥奉御王惟一。考明堂氣穴經絡之會。鑄銅人式。惟一又訂正訛謬。為銅人腧穴針灸圖經上之。詔摹印頒行。其後又有石藏用者。按其狀。繪為正背二圖。十二經絡。各以其色別之。意者京口所刻。即其圖之遺歟。（出瓊臺會稿。）</p>
<p>毛奇齡新刻銅圖石經序曰。銅圖石經者。宋天聖中禁方書也。範銅象人。分布腧穴於其身。而畫之竅之。且制經三卷。播之石。案圖考經。其諸視夫藏絡也。亦猶視夫肌發也。暨其後而石已泐。銅漫矣。明正統中。覆命礱其石。範其銅。官醫守之。且加詳焉。今則銅再毀。石再裂。醫院所守。已蔑略無。有友刻舊本圖經三卷授予敘者。喜而嘆曰。此得非長桑所遺者乎。（出西河合集。）朱彜尊腧穴圖拓本跋曰。京師太醫院三皇廟。腧穴圖。傳是宋天聖年鑄。舊有石刻針灸經。仁宗御書其額。靖康之亂。自汴輦入金城。謂安撫使王楫使宋。以進於元者。世祖命阿尼哥新之。至元二年。銅人象成。周身腧穴脈絡悉具。注以水。關竅畢達。明裕陵。命工重修。制序。載實錄。萬曆初。先少保官太醫院使。復時加洗濯焉。言明堂針灸。自黃帝始。其後膏肓孔穴側偃流注三部五藏十二經。失之毫釐。悔且無及。學醫者試摺是圖掛於壁。晨夕省視之。亦仁術之一端也。（出曝書亭集。）</p>
<p>案萬曆中。巡按山西監察御史。趙文炳含章重刊銅人圖四大幅。今摺而插入於靳賢針灸大成帙中以傳。趙大成序云。令能匠於太醫院。肖刻銅人。著其穴。並刻畫圖。令學者便覽而易知焉。然則朱氏所跋。蓋趙所刻原本。而非銅人經也。又案一統志云。元至元間。自汴移置此。日下舊聞。引燕都遊覽志亦云爾。而朱氏為靖康之亂。輦入金者。恐誤。且考元史。按撫使王楫使宋而進於元者。乃銅像。非碑石也。蓋此跋。湊合元史及一統志。一時偶然所作。故有此等差舛。不足深咎也。</p>
<p>姜希轍重刊銅人針灸經序曰。針灸圖經者。宋天聖中禁方書也。範銅象人。分布腧穴於其身。而畫之竅之。且制經三卷。播之石。案圖考經。其諸視夫藏絡也。如視肌發。甚盛事也。暨其後而石已泐。銅已漫矣。明正統中。覆命礱其石。範其銅。官醫守之。且加詳焉。今則銅毀石裂。蔑略罔存。偶從敝篋中。忽檢得舊本圖經三卷。</p>
<p>案姜字公望。康熙甲戌。序此書。雍正甲寅間鐫。即與徐三友本無異同。蓋翻雕徐本者。其得舊本云者。不過欺人耳。而其序全襲毛西河。但少改西河之聱牙。而為平坦矣。意者姜偶見此序於毛集中。因冠徐本之首。題以已名以眩干世。此可鄙也。</p>

<h2>附銅像考</h2>
<p>周密齊東野語曰。嘗聞舅氏章叔恭者。昔倅襄州日。嘗獲試針銅人全像。以精銅為之。腑臟無一不具。其外俞穴。則錯金書穴名於旁。背面二器相合。則渾然全身。蓋舊都用此。此試醫者。其法外塗黃蠟。中實以汞。俾醫工以分折寸按穴試針。中穴則針入而汞出。稍差則針不可入矣。亦奇巧之器也。</p>
<p>案舊都。謂汴梁。宋之故都也。據夏竦序及晁志。乃是天聖所鑄物耳。前此無外塗黃蠟中。實以汞之說。然因竅而達中。刻題於側等文觀之。必不別物也。</p>
<p>元史藝工傳曰。中統中。尼波羅國人。阿尼哥從帝師入見。帝問何所能。對曰。臣以心為師。頗知畫塑鑄金之藝。帝命取明堂針灸銅像示之曰。此按撫王楫使宋時所進。歲久闕壞。無能修完之者。汝能新之乎。對曰。臣雖未嘗為此。請試之。至元二年。新像成。關鬲脈絡皆備。金工嘆其天巧。莫不愧服。</p>
<p>蔣一葵長安客話曰。太醫院署。有古銅人。虛中注水。關竅畢通。古色蒼蒼然射目。相傳海潮中出者。</p>
<p>案此未詳何時所造。或恐亦是宋物。豈正統御序。所謂銅像昏暗者與。</p>
<p>明史凌雲傳曰。云善針。孝宗聞云名。召至京。命太醫官。出銅人。蔽以衣。而試。所刺無不中。乃授御醫。</p>
<p>案此正統重作物。本朝醫考。載竹田明室洪武中入明。載銅人歸。聞其制如夏竦所言。正是正統以前。仿舊式而造者。後毀於明歷之災。實可惜也。又案毛奇齡後鑑錄。張獻忠傳。載蜀府醫院有銅人。以楮摹其竅。令醫者針之。差者即取金鎗刺醫者竅。蓋其制與北京物同。</p>
<p>清英廉等日下舊聞考曰。先醫廟外。北向者為藥王廟。有銅人像。蓋即明英宗時所修也。臣等謹案針灸圖石刻。今尚存。乃明時重摹上石者。觀後英宗序略可證。</p>
<p>彭孫貽客舍偶聞曰。黃帝有明堂經。偃側人形圖。明堂孔穴圖。皆針灸書也。太醫院古銅人。宋元遺制。依明堂孔穴。鐫竅以驗針師。宣德時。江南凌雲。字漢章。號神針。宣宗召試太醫院。糊銅人孔竅試之。凌雲七十二針無遺穴。乃補御醫。銅人歷年既久。光鑑毛髮。天兵入都。院中人員流散。光祿寺侵院地以自廣。徙銅人於醫王殿。銅人時現形故地。見者多疾病。一日殿中無故火發。殿燼。銅人不損。光祿急退侵地。建室安銅人。病者乃愈。</p>
<p>吳長元宸垣識略曰。三皇廟內。有針灸經石刻。元元貞初制。其碑之題篆。則宋仁宗御書。至元間。自汴移至此者。今所存乃明時重摹上石。院署有古銅人。虛中注水。關竅畢達。古色蒼碧。瑩潤射目。相傳從海中湧出者。按銅人像。在藥王廟神像前。作於宋天聖時。元至元間修之。明英宗時又修之。海中湧出。殆傳訛爾。</p>
<p>案據三書所載。毛西河銅毀石裂之說。殆屬虛妄。可疑矣。</p>

<h2>屠蘇考</h2>
<p>韓鄂歲畢紀麗曰。俗說。屠蘇。乃草菴之名。昔有人居草菴之中。每歲除夜。遺閭里一藥貼。令囊浸井中。至元日取水置於酒樽。閤家飲之。不病瘟疫。</p>
<p>案事言要玄。引歲華紀注。屠蘇即菖蒲酒。未知所據。</p>
<p>龐安時傷寒總病論曰。通俗文曰。屋平曰屠蘇。廣雅云。屠蘇庵也。然屠蘇平。而庵圓。所以不相同。今人寒日廳事下。作板閣是也。尊貴之家。閣中施羽帳錦幃。聚會以禦寒。故正旦會飲闢溫酒。而以屠蘇為名也。</p>
<p>案袁文甕牖間評。引龐說云。屠蘇。平屋也。可以御風寒。則歲首屠蘇酒。示取其御風寒而已。</p>
<p>趙彥衛云麓漫抄曰。正月旦曰。世俗皆飲屠蘇酒。自幼及長。或寫作屠蘇。（案恐廜㢝誤。）千金方云。屠蘇之名。不知何義。按宗懍荊楚歲時記云。是進椒柏酒。飲桃湯。服卻鬼丸敷於散。次第從小起。注云。以過臘日。故崔實月令。過臘一日謂之小歲。又曰。小歲。則用之漢朝。元正則行之晉世。蓋漢嘗以十月為歲首也。又云敷於散。即胡洽方云許山赤散。並有斤兩。則知敷於音訛。轉而為屠蘇。小歲訛而為自小起云。</p>
<p>案今考荊楚歲時記文云。進椒柏酒。飲桃湯。進屠蘇酒膠牙餳。下五辛盤。進敷於散。服卻鬼丸。乃屠蘇敷於。明是為二藥。豈彥衛所睹本。脫屠蘇酒三字耶。且杜公瞻注云。敷於散。出葛洪煉化篇。考之肘後方。其方正同。而無許山赤散之說。亦可疑耳。又案竇蘋酒譜云。今人元日飲屠蘇酒。云可以闢瘟氣。亦曰監尾酒。或以年高最後飲之。故有尾之義爾。（案監尾之義有數說。今不蘩引。）洪邁容齋隨筆云。今人元日。飲屠蘇酒。自小者起。相傳已久。然固有來處。後漢李膺社密以黨人同系獄。元日於獄中飲酒。曰正旦從小起。時鏡新書。晉時有問董勳者曰。正旦飲酒。先飲小者。何也。勳云。俗以小者得歲。故先飲酒賀之。老者失歲。故後飲酒。（案莊綽雞肋編作罰之。）明非是小歲之訛。彥衛疏謬殊甚。予又案從小者起。其說猶未的確。因考蓋此藥。有大黃烏頭有毒之品。故不宜多服。即本草用毒藥。先起如黍粟之意。肘後屠蘇酒法後云。從小至大。少隨所堪。千金外臺亦云屠蘇之。飲先從小起。多少自在。可知小非年少之義。千金方。小金牙散。外臺。暴症。虎杖酒之類。亦並云。自少起。可以證也。然傳訛已久。不可得而改矣。</p>
<p>盧柳南小簡云。正旦飲屠蘇酒。必自卑幼始。是教卑幼不遜也。月正元日。一歲始。不可不正長幼之分。故余家必先長者。君貺余屠蘇。余敢以飲屠蘇之禮為君告。</p>
<p>（案趙彥衛以屠蘇。為敷於之訛。其謬前已辨之。而敷於名義亦未詳之。今肘後方。作藥千散。外臺引古今錄驗作於敷散。宋臣校正云。肘後作敷於。知今本肘後誤寫爾。方密之物理小識云葛洪練化篇。敷子散。用柏子仁。麻仁。細辛。乾薑。附子。丸服之。劉次卿以敷子散。和雄黃。智按今本草。作敷於散訛。予因竊謂敷附一音。方中有附子。即附子散耳。假而為敷子。轉而為敷於。倒而為於敷。訛而為藥千。竟至不可知其義矣。姑附於此。）</p>
<p>黃公紹韻會舉要曰。博雅。廜㢝。庵也。廣韻。又酒名。元日飲之。可除溫氣。四時纂要。作屠蘇云。思邈庵名。一云。屠者。屠絕鬼氣。蘇者甦醒人魂也。</p>
<p>案事文類聚。引四時纂要云。屠蘇。思邈庵名。一云屠。割也。蘇。腐也。月令廣義亦同。</p>
<p>楊慎丹鉛總錄曰。蕭子云雪賦曰。韜罦罳之飛棟。沒屠蘇之高影。杜子美冷淘詩曰。願憑金騕褭。走置錦屠蘇。屠蘇庵也。廣雅曰。屠蘇平屋也。（案今本廣雅。作廜㢝庵也。）通俗文曰。屋平曰屠蘇。魏略曰。李勝為河南太守。郡廳事前。屠蘇壞。應璩與韋仲將書。屠蘇發撤。孫思邈有屠蘇酒方。蓋取庵以名。故元日。有屠蘇飲。何遜詩。郊郭勤二頃。形體憩一蘇。又大冠。亦曰屠蘇。禮曰。童子幘無屋。凡冠有屋者。曰屠蘇。晉志元康中。商人著大鄣。諺曰。屠蘇鄣日覆兩耳。會見暍兒作天子。</p>
<p>案酉陽雜俎。寶曆中。長樂里門。有百姓刺臂。數十人環矚之。忽有一人。白襴屠蘇。少頃微笑而去。屠蘇蓋赤謂大冠耳。又楊時偉洪武正韻箋云。今吳中童男女。發外畜發寸許者。為屠蘇頭。訛為多蘇頭。甚似屋外屠蘇。</p>
<p>郎瑛七修類稿曰。屠蘇。本古庵名也。當從廣字頭。故魏張揖作廣雅。釋庵以此廜⿸广蘇二字。今以為孫思邈之庵名誤矣。孫公特書此二字於已庵。未必是此屠蘇二字。解之者又因思邈庵出闢疫之藥。遂曰屠絕鬼氣。甦醒人魂。尤可笑也。其藥予嘗記三因方上有之。今曰酒名者。思邈以屠蘇庵之藥。與人作酒之故耳。</p>
<p>案屠蘇之名。見梁宗懍荊楚歲時記。而其方出肘後方。引晉陳延之小品方。俱在思邈前。此說皆誤。</p>
<p>龔廷賢壽世保元曰。屠蘇。是羽帳名。豐貴之家。正旦眷屬。會羽帳之中。飲此酒。以闢瘟疫邪氣。</p>
<p>案此原於龐安常之說。盧照鄰長安古意。有翡翠屠蘇鸚鵡杯。蓋此之謂。</p>
<p>田藝蘅留青日禮曰。屠蘇。一作酴酥。孫思邈庵名。</p>
<p>案洪武正韻。酴酥酒名。亦藥名。高士奇天祿識余云。酒本名酴酥。更訛屠蘇。</p>
<p>李時珍本草綱目曰。蘇⿺鬼虫鬼名。此藥屠割鬼爽。故名。或云。草菴名也。</p>
<p>案⿺鬼虫字。無所考。酉陽雜俎。僛。一名蘇。又作魌。乃方相倛頭。或恐⿺鬼虫。乃魌之訛。</p>
<p>方以智通雅曰。詩話補遺云。周王褒詩。繡桷畫屠蘇。屠蘇。草也。畫於屋上。因以名屋。遂作屠蘇。（案當作廜㢝。）智謂解定畫於屋上以取名。亦非。蓋闊葉草也。今廣西猺人中。呼大葉似蒿者。為頭蘇。頭屠音近。正因其有蔭而名屋也。紫者。曰紫蘇。荏曰白蘇。水蘇曰雞蘇。荊曰假蘇。積雪草曰海蘇。石香薷曰石蘇。蘇亦辛草之總名。遊宦紀聞曰。三山。亦呼茨葉。為大蘇。</p>
<p>案千家詩。王介甫元日詩。春風送暖入屠蘇。陳生高注云。屠蘇。香草名。釀酒飲之。可消疫氣。方說豈本此與。然而云釀酒飲之。則似不知有屠蘇酒之法焉。正字通云。闊葉草。曰屠蘇。後因為屋名。庵名。飲名。</p>
<p>周祈名義考曰。博雅。廜⿸广蘇庵也。通俗文。屋平曰廜⿸广蘇。四時纂要。作屠蘇。又廣韻。酴酥酒名。玉篇。麥酒不去滓飲。是屠蘇為屋。酴酥為酒。本不相混也。唐人詩。手把屠蘇讓少年。先把屠蘇不讓春。誤以屠蘇為酴酥。後人遂謂屠蘇。又為酒。古人正旦飲酒。以少者得歲。故先飲。老者失時。故後飲。是日酒皆然。亦無屠蘇先飲之說。或云。屠絕鬼氣。甦醒人魂。妄說也。（出格致鏡源。）</p>
<p>王棠知新錄曰。屠蘇所指非一。非專為酒也。予詳屠蘇本草名。以草為庵。故玉篇云。庵也。王褒詩。繡桷畫屠蘇。故後人因以名屋。又從屋形。因以名帽。酒釀於草屋之中。因以名酒。錦屠蘇。當是指帽。樂府有插腰銅七首。障日錦屠蘇之句。</p>
<p>案屠蘇名義。諸說紛挐如是。曰為草菴。曰為平屋。曰大冠。曰帽。曰羽帳。曰草名。而其字。則曰屠㢝。曰𢉜㢝。曰酴酥。酥又作𦣑⿰酉蘇𨢭。（並出集韻。）今夷考之。廜㢝之字。見魏張揖廣雅。尤為古矣。而草菴之說。出唐韓鄂歲華紀麗。其距晉未遠。意此相傳之說。足取信焉。（案王士禎居易錄云。歲華紀麗。海鹽胡震亨所偽撰。而錢曾讀書敏求記。章丘李中麓藏宋刻木。則王說誤耳。）而廜⿸广蘇廜㢝。另無義訓。乃屠蘇從廣者。而屠蘇。蓋本是草名。因假為庵。為大冠。為帽及羽帳。又為酒名。自餘如𦣑⿰酉蘇𨢭。率皆假借會意。不足深考也。又案晉書藝術傳。單道開日服鎮守藥。丸大如梧子。有松蜜薑桂茯苓之氣。時復飲荼蘇一二升而已。蓋荼蘇即酴酥。（炮炙論序。根黃蘇炙。千金翼。百鍊蘇。佛典。甜蘇八味之類。蘇皆與酥通用。）非正旦所飲之屠蘇。乃酴酒。造法見齊民要術。而竇蘋酒譜云。天竺國。謂酒為酥。可以證焉。荼蘇。意是西域語。其作酴酥者。猶荼靡之為酴釄乎。然荼屠一音。或借用屠蘇字。如留青日札。屠蘇一作酴酥是也。雖然未知晉書。荼蘇。即屠蘇也否。抑屠蘇之名。出自酴酒乎。姑錄俟識者是正。肘後方。治一切瘧。烏梅丸方後。搗篩蜜丸。蘇屠曰搗一萬杵。屠蘇亦未知何義。並記此。吳旻屠蘇飲方。與肘後諸書所載大異。今錄下。</p>
<p>吳旻續扶壽精方。屠蘇飲方曰。古屠蘇庵仙人遺方。年除日五更。將一餅入酒純熱。閤家各飲一二鍾。一年之內。瘟不侵染。是驗。鬼箭羽。一錢。茅山術。二錢。赤小豆。四十九個。乳香一錢。梅花瓣。一錢。桃仁。一錢。荷花蕊。一錢。菊花頭。一錢。吳茱萸。三分。甘草三分。共為細末。臘月除日。煉蜜和丸。如黃豆大。成餅。用上好雄黃為衣。</p>

<h2>梅雨考</h2>
<p>安永甲午秋。訪林子華。（良榮）偶於櫥中。獲其曾祖恆齋先生（良以）所輯梅雨考一編。予後以讀諸書而所得。更續數則。</p>
<p>周處風土記曰。梅熟時雨。謂之梅雨。</p>
<p>陸佃埤雅曰。今江湘二浙。四五月之間。梅欲黃落。則水潤土溽。礎壁皆汁。蒸郁成雨。其霏如霧。謂之梅雨。沾衣服皆敗黦（郁）故自江以南。三月之雨。謂之迎梅。五月雨。謂之送梅。轉淮而北則否。亦梅至北方多變而成杏。故人有不識梅者。地氣使然也。</p>
<p>陳藏器本草拾遺曰。梅雨水。洗瘡疥。滅瘢痕。入醬易熟。江淮以南。地氣卑濕。五月上旬連下旬尤甚。月令土潤溽暑。是五月中氣。過此節以後。皆須曝書畫。梅雨沾衣。便腐黑。浣垢如灰汁。有異他水。但以梅葉湯洗之乃脫。余並不脫。</p>
<p>袁文甕牖間評曰。今人謂梅雨為半月。以夏至為斷梅日。非也。梅雨夏至前後各半月。故蘇東坡詩云。三旬已過黃梅雨。則梅雨為三十日可知矣。西郊野叟庚溪詩話曰。江南五月梅熟時。霖雨連旬。謂之黃梅雨。然少陵曰。南京西浦道。四月熟黃梅。湛湛長江去。冥冥細雨來。蓋唐人以成都為南京。則蜀中梅雨。在四月也。及讀柳子厚詩曰。梅實迎時雨。蒼茫值曉春。愁深楚猿夜。蘿斷越雞晨。海霧連南極。江云暗北津。素衣今盡化。非為帝京塵。此子厚在嶺外詩。則南粵梅雨。又在春末。知是梅雨時候所至。早晚不同。</p>
<p>范成大吳船錄曰。蜀無梅雨。子美梅熟時經行。偶值雨耳。恐後人便指為梅雨。故辨之。</p>
<p>趙叔向肯綮錄曰。今人謂梅雨。梁元帝纂要云。梅熟而雨。曰梅雨。風俗占曰。芒種日。謂之入梅。夏至日午後。為梅盡。入時號曰時雨。合共三十日。</p>
<p>郎瑛七修類稿曰。碎金集云。芒種後逢壬入梅。夏至後逢庚出梅。神樞經又云。芒種後逢丙入梅。小暑後逢未出梅。人莫適從。予意作書者。各自以地方配時候。而云然耳。杜子美詩云云。蓋唐人以成都為南京。則蜀中梅雨在四月矣。柳子厚詩云云。此子厚嶺外之作。則又知南粵之梅雨三月矣。東坡吳中詩曰。三旬過久黃梅雨。萬里初來舶𧏿風。又埤雅云。江湘二浙。四五月間。有梅雨。⿰圭主敗人衣服。予嘗亦戲為詩曰。千里殊風百里俗。也知天地不相同。江南五月黃梅⿰圭主。人在魚鹽水中。是知天地時候自有不同如此。（瀛奎律髓。惟北土無梅雨。或謂蜀亦無梅雨。杜以為四月。柳以為三月。豈梅熟有先後異乎。）</p>
<p>李時珍本草綱目曰。梅雨或作黴雨。言其沾衣及物。皆生黑黴也。芒種後逢壬為入梅。小暑後逢壬為出梅。又以三月為迎梅雨。五月為送梅雨。此皆濕熱之氣。郁遏薰蒸。釀為霏雨。人受其氣則生病。物受其氣則生黴。故此水不可造酒醋。其土潤溽暑。乃六月中氣。陳氏之說誤矣。</p>
<p>案時珍食物本草。逢壬為出梅。作逢庚為出梅。霏雨下。有或成狂注。時作時止。陰晴不定十二字。條末云。惟以之煎茶。則滌腸胃宿垢。味美而神清也。又案吳文炳食物本草云。烹茶尤佳。勝諸雨水。何鎮本草必讀類纂云。江南習尚。受梅雨烹茶。其色味極美。用大缸裝水。煅以赤炭。每缸數塊。澄去滓。另以淨甕收貯。有留數年不變者。諸物與衣帛沾之。則腐黑也。</p>
<p>謝肇淛五雜組曰。四時纂要云。梅熟而雨。曰梅雨。瑣碎錄云。閩人以立夏後逢庚日。為入梅。芒種後逢壬為出梅。按梅雨。詩人多用之。而閩人所謂入梅出梅者。乃黴濕之黴。非梅也。又云。江南每歲三四月。苦霪雨不止。百物黴腐。謂之梅雨。蓋當梅子青黃時也。自徐淮而北。則春夏常旱。至六七月之交。愁霖不止。物始黴焉。俗亦謂之梅雨。蓋黴與梅同音也。</p>
<p>商浚博聞類纂曰。歷者𧓿𧓿也。立夏後逢壬日入⿰虫⿸尸𮥼。夏至後逢庚日出⿰虫⿸尸𮥼。如立夏後五日遇壬。則𧓿高五尺。如十二日逢壬。則𧓿高一丈二尺。遇辛日。則出⿰虫⿸尸𮥼高一丈二尺。如物在一丈三尺。則⿰虫⿸尸𮥼不至蒸也。</p>
<p>案⿰虫⿸尸𮥼。正韻。謨杯切。音枚。塵也。楚辭九懷。霾土忽兮⿰虫⿸尸𮥼⿰虫⿸尸𮥼。一作海。蓋霏雨如塵。故謂之⿰虫⿸尸𮥼耳。</p>
<p>馮應京月令廣義曰。通書。黃梅雨。四十許日出梅。則入伏。臞仙肘後經芒種逢丙日入黴。小暑逢未日出黴。黴黰音軫。溽濕之氣也。一作黴𡛂。廣雅黰。又作𧑓。又云。通書。芒種後逢壬日。或庚或丙日。進梅。閩人以壬日進梅。前半月為立梅。立梅有雨旱。按天道自南而北。凡物候先於南方。故閩粵萬物早熟。半月始及吳楚。今驗江南梅雨將罷。而淮上方梅雨。又逾河北。至七月少有黴氣。而不之覺矣。以此言之。壬丙進梅。不及定擬。固當易地而論之耳。</p>
<p>周文華汝南圃史曰。芒種逢壬。便立梅。遇辰則絕。</p>
<p>陸務觀劍南集曰。輕雷轆轆斷梅初。自注。鄉人謂梅雨有雷。曰斷梅。</p>
<p>朱國禎湧憧小品曰。俗語芒種逢壬。便立黴。黴後積水烹茶甚香冽。可久藏。一交夏至。便迥別矣。試之良驗。細思其理。有不可曉者。或者夏至一陰初生。前數日。陰正潛伏。水陰物也。當其伏時極淨。一切草木飛潛之氣不能雜。故獨存本色為佳。但取法極難。須以磁盆最潔者。布空野盛之。沾一物即變。貯之尤難。非地清潔且墊高不可。某年無雨。挑河水貯之。亦與常水異。而香冽不及遠矣。</p>
<p>張存紳雅俗稽言曰。南人以衣物班黑謂之上梅。以四五月為梅天。其雨謂之梅雨。一曰黴雨。又曰煤雨。言衣黑如煤也。按周處風土記。夏至前雨名梅雨。而歲時記事。江南三月為迎梅雨。五月為送梅。又埤雅。閩人以立夏後逢庚曰入梅。芒種後逢壬日出梅。又碎金。芒種後逢壬曰入梅。夏至後逢庚日出梅。又神樞。芒種後逢酉日入梅。小暑後逢未日出梅。諸說不一。要之芒種逢酉之說近是。蓋其時雨能斑衣也。又按楚辭。顏黴黎以沮敗兮。注。黴音眉。面黑也。說文。物中久雨青黑曰黴。然則斑衣之梅當作黴。方以智通雅曰。黴黰音梅軫。一作黴黕。濕氣著衣物。生斑沫也。黰。又作𧑓沴。埤雅。以梅子黃時雨。曰黃梅雨。人遂以黴天為梅天。今韻會是之。四時纂要云。閩人以入夏逢庚入梅。芒種逢壬乃出梅。今江淮以芒種逢丙始入。小暑逢未乃出。</p>
<p>張自烈正字通曰。黴莫裴切。音枚。項甌東曰。江南以三月為迎梅雨。五月為送梅雨。或言古語。黃梅時節家家雨。故云。張蒙溪謂梅當作黴。雨中暑氣也。黴雨善汗衣服。故人云黴涴。言為黴所壞也。按埤雅。風土記。皆作梅雨。義與黴通。存備考正。</p>
<p>雍正重修松江府志曰。芒種後遇壬則入梅。夏至後遇庚為出梅。時梅子正黃遇雨。謂之黃梅雨。又雨氣沾衣物多腐壞。故字亦從黴。夏至後半月為時雨。時亦從⿰黑茲。蒙此義也。又云。芒種後。如第五日遇壬。則梅高五尺。十二日過壬。則梅高一丈二尺。度物之高下。過此則不蒸濕也。</p>
<p>虞兆隆天香樓偶得曰。黃梅。今吳楚以芒種後壬日立梅。王日芒種。即是立梅。夏至後庚日出梅。庚日夏至。即是出梅。若芒種後逢壬早。夏至後逢庚遲。則梅多至十八日。芒種後逢壬遲。夏至後逢庚早。則梅少僅八日。俗每以此占黴氣之深淺。殊不知天下雖有不齊。而歲序初無伸縮。壬庚遲早。系偶然相俱。烏足以限黴氣乎。</p>

<h2>冬蟲夏草考</h2>
<p>寬政中。吳舶載來冬蟲夏草。有人問其功用者。因匯諸書所記以示焉。吳遵程本草從新曰。冬蟲夏草。甘平。保肺益腎。止血化痰。已勞嗽。四川嘉定府所產者最佳。雲南貴州所出者次之。冬在土中。身活如老蠶。有毛能動。至夏則毛出土上。連身俱化為草。若不取。至冬則復化為蟲。</p>
<p>袁慢恬書隱叢說曰。昔有友人。自遠來餉予一物。名曰夏草冬蟲。出陝西邊地。在夏則為草。在冬則為蟲。故以是名焉。浸酒服之。可以卻病延年。余所見時僅草根之枯者。然前後截形狀。顏色各別。半青者僅作草形。半黑者略粗大。具有蠕蠕欲動之意。不見傳記書之。以俟後考云。</p>
<p>徐昆柳崖外編曰。滇南有冬蟲夏草。一物也。冬則為蟲。夏則為草。蟲形似蠶。色微黃。草形似韭。葉較細。入夏蟲以頭入地。尾自成草。雜錯於蔓草溥露間。不知其為蟲也。交冬草漸萎黃。乃出地蠕蠕而動。其尾猶蓛蓛然。帶草而行。蓋隨氣化轉移。理有然者。和鴨肉頓食之。大補。</p>
<p>七十一西域聞見錄曰。夏草冬蟲。生雪山中。夏則葉岐出類韭。根如朽木。凌冬葉乾。則根蠕動。化為蟲。入藥極熱。魯華祝衛藏圖識曰。冬蟲夏草。出撥浪工山。本草不載。性溫暖。補精益髓。</p>
<p>唐秉鈞文房肆考曰。青藜余照。載太史董育萬宏偶談。四川產夏草冬蟲。根如蠶形。有毛能動。夏月其頂生苗。長數寸。至冬苗槁。但存其根。嚴寒積雪中。往往行於地上。京師藥鋪。近亦有之。彼尚康熙時也。近年蘇郡漸有。但古來本草。及草木諸典故。從未及之。未詳性味。近吳遵程從新。有此品。言保肺益腎。不道從何考據。余仍疑之。未敢輕嘗。以意察之。其不畏寒而行雪中。則其氣陽性溫可知。應奎書院山長。孔老師諱繼元號裕堂。系先聖裔。桐鄉烏鎮人。誠正君子也。述伊弟患怯。汗大泄。雖盛暑處密室帳中。猶畏風甚。病三年。醫藥不效。症在不起。適戚自川解組歸。遺以夏草冬蟲三斤。遂日和葷蔬。作餚燉食。漸至全愈。因信此物之保肺氣實腠理。確有徵驗。嗣後用之俱奏效。因信此品功用。不下人參。</p>

<h2>吸毒石考</h2>
<p>陳士鐸石室秘錄曰。瘡毒初起。有一種解毒之石。即吸住不下。但毒輕者。一吸即下。毒重者必吸數日始下。不可急性而人自取下也。此石最妙。一石可用三年。然止可用以治小瘡口耳。大毒癰疽。仍須煎湯藥治之為妙。王遜藥性纂要曰。近見有吸毒石。云出西洋。放毒上。即吸緊不能動。拔出毒氣。力盡則自脫。</p>
<p>吳震芳嶺南雜記曰。吸毒石。乃西洋島中。毒蛇腦中石也。大如扁豆。能吸一切腫毒。即發背可治。今貨者。乃土人捕此蛇。以土和肉。舂成大圍棋子。可吸平常腫毒。及蜈蚣蛇蠍等傷。置患處。黏吸不動。毒儘自落。其石即以人乳浸之。變錄色。亟遠棄之。著人畜亦毒也。不用乳浸石即裂矣。一石可用數次。真腦石。置蛇頭不動為驗。</p>
<p>王丹麓石友贊曰。嶺南方物紀。吸毒石。出西洋。色與磁石相類。凡身有腫毒。或受蟲蠍毒處。置石其上。毒盡收石內。其患即平。隨以石浸水中。一晝夜出毒。便可再用不窮。贊云。</p>
<p>人有疾患。若莫可告。我切恫癏。無方以療。</p>
<p>石本西洋。力兼眾妙。能收能出。循環愈效。</p>
<p>袁慢恬書隱叢說曰。吳江某姓。有吸毒石。形如雲南黑圍棋。有大腫毒者。以石觸之。即膠黏不脫。毒重者一周時。則落。毒輕者逾時即落。當俟其自脫。不可強離也。強離則毒終未盡焉。俟其落時。預備人乳一大碗。分貯小碗。以石投乳中。乃百沸踴躍。再易乳。復投更沸。如是屢次。俟沸定。則其石無恙。以所吸之毒。為乳所洗盡也。不然。其石必粉裂矣。云得之於舊家。本出於大西洋中。傳記不見。乃知世間奇物。不可以理測也。</p>
<p>紀盷灤陽消夏錄曰。左傳。言深山大澤。實生龍蛇。小奴玉保。烏魯木齊流人子也。初隸持納格爾軍也。嘗入谷追亡羊。見大蛇。巨如柱。盤於高岡之頂。向日曬鱗。周身五色爛然。如堆錦繡。頂一角。長尺許。有群雉飛過。張口吸之。相距四五尺。皆翩然而落。如矢投壺心。知羊為所吞矣。乘其未見。循澗逃歸。恐怖幾失魂魄。軍吏鄔圖麟因言。此蛇至毒。而其角能解毒。即所謂吸毒石也。見此蛇者。攜雄黃數斤。於上風燒之。即委頓不能動。取其角。鋸為塊。癰疽初起時。以一塊著瘡頂。即如磁吸鐵。相黏不可脫。待毒氣吸出。乃自落。置人乳中。浸出其毒。仍可再用。毒輕者乳變綠。稍重者變青黯。極重者變黑紫。乳變黑紫者吸四五次乃可盡。餘一二次愈矣。余記從兄懋園家。有吸毒石。治癰疽頗驗。其質非木非石。至是乃知為蛇角矣。</p>
<p>按此物。荷蘭人間齎來。雲龍頭中石也。予弱冠時。聞之於賀臺滕舜調云。琢龍角所造。予因其言造之。其形與舶上物無別。試之於小瘡。亦黏吸不落。乃知紀氏所紀。蛇角之說。似可信焉。</p>

<h1>跋</h1>
<p>醫賸三卷。附錄一卷。伯氏廉夫天明戊申所筆記。而未及脫稿。投之筐笥。不復厝意者。殆二十年。享和辛酉冬。免侍直以來。葖肥橘黃之暇。專從事於毫楮之間。平昔起手所注素靈二經。長沙之書。及其餘撰著。至是逐次完局。可繕寫者亡慮數十部。殆至等身緒餘。又取此書。加編劃而猶未滿意。謂其不論方術之大體而抉瑣末。不及理療之切要而搜迂僻。自以竹頭木屑視之。不欲示人。自余觀之。此書收錄。皆醫經所未載。方書所未具。本草所未採。前賢所未辨。世人所未察。每一事必核其始末。究其同異。參以證左。大則可以裨治術。細亦足以博學識。無一不可悅目而快意。則謂之醫苑之珍珠舩可也。顧其體例。在醫家之書。別自一調。惟與張季明俞子容之書。略相類似。宋陳無擇氏。嘗以方技之書。比四部。而四部之外。有說之一部。張俞二氏之書。是已。此亦以為說部之一。豈止若竹頭木屑。至覆庭裝舩始見其用也哉。與其所注素靈二經。長沙之書。及其餘諸編。均可以垂世。而行遠無疑矣。及門諸子。謀刻諸書。然卷帙浩瀚。非歲月之所能遽辨也。獨此書葉頁不甚多。故先付之梓云。文化己巳重陽後一日。六弟丹波元鼎謹識。</p>
