<header data-type="book">
<h1>王氏醫案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王士雄</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1843">公元1843年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2952">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>楊序</h1>
<p>才不足以包乎所業之外，則其業不精：心不足以周乎所業之中，則其業亦不精。羿之射、僚之丸、張旭之草書、蘭子之舞劍，其人皆負不可一世之才，而俯首降心於一藝之微，研窮玩索，不能自已。迨其業之既成，而天下莫能尚。況乎醫之為道，參天人之奧，操性命之權，其理至深，其責至重，而世顧以無才無識之人，挾不專不精之術，貿貿施治，絕人長年，宜乎古人有學醫人費之慨也。余自束髮受書，篤嗜軒岐之學，以家貧無力致書，所蓄者《靈》、《素》而外，立齋、景岳諸種而已。觀其援引之繁富，議論之辨博，竊以為道在，於是而按法施治，輒為所困。嗣得西昌喻氏之書，伏而誦之，始有以識。夫病情之蕃變，方劑之準繩，與夫寒暑陰陽之變化，其才大而學博，識高而法密，有非薛、張諸公所能彷彿者。然而《尚論》一編，猶襲三綱之謬；春溫一論，混入傷寒之中。白璧微瑕，不能不為此老惜也。歲在乙巳，服官江右，廣搜百氏之書，如葉天士之高超，尤在涇之切實，王晉三之精奧，張路玉之明達，以及吳又可、徐洄溪、柯韻伯、陳修園諸君子，罔弗各具精心，獨抒偉論，靈蘭之秘，闡發靡遺。然而宗古訓者，矩矱弗失，而不免於穿鑿附會；崇妙悟者，化裁生心，而或涉於支離背謬。夫醫主於愈病而已，偏執一途，而故持高論，縱名理湛深，與病情無與也。偶於坊間得武林王君孟英所著《霍亂論》一帙，其理明，其詞達，指陳病機，判然若黑白之不可混淆，以為飼鶴山人之流亞，私心竊嚮往之。己酉冬，余室人患痰飲脅痛，屢藥弗痊，漸即沉困。適孟英來撫之金溪視吳候醞香之疾，亟走伻相邀，惴惴然恐不得一當，乃孟英惠然肯來，投藥五劑而大效。並出初刊醫案《回春錄》見示，因縱談古今之同異，百家之得失，滔滔滾滾，折衷悉當，始知霍亂一論，不過孟英一端之緒餘，而又竊幸余向之私心傾慕者，為不誣也。詢其近案，積有數卷，乃張柳吟、趙菊齋諸君子所輯定，而題其篇曰《仁術志》。余取而讀之，喜其崇論閎議，足為世法，因易其名曰《王氏醫案》，與《回春錄》合為一編，而附《霍亂論》於後，並謬加評點，付諸攻木之工，以廣其傳。蓋醫者生人之術也，醫而無術，則不足以生人，醫而誤用其術，則不惟不足以生人，而其弊反致於殺人。夫醫雖至庸，未有忍於殺人者也。而才不足以應紛紜之變，學不足以窮古今之宜，識不足以定真偽之幻，則其術不精，斯曰殺人而不自知，故為醫而無才、無學、無識不可也，為醫而恃才、恃學、恃識亦不可也，必也平心以察之，虛心以應之，庶乎其可也。夫古人因病而生法，因法而成方，理勢自然，本非神妙，唯用之而當，斯神妙矣。今才如孟英，學如孟英，識力精超如孟英，而每臨一證，息心靜氣，曲證旁參，務有以究乎病情之真而後已，宜乎出奇制勝，變化無方，著之醫案，卓卓可傳如是也。余讀孟英之書，於數年以前，以為迢迢二千里，山遙水阻，必無相見之期，乃吳君病而孟英來，孟英來而余室適病，宛轉牽引，卒使數年來望風相思之友，把袂盤桓，傾吐肝鬲，極苔岑遇合之奇，夙世因緣，諒非淺鮮。孟英勉乎哉！異日者擷眾籍之精華，訂群言之謬偽，刪繁提要，勒為一書，以保全天下萬世之民命，厥功甚巨，而為力亦甚艱。天末故人所企望於良友者，詎止斯醫案一編而已耶！</p>
<p><u>道光三十年歲次庚戌知宜黃縣事楊照藜書於吟香書屋</u></p>

<h1>周序</h1>
<p>予友王君孟英，少年失怙，其尊人彌留之際，執孟英手而囑曰：人生天地之間，必期有用於世，汝識斯言，吾無憾矣。孟英泣拜，而銘諸心版。然自顧家貧性介，不能為利達之人，將何以為世用耶？聞先哲有不為良相，則為良醫之語，因自顏其室曰「潛齋」。而銳志於軒岐之學，潛心研究，遂抉其微。年未冠遊長山，即納交於予。每見其治病之奇，若有天授，而視疾之暇，恆手一編不輟也。繼瞻其齋頭一聯云：讀書明理，好學虛心。可見苦志力學蘊之胸中者，淵深莫測，乃能窮理盡性出之指下者，神妙難言，二十年來，活人無算，豈非以用世之才，運其濟世之術，而可垂諸後世者哉！今就予耳目所及之妙法，仿丁長孺刻仲淳案之例，錄而付梓，名曰《回春錄》。見聞有限，遺美極多。世之君子必有如莊斂之、華岫云其人者，更為之遠搜博採，以廣其傳，而予糠秕在前，有榮施矣。</p>
<p><u>道光二十三年癸卯冬十二月　愚弟周　鑅拜題</u></p>

<h1>王氏醫案卷一原名《回春錄》</h1>
<p>甲申夏，予於登廁時，忽然體冷汗出，氣怯神疲。孟英視之曰：陽氣欲脫也。卒不及得藥，適有三年女佩姜一塊，約重四五錢，急煎而灌之即安。後用培補藥，率以參、耆、朮、草為主，蓋氣分偏虛也。（眉批：乾薑辛溫，故用之以回陽氣，若並此不得，則令壯盛人以氣呵之，亦可救倉卒之變。）</p>
<p>範慶簪，年逾五十，素患痰嗽。乙酉秋，在婺驟然吐血，勢頗可危。孟英診曰：氣虛而血無統攝也，雖向來咳嗽陰虧，陰藥切不可服。然非格陽吐血，附、桂更為禁劑。乃以潞參、耆、朮、苓、草、山藥、扁豆、橘皮、木瓜、酒炒芍藥為方，五帖而安。繼去甘草、木瓜，加熟地黃、黑驢皮膠、紫石英、麥冬、五味子、龍骨、牡蠣熬膏，服之全愈，亦不復發。後範旋里數年，以他疾終。</p>
<p>丙戌春，倉夫鄭德順患急證，時已二鼓，丐孟英視之。見其扒床拉席，口不能言，惟以兩手指心抓舌而已。孟英曰：中毒也。取綠豆二升，急火煎清湯，澄冷灌之，果即霍然。詰朝詢其故，始言久患臂痛，因餌草頭藥，下咽後即心悶不可耐，舌麻不能言，而旁人不知也。錄此足以證孟英臨證之燭照如神，亦可見草藥之不可輕試也。</p>
<p>婺人羅元奎，丁亥夏卒發寒熱，旋即嘔吐不能立，自言胯間痛不可當。孟英視其痛處，焮赤腫硬，形如肥皂莢，橫梗於毛際之左。乃曰：此證頗惡，然乘初起，可一擊去之也。用金銀花六兩，生甘草一兩，皂角刺五錢，水煎和酒服之。（眉批：予每以此法治陽證瘡毒，莫不應手取效，真妙方也。）一劑減其勢，再劑病若失。逾年患傷寒，孟英切脈，虛細已極。曰：此不可徒攻其病者，以陰分太虧耳。與景岳法，以熟地、當歸、酒炒白芍、炙甘草、橘皮、柴胡等藥，一劑而瘳。（此法予亦屢用獲效，氣虛者並可加參，但表藥止柴胡一味，猶嫌力微。）</p>
<p>予素患噫氣，凡體稍不適，其病即至，既響且多，勢不可遏。戊子冬發之最甚，苦不可言。孟英曰：此陽氣式微，而濁陰上逆也。先服理中湯一劑，隨以旋覆代赭湯投之，遂愈。嗣後，每發如法服之，輒效。後來發亦漸輕，今已不甚發矣。予聞孟英常云，此仲聖妙方，藥極平淡，奈世人畏不敢用，殊可陋也。（眉批：法本喻氏。）</p>
<p>有患陰虛火炎者，面赤常如飲酒之態。（非戴陽證。）孟英主一味元參湯，其效若神，而屢試皆驗。（眉批：元參能滋水以制火，獨用則力厚，取效倍捷。）</p>
<p>黟人葉殿和，庚寅秋患感。旬日後汗出昏瞀，（熱甚陰竭之象。）醫皆束手，乃甥余薇垣浼孟英勘之。曰：此真陰素虧，過服升散，與仲聖誤發少陰汗同例。（此例精當。）下竭則上厥，豈得引亡陽為比，而以附、桂速其斃耶？以元參、地黃、知母、甘草、白芍、黃連、茯苓、小麥、龜板、鱉甲、牡蠣、驢皮膠為大劑，投之得愈。</p>
<p>海陽趙子升，辛卯夏病瘧，急延孟英診之。曰：暑熱為患耳，不可膠守於小柴胡也。與白虎湯（專清暑邪。）一啜而瘥。甲午秋，範麗門患溫瘧，孟英用白虎加桂枝（清熱兼驅風。）以痊之。丙申夏，盛少云病濕熱瘧，孟英以白虎加蒼朮湯（清熱兼燥濕。）而安。己亥夏，予舅母患瘧，服柴胡藥二三帖後，汗出昏厥，妄語遺溺。或謂其體質素虛，慮有脫變，勸服獨參湯，幸表弟壽者不敢遽進，乃邀孟英商焉。切其脈洪大滑數，曰：陽明暑瘧也，與傷寒三陽合病同符。處竹葉石膏湯（清熱兼益氣，兩劑而瘳。）庚子夏，滇人黃肖農自福清赴都，道出武林，患暑瘧。孟英投白虎湯加西洋參（清熱益氣與前方意同。）數帖始愈。辛丑秋，顧味吾室人患瘴瘧，孟英亦主是方而效。莊芝階中翰張安人，年逾花甲，瘧熱甚熾，孟英審視再四，亦與竹葉石膏湯而安。聞者無不驚異，予謂：如此數證，體分南北，質有壯衰，苟非識證之明，焉能藥與病相當而用皆適宜哉！</p>
<p>壬辰八月，範蔚然患感旬余，諸醫束手。乃弟麗門懇孟英治之。見其氣促音微，呃忒自汗，飲水下咽，隨即傾吐無餘。曰：伏暑在肺，必由溫散以致劇也。蓋肺氣受病，治節不行，一身之氣，皆失其順降之機，即水精四布，亦賴清肅之權以主之，氣既逆而上奔，水亦泛而上溢矣。（眉批：妙論。不獨治暑為然，凡上而不下之證，皆可類推。）但清其肺則諸恙自安。乃閱前服諸方，始則柴、葛、羌、防以升提之，火藉風威，吐逆不已，猶謂其胃中有寒也。改用桂枝、乾薑以溫燥之，火上添油，肺津欲絕，自然氣促音微，疑其虛陽將脫也。徑與參、歸、蛤蚧、柿蒂、丁香以補而納之，愈補愈逆，邪愈不出，欲其愈也難矣。亟屏前藥，以瀉白散合清燥救肺湯，數服而平。</p>
<p>一何叟年近八旬，冬月傷風，有面赤氣逆、煩躁不安之象。孟英曰：此喻氏所謂傷風亦有戴陽證也，不可藐視。以東洋人參、細辛、炙甘草、熟附片、白朮、白芍、茯苓、乾薑、五味、胡桃肉、細茶、蔥白，一劑而瘳。孟英曰：此真陽素擾，痰飲內動，衛陽不固，風邪外入，有根蒂欲拔之虞。誤投表散，一汗亡陽，故以真武、四逆諸法，回陽鎮飲，攘外安內，以為劑也，（以此二語印證前方，可知用法之周到。）不可輕試於人，致干操刃之辜，慎之慎之！</p>
<p>癸巳秋，余在婺患瘧，大為醫人所誤。初則表散，繼則滋補，延及月餘，肌肉盡削，寒熱不休，且善嘔惡食，溺赤畏冷，乃買棹旋杭，托孟英診視。曰：足太陰濕瘧也。以金不換正氣散，三啜而安。然元氣為誤藥所傷，多方調補，甫得康健。次年秋，復患瘧於婺，友人咸舉醫療，予概卻之。憶病情與前無異，即於篋中檢得孟英原方，按序三帖，病亦霍然，聞者無不稱歎。後歸里為孟英述而謝之，孟英曰：瘧情如是，恐其按年而作。乃授崇土勝濕丸方，明年夏令預服以堵御之。迄秋果無恙，後竟不發矣。</p>
<p>鍾耀輝年逾花甲，在都患腫。起自腎囊，氣逆便溏，諸治不效，急買車返杭，托所親謝金堂邀孟英治之。切其脈微而弱，（虛象顯然。）詢其溺清且長。曰：都中所服，其五苓、八正耶？抑腎氣、五皮也？鍾云：誠如君言，遍嘗之矣，而病反日劇者何哉？孟英曰：此土虛不制水也。通利無功，滋陰亦謬。法宜補土勝濕，（此即張景岳所云理中加茯苓、附子之證也。）與大劑參、術，果即向安。越八載、以他疾終。</p>
<p>金元章媳，於甲午新寡後患膿窠疥，大抵濕熱之病耳。瘍醫連某疑為遺毒，徑作廣瘡療，漸至上吐下痢，不進飲食。另從內科治，亦無寸效。延至未春，更兼腹痛自汗，汛愆肌削，諸醫皆見而卻走矣。王仲安薦孟英視之，曰：此胃氣為苦寒所敗，肝陽為辛熱所煽，前此每服陽剛，即如昏冒，稍投滋膩，泄瀉必增，遂謂不治之證，未免輕棄。乃以四君子加左金、椒、梅、蓮子、木瓜、餘糧、石脂等出入為方，百日而愈。第信猶未轉也，諸親友環議，再不通經，病必有變。孟英力辨此非經阻可通之證，惟有培養生化之源，使其氣旺血生，則流行自裕。若不揣其本而齊其末，則礱糠不能榨油，徒傷正氣，盡隳前功，豈不可惜。眾議始息，恪守其方，服至仲冬，天癸至而肌肉充，康復如常矣。</p>
<p>朱某患嘔吐，諸藥不效，甚至大小便秘，糞從口出，臭不可當，自問不起矣。孟英用代赭旋覆湯加蜣螂蟲，服之而愈。（上者下之之法，而意甚巧。）</p>
<p>孟英邃於醫學，從不侈談脈理，足以見其欿然不自足也。而脈理之最不易切者，莫如妊娠。予聞孟英於乙未春診黃履吉室人之脈，曰：妊也。是月天癸猶來，人皆不以為然。次月仍轉，但不多耳。復邀孟英診之，曰：果妊也。汛不斷者，蔭胎之血有餘耳。逾月汛復行，覺更少矣，人猶以為妄也。四月後經始停，娠亦顯，娩如期，人始服其見老。丙申夏，滿洲某選粵東鹽場，攜眷之任，過浙主於李雲臺家，請孟英視其如君之恙。孟英診曰：非病也，熊羆入夢矣。某頗不信，謂經甫停何以遽斷為孕？而又必其為男乎？反生言過其實之疑。既而某延雲臺入幕，偕赴粵任。次年雲臺於家書中述及居停果得子，深嘆孟英指妙。予荊人久無孕，辛丑秋汛事偶愆，孟英一診即以妊斷，且以男許。次夏果舉一子，惜不育耳。邵魚竹給諫仲媳懷妊，孟英於寅春初診即許抱孫。秋杪果應。表弟胡壽者室，偶有小忿，經事澀少，腰腹微脹，自以為怒氣所滯也，延孟英調之。切其脈，曰：懷麟矣。初猶疑之，既而始信。卯春果弄璋。吳云階室年四十餘，寅秋汛斷，其腹日脹，醫謂病也，治之罔效。迓孟英診之：孕也。彼猶不自信，及腹中漸動，始服其言。至期產一女。癸秋，孟英治石誦羲室，脘痛甫愈，適汛逾期，即曰：娠矣。既而果日形著，其指下之神妙如此。（眉批：娠孕之脈最為難憑，有初娠即現於脈者，有三四月始現於脈者，有始終不現於脈者。此與憑脈斷證有時可憑，有時不足憑，同一至理。予嘗以此質之孟英，孟英亦以為然。可見真學問人，必不恃虛言以眩世也。）</p>
<p>朱恆山久患胸痞多痰，諸藥罔瘳。孟英診曰：清陽之氣不司旋運也。與參、耆、苓、術之劑，豁然頓愈，因極欽服。後數年果以汗脫。聞其垂危之際，口不能言，猶以左手橫三指，右手伸一指加於上，作王字狀以示家人。有會其意者，急追孟英至，而他醫之中風藥早灌入矣，遂以長逝。癸卯冬至前一日，管大中丞亦是氣從溺脫，當以參、附挽回者，及孟英至而痰藥、痧藥、風藥，灌之遍矣。脈僅若蛛絲過指，孟英堅不與方，須臾而卒。</p>
<p>無棣張柳吟封翁，於乙未夏偕令嗣恆齋刺史赴滇南任，道出武林。其家人鄭九者，封翁寵人之弟也，途次抱恙。抵抗日招越醫陳六順診治，服藥後汗出昏狂，精流欲脫。封翁大駭，躬詣孟英以希挽救。孟英切其脈，既數且亂，沉取極細。乃語封翁曰：此證頗危，生機僅存一線，亦斯人之陰分素虧，不可竟謂附、桂之罪也。封翁聞言大悅，曰：長者也。不斥前手之非以自伐，不以見證之險而要譽。相見恨晚，遂訂忘年之交。彼此盡吐生平，始知封翁最喜談醫，岐黃之言，無所不覽，惟不肯為人勘病，亦慎重之意耳。於是孟英以元參、知、柏、桑枝、龍、牡、生地、白芍、甘草、百合、石斛、梔子、鹽水炒淡豆豉為大劑灌之，下咽即安。次日去梔、豉、甘草，加龜板、鱉甲、鹽水炒橘紅，十餘帖而康。</p>
<p>吳馥齋令姊，稟質素弱，幼時鳳山診之，許其不秀。癸巳失其怙恃，情懷悒悒，汛事漸愆，寢食皆廢，肌瘦吞酸，勢極可畏。孟英以高麗參、鹽水炒黃連、甘草、小麥、紅棗、百合、茯苓、牡蠣、白芍、旋覆花、新絳等治之，各恙漸已。（甘以緩之，苦以降之，酸以斂之，皆古聖之良法也。）繼參、歸、地滋陰，康強竟勝於昔。</p>
<p>一男子患喉痹，專科治之甫愈，而通身腫勢日甚，醫者驚走。孟英診之曰：病藥也。投附子理中湯，數劑而痊。予謂：喉痹治以寒涼，法原不謬，而藥過於病，翻成溫補之證，是病於藥也，非病於病也。嘗聞孟英云：病於病而死者十之三，病於藥而死者十之七。以予觀之，誠非激論也，籲可嘆已！</p>
<p>朱氏婦，產後惡露不行，而宿哮頓發，專是科者不能下手。孟英以丹參、桃仁、貝母、茯苓、滑石、花粉、桂枝、通草、蛤殼、苡仁、紫菀、山楂、絲瓜子、茺蔚子、旋覆、琥珀出入為方，三日而愈。</p>
<p>局醫黃秀元之輿人韓名諒者，有兒婦重身患熱病，局中諸醫皆慮胎隕，率以補血為方，旬日後勢已垂危，浼人求孟英診之。曰：胎早腐矣，宜急下之，或可冀幸，若欲保胎，則吾不知也。其家力懇疏方，遂以調胃承氣合犀角地黃湯，加西洋參、麥冬、知母、石斛、牛膝投之，胎落果已臭爛，而神氣即清，熱亦漸緩。次與西洋參、元參、生地、知母、麥冬、丹參、丹皮、茯苓、山楂、石斛、豆卷、茺蔚、琥珀等藥調之，粥食日加，旬日而愈。</p>
<p>一少年驟患遺精，數日後形肉大脫。連服滋陰澀精之藥，如水投石。孟英與桂枝湯加參、耆、龍、牡，服下即效，匝月而瘳。（此陽浮於上，陰孤於下，故非滋陰澀精所能治。仲景桂枝龍骨牡蠣湯，能調和陰陽，收攝精氣，又復參、耆以建其中，故取效甚速。）</p>
<p>家叔南山，於秋間患感，日治日劇，漸至神昏譫妄，肢振動惕。施、秦兩醫皆謂元虛欲脫，議投峻補。家慈聞而疑之，曰：盍與孟英商之。孟英診曰：無恐也，通絡蠲痰，可以即愈。用石菖蒲、羚羊角、絲瓜絡、冬瓜子、苡仁、桑枝、旋覆、橘絡、蔥須、貝母、鉤藤、膽星為劑，化服萬氏牛黃清心丸一顆，覆杯即安，調理半月而愈。</p>
<p>美政關毛內使，年逾花甲，而患喘嗽。醫與腎氣湯、全鹿丸等藥，反致小溲澀痛，病日以劇。孟英診之，與純陰壯水之治。毛曰：我輩向吸阿片煙，豈敢服此涼藥？孟英曰：此齊東之野語也，誤盡天下蒼生。幸汝一問，吾當為世人道破機關，不致誤墮火坑者，再為積薪貯油之舉也。夫阿片，本罌粟花之脂液，性味溫澀，而又產於南夷之熱地，煎曬以成土，熬煎而為膏。吸其煙時還須火煉，燥熱毒烈，不亞於砒，久吸之令人枯槁，豈非燥烈傷陰之明驗哉？毛極拜服，果得霍然。或問曰：阿片之性，殆與酒相近乎？孟英曰：曲糵之性雖熱，然人飲之則質仍化水，故陰虛者飲之則傷陰，陽虛者飲之則傷陽，景岳論之詳矣。若阿片雖具水土之質，而性從火變，且人吸之則質化為煙，純乎火之氣焰，直行清道，爍人津液。故吸菸之後，口必作渴，久吸則津枯液竭，精血源窮，而宗筋失潤。人因見其陽痿也，不察其所以痿之故，遂指阿片為性冷之物，抑何愚耶？凡吸阿片煙而醉者，以陳醬少許，瀹湯服即醒。若熬煙時少著以鹽，即渙散不凝膏，吸時舌上預舐以鹽，則不成癮，雖癮深者，但令舐鹽而吸，則癮自斷，豈非潤下之精能制炎上之毒乎？</p>
<p>金元章年逾七旬，久患疝厥，每病於冬，以為寒也，服熱藥而暫愈，終不能霍然。孟英診曰：脾胃雖寒，肝陽內盛，徒服剛烈，焉能中肯？以參、朮、枸杞、蓯蓉、茴香、當歸、菟絲、鹿角霜、桂、茯苓、楝實、黃連、吳萸、橘核等藥，為方服之，今數年無恙矣。</p>
<p>丙申春蜀人石符生，將赴鄧云厓司馬之招，經杭抱病，僑於張柳吟之舊館，亦為寓側陳六順治困。居停主人知之，即告以柳吟僕病之事，石聞之悚然，亟遣人延孟英診焉。脈沉而澀滯，模糊不分至數，肢涼畏冷，涎沫上湧，二便澀少，神氣不爽。曰：此途次感風濕之邪，失於解散，已從熱化，加以溫補，致氣機愈形窒塞，邪熱漫無出路，必致爍液成痰，逆行而上。但與舒展氣機，則痰行熱降，諸恙自瘳矣。以黃連、黃芩、枳實、橘皮、梔子、淡豉、桔梗、杏仁、貝母、鬱金、通草、紫菀、竹茹、蘆菔汁等藥，三服而起，調理匝旬遂愈。</p>
<p>夏間王某患感，越醫謝樹金治之，病雖退而能食矣，但不能起坐，類乎癱瘓，延已月餘，人皆謂其成廢。所親鍾某，浼孟英視之，曰：此多服表散，汗出過分，氣血兩傷，肢骸失其營養。脈微而細，舌亮無苔。與大劑參、耆、歸、朮、熟地、杜仲、菟絲、牛膝、枸杞、山藥、木瓜、萸肉、萎蕤、續斷、桑枝，（氣血雙補，而補血之藥重於補氣，以汗為血液，陰分偏傷也。）數十帖而起。</p>
<p>一勞力人陰分素虧，驟感風濕，兩膝刺痛痠軟，不能稍立。（此證延久即成鶴膝風。）孟英以六味地黃湯加獨活、豆卷，（精當。）一劑知，二劑已。</p>
<p>張養之令正，飲食如常，而肌膚消瘦，（敘證詳明。）信事如期，而紫淡不恆，兩腓發熱，而別處仍和，面色青黃，而隱隱有黑氣，儼似虛寒，多藥不效，始逆孟英診之。脈似虛細，而沉分略形弦滑。曰：此陽明有餘，少陰不足，土燥水涸。仲聖有急下存陰之法。然彼外感也，有餘之邪可以直瀉；此內傷也，無形之熱宜以甘寒，義雖同而藥則異也。贈以西洋參、生地、生白芍、生石膏、知、柏、苓、梔、麥冬、花粉、楝實、丹皮、木通、天冬諸品，服至數斤，黑氣退而肌漸充，腓熱去而經亦調矣。（眉批：孟英善用甘寒，投之此證尤宜。）</p>
<p>姚氏婦產後昏譫汗厥，肌膚浮腫，醫投補虛破血、祛祟安神之藥，皆不能治，舉家惶怖，轉延孟英診焉。詢知惡露仍行，曰：此證醫家必以為奇病，其實易愈也。昔金尚陶先生曾治一人，與此相似，載於沈堯封《女科輯要》中，方用石菖蒲、膽星、旋覆、茯苓、橘紅、半夏曲，名蠲飲六神湯，凡產後惡露行而昏譫者，多屬痰飲，不可誤投攻補。此湯最著神效，如方服之良愈。</p>
<p>牙行王炳華妻患舌瘡，痛礙飲食，內治外敷皆不效。孟英視其舌色紅潤，脈形空數，曰：此血虛火浮也，以產後發熱例施之。用熟地、當歸、酒炒白芍、炙甘草、茯苓、炮姜投之，其病如失。</p>
<p>一老人霍亂後目閉呃忒，醫謂脫陷在即，與桂、附回陽之藥，業已煎矣。適孟英至，詢知溺赤口乾，診得脈形軟數，而藥香撲鼻，即曰：此藥中有肉桂，叟勿服也，服之必死。迫令將藥傾潑，而與肅肺清胃之劑，果得漸安。</p>
<p>丁酉中秋夜，牙行張鑑録，年逾花甲，卒僕於地，急延孟英脈之，弦滑而大，曰：痰、氣、食相併而逆於上也。先以烏梅擦開牙關，橫一竹箸於口，灌以淡鹽薑湯。隨入鵝翎探之，吐出痰食，太息一聲而蘇。次與調氣和中而愈。後數年以他疾終。此案雖無奇，而辨證之明，不可不錄。</p>
<p>姚樹庭以古稀之年而患久瀉，群醫雜治不效，僉以為不起矣。延至季秋，邀孟英決行期之早晚，非敢望愈也。孟英曰：弦象獨見於右關，按之極弱，乃土虛木賊也，調治得法，猶可引年，何以遽爾束手乎？乃出從前諸方閱之，皆主溫補升陽。曰：理原不背，義則未盡耳。如薑、附、肉蔻、骨脂之類，氣熱味辣，雖能溫臟，反助肝陽，肝愈強則脾愈受戕。且辛走氣，而性能通泄，與脫者收之之義大相剌謬。而鹿茸、升麻可治氣陷之瀉，而非斡旋樞機之品。至熟地味厚滋陰，更非土受木克、脾失健行之所宜。縱加砂仁酒炒，終不能革其膩滑之性，方方用之，無怪乎愈服愈瀉，徒藉景岳「窮必及腎」為口實也。（眉批：語語精義，由此類推，可以知用藥之權衡矣。）與異功散加山藥、扁豆、蓮子、烏梅、木瓜、芍藥、蒺藜、石脂、餘糧，（扶脾抑肝，加以收攝下焦，須看其與病證針鋒相對處。）服之果效。恪守百日，竟得康強。越三載，以他疾終。</p>
<p>戊戌春，張雨農司馬，必欲孟英再赴環山。孟英因其受病之深，且公事掣肘，心境不能泰然，誠非藥石之可以為力也，固辭不往。司馬泣然哀懇：但冀偕行旋署，則任君去留可耳。並囑趙蘭舟再四代陳曲悃。孟英感其情，同舟渡江，次剡溪，司馬談及體氣羸憊情形，孟英忽曰：公其久不作嚏乎？司馬曰：誠然有年矣，此曷故也？孟英曰：是陽氣之不宣布也。古惟仲景論及之，然未立治法。今擬鄙方奉贈，博公一嚏如何？司馬稱善。遂以高麗人參、乾薑、五味、石菖蒲、酒炒薤白、半夏、橘皮、紫菀、桔梗、甘草為劑。舟行抵嵊，登陸取藥，煎而服之，駕輿以行，未及二十里，司馬命從人詣孟英車前報曰：已得嚏矣。其用藥之妙如此。</p>
<p>夏間牙行倪懷周室，新產數日，泄瀉自汗，嘔吐不納。專科謂犯三禁，不敢肩任。孟英診脈虛微欲絕，證極可虞，宜急補之，遲不及矣。用東洋參、耆、朮、龍、牡、酒炒白芍、桑枝、木瓜、扁豆、茯神、橘皮、紫石英、黑大豆投之。四劑漸以向安。予謂：新產後用參、耆大補，而又當盛夏之時，非有真知灼見者不能也。誠以天下之病，千變萬化，原無一定之治。奈耳食之徒，惟知執死方以治活病，豈非造孽無窮，亦何苦人人皆欲為醫，而自取罪戾耶？</p>
<p>張養之令侄女，患汛愆而飲食漸減，於某與通經藥，服之尤惡谷，請孟英診之。脈緩滑，曰：此痰氣凝滯，經隧不宣，病由安坐不勞。法以豁痰流氣，勿投血藥，經自流通。於某聞而笑曰：其人從不吐痰，血有病而妄治其氣，脹病可立待也。及服孟英藥，果漸吐痰而病遂愈，養之大為折服。予謂：世人頭痛治頭，腳疼療腳，偶中而愈，貪為己功，誤藥而亡，冤將奚白？此《寓意草》之所以首列議病之訓也。孟英深得力於喻氏，故其議病迥出凡流。要知識見之超，總由讀書而得，雖然人存政舉，未易言也。</p>
<p>毛允之戌冬患感，初治以溫散，繼即以滋陰，病日以劇，延至亥春。或疑為百日之勞，或謂是傷寒壞證，而鳳山僧主升、柴、耆、術以補之，丁卯橋用輕粉、巴霜以下之，雜藥遍投，形神日瘁。乃尊學周延孟英視之。脈來澀數上溢，呃忒口膩，雖覺嗜飲，而水難下膈，頻吐涎沫，便秘溺赤，潮熱往來，少腹如烙，按之亦不堅滿。曰：此病原屬冬溫，治以表散，則津液傷而熱乃熾。繼以滋填，熱邪愈錮，再施溫補，氣機更窒。升、柴、耆、術欲升其清，而反助其逆；巴霜、輕粉欲降其濁，而盡劫其陰。病及三月，發熱不是表邪；便秘旬余，結澀非關積滯。且脈澀為津液之已傷，數是熱邪之留著，溢乃氣機為熱邪所壅而不得下行，豈非溫邪未去，得補而膠固難除，徒使其內爍真陰，上薰清道，以致一身之氣，盡失肅清之令。法當搜剔餘邪，使熱去津存，即是培元之道；伸其治節，俾濁氣下趨，乃為宣達之機。何必執參、茸為補虛，指硝、黃為通降哉？以北沙參、紫菀、麥冬、知母、花粉、蘭草、石斛、丹皮、黃芩、桑葉、梔子、黃連、木通、銀花、橘皮、竹茹、蘆根、橄欖、枇杷葉、地慄、海䖳等，出入為方。服之各恙遞減，糜粥漸加，半月後始得大解，而腹熱全消，穀食亦安，乃與滋陰善後而愈。眉批：清熱生津，治法固善。然亦此人本元堅固，故屢誤之後，猶能挽回，否則亦難為力矣。</p>
<p>張養之所親李某，戊冬醉飲夜歸，為查段巡員所嚇，神志即以漸昏，治之罔效，至於不避親疏，裸衣笑罵，力大無制，糞穢不知。己夏延孟英視之，用石菖蒲、遠志、龍齒、龜板、犀角、羚羊角、元參、丹參、知、柏、梔子、龍膽草、枳實、黃連、竹黃、竹瀝、石膏、赭石、黑鉛、鐵落，出入為方。十餘帖吐瀉膠痰甚多，繼與磁朱丸，漸以向愈。（眉批：祛痰清熱，滋陰鎮驚，力量甚大，此必本虛標實者，故其方如此。）</p>
<p>一祝叟年近古稀，己亥春赴席，忽仆地痰湧，肢強眼斜，舌蹇不語。外科王瑞芝薦孟英視之。投六君子加蠍梢、羚羊角、膽星、石菖蒲、竹瀝、薑汁而瘳。（扶脾抑肝驅痰，面面圓到。）</p>
<p>茅家埠翁嘉潤患腰疽，愈而復發者五年，費用不貲，諸瘍醫治之不效。盛少云囑其求治於孟英。切其脈弦細以數，曰：子之幸也。此內損證，（腎俞發亦然。）外科惡乎知？與大劑甘潤滋填之藥，匝月而痊，至今不發。</p>
<p>胡琴泉舅氏家一潘嫗，年逾古稀，患霍亂轉筋瀕危。孟英用自制蠶矢湯而瘳。</p>
<p>一少婦分娩，胞水早破，胎澀不能下，俗謂之瀝漿生，催生藥遍試不應。孟英令買鮮豬肉一二斤，洗淨切大塊，急火煎湯，吹去浮油，恣飲之，即產，母子皆生。且云：豬為水畜，其肉最腴，大補腎陰而生津液，予嘗用治腎水枯涸之消渴，陰虛陽越之喘嗽，並著奇效。仲聖治少陰咽痛用豬膚，亦取其補陰虛而戢浮陽也。後賢不察，反指為有毒之物，汪訒庵非之是矣。惟外感初愈，及虛寒滑瀉，濕盛生痰之證，概不可食，以其滋膩更甚於阿膠、熟地、龍眼也。然豬以浙產者為良，北豬不堪用。吾杭燥肉鮓，即豬皮為之，可以致遠，入藥尤為簡當，不必泥於皮與膚之字面，而穿鑿以誇考據也。</p>
<p>秋初家慈猝僕於地，急延孟英診之。脈浮弦以滑，用羚羊角、膽星、牡蠣、石菖蒲、丹參、茯苓、鉤藤、桑葉、貝母、橘紅、蒺藜等，以順氣蠲痰、息風降火而痊。癸卯春前數日，忽作欠伸而厥，孟英切脈微弱而弦。曰：病雖與前相似，而證則異矣。以高麗參、白朮、何首烏、山茱萸、枸杞、桑椹、石斛、牛膝、蒺藜、橘紅、牡蠣等，鎮補攝納以瘳。予謂：此等證，安危在呼吸之間，觀前後卒僕數案，可見其辨證之神，雖古人不多讓，況世俗之所謂醫乎？家慈兩次類中，予皆遠出，微孟英吾將焉活？感銘五內，聊識數言，惟願讀是書者，體其濟世之心，臨證得能如是，將胥天下之沉疴而盡起矣。</p>
<p>張養之弱冠失怙後，即遘無妄之疾，纏綿七載，罄其貲財，經百十三醫之手，而病莫能愈。因廣購岐黃家言，靜心參考，居然自療而痊，然鼻已壞矣。抱此不白之冤，自漸形穢，乃閉戶學書，專工作楷，其志良可悼也。孟英因與之交，見具體怯面青，易招外感，夏月亦著復衣，頻吐白沫，詢知陽痿多年，常服溫辛之藥，孟英屢諫之。而己亥九月間，患惡寒頭痛，自餌溫散不效，逆孟英診之。脈極沉重，按至骨則弦滑隱然。臥曲房密帳之中，爐火重裘，尚覺不足以禦寒，且涎沫仍吐，毫不作渴，胸腹無脹悶之苦，咳嗽無暫輟之時，惟大解堅燥，小溲不多，口氣極重耳。乃謂曰：此積熱深錮，氣機鬱而不達，非大苦寒以瀉之不可也。養之初猶疑焉，及見方案，辨論滔滔，乃大呼曰：弟之死生，系乎一家之命，唯君憐而救之。孟英慰之曰：我不惑外顯之假象，而直斷為實熱之內蘊者，非揣度之見，而確有脈證可憑，但請放心靜養，不必稍存疑畏。及二三帖後，病不略減，諸友戚皆詆藥偏於峻，究宜慎重服之。有於某者，揚言於其族黨曰：養之之命，必送於孟英之手矣。眾楚交咻，舉家惶惑，次日另延陳啟東暨俞某並診。孟英聞之，急詣病榻前謂曰：兄非我之知已也，則任兄服誰之藥，我不敢與聞也：兄苟裕如也，則任兄廣徵明哲，我不敢阻撓也。今兄貧士也，與我至交也，拮据資囊，延來妙手，果能洞識病情，投劑必效，則我亦當竭力慫恿也。第恐雖識是病，而用藥斷不能如我之力專而劑大也。苟未能確識是證，而以無毀無譽之方，應酬塞責，則因循養患，誰任其咎也？或竟不識是病，而開口言虛，動手即補，甘言悅耳，兄必信之，我不能坐觀成敗，如秦人視越人之肥瘠也。今俞某之方如是，陳醫殊可卻之，速著人趕去辭絕，留此一款，以作藥資，不無小補。況連服苦寒，病無增減，是藥已對證，不比平淡之劑，誤投數帖，尚不見害也。實由熱伏深錮，藥未及病。今日再重用硝、黃、犀角，冀頑邪蘊毒，得以通泄下行，則周身之氣機，自然流布矣。養之伏枕恭聽，大為感悟。如法服之，越二日大便下如膠漆，穢惡之氣達於戶外，而畏寒即以遞減，糜粥日以加增。旬日後糞色始正。百日後康健勝常。嗣後雖嚴冬亦不甚畏冷，偶有小恙，輒服清潤之方，陽道復興，近添一女。養之嘗頌於人曰：孟英之手眼，或可得而學也；孟英之心地，不可得而及也。我之病，奇病也，孟英雖具明眼，而無此種熱情，勢必築室道旁，亂嘗藥餌，不能有今日矣。況不但有今日，而十餘年深藏久伏之疴，一旦掃除，自覺精神勝昔，可為後日之根基，再生之德，不亦大哉。</p>
<p>孫午泉進士患哮，痰多氣逆，不能著枕。服溫散滋納藥皆不效。孟英與北沙參、桂枝、茯苓、貝母、花粉、杏仁、冬瓜仁、絲瓜絡、枇杷葉、旋覆、海石、蛤殼等藥，覆杯即臥，數日而痊。（眉批：此是熱痰伏於肺絡，故用藥如此。）</p>
<p>石符生，隨乃翁自蜀來浙，同時患瘧。醫者以小柴胡湯加薑、桂，投之不效，改用四獸、休瘧等法，反致惡寒日甚，穀食不進，惟飲燒酒薑湯，圍火榻前，重裘厚覆，胸腹痞悶，喜以熱熨，猶覺冷氣上衝，頻吐黏稠痰沫。延至臘初，疲憊不堪，始憶及丙申之恙，訪孟英過診。脈沉而滑數，苔色黃膩不渴，便溏溺赤。曰：是途次所受之暑濕，失於清解，復以溫補之品，從而附益之，釀成痰飲，盤踞三焦，氣機為之阻塞，所以喜得熱熨熱飲，氣衝反覺如冰。若不推測其所以然之故，而但知聞問在切脈之先，一聽氣冷喜熱，無不以為真贓現獲，孰知病機善幻，理必合參，以脈形兼證並究，（審病要法。）則其為真熱假寒，自昭昭若揭矣。與大劑苦寒之藥，而以蘆菔湯煎，漸服漸不畏寒，痰漸少，谷漸增。繼用甘涼善後，喬梓皆得安全。</p>

<h1>王氏醫案卷二（原名《回春錄》）</h1>
<p>庚子春，戴氏婦產後惡露不多，用山楂、益母草酒煎。連服數日，遂發熱自汗，口渴不飢，眩暈欲脫，徹夜不眠。孟英視之曰：此稟屬陰虧，血已隨胎而去，雖惡露甚少，但無脹痛之苦者，不可妄投藥餌。酒煎益母、山楂，不特傷陰，且能散氣，而汗泄口乾，津液有立竭之勢，即仲聖所謂無陽也。蓋人身天真之氣謂之陽，陽根於津，陰化於液，津液既奪，則陽氣無根而眩暈，陰血不生而無寐。若補氣養陰，則捨本求末，氣血不能生津液也。惟有澄源潔流，使津液充而氣血自復，庶可無憂。以西洋參、生黃耆、龍骨、牡蠣、萎蕤、百合、甘草、麥冬、生薏苡、生扁豆、石斛、木瓜、桑葉、蔗漿投之。一劑即安，數日而愈。後以滋填陰分，服之乃健。</p>
<p>王某久患吐血，體極孱弱。沈琴癡囑其丐孟英治之。服藥甫有小愈，而酷暑之時，陡患霍亂轉筋，大汗如雨，一息如絲。孟英視曰：陰血久奪，暑熱鴟張，吾《霍亂論》中之缺典也，姑變法救之。用北沙參、枇杷葉、龍、牡、木瓜、扁豆、苡仁、滑石、桑葉、蠶沙、石斛、豆卷，投之良愈。調理每日仍服滋補以治宿恙。越二載，聞服溫補藥，致血暴湧而亡。</p>
<p>赤山埠李氏女，素稟怯弱。春間汛事不行，脅腹聚氣如瘕，減餐肌削，屢服溫通之藥。至孟秋，加以微寒壯熱，醫仍作經閉治，勢瀕於危。乃母托伊表兄林豫堂措辦後事，豫堂特請孟英一診以決之。孟英切其脈時，壯熱烙指，汗出如雨，其汗珠落於脈枕上，微有粉紅色，乃曰：虛損是其本也。今暑熱熾盛，先當治其客邪，急則治標之法。庶可希冀。疏白虎湯加西洋參、元參、竹葉、荷杆、桑葉。及何醫至，一籌莫展，聞孟英主白虎湯，乃謂其母曰：危險至此，尚可服石膏乎？且《本草》於石膏條下致戒云，血虛胃弱者禁用，豈彼未之知也。豫堂毅然曰：我主藥，與其束手待斃，盍從孟英死裡求生之路耶？遂服二帖，熱果退，汗漸收。改用甘涼清餘熱，日以向安。繼與調氣養營陰，宿瘕亦消。培補至仲冬，汛至而痊，次年適孫夔伯之弟。</p>
<p>張氏婦患氣機不舒，似喘非喘，似逆非逆，似太息非太息，似虛促非虛促，似短非短，似悶非悶，面赤眩暈，不飢不臥。補虛清火，行氣消痰，服之不應。孟英診之曰：小恙耳，旬日可安，但須懲忿是囑。與黃連、黃芩、梔子、楝實、鱉甲、羚羊角、旋覆、赭石、海䖳、地慄為大劑，送當歸龍薈丸。未及十日汛至，其色如墨，其病已若失。後與養血和肝，調理而康。</p>
<p>牙行王炳華室，夏患臂痛，孫某曰風也。服參、耆、歸、芍數帖，臂稍愈而脘痛，孫曰寒也。加以附、桂，痛不止而漸覺痰多，孫曰肝腎不足也。重用熟地、枸杞，令其多服取效，不料愈服愈劇，漸至昏厥。孫尚以為藥力之未到，病體之久虛，前方復為加重，甚而時時發厥，始請孟英診之。脈沉而有弦滑且數之象，乃謂炳華曰：此由過投溫補，引動肝風，煽其津液為痰，痰復乘風而上，此暈厥之由來也。餘波則奔流經絡，四肢因而抽搐。陽氣盡逆於上，宜乎鼻塞面浮；濁氣不能下達，是以便滯不飢。炳華曰：神見也。溫補藥服幾三月矣，不知尚可救乎？孟英曰：勿疑吾藥，猶有望焉。遂與大劑甘寒息風化飲，佐以涼苦泄熱清肝，厥果漸止，各恙遞蠲，兩月後康復如常。予偶於舊書中檢得無名氏鈔本一冊，所錄多岐黃之言，內一條云：附、桂回陽，在一二帖之間，萬一誤投，害亦立至，功過不掩，其性之毒烈也，概可見矣。奈世人不知藥為治病而設，徒以貪生畏死之念，橫於胸中，遂不暇顧及體之有病無病，病之在表在裡，但聞溫補之藥，無不欣然樂從者，模稜之輩，趨竟存心，知其死於溫補而無怨悔也。乃衣缽相傳，不必察其體病脈證之千頭萬緒，僅以溫補之品二十餘味，相迭為用，即成一媚世之方。且托足《金匱》之門，摹擬腎氣之變，蓋知熟地之陰柔，可縛附、桂之剛猛，誤投不至即敗，偶中又可邀功，包藏禍心，文奸飾詐，何異新莽比周公，子云學孔聖哉？人以其貌古人而口聖賢也，多深信而不疑。迨積薪既厚，突火頓燃，雖來爛額焦頭之客，其不至於焚身者幸矣。較彼孟浪之徒，誤投純陽藥，致人頃刻流血而死者，其罪當加十等。誅心之論，救世之言，知我罪我，不遑計焉。孟英見之，拜讀千過，且曰：剿漢學以欺世，由來久矣。徐靈胎之論，無此透徹，可與退之《原道》文並峙，當考其姓字，於仲景先師廟內建護聖祠以祀之。予謂：孟英如此稱許，則其可傳也奚疑，故附刊此案之後，以證王氏婦溫補藥服及三月，即所謂陰柔束縛剛猛之故，致人受其愚而不覺者，後之人可以鑑矣。</p>
<p>莊半霞，芝階中翰之三郎也，闈後患感，日作寒熱七八次，神氣昏迷，微斑隱隱。醫者無策，始迎孟英視之。曰：此平昔飲酒，積熱深蘊，挾感而發，理從清解，必誤投溫補，以致熱勢披猖若是。詢之果三場皆服參，且攜棗子浸燒酒入闈。初病尚不至此，因連服羌、防、薑、桂，漸以滋甚。孟英曰：是矣。先以白虎湯三劑，斑化而寒熱漸已，繼用大苦寒之藥，瀉其結熱，所下黑矢，皆作棗子氣。旬日後與甘潤滋濡之法，兩月始得全愈。</p>
<p>金願谷舍人次郎魁官，九月間患五色痢，日下數十行，七八日來，口噤不納，腹痛呻吟，危在旦夕矣。有主人參以補之者，有主生軍以蕩之者，舉家皇皇，不知所措。孟英視之曰：暑挾食耳，誤服熱藥矣，攻補皆不可施也，輕清取之，可即愈焉。以北沙參、黃連、鮮蓮子、梔子、黃芩、枇杷葉、石斛、扁豆、銀花、桔梗、山楂、神麯、滑石為方。其家以為病深藥淡，恐不濟事。西席莊曉村云：縱使藥不勝病，而議論極是，定不致加病也。竭力贊其居停投之，覆杯即安，旬日而起。予聞孟英嘗曰：蓮子最補胃氣而鎮虛逆，若反胃由於胃虛而氣衝不納者，但日以干蓮子細嚼而咽之，勝於他藥多矣。凡胃氣薄弱者，常服玉芝丸，能令人肥健，至痢證噤口，皆是熱邪傷其胃中清和之氣，（要言不煩。）故以黃連苦泄其邪，即仗蓮子甘鎮其胃。今肆中石蓮皆偽，味苦反能傷胃，切不可用。惟鮮蓮子煎之清香不渾，鎮胃之功獨勝。如無鮮蓮則干蓮亦可用。或產蓮之地，湖池中淘得入水不腐之老蓮，即古所謂真石蓮也。昔人治噤口痢多用此，然可不必拘泥，庶免作偽之人，以贗亂真，反致用而無效，徒使病不即愈也。（眉批：噤口痢，虛熱在胃也。補虛則礙熱，清熱則妨虛。茲又加以食積，尤為棘手，須看其用藥圓到處。）</p>
<p>附：　玉芝丸　（孟英）</p>
<p>豬肚一具，治淨，以蓮子去心，入肚內，水煎糜爛，收干，搗為丸服。</p>
<p>陳足甫稟質素弱，上年曾經吐血。今夏患感之後，咳嗽夜熱，飲食漸減，醫作損治，滋陰潛陽，久服不效。秋杪，孟英診之曰：陰分誠虛，第感後餘熱逗留於肺，阻氣機之肅降，搏津液以為痰，此關不清，雖與滋填培補之藥，亦焉能飛渡而行其事耶？先清肺氣以保胃津，俾治節行而灌溉輸，然後以甘潤濃厚之法，補實真陰，始克有濟。乃尊養山聞之，擊節歎服，如法施之，果漸康復。（眉批：晡熱、夜熱，原有肺熱、血瘀二候，斷非滋補所能愈。況溫病之後，咳嗽夜熱，顯為遺邪在肺，滋陰藥愈沒幹涉矣。）</p>
<p>胡蔚堂舅氏，年近古稀，患囊腫，小溲赤短，寒熱如瘧。孟英曰：非外感也，乃久蘊之濕熱下流，氣機尚未宣泄。與五苓合滋腎，加楝實、梔子、木通。兩劑後囊間出腥黏黃水甚多，小溲漸行，寒熱亦去。繼與知柏八味去山藥、萸肉，加梔子、楝實、芍藥、苡仁等，久服而愈。壬寅夏感受暑濕，誤投溫散，以致譫語神昏，勢瀕於危，而肛前囊後之間，潰出腥膿，瘡口深大，瘍科以為懸癰也，敷治罔效。時孟英患痁未痊，予固邀其扶病一診。孟英曰：懸癰乃損怯證，成之以漸。（卓識。）今病來迅速，腥穢異常，是身中久蘊厚味濕熱之毒，挾外受之暑邪，無所宣泄，下注而為此證。切勿敷藥以遏其外走之勢，但舌強而紫赤，脈細而滑數，客邪熾盛，伏熱蘊隆，陰分甚虧，深虞津涸。先與清營之劑，三投而神氣漸清。次以涼潤陽明，便暢而熱蠲膿淨。改用甘柔滋養，月餘潰處肌平。善後參入參、耆，竟得康強如昔。（眉批：用藥次第可法。）</p>
<p>汪吉哉久瘧不愈，醫謂元氣已虛，雜投溫補，漸至肌瘦內燔，口乾咳嗽，寢汗溺赤，飲食不甘。孟英視之曰：餘邪逗留血分也，與秦艽鱉甲散而瘳。其堂兄養余，亦患瘧數月，多醫療之罔效。肌瘦自汗，腰膝痠軟，不能稍坐，極其畏冷。孟英曰：此大虛證，胡反不補，猶以消導，是何居心？與參、耆、朮、草、熟地、白芍、五味、杜仲、山藥、龍骨、牡蠣、桂枝、大棗、木瓜，服數十帖而起。</p>
<p>孟英治其令叔高年痰嗽，喘逆礙臥，肢冷顴紅，飲食不進，與真武湯而安。（照戴陽證例治法。）</p>
<p>湖墅張春橋，素稟不堅，頭眩腦鳴，頻服溫補藥，甚覺畏冷，人皆謂其體偏於寒也。辛丑春，始請孟英診之。脈甚數，曰：陰虧也，溫補非宜。改服滋水培元之劑，頗為有效。夏間或勸以灸火，云可以除百病。蓋未知灼艾之可以除百病者，謂可除寒濕凝滯、陽氣不能宣通之證，非謂內傷外感一切之病，皆可灸而除之也。故仲景有微數之脈，慎不可灸之訓，正以艾火大能傷陰也。灸後數日，即寒少熱多，宛如瘧疾。醫者以為脾寒病，投以溫散，日以滋甚。春橋知藥治未符，堅不肯服，乃父與之詢其故，漫曰：要兒服藥，須延王先生診視。與之遂邀孟英治之。切其脈滑數倍加，曰：陰虛之體，內熱自生，灸之以艾，火氣內攻，時當溽暑，天熱外爍，三者相交，陰何以堪？再投溫散，如火益熱，當從癉瘧治。專以甘寒息熱，（孟英長技。）則陰津不至枯涸，而寒熱不攻自去，所謂治病必求其本也。竟不用一分表散藥而治愈。（眉批：眼前道理，而人多不悟，一經拈出，便成名論。此與以針治虛損者，同一悖謬。）</p>
<p>棲流所司藥陳芝田，於仲夏患感，諸醫投以溫散，延至旬日，神昏譫妄，肢搐耳聾，舌黑唇焦，囊縮溺滴，胸口隱隱微斑，一望而知其危矣。轉邀孟英診之，脈細數而促，曰：陰虧熱熾，液將涸矣。遂用西洋參、元參、生地、二冬、知、柏、楝實、石斛、白芍、甘草梢、銀花、木通、犀角、石菖蒲，大劑投之。（孟英能善用大劑，故能起不治之證，亦古人所未有也。）次日復診，其家人云：七八日來小溲不過涓滴，昨藥服六七個時辰後，解得小溲半杯。孟英曰：此即轉機也。然陰氣枯竭，甘涼濡潤，不厭其多。於前方再加龜板、鱉甲、百合、花粉，大鍋煎之，頻灌勿歇。如是者八日，神氣始清，諸恙悉退，純用滋陰之藥，調治匝月而瘳。（眉批：一派甘寒之藥，既可滌熱，又以生津，真治溫良法也。惟濕溫證宜稍加斟酌耳。）予謂：孟英學識過人，熱腸獨具。凡遇危險之候，從不輕棄，最肯出心任怨以圖之。如此案，八日後神氣始清，若經別手，縱使治法不錯，而一二帖後不甚起色，必規避堅辭，致病家惑亂，謀及道旁，雖不死於病，亦必死於藥矣。此在醫者之識老心堅，又須病家之善於擇而任之專也，談何易耶？且聞孟英嘗云：溫熱液涸神昏，有投犀角、地黃等藥至十餘劑，始得神清液復者，因溫熱案最夥，不暇詳錄，姑識此以告司人之命者。</p>
<p>江小香病勢危篤，浼人迎孟英診之。脈虛弦而小數，頭痛偏於左後，子夜熱躁，肢冷欲嘔，口乾不欲飲，不飢不欲食，舌蹇言澀，溺黃而頻。曰：體屬素虛，此由患感時過投溫散，陰津陽氣皆傷，後來進補而勢反日劇者，滋膩妨其中運，剛烈動其內風，（知此二語，方可論藥。）以致醫者僉雲表之不應，補亦無功，竟成無藥可治之證。雖然，不過難治耳，未可遽棄也。與秋石水拌制高麗參、蓯蓉、首烏、生白芍、牡蠣、楝實、鹽水炒橘紅、桑椹、石斛、蒺藜、茯苓煎，吞飯丸肉桂心五分。一劑躁平嘔止，各恙皆減。連投數服，粥食漸安，乃去首烏、桂、楝，加砂仁末拌炒熟地、菊花、枸杞，半月而瘳。（眉批：從陰引陽，從陽引陰，絕妙機軸。）</p>
<p>溽暑之令，瘄疹盛行，幼科僅知套藥，升、柴、防、葛亂施，殆亦疫癘之病，造化默行其殺運歟？陳仰山家患此者十餘人，其長郎書芾孝廉之女，勢最劇，以瘄甫出，而汛至也。醫者卻走，始延孟英視之。脈滑而數，舌絳大渴，面赤失音，不食便瀉，曰：此由發散太過，火盛風熾，氣血兩燔。氣分之邪，由瀉而略泄其焰；營分之熱，由汛而稍解其焚，豈可畏其脫陷，妄投止澀耶？與西洋參、石膏、知母、麥冬、犀角、生地、連翹、甘草、石斛、丹皮、桑葉、竹葉，大劑投之，三日而愈。養陰善後，遂以漸安。其餘或輕或重，孟英一以清解而痊。</p>
<p>石誦羲夏杪患感，多醫廣藥，病勢日增，延逾一月，始請孟英診焉。脈至右寸關滑數上溢，左手弦數，耳聾口苦，熱甚於夜，胸次迷悶，頻吐黏沫，啜飲咽喉阻塞，便溏溺赤，間有譫語。曰：此暑熱始終在肺，並不傳經，一劑白虎湯可愈者，何以久延至此也？乃尊北涯，出前所服方見示，孟英一一閱之，惟初診顧聽泉用清解肺衛法為不謬耳，其餘溫散升提、滋陰涼血，各有來歷，皆費心思，原是好方，惜未中病。而北涯因其溏泄，見孟英君石膏以為治，不敢與服。次日復診，自陳昨藥未投，惟求另施妥法。孟英曰：我法最妥，而君以為未妥者，為石膏之性寒耳。第藥以對病為妥，此病舍此法，別無再妥之方。若必以模稜迎合為妥，恐賢郎之病不妥矣。北涯聞而感悟，頗有姑且服之之意。而病者偶索方一看，見首列石膏，即曰：我胸中但覺一團冷氣，湯水皆須熱呷，此藥安可投乎？堅不肯服。然素仰孟英手眼，越日仍延過診，且告之故。孟英曰：吾於是證，正欲發明。夫邪在肺經，清肅之令不行，津液凝滯，結成誕沫，盤踞胸中，升降之機亦窒，大氣僅能旁趨而轉旋，是一團涎沫之中，為氣機所不能流行之地，其覺冷也，不亦宜乎？（眉批：論亦根柢喻氏，而更加明透。）且予初診時，即斷為不傳經之候，所以尚有今日，而能自覺胸中之冷。若傳入心包，則舌黑神昏，才合吳古年之犀角地黃矣。然雖不傳經，延之逾月，熱愈久而液愈涸，藥愈亂而病愈深，切勿以白虎為不妥，急急投之為妙。於是有敢服之心矣。而又有人云：曾目擊所親某，石膏甫下咽，而命亦隨之。況月餘之病，耳聾泄瀉，正氣已虧，究宜慎用。北涯聞之惶惑，仍不敢投，乃約翌日廣徵名士，會商可否。比孟英往診，而群賢畢至，且見北涯求神拜佛，意亂心慌，殊可憐憫。欲與眾商榷，恐轉生掣肘，以誤其病。遂不遑謙讓，援筆立案云：病既久延，藥無小效，主人之方寸亂矣。予三疏白虎而不用，今仍赴招診視者，欲求其病之愈也。夫有是病則有是藥，諸君不必各抒高見，希原自用之愚。古云：鼻塞治心，耳聾治肺，肺移熱於大腸，則為腸澼，是皆白虎之專司，何必拘少陽而疑虛寒哉？放膽服之，勿再因循，致貽伊戚也。坐中顧聽泉見案，即謂北涯曰：孟英腸熱膽堅，極堪倚賴，如猶不信，我輩別無善法也。顧友梅、許芷卿、趙笛樓亦皆謂是。疏方以白虎加西洋參、貝母、花粉、黃芩、紫菀、杏仁、冬瓜仁、枇杷葉、竹葉、竹茹、竹黃。而一劑甫投，咽喉即利，三服後，各恙皆去，糜粥漸安，乃改甘潤生津，調理而愈。予謂此案不僅治法可傳，其闡發病情處，識見直超古人之上。</p>
<p>劉廉方，常州名士也，在西湖受暑，移榻於崔仲遷別駕處，醫治垂危。莊芝階舍人拉孟英往診之。裸臥昏狂，舌黑大渴，溺赤便秘，脈數而芤。與犀角地黃湯加減服之，神識已清，略能進粥。次日復診，頗知問答，大有生機，仍處甘涼法以贈之，並囑伊格外謹慎。而越日莊半霞詣孟英偕往診視，見其目張睛瞪，齒露唇焦，氣喘汗出，揚手擲足，而不可救藥矣。眾楚交咻，謂是寒涼藥凝閉而然。孟英曰：病之宜涼宜熱，汝輩不知也。脈乃皮里之事，汝等不見也，吾亦不屑為之爭辨。惟目瞪唇焦，人所共睹，則其死於何藥，自有定論。遂拂衣出，半霞再三請罪，孟英曰：俗人之見，何足介懷？是非日後自明，於我心無慊焉。第斯人斯病，皆可惜也。既而始知有人主熱藥以僨事，豈非命耶？僅二載而仲遷病，孟英聞之曰：殆矣。蓋知其陰虛而受暑濕，恐主藥者未必能悔悟於前車也。後果聞其廣服溫補之劑，以致真陰竭絕而死。覆轍相尋，迷而不醒，可哀也已！</p>
<p>甌鎮孫總戎令郎楚樓，自鎮江來浙，主於石北涯家。途次即患寒熱如瘧，脅痛痰嗽。北涯見其面黧形瘦，頗以為憂，即延醫與診。醫謂秋瘧，與疏散方，北涯猶疑其藥不勝病，復邀孟英視之。曰：陰虧也，勿從瘧治。以葦莖湯加北沙參、熟地、桑葉、丹皮、海石、旋覆、貝母、枇杷葉為劑。北涯見用熟地，大為駭然。孟英曰：君慮彼藥之不勝病，吾恐此病之不勝藥，贈此肅肺潤燥、滋腎清肝之法，病必自安，楚樓聞之，嘆曰：妙手也，所論深合病情。前在姑蘇，服疏散藥甚不相安，居停無疑，我服王公之藥矣。果數日而痊，逾旬即東渡赴甌去。</p>
<p>姚雪蕉孝廉之太夫人，年逾花甲，患感兩月，醫皆束手，始延孟英診之。身已不能轉側，水飲難於下咽，聲音不出，便溺不通。曰：此熱邪逗留不去，津液剝削殆盡，計其受病之時，正當酷暑，豈即溫補是投，但知其虛而不知其病耶？閱前服諸方，惟初手顧聽泉從吸受暑邪，輕清開上立治，為合法耳，余方非不是起死回生之藥，其如與病無涉何，而阮某小柴胡方，服之最多。蓋醫者執此和解之法，謂不犯汗、吐、下三者之險，豈不穩當？病家見其參、胡並用，謂補正法邪具一舉兩全之美，最為上策。孰知和解足少陽傳經傷寒之劑，不可以概和各經各氣之各病，徒使參、胡提升熱邪以上逆，致一身之治節，無以清肅下行；而薑、棗溫膩濕濁於中焦，致運化之樞機，失其灌溉之布，氣機愈窒，津液愈干，和解之湯愈進，而氣愈不和，病愈不解，今則雖有良治，而咽喉僅容點滴，氣結津枯，至於此極，英雄無用武之地矣。雪蕉昆季，力懇挽救。乃疏甘涼清潤之方，囑其不限時刻，不計多寡，頻以水匙挑入，使其漸滲下喉。而一日之間，僅灌一小杯許，其病勢之危，於此可想。直灌至旬余，氣機始漸流行，藥可服小半劑矣。人見轉機之難，不無議論旁生，賴孟英靜鎮不搖，乃得日以向愈，粥食漸加，惟大解久不行，或以為憂。孟英曰：無恐也，水到渠成，穀食安而津液充，則自解矣。若欲速妄攻，則久不納穀之胃，尚有何物以供其盪滌哉！至九月下旬，始有欲解之勢，孟英連與補氣益血之藥，尚不能下，於前方加蜣螂一對，熱服即解。凡不更衣者，計及五十日矣，聞者莫不驚異。繼以平補善後而痊。</p>
<p>仲冬大雪連朝，積厚丈許，嚴寒久凍，西湖可行車馬。斯時也，盛少云患痰嗽夜熱，自汗不寐，左脅痛如針刺，肌削不飢，自問不起矣。請孟英托以後事，及診其脈，許以可生。蓋病來雖惡，未經誤藥也。與固本加龜板、鱉甲、蓯蓉、知、柏、青黛、石斛、花粉、白芍、楝實、海石、旋覆、貝母、蛤殼、牛膝，出入為大劑，投之即效。連服四五十帖而痊，予謂斯證患於斯時，若經別手，未有不投溫補者，而少云能與孟英遊，其亦具眼之人乎？此真所謂患難交，不可不留心於平日也。然亦不能人人而遇之，殆佛氏所謂有緣存乎其間歟？</p>
<p>壬寅春，邵小墀室患汛愆，釋醫診以為妊，廣服保胎藥，漸至腹脹跗腫，氣逆礙臥，飲食不進。入夏延孟英視之，曰：血虛氣滯，誤補成脹也。先以黃連、厚朴、山楂、雞內金、橘皮、大腹皮、枳實、茯苓、梔子、楝實、杏仁、紫菀、旋覆等藥，（先疏其滯以治脹，亦一定之法。）少佐參、術服之，氣機旋運，脹去食安。漸入滋陰養血之治，數月經行而愈。</p>
<p>一人患晨泄有年，累治不效，而春間尤甚。孟英按其脈曰：汝雖苦瀉，而瀉後腹中反覺舒暢乎？曰：誠然。苟不泄瀉，又脹悶減食矣。而服四神、附、桂之藥，其瀉必加，此曷故也？曰：此非溫升補澀之證，乃肝強脾弱，木土相凌，處一方令其常服，數帖即安，後竟無此恙矣。方用白朮、苡仁、黃連、楝實、桂枝、茯苓、木瓜、芍藥、蒺藜、橘皮而已。（眉批：扶脾抑肝，制方靈動。）</p>
<p>邵魚竹給諫，起居食飲如常，惟僅能側臥，略難仰臥，仰而寤無恙也。（眉批：凡心腎不交之人，多不能仰臥，以仰則腎氣不能上承，而心氣愈浮也。）稍一閤眼，則驚竄而醒，雖再側眠，亦徹夜不得寐矣。多年莫能治，孟英以三才合枕中丹，加黃連、肉桂，服之良效。（心腎交治，而以黃連、肉桂媾合之，用意甚巧。）其長郎子瓬，久患痰多，胸膈滿悶，連年發癇，藥之罔效。孟英脈之曰：氣分偏虛，痰飲阻其清陽之旋運，宜法天之健以為方，則大氣自強，而流行不息，胸次乃廓然如太空矣。與六君去甘草，加黃耆、桂枝、薤白、蔞仁、石菖蒲、蒺藜、旋覆，服之滿悶漸舒，癇亦不發矣。</p>
<p>予荊人娩後惡露不行，或勸服生化湯，適孟英枉顧，診曰：陰虛內熱，天令炎蒸，雖赤沙糖不可服也。以生地、丹參、丹皮、豆卷、茺蔚子、茯苓、桃仁、山楂、梔子、澤蘭、琥珀，投之即效，且無別恙而易健。（眉批：不寒不燥，真陰虛血滯者之良劑。）可見體質不齊，藥難概用。況其致病之因不一，病機傳變無窮。語云：量體裁衣。而治病者可不辨證而施治耶？孟英嘗曰：凡產後世俗多尚生化湯，是以一定之死方，療萬人之活病。體寒者固為妙法，若血熱之人，或兼感溫熱之氣者，而一概投之，驟則變證蜂起，緩則蓐損漸成。（眉批：通人之論，無論寒藥熱藥用不得當，皆足誤人，不可不知。）人但知產後之常有，而不知半由生化湯之厲階，此風最勝於越，方本傳於越之錢氏。自景岳採入八陣，遂致流播四海，人之陰受其害者，數百年矣，從無一人能議其非，今特為此長夜之燈，冀後人不致永遠冥行，或可稍補於世。但景岳最偏於溫補，而獨於產後一門，力辯丹溪大補氣血為主之非，可謂此老之一隙微明，惜猶泥於產後宜溫之謬說，蓋由未入仲聖之宮牆也。</p>
<p>戚媼者，年六十餘矣，自幼傭食於黃蓮泉家，忠勤敏干，老而彌甚，主僕之誼，勝於親戚也。秋間患霍亂轉筋，孟英視之：暑也。投自制蠶矢湯，兩服而安。三日後忽然倦臥，不能反側，氣少不能語言，不飲不食。蓮泉惶懼，不暇遠致孟英，即邀濟仁堂朱某診之。以為霍亂皆屬於寒，且昏沉欲脫，疏附子理中湯與焉。蓮泉知藥猛烈，不敢遽投，商之王安伯。安伯云：以予度之，且勿服也。若謂寒證，則前日之藥下咽即斃，吐瀉安能漸止乎？蓮泉聞之大悟，著人飛趕孟英，至而切其脈，曰：此高年之體，元氣隨瀉而泄，固當補者。第余暑未清，熱藥在所禁耳。若在孟浪之家，必以前之涼藥為未當，今日溫補為極是，縱下咽不及救，亦惟歸罪於前手寒涼之誤也。設初起即誤死於溫補，而世人亦但知霍亂轉筋，是危險之證，從無一人能知此證有陰陽之異，治法有寒熱之殊，而一正其得失者，此病之所以不易治，而醫之所以不可為也。今君見薑、附而生疑，安伯察病機之已轉，好問者心虛，識機者智贍，二美相濟，遂使病者跳出鬼門關，醫者卸脫無妄罪，幸矣幸矣！乃以高麗參、麥冬、知母、萎蕤、木瓜、扁豆、石斛、白芍、苡仁、茯苓、蒺藜為方，服六劑始能言動，漸進飲食，調理月餘而健。</p>
<p>七月十八日夜，予患霍亂轉筋甚劇，倉卒間誤服青麟丸錢許，比曉急邀孟英診之。脈微弱如無，耳聾目陷，汗出肢冷，音啞肌削，危象畢呈。（眉批：可見浙人稟賦之薄，若幽、冀之人，即誤服青麟丸數錢，亦不至如斯之甚也。）藥恐遲滯，因囑家慈先濃煎高麗參湯，亟為接續。隨以參、朮、白芍、茯苓、附、桂、乾薑、木瓜、苡仁、扁豆、蓮實為方，一劑而各證皆減。次日復診，孟英曰：氣分偏虛，那堪吐瀉之泄奪？誤餌苦寒，微陽欲絕。昨與真武、理中合法，脾腎之陽復辟矣。剛猛之品，可以撤去。蓋吐瀉甚而津液傷，筋失其養則為之轉，薛生白比之痙病，例可推也。凡治轉筋，最要顧其津液。若陽既回而再投剛烈，則津液不能復，而內風動矣。此治寒霍亂之用附、桂、亦貴有權衡，而不可漫無節制，致墮前功也。（此一段議論極精微，凡用寒用熱，俱宜具此權衡，方無過當之弊。）否則藥雖中病，而服之不止，反受其害矣。喻氏論中寒證亦具此意。即於前方裁去薑、附、肉桂，加黃耆、石斛，服至旬日而愈。予謂此番之病，危同朝露，若非孟英，恐不能救。常聞張柳吟云：但使病者聽孟英論病之無微不入，用藥之無處不到，源源本本，信筆成章，已覺疾瘳過半。古云：檄愈頭風。良有以也。</p>
<p>陳藝圃亦知醫，其室人於仲秋患霍亂轉筋，自診以為寒也，投熱劑勢益甚。延朱茂才視之，亦同乎主人之見也。病尤劇，始請孟英決之。曰：寒為外束之新邪，熱是內伏之真病。口苦而渴，薑、附不可投矣。與河間法，人皆不之信也。再與他醫商之，仍投熱藥，乃至口鼻出血而死，極其悔嘆，始服孟英之卓見。予謂霍亂一證，近來時有，而醫皆不甚識得清楚，死於誤治者極多。孟英特著專論，雖急就成章，而辨晰簡當，略無支漏，實今日醫家首要之書。以其切於時用，不可不亟為熟讀而研究也。</p>
<p>顧云垞，體豐年邁，患瘧於秋，脈芤而稍有歇止。孟英曰：芤者，暑也；歇止者，痰濕阻氣機之流行也，（卓識。）大忌溫補以助邪氣。（眉批：此必別有外證可憑，故直斷為暑與痰濕，未有專視脈之芤與歇止而如是定斷者，讀者勿被瞞過。）及與清解蠲痰之法，病不少減，而大便帶血，（邪將去矣。）孟英曰：暑濕無形之氣，而平素多痰，邪反得以盤踞，頗似有形之病。清解不克勝其任，氣血皆受其滋擾。必攻去其痰，使邪無依附而病自去，切勿以高年而畏峻藥。伊侄桂生少府，亦精於醫者也，聞之極口稱是，遂以桃仁承氣湯加西洋參、滑石、芩、連、橘紅、貝母、石斛為方，送礞石滾痰丸。（眉批：此方可謂峻極，良由識高，非徒膽大。）乃郎石甫孝廉云：此藥在他人必畏而不敢服，我昔年曾患暑濕證，深悉溫補之不可輕試，況高明所見相同，更何疑乎？徑服二劑，下黏痰汙血甚多，瘧即不作，仍以清潤法善後而康。</p>
<p>邵子受令壺患吐血，肌膚枯澀，口渴，脈虛大。孟英曰：氣分之陰虧也。溫補既非，滋填亦謬。以參、耆、二冬、知母、百合、萎蕤、石斛、桑葉、枇杷葉投之而愈。（眉批：用補亦要用得其宜，方能奏效，非一味蠻補即能愈疾也。案中諸法可以為法。）</p>
<p>九月間張春橋患瘧，寒少熱多，間二日而作，甫兩發形即清瘦。孟英診曰：脈弦而細，尺中甚數，疾作於子夜，口乾嗜飲，乃足少陰熱瘧也。兩發遽爾形消，胡可玩視？吾以妙藥奉贈，可期即己。但請即服，不可商於人而致生疑議也。方用元參、生地、知母、丹皮、地骨皮、天冬、龜板、茯苓、石斛、桑葉。春橋以向所心折，遂服之。一劑瘧即止，再以滋陰善後而愈。予謂此證一帖而瘳，似乎輕易，但非真才實學，焉有此種妙治？設遇別手，非溫補即提表，其禍可勝道哉！然天下之病，無論輕重，總貴初治得法，何致輕者重而重者危耶？奈世俗之情，必使輕者重而後轉安，始知醫藥之功，殊可嘆也。按：此證，世人但知其為三陰瘧，籠統治以溫補之法，從未聞有分經用藥者。今提出少陰二字，創立清涼之劑，用藥精當，取效敏捷，法似新奇，理自完足，所謂活人治活病，全以活潑運之也，可以啟人慧悟，垂作典型。</p>
<p>金寬甫，初冬患感，局醫黃某，聞其向來不拘何病，總須溫藥而痊，胸懷成見，進以薑、桂之方，漸至足冷麵赤，譫語煩躁，疑為戴陽而束手矣。舉家彷徨，延孟英診焉。曰：此伏邪晚發，誤與升提，熱浮於上，清解可安。寬甫猶以向不服涼藥，為疑方中芩、連之類，堅不肯用，乃兄願谷中翰，極力開導，督人煎而飲之，果得霍然。</p>
<p>周曉滄乃郎品方患冬溫，所親顧聽泉知其體屬陰虧，病非風寒也，不犯一分溫升之品，而證不能減，勢頗可危，乃虛懷轉邀孟英診之。曰：所治良是也。但於方中加貝母、杏仁、紫菀、冬瓜子等味，與之遂效。可見藥貴對病，雖平淡之品，亦有奇功。孟英嘗云：重病有輕取之法。於此可見。</p>
<p>癸卯春，邵秋子令堂年近六旬，患寒熱如瘧者久矣。諸醫雜治罔效，孟英視之曰：此濕邪久蘊，已從熱化，誤投提補，動其肝陽，痰飲因而上逆，與通降之法，寒熱即減。而包某謂瘧久陰虛，理宜滋養。病家聞之近是，遂進首烏、鱉甲等藥，漸至脈伏胸痞，呃忒自汗，渴飲不食，顴赤便泄。包某束手，疏生脈散以塞責，舉家彷徨，再求孟英診之。曰：此滋膩阻塞氣機，（喜用熟地者鑑之。）清陽不司旋運，痰飲閉滯隧絡，非脫象也，補藥不可進。以栝蔞薤白合小陷胸，加菖蒲、竹茹、旋覆、貝母、杏仁、紫菀、枇杷葉投之。（清熱滌飲，旋轉氣機，以救滋膩之失。）呃止脈出，大有轉機，而鄭某謂病固屬痰，須溫熱以宣通，勿寒涼而凝遏，病家又惑焉。薑、桂頻投，既而唇腫咽疼，不能進飲，舌乾短硬，難出語言，復請孟英救療。與犀角地黃湯加元參、知母、銀花、竹黃、花粉、膽星、石菖蒲、竹瀝之類，（甘寒生津，以救燥烈之失。）六七劑吐出極臭膠痰甚多，粥飲漸進，此第三次生機也。奈狂瀾莫障，邪說橫行，輒以涼藥不宜擅服，久病必定元虛，甘言悅耳，遂至升散溫補，各逞所能，符咒乩方，罔不遍試。延至仲夏，齶腐齦糜，唇高數寸，竟成燎原莫救，仍懇孟英設法，乃堅辭不能措手，付局醫黃某敷治，腫爛日甚而終。</p>
<p>上年秋燥冬暖，略無霜雪，河井並涸。吾杭自九月間起，天花流行，十不救五，小兒之殤於是者，日以百計。孟英曰：此痘疫也。（眉批：痘原感疫而發，《醫林改錯》中言之甚詳）。治法當與常痘有異，惜幼科未之察耳。且天令發泄，不主閉藏，入春恐多喉患，特刊加味三豆飲方。俾未曾布痘者，預服免患，將出者恣飲冀輕，又勸人頻服青龍白虎湯以杜春來喉恙。不料其言果應，三春不雨，喉疹甚多，醫者猶不悟其致病之因，僅知發散，正如火上添油。孟英胸有成竹，一以仲聖白虎湯為救焚主劑，若已及於營分者，用晉三犀角地黃湯，相機加減。又刊青龍白虎湯暨錫類散方，廣為印送，賴此以活者，不可勝數。</p>
<p>附：　加味三豆飲</p>
<p>生綠豆　生黃豆　生黑大豆（或用生白扁豆亦可）　生甘草　金銀花　水煎服。</p>
<p>孟英原刻自注云：古方三豆飲，為痘證始終可服之妙藥。未出時常服，痘可使稀；將出時急服，重可冀輕；已出時恣服，逆可轉順；盡出時頻服，毒可易清。俗傳種痘是密室烘花，更有初生小兒於十八日內服藥，令其出痘之法，是揠苗助長。此等矯揉造作，陰受其害者，古今來不知幾恆河沙數矣。至於種種稀痘之方，皆無義意。或以毒藥損人元氣，或以穢物致生別恙，慎勿為其所惑。惟此方藥極簡易，性最平和，味不惡劣，易辨易服，不必論其體質，久服無弊，誠盡善盡美之王道藥也。杭人惑於患痘不食豆之說，甚屬可鄙，今特辨明，冀人醒悟。凡小兒能啜飲後，即以此藥日日代茶，誠保赤之首章焉。原方用赤豆，性燥傷陰，予以黑大豆易之，更有補陰之績，雖燥令燥體，皆無礙矣。再益銀花、甘草，而化毒之功尤勝。或疑銀花性涼，似難久用，不知三豆皆谷也，性能實脾，得銀花以濟之，更覺沖和。況小兒體稟純陽，極宜此甘涼補陰之味，豈特稀痘，尤能明目消疳，不生瘡癤、泄瀉等病，其功未能殫述也。</p>
<p>附：　青龍白虎湯</p>
<p>橄欖　生蘆菔　水煎服。</p>
<p>孟英自注云：此予自制方也。橄欖色青，清足厥陰內寄之火風，而靖其上騰之焰；蘆菔色白，化手太陰外來之燥熱，而肅其下行之氣。合而為劑，消經絡留滯之痰，解膏粱魚面之毒，用以代茶，則龍馴虎伏，藏府清和，豈但喉病之可免耶？且二味處處皆有，人人可服，物異功優，久任無弊，實能弭未形之患，勿以平淡而忽諸。</p>
<p>附：　錫類散</p>
<p>象牙屑（焙）　真珠（各三分）　飛淨青黛（六分）　梅花冰片（三釐）　壁錢（二十個，俗名喜兒窠，木板上者勿用）　西牛黃　人指甲（各五釐，男病用女，女病用男，合送濟人，須分別配之。）　</p>
<p>共研極細粉，吹患處，流出惡涎即愈。孟英自注云：此專治爛喉痧疹之神方也。尤鶴年附載於《金匱翼》云：張符瑞傳此方以救人而得子，故予名之曰錫類散。</p>
<p>段春木之室爛喉，內外科治之束手，姚雪蕉孝廉薦孟英視之。骨瘦如柴，肌熱如烙，韌痰阻於咽喉，不能咯吐，須以紙帛攪而曳之，患處紅腫白腐，齦舌皆糜，米飲不沾，汛事非期而至，按其脈左細數，右弦滑。曰：此陰虧之體，伏火之病，失於清降，擾及於營。先以犀角地黃湯清營分，而調妄行之血；續與白虎湯加西洋參等，肅氣道而瀉燎原之火。外用錫類散，掃痰腐而消惡毒。繼投甘潤藥，蠲餘熱而充津液，日以向安，月餘而起。</p>
<p>吳雨峰明府家，囑兒科為其仲郎所出之兩孫種痘，下苗二三日，發熱咽疼。醫以為痘之將形出，投以升透之藥，赤斑似錦，喉爛如焚，半月之間，閤家傳染，諸醫莫敢入其室。（痘疹一門，以護咽為第一要義。一見喉痛，即急清降，大忌升提，何專科而不知此耶？）孟英往診時，見其三郎耕有、四郎小峰尚未病，亟曰：已病者固當圖治，未病者尤宜防患。傳以青龍白虎湯代茶恣飲，竟得無恙。其令閫洪宜人及仲媳，皆為之治愈。此外如其長媳、其令愛、其三孫、其僕、其探病之女戚，殞於是病者，七人焉。時雨峰築岩兩喬梓，咸宦於外，仲郎亦幕遊江右，不料因種痘而釀此家禍，益信孟英勸人勿種痘之說為可訓矣。（眉批：種痘之法，以人巧而奪天工，原屬妙法，但須慎於擇時。）若疫氣流行之時，感其氣者，尚有腫頤爛喉之酷，況又加以痘毒耶？此乃醫之不明，未可盡歸咎於種痘也。</p>
<p>潘洪疇托兒醫為其仲郎春波所出之孫種痘，下苗三日即咽痛，醫與升散藥，發熱斑爛，七朝而夭。（咽痛而復升之，即非種出之痘，亦必不免。）春波及其弟祥衍皆染其病。春波之證，顧聽泉治而愈矣，樣衍之恙，咽喉爛至於舌，胸膈痞塞不通，牙關緊澀，小溲淋痛，口流紫黑血塊，人皆謂其臟腑爛焉。孟英視之曰：惡血毒涎，正欲其出。吹以錫類散，用碗承其口，流出涎血甚多，咽喉、牙環、胸膈皆得漸舒。投以犀角地黃湯，加元參、銀花、童溺、藕汁、竹黃、花粉、貝母、石菖蒲之類，漸以向安，繼與生津填補而痊。</p>
<p>夏間顧聽泉邀孟英視其所親屠綠堂之恙，孟英曰：陰生可慮。果於夏至前五日而卒。屠之五令郎，患痰嗽者數年，近因悲哀病作，徐某見其嗽甚則吐也，投以參、術之劑，病益甚。閏七月十七夜，綠堂忽示夢雲：汝病須延孟英診視，服溫養藥可愈。覺而異之，即迓過診。孟英曰：此陰虛勞嗽，嗽久而沖氣不納則嘔吐，非胃寒也。經言：勞者溫之。亦溫養之謂，非可以溫補施之者。病者見案，更為驚歎，始以父夢告焉，孟英亦為之肅然。方用西洋參、熟地、蓯蓉、二冬、茯苓、坎版、牡蠣、紫石英、萎蕤、枇杷葉、橘皮，服之果安。（滋陰降氣，加以鎮攝，乃虛嗽良法，非兼外感者所可用。）予謂凡事皆可以感天地格神鬼，況醫為性命之學耶？即此一案，可以知孟英之手眼通天，非幸獲虛名者所能仰望也。</p>
<p>胡秋紉於酷熱時偶有不適，醫以柴、葛、香薷散之，反惡寒胸痞，更醫用枳、樸、檳榔以瀉之，勢日劇，延孟英視之。自汗不收，肢背極冷，奄奄一息，脈微無神。曰：稟賦素虧，陽氣欲脫，此必誤認表證使然。與救逆湯加參、耆，服之漸安。繼以補氣生津，調理匝月而痊。</p>
<p>陳芰裳患淋久不愈，延至溽暑，邀孟英診之。曰：易事耳。與補中益氣湯而愈，其子荷官，病痞積腹脹，發熱干嗆，善食黃瘦，便溏溺赤，兒科藥廣服無功，已將絕望矣。孟英聞而憐之，曰：吾於幼科雖未討論，姑贈一方，或有生機也。以黃連、白芍、牡蠣、鱉甲、雞肫皮、五穀蟲、霞天曲、木瓜、山楂、楝實、橘皮、桔梗、旋覆、梔子、丹皮等藥投之。（作疳疾治。）一劑知，旬余愈。</p>
<p>段堯卿之太夫人，患霍亂轉筋，年逾七十矣。孟英投自制連樸飲，三啜而瘳。霍亂案甚夥，不遑廣採，姑錄數則，以示一斑。</p>
<p>石誦羲室，久患痰嗽，諸醫藥之勿瘳。孟英切其脈曰：非傷風也。與北沙參、熟地、百合、麥冬、貝母、紫菀、萎蕤、枇杷葉、鹽水炒橘皮、燕窩，一劑知，數劑已。初秋又患脘痛，上及肩尖，向以為肝氣，輒服破削之品。孟英曰：亦非也。以砂仁、炒熟地、炙橘紅、楝實、延胡、枸杞、當歸、茯苓、桑椹、蒺藜為方。服之良效，繼即受孕矣。（眉批：合觀二案，其人必陰虛肺燥之質，故用藥如此。）</p>
<p>石芷卿患感，張某連投柴、葛藥，熱果漸退，而復熱之後，勢更孔甚，乃延孟英診焉。先以梔、豉、芩、連等藥，清解其升浮之熱，俟邪歸於府，脈來弦滑而實，徑用承氣湯下之。時其尊人北涯赴甌，無人敢主其可服否也，另招他醫決之，以為太峻，且腹不堅滿，妄攻慮變，舉家聞之搖惑，暮夜復懇再診。孟英辨論洋洋，堅主前議，服後果下黑矢。次日大熱大汗，大渴引飲，孟英曰：此府垢行而經熱始顯。與竹葉石膏湯，二劑而安。繼以育陰充液，調理而康。</p>
<p>朱某患痢于越，表散蕩滌滋膩等藥，備嘗之矣。勢瀕於危，始返杭乞孟英診之。神氣昏沉，耳聾脘悶，口乾身熱，環臍硬痛異常，晝夜下五色者數十行，小溲澀痛，四肢抽搐，時時暈厥。曰：此暑濕之邪，失於清解，表散、盪滌，正氣傷殘，而邪乃傳入厥陰，再以滋膩之品補而錮之，遂成牢不可拔之勢，正虛邪實，危險極矣。與白頭翁湯加楝實、蓯蓉、芩、連、梔、芍、銀花、石斛、桑葉、橘葉、羚羊角、牡蠣、海䖳、鱉甲、雞內金等藥，大劑頻灌，一帖而抽厥減半，四帖而抽厥始息。旬日後便色始正，溲漸清長，粥食漸進。半月後臍間之硬，始得盡消。改用養陰，調理逾月而康。</p>
<p>鄰人汪氏婦之父王叟，仲秋患痰嗽不食，氣喘不臥，囊縮便秘，心搖搖不能把握，勢極可危，伊女浼家慈招孟英救之。曰：根蒂欲脫耳，非病也。以八味地黃湯去丹、澤合生脈，加紫石英、青鉛、龍、牡、胡桃肉、楝實、蓯蓉投之，大解行而諸恙減，乃去蓯蓉、麥冬，服旬日以瘳。初冬邵可亭患痰嗽，面浮微喘，醫謂年逾花甲，總屬下部虛寒，進以溫補納氣之藥，喘嗽日甚，口涎自流，莖囊漸腫，兩腿腫硬至踵，不能稍立，開口則喘逆欲死，不敢發言，頭仰則咳嗆咽疼，不容略臥，痰色黃濃帶血，小溲微黃而長。許芷卿薦孟英視之，脈形弦滑有力，曰：此高年孤陽熾於內，時令燥火薄其外，外病或可圖治，真陰未必能復。且平昔便如羊矢，津液素干，再投溫補，如火益熱矣。乃以白虎湯合瀉白散，加西洋參、貝母、花粉、黃芩，大劑投之，並用北梨搗汁，頻飲潤喉，以緩其上僭之火。數帖後勢漸減，改投葦莖湯合清燥救肺湯，加海䖳、蛤殼、青黛、荸薺、竹瀝為方，旬日外梨已用及百斤而喘始息。繼加坎版、鱉甲、犀角，而以豬肉湯代水煎藥，大滋其陰而潛其陽。（此卻不必，以病者難服也，何不另用之。）火始下行，小溲赤如蘇木汁，而諸證悉平，下部之腫，隨病遞消，一月已來，共用梨二百餘斤矣。適大雪祁寒，更衣時略感冷風，腹中微痛，自啜薑糖湯兩碗，而喘嗽復作，口乾咽痛，大渴舌破，仍不能眠。復用前方，以綠豆煎清湯代水煮藥，始漸向安。孟英謂其乃郎步梅曰：《內經》云：陰精所奉其人壽。今尊翁陰液久虧，陽氣獨治，病雖去矣，陰精非藥石所能繼續，況年逾六秩，長不勝消，治病已竭人謀，引年且希天眷，予以脈察之，終屬可虞，毋謂治法不周，贈言不早，致有他日之疑成敗之論也。</p>
<p>一賣酒人姓陸，極窘而又遭顛沛，久而患一異疾，形消善癢，蝨從皮膚而出，搔之蠕蠕，醫治莫效。孟英診曰：悲哀勞苦，陽氣受傷，曲糵浸淫，乃從蟲化。與補氣藥加杉木、桑枝而愈。（亦濕熱生蟲之治法。）</p>
<p>陳芰裳之太夫人，陡患嘔吐，徹夜不止，次早延孟英診之。自述因寒而致，孟英知芰裳進場，家無主藥之人，若明言屬熱，必致畏藥不服矣。漫應曰：固寒也，而疏方則芩、連、梔、楝，以大苦寒為劑，投之良愈。</p>
<p>張鄭封室，娩後即發熱，服生化湯二帖，熱益熾，而發赤疹。顧聽泉診之，即與清解，三劑不應，欲進犀角地黃湯，而恐病家之狃於產後以生疑也，乃拉孟英質之。診其脈弦滑而數，面赤熱燥，胸悶善悲，肢腫而疼，兩時白泡如扁豆大者數十顆，舌上亦有一顆痛礙食飲，大便不解，已旬日矣。曰：此不但胎前伏暑，且有蘊毒，而誤服生化湯以助其虐，幸初手即用清解，尚不致於昏陷，犀角地黃極是治法，猶恐不能勝任。乃與聽泉商加西洋參、滑石、知母、銀花、花粉、人中白、蔞仁、竹黃、貝母、桑葉、梔子為劑。其所親曰：高明斷為熱證，何以病者雖渴而喜熱飲耶？孟英曰：此方中所以多用痰藥也。凡胸中有熱痰阻礙氣機者每如是，不可以其向不吐痰，而疑吾言之妄也。若因此而指為寒證，則禍不旋踵矣。進四帖，始得大解，頻吐稠痰，而各恙皆減，飲食漸加。孟英曰：病勢雖穩，餘熱尚熾，苟不亟為清滌，而遽投補益，猶有蓐損之虞。其母家果疑藥過寒涼，必欲招專科調治，幸將前方示彼，尚不妄施溫補，然隔靴搔癢，紀律全無。旬日後餘火復燃，鄭封堅懇孟英設法，仍用甘寒療之。周身膚蛻如蛇皮，爪甲更新，其病之再生也可知。繼與滋補真陰而起。</p>
<p>葉晝三患咳逆上氣，頭偏左痛，口渴不飢，便瀉如水，王瘦石薦孟英視之。曰：此肝陰胃汁交虛，時令燥邪外薄。與育陰息風、清燥滋液之法，日以漸安。服及兩月，大解反形乾結而痊。</p>
<p>鄭某吐血盈碗，孟英脈之，右關洪滑，自汗口渴，稍一動搖，血即上溢，人皆慮其脫，意欲補之。孟英曰：如脫惟我是問，與白虎湯加西洋參、大黃炭，一劑霍然。</p>
<p>季秋顧聽泉邀孟英視康康侯副轉之恙，切其脈滑數，而右歇左促，且肝部間有雀啄，氣口又兼解索，望其面宛如薰黃，頭汗自出，呼吸粗促，似不接續，坐臥無須臾之寧，便溺澀滯，渾赤極臭，心下堅硬拒按，形若覆碗，觀其舌色，邊紫苔黃，殊不甚乾燥。問其所苦，曰：口渴甜膩，不欲飲食，苟一閤眼，即氣升欲喘，煩躁不能自持，胸中懊憹，莫可言狀。孟英曰：此由濕熱誤補，漫無出路，充斥三焦，氣機為其阻塞而不流行，蔓延日久，津液為之凝滯而成痰飲，不啻人禽雜處，苗莠同疇，邪正混為一家。醫見肢冷自汗，不知病由壅閉而然，欲以培正，而邪氣方張，得補反為樹幟，豈非資寇兵而齎盜糧哉？非其類者鋤而去之，乃為吃緊之治。聽泉曰：良是也。夏間起病，聞自心悸少寐，楊某以為虛而補之，時尚出差辦事，暑濕外侵，受而不覺，迨闈差未竣，其病斯發，而諸醫之藥，總不外乎溫補一途，以致愈補愈劇。今擬溫膽法待君可否？孟英曰：脈證多怪，皆屬於痰，今胸痞如斯，略無痰吐，蓋由痰能阻氣，氣不能運痰耳。宜於溫膽中加薤白、蔞仁，通其胸中之陽；又合小陷胸為治飲痞之聖法；參以梔、豉泄其久郁之熱，以除懊憹；佐以蘭草，滌其陳腐之氣而醒脾胃。聽泉深然之。連投二劑，各恙皆減，脈亦略和，而病者以為既系實證，何妨一瀉而去之。連服大黃丸二次，承氣湯半帖。孟英急止之曰：畏虛進補固非，欲速妄攻亦謬。蓋濕蒸為熱，灼液成痰，病非一朝一夕而成，治以上下分消為是，不比熱邪傳府，可一瀉而愈也。越日下部果漸腫，孟英曰：攻痞太速之戒，古人不我欺也。與聽泉商以前法加黃芩合瀉心意，再配雪羹投之，痰果漸吐，痞亦日消，而自腹至足，以及莖囊，腫勢日加。孟英謂：勢已如此，難以遽消，但從三焦設法，則自上而下，病必無虞。與聽泉商用河間桂苓甘露飲意。而姚平泉孝廉，力主崇土勝濕之法，深以寒涼為不可用，眾議仍投前日之藥。孟英曰：前藥原可服也，嫌力不足耳。次日痰中帶血甚多，孟英曰：濕熱薰蒸不已，自氣及營矣。與聽泉暨王子能參軍，商以知、柏、生地、犀角、鱉甲、白芍、苡仁、貝母、石斛、茅根、麥冬、滑石、梔子、藕汁、童溺，投之而止。逾數日又吐，且肢冷自汗，心餒畏脫。姚平泉謂氣不攝血，當主歸脾湯以統之。舉家皇皇，連請診脈者三次。孟英曰：脈來屢變，陳芝江所以不能指實其病，而楊、阮諸人，皆疑為大虛之候也。然望聞問切，不可獨憑於指下，今溲如赭石湯、渾赤有腳，其為濕熱之病，昭昭若揭。初傷於氣分，則津液受灼以為痰，漸及於營分，則陰血不安而妄溢，邪氣內盛，豈非病實，而真實類虛，吾不受病之欺也。堅守前議，靜鎮不搖，服二劑果止。孟英曰：血之復吐也，由於氣分之邪以擾及也，欲清氣道之邪，必先去其邪所依附之痰。蓋津液既為邪熱灼爍以成痰，而痰反即為邪熱之山險也，不妨峻攻其實，而緩行其勢。（眉批：前云不可妄攻，此又投峻下之劑，何也？蓋前徒攻其熱，故不中病而致生他證，此則直攻其痰，始能與病相當也。）初進滾痰丸三錢，得下泄氣一次。副轉云：四十日來未有之通暢也。連投數日，始解膠痰黑矢多遍，而小溲亦漸清長，苔色亦退，寢食遂安，惟下部之腫猶爾也。馬香崖、陸虛舟皆主實脾行水之法，孟英曰：諦參脈證，病不在脾，況善飢便燥，口渴溺多，吾方慮轉消證，亟投甘潤之不遑，惡可滲利傷陰，補土劫液耶？且脾虛下陷之腫，與濕盛而腫之腫，其膝之上下內外形勢，必然相貫。今膝之上下內外凹凸迥判，毫不毗連，蓋由濕熱所釀之痰飲，既誤補而痞塞中焦，復妄攻以流竄隧絡，所謂不能一蕩而蠲，勢必旁趨四射，吾當以法取之。會又咳痰帶血，而精神食飲如常。孟英曰：無恐也，此乃前次嚼三七太多，兜澀留瘀，最不宜用，吐而去之極妙，但須金水同治，冀咳止而血絡不震動為要耳。與甘露飲加藕汁、童溺服之。四劑而止，咳嗽亦寧。於是專治其下部之腫以固本，加知、柏、貝母、花粉、旋覆、橘絡、絲瓜絡、羚羊角、楝實、蔥須、豆卷、薏苡、竹瀝，出入為劑。二三貼間，其高突隆腫之處，即覺甚癢，搔之水出如汗，而作蔥氣。六七日後，兩腿反覺乾瘦燥痛，莖囊亦隨之而消矣。孟英曰：用此潤藥消腫，尚且干痛咽燥，設從他議而投燥脾利水之法，更當何如哉？蓋寒濕則傷陽，熱濕則傷陰，血液皆陰也。善後之法，還宜滋養血液，稍佐竹瀝以搜絡中未淨之痰，使愈後不為他日之患，更屬法中之法。服之飲食中節，便溺有權，幸無消渴之虞，而竟愈焉。</p>
<p>廣孔愚司馬，久患溏泄，而舌黑氣短，自春徂冬，治而不效。孟英視之，曰：勞心太過，陽爍其陰，人見其溏泄，輒與溫中，不知肺受火刑，氣失清肅，而短促於上，則水源不生，自然溺少便瀉矣。投以肅肺清心、涼肝滋腎之法，果得漸瘳。</p>
<p>周菊生令正，患少腹痠墜，小溲頻數而疼，醫投通利不效，繼以升提溫補，諸法備試，至於不食不寐，大解不行，口渴不敢飲水，聞聲即生驚悸。孟英脈之曰：厥陰為病也，不可徒治其太陽。先與鹹苦以泄其熱，續用甘潤以滋其陰，毫不犯通滲之藥而愈。</p>
