<header data-type="book">
<h1>傷寒之研究</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>中西惟忠</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第五冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015277">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>卷一</h1>

<h2>題名辨</h2>
<p>醫藥之道。蓋昉於農黃氏云。素靈二書。雖名於黃岐氏乎。非實有其問。而實為之對者也。惟於行文之間。假以為之體裁。猶後人設於或問。以明義於答也。不知其出於何人之手耶。醫之稱農黃氏也。亦猶道家之稱黃老。惟神其所由耳。素靈固非黃岐氏之所撰也。農黃氏邈矣。尚書之肇於唐虞也。學者必考信於此。則素靈之果成於黃岐氏耶。先於尚書。年世其幾何。雖道之不同。而文辭之不相肖。其何太遠也。說者以為先秦之偽撰。或以為六朝之辭氣。此皆似有所見者也。乃今審其文脈。固不能升於六朝之上。然猶可考於今者。雜存乎其間。則非可全廢也。蓋當其撰之之始也。幸有古語之傳者。且補綴。且敷演。首之尾之。羽之毛之。以成其篇而已。故今將欲讀其書。以考信於此。豈可不善擇哉。夫醫者事之為也。為之存於人。存於人之故。必俟其人。苟非其人。道不虛行。往昔之於事之為也。不傳之書。而傳於言。是以史之所載。雖有和緩俞胕文摯扁倉之輩。徒稱其名。又何有其事之為之可考其書於今哉。如八十一難。傳云扁鵲之所述。雖然。史記無作難經之言。或云吳呂廣之所偽撰。然則其非正書審矣。又何可考之於今哉。當秦之時。雖坑儒焚書乎。醫倖免其厄。則其書不可不全傳也。而今素靈及八十一難之書。既已如此。則醫之於古。傳之於書者固希。醫之於古。果不傳之書。而傳於言也。然則其適傳之於書。亦必其禁方。而非其道之盡於此者也。何以睹其術之所為者。故非俟其人而口授面命。則必有所不盡焉。如長桑君之於秦越人。豈不然耶。當西漢之時。儒術承焚坑之餘。而惟醫循其舊爾。然則其書之不可傳者儒也。而及全於儒。其書之可傳者醫也。而不全於醫何耶。此其始所有也。故雖已焚乎。匿於彼。藏於此。猶得其全。其始所無也。故難免厄乎。本無可匿。又無可藏。何以得其全。豈非其傳於書者固希哉。及東漢之時。有張氏仲景者。身為長沙太守。好修方技。稽往昔之方法。集大成以建之規則。號曰傷寒論。傷寒論者。方術之傳於書之創也。方術之傳於書者。獨創於張仲景氏。而其可考於今者。惟是而已。故傷寒論者。萬世之規則也。是以竊比之於作者。稱長沙醫聖。以為方法之祖也。又有金匱要略及玉函經。私疑其云金匱。云玉函者。本是傷寒論之美稱。而非有此二書也。既比其人於聖。則亦不得不比其書於金玉也。仲景氏之所傳。惟是傷寒論而已。傷寒之於論。莫適非變。愈適而愈變。是以遂及於雜脈證也。後人不辨此之旨。謂必當別有論雜病之書。然奈其無有何。因幸有金匱及玉函之稱。剽竊其及於雜病者於論中。繼之以附會。此其書之所以偽撰也。且王燾氏之纂外臺秘要方。引金匱要略之所載。皆以為傷寒論。則此時猶未有要略。其果成於唐以降者。益足以證矣。因此而觀之。仲景氏之所傳。惟是傷寒論而已。雖然。年逝世更。傷寒論亦既非仲景氏之書。乃今之所傳。出於晉太醫令王氏叔和。當是之時。簡冊之散軼也。憂其遂亡滅。輯集以流之於世。叔和氏之撰次斯論也。雖固無意於攙入其言。以紊其真。而未始上之於梨棗。而公行於天下。則其後之殘缺錯亂。固已太多。而旁發其所窺之意者。展轉謬寫。而混淆正文。以致後人之迷盳亦已不少。夫仲景氏之所載而傳者。往昔之方術也。乃其於脈證。有名有數。與其行文之法。固不與後之方書同其撰也。藉使叔和氏。溷之以其似者。玉石本自有分。又何患其磊砢乎。於是觸類推例。邀之於交互。而臨於左右。拆句頒章。為之段落。則知脈證之具於名數。與其行文之法。果不可同後之方書視之也。然後流耀而含英。乃珠乃玉。如眎諸掌上焉。又何眩曜瓦礫乎。夫脈證者。方之所之也。而術之於變化。未嘗不循其轉機焉。仲景氏之所以規則於萬世也。脈證之於轉機。不可素度也。惟仲景氏能度而察之。察入神焉。處方之於變化。不可素定也。惟仲景氏能定而應之。應致妙焉。神之與妙。體之於我。而後仲景氏之術。可得而臨於今矣。故欲修仲景氏之術者。此之不可不務焉。欲務於此者。不可不由於規則焉。仲景氏之建規則也。統邪以寒矣。歧為五名。而有內外焉。有輕重焉。陰陽以辨內外。風寒以析輕重。陰陽各三。而其相交者為合。其及者為並。系之於三陽。盡其變態百出焉。是為三陽三陰也。陽曰浮。陰曰沉。風曰緩。寒曰緊。或數或遲。或滑或澀。以候內外。以診輕重。是為脈之分也。熱五綱而十二名。惡風寒為三道。頭痛頭眩。嘔吐喘咳。疼痛腹痛。腹滿瘀血。及汗之與厥。則各二道。而消渴之與煩躁。則各四道。燥屎宿食之一而為八。下利之二而為六。精而曰虛。邪而曰實。實為讝語。虛為鄭聲。有正焉。有屬焉。是為證之別也。或先脈而後證。或先證而後脈。脈或兼證。證或兼脈。插以例之辭。於前於後。挈因命證。方證互略。枉而還之。隔而接之。是為行文之法也。夫邪之雖一乎。殊內外。異輕重。為三為六。自百而千。千轉萬移。莫有窮極。始於傷寒。而終於雜脈證。脈證之具於名數與其行文之法。莫不該備而盡焉。此仲景氏之所建。而萬世之規則也。自非其入神致妙。烏能至於此哉。不可不由以審焉。往昔之方術。儼然可臨於今者若此。藉使叔和氏溷似者於其間。又何所眩矅。失其真者乎。若徒說脈而遺證。論證而闕方。且追且搜。不中繩墨者。此不直叔和氏之為也。出於其末流之手。亦未可量也。余於是乎擇以斥之。乃余之所類而例也。所擇以斥也。名數之與夫行文之法。舉以辨之。推以正之。所以有辨正之著也。辨正之於著。明於名數為先務。所以有名數之解也。此二者。皆所自玩也。何必示之於人。若其示之。必罪余為拘縛章句爾。雖然。二千歲之下。人與骨皆已朽。昕恃者章句。不恃章句。將何所折衷乎。縱令我獲拘縛之罪。固所不辭也。或者同僻之士。有一取乎。我其愉快。亦所不期矣。</p>
<p>傷寒也者。為邪所傷害也。謂邪而為寒。蓋古義也。故寒也者。邪之名也。而邪之傷害人。最多端矣。雖其多端矣。約之則不出於三陽三陰焉。三陽淺深之狀也。三陰緩急之態也。約此六者。則不出於陰陽焉。陰陽內外之分也。約此二者。則不出於風寒焉。風寒輕重之別也。統此二者。則不出於一寒焉。寒也者。邪之名也。而邪之傷害人。雖多端矣。約之於三陽三陰。以統於一寒也。如此。夫惟統之也。一寒而已。題之所以命曰傷寒也。而其所以命曰論者。蓋論也者。論定之義。與論語之論略同。而非議論之論也。預舉事形。稽諸古訓。而斷之方法。以供他日之用。此之謂論定也。乃今傷寒之於方論。預設病狀。而具之處方。義亦相似矣。題之所以命曰傷寒論也。</p>

<h2>自序辨</h2>
<p>古之人既能修之於我。而究其極致。則著書以述其意也。未必顯於當世。而期之於身後也。後之人頗有其所窺乎。或發其指歸於卷端。題以為序。所以題以為序者。蓋擬詩書之題序也。是故在秦漢以上。雖有諸子百家。而未嘗聞自序其書也。莊周之於天下。其為之似乎。未嘗言序也。司馬遷之於史記。自為之序。則不啻似之已。雖然。其次之於卷後。而謂之傳者。自有其旨。豈類於後之題序乎哉。至乎挽近。急於希售。是其自序之所以昉耶。而今仲景氏之自序於卷首者何耶。竊尋其文意。脈理不屬。且其言曰。撰用素問九卷。八十一難。陰陽大論。胎臚藥錄。並平脈證辨。為傷寒雜病論。乃今質諸終篇。未嘗有本於此者。或似於此。固無足信者矣。至他如五藏府俞。經絡陰陽。及人迎趺陽。三部九候。明堂闕庭等之言。亦皆不與本論相愜也。而其不出於仲景氏之手矣。是必後之黠者。不推仲景氏之本旨。偽擬以欺人者耳。且夫素難之果成於東漢以降乎。豈可復與仲景氏之言相愜乎哉。</p>

<h2>脈法及平脈法辨</h2>
<p>辨脈之法。及其平脈之法。蓋出於王叔和氏也。王叔和氏之於脈診。蓋獲之於天性耶。乃其所著之脈經若干篇。獨極其精微焉。而凡二十有四。分為七表八里九道也。配之以三焦五藏六府。三其部位。九其診候。以眎病應。以推生克。權虛實。察死生。纖細密悉。莫所不臻矣。此自非獲於其天性。烏能至於此乎哉。獨得之道。非所以覺之於他人也。張仲景氏之於脈法。則獨不然。曰在陽則脈浮。在陰則脈沉。大抵浮沉以統之。緩緊遲數滑澀。相差以系之。故浮沉陰陽之位。而陰陽疾病之位也。而緩緊遲數滑澀。悉繫於浮沉。於是乎或陽或陰。先定其位。而後輕重緩急之機。觀於其所屬。則可以考矣。不特此而已。須與證相愜。不苟誣於我。此之為善考而善盡矣。惟仲景氏之脈法為爾。仲景氏未嘗分七表八里九道也。未嘗配三焦五藏六府也。未嘗及三部九候也。本論之中。其或儳及三部陰陽乎。即⿱斁灬於仲景氏之本旨也。辨詳於脈候篇。夫仲景氏之脈法之概若此。又烏可以叔和氏之脈診混之乎哉。叔和氏之獨極精微於此也。私淑於張仲景氏也。竊尋其心曲。本當無意乎混之於此。使人眩惑也。惟以其天性之獲於脈診。或至於本論。得意之處。旁發其脈法。將以試己之技耶。烏知後人之不謬寫而遂傳於今乎。夫然。故欲讀仲景氏之書。而修其術於我者。不可不擇焉。擇之有差。不於理而必於事。事存乎辭。而辭之愜事。事之愜人。可取以臨矣。是之謂善擇也。若其於理也。不徒不得乎辭。既不愜事。又奚愜人矣。是之謂不善擇也。今夫如辨脈平脈二法。則不得不與本論相乖也。且如其大浮數動滑為陽。沉澀弱弦微為陰。似則似矣。雖然。陰陽本是表裡之統名也。沉浮陰陽之位。而緩緊遲數滑澀悉系焉。則其以大動為陽之位。以澀微為陰之位猶可。數滑之不可一為陽也。弱弦之不可一為陰也。其謂之何矣。夫數滑弱弦。相與系之於陰陽。以差之者也。而今一之於陽。一之於陰者。此蓋一種之陰陽。而非仲景氏所取於表裡之統名者也。如本論曰陽浮而陰弱。曰陰陽俱緊。曰陽脈澀。陰脈弦。皆謂疾病之位。而不謂其所候之處。則又與彼背馳矣。同是一陰陽也。於彼如彼。在此如此。何其無定準也。而後之言脈之陰陽者。或以尺寸。或以浮沉。乃其所謂浮沉者。不以其人。而以己之指也。以指之故。加之以中。嗚呼是何其言之謬乎。浮沉本是陰陽之位。而自存乎其人。豈可求之於己之指乎。其所謂尺寸。亦惟一脈一動。而無有異也。脈之於動。本是一身之活機。而其所由起。在於臍中。所謂腎間之動是也。而謂起於臍下非矣。上自頭頂。而下抵於四末。莫所往不到焉。莫所遠不逮焉。此乃人之所以生也。夫一身之活機。既起於臍中。頭頂而四末。莫所不到而逮。則其於動也。雖欲不一焉得乎。況於尺寸之脈路。出於同一乎。惟少陰與趺陽之來應。低昂少異爾。此其以脈路之所纏繞而來之別也。亦惟自存乎其人。豈可復求之於己之指乎。尺寸亦惟一脈一動。而無有異也。藉令據尺寸及浮中沉等之說。則如陽浮陰弱。陰陽俱緊。為尺寸可。為浮沉亦可。而其名於表裡。終不可見也。如陽脈陰脈。惟尺寸可言。而浮沉不可二。表裡不可見也。何則陰陽本名於脈焉者也。名於脈焉者。即名於疾病焉也。非名於指焉者也。若乃脈之於浮沉。自存乎其人。則指之切之也。不敢不從之也。惟脈不為指之浮沉。指能浮沉於脈乎。因是觀之。陰陽之為說。或尺寸。或浮沉。紛紛乎不知所適從矣。然則陰陽之義。將何之取乎。夫陰陽。表裡之統名也。寒熱。陰陽之分也。浮沉。陰陽之位也。風寒。輕重之別也。緩緊。風寒之析也。是故表為陽。里為陰。陽曰熱。陰曰寒。浮則陽。沉則陰。風寒系焉。緩緊屬焉。於是乎緩緊之為風寒。風寒之為輕重。或浮或沉。熱乎寒乎。惟陰陽為統之矣。故曰陰陽表裡之統名也。夫既浮沉之為陰陽之位也。所謂陰陽俱緊者。獨似可言也。陰陽之果不在於指。而在於脈也。系浮沉於緊。則其陽其陰。足以辨其位矣。乃言陰陽。而浮沉自在其中也。且緊之為脈。浮沉相差以系之也。故曰陰陽俱緊。此獨似舉其概而例之者也。是之為陰陽之辨矣。叔和氏之於脈診。雖獨極其精微之若彼乎。於仲景氏之脈法。其不相依也若此矣。此固其所建之不同也。以不同而欲同之也。豈其不乖乎。故欲讀仲景氏之書。而修其術於我者。不可不善擇焉。已而善擇焉。則仲景氏之脈法。彰然如指諸掌也。又何從叔和氏之脈診矣乎哉。叔和氏之獲之於天性。而能至於此也。吾之固所不能也。雖吾之已所不能乎。人又或能之也。至其能之也。豈讓乎叔和氏乎。若乃辨脈平脈二法。則脈經之餘論。而叔和氏之金科玉條也。又何取乎仲景氏乎。仲景氏之脈法。既具於本論。當就而審焉爾。且叔和氏果無意乎混之於此。使人眩惑也。雖余之所取捨之若之也。亦豈多恨矣乎哉。</p>

<h2>傷寒例辨</h2>
<p>傷寒之例。蓋亦出於王叔和氏也。其所據而例。肇於陰陽大論。旁及素問八十一難。加之以其所窺。此獨契於題序所謂撰用者耶。如其所謂傷寒溫暑。及時行疫毒冬溫等之別。非不纖悉。如大左於仲景氏之所論何。又獨以傷寒為觸冒冬時嚴寒之病。則如春夏之病何。於是乎至有春溫夏熱之說也。又云四時之氣。皆能為病也。非其時而有其氣。以病人者。名為時行疫毒。此豈謂盡無之乎。雖然。按鬥歷占之之法。吾是之未能信矣。乃索之於本論。未有愜於此者。蓋張仲景氏之所論。風寒皆邪之假名。而輕重之別已。寒之所以為重者。以其最成殺厲之氣也。風之所以為輕者。以其不若寒之太甚也。故風寒皆假以名於邪者也。夫既有風寒之名。而未見其形。於是乎假陰陽以形其內外。內外既形。而未得其狀。於是乎分其陰陽。各以為三。以狀其大體。大體既狀。而猶未委曲。於是乎三陽三陰。各委曲其脈證。千狀萬形。莫所不至焉。然後內外輕重之脈證。委曲於此。則何更問四時。而後處之。是故不但觸冒冬時嚴寒之病。雖溫暑及時行疫毒冬溫。求之於脈證。則莫不悉具於其中焉。洽彌於四時。因是而觀之。方仲景氏之時。未有春溫夏熱。及時行疫毒冬溫等之別也。推之於六氣。而命之名。以別之者。蓋亦創於叔和氏也。人之生於天地之間。誰不受其氣。則推之以六氣者。不為無其理也。雖然。病之與人俱活。不可推之以理者固眾。縱得之於理。惟在其變態。而不二乎邪。自外自內。何離乎陰陽。或輕或重。何出乎風寒。亦各有其脈證具。則雖變態之千萬乎。必求之於脈證。隨以處之。其又何乖也。仲景氏之於術。不問四時。而取於一邪。千萬其脈證。而極其變態。能極其變態之故。又遂之於雜脈證。奚獨傷寒也。夫如此也。則春溫夏熱。及時行疫毒冬溫等之別。固不足據矣。況於按鬥歷占之之法哉。且夫仲景氏之所論而博也。內外輕重之脈證。千狀萬形。往乎來乎。靡往非例焉。靡來非例焉。既而委曲於此也。又復曷須傷寒之例。且其例中顯言搜採仲景舊論。且千金外臺諸書。亦多引之。為叔和之語。得傷寒之例之出於叔和氏也。益足以證矣。然則此固叔和氏之例。而非仲景氏之例也。何以與本論相愜矣。傷寒之例。亦豈足據哉。亦豈足據哉。</p>

<h2>痙濕暍辨</h2>
<p>痙濕暍之於脈證也。曰傷寒所致。復曰與傷寒相似。抑此何言哉。既曰太陽痙濕暍。太陽病之外。豈復有所謂痙濕暍者耶。若必為傷寒之所致。則其為相似者果非耶。若必為相似者之果是耶。奚翅痙濕暍。奈霍亂及瘧等之相似何。此獨何以遺於此耶。傷寒所致太陽六字。果不可讀矣。彰彰乎明哉。出於後人之為也。夫仲景氏之統脈證也。惟是陰陽而已。已而千狀萬態。莫所不盡焉。是以不外於奔豚結胸。火逆水逆。發黃蛔厥等。豈惟痙濕暍之別論哉。有金匱要略者。分部設門。以論雜脈證。而痙濕暍為始。此蓋後人謬讀傷寒之論。謂惟論觸冒冬時嚴寒之卒病。則必有論雜病之書。於是搜取其散落者一二於諸家。未足以成篇。因又剽竊論中及雜脈證者。偽撰以為金匱要略耳。何以明金匱要略之為偽撰也。痙濕暍皆冠以太陽病三字。此當其剽竊之時。猶循其舊。忘削去三字。而獨削去其論中之原文。太陽下篇。風濕二條。亦剽竊之。而忘削去其原文。幸足以辨其本旨矣。因此而觀之。痙濕暍本自在於太陽篇者。彰彰乎明哉。且傷寒論有中風。金匱要略亦有中風。名同而病異。此以一而兼二耶。太陽有奔豚。少陰有下利。為詳且盡。而亦覆載焉。此右取而左忘耶。取唐以降之方。附之各門之後。此前知身後數百年耶。藉令仲景氏之聖。亦豈若此其明乎。其他復出之與其容疑焉者。不可指數矣。誰謂金匱要略之非偽撰耶。其曰傷寒所致。復曰與傷寒相似。別而論之者。非仲景氏之本旨。豈不彰明哉。雖然。觀乎傷寒論有小建中湯。無大建中湯。大小半夏湯。及越婢湯等之特具於金匱要略。則仲景氏之遺方。不為不存於此。金匱要略之不可全廢也。要不過十之二三。宜淘汰以輔其術而已矣。乃今辨正傷寒論。措痙濕暍。而自太陽篇始者。所以復仲景氏之舊也。處方之悉具於金匱要略。則不如就彼而求之之便。故不辨於此矣。</p>

<h2>汗吐下辨</h2>
<p>如篇末載可發汗。不可發汗。可吐。不可吐。可下。不可下。汗吐下後等之辨。豈其不可乎。雖然。其可與不可。既載於本篇。而無所不盡焉。而今又復辨之於篇末者。豈非為蛇添足乎。截長綴短。補之以其家說者。豈亦出乎王叔和氏之工巧耶。大類乎辨脈平脈二法。及傷寒例者也。夫既本篇之所載。可取以例。則又何加焉。惟至如其於可下之辨。載大承氣湯。及大柴胡湯之證六七條。則本篇之所闕。此可以補之。然則惟此之辨。不可廢也。而亦載之於金匱要略。此豈本篇之既闕。而存之於此耶。將金匱要略之所載。取之於此耶。又將獨存乎金匱要略者。假之於此耶。要之金匱要略之雖不可信。而比之於此辨可下者。抑猶古也。其不可全廢也。姑讓之於彼。固亦無不可矣。然則惟此之辨。不可廢也。亦廢之可矣。其他可發汗。不可發汗。可吐。不可吐。可下。不可下。汗吐下後等之辨。雖似無不可。固已遠於古也。又何足據乎。又何足據乎。</p>

<h1>卷二</h1>

<h2>寒五名</h2>
<p>凡人之所病者。通謂之疾。指曰邪。名曰寒。寒即邪之名也。而義之所歧。凡五焉。邪有輕重。而統以為寒。析以為風。風其最輕焉者也。寒其最重焉者也。故風自寒析。惟寒統之矣。是乃傷寒中風之辨也。寒又有內外之別矣。而其自外焉者。必能為熱。此為之陽也。其自內焉者。必能為寒。此之為陰也。寒即裡寒之寒。以吐利言之矣。是乃內外之辨也。寒也者。邪之名也。而義之所歧。凡五焉。有指邪氣者。有指痰飲者。有指吐利者。或對熱。或對溫。如曰傷寒。曰寒去欲解。曰寒實。曰被寒。曰胸有寒。曰里有寒。曰寒格。則皆指邪氣者也。如曰寒飲。曰久寒。曰胃上有寒。則皆指痰飲者也。如曰寒分。曰寒下。曰裡寒。曰藏有寒。曰寒多。則皆指吐利者也。如曰惡寒。曰往來寒熱。曰寒少。則皆對熱者也。如曰手足寒。曰厥寒。曰藏寒。則皆對溫者也。凡寒之歧為五義者若此矣。而統為傷寒。析為中風。外焉而熱。內焉而寒。雖如不均。而其實則一也。一也者何。一寒而已。寒也者。邪之名也。能為此數者之疾。而病人者。惟邪而已。故以寒為邪之名者。正義為然矣。後之說傷寒者。深泥寒字。以為非觸冒冬時嚴寒之氣。則不得名為寒也。於是乎遂至有其即病者為傷寒。不即病。而其寒毒藏於肌膚。至春變為溫病。至夏變為暑病之說。嗚呼。此何以知其即病之與其不即病。而其寒毒之藏於肌膚。至春至夏而變乎。倘能知焉乎。不若速施之治。而不使其寒毒之藏於肌膚也。又何俟其至春至夏而變乎。誰謂素難之不妄乎。今審仲景氏之所論。未嘗問四時。雖其邪之或自外焉。或自內焉。而統名為傷寒焉。寒也者。邪之名也。故不問四時。統名為傷寒者。是為正義矣。奚翅觸冒冬時嚴寒之氣焉已矣哉。傷寒之名。蓋自古有之矣。仲景氏據而述焉已矣。風溫溫病。雖載之於太陽篇。而徒論其被下被火之逆。不及其方法也。然則其所謂風溫溫病者。何方之處乎。此惟以寒為嚴寒之寒。不辨傷寒中風之為輕重。與自內自外之為寒熱。而不知一寒之統名於邪之為古義。而強為之說者也。不可從矣。</p>

<h2>三陽三陰</h2>
<p>三陽三陰者。表裡之統名也。外內之分也。凡疾病之於變。千狀萬態。不可得而窮極焉。雖然。其所統者。不出乎陰陽也。雖乃不出乎陰陽。而又不能無淺深緩急。於是各歧而為三矣。而又喚三陽以表裡。是惟喚之在三陽。而非謂陰陽以統之表裡也。夫三陽之為表也固矣。而其所主在熱。而其脈則浮。然其熱亦不一。而其所名而喚者凡十二。而其所統者五。雖乃統之於五。而非若配之五藏之類也。要亦不出其表裡之二焉。惡寒發熱。為太陽為表。是其在三陽。最淺而最緩也。往來寒熱。為少陽為表裡。是其在三陽。其表稍深於太陽。而其里稍淺於陽明。所以為之半也。此二者。必兼惡風寒也。論曰。有熱惡寒者。發於陽是也。身熱惡熱潮熱。為陽明為里。是其在三陽。最深而最急也。此獨無有惡風寒也。若尚有焉。則是為其表未解也。例曰微惡寒者。表未解是也。故太陽為表之表。而陽明為表之裡也。若乃以其淺深緩急之次。則當自太陽及少陽。自少陽及陽明。而反篇少陽於後者。蓋欲先示其為表裡也。三陰之為里也固矣。而其所主在寒。而其脈則沉。寒即裡寒之寒。而以吐利厥冷言之也。然其寒亦不一。而其以淺深緩急。歧而為三者。亦猶三陽也。而不可復以表裡言之也。則直舉其形狀而示之也。腹滿而吐。食不下。自利腹痛。手足溫而不渴。是為太陰。此其於三陰。甚淺而甚緩也。此無有發熱也。若脈浮發熱。則取之於表也。例曰。太陰病。脈浮者。可發汗。宜桂枝湯是也。脈微細。但欲寐。欲吐不吐。心煩。自利而渴。手足寒。或咽中痛。是為少陰。比之太陰。則稍深而稍急也。此亦無有發熱也。若反發熱。則亦取之於表也。論曰。少陰病。始得之。反發熱。脈沉者。麻黃附子細辛湯主之。又曰。少陰病。得之二三日。麻黃附子甘草湯微發汗。以二三日無里證故。微發汗是也。脈太微。或全無。消渴。氣上撞心。心中疼熱。飢不飲食。吐利甚。四支厥逆。是為厥陰。比之少陰。則太深而太急也。此雖有發熱微熱外熱。而皆屬身熱。頗殊太陽之發熱也。且其脈之與厥冷。亦不相似也遠矣。三陰亦有惡風寒。而無發熱為其分。論曰。無熱惡寒者。發於陰是也。此專乎少陰而言之也。如厥陰。則篤危之極也。而有寒有熱焉。少陰亦不為不篤危。而不若厥陰之甚。少陰亦不為無寒熱。而不若厥陰之甚。不惟寒之極能為厥。而熱之極亦能為厥。是以特擅之厥陰也。雖均為厥乎。寒熱之分。不可不辨矣。夫三陽之主熱也。惟以惡風寒。辨其表裡。三陰之主寒也。惟以發熱辨其表裡。此為法矣。且有始於熱而之於寒者。有客於寒而主於熱者。乃三陽中論三陰之方證。三陰中載三陽之方證。交往交來。而能變能化。是乃張仲景氏之術之機活也。亦不可不審矣。由是而觀之。雖於三陰不言表裡。而在其淺深緩急之次。太陰則里之初也。少陰則里之本也。厥陰則里之末也。本末。猶表裡也。若以三陽三陰。合而言之。二陽則始。而二陰則終也。而二陽為表裡。二陰為本末。惟少陽太陰為之間。而少陽間於二陽。太陰間於陰陽。此其所以篇少陽於後。媲之於太陰也。凡是皆統之於陰陽。各歧而為三。次其淺深緩急。以示之轉機。使人易辨別者也。夫三陽三陰者。表裡之統名也。外內之分也。而表裡之外。非更有陰陽也。如曰發於陽。曰發於陰。曰陰陽俱虛。曰陰陽自和。皆以三陽三陰言之。豈在表裡之外乎。夫疾病之於變。雖千狀萬態。不可得而窮極乎。靡不惟陰陽之統焉。體之於大。而為陰陽。體之於小。而為表裡。大以創之。小以成之矣。故陰陽者。表裡之統名也。表裡豈非外內之分乎。後世陰陽之說。紛紛紜紜。加之以五行。欲以中仲景氏之論。豈其不益迂也矣哉。</p>
<p>六經之名。出於素問。本是經絡之義。各有其部位存焉。蓋自古有之矣。仲景氏乃假此以分表裡之部位。配其脈證。而為之統名也。惟是假之於經絡。是以視以為經絡。則莫之非經絡也。雖然。尋仲景氏之所論。專在外內之分。而非取之於經絡。則其於本旨。宜喚為三陽三陰爾。又奚以六經稱之之為。或曰或稱六經。或喚三陽三陰。本是一也。則稱六經。宜如無害然。奚更喚三陽三陰之為。曰不然。六經本以經絡名焉。而仲景氏假之表裡之統名。則雖其所指之不異。而其所推之不同也。故取之經絡焉。則遠推之於理也。取之表裡焉。則邇推之於事也。推於事之與推於理也。固非無徑庭矣。與其趨理於遠。寧從事於邇。是故不稱六經。而喚為三陽三陰者。此蓋仲景氏之本旨也。</p>

<h2>傷寒中風</h2>
<p>三陽三陰。本是為辨傷寒之狀而所設也。凡疾病之將速至篤危者。孰若傷寒之最太甚也。是故先於百病者。惟傷寒而已。張仲景氏之建規則也。以傷寒為主焉。惟是以傷寒為主。而又既不能無輕重也。於是乎謂其重者為寒。謂其輕者為風。寒曰傷。風曰中。亦惟輕重之別已。乃其於脈證也。亦既不能無寒熱也。於是乎謂熱為陽。謂寒為陰。陽曰浮。陰曰沉。亦惟寒熱之分已。乃其熱之與寒。亦既不得不之而復之也。於是乎各歧而為三。雖乃歧而為三。而又既不得不相交或及也。於是乎立合之與並。以盡其變矣。而其又復愈之而愈變也。變之又變。不得不遂之於雜脈證矣。夫既歧陰陽各三。而名三陽以表裡。以確其淺深也。如三陰。則緩急直至。故鮮及表裡者矣。張仲景氏之建規則也。以傷寒為主焉。而又辨其輕重。而出中風也。則傷寒中風。惟是輕重之別已。然後凡之所統也。惟在寒熱之分。而不出於陰陽二者焉。夫惟統之於陰陽。而建之規則也若此。可謂簡且約矣。能察其機。而制其變者。其惟張仲景氏之術耶。苟欲為仲景氏之所為也。厝其規則。將焉是依。不可不慎而守也。慎之不外。守之不內。是之謂能循規則矣。若夫傷寒中風之於別也。惟舉其脈證於太陽之篇首。而不舉之於陽明以下何耶。傷寒中風。惟是輕重之別已。而三陽三陰。各有其脈證具焉。則其於脈證。未嘗無輕重焉。然則各就其脈證。而較其輕重。則傷寒中風之別。可以辨知焉爾矣。於三陽三陰。太陽為之首。故舉其脈證於此。而示其輕重之別。以例於陽明以下。至於厥陰也。</p>

<h2>合病並病</h2>
<p>三陽三陰。以統其外內也。又系三陽以合併二者。而辨其相交或及也。於是乎脈證無有所遺焉。蓋合也者。謂在其始也。而既已太陽陽明及少陽之脈證之相交見者也。並也者。謂未離於太陽之脈證。薦及於陽明少陽者也。之二者之於輕重緩急也。合病為最重最急矣。並病之於合病。雖若稍輕稍緩乎。不若太陽之最輕最緩也。故並病亦不為不重且急矣。以其薦及於陽明少陽也。合病之所以最重最急者。以其始而既已交於陽明少陰也。此皆三陽之變脈證也。乃其治之也。亦各有法焉。故其於合病也。論曰。太陽與陽明合病者。必自下利。葛根湯主之。又曰。不下利。但嘔者。葛根加半夏湯主之。此皆雖其邪之既在於陽明。誘諸其表於發汗者也。又曰。太陽與陽明合病。喘而胸滿者。不可下。麻黃湯主之。此雖其邪之實於胃。先誘諸其表於發汗。然後下之者也。又曰。太陽與少陽合病。自下利者。黃芩湯主之。此以其邪之客於中位。不宜發汗。亦不宜下。故惟於中間而制之者也。又曰。三陽合病。腹滿身重。難以轉側。口不仁而面垢。讝語遺尿。若自汗出者。白虎湯主之。此以其邪之熾於二陽。不宜發汗。亦不宜下。故挫其勢於裡者也。是皆治合病之法也。其於並病也。例曰。二陽並病。太陽初得病時。發其汗。汗先出不徹。因轉屬陽明。續自微汗出。不惡寒。若太陽病證不罷者。不可下。下之為逆。如此可小發汗。此雖其既及於陽明。而其表之未除也。必先其表而後其里。故復例之曰。外證未解者。不可下也。下之為逆。論曰。二陽並病。太陽證罷。但發潮熱。手足漐漐汗出。大便難而讝語者。下之則愈。宜大承氣湯。此俟其表之已除。而後攻其里者也。此其一則太陽證未罷。一則太陽證已罷。純於陽明。此皆先表而後里者也。例曰。太陽與少陽並病。頭項強痛。或眩冒。時如結胸。心下痞鞕者。當刺大椎第一間。肺俞肝俞。慎不可發汗。發汗則讝語。又曰。太陽少陽並病。心下鞕。頸項強而眩者。當刺大椎肺俞。慎勿下之。又曰。少陽不可發汗吐下。發汗則讝語。吐下則悸而驚。論曰。本太陽病不解。轉入少陽者。脅下鞕滿。乾嘔不能食。往來寒熱。尚未吐下。脈沉緊者。與小柴胡湯。此以其客於中位。發汗吐下。皆非其所宜。故惟於中間而制之者也。是皆治並病之法也。二者之於治法其有先後若此。故合併之設名以別之者。以此其治法有先後也。夫既三陽有合併之名。而三陰獨無有者何耶。曰合併之為名。其相交或及者也。而三陽有之。則三陰亦不得無言焉。惟不設其名耳。設其名者。以治法之有先後也。不設其名者。以治法之一於救里。而無有先後也。故仲景氏之設名也。莫不關於治法焉。故三陽三陰之於名。此其治法之綱。而合病並病之於名。此其治法之目也。三陽之相交或及也。比之三陰。雖急而猶緩。此其治法。所以有先後也。三陰之相交或及也。其證雖緩。卻是已急。此其治法。所以一於救里也。故非惟三陽有合病並病。三陰亦有之。惟不設其名耳。三陽之設合併之名也。必關於治法焉。假如二陽並病。其始也是太陽證。而既及於陽明。則陽明似可攻。然太陽未離。則先發其汗。而後攻其陽明。此之為法也。於是既離於太陽也。謂之陽明病。既純於陽明也。無有並之名。故並。病者。未離於太陽之名也。如太陽少陽並病。及少陽陽明並病。則於少陽制之。此之為法也。並之於名。豈非關治法之有先後乎。如三陽合病。則或於少陽制之。假攻陽明。不以承氣。而以白虎。此之為法也。故例曰。發汗則躁。心憒憒反讝語。此言桂麻之不可行也。又曰。下之則額上生汗。手足逆冷。此言承氣之不中攻之也。合之於名。亦豈非關治法之有先後乎。他尚有不曰合病並病。而所謂合病並病者。亦當因此而推之而已。三陰之不設合併之名也。直舉其脈證。以具之治法。惟於太陰及少陰。其治法有一二似有先後之序者。論曰。太陰病。脈浮者。可發汗。宜桂枝湯。又曰。少陰病。始得之。反發熱。脈沉者。麻黃附子細辛湯主之。又曰少陰病。得之二三日。麻黃附子甘草湯微發汗。以二三日無里證故。微發汗也。此或以脈浮。或以發熱。皆取之於表也。於厥陰。則變先後之序。先其里而後其表。論曰。下利腹脹滿。身體疼痛。先溫其里。乃攻其表。又曰傷寒醫下之。續得下利。清穀不止。身疼痛。急當救里。後身疼痛。清便自調者。急當救表。例曰。下利清穀。不可攻表。汗出必脹滿。此以身體疼痛為表也。又霍亂之於治法亦然。是皆陰陽之相交或及者。而治法之有先後者也。他尚有其相交或及。或自熱而之寒。或表寒而裡熱者。凡是等之類。若命之名。則亦當曰陰陽之合病並病。而今不設其名者。以治法之一於救里也。其有先後者。僅不過二三。何則。陰陽之脈證。與治法之殊異。固不可同其名也。而其有合併之實。亦不可異其治法。是以三陰不言合病並病。而亦有治法有先後者也。夫三陽表也。而其中有表裡。以先後其治。三陰里也。其治法一於救里。故不言表裡。是故三陰不言合病並病。亦猶其不言表裡也。時或言里證者。不得已者也。要在於隨脈證。則又何煩命之名。拘此而施其治之為。惟是體之於大。此之為陰陽。體之於小。此之為表裡。雖其脈證之裂及於百千乎。莫不統而盡焉。故如合病並病。亦皆依於茲矣。如曰轉屬。曰轉入。曰轉系。則惟於並病乎言之也。假令其始於太陽。薦及於陽明少陽也。二證之相侔。是其並病也。既離於太陽。而純於陽明少陽是之為轉也。既轉而未純。是之為屬也。故轉入者。其既純焉者也。轉為轉系者。其未純焉者也。可見並病之輕於合病。合病之重於並病也。乃其於治法。先太陽而後陽明。非太陽則少陽。惟其一證而一方。仲景氏之所為。大抵為然。豈有並二三而治之之術也哉。其析陽明而為三。建太陽陽明。少陽陽明。正陽陽明之目者。蓋出乎後人之杜撰也。其如正陽陽明。則姑舍旃。惟其為太陽陽明。為少陽陽明者。此何所異乎並病也。夫既載合併二者於三陽。而辨其相交或及也。莫不盡而竭焉。而又覆載之於陽明篇首。更曰太陽陽明。曰少陽陽明。以混之名。最為無謂也。要之皆是三陽之變脈證。則系之以合併二者。以歸之於其一證而一方之治法。庶乎不遺而恨焉。豈可獨私之於陽明。析以為三。更建之目焉矣哉。</p>

<h2>冒首</h2>
<p>邪之於人也。不一而止焉。或自外。或自內。或輕或重。淺深之狀。緩急之態。奚止什佰而已哉。於是乎重為寒。輕為風。其自外者為陽。其自內者為陰。陽主乎熱。陰主乎寒。熱之匹乎三。以析淺深之狀。寒之匹乎三。以序緩急之態。然後有傷寒。有中風。而三陽三陰之部位定矣。部位既定。而熱莫不趨。寒莫不極。熱有合併。寒有兩厥。變耶變耶。雖之於千萬。無有所遺也。三陽三陰之於部位。各有其脈證具焉。乃舉其脈證於各篇之發端。以例之於各篇之每條。曰太陽之為病。脈浮。頭項強痛而惡寒。曰陽明之為病。胃家實也。曰少陽之為病。口苦咽乾。目眩也。曰太陰之為病。腹滿而吐食不下。自利益甚。時腹自痛。曰少陰之為病。脈微細。但欲寐也。曰厥陰之為病。消渴。氣上撞心。心中疼熱。飢而不欲食是也。各篇之每條。引之以為冒首。曰太陽病。曰陽明病。曰少陽病。曰太陰病。曰少陰病。曰厥陰病是也。三陽三陰之為病。雖異其脈證。而其邪即傷寒中風也。夫傷寒中風。輕重之別也。三陽三陰。內外之分也。傷寒中風為之經。三陽三陰為之緯。是故特舉其脈證於太陽之發端。以示其為輕重之別。以例於陽明以下。至於厥陰。曰脈緩者名為中風。曰脈陰陽俱緊者。名為傷寒是也。陽明以下。至於厥陰。亦例之以為冒首。各篇之中。曰傷寒。曰中風。皆是也。故傷寒中風者。邪之名也。以明其通者也。三陽三陰者。其部位也。以明其別者也。而今系中風傷寒之名於各篇之部位。則又如具一脈證然。然此未必然也。惟為其欲各就其部位。而見其輕重故也。凡冒首曰太陽病。曰陽明病。曰少陽病。曰太陰病。曰少陰病。曰厥陰病。曰傷寒。曰中風之類。皆統其脈證而言之也固矣。各有其旨存焉。豈徒任意而發之者哉。姑以太陽言之。惟標其本位者。是之為太陽病也。此或為中風。或為傷寒。其病之所在。不出於太陽本位者也。如桂枝湯。麻黃湯。葛根湯。桂枝加葛根湯。桂枝麻黃各半湯。桂枝二越婢一湯。大青龍湯等是也。又有通於傷寒中風二者。曰太陽病者。如大小柴胡湯等是也。又有其病仍不解。復加他證者。通之猶曰太陽病者。如桂枝去桂加茯苓白朮湯。葛根黃連黃芩湯。桂枝加厚朴杏子湯。桃核承氣湯。抵當湯。大陷胸湯。十棗湯。真武湯。桂枝人參湯等是也。又有前證已愈之後。更見他證者。亦通之猶曰太陽病者。如桂枝湯。（其氣上衝者）桂枝去芍藥湯。及去芍藥加附子湯。五苓散等是也。此皆通於發汗後吐後下後而言之也。又有直曰發汗後。曰吐後。曰下之後。曰發汗吐下後。曰大汗出後。而不及冒首者。如茯苓桂枝甘草大棗湯。桂枝加芍藥生薑人參新加湯。厚朴生薑甘草半夏人參湯。梔子豉湯。調胃承氣湯。白虎加人參湯。乾薑附子湯等是也。此其前證已愈之後。更見他證者。通而言之也。故皆曰後。又有直曰發汗若下之。曰發汗若下之。病尚不解。曰發汗病不解。曰發汗過多。曰大汗出。而不及冒首者。如梔子豉湯。茯苓四逆湯。芍藥甘草附子湯。桂枝甘草湯。桂枝二麻黃一湯等是也。此皆其病之仍不解。或復加他證者。亦通而言之也。故皆不曰後。又不惟標其本位之重者。或之於陽明。或之於少陽。或於少陰。或於厥陰者。皆通之為傷寒也。如麻黃湯。大小青龍湯。小建中湯。茯苓桂枝白朮甘草湯。大小柴胡湯。（柴胡桂枝幹薑湯。柴胡桂枝湯。柴胡加芒硝湯。柴胡加龍骨牡蠣湯屬焉。）半夏瀉心湯。（生薑瀉心湯。甘草瀉心湯。旋覆代赭石湯屬焉。）大黃黃連瀉心湯。（附子瀉心湯屬焉）赤石脂禹餘糧湯。五苓散。黃連湯。梔子豉湯。（梔子甘草豉湯。梔子生薑豉湯。梔子厚朴湯。梔子乾薑湯屬焉。）大陷胸湯。（小陷胸湯屬焉）調胃承氣湯。大小承氣湯。白虎湯。（白虎加人參湯屬焉）桂枝附子湯。（甘草附子湯屬焉）芍藥甘草湯。甘草乾薑湯。四逆湯（通脈四逆湯。茯苓四逆湯屬焉。）等是也。又標其輕者。各系之於其本位。以為中風也。曰太陽中風。曰陽明中風。曰少陽中風。曰太陰中風。曰少陰中風。曰厥陰中風是也。此二者。惟標其輕重而已。夫三陽三陰之於部位。本是為傷寒中風之設也。傷寒中風者。邪之名也。而未有其形之可見。於是外內與淺深。與緩急。各歧而為三。以形之也。有形而後輕重自見矣。此其所以系三陽三陰以傷寒中風也。要之傷寒之於變也博。是以其之於他者太多。以其重也。中風亦非無變也。而不如是之甚。是以各系之於其本位而已。以其輕也。其實則凡曰太陽病。曰陽明病。曰少陽病。曰太陰病。曰少陰病。曰厥陰病者。皆或以傷寒言。或以中風言也。又何深拘泥之為。雖然。不識此分別。則不能審其位之在何之部。而果輕耶果重耶。然則此其分別。亦復何容忽諸哉。又有傷寒中風連言者。如小柴胡湯。甘草瀉心湯是也。此以其始之雖於傷寒乎。雖於中風乎。遂及於此者言之也。又有謂合病並病。曰太陽病下之。或曰發汗若下之。或曰發汗吐下之後。而不及冒首者。如調胃承氣湯。大小承氣湯。大小柴胡湯等是也。凡不及冒首者。或有聯牽上冒首來。當就而審焉已矣。又有單曰病。或曰病人者。此以其例於他者。與其有說於此者。與其在初也。脈證相措而位未可定者言之也。如例曰病有發熱惡寒者。發於陽也。無熱惡寒者。發於陰也。則其例於它者也。如論曰病人藏無他病。時發熱。自汗出而不愈者。先其時發汗則愈。則其有說於此者也。如論曰病發熱頭痛。脈反沉。若不瘥。身體疼痛。當救其里。則其在初也。脈證相錯而位未可定者也。凡是皆在太陽者之概也。陽明以下。至於厥陰。亦皆可准知焉已矣。惟少陰不曰傷寒。似乎可疑。然既有中風。則不得言無焉。乃今推其曰少陰病者。咸是傷寒。而標其本位者也。是故曰始得之。曰一二日。曰二三日。以明其創於茲也。又奚疑之為。厥之歧為兩也。惟寒之與熱。寒能為厥。熱亦能為厥。所以歧為兩也。大抵三陽主乎熱。三陰主乎寒。無論寒之為厥。至如熱之為厥。則其所主。當在於陽明而已。而今措其所主。而一之於厥陰者何耶。夫雖熱之趨於陽明。而厥固非陽明之位也。何以篇之於陽明乎。三陽三陰。本是取證於外。以定其部位者也。厥者外證也。雖內有兩歧乎。不得不取之於外也。雖則取之於外乎。他有可以候之證而具。則又奚可混乎。此其所以一於厥陰也。若果篇之於陽明。則不啻不中其位。得無以寒為熱之泥乎。乃今一之於厥陰。猶不得無以熱為寒之惑也。我將臨之以他可以候之證而已。雖厥之一於外。而寒熱果殊於內矣。豈可且泥且惑以混之哉。厥之於寒熱也。寒為其本位。雖熱之非其本位乎。臨之於外。而一之於此。不以厥陰為冒首。而咸以傷寒為冒首者。以其重之極故也。故特於厥陰篇。咸曰傷寒。而曰厥陰病者少。亦惟為之故也。可見傷寒之重。自有輕重。中風之輕。亦自有輕重。及其之變也。其輕者漸重。其重者遂危。熱之所趨。寒之所極。經緯於三陽三陰。而千萬不遺也。</p>

<h2>正屬</h2>
<p>三陽三陰之於脈證。有正焉。有屬焉。而治法必從之。何謂正乎。專而無所兼。是之為正。如太陽之脈浮。頭項強痛而惡寒。陽明之胃家實。少陽之口苦咽乾目眩。此則三陽之正脈證也。何謂屬乎。或兼或不專。是為之屬。如曰本太陽初得病時。發其汗。汗先出不徹。因轉屬陽明。曰服柴胡湯。已渴者。屬陽明。曰蒸蒸發熱者屬胃。曰傷寒脈弦細。頭痛發熱者屬少陽。此則三陽之屬脈證也。而三陰之於正之於屬。亦猶三陽。可以准知矣。而三陽三陰之於脈證。有正焉。有屬焉。而治法必從之。惟於太陽與厥陰。無屬脈證何也。太陽則病之始也。重為傷寒。輕為中風。交名合。及名並。此有及於彼。而彼無及於此。太陽之所以無屬脈證也。厥陰則病之終也。彼若及於此。則既已危。此何復及於彼。厥陰之所以無屬脈證也。</p>

<h2>脈候</h2>
<p>脈之為候也。其所統。亦惟不出於陰陽焉。陽曰浮。陰曰沉。如緩緊遲數滑澀。莫不繫於浮沉。譬如經之與緯。浮沉為經。而以此先定陰陽之病位也。緩緊遲數滑澀為緯。而以此繼察其輕重緩急也。是故三陽而浮。三陰而沉。緩為中風。緊為傷寒。此脈候之概也。而其所候之處。以寸口為本脈。趺陽少陰副之。此三者。古之遺法也。而脈法大備焉。若其陰陽人迎關尺之義。此皆醫法末路之失也。何以言之。凡脈候。有以陰陽言者。有以三部言者。而其所謂陰陽亦不一也。說者以為浮沉。或以為尺寸。浮沉即舉按之義。尺寸即上下之別也。夫陰陽也者。表裡之統名。而假以辨之證者也。而今復假之於診法。何其妄也。若此陰陽。但為浮沉之義則猶可。必取之舉按則不可。何則。浮沉惟其動之昂低者。而自在於彼。自在於彼。則候之而自知。何必由我之且舉且按乎。古聞切脈。未聞舉按。而況於以陰陽為舉按之義乎。故但為浮沉之義則猶可。必取之舉按則不可。夫陰陽也者。表裡之統名。而假以辨之證者也。而今又復假之於尺寸。何其紛也。取譬之不邇。則無弗罔。而其趨於多歧也。亦無弗迷。本是一陰陽也。一譬之表裡。而再譬之浮沉。而三譬之尺寸。則其弗罔且迷者幾希。脈診之所以不彰於今也。今夫審張仲景氏之所論。惟曰脈浮。浮緊。浮緩。浮數。而不指其所候之在何處也。惟曰脈沉。沉緊。沉細。沉微。而不指其所候之在何處也。凡若此類。皆不逮陰陽寸關尺者也。而其以陰陽者。僅三四。其以寸關尺者。亦不過五六。然則其惟曰脈浮脈沉者之最多。而其逮陰陽寸關尺者之最少也。若必以陰陽寸關尺。為不可不候者。則其惟曰脈浮脈沉而不指其所候之在何處也。何其粗且略耶。三部亦其說之不一也。或取三指一寸九分之間。或取寸口至尺澤。分陽分陰。藏與府之配。而察虛實死生也。亦為可疑矣。素靈無寸關尺之說。但有寸口人迎。而仲景氏不言人迎。時言趺陽少陰也。由是而觀之。則古之於脈法。未嘗逮陰陽寸關尺也。陰陽寸關尺。或肇於晉王叔和氏耶。而叔和氏之於脈法。立七表八里九道。合為二十有四。而今考之仲景氏之書。陰陽寸關尺。及二十有四之目。皆現而存者何耶。叔和氏之巧脈診。私取其脈法。以配之於本論。自試其技者。遂謬而混焉者耶。不爾。何惟曰脈浮脈沉者之最多。而逮陰陽寸關尺者之最少耶。若必以陰陽寸關尺。為不可不候者。則何惟曰脈浮脈沉。而不指其所候之在何處也。此豈非粗且略耶。古之於脈法。其詳不可得而知矣。雖然。觀乎其惟曰脈浮脈沉者之最多。且不指其所候之在何處。則其所候之處。必當在寸口也。而未必若後世三指取三部。惟其候之也。潛心於茲。無敢失之輕易矣。素靈無寸關尺之說。但有寸口人迎。而仲景氏不言人迎。時言趺陽少陰也。則其所候之處。特為在寸口者。此為不誣也。糅之以趺陽少陰。則脈法大備焉。庶幾不大⿱斁灬於古耶。若夫三部之說。或取三指一寸九分之間。或取寸口至尺澤。分陽分陰。藏與府之配而察虛實死生者。非不纖悉也。而今試按其所謂三部者。三指之所應。未嘗不一動也。則其雖寸口至尺澤。亦無不皆然焉。然則其特為在寸口者。不必以三指。雖二指或一指。亦何不可之有。不特於寸口。趺陽少陰。亦惟隨切隨察。何必三指取三部之為。至如叔和氏之輩。立七表八里九道。合為二十有四。則不為不相似。亦終不可施於事。則何從如此之煩為。夫脈證者。疾病之轉機。而相依不離者也。故脈必須證。證必須脈。然後疾病莫攸隱匿焉。古者稱醫為脈家。如扁鵲倉公輩。亦皆以脈其選也。仲景氏之於方論。亦復舉脈證。以為處方之準據。則又何廢脈之為。</p>

<h2>熱五道（十二名）</h2>
<p>三陽之所主。在於熱焉。熱之所名而喚者。凡十有二。而其大綱凡五焉。大綱凡五。而其所統不出於表裡矣。一曰惡寒發熱。二曰往來寒熱。三曰身熱。四曰惡熱。五曰潮熱。此五者。熱之大綱也。不可不辨矣。有表熱。有外熱。有微熱。是皆屬身熱也。有裡熱。有煩熱。有瘀熱。有蒸蒸發熱。是皆屬惡熱也。此七者。熱之小目也。亦不可不辨矣。雖然。或屬身熱。或屬惡熱。則大綱不過於五焉。然後惡寒發熱。往來寒熱。此二者為表。以其有惡寒也。身熱。惡熱。潮熱。此三者為里。以其無惡寒也。然則雖其凡之綱於五焉。而其所統不出於表裡矣。蓋惡寒發熱者。惡寒且發熱也。而其熱全在於大表。翕翕者也。是為太陽。往來寒熱者。熱之與寒。互往而互來也。而其熱在於胸脅之間。使人心煩喜嘔者也。是為少陽。身熱者。胸腹之常熱也。而其熱在於肌膚。使人身重微煩者也。惡熱者。惡如惡寒噁心之惡。而其熱全在於分肉。鬱郁如蒸。炎炎如焮。能使人常煩者也。潮熱者。其發之必有時也。猶如潮汐之以時來去也。而其熱專結於裡。時又熏於肉。亦能使人煩躁者也。此三者為陽明。陽明者。三陽之極也。故其熱之及也。或膚。或肉。或里。惟其極為然矣。三陰之主寒也。尚有表熱外熱發熱微熱等。雖然。其脈之與證。固與三陽不同也。而三陰之於脈證。沉微細。而手足寒。甚則無脈。而四支厥逆。故雖有表熱外熱發熱微熱等。非如三陽之脈浮。一身手足盡溫也。是之為其別。亦不可不辨矣。又有曰熱入血室者。此亦為一種之目也。而或屬往來寒熱。或屬潮熱。又有曰無大熱者。此非若上所舉之五之數也。大即大表之大。非大小之大。故無大熱者。謂無表證也。即指太陽之發熱惡寒而言之矣。又如曰熱結。曰結熱。曰熱實。曰協熱。曰合熱。曰熱越。曰熱利之類。亦皆非如上所舉之五之數也。辨詳於各條之下。</p>
<p>先於此。或請問熱之辨。余答以五綱十二名。或曰五綱十二名。既聞其教矣。然於其情狀。猶有未盡者。願書以再教我。我幸以此辨之。吾子其勿辭哉。余不得止。書以與之。乃今搜得其稿於巾衍。此雖與前之所辨或重複乎。直附於此。以便於初學云。</p>
<p>惡寒發熱　惡寒之中且發熱。發熱之中且惡寒也。</p>
<p>一日二三度發　發熱之中且惡寒。熱多而寒少。其發作也。日至二三度。而與往來寒熱頗異。故論曰。如瘧狀。此以其二三度發作言之也。又曰其人不嘔。此以其異於往來寒熱言之也。</p>
<p>日再發　同上而稍輕矣。故不至二三而再。再也者。不過一二之辭。二三也者。逾再次之辭也。二三之所以為重也。</p>
<p>時發熱　此惟時時發熱已。與潮熱之期時而發大異矣。蓋發熱者。在大表而翕翕者也。潮熱者。在分肉而蒸蒸者也。大表淺矣。故未至煩躁也。分肉深矣。故使人煩躁也。此豈非大異乎。</p>
<p>往來寒熱　寒止即熱。熱止即寒。互而發者也。而其自熱而之寒也。非無間也。惟是為間。而復繼發之如初。所以名曰往來也。</p>
<p>發作有時　此其寒與熱之休作。必以時者也。或以午後發。至未申之間而休。或以未申之間發。至酉戌之間而休。或暮時而發。夜半而休。或夜半而發。至天明而休。凡若此類。皆以名焉。此與潮熱相似而頗異。潮熱之必以時也。既結於裡。而蒸蒸於分肉。故無有寒。而發為惡熱煩躁也。若乃發作有時也。猶專於胸脅。而翕翕於肌表。故寒熱互發。未至煩躁也。此之為其分矣。</p>
<p>潮熱　熱之發也。必有時矣。猶潮汐之來去以時也。所以名曰潮也。且其於常也。必身熱。當其發也。必惡熱。所以使人煩躁也。不但於日晡所。或於午未申之間。亦可以名之矣。若必於日晡所而名矣。則惟曰潮熱足矣。復何煩日晡所字乎。其實則有於日晡所者。有於午未申之間者。又有日晡所發熱者。惟是潮熱之蒸蒸於分肉。此為正陽明也。惟是發熱之翕翕於肌表。此為屬陽明也。雖均之於日晡所乎。或肌表。或分肉。淺深之分。不可無辨矣。所以更冠日晡所字。以辨潮熱發熱之分也。</p>

<h2>惡寒三道</h2>
<p>惡寒之於別。凡三道焉。有發於陽者。有發於陰者。有因精氣虛者。此三道者。為惡寒之別也。而其發於陽者。必脈浮。而有熱。是即桂枝麻黃之所之也。例曰。有發熱惡寒者。發於陽也。其發於陰者。必脈沉而無熱。是即附子之所之也。例曰。無熱惡寒者。發於陰也。其因精氣虛者。必在於表裡已解之後也。例曰。脈微而惡寒者。此陰陽俱虛。又曰發汗後。惡寒者虛故也。此既非病之所使也。固無有藥之可以治矣。故例曰。不可更發汗更下更吐也。然則何以乎。惟飲食之養而已。古語曰。養精以穀肉果菜。此即其法也。夫藥也者。制變焉者也。故病已愈之後。猶且因循服藥而不罷者。固非法也。況乎無故而常服藥乎。惡風惡寒。亦惟輕重之別已。雖然。考仲景氏之所論。傷寒言惡風。中風言惡寒。互而不拘也。然試辨其輕重。才風於身。則忽灑淅毛穴聳起。不風則否。是為惡風也。不在其風於身之與否。寒既自內而發。不但毛聳。雖襲衣被之數枚乎。嗇嗇如身將縮狀。是為惡寒也。此其輕重之辨也。雖然。觀乎仲景氏既互言而不拘。則欲以此而強辨傷寒中風者。太拘且泥矣。</p>
<p>惡寒之於陰陽。其治法分為二十有四焉。其發於陽者。凡十有七。論曰。太陽中風。陽浮而陰弱。嗇嗇惡寒。淅淅惡風。鼻鳴乾嘔者。曰太陽病。頭痛發熱。汗出惡風者。皆桂枝湯主之。曰太陽病。頭痛發熱。身疼腰痛。骨節疼痛。惡風。無汗而喘者。麻黃湯主之。曰太陽病。項背強𠘧𠘧。無汗惡風者。葛根湯主之。曰太陽病。項背強𠘧𠘧。反汗出惡風者。桂枝加葛根湯主之。曰太陽病。脈浮緊。發熱惡寒。身疼痛。不汗出而煩躁者。大青龍湯主之。曰太陽病。得之八九日。如瘧狀。發熱惡寒。熱多寒少。其人不嘔。清便欲自可。日二三度發。宜桂枝麻黃各半湯。曰若形如瘧。日再發。宜桂枝二麻黃一湯。曰太陽病。發熱惡寒。熱多寒少。宜桂枝二越婢一湯。曰傷寒中風五六日。往來寒熱。胸脅苦滿。默默不欲飲食。心煩喜嘔。曰傷寒四五日。身熱惡風。頸項強。脅下滿。手足溫而渴者。皆小柴胡湯主之。曰傷寒六七日。發熱微惡寒。支節煩疼。微嘔。心下支結。外證未去者。柴胡加桂枝湯主之。曰傷寒十餘日。熱結在裡。復往來寒熱者。與大柴胡湯。曰傷寒五六日。已發汗。而復下之。胸脅滿。微結。小便不利。渴而不嘔。但頭出汗。往來寒熱。心煩者。此為未解也。柴胡桂枝幹薑湯主之。曰傷寒若吐若下後。七八日不解。熱結在裡。表裡俱熱。時時惡風。大渴。舌上乾燥而煩。欲飲水數升者。曰傷寒無大熱。口燥渴。心煩。背微惡寒者。皆白虎加人參湯主之。此其發於陽者。而其治法。或專於表。或制之於中位者也。其遂之於陰位者凡二。論曰。太陽病。發汗遂漏不止。其人惡風。小便難。四支微急。難以屈伸者。桂枝加附子湯主之。曰太陽病。下之後。脈促。胸滿。微惡寒者。桂枝去芍藥加附子湯主之。此其遂之於陰位者。而其治法。猶主陽而及陰者也。其陰陽相錯者一。論曰。風濕相搏。骨節煩疼。掣痛不得屈伸。近之則痛劇。汗出短氣。小便不利。惡風不欲去衣。或身微腫者。甘草附子湯主之。此其陰陽相錯者。而其治法。陰陽並治者也。其發於陰者凡五。論曰。心下痞。而復惡寒。汗出者。附子瀉心湯主之。曰少陰病一二日。口中和。其背惡寒者。附子湯主之。曰大汗出。熱不去。內拘急。四肢疼。又下利厥逆而惡寒者。曰吐利汗出。發熱惡寒。四肢拘急。手足厥冷者。皆四逆湯主之。曰惡寒。脈微而複利。利止亡血也。四逆加人參湯主之。此其發於陰者。而其治法。皆專於陰者也。惡寒之於陰陽。其治法之分若此。不可不審矣。</p>
<p>夫三陽之自外也。其所主在於熱。而其所候專在於惡寒。故以惡寒為外候之標準也。是故於太陽之篇首。姑措發熱。而獨舉惡寒以示其為標準也。惡寒既為外候之標準也。莫論其為太陽。於少陽則為往來。於陽明則獨無有矣。少陽之為往來也。以其在胸脅也。陽明之獨無有也。以其入於胃也。若其有之也。猶取之於表。必先發其汗。惟俟惡寒止。為專於陽明之候。而後攻其里。此為法也。故例曰。若汗多。微發熱惡寒者。外未解也。其熱不潮。未可與承氣湯。又曰。陽明病。脈遲。汗出多。微惡寒者。表未解也。可發汗。宜桂枝湯。又曰。陽明病。脈浮。無汗而喘者。發汗則愈。宜麻黃湯。又大陷胸湯曰。脈浮而動數。頭痛發熱。微盜汗出。而反惡寒者。表未解也。大黃黃連瀉心湯曰。心下痞。惡寒者。表未解也。不可攻痞。當先解表。十棗湯曰。汗出不惡寒者。此表解里未和也。此惡寒果為外候之標準也。所以於太陽之篇首。姑措發熱。而獨舉惡寒也。是故凡曰表證。曰外證。曰表不解。曰外已解者。皆指太陽之發熱惡寒言之也。於脈則必浮。故例曰。脈浮者。病在表。可發汗。又曰。脈浮數者。可發汗。又曰。脈浮數者。法當汗出而愈。又曰。脈浮宜以汗解。脈之於例。亦惟為然矣。三陰之自內也。其所主在於寒。而其所候之法。在於析其有熱否。以發熱為外候之標準也。是故論曰。少陰病。始得之。反發熱。脈沉。又曰以二三日無里證故。微發汗也。發熱之果為外候之標準也。其論其為少陰。姑以發熱。取之於表。曰無里證。以明其以發熱為外候之標準也。於是微發其汗。此為法也。又曰。太陰病。脈浮者。可發汗。亦取之於表者也。由是觀之。發熱果為外候之標準也。惟厥陰則寒之極也。熱之極也。故雖或發熱惡寒乎。頗異於太陽也。何以見其異乎。太陽則脈浮。手足自溫。厥陰而脈微欲絕。四支厥逆。所以為異也。惡寒之於別。或發於陽。或發於陰。或因精氣虛。而治法各以其類。分惡寒之別。豈可不審矣哉。</p>

<h2>頭痛頭眩各二道</h2>
<p>頭痛頭眩。亦皆有陰陽之別。而頭痛則專於太陽。而厥陰與焉。頭眩則專於少陽。而少陰與焉。何謂頭痛則專於太陽。而厥陰與焉。例曰。太陽之為病。脈浮。頭項強痛而惡寒。論曰。太陽病。頭痛發熱。汗出惡風者。桂枝湯主之。曰太陽病。頭痛發熱。身疼腰痛。骨節疼痛。惡風。無汗而喘者。麻黃湯主之。此豈非專於太陽乎。論曰。病發熱頭痛。脈反沉。若不差。身體疼痛。當救其里。宜四逆湯。曰乾嘔吐涎沫。頭痛者。吳茱萸湯主之。此豈非厥陰與焉乎。頭痛之於陰陽也若此矣。陰陽也者。惟是寒熱之別也。何謂頭眩則專於少陽。而少陰與焉。例曰。少陽之為病。口苦咽乾目眩也。論曰。傷寒若吐若下後。心下逆滿。氣上衝胸。起則頭眩。脈沉緊。茯苓桂枝白朮甘草湯主之。此豈非專於少陽乎。論曰。太陽病。發汗。汗出不解。其人仍發熱。心下悸。頭眩。身瞤動振振。欲擗地者。真武湯主之。例曰。少陰病。下利止而頭眩。時時自冒者死。此豈非少陰與焉乎。頭眩之於陰陽也若此矣。陰陽也者。亦惟寒熱之別也。又霍亂之於頭痛也。論曰。霍亂頭痛發熱。身疼痛。熱多欲飲水者。五苓散主之。此發於陽也。又曰。寒多不用水者。理中丸主之。此發於陰也。霍亂之有陰陽。亦不出乎寒熱之外也。頭痛之專於太陽也。又有延及於陽明少陽者。論曰。傷寒不大便六七日。頭痛有熱者。與承氣湯。其小便清者。知不在裡。仍在表也。若頭痛者必衄。宜桂枝湯。此其於不大便。雖既為陽明。而其於頭痛。猶未離太陽。於是又因其小便之清濁。而益審其病位者也。故不標其病位。而曰傷寒。此豈非頭痛之延及於陽明乎。論又曰。傷寒脈弦細。頭痛發熱者。屬少陽。此其於脈弦細。雖既為少陽。而其於頭痛發熱。猶未離太陽者也。故亦不標其病位。而曰傷寒。曰屬。此豈非頭痛之延及於少陽乎。論又曰。太陽中風。下利嘔逆。表解者。乃可攻之。其人漐漐汗出。發作有時。頭痛。心下痞鞕滿。引脅下痛。乾嘔短氣。汗出不惡寒者。此表解里未和也。十棗湯主之。此其於病位。當為少陽。此而若惡寒。則宜先與小柴胡湯而已。論又曰。太陽病。脈浮而動數。頭痛發熱。微盜汗出而惡寒者。表未解也。此其於病位。亦當為少陽。此二者。皆雖標以太陽。而其於頭痛。亦惟延及於少陽者也。</p>

<h2>嘔吐各二道（附噦）</h2>
<p>嘔吐之有陰陽也。亦惟熱之與寒。凡各二道焉。而治法則三十有六也。熱之為嘔吐也。以其或及於胃。或逼於胃。或素心下有水氣。為彼所激也。此為自外使之也。故取之於陽。寒之為嘔吐也。亦以其或及於胃。或逼於胃。或素心下有水氣。為彼所激也。此為自內使之也。故取之於陰。惟熱則脈必浮。若或不浮。固不得為沉。惟寒則脈必沉。縱至微細。固不能為浮。一寒一熱。是為陰陽之別。凡之所以各為二道也。若夫二者之為嘔吐也。固有輕重焉。於是或嘔。或吐。或欲嘔。或欲吐。或嘔逆。或吐逆。或嘔吐。或欲嘔吐。或乾嘔。差其所名。以分其輕重。名分不可不辨矣。蓋嘔者。有欲吐之意而作聲也。吐者。有物即出也。欲嘔者。胸中憒憒。殆將作聲者也。欲吐者。有物將出而未出者也。嘔逆吐逆者。欲嘔欲吐。而其氣衝於上者也。嘔吐者。有聲而物出也。欲嘔吐者。聲物將兼出者也。乾嘔者。無物而徒作聲也。此為其名分矣。名分彰。而輕重可較。輕重較。而處方惟的。名分豈可不辨乎。嘔吐之於證也。又有主客焉。專乎此而兼乎彼。是為之主也。專乎彼而兼乎此。是為之客也。惟是在其勢而已。故勢在於此。則必於此。勢在於彼。則必於彼。此其於處方。隨其勢而制之者也。主客何外乎輕重。輕重何離乎寒熱。寒熱也者。陰陽之謂也。故凡察證之務。始於寒熱。中於輕重。終於主客。轉機之本也。處方之要也。不可不審焉。亦不可不慎焉。嘔吐之於陰陽也。治法則三十有六者何謂也。其在陽位而嘔者。凡九焉。論曰。太陽與陽明合病。不下利。但嘔者。葛根加半夏湯主之。曰傷寒中風五六日。往來寒熱。胸脅苦滿。默默不欲飲食。心煩。喜嘔者。小柴胡湯主之。曰傷寒五六日。嘔而發熱者。柴胡證具。而以他藥下之。柴胡證仍在者。復與柴胡湯。此雖已下之。不為逆。必蒸蒸而振。卻發熱。汗出而解。曰陽明病。脅下鞕滿。不大便而嘔。舌上白胎者。可與小柴胡湯。曰嘔不止。鬱郁微煩者。與大柴胡湯。下之則愈。曰傷寒十三日不解。胸脅滿而嘔。日晡所發潮熱。潮熱者實也。先宜小柴胡湯以解外。後以柴胡加芒硝湯主之。曰傷寒六七日。發熱微惡寒。支節煩疼。微嘔。心下支結。外證未去者。柴胡加桂枝湯主之。曰太陽與少陽合病。自下利。若嘔者。黃芩加半夏生薑湯主之。曰發汗吐下後。虛煩不得眠。若嘔者。梔子生薑豉湯主之。其在陰位而嘔者。凡五焉。論曰。少陰病。腹痛小便不利。四肢沉重疼痛。自下利者。此為有水氣。其人或不下利。或嘔者。真武湯主之。曰少陰病。下利六七日。咳而嘔渴。心煩不得眠者。豬苓湯主之。曰少陰病。下利。脈微澀。嘔而汗出。必數更衣。反少者。當溫其上灸之。（按溫其上。蓋與四逆湯以溫之也。）曰令病者靜而復時煩。須臾止。得食而嘔。又煩者。蛔聞食臭出。其人當自吐蛔。蛔厥者。烏梅丸主之。曰嘔而脈弱。小便複利。身有微熱。見厥者難治。四逆湯主之。此嘔之別於二道。而治法之以寒熱異者也。其在陽位而吐者。凡二焉。論曰。中風發熱。六七日不解而煩。有表裡證。渴欲飲水。水入則吐者。名曰水逆。曰霍亂頭痛發熱。熱多欲飲水者。皆五苓散主之。其在陰位而吐者。凡五焉。論曰。少陰病。吐利手足厥冷。煩躁欲死者。吳茱萸湯主之。曰少陰病。飲食入口則吐。心中溫溫欲吐。復不能吐。始得之。手足寒。脈弦遲者。此胸中實。不可下也。當吐之。（按此蓋瓜蒂散之所之也）曰傷寒本自寒下。醫復吐下之。寒格更逆吐下。若食入口即吐者。乾薑黃連黃芩人參湯主之。曰吐利汗出。發熱惡寒。四肢拘急。手足厥泠者。四逆湯主之。曰霍亂寒多不用水者。理中丸主之。此吐之別於二道。而治法之以寒熱異者也。其在陽位而欲嘔欲吐者。各一焉。論曰。食谷欲嘔者。屬陽明也。吳茱萸湯主之。曰太陽病。過經十餘日。心下溫溫欲吐。而胸中痛。大便反溏。腹微滿。鬱郁微煩。先此時。自極吐下者。與調胃承氣湯。此欲嘔欲吐者之偏於陽位。而治法各亦以其輕重異者也。其在陽位而嘔吐。欲嘔吐者。各一焉。論曰。傷寒汗出不解。心下痞鞕。嘔吐而下利者。大柴胡湯主之。曰傷寒胸中有熱。胃中有邪氣。腹中痛。欲嘔吐者。黃連湯主之。此嘔吐及欲嘔吐者之偏於陽位。而治法各亦以其輕重異者也。其在陽位而嘔逆者。凡二焉。論曰。太陽病。或已發熱。或未發熱。必惡寒。體痛嘔逆。脈浮緊者。（此雖為名傷寒之例。於法必是麻黃湯之所之也。）曰太陽中風。下利嘔逆。表解者。乃可攻之。其人漐漐汗出。發作有時。頭痛。心下痞鞕滿。引脅下痛。乾嘔短氣。汗出不惡寒者。此表解里未和也。十棗湯主之。其之陰位而吐逆者一焉。論曰。傷寒脈浮。自汗出。小便數。心煩。微惡寒。腳攣急。反與桂枝湯。欲攻其表。此誤也。得之便厥。咽中干。煩躁吐逆者。作甘草乾薑湯與之。此嘔逆吐逆之別於二道。而嘔逆之暴急在陽。吐逆之深劇在陰。是陰陽之分也。而其於治法。亦以寒熱異者也。其在陽位而乾嘔者。凡四焉。論曰。太陽中風。陽浮而陰弱。嗇嗇惡寒。淅淅惡風。翕翕發熱。鼻鳴乾嘔者。桂枝湯主之。曰傷寒表不解。心下有水氣乾嘔。發熱而咳者。小青龍湯主之。曰傷寒中風。醫反下之。其人下利日數十行。穀不化。腹中雷鳴。心下痞鞕而滿。乾嘔。心煩不得安者。甘草瀉心湯主之。曰本太陽病不解。轉入少陽脅下鞕滿。乾嘔不能食。往來寒熱。尚未吐下。脈沉緊者。與小柴胡湯。其在陰位而乾嘔者。凡四焉。論曰。少陰病。下利清穀。裡寒外熱。手足厥逆。脈微欲絕。身反不惡寒。其人或乾嘔者。通脈四逆湯主之。曰若膈上有寒飲。乾嘔者。急溫之。宜四逆湯。曰乾嘔吐涎沫。頭痛者。吳茱萸湯主之。曰少陰病。下利。脈微者。與白通湯。利不止。厥逆無脈。乾嘔煩者。白通加豬膽汁湯主之。此乾嘔之別於二道。而治法亦以寒熱異者也。嘔吐之於陰陽也。輕重之差。主客之勢。治法之分為三十有六者如此。轉機之本也。處方之要也。察證之務。豈可不審焉哉。亦豈可不慎焉哉。</p>
<p>噦者噦逆也。後之所謂呃逆也解為乾嘔者非也。論中有噦。有乾嘔。噦果乾嘔。當但曰噦。何更曰乾嘔也。噦乾嘔。自異其證。義亦自不同。豈可混乎。然其嘔噦並言。即乾嘔之義。字書云。有聲無物曰噦。因解為乾嘔耳。蓋噦逆者。氣逆上衝。吃吃作聲也。素問曰。胃為氣逆為噦。仲景氏以胃中虛冷言之也。論曰。食谷者噦。曰與水則噦。曰飲水則噦。曰下之早則噦。曰攻其熱必噦。曰時時噦。曰加噦者不治。曰噦而腹滿之類。此皆後之所謂呃逆。而非乾嘔也。故噦者。噦逆也。然不載其治法矣。又以咳逆為呃逆者。是後世之所創。而非其正名也。曰噦。曰呃。曰咳。一證而二三其名。則來者之不眩惑者幾希矣。</p>

<h2>咳喘各二道</h2>
<p>咳喘之岐以陰陽也。凡各二道焉。亦必以熱以寒。猶嘔吐耳。此二者之為咳為喘者。或自外。或自內。雖均為咳為喘乎。寒熱之分。不可不辨矣。咳之為證。雖云有陰有陽。而輕重隨之。亦唯可以為一證耳。唯喘也有所異。喘之為證。獨多乎熱。而少乎寒也。熱之聚會乎為喘。寒之奔騰乎為喘。熱之極也。寒之極也。惟其於極。寒之為甚。故寒之於喘。為極之極也。危殆之至也。既是為極之極。所以獨多乎熱。而少乎寒也。於熱乎猶可救。於寒乎不可救也。是故三陽有治法。而三陰無治法也。喘之為證。不可不畏矣。咳之於陰陽也。治法凡五焉。而其於陽也。凡二焉。論曰。傷寒表不解。心下有水氣。乾嘔。發熱而咳者。小青龍湯主之。曰傷寒中風五六日。往來寒熱。胸脅苦滿。默默不欲飲食。心煩喜嘔。或咳者。小柴胡湯主之。其於陰也。凡三焉。論曰。少陰病。腹痛小便不利。四肢沉重疼痛。自下利。或咳者。真武湯主之。曰少陰病。下利六七日。咳而嘔渴。心煩不得眠者。豬苓湯主之。曰少陰病。四逆。其人或咳或悸。或小便不利。或腹中痛。或泄利下重者。四逆散主之。此五者。皆咳之治法。而陰陽之別也。不可不審矣。喘之於陰陽也。熱可救。而寒不可救。故治法之關於此者。惟在陽位。凡十有二焉。論曰太陽病。頭痛發熱。身疼腰痛。骨節疼痛。惡風。無汗而喘者。麻黃湯主之。曰太陽與陽明合病。喘而胸滿者。不可下。宜麻黃湯主之。曰傷寒心下有水氣。咳而微喘。發熱不渴者。小青龍湯主之。曰太陽病。桂枝證。醫反下之。利遂不止。脈促者。表未解也。喘而汗出者。葛根黃連黃芩湯主之。曰太陽病。下之微喘者。表未解故也。桂枝加厚朴杏仁湯主之。曰發汗後。不可更行桂枝湯。汗出而喘。無大熱者。麻黃杏仁甘草石膏湯主之。曰陽明中風。口苦咽乾。腹滿微喘。發熱惡寒。脈浮而緊。曰陽明病。脈浮而緊。咽燥口苦。腹滿而喘。發熱。汗出而不惡寒。反惡熱身重。若渴欲飲水。口乾舌燥者。白虎加人參湯主之。若脈浮。發熱。渴欲飲水。小便不利者。豬苓湯主之。曰陽明病。脈浮。無汗而喘者。發汗則愈。宜麻黃湯。曰陽明病。脈遲。雖汗出。不惡寒者。其身必重。短氣。腹滿而喘。有潮熱者。此外欲解。可攻裡也。曰傷寒四五日。脈沉而喘滿。汗出讝語者。以有燥屎在胃中也。須下之。曰病人小便不利。大便乍難乍易。時有微熱。喘冒不能臥者。有燥屎也。皆宜大承氣湯。此十有二者。皆關於喘之治法。而惟在陽位者也。喘之為證。熱之極也。寒之極也。而在太陽則熱之所延及。猶專於表。而未及於極也。故發汗以治之也。至陽明。則熱之所聚會。已專於裡。而殊極於此。故下之以救之也。既下之。尚恐其不及。不及則斃。故例曰。劇者發則不識人。循衣模床。惕而不安。微喘直視。脈眩者生。澀者死。又曰。直視讝語。喘滿者死。惟熱之極為然。豈可不畏乎。至厥陰。則寒之所奔騰。已甚於內。而最極於此。所以為極之極也。危殆莫甚焉。其能可救乎。故例曰。下利。手足厥冷。無脈者。灸之不溫。若脈不還。反微喘者死。惟寒之極為然。豈亦可不畏乎。如喘家。則不在此數也。論曰喘家作桂枝湯。加厚朴杏子佳。此惟在一時之處。而非通治喘之謂也。言其人若當其有表證也。處之以此為佳耳。故如喘家。則不在此數也。</p>

<h1>卷三</h1>

<h2>疼痛二道</h2>
<p>疼痛之有陰陽也。其凡二道焉。而治法。則其綱五矣。何謂其凡二道也。乃其於陽也。必乎熱。是桂枝麻黃之所之也。其於陰也。必乎寒。是附子之所之也。必乎熱者。主其發之也。必乎寒者。主其溫之也。此為疼痛之別矣。而治法則其綱五者何謂也。一者剬在於陽位也。二者在於陽位。而始及於陰位也。三者陰陽相雜也。四者剬在於陰位也。五者剬在於陰位。而波及於陽位也。此五綱者。有次有序。審其條目。以臨其病。以處其方。則千變萬轉。一而萬。萬而一。會其有極。歸其有極也。而其條目分為十有八。其剬在於陽位者。凡三焉。論曰。太陽病。頭痛發熱。身疼腰痛。骨節疼痛。惡風。無汗而喘者。麻黃湯主之。曰太陽病。脈浮緊。發熱惡寒。身疼痛。不汗出而煩躁者。大青龍湯主之。曰傷寒六七日。發熱微惡寒。支節煩疼。微嘔。心下支結。外證未去者。柴胡加桂枝湯主之。此其剬在於陽位者之治法也　。其在於陽位。而始及於陰位者。凡二焉。論曰。太陽病。發汗遂漏不止。其人惡風。小便難。四支微急。難以屈伸者。桂枝加附子湯主之。曰發汗後。身疼痛。脈沉遲者。桂枝加芍藥生薑人參新加湯主之。此其在於陽位。面始及於陰位者之治法也。其陰陽相雜者。凡四焉。論曰。傷寒八九日。風濕相搏。身體疼煩。不能自轉側。不嘔不渴。脈浮虛而澀者。桂枝附子湯主之。若其人大便難。小便自利者。去桂枝加白朮湯主之。曰風濕相搏。骨節煩疼。掣痛不得屈伸。近之則痛劇。汗出短氣。小便不利。惡風不欲去衣。或身微腫者。甘草附子湯主之。曰霍亂頭痛。身疼痛。熱多欲飲水者。五苓散主之。此其陰陽相雜者之治法也。其剬在於陰位者。凡五焉。論曰。少陰病。身體痛。手足寒。骨節痛。脈沉者。附子湯主之。曰少陰病。二三日不已。至四五日。腹痛小便不利。四肢沉重疼痛。自下利者。真武湯主之。曰大汗出。熱不去。內拘急。四肢疼。又下利厥冷而惡寒者。曰吐利汗出。發熱惡寒。四肢拘急。手足厥冷者。皆四逆湯主之。曰吐已下斷。汗出而厥。四肢拘急不解。脈微欲絕者。通脈四逆加豬膽汁湯主之。此其在於陰位者之治法也。其剬在於陰位。而波及於陽位者。凡四焉。論曰。傷寒醫下之。續得下利。清穀不止。身疼痛者。急當救里。後身疼痛。清便自調者。急當救表。救里宜四逆湯。救表宜桂枝湯。曰病發熱頭痛。脈反沉。若不差。身體疼痛。當救其里。宜四逆湯。曰下利腹脹滿。身體疼痛者。先溫其里。乃攻其表。溫里四逆湯。攻表桂枝湯。曰霍亂頭痛發熱。身疼痛。寒多不用水者。理中丸主之。吐利止。而身痛不休者。當消息和解其外。宜桂枝湯。此其剬在於陰位。而波及於陽位者之治法也。疼痛之於陰陽。亦惟寒熱之分。而其治法之所由歧如此矣。不可不審焉。且桂枝麻黃之所之也。雖均之在於陽位。而各有其分存焉。則亦不可無辨矣。乃其熱之熾且重者。此為麻黃之所之也。其熱之不甚且輕者。此為桂枝之所之也。故惟於桂枝乎。曰為解肌。曰消息和解其外。然則桂枝之所之也。在其尤輕者也。故桂枝而伍之於附子。雖之於陰陽相雜者。而其證尤甚於陰位。而附子之為主。於是乎其用附子。或至二枚三枚。又或因大便鞕。去桂枝而加朮。此以其不甚於陽位故也。又先四逆湯理中丸。而後桂枝湯者。亦惟剬於陰位。而微於陽位者也。桂枝麻黃之於辨。輕重之分。大抵為然。亦不可不審焉。又如瘡家之身疼痛。不在於此數也。</p>

<h2>煩躁四道</h2>
<p>煩躁之歧以陰陽也。亦猶疼痛之別矣。而又有因大汗出。或下利者。有因火逆者。凡四道焉。乃其於陽也。必以熱。是即大青龍湯。白虎湯。承氣湯。陷胸湯等之所之也。其於陰也。必以寒。是即乾薑甘草湯。乾薑附子湯。四逆湯。茯苓四逆湯。通脈四逆湯。吳茱萸湯等之所之也。此二道之別。煩躁之最重者也。其因大汗出。或下利者。必以渴之與小便不利。是即五苓散。豬苓湯等之所之也。而一則在陽位。一則在陰位者也。其因火逆者。或驚狂。或清血。或腰以下重而痹。是即桂枝去芍藥加蜀漆牡蠣龍骨救逆湯。桂枝甘草龍骨牡蠣湯等之所之也。而尚在陽位者也。此四道者。煩躁之別也。不可不審矣。如梔子豉湯之於反覆轉倒。則煩躁之太甚者也。如梔子厚朴湯。救逆湯之於起臥不安。則煩躁之稍輕者也。如大柴胡湯。調胃承氣湯。梔子乾薑湯之於微煩。則但煩而不躁者也。而其於證。非無輕重。亦皆在陽位者也。亦不可不審矣。不曰少而曰微。微如幽微之微。隱邃而不大顯之義。與少小異。如微熱亦然。故屬之身熱也。煩但訓熱者。未盡其義也。蓋不可情狀。而困悶擾撓。謂之煩也。躁也者。擾動展轉四支也。故雖煩躁連言。而義之自別如此矣。論中有不煩而躁者。可以見已。他如曰反煩不解。曰更煩。曰心煩。曰胸煩。曰心中滿而煩。曰心中懊憹而煩。曰虛煩。曰鬱郁微煩。曰煩熱。曰煩渴。曰煩疼。曰煩滿。曰煩驚。曰煩悸。曰發煩之類。亦皆取義於此而名焉。豈可但訓熱之為盡也矣哉。</p>

<h2>汗二道（附發汗之辨）</h2>
<p>凡汗之別。其本為二道也。一為陽。一為陰。陽主熱。陰主寒。而其治法之綱七。而其目則三十有八也。汗本是一身之津液也。而其所委源。全在於胃焉。故胃焉者。津液之原也。乃其漏乎外也。名以為汗。夫汗之發於外一也。而或熱或寒。各殊其候。既各殊其候。而一於津液焉。雖熱之可畏。不若寒之太甚。此陰陽之所以分也。三陽之主熱而有汗也。在太陽。則發熱惡寒。漐漐汗出。此其邪之在肌表。而其最淺者也。在陽明。則不惡寒。反惡熱。濈然汗出。此其邪之既入於胃。而其最深者也。在少陽。則往來寒熱。非頭汗則盜汗出。此其邪之在胸脅。而深於太陽。淺於陽明者也。三陰之主寒而有汗也。專於厥陰。其於太陰與少陰也。治法則不與焉。於太陰。則不在身。而但在頭。但在頭者。必發黃。由瘀熱也。治法則猶屬於陽明也。於少陰。則雖曰屬。治法則視於厥陰也。故於太陰與少陰也。治法則不與焉。於厥陰。則雖或發熱。脈不來。四支厥冷。大汗出。此其篤革之極。將外馳內竭者也。豈非寒熱之殊其候。而一於津液。雖熱之可畏。不若寒之太甚乎。此其陰陽之辨也。於是其於太陽也。發之以桂枝。以葛根。此以其在肌表也。其於陽明也。或挫之以白虎。或下之以承氣。此以其在於胃也。其於少陽也。制之以柴胡。此以其在胸脅也。於太陰。則治法在陽明。於少陰。則治法在厥陰。其於厥陰也。固非可汗。亦非可下。掇收之。牢固之。使其不外馳內竭者。惟四逆之力也。而其力之尚不能衡其勢。於是乎有通脈及加豬膽汁之略也。此豈非特篤革之極乎。是其治法之概也。乃立之綱。而其目附之。何謂七綱三十有八目乎。其一為純於表之綱。而其目凡七焉。論曰。太陽病。頭痛發熱。汗出惡風者。桂枝湯主之。曰太陽病。項背強𠘧𠘧。反汗出。惡風者。桂枝加葛根湯主之。曰服桂枝湯。大汗出。脈洪大者。與桂枝湯如前法。曰病人藏無他病。時發熱。自汗出不愈者。先其時發汗則愈。宜桂枝湯。曰傷寒汗出而渴者。五苓散主之。不渴者。茯苓甘草湯主之。曰陽明病。脈遲。汗出多。微惡寒者。表未解也。可發汗。宜桂枝湯。此皆純於表者也。其二為自里達表之綱。而其目凡十焉。論曰陽明病。其人多汗。以津液外出。胃中躁。大便必鞕。鞕則讝語。小承氣湯主之。曰陽明病。脈遲。雖汗出。不惡寒者。其身必重。短氣。腹滿而喘。有潮熱者。此外欲解。可攻裡也。手足濈然而汗出者。此大便已鞕也。曰傷寒四五日。脈沉而喘滿。汗出讝語者。以有燥屎在胃中也。須下之。曰二陽並病。太陽證罷。但發潮熱。手足漐漐汗出。大便難而讝語者。下之則愈。皆大承氣湯主之。曰三陽合病。腹滿身重。難以轉側。口不仁而面垢。讝語遺尿。若自汗出者。白虎湯主之。曰陽明病。脈浮而緊。咽燥口苦。腹滿而喘。發熱汗出不惡寒。反惡熱身重。若渴欲飲水。口乾舌燥者。白虎加人參湯主之。若脈浮發熱。渴欲飲水。小便不利者。豬苓湯主之。曰陽明病。汗出多而渴者。不可與豬苓湯。（按此蓋白虎加人參湯之所之也）曰陽明病。自汗出。若發汗小便自利者。此為津液內竭。雖硬不可攻之。當須自欲大便。宜蜜煎導而通之。若土瓜根及與大豬膽汁。皆可為導。曰陽明病。下之其外有熱。手足溫。不結胸。心中懊憹。飢不能食。但頭汗出者。梔子豉湯主之。曰陽明病。發熱汗出。此為熱越。不能發黃也。但頭汗出。身無汗。劑頸而還。小便不利。渴引水漿者。此為瘀熱在裡。身必發黃。茵陳蒿湯主之。（按此二條。皆陽明之變證也。）此皆自里達表者也。其三為自表裡間而達表之綱。而其目凡六焉。論曰。傷寒五六日。已發汗而復下之。胸脅滿。微結。小便不利。渴而不嘔。但頭汗出。往來寒熱。心煩者。此為未解也。柴胡桂枝幹薑湯主之。曰傷寒發熱。汗出不解。心下痞鞕。嘔吐而下利者。大柴胡湯主之。曰傷寒十餘日。熱結在裡。復往來寒熱者。與大柴胡湯。但頭微汗出者。此為水結在胸脅也。曰太陽病。脈浮而動數。頭痛發熱。微盜汗出。而反惡寒者。表未解也。（按此蓋小柴胡湯之所之也）曰三陽合病。脈浮大。但欲睡眠。目合則汗。（按此蓋柴胡證之脫簡者也）曰太陽中風。下利嘔逆。表解者乃可攻之。其人漐漐汗出。發作有時。頭痛。心下痞鞕。引脅下痛。乾嘔短氣。汗出不惡寒者。此表解里未和也。十棗湯主之。此皆自表裡間而達表者也。其四為仍在陽位。而稍已轉之綱。而其目凡三焉。論曰。太陽病。桂枝證。醫反下之。利遂不止。脈促者。表未解也。喘而汗出者。葛根黃連黃芩湯主之。曰發汗後。不可更行桂枝湯。汗出而喘。無大熱者。可與麻黃杏仁甘草石膏湯。曰太陽病。發汗後。大汗出。胃中干。煩躁不得眠。若脈浮。小便不利。微熱消渴者。與五苓散主之。此皆仍在陽位而稍已轉者也。其五為陰陽相錯之綱。而其目凡三焉。論曰。太陽病。發汗遂漏不止。其人惡風。小便難。四支微急。難以屈伸者。桂枝加附子湯主之。曰傷寒。脈浮。自汗出。小便數。心煩微惡寒。腳攣急。（按此蓋桂枝加附子湯之所之也）曰風濕相搏。骨節煩疼。掣痛不得屈伸。近之則痛劇。汗出短氣。小便不利。惡風不欲去衣。或身微腫者。甘草附子湯主之。此皆陰陽相錯者也。其六為遂之於陰位之綱。而其目凡二焉。論曰。太陽病。發汗。汗出不解。其人仍發熱。心下悸。頭眩。身瞤動振振。欲擗地者。真武湯主之。曰心下痞。而復惡寒。汗出者。附子瀉心湯主之。此皆遂之於陰位者也。其七為純於陰之綱。而其目凡八焉。論曰。病人脈陰陽俱緊。反汗出者。此屬少陰。曰少陰病。下利。脈微澀。喘而汗出。必數更衣。反少者。當溫其上灸之。曰傷寒六七日不利。便發熱而利。其人汗出不止者死。（按此三條。蓋皆四逆湯之所之也。）曰大汗出。熱不去。內拘急。四肢疼。又下利厥逆而惡寒者。曰大汗。若大下利而厥冷者。曰吐利汗出。發熱惡寒。四肢拘急。手足厥冷者。曰既吐且利。小便複利。而大汗出。下利清穀。內寒外熱。脈微欲絕者。皆四逆湯主之。曰下利清穀。裡寒外熱。汗出而厥者。通脈四逆湯主之。曰吐已下斷。汗出而厥。四肢拘急不解。脈微欲絕者。通脈四逆加豬膽汁湯主之。此皆純於陰者也。是之為七綱三十有八目也。汗之有陰陽也。其於寒與熱。治法之備如此。不可不辨焉。大抵發汗之法。在二三日。而日分一劑三服。其輕者。一服汗出病瘥。停後服。不必盡劑。其重者。半日許令三服盡。晝夜服至二三劑。此為其大法矣。至其不解者。不止二三日。雖八九日十日以上。尚可發汗也。若其在二三日。而心悸者。不可發汗。當與小建中湯。又其在二三日。已發汗不解。蒸蒸發熱者。當與調胃承氣湯。若雖既及陽明。仍發熱惡寒。則亦尚可發汗。至其不惡寒惡熱。當下之。此為其變法矣。脈證之轉機。固不可以幾。豈惟汗下哉。不可不審察焉。夫太陽之發之於汗也。陽明之祛之於下也。汗下皆耗津液之道也。此何以行之乎。以其不得止也。何以不得止乎。以其非此則無可除之道也。是故其行之在一旦。而不敢強也。因戒其發汗曰。不可令如水流漓。病必不除。又曰。若一服。汗出病瘥。停後服。又曰脈微弱者。不可發汗。戒其下之。曰微和胃氣。勿令大泄下。又曰。若更衣者。勿服之。又曰。若一服讝語止。更莫復服。又曰不轉失氣者。慎不可攻也。惟治法為爾。此豈非其行之在一旦。而不敢強乎。若果強之。則鮮不之於陰位焉。於是乎舉或發汗遂漏不止。或發汗過多。或發汗若下之。或大汗出後。或大下之後等之變脈證。而各具其變治法矣。少陽之制之於中位也。此何以不行汗下乎。以其不在表。亦不在裡故。汗下皆非其所宜也。因戒之曰。少陽不可發汗。又曰。慎勿下之。亦惟治法為爾。雖爾。能得其肯綮。則或發熱汗出而解。故例曰。若柴胡證不罷者。復與柴胡湯。必蒸蒸而振。卻發熱汗出而解。夫行發汗之藥。而汗出。固其所也。柴胡本是非發汗之藥。而反發汗。則於法得無背馳乎。此殊不然。以其非發汗之藥故。雖汗出乎。於法無有背馳矣。若果行之發汗之藥。則雖汗出乎。病必不除矣。故雖均汗出乎。在得其肯綮與否。而有除與否之差也。不啻汗出而解為然。其於得屎而解。亦無不皆然矣。脈證之轉機。固不可以幾。豈惟汗下哉。不可不審察焉。</p>

<h2>消渴四道（附承氣白虎之辨）</h2>
<p>消渴亦有陰陽矣。而治之之法。分為四道焉。其於陽也。惟專於二陽。而熾於陽明。太陽不與也。其於陰也。惟專於二陰。而甚於厥陰。太陰不與也。蓋三陽之主熱也。太陽則表之表。而太輕且緩。故未與於此矣。少陽則間乎表裡。而重於太陽。而輕於陽明。故既及於此矣。陽明則表之裡。而愈重且急。故最熾於此矣。此因其津液之為熱所耗故也。三陰之主寒也。太陰則里之初。而稍輕且緩。故未與於此矣。少陰則里之本。而重於太陰。而輕於厥陰。故既及於此矣。厥陰則里之末。而益重且急。故甚於此矣。此因其津液之為寒所耗故也。此為消渴之別焉。消渴之為病。或熱或寒。雖固有其別。而其耗津液則一也。夫惟一也。是以通三方於陰陽。而隨其證也。各有法焉。渴欲飲水。口乾舌燥。無論其小便。是乃白虎湯之所之也。若其小便不利。是乃豬苓湯之所之也。若小便不利。有表證。是乃五苓散之所之也。三方之各隨其證也如此。此之為三法焉。又意欲飲水反不渴。是乃文蛤散之所之也。此雖均欲飲水。而反不渴。則於證最為輕矣。乃與之而不差。於是繼及五苓散而已。此既曰不渴。則雖如不類乎。觀乎其繼及五苓散。則亦為不太相遠。當屬為一法。合上三法。而為治消渴之四法焉。又身黃小便不利。渴引水漿者。是為茵陳蒿湯之所之也。乃如其曰。渴引水漿則類矣。而不曰欲飲水則不類也。惟以其所主之不在於此。而在於發黃也。又熱利下重。欲飲水者。是為白頭翁湯之所之也。乃如其曰欲飲水則類矣。而不曰渴則不類也。亦惟以其所主之不在於此。而在於下利也。又少陰病。口燥咽乾者。及自利清水。色純青。心下必痛。口乾燥者。是皆為大承氣湯之所之也。乃如其曰口燥咽乾。曰口乾燥。則類矣。而不曰渴。不曰欲飲水則不類也。亦惟以其所主之不在於此。而在於熱與利也。又如小青龍湯。小柴胡湯。柴胡桂枝幹薑湯等。亦皆兼治渴。惟兼治之。故亦為不類矣。凡之六者。皆類而不類。故不取之於專治渴之法也。又有雖渴欲飲水。或小便不利乎。不可必施治焉者。例曰發汗後。大汗出。胃中干。煩躁不得眠。欲得飲水者。少少與飲之。令胃氣和則愈。又曰厥陰病。渴欲飲水者。少少與之愈。又曰。大下之。復發汗。小便不利者。亡津液故也。勿治之。得小便利。必自愈。夫渴之與小便不利。固與於病焉。而又或有不與於病焉者。乃其與於病焉者。藥之所能治也。其不與於病焉者。非藥之所能治也。故以先與之水。而不施治為法焉。可見其慎於藥而不苟施也。只是乎知所謂調理之劑。古之所必無也。故不審其所由。而強施之治則妄也。與其強施之為妄也。不若先其所由是審之無謬也。夫然後尚不愈。於是乎施治。亦為未晚也。例又曰。渴欲飲水。少少與之。但以法救之。渴者宜五苓散是也。不可不慎矣。</p>
<p>有曰渴欲飲水數升。口乾舌燥者。有惟曰口燥舌乾。而不曰欲飲水者。此二者。固易混焉。易混而又既異焉。既異之故。方法亦從異焉。不可不辨矣。乃如其曰。欲飲水數升。則無論其數飲。雖未必至數升。而有欲大得水以甘心之意。以故形容其情狀爾。不爾。既曰渴。而復曰欲飲水數升者。似乎復而重矣。故其渴而欲飲水數升者。此則白虎湯之所之也。如其惟曰口燥舌乾。而不曰欲飲水。則雖本無其欲大飲之意乎。惟其乾燥之太甚。非潠以潤之。必有所不堪。以故時飲而快意爾。不爾。不曰渴。又不曰欲飲水者。似乎遺而失矣。故其不渴而不欲多飲水者。此則承氣湯之所之也。此二者之易混也若此。若此而又既異也若此。夫若此之故。方法之從異也。亦若此焉。此二湯之所之之辨也。夫既辨此之辨。而後又有辨焉。亦不可不辨矣。大抵此二者之於證。皆陽明也。陽明也者。主乎胃焉。胃焉者。津液之府也。而熱極於茲矣。是故熱既及於胃。則津液為其所驅。而汗自出。口乾燥而渴。大便非難則鞕。此其熱之客於肌膚。名為身熱。若熱既入於胃。則津液愈所耗。而汗愈多。口愈燥。舌愈干。大渴而煩。或讝語。大便非鞕則不大便。此其熱之鬱於分肉。名為惡熱。若熱既結於胃。則津液益所竭。而汗亦多。口益燥。舌益干。讝語煩躁。非不大便則燥屎。此其熱之常匿而微顯。以時大發。名為潮熱。惟陽明也者。熱之極也。是以詳悉其情狀。歧名以為三者。亦足以見其輕重矣。雖乃有其熱之或及或入或結之別乎。其及乎口燥舌乾之與於津液則一也。而如其既及者與既入者。則渴欲飲水。至乎其既結者。則不欲多飲。此似乎其所以輕者反重。其所以重者反輕何耶。惟其既及者與既入者之所以渴欲飲水者。此其熱之猶在於膚之與肉。而勢達乎外者也。於是乎渴欲飲水爾。較之其結者。則為稍輕矣。惟其既結者之所以不欲多飲者。此其熱之常匿而微顯。但當其大發之時。少不得不渴。則鮮其達乎外之勢者也。於是乎不欲多飲爾。較之其及者與入者。則為太重矣。一則以渴欲飲水為之證。與之白虎湯。以挫其既及既入之熱也。一則以不欲多飲。為之證。與之承氣湯。以走其既結之熱也。或挫之。或走之。雖術之如不齊乎。至於其救津液則一也。是之為後之辨焉。夫雖既能辨前之所辨之辨。而又不復辨此之辨。則何術之施也矣哉。故亦不可不辨矣。</p>
<p>又有因瘀血而口燥舌乾。或消渴者。亦不為不易混。而脈證各有其分具焉。則又何可混也矣哉。辨詳於瘀血之篇。可以審焉已矣。</p>

<h2>腹滿二道</h2>
<p>腹滿亦有陰陽矣。其凡二道焉。而治法則十有九也。陽之主熱也。陰之主寒也。熱之與寒。皆為腹滿焉。而太陽少陽之在於肌表與胸脅也。則不及於此矣。惟發汗吐下之後。或為腹滿者。既是非其本位也。至於陽明。乃為腹滿者。以其熱之實於胃也。腹滿本是太陰之所分。而非陽明之所分也。陽明之薄於太陰。而其熱之熾。遂延於其鄰。以為腹滿者也。此其於腹滿。是之為陽位矣。太陰之為腹滿者。以其寒之客於腹。此為其正位也。少陰厥陰之為腹滿者。此二者亦不遠於太陰。而其寒之凝。升達於其上者也。此其於腹滿。是之為陰位矣。陰陽之別。在於寒之與熱。寒熱之分。在於胃實之與自利。腹診之差。在於鞕之與濡。脈候之辨。在於浮之與沉。此為其概矣。腹滿之雖太陰之所分乎。析為寒熱二者焉。熱之極於胃實也。雖滿之在於腹乎。下之而瘳。故其於方劑。以承氣湯為之主也。寒之極於自利也。雖滿之在於腹乎。溫之而痊。故其於方劑。以四逆湯為之主也。即其在於陽位者之於治法。凡八焉。論曰。陽明病。脈遲。雖汗出。不惡寒者。其身必重。短氣。腹滿而喘。有潮熱者。此外欲解可攻裡也。手足濈然而汗出者。此大便已鞕也。大承氣湯主之。曰若腹大滿不通者。可與小承氣湯。微和胃氣。勿令大泄下。曰發汗不解。腹滿痛者。急下之。曰大下後。六七日不大便。煩不解。腹滿痛者。此有燥屎也。曰腹滿不減。減不足言。當下之。皆宜大承氣湯。曰傷寒七八日。身黃如橘子色。小便不利。腹微滿者。茵陳蒿湯主之。曰太陽病。重發汗。而復下之。不大便五六日。舌上燥而渴。日晡所小有潮熱。從心下至少腹鞕滿而痛。不可近者。大陷胸湯主之。曰傷寒吐後。腹脹滿者。與調胃承氣湯。此皆其在於陽位者之治法也。其在於陽位。而證之相交者之於治法。凡四焉。論曰。陽明中風。口苦咽乾。腹滿微喘。發熱惡寒。脈浮而緊。曰陽明病。脈浮而緊。咽燥口苦。腹滿而喘。發熱汗出不惡寒。反惡熱。身重。若渴欲飲水。口乾舌燥者。白虎加人參湯主之。若脈浮發熱。渴欲飲水。小便不利者。豬苓湯主之。曰三陽合病。腹滿身重。難以轉側。口不仁而面垢。讝語遺尿。若自汗出者。白虎湯主之。曰陽明中風。脈眩浮大而短氣。腹部滿。脅下及心痛。又按之氣不通。鼻乾不得汗。嗜臥。一身及面目悉黃。小便難。有潮熱。時噦。耳前後腫。刺之小差。外不解。病過十日。脈續浮者。與小柴胡湯。此皆其在於陽位。而證之相交者之治法也。其在於陽位。而不及胃實者之於治法。凡二焉。論曰。發汗後。腹脹滿者。厚朴生薑甘草半夏人參湯主之。曰傷寒下後。心煩。腹滿。臥起不安者。梔子厚朴湯主之。此皆其在於陽位。而不及胃實者之治法也。其在於陽位。而似於陰位者之於治法也。論曰。太陽病。過經十餘日。心下溫溫欲吐。而胸中痛。大便反溏。腹微滿。鬱郁微煩。先此時。自極吐下者。與調胃承氣湯是也。其自陽位而遂之於陰位者。及其不大便者之於治法也。論曰。本太陽病。醫反下之。因而腹滿時痛者。屬太陰。桂枝加芍藥湯主之。大實痛者。桂枝加大黃湯主之是也。其在於陰位者之於治法也。論曰。下利腹脹滿。身體疼痛者。先溫其里。宜四逆湯是也。其在於陰位。而不大便者之於治法也。論曰。少陰病。六七日。腹脹不大便者。急下之。宜大承氣湯是也。腹滿之有陰陽。而其治法之分為十有九者若此。不可不審焉。且桂枝加大黃湯之於大實痛也。大承氣湯之於不大便也。亦不可無辨矣。彼則本太陽病。醫反下之。遂及於此而已。故不曰太陰病。而曰屬。而其於證。非若口乾舌燥之比也。於是乎知其大實痛之非燥屎也。所以行大黃芍藥也。此則其六七日之前。蓋真武湯或附子湯之證。遂及於此而已。故直曰少陰病。而其於證。必口乾舌燥者也。於是乎知其不大便之果燥屎也。所以行之大黃芒硝也。之二者之於辨。亦不可不審焉。</p>

<h2>腹痛二道</h2>
<p>腹痛之有陰陽也。亦惟以熱以寒。其凡二道焉。而治法則十有二也。乃其寒與熱之為腹痛也。亦與其為腹滿。無以大異矣。腹痛腹滿。本是太陰之所分。而其定位也。雖然。熱之或及於此也。寒之或逼於此也。不得不滿。亦不得不痛。此二者之所以有陰陽也。乃其在於陽位。而不實於胃者之於治法。凡三焉。論曰。傷寒陽脈澀。陰脈弦。腹中急痛者。法當先與小建中湯。不差者。與小柴胡湯。曰傷寒胸中有熱。胃中有邪氣。腹中痛。欲嘔吐者。黃連湯主之是也。其在於陽位。而實於胃者之於治法。凡三焉。論曰。病人不大便五六日。繞臍痛。煩躁發作有時者。此有燥屎。故使不大便也。曰發汗不解。腹滿痛者。急下之。曰大下後。六七日不大便。煩不解。腹滿痛者。此有燥屎也。皆宜大承氣湯是也。其自陽位。而之於陰位者之於治法。凡二焉。論曰。太陽病。醫反下之。因而腹滿時痛者。屬太陰。桂枝加芍藥湯主之。大實痛者。桂枝加大黃湯主之是也。其在於陰位者之於治法。凡四焉。論曰。少陰病。二三日不已。至四五日。腹痛。小便不利。四肢沉重疼痛。自下利者。此為有水氣。真武湯主之。曰少陰病。二三日至四五日。腹痛小便不利。下利不止。便膿血者。桃花湯主之。曰少陰病四逆。其人或咳。或悸。或小便不利。或腹中痛。或泄利下重者。四逆散主之。曰少陰病。下利清穀。裡寒外熱。手足厥逆。脈微欲絕。身反不惡寒。或腹痛者。通脈四逆湯主之是也。腹痛之有陰陽。而其治法之分為十有二者若此。亦不可不審焉。又如寒疝及蛔蟲等之於腹痛。雖不在於此數乎。要皆屬於寒者也。是以其於方劑。必用附子烏頭乾薑蜀椒之類。可以見已。</p>

<h2>燥屎宿食八道</h2>
<p>燥屎宿食之為匹也。其候之之目。凡八道焉。而其治法則一也。熱之入於胃。即是燥屎宿食之所成也。熱之入於胃。其熱但熾而未成物。此之謂白虎。既已成物而有形。此之謂承氣也。論曰。陽明病。讝語有潮熱。反不能食者。胃中必有燥屎五六枚也。此其一也。曰不大便五六日。繞臍痛。煩躁發作有時者。此有燥屎。故使不大便也。此其二也。曰小便不利。大便乍難乍易。時有微熱。喘冒不能臥者。有燥屎也。此其三也。曰傷寒五六日。脈沉而喘滿。汗出讝語者。以有燥屎在胃中也。此其四也。曰大下後。六七日不大便。煩不解。腹滿痛者。此有燥屎也。所以然者。本有宿食故也。此其五也。曰下利讝語者。有燥屎也。此其六也。曰下利脈滑而數者。有宿食也。此其七也。曰下利不欲食者。以有宿食故也。此其八也。皆宜大小承氣湯。燥屎宿食之為匹也。雖分為八。而其治法則一也。治法之雖一。而八者不可不分焉。燥屎本是因宿食之為熱所焦而成焉者也。蓋素有宿食。而熱入於胃。則為其勢所扇激。而津液必走乎外涸乎內。宿食遂焦。此燥屎之所以成也。而其所以為匹也。而其所以一治法也。若夫熱之獨恣其勢於內。則亦能足焦胃也。誰謂屎之益燥。獨能不焦胃乎。二者不或食養之繼。終將繫於命期。是故屎之燥。不可不下也。熱之勢。不可不挫也。承氣以下之。白虎以挫之。是之為治法也。屎之成燥也。熱之恣勢也。唯在其緩急。而本非有二途。則其於治法。亦當一之而已。此何以二之耶。夫屎之物而有形。熱之邪而無形。不可得而一也。有形之故。下而去之於外也。無形之故。挫以御之於內也。此其所以二之也。熱之雖二乎。其未得物之初。孰與其得物之熾耶。譬猶火之連就其燥焉。當其未得物之初也。溉之以水。則鮮其不滅矣。此即白虎湯之挫之也。及其得物之熾也。溉之未足以滅。不若急徹去夫燥之物。不使其連就也。此即承氣湯之下之也。或溉以水。或徹去物。至其救火則一也。乃挫之。乃下之。及其除熱則一也。惟仲景氏之術為然。仲景氏之於術。獨具於其候之目與其治法。則其可據以行於今者。亦惟此而已。故燥屎宿食之為匹也。於其候之目與其治法。豈可不審焉矣哉。豈可不審焉矣哉。</p>

<h2>瘀血二道</h2>
<p>瘀血之成於熱也。其綱凡二道焉。而吐衄及打撲墜損不與也。熱或入血室。或結膀胱。則能腐其血。血之腐也。由於瘀熱。故命血以瘀也。而或血室。或膀胱。處方之隨其候而異。此其綱之所以為二道也。乃其入血室也。其候之之目。凡四焉。曰經水適來。胸脅下滿如結胸狀。讝語。一也。曰經水適斷。如瘧狀。往來寒熱。發作有時。二也。曰晝日明瞭。暮則讝語。如見鬼狀。三也。曰下血讝語。四也。是皆小柴胡湯之證也。其結膀胱也。其候之之目。凡八焉。曰其人如狂。少腹急結。血自下。一也。曰其人發狂。少腹鞕滿。小便自利。二也。曰其人善忘。屎雖鞕。大便反易。其色必黑。三也。曰消穀善飢。不大便。四也。曰一身手足盡熱。便血。五也。曰唇萎舌青。口燥但欲漱水。而不欲咽。胸滿無寒熱。腹不滿而言我滿。六也。曰如熱狀煩滿。口乾燥而渴。反無熱。七也。曰下利數十日不止。暮即發熱。少腹裡急。腹滿手掌煩熱。唇口乾燥。八也。是即桃核承氣湯。抵當湯之證也。大抵此二湯之於別。在其新久之與其輕重也。血自下與畜血。急結與鞕滿。此為新久輕重之別也。口燥但欲漱水。而不欲咽。此大類乎承氣湯之證。惟無寒熱。腹不滿。為其別也。雖或渴乎。反無熱。此頗異乎白虎湯之證。雖或發熱乎。少腹裡急。亦為其別也。若其入血室與結膀胱。此二者之於別。一則上在於胸脅。一則下在於少腹。經水適來與血自下。經水適斷。與久為畜血。是之為其別也。瘀血之於候也。其綱凡二道。而其入血室之目四。其結膀胱之目八。而其於別也若此。不可不審焉。又如經水不利及過多等。則不在此之數也。</p>

<h2>下利六道</h2>
<p>下利之為證。雖區以眾多。而其所統。亦惟在寒之與熱。寒之與熱。二者之所以為下利者。寒始受之於里者。而其為吐利腹痛。固其所也。惟熱雖始受之於表乎。遂內及於胃。則亦能為嘔為下利。勢之使然也。頗似寒而異。何以見其異乎。此則惟熱是主之為異。寒則不主乎熱矣。雖下利之相似。而寒熱之果異。豈可混乎。寒熱也者。陰陽之謂也。此二者之於綱。歧以為六焉。有合病之自下利者。有並病之自下利者。或本不可下而反下之。利遂不止。猶在於陽位也。或未可下而數下之。利不止。遂之於陰位也。或因裡熱也。或因裡寒也。此之為六綱也。而其目則四十有二焉。是乃隨其轉機而制之者也。不可不辨矣。合病之自下利者凡三焉。論曰。太陽與陽明合病者。必自下利。葛根湯主之。曰太陽與少陽合病。自下利者。黃芩湯主之。曰陽明少陽合病。必下利。其脈滑而數者。有宿食也。大承氣湯主之。此三者。皆合病之自下利者也。並病之自下利者凡五焉。論曰。傷寒發熱。汗出不解。心下痞鞕。嘔吐而下利者。大柴胡湯主之。曰太陽病。過經十餘日。心下溫溫欲吐。胸中痛。大便反溏。腹微滿。鬱郁微煩。先此時自極吐下者。與調胃承氣湯。曰若自下利。脈反和者。此為內實也。宜調胃承氣湯。曰陽明病。發潮熱。大便溏。小便自可。胸脅滿不去者。小柴胡湯主之。曰傷寒汗出解之後。心下痞鞕。乾噫食臭。脅下有水氣。腹中雷鳴下利者。生薑瀉心湯主之。此五者。皆並病之自下利者也。本不可下而反下之。利遂不止。猶在於陽位者。凡二焉。論曰。太陽病。桂枝證。醫反下之。利遂不止。脈促者表未解也。喘而汗出者。葛根黃連黃芩湯主之。曰傷寒中風。醫反下之。其人下利日數十行。穀不化。腹中雷鳴。心下痞鞕而滿。干吐心煩不得安。甘草瀉心湯主之。此二者。皆本不可下而反下之。利遂不止。猶在於陽位者也。未可下而數下之。利不止。遂之於陰位者。凡五焉。論曰太陽病。外證未除而數下之。遂協熱而利。利下不止。心下痞鞕。表裡不解者。桂枝人參湯主之。曰傷寒服湯藥。下利不止。心中痞鞕。服瀉心湯已。復以他藥下之。利不止。醫以理中與之。利益甚。赤石脂禹餘糧湯主之。曰傷寒醫下之。續得下利。清穀不止。身疼痛者。急當救里。曰脈浮而遲。表熱裡寒。下利清穀者。皆宜四逆湯。曰假令已下之。脈數不解。而下不止。協熱而便膿血者。桃花湯主之。此五者。皆未可下而數下之。利不止。遂之於陰位者也。因裡熱者凡十焉。論曰。少陰病。自利清水。色純青。心下必痛。口乾燥者。急下之。宜大承氣湯。曰少陰病。下利六七日。咳而嘔渴。心煩不得眠者。豬苓湯主之。曰少陰病四逆。其人或咳。或悸。或小便不利。或腹中痛。或泄利下重者。四逆散主之。曰熱利下重者。白頭翁湯主之。曰下利讝語者。有燥屎也。小承氣湯主之。曰下利脈平。按之心下鞕者。急下之。曰下利脈遲而滑者。內實也。利未欲止。當下之。曰下利脈反滑。當有所去。下之乃愈。曰下利差後。至其年月日復發者。以病不盡故也。當下之。曰下利不欲食者。以有宿食也。當下之。皆宜大承氣湯。此十者。皆因裡熱者也。因裡寒者。凡十有七焉。論曰。自利不渴者。屬太陰。以其藏有寒故也。當溫之。宜服四逆輩。曰欲吐不吐。心煩。但欲寐。五六日自利而渴者。屬少陰也。曰少陰病。二三日不已。至四五日。腹痛小便不利。四肢沉重疼痛。自下利者。此為有水氣。真武湯主之。曰少陰病。二三日至四五日。腹痛小便不利。下利不止。便膿血者。桃花湯主之。曰少陰病。下利咽痛胸滿心煩者。豬膚湯主之。曰少陰病。下利脈微者。與白通湯。利不止。厥逆無脈。乾嘔煩者。白通加豬膽汁湯主之。曰大汗。若大下利而厥冷者。曰大汗出。熱不去。內拘急。四肢疼。又下利厥逆而惡寒者。曰吐利汗出。發熱惡寒。四肢拘急。手足厥冷者。曰既吐且利。小便複利。而大汗出。下利清穀。內寒外熱。脈微欲絕者。曰下利腹脹滿。身體疼痛者。皆四逆湯主之。曰下利清穀。裡寒外熱。汗出而厥者。曰少陰病。下利清穀。裡寒外熱。手足厥逆。脈微欲絕。身反不惡寒。其人或面赤色。或腹痛。或乾嘔。或咽痛。或利止脈不出者。皆通脈四逆湯主之。曰惡寒脈微而複利。利止亡血也。四逆加人參湯主之。曰少陰病。吐利。手足厥冷。煩躁欲死者。吳茱萸湯主之。曰傷寒。本自寒下。醫復吐下之。寒格更逆吐下。若食入口即吐者。乾薑黃連黃芩人參湯主之。曰霍亂頭痛發熱。身疼痛。熱多欲飲水者。五苓散主之。寒多不用水者。理中丸主之。此十有七者。皆因裡寒者也。是之為四十有二目也。下利之為證。雖區以眾多。而統之於陰陽。歧以綱之與目。隨其轉機而制之也若此。豈可不辨矣哉。且燥屎之必讝語也。須辨於鄭聲。宿食之必滑數也。須辨於微澀。熱利之與協熱利。大不同也。里有熱而下利。欲飲水者。謂之熱利也。本里有寒。協合外熱以下利者。謂之協熱利也。熱利則脈數有力。協熱利則脈微弱。此為其辨也。凡是皆寒熱之易混也。亦不可不辨矣。</p>

<h2>厥二道</h2>
<p>厥之為證。惟在於二陰焉。肇於少陰。而極於厥陰。太陰則不與也。而有寒有熱。凡二道焉。其綱八而其目三十有三也。不惟寒之極能為厥。熱之極亦能為厥也。其因殊乎內。而其證肖乎外。外雖肖。內果殊。故厥之極於厥陰也。曰寒曰熱。此為其分。此其凡之所以為二道也。於是有上下之位。有輕重之等。故其於處方也。無不隨以差之。此其綱之所以為八。而其目之為三十有三也。不可不審辨矣。厥之設名也。凡八焉。以物其輕重也。少陰曰手足寒。厥陰曰厥。曰厥寒。曰厥冷。曰逆冷。曰厥逆。曰藏厥。曰蛔厥。此之為厥之八名也。而其輕重之於物。亦不可不審辨矣。寒即溫之反。言其人自覺其寒也。厥謂微冷也。厥寒言外候之微冷。而內自覺其寒也。至如厥冷逆冷厥逆。則不必自覺。皆以外候言之也。厥逆逆冷。皆其冷上及腕肘脛膝者。所以名曰逆也。藏厥則不但及腕肘脛膝。既及其肌膚者也。蛔厥則其有將息者也。故藏厥重於厥逆逆冷。蛔厥輕於藏厥也。厥逆逆冷。重於厥冷。寒之與厥寒。輕於厥冷者也。故厥本雖名於逆冷。而但曰厥。則以微冷言之彰矣。此之為輕重之物也。而厥冷厥逆。雖在少陰之位。而已屬厥陰者也。故少陰之言厥冷厥逆者。此始於少陰。遂之於厥陰者也。太陽之言厥者。亦無不皆然矣。厥之極於厥陰也。其於寒與熱。與上下之位。與輕重之等。則處方之所以隨以差之也。故我非執其綱目以臨之。則將何以得名之與物。相愜而不失乎。名正而物定。綱舉而目隨。所以審辨也。何謂八綱三十有三目乎。一綱者。吐利而厥冷。其目凡二焉。論曰。少陰病。吐利手足厥冷。煩躁欲死者。吳茱萸湯主之。此其專於吐。而位之在上焉者也。曰吐利汗出。發熱惡寒。四肢拘急。手足厥冷者。四逆湯主之。此其專於利。而位之在下焉者也。雖吐利厥冷之如一乎。惟其於位為爾。何以言之。觀乎他用吳茱萸湯。或曰食谷欲嘔。或曰乾嘔吐涎沫頭痛。或曰嘔而胸滿。則豈非盡專於吐乎。故曰。位之在上焉者也。觀乎他用四逆湯。或曰下利清穀。裡寒外熱。汗出而厥。或曰大下利而厥冷。或曰下利厥逆而惡寒。或曰下利腹脹滿。身體疼痛。或曰下利清穀。內寒外熱。脈微欲絕。則豈非盡專於利乎。故曰。位之在下焉者也。二綱者。結於胸中。或嘔而手足寒。厥冷。其目凡四焉。論曰。少陰病。飲食入口則吐。心中溫溫欲吐。復不能吐。始得之。手足寒。脈弦遲者。此胸中實。不可下也。當吐之。（按此蓋瓜蒂散之所之也）曰病人手足厥冷。脈乍緊。心中滿而煩。飢不能食者。病在胸中。當須吐之。宜瓜蒂散。此其於證也。大類於吳茱萸湯之所之。然彼則專於嘔吐。此則邪實於胸。是之為其別也。曰若膈上有寒飲乾嘔者。不可吐也。急溫之。宜四逆湯。（按始曰脈弦遲或乍緊。而此不言者。此蓋微細或弱者也。）曰嘔而脈弱。小便複利。身有微熱。見厥者難治。四逆湯主之。此其於證也。亦大類於吳茱萸湯之所之。然彼則專於嘔吐。此則精奪於內。是之為其別也。一則胸。一則內。亦惟上下之位爾。三綱者。下利而厥逆。其目凡六焉。論曰。少陰病。下利脈微者。與白通湯。利不止。厥逆無脈。乾嘔煩者。白通加豬膽汁湯主之。曰下利厥逆而惡寒者。曰大下利而厥冷者。皆四逆湯主之。曰下利清穀。裡寒外熱。汗出而厥者。曰少陰病。下利清穀。裡寒外熱。手足厥逆。脈微欲絕。身反不惡寒。其人或面赤色。或腹痛。或乾嘔。或咽痛。或利止脈不出者。皆通脈四逆湯主之。曰少陰病。下利脈微澀。嘔而汗出。必數更衣。反少者。當溫其上灸之。（按此雖不曰厥乎。觀於其曰脈微澀曰溫其上。則必當有厥證耳。溫字蓋指四逆湯也。以其灸足。故曰其上耳。）四綱者。不關吐利。或利後厥冷。其目凡十有二焉。論曰。若重發汗。復加燒針者。曰病發熱頭痛。脈反沉。若不差。身體疼痛。當救其里。曰少陰病。脈沉者。急溫之。皆四逆湯主之。（按此三條。不曰厥者。蓋略之也。）曰傷寒脈微而厥。至七八日膚冷。其人躁無暫安時者。此為藏厥。非為蛔厥也。曰病者手足厥冷。言我不結胸。小腹滿。按之痛者。此冷結在膀胱也。曰傷寒六七日。脈微。手足厥冷煩躁者。灸厥陰。曰傷寒五六日。不結胸。腹濡脈虛。復厥者。不可下。此為亡血。曰傷寒脈促。手足厥逆者。可灸之。曰下利後脈絕。手足厥冷。晬時脈還。手足溫者生。脈不還者死。（按以上六條。蓋皆四逆湯之所之也。）曰發汗若下之。病仍不解。煩躁者。茯苓四逆湯主之。（按此不曰厥者。蓋略之也。）曰吐已下斷。汗出而厥。四肢拘急不解。脈微欲絕者。通脈四逆加豬膽汁湯主之。曰傷寒六七日。大下後。脈沉而遲。手足厥逆。下部脈不至。咽喉不利。唾膿血。泄利不止者。為難治。麻黃升麻湯主之。（按此方似大可疑。本草麻黃條下。引此證作麻黃湯。亦未可必也。）五綱者。因蛔蟲而厥。其目一焉。論曰。蛔厥者。其人當吐蛔。令病者靜。而復時煩。此為藏寒。蛔上入膈故煩。須臾復止。得食而嘔。又煩者。蛔聞食臭出。其人當自吐蛔。蛔厥者。烏梅丸主之。凡此五綱二十有五目者。皆專於寒。而其最重焉者也。六綱者。手足寒。厥寒。厥。其目凡四焉。論曰。得之便厥。咽中干。煩躁吐逆者。作甘草乾薑湯與之。曰傷寒厥。而心下悸者。宜先治水。當服茯苓甘草湯。卻治其厥。（按此不載治厥之方。厥果微冷。則於法宜與當歸四逆湯已。）曰少陰病。身體痛。手足寒。骨節痛。脈沉者。附子湯主之。曰手足厥寒。脈細欲絕者。當歸四逆湯主之。此一綱四目者。亦皆專於寒而其稍輕焉者也。七綱者。熱深而厥深。其目凡二焉。（按此蓋不大便。腹鞕滿而痛。口乾舌燥或渴者也。）論曰。傷寒一二日至四五日而厥者。必發熱。前熱者。後必厥。厥深者熱亦深。厥應下之。（按此蓋承氣湯之所之也。）曰傷寒脈滑而厥者。里有熱也。白虎湯主之。此一綱二目者。皆專於熱。而其最重焉者也。八綱者。熱微而厥微。其目凡二焉。論曰。少陰病。四逆。（按此雖曰四逆。未必厥逆者也。）其人或咳。或悸。或小便不利。或腹中痛。或泄利下重者。四逆散主之。曰傷寒熱少厥微。指頭寒。默默不欲食。煩躁數日。小便利。色白者。此熱除也。欲得食。其病為愈。若厥而嘔。胸脅煩滿者。其後必便血。（按此蓋小柴胡湯之所之也。）此一綱二目者。亦皆專於熱。而其稍輕焉者也。此之為八綱三十有三目也。厥之為證。惟在於二陰焉。肇於少陰。而極於厥陰。太陰則不與也。而有寒有熱。有上下之位。有輕重之等。雖均之為厥乎。各有其分別。而處方之所以隨以差之者。悉具於八綱三十有三目。豈可不審辨矣哉。厥之極於厥陰也。率以發熱逾之。以為生之候也。而發熱又有其可畏者。凡三焉。躁不得臥。此其一也。厥不止。此其二也。汗出不止。此其三也。此之為死之候也。亦復不可不審辨矣。</p>

<h1>卷四</h1>

<h2>日數</h2>
<p>凡疾疢之於淺深緩急也。莫不脈證之盡焉。然又因日之多少。或為之轉機。則日數何不舉也。所以系之以日數也。雖則系之以日數乎。亦惟概舉以為法焉爾。乃其不曰一日二日三日。而曰一二日二三日者。豈非概舉乎。夫既雖概舉曰一二日二三日乎。因日之多少。或為之轉機。則何可視以忽諸哉。於是乎知其曰一二日二三日者。以其初發之位。與發汗之過不及言之也。如其曰四五日五六日六七日。則以其既轉者言之也。然又不無至此而猶不轉。至八九日或十日以上者。論曰。太陽病。脈浮緊。無汗發熱。身疼痛。八九日不解。表證仍在。此當發其汗。又曰。病過十日。脈但浮。無餘證者。皆宜麻黃湯。此皆既至八九日十日以上。猶不轉者也。當是時也。猶行發汗之方。此為法也。又曰。太陽病。得之八九日。如瘧狀。發熱惡寒。熱多寒少。一日二三度發。宜桂枝麻黃各半湯。若輕於前證一等。而日再發。宜桂枝二麻黃一湯。若又不及其再三。宜桂枝二越婢一湯。此亦皆既至八九日。猶不轉者也。故曰。其人不嘔。清便欲自可。當是時也。亦猶行發汗之方。此為法也。若其既轉也。在五六日。或為往來寒熱。胸脅苦滿。默默不欲飲食。心煩喜嘔。宜小柴胡湯。既與小柴胡湯。嘔不止。心下急。鬱郁微煩。宜大柴胡湯。若前證已愈但渴。宜白虎湯。而其小便不利。宜豬苓湯。若微發熱。宜五苓散。此亦為法也。其在六七日。或為身熱。為惡熱。為潮熱。多汗。口燥舌乾而渴。欲大飲水。宜白虎加人參湯。若其脈滑疾。讝語煩躁。小便濁而數。不大便。或難或鞕。於是先與小承氣湯。審其燥屎之候。然後與大承氣湯。假令與大承氣湯。明日不大便。脈反微澀。不可更與之。此亦為法也。是皆其既轉者也。論又曰。少陰病。始得之。反發熱。脈沉者。宜麻黃附子細辛湯。又曰。二三日與麻黃附子甘草湯。以二三日無里證。故微發汗也。此以其發熱為表證也。然則其指為里證者。何謂也。曰心中煩而不得臥。此其里證之一也。曰腹痛小便不利。四肢沉重疼痛。自下利。此其里證之二也。曰下利不止。便膿血。此其里證之三也。乃其始在二三日。未有如此三里證者。而反發熱脈沉。其所以為無里證也。此其未轉者也。至於二三日之後。見此三里證。於是一則曰二三日以上。以與黃連阿膠湯。一則曰二三日不已。至四五日。以與真武湯。一則曰二三日至四五日。腹痛小便不利。下利不止。明其既與真武湯不愈。以與桃花湯。此亦為法也。是皆其既轉者也。凡此等之類。皆概舉日之多少。系之脈證。示其轉機焉爾。雖日數之不可強拘乎。其不可視以忽諸。大抵為然。</p>
<p>又有不曰一二日二三日。而曰一日二日三日者。如曰一日太陽受之。脈若靜者為不傳云云。曰二三日陽明少陽證不見者云云。曰發於陽者七日愈。發於陰者六日愈云云。曰至七日以上自愈云云。曰欲解時。從某至其上。曰過經十三日云云。曰十三日不解云云。曰到經不解云云。曰三日三陽為盡。三陰當受邪云云。曰至陰經上轉云云。曰後經中雲云之類是也。雖均之以日數乎。與其取之於概。曰一二日二三日。自不同也。乃必之於此。曰一日二日三日者。蓋取諸素問也。素問之於說。一日太陽受之。經各一日。至厥陰。凡六日。是為前經。至七日。再還太陽復至厥陰。是為後經。過此以往。十三日為過經。遂又至有誤下越經等之傳也。此不取之於概。而必於此者也。必於此者。推之於理者也。推之於理者。施於事必差。仲景氏之於論。皆施於事者也。奈何從夫理之為。而今及於此者。蓋後人謬窺仲景氏所論之似乎素問之說。取以自補者。遂傳於今耶。亦不可不擇矣。故今以其取於概者為正。如其必於此者則舍㫋。若以其必於此者。取之於概。則尚無害也。或固執而屈理。則固非也。又或並其正者棄之。則非之又非。豈足與議仲景氏之道也矣哉。</p>

<h2>挈因命證</h2>
<p>疾病之於變化。各有外候。外候謂之證。證必有因。謂其所由來者為因也。凡論脈證之中。有挈因而命證焉者。如曰心下有水氣。曰脅下有水。曰胸中有熱。曰胃中有邪氣。曰胃中乾燥。曰胃中不和。曰胃氣不和。曰胃中有燥屎。曰胃中空虛。曰胃中虛冷。曰里有熱。曰里有寒。曰熱入血室。曰熱結在裡。曰熱在下焦。曰熱在膀胱。曰瘀熱在裡。曰寒濕在裡。曰水結在胸脅。曰冷結在膀胱。曰裡寒。曰胸有寒。曰寒實。曰熱實。曰熱越。曰熱利之類是也。是既挈而命之也。在於仲景氏。仲景氏各盡其所由來。具其外候。使以規則也。不必索之於藏府於內。當索之於外候焉而已。乃其於外候也。乾嘔咳喘渴噎。所以心下有水氣也。腹中雷鳴。所以脅下有水也。欲嘔吐。所以胸中有熱也。腹中痛。所以胃中有邪氣也。大汗出煩渴。所以胃中乾燥也。乾噫食臭。所以胃中不和也。惡熱讝語。所以胃氣不和也。不大便六七日。腹滿讝語潮熱。或腹滿痛。或繞臍痛。煩躁發作有時。所以胃中有燥屎也。下之後。為胃中空虛也。自下利。為胃中虛冷也。不大便十餘日。復往來寒熱。或潮熱讝語。或大渴。舌上乾燥而煩。欲飲水數升。為熱結在裡。亦為里有熱也。汗自出而渴。為里有寒也。經水適來。或斷。或下血。胸脅下滿。寒熱發作有時。讝語如見鬼狀。為熱入血室也。少腹鞕滿。或急結。小便自利。其人如狂。或發狂。或一身手足盡熱。為熱結膀胱。亦為熱在下焦也。少腹滿。按之痛。手足厥冷。為冷結在膀胱也。身黃如橘子色。大小便不利而渴。為瘀熱在裡也。身目為黃。小便不利而不渴。為寒濕在裡也。往來寒熱。但頭汗出。為水結在胸脅也。下利清穀。為裡寒也。胸中痞。不得息。或心中滿。飢不能食。為胸有寒也。心下鞕痛。無有熱氣。為寒實也。心下鞕滿而痛。不大便數日。為熱實也。不大便。發熱汗自出。為熱越也。下利慾飲水。為熱利也。各盡其所由來。具其外候。使以規則者若此。故欲循規則於仲景氏者。當索之於外候焉而已。何必索之於藏府於內也哉。</p>

<h2>方證互略</h2>
<p>處方之從脈證也。對舉以詳悉焉。然後或舉證而略方焉。或舉方而略證焉。見證而知方。見方而知證。所以使人自得於轉機之道也。如柴胡之於嘔。白虎之於渴。則證之所定也。故於此二者。舉證而略方焉。乾薑附子湯曰。下之後。復發汗。晝日煩躁不得眠。夜而安靜。不嘔不渴。桂枝附子湯曰。傷寒八九日。風濕相搏。身體疼煩。不能自轉側。不嘔不渴。此其於證。皆似柴胡及白虎而異。故舉證之所定。以略其方。使之不混也。曰此而有嘔。即有柴胡。此而有渴。即有白虎。如承氣之於胃實。四逆之於厥冷。則方之所本也。故於此二者。舉方而略證焉。調胃承氣湯曰。太陽病。三日發汗不解。蒸蒸發熱者。屬胃也。又曰。傷寒吐後。腹脹滿者。此其於方。固具胃實者也。四逆湯曰。若重發汗。復加燒針者。又曰。病發熱頭痛。脈反沉。若不差。身體疼痛。當救其里。又曰。少陰病。脈沉者。急溫之。茯苓四逆湯曰。發汗若下之。病仍不解。煩躁者。此其於方。固具厥冷者也。故於此二者。舉方之所本。以略其證。使之不眩也。此而承氣湯曰。此里有實也。此而四逆湯曰。此欲厥冷也。故舉證而略方。舉方而略證者。欲使人辨其證於微也。又有承氣之略方焉者。如論曰。太陽病。得之八九日。如瘧狀。發熱惡寒。熱多寒少。其人不嘔。清便欲自可是也。又有白虎之略證焉者。如論曰。傷寒脈浮滑。此表有熱。里有寒。又曰。三陽合病。腹滿身重。難以轉側。口不仁而面垢。讝語遺尿。若自汗出者。又曰。傷寒脈滑而厥者。里有熱是也。又有桂枝麻黃之略證焉者。如論曰。脈但浮者。又曰脈浮者。病在表。可發汗。又曰脈浮而數者。可發汗。又曰脈浮虛者。宜發汗。又曰脈浮無餘證者是也。此皆使人審諦其證於若存若亡之中。的然處其方也。又有舉重而略輕焉者。如桂枝湯之脈證。而以麻黃湯。四逆湯之脈證。而以通脈四逆湯。舉大承氣湯。而略小承氣湯之類是也。又有舉輕而略重焉者。如麻黃湯之脈證。而以桂枝湯。大柴胡或柴胡加芒硝湯之證。而以小柴胡湯。通脈四逆湯之證。而以四逆湯。舉小承氣湯。而略大承氣湯之類是也。此皆使人知不必拘輕重緩急之常例。而先後其處方之道也。此轉機之大者也。凡是皆或證或方。略其所定之與其所本。互以發其活用者也。又有曰表裡證者。即指柴胡證言之也。此以其表之遠太陽。而其里之未及陽明。故取之於少陽。以表裡連言爾。蓋以其位於中間也。既位於中間。故但為之半猶可。謂為半表半裡不可也。何則。或雖既及少陽乎。猶有太陽之證也。或雖既及陽明乎。猶有少陽之證也。或太陽之未罷。而見陽明之證也。是皆有表亦有里者也。此何以不言之半表半裡。而言並病若轉屬轉入乎。表裡連言者。本是指中位之稱。而非半彼半此之稱也。然則表裡連言者。獨可於少陽。而不可於太陽陽明。可以知矣。故但為之半猶可。謂為半表半裡不可也。</p>

<h2>方從表裡</h2>
<p>脈證之有陰陽。而方劑之從之也。有專於表者。有專於裡者。有間於表裡者。此脈證有陰陽。而方劑有表裡也。三陽之為表也。惟熱之主焉。而又立表裡。以辨其淺深緩急也。太陽則桂枝湯。麻黃湯。桂枝麻黃各半湯。桂枝二麻黃一湯。桂枝二越婢一湯。葛根湯。桂枝加葛根湯。大小青龍湯等。此皆其專於表之劑也。惟隨其脈證。而不拘其腹候也。陽明則白虎湯。豬苓湯。調胃大小承氣湯等。此皆其專於裡之劑也。必隨其外證與其腹候也。少陽則大小柴胡湯。柴胡加桂枝湯。柴胡桂枝幹薑湯。柴胡加芒硝湯。柴胡加龍骨牡蠣湯。黃芩湯等。此皆其間於表裡之劑也。亦必隨其外證與其腹候也。三陰之為里也。惟寒之主焉。未必立表裡。而辨其淺深緩急。亦猶三陽也。太陰則理中湯。桂枝加芍藥湯。及加大黃湯等也。然若脈浮發熱。則取之於表。以桂枝湯也。少陰則附子湯。真武湯。桃花湯。白通湯。四逆散。當歸四逆湯。甘草湯。桔梗湯。半夏散。苦酒湯等也。然若反發熱。則亦取之於表。以麻黃附子細辛湯。及麻黃附子甘草湯也。厥陰則四逆湯。通脈四逆湯。四逆加人參湯。通脈四逆加豬膽汁湯。當歸四逆加吳茱萸生薑湯。吳茱萸湯等也。此皆莫論其專於裡之劑。亦必隨其外證與其腹候也。又有始於熱而入於寒者。如太陽有乾薑甘草湯。乾薑附子湯。芍藥甘草附子湯。四逆湯。茯苓四逆湯。真武湯。桂枝加附子湯。桂枝去芍藥加附子湯。桂枝附子湯。甘草附子湯。陽明有吳茱萸湯。四逆湯之類是也。有始於寒而出於熱者。如少陰有大承氣湯。厥陰有白虎湯。豬苓湯。白頭翁湯。小承氣湯。小柴胡湯之類是也。凡三陽三陰之所主論。在於傷寒之機變焉。機變之百出。遂及於雜脈證。於是乎以其始於表者。屬於三陽。以其始於里者。屬於三陰。是故有熱之謂發於陽。以表之主熱也。無熱之謂發於陰。以里之主寒也。若夫及於雜脈證也。有表仍不解者。有其已解者。如葛根黃連黃芩湯。五苓散。茯苓甘草湯。小建中湯。桂枝加厚朴杏子湯。桂枝人參湯。黃連湯等。則兼表與里之劑也。如桂枝去桂加茯苓白朮湯。芍藥甘草湯。厚朴生薑甘草半夏人參湯。麻黃杏仁甘草石膏湯。茯苓桂枝甘草大棗湯。茯苓桂枝白朮甘草湯。桂枝甘草湯。半夏瀉心湯。生薑瀉心湯。甘草瀉心湯。旋覆代赭石湯。大黃黃連瀉心湯。附子瀉心湯。及桂枝加桂湯之於奔豚。桂枝加龍骨牡蠣湯之於火逆。桂枝去芍藥加蜀漆牡蠣龍骨救逆湯之於火邪。梔子豉湯之於虛煩。白散之於寒實。茵陳蒿梔子蘗皮湯之於瘀熱發黃。麻黃連軺赤小豆湯之於寒濕發黃。大陷胸湯之於大結胸。小陷胸湯之於小結胸。瓜蒂散之結於胸中。十棗湯之引脅下痛。桃核承氣抵當湯之熱結膀胱。四逆湯之冷結膀胱。則皆專於裡之劑也。又有表裡遞用者。如桂枝湯之又於其氣上衝。茯苓甘草湯之又於厥而心下悸是也。夫脈證之有淺深緩急也。方劑之不無坦夷勁駿。於是先切其脈。問心胸。按心下。探腹中。候少腹。試手足。熱耶寒耶。淺深是察。緩急是視。然後宜坦夷。宜勁駿。隨投則隨和矣。或汗。或吐。或下。莫適非和焉。夫三陽三陰之統脈證。而方劑之旋轉運用也。猶循環之無端也。惟仲景氏之術為然矣。</p>
<p>後之醫流。或必於脈。而不及腹。或必於腹。而不及脈。泥一而遺一。將欲以此而盡之耶。夫疾病之千品萬端。悉機於內。而形於外焉。乃候諸外。而察諸內者。惟脈之與證而已。仲景氏之論脈證也。有陰陽之分。有輕重之別。上之頭頂。下之四支。或心胸。或心下。或腹中。或少腹。飲食之多少。前後之利不利。各其外候之具。並其脈診。千品萬端。莫所不盡焉。脈證之所以相依不離也。腹中之不可得而洞視。候之於皮上。則與脈診何異也。若必以脈診為臆度。則腹候亦無非臆度也。脈不必遠。腹不必近。均之在於外候。則脈猶證。證猶脈也。腹何出乎證之外也。故曰。隨證治之。豈可泥其一而遺其一乎哉。又或專補氣之說。特癖坦夷之藥。謂非此則必害人。於是邪氣之太盛。愈守而不竣。終將不救矣。又或熾鬱滯之說。特癖勁駿之劑。謂非此則必不祛。於是精氣之既奪。益攻而不輟。遂將受敗矣。及此之時。告情而更醫。繼之以坦夷之藥。不日而痊者。間亦有之矣。至此而論曰。此前因我之勁駿之劑。其病已祛者也。不爾。彼之所與。與白飲何擇。又安能祛夫鬱滯乎。若又使渠論之。必曰。彼之為術。不問藏府。不察虛實。惟攻是務。塵芥死生。我乃與峻補之虛劑。救其元氣。倖免於死已。倘猶委彼而逞其所為。則就於鬼籍必矣。彼則所謂慘刻之妄人也。其相非也。奚啻堅白。所謂圓枘而方鑿。何以能相入乎。夫癖坦夷之藥者。不知厚藥之妙也。癖勁駿之劑者。不見薄藥之效也。此其人一試。意不能忘。癖從此始也。其實則厚藥未必有妙。薄藥非必無效。要在於得其宜與否而已。亦豈可泥其一而遺其一乎哉。補氣仲景氏之所不言也。論中惟見溫字一二。於理中丸曰溫藥。於四逆湯曰溫。然皆非補之義也。此本因痰飲為寒。吐利為寒。而二方之能治之也。稱以為溫已。然則與於小承氣湯及調胃承氣湯曰和何異。亦惟治之義已。豈可取之於補之義乎。後世溫補之說。蓋取於此。可謂誤矣。且有溫藥。而無寒藥。後之所謂寒藥。蓋取於溫補之反。亦可謂誤矣。鬱滯亦仲景氏之所不言也。理之於物。猶影之於形也。厝形而言影。何不可言也。疾病物也。鬱滯理也。厝物而言理。何不可言也。假令眎以為水。莫觀非水焉。窺以為火莫候非火焉。為氣為血。為有餘。為不足。亦莫不皆然焉。是故斷以為鬱滯。何病非鬱滯也。雖然。以影度形則必乖。以理推物則必失。理雖或可言乎。奈夫物何。又何言鬱滯之為。夫疾病之為物。千品萬端也。千品萬端。則不得不眩惑。於是仲景氏之誘人也。統以陰陽。系以脈證。統而不遺。系而不滿。莫不隨其所在。而備其方法焉。則千品萬端。又何所眩惑乎。夫雖言百病之根柢於腹乎。外內感之邪。其謂之何。此不必言根柢於腹也。何則。人皆稟天地之氣。雖不知其所以然。而有風寒暑濕。行於其間焉。於是不拘於體之強壯羸弱。而時或感之矣。其既感之也。總名為邪。邪之自外焉。則能為熱。脈必浮。是之為陽。其自內焉。則能為寒。脈必沉。是之為陰。陰陽各三矣。乃其於三陽也。惡寒發熱。是為太陽為表。於是與桂枝麻黃之劑。而發其汗。則其邪從去矣。汗本是一身之津液也。而今發之。能得不耗損乎。雖然。非此則無有夫邪之可解。是以一旦發之耳。然夫邪之必有淺深也。或一旦而不解。漸為往來寒熱。是為少陽。為表裡。於是與柴胡之劑。而馳逐之。則其邪從去矣。此以其在於中間。發汗吐下。皆非其宜。是以馳逐之耳。及其最深也。遂為身熱惡熱潮熱。是為陽明。為里。於是與承氣之劑。而下之。則其邪從去矣。胃本是津液之原也。而今下之。能得不涸竭乎。雖然。非此則無有夫邪之可除。是以一旦下之耳。此為三陽之概矣。其於三陰也。自利腹滿而時痛。是為太陰。而有理中桂枝加芍藥之方也。但欲寐。自利而渴。是為少陰。而有附子真武之方也。吐利厥逆。是為厥陰。而有四逆吳茱萸之方也。此為三陰之略矣。而三陽三陰。又各有其變脈證。而方劑之從之也。奚暇枚舉焉。凡是皆外內感之邪。而不拘於體之強壯羸弱。豈可必言根柢於腹乎。雖言百病之根柢於腹乎。皆有外證具焉。是故非並外證。而推之。必有所不盡矣。姑舉一而言之。假令少腹之急結鞕滿一也。或手足煩熱。或四支厥冷。此為寒熱之分也。乃其所推之在外證。而處方之大不同也。均是在少腹。而候之於皮上。則未足以盡其分也。問其四肢。並之於此。儳足以盡之矣。於是其手足煩熱。為熱結膀胱。其四支厥冷。為冷結膀胱也。熱結。則桃核承氣湯。抵當湯。冷結。則四逆湯也。急結鞕滿之雖一乎。惟是寒熱之分。盡之於四肢。豈非其所推之在外證。而處方之大不同耶。是故但按其腹。而不並外證。何以能盡矣也哉。夫仲景氏之誘人也。統以陰陽。系以脈證。千品萬端。莫所不盡焉。然則欲修仲景氏之術者。不可不盡其所盡。又何求之於他乎。然今此之不務。而取之於臆。必於脈。必於腹。或補氣。或鬱滯。泥一而遺一。厝物而言理。此皆未盡其所盡。所謂買櫝而還珠者也。豈足與議仲景氏之術矣也哉。</p>

<h2>數量</h2>
<p>藥有銖兩。水有升斗。而其煎煮之法。亦不一焉。古昔之所用。何太密也。舉其一二而言之。以厚朴枳實大黃之三品。名曰小承氣湯。又曰厚朴三物湯。又曰厚朴大黃湯。惟此三品。一無所更。而異其名。亦異其所之者。以其兩數之與升斗。與其煎煮之法也。有苓桂甘棗。有苓桂術甘。有苓桂甘姜。惟此三湯。代棗以術。代術以生薑。而異其所之者。亦以其兩數之與升斗。與其煎煮之法也。其他如此類。不遑枚舉矣。柴胡瀉心之於再煎。大黃黃連之於麻沸。誰知其所以然之故也。惟度其所受之如何而已。古人既稽其宜。建以為法。豈可以己之私。而溷古人之正法哉。是故銖兩升斗。及煎煮之法。不可不稽焉。雖然。年逝世換。量衡亦沿革不一。是以推之於史。遷之於世。觸乎類。索乎物。儳足以辨其概耳。於是諸家有所互發焉。近聞京師某生有所述。某生亦有所錄。於彼乎。於此乎。如沸如激。自非昇平之化。文運之融。稽古之道。六通四辟。何以見斯盛哉。雖然。余未嘗一寓目。是以不知其是非也。曩歲肥後人村井生。持其所撰藥量考來。示之於余。余倉卒讀過。雖未能盡以其言乎。猶記其義。大抵如可據矣。屬又我友備中人淺野生。著秤量考。寄謀之於余。余亦往有所考。既而失其稿。欲更起稿未果。得此著為幸。乃閱其所考證。與余之所推。為不大相背矣。故姑從其說。而不論於此也。村井生之所撰。先行於世。繼之以淺野生之所著。而又復諸家之所發。接踵而起。則彼以讎對乎此。得銖兩升斗之平正。可企以望矣。豈不愉快哉。雖然。醫之臨術也。莫先乎審脈證焉。藥品次之。數量又次之矣。仲景氏既論脈證。為之規則。不循其規則。處方將何之據。故莫先乎審脈證焉。藥有種品。因其土之厚薄。氣味自不同。氣味各愜仲景氏之所用。而後疾可得而治矣。若不愜仲景氏之所用。雖得其脈證。疾何以治。故藥品次之矣。銖兩升斗。各有其分備。然而量衡世有沿革。不可得而一也。縱有其所考。不能無毫釐撮勺之差。惟在其概耳。若能致其平正。而無毫釐撮勺之差。不得其脈證。則疾必不除。惟其脈證之與藥品。能得其所而不失。則銖兩升斗之不致其平正。而有毫釐撮勺之差。疾何不瘳。故數量又次之矣。由是而觀之。銖兩升斗之於醫事。抑亦末也。故醫之於務。當以脈證為先。而藥品為次。然後及數量。未為後矣。數量之於醫事。抑亦末也。雖然。古昔之所用太密。則及其煎煮之法。亦皆一規則也。豈容忽諸哉。且夫銖兩之於考。必徵之於錢。以其無他可以徵者也。於是非半兩則五銖。或貨泉。又或開元錢等。據以為徵矣。以余謂之。年逝世換之久。輪郭銷燬。則姑舍㫋。雖未審古昔鑄錢之法如何乎。視諸本邦今時所鑄之法。作千萬模範。𩰾溶銅鐵。流入之於模範。則千萬一舉而成矣。未嘗一一修之形。亦未嘗一一較其輕重。是以不得少無大小厚薄之參差。豈暇一一修之。一一較之。以齊一之哉。雖古昔亦當然而已。是故五銖未必五銖。半兩未必半兩。惟平均數十錢。然後儳得其正耶。而今取其一而齊視之。豈其不差乎。不知其徵之以五銖之果正耶。又將以半兩之未正耶。故考之一二。為其概則可。為無毫釐之差。則不可也。然銖兩固不可不密也。何則。古昔之為方。既因此而異其名。亦異其所之。然而今果不能如古。則末奈之何已。縱不能無毫釐之差。惟是醫事之末。無已據於概而已。故銖兩之於概。亦豈容忽諸哉。</p>

<h2>加減法</h2>
<p>夫藥也者。性之偏者也。非若穀肉果菜之常能養人也。人之自有常也。失常之謂疾。惟疾乎能害於人。為其能害於人。服夫偏性之物。謀以除之也。乃同飲食入口也。不得其肯綮。則亦能害於人。是故聖者猶慎焉。古之精於此者。能辨人之所以疾者。與其所以除之者。聚藥而制方。欲使人之免疾而復常也。於是乎醫之職興焉。醫之職興。而其詳不可得而稽焉。暨臻張仲景氏。論定而規則建焉。規則既建。而後人有依而據焉。於是乎各有所窺。亦未能一焉。夫未能一焉。又焉能一之也哉。雖然。我苟不一之於吾。則術何所修也。於是務一之於此。以修其術。乃取其所修。以臨術於今。幸見其不乖也。則術其所以一之者。我滿吾之腹焉爾矣。夫藥也者。性之偏者也。非若穀肉果菜之常能養人也。乃其已疾之能。全是在於性之偏。偏之能害於物。即害夫使人之失常之物。此之為藥之能也。故藥之為能也。惟利於疾。而不利於人。乃同飲食入口也。不得其肯綮。則亦能害於人。豈可不慎焉也哉。夫藥之為性也。本是一味一能。而不能兼眾能也。是故方之於制也。肇於一味。而至於數味。雖乃至於數味乎。合為一方。則未必治數證。亦猶一能也。何則。其合數味而為一方也。彼為此戮力。此為彼所誘。是故有如治三四證者。雖乃如治三四證乎。本之則必是一病證也。故合數味而為一方。則亦猶一能也。仲景氏既有所稽於古。能辨其所以然者。因其方法。或加或去。為各半。為二一。極其變化。致其妙用。建之規則。使人有依而據。則莫不適其宜焉。莫有所未盡焉。此豈後人淺膚之識之所能窺測也哉。夫既合數味而為一方。僅能治一病證。則欲一一析之。以極其能。不可得者。固不少也。惟其隨證而移也。於其所或加或去。不無一二之可以窺者也。藉令能一一極其能。又能辨雜之於合數味之方中。果能趨其所欲令趨。擅奏其效耶。焉知不彼為此戮力。此為彼所誘。遂趨於他。反為之害也哉。於是乎知加減之難隨意為也。譬諸五色糅布而成間色。五味交和而成鹽梅焉。糅布有分。交和有節。分紊則不成其色。節亂則不成其味。不成色則不文。不成味則不旨。不文則物不足以觀。不旨則人不足以養。色以美於觀為本。味以厚於養為本矣。加減之難隨意為也。亦猶此也耶。古之精於此者。既能推夫觀之與養之為本。為之分。為之節。使其不得紊亂。亦惟彼為此戮力。此為彼所誘。能成其文。能成其旨也。若夫紊亂分之與節。欲成其間色。成其鹽梅耶。焉知不彼為此戮力。此為彼所誘。遂趨於他。不翅不文不旨。反毀物害人也哉。於是乎知加減之難隨意為也。夫藥之為性也。本是一味一能。而不能兼眾能也。試舉其一二。則大黃以偏下之為能。芒硝以能爍凝結為能。於是乎若欲下宿食燥屎。則必以此二物為主也。桃仁能破新瘀血。於是乎若欲下瘀血之新凝結者。則必以此三物為主也。水蛭虻蟲能破舊瘀血。於是乎欲下瘀血之舊凝結者。則必合此四物施之也。由此而觀之。雖大黃之偏下之乎。非芒硝戮之力。為其所誘。則不能及宿食燥屎也。雖芒硝之能爍凝結乎。非為大黃所誘。為彼戮力。則亦不能及宿食燥屎也。雖桃仁之能破新瘀血乎。非上二物戮之力。為其所誘。則不能及其凝結也。雖水蛭虻蟲之能破舊瘀血乎。非為上二物所誘。為彼戮力。則亦不能及其凝結也。桂枝能達於肌表。以其能達於肌表。乃驅其邪。又上抵頭上。內散上衝之氣。又能之於四支。雖其能之如及三四乎。其實則一也。麻黃能之於膚肉而驅其邪。雖乃驅膚肉之邪。未能達於肌表。於是乎戮力桂枝。為其所誘。能得達於肌表。發之於汗也。葛根亦能之於膚肉。而解其熱。以其能之於膚肉。又能之於項背。而不能獨之於項背。於是乎戳力上二物。為其所誘。能得之於項背。發之於汗。若反汗出。則去其麻黃也。此雖其能之如有二乎。其實則一也。麻黃之既能之於膚肉也。又能止汗。而不能獨止汗。於是乎戮力石膏。為其所誘。能得止汗也。此雖其能之如有二乎。其實則一也。石膏之既得麻黃。而能止汗也。又得知母粳米。能已煩渴。附子得乾薑。能溫裡寒。又得桂術苓。能利水。止疼痛。緩屈伸。厚朴得杏仁。能祛喘。又得枳實。能減腹滿。半夏得生薑。能止嘔。又得乾薑。能除心下水氣。凡此等之類。不暇枚舉。亦皆此為彼戮力。彼為此所誘。差其所之。雖其能之如及三四乎。其實則各一也。他亦可例而推焉爾矣。夫既如此也。藉令能一一極其能。又未辨雜之於合數味之方中。果能趨其所欲令趨。擅奏其效。則豈可隨意而加減也哉。夫藥之於能也。惟利於疾。而不利於人。乃同飲食入口也。不得其肯綮。則亦能害於人。不可不慎焉。或曰。今考仲景氏之方論。既有去桂。如桂。去芍藥。加芍藥。加厚朴杏子。加茯苓白朮。加朮。加大黃。加芒硝。加人參。新加。加半夏生薑。加龍骨牡蠣。加蜀漆牡蠣龍骨。加吳茱萸生薑。加豬膽汁。及各半二一等。此皆據古昔之方法。對即今之脈證。隨其宜而為之加減者也。且於小青龍湯。小柴胡湯。真武湯。四逆湯。通脈四逆湯。理中丸等之下。詳設加減之法。亦皆使人據此而及於他者也。且疾病之能變而能化。固不可概而論也。仲景氏之論脈證。惟是其概耳。烏暇盡其變化乎。於是不漆膠本論。乃變乃化。且加且減。惟隨其宜。是之謂能活乎術也。仲景氏既試加減於當時。又示其法於六方之下。則今例於此而為之者。又何不可乎。然吾子獨漆膠其所概論之脈證。強辨加減之難以為於今。可謂拘泥之太甚矣。曰吾子亦過矣。大抵後之為方技者。無不皆言如子之所言。緣飾己之陋也。仲景氏之於術。非謂無加減也。不審其規則。徒取之於概。隨意而加減。將惟疾病是弄。無乃不可乎。若乃據夫例。而為一二之加減。猶無大害也。甚則至於擬各半一二等之例。不惟合二為一。更復加之數藥。欲兼盡數證也。幸遇自愈者。謂實由於加減之力也。於是每證配藥而不足。必將加減以不遺也。此其所專。不在於本方。而在於加減也。加減之果能兼盡而不遺。則百證接踵而起。固不足以為憂矣。古人之制數百之方劑者。迂闊之已甚。又何使人迷惑也。擇其緊要者。則不過二三方。而無所不足。又奚煩數百之方劑之為。仲景氏既有所稽於古。能辨其所以然者。因其方法。或加或去。為各半。為二一。極其變化。致其妙用。建之規則。使人有依而據。則莫不適其宜焉。莫有所未盡焉。此豈後人淺膚之識之所能窺測也哉。夫既建之規則。使人有依而據。則其非概而論者諦矣。規則之具於脈證也。厝脈證而將何之由。處方之從於轉機也。厝脈證而將何之由。然後處方在於我。而加減不在於我也。豈可徒取之於概。隨意而加減也哉。夫既處方在於我。而加減不在於我。故術之為治也。不在於每證加減。而在於察機處方也。或不必兼治。而分治各證。或因一二異同。而懸殊其所之。或一方而二三其脈證。或證相類而方不相類。或藥多而證少。或證多而藥少。此乃仲景氏之所以能極其變化。能致其妙用也。如腳攣急而厥。咽中干。煩躁吐逆者。與甘草乾薑湯。厥愈足溫者。更與芍藥甘草湯。若胃氣不和讝語者。與調胃承氣湯。若四支厥逆者。與四逆湯。又有表裡證。渴欲飲水。水入則吐者。不與小柴胡湯。而先與五苓散。又與瀉心湯。痞不解。渴而口燥煩。小便不利者。與五苓散。又心下痞鞕。乾噫食臭。腹中雷鳴下利者。與生薑瀉心湯。而噫氣不除者。與旋覆代赭石湯。又腹痛小便不利。四肢沉重疼痛。自下利者。與真武湯。而下利不止。便膿血者。與桃花湯。又服桂枝湯後。大煩渴不解。及服柴胡湯。已渴者。皆與白虎加人參湯。則不必兼治而分治各證者也。如桂枝湯。治頭痛發熱。汗出惡風者。及其氣上衝者。又加之桂二兩。足前成五兩。名桂枝加桂湯。治奔豚。又加芍藥三兩。足前成六兩。並膠飴。名小建中湯。治腹中急痛者。及心中悸而煩者。又去其膠飴。名桂枝加芍藥湯。治腹中滿時痛者。又加之大黃一兩。名桂枝加大黃湯。治其實痛者。又桂枝湯方中。去芍藥。名桂枝去芍藥湯。治脈促胸滿者。又加之附子一枚。名芍藥加附子湯。治其微惡寒者。又加之附子二枚。足前成三枚。名桂枝附子湯。治身體疼煩。不能自轉側。脈浮虛而澀者。又去桂加朮四兩。名去桂枝加白朮湯。治其大便鞕。小便自利者。又桂枝附子湯方中。減附子一枚。去生薑大棗。加朮二兩。名甘草附子湯。治骨節煩疼。掣痛不得屈伸。近之則痛劇。汗出短氣。小便不利。惡風不欲去衣。或身微腫者。又桂枝湯方中。加附子一枚。名桂枝加附子湯。治發汗遂漏不已。其人惡風。小便難。四支微急。難以屈伸者。四逆湯。治吐利煩躁。四支厥逆。無脈者。及下利清穀者。又去其甘草。名乾薑附子湯。治晝日煩躁不得眠。夜而安靜。脈沉微。身無大熱者。又去其附子。名乾薑甘草湯。治咽中干。煩躁吐逆而厥者。芍藥甘草湯。治腳攣急。又加附子。名芍藥甘草附子湯。治發汗病不解。反惡寒者。又四逆湯方中。去甘草。代蔥白。名白通湯。治下利脈微者。又四逆湯方中。加人參。名四逆加人參湯。治惡寒脈微而複利者。又去附子。代術。名理中湯。治霍亂寒多不用水者。又加之桂四兩。名桂枝人參湯。治協熱而利。利下不止。心下痞鞕。表裡不解者。附子湯。治少陰病。口中和。其背惡寒者。及身體痛。手足寒。骨節痛。脈沉者。又去人參代生薑。名真武湯。治腹痛小便不利。四肢沉重疼痛。自下利者。及太陽病。發汗。汗出不解。仍發熱。心下悸。頭眩。身瞤動振振。欲擗地者。茯苓桂枝甘草大棗湯。治臍下悸。欲作奔豚者。又以術代大棗。名茯苓桂枝白朮甘草湯。治心下逆滿。氣上衝胸。起則頭眩。脈沉緊者。又以生薑代術。名茯苓甘草湯。治傷寒汗出者。及厥而心下悸者。小柴胡湯。治往來寒熱。胸脅苦滿。默默不欲飲食。心煩。喜嘔者。又加之桂枝芍藥。名柴胡桂枝湯。治傷寒六七日。發熱微惡寒。支節煩疼。微嘔。心下支結。外證未去者。半夏瀉心湯。治心下痞鞕。又加之生薑四兩。名生薑瀉心湯。治心下痞鞕。乾噫食臭。腹中雷鳴下利者。又加之甘草一兩。足前成四兩。名甘草瀉心湯。治下利日數十行。穀不化。腹中雷鳴。心下痞鞕而滿。乾嘔。心煩不得安者。又半夏瀉心湯方中。去黃芩代桂枝。加黃連二兩。足前成三兩。名黃連湯。治腹中痛。欲嘔吐者。梔子甘草豉湯。治發汗吐下後。虛煩不得眠。少氣者。又去香豉代蘗皮。名梔子蘗皮湯。治身黃髮熱者。又梔子豉湯方中。如枳實。名枳實梔子湯。治大病差後勞復者。又去香豉。代厚朴。名梔子厚朴湯。治下後心煩腹滿。臥起不安者。調胃承氣湯。治胃氣不和。讝語者。又去甘草。代甘遂。名大陷胸湯。治實熱結胸。心下痛。按之石鞕者。則因一二異同。而懸殊其所之者也。如桂枝湯。行之太陽病。頭痛發熱。汗出惡風。鼻鳴乾嘔者。而又行之其氣上衝者。及前證既愈。身痛不休者也。麻黃湯。行之頭痛發熱。骨節疼痛。惡風。無汗而喘者。而又行之太陽與陽明合病。喘而胸滿者。及不發汗。因致衄者也。葛根湯。行之項背強𠘧𠘧。無汗惡風者。而又行之太陽與陽明合病。自下利者也。小建中湯。行之腹中急痛者。而又行之心中悸而煩者也。大青龍湯。行之脈浮緊。發熱惡寒。身疼痛。不汗出而煩躁者。而又行之脈浮緩。身不疼。但重。乍有輕時。無少陰證者也。五苓散。行之脈浮。小便不利。微熱消渴者。而又行之水逆及霍亂也。豬苓湯。行之脈浮發熱。渴欲飲水。小便不利者。而又行之少陰病。下利。咳而嘔渴。心煩不得眠者也。茯苓甘草湯。行之傷寒汗出者。而又行之厥而心下悸者也。小柴胡湯。行之往來寒熱。胸脅苦滿。默默不欲飲食。心煩。喜嘔者。而又行之身熱惡風。頸項強。脅下滿。手足溫而渴者。及熱入血室。與嘔而發熱者。與傷寒差已後。更發熱者也。大柴胡湯。行之嘔不止。心下急。鬱郁微煩者。而又行之傷寒十餘日。熱結在裡。復往來寒熱者。及傷寒發熱。汗出不解。心下痞鞕。嘔吐而下利者也。白虎湯。行之脈浮滑。表有熱。里有寒者。而又行之三陽合病。腹滿身重。難以轉側。口不仁而面垢。讝語遺尿。自汗出者。及脈滑而厥。里有熱者也。白虎加人參湯。行之熱結在裡。表裡俱熱。時時惡風。大渴舌上乾燥而煩。欲飲水數升者。而又行之傷寒無大熱。口燥渴。心煩。背微惡寒者。及服桂枝湯。大汗出後。大煩渴不解。脈洪大者。與服柴胡湯已渴者也。調胃承氣湯。行之胃氣不和。讝語者。而又行之發汗後。不惡寒。但惡熱者。及自下利。脈反調和者。與陽明病。不吐不下。心煩者。與心下溫溫欲吐。胸中痛。大便反溏。腹微滿。鬱郁微煩者。與吐後腹脹滿者也。小承氣湯。行之小便數。大便因鞕。微煩者。而又行之大便不通者。及下利讝語者也。大承氣湯。行之陽明病。讝語潮熱。腹滿微喘。大便鞕。或不大便六七日。有燥屎者。而又行之少陰病。二三日。口燥咽乾者。及自利清水。色純青。心下必痛。口乾燥者也。真武湯。行之少陰病。腹痛小便不利。四肢沉重疼痛。自下利者。而又行之太陽病。發汗不解。仍發熱。心下悸。頭眩。身瞤動振振。欲擗地者也。附子湯。行之少陰病。口中和。其背惡寒者。而又行之身體痛。手足寒。骨節痛者也。四逆湯。行之下利清穀。裡寒外熱。手足厥逆。脈微欲絕者。而又行之發熱頭痛。脈反沉。身體疼痛者。及膈上有寒飲。乾嘔者。與下利腹脹滿者也。吳茱萸湯。行之食谷欲嘔者。而又行之吐利手足厥冷。煩躁欲死者。及乾嘔吐涎沫。頭痛者也。則一方而二三其脈證者也。如曰桂枝證。醫反下之。利遂不止。脈促。喘而汗出者。宜葛根黃連黃芩湯。曰太陽病。外證未除。而數下之。遂協熱而利。利下不止。心下痞鞕者。宜桂枝人參湯。曰發下後。腹脹滿者。宜厚朴生薑甘草半夏人參湯。曰吐後。腹脹滿者。宜調胃承氣湯。曰下後。心煩腹滿。臥起不安者。宜梔子厚朴湯。曰少陰病六七日。腹脹不大便者。宜大承氣湯。曰腹滿時痛者。宜桂枝加芍藥湯。其大實痛者。宜桂枝加大黃湯。曰腹滿痛者。宜大承氣湯。曰腹中急痛而嘔者。宜小柴胡湯。曰腹中痛。欲嘔吐者。宜黃連湯。曰心下溫溫欲吐。而胸中痛。大便反溏者。宜調胃承氣湯。曰心下痞鞕。嘔吐而下利者。宜大柴胡湯。曰不大便五六日。舌上燥而渴。日晡所小有潮熱。從心下至少腹。鞕滿而痛。不可近者。宜大陷胸湯。曰不大便五六日。日晡所發潮熱。腹滿痛者。宜大承氣湯。曰胸滿煩驚。小便不利。讝語。一身盡重。不可轉側者。宜柴胡加龍骨牡蠣湯。曰腹滿身重。難以轉側。口不仁而面垢。讝語遺尿。自汗出者。宜白虎湯。曰身體疼煩。不能自轉側。不嘔不渴。脈浮虛而澀者。宜桂枝附子湯。曰發汗後。水藥不得入口為水逆。宜五苓散。曰少陰病。飲食入口則吐。心中溫溫欲吐。復不能吐。胸中實者。宜瓜蒂散。曰本自寒下。醫復吐下之。寒格更逆吐下。若食入口即吐者。宜乾薑黃連黃芩人參湯。曰氣上衝胸。起則頭眩。脈沉緊者。宜茯苓桂枝白朮甘草湯。曰心下悸。頭眩。身瞤動振振。欲擗地者。宜真武湯。曰心下痞鞕。脅下痛。氣上衝咽喉。眩冒。經脈動惕者。宜十棗湯。曰胸中痞。氣上衝咽喉。不得息者。宜瓜蒂散。曰太陽與陽明合病。自下利者。宜葛根湯。曰太陽與少陽合病。自下利者。宜黃芩湯。曰少陰病。咽痛。宜桔梗湯。曰咽中痛。宜半夏散。曰吐利厥逆。脈微欲絕者。宜四逆湯。曰吐利手足厥冷。煩躁欲死者。宜吳茱萸湯。曰下利脈微者。與白通湯。利不止。厥逆無脈。乾嘔煩者。宜白通加豬膽汁湯。曰渴欲飲水。口乾舌燥者。宜白虎加人參湯。曰渴欲飲水。小便不利者。宜豬苓湯。曰脈浮。小便不利。微熱消渴者。宜五苓散。則證相類而方不相類者也。如茯苓桂枝甘草大棗湯之於臍下悸也。茯苓甘草湯之於傷寒汗出也。半夏瀉心湯之於心下痞鞕也。小建中湯之於腹中急痛也。黃連湯之於腹中痛欲嘔吐也。桂枝加芍藥湯之於腹滿時痛也。厚朴生薑甘草半夏人參湯之於腹脹滿也。桂枝加芍藥生薑人參新加湯之於身疼痛也。桂枝去芍藥加蜀漆牡蠣龍骨救逆湯之於火邪也。桂枝甘草龍骨牡蠣湯之於火逆也。麻黃連軺赤小豆湯之於發黃也。黃連阿膠湯之於煩不得臥也。小柴胡湯之於嘔而發熱也。白頭翁湯之於熱利下重也。附子湯之於口中和背惡寒也。牡蠣澤瀉散之於腰以下有水氣也。則藥多而證少者也。如甘草乾薑湯。以治厥而咽中干。煩躁吐逆者。乾薑附子湯。以治晝日煩躁不得眠。夜而安靜。脈沉無大熱者。甘草附子湯。以治骨節煩疼。掣痛不得屈伸。近之則痛劇。汗出短氣。小便不利。惡寒不欲去衣。或身微腫者。十棗湯。以治漐漐汗出。發作有時。頭痛。心下痞鞕滿。引脅下痛。乾嘔短氣者。大陷胸湯。以治膈內拒痛。胃中空虛。短氣躁煩。心中懊憹。心下因鞕者。及不大便五六日。舌上燥而渴。日晡所小有潮熱。從心下至少腹。鞕滿而痛。不可近者。豬膚湯。以治下利咽痛。胸滿心煩者。瓜蒂散。以治胸中痞。氣上衝咽喉不得息者。及手足厥冷。心中滿而煩。飢不能食。邪結胸中者。吳茱萸湯。以治吐利。手足厥冷。煩躁欲死者。四逆湯。以治下利清穀。裡寒外熱。手足厥逆。脈微。欲絕者。則證多而藥少者也。凡是皆雖或加或去。或異一二。或以此代彼乎。非若極夫一味之能。欲兼盡而不遺也。何則。其加者。不必加證。其去者。不必去證其異一二者。不必異一二。其以此代彼者。不必以此代彼也。既加既去。既異一二。既以此代彼。則各自一方。而其所之之不同也。既各自一方。而其所之之不同。此特在於仲景氏之術而不在於我。我烏能辨其所以然者也哉。仲景氏既有所稽於古。能辨其所以然者。因其方法。極其變化。致其妙用建之規則。使人有依而據。則其在於我。而可行於今者。惟此而已。何必極一味之能。隨意而加減之為。若乃專於加減。則不得不一一推其能也。欲一一推其能。則必有所窮。窮則必強。強則必馳。既取脈證於概。而專於其所馳。則無所不至。以此稱能活乎術。術之為活。亦終不難矣。古人之既制數百之方劑。仲景氏之或加或去。為各半。為二一。極其變化。致其妙用者。非若夫極一味之能。欲兼盡而不遺也。此豈後人淺膚之識之所能窺測也哉。然則數百之方劑。及其或加或去。為各半。為二一者。不在於仲景氏之術而何。我惟由規則於此。則轉機乎可以察。而處方乎無不從也。雖不極其能乎。雖不為加減乎。仲景氏之術之活。果可行於今矣。故術之為活也。不在於每證加減。而在於察機處方也。術之為活。亦已為難矣。夫藥也者。性之偏者也。非若穀肉果菜之常能養人也。乃同飲食入口也。不得其肯綮。則亦能害於人。豈可不慎焉也哉。且於六方之下。設加減之法者。皆依或字而為之也。或也者。蓋事之涉於二道。而未必之辭也。故今云或其或某者。謂其兼證之有然者。又有否者也。此本非為加減言之也。大抵論病狀。有定證。有兼證。如定證。則必之者也。如兼證。則未必者也。姑以青龍柴胡二湯言之。則青龍之定證。至於發熱而咳。柴胡之定證。至於心煩喜嘔。以下云或某或某者。皆其兼證也。乃其於兼證之然與否。或疑乎異其方法也否。於是云或某或某以明其不論然之與否。亦能統而治之。不異其方法也。故依或字。一一設加減者。非仲景氏之意也。此必後人之不辨此旨。忽看或字。謂此宜乎加減。於是乎。旁註加減之法者。遂謬混正文也。若果仲景氏之所設。則奚啻於六方之下。必當先肇之於桂枝湯已。未見他於無或字者。設加減之法者何耶。必言今例於此。而施之於他。果見其效。則加減之法。何可廢乎。殊不知此本統其或某或某者。皆能治之。固不須加減也。況乎既加既去。既異一二。既以此代彼。則各自一方。而其所之之不同也乎。故依或字。一一設加減。又例於此而施之於他者。皆非仲景氏之意也。不可從矣。夫疾病之能害於人也。服夫偏性之藥者。本是不得已也。乃其同飲食入口。而受於胃也。於其所受。必有宜與否既雖此藥之中彼之病乎。勢之不相應。則反為逆。或不逮也。為逆則嘔吐而水漿不下。痞為鞕。鞕為痛。不逮則數服而不見其效也。非必此藥之不中彼之病也。勢之不相應也。故其所受之宜與否。亦不可不稽矣。古人既稽於此。假生薑大棗粳米飴蜜之類。伍之於藥。以緩其氣。以勵其力。以宣布之。以滋潤之。此皆人之常所食養。而非偏性之物也。不必中其病。各稽其入口受於胃之宜。使其勢之相應。能極其變化。能致其妙用矣。古者暇修之加桂姜。膳羞之用棗慄飴蜜之類。此非其入口受於胃之宜。則何以施之食養乎。然則今雖伍之於藥。亦不得不皆然矣。倘或謂既伍之於藥。則異乎宜其入口受於胃之類耶。惟是假此物。緩之氣。勵之力。為宣布。為滋潤而已。豈有其宜乎食養者之更成偏性之物。而中其病之理矣乎哉。夫既雖此藥之中彼之病乎。勢之不相應。則反為逆。或不逮也。乃其同飲食入口。而受於胃。則其所受之宜與否。亦不可不稽矣。如桂枝湯之歠熱稀粥。以助之力。則欲使其逮也。如柴胡湯及瀉心湯等之再煎以鈍之氣。則使其不逆也。桂苓甘棗湯之於甘瀾水。大黃黃連瀉心湯之於麻沸湯。麻黃連軺赤小豆湯之於潦水。枳實梔子湯之於清漿水。亦不得不皆然矣。雖然。稽其入口而受於胃之宜與否也。在於古人。我烏能稽之乎。亦惟循規則於仲景氏焉耳矣。且煎煮之法。有宜猛火者。有宜微火者。若不得其宜。則氣味或差。差則雖此藥之中彼之病乎。或不成其效也。故煎煮之法。亦不可不戒矣。譬如煮茗之法。先猛其火。以沸其湯。當其沸怒之時。急投之茗。一二沸而飲之。氣味大佳。若煮之以微火。則氣少味澀。而色徒成濃耳。乃藥之於煎煮。亦無不然。豈可不戒矣乎哉。且湯散丸之類。古人既稽其所受之宜。而肇之制。為湯為散為丸。則湯不可為散。散不可為湯。湯不可為丸。丸不可為散。若據便宜。則何不取之於一乎。故其為湯為散為丸者。不惟稽其所受之宜。稽其中於病。而見其效之宜而已。雖有若理中陷胸抵當半夏散及湯之類乎。此稽其宜。而肇之制也。既在於古人。我烏能稽之乎。亦惟循規則於仲景氏焉耳矣。</p>

<h2>服法</h2>
<p>醫之為術也。在於察機而處方焉。而其處方而作之也。在備銖兩升斗。及煎煮之法。銖兩升斗及煎煮之法備。而後藥可得而服也。乃其服之也。又各有法焉。不可不慎以守矣。如銖兩則姑舍諸。升斗之隨而不一也。煎煮之法。亦隨而不一也。不唯此而已。服法亦復不一也。其不一也。各有其義而存焉。非苟而已。故煎煮之法。與其服法。抑雖復末也。而是助我轉機之術而成之者也。其為用也。不輕而重矣。緩急遲速多少。各有其法存焉。如桂枝加厚朴杏子湯。桂枝加附子湯。桂枝去芍藥湯。及加附子湯。桂枝加芍藥湯。及加大黃湯。桂枝加桂湯。小建中湯。桂枝去桂加茯苓白朮湯。柴胡加桂枝湯。麻黃附子甘草湯。則以水七升。煮取三升。溫服一升。日三服。如桂枝湯。則服至二三劑。如麻黃杏仁甘草石膏湯。白頭翁湯。則煮取一升。溫服一升。如吳茱萸湯。則分溫服七合。如桃花湯。則煮米令熟。去滓。溫服七合。如桃核承氣湯。則煮取二升半。分溫服五合。如葛根黃連黃芩湯。則以水八升。煮取二升。分溫再服。如附子湯。當歸四逆湯。及加吳茱萸生薑湯。理中湯。則煮取三升。溫服一升。日三服。如真武湯。則服七合。如柴胡加龍骨牡蠣湯。則煮取四升。溫服一升。如麻黃湯。則以水九升。煮取二升半。溫服八合。如大青龍湯。則煮取三升。溫服一升。如桂枝人參湯。則日再夜一服。如小青龍湯。葛根湯。葛根加半夏湯。桂枝加葛根湯。茯苓桂枝甘草大棗湯。厚朴生薑甘草半夏人參湯。炙甘草湯。茵陳蒿湯。麻黃連軺赤小豆湯。麻黃附子細辛湯。黃芩湯。及加半夏生薑湯。麻黃升麻湯。則以水一斗。煮取三升。溫服一升。如大承氣湯。則煮取二升。分溫再服。如黃連湯。則煮取六升。日三服。夜二服。如半夏瀉心湯。生薑瀉心湯。甘草瀉心湯。旋覆代赭石湯。則煮取六升。去滓再煎取三升。溫服一升。日三服。如白虎湯。則煮米熟湯成溫服一升。日三服。如竹葉石膏湯。則煮取六升。去滓。內粳米。煮米熟湯成去米。溫服一升。日三服。如桂枝加芍藥生薑人參新加湯。則以水一斗一升。煮取三升。溫服一升。如桂枝去芍藥加蜀漆牡蠣龍骨救逆湯。則以水一斗二升。煮取三升。溫服一升。如小柴胡湯。大柴胡湯。柴胡桂枝幹薑湯。則煮取六升。去滓。再煎取三升。溫服一升。日三服。如小陷胸湯。桂枝附子湯。赤石脂禹餘糧湯。乾薑黃連黃芩人參湯。則以水六升。煮取二升。分溫再服。如茯苓桂枝白朮甘草湯。則煮取三升。溫服一升。分溫三服。如桂枝麻黃各半湯。則以水五升。煮取一升八合。溫服六合。如桂枝二麻黃一湯。桂枝二越婢一湯。則煮取二升。溫服一升。如黃連阿膠湯。則服七合。如桂枝甘草龍骨牡蠣湯。則煮取二升半。溫服八合。如芍藥甘草附子湯。則煮取一升五合。分溫服。如茯苓四逆湯。則煮取三升。溫服七合。日三服。如抵當湯。則溫服一升。不下再服。如茯苓甘草湯。則以水四升。煮取二升。分溫三服。如豬苓湯。則再服。如梔子豉湯。及生薑豉湯。甘草豉湯。梔子蘗皮湯。則煮取一升五合。分溫再服。如小承氣湯。則煮取一升二合。分溫二服。如甘草乾薑湯。芍藥甘草湯。則以水三升。煮取一升五合。分溫再服。如甘草湯。則服七合。如四逆湯。及加人參湯。通脈四逆湯。及加豬膽汁湯。則煮取一升二合。分溫再服。如桂枝甘草湯。乾薑附子湯。則煮取一升。頓服。如桔梗湯。白通湯。及加豬膽汁湯。則再服。如調胃承氣湯。則少少溫服。如梔子厚朴湯。及乾薑湯。則以水三升半。煮取一升五合。三服再服。如大黃黃連瀉心湯。則以麻沸湯二升。漬之須臾。絞去滓。分溫再服。如附子瀉心湯。則內附子汁。分溫再服。其於丸散亦然。如五苓散。則以白飲和。服方寸匕。日三服。如文蛤散。則以沸湯和一錢匕服。湯用五合。如白散。則以白飲和服。強人半錢。羸者減之。如十棗湯。則以水一升半。先煮大棗。取八合。去滓。內藥末。強人一錢匕。羸人半錢匕。平旦溫服之。如陷胸丸。則如彈丸一枚。別搗甘遂末一錢匕。白蜜二合。水二升。煮取二升。溫頓服之。如抵當丸。則四味杵分為四丸。以水一升。煮一丸。取七合服之。如理中丸。則蜜和丸如雞黃大。以沸湯數合和一丸。研碎溫服之。日三服。如瓜蒂散。則取一錢匕。以香豉一合。用熱湯七合。煮作稀糜。去滓。取汁和散。溫頓服之。如四逆散牡蠣澤瀉散。則白飲和。服方寸匕。如烏梅丸。則丸如梧桐子大。先食飲服十丸。日三服。稍加至二十丸。故煎煮之法。即制攻守之具者也。而服法之用。即就其攻守之事也。緩急遲速多少。其應之也。各有妙契。存於其中。故醫之為術也。在於察機而處方焉。而其處方而作之也。不唯在於銖兩升斗。及煎煮之法。亦莫不於服法焉。服法豈可不慎以守矣哉。發汗之法。於桂枝湯。則曰。服已須臾。歠熱稀粥一升余。以助藥力。溫覆令一時許。遍身漐漐微似有汗者益佳。不可令如水流漓。病必不除。若一服病差。停後服。不必盡劑。若不汗。更服依前法。又不汗。後服當小促其間。半日許。令三服盡。若病重者。周時觀之。服一劑盡。病證猶在者。更作服。若汗不出者。乃服至二三劑。禁生冷黏滑。肉面五辛。酒酪臭惡等物。乃於麻黃湯葛根湯。亦如之。唯不歠粥為異已。故曰。余如桂枝法。將息及禁忌。惟服法為然矣。凡服藥之法。日再三為度。獨於發汗之法。促其服者。過常度若此。是故獨於發汗之法乎。方後惟曰溫服一升。而不載再服三服等字。以其服之至二三劑也。</p>
<p>獨於發汗之法。所以禁生冷黏滑。肉面五辛。酒酪臭惡等物者。蓋桂枝本以其香氣與辛味。能奏其效也。助之以熱粥之力。麻黃亦假此而勵其力。皆能得達於表。而發其汗也。當是之時。若糅吃以此等之物。恐彼奪桂枝之氣味。與夫熱粥之力。終喪其達於表。而發其汗之效也。然則此等之物。何可不禁乎。不獨於發汗。凡當服藥之時。食飲之將奪夫氣味。而喪其效者。亦不可不禁也。故陷胸丸方後曰。禁如藥法。烏梅丸方後曰。禁生冷滑物臭食等。禁忌之不可全無也。可以知已。雖然。此唯禁之在服藥之前後。而非久之之謂也。故為全無禁忌。妄也。又據此而久之。泥矣。</p>
<p>下之之法。必須惡寒止。小便濁。必須小便利。屎定鞕。必須汗多出。發潮熱。於是或宜調胃承氣湯。或宜小承氣湯。或先與小承氣湯。益審燥屎之候。而後及大承氣湯。此之為法也。故於調胃承氣湯。則曰。當和胃氣。即一升為一劑。少少溫服。於小承氣湯。則曰。微和胃氣。勿令大泄下。又曰。少少與微和之。令小安。又曰。初服湯。當更衣。不爾者。盡飲之。若更衣者。勿服之。又曰。若一服讝語止。更莫復服。又曰。若一服利。止後服。此以一升二合為一劑。分為二服也。大抵煎煮之法。雖有多少乎。煮取三升為常也。服藥之法。雖不同一乎。分服一升。亦為其常也。而今二湯之於煎煮與服法也若此。較之於常。則其作劑者。三之一。而其所服者。幾減其半。慎之至也。於大承氣湯。則曰。傷寒。不大便六七日。頭痛有熱者。未可與承氣湯。其小便清者。知不在裡。仍在表也。又曰。手足濈然汗出者。此大便已鞕也。大承氣湯主之。若汗出多。微發熱惡寒者。外未解也。其熱不潮。未可與承氣湯。又曰。陽明病。潮熱。大便微鞕者。可與大承氣湯。不鞕者。不與之。若不大便六七日。恐有燥屎。欲知之法。少與小承氣湯。湯入腹中。轉矢氣者。此有燥屎。乃可攻之。若不轉矢氣者。此但初頭鞕。後必溏。不可攻之。攻之必脹滿不能食也。又曰。至四五日。雖能食。以小承氣湯。少少與微和之。令小安。至六日。與承氣湯一升。若不大便六七日。小便少者。雖不能食。但初頭鞕。後必溏。未定成鞕。攻之必溏。須小便利。屎定鞕。乃可攻之。又曰。陽明病。讝語。發潮熱。脈滑而疾者。小承氣湯主之。因與承氣湯一升。腹中轉矢氣者。更服一升。若不轉矢氣。勿更與之。明日不大便。脈反微澀者。裡虛也。為難治。不可更與承氣湯也。又曰。嘔多雖有陽明證。不可攻之。又曰。心下鞕滿者。不可攻之。又曰得下余勿服。此以二升為一劑。分為二服。其於煎煮與服法也若此。較之於常。則其作劑者。三之二。而其所服者。不及於三。以其非可數服之藥也。亦慎之至也。此之為服法也。</p>
<p>惟於白散十棗四逆之三方也。有強人羸者之辨。其所謂強人羸者。當就病而辨。不宜以常論也。大凡人之於常。各有其稟。稟有厚薄強弱之差。不可得而一也。及其受病也。未必不失其常。既已失其常。則向之強人。今反為羸者。而向之羸者。猶保其強。故曰。強人羸者。當就病而辨。不宜以常論也。病有輕重緩急。藥有大毒小毒。劑有大小多少。參伍之而察其機。商量之而適其宜。是醫之術也。夫巴豆甘遂附子。皆是大毒之品也。故非其最重且急之病。則不用之矣。然猶且不能無輕重緩急。則何得無大小多少之略哉。乃察其機而適其宜。以料其勝藥之與否。惟醫之術為然。不然。或用藥之太少。而其力之微。不足挫其勢也。或其過多。則瞑眩之甚。殆且傷其正。所以有大小多少之略也。且夫證有一定。而藥不可移易。故醫之為術。料病之輕重緩急。與其人勝藥與否之強羸。然後大小多少。取之於其略。故人稟之厚薄強羸。在常而不在病也。病人之強壯羸弱。在病而不在常也。故所謂強人羸者。當就病之輕重緩急。與勝藥與否而辨之。不宜以常論也。惟於斯三方。所以有強人羸者之辨者。以巴豆甘遂附子。皆為大毒之品也。於是乎強人一錢。或半錢。羸者半錢。或減之。大附子一枚。而乾薑三兩。是為大小多少之略也。亦惟服法為然矣。</p>
<p>於論脈證之中。及其方後發例者。往往而有之。各半湯曰。脈微緩者。為欲愈也。脈微而惡寒者。此陰陽俱虛。不可更發汗更下更吐也。面色反有熱色者。未欲解也。以其不能得小汗出。身必癢。桂枝二麻黃一湯曰。汗出乃解。桂枝二越婢一湯曰。脈微弱者。此無陽也。不可發汗。大青龍湯曰。若脈微弱。汗出惡風者。不可服。服之則厥逆筋惕肉瞤。此為逆也。又曰。一服汗者。停後服。小青龍湯曰。服湯已渴者。此寒去欲解也。麻黃湯曰。服藥已微除。其人發煩。目瞑。劇者必衄。衄乃解。茯苓桂枝白朮甘草湯曰。發汗則動經。身為振振搖者。梔子豉湯曰。得吐者。止後服。桃核承氣湯曰。下者愈。又曰。當微利。抵當湯曰。下血乃愈。又曰。不下再服。抵當丸曰。晬時當下血。若不下者更服。大陷胸丸曰。一宿乃下。如不下更服。取下為效。大陷胸湯曰。得快利止後服。白散曰。病在膈上必吐。在膈下必利。不利進熱粥一杯。利過不止。進冷粥一杯。柴胡桂枝幹薑湯曰。初服微煩。服後汗出便愈。十棗湯曰。若下少病不除者。明日更服加半錢。得快下利後。糜粥自養。瓜蒂散曰。不吐者少少加。得快吐乃止。甘草附子湯曰。初服得微汗則解。能食汗出。復煩者。服五合。恐一升多者。宜服六七合為妙。白虎湯曰。發汗則讝語。下之則額上生汗。手足逆冷。茵陳蒿湯曰。小便當利。尿如皂角汁狀。色正赤。一宿腹減。黃從小便去也。吳茱萸湯曰。得湯反劇者。屬上焦也。桃花湯曰。若一服愈。余勿服。白通加豬膽汁湯曰。服湯脈暴出者死。微續者生。理中丸曰。服湯後。如食頃。飲熱粥一升許。微自溫。勿發揭衣被。凡此等之類。皆示處方之有將息者也。將息之適宜。服法盡於此焉。亦豈可不慎以守矣哉。</p>
<p>後世煎煮之法。作之不過一二錢之劑。或以水一盞半。或以二盞。煮取一盞。分之三五。頻頻服之。此其藥之與水。與煎煮之法。與其服法。何不似古法之如此其遠乎。亦將言人之稟賦。有古今之差耶。人之與天地參焉。稟賦豈有古今之差乎。且後世之與服法。病之在上者。必先食後藥為宜。其在下者。必先藥後食為宜。嗟乎。是何屈乎理之殊甚也。夫藥也者。除病之品。食也者。養精之物。而各異其職。則藥自藥。食自食。固不可相混也。是以古之於服法。自一升至五合為一服。一日再三為度。惟於發汗之法乎。或促其服者。此固在一時之略。而不在數日之攻。則何取之常度乎。故古之於服法。再三為度。而無有如以一盞之僅僅。分之三五。頻頻服之之法也。惟是服之不過再三。則食藥自不相混者。可以知矣。若乃分之三五。頻頻服之。則食藥自不相遠。食藥自不相遠。則不得不相混也。既已相混也。一則欲除病。一則欲養精。二者其亦能不相鬥於內乎。今夫服吐下之藥。而不遠其食。則或並而吐下之。凡吐下之藥之見效也。速則在頃刻。遲不俟二時。因此而考之。食氣之行。亦當在一二時之際也。藥之能奏其效也。亦不得不假以行其氣。則何必先藥乎。又何必後食乎。然則如何而可乎。古之於服法。未嘗言食之先後也。食藥各異其職焉。固非可相混矣。惟是服之在再三。則相距之一時許。而食而藥。則食藥當不自相混耳。然則雖今之服法。亦宜措發汗之促其服者。自一升至五合為一服。日再日三。或晝三夜二。或晝二夜一。隨本論之法而服之。相距之一時許而食而藥。食藥不相混。則其庶幾哉。又何必食前。必食後之為。又復何以一盞之僅僅。分之三五。頻頻服之之為。</p>

<h1>卷五</h1>

<h2>藏府三焦</h2>
<p>五藏六府者。仲景氏之所不論也。惟於藏論心。於府論胃膀胱。時又論三焦也。然皆與後世之所說。大不同也。何者心胃膀胱。及三焦之悉具於內。不可得而窺也。不直索之於內。而各索之於外也。乃索之於外也。設其部位。而為三焉。大抵膈間為心位。為上焦。從心下至臍上。為胃位。為中焦。少腹為膀胱位。為下焦。各具其外候。而與其相符。則為能盡而不遺也。猶直索之於內也。夫在膈間。則其人之所自知。而外候之所不及也。如曰心中痞。曰心中窒。曰心中懊憹。曰心中疼熱。曰心煩。曰心悸。曰心中悸而煩。曰心中滿而煩。曰心中溫溫欲吐。曰心中結痛。曰結胸。曰胸中塞。曰胸中煩。曰胸滿。曰胸脅滿。曰胸脅苦滿。曰胸脅煩滿。曰胸滿脅痛。曰胸滿煩驚。曰胸脅滿而嘔。曰胸中滿而煩。曰胸中實。曰胸中有熱。曰氣上衝心。曰氣上撞心。曰氣上衝胸。曰氣上衝咽喉。曰其氣上衝。曰氣從少腹上衝心。曰氣痞。曰氣逆。曰膈內拒痛。曰膈上有寒飲之類是也。至心以下。則不惟其人之自知。而外候以符之也。如曰心下痞。曰心下鞕。曰心下滿微痛。曰心下痞鞕。曰心下鞕滿。曰心下痞鞕而滿。曰心下滿而鞕痛。曰心下因鞕。曰心下痛。按之石鞕。曰從心下至少腹。鞕滿而痛。曰正在心下。按之則痛。曰心下痞。按之濡。曰心下鞕滿而不痛。曰心下必痛。曰心下急。曰心下悸。曰心下結。曰心下支結。曰微結。曰脅下滿。曰胸脅下滿。曰脅下滿痛。曰脅下鞕滿。曰脅下痞鞕。曰胸下結鞕。曰脅下痛。曰引脅下痛之類是也。若夫胃膀胱。則專據外候以符之也。如不大便。或難或鞕。為胃實。潮熱讝語煩躁。或腹滿痛。或繞臍痛。或喘冒不能臥。或下利讝語。為胃中有燥屎。惡熱讝語。為胃氣不和。乾噫食臭。為胃中不和。大汗出煩渴。為胃中乾燥。腹中痛。為胃中有邪氣。自下利。為胃中虛冷。下之後。為胃中空虛。少腹鞕滿。或急結。小便自利。其人如狂。或發狂。或一身手足盡熱。為熱結膀胱。亦為熱在下焦。少腹滿。按之痛。手足厥冷。為冷結在膀胱。下利不止。小便不利。為利在下焦。當吐者。為屬上焦。吐與下。為犯胃氣及上二焦之類是也。因是而觀之。心胃膀胱。及三焦之為上中下之部位。各具其外候。而與其相符。則能盡而不遺也。豈可與後世之直索五藏六府及三焦於內。纏繞為之說。不得其實者。同類而語也矣哉。且夫人之所以生者。惟氣之與血也。氣之與血。無不在於飲食。故飲食者。氣血之原也。其入於胃。而化為氣血。充盈四體。潤養一身。此乃人之所以生也。如其糟粕余液。則出為前後也。乃飲食之各有分。而前後之自從之。此之為得常也。若其飲食之太多太少。而前後之或清或濁。或數或澀。非難則鞕。或秘或溏。此之為失常也。雖藏府及三焦之悉具於內。不可得而窺乎。稽之飲食之與前後。則惟胃中之可以度也。乃具其外候。而與其相符。則能盡而不遺也。猶直索之於內也。且夫人之於身也。內焉藏府三焦。外焉四肢九竅。各有官司。不可一缺焉。既而不可一缺也。孰取孰舍。孰重孰輕。孰親孰疏。孰先孰後。雖然。其最要者。莫逾於胃焉。生也在於茲。死也在於茲。疾湊於茲。藥適於茲。故人身之為要也。胃之為最焉。惟胃中之可稽而度也。有飲食與前後之在。則外候之不得不肇於此。既其餘液之從胃溉致於膀胱。而為前溲也。膀胱之可稽而度者。有清濁數澀之在。則外候之亦不得不由於此。如膈間。則固其人之所自知也。因審其所知。而取之於外候也。亦猶胃膀胱也。故雖藏府及三焦之悉具於內。不可得而窺乎。既設上中下之部位。各具其外候。而與其相符。則能盡而不遺也。猶直索之於內也。所以惟於藏論心。於府論胃膀胱。時又論三焦也。此豈若他藏府之不可得而窺。而外候之無可稽而度也矣哉。自素難之說藏府三焦。而後世直索之於內。議論紛呶。五為六。六為五。心包命門。實如洞視然。遂至盡配之藥曰。入某藏。之某經。補其藏。導某經。論仲景氏之所未論。而聳動人心耳。此其說之出乎議論也。不乖其實者幾希。假令發解藏府。極盡其布置色味。斷續長短。大小分寸。脈理之所通。經絡之所繫。而烏能得窺度其藥之合五七味。若十數味。為一方也。既服之後。復能別入某藏。之某經否。補某藏。導某經否。果能治其疾乎。又將為害乎哉。夫既肝腎肺脾膽。心包命門。大小腸之不可得而窺。而外候之無可稽而度也。又何有治法之可索也。仲景氏之所以不論及於此也。因是而觀之。與以吾之淺膚之識。搜索夫難窺難度之藏府也。寧服膺仲景氏之教。以就此易窺易度之外候也。然後能識此藥之敵彼之疾。不過而謬。則吾其愉快也已矣。是故至如肝腎肺脾膽。心包命門。大小腸之不可得而窺。而外候之無可稽而度也。則姑舍㫋。吾將惟從夫心胃膀胱。及三焦之為上中下之部位。各具其外候。而與其相符。則能盡而不遺也已矣。</p>

<h2>榮衛</h2>
<p>榮衛之出乎素難焉。後世敷演其說。傷寒為陰邪。為在榮分。中風為陽邪。為在衛分。配麻黃於榮。配桂枝於衛。且以所為無熱惡寒者。發於陰也。見以為即未發熱。必惡寒者也。此等之類。殊為不通。何則。陰陽本是表裡之統名也。傷寒中風者。輕重之別也。陰陽以統表裡。輕重以別風寒。非以風寒為陰陽也。故陽邪陰邪。惟以三陽三陰言則可。以傷寒中風言則不可也。無熱與未發熱不同。無熱者。本以三陰言。無表證之謂也。有熱為表。故其有熱而惡寒者。知其在表位。故曰。發於陽也。無熱為里。故其無熱而惡寒者。知其在裡位。故曰。發於陰也。此主病位而言之也。未發熱者。雖未見其熱。而頓將發者也。而非若三陰之無熱也。對已字而云未。惟言有其先後已。云無雲未。辭亦自別。豈可混同以視之乎。又豈可以風寒為陰陽乎。夫榮衛者。氣血之別稱也。素難之所說。詳悉莫以尚焉。榮衛之名。蓋昉於此。而其書則成於仲景氏之後也。謹按本論。言榮衛者。僅二三。因審其語脈。不似仲景氏之辭氣也。且治法之於榮衛。必不可不言。則何不肇之於桂枝麻黃之初乎。此果後人之說。謬混於此者歷然也。氣血字。論中一無有也。雖然。於發汗吐下後。及下利之證。每論亡津液。津液越出。及亡血之等。殊為緊要。則其旨雖不同。而其名言之也。為不大相遠矣。然如仲景氏之所論。則所見盡在於外證焉。後世遂取之於臆。有汗多亡陽。下多亡陰等之說。而汗多亡陽。見於大青龍湯。救逆湯之條。及陽明篇。然其云亡陽及虛。皆非古義。亦必後人之說耳。桂枝二越婢一湯之條曰。無陽。少陰篇曰。亡陽。又曰。陽已虛。亡無通。陽謂表也。無陽者。謂表證已解也。陽已虛者。謂表證已解。惟精氣未復也。即與陰陽俱虛同。古義為然矣。</p>
<p>古語曰。百病生於氣。氣即俠氣。勇氣。浩然之氣。氣力。血氣之氣也。言病機百出。一由氣血之鬱結也。後世誤解。為心氣之氣也。謂人之苟苦思勞心於事。則必敗心矣。因名以心氣不足。與之以藥。欲以救且補之也。夫藥也者。性之偏焉者也。豈可能補其不足乎。又豈可能救其勞苦乎。若惟言因其勞苦。而氣血鬱結。致此之疾。則猶可。然後隨其脈證。而處之方。則其何不可乎。假令人之苦思勞心於事於此。乃其事之頗從己之意。則必不俟藥。而思弭心弛矣。若不從己之意。則愈苦愈勞。而思奚弭。心奚弛矣。當是之時。莫有能救且補之之良藥也。醫乃命之字。而稱勞疫。則人亦乞之藥。豈非惑之已甚乎。</p>

<h2>虛實</h2>
<p>虛實之名。必起於人之失其常也。而強弱之稱。必因其體之常質也。故虛者精氣之奪。實者邪氣之盛。邪氣之實。攻之以草木蟲石。精氣之虛。養之以穀肉果菜。乃今以草木蟲石。謂為補精氣。抑亦醫法末路之失也。何以言之。張仲景氏之論虛也。必於精氣。如曰陰陽俱虛。曰惡寒者虛故也。曰胃中空虛。曰胃中虛冷。曰虛煩。曰虛則鄭聲是也。其論實也。必於邪氣。如曰胃實。曰內實。曰寒實。曰熱實。曰熱者實也。曰潮熱者實也。曰實則讝語是也。夫精氣之於人也。重孰大焉。能護四體也。邪氣之於人也。害孰甚焉。能賊五內也。精氣者生之所憑。故不可不養焉。養以穀肉果菜。此之為法矣。邪氣者死之所創。故不可不祛焉。祛以草木蟲石。此亦為法矣。蓋胃之為府也。收夫穀肉果菜。而精氣委源於茲。所以最為重也。邪氣之盛也。精氣為之奪。所以最為害也。故虛實皆主胃而言之。邪氣之實於胃。仲景氏之所深懼焉。故於府惟言胃也。故其所謂實者。皆以胃實言之。不獨大便難鞕也。凡人之於常。無有虛實。失常而後有虛實。於是乎論焉。素問曰。邪氣盛則實。精氣奪則虛。又曰。邪之所湊。其氣必虛。又曰。攻邪以毒藥。養精以穀肉果菜。此蓋古語之最純粹者也。邪以無為常。故曰實。曰盛。曰攻。精以有為常。故曰虛。曰奪。曰養。皆主胃而言之者。彰然而明哉。夫人之於胃也。譬如水缸乎。胃也者。收穀肉果菜之府也。缸也者。貯水之器也。收而充之。此其常也。貯而滿之。亦其常也。於是投缸中以一拳石。則如之何。邪之於胃。其猶缸之於石乎。石本非缸之所貯也。邪本非胃之所收也。既投之以一拳石。則水必湧溢乎外也。邪之害乎精氣。亦猶如此乎。故謀去夫石。此即鉤匕杈䉗之道也。謀祛夫邪。此即草木蟲石之術也。以此之道。既去夫石。則水必減矣。以此之術。既祛夫邪。則精必虛矣。水之減。非鉤匕杈䉗之所能加也。精之虛。非草木蟲石之所能補也。然則如何而可乎。亦惟加之以水。養之以穀肉果菜而已矣。夫缸貯水以備用。胃收精以保生。貯之有分。分不可強。懼石之投也。收之有節。節不可逾。懼邪之實也。石愈大。則水益減。邪愈盛。則精益虛。石之不可不去也。水何不加。邪之不可不祛也。精何不養。是故仲景氏之論虛也。必於精氣。精氣者。生之所憑也。其論實也。必於邪氣。邪氣者。死之所創也。虛實之分。可以辨而已矣。後世不辨此等之分。於人之常。而論其虛實。以混之於強弱。是以精氣必論。邪氣亦必論。抑亦醫法末路之失也。凡人之於常。無有虛實。失常而後有虛實。於是乎論焉。豈可以常而論焉哉。虛實強弱。本不同道。虛實自虛實。強弱自強弱。固已不可混而已矣。然則精氣之虛。果不可補乎。曰精氣之生於穀肉果菜也。氣為之化。邪氣湊於胃也。精氣不得不奪。猶投石於缸中。其水必減。此所以邪曰實。精曰虛也。邪是草木蟲石之所與。精是穀肉果菜之所與。此所以實曰攻。虛曰養也。故精氣之虛。欲以草木蟲石補之。非法矣。何則。草木蟲石。猶鉤匕杈䉗也。鉤匕杈䉗。所以去夫石之具。而非所以加水者也。草木蟲石。所以祛夫邪之毒。而非所以補虛者也。具豈能加水乎。毒豈能補虛乎。補虛之說。至此而窮矣。故精氣之虛。惟有穀肉果菜之養已。豈有草木蟲石之補乎哉。是故虛實之於分。不可不善辨焉。</p>

<h2>死生</h2>
<p>凡醫之為職也。死生之所繫焉。藥能活人。藥能殺。故死生有命。亦不得謂之命。則是醫之責也。是以作劑之法。必權其體之強壯羸弱。與其病之輕重緩急。與其藥之大小多少者也。慎之至矣。夫人之至重者。莫死生若焉。死生皆命也。雖壽之期於百歲乎。七十之為稀。而札瘥短折之亦不少也。凡天下之人。其幾億萬。何其以病斃者之最多。而其以壽終者之最少也。病乎百之九十九。而壽乎僅一而已。僅一之命。而九十九之非命耶。豈非非命之最多耶。莫論壽夭之與疾病。自經自屠。畏壓溺。或為罪所刑。是皆非自然而然。則謂為非命耶。然其於死一也。若質之於聖人。則必謂之命。何則。上自王公。而下至眾庶。各有其事。實命不同。死生皆命也。生於其所。而死於其事。有常有變。命之不可奈何也。故莫論壽夭之與疾病。自經自屠。畏壓溺。或為罪所刑。雖其非自然而然乎。亦皆始於其常。而終於其變者也。聖人之所以謂為命也。雖然。醫之為職。治人之病者也。治之不瘳。使人死其病也。則於其職。謂之何也。縱其人之命。於我乎不得不為非命矣。故其瘳之與否。不可不論焉。醫之於術。得之則生。失之則死。死生之繫於醫也。不可不慎焉。稽諸往昔。能辨死生。是為醫之良。後世又謂為司命之職。亦似為不誣矣。夫先王之設醫之職也。惟是恤人之疾苦。使其免於死。此先王之仁也。凡人之於疾苦。急則頓將死。緩則引年月。終亦將死。能祛其疾苦。使其免於死。惟醫之術已。術之非無工拙。故其病已瘳之後。精氣不繼而死。或未及瘳。困悶而死。其於死一也。以其已瘳為命。以其未瘳為非命耶。此惟醫之所知。而非先王之所問也。恤其疾苦。使其免於死。此先王之仁也。何暇論其已瘳之與未瘳乎。故其所視於醫也。獨在其死生。以獨在其死生故。論其工拙。亦惟以此。制其祿秩。亦惟以此。為之黜陟。亦惟以此。此先王之所建。確乎不可易矣。死生之所以繫於醫也。周禮曰。以五氣五聲五色。眡其死生。又曰。死終則各書其所以。而入於醫師。又曰。歲終則稽其醫事。以制其食。十全為上。十失一次之。十失二次之。十失三次之。十失四為下。少曰死。老曰終。醫師掌醫之政令。故錄其不瘳之狀。以告於醫師。醫師以此論其工拙。以此制其祿秩。以此為之黜陟。以為後世之戒也。失四為下者。五之為半。或不治而自瘳。故十全至失四。祿秩之差。分為五等也。先王之設醫之職也。恤人之疾苦。使其免於死。此先王之仁也。是以不錄其已瘳之生。而錄其不瘳之死。不啻為後治之戒。亦慎之至矣。以其所視於醫之獨在其死生也。若其術之於工拙。惟在於處方。處方之能愜其脈證。是之為得。不愜其脈證。是之為失。得之無失為工也。失而無得為拙也。脈證不可不明矣。處方不可不愜矣。明之以仲景氏之規則。愜之以仲景氏之規則。醫之於務。惟在仲景氏之規則是審焉爾矣。夫藥之為品也。古者概以為四等。有大毒。有常毒。有小毒。有無毒。草木蟲石之外。五味五穀。亦伍之於方。以從其宜。固不可一為毒乎。周禮曰。以五味五穀五藥養其病。此其不一於毒之故。不曰治而曰養。古之術為然。然今之為醫者。或代疾以毒。更藥以毒。以為能盡百病。以歸死於命。謂死生之自在於彼。稽諸古昔。未嘗有如此者也。又有疑乎周禮以為漢儒之偽撰也。縱令周禮可疑。距古不遠。而古言尚存。且其流本出於先王之道也。非醫之所可以議也。先王之道。御邦家之道也。醫之道。治疾病之道也。邦家之大。疾病之小。固異其倫。固不可混同也。若疑乎其言之不契於己。則奚翅周禮也。醫而議先王之道。非僭則妄矣。嗚呼。人之至重者。莫死生若焉。當其有疾。與之於藥。若不得其宜。不但其不瘳。甚則至於死。至此謂藥之不殺人而可乎。自古有藥殺。豈非藥之殺人乎。今夫中藥之毒。而煩亂困悶。謂之瞑眩。瞑眩之太甚。不得不至於死。故如巴豆甘遂附子之類。必因其強羸。有半錢一錢之分。此權其強壯羸弱。與病之輕重緩急。與藥之大小多少者也。不爾。或過或不及。詎得謂之術乎。醫之於術。得之則生。失之則死。死生之繫於醫也。豈可不慎焉哉。</p>

<h2>三權</h2>
<p>醫之臨術也。有三權焉。何謂三權乎。一曰體位。二曰病位。三曰藥位。體有強壯羸弱之分。病有輕重緩急之勢。藥有大小多少之略。各辨其位。以識之於躬而蔽之。是之為三權也。三權之相持而不愆。是之謂能執術也。仲景氏之統脈證於陰陽。建之規則也。三權自具於其中焉。而臨術之要。全盡於茲。不可不辨矣。若夫體之羸弱。而病之重且急。無乃危乎。病之重且急。而藥之小少。無乃不及乎。病之輕且緩。而藥之大多。無乃過乎。不及之與過。皆其術之已失也。及其甚也。不度強壯羸弱。輕為重。重為輕。緩乎急。急乎緩。小大失宜。多少異處。豈其不忒乎。及其最甚也。或拘吐方。或泥下劑。拘吐方者。當汗必吐之。當下亦必吐之。泥下劑者。當汗必下之。當吐亦必下之。豈不乖乎。皆取之於己。而不辨三權者也。是以己雖誤之乎。不能自顧。人之爰死也。必歸之於命。嗟乎。誣之殊甚。惟其至於此乎。實己之由。盍自恥自悔。為後治之戒乎。夫強壯羸弱之於分。輕重緩急之於勢。莫不隨其分之與其勢而制之。其何無大小多少之略也。若果拘泥乎一。則必有如割雞用牛刀者。此謂之過也。又必有似解牛用雞刀者。此謂之不及也。過與不及。固非術也。是故體與病之位在彼。惟藥之位在我也。非辨我之與彼之位。以識之於躬而蔽之。何以相持而不愆乎哉。仲景氏之統脈證於陰陽。建之規則也。三權自具於其中焉。而臨術之要。全盡於茲。則我將辨之以仲景氏之規則。規則之體於我。三權盡是我之有已。然後如牛刀之直解牛。雞刀之直割雞也已矣。又何取之於己。而拘泥乎一之為。</p>

<h2>仁術</h2>
<p>後之業醫者。自許以仁術。曰我之救民之疾苦之著於今也。不類儒之閒然無事之邈乎古也。嗟乎。何其言之謬且恣乎。此其視仁也。蓋取諸慈愛惻怛之心也。慈愛惻怛之心。固不足以盡仁矣。夫仁之至廣至大之難言。固不可言於醫也。何則。先王之御邦家也。貫乎百爾者。特在於仁焉。無論乎慈愛惻怛之心。使人人各得其所。事乎其事。以安其心。以終其身也。惟仁之化為然。及其化之及也。雨露之所降。舟車之所通。莫遠弗及焉。惟仁之化為然。豈非其至廣至大之難言乎。故仁者合德與行之名也。雖德與行之名眾乎。莫有出於仁之上焉者也。又豈可言之於醫乎哉。醫藥之設。肇於先王。則其仁在於先王焉。而醫之所任。不在於仁。而在於其職焉。乃其於職也。猶百工之各以其事。以供上之用。以應下之需也。乃其於朮也。亦不能無巧拙。於是分祿秩之差。以為五等。此先王之制也。雖今之不似古之制。而祿秩之差。率從其巧拙。則近之矣。若其無官祿者。為人治之疾。則人必報之以幣也。或賜祿。或受幣。食於其業則一也。故醫之食於業也。亦猶百工之食於事也。豈可獨私於仁。而緣飾己之小技乎哉。縱令辭其幣。施藥於四鄰。惟是一小惠。未足以煩仁之名也。而今不惟受其幣。而其稍菲薄。或怒而咎之。則惠之名。猶無有也。而況於仁之至廣至大之難言乎。醫之伍之於下。謂為小數小技。非必賤之也。蓋聖人之御邦家也。莫不包裹焉。是以一技之蕞。舉以備數。醫亦與焉。皆聖人之用也。聖人之用。廣矣大矣。以此而觀乎彼。則何技之不小乎。此其所以謂為小數小技也。醫之既為我之任也。系人之命期。則研究之入於腹心。精核之徹於骨髓。而後可以發之於其術矣。是之謂共天職也。然則醫之任於我。孰大焉。故苟居業於此也。豈可小以自視。而賤夫天職乎哉。不可不慎矣。夫醫之任之系人之命期之重也。不在於仁焉。而在於天職焉。惟天職之慎。而研究精核之務。夫然後庸與否。有命之在。知命而安焉。雖身為賤業。無害乎為君子矣。又民者君上之辭也。而非吾儕小人可呼之稱也。已儳業於醫。何免於民。既不免於民。呼人以民。可謂僭妄矣。故民者非對君上。則不可呼之稱也。因此而觀之。所謂仁術及救民。皆君上之事。而惟儒之所修。其不可言於醫也審矣。</p>

<h2>古今方</h2>
<p>方法之言古今也。建極於何之時。而為古為今乎。以今而視宋元之時。邈乎古矣。豈可以今言之哉。故必先建之極。而後古今可得而言而已矣。其於古也。雖有和緩俞胕文摯扁倉等。而其方法不傳。則何以建而為之極乎。及東漢之時。有張氏仲景。獨作傷寒之論。以傳其方法。乃其所論也。不惟傷寒。而方法之具。莫正焉。方法之傳。莫古焉。既而其論定於仲景氏。而其書出於仲景氏。則古之於方法。當委之於仲景氏。建以為極而已。又曷議之為。然後之言古方者。或謂周官之遺篇。或謂扁鵲之遺法。此皆不委之於仲景氏。強而議之者也。豈非穿鑿之殊甚乎。當西晉之時。有王氏叔和。其所著之脈經。蓋出於其獨得之識也。於仲景氏之術。莫或大裨益。惟其務於傷寒論。而傳之於後世者。此其功之偉者也。當唐之時。前有孫氏思邈。後有王氏燾。而孫之撰千金方。王之纂外臺秘要方。各設病門。而傷寒為一門者。既非仲景氏之旨也。是以雖博輯群方。而不獲其大要。何以盡行之於今乎。故二氏之於方法。不可不擇焉。擇之有善。有不善。先以獲仲景氏之旨為本。乃適於此而擇之也。其擇在於仲景氏。是為其善者也。不適於此而擇之也。其擇在於己之私。是為其不善者也。夫既擇之以其善者。然後其可以行於今者。僅不過十之一二。乃取其一二。以弘仲景氏之道。則方法之莫不該備焉。於是乎建極於仲景氏。而弘道於二氏。我乃呼以為古。不亦可乎。至宋元之時。有諸名家。亦莫不皆祖述焉。雖然。率囿於素難。不能逾短牆也。而謂古不愜今。遂還轅軛。肇方法於我。而擅攪舊轍。於是乎歧為二途。仲景氏之術幾熄。而專為宋元之流。我乃呼以為今。不亦可乎。古今之不可妄言也。建之極者為然矣。而今之為宋元之流者。動輒曰。人之天稟。有古今厚薄之差。嗟嗟。是何其言之謬乎。夫雖古今異乎。天地萬物。固無有古今。天地萬物。既無有古今。而獨人為有古今厚薄之差者。最為無謂矣。何則。人壽百歲。雖古實稀。故僅載之於史。或傳之於言。然則札瘥短折之人。果其無有乎。古何異於今也。雖今之漸及季衰。而百歲之人。果其無有乎。今何異於古也。豈獨人而有古今厚薄之差乎哉。可謂謬矣。雖然。姑從其說而論之。古之人之果厚。而今之人之果薄。方其有疾也。則治之以藥。藥也者。草木蟲石也。草木蟲石。亦與人同。受天地之氣。以生於其間。古今厚薄。亦惟從以移也。則古之人之厚也。必以古之藥。今之人之薄也。必以今之藥。古之所愜。而今何不愜乎。因此而觀之。人與疾。與藥。固不出於天地之外而受之氣也。則古自古。今自今。厚自厚。薄自薄。無不從以移矣。豈取古之藥。而行於今之人乎哉。況於日月之系。星辰之羅。四時之行。百物之生。彌乎萬古萬今。而不竣其政令焉乎。然則於人。亦無古今厚薄之差。可以知矣。惟其於天稟。不在於古今。而在於人人。人人之於厚薄。及其臨疾而行藥也。必從為之酌量。此亦何有古今乎。然強為古不愜今之說。不但誑庸愚。雖有識之人。殆誘其黠言。豈非妄誕之甚乎哉。若及近世。好古之士頗多。而無不熟西漢以上之書。不翅儒術再闢榛棘。醫亦幸得復古之時。及仲景氏之術。於是唱古之方術於本邦者。先有丹水先生。而繼起者。為艮山先生。此其嚆矢也。而繼之者。為秀庵先生。各有著作。而行於世。然於仲景氏之書。則有所未盡矣。又繼而起者。有若一閒齋先生。有若東洋先生。有若東洞先生。亦各雄於當世者也。然於仲景氏之書。則猶有所未盡矣。獨如東洞先生。則張識於扁鵲。而睥睨於仲景。一術於掌握。以屏議論之諠。不歆輕薄之譽。不屑睚眥之毀。先生之於業。可謂達矣。於先生則既達矣。後進之受其業者。恐不達其所達也。世有稱古方家者。特取方於仲景氏。如其脈證。則不必從仲景氏也。因試問之。則曰。此經驗之方。且曰。仲景本非聖人也。何其無缺遺矣。後世謂為醫之聖。不亦謬乎。如其傷寒論。則自好方技之篤。隨得而所筆。固不足以為規則。醫之於術。方而已矣。察其證以處之方。則在於我也。何拘仲景之脈證之為也。且今之病疾者。能愜其脈證者固少。若拘於此。則其鮮不失乎。故度其宜以處之。此我之術也。嗟此何言與。嗟此何言與。夫如此。則醫之於術。不在於古。而在於我也。其在於古者。特方而已。特取其方。而擅於己則果不能出於宋元諸氏之上也。豈足以古稱之哉。夫方法之能得其要領。而詳悉莫所不至者。孰若仲景氏也。如宋元諸氏。則其纖密逾於仲景氏。頗陷於鑿空。此失之於深者也。如所謂古方家。則惡夫鑿空。遂馳於疏漏。此失之於淺者也。欲以此而盡於百病。不可得也。術之將窮乎。於是病者以其治驗之終不能如其言。致咎於醫。醫則以其服醫之不遂從其指揮。歸罪於病者。其相責也若此。而不知其是非也。此惡能勝宋元之流而上之哉。要之如宋元之流。則猶遠乎害。以其失於深也。如古方家。則殆近乎害。以其失於淺也。深之與淺。兩不得其中。能得其中者。莫如仲景氏焉。故仲景氏之脈證。不可不循者也。豈特取其方而已哉。且其所謂經驗者。在其始也。將何之據乎。又將試以己之妄乎。此芥蒂其人也。仲景氏既論脈證。以為規則焉。而去其規則。從己之經驗也。然己之經驗。本由於仲景氏。而不由於己。此不信仲景氏之規則。而信己之妄者也。若必以經驗言之。則或載於書。或傳於人者。何方之非經驗也。夫疾病之似而類者。固不少矣。故其於方法。不滯於一。又不眩於百。此之為要也。若其脈證之既移也。不可不從以轉焉。然因循不轉。及其脈證之既大移。而己之處方。愈遂不轉。自謂雖一二之出入。何隨以轉之為。有特操者之術。當如此矣。此豈非滯於一乎。脈證之未移也。不可不從其舊焉。然己處之方。則數轉不處。朝轉而夕轉。自謂雖一二之出入。不可不隨以制之。臨機應變之術。當如此矣。此豈非眩於百乎。及其最甚者。則建二三之主方。而加減以施於百病。自謂醫之術盡於此矣。此其方之與加減。皆自乎己者也。疾病之於情狀。有止於一焉者。有之於二三焉者。以其之於二三焉者而一之。則不可也。以其止於一焉者而二三之。亦不可也。彼亦一不可。此亦一不可。於其不得其要則一也。欲得其要。則莫若循仲景氏之規則焉。乃其於規則也。有不必兼治。而分治各證者。有因一二異同。而懸殊其所之者。有一方而二三其脈證者。有證相類而方不相類者。有藥多而證少者。有證多而藥少者。凡是皆仲景氏之所以能極其變化。能致其妙用。使後人據以行之者也。豈非規則哉。不可不循焉。夫疾有形。而方無形。故方有移。而隨其疾之形。以為之制也。故方有形。則不足以制矣。若有經驗之挾於意。則方先疾而有形。方既有形。則疾無形矣。聞無形之能制有形。不聞有形之能制無形。是故其似而類者之多。雖既驗於彼。而未必驗於此也。方本無有善否。能得其宜。則皆善矣。是故雖不驗於彼。而又驗於此矣。此經驗之不足貴也。而方豈有善否哉。夫雖仲景氏之非聖人乎。方法之肇於此。而吾儕之據於此。則於我乎不得不尊奉。既尊奉之。則不得不竊比諸聖人。竊比諸聖人。不敢侵先王之尊。假微於我之醫。則誰敢為強僭哉。且視傷寒論。方匯之不如。是皆窺仲景氏之輕忽。未始信其書。是以不能通會終始。截取其意之所應。至其所不應。則必罪叔和。曰此必渠之所攙入。以塗竄之欲罪叔和之意。先翳膜其目。是以仲景氏之所要論。亦或塗竄以斥之。不辨其所論之脈證。即為規則。去其規則。特取其方。豈不亦妄乎。脈證本也。處方末也。去本而取末。是以忽看藥味。而推之於理。謂方有某某之藥。宜治某某之證。此其妄之始也。既配每藥於每證而不厭。加之以加減。此其妄之終也。是所謂無寸之尺。無星之稱已。惡識仲景氏之規則哉。大抵古人之舉事以述義也。撰其可以規則於後來者。編之於書。以傳焉而已。豈若後之專貪名利之比哉。不可不信矣。孟軻氏有言云。盡信書。不若無書。此惟疑尚書之言之侈已。非博斥書籍之言也。觀下文顯曰。於武成取二三策。可以見矣。後人誤以為博斥書籍者也。設令博斥書籍。我則反孟軻氏。幡然而更曰。不盡信書。不若無書。嗚呼難哉。生於今之時。而明於古之術也。若不信其書。將何之信乎。我之於仲景氏。雖未能盡明其義。以行其術於今乎。獨信其書。而不疑者也。且其不稱仲景氏之流。而稱古方家者。豈亦有所忌耶。無論其取之於仲景氏。他雜取諸氏之方法。則獨稱仲景氏之流。此似有所支矣。故博稱古方家。以遁乎辭而已。此豈其所以不稱仲景氏之流耶。夫方法之有古今也。歧為二途者。如前所辨矣。於是建極於仲景氏。而弘道於孫王二氏。則古之於方法。莫不概備焉。雖然。疾病之變態百出。不可得而窮詰也。雖宋元諸氏之遂還轅軛。擅攪舊轍乎。非全無一二之所得矣。乃取其所得。以應夫變態百出。則亦足以博吾之術。豈不亦愉快哉。醫之為術。雖固多端。而自有要領矣。故不求其多端於遠。而求要領於邇。是之謂善擇也。既善擇而善行於今。則又何言古今哉。雖然。有本而有末。有古而有今。本不立。則末必紊。不識古。則焉辨今。方法之肇於仲景氏也。建極於此。以識乎古。能識乎古。體之於我。則我後於宋元。而能辨其為今。然後擇之以古。以古御今。則今猶古乎。夫既辨今之在於識古。則古今何不言也。故必先建之極。而後古今可得而言矣。是之謂本立而末不紊也。方法之言古今也。以其必驗於疾為要矣。有迂闊者。有捷徑者。有迂闊而捷徑者。有捷徑而迂闊者。故不可不善擇焉。然後言無古今。何為不可乎。亦惟在其人。亦惟在其人矣。記曰。忠信之人。可以學禮也。我於吾之術亦云。苟不有忠信之質。則烏能盡仲景氏之術矣乎哉。不可不慎焉。</p>
