<header data-type="book">
<h1>金臺醫案</h1>
</header>

<h1>序</h1>
<p>醫，生死關頭最重事也。張長沙云，居世之士，曾不留心醫述，上療君親，下救貪賤，中以保身，但逐榮利，企睡權豪，卒遇非常，身居死地，百年壽命委付凡流，豈不危哉！由此觀之則醫之一道殆與六經並重，而非可以藝術名也。久矣，僕人非司馬，病似休文，庚寅一病，坐困八年，日與名醫謝鹿圓先生講論，復聚集古今名家方書，床頭痤右，無地不有，寢食其中者數年，始知孰為大家，孰為小家，孰為過正，孰為當宗，孰為當闢，一一批點，得所指歸，於是人定勝天，霍然出戶，然後悟今此諸症坌集，皆從前庸醫金石妄投所致，甚悔學醫之不早也。醫之不明，其害至此，然而此道更未易言也，余雖潛心有年，究不過窺其藩籬，而於古人得心應手之妙，終不敢望其肩背。獨怪夫世之業此者，門戶未窺，脈理不曉，家無數卷之書，室鮮名師之授，獨記此一二湯頭歌訣，以應萬變無定之病，僥倖病之合方，未必方之能合病也，其不草營人命也幾希！庚子應試都門，一日與張子菊如雨窗對酌，偶道及此，不禁暢談，張子聞之津津有味，忙促余書紙，以為後學指南，余遂錄其當看書目與醫中關鍵最緊要者，簡括數篇，以告知已，而於單方絕口不言，俾入門者有所適從，得明其理與法，不致徒記一二湯頭，禍世殃民，亦一已消災禳疾之道，也敢言醫哉！是為序。</p>
<p><u>時乾隆四十有五年歲在庚子荷月石村居士俞廷舉書於金臺旅次</u></p>

<h1>序</h1>
<p>聖人於康子之饋，未達不嘗，固由慎疾之故，亦因以知平日必達於百藥之性之用者也。軒皇岐伯間答諄詳，商家巫咸父子皆擅醫術，可知醫之理通於儒，為人臣子不可不知，而保身立命之君子，悉當究心於是矣。余昔年為諸生時，雅亦探其理，習其方，嘗受業於吾鄉之繆松心先生，先生大概以景岳為宗，而又酌劑其宜，因症而施，惜余是時方習制舉業，未遑專攻也。</p>
<p>石村明府，因病而精求其術，論列諸家之是非純駁，著《金臺醫話》一編，余得而讀之，覺條分縷晰，昭若發朦，不雜不偏，語有宗主，與曩者松心先生之論有隱相吻合焉者，願天下業醫之士，即是編以體會之，探尋之，辨別之，臨症又從而勘驗之，其亦可以免「學醫人費」之誚也夫，是為序。時嘉慶二年歲在丁已夏五月望後五日欽命提督四川學政吏科掌印給事中長洲弟李楘頓首拜撰。</p>

<h1>醫貴讀書擇善</h1>
<p>醫者理也，士不博極群書，無以明理，理之不明，何以認證，症之不明，何以立方？故症有真假，端貴乎平日讀書窮理以辨之也。辨之不爽，安有藥之不對症哉，此根抵工夫也。然而猶有說焉，其法在擇書而讀。謹將所當看書目列左：</p>
<p>《黃帝內經》，黃帝著《靈樞》、《素問》二篇，名《內經》。為醫家鼻祖，猶吾儒之《五經》是也。古稱三墳五典，內經即三墳之一。《漢書。·藝文志》曰：《內經》十八卷，《素問》九卷，《靈樞》九卷是也。學醫不讀《內經》，焉有根柢？然句讀古奧，非閱註疏，熟讀精思，鮮有得其解者。古今注家不一，如唐之王冰，元之滑伯仁，近世馬蒔《發微》，鶴皋吳注，景岳《類經》，訒庵《彙纂》，雖不能盡善盡美，然皆可觀，不可不究心也。</p>
<p>越人《難經》，秦越人即扁鵲是也。著《甲乙八十一難經》，前人稱為補《內經》之不及，亦醫家根柢也，當讀之。</p>

<h2>古四大家方書</h2>
<p>張仲景，後漢張機，字仲景，官至長沙太守，著有《傷寒論》、並《金匱玉函經》二書，為醫中之聖，猶吾儒家之孔子是也。用方藥味少而分兩重，誠千古之金鑑也。《傷寒論》專治外感，至理精微，三陰三陽條分縷晰，為千古不易法門。雖云治傷寒之一書，然雜症規矩準繩，亦無不由此，此醫家渡世金針也，後成無己有《傷寒注》，陶節庵有《傷寒六書》，喻嘉言有《傷寒尚論篇》，劉宏璧有《傷寒三注》最妙，皆不可不讀。</p>
<p>傷寒惟北地寒冷，乃有正傷寒。南邊和暖則傷寒少，而傷風多。今人不知地宜，好用麻黃桂枝，謬也。</p>
<p>《金匱玉函》治雜症也，方有煎名，張景岳新方用煎本此。</p>

<h2>十二經絡三陰三陽</h2>
<p>手太陽小腸，足太陽膀胱，手陽明大腸，足陽明胃，手少陽三之焦，足少陽膽，此為三陽。手太陰肺，足太陰脾，手少陰心，足少陰腎，手厥陰心包絡，足厥陰肝，此為三陰。</p>

<h2>傷寒從三陽而入</h2>
<p>太陽為表，陽明為里，少陽為半表半裡。太陽經行身之背，陽明經行身之前，少陽經行身之側。知乎此，可以言傷寒，亦可以言雜症。</p>
<p>李東垣，元李杲，字明之，號東垣老人。張潔古老人之高弟也。著有《東垣十書》，長於治內傷脾胃，用方藥味多而分量輕，非悖仲景法也。良以脾胃居上中二焦，清陽者上升，故用藥不敢過重也，識者鑑之。內傷，乃內傷飲食脾胃，非如今人以吐血癆瘵等症為內傷也，不可不曉。</p>
<p>劉河間，金劉完素，字守真，號通玄處士。著《宣明論》、《原病式》、《素問病機》等書，好用苦寒之劑，此唯實熱症宜之，否則斷不可膠柱也，慎之。</p>
<p>朱丹溪，元朱震亨，號丹溪，著有《脈因症治》一書，先論脈，次因，次症，後乃論治。此無方之書也，人多未睹。又著有《丹溪心法》，專以知柏寒涼之藥治陰虛等證，此有方之書也，人多宗之，然唯陰虛有實火者宜之，否則斷不可膠柱也，慎之。</p>

<h2>看名家書又當知所折衷</h2>
<p>按張劉李朱為古今四大家，前人論定謂四家之書，如春夏秋冬四時，各有不同，亦如四時缺一不可，然而論其低昂，則工夫究備有差，張長沙醫中聖也，千古一人，安可與劉李朱三公並論哉！然即三公之中，又惟李東垣書為無弊，以東垣溫補脾胃，如補中益氣等方，誠千古特見，可以繼美傷寒，補長沙之不足。若劉朱二公專以寒涼治病，豈生人之道，而可以為後世法哉？張景岳云：劉朱之言不熄，軒岐之道不彰，雖屬過激之談，然亦未為不當也。故東垣之書可法也，河間丹溪之書不可法也。蓋人之病萬變不一，有病熱者，有病寒者，有病元氣實者，有病元氣虛者。如專以寒涼治病，則未有不殺人者也。溫補之藥春夏之氣，所以生長萬物者也；寒涼之藥秋冬之氣，所以肅殺萬物者也。明乎此，可以讀四家之書矣。</p>

<h2>明朝二大家方書</h2>
<p>《薛氏醫案》，薛己，號立齋，江蘇長洲人，曾為太醫，由外科出身，著醫案二十四種，將古人成書附以己案，前人論定，謂之集群醫之大成，猶宋儒之朱子是也。張景岳多宗之，其書多在先後二天用功，故平澹之中自有神奇，此不可不法者也，李士材曰：薛立齋與張子和不同，《儒門事親》一書，多用清涼克削，《醫案》一書，多用溫補培植，此亦可以定其甲乙矣，況有醫案詳明，最令人便於考證，不可不閱。</p>
<p>李時珍《本草綱目》，時珍，號瀕湖，湖北人，父子名醫。著《本草綱目》，大部藥性至此備矣，誠博物君子也。內有《瀕湖脈學》一冊，辨釋精詳，以二十七脈編為七編，最令人便記，不可不知，後人又以綱目中一切古方，分門集成一冊，名曰《普門醫品》，亦可便覽，但古方用於今日多無驗，此又不可膠柱也。</p>

<h2>本朝五大家方書</h2>
<p>張景岳，公諱介賓，號景岳，浙江會籍人。著有《景岳全書》與《景岳類經》二集。《類經》以《內經》分而匯之，加以註疏，後又附以銅人針灸，而全書則治雜症之方書也。每症皆引經義，有論症論治，述古辨古之詳，而又斷以已見，從不因人成事，令人有所適從，此醫中之名字，猶詩中之李杜也。近世不知公，謂偏於溫補，不知公殆長於溫補者也。公最惡劉朱二家，謂寒涼敗胃，最易傷人元氣，大辨特辨，一片婆心，豈得己哉。公更長於補陰，以了千古未完公案，蓋天地之道，一陰一陽並行不悖者也，乃方書所載，補陽之方極夥，而補陰者自長沙地黃湯外，別無良方。亦千古大缺陷也，惟吾景岳出，制以左右歸飲，以補六味、八味之不及。又制理陰煎，以配理中湯。制金水六君子煎，以配六君子湯。制補陰益氣煎，以配補中益氣湯。又制一二陰等煎，以治陰虛有火者，於是陰陽配合，而患陰虛一證者，始有良方調治，而無偏勝之虞，此實千古大功臣也。因書未經人批，故特表而出之。</p>
<p>論曰：古今醫道，至景岳始全，何也？天地間有陽即有陰，二者原行不悖，古人著方多在陽分，而陰分中之稱盡善者，自張長沙腎氣丸外，方不多見，亦千古遺憾。況今人病，陰虛者十居七八，而即中之，用補陽者十居八九，燥潤相反，陰陽誤治，如此殺人，而人罔覺，良可悲也。自張景岳出，誠有見於水為天一之源，腎為先天之本，精能化氣，陰陽互根之理，而治病制方多重陰分，以補千古不及，觀補陣一類，可以見矣。至於補陰益氣煎與和陣之金水六君煎，熱陣之理陰煎，尤為煉石補天之手。蓋有補中益氣湯，以治陽虛人感冒，即不可無補陰益氣煎，以治陰虛人感冒，有六君子湯，以治陽虛人痰嗽，即不可無金水六君煎以治陰虛人痰嗽，有理中湯，以治陽虛人中寒，即不可無理陰煎，以治陰虛人中寒，天地陰陽之理，原當如是，惜古今人未之發，何哉？再如傷寒三表之法，如三、四、五柴胡飲、大溫中飲與前理陰補陰金水三方，取汗於血，固人根本。此又玄而又玄，真醫中之神聖也。予故曰：醫道至景岳，而始全也。讀者當三致意焉，或問予曰：景岳重陰分，丹溪亦重陰分，景岳之不足丹溪何也？余曰：景岳之所重陰分者，陰中之陽也，故用藥溫，溫主春夏生長之氣，地黃、枸杞、當歸之屬是也，即陰虛有火，亦不過用甘涼甘平之品，如生地、麥冬、酒芍之類是也。丹溪之所重陰分者，陰中之至陰也。故用藥寒，寒主秋冬肅殺之氣，黃柏、知母之屬是也，此不可不辨。</p>
<p>瘟疫一症，則非公所長，斷不可從，有論在疫症條中，然瑕不掩瑜，言之亦何傷其為景岳也。公學問最高，每閱一論，皆古文筆法，以此見作者之功，豈淺鮮哉。世人不可以蚍蜉而撼大樹也。</p>
<p>李士材，公諱中梓，字士材，江蘇松江人，副車。醫道為本朝開宗第一家，無偏無弊，寒熱適中，誠吾輩之良師也。著《頤生微論》、《醫宗必讀》（內有《四言脈訣》，《脈法心參》亦佳）。《士材三書》：一《診家正眼》，一《本草通玄》，一《病機沙篆》。而《診家正眼》一書，專論脈理，極其精詳，誠千古脈法之大成也，學脈者，當宗之，然此書系公晚年工夫，醫通禪矣，末附《壽世青編》一卷最妙，此養生修煉之法也，不可不知。</p>
<p>喻嘉言，公諱昌，字嘉言，江西南昌人。長於傷寒，著《尚論篇》，最宗張長沙，又著有《醫門法律》，凡病有法有律。詢醫家之老吏斷獄也，內《寓意草》，乃其醫案篇中談易、談兵，足見公之學問，激昂慷慨有類景岳，吾愛之重之，至其間先議病後用藥與門人定議病式，最為學醫良規，讀者不可不矜式也。</p>
<p>汪訒庵，公諱昂，號訒庵，安微休寧人。著《素靈彙纂》、《醫方集解》、《本草備要》。公本草較他家獨詳，閱者當宗之。而集解一書更妙，但初學人，不宜先看，惟熟讀諸名家集後，明白一切治病認症之法，然後取此書閱之，則自可一目瞭然，左右逢源矣。不然，此書一方之下，眾論畢集，紛紛不一，初學者，胸無成竹，安能目無全牛，鮮有不五色迷目者，此又讀書先後層次一定不易法也。今人家弦戶誦只讀此一書，不知先後，故特表而出之（又按：吳遵程著有《本草從新》較訒庵《備要》更妙、更詳，學醫者不可不閱）。</p>
<p>張石頑，公諱璐，號石頑，江蘇長洲人。著《醫通》，但論症徒採取古人成說，而從不斷以己見，亦令人難於折衷，此書之所以遜景岳也，世謂景岳、石頑，如帙括中之金、陳，究之石頑之纂述，安能及景岳之獨斷為老到乎？然醫案中有高人處，自是大家本領。</p>
<p>此皆大家方書也，可以為後學指南，學者於此諸書，潛心玩求，觸類旁通，何患醫道之不明，而壽世壽人之無良策哉。此外如：</p>
<p>王肯堂《證治准絹》卷帙浩繁，不為不備，然諸症不過採古人成說，雜亂成章而一，己毫無論斷，不及景岳、士材、嘉言諸書遠矣，吾人存之以備參考可也，如遺精方門竟無六味、八味，亦千慮之一失也，於此可見，學者審之。</p>
<p>《馮氏錦囊》，亦屬佳書，其功夫大約與萬密齋等，若稱之為大家則不能，此亦不可不為之辨也。</p>
<p>《集驗良方》雖無議論，然方可採，存備參考亦可。</p>
<p>《石室秘錄》則藉天師以神其說，此荒唐之書也。</p>
<p>《壽世保元》與《萬病回春》，此淺謬之書也，斷不可閱。</p>
<p>《醫學入門》，其中徒採取四大家書，掛一漏萬，毫無折衷定論，且脈訣又宗叔和，正不知其為高陽生偽訣，何醫學入門之有，不可為訓。</p>
<p>《東醫寶鑑》，雜輯成書，不論美惡，於己毫無論斷，令人無所適從，內治陰虛宗丹溪，脈訣宗叔和，不可為訓。</p>
<p>瘟疫症，千古不得其定論。惟吳又可出，識見高明，著醒醫《瘟疫論》一書，誠渡世金針也。故石頑醫通中引之，劉宏璧《傷寒三注》中採之。凡治疫症當奉為師。庶不錯謬。若景岳之瘟疫一門，以治傷寒例治之，亦千慮之一失也，斷不可從，蓋傷寒由皮毛而入，故治以麻黃、桂枝等劑。瘟疫由口鼻而入，故治以達原飲。此不可不辨者也，因世人不知此症之始，此書之妙，故特表而出之。</p>
<p>婦科《薛氏醫案》內有婦科二種，《景岳全書》內有《婦人規》，以及《濟陰綱目》，《萬氏婦科》、《馮氏錦囊》、《達生編》、《保產輯要》等書皆佳。</p>
<p>《達生編》書簡言該，凡有力者，當遍刻送人，凡窮鄉僻巷元醫者，當各置一冊，以備臨時之用，亦保產之道也。余刻有增補一編更善。</p>
<p>小兒科，《薛氏醫案》內有幼科四種。《景岳全書》內有《小兒則》、《痘症注》，以及《幼幼集成》、《慈幼箋》皆佳。</p>
<p>痘科，聶久吾《活幼心法》與《痘疹定論》皆佳。</p>
<p>外科，《薛氏醫案》內九種外科最佳，以立齋原由外科出身，故其業精。次《景岳全書》內《外科鈐》以及《外科正宗》皆佳，然此唯專門者始得其妙。</p>
<p>《醫宗金鑑》，九十卷，類分十一科，廣輯詳註，可謂大成。其中《外科心法要訣》十六卷，皆繪有圖，所當參看。</p>
<p>按外科雖云由濕熱熱毒而致，然症有陰有陽，須分別虛實，始得其治。如症一涉虛即用內托之法，自可萬全，切不可專用外治，以及寒涼等劑。如業外科而不知內托之法，此不可與言醫也。</p>
<p>艾火有起死回生之功，凡治外科無名癰毒，以及疔瘡當初起時，總以獨蒜切片置患處，用艾火灸之。不痛灸至痛止，痛灸至不痛止，此絕妙法也。</p>
<p>《眼科大全》佳，即《審視瑤函》。外《銀海精微》，《千金》、《外臺》皆可。</p>
<p>論曰：方書至今日汗牛充棟，不為不多矣，然其中書有醇疵，家有大小，不可不辨。大家議論精詳，見理老到，所謂醇也，小家議論駁雜，卑無高論，所謂疵也。猶時文中有大家與墨卷是也，然讀墨卷而不讀大家，猶可以混科名，讀醫書而不讀大家，必至於害人性命，蓋見理不透，認症不準確，鮮有不敗事者。此所以不得不廣搜博取，慎思明辨也。入門之道，首在於博極群書，博則多見多聞，不得於此，必得於彼。自然左右逢源。昔程子曰，聖賢之道先博後約，未有耳目狹而心廣者。吾於醫道亦云。</p>

<h2>論脈</h2>
<p>脈不可看坊間所售叔和脈訣。晉王叔和撰脈經十卷，為醫家一經，最妙書也。其實並無脈訣歌括之式，後因真書喪亡，五代時高陽生偽造歌訣，假冒叔和之名，魚目混珠，遂使其書不可為訓，歷代諸名家辨之詳矣，而士材辨之尤力。今人所見不廣，不知真假，群以此書奉為典型，家弦戶誦，以致脈理不明，大為所誤，良可唄也，然而脈書惟李士材《診家正眼》議論精詳，皆本《內經》，實千古脈家之大成。次之《瀕湖脈學》、張景岳《脈神章》，皆有道之言，而景岳十六脈尤為簡老概括。然必平日先看《士材三書》二十八脈，與瀕湖二十七脈，然後方看景岳十六脈，始知議論簡老，概括之妙，此余閱歷之言，亦凡事由博入約自然之理，不可不知所先後也，會心人自領之。</p>
<p>脈有三部九侯，寸關尺三部也，浮中沉九侯也。每部各有浮中沉三侯故曰九。每侯五十至，每一部脈看一百五十至，三部共四百五十至，左右六部共九百至。今人胡亂看之，可謂粗之至矣。左寸屬心，關屬肝，尺屬腎，謂之心肝腎。右寸屬肺，關屬脾，尺屬命門，謂之肺脾命門。然而左尺右尺皆腎也，左腎屬水，右腎屬火，命門居兩腎之中，士材辨之詳矣，而亦謂之肺脾命者，不過分別令人便記耳。然右尺腎火，即命門相火亦通。</p>
<p>人迎系陽明胃脈，氣口系太陰肺脈，所謂寸口即氣口也，非指左右而言也。李士材《醫宗必讀》與張景岳書辨之甚詳，不可膠柱而鼓瑟也。</p>
<p>寸關尺三部歌訣，實照依《內經》新編，此圖悉載《士材三書·診家正眼》中，並《醫宗必讀·四言脈訣》，一見自明（按大小腸系下焦部位，高陽生偽訣竟列之心肺上部，謬也）。今照《內經》改正：左心膻中肝膈腎，內與小腸膀胱並。右肺胸中連胃脾，命門大腸皆一定。</p>
<p>二十八脈名目歌訣：（瀕湖二十七脈無疾脈）浮沉遲數動牢革，長短洪微疾滑澀：緊緩細濡代促弦，散芤結伏弱虛實。此余所新編便記者，以浮沉遲數四字作起，提綱也，以虛實二字作結，點睛也。極有深意，明乎此，可與言脈矣。</p>
<p>浮沉遲數四字提綱訣：（亦新編）洪虛散芤濡微革，七脈俱在浮分得。若夫伏牢細弱實，五脈又於沉中別。緩澀結代遲之形，滑緊促動數之列。惟有弦脈與長短，三脈不在四部設。</p>
<p>景岳十六脈，有論在前。</p>
<p>浮沉遲數，洪微滑澀，弦芤緊緩，結伏虛實。</p>
<p>死脈六部歌訣，此即無胃氣之脈，內經所謂真藏脈見是也。雀啄連來三兩啄，屋漏半日一點落，魚翔似有又如無，蝦游靜中忽一躍，彈石硬來尋即去，搭指散亂如解索，寄語醫人仔細看，六脈一見休下藥。</p>
<p>奇經八脈，此二十八脈之外，另有此奇經八脈也。督、任、沖、帶、陽蹻、陰蹻、陽維、陰維。</p>

<h2>診脈法</h2>
<p>滑伯仁曰，診脈之道，先調自己氣息，男左女右，先以中指取定關位，去下前後二指，初輕候消息之，次中候消息之，自寸關至尺逐部尋究。一呼一吸之間脈行四至為率，閏以太息五至，為平脈也。其有太過不及，則為病脈。各以其部斷之。</p>
<p>又曰，臂長則疏下指，臂短則密下指。三部之內大小浮沉遲數同等，尺寸陰陽高下相符，男女左右強弱相應，四時之脈不相戾，命曰平人。其或一部之內獨大、獨小、獨疾、獨遲，左右強弱之相反，四時男女之相背，皆病脈也。左手不和為病在表，為陽、主四肢。右手不和為病在裡，為陰、主腹藏。</p>
<p>又曰，察脈須識上下、來去、至止六字，不明此則陰陽虛實不別也。上者為陽，下者為陰，來者為陽，去者為陰，至者為陽，止者為陰也。上者自尺部上干寸口，陽生於陰也。下者自寸口下於尺部，陰生於陽也。來者自骨肉之分而出於皮膚之際，氣之升也。去者自皮膚之際而還於骨肉之分，氣之降也。應曰至，息曰止也。</p>

<h2>重輕審察</h2>
<p>扁鵲曰，初持脈如三菽之重，與皮毛相得者，肺部也。如六菽之重，與血脈相得者，心部也。如九菽之重，與肌肉相得者，脾部也。如十二菽之重，與筋平者，肝部也。按之至骨，舉指來疾者，腎部也。</p>

<h2>脈分四時六氣</h2>
<p>十二月大寒至二月春分，為初之氣，厥陰風木主令。經曰，厥陰之至其脈弦。</p>
<p>春分至小滿，為二之氣，少陰君火主令，經曰，少陰之至其脈鉤。</p>
<p>小滿至六月大暑，為三之氣，少陽相火主令，經曰，少陽之至大而浮。</p>
<p>大暑至八月秋分，為四之氣，大陰濕土主令，經曰，太陰之至其脈沉。</p>
<p>秋分至十月小雪，為五之氣，陽明燥金主令，經曰，陽明之至短而澀。</p>
<p>小雪至十二月大寒，為六之氣，太陽寒水主令，經曰，太陽之至大而長。</p>

<h2>脈分五臟</h2>
<p>肝脈弦，心脈鉤，脾脈代，肺脈毛，腎脈石。</p>

<h2>五藏平脈</h2>
<p>肝脈來耎弱，招招如揭長竿木稍，曰肝平。招招猶迢迢。揭高舉也。高揭長竿，稍必和緩，乃弦長而兼和緩柔軟之象也。</p>
<p>心脈來累累如貫珠，如循琅玕，曰心平。連珠、琅玕，皆狀其盛滿流行，而無太過不及之弊也。</p>
<p>脾脈來和柔，相離如雞踐地，曰脾平。和柔者悠悠揚揚也。相離者不模糊也。如雞踐地，取其緩而不迫胃氣之妙也。</p>
<p>肺脈來厭厭聶聶，如落榆莢，曰肺平。厭厭、聶聶澀之象也。如落榆莢毛之象也。輕浮和緩為和平之象。</p>
<p>腎脈來喘喘累累，如鉤按之而堅，曰腎平。喘喘、累累、如鉤，此三者皆心脈之陽也，而濟之以沉石，則陰陽和平也。</p>

<h2>反關脈</h2>
<p>脈不行於寸口，由列缺絡入臂後，手陽明大腸經也，以其不正行於關上，故曰反關，必反其手而診之，乃可見也。左手得之主貴，右手行之主富，左右俱反富貴兩全，男女皆然。</p>

<h2>衝陽太谿太衝</h2>
<p>衝陽者，胃脈也。一曰趺陽，在足面大指間五寸骨間動脈是也。凡病勢危篤，當侯衝陽，以驗其胃氣之有無，蓋土為萬物之母，資生之本也。故經曰衝陽絕死不治。</p>
<p>太谿者，腎脈也。在足內踝後跟骨上陷中動脈是也。凡病勢危篤，當侯太谿，以驗其腎氣之有無，蓋水為天一之元，資始之本也。故經曰太谿絕死不治。</p>
<p>太衝者，肝脈也。在足大指本節後二寸。經曰診病人太衝有無可以決生死。《難經》曰：上部有脈下部無脈，是人當吐，不吐者死。</p>

<h2>脈有不可言傳之說</h2>
<p>脈之理微，自古記之，昔在黃帝，生而神靈，猶曰若窺深淵，而迎浮雲。許叔微曰，脈之理幽而難明，吾意所解，口莫能宣也。凡可以筆墨載，可以口舌言者，皆跡象也。至於神聖，非心領神會，烏能盡其元微，如古人形容胃氣之脈，而曰不浮不沉，此跡象也，可以中候求也。不疾不徐，此跡象也，可以至數求也。獨所謂意思欣欣、悠悠，揚揚，難以名狀，非古人秘而不言，欲名狀之而不可得，故「引而不發，躍如。」於言詞之表，以待能者之自認耳。東垣至此亦窮於詞說，而但言脈貴有神，惟其神也，故不可以跡象求、言語告也。又如形容滑脈而曰替替然如珠之圓轉。形容澀脈而曰如雨沾沙。形容緊脈而曰如切繩轉索。形容散脈而曰如楊花散漫。形容任脈而曰寸口丸丸。此皆跡象之外別有神理，就其所言之狀，正惟窮於言語，故借形似以揣摹之耳，蓋悟理雖入微之事，然跡象未明，從何處悟入，思境未苦，從何處悟出。必於四言之訣，二十七字之法誦之極其熟，思之極其苦，夫然後靈明自動，神鬼來通。啟玄子曰：「欲登泰岱，非徑奚從？詣扶桑，無舟莫適。」其是之謂乎。</p>

<h2>因形氣以定診之說</h2>
<p>逐脈審察者，一成之矩也，隨人變通者圓機之士也。肥盛之人，氣居於表，六脈常帶浮洪。瘦小之人氣斂於中，六脈常帶沉數。性急之人五至方為平脈。性緩之人四至便作熱。看身長之人，下指宜疏，身短之人，下指宜密。北方之人每見實強，南方之人恆多軟弱。少壯之脈多大，老年之脈多虛。酒後之脈常數，飯後之脈常洪。遠行之脈必疾，久飢之脈必空。室女、尼姑多濡弱，嬰兒之脈常七至。經曰：「形氣相得者生，三五不調者死。」其可不察於此乎！</p>

<h2>診貴提綱之說</h2>
<p>脈者氣血之先，陰陽之兆，貴得其綱領而提摯之也。左手為陽，右手為陰。關前為陽，關後為陰。浮取為陽，沉取為陰。長大為陽，短小為陰。明乎此，而脈之大端已在是矣。故曰約而言之，只浮沉遲數已見其梗概，博而考之，雖二十四字未盡其精詳。經曰：「知其要者一言而終，不知其要流散無窮。」此之謂也。</p>

<h2>脈有相似宜辨</h2>
<p>洪與虛皆浮也，浮而有力為洪，浮而無力為虛。沉與伏皆沉也，沉脈行筋間，重按即見；伏脈行於骨間，重按不見，必推筋至骨乃可見也。數與緊皆急也，數脈以六至得名，而緊則不必六至，惟弦急而左右彈狀，如切緊繩也。遲與緩皆慢也，遲則三至，極其遲慢，緩則四至，徐而不迫。實與牢皆兼弦大實長之四脈也，實則浮中沉三取皆然；牢則但於沉侯取也。洪與實皆有力也，洪則重按少衰，實則按之亦強也。革與牢皆大而弦也，革則浮取而得，牢則沉取而見也，濡與弱皆細小也，濡在浮分，重按即不見也；弱主沉分，輕取不可見也。細與微皆無力也，細則指下分明，微則似有若無模糊難見矣。促結澀代皆有止者也，數時一止為促，緩時一止為結，往來遲滯似止非止為澀，動而中止不能自還止有定數為代。</p>

<h2>脈有相反宜參</h2>
<p>浮沉者脈之升降也，遲數者脈之急慢也，滑澀者脈之通滯也，虛實者脈之剛柔也，長短者脈之盈縮也，洪微者脈之盛衰也，緊緩者脈之張馳也，牢革者脈之內外也。動伏者脈之出處也，促結者脈之陰陽也，濡弱者脈之窮於進退者也，芤弦者脈之見於盛衰者也。經曰前大後小，前小後大，來疾去徐，來徐去疾，去不盛，來反盛，去盛來不盛，乍大乍小，乍長乍短，乍數乍疏，是又二脈之偶見者也。</p>

<h2>脈無根有兩說</h2>
<p>以寸關尺三部言之，尺為根，關為干，寸為枝葉。若尺部無神，則無根矣，以浮中沉三侯言之，沉侯為根，中侯為干，浮侯為枝葉，若沉侯不應，則無根矣。</p>

<h2>女人脈法</h2>
<p>陰博陽別謂之有子。（謂尺中之陰脈搏大，與寸部之陽部迥別者，乃有子也。）陰虛陽搏謂之崩。（陰虛血衰於下，則陽火上亢矣，血為火迫不得安其位，乃為崩漏之疾。）手少陰脈動甚者妊子也。（手少陰者心脈也，動甚者形如豆粒，急數有力也。心主血，血旺乃能成胎，心脈動甚而旺之象，故當妊子）</p>
<p>何以知懷子之且生也，身有病而無邪脈也。（有病，如腹痛拘急之類。無邪脈，謂無病脈也。）婦人慾生，其脈離經，夜半覺，日中則生也。（離經者謂離於常經之脈，如昨小今大，昨澀今滑，昨浮今沉之類。夜半覺，日中生子者，子午相沖也。）</p>

<h2>小兒脈法</h2>
<p>小兒五歲以下，未可診寸關尺，惟看男左女右虎口食指第一節寅位，為風關，脈見易治。第二節卯位，為氣關，脈見為病深。第三節辰位，為命關，脈見為命危。紫脈為熱，紅脈傷寒，青脈驚風，白脈疳疾，黃脈隱隱為常侯也，黑脈者多危，脈紋入掌為內鉤，紋彎里為風寒，紋灣外為食積。</p>
<p>五歲以上，以一指取寸關尺三部，六至為和平，七八至為熱，四五至為寒。</p>
<p>半歲以下，於額前眉端髮際之間，以名中食三指候之。兒頭在左舉右手候，兒頭在右舉左手候，食指近發為上，名指近眉為下，中指為中。三指俱熱，外感於風，鼻塞咳嗽。三指俱冷，外感於寒，內傷飲食，發熱吐瀉。食中二指熱，主上熱下冷。名中二指熱，主夾驚。食指熱，主食滯。</p>

<h2>七診</h2>
<p>岐伯曰：察九侯七診（九候注見前）。獨小者病，獨大者病，獨疾者病，獨遲者病，獨熱者病，獨寒者病，獨陷下者病。（些言九候之中有獨見之脈，而與他部不同，即按其部而知其病之所在也。七者之中，「即言獨疾，則主熱矣，即言獨遲，則主寒矣，而又言獨寒獨熱者何也？必於陰部得沉微遲澀之脈，故又言獨寒也；必於陰部得洪實滑數之脈，故又言獨熱也；獨陷下者沉伏而不起者也。）形肉已脫，九候雖調猶死。（形肉脫去，大肉盡運也，脾主肌肉，為五臟之本，未有脾氣脫而能生者，雖九候之中無獨見之七診，然終不免於死之矣。）</p>
<p>七診雖見，九候皆從者不死。（從順也，謂脈順四時之令，合五臟之常，故與病症為順也。既得順候，雖有獨大獨小等脈，不至於死也。）</p>

<h2>必先問明然後診脈</h2>
<p>《素問·徵四失篇》曰：「診病不問其始，憂患飲食之失節，起居之過度，或傷於毒，不先言此，而卒持寸口，妄言作名，為粗所窮，何病能中。」此言不問其症之所由起，先與切脈，未免模糊揣度，必不能切中病情者矣。</p>
<p>李士材曰，古之神聖，未嘗不以望聞問切四者互相參者審察病情，然必先望其氣色，次則聞其音聲，次則問其病源，次則診其脈狀，此先後之次第也。近世醫者既自附於知脈，而病家亦欲試其本領，遂絕口不言，惟伸手就診，而醫者即強為揣摩，若揣摩偶合，則信為神奇。揣摩不合則薄為愚脈。噫！嘻！此《內經》所謂「妄言作名，為粗所窮。」如是而欲拯危起殆，何異欲入其室而反閉門也！王海藏云：「病人拱默，惟令切脈，試其知否。夫熱則脈數，寒則脈遲，實則有力，虛則無力，此可以脈知也。然一脈管數十症，得病之由不可以脈知也，如傷食可以脈知也，而所傷何物，豈能以脈知哉？故醫者不可不問其由，病者不可不說其故。」蘇東坡云：「我有病狀必盡告醫者，使其胸中瞭然，然後診脈，則疑似不能惑也，我求愈疾而已，豈以困醫為事哉？」若二公之言，可以發愚蒙之聾聵矣。</p>

<h2>持脈有道</h2>
<p>《素問·脈要精微論》曰：「持脈有道，虛靜為保。」此言切脈之道，貴於精誠，嫌其擾亂，故必心虛而無他想，身靜而不言動，然後可以察脈之微，而不失病情也。保者不失也，若躁動不安，瞻視不定，輕言談笑，亂說是非，不惟不能得脈中之巧，適足為旁觀者，鄙且笑也。今世診者，大類如此，可發一笑！</p>

<h2>脈以胃氣為主</h2>
<p>脈以胃氣為主，有胃則生，無胃則死。脈經所謂不大不小，不長不短，不滑不澀，不浮不沉，不疾不徐，應手中和，悠悠揚揚，難以名狀者，此胃脈也。二十八脈中緩脈即胃脈也，六脈皆有胃氣，不可以脾胃一部為胃脈，蓋從容和緩乃穀氣，即人之元氣是也。人之穀氣，貫乎一身，無地不有，故不論何症何脈，但得從容和緩即為有胃氣，此生脈也。此詳《脈經》緩脈中，為診家第一大關鍵，不可不知，故特表而出之。</p>
<p>又東垣脈貴有神之說，不論病之輕重與脈之大小，但得脈有力即為無害，有力即有神也，此亦為醫中要領。此即《內經》所謂有胃氣也，故亦表之。</p>

<h2>氣口獨為五藏主</h2>
<p>氣口何以獨為五藏主？岐伯曰：「胃者水穀之海，六府之大源也。五味入口藏於胃，以養五藏氣。」氣口、太陰也。是以五藏六府之氣味皆出於胃，變見於氣口。</p>
<p>此論脈之大要也，若夫議論精詳，則唯於李士材《診家正眼》、李瀕湖《脈學》、張景岳《脈神章》諸書潛心求之，則自得矣，不贅。余纂有《脈法大成》一部，嗣當續刻。</p>

<h2>醫中體用</h2>
<p>博極群書，窮理格物，此醫中之體也。臨症看病用藥立方，此醫中之用也，不讀書窮理則所見不廣，認症不真。不臨症看病則閱歷不到，運動不熟，體與用二者不可偏廢也，然非平昔讀書窮理，辨症真確，則臨時治病，安得有指揮如意，運動如神之妙哉？故胸有成竹，然後目無全牛，此所以又先體而後用也。今世醫人胸無一卷之書，動以臨症老練為辭，此欺世之語也，幾見有名醫作家著書立說，而不從讀書中出者哉，此可以爽然自失矣。</p>

<h2>醫中綱領</h2>
<p>醫要明白陰陽表裡寒熱虛實八字，病雖萬變百出，而其實總不離此八字，以人不病陰即病陽，不病表即病里，不病寒即病熱，不病實即病虛也，然表與熱皆屬陽，里與寒皆屬陰。八字之中又只陰陽虛實四字足以盡之。然陽有陽實亦有陽虛，陰有陰實亦有陰虛，而虛實二字又為百病之會歸，八字之綱領也。諸書辨之甚明，無不隨症言之。惟張景岳《傳忠錄》以此八字分篇立論，最為詳細。學醫者尤當細看，俾方寸先有定見，庶臨時認症不錯耳。然虛實二字尤為要緊，比惟精於脈理者可與言也。</p>

<h2>陰陽</h2>
<p>張景岳曰：凡診病施治必須先審陰陽，乃為醫道之綱領，陰陽無謬，治焉有差？醫道雖繁，而可以一言蔽之，曰陰陽而已。故證有陰陽，脈有陰陽，藥有陰陽。以症而言則表為陽，里為陰。熱為陽，寒為陰。上為陽，下為陰。氣為陽，血為陰。動為陽，靜為陰。多言者陽，無聲者為陰。喜明者為陽，欲暗者為陰。陽微者不能呼，陰微者不能吸。陽病者不能俯，陰病者不能仰。以脈而言則浮大滑數之類皆陽也，沉微細澀之類皆陰也。以藥而言則升散者為陽，斂降者為陰。辛熱者為陽，苦寒者為陰。行氣分者為陽，行血分者為陰。性動而走者為陽，性靜而守者為陰。此皆醫中之大法。至於陰中復有陽，陽中復有陰。疑似之間辨須的確，此而不識，極易差訛，是又最為緊要，然總不離乎前之數者。但兩氣相兼，則此少彼多，其中便有變化，一皆以理測之，自有顯然可見者，若陽有餘，而更施陽治，則陽愈熾，陰愈消。陽不足，而更用陰方，則陰愈盛，而陽斯滅矣。設能徵明陰陽，則醫理雖玄，思過半矣。</p>

<h2>寒熱表裡虛實</h2>
<p>張景岳曰：六變者表裡寒熱虛實，是即醫中之關鍵也。明此六者，萬病皆指諸掌矣。以表言之，則風寒暑濕火躁感於外者是也。以裡言之，則七情勞欲飲食傷於內者是也。寒者陰之類也，或為內寒或為外寒，寒者多虛，虛者正氣不足也，內出之病多不足。實者邪氣有餘也，外入之病多有餘。</p>

<h2>寒熱真假</h2>
<p>凡人之病非寒即熱，然寒熱之真者易知，假者難辯。最重在假寒假熱。所謂大實有羸狀，至虛有盛侯是也。然真熱假寒之症少，而真寒假熱之症多耳。此「類白虎症」、「假白虎症」所當辨也。白虎湯石膏、知母，必有實熱方可用，或有血虛心寒，脾虛發熱及陰盛格陽、面赤煩躁，類白虎等證，誤投之不可救也。蓋血實則身涼，血虛則身熱，此以飢飽勞役傷其陰，血虛陽獨盛，故肌熱煩渴與白虎證無異，但真白虎證得之外感，實熱內盛，故脈洪大而長，按之有力。類白虎證得之內傷，血虛發熱脈洪大而無力。內經所謂脈虛血虛是也，以脈之有力無力為辯，庶不貽誤。若不知脈，誤服白虎湯必斃，故用當歸補血湯自愈，此理最微，宜細心體察。</p>
<p>又按陰盛格陽，陽盛格陰，二症至為難辨。蓋陰盛極而格陽於外，外熱而內寒。陽盛極而格陰於外，外冷而內熱。經所謂重陰必陽，重陽必陰，重寒必熱，重熱則寒是也。固以脈之有力無力為辨。又當於小便分之，便清者外雖燥熱而中心寒，便赤者外雖厥冷而內必熱，再看口中燥潤及舌苔淺深，蓋舌為心苗，應南方火邪，在表則未生苔，邪入里津液搏結則生苔而滑。苔白者丹田有熱、胸中有寒，邪在半表半裡也。熱入漸深則燥而澀，熱聚於胃則黃，宜承氣及白虎。若熱病口乾舌黑乃腎水刑于心火，熱益深而病篤矣，然亦有苔黑屬寒者，舌無芒刺，口有津液也，又當用溫補之劑。尤宜細辨。張景岳《傳忠錄》有寒熱真假辨，李士材《醫宗必讀》有《疑似之間須辨論》，並《傷寒有陰症似陽陽症似陰辨》，皆當參看。又有上熱下寒，用八味冷飲以治之法，此即《內經》熱因寒用，不可不知者也。</p>

<h2>舌胎</h2>
<p>舌苔舌黑雖云火症，然實火虛火皆能為之，凡治此者當察脈症，以虛實為主，而再以辨色之法參之，庶可無誤。蓋實熱之黑必兼紅紫，乾渴或多芒刺。若沉黑少紅而帶潤滑者，本非實熱症也。若其六脈細弱而形困氣倦，則又最為虛候，是必寒水乘心，火不歸源之病，此不救本，而但知治標，則萬無一生矣。若陰虛火盛而兼有表邪未解者，宜補陰益氣煎之類，兼表裡而治之。若形氣俱不足，寒水乘心而虛陽不斂者，必用理陰煎、理中湯或大補元煎之類，以單救其里，自可保其無虞，此治虛火之法也。《薛氏醫案·金鏡錄》有三十六舌，李士材《診家正眼》有舌診一條，所當參看。</p>

<h2>先後二天</h2>
<p>李士材曰：「古稱五勞，七傷、六極、二十二蒸，症狀繁多，令人眩感，但能明先天后天根本之治，無不痊安。」此簡而不繁，約而無漏者也。夫人之虛非氣即血、五藏，六府莫能外焉。然血之源頭在乎腎水，為天一之元，而人資之以為始者，故曰先天。氣之源頭在乎脾土，為萬物之母，而人資之以為生者，故曰後天。二藏安和則百脈受調，二藏虛偽則千疴並起。至哉斯言！可謂後學司命之指南也。</p>
<p>土為金母，而金為主氣之宮，故肺氣受傷者，必求助於脾家。水為木母，而木為藏血之地，故肝血受傷者必藉資於腎府。</p>
<p>人有先後二天，補腎補脾法當並行，然以甘寒補腎恐妨脾氣，以辛溫快脾恐妨腎水。須衡其緩急而為之施治，或滋腎而佐以沉香、砂仁；快脾而雜以山藥、五味，機用不可不活也。脾具坤順之德，而有乾健之運，故遊溢精氣，上輸於肺，通調水道，下輸膀胱，水精四布，五經並行，則水元從此沃矣。且脾不下陷則精氣固而二便調，俾少陰奉之得以全，閒蟄封藏之本，故脾安則腎愈安矣。此許學士所以有補腎不如補脾之說也。腎兼水火，水不挾肝上浮而陵卑監，火能益土善運而奉精微，故腎安而脾愈安矣。此孫思邈所以有補脾不若補腎之說也。此兩說皆有見，於根本重地，亟用堤防，特為虛癆家設一大矩也。</p>

<h2>虛癆並陰虛</h2>
<p>李士材曰，虛癆之症扶脾保肺兩不可缺，然脾之性喜溫喜燥，而溫燥之劑不利於肺，肺之為性喜涼喜潤，而涼潤之劑不利於扶脾。兩者並列而論脾有生肺之能，肺無扶脾之力，故曰土旺而金生，勿拘拘乎保肺，瀉火之亢以全陰氣，壯水之主以鎮陽光，法當並行。然瀉火之品多寒而損陽氣，壯水之劑多平而養陰血，兩者並列而論，苦寒過投，將有敗胃之憂，甘平恆用卻無傷中之患，故曰水壯而火自熄，勿亟亟於寒涼。症如煩渴喘呼，脈則數大有力，當潤肺為主，而扶脾佐之。症如食少善泄，脈則細數無力，當扶脾為主而保肺佐之。甚則保肺之劑不和於脾，當盡去之，卻宜補土之母，庶可冀其回春，全在明辨其症之何如，變通以治之可也。張景岳曰，朋虛一症邪火偏勝，緣真水之不足也，故其為病或為煩渴，或為骨蒸，或為咳血吐血，或為淋濁遺泄，此雖明是火症，而非邪熱實熱之比。蓋實熱之火其來暴，必有感觸之故，虛熱之火其來徐，必有積損之因，此虛火實火之大有不同也。凡治火者，實熱之火可以寒勝，可以水折，所謂熱者寒之也；虛熱之火不可以寒勝，所謂勞者溫之也。何也？蓋虛火因其無水，只當補水以配火，則陰陽得平，而病自可愈。若欲去火以覆水，則既虧之水未必可復，而併火去之，豈不陰陽兩敗乎！且苦寒之物絕無升騰之生氣，而欲補其虛無是理也。故余之治此，必以甘平之劑專補真陰，此未必即愈，自可無害，然後察其可乘，或暫一清解，或漸加溫潤，必使生氣漸來，庶乎脾可健則熱可退，肺可潤則嗽漸寧，方是漸復之佳兆，多有得生者。若但知知、柏為補陰，則愈敗其腎，而致泄瀉食減，必速其殆矣！</p>

<h2>血脫益氣</h2>
<p>李士材曰，或問血虛自應補血，專以氣藥為主，得無左乎？答曰：血虛應投血藥本為正法，但專用多用中州有礙，至於以氣藥為主似乎相左，不知《素問》云，無陽則陰無以為生。仲景曰，身熱亡血，身涼脈凝，血虛，並加人參，蓋血脫者須益氣，為血不自生，須得陽和之藥乃生，陽生而陰長也，若只用血藥，則血無由而生矣。東垣云，人參甘溫補脾，脾氣旺則四藏之氣皆旺，精自生而形自盛也。白飛霞雲，人參多服，回元氣於無何有之鄉。凡病後氣虛及肺虛喘嗽者，並宜用之，若氣虛有火宜與麥冬同服。楊起云，人參功載本草，人所共知，古方治肺寒以溫肺湯，肺熱以清肺湯，中滿分消湯，血虛養營湯皆用人參。庸醫每謂人參不可輕用，誠哉庸也，自本經以至諸家諄諄言之，以氣藥有生血之功，血藥無益氣之理，可謂詳切著明，奈何人不悟耶！</p>
<p>按血脫益氣，即是氣脫益氣，凡人大吐大衄血脫，則氣末有不脫者，當此垂危殘喘一息，舍此不救，何以回生？況有形之血極難驟復，而無形之氣最易復元，大劑參、附一二帖，自可蘇復也。然病從血脫，終以補血為主，蘇復之後自當重用熟地、當歸、枸杞之類，填補真陰方可復元，而此時之參不過用以為佐耳。如執云血不自生須得陽和之藥乃生，則凡血分中之溫補藥皆陽和之藥也，又豈徒一參為然哉，此讀書所以貴解人也。</p>
<p>按氣藥有生血之功，血藥無益氣之理，二語雖是，然不過謂其氣藥多屬陽溫，主春夏生髮之氣，血藥多屬陰寒，主秋冬肅殺之氣故耳。若熟地、當歸之溫補，豈無春生之氣哉？如謂血藥必無益氣之理，則《內經》精化為氣之語，豈非陰亦生陽乎，陰陽互根原有此理，此語張景岳《本草正》熟地、人參兩條辨之詳明，所當參閱。至於治病用藥，活法在人，原不可拘泥也。</p>

<h2>氣血難易</h2>
<p>氣屬陽，血屬陰。凡病氣虛者雖屬危劇，而以大劑參附救之，一二帖即愈。以氣無形之物，易散而易聚也，故其治易。惟病血虛者則以大劑熟地、當歸、枸杞之類補之，非數十貼不為功，以血有形之物，潛滋暗長，非旦夕可以復原者也，故其治難。若陰虛有火者，尤為難治。此遲速難易之不可不知者也。若血症大吐大崩等類，則又當益氣，所謂血脫益氣是也。此又先後緩急之不可不知者也。</p>

<h2>中風閉證脫證</h2>
<p>凡中風昏倒有閉與脫二症，不可不辨明白也。如牙關緊閉、兩手握固，此閉症也，用蘇合香丸或三生飲之類開之。若口開，心絕；手撒，脾絕；眼合，肝絕；遺尿，腎絕；聲如鼾，肺絕，此脫症也，斷不可用此藥。更有吐沫直視，肉脫筋骨痛，髮直頭搖，上攛面赤如妝，汗出如珠，皆脫絕之症，宜大劑理中湯灌之及炙臍下，雖曰不治亦可救十中之一，若誤服蘇合香丸、牛黃至寶之類即不可救矣。蓋斬關奪門之將，原為閉症而設，若施之脫症，如人下井而又投石，其能堪乎？世人蹈此弊而死者，不可勝數，故特表而出之。</p>
<p>又《景岳全書》非風一症，即時人所謂中風是也。此症多見猝倒昏聵，本皆內傷積損頹敗而然，原非外感風寒所致，而古人相傳咸以中風名之，其誤甚矣。故景岳易去中風二字，而竟以非風名之，大為有見，庶使人易曉，而知其本非風症，則不致誤治耳。</p>
<p>又婦人產後血暈昏不知人，亦有血暈氣脫，兩症之辨，景岳《婦人規》內言之甚詳，此皆生死反掌之事，業醫者不可不深知而明辨也。</p>

<h2>治法</h2>
<p>《內經》治法，岐伯曰：「高者抑之，下者舉之，溫者清之，清者溫之，散者收之，抑者散之，燥者潤之，急者緩之，堅者軟之，脆者堅之，衰者補之，強者瀉之，佐以所利，和以所宜，各安其氣，必清必靜，則病氣衰去，歸其所宗。」此治之大體。又曰：「寒者熱之，熱者寒之，微者逆之，甚者從之，堅者削之，客者除之，勞者溫之，結者散之，留者攻之，燥者濡之，急者緩之，散者收之，損者益之，溢者行之，驚者平之，上之，下之，摩之，浴之，薄者劫之，開者發之，適事為故。」帝曰：「何謂逆從？」岐伯曰：「逆者正治，從者反治，從少從多，觀其事也。」帝曰：「反治何謂？」岐伯曰：「熱因寒用，寒因熱用，塞因塞用，通因通用，必伏其所主而先其所因，其始則同，其終則異。」</p>
<p>岐伯曰：「病生於內者先治其陰，後治其陽，反者益甚。病生於陽者先治其外，後治其內，反者益甚。」</p>
<p>治法有逆從，以寒熱有假真也，此《內經》之旨也。經曰逆者正治，從者反治。夫以寒治熱，以熱治寒，此正治也，正即逆也。以熱治熱，以寒治寒，此反治也，反即從也。如以熱藥治寒病，而寒不去者是無火也，當治命門，以參、熟地黃、桂、附之類，此王太僕所謂，益火之源以消陰翳，是亦正治之法也，又如以熱藥治寒病，而寒不退，反用寒涼而愈者，此即假寒之病，以寒從治之法也。又如以寒藥治熱病，而熱不除者，是無水也，治當在腎以六味丸之類。此王太僕所謂壯水之主以鎮陽光，是亦正治之法也。又有以寒藥治熱病，而熱不愈，反用參、薑、桂、附、八味丸之屬而愈者，此即假熱之病，以熱從治之法也，亦所謂甘溫除大熱也。第今人之虛者多，實者少，故真寒假熱之病為極多，而真熱假寒之病則僅見耳。</p>
<p>塞因塞用者，如脾虛作脹治以參、術，脾得補而脹自消也。通因通用者，如傷寒挾熱下利或中有燥屎，用調胃承氣湯下之乃安。滯下不休用芍藥湯通之而愈是也。寒因熱用者，如藥本寒也，而反佐之以熱。熱因寒用者，如藥本熱也，而反佐之以寒。俾無拒格之患，所謂必先其主而伏其所因也。用熱遠熱，用寒遠寒者，如寒病宜投熱藥，熱病宜投寒藥，僅使中病而已，勿過用也；過用則反為藥傷矣，此類不可不知。</p>

<h2>治病必求其本</h2>
<p>《內經》曰：治病必求其本。醫診治法有曰：「見痰休治痰，見血休治血。無汗不發汗，有熱莫攻熱。喘生休耗氣，精遺不澀泄。明得固中趣，方是醫中傑。行醫不識氣，治病從何據？堪笑道中人，未到知音處。」觀其詩意，皆言不治之治，正《內經》求本之理，誠格言也。</p>
<p>張景岳曰，萬事皆有本，而治病之法，尤惟求本為首務，所謂本者惟一而無兩也。蓋或因外感者，本於表也，或因內傷者本於裡也，或病熱者本於火也，或病冷者本於寒也，邪有餘者本於實也，正不足者本於虛也。但察其因何而起，起病之因便是病根，萬病之本只此表裡寒熱虛實六者而已，知此六者則表有表症，里有里症，寒熱虛實無不皆然，六者相為對待，原冰炭不同，辨之亦異。凡初病不即治，及有誤治不愈者，必致病變日多，無不皆從病本生出，最不可逐件猜摸，短覷目前，頭痛治頭，腳痛治腳。經曰：「眾脈不見，眾凶不聞，外內相得，無以形先。」是誠求本之至要也。苟不知此，必庸流耳。故明者獨知所因，直取其本，則所生諸病無不隨本皆退矣。至若六者之中，多有兼見而病者，則其中亦自有源有流，無弗可察，然惟於虛實二字總貫乎前之四者，尤為緊要而當辨也。蓋虛者本平，元氣實者由乎邪氣，元氣若虛，則雖有邪氣不可攻，而邪不能解則又不可不攻者，此處最難下手，但當察其能勝攻與不能勝攻，或宜以攻為補，或宜以補為攻，而得其補瀉於微甚可否之間，斯盡善矣。且常見有偶感微疾者，病原不甚，斯時也，但知拔本，則一藥可愈，而庸者值之非痰曰痰，非火曰火。四路兜拿茫無真見，而反遺其本，多致輕者日重，重者日危，而殃人禍人，總在不知本末耳。甚矣！醫之貴神，神奚遠哉？此提綱挈領醫之最上乘法也，讀者當三複焉。</p>

<h2>探病法</h2>
<p>張景岳曰，探病之法不可不知，如當局臨症，或虛實有難明，寒熱有難辨，病在疑似之間，補瀉之意未定者，即當先用此法，若疑其為虛，意欲用補而未決，則以輕淺消導之劑，純用數味先以探之，消而不投即知為真虛矣。疑其為實意欲攻而未決，則以甘溫純補之劑，輕用數味，先以探之，補而覺滯即知有實邪矣。假寒者略溫之，必見躁煩。假熱者略寒之，必加嘔惡，探得其情意自定矣。經曰：「有者求之，無者求之。」又曰：「假者反之。」此之謂也。但用探之法，極宜精簡，不可雜亂，精簡則真偽立辨，雜亂則是非難憑，此疑似中之活法，必不得已而用之可也。</p>

<h2>用大寒大熱藥要有憑據不可意度</h2>
<p>凡大寒大熱之藥，必要有憑有據而後可用，切不可以意度之。藥所以補偏而救弊也。寒藥所以治熱，熱藥所以治寒，中病即止，勿過用也。若夫大苦大寒與大燥大熱之藥、尤宜斟酌慎用。如熱病必要有熱症熱脈，寒病必要有寒症，寒脈，內外相符，確鑿可據，而後始可用以治之，自無不瘳。若無確憑確據，而但以意揣度之，則害人不淺。以大寒大熱之藥，其力最悍極易壞事，苟非脈與症對，皆有確憑確據，則斷不可輕用，此醫中之最要緊語也。獨怪夫世之不讀書者，每執一已偏見，私心自用，或好寒涼，知柏硝黃任用；或好燥熱，桂附硫黃妄投，造次孟浪，欲其不殺人也難矣，故再三致戒焉。</p>

<h2>用藥貴勇敢</h2>
<p>凡用藥固貴謹慎，尤貴果斷。蓋有是病則有是藥，又不可過於畏葸而不敢用也。如果病氣皆實則凡三承氣等湯，皆可用以下之。所謂實者瀉之是也。如果症屬虛寒則凡八味理中等藥，皆可用以治之。所謂寒者熱之是也。所謂有病則病受之，何虞之有？此又貴於見真識定，勇敢果決，不必畏首尾，遲疑自誤也。</p>

<h2>瀉火只去七分</h2>
<p>丹溪曰，氣有餘便是火，火即氣也，然用寒瀉火即瀉氣，故火只寫瀉至七分止，餘三分留下聽其自去，若務瀉至十分，只恐火盡氣盡，人無生理矣，此不可不慎也。張景岳因丹溪此語有弊，故即以「氣不足便是寒」救之。</p>

<h2>金石春房之藥斷不可服</h2>
<p>今人不知醫道，誤信一切方士之言，純用陽藥，縱欲貪淫藉此以為長夜之藥，抑或無子，藉此以為壯陽之具，皆非也。不知一人之身全賴腎水滋養，猶草木賴雨露而後潤澤也。金石春房之藥全是一片烈火，火焚有不燎原者乎？燒乾腎水，百病叢生，其不死也幾希！況近世之人稟賦極薄，元氣極虧，先天腎水十有九虛，再加慾火焚身，腎水更涸，是自求速死也，又何怪焉，故特戒之。</p>

<h2>醫貴虛心</h2>
<p>凡醫見證不真，則不可妄下藥，凡醫病不效即自己告退，另延名醫，切不可遷延人病體，或同醫一病有高我者，即就正之，亦謙受益之道也。即低我者，我藥不能愈病，而彼能醫愈者，即將彼方細思其理，即得治病之道矣。蓋一人之知識有限，原貴乎集思廣益，切不可因人而廢言也，更不可生猜忌心，若遇庸醫斷不可與共事，恐致招怨。</p>

<h2>醫知進退</h2>
<p>凡醫唯深信我者，方可任其責，否則朝陳暮李，早更夕改，彼既信我不專，我即引以自退，恐他人敗事，咎歸於我，悔之晚矣。此所以當見機也。昔張景岳《十問詩》而終結之曰：「見定雖然事不難，也須明哲毋招怨。」有味哉，有味哉。</p>

<h2>丸藥不可概以治病</h2>
<p>凡服丸藥，唯先將湯劑之方服有成效，然後制之，庶可無虞。若服湯劑未效，不可驟服丸散，以病萬變百出，原是不一，加減出入，貴乎因時制宜，若製成丸藥，則諸藥合入，難於撿出，恐一味不投反致誤事，所以治小兒者，往往因此害事，不如用湯劑者之為得也。</p>

<h2>方貴簡淨</h2>
<p>方貴簡淨，不可夾雜，如張長沙地黃湯補陰，李東垣補中益氣湯補陽是也。陰主降故補陰之藥多降，如地黃湯之用茯苓澤瀉是也。陽主升故補陽之藥多升，如補中益氣之用升柴是也。此所謂一律也。又陽分之藥輕清上浮，故補中益氣湯之分兩輕，陰分之藥重濁下降，故地黃湯之分兩重，此皆有深意存焉。凡察醫之高下，首必問其所看之書，何家，何部。次即視其所開之方，何輕，何重，何加，何減，而醫之伎倆無遺遁矣。余見近世庸醫每開一古方頗是，而其中加一二味，即屬夾雜不通，以不明一律之故也，甚至攔江綱無所不有，更為可笑。蓋由平日未細心講究，故動輒見笑大方如此。</p>

<h2>藥察氣味</h2>
<p>凡藥下咽必有氣味，氣味與人相投，服之安然即對症藥也。否即參茸至貴之藥，一不相投，即知中止，切不可強然。亦有初服不相安及至三四帖後如水融乳者，此又在認證之真確耳。余昔在興安治一腎氣上逆症人，多誤認為怔忡，十三年療治不愈。余診脈後，開以八仙長壽方，加砂仁、沉香納氣歸腎，服一帖不相安，余限以連服四十貼自愈，後果然。此在認症之確耳。</p>

<h2>治病有難易遲速</h2>
<p>治外感暴病不難，而治內傷則最難也，以外感暴病得之旦夕，即可旦夕去之，如時文中之單句題，人人可以為之者也。若內傷虛勞，積之有素，非一朝一夕而來，亦非可以一朝一夕而去。如時文中之性理題，最精最細，非平日博極群書，細意體察及精於脈理者，斷不能也。彼時醫庸醫烏足以知之，然又非信任得專，從容調治，不能為之力也。古人醫案中有服至一二百帖而後愈者，又有治至三五年而後愈者，此類是也。今人好稱手到病除，不知一二貼即愈者，此惟輕病暴病則可耳，若內傷與重病豈可以此言哉，故一概欲圖速效者，不可與言醫。</p>
<p>《內經云》：「正者正治，反者從治。」此治病之大要。然其中又有不正不反，寒中有熱，熱中有寒，虛中有實，實中有虛，陰陽夾雜，虛實交互，此種病症顧此礙彼，最為掣肘難治。庸醫遇之束手無策，紛紛亂治，鮮有不為所誤者。不知病有夾雜，藥無夾雜，或此先彼後，或彼緩此急，或斡旋兼頭，或求本奪總，因時制宜，活法在人耳，今天下庸醫不惟不知此，且正寒正熱彼亦不知，吾常見其有大熱大實之症，彼亦用溫補，大寒大虛之症彼亦用攻伐者矣，不知凡幾，曷勝浩嘆！</p>

<h2>醫有理意</h2>
<p>古人云，醫者理也，理在而法即在，故活病莫不有一定之規矩準繩，孟子所謂規矩方圓之至是也。古人又曰，醫者意也，神而明之，存乎其人。孟子所謂能與人規矩，不能與人巧是也。理與意二者並重，皆不可偏廢者也。然今天下死於法者十之三，死於意者十之七，何也？蓋死於法者，不過膠柱鼓瑟，固執不通之人耳，然尚有所本，不為無稽之談。若死於意者，則自作聰明，無知妄為，皆無本之談也，其害人尤甚，故二者之失，與其失於意也，毋寧失之法。</p>

<h2>醫貴天資學力</h2>
<p>醫貴學力，尤貴天資，四字缺一不可。如規矩準繩，此醫中之法也，然法之中，書能載之；法之外，書不能載之也。如某病用某藥治，此書所能載者也。若某病或變某症，當用何藥，此書所不能備載者也。此貴人神明變化臨時斟酌可耳，然非平日博極群書，多見多聞，心領神會，其孰能與於此？</p>

<h2>治有層次法律</h2>
<p>治病有層次法律，最所當講，切不可造次孟浪，雜亂無章。蓋凡一病，有一病之陰陽虛實，一病有一病之起止傳變，一線到底，絲毫不錯者也，依法治之，自無不瘳。如外感風寒，先用發表，次用和解，終用補劑收功。內傷飲食，先用消導，次用清補兼施，終用全補收功是也。如泄瀉因火，必先瀉火；如泄瀉因水，必先利水，瀉因氣滯，必先行氣，皆斷不可驟用塞藥是也。如遇虛損用補，當分陽虛、陰虛，陽虛用補只有溫補、熱補二法。若陰虛用樸則不同，蓋陰虛恆有火，或先用甘寒甘涼之類清之，次用甘平補之，然後用溫補以收其功。而熱補則非所宜，苦寒則大不可，此一定不易之法也。王節齋曰，凡酒色過度損傷肺腎真陰者，不可過服參耆，服多者死，蓋恐陽旺而陰消也。自此說行，而世之治陰虛咳嗽者，視參耆如砒鴆，以知柏為靈丹。遂使患此症者百無一生，良可悲也。蓋病起房勞，真陰虧損，陰虛火上，故咳當先以六味丸之類，補其真陰，使水升火降，然後以參耆救肺之品補腎之母，使金水相生，則病易愈矣。世之用寒涼者固不足齒，間有知用參春者，不知先壯水以制火，遽投參耆以補陽，反使陽火旺，而金益受傷，此不知先後之法者也。又如急則治標，緩則治本，亦是一法，此皆層次先後法也。諸如此類更難僕數，舉一三反可也。若法律則喻嘉言《醫門法律》最詳，庸醫平日不讀此書，不窮此理，只記一二湯頭歌括，以應萬變不窮之病，是以認證不清，治病茫無頭緒，一方不效又易一方，竟有早用大寒、午用大熱、朝用大攻，暮用大補，前後冰炭自相矛盾者，皆由於胸無定見，不知層次法律之故耳。</p>

<h2>揀藥宜用戥稱</h2>
<p>凡揀藥必要照分兩用戥稱，定不可任意手撮。蓋藥有分兩輕重之不同，必須戥稱方能合宜不錯，若手撮未免多寡不勻，殊失古人制方之意矣。今人揀藥動輒手撮，此或遇暴病，強人猶可，若弱人重症，豈可如此而無害哉！余昔病陰虛一症，而又偶加一陽虛腹痛之症，如此陰陽夾雜，上盛下虛最為難治，時於補陰藥中略加補陽之藥巴戟五分，服之其痛自息，然去之，則痛即至，余欲重用之，將巴戟加至一錢，腹雖不痛，則頭又痛不堪，蓋陽分藥一重，則助火上升，而頭疼也，此可知醫病如持衡，輕重之間，真有絲毫不可苟者。夫如是對症之藥，多數分尚不相安，則凡藥之分兩其可輕易高下其手乎？此古人所以謂用藥用至分數，必有至理，此種工夫，細而又細者矣，彼粗心人何曾領此？</p>

<h2>醫當論其平日時醫不可為訓</h2>
<p>醫之是否，固以愈病為憑，然亦不可驟以一病之愈，遂決其生平，定其低昂也。蓋世固有庸醫而能醫活人者，亦有名醫而反醫死人者，此不可一概論也，何也？一人病重或先為庸醫所誤及延名醫，至則病入膏肓，不可救藥，而名醫迫於人情世故，不得不開一二方，以周旋之，詎服之則斃，無知者遂歸咎於名醫者有之。或因主人信認不專，朝王暮李同治一病，為他人醫壞，主人不知，聽信讒言，歸咎名醫者亦有之，此名醫之受謗也。又一人暴病或時症等類，眾醫罔效及庸醫至開一方，適合其病，一投即愈，眾即奉之如神明，而不知彼適撞遇之耳，及叩其病之所以好，則彼不知也，再叩其胸之所學則空空如也，不知者群相延請，轉盼即為所誤者不少。故庸醫醫好人，而不知病之所以好，醫死人，而不知病之所以死者，比比是也。然或有因一病之愈，或遇當道，或遇富貴之家，群相推引，其道大行，因而致富者有之，此又時醫行運而得名也，此斷不可為訓者也。</p>

<h2>張景岳論時醫</h2>
<p>時醫治病，但知察標，不知察本，且常以標本藉口，曰，急則治標，緩則治本，是豈知《內經》必求其本之意，故但見其所急在病，而全不知其急在命，此其孰可緩也，孰當急也，孰為今日之當急，孰為明日之更當急也。緩急既不知，則每致彼此誤認，尚何標本為言乎！</p>
<p>中風症悉由內傷，本無外感，既無外感必不可散，若用治風等藥，則輕者必重，重者必速死。</p>
<p>傷寒關係全在虛實二字，實者易治，虛者難醫，以其元氣本虛，故邪不易解，若治挾虛傷寒不知托散，而但知攻邪，愈攻則愈虛，則無有不死。若甚虛者，即微補且無益，而但以治標為主者死。</p>
<p>傷寒陽經與陽症不同，陽經者邪在表也，陽症者熱在裡也，若內無實熱脈候，而以陽經作陽症，妄用寒涼治其火，因致外內合邪而不可解者必死。</p>
<p>痢疾之作，惟脾腎薄弱之人極易犯之，天因熱貪涼致傷藏氣，此人事之病，非天時之病也。今之治痢者，止知治天時之熱，不知治人事之寒何也？矧痢症多在秋深，斯時也，炎暑既消，固不可直言熱毒，秋涼日至，又何堪妄用寒涼？凡若此者，既不知人事，又不知天時，失之遠矣，害莫甚焉，當因予言而熟思之。</p>
<p>小兒血氣未充，亦如苗萼之柔嫩，一或傷殘無不凋謝，故平時最宜培植，不可妄行消導。其或果有食滯脹痛，則宜暫消；果有風寒發熱，則宜暫散；果有實熱痰火，則宜暫清，此不得不治其標也，舍此之外，如無暴急標病，而時見青黃瘦羸或腹膨微熱，溏瀉困倦等症，則悉由脾腎不足，血氣薄弱而然，而時醫見此，無非曰食積痰火，而但知消導，尤尚清涼，日消日剝，則元氣日損，再逢他疾，則無能支矣。此幼科時俗之大病，有不可不察者也。</p>
<p>小兒痘疹發熱，此其正候，蓋不發熱，則毒不能透，凡其蒸熱之力，即元氣之力，故自起至化，自收至靨，無不賴此熱力為之主，是誠痘疹之用神，必不可少，亦不必疑者也。惟是熱甚而毒甚者，則不得不清火以解其毒，然必有內熱真火脈症，方可治以清涼。此不過數十中之一二耳，如無內熱而但有外熱，此是痘家正候，必不可攻熱，以拔元氣之力，以傷脾腎之源。奈近代痘科，全不知此，但見發熱，則無論虛實，開口止知解毒，動手止知寒涼，多致傷脾而飲食日減，及靨時泄瀉而斃者，皆其類也。此誤最多，不可不察。</p>
<p>痘瘡不起，如毒盛而不可起者，此是不救之症，不必治也。若別無危症而痘不起者，總由元氣無力，但培氣血則無有不起。近見痘科凡逢此症，則多用毒藥，如桑（僵）蠶、穿山甲之類逼而出之，見者以為奇效，而不知起發非由根本，元氣為毒所殘，發泄太過，內必匱竭，以此誤人，所當切省。</p>
<p>婦人經脈滯逆，或過期不至，總由衝任不足而然，若不培養血氣，而止知通經逐瘀，則血以日涸，而崩漏血枯等症無所不至矣。</p>
<p>凡情欲致傷，多為吐血、失血，及或時發熱，此真陰受傷之病，若但知治火，而不知治陰，則陰日消亡，而勞瘵反成矣。</p>
<p>痰證必有所因，是痰本不能生病，而皆因病生痰也，若止知治痰，而不知所以生痰，則痰必愈甚，未有可消而去者也。</p>
<p>膨滿總由脾胃，脾胃雖虛未必即脹，若但知消導，則中氣益虛，而脹必日甚矣。</p>
<p>氣滯隔塞，總屬脾虛不運，故為留滯，若不養脾而但知破氣，則氣道日虧，而漸成噎膈等症。</p>
<p>小水短赤，惟勞倦氣虛及陰虛之人多有之，若以此類通作火治，而專用寒涼則變病有不可測矣。</p>
<p>脈虛證熱，本非真火，若作熱治而肆用寒涼，則輕者必重，重者必死。</p>
<p>病有緩急，效有遲速，若以遲病而求速效，則未免易醫，易醫多，則高明本少，庸淺極多，少不勝多，事必敗矣。</p>
<p>任醫須擇賢者，而於危急之際，尤不可苟。若彼宵小之輩，惟妄炫己長，好翻人案，不幸遇之，多致淆惑是非，生命所繫不淺。</p>
<p>病人善服藥者，聞其氣嘗其味，便可覺宜否之憂劣，固無待入腹而始知也。獨憫乎無識無知者，但知見藥服藥，而不知藥之為藥；但知見醫求醫，而不知醫之為醫，亦可悲矣！</p>

<h2>時醫嘆</h2>
<p>古來儒醫多名士，長沙太守真絕伎，傷寒金匱玉函方，二書萬國之寶壟。河間東垣及丹溪，三家鼎立吾愛李。子和節庵瀕湖輩，四家之後又崛起。薈萃古今集大成，姑蘇更有一薛已。我朝景岳出浙東。全書類經誰可比。上汪訒庵下石頑，江右嘉言左中梓。諸公落落大方家，誰不讀書與明理。上窮靈素下難經，博極群書兼眾美。蓋世本領根柢深，腹笥便便羅經史。下筆千言如有神，書成僉貴洛陽紙。所以指下生陽春，一匕下咽即起死。不料醫術至今日，家弦戶誦濫如彼。一書不讀任意為，其中更多白丁子。縱有儒者強觀書，數卷便謂道在是。於戲！陰陽虛實了不知，草菅人命可悲矣！君莫齜，君不見招牌高掛長安市，牧豬奴[兒]亦為此。</p>

<h2>附制熟地法</h2>
<p>地黃生則寒，干則涼，熟則溫。凡真陰虧損，溫補下焦精血，非重用熟地不能。故熟地為補先天第一妙藥，然非如法制造則不能易於奏功，此不可不講也。</p>
<p>地黃揀選懷慶大元支，丁頭鼠尾，全未做作者佳，若做作縮支，雖大無益。江浙生者，南方陽氣力微，北方生者純陰力大，河南雖屬北地，然有南陽懷慶之別。懷慶者質肥、色黑、心帶微黃如菊花色為最。南陽者心帶赤色，無菊花則減耳。世人制法不一，有純用酒蒸不用水者，有畏其酒性純陽，恐亂真陰不用，純以水煮者。又有以地黃性滯，用薑汁拌蒸者，皆非也。不知地黃性屬寒涼，非行酒與火與日則不能溫。然純用酒而不先用水以煮之，則硬而不爛。純用水而不復用酒以配之，則淡而無味。至於用薑汁拌蒸更為不通。蓋地黃性降用以補下焦真陰。若姜性上逆只有上中二焦，斷不能入下部，以下焦補陰之藥而雜以上焦純陽之品，得毋猶欲其入而閉之門乎！此之謂不知類，此之謂夾雜。如畏其滯則用砂仁末拌之最妙，蓋砂仁利氣，且能引入丹田納氣歸腎，此斡旋最妙之法也。其制列左：</p>
<p>大元支或三五斤，初用清河水洗淨，置大砂鍋內即用清河水煮。蓋地黃必先用水煮，其心方爛，性忌鐵器，故用砂鍋。其砂鍋須用煮飯菜舊鍋為妙，舊則漏孔填塞，無有浸溢，新則滲漏失耗甚多，凡添水須參滾開水，煮至中心糜爛為度，竹刀切碎，入以醇酒，每斤即以斤酒配之，其酒或酒娘、老酒、紹興酒、衡酒皆佳，斷不可用火酒，以老酒紹興等項性味甘平，故佳。火酒性烈，有乖補陰之義，故不用耳。煮至半乾時連鍋取出，浮滾水上頓干，庶免黏鍋焦枯之患，卒拌以砂仁細末，每斤只用一兩，夜則火蒸，朝則日曬，如無日即用火烘乾亦可，以九次為度，以響干為妙，視之如京墨色，則盡善矣。磁壇貯之聽用。</p>

<h2>附新定補陰龜麋二仙膏</h2>
<p>大肥壯麋角十斤，減半亦可。（若減，下皆減。）乾枯不光潤者不用，總以有刀斧痕者為最，自解者次之，然自解者多，亦可用。</p>
<p>北五省多鹿而少麋，雲貴川廣所賣者皆麋角，非鹿角也，深山大澤之中此物最多，即山拔野牛是也。吾全藥店中購來，大船裝至江西湖廣，充鹿角賣，皆此物也。按《本草綱目》鹿麋二角，毫無分別，惟麋頭有四眼，不全此，唯生殺帶額骨有刀斧痕者方見，自解者無。然陰虛人服之最妙，餘一生病陰虛症，不能服鹿膠，服則頭疼、眼痛諸火叢生，唯此相安無事，故知之最真而辨之甚悉。因世醫只知有鹿角可用，而不知麋角可用，故表之。</p>
<p>大片淨龜板五斤。（殼不用）</p>
<p>大肥壯直皮原枝［地黃〕五斤。</p>
<p>懷慶有菊花黃心者為最，若紅心者平平，至蹴支做作者下矣，惟生成直皮木支為妙。</p>
<p>白當歸三斤。</p>
<p>大枝肥壯白玉竹五斤（即葳蕤）。</p>
<p>此於陽虛人用代參、耆，雖非所長，然陰虛人氣虛用以補氣最妙。本草謂其溫潤、甘平、不寒不燥是也。蓋陰虛人補氣最畏燥藥，得此溫潤不燥非對症之聖藥乎。惜諸書只云補氣並未云補陰，亦缺恨也。況今人病陽虛者少，病陰虛者十有八九，此余所親驗也，故表之。</p>
<p>再今日參價甚昂，人所難用，凡遇無力之家，此物最為相安，然非重用不能見功。余於弱症不論陰虛陽虛，每一貼，輕者一兩，重者二三兩，習以為常，無不奏效。此真價廉功倍者也。世醫不知，只用二三錢，病重藥輕，如何得效？但藥市中所炙者，制不得法多，則膠黏膩滯，亦所不免，唯買生玉竹自制，以淡蜜水不膠則佳，亦一法也，平日熬膏良。</p>
<p>余昔在蜀，治一廣文垂危待斃，奄奄一息，余用人參救之，渠家以無力稱，只得購玉竹五斤，單用此味大鍋煎熬，自早至晚服畢即蘇。亦可見此物之有功不小，故再表之。</p>
<p>炙甘草一斤，若遇脾胃有火，口齒疼痛者去之。</p>
<p>此足少陰病也。龜為介蟲之長，得陰氣最全。麋遇冬至解角，稟純陰之性，而又性溫不寒涼最妙之品，且不兩月長至數斤，十斤不等，骨之速生無過此者，故能峻補氣血。兩者皆用純陰至靜之品，以補陰虛精虧之症，皆用血肉氣血以補氣血，所謂補之以其類是也。合之熟地大補腎水，當歸大補肝血，玉竹、炙草皆補脾肺，陰陽交濟先後兩天俱補，壯筋骨長肌肉，無窮功效，難以殫述，誠補劑中之第一良方也，久服可益壽，豈第卻疾己哉。</p>
<p>以湯丸等劑，草木之功，鳥能及血肉之萬一哉，此余之歷驗者也。若陰虛無火者加大紅枸杞一二斤亦妙。若有火不宜，此膏陰虛人服之固佳，即陽虛人服之亦無不妙。唯鹿角則唯陽虛人可服，而陰虛人斷不可服，不可不慎。如遇有火則去枸杞加麥冬最妙，此皆權變之法，醫貴圓通此之謂也。余與老母皆一生多病之極，全賴此膏全活，今皆壽而康，故特表而出之。</p>

<h2>附熬膏法</h2>
<p>先用麋角鋸截二三寸長，劈開兩片與龜板洗淨，用河中長流水同浸七日，或十日、半月更妙。但龜板浸後，更要將皮肉一切刮去，淨盡純白，庶免夏天變味腥臭，糜角亦然。二物用大鍋熬，凡添水皆須用開水，不用冷水為妙。熬一日一夜，取出濾頭次汁，再熬一日，取出濾二次汁，遇晴其汁用水冰，以免變味。總以骨角爛透為度，余藥另用好鍋熬成濃汁，去渣，和入再用大銅鍋文火細熬。</p>
<p>其和熬之時，須用小火緩煎，鍋邊時刻留神，常用桑枝攪拂，不可使汁黏鍋，黏則焦枯，味苦不甘矣。更看火色以滴水略成珠不散即止，寧嫩毋老，取出貯大缽內，水浸三日去火毒為度，蓋嫩則可以用重湯頓，老則難為力矣。但此膏易於生黴，須時常照看，一起黴點即用水蒸，則不壞矣。</p>
<p>每清晨用開水調服，輕者五錢，重者一兩或用米飲調服亦可，能飲者用醇酒調服亦妙，但調時須加砂仁細末五分和服，以免膩滯，亦一法也。若陰虛有火用生地、麥冬水調服。有脾火者加石斛皆可，此在人神而明之耳。</p>
<p>熬時惟立冬後第一，次之秋秒春初亦可，但逢下雨天更妙。若遇夏秋天氣斷乎不可，熱氣熏蒸，味必壞矣。</p>
<p>附古方龜鹿二仙膏（舊云，治瘦弱少氣、夢遺泄精、目視不明、精極之症。此陽分藥多，陽虛者宜之。）</p>
<p>鹿角（陽）十斤，龜板（陰）五斤，人參（陽）一斤，枸杞（陰中之陽）二斤。</p>
<p>此補陽虛之妙方也，有陰不可無陽，故以此配之，但陽根於陰，加地黃更妙。</p>
<p>熬法與上同。</p>
