<header data-type="book">
<h1>傷寒鈐法</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>馬宗素</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1327">公元1327年</data></dd></div>
</dl>
</header>

<h1>五運歌</h1>
<p>甲己化土乙庚金，丁壬木運盡成林，丙辛水運分清濁，戊癸南方火焰清。</p>
<p>注曰：此言五運之化也。</p>

<h1>納甲歌</h1>
<p>甲己還加甲，乙庚丙作初，丙辛生戊子，丁壬庚子居，戊癸生壬子，逢龍是化途。</p>
<p>注曰：且如甲己順數到辰，見戊辰，是為化火。乙庚到辰，見庚辰，是為化金也。其餘仿此而推之。</p>

<h1>六氣歌</h1>
<p>子午少陰君火天，丑未太陰濕上連，寅申少陽相火位，卯酉陽明燥金邊，辰戌太陽寒水是，巳亥厥陰風木全。</p>
<p>注曰：此六氣之主也。子午屬火，主曰心君。丑未屬土，脾主太陽。少陽膽火，乃是寅申。陽明卯酉，肺燥之金。太陽辰戌，寒水是臨。巳為風木，號曰厥陰。識得鈐法，勝萬兩金。</p>

<h1>主運歌</h1>
<p>初運逐年木主先，二君三相火排連，四季是土常為主，五運金宮六水天。</p>

<h1>客運歌</h1>
<p>逐年支於是客鄉，上臨實數下臨方，初終六氣輪流數，客主盛衰須見傷。</p>

<h1>十二支化歌</h1>
<p>寅巳化木，卯醜化土，子辰水國，亥戌申午，是為火宮，未酉化金，是曰氣六。</p>

<h1>精華錄云</h1>
<p>寅木卯土辰是水，巳木午火未屬金，申火酉金戌是火，子水醜土合其真。</p>
<p>注曰：義見《陰陽燭神經》。</p>
<p>五運帝旺，甲己未中，乙庚酉上，子壬丙辛，丁壬卯地，戊癸午宮。</p>
<p>注曰：五運者，金木水火土是也。且如甲己化土，土隨火生於卯，旺於未也。乙庚化金，金生巳土，旺於酉是也。</p>

<h1>症分南北</h1>
<p>甲己年南北政有甲乙丙等干。</p>

<h1>鈐法詩云</h1>
<p>甲己之年面向南，乙庚戊年正北方，丙辛壬癸同歸北，此是司天之陰陽。</p>

<h1>圖見精華指要</h1>
<p>精華運氣自古傳，等閒誰識就中玄，干璇天上陰陽柄，擅執人間生死權。</p>
<p>但向袖中分汗瘥，何須脈理辨鉤玄，醫門若得如斯法，萬兩黃金也不傳。</p>
<p>〔子〕少陰地字號　〔子〕少陰人字號　〔子〕少陰地字號　〔子〕少陰天字號　〔醜〕太陰母字號　〔醜〕太陰母字一號　〔醜〕太陰母字號　〔醜〕太陰母字一號　〔寅〕少陽巳字號　〔寅〕少陽巳字號　〔寅〕少陽巳字號　〔寅〕少陽巳字號　〔卯〕陽明勞復號　〔卯〕陽明金字號　〔卯〕陽明木字號　〔卯〕陽明水字號　〔辰〕中太陽祿字號　〔辰〕中太陽貪字號　〔辰〕中太陽祿字號　〔辰〕下太陽離字號　〔甲巳〕厥陰坤字號　〔巳〕厥陰坤字號　〔酉巳〕厥陰坤字號　〔巳〕厥陰乾字號　〔午〕少陰地字號　〔午〕少陰人字號　〔午〕少陰地字號　〔午〕少陰天字號　〔未〕太陰母字二號　〔未〕太陰母字二號　〔未〕太陰母字二號　〔未〕太陰母字號　〔申〕少陽巳字號　〔申〕少陽巳字號　〔申〕少陽巳字號　〔申〕少陽巳字號　〔酉〕陽明勞復號　〔酉〕陽明金字號　〔酉〕陽明木字號　〔酉〕陽明水字號　〔戌〕中太陽祿字號　〔戌〕中太陽貪字號　〔戌〕中太陽文字號　〔戌〕下太陽離字號　〔亥〕厥陰坤字號　〔亥〕厥陰坤字號　〔亥〕厥陰坤字號　〔亥〕厥陰乾字號　〔子〕少陰地字號　〔子〕少陰人字號　〔子〕少陰地字號　〔子〕少陰人字號　〔醜〕太陰母字三號　〔醜〕太陰母字二號　〔醜〕太陰母字三號　〔醜〕太陰母字一號　〔寅〕少陽巳字號　〔寅〕少陽巳字號　〔寅〕少陽巳字號　〔寅〕少陽巳字號　〔卯〕陽明少字號　〔卯〕陽明土字號　〔卯〕陽明土字號　〔卯〕陽明火字號　〔辰〕中太陽廉字暍症號　〔辰〕上太陽月字號　〔辰〕中太陽武字號　〔辰〕上太陽日字號　〔巳〕厥陰乾字號　〔巳〕厥陰坤字號　〔巳〕厥陽乾字號　〔巳〕厥陰乾字號　〔午〕少陰地字號　〔午巳〕少陰人字號　〔午亥〕少陰地字號　〔午辰〕少陰人字號　〔未〕太陰母字號　〔未〕太陰母字二號　〔未〕太陰母字三號　〔未〕太陰母字二號　〔申〕少陽巳字號　〔申〕少陽巳字號　〔申〕少陽巳字號　〔申〕少陽巳字號　〔酉〕陽明火字號　〔酉〕陽明土字號　〔酉〕陽明上字號　〔酉〕陽明火字號　〔戌〕中太陽暍症廉字號　〔戌〕上太陽月字號　〔戌〕中太陽武字號　〔戌〕上太陽巳字號　〔亥〕厥陰坤字號　〔亥〕厥陰坤字號　〔亥〕厥陰乾字號　〔亥〕厥陰乾字號　〔子〕少陰人字號　〔子〕少陰天字號　〔子〕少陰天字號　〔子〕少陰天字號　〔醜〕太陰母字二號　〔醜〕太陰母字一號　〔醜〕太陰母字三號　〔醜〕太陰母字一號　〔寅〕少陽巳字號　〔寅〕少陽巳字號　〔寅〕少陽巳字號　〔寅〕少陽巳字號　〔卯〕陽明水字號　〔卯〕陽明火字號　〔卯〕陽明金字號　〔卯〕陽明霍亂　〔辰〕中太陽貪字號　〔辰〕下太陽日字痓症　〔辰〕中太陽破字號　〔辰〕下太陽兌字號　〔巳〕厥陰坤字號　〔巳〕厥陰乾字號　〔巳〕厥陰坤字號　〔巳〕厥陰乾字號　〔午未〕少陰人字號　〔午〕少陰人字號　〔午子〕少陰天字號　〔午〕少陰天字號　〔未〕太陰母字二號　〔未〕太陰母字二號　〔未〕太陰母字三號　〔未〕太陰母字一號　〔申〕少陽巳字號　〔申〕少陽巳字號　〔申〕少陽巳字號　〔申〕少陽巳字號　〔酉〕陽明水字號　〔酉〕陽明火字號　〔酉〕陽明金字號　〔酉〕陽明霍亂　〔戌〕中太陽巨字號　〔戌〕上太陽日字濕症　〔戌〕下太陽震字號　〔戌〕下太陽離字號　〔亥〕厥陰坤字號　〔亥〕厥陰乾字號　〔亥〕厥陰乾字號　〔亥〕厥陰乾字號</p>

<h1>歸號用藥歌</h1>
<p>若論某病某號某藥上太陽症辰日巳月</p>
<p>注曰：上太陽十六症，用日月二字為號也。辰宮見辰戌為日字號，管其症有十。巳上見辰戌為月字號，管其症有六。</p>
<p>假如戊申生人，乙巳日得病，巳屬陰支，前進五辰到酉，卻將戊甲二字，順數到巳，見丙辰，即上太陽，用月字號下第三症，白虎湯內加人參主之。</p>
<p>假如壬子生人，丙辰日得病，辰屬陽支，進三辰到午，卻將壬子二字順行到辰，見壬戌，即上太陽，日字號下第九症，桂枝湯加附子除芍藥主之。</p>

<h1>上太陽症指掌圖日月號十六症</h1>

<h1>日字號十症</h1>
<p>甲　陰浮陰弱熱虛惶，陰弱陽浮汗出洋，</p>
<p>嗇嗇惡寒翕翕熱，鼻鳴乾嘔桂枝湯。</p>
<p>乙　太陽頭痛熱而隆，汗出之時又惡風，</p>
<p>榮氣猶虛於衛氣，桂枝湯下可宜攻。</p>
<p>丙　太陽為病項背強，汗出滋滋反惡寒，</p>
<p>桂枝葛根湯可主，麻黃不餌豈良方。</p>
<p>丁　太陽頭痛病當攻，下後其人氣上衝，</p>
<p>可與桂枝湯療治，更宜消息樂而通。</p>
<p>戊　太陽三日已發汗，若吐若下若溫針，</p>
<p>不解相將成壞症，桂枝不可毋思尋。</p>
<p>己　桂枝本為解肌藥，酒客不喜桂枝湯，</p>
<p>喘家卻加樸香子，吐者服之膿血傷。</p>
<p>庚　發汗惡風漏不幹，小便秘澀屈伸難，</p>
<p>桂枝附子湯煎療，陽復經溫病即安。</p>
<p>辛　下之脈促滿胸間，煎與桂枝去芍餐。</p>
<p>症在太陽當解表，邪因散去始能痊。</p>
<p>壬　太陽脈促客邪干，下早須知少惡寒，</p>
<p>桂枝湯內除芍藥，卻加附子病當寬。</p>
<p>癸　寒熱如虛見脈微，惡寒吐汗下皆非。</p>
<p>無汗有熱渾身痛，桂枝各半正相宜。</p>
<p>甲　先服桂枝煩不解，風池風府刺而安。</p>
<p>太陽經病風邪泄，再與桂枝立見安。</p>
<p>乙　桂枝已汗脈浮洪，不解如前形似瘧，</p>
<p>桂枝湯二一麻黃，解散寒邪良不錯。</p>
<p>丙　桂枝汗沒再尋思，大渴煩時病未除，</p>
<p>表熱寒邪洪大脈，人參白虎病加祛。</p>
<p>丁　熱多寒少脈弱微，發熱惡寒應有之，</p>
<p>此症先陽何可汗，桂枝越婢一湯宜。</p>
<p>戊　下之頭項仍猶痛，發熱便難汗又無，</p>
<p>桂枝去桂加苓朮，小便若利病當除。</p>
<p>己　脈浮自汗小便多，筋急惡寒厥奈何，</p>
<p>煩躁咽乾並嘔逆，乾薑甘草劑湯和。</p>
<p>庚　厥愈足溫伸足脛，芍藥甘草可調和。</p>
<p>胃氣不和何以治，承氣調胃不為訛。</p>
<p>辛　里汗表熱浮遲脈，發汗燒針同大過，</p>
<p>因而下利清穀者，四逆之功唱凱歌。</p>

<h1>中太陽症歌六十六症</h1>
<p>中太陽症，貪午巨未，祿申文酉，廉居戌地，武亥破子，破只六位。</p>
<p>注曰：中太陽六十六症，以七星為號也。其法從午至子，每星管十症，獨破軍六症。</p>
<p>假如戊子生人，壬戌日得病，戌為火，支進三辰到子，卻將本命戊子順行，到戌見戊戌，即中太陽膀胱經，受症廉子號第五症，四逆湯主之。其餘一例推之。</p>
<p>〔申〕祿〔酉〕文〔戌〕廉〔亥〕武</p>
<p>〔未〕巨　〔子〕破六</p>
<p>〔午〕貪　〔醜〕</p>
<p>〔巳〕　〔辰〕　〔卯〕　〔寅〕</p>
<p>中太陽指掌圖，六十六症，貪字為號，詩病症治，俱在運氣內看。</p>

<h1>下太陽歌三十九症</h1>
<p>下太陽症，震子離醜，兌寅坎卯，四號實有。</p>
<p>注曰：下太陽三十九症，以四卦為號，卯上屬坎號，寅上屬兌號，醜上屬離號，子上屬震號。或問云：中太陽子上有破字號，如何下太陽又有震字號？答曰：子上見辰，便是中太陽破字號。管見戌字，便是下太陽震字號管也。</p>
<p>假如丙寅生人，癸丑日得病，醜屬陰支，前進五辰到巳，卻將丙寅二字，順行到司天，見甲戌即太陽，小腸經受症，離字號第一症，小柴胡湯主之。</p>

<h1>陽明症歌四十四症</h1>
<p>陽明症號，木火土金，第五屬水，從卯酉行。</p>
<p>注曰：陽明以木火土金為號，卯酉木字號，辰戌火字號，巳亥土字號，子午金子號，丑未水字號是矣。皆四十症，獨水字只有四症。又有寅申二字在外，寅為霍亂六症，申為勞復六症是也。</p>
<p>假如丁未生人，辛酉日得病，酉為陰支，進五辰到醜，順行到司天酉上，見乙卯即陽明第二症乙字號，下大承氣湯主之。其餘一例推之。</p>

<h1>少陽症歌紀字號一症寅申</h1>
<p>少陽一症，紀字為號，柴胡所主，更無別敖。</p>
<p>假令丙子日生人，丁丑日得病，醜為陰支，前進五辰到巳，卻將丙子二字，順數到醜上，見甲申，即少陽紀字號第一症也。</p>

<h1>太陰三症母字三號</h1>
<p>太陰之症，母字三號，從醜至辰，乃第一道，巳午未甲，第二症要，酉戌亥子，為三症號。</p>
<p>注曰：太陰痘有三，皆用母字為號，醜寅卯辰四處，母字第三管也。</p>
<p>假如丁亥生人，巳卯日得病，卯屬陰支，前進五辰到未，便將丁亥二字，順數到卯，見乙未，未屬太陰脾經受患，卯字上即母字號第二症也，四逆湯主之。其餘仿此推之。</p>

<h1>少陰之症天地人號歌二十三症從子至卯</h1>
<p>少陰之症，號天地人。</p>
<p>號曰天星，自辰到未，乃號曰人，申酉戌亥，地字號而論。</p>
<p>注曰：少陰二十三症，用天地人三字為號。子醜寅卯十症為天字號，辰巳午未十症為人字號，申酉戌亥三症為地字號。</p>
<p>假如甲辰生人，乙丑日得病，乙屬陰支，前進五辰到巳，卻將甲辰二字，順數到醜，見壬子，即少陰腎經受患，醜上屬天字號管，即天字號第九症，其病主上下不利，咽痛心煩，豬膚湯主之。其餘一例而推之。</p>

<h1>厥陰症歌十九症乾坤為號</h1>
<p>厥陰十九症，用乾坤二卦為號，各有所分。從巳到戌，乃號為坤，自亥到辰，乾之所因。</p>
<p>注曰：厥陰十九症，用乾坤二卦為號，每字管十症。</p>
<p>假如巳卯生人，丁未日得病，未為陰支，前進五辰到亥，卻將巳卯二字，順數到未，見丁亥，即厥陰肝經受患，坤字號第四症，白頭翁湯主之。余仿此。</p>

<h1>霍亂勞復症歌共十二症</h1>
<p>霍亂勞復，只在陽明，寅為霍亂，勞復居申。</p>
<p>注曰：霍六亂六，共十二症，俱在陽明症內管也。寅申二日受症是也。若寅日得病，便是霍亂。申日受病，便是勞復。寅上見申至未，為勞復六症。申上見醜，為霍亂六症也。</p>
<p>假如乙巳生人，戊寅日得病，寅為陽支，進三辰見辰，卻將乙巳順行到寅，見乙卯，即霍亂第二症也，理中湯主之。</p>
<p>假如乙亥生人，丙申日得病，申為陽支，進三辰到戌，卻將乙亥順行到申，見乙酉，即勞復第二症，用枳實梔子豉湯等藥主治之。</p>

<h1>痓濕暍症歌共十四症（痓五濕六暍二）</h1>
<p>痓濕與暍，卯戌兩分，卯為痓濕，戌為暍症，皆在太陽，共十四症。</p>
<p>注曰：痓五症，卯上見辰，為太陽症也。從辰至申，便是痓五症。卯上見戌，為太陽濕症也。從卯至酉，便是濕六症。暍有三症，戌上見庚辛壬三字，便是太陽暍三症也。症見庚一辛二壬三是也。</p>
<p>假如丙申生人，乙卯日得病，卯屬陰支，前進五辰到未，卻將丙申二字順數到卯，見甲辰，系是太陽痓症第一症也。其病發熱惡寒，桂枝湯主之。</p>
<p>假如丙寅生人，乙卯日得病，卯屬陰支，前進五辰到未，卻將丙寅二字，順數到卯，見甲戌，即太陰濕症第一症也，五苓散主之。余仿此。</p>
<p>假如庚午生人，戊戌日得病，戌屬火支，前進三辰到子，卻將庚午二字，順數到戌，見庚辰，即太陽暍症第七病也，白虎湯主之。</p>

<h1>論司天歌</h1>
<p>得病之日，是名司天。不拘男女，都是順遷。</p>
<p>假如正月卯日得病，就以卯上為司天，卯屬陰支，前進五辰到未，為在泉，申為左間氣，午為右間氣。申與午二字夾未為司人，申為左間氣，午為右間氣。卻又將本命干支，從左間氣司人處，數到司天上是也。余皆仿此。如遇陽支，則加三辰起例。</p>
<p>與支一同。</p>

<h1>陰陰支起數歌</h1>
<p>陽支加三，陰支加五，卻將本命，順行而數。</p>
<p>子寅辰午申戌屬陽，醜卯巳未酉亥屬陰。凡逢陽支加三辰，逢陰支加五辰。加臨之例也見前。</p>

<h1>論兩感症歌</h1>
<p>若論兩感，起例如前，仲居巳上，季孟辰遷，子不宜戌，醜破酉嫌，寅逢巳是，卯愁未纏，辰最怕午，申憂亥占，病逢兩感，決主嫣嫣。</p>
<p>注曰：寅申巳亥辰戌丑未八支起辰，子午卯酉四支日起巳。</p>
<p>精華指要詩曰：</p>
<p>腎與膀胱兩感傷，心與小腸表裡鄉，</p>
<p>胞絡三焦俱是火，肺與大腸不為良，</p>
<p>肝膽同歸兩感症，脾胃相連治應難。</p>
<p>又云：</p>
<p>四仲傳流巳上求，但逢季孟向龍游，</p>
<p>便將人命加其上，數到司天見病由。</p>
<p>其法以司天之法加臨，看是何經受患，次將得病日支，依前季孟之法，順行到病人本命支上是也。</p>
<p>假如戊子生人，庚辰日得病，辰屬陽支，前進三辰到午，卻將戊子順行到辰，見戊戌，系太陽膀胱經受患。</p>
<p>得病日辰，系是辰上起，卻將得病日辰字，從辰上順行病人本命上，見子字，子屬少陰君火，腎經受症，即腎與膀胱兩感，並子不宜戌也。</p>
<p>假如丁未生人，庚子日得病，加臨到子，見丁巳，又將得病日子字，屬仲起巳，用子字從巳行到未，見寅巳，為包絡，寅為三焦，俱是火，並日寅逢巳是也。其餘一例而推之。</p>

<h1>論天符歲會歌</h1>
<p>若論天符，先觀歲氣。運氣若同，天符難治。與運同名，故曰歲會。</p>
<p>假如甲辰日司天，甲屬土運，前進四辰見丁未，未是脾土，與運相同，故曰歲會。</p>
<p>又云：甲既是土運，辰又是土支，年月日時同得病，皆重司天，與運同名，天符是也。其餘一例推之。</p>

<h1>太乙天符論</h1>
<p>太乙天符，十人九斃。若運占方，卻非此例。</p>
<p>假如戊午得病，戊為火運，午為火氣，又是午支屬火，即名曰太乙天符，三日如逢吉運，減一半。</p>
<p>假如甲子生人，戊午日得病，進三辰見庚申，為司人，加臨到午，見戌，即太陽膀胱水。第一日受患，其日犯太乙天符，其病逆傳。第二日巳未，胃經受患，巳為土運，未為土氣，胃又屬土，其人必至此日丑未日死。何則？丑未又是土是也，余仿此，不看不加臨。</p>

<h1>交天交地歌</h1>
<p>交天交地，左右分箱。南離北坎，陽明症當。</p>
<p>詩曰：交天交地司天起，兼和司地盡關連。南症加離北加坎，陽明到處不虛言。</p>
<p>其法寅申巳亥辰戌丑未八年為交逢，子午卯酉四年為反逢，三陰為之不應，甲己為南政，乙丙丁戊庚辛壬癸為北政。</p>
<p>假如乙丑南政，司天丑未，太陰沒一辰，少陰左手寸口不應，前一辰少陽右手，交見於左，謂之交。見於左者為之交，交者死。其餘仿此。</p>

<h1>汗墓瘥法歌</h1>
<p>汗墓瘥法，先熟鈴歌。壬辰日病，木水如何。運氣合看，切勿蹉跎。</p>

<h1>三陰三陽運氣汗瘥例</h1>
<p>假如甲午日病，是手少陰經，甲為土運，午為火氣。歌云：土火乙庚疾大減，乙日不愈，庚日大愈。乙未日病，是手太陰經，乙為金運，未為金氣。歌云：金見丁辛，第三日小愈，第七日大愈。其餘一例推之。</p>
<p>又歌云：</p>
<p>金見丁辛火乙丁，丙巳木水乙巳並，戊壬上水火丙火，巳水木元來號甲丁，土水甲巳從來道，金土丁壬汗似蒸，金水甲戊相交汗，木火乙戊不瘥爭。</p>
<p>注云：寅申巳亥一四七，此是病人出汗日。子午卯酉二五八，定是病人戰汗發。辰戌丑未三六九，血汗至時應血走。</p>

<h1>汗瘥定時歌</h1>
<p>少陽寅卯辰為先，陽明申酉戌相連，太陽巳午未汗至，太陰亥子醜門邊，少陰子醜寅為伴，厥陰醜卯寅相穿。</p>

<h1>棺墓歌</h1>
<p>土為墓兮木為棺，金為屍兮仔細看，水為命兮火為氣，加臨上下要精顓。</p>
<p>假如甲午生人，丁丑日得病，丁壬化木運，木旺子卯，卻將丁丑二字，從卯上順行至病人命支上，午見庚辰，庚化金運，辰為水氣。歌曰：金水屍中有命隨。又曰金水甲戊，言交汗出甲戊二日。</p>
<p>假如戊戌生人，庚子日得病，庚化金，金旺於酉，卻將庚子二字，順行到戌命支上，見辛丑，辛化水運，醜化土，是命墓相形。其餘仿此。</p>

<h1>又汗瘥用藥例</h1>
<p>假如甲寅生人，丁丑日得病，丁壬化木，木旺在卯，就將丁丑二字，從卯上順行到病人本命，寅上見戌子，立為司天，便斷頭疼發熱。</p>
<p>假如戊午生人，丙子日得病，加臨到子，見戌辰，是中太陽破字號症。第二日到己，三日到午，主勝客衰。四日到未，小愈。五日到申，六日到酉，七日到戌，八日到亥，九日到子，十日到醜，此日大愈，汗出巳酉時。</p>
<p>假如丁丑生人，壬午日得病，加臨到司天上，見丁亥，系厥陰坤字號第四症也，白頭翁湯主之。</p>
<p>歌曰：</p>
<p>木火棺中生有氣，二日子客勝主衰，瀉咸補苦，桂枝湯主之。三日醜，四日寅，小柴胡湯主之。五日到卯，陽明主勝客衰，小承氣湯主之。六日到辰，客勝主衰，桂枝湯主之。泄咸補苦。七日入本經平氣。</p>
<p>假如戊戌生人，壬子日得病，加臨到司天，見申紀字號少陽症。第二日傳未，太陰濕上，為微邪，當補心瀉脾。三日午，少陰火，當解心經。四日到巳木，木生火，為虛邪。五日到辰，太陽水火相剋戰，其人必死。</p>

<h1>相生相剋論</h1>
<p>相生相剋，皆論支幹。干來克支，治不為難。又曰：《素問》運氣且須知，上下加臨仔細推。陽日在前左間氣，陰日前位右間隨。數至司天為病日，十二支上見本基。運克氣時終有始，氣來克運不看醫。此是先賢玄妙法，醫家豈可不言知。</p>

<h1>傳經訣歌</h1>
<p>傳經妙訣，女逆男順，一日一宮，便見所病；精華指要，女順男逆，與此不同，學者詳識。依前所言，故不再述。</p>
