<header data-type="book">
<h1>陳氏小兒痘疹方論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳文中</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>底本</dt><dd>明嘉靖庚戌（二十九年，1550）吳郡薛氏刊本（<a href="https://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=05d97bd695bd4e0ca065208d36fcec1efDkwODA2Mw2&SourceID=1">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>論痘疹受病之由</h1>
<p>夫小兒在胎之時，乃母五臟之液所養成形也。其母不知禁戒，縱情厚味，好啖辛酸，或食毒物，其氣傳於胞胎之中，此毒發為瘡疹，名曰三穢液毒。○一、五臟六腑穢液之毒，發為水泡瘡。○二、皮膜筋肉穢液之毒，發為膿水泡瘡。○三、氣血骨髓穢液之毒，發為膿血水泡瘡。三毒既出，發為疹痘瘡也。子母俱忌食蔥、韭、薤、蒜、醋、酒、鹽、醬、獐、兔、雞、犬、魚腥等物，世俗未曉，將為發舉，往往不顧其後，誤傷者多矣。</p>

<h1>論痘疹治法</h1>
<p>凡小兒瘡疹，未出已出之間，有類傷寒之狀，增寒壯熱，身體疼痛，大便黃稠，此正病也，若無他疾，不必服藥。</p>
<p>愚按：痘疹若小兒首尾平和，自有勿藥之喜。蓋其腸胃軟弱，易為虛實。故必不得已，折其太過，益其不足可也。</p>
<p>凡療瘡疹，先分表裡虛實。如表裡俱實者，其瘡易出易靨。表裡俱虛者，反是。表實裡虛者，其瘡易出難靨。表虛里實者，亦反是。若始出一日至十日，渾身壯熱，大便黃稠，乃表裡俱實，其瘡必光澤，起發滿肥，且易靨也。</p>
<p>愚按：治痘疹之法，與癰疽無異。若邪氣在裡而實熱者，用前胡枳殼散；元氣怯而虛熱者，用參耆四聖散；虛弱者，用紫草木香湯；虛寒者，用參耆內托散；虛寒內脫者，用木香散。若邪氣在表而實熱者，用麻黃甘葛湯。此要法也，余見各症。</p>
<p>凡瘡疹已出未出之間，或瀉渴，或腹脹，或氣促，謂之裡虛，急用十一味木香散治之。</p>
<p>愚按：經云：真氣奪則虛，邪氣勝則實。實謂邪氣實而真氣虛也。然倒靨瀉渴等症，若喜熱飲食，手足並冷，或不食嘔吐者，是為陽氣虛寒也，用辛熱之劑補之；喜冷飲食，手足不冷，或唇舌黑裂者，陽氣實熱也，用苦寒之劑瀉之。</p>
<p>凡瘡疹已出未愈之間，不光澤，不起發，不紅活，謂之表虛，急用十二味異功散治之。</p>
<p>愚按：張翼之云：吐瀉少食為裡虛，陷伏倒靨灰白為表虛。二者俱見為表裡俱虛，用異功散救之。甚至薑、附、靈砂亦可用。若止裡虛減官桂，止表虛減肉豆蔻。若能食便閉，而陷伏倒靨者，為裡實，輕用射干鼠黏子湯，重用前胡枳殼散。下痢吐瀉能食，為裡實，若用實里，則結癰毒；紅活綻凸為表實，若用補表，則潰爛不結痂。凡痘一見斑點，便忌葛根湯，恐發得表虛也。</p>
<p>凡痘瘡已出未愈之間，不光澤，不起發，不紅活，或腹脹，或瀉渴，或氣促，謂之表裡俱虛，急用十二味異功散送七味肉豆蔻丸治之。</p>
<p>愚按：前症審系表裡虛寒，急用前法，緩則不救。○一小兒出痘，不起發紅活，腹脹瀉渴，皆以為不治。施院使謂表裡虛寒，用十二味異功散，一劑即起發紅活，諸症頓退。又用參耆內托散，貫膿而靨。○儒者薛戒甫子，五歲，出痘三四日，下紫血，日數滴，至八日不止，而瘡不起。御醫錢春林謂脾氣虛寒，用木香散二劑，用丁香十一粒，人參五錢，一日服之。次日痘皆起而有膿。由是血漸止，二十餘日而愈。○一小兒起發紅活，但不時作癢，口乾作渴，便血，面赤發熱。先君謂腸胃有熱，先用濟生犀角地黃湯加柴胡一劑，諸症漸退，形體倦怠。此邪氣去而形氣虛弱耳。用四君子湯加當歸、黃耆、紅花，二劑而安。○一個兒，痘瘡赤痛，煩熱作渴，或便血，或衄血，先君用犀角地黃湯而血愈，又用紫草快癍湯加黃耆、芍藥而愈。後瘡痕色白，用四君歸耆，治之而痊。○一小兒，出痘吐血，其痘赤痛如錐，或瘡出血。余謂肝火熾盛，用小柴胡湯加生地一劑，隨用濟生犀角地黃湯，一劑頓愈，又用芹菜汁而痊。○一小兒，痘瘡下血，而不起發。先君謂氣血不足，用紫草快癍湯加參、耆、歸、木治之，血止瘡起。但貫膿遲緩，用八珍湯倍加參耆數劑，瘡靨而根白癢。此氣血虛而熱也，用八珍湯二十餘劑而愈。○一小兒痘疹，大便下血，小便甚赤，瘡顆甚赤，發熱飲冷。先君謂熱毒鬱滯，先用八正散一劑，後用解毒防風湯一劑，頓愈。又飲芹菜汁而全痊。○一小兒，痘正發而便血，倦怠少食，作渴飲湯。余謂倦怠便血，此脾虛而不能攝血也；少食作渴，此脾虛而津液短少也。用五味異功散加升麻、紫草，治之而愈。○一小兒，便血腹脹，困倦發熱，口乾飲湯，四肢逆冷。先君以為脾氣虛寒，不能攝血，用五味異功散加丁香十粒，炮姜五分，二劑血止，痘貫而靨。○一小兒七歲，患痘瘡腹脹，八九日矣。先君云：當急補脾土。不信，仍服消毒之藥，忽大便下血甚多而歿。○一小兒，作渴泄寫，發熱飲冷，唇舌皺裂，瀉糞穢臭。先君以為內熱所作，用前胡枳殼散，一劑稍愈。又用清涼飲加漏蘆，乳母服之，兒頓安。</p>
<p>凡小兒斑駁疹毒之病，俗言疹子。是肺胃蘊熱，因時氣黛發於外，狀如蚊蚤所咬，赤則十生一死，黑則十死一生。大抵遇春而生髮，至夏而長成。乃陽氣薰蒸，故得生成者也。臟腑調和，血氣充實，則易出易靨。蓋因內無冷氣，外常和暖也。凡痘疹熱渴，切不可與瓜、柿、蜜水等冷物，及清涼飲、消毒飲等藥，恐損脾胃，則腹脹喘悶，寒戰咬牙而難治。蓋咬牙者齒槁也，乃血氣不榮，不可妄作熱治。</p>
<p>愚按：前症若兼吐瀉，手足指冷者，屬內虛寒而外假熱也，急用木香散。如不應，用異功散。若大便不通，渴欲飲冷者，則前所禁蜜水之類，又當用矣。但宜審其熱之虛實。若屬虛熱者，雖欲水拒之而不飲，當用人參白朮散，熱渴自止。屬實熱者，自甚索水，且喜而飲之，當以犀角磨水服，諸症即解，其後亦無餘毒之患矣。北方出痘，不拘冬夏。若喜冷者，再不用藥，但與水飲，無有不愈。蓋北方地燥，而又睡熱炕故也。○一婦人，患時疫將愈，更出痘瘡，大起發，體倦痛，甚則昏憒，煩渴飲湯，不思食。用十全大補湯，及硃砂末，其痛頓止，食進體健。仍用前湯，倍加參耆，十餘劑而貫膿，又數劑而愈。○一妊婦，發熱作渴，遍身骨節作痛。用仙方活命飲，二劑諸症稍愈。至十一日，出痘百餘顆，形氣甚倦，用紫草木香散。又出少許，但口乾作渴，用人參白朮散而渴止，用八珍湯加柴胡、丹皮而貫膿。後去丹皮、柴胡，倍加參耆，數劑而痘靨。○一男子，年將三十，出痘，根窠赤痛，發熱作渴。服紫草飲之類，前症益甚，痘裂出血。余用小柴胡加生地、犀角，二劑諸症頓減。又用聖濟犀角地黃湯而貫膿，再用八珍湯而結痂。○一小兒，煩躁，飲冷不止，先君用濟生犀角地黃湯頓愈。後渴而喜熱，又用當歸補血湯而痊。惟倦怠少食，用七味白朮散而痊。○一小兒患此，飲冷不止，或痘脹痛，先君用濟生犀角地黃湯，並芹菜汁而頓愈。</p>
<p>凡痘瘡出不快，多屬於虛。若誤謂熱毒壅盛，妄用宣利之劑，致臟腑受冷，榮衛澀滯，不能運達肌膚，則瘡不能起發充滿，後不結實成痂，癢塌煩躁，喘渴而死。</p>
<p>愚按：前症亦有各經熱盛壅遏而出不快者，亦有毒甚痘疔而不能發起者，亦有餘毒而潰癢者，當細審其因而藥之。○一小兒，九歲，出痘六日，癢塌寒戰。院使錢密庵用十一味木香散，二劑貫膿。用參耆托裡散而靨。後痕白作癢，用十全大補湯而愈。○一小兒，痘瘡膿未滿，面赤作癢。余謂氣血虛而有熱，欲用溫補之劑。不信，乃服清熱之藥。至十三日，瘡痕色赤，虛煩作渴，腹痛不食，手足逆冷而歿。一小兒未周歲，痘瘡焮痛，出血，哭不能已。診其母有肝火，先用小柴胡加山梔、生地，與母服，子飲數滴，頓愈。又用加味逍遙散而痊。○一小兒出痘，內有痘疔數枚，雖挑破出黑血，熱毒不解，余痘不發，皆以為不治。先君以仙方活命飲，徐灌一劑，痘疔解而諸痘亦愈。○一小兒，痘療患在臀間，色黑大痛。挑出黑血，仍復堅痛。皆以為不治。先君用膈蒜灸數壯，痛止色淡而軟。挑出黑血甚多。灌以活命飲，患處及諸痘貫膿而愈。</p>
<p>凡小兒才覺傷風身熱，是否瘡疹，便服四味升麻葛根湯。</p>
<p>愚按：痘疹未明，而元氣實者，最宜前湯。若元氣虛者，又當詳治，恐發得表虛而痘難出也。○一儒者，年三十餘，因勞役，倦怠發熱，服補中益氣湯數劑，發赤點，以為癍，另服升麻葛根湯一劑，更加惡寒，仍服益氣湯四劑，至九日，出痘甚多。余用八珍湯加黃耆、白芷、紫草四劑，至二十日，膿始貫。用十全太補湯，月餘而靨。</p>
<p>凡痘疹始出，一日至五七日之間，雖身熱，或腹脹、足稍冷，或身熱、瀉渴，或身熱、驚悸、腹脹，或身熱、出汗者，服十一味木香散。</p>
<p>愚按：前症屬脾氣虛寒假熱，非此藥不救。如未應，佐以六君子，專補脾氣。更不應，加木香、補骨脂、肉豆蔻，兼補腎氣。○一小兒，第五日不紅活，至九日貫膿不滿。余謂氣血虛弱，用十全大補湯治之，庶無後患。不信，至脫痂痕，作癢色白，至十四日而歿。○一小兒，第七日膿清不滿，形氣倦怠，飲食少思，大便不實，用托裡散二劑，手足指冷，咬牙作渴。用木香散，倍用參耆，一劑諸症頓退。又用參耆四聖散，四劑而愈。</p>
<p>凡瀉水穀，或白色，或淡黃，煎十一味木香散，送七味肉豆蔻丸治之。瀉止者住服，不止者多服。</p>
<p>愚按：前症若察其外症，若唇青指冷，睡而露睛，口鼻氣寒，瀉色青白，脾腎虛寒也，用前藥六君子湯，加補骨脂、肉豆蔻。若頰赤體熱，睡不露睛，口鼻氣熱，瀉色黃赤，脾土實熱也，用瀉黃散。○一小兒，腹脹渴瀉，氣促體倦，先君以為表裡俱虛，用六君子湯加歸耆，送四神丸。一服，諸症頓退，瘡勢頓止。但膿遲而渴，仍用前湯加歸耆二劑，瘡色紅活，形體頗安，任其貫膿而痊。</p>
<p>凡瀉頻津液內耗，血氣不榮，瘡雖起發，亦不能靨也。如身溫腹脹，咬牙喘渴者，難治。緣穀食去多，津液枯竭，飲水蕩散真氣，故多死矣，速與十一味木香散救之。如不應，急用十二味異功散。</p>
<p>愚按：前症兼手足指冷，面色青白等症者，屬陽氣虛寒，急用木香散。陽氣脫陷，用異功散。脾氣虛弱，用六君子湯。血氣虛弱，用八珍湯。不應，用十全大補湯。○一小兒第九日不紅活，不貫膿，云歿於十二日。陳院長謂屬虛寒，用十一味木香散，二劑，漸紅活貫膿。又用紫草木香湯，及人參白朮散而愈。族侄孫衍慶，六歲，出痘稀少，瘡痂悉落。至十三日，身煩熱而畏寒，手足逆冷，厚衣圍火不能溫，皆謂不治。余思大熱而不熱者，是無火也。急用人參理中湯，煎服一杯，肢體頓溫。更用人參白朮散調理而痊。○一男子，年二十餘，發熱煩躁，痘黯出血，足熱腰痛。用聖濟犀角地黃湯，二劑而貫膿。用地黃丸料數劑，而瘡靨。○一男子，年將三十，出痘，色紫作渴，飲水腰痛，足熱耳聾。余謂腎虛之症，用加減八味丸料，煎與恣飲，熱渴頓止。佐以補中益氣湯加五味、麥門而愈。○一小兒，十二歲，出痘色黯，兩足及腰熱痛，便秘，咽舌乾渴，引飲不絕，眾謂腎虛不治。先君用加減八味丸料，作大劑，煎與恣飲，至二斤，諸症悉退。又佐以補中益氣及八珍湯，各十餘劑而痊。</p>
<p>凡四五日不大便，用嫩豬脂二塊，以白水煮熟，切豆大，與食之，令臟腑滋潤，使瘡痂易落。切不可妄投宣瀉之藥，元氣內虛，則瘡毒入里，多傷兒也。</p>
<p>愚按：前症若因熱內蘊，宜用射干鼠黏子湯解之。或發熱作渴，或口舌生瘡，或咽喉作痛，並宜用之。</p>
<p>凡瘡疹初出兩三日，至十三日，當忌外人，及卒暴風寒穢惡之氣。輕者三次，出大小不一，頭面稀少，眼中無根，窠紅肥滿光澤也。重者一齊出如蠶種，灰白色，稠密，瀉渴、身溫、腹脹、頭溫、足冷也。輕變重者，犯房室，不忌口，先曾瀉，飲冷水，餌涼藥也。重變輕者，避風寒，常和暖，大便稠也。</p>
<p>愚按：丹溪先生云：痘疹密則毒甚，用人參敗毒散、犀角地黃湯，或以涼藥解之。雖數貼亦不妨。○一小兒，痘疹甚密，至九日貫膿不滿，色不紅活，或云當歿於十二日。余以為氣血虛弱，用八珍湯，內加糯米百粒，數也。至十五日，膿完色正，結痂而愈。○一小兒，五歲，出痘密而色白，屬虛弱也，始未悉用補托之藥而安。旬余，飲食過多，忽作嘔吐，面白兼青，目唇牽動。先君以為慢脾風症，用五味異功散加升麻、柴胡。不信，翌日手足時搐，服前藥而不應，急加木香、乾薑，二劑而愈。○一小兒，第五日矣，稠密色黑，煩躁喜冷。先君以為火極似水，令恣飲冷芹汁，煩熱頓止。乃以地黃丸料服之，至二十餘日而愈。</p>
<p>凡身熱發煩渴者，宜用六味人參麥門冬散治之。如不應，用七味人參白朮散。</p>
<p>愚按：前症若渴而飲冷者，脾胃實熱，宜用麥門冬散。若渴而飲湯者，氣虛熱渴，宜用白朮散。若大渴引飲，面赤，血虛發躁也，用當歸補血湯。</p>
<p>凡痘瘡欲靨已靨之間，而忽不能靨，兼腹脹煩渴者，急用十一味木香散。</p>
<p>愚按：前症若兼惡寒，或四肢冷，瘡毒去而脾胃虛寒也，宜用前藥。若十指逆冷，咬牙等症，陽氣脫陷也，用十二味異功散。脾氣虛陷，用六君加川芎、當歸、黃耆主之。○一小兒，九歲，出痘第七日，發熱煩躁，不貫膿，色灰白，寒戰咬牙，瀉渴腹脹，手足冷。時仲夏，飲沸湯而不熱，腹中陰冷。先用木香散二劑益甚。用異功散，一劑頓安。又用六君子加附子三分，二也，後用調補之也，至十四日而愈。</p>
<p>凡痘瘡欲靨已靨之間，忽頭面溫，足指冷，或腹脹瀉渴氣促者，急服十二味異功散。若十一二日，當靨不靨，身不壯熱，悶亂不寧，臥則哽氣，煩渴齧牙者，急用十二味異功散加歸、術，以救陰陽表裡。</p>
<p>凡痘瘡已靨，煩渴不止，或頭溫足冷，或腹脹，或瀉，或咬牙，多致難愈，急用十一味木香散以救之。已上之症，若誤與蜜水生冷之物，則轉加熱渴而死。</p>
<p>愚按：前症屬脾胃虧損，內真寒而外假熱耳，非溫補不救。如前藥未應，用十全大補湯加附子以純補之。○一小兒，頭生一癤，出膿將愈，忽癤間腫脹，發痘二十餘顆，遍身赤點。用快癍湯而漸出，用紫草散倍加參耆而出完，用托裡消毒而膿貫，用托裡散而瘡靨，○一小兒，痘已靨，其痕色赤而錯縱，日食粥七八碗，作渴面赤。先用白朮散，二也，渴減五六，粥減大半。又用四君加蕪荑、黃連，二劑，痕平色退。乃用八珍湯加蕪荑、山梔而痊。○一小兒，痘瘡愈後，泄瀉飲食不化。此脾腎氣虛，用六君加補骨脂、肉豆蔻治之而愈。○一小兒，痘瘡將愈，患泄瀉，侵晨為甚，飲食不化，屬脾腎虛也。朝用補中益氣湯，夕用二神丸而愈。</p>
<p>凡身壯熱，經日不除，如無他症，用六味柴胡麥門冬散治之，熱退即止。如不愈，服七味人參白朮散。</p>
<p>愚按：前症若肝膽熱毒，用柴胡麥門冬散。若肝經血虛，用四物湯加黃耆、柴胡。若中氣虛熱，用人參白朮散。○一男子，患痘瘡作痛，發熱不止，其勢可畏，皆以為不起。施銀臺用消毒救苦湯治之，諸症頓退。予先用仙方活命飲，痛全止。又用八珍湯加紫草三錢，四劑貫膿而靨。○一小兒患痘稠密，大痛發熱，勢甚危急。先君用消毒救苦湯，一劑，安臥良久，遍身出小痘，頓消。再也，俱貫膿而靨。</p>
<p>凡身壯熱，大便堅實，或口舌生瘡，咽喉腫痛，皆瘡毒未盡，用四味射干鼠黏子湯。如不應，用七味人參白朮散。</p>
<p>愚按：前症若壯熱飲冷，屬熱毒在表，宜用前湯。若兼大便不通，屬熱毒在內，少用四順清涼飲。若熱毒既去，胃氣虛而發熱，用七味人參白朮散。若因陰血虧損而發熱，用四物湯。○一小兒，六歲患痘，第七日，根顆赤痛，大便秘結，小便赤澀，煩躁飲冷。或用清涼解毒之劑，未應。錢密庵以為熱毒內蘊，用四順清涼飲一劑，並豬膽汁，導下結糞而安。又用犀角地黃湯，其痘自靨。○一小兒，痘瘡發熱作渴，焮赤脹痛，大便秘結。先用四順清涼飲一劑，諸症頓退。又用四味鼠黏子湯一也，諸症全退。再用紫草湯而貫膿，用消毒飲而痘靨。○一小兒，痘愈而聲喑，面赤，足心發熱，小便赤少。先君以為腎經虛熱，用六味地黃丸、補中益氣湯而愈。其時患是症，用清熱解毒者，俱不起。○一小兒，十一歲，患痘；第四日，根盤紅活起發，因痛甚不止，至七日形氣甚倦，痘色淡而欲陷，此因痛甚而傷元氣也。先用仙方活命飲，一劑而痛止，再用八珍湯而貫靨。</p>
<p>凡風熱咳，咽膈不利，用三味桔梗甘草防風湯治之。如不應，用七味人參白朮散主之。</p>
<p>愚按：前症如痘熱內作，宜用桔梗甘草防風湯。如兼痰熱咳嗽，佐以抱龍丸。若氣虛痰涎壅上，宜用人參白朮散，以補脾肺。○一小兒，痘瘡，十二日，患咳嗽十餘日不愈，所服皆發表化痰。余曰：此脾肺氣虛，復傷真氣而變肺癰也。不信，仍服前藥，果吐膿血，用桔梗湯而愈。○一小兒，痘將愈，咳嗽，面色黃白，嗽甚則赤，用五味異功散調補而愈。</p>
<p>凡涕唾稠黏，身熱鼻乾，大便如常，小便黃赤，用十六味人參清膈散。如不應，用七味人參白朮散。</p>
<p>愚按：前症屬脾肺蘊熱，痘邪為患，用清膈散，解散邪氣。若脾肺虛熱，不能司攝，用人參白朮散，調補中氣。○一小兒，痘赤壯熱，嗽咳痰甚，煩熱作渴。用人參清膈散，一也，諸症頓退。日用芹菜汁，旬余而靨。</p>
<p>一小兒痘瘡，狂喘躁熱，作渴飲冷，痰涎不利。先君用十六味清膈散、犀角地黃湯，各一劑，頓愈，又用當歸補血湯而愈。○一小兒，痘赤狂喘，大便不利，先君治以犀角地黃湯、芹菜汁而痊。○一小兒，痘愈後，涕唾口乾，飲湯鼻塞，或腹作脹，先用白朮散二劑，後用六君子湯而愈。</p>
<p>凡痰實壯熱，胸中煩悶，大便堅實，臥則喘急，速用前胡五味枳殼湯治之。</p>
<p>愚按：前症若因腸胃蘊熱，宜急用前湯。緩則熱毒延內，多致有誤。○一小兒，患痘赤痛，痰喘作渴，大便不利。錢密庵用前胡枳殼散，一劑，諸症頓退。又用濟生犀角地黃湯二劑，月餘而愈。○一個兒，第八日，根顆赤腫，脹痛作渴，大便下黑血，煩渴痰喘，飲冷呻吟，求治。施銀臺以為血熱毒蓄於內，用聖濟犀角地黃湯，一劑，諸症悉退。又用消毒丸及化班湯而愈。○一小兒，痘根色赤，作痛發熱，口渴喜冷，大便堅實。用清涼飲一劑，痛熱少減。再劑，便利渴止。卻用聖濟犀角地黃湯而安，用芹菜汁而靨。○一小兒，痘根色赤作痛，熱渴，喜飲冷水，大便不利。先用五味前胡枳殼散，大便利而熱渴減。又用聖濟犀角地黃湯而安，用芹菜汁而靨。○一小兒，大便不利，小便赤澀，作渴飲冷。先君用涼膈散，一劑漸愈。又用濟生犀角地黃湯，及芹菜汁而痊。若乳母有肝火，兒患此症，必用加味逍遙加黃芩、犀角，兼治其母。○一小兒，痘已愈，而痕赤作痛，內熱作渴，二便不利。先君用濟生犀角地黃湯及芹菜汁而痊，後用四物黃耆而安。○一小兒，痘痕白，或時癢，作渴飲湯，大便稀溏，先君用五味異功散加當歸、黃耆而瘥。○一小兒，痘痕白，時或癢。先君以為氣血俱虛，用八珍湯補之。不信，自用解毒之劑，後卒變慢脾風而歿。惜哉！</p>
<p>凡飲冰雪不知寒劑，陽盛陰虛也。飲沸湯不知熱劑，陰盛陽虛也。陽盛則補陰，木香散加丁香、官桂。陰盛則補陽，異功散加木香、當歸。每一兩藥，共加一錢。</p>
<p>愚按：陽盛者，當用清涼飲以補陰；陰盛者，當用異功散以補陽。須審的實而用，若或少差，死在反掌。前云乃傳寫之誤。</p>
<p>凡痘瘡首尾，若誤飲冷水，瘡靨之後，其痂遲落，或生癰腫，或成疳蝕。蓋脾胃屬土，而主肌肉，水濕所傷，則津液衰少，榮衛澀滯，不能周流，故瘡痂遲落而生癰腫。</p>
<p>愚按：痘癰之類，屬血熱未解，而內作外邪，搏於肌膚之間，或餘毒蘊結經絡，輕則肌表津淫瘙癢，重則肢節壅腫作痛。或餘毒熾盛，先用仙方活命飲，以解其毒，卻用托裡消毒散。毒氣將盡，用四君、歸、耆，以補托元氣。大凡痘瘡始末，皆系脾胃之氣所主，若飲食藥餌失宜，多致變症。故凡飲食少思，內熱晡熱者，屬脾胃氣虛血弱，佐以四君、芎歸、黃耆、升麻。若飲食如常，發熱作痛者，屬氣血虛弱，餘毒為患，佐以射干鼠黏子湯。若飲食如常，發熱作痛，大便秘結者，屬熱毒內蘊，用大連翹飲。如不應，仙方活命飲。若根赤而作癢，血虛也，四物加牡丹皮。色白而作癢，血虛也，四君加當歸、芍藥。色赤而作痛，血熱也，四物加連翹、金銀花。腫而不潰，血氣虛也，用托裡消毒散。潰而不愈，脾氣虛也，用六君子湯。○一小兒，痘毒蝕陷，數以雄黃散，及服加味解毒散而愈。○一小兒痘毒，遍身腐潰，膿水淋漓。以經霜茅草研末，鋪於寢席，更服九味解毒散，頓愈。用神效當歸膏，數之而痊。○一小兒，痘毒後，腿膝腫痛，此脾腎虛而毒流注。先用活命飲，四劑，腫痛頓減。再用補中益氣湯，及六味地黃丸而痊。○一小兒，腿膝腫潰，而膿水不止，內熱晡熱，體倦肌瘦。先君以為元氣復傷，用補陰八珍湯、六味丸，三月餘而愈。○一小兒，痘已愈，兩目昏閉。先君用鼠黏子湯加山梔、龍膽草、犀角，目開而有赤白翳，佐以蛇蛻散，外用二粉散，尋愈。</p>
<p>凡瘡疹已靨未愈之間，五臟未實，肌肉尚虛，血氣未復，被風邪相搏，則津液氣滯，遂成疳蝕，宜用雄黃散、綿繭散等藥。治之久而不愈則潰，多致不起。</p>
<p>愚按：前症屬足陽明胃經，其方解毒殺蟲之劑。若毒發於外，元氣未傷者，用之多效。若胃氣傷損，邪火上炎者，用蕪荑湯、六味丸。若赤痛者，用小柴胡湯加生地黃。肝脾疳症，必用四味肥兒丸，及人參白朮散，更佐以九味蘆薈丸。○一女子，痘痂將脫，回其穢氣以湯浴，已而身熱如灸，四肢強直如發痙然。此腠理開泄，熱毒乘虛而入，用十全大補湯，一劑頓安。○一小兒，痘出甚密，先四肢患毒，膿潰而愈，後口患疳，涎蝕牙齦。先用大蕪荑湯、活命飲，各一劑，又用清胃散加犀角，及蟾蜍丸而愈。後發熱作渴，口中作痛，服蟾蜍丸，搽人中黃而安。</p>

<h1>類集痘疹已效名方</h1>
<p><u>葛根麥門冬散</u>　治小兒熱毒癍疹，頭痛壯熱，心神煩悶。</p>
<p>葛根（三錢）　麥門冬（去心，四錢）　人參（二錢）　石膏（半兩）　川升麻　甘草　茯苓（各二錢）　赤芍藥（一錢）</p>
<p>上為粗散。每服三錢，水一大盞，煎至六分，去滓，徐徐溫服，不拘時。量大小增減。</p>
<p>愚按：前方足陽明胃經之藥也，外除表邪，內清胃火，兼補元氣。若非發熱作渴，表裡有熱者，不可用。若表裡俱虛，而發熱作渴者，宜用人參麥門冬散。</p>
<p><u>生地黃散</u>　治小兒癍疹，身熱口乾，咳嗽心煩者。</p>
<p>生地黃（半兩）　麥門冬（去心，七錢）　杏仁　款冬花　陳皮（各三錢）　甘草（炙，二錢半）</p>
<p>上為粗散。每服三錢，水一大盞，煎至六分，去滓，徐徐溫服，不拘時。量大小加減。</p>
<p>愚按：前方若肺經有熱者，宜用此方。若痰氣上壅，佐以抱龍丸。</p>
<p><u>惺惺散</u>（七味）　治小兒風熱，瘡疹時氣，頭痛壯熱，目澀多睡，咳嗽喘促。</p>
<p>桔梗（炒）　真細辛　人參　甘草　白茯苓　真川芎　白朮（各一兩）</p>
<p>上為粗散。每服三錢，水一大盞，薄荷五葉，生薑三片，同煎至六分，去滓，徐徐溫服，不拘時候。量大小加減。</p>
<p>愚按：前症方，若表虛風熱所乘而致諸症者，宜用此藥。若表實內熱相搏而致諸症者，宜用升麻葛根湯。若兼作渴飲冷者，須用葛根麥門冬散。大凡瘡疹未出已出之間，多增寒壯熱，身體疼痛，大便黃稠，此正病也，若無他疾，不必服藥。</p>
<p><u>四味升麻葛根湯</u>　治初發熱，痘疹未明，宜用此湯以散之。</p>
<p>白芍藥（炒）　川升麻（一兩）　甘草　葛根（一兩半）</p>
<p>上為粗散。每服三錢，水一大盞，煎至六分，去滓，不拘時，徐徐溫服。</p>
<p>愚按：前方胃經發表之也，表實而熱毒壅滯於肌肉者，須用此藥以疏泄之，恐虛其表，而痘毒不能托出也。</p>
<p><u>十一味異功散</u></p>
<p>木香　大腹皮　人參　桂心　北茯苓　青皮　前胡　訶黎勒（去核）　半夏（薑製）　丁香　甘草（炙，各三錢）</p>
<p>上為粗散。每服三錢，水一大盞，生薑三片，同煎至六分，去滓，空心溫服。量大小以意加減。</p>
<p>愚按：前方治痘瘡已出未愈之間，其瘡不光澤，不起發，不紅活，或已出一日至五七日間，或泄瀉作渴，或肚腹作脹，氣促作喘，或身雖熱而腹脹，足指冷，或身熱而作渴，或身熱而驚悸腹脹，或身熱汗出不止，或氣急寒戰咬牙，或渴而飲水愈渴，或瘡欲靨而不靨，或瘡痂欲落不落，而反腹脹渴瀉，足指寒冷，或驚悸寒戰咬牙。此脾胃終變虛寒，津液衰少。此發《內經》微旨，陰陽蘊奧，非神於朮者，豈能言哉！前症乃陽氣內虛寒而外假熱，如癰疽脾胃虧損，諸臟虛寒之敗症，急用前散以救胃氣，亦有可生者。</p>
<p><u>十二味異功散</u></p>
<p>木香（三錢半）　官桂（二錢，去粗皮）　當歸（三錢半）　人參（二錢半）　茯苓（二錢）　陳皮　厚朴（薑製，二錢半）　白朮（二錢）　半夏（薑製，一錢）　丁香　肉豆蔻　附子（炮，去皮，一錢半）</p>
<p>上為粗散。每服三錢，水一大盞半，生薑五片，肥棗三枚，煎至六分，去滓，空心溫服。三歲兒作三服，五歲兒作兩服，一周兩歲兒作三五服。病有大小，以意加減。此藥家傳五世，累經效驗。</p>
<p>愚按：前方治痘瘡已出未出，不起發，不光澤，不紅活，謂之表虛，宜用此藥治之。若已出未愈，瘡不光澤，或不起發，不紅活，或腹脹作渴，泄瀉氣促，謂之表裡虛寒，急用此藥送豆蔻丸。或十一日間不靨，壯熱悶亂不寧，臥則煩渴咬牙，手足指冷，數飲沸湯而不熱，圍火重衾而仍寒，悉屬表裡虛寒也。王太僕云：大寒而盛，熱之不熱，是無火也。當益其心火，急用前藥以回其陽，亦有生者。</p>
<p><u>肉豆蔻丸</u>（七味）　治瀉水穀，或白或淡黃，不能止者。</p>
<p>木香　宿砂（三錢）　白龍骨（半兩）　訶子肉（半兩）　赤石脂（七錢）　枯白礬（七錢半）　肉豆蔻（半兩）</p>
<p>上為細末，用麵糊為丸，如黍米大。一周歲兒，每服三五十丸。三歲兒，服百丸。溫米飲下。瀉甚者煎木香散，或異功散送下。瀉止住服，不止多服。</p>
<p>愚按：前方治陽氣虛寒，腸滑泄瀉之澀劑。蓋腎主大便，若因腎氣不固，而致前症者，宜用木香散送四神丸。如不應，急煎六君子湯，送四神丸補之。蓋豆蔻丸澀滯之功多，補益之功少也。</p>
<p><u>人參麥門冬散</u>　治痘瘡微渴。（一名麥門冬散）</p>
<p>麥門冬（一兩）　人參　甘草（炙）　陳皮　白朮　厚朴（薑製，各半兩）</p>
<p>上為粗散。每服三錢，水一大盞，煎至六分，去滓，徐徐溫服，不拘時。量大小增減。</p>
<p>愚按：前方若痘瘡熱毒氣虛作渴，宜用之。若因氣虛弱作渴，用人參白朮散。</p>
<p><u>消毒散</u>　治痘瘡六七日間，身壯熱，不大便，其脈緊盛者，用此藥以微利之。（一名消毒飲）</p>
<p>牛蒡子（四兩，杵，炒）　荊芥穗　甘草（炙，各一兩）</p>
<p>上為粗散。每服三錢，水一大盞，煎至八分，去滓。不拘時，徐徐溫服。</p>
<p>愚按：前方若毒在肌肉，尚未能盡發，而致斯症，脈浮而緊實，最宜此藥，疏解其毒。若痘頓輕，脈沉而緊者，毒在臟腑，宜用前胡、枳殼疏通，以絕其源，其痘尤輕。</p>
<p><u>柴胡麥門冬散</u>　治痘瘡壯熱，經日不止，更無他症，此藥治之。（即六味柴胡麥門冬散）</p>
<p>柴胡（二錢半）　龍膽草（炒，一錢）　麥門冬（三錢）　甘草（炙）　人參　黑參（各一錢半）</p>
<p>上為粗散。每服三錢，水一大盞，煎至六分，去滓，不拘時，徐徐溫服。量大小加減。</p>
<p>愚按：前方若痘瘡表熱，根盤色赤，焮痛作渴，飲冷，或兩目作痛，或素有肝火，而患痘瘡者，尤宜用之。</p>
<p><u>射干鼠黏子湯</u>　治痘瘡壯熱，大便堅實，或口舌生瘡，咽喉腫痛，皆餘毒所致。</p>
<p>鼠黏子（四兩，炒，杵）　甘草（炙）　升麻　射干（各一兩）</p>
<p>上為粗散。每服三錢，水一大盞，煎至六分，去滓，徐徐溫服。</p>
<p>愚按：前方凡痘瘡初出，發熱焮痛，根盤赤盛，或咽喉口舌疼痛，作渴引飲者宜用。若因胃氣虛弱，發熱而致前症者，宜用人參麥門冬散。</p>
<p><u>桔梗甘草防風湯</u>　治風熱咽喉不利。</p>
<p>桔梗（炒）　甘草（炙）　防風（各等分）</p>
<p>上為粗散。每服三錢，水一大盞，煎至六分，去滓，徐徐溫服，不拘時。量大小加減。</p>
<p>愚按：前方若上焦風熱，或痰涎上攻，咽喉不利，或口舌生瘡，作渴引飲者，須用此藥，發散解毒。痘雖出，亦在輕淺。</p>
<p><u>人參清膈散</u>　治涕唾稠黏，身熱鼻乾，大便如常，小便黃赤，宜用此方治之。</p>
<p>人參　柴胡　當歸　芍藥（炒）　知母（炒）　桑白皮（炒）　白朮（炒）　黃耆（炒）　紫菀　地骨皮　茯苓　甘草　桔梗（炒，各一兩）　黃芩（半兩）　石膏　滑石（各一兩半）</p>
<p>上為粗末。每服三錢，水一大盞，生薑三片，同煎至六分，去滓，不拘時，徐徐溫服。量大小加減。</p>
<p>愚按：前症即癰疽因熱毒蘊結於臟腑經絡之間者，當用此藥，以疏導托裡，調和榮衛，使邪氣退，則元氣不傷，而痘瘡易愈也。</p>
<p><u>前胡枳殼散</u>　治痰實壯熱，胸中煩悶，大便堅實，臥則喘急。</p>
<p>前胡（一兩）　枳殼　赤茯苓　大黃　甘草（炙各半兩）</p>
<p>上為粗散。每服三錢，水一大盞，煎至六分，去滓，不拘時。量大小加減。如身溫脈微，並瀉劑，不可服。</p>
<p>愚按：前症若屬肺胃實熱，氣鬱痰滯，大便秘結，小便赤澀，煩渴飲冷，身熱脈數者，宜用之，以表散外邪，疏通內臟，使邪氣不壅滯，且痘瘡輕而易愈也。</p>
<p><u>人參白朮散</u>　治痘瘡已靨，身熱不退。此藥清神生津，除煩止渴。</p>
<p>人參　白朮　藿香葉　木香　甘草　白茯苓（六味，各一兩）　乾葛（三兩）</p>
<p>上為粗散。每服三錢，水一大盞，煎至六分，去滓，不拘時，徐徐服。</p>
<p>愚按：前症若痘瘡已靨，身熱，或津液少，而口乾引飲者，胃氣虛弱也，宜用人參白朮散。若腹脹泄瀉，口乾，足指寒冷者，脾氣虛寒也，宜用十一味木香散。若形寒惡寒，嘔吐不食，腹脹瀉渴等症，乃脾氣虛寒下陷也，用六君子加升麻、薑、桂。如不應，急加丁香。若發熱煩躁，身熱惡衣，屬血脫髮躁，用當歸補血湯。大凡痘瘡，若脾氣虛弱，出不快者，誤以為熱毒壅盛，用涼藥宣利解散，致脾胃受傷，元氣愈虛，使瘡不起發，不克滿，不結靨，不成痂，而癢塌煩躁喘渴，死者多矣。凡痘瘡首尾，不宜與水，則瘡靨之後，其痂落遲。或主癰腫，治失其法，必成疳蝕，瘡血水不絕，甚則面黃唇白，多致難愈。蓋脾胃屬土，而主肌肉故也。</p>
<p><u>韶粉散</u>　治小兒痘瘡才愈，而毒氣尚未全散，瘡痂雖落，其瘢雖猶黯，或凹凸肉起，當用此藥塗之。</p>
<p>韶粉（一兩）　輕粉（一錢）</p>
<p>上研，和入煉豬脂油，拌勻如膏，薄塗瘡瘢上。如痘痂欲落不落，當用此方：羊𩩅骨髓（一兩）　上煉，入輕粉一錢，研成白膏，瓷合盛之，塗瘡上。○如痘瘡癢，誤搔成瘡，及瘡痂欲落不落，用上等白蜜塗之，其痂自落，亦無紫黑瘢痕，神妙。</p>
<p>愚按：前症若痘瘡痕赤而作癢，屬血虛而有熱也，佐以四物、牡丹皮。若痕白而作癢，氣虛而有熱也，佐以四君、芎、歸。瘡痂欲落不落者，脾經血氣虛，八珍湯。若發熱而大便秘結者，腸胃內熱也，犀角消毒丸。發熱而大便調和者，肺胃熱也，麥門冬散。膿水淋漓者，肌表熱也，用敗草散敷之。</p>
<p><u>雄黃散</u>　治小兒因痘瘡，牙齦生疳蝕瘡。</p>
<p>雄黃（一錢）　銅綠（二錢）</p>
<p>上二味，同研極細，量瘡大小干糝。</p>
<p><u>綿繭散</u>　治小兒因痘瘡餘毒，肢體節骱，上有疳蝕瘡。膿水不絕。</p>
<p>出蛾綿繭（不拘多少）　上用生白礬捶碎，實繭肉，以炭火燒礬汁干，取出為末，干貼疳瘡口內。如腫臖作痛，更服活命飲。</p>
<p>愚按：雄黃散，清肝，殺蟲解毒，外治之方也。其症所感之經，與所致之因，各有不同。若因手足陽明經蘊熱所致者，用犀角消毒散。若因脾經肝熱者，用大蕪荑湯。若因腎經虛熱者，用地黃丸。若因肝經疳熱者，用蕪荑湯，送大蘆薈丸。○其綿繭散，總治瘡毒膿水淋漓，收斂之外劑。若果系內無餘毒而未痊者，宜用斂之。若因氣血虛而不斂，宜用托裡散。若發熱腫痛，大便不結，用仙方活命飲，更以隔蒜灸法。若腫痛作渴，大便秘結，用四順清涼飲。若大便已通，腫痛未退，仍用活命飲。若發熱倦怠，大便調和，用八珍湯加犀角。如疳蝕未應，急用隔蒜灸。若發熱口乾，肢體倦怠，用八珍湯加黃耆。若飲食少思，肢體倦怠，用五味異功散加當歸。若膿水不絕而發熱，用四物、參、耆、丹皮。若膿水不絕而惡寒，用四君、歸、耆。惡寒發熱者，用八珍、黃耆。若乳母肝經血虛發熱，用加味逍遙散。若肝經因怒發熱，用加味小柴胡湯。若肝經因郁發熱，用加味歸脾湯。仍參前痘瘡首尾誤飲水證。</p>
<p><u>穀精草散</u>　治小兒痘瘡已靨，眼目翳膜，遮障瞳人，癮澀淚出，久而不退：或十二三日，瘡痂已落，其瘡瘢猶黯，或凹或凸。此肌肉尚嫩，不可澡浴，及食炙爆辛辣有毒之物，恐熱毒薰蒸肝膈，目生翳障。若不能守禁而致患者，須用此治之。</p>
<p>穀精草（一兩）　生蛤粉（二兩）</p>
<p>上為細末，以獖豬肝一葉，用竹刀批片，糝藥在內，用草繩縛定，入瓷器內，量用水，慢火煮熟，令兒食之。</p>
<p>愚按：前症若痘瘡愈後，餘毒入於肝經而作痛者，宜用此方，羊肝散亦效。若肝經熱毒，眼睛作痛，佐以小柴胡湯加生地黃，或犀角地黃湯。</p>
<p><u>解毒湯</u>　治一切熱毒腫痛，或風熱搔癢脾胃。</p>
<p>黃連（三分）　金銀花　連翹（各五分）</p>
<p>上水煎服。</p>
<p>愚按：前症當審其臟腑部分，及各隨所因而治之。若在乳下，必當兼治其母。</p>
<p><u>參湯散</u>　治水痘。</p>
<p>地骨皮（半分，炒）　麻黃（一分去節）　人參（一分）　滑石（半分）　大黃（一分，濕紙煨熟）　知母　羌活（各一分）　甜葶藶（一分，用濕紙炒）　甘草（炙，半分）</p>
<p>上為末，每服五分，水一小盞，入小麥七粒，同煎至十數沸，每服三五匙，不可多服。</p>
<p>愚按：前方發表散邪，疏通內熱之峻劑。若遍身作痛，壯熱煩躁，作渴飲冷，大便秘結，小便澀滯，喘嗽等症，宜用此方，或前胡枳殼散。然水痘多屬表邪，若但發熱引飲，小便赤色者，當用升麻葛根湯。如無他症，不必用藥也。</p>
<p>上小兒瘡疹，無正方論，雖有王、譚、錢氏之書，止見其方，未見其源。療之者，往往以藥宣利解散，因耗傷真氣，遂至不救者多矣，深可痛憫。文中今將祖父秘傳方論，集為一卷。蓋守此方三十餘年，全活者甚眾，百不失一。今合廣其傳，使患劑無枉夭之禍，醫劑有活人之功，此僕之夙心也。</p>

<h1>附方</h1>
<p><u>三豆飲</u>　治天行痘瘡，始覺即服之，多者必少，少者不出等症。</p>
<p>小赤豆　黑豆　綠豆　甘草節（五錢）</p>
<p>上水煮熟，任兒食之，七日自不發。</p>
<p><u>紫草木通湯</u>　治痘疹出不快。</p>
<p>紫草　人參　木通　茯苓　糯米（各等分）　甘草（減半）</p>
<p>上每二錢，水煎服。</p>
<p><u>升均湯</u>　治痘瘡已出不勻，或吐瀉發熱作渴。</p>
<p>升麻　乾葛　芍藥（炒）　人參　白朮（炒）　茯苓　甘草　紫草（如無，紅花代之）</p>
<p>上每服三五錢，姜水煎。</p>
<p><u>參耆內托散</u>　治痘瘡裡虛發癢，或不潰膿，或為倒靨等症。</p>
<p>人參　黃耆（炒）　當歸　川芎　厚朴（薑製）　防風　桔梗（炒）　白芷　官桂　紫草　木香　甘草</p>
<p>上八味，糯米一撮，水煎。服仍量兒加減。</p>
<p><u>紫草快癍湯</u>　治痘疹，血氣不足，不能發出，色不紅活等症。（即紫草湯）</p>
<p>紫草　人參　白朮　茯苓　當歸　川芎　木通　芍藥　甘草　糯米</p>
<p>上每服二錢，水煎。</p>
<p><u>人參胃愛散</u>　治痘瘡已發未發，吐瀉不止，不思飲食等症。</p>
<p>人參　藿香　紫蘇　木瓜　丁香　茯苓　甘草　糯米</p>
<p>上每服三錢，薑棗水煎。</p>
<p><u>紫草木香湯</u>　治痘瘡，裡虛癢塌，黑陷悶亂。</p>
<p>紫草　木香　茯苓　白朮　人參　甘草（炒）　糯米</p>
<p>上每服三錢，水煎。</p>
<p><u>大如聖飲子</u>　治瘡疹，癍痘毒攻，咽嗌腫痛，熱渴，或成腫毒不消等症。</p>
<p>桔梗　甘草　鼠黏子（炒，各一兩）　麥門冬（五錢）</p>
<p>上每服二錢，水煎。</p>
<p><u>四聖散</u>　治痘疹出不快，及倒靨。</p>
<p>紫草茸　木通　甘草（炙）　枳殼（麩炒）　黃耆（各等分）</p>
<p>上每服二錢，水煎。</p>
<p><u>獨聖散</u>　治痘瘡倒靨陷伏，用穿山甲，取前足嘴上者，燒存性，為末，以木香湯入少酒服之。</p>
<p><u>快透散</u>　治痘瘡出不快等症。</p>
<p>紫草　蟬蛻　木通　芍藥　甘草（炙，各等分）</p>
<p>上每服二錢，水煎。</p>
<p>愚按：海藏先生云：身後出不快，足太陽經也，用荊芥甘草防風湯。身前出不快，手陽明經也，用升麻葛根湯。四肢出不快，足陽明經也，用防風芍藥甘草湯。此皆解毒升發之劑也，不可不知。</p>
<p><u>鼠黏子湯</u>　治癍疹，稠密身熱等症。</p>
<p>鼠黏子（炒）　當歸　甘草（炙，各一錢）　柴胡　連翹　黃芩　黃耆（各一錢半）　地骨皮（二錢）</p>
<p>上每服二錢，水煎。</p>
<p><u>紫草散</u>　治痘疹黑陷，氣血虛弱，瘡疹不起。</p>
<p>紫草　甘草　黃耆（炙）　糯米（各一錢半）</p>
<p>上水煎服。</p>
<p><u>益元散</u>　治痘疹初起，煩躁作渴等症。</p>
<p>滑石（六兩）　甘草（一兩）</p>
<p>上各另為末，每服五六分，白湯調下。</p>
<p><u>活血散</u>　治痘疹血虛，熱已出未盡，煩躁不寧，肚腹疼。</p>
<p>白芍藥（一兩，酒炒）</p>
<p>上為末，每服一匙，糯米湯調下，荔枝湯亦可。對四君子湯，加歸耆名參歸活血散。</p>
<p><u>參耆四聖散</u>　治痘瘡有熱，出至六七日，不能長不生膿，或作癢。</p>
<p>人參　黃耆（炒）　白朮（炒）　茯苓　當歸　芍藥（炒）　川芎（各五分）　紫草（如無，紅花代之）　木通　防風（各三分）　糯米（二百粒）</p>
<p>上水一盞，煎半盞，徐徐服。</p>
<p><u>人參透肌散</u>　治痘瘡虛而有熱，雖能出快，長不齊整，隱於肌膚間者。</p>
<p>人參　紫草（如無，紅花代之）　白朮　茯苓　當歸　芍藥　木通　蟬退　甘草　糯米（各等分）</p>
<p>上每服三錢，水一盞，煎半，徐徐服</p>
<p><u>大連翹飲</u>　治積熱，大小便不利，及痘後餘毒不解，肢體患瘡，或丹瘤遊走不止。</p>
<p>連翹　瞿麥　荊芥　木通　赤芍藥　當歸　防風　柴胡　滑石　蟬退　甘草（各一錢）　山梔（炒）　黃芩（炒，各五分）</p>
<p>上每服三錢，水煎。一歲每服一二匙，三五歲者每服數匙。</p>
<p>愚按：前方苦寒辛散，發散肌表，疏通內臟之劑。若表裡實熱，煩躁飲冷，大便不通，小便秘結者，最宜用之。慎不可過劑，恐後傷胃氣，而變他症也。若妄發之，則成斑爛；妄下之，則成虛脫。</p>
<p><u>胡荽酒</u>　治穢氣，使痘疹出快。</p>
<p>上用胡荽一把，以好酒二盞，煎一兩沸，令乳母每含一兩，口噴兒遍身，勻噴頭面。房中須燒胡荽，香能闢除穢氣，使痘疹出快。煎過胡荽，懸掛房門上，最妙。</p>
<p>愚按：前方最宜用之。若痘疹已出，而飲食少思，宜用棗灸之。兒聞棗香，猶能開胃氣，進飲食，解毒氣。若因飲食停滯，未及消導，遂用此法，恐反助其邪，以生濕熱，則成痘毒也。</p>
<p><u>甘露飲子</u>　治積熱，及痘後咽喉腫痛，口舌生瘡，齒斷宣腫。</p>
<p>生地黃（炒）　麥門冬（去心，焙）　熟地黃　天門冬（去心）　黃芩（炒）　石斛　枳殼（麩炒）　枇杷葉（去毛）　茵陳　甘草（炙，各等分）</p>
<p>上每三錢，水煎。每服三五匙，不可多服。</p>
<p>愚按：前方涼血解毒，除濕清熱，寒中之劑，治者審之。</p>
<p><u>托裡散</u>　治痘毒，元氣虛弱，或行克伐，不能潰散。用之未成自消，已成自潰。</p>
<p>人參　黃耆（炒，各二錢）　當歸（酒洗）　白朮　陳皮　熟地黃　茯苓　芍藥（炒，各一錢五分）　甘草（炙，五分）</p>
<p>上三五錢，水煎服。</p>
<p><u>托裡消毒散</u>　治痘毒，氣血虛弱，不能起發，腐潰收斂，或發寒熱，肌肉不生。</p>
<p>人參　黃耆（炒）　當歸（酒洗）　川芎　芍藥（炒）　白朮（炒）　陳皮　茯苓（各一錢）　金銀花　連翹　白芷（各七分）　甘草（五分）</p>
<p>上每服三五錢，水煎服。</p>
<p><u>八正散</u>　治下焦積熱，大小便不通，或小便淋漓，脈症俱實者。</p>
<p>大黃（酒炒）　車前子（炒）　瞿麥　萹蓄　山梔（炒）　木通（各一錢）　滑石（煅二錢）　甘草（一錢）</p>
<p>上每二錢，水煎服。</p>
<p><u>涼膈散</u>　治上焦實熱，煩渴，面目赤熱，頭昏咽燥，咽痛口瘡，便溺赤澀，狂言譫妄，睡臥不安。</p>
<p>大黃　朴硝　甘草（各二兩）　連翹（一兩）　梔子仁　薄荷葉（各二錢）</p>
<p>上為末，每服一錢，竹葉、蜜些少煎服。</p>
<p><u>解毒防風湯</u>　治痘瘡，毒氣熾盛。</p>
<p>防風　地骨皮　黃耆　白芍藥（炒）　荊芥　牛蒡子</p>
<p>上每服四錢，水煎服，或為末，白湯調下。</p>
<p><u>人參理中湯</u>　治中氣虛熱。</p>
<p>人參　白朮（炒）　甘草（炙，各等分）</p>
<p>上每服一錢，薑棗水煎服。為末，薑汁糊丸，綠豆大，每服二三十丸，白湯下，亦可。</p>
<p><u>六君子湯</u>　治脾胃虛弱，不思乳食，或嘔吐泄瀉，飲食不化，或時患飲食停滯。</p>
<p>人參　白朮　茯苓（各二錢）　陳皮　半夏　甘草（炙，各一錢）</p>
<p>上每服二三錢，薑棗水煎。</p>
<p><u>補中益氣湯</u>　治中氣不足，因睡發熱，或元氣虛弱，感冒風寒諸症。</p>
<p>黃耆（炙）　人參　白朮（炒）　甘草（炙）　當歸　陳皮（各五分）　升麻　柴胡（各二分）</p>
<p>上薑棗水煎。</p>
<p><u>瀉黃散</u>　治脾胃實熱。</p>
<p>藿香葉　甘草（各七錢五分）　山梔仁（一兩）　石膏（五錢）　防風（二兩）</p>
<p>上用蜜、酒微炒為末，每一二錢，水煎。</p>
<p><u>五味異功散</u>　治脾胃虛弱，吐瀉不食。</p>
<p>人參　茯苓　白朮　甘草（炒）　陳皮（各等分）</p>
<p>上為末，每服三錢，薑棗水煎。</p>
<p><u>四君子湯</u>　治脾虛，飲食不化，或泄瀉嘔吐。</p>
<p>人參　白茯苓　白朮　甘草（炙，各五分）</p>
<p>上水煎服。</p>
<p><u>四物湯</u>　治肝脾血虛，發熱，日晡益甚，或煩躁不寐。</p>
<p>當歸　熟地黃（各二錢）　白芍藥（炒，一錢）　川芎（五分）</p>
<p>上作二劑，水煎服。</p>
<p><u>桔梗湯</u>　治咳嗽吐膿，痰中有血，已成肺癰。</p>
<p>桔梗（炒）　貝母　當歸（酒浸）　瓜蔞仁　枳殼（麩炒）　薏苡仁　桑白皮（炒）　百合（蒸，各一錢五分）　五味子（炒）　甜葶藶（炒）　地骨皮　知母（炒）　甘草節　防風　黃耆（炒）　杏仁（各五分）</p>
<p>上每服一二錢，水煎。</p>
<p><u>四順清涼飲</u>　治積熱，頰赤作渴，四肢驚掣，大便秘澀。</p>
<p>赤芍藥　當歸　大黃　甘草（各等分）</p>
<p>上每服一錢，水煎。</p>
<p><u>蟾蜍丸</u>　治無辜疳症，一服虛熱退，二服煩渴止，三服瀉痢愈。</p>
<p>蟾蜍（一枚，夏月滿渠中，取腹大、不跳不鳴、身多㿔者）</p>
<p>上取糞蛆一杓，置桶中，以尿浸之。卻將蟾蜍跌死，投與蛆食，一晝夜。用布袋盛蛆，置急流中一宿。取出，瓦上焙乾為末，入麝香一字，粳米飯丸麻子大。每服二三十丸，米飲下。甚效。</p>
<p><u>人參敗毒散</u>　治傷風時氣，寒熱咳嗽。</p>
<p>人參　茯苓　甘草（炒）　前胡　川芎　羌活　獨活　桔梗　柴胡　枳殼（各等分）</p>
<p>上為末，每服一二錢，生薑、薄荷水煎。</p>
<p><u>仙方活命飲</u>　治一切瘡毒，未成內消，已成即潰。此消毒排膿止痛之聖藥也。若膿出而腫痛不止，元氣虛也，當用托裡散之類。</p>
<p>穿山甲　白芷　防風　沒藥　甘草　赤芍藥　當歸尾　乳香　天花粉　貝母（各一錢）　金銀花　陳皮（各三錢）　皂角刺（二錢）</p>
<p>上每服二三錢，酒水各半煎。</p>
<p><u>神效隔蒜灸法</u>　治痘疔毒氣熾盛，使諸痘不能貫發，已起發者不能貫膿，已貫膿者不能收靨，或大痛，或麻木。痛者灸至不痛，不痛劑灸至痛，其毒隨火而散。京師嘗見治此者，即已線針挑破，出毒血諸毒，隨時貫膿。若挑破不痛、不出血者，難治。若用此法灸之即知痛，更用針挑破，紫血隨出，諸痘隨貫，亦有生者。其法用大蒜頭切三分厚，安痘疔上，用小艾炷於蒜上灸之，每五壯，易蒜再灸。若紫血出後，腫痛不止，尤宜當灸。治者審之。</p>
<p><u>神效當歸膏</u>　治痘毒津淫，或湯火等瘡，不問已潰未潰。</p>
<p>當歸　黃蠟　生地黃（各一兩）　麻油</p>
<p>上先將當歸、地黃，入油煎黑去渣，入蠟熔化，候冷攪勻，即成膏矣。</p>
<p><u>蛇蛻散</u>　治痘毒目翳。</p>
<p>蛇蛻（二錢，為末）　瓜蔞仁（五錢，研爛）</p>
<p>上用羊肝一片，批開，入藥末二錢，線紮緊，用米泔煮熟，頻與兒食，或乳母食。</p>
<p><u>荊齊甘草防風湯</u>　解痘毒。</p>
<p>荊芥　甘草　防風（各等分）</p>
<p>上每服一錢，水煎。</p>
<p><u>防風芍藥甘草湯</u>　解痘毒。</p>
<p>防風　芍藥　甘草（各等分）</p>
<p>上每服一錢，水煎。</p>
<p><u>麻黃甘草湯</u>　治表實痘毒熾盛。</p>
<p>麻黃（五分）　生甘草（三分）</p>
<p>上水煎服。</p>
<p><u>輕粉散</u>　治出痘，眼內生臀。</p>
<p>真輕粉　黃丹（各等分）</p>
<p>上研，左眼有翳，吹入右耳；右眼有翳，吹入左耳。更以綠豆皮、穀精草、白菊花各一兩，為末，每服三錢。乾柿一枚，米泔一盞煎乾，將柿去核食之，不拘時候，日三枚。</p>
<p>成都方士禹太和云：治痘瘡黑陷垂死者，用壁間喜蜘如黃豆者一枚，擂爛。若一歲兒，用雄黃一釐，二歲者用二釐，十歲者一錢。再同蜘蛛研勻，用好燒酒一杯調和，徐徐服之。余意此方，即同前十二味，與十一味異功散之相類也。若因陽氣虛寒，不能營運周身，以致四肢逆冷，腹脹唇青，其色黑陷劑，宜用燒酒。若因元氣虛乏，或色淡白，隱隱見於肌膚，而不能起發者，宜用陳酒亦可，不可拘滯於燒酒也。若小兒未周歲者，宜酌量與服之，亦不可拘於杯許也。又有一等氣血俱虛者，或色淡紅而不光澤，又不起發，或驚悸咬牙，用紫草與紅花，以煮陳酒，濃煎與兒服之，亦可以保其全生也。用者宜審諸。</p>
<p><u>抱龍丸</u>　治痰熱喘嗽，發熱，驚悸不安，亦能發痘瘡。</p>
<p>膽星（四兩）　天竺黃（一兩）　雄黃　硃砂（各五錢）　麝香（少許）</p>
<p>上為細末，用甘草一斤，煮汁為丸，每一兩作二十丸。用薄荷，或燈心湯化下。</p>
<p>造膽星法：南星不拘多少，臘月蠟水浸洗切塊，曬乾為末，用黃牛膽汁拌勻，仍用牛膽殼裝入填滿，以線扎口，懸掛當風處陰乾，隔年方可用。</p>
<p>愚按：前方清熱豁痰利氣之藥，過劑則脾肺復傷，而反不愈。或更加胸腹作脹，飲食作嘔者，宜用人參白朮散，培補中氣。</p>
<p><u>五福化毒丹</u>　治胎毒，及痘後頭面生瘡，眼目腫痛。</p>
<p>生地黃　熟地黃　天門冬（去心）　麥門冬（去心）　玄參（各三兩）　甘草　甜硝（各三兩）　青黛（一兩五錢）</p>
<p>上為末，煉蜜丸，芡實大。每服一丸，白湯化下。</p>
<p>愚按：前方生血涼血，解毒寒中之劑，用之得宜，殊有良驗，不過一二丸。</p>
<p><u>犀角消毒丸</u>　治諸積熱，及痘疹後，餘毒生瘡。</p>
<p>生地黃　防風　當歸　犀角屑（鎊）　荊芥（各一兩）　牛蒡子（杵，炒）　赤芍藥　連翹　桔梗（各七錢）　薄荷　黃芩（炒）　甘草（各五錢）</p>
<p>上為末，煉蜜丸芡實大。每服一丸，薄荷湯下</p>
<p>愚按：前方清熱解表，涼血破血，消毒損胃之劑，多不過一二服。大凡痘毒，當參前痘瘡誤飲冷水韶粉散治法用之。余仿此。</p>
<p><u>敗草散</u>　治痘瘡撾搔，或瘡膿血淋漓，謂之斑爛。用屋爛草，或蓋牆爛草，多年者佳，如無，曠野生者尤佳，為末搽之。</p>
<p>愚按：前症亦有氣血虛熱而不愈者，如遍身患者，須多摻鋪席上，令兒坐臥，其瘡即愈。</p>
<p><u>羊肝散</u>　治痘毒入眼，或無辜疳氣入眼。</p>
<p>密蒙花　青葙子　決明子　車前子（炒）</p>
<p>上為末，用密蒙花末三錢，余藥各一錢拌勻，用羊肝一大葉薄批，摻上，濕紙里煨熟，空心食之。</p>
<p>愚按：前症若因肝經風熱傷血，宜用本方。若因肝經血虛風燥，宜用四物湯加山梔、釣藤鉤、牡丹皮。若因肝經血虛生風，或腎水不能生肝木，宜用六味丸。若成肝疳者，用六味地黃丸，以滋肝腎；用四味肥兒丸加人參、白朮，以補肝脾。</p>
<p>一小兒，痘瘡目生昏翳，或作或徹，服退翳之藥不愈，診之脈弦細而數。此乃肝腎有疳症，余用九味蘆薈丸，及六味地黃丸，又與輕粉黃丹散，尋愈。</p>
<p>一小兒，患兩目赤腫，痛不可當。此肝火為患，用四物合小柴胡，加山梔、牛蒡子、生甘草，倍用穀精草，數劑而愈。</p>
<p>一小兒，痘愈後，眼痛不開，用犀角地黃湯加柴胡湯，一劑而開。又生赤翳迷滿，仍用前藥，加穀精草，治之而愈。</p>
<p><u>蟬菊散</u>　治癍瘡入眼，或病後生翳障。</p>
<p>蟬蛻（洗淨，去土）　白菊花（各等分）</p>
<p>上每服二錢，水一盞，入蜜少許煎。乳食後，量兒大小與之。</p>
<p><u>羌菊散</u>　治痘毒上攻生翳，並暴赤羞明。</p>
<p>羌活　蟬蛻　防風　蛇蛻　菊花　穀精草　木賊　甘草　山梔子　白蒺藜　大黃　黃連　沙苑蒺藜（各等分）</p>
<p>上為末，每服一錢，清米泔溫暖調下。</p>
<p><u>丹粉散</u>　治痘毒，膿水淋漓。</p>
<p>輕粉　黃丹（各五分）　黃連末（二錢）</p>
<p>上研勻，搽患處。</p>
<p><u>羚羊角散</u>　治小兒癍疹後，餘毒不解，上攻眼目，生翳羞明，眵淚俱多，紅赤腫閉。</p>
<p>羚羊角（鎊）　黃芩　黃耆　草決明　車前子　升麻　防風　大黃　芒硝（各等分）</p>
<p>上以水一盞，煎半盞，去滓，稍熱服。</p>
<p><u>消毒化癍湯</u>　治小兒癍疹，未滿二十一日，而目疾作者，餘症上同。（即消毒救苦湯）</p>
<p>羌活（五分）　藁本（二分）　細辛（二分）　黃連（三分）　黃芩（一分）　酒芩（二分）　酒柏（三分）　生地黃（三分）　麻黃（五分）　升麻（五分）　白朮（一分）　蒼朮（二分）　生甘草（一分）　吳茱萸（半分）　陳皮（一分）　紅花（半分）　蘇木（一分）　當歸（三分）　連翹（三分）　防風（五分）　川芎（二分）　葛根（一分）　柴胡（二分）</p>
<p>上作一服，水二盞，煎至一盞，去滓，稍熱服。</p>
<p><u>穀精草散</u>　治痘疹已靨，翳膜遮障瞳子等症。</p>
<p>穀精草　蛤粉　黑豆（各二兩）</p>
<p>上為末，用雄豬肝一葉，竹刀批開，摻藥在內，以麻線縛定，用罐內水煮熟，令兒食之。</p>
<p><u>當歸補血湯</u>　治血氣損傷，或妄服峻劑，致氣血益虛，肌熱，大渴引飲，目赤面紅，脈洪大而虛，重按全無。此病多得於飢飽勞役者。</p>
<p>黃耆（炙，一兩）　當歸（三錢，酒製）</p>
<p>上水煎，乳母同服。</p>
<p><u>濟生犀角地黃湯</u>　治鬱熱不解，經絡隨氣湧泄為衄血；或清道閉塞，流入胃脘吐血；或余血停滯，面色痿黃，大便色黑者。</p>
<p>犀角　生地黃　白芍藥　牡丹皮（各一錢）</p>
<p>上水煎服，乳母同服。</p>
<p><u>四神丸</u>　治脾胃虛弱，大便不實，飲食不思，或泄利腹痛等症。</p>
<p>肉豆蔻（二兩）　補骨脂（四兩）　五味子（二兩）　吳茱萸（浸炒，一兩）</p>
<p>上為末，生薑八兩，紅棗一百枚，煮熟取棗肉和末，丸桐子大。每服五七十丸，空心或食前，白湯服。去五味子、吳茱萸，名二神丸。</p>
<p><u>四味肥兒丸</u>　治小兒食積五疳，或白禿體瘦，肚大筋青，發稀成穗，或遍身瘡疥等症。</p>
<p>蕪荑（炒）　神麯（炒）　麥蘖（炒）　黃連（各等分）</p>
<p>上為末，豬膽汁丸，黍豆大。每服三十丸，木通煎湯下。</p>
<p><u>九味蘆薈丸</u>　治小兒肝脾疳積，體瘦熱渴，大便不調，或瘰癧結核，耳內生瘡等症。</p>
<p>胡黃連　黃連　蘆薈　木香　蕪荑（炒）　青皮　白雷丸　鶴膝草（各一兩）　麝香（三錢）</p>
<p>上為末，蒸餅糊丸，麻子大。每服一錢，空心白湯下。</p>
<p><u>大蕪荑湯</u>（一名梔子茯苓湯）　治小兒脾疳少食，發熱作渴，大便不調，發黃脫落，面黑便清，鼻下生瘡，能乳食土等症。</p>
<p>山梔（三分）　黃柏　甘草（炙，各二分）　蕪荑（五分）　黃連　防風（各二分）　麻黃　羌活　柴胡（各三分）　白朮　茯苓　當歸（各四分）</p>
<p>上每服二三錢，水煎。</p>
<p><u>濟生歸脾湯</u>　治脾血虧損，健忘驚悸等症。</p>
<p>人參　黃耆　茯神（各一錢）　甘草（炙，五分）　白朮（炒，一錢）　木香（五分）　遠志　酸棗仁（炒）　龍眼肉　當歸（各一錢）</p>
<p>上水煎服。</p>
<p>愚按：前方若乳母憂思傷脾，血虛發熱，食少體倦，或脾不能攝血，以致妄行吐下，或健忘怔忡，驚悸少寐，或心脾作痛，自汗盜汗，或肢體腫痛，大便不調，或經後不準，晡熱內熱，或唇瘡流注等症致為患者用之，令子母俱服。</p>
<p><u>八味地黃丸</u>　即錢氏地黃丸加肉桂、附子各一兩。</p>
<p>愚按：前方治稟賦命門火衰，不能生土，以致脾土虛寒，或飲食少思，或食而不化，臍腹疼痛，夜多漩溺等。若病久元氣耗損所致，尤宜用之。或乳母命門火衰，兒飲其乳，以致前症者，母宜服之。</p>
<p><u>加減八味丸</u>　即六味地黃丸加肉桂一兩，五味子四兩。治稟賦腎陰不足；或吐瀉久病，津液虧損，口乾作渴；或口舌生瘡，兩足發熱；或痰氣上湧；或手足厥冷等症。</p>
<p><u>八珍湯</u>　即前四君子、四物二湯相合。</p>
<p>愚按：前方治氣血俱虛，或因克伐之劑，脾胃虧損，肌肉消瘦，發熱寒熱，飲食少思等症。</p>
<p><u>十全大補湯</u>　即八珍湯加黃耆、肉桂。</p>
<p>愚按：前方氣血虛弱，或稟賦不足，寒熱自汗，食少體瘦，發熱作渴，頭痛眩暈。</p>
<p><u>逍遙散</u>（加山梔、牡丹，名加味逍遙散）</p>
<p>當歸　甘草（炙）　芍藥（酒炒）　茯苓　白朮（炒）　柴胡（各一錢）　牡丹皮　山梔（炒，各七分）</p>
<p>上水煎服。</p>
<p>愚按：前方若乳母肝脾血虛內熱；或遍身搔癢，寒熱；或肢體作痛，頭目昏重；或怔忡頰赤，口燥咽乾；或發汗盜汗，食少不寐；或口舌生瘡，耳內作痛；或胸乳腹脹，小便不利，致兒為患者，尤宜用之。</p>
<p><u>九味龍膽瀉肝湯</u>　治肝經濕熱，或囊癰、下疳、便毒，小便澀滯，或陰囊作痛，小便短少。（愚制）</p>
<p>龍膽草　車前子　木通　當歸尾　澤瀉（各五分）　甘草　黃芩　生地黃　山梔（各三分）</p>
<p>上水煎，子母同服。</p>
<p><u>抑肝散</u>　治肝經虛熱發搐；或發熱咬牙，或驚悸寒熱；或木乘土，而嘔吐痰涎，腹膨少食，睡臥不安。（愚制）</p>
<p>軟柴胡　甘草（各五分）　川芎（八分）　當歸　白朮（炒）　茯苓　釣藤鉤（各一錢）</p>
<p>上水煎，子母同服。</p>
<p><u>梔子清肝散</u>（一名柴胡梔子散）　治三焦及足少陽經風熱，耳內作癢生瘡，或水出疼痛，或胸乳間作痛，或寒熱往來。</p>
<p>柴胡　梔子　牡丹皮（各一錢）　茯苓　川芎　芍藥　當歸　牛蒡子（炒，各半分）　甘草</p>
<p>上水煎，子母服。若太陽頭痛，加羌活。</p>
<p><u>柴胡清肝散</u>　治鬢疽，及肝、膽、三焦風熱怒火之症，或項胸作痛，瘡毒發熱。（愚制）</p>
<p>柴胡（一錢半）　黃芩（炒）　人參　川芎（各一錢半）　山梔（炒一錢半）　連翹　甘草（五分）　桔梗（八分）</p>
<p>上水煎，子母同服。</p>
<p>（小柴胡湯加山梔、牡丹皮，名<u>加味小柴胡</u>）　治傷寒溫熱，身熱惡風，頭痛項強，四肢煩疼，往來寒熱，嘔噦痰實，中暑瘧疾，並服之。（閻注）</p>
<p>柴胡（二錢）　黃芩（炒，一錢半）　人參　半夏（各七分）　甘草（炙，五分）</p>
<p>上姜水煎，子母同服。</p>
<p>愚按：前方若肝膽經風熱，肝火瘰癧，寒熱往來，日晡發熱，潮熱身熱，不欲飲食；或怒火口苦耳聾，咳嗽；或肋痛胸滿，小便不利；或泄瀉吐酸苦水；或肢體搐動，唇目抽札，並宜用之。</p>
<p><u>砭法</u>　治丹毒疔瘡，紅絲走散，或時毒瘀血壅盛，或色赤走亂。用細磁器擊碎，取有鋒芒劑，以箸劈開頭夾之，麻線纏定，兩指輕撮箸，稍令磁芒正對患處，懸寸許，再用箸頻擊。</p>
<p><u>神功散</u>　治痘毒腫焮作痛。未成者敷之即散；已潰者敷之，腫痛即消。</p>
<p>黃柏（炒）　草烏（炒）　血竭（加）</p>
<p>上為末，等分，津調敷患處。</p>
<p><u>製附子法</u></p>
<p>附子，重一兩三四錢，有蓮花瓣，頭圓底平者。先備童便五六碗。將附子先放在灶上煙櫃中間良久，乘熱投入童便，浸五七日後，潤透揭皮，切四塊，仍浸二三日，用粗紙數層包之，浸濕，埋灰火，半日取出。切片檢視，有白星者，仍用瓦上炙熟，至無白星為度。如急用，即切大片。用童便煮二三沸，熱瓦熟用之。</p>
<p><u>丹溪先生解瘡毒藥</u></p>
<p>絲瓜　升麻　芍藥（炒）　生甘草　山楂　黑豆　赤小豆　犀角（鎊，各等分）</p>
<p>上為粗散。每服三錢，水一大盞，煎至六分，去滓，不拘時，徐徐溫服。量大小加減。</p>
<p><u>稀痘方</u></p>
<p>用老鼠去皮取肉，水煮熟，量兒大小，與食數次，出痘甚稀。未食葷時，與食尤效。屢試屢驗。</p>
