<header data-type="book">
<h1>醫原</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>石壽堂</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1861">公元1861年</data></dd></div>
</dl>
</header>

<h1>吳序</h1>
<p>萬物之生，負陰而抱陽，沖氣以為和。故上古之人，其知道者，法於陰陽，和於術數。陰陽者，術數之本；術數者，陰陽之著。而非知道不能，醫可易言乎哉？醫之道，譬若宮牆。辨虛實，審寒熱，其門徑也。門徑苟差，何由升堂入室乎？世人涉獵方書，講求形證，自以為能，是猶寢饋於門戶之間，不復知有堂室矣！而或者高語《內》、《難》，虛言脈要，則又如天際之翔，出於豐屋之上，奧窔之間，畢生莫睹。二者雖異，其弊則均。蓋人之生也，有原，則其所以病，亦有原。明乎其原，而後針石之投，湯液醪醴之設，非臆度而懸揣，而因得收效於一時；不然毫釐千里之差，生死呼吸之所繫，醫顧可易言乎哉？石子芾南，余初識之於京邸，恂恂若無能者，嗣聞其善醫，視其方亦似與人無殊特者，而應手輒效。叩之以其故，則曰世人習用之方，大率類此，而輕重之准，剛柔之質，先後之宜，非識者難言之矣！客冬以團練之役，訪之於漣城，就詢時務，雖一鄉一邑之設施，而洞見癥結，因地制宜，亦如隨證立方焉！洵醫國之妙手，而非無本之談也。因求其所著《醫原》讀之，本末貫串，文字昭晰，可以一見了如，而欲窮就義蘊，輒有望洋之嗟！信乎？能達其原，而岐伯之奧旨，仲景之秘思，中法西法之妙用，一以貫之矣。夫欲上太行必恃車馬；欲導積石必恃舟航。世之掇拾類書，強記藥性，衣食於醫者，或無取乎是書；若立志活人，而欲進於古之知道者，則是書實醫家之車馬舟航矣。故亟慫恿付梓，而書數言於篇首，以告世之學醫者。</p>
<p><u>時咸豐十有一年辛酉夏月清河愚弟吳昆田謹序</u></p>

<h1>張序</h1>
<p>道之大原出於天，凡道之所分寄，亦必探原於天，醫其一端也。蓋天之道，不外陰陽五行，稟陰陽五行之精氣。而人生焉，感陰陽五行之戾氣，而人病焉。然非見道之儒者，又孰從而探之？吾友石子芾南，淮北名孝廉也，才識既高，學術並茂。其於五子之書，百家之論，莫不探微抉奧，體用兼䀭。而又以其餘力，考岐黃闡《內》《難》，陰陽有辨，五行有分，耳目口鼻之司，肌膚筋骸之會，動靜燥濕之宜，凡和緩之所未發，倉扁之所難言，莫不因人見天，葆其天之所本有，治其天之所本無，以人治人，實以天還天而已。吾與石子交最久，叩其學甚深。他日嘗惱醫家之不通儒術，率皆昧於其原而僅逐其末也。著《醫原》二十篇，因病之原，探醫之原，並探其原中之原。披閱之下，益信石子之學為有原也。乃或者曰：醫小道也，儒者亦為之耶？夫就醫論，醫其小之也，固宜，若醫而探原於天，則因醫見道，苟非學貫天人，又安能悟天人合一之旨？則即小以觀大可也。雖然是書之成，在醫家必奉為圭臬，在作者特出其緒餘焉耳？一旦居宰衡之任，司燮理之權，必能究致治清濁之原，而壽人壽世，良相良醫，不難以一人收其全功，而天下亦共知儒術之大。陰陽五行之蘊，天人一原之理，無乎不在也。斯篇其石子之嚆矢也！夫是為序。</p>
<p><u>咸豐十一年歲次辛酉孟夏月同里愚弟張星亙子綿頓首拜撰</u></p>

<h1>自序</h1>
<p>余家事醫學，歷七世於茲矣。憶自入塾受書時，略明句讀，先君子即授以醫家言，命與四子書並讀。嘗謂業醫而不讀書，有終身由之而不知其道者，且為人子而不知醫亦非孝也。爰為壽棠立程課，朝而儒，夕而醫，歷數十寒暑如一日，雖習舉子業，未嘗或忘，家慈又體質素弱，醫藥不離，每侍疾時，與醫家參以診劑，輒頗得效，自是尤三致意焉。年來公車慄六，迄無暇時，復以南北烽煙，逼近鄉里，邑候延余倡辦團練，每於夜巡稍暇，人靜更闌，重述先子之緒言，因匯前賢之全說，凡四閱月，得《醫原》二十篇。非敢以言壽世也，但求無負先人之意，且敬承世業云爾！嗚呼！父書幼讀，愧守箕裘，庭訓未忘，感深風木，此則有益增余慟者矣！</p>
<p><u>咸豐十一年歲次辛酉仲春月上浣安東石壽棠芾南書於留耕書屋</u></p>

<h1>張序</h1>
<p>昔外父章次柯先生嘗云：萬事萬物，各有其原。儒之道原於孔孟，醫之道原於歧黃，歧黃之《靈》、《素》，乃醫書之大原也。漢之張仲景深參《靈》《素》之秘，人稱南陽醫聖，所傳《傷寒》《金匱》，後世奉為圭臬。晉唐以下，代有傳人，著書之多，汗牛充楝，其上者各得仲景之一體，其下者惑世誣民，離經畔道，猶吾儒之有偽學也。俗士不察，利其淺近，為衣食奔走之計，貽生人夭札之憂，醫學之衰，悉由於此。汝其慎之，（馳）佩之不敢忘。近得石孝廉《醫原》一書，其立論在先識人身內景，臟腑形質，營氣衛氣，五行生剋，百病提綱，及手足各經陰陽表裡之義。次及內傷外感，兒病女科，標本虛實，無不洞悉原委，深中病機。又次則述及藥性，有論無方，脫盡窠臼，視世之拘拘然守成方者，相去爰啻霄壤，（馳）不敢謂比諸古人之書奚若，若近世之嘉言三書，靈胎六種，可謂如驂之靳矣。嗣又得吾郡徐明經所著《醫學舉要》一書，論六經則條分縷析，論時邪雜症則語簡旨賅，治法悉合乎機宜，論方不流於偏僻，其醫案數則，精思所到，彷彿古人，雖不逮石氏之精博，而其平時之精闡《素》、《靈》，推原仲景，已可略見一斑。總之石氏之書其原也，徐氏之書其委也，兩書彙集，由原竟委之謂也，當世高明之士，尚其鑑諸。</p>
<p><u>光緒十有七年季夏後學華亭張聲馳謹序</u></p>

<h1>卷上</h1>

<h2>人身一小天地論</h2>
<p>人稟陰陽五行之氣，以生於天地間，無處不與天地合。人之有病，猶天地陰陽之不得其宜。故欲知人，必先知天地。《易》曰：立天之道，曰陰與陽；立地之道，曰柔與剛。蓋剛柔之質，即陰陽之氣所凝結。故程子曰：凡有氣，莫非天；凡有形，莫非地。又曰：地氣不上騰，則天氣不下降，天氣降而至於地，地中生物，皆天氣也。朱子曰：地居天中央不動，不是在下。（天之包地，如鳥卵之含黃。天大地小，表裡皆水。地名地球。天圓，而地亦圓。曰地方者，謂地之德方，靜而承天者也）。使天有一息之停，則地須陷下。此天包乎地之義也。以人言之，膈膜以上，肺與心與心包絡，象天；膈膜以下，肝、膽、脾、胃、小腸、大腸、腎、三焦、膀胱，象地。經云：天樞（臍穴）以上，天氣主之；天樞以下，地氣主之。是以天樞居腹之中間者言之也。余以膈膜上下分天地者，以氣之輕清者為天，氣之重濁者為地言之也。然膈膜以下，主之者地氣，而統之以運行者，實皆天氣。匪直此也，凡皮膚、肌肉、經絡、筋骨、臟腑之有形質而凝靜者，皆象地，皆屬陰；而皮膚、肌肉、經絡、筋骨、臟腑之有空竅以運行者，皆象天，皆屬陽。精（兩神相摶，合而成形，常先身生，是謂精）津（腠理發泄，汗出溱溱，是謂津）涕（淚也）唾（口液也）氣（上焦開發，宣五穀味，熏膚，澤毛，若霧露之溉，是謂氣）血（中焦受氣取汁，變化而赤，是謂血）液（谷入氣滿，淖澤注於骨，骨屬屈伸，泄澤，補益腦髓，皮膚潤澤，是謂液）。猶天地之有月與水也；陽氣，猶天地之有日與火也。故曰人身一小天地。</p>
<p>考天有九重：最上一重為宗動天，左旋；其內八重天（恆星天、土星天、木星天、火星天、太陽天、金星天、水星天、太陰天），右旋；逐日為宗動天，裹之左旋。是宗動天者，乃一氣運行群動之宗也。（中學謂天道左旋，日月亦是左旋。此主七政天隨宗動天以行也。西學謂宗動天是左旋，七政天是右旋。此主七政本天之行以言之也。）人之身，肺為華蓋，居於至高，一呼一吸，與天氣相通，體極輕虛，用主肅降，肺固人之天也。不獨肺之本臟為天，凡臟腑間經絡及內外空竅之能通氣者，皆莫非天。雖各臟腑之經絡空竅，有各臟腑之本氣以運行，如七政本天之運行一般，而要皆隨肺氣以運行，皆為肺氣所貫通，肺固人之宗動天也，故曰肺主天氣。肺氣故名宗氣，又名大氣。地居天中，人在氣中，天包乎地，氣包乎質，天地與人，同一理也。夫在天則有日，在人則有心，心系於肺，猶日系於天；天為陽，日為陽之精，肺氣為陽，心為陰中之太陽。天行健，一日一夜，周三百六十五度四分度之一，又進過一度，日行稍遲，一日一夜，周三百六十五度四分度之一，因天進一度，則日為退一度。人身肺之宗氣，統心之營氣，一日一夜，五十度周於身，每日自寅始，至醜終，終而復始，七日行足，方與天合度。故《易》曰：七日來復，以見天心。蓋營氣之行，必隨宗氣以行，所以十二經脈，首從肺起，每日寅時，百脈上朝於肺（人生於寅），肺主天氣，其明證也。</p>
<p>夫人周身經絡，皆根於心，而上通於肺，以回於下，如樹之有根有干有枝，百體內外，一氣流通，運行血脈，以相出入，經故曰心生血，又曰諸脈皆屬於心。按經絡功用不同，隱見亦異。經曰：經脈者，常不可見也；脈之見者，皆絡脈也。蓋經脈主發血，由臟腑而外行，近筋骨，故肌肉厚處，按之便不覺跳動；絡脈主回血，由外而還行臟腑，近肌肉，故易見，藍色無脈者皆是。經脈由里而外，其氣旺，旺則行速，速則有血有脈，其血赤；絡脈由外而里，其氣緩，緩則行遲，遲則有血無脈，其血紫。西學所謂生血管者，經是也；回血管者，絡是也。房者，心竅是也。經脈從心左下竅而生，行心左上竅而上，與左肺葉內經脈相通，由肺回曲而下，循手經，下達足經，以入孫絡（絡之細者）；迨由孫絡以至絡脈，漸行漸緩，其色遂變為紫，於是紫血由絡脈而行，上至心右上竅兩絡脈中，還行心右下竅絡脈，上入右肺葉內絡脈，紫血復變為赤（陰從陽化），迴心左上竅，還行心左下竅。經脈（右旋而復行於左）往來運行，如環不絕。經生血，故左旋；絡回血，故右旋。左旋者，陽統陰；右旋者，陰從陽（與河圖洛書無異）。其實是一氣旋轉，並非兩氣。觀此與天之左旋速、右旋遲者，適相合矣；與天之左右旋而統歸一氣者，更無不合矣。經絡如此，臟腑可知。臟腑中皆有經絡貫串，以通於內外。凡可通者，皆屬天氣。六腑如器，更無不然。不獨賁門、幽門、闌門、三焦之門之通天氣也，更不獨喉通天氣，咽通地氣，以上承天氣也。此身以內之天也。</p>
<p>再以身外之天言之。經云：頭圓象天。頭為諸陽之會，頭主天，氣固也；天氣遏郁，頭重頭痛固也。即足之至下，亦天氣所貫通。所以人病肺痿，足即痿躄不能行；外感阻遏肺氣，足即痠痛，甚則足冷，皆其證也，所謂天包乎地也。經曰：天氣通於鼻。又曰：鼻為肺竅。一經外感，咳嗽喘滿，鼻竅即塞而不利，是鼻竅與肺最切近者也。他如心寄竅於耳，膽脈上絡於耳，腎開竅於耳，肝開竅於目，脾開竅於口，腎又開竅於二陰，乳竅下通於肝胃，臍竅後通於命門。（臍竅與兩腎中間之命門，針鋒相對。）雖各竅自有其本氣，而要皆宗氣所貫通也。請析言之：心、膽、腎因虛燥而耳鳴；心、膽、腎因濕阻而耳聾；心、膽、腎之本氣自病也。嘗見外感阻遏宗氣，燥勝則耳亦鳴，濕勝則耳亦聾。肝受燥風、濕熱則病目，肝之本氣自病也。夫五臟之精華，皆上注於目，腎又為五臟之氣之根，腎中真陰真陽虛，而目昏昧，經故曰脫陰者目盲，脫陽者見鬼。五臟之根氣自病也。嘗見外感阻遏宗氣，燥勝則熱，熱則不能化陰外達，而目無淚而干；濕勝則濡，濡則不能化水下降，而目多淚而爛。脾有濕熱，則口癉而生甜水；脾有燥熱，或膽經燥熱乘脾，則口苦而多煩渴；脾之本氣自病也。嘗見外感阻遏宗氣，肺陽鬱於上，不得化陰於下，亦為唇燥口渴。腎之陽虛，不能約水，而為遺溺，不能行水，而為自利；腎之陰虛，不能濡腸，而矢燥結，不能濡膀胱，而溺短數；腎之本氣自病也。嘗見外感阻遏宗氣，而亦為腸秘，為癃閉，或燥勝為窘迫下利，或濕勝為五泄。肝、胃陰虛，無由升化乳汁；肝、胃陽結，不能上通乳竅；肝胃之本氣自病也。嘗見外感阻遏宗氣，濕熱壅於血分，營衛不從，逆於肉裡，致生乳癰；其七情致傷心氣，燥熱結於血分者，則為乳岩。凡外感燥濕，種種見證，雖各臟腑本氣自病，而要皆關乎肺，以肺為群氣之宗，天無二氣故也。不獨空竅之大者為然也，即皮膚外八百萬有奇之汗空（汗空名玄府，又名鬼門，）亦無不然，經故曰：肺主皮毛。其內傷肺氣，氣不化水（自利）、氣不攝津（自汗）、氣不統血、氣不固精，即見自利、自汗、脫血、脫精、陰脫、陽厥、絕汗出諸證。故曰：天有一息之停，則地須陷下。若外感阻遏肺氣，不得外達，又不得下降，宗氣自病，致他臟腑經絡之本氣亦病。肺氣不得外達，即見憎寒、發熱、頭痛、身痛、腰痛、手足痠痛諸證；肺氣不得下降，即見腹痛、胸痹、咳嗽、嘔吐、喘逆諸證。感風燥、暑燥、寒燥之氣，搏束氣機，不得外達，而為無汗；感風濕（自汗）、寒濕（冷汗）、暑濕、濕溫（熱汗）之氣，阻遏氣機，不得下降，橫溢而為自汗、冷汗、熱汗。又或燥結血分，而為熱厥；濕阻氣分，而為寒厥；燥降太過，熱甚迫津，而為火瀉；濕鬱太過，氣不行水，而為五泄，抑或為溺塞便閉。譬如注水之器，上竅閉塞，則下竅點滴不通；下竅閉塞，則上竅壅遏不開。種種見證，皆關乎肺。肺主天氣，洵不誣也。</p>
<p>若夫地固承天者也，地氣不上騰，則天氣不下降。胃固人之地氣也，腎乃天氣蘊蓄於地中者也。胃為水穀之海，又為倉廩之官。胃之發育，又藉腎之真陰真陽以與為發育者也，經故曰：腎為胃關。又曰：四時百病，胃氣為本，得谷者昌，絕谷者亡。又曰：營出中焦。又曰：精氣生於穀氣。又曰：飲入於胃，遊溢精氣，上輸於脾，脾氣散精，上輸於肺。是地氣上騰也。通調水道，下輸膀胱，水精四布，五經並行。是天氣下降也。又曰：水穀之悍氣為衛，水穀之精氣為營。其營血之精者，得肺氣以敷布之，入膽化膽汁，入腎化精，上行頭化腦，內行骨空化髓。故曰：天氣降而至於地，地中生物，皆天氣也。其水隨肺氣呼吸，攝入腸胃間微絲血絡（即孫絡。西學驗孫絡有二千餘根）。以入絡脈，由絡脈過肝入心，運行周身，由肺升出為氣，由毛竅滲出為汗，余入內腎，得三焦之氣化，滲入膀胱為溺。故曰：氣為水母。又曰：水行天上。然水血並行絡中，而不相妨者，何也？蓋血有血輪以統之者也。（按：《內經》刺血絡，出清汁，便知水血並行血絡）。其渣滓變化於小腸（小腸為火腑，故能變化）。以傳道於大腸，是皆肺氣所統布也，是陰從陽也。夫天之真陰真陽，發於地上，以生萬物，實藏於地中，而為萬物所由生。人身肺之真陰，下布於腎而為水，肺之真陽，下納於腎而為火，所謂地居天中，天包乎地也。兩腎中間，名曰命門，為人身之根柢，一陽藏於二陰之中，水火互宅，在卦為坎。肺一呼一吸，與腰間腎氣息息相通，經故曰：腎上連肺，至於脾，猶地上堤防之土，為胃散精以上輸於肺者耳；肝猶地上之木，以樞轉地中生髮之氣者耳；六經為川，腸胃為海，猶地之有涇渭，運清而行濁者耳。由此觀之，人身不誠一小天地哉！肺、腎也，胃也，非又人身所最重者哉！</p>

<h2>陰陽互根論</h2>
<p>《易》曰：太極生兩儀，兩儀生四象，四象生八卦，八卦相錯，萬物生焉。太極，陰含陽也；儀象，陽分陰也。陽不能自立，必得陰而後立，故陽以陰為基，而陰為陽之母；陰不能自見，必待陽而後見，故陰以陽為統，而陽為陰之父。根陰根陽，天人一理也。以定位言，則陽在上，陰在下，而對待之體立；以氣化言，則陰上升，陽下降，而流行之用宏。</p>
<p>請以卦論：乾為天，乾之左為坎水，右為兌水，是水行天上也，而非水也，乃水之陰氣上升於天也；若陰升於天，而氣化之不及，則陰霾四起，而天象變矣。坤為地，坤之左為震之雷火、巽之風火、離之正火，是火出地下也，而非火也，乃火之陽氣下降於地也；若陽降於地，而氣運之不周，則赤滷不毛，而地象變矣。然論卦象猶虛也，請實徵諸時。試觀一歲之間，夏至以後，酷暑炎蒸，若非陰氣潛生，大雨時行，則大地皆成灰燼矣。陰氣上升，其明證也。且陰氣上升於天，得天之布濩，而陰氣乃彌綸於無際。冬至以後，陰凝寒冱，若非陽氣潛藏，水泉流動，則世人皆成僵凍矣。陽氣下降，其明證也。且陽氣下降於地，得地之醞釀，而陽氣乃發育於無窮。獨是陰氣上升，而非自升，必得陽氣乃升。地之陽，即天下降之陽，以陽助陰升，故不曰陽升，而曰陰升。陽氣下降，而非虛降，必含陰氣以降。天之陰，即地上升之陰，以陰隨陽化，故不曰陰降，而曰陽降。若是陰陽互根，本是一氣，特因升降而為二耳！</p>
<p>以人言之。人之陰升，脾胃水穀精微之氣，上升於肺，如經所謂飲入於胃，遊溢精氣，上輸於脾，脾氣散精，上輸於肺，是即水行天上也。氣中有水，故曰陰升，然水不離乎氣也。若非氣水蒸騰，而為邪水上泛，則水溢高源，而肺脹、喘嗽諸證生矣。然氣水既生於胃，必胃中水穀充滿，而後陰氣乃旺，經故曰：精氣生於穀氣。若胃氣自病，則生化之源絕，安望陰升乎？且夫陰氣非能自升，必藉陽氣乃升。腎之真陽，即肺下降之陽。惟肺陽下歸於腎，得腎之含納，而陽氣乃收藏不越。人之陽降，肺之陽氣下降於腎，如天之陽氣潛藏於地，是即火出地下也。水由氣化，故曰陽降，然氣不離乎水也。若非氣水涵濡，而為燥陽下降，則金枯水竭，而勞咳、骨蒸諸證生矣。然則陽氣不可虛降，必含陰氣以降。肺之真陰，即脾、胃、腎上升之陰。惟脾、胃、腎之陰上升於肺，得肺之敷布，而陰氣乃充周一身。經故曰：腎上連肺。又曰：無陽則陰無以生，無陰則陽無以化。</p>
<p>然而陰陽升降，不可得而見也，請借證釜甑。釜中之水穀，水也；釜底之火，火也。釜上之氣，即為陽氣；氣中之水，即為陰氣。然必釜中水穀充滿，又得釜底之火以熏蒸之，釜上之蓋以統束之，而後氣中之水，絪縕煦育，上蒸下布。氣中有水，即是陰升；水由氣化，即為陽降。若釜中水穀不充，則無米之炊，將見釜底之火，僅存虛陽，釜上之蓋，亦為虛器。又或釜中雖有水穀，而釜底無火，不獨精氣不能蒸運，即渣滓亦難銷熔；釜上無蓋，不獨統攝無權，亦且漫溢不治。然則陰陽二氣，非相需而不可須臾離者哉？</p>
<p>然就二氣而權衡之，陰承陽，陽統陰，陽氣一分不到即病，陽氣一分不盡不死，人自當以陽氣為重。然陽氣固重，陰氣亦重，何也？人事與病，多致陰傷者也，經云：靜則神藏，動則消亡。日用操勞，皆動機也，動則所生之少，不敵所耗之多；病亦動機也，動則六氣皆從火化，化火則必傷陰，則又當以陰氣為重。譬如行舟，行者氣也，行之者水也，水足氣始旺也。再譬諸燈：燈火，火也；油，水也，油足火始明也。氣為血帥，血又為氣航。此陽統陰而基於陰之理也。若無陰，則陽氣亦無依而亡矣。（陰液脫者死，大肉脫者亦死。）故陰陽二字，不讀曰陽陰，而讀曰陰陽，其亦可以恍然悟矣！</p>

<h2>五行生剋論</h2>
<p>水木火土金五行生剋，一陰陽升降之旋相為宮也。生為長養，即為陰升；克為制化，即是陽降。然必陰先升而後陽乃降，亦必陽能降而後陰轉升。五行不克則不生，如有妻而無夫也。乃相生之道，人皆知之，相剋之道，人多不察，請詳言之。</p>
<p>腎主地、主陰、主水，五液亦皆主地、主陰、主水。腎中真陽之氣，絪縕煦育，上通各臟腑之陽，而腎中真陰之氣，即因腎陽蒸運，上通各臟腑之陰。陽助陰升，以養肝木，則木氣敷榮，血充而氣暢矣。由是，肝得上升之陰氣而養心火，則火氣溫潤，血生而脈行矣。由是，心得上升之陰氣而養脾土，則土氣健運，統血而散精矣。由是，脾得上升之陰氣而養肺金，則金有治節，調元而贊化矣。肺得上升之陰氣，轉降而入腎，則水精四布，五經並行矣。此五行一氣相生，始於腎，終於肺，地所以上交乎天也。</p>
<p>肺主天、主陽、主氣，敷布陰液，以柔肝木。木得下降之陽氣所制，則溫柔和緩，不似燥急難平矣。由是，木來疏土，土得下降之陽氣所制，則宣松運化，不似困鈍不靈矣。由是，土來治水，水得下降之陽氣所制，則知周輸泄，不似汜濫無歸矣。由是，水來濟火，火得上升而復下降之陽氣所制，則心腎相交，不似火炎水燥矣。由是，火來暖金，金得上升而復下降之陽氣所制，則津液分布，不似金寒水冷矣。此五行一氣相剋，始於肺，終於肺，天所以大包乎地也。</p>
<p>然則五行之生，雖五臟之陰遞升而生，實腎之陽助腎之陰遞升而生，陰之升，天統之而地承之也。五行之克，雖五臟之陽遞降而克，實肺之陽統肺之陰遞降而克，陽之降，地承之而天統之也。生固為生，克亦為生，生克二者，非即陰升陽降，循環而不窮者哉？</p>
<p>然而生克又不可太過也，太過則非真陰真陽升降以為生，而為邪水邪火升降以為害也。木賴水生，水泛則木浮，木浮則火濕，火濕則土困，土困則金埋，金埋則水愈泛，五內有水而無火，則瀉利、腫滿，諸濕病生矣。火賴水克，水盛則火滅，火滅則金寒，金寒則木濕，木濕則土困，土困則水濫，水濫則火愈滅，五內有水而無火，則瀉利、腫滿，諸濕病生矣。火賴木生，木盛則自焚，火焚則土燥，土燥則金枯，金枯則水涸，水涸則木愈焚，五內有火而無水，則風、勞、蠱、膈、三消，諸燥病生矣。土賴木克，木強則土弱，土弱則水泛，水泛則火衰，真火衰則虛火旺，陽無以生，陰無由化，陰不化則金燥，金燥則木愈強，火既虧而水亦虧，土無火必濫，則痞滿、腫脹、泄瀉諸濕病生；土無水必干，則蠱、膈、三消諸燥病又相繼而生矣。土賴火生，火炎則土燥，土燥則金熔，金熔則水虧，水虧則木熾，木熾則火愈炎，五內有火而無水，則譫狂、膈消，諸燥病生矣。金賴火克，火炎則金燥，金燥則木熾，木熾則土焦，土焦則水涸，水涸則火愈熾，五內有火而無水，則肺勞、肺痿、咳血，諸燥病亦生矣。金賴土生，土重則金埋，金埋則水泛，水泛則木浮，木浮則火困，火困則土雜，五內交困於水火，（土包五行，故多兼病），則痞滿、脹痛燥濕諸病，又雜沓而生矣。水賴土克，土燥則水竭，水竭則火炎，火炎則金爍，金爍則木枯，木枯則土愈燥，五內有火而無水，則膈消、窘迫、下利，諸燥病生矣。水賴金生，金寒則水冷，水冷則木濫，木濫則火濕，火濕則土困，土困則金埋，金埋則水愈冷，五內有水而無火，則喘嗽、腫脹、瀉利，諸濕病生矣。木賴金克，金亢則木削，木削則土陷，土陷則水虧，水虧則火炎，火炎則金愈亢，五內有火而無水，則勞咳、咽痛、窘迫、下利，諸燥病生矣。生克一有太過，則克固為克，生亦為克。且人身真陰真陽，只有此數，凡見太過，實由不及。太過不及，則為濁陰、為燥陽，濁陰則不為陰而為水，燥陽則不為陽而為火。五行生剋不外水火，生克太過不及為病，亦不外水火。水流濕，火就燥。故水火二氣，為五行之生成；燥濕二氣，為百病之綱領。</p>
<p>陰陽以氣言，水火以形言。坎為水，水色黑，黑屬陰，然水外暗而內明，空靈活潑，實為陰中之陽，故坎中滿。離為火，火色赤，赤屬陽，然火外明而內暗，且返本歸根，則其色黑，實為陽中之陰，故離中虛。以形質言，水、火質虛，木、金、土質實，是水、火又為木、金、土之先天矣。火有形無質，必依附於物而乃有質，水雖有質而極虛，故論五行生成之序，則水一、火二、木三、金四、土五；論五行生剋之序，則生始於水，克始於金。知五行氣質、陰陽生克，乃知天人一貫道理，玩集中各論自明。</p>

<h2>陰陽治法大要論</h2>
<p>陽，天道也；陰，地道也。非天之陽，地亦不凝，而萬物不生；非地之陰，天亦無依，而萬物不成。天主動，無一息之靜，使稍不動，則失其健運之機，而萬物屯矣；地主靜，無一息之動，使稍不靜，則失其貞凝之義，而萬物否矣。人身之陽，法天者也，一失其流行之機，則百病起；人身之陰，法地者也，一失其安養之義，則百害生。陰陽二氣，固不可稍偏而或失也。夫所謂陽者，乃人身之真陽。真陽，陰中之陽，非燥烈無濟之亢陽。亢陽無陰則為火，如天之久旱酷暑，不得不藉甘霖以消其亢厲，故丹溪發補陰之論，補陰正所以濟陽也。王太僕謂壯水之主，以制陽光者，此也。所謂陰者，乃人身之真陰。真陰，陽中之陰，非堅凝寒結之濁陰。濁陰無陽則為水，如天之重陰凜冽，不得不藉皓日以致其睛和，故先哲發扶陽之論，扶陽正所以濟陰也。王太僕謂益火之原，以消陰翳者，此也。</p>
<p>夫乾為陽，坤為陰，乾坤化為坎離，是天地為陰陽之體，水火為陰陽之用。用傷則體害。水火有過不及之弊，在天地則不能無旱澇之災，在人則不能無燥濕之患，其理一也。</p>
<p>陰，人之形也；陽，人之氣也。大凡形質之失宜，莫不由氣行之失序。故地之萬物不生，又皆由天之旱澇失節。人身一分陽氣不到之處，則此處便有病；然陰陽互根，凡陽所到之處，皆陰所到之處，若陽到而陰不到，則此處亦有病。</p>
<p>陰陽又當審其虛實。外感實證，先病陽；內傷虛證，先病陰。病陽者，肺主之；病陰者，脾、胃、腎主之。外感上焦陽氣鬱閉，治以開豁，通天氣也；中焦陽氣燥結，治以苦辛攻下、苦辛開化，平地氣也。（治實火，要使邪有出路，若純用苦寒，逼邪深入，而無出路，非徒無益，而有害之。乃晉唐以後醫道失傳，如三黃解毒諸方，毫無法律，不可從也。）內傷中焦陽氣下陷，不能上升於肺，治以升補，使地氣上騰乎天也；下焦陽氣外越，不能下歸於腎，治以溫納，使天氣下降於地也。蓋先天真一之氣，自下而上，與後天胃氣，相接而生，而為人身之至寶。若人真陰受傷，致精不能化氣，氣即不能歸精，於是腎中龍火內爍，而見骨蒸等證；龍火外越，而見發熱、顴紅、面赤等證。一火興而五火熾，將見肝之風火雷火，心之離火，胃之燥火，又必相因而起，而見有餘之象。非有餘也，實下元不足所致耳！經曰：少火生氣，壯火食氣。火在丹田以下為少火，即真火；火離丹田而上為壯火，即虛火。虛火，水中之火，不得再以水滅之固也。奈何世執丹溪法，而用知母、黃柏之苦寒以撲滅之，勢必愈治愈劇，如雨愈大龍愈騰，欲其潛藏也得乎？不獨苦寒不可用也，即甘涼亦當慎投。其在初病，本原未傷者，甘涼清潤，猶可獲效；若高年以及久病，本原已傷者，法當治以溫潤，引火歸原，如雲開日出而龍乃潛也。濁陰可溫，桂、附、乾薑辛熱之屬，不得不用；若陰中陽虛，而藥偏剛燥，恐陽未能扶，而陰又被劫，法當治以溫潤，納氣歸原。經曰：氣納為寶。蓋氣納則歸腎，不納則不歸腎。氣不歸腎者，謂肺氣不得歸腎，並謂脾胃之氣不得歸腎也。</p>
<p>夫腎為先天五臟之始，始數一，一，水數也。金為水源，水天本一氣也。脾胃為後天五臟之成，成數五，五，土數也。土為萬物之母，故精、神、氣、血，皆胃氣所生，又皆腎氣助之以生。胃為人之地，腎為地中之天氣，胃、腎又本一氣也，經故曰：腎為胃關。夫所謂胃氣者，穀氣也。經曰：營為水穀之精氣，衛為水穀之悍氣。又曰：精氣生於穀氣。故「氣」字從氣、從米，「精」字從青、從米，米乃谷之精者也。胃主納穀，亦主銷谷，脾主散精，水穀精氣生於胃，輸於脾，由脾上輸於肺，則為氣，從肺回下，入心化血，入腎化精，是生之者胃，升之者脾，降之者肺，地天交泰，胃、脾、肺又本一氣也。經故曰：脾為諫議之官，知周出焉。俗謂脾主銷谷，以能食不能化為脾不健，是不知脾之功用也，是指鹿為馬也。或曰：飲食傷脾，則又何說？曰：飲食不節，遏郁脾氣，脾氣為其所郁，則不能散精，而濕斯停矣。是謂傷逆，非脾之過也，良由飲食不節所致耳！</p>
<p>夫人生天地間，天氣固重，地氣尤重。蓋人在天中，（離地而上，凡空處皆謂之天。人在天中，非在天下，以天本無上下之極者也。）而附於地上。生於天中，一呼一吸，與天氣相通，而人莫名其妙，亦莫得自主，故凡天之六氣，病人之天氣者，人不能盡避之。附於地上，實而可據，人得以自主，故凡七情之病，由人事所致者，多病人之地氣以及天氣。病地氣，則胃、腎為重。然腎雖主地氣，而實為地中之天氣。腎屬天一所生之水，而為人之先天者，此也。其有胎元薄弱，先天不足者，人不得而主之，又恃調攝後天，以補先天之不足。若是者，胃氣不尤重哉？重胃氣非即所以重腎氣哉？</p>
<p>夫胃為中土，胃氣賴五臟之氣以生化。如地無堤防之土，則水無收束，無水則燥，無火則濫，無木則實，無金則死是也。然五臟之氣，又賴胃氣以成功。如金無土則不生，木無土則不載，水、火無土則無本原，脾土無胃土則不滋潤是也。故脾胃穀氣，不得到肺，則肺之脾胃虛；脾胃穀氣，不得到心，則心之脾胃虛；脾胃穀氣，不得到肝，則肝之脾胃虛；脾胃穀氣，不得到腎，則腎之脾胃虛；胃之穀氣，不得到脾，則脾之胃虛。若是者，脾胃顧不重哉？內傷百病，可不首固脾胃哉？請申言之。肺之脾胃虛，則熱自內生，熱則不能生水，而見虛喘、乾咳諸燥證，是肺氣不得歸腎也；又或肺之脾胃虛，則寒自內生，寒則不能化水，而見喘嗽、腫滿諸濕證，是亦肺氣不得歸腎也。醫學云喘，在腎為虛，在肺為實。夫所謂實者，非真實也，乃肺之陽虛不化，致水上溢高源耳！金寒水冷，非溫潤納氣不可；邪水射肺，非辛淡輸水扶氣不可。心之脾胃虛則熱，熱則燥，君弱者臣自強，血虛者肝自旺，火水未濟，致生虛煩、心熱、不寐等證，是心氣不得歸腎也。或曰：心屬火，火性炎上，如何下降？腎屬水，水性就下，如何上升？曰：心屬火，而心中有血，是火中有真陰，故心火隨真陰下降，以交於腎水；腎屬水，而腎中有氣，是水中有真陽，故腎水隨真陽上升，以交於心火。夫真陰真陽者，心腎中之真氣也。故欲補心者，先實腎，使腎得升；欲補腎者須寧心，使心得降。肝之脾胃虛則熱，熱則燥，肝血一虧，肝氣即亢，或風雷激搏，致生頭疼、嘔吐等證；或木火刑金，致生乾咳、吐血等證；或燥木侮土，致生脅痛、嘔吐、蠱、膈等證，是肝氣不得歸腎也。夫治肝較他臟尤難。他臟之邪，可移之出腑，若膽雖為肝之腑，而一囊膽汁，藏而不瀉，而無出路，雖屬腑而與臟無殊，故肝病較他臟為難治。則惟有清潤以濡之、咸柔以潛之，沃水以生木也；甘潤以緩之，培土以載木也；微苦以降之，使木火不上僭也；平潤以納之，導木火得下潛也；血能含氣，氣不耗血，而肝自平矣。其肝有濕熱者，方可用苦降、辛通、酸泄之劑；氣不條達者，方可用木鬱達之之法。彼破氣、耗血諸品，豈可妄用，以伐生氣，以耗肝陰也哉？腎之脾胃虛則熱，熱則燥，腎陰一虧，腎陽即亢，或骨蒸、發熱，或吐血、夢遺，或上咳、下利，是腎氣不得歸腎也。治法亦不外清潤、溫潤，以增水養火而已矣；甘潤、甘平，以固水火中之脾胃而已矣。脾之胃虛則中土自病，或因思慮過度，或因飢飽失宜，以致氣結化濕，血結化燥，濕困脾陽，燥傷脾陰等證。胃病則不能散輸精氣於脾，脾病則不能上輸精氣於肺，地氣不上騰，則天氣不下降，是脾胃之氣不得歸腎也。此則非寒熱溫涼所能納也，法當病燥則治燥，病濕則治濕，取純甘之味，扶土生金，順其升降之性以納之耳！</p>
<p>總之，內傷百病，不起於先天，即起於後天；起於後天，又必病及先天。五臟中有一臟不秉生成之氣，則形氣病，形病不能無害於氣，氣病不能無害於形，此不易之道，相因之理也。但治之者，不可無標本先後之分。夫陰陽、臟腑、氣血，有各自為病者，有相因而至者，有去此適彼者。用藥之法，如腑病宜開通，不得以臟藥犯之；臟病宜補益，不得以腑藥犯之。腑病將及臟，治腑尤須顧臟，臟病將入腑，治臟必兼理腑。腑入臟，臟入腑，又有輕重之異，藥亦不得不隨其輕重而用之。更有病雖在腑，而原起於臟，則重在治臟；病雖在臟，而原起於腑，則重在治腑。蓋病雖在此，不必治此，治此反劇；病已去此，猶當顧此，不顧此則損。此陰陽標本先後輕重之大略也。</p>
<p>要之，天地與人，不外陰陽二氣。天之陰陽失，相燮理之；人之陰陽失，醫燮理之。良相、良醫，總在調劑陰陽，使之兩得其平焉已矣。</p>

<h2>樞機論</h2>
<p>竊聞三陰三陽，有樞機焉。樞者，如門戶之樞，乃陰陽開闔之轉機也。《內經》樞機有二：一曰少陰為樞；一曰少陽為樞。陰之初生為少陰，少陰，稚陰也。手少陰屬心，足少陰屬腎。心為人身君主之官，神明所從出。腎為陰陽互根之地，精氣之本原。故少陰為轉陽至陰之機竅，陰之樞也。由少陰而太陰，由太陰而厥陰，經曰：太陰為開，厥陰為闔。蓋太陰脾土，得此樞而散精以升於上；太陰肺金，得此樞而布精以降於下，能升能降，故謂之開。由是厥陰心包絡，得此樞而陰血以生；厥陰肝木，得此樞而陰血以藏，以生以藏，故謂之闔。是太陰、厥陰之開闔，皆少陰之樞所默運者也。厥陰為陰之極，陰極則陽生，而陰轉入於陽，陽之初生為少陽，少陽，稚陽也。手少陽屬三焦，足少陽屬膽。三焦具真陽之火，其體虛潤，其氣氤氳。（焦，熱也。滿腔中熱氣布濩，能通調水道也。按三焦從右腎生出，心腎相通，三焦因與心包絡相通而為表裡。）膽為初春之木，其體軟嫩，其氣溫和。故少陽為轉陰至陽之機括，陽之樞也。由少陽而太陽，由太陽而陽明，經曰：太陽為開，陽明為闔。蓋太陽膀胱，得此樞而水道通調；太陽小腸，得此樞而食物變化，通調變化，故謂之開。由是陽明胃腑，得此樞而陽氣含納；陽明大腸，得此樞而陽氣收藏，含納收藏，故謂之闔。是太陽、陽明之開闔，皆少陽之樞所默運者也。陽明為陽之極，陽極則陰生，而陽又轉入於陰。然則少陰、少陽，非陰陽出入開闔之樞機者哉？若其樞一有不利，則出入之機停；出入機停，則開闔之機廢。能開不能闔，則泄瀉諸病生；能闔不能開，則噎膈、便閉諸病生。</p>
<p>病先天則從腎起，病後天則從脾胃起。脾胃病則土不生金而金敗，金敗則水衰，水衰則木枯，木枯則火熾，火熾則水益涸，水涸則龍火起，龍火起而風火、雷火、燥火亦相繼而起，則一身無非火矣。夫此火之來，總由於樞之不利，火即陽氣外越，而不能依附於陰者也。若寒以降之，則火益烈而元氣亡矣。故欲其樞之利，非溫潤之、咸柔之不可。法當滋腎之陰，納腎之陽，蓋腎為水火互根之臟，腎陰足而後水濟火，腎陽固而後氣歸精也；法當養肝之血，達膽之氣，蓋肝膽為東方震巽之木，木之陰液不可耗，木之生氣尤不可伐也。知少陰、少陽之為樞，而治法可悟矣。</p>

<h2>衛氣行度一經星經天論</h2>
<p>衛氣，陽氣也，即人之天氣也。天有二十八宿，周布四面，（一面七星，四七二十八星。）房、昴為東西之緯，（橫看。）虛、張為南北之經。（縱看。）房至畢屬陽，主晝；昴至心屬陰，主夜。人身衛氣之行，亦猶是也。晝行陽經二十五度，夜行陰經二十五度，一晝一夜，五十度周於身，與宗氣、營氣度數相等。或曰：衛氣出於何所？行於何地乎？曰：宗氣積於上焦，營氣出於中焦，而衛氣則出於下焦。營氣隨宗氣行於經脈之中，衛氣則不隨宗氣入於經脈，而自行於各經脈外，及頭目、手足、皮膚、分肉之間。故經曰：清者為營，濁者為衛；營行脈中，衛行脈外。或又曰：衛氣何以出於下焦，行於脈外乎？曰：經謂上焦如霧，（此三焦，即三停。肺司呼吸，布散精液，以行於經脈之中，彌淪布濩，如天之有霧。）中焦如漚，（水穀精微之氣，蒸變而為心血，凝聚浮沉，如水中之有漚。）下焦如瀆，（飲入於胃，脾實輸之，下行於右腎旁之三焦腑，得三焦腑之氣化，滲入膀胱。故三焦為決瀆之官，膀胱為州都之官，正以下焦如瀆之畜泄乎水也。）衛氣賴下焦陰中真陽，以升出中、上二焦，故衛氣出於下焦。營為水穀之精氣，屬陰，陰性精專，自行脈中；衛為水穀之悍氣，屬陽，陽性剽悍滑利，故行脈外。</p>
<p>請析言之。平旦陰盡，由寐而寤。邵子曰：人之神，寐則棲腎，寤則棲心，將寐在脾，熟寐在腎，將寤在肝，正寤在心。十二經脈，皆根於心。寤屬陽，太陽為陽中之陽，故經曰：人寤則目張。目張則陽氣出於睛明穴（屬足太陽經），而上行於頭，始於足太陽，次手太陽，再下足少陽，次手少陽，再下足陽明，次手陽明，如是周二十五度，乃下行陰分，而目復合而寐。目合則陽氣從足少陰注於腎，腎注於心，心注於肺，肺注於肝，肝注於脾，脾復注於腎，如是亦周二十五度，終而復始，如環無端。</p>
<p>再析言之。如卯初初刻，陰盡而寤，衛行太陽；（先行足經，次行手經。余皆同。）卯初一刻，衛行少陽；卯初二刻，衛行陽明；卯初三刻，衛間行足少陰。卯正初刻，衛復行太陽；卯正一刻，衛復行少陽；卯正二刻，衛復行陽明；卯正三刻，衛復間行足少陰。陽盡間陰者，以足少陰陰陽互根，為人身之大根柢、大樞紐也。如是環行，自卯至申，周二十五度，陽盡於陰，陰受氣矣，陰亦周二十五度。一晝一夜，漏下百刻而盡，衛氣五十度周於身，如是無已，與天地同紀。知此，則人之病否、生死可以決，藥之升降、補瀉、表裡、陰陽可無差矣。</p>

<h2>營氣行度一經水行地論</h2>
<p>營氣，陰氣也，如地水之氣，隨天氣以運行者也。天有經宿，地有經水，人有經脈。經脈者，乃運行臟腑之血，以周於內外者也。臟屬陰，故臟六經為陰，如手太陰肺、手少陰心、手厥陰心包絡、足太陰脾、足少陰腎、足厥陰肝是也。腑屬陽，故腑六經為陽，如手陽明大腸、手太陽小腸、手少陽三焦（右腎旁三焦腑）、足陽明胃、足太陽膀胱、足少陽膽是也。陰之大者為太陰，太陰為開，敷布陰氣者也；（太陰，三陰也。經曰：三陰為母。）陰之小者為少陰，少陰為樞，轉輸陰氣者也；（少陰，二陰也。經曰：二陰為雌）。兩陰交盡為厥陰，厥陰為闔，受納陰氣者也。（厥陰，一陰也。經曰：一陰為獨使。）陽之大者為太陽，（太陽行背，在裡。）太陽為開，敷布陽氣者也；（太陽，三陽也。經曰：三陽為父。）陽之小者為少陽，（少陽行身之側面，在表裡之間。）少陽為樞，轉輸陽氣者也；兩陽合明為陽明，（陽明行腹，在表之裡。）陽明為闔，收納陽氣者也。</p>
<p>然則陰陽分手足者何也？蓋人有三焦（此三焦即三停），而三焦只是兩焦，以人身中有膈膜（遮蔽濁氣，不使上熏心肺）。膈膜以上，肺與心與心包絡，象天，經脈因行於手，故手三陰從臟走手（陰從內起），手三陽從手走頭（陽從外起，手三陽雖位居下焦，然與手三陰為表裡，直相連絡，故亦走手）；膈膜以下諸臟腑，皆象地，經脈因行於足，故足三陽從頭走足（陽行於外），足三陰從足走腹（陰行於內）。象天者陰先而陽後，象地者陽先而陰後，此水火既濟，地天交泰之道也。</p>
<p>或曰：經脈既有從腹走手、從手走頭、從頭走足、從足走腹之不同，何謂皆根於心乎？既曰：皆根於心，何又謂營出中焦？肺脈亦從中焦起乎？曰：經脈根於心，而行於腹、行於手、行於頭、行於足，此經所止之處，即彼經所起之處，猶樹之由根而干，由干而枝，枝又生枝，繁衍無已，而要皆原於根也。心脈下緣於胃脈，猶樹之根鬚生於地下也。根於心者，大哉乾元，萬物資始；緣於胃者，至哉坤元，萬物資生。經曰：心生血。又曰：營氣之道，內谷為寶。谷入於胃，乃傳之肺，精專者行於經隧，常營無已，終而復始，是謂天地之紀。蓋謂水穀精微之氣，皆由胃出，而上注於心，奉心化赤為血，而上注於肺。陰隨陽化，天氣行而營氣與之俱行，故每日營氣之行，皆從肺經始，地上承天也。由肺經下行而注於大腸經（肺與大腸相表裡），復上行而注於胃經，循注於脾經（脾與胃相表裡），又上行而注於心經，由心經下行而注於小腸經（心與小腸相表裡），由是而注於膀胱經，循注於腎經（腎與膀胱相表裡），從腎注心包絡（心腎相交），由心包絡下行而注於三焦經（心包絡與三焦相表裡），從三焦經復上行而注於膽經，循注於肝經（肝與膽相表裡），至肝經而營氣一周於身，經故曰厥陰為陰之盡，厥陰為闔。盡而闔，故藏血。由肝經上行而復注於肺經，終而復始，如環無端，一晝一夜，五十度周於身，經故曰五十營。</p>
<p>再以經脈運行於內外者析言之。手太陰肺脈根於心，緣於胃，而上通於肺，由肺下膈，絡大腸，還上膈，由肺系（喉管兩旁，左是經脈管，右是絡管）外行乳上三肋端，去中行旁開六寸（同身寸法），橫從腋下，達肘內，循臂前廉，入寸口，上魚際（大指後肉隆起處），至手大指內側（少商穴）；其支者，循腕後入手次指內側（商陽穴），而交手陽明。手陽明大腸脈，外起手次指內側，入合谷（俗名虎口），循臂外前廉達肩，入缺盆（肩下橫骨陷中），內行絡肺，下膈，屬大腸；從缺盆分支外行，直上頸側，貫頰內，入上齒，還出，外行人中，挾鼻空旁（迎香穴），而交足陽明。足陽明胃脈，外起鼻空旁，上行，當目下胞之中，下入上齒，還出，挾口，繞腮，上耳前，至額角，下頸側（結喉兩旁人迎穴），入缺盆，再下行當乳之中，內行下膈，屬胃，絡脾，挾臍旁入氣街（毛際兩旁）；胃口又生一支，亦挾臍旁入氣街，外行腿合縫，從合縫斜行腿面，直至足中指之外側；又生一小支，別跗上，入大指間，出其端（厲兌穴），而交足太陰。足太陰脾脈，外起足大指端之內側，循內踝前廉，上股（大腿）內廉入腹，行季脅（在足少陽、厥陰之裡一行），上膈，挾咽，連舌本，散舌下；其支者，復從胃別上膈，注心中（從胃之別絡注心，濁氣乃不上僭），而交手少陰。手少陰心脈，起於心中，出屬心系，心系上與肺通，由肺葉而下，曲折向後，貫脊髓，通於腎（肺、心、腎，一氣相通），轉而向前，下膈，絡小腸；其支者，從心系上挾咽，繫於目；其直者，外行腋下，循肘臂內後廉，至小指內側（少衝穴），而交手太陽。手太陽小腸脈，外起手小指內側，而行外側（少澤穴），循肘外後廉，過肩後廉，入缺盆，內行絡心，下膈，抵胃，屬小腸；其支者，由缺盆，交肩，貫頸頰，至目銳眥（目外角），卻入耳中；其支者，由耳前斜絡於顴，至目內眥（目內角）而交足太陽。足太陽膀胱脈，外起目內眥，上額交巔，分一小支，從巔至耳上角，後行，下項，循肩後，分二大支：一大支挾脊旁開寸半第一行，抵腰中，腰中有四空，內行絡腎，屬膀胱，其直者，從腰下外行，貫臀，入膕中（膝後曲處委中穴）；一大支又從肩膊後，左右分下，貫胛膂（脊兩旁肉為膂），挾脊旁開三寸第二行，入膕中，貫腨內（足肚），出外踝，至足小指外側端（至陰穴），以交足少陰。足少陰腎脈，外起小指下，斜趨足心，循內踝，入足後跟，上行股內後廉，貫脊裡，屬腎，絡膀胱；其直者，從股內前行至合縫，由合縫上行入腹，去腹中行旁開一寸，至臍入腎，由臍上行，去中行旁開一寸五分，從腎上貫肝膈，又上行，去中行旁開二寸，至胸中入肺，循喉嚨，挾舌本；其支者，從肺出，絡心，注胸中（肺、心、心包絡、肝四臟，皆與腎經相通），以交手厥陰。手厥陰心包絡脈，內起胸中，下膈，絡三焦；其支者，由胸中出脅抵腋，循心、肺二經之間，外行，起腋下三寸，乳外側一寸許，向外上轉，循臂肘內兩筋之間，入掌中（勞宮穴），至中指，出其端（中衝穴）；其支者，別掌中，行小指內之次指端（關衝穴），以交手少陽。手少陽三焦脈，外起小指次指之外側，上循手臂外兩骨中間，貫肘上肩，由肩上項，交出膽經之後，入缺盆，內行，布膻中，散絡心包，下膈，屬三焦；其支者，外行，入缺盆，上項，系耳後，出耳上角，以屈下頰至䪼（目下為䪼）；其支者，從耳後，內入耳中，外走耳前，交動脈間，至目銳眥，而交足少陽。足少陽膽脈，外起目銳眥，上頭角，下耳後，循頸側，行三焦經之前，後入缺盆；一支從耳後，入耳中，走耳前，還至目銳眥；一支別銳眥，下大迎（胃經穴，在頷前一寸三分動脈陷中），還行於䪼，合三焦經，下加頰車（耳下穴名），行頸側，亦入缺盆，由缺盆內行胸中，貫膈，絡肝，屬膽，循脅裡，出氣街（毛際兩旁動脈），繞毛際，橫入髀厭中（胯骨）；其直者，從缺盆外行，過肩，下腋，走身側之季脅（脅骨下盡處），下髀厭，行膝外廉，至外踝前，還行足跗，至足小指次指之外側（竅陰穴），生一小支，別足跗，下足大指岐骨，貫爪甲，出三毛（大指爪甲後為三毛，大敦穴），以交足厥陰。足厥陰肝脈，外起足大指爪甲端，還行足跗，走內踝，出脾脈之後，入膕中，循股陰，內行，繞陰器，抵小腹，還行季脅（肝經章門穴），斜上，直乳下二肋端，挾胃，屬肝，絡膽，貫膈，布脅肋，循喉嚨，上連目系，外行出額，與督脈會於巔；一支外行，從目系下頰，還唇；一支內行，從肝別貫膈，上注於肺，終而復始。此經脈也。</p>
<p>所謂十二絡者，即十二經之別，所以回血入於經者也。別有脾之大絡（名曰大包），出淵液穴下三寸（屬膽經），布胸脅，實則身盡痛，虛則百節皆縱。又有胃之大絡（名曰虛里），貫膈，絡肺，出於左乳下，其動應衣，乃十二經脈之宗氣（土為萬物之母，故亦名宗氣）。盛喘數絕者，病在中，結而橫，有積也，絕不至則死，動甚者，宗氣泄也。知經絡之所行，則知病之所在矣。</p>
<p>若夫奇經（無臟腑配合之經），即足六經之別。考沖、任、督，一源而三脈，皆起於中極下（中極穴，在臍下四寸）。任脈由中極下之會陰穴，當臍中而上，至承漿穴而止。衝脈由中極挾臍旁而上，至胸中而散。督脈由中極下行，轉而向後，自長強穴（尾閭骨端）而上行於背之中行，至齦交穴（牙齦內），而止。任、督二脈，一行身前，以任養諸陰，一行身後，以總督諸陽，猶天地之有子午可以分、可以合。分之以見陰陽之對待，合之以見陰陽之環行，一而二，二而一者也。陰維維一身之陰脈，陽維維一身之陽脈，又與任、督二脈相輔而行者也，陰蹺起於足內踝之照海穴（屬足少陰經），側行而上於目內眥之睛明穴（屬足太陽經）；陽蹺起於足外踝之申脈穴（屬足太陽經），側行而亦上於目內眥之睛明穴。陰維、陽維、陰蹺、陽蹺四脈，猶八方四正之有四維也。帶脈起於季脅下之章門穴，為足厥陰、少陽之會，與天樞穴平，猶天之有天腰橫帶也。知奇經之附正經而行，正經治而奇經亦治，亦何必深言治法，以矜奇炫異乎！</p>

<h2>百病提綱論</h2>
<p>人稟天地之氣以生，即感天地之氣以病，亦必法天地之氣以治。夫天地之氣，陰陽之氣也；陰陽之氣，燥濕之氣也。乾金為天，天氣主燥；坤土為地，地氣主濕。乾得坤之陰爻成離，火就燥也；坤得乾之陽爻成坎，水流濕也。乾坤化為坎離，故燥濕為先天之體，水火為後天之用，水火即燥濕所變，而燥濕又因寒熱而化也。水氣寒，火氣熱。寒搏則燥生，熱爍則燥成；熱蒸則濕動，寒鬱則濕凝，是寒熱皆能化為燥濕也。</p>
<p>或曰：燥、濕二氣，何以寒熱皆能化乎？曰：子欲知燥濕，曷觀乾坤？乾象太極，首一畫為陽，次二畫為陰，乾金本陽含陰也，故乾為太陽，而非孤陽；坤之六畫，即乾之偶而並者，坤土本陰承陽也，故坤為太陰，而非孤陰。乾坤卦象天地，請實徵諸天地。宗動天，空洞無物，無物為純陽；宗動天最高，高則轉得緊、行得健，緊而健亦為純陽。陽之精為日，日為真火，金位之下，火氣承之，天屬陽，燥亦屬陽，固也。然宗動天以內之八重天，星為少陰，月為太陰，真陽之下，真陰承之，故曰陽含陰。所以天之燥氣下降，必含陰氣以降，燥熱為本（因燥而熱，故曰燥熱，不曰熱燥），寒燥為變也（因寒而燥，故曰寒燥，不曰燥寒）。陰之精為月，月為真水，水應月而生於地，地屬陰，濕亦屬陰，固也。然地居天中不動，地之陽氣，即天之陽氣，陰隨乎陽，故曰陰承陽。所以地之濕氣上升，必藉陽氣乃升，寒濕為本（因寒而濕，故曰寒濕，不曰濕寒），濕熱為變也（因濕而熱，故曰濕熱，不曰熱濕）。</p>
<p>竊聞天地之間有三際，最上一層為熱際，次一層為冷際，地上一層為溫際。蓋因乎此，觀此可知天地祗此陰陽二氣。而陰陽二氣，又是一氣，特隨升降而變焉耳！</p>
<p>夫燥、濕二氣，各主一歲之半。冬至，陽氣潛藏於地，地得陽氣而濕暗動，故水泉動；交春，東風解凍，雷乃發聲，東風與雷皆陽也，濕，陰也，陰隨陽化，陽氣漸出於地，而濕氣漸生，故草木含液而萌動；交夏，溫風至，陽氣盡出於地，暑熱蒸騰，而濕氣最盛，故土潤溽暑，大雨時行，天地之氣化剛為柔；夏至，陽氣盡出於地，而一陰甫生，燥氣尚未行令；交秋，涼風至，白露降，天地始肅，陽統陰降，而燥氣始動；秋分以後，雷始收聲，水始涸，故濕氣始收，斯時露寒霜肅，陽統陰漸降，而燥氣乃行，故草木黃落；交冬，天氣上升，地氣下降，天地痞塞，陽統陰全降，而燥氣最盛，陽氣潛藏於地下，而外無所衛，故水始冰，地始凍，虹藏不見，天地之氣化柔為剛。蓋水旺於冬，實長於夏，火盛於夏，實藏於冬，陰陽互根，大化所以循環不窮也。觀此可知燥屬陽中之陰，濕屬陰中之陽，且未動屬陰，動則屬陽。《易》曰：吉凶悔吝生乎動。蓋動則變，變則化，寒燥化為燥熱，返其本也，寒濕化為濕熱，因乎變也。人能體察燥濕二氣之因寒因熱所由生，而以之為綱；再察其化熱未化熱之變，與夫燥鬱則不能行水而又夾濕，濕鬱則不能布精而又化燥之理，而以之為目，綱舉目張，一任病情萬狀，而權衡在握矣。</p>
<p>且夫燥、濕二氣，為時行之氣，又有非時之偏氣。如久旱則燥氣勝，乾熱乾冷，則燥氣亦勝；在春為風燥，在夏為暑燥，在秋為涼燥，在冬為寒燥。久雨則濕氣勝，地氣不收，溽暑陰冷，則濕氣亦勝。在春為風濕，在夏與初秋為暑濕，在深秋與冬為寒濕。經曰：必先歲氣，無伐天和。俗謂外感為時氣，時之為義，大矣哉！若以一定之成方，治無定之時邪，其不知時之甚者哉！然不獨當因時也，尤當因地。西北地高，燥氣勝；東南地卑，濕氣勝。不獨當因地也，尤當因人。六氣傷人，因人而化：陰虛體質，最易化燥，燥固為燥，即濕亦化為燥；陽虛體質，最易化濕，濕固為濕，即燥亦必夾濕。燥也，濕也，固外感百病所莫能外者也。</p>
<p>或曰：外感有風、寒、暑、濕、燥、火之六氣，子以燥、濕二氣賅之，可推其故而析言之歟？曰：在地成形，在天為氣。六氣風居乎始，寒、暑、濕、燥居乎中，火居乎終。風居乎始者，風固燥、濕二氣所由動也；暑居乎中者，寒暑固燥、濕二氣所由變也；火居乎終者，火又燥、濕二氣所由化也。請析言之。風在卦為巽，二陽居一陰之上，外陽內陰，且陽倍於陰，故風為陽邪，風固善動數變而無定體者也。東方濕氣動必雨，故曰濕風；西方燥氣動必旱，故曰燥風；南方暑氣動必熱而濕，故曰暑風；北方寒氣動必冷而燥，故曰寒風；東南之風，濕兼暑也；東北之風，濕兼寒也；西南之風，燥兼火也；西北之風，燥兼寒也。動之得中，人物因之以生；動之太過，人物感之而病。蓋燥微則物暢其機，燥甚則物即干萎；濕微則物受其滋，濕甚則物被其腐。物如此，人可知矣。寒固燥所由生，而火又燥所由成者也。經云：燥勝則乾。所以夏月炎暑司權，物見風日，則津汁漸干，人出汗多，則津液漸耗，火勝則燥固也；秋冬寒涼司令，在草木則枯萎，在露則結為霜，在雨則化為雪，在水則凍為冰，在人則手足皴裂，兩間皆寒燥之氣所盤結也；冬在卦為坎，一陽居二陰之中，寒冰外凝，而燥火內濟，故寒燥之病易化為燥熱，經謂傷寒為熱病，蓋寒則燥，燥則熱，理相因也。若冬月陽不潛藏，地濕不收，則寒又必夾濕，所以冬得秋病，如病瘧、病痢、病溫者，要皆兼乎濕邪耳！至於暑，即濕、熱二氣，互釀為害而化為燥者也。必須分別濕多、熱多。偏於濕者，化燥緩；偏於熱者，化燥急。若純熱無濕，則又為中暍之暑燥矣。若夫火，藏於金、木、水、土中，而動之則出，又燥、濕二氣所歸宿者也。故戛金取火，鑽木取火，掘土取火（土之精凝結而為石，觀取火於石，即可知取火於土之義）。海為火谷，江湖水動處，亦皆有火，病人亦然。金火同宮，離為君火，故肺與心動為燥火，若濕與熱蒸，又為濕火；肝為震之雷火、巽之風火，故肝動為燥火，若濕與熱蒸，又為濕火；腎火為龍火，龍火，水中之火，水虧火旺，化為燥火，若濕與熱蒸，又為濕火；脾屬土，土為雜氣，故脾火多濕火，濕火傷及脾陰，又化為燥火。燥也，濕也，終歸火化也。此地二生火，所以成之者也。他如春溫，寒化燥而夾濕者也；風溫，風化燥也；溫熱、暑溫，濕熱交合為病，而偏於熱者也；濕溫，濕熱交合為病，而偏於濕者也；溫疫，病如役擾，乃濁土中濕熱鬱蒸之氣，而化燥最速者也；伏暑，乃暑濕交合之邪，伏於膜原，待涼燥而後激發者也；瘧疾，有暑濕合邪，伏於膜原，有風寒逼暑，入於營舍，亦皆待涼燥而後激發者也；霍亂，有傷於暑燥，有傷於寒燥，有傷於暑濕，有傷於寒濕，有燥夾濕、濕化燥，相因而為病者也。審是，燥、濕二氣，非風、寒、暑、火所生而化，化而成之者哉？吾故舉之以為提綱。</p>
<p>曰：敢問治法如何？曰：治外感燥濕之邪無他，使邪有出路而已，使邪早有出路而已。出路者何？肺、胃、腸、膀胱是也。蓋邪從外來，必從外去。毛竅是肺之合，口鼻是肺、胃之竅，大腸、膀胱為在裡之表，又肺、胃之門戶，故邪從汗解為外解，邪從二便解亦為外解。燥屬天氣，天氣為清邪，以氣搏氣，故首傷肺經氣分。氣無形質，其有形質者，乃胃腸中渣滓。燥邪由肺傳裡，得之以為依附，故又病胃、腸。肺與大腸，同為燥金，肺、胃為子母，故經謂陽明亦主燥金，以燥邪傷燥金，同氣相求，理固然也。濕屬地氣，地氣氤氳黏膩，為濁邪，然濁邪亦屬是氣，氣從口鼻傳入，故亦傷肺經氣分。肺主一身氣化，氣為邪阻，不能行水，故濕無由化，濁邪歸濁道，故必傳胃、腸，濁中清者，必傳膀胱。</p>
<p>曰：藥之何如？曰：汗者，人之津，汗之出者氣所化，今氣不化津而無汗者，乃氣為邪所阻耳！邪阻則毛竅經絡不開，即胃、腸、膀胱亦因之不開，法當輕開所阻肺氣之邪，佐以流利胃腸氣機，兼通膀胱氣化。燥邪，辛潤以開之；濕邪，辛淡以開之；燥兼寒者，辛溫潤以開之；燥兼熱者，辛涼輕劑以開之；濕兼寒者，辛溫淡以開之；濕兼熱者，辛涼淡以開之；燥化熱者，辛涼重劑以開之；濕化熱者，辛苦通降以開之；燥為濕鬱者，辛潤之中參苦辛淡以化濕；濕為燥郁者，辛淡之中參辛潤以解燥；燥擾神明者，辛涼輕虛以開之；濕昏神智者，苦辛清淡以開之。總之，肺經氣分邪一開通，則汗自解矣。其有納穀後即病者，氣為邪搏，不及腐化，須兼宣松和化，不使之結，後雖傳裡，小通之即行矣。其有感邪之重且濁者，必然傳裡，傳裡即須攻下；若肺氣未開而里證又急，又必於宣通肺氣之中，加以通潤胃、腸之品。肺主天氣，天氣通，地氣乃行耳！燥邪大腸多有結糞，必咸以軟之，潤以通之；濕邪大便多似敗醬，必緩其藥力以推蕩之，或用丸藥以磨化之。燥傷津液者，滑潤之品增液以通之；濕阻氣機者，辛苦之味開化以行之。要之，邪傷天氣，治以開豁，天氣開而毛竅經絡之清邪自開，即胃、腸、膀胱之濁邪，無所搏束，亦與之俱開，汗得解而二便解，如上竅開而下竅自通也。若上竅未開，而強通下竅，則氣為上焦之邪所阻，不能傳送下行，譬如搏足之鳥，而欲飛騰，其可得乎？邪傳地道，治以通利，地氣通，而胃、腸、膀胱之濁邪自通，即毛竅經絡之清邪，孤懸無依，亦與之俱通，二便解而汗亦解，如下竅通而上竅自開也。若下竅不通，而強開上竅，則氣為胃腸之邪所阻，不得化汗外出，譬如海門淤塞，而欲眾流順軌，其又可得乎？審若是，天道與地道，一以貫之之道也，豈有二哉？</p>
<p>曰：其有人虛證實者，當何如？曰：人虛證實，不過加以托邪之法、護正之方，究當以祛邪為主，邪早退一日，正即早安一日，經故曰：有故無隕，否則養癰成患，後雖欲治，不可得而治。吾故曰：治外邪之法無他，使邪有出路而已，使邪早有出路而已矣。</p>
<p>或又曰：邪無形質，依渣滓以為形質，然則病人不與之食可乎？曰：非也。邪之所湊，其氣必虛，能食而不與之食，則胃氣愈虛，譬如空城禦敵，賊必直入而無所防，不獨邪入於胃已也，胃無穀氣，則生化之源絕，五臟皆為虛器，邪且無所不入矣。曰：然則強與之食可乎？而亦非也。不能食而強與之食，則邪氣愈遏，是齎盜糧也。總之，食與不食，當視病者之能與不能，強食固不可，禁食尤不可，但當清淡養胃，不可濃濁護邪。諺有之曰：餓不死的傷寒，謂知飢為有胃氣，乃是不死之傷寒也。吾淮鞠通先生嘗諄言之，奈何病家猶強食，醫家猶禁食，而竟昧乎大中至正之理也哉！</p>
<p>曰：外感百病，不外躁、濕二氣，吾聞諸子矣。敢問內傷何如？曰：內傷千變萬化，而推致病之由，亦祗此燥濕兩端，大道原不外一陰一陽也。彼古今醫籍，分門別類，名色愈多，治法愈歧，徒足炫一時之耳目，反令後學無所指歸，總由未能探本窮原，以察天地陰陽之理焉耳！請析言之。外感者，實也，雖虛而必先實；內傷者，虛也，雖實而必先虛。陽氣虛，則蒸運無力而成內濕；陰血虛，則榮養無資而成內燥；思慮過度則氣結，氣結則樞轉不靈而成內濕；氣結則血亦結，血結則營運不周而成內燥。且也陰陽互根，氣血同源，陽虛甚者陰亦必虛，釜無薪火，安望蒸變乎精微？氣虛甚者血亦必虛，車無轆轤，安望汲引以灌溉？往往始也病濕，繼則濕又化燥。陰虛甚者陽亦必虛，燈殘油涸，焉能大發其輝光？血虛甚者氣亦必虛，水淺舟停，焉能一往而奔放？往往始也病燥，繼則燥又夾濕。蓋化濕猶自外來，（虛濕雖從內生，然畢竟是水飲所化，猶不足中之有餘病也）。化燥則從內涸矣。故因燥化濕者，仍當以治濕為本，而治燥兼之；由濕化燥者，即當以治濕為本，而治燥兼之。此治法標本先後之大要也。</p>
<p>曰：臟腑輕重何如？曰：凡因天氣致病者為外感，外感先病人之天氣；凡因人致病者為內傷，內傷先病人之地氣。故內燥起於肺、胃、腎，胃為重，腎為尤重；蓋肺為敷布精液之源，胃為生化精液之本，腎又為敷布生化之根柢。內濕起於肺、脾、腎，脾為重，腎為尤重；蓋肺為通調水津之源，脾為散輸水津之本，腎又為通調散輸之樞紐。若是者，脾也，胃也，腎也，固肺所藉以生、藉以化者也。天氣不下降，由於地氣不上騰，顧可不分輕重也哉？總之，病有燥濕，藥有燥潤，病有純雜，方有變通。經曰：知其要者，一言而終，不知其要，流散無窮。其斯之謂與！</p>

<h2>望病須察神氣論</h2>
<p>經曰：望而知之之謂神。既稱之曰神，必能以我之神，會彼之神。夫人之神氣，棲於二目，而歷乎百體，尤必統百體察之。察其清濁，以辨燥濕；察其動靜，以辨陰陽；察其有無，以決死生。如是而望始備，而望始神。春山先生曰：人之神氣，在有意無意間流露最真，醫者清心凝神，一會即覺，不宜過泥，泥則私意一起，醫者與病者神氣相混，反覺疑似，難於捉摸。此又以神會神之妙理也。試以色論。經謂五色內應五臟，青屬肝木，紅屬心火，黃屬脾土，白屬肺金，黑屬腎水。此道其常也。而病則有變，甚有五色不應五臟者，此又變中之變。總之，不論何色，均要有神氣。神氣云者，有光、有體是也。光者，外面明朗；體者，裡面潤澤。光無形，主陽、主氣；體有象，主陰、主血。氣血無乖，陰陽不爭，自然光、體俱備。經云：生於心，如以縞裹朱；生於肺，如以縞裹紅；生於肝，如以縞裹紺；生於脾，如以縞裹栝蔞實；生於腎，如以縞裹紫。蓋以平人五臟既和，其色稟胃氣，而出於皮毛之間，胃氣色黃，皮毛色白，精氣內含，寶光外發，既不浮露，又不混蒙，故曰如縞裹。又云：精明五色者，氣之華也。赤欲如白裹朱，不欲如赭；白欲如鵝羽，不欲如鹽；青欲如蒼碧之澤，不欲如藍；黃欲如羅裹雄黃，不欲如黃土；黑欲如重漆色，不欲如地蒼。重言以申明之，即重有神氣之義。蓋有神氣者，有胃氣者也。又云：青如草茲者死，黃如枳實者死，黑如炱（煙煤）者死，赤如衃血者死，白如枯骨者死。此氣血俱亡，無光無體，神氣已去者也。又云：青如翠羽者生，赤如雞冠者生，黃如蟹腹者生，白如豕膏者生，黑如烏羽者生。此氣血雖病，神氣未傷，有光有體，不能內含而不外露者也。觀《內經》論色，分平、病、死三等，雖未明言神氣，而神氣已寓於其中矣。</p>
<p>或曰：病有萬變，色於何別？曰：天地不外燥濕，病亦不外燥濕，色亦不外燥濕。燥屬天氣，色多有光而浮；濕屬地氣，色多有體而晦。風燥、寒燥，由外搏束，主收斂，收斂則急，面色多繃急而光潔；燥搏津液痰飲，外溢於面，色多紅潤而浮；夾濕多紅潤而晦；燥邪化熱，色多幹紅，苗竅乾澀，多煩渴，甚則變枯而青黑，枯而青黑則真陰虧極，而色無光體矣。寒濕內生，色必滯暗，變黃變黑，皆沉晦不明；濕兼風，色潤而浮，多自汗；濕與暑合，與熱合，或濕土鬱蒸之溫邪，三者皆由口鼻吸入，三焦主蒸散，蒸散則緩，面色多鬆緩而垢晦，甚者濁邪由內蒸而外溢，如油膩煙燻者然；若由濕化燥，則又晦而且干，晦而干則濕邪未去，真陰又虧，色又無光而無體矣。</p>
<p>或曰：部位何如？曰：經謂心熱病，額先赤；若青黑色，主有暴疾。肺熱病，鼻先赤。凡鼻色青者，主腹痛；微黑者，有水氣。鼻準黃者，小便難；白者，為氣虛；鮮紅，有留飲。又曰：肺熱病，右頰先赤；肝熱病，左頰先赤；腎熱病，頦先赤，又主膀胱熱結，小便不通。肝病者，目眥青；赤主熱；白睛黃，主黃疸；目眥黃，為病欲愈。又曰：心病者，顴赤；腎病者，顴與顏黑黃（顏，天庭）。赤色出兩顴，大如拇指，主卒死。又曰：色多青則痛，色黑則痹，（如霍亂閉遏，色與絡脈，皆見黑色之類）。黃赤則熱，多白則寒，五色皆見則為寒熱。經言部位之應臟腑，以及五色辨病之說，不可枚舉。學者不可不知，又不可盡拘，（表裡、陰陽，傳變甚速，故不可拘）。所當權於其大，以燥、濕二字為提綱，以兼風、兼寒、兼暑、化火、未化火為權變，以色中之光、體為神氣，大道原不外一陰一陽也。</p>
<p>望色之後，即須審形竅。頭為諸陽之會，因於濕，首如裹，目如蒙；痰飲上干於頭，則眩暈，嘔吐痰水；血燥風動，亦眩暈，頭癢，頭偏疼；又有腎水虛燥，陰不潛陽，氣逆上行，經所謂頭痛巔疾，下虛上實是也。又有肝膽燥熱，木旺風生，耳目無血以養，經所謂徇蒙招尤，目瞑耳聾，下實上虛是也。（兩實字，皆指虛火言，非真實也）。又有頭重視身，名天柱骨倒，元氣已敗，此頭無神氣者也。</p>
<p>肝開竅於目（肝脈上連目系），燥病則目光炯炯，濕病則目多昏蒙；燥甚則目無淚而乾澀，濕甚則目珠黃而眥爛，或眼胞腫如臥蠶；陽明腑實，則譫語、妄有所見；熱入血室，血耗陰傷，晝日明瞭，夜則低聲自語，如見鬼狀。開目見人，病屬陽；閉目不欲見人，病屬陰。脫陽者，見鬼；脫陰者，目盲；脫陰脫陽者，病危。目有眵、有淚、精采內含者，為有神氣；無眵、無淚、白珠色藍、烏珠色滯、精采內奪及浮光外露者，皆為無神氣。凡病目能識人者輕，睛昏不識人，及目直視、歪視、目小、目瞪、目睛正圓、戴眼反折、眼胞陷下，為神氣已去，多不治。其直視、歪視、上視、目睛微定移時稍動者，有因痰閉使然，又不可竟作不治論。</p>
<p>肺開竅於鼻，燥病鼻多幹澀，濕病鼻多潤澤，鼻流清涕多風寒，鼻流濁涕多熱，鼻孔燥如煙煤為陽毒熱極，鼻孔冷滑而黑為陰毒冷極，痰飲壅遏肺氣則呼吸有聲，肺腎虛脫則出入氣微，或喘急抬肩、鼻孔掀張。氣微與掀張，則神氣由此散矣。</p>
<p>腎開竅於耳，心寄竅於耳，膽上絡於耳。暴病耳聾、耳腫、耳痛、耳旁紅，屬少陽風熱燥邪，或肝膽熱挾濕濁上壅；久病耳聾，屬氣虛，屬精脫；若耳焦枯受塵垢，屬腎水虧極，此亦內無精液，而外無神氣者也。</p>
<p>脾開竅於口，口苦屬燥熱，口甜屬濕熱，唇口赤腫而乾者熱極，青黑而潤者寒極，焦而紅者可治，焦而黑者難治，淡白為氣虛，淡白不澤為液少，唇青而反、環口黧黑、唇舌顫振不止、口如魚口、氣出不返者死，為其神氣已去故也。</p>
<p>心開竅於舌，脾之大絡繫於舌本，肝、腎脈亦通舌本。凡木舌、重舌、舌衄，屬心經燥熱；舌菌、舌墊、舌腫大塞口，屬脾經濕熱，挾心火上壅；舌本強硬，為熱兼痰；若舌卷短，痿軟、枯小，則肝腎陰涸而舌因無神氣矣。舌之有苔，猶地之有苔。地之苔，濕氣上泛而生；舌之苔，脾胃津液上潮而生。故平人舌中常有浮白苔一層，或浮黃苔一層；夏月濕土司令，苔每較厚而微黃，但不滿不板滯；其脾胃濕熱素重者，往往終年有白厚苔，或舌中灰黃，至有病時，脾胃津液為邪所郁，或因瀉痢，脾胃氣陷，舌反無苔，或比平昔較薄；其胃、腎津液不足者，舌多赤而無苔，或舌中有紅路一條，或舌尖、舌邊多紅點。此平人舌苔之大較也。若夫有病，則舌必見苔，病藏於中，苔顯於外，確鑿可憑，毫釐不爽，醫家把握首賴乎！此是不可以不辨。</p>
<p>風寒為寒燥之邪，風溫為溫燥之邪。風寒初起在表，風溫首傷肺經氣分，故舌多無苔，即有黃白苔，亦薄而滑；漸次傳裡，與胃腑糟粕相為搏結，苔方由薄而厚、由白而黃、而黑而燥，其象皆板滯不宣；迨下後苔始化腐，腐者宣松而不板實之象；由腐而退，漸生浮薄新苔一層，乃為病邪解盡。其有初起，白苔即燥如白砂者，名白砂苔，此溫燥之邪過重，宜速下之，佐以甘涼救液；亦有苔至黑而不燥者，或黃黑苔中有一二條白者，或舌前雖燥，舌根苔白厚者，皆夾濕、夾痰飲之故；亦有苔雖黃黑，消薄而無地質者，胃陰虛故也。苔有地質與無地質，此虛實之一大關也。</p>
<p>濕為濁邪，兼證最多。風濕傷表，苔多滑白不厚；寒濕傷里，苔多膩白而厚。暑溫、濕溫、溫疫、溫熱，皆濕土鬱蒸之氣。冬溫，因陽不潛藏，亦濕土鬱蒸之餘氣。數者皆從口鼻吸入肺胃膜原，由里而發。春溫為冬傷於寒，寒鬱久而化熱，寒燥之氣，又能搏束津液水飲伏於膜原，與熱混合，亦由里而發。暑濕晚發，名曰伏暑，因夏傷暑濕，伏於膜原，秋日涼燥之氣，又從外搏遏在內之暑濕，此由表邪引動里邪而發。暑濕瘧疾，亦多由此。按六氣之邪，有賊邪、時邪、伏邪之分。如風寒卒感，謂之賊邪。賊邪尖穎，隨感隨發，頃刻不能藏伏。風溫、溫熱、暑溫、濕溫、溫疫、冬溫等證，皆吸受時行之氣，如春受風陽化熱之氣，夏受濕土鬱蒸之氣，故謂之時邪。（風陽化熱，尚屬正氣；濕土鬱蒸，則多不正之氣。）時邪雖伏而後發，但不能久藏。春溫、伏暑，謂之伏邪。如經所謂冬傷於寒，春必病溫，夏傷於暑，秋成痎瘧之類，皆逾時而發。或曰：寒暑之邪，何以伏而後發？曰：伏邪者，正邪也。寒為冬令之常氣。暑為夏令之常氣。常氣感人，由漸而入，人多不覺。《靈樞經》曰：正邪之傷人也，若有若無，若存若亡。謂令人當時不知所受，故能藏伏。伏邪、時邪，皆由里發，多夾濕，故初起舌上即有白苔，且厚而不薄，膩而不滑，或粗如積粉，或色兼淡黃。迨傳胃化火，與糟粕相摶，方由白而黃、而黑、而燥。其暑溫、濕溫之邪，多黃白混合，似黃似白，或黃膩，或灰黃，而皆不燥。此等舌苔，即有下證，或大便不通、不爽，宜熟大黃緩下之，以舌苔不燥，腸中必無燥糞，多似敗醬色，故不宜猛下。</p>
<p>此燥邪、濕邪、燥濕混合之邪，舌苔之大較也。試取葉氏所論而詳言之。初起舌苔白而欠津者，燥熱傷肺津也，宜輕清泄熱，為其上者上之也。如杏仁、桔梗、牛蒡之類，辛潤以解搏束；桑葉、蔞皮之類，輕清以解燥熱；佐山梔皮、連翹殼之微苦微燥，以燥屬金，微苦能勝之也。舌苔白而底絳者，濕遏熱伏也，須防其變干，宜辛淡輕清，泄濕透熱，不使濕邪遏熱為要。如三仁湯蔻仁易蔻皮，稍佐滑石、淡竹葉、蘆根之類，以清化之。初病舌苔白燥而薄，為胃、腎陰虧。其神不昏者，宜小生地、元參、麥冬等味以救陰，（戥分不宜過大，恐遏伏邪氣）。銀花、知母、蘆根、竹葉等味以化邪，尤須加辛潤以透達；若神即昏者，加以開閉，如普濟丹、寧上丸之類，遲則內閉外脫不治。舌苔白燥而厚者，調胃承氣湯下之，佐以清滑養陰之品，如鮮生地、元參、梨汁、蘆根之類。（取其清滑，不滯邪氣）。若舌苔白膩不燥，自覺悶極，屬脾濕重，宜加減正氣散、三仁湯之類，去苡仁、蘆根、滑石，加醒頭草、神麯，辛淡開化，芳香逐穢。舌脹大不能出口，屬脾濕胃熱鬱極，毒延於口，前法加生大黃汁利之，舌脹自消。舌苔白厚黏膩，口甜，吐濁涎沫，為脾癉，乃脾胃濕熱氣聚，與穀氣相搏，滿則上溢，亦宜加減正氣散，加醒頭草、神麯。舌苔如鹼色，或白苔夾一二條黃色，乃宿滯夾穢濁之邪，前法加宣中消滯藥，否恐結閉，不能透出膜原。白苔厚如積粉，四邊舌肉紫絳，乃濕土鬱蒸之溫邪，發為溫疫，仿達原飲、三仁湯加減透邪，以防傳陷。苔白不燥，或黃白相兼，或灰白不渴，慎不可投苦泄清下，此濕鬱未達，或素多痰飲，雖中脘痞痛，亦不可攻，宜用開化，如杏、蔻、枳、桔、陳皮、茯苓、通草之類。舌苔黃濁，胸膈按痛，或自痛，或痞脹，此濕熱混合，宜苦降辛通，如蔞貝溫膽、小陷胸、半夏瀉心、黃芩滑石湯之類。然黃要有地質之黃，乃可用苦辛重劑，若消黃光滑，乃無形濕熱，已見虛象，宜蔞、貝、梔、翹之類，微辛微苦，輕輕開化，大忌苦辛重劑。舌苔老黃、灰黃如沉香色，而有地質，不滑而澀，或中有斷紋，或中心厚苔，此邪已傳裡（胃腑、腸腑），與宿滯相結，脘腹必滿必痛，皆當下之。若未見此樣舌苔，恐濕聚太陰為滿，寒熱濕錯雜為痛，或濕阻氣機為脹，仍當從辛淡溫法開化。若苔黃薄而干，與前白薄而乾者同治。熱邪傳營，舌色必絳而無苔。其有舌絳，中兼黃白苔者，及似苔非苔者，此氣分遏郁之熱爍津，非血分也。宜用前辛潤達邪，輕清泄熱法，最忌苦寒冰伏、陰柔滋膩，致氣分之邪，遏伏內陷，反成純絳無苔。其有不因冰伏，而舌純絳鮮澤，神昏者，乃邪傳包絡，宜犀角、鮮地黃、銀、翹、鬱金、鮮石菖蒲、竹瀝、薑汁等味，清化之中，佐辛潤開閉。若其人平素多痰，外熱一陷，里絡即閉，須兼用寧上、普濟丹丸之類，遲恐閉極痙厥。舌絳望之若干，捫之有津，此平昔津虧，濕熱熏蒸，濁痰蒙閉心包，宜輕清泄熱，佐寧上丸開之。舌色紫暗，捫之濕，乃其人胸膈中素有宿瘀，與熱相搏，宜鮮地黃、犀角、丹皮、丹參、赤芍、鬱金、花粉、桃仁、藕汁等味，涼血化瘀，否則瘀熱為伍，阻遏機竅，遂變如狂、發狂之證。舌紫而腫大，乃酒毒衝心，前法加生大黃汁利之。舌絳欲伸，而抵齒難伸者，此痰阻舌竅，肝風內動，宜於清化劑中，加竹瀝、薑汁、膽星、川貝等味，以化痰熱，切勿滋膩遏伏火邪。舌絳而燥，邪火傷營也，宜犀角鮮地黃湯。其有因寒涼陰柔遏伏者，往往愈清愈燥，愈滋愈干，又宜甘平甘潤，佐以辛潤透邪，其津乃回。舌絳有碎點黃白者，欲生疳也，舌與滿口生白衣如黴苔，或生糜點，謂之口糜，因其人胃、腎陰虛，中無砥柱，濕熱用事，混合蒸騰，證屬難治，酌用導赤、犀角地黃之類救之。舌生大紅點者，熱毒乘心也，導赤、犀角，加黃連、金汁治之，或稍加生大黃汁利之。舌心絳干，乃胃熱上鑠心營，宜清心、胃；舌尖絳干，乃心火上炎，宜導赤以瀉其腑；舌絳而光亮，絳而不鮮，甚至干晦枯萎者，或淡而無色如豬腰樣者，此胃、肝、腎陰涸極，而舌無神氣者也，急宜加減炙甘草湯，加沙參、玉竹、雞子黃、生龜板等味，甘平濡潤以救之。黑為腎色，苔黑燥而厚，此胃腸邪結，傷及腎陰，急宜大承氣鹹苦下之；若黑燥而不甚厚，調胃承氣微和之，或增液承氣墊下之；若舌淡黑，如淡墨色，而津不滿者，此腎虛無根之火上炎，急用復脈、生脈、六味輩救之；舌苔灰黑青黯而滑潤者，及舌雖無苔不燥，而有如煙煤隱隱者，無熱不渴，或見肢涼，此虛寒證，水來剋火之象，急宜理陰煎之類溫之。若舌短縮，為肝、腎氣竭，難治。</p>
<p>看舌之後，又須驗齒。齒為骨之餘，齦為胃之絡。燥熱最爍胃津，並爍腎液。初起齒光燥如石者，熱爍腎陰也。若無汗、惡寒，乃寒燥之氣搏束衛分所致，宜辛涼透汗，勿用滋膩。初病齒流清血，痛者為胃火沖激，不痛者為龍火內爍，分虛實治之。齒焦而有垢者，胃熱爍腎陰也，當微下之；無下證者，宜玉女煎，清胃救腎。齒上半潤、下半燥者，乃水不上承，心火無濟，宜清心滋水，枯處轉潤乃安。胃、腎二經之血，上走齒齦，病深動血，結瓣於上，陽血色紫如干漆，陰血色黃如醬豆瓣，陽血滋胃為主，陰血救腎為要。然見豆瓣色者多險，蓋陰下竭，陽上厥也。齒垢如灰糕樣者，乃胃氣無權，濕濁用事，多死。齒無垢者死，齒如枯骨者死，腎液涸而色不榮，而齒因無神氣矣。咬牙，有實有虛。咬牙齦者，為濕熱化風。但咬牙者，或痰熱阻絡，或胃腑熱極，氣走其絡，皆欲作痙之象。或咬牙而脈證皆衰，或在下後，此胃虛無穀氣以自榮，虛則喜實故也，速宜滋益胃陰。若下後牙關緊閉，為胃氣絕，不治。其有初病舌本不縮而硬，牙關咬定不開者，此痰熱阻竅，先用烏梅擦之使開，（酸能生津，又酸屬木，木來泄土，故擦之即開）。再進清熱化痰潛肝之劑。</p>
<p>腎開竅於二陰，前陰利水，後陰利谷。燥病溺多清黃，濕病溺多渾濁，濕熱、溫邪，溺多渾黃渾赤。其有病濕而溺不渾濁者，在外感為邪鬱氣分，氣不行水，以致濕熱留而不行；在內傷為氣虛不能傳化。若論大便，燥邪多硬，濕邪多溏，燥搏氣機不能化水，又多窘迫下利。傷寒化燥傷陰，下之宜猛；濕邪膠黏重濁，糞如敗醬，下之宜輕。若春溫、溫疫、溫熱，內有燥糞者，又當急下陽明以存津液。傷寒大便溏為邪已盡，若協熱下利，及下利稀水色純青者，又當速下存津，不可誤認為邪已盡。濕邪大便溏為邪未盡，必屎燥乃為無濕。若大便塵腐散薄，完穀不化，而無氣味，或如屋漏水者，此屬敗象，不可誤認為邪未盡。總之，經權常變，不可執一，互證旁參，乃有心得。</p>
<p>形竅望後，當審胸腹臟腑部位。胸中為肺之府，膻中為心之府，正在心下，有膈膜，旁有脅肋，為肝膽之分野，此數者皆清氣津液往來之所。其有胸痞者，濕阻氣機也；胸痛者，水結氣分也，或肺氣壅遏也。正在心下，以及脅肋硬痛者，乃濕熱、痰飲、蓄水與氣搏結使然，非渣滓也。胃為中土，西學云：胃橫居膈下偏左，脘大向左，尾小向右（胃氣故由右降）。胃上口名曰賁門，其紋密，故食物易入而難出，非嘔吐不開；胃下口名曰幽門，下達小腸。小腸周迴疊積，下抵小腹，小腸下口橫接大腸。大腸分上、中、下三回，回長尺許。上回與小腸橫接，名曰闌門，其口如唇，渣滓可入不可出，上回由右胯內旁倒行而上；中回橫過胃底；下回至脾下，從左軟脅斜落，下達廣腸，以至魄門（魄門即肛門，與肺氣貫通）。肝居膈下，胃上，左右兩大葉，左小右大，右大故稍偏膈肉右方，經故曰肝生於左，不曰肝藏於左。（經曰：肝生於左，肺藏於右）。凡肝有病，最為要害。肝葉撐張則脹，肝熱血燥，經絡凝滯不通，下部回血壅脹，即有水血溢於夾膜之裡，漸漬漸深，終成蠱脹，肚大筋青不治。夫青筋，非筋也，血絡也。青者，血燥而結也。此證多由怒郁傷肝所致，蓋肝鬱則熱，熱則燥，燥則血不流通而結，血結則不獨血滯於中，即水飲亦無由吸攝，不能循其常道下輸膀胱，故蠱脹多水。醫者見水行水，不審水由肝血燥結所致，所以不效。《易》曰：山風蠱。艮為山，巽為風，艮上巽下則為蠱。古人取名為蠱，為其燥木剋土，象類山風之義。膽系肝右葉內，膽汁所以潤肝而利腸也。肝性易燥，每取潤於膽汁。凡人食後，小腸飽滿，腸頭上逼膽囊，膽汁漬入腸內，利傳渣滓。膽有熱，則上嘔苦涎，熱迫下行，則下泄青汁；膽受驚，亦泄青汁；腸有寒，渣滓不結，膽汁無所用事，亦致瀉青。膽絡凝滯，膽汁入血，又多生黃病。肝膽經脈，由脅肋下抵小腹，繞陰器，故少腹屬厥陰經。肝經凝滯，則經脈結痛成疝；肝經血燥，則抽搐，燥甚則引舌與卵，故舌卷卵縮。脾附於胃。西學謂脾居胃之左，在第九至十一肋骨之內，脾形如豎掌，與胃相連。胃脘大向左，故曰脾居胃之左。外豐圓向脅，內深窩向胃，故曰臍以上屬太陰經。脾質甚軟，可小可大，其用在集聚往來之血，為動脈寬間之地，經故曰脾統血。脾為胃行其津液，經故曰脾為之使。人有瘧疾，惡寒戰慄，血脈不行於外，即縮於內，無所歸藏則聚於脾，聚於脾則脾脹大，脾脹大故人脘脅脹悶，迨瘧止血行，其脹自消。久久不已，脾不輸精，水與血結，成為瘧母。再久則濕去瘧止，血燥成塊，結於左肋，在體質壯者，人參鱉甲煎丸，取血肉飛走諸靈，通和血絡；若濕未去而瘧未止者，取蔣氏夜光丸，通絡燥濕。然此皆利於實而不利於虛也。吾鄉又多有痞塊，亦生左肋下，世宗越人「肥氣」之說，後人又妄制五積丸藥，一派消削攻下，多致人於死。不知五積與瘧母之推移不動者，皆由血絡燥結所致，血燥而至於結塊，則營氣不得行於其間，故按之堅硬不痛。治法皆以潤為主，或溫潤，或清潤，視其人之寒熱用之；再佐咸潤以軟之，辛潤以通之；有濕者，佐苦辛以化之，自無不效之理。又脾絡燥結，即有血水滲泄於下，蠱脹之源，間發於此。此由思慮傷脾所致，思則氣結，氣結則血亦結，結則血、水不循常道，而蠱成焉。蠱脹總不外肝、脾二經血絡燥結所致。觀此而蠱取山風之義，更可知矣。蠱脹末路，肌肉消瘦，皮膚乾黑，青絡暴露，皆燥象也，非有目所共睹者哉！腎居脊骨第十四節陷中（從上數下在十四節；從下數上，在第七節。經曰：七節之傍，中有小心是也）。與精液總管相通，經故曰腎藏精。三焦經在右腎傍，化水而通水道，經故曰腎主水，腎開竅於二陰。腎與天樞穴通，故曰當臍屬少陰經。膀胱在前陰交骨之裡。西學謂膀胱內有精囊，有精、溺兩管，內底有兩小竅，斜與腎通。按：男子精、溺管，至前陰會而為一，女子分而為二，此陽奇陰偶之義也，（女子外溺竅，經名廷孔）。經曰：膀胱者，州都之官，津液藏焉，氣化則能出矣。夫所謂津者，溺是也；液者，日生之精是也。氣化者，三焦之氣化也。彼西學之說，尚與經義不悖。臟腑部位體用如此，知此則知病之所在矣。</p>
<p>然病有諸內，必形諸外，更當即著於外者言之。燥病或肌膚刺痛，手不可捫；或項背強痛，甚痛筋攣發痙，手足牽引，口噤，頭搖，面黑，毛焦，唇反，眼戴，舌卷，囊縮；又有腸拘似塊，傴僂難伸，及骨痿、偏枯等證。凡物乾則必縮，干則必硬，干則必動，干則必痿，理固然也，在人亦然。濕病則頭目昏重，肢體困倦、痠疼，嗜臥懶動，甚則神智昏沉，如癡如醉。凡物濫則必重，濫則必軟，濫則必混濁而不清明，理固然也，在人亦然。燥熱必煩而動，身熱，口渴，揭去衣被，揚手擲足，尋衣摸席，撮空理線（此條非大實，即大虛，總以苔、脈、神色為憑）；脈來沉實有力，舌苔黃厚，陽也，熱也，實也。寒濕必倦而靜，無熱，不渴，欲得衣被；或身重，足冷，蜷臥，惡寒；或好向壁臥，閉目不欲見光明，懶與人言，脈來軟濫無力，舌苔色白，陰也，寒也，虛也。然則燥濕、寒熱、虛實，不皆即外可知其內乎？</p>
<p>而猶不止此，蓋人身之所守，莫重於五臟，而身之所主，尤莫重於一心。心也者，神氣之所由生者也，顧不重哉？試以燥濕言之。燥屬天氣，天氣為清邪，清邪不昏人神智，故風燥、寒燥、暑燥初起，令人心知所苦，如頭痛、寒熱，皆自知之。惟邪來迅速，直傳心包者，乃有內閉神昏之候；或邪傳胃腑，與濁滯相合，又令譫語、神昏。濕屬地氣，地氣為濁邪，濁邪最昏人神智，往往溫病初起，即令人神氣異常，昏糊煩躁，不知所苦；間有神清而能自主者，夢寐亦多不安，閉目即有所見，有所見即譫妄之根原；又有病初起時，神智驚惶，目光外浮，反自云無病，病深時猶能行走，而身體強直（脈病人不病，謂之行屍，不治），此真陰涸極，病陷於中，神浮於外，最深最重者也，多屬不治。</p>
<p>然此就心之一臟言之也，試再言五臟。經曰：五臟者，身之強也。頭者精明之府，頭傾視深，精神將奪矣。背者胸中之府，背曲肩隨，府將壞矣。腰者腎之府，轉搖不能，腎將憊矣。膝者筋之府，屈伸不能，行則僂俯，筋將憊矣。骨者髓之府，不能久立，行則振掉，骨將憊矣。得強者生，失強者死。又曰：手太陰氣絕則皮毛焦，太陰者行氣溫於皮毛者也，氣不榮則皮毛焦，皮毛焦則津液去皮節，津液去皮節則爪枯毛折，毛折者毛先死，丙篤，丁死，火勝金也。手少陰氣絕則脈不通，脈不通則血不流，血不流則毛色不澤，故其面黑如漆柴者血先死，壬篤，癸死，水勝火也。足太陰氣絕則脈不榮肌肉，唇舌者肌肉之本也，脈不榮則肌肉軟，肌肉軟則舌萎、人中滿，人中滿則唇反，唇反者肉先死，甲篤，乙死，木勝土也。足少陰氣絕則骨枯，少陰者冬脈也，伏行而濡骨髓者也，骨不濡則肉不能著，骨肉不相親則肉軟卻，肉軟卻故齒長而垢、發無澤，發無澤者骨先死，戊篤，己死，土勝水也。足厥陰氣絕則筋絕，厥陰者肝脈也，肝者筋之合也，筋聚於陰器，而脈絡於舌本，脈不榮則筋急，筋急則引舌與卵，故唇青、舌卷、卵縮，則筋先死，庚篤，辛死，金勝木也。五陰氣俱絕則目系轉，轉則目運（五臟之精華，皆上聚於目）。目運者志先死，志先死則遠一日半死矣。六陽氣絕則陰與陽相離，離則腠理發泄，絕汗乃出（如珠不流），故旦占夕死，夕占旦死。又曰：太陽之脈其終也，戴眼（上視），反折（身反向後），瘛瘲（手足抽掣），其色白，絕汗乃出，出則死矣。少陽終者，耳聾，百節皆縱（緩縱不收，筋痿故也），目環（目運轉），絕系，絕系一日半死，色先青，白乃死矣（金勝木）。陽明終者，口目動作，善驚，妄言，色黃，其上下經盛，不仁（肉絕），則終矣。少陰終者，面黑，齒長（牙齦宣露）而垢，腹脹閉，上下不通而終矣（腎開竅於二陰）。太陰終者，腹脹閉，不得息，善嘔，嘔則逆，逆則面赤，不逆則上下不通，不通則面黑、皮毛焦而終矣。厥陰終者，中熱，嗌乾，善溺，心煩，甚則舌卷、卵縮而終矣。又曰：大骨枯槁（腎衰），大肉陷下（脾衰），胸中氣滿，喘息不便，其氣動形（肺衰），其六月死，真臟脈見，乃與之期日。凡若此者，皆陰液絕於內，而神氣奪於外者也。其論少陰、太陰上下不通兩條，乃邪實正虛，正不勝邪，陰液涸極之故。故經又有五實死、五虛死之說。曰：脈盛（心實），皮熱（肺實），腹脹（脾實），前後不通（腎實），悶瞀（肝實），此謂五實；脈細（心虛），皮寒（肺虛），氣少（肝虛），泄利前後（腎虛），飲食不入（脾虛），此謂五虛。漿粥入胃，泄注止，則虛者活；身汗得後利（表裡皆解），則實者活。是虛者，以脾、腎為主；實者，以表裡得解，邪有出路為主。此診外感、內傷之大法也。</p>
<p>別有急虛身中卒至（急邪乘虛卒中身內），五臟絕閉，脈道不通，氣不往來，譬於墮溺，不可為期。此不可責之於望也，外此皆可望而知之者也，故曰望而知之之謂神。</p>

<h1>卷中</h1>

<h2>聞聲須察陰陽論</h2>
<p>五音：宮屬土，商屬金，角屬木，徵屬火，羽屬水。肝在音為角，在聲為呼；心在音為徵，在聲為笑；脾在音為宮，在聲為歌；肺在音為商，在聲為哭；腎在音為羽，在聲為呻。此五音之應五臟也，若病則有不盡然者。獨是五音不外陰陽，陰陽不外燥濕。春山先生分平仄看法，實有至理。燥邪乾澀，聲多屬仄，或乾噦，或咳聲不揚，或咳則牽痛，或乾咳連聲，或太息氣短（燥甚則經絡拘急，拘急求伸，故善太息）；化火則多言，甚則譫狂，其聲似破似啞，聽之有乾澀不利之象。濕邪重濁，聲必低平，壅塞不宣，古謂如從甕中作聲者然，或默默懶言，或昏昏倦怠，或多嗽多痰，或痰在喉中漉漉有聲，或水停心下汩汩有聲，或多噫氣（濕阻不宣，故多噫氣），周身痠痛，沉重難展；化火則上蒸心肺，神智模糊，呢喃自語，或昏沉迷睡，一派皆重濁不清之象，流露於呼吸之間。他如出言壯厲，先輕後重者，外感也；出言懶怯，先重後輕者，內傷也。妄見妄言為譫語，無稽狂叫為狂言，實也。又有神虛譫語、虛煩似狂二證，當以脈、證、舌苔參之，斷不可誤以為實。若語不接續為鄭聲，無人始言為獨語，此屬虛居多。又有言而微，終日乃復言者，此奪氣也；衣被不斂，言語善惡不避親疏者，此神明之亂也，二者皆屬危候。又如痰壅肺絡，咳聲不揚，金實無聲也；勞瘵音啞，金破無聲也。腹形充大，鼓之板實者，實也；腹皮繃急，鼓之𪔣𪔣者，虛也。</p>
<p>然則燥濕、表裡、虛實，不皆可聞而知之乎？而猶不止此。聲出於肺而根於腎，其有無還聲如鴉聲者，乃肺腎將絕，金水不交，聲音不能發自丹田，亦不能還至丹田，故聲直而無迴音耳！然亦有痰閉肺竅使然者，又當以辛潤、清潤開痰利竅，不可竟作不治論。至喘促一證，尤當辨認。肺為氣之統，腎為氣之根，肺主出氣，腎主納氣，陰陽相交，呼吸乃和，若出納升降失常，斯喘作焉。實喘責在肺，虛喘責在腎。實喘者，胸滿聲粗，氣長而有餘；虛喘者，呼長吸短，息促而不足。實喘者，出氣不爽；虛喘者，入氣有音。實喘，有水邪射肺，有痰飲遏肺，有客邪（六氣之邪，皆能致喘）干肺，上焦氣壅，治宜疏利；虛喘為腎不納氣，孤陽無根，治宜固攝。虛實分途，陰陽異治，然則聞聲之道，顧不重哉！經故曰聞而知之之謂聖。</p>

<h2>問證求病論</h2>
<p>病，藏於中者也。證，形於外者也。工於問者，非徒問其證，殆欲即其證見，以求其病因耳！法當先問其人之平昔有無宿疾？有無恚怒憂思？飲食喜淡喜濃、喜燥喜潤？嗜茶嗜酒？大便為燥為溏？婦人問其有無胎產？月事先期後期？有無脹痛？再問其病初起何因？前見何證？後變何證？惡寒惡熱孰重孰輕？有汗無汗？汗多汗少？汗起何處？汗止何處？口淡口苦？渴與不渴？思飲不思飲？飲多飲少？喜熱喜涼？（喜熱飲不皆屬寒，嘗有郁遏不通者，亦喜熱飲，以熱則流通故也）。思食不思食？能食不能食？食多食少？化速化遲？胸心脅腹有無脹痛？二便通澀？大便為燥為溏？小便為清為濁？色黃色淡？（二便最為緊要，乃病之外見者也）。種種詳詰，就其見證，審其病因，方得軒岐治病求本之旨。豈徒見痰治痰，見血治血而已哉！</p>

<h2>切脈源流論</h2>
<p>經曰：營行脈中。又曰：脈者，血之府也。又曰：十二經皆有動脈。（按：十二經動脈，上部動脈在頭，中部動脈在手，下部動脈在足，是為三部。一部三候，是為九候。上部天，兩額之動脈，足少陽之頷厭也；上部地，兩頰之動脈，足陽明之地倉、大迎也；上部人，耳前之動脈，手少陽之和髎也。中部天，手太陰之太淵、經渠也；中部地，手陽明之合谷也；中部人，手少陰之神門也。下部天，足厥陰之五里也；下部地，足少陰之太谿也；下部人，足太陰之箕門也。下部之天以候肝，地以候腎，人以候脾胃之氣；中部天以候肺，地以候胸中之氣，人以候心；上部天以候頭角之氣，地以候口齒之氣，人以候耳目之氣。下部天，女子則取太衝；下部人，胃氣則候於陽明之衝陽，仲景謂之趺陽。《難經》三部者，寸、關、尺也。九候者，浮、中、沉也。又是一法。）《內經》診法三部九候，就十二經之動脈診之，以決死生，以處百病，以調虛實，而除邪疾，部位分明，毫釐不爽。迨扁鵲興，著《八十一難經》，將十二經脈均診於兩手，以圖簡便，其法亦自《內經》得來。經曰：尺內兩傍，則季脅也（季脅包藏臟腑）。尺外以候腎，尺內以候腹中；（內外者，一部中之內外也。浮為外，沉為內，非兩條脈也，辨見《金鑑》。柯韻伯云：凡臟腑近背者，皆候於外，近腹中者，皆候於內。《金鑑》謂五臟皆當候於內，六腑皆當候於外。《內經》內外字，是傳寫之誤）。中附上（關部），左外以候肝，內以候膈，（按：心、肺居膈上，肝、脾、腎居膈下。五臟俱注於膈，肝、脾、腎、膽之脈，俱貫膈而上；心、心包絡、腎、三焦、腸、胃之脈，俱從膈而下。是膈為十一經必由之道）。右外以候胃，內以候脾。上附上，（寸部）。右外以候肺，內以候胸中，左外以候心，內以候膻中。前以候前，後以候後。（關前以候前，關後以候後）。上竟上者，胸、喉中事也；下竟下者，少腹、腰、股、膝、脛、足中事也。</p>
<p>或曰：十二經脈，手六經脈走手，足六經脈走足不走手，今皆診於手者何也？曰：崇其原也。十二經脈根心而生，而上通於肺，以回於下。心主血，肺主氣。氣為血帥，故肺主藏氣而朝百脈。十二經之氣，皆受之於肺。平旦寅初，肺氣流布，起於寸口（寸口又曰脈口、曰氣口，乃寸、關、尺三部之總名，非但指寸之一部已也），運行十二經中，周而復始，一日一夜，五十度畢。（按：人經脈，上下左右前後，二十有八，周身十六丈二尺。人一呼脈行三寸，一吸脈行三寸，一呼一吸，合為一息，一息脈行六寸，二百七十息，氣行十六丈二尺，一周於身。人一日一夜，凡一萬三千五百息，氣行五十度周於身，漏水下百刻，凡行八百一十丈，即十六丈二尺而積之也）。次日平旦寅初，復會於寸口。寸口者，脈之大會，故十二經之盛衰，悉見於此。經曰：經脈者，常不可見也（經脈近筋骨走，故肉厚處按之不覺跳動，肉消處按之方見）。其虛實也，以氣口知之，此氣口所以獨為五臟主也。人生不過氣血兩端，萬病亦不過病氣血兩端。心為主血之臟，肺為藏氣以運血之臟，心肺二經之脈，皆走氣口，探其源不可知其流乎！</p>
<p>曰：脈有尺寸何說？曰：人身上下兩焦，中有膈膜一層，以分陰陽之界。《難經》分寸為尺，分尺為寸，（關上分去一寸，余者為尺。關下分去一尺，余者為寸）。陰得尺中一寸，陽得寸內九分。蓋象乎此。（關以下至尺澤，皆謂之尺，而診脈則止候關下一寸。關以下至魚際，皆謂之寸，而診脈則止候關上九分。曰九分者，其下一分為關耳！關僅一分，象膈膜故也）。曰：關以前者，陽之動也（診心肺）脈嘗見九分而浮，過者法曰太過，減者法曰不及，若上魚際則為溢矣；（溢滿而出於外也）。關以後者，陰之動也。（診肝、腎）脈當見一寸而沉，過者法曰太過，減者法曰不及，若入尺中，則為覆矣。（覆反而傾於內也。）《內經》云：陽氣太盛，陰氣不能營，謂之格；陰氣太盛，陽氣不能營，謂之關；（按：《三難》及《三十七難》關格二字倒置，故引《靈樞·脈度篇》以正之。）陰陽俱盛，不得相營，曰關格。關格者，不得盡其命而死矣。（此數句出《難經》。）</p>
<p>或又曰：既以尺寸分陰陽，又云脈有輕重者，何謂也？曰：此亦診陰陽之法也。曰：初持脈如三菽之重，與皮毛相得者，肺部也；如六菽之重，與血脈相得者，心部也；如九菽之重，與肌肉相得者，脾部也；如十二菽之重，與筋平者，肝部也；按之至骨，舉指來實者，腎部也。夫人呼出心與肺，吸入腎與肝，呼吸之間，脾受穀味，故浮者陽也，沉者陰也，脾在中州，故其脈在中。《靈樞·九針篇》曰：肺主皮，心主脈，脾主肌，肝主筋，腎主骨。扁鵲從此悟出，分輕重五等，診候五臟本象之脈，以別太過不及之為病，實足輔翼經文，而為診候之大法。</p>
<p>曰：診法如此，《內經》又以寸、關、尺分配臟腑者，何謂也？曰：人正南面而立，心屬南離，故候於寸；人之有心，猶天之有日，日出於東，故心候於左寸。肺主天氣，故亦候於寸；肺屬西方金，故候於右寸。肝、膽屬震巽木，故候於左關；脾、胃屬中央土，故候於右關。腎與膀胱屬坎水，故候於兩尺；三焦生右腎傍，故候於右尺。二腸為至濁至下之腑，當候之於尺：小腸與心相表裡，候於左尺；大腸與肺相表裡，候於右尺（按：扁鵲《十難》據臟腑表裡之說，將大、小腸候於兩寸。西晉王叔和遵之。元、明諸家，力辨其非，謂二腸為至濁至下之腑，斷不能候於至上之寸部。近代黃坤載又謂二腸腑雖至濁，經行頭上則至清。徐靈胎亦以為然。喻嘉言、羅東逸仍從元明諸公駁正之說。御纂《金鑑》配二腸於尺部。按：《內經》尺內以候腹中一句，當謹遵《金鑑》。又按：叔和謂左尺候腎水與膀胱，右尺候命門相火，蓋誤以三焦為命門也。考命門之說，《內經》不載。《內經》所謂之命門，指眼目而言，後人以腎為人身之根蒂，故謂兩腎中央為命門，其實命門即兩腎之稱，診腎即是診命門。叔和右尺診命門之說，其誤可知。膀胱與腎相表裡，腎候之兩尺，膀胱亦當候之兩尺，惟三焦在右腎傍，當候之右尺）。再以三焦言之。肺為華蓋，居於至高，故候於寸；右肺大於左（左肺二葉，右肺三葉），故經謂肺藏於右，肺氣由右而降，故候於右寸。心象日，故候於寸。心居肺下而位乎中，肺稍偏於右，是心稍居肺左矣。心血從心左下竅而生，故曰候於左寸。肝、膽、脾、胃同居膈膜之下，故候於關。肝生於左，故候於左關；脾雖居胃之左，而與胃相連，胃之下口由右而降，故候於右關。腎居腰脊，故候於兩尺。大小腸、膀胱、三焦同位於下焦，故亦候於尺。《內經》三部分配臟腑，蓋象乎此。雖然，古人亦據常理言之耳！人身氣血，一氣貫通，區區一寸之地，不必拘分，亦不能盡驗。</p>
<p>他如男女左右及奇脈斜行之說，更難盡憑。東垣左手人迎主外感（人迎，穴名，在結喉兩旁，與肺脈同診），右手氣口主內積之說（六脈均謂氣口），尤屬不經。學者不可不知，亦不可盡拘，但能得其提綱，則權衡在握矣。</p>
<p>曰：診法何如？曰：診法之精，無過《內經》。經以浮、沉、緩、急、大、小、滑、澀八脈，辨表、里、寒、熱、虛、實、順、逆。曰諸浮者，病在陽；諸沉者，病在陰；諸急者，多寒；緩者，多熱；（寒主收引，故脈緊急；熱主蒸散，故脈緩數）。大者，多氣少血；小者，氣血皆少；滑為陽氣盛，澀為陰血少。即於八脈中分對待（如浮沉、滑澀相對待之類）。微甚（如微浮、甚浮、微沉、甚沉之類）。懸絕（如太過至三倍、四倍，不及止一至、二至、絕無之類）之三等，以察病之進退、順逆、死生，何其精且約乎！及仲景以陰陽著脈為十，以浮、數、動、滑、大為陽；沉、澀、弱、弦、微為陰。診陰陽之法，又莫過於此。迨叔和興，繁脈象為二十四，且撰出七表、八里、九道之名（九道更不可解），愈多愈亂，皆由於未審夫脈之有大原也。夫脈之大原，緣於胃氣。經曰：五臟皆稟氣於胃，臟氣不能自至於手太陰，必因胃氣，乃至於手太陰。若邪氣勝，精氣衰，胃氣不能與之俱至於手太陰，故真臟之氣獨見。獨見者病勝臟也，病勝臟曰死。又曰：四時百病，胃氣為本，人無胃氣曰逆，逆者死。若是者，胃氣顧不重哉？然推胃氣之原，又生於穀氣。經曰：食氣入胃，濁氣（即穀氣）歸心，淫精於脈，脈氣流經（十二經），經氣歸於肺，肺朝百脈，輸精於皮毛，毛脈（即肺脈）合精，行氣於腑（六腑），府精神明（六腑精氣神明），留於四臟。氣歸於權衡，權衡以平（肺主治節，分布氣化，以得其平），氣口成寸，以決死生。又曰：得谷者昌，絕谷者亡。審是，穀氣不又為胃氣之本乎？</p>
<p>曰：胃氣脈何如？曰：胃氣脈和柔輕緩，勻淨分明，三部九候，皆要如此，中候尤重，非僅診於右關一部已也。經曰：春胃微弦曰平。胃而微弦者，輕虛而滑，端直以長，如循嫩竹竿梢之象。弦多胃少曰肝病。弦多胃少者，滑硬彈指，如循長竿者然。其氣來實而長，此謂太過，病在外；其氣來不實而微，此謂不及，病在中。太過則令人善怒，忽忽眩冒巔疾；不及則令人胸痛引背，兩脅胠滿。但弦無胃曰死。但弦無胃者，中外急勁，如按弓弦，如循刀刃，此真肝脈見也，色青白不澤，毛折乃死。夏胃微鉤曰平。胃而微鉤者，圓滿滑利，來盛去衰，如連珠，如循琅玕（美玉）。鉤多胃少曰心病。鉤多胃少者，喘喘連屬，其中微曲，有急促相仍之象。其氣來盛去亦盛，此謂太過，病在外；其氣來不盛，去反盛，此謂不及，病在中。太過則令人身熱膚痛為浸淫（蒸熱）。不及則令人煩心，上見咳唾，下見氣泄。但鉤無胃曰死。但鉤無胃者，前曲後居。前曲者，輕取則堅，強而不柔。後居者，重取則牢，實而不動（堅而且滯），如操革帶之鉤，全失沖和之氣，此真心脈見也，色赤黑不澤，毛折乃死。長夏胃微軟弱曰平。胃而微軟弱者，和柔輕緩，勻淨分明，如雞踐地，從容不迫。弱多胃少曰脾病。弱多胃少者，輕疾不緩，如雞舉足者然。太過則令人四肢不舉（濕勝）；不及則令人九竅不通，（經曰：脾臟者土也，孤臟以灌四傍者也。今不能灌溉，故不通），名曰重強（臟氣皆不和順）。但代無胃曰死。但代無胃者，弱而乍數乍疏，如鳥之啄，堅銳不柔，代而中止，如屋之漏，點滴不勻，又或如水之流，去而不返，此真脾脈見也，色黃青不澤，毛折乃死。秋胃微毛曰平。胃而微毛者，厭厭聶聶，如眾苗齊秀者然，輕浮和緩，如落榆莢者然。毛多胃少曰肺病，毛多胃少者，不上不下，往來澀滯，或如循雞羽，輕浮而虛。其氣來毛而中央堅，兩旁虛，此謂太過，病在外；其氣來毛而微，此謂不及，病在中。太過則令人氣逆而背痛；不及則令人喘，呼吸少氣，而咳，上氣見血，下（指氣下）聞病因（呻吟）。但毛無胃曰死。但毛無胃者，如物之浮，空虛無根，如風吹毛，輕散無緒，此真肺脈見也，色白赤不澤，毛折乃死。冬胃微石曰平。胃而微石者，喘喘累累，沉而圓實流利，乃陰中藏陽之象。石多胃少曰腎病。石多胃少者，堅搏牽連如引葛然，其氣來如彈石，此謂太過，病在外；其去如數者（如數者，動止急促，有似緊數，愈虛則愈數，乃真陰虧損之象，原非陽強實熱之數），此謂不及，病在中。太過則令人解㑊（寒不寒、熱不熱、弱不弱、壯不壯），脊脈痛而少氣，不欲言；不及則令人心懸如病飢，䏚中清（俠脊兩傍空軟處名䏚。清，冷也），脊中痛，少腹滿，小便變。但石無胃曰死。但石無胃者，散亂而勁，如奪索，如彈石，此真腎脈見也，色黑黃不澤，毛折乃死。凡此皆面兼二色者，五行相剋之道也；皆曰不澤者，陰液銷亡，色由無光而無體也；皆曰毛折乃死者，肺之化源絕也，草木之枯萎也，先本實而後枝葉，其即毛折不澤之義也。夫觀《內經》診法，四時百病，一以胃氣為本，即以五臟本脈之微甚，診病之太過不及，以微甚之相去懸絕，知胃氣已亡，決之曰死。理何其精，法何其約乎！</p>
<p>且夫診法有以約為貴者，亦有以博為貴者，蓋以一脈能兼數病，一病能兼數脈，真偽固當辨認，常變尤貴圓通。試取景岳十六脈而詳辨之。浮在皮毛，主陽，主表，主風，固也，然有真正外感初起，陽（陽氣）為陰（陰邪）蔽，脈反不浮者，亦有緊數而略兼浮者，審其發熱、無汗、頭身疼痛，為表邪而開達之，陽氣得通，脈始轉浮。更有里邪解後，表邪外達，沉小數實之脈，轉為浮緩，浮緩為外解之徵，日內可冀得汗，此先里後表病也；其有里邪解後，而脈反浮躁者。此邪火傷陰，病勝臟也，名陰陽交（陽邪交於陰分），不治。又有內傷陽氣虛者，脈必浮而無力；陰血虛者，脈必浮而空豁，浮而弦數。是浮不可概言表。即謂浮而無力為虛，浮而有力為實，似可不誤，然有浮大弦硬之極，甚至四倍以上者，又非有力之謂，乃真陰涸極，孤陽無根，胃氣已無，真臟脈見，不可不知。又有兼脈，如浮緊風寒，浮數風熱，浮虛傷暑（暑月汗多，傷陰、傷氣，所以脈虛），浮緩傷濕，浮大傷熱，浮滑宿食，浮芤失血之類，更宜參看。</p>
<p>沉行筋骨，主陰，主裡，主氣鬱，主寒，主水；其病為停飲，為癥瘕，為脹滿，為厥逆，為洞泄。沉細為少氣，為寒飲，為胃中冷，為腰足痛，為痃癖；沉遲為痼冷，為精寒；沉滑為宿食，為伏痰；沉伏為霍亂，為胸腹痛；沉數為內熱；沉弦為痰飲；沉緊為胸腹痛。然沉雖主裡，亦有外感初起，寒燥之氣搏束皮毛，陽為陰蔽，脈不能達，反見沉緊而數者，見有寒熱、頭痛等證，即是表邪。是沉不可概言里。更有沉而細者，或為陽氣不舒，或為陽虛氣陷，又不得以沉專主氣滯。凡此皆於有力、無力辨之，庶可不誤。</p>
<p>遲脈三至，為陰，為寒，為虛。氣寒則不行，血寒則凝滯。寸遲則氣虛不化精，尺遲則精虛不化氣。若遲兼滑大，多主濕痰頑痹；遲兼細小，必是真陽虧損，或陰寒留蓄於中，則為泄痛，或陽氣不衛乎表，而生外寒，以遲為寒、為虛固也。然有濕溫、暑溫、溫熱初起，脈見沉遲，此非虛寒也，乃濕熱鬱蒸之邪，口鼻吸入，從里而發，所以脈象模糊，至數不清，有類沉遲也；遏而無力，亦勿作虛視，乃溫熱熏蒸散漫，所以脈不鼓指也。熱病初退，餘邪未清，正氣未復，脈多遲滑。是遲不可概言寒。凡此於氣色、舌苔、神情、見證驗之，乃可無誤。</p>
<p>數脈六至，有虛有實，不盡主熱。熱邪主蒸散，脈多緩滑。經曰：緩者多熱，緩而滑者為熱中。又曰：數則煩心。及《難經》有數脈為熱之說，舉世宗之，要不可以不辨。一傷寒在表，脈必緊數，此寒燥之氣搏束使然，非熱也。一瘧作時，脈必浮數，瘧止脈則和緩，豈作則有熱，止則無熱乎？此營衛交爭使然，非熱也。一痢疾脈多數而弦、數而澀。仲景曰：弦為陰脈。沉弦為飲。其數而弦者，濕鬱氣血也；其數而澀者，（澀字與遏字不同，澀是乾澀，有如刀刮竹之象），燥傷血液也，非熱也。一癰瘍初起，脈多數，此邪壅氣血也，非熱也。一痙病脈多數，表痙為風寒外搏，里痙為血燥生風，非熱也。一癥瘕里疽，脈多數而澀，此血燥而結，脈所以數澀不利也，非熱也。一胎脈多數而滑，此衝任血旺也，非熱也。更有陽虛者，數而緩大；陰虛者，數而弦澀。愈虛愈數，愈數愈危，真臟脈見，數而散亂，數而堅勁，豈可誤以為熱乎？總之，邪正相爭者，多數脈；陰虛成勞者，尤多數脈。數而有力為實，數而無力為虛，是熱非熱可無瘥矣。</p>
<p>洪脈狀如洪水，來盛去衰，是為陽脈。洪而有力，為陽實耗陰，或為頭痛、面熱、煩渴、咽痛，或為癰瘍、斑疹，或為動血，或為二便不通等證；若洪而無力，乃陰虛陽亢。是洪不可概言實。</p>
<p>微脈纖細無神，浮弱之極，是為陰脈，主氣虛、陽虛，或畏寒、少氣，或脹滿、食不化，或嘔吐、泄瀉，或腰腹痛，或眩暈、厥逆。然亦有痛極氣閉，營衛壅滯，似微而實遏者。是微不可概言虛。</p>
<p>滑脈往來流利，如珠走盤，陽也。滑而和緩，為營衛充實，稟賦充厚。婦人滑而圓滿，經斷無他病，為胎孕。大抵沉分圓滑者多男，浮分圓滑者多女。若病人緩滑而大，為內熱蒸散，滑數有力，為痰、為食，多見脹悶、嘔吐等證。凡病虛損者，瀉痢久者，脈多弦滑，此脾、腎受傷故也，不得概以火論。</p>
<p>澀脈往來艱澀，如刀刮竹，陰也（此陰字，非陰寒也，血主陰，澀乃血少之象）。外感澀而緊數，為寒燥搏束，主身熱無汗，或皮膚刺痛，或咳嗽不爽，胸臆牽疼；內傷澀而弦數，為血燥陰傷，男子傷精，婦人不孕。多由七情不遂，營氣耗傷，血無以充，氣無以暢，在上有上焦之不舒，在下有下焦之不運，在外有筋脈之拘攣、麻痹、枯痿，在裡有風、勞、蠱、膈、瘰癧、內疽、乳岩、癥瘕等證。總之，皆血虛化燥，由燥而結，由結而堅，致成乾澀內著之候。</p>
<p>弦脈彈指，如張弓弦，按之有餘，陽中陰也。（仲景謂弦為陰脈。陰非寒也，乃病伏於裡之說。觀下諸病便知）。弦而滑大，病在陽、在外；弦而細澀，病在陰、在內。外病為痰飲蓄水，陽中伏陰，或眩暈、嘔酸，或胸脅疼脹，或為瘧、痢、痹、疝（瘧脈多弦，弦為飲邪，飲即濕也，飲伏胸脅少陽部位，阻遏清陽，故脈多弦。世認弦為少陽風邪，又不盡然）；內傷為水虧木熾，木強土弱，為虛勞、寒熱、類中、偏枯、噎膈、蠱脹等證。凡人臟腑得胃氣所及，則五臟皆和；見肝木相侵，則五臟俱病。蓋以木之滋生在水，培養在土。若木氣過強，則水土皆敗，而且水又為肝陽所耗，土轉被木賊而傷。腎為精血之本，胃為水穀之源，根本受傷，生氣敗矣，所以木不宜強也。故凡病脈見和緩者順，見弦強者逆，見弦甚者死，為其臟陰已盡故也。觀《內經》真臟脈見，即與之期日可知。</p>
<p>芤脈浮大中空，按如蔥管，為孤陽脫陰之候，主陰虛發熱，失血脫血，頭暈目眩，驚悸怔忡，喘急，盜汗，氣無所歸，血無所附。芤雖陽脈，而陽實無根，大虛之兆。</p>
<p>緊脈急疾有力，堅實搏指，陰多陽少，乃陰邪擊搏之候，主寒燥，主痛。緊數在表，為傷寒發熱、無汗、頭痛、項強等證，或為痹、為瘧；沉緊在裡，為心脅疼痛、胸腹脹滿，為中寒逆冷、瀉痢、陰疝、痃癖等證，在婦人為氣逆經滯，在小兒為寒燥搏束生痙之候。</p>
<p>緩脈四至，從容和緩，浮沉得中，胃氣衝和，是為平脈，必兼他脈，乃可斷病。緩而滑大，多主實熱；緩而遲細，多主虛寒。然實熱必緩大有力，或為煩熱、脹滿、二便不利，或為癰瘍，或傷寒、溫病愈後，餘熱未清，亦多有此脈；虛寒必遲緩無力，為陽虛畏寒、氣怯眩暈、痹弱痿厥、飧泄疼痛、精寒腎冷、小便頻數等證，在女子為經遲血少、氣不統血等證。凡病但得緩脈易愈，以其未失沖和之氣故也。</p>
<p>結脈脈來忽止，止而復起。舊訣以數來一止為促，促脈為熱，為陽極；緩來一止為結，結脈為寒，為陰極。浮結為邪在表，沉結為積聚在裡。促、結二脈，又通謂為氣血痰食、積聚癥瘕、七情鬱結等證。又動而中止，不能即還，良久復動，動而復止，止有常數為代。主五臟無氣，為呼吸存亡之候；又為女胎三月，衝任惡阻，往往脈代，不主於病。觀舊訣所云，是以結、促為實，以代為虛也。以余驗之，又不盡然。暴病見結、促、代脈，多主中有留滯、鬱結等證；久病見促、結、代脈、多主憂思氣結、血結使然。但緩而結者多陽虛，數而結者多陰虛，代脈為氣血衰殘，力不接續，更屬虛極。緩者猶可，數者更甚，代者尤劇。此可以結之微甚，察血氣之消長，故總謂之結脈。又有無病而一生見結脈者，此稟賦之異也，不可不知。</p>
<p>伏脈若有若無，附骨乃見，或火閉而伏，或寒閉而伏，乃一時陰陽潛伏，阻塞氣機之象。主霍亂痛極、疝瘕閉結、食滯水飲、怒忿厥逆等證。有心腹痛極而伏者，有氣逆於經，脈道不行而伏者，有偶因氣脫，不相接續而伏者。然必暴病、暴逆乃有之，開其閉而脈自復矣。若積困綿延，脈本微細，漸至隱伏者，乃爐火將絕之兆，安得尚有所伏哉？</p>
<p>虛脈無力無神，經所謂按之不鼓是也。浮而無力為血虛，陰氣不內營也；沉而無力為氣虛，陽氣不外鼓也；洪數無力為陰虛，陰不潛陽也；遲細無力為陽虛，氣不化精也。陰虛則金水虧傷，龍雷易熾，而五液神魂之病生焉。或喘咳、勞熱，或驚悸、盜汗，或失血、夢遺。陽虛則火土氣衰，真元日損，而君相化源之病生焉。或頭目昏眩、嘔吐亡陽，或胸膈脹滿、泄則腹疼，或溺有餘瀝、寒精自滑。救陰者，壯水之主，以制陽光；救陽者，益火之原，以消陰翳。漸長則生，漸消則死。</p>
<p>實脈舉、按皆強，鼓動有力，為三焦壅塞之候。表邪實者，浮大有力；里邪實者，沉小有力；火邪實者，洪滑有力；寒邪實者，沉緊有力。然實脈有真有偽，真者實而聚，偽者實而散，辟辟如彈石，散亂如解索，乃肝腎真臟脈也，非實也，須兼形證察之，庶幾不誤。</p>
<p>凡此皆脈之有真有偽，不可不辨者也。</p>
<p>試再言常變。浮而無力為陽虛，常也。然陽虛者必反見陰脈，陽愈虛，脈愈沉細，此真陽不能鼓舞也。如沉極而反浮，是微陽欲脫之兆；若得補藥漸浮，而僅得之中候，乃為吉象。倘忽然而浮，浮而短澀無根，是肺之真臟脈見；浮而散大無根，是心之真臟脈見，陽將脫矣，汗出如珠不流乃死。沉而無力為陰虛，常也。然陰虛者必反見陽脈，陰愈虛，脈愈浮數，此真陰不能潛陽也。如浮極而轉沉，是真陰將絕之兆。若得補藥漸沉，而僅得之中候，乃為吉象。倘忽然而沉，沉而欲絕，知陰將脫矣，色黑黃不澤乃死。暴病脈當有力，而反模糊不清者，此邪遏於內也，非虛也；其有沉弱細微，至數分明者，此正不勝邪也。久病脈當柔軟，而反弦澀細數者，此真陰欲涸也。浮沉辨表裡，常也。然沉脈亦有表證，浮脈亦有里證。凡察外感，當以緊數與否為辨。蓋表寒主收引，脈皆緊數而浮；溫熱從里發，脈多緊數而沉。更有脈息素小之人，見似緊非緊，較平日稍為滑急者，即是外邪。又有邪輕者，或初起未甚者，亦多如此，是又不可不兼證察之。若其脈緊急太甚，和緩全無，脈雖浮大，自非表邪。凡辨內傷，見甚浮、甚沉、甚遲、甚數、甚大、甚小、甚微、甚實，皆是勞傷之候。但漸緩則有生意，若弦甚者病必甚，數甚者病必危，弦細再加緊數，則百無一生，以無胃氣故也。又有始也，為浮、為大、為滑、為動、為數（五陽脈）；繼也，反沉、反弱、反澀、反弦、反遲（五陰脈）。此由表入里，由腑入臟之機，其病也進。始也，為沉、為弱、為澀、為弦、為遲；繼也，微浮、微大、微滑、微動、微數。（微字宜玩，五陰脈雖喜轉陽，若忽然暴見，又是脫象）。此由里出表，由臟出腑之機，其病也退。又有脈體本大，而更加洪數，此邪氣日甚也，其病也進；脈體本小，而漸至緩大，此胃氣將至也，其病也退。又有五陽脈終為陽，而始為有力之強陽，繼為無神無氣之微陽，知陽將絕矣；五陰脈雖喜變陽，若忽然暴見，知陽不附陰，孤陽飛越，反照之不長，餘燼之將滅也。又有不以部位拘者，如諸弦皆屬肝脈，諸洪皆屬心脈，諸軟皆屬脾脈，諸浮皆屬肺脈，諸沉皆屬腎脈是也。又如頭痛一證，脈應在寸，常也；若少陽、陽明之痛，則不候之寸而候之關，太陽里邪蓄水之痛，又不候之寸而候之尺。遺、淋等證，脈應在尺，常也；若氣不攝精，心為熱灼，又不候之尺而候之寸。又如六脈中有一脈獨乖者，即當於獨乖之一脈求之，景岳所謂操獨見也。又有素大、素小、素陰（六陰）、素陽（六陽）之脈，此稟之先天，非病也，病則脈又不同矣。</p>
<p>總之，脈以胃氣為本。經曰：脈弱以滑，是有胃氣。又曰：邪氣來也，緊而疾；穀氣來也，徐而和。夫穀氣，胃氣也。胃氣為氣血之本原，故無論何脈，但得兼而軟滑和柔之象，便是有胃氣，雖病無危。若今日尚和緩，明日更弦急，知邪氣之愈進；今日甚弦急，明日稍和緩，知胃氣之漸至。頃刻之間，初急後緩者，胃氣之來也；初緩後急者，胃氣之去也。察邪正進退生死，一以胃氣為主，則得所指歸矣。然又有一切痰脈，不能以常情論者。王中暘曰：痰滯氣機，往往脈見蝦游、雀啄、代止之形，頃刻之間，時有時無，時大時小，或尺寸一有一無，或關上不見，或兩三路亂動。有素息多痰，不時而然者，有忽然而然者，有僵仆卒中而然者，皆非死脈也。凡此皆其變焉者也。知常知變，乃可與言診。</p>
<p>且夫辨真偽，察常變，固貴求諸博；而審病因，觀進退，決死生，又貴返諸約。蓋以天地不外陰陽，陰陽不外燥濕。春山先生分剛柔、圓遏、神氣六字看法，最妙。病有燥濕，脈有剛柔；病有進退，脈有圓遏；病有死生，脈有有無神氣。學者以剛柔、圓遏、神氣六字為綱，以諸脈為目，則由博返約，綱舉而目張矣。剛脈者，即古所謂弦、緊、動、澀、牢、革諸脈是也，按之有尖滯彈指之象，主陰虛之燥病。凡物少雨露滋培，勢必乾澀，人少血液灌溉，亦必乾澀，有同然也，故以剛脈屬陰虛化燥之病。柔脈者，即古所謂濡、緩、濫、滑、微、細諸脈是也，按之如絲線，濕泥柔軟之象，主陽虛之濕病。凡物少風日暄動，勢必軟濫，人少火土蒸運，亦必軟濫，無二理也，故以柔脈屬陽虛化濕之病。夫陰陽以氣言，剛柔以質言，脈為血脈，有氣有質者也。故欲知陰陽之氣，須辨剛柔之質，不獨內傷為然也，外感亦然。但外感以剛、柔二字審病因，以圓、遏二字觀進退。剛而遏者，為燥邪；柔而遏者為濕邪。再以浮、中、沉三候，以察邪之淺深，自有心得。此皆氣血為邪所阻，不能循其常席，一「遏」字足以賅之。暑濕之氣（溫病即暑、濕、熱三氣夾雜之邪），從口鼻吸受，病發於內，脈必似數似緩，或不浮不沉而數，或濡緩模糊，至數不清，皆遏象也。至於風，無定體者也，兼寒燥者緊數而浮，兼暑濕者濡緩而浮（風為陽邪，故脈兼浮）。火，無中立者也，六氣皆從火化。化火在經、在氣分，脈必洪緩；化火入胃腑，與渣滓相搏，脈必沉實而小，甚則沉微而伏。實而小，微而伏，亦遏象也。迨里邪既下，脈轉浮緩而不沉遏，日內必得汗解。若汗後脈仍沉數者，邪未盡也；汗後脈轉浮躁者，邪勝正也；汗後必身涼脈靜，乃為邪盡。夫靜者，沉細之謂。然脈雖沉細，而至數分明，與前之澀滯模糊者不同，數日內食進虛回，則脈轉圓浮矣。圓脈與遏脈反。遏者，病邪遏伏也；圓則氣血通調，精神貫注，何病之有？</p>
<p>昔人以胃、根、神三字為診家妙訣。高鼓峰以脈圓為病愈。此圓之一字，又得胃、根、神三字之神髓矣。夫胃、根、神三字，猶不甚確。蓋有胃即是有神，和柔輕緩，勻淨分明，如雞踐地，從容不迫，所謂胃氣者如此，所謂脈貴有神者亦如此。至根字之說，古人以沉候為根，又以尺部為根中之根。歌曰：枝葉雖枯槁，根本將自生。診危證之脈，必求根以為斷。然以沉候、尺部為根，仍未得根中之氣。嘗見五臟絕脈，惟肺絕，脈如風吹毛，空而無根，其他臟絕，脈沉候尺部皆按之鼓指，分外堅搏，如彈石，如循刀刃，如雀啄，如操帶鉤，皆無神而有根者也。然有根而亦死者，何也？蓋猶木根深入地中而死者，不得氣故也。夫木根雖下垂，而根上旁須四面旋繞，得四方之土氣，氣盛方能旁見側出，枝葉四布。人之脈，隱於肌肉之內，不但下至尺，深至筋骨，亦必按之中間，與肌肉相連一片，如是則氣血交紐，營衛未離，謂之有氣，有氣便是有根。嘗見陰虧之輩，以及年高之人，其脈若獨然一條扛起，似與肌肉不相連絡，陰與陽分，是謂無氣，萬物非氣不能融貫通連，故言根不若言氣，言胃不若言神。心主神，肺主氣，神、氣二者，非脈之大原者哉？</p>

<h2>內傷大要論</h2>
<p>《內經》論內傷，首言七情。曰：怒傷肝，悲勝怒（金勝木）；喜傷心，恐勝喜（水勝火）；思傷脾，怒勝思（木勝土）；悲傷肺，喜勝悲（火勝金）；恐傷腎，思勝恐（土勝水）。此七情之病，還以七情治之也。又曰：百病皆生於氣，怒則氣上（怒則氣逆，甚則嘔血及飧泄，故氣上），喜則氣緩（喜則氣和志達，營衛通利，故氣緩。若喜失之太過，則心氣又渙散不收矣）。悲則氣消（悲則心系急，肺布葉舉，上焦不通，營衛不散，熱氣在胸中，故氣消），恐則氣下（恐則精卻，卻則上焦閉，閉則氣還，還則下焦脹，故氣下），驚則氣亂（驚則心無所倚，神無所歸，慮無所定，故氣亂），勞則氣耗（勞則喘息、汗出，內外皆越，故氣耗），思則氣結（思則心有所存，神有所歸，正氣留而不行，故氣結），寒則氣收，熱則氣泄（寒則腠理閉，氣不行，故氣收。熱則腠理開，營衛通，汗大泄，故氣泄。指外感言）。治法：不外急者緩之（甘），散者收之（酸），抑者散之（辛），驚者平之（酸、甘鎮攝），勞者溫之（甘溫），損者益之（甘平），結者散之（辛潤），寒者熱之，熱者寒之之類。《難經》論五勞，謂自上損下者，一損肺（咳嗽），二損心（盜汗），三損胃（食減便溏），四損肝（善怒、筋緩），五損腎（淋漏），過胃則不治；自下損上者，一損腎（遺濁、經閉），二損肝（脅痛），三損脾（食減、脹、瀉、肌消），四損心（驚悸、不寐），五損肺（咳喘），過脾則不治。又曰：損其肺者，益其氣；損其心者，調其營衛；損其脾者，調其飲食，適其寒溫；損其肝者，緩其中；損其腎者，益其精。《金匱》謂肺勞損氣，心勞損神，脾勞損食，肝勞損血，腎勞損精，與《難經》同義。後人又於五勞推為六極。六極者，數轉筋，指甲痛，為筋極；牙疼，踵痛，足痿不耐久立，為骨極；面無華色，頭髮墮落，為血極；膚如蟲行，體肉乾黑，為肉極；肌無膏澤，目無精光，羸瘦肌癢，搔則為瘡，為精極。然則內傷首言七情者，原病之所由起也；分言五勞者，明病之所由起、所由傳也；推言六極者，窮病之所至極也。一言以蔽之，不外精、氣、神三者而已矣。且夫精也、氣也，人身之一陰一陽也；神者，又貫乎陰陽之中，相為交紐者也。</p>
<p>請徵諸天地。天一生水，水降於下，其濁者凝而為土以成地，地所生之草木為地毛，石為地骨，金為石之君，亦地骨之類，火雖生於地，實即天之陽氣蘊蓄於地中者。是天地者，太極一氣之所化也。水為天之精，火為天之氣，而水火默運於天地之間，時行物生，終而復始，又為天地之神。是天地者，亦精氣神一氣之所生生化化者也。天之神氣，依地以為基；人之神氣，依形體以為歸宿。故朱子謂太極為陰含陽；邵子謂陽為陰之父，陰為陽之母。凡此皆言根陰根陽，相為交紐，而不可須臾離者也。以人言之，人身囫圇一個形軀，稟父母之精血凝結而成，猶水之澄清在下，其濁者凝聚為土以成地體。水為天一之原，水即人之天也。金為水源，水天本一氣也，故天與水隔則為訟，水行天上則為需。水之濁者凝而為地，是地本水之渣滓凝結而成。故人後天生於先天，其形質皆為水類，內外百體，皆賴水養，而火即寓於水之內。包地之內外，皆天氣也；包人之內外，皆陽氣也。天之陽氣，蘊蓄於地中；人之陽氣，蘊蓄於腎中。天之陽氣，天心默運於宇宙之間；人之陽氣，人心默運於形體之間。人具百體，心生最先；（西學謂妊胎二十日，心已成模。）百體先死，心死最後。心本血結而成，血為水類。腎為先天，心尤為先天。心於卦為離，離即先天之乾，乾為天，心即天也。夫人形體皆屬陰物，只有心中一點真陽，得之有生之始，以為本性之靈，明生生之化機。所謂真陽者，心之神也。經雖有心藏神、肺藏魄、肝藏魂、脾藏意、腎藏智（水性活潑，故主智）。之分，而要皆心之所之而有所主者也；雖有喜傷心、悲傷肺、怒傷肝、思傷脾、恐傷腎之分，而要皆心之動而有所累者也。（觀《大學》心有所忿𢜀云云便知）。古歌云：別有些兒奇又奇，心腎原來非坎離。此以身為坎為地，以心之神氣為離為天。春山先生曰：夫人日間為人事紛擾，神氣外用，不能內交心身，是為否。否者，疲也，否則為未濟。夜間安寐，如萬物歸根，神氣來復，內交心身，是為泰。泰者，安也，安則為既濟，是為外坎離。人能動靜交相養，使神氣常交於心身，則真陽之氣依形軀之陰以為歸宿，心身之坎離交，而心腎之坎離自斷無不交之理！陰陽交則平，不交則病，相離則死。故曰內傷百病，不外精、氣、神三者而已矣；精、氣、神三者，又不外神氣與精交與不交二者而已矣。</p>
<p>請析言之。勞力者傷氣，經所謂汗出喘息，內外皆越，勞則氣耗是也。氣耗則陽虛，陽虛必生內寒，內寒必生內濕。虛則氣浮，脈多浮虛豁大，又或陽虛氣陷，按之不鼓，沉細無力，故仲景謂脈虛為勞，脈大亦為勞。見證多怯寒、少氣、自汗、喘乏、頭眩、心悸、食減無味、腹脹飧泄、吞酸噯腐、面黃而浮、反不覺瘦，或蒸蒸發熱，必兼體倦、自汗，甚至中虛不運，不能砥柱中流，虛熱上浮，吐血成碗、面黃、舌淡，而無熱象。此等虛熱，用勞者溫之之法，如建中、保元、歸脾之類，分輕重用之，所謂形不足者，補之以氣是也。尤須息勞靜養，復其耗散之氣，自可就痊。否則陽虛不復，傷及真陽，陽痿精寒，寒精自滑，吸短偏臥，又須加溫潤甘平及血肉有情諸品，如枸杞、沙苑、菟絲、蘆巴、制首烏、山藥、扁豆、破故、鹿膠、羊腎、淡菜、海參之類，填補陰中之陽，以固脾胃。又或陽傷及陰，氣不化精，濕轉為燥，脈變短數、潮熱、骨痛、上咳、下利。此自上損下，由肺及腎者也，若過胃泄瀉，則治療難矣。另有一種勞力傷氣之病，因一時負重，偶然傷力，氣逆於上，胸脅疼痛，甚則呼吸亦痛，咳嗽帶紅。此等傷氣，宜用結者散之之法，如蔞皮、大貝、紫菀、杏仁、枇杷葉，輕降肺中逆氣。吐紅加蘇子、三七汁、鬱金汁、懷牛膝、丹參、藕汁之類，辛潤以化之，與肺勞損氣治法不同。</p>
<p>若勞心者傷神，又重於勞力傷氣者也。或卷牘煩劇，或百計圖謀，心神無片刻之靜，心體無安養之時，由是君火內沸，銷爍真陰，不但傷神，並能傷精，陽不依陰，自陰不潛陽，陰虛必生內熱，內熱必化內燥，脈多細澀，甚而數澀，或浮弦搏指，皆陰虛化剛之象。見證多驚悸、怔忡、心熱、盜汗、虛煩不寐，甚則君火引動相火，傷及真陰，乾咳、吐血、遺滑、淋濁、骨蒸潮熱，諸證叢生。此亦自上損下，由心及腎者也。治法必以甘涼育陰，及血肉諸品，填補精液，如補心、固本、復脈、生脈、三才、六味、二至、二仙、五陰之類，隨其輕重用之，所謂精不足者，補之以味是也。尤須安心靜養，以後天真陰招攝先天真陽，俾心陽下交於腎，腎陰上交於心，陰平陽秘，乃克有濟。</p>
<p>更有七情傷神之輩，為害尤甚。嘗見情志怫鬱，悲憂思慮過度，心陽鬱結，而肝、脾、肺之氣亦因之鬱結。肝葉撐張，則為脹為痛，多怒多煩；脾不輸精，肺不行水，則生痰生飲，噯腐吞酸，食減化遲，大便作燥，不燥則瀉。在初起時，宜用抑者散之之法。夫散非發散之謂，亦非辛香破耗之謂。如逍遙散法，不用散而用湯，減去白朮，借柴胡之微辛以達之，酌加蔞皮、薤白、貝母、杏仁、柏子仁、當歸、酸棗仁、遠志、生穀芽之類，辛潤以開之。諸仁皆陰中含陽，生機內寓，最能調暢心神。或再佐牡蠣、決明、龜板、鱉甲之類，咸柔以軟之；桑葉、釵斛之類，微苦以清之。稍久則氣結者血亦結，或納穀不順，或大便燥結，或咽中作梗（俗名梅核氣）。此噎膈將成之候，又須加阿膠、肉蓯蓉、枸杞、蔗汁、梨藕汁、牛乳、白蜜、韭汁、薑汁之類，甘潤、辛潤、咸潤以流暢之。尤須怡情靜養，庶可獲效。乃世俗治法，往往見其氣結，即用香附、元胡、木香、砂仁、青皮、厚朴、烏藥諸燥藥，以為辛香流氣。不知此無形之結，由於太虛之體默運無權，遂至窒礙不通，豈有用辛香破耗之藥，重傷氣血而能轉為流暢之理？且結則營衛澀滯，氣不運水，必然生痰生飲，或雖見自利，而艱澀不爽。此皆因結而燥，因燥而濕之見證，與陽虛化濕者有霄壤之分，又豈有用溫燥之藥而能治因燥致濕之理？往往愈治愈結，脹痛日增，氣血益虛，默運之權益窒，由是成膈、成蠱、成勞，不治者多。不觀諸《內經》乎！曰：二陽之病發心脾，有不得隱曲，女子不月，其傳為風消，傳為息賁者，死不治。夫二陽，胃也。發心脾者，謂二陽之病，發於心脾者也。思為脾志，實本於心，故張雞峰謂噎膈為神思間病。心脾氣結，飲食漸減，病及二陽。陽明為多血之經，血乃水穀之精氣，賴脾氣以散輸，奉心君而化赤。今心神受傷，困及其子，飲食不嗜，生化無資；衝脈上隸陽明，陽明虛則血海（沖為血海）乾澀，是以不月。觀女子不月，而男子少精可知。血虛則生熱，熱爍則化燥，肌肉乾瘦，如風消物，故曰風消。心火無制，上爍肺金，金燥則不能運布水精以歸正化，津液留於胸中，變為痰飲，咳嗽不已，傳為息賁（氣奔迫而為喘也），何治之有？此郁損心脾化燥之一端也。若悲怒恐驚，更易耗傷心腎肝膽精血，尤宜大劑潤養，佐以鎮攝神志，最忌耗散破削，致之不救。又見悲憂思慮過度，郁損心神。心主血，諸脈皆屬於心，心氣結而諸脈中營氣自不能循其常度，將見始也氣結，既也血結，結則隧道拘攣，往往腹中有硬塊成形之患，肝膽經脈所過部位，有瘰癧成串之患，甚有生乳岩、結核、內疽、附骨、對口、發背等證。體干，故堅硬；內附筋骨，故不紅腫；血燥，故潰後少膿；肌肉堅硬，故潰後生管，甚則成硬弦多骨之類。皆剛象也，皆燥徵也，與濕熱凝於肌肉，外生癰腫，易潰而多膿水者不同。凡人膈膜以上屬天氣，頭為諸陽之會，背為陽中之太陽。凡對口、發背、偏枯、痿痹之類，多屬燥病。推原其故，多由郁損心神，耗及肝脾腎陰所致；又或因吸受天之燥邪而發，或因貪食煎煿及金石桂附諸燥藥而發。經曰：熱中、消中，不可服膏粱芳草石藥，石藥發癲，芳草發狂，不可不知。以上諸證，皆當以養營潤燥為主，佐辛潤以流氣，參咸柔以軟堅，投劑即安，屢驗不爽。勿以脈絡拘結為癥瘕，妄用攻堅破積；勿以瘰癧為痰核，妄用行氣消痰；勿以內疽為陰寒證，妄用辛燥破削。夫古人陰疽之稱，謂其結於血分也，非謂其為陰寒也。或曰：寒則凝滯，冬月水澤腹堅，非寒結乎？曰：必水少而腹始堅，未有長江大河而腹堅者。且寒與燥同源，嚴寒乾結之氣，即是燥邪，故冬月地多堅白坼裂。堅為剛象，而非柔象，此固理之顯見者也。試觀王洪緒《外科全生集》中陽和二方，以大劑熟地、鹿膠潤補為主，借芥子之辛潤，流通營氣；熟地與麻黃並用，麻黃僅用十分之一，藉以輕達衛氣；因血結日久，陽氣不得行於其間，故稍佐薑、桂之溫。薑、桂氣溫熱而體微潤，在其人無熱證者，服之神效，若稍見熱證，則又宜速去薑、桂矣。凡此皆郁損心神，由氣及血，化成燥證，散見於內外者也。若是者，心為君主之官，顧不重哉！</p>
<p>若勞、色傷精之輩，更有甚焉者。先動心以傷神，既勞力以傷氣，終縱情以傷精。傷精則陰虧，陰虧則易動相火，愈動愈傷，一旦精、神、氣三者皆耗，多致不起。脈證較勞心傷神者更重。治法亦不外填補真陰。但久則陰虛不復，真陰不能招攝真陽，真陽即不能歸附真陰，由是龍火上炎，一火興而五火熾，滿腔皆虛陽充塞，而見顴紅、面赤、喉干、咽痛、咳喘、音啞、五心如烙、筋急痠疼、骨痛如折、上咳、下利，種種危證。古法往往見龍雷飛越，用知、柏苦寒直折，非徒無益於真陰，而又戕害乎脾胃。春山先生曰：龍雷為水中之火，春夏濕升水旺之時，龍雷多動，雨勢愈大，電光愈騰，必得西方風起，天之燥氣下降，龍雷乃藏。介類稟乾金之燥氣，得坎水之陰精，滋陰潛陽，較勝於丹溪用知、柏多多矣。古法又有用桂附六味，以為導龍歸海，在陰不甚虛者，或陰虛夾寒濕者，暫用有效，若陰液大虧之人，再以剛燥耗陰，受其害者多矣。或曰：景岳先生云：丹田暖則火就燥，下元固則氣歸精，甘溫能除大熱，又何不可用之乎？曰：是也。夫陰中之陽，如溫泉之氣。試觀溫泉之氣，其為燥陽之氣乎？抑為霧露之溉乎？春日陽從地起，太和元氣，且溫且潤，故草木得之含液而萌芽，腎氣亦猶是也。知此則當揀體質溫潤者用之，質潤屬陰，氣溫屬陽，方與腎之本體相合。許學士云：補腎不若補脾。夫補脾非燥脾之謂，凡甘平、甘淡，皆能補脾。孫真人云：補脾不若補腎。夫補腎非涼腎之謂，凡清潤、溫潤、平潤而味甘者，皆能補腎中之脾胃。補脾、補腎，原兩不相礙也。草木有汁則長青而不枯，人有液則長濡而不燥。欲作長明燈，須識添油法。古人豈欺我哉！此治內傷大法也。</p>
<p>然內傷藉資藥石，以無情之草木，療有情之形軀，猶落下乘。古稱真心為大藥，又有以心醫心之法，乃是最妙上乘。蓋七情、五勞，惟勞力傷氣者，由辛苦而成；高年虧損者，由衰老所致。此外無不由心火妄動，耗散真陰而起。經曰：君火以明。謂其無形無質，寂然不動，感而遂通也。相火以位，謂宜安其位而不出也。火生於天而成於地，金、木、水、土中皆有之，但靜則不見，動之則生。靜中之火，自然之火，能生萬物，經故曰：少火生氣。動中之火，搏擊之火，能害萬物，經故曰壯火食氣。相火安位則不病，心君引動則為病。不獨房勞能引動，一切人事煩勞，皆能引動。動則心病，心病則神病，神病則形病。人身一個囫圇形軀，百脈相通，內外貫徹，斷無此虛彼實之理，不過略有先後輕重之分，故神、形每相繼為病。心腎真陰，即被煎熬，而津、精、涕、唾、氣、血、液七般陰物，以及形體之陰，無一不被煎熬。陰傷則病，陰盡則亡，相火無所歸附，隨君火同去而死矣。悲夫！世之患內傷者，趁此陰陽未離，早用養心功夫。孟子曰：養心莫善於寡欲。蓋寡欲則心虛，虛則靈，靈則生神，神生氣，氣生精，精生形。常人由形生精，精生氣，氣生神，賴後天之真陰，招攝先天之真陽。此由神生氣，氣生精，精生形，本先天之真陽，以復後天之真陰，蓋返還之道也。嘗見養之日久，神與形交，坎離既濟，遍身骨節歷歷有聲，百脈既通，百病自愈，一息尚存，皆可覆命，不獨內病全消，即外邪亦不為患。一心療萬病，不假藥多方。古人之言，洵足信也！</p>
<p>或曰：孩提之童，亦有不足之病，豈亦由心生乎？然赤子雖無心，良由父母氣質薄弱，胎元早已有虧，況今元會氣薄，少年知識早開，往往童子之病，亦多自心始（汪訒庵先生云：小兒喜怒悲恐，較之成人，更專且篤，不可不察）。人果能寡欲清心，喜怒哀樂，情不妄發，由是致中致和，天地位而萬物育，豈徒為一身卻病延年計乎？聖賢誠意正心學問在此，修身俟命功夫亦在此，然則養心之學，其所繫豈淺鮮哉？</p>

<h2>濕氣論</h2>
<p>蓋聞坤土主濕，濕土寄旺四季，而春夏為甚，季夏為尤甚。人知避風寒，不知避濕。能避風寒，不能避濕者，以風寒傷人顯而急，濕傷人隱而緩。隱則莫見，而受之也深；緩則不覺，而發之也遲。濕生於土，本氣屬陰，陰為寒濕，後乃漸化為濕熱。然陰氣必得陽氣而後升，所以盛夏熱甚濕生，萬物皆潤，溽暑蒸淫，自下而上，升於太虛，為雲霧雨露，則濕之化氣，又為陰中之陽。陰中之陽，為濕熱。為溫病，濕熱、溫病，固同氣異名者。濕熱為病，濕與熱猶分為二；溫病，濕與熱直合為一，濕中有熱，熱中有濕，濁熱黏膩，故謂之溫。治之者，須要分別為本氣，為化氣，為分邪，為合邪，為外感，為內傷；於外感中，又須分別兼風、兼寒、兼暑之因；於外感、內傷中，又須分別濕多、熱多、化燥、化火之變。</p>
<p>傷人身天氣、地氣之次第，入氣分、血分之淺深。大抵濕之化氣，多從上受，邪自口鼻吸入，故先傷天氣，次及地氣。經曰：傷於濕，首如裹。又曰：濕上甚為熱，是也。濕之本氣多從內受，總由脾腎陽虛，不能化水所致，故先傷地氣，後及天氣。經曰：諸濕腫滿，皆屬於脾。又曰：腎主水，腎為胃關，關門不利，故聚水而從其類，是也。濕之本氣，又或從外受、下受，傷天氣，並及地氣。經曰：風濕之傷人也，氣血與邪，並客於分腠之間；寒濕之傷人也，皮膚不收，肌肉堅固，營血澀，衛氣去。又曰：陰受濕氣。又曰：傷於濕者，下先受之。又曰：地之濕氣，感則害人皮肉筋骨，是也。</p>
<p>夫皮膚、肌肉、經絡、筋骨，雖有形質，屬地，而其空竅之運行，實皆天氣主之，此天包乎地之說也。界乎人身天地之間者，則有膈膜。膈膜之下，肝、膽布焉，三焦（右腎旁三焦腑。）之經脈行焉，相火寄於肝、膽。濕邪傷肺、脾、胃之表，（肺之表，皮膚也；脾之表，四肢也；胃之表，肌肉也。）表屬氣分，故多兼少陽膽與三焦病；濕邪傷肺、脾、胃之裡，里屬血分，故多兼厥陰肝病。蓋以肺與脾胃為濕熱鬱遏，則天氣不得清肅下降，地氣不得承順下行，肝、膽、三焦適當其沖，上下為邪所阻，不得遂其條達之機，其所寄之相火，必與濕熱同升為病，而見寒熱往來、耳聾、口苦、乾嘔、脅痛、停飲、膈痛等證。居乎人身前後之間者，又有膜原。膜原前近胸腹，後近腰脊，即上中下三焦之沖衢，人身半表半裡之中道也。蓋濕土鬱蒸之氣，濕中有熱，熱中有濕，其穢濁黏膩之邪，由地而上，從口鼻傳入，直趨中道，流布三焦，故膜原為藏邪之淵藪，伏邪多發於此焉。（邪傷毛竅經絡之表與臟腑之裡，皆隨感隨發，惟膜原空隙，如夾牆腹裡一般，最易藏邪，逾時乃發，名曰伏邪。溫，伏邪也。金之劉守真論溫病主三焦，明吳又可又於三焦中揭出膜原。膜原本自《靈樞經》，二公之論，皆獨超千古。）伏邪往往因風寒而發，得藥開通肺氣，在經之邪，從汗而解，暫覺病退，而半日一日之間，忽然轉重。此無他，膜原濕熱互釀之邪，從中而作。斯時也，必視其所傳而藥之。傳表則從汗解；邪氣遏伏重者，則從斑疹解；傳裡則依附胃腸糟粕，必從大便解。濕為濁邪，以濁歸濁，故傳裡者居多。藥之邪退，遲一二日，復作復傳，反覆循環，往往經屢下而邪始盡，吳氏又可所謂九傳是也。其進銳者其退速，其進緩者其退遲；在春夏發者退速，在秋冬發者俱遲。愈期速者，兩候（五日為一候）三候，遲者五七候不等。凡溫病及伏暑晚發，暑濕瘧、痢，多見如此，虛者尤甚。請析言之。濕之化氣，為陰中之陽，氤氳濁膩，故兼證最多，變遷最幻，愈期最緩。其見證也，面色混濁如油膩，口氣濁膩不知味，或生甜水，舌苔白膩，膜原邪重則舌苔滿布，厚如積粉，板貼不松，脈息模糊不清，或沉細似伏，斷續不勻，（脈為邪遏，有似虛寒之象，誤治為害非輕。）神多沉困嗜睡。斯時也，邪在氣分，即當分別濕多熱多。濕多者，無煩渴熱象，天氣為濕阻遏，不能外達下行，則必凜凜惡寒，甚而足冷，頭目脹痛昏重，如裹如蒙，身痛不能屈伸，身重不能轉側，肢節肌肉疼而且煩，腿足痛而且酸。胸痞者，濕閉清陽道路也；午後寒熱，狀若陰虛者，申、酉、戌時，金氣主令，又濕邪本旺於陰分也；小便短澀黃熱者，肺不能通調水道，下輸膀胱，天氣病地氣因而不利也；大便溏而不爽，或濡瀉者，肺與大腸相表裡，心與小腸相表裡，天氣病地氣因而不調也。</p>
<p>治法總以輕開肺氣為主，肺主一身之氣，氣化則濕自化，即有兼邪，亦與之俱化。濕氣瀰漫，本無形質，宜用體輕而味辛淡者治之，辛如杏仁、蔻仁、半夏、厚朴、藿梗，淡如苡仁、通草、茯苓、豬苓、澤瀉之類。啟上閘，開支河，導濕下行以為出路，濕去氣通，布津於外，自然汗解。經曰：水鬱折之。謂水上泛，折回而使之下也。賈真孫曰：治濕不利小便，非其治也。兼風者，汗出、惡風；兼寒者，惡寒、無汗。前法酌加蘇梗、桔梗、豆豉、蔥白、生薑之類。邪在經絡，一身掣痛，酌加桂枝、水炒防己、秦艽之類，以開毛竅經絡之壅。兼暑者，面赤、口渴、心煩，前法去蔻仁，酌加扁豆花、鮮荷葉清香闢穢，連翹、山梔、滑石輕清微苦淡滲，以解暑濕熱之結。熱多者，及濕熱合邪病溫者，前論氣色苔脈諸證畢見，更加神煩、口渴，亦用前辛淡法，酌加蘆根、淡竹葉、滑石輕淡辛涼之類，清金泄熱。肺得清肅之權，自能化濕熱於無何有之鄉。肺是人身天氣，天氣下降，濁邪焉有不降之理？或從汗解，或從小便解。濕熱內郁時，溺赤而清；濕熱下注，則溺赤而渾。濕熱治肺，千古定論也。余氏春山曰：陽為濕鬱，不能外達下行，每見惡寒、足冷，若拘傷寒惡寒之說，投以溫散，其寒反甚，但用蘆根、燈草甘淡通陽利竅，滾煎熱服，下咽即覺熱從外達，津津汗出而解。屢驗不爽，此其證也。其有初起神煩而昏者，此濕熱鬱蒸過極，內蒙清竅，前辛涼淡法去蔻仁、厚朴，加細辛二三分、白芥子錢許，辛潤行水開閉，合之蘆根、滑石等味，輕清甘淡，泄熱導濕，矇蔽即開，亦屢驗不爽。若初起神智模糊，不能言語，舌苔白膩，無熱象者，此寒燥之氣搏遏水濕，內蒙清竅。急用辛開淡滲法，如杏仁、牛蒡、桔梗、芥子、細辛、通草、茯苓、澤瀉之類。其辛香辛燥升散諸品，切勿沾唇，即生薑辛潤不燥，亦不可用，以其性升故也。紅糖甘緩填中，糜粥濃厚膩邪，均在禁例。愈後亦須忌一二日。此病與痧麻、霍亂，治法、宜忌皆同。其大便不利者，用蔞皮、薤白辛滑流利氣機，氣機一開，大便自解，即汗亦自出，隨證均可加入。假使不知濕家忌汗、忌升，汗則亡陽，升則上蔽；閉證忌燥、忌升，燥則閉而且結，升則蒙而益蒙。誤以頭身疼痛、惡寒、無汗、隱疹而用升散，如薄荷、蘇葉、荊芥、防風、羌、獨活等味；誤以濕蒙清竅，痧麻、霍亂諸閉證，而用藿香葉、香薷、佩蘭葉、蔻、砂、桂、姜等味。升散走竄、香燥濁烈，則是濕熱之氣，本是蒸騰，最易矇蔽，而藥復升之、燥之，必致未閉者閉，已閉者益閉，輕則多言譫語，重則神昏、煩躁，內竅閉極，則目瞑不言，目睛頻轉；亦必致肝、膽、三焦少火化為壯火，耳聾、乾嘔，甚則痙厥；又必致邪走皮膚肌肉，發疹發斑。茲不具論，論其化熱。其化熱也，氣分邪熱，郁遏灼津，尚未傳入血分，面色紅黃黑混，口氣穢濁，舌苔黃膩，舌之邊尖紅紫欠津，或底白罩黃，混濁不清，重者厚而且滿，板貼不松，脈息數滯不調，神煩口渴。濕邪化熱，多見此象；濕熱合邪病溫，初起時亦見此象。宜用前辛涼淡法，加以微苦，如連翹、山梔之類，或加姜水炒木通之苦辛，內通外達，表裡兩徹，以冀汗解。濕熱交合，加半夏、姜水炒黃芩，重者加姜水炒黃連三四分，苦辛通降；漸欲化燥，加知母清滋肺金。肺氣為濕熱鬱蒸，不能敷布水精外達下行，必見煩渴、多汗、斑疹、停飲等證。如熱汗時出，大渴引飲，輕者用前辛涼微苦法，加花粉、銀花之類；重者用白虎湯，辛涼重劑，清肺泄熱，虛者加南沙參。蓋濕熱清肺，如溽暑炎蒸，金風驟起，頃刻濕收熱退，如登清涼界中。其邪走皮膚髮疹，邪走肌肉發斑，隱隱不見者，用杏仁、牛蒡、桔梗、蔞皮、大貝、銀花、連翹、淡竹葉、通草之類，辛涼開達；最忌多用辛燥，如蘇葉、薄荷、荊芥、柴胡之類。斑疹已出，熱重者，用白虎湯酌加元參、銀花、蘆根以化之。其飲停胸膈者，必見胸膈悶痛、心煩、乾嘔、渴欲飲水、水入則吐等證。斯時須辨舌苔，如舌苔白膩，則屬飲重，熱因飲鬱而生，宜辛淡化飲。辛能行水，辛潤又不爍津，加芥子最妙，重者加細辛二三分尤妙；淡如通草、茯苓、豬苓、澤瀉、苡仁之類，或用五苓散；清淡如滑石、淡竹葉、蘆根之類。如飲熱並重，濕熱與氣互結，舌苔黃膩，宜苦辛通降，佐以淡滲，如小陷胸湯、半夏瀉心湯，去參、草、大棗，以薑汁炒芩、連代乾薑，加通草、茯苓、栝蔞皮、薤白等味；黃芩滑石湯、杏仁滑石湯、黃連溫膽湯，均可選用。濕熱遏郁肝、膽、三焦經脈，耳聾、乾嘔者，亦宜用上法苦辛開化。脅痛及欲痙者，加鱉甲、石決明、牡蠣以咸降之，既能柔肝，又能化濕，兩不相悖。邪傳心包，神昏譫煩，亦須辨舌苔，如舌苔黃膩，仍屬氣分濕熱，內蒙包絡，與前同一病因，宜用半夏瀉心、陷胸等湯，或用杏仁、芥子、姜水炒木通、鹽水炒黃連、連翹、滑石、蘆根、淡竹葉、栝蔞皮之類，辛潤以通之，鹹苦以降之，清淡以泄之，其濕熱濁邪自化，其閉自開。涼膈散亦可間用（妙在用散），寧上丸、普濟丹亦效。更有邪傳包絡，化燥傷陰，神昏譫妄，舌赤無苔，此證與前證同一神昏，而虛實相反。前系舌苔黃膩，濕熱明徵；此係舌赤無苔，傷陰確據。斯時用藥，最要空靈。神昏為內閉之象，閉則宜開，心宮乃虛靈之所，虛則忌實。宜犀角、鮮地黃、連翹、銀花、鬱金、鮮石菖蒲、蘆根、梨汁、竹瀝，和薑汁少許，滾煎熱服。再用寧上丸或普濟丹，開閉養陰，較牛黃至寶尤勝。地黃用鮮者，取其滑利。少加薑汁，涼藥熱飲，取其流通，此即陰陽開闔之理。蘆根尤宜多用，輕清甘淡，兩清金水，又能泄熱化濕，從膀胱而解。如此治法，斷無不效之理。心宮之邪，本屬鬱蒸之氣，無質無形，最忌一派苦寒冰伏，陰柔濁膩，如三黃解毒、三黃地冬、犀角地黃、清營、清宮等湯，集而用之，有闔無開，毫無方義。今時習俗，尤誤於溫病傷陰之說，不知氣分熱鬱灼津之理，每見舌絳，便用大劑陰柔，是濁熱已遏上焦氣分，又用濁藥，兩濁相合，逼令邪氣深入膏肓，深入骨髓，遂成錮結不解之勢。又或舌苔黃膩，明系氣分濕熱熏蒸，法宜苦辛開化，乃不用開化，而用大劑涼藥，如三黃、白虎、三石、玉女煎之類，有闔無開，亦足逼令邪氣深伏，邪伏則胃氣不得上升，舌苔因之亦伏，轉成舌絳無苔；見其舌絳無苔，又用犀角地黃、清宮、增液諸湯，更令邪氣深伏，藥愈清滋，舌肉愈燥、愈赤、愈黑，甚至音啞，神昏竅閉。斯時若邪在心包，勢必閉而益閉，變在須臾；若邪在膜原中道，又必逼令下傳肝腎，銷爍真陰，陰涸乃斃，變期稍緩。二者均屬難救。於難救之中而求救法，其邪閉心包者，酌用連翹、銀花、蘆根、梨汁、竹瀝、薑汁、鮮石菖蒲之類，和寧上、普濟丹丸以開之。邪入肝腎，神智尚清者，用復脈湯之類，屢進而墊托之，陰液托足，傳送邪氣，由里還表，從戰汗而解（邪盛正虛，故汗必先戰）。又有神昏、譫煩，舌苔黃燥、黑燥，而有質地，此胃腸實邪，地氣壅閉，天氣因之亦閉，宜承氣湯急下其邪，以決壅閉。陰虛者，加鮮生地、元參、蘆根清輕滑利之品，滋燥養陰足矣。若陰柔滋膩藥多，雖用大黃，亦恐不解，是滋陰轉致傷陰也。濕熱化氣，病人之天氣及膈膜、肝、膽、三焦者如此。</p>
<p>濕熱病天氣，若脾腎不虛，即從天氣而化，不致內傳；若脾腎素虛，或誤於藥，或膜原之邪本重，皆令內傳。邪既內傳，不能還表，即從里治；從里治，最要辨其人之體質陰陽、濕多熱多，即可知虛實之分。若其人色白而肥，肌肉柔脆，素有寒濕，此金水之質，其體屬陰，濕邪不易化熱，多病太陰脾土。病脾土，則舌苔腐白，或底白灰滑，見證多胸痞脘悶、不飢、不食、不便，或大便溏滑；或濕鬱為熱，走入肌肉，發為陰黃，黃而昏暗，如熏黃色，而無煩渴熱象，或漸次化熱，舌苔黃滑，口乾而不多飲。其未化熱者，宜苦辛淡溫法，如除濕湯、吳氏加減正氣散之類；已化熱者，宜苦辛淡清法，如加減正氣散加清藥、溫膽湯、清熱滲濕湯之類。發黃，酌加茵陳、黃柏、梔子之類。斯病也，若誤以脘悶等證為食滯，而消之、下之，則脾陽下陷，濕邪內漬，轉成洞泄、脹滿諸病，如是則又當急救脾腎之陽，用寒濕門方法治之。若其人蒼赤而瘦，肌肉堅實，素有濕熱、肝熱，此木火之質，其體屬陽，濕邪最易化熱，多病陽明胃土。病胃土，又要分別有形質與無形質，若無形濕熱，與氣相搏，舌苔黃滑而無質地，或有質地而黃膩，見證多嘔逆、心煩、口渴、間有譫語、胸脘痞悶，按之不痛；或濕熱瘀遏，走入肌肉，發為陽黃，黃而鮮明，如橘皮色。法宜苦辛通降，如黃芩滑石湯、半夏瀉心等湯，量加栝蔞以通之。陰虛者，加以育陰。如舌苔黃厚，脈息沉數，中脘按之微痛不硬，大便不解，此無形濕熱與有形渣滓相搏，按之不硬，多似敗醬色溏糞，宜兼用酒煮大黃為丸，緩化而行，重者加熟大黃、元明粉磨蕩而行。設使大劑攻下，走而不守，則必宿垢不行，反行稀水，徒傷正氣，變成壞證。若舌苔黃如沉香色，或黃黑而燥，脈沉實而小，甚者沉微似伏，四肢發厥，或渴喜熱飲，此皆裡氣不通之象，酌用三承氣湯急下之。中脘痞滿按痛，邪在胃腑，宜小承氣湯。當臍及小腹按痛，邪在小腸，胃脘下口及臍兩旁按痛，邪在大腸，熱結旁流，按之硬痛，必有燥矢，均宜調胃承氣湯鹹苦下之。脘腹均按痛，痞、滿、燥、實、堅悉具，痞滿為濕熱氣結，燥實堅為燥矢，甚則上蒸心包，下爍肝、腎，煩躁、譫語、舌卷、囊縮，宜大承氣湯急下之。陰傷者加鮮生地、元參、知母、蘆根之類足矣。蓋速下其邪，即所以存津液也。少腹按痛，大便色黑如漆，反覺易行，其人喜笑若狂，是腸胃蓄血，上干包絡，小便色黑自利，是膀胱蓄血，均宜桃仁承氣湯急下之，或合犀角鮮地黃湯，以清包絡。發黃、小便不利、腹滿者，茵陳蒿湯下之。其有氣虛甚而邪實者，宜參黃湯；陰虧甚而邪實者，宜護胃承氣湯去芒硝，或增液承氣湯下之；即虛極不任下者，宜用鮮生地汁、小生地汁、元參、知母、栝蔞、麻仁、蜂蜜、梨汁，稍加薑汁之類，滑以去著，辛以潤燥。慎勿當下不下，徒用滋膩，俾邪無出路，轉致傷陰；亦勿遲迴顧慮，致令失下，虛人尤不可失，失則邪愈盛、正愈衰，後即欲下而不可得矣。更有邪熱化燥，傷及腎陰，旦慧夕劇，面少華色，或邪傷肝之經脈，發痙、發厥，審其有熱無結，則又惟有酌用增液、二甲復脈等湯，養陰托邪而已。又有發黃、小便不利而渴、腹不滿者，及熱入膀胱，小便澀痛者，桂苓甘露飲最妙。其或病中遺滑，濕熱襲入精竅，小便澀痛者，甘露飲加龜板、石決明、蘆根，一面養陰，一面化濕，兩不相悖。濕熱化氣，病人之地氣者又如此。</p>
<p>至於暑，即濕熱合邪，醞釀為害，與前證無異。伏暑及伏暑晚發，較春夏溫病來勢稍緩，而病實重。初起微寒發熱，午後較重，狀似瘧疾，而不分明；繼而但熱不寒，熱甚於夜，天明得汗，身熱稍退，而胸腹之熱不除，日日如是，往往五七候始解。推此病之由，總緣陰虛之質，夏月汗多傷液，內舍空虛，陽浮於外，暑濕合邪，深踞膜原，夏月伏陰在內，陽邪處於陰所，相安無事，然雖暫無患，必有焦煩、少寐、飲食少納，面少華色之象，秋來陽氣漸斂，邪與正爭而病作矣。初起邪在氣分，必須分別濕多熱多，尤須知此病從陰虛而得，邪熱一傳陰分，即當以育陰養液托邪為第一義。余前謂陰柔滋膩不可誤用者，謂邪在肺經氣分，氣為邪郁，不能敷布水精，而見煩渴、舌赤諸燥象，自當輕清開化，若用陰柔，則肺氣愈遏，金不生水，燥必轉甚，邪近心宮。邪閉心宮，亦當輕虛開泄，若用陰柔，則心氣愈遏，邪無出路，閉必益甚；邪已傳裡，即當攻下，若但用陰柔，是揚湯止沸，非釜底抽薪。此皆不當用而用之者也。余豈謂陰柔養液之不可用乎？況伏暑本由陰虛得乎！雖然，亦自有辨伏暑有濕多，有熱多。濕多者，舌苔白膩，或變黃黑，而舌邊仍白，脈息模糊，口乾不喜飲，宜且前辛淡法，忌用涼藥；熱多者，舌苔黃滑，或黃膩，脈息細數而遏，口乾頻飲而不能多，宜用前辛涼淡法。邪在膈膜上下，乃由表傳裡之漸，舌苔黃膩而厚，胸痞、脘悶、乾嘔、心煩、口渴，乃濕熱與氣相搏，雖近乎里，卻仍在氣分，宜用前辛苦通降法。邪傳心包，用寧上丸開法。若傳及肝、腎，見有陰虛諸證，即宜加養液，如南北沙參、元參、細生地、麥冬、鮮石斛、玉竹、龜板、阿膠之類。邪未傳裡時，寒已退、而熱不解者，亦用此法。若邪已傳裡，而入血分，暑濕無形之熱，與有形糟粕相搏，舌苔黃膩而厚，脘腹按痛，大便不解，或雖解無多，或雖多而仍覺不爽，宜於辛苦劑中，加熟大黃、栝蔞緩通之，或酒煮大黃為丸緩化之，往往服一二錢，大解一次，再服再解，不服不解，如此服五七次，行五七次，而邪始盡。非病者多食之過也，亦非宿滯之多也，乃膜原伏有暑濕，脾胃因散輸不力，小腸亦變化機遲，所進穀食，皆化糟粕，不化津液，所以屢解不盡。暑濕本屬濁邪，以濁附濁，膠滯纏綿，焉能脫然而解？若初起誤用辛散，傳裡又誤用峻下，必致亡陰，變成神昏、痙厥、脫厥不救。其有里邪已盡，熱仍不退者，審其舌無多苔，或苔薄而無質地，則一以育陰養液托邪為主，如北沙參、大生地、玉竹、元參、麥冬、龜板之類。虛甚而神氣消索，無熱象者，甘涼猶不中窾，宜用甘平甘潤之劑，如六味地黃湯、復脈湯之類，頻進而墊托之，切勿見其不效，中途易法，致令不救。往往上焦之邪，因中無砥柱，內舍空虛，乘虛內陷，得育陰墊托，從中、下焦血分，復還氣分，發白㾦而解。白㾦細小，色白有水，多發於胸腹、缺盆、肩頸、肘臂部位。白者肺之色，水者濕之氣，所發部位，皆屬肺經所行之地，若枯白無水，則又為陰涸之象。亦有育陰墊托，由里還表，邪從汗解，將欲汗時，脈必浮緩，苔必宣松，汗解後，舌苔有即退者，有遲一二日始退者，必得苔淨、脈靜、身涼，舌之兩旁生薄白新苔，方為邪盡。一切外邪、伏邪，均系如此。</p>
<p>更有婦女經水適斷、適來，而病溫者，熱入血室，旦明夕昧，夜更神昏，低聲囈語，如見鬼狀，甚有當面與言，若罔聞知，而戶外之事，反能聞之見之者，人咸以為怪，而非怪也。蓋肝藏魂，肺藏魄，魄強者魂乃安。今熱入血室，血液耗盡，肝為將軍之官，最惡血燥，肝血既燥，又加水竭金枯，腎水不足以涵濡，肺金不足以灌溉，肝遂不能自藏其魂，而飛揚外越，名曰離魂。離魂則出入無時，故戶外之事，皆能聞且見之也。又有病者自覺己身化作兩人並臥者，亦離魂所致。虛勞等證，往往如此。治法一以大劑甘潤育陰為主。初病熱入血室，仲景嘗用小柴胡湯領邪外出，余嘗以青蒿易柴胡，加生地、當歸、元參、麥冬養血養陰，山梔、澤瀉導血室之邪，下行膀胱，以為出路。有瘀少腹按痛者，加赤芍、桃仁、鱉甲、龜板化瘀滋陰；暑未盡者，黃芩、半夏苦辛化邪。最忌攻下，即有實邪，亦必審其舌苔黃燥而有質地，脘腹按痛，大便不解，或經水適來，邪搏瘀停，少腹板痛，或大便色黑如漆，實有熱結、停瘀見證，方可用桃仁承氣湯下之，尤須加生地、當歸、元參、麥冬養血滋陰，以固其本。蓋水淺者舟停，水足則舟自行也。婦人產後病溫，亦當如此。其有產前病溫者，見有里證，當下則下。蓋胎因邪不安，去邪即是安胎，但宜加養血藥。</p>
<p>又有暑濕合邪病瘧，或伏暑晚發，轉為瘧疾，此與尋常瘧疾不同，脈苔見證，皆與伏暑無異，但作止有期，病勢較減，治法與伏暑無異，亦要分別濕多熱多，酌用辛淡、辛涼、辛苦等劑。按暑濕瘧邪，伏於膜原半表半裡，與少陽半表半裡無涉。今時概用小柴胡湯，不獨不效，往往致肝膽相火與濕熱同升為病，而見發嘔、發痙、發驚等證。夫傷寒病邪在少陽，寒熱往來，是寒已而熱，熱已而寒，往來不斷，而無止期，故曰「往來」，不曰「來往」。暑濕瘧疾，先寒後熱。衛氣行於膜原，入於陰爭，外無所衛，則惡寒；出與陰爭，陰無所護，則發熱。熱後汗出即退，是寒來熱往，作止有時，與少陽之寒熱往來無止期者，大相徑庭。又有一種伏暑瘧疾，詳載《內經》。經曰：當暑汗不出者，秋成風瘧。又曰：痎瘧皆生於風。又曰：夏傷於暑，秋成痎瘧。又曰：夏傷於暑，熱氣盛，藏於皮膚之內，腸胃之外，此營氣之所舍也（此指暑熱），令人汗空疏，腠理開，因得秋氣，汗出遇風，及得之以浴，水氣舍於皮膚之內，與衛氣並居，衛氣日行於陽，夜行於陰，此氣得陽而外出，得陰而內薄，內外相薄，是以日作；其氣之舍深，內薄於陰，陽氣獨發，陰邪內著，陰與陽爭不得出，是以間日作。其篇首論蓄作有時，先寒後熱。曰：陰陽上下交爭，虛實更作，陰陽相移，陽並於陰（衛氣內行於營），則陰實（衛氣在內）而陽虛（衛氣內行於營，外無所衛，故虛），陽明虛則寒慄鼓頷，巨陽（即太陽）虛則腰背頭項痛，三陽俱虛則陰氣勝，陰氣勝則骨寒而痛，寒生於內，故中外皆寒；陽盛（衛氣復出於外）則外熱，陰虛則內熱，外內皆熱，則喘而渴，故欲飲冷。觀暑熱傷營、風濕傷衛之說，又與暑濕合邪，深伏膜原者不同。觀營氣之所舍一語，明指半表半裡之營分，非但指少陽一經可知。觀陰陽相移，及三陽俱虛之說，更非但指少陽一經可知。古今來謂瘧疾但屬少陽經病者，一誤解於寒熱往來，再誤解於半表半里。夫寒熱往來，即終而復始之意，已明辨之，再言半表半裡。夫少陽經，乃人身兩側面之半表半裡；營舍屬經脈，乃皮膚內腸胃外之半表半裡；膜原乃人身前後間空隙處之半表半裡。部位不同，病邪亦異，是辨之不可不早辨也。或曰：脈、苔、證、治當何如？曰：暑濕合併為濁邪，脈必模糊，苔必濁膩，寒熱作止，不甚分明，治法與伏暑無異。其暑熱傷營，風濕傷衛者，是營分暑熱本重，衛分又感風濕，衛氣行營，並而後發，脈必浮弦而數，苔必淡白、滑白而不膩，重者舌肉必深紅，先寒後熱，寒輕熱重，後漸不寒而熱。夫浮弦為風象，弦而數乃暑熱在營，為衛分風濕所搏，邪正交爭，欲出而不得出之象。治宜桂枝白虎湯，疏衛清營；衛分邪重者，用桂枝湯，疏衛護營。其當暑汗不出而成瘧者，是夏月當風取涼，以水灌汗，逼令暑邪深入，不復汗而傷於內，脈必浮弦，發時亦必弦數。《脈訣》謂弦為陰脈。弦數不盡屬熱，乃營分之邪欲出而不得出之象，苔亦必淡白、滑白而不膩，但舌肉不深紅，先寒後熱，寒重熱輕，後方轉為寒輕熱重。治宜桂枝甘草湯疏衛為主，營熱衛寒兩重者，桂枝湯疏衛護營，若風寒遏郁衛分，較甚者，用小柴胡湯，領邪出外也可，即用三陽表藥，領邪外出亦可。</p>
<p>凡夏月風寒伏暑，秋成痢疾者，雖病各不同，而究其由來，同屬暑為涼伏，因秋風而發，皆從瘧例治之，用小柴胡湯亦無不可。喻氏嘉言治痢用小柴胡倉廩湯，逆流挽舟，即此意也。</p>
<p>又有濕鬱成霍亂者，吐瀉、腹痛、惡寒、頭身均痛，此非寒也，乃濕勝耳！三陰痎瘧，亦因濕勝而得，但痎瘧為濕鬱脾經，其勢緩；霍亂為濕閉氣機，其勢急。肺為濕閉，則各臟腑之本氣亦閉，氣閉則不能行水，清氣不得下行，濁氣轉而上干，清濁混淆，霍亂乃作；脈必沉細而遏，甚則沉伏；苔必水白白膩，重者舌肉亦水白而不紅活。此病最忌升散溫燥以及甘藥，然間有服溫藥而愈者，乃濕未化熱者耳！若屢進必誤。夫溫燥之品，助濁氣上幹一也；六氣皆從火化，霍亂瀉多亡陰，化燥最速二也。法宜五苓散去蒼朮，化膀胱之氣，以導下流，尤須加辛通下達之品，以開氣閉，氣為水母，氣開乃能行水。夫辛通下達，無過細辛，細辛辛潤而細，故能開達；次則芥子，芥子辛潤而圓，故能流走；再次則杏仁、牛蒡子，仁也，子也，皆寓生機者也，能開表又能通里。杭郡塘棲痧藥及丹平散，所以靈效者，皆細辛之力居多。余屢驗不爽，但不宜多用，其功大者，其力必猛，不可不知。</p>
<p>再以外感寒濕言之。寒濕為濕之本氣，本氣為陰邪。其見證也，惡寒戰（身戰）慄（心慄），周身疼痛，或外邪郁遏內熱，疼而且煩，但舌苔白滑，不渴不飲，內無熱象，故為寒濕。必須分別傷表傷里，表虛里虛，化熱化燥。表雖屬毛竅經脈，而肺實統之；里雖指各臟腑，而腎實主之。其濕兼風寒傷表也，雖當發汗，但忌發之太猛，犯濕家忌汗之戒。《金匱》云：風濕相搏，一身盡痛，法當汗出而解。值天陰雨不止，發其汗，汗大出者，風氣去，濕氣在，亦不愈。治風濕者，發其汗，但微微似欲汗出者，風濕俱去也。蓋風為陽邪，輕浮易去；濕為陰邪，凝滯難驅。微微似欲汗出，即經所謂「漬形以為汗」是也。（妙在「漬」字，有浸潤透徹之義）。又曰：病者一身盡痛，發熱，日晡益劇，名風濕。此痛傷於寒，汗出當風，或久傷取冷所致，可與麻杏苡甘湯。又曰：濕家身煩疼，可與麻黃加朮湯。麻黃加朮，緩中燥濕，一發一補，即微微似欲汗出，風濕俱去之意也。唐宋以後諸方，或不用麻黃，或用麻黃，並雜用薄荷、蘇葉、荊、防、羌、獨升燥走竄之甚於麻黃者，皆由於未嘗藥辨性之故。夫麻黃誠不可多用，若當用而用，止三四分，則較勝於雜用他藥者多矣。即或不用，而以杏仁、蘇梗代之，原無不可，但勿雜用升燥走竄藥，致濕邪內蒙包絡，變為神昏，下傷肝膽，變為痙厥，則善矣。書曰：濕家忌汗，汗多則亡陽（汗為心液，汗多則心液受傷，太陽不能外衛，故脫）。又曰：濕家忌汗，發汗則病痙（汗多血耗，肝無所養，故痙）。洵不誣也。其寒濕傷里也，以利小便為主，最忌誤下。《金匱》云：關節疼痛而煩，脈沉而細，此名濕痹。小便不利，大便反快，但當利其小便。夫關節煩疼，雖屬表濕，鬱而生熱，而脈沉細，小便不利，大便快，濕在裡者居多，故即從里治，利其小便。又曰：濕家但頭汗出，背強，欲覆被向火，若下之早則噦；或胸滿，小便不利，舌上白苔者，以丹田有熱，胸中有寒，熱為寒搏，故渴欲飲水而不能飲，口燥而煩。按：濕家本多汗，頭汗出者，寒氣凝斂於上也；背強欲覆被向火者，太陽經脈行身之背，為寒濕相搏也；噦而胸滿者，誤下虛氣上逆也；小便不利者，誤下津液內竭也。下后里虛，上焦陽氣陷入下焦，為丹田有熱；舌苔白滑，誤下表寒陷入胸中，為胸中有寒；惟丹田有熱，則渴欲飲水；惟胸中有寒濕，雖得水而不能飲，但口燥而煩也。又曰：濕家下之，額上汗出，微喘，小便利者死，若下利不止者，亦死。蓋濕在表，下之則虛其里，額為諸陽之會，額上汗出，孤陽無根而上脫也；微喘，裡熱不守而上逆也；小便自遺，或下利者，陰氣不藏而下泄也；陰陽脫離，故死。觀此可知在裡之寒濕，宜利而不宜下也明矣。其濕合風寒傷人，致表虛里虛者，表虛則固表，裡虛則溫陽。蓋固表則陽氣外衛，陰氣自消；溫陽則離照當空，陰霾自退。君子道長，小人道消，理固有一定者也。故仲景治風濕，脈浮、身重，見其汗出、惡風，知為表虛，主防己黃耆湯，疏而固之；治風濕相摶，身體煩疼，不能轉側，不嘔，不渴（里無邪也），見其脈浮虛而澀，知為陽虛，主桂枝附子湯，和而溫之；若大便堅，小便自利者，知在內之津液不足，主桂枝去桂加白朮湯，溫而潤之（甜術生用，氣雖燥而質潤，既能勝濕，又不傷津）；治風濕相搏，骨節疼痛煩掣，不得屈伸，近之痛劇，小便不利，或身微腫，見其汗出、氣短、惡風不欲去衣，知為表裡兩虛，主甘草附子湯，溫以化之。此漢儒醫學也。繼此而知之者，則惟有喻氏嘉言。其曰：人身陽盛則輕矯，濕盛則重著，乃有身重如山，百脈痛楚，不能轉側，此猶不用附子回陽勝濕，更欲何待？在表之濕，其有可汗者，附子合桂枝湯，驅之外出；在裡之濕，其有可下者，附子合細辛、大黃，驅之下出；在中之濕，附子合白朮溫中燥脾。然則喻氏之學，其直登張氏之堂也乎！更有濕化為熱者，如經所謂風、寒、濕三氣雜至，沓合而成痹。本論又合風、寒、濕、熱四氣名濕痹，是始則濕與風、寒合，繼則濕與熱合。濕與熱合，又當用辛涼淡法，如蒼朮白虎湯、治痹防己湯，或細辛、石膏並用，俾天氣清肅下降，則經絡濕熱自隨之以降，而痹者通矣。又有濕熱化燥者，如經所謂諸痙項強，皆屬於濕。又曰：濕熱不攘，大筋軟短，小筋弛長；軟短為拘，弛長為痿。又曰：經熱則痹，絡熱則痿。又曰：肺葉焦萎，則病痿躄之類。濕化為燥，燥中猶有餘濕，須治濕不礙燥，如防己湯中加龜板、決明、牡蠣、金釵石斛之類；化燥而無餘濕，須治燥不動濕，如熟地炭、蓯蓉、枸杞、玉竹、沙參、制首烏、胡麻之類。乃世俗治拘攣等證，慣用木瓜，且盛稱其養筋、舒筋之功。抑知木瓜味酸澀而質燥，斷無養筋、舒筋之理。此說創自明人，《神農本草》原無是解，宜陳氏修園非之。更有藤屬，如絡石藤、海風藤、薜荔藤等味，慣用以治痹，抑知此類藤屬，辛燥走竄，穿經破絡，化熱化燥，愈服愈痛。夫濕為寒搏，寒搏則燥生，初起即當辛潤、濕潤以解外燥，參以淡滲治濕；濕熱化燥，即當治以清潤，重者清潤不效，又當治以濕潤。即以痹論，痹為濕痹，治濕為本，風寒兼之，方合聖經治病求本之旨。若謂藉以引經，彼桂枝、桑枝、當歸、牛膝諸品，不獨引經，且能流利關節，不較勝於藤屬多多乎？</p>
<p>再以內傷濕熱言之。其病天氣也，肺傷濕熱，清肅不行，或多自汗，或成膚腫，或淋閉，或火瀉，或痢如西瓜水等證，如溽暑蒸騰，必得涼風至、白露降，溽暑乃收，且上竅一開，下竅自注。治法不外辛淡、清淡，如白虎湯、甘露飲加杏仁、芥子、苡仁、通草之類。其病地氣也，濕熱傷脾胃之陰，上而熏蒸肺肝，下而壅塞二腸、膀胱，或生痰、生飲，或吞酸、吐酸，或嘔逆、吐瀉，或土壅木遏，山有風而成蠱，或下塞上閉，天地隔而成否，或濕熱滯於中，而為噤口痢疾，或水濕溢於外，而為皮膚水腫。土屬雜氣，為病最多。治法總不外辛通苦降，如五瀉心湯、二妙散、清熱滲濕湯、資生丸、六君加黃連、鱉甲、澤瀉、薑汁、竹瀝之類。其有痞滿嘔逆，上下不通者，乘其初起，元氣未衰，投控涎丹十餘粒通之，或用小溫中丸數服化之，及早圖治，切勿養癰，致貽後患。其由中土而病及下焦也，或濕熱傷腎，水不濟火而為夢遺、為黃濁；傳入大腸，而為痢；或濕熱傷肝，流入筋脈而為疝；或濕熱傷脾，而為泄瀉。治法亦不外苦辛淡滲，如豬肚丸、知柏生地黃湯、宣清導濁湯、黃芩芍藥湯、滲濕斷下湯、桂苓甘露飲、五苓散、牡蠣澤瀉散之類。其有化燥者，始為濕熱，繼又陰虛，上實下虛，火升痰湧，或胸痞、脅滿，或喘嗽、眩暈，或四肢乏力，或周身疼痛，或血溢、便閉，或面赤、足冷，或痿痹、癱廢。治法又與尋常濕熱不同，若淡滲燥濕，必致真陰下竭，若柔膩滋陰，又助痰濕上壅，務使燥潤得宜，剛柔並濟，如知柏地黃丸、虎潛丸之類。復有陰陽兩虛，真元下衰，濕熱上乘，乘於內則痰熱喘滿、眩暈，溢於外則肢體疼重、麻木，如此則將有類中之虞，如痰厥昏僕、舌強語澀、口角流涎、口眼喎斜、半身不遂等證。宜用劉守真地黃飲子，多加薑汁、竹瀝送下，或服黑錫丹一分，服後半日許，乘其氣息稍平，急進大劑參湯，和竹瀝、薑汁、童便分服之。若過此時，則痰火復升，補氣之藥難於突入重圍矣。其喘滿多熱汗者，急進生脈散以攝陰氣；喘滿多冷汗者，急進參附湯以回陽氣，或用理陰煎以收攝陰陽二氣。治濕熱化燥，有如此者。</p>
<p>再以內傷寒濕言之。或因於天，或因於人，或外無所因，而濕從內起。因於天者，久雨濕勝，外濕引動內濕；因於人者，夏月納涼飲冷，或嗜食茶酒瓜果，急者當時為患，緩者秋後乃發；外無所因者，乃水穀之濕，停蓄於中。三者之原，總由陽虛不能輸水所致。其病天氣也，肺陽傷則水冷，金寒氣不化水，有霾霧蔽空之象；肺陽遏，心陽亦為其所掩，有陰雲蔽日之象。或水泛高原，為喘滿，為痰嗽；或飲邪凌心，為心悸；或上干於頭，為眩暈、嘔吐。治法以辛淡為主，表輕者六安煎，表重者小青龍湯，有汗小青龍去麻黃，或如苓桂術甘、苓桂術薑、《外臺》茯苓飲之類。其陽虛濕重，及喘滿多冷汗者，又非參附湯、真武湯回陽勝濕不克，即前所謂離照當空，陰霾乃退之義。其病地氣也，脾胃陽傷，水多土濫。脾陽傷則見脘痞、腹脹、腹痛、腫脹、便溏、洞泄、三陰痎瘧等證，法宜溫中燥濕，如附子理中、真武等湯之類；胃陽傷則見脘脹、嘔逆、不飢、不食、不便等證，法宜辛溫淡滲，如平胃散、胃苓湯、除濕湯之類。亦有濕鬱化熱，舌苔先白滑灰滑，而後轉黃燥，口渴不飢，小便澀痛，大便堅實，即古稱濕火是也。治法又宜苦辛涼淡，如半夏瀉心等湯。要之，濕為陰邪，傷人之陽也，得理之常；傷人之陰也，乃勢之變。其病地氣，而及地中之水、火、木也。腎陽虛，則三焦不能化水滲入膀胱，而見濕痢、滑泄、五更泄瀉、腰腿痠痛等證。邪水旺一分，則真水虧一分。治法以溫腎陽、泄膀胱為主。溫腎陽，即所以生脾土；泄膀胱，即所以安腎陽。溫腎陽，如真武湯、《金匱》腎氣湯、參茸湯之類。泄膀胱，如五苓散之類。其病肝木者何？蓋木賴水生，水多則木泛，木泛則不得遂其生髮之性，而疏泄無權，樞轉不力，即《內經》所謂風濕交爭，風不勝濕之意。治法宜逍遙散、小柴胡湯、補中益氣、調中益氣等湯，以復其風木之性，則水隨氣轉，由決瀆入州都，而汜濫者治矣。此治內傷寒濕之大較也。學者博覽群書，自知所論不誣矣。</p>

<h1>卷下</h1>

<h2>燥氣論</h2>
<p>經云：燥勝則乾。干為澀滯不通之疾。其病有外感、內傷之因，寒燥、燥熱之異，傷人氣分、血分之次第淺深，皆辨之不可不早辨也。邵新甫曰：外感之燥，首傷上焦氣分，氣分失治，則延及血分；內傷之燥，乃人之本病，由於精血下奪而成，或因偏餌燥藥所致，病從下焦陰分先起，下焦失治，則槁及乎上，喘咳、痿厥、三消、噎膈之萌，總由於此。治法：外感之燥，津液結於上而為患者，結者必使之開解，非辛潤流利氣機不可；內傷之燥，精血竭於下而為患者，竭者必使之復盈，非柔潤靜藥，及血肉有情者以滋填之不可。大抵是病用藥，最忌者苦澀，最善者甘柔。此其大較也。獨是外感、內傷宜分，寒燥、燥熱尤不可混。夫因寒而燥，為燥之化氣；由燥而熱，乃燥之本氣。人但知燥熱為燥之常，而不知寒燥為燥之變，無怪乎其辛燥升散，動輒得咎也。不觀諸《內經》乎？經曰：陽明司天，燥淫所勝，民病善嘔，心脅痛不能轉側，治以苦溫（苦當是微苦，如杏仁之類，取其通降。溫當是溫潤，非溫燥升散之類）。此《內經》治寒燥之正法也。又曰：陽明之勝，清發於中，左胠脅痛、溏泄，內為嗌塞，外發㿗疝，大涼肅殺，華英改容，毛蟲乃殃，胸中不便，嗌塞而咳。據此經文，亦指涼燥搏束而言。《性理大全》謂燥屬次寒。沈目南曰：盛夏暑熱熏蒸，人身汗出濈濈，肌膚潮潤而不燥，冬月嚴凝肅殺，人身乾槁燥冽，故深秋燥氣行，人體肺金應之，肌膚亦燥。此亦指寒燥而言。寒燥如此，溫燥可知。</p>
<p>夫乾金主燥，於時為秋，然秋不遽燥也，秋分以後，漸至大涼，露寒霜肅，清氣搏激，燥乃行令。燥從天降，首傷肺金，肺主一身氣化，氣為燥郁，清肅不行，機關不利，勢必乾咳連聲、胸脅牽痛、不能轉側、胸懣氣逆喘急、乾嘔。又或氣為燥郁，不能行水，水停膈上，則必口渴思飲、飲水則吐、煩悶不寧、氣為燥郁，不能布津，則必寒熱無汗、口鼻唇舌起燥、嗌喉干疼。又或氣為燥郁，內外皆壅，則必一身盡痛；肺主皮毛，甚至皮膚干疼、手不可按、凜凜惡寒、甚而肢厥，雖覆以重裘不溫，頗似陰寒之象。又或氣為燥郁，治節無權，中宮水飲不能屈曲輸於膀胱，而直注於大腸，則必腹痛、泄瀉，甚者揮霍攪亂、上吐下瀉、脈伏肢涼，又似陰寒寒濕之象。夏受暑燥，亦多病此。但燥氣干滯，所瀉必艱澀難行，與濕瀉、熱瀉之傾腸滑利者不同。吐瀉甚則津液內奪，柔化為剛，腸燥拘急，有似硬梗，按之痛甚，蜷曲難伸，任（脈）失榮養，當臍上下按之堅硬，動躍震手；沖（脈）失榮養，臍之兩旁按之堅硬，動躍震手。此皆燥極見證，切勿認為積滯，誤行攻下。又或經絡失於榮養，拘攣掣痛，俗名轉筋，立時陰亡液涸，目陷肉銷，面青膚黑，舌中肉剝，神明昏亂，陰奪於內，陽無依附，遂至肢厥身冷，汗出如珠，內閉外脫不救。又或肺燥直逼大腸（肺與大腸同屬燥金），而成腸澼（俗名痢疾）；燥鬱氣機，則腸垢下而色白，燥傷血絡，則血滲大腸而色紅，（腸中本無血，所行之血，乃腸間經絡之血滲入大腸。）腸中切痛、痛而後行、裡急後重、艱澀不通、行後稍止、氣機終覺不利、糟粕又或結為燥糞。與濕痢之痛緩酸墜，而不裡急艱澀，大便溏而多者有別。</p>
<p>凡此燥病，多生於陰虧之輩，勞苦之人，夏月炎蒸，液為汗耗，水竭金枯，裡氣已燥，以燥感燥，同氣相求，最為易易。唐·孫思邈真人制生脈散（人參、麥冬、五味子，合為生脈散，本屬陰柔之品，乃製為散，潤藥燥服之，既可得藥之形質，緩化於內，又不膩氣機。古人立法，周密如此）。使人夏月服之，以保肺金，治未病也。奈何漢唐以後，醫道失傳，不知人生天地間，外感內傷，千變萬化，總不外天地陰陽之氣，即不外天地燥濕之氣。乃世於濕氣，猶多發明，而於燥氣，未能詳究，所以每遇外感，渾曰風寒，不辨其為風燥、為風濕、為寒燥、為寒濕，至暑燥初起，與寒燥相似，更不之辨。但見寒熱、無汗、頭身疼痛、咳嗽、嘔吐、胸懣氣逆等證，輒用辛燥升散，見有胸懣，便曰感寒停滯，並用苦燥破滯，輕則用蘇、薄、荊、防，重則用羌、獨、芎、芷，在夏月則用香薷、藿香，至青皮、枳殼、山楂等味，亦慣行佐用。試思以上諸藥，其為辛潤乎？抑為辛燥乎？其在夾濕者，用之猶可，若是風燥、寒燥之邪，則以燥治燥，變證必然蜂起，將見燥邪竄入肌肉則發斑，竄入皮膚則發疹，竄入營分則舌赤無苔，神亂譫煩。斯時也，見其邪入營分，又用一派苦寒清火、柔膩滋陰，逼令燥邪深入心包，深入骨髓。入心包則神煩意亂（煩屬心肺），輕則多言，重則譫語，閉極則神明昏亂，囈語不休，目睛頻轉；入腎則燥，循衣摸席，揚手擲足；陰液耗極則口噤齒齘，身強發痙，內閉外脫，不可救援。又或上焦氣分之邪未開，法宜辛潤開達，或津液聚於胸膈為痰，阻結氣分，正在心下硬痛，法宜苦辛通降，如小陷胸湯、半夏瀉心湯、溫膽湯、三子湯之類，對病發藥，方能獲效。乃不用開化，妄用大劑攻下，氣為邪搏，不能傳送，正糞不行，但行稀水，徒傷氣血；又或邪已傳裡，遷延不下，致成臟結，雖下不行。若是者，始而以燥治燥，致邪走竄；繼而苦寒冰伏、陰柔滋膩，致邪閉結；終而誤下失下，致邪實正虛，輕者重，重者死。蓋不知凡幾，其為可慨，不亦甚乎！</p>
<p>又見習俗，遇有霍亂，不辨燥濕，但見腹痛吐瀉，輒用藿香正氣散，甚有用香、砂、桂、附、吳萸諸燥藥，其在濕邪，自可冀以溫中止瀉，若是燥邪，不獨瀉不能止，必致耗液亡陰，內閉外脫，或上焦之邪，走入中下，氣分之邪，走入營分，每見大便下紅，形如血膋，遂不可救。</p>
<p>又見習俗，遇有腸澼，不辨燥濕，輒用敗毒散升陽、芍藥湯通里。其在風濕致痢，用敗毒散升陽轉氣，逆流挽舟，自可獲效；濕熱致痢，用芍藥湯酸苦泄熱、苦辛通降，亦可獲效。若是燥邪，治以辛燥、苦燥，必致傷及血液，剝盡腸膏。如此類推，不可枚舉。</p>
<p>或曰；治法何如？曰：病有燥濕，藥有燥潤；病有風燥、寒燥、暑燥、燥火、燥郁夾濕之分，藥有辛潤、溫潤、清潤、咸潤、燥潤兼施之別。且六氣之邪，初無形質，以氣傷氣，首先犯肺，必用輕藥，乃可開通，汗出而解。經曰：輕可去實，信不誣也。況人之汗，為津液所化，而汗之出，乃氣機所傳。一經感邪，阻遏肺氣，氣為邪阻，不能布津外通毛竅，故身無汗、寒熱、疼痛；氣為邪阻，不能布津上濡清竅，下通胃腸，故口乾、舌燥、胸懣、氣逆、二便不調。治者當辨燥濕二氣何氣致病？所兼何邪（兼風、兼寒、兼暑）。所化何邪？（化火、未化火）。所夾何邪？（夾水、夾痰、夾食、夾本病）。對病發藥，使之開通，（開字橫看，是由肺外達皮毛，與升散之向上行者不同。通字豎看，是由肺下達胃腸，通潤、通和，皆謂之通，非專指攻下言也），邪一開通，津液流行，而汗自解，何必泥定風藥發汗耶？且風藥不獨不能發汗，反耗傷津液，絕其化汗之源，尚冀其化汗耶？</p>
<p>以燥氣論，燥邪初起，在未化熱時，宜用辛潤開達氣機，如杏仁、牛蒡、桔梗之屬。兼寒加以溫潤，如豆豉、前胡、薑、蔥之類；邪機閉遏，加以通潤，如白芥子、細辛之類；咳嗽不止，胸前懣悶，加蘇子、紫菀、百部之類，辛中帶潤，自不傷津。而且辛潤又能行水，燥夾濕者宜之；辛潤又能開閉，內外閉遏者宜之。其裡氣不和者，佐以栝蔞皮、鮮薤白之類，辛滑流利氣機，氣機一通，大便自解，濁邪解而清邪失所依附，亦必化汗而解。其化熱者，於辛潤劑中，酌加清潤輕虛之品二三味，如梨皮、蔗皮、梨汁、蔗汁、荸薺、蘆根、石膏、知母、川貝母、南沙參、桑葉、菊花、銀花、花粉之類，以泄其熱，熱泄則清肅令行，氣機流利，亦必化汗而解。其陰虛者，於辛潤劑中，酌加生地、元參、沙參、麻仁、黑脂麻、蜂蜜之類，養陰潤腸，但不宜多用，恐膩著邪氣。其夾濕者，於辛潤劑中，酌加蔻仁、通草、茯苓、半夏之類，辛淡滲濕，亦不宜多用，恐燥傷津液。其夾濕而化熱者，於辛潤劑中，酌加滑石、淡竹葉之清滲，連翹、山梔之微苦微燥，重者酌加薑汁炒木通，炒芩、連之類，苦降辛通，開化濕熱。其邪已傳裡，依附胃腸渣滓者，則攻下一法，又未可緩施，但下宜適中，不可太過。觀仲景用大承氣湯，一劑分為三服，視其進退用之，以藥力不及，猶可再服，藥力太過，不可挽回。其用心之細，有如此者。且上焦邪氣開通，天氣下降，地氣自隨之以運行，又何必緩下為能乎？此治外燥之大法也。</p>
<p>或又曰：誤藥不可以救乎？曰：難也，藥病相反也。燥邪用燥藥，一相反也；肺喜清肅，而藥用濁烈，二相反也；肺主下降，而藥用升散，三相反也；燥邪屬氣，以氣傷氣，原無形質，而且肺為輕虛之臟，膻中為空靈之所，苦寒沉降，陰柔滯膩，氣濁味厚，病未閉而藥閉之，病已閉而藥復閉之，四相反也；氣分之邪未開，而津液又被下奪，五相反也。一病而五相反，不死何待？燥邪本易化熱，今誤被辛燥升散、寒涼冰伏、陰柔滋膩，不得再用熱藥挽之，惟有用余氏普濟丹、寧上丸，養液開閉，以回萬一。曰：辛燥、寒涼、陰柔三者之弊，如此其甚，其不可以一用乎？而又非也。降佐以升（降非攻破，乃辛潤流通，使之自降。升非升散，不過用微燥之品數分，以和格拒而已），開佐以闔（凡寒涼陰柔，皆是闔機），君臣佐使，配合得宜，亦何不可？夫天地陰陽之道，即升降開闔之道，人苟知此，立方自錯綜變化，神妙不測矣。</p>
<p>又有內寒燥一證，考《醫壘元戎》嘗用溫熱藥治之，如桂、附、硫黃、良薑、巴豆之屬，然彼系治北方之人，感受大寒，寒結於內，卒然腹痛，不曾化熱，乃用熱藥為丸，以通寒結。此偶用之方，非常法也。劉河間曰：燥本屬秋陰，異於寒濕，而同於風熱，熱甚則液耗風生，肝主風木、主筋，肺不清肅下降，則津液聚於胸膈而為痰飲，不歸正化以潤其筋。其為病，有經脈勁強而口噤者，燥甚乾澀收斂故也；有經脈拘急，或時惡寒，或善伸數欠，脈浮數而弦者，燥氣怫鬱，裡氣不舒故也；有脾胃乾涸成消渴者，燥劫胃津故也；有風癇發作，瘛瘲、昏冒、僵仆者，燥甚化風涎，溢胸膈，因燥生濕故也（外燥昏閉，亦多由此）。至於中風筋緩不收，與諸膹郁病痿，似與勁切緊澀相反，而其為燥則同，特其燥之甚焉耳！觀秋深燥甚，草木有枯縮而不伸者，亦有萎落而不收者，其理可悟矣。夫手得血而能持，足得血而能行，燥則血液衰少，而氣不流暢，緩縱不收，必然之理。孫一奎曰：燥旺於秋，然必秋分以後，清氣行而萬物乃燥，燥屬金，金屬西方之氣，在人為肺。乃運氣以卯酉為陽明燥金司天，而不言肺者何也？蓋以肺脈起於中焦，津液出於中焦故也。彼醫經統旨謂燥是陽明所化，亦是故耳！沈生明曰：《內經》病機一十九條，獨遺燥氣，蓋為燥兼風熱而化，言風熱而燥在其中矣。燥兼風化者，經曰：風能勝濕，濕去則燥生，在人則風能爍液，液去則燥生，燥傷肺金，金不勝水，而病及肝木，故中風筋脈動弦、風癇口噤、收斂急切諸病生；燥兼熱化者，《易》曰：燥萬物者，莫熯乎火。始也火爍金而燥乃成，既也金不生水而燥益甚，故消穀善飢、胃槁噎膈、二便閉塞、枯涸燥裂諸病又生。由熱生風，由風生燥，燥又生熱，循環勝復，至於髓液俱枯，燥非淺患明矣！</p>
<p>推致燥之由，有因於天者，有因於人者。陽明燥金司天，或久旱無雨，燥化大行，傷及肺金，此因於天者也；七情不節，氣結、神傷、精損，及病時汗、吐、下太過，或久勞風日之中，頻近爐火之旁，或食味辛熱太過，或虛勞誤投溫燥，與夫服食家久服金石之品，皆能燥傷津液，此因於人者也。然究其本源，皆緣血液不足所致。蓋陰血虛則不能營運乎百體，津液耗則不能滋養乎三焦（指上、中、下三焦言）。由是邪熱怫鬱，燥變多端，或燥於外而皮膚皴裂，或燥於內而精血枯涸，燥於上則咽鼻乾疼，燥於下則便溺閉結，兼熱則手足痿，化風則癇痙作，實而燥熱必發顛狂，虛而燥熱必致勞咳，燥傷肺金不能敷布水精，則又停痰停飲，燥中夾濕而為噎膈。因燥致病，何可勝言！</p>
<p>治燥之法，當觀釜沸之理。血譬諸湯，氣譬諸火。若火猛湯沸，而為實邪，則當沃薪滅焰，使不涸竭，張太守所謂急下陽明以存津液者此也；若沸久將干，則又當益水勝火，使不上僭，王太僕所謂壯水之主，以制陽光者此也。又按經云：心移寒於肺，為肺消，飲一溲二，死不治，謂之死陰。死陰者，謂心肺真陰枯涸，真陽亦衰，寒從中起，氣不化液，肺之陰氣已死也。景岳曾以八味丸、歸脾湯治一搢紳而愈。又如大便閉結，食少，脈微，謂之陰結，以半硫丸治之而愈。是皆血枯氣澀，陰傷及陽，不能運化蒸變，如地氣不上騰，則天氣不下降，閉塞而成冬者然。此因虛而寒，因寒而燥，則又當改清潤為溫潤矣。知經知權，知常知變，乃不愧為司命焉！</p>
<p>喻嘉言曰：病機一十九條，獨遺燥氣。夫六氣配四時，風於時為春，暑於時為夏，燥於時為秋，寒於時為冬。濕生於土，土寄旺四時，而季夏十八日為尤旺。竊謂《內經》原文，當是春傷於風，夏傷於暑，長夏傷於濕，秋傷於燥，冬傷於寒。特傳寫者，誤於暑字下、濕字上，脫略數字耳！蓋秋傷於燥，理之決然而無可疑者也。經又謂咳不止而出白血者死。白血謂色淺紅，似肉似肺，乃肺臟消削之驗。然則病機云：諸氣膹郁，皆屬於肺。諸痿喘嘔，皆屬於上。二條指燥病言明甚。至左胠脅痛，不能轉側，嗌乾面塵，身無膏澤，足外反熱，腰痛驚駭，筋攣，丈夫㿗疝，婦人少腹痛，目眯眥瘡，則又燥病之本於肝而散見不一者也，而要皆秋傷於燥之徵也。奈何解者不知病機篇之偶有脫誤，竟指燥病為濕病，顯與經旨背而馳哉！經曰：心移熱於肺，傳為膈消。肺燥之由來者遠矣！苟其人腎水得上交於心，則心火自得下交於腎，水火既濟，何傷肺之有？即或腎水不足，而胃中津液猶足以協濟上供，肺亦不至過燥也。若中下之澤既竭，而高源之水，猶得措於不傾，此必無之事矣。經又云：二陽結，謂之消。是手陽明大腸、足陽明胃，熱結而精血不榮，致成消渴，舌肉赤裂，大渴引飲，與膈消義同，治膈消用白虎加人參湯，清燥救肺。觀此可知諸氣膹郁、諸痿喘嘔之屬肺燥者，用之亦無不合矣。陰陽別論曰：二陽之病發心脾，有不得隱曲，女子不月，其傳為風消，傳為息賁者，死不治。二陽，陽明胃也。發於心脾者，謂二陽之病發於心、脾者也。心藏神，脾藏意，心之所發而有所主者謂之意，脾雖藏意，實本於心。思則脾氣結而心氣亦結，心氣結而心血亦結，燥從中起，傷及陽明，陽明主肌肉。風消者，肌肉如風消削也。息賁者，息有音而上賁不下，乃因肺氣虛不能下歸於腎，腎氣虛不能上納乎肺也。臟腑陰液，銷亡殆盡，故直斷之曰死不治。</p>
<p>柯韻伯論痙濕異同曰：病機一十九條，獨缺燥病，若諸痙項強，皆屬於濕，愚竊疑之，即本論亦自有痙濕之分，且曰太陽病（寒傷太陽經），發汗太過，因致痙，則痙之屬燥無疑矣。彼諸痙屬濕之說，其傳寫之誤乎？抑濕化為燥乎？夫痙乃血虛筋急之狀。按六氣皆足以致痙。風寒之痙，乃清氣搏激所致。暑濕之痙，或風寒搏激暑濕所致，或暑濕壅遏所致，或暑濕化燥所致，或發汗太過所致。其搏激壅遏者，非辛潤、溫潤以解之不可；其化燥者，及發汗太過者，非清潤、甘潤、溫潤以濡之不可。又按六經痙病，各有部位：身以後者屬太陽，頭項強急，腰脊反折，髀不可屈，膕筋如結，皆其證也；身以前者屬陽明，頭面動搖，口噤齒齘，缺盆紐痛，腿腳攣急，皆其證也；身之側者屬少陽，口眼歪邪，手足牽引，兩脅拘急，半身不遂，皆其證也；腹內拘急，或因吐瀉而四肢拘急，屬太陰；惡寒蜷臥，尻以代踵，脊以代頭，俯不能仰，屬少陰；睪丸上升，宗筋下注，少腹裡急，陰中拘攣，膝筋拘急，屬厥陰。然六經部位雖不同，而要皆歸於燥。但當辨燥之所因（因寒、因風、因風寒束搏、暑濕壅遏）所化（風寒化燥、暑濕化燥），以治其原，加引經藥，以為之使，不必泥定經絡，逐末而忘其本也。其因風寒搏激致痙者，其證發熱、惡寒、無汗、氣上衝胸、小便不利，其脈堅緊，其狀強直而口噤，此得之天氣，即經所謂諸暴強直，皆屬於風是也，勇猛無汗，故曰剛痙；其因暑濕壅遏致痙者，其證發熱、有汗、而不惡寒，其脈沉遲、模糊不清、往來不利，其狀項強𠘧𠘧，此得之地氣，即經所謂諸痙項強，皆屬於濕是也，軟弱有汗，故名柔痙。仲景治因於風者君葛根，甘涼以治風之動，而又清潤治燥也（風陽化熱乃可用，若風寒搏束，又非所宜）；治因於濕熱者君栝蔞根，苦降以決濕之壅，而又涼潤治燥也。一藥而兩用之，不惟不相礙，且可相濟，學者所當隅反也。且夫善醫者，必用視觀察之法，而辨於其微，辨於其早，以治未病。如項強而痛，即痙之一端，觀此便知是太陽經脈血虛，而預防之。如《傷寒論》云：脈浮、自汗、心煩、惡寒、而腳攣急，知痙之將作，與以桂枝湯則厥，與以芍藥甘草湯則其腳自伸。甘草甘以緩急，芍藥微潤微苦，治燥而不膩邪。仲聖用藥，非若後人之顧此失彼也。乃習俗見此，不獨不能預防，而且誤作風治，辛散發汗，助陽耗陰，將見項背強直、口噤齒齘、腿腳攣急、臥不著席，諸證生矣。此無他，不審虛實故也。夫治痙之法，當分虛實，而究其所因。其因血虛發痙、妄治發痙者，亟用清和濡潤，以柔化剛之法。其虛甚者，金寒水冷，氣結津枯，清潤又非所宜，必得溫潤、甘潤，如蓯蓉、枸杞、熟地、阿膠、玉竹、鹿膠、菟絲子之類，方為中窾。以清潤猶稟清秋涼寒之氣，甘潤、溫潤，乃得春和煦育之機。虛燥治法，大率類此。嗟乎！虛實殊途，生死反掌，學者所當辨於其微，辨於其早也已！</p>

<h2>論張仲景《傷寒論》</h2>
<p>漢·張太守仲景著《傷寒》一書，立一百一十三方，三百九十七法，隨病之變遷用之，千變萬化，靈妙無窮，萬病皆當仿之為法，不可僅作傷寒書讀也。乃後之注是書者，五十餘家，移前易後，互相訾議，迄無定論。愚按：是書，當分兩大段看法，其前一段為表寒而作，寒為天地燥結之氣，燥故化火也速，寒氣從外收斂，搏束氣機，津液不行，故停濕者多；後一段為裡寒而作，裡寒或由外直中於內，或虛則寒自內生，總不外脾腎陽虛，陽虛則不獨不能禦寒，而且脾陽虛則不能散精，腎陽虛則不能行水，不能散精行水，故化濕者多，化火者少。其法雖分六經，亦不外三焦。言六經者，明邪所從入之門、經行之徑，病之所由起、所由傳也；不外三焦者，以有形之痰涎水飲渣滓，為邪所搏結，病之所由成也。觀其論中，曰胸中，曰心中，曰心下，曰胸脅下，曰胃中，曰腹中，曰少腹，雖未明言三焦，較言三焦者更細也。人身一小天地，膈膜以上，天氣主之，肺與心也。膈膜以下，地氣主之，脾、胃、二腸、膀胱、三焦、腎也。界乎天地之間者為膈膜，膈膜乃肝、膽部位，如地之有樹木者然。行乎肌肉之裡，筋骨之外，以運行血脈者為經絡，如地之有脈絡溝渠，以通天氣者然。從膈下而上，上至胸，旁至脅，皆清氣與津液往來之所，其病不外痰涎水飲，為邪所擊搏，與氣相結，由胃中脘及腹中，下抵少腹，乃有渣滓穢濁之物，邪氣得以依附之，而成下證。一為清陽，一為濁陰，人身所以為一小天地也。觀仲景先師所立方、法，確就邪傷人身之天地者治之，六經固不爽毫釐，三焦亦不逾分寸，千古醫聖之稱，舍仲景其誰與歸？</p>
<p>以太陽論，太陽經脈行背，背者胸中之府，胸中為肺之外廓，肺主皮毛。凡邪從太陽入者，必自毛竅始，且六經之氣，皆天氣所運行，未有經氣鬱而天氣不郁者。故《傷寒論》云：太陽病，頭痛、發熱、身痛、腰痛、骨節痛、惡風、無汗而喘。又曰：喘而胸滿，劇者必衄，衄乃解。夫頭痛以下，皆太陽見證；喘而胸滿，乃邪阻肺氣不舒也；衄者，寒燥化熱，熱甚動血，由肺之清道出也；衄解與汗解同，故曰衄乃解。經言太陽，固明明兼言肺矣。且邪由皮毛而肌肉，由肌肉而經脈，一層收近一層，是橫入。邪由外橫入，藥由內橫托，故用輕虛之麻黃湯，由肺化汗外達皮毛，以出肺之空竅，即以出太陽之門戶（經云：輕可去實。又云：薄則發泄，厚則發熱。麻黃體極空虛，氣味俱薄，輕薄、上浮、空虛、外達，太陽藥，即肺藥也，故用以為君，即以為使。桂枝辛溫微潤，主溫肌肉，枝亦橫達，故以為臣。杏仁質潤，微辛微苦，苦重於辛，開而能降，且仁含生意，又能入心化汗。炙甘草微潤而甘，能緩藥性於上，故以為佐。方雖四味，神妙無窮，奈後世舍而不用，偏用羌、獨、荊、薄辛燥濁烈之品，不知厚則發熱，服之徒增煩躁。且麻黃主開，是橫力；羌、獨等主升，是豎力。肺主天氣，天氣宜開、宜降，而不宜升，故羌、獨等味，自《神農本經》已有之，但非為治傷寒、溫病設也，仲景所以不一用之）。若發汗，汗不出，而煩躁者，此邪鬱熱生，內灼肺津也，用大青龍湯，辛涼潤以解之。（麻黃湯加石膏、薑、棗。麻黃、生薑、石膏並用，神妙已極。湯名青龍者，以龍為水族，行津發汗之義也）。其有表邪未解，搏束在裡之濕熱，走於肌膚髮黃者，麻黃連翹赤小豆生梓皮湯，辛涼燥以解之。其有發汗後，汗出而喘，或飲水多而喘，此表邪雖解未盡，肺中尚有留邪，與水邪相搏，故取麻杏甘膏湯，辛涼解表，表解則水邪自從汗而出。若停水之重者，發熱表不解，心下有水氣，乾嘔、而咳、而喘、或噎、或渴、或不渴，或大便利，或小便不利，一派皆停水見證，主小青龍湯。（麻、桂開表，芍、草護營，尤妙在細辛之辛潤行水，半夏之辛滑降逆，乾薑、五味子並用，溫肺陽而固肺陰，無微不到，真神劑也。方下對證加減，亦毫釐不爽。微利者，去麻黃，加芫花；渴者，去半夏，加栝蔞根；小便不利，少腹滿，去麻黃，加茯苓；喘者，去麻黃，加杏仁；誤飲冷水，令汗大出，寒水相搏，其人噎者，去麻黃，加附子）。蓋汗為水類，肺為水源。汗不解則邪搏肺氣，不能通調水道，下輸膀胱，以致水停肺胃之間。若不開表而徒利水，無以解其搏束；若一味開表，而不用辛以行水，又無以祛其水邪。此方升中有降，開中有闔，真如神龍，變化不測，後人何曾夢得？論曰：病如桂枝證，頭不痛，頸不強，寸脈浮微，或脈乍緊，或手足厥冷，胸中痞硬，氣上衝咽，不得息者，此胸中有寒也，當吐之（藥後探吐），宜瓜蒂散。夫所謂寒者，即寒飲也。觀《神農本草》瓜蒂、赤小豆吐下胸腹中水邪可知。更有汗、吐、下後，正氣不運，痰涎結氣留於心胸之間，擾動清陽，虛煩不寐，劇者反復顛倒，心中懊憹，梔子豉湯吐之。（藥後探吐，梔子輕虛上浮，微苦泄熱，豆豉本蒸曬醞釀而成，故能宣發蘊蓄之痰涎結氣）。若心中懊憹，飢不能食，但頭汗出（陽邪在上，欲泄不得）。或煩熱汗出，胸中窒者，胸滿而喘者，心中結痛者，則皆主以梔豉宣化，而不用探吐之法，以汗出故也。他如嘔者，梔豉生薑湯；虛者，梔子甘草湯；誤下微煩者，梔子乾薑湯；濕熱發黃者，梔子柏皮湯；下後心煩腹滿，臥起不安者，梔子厚朴枳實湯；食復者，枳實梔豉湯；有宿食者，加大黃如博棋大一塊。（此二湯，治心中，並治腹中）。觀麻杏甘膏以下諸湯，皆兼治胸中心中水飲、痰涎、結氣者也。所謂六經不外三焦者如此，所謂寒燥搏濕者如此。而未已也，更有六七日發熱不解而煩，渴欲飲水，水入則吐，名曰水逆，此表邪未解，里又停水，其人無惡寒見證，與小青龍證有別，但發熱不解，又不可不兼治，主以五苓散（桂枝、白朮、茯苓、豬苓、澤瀉）。多飲暖水，汗出愈。蓋取方中桂枝，化膀胱之氣，又能解肌，一藥而兩用之者也。他如發汗後，水停胸中不下，煩渴，小便不利，或因誤下而痞，口燥煩渴，小便不利，或病本應汗，而反以冷水浴之，致水氣結於皮膚肌肉之間，肉上粟起，意欲飲水（意欲二字宜玩，是欲飲而又不飲之意）。而反不渴，皆與五苓散，導胸中水邪，從小便解。若陽明發熱，渴欲飲水，用豬苓湯，是不取五苓散中之桂枝解表、化氣，而取豬苓湯中之阿膠、滑石潤燥清熱矣（豬苓、茯苓、澤瀉、滑石、阿膠）。若少陰下利，咳而嘔，心煩不得眠（停水見證），用文蛤散，引心下濕熱從小便出，以文蛤燥濕清熱，又能滋陰，一舉而三善備焉。又有汗出不渴者，水邪外溢也，厥而心下悸者，水邪凌心也，皆主以茯苓甘草湯，鎮水邪下降；不爾，汗多則亡陽，水由心下入胃則作利也。凡此皆治膀胱腑邪者也。夫膀胱為至下之腑，而見證多在心肺之間者，以金為水源，金鬱則不輸水，水上逆則剋火，故見證如此。所謂寒燥搏濕，病見膈上者，又如此。</p>
<p>若太陽中風（中即傷也），又自有說。夫太陽中風，為寒中之風，由毛竅僅襲肌肉，雖由太陽（穴道）、太陰（毛竅）門戶而來，而未入於經脈之中。見證鼻鳴、乾嘔，肺氣雖亦被傷，而未甚遏郁，所以脈來陽浮（寸）陰弱（尺）。陽浮者，熱自發，陰弱者，汗自出，嗇嗇惡寒、淅淅惡風，（惡風未有不惡寒者，但惡寒甚輕，非若傷寒及陰經之甚也）。翕翕發熱（翕翕，鳥羽掀張之貌狀，其在外之熱勢，非若陽明蒸蒸發熱之由里出也）。此衛分有邪，不能衛外，又不能護營，營氣不共衛氣和諧之象。衛行脈外，主溫肌肉、肥腠理（腠，謂津液滲泄之所。理，謂文理會逢之所）。所以主桂枝湯，取桂枝、甘草、生薑溫衛，芍藥、甘草、大棗護營，營衛兩和，病自可已，服後須臾，歠熱稀粥，以助藥力，溫覆取漐漐微似有汗者佳，不可令如水淋漓，病必不除，以汗多動營，汗從營出，衛邪仍在故也。凡解肌法，皆當如此，與傷寒發汗不同，與溫病由里達表亦不同。若發汗太過，遂漏不止。其人惡風，小便難，四肢微急，難以屈伸（津液少之故），此衛分表邪未盡，而又有津脫陽虛之象，主桂枝加附子湯，疏衛護營，回陽止汗。若燒針令其汗，針處被寒，核起而赤者，必發奔豚（氣從小腹上衝，如豚奔者然）。宜灸其核上各一壯，與桂枝加桂湯，取桂枝多則味重下達，不獨禦寒，且能為膀胱化氣也。若下後脈促，胸滿，中虛而表邪仍在者，主桂枝去芍藥湯。下後陽虛微惡寒者，主桂枝去芍藥加附子湯。下後微喘，及未經下而自喘者，皆表未解故也，宜解表兼消痰降逆，主桂枝加厚朴杏仁湯。其有陽脈澀，陰脈弦者，當腹中急痛，此太陰土虛，肝木來乘故也，先與小建中湯（即桂枝湯加飴糖），取大甘以和中土，治太陰不差者，即轉而治少陽，與小柴胡湯，疏土中之木。若發汗後，身疼痛，脈沉遲，表未盡而里已虛者，主桂枝加芍藥生薑人參湯。發汗過多，其人叉手自冒心，心下悸，欲得按者，汗為心液，多則心氣虛，主桂枝甘草湯。若其人惡寒，振振欲擗地者，則陽虛已極，不能制水，又非用真武湯不克。發汗後臍下悸者，欲作奔豚，主茯苓桂枝甘草大棗湯，化膀胱之氣，以鎮水邪。太陽病八九日，過經不解，發熱惡寒，一日二三度發如瘧狀，但其人不嘔，非少陽證，清便自調，無裡熱證，此餘邪未盡，主桂麻各半湯，輕劑解之。若脈微而惡寒者，此陰陽俱虛，不可更用汗、吐、下法。其有面有熱色，身癢者，此微邪在皮膚中，欲自出不得，亦主以此湯，取其小汗。若身癢如蟲行皮中狀者，此久虛也，又不可用。汗後形如瘧，日再發，微邪未盡者，當汗出愈，主桂枝二麻黃一湯微解之。發熱惡寒，熱多寒少者，主桂枝二越婢一湯，辛涼解之。（越婢湯：麻黃、石膏、甘草、生薑、大棗）。服桂枝湯後，仍頭項強痛，翕翕發熱，無汗，心下滿微痛，小便不利者，此停飲也，主桂枝去桂加苓朮湯。傷寒脈浮，宜以汗解，醫誤用火迫汗，遂致亡陽、驚狂、起臥不安者（此火迫其胸中之陽，與少陰汗出之亡陰迥別，故不用四逆回陽，而用安神鎮攝），主桂枝去芍藥加蜀漆龍骨牡蠣救逆湯，鎮驚徹痰。又有誤用火灸，致邪無出路，火氣上逆，陰氣獨治於下，腰以下重而痹者，此名火逆，主桂枝甘草龍牡湯，和陰鎮逆（此證心無痰閉，故不用蜀漆）。本太陽證，醫反下之，引邪入太陰，腹滿時痛，主桂枝加芍藥湯，以斂太陰之邪。若大實痛者，乃邪氣結於太陰，主桂枝加大黃湯，導邪出陽明之腑。凡此皆衛分肌腠之邪，因誤汗、誤下、誤火致生諸變，表邪猶未盡去，故皆從桂枝湯隨證加減，以救其誤，非依經正治之方也。其有衛分肌腠之邪，雖未入太陽經脈之中，而已逼近經脈之側。見證惡寒汗出，又多項背強𠘧𠘧（伸頸之貌，因強所致）一條。汗出則邪未入經脈，不得用麻黃，而項背𠘧𠘧，邪近經脈，又非桂枝所能達，主桂枝加葛根湯，取葛根辛甘微潤，氣味俱薄，鼓舞胃氣上行，隨桂枝外達。若無汗者，及陽明病，目痛、鼻乾、不得眠者，或太陽陽明合病，自下利者，主葛根湯（即桂枝湯加葛根、麻黃）。不下利而嘔者，葛根加半夏湯。夫葛根湯中雖有麻黃，其意恰重在葛根，取其升胃中清陽以止利，辛甘涼潤以清熱。若太陽傷風證，醫反下之，利遂不止，脈促，喘而汗出，此表邪未解，熱又陷里，主葛根黃芩黃連湯（方中有甘草），取辛涼解表升清，苦寒入腸，燥濕、泄熱、堅陰，此表裡兼治法也。</p>
<p>按：桂枝、葛根二湯，一和營衛，一治陽明，不盡關乎肺矣！然治陽明亦有重在肺者，如論中雲：服桂枝湯，大汗出，大煩渴，脈洪大，此表裡俱熱（裡熱傷津，未與宿滯相搏，故未見中焦下證），主白虎湯（石膏、知母、甘草、粳米）。虛者白虎加人參湯。若傷寒解後，餘熱未清，虛羸少氣，氣逆欲吐者，竹葉石膏湯（即人參白虎湯去知母，加竹葉、半夏、麥冬）。夫白虎，西方金也，汗多液耗，陽明火熾，肺金被焚，必得虎嘯風生，亢熱乃解，此肺胃子母同治。又重在清燥救肺，俾天氣清肅下降乃愈。</p>
<p>界乎人身天地之間者，則有膈膜，膈下脅肋，肝膽布焉，膽屬少陽。陽明不治，則必傳少陽，傳少陽則病胸脅；胸脅為清陽之道路，津液升降之所，邪熱傳此，必有痰涎水飲與清氣搏結，故見證甚多，治法不一。論曰：傷寒往來寒熱，（寒已而熱，熱已而寒，不似太陽之寒時亦熱，熱時亦寒也）。胸脅苦滿、默默不欲飲食（木邪乾土）、心煩、喜嘔（木氣上逆）、或胸中煩而不嘔、或渴（少陽熱邪）、或不渴、或小便不利（有痰涎蓄飲）、或咳（肺有留飲）、或心下悸（痰飲）、或脅下痞硬（水飲與氣相結）、或腹中痛（木鬱剋土）、身有微熱（太陽邪未盡），主小柴胡湯。（柴胡稟仲春之氣，得微辛之味，氣味俱薄，功專升達少陽胸脅寒熱結氣，並能疏腸中邪氣，故用以為君；臣以半夏、黃芩之降，生薑之辛，苦降辛通，與濕熱痰熱最宜；其參、草、大棗，因表裡無邪，用作佐鋪，截邪入里之路，若表裡稍有邪者，人參即不宜用，觀加減法便知。論曰：胸中煩者，去人參，加栝蔞實。不嘔者，去半夏。渴者，去半夏，加花粉、人參。腹中痛者，去黃芩，加芍藥。脅下痞硬，去大棗，加牡蠣。心下悸、小便不利，去黃芩，加茯苓。不渴，表有微熱，去人參，加桂枝，溫覆取微似汗。愈咳者，去人參、生薑，加乾薑、五味）。他如婦人經水適斷，熱入血室，寒熱發作有時，如瘧狀者，亦主小柴胡湯。又有經水適來，表邪內陷，熱入血室，脈遲、身涼、胸脅下滿、如結胸狀、譫語者，當刺期門，隨其實而瀉之（期門在乳頭直下，第二肋端。以同身寸法驗之，去乳頭約四寸。此厥陰、陰維之會）。其最重者，晝則明瞭，暮則譫語，如見鬼狀，法當無犯胃氣及中、上二焦（不可汗，不可下），必自愈。又有太陽、少陽合病，發熱微惡寒、支節煩疼（以上太陽證）、微嘔、心下支結（以下少陽證），主柴胡桂枝湯（小柴胡與桂枝湯併為一方），和而達之。又有少陽與陽明腑合病，熱結在裡，復往來寒熱者，或發熱汗出不解，心下痞硬，嘔吐，復下利者，均主大柴胡湯，表裡兩解之（即小柴胡去人參，加芍藥、枳實、大黃）。若胸脅滿而嘔（少陽證），日晡潮熱（胃腑邪實），已而微利（未大結實），小柴胡湯加芒硝湯軟蕩之。又有下後邪陷胸心，兼及胃腑，阻郁清陽，膀胱濕鬱不化，以致胸滿（少陽）、煩驚（心）、譫語（胃）、小便不利、一身盡重、不能轉側（膀胱蓄濕），柴胡加龍骨牡蠣湯主之。（小柴胡去甘草，加龍、牡、鉛丹、大黃、桂枝、茯苓）。又有誤汗、誤下，表邪內陷胸脅，阻遏清陽，陽氣上越，里有寒熱，以致寒熱往來，胸脅滿，微結，心下煩（皆少陽證），小便不利，渴而不嘔，但頭汗出（陽氣上越），柴桂乾薑湯主之（柴胡、桂枝、乾薑、黃芩、牡蠣、花粉、甘草）。二者見證錯雜，故藥亦錯雜，真神妙無方劑也。凡此皆治胸脅、心中、少陽分野者也。</p>
<p>若夫心下見證，又有不同者。論曰：病發於陽（發熱、惡寒），而反下之，熱入因作結胸；病發於陰（無熱、惡寒），而反下之，熱入因作痞氣。所以成者，以下之太早故也。夫結胸有熱結，有寒結，總不外痰涎蓄水，搏束清陽之氣，結於心胃之間（心下胃上），病屬有形，故痛而硬。痞氣，寒熱、虛實夾雜為病。又有濕熱痰涎阻遏清陽之氣，留於心胃之間。病屬有形而無形，故但滿而不痛。結胸，非攻其蓄水不可；痞氣，非苦辛寒熱並用、消補兼施不可。此大小陷胸、瀉心諸湯之所由立也。然結胸、痞氣諸劑，必表邪已解，乃可用之。若心下痞而惡寒者，表未解也，不可攻裡，先用桂枝湯解表，表解再行治里，或用五苓散兩解表裡亦可。試詳言之。其濕熱、痰涎小結胸者，正在心下，按之則痛，脈浮滑，小陷胸湯主之（黃連、半夏、栝蔞實）。其蓄水結胸者，頭痛（清陽被阻），心下痞硬滿、引脅下痛、乾嘔、短氣下利（皆蓄水見證），汗出不惡寒者，此表解里未和也，十棗湯主之。（芫花、甘遂、大戟為末，共一錢匕，約今秤三分，以十棗煎湯和服，得快下利）。其蓄水與實熱互結胸者，脈沉而緊、心下痛、按之石硬，甚者，舌燥而渴，（胸有蓄飲，熱不得泄，故燥而渴。前五苓散治燥渴，亦與此同意）、日晡小有潮熱（胃腑有邪）、從心上至少腹硬滿、痛不可近（雖上下皆痛，而根由心上而起）。又有結胸無大熱者，此水結在胸脅也，但頭汗出者，此熱為水鬱，不得發泄，若小便不利，水無出路，身必發黃，故並以大陷胸湯主之（甘遂末一錢匕，大黃、芒硝煎湯和服）。又有結胸項亦強，如柔痙狀，下之則和，主大陷胸丸緩下之（大黃、芒硝、葶藶子、杏仁，和如彈丸一枚，甘遂末一錢匕，白蜜二合，煎服。一宿乃下，不下再服，取下為效。用丸緩下，取其不傷津液）。又寒水實結胸，無熱證者，與三物白散（桔梗、貝母、巴霜為末，服半錢匕，羸者減之。病在膈上者必吐，在膈下者必利，不利進熱粥一杯，利不止進冷粥一杯。巴豆之性，得熱則行，得冷則止）。若夫痞氣，有因誤下而成者，有因汗後邪未盡而成者。蓋汗為水類，邪汗未盡，水濕與熱停於膈下，亦能作痞。其痞有水邪較重者，汗解後心下痞硬、乾噫食臭、脅下有水氣、腹中雷鳴、下利，生薑瀉心湯主之，取辛以行水之意。（生薑、半夏、黃芩、黃連、乾薑、人參、甘草、大棗）。有胃虛較重者，誤下，其人下利日數十行、完穀不化、腹中雷鳴、心下痞硬而滿、乾嘔、心煩不安，醫復誤下之，其痞益甚，此胃中虛，客氣挾痰熱上逆，故使硬也，甘草瀉心湯主之，取甘以補虛緩逆之意。（甘草、黃芩、半夏、乾薑、黃連、大棗）。又有嘔而發熱，柴胡湯證，醫反下之，柴胡證仍在者，仍與柴胡湯，必蒸蒸振卻，發熱汗出而解（即今所謂戰汗是也。邪正相爭而出，虛人多有之）。若無柴胡證，但心滿而不痛者，此為痞，半夏瀉心湯主之，取辛以燥濕之意。（半夏、黃芩、黃連、乾薑、人參、甘草、大棗）。又有脈浮而緊，邪在表也，醫誤下之，緊反入里（沉緊），則作痞，熱結氣分，內無水邪，故痞而按之自濡，大黃黃連瀉心湯主之，取苦以瀉熱之意，妙在麻沸湯（滾湯）泡汁，欲其輕揚清淡，以滌上焦之邪熱。又有心下痞，復惡寒汗出者，此陽虛也，附子瀉心湯主之，取溫陽止汗之意。妙在濃煎附子，輕泡大黃、黃芩、黃連，蓋扶陽欲其熱而性重，開痞欲其生而性輕也。凡此皆治心下見證者也。他如胸中有熱，胃中有邪氣（表邪陷入），腹痛欲嘔，與黃連湯（即半夏瀉心湯去黃芩，加桂枝達邪出外）。太陽與少陽合病自下利者，與黃芩湯（黃芩、芍藥、甘草、大棗），嘔者黃芩加半夏生薑湯。誤下寒格吐下，食入即吐，與乾薑黃連黃芩人參湯。此三者，皆寒熱、濕熱、虛實夾雜為病，與瀉心同一方法。又有發汗後邪氣已去，腹中脹滿（濕氣），與厚朴生薑甘草半夏人參湯，泄濕補虛，此又虛邪入腹中治法也。</p>
<p>若夫膈膜以下，病及地氣，不外胃中、腹中、少腹三者而已。夫胃為中土，藏垢納汙，萬物皆歸焉，故邪入胃腑，即不能外達，必從下解，或邪熱與胃腸渣滓搏結，或邪熱與膀胱血結，或邪熱夾濕鬱極走於肌肉，致身發黃。匪直此也，陽明腑實，必病及三陰：胃脾相為表裡，太陰脾脈布胃中，絡於嗌，故腹滿而咽乾；當臍屬少陰，少陰腎脈絡於肺，系舌本，故口燥舌乾而渴；少腹屬厥陰，厥陰肝脈絡於肝，循陰器，故煩滿囊縮。三陰屬臟，五臟藏而不瀉，其可瀉者，惟胃腸而已，此承氣諸湯所由立也。承氣云者，謂承天氣以平地氣者也。亦有邪由陽明經（「經」字宜著眼）傳太陰經，由太陰而少陰而厥陰，成可溫之證者，此寒濕重者也，詳見裡寒條下，茲不具論。端以陽明腑實，必審其確實證見，如腑實則日晡（未、申時，陽明主令）。必有潮熱，或如瘧狀。其熱未潮者，里未結也；其發熱微惡寒者，表未解也。皆不可與承氣。即腹大滿不通，僅可與小承氣（厚朴、枳實、大黃）微和胃氣，勿令大下。若日晡潮熱，或手足濈然汗出，（四肢為諸陽之本，汗出則陽氣已盛於土中，以此為驗大便硬一法）。多汗則津液外泄，胃中必燥，燥則大便必硬，腸有燥矢，則必譫語，或獨語如見鬼狀，或腹滿痛，或繞臍痛，或心以下按之硬，或煩躁發作有時，或時有微熱，喘冒不能臥，或目中不了了，睛不和，里邪結實，陽氣不能外達，往往微似惡寒，甚而厥逆（熱深厥亦深），舌苔必板厚欠津，或黃或黑，皆宜大承氣湯速下之（大黃、芒硝、厚朴、枳實。大黃用酒洗先煨，以緩其性。芒硝後下，欲其先軟化而後行也）。若劇者，發則不識人，循衣摸席，惕而不安，微喘直視，此皆陽明危證，脈弦者生，澀者死。弦則以其尚能制土，若澀則氣血已枯矣（亦有邪結脈澀，氣血尚未盡枯者）。又有陽明、少陽合病者，必下利，其脈不負者順也，負者失也（洪緩是陽明脈，為不負。弦緊是少陽脈，為負。負，木剋土也）。脈滑而數者，有宿食也；遲而滑者，內實也：宜大承氣湯。寸口脈浮而大，按之反澀，尺中亦微而澀（邪結不通），有宿食也，宜大承氣湯。少陰病得之二三日，口燥舌乾者（少陰證），急下之；少陰病自利清水，色純青（肝邪傳腎），心下必痛，口乾燥者，急下之。宜大承氣湯。又有發汗後不惡寒，但蒸蒸發熱者，當和胃氣，與調胃承氣湯（大黃、芒硝、甘草。調胃全在甘草。恐傷中焦，故不用樸、實）。太陽病未解（未出汗），脈陰陽俱停，先振慄，汗出乃解。但陽脈微者，先汗出乃解；但陰脈微者，下之乃解，宜調胃承氣湯。其有脾約者（精液不足，脾氣約束）。大便必難，宜麻仁丸（即小承氣加麻仁、杏仁、白芍），潤脾泄肝，緩化行之。其有直腸津液內竭，欲行不行者，宜蜜煎導法、豬膽汁導法（膽汁導法尤效）。又有太陽病不解（經邪不解，勢必傳腑），熱結膀胱，以致蓄血，其人如狂（熱甚血凝，上干心包），血自下，下者愈（亦有血下而脫者，不可不知）！其少腹急結者，宜桃仁承氣湯（桃仁、大黃、芒硝、甘草、桂枝）；重者，少腹硬滿，其人喜忘（血凝則心氣結），甚則發狂，小便自利，（蓄血在血分，不在氣分），矢雖硬，大便反利（血性滑利），其色必黑（內有瘀血），或漱水不欲咽，皆蓄血見證，抵當湯下之（水蛭、虻蟲，熬一次，大黃、桃仁）。若脈數不解，而下不止，必協熱而便膿血，又別有治法。其有熱而少腹滿者，應小便不利，今反利者，為有血也，當下之，宜抵當丸（即以湯藥作丸）。此見證較輕，故用丸以緩下其血。若脈沉結、少腹滿、身黃、小便不利（不利知為濕熱），此非血結，但濕熱不行耳，茵陳湯下之（茵陳、梔子、大黃）。陽明病，發熱汗出者，此為熱越，不能發黃。若但頭汗出，齊頸而還，小便不利，渴欲飲水，此為瘀熱（濕與熱合）在裡，身必發黃，茵陳湯主之。熱利下重（後重）者，白頭翁湯主之（白頭翁、黃連、黃柏、秦皮）。大病瘥後，腰以下有水氣者，牡蠣澤瀉散主之（牡蠣、澤瀉、葶藶子、蜀漆、花粉、商陸、海藻）。凡此皆治地氣為病者也，所謂六經不外三焦者此也。</p>
<p>試再言經邪。少陰病得之二三日以上，（按：循經傳，一日太陽，二日陽明，三日少陽，四日太陰，五日少陰，六日厥陰，六經傳遍，七日從太陽病漸次而減。今云二三日以上，當指五日以上之二三日言）。心中煩，不得臥，黃連阿膠湯主之（黃連、阿膠、黃芩、芍藥、雞子黃）。此少陰傳經之熱邪，有熱無結，故用降火養陰法。少陰病二三日，咽痛者，與甘草湯；不瘥，與甘桔湯，此少陰虛熱上爍，故用甘緩辛開苦降法。少陰病，咽傷生瘡，不能言語，聲不出者，主苦酒湯（半夏、雞子白、苦酒，納雞子殼中，置刀環，安火上，令三沸，少少含咽之）斂火降逆。少陰病下利、咽痛、胸滿而煩者，主豬膚湯（白蜜、米粉，豬膚湯和服）。此陰虛化燥，故用甘鹹潤納之法。又有病後脈結代，心動悸者，主炙甘草湯（炙甘草、乾地黃、麥冬、麻仁、阿膠、生薑、人參、桂枝、大棗）。此邪已去盡，氣血兩虧，經脈失養，燥結不通，故以甘涼潤養為主，尤妙在大甘緩之於上，佐辛潤通其脈絡，所以治脈結代心悸有殊功。又有汗、吐、下後，病已向愈，而心胃之間尚有留邪結氣，以致心下痞硬、噫氣不除，旋覆代赭湯主之（旋覆花、人參、生薑、炙甘草、半夏、代赭石、大棗）。此散結補虛法也。又有少陰病始得之，反發熱，脈沉者，麻黃附子細辛湯主之；無里證者，麻黃附子甘草湯主之。此兩感傷寒，一曰太陽與少陰並病。夫太陽、少陰相表裡而位最近，猶可引之外達，從汗而解，故溫陽而兼達表。又有少陰病四逆，四逆散主之（甘草、枳實、芍藥、柴胡）。咳加五味、乾薑；悸加桂枝；小便不利加茯苓；腹痛加附子；泄利下重加薤白。此少陰傳經之邪，非直中之邪，並無脈微、惡寒等陰證，即下利一端，並非清穀，而反下重，故用疏邪散結，而不用溫陽。若大汗、大下後，陽氣大虛，則當以扶陽為急務。論曰：傷寒脈浮，自汗出，小便數，心煩，微惡寒，腳攣急，反與桂枝湯攻其表，此誤也。得之便厥，咽中干，煩躁（此是陰煩）。吐逆者，與甘草乾薑湯，以復其陽；若厥愈足溫者，更與芍藥甘草湯，以和其陰，其腳即伸；若胃氣不和譫語者，少與調胃承氣湯；若重發汗，復加燒針者，四逆湯主之（甘草、乾薑、附子。此陰陽兩虛之後，又復竭其陽，非此湯不能挽回陽氣，然必實有陽虛見證，方可用）。傷寒醫下之，續得下利清穀不止，身疼痛者，急當救里；後身疼痛，清便自調者，急當救表。救里宜四逆湯，救表宜桂枝湯。大汗出，熱不去，內拘急，四肢疼（以上皆外證），又下利（清穀）、厥逆、惡寒者（三者皆虛寒內證）。四逆湯主之（急當救里）。大汗、大下、利而厥冷者，四逆湯主之。吐利汗出，發熱惡寒，四肢拘急，手足厥冷者，四逆湯主之。（雖有表證，急當救里）。既吐且利、小便複利（二便俱利，內陽將盡）、大汗出、下利清穀、內寒外熱，（雖有外熱表證，而里證重極）。脈微欲絕，四逆湯主之。下後復發汗、晝日煩躁不得眠、夜來安靜，（陽虛有二證，陰陽兩虛者畏陽，陰不虛者喜陽）。不嘔不渴、無表證、脈沉微、身無大熱者，乾薑附子湯主之。發汗復下之，病仍不解，煩躁者（此陽氣不攝而煩，所謂陰煩也。然必參以他證，方不致誤）。茯苓四逆湯主之（茯苓、人參、附子、甘草、乾薑）。太陽病發汗，汗出不解，其人仍發熱、心下悸、頭眩、身瞤動、振振欲擗地者，真武湯主之。此發汗太過，水邪隨陽氣上逆，比茯苓四逆湯證較重。彼因汗、下兩傷，故用人參、乾薑；此因汗傷水逆，故用真武鎮伏水邪，挽回陽氣。真武屬北方水神，故取以為名。（茯苓、芍藥、生薑、白朮、附子）。若吐若下後，心下逆滿，氣上衝胸，起則頭眩，脈沉緊者，茯苓桂枝白朮甘草湯主之。此亦陽虛水逆之證，即真武證之輕者。若再發汗，則動經氣，而身為振振搖矣。發汗病不解，反惡寒者，虛故也，芍藥甘草附子湯主之。太陽病外證未除，而數下之，遂協熱下利、利下不止、心下痞硬（邪在上焦），表裡不解，桂枝人參湯主之（桂枝、甘草、白朮、人參、乾薑）。傷寒下利不止，心下痞硬，服瀉心已，復以他藥下之（一誤再誤），利不止，醫以理中與之，利益甚。理中者，理中焦也。此利在下焦，（下藥太過，大腸受傷），赤石脂禹餘糧湯主之（澀以止脫）。複利不止，當利其小便（分其清濁，則便自堅）。凡此皆誤汗、誤下，傷及真陽，故轉而用溫，以救其誤，非表寒化熱之正方也。</p>
<p>若夫裡寒一證，不外脾腎陽虛，陽虛則化濕，故夾濕者多，治法不外四逆、真武、理中三法。四逆一類，不離薑、附，再觀方中加減，皆欲其通陽開閉，重在腎也；真武一類，不離苓、附、生薑，欲其溫陽鎮水，亦重在腎也；理中一類，不離乾薑、白朮，欲其守中，重在脾也；其桂枝附子一類，為風濕陽虛而設，欲其解肌溫陽化濕，表裡兼治，重在裡。此治裡寒之大較也。試詳言之。論曰：發熱，頭痛（表邪），脈反沉（里脈），若不瘥，身體疼痛，當急救里，宜四逆湯（甘草、乾薑、附子。身體疼痛，表寒、裡寒陰陽二證皆有之。雖沉為里脈，而表邪郁遏者亦有之。必審其人不煩不渴，脈沉而至數清楚，一派皆屬陰象，乃可用之，切勿孟浪）！脈浮而遲、表熱裡寒、下利清穀者，四逆湯主之。自利不渴，屬太陰，臟有寒也，當溫之，宜四逆輩。（凡溫熱之劑，皆可選用，故不曰湯而曰輩）。少陰病，飲食入口則吐、心中溫溫、欲吐復不能吐。始得之，手足寒、脈弦遲者，此胸中實（寒實），不可下也，當吐之（在上者因而越之）。若膈上有寒飲，乾嘔者，（乾嘔無物，知其為飲），不可吐也，當溫之（寒散則飲化，凡治飲皆當用溫）。宜四逆湯；惡寒脈微，而複利，利止，亡血也，（利盡而止，津液內竭。亡血，即亡陰也），四逆加人參湯主之（回陽生津）。少陰病，下利清穀、裡寒外熱（寒逼陽於外）、手足厥逆、脈微欲絕、身反不惡寒（寒邪入里）、其人面色赤（逼陽於外，名曰戴陽）。或腹痛、或乾嘔、或咽痛（寒逼陽上升）、或利止脈不出者，通脈四逆湯主之，其脈即出者愈。（四逆湯，面赤加蔥。腹痛去蔥，加芍藥。嘔加生薑。咽痛去芍藥，加桔梗。利止脈不出去桔梗，加人參。諸證或陰或陽，皆閉塞不通之故，故用辛溫通陽）。下利清穀、裡寒外熱、汗出而厥者，通脈四逆湯主之（厥而汗出，陽有立亡之象）。吐已下斷（利止也）、汗出而厥、四肢拘急不解、脈微欲絕者，四逆加豬膽汁湯主之（取其苦滑，直達下焦）。少陰病，下利，白通湯主之（乾薑附子湯加蔥白四莖，取其通少陰之陽氣）。少陰下利、脈微者，與白通湯；利不止、厥逆無脈、乾嘔煩者，白通加豬膽汁童便湯主之（取童便引陽藥直達至陰，經所云反佐是也）。手足厥寒、脈細欲絕者，當歸四逆湯主之（當歸、桂枝、芍藥、細辛、甘草、通草、大棗）；若其人內有久寒者，當歸四逆加吳萸生薑湯主之。所謂四逆一類，重在通陽開閉者，此也。</p>
<p>試再言真武。少陰病，腹痛，小便不利，四肢沉重疼痛，自下利者，此為有水氣，其人或咳（加五味、乾薑、細辛），或小便利（去茯苓），或下利（去芍藥，加乾薑），或嘔者（去附子，加乾薑）。真武湯主之。少陰病，身體疼、手足寒、骨節痛、脈沉者，附子湯主之（真武湯去生薑，加人參）。所謂真武一類，重在溫陽行水（水即是濕）者，此也。至理中丸一方，（人參、甘草、白朮、乾薑。臍上築築欲作奔豚者，腎氣動也，去白朮，加桂枝。吐者去白朮，加生薑。悸者加茯苓。渴欲飲水者加朮，消飲生津。腹中虛痛，加人參。寒加乾薑。腹滿者去朮，加附子）。乃大病瘥後，喜唾（胃液不藏，兼有寒飲），久不了了，胃上有寒，當以丸藥緩理之。</p>
<p>若桂枝附子一類，乃解肌、化濕、溫陽，表裡兼治之劑。論曰：傷寒八九日，風濕相搏，身體疼煩、不能自轉側（濕則身重）、不嘔不渴（濕為陰邪）、脈浮虛而澀（表裡皆虛），桂枝附子湯主之（桂枝、附子、甘草、生薑、大棗）。若其人大便硬、小便自利者，去桂加白朮湯主之（白朮生腸胃之津液）。若大便不硬、小便不利，仍當加桂（觀此條，可知桂枝能通小便，故五苓散用之）。服後其人如冒狀，勿怪。此以附、術並走皮肉，逐水氣，未得除，故使之。其法當加桂以治之。又有風濕相搏，骨節疼煩、掣痛、不得屈伸、近之則痛劇、汗出短氣、小便不利、惡風不欲去衣、或身微腫者，甘草附子湯主之，得微汗則解（即桂枝附子湯去薑、棗，加白朮。此條因汗出，故去薑、棗，雖用桂枝，而其意則重在甘草、附子溫陽，故以名湯。風濕發汗，汗大出者，但風氣去，濕氣在，故不愈。治風濕，微微似欲出汗者，風濕俱去也）。此治風濕之大法也。他如食谷欲嘔者（必食谷而始嘔，受病在納穀之處，與乾嘔不同），屬陽明也（虛寒），吳茱萸湯主之（吳萸、人參、生薑、大棗）。得湯反劇者，屬上焦也（停飲）。又有少陰病，吐利、手足厥冷、煩躁欲死者，吳茱萸湯主之（胃氣虛寒）。乾嘔，吐涎沫（胃中寒飲），頭痛者（陽明之脈上於頭），吳茱萸湯主之。又有少陰病，腹痛、小便不利、下利不止、便膿血者，桃花湯主之（赤石脂、乾薑、粳米）。一服愈，余勿服。又有傷寒脈微而厥，至七八日，膚冷（陽不衛外），其人躁無暫安時者，此為臟厥（不治），非蛔厥也。蛔厥者，其人當吐蛔。今病者靜而復時煩，此為臟寒。蛔上入其膈，其人當自吐蛔。蛔厥者，烏梅丸主之，又主久痢。（烏梅、細辛、乾薑、當歸、附子、蜀椒、桂枝、黃連、黃柏、人參。先食後服十丸，漸加至二十丸，禁食生冷滑臭等物）。凡此皆治裡寒者也。余故曰《傷寒論》當分兩大段看法。</p>
<p>又有表寒壞證，如傷寒六七日，大下後，寸脈沉遲、尺脈不至、手足厥逆、咽喉不利、唾膿血、泄利不止者，為難治，麻黃升麻湯主之，汗出愈（麻黃、升麻、當歸、桂枝、白芍、茯苓、甘草、乾薑、白朮、石膏、知母、黃芩、玉竹、天冬）。此上熱下寒互傷之證，病證之雜，藥味之多，為古方所僅見，觀此可悟古人用藥之法。又有表寒方愈，因交接感其餘熱，名陰陽易病，其人身體重、少氣、少腹裡急、或引陰中拘攣、熱上衝胸、頭重不欲舉、眼中生花、膝脛拘急者，燒禈散主之（男取婦禈襠，婦取男禈襠，燒灰，和服方寸匕，三服小便即利，陰頭微腫則愈，蓋引其邪火從陰處出也）。此又以意用藥法也。觀《傷寒》一書，立方錯綜變化，皆本自《內經》，用藥又與《神農本草》所載一一吻合。余止言其大略，學者於全書講求而推廣之，則操縱在我，萬病皆得所指歸矣，豈徒作傷寒書讀哉！？</p>
<p>按：《傷寒論》中表寒一類，本是寒燥之邪，所立諸方，只此麻黃、桂枝、葛根、柴胡四味藥，係為經邪而設，其餘皆從三焦論治，與溫病原不相悖，觀諸方便知。麻黃專主開表，溫病忌用，若嚴寒天氣，實因感受風寒，新邪引動伏邪，如吳又可所云感冒兼役之證，麻杏石甘湯，亦不妨暫用。其桂枝一味，為溫病所最忌，以其溫里故也。書云：桂枝入口，陽盛（熱盛）則斃，承氣入胃，陰盛（寒盛）則亡。嘗見誤服桂枝，變證蜂起，不可不知。葛根辛甘涼潤，為陽明藥。柴胡主治邪郁胸脅，溫病亦有陽明及胸脅證，故間有用之者。總之，有是病則用是藥，不可拘執。至救誤諸方，如四逆、真武、理中輩，乃為傷寒誤汗、誤下傷陽而設，皆與溫病相反。傷寒多傷陽，故末路以扶陽為急務；溫病多傷陰，故末路以養陰為要法。此又寒溫判若霄壤者也。故並記之。</p>

<h2>女科論</h2>
<p>經曰：女子二七天癸至，任脈通，太衝脈盛，月事以時下。月為天之真水，故潮汐長落，上應月之盈虧，而有常期者也。女子屬陰，血為水類，故亦上應月之盈虧，而有常期者也。愆期則病生焉，故古人謂女子首重調經。夫首重調經，是也，但欲調其所不調，必推其所以不調之源，從而調之，而經始調。奈方書調經諸方，多是行氣破血之品，不知人身氣血，只有不足，斷無有餘，其見為有餘者，皆不足所致，皆不足而邪湊之所致，豈有重傷氣血而能調經之理？又謂女子多郁，必兼開鬱。夫郁者，不暢之謂，必用微辛微潤諸品，得春和之氣，寓生髮之機，乃能暢達氣機，又豈有用辛燥乾澀之藥，而能流暢遏郁之理？《詩》云：陟彼阿邱，言採其虻。虻，貝母也。朱子謂其能解鬱結之疾，試觀貝母微辛微苦，微潤微涼，得土金之氣，稟清肅之令；微辛微潤則能通，微苦微涼則能降，而且色白形圓，象類心肺，所以主解鬱結之疾。後人謂其清熱化痰者，皆散結之功也。一隅三反，可類推矣。</p>
<p>又有先期為熱，後期為寒之說，亦不盡然。余謂欲診其人之病，須先辨其人之氣質陰陽。金水之質，其人肥白，多屬氣虛；再驗之色、脈，如面色唇舌慘淡，脈息柔濡，此氣虛見證。氣虛則脾胃不能健運，食少化遲，化源即薄，衝任自衰，或氣不攝血，為先期，為崩漏，或氣不化血，為血少，為後期，色必淡紅，無脹無痛，陽虛化濕，必多黃水白帶，法宜歸脾一類，以補氣血生化之源。若久則氣不化血，血虛化燥，又成氣血雙虧之候。木火之質，其人蒼瘦，多屬血虛；再驗之色脈，如面色唇舌多紅多燥，脈息細澀，或弦或數，此血虛見證。血虛則肝陰不濡，肝陽內熾，或血熱妄行，為先期，為崩漏，或血虛留滯，為後期，為脹痛，法宜滋燥養營為主。其因虛留滯者，佐咸柔以軟之，辛潤以通之，自可獲效。久則陰虛燥急，經枯月閉，延為肝風眩暈、多怒多煩、脅肋作痛，甚則咳嗽、吐血、咽痛、骨蒸，為乾血成勞之候。</p>
<p>又有氣血不足，燥濕之邪乘虛湊入，此類釀患，尤屬多多。夫氣為水母，凡飲入於胃，賴脾肺氣機吸攝，水精四布，五經並行。氣虛者，默運無權，津液不歸正，化變為帶濁，暗損真元；血虛者，濕熱混入營分，每成痛經。平日時行黃水，黏濁而熱，黏著皮膚則癢，臨期腹痛，由肩背下抵腰足，無不痠痛，四肢乏力，皮里發熱，血色紫黑晦暗。濕熱瘀濁下行，如爛魚腸樣，腥穢異常，行後又多黃水，若濕熱瘀濁不下則腹痛更甚。法宜於養血劑中，佐辛潤以通之，參苦辛以化之。苦多辛多，尤必因其人之熱重、濕重用之，乃可獲效。若久久不治，則濕熱瘀濁凝聚成塊。其初聚而未結，營氣尚往來於其間，以故推揉有聲，按之覺痛，古謂氣聚為瘕，聚散不定，即此類也。巢氏不察其原，徒立八瘕名目（黃瘕、青瘕、脂瘕、狐瘕、蛇瘕、鱉瘕、燥瘕、血瘕），最足誤事。其曰青瘕、黃瘕，下青黃濁汁，脂瘕精血雜下如脂膏。濕熱下行，有明證也。即用前法，再加咸軟，如龜板、鱉甲、決明、牡蠣之類，既能燥濕清熱軟堅，又能養陰，斷無不效之理。嘗見痛經之證，久之血虛化燥，腸胃之外，經絡之間，結成硬塊，營氣不得往來於其間，以故堅固不移，按之不痛，古謂血結為症，推移不動，即此類也。法當滋燥養營，或用清潤，或用溫潤，亦視其人之寒熱施之，仍須參以辛潤咸軟，自可漸化。</p>
<p>又有腸覃一證，經謂寒氣客於腸外，與衛氣搏，癖而內著，瘜肉乃生，大如雞卵，漸如懷子，按之則堅，推之則移，月事以時下。此腸外脂膜受病，未入脈中者也。又有石瘕一證，生於胞中（即子宮）。經謂寒客子門，子門閉塞，惡血當瀉不瀉，衃以留止，日益大，狀如孕，堅如石，月事不下，此血凝子宮病也。又有痃癖一證，方書謂僻於肋下謂之癖，隱於臍傍，狀類硬弦謂之痃，勞碌感寒則發，與痛俱見，不痛則隱，此厥陰、陽明經脈結聚也。此三者，治以溫潤，佐以辛潤。蓋溫潤、辛潤，氣陽質陰，有陽和解凝之功，無剛燥劫津之慮，以柔治剛，理固有一定者也。鞠通先生云：經謂燥淫所勝，男子㿗疝，女子少腹痛，此燥氣延入下焦，搏於血分，堅結不散，而成症疾，勿論男、婦，化症回生丹主之。若不知絡病宜緩通治法，或妄用急攻，必犯瘕散為蠱之戒。此蠱乃血蠱也，在婦人更多，為極重難治之證，學者不可不預防之也。化症回生丹方，系燥淫所勝，治以苦溫，佐以甘辛，以苦下之之法，方從《金匱》鱉甲煎丸與回生丹脫化而出，久病堅結不散者，非此不可。又云：《難經》謂任脈為病，男子為七疝，女子為瘕聚，此燥氣延入下焦，不與血搏，故發時痛脹有形，痛止無形，自不得傷無過之營血，而用化症丹矣。老年八脈空虛，亦不可與化症丹，皆復亨丹主之。愚按：化症丹，芳香燥藥猶嫌其多，尚宜減去；復亨丹溫潤甘辛，頗為合拍。又按：血虛化燥一證，每每經事先期，或一月經行數次，血色鮮紅，即成塊亦鮮明而不晦暗，必多進大劑育陰方愈，氣虛者佐以益氣；甚有血虛燥結，隧道拘攣，似積而實非積之病，女子血海常虛，肝陽多沸，易生此證。古人止分氣病、血病，立有積聚、癥瘕名目，並未詳氣血因何致病之故。後人不事推求，徒知見氣破氣，見血行血，往往用香附、烏藥、厚朴、青皮、木香、檳榔破氣諸燥藥，謂氣為血帥，氣行則血行，見治不效，加以行血，如三稜、莪朮、乾漆、元胡、蘇木之類，甚有用巴豆、硝、黃諸品，破積攻堅，愈治愈結，愈結愈大，致之形消腹板，成蠱成勞，潮熱、鼻衄、上咳、下利，死而後已。此等治法，貽誤千古。春山先生曰：氣為血帥，血實為氣航。蓋水淺者瘀始停，未有水足而河流壅塞者；汁乾者物乃結，未有汁足而枝葉枯硬者。天包乎地，表裡皆水，人為血肉之體，亦表裡皆水。無形之陽，基於有形之陰。血行原藉乎氣行，氣行亦資乎血行，蓋血能載氣以行也。總之，因氣致病者，調其氣而血自通，因血致病者，養其血而氣自行；因燥濕寒熱致病氣血者，治燥濕寒熱而氣血自調。經云：治病必求其本。此說最為切要。</p>
<p>嗣育一門，不外調經、葆精二法。古歌云：山無不草木，人無不生育；女子要經調，男子要精足。調經之法，前已發明。葆精之道，更宜詳究，經曰：兩神相搏（夫婦），合而成形，常先身生，是謂精，此先天本來之精也。又曰：谷入氣滿，淖澤注於骨，是謂液，此後天日生之精也。先天之精，受之生初；後天之精，生於穀氣，故精字從米從青。欲葆精者，不徒藉資藥餌，更須調其飲食。凡煎煿辛燥等物，最易生熱，不宜多食。至於治法，當視其人之體質為之。氣虛者，治在脾、肺。土為金母，金為水源，飲食之精氣，賴脾氣以散輸，資肺氣以灌溉，益脾、肺之氣，即以裕生化之源，經故曰氣歸精。陰虛者，治在肺、心、腎，經謂鬲肓之上（心下鬲上為肓），中有父母，肺與心也；七節之傍，中有小心，腎也。肺、心、腎呼吸相通，君、相火動靜相隨。生精者心，損精者亦心。精氣生於穀氣，穀氣色白，白為五色之本；穀氣歸心，奉君火而化赤；赤血得金氣之敷布，下行入腎化精，歸本還原，故其色仍白；精生於血脈，故曰生精者心。然生之甚難，損之甚易，君火一動，相火隨之，虛陽潛沸於內，則所生之少，不敵所耗之多。故陰虛者，須滋肺、心、腎之陰，以使之生，即以招攝心、腎之陽，不使之耗，心腎之坎離既濟，而肺、脾、腎之地天自泰矣。真陰真陽虛者，治在脾、腎。益火以治土之母，培土以生水之源，所謂先後天一氣相生者此也。然須服溫潤、甘潤諸品，最忌剛燥金石。嘗見艱於嗣育者，依古成方，謂溫熱能補命門，終年修服。不知水中之火宜溫潤，不宜溫燥，陰液本虧，又加剛燥耗劫，輕則致生頭疼、牙疼諸證，甚則成目昏、瘡疽、偏枯、痿廢之痼疾，皆由於溫熱補命門之說誤之也。然誤藥固足以致病，即不誤藥，亦僅可以治病，草木無情，斷難添精。葆精之道，操之在己，枚叔《七發》云：出輿入輦，命曰蹶痿之機；洞房清宮，命曰寒熱之媒；蛾眉皓齒，命曰伐性之斧；甘脆肥濃，命曰腐腸之藥。可知欲葆精者，總須寡欲節勞，以養其心，不使君火引動相火，相火得安其位，自不耗散真陰，再能適其寒溫，調其飲食，以裕其源，自然精足，此又勿藥真詮，葆精妙法。精足則神氣有歸，必然多男。古傳經淨後，單日成男，雙日成女諸說，多屬支離。男子精勝則多男，女子天癸勝則多女，此乾道成男，坤道成女之義也。男子精先至則生男，女子天癸先至則生女，此乾坤六子內陽外陰之義也。夫女子天癸，女子之真陰也。馬元臺曰：經云女子二七天癸至。天癸，陰精也。腎屬水，癸亦屬水，由先天之氣蓄極而生，故謂陰精為天癸。王太僕以月事為天癸者非也。《易》曰：男女媾精，萬物化生。是男女交媾之時各有精，但女子之精，以二七而至，而其月事，亦與此時同候，故經即繼之曰太衝脈盛，月事以時下。西學云：女子子宮內，有精珠十五顆至十八顆不等，形如雀卵，薄膜裹之，內藏精液，是謂陰精。女子入月之年，精珠始生，暮年月信止，精珠即無。凡夫婦交媾，精珠迸裂，陰精與陽精交會，是以成孕。此說與元臺義同，似可憑信。觀雞之生卵，雞腹中卵有數目，漸次生盡，則不生矣。在人亦然。嘗見婦人肥盛，即難成孕，以子宮為濕痰脂膜壅塞故也，古法以二陳、二術等治之。又見婦人破泄太早、太甚，及大病脫血後，雖調理復原，亦難成孕，想是精珠盡裂之故。觀此則葆精之道，不獨男子為然已也。</p>
<p>葆精之後，當知保胎。夫保胎之法，不外氣血。胞胎在腹，如天之包地，如雞之含卵，四面皆血以養之，氣以攝之，不得行一條胞脈，系腎以為根絆。若氣虛不足以提攝，血虛不足以涵濡，則其胎自落。彼巢元方分經養胎之說，謂十二經脈養胎，以五行分四時，殊難憑信。人身經脈，一氣貫通，豈有分任各養之理？以系腎而言，腰者腎之府，腎為人身之根蒂，腎虛則吸納之權廢，實足以致落，故腰痛胎必落。大抵世之因氣虛落胎者，十之二三；因血虛落胎者，十之六七。其有每至兩三月即落者，總由陰虛熱爍，如涸澤之魚，不能久活。法宜清補腎陰為主，兼忌濃味炙煿、香燥破耗等物，自可無虞。古有黃芩、白朮安胎之說，不知此二藥，系苦燥辛燥之體，與胎大不相宜，想古人為孕婦脾有濕熱者用之，後人不察，誤認為安胎聖藥，豈不相反？吳又可謂大黃為安胎聖藥，此指客邪傳胃腑者言之，去邪即是安胎，豈無此實證，而亦用之乎？又古人因胎氣上逆，用銀苧酒，取其鎮逆、清熱、和氣血，後人不悟此理，嘗於閃挫欲墮者，而亦用之，豈非速其墮乎？總之，安胎之法，有客邪致胎不安者，但當去邪，即是安胎，邪早去一日，胎早安一日，經故曰有故無殞。其有不因客邪而胎自不安者，當究其所以不安之原以治之，而胎自安。其因閃挫欲墮者，宜培養氣血，稍參調氣治之。</p>
<p>至胎前雜病，如子癇、子煩、子暈、子淋、子腫、子懸、子嗽等證，大抵不外陰虛化燥、陽虛化濕兩端，隨證參酌，自可無誤。</p>
<p>再胎婦平日常宜小勞，流通氣血，自無難產之患。古方如達生散諸劑，一派皆辛燥破耗之藥，斷不可服。鞠通先生謂天下本無事，庸人自擾之。其說甚是。若欲其滑利易生，常以豆腐皮加白蜜泡服，或服鴨湯、豬膚湯等類，藉水行舟，自然易產。若夫臨產，切宜安靜，瓜熟蒂落，比喻最精。《達生編》六字真言：一曰睡，二曰忍痛，三曰慢臨盆。尤為切要。其交骨難開者，如加味當歸湯：當歸、川芎、血餘炭、炙龜板，尚無流弊。他如兔腦丸、立應散諸方，皆屬霸道，斷不可從。其有難產，至兩三日，水血行盡，氣血虧極者，急用八珍湯，去苓、術，加阿膠、枸杞、沙苑、黃耆、山藥等味，兩補氣血，虛回乃可望生；更有虛極神昏，不知服藥者，用八珍料斤許，在產婦房中文火緩煎，俾藥之氣味，從產婦口鼻吸入，運動氣血，冀其甦醒，醒後即以此湯緩緩與服，亦可望生。曾經有驗，此以意用藥法也。其有胎死腹中者，舌苔必青黯，繼而腹冷、寒戰，胎即欲化而落，宜大劑養血，稍加肉桂，氣虛者參以益氣，亦不可拘執成方，用平胃、朴硝攻下，致傷氣血。舊訣云：面赤舌青，母活子死；面青舌赤，母死子活；面舌俱青，母子俱死。此屬有驗。產後氣血大虧，更宜審慎。吾鄉新產服生化湯（當歸、川芎、炙草、炮薑、桃仁），或胡椒湯、艾湯。其生化湯活血化瘀，兒枕（少腹有塊，名曰兒枕）作痛者尚宜；胡椒耗散真陰，艾湯助熱生風，均不可服。其有肝虛血燥體質，平時常有肝陽上冒見證，生化湯辛溫走竄，又不宜服。嘗有服此成痙厥者，不可不知！產後惟有用當歸、丹參、炙草和血，稍加桃仁以導余瘀，最為穩當。川芎辛散，炮姜溫燥，不宜多用。產後無虞保生等湯，不知創自何人，害人無算，尤當禁忌。其有氣血虛極者，心虛、氣短、頭眩、多汗，須於前方加沙參、棗仁、熟地、玉竹養之，再參童便，導瘀下行，亦妙。其有寒熱交作者，亦由血虛不能榮養百體所致，宜用前方大劑養血，切勿作外感治。《金匱》論新產婦人有三病：一曰痙，二曰鬱冒，三曰大便難。血不養肝，肝風內動，則痙，此筋病也；血虛肝陽上越，則鬱冒、頭眩、目瞀、嘔不能食、但頭汗出，此神病也；血虛不能濡腸，則大便難，此液病也。總之，皆陰虛血燥見證，當大劑養陰養血，如復脈等湯，最忌辛溫耗散，即有外風，亦忌風藥升舉其陽，致汗脫血暈而斃。春山先生云：治風先養血，血充風自滅。易一「養」字「充」字，較古歌尤勝。又有產後隨臥，敗血乘虛上攻，或心下滿悶，或痰涎壅盛，甚則神昏、口噤，更有敗血衝心，喜笑怒罵，逾牆上屋者，多致不救。此證不論虛實，急用熱童便灌之。實證必有腹痛拒按情形，輕者用生化湯，重者用回生丹最妙。若產後六氣外邪為病，當汗、當清、當下，隨證治之，速去其邪，兼護其虛。無糧之師，貴在速戰，又不可拘於產後宜溫不宜涼之說。《內經》有故無殞，不專指胎前言之也。女科大要如此，學者以意參之，隨所指而進步焉，當不歧於路矣！</p>

<h2>兒科論</h2>
<p>小兒，春令也，木德也，花之苞，果之萼，稚陽未充，稚陰未長者也。稚陽未充，則肌膚疏薄，易於感觸；稚陰未長，則臟腑柔嫩，易於傳變，易於傷陰。故小兒病較大人尤重，尤當以存陰為第一義。夫存陰，非補陰之謂。凡辛燥升散，溫燥苦澀、消導，皆是耗傷陰液之藥；往往陰液被傷，肝風內動，鼓痰上升，血不榮筋，筋急拘攣，致成痙瘈。稚陽未充，忌用苦寒，以苦寒善伐生生之氣，且苦能化燥，化燥則又傷陰，不獨伐生生之氣已也。金石之品，善定神智，令人發呆，冰、麝香燥走竄，最耗心液。經曰：石藥發癲，芳草發狂。不可不知！</p>
<p>昔錢仲陽為小兒制六味丸，取酸甘化陰之義。酸，水味也；甘，土味也。木非水不生，非土不載。木實初結多酸，猶稟木之本味；成熟則純甘，甲乙合而化土，全得土之正味。五味惟甘為無毒，甘潤得水土氣足，故能滋液。仲陽允為小兒之司命者哉！乃世俗未推六氣致病之理，未推六氣最易化燥之理，並未推小兒稚陽未充、稚陰未長，尤易化燥之理；見兒發熱，不知何邪，概曰風寒，輒與辛燥升散，雜以苦溫、苦澀消導。吾鄉尤誤於薄荷、荊芥辛涼之說，下筆輒用。不知荊芥質燥氣香，上升巔頂；薄荷質燥，辛辣異常，稍用三五分參於辛潤劑中，以和格拒猶可，若獨用、多用、頻用，即薄荷一味，實足耗液，致成痙瘈，乃見兒痙瘈，便稱驚風，亂投冰、麝、金石苦寒慓悍毒藥，以為開竅、鎮驚、清熱、祛風，家傳秘法，家藏丸丹，多系如此，誤治甚多，殊堪憫惻！又或將「驚」字誤作「筋」字之訛，挑筋刺血，強推強拿，其在富貴之家，釀禍猶速。嘗見薦醫薦方，接踵而至，此醫用熱，彼醫用寒，一日之間，七方十劑遍嘗，刀針金石全施，又或送鬼叫魂，此搖彼喚，使兒無片刻之安，重棉厚絮，爐火壺湯，使兒在熱盦之內。花之苞也，果之萼也，其堪如此傷殘也乎？嗟乎！是誰誤之也？父母誤之也。假使延一明理之醫，對證施治，何能至於此極乎？</p>
<p>吾鄉鞠通先生，憫兒之疾苦，作《解兒難》一冊。其中分寒痙、風溫痙、溫熱痙、暑痙、濕痙、燥痙六條，為六氣致痙；分內傷飲食痙、本臟自病痙二條，為內傷痙；客忤痙一條，為驚痙。又謂先感後痙者，即俗所謂驚風是也；病久致痙者，即俗所謂慢驚是也。又引《素問》太陽所致為痙，痙者，強直之謂，後人所謂角弓反張是也；少陽所致為瘈，瘈者，蠕動引縮之謂，後人所謂抽掣、搐搦是也。愚細玩諸條，不外燥、濕二字，又終歸於燥之一字。然則六氣最易化燥，小兒尤易化燥之說，此豈余之私見哉？</p>
<p>請析言之。寒與燥同源。風寒乃天地乾結之氣，干則化燥最速，故經謂傷寒為熱病之類。風與熱皆屬陽邪、風溫、溫熱為溫燥之氣。暑有熱有濕，為燥中夾濕之氣。濕與燥相反，濕不能作痙，故濕痙一條，本論亦曰濕性陰柔，不能致強，初起之濕痙，必兼風而成。兼風寒者，主寒燥搏濕治；兼風熱者，主風燥搏濕治。燥乃正秋之時，金風驟起，草木黃落，為涼燥搏束之氣，比傷寒較輕。又有暑濕內伏，涼燥外來，又為燥邪搏濕之氣。所謂六氣之邪，不外燥濕，而燥為尤重者此也。內傷飲食痙，由兒之父母，愛惜過甚，不能為兒節制飲食；飲食不節，則脾郁不舒；脾困則不能為胃行其津液，而濕漸停矣。濕停則泄瀉，泄瀉久則傷脾，脾傷則血無生化之源，化源既薄，血液日虛，肝失所養，肝陽鼓動，內風輒發，木來乘土，蠕動引縮。此由濕化燥之病，即俗所謂慢驚、慢脾風是也。慢脾風者，因脾慢而致生肝風者也。本臟自病痙，由於兒之先天薄弱，父母又愛惜過甚，恐兒之寒，著以厚衣，覆以厚被，冬月設以圍爐，致兒每日出汗，汗多則亡血，血燥則生風；又或因兒常啼去淚，淚為肝液，液去陰傷，肝陽鼓動，內風輒發，見蠕動引縮之象。然本臟自病，又為六氣致痙之根，一感外邪，內風隨動，即成痙瘈。此內傷二痙，不外燥、濕，而又終於化燥者也。古語云：欲得小兒安，常帶三分飢與寒。此為惜兒秘訣。蓋飢非餓也，飲食清淡有節耳！寒非凍也，不宜厚絮重綿盦成熱病耳！客忤一痙，瑟庵先生云：世俗妄傳驚風之證，惟此乃副其名。此由兒之心膽血虛神怯，偶有所驚，即以致痙。所謂風者，非外風也，乃內動之肝風為病耳。見證或有汗，或無汗，面色時青時赤，畏見異言異服，夢中囈語，手足搐搦，與六氣致痙，神氣昏憒者不同，此更為血燥生風之證。余謂小兒諸病，不外燥濕，而又終歸於燥者，固實有明徵也。</p>
<p>至於看法，以色診為第一。凡神充色澤者，天真必厚，易養而少病；神怯神瞪，面色慘淡枯瘁，唇紅不澤者，稟賦必薄，難養而多病。再看其先後天氣質。如先天虧者，必囟門難合，或齒遲、語遲、行遲，或項軟、發穗、青絡常露之類是也；後天虧者，必食少化遲，腹膨，泄瀉，面色唇舌淡白之類是也。又有看虎口紋法，起於滑氏伯仁。歌曰：小兒三歲下，虎口看三關，紫熱紅傷寒，青驚白是疳，淡紅淡黃者，斯為無病看。又謂紋見下節風關為輕，紋見中節氣關為重，紋見上節命關為危，直透三關為大危。世俗推拿一科，從之為法。但滑氏及幼科諸書，均未推原其故。愚按：《靈樞經》云：經脈者，常不可見也。其虛實也，以氣口知之。脈之見者，皆絡脈也。凡診絡脈：色青則寒且痛；赤則有熱；胃中寒，魚際絡多青；胃中熱，魚際絡紅：其暴黑者，留久痹也；其有赤有黑有青者，寒熱氣也；其青短者，少氣也。診虎口之說，蓋本乎此。但《內經》指百病而言，不專指小兒一科。彼滑氏男左女右之說，未免拘執；且紅為傷寒之說，顯與經背。至以絡脈所見之長短，審病之淺深，固屬法程，而風、氣、命三字，又未免杜撰。夏禹鑄謂小兒亦以四診為法，望色、望苗竅為第一。此說於理甚足。蓋病之傳變不常，即《內經》以色診絡之說，亦不可拘，惟手絡不宜暴露，是為要訣，以過露為血燥生風候也。</p>
<p>推拿一法，即《內經》按摩法。小兒惟內傷飲食一證，輕摩其腹，取其轉運，可冀小效，若他病用之，則非徒無益，而又害之矣。針灸法為《靈樞經》所重，但從無挑手絡之理。惟霍亂一證，因氣閉以致血閉，其絡色青黑者，即《內經》其暴黑者留久痹也之說，當針尺澤（膀彎）、曲池（腿彎）二穴，以通氣血，立時有效。此外非深於針法者，皆不可妄針，致傷脈絡。</p>
<p>至於認證，總以燥濕二氣為提綱，以因風因寒因暑為機括，以化火未化火為傳變，以傷陰之輕重為用藥之淺深。春山先生謂痘疹為燥火之甚者也，其次當以痙病為重。痙病，多由燥熱化風，雖名曰風，實是肝陽為病耳！筋失滋養，故致強急，今現燥象。</p>
<p>治法與大人無異，不必另立法門。試舉其大略言之。風、寒、燥邪初起，發熱、無汗，無論痙與不痙，治以辛潤，如杏仁、牛蒡、桔梗之類。寒重者加以溫潤，如蔥白、豆豉、鮮生薑之類。風溫、溫熱，治以辛涼，於前辛潤法中，酌加微苦之品，如桑葉、蔞皮、梔皮、連翹、蔗皮、梨皮、南沙參之類。熱重酌加涼潤輕品，如銀花、菊花、知母、羚羊角片、竹葉、蘆根、梨汁、蔗汁之類。客邪鼓動內風，痰涎上蒙清竅，厥時冒不知人，或發痙發瘈，前法必佐辛潤以開內閉，如芥子、鮮石菖蒲、薑汁之類。痰涎閉竅：熱痰加貝母、天竹黃、花粉、蔞仁、膽星、竹瀝、薑汁之類；濕痰加半夏、蜜炙橘紅之類。燥火甚者，清燥救肺湯在所必用。夾暑夾濕者，加以辛淡，如蔻皮、蔻仁、通草、赤苓、淡竹葉、滑石、鮮荷葉、扁豆花之類；夾濕熱者，加薑汁炒木通、薑汁炒黃連之類，苦辛開化。陰液虧極者，色瘁竅乾，無涕無淚，口痙不能言語，宜速救液，如生地、麥冬、元參、鮮首烏、阿膠、雞子黃、鮮石斛、玉竹、女貞子、龜板、牡蠣、決明、燕菜之類。液虛燥甚者，必多進方回，切勿中途易法，致之不救。其有液虛燥極，又有痰熱閉竅，暑濕內伏者，不妨於養液劑中，參以辛潤開竅豁痰，辛潤又能行水去濕。醫不執方，合宜而且，病純藥純，病雜藥雜。細玩漢人方法，活活潑潑，如珠走盤，其神妙有不可測者。凡此皆治六氣致病之大略也。</p>
<p>若本臟自痙病，亦不外救液潤燥一法。內傷飲食痙，在濕未化燥時，即須預防後來變痙，及早節制飲食，健運脾陽，如參苓白朮散、八仙糕、一味雞金散之類；若已化燥，又須參以甘平微潤，如制首烏、山藥、扁豆、沙苑子、枸杞、菟絲、棗仁、阿膠、龜板、淡菜、燕菜之類。但此病陰陽兩傷，燥濕並病，多不能救。客忤痙由血虛神怯而起，審其實有所因，別無他病，用復脈去參、桂、棗、姜，加棗仁、牡蠣。汗多神不寧，時有恐懼者，加煅龍骨、整琥珀、整塊硃砂，取其氣，不取其質，自無流弊。</p>
<p>疳積一證，鞠通先生謂疳者干也，干生於濕，與內傷飲食痙同一病因。夫干生於濕，病之所由起也，而濕已成干，病之所至極也。在濕未成干時，用資生、枳朮等丸，疏補中焦，頗為合拍，仿古人以樂侑食之義，食後擊鼓，鼓動脾陽，使之運化，又以意治病之法。其有因肥甘厚味太過，釀生濕熱疳蟲者，宜加苦寒辛酸，如連、梅、川椒、史君之類。若濕已成疳，則不獨苦寒殺蟲，重傷脾胃，不宜誤用，即資生等丸，亦嫌剛燥耗液，惟都中相傳一方，溫潤補脾，辛潤通絡，一通一補，相需成功，最為妙法。都中方以全蠍三錢，去毒，烘乾為末，每用精牛肉四兩，作肉團數枚，加蠍末少許，蒸熟令兒逐日食之，以蠍末完為度。夫蠍色青屬木，善竄而疏土，其性陰，兼通陰絡，疏脾郁之久病在絡者最良。然其性慓悍，不宜獨用。牛肉甘溫，最善補土。牛肉得全蠍而愈健，全蠍得牛肉而不悍，補脾之體，運脾之用，所以治疳積有殊功。一味雞金散亦最妙。又華陰李孝廉方，用大棗百十枚，去核，象核之大小，實以生軍，麵裹煨熟，搗為丸，如棗核大，每服七丸，日再服，神效。此亦一通一補，潤而不燥者也。按：此二方，不獨治疳積有功，凡類於疳積者，旁通觸類，實開無限法門。西學謂小兒疳積，乃吸液管受病。吸液管者，吸噏食物之精液管也，千支百派，散布大腸夾膜之間，食後少頃，內有精液，始見如白絲然，夾膜有小核甚多，即吸管疊積而成，一切吸管，附近脊處，乃合為一，名曰精液總管，附脊骨而上，至頸骨第七節即屈轉而下，左入頸手回血會管，直達於心。小兒疳積，乃液管凝大閉塞不通，故多食猶瘠。按：此與鞠通先生謂疳積生於飲食不節，隱隱相合。經謂婦人腸覃一證，亦與此相仿。化而裁之存乎變，推而行之存乎通，神而明之存乎其人也。</p>

<h2>用藥大要論</h2>
<p>《易》曰：立天之道，曰陰與陽；立地之道，曰柔與剛。草木雖微，其氣味有陰陽之分，體質有剛柔之別，一物一太極也。古人論藥性，多言氣味，少言體質。蓋以地之剛柔，即天之陰陽所化，言陰陽而剛柔即在其中。後人不悟此理，每每誤用。春山先生謂病有燥濕，藥有燥潤。凡體質柔軟，有汁有油者，皆潤；體質乾脆，無汁無油者，皆燥。然潤有辛潤、溫潤、平潤、涼潤、寒潤之殊，燥有辛燥、溫燥、熱燥、平燥、涼燥、寒燥之異，又有微潤、甚潤、微燥、甚燥之不同。大抵潤藥得春、秋、冬三氣者多，得夏氣者少；燥藥得夏、秋、冬三氣者多，得春氣者少。燥藥得天氣多，故能治濕；潤藥得地氣多，故能治燥。藥未有不偏者也，以偏救偏，故名曰藥。</p>
<p>試舉其大略言之，辛潤如杏仁、牛蒡、桔梗、葛根、細辛、前胡、防風、青蒿、紫菀、百部、當歸、川芎、桃仁、紅花、茺蔚子、白芷、鮮石菖蒲、遠志、鮮鬱金、蜀漆、殭蠶、芥子、萊菔子、蘇子、薤白、生薑、豆豉、蔥白、芹菜汁、韭汁之類。溫潤如黨參、高麗參、黃耆、甜冬朮、蓯蓉、枸杞、山萸、菟絲、蘆巴、巴戟天、桑椹、金櫻子、五味子、桂圓、大棗、胡桃、鹿茸、鹿角、鹿膠、羊腎、海參、淡菜、紫河車、坎氣之類。大抵溫潤一類，氣溫，得天氣多，質潤，得地氣多，受氣比他類較全，且味多帶甘，秉土之正味，治陰陽兩虛者，頗為合拍。平潤如南北沙參、東洋參、熟地、首烏、芍藥、玉竹、百合、沙苑、柏子仁、酸棗仁、甜杏仁、冬瓜仁、麻仁、亞麻仁、黑脂麻、烏梅、蜂蜜、飴糖、阿膠、燕窩、豬膚、鴨湯、人乳之類。涼潤如干地黃、元參、天麥冬、西洋參、鮮石斛、女貞子、銀花、菊花、鮮桑葉、蒲公英、知母、荷葉、竹瀝、竹茹、竹葉、淡竹葉、蘆根、白茅根、懷牛膝、川貝母、枇杷葉、栝蔞、花粉、海藻、昆布、柿霜、紫草、白薇、梨、藕、蔗汁、荸薺汁、露水、龜板、鱉甲、牡蠣、決明、文蛤、海浮石、童便之類。寒潤如石膏、鮮地黃、犀角、羚羊角、蚌水、豬膽汁之類。辛燥如羌獨活、蘇葉、荊芥、薄荷、藿香、佩蘭、香薷、木香、香附、麻黃、桂枝、牽牛、芫花之類。溫燥如蒼朮、厚朴、半夏（半夏雖燥，其質尚滑）、南星、蔻仁、砂仁、益智仁、破故紙、山楂、青陳皮、檳榔之類。燥熱如附子、肉桂、乾薑（肉桂、桂枝、乾薑質雖微潤，究竟氣厚）、炮薑、吳萸、椒目之類。平燥如茯苓、琥珀、通草、苡仁、扁豆、山藥（山藥體微燥，而精尚多）、甘草、神麯、炒穀芽、豬苓、澤瀉、川牛膝、萆薢、茵陳、防己、豆卷、蠶砂、車前子、海金沙（車前子精汁頗多，但其性走泄。海金沙質微燥。二者在利水藥中，尚不甚傷陰）。之類。涼燥如連翹、梔子、霜桑葉、丹皮、地骨皮、釵石斛、滑石、寒水石、柴胡、升麻、蟬蛻、鉤藤、槐米、枳殼、枳實、葶藶子之類。寒燥如黃連、黃芩、黃柏、木通、苦參、金鈴子、龍膽草、大黃、元明粉、大戟、甘遂之類。本草體質，大略如此。</p>
<p>然既詳其體質，又須辨其氣味。大抵氣薄者多升、多開；味厚者多降、多闔。辛甘發散為陽，主升；酸苦通泄為陰，主降。溫者多開，寒者多闔。瀉者多開，補者多闔。辛苦、辛酸之味多開，酸鹹之味多闔。辛能散、能潤，又能通津行水；苦能燥、能堅，又能破泄。酸能收之；咸能軟之，又能凝之；甘得土之正味（甘藥皆無毒），同開則開，同闔則闔，緩中之力獨多；淡得天之全氣（淡薄無味象天，寓有清肅之燥氣，故功專滲濕），上升於天，下降於泉，滲濕之功獨勝。若夫水族，如龜板、鱉甲諸品，稟乾剛之氣，得坎水之精，體剛質柔，味鹹而淡，能攻堅軟堅，能燥濕清熱，能滋陰潛陽，一藥三用，陰虛夾濕熱者、血燥結塊者，用之尤宜。獨是草木受氣多偏，味難純一，一藥多兼數味，或先苦后辛、後甘，或先甘后辛、後苦，總以味偏勝者為主，味居後者為真，但須平昔親嘗，方能不誤。春山先生從邵子元運之說，謂古今藥性，未能畫一，如今之元會世運，正當燥火司天，故燥病獨多，萬物亦從之而變燥，金味辛，火味苦，故藥味多變苦辛。愚按：元運之說，似難盡憑，而地氣不同，確有可據。如論中所辨麥冬本甘，今甘中帶辛，杭產者辛味猶少，川產者辛味較多。釵斛本淡，今霍山產者，地近中州，味仍甘淡，川產者，味淡微苦，廣西、雲南產者，味純苦而不甘，以廣西、雲南居中州西南之邊陲，得燥火之氣獨勝也。所辨實皆不爽，不獨時地不同，即種植亦異。如高麗人參，氣本微濕，今用硫黃拌種，則溫性較勝。如此類推，不可枚舉。</p>
<p>至用藥之法，須知用意。醫者，意也。以意治病，是最上一乘，不得已而用藥，已落二乘，然無情之藥，以有知之意，用之則靈。古法用藥如用兵，用兵有戰有守，有奇有正，用藥亦然。夫以天地之氣，猶橐龠之開闔，運行不息，故能化生萬物，在人則不能，故其機一停則病，一偏亦病，一息則死。六氣之中，寒濕偏於闔；燥、火偏於開；風無定體，兼寒、濕則闔，兼燥、火則開；暑有熱有濕，偏於熱者多開，偏於濕者多闔。用藥治病，開必少佐以闔，闔必少佐以開，升必少佐以降，降必少佐以升，或正佐以成輔助之功，或反佐以作嚮導之用，陰陽相須之道，有如此者。燥病治以潤，不妨佐以微苦，以微苦屬火，火能勝金也；濕病治以燥，不如治以淡，以淡味得天之燥氣，功專滲濕也。更有病純者藥純，病雜者藥雜（如瀉心、黃連諸湯是也）。有病雖雜而出於一源，則立方要有專主；有病雖純而夾以他病，則立方要有變通。燥病須防其夾濕，濕病須防其化燥。觀其已往，以治其現在；治其現在，須顧其將來。表裡、寒熱、虛實，固當分明；標本、先後、重輕，尤宜權變。燥病當用膏滋，濕病當用丸散。燥病夾濕，潤藥用炒，或用水丸；濕病化燥，燥藥用蒸，或用蜜丸。欲其速行，則用湯藥，取湯以蕩之之義；欲其緩化，則用丸藥，取丸以緩之之義。</p>
<p>至於煎法，亦當用意。如陰液大虧，又夾痰涎，則濁藥輕煎，取其流行不滯（如地黃飲子是也）。如熱在上焦，法宜輕蕩，則重藥輕泡，取其不犯下焦（如大黃黃連瀉心湯是也）。如上熱下寒，則寒藥淡煎，溫藥濃煎，取其上下不礙（如煎附子瀉心湯法）。或先煎以厚其汁，或後煎以取其氣，或先煎取其味厚而緩行，或後煎取其氣薄而先至（如大承氣湯，先煎大黃、枳實、厚朴，後下芒硝是也）。欲其速下，取急流水；欲其緩中，用甘瀾水（即千揚水，如煎大半夏湯法）。欲其上升外達，用武火；欲其下降內行，用文火。或藥後啜薄粥，助藥力以取汗（如服桂枝湯法）。或先食後藥，助藥性之上升。種種治法，非參以意不可。試觀仲景先師，一百一十三方，三百九十七法，皆有真意存乎其間。學者以意會意，自有心得。此不過論其大略而已！</p>

<h2>醫宜識字論</h2>
<p>古人造字，不外形、聲。形聲，陰陽之道也。然形、聲又各有陰陽。聲有四：平、上、去、入。平，聲之陽也；上、去、入皆仄，仄，聲之陰也。以形言之，伏羲畫卦，一畫開天則為一（一音奇，奇以象陽，數之始也），一畫豎之則為丨，（丨音袞，上下通也。）左右倚之，則為丿為乀，（丿音撇，左戾也。乀音弗，右戾也。縮之則為丶，丶音主，有所絕止，丶而識之也。）曲之則為乙，（乙音軋，乙乙，難出之貌。）一，象天陽也。丨，天氣下降於地，陽統陰也。丿繼乀象人，乃陰精陽氣合而成之者也。陳修園曰：左丿為陽，右乀為陰。作書者，遇丿處輕手揮之，陽主乎氣，輕清之象也；遇乀處重手頓之，陰主乎精，重濁之象也。先丿後乀，氣以生形，陽統陰也。乀繼以丿，形隨乎氣，陰承陽也；丿乀左右各自位置，陰陽對待之道也；丿乀左右不相離，陰陽互根之道也。丿乀合而為人，合謂之抱，又謂之交。抱者，負陰抱陽之義；交者地天交泰之義。觀人字字義，而人之陰陽可知矣。</p>
<p>試以人之外形言之。鼻為中土，鼻下名人中，人中以上，鼻、目、耳皆偶竅；人中以下，口奇竅。偶屬陰，奇屬陽，陰上陽下，地天泰也。頭項以下，乳偶竅；臍、前陰、後陰奇竅。男子前陰，內偶竅，外奇竅；女子前陰，內外皆偶竅，亦地天交泰也。外形既如此，而人所以生之之理，不從可想乎？夫人在天中，而附於地上，故後天胃氣為最重。胃主地氣，為倉稟之官，為人身氣血生化之本，故胃之為言匯也，胃從田，田乃五穀所匯而生之者也。又胃者衛也，布焌穀氣，衛外而為固也。經故曰：四時百病，胃氣為本，脾為堤防之土，乃散輸胃中水穀之精氣，以傳於肺者耳！故脾從卑，卑者由下申上之義。又脾者裨也，裨助胃氣以散精者也。肺從市，市，從—從丨，象天氣降於地，而上下貫通者也；從冂（冂，凶去聲）。冂，空也，象肺輕虛之體也。又肺者沛也，敷布水精行於臟腑，沛然而莫御也。心從、從乚。夫—丨丿乀，方以直，乚圓而神，字雖萬變，未有能外—丨丿乀以結構之者。人心虛靈圓妙，故出乎—丨丿乀之外，而從丶從乚，即圓而神之義也。又心為身之主，故從丶。心善思，陸士衡文賦曰：思乚乚其若抽，故從乚。又心者新也，神明變化而日新也。又心屬火，小篆嘗言心字篆文，只是一倒火字耳！蓋火下交於水為既濟，故顛倒之以見陰陽調燮之妙。考五臟惟心有包絡，蓋以心為五臟六腑之大主，主不受邪，故有包絡以為外衛。曰包絡者，即心外之脂膜，形如油網，包裹而散絡於心者也。肝從干，干，從二從丨，二偶數，偶以象陰，而貫通於上下者也。然肝雖屬藏血之陰臟，而在五行屬木，肝者干也，如木之有幹有枝也。木於時為春，後天震巽之木，居東方而主生氣。巽上坤下為觀，觀之義，崇陽而抑陰也；上坤下震為復，復之義，見陰必從陽轉也。故治肝以不伐生氣為上。腎，水也，腎陰上交於心為既濟，故腎字從臣從又，心為君主，臣所以輔君也。又手也，扶佑君主之義也。又腎者神也，妙萬物而為言也。腎者任也，主骨而任周身之事也。《甲乙經》曰：腎者引也，引氣通於骨髓者也。臟象如此，腑象可知。腑如府庫之府，主聚而散焉者也。胃為六腑之一，前論五臟，先言胃者，以胃為後天化生之原也；論五臟首言脾者，以地氣必上騰，天氣乃下降，地天交泰之義也。他如大腸屬金，為肺之腑；小腸屬火，為心之腑。人納水穀，脾化精微之氣以上升，小腸化糟粕，傳於大腸而下降。腸者暢也，通暢胃中之氣也。三焦屬火，為心包絡之腑，焦從火，熱也，滿腔熱氣布濩，能通調水道，下出而為溺者也。膽屬木，為肝之腑，膽從詹，人之勇怯，於此詹之。又膽者擔也，有擔量，方足以任天下之事，故經謂十一經皆取決於膽，又謂膽為中正之官，決斷出焉。蓋以人之勇怯、擔量、決斷，皆生於氣，肝膽屬木，主仁而又主生氣，仁之至者，義自盡也。膀胱屬水，為腎之腑，膀者旁也，胱者光也，謂其得三焦之氣化，則津液旁達，而肌膚光澤也。此六腑字義與命名，又各有精義者也。余故曰：醫宜識字。</p>

<h1>跋</h1>
<p>蕉影蔽窗，荷香滿院，呂君伯仁叩關而入，袖書一卷，曰：此名石孝廉芾南先生之《醫原》，而為吾師沈菊人先生所珍藏者也。讀其自序，知孝廉胸儲經濟，學有淵源，上窺軒歧盧扁之奧，下秉高曾祖父之傳，負洞垣一方之識，笑刻舟求劍之愚，爰乃萃其所蘊，泐成是書，持論明通，存心忠厚，洵屬醫林之寶筏，壽世之慈航也。重為參校。以公同人。</p>
<p><u>光緒十七年季夏後學華亭張聲馳謹跋</u></p>

<h1>跋</h1>
<p>奎不敏，業醫三十年，讀書不多，而又僻處於鄉，無所聞見，未嘗不慚且懼也。日遇朱雨笙茂才，讀石孝廉《醫原》二十篇，綜羲文之要旨。發《靈》《素》之精思，醫者知之，即非醫者，亦一見而瞭然焉。所謂白香山詩，老嫗可解，有如是耶！家置一編，資以參會，裨益非淺鮮也。因慫恿付梓，以公諸世，而綴數語於篇末云！</p>
<p><u>咸豐十一年歲次辛酉孟夏月鄉愚弟周秉奎頤貞頓首拜跋</u></p>
