<header data-type="book">
<h1>王仲奇醫案</h1>
</header>

<h1>正文</h1>
<p>（案1）汪，唐家弄。喉痛，懸壅下垂，喉壁仍累累高起如疱丁，咯痰艱澀不利，交睫夢夢惚惚，至夜則足肢微浮，形瘦面黧，脈沉澀數。腎陰不上承，肺氣不肅降，有水竭金枯之虞。</p>
<p>海蛤粉（三錢）　川貝母（一錢五分）　生苡仁（三錢）　野薔薇花（二錢）　飛青黛（三錢）　白茯苓（三錢）　冬瓜子（五錢）　干葦莖（三錢）　金石斛（三錢）　絲瓜絡（三錢）　肥知母（三錢）　枇杷葉（三錢）</p>
<p>（案2）王，十六浦。肝膽氣橫，阻遏胃降，飲食所入勢必嘔出，昨日嘔甚吐苦，氣仍逆而不已，嘔劇將咽頭胃絡嘔破，以致血與食物並出，咽中痛，脈弦。治以疏肝降胃，兼泄少陽，切莫見血投涼。</p>
<p>玉蘇子（二錢）　旋覆花（二錢）　法半夏（一錢五分）　炒枳殼（一錢五分）　真降香（八分）　代赭石（二錢）　全瓜蔞（三錢）　白茯苓（三錢）　川蒲黃（一錢五分）　嫩前胡（一錢五分）　炒川連（三分）　澤蘭葉（三錢）</p>
<p>又，二診：肝阻胃降，嘔逆過甚，將咽頭震破，致血與食並出，咽中痛，投降胃血止嘔，平。但頭腦仍眩，體疲乏力，向有腦漏，偏著左邊，脈弦。腦漏鼻淵亦膽熱上移也。</p>
<p>旋覆花（二錢）　炒條芩（一錢）　絲瓜絡（二錢）　夏枯花（三錢）　法半夏（一錢五分）　冬桑葉（二錢）　金石斛（三錢）　炒蒲黃（一錢五分）　白茯苓（三錢）　炒丹皮（一錢五分）　白蒺藜（三錢）　辛夷花（一錢）</p>
<p>（案3）陳，澉浦。陽升太過，清竅空，脈絡之血難以下趨，血走清道，鼻衄來如湧，湧日屢見不一見，絡血由裂傷而出，如走熟徑也。治當引陽入陰，安寧督脈，俾陽絡之血不至妄行可耳。</p>
<p>仙鶴草（三錢）　煅龍齒（三錢）　血餘炭（六分）　丹參（二錢）　絲瓜絡（二錢）　淮牛膝（二錢）　旱蓮草（三錢）　煅決明（四錢）　生地黃（四錢）　丹皮（一錢五分）　金石斛（三錢）　胡麻（三錢）　荷葉筋（三錢）　白茅根肉（二錢）　煅龍骨（一錢五分）　五倍子（五分）　血餘炭（五分）</p>
<p>上三味研末，以墨紙頭蘸末楔鼻孔。</p>
<p>（案4）金，童，平湖。肺主氣，心主血，心肺相依為用，所謂平人一呼脈行三寸，一吸脈行三寸，呼吸定息脈行六寸，一晝夜凡一萬三千五百息，八十一丈周於身。肺氣為病，心血不清，痧疹一發再發，留邪不達，氣化有阻，面目肢體盡腫，頸項亦腫，呼吸深則胸脅中痛，小溲短少。水道不通，亦氣化之不下輸也。若蔓延深入，必至肺脹喘閉則惡矣。</p>
<p>桑白皮（一錢五分）　紫背浮萍（二錢）　連翹殼（三錢）　陳赤豆（四錢）　光杏仁（三錢）　帶皮茯苓（六錢）　生苡仁（三錢）　路路通（六枚）　通草（一錢）　冬瓜皮（四錢）　橘紅衣（一錢）</p>
<p>又，二診：氣化漸見下輸，面目手肢浮腫較退，小溲略長，惟腹部仍有繃狀，鼻竅稍見衄血，手肢及腦部發瘰，痧疹之餘毒未清，守原意廓清之。</p>
<p>桑白皮（一錢五分）　紫背浮萍（一錢五分）　連翹（二錢）　夏枯草（二錢）　炒丹皮（一錢五分）　連皮苓（三錢）　苡仁（三錢）　陳赤豆（三錢）　紫地丁（三錢）　忍冬藤（三錢）　杏仁（三錢）　路路通（二錢）</p>
<p>（案5）邵，右，武定路。產育多胞胎，脈內損，榮血有虧。頭眩，目視少神，背膂脹痛，胸宇氣悶不舒，入夜掌蹠炎熱，煩勞則下惡露，紅黃雜見。脈弦澀，胞脈失固，殊防崩漏。腹中或痛而熱，則肝氣不舒，氣有餘便是火，故雖熱而痛也。治以舒氣調榮，兼固胞脈。</p>
<p>綠萼梅（八分）　丹參（二錢）　元胡索（一錢五分）　烏賊骨（三錢）　炒白芍（二錢）　白薇（二錢）　金鈴子（一錢五分）　紅白雞冠花（各一錢）　白蒺藜（三錢）　茯苓（三錢）　川續斷（二錢）　煅牡蠣（三錢）</p>
<p>又，二診：肝氣不舒，榮絡失和，右腰肋內脈牽引而痛，咳嗽行動坐臥轉側或作拘急，脈弦澀。治以舒氣機，調榮脈。</p>
<p>（方缺）</p>
<p>（案6）李，右，唐家弄。經隧不通，胞絡恆閉，少腹兩旁有癖。近日咳嗆見輕，偏左腿肢腰胯酸脹而痛，筋掣微麻，舌後半截難過弗爽，莫能名狀。胞脈屬心，心主一身之血脈，又絡於舌，脈弦澀。仍以通絡行血可也。</p>
<p>大丹參（二錢）　元胡索（二錢）　炒丹皮（一錢五分）　乾地龍（一錢五分）　澤蘭葉（三錢）　炒續斷（二錢）　白茯苓（三錢）　炒茜根（一錢五分）　茺蔚子（三錢）　藏紅花（四分）　白蒺藜（三錢）　功勞葉（三錢）</p>
<p>（案7）潘，右，嘉善。右肩髃疼痛，筋骨拘急，機關不利，臂難上舉。仲景云：但臂不遂者為痹。惟脈不浮數而弦滯，經事又復失調，當以行血舒筋，以利機關。</p>
<p>片薑黃（一錢五分）　伸筋草（二錢）　藏紅花（四分）　抱木神（三錢）　天仙藤（一錢五分）　全當歸（三錢）　雞血藤膠（一錢）　桑寄生（三錢）　威靈仙（一錢五分）　左秦艽（一錢五分）　白蒺藜（三錢）　功勞葉（三錢）　路路通（八枚）</p>
<p>（案8）忻，右，虹口。腹痛腸鳴，便瀉，食難運化，形瘦色夭不澤，月事已兩月不來，舌光絳如豚肝，日有寒熱，間有咳嗽，脈濡弦。真元已傷，胞脈已閉，腸胃脂肪剝蝕殆盡，病勢已深，生氣索然，外將浮腫，難以療治矣。</p>
<p>蒸於術（一錢）　制禹糧（三錢）　茯苓（三錢）　宣木瓜（一錢）　炒白芍（二錢）　煅牡蠣（三錢）　青蒿（二錢）　金石斛（三錢）　益智仁（八分）　御米殼（一錢五分）　苡仁（三錢）　炒穀芽（五錢）</p>
<p>（案9）陸，右。火為風搏，鬱而不宣，喉痛咽腫，懸壅下垂，嗓音窒咽不揚，肢清形寒，脈浮數，稍有咳嗽。治以清宣利咽。</p>
<p>連翹（二錢）　薄荷（三分）　炒殭蠶（一錢五分）　生甘草（一錢）　銀花（三錢）　元參（二錢）　紫荊皮（二錢）　薔薇花瓣（三錢）　射干（一錢）　馬勃（一錢）　玉桔梗（八分）　牛蒡子（一錢五分）</p>
<p>（案10）汪，崑山。血瘀在絡，左背胛酸楚，起及於肘腋胠脅，既則右背部胸膺亦然，內著於骨，故按之痛少止，然不能臥，臥則痛甚，胸臆氣悶不舒，呼吸亦感不快，脈弦澀。心主一身之血脈，此亦脈痹之屬，絡病難治，漸痹漸痼，則尤難治矣。姑以宣通。</p>
<p>仙鶴草（三錢）　抱木神（三錢）　大丹參（二錢）　澤蘭葉（三錢）　藏紅花（四分）　制沒藥（一錢）　忍冬藤（三錢）　乾地龍（二錢）　片薑黃（一錢五分）　制乳香（一錢）　絡石藤（三錢）　路路通（八枚）</p>
<p>（案11）胡，左，績溪。臟脈精華皆上注於目，諸脈亦屬於目，目得血而能視，肝腎精血內虧，精氣無力上注，綠水泛入瞳人之內，瞳人散大，與黑珠風輪相渾，色如珠母，始初僅在右目，上年以來並及左目，但稍輕耳。脈濡弦而澀，尺部稍藏。瞽者善聽，聽覺又欠聰，腎臟精氣之衰亦可見矣。藥餌不外乎補精益氣，但功效甚微耳。</p>
<p>淡蓯蓉（三錢）　大熟地（五錢）　甘枸杞（二錢）　覆盆子（三錢）　淮牛膝（二錢）　山萸肉（三錢）　女貞子（三錢）　金毛狗脊（二錢）　金石斛（二錢）　潼沙苑（三錢）　南燭子（三錢）　決明子（二錢）　穀精草（三錢）　兔肝（焙乾，研細末，沖一錢）　磁朱丸（一錢五分，吞）</p>
<p>（案12）王，勞勃生路。飲食入胃，以傳於肺。肺苦氣逆，變動為咳，水穀精液釀痰而不生血，咳嗽痰沫多，咳劇震動肺絡則痰紅雜出。近日足肢浮腫，周行氣化有阻，脈弦滑左搏，苔黃口苦，膽汁亦因震動而暗泄也。治以清絡保肺，兼泄少陽。</p>
<p>霜桑葉（二錢）　茯苓（三錢）　旋覆花（二錢）　炙紫菀（一錢五分）　粉丹皮（一錢五分）　苡仁（三錢）　蒲公英（三錢）　玉蘇子（二錢）　絲瓜絡（三錢）　杏仁（三錢）　炙兜鈴（—錢二分）</p>
<p>又，二診：足肢浮腫見消，氣逆咳嗆仍劇未減，痰多不易咯出，日來仍帶紅少許，脈弦左搏，口苦苔黃，且增嘔惡，飲食隨痰涎嘔出。蓋肺氣失宣，胃逆失降，膽汁亦逆流而上也。惟年老病久，未可泛泛視之。</p>
<p>（方缺）</p>
<p>（案13）劉，麥家圈。舊有失血，近又復萌，咳嗆喉間殊欠清爽，日來痰中尚帶血星。陰精有虧，肺氣燥逆。據云咳出之血亦有沉水者，此蓋離絡忍而後出也，肺絡之傷則毫無疑義，若以入水浮沉為斷則陋矣。</p>
<p>海蛤粉（三錢）　大丹參（二錢）　金石斛（三錢）　旱蓮草（三錢）　甜三七（八分）　粉丹皮（一錢五分）　南沙參（三錢）　藕節（四錢）　生苡仁（三錢）　絲瓜絡（三錢）　炒茜根（一錢五分）</p>
<p>（案14）陳，吳江。呼出屬肺，吸入屬腎。腎氣有傷，攝納無力；肺苦氣逆，咳嗽喘急不能安枕矣。腰痠形瘦，脈濡弦，寐覺汗泄。肺為氣出入之道，其本在腎，其末在肺。納下為主，復以宣上。但宜節欲，遠房帷為要，否則難治。</p>
<p>鵝管石（一錢）　淮牛膝（二錢）　白茯苓（三錢）　款冬花（一錢五分）　遠志肉（一錢）　海蛤粉（三錢）　御米殼（一錢五分）　銀杏肉（六枚）　冬蟲草（一錢二分）　法半夏（一錢五分）　蒸百部（八分）　蛤蚧尾（三分，剝鱗，研沖）</p>
<p>（案15）李，右，虹口。產後胞脈損傷，惡露纏綿，帶下淋瀝，腰痠脅痛，延日已久。近忽崩中，噴湧而至，有瘀塊甚夥，頭眩心悸，足膝痠軟，脈弦澀而數。治以鎮攝。</p>
<p>炒續斷（二錢）　炒貫眾（一錢五分）　甘杞子（三錢）　炒條芩（一錢二分）　炒地榆（三錢）　煅牡蠣（三錢）　女貞子（三錢）　烏賊骨（三錢）　白蒺藜（三錢）　煅龍骨（三錢）　當歸頭（二錢）　白紅雞冠花（各一錢）　震靈丹（一錢五分，吞）</p>
<p>（案16）米，崑山。咳嗽喘閉，氣候寒暄失常必發且劇，喉間有聲，臥難安枕，唾皆白沫，轉黃濃則少瘥，脈滑。以溫藥和之。</p>
<p>麻黃根（四分）　北細辛（二分）　淡乾薑（一分）　佛耳草（一錢五分）　射干（一錢二分）　法半夏（一錢五分）　鼠黏子（同杵，一錢五分）　蒸百部（八分）　光杏仁（三錢）　白茯苓（三錢）　甜葶藶（隔紙炒，一錢）　炙款冬（一錢五分）　炙桑白皮（一錢五分）</p>
<p>（案17）陳，西門。濕滯相搏腸府為病，腹痛下利紅白，裡急，肛脹痛則汗泄，脈弦，舌苔灰白而膩。治以導滯通腑。</p>
<p>制川樸　檳榔　炒條芩　炒銀花　炒枳殼　菖蒲　炒貫眾　萊卜甲　廣木香　佩蘭　六神麯　炒楂餅</p>
<p>（案18）鄭，精氣為體魄之本，精譬若薪也，氣譬若火也，有形之精薄弱，無形之氣未有能獨旺者也。小溲注射乏力，便後偶感精氣滲泄。治當固其腎命，強陰壯陽。</p>
<p>淮耆（三錢）　淮牛膝（二錢）　陽起石（一錢）　葫蘆巴（二錢）　於術（三錢）　淡蓯蓉（三錢）　煨鹿角（三錢）　補骨脂（二錢）　茯苓（五錢）　鎖陽（三錢）　巴戟肉（二錢）　上安桂（一錢五分）</p>
<p>又，二診：腎間動氣為生氣之本、三焦之原，《難經》謂之命門，《道經》謂之丹田，《內經》所謂七節之旁中有小心，徐洄溪謂陰陽翕闢存乎此，呼吸出入系乎此。無火而能令百體皆溫，無水而能令臟腑皆潤，其寶貴重要有如此者。今小溲澀少，陽根注射無力，是精氣虛乏，元陽式微，若再滲瀉分利，將有精竭陽熄之患。況久立行動，自覺有氣促，腿肢墜下，納食則腹笥作脹，亦有欲墜之狀，命陽微弱，腎難收攝，益昭然若揭矣。茲擬補精納氣，溫陽化氣，緣腎命以氣為主也。</p>
<p>淡蓯蓉（三錢）　淮牛膝（二錢）　潼沙苑（三錢）　生於術（二錢）　巴戟天（二錢）　甘杞子（二錢）　補骨脂（二錢）　蛤蚧尾（四分）　葫蘆巴（二錢）　菟絲子（三錢）　淮耆（劑量缺）　金匱腎氣丸（三錢）</p>
<p>（案19）劉，左。膽附於肝，肝氣盛強，少火變化壯火，膽應清靜而不清靜，胃當下降而不下降，以致胸脘痞塞，煩悶喜太息，時欲嘔，甚則嘔惡酸苦，苔黃，口苦而燥，夜不得寐，欲寐或作驚惕，即經旨「胃不和則臥不安」也，脈弦數。擬溫膽湯，意泄木安胃為主。</p>
<p>法半夏（一錢五分）　川條芩（一錢一分）　旋覆花（二錢）　天花粉（三錢）　白茯苓（四錢）　金石斛（二錢）　炒白芍（二錢）　北秫米（四錢）　炒枳殼（一錢五分）　橘紅衣（一錢）　蒲公英（三錢）　二竹茹（二錢）</p>
<p>（案20）姚，虹口。濕熱不攘，腎臟精氣內奪，腦筋氣力不周，手肢足肢痠，非扶掖不能起立舉步，張口言語唇吻即向左喎，鼻竅中前有血出，耳失聰而脹，日來又聲沙音低，昨復交捷汗泄，病經廿餘日。雖起於外因，實涉於腎與腦，痿厥是慮，尤恐腦筋之迸裂也。</p>
<p>左秦艽（一錢五分）　白蒺藜（三錢）　桑寄生（二錢）　夜交藤（四錢）　鹿銜草（二錢）　淮牛膝（二錢）　巨勝子（三錢）　左牡蠣（三錢）　金石斛（三錢）　炒川柏（一錢二分）　白茯苓（三錢）　明天麻（一錢）　忍冬藤（三錢）　功勞葉（二錢）</p>
<p>又，二診：腎臟精氣內奪，腦筋力量不贍，手麻足痠，起立舉步殊難自立，耳失聰而脹，聲音咽而澀，交睫汗泄見戢，張口言語唇向左喁，亦稍見瘥，鼻血已止，尿管乍痛，脈來弦澀。濕熱不攘乃發病之誘因也，仍當強腎益腦。再俟機宜。</p>
<p>連藤首烏（五錢）　金石斛（三錢）　潼沙苑（三錢）　左牡蠣（三錢）　蒸淮牛膝（三錢）　巨勝子（三錢）　炒黃柏（一錢）　炙龜板（五錢）　川厚杜仲（三錢）　炒杞子（二錢）　楮實子（二錢）　炙遠志（一錢）　十大功勞葉（三錢）　明天麻（一錢）</p>
<p>（案21）葉，童。燥為風搏，留於肺系，咳嗽一咳而連咳不已，是為頓咳，俗名百日咳也。面微浮，但咳劇亦令喉膜破碎，血從口鼻出者。且以輕宣潤降，舊有疳積，稍為兼顧。</p>
<p>炙桑皮（一錢）　炙兜鈴（一錢）　蒸百部（八分）　清炙草（八分）　泡射干（八分）　生苡仁（三錢）　佛耳草（一錢）　使君子肉（一錢五分）　光杏仁（三錢）　脆白前（一錢五分）　玉蘇子（一錢五分）　白茯苓（三錢）</p>
<p>（案22）姚，右。肝氣亢害，肝血失榮，腹脹時脹時愈，十餘日來氣上衝胸，迫動神經，屢經發厥，厥時手舉搐搦，心悸亢進，呃逆輒呵欠，脈弦滯。勢恐成癇難愈。</p>
<p>制磁石（三錢）　石菖蒲（八分）　炒白薇（三錢）　冬桑葉（二錢）　代赭石（二錢）　明天麻（一錢）　炒白芍（二錢）　炒丹皮（一錢五分）　白茯苓（三錢）　雙鉤藤（二錢）　白蒺藜（三錢）　炙遠志（一錢）　仙半夏（一錢五分）</p>
<p>又，二診：腦力安靜，肝亢較和，厥搐獲愈，心悸、呃逆，呵欠俱平，腹脹胸悶皆已舒適，脈濡緩。此時完好無恙，舒筋調榮可也。</p>
<p>法半夏　炒白芍　香白薇　炒丹皮　明天麻　白蒺藜　綠萼梅　茺蔚子　蒸歸身　金石斛　冬桑葉　白茯苓</p>
<p>（案23）金。嗜飲酒醴，喜吸香菸，足令陽強陰耗。陰陽之要，陽密乃固。陰虛於下，陽浮於上，上則下焦無力，陽益亢害不得其平矣。夫腎主精髓，腦為髓海，其充在骨，齒為骨余，兩足酸楚清冷，頭腦昏悶，牙宣晨劇，其病在腎，了無疑義。氣衝嗆逆，原屬腎氣上衝，胸脅背部脹痛，則由絡血隨氣逆行，其本在腎，其末在肺。急當安腎潛陽，使氣不逆，血下行則肺自寧矣。</p>
<p>淡秋石（一錢五分）　旱蓮草（三錢）　海蛤粉（三錢）　伽楠香（一分，研末沖）　炒牛膝（二錢）　炒丹皮（一錢五分）　扁石斛（三錢）　瓊玉膏（五錢，沖）　仙鶴草（三錢）　絲瓜絡（二錢）　炒藕節（三錢）　還元水（一杯，另飲）</p>
<p>又，二診：陰陽互為其根，故陰陽之要，陽密乃固。陽苟不密，陰氣安能獨守？腦者髓之海也，骨者髓之充也，齒者骨之餘也。陽但上冒，腎腦不安，是以頭腦昏悶，腦後則脹，前極齒縫衄血，兩足則清冷而酸，下虛，沖氣不納，致胸脅背部脹痛而有嗆逆。前擬納下引陽入陰，足清轉溫，牙宣稍住，病機有緩和向安之意，仍從原治。</p>
<p>淡秋石（一錢五分）　仙鶴草（二錢）　金石斛（三錢）　木槿花（一錢）　制磁石（二錢）　淮牛膝（二錢）　絲瓜絡（二錢）　夜合花（三錢）　血餘炭（八分）　旱蓮草（三錢）　白茯苓（三錢）　白龍骨（二錢）　瓊玉膏（四錢）　還元水（一杯，另飲）</p>
<p>又，三診：肝陽升舉，血又充盛於上，腦筋氣力轉感不安，頭眩背脹，不得安眠，咳痰且復見血，胸宇微覺不舒，足膝以下則涼，小便短少，頗有上盛下虛之象狀。治以清肝宣絡，使絡血下趨則安。</p>
<p>仙鶴草（二錢）　炒丹皮（一錢五分）　金石斛（三錢）　炒蒲黃（一錢五分）　淮牛膝（炒炭，一錢五分）　絲瓜絡（二錢）　香白薇（一錢五分）　夜合花（三錢）　抱木神（三錢）　大丹參（二錢）　煅石決明（四錢）　二竹茹（二錢）　西珀屑（四分，飯糊丸）</p>
<p>又，四診：營謀不利，又遭大故，志意不樂，精神痛苦，心血腦力交瘁，陽動少藏，頭眩畏煩，神思不定，夜眠不安，肉瞤筋惕，頭面及掌心炎熱，腰背痠痛，不食不飢，食亦不厭，脈濡滑而弦。此為精神衰弱之證，然左肢及偏左頭面自覺酸木，或稍有浮腫，是則厥中之萌，當怡悅靜養為宜。</p>
<p>左牡蠣（三錢）　金石斛（三錢）　夜交藤（四錢）　川續斷（二錢）　煅龍齒（三錢）　潼沙苑（三錢）　野料豆（三錢）　炒白芍（二錢）　煅決明（四錢）　抱木神（三錢）　女貞子（三錢）　大丹參（二錢）</p>
<p>又，五診（丸方）：陽升於上，上體血充絡滿，然過猶不及，故頭眩背脹體痛，不得安眠，牙宣亦由於是紛至沓來，面浮亦氣盛絡滿之過。仍以清肝宣絡，俾絡血下趨則安。</p>
<p>仙鶴草（一兩五錢）　炒丹皮（一兩五錢）　絲瓜絡（二兩）　煅決明（二兩）　淮牛膝（炒炭，一兩）　金石斛（二兩五錢）　大丹參（一兩五錢）　西珀屑（四錢）　抱木神（一兩五錢）　滁菊花（一兩）　藏紅花（三錢）　柏子霜（二兩）　旱蓮草（一兩五錢）　女貞子（一兩五錢）　炒竹茹（一兩五錢）　荷葉筋（一兩）</p>
<p>上藥研末，蜜水泛丸。每早晚以開水送下二三錢。</p>
<p>（案24）盧，右，三馬路。未二十日而經至，但澀少不多，往常愆期，或四五十日一轉，頭脹體酸精神疲，素喜提痧，右耳後及缺盆間有結腫，皆經隧血脈為病。痰多，咳不爽，惡風，則挾傷風也，脈濡弦。姑標本兼治。</p>
<p>夏枯草（三錢）　川貝母（一錢五分）　藏紅花（三分）　炒茜根（一錢一分）　冬桑葉（二錢）　澤蘭葉（三錢）　炙紫菀（一錢五分）　忍冬藤（三錢）　炒丹皮（一錢五分）　茺蔚子（二錢）　光杏仁（三錢）　月季花（二朵）</p>
<p>（案25）金，右。年老精氣衰，腎脈不榮舌絡，言語欲出忽蹇，呃逆，氣舒稍瘥，頭眩，腦後筋掣而痛，帶下頻，善恐，皆腎虛之象。脈弦澀，日來幾經傾跌，乃厥中先兆，是不可以不慎也。</p>
<p>煅牡蠣（三錢）　福橘絡（一錢）　炒淮膝（二錢）　煅決明（四錢）　炙遠志（一錢）　石菖蒲（六分）　金石斛（二錢）　甘菊花（一錢五分）　茯苓（三錢）　明天麻（一錢）　白蒺藜（三錢）</p>
<p>（案26）嚴，右。頭者，精明之府，諸陽之會。清陽郁遏失宣，天庭脹悶，非痛非眩，目系亦欠爽適，神疲欲眠，眠又不安，清晨稍瘥，午後較劇，清陽為濁陰所蔽也，久恐有腦漏之患。</p>
<p>法半夏（一錢五分）　苦丁茶（二錢）　香白芷（八分）　白蒺藜（三錢）　明天麻（一錢）　蔓荊子（一錢五分）　炒川芎（八分）　巨勝子（三錢）　茯苓（三錢）　荷葉筋（三錢）　蜜制藁本（六分）</p>
<p>（案27）夏，北京路。清陽失旋，陽難化氣，腹脹，身盡腫，皮膚厚，面黃暗晦，頭腦脹痛不清，大便溏，小溲赤，脈弦，此亦膚脹之屬。治以溫化，但不易治。</p>
<p>廣木香（八分）　木防己（二錢）　洗腹皮（二錢）　蘇梗（一錢五分）　縮砂仁（一錢）　厚朴花（一錢五分）　炒青皮（一錢）　細辛（二分）　川桂枝（一錢）　帶皮苓（五錢）　炒桑皮（一錢五分）　路路通（七枚）</p>
<p>（案28）陳，右，西門。導滯通腑，腑氣稍暢，滯下較愈，腹痛肛脹裡急見瘥，白積未除，寒熱已解，膩苔已化，惟食入腹仍脹痛。守原意出入。</p>
<p>制川樸（一錢五分）　檳榔（二錢）　新會皮（一錢五分）　炒麥芽（三錢）　炒枳殼（一錢五分）　佩蘭（三錢）　炒青皮（一錢五分）　炒楂餅（三錢）　廣木香（六分）　菖蒲（六分）　炒六曲（三錢）　荷葉蒂（一個）</p>
<p>（案29）胡，寧波路。肺絡破裂，肺葉久壞，痰濁穢惡，屢經清滌，迄難廓清，近日來又噴湧，咯血盈碗盈盤。血出自喉，即屬肺病，若以血多而稱胃血，臟腑且不明，遑論療治耶？幸脈靜息平，不然殆已。</p>
<p>仙鶴草（三錢）　炒蒲黃（一錢五分）　炒淮膝（二錢）　海蛤粉（三錢）　甜三七（八分）　大丹參（二錢）　白茯苓（三錢）　淡秋石（一錢五分）　絲瓜絡（三錢）　炒丹皮（一錢五分）　生苡仁（四錢）　山茶花（二朵）　藕節炭（四錢）　原來血隨數炒炭沖。</p>
<p>（案30）周，大東門。三月間寒熱之後，留邪不清，內居營衛，精氣暗奪，偏身顫振，如戰慄之狀，張口語言，面部筋脈亦掣動可見，脈濡弦，神疲，舌後半截黃積，苔中露有絳點。當養心脾，調營衛，但恐不易有效。</p>
<p>夜交藤（三錢）　當歸（全，二錢）　白茯苓（三錢）　生苡仁（三錢）　川桂枝（六分）　甘菊花（一錢五分）　白蒺藜（三錢）　炒丹皮（一錢五分）　炒白芍（一錢五分）　橘紅衣（一錢）　法半夏（一錢五分）　川石斛（二錢）</p>
<p>（案31）李，右。濕熱內阻氣分，並注血中，肌膚髮瘰，搔癢流水，水出後則皮漸麩而蛻，髮際內亦癢，頭眩，腹脹悶，尿燙，大便瀉利則適，脈弦而澀。利其氣，清其血，滲泄其濕熱。</p>
<p>地膚子（三錢）　蒺藜（三錢）　夏枯草（三錢）　澤蘭（三錢）　忍冬藤（三錢）　赤苓（三錢）　蒼耳子（一錢五分）　赤豆（四錢）　紫地丁（三錢）　蟬蛻（八分）　川萆薢（三錢）　冬瓜皮（三錢）</p>
<p>（案32）黃，右。面容肌膚痿黃，毫無津澤，小溲陰道脹痛，夜寐不安，腰痠，頭眩耳鳴，帶下頻仍，乍寒乍熱，脈弦澀，舌光無苔。奇脈既傷，血質貧乏，而肝氣又盛，殊難調治，且恐有崩漏之患。</p>
<p>夜交藤（三錢）　川續斷（二錢）　炒條芩（一錢二分）　炙龜板（四錢）　白茯苓（三錢）　香青蒿（二錢）　白蒺藜（三錢）　炙遠志（一錢）　大丹參（二錢）　香白薇（二錢）　紫貝齒（煅，三錢）　夜合花（三錢）</p>
<p>（案33）李，右。血質淡薄，肌膚面色㿠白，舊歲產後又失調養，經來遲而白多，帶下亦頻，然血虛火又盛，偏頭痛，左耳後筋掣不舒。近日口腔內有瘡，稍有咳嗽，則氣候上失和之過，脈弱弦微數。養榮補血，稍佐清宣。</p>
<p>炒杞子（二錢）　潼沙苑（三錢）　蒸歸身（一錢五分）　炙紫菀（一錢五分）　甘菊花（一錢五分）　大丹參（二錢）　炒白芍（一錢五分）　紅月季（三朵）　金石斛（二錢）　茯苓（三錢）　夏枯草（三錢）</p>
<p>（案34）馮，右。沖為血海，女子系胞即繫於此。流產胞脈暗傷，體質虛弱，以致虛不肯復，宗脈失養，累及腦海，頭眩耳鳴腰疼，體疲，帶下頻仍，或胸背交痛，或胸膈氣悶，呼吸亦感不舒，脈濡弦澀。見症似嫌複雜，奇恆為病則一，若求速效，亦不可能也。</p>
<p>煅貝齒（三錢）　潼沙苑（三錢）　煅牡蠣（三錢）　炙遠志（一錢）　炙龜板（六錢）　川續斷（二錢）　南燭子（三錢）　阿膠珠（三錢）　煅決明（四錢）　金石斛（二錢）　女貞子（三錢）　煅龍齒（三錢）</p>
<p>（案35）何，右。腸胃交通滯塞，食入翻出，嘔惡酸苦痰涎，大便十餘日不下，形瘦容悴，脈弦澀。腸枯胃逆，格症是慮。</p>
<p>薤白頭（二錢）　枳實皮（一錢五分）　玉蘇子（二錢）　蜣螂蟲（一錢）　全瓜蔞（三錢）　光桃仁（一錢五分）　炒元胡（一錢五分）　沉香曲（一錢五分）　法半夏（一錢五分）　新紅花（八分）　旋覆花（二錢）　牛乳（一杯，沖）　韭汁（兩匙，沖）</p>
<p>（案36）黃，姑。經停半載，大便溏泄，有時雖瀉而不爽，形瘦納減，晡熱骨蒸，咳嗆氣急，左臥欠逸，面暗跗浮，脈細弦數。勞瘵血枯，難以圖治。</p>
<p>香青蒿（二錢）　炒白芍（二錢）　金石斛（二錢）　紫菀（一錢五分）　炒白薇（二錢）　淡鱉甲（三錢）　冬蟲草（一錢）　款冬（一錢五分）　地骨皮（二錢）　白茯苓（三錢）　制禹糧（三錢）</p>
<p>（案37）盛，右。衝脈起於關元。關元者，精神之所舍，元氣之所繫，女子系胞即為命門。六七而天癸就竭，不當竭而竭，是謂不及，不及則排泄亦不力，濕熱得流布脈絡中矣。足肢流火，肌膚風瘣，或發於耳後頸項間，面赤汗泄，莫不由此。然命門之精氣日益不振，納食寡味，脹而難化，近則且有五更晨泄之患，病機日長，元氣日消矣，可忽耶！</p>
<p>生於術（二錢）　煨肉果（一錢五分）　海桐皮（三錢）　御米殼（一錢五分）　白茯苓（三錢）　泡吳萸（八分）　巴戟天（一錢五分）　沉香曲（一錢五分）　制禹糧（三錢）　炙防風（一錢）　白蒺藜（三錢）</p>
<p>（案38）趙先生。腎臟有翕有闢，亦靜亦動。精為腎之體，體主靜主翕，故以蟄護封藏為本；尿為腎之用，用主動主闢，故又瀉而不居。腎臟有傷，精氣滑泄，有闢無翕，有動無靜，精氣虛乏，榮衛循行遂愆常度矣。肢清惡寒，然後身熱而發無定時，脈濡弦，小溲晝少夜頻。治宜固其精氣，諧和榮衛。</p>
<p>夜交藤（四錢）　淮黃耆（三錢）　炒白芍（二錢）　生於術（一錢五分）　甘杞子（二錢）　橘紅衣（一錢）　蒸當歸（三錢）　白茯苓（三錢）　煅牡蠣（三錢）　川桂枝（一錢）　法半夏（二錢）　益智仁（一錢）</p>
<p>（案39）康，七浦路。脘痛，休止半晌又痛，鳴則少瘥，午後較劇，或徹於背，則如錐刺，脈弦澀。氣滯血瘀，痛深及於絡矣，以蠲痛通絡。</p>
<p>娑羅子（二錢）　佛手柑（一錢二分）　九香蟲（一錢五分）　臺烏藥（一錢五分）　炒元胡（一錢五分）　炒蒲黃（一錢五分）　炒川芎（一錢）　泡吳萸（六分）　澤蘭（二錢）　炒青皮（一錢五分）　五靈脂（炒，去砂石，一錢五分）</p>
<p>（案40）汪。陰傷液燥，太陰不收，肺氣焦滿，咳嗆痰稠，右臥欠逸，行動即覺氣急，形瘦皮毛焦，掌中熱，鼻竅時見衄血，脈濡細弦數。誠恐肺癆葉焦，仍以清肅潤降之劑。</p>
<p>海蛤粉（三錢）　冬瓜子（五錢）　川貝母（一錢五分）　炙紫菀（一錢五分）　金石斛（二錢）　南沙參（三錢）　肥知母（一錢五分）　炙款冬（一錢五分）　生苡仁（四錢）　野料豆（三錢）　兜鈴（一錢五分）　絲瓜絡（二錢）　瓊玉膏（四錢，沖）</p>
<p>（案41）余太君。乘車傾跌，腦筋震動，有迸裂之勢，心搖善恐，甚則四肢瘛，口向左喎，頭有微汗，如痙厥之狀，雖較中為輕，然語言欲出忽蹇，與中相去僅一間耳。小溲數，帶下頻，皆年老精氣衰之故，但胸中氣悶，喜太息，咯痰灰黑，口苦，苔膩，脈濡弦，稍有鬱悶，而厥即隨之。蓋氣機失舒，痰阻於絡，內風即乘隙而動，腦筋氣就激烈而弗安也。茲擬榮絡熄風豁痰，緩和神經。</p>
<p>煅牡蠣（三錢）　明天麻（一錢二分）　白茯苓（三錢）　旋覆花（一錢五分）　煅龍齒（三錢）　雙鉤鉤（三錢）　石菖蒲（六分）　法半夏（一錢五分）　炙遠志（一錢二分）　白蒺藜（三錢）　三角胡麻（三錢）　益智仁（八分）　甘菊花（二錢）　竹瀝（一兩，沖）</p>
<p>（案42）康，寶山路。腸胃幽門之間淤塞不通，食再則吐，咽入一甌且嘔，綿延甚多，便秘枯結，肌肉消瘦，膚起鱗屑，按少腹結腸如壘塊，脈細弦澀，年逾六旬，胃脘枯槁。雖有智者能言之，未必能行耳。</p>
<p>吉林參（五分）　山豆根（一錢五分）　旋覆花（二錢）　橘紅衣（一錢）　法半夏（二錢）　油當歸（三錢）　真降香（八分）　粟米（一勺）　川白蜜（後入，煎湯數沸，二錢）　沉香屑（水磨沖，四小匙）　鮮牛乳（一小杯）　韭菜汁（兩小匙）</p>
<p>（案43）錢，右，常州。陽氣者，若天與日，故陽者衛外而為固也，清靜則肉腠閉拒，雖有大風苛毒，莫之能害。清陽不振，衛氣空疏，頭脹形寒畏風，鼻多清涕，動輒汗泄，耳輪畏風尤甚，感受清冷即欲作嘔，飲食下咽即欲大便，皆陽之無力升舉也，腹脹則陽微陰盛之過，脈細濡緩。治以固衛和陽。</p>
<p>淮黃耆（三錢）　川桂枝（一錢）　法半夏（一錢五分）　蔓荊子（一錢五分）　炙防風（一錢）　炒白芍（一錢五分）　茯苓（三錢）　縮砂仁（一錢）　生於術（一錢五分）　益智仁（一錢）　橘紅衣（一錢）　天仙藤（一錢五分）</p>
<p>（案44）任，姑，高昌廟。生未足月嬰時即瀉，後天脾胃不振。現當任脈通、太衝脈盛之年，而乾癟不長，無發育氣概，牙宣便溏，藥餌難治。</p>
<p>炒於術（一錢五分）　肉果霜（一錢）　蒲公英（三錢）　使君子肉（一錢五分）　炒枳殼（一錢五分）　炒白芍（二錢）　炒夏曲（三錢）　炒南瓜子（四錢）　制禹糧（三錢）　炙雞金（二錢）　佩蘭葉（三錢）　石榴根皮（六分）</p>
<p>（案45）盧，右，三馬路。外因傷風已解，咳痰霍然，頭腦較清。經水適來，但澀少不暢，左脅間昨閃爍而痛，左手後及缺盆結核未消，脈弦。再以疏肝舒氣。</p>
<p>夏枯草（三錢）　忍冬藤（三錢）　炒橘核（一錢五分）　煅決明（四錢）　冬桑葉（二錢）　澤蘭葉（三錢）　光杏仁（三錢）　象貝母（二錢）　炒丹皮（一錢五分）　藏紅花（三分）　炙龜板（五錢）　紅月季（二朵）</p>
<p>（案46）丁，石路。腎臟內虧，作強弗強，排泄不力，濕熱淫氣得乘隙附骨，腰俞脊膂疼痛，下徹尾骶，偏左腿胯間亦痛，行動不便，轉側困難，左甚於右。海濱地卑，濕熱蒸潮而坐，濕傷腎，出乎《難經》之旨，腎傷惡濕而莫之能御，似不若遷善為良耳。</p>
<p>炒淮膝（二錢）　白蒺藜（三錢）　鹿銜草（二錢）　大豆卷（三錢）　炒川柏（一錢二分）　川續斷（二錢）　宣木瓜（一錢）　西秦艽（一錢五分）　川萆薢（三錢）　制黃精（三錢）　骨碎補（一錢五分）　功勞葉（二錢）　真虎骨（一錢，炙，銼，研末，沖）</p>
<p>（案47）方，右，霞飛路。肝膽火熱下移任脈，帶頻色黃，少腹脹，兩旁作酸，脈弦澀。久恐聚而為瘕。《內經》云：「任脈為病，女子帶下瘕聚。」宜先事消弭也。</p>
<p>炙龜板（六錢）　白蒺藜（三錢）　茺蔚子（三錢）　烏賊骨（三錢）　煅決明（四錢）　川續斷（二錢）　炒條芩（一錢二分）　白雞冠花（一錢）　炒白芍（二錢）　白茯苓（三錢）　椿根皮（三錢）　銀杏肉（六枚，炒，去殼）</p>
<p>（案48）施，新開河。肺為嬌嫩，水之上源。因膹鬱而肺絡迸裂，血乃外溢，血後肺燥，陰不上承，咳嗽不休，晶沫中帶有血星、血筋。近復骨蒸盜汗，聲音嘶敗，脈細弦數，有水竭金枯之慮。惟肺系聲音之路，苟陰精不復，液難榮溉，喉痛聲嘶不瘥，即難療治。</p>
<p>海蛤粉（四錢）　南沙參（三錢）　生地黃（四錢）　甜百合（三錢）　金石斛（三錢）　黑元參（二錢）　白石英（三錢）　阿膠珠（三錢）　百藥煎（二錢）　炙甘草（一錢二分）　淡天冬（二錢）　干葦莖（三錢）</p>
<p>（案49）陳，三馬路。向嗜曲糵，內濕自盛，與外濕相感，未嘗宣泄分消，寒熱延纏已將四月，榮衛循行失常，頭眩體酸，或有盜汗，咳嗽不甚，肌肉漸瘦，脈弦右搏，舌苔黃膩。榮衛皆水穀之氣，水穀釀濕，濕盛榮衛自衰矣。先以和榮衛，止寒熱，徐圖理濕。</p>
<p>川桂枝（一錢）　淮黃耆（二錢）　法半夏（一錢五分）　西秦艽（一錢五分）　炒白芍（一錢五分）　炙防風（八分）　白茯苓（三錢）　香青蒿（三錢）　夜交藤（三錢）　蒸於術（一錢五分）　炒骨皮（二錢）　光杏仁（三錢）</p>
<p>（案50）姚。風邪由肺俞內舍於肺，失治，邪入益深，肺氣益傷，咳嗽氣逆喘急，左胠內痛，僅能右眠，身熱痰腥，稍有浮腫，脈濡弦，肺葉行將敗壞，亦頗難治。</p>
<p>炙桑皮（一錢五分）　絲瓜子（三錢）　射干（一錢）　炙兜鈴（一錢五分）　地骨皮（三錢）　甜葶藶（一錢）　紫菀（一錢五分）　光杏仁（三錢）　生苡仁（三錢）　煅鵝管石（一錢）　茯苓（三錢）</p>
<p>（案51）黃，右，吉祥街。形色稍起，略有生氣，但損者非一日而損也，虛極豈能驟復？寒熱，寢汗，咳嗽，不過較前稍減，脈濡弦。再以養榮固衛。</p>
<p>淮黃耆（二錢）　甘杞子（二錢）　青蒿（一錢五分）　御米殼（一錢五分）　炒白芍（二錢）　煅牡蠣（三錢）　白薇（一錢五分）　淮小麥（三錢）　金石斛（二錢）　白茯苓（三錢）　鱉甲（三錢）　大紅棗（三枚）</p>
<p>又，二診：勞瘵而至形瘦肉脫，氣力虛乏，納少便溏，生氣索然，草木湯液亦難為力矣，神疲不振，有難起於床之勢。雖擬一方，聊盡人事而已。</p>
<p>北沙參（三錢）　金石斛（二錢）　炒白芍（二錢）　生穀芽（五錢）　淮山藥（二錢）　生苡仁（三錢）　冬蟲草（一錢）　大紅棗（三枚）　茯苓（三錢）　煅牡蠣（三錢）　御米殼（一錢五分）</p>
<p>（案52）康，寶山路。昨進大半夏湯，嘔逆雖止，大便未行，時作噫噯。幽門為腸胃交通之關鍵，幽門淤塞，胃逆失降，嘔止而便仍秘，腑氣不通，倒行逆施，在所難免。守原意出入之。</p>
<p>吉林參（五分）　油當歸（三錢）　山豆根（一錢五分）　旋覆花（二錢）　法半夏（二錢）　光桃仁（一錢五分）　刀豆殼（二錢）　真絳香（八分）　川白蜜（後入，三錢）　新紅花（六分）　橘紅衣（一錢）　沉香汁（四小匙）　粟米（一勺）</p>
<p>（案53）趙先生。榮衛偕和，寒熱自輟，惟腎臟精氣之虛由來已久，攝納不固，則小溲夜頻，運化無力，則生痰釀濕，脈弦滑。擬強腎運脾。</p>
<p>夜交藤（四錢）　川杜仲（三錢）　炒白芍（量缺）　覆盆子（三錢）　炒杞子（二錢）　淮黃耆（三錢）　益智仁（量缺）　潼沙苑（三錢）　淡蓯蓉（二錢）　生於術（一錢五分）　煅牡蠣（三錢）</p>
<p>（案54）李，右。睫毛墮落，內眥多淚，瞼皮發炎，舌苔薄，左邊苔皮亦蛻如剝，頭微眩，大便素溏，近年來已轉實，但欲解不暢。年屆六旬，脈來濡靜柔和，見證屬肝旺胃薄。納食欲噯，亦胃虛作噯。愚見怡悅頤養為要，草木湯液不宜多服。</p>
<p>金石斛（二錢）　北沙參（三錢）　廣皮白（一錢）　代代花（七朵）　炒白芍（二錢）　淮山藥（二錢）　穀精草（三錢）　白茯苓（三錢）　白蒺藜（三錢）　甘菊花（一錢五分）　夏枯草（三錢）</p>
<p>附識：師云：此係內皮發炎之病，由於肝旺所生，便溏亦因此也。</p>
<p>（案55）馬，後馬路。性躁而量窄，有難言之隱，膈氣不舒，清陽失旋，發為厥心痛，痛發倏忽面頰呈青色，肢清背脹，不痛則無恙，脈弦。從厥心痛治。</p>
<p>薤白頭（二錢）　石菖蒲（八分）　五靈脂（炒去砂石，一錢五分）　炙獺肝（研，沖，八分）　全瓜蔞（三錢）　娑羅子（二錢）　煅瓦楞（三錢）　木蝴蝶（四分）　法半夏（一錢五分）　炒元胡（一錢五分）　炒川芎（八分）</p>
<p>（案56）吳，童，歙縣。先天不足，髓薄骨軟，傾跌閃肭，左髀血，齟齬，立則斜，倚、行則蹊蹺，然非扶持不能立，手肢不可以舉。以大劑強腎補髓，緣督以為經。</p>
<p>淡蓯蓉（三錢）　菟絲餅（三錢）　鹿角霜（一錢五分）　川萆薢（三錢）　川杜仲（三錢）　潼沙苑（三錢）　虎脛骨（炙，銼，研末沖，八分）　蒸淮膝（三錢）　楮實子（三錢）　金毛脊（二錢）　骨碎補（一錢五分）　功勞葉（一錢五分）　豬脊髓（三寸去膜，煅，龍骨為末為丸吞）</p>
<p>（案57）郁，蘇州。鼻為肺竅，喉即肺系。喉嚨者，聲音之路；懸壅者，聲音之機。肺氣失宣，喉嚨鼻齶之間未能爽適，吸氣喉息有聲如鼾，語音不揚，時欲⿰石能𣩄，甚則欲嘔，非咯出痰，聲亦不出，此亦齁䶎之屬。因其輕而揚之可也。</p>
<p>麻黃根（三分）　炙兜鈴（一錢二分）　木蝴蝶（四分）　枇杷葉（三錢）　泡射干（一錢）　玉桔梗（一錢）　瓜蔞皮（三錢）　干葦莖（三錢）　炙桑皮（一錢二分）　甘草（一錢）　生苡仁（四錢）</p>
<p>（案58）杜，右，太平里。經事將至未至，以前少腹繃脹而痛，經淨以後，帶下有紅黃惡物，腹中氣忽上忽下不舒，夜臥足肢平放則難過，莫可鳴狀，脈弦澀。隱疾之徵兆已見，宜慎毋忽！</p>
<p>澤蘭葉（三錢）　炒丹皮（一錢五分）　劉寄奴（一錢五分）　絡石藤（三錢）　全當歸（二錢）　炒條芩（一錢二分）　炒卷柏（一錢五分）　炒茜草（一錢二分）　炒白芍（二錢）　煅貝齒（三錢）　茺蔚子（二錢）　烏賊骨（三錢）　紅白雞冠花（各—錢）</p>
<p>（案59）顧，南海。濕蘊氣中，清濁混亂，腹膨脹痛，腸中鳴，大便瀉，小溲少，食難運化，面色蒼黃，脈弦，苔黃膩，宿染雅癖，豈宜久瀉？今延纏已兩月久，則防脾敗。</p>
<p>川桂枝（一錢）　縮砂仁（一錢）　炙防風（一錢）　炒夏曲（三錢）　赤茯苓（三錢）　厚朴花（一錢五分）　洗腹皮（二錢）　佩蘭葉（三錢）　炒於術（一錢）　炒枳殼（一錢五分）　陳廣皮（一錢五分）　白蔻殼（八分）</p>
<p>（案60）榮，山海關路。思慮太過，志意不樂，脾元大傷，初起寒熱多汗，延日既久，脾神益加委頓，氣機不為靈轉，腹膨脹，面浮跗腫，面容肌膚痿黃不澤，脈濡緩而弦。脾運困憊，脹勢乃成，幸毋忽也！</p>
<p>炒於術（一錢二分）　益智仁（一錢）　炙雞金（二錢）　洗腹皮（二錢）　炒枳殼（一錢二分）　帶皮苓（五錢）　炙蟾皮（一錢）　沉香曲（一錢五分）　厚朴花（一錢五分）　佩蘭（三錢）　廣木香（八分）</p>
<p>（案61）胡，法工部局。稟賦豐厚，色蒼而肉腠緻密的是強盛之體，但豐腴腸胃脂肪必厚，痰濕亦盛，痰濁盛，胃氣苦濁，是以晨起口苦，膩而不清，乘熱飲食，往往腹痛溏泄。然神勞事煩，腦力多動少靜，清空之血下趨滯澀，腦常脹痛，亦晨起較甚者，因臥著血聚於上也。脈弦搏，形色脈候均無虛象。茲擬泄胃氣之膩濁，清腦筋之血液。</p>
<p>法半夏（一錢五分）　佩蘭葉（三錢）　夏枯草（三錢）　白蒺藜（三錢）　全瓜蔞（三錢）　白茯苓（三錢）　冬桑葉（二錢）　金石斛（二錢）　炒枳殼（一錢五分）　橘紅衣（一錢）　炒丹皮（一錢五分）　荷葉筋（三錢）</p>
<p>（案62）葉，童，辣斐德路。頓咳見愈，面浮亦退，較有津澤，惟宿有疳疾，能食善飢。再以健脾兼肅肺氣。</p>
<p>橘紅衣（八分）　蒸百部（八分）　玉蘇子（一錢五分）　炒穀芽（四錢）　白茯苓（三錢）　生苡仁（三錢）　炙紫菀（一錢）　南瓜子（三錢）　光杏仁（三錢）　蒲公英（二錢）　佛耳草（一錢五分）　使君子（一錢五分）</p>
<p>（案63）姚，虹口。腎主骨髓，主五液，開竅於耳，循喉嚨，系舌本，又開竅於二陰。耳脹失聰較差，舉動扶掖亦稍較便，惟機關仍未能受精力驅使，小溲尿管作痛，語聲低咽而欠清利，濕熱阻遏，發病誘因是實，則精氣腎臟之損耳。濕熱易祛，腎損難治。</p>
<p>連藤首烏（五錢）　潼沙苑（三錢）　楮實子（三錢）　川杜仲（三錢）　蒸淮牛膝（二錢）　炒川柏（一錢二分）　炒杞子（二錢）　川續斷（二錢）　金釵石斛（三錢）　甘草梢（一錢五分）　炙龜板（五錢）　功勞葉（二錢）　真虎骨（一錢，炙，銼研細末沖）</p>
<p>（案64）陳，姑，辣斐德路。紅痧後留毒慝，肺氣化失輸，頭面肢體盡腫，鼻中涕血雖弭，仍有咳嗽，倘加喘閉，則肺脹難治矣。</p>
<p>炙桑皮（一錢二分）　炒牛蒡子（一錢五分）　川方通（八分）　炒葶藶（八分）　帶皮苓（五錢）　光杏仁（三錢）　生苡仁（三錢）　紫浮萍（二錢）　炙兜鈴（一錢二分）　橘紅衣（一錢）　木防己（一錢五分）　陳赤豆（四錢）　路路通（六枚）</p>
<p>（案65）伍，宣城。兩脅皆屬於肝，氣行於左，而臟實居右。脅內痛，牽及季脅以後，不惟轉側維艱，且又難臥下，右臂肩髃作酸，小溲赤，極艱澀難解，脈弦澀。肝臟氣滯血瘀，防釀肝癰。</p>
<p>法半夏（一錢五分）　澤蘭葉（三錢）　旋覆花（二錢）　藏紅花（三分）　川黃連（四分）　炒元胡（一錢五分）　炒青皮（一錢五分）　炒丹皮（一錢五分）　炒條芩（一錢）　煨金鈴（一錢五分）　煅瓦楞（三錢）　蒲公英（三錢）　炙獺肝（八分，研末沖）</p>
<p>（案66）李，蘇州。肢體舉動已較輕便，臥亦可以轉側，晦暗之色亦見清爽，惟脊骨漸覺彎弓曲突者，恐難使直也，然骨痹有向愈希望，亦幸事耳。</p>
<p>炙龜板（六錢）　炒淮膝（二錢）　炒川柏（一錢二分）　海桐皮（三錢）　煅石決（四錢）　白蒺藜（三錢）　川萆薢（三錢）　海風藤（二錢）　仙遺糧（五錢）　制黃精（三錢）　淡蓯蓉（二錢）　白茄根（三錢）　十大功勞葉（三錢）　飛辰砂（二分）　真虎骨（一錢，炙銼，研末沖）</p>
<p>（案67）余太君。風陽就和，腦力安靜，瘛瘲痙厥向瘳，胸宇已舒，面容清爽，舌苔亦薄，惟偏左頭筋時仍扛起，木而不適，或作噫噯，脈搏已調，大便頗逸。仍以清絡柔肝安腦。</p>
<p>煅牡蠣（三錢）　煅貝齒（三錢）　白茯苓（三錢）　明天麻（一錢）　煅石決（三錢）　金石斛（二錢）　炙遠志（一錢）　炒白芍（二錢）　煅龍齒（三錢）　白蒺藜（三錢）　法半夏（一錢五分）　綠萼梅（八分）　夏枯草（三錢）　代代花（七朵）</p>
<p>（案68）余，右，源泰里。嗜飲成癖，曾患水腫，病根未除，癖又難去，心悸盪漾，脘中氣結若痞，肢清足腫，脈沉細而弦。以溫藥和之。</p>
<p>川桂枝（一錢）　佩蘭（三錢）　雞距子（三錢）　縮砂仁（一錢）　白茯苓（三錢）　法夏（一錢五分）　西茵陳（一錢五分）　沉香曲（一錢五分）　炒於術（一錢）　新會皮（一錢五分）　宣木瓜（一錢）</p>
<p>（案69）伍，宣城。肝著，氣滯血瘀，右脅內痛，牽及季脅以後，淋溲便難，臥下轉側維艱，日昨食物有傷，痛則欲嘔，脈弦。病勢已深，治療甚難，若不自慎，蓋難圖矣。</p>
<p>炒元胡（一錢五分）　炒川芎（一錢）　澤蘭葉（三錢）　蒲公英（三錢）　川楝子（一錢五分）　藏紅花（三分）　娑羅子（二錢）　法半夏（一錢五分）　炒青皮（一錢五分）　佛手柑（一錢）　旋覆花（二錢）　白茯苓（三錢）　伽楠香（研沖，一分）　炙獺肝（八分）</p>
<p>附識：師云：此病更劇，恐上吐瘀血，下便漆渣，即難治矣。</p>
<p>（案70）崔，新開河。痰濕俱盛，元陽不振，腹脹尿急，宗筋不舉，頭眩，記憶善忘，交睫善寐，寐則多夢，脈濡滑，按之無力。宜扶元陽以祛痰濕。</p>
<p>巴戟天（二錢）　沉香曲（一錢五分）　新會皮（一錢五分）　白茯苓（三錢）　炙遠志（一錢）　淡蓯蓉（二錢）　生於術（一錢五分）　法半夏（一錢五分）　鎖陽（二錢）　益智仁（一錢）</p>
<p>（案71）陳，右，南成都路。經事四月餘不轉，胞脈為閉，經隧之血將化為水，足肢浮腫，至晚而甚，當以通泄，延久輸化不行，勢必礙肺，又有喘閉之患矣。</p>
<p>川桂枝（一錢）　炒丹皮（一錢五分）　光杏仁（三錢）　乾地龍（二錢）　白茯苓（四錢）　炙桑皮（一錢五分）　新紅花（八分）　陳葫蘆（三錢）　川牛膝（二錢）　甜葶藶（八分）　澤蘭葉（三錢）　路路通（八枚）</p>
<p>（案72）鮑君。面浮跗腫，心悸亢進，咳痰黏膩難出，氣化阻而不行，血液渾濁不清，為病在心肺，其本在腎也。宣化分消，緩圖有效，但仍宜慎攝，倘見喘閉，則肺脹難治矣。</p>
<p>川桂枝（一錢）　炒葶藶（一錢）　野茯皮（五錢）　川樸花（一錢五分）　木防己（二錢）　海蛤粉（三錢）　炒桑皮（一錢五分）　化橘紅（一錢）　炒椒目（八分）　地膚子（三錢）　光杏仁（三錢）　陳葫蘆（三錢）　瞿麥（三錢）　路路通（八枚）</p>
<p>（案73）陳，國慶路。咳嗽起經八年，近日咳嗽痰多，左胸脅引痛，始覺左胸膛骨高腫，重吸及咳痛甚，按其熱殊熾，僅能右眠，脈弦數，左搏於右，病在肺體著骨之處，防疽患。</p>
<p>海蛤粉（三錢）　炙射干（一錢二分）　炒丹皮（一錢五分）　茯苓（三錢）　鵝管石（一錢）　炙桑皮（一錢五分）　炙兜鈴（一錢五分）　紫菀（一錢五分）　炒葶藶（一錢）　地骨皮（二錢）　生苡仁（五錢）　銀杏（炒去殼，六枚）</p>
<p>（案74）毛，右，白克路。腸胃屬腑，腑者，通也，其氣以下行通降為順。通便而服藥灌腸，非腑氣之自然，是以環臍少腹脹痛，有壘塊隆起如癖，氣泄則愈。脘痛胸悶，前曾作嘔，腸腑失降，胃氣亦逆也。夜臥不安，亦胃氣不和。側臥痰鳴有聲，系肺臟有痰，分泌不清。治以舒腸和胃為主，參以肅靜豁痰可耳。</p>
<p>金石斛（二錢）　光桃仁（一錢五分）　茯苓（三錢）　海蛤粉（三錢）　全當歸（三錢）　新紅花（八分）　佩蘭（一錢五分）　旋覆花（二錢）　橘紅衣（一錢）　光杏仁（三錢）　佛手（一錢）　沉香曲（一錢五分）</p>
<p>（案75）余，遂安。精敗為濁，纏綿已久，小溲頻數，注射無力，精耗於下，骨少髓養，陰中之火浮泛於上矣。左齒髓痛，牽及腦筋，目微赤，背脹，咳痰偶爾帶紅，左跗腫，右髀麻，脈弦而澀。病皆出於一源，從肝腎治。</p>
<p>仙鶴草（三錢）　金石斛（三錢）　淮牛膝炭（二錢）　蘇芡實（三錢）　大丹參（二錢）　炒丹皮（一錢五分）　炙龜板（五錢）　野料豆（三錢）　抱木神（三錢）　絲瓜絡（二錢）　煅決明（四錢）　局新絳（一錢）　十大功勞葉（三錢）</p>
<p>（案76）吳，小東門。腎傷精耗，相火虛陽欲潛藏固密而不可得，陽根興舉，不得安眠，腰痠耳鳴頭眩，小溲頻數，泄氣亦多，或有遺泄。更以堅腎強陰，用寧龍相。</p>
<p>熟地炭（五錢）　潼沙苑（三錢）　煅牡蠣（三錢）　淮山藥（三錢）　山萸肉（二錢）　桑螵蛸（二錢）　炙龜板（六錢）　蘇芡實（三錢）　菟絲餅（三錢）　白龍骨（三錢）　甜桔梗（一錢）　金櫻子（三錢）　炒川柏（一錢）　冰片（五釐）</p>
<p>研末，爛飯為丸吞。</p>
<p>（案77）吳，福右路。外感穢濕，內傷食滯，內外相搏，胃氣失降，膽汁壅遏，脘中痞悶而脹，頭腦不清，面目肌膚髮黃，小溲亦黃，但黃暗而不深，脈弦。以通降腑氣可也。</p>
<p>法半夏（一錢五分）　淡乾薑（四分）　川黃連（四分，與乾薑同炒）　佩蘭（三錢）　枳殼（一錢五分）　樸花（一錢五分）　左秦艽（一錢五分）　蒲公英（三錢）　炒六曲（三錢）　白蘚皮（二錢）　白茯苓（三錢）　白蔻殼（六分）　西茵陳（二錢）</p>
<p>（案78）鄭君，棋盤街。濕為重濁陰邪，濕踞於中，清陽不振，清氣在下則瀉，濁氣在上則脹。清陽實四肢，濁陰歸六府，陽不勝其陰，故肢清且麻，腹鳴濯濯矣。頭眩亦清陽不升，少寐由胃氣不和。脈弦，苔黃膩。升清陽以祛濁陰可也。</p>
<p>白茯苓（三錢）　淡乾薑（八分）　炒於術（二錢）　川桂枝（一錢五分）　法半夏（二錢）　制川樸（一錢五分）　佛手柑（一錢五分）　炒六曲（四錢）　炙防風（一錢五分）　廣木香（八分）</p>
<p>（案79）胡，拋球場。前患黃疸，肝失疏泄，脾運不為靈轉，膽汁瘀滯，結成窠囊，腹右膨脹，悶塞不舒，欲噯弗暢，面目肌膚小溲俱黃，脈沉弦。病根深久，疏達肝脾，冀其少瘥而已。</p>
<p>厚朴花（一錢五分）　法半夏（一錢五分）　秦艽（一錢五分）　蒲公英（三錢）　炒枳殼（一錢五分）　淡乾薑（六分）　佩蘭（一錢五分）　白芥子（八錢）　旋覆花（二錢）　白茯苓（三錢）　佛手（一錢）　沉香曲（一錢五分）　炒青皮（一錢）</p>
<p>（案80）周，南市。腹脹痛繃急，食難運化，肌瘦，大便溏，脈弦而搏，咳嗽，少寐多汗，時有寒熱，肺勞腸勞萃於一身，豈易治耶？非但女勞宜戒，飲食亦當有節也。</p>
<p>香青蒿（三錢）　紫菀（一錢五分）　炙雞金（二錢）　使君子肉（一錢五分）　生苡仁（三錢）　百部（一錢）　炒白芍（二錢）　陳大麥（三錢）　白茯苓（三錢）　紅花（八分）　煨金鈴（一錢五分）　南瓜子（三錢）　石榴根皮（六分）</p>
<p>（案81）吳，崇德。腎臟氣力微弱，飲食入胃，以傳於肺，水穀精微即釀為痰，痰壅於上，肺苦氣逆而為咳嗽氣急矣。氣候寒冷較甚者，肺為呼吸器官，惡寒又腎命氣怯無力禦寒也。脈濡滑而弦。從肺腎一炁論治，但以納腎為主，防喘促於未然。</p>
<p>蒸於術（一錢五分）　法半夏（一錢五分）　炙遠志（一錢）　巴戟天（一錢五分）　冬蟲草（一錢二分）　炒淮膝（二錢）　補骨脂（鹽水炒，一錢五分）　御米殼（一錢五分）　茯苓（三錢）　益智仁（八分）　賴橘紅（八分）</p>
<p>（案82）潘，愛多亞路。脈來弦搏剛勁，左寸滑而濡，右尤粗大，心悸不得臥，咳出之物非血非痰，有如肺體，心肺之傷久矣。惟近來益甚，氣逆不舒，少腹作痛，面黃暗不澤，舌黃白而膩，腸胃又連帶為病，難以圖治。</p>
<p>法半夏（一錢五分）　絲瓜絡（帶子，三錢）　炙遠志（一錢）　光杏仁（三錢）　生苡仁（三錢）　旋覆花（一錢五分）　賴橘紅（一錢）　御米殼（一錢五分）　白茯苓（三錢）　預知子（三錢）　伽楠香（一分，銼研細末，沖）</p>
<p>（案83）崔，右，小西門。產後失調，肝脾疏運委頓，面黃而浮，足跗浮腫，納食脹悶難化，大便溏泄，神疲呵欠，肢酸乏力，脈濡弦，聲音失揚。病勢已成蓐癆。仍以疏肝運脾，未識能補救否。</p>
<p>炒於術（一錢五分）　白茯苓（三錢）　煨肉果（一錢）　煨訶子（八分）　炒白芍（一錢五分）　天仙藤（一錢二分）　川續斷（二錢）　煅牡蠣（三錢）　益智仁（三錢）　白蒺藜（三錢）　制禹糧（三錢）　御米殼（一錢五分）</p>
<p>（案84）李，右。病經四十餘日，初起發熱，四肢關節腫痛，如痹症之狀。近來足肢能舉，右手腫痛較減，左手仍然腫痛，舉動即見顫振，經隧筋骨間留邪未去，不言而喻。軀殼久病，由經隧牽動內臟，從前心悸亢進因於熱度之高，今熱度已平，而舒縮仍鼓搏有力，且乍疏乍數，或有歇止，心臟為病可見。心主血之循環，肺司氣之出入，心肺相依為用，循環既亂，呼吸亦逆，是以吸入很覺吃力沉著。然天庭面部耳輪皆現黃暗之色，目珠微黃，小溲則赤，唇吻黝黑，舌灰口苦，以上見證，則肝膽為病，膽汁亦暗泄，氣亂流也。脈沉弱無力，至數不調，有如虛里之動跳，此時以膽汁見證為劇，然安危之機，又在呼吸之逆，息促肺布葉舉，變幻難測矣。</p>
<p>法半夏　蒲公英　片薑黃　白蘚皮　白茯苓　旋覆花　海桐皮　賴橘紅　左秦艽　生苡仁鮮佩蘭　益母草</p>
<p>又，二診：平人一呼脈行三寸，一吸脈行三寸，呼吸定息脈行六寸，一晝夜凡一萬三千五百息，八十一丈周於身。可知心臟血脈之循環，全賴肺之呼吸以逼行之。肺苦氣逆，心臟舒縮太急，以致心悸亢進，其動振衣，乍疏乍數或動，而中心吸氣仍覺吃力，面目肌膚皆黃暗不澤，爪甲枯淡，唇吻黝黑，舌苔灰而糙，心臟少血，膽汁又復暗泄，此因病累久致虛，與勞損之虛又自有別。再擬原意，參以鎮攝，使肺氣和平，心臟鎮靜，未識應否。</p>
<p>（方缺）</p>
<p>（案85）李，九畝地。腹痛嘔惡，已數月之久，肝脾積傷，蓄血暴動，忽然心嘈難過，倒僕不省人事，上嘔積瘀如豚肝，下則黑衃如漆滓，面容肌膚萎黃，舌本白而灰糙厚膩，脈弦澀。速當推陳致新，此病非虛非火，若投涼與補，即有盅脹之累，但此時積衃未去，仍宜謹慎，以防暈厥。</p>
<p>花蕊石（煅，三錢）　炒桃仁（一錢五分）　炒元胡（一錢五分）　白茯苓（三錢）　澤蘭葉（三錢）　蘇木屑（一錢）　炒蒲黃（一錢五分）　佛手柑（一錢二分）　炒川芎（一錢）　旋覆花（二錢）　法半夏（一錢五分）　炒丹皮（一錢五分）　甜三七（沖，六分）　百草霜（沖，八分）</p>
<p>又，二診：據述大便漆黑惡物已弭，惟一周時仍圊，仍有數次之多，腹仍乍痛，夜眠不安。恐積衃未盡，仍宜慎防變動，不可大意。</p>
<p>煅花蕊石（三錢）　蘇木屑（一錢）　炒桃仁（一錢五分）　白茯苓（五錢）　代赭石（三錢）　炒當歸（二錢）　炒丹皮（一錢五分）　炒蒲黃（一錢五分）　煅禹糧（三錢）　炒川芎（一錢）　炒山楂（三錢）　旋覆花（二錢）　炒五靈脂（去砂石，一錢五分）</p>
<p>（案86）徐，常州。思慮憂鬱，精神未能痛快，氣機不獲展舒，胸宇既悶，咽間如有物阻，咯不出，咽不下。當悗悶不適時，肢亦清厥。然志樂氣爽，則又無恙，脈濡弦。當以愉快精神為主，參以宣氣解鬱可也。</p>
<p>炒豆豉（二錢）　法半夏（一錢五分）　泡射干（一錢）　金石斛（二錢）　焦山梔（一錢二分）　全瓜蔞（三錢）　山豆根（一錢五分）　旋覆花（二錢）　綠萼梅（八分）　白茯苓（三錢）　川玉金（一錢五分）　代代花（七朵）</p>
<p>（案87）陳先生。清陽單薄，健運無力，四肢清厥，啜粥為安，啖飯欠適，脘中有時不舒，然難鳴狀，久坐起立頭腦旋運，閉目少選即瘥。頭為諸陽之會，四肢為諸陽之末，脈濡緩而弦。仍以健脾和陽可也。</p>
<p>淮黃耆（二錢）　炙防風（一錢）　炒白朮（一錢五分）　炒白芍（二錢）　川桂枝（八分）　白茯苓（三錢）　益智仁（一錢）　巴戟天（一錢五分）　炒杞子（二錢）　白蒺藜（三錢）　橘紅衣（一錢）　宣木瓜（—錢）</p>
<p>（案88）胡，寧波路。肺葉久壞，裂痕已深，如爛瘡，如漏管。痰濁穢惡雖弭，而咯血歷久不瘥，或盈口而出，或與痰相雜而出，高臥較安，平臥較甚。脈尚平靜，面亦清亮。不然，殆已久矣。</p>
<p>白芨末（六分）　甜三七末（沖，四分）　合歡皮（四錢）　炒地榆（三錢）　仙鶴草（三錢）　淮膝炭（二錢）　海蛤粉（三錢）　淡秋石（一錢五分）　飛青黛（八分）　藕節炭（四錢）　絲瓜絡（帶子，三錢）　白綿紙（燒炭研沖，三十張）　蒲黃炒阿膠（三錢）</p>
<p>（案89）何，右，老北門。膈症至於結腸，胃脘枯槁，難為力。大便十餘日不下，下流不通，勢必上泛。然形瘦見骨，起立維艱，恐非藥石所能愈耳。昨曾嘔出蛔蟲，猶慮厥變。</p>
<p>旋覆花（二錢）　法半夏（一錢五分）　新紅花（八分）　烏梅肉（六分）　閉口川椒紅（三分）　泡吳茱萸（八分）　玉蘇子（二錢）　枳實皮（一錢五分）　桃仁（一錢五分）　炒胡黃連（一錢）　光杏仁（三錢）</p>
<p>又，二診：胃脘枯槁至於結腸，勢難挽救，昨日大便雖通，下燥糞甚夥，尚仍嘔吐，形瘦見骨，色萎不澤，脈空弦而澀。膈症至此，徒喚奈何，勉方聊盡心力而已。</p>
<p>旋覆花（二錢）　仙半夏（二錢）　金石斛（二錢）　無花果（二錢）　蒸當歸（二錢）　橘紅衣（一錢）　茯苓（三錢）　杏仁（三錢）　蘇子（二錢）　炒枳殼（一錢五分）　炒穀芽（五錢）　綠萼梅（八分）</p>
<p>（案90）霖公。心胸作嘈，腹中隱隱乍痛，大便稍帶黏積，頭腦昏蒙，巔頂尤欠清爽，口甘溺赤，脈緩微弦，面黃暗不澤。肝脾疏運失司，血質有衃敗之漸，不可以尋常傷濕比擬也。</p>
<p>澤蘭葉（三錢）　炒當歸（二錢）　黑川芎（八分）　蒸於術（一錢五分）　益智仁（一錢）　白茯苓（三錢）　白蒺藜（三錢）　法半夏（一錢五分）　白蘚皮（二錢）　旋覆花（二錢）　大丹參（二錢）</p>
<p>（案91）李，九畝地。據述大便漆黑，惡物難弭，而腹痛未除，下利未已。今晨且作呃忒，夜寐不安。肝脾久傷，積衃暴動，深慮脾憊脫變。仍擬疏肝運脾，推陳致新。</p>
<p>制禹糧（三錢）　赤石脂（三錢）　蘇木屑（一錢）　炒川芎（八分）　益智仁（一錢）　白茯苓（三錢）　泡吳萸（八分）　煨肉果（一錢）　旋覆花（二錢）　代赭石（三錢）　真降香（一錢）　刀豆子（三錢）　厚朴花（一錢五分）　制沒藥（一錢）</p>
<p>（案92）鄭，恆慶里。精神虛弱，愈虛弱而愈不寧，不寧則氣機之運用、腸胃之傳導變化均乖亂失常。脘腹否悶，噯氣頻仍，便溏不爽，夜寐不安，咽間梗塞，脈濡弦，舌後光截花剝，既糙且膩。和調腑臟，安寧精神可也。</p>
<p>金石斛（二錢）　炒白芍（二錢）　益智仁（一錢）　石菖蒲（六分）　法半夏（一錢五分）　北秫米（三錢）　白茯苓（三錢）　山豆根（一錢五分）　制禹糧（三錢）　御米殼（一錢五分）　刀豆殼（三錢）　橘紅衣（一錢）　旋覆花（二錢）</p>
<p>（案93）周，南市。環臍少腹繃急而痛，痠墜不舒，便溏日有數起，未能爽適，形瘦，脈弦搏，食難運化，或欲作嘔，咳嗽，少寐多汗，仍有寒熱。肺勞腸勞並病，殊不易調，如不節飲食慎啖，更難療治。</p>
<p>青蒿（三錢）　苡仁（三錢）　茯苓（三錢）　金石斛（三錢）　炙雞金（二錢）　炙蟾皮（量缺）　佩蘭（二錢）　白芍（二錢）　六曲（二錢）　新紅花（八分）　使君子（一錢五分）　陳大麥（炒杵，三錢）　石榴根皮（六分）</p>
<p>（案94）屠，望平街。惡寒乍熱已減退，肛脹，大便欲解不解，左胯脹痛，腰部拘急，屈而不伸，左睪丸偏墜腫痛，色仍赤，惟焮熱較減。精濁瘀滯，腑氣閉塞。再以通腑輸精，以消丸腫。</p>
<p>煅貝齒（三錢）　油當歸（三錢）　光杏仁（三錢）　新紅花（八分）　炒枳實皮（一錢五分）　郁李仁（三錢）　炒青皮（一錢五分）　瓜蔞仁（三錢）　劉寄奴（一錢五分）　炒丹皮（一錢五分）　炒橘核（一錢五分）　棠球子（炒，三錢）　穿山甲（二錢）　杜牛膝根（三錢）</p>
<p>又，二診：熱已減退，腰脊亦能直伸，左睪丸偏墜腫痛牽及鼠蹊，胯內色仍赤，惟焮熱略減，皮已轉皺，脈弦。精濁瘀滯未輸，仍以通泄。此囊腫之屬，為日已久，殊防外潰，潰則難斂。</p>
<p>煅貝齒（三錢）　油當歸（三錢）　炒山楂核（三錢）　炒丹皮（一錢五分）　劉寄奴（一錢五分）　光桃仁（一錢五分）　新紅花（八分）　炒青皮（一錢五分）　象貝母（三錢）　全瓜蔞（三錢）　穿山甲（三錢）　乾地龍（一錢五分）　滋腎丸（吞，一錢五分）　仙遺糧（五錢）　西血珀（四分研末，蜜丸吞）</p>
<p>又，三診：敗精腐瘀已漸輸出，左睪丸偏墜焮赤漸退，腫痛漸消，但未消盡，鼠蹊舒適，囊皮已蛻，脈來緩和。病機向瘳，仍守原意，小其制。</p>
<p>煅貝齒（三錢）　劉寄奴（一錢五分）　西血珀（蜜丸吞，四分）　紅花（八分）　丹皮（一錢五分）　象貝（三錢）　忍冬藤（三錢）　海蛤粉（三錢）　絡石藤（五錢）　白茯苓（三錢）　炒山楂核（三錢）　炒橘核（二錢）</p>
<p>（案95）郭，天津路。肝者，中之將也。病失疏泄，血亦瘀滯。肝脈貫鬲，上及頏顙，故肝氣亢害，未有不侮胃累腦者。侮胃不過氣逆，累腦則血不行矣，卒然發厥，如痧脹之狀，愈發愈促，愈促愈劇，脈弦。治以疏達調通。</p>
<p>旋覆花（二錢）　綠萼梅（八分）　炒丹皮（一錢五分）　白蒺藜（三錢）　法半夏（二錢）　白茯苓（三錢）　川玉金（一錢五分）　澤蘭葉（三錢）　炒白芍（二錢）　佛手柑（一錢）　金石斛（二錢）　明天麻（八分）</p>
<p>（案96）鄭，四馬路。年屆六旬，肝腎內虧，頭眩耳鳴目花，舉步浮蕩，神疲，懶於言語，語言欲出忽蹇。此皆根蒂有虧之證，為厥中根萌，脈弦滑。議以河間法。</p>
<p>炒熟地（四錢）　山萸肉（炒去核，二錢）　潼沙苑（三錢）　淮牛膝（二錢）　甘杞子（二錢）　滁菊花（一錢五分）　金石斛（三錢）　抱木神（三錢）　野料豆（三錢）　女貞子（三錢）　炙龜板（五錢）　煅決明（四錢）</p>
<p>（案97）胡，拋球場。黃疸有年，肝脾疏運失司，膽汁瘀滯，結成窠囊，腸之迴旋受障礙而失舒。腹右膨脹痞塞，噯氣不爽，喜以手推蕩，但推蕩著力太過，則有小腸氣之累，勿取一時之快也。近日大便下黃水頗適。仍守原意，毋事更張。</p>
<p>厚朴花（一錢五分）　炒枳殼（一錢五分）　佩蘭葉（三錢）　左秦艽（一錢五分）　法半夏（二錢）　白茯苓（三錢）　白蘚皮（二錢）　沉香曲（一錢五分）　蒲公英（三錢）　白芥子（八分）　新紅花（八分）　旋覆花（二錢）　煅銅針砂（三錢，煎水代湯）</p>
<p>（案98）胡，拋球場。精髓不充，囟門薄弱，鼻塞未能爽適，臥著則塞，記憶善忘，注目久視則𥉂𥉂無所見。治以補精益腦。</p>
<p>潼沙苑（三錢）　甘菊花（一錢五分）　蔓荊子（一錢五分）　橘紅衣（一錢）　煅決明（四錢）　淮黃耆（三錢）　益智仁（一錢）　荷葉筋（三錢）　炒杞子（二錢）　炙防風（一錢）　茯苓（三錢）</p>
<p>（案99）胡，右，績溪。年前產難，胞脈內傷。胞脈屬心，心主血，汗即心之液。煩勞即背脹多汗，汗泄於夜寢既覺之後。心臟之虛，亦受胞脈之影響也。照述擬以養心調榮。</p>
<p>淮黃耆（三錢）　蒸歸身（二錢）　金石斛（三錢）　抱木神（三錢）　肥玉竹（二錢）　炙甘草（一錢）　大丹參（二錢）　青龍齒（三錢）　炒白芍（二錢）　甘杞子（三錢）　炒白薇（二錢）　淮小麥（三錢）　陳南棗（三枚）</p>
<p>（案100）李，右。心臟舒縮較前稍緩，亦不歇止，惟乍疏乍數之象未改，日前已覺安適。昨啖芋艿，滯氣生痰，肝脾疏運失司，胃氣翳滯不行，脘腹繃脹而痛，按之堅硬，蓋胃體之繃脹也。足肢以上俱腫，環臍少腹按之𪔣𪔣然不堅。按「腹脹，身盡腫，皮膚厚，色蒼黃，」經旨以為膚脹，此氣分為病，與水分有別。經事之後，繼以黃濁惡物。胞脈屬心，與膚脹無甚關係，與心臟病有干也。先從膚脹治，法如木香流氣飲。</p>
<p>廣木香（一錢）　制川樸（一錢五分）　炒青皮（一錢）　新會皮（一錢五分）　洗腹皮（二錢）　帶皮苓（五錢）　白豆蔻（八分）　縮砂仁（八分）　光杏仁（三錢）　蘇梗（一錢五分）　桑皮（炙，一錢五分）　佛手（一錢）</p>
<p>改方加煨莪朮一錢。</p>
