<header data-type="book">
<h1>本草通玄</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李中梓</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1637">公元1637年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2684">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>草部</h2>

<h3>人參</h3>
<p>職專補氣，而肺為主氣之臟，故獨入肺經也。肺家氣旺，則心、脾、肝、腎四臟之氣皆旺，故補益之功獨魁群草。凡人元氣虛衰，譬如令際嚴冬，黯然肅殺，必陽春布德而後萬物發生。人參氣味溫和，合天地春生之德，故能回元氣於無何有之鄉。王海藏云：肺寒可服，肺熱傷肺。猶為近理。至王節齋謂參能助火，虛勞禁服。自斯言一出，印定後人眼目，遂使畏參如螫，而病者亦泥是說，甘受苦寒，至死不悟，良可嘆也。獨不聞東垣云：人參補元氣，生陰血，而瀉虛火。仲景又云：亡血虛家，並以人參為主；丹溪於陰虛之症，必加人參。彼三公者，誠有見於無陽則陰無以生，氣旺則陰血自長也。愚謂肺家本經有火，右手獨見實脈者，不可驟用。即不得已用之，必須鹹水焙過，秋石更良。蓋咸能潤下，且參畏滷咸故也。若夫腎水不足，虛火上炎乃刑金之火，正當以人參救肺，何忌之有？元素云：人參得升麻，補上焦之氣，瀉肺中之火；得茯苓，補下焦之氣，瀉腎中之火。凡用必去蘆淨，蘆能耗氣，又能發吐也。李言聞曰：東垣交泰丸用人參、皂莢，是惡而不惡也。古方療月閉四物湯加人參、五靈脂，是畏而不畏也。痰在胸鬲，以人參、藜蘆同用而取湧越，是激其怒性也。是皆精微妙奧，非達權者不能知。少用則壅滯，多用則宣通。</p>

<h3>甘草</h3>
<p>甘平之品，合土之德，故獨入脾胃。蓋土位居中，而能兼乎五行，是以可上可下，可內可外，有和有緩，有補有瀉，而李時珍以為通入十二經者，非也。稼穡作甘土之正味，故甘草為中宮補劑。《別錄》云：下氣治滿。甄權云：除腹脹滿。蓋脾得補則善於健運也。若脾土太過者，誤服則轉加脹滿，故曰脾病。人毋多食甘，甘能滿中，此為土實者言也。世俗不辨虛實，每見脹滿，便禁甘草，何不思之甚耶！甘草為九土之精，故能化百毒和百藥，熱藥用之緩其熱，寒藥用之緩其寒。理中湯用之，恐其僭上；承氣湯用之，恐其速下。凡下焦藥中勿用，嘔吐家及酒家勿用。生用，有清火之功；炙熟，有健脾之力。節能理腫毒諸瘡，梢可止莖中作痛。甘草與甘遂、芫花，大戟、海藻四味相反，而胡洽治痰癖，十棗湯加甘草乃痰在膈上，欲令攻擊以拔病根。東垣治結核，甘草與海藻同用。丹溪治勞瘵，芫花與甘草同行。故陶弘景謂古方多有相惡相反，並不為害。非妙達精微者不能也。</p>

<h3>沙參</h3>
<p>微苦微寒。以補陰清肺為用，故久咳肺痿，右寸數實者頗為相宜，但體質清虛，性用寬緩，非肩弘任重之品也。</p>

<h3>黃耆</h3>
<p>甘而微溫，氣薄味厚。入肺而固表虛之汗，充膚入腠；入脾而托已潰之瘡，收口生肌；逐五臟惡血，去皮膚虛熱。原其功能，惟主益氣。甄權謂其補腎，氣為水母也。《日華》謂其止崩帶，氣旺則無下陷之憂也。《靈樞》曰：衛氣者，所以溫分肉，充皮膚，肥腠理，司開闔者也。黃耆補衛氣，與人參、甘草三味，為除熱之聖藥。脾胃一虛，肺氣先絕，必用黃耆益衛氣而補三焦。丹溪云：肥白而多汗者宜與黃耆。若黑瘦而形實者服之，則多胸滿，宜以三拗湯瀉之。黃耆同陳皮、白蜜能通虛人腸閉，補脾肺之功也。防風能制黃耆，黃耆得防風，其功愈大，乃相畏而相使也。古人制黃耆多用蜜炙，予易以酒炙，即助其走表，又行滯性。若補腎及崩帶淋濁藥中，皆須鹹水拌炒。</p>

<h3>白朮</h3>
<p>味甘性溫。得中宮沖和之氣，故補脾胃之藥，更無出其右者。土旺則能健運，故不能食者、食停滯者、有痞積者，皆用之也。土旺則能勝濕，故患痰飲者，腫滿者、濕痹者，皆賴之也。土旺則清氣善升而精微上奉，濁氣善降而糟粕下輸，故吐瀉者不可缺也。《別錄》以為利腰臍間血者，因脾胃統攝一身之血，而腰臍乃其分野，以藉其養正之功，而瘀血不敢稽留矣。張元素謂其生津止渴者，濕去而氣得周流，而津液生矣；謂其消痰者，脾無濕則痰自不生也；安胎者，除胃熱也。米泔浸之，借穀氣以和脾也；壁土炒之，竊土氣以助脾也。嫌其燥，以蜜水炒之；嫌其滯，以薑汁炒之。</p>

<h3>蒼朮</h3>
<p>甘而辛烈，性溫而燥，入脾胃二經。發汗而去風寒濕，下氣而消痰食水，開鬱有神功，腫脹為要藥。化一切積塊，除諸病吐瀉，善逐鬼邪，能弭災沴。寬中發汗，其功勝於白朮；補中除濕，其力不及於白朮。大抵卑監之土，宜與白朮以培之，敦阜之沴，宜與蒼朮以平之。楊士瀛曰：脾精不禁，淋濁不止，宜與蒼朮以斂脾精，精生於穀故也。米泔水浸一日，去粗皮研，芝麻拌蒸三次，以制其燥。</p>

<h3>桔梗</h3>
<p>苦辛，氣輕，性平，入肺經。載引諸藥入至高之分，為舟楫之劑。肺金稱職，則清肅下行，故能利膈下氣，散痞滿，治胸脅痛；破血結，消痰涎，理喘咳，療肺癰，排膿血；清上焦熱，凡頭目、咽喉、口鼻諸症，一切主之。丹溪云：痢疾腹痛，乃肺經之氣鬱在大腸，宜桔梗開之。按桔梗之用，惟其上入肺經，肺為主氣之臟，故能使諸氣下降。世俗泥為上升之劑，不能下行，失其用矣。凡用桔梗，去蘆及浮皮並尖，以百合搗爛，同浸一日，挫碎微焙。</p>

<h3>葳蕤</h3>
<p>甘平，入脾，柔潤入腎，故能補中益氣、逐熱除蒸，治一切不足之症。用代人參，不寒不燥，大有殊功。朱肱用治風溫，亦謂其能去風熱與濕也。但性味和平，力量寬緩，譬之盛德之人而短於才者也。水浸半日，飯上蒸用。</p>

<h3>知母</h3>
<p>苦寒，氣味俱厚，沉而下降，為腎經本藥，兼能清肺者。為其肅清龍雷勿使僭上，則手太陰無銷爍之虞也。瀉有餘之相火，理消渴之煩蒸。凡止咳安胎，莫非清火之用。多服令人泄瀉，令人減食。此惟實火燔灼者，方可暫用。若施之於虛損之人，如水益深矣。蓋苦寒之味行天地肅殺之令，非長養萬物者也。今世未明斯義，誤以為滋陰上劑，勞瘵神丹，因而夭枉者不可勝數。予故特表而出之，永為鑑戒。凡用須去毛切，以咸酒炒如褐色。</p>

<h3>肉蓯蓉</h3>
<p>味甘，咸微溫，補腎而不峻，故有蓯蓉之號。主男子絕陽不興，女人絕陰不育，益精氣，暖腰膝，止遺精遺瀝，帶下崩中，多服令人大便滑潤。堅而不腐者佳。酒洗去用。</p>

<h3>鎖陽</h3>
<p>甘溫，入腎。補陰益精，潤燥養筋。凡大便燥結，腰膝軟弱，珍為要藥。酒潤，焙用。</p>

<h3>天麻</h3>
<p>甘平，為肝家氣分之品。主風濕成痹，四肢拘攣，通血脈，強筋骨，利舌本，疏痰氣，為中風家必需之要劑。元素云：止頭痛，理風虛眩暈。浸一日夜，濕紙裹煨。</p>

<h3>巴戟天</h3>
<p>辛甘微溫，腎經之血分藥也。強筋骨，起陰痿，益精氣，止遺泄。治小腹痛引陰中，療水脹，理腳氣。酒浸一宿，去心焙。</p>

<h3>遠志</h3>
<p>微溫味苦，腎經氣分藥也。強志益精，治善忘。蓋精與志，皆腎所藏者，精不足，則志衰，不能上交於心，故善忘。精足志強，則善忘愈矣。壯陽固精，明目聰耳，長肌肉，助筋骨，理一切癰疽，破腎積奔豚，主治雖多，總不出補腎之功。或以為心經藥，則未也。甘草湯浸宿，去心焙。</p>

<h3>仙茅</h3>
<p>辛溫，有毒，腎經藥也。益陽道，暖腰膝，強筋骨，美顏色，腹冷不能食，攣痹不能行，皆為要藥。按仙茅宣而能補，頗稱良品，但有小毒，服以縱欲者，自速其生，與仙茅何咎？忌鐵以糯米泔浸一宿，去赤汁陰乾，便不損人。</p>

<h3>玄參</h3>
<p>色黑苦寒，腎經藥也。清腎家之火，解斑疹，利咽喉，通小便，明眼目，散瘤癧，理傷寒狂邪發渴，心內驚煩。按玄參主用繁多，咸因腎水受傷，真陰失守，孤陽無根，亢而僭逆，法當壯水以制陽光，常體此意，便得玄參之用矣。忌銅鐵。</p>

<h3>地榆</h3>
<p>苦寒微酸，肝家藥也。善入下焦理血，凡腸風下血、尿血、痢血、月經不止，帶下崩淋、久瀉者，皆宜用之。寇宗奭云：其性寒，專主熱痢。若虛寒水瀉者勿用。地榆雖能止血，多用有傷中氣。梢能行血，即當去之。多以生用，勿見火。</p>

<h3>丹參</h3>
<p>苦平，色赤，心與包絡，血分藥也。補心血，養神志，止驚煩，消積聚，破宿血，生新血，安生胎，落死胎。丹參一味，有四物之功，故胎前產後，珍為要劑。酒潤微焙。</p>

<h3>紫草</h3>
<p>味甘氣寒，入心包絡及肝經，血分藥也。治斑疹痘毒，涼血活血，通大小腸。按紫草之用，專以涼血為功。痘疹毒盛則血熱，血熱則干糊而不發越，得紫草涼之，則血行而毒出。世俗未明此旨，誤認為宣發之品，非矣。其性涼潤，便閉者乃為相宜。若大便利者，不可多用。嫩而紫色染手指者佳。</p>

<h3>白芨</h3>
<p>苦寒，入肺。止嗽家之吐血，療諸瘡以生肌。蘇恭云：手足折裂者，嚼塗有效。味澀善收，頗合秋金之德，故入肺止血，治瘡生肌。凡吐血者，以水盆盛之，浮者，肺血也，以羊肺蘸白芨末食之；沉者，肝血也，以羊肝蘸食；半沉半浮者，心脾之血也，羊心脾蘸食。微火略焙。</p>

<h3>黃連</h3>
<p>苦寒，入心，為治火之主藥。瀉心火而除痞滿，療痢疾而止腹痛，清肝膽而明耳目，祛濕熱而理瘡瘍，利水道而厚腸胃，去心竅之惡血，消心積之伏梁。大明曰：治小兒疳氣，殺蟲。成無己曰：蛔蟲得苦則不動，黃連之苦，以安蛔也。韓𢘅云：黃連與官桂同行，能使心腎交於頃刻。李時珍曰：黃連大苦大寒，用以降火，中病即止。安可使肅殺之令常行，而伐其生生之氣乎？《內經》曰：五味入胃，各歸所喜，久而增氣，物化之常也。氣增而久，夭之由也。王冰注云：增味益氣，如久服黃連，以為清火神劑，殊不知黃連瀉實火，若虛火而誤投之，何異操刃耶。愚謂大苦大寒，行隆冬肅殺之令，譬如聖世不廢刑威，雖不得已而後敢用。若概施之，則暴虐甚而德意，窮民不堪命矣。喜用寒涼者，尚其戒諸。黃連止入心家，言清肝膽者，實則瀉子之法也。李時珍云：古人香連丸，用黃連、木香；姜連散，用乾薑、黃連；左金丸，用黃連、吳茱萸，口瘡方，用黃連、細辛，皆是一冷一熱，寒因熱用，熱因寒用，陰陽相濟，最得制方之妙。所以功成而無偏勝也。清心火者，生用；清肝膽火者，吳萸拌炒。上焦之火宜酒炒，下焦之火宜鹹水炒。中焦之火宜薑汁炒。蓋辛熱能制其苦寒，咸潤能制其燥耳。</p>

<h3>胡黃連</h3>
<p>苦寒，入心，旁通肝膽。產於胡也，而性味功用，與黃連相類，故有是名。主五心煩熱，勞瘵骨蒸，小兒驚疳，女人胎蒸，傷寒溫瘧，消果子積。折之塵出，如煙者真。</p>

<h3>黃芩</h3>
<p>苦寒，輕飄入肺，堅實者入大腸。主風熱，濕熱，痰熱骨蒸，火咳，下痢，喉間腥氣，上部積血，寒熱往來，失血癰疽，安胎，療淋，養陰退陽。李時珍云：潔古言黃芩瀉肺火，治脾濕。東垣言片芩治肝火，條芩治大腸火。丹溪言黃芩治三焦火。仲景治少陽症，小柴胡湯；太陽少陽合病下利，黃芩湯；少陽症下後心下滿，瀉心湯，並用之。蓋黃芩苦寒，去心脾熱，一則金不受刑，一則胃火不流入肺，即所謂救肺也。肺虛不宜者，苦寒傷土，損其母也。少陽症，雖在半表半裡，而胸脅痞滿，實兼心肺上焦之邪。心煩喜嘔，默默不欲飲食，又治脾胃中焦之症，故用黃芩以治手足少陽相火，黃芩亦少陽本經藥也。成無己但云柴胡、黃芩之苦，以發傳經之熱，芍藥、黃芩之苦，以斂腸胃之氣，殊昧其治火之功。《直指》云：柴胡退熱，不及黃芩。蓋亦不知柴胡之退熱，乃苦以發之，散火之標也；黃芩之退熱，乃寒能勝熱，折火之本也。仲景云：少陽症腹中痛者，去黃芩，加芍藥；心下悸，小便不利者，去黃芩，加茯苓。似與《別錄》治少腹絞痛、利小便之文不合。成氏言黃芩寒中，苦能兼腎，故去之，是亦不然。至此當以意逆之，辨以脈症可也。若因飲寒受寒，腹痛，及飲水心下悸，小便不利，而脈不數者，是里無熱症，則黃芩不可用也。苦熱厥腹痛，肺熱而小便不利者，黃芩可不用乎？子因感冒犯戒，蒸熱如火，吐痰廢食，偏服諸藥益劇。偶思東垣治肺熱，煩渴晝盛，氣分熱也，宜一味黃芩湯，遂用一兩，煎服，次日皆愈。藥中肯綮，效至若此。得酒，上行；得豬膽汁，除肝膽火；得柴胡，除寒熱；得芍藥，治下利；得桑皮，瀉肺火；得白朮，安胎。稍挾虛者，切勿輕用。</p>

<h3>秦艽</h3>
<p>味苦性平，本入陽明，兼通於肝膽。主陽明風濕，搜肝膽伏風，所以養血榮筋，除蒸退熱，理肢節痛及攣急不遂，黃疸酒毒。世俗不知其功能本於祛風，凡遇痛症，動輒用之，失其旨矣。能利大小便，滑泄者勿用。</p>

<h3>柴胡</h3>
<p>苦而微寒，入膽經。主傷寒瘧疾，寒熱往來，嘔吐脅痛，口苦耳聾，頭角疼痛，心下煩熱，宜暢氣血，除飲食、痰水結聚，理肩背痛，目赤眩暈，婦人熱入血室，小兒五疳羸熱。東垣引清氣升騰而行春令者，宜之。銀柴胡主用相同，勞羸者尤為要藥。欲上升者，用其根；欲下降者，用其梢。勿令見火。</p>

<h3>前胡</h3>
<p>味苦，微寒，肺肝藥也。散風祛熱，消痰下氣，開胃化食，止嘔定喘，除嗽，安胎，止小兒夜啼。柴胡、前胡均為風藥，但柴胡主升，前胡主降，為不同耳。種種功力皆是搜風下氣之效，肝膽家風痰為患者，舍此莫能療。忌火。</p>

<h3>防風</h3>
<p>辛甘微溫，入肺與膀胱。主上焦風邪，瀉肺實，大風頭眩，周身痹疼，四肢攣急，風眼冷淚，兼能去濕。東垣云：防風治一身痛，乃卑賤之職，隨所引而至，風藥中潤劑也。防風能制黃耆，黃耆得防風，其功愈大，乃相畏而相使也。治上焦風，用其身；治下焦風，用其梢。本主治風，又能治濕者，風能勝濕也。</p>

<h3>羌活　獨活</h3>
<p>乃一類兩種，中國生者名獨活，胡來者名羌活。氣味辛溫，為手足太陽引經之藥，又入足少陰厥陰。小無不入，大無不通，故能散肌表八風之邪，利周身骨節之痛，頭旋掉眩，失音不語，手足不隨，口眼歪斜，目赤，膚癢，理女子疝瘕，散癰疽惡血。王好古云：羌活色赤氣雄，可理遊風。獨活色黃氣細，可理伏風。氣血虛而遍身痛者，禁之。</p>

<h3>升麻</h3>
<p>辛平，入脾胃二經。主頭額間痛，牙根疼爛，肌肉間風熱，解百毒，殺鬼邪，闢瘟疫，消斑疹，行瘀血，治陽陷眩暈及胸脅虛痛，久瀉脫肛，遺濁崩帶。東垣云：發陽明風邪，升胃中清氣，引甘溫之藥，以補衛入表，故元氣不足者，用此於陰中升陽，又緩帶脈之意。大抵人年五十以上，降氣常多，升氣常少。《內經》曰：陰精所奉其人壽，陽精所降其人夭。千古之下，窺其微旨，東垣一人而已。凡上盛下虛者勿用。</p>

<h3>苦參</h3>
<p>苦寒，入腎。主風熱蟲痛，腸風下血，積熱下利，擦牙止痛。丹溪云：服苦參者多致腰重，因其性降而不升也，非傷腎也。治大風有功，況細疹乎。火旺者宜之，火衰虛弱者，大忌。</p>

<h3>白蘚皮</h3>
<p>氣寒，善行，味苦，性燥，入肺脾二經。主惡毒諸瘡，風癩疹癬，濕痹死肌，不可屈伸，通關節，利九竅及血脈，肺熱咳嗽，天行狂走，頭目痛。氣味似羊膻，多服損中氣。</p>

<h3>玄胡索</h3>
<p>辛溫，入手足太陽、厥陰四經。行血利血，止痛，落胎，通絡，利小便。玄胡索兼理氣血，故能行血中氣滯，氣中血滯，理一身上下諸痛，確有神靈。時珍頌為活血化氣，第一品藥，非虛語也。往往獨行多功，雜以他味便緩。上部酒炒用，中部醋炒用，下部鹹水炒用。</p>

<h3>川貝母</h3>
<p>味苦，微寒。主煩熱，心下滿，潤肺，消燥痰，散項下癭癧，傅惡瘡，收口生肌。俗以半夏有毒，用貝母代之。不知貝母寒潤，治肺家燥痰之藥。半夏溫燥，治脾胃濕痰之藥。二者天淵，何可代乎？去心，同糯米炒，米熟為度，去米用。</p>

<h3>茅根</h3>
<p>甘寒，入胃。主胃熱煩渴、吐衄，黃疸，水腫，消瘀血，通月閉，止喘嘔，利小便，亦良物也。世皆以其微而忽之，惟事苦寒，致傷中和之氣，烏足知此哉！</p>

<h3>龍膽草</h3>
<p>苦澀，大寒。肝經邪熱，下焦濕熱，目病赤腫瘀肉，小兒客忤疳氣，去腸中小蟲。時珍曰：相火寄在肝膽，有瀉無補，故瀉肝膽之熱正益肝膽之氣，但大苦大寒，過服恐傷胃中生髮之氣，及助火邪，亦久服黃連反從火化之義也。甘草湯浸一宿，曬乾用。</p>

<h3>細辛</h3>
<p>辛溫，入足厥陰、足少陰血分，為手少陰引經之藥。主風寒濕頭疼，痰厥氣壅；利九竅，明目聰耳通鼻，治齒痛膚癢，風眼淚出，口瘡喉痹，驚癇咳嗽。時珍曰：氣之厚者能發熱，陽中之陽也。辛溫能散，故風寒濕火痰氣者，用之。用治口瘡齒疾者，取其散浮熱者，火鬱則發之之義也。辛能瀉肺，故咳嗽上氣者，宜之。辛能補肝，故肝膽不足，驚癇目疾者，宜之。辛散太過，凡涉虛，忌之。</p>

<h3>當歸</h3>
<p>甘辛微溫，入心、肝、脾三經。主一切風、一切氣、一切血，溫中，止頭目心腹諸痛，破惡血，養新血，潤腸胃，養筋骨，澤皮膚，理癰疽，排膿止痛生肌。好古云：心生血，脾裹血，肝藏血，故入三經。頭止血而上行，梢破血而下行，身養血而中守，全活血而不走。氣血昏亂，服之而定。能領諸血各歸其所當之經，故名當歸。脾胃瀉者，忌之。去蘆，酒洗微焙。</p>

<h3>川芎</h3>
<p>味辛性溫，肝家藥也。主一切風、一切氣、一切血，血虛及腦風頭痛，面上遊風，目淚多涕，昏昏如醉。除濕止瀉，行氣開鬱，去瘀生新，調經種子，排膿長肉。蘇頌云：蜜丸，夜服，治風痰殊效。弘景雲：止齒中出血。東垣云：頭痛必用川芎。再加引經藥：太陽羌活，陽明白芷，少陽柴胡，太陰蒼朮，厥陰吳茱萸，少陰細辛。寇氏云：川芎不可久服，令人暴亡，單服既久，則辛喜歸肺，肺氣偏勝，金來剋木，肝必受邪，久則偏絕，是以暴夭。若藥具五味，備四氣，君臣佐使配合得宜，寧有此患哉？小者，名撫芎，專主開鬱。</p>

<h3>蛇床子</h3>
<p>辛甘，入腎。溫腎助陽，祛風濕，癢痹，消惡瘡，暖婦人子宮，起男子陰痿，利關節，止腰痛。蛇床入腎而補元陽，大有奇功，誰知至賤之中，乃伏殊常之品。舍此而別求補益，豈非貴耳賤目耶？去殼，取仁，略炒。</p>

<h3>藁本</h3>
<p>苦辛微溫，足太陽本經藥也。主太陽巔頂痛，大寒犯腦，痛連齒頰，頭面身體皮膚風濕。元素云：藁本乃太陽風藥，其氣雄壯，寒熱鬱於本經，頭痛必用之藥。巔頂痛非此不除。與木香同用，治霧露之清邪中於上焦。與白芷同作面脂，既能治風，又能治濕，亦各其類也。</p>

<h3>白芷</h3>
<p>辛溫，手陽明引經本藥也，兼入肺經。解利手陽明頭痛，中風寒熱及肺經風熱，頭面皮膚風痹燥癢，眉稜骨痛，鼻淵衄齒痛，崩帶，能蝕膿，東垣云：白芷療風通用，其氣芳香，能通九竅，表汗不可缺也。時珍曰：白芷能闢蛇，故蛇傷者用之，亦制以所畏也。微焙用。</p>

<h3>白芍</h3>
<p>藥味酸微寒，為脾肺行經藥，入肝脾血分。瀉肝安神，收胃止瀉，實腠理，和血脈。痢疾腹痛，脾虛中滿，胎產諸疾，退熱除煩，明目，斂瘡口。赤者破血下氣，利小便。東垣曰：芍藥酸澀，何以言利小便？蓋能益陰滋濕而停津液，故小便自行，非通利也。按芍藥微寒，未若芩、連、梔、柏之甚也？而寇氏云：減芍藥以避中寒。丹溪云：新產後勿用芍藥，恐酸寒以伐生生之氣。嗟夫藥之寒者，行殺伐之氣，違生長之機，雖微寒如芍藥，猶且諄諄告戒，況大苦大寒之劑，其可肆行而莫之忌耶。避其寒，用酒炒。入血藥，用醋炒。</p>

<h3>牡丹皮</h3>
<p>苦辛微寒，肝經藥也。清腎經之虛熱，理無汗之骨蒸，涼血行血，通關腠，排膿消瘀，定吐衄血。時珍云：牡丹皮治腎肝血分伏火，伏火即相火也。古方惟以此治相火，故仲景腎氣丸用之。後人惟知黃柏治相火，不知丹皮更勝也。此千古秘奧，人所不知，赤花者利血，白花者補人，宜分別用。肉厚者佳，酒洗微焙。</p>

<h3>木香</h3>
<p>性溫味辛，氣味俱厚，沉而下降，統理三焦氣分。主心腹痛，健脾胃，消食積，止吐利，安胎氣，理疝氣，療腫毒，闢鬼邪。時珍云：諸氣膹郁，皆屬於肺。故上焦氣滯者宜之，乃金鬱則泄之也。中氣不運，皆屬於脾，故中焦氣滯者宜之，脾胃喜芳香也。大腸氣滯則後重，膀胱氣不化則癃淋，肝氣逆上則為痛，故下焦氣滯者宜之，乃塞者通之也。形如枯骨，味苦黏牙者良。凡入理氣藥，只生用之。若欲實大腸藥，須以麵裹煨，面熟為度。</p>

<h3>高良薑</h3>
<p>辛溫，獨入脾胃。主寒邪腹痛。止嘔吐，寬噎膈，破冷癖，除瘴瘧，消宿食。東壁上炒用。</p>

<h3>草豆蔻</h3>
<p>辛溫，入脾胃二經。脾胃多寒濕、鬱滯者，與之相宜。然多用能助脾熱，傷肺損目。麵裹煨，去皮。</p>

<h3>白豆蔻</h3>
<p>辛溫，入肺脾二經。散肺中滯氣，祛胃中停積，退目中雲翳，通噎膈，除瘧疾，解酒毒，止吐逆。楊士瀛云：治脾虛瘧疾，能消能磨，流行三焦，營衛一轉，諸症自平。《肘後方》云：患噁心者，惟嚼白豆蔻最佳。其功全在芳香力氣，一經火炒，便減功力，即入湯液，但當研細，待諸藥煎好，乘沸點服，尤妙。</p>

<h3>縮砂仁</h3>
<p>辛溫，入肺、脾、胃、腎四經。和中行氣，消食醒酒，止痛安胎，除上焦浮熱，化銅鐵骨哽。同熟地、茯苓能納氣歸腎；同檀香、白蔻能下氣安肺；得白朮、陳皮能和氣益脾。炒香，去衣。</p>

<h3>益智仁</h3>
<p>辛溫，能達心與脾胃。進飲食，攝涎唾，止遺泄及小便多，止女人崩漏，亦能安養心神。《直指》云：心者脾之母，進食不止於和脾。蓋火能生上，故古人進食，必先益智，上中益火也。去殼鹹水</p>

<h3>肉果</h3>
<p>辛溫，善入手、足陽明。暖脾胃，固大腸，消宿食，寬膨脹，止吐逆。按土性喜暖愛香，故肉果與脾胃最為相宜，其能下氣者，脾得補而健運，非若厚朴，枳實之偏於峻削也。糯米粉裹，煻火中煨熟，去粉用，忌鐵器。</p>

<h3>補骨脂</h3>
<p>辛溫，宜腎興陽事，止腎泄，暖丹田，斂精神。腰膝痠疼，腎冷精流者，不可缺也。韓飛霞雲：補骨脂屬火，收斂神明，能使心包之火與命門之火相通。故元陽堅固，骨髓充實。《本事方》云：腎氣衰弱，則陽事痿劣，不能熏蒸脾胃。令人痞滿少食。譬如釜中無火，雖終日不熟，何能消化？補骨脂助火，固能生土。更加木香以順氣，使之斡旋倉廩，倉稟空虛，則受物矣。揉去皮，以胡桃肉拌炒，或鹹水炒。</p>

<h3>薑黃</h3>
<p>苦溫，善達肝、脾。下氣破血，化癥瘕血塊，消癰腫。大者為片子黃，能入臂理痛。</p>

<h3>鬱金</h3>
<p>辛苦，入心。下氣破血，止心腹痛，產後敗血攻心，失心顛狂，衄血吐血，痘毒入心。《經驗方》云：一婦人患顛十年，用鬱金七兩，明礬三兩，為末，薄荷湯法丸。才服五十丸，心胸間覺有物脫去，再眼而蘇。此因驚憂而致。痰與血凝於心竅也。</p>

<h3>蓬莪朮</h3>
<p>苦辛而溫，專走肝家。破積聚惡血，疏痰食作痛。李時珍云：鬱金入心，專司血病；薑黃入脾，治血中之氣；蓬朮入肝，治氣中之血，稍有不同。醋炒者，引入血分。</p>

<h3>荊三稜</h3>
<p>苦溫，肝家血分藥也。破堅積結聚，行瘀血宿食，治瘡腫堅硬，通經下乳，墮胎。昔有患癥癖者，死遺言必開腹取之。得塊堅如石，文理有五色，削為刀柄，後劉三稜，柄消成水，故知得療癥瘕。元素云：能瀉真氣，虛者勿用。醋煮，炒乾。</p>

<h3>香附</h3>
<p>辛甘微苦，足厥陰、手少陽藥也。利三焦，開六郁，消痰食，散風寒，行血氣，止諸痛，月候不調，崩漏胎產，多怒多憂者，需為要藥。丹溪云：香附行中有補，如天之所以為天者，健運不息，故生生無窮，即此理也。李時珍云：生則上行胸膈，外達皮毛；熟則下走肝腎，外徹腰足。炒黑則止血，便制則入血補虛，咸炒入血潤燥，酒炒則行經絡，醋炒則消積聚，薑汁炒則化痰。得參、術則補氣，得歸、地則補血，得蒼朮、撫芎則解鬱，得黃連、山梔則降火，得紫蘇則發散，得艾葉則暖子宮。韓飛霞雲：香附能推陳致新，故諸書皆云益氣。而俗有耗氣之說，宜於女人不宜於男子者，非矣。</p>

<h3>藿香</h3>
<p>辛溫，脾肺之藥也。開胃進食，溫中快氣，止心腹痛，為吐逆要劑。東垣謂其芳香助胃，故能止嘔進食。今市中售者，殊欠芳香，安望其有功耶？凡使，須水洗淨。</p>

<h3>澤蘭</h3>
<p>苦而微溫，肝、脾藥也。破瘀血，消癖癥，宣九竅，利關節，通小腸，治水腫，塗癰疽。按澤蘭芳香，悅脾可以快氣疏利，悅肝可以行血，流行營衛，暢達膚竅，遂為女科上劑。</p>

<h3>香薷</h3>
<p>辛溫，入肺。發散暑邪，通利小便，定霍亂，散水腫。世醫治暑，概用香薷，殊不知香薷為辛溫發散之劑。如納涼飲冷，陽氣為陰邪所遏，以致惡寒發熱、頭痛、煩渴，或霍亂吐瀉者，與之相宜。若勞役傷暑，汗多煩喘，必用清暑益氣湯。如大熱大渴，人參白虎湯，以瀉火益元。若用香薷，是重虛其表，反助其熱矣。今人不知暑傷元氣，概用香薷代茶，不亦誤乎？《外臺秘要》香薷一斤，熬膏，加白朮末七兩，丸如桐子，米飲下。治通身水腫，頗著神功。忌火焙，並忌日曬。</p>

<h3>荊芥</h3>
<p>辛溫，入肺、肝二經。散風熱，清頭目，利咽喉，消瘡毒，化瘰癧，破結聚，下瘀血。按荊芥本功治風，又兼治血者，為其入風木之臟，即是藏血之地，故並主之。與河豚，黃顙魚、驢肉相反，若同日食之，多致喪命，不可不痛戒也。荊芥穗，炒黑，治下焦血有功。</p>

<h3>薄荷</h3>
<p>辛涼，肺、肝藥也。除風熱，清頭目，利咽喉，止痰嗽，去舌苔。洗癮疹、瘡疥、瘰癧，塗蜂螫蛇傷，塞鼻止衄血，擦舌療蹇澀。按薄荷氣味俱薄，浮而上升，故能清理高巔，解散風熱。然芳香尖利，多服久服，令人虛汗不止。軟弱人久用，反動消渴病。</p>

<h3>紫蘇</h3>
<p>辛溫，肺家藥也。葉可發散風寒；梗能行氣安胎；子可消痰定喘，解魚蟹毒，治蛇犬傷。按紫蘇以辛散為功，久服泄人真氣，俗世喜其芳香，愛其達氣，或為小蔬，或作蜜餞，朝暮服之，甚無益也。古人云：芳草致豪貴之疾，蓋指此類耳。</p>

<h3>甘菊花</h3>
<p>味甘性平，入肺、腎兩經。清頭目風熱，定風虛眩暈，利血脈，安腸胃，悅皮膚，止腰疼，翳膜遮睛，冷淚流溢，珍為要品。菊花，屬金與水，惟其益金，故肝木得乎而風自息；惟其補水，故心火有制而熱自除。甘美和平，得天地清純沖和之氣，是以服食家重之如寶玉也。鍾會贊菊有五美云：圓花高懸，准天極也。純黃不雜，合土色也。早植晚發，君子德也。冒霜吐英，象真質也。味和體輕，神仙食也。甘者功用弘多，苦者但可理癰。白者入氣，赤者入血，神而明之，存乎其人耳。忌火，去蒂，漿過曬乾，乘燥入磨。</p>

<h3>艾葉</h3>
<p>辛苦而溫，通行十二經。溫中氣，祛寒濕，定吐衄，止下利，安胎氣，除腹痛，理崩帶，闢鬼邪，殺諸蟲。灼灸百病，大有奇功。艾性溫暖，有徹上徹下之功，服之以祛寒濕，可轉肅殺為陽和，灸之以通經絡，可起沉疴為康泰，其用最普，其功最巨。蘇頌訛云：不可妄服，此必燥熱者，久服故耳。今人謬執斯言，沒其神用，何異於因噎而廢食耶！老弱虛人，下元畏冷，以熟艾兜其臍腹，妙不可言。生用則涼，熟用則熱。</p>

<h3>茵陳蒿</h3>
<p>足太陽藥也。治發黃，驅濕熱，利小便，通關節。按發黃有陰陽二症，茵陳，同梔子、黃柏，以治陽黃；同附子、乾薑以治陰黃。總之茵陳為君，隨佐使之寒熱，而理黃症之陰陽也。古法用茵陳、生薑搗爛，於胸前、四肢，日日擦之。</p>

<h3>青蒿</h3>
<p>苦寒，入肝經血分。主真陰不足，伏熱骨蒸，生搗傅金瘡，止血止痛。殺鬼氣屍疰，理久瘧久痢。按青蒿得春獨早，其發生在群草之先，故治少陽、厥陰諸症，特著其功。然性頗陰寒，胃虛者不敢投也。童便浸一日夜，曬乾。</p>

<h3>茺蔚</h3>
<p>即益母草。心、肝二經，血分藥也。活血破血，調經止痛，下水消腫，胎前產後一切諸症，皆不可缺。可浴癮疹，搗傅蛇毒。茺蔚子，功用略同，但葉則專主行血，子則行中有補，故廣嗣及明目藥中，多收之。然畢竟職專行血，故瞳神散大者，又在禁例。微炒，舂去殼用。</p>

<h3>夏枯草</h3>
<p>苦辛微寒，獨入厥陰，消瘰癧，散結氣，止目珠痛。此草補養厥陰血脈，又能疏通結氣，目痛瘰癧，皆系肝症，故獨建神功。然久用亦防傷胃。與參、術同行，乃可久服無弊。</p>

<h3>旋覆花</h3>
<p>鹹甘微溫，入肺與大腸二經。通血脈，消結痰，驅痞堅，除水腫，散風濕，開胃氣，止嘔逆。旋覆花之功頗多，然不越乎通血，下氣，行水而已。但是走散之品，非虛衰者所宜也。去蒂及皮，蒸用。</p>

<h3>紅花</h3>
<p>辛溫，入心與肝，血分藥也。活血通經，去瘀散腫。產後血運，胎死腹中，並宜用之。多用破血，少用養血。酒噴，微焙。</p>

<h3>大小薊根</h3>
<p>甘溫，入脾、肝二經。破宿血，生新血，安貽氣，止崩漏，定吐衄。大小薊，皆能破血，但大薊力勝能消癰，小薊力微只可退熱，不能消癰。酒洗，或童便拌，微炒。</p>

<h3>續斷</h3>
<p>苦而微溫，獨入肝家。助血氣，續筋骨，破瘀結，消腫毒，縮小便，止遺泄，理胎產崩帶，及跌撲損傷。血痢，用平胃散五錢，入續斷一錢二分，煎湯服必效。以其既能行血，又能止血，宣中有補也。酒浸炒。</p>

<h3>胡蘆巴</h3>
<p>苦溫，純陽之品，補火之藥也。主元藏虛寒，疝瘕，寒溫，腹脅脹滿，腳氣。胡蘆巴，乃海南山中所產蘿蔔子也。溫補下元，導火歸經，與肉桂同功，至宋時始出，故《圖經本草》未之及耳。酒浸炒。</p>

<h3>牛蒡子</h3>
<p>即鼠黏子。辛溫，入肺。達肺氣，利咽喉，去皮膚風，消斑疹毒，出癰疽頭。牛蒡子，本入肺理風之劑，兼理腰膝凝滯者，一則金為水母，一則清肅下輸，或謂兼入腎者，非其升浮之用也。</p>

<h3>豨薟</h3>
<p>苦寒，入肝。主風氣麻痹，胃痛膝弱，風濕諸瘡。按豨薟苦寒之品，且有毒，令人吐，以為生寒熟溫，理或有之。以為生瀉熟補，未敢盡信，豈有苦寒搜風之劑，一經蒸煮，便有補益之功耶？世俗以慎微《本草》譽之太過，遂誤認為風家至寶。余少時亦信之，及恪誠修事，久用無功，始知方書未可盡憑也。古人所謂補者，亦以邪氣去則正氣昌，非謂其本性能補耳。酒蜜潤蒸。</p>

<h3>蘆根</h3>
<p>甘寒，入胃。主胃熱火逆，嘔吐噎噦，消渴瀉痢。取肥者，去須節並赤黃皮。</p>

<h3>麻黃</h3>
<p>辛甘而溫，氣味俱薄，輕清上浮，入手太陰、足太陽二經。去營中寒邪，泄衛中風熱，通利九竅，宣達皮毛，消斑毒，破徵結，止咳逆，散腫脹。按麻黃輕可去實，為發表第一藥。惟當冬令在表，真有寒邪者，始為相宜。雖發熱惡寒，苟不頭疼，身痛拘急，脈不浮緊者，不可用也。雖可汗之症，亦當察病之重輕，人之虛實，不得多服。蓋汗乃心之液，若不可汗而誤汗，雖可汗而過汗，則心血為之動搖。或亡陽，或血溢，而成壞症。可不兢兢至謹哉。服麻黃，須謹避風寒，不爾復發難療。去根節，煮數沸，掠去上沫，不去沫，令人煩，根節能止汗故也。</p>

<h3>木賊</h3>
<p>甘苦，入肝，退目翳，止淚出。木賊與麻黃同形同性，亦能發汗散火。治木器者，用之搓擦則光淨，故有木賊之名。取以制肝，木有靈也。</p>

<h3>燈心</h3>
<p>平淡，入太陽經。利小便，除水腫，燒灰吹急喉痹。傅陰疳，神效。</p>

<h3>生地</h3>
<p>甘寒，入心、腎兩經。滋腎水，養真陰，填骨髓，長肌肉，利耳目，破惡血，理折傷。解煩熱，除脾傷痿倦，去胃中宿食。清掌中熱癰，潤皮膚索澤，療吐血，衄血，尿血，便血，胎前產後崩中帶下。</p>

<h3>熟地</h3>
<p>甘溫。功用尤弘，勞傷胎產家，推為上劑。脈洪實者，宜於生地；脈虛軟者，宜於熟地。六味丸以之為首，天一所生之源也；四物湯以之為君，乙癸同歸之治也。生地性寒，胃虛者恐其妨食，宜醇酒炒之以制其寒。熟地性滯，痰多者，恐其泥膈，宜薑汁炒之，以制其滯。更須佐以砂仁、沉香二味，皆納氣歸腎，又能疏地黃之滯，此用藥之權衡也。揀肥大沉水者，好酒同砂仁末拌勻，入柳木甑於瓦鍋內，蒸極透，曬乾，九次為度。地黃，稟北方純陰之性，非太陽與烈火，交相為制則不熟也。市中惟用酒者，不知其不熟也，向使一煮便熟，何固本膏用生、熟地各半耶？忌銅鐵器，否則令人腎消，發白。</p>

<h3>牛膝</h3>
<p>苦酸，腎、肝藥也。補腎強陰，理腰脊膝脛之病，補肝強筋，療血結拘攣之苦。止淋家莖痛欲死，截久瘧寒熱不休，能落死貽，出竹木刺。按五淋諸症，極難見效，惟牛膝一兩，入乳香少許，煎服，連進數劑，即安。性主下行，且能滑竅，夢失遺精者，在所當禁，此千古秘奧也。欲下行，則生用。滋補則酒炒。</p>

<h3>紫菀</h3>
<p>辛甘微溫，肺家藥也。益肺調中，消痰定喘，止血療咳。解渴，潤肌，補虛闢鬼。紫菀，辛而不燥，潤而不寒，補而不滯，誠哉金玉君子。然非獨用，多用，不能速效。小便不通及溺血者，服一兩，立效。去須洗淨，微火焙。</p>

<h3>麥門冬</h3>
<p>甘而微寒，肺經藥也。清肺中伏火，定心臟驚煩，理勞瘵骨蒸，止血熱妄行。理經枯乳閉，療肺痿吐膿，潤燥干煩渴。麥門冬主用煩多，要不越清肺之功。夏令濕熱，人病困倦無力，身重氣短，孫真人立生脈散，補天元真氣，人參甘溫，瀉虛火而益元氣，麥冬甘寒，潤燥金而清水源，五味子之酸溫，瀉丙丁而補庚金，殊有妙用，然胃寒者不敢餌也。去心用。若入丸劑，湯潤搗膏。畏其寒者，好酒浸搗。</p>

<h3>冬葵子</h3>
<p>甘寒，太陽藥也。達諸竅，疏大腸，利小便，催難產，通乳閉，出癰疽頭，下丹石毒。葵根，功用與子相仿，小兒誤吞銅錢，以根煮汁飲之，神效。葵性淡滑為陽，能利竅，通閉，關格者恆用之。別有一種蜀葵根，腸胃生癰者，同白芷服，善能排膿，散毒。</p>

<h3>款冬花</h3>
<p>辛而微溫，肺經藥也。潤肺消痰，止咳定喘，清喉痹，理肺痿肺癰。古人治久咳，款冬花一兩，蜂蜜拌潤，入茶壺中，以面固其蓋，勿令漏氣。壺下著炭火，待煙從壺口出，口含吸咽，煙盡乃止，數日必效。按傅咸款冬花賦云：冰凌盈谷，雪積被崖，顧見款冬，煒然華豔，則其純陽之性可知。雖具辛溫，卻不燥熱，故能輕揚，上達至高Z之府，贊相傅而奏功勳也。蜜水拌焙。</p>

<h3>決明子</h3>
<p>苦寒，東方藥也。清肝家風熱，去目中翳膜，理赤眼淚出。炒熟，研碎。</p>

<h3>瞿麥</h3>
<p>苦寒，入太陽經。逐膀胱邪熱，治小便不通。明目，墮胎。按瞿麥之用，惟破血利竅四字，可以盡其功能，非久任之品也。炒用。</p>

<h3>葶藶子</h3>
<p>辛寒，入肺。瀉氣。主肺壅上氣，咳嗽喘促，痰氣結聚，通身水氣。按《本草》十劑云：泄可去閉，葶藶、大黃之屬。此二味皆大苦大寒，大黃泄血閉，葶藶泄氣閉。夫葶藶之峻利不減大黃。性急逐水，殊動真氣，稍涉虛者，宜痛戒之。有甜苦二種，苦者專泄，甜者稍緩。然肺家水氣，非此莫能療，但不敢多用耳。酒炒，或同糯米炒，米熟，去米用。</p>

<h3>車前子</h3>
<p>甘寒，入腎、膀胱二經。利小便，除濕痹，益精氣，療目赤，催產難。車前子利小便而不走氣，與茯苓同功。以紗囊揉去泥土，炒熟。</p>

<h3>連翹</h3>
<p>苦寒，入心。瀉心火，破血結，散氣聚，消腫毒，利小便。諸瘡痛癢皆屬心火，連翹瀉心，遂為瘡家要藥。治癭癧瘡瘍有神，然久服有寒中之患。酒炒，研用。</p>

<h3>青黛</h3>
<p>甘寒，東方藥也。瀉肝氣，散鬱火，殺疳蟲，傅熱瘡。古稱青黛從波斯國來，今惟以靛花充用，然干靛多夾灰石，須淘澄去淨，取浮標用。</p>

<h3>萹蓄</h3>
<p>苦寒。利小便，驅濕熱，殺諸蟲。</p>

<h3>沙菀蒺藜</h3>
<p>甘溫，善走腎、肝二經。主補腎益精，止腰痛遺泄，種玉方中尊為要品。白蒺藜，別為一種，破血消痰，治風明目，亦能補腎。</p>

<h3>穀精草</h3>
<p>甘平，陽明藥也。主頭風翳膜，痘後目翳，此草收谷後，荒田中生之，得谷之餘氣，獨行陽明分野，明目退翳之功，而在菊花之上。</p>

<h3>海金沙</h3>
<p>甘寒，小腸、膀胱藥也。主濕熱腫滿，通小便淋秘。此太陽經血分之藥，惟在二經血分熱者，始為相宜。勿令見火。</p>

<h3>大黃</h3>
<p>苦寒，足太陰、手足陽明、手足厥陰，五經血分之藥也。行瘀血，導血閉，通痢積，破結聚，消飲食，清實熱，瀉痞滿，潤燥結，敷腫毒，盪滌腸胃，推陳致新。大黃性極猛烈，故有將軍之號。本血分之藥，若在氣分用之，未免誅伐太過矣。瀉心湯治心氣不足，而邪火有餘也。雖曰瀉心，實瀉血中伏火也。又仲景治心下痞滿用大黃黃連瀉心湯，此亦瀉脾胃之濕熱，非瀉心也。病發於陰而反下之，則為痞滿，乃寒傷營血，邪氣乘虛結於上焦。故曰瀉心，實瀉脾也。病發於陽而反之下，則為結胸，乃熱邪陷入血分，亦在上焦。大陷胸湯丸皆用大黃，亦瀉脾胃血分之邪也。若結胸在氣分，只用小陷胸湯。痞滿在氣分者，只用半夏瀉心湯。成無己不知其分別此義。凡病在氣分，胃虛血虛，胎前產後，並勿輕用，其性苦寒，能傷氣耗血也。欲下行者，必生用之。若邪在上者，必須酒服引上至高，祛熱而下也。欲取通利者，須與穀氣相遠，下後亦不得驟進穀氣，大黃得穀氣，便不能通利耳。</p>

<h3>商陸根</h3>
<p>酸辛，有毒，通大小腸。疏泄水腫，攻消痃癖，搗敷腫毒喉痹，小兒痘毒，同蔥白填臍。白者可入湯散，赤者但堪外貼。古贊云：其味酸辛，其形類人。其用療水，其效如神。與大戟、甘遂，異性而同功，虛者不可用。止用貼臍，利小便，即腫消也。</p>

<h3>大戟</h3>
<p>苦寒，有毒。入肝與膀胱。利大小便，泄十種水病，破惡血癖塊。李時珍云：痰涎無處不到。入心，則迷竅而顛狂；入肺，則塞竅而咳喘；入肝，則脅痛乾嘔，入經絡，則痹痛；入筋骨，則引痛。並用控涎丹，殊有奇功。此治痰之本。本者水濕也。得氣與火，變為痰涎。大戟泄臟腑之水濕，甘遂行經隧之水濕，白芥子散皮膚膜外之痰，善用者收奇功也。錢仲陽曰：腎為真水，有補無瀉，又云痘瘡變黑歸腎，用百祥丸以瀉腎，非瀉腎也，瀉其腑則臟自不實。百祥丸惟大戟一味，大戟能行水，瀉膀胱之府，則腎臟不實。竊謂百祥非獨瀉腑，乃實則瀉其子也，腎邪實而瀉肝也。大戟浸水色青，肝膽之色也。仲景治痞滿脅痛，乾嘔短氣，十棗湯主之。亦有大戟。夫乾嘔脅痛，非膽症乎？則百祥之瀉肝膽，明矣。何獨瀉腑乎？用棗同煮軟，去骨，曬乾。</p>

<h3>甘遂</h3>
<p>苦寒，有毒。濱決十二經。疏通水道，攻堅破結。張元素云：味苦氣寒。直達水氣所結之處，水結胸中，非此不除，故大陷胸湯用之。但有毒不可輕用。劉河間云：水腫未消，以甘遂末塗腹，繞臍，內服甘草水，其腫便去。又塗腫毒，濃煎甘草湯服，其毒即散。赤皮者佳，白皮者性劣也。麵裹煨熟，用以去其毒。</p>

<h3>續隨子</h3>
<p>辛溫，有毒。破瘀血癥癖，蠱毒鬼疰，水腫，利大小腸，下水甚捷。有毒傷人，不得過用。服後瀉多，以醋同粥食即止。去殼，取色白者，研爛，紙包，壓去油，取霜用。</p>

<h3>蓖麻子</h3>
<p>辛熱，有毒。服者，一生勿食炒豆，犯即脹死。且有毒損人，故不可輕服。但取外治，其用甚多。研傅瘡癰瘰癧；塗足心，催生；口眼歪斜，左歪貼右，右歪貼左；塞鼻，治壅；塞耳，治聾；小便不通，三粒研細，入紙捻，插莖即通；子宮脫下，塗頂即收。丹溪云：追膿拔毒，乃外科要藥。又曰鵜鵝油能引藥氣入內，蓖麻油能拔病氣出外。偏風，手足不舉同羊脂、麝香、山甲，煎作膏，日摩數次。手臂腫痛，萆麻搗膏貼之，一日即愈。偏頭痛，同乳香搗塗即止。外用必奏奇，內服多致損人。取萆麻油法，研爛，入水，用火煮之，有沫撇起，沫盡乃止，取沫煎至滴水成珠為度。</p>

<h3>常山</h3>
<p>苦寒，有小毒。消痰至捷，截瘧如神，常山劫痰療瘧，無他藥可比，須在發散表邪之後，用之得宜，立建神功。世俗聞雷斅有老人久病之戒，遂視常山為峻劑，殊不知常山發吐，惟生用與多用為然，為甘草同行，則亦必吐。若酒浸炒透，但用錢許，余每用必建奇功，未有見其或吐者也。不一表明，將使良藥見疑，沉疴難起，抑何其愚耶？酒浸一宿，切薄片，慢炙，久炒。形如雞骨者良。</p>

<h3>附子</h3>
<p>辛熱，有毒。通十二經，無所不至。暖脾胃而驅寒濕，補命門而救陽虛，除心腹腰膝冷疼，破癥堅積聚血瘕，治傷寒陰症厥逆，理虛人隔噎脹滿，主督脈脊強而厥，救疝家引痛欲絕，斂癰疽久潰不收，拯小兒脾弱慢驚。附子稟雄壯之性，有斬關之能。引補氣藥，以追散失之元陽；引補血藥，以滋不足之真陰；引發散藥，以逐在表風寒；引溫暖藥，以祛在裡之寒濕，其用弘矣。張元素云：附子以白朮為佐，乃除寒濕之聖藥。又益火之原，以消陰翳，則便溺有節。丹溪云：氣虛熱甚者，少加附子，以行參耆之功。肥大多濕者，亦宜之。戴元禮云：附子無干姜不熱，得甘草則性緩。李時珍云：陰寒在下，虛陽上浮。治之以寒，則陰氣益甚；治之以熱，則拒而不納。熱藥冷飲，下咽之後，冷體既消，熱性便發，病氣隨愈。此熱因寒用之法也。予每遇大虛之候，參、術無用，必加附子，便得神充食進。若陰虛陽旺，形瘦，脈數者，不可輕投。附子，以蹲坐正節角少，重一兩者佳，形不正而傷缺風皺者，不堪用也。沸湯泡，少頃，去皮臍，切作四分，用甘草濃汁二鍾，慢火煮之，汁干為度，隔紙烘乾。或用便制者，只宜速用，不堪藏也。毋為！</p>

<h3>烏頭</h3>
<p>附烏頭而生者，為附子。身長者，為天雄。大抵風症用烏頭，寒症用附子。而天雄之用，與附子相仿，但功力略遜耳。按烏、附、天雄，皆是補下之藥。若繫上焦陽虛，當用參、耆，不當用天雄也。且烏、附、天雄之尖，皆是向下生者，其氣下行，其臍乃向上，生苗之處。寇氏謂天雄之性，不肯就下。元素謂天雄之性，補上焦陽虛，皆為誤見。</p>

<h3>天南星</h3>
<p>苦辛，有毒，脾、肺、肝之藥也。主風痰麻痹，眩運，口噤身強，筋脈拘緩，口眼腫邪，堅積癰疽，利水去濕，散血墮胎。味辛而散，故能治風散血；氣溫而燥，故能勝濕除涎；性緊而毒，故能攻堅拔毒。凡諸風口噤，需為要藥。重一兩者佳。生用，以溫湯洗過，礬湯浸三日夜，日日換水，曬乾。熟用者，酒浸一宿，入甑蒸一日，以不麻舌為度。造膽星法：南星生研末，臘月取黃牛膽汁，和劑納膽中，懸有風處，年久彌佳。</p>

<h3>半夏</h3>
<p>辛溫，有毒，脾、胃藥也。燥濕和中，消痰止嗽，開胃健脾，止嘔定吐，消癰墮胎。好古曰經云：腎主五液，化為五濕，自入為唾，入肝為泣，入心為汗，入脾為痰，入肺為涕。有痰曰嗽，無痰曰咳，痰因咳動，脾之濕也。半夏能泄痰之標，不能泄痰之本。泄本者泄腎也，咳無形而痰有形，潤腎燥脾，無形則潤，有形則燥，所以為流濕潤燥耳。以半夏為肺藥，非矣。止吐，為足陽明；除痰，為足太陰也。汪機曰：脾胃濕熱，涎化為痰，自非半夏曷可治乎？若以貝母代之，則翹首待斃。時珍曰：脾無濕不生痰，故脾為生痰之源，肺為貯痰之器。半夏治痰，為其體辛溫也。涎滑能潤，故行濕而通大便，利竅而泄小便。所謂辛走氣，能化液，辛以潤之是矣。丹溪謂半夏能使大便潤而小便長。成無己謂半夏行水氣而潤燥。《局方》半硫丸治老人虛秘，皆取其滑盛也。俗以半夏為燥，誤矣。濕去則土燥，則痰涎不生，非其性燥也。惟陰虛勞損，非濕熱之邪而用之，是重竭其津液，醫之咎也，豈藥之罪哉？愚謂同蒼朮、茯苓則治濕痰；同栝樓，黃芩則治熱痰；同南星、前胡則治風痰；用芥子、薑汁則治寒痰；惟治燥痰但宜以貝母、栝樓，非半夏所司也。半夏主治頗多，總是去濕健脾之力，苟無濕症，與半夏不相蒙也。古人半夏有三禁：謂汗家、渴家、血家，以其行濕利竅耳。擇大而白者，水浸七日，每日換水，去衣淨，更以薑汁、明礬，皂角同煮透，曬乾。造麴法：以半夏洗淨，去衣研細，以薑汁、礬湯、搜和作餅，楮葉包裹，待生黃衣，去葉曬乾。</p>

<h3>芫花</h3>
<p>辛溫，有毒。消痰飲水腫濕痹，咳逆上氣，喉鳴咽腫，疝瘕癰毒。李時珍曰：仲景治太陽表不解，心下有水氣，乾嘔發而咳，或喘或利者，小青龍湯。表已解，頭痛出汗，惡寒，心下有水氣，痛引兩脅，或喘或咳者，十棗湯。小青龍發散表邪，使水氣自毛竅出，開鬼門也。十棗湯祛逐里邪，使水氣自二便出，潔淨府也。飲症有五，皆因內啜水漿，外感濕氣，鬱而為飲。流於肺則為支飲，令人喘咳寒熱，吐沫背寒；流於脾則為懸飲，令人咳唾，痛引缺盆及兩脅；流於心下則為伏飲，令人胸滿嘔吐，寒熱眩暈；流於腸胃，則為痰飲，令人腹鳴吐水，胸脅支滿，或泄瀉，忽肥忽瘦；流於經絡，則為溢飲，令人沉重注痛，或作水腫。芫花、大戟、甘遂之性，逐水去濕，直達水飲窠囊之處。取效甚捷。多即損人。陳久者良，醋煮數沸，去醋，更以水浸一宿，曬乾則毒去也。</p>

<h3>菟絲子</h3>
<p>甘平，腎家藥也。益精髓，堅筋骨，止遺泄，主溺有餘瀝，去腰膝痠軟。菟絲子稟中和之氣，凝正陽之性，不燥不寒，故多功於北方，為固精首劑。水淘淨，去土水，酒浸一宿，焙乾。</p>

<h3>五味子</h3>
<p>肉中酸、甘，核中苦、辛、咸，故名五味。入肺腎二經。滋腎家不足之水，收肺氣耗散之金，強陰固精，止渴止瀉，定喘除嗽，斂汗明目。東垣云：五味子收肺氣，乃火熱必用之藥，故治嗽以之為君。但有外邪者不可驟用。丹溪云：五味收肺，非除熱乎？補腎，非暖水臟乎？乃熱嗽必用之品。食之多虛熱者，收補之驟也。黃昏嗽乃火浮入肺，不宜涼藥，宜五味子，斂而降之。元素云：夏月困乏，無氣以動，與黃耆、人參、麥門冬、五味子，少加黃連，煎服，使人精神頓加，兩足筋力湧出。補用熟，嗽用生。</p>

<h3>覆盆子</h3>
<p>甘平，入腎。起陽治痿，固精攝溺。強腎而無燥濕之偏，固精而無凝澀之害，金玉之品也。酒浸一宿，焙用。</p>

<h3>馬兜鈴</h3>
<p>苦寒，入肺。清肺氣，止咳嗽，定喘促。體輕而虛，與肺同象，故專司喘嗽，以清熱降氣為功，不能補益也。</p>

<h3>使君子</h3>
<p>使君子甘溫，入脾。殺蟲，退熱，健脾，止瀉。殺蟲之藥，多是苦辛，此獨味甘，亦可異矣。且能扶助脾胃，收斂虛熱，為小兒要藥。</p>

<h3>牽牛子</h3>
<p>辛溫，入肺及大小腸。利小便，通大腸，消水腫，逐痰飲，除氣分濕熱，疏三焦壅結。牽牛，主脾家水氣，喘滿腫脹，下焦郁遏，腰背脹腫，及大腸風秘，卓有殊功。但病在血分及脾虛痞滿者，不可服也。李時珍治一人腸結，服養血潤燥藥則泥膈不快，服硝黃利藥則若罔知。其人形肥膏粱多郁，日吐酸痰乃寬，此三焦氣滯，有升無降，津液皆化而為痰，不能下滋腸胃，非血燥也。潤劑多滯，硝黃入血，不能入氣，故無效也。牽牛為皂角膏丸，才服便通。一人素多酒色，二便不通，下極脹痛，用利藥不效。是濕熱之氣壅塞清道，病在二陰之間，故前阻小便，後阻大便，病不在大腸、膀胱也。用川楝、茴香、山甲，倍用牽牛，煎服而愈。碾取頭末，去皮面用，亦用半生半熟用者。皮能滯氣，勿誤用。</p>

<h3>天花粉</h3>
<p>甘苦微寒。主內熱乾渴，痰凝咳嗽，煩滿身黃，消毒通經。苦能降火，甘不傷胃，故《本經》有安中補虛之稱。虛熱燥渴者，與之相宜。且清和疏利。又能消毒通經，然毒竟行秋冬之令，非所以生萬物者也。去皮，切片，水浸三日，逐日換水，搗如泥，絹濾澄粉，薄荷襯蒸，曬乾。實名瓜蔞，主胸痹腫毒，潤肺止咳，滌痰止渴。丹溪頌其洗滌胸垢，為治渴神藥。其子功用約略相同，研爛去油。</p>

<h3>葛根</h3>
<p>辛甘，陽明經藥也。主頭額痛，解肌止渴，宣斑發痘，消毒解醒。元素曰：升陽生津。脾虛作渴者，非此不除。不可多用，恐傷胃氣。仲景治太陽陽明合病，桂枝湯內加麻黃、葛根。又有葛根黃連解肌湯，用以斷太陽入陽明之路，非太陽藥也。葛根蔥白湯，為陽明頭痛仙藥。若太陽初病，未入陽明而頭痛者，不可使用升麻、葛根，反引邪入陽明矣。丹溪曰：癍疹已見紅點，不宜用葛根升麻湯，恐表虛反增斑爛也。東垣曰：乾葛輕浮，鼓舞胃氣上行，生津，解肌熱，治脾胃虛瀉聖藥也。《本草》十劑云：輕可去實，麻黃、乾葛之後。益麻黃乃太陽經藥，兼入肺經，肺主皮毛；葛根乃陽明經藥，兼入脾經，脾主肌肉。二藥均是輕揚發散，而所入迥然不同也。</p>

<h3>天門冬</h3>
<p>甘苦而寒，肺與腎之藥也。主肺熱咳逆喘促，肺痿，肺癰吐血，衄血，乾渴，痰結，通腎益精。天門冬涼而能補，肺家虛熱者宜之。然虛盛者，須與參、耆同進，不致傷胃。時珍云：天門冬清金降火，益水之上源，故能下通腎氣。若服之日久，必病滑腸，反成痼疾矣。去心用。</p>

<h3>百部</h3>
<p>苦甘微溫。主咳嗽喘逆，殺傳屍、寸白蛔、蟯、疥癬、蠅蠓蝨，一切諸蟲。時珍云：亦麥門冬之類，皆主肺疾。但百部氣溫，寒者宜之；門冬性冷，熱者宜之，此為異耳。</p>

<h3>何首烏</h3>
<p>苦澀微溫，腎肝藥也。補血氣，強筋骨，益精髓，黑鬚發，斂虛汗，固遺濁，止帶崩，理癰⿸疒栗，療腸風，悅顏色，久服令人有子。肝主疏泄，腎主閉藏，苦以堅養腎陰，澀以收攝肝氣，不燥不寒，功在地黃、麥冬之上，為滋補良藥。白者入氣，赤者入血。赤白合用，氣血交培。一老人見有藤二株，至夜相交，掘其根歸為末，酒服，發烏顏少，連生數男，此老姓何，故名何首烏，真神物也。忌鐵，竹刀刮去皮，米泔浸半日，切片，每赤白各一斤，用黑豆三斗，每次用三升合以水浸過，以甑內先鋪豆一層，首烏一層，重重鋪完，砂鍋上蒸之，豆熟為度，去豆，曬乾，九次乃佳。</p>

<h3>萆薢</h3>
<p>苦平，胃與肝藥也。搜風去濕，補腎強筋，主白濁莖中痛，陰痿失溺，惡瘡。入肝搜風，故能理風與筋之病；入胃去濕，故能理濁與瘡之病，古人或稱其攝溺之功，或稱其逐水之效，何兩說相懸耶？不知閉蟄封藏之本在腎，腎氣強旺則收攝，而妄水亦無容藏之地。且善清胃家濕熱，故能去濁分清也，楊氏萆薢分清飲，正和此意。楊子建云：小便頻數無度，莖中痛者，必大腑不通，水液只就小腸，大腑愈加燥竭，甚則燥熱，或因酒色，或因過食辛熱葷膩，則腐物瘀血之類，隨虛入於小腸故也。此乃小便頻數而痛，與淋症澀痛者不同。用萆薢一兩，鹹水炒，為末，煎服，使水道轉入大腸，仍以蔥湯頻洗穀道，令氣得通，則小便數及痛自減也。萆薢與土茯苓形雖不同，主用相仿，豈一類數種乎？鹽水拌，炒用。</p>

<h3>土茯苓</h3>
<p>甘平，入胃、肝二經。健脾胃，清濕熱，利關節，治拘攣，止泄瀉，除骨痛，主楊梅瘡毒，解汞粉毒。時珍云：楊梅瘡，古無病者。近起於嶺表，風土卑炎，嵐瘴熏蒸，挾淫穢濕熱之邪，發為此瘡，互相傳染，遍及海宇，類有數種，治病則同也。症屬厥陰、陽明二經，如兼少陰、太陰則發於咽喉；兼太陽、少陽則發於頭耳。蓋相火寄於厥陰，肌肉屬於陽明故也。用輕粉、銀硃劫劑，七日即愈。水銀性走而不守，加以鹽、礬升為輕粉、銀硃，其性燥烈，善攻痰涎，涎乃脾液，此物入胃，歸陽明，故涎被劫，隨火上升，從喉頰齒縫而出，瘡即干愈。但毒氣竄入經絡筋骨，莫之能出，變為筋骨攣痛，發為癰毒，遂成廢痼。土茯苓能健脾，去風濕。脾健而風濕去，故毒得以愈。近有秘方土茯苓一面，苡仁、防風、金銀花、木瓜、木通、白蘚皮各五分，皂莢子四分，人參、當歸各七分，日飲三服。惟忌啜茶及牛、羊、雞、鵝、魚肉、燒酒、發麵、房勞。色白者佳。</p>

<h3>威靈仙</h3>
<p>辛鹽，入太陽經。搜逐諸風，宣通五臟，消痰水，破堅積。丹溪曰：威靈仙，痛風之仙藥也。其性好走，通十二經，朝服暮效。辛能散邪，故主諸風；鹽能泄水，故主諸濕。壯實，誠有殊功；氣弱者，反成痼疾。</p>

<h3>茜草</h3>
<p>苦溫，厥陰藥也。行血滯，通經脈，理痛風，除寒濕，活血。與紅花同功，而性更通利，忌鐵。</p>

<h3>防己</h3>
<p>辛寒，太陽藥也。主下焦風濕腫痛，膀胱畜熱，通九竅，散癰毒，利二便。東垣云：防己苦寒，瀉血中濕熱，通其滯塞，此瞑眩之藥，下咽令人身心煩亂，飲食減少。至於濕熱壅塞，下注腳氣，無他藥可代。若勞倦虛熱，以防己泄大便，則重亡其血，不可用一也；渴在上焦氣分，而防己乃下焦血藥，不可用二也；外感邪傳肺經，氣分濕熱而小便黃赤，此上焦氣分，禁與血藥，不可用三也。大抵上焦濕熱皆不可用。下焦濕熱審而用之。防己，為療風水要藥。治風，用木防己，治水。用漢防己。去皮，酒洗，曬乾。</p>

<h3>木通</h3>
<p>甘淡微寒，心胞絡、小腸、膀胱藥也。利小便，消水腫，宣血脈，通關節，明耳目，治鼻塞，破積聚，除煩渴，安心神，散癰腫，清伏熱，醒多睡，去三蟲，墮胎下乳。東垣曰：木通甘淡，助西方秋氣下降，以利小便，專瀉氣滯也。肺受熱邪，氣化之源絕，則寒水斷流；膀胱癃閉，宜此治之，時珍曰：木通上能通心清肺，理頭痛，達九竅；下能泄濕祛熱，皆從小便而出。《本草》云：通可去滯，木通、防己之屬。夫防己苦寒，瀉血分濕熱；木通甘淡，瀉氣分濕熱，細而白者佳。</p>

<h3>通草</h3>
<p>淡平，肺與膀胱藥也。利水通淋，明目退熱，下乳催生。色白氣寒，味淡體輕，故入肺經，導熱使降，由膀胱下泄也。</p>

<h3>鉤藤</h3>
<p>甘苦微寒，手足厥陰藥也。主小兒寒熱驚癇，夜啼，瘛瘲，客忤胎風，內釣腹痛，大人肝風，目眩。</p>

<h3>金銀花</h3>
<p>甘而微寒。主脹滿下利，消癰散毒，補虛療風。世人但知其消毒之功，昧其脹利風虛之用。余於諸症中用之，屢屢見效，奈何忽之耶？</p>

<h3>澤瀉</h3>
<p>甘鹽微寒。腎與膀胱藥也。利水道，通小便，補虛損，理腳氣。按《本經》云：久服明目，而扁鵲云多服病眼，何相反耶？蓋水道利，則邪火不幹空竅，故云明目。水道過於利，則腎氣虛，故云病眼。又《別錄》稱其止遺泄，而寇氏謂泄精者不敢用，抑何相刺謬也？蓋相火妄動而遺泄者，得澤瀉清之，而精自藏。氣虛下陷而精滑者，得澤瀉降之，而精愈滑矣。況滑竅之劑。腎虛失閉藏之職，亦一禁。夫一藥也，一症也，而或禁或取，變化殊途，自非博洽而神明者，未免對症而疑，臨症而眩。若格於理者，變變化化而不離乎宗。故曰：醫不執方，合宜而用，斯言至矣。</p>

<h3>菖蒲</h3>
<p>辛溫，心肝藥也。開心竅，消伏梁，除痰嗽，通九竅，明耳目，出音聲，散風濕，止心痛，殺諸蟲，闢鬼邪，理惡瘡。按《仙經》歷稱菖蒲為水草之精英，神仙之靈藥。然惟石磧水生，莖細節密不沾土者，方為上品。銅刀刮去粗皮，米泔浸之，飯上蒸之，藉穀氣而臻於中和，真有殊常之效。</p>

<h3>海藻</h3>
<p>鹹寒。主癭癧癰腫，癥瘕水腫，疝氣痰壅食凝。經云：咸能軟堅。海藻咸能潤下，寒能泄熱，故無堅不潰，無腫不消。洗淨鹹味，焙乾。</p>

<h3>昆布</h3>
<p>鹹寒。主水腫噎膈，瘰癧惡瘡。昆布功同海藻。凡海中菜皆損人，勿多食。洗去咸，焙乾。</p>

<h3>石斛</h3>
<p>甘而微咸，脾、腎藥也。益中氣，厚腸胃，長肌肉，逐邪熱，壯筋骨，強腰膝。石斛甘可悅脾，咸能益腎，故多功於水土二臟。但氣性寬緩，無捷奏之功。古人以此代茶，甚清上膈。凡使勿用木斛。石斛短而中實，木斛長而中虛，不難分辨。</p>

<h3>骨碎補</h3>
<p>苦溫，腎經藥也。主骨中毒氣，風血痛。破血止血，補折傷。理耳鳴牙痛。筋骨傷碎者能療之，故名骨碎補。走入少陰，理耳牙諸疾。凡損筋傷骨之處，用米粥裹傷處有效。焙用。</p>

<h2>谷部</h2>

<h3>胡麻</h3>
<p>甘平，補中益氣，養肺潤腸，堅骨，明耳目，逐風濕，填腦髓，久服延年。胡麻子填精益氣，仙家所珍。取粟色者，名鱉蝨胡麻，比黑者更勝。</p>

<h3>浮麥</h3>
<p>即小麥中水淘浮起者。止自汗、盜汗虛熱。</p>

<h3>麥芽</h3>
<p>即大麥水浸生芽者。開胃下氣，消食和中。</p>

<h3>神麯</h3>
<p>乃伏天，用白麵百斤，青蒿汁三碗，赤豆末、杏仁泥各三升，蒼耳汁、野蓼汁各三碗，以配白虎、青龍、朱雀、玄武、勾陳、螣蛇、六神，搜和作餅，楮葉包窨，如造醬黃法，待生黃衣，曬乾，臨用炒。消食下氣，健脾暖胃，除吐止瀉，破癥結，理痢疾。按神麯與穀麥二芽，脾胃虛人，常宜服之，以助戊己；熟腐水穀，與參、朮、香、砂同用為佳。</p>

<h3>薏苡仁</h3>
<p>甘平，補肺益脾。舒筋去濕，消水腫，理腳氣。色白入肺，味甘入脾，治筋者必取陽明，治濕者必扶土氣，故有舒筋去濕之用。然性主秋降之令，每多下利。虛而下陷者，非其宜也。淘曬炒。</p>

<h3>粟殼</h3>
<p>酸澀微寒。止瀉利，固脫肛，治遺精，除久咳。粟殼酸澀收斂，其性緊急，非久嗽瀉者不敢輕投也。世俗聞而畏之，概不肯用，不知久利滑脫者，非此不除。因噎而廢食，良醫不為也。水洗，去蒂及根膜，取薄皮，醋炒。</p>

<h3>赤小豆</h3>
<p>甘酸性平。消熱毒，下水腫，散惡血，利小便，止泄瀉。世俗惟知治水，不知扶土，所以制水。赤小豆健脾胃而利水濕，直窮其本也。其性善下，久服則降令太過，津血滲泄，令人肌瘦。一且毒腫，為末塗之，無不愈者。但性極黏，干即難揭，入苧根末，即不黏，此良法也。此即五穀中常食之品。以緊小而赤黯者入藥，其稍大而鮮紅，及淡紅者，並不宜用。</p>

<h3>綠豆</h3>
<p>甘寒。利水消腫，解毒。吐瀉，解消渴。</p>

<h3>白扁豆</h3>
<p>甘平，脾之谷也。暖脾胃，止吐泄，解諸毒，消暑氣，除濕熱。扁豆氣味中和，土家契合，倉廩受培，自能通利三焦，升降清濁，土強濕去，正氣日隆。炒熟，去皮。</p>

<h3>豆豉</h3>
<p>苦寒。主傷寒頭痛，煩悶，溫毒發斑，嘔逆血痢，解肌發表，補中下氣，卓有神功。炒熟，則能止汗。</p>

<h3>蒸餅</h3>
<p>甘平。溫中健脾，消食化滯，和血止汗，利三焦，通水道。惟面所造，酵水發成，在臘月及寒食日蒸之，至皮裂去皮，懸之風乾，以水浸脹，擂爛用。</p>

<h3>飴糖</h3>
<p>甘溫。補中健脾，潤肺止嗽，消痰止血，是解渴解毒。熬焦酒服，能下惡血。邢曹進，飛矢中目，拔矢而鏃留於中，痛困俟死，一僧，教以寒食飴點之，至夜瘡癢，一鉗而出，旬日而瘥。</p>

<h1>卷下</h1>

<h2>木部</h2>

<h3>黃柏</h3>
<p>苦寒，沉而下降，為足少陰、足太陽引經之劑。肅清龍雷之火，滋濡腎水之枯，疏小便癃結，驅下焦濕腫。凡目赤耳鳴，口瘡消渴，血痢吐衄，腸風，腰膝痿軟者，咸資其用。東垣云：小便不通而渴者，熱在上焦氣分，肺熱則不能生水，法當淡滲，豬苓、澤瀉之類。小便不通而不渴者，熱在下焦血分，無陰則陽無以化，法當滋陰，黃柏、知母是也。愚謂黃柏制下焦命門陰中之火，知母滋上焦肺金生水之源。蓋邪火焰明則真陰消涸，真陰消涸則邪火益烈，取知柏之苦寒以抑南扶北，誠如久旱甘霖，然火旺胃強者當之，乃稱合劑。倘中氣已殘，則邪火雖亢，命曰虛炎。從事弗衰，將有寒中之變，非與甘溫則大熱不除。近世殊昧斯旨，而夭枉者不可勝數矣。</p>

<h3>厚朴</h3>
<p>苦溫，體重而降，脾胃藥也。溫中下氣，是其本功，凡健脾寬脹，消痰止吐，消食止痛，厚朴利水，皆溫中之力也。能瀉胃實，故平胃散收之，寒脹必需，乃結者散之之義。然行氣峻猛，虛者勿多與也。東垣云：苦能下氣，故泄實滿；溫能益氣，故散濕滿。質厚色紫者佳，去粗皮，薑汁浸炒。</p>

<h3>杜仲</h3>
<p>辛溫，入腎、肝氣分之劑。補腎，則精充而骨髓堅強；益肝，則筋壯而屈伸利用，故腰膝痠疼，脊中攣痛者需之。又主陰下濕癢，小便餘瀝，皆補力之馴致者也。酥炙，或咸酒炒，去粗皮。</p>

<h3>樗白皮</h3>
<p>苦而微溫。專以固攝為用，故瀉痢腸風，遺濁崩帶者，並主之。然必病久而滑，始為相宜，若新病早服，強勉固澀，必變他症而成痼疾矣。時珍曰：血分受病不足者，宜用椿皮；氣分受病有郁者，宜用樗皮。凡用刮去粗皮，生用則能通利，醋炙即能固澀。</p>

<h3>乾漆</h3>
<p>辛溫，降而行血，毒而殺蟲，二者已罄其功能。若祛風止痛，除嗽理傳屍，正行血殺蟲之效也。性急多毒，弗得過用。凡畏漆者，嚼椒塗口鼻，免生漆瘡，如杉木、如紫蘇、如蟹、患漆瘡者，皆可煎湯浴之。炒令煙盡，存性。</p>

<h3>金鈴子</h3>
<p>即楝實。味苦性寒。導小腸膀胱之氣，因引心包絡相火下行，故療心及下部疝氣腹痛，殺蟲利水也。川產者良，酒潤去核焙。楝根白皮，有殺蟲治瘡之功。</p>

<h3>槐子</h3>
<p>槐子苦寒，純陰，肝經氣分藥也。主清熱去濕，故可療痔殺蟲，明目固齒，腸風陰瘡，吐衄崩帶。</p>

<h3>皂莢</h3>
<p>辛溫，肺、胃與厥陰氣分之劑。通關節，利九竅，破堅積，搜風逐痰，辟邪，殺蟲墮胎。其味辛散，其性燥烈。吹喉鼻，則通上竅；導二陰，則通下竅；入腸胃，則理風濕痰喘、消腫殺蟲；塗肌膚，則清風去癢，除毒消癰。治急喉痹、纏喉風，用大皂莢四十挺切，水三斗，浸一夜，煎至鬥半，入人參末五錢，甘草末一兩，煎至五升，去渣入無灰酒一升，釜煤二七煎如飴，入瓶封埋地中一夜。每溫酒下一匙，或掃入喉內，取惡涎盡為度，後含甘草片。中風涎潮昏悶，宜稀涎散。大皂莢末一兩，明礬五錢，每服五分，水調灌，不大吐，只微微涎出。核，治大腸燥結，瘰癧腫毒。刺，能治癰，未成能消，已成即潰，直達瘡所甚驗。又治癘風殺蟲，頗著神功。</p>

<h3>訶子</h3>
<p>酸苦澀溫，肺與大腸之藥也。酸澀能固腸止瀉，苦溫可下氣寬中。止嗽化痰，亦下氣之力，腸風止血乃固腸之功。生用則能清金行氣，煨用則能暖胃固腸。波斯國大魚放涎，水中凝滑，船不能通，投訶子湯，尋化為水，則化痰可知。麵裹煨透去核。</p>

<h3>水楊</h3>
<p>苦平。主久痢赤白，癰腫痘毒。魏直云：痘瘡頂陷，漿滯不行，或風寒所阻，以水楊枝葉五斤，流水一大釜，煎湯溫浴之。如冷添湯，良久累起有暈絲者，漿行也。未滿再浴，虛者只浴頭面手足，初出及癢塌者勿浴。如黃鐘一鼓而蟄蟲啟戶，東風一吹而堅冰解凍，誠有燮理之妙也。</p>

<h3>蕪荑</h3>
<p>辛溫。殺蟲消積，主痔瘻，惡瘡疥癬。</p>

<h3>蘇木</h3>
<p>甘辛微酸，三陰經血分藥也。發散表裡風邪，疏通稽留惡血，風與血皆肝所主，大都入肝居多。少用則和血，多用則破血。</p>

<h3>棕櫚皮</h3>
<p>性澀。止吐血，衄血，腸風下痢，崩中帶下。蓋澀可去脫，宜於久病，不宜於新病。炒極黑，存性。</p>

<h3>巴豆</h3>
<p>辛熱。祛臟腑停寒，破堅積痰癖，開通閉塞，疏利水穀，破血排膿，殺蟲闢鬼。巴豆稟陽剛雄猛之性，有斬關奪門之功，氣血未衰，積邪堅固者，誠有神功。老羸衰弱之人，輕妄投之，禍不旋踵。巴豆、大黃同為攻下之劑，但大黃性冷，腑病多熱者宜之。巴豆性熱，臟病多寒者宜之。故仲景治傷寒傳裡，惡熱者多用大黃。東垣治五積屬臟者，多用巴豆。世俗未聞此義，往往以大黃為王道之藥，以巴豆為劫霸之品，不亦謬乎！若急治為水穀道路之劑，去皮心膜油，生用。緩治為消堅磨枳之藥。炒令紫黑用。炒至煙將盡，可以止瀉，可以通腸。用之合宜效如桴鼓，此千古之秘，人所不知。紙包壓去油者，名之巴霜。巴豆殼，燒灰存性，能止瀉痢。</p>

<h3>桑白皮</h3>
<p>甘辛，西方之品也。瀉肺氣而痰水喘嗽皆除，長於利水，乃肺金實則瀉其子也。古稱補氣者，非若參耆之正補，乃瀉邪所以補正也。昧者信為補劑，而肺虛者亦用之，大失桑皮之面目矣。刮去皮，蜜水炒。子，名桑椹，安神止渴，利水消腫。</p>

<h3>楮實</h3>
<p>甘平。益腎助陽，療腫去水，能軟骨治哽。</p>

<h3>枳殼</h3>
<p>苦辛微寒，疏泄肺與大腸之氣，故能逐水消痰，化食寬脹，定嘔止瀉，散痞止痛。小者名枳實，功力稍緊。夫枳殼、枳實氣味不異，功用相同。古云枳殼主至高之氣，枳實主下主血，然仲景治上焦胸痹痞滿，多用枳實，古方治下焦痢痔腸結，多用枳殼，由是則枳實不獨治下，而積殼不獨治高也。蓋自飛門以至魄門，皆肺主之，三焦相通，一氣而已，則二物皆主利氣，又何必分耶？去穰麩炒。</p>

<h3>山梔</h3>
<p>苦寒，肺經藥也，輕飄上浮，所以瀉肺中之火。金宮不被火擾，則治節之令自能通調水道，下輸膀胱。故丹溪云：能屈曲下行，降火從小便泄去也。寇氏曰：仲景治汗吐下後，虛煩不眠，用梔子豉湯。亡血亡津，臟腑失養，內生虛熱，非此不除也。仲景多用梔子、茵陳，取其利小便而蠲濕熱也。古方治心痛，每用梔子，此為火氣上逆，不得不降者設也。今人泥丹溪之說，不分寒熱，通用梔子，虛寒者何以堪之。炒透用。</p>

<h3>酸棗仁</h3>
<p>味酸，性收，故其主療多在肝膽二經。肝虛則陰傷而煩心不臥，肝藏魂，臥則魂歸於肝，肝不能藏魂，故目不得瞑。棗仁酸味歸肝，肝得養，故熟寐也。其寒熱結氣，痠痛濕痹，臍下痛，煩渴虛汗，何一非東方之症，而有不療者乎？世俗不知其用，誤以為心家之藥，非其性矣。</p>

<h3>山茱萸</h3>
<p>味酸微溫，肝腎之藥也。暖腰膝，興陽道，固精髓，縮便溺，益耳目，壯筋骨，止月水。蓋腎氣受益，則封藏有度，肝陰得養，則疏泄無虞。味酸本屬東方，而功力多在北方者，乙癸同源也。湯潤去核，核能滑精，切勿誤用。</p>

<h3>金櫻子</h3>
<p>酸澀而平，是以固精止瀉，職有專司。當其半黃之時，正屬採收之候，若至紅熟則味已純甘，全無澀味，安在其收攝之功哉？丹溪云：經絡隧道，以宣暢為和平。而味者資其澀性，以取快欲，必致他疾。自不作靖，咎將誰執？去核並白毛淨。</p>

<h3>郁李仁</h3>
<p>甘苦而潤。其性主降，故能下氣利水，破血潤腸。拌麵作餅，微炙使黃，勿令太熟，空腹食之，當得快利，未利再進，以利為度。如利不止，以醋飯止之。忌食酪及牛、馬肉，神驗。但須斟酌虛實，勿得浪施也。湯浸，去皮尖及雙仁者，研如膏。</p>

<h3>女貞</h3>
<p>實苦平。補腎養神，黑髮明目。冬青，乃少陰之精，遇冬月寒水之令，而青翠不改，則其補腎之功，從可推矣。酒浸，蒸曬。</p>

<h3>五加皮</h3>
<p>辛溫，入肝腎兩經。腎得其養則妄水去而骨壯，故能主陰痿脊疼、腰痛腳軟諸症。肝得其養則邪風去而筋強，故能理血瘀拘攣，疝氣痛痹等症。《仙經》贊其返老還童，雖譽詞多溢，然五加造酒，久久服之，添精益血，搜風化痰，強筋壯骨，卓有奇功。且其氣與酒相宜，酒得之，其味轉佳也。</p>

<h3>枸杞子</h3>
<p>味甘氣平，腎經藥也。補腎益精，水旺則骨強，而消渴目昏、腰疼膝痛無不愈矣。弘景雲：離家千里，勿食枸杞。甚言其補精強陰之功也。按枸杞平而不熱，有補水制火之能，與地黃同功，而除蒸者未嘗用之，惜哉！</p>

<h3>地骨皮</h3>
<p>即枸杞根也。苦而微寒，主治皆在腎肝。夫腎水不足則火旺，而為骨蒸煩渴、吐血虛汗。肝木不寧則風淫，而為肌痹頭風及骨槽風。惟地骨皮滋水養木，故兩經之症，悉賴以治。洗淨沙土。</p>

<h3>蔓荊子</h3>
<p>辛而微溫，足太陽經藥也。主太陽頭風、頂痛、目痛翳淚，亦能固齒。去白膜，酒炒，打碎。</p>

<h3>山茶花</h3>
<p>止血衄、腸風。取紅者為末，童溺調服。</p>

<h3>密蒙花</h3>
<p>甘寒。主目痛、赤膜多淚、羞明障翳。酒蜜拌，微炒。</p>

<h3>側柏葉</h3>
<p>苦辛微溫。主吐血衄血、痢血腸風、崩帶、濕痹、冷風、歷節痛。炙，罯凍瘡。汁塗黑發。丹溪曰：柏屬陰善守。故採其葉者，隨月建方取之，得月令之旺氣，為補陰之要藥。其性溫燥，大益脾上，以滋其肺。時珍曰：柏性後凋，稟堅凝貞靜之質，乃多壽之木。故道家以之點湯代茶，元旦以之浸酒辟邪。麝食之而體香，毛女食之而身輕，亦其證驗矣。</p>

<h3>柏子仁</h3>
<p>甘平，心腎藥也。益氣養血，清心安神，補腎助陽，去濕潤燥，辟邪益智，久服顏色美澤，耳目聰明。時珍曰：柏子甘平，不寒不燥，甘而能補，辛而能潤，其氣清香，能透心腎，益脾胃，仙家上品藥也。《列仙傳》云：赤松子久食柏實，齒落更生，行及奔馬。非虛語也。炒去衣，研細。</p>

<h3>松香</h3>
<p>苦甘平，主一切瘡痍，除熱祛風，排膿化毒，生肌止痛，殺蟲療瘡。弘景雲：松、柏皆有脂，凌冬不調，理為佳物。時珍曰：脂乃英華，在土不朽，流膏日久，變為琥珀，宜其可以辟穀延齡。大釜加水，白茅襯甑，又加黃沙寸許，布松脂於上，炊以桑薪，湯減頻添熱水。候松脂盡入釜中，取出，投於冷水，既凝又蒸，如此三過，乃佳。服之，通神明，去百病。</p>

<h3>松節</h3>
<p>搜風舒筋，燥血中之濕。</p>

<h3>松子仁</h3>
<p>益肺止嗽，補氣養血，潤腸止渴，溫中搜風，潤皮膚，肥五臟。陰虛多燥者，珍為神藥。</p>

<h3>肉桂</h3>
<p>甘辛性熱，入脾腎二經。益火消陰，溫中健胃，定吐止瀉，破秘墮胎，堅骨強筋。桂心，主風寒痛痹，心腹冷疼，破血結，痃癖癥瘕，膈噎脹滿，內托癰痘，引血化膿。桂枝，主傷風頭痛，調營散邪，去皮膚風濕，手臂痛。在下近根者為厚桂，亦名肉桂。在中者為桂心。在上枝條為桂枝，亦名薄桂，亦名柳桂。好古云：或問仲景治傷寒當汗者，皆用桂枝湯。又云：無汗不得用桂枝。甘草湯一藥二用，其義何也？曰：仲景云：太陽中風，陰弱者，汗自出，衛實營虛，故發熱汗出。又云：太陽病發熱汗出者，此為營弱衛強，陰虛陽湊之，故皆用桂枝發汗。此調其營氣，則衛氣自和，風邪無所容，遂從汗解，非桂枝能開腠發汗也。汗多用桂枝者，以之調和營衛，則邪從汗去而汗自止，非桂枝能止汗也。昧者不知其意，遇傷寒無汗者亦用桂枝，誤之甚矣。桂枝湯下發汗發字，當作出字，汗自然出。非若麻黃能開腠，出其汗也。《醫余錄》云：有人患赤眼腫痛，脾虛不能食，用涼藥治肝則脾愈虛，用暖藥治脾則目愈痛。但於溫平藥中倍加肉桂，制肝益脾，而一治兩得之。故曰：木得桂而枯是也。用三種桂，忌見火，刮去粗皮。</p>

<h3>辛夷</h3>
<p>辛溫。溫中解肌，通關利竅。凡鼻淵鼻鼽、鼻塞鼻瘡，並研末，入麝，蔥白蘸入，甚良。時珍曰：鼻通於天。天者，頭也，肺也。肺開竅於鼻，而胃脈環鼻而上行。腦為元神之府，而鼻為命門之竅。中氣不足，清陽不升，則頭為之傾，九竅為之不利。辛夷辛溫走氣而入肺，其體浮，能助胃中清陽之氣，上通於天，故能溫中，治頭、目、鼻之病。軒岐之後，達此理者，東垣一人而已。刷去毛，微焙。</p>

<h3>沉香</h3>
<p>辛而微溫，脾腎之劑也。調中和氣，溫暖命門。凡脹悶霍亂，癥癖積聚，中惡鬼邪，大腸虛閉，小便氣淋，男子精冷，女人陰寒，及痰涎血出於脾者，併為要藥。按：沉香溫而不燥，行而不泄，扶脾而運行不倦，達腎而導火歸元，有降氣之功，無破氣之害，洵為良品。磨細澄粉，忌火。</p>

<h3>丁香</h3>
<p>辛溫，溫胃進食，止嘔定瀉，理腎氣奔豚，救痘瘡灰白。按：丁香溫中健胃，大有神功。須於丸劑中，同潤藥用乃佳。獨用、多用易於僭上損肺傷目。去丁蓋乳子，勿見火。</p>

<h3>檀香</h3>
<p>辛溫，脾肺藥也。溫中下氣，理噎膈吐食，消風熱腫毒，引胃氣上升，以進飲食。東垣云：白檀調氣，引芳香之物，上至極高之分。最宜橙、橘之屬，佐以薑、棗、葛根、縮砂、豆蔻，通行陽明經，在胸膈之上，咽嗌之間，為理氣要劑。入湯泡，勿煎，入丸刮磨用。</p>

<h3>降真香</h3>
<p>內服能行血破滯，外塗可止血定痛。焚之祛邪，佩之闢鬼。按：沉香色黑。故走北方而理腎；檀香色黃，故走中央而扶脾；降香色赤，故走南方而理血。此物理之，確然昭著者。</p>

<h3>烏藥</h3>
<p>辛溫。理七情鬱結，氣血凝停，霍亂吐瀉，痰食稽留，腫脹喘急，腳氣疝氣，止小便頻，去腹中蟲。大抵辛溫香竄，為散氣神藥，故百病咸宜。雖貓犬之疴，無不治療，但性司專泄，與藜藿者相宜，錦衣玉食之人，鮮不蒙其害者。惟與參、術同行，庶幾無弊。酒浸一宿，炒。</p>

<h3>乳香</h3>
<p>辛而微溫。以活血和氣為功，故能定諸經之痛。內消腫毒，托裡護心，生肌去腐，散風舒筋，止痢催生。一名熏陸香。以酒研如泥，水飛曬乾，又同燈心研，則易細。</p>

<h3>沒藥</h3>
<p>苦平。破血攻瘀，止痛消腫，生肌明目。乳香活血，沒藥散血，故止痛生肌約略相同。外科每每相兼而用。修治與乳香同。</p>

<h3>血竭</h3>
<p>甘鹽，厥陰藥也。行血止痛，能收合瘡口。性急，不可多使，卻引膿。味鹽走血，色赤象血，厥陰為藏血之臟，故獨入焉。乳香、沒藥雖主血分，而兼入氣分，此則專入於血分者也。研細，待眾藥磨完，然後入之。若同眾藥搗，則化作飛塵也。</p>

<h3>安息香</h3>
<p>辛苦，性平。主心腹惡氣結聚，蟲毒，霍亂，鬼邪傳屍。從安息國來，不宜於焚而能發眾香，故人取以和香，乃辟邪去惡之聖藥。酒煮研。</p>

<h3>蘇合香</h3>
<p>甘溫。芳香氣竄，通達諸竅，流行百骸，故其主治，辟邪殺鬼，截瘧通神。</p>

<h3>冰片</h3>
<p>辛苦，微溫。通諸竅，散鬱火，利耳目。主喉痹腦痛，鼻瘜牙疼，傷寒舌出，小兒痘陷。東垣曰：龍腦入骨，凡風病在骨髓者宜之。若風在血脈肌肉，輒用腦、麝，反引風入骨，如油入面，莫之能出。時珍曰：古方皆言龍腦辛涼，入心，故目疾、驚風及痘瘡心熱血瘀倒靨者，用豬血入心，使毒散於外，則痘發。此似是而非也。目與驚及痘，皆火病也。火鬱則發之，從治之法，辛主發散故也。使壅塞通利，經絡調達，而驚熱自平，瘡毒能出。用豬心血引龍腦入心，非龍腦能入心也。廖瑩中熱酒服龍腦，九竅流血而死。非龍腦有毒，乃熱酒引其辛香，氣血沸亂而致也。</p>

<h3>樟腦</h3>
<p>辛熱。純陽，故長於去濕，殺蟲，宣通關竅。</p>

<h3>阿魏</h3>
<p>辛溫。破結塊，殺細蟲，消肉積，闢鬼截瘧，止痢，解毒止臭。譚逵久瘧，用阿魏、硃砂各一兩，研勻，米糊，丸皂子大。空心人參湯化服一丸，即愈。如痢疾以黃連、木香湯下。蓋瘧痢多起於積滯故耳。</p>

<h3>蘆薈</h3>
<p>苦寒厥陰藥也。其用專主瀉肝滌熱，故能殺蟲，明目，療癬。蟲齒，小兒驚癇，疳症。</p>

<h3>胡桐淚</h3>
<p>鹹苦而寒。車師國胡桐樹脂也。除瘰癧，清咽喉，固牙齒。味鹹入骨，性寒滌熱，故主治如上。</p>

<h2>菜部</h2>

<h3>韭</h3>
<p>味辛溫。溫中下氣補虛，益陽固精，止痢，除噎，散結。主唾血、吐血、衄血、尿血，女人經脈逆行，打撲損傷。生搗汁服，散胃脘瘀血，理胸痹刺痛。《素問》言心病宜食韭，《本草》言其歸腎，文雖異而理則相貫。蓋心乃肝之子，腎乃肝之母，母能令子實，虛則補其母也。韭子補肝腎，暖腰膝，主男子精滑溺頻，女人白淫、白帶。曝乾，去黑皮，炒。</p>

<h3>蔥白</h3>
<p>辛溫，入手太陰、足陽明經。專主發散，以通上下陽氣，故傷寒頭痛用之。少陰下利清穀，裡寒外熱，厥逆脈微，白通湯主之，亦有蔥白。面赤者，四逆湯加蔥白。成注曰：腎惡燥，急食辛以潤之。蔥白辛溫以通陽氣也。陰症厥逆唇青，用蔥白一束，去根及青葉，留白約二寸，烘熱，安臍上以熨斗熨之，蔥爛則易，熱氣透入，服四逆湯即瘥。蔥同蜜食，能殺人。</p>

<h3>大蒜</h3>
<p>辛溫。健脾下氣，消穀化肉，破結殺鬼。搗爛同道上熱土，新汲水服，能救中暑。搗汁飲，主吐血心病。同黃丹丸止瘧痢。搗塗臍，消下焦水，利二便。貼足心，引火下行，止吐衄。納肛，通幽門，治關格。隔蒜片，灸一切毒。辛能散氣，熱能助火，久食多食，傷肺損目，昏神伐性。患痃癖者，每日取三顆，截卻兩頭吞之，名曰內灸，必效。</p>

<h3>白芥子</h3>
<p>辛熱，入手太陰與足陽明。溫中散寒，豁痰利竅，止心腹痛，散癰腫瘀血。多食則昏目動火，泄氣傷精。丹溪曰：痰在脅下及皮裡膜外，非白芥子莫能達。虛人痰嗽，白芥子同蘇子、卜子煎好入蜜，與薑汁各一匙，殊妙。</p>

<h3>蘿蔔</h3>
<p>辛甘。下氣消食，和中化痰，解酲散血，大治吞酸。搗汁服，治吐衄血，消渴；塗湯火跌打傷；解面毒。楊億云：種芋三十畝，省米三十斤；種蘿蔔三十畝，益米三十斤。則蘿蔔果能消食也。服地黃、何首烏，忌食蘿蔔，食則令人髭發白。有人被賊火熏垂死，以蘿蔔菜生嚼汁，咽即蘇。子能定喘消痰，消食除脹，利大小便，消癰腫毒。生用能升，熟用能降。</p>

<h3>生薑</h3>
<p>性溫味辛，肺脾藥也。益脾肺，散風寒，通神明，去穢惡，止嘔吐，化痰涎，除煩悶，去水氣，消脹滿，定腹痛，殺長蟲，消宿食，理冷痢，通血閉。生用發散，熟用和中。要熱則去皮，要冷則留皮，秋多食姜，至春患眼。癰疽食姜，則生惡肉。孕婦食姜，令子多指。孫真人云：姜為嘔家聖藥，嘔乃氣逆不散，姜則辛以散之也。夜勿食姜者，夜令主闔，姜性主闢也。秋勿食姜者，秋令主收，而姜性主散也。早行含一塊，不犯霧露清濕之氣，山嵐不正之邪。凡中風、中暑、中氣、中毒、中惡、霍亂一切卒暴之病，薑汁與童便同服，立效。姜能開痰下氣，童便降火也。姜皮，性涼，和脾胃，消水腫，除脹滿，去目翳。</p>

<h3>乾薑</h3>
<p>乃江西所造，水浸三日，去皮浸六日，更刮去皮，曬乾，置瓷缸中釀三日，始成。辛熱之辛，肺脾藥也。溫中下氣，止嘔消痰，破瘀生新，搜寒攻濕，盡有生薑之功而力量更雄也。生則逐寒邪而發表，炮則除胃冷而守中。多用則耗散元氣，蓋辛以散之，壯火食氣也，須以生甘草緩之。服乾薑者，多僭上；不可不知。引血藥入血分，引氣藥入氣分，去瘀養新，有陽生陰長之能，故吐衄血，及腸風下血，血虛失血者，並宜炮黑。乃熱因熱用，從治之法也。</p>

<h3>胡荽</h3>
<p>辛平。消穀進食，通心發痘，利大小腸，通小腹氣，拔四肢熱，解魚肉毒，辟邪鬼氣。</p>

<h3>茴香</h3>
<p>辛溫。暖下焦，逐膀胱胃間冷氣，調中進食，療諸疝腹痛，吐瀉胃寒。形如麥粒，為小茴香。性溫，宜入食料中。形如柏實裂成八瓣者，為大茴香。性熱損目，不宜多用。微妙。</p>

<h3>山藥</h3>
<p>甘平，脾肺藥也。補脾肺，益腎陰，養心神，除煩熱，止遺泄，固腸胃。生搗，貼腫毒，能消散。山藥色白歸肺，味甘歸脾。其言益腎者，金為水母，金旺則生水也。土為水仇，土安則水不受侮也。炒黃用。</p>

<h3>百合</h3>
<p>甘平。溫肺止嗽，補中益氣，利大小便，安和心膽，止涕淚，主百合病，辟邪鬼魅。</p>

<h3>冬葵子</h3>
<p>甘寒。入小腸膀胱二經。主滑胎產，逆生者，得之即順，胎死者，得之即下。療熱淋，通乳汁，堪潰癰疽。</p>

<h3>白冬瓜</h3>
<p>甘寒，入脾胃大小腸四經。主胸前煩悶作渴，臍下水脹成淋，通二便，解熱毒，可貼癰疽，又解丹石魚毒。丹溪曰：久商與陰虛者忌之。未被霜者，食之，成反胃病。</p>

<h2>果部</h2>

<h3>杏仁</h3>
<p>辛苦微溫，手太陰藥也。潤肺燥，除風熱，定咳嗽，散滯氣，消食積，潤大腸，殺狗毒，爛索粉積。辛能橫行而散，苦能直行而降，遂為要劑。湯泡，去皮尖，炒黃研碎。風寒肺病藥中連皮尖用，取其發散。雙仁者有毒，不宜用。巴達杏仁，味甘美，止咳下氣，潤腸化痰，力稍薄。</p>

<h3>烏梅</h3>
<p>酸澀。主斂肺澀腸，生津化痰。安蛔清熱，截瘧止痢，消酒定嗽。白梅即霜梅。主中風牙關緊閉，擦牙齦，涎出即開。止瀉治渴，止下血崩帶，功仿烏梅。</p>

<h3>桃仁</h3>
<p>甘辛微溫。主血結瘀閉癥瘕，潤腸殺蟲。苦重於甘，氣薄味厚，厥陰血分藥也。凡行血連皮尖，生用活血潤燥。去皮尖炒用。</p>

<h3>大棗</h3>
<p>甘平，脾之果也。補脾益氣，潤肺止嗽，殺附子毒。東垣云：和陰陽，調榮衛，生津液。仲景治奔豚，用大棗者，滋脾土以平腎氣也。治水飲脅痛有十棗湯，益脾土而勝妄水也。棗能調臟腑，和百藥，為切要佳品。若多食損齒生蟲。好古云：中滿者勿食甘，甘多令人滿。故仲景建中湯心下痞者，去飴、棗，與甘草同例。蛀棗，止痢。紅棗，主治相同，功力稍緩。止瀉藥用以作丸。</p>

<h3>梨</h3>
<p>味甘寒。潤肺涼心，消痰降火，止嗽除渴。生者清六腑之熱，熟者滋五臟之陰。梨者，利也，流利下行之謂也。多食令人寒中發瀉，脾虛者尤禁。</p>

<h3>木瓜</h3>
<p>酸溫，肝脾藥也。強筋舒筋，主腳氣，霍亂，轉筋。收攝脾土，去濕熱，止吐瀉，化痰食，理水脹。木瓜專主筋病，然皆脾病，非肝病也。肝雖主筋，而轉筋則由濕熱或寒濕之邪襲傷脾，故轉筋必起於足腓，腓及宗筋皆屬陽明。木瓜治轉筋，非益筋也，理脾以伐肝也。孟詵云：多食木瓜，損齒及骨。皆伐肝之明驗。陶弘景雲：轉筋時，但呼木瓜名及書上作木瓜字皆驗，此理亦不可解。</p>

<h3>山楂</h3>
<p>酸溫。消油膩血肉之積，化血瘀瘕癖之疴，驅小兒乳食停留，療女人兒枕作痛，理偏墜疝氣，發痘疹不快。按：山楂味中和，消油垢之積，故幼科用之最宜。若傷寒為重症，仲景於宿滯不化者，但用大、小承氣，一百一十三方中並不用山楂，以其性緩，不可為肩弘任大之名。煮老雞肉硬，入山植數粒即爛，則其消肉積之功，可推矣。核有功力，不可去也。</p>

<h3>石榴皮</h3>
<p>止下痢泄精，腸風崩帶。性極酸澀，善於收攝，初病者忌用。不拘乾溼，勿犯鐵器。漿水浸一夜，取出用，其水如墨汁。</p>

<h3>陳皮</h3>
<p>苦辛而溫，入太陰經。健脾開胃，下氣消痰，消穀進食，定嘔止瀉。能補能消，能散能降，調中理氣，功在諸藥之上。辛宜於肺，香利於脾，肺為攝氣之籥，脾為元氣之母，陳皮理氣，故為二經要藥。同補藥即補，同瀉藥則瀉，同升藥則升，同降藥則降，故利用最弘。去白者理肺氣，留白者和胃氣。筋膜及蒂並去之，芳草之品，不見火，則力全也。</p>

<h3>青皮</h3>
<p>小者為青皮。功用悉同，但性較猛耳。青皮，如人當年少英烈之氣方剛；陳皮，如年至老成則躁急之性已化。青皮入肝者以其色也，究竟主肺脾之症居多。瘧脈自弦，肝風之祟。青皮入肝散邪，入脾滌痰，故瘧家為必需之品。橘肉，甘者潤肺，酸者聚痰。核疏疝氣，葉散乳痛。</p>

<h3>枇杷葉</h3>
<p>苦辛平，肺胃藥也。清肺則降火而除痰嗽，和胃則寬中而止嘔噦。胃病以薑汁塗炙，肺病以蜜水塗炙。肥厚而大者良。刷去毛淨，不爾令人咳。</p>

<h3>白果</h3>
<p>即銀杏。甘平。熟食溫肺益氣，定喘嗽，縮小便，止白濁，除白帶。生食降痰消毒殺蟲。嚼漿塗面，去疱皶及疥癬疳䘌陰蟲。</p>

<h3>胡桃</h3>
<p>甘溫。溫肺止嗽，養血潤腸，利三焦氣，益命門火。時珍曰：夫三焦者，元氣之別使。命門者，三焦之本原。益一原一委也。命門指所居之腑而名，為藏精系胞之處。三焦指分治之部而名，為出納熟腐之司。命門在七節之旁，兩腎之間，下通二腎，上通心肺，貫屬於腦。為生命之原，相火之主，積氣之府。《靈樞》已著其厚薄緩急之狀，而《難經》不知原委之分，以右腎為命門，謂三焦有名無狀。高陽謬訣，承其訛說，以誤後人。至朱肱、陳言、戴起宗始闢之，而知者尚少。胡桃仁頗類其狀，故入北方，通命門，利三焦，為腎命之藥。夫命門與腎相通，藏精血而惡燥。若腎命不燥，精氣內充，則飲食自健，腸腑潤而血脈通。命門既通，三焦自利，故上通於肺而止虛寒喘嗽，下通於腎而止腰腳虛疼，內而腹痛可已，外而瘡毒可散，其利溥哉。</p>

<h3>龍眼</h3>
<p>甘溫。養心益智，開胃益脾，潤肺止咳。</p>

<h3>橄欖</h3>
<p>澀而甘平。生津止渴，清咽止咳，開胃下氣，止瀉固精，解一切魚毒及酒毒。</p>

<h3>榧子</h3>
<p>消穀進食，殺蟲化積，止嗽助陽，療痔止濁。</p>

<h3>檳榔</h3>
<p>苦辛微溫。下氣消脹，逐水除痰，殺蟲治痢，消食破積，止瘧療疝，腳氣瘴癘。按：檳榔泄至高之氣，能墜諸藥達於下極，故治痢家後重如神。閩廣多瘴癘，嗜之以為上珍。苟無瘴而食之，寧無損正之憂乎？去心者刮去臍皮，見火無功。</p>

<h3>大腹皮</h3>
<p>辛溫。主水氣浮腫，腳氣壅逆，胎氣惡阻。大腹子與檳榔同功。大腹樹多集鴆鳥，用其皮者，豆汁洗淨。</p>

<h3>川椒</h3>
<p>辛熱。通三焦，補命門，散寒除濕，解鬱消食，理痹止瀉，壯腰膝，縮溺頻，除寒嗽，消水腫，祛痰飲，破癥結，伏蛔蟲。按：椒性下達命門，益下不上衝，蓋導火歸元也。味辛應四方之氣，故入肺而奏止嗽下氣之功。性溫稟南方之氣，故入腎而奏扶陽益火之效。乃玉衡星之精，善闢疫伏邪，此歲旦有椒柏酒也。凡空心朝起，以沸湯送生椒二十顆有治熱治寒之妙，有消食散冷之奇，久服則永不受風寒濕，大能溫補下焦，亦神異之品也。邵武府張伯安，腰痛痰喘，足冷如水，面赤如丹，六脈洪大，按之則軟，服八味無功。用椒紅、茯苓蜜丸，鹹湯下，甫二十日而安。去核及閉口者，微炒使出汗，搗去黃殼，取紅用。椒核利小便，治水腫痰飲，耳聾盜汗。</p>

<h3>吳茱萸</h3>
<p>辛熱，脾、肝，腎三陰經藥也。溫中下氣，開鬱止痛，逐風除濕，定吐止瀉，理關格中滿，腳氣疝瘕，制肝燥脾。按：川椒善下，茱萸善上，故食茱萸者，有沖膈、沖眼、脫髮、咽痛、動火發瘡之害。鹹湯浸去烈汁，焙乾用。陳久者良，閉口者有毒。</p>

<h3>茗</h3>
<p>苦甘微寒。下氣消食，清頭目，醒睡眠，解炙煿毒酒，消暑，同姜治痢。按：茗得天地清陽之氣，故善理頭風，肅清上膈，使中氣寬舒神情爽快，此惟洞山上品，方獲斯功。至如俗用雜茶，性味惡劣，久飲不休，必使中土蒙寒，元精暗耗。輕則黃瘦減食，甚則嘔泄痞腫，無病不集，害可勝哉。茶序云：消停釋滯，一日之利暫佳；瘠氣侵精，終身之累斯大。東坡云：除煩去膩，不可無茶，然空心飲茶，直入腎經，且寒脾胃，乃引賊入室也。</p>

<h3>甜瓜蒂</h3>
<p>苦寒。傷寒病在上焦，懊憹，逆氣衝喉不得息，膈上有痰食水氣，同香豉煮糜去滓，服之取吐。瓜帶吐法，《素問》所謂在上者，因而越之也。若尺脈虛者，不敢用此法。凡虛弱人均宜戒之。</p>

<h3>西瓜</h3>
<p>甘寒。解暑消煩，止渴利水。西瓜性冷，世俗取一時之快，忘腸胃之憂，古人有天生白虎之號，稔其寒也。不明者，妄云不傷脾胃，誤矣。</p>

<h3>藕</h3>
<p>味甘平。生者，散血清熱，解渴除煩。熟者，補中開胃，消食和中。搗絞汁澄粉，乃其精華也，安神開胃，喜悅忘憂。</p>

<h3>蓮子</h3>
<p>甘平。補中，養神清心，固精止瀉，除崩帶赤白濁，安靖上下君相火邪，使心腎交而成既濟之功。</p>

<h3>蓮鬚</h3>
<p>甘澀。清心止血，通腎固精，男子腎泄，女子崩帶。</p>

<h3>荷葉</h3>
<p>開胃消食，止血固精。葉蒂安胎。東垣云：潔古先生口授枳朮丸方，用荷葉燒飯為丸。夫震者，動也，人感之生足少陽甲膽之氣，與三焦之氣，同為發生。《素問》云：履端於始，序則不愆。荷葉生於水土之中，其色青，其形仰，其中空，象震卦之體。食與藥感此氣之化，胃氣何由不升乎？是以燒飯和藥與白朮協力補脾，不致內傷，其利廣矣。</p>

<h3>芡實</h3>
<p>甘而微澀。補中助氣，益腎固精。古方芡實與蓮子對配，金櫻膏和丸，固精神劑。芡本無大益，而比之曰水硫黃，何也？食芡者必枚齧而咀嚼之，使華池津液流通，轉相灌溉，其功勝於乳石也。</p>

<h3>乾柿</h3>
<p>甘寒而澀。止胃熱口乾，潤心肺，消痰。治血淋，便血。霜治咽喉口舌之瘡。蒂療咳逆噦氣。</p>

<h3>香櫞</h3>
<p>苦酸辛溫。理上焦之氣，止嘔逆，進食健脾。按：香櫞性中和，單用多用亦損正氣，與參、術同行，則無弊也。</p>

<h3>荔枝核</h3>
<p>甘溫而澀。治疝氣頹腫，療腎陰如斗。按：荔枝性熱，主散無形質之滯氣，其核溫通行肝腎，其結實必雙而核肖睪丸，故治頹疝卵腫，類象形之意也。卒心痛，以一枚煅存性，研末酒服。痘瘡出不快，荔殼煎湯飲。</p>

<h3>甘蔗</h3>
<p>甘平。和中而下逆氣，乾嘔不息，蔗漿、薑汁同溫服。小兒口疳，用皮燒末吹之。</p>

<h3>石蜜</h3>
<p>甘溫。生津解渴，除咳消痰，潤心肺燥熱，助脾暖肝。按：石蜜即白沙糖，蔗汁煎曝而成是也。甘入脾，多食則病脾。西北人宜之，東南人少餌。比之紫沙糖、紅沙糖，功用相同，若多食損齒一也。</p>

<h2>寓木部</h2>

<h3>茯苓</h3>
<p>甘淡而平，入手足太陰。足太陽。補中開胃，利水化痰，安神定悸，生津止瀉，止嘔逆，除虛熱。赤者專主利小便，驅濕熱而已。茯苓藉松之餘氣而成，得土氣最全，故作中宮上藥。《本草》言其利小便，伐腎邪。東垣乃言小便多者得止，澀者通利。丹溪又言陰虛者不宜用，義似相反，何哉？茯苓淡滲上行，生津液，開腠理，滋水之上源而下降，則利小便。潔古謂其屬陽浮而升，言其性也。東垣謂其陽中之陰降而下，言其功也。經云：飲食入胃，遊溢精氣，上輸於肺，通調水道，下輸膀胱。則知淡滲之藥，俱先上升而後下降也。小便多，其源亦異。經云：肺氣盛則小便數，虛則小便遺。心虛則少氣遺溺。下焦虛則遺溺。胞移熱於膀胱則遺溺。膀胱不利為癃，不約為遺溺。厥陰病則遺溺。所謂肺盛者，實熱也，必氣壯脈強。宜茯苓以滲其熱，故曰小便多者能止也。若肺虛、心虛、胞熱、厥陰病者，皆虛熱也。必上熱下寒，脈虛而弱。法當用升陽之藥，升水降火。膀胱不約，下焦虛者，乃火投於水，水泉不藏。脫陽之症，必肢冷脈遲。法當用溫熱之藥，峻補其下。二症皆非茯苓輩淡滲之藥所能治，故曰陰虛者不宜用也。</p>

<h3>茯神</h3>
<p>主用與茯苓無別。但抱根而生，有依附之義，故魂魄不安不能附體者，乃其專司也。</p>

<h3>赤茯苓</h3>
<p>但能瀉熱行水，並不及白茯苓之多功也。</p>

<h3>琥珀</h3>
<p>甘平。消瘀血，利小腸，通五淋，安魂魄，闢鬼邪，去目翳。丹溪曰：琥珀能燥脾土，脾能運化，則肺氣下降，故小便可通。若因血少而小便不利者，反致燥急之苦。</p>

<h3>豬苓</h3>
<p>甘淡而平，入足太陽。開腠理，利小便，療痎瘧。利小便之劑無如此駃，故不入補方也。</p>

<h3>雷丸</h3>
<p>苦寒。清胃熱，殺三蟲。《本經》稱其利丈夫。《別錄》云：久服陰痿，似乎相反。不知利者疏利也，疏利太過則閉藏失職，故陰痿也。</p>

<h3>桑寄生</h3>
<p>甘平。和血脈，助筋骨，充肌膚，堅齒髮，安胎止崩。丹溪云：海外地暖不蠶，桑無採捋之苦，則生意濃，自然生出。何常節間可容他子耶？連桑枝採者乃可用之，偽者損人。忌鐵忌火。</p>

<h2>苞木部</h2>

<h3>竹葉</h3>
<p>甘寒。清心熱，降肺氣，止咳逆，解狂煩。</p>

<h3>竹茹</h3>
<p>降火止嘔，清肌膚熱，理吐衄血。療傷寒勞復，小兒熱癇，婦人胎動。</p>

<h3>竹瀝</h3>
<p>主中風痰湧不語，顛狂胸痹。凡痰在經絡四肢及皮裡膜外，非此不能達。丹溪曰：世人食筍，自幼至老，未有因其寒而病者。瀝即筍之液也，又假火而成，何寒之有。時珍曰：竹瀝宜風火燥熱之痰。胃虛腸滑者，不可餌也。</p>

<h3>天竺黃</h3>
<p>甘寒。清心化痰，主中風痰湧失音。小兒驚癇天吊。氣性中和，故小兒宜之。</p>

<h3>荊瀝</h3>
<p>甘寒。去心腹之煩熱，化經絡之風痰，洽胸瀁瀁中欲吐，理頭風旋運目眩。按：荊即今作刑杖之荊也，取新採荊莖，截尺許，架兩磚上，中間火炙，兩頭盛所滴汁，名曰瀝。加薑汁二匙，瀝一杯，同服。《延年秘錄》云：熱多用竹瀝，寒多用荊瀝，並以薑汁助送，則不凝滯。但氣虛不能食者用竹瀝，氣實能食者用荊瀝。若胃弱者忌之。</p>

<h2>虫部</h2>

<h3>蜂蜜</h3>
<p>甘平。和營衛，潤臟腑，通三焦，理脾胃，解諸毒，和百藥，導便結。生能清熱，熟則補中。凡煉蜜一斤，入水四兩，銀石器內文火煉，掠去浮沫，至滴水不散為度。蠟主下痢，貼瘡生肌止痛。</p>

<h3>五倍子</h3>
<p>酸平。斂肺，降火化痰，止痢，斂汗，解毒，生津液，斂潰瘡，收脫肛，摻口瘡，止諸血。凡口齒咽喉，眼鼻皮膚，風濕瘡癬，皆不可缺。</p>

<h3>桑螵蛸</h3>
<p>興陽益精，固遺泄，攝小便。漿浸一日焙。</p>

<h3>白殭蠶</h3>
<p>驚、癇，病風者也。治風化痰，散結行經，所謂因其氣相感，而以意使之者也。蓋厥陰、陽明之藥，故又治諸血病、瘧與疳也。咽喉腫痛及喉痹，下咽立效，大能救人。去綿並黑口，炒之。</p>

<h3>蠶蛾</h3>
<p>益精固精，強陽不倦。雄者入藥。炒，足翅去用。</p>

<h3>蠶沙</h3>
<p>熨風痹及一切關節皮膚。其性溫燥，能勝風去濕。麻油浸研，主爛弦風眼，塗之二三次，頓痊。</p>

<h3>斑蝥</h3>
<p>攻血積，利水道，治疝瘕，解疔毒、猘犬毒、蠱毒、輕粉毒。治瀝墮胎。按：斑蝥專主走下竅，直至精溺之處，蝕下敗物，但痛不可當。虛者大禁。麩炒醋煮。</p>

<h3>蠍</h3>
<p>主中風，半身不遂，口眼喎邪，語澀，手足抽掣。小兒驚風尤為要藥。專入厥陰，理肝膽家症。去足炒。</p>

<h3>水蛭</h3>
<p>鹹苦而寒。攻一切惡血堅積，腹中有子者去之。性最難死，雖火炙為末，得水即活。若水蛭入腹，生子為害，腸痛黃瘦，惟用田泥和水數碗飲之，必盡下。蓋蛭在入腹，忽得土氣而下耳。或牛羊熱血，同豬脂飲之，亦下，服蜂蜜亦下。</p>

<h3>蟾酥</h3>
<p>甘辛，入足陽明少陰。治發背疔腫，脈絡風邪惡血。</p>

<h3>蟬蛻</h3>
<p>鹹甘而寒。開腠理，宣風熱，發痘疹，除目翳，出音聲，止瘡癢，小兒噤風天吊。夜啼驚癇。蟬乃土木餘氣所化，餐風吸露，其氣清虛，故主療一切風熱。止夜啼者，取其晝鳴而夜息也。去泥、足翅，洗曬。</p>

<h3>螻蛄</h3>
<p>去水甚捷，但虛人難用。兼主瘰癧骨硬，出肉中刺、箭鏇杵，汁滴三五次自出。去足翅炒。</p>

<h3>䗪蟲</h3>
<p>破一切血積，跌打重傷。焙為末，服二錢，酒下。接骨神效。去足，炒。</p>

<h3>虻蟲</h3>
<p>凡血在臟腑經絡者，驅逐攻下。蓋食血而能治血，因其性而為用也。去足、翅，焙。</p>

<h3>蜈蚣</h3>
<p>辛溫。治蛇癥，療小兒驚吊，臍風撮口，墮胎解毒。</p>

<h2>鱗部</h2>

<h3>龍骨</h3>
<p>甘平性澀。澀可去脫，故能收斂浮越之氣。固大腸，止遺泄，下血定驚，止汗，除崩帶。煅赤研細，水飛，稍不極細，則黏著腸胃，晚年作熱。</p>

<h3>龍齒</h3>
<p>鎮心神，安魂魄，龍者東方之神，故其骨與齒皆主肝病。許叔微云：肝藏魂，能變化，故魂遊不定，治之以龍齒。煅過研細，水飛。</p>

<h3>穿山甲</h3>
<p>咸微寒。主痰瘧，通經脈，下乳汁，消癰腫，排膿血，通竅發痘殺蟲。好食蟻，故治蟻瘻。其性走竄，未可過服。炒黃，打碎。</p>

<h3>蘄蛇</h3>
<p>鹹溫，有毒。主一切風症，中風、大風、白癜風。蛇性竄利，內走臟腑，外徹皮膚，無處不到。有毒，不敢輕用。其蛇龍頭虎口，黑質白花，脅有二十四個方勝文，膜有念珠班，口有四長牙，尾上有一拂，日長一二分，腸形如連珠。酒浸一宿，炭火焙乾，埋地中，出火毒。去皮骨，取肉用。</p>

<h3>海螵蛸</h3>
<p>味鹹微溫，入足厥陰少陰血分。治女人赤白帶下，經閉，療丈夫陰腫囊濕，同蒲黃撲之。耳內疳瘡吹之。小兒重舌鵝口，同蒲黃傅。蟲心痛，醋磨濃，頓服愈。</p>

<h2>介部</h2>

<h3>龜甲</h3>
<p>鹹平，腎經藥也。稟北方純陰之氣而生，大有補水以制火之功，故能強筋骨，益心智，止咳嗽，截久瘧，去瘀血，生新血。大凡滋陰降火之藥，多是寒涼損胃，惟龜甲益大腸，止泄瀉，使人進食，真神良之品也。龜、鹿皆靈而壽。龜首藏向腹，能通任脈，故取其甲以養陰。鹿鼻反向尾，能通督脈，故取其角以養陽。去脅用底，去黑皮，酥炙。</p>

<h3>鱉甲</h3>
<p>鹹平，肝經藥也。截久瘧，消瘧毒，破癥瘕，行瘀血，退煩熱，補新血。按：龜、鱉皆主養陰滌熱，鱉色青，故入東方而理肝家諸症。龜色黑，故走北方而理腎經諸症。七肋者佳，不經湯煮者，醋炙黃，研細。</p>

<h3>蟹</h3>
<p>味鹹性寒。散結血，通經脈，退諸熱，療漆瘡，續筋骨。爪能破血，墮胎。最能動風，亦能寒胃。</p>

<h3>牡蠣</h3>
<p>鹹寒。化痰軟堅，清熱除濕。止遺泄腸滑，小便多，盜汗，心脾病，赤白濁崩帶，疝瘕積塊，癭癧。好古曰：牡蠣入足少陰，為軟堅之劑。以柴胡引之，去脅下硬；以茶引之，消項上核；以大黃為使，能益精收澀，止小便。黃泥固濟，火煅。</p>

<h3>珍珠</h3>
<p>鎮安心神，點降固翳。絹包，入腐中煮研。</p>

<h3>海蛤</h3>
<p>鹹平。主水腫，利大小腸，止喘嘔咳逆，清熱去濕，化痰消積及癭瘤。</p>

<h3>石決明</h3>
<p>鹹寒，入足厥陰、少陰經。內服而翳障消除，外點而赤膜盡散。清肝、肺之風熱，解白酒之味酸。火煅研末，以酒蕩熱，入末調勻，蓋一時飲之不酸。又名千里光，以其功效名之，可以浸水洗眼，目病之外無他用也。久服令人寒中。鹹水煮或涎裹煨，磨去粗皮，研萬遍，水飛用。七孔、九孔者良。</p>

<h2>禽部</h2>

<h3>鴨</h3>
<p>味甘性平。主虛勞骨蒸。惟白毛黑嘴者方有其功。取金肅水寒之象也。嫩者毒，老者良。</p>

<h3>烏骨雞</h3>
<p>北方之色，故補陰退熱。若他色者最能動風助火。蓋巽為雞，感風木之化也。</p>

<h3>雞內金</h3>
<p>乃肫內黃皮。男用雌，女用雄，即雞膍胵也。主反胃吐食，大腸泄痢，小便頻數，精滑崩帶。</p>

<h3>雞屎白</h3>
<p>白乃雄雞屎也。主腹滿水腫，能下氣，利大小便。此岐伯神方也。大虛者，亦勿用。</p>

<h3>雞卵</h3>
<p>性平。精不足者，補之以氣，故卵白能清氣，治伏熱目赤，喉痛諸疾。形不足，補之以味，故卵黃以補血，治下痢，胎產諸疾。</p>

<h3>五靈脂</h3>
<p>甘溫，肝經血分藥也。主行血散血和血，止一切胸膈腹脅、肢節肌膚痛症，亦能下氣殺蟲。凡血崩及女人血病，百藥不效者，立可奏功，亦神藥也。多夾砂石，極難修治，研細酒飛，去砂石，曬乾。</p>

<h2>獸部</h2>

<h3>阿膠</h3>
<p>甘平，肺肝藥也。主吐血、衄血、淋血尿血，腸風下血，女人血枯崩帶，胎產諸病，男女一切風病，水氣浮腫，勞症咳嗽喘急，肺痿肺癰。潤燥化痰，利小便，調大腸之聖藥也。蛤粉或糯米粉同炒，成珠。</p>

<h3>牛黃</h3>
<p>苦平。清心化熱，利痰涼驚，安神辟邪。體輕氣香，置舌上，先苦後甘，清涼透心者為真。</p>

<h3>虎骨</h3>
<p>辛溫。追風定痛，健骨驅邪。風從虎者，風，木也；虎，金也。木承金制，安得不從？故虎嘯而風生，所以治風疴攣急，骨節風毒等症。</p>

<h3>犀角</h3>
<p>苦酸而寒。清胃涼心，辟邪解毒。理吐衄，腸風及畜血，發狂，譫語，發斑；痘疹之熱毒。</p>

<h3>羚羊角</h3>
<p>鹹寒，專主肝症。平肝舒筋，明目定驚，清熱解毒，散血下氣。羚羊屬木，故入厥陰，同氣相求也。</p>

<h3>鹿茸</h3>
<p>鹹溫，腎經藥也。補火助陽，生精益髓，強筋健骨，暖腰壯膝，固精攝便，安胎殺鬼。鹿稟天地純陽之氣，氣化振密，其角自生至剛無兩月之久，大者至二十餘斤。凡物之生無速於此，故能強陽補骨，非他藥可比也。長大為角，與茸同功，力少遜耳。</p>

<h3>麝香</h3>
<p>辛溫。通經絡，開諸竅，透肌骨，闢鬼邪，去三蟲，攻風痰，祛惡夢，墮胎孕，止驚癇。時珍曰：嚴氏言風病必先用麝香，丹溪謂風病、血病必不可用，皆非通論矣。愚按麝香走竄，通諸竅之閉塞，開經絡之壅滯。若諸風、諸氣、諸血、諸痛、癇瘕等病，經絡壅滯，孔竅閉塞者，安得不用以開之、通之耶？非不可用也，但不可過耳。</p>

<h3>獺肝</h3>
<p>甘平。主傳屍勞極，鬼疰蟲毒，上氣咳嗽，殺蟲止汗。</p>

<h3>膃肭臍</h3>
<p>咸熱。益腎臟，壯腎事，補勞傷，破積聚。入藥用外腎而曰臍者，連臍取之也。毛色似狐，頭形似狗，尾形似魚，腎上兩重薄皮裹其丸核，皮上有黃毛，一穴三莖。近多偽者，不可不辨。酒浸，炙搗。</p>

<h2>人部</h2>

<h3>發</h3>
<p>味苦，性平。補真陰，通小便，消瘀血，生新血，理咳嗽，止崩帶。</p>

<h3>牙齒</h3>
<p>咸熱。除勞止瘧，治乳癰未潰，痘瘡倒靨。時珍曰：人牙治痘陷，近稱神品，然一概用之，貽害不淺。齒者，腎之標，骨之餘也。痘瘡毒自腎出，外為風寒穢氣所觸，腠理閉塞，血澀不行，毒不能出，變黑倒靨，宜用人牙，以酒、麝達之，竄入腎經，發出毒氣，痘自紅活。若伏毒在心而昏冒者，及氣虛色白，癢塌不能作膿，熱沸紫泡之症，宜用解毒補虛。誤用人牙，反成不救。</p>

<h3>人中黃</h3>
<p>即金汁也。主熱病發狂，痘瘡血熱，勞極骨蒸，解一切毒。用棕皮綿紙鋪黃土，澆糞淋土上濾取清汁，入新甕內，碗蓋，埋土中，經年取出。清如泉水，全無臭氣，年久者彌佳。</p>

<h3>小便</h3>
<p>鹹寒。滋陰降火，止血和經，去瘀養新，定嗽消痰。童男者尤良。時珍曰：小便入胃，隨脾之氣上歸於肺，通調水道，下輸膀胱，乃其舊路也。故能清肺，導火下行。褚澄云：喉不停物，毫髮必咳。血既滲入，愈咳愈滲，惟飲溲溺，則百不一死。若服寒涼，則百不一生。人中白，乃溺器澱白垽也。煅過，水飛用。主降火，消血，止咳化痰，理咽喉口齒。秋石，滋腎水，理虛勞，安五臟，潤三焦，消痰嗽，退骨蒸。秋月取童便十斛，每石入皂莢汁一碗，竹杖攪千餘下，候澄去淫，留垽刮下，再以秋露水煮化，筲箕內鋪紙淋過。再熬。如此七次，其色如雪，方入罐內，鐵盞蓋定，咸泥固濟，升打三炷香。取出再研，再如前升打。鐵盞上用水徐徐擦之，水不可多，多則不結；又不可少，少則不升。從辰至未，退火冷定盞土。升起者，為秋水，味淡而香，乃秋石之精英也，有滋腎固元，清痰退熱之妙。其不升者，即秋石也，但能降火化痰而已。近者雜取人溺，不擇時令，盡失其道，奚取其名乎！射利欺世，豈能應病耶！</p>

<h3>人乳</h3>
<p>甘涼。補真陰，潤枯燥，悅皮膚，充毛髮，點目疾。按：婦人之血，下為月經，上為乳汁，以人補人，功非渺小。世俗服者多瀉，遂歸咎於人乳，不知人乳滋潤嬰兒，食之便溏者有之，如乳與食混進，宜乎發瀉何怪也？當夜半服之，昨日之食已消，明日之食未進，且陰藥服於陰分，正相宜也。服乳者，須隔湯熱飲，若曬曝為粉，入藥尤佳。</p>

<h3>紅鉛</h3>
<p>味鹹性溫。救虛損，理沉疴，回生起死，返老還童，理女勞，復解箭瘡毒。按《仙經》云：男子初生，純乾體也，十六歲精通，則乾變而為離中虛。女子初生，純坤體也，十四歲經生，則坤變而為坎中滿。所以男子一身屬陽，惟精屬陰。女子一身屬陰，惟經屬陽。故曰：取將坎位中心實，補卻離宮腹裡虛，正謂是也。誠延齡至寶，卻病神丹。然惟首經乃獲靈奇，若是常經，僅堪補益。蓋嘗論之，水穀入胃，泌別熏蒸，化煉精微，上奉於肺，流溢於中，布散於外。中焦受汁，變化成赤，行於隧道，以奉生身，是之謂血，命曰營氣。婦人之經，上應太陰，下應潮汐，故有月事之稱。又稱經水，經者常也。又稱天癸者，天一生水。地天稱紅鉛者，鉛於五金之中，獨應北方之水也。凡患虛勞內蠱，神氣敗壞，命如懸絲，百藥無功，獨有斯方，真堪奪命。但修煉有法，服食有度，非宿有因綠者，未易遇也。</p>

<h3>津唾</h3>
<p>主瘡腫疥癬，皶疱，五更未語者，頻塗擦之。又明目退翳，解毒辟邪。凡人舌下有四竅，兩竅通心氣，兩竅通腎液。心氣流入舌下為神水，腎液流入舌下為靈液，溢為醴泉，聚為華池，散為津液，降為甘露，所以灌溉臟腑，潤澤肢骸，故養生家咽納津氣，謂之清水灌靈根。能終日不唾，則精氣常流，容顏不老。若多唾，則損精氣，成肺疾，皮膚枯涸，故曰遠唾不如近唾，近唾不如不唾。人有病，則心腎不交，腎水不上，則津液乾枯。《難經》云：腎主五液，入肝為淚，入肺為涕，入脾為涎，入心為汗，自入為唾也。範東陽云：凡人魘死，不得叫呼，但痛咬腳跟及拇指甲際，多唾其面，徐徐喚之自省。黃震云：宗定伯夜遇鬼，問其所畏。曰：唯畏唾耳。急持之，化為羊。恐其變化，因大唾之，賣獲千錢。故知鬼真畏唾也。</p>

<h3>人氣</h3>
<p>主下元虛冷，胸腹不快，骨節痹痛，令人更互呵熨，甚良。按：火即是氣，氣即是火，兩者同出而異名，故元氣為真火。天非此火不能生物，人非此火不能有生。故老人、虛人與少陰同寢，藉其熏蒸之益。杜詩云：暖老須燕玉，正此意也。但勿縱欲以喪寶耳。術家用童鼎救人，從鼻竅、臍中、精門三處，按法進氣，謂之龍來帳里奪明珠，吐氣衝開九竅，虎到坐前施勇猛，巽風鼓動三關，起必死之沉疴，握長生之要道。《續漢書》云：史循宿禁中，寒病發，求火不得。眾口更噓其背，尋愈。《抱朴子》云：人在氣中，氣在人中。天地萬物，無不需氣以生。善行氣者，內以養生，外以卻惡。從子至巳為生氣之時，從午至亥為退氣之時。常於生氣之時，鼻引清氣，入多出少，氣極乃微吐，勿令耳聞。習之無間，漸至口鼻無氣，僅微微從臍中出入，此為胎息。善行氣者，可避飢渴，可永年命，可行水面，可入水中，可卻百病。以噓水則水逆流，噓火則火遙滅，噓沸湯則手可探，噓金瘡則血自止，噓刃則鋒不能入，噓矢則簇不能傷，噓犬則不吠，噓虎則退伏。氣本無形，神奇若此。道家取先天祖氣，孟夫子取善養浩然。氣之於人，生死變化，莫不由之，大矣哉。</p>

<h3>天靈蓋</h3>
<p>治傳屍鬼疰，邪瘧。古人以掩暴骨為仁厚，方士取人骨為藥餌，有仁心者固如是乎？大且不食犬骨，人食人骨可乎？而以他藥代之，何所不可，乃必欲取之，傷德甚矣。</p>

<h3>紫河車</h3>
<p>味鹹性溫。主男女虛損勞極，不能生育，下元衰憊。《丹書》云：天地之先，陰陽之祖，乾坤之橐籥，鉛汞之胚胎，九九數足，我則載而乘之，故名河車。崔行功云：胞衣宜藏天德、月德吉方，深埋緊築，令兒長壽。若為鳥獸所食，多病難育。此亦銅山西崩，洛鐘東應，自然之理也。今蒸煮而食，獨不思崔氏之禁乎？男病用女胎，女病用男胎。米泔洗淨，銀針遍刺透，童便好酒各半，浸半日，揉洗極潔，收乾水氣，入鉛盒中，加煉蜜半斤，仍將焊藥焊固，入釜中，煮三香，待別藥俱完，取出搜和為丸，既不出氣，又賴鉛以制其毒，乃為神良。</p>

<h3>臍帶</h3>
<p>性溫。固腎命門，充養血氣，預解胎毒。按：嬰兒在母腹中，為胎所裹，口鼻不能通氣，但有臍帶，通於母之肺系，母呼亦呼，母吸亦吸，直待出離母腹。因地一聲，臍帶既剪，一點真元，屬之命門。臍乾自落，如瓜脫蒂。故《丹經》以臍為命蒂，信然。</p>

<h2>金石部</h2>

<h3>金箔</h3>
<p>辛平。鎮邪祟，安魂魄，制癲癇。生金有毒能殺人。用箔不得過二分。仲景紫雪方用赤金煎液，取其制肝風，降炎逆也。輕粉，水銀所傷，非金莫療。</p>

<h3>銀箔</h3>
<p>性味主治皆同金箔，但金有毒，而銀無毒耳。</p>

<h3>自然銅</h3>
<p>辛平。消瘀血，續筋骨，止痛排膿。不可多服。</p>

<h3>銅青</h3>
<p>酸。走厥陰，故能退利風痰，眼障、蟲疳皆治。</p>

<h3>鉛</h3>
<p>甘寒。屬水入腎。秉北方癸氣，陰極之精，其體重實，其性濡滑。故黑錫丹得汞交感，治上盛下虛，氣升不降，發為眩暈、噎膈反胃，鎮墜之性，有反正之功。但偏於陰降，不可多服。燒酒、醋釀成鉛水，為降火神丹。然亦禁多用。</p>

<h3>黃丹</h3>
<p>體重，性沉，味兼咸。能墜痰去怯，治驚癇顛狂吐逆；能消積殺蟲，治疳疾瘧痢；能解熱拔毒，長肉去腐，治惡瘡腫毒。</p>

<h3>鐵落</h3>
<p>制肝下降。主善怒發狂、顛癇驚邪客忤。</p>

<h3>紫石英</h3>
<p>甘溫，手少陰、足厥陰血分藥也。上能鎮心，重可去怯也；下能益肝，濕可去枯也。心主血，肝藏血，性暖而補，故神不安，血不足，虛寒不孕者宜之。</p>

<h3>硃砂</h3>
<p>甘微寒，心經藥也。養精神，安魂魄，辟邪魅，治癲癇，解諸毒，祛鬼瘧。硃砂稟離火之氣，性反涼者，高中有陰也。納浮游之火，安君主之官，秉陽明之德，闢幽昧之邪，藥中神聖也。形如箭鏇，透明者佳。研細，水飛三次用。</p>

<h3>水銀</h3>
<p>辛寒，有毒。鎮墜痰氣上逆，嘔吐反胃；殺蟲墮胎，下死胎。水銀乃至陰之精，稟沉著之性。得凡火煅煉，則飛騰靈變；得人氣熏蒸，則入骨鑽筋。近巔頂，則蝕腦而百節攣廢；近陰莖，則陰消而痿敗不興。同黑鉛結砂，則鎮墜痰涎：同硫黃結砂，則極救危病，在用之者合宜爾。</p>

<h3>輕粉</h3>
<p>辛溫，有毒。治痰涎、積滯、鼓脹、毒瘡，殺蟲搜風。按：輕粉乃咸礬煉水銀而成，其氣燥烈，其性走竄，善劫痰涎。消積滯。故水腫、風痰、濕熱、楊梅毒瘡服之，則涎從齒齦而出，邪郁暫開而愈。若服之過劑及用之失宜，則毒氣被逼，竄入經絡筋骨，莫之能出。變為筋攣骨痛，發為癰腫疳漏，經年累月，遂成廢痼，因而夭枉者不少也。</p>

<h3>銀硃</h3>
<p>辛溫，有毒。劫痰破積殺蟲，其功與輕粉同，其為害亦同也。廚人染食供饌，未知其害耳。</p>

<h3>雄黃</h3>
<p>辛溫，有毒，肝家藥也。拽肝氣，瀉肝風，消涎積，解百毒，闢百邪，殺百蟲，截鬼瘧，理蛇傷，能化血為水。</p>

<h3>石膏</h3>
<p>甘寒，足陽明藥也。除胃熱，止陽明頭額痛，日晡寒熱，大渴引飲，中暑，潮熱胃火，牙疼，皮熱如火。元素曰：能寒胃，令人不食，非腹有極熱者，不宜輕用。東垣云：邪在陽明，肺受火邪，故用以清肺，所以有白虎之名。孫兆曰：四月以後天氣熱時，宜用白虎。壯盛人生用，虛人糖拌炒。恐妨脾胃。火煨亦可。</p>

<h3>滑石</h3>
<p>甘寒。利竅除熱，清三焦，涼六腑，化暑氣，通水腫，退黃疸，止諸血，解煩渴，厚腸胃。時珍曰：滑石利竅，不獨小便也。上利毛腠之竅，下利精溺之竅。通上下，徹表裡，故主治甚多。小便利及精滑者禁用。</p>

<h3>赤石脂</h3>
<p>甘酸辛溫。補心血，生肌肉，厚腸胃，除水濕，收脫肛。好古曰：澀可去脫，石脂為收斂之劑，赤者入丙丁，白者人庚辛。瀉痢初起者，勿用。火煅。</p>

<h3>爐甘石</h3>
<p>陽明藥也。受金銀之氣所生，故能平肝。治目清腫，退赤去爛除翳。火煅紅。童便淬七次，研粉，水飛。入硃砂則不黏膩。</p>

<h3>海石</h3>
<p>乃水沫結成，色白體輕，肺之象也。氣味鹹寒，潤下之用也。故入肺除痰嗽而軟堅，上源既清，故又治諸淋。肝屬木，當浮而反沉，肺屬金，當沉而反浮，何也？肝實而肺虛也。故石入水則沉，而南海有浮水之石；木入水則浮，而南海有沉水之香木。</p>

<h3>陽起石</h3>
<p>鹹溫。主下部虛寒，助陽種子。火煅，水飛。</p>

<h3>磁石</h3>
<p>色黑，入腎，益精明目，聰耳鎮驚。</p>

<h3>代赭石</h3>
<p>止反胃，吐血衄血，月水不止，腸風瀉痢，脫精遺溺，小兒驚疳，女人崩漏。按：代赭入肝與心胞，專主二經血分之病。仲景治汗吐下後心下硬，噫氣，用旋覆代赭湯，取其重以鎮虛逆，赤以養陰血也。煅紅、醋淬搗，水飛。</p>

<h3>砒石</h3>
<p>辛酸大熱，大毒。主老瘧，齁喘，癖積，蝕瘀腐，瘰癧。砒本大熱大毒，煉之成霜。其毒尤烈，人服至七八分必死，得酒頃刻立斃，雖綠豆冷水立難解矣。入丸藥中，劫哮喘痰瘧，誠有立地奇功。須冷水吞之，不可飲食，安臥一日，即不作吐；少物引發，即作吐也。惟宜生用，不可經火。</p>

<h3>青礞石</h3>
<p>鹹平。破老痰堅積，止咳嗽喘急。色青乃厥陰之藥，肝木乘脾，土氣不運，痰滯胸膈，宜其重墜，令木平氣下，則痰症自愈。脾虛家不宜多服。入罐打碎，礞石四兩拌勻消石四兩，同煅至消盡，礞石色如金為度。研細，水飛用。</p>

<h3>花蕊石</h3>
<p>石主金瘡出血，一切失血，女人血暈，且化血為水，故雖有殊功，不敢多用。煅研，水飛。</p>

<h3>石燕</h3>
<p>利竅，行濕通淋，目障腸風，痔瘻帶下，磨汁飲之。難產者，兩手各握一枚，即生。</p>

<h3>朴硝</h3>
<p>苦辛寒。一經煮煉即為芒硝。鼎罐升煅，即為玄明粉。主五臟積聚，久熱胃閉，痰實血結，明目下胎。《內經》云：熱淫於內，治以鹹寒。故承氣湯，用以軟堅去實。朴硝重濁，止堪塗傅。芒硝輕爽，可供走血蕩腸之需。玄明更佳，然止於治病。服食則不可耳。</p>

<h3>硫黃</h3>
<p>咸熱，有毒。主命門火衰，陽氣暴絕，陰症傷寒，陽道痿弱，老人虛秘，婦人血結，虛人寒利，心腹積聚。按：硫秉純陽之精，益命門之火，熱而不燥，能潤腸結，亦救危神劑。故養正丹用之，常收起死之功。能化鉛為水，修煉家尊為金液丹。寇宗奭云：下元虛冷，真氣將絕，久患泄瀉，垂命欲盡，服無不效，但中病當便已，不可盡劑。番舶者良，取色鮮潔者，以萊菔剜空，入硫在內，合好，糠火煨熟，去其臭氣；再以紫背浮萍同煮，消其火毒；又以皂莢湯，淘去黑漿。一法：絹袋盛鹼水煮三日夜，取出清水漂淨用。畏細辛、醋、諸血。土硫，止可入瘡科，不堪服餌。壬子秋，余應試北雍，值孝廉張抱赤，久荒於色，腹滿如斗。參湯送金匱丸，小便稍利，滿亦差減。越旬日而滿如故，肢體厥逆，仍投前丸，竟無裨也。舉家哀亂，惟治終事。抱赤泣而告曰：若可救我，當終其身父事之。余曰：即不敢保萬全，然餌金液丹至數十粒，尚有生理。抱赤連眼百粒，小便遄行，滿消食進，更以補中、八味並進，遂獲痊安。故夫藥中肯綮，如鼓應桴。世之病是症，而不得援者眾矣。有如抱赤之傾信者，幾何人哉，況硫非治滿之劑，只因元陽將絕，而參附無功，藉其純陽之精，令陰寒之滯見暖冰消爾。</p>

<h3>膽礬</h3>
<p>酸澀辛寒。性斂而能上升，湧吐風熱痰涎。治喉痹崩淋，能殺蟲，治陰燭。產銅坑中，磨鐵如銅者真。</p>

<h3>白礬</h3>
<p>酸澀性涼。主消痰燥濕，解毒止血，定痛止痢，除咽喉口齒諸病，虎、犬、蛇、蠍百蟲傷。主治與膽礬同，收而燥濕，痰飲瀉痢，崩帶，風眼，皆用也。性能卻水，多服損肺。</p>

<h3>無名異</h3>
<p>甘平鹹寒。治金瘡，療折傷，收濕氣，生肌肉。按：無名異，陽石也，善理折傷內損，止毒止痛，故臨杖人用以溫服三錢，則不甚傷。亦善收水氣，故煎煉桐油者，不可缺也。</p>

<h3>硼砂</h3>
<p>甘涼微咸。退障除昏，開努肉；消瘕通膈，殺勞蟲，生津止嗽，治喉痹，口齒諸病。按：硼砂之性能柔五金而去垢膩，故治𦠉膈積塊，痰核努肉，目翳骨哽等症，但可療有餘，難施於不足，虛勞症中非所宜也。有二種，出西番者白如明礬，南番者黃如桃膠。能制永啞銅。</p>

<h2>用藥機要</h2>
<p>醫之神良，識病而已；病之機要，虛實而已。虛甚者必寒，實甚者必熱，然常病易曉，變病難知。形衰神憊色夭，脈空而知其虛；形盛神鼓色澤，脈強而知其實，不待智者決也。至實有羸狀，誤補益疾；大虛有盛候，反瀉含冤。陽狂與陰躁不同，蚊跡與發斑有別，自非洞燭立微者，未易辨也。</p>
<p>居養有貴賤，年齒有老少，稟賦有厚薄；受病有久新，臟腑有陰陽，性情有通滯；運氣有盛衰，時令有寒暄，風氣有南北。六氣之外客不齊，七情之內傷匪一，不能隨百病而為變通，乃欲執一藥而理眾病，何可得也！故曰用古方治今病，譬猶拆舊料改新房，不再經匠氏之手，其可用乎？明於此者。始可與言醫也矣。</p>
<p>藥有君臣佐使，陶弘景以上品之藥為君，及考《內經》曰：主病之謂君，佐君之謂臣，應臣之謂使，非上下三品之謂也。張元素曰：為君者最多，為臣者次之，佐使又次之。由是而知陶為服食之說則是，治病之法為偏也。</p>
<p>藥有七情：獨行者，單方不用輔也。相須者，同類不可離也。相使者，我之佐使也。相惡者，奪我能也。相畏者，受彼之制也。相反者，兩不相合也。相殺者，制彼之毒也。相畏相反同用者，霸道也。相須相使同用者，王道也。有經有權，因時勢而斟酌也。</p>
<p>藥有五味：苦者入心，直行而泄；辛者入肺，橫行而散；酸者入肝，束而收斂；咸者入腎，甘而軟堅。甘者入脾，有和、有緩、有補、有瀉、可上、可下、可內、可外，土味居中而能兼五行也。淡之一味，五臟無歸，專入太陽而入小便。</p>
<p>藥有四氣：溫者應春生之氣而主發育，熱者應夏長之氣而主暢遂，涼者應秋收之氣而主清肅，寒者應冬藏之氣而主殺伐。故虛弱之人，不足之症，當以生長為先。壯實之人，有餘之邪，當以肅殺為要。兩者易而為治，是為實實虛虛，損不足而益有餘。如此死者，醫殺之耳。叔季之世，人民虛薄，受補者常多，受克者常少。故補中、還少，日就增多；承氣、抵當，日漸減少。奈何？夫人之病十有九虛，醫師之藥百無一補，猶且矜獨得之妙，夭枉者比比，終不悔悟，良可悲夫！溫暖之藥，象類陽明，苟有過則人皆見之；寒涼之藥，象類陰柔小人，國祚已移，人猶莫覺其非。凡用滋補藥，病不增即是減，內已受補故也；用克伐藥則不減即是增，內已受伐故也。</p>
<p>七方者：大、小、緩、急、奇、偶、復。大方之說有三：有藥力雄猛之大；有品味數多之大；有分兩數多之大。此治下焦，療大病之法也。小方之說有三：有病勢輕淺，不必雄猛之小；有病在上焦，宜分兩輕微之小；有病無兼症，宜君一臣二之小。緩方之說有六：有甘以緩之之緩，有緩則治本之緩，有丸以緩之之緩，有品味眾多之緩，有無毒治病之緩，有氣味俱薄之緩。急方之說有五：有急症須急治之急，有湯液盪滌之急，有毒藥之急，有氣味俱厚之急，有急則治標之急。奇方之說有二：有獨用一物之奇，有一、三、五、七、九之奇。奇方宜下不宜汗。偶方之說有三：有兩味配合之偶，有二方合用之偶，有二、四、六、八、十之偶。偶方宜汗不宜下。桂枝汗藥，反以五味成奇。承氣下藥，反以四味成偶。豈臨時制宜，當別有法乎？複方之說有三：有二、三方及數方相合之復，本方之外復加他藥之復，有分兩均齊之復。王太僕以偶為復，今七方有偶又有復。豈非偶乃二方相合，復乃數方相合乎？</p>
<p>十劑者：宣、通、補、泄、輕、重、滑、澀、燥、濕。宣劑，宣可去壅，生薑、橘皮之屬。壅者，塞也；宣者，布也，散也。鬱塞之病，不升不降，必宣布敷散之。如氣鬱有餘，則香附、蕪芎以開之，不足則補中益氣以運之。火鬱微則山梔、青黛以散之，甚則升陽解肌以發之。濕鬱微則蒼朮、白芷以燥之，甚則風藥以勝之。痰鬱微則南星、橘皮以化之，甚則瓜蒂、藜蘆以湧之。血鬱微則桃仁、紅花以行之，甚則或吐或下以逐之。食鬱微則山楂神麯以消之，甚則上湧下泄以去之，皆宣劑也。通劑，通可去滯，通草、防己之屬。滯者，留滯也。濕熱留於氣分而痛痹癃閉，宜淡味下降，通利小便而泄氣中之滯，通草是也。濕熱留於血分而痛痹癃閉，宜苦寒下引，通其前後而泄血中之滯，防己是也。補劑，補可去弱，人參、羊肉之屬。形不足者，補之以氣，人參是也。精不足者，補之以味，羊肉是也。泄劑，泄可去閉，葶藶、大黃之屬。閉字作實字看。實者瀉之，葶藶瀉氣實而利小便，大黃瀉血實而通大便。輕劑，輕可去實，麻黃、葛根之屬。表閉者，風寒傷營，腠理閉密而為發熱頭痛，宜麻黃輕揚之劑發其汗，而表自解。里閉者，火熱抑鬱，皮膚干閉而為煩熱昏瞀，宜葛根輕揚之劑，解其肌而火自散。上閉有二：一則外寒內熱，上焦氣閉，發為咽痛，宜辛涼以揚散之。一則飲食寒冷，抑遏陽氣在下，發為痞滿，宜揚其清而抑其濁。下實亦有二：陽氣陷下，裡急後重，至圊不能便，但升其陽而大便自順，所謂下者舉之也。燥熱傷肺金，金氣膹郁，竅閉於上，而膀胱閉於下，為小便不利，以升麻之類探而吐之，上竅通小便自利，所謂病在下取之上也。重劑，重可去怯，磁石、鐵粉之屬。重劑凡四：有驚則氣亂魂飛者，有怒則氣上發狂者，並鐵粉、雄黃以平其肝。有神不守舍而健忘不寧者，宜硃砂、紫石英以鎮其心。有怒則氣下而如人將捕者，宜磁石、沉香以安其腎。滑劑，滑可去著，冬葵子、榆白皮之屬。著者，有形之邪，留著於經絡臟腑，如屎溺濁帶、痰涎、胞胎，癰腫之類，宜滑劑以去其留滯之物。此與通以去滯相類，而實不同。通草、防己淡滲，去濕熱無形之邪；葵子、榆皮甘滑，去濕熱有形之物。故彼曰滯，此曰著也。澀劑，澀可去脫，牡蠣、龍骨之屬。脫者，氣脫、血脫、精脫、神脫也。脫則散而不收，用酸澀溫平以斂其耗散。夫汗出、便泄、遺溺皆氣脫也；腸風、崩下、血厥皆血脫也；精流、骨痿，精脫也。牡蠣、龍骨、五味、五棓、訶子、粟殼、棕灰、石脂皆澀藥也。如氣脫，加參、耆；血脫，兼歸、地；精脫，兼龜、鹿。至夫脫陽者見鬼，脫陰者目盲，此神脫也。去死不遠，無藥可治。燥劑，燥可去濕，桑皮、赤小豆之屬。外感之濕，由於水嵐雨露；內傷之濕，由於酒茶蔬果。夫風藥可以勝濕，淡藥可以滲濕，不獨桑皮、赤豆也。濕劑，濕可去枯，白石英、紫石英之屬。濕字當作潤字看。枯者，燥也，血液枯而成燥。上燥則渴，下燥則結，筋燥則攣，皮燥則揭，肉燥則裂，骨燥則枯。養血則當歸、地黃，生津則門冬、五味，益精則蓯蓉、枸杞，不獨石英為潤劑也。治熱以寒，溫而行之；治寒以熱，涼而行之；治溫以清，冷而行之；治清以溫，熱而行之。木鬱達之，火鬱發之，土鬱奪之，金鬱泄之，水鬱折之。氣之勝也，微者隨之，甚者制之；氣之復也，和者平之，暴者奪之，高者抑之，下者舉之，有餘折之，不足補之，堅者削之，客者除之，勞者溫之，結者散之，留者行之，燥者濡之，急者緩之，散者收之，損者益之，逸者行之，驚者平之。又曰：逆者正治，從者反治。反之，熱因寒用，寒因熱用，塞因塞用，通因通用，必伏其所主，而先其所因。其始則同，其終則異。可使潰堅，可使破積，可使氣和，可使必已。又曰：諸寒之而熱者取之陰，熱之而寒者取之陽，所謂求其屬以衰之也。王太僕曰：粗工褊淺，學未精深，以熱攻寒，以寒療熱，治熱未已而冷疾已生，攻寒日深而熱病更起，熱起而中寒尚在，寒生而外熱不除，欲攻寒則懼熱不前，欲療熱則思寒又止。豈知臟腑之源，有寒熱溫涼之主哉。</p>
<p>《內經》曰：陰味出下竅，陽氣出上竅。清陽發腠理，濁陰走五臟；清陽實四肢，濁陰歸六腑。味厚為陰，味薄為陰中之陽；氣厚為陽，氣薄為陽中之陰。味厚則泄，薄則通。氣薄則發泄，厚則發熱。辛甘發散為陽，酸苦湧泄為陰。鹹味湧泄為陰，淡味滲泄為陽。元素曰：附子氣厚，為陽中之陽；大黃味厚，為陰中之陰。茯苓氣薄，為陽中之陰，所以利小便，入太陽，不離陽之體也；麻黃味薄，為陰中之陽，所以發汗，入手太陰，不離陰之體也。肝苦急，急食甘以緩之（甘草），以酸瀉之，（芍藥），實則瀉子（甘草）。肝欲散，急食辛以散之（川芎），以辛補之（細辛），虛則補母（地黃）。心苦緩，急食酸以收之（五味），以甘瀉之（參、耆），實則瀉子（甘草）。心欲軟，急食鹹以軟之（芒硝），以咸補之（澤瀉），虛則補母（生薑）。脾苦濕，急食苦以燥之（白朮），以苦瀉之（黃連），實則瀉子（桑皮）。脾欲緩，急食甘以緩之（甘草），以甘補之（人參），虛則補母（炒咸）。肺苦氣上逆，急食苦以泄之（訶子），以辛瀉之（桑皮），實則瀉子（枳實）。肺欲收，急食酸以收之（芍藥），以酸補之（五味），虛則補母（五味）。腎苦燥，急食辛以潤之（知母），以咸瀉之（澤瀉），實則瀉子（芍藥）。腎欲堅，急食苦以堅之（知母），以苦補之（黃柏），虛則補母（五味）。夫甘緩、酸收、苦燥、辛散、咸軟、淡滲，五味之本性，一定而不變者也。或補或瀉，則因五臟四時而迭相施用者也。溫、涼、寒、熱，四氣之本性也。其於五臟補瀉，亦迭相為用也。此特潔古因《素問》飲食補瀉之義，舉此以為例耳。學者宜因其意，而推廣變通之。元素曰：五臟更相平也。一臟不平，所勝平之。</p>
<p>春宜辛溫，薄荷、荊芥之類，以順春升之氣；夏宜辛熱，生薑、香薷之類，以順夏浮之氣；長夏宜甘苦辛溫，人參、白朮、蒼朮、黃柏之類，以順化成之氣；秋宜酸涼，芍藥、烏梅之類，以順秋降之氣；冬宜苦寒，黃芩、知母之類，以順冬沉之氣。所謂順時氣而養天和也。春宜省酸增甘以養脾也，夏宜省苦增辛以養肺氣，長夏宜省甘增咸以養腎氣，此防其太過也。</p>
<p>王好古曰：四時總以芍藥為脾劑，蒼朮為胃劑，柴胡為時劑，十一經皆取決於少陽，為發生之始故也。補氣用參、耆，氣主煦之；補血須歸、地，血主濡之也。然久病積虛，雖陰血衰涸，但以參、耆、朮、草為主者，經所謂無陽則無以生陰也。是以氣藥有生血之功，血藥無益氣之理。夫氣藥甘溫，法天地春生之令，而發育萬物，況陽氣充則脾土受培轉輸健運，由是食入於胃，變化精微，不特灑陳於六腑而氣至，抑且和調五臟而血生，故曰氣藥有生血之功也。血藥涼潤，法天地秋肅之令，而凋落萬物，又且黏滯滋潤之性，所以在上則泥膈而減食，在下則腸滑而易泄，故曰血藥無益氣之理也。每見俗醫，療虛熱之症，往往四物主之，或兼知、柏、芩、連而投之，遂使脾土受傷，上嘔下泄，至死不悟，良可悲也？</p>
<p>藥有宜陳久者，如枳實、橘皮、半夏、麻黃、吳茱萸、狼毒之類。藥有宜新者，如人參、白朮、當歸、澤瀉之類，陳則氣味失矣，何效之有？詩云：老醫迷舊病，朽藥誤新方，其斯之謂與。</p>
<p>丸、散、湯、液，當顧名思義。湯者蕩也，盪滌其邪鋒。丸者緩也，緩養其正氣。散者散也，解散其結塞。丸有丸法。治下焦者，宜大而堅。中焦者，次之；上焦者，宜小而鬆。如蒸餅稀糊為丸，取其易化者，滴水猶為易化也。如蒸飯麵糊為丸，取其遲化，煉蜜亦取其遲化，而循行經絡也。蠟丸者，取其難化，而治下焦之藥也。</p>
<p>凡製藥貴得中，不及則無功，太過則損性。煅則通紅，炮則煙起，炒則黃而勿焦，烘與焙同，燥而不黃是也。酒製升提，咸制潤下，姜取溫散，醋取收斂。便制減其溫，蜜制潤其燥，壁土取其歸中，麥麩資其穀氣，酥炙取其易脆，去穰者寬中，抽心者除煩。</p>
<p>病在上焦者，先食而後藥；病在下焦者，先藥而後食。病在上者，不厭頻而少；病在下者，不厭頓而多。少服則滋榮於上，多服則峻補於下。</p>
<p>煎藥用水，各有其宜。中虛者，當用春雨水，取其生生之氣；火旺者，宜用冰雪水，取其陰寒下降；氣滯血凝痰阻便閉者，宜急流水，取其行而不停；失血遺精溺多便滑者，宜井華水，用清早初汲，取其凝結而不流；吐逆喘嗽脹滿者，宜東流水，取其順下；陰不升陽不降者，宜甘瀾水以調之。</p>
<p>煎藥忌銅鐵器，宜銀瓦器，令謹慎者看守，務須清潔，水用新汲。補藥須封固，文火細煎。利藥須露頂，武火速煎。溫服之劑宜冷服，寒涼之劑宜熱服。上焦藥，徐徐服；下焦藥，宜急服。凡服膏子藥，噙在口，俟其自化而下，所謂在上不厭頻而少之意。若湯調湯頓服，甚非古人設膏之本旨，何不隨煎隨服，乃用煉火之膏耶。</p>
<p>凡煉蜜，每斤加水四兩，待滾掠去沫淨，煎至滴水不化為度，庶經久不壞。藥滓再煎，殊非古法。味有厚薄，氣有輕重。若取二煎，其厚且重者，尚有功力，其輕且薄者，已無餘味，安在其君臣佐使之為哉。愚謂將二煎合第一煎和服，庶氣味不大輕重。</p>

<h2>引經報使</h2>
<p>手少陰心，黃連、細辛。足少陰腎，獨活、知母、肉桂、細辛。手太陰肺，桔梗、蔥白、升麻、白芷。足太陰脾，升麻、葛根、蒼朮、白芍。手厥陰心包絡，柴胡、丹皮。足厥陰肝，青皮、川芎、柴胡、吳茱萸。手太陽小腸，藁本、黃柏。足太陽膀胱，麻黃、羌活。手陽明大腸，白芷、石膏、升麻。足陽明胃，白芷、石膏、升麻、葛根。足少陽膽，柴胡、青皮。手少陽三焦：上，柴胡、連翹；中，青皮；下，地骨皮。</p>

<h2>附錄食物性鑑賦</h2>

<h3>寒涼為一例</h3>
<p>綠豆止消渴兼解諸毒，豆豉治嘔逆再散風寒。食醬止渴除煩而殺毒尤良，豆腐散血清熱而暑月應忌。脂麻發霍亂而滑腸胃，小麥養心氣而止虛煩。大麥有生損熟益之殊，蕎麥為煉滓消積之用。麩皮止汗而敷潰爛，小粉調經而散癰疽。麵筋益氣和中，薏米健脾勝濕。索粉解酒食菰菌之毒，石花非虛寒腸滑所宜。鮮菌有毒者時或殺人，柑子多食者亦令泄瀉。莧菜利大腸，同鱉食而成瘕；菠薐發腰痛，患冷氣者莫嘗。萵苣通經宣乳，目疾非宜；竹筍清熱消痰，腸滑少食。黃瓜發瘡動瘧，磨菰理氣以化痰。冬瓜瘦人走氣，皮乾折損堪醫；茄子動氣滑腸，蒂灰凍瘡能療。茗葉最清痰火，橙子頗治酒傷。甜瓜雖消暑而滑腸，西瓜亦傷脾而助濕。水梨利血寒中，瘡毒酒毒並解；柿子生痰冷腹，肺火胃火都除。荸薺消食解熱有功，慈菇孕婦腸風多忌。螃蟹解漆瘡破血，蟛蜞治濕癬疽瘡。蜆肉發嗽除黃，蚌肉助風動冷。野雞發痔瘡動痢，野鴨治水腫補中。螺螄清熱解酒，利大小便而治痔瘡；田雞骨熱肉寒，治蛤蟆瘟而消水腫。家鴨白補虛而黑滑利，老者為良；鴨卵生悶氣而醃宜人，血解諸毒。豬肉動風助濕，鵲肉治熱療風。豬腦傅凍瘡而損陽道，豬脂解藥毒而滑胃腸。蛤蜊醒酒開胃，血塊能消；田螺療熱敷瘡，禁口宜用。驢肉動風，妊婦食之難產；乳餅潤臟，痢病食以尤良。豬脊髓補虛損，兼治諸瘡；豬腰子治勞煩，能通腎氣。肺治肺虛咳嗽，腸醫腸燥便難。膽為敷瘡通便之需，胰有肺痿痃癖之用。牛乳潤皮膚，反胃熱噦宜飲；馬肉長筋骨，頭瘡曰禿宜求。梢瓜即生瓜，成癥結而動氣，時症後多妨。黑魚發痼疾而生瘡，療水腫卻效。潤臟腑澤肌膚，酥油最美；添精髓益津液，醍醐尤良。水獺通經而理毒風，兔肉解毒熱而壓丹石。蘆筍清熱，解諸魚蟹毒；茭白髮冷，除面目諸黃。</p>

<h3>溫熱為一例</h3>
<p>羊肉雖補虛而發熱，豬肝即明目而傷神。狗肉壯陽道，補胃填精；鹿肉治喎邪，養容強力。辟惡補虛，丹雞最效；鼠瘻蟲毒，貓肉堪醫。烏雞治虛損以安胎，白雞止消渴而利水。瓦雀起陽道，冬月食之有子；豬肚補中氣，四季啖以和脾。山藥有健脾益腎之功，南瓜乃腳氣黃疸之忌。李子調中養肝而多食發熱，杏實助心止渴而恣啖生痰。栗子滯中氣，曬乾為厚腸益腎之需；桃子益顏色，多食有膨脹癰疽之苦。烏骨雞治勞怯崩中，腎肝效著；黃雌雞主添精暖氣，脾胃功多。薺菜發瘡癬，差可滋肝；黃牛肉動疫氣，卻能補土。白棗最損脾而助濕，石榴亦病肺而生痰。楊梅雖養胃兮而損筋發瘡，橘子雖止渴兮而戀膈聚飲。胡桃暖命門，痰多積熱者勿食；櫻桃動虛熱，火病血嗽者休嘗。川椒達下祛寒，花椒溫中下氣。鯽魚益胃腸，補虛止痢；江鱭發瘡疥，助火成痰。水腫便澀，鮎魚雖有毒而多功；去濕去痔，河豚縱有效而勿食。橄欖消酒毒，更解河豚諸魚毒；松子治諸風，尤理肌膚骨節風。血積丹毒，海蛇最良；動火生痰，鮮蝦獨甚。黃鱔入士厚腸，多食令人霍亂；鯿魚生疳助痢，和芥益人肺經。惟壅熱而動風氣，小麥面有焉；生積聚而擁諸經，糯米粉甚矣。扁豆和中而止泄痢，黃豆壅氣而動嗽痰。陳倉米沖淡，最益胃家；小麥曲寬中，能消積滯。紅曲有健脾行血之能，飴糖乃動火生痰之物。米醋益血。酸收亦損筋而傷胃；米酒通經，辛散最夭命而昏神。酒糟消食除冷，兼成和傷止痛之勳；燒酒傷膽喪心，甚則黑胃腐腸而化。大蒜耗血壞目兮，亦能快膈化肉；芥菜豁痰通肺兮，惜其發痔損元。寒祛嘔止，和中首重生薑；熟降生升，消面獨推萊菔。蒔蘿除嘔逆而滋食味，芫荽辟惡氣而發痘瘡。金柑解酒病寬中，香圓治痰氣咳嗽。韭菜生散血而熟補中，多則神昏目暗；蔥葉治傷而根發汗，過則血動氣壅。獐肉祛風壯力，而瘦者損人；狐肉補虛暖中，而頭則勿食。騾肉損人，孕婦尤忌；白條暖胃，冷瀉偏宜。魚鱠發奇病而難消，鰱魚動風熱而生疥。龜肉止血除風，更療久嗽；鯇魚和中溫胃，亦發諸瘡。蟶腸生冷痢而治損虛，淡菜療崩中而消癭氣。林檎果發瘡癤冷痰，胡蘿蔔利腸胃胸膈。</p>

<h3>平性為一例</h3>
<p>豬血治嘈雜有蟲，尾血能醫中惡；豬心主驚癇恍惚，心血更起痘瘡。狗獾療疳積，益氣補中；豬獾益瘦人，寬膨止痢。鯉魚利水道有功，過食亦令發熱；青魚除濕痹最效，其膽更去目翳。動風瘡而發霍亂，鵝肉非良；解丹毒而治風痹，雁肉甚美。菱角鮮冷干平，多則生蟯蟲而損陽道。雞豆澀精理帶，過則動風冷而難克化。治金瘡止血痢，牛血之用偏多；解諸毒下死胎，羊血之功最大。刀豆下氣而止呃逆，水斳除熱而治崩中。鰣魚發疳動疾，取油塗湯火之傷；勒魚開胃和中，作鯗尤調脾之味。絲瓜發痘瘡，血壅熱者宜也；壺盧治黃腫，腳氣虛脹者忌之。烏鴉煅過，可療急風；鴿肉食多，能減藥力。白果益氣發脹，足供白濁蝨蟲之用；枇杷止吐潤臟，亦有傷脾發熱之嫌。解渴收痔，泥鰍反有奇功；發病動風，鱘蟥切宜少食。赤豆逐津液而治產難，久則肌枯膚燥；黑豆解百毒而除水脹，能令血活風消。白魚開胃消水，惜生痰而發瘡；石首止痢厚腸，魫治淋而解毒。蠶豆利臟腑，誤吞針而可下；豇豆補腎水，鼠奔毒以能消。木耳發風動疾，桑槐生者差良；香蕈破血治風，楓桐產者尤美。魚鰾療折傷而出肉刺；魚鮓損脾胃而發疥瘡。榧子止濁療嗽，殺蟲膨有良功；龍眼長智安神，補心脾為上品。龜肉虛損濕邪者堪食，鱉肉癥瘕冷疾者非宜。調中補胃，榛子之甘平；衄血口乾，荔枝之酸熱。雞肉催食安神，腸治濁而腎治齆；雞子動風短氣，白性寒而黃性溫。梅子損齒蝕脾，大棗助疳滋濕。鯧魚益氣力，令人肥健；鱸魚發痃癖，卻可安胎。豌豆補脾澤面，惟氣病其勿嘗；索粉解毒通經，但膠黏而寒胃。銀魚寬中健胃，鰻魚殺蟲去風。芋艿困脾而滯氣，粳醫蛛蜘蜂蠆之傷；百合止嗽而固金，即理傷寒百合之病。鮮藕散血而兼理折傷，除煩止熱；蓮子補脾而更入心腎，開胃厚腸。灰藋殺蟲，擦癬而療風；蔗槳解渴，和中而醒酒。</p>

<h3>諸物有毒解諸物毒合為一例</h3>
<p>果忽異常，根下必藏毒物；核如未脫，仁雙並可傷人。或果落地而蟲喙，或瓜沉水而雙蒂。指六、翼四，距四、足三，皆禽中之最毒；角獨、尾歧，肝青、足赤，悉獸肉之非良。飛者死而目閉足踡，走者死而口張首北。死疔死箭，異色異形，下咽便能隕命；鳥白首玄，鳥玄首白，舉七即爾腐腸。心損心而肝損肝，腦滑精而血敗血。或死緣瘡疫；或身戴龍形；或心肝有孔，而著草欲飛；或落水不浮，而久烹不爛，是皆發毒生癰，保生當戒。至若脯沾屋漏，犬有懸蹄，牛羊身黑而白頭，鹽醋久醃而不變。黑班昂首，四目無腮，鰻中之刀刃；獨目腹文，頭伸足赤，鱉類之砒鴆。肉中若有米星，日曬久難乾燥。夜炤身浮水面者，其鱔決從蛇化；腹毛獨目足班者，此蟹必令人亡。烹既爛而水如初，殺已久而血不斷，經宵方煮，著塵不沾，猘犬馬肝，餒魚敗肉，尤宜慎之，庶免傷殘。若夫毒性設傷，良方宜急。豆豉頭垢，能消六畜之幾危；大豆鹽湯，可治箭傷之肉毒。杏仁糜狗，甘草化羊。牛馬生疔，甘菊、澤蘭根服解；過傷諸肉，芫荽、生韭汁嘗消。人乳制獨肝之牛，豬骨化馬肝之毒。螃蟹遇蒜汁、紫蘇而害弭；河豚得橄欖、荊芥而毒消。馬肉病者，美酒蘆根；豬肉病者，朴硝韭汁。索粉傷，還須杏校；鮮菌毒，必飲地漿。此特大端，尚俟縷舉。</p>
