<header data-type="book">
<h1>王氏醫案續編</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="王士雄">王士雄</data>撰，<data value="張鴻">張鴻</data>輯</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1850">公元1850年</data></dd></div>
</dl>
</header>

<h1>序一</h1>
<p>甲辰春，予館於蘇撫孫篔谷親家署中，偶見《回春錄》二卷，乃吾畏友王君之醫案也。亟為卒讀，因嘆孟英抱用世之才，工壽世之術，周君輯而存之，其功大矣，其傳必矣。或疑案中多引而未發之言，似非嘉惠來茲之道，余謂不然。夫醫者意也，昔人云：吾意所解，口不能宣，詎有所吝而不言耶？錄其已言，垂為後世法，輯案者之意也；求所未言，默契作者意，讀案者之法也，試以此質之孟英，必以余為善讀焉。後之覽者，將更有好學深思，心知其意，而為之註釋。其書神明，其法以宏，其壽世之道，奚止善讀如余而已哉！惟余老交，沒世無稱聖人所疾，羨周君之先我，著鞭敢不勉為追步，以期附驥而彰。爰採今年耳目所及之如干案，志諸剞劂。且回春之名，似與《萬病回春》相襲，乃題其篇曰：《仁術志》。袁子所謂堯、舜之政，周、孔之教，神農之藥，皆術也，皆所以行其仁也。推廣仁術，是所望於續刻之君子。</p>

<h1>序二</h1>
<p>古王者慮民之疾痛夭札也，而設醫官予之祿，使士人為之綦善也。降自後世，民不聊生，於是去而為醫以糊余口，問之醫蓋茫如，此非生民之災乎？孟英志古之士也。尊甫靆滄先生喜施予，捐館之日，家赤貧，賴母夫人以儉勤支拄，孟英孤露，輒思自異，精於醫，非所志也。故嘗披覽墳索，慨慕古人，落落自喜，其胸次有如此。而余則窺其處己之私，有較然不欺者。如與弟同財，事母無私蓄，交友不負平生之言，數端者於古人為難，其他隱德細行，可無論也。今年春，兒婦產後病劇，諸醫罔效，孟英自江右歸，而五閱月之錮患以釋。夫自來操術之奇，或富有著述，或獨行堪師，見諸志乘者，代不過數人。若孟英兼而有之，其必傳無疑。顧予獨慨乎今之世去古日遠，而士之有志於古者，不能不挾術以與今遊，則幾何而不以今之醫混之也？然則孟英亦慎持此志乎哉！孟英向有《回春錄》醫案行世，張君柳吟復輯近案，名曰《仁術志》，余參與其事，今將續梓，謹以余所知其人者，錄其大概焉以序。</p>
<p><u>庚戌七月仁和趙夢齡</u></p>

<h1>序三</h1>
<p>醫之道難言矣，非有絕人之智，則不克澈其精深；非有濟世之仁，則不肯殫其心力。仁且智矣，而無著述以傳，則澤及一時，而勿能垂百世，此軒岐所以有著述也。古者醫必三世，治尚十全。醫者皆深通是道，故《內經》之書，簡奧不繁，至漢張機始備方，至宋許叔微始有醫案。由後世以醫為市業者多，而知者愈少，不得不詳述醫案，俾循途不誤，亦仁人之用心也。叔微之後，張杲有《醫說》，明孫泰來輯其父一奎之治驗，陳桷記其師汪機之治驗，併為醫案，江瓘復有《名醫類案》，國朝魏之琇續之，此皆宅心仁智，非炫世弋名者，故其書至今重焉。余家杭州五十載，閱醫多矣，求其能通《內經》者蓋鮮，能自述其治驗者，則未嘗有也。後交王君孟英，而得見其書，心竊異之。今聞楊君素園將為續梓，余不知孟英之學，於仲景何如也？若以繼叔微諸君之書，誠無愧矣！故為之序。孟英內行之篤，治術之精，已見楊、趙序中，不復贅云。</p>
<p><u>庚戌七月既望秀水莊仲方</u></p>

<h1>卷一（原名《仁術志》）</h1>

<h2>浙西王士雄孟英醫案</h2>
<p>高若舟偶患腹脹，醫投溫運，漸至有形如痞，時欲沖逆吐酸，益信為虛寒之疾。溫補之藥備嘗，飲食日減，其痞日增，肌肉漸消，臥榻半載。甲辰春，迓孟英診。脈沉弦而軟滑，大解不暢，小溲渾短，苔色黃膩。乃肝鬱氣結，鬱則生熱，補則凝痰。與梔、楝、萸、連、元胡、烏藥、旋、枳、雞金、鱉甲、茹、橘、苓、夏等藥。服之證雖遞減，時發寒熱，四肢痠痛，或疑為瘧。（此少陽之氣，鬱而欲伸之象。）孟英曰：此氣機宣達，鬱熱外泄，病之出路，豈可截乎？參以秦艽、柴胡、豆卷、羚羊、蠶砂、桑枝之類，迎而導之。（清熱滌飲，條達肝氣，允屬合法。）人皆疑久病元虛，藥過涼散，而若舟堅信不疑，孟英識定不惑。寒熱漸息，攻衝亦止。按其腹尚堅硬，時以龍薈滾痰丸緩導之，（峻藥緩投法。）飲食遞加，漸次向愈。若舟善作隸，因集詩品書一聯，以贈孟英云：古鏡照神，是有真宰；明漪絕底，如見道心。蓋頌其隔垣之視也。</p>
<p>趙聽樵室，高若舟之妹也。去冬偶患脘痛，黃某治之，漸增頭疼眩暈，氣逆嘔吐，痰多不寐，便溏不食，經事不行，（脘痛而過投香燥，亦能致此證，況誤投溫補乎？）始謂其虛。三月後又疑為娠，諸藥遍試，病日以進。若舟延孟英脈之，左弦而數，右滑以駛。曰：病藥耳，旬余可瘳。趙疑大病小視，不服其方。越半月，病者頸軟頭難舉。醫謂天柱已倒，勢無望矣。若舟聞之，復懇援於孟英。疏方仍是前診之法。趙問：此病諸醫束手，大劑補藥，尚無寸效，而君兩次用藥，皆極清淡，雖分兩頗重，亦焉能有濟乎？孟英曰：子何愚耶？藥惟對證，乃克愈病，病未去而補之，是助桀也。病日加而補益峻，是速死也。原彼初意，非欲以藥殺人，總緣醫理未明，世故先熟，不須辨證，補可媚人，病家雖死不怨，醫者至老無聞，一唱百和，孰能挽此頹風！令壺體質雖豐，而陰虛有素，是以木少水涵，肝陽偏盛，上侮於胃，則為脘痛，斯時投以酸苦泄肝，甘涼養胃，（葉氏獨得之秘。）數日而愈矣。乃溫補妄施，油添火上，肺津胃液灼爍無餘，怒木直升，樞機窒塞，水飲入胃，凝結為痰，雖見證多端，皆氣失下降，豈可指眠食廢以為勞，月汛爽而為妊耶？予以大劑輕淡之品，肅清氣道，俾一身治節之令，肝膽逆升之火，胃府逗留之濁，樞機郁遏之熱，水飲凝滯之痰，鹹得下趨，自可向愈。不必矯枉過正，而妄以硝、黃傷正氣。所謂藥貴對證，而重病有輕取之法，非敢藐視人命，故將疲藥塞責也。趙極感悟。投匕即效，逾旬果安。又一月經至，嗣與滋養，康復如常。越二載又病，復惑於黃某，而孟英之功盡墮，惜哉！</p>
<p>馬某，年三十餘，素用力。患發熱惡寒，肢振自汗，少腹氣上衝胸，頭疼口渴。孟英診曰：衛虛風襲，而絡脈久傷，肝風內動。與建中去餳，（建中之力在飴糖，今去飴糖，仍是桂枝法，）加龍、牡、石英、蓯蓉、楝實、桑枝，數帖而痊。（眉批：發熱惡寒，頭疼自汗，皆桂枝證。此人必津液素虧，因汗出而益耗其津，故肝失所養而上衝，肺胃失所養而口渴也。）</p>
<p>李燕標參戎，於癸夏將欲赴都，館於石北涯家。項後患疽，外科僉云不治。孟英薦老醫朱嵩年療之漸安。孟英偶診其脈，謂北涯曰：李證有可愈之機，脈難久享其年。北涯驚問所以，孟英曰：左尺堅搏，真陰已傷，非善象也。既而告痊北上，今春果卒於京。</p>
<p>李叟，年越古稀，意欲納妾，雖露其情，而子孫以其耄且瞽也，不敢從。因此漸病狂惑，群醫咸謂神志不足，廣投熱補之藥，愈服愈劇，始延孟英診之。脈勁搏指，面赤不言，口涎自流，力大無制。曰：此稟賦過強，陽氣偏盛，姑勿論其脈證，即起病一端，概可見矣。如果命門火衰，早已痿靡不振，焉能興此念頭。醫見其老，輒疑其虛，須知根本不堅實者，不能享長年，既享大壽，其得於天者必厚，況人年五十，陰氣先衰。徐靈胎所謂千年之木，往往自焚，陰盡火炎，萬物皆然。去冬吾治邵可亭，孤陽喘逆，壯水清火之外，天生甘露飲，灌至二百餘斤，即梨汁也，病已漸平，僅誤於兩盞薑湯，前功盡墮。可見陰難充長，火易燎原。今附、桂、仙茅、鹿茸、參、戟、河車等藥，服之已久，更將何物以生其涸竭之水而和其亢極之陽乎？尋果不起。</p>
<p>程燮庭乃郎芷香，今春病溫，而精關不固，旬日後陡然莖縮寒顫。自問不支，人皆謂為虛瘧，欲投參、附。孟英曰：非瘧也。平日體豐多濕，厚味釀痰，是以苔膩不渴，善噫易吐，而吸受風溫，即以痰濕為山險，乘其陰虧陽擾，流入厥陰甚易，豈容再投溫補以劫液，錮邪而速其痙厥耶？伊家以六代單傳，父母深憂之，堅求良治。孟英曰：予雖洞識其證，而病情轇轕，縱有妙劑，難許速功，治法稍乖，亦防延損，雖主人篤信，我有堅持，恐病不即瘳，必招物議，中途歧惑，其過誰歸？倘信吾言，當邀顧聽泉會診，既可匡予之不逮，即以杜人之妄議。程深然之。於是王、顧熟籌妥治。午後進肅清肺胃方，以解客邪，蠲痰濕而斡樞機；早晨投涼腎舒肝法，以靖浮越，搜隧絡而守關鍵。病果遞減。奈善生嗔怒，易招外感，不甘淡泊，反復多次。每復必莖縮寒顫，甚至齒縫見紫血瓣，指甲有微紅色，溺短而渾黑極臭。孟英曰：幸上焦已清，中樞已運，亟宜填腎陰，清肝熱。以西洋參、二冬、二地、蓯蓉、花粉、知、柏、連、楝、斛、芍、石英、牡蠣、龜板、鱉甲、阿膠、雞子黃之類，相迭為方，大劑連服二十餘帖，各恙漸退。繼以此藥熬膏晨服，午用繆氏資生丸方，各品不炒，皆生曬研末，竹瀝為丸，枇杷葉湯送下。服之入秋，始得康健。孟英曰：古人丸藥皆用蜜，最屬無謂，宜各因其證而變通之，此其一法也。（眉批：此四損證之最重者，治稍不善，變證紛如，便不可保，此案深可為法。）</p>
<p>翁嘉順室，娩後發熱，竹林寺僧治之不應，溫、龔二醫，皆主生化湯加減，病益劇。請孟英診之，脈軟滑微數。曰：素體陰虧，熱自內生，新產血去，是以發熱。惟譫妄昏瞀，最是嚇醫之證，渴喜熱飲，宛似虛寒之據。宜其猜風寒而表散，疑瘀血以攻通，帖帖炮姜，人人桃、桂，陰愈受劫，病乃日加。（眉批：凡痰飲內盛之人，服寒熱藥，皆如石投水，人皆以為稟賦之異，不知皆痰飲為患也。）幸而痰飲內盛，津液未致涸竭，與蠲飲六神湯去橘、半，加西洋參、生地、花粉、竹茹、知母、生白芍為劑。數日而瘳。逾旬復發熱，或疑涼藥之弊，或謂產蓐成勞，眾楚咻之，病漸進矣！其小姑適吳氏者，向役於冥曹，俗謂之活無常，偶來探病，忽仆地而僵，口中喃喃。或問汝嫂病何如？答云：須服王先生藥。人皆異之。次日仍乞診於孟英。曰：脈浮數而弦，是風溫也，與前病異。便瀉無溺，肺熱所迫，大渴無苔，胃汁受爍。亟與天生建中湯頻灌，即蔗汁也。藥主大劑甘涼，果得津回舌潤，漸以痊可。病染於姑，孟英診曰：高年陰氣太虧，邪氣偏盛。「玉版論要」云：病溫虛甚死。言人之真陰甚虛，曷足以御邪熱而息燎原，可虞在兩候之期乎？至十四天果殞。而嘉順亦染焉，初發熱即舌赤而渴，脈數且澀，孟英曰：非善證也。蓋陰虛有素，值憂勞哀痛之餘，五志內燔，溫邪外迫，不必由衛及氣，自氣而營。急與清營，繼投涼血，病不稍減。且家無主藥之人，旁議譁然。幸其舊工人陳七，頗有膽識，力懇手援。孟英曰：我腸最熱，奈病來頗惡，治雖合法，勢必轉重。若初起不先覷破，早已殆矣。吾若畏難推諉，恐他手雖識其證，亦無如此大劑，車薪杯水，何益於事！吾且肩勞任怨，殫心盡力以圖之。病果日重，昏瞀耳聾，自利紅水，目赤妄言。孟英惟以晉三犀角地黃湯，加銀花、石膏、知、斛、梔、貝、花粉、蘭草、菖蒲、元參、竹瀝、竹茹、竹葉、鳧花、海䖳等出入互用。至十餘劑，舌上忽布穢濁垢苔，口氣噴出，臭難嚮邇，手冷如冰，頭面自汗，咸謂絕望矣。孟英曰：生機也。彼陰虛，熱邪深入，予一以清營涼血之法，服已逾旬，始得營陰漸振，推邪外出，乃現此苔。惟本元素弱，不能戰解，故顯肢冷，而汗僅出於頭面，非陽虛欲脫也。復與甘寒頻灌。越三日，汗收熱退，苔化肢溫。自始迄終，犀角共服三兩許，未犯一毫相悖之藥。且賴陳七恪誠，始克起九死於一生。繼以滋陰善後而康。（眉批：三江地氣卑濕，天時溫暖，傷寒之證絕少，最多濕溫、風溫之證。又人體質柔脆，不任盪滌之藥，故惟以甘寒清解之劑，漸次搜剔，斯邪去而正不傷。若在北方，剛堅之體，此等藥雖服百劑，亦若罔知，非加硝、黃盪滌，邪終不去。故葉氏之法，擅譽江浙；而吳氏之方，馳名幽冀。易地則皆然，亦智者之因地制宜也。）</p>
<p>翁嘉順之妹，亦染病，勢極危。因役於冥曹，自以為不起。孟英曰：年壯陰充，藥治不謬，焉能死乎？昔人云：見理明者，陰陽五行不能拘。吾當以理勝數。遂按法治之，病乃日減，且慎寒暄，節飲食，守禁忌，調治二旬，果然康健。又其姑亦病溫，初不服藥，七日外始迓孟英診之。曰：此病邪雖不盛，第頻吐涎沫，不能出口，須以手撩，不飲不食，不便不眠，或多言不倦，或久問不答，是七情鬱結，氣久不舒，津液凝痰，邪得依附，治之中肯，尚難即愈，不藥而待，病從何去？遂於清解方中寓蠲痰流氣、通胃舒肝之品。交十四日而熱退，又數日痰沫漸少，又旬日大解始行，粥食日加而愈。此治一法直貫到底，不但不犯一分溫燥升補之藥，而滋膩入血之品，亦皆避之，尚須三十劑奏績。若病家不篤信，醫者不堅持，旁人多議論，則焉克有濟耶！然非乃媳前車之鑑，亦未必遽爾任賢不貳也。</p>
<p>沈東屏年逾八秩，患腹脹便秘。孟英診曰：耄年脈實，天畀獨厚，證屬陽結，法宜清火。與西洋參、石膏、白芍、知母、花粉、桑皮、杏仁、橘皮、枳殼、甘草，送更衣丸。四劑而愈。設投別藥，勢必遷延而敗。人亦謂天年之得盡，斷不料其藥治之誤也。後四年始歿。夏間，汪湘筠明府，因食肉病脹，醫謂老年氣弱火衰，輒投溫補，直至腹如抱甕，始延孟英視之，彌留己極，不可救藥矣！</p>
<p>顧石甫宰婁縣患恙，醫治日劇，解任歸，求診於孟英。脈見左寸如鉤。曰：病不能夏矣！許子雙適至，聞而疑之，謂此證氣逆血溢，腹脹囊腫，宛似上年康康侯之疾，若以外象觀之，似較輕焉，胡彼可愈，而此勿治耶？孟英曰：彼為邪氣之壅塞，脈雖怪而搏指不撓，證實脈亦實也；此為真氣之散漫，脈來瞥瞥如羹上肥，而左寸如鉤，是心之真藏見矣。壅塞可以流通，散漫不能收拾，客邪草木能攻，神病刀圭莫濟，證雖相似，病判天淵，縱有神丹，終無裨也。季春果歿。</p>
<p>孫氏女，年將及笄，久患齒衄，多醫莫療。孟英診曰：六脈緩滑，天癸將至耳。與丹參、生地、桃仁、牛膝、茯苓、白薇、滑石、茺蔚子。（亦治倒經之法。）一劑知，數日愈。尋即起汛，略無他患。</p>
<p>遂安余皆山貳尹，起復赴都，道出武林而患瘧。範某云：春寒所致，用辛溫散之。來某謂酒濕之疴，治以五苓，且雜參、歸、薑、棗之類。病乃日甚。旬日後，脘悶腹脹，便秘氣逆，躁渴自汗，昏瞀不瞑。亟迎孟英視之。曰：蘊濕固然，而溫風外襲，已從熱化，何必夏秋始有熱瘧耶？清解之法，十劑可安。服之果效，旬日徑瘥。</p>
<p>朱念民患泄瀉，自謂春寒偶薄而飲燒酒，次日轉為滯下，左腹起一痞塊，痢時絞痛異常。孟英曰：陰虛木燥，侮胃為泄，誤飲火酒，怒木愈張，非寒也。亟屏辛溫之物，用白頭翁湯加芩、楝、梔、連、海䖳、銀花、草決明、枳椇子、綠豆皮。十餘劑而愈。</p>
<p>鎖某，弱冠吐血。楊醫連進歸脾湯，吐益甚。孟英視之，面有紅光，脈形豁大，因問曰：足冷乎？探之果然。遂與六味地黃湯送飯丸肉桂心一錢，覆杯而愈。（眉批：此虛火上炎之證，歸脾中參、耆性皆上升，故吐益甚。易以引火歸原之法，斯愈矣。）</p>
<p>沈裕昆室，偶發脘痛，範某與逍遙法，痛頗止，而發熱咽痛，邀顧聽泉視之，知感溫邪，與清散法。疼已而熱不退。七日後，目閉鼻塞，耳聾肢搐，不言語，不飲食，顧疑證險，願質之孟英。而沈之兩郎，乃從王瘦石學，因請決於師，瘦石亦謂孟英識超，我當為汝致之。時已薄暮，乃飛刺追邀。比孟英往診，見其外候如是，而左手診畢即縮去，隨以右手出之，遽曰：非神昏也。繼挖牙關，察其苔色白滑，詢知大解未行。曰：病是風溫，然不逆傳膻中，而順傳胃府，證可無恐。聽泉學問勝我，知證有疑竇，而虛心下問，豈非胸襟過人處。但溫邪傳胃，世所常有，而此證如是駭人者，因素有痰飲，盤踞胃中，外邪入之，得以憑藉，苔色之不形黃燥者，亦此故耳，不可誤認為寒。夫溫為熱邪，脈象既形弦滑以數，但令痰飲一降，苔必轉黃，此殆云遮霧隱之時，須具溫太真燃犀之照，庶不為病所欺。且昔人於溫證僅言逆傳，不言順傳，後世遂執定傷寒在足經，溫熱在手經，不知經絡貫串，豈容界限！喻氏謂傷寒亦傳手經，但足經先受之耳。吾謂溫熱亦傳足經，但手經先受之耳。一隅三反，既有其逆，豈無其順？蓋自肺之心包，病機漸進而內陷，故曰逆；自肺之胃府，病機欲出而下行，故曰順。今邪雖順傳，欲出未能。所謂胃病，則九竅不和，與逆傳神昏之犀角地黃湯證大相逕庭。郭雲臺云：胃實不和，投滾痰而非峻，可謂治斯疾之真詮。遂疏小陷胸合蠲飲六神湯，加枳、樸，以蘆菔煮水煎藥，和入竹瀝一杯，送下礞石滾痰丸四錢。沈嫌藥峻，似有難色。孟英曰：既患駭人之病，必服駭人之藥，藥不瞑眩，厥疾勿瘳，蓋再質之瘦石、聽泉乎？沈頷之。王、顧閱方，僉以為是。且云：如畏劑重，陸續徐投可也。翌日，孟英與聽泉會診，診脈證不甚減，詢知昨藥分數次而服。孟英曰：是勢分力緩之故也，今可釋疑急進，病必轉機。聽泉深然之，病家亦膽壯矣。如法服下，黎明果解膠韌痰穢數升，各恙即減，略吐語言，稍啜稀粥，苔轉黃燥。藥改輕清，漸以向安。嗣與育陰柔肝而愈。</p>
<p>朱氏婦，素畏藥，雖極淡之品，服之即吐。近患晡寒夜熱，寢汗咽乾，咳嗽脅疼。月餘後，漸至減餐經少，肌削神疲。始迓孟英診之。左手弦而數，右部澀且弱，曰：既多悒鬱，又善思慮，所謂病發心脾是也。而平昔畏藥，豈可強藥再戕其胃，誠大窘事。再四思維，以甘草、小麥、紅棗、藕四味，（妙想可以益人神志。令其煮湯頻飲勿輟。病者嘗藥大喜，徑日夜服之。逾旬復診，脈證大減。其家請更方。）孟英曰：毋庸。此本仲聖治藏燥之妙劑，吾以紅棗易大棗，取其色赤補心，氣香悅胃，加藕以舒郁怡情，合之甘、麥，並能益氣養血，潤燥緩急，雖若平淡無奇，而非惡劣損胃之比，不妨久任，胡可以果子藥而忽之哉！恪守兩月，病果霍然。</p>
<p>江某，年三十餘，忽兩目發赤，牙齦腫痛，漸至狂妄，奔走罵人，不避親長，其父皇皇，求孟英診焉。脈大而數，重按虛散。與東洋參、熟地黃、辰砂、磁石、龍齒、菖蒲、棗仁、琥珀、肉桂、金箔、龍眼肉為劑，投匕即安，翼日能課徒矣。（眉批：昔余友彭香林患此證，醫雖知其虛，而治不如法，竟以不起。今讀此案，彌增惋嘆！）</p>
<p>金祿卿室，沈裕昆之女也。患溫，顧聽泉連進輕清涼解，而病不減。氣逆無寐，咳吐黏痰，舌絳咽乾，耳聾讝語，旬日外始延孟英診焉。曰：體瘦，脈細數，尺中更亂，竟是陰氣先傷，陽氣獨發，所謂傷寒偏死下虛人。譬之火患將臨，既無池井，缸貯又空，縱竭心力，易能有濟？再四研詰，乃知發熱前一日，陡然帶下如崩，是真液早經漏泄矣。否則，藥治未訛，胡反燎原益熾？痙厥之變，不須旋踵。祿卿堅懇勉圖。孟英以西洋參、生地、二冬、二至、元參、犀角、黃連、雞子黃、知母為方，另用石斛、龜板、鱉甲各四兩，左牡蠣一斤煮湯代水煎藥。顧聽泉又加阿膠。且云：我儕用此育陰鎮陽，充液息風大劑，焉能津枯風動，痙厥陡生乎？服兩劑果不能減。後惑旁言而禱簽藥，附、桂、乾薑，罔知顧忌，徑至四肢拘攣而逝。是誤藥速其斃，而增其慘也。繼而，裕昆患濕溫，亦犯重暍而亡。</p>
<p>一嫗，患右腰痛脹欲捶，多藥不效。孟英視其形雖羸瘦，而脈滑痰多，苔黃舌絳。曰：體虛病實，溫補非宜。苟不攻去其疾，徒以疲藥因循，則病益實，體益虛，糜帑勞師，養成寇患，豈治病之道哉？先以雪羹加竹茹、楝實、綠萼梅、杏仁、花粉、橘紅、茯苓、旋覆花，送控涎丸，服後果下膠痰。三進而病若失，嗣與調補獲痊。</p>
<p>楊氏婦，孀居，患瀉，久治不瘥。孟英曰：風木行胃也。彼不之信，另招張某，大進溫補，乃致腹脹不食，夜熱不眠，吐酸經秘，頭疼如劈。復迄孟英視之。先投苦泄佐辛通以治其藥，嗣以酸苦息風安胃，匝月乃瘳。續與調補，汛至而康。</p>
<p>魏翎谷浼孟英視其鬱甥之病。熱逾半月，自胸次脹及少腹，痛而不可撫摩，便秘溺赤，舌黑口乾，自汗煩躁，六脈弦強無胃。曰：此恙酷似傷寒大結胸證，結胸煩躁、無藥可治，越二日便行而歿。孟英曰：傷寒之邪在表，誤下則邪陷而成結胸，未經誤下，不為結胸。濕熱之邪在裡，逆傳於心包，而誤汗則內閉以外脫；順傳於胃府，而誤汗則盤踞而結胸。前人但云：誤汗劫奪胃汁而未及於結胸者，因結胸證不多見耳。然亦不可不知也，故謹識之。郁病初起，某醫用葛根一劑，繼則胡某之柴、葛、羌、防十餘劑，釀成是證。（眉批：溫病忌誤汗，不忌誤下，以汗則津涸而熱益熾，下則熱勢可藉以少減也。）</p>
<p>施氏婦，產後四肢串痛，藥治罔效，醫謂其成癱瘓矣。延已逾月，丐孟英視之。膏藥遍貼，呻吟不息。脈數而洪，舌絳大渴。曰：此非風濕為病，膏藥亟為揭去。近日服藥，諒皆溫補祛風之劑，營血耗傷，內風欲動，勢將弄假成真。且吾向見其體豐血旺，何以娩後遽患斯疾？必生化湯、砂糖、酒之類所釀耳。其父倪某目雖瞽，聞而笑云：君誠天醫也。小女服過生化湯二帖，赤沙糖八斤，從此漸病，不識尚可起廢圖全否？孟英曰：幸其體足於陰，恢復尚易，若陰虛血少之人，而蹈此轍，雖不即死，難免不成蓐損。因投大劑涼潤壯水之藥。一劑知，旬日安，匝月起。</p>
<p>王士乾室，素多鬱怒，氣聚於腹，上攻脘痛，旋髮旋安。花甲外病益甚，醫治益劇。李西園薦孟英視之。曰：此非人間之藥所能療矣。辭不與方。其夫、子及婿環乞手援。孟英曰：既爾，吾當盡力以冀延可也。然腹中聚氣為瘕，攻痛嘔吐，原屬於肝。第病已三十載，從前服藥，諒不外乎溫補一途。如近服逍遙散最劫肝陰，理中湯極傷胃液，（用古方不可不知此意。）名雖療疾，實則助桀。人但知嘔吐為寒，而未識風陽內煽，水自沸騰。專於爐內添薪，津液漸形涸竭。奈醫者猶雲水已不吐，病似漸輕，是不察其水已吐盡，僅能噦逆空嘔，所以不能納穀。便秘不行，脈弦無胃，舌痿難伸，蘊隆蟲蟲，何所措手！可謂女人亦有孤陽之病矣。勉以西洋參、肉蓯蓉、麥冬、葳蕤、生白芍、石斛、竹茹、柏子霜、紫石英為方，豬肉煮湯煎藥，和入青蔗漿、人乳。服後嘔噦皆止，人以為轉機。孟英曰：譬草木乾枯已久，驟加灌溉，枝葉似轉青蔥，奈根荄槁矣，生氣不存，亦何益耶！繼而，糜粥漸進，頗思肉味，其家更喜以為有望。孟英曰：且看解後何如？越數日，大便頗暢，殊若相安，亟迓復診。孟英曰：枉費苦心矣。脈不柔和，舌不潤澤，（審病者宜識此二語。）雖谷進便行，而生津化液之源已絕，藥石焉能於無中生有哉！夏至後果殞。</p>
<p>五月下旬，天即酷熱異常，道路受暑而卒死者甚多，即古所謂中暍也。而不出戶庭之人，亦有是病，延醫不及，醫亦不識此證。雖死身不遽冷，且有口鼻流血者。孟英曰：是暑從吸入，直犯心藏也。惟新產婦人，陰血大去，熱邪易襲，故死者尤多。奈愚者不知因時制宜，尚扃其窗戶，幕以簾幃，環侍多人，皆能致病。又粗工不察天時人秉之不齊，動輒生化湯，以致覆杯而斃者比比，即砂糖、酒亦能殺人，不可不慎。孟英曰：六一散既清暑熱，又行瘀血，當此酷暑之令，誠為產後第一妙方，特為拈出，幸救將來。孟英曰：吾聞姚氏婦，妊已臨月，腹中作痛，家人謂其將娩，急煎參湯令服。服後痛益甚，忙喚穩婆至，已渾身赤斑，喘逆昏狂，雖知受暑，竟不及救。又曹氏婦，亦懷妊臨月腹痛，家人疑其欲產而煎參湯。迨湯成痛已止，察其情景，知不即娩。然炎威甚烈，參湯久存欲壞，其姑云：婦既未娩，豈可服參滯胎？我體素虛，常服補劑，參湯定亦相宜。遂服之，甫下咽即覺氣悶躁擾，霎時危殆，多方拯治，逾刻而終。予按：富貴人之死於溫補者，固為常事。當酷暑之令，漫不少懲，誠下愚之不可移矣。附錄於此，以冀司命之士，鑑而戒之。</p>
<p>酷暑之際，瘧疾甚行，有儲麗波患此。陸某泥今歲寒水司天，濕土在泉，中運又從濕化，是以多瘧，率投平胃、理中之法，漸至危殆。伊表兄徐和圃薦孟英視之。熱熾神昏，胸高氣逆，苔若薑黃，溺如赫赤，脈伏口渴，不食不便。曰：舍現病之暑熱，拘司氣而論治，謂之執死書以困治人，幸其體豐陰足，尚可救藥，然非白虎湯十劑不能愈也。和圃然之。遂以生石膏、知母、銀花、枳、貝、黃連、木通、花粉、茹、芩、杏、斛、海䖳、竹葉等，相迭為方。服旬日，瘧果斷。</p>
<p>外甥莊迪卿，患瘧，大渴而喜熱飲，脘悶脈伏，苔膩欲嘔。孟英曰：蘊濕內盛，暑熱外侵，法當清解，然脈證如是，乃痰阻氣道使然，清之無益，溫之助桀，宜以礞石滾痰丸先為開導。服後痰出甚多，脈即見弦滑而數，嘔止胸舒，苔形黃燥。與石膏、知母、連、樸、杏、橘、半、茯、滑、斛、菖蒲、花粉等而安。（眉批：論證論治，俱極明透。）</p>
<p>莊曉村，芝階姊夫之侄孫也。館於金願谷舍人家，病瘧。孟英曰：吸受暑熱，清滌即瘳。閱數日，瘧作甚劇，目赤狂言，汗如雨下。居停大驚，聞服涼劑，疑為藥誤。亟速孟英至，正在披狂莫制之時。按其脈洪滑無倫，視其舌深黃厚燥，心疑其另服他藥之故，而撲鼻吹來一陣薑棗氣。因詰曰：得無服薑棗湯乎？曰：恣飲三日矣。孟英即令取西瓜一枚，（解暑妙品。）劈開，任病者食之，方從白虎，而生石膏用一兩六錢，病即霍然。逾六年以他疾亡。繼有陳仰山如君患瘧，孟英連與清暑法，病不少減。孟英疑亦薑棗湯所致，詢知果然，亟令屏絕，遂愈。余如汪子寬、魏云裳、胡秋紉等暑瘧治案，皆以白虎化裁，案多不備載，錄此以備讀者之隅反焉。</p>
<p>陳某，自黔來浙，一小兒發熱肢搐，幼科與驚風藥，遂神昏氣促，汗出無溺。適孟英至而視之。曰：暑也。令取蕉葉鋪於泥地，與兒臥之。投以辰砂六一散，加石膏、知母、西洋參、竹葉、荷花露。一劑而瘳。繼有胡氏女病略同，兒科云不治，因懇於孟英，亦以此法活之。</p>
<p>潘紅茶方伯之孫翼廷，館於許雙南家。酷熱之時，啜冷石花一碗，遂致心下痞悶，四肢漸冷，而上過肘膝，脈伏自汗。方某診謂：陽虛陰暑，脫陷在即。疏大劑薑、附、丁、桂以回陽。雙南在蘇，其三郎杏書駭難主藥，邀族人許芷卿診而決之。芷卿雲：此藥斷不可投。第證極危急，須逆孟英商之。時夜已半，孟英往視。曰：既受暑熱，復為冷飲冰伏胸中，大氣不能轉旋，是以肢冷脈伏，二便不行。速取六一散一兩，以淡鹽湯攪之，澄去滓，調下紫雪丹一錢。（藉辛香以通冰伏之氣，用意精妙。）翼日再診，脈見胸舒，溺行肢熱，口乾舌絳，暑象畢呈，化而為瘧。與多劑白虎湯而愈，丙午舉於鄉。（眉批：認證既確，治法又極精妙，真可謂萬世法程。）</p>
<p>金曉耕發熱二旬，醫與表散，竟無汗泄，嗣與溫補，即大解泄瀉，小水不行，口乾肌削，勢瀕於危。胡秋紉薦孟英診之。右寸獨見沉數，曰：暑熱錮於肺經耳。與白虎、葦莖、天水，加芩、桔、杏、貝為方。服後頭面㾦疹遍發，密無針縫，明如水晶光，人皆危之。孟英曰：此肺邪得泄也。果膚潤熱退，瀉止知飢。又服甘涼濡潤二十餘劑，㾦疹始愈，亦僅見之證也。（眉批：此溫證之輕者，用藥合法，故其愈甚速。）</p>
<p>何永昌者，孟英之輿人也。其妻病瘧，間二日而作，乃母曰：瘧不可服官料藥。徑服簽方，旬日後勢甚危，永昌乞孟英救之。脈沉細而數，尺為甚，口渴目不欲張，兩腰收痛，宛如錐刺，寒少熱多，心慌不能把握。曰：異哉病也！此暑入足少陰之證。（卓識。）喻氏所謂汗、下、溫三法皆不可行者。若病在別家，慮其未必我信，病在汝而求診於我，事非偶然也。汝母云：官料藥不可治瘧，此語出於何書？而藥別官私，何人所創？既官料之勿服，則私料更不可妄試矣！殊屬可嗤！然是證若延醫診，非表散即溫補，不可謂非汝母之一得也。疏方：元參八錢，龜板、石斛各一兩，地骨皮六錢，知母五錢，桑葉、金銀花各四錢，花粉三錢，丹皮二錢。令用大砂鍋煎而頻服，不必限劑。服三日瘧斷而各恙皆減，粥食漸進，不勞余藥而起。（眉批：暑邪入腎，必傷腎液，故重用滋陰之品以救之。）</p>
<p>慎氏婦，產後腹脹泄瀉，面浮足腫。醫與滲濕溫補，月餘不效，疑為蓐損。孟英視之，舌色如常，小溲通暢，宛似氣虛之證。惟脈至梗澀，毫無微弱之形。因與丹參、滑石、澤蘭、茯苓、茺蔚、蛤殼、桃仁、海䖳、五靈脂、豆卷。（亦行瘀利水之法。數服即瘥。）</p>
<p>孫某患感，醫投溫散，竟無汗泄。延至十一日，始請孟英視之。業已神昏囊縮，面赤舌絳，目不識人，口不出聲，胸膈微斑，便瀉而小溲不行者已三日。醫皆束手，或議大投溫補，以冀轉機。（溫病已至神昏，尚議溫補，真盲論也。）孟英急止之，曰：陰分素虧，而溫散劫津，邪熱愈熾，則營衛不行，豈可妄云漏底，欲以溫燥竭其欲絕之陰乎？曩浦上林先生治予先君之病云：泄瀉為熱邪之出路，求之不可得者，胡可止也？以西洋參、生地、麥冬、丹皮、連翹、生芍、石菖蒲、鹽水炒黃連、甘草梢、百合、茯苓、貝母、銀花、紫菀為方。一劑即周身微汗而斑退，三劑始得小溲一杯而識人，四劑乃得大汗，而身熱退、面赤去、莖亦舒，復解小溲二杯。次日於方中減連翹、菖蒲、丹皮、黃連，加知母、葳蕤、竹葉投之，舌始潤，神始清，知渴索水。孟英令將蔗、梨等榨汁頻灌不歇，其汗如雨下者三晝夜始休。於是，粥漸進，瀉漸止，溲漸長，前方又去貝母、銀花、紫菀，加石斛、龍眼肉，服之全愈。</p>
<p>汪子與病革，始延孟英視之。曰：陰虛之質，暑熱膠錮，殆誤投補藥矣。乃叔少洪云：侄素孱弱，醫投熟地等藥十餘劑耳。孟英曰：暑熱證必看邪到血分，始可議用生地，何初病即進熟地？豈僅知稟賦之虛，未睹外來之疾耶？昔賢治暑，但申表散溫補之戒，詎料今人於律外，更犯滋膩之辜，而一誤至此，略無悔悟，不啻如油入面、如漆投膠，將何法以挽回哉！越日果卒。夫小米舍人，僅此一脈，完姻未久，遽爾珠沉，殊為慘然。冬間吳忻山亦惟一子，素稟虛怯，滋補頗投，醫者不察其患溫發熱，僉謂陰虛，競投滯膩培元之劑，乃至舌黑卷短，唇焦溺赤。孟英一診即云不救。顧聽泉竭力圖維，終不能愈。按虛人受感，每蹈此轍，特錄以為戒。</p>
<p>汪左泉病滯下，晝夜數十行。而即日須補歲考遺才，浼孟英商速愈之策。切脈弦滑，苔黃滿布。曰：易事耳。重用芩、連，佐以楂、樸，送服青麟丸四錢，投匕而痊。略無他恙。</p>
<p>陳晝三病滯下，某進通因通用法，痛泄無度，嘔惡不納，汗出息微，脈弱眩暈。孟英曰：近多伏暑之痢，此獨非其證也，元將脫矣。急投大劑溫補，脈候漸安。一月後甫得健復。</p>
<p>金朗然之母，偶發脘疼嘔吐，醫與溫補藥，初若相安，漸至畏寒不寐，四肢不仁，更醫云是風痹，仍投溫補，因而不飢不食，二便不行，肌肉盡削，帶下如溺，始延孟英診之。曰：暑伏肺胃耳。其多投溫補而不遽變者，以熟地等陰柔膩滯為之挾制也。然津氣灼爍而殆盡，脂液奔迫以妄行，治節無權，陽明涸竭，焉能衛皮毛而暢四肢，利機關以和九竅哉！與白虎湯加西洋參、竹茹、橘皮、絲瓜絡、石斛、花粉、竹瀝、海䖳。連進二十劑，始解黑矢而各恙漸安。嗣與和肝胃、調八脈以善後遂愈。（眉批：汪子與證，誤服熟地而不救，此證誤服溫補兼熟地而竟愈，蓋體有虛實，治有遲早，邪有重輕，未可以一端拘耳。）</p>
<p>李某向患脘痛，孟英頻與建中法獲瘳。今秋病偶發，他醫診之，聞其溫補相投，逕依樣而畫葫蘆。服後耳閉腿疼，不飢便滯。仍就孟英視之，曰：暑邪內伏，誤投補藥使然，治宜清滌為先。彼不之信，反疑為風氣，付外科灼灸，遂致筋不能伸而成錮疾。孟英曰：此證較金病輕逾十倍，惜其惑於淺見，致成終身之患，良可嘆也！獨怪謀利之徒，假河間太乙針之名，而妄施毒手，舉國若狂，竟有不惜重價，求其一針，隨以命殉之者，吾目擊不少矣。夫《內經》治病，原有熨之一法，然但可以療寒濕凝滯之證，河間原方，惟二活、黃連加麝香、乳香耳，主治風痹。今乃托諸鬼神，矜誇秘授，云可治盡內傷外感四時十二經一切之病，天下有是理乎？況其所用之藥，群集辛熱香竄之品，點之以火，顯必傷陰，一熨而吐血者有之，其不可輕試於陰虛之體與挾熱之證也，概可見矣。吾友盛少云之尊人臥云先生，誤於此而致周身潰爛，臥床數載以亡。仲聖焦骨傷筋之訓，言猶在耳。操醫術者，胡忍執炮烙之嚴刑，欺世俗而罔利哉！</p>
<p>喬有南之侄甫五齡，發熱數日，兒醫與柴葛解肌湯一劑，肢搐而厥，目張不語。其母孀居，僅此一脈，遍求治療，毫無寸效。所親徐和甫托王瘦石訪一擅幼科之長者，瘦石謂宜求善於外感者。蓋人有大小，病無二致，切勿舍大方而信專科，此喻嘉言活幼金針也。盍延孟英視之？徐從之。孟英曰：病是暑邪，治以風藥，熱得風而焰烈，津受爍以風騰，乃風藥引起肝風，再投俗尚驚風之劑，稚子根本不牢，而狂風不息，折拔堪虞。與王氏犀角地黃湯加羚羊角、生石膏、元參、桑葉、菊花、銀花、牡蠣、知母、麥冬、竹葉諸藥。數服而痊。（眉批：清暑熱，熄肝風，方極平允。）</p>
<p>趙鐵珊乃郎子善，康廉侯之婿也。因事抑鬱，凜寒發熱。湯某作血虛治，進以歸、芎、丹參之類，多劑不效，乃移榻康寓，延孟英診之。脈澀而兼沉弦以數，然舌無苔，口不渴，便溺如常，納穀稍減，惟左脅下及少腹，自覺梗塞不舒，按之亦無形跡，時欲撫摩，似乎稍適。曰：陰虛挾郁，暑邪內伏。夫鬱則氣機不宣，伏邪無從走泄，遽投血藥，引之深入，血為邪踞，更不流行，脅腹不舒，乃其真諦。第病雖在血，而治宜清氣為先，氣得宣布，熱象必露，瘀滯得行，厥疾始瘳。子善因目擊去年婦翁之恙，頗極欽服。連投清氣，熱果漸壯，譫妄不眠，口乾痰嗽。孟英曰：脈已轉為弦滑，瘀血伏邪，皆有欲出之機，繼此當用涼血清瘀為治，但恐旁觀詫異，事反掣肘，囑邀顧聽泉質之。顧亦云然。遂同定犀角地黃湯加味。而所親陳眉生、許小琴暨乃兄子勉，皆疑藥涼劑重，縱是熱證，豈無冰伏之虞？顧為之再四開導，總不領解。適病者鼻衄大流，孟英笑曰：真贓獲矣，諸公之疑，可否冰釋？渠舅氏陳穀人鹺尹云：證有疑似，原難主藥，鼻血如是，病情已露，毋庸再議。徑煎藥而飲之。次日，衄復至，苔色轉黑。孟英曰：三日不大便，瘀熱未能下行也。於前方加滑石、桃仁、木通、海䖳、竹瀝、石斛、銀花、知母、花粉之類。又二劑大解始行，黑如膠漆，三日間共下七十餘次而止。乃去木通、桃仁輩，加西洋參、麥冬以生液。病者疲憊已極，沉寐三晝夜，人皆危之。孟英曰：聽之，使其陰氣之來復，最是好機。醒後尚有微熱讝語，藥仍前法。又旬日，始解一次黑燥大便，而各恙悉返。惟口尚渴，與大劑甘涼以濡之。又旬日，大解甫得復行，色始不黑，乃用滋陰填補而康。（眉批：此證不遇孟英必成虛損，訖無知其為伏暑者，雖死亦不知前藥之誤也。）</p>
<p>一圃人，詣孟英泣請救命，詰其所以，云：家住清泰門內馬婆巷，因本年二月十五日卯刻，雷從地奮，火藥局適當其沖，牆垣廟宇，一震泯然，雖不傷人，而附近民房，撼搖如簸。其時，妻在睡中驚醒，即覺氣不舒暢，半載以來，漸至食減形消，神疲汛少，惟臥則其病如失，藥治罔效，或疑邪祟所憑，祈禳厭鎮，亦屬無靈，敢乞手援，幸無卻焉。孟英許之，往見婦臥於榻，神色言動，固若無恙。診畢，病人云：君欲睹我之疾也。坐而起，果即面赤如火，氣息如奔，似不能接續者，苟登圊溲便，必賁逆欲死。前所服藥，破氣行血，和肝補肺，運脾納腎，清火安神，諸法具備，輒如水投石。孟英仿喻氏治厥巔疾之法用藥，一劑知，旬余愈。（眉批：仍是治肝之法。）</p>
<p>高若舟之庶母，年逾花甲，體豐善瀉。張某向用參、術取效。今秋患白痢，張謂寒濕滯中，仍與理中加減，病遂日增，因疑老年火衰，蒸變無權，前藥中復加附子，白痢果減，而腹脹且疼，不食不溺，噦逆發熱，勢已危殆，始迓孟英視之。脈沉而滑數梗梗。曰：暑熱未清，得無補藥早投乎？與芩、連、杏、樸、曲、芍、滑、楝、銀花、海䖳、雞內金之類。一劑溺行痛減，而痢下仍白。其女為屠西園之室，乃云：向服補藥，白痢已止，今服涼藥，白痢復作，蓋病本久寒，涼藥不可再用矣。孟英曰：言頗近理，使他醫聞之，必改溫補，但病機隱伏，測識匪易，前此之止，非邪淨而止之止，乃邪得補而不行之止，邪氣止而不行，是以痛脹欲死。夫強止其痢，遽截其瘧，猶之乎新產後妄澀其惡露也。世人但知惡露之宜通，而不知間有不可妄通者；但知瘧痢之當止，而不知邪未去而強止之，其害較不止為尤甚也！今邪未清滌，而以溫補藥壅塞其流行之道，以致邪不能出，逆而上衝，噦不能食，是痢證之所畏。吾以通降涼潤之劑，搜邪掃濁，惟恐其去之不速，胡反以白痢復作為憂，豈欲留此垢滯於腹中，冀其化脂膏而填空隙，故若是之寶惜而不願其去耶？（眉批：通達之論，醫所宜知。）幸若舟深信，竟從孟英議。尋愈。</p>
<p>十八澗徐有堂室病痢，醫作寒濕治，廣服溫補之藥。痢出覺冷，遂謂沉寒，改投燥熱。半月後，發熱無溺，口渴不飢，腹疼且脹，巔痛不眠。翁嘉順囑其求診於孟英。察脈弦細，沉取甚數，舌絳無津，肌肉盡削，是暑熱膠錮，陰氣受爍。與北沙參、肉蓯蓉、芩、斛、楝、芍、銀花、桑葉、丹皮、阿膠，合白頭翁湯為劑。次日，各患皆減，痢出反熱。有堂不解問故？孟英曰：熱證誤投熱藥，熱結而大便不行者有之；或熱勢奔迫，而泄瀉如火者有之；若誤服熱藥，而痢出反冷者，殊不多見也，無怪醫者指為久伏之沉寒。吾以脈證參之，顯為暑熱。然暑熱之邪，本無形質，其為滯下也，必挾身中有形之垢濁。故治之之道，最忌補澀壅滯之品。設誤用之，則邪得補而愈熾，濁被壅而愈塞，耗其真液之灌溉，阻其正氣之流行。液耗則出艱，氣阻則覺冷。大凡有形之邪，皆能阻氣機之周流，如痰盛於中，胸頭覺冷，積滯於府，臍下欲熨之類，皆非真冷，人不易識，吾曾治愈多人矣。徐極歎服，仍議育陰滌熱，病果漸瘳。</p>
<p>蕭某素患痰多，常服六君子湯，偶延孟英診之。脈細數而兼弦滑。曰：六君亟當屏絕，病由陰虧火盛，津液受灼而成痰，須服壯水之劑，庶可杜患將來。蕭因向吸鴉片煙，自疑虛寒，滋陰不敢頻服。繼患咽痛，專科治而不效，仍乞診於孟英。因謂曰：早從吾策，奚至是耶！此陰虛於下，陽浮於上，喉科藥不可試也。大劑育陰潛陽，其痛日瘥，而喉齶皆形白腐。孟英曰：吸菸既久，毒氣薰蒸之故耳。令吹錫類散，始得漸退。愈後復患滯下。孟英曰：今秋痢雖盛行，而此獨異於人，切勿以痢藥治之。蓋火迫津液，結為痰飲，釀以煙毒，薰成喉患。吾以燃犀之照，而投激濁揚清之治，病雖愈矣，內蘊之痰濁尚多，奈向來為溫補藥所禁，錮於腸胃曲折之間，而不得出，今廣投壯水之劑，不啻決江河而滌陳莝，豈可與時行暑熱之痢同年而語耶！治不易法，食不減餐，日數十行，精神反加。逾月之後，大解始正。計服甘涼約二百劑，肌肉復充，痰患若失。</p>
<p>孫位申患感，證見耳聾。醫者泥於少陽小柴胡之例，聾益甚。孟英視之，曰：伏暑也，與傷寒治法何涉？改投清肺之藥，聾減病安，將進善後法矣。忽一日，耳復聾，孟英診之，莫測其故。因詰其食物，云：昨日曾吃藕粉一碗。孟英曰：是矣。肄間藕粉罕真，每以他粉攙混，此必葛粉耳！不啻誤服小柴胡一劑，復投肅清肺胃藥尋愈。錄此以見其審證周詳，所謂無微不入也。</p>
<p>顧宗武偶患微寒發熱，醫進溫散法，熱雖退，而不飢不大便。復用平胃散數帖，腹漸脹而偏於右，尚疑其中氣之虛寒也，遂與溫運燥補諸藥，脹乃日增，杳不進谷。或謂恐屬癰瘍，因招外科連某診之，作脅疽治，病如故。黃某作腸癰論，以大黃瀉之，亦不應。嚴某謂脅疽部位不對，腸癰證據不符，作內疝治，仿子和活人之法，及當歸龍薈丸相間而投，亦無效，（眉批：雜藥亂投，一何可笑。）乃延孟英視之。脈極弦細而促，舌絳大渴，小溲赤少，飲而不食者月餘矣，證實脈虛，堅辭不治。其家問曰：此證究是何病？乞為指示。孟英曰：據述病人素慎起居，而薄滋味，顯非停滯與癰疽之患，良由暑濕內蘊，勢欲外泄，是以初起有微寒發熱之候。誤與風寒藥，熱雖暫退於表，邪仍伏處乎中，不飢不便，肺胃失其下行，再加辛燥溫補，氣機更形窒滯，伏邪永無出路。津液潛消，䐜脹日甚，以氣血流行之藏府，為暑濕割據之窠巢，補之不可，攻之不能，病雖不在膏肓，盧扁望而驚走。逾旬徑歿。</p>
<p>黃蓮泉家戚嫗病痢，朱某以其年老，而為舍病顧虛之治，漸至少腹結塊，攻痛異常，大渴無溺，杳不知飢，晝夜百餘行，五色並見，呼號欲絕，始延孟英診之。脈至沉滑而數，因謂曰：縱使暑熱深受，見證奚至是耶？此必溫補所釀耳！夫痢疾古稱滯下，明指欲下而澀滯不通也，顧名思義，豈可以守補之品，更滯其氣？燥烈之藥，再助其虐乎？少腹聚氣如瘕，痢證初起，因於停滯者有之，今見於七八日之後，時欲沖逆，按之不硬，則顯非停滯之可擬，實為藥劑之誤投，以致邪濁蟠踞，滋蔓難圖。及檢所服諸方，果是參、朮、薑、萸、附、桂、粟殼、故紙、川椒、烏梅等一派與病刺謬之藥。孟英曰：彼豈仇於汝哉？畏老而補之，見痢而止之，亦未嘗不煞費苦心，而欲汝病之即愈，惜徒有欲愈之心，未明致愈之道，但知年老元虛，不聞邪盛則實，彼亦年近古稀，懸壺多載，竟畢世沉迷於立齋、景岳諸書，良可嘆也！豈造化果假權於若輩乎？不然何彼書、彼術之風行哉！戚云：壬寅之病，賴君再生，今乃一誤至此，恐仙丹不能救矣。孟英曰：幸未嘔噦，尚可希冀一二。遂與蓯蓉、楝、芍、芩、連、橘、斛、楂、曲、元胡、綠梅、鱉甲、雞金、鼠矢、海䖳，出入互用，數帖漸安。繼加駐車丸吞服，逾月始健。（眉批：痢疾初起即補，變成噤口者有之，延為休息者有之，邪因補而固結不解，雖有明手，無如之何，良可嘆恨。）</p>
<p>周某患瘧，間二日而作，寒少熱多。醫謂老年三瘧，放手溫補，漸至杳不進谷。所親李石泉孝廉囑迎孟英診之，脈細硬如弦，毫無胃氣，右尺洪數，舌色光絳，大渴溺滴。曰：此足少陰暑瘧也，廣服溫補，津液盡劫，欲以草木生之，事不及矣。世但知治瘧不善有三患：邪留肝絡則為瘧母；戕及脾元則為瘧鼓；耗乎腎陰則為瘧勞。而此證以藥助邪，邪將劫命，求轉三患，亦不能得。所謂熱得補而更熾，陰受爍以速亡，陰愈亡則邪愈熾，何殊炮烙之刑，病者何辜？可慘！可慘！逾日果歿。特錄以為戒，醫者鑑之。</p>
<p>一老廣文，俸滿來省驗看。患眩暈，醫謂上虛，進以參、耆等藥，因而不食不便，煩躁氣逆。孟英診曰：下虛之證，誤補其上，氣分實而不降，先當治藥，然後療病。與梔、豉、芩、桔、枳、橘、菀、貝。一劑粥進便行，嗣用滋陰息風法而愈。</p>
<p>上虞陳茂才，患頭痛，三日一發，發則惡寒，多藥不效，飲食漸減。或擬大劑薑、附，或議須投金石。葛仲信囑其質於孟英。察脈甚弦，重按則滑。曰：熱暑伏厥陰也。溫補皆為戈戟，與左金加楝、芍、梔、桑、羚、丹、菊、橘為劑，煎吞當歸龍薈丸。三服而減，旬日即痊。</p>
<p>關穎庵，患寒熱，醫者泥於今歲之司天在泉，率投溫燥，以致壯熱不休。阮某用小柴胡和解之治，遂自汗神昏，苔黑舌強，肢掣不語，唇繭齒焦。張某謂斑疹不透，擬進角刺、荊、蒡；越醫指為格陽假熱，欲以附子引火歸原；（眉批：因前醫之誤，而始思轉計，已非良醫所為，況明睹溫燥表散之害，而仍蹈覆轍，焉足云醫。）許芷卿知為伏暑，而病家疑便溏不可服涼藥，覆逆孟英診之。曰：陰虛之體，熱邪失清，最易劫液，幸得溏泄，邪氣尚有出路，正宜乘此一線生機，迎而導之，切勿遲疑。遂與芷卿商投晉三犀角地黃湯，加知、麥、花粉、西洋參、元參、貝、斛之類。大劑服八九日，甫得轉機。續與甘涼充液，六七劑，忽大汗如雨者一夜，人皆疑其虛脫。孟英曰：此陰氣復而邪氣解也，切勿驚惶。嗣後果漸安穀，投以滋補而愈。繼有陳菊人明府乃郎，病較輕於此，因畏犀角不敢服，竟致不救，豈不惜哉。</p>
<p>余某年三十餘，發熱數日，醫投涼解之法，遂嘔吐自汗，肢冷神疲。亟延孟英診之。脈微弱。曰：內傷也，豈可視同伏暑，而一概治之，徑不詳辨其證耶！與黃耆建中去飴，加龍骨、生薑、茯苓、橘皮，投劑即安。續加參、術，逾旬而愈。</p>
<p>錢氏婦，懷妊四月，而患寒熱如瘧。醫與發散安胎，乃至舌黑神昏，大渴便泄，臭痰頻吐，腰腹痛墜，人皆不能措手。孟英診曰：伏暑失於清解，舌雖黑而脈形滑數，痰雖臭而氣息調和，是胎尚未壞，猶可治也。重用氣血兩清之藥，五劑而安，糜粥漸進，腰腹皆舒，胎亦躍躍。</p>
<p>方氏女，久患泄瀉脘痛，間兼齒痛，汛事不調，極其畏熱，治不能愈。上年初夏，所親崔映溪為延孟英診之。體豐脈不甚顯，而隱隱然弦且滑焉。曰：此肝強痰盛耳。然病根深錮，不可再行妄補。渠母曰：溏泄十餘年，本元虛極，廣服培補，尚無寸效，再攻其病，豈不可虞？孟英曰：非然也。今之醫者，每以漫無著落之虛字，括盡天下一切之病，動手輒補，舉國如狂，目擊心傷，可勝浩嘆！且所謂虛者，不外乎陰與陽也。今肌肉不瘦，冬不知寒，是陰虛乎？抑陽虛乎？只因久瀉，遂不察其脈證，而僉疑為虛寒之病矣。須知痰之為病，最頑且幻，益以風陽，性尤善變，治必先去其病，而後補其虛不為晚也。（眉批：凡病皆宜如此，不獨痰飲為然。）否則，養癰為患，不但徒費參藥耳。母不之信，遍訪醫療，千方一律，無非補藥。至今秋頸下起一痰核，黃某敷之始平。更以大劑溫補，連投百日，忽吐瀉膠痰鬥余而亡。予按：此痰飲滋蔓，木土相仇，久則我不敵彼，而潰敗決裂，設早從孟英之言，斷不遽死於今日也。</p>
<p>康康候司馬之夫人，泄瀉頻年，納食甚少，稍投燥烈。咽喉即疼。治經多手，不能獲效。孟英診曰：脾虛飲滯，肝盛風生之候也。用參、朮、橘、半、桂、苓、楝、芍、木瓜、蒺藜。（健脾滌飲平肝，絲絲入扣。）投之漸愈。今冬又患眩暈頭汗，面熱肢冷，心頭似絞，呻吟欲絕。孟英以石英、蓯蓉、牡蠣、綠萼梅、苓、蒺、楝、芍、旋覆為方，仍是柔肝滌飲之法。竟劑即康。</p>
<p>盛墨莊冬患間瘧，因腹脹畏寒，自服神麯、薑湯，勢益甚，延孟英視之，曰：暑濕內伏也。以黃連、枳、樸、梔、芩、杏、貝、知、斛、旋、橘、蘭草等為劑，（清暑滲濕而無燥烈之弊，洵妙方也。）蘆菔煮湯煎藥，三啜而瘳。</p>
<p>鮑繼仲患哮，每發於冬，醫作虛寒治更劇。孟英診之：脈滑苔厚，溺赤痰濃。與知母、花粉、冬瓜子、杏、貝、茯苓、滑石、梔子、石斛而安。孫渭川令侄亦患此，氣逆欲死。孟英視之：口渴頭汗，二便不行。徑與生石膏、橘、貝、桂、苓、知母、花粉、杏、菀、海䖳等藥而愈。一耳姓回婦病哮，自以為寒，頻飲燒酒，不但病加，更兼嘔吐泄瀉，兩腳筋掣，既不能臥，又不能坐。孟英診曰：口苦而渴乎？瀉出如火乎？小溲不行乎？痰黏且韌乎？病者云：誠如君言，想受寒太重使然。孟英曰：汝何愚耶！見證如是，猶謂受寒，設遇他醫，必然承教，況當此小寒之候，而哮喘與霍亂，世俗無不硬指為寒者，誤投薑、附，汝命休矣！與北沙參、生薏苡、冬瓜子、絲瓜絡、竹茹、石斛、枇杷葉、貝母、知母、梔子、蘆根、橄欖、海䖳、蘆菔汁為方，一劑知，二劑已。（眉批：哮證乃熱痰伏於肺絡也。至冬則熱為寒束，故應時而發。古人治法，於未寒時，先以滾痰丸下之，使冬時無熱可束則愈。但其法太峻，人多不敢用。今孟英以輕清通透之品，搜絡中之伏痰，斯有利而無弊，真可補古人所未及。）</p>
<p>吳芸閣因壯年時患黴瘡，過服寒涼之藥，瘡雖愈，陽氣傷殘，虛寒病起，改投溫補，如金液丹、大造丸之類，始得獲安。奈醫者昧於藥為補偏救弊而設，漫無節制，率以為常，馴致血溢於上，便泄於下，食少痰多，喘逆礙臥，兩足不能屈伸。童某猶云寒濕為患，進以苓薑朮桂湯多劑，勢益劇，且溲漸少，而色綠如膽汁，醫皆不能明其故。延孟英診之，脈弦硬無情。曰：從前寒藥戕陽，今則熱藥竭陰矣。胃中津液，皆灼爍以為痰，五藏咸失所養，而見證如上，水源欲絕，小溲自然漸少，木火內焚，乃露東方之色，與章虛谷所治暑結厥陰，用來復丹攻其邪從溺出，而見深碧之色者，彼實此虛，判分天壤，恐和緩再來，亦難為力矣！尋果歿。</p>
<p>戴氏婦，年五十六歲，仲冬患感，初服楊某歸、柴、丹參藥一劑，繼服朱某乾薑、蒼朮、厚朴藥五劑，遂崩血一陣。謂其熱入血室，不可治矣。（眉批：即熱入血室，亦豈不可治之證？）可見此人並不知熱入血室為何病，第妄指其名耳！始延孟英診之。脈形空軟促數，苔黑舌絳，足冷而強，息微善笑，詢其汛斷逾十載。曰：冬溫失於清解，營血暴脫於下，豈可與熱入血室同年而語耶！必由誤服熱藥所致，因檢所服各方而嘆曰：小柴胡湯與冬溫何涉？即以傷寒論，亦不能初感即投，況以丹參代人參，尤為悖謬。夫人參補氣，丹參行血，主治天淵，不論風寒暑濕各氣初感，皆禁用血藥，為其早用反致引邪深入也。既引而入，再誤於辛熱燥烈之數投，焉得不將其僅存無幾之血，逼迫而使之盡脫於下乎？女人以血為主，天癸既絕，無病者尚不宜有所漏泄，況溫邪方熾，而陰從下脫，可不畏哉！病家再四求治。孟英與西洋參、蓯蓉、生地、犀角、石斛、生芍、銀花、知母、麥冬、甘草、蔗漿、童溺。兩劑足溫舌潤，得解醬糞，脈數漸減而軟益甚，乃去犀角，加高麗參。數帖脈漸和，熱退進粥，隨以調補，幸得向安。</p>
<p>王開榮素患痰嗽，兼有紅證。今冬病頭疼發熱，渴飲不飢，便溏溺少，譫語神昏，自述胸中冷氣上衝。醫見其面赤痰喘，欲投附、桂、黑錫丹等藥。所親翁嘉順囑勿輕服，為延孟英診之。脈滑且數。曰：溫邪挾宿飲上逆，法當清解。與北沙參、冬瓜子、知母、滑石、花粉、石菖蒲、貝母、杏仁、蘆根、蔥白、淡豉、竹瀝。二劑後面赤退，乃去蔥、豉。加麥冬、桑葉、枇杷葉。數帖熱去瀉減，譫語止，頭痛息，喘定神清。乃裁菖、滑，加梨汁、地慄、海䖳。服數日，痰漸少，谷漸安，渴止溺行，始進養陰法，遂以霍然。（眉批：此人肺氣素不清肅，又兼陰虛挾飲，故感受溫邪，彌見轇轕，非此始終如法施治，殊難奏效也。）</p>
<p>石子章患腹脹，朱某與大劑溫補之藥，殊若相安，孟英見而非之。彼云：服之略不助脹，正須多服圖痊，君何疑焉？孟英曰：形瘦脈數，舌色乾紅，此為陰虛熱脹，昔年範次侯室暨楊改之如君之恙，皆類此，醫咸攻補遍施，病無小效。吾以極苦泄熱、微辛通絡之法投之，應手而瘳。今子病初起時脹不礙食，證非氣分可知，而溫補不助脹，遂服之不疑。不知陰愈耗，絡愈痹，脹雖不加，而肌愈削，脈愈數，干嗆氣急，與女子之風消息賁何以異耶？尋果不起。予按：喻氏始言男子亦有血蠱證，可見男女雖別，而異中有同，同中有異，臨證者不可膠柱以鼓瑟也。</p>
<p>沈某患脘痛嘔吐，二便秘澀，諸治不效，請孟英視之。脈弦軟，苔黃膩。曰：此飲證也，豈沉湎於酒乎？沈云：素不飲酒，性嗜茶耳。然恐茶寒致病，向以武彝紅葉，熬濃而飲，諒無害焉？孟英曰：茶雖涼而味清氣降，性不停留，惟蒸遏為紅，味變甘濁，全失肅清之氣，遂為釀疾之媒，較彼曲糵，殆一間耳。醫者不察，僅知嘔吐為寒，薑、萸、沉、附，不特與病相反，抑且更煽風陽，飲藉風騰，但升不降，是以上不能納，下不得通，宛似關格，然非陰枯陽結之候。以連、楝、梔、芩、旋覆、竹茹、枇杷葉、橘、半、苓、澤、蛤殼、荷莖、生薑衣為方，送服震靈丹。數劑而平，匝月而起。（眉批：此上有停飲，下元虛寒，故用藥如此。）</p>
<p>石芷卿，驟患腹脹，旬日後臍間出膿。（濕熱積於小腸。）外科視為腸癰，與溫補內托之藥，（眉批：腸癰無溫補內托之法。）遂咳嗽不眠，腹中絞痛異常，痰色紅綠，大便不行，乃延孟英商之。脈弦細以數，舌絳而大渴，曰：察脈候是真陰大虛之證。（乃真陰為熱藥所耗，非本如是也。）耆、朮、歸、桂，皆為禁劑。以甘露飲加西洋參、花粉、貝母、杏仁、冬瓜子投之。痰咳即安。（眉批：清其上源而下流自清，亦喻氏法也。）外科謂此恙最忌泄瀉，潤藥不宜多服，（此何恙也？而以為最忌泄瀉，真囈語也。）孟英曰：陰虛液燥，津不易生，雖求其瀉，不可得也，惡可拘泥一偏，而不知通變哉？仍以前法去杏、貝、花粉，加知母、百合、合歡為方。並囑其另邀老醫朱嵩年敷治其外。如法施之，果漸向安。久之當臍痂落，如小兒蛻臍帶狀，臍內新肉瑩然而愈。</p>
<p>袁某患噫，聲聞於鄰。俞某與理中湯，暨旋覆代赭湯皆不效。孟英診之，尺中虛大，乃詰之曰：爾覺氣自少腹上衝乎？病者云：誠然。孟英曰：此病在下焦。用胡桃肉、故紙、韭子、菟絲、小茴、鹿角霜、枸杞、當歸、茯苓、覆盆、龍齒、牡蠣。服一劑，其沖氣即至喉而止，不作聲為噫矣。再劑寂然。多服竟愈。</p>
<p>沈春暘之母，偶患咽喉微痛，服輕清藥一劑，即覺稍安，且起居勞作如常。第五日猶操針鑿至四鼓，第六日忽云坐立不支，甫就榻，即昏沉如寐。亟延王瘦石視之，用犀角地黃湯，化萬氏牛黃丸灌之；繼邀徐小坡，亦主是湯，云恐無濟。乃邀孟英決之。切其脈左數右滑，皆極虛軟。曰：王、徐所見極是，但雖感冬溫，邪尚輕微，因積勞久虛之體，肝陽內動，爍液成痰，逆升而厥，儼似溫邪內陷之候。方中犀角靖內風，牛黃化痰熱，不妨借用，病可無虞，今日不必再投藥餌矣。翼日復診，神氣雖清，苔色將黑。孟英與肅肺蠲痰，息風充液之劑，熱退而苔色鬆浮。孟英曰：舌將蛻矣。仍與前藥，越宿視之，苔果盡退，宛如脫液之舌，且嘔惡時作，大解未行。孟英於甘潤生津藥內，仍佐竹茹、竹瀝、柿蒂、海䖳。數劑嘔止便行，而舌上忽布白腐之苔，（此濕熱熏蒸於肺也。）以及齒齦唇頰，滿口遍生，揩拭不去，人皆異之。孟英堅守肅清肺胃，仍佐茹、瀝，加橄欖、銀花、建蘭葉。數劑白腐漸以脫下，舌色始露，惟啜粥則胸次梗梗不舒，夜不成寐。孟英曰：胃汁不充，熱痰未淨也。仍守前議。病家疑之，復商於瘦石，瘦石云：勿論其他，即如滿口腐苔，酷似小兒鵝白，大方證甚屬罕見，苟胸無學識者見之，必按劍而詫，今醫者有不惑之智，而病家乃中道生疑，豈求愈之道耶？沈大愧服，一遵孟英設法，既而吐痰漸少，納穀頗適，兩脅又添辣痛。孟英診脈左關弦數，曰：必犯忿怒矣。詰之果然。加梔、楝、旱蓮、女貞、生白芍、綠萼梅等。數服各恙皆安，膚蛻成片，而右腿腫痛不能屈伸，或疑風氣，思用艾灸，孟英急止之曰：此陰虧耳，誤灸必成廢疾，吾以妙藥奉贈，但不許速效也。疏方以西洋參、熟地黃、蓯蓉、桑椹、石斛、木瓜、歸、芍、二冬、杞、菊、楝實、牛膝，加無核白蒲桃子為劑，久服果得向愈。越三載以他疾終。</p>
<p>孫執中於春前四日，忽患鼻衄如注，諸法莫塞。夤夜請孟英視之。脈弦而數。曰：冬暖氣泄，天令不主閉藏，今晚雷聲大振，人身應之，肝陽乃動，血亦隨而上溢，不可以其體肥頭汗，畏虛脫而進溫補也。投以元參、生地、犀角、牡蠣、知母、生白芍、牛膝、茯苓、側柏葉、童溺諸藥。一劑知，二劑已。既而脅痛流乳，人皆異之。孟英與甘露飲加女貞、旱蓮、龜板、鱉甲、牡蠣而瘳。</p>

<h1>王氏醫案續編卷二（原名《仁術志》）</h1>

<h2>古杭王士雄孟英醫案</h2>
<p>莊芝階舍人之外孫汪震官，春前陡患赤痢。孟英診之，脈滑數而沉，面赤苔黃，手足冷過肘膝，當臍硬痛，小溲澀少，伏熱為病也。與大劑芩、連、梔、楝、滑石、丹皮、砂仁、延胡、楂、曲、銀花、草決明等藥。（此大實證也，何不加大黃盪滌之。）兩服手足漸溫，（清熱之效。）而腳背紅腫起疱如蒲桃大一二十枚。（濕熱下注也。若於前方加大黃盪滌，當不至此。）四服後腹痛減，苔退而渴，於原方去楂、曲、砂仁，加白頭翁、赤芍、海䖳。旬日後，痢色轉白，而腿筋抽痛。乃去丹皮、滑石、赤芍，加雞金、橘紅、生苡、石斛。（熱久傷陰也，古人急下存陰之法，原以防此，救法好。）兩服痛止溲長，糞色亦正，腳疱潰黃水而平，穀食遂安。改用養胃陰清餘熱之法而愈。（合法。）聞孟英治此證，每劑銀花輒兩許，尚須半月而瘳，設病在他家，焉能如此恪信。苟遇別手，斷無如此重劑，況在冬春之交，誠古所未有之痢案，後人恐難企及。（眉批：此案步步合法，特少一番盪滌之功，故覺少延時日耳。然涼劑已畏其寒，若加盪滌之品，必不敢服，此治病之所以難也。）</p>
<p>吳馥齋室，新產後嘔吐不止，湯水不能下咽，頭痛痰多，苔色白滑。孟英用蘇梗、橘、半、吳萸、茯苓、旋覆、姜皮、柿蒂、紫石英、竹茹。一劑知，二劑已。（此痰飲挾肝氣上逆也，故方以降氣滌飲為治。）</p>
<p>鄭嫗患咳嗽，自覺痰從腰下而起，吐出甚冷。醫作腎虛水泛治，漸至咽喉阻塞，飲食礙進，即勉強嚥之，而胸次梗不能下，便溏溲頻，無一人不從虛論。孟英診曰：脈雖不甚有力，右部微有弦滑，苔色黃膩，豈屬虛證？以葦莖湯含雪羹，加貝母、知母、花粉、竹茹、麥冬、枇杷葉、柿蒂等藥，進十餘劑而痊。（眉批：此證明明虛寒，何以作虛寒治不效？）蓋虛寒乃此人之本體，而痰咳乃新受之外邪，不治其邪，而專補其虛，則邪無出路，以致積補生熱，此舌苔之所以黃膩也。孟英以清熱化痰為治，尚是一半治病，一半治藥誤也。</p>
<p>滿洲少婦，懷娠漏血，醫投補藥漏如故。間或不漏則吐血，延逾二載，腹中漸動，孕已無疑，然血久溢於上下，甚至納食即吐，多醫不能治。孟英診之，脈滑數有力，是氣實而血熱也，證不屬虛，補藥反能助病，愈補愈漏。胎無血蔭而不長，其所以不墮者，氣分堅實耳。與大劑清營藥，血溢遂止，而稀沫頻吐，得飲即嘔，口渴心忡，氣短似促。乃用西洋參、麥冬、知母、石斛、枇杷葉、竹茹、柿蒂、生白芍、木瓜，重加烏梅投之，（清肺柔肝、益氣生津，與證針鋒相對。）覆杯即安，次日能吃飯矣。</p>
<p>珠小輝太守令嬡，驟患頤腫，連及唇鼻，（此俗所謂蝦蟆瘟也。）乃至口不能開，舌不得出。孟英視之曰：溫毒也，用射干、山豆根、馬勃、羚羊、薄荷、銀花、貝母、花粉、杏仁、竹黃為劑，（仿普濟消毒飲意。）並以紫雪搽於唇內，錫類散吹入咽喉，外將橄欖核磨塗腫處。果吐韌涎而腫漸消，詰朝即啜稀粥，數日而愈。</p>
<p>一男子患便血，醫投溫補，血雖止而反泄瀉浮腫，延及半年。孟英診之，脈數舌絳，曰：此病原濕熱，溫補反傷陰液。與芩、連、梔、芍、桑葉、丹皮、銀花、石斛、楝實、冬瓜皮、鱉甲、雞金等藥，旬余而愈。</p>
<p>陸厚甫室，陳芷潯主事之女也。產後經旬，偶發脘痛，專用與溫補藥。（脘痛何以投溫補，不問可知其誤矣。）因寒熱氣逆，自汗不寐，登圊不能解，而臥則稀水自流，口渴善嘔，杳不納穀，僉云不起矣。乃父速孟英診之，脈弦數而滑，曰：本屬陰虧，肝陽侮胃，誤投溫補澀滯之劑，（產後肝血大虧，所以陰虛，肝失血養，故陽獨盛。）氣機全不下降，以致諸證蜂起，醫者見而卻走，是未明其故也。與沙參、竹茹、楝實、延胡、梔、連、橘、貝、杏、斛、枇杷葉。為肅肺以和肝胃法，覆杯即安。但少腹隱隱作痛，於前方去杏、貝、竹茹，加知母、花粉、蓯蓉、白芍、橘核、海䖳。乃解宿垢而瘳。（此脘痛之根。）</p>
<p>周子朝患惡寒頭痛發熱，酷似傷寒，而兼心下疼脹。孟英脈之，右部沉滑，苔黃不渴，溲如蘇木汁。先以蔥豉湯加梔、連、杏、貝、蔞、橘為方。（先解表。）服後微汗，而不惡寒反惡熱，雖湯飲略溫，即氣逆欲死。孟英曰：客邪解矣，清其痰熱可也。與知母、花粉、杏、貝、旋、滑、斛、橘、杷、茹、茅根、蘆根、地慄、海䖳等藥。（後清裡。）果吐膠痰甚多，而納食漸復，惟動則欲喘，於肅上之中佐以滋下，為善其後而瘥。</p>
<p>濮樹堂室，懷妊五月患春溫，口渴善嘔，壯熱無汗，旬日後始浼孟英視之。見其煩躁譫語，苔黃不燥。曰：痰熱阻氣也，病不傳營，血藥禁用。試令按其胸次，果然堅痛，而大解仍行，法當開上。用小陷胸加石菖蒲、枳實、杏、貝、茹、郁、梔、翹等藥，蘆菔湯煎服。服二劑神情即安，四帖心下豁然，惟心腹如烙，嘔吐不納，改投大劑甘寒加烏梅，頻啜漸康，秋間得子亦無恙。（眉批：孟英於溫熱痰飲，獨有心得，遇此等證，如摧枯拉朽，合觀諸案，可以得治溫病之法。）</p>
<p>胡振華以花甲之年，患溺後出血水甚痛，自云溲頗長激，似非火證。孟英察脈有滑數之象。與元參、生地、犀角、梔、楝、槐蕊、側柏、知母、花粉、石斛、銀花、甘草梢、綠豆等藥，旬日而痊。逾四載以他疾終。</p>
<p>管氏婦，自去秋患赤痢，多醫罔效，延至暮春。孟英診脈弦數，苔黃渴飲，腹脹而墜，五熱夜甚。用白頭翁湯合金鈴子散加芩、芍、梔、斛，吞駐車丸。浹旬而愈。</p>
<p>濮樹堂室病，孟英甫為參愈，而樹堂繼焉。起即四肢厥逆，脈伏惡寒，發熱頭痛，左為甚，惟口渴。因與蔥豉二帖。（解表。）熱雖退，脈仍伏，四肢冷過肘膝，大解頻行，人皆疑為虛寒。孟英曰：此證儼似陰厥，然渴飲溲赤，真情已露，豈可泥於一起即厥，而必定其為寒乎？徑投涼解，熱果復發，而肢冷脈伏如故。幸病者堅信，服藥不疑。至第七日，大便瀉出紅水，溺則管痛，嘔惡煩躁，徹夜不瞑，人更危之。孟英曰：熱邪既已下行，可望轉機。以白頭翁湯加銀花、通草、芩、芍、茹、滑、知、斛、梔、楝、羚角之類。投三日紅水始止，四肢漸和，頗有昏瞀譫語，用王氏犀角地黃湯一劑。四肢熱而脈顯滑數，苔轉灰黃，大渴遺溺，病人自述如臥烘箱上。於昨方加入元參、銀花、竹葉、生石膏、知、貝、梔、斛。服一劑，夜間即安寐，而苔轉黑燥，於昨方復加花粉。服一劑，熱退而頭面汗多，（陽越於上。）懶言倦寐，小溲欲解不通。（陰虛於下。）諸戚友咸以為危，（病已將愈，何危之有？）各舉所知，而群醫僉云挽救不及，病家皇皇。孟英曰：此證幸初起即予診視，得盡力以為死裡求生之舉，非比他人之病，皆因誤治致危。然不明言其險者，恐病家惶惑，而築室於道旁也。今生機已得，不過邪去真陰未復，但當恪守予法，自然水到渠成，切勿二三其德，以致為山虧簣。賴有一二知音，竟從孟英議。服西洋參、生地、蓯蓉、麥冬、楝、芍、知、斛藥。一劑溺行索粥；再服而黑苔退；三服而神清音朗，舌潤津回，唯有韌痰不能吐，左偏頭微痛。於原方加二至、桑、菊、貝母、牡蠣。又復五劑，得解硬矢一次，各患始安，眠食漸適而瘳。（眉批：凡厥逆脈伏之證，其熱深藏，多不易解，非卓識定力，不惑於證，亦必搖於眾議矣。）</p>
<p>陳足甫溲後見血，管痛異常，減餐氣短。孟英以元參、生地、知母、楝實、銀花、側柏葉、梔子、桑葉、丹皮、綠豆為方，藕湯煎服。二劑病大減，乃去丹皮、柏葉，加西洋參、熟地，服之而瘥。</p>
<p>王開榮偶患腹中絞痛，（伏暑在內。）自服治痧諸藥，而大便瀉血如注。（香燥可以益熱。）孟英診之，左頗和，右關尺弦大而滑，（弦滑者痰也，大者熱也。）面色油紅，喘逆不寐。與葦莖湯合金鈴子散，加銀花、側柏葉、梔、斛、芩、連。二帖後，面紅退，血亦止，乃裁柏葉、銀花，加雪羹、枯荷杆。又二帖始發熱，一夜得大汗周時，而腹之痛脹，爽然若失，即能安寐進粥。改投沙參、知母、花粉、桑葉、杷葉、石斛、白芍、橘絡、杏仁、冬瓜子、茅根、荷杆。三帖大解行，而脈柔安穀。</p>
<p>陳叟，久患痰嗽氣逆。（肺氣不清。）夏初因惡寒，熱結在肺。自服理中湯，遂痰中帶血，氣喘而厥，二便不通，冷汗腹脹。孟英察脈洪大，按腹如烙。與葦莖湯加梔、楝、旋、貝、花粉、海䖳，外以田螺、大蒜、車前草搗貼臍下，即溺行而平。</p>
<p>高某，患兩膝後筋絡痠疼，（血不養筋。）略不紅腫，臥則痛不可當，徹夜危坐。孟英切脈虛細，苔色黃膩，咽燥溺赤，與知、斛、梔、楝、牛膝、豆卷、桂枝、竹瀝為方，送虎潛丸。（陰虛於下，火炎於上，煎劑以治其上，丸藥以培其下，井井有法。）旬日而瘳。</p>
<p>楊某方作事，不知背後有人潛立，回顧失驚，遂不言不食，不寐不便，別無他苦。孟英按脈沉弦。以石菖蒲、遠志、琥珀、膽星、旋、貝、竹黃、杏仁、省頭草、羚羊角為劑，化服蘇合香丸。二帖大解行而啜粥，夜得寐而能言。復與調氣寧神蠲飲藥，數日霍然。</p>
<p>趙聽樵令妹，每汛至則腹脹嘔吐，（肝氣逆。）腰脊痠疼，兩腿腫痛，筋掣脘疼，甚至痙厥，（肝血虛。）多藥不效。孟英以金鈴子散合左金，加二陳、竹茹、枳實、桂、苓，數劑而愈。續用蓯蓉、菟絲、淫羊、杜仲、桑堪、木瓜、續斷、香附、歸、芍、茴、楝調之。（養血不用地黃，避其膩也，斯為收用，補之利而去其弊。）汛至如期，略無痛苦，初冬適楊子樸，尋即受孕。（眉批：俱肝氣橫逆之證，其發於汛期者，肝失所養也。孟英先平肝驅痰，而後養血柔肝，亦先標後本之法。）</p>
<p>濮東明令孫女，素稟陰虛，時發夜熱，少餐不寐。仲夏，患感發疹，（肺熱。）汛不當期而至。（血熱。）孟英用犀、羚、知、貝、石膏、生地、梔、翹、花粉、甘草、竹葉、蘆根等藥。疹透神清，惟鼻燥異常，（肺中餘熱。）吸氣入喉，辣痛難忍，甚至肢冷。復於方中加元參、竹茹、菊葉、荷杆。各恙始減，而心忡吐沫，（血因熱而虛。）徹夜不瞑，渴汗便瀉。改投西洋參、生地、麥冬、小麥、竹葉、黃連、真珠、百合、貝母、石斛、牡蠣、龜板、蔗汁諸藥而愈。季秋適姚益齋為室。（眉批：病不甚重，治亦合法，而難收捷效者，以陰虛之體，不勝溫熱之氣也。此即四損不可正治之例，設治不如法，則危矣。）</p>
<p>金亞伯廷尉簉室。產後惡露不行，渴瀉痰多。孟英以北沙參、滑石、生薏苡、生扁豆、蛤殼、豆卷、石斛、竹茹、枇杷葉、琥珀、茯苓等藥，數劑而愈。</p>
<p>顧竹如孝廉令嬡，患感十餘日，耳聾不語，昏不識人。（眉批：葉氏云：溫邪中人，首先犯肺，其次則入心，正此病也。）而客未入室，彼反先知，（熱極而神外越。）醫以為祟。凡犀角地黃、牛黃清心、復脈等湯，遍服無效。（藥不誤，特病重藥輕耳。）已摒擋後事矣。所親濮根厓囑其延診於孟英，脈至滑數，舌不能伸，苔色黃膩，遺溺便秘，目不交睫者已四晝夜，（下證已悉備。）胸腹按之不柔。與白虎湯去米、草，加石菖蒲、元參、犀角、鱉甲、花粉、杏仁、竹葉、竹黃、竹瀝。投一劑即譫語滔滔。渠父母疑藥不對病，孟英曰：不語者欲其語，是轉機也。再投之，大渴而喜極熱之飲，又疑涼藥非宜。孟英姑應之曰：再服一劑，更方可也。三投之，痰果漸吐。四劑後舌伸便下，神識漸清。乃去菖蒲、石膏、犀角、鱉甲，加生地、石斛、麥冬、貝母數帖。（溫病後陰必耗竭，宜急救其陰，轉方甚合法。）熱盡退，而痰味甚咸。又去杏、貝、竹黃，加西洋參、牡蠣、龜板、蓯蓉，服之全愈。（眉批：雖不用下劑，而通經透絡之品，大劑用之，亦足以盪滌邪穢。）逾年失怙，繼遭祝融，郁損情懷，誤投溫補，至戊申年殞。</p>
<p>邵魚竹給諫患感，楊某作瘧治不應，始迓孟英診之。脈軟汗多，（熱為濕所持，故脈軟。）熱不甚壯，苔色厚膩，嘔惡煩躁，痰多腿痠，顯是濕溫。因謂其令郎子瓬曰：濕溫者，濕蘊久而從時令之感以化熱也。不可從表治，更勿畏虛率補。與宣解一劑，各恙頗減。奈眾楚交咻，謂病由心力勞瘁而來，況汗多防脫，豈可不顧本原？群醫附和。遂服參、歸、熟地之藥，（增濕益熱，宜乎不救。）病日以劇。最後吳古年診之云：此濕溫也，何妄投補劑？然已末從挽救，交十四日而殞，始悔不從王議。</p>
<p>康康侯司馬之夫人，久傷謀慮，心火外浮，面赤齒疼，因啖西瓜，遂脘悶不舒，喜得熱按，泄瀉不飢，自覺舌厚數寸，苔色灰膩。（此寒濕鬱閉其熱也，用辛通淡滲之劑，斯愈矣。）孟英與厚朴、滑石、蔥白、蕤白、枇杷葉、橘皮、薄荷、旋覆、省頭草。一劑霍然。</p>
<p>葉杏江仲郎，患發熱泄瀉，（肺移熱於大腸。）醫治十七日不效、骨瘦如豺，音嘶氣逆。所親許芷卿薦孟英診之。脈數大渴，汗多苔黃。以竹葉石膏湯加減，十餘劑漸以向愈。大解反堅燥，繼與滋養而康。</p>
<p>張某患發熱，醫知其非寒邪也，用清解藥數帖，腿痛異常，身面漸黃。孟英診之，脈滑實，腹脹口乾。與茵陳大黃湯。兩劑便行，而各恙霍然。</p>
<p>魏女患腳腫嘔吐，寒熱便秘，孟英與龍膽瀉肝湯而立效。繼有孫氏婦患此，亦以是藥獲痊。（眉批：此亦肝經鬱熱之證，孟英善於調肝，故應手輒效。）</p>
<p>馮媼患左目胞起瘰，繼而痛及眉稜、額角、巔頂，腦後筋掣難忍。醫投風劑，其勢孔亟。孟英診脈弦勁，舌絳不飢。與固本合二至、桑、菊、犀、羚、元參、牡蠣、鱉甲、白芍、知母、石斛、丹皮、細茶等，出入為用，匝月始愈。</p>
<p>濮嫗於酷熱之秋，渾身生癤如疔，痛楚難堪，小溲或秘或頻，大便登圊則努掙不下，臥則不能收攝，人皆謂其虛也。（未聞虛而生癤者。）孟英診脈滑數，舌紫苔黃而渴。與白虎湯加花粉、竹葉、梔子、白薇、紫菀、石斛、黃柏。十餘劑而痊。</p>
<p>姚小蘅太史令侄女，初秋患寒熱而汛適至，醫用正氣散兩帖，遂壯熱狂煩，目赤譫語，甚至欲刎欲縊，勢不可制。孟英按脈洪滑且數，苔色干黃尖絳，脘悶，腹脹拒按，畏明口渴，氣逆痰多。與桃仁承氣湯加犀角、石膏、知母、花粉、竹瀝、甘菊。（照熱入血室例治。）人謂熱雖熾而汛尚行，何必大破其血而又加以極寒之藥哉？孟英曰：叟勿過慮，恐一二劑尚不足以濟事。果服兩大劑始得大便，而神清苔化，目赤亦退。改用甘寒以清之。繼而又不更衣，即脈滑苔黃而腹脹，更與小承氣湯二帖，便行而各恙遄已。數日後，又如此，仍投小承氣湯二帖。凡前後六投下劑，才得波浪不興，漸以清養而瘳。季秋適江右上高令孫明府之子沛堂為室。</p>
<p>董曉書令正，素患脘痛，甚至暈厥。今秋病腰疼腿木，胸悶氣逆，不能臥。胡某進溫補藥而喘汗欲脫，杳不思谷。孟英切脈虛細中兼有弦滑，舌絳而渴，乃陰虛挾痰耳。與沙參、蓯蓉、木瓜、石斛、蛤殼、蒺藜、石英、茯苓、紫菀、杏仁、楝實、首烏、牛膝諸藥。（滋陰調肝而不膩，祛飲利痰而不燥，此孟英獨得之秘。）旬日而安。繼加熟地黃服之全愈。</p>
<p>王葦塘患滯下，醫投枳、樸、檳、楂之藥。數服後，肢冷自汗，杳不進谷，脘悶腹痛，小溲牽疼，舉家皇皇。孟英視脈細澀，舌絳無津，是高年陰虧，伏暑傷液，況平昔茹素，胃汁不充，加以燥烈之藥，津何以堪？因與沙參、銀花、蓯蓉、白芍、石斛、木瓜、甘草、楝實、扁豆花、鮮稻頭。（滋陰養液，兼調肝氣。）數劑痛悶漸去，汗止肢溫。乃加生地、阿膠、麥冬、柿餅、蒲桃乾等以滋之。居然而痢止餐加，惟舌色至匝月始津潤復常，陰液之難充也如此。</p>
<p>沈綬齋令堂，患滯下色白，醫與溫運，病勢日劇，腹脹昏瞀，湯飲不下，孟英診為伏暑。用芩、連、滑、樸等藥。沈疑高年，且素患脘痛，豈可輒用苦寒。孟英再四剖陳，始服半劑，病果大減，不數帖即愈。按此等證甚多，奈執迷不悟者，雖剴切言之，不能解其惑，亦可哀也已。</p>
<p>一叟患滯下，色白不黏，不飢不渴，腹微痛而不脹。孟英切脈遲微。進大劑真武湯加參而愈。</p>
<p>程秋霞子患腦漏，（肺移熱於肝。）醫與辛夷、蒼耳之藥，（方書所載不過如此。）漸有寒熱。改用柴、葛、羌、防數帖，遂致寒熱日發數次，神昏自汗，勢甚可危。孟英用竹葉石膏湯一劑，（肅清肺氣，）寒熱退而神清進粥。繼以甘涼清肅，復投滋潤填陰，（上病取下。）旬日而健。</p>
<p>朱浚宣令堂患滯下，醫聞色白，而與升提溫補。旬日後，肢冷自汗，液脫肛墜。群醫束手，慮其虛脫。因浼濮樹堂乞診於孟英。曰：藥誤耳。與大劑行氣、蠲痰、清熱之藥，果漸吐痰而痢愈。又其令弟同時患此，五色並見，神昏肢搐，大渴莖腫，腹痛夜熱，危險異常。孟英察脈細數，與白頭翁湯加犀角、生地、銀花、石斛、楝實、延胡、芩、連、滑石、丹皮、木通、甘草梢等藥。三帖後，熱退神清，溺行搐止，乃去犀角、草梢、丹皮、滑石、木通，加砂仁拌炒熟地、山楂炭。服之漸安，半月而愈。</p>
<p>姚小蘅大令患瘧，寒微熱甚，日作二次。汪某與柴胡藥二帖，勢遂劇，舌絳大渴，小溲全無。孟英曰：津欲涸矣。與西洋參、生地、知母、花粉、石斛、麥冬、梔子、百合、竹葉投之。五劑而瘧止。越三載以他疾終。其簉室同時患此，嘔吐脅痛，畏寒不渴，苔色微白。孟英與小柴胡湯，三飲而瘳。</p>
<p>孫渭川年逾七旬，脈象六陰，按之如無，偶患音嘶痰嗽，舌絳無津。孟英用甘涼清潤法，音開而嗽不已，仍與前藥，轉為滯下，色醬溺赤，臍旁堅硬，按之趯趯，舌猶枯絳，渴飲不飢，人皆危之。孟英曰：藏熱由府而出，（此言甚精。）痢不足慮，第高年陰液難充，不能捨涼潤為方，苟犯溫燥，其敗可必。幸渠家平素恪信，竟服犀角、地黃、知母、銀花、蓯蓉、花粉、麥冬、白芍、石斛、楝實等藥。十餘劑痢止，而臍旁柔軟。因去犀角，加兩洋參。又服西旬，始解燥矢，而溲澈胃蘇。又服半月，復得暢解，舌亦潤澤而愈。</p>
<p>王耕藍室，素患脘痛，近發寒熱，（此肝鬱之證，非瘧也。）醫與溫補，漸至胸痞嘔呃，譫語神昏，舌絳面赤，足冷自汗，瘧仍不休。孟英用元參、犀角、石膏、石菖蒲、連翹、杏仁、貝母、旋覆、竹茹、枇杷葉、竹黃、柿蒂、竹瀝、鬱金諸藥，（全是救溫補之誤，而開鬱降氣化痰，故本病亦愈。）化服萬氏牛黃清心丸。數服而愈。</p>
<p>潘祥行在外患瘧，買舟歸，就孟英視。曰：苔膩脈軟，伏邪所化，不與正瘧同科，風寒藥一味不可犯，薑棗湯一滴不可啜。與知、芩、橘、半、滑、樸、杏、斛、花粉、省頭草。一劑而病若失。此等案極多，姑載一二。</p>
<p>張與之令堂，久患痰嗽礙臥，素不投補藥。孟英偶持其脈，曰：非補不可。與大劑熟地藥，一飲而睡。與之曰：吾母有十七載不能服熟地矣，君何所見而重用頗投？孟英曰：脈細痰咸，陰虛水泛，非此不為功。從前服之增病者，想必雜以參、術之助氣。昔人云：勿執一藥以論方，故處方者貴於用藥之恰當病情，而取捨得宜也。</p>
<p>陳足甫室，懷妊九月而患瘧，目不能瞑，口渴自汗，便溏氣短，醫進育陰清解法，數劑不應。改用小柴胡一帖，而咽疼舌黑，心頭絞痛。乃翁仰山聞之，疑其胎壞，延孟英過診。曰：右脈洪滑，雖舌黑而胎固無恙也。病由伏暑，育陰嫌其滋膩，小柴胡乃正瘧之主方，古人謂為和劑，須知是傷寒之和劑，在溫暑等證，不特手足異經，而人參、半夏、薑、棗皆不可輕用之藥，雖有黃芩之苦寒，而仲聖於傷寒之治，猶有渴者去半夏，加栝蔞根之文，古人立方之嚴密，何後人不加體察耶？（眉批：瘧亦分經而治，若陽明瘧，正以白虎湯為主劑，豈有專守一小柴胡而能愈病者。）投以竹葉石膏湯。四劑瘧止便秘，口渴不休。與甘涼濡潤法數帖，忽腹鳴泄瀉，或疑寒涼所致，孟英曰：吾當以涼藥解之。人莫識其意，問難終朝語多不備錄。果以白頭翁湯，兩啜而愈。迨季秋娩後，發熱不蒸乳，惡露淡且少，家人慾用生化湯。孟英急止之曰：血去陰更傷，豈可妄疑瘀停而攻之。與西洋參、生地、茯苓、石斛、女貞、旱蓮、甘草為大劑，數日而安。繼因觸怒，少腹聚氣如瘕，痠痛夜甚，人又疑為涼藥凝瘀所致。孟英力為辨析，與橘核、橘葉、橘絡、楝實、蓯蓉、木香、梔炭、烏藥、絲瓜絡、海䖳、藕、石斛、兩頭尖等藥，外以蔥頭搗爛貼之。兩帖後，腹中雷鳴，周身汗出而痛止。人見其汗，慮為虛脫，急追孟英視之，曰：此氣行而病解矣。但脈形細數，陰津大傷，苔黃苦渴，亟宜潤補。奈樞機窒滯，滋膩難投，且以濡養八脈為法。服之各恙皆蠲，眠食漸適。緣平素多郁，易犯痧氣，頻發脘痛，屢次反復。孟英竭力圖維，幸得轉危為安，漸投滋補而愈。</p>
<p>胡季權子珍官，甫六歲，目患內障，繼則夜熱痰嗽，小溲過多，醫作童損治。服滋補數月，病日以甚。孟英持脈右大，口渴苔黃，曰：伏熱在肺，法當清解。及詳詰其因，始言病起瘄後，蓋餘熱未淨，而投補太早。與滑石、知母、花粉、桑葉、茅根、枇杷葉、蘆根、冬瓜子、杏仁。服二劑，遍身發出斑塊。又二劑，斑退苔化，乃去滑石，加沙參餌之，其熱頭面先退，次退四肢，以及胸背，又數日甫退於腹，人皆詫其熱退之異。孟英謂熱伏既久，復為半年之補藥，膩滯於其間，焉能一旦盡滌？其勢必漸清而漸去也。熱退既淨，溺亦有節，痰嗽遞蠲，餐加肌潤，而內障亦漸除矣。</p>
<p>顧奏云季秋患感，醫作虛治，補及旬日，舌卷痙厥，腰以下不能略動，危在須臾。所親石誦羲延孟英設死裡求生之策，察脈虛促欲絕。先灌紫雪一錢，隨溉犀角地黃湯二大劑服下。厥雖止而舌齶滿黑，目赤如鳩，仍用前湯。三日間計服犀角兩許，黑苔漸退，神識乃清，而呃忒頻作，人猶疑其虛也。孟英曰：營熱雖解，氣道未肅耳。以犀角、元參、石花、連翹、銀花、竹茹、知母、花粉、貝母、竹葉為方服之。次日即下黑韌矢甚多，而呃忒止。又三劑，連解膠黑矢四次，舌色始潤，略進米飲，腿能稍動，然臀已磨穿矣。與甘潤育陰藥，續解黑矢又五次，便溺之色始正。投以滋養，日漸向安。已酉舉於鄉。其弟翰云，患左胯間腫硬而疼，暮熱溺赤，舌絳而渴。孟英按脈細數，（陰虛血熱。）徑用西洋參、生地、麥冬、楝實、知母、花粉、銀花、連翹、甘草、黃柏等藥，服旬余而愈。</p>
<p>康康候司馬令郎爾九，在玉環署中，患心忡自汗，氣短面赤，霎時溲溺數十次，澄澈如水。醫僉謂虛，補之日劇，乃來省就孟英診焉。左寸關數，右弦滑，心下似阻。因作痰火阻氣，心熱移肺，治用蛤殼、黃連、枳實、楝實、旋覆、花粉、橘紅、杏仁、百合、絲瓜絡、冬瓜子、海䖳、荸薺、竹茹、竹瀝、梨汁等，出入為方，服之良愈。而司馬為職守所羈，嘗患恙，函請孟英診視者再四，竟不克往，繼聞司馬於冬仲竟卒於甌，乃知病而得遇良手，原非偶然。前歲遇而今歲不能致，豈非命也耶！</p>
<p>許自堂令孫子社患感，延至秋杪，證交二十八日，諸醫束手。渠伯母鮑玉士夫人，薦孟英診之，左部數，右手儼若魚翔，痰嗽氣促，自汗瘛瘲，苔色灰厚，渴無一息之停。垂危若是，而皓首之祖、孀母、少妻，相依為命，環乞拯救，甚可憫也。孟英曰：據脈莫能下手，吾且竭力勉圖。第恐一齊眾楚，信任不堅，則絕無可望之機矣。其母長跽而言曰：唯君所命，雖砒鴆勿疑也。於是，先以竹葉石膏湯加減。至五劑，氣平嗽減，汗亦漸收，苔色轉黑，舌尖露絳，改投元參、生地、犀角、石膏、知母、花粉、竹葉、銀花等藥。又五劑，瘛瘲漸減，舌絳漸退。彼婦翁召羽士為之拜斗，飛符噀水，鼓樂喧闐。病者即譫妄不安，神昏如醉，羽士反為嚇退。夤夜速孟英視之，與紫雪錢余，神即清爽。仍用前方，重加竹瀝，服八劑，始解黑如膠漆之大便，而黑苔漸退，右脈之至數始清，惟煩渴不減，令其恣啖北梨，舌才不燥，痰出亦多。又六劑，舌色乃淡，溲出管痛，熱邪得從下行矣。凡十二日之間，共服大劑寒涼已二十四帖，計用犀角三兩有奇，而險浪始平。續以前法緩制，服六劑，又解黑矢五次，手足始知為己有。又五劑，筋絡之振惕始定，略能側臥，囈語乃息，漸進稀糜。繼灌甘潤充其胃汁，（非此無以善其後。）七八劑後，渴止知飢，脈皆和緩。又浹旬，穀食乃復。又旬余，便溺之色始正。前後共下黑矢四十餘次，苔色亦淨。授滋填善後而康。是役也，凡同道暨許之族人戚友，莫不以為秋冬之交，用藥偏寒，況病延己久，敗象畢呈，苟不即投峻補，必致失手。既聞鮑夫人云：歸許氏二十餘年，目擊多人，無不死於溫補，此等病曾見之，此等藥蓋未嘗聞也。孰知如此之證，有如此之治，求之古案，亦未前聞，傳諸後賢，亦難追步。蓋學識可造，而腸熱膽堅，非人力所能及。此孟英所以為不世出之良醫也。</p>
<p>段春木秋杪患發熱，（外感溫邪。）而腰腿痛如刀割，（真陰內損。）孟英視之：略不紅腫，脈至細數，（熱傷少陰。）苔色黑燥，溺赤便黑。與西洋參、麥冬、生地、犀角、銀花、楝實、石斛、知母、甘草、竹瀝、蔗汁為大劑投之。熱漸退，痛漸已，惟舌絳無津。（陰虧也。）仍與甘涼濡潤為方。數日後，忽舌絳倍加，燥及咽膈，水飲不能下咽。孟英曰：真陰涸竭，藥難奏績矣。然竊疑其何以小愈之後，驟爾陰枯？或者背予而服別藥乎？繼其契友來詢云：段死而舌出，此曷故歟？孟英聞之，爽然大悟。因擷《傷寒》女勞復之文示之，其人頓足云良然。彼於小愈後，曾宿於外，次日歸即轉劇，苟直陳不諱，或尚可治。孟英曰：未必然也，燒裩散、鼠矢湯，皆從足少陰以逐邪，不過熱邪襲入此經，所謂陰陽易是也。今少腹無絞痛之苦，原非他人之病易於我，真是女勞之復，以致真陰枯涸，更將何藥以驟復其真陰哉！然從此而女勞復與陰陽易，一虛一實有定論，不致混同而談治矣。</p>
<p>顧升庵參軍之仲郎，久患多疑善恐，（痰之見證。）不出房者數年矣。食則不肯與人共案，臥則須人防護，寡言善笑，（熱之見症。）時或遺精，多醫廣藥，略無寸效。孟英切脈甚滑數，（脈與證合。）與元參、丹參、竹黃、竹茹、丹皮、黃連、花粉、梔子、海䖳、荸薺為劑，（從痰火治。）送服當歸龍薈丸。四帖即能出署觀劇，遊淨慈而登吳山。參軍大喜，以為神治。次年為之配室。</p>
<p>陳某偶患溏泄，所親鮑繼仲云：余往歲患瀉，治不中肯，延逾半載，幾為所困。今秋患此，服孟英方，數劑霍然，故服藥不可不慎也，盍延孟英治之。陳因中表二人皆知醫，招而視之，以為省便，輒投以溫補健脾之藥，數日後瀉果減。（熱得補而不行。）而發熱昏痙，咽喉黑腐。其居停瞿穎山，疑病變太速，囑其請援於孟英。孟英診曰：遲矣！病起泄瀉，何必為寒，正是伏邪自尋出路，而溫補以固留之，自然內陷厥陰，不可救藥。果即殞焉。繼有高小垞孝廉令弟雨生，因食蟹患瀉，黃某用大劑溫補藥，瀉果止，而頸筋痠痛，舌絳嘔渴，口氣甚臭。孟英持脈沉數，曰：食蟹而後瀉，會逢其適耳。脈證如斯，理應清潤。奈病人自畏涼藥，復質於吳某，亦主溫補。服及旬日，昏痙舌黑而斃！</p>
<p>金某久患脘痛，按之漉漉有聲，便秘溲赤，口渴苔黃，杳不知飢，絕粒五日，諸藥下咽，傾吐無餘。孟英察脈沉弱而弦。用海䖳、荸薺各四兩煮湯飲之，徑不吐，痛亦大減。繼以此湯煎高麗參、黃連、楝實、延胡、梔子、枳椇、石斛、竹茹、柿蒂等藥，送服當歸龍薈丸。旬日而安。續與春澤湯調補收績。蓋其人善飲而嗜瓜果以成疾也。（眉批：此肝氣挾痰飲上逆也。緣素嗜瓜果，胃陽久傷，故於平肝滌飲之中，加參以扶胃氣。）</p>
<p>喬有南年三十九歲，患牝瘧二旬。醫治罔效。所親徐和圃疑為伏暑，迓孟英往診。脈微無神，倦臥奄奄，便秘半月，溺赤不飢，痰多口甘，稍呷米飲，必揉胸槌背而始下，苔色黑膩而有蒙茸之象。乃曰：此精、氣、神三者交虛之證，不可與時行伏暑晚發同年而語也。幸前手之藥，法主運中，尚無大害。與參、朮、桂、附、沉香拌炒熟地、鹿角、石英、蓯、杞、歸、茯、杜仲、棗仁、菟絲、山茱、橘皮、霞天曲、胡桃肉等，出入為大劑，投十餘帖，寒後始有熱，而苔色乃退，口不作渴，甘痰亦日少，粥食漸加，即裁桂、附、白朮，加石斛，又服七劑，解黑燥大便甚多，凡不更衣者，四旬二日矣。寒熱亦斷，安穀溲澄而竟愈。或謂先生嘗訾人溫補之非，何一旦放手而大用？孟英曰：溫補亦治病之一法，何可廢也，第用較少耳。世之醫者，眼不識病，僅知此法可以媚富貴之人，動手輒用，殺人無算，豈非將古人活世之方，翻為誤世之藥，可不痛恨耶！</p>
<p>陳媼患牝瘧月餘，腹脹便秘，噯多不飢，口淡脈滑。孟英主連、樸、橘、貝、杏、茹、旋、菀、杷、蒺為方，數劑即瘳。（眉批：此與前案虛實相反，正可對看。）</p>
<p>孟英治其令弟季傑之簉室，因夜間未寐，侵晨飲酒解寒，適見人爭誶，即覺心跳欲吐，家人疑其醉也，而欲吐不出，氣即逆奔如喘，且肢麻手握，語言難出。又疑為急痧而欲刺之，孟英聞而視之，脈象弦駛。曰：夜坐陽升，飲醇則肝陽益浮，見人爭誶，是驚則氣更上逆，不可刺也。灌以蘇合香丸一顆，下咽即瘥。（眉批：此當是痰閉氣結之故，蘇合丸辛香通氣故愈。若是肝浮氣逆，益以香竄之藥，安能愈乎？）</p>
<p>黃履吉截瘧後患浮腫，趙某聞其體素虛，切其脈弦細，遂用溫補，馴致呃忒不休，氣衝礙臥，飲食不進，勢瀕於危，請孟英決其及返餘杭否？孟英曰：脈雖弦細而有力，子必誤服溫補矣。肯服吾藥，猶可無恐。因與栝蔞、蕤白合小陷胸、橘皮竹茹湯，加柿蒂、旋覆、蘇子、香附、赭石、紫菀、杷葉為方。四劑而瘳。</p>
<p>吳馥齋室，春間娩子不育，汛事亦未一行，偶患嘔吐發熱，眩暈心嘈，大解溏泄，口渴溲痛，或疑其娠，或疑為損。孟英診曰：產及一載，而經不至，腹不脹，脈弦緩，非娠非損，乃血虛痰滯而感冬溫也。以羚羊、淡豉、竹茹、白薇、梔子、杷葉、知母、蔥白、花粉投之。三劑熱退吐止，去蔥、豉、羚羊，加生地、甘草、橘皮，調之而愈。</p>
<p>盛犀林廣文僕，患血痢，自秋徂冬，半年罔效。孟英察脈細弱，而口乾，腰膝痠疼，與鹿角霜、蓯蓉、枸杞、杜仲、菟絲、續斷、血餘、石脂、木瓜、砂仁末炒熟地黃，十餘劑而痊。</p>
<p>徐月岩室，患周身麻木，四肢癱瘓，口苦而渴，痰冷如冰，氣逆欲嘔，汛愆腹脹，頻飲極熱薑湯，似乎暢適，深秋延至季冬，服藥不愈。孟英診脈沉弦而數。曰：溺熱如火乎？間有發厥乎？病者唯唯。遂以雪羹、旋、赭、梔、楝、茹、斛、知母、花粉、桑枝、羚羊、橄欖、蛤殼為方，送下當歸龍薈丸。服之遞效，二十劑即能起榻，乃去羚、赭，加西洋參、生地、蓯蓉、藕。投之漸愈。</p>
<p>張肖江妹，暮冬患感。朱某進溫散數服，病日劇。比孟英視之，目瞪不語，面赤氣逆，晝夜需人抱坐，四日不著枕矣。乃冬溫挾痰，誤提而氣不肅降也。以旋、赭、杏、貝、花粉、茅根、冬瓜子、紫菀、蕤白、蔞仁、蘇子、石菖蒲、竹瀝為劑，蘆菔湯煎。三帖大便行而能臥矣，自言胸中迷悶。改用小陷胸合三子養親，加沙參、知母、旋、貝、竹茹、枇杷葉。數劑熱退，知飢而愈。嗣有王炳華子患感，葉某用溫散藥，而氣逆礙臥。四明老醫王秉衡，作腎虛不能納氣治，連服大劑溫補，喘嗽益劇，面浮跗腫，抬肩自汗，大渴脅痛。乞治於孟英，已半月不交睫矣。診其脈右部弦大而強，舌根黑苔如煤者兩條，面藜形瘦，幸而大解溏泄，得能消受許多誤藥。徑與旋、赭、黃連、枳實、栝蔞、蘇子、杏仁、紫菀、生石膏、蘆菔汁。六大劑始能就枕，而大渴不止，脘腹反形痞脹，按之堅痛，乃去旋、赭，少加白芥子、半夏、薤白。兼令日啖北梨數十枚。服旬日，胸腹皆舒，苔色盡退，唯嗽未已。改用西洋參、杏、貝、蘆根、知母、冬瓜子、花粉、柿霜、杷葉、竹瀝。十許劑嗽止，而跗腫渴瀉，亦皆霍然矣。凡啖梨三百餘斤，聞者莫不詫異。</p>

<h1>王氏醫案續編卷三</h1>

<h2>杭州王士雄孟英醫案</h2>
<p>丙午春，高漢芳患滯下色醬，日數十行，年已七十七歲。自去秋以來，漸形疲憊，即服補藥，馴致見痢。黃某徑用溫補，勢乃劇。延孟英診之，右脈弦細芤遲，（脈虛證實。）口渴溲澀，時時面赤自汗。乃吸受暑邪，誤作虛治，幸其所稟極堅，尚能轉痢。一誤再誤，邪愈盛而正反虛矣。以白頭翁湯加參、朮、銀花、芩、芍、楝、斛、延胡。二劑即減，五劑而安。繼與調補，竟得霍然。後三載，以他疾終。</p>
<p>葉晝三侄女適朱氏，上年四月分娩。七月患赤痢，其家謂產後之病，不敢服藥。延至今春，肌消膝軟，見食欲嘔。晝三迓孟英診之，左細軟，右滑數，伏暑為病，幸未誤藥。與沙參、陳倉米、歸、芍、續斷、木瓜、扁豆、連、斛、石蓮、荷蒂、枇杷葉、橘皮為方，送駐車丸而愈。</p>
<p>鄭芷塘令岳母，年逾花甲。仲春患右手足不遂，舌蹇不語，面赤便秘。醫與疏風不效，第四日延診於孟英。右洪滑，左弦數，為陽明府實之候。疏石菖蒲、膽星、知母、花粉、枳實、蔞仁、秦艽、旋覆、麻仁、竹瀝為方。或慮便瀉欲脫，置不敢用。而不知古人中藏宜下之「藏」字，乃府字之訛。柯氏云：讀書無眼，病人無命，此之謂也。延至二旬，病勢危急。芷塘浼童秋門復懇孟英視之。苔裂舌絳，米飲不沾，腹脹息粗，陰津欲竭，非急下不可也。即以前方加大黃四錢絞汁服，（急下存陰合法。）連下黑矢五次，舌蹇頓減，漸啜稀糜，乃去大黃，加西洋參、生地、麥冬、丹皮、薄荷。（滋陰生津尤合法。）服五劑，復更衣，語言乃清，專用甘涼充津滌熱，又旬日舌色始淡，納穀如常。改以滋陰，漸收全績，逾三載聞以他疾終。</p>
<p>章養雲室患感，適遇猝驚。黃、包二醫，皆主溫補，乃至昏譫痙厥，勢極危殆，棺衾咸備，無生望矣。所親陳仰山聞之，謂云：去秋顧奏云之恙，僅存一息，得孟英救愈，子盍圖之？章遂求診於孟英。證交三十八日，脈至細數無倫，（陰將竭矣。）兩手拘攣，（肝無血養。）宛如角弓之反張，痰升自汗，渴飲苔黃，面赤臀穿，晝夜不能閤眼。先與犀、羚、貝、斛、元參、連翹、知母、花粉、膽星、牛黃、鱉甲、珍珠、竹黃、竹葉、竹瀝、竹茹為方。三劑，兩手漸柔，汗亦漸收。又五劑，熱退痰降，脈較和，而自言自答，日夜不休。乃去羚、斛、珠、黃，加西洋參、生地，大塊硃砂兩許。（太多。）服之聒絮不減，或疑為癲，似有搖惑之意。孟英恐其再誤，囑邀許芷卿商之。芷卿極言治法之絲絲入扣，復於方中加青黛、龍、牡。（熱在心而用肝腎藥，宜乎不效。）服二劑，仍喋喋不已。孟英苦思數四，徑於前方加木通一錢，（眉批：用木通精當。凡心經蘊熱用犀角、黃連等藥，必兼木通，其效乃捷，以能引心經之熱從小腸出也。）投匕即效。次日病者自云：前此小溲業已通暢，不甚覺熱，昨藥服後，似有一團熱氣從心頭直趨於下，由溺而泄。從此神氣安謐，粥食漸加，兩腿能動，大解亦堅。忽咽腫大痛，水飲不下。孟英曰：餘火上炎也。仍與前方，更吹錫類散而安。惟臀瘡未斂，腿痛不己，乃下焦氣血傷殘，改用參、耆、歸、芍、生地、合歡、山藥、麥冬、牛膝、石斛、木瓜、桑枝、藕肉。數服痛止餐加，又與峻補生肌而愈。</p>
<p>吳醞香孝廉三令嬡患感，諸醫首以升散，繼進溫補，至三月下旬，證交三十五日。昏痙譫語，六晝夜不交睫，旬日不沾米飲。許芷卿視之，儼似養雲室證，即拉孟英暨顧聽泉、趙笛樓會診。脈弦滑而微數，齒不能開，窺其舌縮苔垢。孟英曰：尖雖卷，色猶紅潤，且二便不秘，尚有一線生機未絕也。揆其受病原不甚重，只因謬治逾月，誤藥釀成大證，勢雖危險，吾儕當竭力援之，第勿再犯一味悖藥，事或有濟。醞香頗極信從。孟英復詢其服事婢媼曰：病已逾月，腰以下得毋有磨壞之虞乎？皆曰：無之。惟數日前易其所遺，略有血漬，必月事之不愆也。孟英頗疑之，囑其再易之時，留心細察。疏方以犀角四錢，石菖蒲二錢，貝母二兩，整塊硃砂兩許，（硃砂不宜入煎劑。）竹瀝碗許，佐以竹葉、竹黃、竹茹、知母、花粉、元參、旋覆、絲瓜絡、葦莖、銀花、鱉甲。（眉批：非此大劑不足以起垂危之證。）調下紫雪丹。次日諸君復會，渠母徐夫人即云：王君明視隔垣，小女腰下果已磨穿，糜潰如柈，婢媼輩粗忽，竟未之知也。昨藥服後，證亦少減。孟英仍主原方。四服後夜始眠，痙才息，舌甫伸，苔乃黑。孟英於前方去鱉甲、硃砂、菖蒲，加生地、梔子。數服後苔轉黃，大便黑如膠漆，且有痰色，蓋從前大解黃色，似乎無甚大熱，不知熱由補藥所釀，滯於腸胃曲折之地，而不能下行，勢必薰蒸於上，致有內陷入藏之逆也。黑矢下而神識漸清，餘熱復從氣分而達，痰嗽不爽，右脈滑搏。孟英主用竹葉石膏湯加減。四劑漸安，而外患痛楚，徹夜呻吟，雖敷以珠黃，滋以甘潤，未能向愈。孟英令以大蟾蜍治淨煮湯，煎育陰充液之藥服之。果痛止肌生，眠食漸進，汛事如期而瘳。冬間適張舟甫之子為室。或疑其病雖愈，而過餌涼藥，恐難受孕。迨戊申夏，已得子矣。</p>
<p>吳醞香之僕吳森，在越患感，旋杭日鼻衄數升，苔黃大渴，脈滑而洪，孟英投白虎湯二帖而安。遽食肥甘，復發壯熱，脘悶昏倦，孟英以枳實梔豉湯而瘥。數日後，又昏沉欲寐，發熱自汗，舌絳溺澀，仍求孟英診之。左尺細數而芤，右尺洪大，是女勞復也。研詰之果然。與大劑滋陰清熱藥，吞豭鼠矢而愈。</p>
<p>王月鋤令媳，於廟見時忽目偏左視，揚手妄言，諸親駴然，詰其婢媵，素無此恙，速孟英視之。脈弦滑而微數，苔黃脘悶。蓋時雖春暮，天氣酷熱，兼以勞則火升，挾其素有之痰而使然也。與犀、羚、梔、翹、元參、丹參、薄荷、花粉，送礞石滾痰丸。三服而痰下神清。改投清養遂愈，次年即誕子。</p>
<p>一婦患證年餘，藥治罔效。初夏延孟英視之，發熱甚於未申，足冷須以火烘，痰嗽苔黃，間有讝語，渴飲無汗。亟令撤去火盆，以生附子搗貼湧泉穴，且囑恣啖梨、蔗，方用人參白虎湯投之。七帖而年餘之熱盡退，繼與養陰藥而瘳。</p>
<p>單小園巡檢，患右脅痛。醫與溫運藥，病益甚，至於音瘖不能出聲，仰臥不能反側，坐起則氣逆如奔，便溺不行，湯飲不進者已三日矣。孟英診其脈沉而弦。與旋覆、赭石、薤白、蔞仁、連、夏、茹、貝、枳實、紫菀，加雪羹服之。一劑知，數劑愈。</p>
<p>一婦患帶下腰疼，足心如烙，不能移步，孟英投大劑甘露飲而瘳。</p>
<p>趙子善令愛，患發熱嘔吐，口渴便秘，而年甫三齡，不能自言病苦。孟英視其舌微絳，而苔色干黃。因與海䖳、鼠矢、竹茹、知母、花粉、杏、貝、梔、斛之藥。二劑果下未化宿食，色醬黏膩。設投俗尚溫燥消導法，必致陰竭而亡。繼往維揚，孟英臨別贈言，謂其體質勿宜溫補。次年偶病，果為參、術殞命。惜哉！</p>
<p>許某於醉飽後，腹中脹悶，大解不行，自恃強壯，仍飲酒食肉。二日後腹痛，猶疑為寒，又飲火酒，兼吸洋菸，並小溲而不通矣。繼而大渴引飲，飲而即吐，而起居如常也。四朝走懇孟英診之。脈促歇止，滿舌黃苔，極其穢膩，而體豐肉顫，證頗可危。因婉言告之曰：不過停食耳，且飲山楂神麯湯可也。午後始覺指冷倦怠，尚能坐轎出城，到家氣逆，夜分痰升。比曉，胸腹額上俱脹裂而死，蓋知下之不及，故不與藥也。</p>
<p>何新之亦儒醫也。患感旬日，胡士揚診謂勢欲內陷，舉家皇皇。渠表弟沈悅亭茂才，亦上岐黃，而心折於孟英，因拉視之。呃忒苔膩，便秘痰多，心下拒按，持其脈右手洪大滑數。與小陷胸，加沙參、菖、貝、菀、薤、茹、杏、旋、杷之劑，數帖而安。繼以甘涼，二旬後得大解而痊，何乃執柯，為王、沈聯姻婭焉。</p>
<p>翁氏婦患目疾，自春徂夏，治不能瘳，漸至腹中痞脹，痛不可當，食不能下，便秘形消。孟英視之，乃肝鬱痰滯而誤補以致殆也。脈弦數而滑，與金鈴子散合雪羹煎，吞當歸龍薈丸暨礞石滾痰丸。三投即效，服至二十餘日，各恙皆蠲，眠食如舊。</p>
<p>仲夏瘄疹流行，幼科執用套藥，夭札實多。有王子能參軍所親楚人劉某，僅一子甫五齡，陸某見其瘄點不綻，連進檉柳等藥，壯熱無汗，面赤靜臥，二便不行。參軍聞其殆，遲孟英視之。投犀羚白虎湯而轉機。陸某力阻石膏不可再餌，仍進溫散，以至氣喘痰升。復加麻黃八分，欲圖定喘，而喘汗瀕危，二便復秘。（麻黃定喘，乃方脈中感受風寒之證施之，麻疹何其不通。）再懇孟英救之。投白虎加西洋參、竹葉而愈。繼有房氏子亦為陸某誤用溫散致劇，痰喘便秘，口渴神昏，溲碧肢瘛。孟英與大劑白虎湯，加犀角、元參、竹葉、木通，調紫雪。四帖而始安。（眉批：疹為陽邪，乃肺胃濕熱所致。初宜辛涼發散，令其盡出，不宜驟用寒涼，恐冰伏熱邪，不能發出也；繼即宜大清肺胃之藥，以解餘毒，從未有溫散之法。至麻黃尤為禁劑，何兒科之憒憒耶！）</p>
<p>李新畲仲郎，瘄未齊而痰嗽氣喘，（疹中應有之證。）苔色白滑，小溲不赤。或主犀角地黃湯加紫雪，熱在氣而清其肝，故不效。服而不效，延孟英診之。右脈洪滑而口渴，脈證相符。乃天時酷熱，暑邪薄肺，挾其素有之痰而阻其治節，所以氣機不行，而疹不能達，苔不能化，溺不能赤也。溫散大忌，涼血亦非。與竹葉石膏湯合葦莖，加杏、菀、旋、杷、海石。投之氣平疹透，苔退舌紅，小溲亦赤，數日而愈。（眉批：治疹原以清肺為第一義。）</p>
<p>杭城溫元帥，例於五月十六日出巡遣疫。有魏氏女者，家住橫河橋之北，會過其門，將及天曉，適有帶發頭陀，由門前趨過，瞥見之大為驚駴，注目視之，知為僧也，遂亦釋然。而次日即不知飢，眩暈便秘。醫謂神虛，投補數帖，反致時欲昏厥。（不問何證，概投溫補，何其愚耶？）更醫作中風治，勢益甚。旬日後，孟英持其脈弦伏而滑，胸腹無脹悶之苦，旬余不更衣，是驚則氣亂，挾痰逆升，正仲聖所謂諸厥應下者，應下其痰與氣也。以旋、赭、梔、連、雪羹、楝、貝、金箔、竹瀝、菔汁為方，並以鐵器燒紅淬醋，令吸其氣。二劑厥止，旬日而瘳。</p>
<p>某媼年六十餘，患腰腿串痛，聞響聲即兩腿筋掣不可耐，日必二三十次，臥榻數載，諸藥罔效。孟英察脈沉弦，苔膩便秘，亦廣服溫補而致病日劇也。與雪羹、羚、楝、膽星、橘絡、竹瀝、絲瓜絡，吞礞石滾痰丸及當歸龍薈丸。四劑，大瀉數十次，臭韌異常，筋掣即已。乃去二丸，加梔、連、羊藿。服六劑，即健飯而可扶掖以行矣。（眉批：此人初病，必系血虛不足以養肝，因妄服溫補，以致積痰蘊熱，膠固不開。孟英治法，亦是救藥誤為多，愈後必繼以滋養血液之藥，方收全功。）</p>
<p>姚令輿令郎，瘄後兩腿筋掣，臥則更痛。幼科作風治而愈劇。（不通。）孟英以犀角、生地、木通、豆卷、葳蕤、桑枝、丹皮、梔子、絲瓜絡，投之而效。（眉批：此疹後血為熱毒所耗，不足以養肝也。與前證大略相同，特未受溫補之累耳。）</p>
<p>徐艮生室，年四十餘，於酷暑之時患疒昔，所親沈悅亭連與清解，不能殺其勢。為邀孟英視之。體厚痰多，脈甚滑數，揚擲譫妄，舌絳面赤，渴飲便澀。乃與大劑白虎加犀角、元參、銀花、花粉、貝母、竹黃、竹葉、竹茹、竹瀝，送滾痰丸。服後大便下如膠漆，脈證漸和，數日後去丸藥，其勢復劇，甚至發厥，仍加丸藥乃平。如是者三次，險浪始息。悅亭復以白金丸滌其膈下留痰，續用甘涼濡潤法，充津液而搜餘熱，漸以告愈。（眉批：此大實證也，非峻攻不愈。）</p>
<p>沈新予令岳母，陡患昏厥，速孟英視之。病者樓居，酷熱如蒸。因曰：此陰虛肝陽素盛之體，暑邪吸入包絡，亟宜移榻清涼之地，隨以紫雪丹一錢，新汲水調下可安。而病者自言手足已受縲紲，堅不肯移，家人驚以為祟，聞而束手。孟英督令移之，如法灌藥，果即帖然。</p>
<p>徐氏婦重身而患四肢疼痛，不可屈伸，藥之罔效。或疑為癱瘓。任殿華令其舍專科而質於孟英。診曰：暑熱入於隧絡耳，吾室人曾患此，愈以桑枝、竹葉、扁豆葉、絲瓜絡、羚羊、豆卷、知母、黃芩、白薇、梔子者。照方服之，果即得愈。</p>
<p>（眉批：《吳天士醫驗錄》有寒中經絡之證，與此正相對待，可見病證有寒即有熱，不可執一而論也。）</p>
<p>陳氏婦，素無病，娩後甚健，乳極多而善飯。六月初形忽遽瘦，猶疑天熱使然，漸至減餐。所親徐麗生囑延孟英視之。脈細數，舌光絳，曰：急勞也，無以藥為。夫乳者，血之所化也，乳之多寡，可徵血之盛衰。茲乳溢過中，與草木將枯，精華盡發於外者何異？即今斷乳，亦不及矣。其家聞之，尚未深信，即日斷乳服藥，及秋而逝。</p>
<p>吳醞香孝廉令孫兌官，患發熱洞瀉，大渴溲少，涕淚全無。孟英曰：暑風行於脾胃也。以沙參、生薏苡、生扁豆、銀花、石斛、滑石、甘草、竹葉、冬爪皮，澄地漿煎服，數日而痊。按：此等證，幼科無不作驚風治，因而夭折者多矣。</p>
<p>蔣北甌二尹，患瘧，醫與小柴胡、平胃散而漸甚；繼以大劑溫補，勢瀕於危；復用桂枝白虎，狂亂如故。所親董蘭初鹺尹，延孟英視之。曰：暑瘧也。桂枝白虎用於起病之時則妙矣，今為溫散補燥諸藥，助邪爍液，脈數無倫，汗渴不已，雖宜白虎，（分別了亮，）豈可監以桂枝助熱耗津，而自掣其肘耶？因與大劑白虎加花粉、竹葉、西洋參、元參、石斛。服之即安，至十餘帖瘧始瘳，而舌尚無苔，渴猶不止，與甘涼濡潤，三十餘劑始告痊。</p>
<p>孫心言以七十之年患滯下，胡某知為暑熱，以清麟丸下之，治頗不謬。繼則連投朮、樸、夏、葛等藥，漸至咽疼口糜，呃忒噤口，諸醫進補，其勢孔亟。伊婿童秋門迓孟英診之。右脈滑數上溢，身熱面赤，溲澀無眠，體厚痰多，時欲出汗。在痢疾門中，固為危候，第以脈證參之，豈是陽虛欲脫？實由升散溫燥之劑爍其陰液，肺胃之氣窒塞而不能下行也。與大劑肅清之藥，一劑知，二劑已，隨以生津藥溉之，痢亦尋愈。按：此等痢呃，古書未載，而治法懸殊，世人但守成法，不知變通，治而不愈，諉之證危，況屬高年，病家亦不之咎也，孰知有此隨時而中之妙法耶！</p>
<p>曹泳之二尹，將赴代理昌化任，而瘧痢並作，寒少熱多，滯下五色。逆孟英視之。面垢苔黃，乾嘔口渴，痛脹溺赤，汗出神疲，脈至洪數不清。與大劑芩、連、滑、樸、知母、花粉、銀花、石膏、連翹、竹茹等藥。投匕即減，三服而起。</p>
<p>陳邠眉令郎，孟秋患感，醫與表散溫補，病隨藥劇。至八月初，渠叔祖陳靄山，延孟英視之。目瞪神呆，氣喘時作，舌絳不語，便瀉稀水，肢搐而厥，人皆以為必死矣。察其脈弦而軟數，乃陰虧肝盛之質，提表助其升逆，溫補滯其樞機，痰飲轇轕，風陽肆橫，禱神驅祟，有何益哉！與鱉甲、龍、牡、旋、赭、芩、連、楝、貝、菖、茹、膽星、犀、羚等藥，息風鎮逆，清熱蠲痰，數帖而平。</p>
<p>龔念匏室，故舍人汪小米之女也。患秋感，服溫散藥而日重。渠叔母韓宜人，請援於孟英。脈見弦數軟滑，苔黑肢瘛。疏方用沙參、元參、知母、花粉、犀、羚、茹、貝、梔、菖等藥，日亟餌之，否將厥矣！時念匏幕於江南，族人皆應試入場，侍疾者多母黨，伊叔少洪疑藥涼，不敢與服，迨暮果欲厥矣。眾皆皇皇，幸彼女兄為故孝廉金訪叔之室，頗具卓識，急煎孟英方灌之，遂得生機。次日復診脈較和，一路清涼，漸以向愈。</p>
<p>仲秋久雨，吳汾伯於鄉試後患恙，自言坐於水號，浸及於膝，人皆以為寒濕之病。孟英切脈甚數，溲赤苔黃，口乾燥嗆，因謂其尊人醞香曰：病由暑濕，而體極陰虧，已從熱化，不可以便泄而稍犯溫燥之藥。先與輕清肅解，繼用甘涼撤熱，漸能安穀。半月後，熱始退盡，而寢汗不眠，投以大劑滋填潛攝之藥，兼吞五味子磁朱丸數十帖，乃得康復。此證誤治即敗，少謬亦必成損，苟非識信於平日，焉能誠服於斯時？聞其寢汗不收，夜不成寐之間，旁言嘖嘖，孟英恐其搖動主意，必致全功盡棄，囑其邀顧聽泉、許芷卿質政，而顧、許咸是孟英議，於是主人之意益堅，而大病乃痊。籲！談何易耶。</p>
<p>張慈齋室，自春間半產後發熱有時，迄於季秋，廣服滋陰之藥，竟不能愈。其大父陳靄山延孟英診脈，按之豁然。投當歸補血湯而熱退，繼以小建中愈之。（此眾人用滋陰者，而孟英以陽和之品愈之，可見醫在認證，不在執方也。）</p>
<p>俞博泉令郎患感，即兼腹痛而脹。胡某投以溫散，二便不行，昏譫大渴，舌苔黑刺。孟英以犀、翹、楝、薄、梔、連、花粉、元參、大黃。服之便下神清，為去犀角，加丹皮，二帖苔化熱退，惟少腹梗脹，不甚知飢。改投梔、連、楝、蒺、延胡、橘核、蓯蓉、花粉、制軍諸藥，連解黑矢，漸以向安。正欲養陰之際，而惑於旁言，另招金某，服大劑溫補藥，以圖元氣驟復，不知餘燼內燔，營受灼而血上溢，液被爍而肌漸消，猶謂吐血宜補，形瘦為虛，竟竭力補死而後已。</p>
<p>周同甫患瘧多汗，醫恐其脫，與救逆湯而勢劇。孟英視之曰：濕瘧耳！濕家多汗無恐也，況口渴溺赤，溫補勿投，與清解藥漸安。繼而乃翁秋叔病，初服溫補病進，更醫知為伏暑，與藥數劑，熱果漸退。偶延孟英診之，尺中甚亂，因謂其侄赤霞曰：令叔之證，必不能起，吾不能藥也。已而果然。</p>
<p>許守存久患痰嗽，孟英主滋水舒肝法，以陰虧而兼郁也，業已向愈。所親某亦涉獵醫書，謂滋陰藥不可過服，投以溫補。已而咳嗽復作，漸至咽痛。冬初又延診於孟英，曰：六脈皆數，見於水令，其不能春乎！果驗。世人不辨證之陰陽，但論藥之涼熱，因而僨事者多矣。</p>
<p>朱砥齋司李之夫人，屢患半產，每懷妊服保胎藥卒無效。今秋受孕後病嗽，孟英視之，盡屏溫補，純與清肺。或詰其故，曰：胎之不固，或由元氣之弱者，宜補正；或由病氣之侵耳，宜治病。今右寸脈滑大搏指，吾治其病，正所以保其胎。苟不知其所以然，而徒以俗尚保胎之藥投之，則肺氣愈壅，咳逆愈盛，震動胞系，其胎必墮矣。朱極飲佩，服之良效。次年夏，誕子甚茁壯。（眉批：通達之論，凡病俱宜如此看。）</p>
<p>項肖卿家擁厚貲，人極好善，年甫三十五歲，體甚壯偉，微感冬溫，門下醫者進以薑、桂之劑，即覺躁擾，更醫迎媚，徑用大劑溫補，兩帖後發狂莫制。又招多醫會診，僅以青麟丸數錢服之。所親梁楚生宜人聞其危，速孟英視之，業已決裂不可救藥，甚矣！服藥之不可不慎也。富貴之家，可為炯戒。</p>
<p>邵奕堂室，以花甲之年，仲冬患喘嗽，藥之罔效，坐而不能臥者旬日矣。乞診於孟英。邵述病原云：每進參湯則喘稍定，雖服補劑，仍易出汗，慮其欲脫。及察脈弦滑右甚，孟英曰：甚矣！望聞問切之難，不可胸無權衡也。此證當憑脈設治，參湯切勿沾唇，以栝蔞、薤白、旋覆、蘇子、花粉、杏仁、蛤殼、茯苓、青黛、海䖳為方，而以竹瀝、菔汁和服，投匕即減，十餘帖全愈。同時有石媼者，患此極相似，脈見虛弦細滑。孟英於沙參、蛤殼、旋覆、杏仁、蘇子、貝母、桂枝、茯苓中，重加熟地而瘳。所謂病同體異，難執成方也。</p>
<p>許太常滇生之夫人，患腿痛而素多噫氣，若指頭一搓，或眉間一抹，其噫即不已。向以為虛，在都時服補劑竟不能愈。冬間旋里，孟英診脈弦滑，乃痰阻於絡，氣不得宣也。以絲瓜絡、竹茹、旋覆、橘絡、羚羊、茯苓、豆卷、金鈴、柿蒂、海䖳、荸薺、藕為方，吞當歸龍薈丸而安。其媳為阮芸臺太傅之女孫，在都因喪子悲哀，患發厥。屢服補劑，以致汛愆，或疑為娠。孟英曰：脈雖弦數以滑，乃痰挾風陽而為厥也。與大劑蠲痰息風、舒郁清營之劑，漸以獲愈。</p>
<p>歙人吳永言，於十年前，讀《論語》不撤姜食之文，因日服之，雖盛夏不輟。至三年前患大溢血，雖以涼藥治瘳，而時時火升，迄今不愈。季冬就診於孟英，身不衣綿，頭面之汗蓬蓬也。且云：服芩、連則煩渴益甚，以苦能化燥也；用生地即悶滯不飢，以甘能緩中也；蔗、梨入口亦然。按其脈，沉取滑數，是從前之積熱，深伏於內。與白虎湯去草、米，加竹葉、竹茹、花粉、海䖳、荸薺、銀花、綠豆恣服，漸吐膠痰而愈。繼聞趙秋舲進士令郎子循，每啖蔗則鼻衄必至，或疑蔗為大熱之性。孟英曰：蔗甘而涼，然甘味太重，生津之力有餘，涼性甚微，蕩熱之功不足，津虛熱不甚熾者，最屬相宜，風溫證中救液之良藥，吾名之曰天生復脈湯。若濕熱痰火內盛者服之，則喻氏所謂翻受胃變從而化熱矣。凡藥皆當量人之體氣而施，豈可拘乎一定之寒熱耶？子循之體，水虛而火旺者也，蔗性不能敵，反從其氣而化熱，正如蔗經火煉則成糖，全失清涼之本氣矣。枸杞子亦然。（眉批：精透之論，由斯類推，可以知藥性之功能矣。）</p>
<p>李華甫繼室，娠三月而崩。孟英按脈弦洪而數，與大劑生地、銀花、茅根、柏葉、青蒿、白薇、黃芩、續斷、驢皮膠、藕節、胎髮灰、海螵蛸而安。奈不能安佚，越數日胎墮復崩。孟英於前方去後六味，加犀角、竹茹、元參為治。或謂胎前宜涼，產後則否，乃招專科暨蕭山竹林寺僧治之，咸用溫藥，且執暴崩宜補。服藥數劑，虛象日著，時時汗出昏暈，畏聞人聲，懶言息微，不食不眠，間有呃忒，崩仍不止，皆束手待斃矣。復邀孟英視之，曰：此執死書以治活病也。夫血因熱而崩，胎因崩而墮，豈胎墮之後，熱即化為寒乎？（妙語解頤。）參、朮、薑、桂、棕灰、五味之類，溫補酸澀，既助其熱，血益奔流，又窒其氣，津亦潛消，致現以上諸證，脈或不知，而苔黃黑燥，豈不見乎？因與犀角、石膏、元參、知母、花粉、竹瀝、麥冬、銀花、梔子、石斛、旋覆、青蒿、白薇等大劑投之，神氣漸清。旬日後，各恙始平，繼去犀角，加生地，服兩月全愈。</p>

<h1>小引</h1>
<p>余承世業，幼讀醫書，而閱歷三十年，愈覺斯道之難精。竊謂：宋元以來，名家夥矣，無不立言有所偏倚。若薛立齋、張會卿、趙養葵、李士材之派，則其尤甚者也。國朝一切著述，莫不邁越前古醫林。自喻氏崛起之後，群賢迭出，於斯為盛。然張路玉精於論溫，而勞損之陰陽不別；徐靈胎通乎古今之變，而拘守柴胡以治瘧。雖尺有所短，而瑕不掩瑜。彼柯韻伯之辨，而好為穿鑿；黃坤載、陳修園之博，而偏於溫燥。坐而言則可，起而行則礙。以吳鞠通之明，而混疫於溫，致招章虛谷之議，更不知霍亂有寒熱之分，則尤陋矣，此孟英《霍亂論》之所由述也。余讀其書，神交數載，幸一葦可杭，復蒙寄示《回春醫案》二卷。展繹之餘，益信其抱有猷有為有守之才，故能鑄古熔今，隨機應變，可以坐而言，可以起而行，不愧為一代之名家。今春來越，視樗里王姓之證，始得把臂，快慰平生。嘗奇析疑，別聆妙悟，翻恨相見太遲，致余聞道之晚也。且知尚有《仁術志》一書，乃張、趙諸君輯其近案，猶未梓行。余不敏，敢不步塵續採，以當執鞭之忻慕乎？</p>

<h1>王氏醫案續編卷四（原名《仁術志》）</h1>

<h2>杭州王士雄孟英醫案</h2>
<p>丁未春，金朗然令堂，陡吐狂血，肢冷自汗。孟英切脈弦澀，察血紫黯，乃肝鬱凝瘀也。證雖可愈，復發難瘳。予丹參、丹皮、茺蔚、旋覆、苓、梔、柏葉、鬱金、海䖳之方，覆杯果愈。然不能懲忿，逾二年復吐，竟不起。</p>
<p>張孟皋少府令堂，年逾古稀，患氣逆殿屎，煩躁不寐。孟英切脈滑實，且便秘面赤，舌絳痰多。以承氣湯下之霍然，逾年以他疾終。</p>
<p>王致青鹺尹令正，患痰喘，胡某進補腎納氣，及二陳、三子諸方，證瀕於危。顧升庵參軍，令延孟英診之，脈沉而澀，體冷自汗，宛似虛脫之證，惟二便不通，脘悶苔膩。是痰熱為補藥所遏，一身之氣機窒痹而不行也。與蔞、薤、旋、赭、杏、貝、梔、菀、兜鈴、海䖳、竹瀝等以開降，覆杯即減，再服而安。</p>
<p>王匯涵室，年逾六旬，久患痰嗽，食減形消，夜不能眠，寢汗舌絳，廣服補劑，病日以增。孟英視之曰：固虛證之當補者，想未分經辨證，而囫圇顢頇，翻與證悖，是以無功。投以熟地、蓯蓉、坎板、胡桃、百合、石英、茯苓、冬蟲夏草等藥，一劑知，旬日愈。以其左脈弦細而虛，右尺寸皆數，為陰虧氣不潛納之候，及閱前服方，果雜用耆、術以助氣，二陳、故紙、附、桂等以劫陰也，宜乎愈補而愈劇矣。</p>
<p>張箎百之室患感，連服溫散，繼邀顧聽泉診之，云有驟變，須延孟英商治。渠之不信，旬日後倏然昏厥，自寅正至辰初不蘇。病者之兄吳次歐，速孟英視之。脈伏而弦滑。與大劑犀、羚、茹、貝、知母、花粉、元參、銀花，調局方至寶丹，灌下即安。</p>
<p>趙子循患喉痹，渠叔笛樓用大劑生軍下之，而藥不能入，（病在上而用盪滌腸胃之藥，殊未合法。）孟英以錫類散吹之即開，與白虎法而瘥。</p>
<p>王雪山令媳患心悸眩暈，廣服補劑，初若甚效，繼乃日劇，時時出汗，肢冷息微，氣逆欲脫，灌以參湯，稍有把握，延逾半載，大費不貲。莊芝階舍人令延孟英診視。脈沉弦且滑，舌絳而有黃膩之苔，口苦溲熱，汛事仍行。病屬痰熱轇轕，誤補則氣機壅塞。與大劑清熱滌痰藥，吞當歸龍薈丸，服之漸以向安。（痰熱體實者，此丸頗有殊功。）仲夏即受孕，次年二月誕一子。惜其娠後停藥，去疾未盡，娩後復患悸暈不眠，氣短不飢，或作產後血虛治不效，仍請孟英視之。脈極滑數，曰：病根未刈也。與蠲痰清氣法果應。</p>
<p>許子雙令堂梁宜人，仲春之杪，偶患微感，醫與溫散，熱已漸退。孟英偶過診，右寸脈促數不調，因謂子雙曰：此風溫證，其誤表乎？恐有驟變。渠復質之前醫，以為妄論，仍用溫燥，越二日即見鼾睡，再延孟英診之，促數尤甚，曰：鼻息鼾矣，必至語言難出，仲聖豈欺我哉？風溫誤汗，往往皆然，況在高年，殊難救藥。果浹旬而逝。（眉批：此證雖經仲景指出，而人多不識，往往雜藥亂投，卒至鼾睡而死，醫家、病家兩俱茫然。孟英此案可為仲景之功臣矣。）</p>
<p>姚某年未三旬，煙癮甚大，適伊母病溫而歿，勞瘁悲哀之際，吸受溫邪，脅痛筋掣，氣逆痰多，熱壯神昏，莖縮自汗，醫皆束手。所親徐麗生囑其速孟英診之。脈見芤數，舌絳無津，有陰虛陽越、熱熾液枯之險，況初發即爾，其根蒂之不堅可知。與犀、羚、元參、知母壯水息風，蓯蓉、楝實、鼠矢、石英潛陽鎮逆，沙參、麥冬、石斛、葳蕤益氣充津，花粉、梔子、銀花、絲瓜絡蠲痰清熱。一劑知，四劑安，隨以大劑養陰而愈。（眉批：吸食鴉片之人，津液素虧，感受溫邪較平人倍重，非此標本並治之劑，必不救矣。）</p>
<p>周光遠無疾而逝，其母夫人年逾七旬，遭此慘痛，漸生咳嗽，氣逆痰咸，夜多漩溺，口苦不飢。孟英曰：根蒂虛而兼怫鬱也。與沙參、甘草、麥冬、熟地、龜板、石斛、貝母、蛤殼、小麥、大棗而安。（滋陰解鬱，絲絲入扣。）迨夏間，吸暑而患腹痛滯下，小溲熱澀，其嗽復作，脈仍虛弦，略加軟數。但於前方增滑石，（去暑。）吞香連丸（治痢。）而瘳。因平昔畏藥，既愈即停。至仲秋嗽又作，惟口不苦而能食。因於前方去沙參，加高麗參、五味、石英、牛膝，熬膏頻服而痊。（眉批：此因不兼外邪，故加五味、牛膝等藥，徑固其本。）若少兼外邪者，斷不可用。十月下旬，天氣驟冷，徒患吐瀉腹痛，肢冷音嘶，急邀孟英視之。脈微為寒邪直中，亟與大劑理中，加吳萸、橘皮、杜仲、故紙、石脂、餘糧而瘥。其夫人亦因悲鬱而患崩漏，面黃腹脹，寢食皆廢。孟英用龜板、海螵蛸、女貞、旱蓮、貝母、柏葉、青蒿、白薇、小麥、茯苓、藕肉、蓮子心而康。次年夏，其母夫人患溫邪痰嗽，脘悶汗多。孟英投石膏、竹茹、知母、花粉、旋覆、貝母、蔞仁、紫菀等藥，三十劑而愈，聞者無不嘆異。</p>
<p>胡季權令正，許子雙之女弟也。初於乙巳患乳房結核，外科雜投溫補，（此乳岩之漸也，豈有用補之理？）核漸增而疼脹日甚，馴致形消汛愆，夜熱減餐，骨痿於床，孟英診曰：郁損情懷，徒補奚益？（豈惟無益，愈增其病矣。）初以蠲痰開鬱之劑，吞當歸龍薈丸。（因誤補之後，故用此丸，否則可以不必。）痛脹遞減，熱退能餐，月事乃行，改投虎潛加減法，服半年餘而起。凡前後計用川貝母七八斤，他藥稱是。今春因哭母悲哀，陡然發厥，與甘麥大棗，加龍、牡、龜、鱉、磁、朱、金箔、龍眼而安。</p>
<p>王小谷體厚善飲，偶患氣逆，多醫咸從虛治，漸至一身盡腫，酷肖《回春錄》所載康副轉之證。因懇治於孟英。脈甚細數，舌絳無津，間有讝語。乃真陰欲匱，外候雖較輕於康，然不能收績矣。再四求疏方，與西洋參、元參、二地、二冬、知母、花粉、茹、貝、竹瀝、蔥須等藥。三劑而囊腫全消，舉家忻幸，孟英以脈象依然，堅辭不肯承手，尋果不起。（眉批：脈至細數，則陰竭陽亢，不拘何病，均忌此脈，而虛勞為尤甚。）</p>
<p>朱敦書令嬡患感，醫投溫散，服二劑遍身麻瘄，汛事適來，醫進小柴胡湯，遂狂妄莫制，乞援於孟英。脈至洪滑弦數，目赤苔黃，大渴不寐。是瘄因溫邪而發，所以起病至今，時時大汗，何必再攻其表？汛行為熱迫於營，胡反以薑、棗溫之，參、柴升之？宜其燎原而不可遏也。（眉批：溫散惟宜於傷寒，何可亂投？且既已見疹，則肺胃之熱已現於外矣，與柴胡湯有何干涉？此醫直是不通。）與大劑犀角、元參、生地、石膏、知母、花粉、銀花、竹葉、貝母、白薇以清衛涼營。服後即眠，久而未醒，或疑為昏沉也。屢為呼喚，（俗情可哂。）病者驚寤，即令家人啟篋易服，穿鞋梳髮，告別父母云：欲往花神廟歸位。（此即一呼喚之效也。）人莫能攔，舉家痛哭，急迓孟英復視。脈象依然，囑其家靜守勿哭，仍以前方加重，和以竹瀝、童溲，灌下即安。繼用養陰清熱而愈。</p>
<p>瞿穎山仲媳，許培之之妹也。患舌糜，沈悅亭知其素稟陰虧，虛火之上炎也，與清涼滋降之法，及朱黃等敷藥而不愈。乃兄延孟英往視，舌心糜腐黃厚，邊尖俱已無皮，湯飲入口，痛不可當，此服藥所不能愈者。令將錫類散糝之，果即霍然。或疑喉藥治舌，何以敏捷如斯？孟英曰：此散擅生肌蝕腐之長，不但喉舌之相近者，可以借用，苟能隅反，未可言罄，貴用者之善悟耳。且糜腐厚膩，不僅陰虛要須識此，（妙語可思。）自知其故。</p>
<p>高祿卿室，吳濂仲之妹也。孟夏分娩發熱，初疑蒸乳，數日不退，產科治之，知挾溫邪，進以清解，而大便溏泄，（此邪去之徵，識力不堅，遂為所眩。）遂改溫燥，其泄不減。另招張某視之，因謂專科誤用蔞仁所致，與參、耆、薑、朮、鹿角、肉果等藥，泄瀉愈甚，連服之，熱壯神昏，汗出不止，勢瀕於危。醞香孝廉徐夫人，病者之從母也。心慈似佛，有子十人皆已出，聞其殆，夤夜命四郎季眉，請援於孟英。按脈洪數七至，口渴苔黃，洞瀉如火，小溲不行，因謂季眉曰：病猶可治，第藥太驚人，未必敢服。季眉堅欲求方，且云在此監服。乃疏白頭翁湯，加石膏、犀角、銀花、知母、花粉、竹葉、梔、楝、桑葉與之。次日復診，脈證較減，仍用前方，而病家群譁，以為產後最忌寒涼，況洞泄數日乎？仍招張某商之，張謂：幸我屢投溫補在前，否則昨藥下咽，頃刻亡陽。（盲語。）復定耆、術之方，業已煎矣。所親張芷舟孝廉聞之，飛告於醞香處。汾伯昆季，即馳至病家，幸未入口，奪盞傾之，索孟英方，煎而督灌，且囑群季輪流守視，免致再投別藥。孟英感其情誼，快舒所長，大劑涼解，服至七帖，瀉全止，熱盡退，乃去白頭翁湯，加生地、元參、茹、貝。服半月始解黑色燥矢，而眠食漸安。第府藏之邪，雖已清滌，而從前溫補，將熱邪壅滯於膜絡之間者，復發數癰於胸乳之間。孟英令其恪守前法，復入蒲公英、絲瓜絡、橘葉、菊葉等藥。服至百劑，始告全愈，而天癸亦至。孟英曰：世俗泥於產後宜溫之謬說，況兼泄瀉，即使溫補而死，病家不怨，醫者無憾也。或具隻眼，其誰信之？此證苟非汾伯昆仲篤信於平時，而力排眾論於危難之間，余雖見到不疑，亦惡能有濟耶？余嘗曰：病不易識，尤不易患；醫不易薦，尤不易任；藥不易用，尤不易服。誠宇宙間第一難事也，而世人淺視之，可不悲哉！（眉批：方遵古法，並不驚人，特讀立齋、景岳書者見之，未免吃驚耳。不意浙省名手狃於溫補如此，真不能不歸咎於景岳、立齋諸公矣。）</p>
<p>趙秋舲進士，去秋患左半不遂。伊弟笛樓，暨高弟許芷卿茂才，主清熱蠲痰治之，未能遽效，邀孟英診之。脈甚遲緩，苔極黃膩，便秘多言。令於藥中和入竹瀝一碗，且以龍薈、滾痰二丸相間而投。（用藥固甚合法，何於脈之遲緩處未見照顧。）二丸各用斤許，證始向愈。（如此而止，殊少善後之法。）今春出房，眠食已復，而素嗜厚味，不戒肥甘。孟夏其病陡發，孟英診之，脈形滑駛如蛇，斷其不起，秋初果歿。</p>
<p>吳沄門年逾花甲，素患脘痛，以為虛寒，輒服溫補，久而益劇。孟英診曰：肝火宜清。彼不之信，延至仲夏，形已消瘦，倏然浮腫，脅背刺痛，氣逆不眠，心辣如焚，善嗔畏熱，大便時瀉，飲食下咽即吐，諸醫束手，乃懇治於孟英。脈弦軟而數。與竹茹、黃連、枇杷葉、知母、梔、楝、旋、赭等藥，而吐止，飲食雖進，各恙未已，投大劑沙參、生地、龜板、鱉甲、女貞、旱蓮、桑葉、丹皮、銀花、茅根、茹、貝、知、柏、枇杷葉、菊花等藥，出入為方。二三十劑後，周身發疥瘡而腫漸消，右耳出黏稠膿水而瀉止。此諸經之伏熱，得以宣泄也。仍以此藥令其久服，迨秋始愈，冬間能出門矣。）眉批：所見諸證俱屬痰熱，與弦數之脈相合，但軟則根柢不堅。初方乃急則治標之法，次方乃顧及根本，亦不易之次第也。）</p>
<p>比邱尼心能，體厚蹣跚，偶患眩悸，醫以為虛，久服溫補，漸至發腫不飢。仲夏延孟英視之。脈甚弦滑，舌色光絳，主清痰熱，盡撤補藥。彼不之信，仍服八味等方，至季夏再屈孟英診之。脈數七至，眠食盡廢，不可救藥矣。果及秋而茶毗。</p>
<p>金葉仙大令病，其媳刲股以進，因無效也，悲哀欲絕，遂發熱。胡某治以傷寒藥，而神迷自汗，驚惕畏冷。改換補藥，乃氣逆不進水穀矣。孟英視之，七情有傷，痰因火迫，堵塞空靈之所也。與沙參、元參、丹參、丹皮、茯苓、麥冬、連翹、竹茹、竹葉、蓮心、小麥，加以川貝母一兩投之，數劑而瘥。</p>
<p>李竹虛令郎，初秋患感，醫聞便溏而止之，乃至目赤譫妄，舌絳苔黃，溲澀善嘔，粒米不能下咽。孟英先與犀角、石膏、竹葉、竹茹、枇杷葉、茅根、知母、花粉、梔子以清之。嘔止神清，熱亦漸緩。繼以承氣湯加減，三下黑矢，黃苔始退，即能啜粥，以其右關尺遲緩有力，故知有燥矢也。續投甘涼，調理而痊。</p>
<p>朱養之令弟媳，初患目赤，服藥後，漸至滿面紅腫，壯熱神昏，醫者束手。孟英切脈洪實滑數，舌絳大渴，腹微脹。以酒洗大黃、犀角、元參、滑石、甘草、知母、花粉、銀花、黃芩、連翹、薄荷、菊花、丹皮，兩下之徑愈。</p>
<p>都城售透土長壽丹，極言其功之大，能治諸疾，而價甚廉，人皆稱之。孟英謂：勿論其所用何藥，執一方以療百病，無此治法。每以稟賦不齊，證因有別，勸人切勿輕嘗。況以綠豆湯為引，必有熱毒之品在內，不可不慎也。繼而張孟皋少府餌之患疽，廣粵亭司馬服之咽爛，孟英投多劑甘寒而愈。王雪山久患下部畏冷，吞未百丸，齒痛目赤，諸恙蜂起。孟英察脈弦滑，與多劑石膏藥，兼以當歸龍薈丸頻服。新疾既瘳，腿亦漸溫，令其常飲柿餅湯，以杜將來之恙。伊弟患腹脹而喜服溫補，久而不效，孟英曰：濕熱也，宜清化。彼不信，因服透土丹，初頗應，已而血大溢，始得悔悟。志此數則，以為世之好服奇藥者戒。</p>
<p>廣孔愚司馬之大公子，仲秋間患瘧，寒少熱多，面目甚黃，苔膩大渴，腹脹溺赤，仍能納穀，且素嗜肥甘，不能撙節，孟英按其脈滑實而數，與承氣加知、芩、半、貝、翹、連、滑石、石膏、大腹、花粉之類。二十餘劑而始愈，是膏粱挾暑濕熱之治也。</p>
<p>王瘦石稟屬陰虧，卒聞驚嚇之聲，而氣逆肢冷，自汗息微，速孟英視之。身面皆青綠之色，脈沉弦而細，乃素傷憂慮，而風陽陡動也。與牡蠣四兩，鱉甲二兩，蛤殼一兩，石英五錢，龍齒、小麥、辰砂、麥冬、茯神、貝母、竹茹為方，一劑知，二劑已，續以滋養而瘳。（眉批：凡陰虛之體，血不足以養肝，則肝陽易僭，用大劑鎮逆養陰開鬱治法，絲絲入扣，宜乎應手輒效也。）</p>
<p>陳書伯庶常令弟保和，年未冠，患失音咽痛。孟英與犀、羚、石膏、元參、豆根、牛蒡、射干等大劑清肅之藥，音開而咽糜，吹以錫類散，糜愈而疹點滿布，左目及耳後皆腫。方中加以鮮菊葉二兩。疹愈，痰嗽不已，仍主前法，服三十餘帖而痊。此證脈滑且數，口大渴，初終未曾誤藥，故能愈。其庶母同時患喉糜，而頭偏左痛，（肝風。）心悸欲嘔，壯熱煩躁，脈弦細數。孟英曰：此兼陰虧風動也。初以犀、羚、元參、菊花、丹參、梔子、桑葉、馬勃投之，外吹錫類散，咽愈熱退。續用二至、二冬、生地、石英、蓯蓉、龜板、茯苓，滋陰潛陽而瘳。（善後之法非此，則細數之脈何以能復？）又其二令妹亦患喉疹，汛事適行，四肢痠痛，略難舉動，氣塞於咽，孟英診脈弦滑。以犀、羚、旋、赭、茹、貝、兜鈴、牛蒡、射干、豆根、花粉、銀花、海䖳、竹瀝、絲瓜絡等出人為方，（此則專事清熱蠲痰而已，須合三案而細參其同異處，方有會心。）兼吹錫類散而瘥。（眉批：變證雖多，不外肺胃二經積熱，得其主腦，尚非難愈之證。）</p>
<p>吳爾純八月下旬患滯下，腹痛異常，伊外祖許仲廉，延孟英往診。形瘦，脈數而弦，口渴，音微，溺澀。乃陰分極虛，肝陽熾盛，伏暑為痢。治法不但與寒痢迥異，即與他人之伏暑成痢者，亦當分別用藥也。與白頭翁湯，加知母、花粉、銀花、丹皮、金鈴、延胡、沙參、芩、連服之。（亦治通伏暑成痢之方。）次日復視，痢減音開，而右腹疼脹拒按，為加冬瓜子、烏藥、鼠矢，三劑而消，滯下亦愈。惟薄暮火升，面赤自汗，重加介類潛陽而痊。（此方顧及陰虛。）</p>
<p>楊某患感旬日，初則便溏，醫與溫散，瀉止熱不退，晝夜靜臥，飲食不進。孟英診脈遲緩，浮取甚微，目眵，舌色光紅，口不渴，溲亦行，胸腹無所苦，語懶音低，尋即睡去。是暑濕內伏，而有燥矢在胃，機關為之不利也。先與清營通胃藥二劑。熱退舌淡，而脈證依然，加以酒洗大黃、省頭草，即下堅黑燥矢甚多，而睡減啜粥。繼以涼潤，旬日而痊。（眉批：此濕勝於熱之暑證也，以其濕勝，故不甚現熱證，最足眩人，斷為暑濕，足徵卓識。）</p>
<p>陳春湖令郎子莊，體素弱，季秋患腹痛自汗，肢冷息微，咸謂元虛欲脫。孟英診之，脈雖沉伏難尋，（痛脈多沉。）而苔色黃膩，口乾溺赤，當從證也，與連、樸、楝、梔、元胡、蠶砂、醒頭草等藥而康。次年患感，復誤死於補。又夏醞泉延孟英視錢嫗腹痛欲絕證，因見弦滑之脈，與當歸龍薈丸而安。</p>
<p>朱湘槎令媳，患小溲澀痛，醫與滲利，反發熱頭疼，不飢口渴，夜不成眠。孟英診之，脈細數，乃陰虛肝鬱，化熱生風，津液已爍，豈容再利？與白薇、梔子、金鈴、知母、花粉、紫菀、麥冬、石斛、菊花，服之即愈。（愈後仍當以滋陰善後。）其侄新泉之室，懷娠患痢，醫投溫燥止澀，腹痛甚，而遍身發黃，飲食不思。孟英視之：暑濕也。與芩、連、銀花、茅根、桑葉、梔、楝、竹葉、茵陳、冬瓜皮而愈。</p>
<p>吳醞香大令仲媳，汛愆而崩之後，脘痛發厥，自汗肢冷。孟英脈之，細而弦滑，口苦便澀。乃素體多痰，風陽內鼓，雖當崩後，病不在血。與旋、赭、羚、茹、枳、貝、薤、蔞、蛤殼為方，痛乃漸下，厥亦止。再加金鈴、延胡、蓯蓉、鼠矢，服之而愈。迨季冬因卒驚發狂，笑罵不避親疏。孟英察脈弦滑而數，與犀、羚、元參、丹皮、丹參、梔子、菖蒲、竹葉、鱉甲、竹瀝，吞當歸龍薈丸，息風陽以滌痰熱，果數劑而安。然平時喜服補藥，或有眩暈，不知為風痰內動，益疑為元氣大虛。孟英嘗諫阻之，而彼不能從。至次年季春，因傷感而狂證陡發，毀器登高更甚於昔。孟英視之，苔黑大渴，與前方加真珠、牛黃服之，苔色轉黃，弦滑之脈略減，而狂莫可制，改以石膏、硃砂、（眉批：凡藥中用硃砂者，宜另研沖服，不可同入煎劑。）鐵落、菖蒲、青黛、知母、膽星、鱉甲、金鈴、旋覆、元參、竹瀝為大劑，送礞石滾痰丸，四服而平。繼而腳氣大發，腹痛便秘，上衝於心，肢冷汗出，昏暈欲厥。與連、楝、梔、茹、小麥、百合、旋、貝、元胡、烏藥、雪羹、石英、鼠矢、黃柏、藕等藥而安。</p>
<p>徐氏婦懷妊患痢，醫投溫補，胸腹痛極，昏厥咽糜，水飲礙下。孟英診之，脈洪數，舌絳燥，亟吹錫類散，灌以犀角、元參、海䖳、茹、貝、梔、菀、知、斛、豆根、射干、銀花、楝實諸藥。胎下已朽，咽腹之疾隨愈。續用甘涼清熱存津調之。</p>
<p>許培之令祖母，年逾七旬，久患淋漏，屢發風斑。孟英持其脈弦而滑，舌絳口乾。每以犀角、生地、二至、芩、蒿、白薇、元參、龜板、海螵之類息其暴，甘露飲增損調其常。人皆疑藥過涼，孟英曰：量體裁衣，稟屬陽旺，氣血有餘，察其脈色，治當如是。病者乃云：十餘年前，偶患崩而廣服溫補，遂成此恙，始知先天陽氣雖充，亦由藥釀為病。秋杪患寒熱如瘧，善怒不眠，苦渴易飢，不能納食。孟英察脈弦數倍常，與清肺蠲痰、柔肝充液之法，漸以向安。今冬有薦吳古年診治者，詢知病原，作高年脫營論，而以血脫益氣裁方。初服三四劑，飲食驟增，舉家忻幸，已而血漏甚多，眠食欲廢，復延孟英視之，仍主前議，果得漸康。</p>
<p>王天成牙行一婦，年五十餘，初患左目赤，漸至發熱，醫投溫散，便泄而厥，進以補劑，少腹宿瘕攻痛，勢極危殆。丐孟英診之，脈甚弦軟，舌絳而渴。與蓯蓉、橘核、當歸、元胡、龜板、石英、螵蛸、茯苓、梔、楝、萸、連，數服而安。逾年以他病卒。</p>
<p>何新之令愛適湯氏，孟冬分娩，次日便瀉一次，即發熱痙厥，譫語昏狂，舉家皇皇，乃翁邀孟英審之。脈弦滑，惡露仍行，曰：此胎前伏暑乘新產血虛痰滯而發也。與大劑犀、羚、元參、竹葉、知母、花粉、梔、楝、銀花投之。遍身得赤疹，而痙止神清，乃翁隨以清肅調之而愈。（眉批：有是病則有是藥，不拘拘於產後之元虛，此明醫之所以異於庸醫也。）</p>
<p>胡秋谷令愛，年甫笄，往歲患眩暈。孟英切其脈滑，作痰治，服一二劑未愈，更醫謂虛，進以補藥頗效，渠信為實然。今冬復病，徑服補藥，半月後，眠食皆廢，聞聲驚惕，寒顫自汗，肢冷如冰，以為久虛欲脫，乞援於孟英。脈極細數，（陰已傷矣。）目赤便秘，胸下痞塞如柈，力辨其非虛證。蓋痰飲為患，乍補每若相安，具隻眼者，始不為病所欺也。投以旋、赭、茹、貝、蛤殼、花粉、桑、梔、蔞、薤、連、枳等藥，數服即安，而暈不能止，乃去赭、薤、蔞、枳，加元參、菊花、二至、三甲之類。服匝月始能起榻。（眉批：痰火為患，十人常居八九，而醫書所載皆治寒痰之法，十投而十不效。今得孟英大闡治熱痰之法，真可謂獨標精義矣。）</p>
<p>汪氏婦自孟秋患痢之後，大解溏泄未愈，已而懷娠，恐其墮也，投補不輟。延至仲冬，兩目赤障滿遮，氣逆礙眠，脘疼拒按，痰嗽不食，苦渴無溺，屈孟英診之。脈甚滑數，曰：此溫補所釀之疾也。夫秋間滯下，原屬暑濕熱為病，既失清解，逗留而為溏泄。受孕以來，業經四月，慮其墮而補益峻，將肺胃下行之令，皆挽以逆升，是以胸次堵塞而疼，喘嗽不能臥。又恐其上喘下泄而脫也，補之愈力，治節盡廢，溲閉不飢，濁氣壅至清竅，兩目之所以蒙障而瞽也。（眉批：論極透快，說盡庸醫之弊。）與沙參、蛤殼、枇杷葉、冬瓜子、海石、旋覆、蘇子、杏仁、黃連、枳實、海䖳、黃芩、梔子，重加貝母。服二劑，即知飢下榻，目能睹物矣。</p>
<p>黃履吉患痛吐，孟英已為治愈。冬仲復發，他醫藥之，已七日不進谷矣。二便秘澀，形肉遽消，再托孟英診之。與旋、赭、茹、苓、萸、連、柿蒂、楝實、延胡等藥，一劑知，三劑愈。</p>
<p>許仲筠患腹痛不飢，醫與參、朮、薑、附諸藥，疼脹日加，水飲不沾，沉沉如寐。孟英診脈弦細，苔色黃膩。投以枳、樸、萸、連、梔、楝、香附、蒺藜、延胡等藥。二劑便行脈起，苔退知飢而愈。</p>
<p>畢方來室，患痰嗽礙眠，醫與補攝，而至涕淚全無，耳閉不飢，二便澀滯，干嗽無痰，氣逆自汗。孟英切脈，右寸沉滑，左手細數而弦。乃高年陰虧，溫邪在肺，未經清化，率為補藥所錮，宜開其痹而通其胃。與蔞、薤、紫菀、兜鈴、杏、貝、冬瓜子、甘、桔、旋、茹之劑而安。逾二年以他疾終。（亦少善後之法。）</p>
<p>賴炳也令堂，年近古稀，患左半不遂，醫與再造丸暨補劑，服二旬病如故。孟英按脈弦緩而滑，顴赤苔黃，音微舌蹇，便澀無痰，曰：此痰中也，伏而未化。與犀、羚、茹、貝、菖、夏、花粉、知母、白薇、豆卷、桑枝、絲瓜絡等藥。服三劑而苔化，音漸清朗。六七劑腿知痛，痰漸吐，便亦通。既而腿痛難忍，其熱如烙，孟英令塗蔥蜜以吸其熱，痛果漸止。半月後，眠食漸安。二旬外，手能握，月餘可扶腋以行矣。</p>
<p>胡季權令郎珍官，右顴偶發紫斑一塊，時當季冬，孟英與犀角、石膏涼解之藥，二三帖後始發熱，斑漸透。犀角服二十帖始撤。素有目疾，餘熱復從目發，令以石膏藥久服，居然漸愈，且能食肌充，略無他患，聞者莫不異之。</p>
<p>趙春山司馬，向患痰嗽，自秋仲以來，屢發寒熱，吳古年從伏暑化瘧治，頗為應手，而一旬半月之後，病必復至，延至季冬，董蘭癡鹺尹囑其質於孟英。按脈滑數，舌絳苔黃，渴飲溲赤，動則喘逆，夜不成眠，痰多畏冷，自問不能起矣。孟英曰：無恐也，不過膏粱釀痰，溫補助熱，是為病根。迨夏吸暑邪，互相轇轕，秋半而發，勢頗類瘧。古年雖識其證，惜手段小耳，因與羚羊、豆豉、連翹、薄荷、知母、花粉、竹茹、貝母、旋覆、海䖳、元參、梔子、醒頭草、梨汁等藥。服五劑，熱退不畏冷，去前四味，加沙參、麥冬、葳蕤、枇杷葉。漸能安寐，各恙遞減，再加生地。服匝月而體健勝昔，登高不喘。司馬雲：余昔曾服參、茸大補之藥而陽痿，今服君方而沉疴頓起，乃知藥貴對證，不貴補也。</p>

<h1>王氏醫案續編卷五（原名《仁術志》）</h1>

<h2>杭州王士雄孟英醫案</h2>
<p>戊申元旦，陳秋槎參軍，大便驟下黑血數升，（血為熱迫而妄行。）繼即大吐鮮紅之血，而汗出神昏，肢冷搐搦，躁亂妄言。（心無血養故神昏，肝無血養故痙厥。）速孟英至，舉家跪泣救命。察其脈左手如無，右弦軟，按之數。（虛在陰分，熱在氣分。）以六十八歲之年，僉慮其脫，參湯煎就，將欲灌之。孟英急止勿服，曰：高年陰分久虧，肝血大去，而風陽陡動，殆由忿怒，兼服熱藥所致耶？其夫人云：日來頗有鬱怒，熱藥則未服也，惟冬間久服薑棗湯，且飲都中藥燒酒一瓶耳。孟英曰：是矣。以西洋參、犀角、生地、銀花、綠豆、梔子、元參、茯苓、羚羊、茅根為劑，衝入熱童溲灌之；外以燒鐵淬醋，令吸其氣；龍、牡研粉撲汗；生附子搗貼湧泉穴，引納浮陽。兩服血止，左脈漸起，又加以龜板、鱉甲。（介以潛陽法。）服三帖，神氣始清，各恙漸息，稍能啜粥，乃去犀、羚，加麥冬、天冬、女貞、旱蓮投之，眠食日安，半月後始解黑燥矢，兩旬外便溺之色皆正，與滋補藥調痊，仍充撫轅巡捕，矍鑠如常。秋間赴任紹興，己酉秋以他疾終。</p>
<p>姚令輿室，素患喘嗽而病春溫，（新舊合邪。）醫知其本元久虧，投以溫補，痙厥神昏，耳聾譫語，面青舌絳，痰喘不眠，（肺原包心而生，故肺熱必及於心。）皆束手矣。延孟英診之，脈猶弦滑，曰：證雖危險，生機未絕，遽爾輕棄，毋乃太忍。與犀角、羚羊、元參、沙參、知母、花粉、石膏，以清熱息風，救陰生液；佐蓯蓉、石英、鱉甲、金鈴、旋覆、貝母、竹瀝，以潛陽鎮逆，通絡蠲痰。三劑而平。繼去犀、羚、石膏，加生地黃。服旬日而愈。仲秋令輿病，竟誤服溫補，數日而殞，豈非命耶？</p>
<p>運糧千總馬香谷，患溺秘欲死。所親趙春山司馬，延孟英視之。脈堅體厚，口渴苔黃。投知、柏、梔、楝、犀、菀、蔞、茹之藥，送當歸龍薈丸而瘳，竟不復發。</p>
<p>謝某患嗽，臥難偏左。孟英切其脈，右寸軟滑，曰：此肺虛而痰貯於絡。以葦莖、絲瓜絡、生蛤粉、貝母、冬瓜子、茯苓、葳蕤、枇杷葉、燕窩、梨肉投之，果愈。</p>
<p>許叔超令大母患瘧，延孟英治之。脈弦滑而數，脘悶便秘，合目汗出，口渴不飢。或慮高年欲脫，孟英曰：此溫邪挾素盛之痰所化，補藥斷不可投，與知、芩、蔞、杏、翹、貝、旋、茹、連、斛、雪羹為方，服果漸效。</p>
<p>蒲艾田年逾花甲，陡患鼻衄，諸法不能止，速孟英救之。面色黑黯而有紅光，脈弦洪而芤，詢知冬間廣服助陽藥，是熱亢陰虛之證。與大劑犀角、元參、茅根、女貞、旱蓮、石斛、茯苓、澤瀉、天冬、知母，投匕而安。續予滋陰藥，填補而康。</p>
<p>許少卿室，故醫陳啟東先生之從女也。夏初患感，何新之十進清解，病不略減，因邀診於孟英。脈至弦洪豁大，左手為尤，大渴大汗，能食妄言，面赤足冷，徹夜不瞑。孟英曰：證雖屬溫，而真陰素虧，久傷思慮，心陽外越，內風鴟張，幸遇明手，未投溫散，尚可無恐。與龍、牡、犀、珠、龜板、鱉甲、貝母、竹瀝、竹葉、辰砂、小麥、元參、丹參、生地、麥冬為大劑投之；外以燒鐵淬醋，令吸其氣；蠣粉撲止其汗；搗生附子貼於湧泉穴。甫服一劑，所親薦胡某往視，大斥王議為非，而主透疹之法，真盲人。病家惑之，即煎胡藥進焉。病者神氣昏瞀，忽見世父啟東扼其喉，使藥不能下嗌，且囑云：宜服王先生藥。少卿聞之大駭，專服王藥，漸以向愈，而陰不易復，頻灌甘柔滋鎮，月餘始能起榻。季夏汛行，惟情志不怡，易生驚恐。與麥、參、熟地、石英、茯神、龍眼、甘麥大棗、三甲等藥善其後。（一定不易之法。）秋杪歸寧，微吸客邪，寒熱如瘧。孟英投以清解，已得向安。胡某聞之，復於所親處云：此證實由夏間治法不善，以致邪氣留戀，再服清涼，必死無疑。（眉批：服清解藥，致邪氣留戀，豈服滋補藥邪氣反不留戀耶？）此等人而亦自命為醫，豈非怪物。湯某復從而和之。許氏即招湯某診治，（總是病者該死，故一時有此二妖孽。）謂其陽氣傷殘，沉寒久伏，以理中湯加威靈仙、桂枝、半夏、厚朴、薑、棗等藥。（既已沉寒，焉能作寒熱，勿論其認證之誤與不誤，即理中湯亦有此等加減法耶？）病者頗疑藥太燥烈，湯復膏吞拭舌，說得天花亂墜，病家惑之。初服胃氣倍加，繼而痰嗽不飢，黃苔滿布，肌消汛斷，內熱汗多，心悸不眠，臥榻不起。病者堅卻其藥，然已進二十劑矣。再邀何新之商之，亦難措手，仍囑其求診於孟英。按脈弦細軟數，篡患懸癰，縱有神丹，不可救藥矣。</p>
<p>周鶴亭令郎，年甫五齡。痘後月餘，清涼藥尚未輟，忽發壯熱，幼科治之勢益張，肢瘈面赤，嘔吐苔黃，渴而溺清，時或昏厥，證交六日，其外祖何新之邀孟英診之。脈甚弦洪滑數，心下拒按，便秘汗多。投小陷胸，加石膏、知母、花粉、竹葉、枇杷葉、貝母、雪羹。二劑各恙皆減，溲赤便行，繼與清養而安。（眉批：涼藥未輟，而忽見如此之證，即不按脈，亦可知為新感溫邪矣。）</p>
<p>費伯元分司，患煩躁不眠，醫見其苔白也，投以溫藥，因而狂妄瘛瘲，多方不應。余薦孟英視之，左脈弦細而數，右軟滑，乃陰虛之體，心火熾，肝風動，而痰盛於中也。先以犀、羚、桑、菊息其風，元參、丹皮、蓮心、童溲清其火，茹、貝、雪羹化其痰，兩劑而安。隨與三甲、二至、磁朱潛其陽，甘麥大棗緩其急，地黃、麥冬養其陰，漸次康復。</p>
<p>何搢階令正，素患肝厥，仲夏患感。沈樾亭按溫證法治之，內風不至陡動，而大便泄瀉，（泄瀉乃濕溫應有之證，不足為異。）脈細而弦，渴飲痰多，不飢不寐，因邀孟英商之。投白頭翁湯，加三甲、石斛、茯苓、竹茹而安。隨以峻補善後而痊。</p>
<p>許氏婦患間瘧，寒少熱多，不飢大渴，善嘔無汗，脈滑而弦。孟英投白虎湯，加花粉、柴胡而愈。</p>
<p>吳醞香大令四令媳，時患腹脹減餐，牙宣腿痛，久治不效，肌肉漸消，孟英診脈，弦細而數，肝氣雖滯，而陰虛營熱，豈辛通溫運之可投耶？以烏梅、黃連、楝、芍、梔子、木瓜、首烏、鱉甲、茹、貝，服之果愈。繼與甘潤滋填，肌充胃旺，汛准脈和，積歲沉疴，宛然若失。</p>
<p>顧云蘿令正，久患腳氣，屢治屢發，馴致周身筋掣，上及於巔，齦痛指麻，腰痠目眩，口乾食少，夜不成眠，孟英察其脈芤而弦數。真陰大虧，腿雖痛，從無赤腫之形，腳氣藥豈徒無益而已。與二地、二冬、二至、知、柏、桑、菊、梔、楝、蒿、薇、龜板、鱉甲、藕等藥。服之各恙漸減，蓋因平素帶下太甚，陰液漏泄，而筋骨失其濡養也，故治病須澄源以潔流。秋間以海螵蛸粉、魚螵、黃柏、阿膠為丸，服之全愈。</p>
<p>石北涯令正，久患齦疼，漸至身面浮腫，或以為虛，或以為濕，病日以劇，氣逆不飢。孟英察脈，左洪數，右弦滑，陰分雖虛，先當清其肺胃之痰熱者。投白虎加沙參、花粉、冬瓜皮、枇杷葉、梔子、竹茹、蘆根。服之腫即消，繼佐滋陰，齦疼亦止。</p>
<p>金畹香令媳，半產後，營分不攝，淋漓數月，治之弗瘳。孟英於季夏診視，兩尺皆浮，左寸關弦。與三甲、二至、二地、蒿、薇、柏葉、螵蛸、黃柏為方，服之漸愈。仲秋診其脈，即斷受孕。渠謂：懷娠必無病矣，而不知病久初痊，正須培養，雖即受孕，涵蓄無權。果至仲冬而胎墮矣。（眉批：肝主疏泄，腎主閉藏，兩尺浮而不沉，是腎失其閉藏之職矣；左寸關弦，是肝木太過，獨行其疏泄之權矣。填補腎陰，即以涵養肝木。加黃柏之苦以堅之，螵蛸之澀以固之，用藥如法，故收效倍捷。）</p>
<p>德清蔡初泉，陡發寒熱，咽痛大渴，脘悶舌絳，孟英診脈甚數。徑投大劑犀、羚、元參、丹皮、桑、梔、銀花、花粉、翹、蒡之藥。服後遍身發赤疹，而熱退知飢矣。</p>
<p>歙人吳茂林，患右頰腫痛，頦下結核，牙關僅能呷稀糜，外科稱名不一，治若罔知。孟英投以天麻、殭蠶、羚羊、石膏、醒頭草、升麻、當歸、秦艽、花粉、黃芩等藥，（祛肝風、清痰熱之法。）漸愈。</p>
<p>吳誦青室年近五旬，天癸已絕，偶患腹脹，局醫黃某，知其體素羸也，投以腎氣湯，而寒熱漸作，改從建中法，旬日後病劇而崩，愈補愈甚，乞援於孟英。脈洪而數，渴飲苔黃，是吸受暑邪，得溫補而血下漏也。與犀角、元參、茅根、柏葉、梔、楝、知、斛、花粉、白薇等藥，數劑始安。續加生地、二至、二冬，滋養而愈。次年患病，仍為誤藥而殞。</p>
<p>阮範書明府令正，患腹痛欲厥，醫見其體甚弱也，與鎮逆通補之法，而勢日甚。孟英察脈弦數左溢，是因忿怒而肝陽勃升也。便秘不飢，口苦而渴。與雪羹、梔、楝、旋、絳、元胡、丹皮、茹、貝，下左金丸而愈。逾年以他疾歿於任所。</p>
<p>海鹽周子因工於畫，體素弱，偶患間瘧，黃某用首烏、鱉甲、薑、棗等藥，病日甚，加以參、桂，狂躁妄言，始延孟英視之。面赤舌絳，溲澀便溏，渴飲汗多，脈形細數，是暑證也。與元參、銀花、知母、芩、茹、貝、竹葉、荷杆、蓮心、西瓜衣為劑，尋愈。</p>
<p>吳薇客太史令堂，患痰嗽喘逆，便秘不眠，微熱不飢，口乾畏熱，年逾六旬，多藥勿痊。孟英切其脈右寸關弦滑而浮，左關尺細軟無神，是陰虛於下，痰實於上，微兼客熱也，攻補皆難偏任。與茹、貝、旋、斛、浮石、蘆根、冬瓜子、枇杷葉、杏仁、花粉為劑，而以熟地泡湯煎服，則濁藥輕投，清上滋下，是一舉兩全之策也。投匕果應，再服而大便行，漸次調養獲瘳。戌春患感證，比孟英自江西歸，已不能治矣。</p>
<p>謝譜香素屬陰虧，情志抑鬱，因遠行持重而患咳逆，左脅刺痛，寸步難移，杳不知飢，臥難著枕，延孟英診之。脈象弦細軟數，苔膩痰黏，便難溲少，乃腎氣不納，肝氣不舒，肺氣不清，胃氣不降。投以沙參、枇杷葉、茹、貝、旋、梔、龜板、鱉甲、絲瓜絡、冬瓜子、青鉛、白前、金鈴、藕肉，而以熟地湯煎服。數劑而平，繼漸滋填向愈。</p>
<p>葉承恩室，懷妊患感，昏譫不眠，善嘔便秘，汗出不解，脈澀口乾。乃營陰素虧，邪熱內熾。以元參、石膏、知、芩、茹、貝、銀花、枇杷葉、薇、梔、楝、斛，投數帖而愈。</p>
<p>江夢花如君，患兩目腫痛，不能略張，醫投風藥，昏痙欲厥，浼孟英診之。脈至洪滑，大渴便秘。與白虎湯，二劑霍然。</p>
<p>潘馥堂令愛患感，沈悅亭治之漸愈，惟咽阻無形，水穀礙下。孟英以竹葉石膏湯，加紫菀、白前、旋覆、枇杷葉以清肺熱，而降肺氣，果即帖然。</p>
<p>吳西瀍患瘧，寒微熱甚，旬余不愈。孟英診之，脈滑而長，疏大劑白虎湯與之。渠兄濂仲云：沈、顧二君皆主是方，屢服無效。孟英索方閱之，湯雖白虎，而石膏既少且煨，兼不去米，因謂其兄曰：湯雖同，君藥已重用，而去米加花粉、竹茹等，其力不同科矣。濂仲大悟，服之尋愈。此可以見服藥不可徒有湯頭之名也。</p>
<p>曹稼梅令愛，患眩暈脘痛，筋掣吐酸，渴飲不飢，咽中如有炙臠。朱某與溫胃藥，病日劇。孟英診脈弦滑，投茹、貝、萸、連、旋、赭、梔、楝、枳、郁、雪羹之藥，（和肝開鬱清痰。）十餘劑始愈。</p>
<p>夏氏婦懷娠患感，醫投溫散，漸至氣衝不寐，時欲痙厥，脘悶呻吟，渴難受飲。所親張養之延孟英診之，脈滑數而溢。與小陷胸，加旋、薤、石膏、知、梔、茹、杏、腹皮、蘇子、竹瀝、海䖳大劑，投旬日而愈。設用輕淺之方，焉克有濟耶？</p>
<p>沈悅亭令正齒衄，五日不止，去血已多，諸方不應，孟英脈之弦滑上溢。投犀角、澤蘭、元參、旋覆、生地、花粉、茯苓、牛膝、桃仁、澤瀉而安。既而詢其經事，本月果已愆期，蓋即逆行之候也。繼用滋陰清熱，乃漸康復。</p>
<p>王雪山於上年誤餌透土丹之時，孟英診治向愈，即囑其常飲柿餅湯，以杜關格於將來。迨今四月間，形體日瘦，張某進以導濕疏風補氣之藥。孟英偶見之，力勸其溫補莫投，且以凡物遇火則乾癟，得滋則肥潤為譬。雪山深韙之，奈為張某輩朝夕虛言所眩，仍服補劑。延至秋間，始延孟英視之。脅痛畏風，周身絡脹，時欲敲撲，食少便難，日晡微有寒熱，脈來弦澀而數，右寸關弦軟以滑，是升降之令久窒，痰邪襲於隧絡，關格之勢將成。（將斷語與脈證合參，便知審病之法。）再四求治，與沙參、茹、貝、薇、蒿、旋、斛、梔、楝、蘭草、枇杷葉、絲瓜絡、冬瓜子、蘆根、茅根等，出入為方。服之寒熱既蠲，脅痛亦減。雪山大喜，復請診之。脈頗轉和，第肝陰久為謀慮所傷，最怕情志不怡，必生枝節，小愈奚足為恃？囑其另邀明眼圖之。渠即招沈辛甫、顧聽泉、吳卯君、任心柏諸君商之，方案皆與孟英相合。雪山轉懇孟英設法，且云：讀君之案，洞徹病情，僥倖成全，足感再生之德，即使無效，我亦瞑目而亡。孟英感其言，殫竭心力，以圖久延，無如嗔怒索思，諸多棖觸，頻有轉關，屢生枝節，大便必極槌背尻而始解，上則吐痰惡谷，果成關格之候。肩至伊子旋杭，惑於讒言，翻以竹茹、竹瀝為藥性太涼，而以不用溫補為謗，求乩方，徑以麻黃、細辛、鹿角等藥投之，遂至舌色乾紫，津涸而亡。不知者未免以成敗論，所謂道高謗多。然柿餅湯投於年餘未病之前，其卓見已不可及，而見危受命，勉力圖維，腸熱心孤，更可欽也。特採其案，以為世之有識者鑑焉。（眉批：此證即葉氏所謂下竭上結之候也，葉氏雖有方案，亦未知果能取效否？不知古名家遇此當作何治法？方書中迄無論及者。孟英此案，已是開人不敢開之口，至其悉當病情與否，則殊未敢輕論也。）</p>
<p>徐夢香年近六旬，患手顫不能握管，孟英以通補息風藥，吞指迷茯苓丸而安。仲秋類中，遺溺痰升，昏瞀妄言，汗多面赤，急延孟英視之。脈浮弦洪滑，蓋吸受熱邪，而連日適服參湯也。與羚羊角、石菖蒲、連翹、梔子、桑葉、菊花、楝、斛、知母、花粉、竹瀝、銀花、蒿、薇等藥。一劑知，二劑神清，乃去羚、菖，加茹、貝、滑石投之。下利赤白如膿垢者數日，始知飢納穀，漸以調理而愈。匝月即能作畫，季秋仍幕遊江右。</p>
<p>張月波令弟，陡患腹痛，適飽啖羊肉麵條之後，醫皆以為食滯，連進消導，痛甚而渴，得飲大吐，二便不行。又疑寒結，疊投燥熱，其病益加，呻吟欲絕，已四日矣。孟英視之，脈弦數，苔干微黃，按腹不堅，以海䖳一斤，鳧茈一斤，煎湯頻灌，果不吐，令將余湯煎梔、連、楝、斛、茹、芩、枇杷葉、知母、延胡、柿蒂、旋覆為劑，吞龍薈丸。投匕而溲行痛減，次日更衣而愈。</p>
<p>黃鼎如令堂，年七十七歲，季秋患間瘧，每發加劇，寒甚微而熱必昏痙，舌不能伸，三發之後，人皆危之。孟英視之，顴赤目垂，鼻冷額頦微汗，苔色黃膩，舌根純紅，口渴痰多，不思粥飲，脈至弦數，重按少神。證屬伏暑挾痰，而陰虛陽越，先與蓯蓉、鱉甲、楝、斛、茹、貝、燕窩、藕，兩劑而顴紅頦汗皆蠲。繼佐參、瀝、薤、麥、枇杷葉、旋覆，去竹茹、蓯蓉。投三帖而昏痙不作，又去薤、楝，加生地、花粉。服五日而瘧休，飲食漸加，居然告愈。方瘧勢披猖之際，鼎如、上水兩昆仲，頗以為憂，延諸名家議治。有主人參白虎湯者，有用犀角地黃湯者，有欲大劑溫補者，有執小柴胡加減者，賴孟英力排眾議，病家始有把握。與孟英意見相合者，何君新之也，慫恿參贊，與有功焉。</p>
<p>許芷卿患外寒，須覆重衾，內熱，飲不解渴，仍能安穀，便溺皆行。或以為虛寒，或以為瘍患，投以溫散，即顯咽疼。孟英脈之，沉弦而緩，作痰熱內伏。投以犀、羚、元參、丹皮、白薇、黑梔、茹、貝、旋、蒡之劑，兩帖而寒渴咽疼皆減，乃去犀、羚、牛蒡，加二至、知母、花粉、銀花，解醬矢而瘳。</p>
<p>韓組林年近古稀，孟冬患肢厥頭腫，讝語遺溺。包某作虛風類，進以溫補，勢益劇。孟英脈之，脈弦數，右滑溢，乃痰熱內阻，風溫外侵。與羚、貝、茹、梔、翹、薇、桑、菊、丹皮、花粉、旋覆，以蘆菔湯煎服而瘳。</p>
<p>錢聞遠仲郎患感，湯某進桂、樸、薑、柴等藥，而痰血頻咯，神瞀耳聾，讝語便溏，不飢大渴，苔黑溲少，徹夜無眠。範應樞、顧聽泉疊進輕清，黑苔漸退，舌絳無津，外證依然，不能措手。孟英診之，脈皆細數，乃真陰素虧，營液受爍，不必以便溏不食，而畏滋膩也。授以西洋參、生地、二至、二冬、龜板、燕窩、茹、貝、銀花、藕汁、梨汁、葳蕤、百合等藥。二劑咯血漸止，痰出甚多，漸進稀糜，夜能稍寐。五劑熱退瀉止，渴始減，脈漸和，旬日後，解燥矢而痊。</p>
<p>朱湘槎令郎留耕，忽於飽食後大吐而厥，冷汗息微，急延孟英視之。厥甫回而腹痛異常，口極苦渴，二便不行，脈來弦緩，乃痰滯而熱伏厥陰，肝氣無從疏泄也。投雪羹、梔、楝、元胡、蓯蓉、萸、連、橘核、旋覆、竹茹、菔汁之藥。一劑痛減，再服便行而愈。</p>
<p>韓嫗年近花甲，患三瘧於仲冬。朱某主溫散，並以薑棗湯恣飲，旬日後粒米不沾，瘧至大吐。黃某以熱補進，勢益甚。又浹旬，孟英視之，胸中痞結如柈，苔黃苦渴，溲如熱湯，脈弦滑右甚，帶下如注，投小陷胸合溫膽，加薤白。服後大吐膠痰，十餘日胸痞始消，改授甘涼，瘧亦漸罷。遞參滋陰，遂以霍然。</p>
<p>魏西林令侄女，娩後惡露延至兩月，繼聞乃翁條珊主政及兩弟卒於京，悲哀不釋，而為干嗽吐血，頭痛偏左，不飢不食，不眠不便，渴飲而溲，必間日一行，久治不效。孟英切脈，虛弦豁大。與甘麥大棗，加熟地、首烏、鱉甲、二至、菊花、旋覆、芍藥、貝母、麻仁、青鹽等藥，服後脈漸斂，血亦止。七八劑頭疼始息，旬日後便行安穀。逾年接柩悲慟，血復溢，誤投溫補而亡。</p>
<p>韓石甫大令令正，患感發疹。沈悅亭治以清解，熱漸退而神氣不爽，舌黑難伸，太息便秘，胸次拒按，脈弦緩而滑。投涼隔散，加知母、花粉、枳實、竹茹。一帖而苔即退黃，再服而黑矢下，神氣清，即以向愈。</p>
<p>陳赤堂令正患感，面赤不眠，煩躁譫語，口甘渴膩，溲澀而疼，顧聽泉多劑清解未應。孟英切其脈，左弦洪而數，右滑而溢，胸次痞結，大解未行，肝陽上浮，肺氣不降，痰熱阻痹，邪乃逗留。與小陷胸，合溫膽、雪羹，加旋、薤投之。胸結漸開，乃去半、薤，而送當歸龍薈丸。譫語止，且能眠，參以通幽湯下其黑矢。三次後始進養陰和胃而痊。</p>
<p>翁嘉順令正，娩後陰戶墜下一物，（氣虛不固。）形色如柿，多方療之不收，第三日始求治於孟英。令以澤蘭葉二兩，煎濃湯熏而溫洗，隨以海螵蛸、五倍子等分，研細粉糝之，果即收上。繼而惡露不行，白帶時下，乳汁全無，兩腿作痛，又求方以通之。（前方只治其標，未治其本，故復發此患。）孟英曰：此血虛也，乳與惡露雖無，其腹必不脹，前證亦屬大虛，合而論之，毋庸診視。因與黃耆、當歸、甘草、生地、杜仲、大棗、糯米、脂麻、藕，濃煎羊肉湯煮藥。服後乳汁漸充，久服乃健。</p>
<p>屠某患夢遺，久治不愈，耳出膿水，目淚難開，肩脅胸背痠疼，微有寒熱，食減神疲。孟英察脈左弦數，右虛軟。以三才封髓，加龍、牡、黃耆、桑、丹、梔、菊，旬日而瘳。</p>
<p>李華甫令正患頭震，孟英脈之弦滑，乃肝經鬱怒火升也。投當歸龍薈丸而瘥。然不能懲忿，其病屢發之後，更兼溺秘腹脹，喘汗欲絕，亟邀孟英視之。脈甚弦澀，口苦苔黃，舌色紫黯，汛雖不愆，內有瘀滯也。以雪羹加金鈴、旋覆、梔子、滑石、桃仁、茺蔚、車前子、木通，仍吞龍薈丸，外以田蠃、大蒜、車前草搗貼臍下。服後果先下黑血，溲即隨通，繼而更衣，糞色亦黑，遂愈。</p>

<h1>王氏醫案續編卷六（原名《仁術志》）</h1>

<h2>杭州王士雄孟英醫案</h2>
<p>己酉春，胡孟紳山長患疑，坐臥不安，如畏人捕，自知為痰，餌白金丸吐之，汗出頭面，神躁妄聞。（撩動其猖狂之勢。）孟英切其脈，弦滑洪數，不為指撓。投石膏、竹茹、枳實、黃連、旋覆、花粉、膽星、石菖蒲，加雪羹、竹瀝、童溲，吞礞石滾痰丸。下其痰火，連得大解，夜分較安，惟不能斷酒，為加綠豆、銀花、枳椇子，吞當歸龍薈丸。旬餘脈證漸平，神氣亦靜，尚多疑懼。改授犀角、元參、丹皮、竹葉、竹茹、貝母、百合、丹參、蓮心、豬膽汁炒棗仁、鹽水炒黃連，吞枕中丹，以清包絡肝膽之有餘而調神志。又旬日，各恙皆蠲，即能拈韻，繼與十味溫膽法善其後。乃弟季權，同時患黑斑苔穢，脈渾氣粗麵垢，孟英即以涼膈散投之。大解得行，脘亦不悶，斑皆透綻，脈顯滑數而洪，遂與大劑涼潤清肅之藥。直俟其旬日外，大解不瀉，藥始緩授。復又沉臥不醒，人皆疑之。孟英曰：痰熱尚熾也。仍投大劑數帖，果頻吐膠痰累日，而眠食漸安。是役也，當兩病披猖之際，舉家皇皇，他醫或以前證為神不守舍，議投溫補，後證則以為必敗，聞者無不危之，賴季權之夫人，獨具卓識，任賢不貳，孟英始無掣肘之慮，而鹹得收功也。</p>
<p>屠敬思體氣素弱，去冬因子殤於痘，醫與舒郁填陰，病日以劇，僉云不治，乃延孟英診之。兩關甚數，寸上洪滑，嗽逆痰多，臥不著枕，溺赤便難，極其畏冷，是冬溫未罷，誤補熱鬱之候。世間之死於勞損者，何嘗盡是虛證，每為補藥僨事。授以廓清肺胃之藥，周身發疥，各恙漸安。蘊伏既清，始投滋養善後，不僅病愈，次年春更得一子。</p>
<p>許芷卿亦精於醫，偶患外感，即服清散之藥，而證不減，或疑其非春溫也，邀孟英質之。診脈遲澀，二便皆行，筋掣不眠，畏寒能食，喉舌皆赤，（血熱之徵。）與大劑清營藥，數服而瘥。迨夏兩腿患疥，外科治之，久而不愈。孟英謂：其平昔善飲，蘊熱深沉，瘍科藥亟宜概屏。令以雪羹湯送當歸龍薈丸，果得漸瘳。秋間其太夫人患感，連服溫散，轉為肢厥便秘，面赤冷汗，脈來一息一歇，（肢厥而便秘面赤，可決其非脫證矣。）舉家惶惶，慮即脫變。孟英視其苔黃膩不渴，按其胸悶而不舒，且聞其嗅諸食物，無不極臭。斷為暑濕內伏，挾痰阻肺，肺主一身之氣，氣壅不行，法宜開降，是虛脫之反面也。設投補藥，則內閉而外脫，昧者猶以為投補遲疑而不及救，（世之愈補愈虛，以至於脫者，大半由此。）孰知真實類虛，不必以老年懷成見，總須以對證為良藥。果一劑而脈至不歇，轉為弦滑。再服汗止肢和，便行進粥，數帖而痊。方用紫菀、白前、竹茹、枳實、旋、貝、杏、蔞、兜鈴、枇杷葉也。</p>
<p>沈辛甫善軒岐之學，其令正體素弱而勤於操作，年逾四秩，汛事過多，兼以便溏，冷汗氣逆，參、耆屢進，病日以危。孟英診曰：心脾之脈尚有根，猶可望也。與龍骨、牡蠣、龜板、鱉甲、海螵蛸、石英、石脂、餘糧、熟地、茯苓為方。一劑轉機，漸以向愈。（眉批：亦下虛而誤補其上者，應補之證，補不如法，尚且致害，況不應補而補者乎？）</p>
<p>陳舜廷患瘧久不愈，其體素虧，醫皆束手。孟英視之，舌絳無津，微寒溲赤，原屬春溫化瘧，體與病皆不是小柴胡之例，過投溫散，熱熾陰傷。與竹葉石膏湯，撤熱存津而愈。</p>
<p>謝再華室素患肝厥，孟英於癸卯歲授藥一劑，六載安然。今夏偶患齒衄，繼漸臭腐，頭疼汛阻，徹夜無眠。蓋秦某作格陽證治，進以腎氣湯數服而致劇也。孟英與大劑神犀湯，加知、柏，旬日而瘳。</p>
<p>胡韻梅年已逾冠，因夜坐感寒，患頭疼惡冷，嘔吐肢冷。孟英視之，曰：舌絳脈數，斑疹之候，斷非受寒也。幸胡平昔欽信，遂與清透藥服之，次日點形圓綻，細詢果未出痘，但火勢甚熾，恐其惑於俗論，囑請專科王蔚文會診。所見略同，一路清涼，自起發至落痂，毫不雜一味溫升攻托之藥，而滿身密布形色粗紫，漿濃痂黑，便秘不飢，渴無一息之停。苟不如是用藥，其能免乎？此建中《瑣言》之所以有功於世也。（眉批：此大實之證，故治宜如此。予見一小兒出痘，自始至終，參、茸不輟於口，稍停其藥，即懨然不振，正與此案相對待。可見用寒用熱，皆宜隨證變通，未可執一而論也。）</p>
<p>朱養心後人名大鏞者，新婚後神呆目瞪，言語失倫。或疑其體弱神怯，與鎮補安神諸藥，馴致善飢善怒，罵詈如狂。其族兄已生邀孟英診之，右脈洪滑。與犀角、石膏、菖蒲、膽星、竹瀝、知母，吞礞石滾痰丸而愈。其大父患四肢冷顫，常服溫補，延久不痊。孟英切其脈弦而緩，曰：非虛也。與通絡方，吞指迷茯苓丸而瘥。</p>
<p>許安卿患咽痛，瘍科黃秀元連與升散之藥，延及齦腫，牙關不開，舌不出齒，自汗脈澀，絕谷瀕危。其族兄辛泉，逆孟英往勘。即洗去滿頸敷藥，而以菊葉搗塗，吹以錫類散，煎犀、羚、元參、射干、馬勃、梔、貝、山豆根等藥灌之，數日而痊。（眉批：宜降而反升之，宜其病之增劇也。）</p>
<p>莊芝階舍人三令媳患搐搦，間日而作。孟英診脈弦數，泛泛欲嘔，口苦不飢，凜寒頭痛，汛事愆期，溲熱如火，乃厥陰暑瘧也。投以大劑犀、羚、元參、梔、菊、木通、知、楝、花粉、銀花之藥，數日而愈。</p>
<p>仲夏淫雨匝月，氾濫為災，季夏酷暑如焚，人多熱病。有沈小園者，患病于越。醫者但知濕甚，而不知化熱，投以平胃散數帖，壯熱昏狂，證極危殆，返杭日，渠居停吳仲莊，浼孟英視之。脈滑實而數，大渴溲赤，稀水旁流。與石膏、大黃數下之而愈。仲莊欲施藥濟人，托孟英定一善法。孟英曰：余不敢師心自用，考古惟葉天士甘露消毒丹、神犀丹二方，為濕溫、暑疫最妥之藥，一治氣分，一治營分，規模已具，即有兼證，尚可通融，司天在泉，不必拘泥。今歲奇荒，明年恐有奇疫，但「甘露」二字，人必疑為大寒之藥；「消毒」二字，世人或誤作外證之方，因易其名曰普濟解疫丹，吳君與諸好善之家，依方合送，救活不知若干人也。</p>
<p>附：　普濟解疫丹雍正癸丑葉天士先生定）</p>
<p>飛滑石（十五兩）　綿茵陳（十一兩）　淡黃芩（十兩）　石菖蒲（六兩）　川貝母（五兩）　木通（五兩）　藿香　射干　連翹　薄荷　白豆蔻（各四兩）</p>
<p>上藥曬燥，生研細末。（見火則藥盡熱。）每服三錢，開水調服，日二次。或以神麯糊丸，如彈子大，開水化服亦可。</p>
<p>孟英自注云：此治濕溫時疫之主方也。按「六元正紀」五運分步，每年春分後十三日交二運徵火旺，天乃漸溫；芒種後十日交三運宮土旺，地乃漸濕。溫濕蒸騰，更加烈日之暑，爍石流金，人在氣交之中，口鼻吸受其氣，留而不去，乃成溫熱暑疫之病，則為發熱倦怠，胸悶腹脹，肢痠咽腫，斑疹身黃，頤腫口渴，溺赤便秘，吐瀉瘧痢，淋濁瘡瘍等證，但看病人舌苔淡白，或厚膩，或干黃者，是暑濕熱疫之邪尚在氣分，悉以此丹治之立效。而薄滋味，（家慈每於夏季茹素，且云：汝輩為醫者當知之。吾見疫癘流行之歲，無論貧富，無可避之，總由不知堅壁清野之故耳。試看茹素者獨可不染，豈非胃中清虛邪不能留乎旨哉？斯言特謹識之。）遠酒色，尤為闢疫之仙方，智者識之。醫家臨證能准此化裁，自可十全為上。（上參喻嘉言、張石頑、葉天士、沈堯封諸家。）</p>
<p><u>附：神犀丹</u></p>
<p>犀角尖（磨汁）　石菖蒲　黃芩（各六兩）　直生地（冷水洗淨，浸透，搗絞汁）　銀花（各一斤，如有鮮者，搗汁用尤良）　糞清　連翹（各十兩）　板藍根（九兩，無則以飛淨青黛代之）　香豉（八兩）　元參（七兩）　花粉　紫草（各四兩）</p>
<p>各藥生曬，（切忌火炒。）研細，以犀角、地黃汁、糞清和搗為丸，（切勿加蜜。如難丸，可將香豉煮爛。）</p>
<p>每重三錢，涼開水化服，小兒用半丸。如無糞清，可加人中黃四兩研入。</p>
<p>孟英自注云：溫熱、暑疫諸病，邪不即解，耗液傷營，逆傳內陷，痙厥昏狂，譫語發斑等證，但看病人舌色干光，或紫絳，或圓硬，或黑苔，皆以此丹救之。若初病即覺神情昏躁，而舌赤口乾者，是溫暑直入營分。酷熱之時，陰虛之體，及新產婦人，患此最多，急須用此，多可挽回，切勿拘泥日數，誤投別藥以僨事也，兼治痘瘄毒重，夾帶紫斑危證，暨痘瘄後，餘毒內熾，口糜咽腐，目赤神煩諸證。（上本葉氏參治驗。）</p>
<p>姚祿皆在金陵，適遇大水，繼而回杭，途次酷熱患感。顧某診為濕邪，與桂枝、葛根藥三帖，病乃劇。趙笛樓知其誤治，連用清解，因見藍斑，不肯承手。迓孟英視之，脈細數而體瘦，平昔陰虧，熱邪藉風藥而披猖，營液得溫燥而乾涸，斑色既紺，危險萬分。勉投大劑石膏、知母、白薇、梔子、青蒿、丹皮、竹葉、竹瀝、童溲之藥，調以神犀丹。三服大解下如膠漆，斑色漸退，而昏狂遺溺，大渴不已，仍與前方，調以紫雪，數劑熱退神清，而言出無倫，猶如夢囈，或慮其成癲，孟英曰：痰留包絡也。與犀角、菖蒲、元參、鱉甲、花粉、竹茹、黃連、生地、木通、甘草為方，調以真珠、牛黃，始得漸安。改授存陰，調理而愈。</p>
<p>陳蘊泉陡患昏譫，夤夜乞診於孟英。脈甚滑數，苔色膩黃，乃平素多痰，兼吸暑熱。與清解藥一劑，化而為瘧，脈亦較平。或謂其體弱，不宜涼藥，須用人參。渠家惶惑，孟英堅持以為不可。蓋暑脈頗類乎虛，而痰阻於肺，呼吸不調，又與氣虛短促者相似。平昔雖虛，有病必先去病，況熱能傷氣，清暑熱即所以顧元氣也。（眉批：暑證人多不識此二層，昔人雖曾論及，而無此明晰。）何新之亦贊是議。遂連投白虎加減而愈。次年春因喪妾悲悼，復感溫邪，失於肅清，病日以甚，迨孟英自豫章歸診，已不救藥矣。</p>
<p>高若舟庶母患脫肛，孟英脈之弦而滑，溲澀苔黃。雖屬高年，非虛證也。清其濕熱而痊。</p>
<p>謝再華請孟英治乍浦人滯下證，晝夜百餘行，不飢不渴，而欲嘔，腹痛上及於心胸，切其脈頗平和，是寒濕也，與時行暑濕痢大相徑庭。投薑、桂、萸、樸之劑，數服霍然。</p>
<p>趙子善患瘧，畏冷不飢。孟英診之，脈滑數，苔黃溲赤，脘悶善嘔。投竹葉石膏湯加減，以清伏暑而痊。</p>
<p>王一峰次郎患瘧，多服薑、棗溫散之藥，因致壯熱耳聾，譫語殿屎，不寐昏狂，見人慾咬。顧聽泉從伏暑治亦不效，延至初冬，吳愛棠囑其求診於孟英。按脈皆滑，即以顧疏犀角等藥內，加菖蒲、膽星、竹瀝、珍珠、牛黃為劑，吞白金丸。（大驅風痰，極為合法。）一服即減，旬日霍然。繼其令堂發熱善嘔，頻吐黏沫，頭疼如劈，口苦耳聾，神識昏瞀，脈弦而數。乃伏暑挾內風之鴟張。與犀角、元參、竹茹、花粉、知、翹、苓、斛、梔、菊、雪羹等藥，七日而瘳。</p>
<p>王子能參軍令正，久患吐血，醫不能愈，延孟英視之。脈弦滑而搏指，右手較甚，渴喜冷飲，米穀礙於下咽，小溲如沸，夜不成眠，久服滋陰，毫無寸效。孟英以葦莖湯合雪羹，加石膏、知母、花粉、枇把葉、竹茹、旋覆、滑石、梨汁，大劑投三十劑而痊。繼而參軍旋省，患久積憂勞，真陰欲匱，竟難救藥，尋果仙遊。</p>
<p>余朗齋令堂，秋間患伏暑，孟英已為治愈。失於調理，復患氣衝自汗，肢冷少餐，攻補不投，仍邀孟英治之。與填補衝任，清滌伏痰法，合甘麥大棗以補血而愈。</p>
<p>高瑞生令弟，瘧久不痊，形消不食，醫謂虛也，投補藥而更增自汗。孟英診之，脈弦滑，脘下聚氣。投小陷胸，加竹茹、旋、枳，以開痰結，漸能納穀。繼以清養，病去肌充。</p>
<p>張箎伯紀綱李貴，患感數日，忽然昏厥，比沿途追求孟英往視，業已薄暮。主人謂：自朝至此，一息奄奄，恐不及灌藥矣，實不便屈診。孟英曰：余既來，且視之。見其面色灰黯，戴眼口開，按其脈尚不絕。與菖蒲、膽星、竹茹、旋覆等為劑，和入童溺、調以牛黃至寶丹灌之，覆杯而起。</p>
<p>吳醞香大令宰金溪，自春仲感冒而起，迨夏徂秋，痰多氣逆，肌肉消瘦。延至初冬，諸證蜂起，耳鳴腰痛，臥即火升，夢必干戈，凜寒善怒。多醫咸主補虛，迄無小效，臥理南陽，已將半載。群公子計無所施，飛函至家，囑大公子汾伯，副車叩求孟英來署，已冬仲之杪日矣。診脈弦細，而左寸與右尺甚數，右寸關急搏不調，且病者頸垂不仰，氣促難言，舌黯無苔，面黛不渴。孟英曰：病雖起於勞傷挾感，而延已經年，然溯其所自，平昔善飲，三十年來期在必醉，非僅外來之客邪，失於清解，殆由內伏之積熱，久錮深沉，溫補雜投，互相煽動，營津受爍，肉削痰多，升降愆常，火浮足冷，病機錯雜，求愈殊難。既承千里相招，姑且按經設法。以石膏、知母、花粉、黃芩等清肺滌痰，青蒿、鱉甲、梔子、金鈴等柔肝泄熱，元參、女貞、天冬、黃柏等壯水制火，竹茹、旋覆、杷葉、橘紅等宣中降氣，出入為方，間佐龍薈丸，直瀉膽經之酒毒，紫雪丹搜逐隧絡之留邪。服三劑而舌布黃苔，蘊熱漸泄。服六劑而嗽減知飢，渴喜熱飲，伏痰漸化。季冬八日，即能出堂訊案。十劑後凜寒始罷，足亦漸溫，肺氣已得下降。望日出署行香，繼而兵火之夢漸清，夜亦能眠，迎春東郊，審結積案，亦不覺其勞矣。方中參以西洋參、生地、麥冬充其液，銀花、綠豆、雪羹化其積。至庚戌歲朝，各處賀年，午後護日，極其裕如，且肌肉漸豐，面黑亦退，藥之對病，如是之神。調養至開篆時，起居如舊，各恙皆瘥，而孟英將赴宜黃楊明府之招，醞香為錄其逐日方案，跋而蚨之，茲特採其大略如此。（眉批：醞香之證，予於五月間曾為一視，知其感受溫邪，投以清解。三服後頗覺輕減，又以赴飲而病復如故，然步履尚無恙也。後乃惑於溫補之說，熟地、鹿膠等膩滯之藥，恣服不輟，比孟英至而其勢已棘，雖逐漸清解，大勢向愈，然病久元虛，邪去而正亦隨之，此所以終於不起也。）</p>
<p>定州楊素園明府宰宜黃，吏治有聲，精於醫學。其夫人多病，自治不痊。毗陵吳子和，囑其函懇醞香，屈孟英診視。而孟英因母老，急欲旋里，堅辭不往，即據來信所述病狀，擬方立案云：細閱病原，證延二十餘年，始因啖杏，生冷傷乎胃陽，肝木乘虛，遂患脅疼攣掣，身軀素厚，濕盛為痰，溫藥相投，是其效也。馴致積溫成熱，反助風陽，消爍胃津，漸形瘦削。而痰飲者，本水穀之悍氣，緣肝升太過，胃降無權，另闢窠囊，據為山險。初則氣滯以停飲，繼則飲蟠而氣阻，氣既阻痹，血亦愆其行度，積以為瘀。前此神術丸、控涎丹之滌飲，丹參飲、桃核承氣之逐血，皆為傑構，已無遁情。迨延久元虛，即其氣滯而實者，亦將轉為散漫而無把握矣。是以氣升火浮，顴紅面腫，氣降火息，黃瘦日增，苟情志不怡，病必陡發，以肝為剛臟，在志為怒，血不濡養，性愈侜張。胃土屬陽，宜通宜降，通則不痛，六腑以通為用，更衣得暢，體覺寬舒，是其徵也。體已虛，病似實，虛則虛於胃之液，實則實於肝之陽。中虛原欲納食，而肝逆蛔擾欲嘔，吐出之水已見黑色，似屬胃底之濁陰，風鼓波瀾，翻空向上，勢難再攻。承示脈至兩關中取似形鼓指，重按杳然。詎為細故，際此春令，正鳶飛魚躍之時，仰屋圖維，參徹土綢繆之議，是否有當，仰就斤繩。</p>
<p>沙參（八錢）　鮮竹茹（四錢）　川椒紅（一分）　烏梅肉炭（六分）　茯苓（三錢）　旋覆（三錢）　金鈴肉（二錢）　柿蒂（十個）　仙半夏（一錢）　淡肉蓯蓉（一錢五分）　吳萸湯炒黃連（四分）　冬蟲夏草（一錢五分）</p>
<p>另用炙龜板、藕各四兩，漂淡陳海䖳二兩，鳧茈一兩，赭石四錢，先煮清湯，代水煎藥。（正月十四日。）</p>
<p>上擬方案，來差星夜齎回，於十六日到宜。素園讀案狂喜，以為洞見臟腑，必欲孟英一診，以冀霍然。遂夤夜備輿，專丁持函，求孟英暫緩歸期。醞香篤於寅誼，再四勸駕，並囑四令郎季眉偕行。孟英迫於情不可卻，二十二日抵宜署。初診案云：證逾二十年，右脅聚氣，有升無降，飲阻不宣，嘔逆減餐亦將半載，二便非攻不暢，容色改換不常，吐苦吞酸，苔黃舌絳，渴喜冷飲，畏食甘甜，甘能緩中，冷堪沃熱，病機於此逗露，根深難即蠲除，標實本虛，求痊匪易。據述脈亦屢遷，似無定象，夫既流善幻，顯屬於痰，茲按脈左緩滑，右軟遲，兩尺有根，不甚弦澀，是汛愆因乎氣阻，尚非陰血之枯。春令肝木乘權，胃土久受戕克，病已入絡，法貴緩通，通則不痛，腑以通為補，法雖時變，不能捨通字以圖功，布鼓雷門，諸希教正。</p>
<p>沙參（八錢）　鮮竹茹（四錢）　青黛（五分）　旋覆（三錢）　酒炒黃連（六分）　白前（一錢）　生白蒺（三錢）　紫菀（一錢）　海石（五錢）　川楝肉（三錢）　川貝（一兩）　黑梔（三錢）</p>
<p>另以生蛤粉、生冬瓜子、蘆根、蘆菔各一兩，絲瓜絡五錢，漂䖳二兩，柿蒂十個，先煮湯，代水煎藥，蔥須二分（後下）。</p>
<p>再診：左脈如昨兼弦，右寸亦轉緩滑，中脘氣漸下降，二便欲解不行，蓋升降愆常，樞機窒澀，由乎風陽浮動，治節橫斜，肺既不主肅清，一身之氣皆滯也。輕可去實，先廓上游。</p>
<p>前方去海石，加栝蔞二錢，枳實一錢。</p>
<p>三診：脈來較靜，小溲漸行，雖未更衣，已能安穀，濁得下降，導以清通。</p>
<p>前方去貝、楝，加歸尾錢半，桃仁十粒，送服導水丸十粒。</p>
<p>四診：腿涼便滯，氣少下趨，顴面時紅，火炎上僭，兩脅較熱，絡聚痰瘀。疊授清宣，更衣色黑，噫氣漸罷，酸水不嘔，納穀頗增，脈稍和緩，法仍緩導，冀刈根株。</p>
<p>前方去枳實、歸尾，減導水丸五粒。</p>
<p>五診：各恙皆減，眠食漸安，火猶易升，頭疼面赤，頰痠結核，脅熱未蠲，脈漸柔和，且參清養。</p>
<p>前方去白前、青黛、紫菀、黃連，加銀花、貝母、黃菊、丹參、陳細茶、橄欖。</p>
<p>六診：積痰下降，頸核漸平，舌紫口乾，卯辰熱僭，陰虛木旺，氣道尚未肅清，養血靖風，自可使其向愈。</p>
<p>前方去陳茶、蔥須，加石斛。</p>
<p>留贈善後方：（便色轉正用此。）</p>
<p>沙參（八錢）　冬蟲夏草（二錢）　女貞（三錢）　丹參（三錢）　鮮竹茹（四錢）　川斛（五錢）　鹽水泡橘紅（八分）　黃菊（三錢）　旋覆（三錢）　黑梔（三錢）　川貝（四錢）　金鈴肉（錢半）</p>
<p>另以炙鱉甲、漂䖳各一兩，葦莖二兩，絲瓜絡五錢，煮湯代水煎藥。</p>
<p>又：（諸恙盡瘳用此滋養。）</p>
<p>前方去橘紅、菊花、金鈴、梔子、旋覆，加石英、沙蒺、茯苓各三錢，蓯蓉、當歸各錢半，湯引去葦莖，加炙坎版一兩，藕二兩。（眉批：予室人患痰飲脅痛二十年矣。初則畏寒喜熱，頗宜健脾利氣之品。至甲辰冬服神術丸一料，夙患頓捐，漸不畏寒。己酉冬，因氣惱而復病，誤服遊山散錢許，勢遂披猖，得孟英診視，始漸就安痊。但痰飲未能盡除，每日須按摩數百下，噯氣數十口，方覺稍快，否則胸痞異常，二便恆秘，而便出仍不幹燥，偶有時二便通調，則為之體適者終日，正《內經》所謂得後與氣則快然而衰也。明明痰飲之證，特以陰血久虧，既不任香燥，而氣機素滯，又不利滋填，遂至莫可為計，安得孟英常加診視，而盡刈其根株耶？）</p>
<p>余侄森伯患發熱面赤，渴而微汗，孟英視之，曰：春溫也，乘其初犯，邪尚在肺，是以右寸之脈洪大，宜令其下行，由腑而出，則即可霍然。投知母、花粉、冬瓜子、桑葉、杷葉、黃芩、葦莖、梔子等藥，果大便連瀉極熱之水二次，而脈靜身涼，知飢啜粥，遂痊。設他人治之，初感總用汗藥，勢必釀成大證。</p>

<h1>王氏醫案續編卷七（原名《仁術志》）</h1>

<h2>浙西王士雄孟英醫案</h2>
<p>謝譜香素體陰虛，忽患環跳穴痛，始而下及左腿，繼而移於右腿，甚至兩足轉筋，上衝於腹間，或痛自乳起，下注於髀，日夜呼號，肢冷自汗，略難反側。醫見其血不華色，輒投補劑，迨仲春孟英自江西歸診，脈弦軟微滑，畏熱知飢，溲短便堅，舌紅不渴，乃陰虛而痰氣滯於厥陰也。以蓯蓉、鼠矢、竹茹、絲瓜絡、橘核、茴香湯炒當歸、吳萸湯炒黃連、川椒湯炒烏梅、延胡湯炒楝實、海䖳、鳧茈為劑。一服即減，數啜而安。繼與虎潛加秦艽而起。</p>
<p>陳建周令郎患春溫，初起即神氣躁亂，驚懼不眠，兩脈甚數。孟英謂：溫邪直入營分也。與神犀丹，佐紫雪，兩劑而瘥。夏間吳守旃暨高若舟令郎，胡秋紉四令愛，患溫，初起即肢瘛妄言，神情瞀亂，孟英皆用此法，尋則霍然。世人每執汗解之法，為初感之治，孰知病無定體，藥貴得宜，無如具眼人稀，以致夭枉載道，歸諸天數，豈盡然哉？</p>
<p>鮑繼仲於季春望日，忽然發冷，而喘汗欲厥，速孟英視之。脈沉弦而軟滑帶數，是素患痰飲，必誤服溫補所致也。家人始述：去冬服胡某腎氣湯，頗若相發，至今久不吐痰矣。孟英曰：病在肺，肺氣展布，痰始能行，雖屬久病，與少陰水泛迥殊，辨證不明，何可妄治？初服頗若相安者，方中附、桂剛猛，直往無前，痰亦不得不為之辟易；又得地黃等厚濁下趨之品，迴護其跋扈跳梁之性。然暴戾之氣久而必露，柔膩之質，反阻樞機，治節不伸，二便澀少，痰無出路，愈伏愈多，一朝卒發，遂壅塞於清陽升降之路，是以危險如斯，須知與少陰虛喘，判分霄壤，切勿畏虛妄補。投以薤、蔞、枳、杏、旋、赭、橘、半、菀、茹、蘆根、蛤粉、雪羹之劑而平。繼與肅清肺氣而滌留痰，匝月始愈。</p>
<p>王皺石廣文令弟患春溫，始則譫語發狂，連服清解大劑，遂昏沉不語，肢冷如冰，目閉不開，遺溺不飲，醫皆束手。（眉批：此正吳氏所謂涼藥無滌穢之功，而反冰伏其邪也。）孟英診其脈弦大而緩滑，黃膩之苔滿布，穢氣直噴。投承氣湯，加銀花、石斛、黃芩、竹茹、元參、石菖蒲。下膠黑矢甚多，而神稍清，略進湯飲。次日去硝、黃，加海䖳、蘆菔、黃連、石膏。服二劑而戰解肢和，苔退進粥，不勞餘力而愈。繼有張鏡江邀治葉某，又錢希敏之妹丈李某，孟英咸一下而瘳。惟吳守旃之室暨鄭又僑，皆下至十餘次始痊。今年時疫盛行，醫多失手，孟英隨機應變，治法無窮，救活獨多，不勝縷載。（眉批：吳又可之法切於疫，而不甚切於溫，觀此可見。）褚芹香女校書，患汛愆寒熱，醫以為損，輒投溫補，馴致腹脹不飢，帶淋便秘，溲澀而痛。孟英診脈弦勁而數，乃熱伏厥陰，誤治而肺亦壅塞也。與清肅開上之劑，吞當歸龍薈丸兩服，寒熱不作而知飢，旬日諸恙悉安。</p>
<p>聞氏婦孟夏患間瘧，而妊身八月，數發後熱熾昏沉，腰疼欲墮，張養之囑援於孟英。脈來洪滑且數、苔色黃膩垢濁。與黃芩、知母、竹茹、竹葉、銀花、桑葉、絲瓜絡、石斛、石膏、石菖蒲，一劑而痊。眉批：案中所載多溫瘧、暑瘧，故治多涼解。瘧症多端，寒熱俱有，不可執一而論。此證亦溫瘧也。</p>
<p>朱佳木令尊患間瘧，年逾七旬，人頗憂之。孟英切脈弦滑，脘悶苔黃，曰：無恐也。投清熱滌痰藥，數劑霍然。</p>
<p>李明府令正，年逾花甲，素患痰嗽，近兼晡熱不飢，頭疼不食，醫治罔效，姚小荷薦孟英視之。脈滑數，乃痰火內伏，溫熱外侵。投石膏藥二服，而熱退知飢。又數劑，並宿恙而愈矣。</p>
<p>宋氏婦患感，反覆已經向痊。忽然腹脹上至心下，氣喘便瀉溺閉，湯飲不能下咽，自汗不能倚息，家人皇皇，且極貧不能延診，走乞孟英擬方挽救。因以桂枝、石膏、旋、赭、杏、樸、芩、半、黃連、通草為劑，果覆杯而病若失。張養之目擊，嘆為神治。</p>
<p>翁嘉順之婦弟吳某，勞作之後，發熱身黃，自以為脫力也。孟英察脈軟數，是濕溫重證，故初起即黃，亟與清解。大便漸溏，小溲甚赤，濕熱已得下行，其熱即減，因家住茅家埠，吝惜輿金，遽爾輟藥。七八日後復熱，譫語昏聾，抽痙遺溺，再懇孟英視之，濕熱之邪擾營矣。投元參、犀角、菖蒲、連翹、竹茹、竹葉、銀花、石膏，泄衛清營之法，佐牛黃丸、紫雪丹而瘳。臀皮已塌，亟令貼羊皮金，不致成瘡而愈。</p>
<p>朱諄書令正患感，吳某與表藥二帖，發出赤疹，神氣漸昏。葉某知其素患耳聾目障，為陰虛之體，改用犀角地黃湯二劑，而遺溺痙厥，始延孟英視之。曰：雖形瘦陰虧，邪易擾營，幸非濕盛之軀，尚可設法。但心下拒按，呃逆便秘，是痰熱尚阻氣分，誤服升提，每成結胸。地黃滋滯，實為禁藥。今人臨證不能詳審，往往用非所當用。本年敗證甚多，余每見神未全昏，便不甚秘，惟胸前痞結，不可救藥而死者，皆升提之誤進，或滋滯之早投也。石北涯在旁聞之，嘆曰：無怪乎君素以犀角地黃湯奏奇績，而他人效尤屢僨事，豈非能與人規矩，不能與人巧耶？於是以犀角、元參、茹、貝、旋、蔞、杷、菀、白前、菖蒲為方，調紫雪。兩服呃逆止，神漸清，而咽疼口渴，乃去紫雪、前、菖，加射干、山豆根、知母、花粉，吹以錫類散。二日咽喉即愈，胸次漸舒，疹回熱退，去犀角、紫菀、射干、豆根，加銀花、梔子、竹葉、海䖳、鳧茈。漸安眠食，唯大解久不行，孟英曰：腹無痛苦，虛體只宜潤養。佐以蓯蓉、麻仁、當歸、生地等藥，多服而下，遂愈。</p>
<p>李德昌之母，仲夏患感，醫診為濕，輒與燥劑，大便反瀉，遂疑高年氣陷，改用補土，馴致氣逆神昏，汗多舌縮，已辦後事，始乞診於孟英。脈洪數無倫，右尺更甚。與大劑犀角、石膏、黃芩、黃連、黃柏、知母、花粉、梔子、石斛、竹葉、蓮心、元參、生地之藥，另以冷雪水調紫雪，灌一晝夜，舌即出齒，而喉舌赤腐，咽水甚痛，乃去三黃，加銀花、射干、豆根，並吹錫類散。三日後脈證漸和，稀糜漸受，改授甘涼緩劑，旬日得堅黑矢而愈。</p>
<p>余朗齋形瘦體弱，患間日瘧，寒少熱多，二便澀滯，脘膈悶極，苔膩不渴。孟英切脈緩滑而上溢，曰：素稟雖陰虧，而痰濕阻痹，既不可以提表助其升逆，亦未宜以涼潤礙其樞機。投以滑、樸、茹、旋、通草、枇杷葉、葦莖、鬱金、蘭葉之方。苔色漸退，即去樸、郁，加連、枳、半夏。胸悶漸開，瘧亦減，便乃暢，再去滑、半、連、枳，加沙參、石斛、橘皮、黃芩，浹旬而愈。（眉批：運樞機，通經絡，為孟英用藥秘訣。無論用補用清，皆不離此意，細觀各案自知。）</p>
<p>董哲卿貳尹令正，胎前患嗽，娩後不痊，漸至寢汁減餐，頭疼口燥，奄奄而臥，略難起坐。孟英診脈虛弦軟數，視舌光赤無苔，曰：此頭疼口燥，乃陽升無液使然，豈可從外感治？是沖氣上逆之嗽，初非傷風之證也。與蓯蓉、石英、龜板、茯苓、冬蟲夏草、牡蠣、穭豆衣、甘草、小麥、紅棗、藕。數帖嗽減餐加，頭疼不作，加以熟地，服之遂愈。</p>
<p>慶雲圃觀察令郎恩蔭堂司馬，陡患偏墜，醫與茴香、蘆巴、烏藥、荔核等劑，遂痛不可忍，浼趙棠村鹺尹邀孟英視之。按其脈膚甚熱，曰：非疝也，睪丸腫痛必偏於右，此濕熱時邪也。設以疝治之，必成癰。按法治之，果覆杯而痛減，三服而便行熱退。因食羊肉腫痛復作，再與清解，諄囑慎口腹而瘳。</p>
<p>吳憲章年逾花甲患感，醫知其為濕溫也，投藥不應，而仍能起榻理事。石北涯拉孟英視之，冀其勿致加劇。及診脈左寸數疾，余皆軟大，穀食略減，便溏溲少，苔色膩黃，舌尖獨黑。孟英不肯予方，人咸詫之，因曰：證原不重，吾以脈象舌色察之，是平昔曲運心機，離火內亢，坎水不制，勢必自焚，況兼濕溫之感乎！果數日而殞。</p>
<p>黃純光年七十八歲，患濕溫，至旬余，脈形歇代，呃忒連朝，諸醫望而畏之。孟英診曰：脈雖歇而弦搏有根，是得乎天者厚，雖屬高年，猶為實象，參以病深聲噦，原非小故，而二便窒澀，苔膩而灰，似府氣未宣，痰濕熱阻其氣化流行之道也。清宣展布，尚可圖焉。何新之韙其議，因以旋、茹、梔、楝、杷、杏、萸、連、菀、蔞、雪羹為劑，片通草一兩，煎湯煮藥，投匕即減，數服而大吐膠痰，連次更衣，遂安粥食。惟動則嗽逆，漸露下虛之象，予西洋參、龜板、牡蠣、蓯蓉、石斛、牛膝、冬蟲夏草、石英、茯苓、當歸等藥，而各恙遞安。繼加砂仁、熟地而起。</p>
<p>錢聞遠自春間偶患痰嗽，醫投蘇、葛而失音。更醫，大劑滋補，漸致飲水則嗆，久延愈劇。邀孟英診，曰：左寸動數，尺細關弦，右則澀，乃心陽過擾，而暗耗營陰，肺金受爍，清肅不行，水失化源，根無蔭庇，左升太過，右降無權，氣之經度既乖，血之絡隧亦痹，飲水則嗆，是其據也。金遇火而伏，其可慮乎！繼而瘀血果吐，納食稍舒，老醫嚴少眉以為可治，竭力圖維，仍殞於伏。</p>
<p>湯西塍年逾花甲，感證初起，周身膚赤，滿舌苔黃，頭痛腰疼，便溏溲痛，伊親家何新之診為險候，囑延孟英診之。脈見弦細而軟，乃陰虛勞倦、濕溫毒重之證。清解之中，須寓存陰。以犀角、羚、苓、茹、銀、翹、桑、葦、通草、蘭葉為方，煎以冬瓜湯。服之偏身赤疹而左眼胞忽腫，右臂痠疼不舉，耳聾神不清爽，亟以元參、丹皮、菊花、梔子、桑枝、絲瓜絡、石斛、竹葉，煎調神犀丹為劑。偶邀瘍科視外患，亦知病因濕熱，連進木通等藥，脈更細弱，神益昏憊，飲食不進，溲澀愈疼，新之以為難挽矣。孟英曰：急救陰液，尚可轉機。援復脈湯去薑桂、麻仁，易西洋參，加知母、花粉、竹葉、蔗漿灌之。一劑神蘇脈起，再服苔退知飢，三啜身涼溺暢，六帖後膚蛻安眠，目開舌潤。或疑甘柔滑膩之藥，何以能清濕熱？孟英曰：陰虛內熱之人，蘊濕易於化火，火能爍液，濡布無權，頻溉甘涼，津回氣達。徒知利濕，陰氣先亡，須脈證詳參，法難執一也。又服數劑後，忽然肢腫，偏發風塊，瘙癢異常。或又疑證之有變也，孟英曰：此陰液充而餘邪自尋出路耳。與輕清藥數帖，果瘥。</p>
<p>趙菊齋仲媳，素患陰虛內熱，時或咯血，去年孟英已為治愈，既而汛事偶愆，孟英診曰：病去而孕矣。今春娩後患瀉，適孟英赴豫章之診，專科進以溫熱之方，而咳嗽乃作；更醫改授養營之劑，則滑泄必加；簽藥乩方，備嘗莫效。比孟英歸，投以甘麥大棗配梅連之法，證漸輕減。繼為其姻黨尼之，多方蠻補，遂致腹痛減餐，日下數十行，皆瑩白堅圓，如白蒲桃之形，上縈血絲。菊齋悔悶，仍乞援於孟英。予仲景當歸生薑羊肉湯，每劑吞鴉膽仁二十一粒，以龍眼肉為衣。果兩服而便轉為溏，痛即遞減。再與溫養奇經之龜板、鹿霜、歸、苓、杞、菟、甘、芍、烏鰂、蓯蓉、蒲桃、藕等藥，調理而痊。</p>
<p>海鹽任斐庭，館於關琴楚家，季夏患感，黃某聞其身熱而時有微寒也，進以薑、萸、柴、棗等藥，數帖熱愈壯，而二便不行。更醫連用滲利之劑，初服溲略通，既而益秘，居停以為憂，始延孟英視焉。證交十四日，骨瘦如豺，脈弦細而澀、舌色光紫，滿布白糜，夜不成眠，渴不多飲，粒米不進，少腹拒按，勢將喘逆，雖屬下證，而形脈如斯，法難直授。先令取大田蠃一枚，（外治法甚妥。）鮮車前草一握，大蒜六瓣，共搗爛，加麝香少許，罨臍下水分穴。方以元參、紫菀、梔子、知母、花粉、海䖳、鳧茈、蓯蓉、牛膝、天冬為劑，加鮮地黃汁服之。其夜小溲即行，氣平略寐。又兩劑，大解始下，退熱而漸進稀糜，乃去雪羹、梔、菀、蓯蓉、膝、地黃汁，加西洋參、麥冬、石斛、乾生地、竹茹、銀花等藥。又服十餘帖，凡三解黑矢，而舌色復於紅潤，眠食漸安而起矣。</p>
<p>莊芝階舍人令愛，孀居在室，陡患氣衝欲厥，脘痛莫當，自服沉香、吳萸等藥，病益劇，而嘔吐發熱，略有微寒。孟英按脈弦滑且數，苔色滑膩微黃，而渴喜冷飲，便秘溲熱，眠食皆廢。是伏痰內盛，肝逆上升，而兼吸受暑熱也。予吳萸水炒黃連、枳實、竹茹、栝蔞、石膏、旋覆、赭石、知母、半夏、雪羹。服二劑吐止痛減，五劑熱退而解猶不暢，旬日始得豁然，乃去石膏、知母、旋、赭，調之而愈。</p>
<p>陳書伯太史令弟婦，娩後三日，發熱汗多，苔黃眩悸，孟英切脈弦細虛數。乃營陰素虧，酷熱外爍，風陽浮動，痙厥之萌也。予元參、白薇、青蒿、生地、小麥、穭豆衣、石斛、鱉甲、竹葉。兩劑熱退知飢，悸汗不止，去蒿、薇，加龍、牡、蓮心、龜板、石英而安。繼又暑風外襲，壯熱如焚，渴飲不飢，睹物盡赤，改授白虎加西洋參、竹葉、蓮杆，一啜而瘳，仍與鎮攝滋潛善其後而愈。</p>
<p>顧氏婦半產後，因吃飯脘痛，人以為停食也，進以消導，痛甚發熱，臥則右脅筋掣難忍。孟英曰：此非發散攻消可療。予旋覆、絲瓜絡、冬瓜子、蓮杆、葦莖、竹茹、貝母、枇杷葉、蘭葉、通草為方。一劑知，二劑已。</p>
<p>高氏婦因戒鴉片而服外洋丸藥，諸無所苦，惟便秘不通，醫治兩月，迄不能下，且仍安穀，而面赤齦脹欲挑，每以銀針嵌入齒縫，而拔出之時，銀色已如煤黑。孟英診脈滑數，予犀角、石膏、硝、黃、升麻、蜣螂為劑，（解毒妙品。）和以鮮銀花汁一杯。服後夜間登圊三四行，而病去及半，再予清解化毒而痊。</p>
<p>太倉陸竹琴令正，陡患心悸，肢冷如冰，其子皇皇，浼吳江程勉耘懇援於孟英。察其脈浮弦而數，視其舌尖赤無苔，乃陰虛陽越，煎厥根萌。予元參、二至、三甲、龍齒、石英、生地、牛膝、茯神、蓮子心而愈。</p>
<p>趙子循室，娩後服生化湯二帖，更因驚嚇，三朝發熱，連投四物、六合等湯，病日以甚，半月後始延孟英診之。脈象左弦急，右洪滑數，苔黃大渴，譫語嗽痰，惡露仍行，唇齒乾燥，是因陰虛之體，血去過多，木火上浮，酷暑外爍，津液大耗，兼有伏痰之候也。亟與營衛兩清，冀免他變。而母家極畏石膏，堅不與服，越三日勢益劇，計無所施。子循之叔笛樓，與其表兄許芷卿，徑以白虎加減投之，證有轉機。翼日再迓孟英會同笛樓，暨其舅氏許吉齋山長，協商妥治，咸是王議。且以西瓜汁助其藥力，熱始日漸下行，二便如火。又數日漸安粥食，神氣亦清，起坐梳頭，夜能靜寐。然熱蘊太久，下焦患癰，膿雖即潰，陰液漏傷，脈復空數浮大，便泄善嗔，口乾多夢，皆木少水涵，爍津侮胃之見證也。孟英與笛樓商以白頭翁湯，加龍骨、三甲、甘草、木瓜以育陰潛陽，餘糧石脂丸中加梅、連以息風鎮胃。果得瘡口膿干，餐加瀉止，脈柔熱淨，苔退神怡。正須善後，甫授滋填，不期酷熱兼旬，甘霖忽降，窗開徹夜，復感風邪，身熱微寒，鼻流清涕，而陰液久奪，外患未痂，培養礙投，又難發汗，肝風內應，瘛噤旋形，九仞之功，遂成畫餅，門外漢未免以成敗論，然此案自堪傳也。（眉批：仍是陰血大虛，故變證如此，非蓋由於風邪也。）陳某患嗽，嗽則先吐稀痰，次則黃濃甜濁之痰，繼之以深紅帶紫之血，仍能安穀，別無所苦，多藥不愈。孟英切其脈緩大，而右關較甚，乃勞倦傷陽，而兼濕熱蘊積也。予沙參、生薏苡、木瓜、茯苓、竹茹、桑葉、枇杷葉、生扁豆、葦莖、花粉為劑，吞松石豬肚丸而愈。王瘦石夫人患滯下，腹痛微嘔，不飢口苦，溲短耳鳴。孟英診曰：脈見細弱之形，肌無華澤之色，汛不行而早斷，舌紫黯以無津，是素質陰虧，情懷悒鬱，二陽默熾，五液潛消，雖吸暑邪，莫投套藥。予白頭翁湯加雪羹、銀花、梔子、楝實，（先清暑邪。）數劑而減。繼去雪羹，加生地、蓯蓉、柿餅、藕汁而安。改授甘麥大棗，加西洋參、生地、蓯蓉、竹茹、歸、芍、蒲桃干，而以藕湯煎服，調養體質以痊。</p>

<h1>王氏醫案續編卷八</h1>

<h2>杭州王士雄孟英醫案</h2>
<p>《仁術志》者，海豐張君柳吟所題孟英之醫案也。吾師趙菊齋先生，暨莊舍人芝階為之序，余以未與其事，深以為歉。秋間偶過孟英，適有陳姓者牽羊來謝，孟英頗疑之，其人曰：三月間次媳患時感，而氣逆不能眠，醫皆畏卻，特延君診。甫按脈云：甚滑疾是為娠象，用藥必須顧及。此時次媳於去秋娩後，月事尚未一行，君為此言，闔家未嘗不竊笑也。迨疾漸平，哺兒之乳亦不覺少，雖自問亦斷斷非孕。至六月間腹漸脹，方謂有病。不料昨日倏產一孫，舉家敬服高明，故來致謝耳。孟英因謂余云：昨診魏子恆之室亦妊也。諸醫作虛損治，脈雖虛微軟數，而滑象仍形，病家深不以吾言為然者，緣病人之女兄二人，皆死於虛勞也。然其伯仲之證，吾皆診焉，今已十餘年矣，猶憶伯字於關氏，未嫁而卒，證非不治，亦為藥誤。病中閱吾方案，極為折服，且曰：先生來暮，儂不能起矣。前此延致諸名家，徒曰虛證宜補，而不治其所以虛，方則群聚補藥，必以地黃為之冠，雖有參、耆，亦列於後，即使用藥不乖，而陽生陰長，氣為血帥之旨，尚未分曉，況其他乎？吾聞而愕然，何以閨中女子，亦解談醫，細詢始知為乾隆間名醫吳穎昭先生之女孫也，尤為惋惜。仲適於陳少簾少府，的系損證，若季者因其家懷先人之見，遂致醫人迎合誤事，豈不可嘆！迨秋仲果聞魏氏分娩，母子皆亡，方嘆孟英之卓見為不可及也。爰採秋冬諸案之治法不同於尋常者，而續成一卷云。</p>
<p>便血至三十餘年，且已形瘦腰疼，嗽痰氣逆，似宜溫補之法矣。而嘉定沈醞書患此瀕危，求孟英以決歸程之及否？比按脈弦數，視舌苔黃，詢溺短赤，曰：痔血也。殆誤於溫補矣。肯服吾藥，旬日可瘳。醞書欣感，力排眾論，徑服其方，果不旬而愈。方用葦莖合白頭翁湯，加枇杷葉、旋覆花、側柏葉、藕，是肅肺祛痰、清肝涼血互用也。（眉批：徐靈胎批葉案云：便血無至十餘年者，惟痔血則有之。今便血三十餘年，不問可知為痔血矣。惟徐氏未嘗出方，孟英此案足為程式。）</p>
<p>產後諸證，首必通瘀，然有不可以常理測者。表弟周鶴庭室，新產暈汗，目不能開，心若懸旌，毫無惡露。乃父何君新之，按其脈有虛弦豁大之形，亟拉孟英圖之。予以三甲、石英、丹參、琥珀、甘草、小麥、穭豆衣等藥，（滋陰鎮逆，仍兼行血之品，斯靈動而不滯。）覆杯即安，數服而愈。或詰其何以知非瘀血為患？曰：此陰虛之體，既產而營液大脫，風陽上冒，雖無惡露，胸腹皆舒，豈可誤作瘀沖，而妄投破血之藥耶？</p>
<p>許季眉別駕室，歸自維揚，仲秋患痁，自作寒濕治，勢益劇。其從子芷卿以為挾風暑也，連進清解，病不減，邀孟英診之。脈弦滑而洪，體豐多汗，苔黃便血，嘔渴妄言，徹夜不瞑，欲臥於地。乃伏痰內盛，暑擾陽明也。投大劑石膏、知母、犀角、元參、石斛、銀花、黃芩、花粉、蘭葉、竹瀝，三帖證始平。芷卿隨以多劑肅清而愈。</p>
<p>莊芝階舍人，年七十矣，患間瘧，寒則戰慄，熱則妄言。孟英視之，脈弦數而促，苔黑口乾，是素有熱痰，暑邪內伏。予知母、花粉、元參、石斛、黃芩、竹茹、連翹、海䖳、蘆菔、蓮子心等藥，數啜而瘳。至仲冬因泛湖宴客，感冒風邪，痰嗽頭疼，不飢寒慄，自服羌、蘇、荊芥藥二劑，勢益甚，而口渴無溺。孟英切其脈，與季秋無異，但兼浮耳。證屬風溫，既服溫散，所謂熱得風而更熾也。舌絳無津，亟宜清化。以桑葉、枇杷葉、梔子、知母、冬瓜子、元參、菊花、花粉、貝母、梨汁為劑，投匕即減，旬日而痊。</p>
<p>孫位申室，平昔陰虛肝滯，痛脹少餐，暮熱形消，咽疼喉癬，不孕育者九年矣。往歲汛愆，人皆謂將不起，而孟英切其脈尚不細，膚猶淖澤，許籌帶病延年之策。果月事仍行，而諸恙皆緩，且能作勞，惟飯食日不過合米。今秋延孟英往診云：經自三月至今未轉，一切舊恙，彌見其增，君術雖仁，恐難再延其算矣。及舉脈弦滑左甚，遽曰：豈僅可延其算哉？且有熊羆入夢矣。其家聞之駴異，迨季冬果得一子，頗快而健。</p>
<p>翁嘉順於去年秋間，偶從梯半跌僕，初無所傷，旬日外陡發寒熱，膝旁腫痛。外科汪某治之，潰後不能收功。另招許某療之，識為傷絡，應手漸效，翁極信服。然培補年餘，雖納食不減，而肌肉漸削，面色黧黑，步履蹇滯，且一旬半月之間，必患處疼腫，大發寒熱，臥榻數日，始能強起，大費不貲，愈發愈劇。至冬間咽糜齦腐，睛赤音嘶，乃懇孟英以決吉凶。按脈滑數，舌絳便艱，口臭溲少，蘊隆蟲蟲。良由瘍醫僅知溫托一法，既潰之後，更以溫補收功善後，竟未察其體氣病情，以致平時所有之濕熱痰火，一齊關住，病猶自尋出路，寒熱頻作，而醫者不識，妄指為虛，補及逾年，人財兩瘠，真諺所云將錢買憔悴也。予元參、黃柏、知母、甘草、銀花、花粉、綠豆、梔子、海䖳、鳧茈為大劑投之，外吹以錫類散，且令日啖梨、蔗、麒麟菜、柿餅等物。至五十日，諸恙蠲，體腴善步。（眉批：孟英諸案，大抵救溫補之失，故寒涼為多。然斟酌盡善，不以苦寒傷生氣，則非他人所能學步。）</p>
<p>胎前產後，疑似極多，號曰專科，尚難措手。陳肖岩孝廉媳，屠仲如之女也，汛愆一度，次月仍行，方疑其病也。孟英診曰：尺雖小弱，來去緩和，是娠也。繼而果然。仲如令弟子綠之室，經事稍遲，孟英偶診，亦以孕斷，尋驗。甫三月患胎漏，適孟英丁內艱，遂不克保而墮。墮後惡露雖行，而寒熱頭疼，時或自汗，且覺冷自心中出，醫謂類瘧，與溫化之藥，病日甚，交八日，孟英始出門，即延診之。脈來沉實而數，舌色紫黯，乃瘀血為患耳。予桃仁、澤蘭、山楂、茺蔚、旋覆、紅花、丹參、通草、琥珀、蛤殼、絲瓜絡之劑。（眉批：通血之劑，亦清靈無弊。）服後腹大痛，下瘀血如肺者一枚。次日諸恙較減，乳汁大流，再以前方去通草，加麥投之。服後腹仍痛，復下瘀塊累累，而諸恙若失。或問先生嘗言產後腹無痛苦者，不可妄行其血，此證惡露已行，腹無疼脹，何以斷為瘀阻而再行其血耶？孟英曰：正產如瓜熟蒂落，諸經蔭胎之血，貫串流通，苟有瘀停，必形痛脹。墮胎如癰瘍未熟，強擠其膿，尚有未化之根柈，不能一齊盡出。所以胎雖墮而諸經蔭胎之血，萃而未渙，淺者雖出，深者尚留，況是血旺之軀，加以溫升之藥，挽其順流之路，窒其欲出之機，未到腹中，脹疼奚作。吾以循經通絡、宣氣行瘀之法，導使下行，故出路始通，而後腹痛瘀來，然必有脈可徵，非謂凡屬墮胎皆有是證也。</p>
<p>鎖容亭令姊，自太倉歸寧，即患時瘧。顧某一手清解，業已安穀下榻矣。忽然氣逆肢寒，神疲欲寐，耳聾舌蹇，杳不知飢，大便仍行，別無痛苦。顧知其素患脫血，元氣久虛，改用參、附等藥，勢愈劇，以為欲脫矣。所親吳久山，囑拉孟英圖之。切脈弦緩，視苔黃膩，乃胎之初孕，阻氣凝痰、窒礙樞機，治當宣豁，以石菖蒲、枳實、旋覆、半夏、黃連、茯苓、橘皮、蔥白、海䖳、竹瀝為方，投匕即效，三啜霍然。繼而久山令妹，為鎖繩先之室，患瘧而馴致脘痞嘔呃，鼻冷自汗，不食不眠，脈來歇止，醫者危之。孟英視之，亦痰為患耳。即以此方去蔥、䖳、竹瀝，加薤白、蔞仁、竹茹，投之果驗。</p>
<p>高石泉仲媳，骨小肉脆，質本素虛，冬間偶涉煩勞，不飢不寐，心無把握，夜汗耳鳴。馮某連進滋陰法，病日甚。孟英察其左寸甚動，兩關弦滑，苔色膩黃。乃心肝之火內燔，胃府之氣不降，陰虧固其本病，滋填未可為非，然必升降先調，而後補之有益。（精要語，業醫者宜謹識之。）授鹽水炒黃連、石菖蒲、元參、丹參、梔子、石斛、小麥、知母、麥冬、竹葉、蓮子心等藥，服之即應。續予女貞、旱蓮、牡蠣、龜板、地黃，善後而瘥。</p>
<p>古方書云：喘無善證，喘而且汗，尤屬可危。潘肯堂室，仲冬陡患氣喘，醫治日劇。何新之診其脈無常候，囑請孟英質焉。孟英曰：兩氣口之脈，皆肺經所主，今肺為痰壅，氣不流行，虛促雖形，未必即為虛諦。況年甫三旬，平時善飯，病起於暴，苔膩痰濃，縱有足冷麵紅，不飢不寐自汗等證，無非痰阻樞機，有升無降耳。遂與石膏、黃芩、知母、花粉、旋覆、赭石、蔞仁、通草、海䖳、竹瀝、菔汁、梨汁等藥。一劑知，三劑平。乃去二石，加元參、杏仁，服旬日而安。俟其痰嗽全蠲，始用沙參、地黃、麥冬等，以滋陰善後。</p>
<p>室女多抑鬱，干嗽為火鬱，夫人而知之者。王杞庭之姊，年逾摽梅，陡患干嗽，無一息之停，目不交睫，服藥無功，求孟英診焉。兩脈上溢，左兼弦細，口渴無苔，乃真陰久虛，風陽上僭，沖嗽不已，厥脫堪虞。授牡蠣、龜板、鱉甲、石英、蓯蓉、茯苓、熟地、歸身、牛膝、冬蟲夏草、胡桃肉之方，藥甫煎，果欲厥，亟灌之即寐。次日黃昏，猶發寒痙，仍灌前藥至第三夜，僅有寢汗而已。四劑後諸恙不作，眠食就安。設此等潛陽鎮逆之方，遲投一二日，變恐不可知矣，況作郁治，而再用開泄之品耶？故辨證為醫家第一要務也。</p>
<p>《寓意草》謂：傷風亦有戴陽證。此為高年而言，然有似是而非者。黃鼎如令堂，年登大耋，季冬感冒，痰嗽氣逆，額汗顴紅，胸痞不飢，神情躁擾。孟英診脈左弦疾而促，右滑數而溢，苔色滿布。系冬溫挾痰阻肺，治節不伸，肝陽鼓舞直升。羅謙甫有治痰火類孤陽之案，頗相似也。以小陷胸湯加薤白、旋覆、赭石、花粉、海䖳、鳧茈、竹瀝為大劑投之，痰活便通，數日而瘥。繼有陳舜廷之父，年逾花甲，患痰嗽氣逆，惟飲薑湯則胸次舒暢，醫者以為真屬虛寒矣，連投溫補之劑，馴致咽痛不食，苔色灰刺，便秘無溺，求孟英診之。脈至雙弦，按之索然，略無胃氣。曰：渴喜薑湯者，不過為痰阻清陽之證據耳，豈可妄指為寒，疊投剛烈？胃陰已竭，藥不能為矣。</p>
<p>東垣云：中年以後，已行降令，清陽易陷，升舉為宜。吾師趙菊齋先生，年逾花甲，偶因奔走之勞，肛翻患痔，小溲不行，醫者擬用補中益氣及腎氣丸等法。孟英按其脈軟滑而數，苔色膩滯。此平昔善飲，濕熱內蘊，奔走過勞，邪乃下注，想由強忍其肛墜之勢，以致膀胱氣阻，溲澀不通，既非真火無權，亦詎清陽下陷。師聞而嘆曰：論證如見肺肝，雖我自言，無此明切也。方以車前、通草、烏藥、延胡、梔子、橘核、金鈴子、澤瀉、海金砂，調膀胱之氣化而滲水。服之溲即漸行。改用防風、地榆、丹皮、銀花、荊芥、槐蕊、石斛、黃連、當歸，（後治痔漏。）清血分之熱而導濕，肛痔亦平。設不辨證而服升提溫補之方，則氣愈窒塞，濁亦上行，況在高年，告危極易也。</p>
<p>許芷卿痁起季秋，孟英嘗清其伏暑而將愈。其從母亦知醫，強投以小柴胡一劑，勢復劇。孟英予溫膽湯去甘草，加生石膏、黃芩、知母、花粉、蘆菔而安。繼因作勞太早而復發，適孟英丁憂，趙君笛樓仍用清解而瘥。迨季冬移居勞頓，瘧復間作，且面浮跗腫，喘嗽易嗔，人皆以為大虛之候。孟英切脈左弦勁而數，右滑大不調，苔黃且膩，口渴溺多，乃胃肺之痰熱有餘，肝膽之風陽上僭，畏虛率補，必不能瘳。用西洋參、知母、花粉、竹茹、蛤殼、石斛、枇杷葉、青蒿、秦艽、白薇、銀花、海䖳為方。連投四劑，大吐膠痰，而各恙悉除。</p>
<p>《薛氏醫案》每以補中益氣湯與地黃丸並用為治，雖盧不遠之賢，亦或效尤，其實非用藥之法也。如果清陽下陷而當升舉者，則地黃丸之陰凝滯膩非所宜也；設屬真陰不足，當用滋填者，則升、柴之耗散不可投也。自相矛盾，紀律毫無，然上下分治，原有矩矱。屠敬思索屬陰虧，久患痰嗽，動即氣逆，夜不能眠，頻服滋潛，納食漸減，稍沾厚味，嘔腐吞酸。孟英視脈左弦而微數，右則軟滑兼弦，水常氾濫，土失堤防，肝木過升，肺金少降，良由久投滋膩，濕濁內蟠，無益於下焦，反礙乎中運，左強右弱，升降不調。以蓯蓉、黃柏、當歸、芍藥、熟地、丹皮、茯苓、楝實、砂仁研為末，藕粉為丸，早服溫腎水以清肝；以黨參、白朮、枳實、菖蒲、半夏、茯苓、橘皮、黃連、蒺藜生曬研末，竹瀝為丸，午服培中土而消痰；暮吞威喜丸，肅上源以化濁，三焦分治，各恙皆安。悉用丸劑者，避湯藥之助痰濕耳。（眉批：方俱靈妙，可以為法。）</p>
<p>本朝乾綱丕振，雀頂尚紅，冠飾朱纓，口燔菸草，皆為陽盛之象，是以火證偏多。夫藥者補偏之物，醫為救弊之人，豈可不識此大氣運，而硜硜然泥夫司天在泉以論治，何異癡人說夢耶？安徽人程某，在余姑丈許辛泉典中司會計。仲冬患感，醫者聞其病前一日，曾啖生蘆菔一枚，而大便又溏，苔色又白，今年又為濕土在泉，遂指為中虛寒濕之病。參、朮、附、桂，多劑率投，馴致舌黑神昏，尚疑為大虛之候。禾中沈柳衣見之，知其藥誤，另招張鏡江診之。曰：冬溫也。連與犀角地黃湯而無起色，二十日外，始乞孟英視焉。舌縮底絳，苔黑如漆，口開莖萎，脈細數而弦，右則按之如無。陰液盡爍，溫毒深蟠，甘露瓊漿，不能復其已竭之津矣。俄而果敗。繼有潘聖徵於仲冬患感，至十四日退熱之後，杳不知飢，群醫雜治。迨季冬下旬，轉為滯下五色，腿腫裂血，溲澀口乾，始延孟英診之。左脈弦細而數，右弦滑而空，苔色黃膩根焦，時或自汗，乃氣液兩竭，熱毒逗留之象，必從前過服溫補之藥，否則熱退在十四日之期，何至延今五十餘朝，而見證若是之棘手哉？其弟鴻軒云：此番之病，補藥不過二三劑，惟仲秋患瘧時，醫謂其苔白體豐，云是寒濕，嘗餌附、桂數十劑，且日飲燒酒耳。孟英曰：此即釀病之具矣。治病且難，何況有如許之藥毒內伏，更將何法以生之耶？堅不立方，其家必欲求藥，以期扶持度歲。孟英曰：是則可也。以白頭翁湯加銀花、綠豆、歸身、白芍、陳米、燕根、蘭葉、藕為劑，而以補中益氣大料，蒸露代水煎藥。服後焦苔漸退，糞色亦正，舉家喜出望外，復丐孟英圖之。奈脈無轉色，遂力辭之。又沈聽松鹺尹太夫人，季秋患瘧，孟英嘗往診之。曰：伏暑所化，且體屬陽強而多痰火，切勿畏虛，輒從溫補，奈病者期於速愈，廣徵醫療。或以為證屬三陰，或謂是子母瘧，或指為老年胎瘧，眾楚交咻，病不能愈。延至季冬，亦轉為痢，且膚腫臀瘡，口糜舌疱，諸醫束手，復請診於孟英。脈與潘同，不可救藥。</p>
<p>謝譜香體屬久虛，初冬患嗽痰減食，適孟英丁艱，邀施某視之。云是腎氣不納，命火無權。疊進腎氣湯月餘，遂致嘔惡便溏，不飢無溺，乃束手以為必敗矣。季冬仍延孟英診之，脈甚弦軟，苔膩舌紅，乃中虛而健運失職，誤投滋膩，更滯樞機，附、桂之剛，徒增肝橫。予黨參、白朮、茯苓、澤瀉、橘皮、半夏、竹茹、梔子、薏苡、蒺藜、蘭葉、柿蒂之劑，培中泄木，行水蠲痰，旬日而愈。（眉批：古人補腎不如補脾、補脾不如補腎之說，均有至理，而用違其宜，亦均足致敗，此醫所以首貴認證也。）</p>
<p>藁砧遠出，婦病如狂，似屬七情，而亦有不盡然者。有陳氏婦患此月餘，巫醫屢易，所費既鉅，厥疾日增。孟英切其脈弦而數，能食便行，氣每上衝，腹時痛脹。詢其月事，云：病起汛後，繼多白帶。孟英曰：病因如是，而晝則明瞭，夜多妄言，酷似熱入血室之候，徑從瘀血治可也。予桃仁、紅花、犀角、菖蒲、膽星、旋覆、赭石、丹參、琥珀、蔥白之劑。兩服而瘀血果行，神情爽慧。繼去桃仁、紅花，加當歸、元參，服數劑而瘳。</p>
<p>範廉居夫婦，與其令愛，一時患恙，旬日後咸劇，金粟香薦孟英視之。廉居則大解已行，熱退未淨，氣逆不飢，呃忒自汗，脈形虛大，舌紫無苔，為上焦熱戀，下部陰虧之象。予西洋參、旋覆、竹茹、枇杷葉、石斛、柿蒂、牡蠣、龜板、刀豆、牛膝之劑。兩服即舌潤知飢，呃汗皆罷，去刀豆、旋覆、柿蒂，加熟地、胡桃肉、當歸，投之而愈。其室則苔膩口酸，耳鳴不寐，不飢神憊，脘痛頭搖，脈至虛弦，按之澀弱。以當歸、白芍、枸杞、木瓜、楝實、半夏、石斛、茯神、竹茹、蘭葉、白豆蔻，為養營調氣、和胃柔肝之法，數啜而瘳。渠女則壯熱殿屎，二便皆秘，苔黃大渴，脹悶難堪，脈來弦滑數實，系府證也。投桃核承氣，加海䖳、蘆菔，二劑而痊。廉居尊人穎禾曰：甚矣，服藥之不可不慎也。三人之證，醫者皆謂可危，而治之日劇，君悉以一二劑起之，抑何神歟？因憶四十二歲時患痁，胡魁先用首烏太早，遂致客邪留戀，纏綿百日，大為所困，嗣後不敢服藥，今四十年矣。昨聞韓組林年雖七十，飲啖兼人，而平時喜服藥，醫以為老，輒用附、桂、參、茸等藥，以期可享遐齡，詎料初八日晚饍尚健飯，三更睡醒，倏寒慄發顫，俄而四肢瘛瘲，越日云亡，得非即世人所謂之子午證耶？孟英曰：此老系陽旺之體，肥甘過度，痰火日增，年至古稀，真陰日耗，而久服此等助火爍陰之藥，以致風從火出，立拔根荄，與兒科所云急驚風證，殆無異焉。</p>
<p>古云：肥白之人多氣虛。又云：痰飲須以溫藥和之。儒醫顧聽泉，體豐色白，平昔多痰，晨起必喘逆，飽食稍安，頗有氣虛之象。季冬感冒，自服疏解未效，迓孟英診焉。左關弦，寸滑如珠，尺細而干，舌尖甚絳。乃真陰素虧，水不涵木，風陽內熾，搏液成痰，謀慮操待，心陽太擾，肺金受爍，治節不伸。苔雖白而已干，熱雖微而睛赤，忌投溫燥，宜予輕清。用元參、石斛、梔子、竹茹、旋覆、蛤殼、貝母、枇杷葉、竹葉、蘭葉、蓮心為劑，三啜而安。自謂氣虛，遽服黨參、枸杞、當歸等藥，下咽之後，即覺火升氣逆，漸至言語支離，溲頻自汗，夤夜復迎孟英拯治。脈已虛促不調，即投牡蠣、龜板、鱉甲、女貞、旱蓮、元參、甘草、小麥、竹葉、蓮心，以和心肝之陽，而鎮龍雷之奮，一劑而平。繼又作勞復感，仍授輕清之法。兩劑後又因怫怒縈思，肝陽復僭，顴紅目赤，左耳時聾，夜不成眠，神情煩躁，越日陡然大汗濕透衣衾，再速孟英圖之。脈極弦數而細，仍為陰虛陽越，不可誤認陽虛，而妄施附、桂者。先令熏以炭醋，撲以蠣粉，隨灌以大劑二至、二冬、三甲、元參、丹參、人參、黃連、童溲而瘳。繼予多劑育陰清肝，始得全愈。又其媳新產之後，頭痛甚劇，孟英按其脈右甚滑大，予清陽明法，得大解而瘥。</p>

<h1>跋</h1>
<p>或疑孟英醫案二種，雖證治多條，而善用清涼，短於溫補，以之立法，毋乃偏乎？余曰：火烈，民望而畏之，故鮮死焉；水懦弱，民狎而玩之，故多死焉。藥則反是，涼解則人望而畏之，設以涼解生之而不感；溫補則人狎而玩之，設以溫補殺之而不怨。徇人慾而求合於世者，咸操此術焉。而孟英者，讀書明道，知藥為治病之具也，見是病用是藥，宜熱宜涼，初無成見。然七情內動即是火邪，六氣外侵皆從熱化，自然熱證浮於寒證，涼解多於溫補，正是補偏救弊，隨時而中之法，胡可謂之偏耶？再以餘數十年來目擊親族之病而驗之，大抵不死於溫，則死於補，即不遽死，而漸成錮疾，亦遷延以死，言之痛心，指不勝屈。姑就餘一家而言，胞叔偶於秋間發熱，舌色黃膩，醫以其七旬有餘也，投溫補而尋斃。余從母患痰火，醫以其右尺之沉微無力也，而投溫補，旋變癲狂，延數年斃。余長男周歲發熱，醫謂慢驚，投參、術而殞。次男亦然，乃變癇證，久之亦殞。籲！可不慘哉！可不畏哉！迨季男患滯下，幼科治之漸劇，僉議參、附挽回，余謂殷鑑不遠，與其死於火，寧死於水，徑投犀角等藥多劑得生。考古有救溺死之方，即此可悟，又何疑歟？</p>
<p><u>庚戌秋七月族兄燮瘦石謹跋</u></p>
