<header data-type="book">
<h1>黃帝內經素問校義</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>胡澍</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1880">公元1880年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第一冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521051">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>漢志錄醫家言首黃帝內經隋志有全元起注內經已佚不可盡見今所傳惟唐王冰注本章句已非全氏之舊矣然古字古義尚有存者明以來傳刻本尤多淆亂庸師俗工習非成是莫可究詰績溪胡君荄甫精華小學中年多病留心方書得宋本內經用元熊氏本明道藏本及唐以前載籍勘正之多所發明如飲食有節起居有常不妄作勞全元起注本云飲食有常節起居有常度不妄不作君謂作與詐同月令毋或作為淫巧鄭注曰今月令作為為詐偽不妄與不作相對為文作古讀若胙上與者數度為韻下與俱去為韻王氏改不妄不作為不妄作勞是誤讀作為作為之作而以作勞連文殊不成義又不知持滿不時御神君謂時善也不時御神謂不善御神也小雅頍弁篇爾淆既時毛傳時善也又夫上古聖人之教下也皆謂之全元起注本云上古聖人之教也下皆為之君謂下皆為之言下皆化之也書梓材厥亂為民論衡效力篇引作厥率化民是為即化也作謂者為之借字王氏吳以謂為告謂之謂乃升下字於上句也字之上失其指矣又唯聖人從之故身無奇病君謂奇當為苛字形相似而誤苛亦病也古人自有復語字本作疴說文疴病也下文逆之則災害生從之則苛疾不起是謂得道上承此文而言則奇病之當作苛病明矣苛疾與災害對舉則苛亦為病明矣又道者聖人行之愚者佩之君謂佩讀為倍說文倍反也聖人行之愚者佩之謂聖人行道愚者倍道也荀子大略篇一佩易之注佩或為倍是古通用之證又故聖人傳精神君謂傳當為摶字之誤也摶與專同言聖人精神專一不旁騖也古書專一字多作摶繫辭傳其靜也專釋文專陸作摶昭二十五年左傳若琴瑟之專一釋文專本作摶史記秦始皇紀摶心揖志索隱摶古專字皆其證又此陰陽更勝之變病之形能也君謂能讀為態荀子天論篇耳目鼻口形能各有接而不相能也形能亦形態楚辭九章固庸態也論衡累害篇態作能漢書司馬相如傳君子之態史記徐廣本態作能皆古人以能為態之登並因刊正文字達其訓故別白精審渙然冰釋雖於全書尚未卒業然耑緒已立必有賡續之者壽曾嘗論醫家之有內經博大精深與儒家之五經同而無義疏之學海內學人而知醫者曷即王冰之注輔以全氏逸義用治疏法說其聲訓名物更採靈樞難經以下古醫家言疏通證明俾軒岐大業昭揭於世不為庸師俗工所蔀則君此書其先河矣因讀君書附論及之</p>
<p><u>光緒辛巳春三月癸亥朔儀徵劉壽曾識於冶城山館</u></p>

<h1>戶部郎中胡君荄甫事狀</h1>
<p>同治十一年歲在壬申八月十四日荄甫戶部以疾卒於京邸年四十有八訃至培係為文哭之君所著內經校義今刑部尚書潘伯寅先生為刻於都中培系以南方學者不易觀乃重為刊布自念與君少同學長同志知君最深刻既竟因撰次君之行事為狀以乞志傳俾後世有考焉君諱澍字荄甫一字甘伯號石生績溪縣城北人先世三山公諱舜陟宋大觀三年進士歷官徽猷閣待制贈少師宦跡見宋史本傳著有論語義師律陣圓奏議文集詠古詩三山老人語錄仲子苕溪公諱仔知晉陵縣事著有孔子編年苕溪漁隱叢話</p>
<p>國朝收入</p>
<p>四庫全書傳至明充寰公諱思伸萬曆乙未進士官至右僉都御史巡撫保定等府提督紫荊等關宦跡見府縣誌著有督撫奏議邊垣圓紀是為君八世祖自充寰公以下人</p>
<p>國朝潛德弗耀君之曾祖公諱立三貤贈儒林郎祖時未公諱仕未例授登仕郎贈儒林郎晉贈朝議大夫父正暉公諱尚昱例授儒林郎候選直隸州同知贈奉政大夫曾祖母高氏貤贈安人祖母許氏贈安人晉贈恭人母周氏生母程氏俱贈宜人庶母葉氏例封安人州同公性孝友家夙貧慮無以供甘旨乃棄儒而賈柱來江浙間數十年遂致饒裕以好義博施著聞於時邑有善舉無不預焉年五十尚無子七十有子七人人咸謂積善之報君其長也幼穎悟父母奇愛之一日州同公過先君塾中見其所以教培系兄弟者心敬異之乃命君受業焉君時方九齡培系年十二自此以至弱冠凡讀書作文字飲倉居處無不與君共之君沉默寡言所誦讀不煩督責先君視之異於群弟子年十四丁生母程太宜人憂哀毀如成人早有文譽年十六七與邑中知名士結社相酬唱辛丑秋修禊於邑東石照山繪圖賦詩君年最少儕輩皆折服癸卯秋先君膺疾君與培系星夜走二十里求醫藥先君捐館君補被就培系兄弟於苦凷中與同臥起古所謂心喪於君見之甲辰君與培系兄弟讀書郡城之紫陽書院是歲以古學受知於督學季文敏公芝昌補徽州府學生丙午偕培系就試金陵棹邗江覽紅橋竹西諸勝阻風京口登金山寺浮圖培系及半欲止君強捋培系手直竅其巔於是道吳門溯錢塘泛舟西湖經月始返是時購得洪稚存孫開如黃仲則諸先生著述慨然有志其為人開如先生集中有釋人一篇君博稽古訓為之疏通證明嘉定朱亮甫先生右曾見其書曰某行年五十閱人頗多英年嗜學如君者實所罕觀君益自奮勵常思發名成業以顯揚其親未幾周太宜人暨州同公相繼棄卷君營葬事畢乃負笈杭州從溧陽繆武烈公梓習制舉業君弱冠以前所作時藝不甚合繩墨而時有英銳之氣至是武烈公教以古文之法為時文君乃大喜每聞公緒論條記為一編曰尊聞錄心摹手追務竟其學已未舉於鄉庚申春計偕入都至清江道梗折回是歲二月粵匪竄績溪君舊居大廈一夕變為灰燼遺業蕩然杭城旋亦失守君歸則已無家乃攜眷屬奔走浙東西自是烽火驚天幾無所託命矣壬戌杭城再陷君挈幼子良駒間關險難同至蘇州遇救得脫旋由滬上附輪船北上乙丑會試報罷援例授內閣中書尋乞假南歸戊寅會試復不第乃捐陸郎中分發戶部山西司是時仕途冗雜司員需次甚夥君資淺無可自見仍以著書為事不妄與人酬酢體素羸又以更歷憂患精力損耗壬申二月與培系書云嘗以風塵馳逐驗輪號之鐵每歲必銷寸許況以脆薄之身當之無怪其然矣某入都來痔瘡已成痼疾頻發無休而他疾之嬰身者靡月不有年未五十興致索然數年後便料理歸休矣人生能得數十卷書以傳後而有佳子孫以葆守勝於萬戶侯多多矣某思之慕之而東塗西抹迄用無成可懼也此君之絕筆嗚呼君固淡於宦情篤於撰述襄見家竹村先兄郝蘭皋年丈皆官戶部並以絕學名當世竊冀君踵其轍天柰何既嗇其遇又嗇其年使君仕宦既不成著書又不就徒抱其所蘊蓄而鬱郁以終斯生人之極哀已君少有至性事父母愉色婉容終身有孺子之慕與諸弟尤友愛少弟祥麟以浙江候補府經歷從戎衢州積勞成疾君得耗促裝赴衢為之稱藥量水衣不解帶者匝月弟歿又為扶櫬歸葬行路誤哀之君身裁中人文弱如不勝衣而遇事有膽略於所親厚同患難托死生毅然引為己任與人交不為崖岸和易溫婉人以是親之然胸中涇渭劃然不肯隨俗俯仰嘗歷數交遊私為籍記而第其甲乙培系戲謂曰君為月旦評乎抑為古今人表乎君笑謝之培系與君客繆武烈公前後六七年與同門餘姚周君雙庚會稽趙君撝叔溧陽王君西坨繆君芷汀稚循昆季以文章道誼相切磋數君俱負舊才然皆雅愛君每考古訂今搜奇選勝非君在不樂也一時經學淹通之士如歸安楊君見山德清戴君子高皆與君一見如舊相識居京師時潘伯寅先生方官戶部侍郎引為文字交潘氏滂喜齋所刻唐釋湛然輔行記君所掇錄也君之援例戶曹也王君西坨厚資之君歿潘司農暨家芸楣比部為之經紀其喪且為歸其旅櫬及其眷屬又為刻其遺書數公風誼為不可及亦君之賢有以致之也君總角能詩初學太白稍長自以為不足傳遂不復作駢體文有齊梁風味亦不多作先君授以段氏說文注顧氏音學五書江氏四聲切韻表諸書遂通聲音訓詁之學後見高郵王氏書益篤嗜之雖在逆旅中塵積滿案暇必展卷翌索每得一義則怡愉累日庚申以後不獲常聚首然每見輒以所心得之相質證娓娓不倦少時所著釋人疏證左傳服氏注義通俗玄疏證俱毀於兵火中年多病因治醫術時有超悟後於都肆得宋刻內經乃以元熊氏本明道藏本及唐以前古書悉心校勘發明古義撰內經校義草創未就今存數十條詁說精確其義例略如王氏讀書雜誌又為從兄印溪校刊先苕溪公孔子編年於本書之外博考先聖事蹟之見於他書者以為之跋極稱賅洽又淮南子一切經音義均有校本又著有墨守編正名錄俱未成君精刻印工篆書得秦漢人遺意至今學者珍之性嗜蓄意每下直輒至琉璃廠書肆搜求善本觸其所好必購得之雖典質不少吝所積至五千余卷嘗自言於春秋慕叔向於西漢慕劉向欲顏所居曰二向堂其志趣如此吾族人丁蕃盛培系與君自始祖以下十五傳皆同祖嗣後各為一支培繫於君為族叔祖君幼受經於先君遂倍相親暱中更多難倚之如左右手遇困阨君恆典衣濟之培係為戚某所齮齕君力為捍蔽不避嫌怨培系性褊急於內外人已閒每不善處多致繆郝君常婉言諷諭當抑鬱不自得時得君一言輒渙然冰釋亦不自知其何心也蓋自少至老數十年共嘗甘苦不以榮枯得喪易其心者惟君一人而已方謂生為我鮑叔死為我巨卿豈意君竟先我而逝耶傷哉君生於道光五年乙酉四月初二日卒葬邑南門外之洪上塘娶周氏封宜人再娶萬氏子二長良恭議敘九品銜周出次良駒國子監生萬出女二俱周出一適李一適孫男人孫女人良駒器宇魁偉舉止頗肖君殆能世其學者</p>
<p><u>光緒六年歲次庚辰八月族叔祖培系謹狀</u></p>

<h1>素問</h1>
<p>宋林億等校曰按王氏不解所以名素問之義全元起有說云素者本也問者黃帝問岐伯也方陳性情之源五行之本故曰素問元起雖有此解義未甚明按乾鑿度云夫有形者生於無形故有太易有太初有太始有太素太易者未見氣也太初者氣之始也太始者形之始也太素者質之始也氣形質具而疴瘵由是萌生故黃帝問此太素質之始也素問之名義或由此俞氏理初持素目錄序曰素問名義如素王之素黃帝以大神靈遍索先師所惜著之精光之論仍復請藏慎傳古人刑名八索九醫素索醫皆空也刑病皆空設之欲人不犯法不害性故曰湯液醪醴為而不用澍案全說固未甚明林說亦遷曲難通俞氏以索證素是矣而云素索醫皆空也雖本劉熙張衡為說見釋名及昭十二年左傳正義實亦未安今案素者法也鄭注士喪禮曰形法定為素宣十一年左傳曰不愆於素漢博陵太守孔彪碑曰遵王之素素皆謂法字通作索（六節藏象論注八素經林校曰素一作索書序八索昭十二年左傳八索釋文並曰索本作素昭十二年左傳是能讀三墳五典八索九醫賈逵曰八索三王之法）定四年傳疆以周索杜預曰索法也黃帝問治病之法於岐伯故其書曰素問素問者法問也猶後世揚雄著書謂之法言矣三墳五典八索九醫典索皆得訓法夫曰五法八法之問義無乖牾若如俞說則是八索為八空九醫為九空素問為空問不詞孰甚焉故特辨之</p>
<p>人將失之邪</p>
<p>今時之人年半百而動作皆衰者時世異邪人將失之邪澍案人將失之邪當作將人失之邪下文曰人年老而無子者材力盡邪將天數然也（也與邪古字通大戴禮五帝德篇請問黃帝者人邪抑非人邪樂記正義引邪作也史記張儀傳此公孫衍所謂邪秦策邪作也淮南精神篇其以我為此拘拘邪莊子大宗師篇邪作也是也上句用邪而下句用也者書傳中多有之昭二十六年左傳不知天之棄魯邪抑魯君有罪於鬼神故及此也史記淮南衡山傳公以為吳興兵是邪非也貨殖傳豈所謂素封者邪非也是也）徵四失論曰子年少智未及邪將言以雜合邪與此文同一例將猶抑也時世異邪將人失之邪謂時世異邪抑人失之邪材力盡邪將天數然也謂材力盡邪抑天數然邪子年少智未及邪將言以雜合邪謂子年少智未及邪抑言以雜合邪注以將為且失之楚策曰先生老悖乎將以為楚國襖祥乎漢書龔遂傳曰今欲使臣勝之邪將安之也（也與邪通）楚辭卜居曰吾寧悃悃款款樸以忠乎將送往勞來斯無窮乎寧誅鋤草茅以力耕乎將遊大人以成名乎以上將字亦併為詞之抑</p>
<p>食飲有節起居有常不妄作勞</p>
<p>上古之人其知道者法於陰陽和於術數食飲有節起居有常不妄作勞故能形與神俱而盡終其天年度百歲乃去食飲有節三句林校曰按全元起注本云飲食有常節起居有常度不妄不作太素同澍案全本楊本是也作與詐同（月令毋或作為淫巧以蕩上心鄭注曰今月令作為為詐偽荀子大略篇曰藍苴路作似知而非作亦詐字）法於陰陽和於術數相對為文飲食有常節起居有常度相對為文不妄與不作相對為文（徵四失論曰飲食之失節起居之過度又曰妄言作名亦以節度妄作對文）作古讀若胙上與者數度為韻下與俱去為韻王氏改飲食有常節起居有常度為食飲有節起居有常則句法虛實不對改不妄不作為不妄作勞是誤讀作為作為之作（楊上善太素注誤同）而以作勞連文殊不成義既乖經旨又昧古人屬詞之法且使有韻之文不能諧讀一舉而三失隨之甚矣古書之不可輕改也</p>
<p>以耗散其真</p>
<p>以欲竭其精以耗散其真林校曰按甲乙經耗作好澍案以耗散其真與以欲竭其精句義不對則皇甫本作好是也好讀耆好之好好亦欲也（凡經傳言耆好即耆欲言好惡即欲惡孟子告子篇所欲有甚於生者中論天壽篇作所好荀子不苟篇欲利而不為所非韓詩外傳作好利）作耗者聲之誤耳王注謂輕用曰耗乃臆說不可通</p>
<p>不時御神</p>
<p>不知持滿不時御神林校曰按別本時作解澍案時字是解字非也時善也不時御神謂不善御神也小雅頍弁篇爾淆既時毛傳曰時善也廣雅同解與時形聲均不相近無緣致誤亦無由得通蓋後人不明時字之訓而妄改之且善亦有解義學記相觀而善之謂摩正義曰善猶解也是也愈不必改為解矣</p>
<p>天上古聖人之教下也皆謂之</p>
<p>林校曰按全元起注本云上古聖人之教也下皆為之太素千金同楊上善云上古聖人使人行者身先行之為不言之教不言之教勝有言之教故下百姓仿行者眾故曰下皆為之澍案全本楊本孫本及楊說是也夫上古聖人之教也（句）下皆為之（句）下皆為之言下皆化之也書梓材厥亂為民論衡效力篇引作厥率化民是為即化也王本作謂者為之借字耳僖五年左傳曰一之謂甚其可再乎六微旨大論曰升已而降降者謂天降已而升升者謂地昭元年傳曰此之謂多矣若能少此吾何以得見十年傳曰佻之謂甚矣而一用之二十一年傳曰登之謂甚吾又重之周語曰守府之謂多胡可興也晉語曰八年之謂多矣何以能久大戴禮少間篇曰何謂其不同也（此從元本楚策曰人皆以謂公不善於富摯管子霸言篇曰故貴為天子富有天下而我不謂貪者）韓詩外傳曰王欲用女何謂辭之又曰何謂而泣也淮南人間篇曰國危而不安患結而不解何謂貴智列女傳仁智傳曰知此謂誰新序雜事篇曰何謂至於此也漢書文帝紀曰是謂本末者無以異也以上並以謂為為為與謂一聲之轉故二字往往通用說苑君道篇則何為不具官乎晏子春秋問篇為作謂呂氏春秋精輸篇胡為不可淮南道應篇為作謂文子微明篇居知所為淮南人間篇為作謂（此從道藏本）漢書高帝紀酈食其為里監門英布傳胡為廢上計而出下計史記為並作謂正如素問下皆為之而王氏所據本為字作謂蓋假借皆主乎聲語辭之為通作謂行為之為通作謂作為之為通作謂故化為之為亦通作謂王氏不達誤以謂為告謂之謂乃升下字於上句也字之上以上古聖人之教下也為句皆謂之三字下屬為句失其指矣</p>
<p>恬惔虛無</p>
<p>恬惔元熊宗立本明道藏本均作恬憺澍案一切經音義十六引蒼頡篇曰惔恬也是惔與憺同（憺之為惔猶澹之為淡文選潘安仁金谷集詩綠池汎淡淡李善曰淡與澹同）然釋音作恬憺則宋本本作恬憺陰陽應象大論樂恬憺之能（藏本作恬憺憺亦與澹同淮南俶真篇注憺定也後漢書馮衍傳注澹定也澹與淡同故淮南泰族篇靜漠恬惔其字亦作淡）移精變氣論此恬憺之世亦並作恬憺</p>
<p>其民故曰樸</p>
<p>故美其食任其服樂其俗高下不相慕其民故曰樸林校曰按別本曰作日（宋本曰上衍云字今據熊本藏本刪）澍按曰字義不可通別本作日是也日與孟子盡心篇民日遷義之日同義言其民故日以樸也作曰者形似之誤大戴禮曾子天圓篇故火日外景而金水內景淮南天文篇日作曰誤與此同</p>
<p>發始墮　發墮　鬚眉墮</p>
<p>五七陽明脈衰面始焦發始墮又下文曰五八腎氣衰發墮齒槁長刺節論曰病大風骨節重鬚眉墮（熊本藏本作墯）王於墮字均無注澍案墮本作鬌說文鬌發墮也字通作墮墮之為言禿也墨子修身篇華髮墮顛而猶弗捨墮顛即禿頂今俗語猶然發禿謂之墮鬚眉禿謂之墮毛羽禿謂之毻。（文選江賦產毻積羽李善曰⿰羊莫與毻同引字書⿰羊莫落毛也郭璞方言注曰鬌毛物漸落去之名）角禿謂之隨（呂氏春秋至忠篇荊莊哀王獵於雲夢射隨兕中之）尾禿謂之橢（淮南說山篇髡屯犁牛既科以橢高誘曰科無角橢無尾）草木葉禿謂之墮（脈解篇草木畢落而墮大元窮次四土不和木科橢範望曰科橢枝葉不布）聲義並同也</p>
<p>此雖有子男不過盡八八女不過盡七七</p>
<p>帝曰有其年已老而有子者何也岐伯曰此其天壽過度氣脈常通而腎氣有餘也此雖有子男不過盡八八女不過盡七七而天地之精氣皆竭矣王注此雖有子三句曰雖老而生子子壽亦不能過天癸之數澍案此謬說也詳岐伯之對謂年老雖亦有子者然大要生子常期男子在八八以前女子在七七以前故曰此雖有子男不過盡八八女不過盡七七而天地之精氣皆竭矣男不過盡八八之男即承上文之丈夫而言女不過盡七七之女即承上文之女子而言並非謂年老者所生之子何得雲子壽亦不過天癸之數乎且老年之子必不壽亦無是理</p>
<p>真人</p>
<p>余聞上古有真人者提挈天地把握陰陽王注曰真人謂成道之人也澍案注義泛而不切且成與全義相因無以別於下文淳德全道之至人今案真人謂化人也說文曰真仙人變形而登天也從匕（匕即化之本字）從目從匕八所乘載也是其義矣</p>
<p>至人</p>
<p>中古之時有至人者淳德全道王注曰全其至道故曰至人林校引楊上善曰積精全神能至於德故稱至人澍案楊王二注皆望下文生義不思下文言淳德全道不言至德至道殆失之矣今案至者大也爾雅曰晊大也郭璞作至釋文曰晊本又作至易彖傳曰大哉乾元至哉坤元鄭注哀公問曰至矣言至大也高誘注秦策曰至猶大也注呂氏春秋求人篇曰至大也是至人者大人也乾文言曰夫大人者與天地合其德與此文有至人者淳德全道意義相似莊子天下篇曰不離於真謂之至人不離於真猶下文言亦歸於真人也故居真人之次論語曰畏大人畏聖人之言故在聖人之上</p>
<p>使志若伏若匿若有私意若已有得</p>
<p>熊本藏本若匿作若匪注云今詳匪字當作匿澍案高誘注呂氏春秋論人篇曰匿猶伏也經以匿與伏並舉又與意得相韻（意古或讀若億論語先進篇億則屢中漢書貨殖傳億作意明夷象傳獲心意也與食則得息國則為韻管子戒篇身在草茅之中而無懾意與惑色為韻呂氏春秋重言篇將以定志意也與翼則為韻楚辭天問何所意焉與極為韻秦之眾刻石文承順聖意與德服極則式為韻）其為匿字無疑王注生氣通天論引此亦作匿尤其明證也作匪者乃北宋以後之誤本何以明之匿與匪草書相似故匿誤為匪一也宋本正作匿生氣通天論注引同則今詳匪字當作匿之注其非王注可知二也今詳上無新校正三字又非林校可知三也蓋南宋時有此作匪之本讀者旁記今詳匪當作匿七字傳寫錯入注內而熊本藏本遂並沿其誤耳</p>
<p>又案若有私意當本作若私有意寫者誤倒也春秋繁露循天之道篇曰心之所之謂意鄭注王制曰意思念也若私有意謂若私有所念也已亦私也鄭注特牲饋食禮記曰私臣自已所闢除者注有司徹曰私人家臣已所自謁除也注曲禮下曰私行謂以已事也注聘義曰私覿私以己禮覿主國之君是己猶私也若己有得謂若私有所得也若私有意若己有得相對為文若如今本則句法參差不協矣生氣通天</p>
<p>論注所引亦誤</p>
<p>若有私意當作若私有意是也私不必解作己引鄭義尚牽強按若私有意申上若伏若已有得申上若匿伏者初無所有而動於中故曰私有意匿者已為所有而居於內故曰已有得（趙之謙附記）</p>
<p>名木</p>
<p>則名木多死王注曰名謂名果珍木澍案注未達名字之義作疴說文疴病也引五行傳曰時即有口疴或作痾廣雅痾病也洪範五行傳時則有下體生上之痾鄭注曰痾病也通作苛呂氏春秋審時篇身無苛殃高誘曰苛病至真要大論曰夫陰陽之氣清靜則生化治動則苛疾起管子小問篇曰除君苛疾苛疾即苛病也（疾與病析言則異渾言則通）下文故陰陽四時者萬物之終始也死生之本也逆之則災害生從之則苛疾不起是謂得道上承此文而言則奇病之當作苛病明矣苛疾與災害對舉則苛亦為病明矣王注於本篇之苛疾曰苛者重也於至真要大論之苛疾曰苛重也不知此所謂苛疾與生氣通天論雖有大風苛毒六元正紀大論暴過不生苛疾不起之苛異義（六元正紀大論注苛重也）彼以苛毒與大風相對與暴過相對此則苛疾與災害對與生化對文變而義自殊言各有當混而一之則通於彼者必閡於此矣</p>
<p>肺氣焦滿</p>
<p>林校曰按焦滿全元起本作進滿甲乙太素作焦滿澍案作焦者是也全本作進乃形似之訛焦與痿論肺熱葉焦之焦同義滿與痹論肺痹者煩滿之滿同義王注以焦為上焦肺氣上焦滿頗為不辭焦滿與下濁沉對文若焦為上焦則與下文不對且上焦亦不得但言焦斯為謬矣</p>
<p>腎氣獨沉</p>
<p>林校曰詳獨沉太素作沉濁（藏本作獨）澍案獨與濁古字通秋官序官壺涿氏鄭司農注獨讀為濁又蟈氏疏獨音與涿相近書亦或為濁然則獨沉沉濁義得兩通</p>
<p>愚者佩之</p>
<p>道者聖人行之愚者佩之澍案佩讀為倍說文倍反也荀子大略篇教而不稱師謂之倍楊倞注曰倍者反逆之名也字或作偝（見坊記投壺）作背（經典通以背為倍）聖人行之愚者佩之謂聖人行道愚者倍道也行與倍正相反故下遂云從陰陽則生逆之則死從之則治逆之則亂從與逆亦相反從即行（廣雅從行也）逆即倍也（見上荀子注）佩與倍古同聲而通用釋名曰佩倍也言其非一物有倍二也是古同聲之證荀子大略篇一佩易之注曰佩或為倍是古通用之證王注謂聖人心合於道故勤而行之愚者性守於迷故佩服而已此不得其解而曲為之說古人之文恆多假借不求諸聲音而索之字畫宜其詰鞫為病矣</p>
<p>傳精神</p>
<p>故聖人傳精神服天氣而通神明澍案傳字義不可通王注謂精神可傳惟聖人得道者乃能爾亦不解所謂傳當為摶字之誤也（摶與傳搏博相似故或誤為傳或誤為搏或誤為博並見下）摶與專同言聖人精神專一不旁騖也（徵四時論曰精神不專）寶命全形論曰神無營於眾物義與此相近古書專一字多作摶繫辭傳其靜也專釋文曰專陸作摶昭二十五年左傳若琴瑟之專一釋文曰專本作摶史記秦始皇紀摶心揖志索隱曰摶古專字管子立政篇曰一道路摶出入幼官篇摶一純固（今本摶並訛作博）內業篇曰能摶乎能一乎（今本摶訛作博）荀子儒效篇曰億萬之眾而摶若一人（今本摶訛作博）講兵篇曰和摶而一（今本摶亦訛作博）呂氏春秋適音篇耳不收則不摶高注曰不摶入不專一也皆其證</p>
<p>因於濕首如裹</p>
<p>澍案此言病因於濕頭如蒙物不瞭了耳注蒙上文為說謂表熱為病當汗泄之反濕其首若濕物裹之則是謂病不因於濕邪之侵而成於醫工之誤矣且表熱而濕其首從古無此治法王氏蓋見下文有因而飽食云云因而大飲云云因而強力云云相因為病遂於此處之因於寒因於暑因於濕因於氣（氣謂熱氣說見下條）亦相因作解故有此謬說不思彼文言因而自是相因之病此言因於則寒暑濕熱各有所因本不相蒙何可比而同之乎前後注相承為說皆誤而此注尤甚故特辨之</p>
<p>因於氣為腫</p>
<p>澍案此氣指熱氣而言上云寒暑濕此若泛言氣則與上文不類故知氣謂熱氣也陰陽應象大論曰熱勝則腫本篇下注引正理論曰熱之所過則為癰腫故曰因於氣為腫</p>
<p>汗出偏沮</p>
<p>汗出偏沮使人偏枯王注曰夫人之身常偏汗出而潤濕者（宋本作濕潤此從熊本藏本）久之偏枯半身不隨林校曰按沮千金作祖全元起本作恆澍案王本並注是也一切經音義卷十引倉頡篇曰沮漸也廣雅曰沮潤漸洳濕也魏風彼汾沮洳毛傳曰沮洳其漸洳者王制山川沮澤何氏隱義曰沮澤下濕地也是沮為潤濕之象曩澍在西安縣署見侯官林某每動作飲食左體汗泄濡潤透衣雖冬月猶爾正如經注所云則經文本作沮字無疑且沮與枯為韻也孫本作祖乃偏旁之訛（說文古文示作⿱一巛與篆書巛字相似故沮誤為祖）全本作恆則全體俱誤矣（沮之左畔訛從心小雅采薇正義引鄭氏易注所謂古書篆作立心與水相近者也其右畔訛作亙亙與且今字亦相近故合訛而為恆）</p>
<p>足生大丁</p>
<p>高粱之變足生大丁王注曰高膏也梁粱也（宋本作梁也從熊本藏本）膏粱之人內多滯熱皮厚肉密故肉變為丁矣所以丁生於足者四肢為諸陽之本也林校曰丁生之處不常於足蓋謂膏粱之變饒生大丁非偏著足也澍案林氏駁注丁生不常於足是矣其云足生大丁為饒生大丁辭意鄙俗殊覺未安足當作是字之誤也（荀子禮論篇不法禮不是禮謂之無方之民法禮是禮謂之有方之士今本是並訛作足）是猶則也爾雅是則也是為法則之則故又為語辭之則大戴禮王言篇教定是正矣家語王言解作政教定則本正矣鄭語若更君而周訓之是易取也韋昭曰更以君道導之則易取言膏粱之變則生大丁也</p>
<p>春必溫病</p>
<p>冬傷於寒春必溫病澍案春必溫病於文不順寫者誤倒也當從陰陽應象大論作春必病溫（宋本亦誤作溫病今從熊本藏本乙正）金匱真言論曰故藏於精者春不病溫玉版論要曰病溫虛甚死平人氣象論曰尺熱曰病溫熱論曰先夏至日者為病溫評熱病論曰有病溫者汗出輒復熱皆作病溫</p>
<p>筋脈沮弛精神乃央</p>
<p>味過於辛筋脈沮弛精神乃央王注曰沮潤也弛緩也央久也辛性潤澤散養於筋故令筋緩脈潤精神長久何者辛補肝也藏氣法時論曰肝欲散急食辛以散之用辛補之澍案注說非也沮弛之沮與汗出編沮之沮異義彼讀平聲此讀上聲沮弛謂壞廢也一切經音義卷一引三蒼曰沮敗壞也小雅小旻篇何曰斯沮楚辭九嘆顏黴薰以沮敗兮毛傳王注並曰沮壞也漢書司馬遷傳注曰沮毀壞也李陵傳注曰沮謂毀壞之弛本作弛襄二十四年穀梁傳弛侯荀子王制篇大事殆□□□□楊倞並曰弛廢也或作弛漢書文帝紀輒弛以利民顏注曰弛廢弛文選西京賦城尉不弛柝薛綜曰弛廢也本篇上文曰大筋緛短小筋弛長緛短為拘弛長為痿痿與廢相近刺要論肝動則春病熱而筋弛注曰弛猶縱緩也皮部論熱多則筋弛骨消注曰弛緩也縱緩亦與廢相近廣雅弛縱置也置即廢也是沮弛為壞廢也林校曰央乃殃也古文通用如膏粱之作高梁草滋之作草茲之類案林讀央為殃得之漢無極山碑為民來福除央吳仲山碑而遭禍央殃並作央即其證惟未解殃字之義澍謂殃亦敗壞之意廣雅曰殃敗也月令曰冬藏殃敗晉語曰吾主以不賄聞於侯今以梗陽之賄殃之不可是殃為敗壞也沮弛央三字義相近故經類舉之經意辛味太過木受金刑則筋脈為之壞廢精神因而敗壞故曰味過於辛筋脈沮弛精神乃央筋脈沮弛與形體毀沮精氣弛壞同意（形體毀沮疏五過論文精氣弛壞湯液醪醴論文）精神乃央與高骨乃壞同意（高骨乃壞見上文）王注所說大與經旨相背且此論味過所傷而注牽涉於辛潤辛散辛補之義斯為謬證矣</p>
<p>是以知病之在皮毛也藏本無也字澍案上文是以知病之在筋也是以知病之在脈也是以知病之在肉也下文是以知病之在骨也句末皆有也字不應此句獨無藏本脫</p>
<p>生長收藏</p>
<p>天有四時五行以生長收藏熊本藏本生長作長生澍案作長生者誤倒也有生而後有長不得先言長而後言生注曰春生夏長秋收冬藏謂四時之生長收藏是正文本作生長之明證下文亦曰故能以生長收藏終而復始</p>
<p>春必溫病</p>
<p>熊本藏本作春必病溫澍案當從熊本藏本乙轉說見生氣通天論</p>
<p>水火者陰陽之徵兆也</p>
<p>故曰天地者萬物之上下也陰陽者血氣之男女也左右者陰陽之道路也水火者陰陽之徵兆也陰陽者萬物之能始也澍案陰陽之徵兆也本作陰陽之兆徵也上三句下女路為韻（下古讀若戶召南採蘋宗室牖下與女韻殷其雷在南山之下與處韻邶風擊鼓於林之下與處馬韻凱風在浚之下與苦韻唐風采苓首□之下與苦與韻陳風宛醫宛醫之下與鼓夏羽韻東門之枌婆娑其下與栩韻幽風七月入我床下與股羽野宇戶鼠戶處韻小雅四牡載飛載下與栩鹽父韻北山溥天之下與土韻采菽邪幅在下與殷紓予韻大雅綿至於𧄍下與父馬滸女宇韻皇矣以對於天下與怒旅旅祜韻鳧鷖福祿來下與渚處湑脯韻烝民昭假於下與甫韻魯頌有駜鷺於下與鷺舞韻其餘群經諸子有韻之文不煩枚舉也）下一句徵始為韻徵讀如宮商角徵羽之徵（文十年左傳秦伯伐晉取北徵釋文徵如字三蒼雲縣屬馮翊音懲一音張里反）洪範念用庶徵與疑為韻逸周月篇災咎之徵（從太平御覽時序部十三所引）與負婦為韻（負古讀若丕小雅小宛果蠃負之與採似韻大雅生民是任是負與秠芑秠畝芑祀韻大戴記曾子制言上篇行則為人負與趾否韻婦古讀若否泰之否大雅思齊京室之婦與母韻周頌載芟思媚其婦與以土耜畝韻楚辭天問媵有莘之婦與子韻）是其證（蒸之二部古或相通鄭風女曰雞鳴雜佩以贈之與來韻宋玉神女賦復見所夢與喜意記異識志韻賈子連語篇其離之若崩與期韻又說文倗從人朋聲讀若陪位即從邑崩聲讀若倍凝為冰之或體而從疑聲𦀓為繒之□文而從宰省聲周官司几筵凶事仍幾注故書仍作乃爾雅第孫之子為仍孫漢書惠帝紀仍作耳楚策仰承甘露而飲之新序雜事篇承作時墨子尚賢篇守城則倍畔非命篇倍作崩史記賈生傳品物馮生漢書馮作每司馬相如傳葴橙若蓀漢書橙作持）今作徵兆者後人狃於習見蔽所希聞而臆改之而不知其與韻不合也凡古書之倒文協韻者多經後人改易而失其讀如衛風竹竿篇遠兄弟父母與右為韻而今本作父母兄弟（右古讀若以母古讀若每其字皆在之部若弟字則在脂部之與脂古音不相通）大雅皇矣篇同爾弟兄與王方為韻而今本作兄弟月令度有短長與裳量常為韻而今本作長短逸周書周祝篇惡姑柔剛與明陽長為韻（明古讀若芒）而今本作剛柔管子內業篇能無卜筮而知凶吉乎與一為韻而今本作吉凶（莊子庚桑楚篇誤同）莊子秋水篇無西無東與通為韻而今本作無東無西荀子解蔽篇有皇有鳳與心為韻（說文鳳從凡聲古音在侵部故與心韻猶風從凡聲而與心韻也見邶風綠衣穀風小雅何人斯大雅桑柔烝民）而今本作有鳳有皇淮南原道篇騖忽怳與往景上為韻（景古讀若樣）而今本作怳忽與萬物終始與右為韻而今本作始終天文篇決罰刑與城為韻而今本作刑罰兵略篇不可量度也與迫為韻（度同不可度思之度迫古讀若博）而今本作度量人間篇故蠹啄剖柱梁與羊為韻而今本作梁柱文選鵬鳥賦或趨西東與同為韻而今本作東西荅客難外有廩倉與享為韻而今本作倉廩皆其類也</p>
<p>陰陽者萬物之能始也</p>
<p>林校曰詳天地者至萬物之能始與天元紀大論同彼無陰陽者血氣之男女一句又以金木者生成之終始代陰陽者萬物之能始澍案陰陽者萬物之能始也當從天元紀大論作金木者生成之終始也金木與上天地陰陽左右水火文同一例終始與上上下男女道路兆徵皆兩字平列文亦同例若如今本則陰陽者三字與上相復能始二字義復難通注謂能為變化生成之元始（宋本吳本化下有之字此從熊本藏本）乃曲為之說即如注義仍與上四句文例不符蓋傳寫之訛也</p>
<p>病之形能也　樂恬憺之能　與其病能　及其病能　願聞六經脈之厥狀病能也　病能論　合之病能</p>
<p>此陰陽更勝之變病之形能也澍案能讀為態病之形能也者病之形態也荀子天論篇耳目鼻口形能各有接而不相能也形能亦形態（楊倞注誤以形字絕句能屬下讀高郵王先生荀子雜誌已正之）楚辭九章固庸態也論衡累害篇態作能漢書司馬相如傳君子之態史記徐廣本態作能（今本誤作熊）皆古人以能為態之證（態從心能而以能為態意從心音而管子內業篇以音為意志從心之而墨子天志篇以之為志其例同也此三字蓋皆以會意包諧聲）下文曰是以聖人為無為之事樂恬憺之能能亦讀為態與事為韻恬憺之能即恬憺之態也五藏別論曰觀其志意與其病能（今本誤作與其病也依太素訂正辨見本條）能亦讀為態與意為韻病能即病態也風論曰願聞其診及其病能即及其病態也厥論曰願聞六經脈之厥狀病能也厥狀與病能並舉即厥狀病態也弟四十八篇名病能論即病態論也方盛衰論曰循尺滑澀寒溫之意視其大小合之病能能亦與意為韻即合之病態也王於諸能字或無注或皮傅其說均由不得其讀釋音發音於本篇上文能冬不能夏曰奴代切下形能同則又強不知以為知矣</p>
<p>從欲快志於虛無之守</p>
<p>是以聖人為無為之事樂恬憺之能（讀為態說見上）從欲快志於虛無之守澍案守字義不相屬守當為宇廣雅宇尻也（經典通作居）大雅綿篇聿來胥宇魯頌閟宮篇序頌僖公能復周公之宇周語使各有寧宇楚辭離騷爾何懷乎故宇毛傳鄭箋韋王注並曰宇居也虛無之宇謂虛無之居也從欲快志於虛無之宇與淮南俶真篇而徙倚乎汗漫之宇句意相似高誘注亦曰宇居也宇與守形相似因誤而為守（荀子禮論篇是君子之壇宇宮廷也史記禮書壇宇誤作性守墨子經上篇宇彌異所也今本宇誤作守）</p>
