<header data-type="book">
<h1>養老奉親書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳直</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1085">公元1085年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>昔聖人詮置藥石，療諸疾病者，以其五臟本於五行，五行有相生勝之理也。榮衛本於陰陽，陰陽有逆順之理也。故萬物皆稟陰陽五行而生，有五色焉，有五味焉，有寒熱焉，有良毒焉。聖人取其色味冷熱良毒之性，歸之五行，處以為藥，以治諸疾。順五行之氣者，以相生之物為藥以養之；逆五行之氣者，以相勝之物為藥以攻之。或瀉母以利子。或瀉子以補母。此用藥之奇法也。</p>
<p>《經》曰：天地，萬物之盜；人，萬物之盜。人，所以盜萬物為資養之法。其水陸之物為飲食者，不啻千品，其五色、五味、冷熱、補瀉之性，亦皆稟於陰陽五行，與藥無殊。大體用藥之法，以冷治熱，以熱治冷。實則瀉之，虛則補之，此用藥之大要也。人若能知其食性，調而用之，則倍勝於藥也。</p>
<p>緣老人之性，皆厭於藥而喜於食，以食治疾，勝於用藥。況是老人之疾，慎於吐痢，尤宜用食以治之。凡老人有患，宜先食治；食治未愈，然後命藥，此養老人之大法也。是以善治病者，不如善慎疾；善治藥者，不如善治食。今以《食醫心鏡》、《食療本草》、《詮食要法》、《諸家法饌》、洎是注《太平聖惠方》食治諸法，類成養老食治方。各開門目，用治諸疾，具列於下。為人子者，宜留意焉。承奉郎前守泰州興化縣令陳直述。</p>

<h1>上籍</h1>

<h2>食治養老益氣方第一</h2>

<h3>一</h3>
<p><u>法制豬肚方</u>　食治老人補虛羸、乏氣力。</p>
<p>獖豬肚（二枚，洗，如食法）　人參（半兩，去蘆）　乾薑（二錢，炮製，銼）　椒（二錢，去目，不開口者。微炒）　蔥白（七莖，去須，切）　糯米（二合）</p>
<p>上件搗為末。入米合和相得，入豬肚內，縫合，勿令泄氣。以水五升於鐺內，微火煮令爛熟。空心服，放溫服之。次，暖酒一中盞飲之。</p>
<p><u>益氣牛乳方</u></p>
<p>牛乳最宜老人。性平，補血脈，益心，長肌肉，令人身體康強潤澤，面目光悅，志不衰。故為人子者，常須供之，以為常食。或為乳餅，或作斷乳等，恆使恣意充足為度，此物勝肉遠矣。</p>
<p><u>枸杞煎方</u>　食治老人頻遭病，虛羸不可平復，最宜服之。</p>
<p>生枸杞根（細銼，一斗，以水五斗，煮取一斗五升，澄清）　白羊脊骨（一具，銼碎）</p>
<p>上件藥，以微火煎取五升，去滓，取入瓷閤中。每服一合。與酒一少盞，合暖，每於食前溫服。</p>
<p><u>法煮羊頭方</u>　食治老人補五勞七傷虛損。</p>
<p>白羊頭蹄（一副，草火燒令黃色，刮去灰塵）　胡椒（半兩）　蓽茇（半兩）　乾薑（半兩）　蔥白（切，半升）　豆豉（半斤）</p>
<p>上件藥，先以水煮羊頭蹄半熟，納藥，更煮令爛，去骨。空腹適性食之。日食一具，滿七具即止。禁生、冷、醋、滑、五辛、陳臭、豬、雞等七日。</p>
<p><u>煎豬肪方</u>　食治老人大虛羸困極，宜服。</p>
<p>豬肪（未中水者，半斤）</p>
<p>上入蔥白一莖於銚內，煎令蔥黃即止。候冷暖如身體，空腹頻服之，令盡，暖蓋覆臥。至日晡後，乃白粥調糜。過三日後，宜服羊肝羹。</p>
<p><u>羊肝羹方</u></p>
<p>羊肝（一具，去筋膜，細切）　羊脊𦟘肉（二條，細切）　枸杞根（五斤，銼，以水一斗五升，煮取四升，去滓）　粬末半兩。</p>
<p>上用枸杞汁煮前羊肝等，令爛。入豉一小盞，蔥白七莖（切），以五味調和作羹，空腹食之。後三日，慎食如上法。</p>
<p><u>油麵餺飥方</u>　食治老人補虛勞。</p>
<p>生胡麻油（一斤）　浙粳米泔清（一斤）</p>
<p>上二味，以微火煎，盡泔清乃止，出貯之。取合鹽湯二合，將和麵作餺飥，煮令熟。入五味食之。</p>

<h3>二</h3>
<p>食治老人補虛益氣。牛乳方：</p>
<p>牛乳（五升）　蓽茇末（一兩）</p>
<p>上件藥入銀器內。以水三升，和乳合煎取三升，後入瓷閤中。每於食前暖一小盞服之。</p>
<p>食治老人養老，以藥水飲牛，取乳服食方：</p>
<p>鍾乳（一斤，上好者，細研）　人參（三兩，去蘆頭）　甘草（五兩，炙微赤，銼）　乾地黃（三兩）　黃耆（二兩，銼）　杜仲（三兩，去皺皮用）　肉蓯蓉（六兩）　白茯苓（五兩）　麥門冬（四兩，去心）　薯蕷（六兩）　石斛（二兩，去根，銼）</p>
<p>上藥為末。以水三斗，先煮粟米七升為粥，放盆內，（用藥一兩）攪，令勻。少和冷水，與渴牛飲之，令足。不足，更飲之一日。飲時，患渴，不飲清水，平旦取牛乳服之。生、熟任意。牛，須三歲以上、七歲以下，純黃色者，為上，余色，為下。其乳常令犢子飲之。若犢子不飲者，其乳動氣，不堪服也。慎蒜豬魚、生冷、陳臭。其乳牛清潔養之，洗刷、飲飼須如法，用心看之。</p>

<h3>增補方劑</h3>
<p>《千金翼方》耆婆湯：主大虛冷風，羸弱，無顏色方。一云酥蜜湯。</p>
<p>酥（一斤，煉）　生薑（一合，切）　薤白（三握，炙令黃）　酒（二升）　白蜜（一斤，煉）　油（一升）　椒（一合，汗）　胡麻仁（一升）　橙葉（一握，炙令黃）　豉（一升）　糖（一升）</p>
<p>上一十一味，先以酒漬豉一宿，去滓，納糖蜜油酥於銅器中，煮令勻沸。次納薤姜，煮令熟。次下椒、橙葉、胡麻，煮沸。下二升豉汁，又煮一沸，出內瓷器中密封。空腹吞一合，如人行十里，更一服。冷者加椒。</p>
<p>鄒氏三妙湯：實氣養血，久服彌益人。</p>
<p>地黃　枸杞實（各取汁一升）　蜜（半升）</p>
<p>銀器中同煎如稀餳。每服一大匕，湯調酒調皆可。</p>
<p>鄒氏山芋粥：薯蕷生於山者名山藥，一名山芋。山芋生山者佳，圃種者無味。取去皮，細石上磨如糊。每盌粥用山芋一合，以酥二合，蜜一合同炒令凝，以匙揉碎。粥欲熟，投攪令勻乃出。</p>
<p>岳美中氏參耆粥：食治老人元氣不足，脾胃虛弱，氣短自汗，語音低怯，面色㿠白，食少便溏，神疲懶動，四肢無力，易患感冒，舌淡胖苔淨，脈緩弱者。</p>
<p>黨參（三十克）　黃耆（三十克）　白朮（十五克）　茯苓（十五克）　炙甘草（十五克）</p>
<p>上五味，加水八百毫升，煎至六百毫升，去滓。下粳米二兩，煮粥四百毫升，清晨頓服之。每日一次，常服有益氣力、補虛弱、健脾胃之效。</p>

<h2>食治老人眼目方第二</h2>

<h3>一</h3>
<p><u>補肝豬肝羹方</u>　食治老人肝藏虛弱、遠視、無力。</p>
<p>豬肝（一具，細切，去筋膜）　蔥白（一握，去須，切）　雞子（二枚）</p>
<p>上以豉汁中煮，作羹。臨熟，打破雞子，投在內，食之。</p>
<p>又方：</p>
<p>青羊肝（一具，細切，水煮熟，漉酒干）</p>
<p>以鹽、醋調和食之。</p>
<p>又方：</p>
<p>蔥子（半升，炒熟）</p>
<p>上為末。每服一匙，以水二大盞，煎取一盞，去滓。入米，煮粥食之。</p>
<p><u>馬齒實方</u>　食治老人青白翳。明目，除邪氣，利大腸，去寒熱。</p>
<p>馬齒實（一斤）</p>
<p>上為末。每服一匙，煮蔥豉粥，和攪食之。馬齒菜作羹粥吃，並明目，極佳。</p>
<p><u>烏雞肝粥方</u>　食治老人肝藏風虛，眼暗。</p>
<p>烏雞肝（一具，細切）</p>
<p>上以豉中和米，作羹粥食之。</p>
<p><u>蒼耳子粥方</u>　食治老人目暗不明。</p>
<p>蒼耳子（半兩）　粳米（半升）</p>
<p>上件搗蒼耳子爛。用布絞濾，以水二升，取汁，和米煮粥食之。或作散，煎服亦佳。</p>
<p><u>蓮實粥方</u>　食治老人益耳目聰明、補中強志。</p>
<p>蓮實（半兩，去皮，細切）　糯米（三合）</p>
<p>上先以水煮蓮實令熟，漉出。次入糯米作粥，候熟，入蓮實攪令勻。熱食之。</p>
<p><u>竹葉粥方</u>　食治老人膈上風熱、頭目赤痛、目視𥉂𥉂。</p>
<p>竹葉（五十片，淨洗）　石膏（三兩）　沙糖（一兩）　浙粳米（三合）</p>
<p>上以水三大盞，煎石膏等二味，取二盞。去滓，澄清用，煮粥熟。入沙糖食之。</p>

<h3>二</h3>
<p>食治老人熱發，眼赤澀痛，梔子仁粥方。</p>
<p>梔子仁（一兩）</p>
<p>上為末，分為四服。每服用米三合煮粥，臨熟時下梔子末一分，攪令勻食之。</p>
<p>食治老人益精氣，強意志，聰利耳目，雞頭實粥方。</p>
<p>雞頭實（三合）</p>
<p>上煮令熟，去殼，研如膏。入粳米一合，煮粥，空腹食。</p>
<p>食治老人補中明目，利小便，蔓菁粥方。</p>
<p>蔓菁子（二合）　粳米（三合）</p>
<p>上搗碎，入水二大盞，絞濾取汁，著米粥空心食之。</p>

<h3>增補方劑</h3>
<p>《備急千金要方》補肝散：治失明漠漠方。</p>
<p>青羊肝一具，去上膜薄切之，以新瓦瓶子未用者淨拭之，內肝於中，炭火上炙之令極干，汁盡，末之。決明子半升。蓼子一合，熬令香。</p>
<p>上三味合治，下篩。以粥飲，食後服方寸匕，日二，稍加至三匕，不過兩劑。能一歲服之，可夜讀細書。</p>

<h2>食治老人耳聾耳鳴諸方第三</h2>

<h3>一</h3>
<p><u>磁石豬腎羹方</u>　食治老人久患耳聾，養腎臟、強骨氣。</p>
<p>磁石（一斤，杵碎，水淘去赤汁，用綿裹）　豬腎（一對，去脂膜，細切）</p>
<p>上以水五升，煮磁石，取二升。去磁石，投腎調和。以蔥豉、薑、椒作羹，空腹食之。作粥及入酒並得。磁石常留起，依前法用之。</p>
<p><u>鹿腎粥方</u>　食治老人腎氣虛損，耳聾。</p>
<p>鹿腎（一對，去脂膜，切）　粳米（三合）</p>
<p>上於豉汁中相和，煮作粥。入五味，如法調和，空腹食之。作羹及作酒並得。</p>
<p><u>鯉魚腦髓粥方</u>　食治老人耳聾不瘥。</p>
<p>鯉魚腦髓（二兩）　粳米（三合）</p>
<p>上煮粥。以五味調和，空腹服之。</p>
<p><u>豬腎粥方</u>　食治老人腎藏氣憊、耳聾。</p>
<p>豬腎（一兩，去膜，細切）　蔥白（二莖，去須，切）　人參（一分，去蘆頭）　防風（一分，去蘆頭）　粳米（二合）　薤白（七莖，去須）</p>
<p>上件藥末。並米、蔥、薤白，著水鍋中煮。候粥臨熟，撥開中心，下腎，莫攪動，慢火更煮良久。入五味，空腹服之。</p>

<h3>二</h3>
<p>食治老人五臟氣壅耳聾。烏雞膏粥方。</p>
<p>烏雞脂（一兩）　粳米（三合）</p>
<p>上相和，煮粥。入五味調和，空腹食之。烏雞脂和酒飲，亦佳。</p>

<h3>補充方劑</h3>
<p>《太平聖惠方》治耳聾，及不聞香臭，乾柿粥方。</p>
<p>乾柿（三枚，細切）　粳米（三合）</p>
<p>上，於豉汁中煮粥，空腹食之。</p>

<h2>食治老人五勞七傷諸方第四</h2>

<h3>一</h3>
<p><u>暖腰壯陽道藥餅子方</u>　食治老人五勞七傷，下焦虛冷，小便遺精，宜食之。</p>
<p>附子（一兩，炮製，去皮、臍）　神麯（三兩）　桂心（一兩）　五味子（一兩）　乾薑（二兩，炮製，銼）　羊髓（二兩）　大棗（二十枚，煮，去皮核）　酥（二兩）　蜜（四兩）　白麵（一斤）　黃牛乳（一斤半）　肉蓯蓉（一兩半，酒浸一宿，刮去皺皮，炙乾）　菟絲子（一兩，酒浸三日，曝乾，為末）　漢椒（半兩，去目及閉口者，微炒，去汗）</p>
<p>上為末。入面，以酥、蜜、髓、乳相和，入棗瓤，熟，搜於盤中，蓋覆，勿令通風，半日久即將出。更搜令熟，擀作糊餅大，面上以箸挑之。即入爐䂪中，上下以火爆令熟。每日空腹食五枚。一方入酵和更佳。</p>
<p><u>雌雞粥方</u>　食治老人五勞七傷，益下元，壯氣海。服經月餘，肌肉充盛。老成少年，並宜服食。</p>
<p>黃雌雞（一隻，去毛、臟腹）　肉蓯蓉（酒浸一宿，一兩，刮去皺皮，切）　生薯蕷（一兩，切）　阿魏（少許，煉過）　粳米（二合，淘入）</p>
<p>以上，先將雞爛煮，擘骨，取汁，下米及雞肉、蓯蓉等，都煮粥。入五味，空心食之。</p>
<p><u>羊腎蓯蓉羹方</u>　食治老人五勞七傷，陽氣衰弱，腰腳無力，宜食。</p>
<p>羊腎（一對，去筋、膜、脂，細切）　肉蓯蓉（一兩，酒浸一宿，刮去皺皮，細切）</p>
<p>上件藥和作羹。著蔥白、鹽、五味末等，一如常法。空腹服之。</p>

<h3>二</h3>
<p>食治老人五勞七傷、陽氣衰弱，強益氣力。鹿腎粥方。</p>
<p>鹿腎（一對，去脂膜，細切）　肉蓯蓉（二兩，酒浸一宿，刮去皮，切）　粳米（二合）</p>
<p>上件藥先以水二盞，煮米作粥。欲熟，下鹿腎、蓯蓉、蔥。</p>

<h3>增補方劑</h3>
<p>《聖惠方》治五勞七傷，庶事衰弱，枸杞粥方。</p>
<p>枸杞菜（半斤切）　粳米（二合）</p>
<p>上件，以豉汁相和，煮作粥。以五味蔥白等，調和食之。</p>
<p>《聖惠方》治五勞七傷，陰囊下濕癢，蘿藦菜粥方。</p>
<p>蘿藦菜（半斤）　羊腎（一對，去脂膜）　粳米（二合）</p>
<p>上細切煮粥，調和如常法，空腹食之。</p>
<p>《聖惠方》治五勞七傷，陰萎氣弱，雞肝粥方。</p>
<p>雄雞肝（一具，切）　菟絲子末（半兩）　一粟米（二合）</p>
<p>上以水二大盞半，入五味及蔥，煮作粥，空心食之。</p>

<h2>食治老人虛損羸瘦諸方第五</h2>
<p><u>雀兒粥方</u>　食治老人臟腑虛損、羸瘦、陽氣乏弱。</p>
<p>雀兒（五隻，治如食法，細切）　粟米（一合）　蔥白（三莖，切）</p>
<p>上先將雀兒炒肉，次入酒一合，煮少時，入水二大盞半，下米煮作粥，欲熟，下蔥白五味等。候熟。空心服之。</p>
<p><u>骨汁煮餅方</u>　食治老人虛損羸瘦，下焦久冷，眼昏，耳聾。</p>
<p>大羊尾骨（一條，以水五大盞，煮取汁二大盞五分）　蔥白（五莖，去須，切）　面（三兩）　陳橘皮（一兩，湯浸，去白穰，焙）　羊肉（四兩，細切）　荊芥（一握）</p>
<p>上件藥都用骨汁煮五七沸，去滓。用汁少許，後溲麵作索餅，卻於汁中與羊肉煮。入五味，空腹服之。</p>
<p><u>羊肉粥方</u>　食治老人虛損羸瘦，助陽、壯筋骨。</p>
<p>羊肉（二斤）　黃耆（一兩，生，銼）　人參（一兩，去蘆頭）　白茯苓（一兩）　棗（五枚）　粳米（二合）</p>
<p>上件藥先將肉去脂皮，取精膂肉，留四兩細切；餘一斤十二兩，以水五大盞，並黃耆等，煎取汁三盞，去滓。入米煮粥，臨熟，下切了生肉，更煮。入五味調和，空心食之。</p>
<p><u>雞子索餅方</u>　食治老人虛損羸瘦，令人肥白光澤。</p>
<p>白麵（四兩）　雞子（四兩）　白羊肉（四兩，炒，作臛）</p>
<p>上件，以雞子清溲麵作索餅。於豉汁中煮令熟。入五味和臛，空腹食之。</p>
<p><u>石英水煮粥方</u>　食治老人腎氣損，陰萎，固痹；風濕，肢節中痛，不可持物。</p>
<p>白石英（二十兩）　磁石（三十兩，捶碎）</p>
<p>上件藥以水二斗，器中浸，於露地安置。夜則揭蓋，令得星月氣。每日取水作羹粥及煎茶湯吃，皆用之。用卻一升，即添一升。如此經年，諸風並瘥，氣力強盛，顏如童子。</p>

<h3>增補方劑</h3>
<p>《聖惠方》治五臟虛損，羸瘦，益氣力，堅筋骨，苣蕂粥方。</p>
<p>苣蕂子不限多少，揀去雜，蒸曝各九遍。</p>
<p>上每取二合，用湯浸布裹，挼去皮，再研，水濾取汁，煎成飲，著粳米作粥食之。或煎濃飲，澆索餅食之，甚佳。</p>

<h2>食治老人脾胃氣弱方第六</h2>

<h3>一</h3>
<p><u>羊肉索餅方</u>　食治老人脾胃氣弱，不多食，四肢困乏無力，黃瘦。</p>
<p>白羊肉（四兩）　白麵（六兩）　生薑汁（一合）</p>
<p>上以薑汁溲麵，肉切作臛頭。下五味椒蔥煮熟，空心食之，日一服，如常作益准。</p>
<p><u>藿菜羹方</u>　食治老人脾胃氣弱、飲食不多、羸乏少力。</p>
<p>藿菜（四兩，切之）　鯽魚肉（五兩）</p>
<p>上煮作羹。下五味椒姜，並調少面，空心食之。常以三五日服，極補益。</p>
<p><u>釀豬肚方</u>　食治老人脾胃氣弱，不能飲食，多困無力。</p>
<p>豬肚（一個，肥者，淨洗之）　人參末（半兩）　橘皮末（半兩）　豬脾（二枚，細切）　飯（半碗）　蔥白（半握）</p>
<p>上總納豬肚中相和，入椒醬五味訖，縫口，合蒸之，令爛熟。空心漸食之。能作三兩劑，兼補勞。</p>
<p><u>雞子餺飥方</u>　食治老人脾胃氣弱，不多進食，行步無力，黃瘦氣微，見食即欲吐。</p>
<p>雞子（三枚）　白麵（五兩）　白羊肉（五兩，作臛頭）</p>
<p>上件，以雞子白溲麵，如常法作之。以五味煮熟，空心食之，日一服。常作極補虛。</p>
<p><u>曲末索餅子方</u>　食治老人脾胃氣弱，食不消化，羸瘦，舉動無力，多臥。</p>
<p>曲末（二兩，搗為面）　白麵（五兩）　生薑汁（三兩）　白羊肉（二兩，作臛頭）</p>
<p>上以薑汁搜曲末和麵作之。加羊肉臛頭及下醬椒五味，煮熟。空心食之。日一服。常服尤益。</p>
<p><u>羊脊骨粥方</u>　食治老人脾胃氣弱，勞損，不下食。</p>
<p>大羊脊骨（一具，肥者，捶碎）　青粱米（四合，淘淨）</p>
<p>上以水五升，煎取二升汁，下米煮作粥，空心食之。可下五味常服，其功難及，甚效。</p>
<p><u>粟米粥方</u>　食治老人脾胃虛弱，嘔吐，不下食，漸加羸瘦。</p>
<p>粟米（四合，淨淘）　白麵（四兩）</p>
<p>上以粟米杵面，令勻。煮作粥，空心食之，日二服。極養腎氣、和胃。</p>
<p><u>黃雌雞餛飩方</u>　食治老人脾胃氣弱，痿瘦。</p>
<p>黃雌雞肉（五兩）　白麵（七兩）　蔥白（二合，切細）</p>
<p>上以切肉作餛飩，下椒醬五味調和煮熟，空心食之。日一服。皆益臟腑，悅澤顏色。</p>

<h3>二</h3>
<p>食治老人脾胃氣弱、食飲不下、虛劣羸瘦，及氣力衰微，行履不得。鯽魚熟鱠方。</p>
<p>鯽魚肉半斤（細切鱠）</p>
<p>上投豉汁中煮，令熟。下胡椒、蒔蘿並薑、橘皮等末及五味，空腹食。常服尤佳。</p>
<p>食治老人脾胃氣弱、乾嘔、不能下食。羊血方。</p>
<p>羊血（一斤，鮮者，麵醬作片）　蔥白（一握）　白麵（四兩，捍切）</p>
<p>上煮血令熟，漸食之。三五服，極有驗，能補益臟腑。</p>
<p>食治老人飲食不下，或嘔逆虛弱。生薑湯方。</p>
<p>生薑（二兩，去皮，細切）　漿水（一升）</p>
<p>上和少鹽。煎取七合，空心食之。常作，開胃進食。</p>
<p>食治老人脾胃虛弱，噁心，不欲飲食，常嘔吐。虎肉炙方。</p>
<p>虎肉（半斤，切，作臠）　蔥白（半握，細切）</p>
<p>上件，以椒、薑、五味調，炙之。空心食，冷為佳。不可熱食，損齒。</p>

<h3>增補方劑</h3>
<p>《壽親養老新書·卷三》造山藥面法：取山藥去皮薄切，日中暴乾，柳箕中挼為粉，下篩。如常麵食之，加酥蜜為淳面尤精。益氣力，長肌肉，久服輕身，耳目聰明，不飢延年。《壽親養老新書·卷四》人薓粥：人薓半兩，為末，生薑半兩，取汁。</p>
<p>上二味，以水一升，煮取一升。入粟米一合，煮為稀粥，覺飢即食之。治反胃吐酸水。</p>

<h2>食治老人瀉痢諸方第七</h2>

<h3>一</h3>
<p><u>鯽魚熟膾方</u>　食治老人脾胃氣冷，痢白膿涕，腰脊疼痛、瘦弱無力。</p>
<p>鯽魚肉（九兩，切作膾）　豉汁（七合）　乾薑（半兩）　橘皮末（半兩）</p>
<p>上以椒、醬、五味，調和豉汁。沸，即下鱠魚，煮熟，下二味，空心食之。日一服，其效尤益。</p>
<p><u>赤石脂餺飥方</u>　食治老人腸胃冷氣，痢下不止。</p>
<p>赤石脂（五兩，碎，篩如面）　白麵（七兩）</p>
<p>上以赤石脂末和麵，搜作餅；煮熟，下蔥、醬、五味、臛頭，空心食之，三四服皆愈。</p>
<p><u>黃雌雞炙方</u>　食治老人脾胃氣冷，腸數痢。</p>
<p>黃雌雞（一隻，如常法）</p>
<p>上以五味椒醬刷，炙之令熟。空心漸食之。亦甚補益臟腑。</p>
<p><u>甘草湯方</u>　食治老人冷熱不調，下痢赤白，腹痛不止。</p>
<p>甘草（一兩，切，熬）　生薑（一兩，刮去皮，切）　烏豆（一合）</p>
<p>上以水一升，煎取七合，去滓，空心服之。不過三兩服愈。</p>
<p><u>薤白粥方</u>　食治老人腸胃虛冷，泄痢水穀不分。</p>
<p>薤白（一升，細切）　粳米（四合）　蔥白（三合，細切）</p>
<p>上相和作羹，下五味椒醬姜，空心食。常服之效。</p>
<p><u>曲末粥方</u>　食治老人脾虛氣弱，食不消化，泄痢無定。</p>
<p>神麯（二兩，炙，搗羅為末）　青粱米（四合，淨淘）</p>
<p>上相和煮粥。空心食之，常三五服，溫中，極愈。</p>
<p><u>車前子飲</u>　食治老人赤白痢，日夜無度，煩熱不止。</p>
<p>車前子（五合，綿裹，用水二升，煎取一升半汁）　青粱米（三合）</p>
<p>上取煎汁煮作飲。空心食之，日二服。最除熱毒。</p>

<h3>二</h3>
<p>食治老人脾胃虛氣頻頻下痢，瘦乏無力。豬肝煎。</p>
<p>豶豬肝（一具，去膜，切作片，洗去血）　好醋（一升）</p>
<p>上以醋煎肝，微火令泣盡干，即空心常服之。亦明目，溫中，除冷氣。</p>
<p>食治老人脾胃虛弱、冷痛，瀉痢無常，不下食。椒面粥方。</p>
<p>蜀椒（一兩，熬，搗為末）　白麵（四兩）</p>
<p>上和椒，拌之令勻，空心食之。日一服，尤佳。</p>
<p>食治老人赤白痢，刺痛，不多食，痿瘦。鯽魚粥方。</p>
<p>鯽魚肉（七兩）　青粱米（四兩）　橘皮末（一分）</p>
<p>上相和作粥。下五味椒醬蔥調和。空心食之，二服。亦治勞，和臟腑。</p>
<p>食治老人痢不止，日漸黃瘦、無力，不多食。黍米粥方。</p>
<p>黍米（四合，淨淘）　阿膠（一兩，炙，為末）</p>
<p>上煮粥，臨熟，下膠末調和。空心食之。一服尤效。</p>
<p>食治老人下痢赤白及水穀不度，腹痛。馬齒菜方。</p>
<p>馬齒菜（一斤，淨淘洗）</p>
<p>上煮令熟。及熱，以五味或姜醋，漸食之，其功無比。</p>

<h3>增補方劑</h3>
<p>《聖惠方》治血痢，日夜百餘行，宜服此方。葛粉二兩。蜜二合。</p>
<p>上以新汲水二中盞，攪令勻，空腹分兩度服之。</p>
<p>莧蒜湯麵：食治老人急性赤白痢初起，體質較好，無發熱，能食，脈小者。</p>
<p>鐵莧菜葉（鮮者三兩，淘淨）　新鮮大蒜（一兩，去皮搗汁）　白麵（三兩）</p>
<p>上件，先將白麵擀成麵條，以水兩碗，煮沸時下麵條待再沸，入鐵莧菜葉共煮至熟，下油鹽調料做成湯麵，加大蒜汁攪和，一次食之。每日二次，以病愈為度。</p>

<h2>食治老人煩渴熱諸方第八</h2>

<h3>一</h3>
<p><u>枸杞飲方</u>　食治老人煩渴，口乾，骨節煩熱。</p>
<p>枸杞根白皮（一升）　小麥（一升，淨淘）　粳米（三合，研）</p>
<p>上以水一斗，煮二味，取七升汁，下米作飲。渴即漸服之，極愈。</p>
<p><u>大麥湯方</u>　食治老人煩渴不止，飲水不定，轉渴，舌卷乾焦。</p>
<p>大麥（二升）　赤餳（二合）</p>
<p>上以水七升，煎取五升，去滓。下餳調之。渴即服愈。</p>
<p><u>黃雌雞羹方</u>　食治老人煩渴，小便黃色，無力。</p>
<p>黃雌雞（一隻，如常法）　粳米（二合，淘淨）　蔥白（一握）</p>
<p>上切雞和煮作羹。下五味，少著鹽，空心食之。漸進當效。</p>
<p><u>豬肚方</u>　食治老人消渴熱中，飲水不止，小便無度，煩熱。</p>
<p>豬肚（一具，肥者，淨洗之）　蔥白（一握）　豉（五合，綿裹）</p>
<p>上煮令爛熟。下五味調和，空心，切，漸食之。渴即飲汁。亦治勞熱。</p>
<p><u>兔頭飲方</u>　食治老人煩渴，飲水不足，日漸羸瘦困弱。</p>
<p>兔頭（一枚，淨洗之）　豉心（五合，綿裹）</p>
<p>上以水七升，煮取五升汁。渴，即漸飲之，最效。</p>
<p><u>青豆湯方</u>　食治老人消渴熱中，飲水無度，常若不足。</p>
<p>青豆（二斤，淨淘）</p>
<p>上煮，令爛熟。空心，飢即食之。渴，即飲汁。或作粥食之。任性益佳。</p>
<p><u>冬瓜羹方</u>　食治老人消渴、煩熱，心神狂亂，躁悶不安。</p>
<p>冬瓜（半斤，去皮）　豉心（二合，綿裹）　蔥白（半握）</p>
<p>上以和煮作羹。下五味調和，空心食之。常作粥尤佳。</p>
<p><u>鹿頭方</u>　食治老人消渴，諸藥不瘥，黃瘦力弱。</p>
<p>鹿頭（一枚，炮去毛，淨洗之）</p>
<p>上煮令爛熟。空心，日以五味食之；並服汁極妙。</p>

<h3>二</h3>
<p>食治老人煩渴，臟腑乾枯，渴不止。野雞臛方。</p>
<p>野雞（一隻，如常法）　蔥白（一握）　粳米（二合，細研）</p>
<p>上切作相和羹，作臛。下五味、椒、醬，空心食之。常作服，佳妙。</p>
<p>食治老人消渴煩悶，常熱，身體枯燥，黃瘦。牛乳方。</p>
<p>牛乳（一升，真者，微熬）</p>
<p>上空心，分為二服。極補益五臟，令人強健光悅。</p>
<p>食治老人消渴、壯熱、燥不安，兼無力。青粱米飲方。</p>
<p>青粱米（一升，淨洗淘，研，令細）</p>
<p>上以水三升，和煮之。渴，即漸服之。極治熱，燥併除。</p>
<p>食治老人消渴消中，飲食不足，五臟乾枯，蘆根飲子。</p>
<p>蘆根（切，一升，水一斗，煎取七升半）　青粱米（五合）</p>
<p>上以煎煮飲，空心食之。漸進為度，益效。忌鹹食、炙肉、熟面等。</p>

<h3>增補方劑</h3>
<p>治痟渴，栝蔞粉方。</p>
<p>栝蔞根多取，削去皮。二月、三月、八月、九月造佳。</p>
<p>上於新瓦中磨訖，以水淘，生絹袋擺，如造米粉法，曝乾。熱渴時，冷水調下一錢服之，大效。</p>
<p>治心臟煩熱，止渴除口乾，散積血，極效方。</p>
<p>藕（半斤，去皮，絞取汁）</p>
<p>上以蜜一合相和，服之。</p>

<h2>食治老人水氣諸方第九</h2>

<h3>一</h3>
<p><u>鯉魚臛方</u>　食治老人水氣病，身體腫，悶滿氣急，不能食，皮膚欲裂，四肢常疼，不可屈伸。</p>
<p>鯉魚肉（十兩）　蔥白（一握）　麻子（一升，熬，細研）</p>
<p>上以水濾麻子汁，和煮作臛。下五味、椒、姜調和，空心時漸食之。常服尤佳。</p>
<p><u>水牛肉方</u>　食治老人水氣病，四肢腫悶沉重，喘息不安。</p>
<p>水牛肉（一斤，鮮）</p>
<p>上蒸令極熟。空心，切，以五味姜醋漸食之，任性為益。</p>
<p><u>麻子粥方</u>　食治老人水氣腫滿，身體疼痛，不能食。</p>
<p>冬麻子（一升，研，取汁）　鯉魚肉（七兩，切）</p>
<p>上取麻子汁，下米四合，和魚煮作粥。以五味蔥椒，空心食，日一服。頻作皆愈。</p>
<p><u>赤豆方</u>　食治老人水氣脹悶，手足浮腫，氣急煩滿。</p>
<p>赤小豆（三升，淘淨）　樟柳根（好者，切，一斤）</p>
<p>上和豆煮爛熟。空心常食豆。渴即飲汁。勿別雜食，服三二服立效。</p>
<p><u>郁李仁粥方</u>　食治老人水氣，面腫腹脹，喘乏不安，轉動不得，手足不仁，身體重困或疼痛。</p>
<p>郁李仁（二兩，研，以水濾取汁）　薏苡仁（五合，淘）</p>
<p>上以煎汁作粥。空心食之，日二服。常服極效。</p>
<p><u>桑白皮飲</u>　食治老人水氣，面目、手足浮腫，足腹脹風急。</p>
<p>桑白皮（四兩，切）　青粱米（四合，研）</p>
<p>上以桑汁煮作飲，空心漸食，常服尤佳。</p>
<p><u>大豆方</u>　食治老人水氣腫滿，手足俱脹，心煩，滿悶，無力。</p>
<p>大豆（二升）　白朮（二兩）　鯉魚肉（一斤）</p>
<p>上以水和煮，令豆爛熟，空心常食之，魚豆飲其汁，尤佳。</p>

<h3>二</h3>
<p>食治老人水氣浮腫，身、皮膚燥癢，氣急，不能下食，心腹脹滿，氣欲絕。貒肉羹方。</p>
<p>貒肉（一斤，細切）　蔥白（半握，切）　粳米（三合）</p>
<p>上和煮作羹。下五味、椒、姜，空心常食之，最驗。</p>
<p>食治老人水氣疾，心腹脹滿，四肢煩疼、無力。白煮鯉魚方。</p>
<p>鯉魚（一頭，重二斤者，如常法）　橘皮（二兩）</p>
<p>上和煮令爛熟。空心，以二味少著鹽食之。常服，並飲少許汁，將理為驗。</p>
<p>食治老人水氣，身體虛腫，面目虛脹。水牛皮方。</p>
<p>水牛皮（二斤，刮去毛，淨洗）　橘皮（一兩）</p>
<p>上相和，煮，令爛熟。切，以生薑、醋、五味漸食之。常作，尤益。</p>

<h2>食治老人喘嗽諸方第十</h2>

<h3>一</h3>
<p><u>豬頤酒方</u>　食治老人上，氣急，喘息不得，坐臥不安。</p>
<p>豬頤（三具，細切）　青州棗（三十枚）</p>
<p>上以酒三升浸之。若冬三五日。春夏一二日。密封頭，以布絞去滓。空心，溫，任性漸服之。極驗。忌咸熱。</p>
<p><u>棗煎</u>　食治老人上氣，氣急胸膈逆滿，食飲不下。</p>
<p>青州棗（三十枚，大者，去核）　土蘇（三兩）　餳（二合）</p>
<p>上相和，微火溫令消，即下棗攪之，相和，以微火煎，令蘇、餳泣盡，即止。每食上即啖一、二枚，漸漸咽汁為佳。忌咸、熱、炙肉。</p>
<p><u>薑糖煎方</u>　食治老人上氣咳嗽，喘急，煩熱，不下食，食即吐逆，腹脹滿。</p>
<p>生薑汁（五合）　沙糖（四兩）</p>
<p>上相和，微火溫之。一、二十沸即止。每度含半匙，漸漸下汁。</p>
<p><u>桃仁煎方</u>　食治老人上氣、熱，咳嗽引心腹痛，滿悶。</p>
<p>桃仁（二兩，去皮尖，熬末）　赤餳（四合）</p>
<p>上相和，微煎三、五沸即止。空心，每度含少許，漸漸咽汁尤益。</p>

<h3>二</h3>
<p>食治老人上氣咳嗽，胸中煩滿，急喘。桃仁粥方。</p>
<p>桃仁（三兩，去皮尖研）　青粱米（二合，淨淘）</p>
<p>上調桃仁和米煮作粥。空心食之，日一服尤益。</p>
<p>食治老人上氣咳嗽，煩熱，乾燥，不能食，餳煎方。</p>
<p>寒食餳（四兩）　乾地黃（生者，汁，一升）　白蜜（三合）</p>
<p>上相和，微火煎之，令稠。即空心，每日含半匙，細嚥汁。食後亦服。除熱最效。</p>
<p>食治老人上喘、咳嗽，身體壯熱，口乾渴燥。豬脂方。</p>
<p>豬肪脂（一斤，切，作臠）</p>
<p>上於沸湯中投煮之。空心，以五味漸食之。其效不可比，補勞，治百病。</p>
<p>食治老人上喘咳嗽，氣急，面目浮腫，坐臥不得。蘇煎方。</p>
<p>土蘇（四兩）　鹿髓（三合）　生地黃汁（一升）</p>
<p>上相和，微火煎之如餳即止。空心及食後，常含半匙，　細嚥汁。三、兩日即瘥。</p>
<p>食治老人咳嗽，胸脅引痛，即多涎唾涕。燠梨方。</p>
<p>黃梨（一大顆，刺，作五十孔）　蜀椒（五十粒）　面（二兩）</p>
<p>上以蜀椒每孔內一顆，軟面軟裹，放於塘灰火中，候煨令熟。去面，冷，空心，切，食用二三服尤佳。不當，及熱食之益甚，須羊肚肝羹治之。</p>
<p>食治老人咳嗽，虛熱，口舌乾燥，涕唾濃黏。甘蔗粥方。</p>
<p>甘蔗汁（一升半）　青粱米（四合，淨淘）</p>
<p>上以蔗汁煮粥，空心漸食之，日一、二服。極潤心肺。</p>
<p>食治老人咳嗽、煩熱，或唾血、氣急，不能食。地黃飲方。</p>
<p>生地黃（半斤，研，加水取汁）</p>
<p>上以地黃汁煎作膏。空心，漸食之，日一服。極效。</p>

<h3>增補方劑</h3>
<p>治肺氣，療虛羸，喘息促急，咳嗽等，杏仁粥方。</p>
<p>杏仁（二十一枚，湯浸去皮尖雙仁，研，以三合黃牛乳投絞取汁）　棗（七枚，去核）　粳米（二合）　桑白皮（一兩，銼）　生薑（一分，切）</p>
<p>上以水三大盞，先煮桑根白皮、薑、棗等，取汁三盞。將米煮粥，候臨熟，入杏仁汁，更煮五、七沸。粥成，不計時候食之。</p>
<p>食治老人陽虛感寒，咳嗽喘息不能臥，咯吐清白稀痰，微熱少汗，肢冷脈沉細者，豬肺湯方。</p>
<p>豬肺新鮮者，一具，洗淨。麻黃五錢。細辛五錢。附子五錢，炮，去皮臍。上以水六碗，先煎麻黃、細辛、附子至五碗，去藥渣及上沫。再將豬肺切塊，入藥液中共煮至熟，加鹽醬五味椒姜，分六次食之，每日早晚各一次。</p>
<p>食治老人久病喘息，咳嗽，吐少量清稀痰，動則喘甚，張口抬肩，心悸少寐，虛羸消瘦，舌淡，兩寸尺脈弱，燉胎盤方。</p>
<p>胎盤（一具，取新鮮者，清水漂淨汙血，切塊）　杏仁（五錢，去皮尖）　百合（一兩，漬一宿，當白沫出，去其水）　胡桃仁（淨者，一兩）</p>
<p>上四味，加水四碗，熟燉至兩碗，入鹽醬等調味品，分兩次食之，早晚各服一次。</p>
<p>食治老人咳嗽，咯吐黃膿痰，口苦舌乾，大便乾燥，微熱，或鼻塞流濁涕，舌質紅，脈沉數，豬膽蜂漿方。</p>
<p>豬膽（一枚，新鮮者，取膽汁）　生蜂蜜（二斤）</p>
<p>上二味混合，加熱至熟。每日早晚空心時，以開水送服二匙。</p>

<h2>食治老人腳氣諸方第十一</h2>

<h3>一</h3>
<p><u>豬肚生方</u>　食治老人腳氣，煩熱，流腫入膝，滿悶。</p>
<p>豬肚（一具，肥者，細切，作生）</p>
<p>上以水洗，布絞令乾。好蒜醋椒醬五味，空心常食之。亦治熱勞，補益效。</p>
<p><u>鯉魚臛方</u>　食治老人腳氣逆，心悶煩躁，心神狂誤。</p>
<p>鯉魚（一斤，取肉）　蓴菜（四兩）　粳米（三合，研）</p>
<p>上切，以蔥白一握，相和煮臛。下五味、椒、姜調和，空心食之。常服，佳。亦治水氣。</p>
<p><u>麻子粥方</u>　食治老人腳氣，煩悶或吐逆，不下食，痹弱。</p>
<p>麻子（一斤，熬研，水濾取汁）　粳米（四合，淨淘）</p>
<p>上以麻子汁作粥。空心食之，日一服，尤益。亦中治冷氣。</p>
<p><u>烏雞羹方</u>　食治老人腳氣攻心，煩悶，胸腹脹滿。</p>
<p>烏雞（一隻，治如常法）　蔥白（一握，細切）　米（二合，研）</p>
<p>上煮令熟。空心，切。以五味作羹，常食之為佳。</p>
<p><u>豬腎粥方</u>　食治老人腳氣煩痹，緩弱不隨，行履不能。</p>
<p>豬腎（一雙，去膜，切細）　粳米（四合，淘淨）　蔥白（半握）</p>
<p>上和煮作粥。下五味椒姜，空心食之。日一服，最驗。</p>
<p><u>豉心酒方</u>　食治老人腳氣痹弱，五緩六急，煩躁不安。</p>
<p>豉心（三升，九蒸九曝為佳）　酒（五升）</p>
<p>上以酒浸一二日。空心，任性溫服三盞，極效。</p>

<h3>二</h3>
<p>食治老人腳氣毒悶，身體不任，行履不能。紫蘇粥方。</p>
<p>紫蘇子（五合，熬，研細，以水投取汁）　粳米（四合，淘淨）</p>
<p>上煮作粥，臨熟下蘇汁調之。空心而食之，日一服。亦溫中。</p>
<p>食治老人腳氣，逆悶，嘔吐，衝心，不能下食。豬腎生方。</p>
<p>豬腎（二隻，去膜，細切作生）</p>
<p>上以相和煮飲，空心食之，日壹服，佳極。</p>
<p>食治老人腳氣衝逆，身腫腳腫，大、小便秘澀不通，氣息喘急，食飲不下。郁李仁飲方。</p>
<p>郁李仁（二兩，細研，以水濾，取汁）　薏苡仁（四合，淘，研，破）</p>
<p>上以相和煮飲。空心食之。一二服，極驗。</p>
<p>食治老人腳氣煩躁，或逆，心間憒，嘔逆，水牛頭方。</p>
<p>水牛頭（一枚，炮，去毛，洗之）</p>
<p>上煮令爛熟，切。以姜醋五味，空心漸漸食之，皆效。</p>
<p>食治老人腳氣毒衝心，身面浮腫、氣急。熊肉醃方。</p>
<p>熊肉（二斤，肥者，切作塊）</p>
<p>上切。以五味作醃臘，空心，日炙食之。亦可作羹粥，任性食之，極效。</p>
<p>食治老人腳氣，腎虛氣損，腳膝無力，困乏。生慄方。</p>
<p>生慄（一斤，以蒸熟。透風處懸，令乾）</p>
<p>上以空心每日常食十顆。極治腳氣，不測有功。</p>

<h3>增補方劑</h3>
<p>治腳氣，心腹煩悶，檳榔粥方。</p>
<p>檳榔（一枚，熟水磨令盡）　生薑汁（半兩）　蜜（半合）　粳米（二合）</p>
<p>上以水一大盞半，先將米煮粥，欲熟，次下檳榔汁等，更煮令熟，空腹頓服。</p>

<h2>食治老人諸淋方第十二</h2>

<h3>一</h3>
<p><u>青豆方</u>　食治老人淋，煩熱，小便莖中痛，澀少不快利。</p>
<p>青豆（二升）　橘皮（二兩）　麻子汁（一升）</p>
<p>上煮豆臨熟，即下麻子汁。空心，漸食之，並服其汁，皆驗。</p>
<p><u>小麥湯方</u>　食治老人五淋，久不止，身體熱，小便滿悶。</p>
<p>小麥（一升）　通草（二兩）</p>
<p>上以水煮，取三升，去滓。漸漸食之，須臾當瘥　。</p>
<p><u>酥蜜煎方</u>　食治老人淋病，小便長澀不利，痛悶之極。</p>
<p>藕汁（五合）　白蜜（五合）　生地黃汁（一升）</p>
<p>上相和，微火煎之，令如餳。空心含半匙，漸漸下飲，食了亦服。忌熱食、炙肉。</p>
<p><u>蘇粥方</u>　食治老人五淋燥痛，小便不多，秘澀不通。</p>
<p>土蘇（二兩）　青粱米（四合，淘淨）　漿水（二升）</p>
<p>上煮作粥，臨熟，下蘇攪之；空心食之，日一服，尤佳。</p>
<p><u>車前子飲</u>　食治老人淋病，小便下血，身體熱盛。</p>
<p>車前子（五合，綿裹，水煮取汁）　青粱米（四合，淘研）</p>
<p>上煮煎汁作飲。空心食之。常服，亦明目，去熱毒。</p>

<h3>二</h3>
<p>食治老人五淋，小便澀痛，常頻不利，煩熱。麻子粥方。</p>
<p>麻子（五合，熬研，水濾取汁）　青粱米（四合，淘之）</p>
<p>上以麻子汁煮，作粥；空心漸食之，一日二服，常益佳。</p>
<p>食治老人淋病，小便不通利，秘澀少痛。榆皮索餅方。</p>
<p>榆皮（二兩，切，用水三升，煮取一升半汁）　白麵（六兩）</p>
<p>上溲麵作之，於榆汁拌煮。下五味、蔥、椒，空心食之。常三五服，極利水道。</p>
<p>食治老人五淋病，身體煩熱，小便痛、不利，漿水飲。</p>
<p>漿水（三升，酸美者）　青粱米（三合，研）</p>
<p>上煮作飲。空心，漸飲之，日二、三服。亦宣利效。</p>
<p>食治老人淋，小便秘澀，煩熱燥痛，四肢寒慄。葵菜羹方。</p>
<p>葵菜（四兩，切）　青粱米（三合，研）　蔥白（一握）</p>
<p>上煮作羹。下五味椒醬，空心食之。極治小便不通。</p>
<p>食治老人五淋秘澀，小便禁痛，膈悶不利。蒲桃漿方。</p>
<p>蒲桃汁（一升）　白蜜（三合）　藕汁（一升）</p>
<p>上相和，微火溫三沸即止。空心，服五合。食後服五合。常以服之，殊效。</p>

<h3>增補方劑</h3>
<p>食治老人熱淋、石淋、尿急，尿頻，少腹疼痛，小便黏稠有結塊，或時下砂粒，舌苔白滑，脈沉弦者，白蒺藜茅根粥方。</p>
<p>白蒺藜（一兩，包煎）　鮮茅根（二兩）　粳米（一兩，淨淘）</p>
<p>上三味，先煎白蒺藜鮮茅根，以水兩碗熬取一碗半汁，過濾去滓，下粳米煮粥一碗，空心頓服之。日服二次，至病愈為度。</p>

<h2>食治老人噎塞諸方第十三</h2>

<h3>一</h3>
<p><u>羊肉索餅方</u>　食治老人胸膈防塞，食飲不下，漸黃瘦，行履無氣，軟弱。</p>
<p>羊肉（白者四兩，切，作臛頭）　白麵（六兩）　橘皮末（一分）</p>
<p>上搗薑汁搜面，作之如常肉。下五味、椒、薑、橘皮末等，炒、煮熟。空心食之，日一服。極肥健臟腑。</p>
<p><u>黃雌雞餺飥方</u>　食治老人噎病，食不通，胸脅滿悶。</p>
<p>黃雌雞（四兩，切，作臛頭）　白麵（六兩）　茯苓末（二兩）</p>
<p>上和茯苓末，搜面作豉汁中煮。空心食之。常作三、五服，極除冷氣噎。</p>
<p><u>蘇蜜煎方</u>　食治老人噎病，氣塞，食不通，吐逆。</p>
<p>土蘇（二兩）　白蜜（五合）　生薑汁（五合）</p>
<p>上相和，微火煎之令調。空心服半匙，細細下汁尤效。</p>

<h3>二</h3>
<p>食治老人噎病，心痛悶，膈氣結，飲食不下。桂心粥方。</p>
<p>桂心末（一兩）　粳米（四合，淘研）</p>
<p>上以煮作粥，半熟，次下桂末調和。空心，日一服。亦破冷氣，殊效。</p>
<p>食治老人噎病，食飲不下，氣塞不通。蜜漿方。</p>
<p>白蜜（一兩）　熟湯（一升）</p>
<p>上湯令熟，即下蜜調之。分二服，皆愈。</p>
<p>食治老人噎病，胸滿塞悶，飲食不下。姜橘湯方。</p>
<p>生薑（二兩，切）　陳橘皮（一兩）</p>
<p>上以水二升，煎取一升，去滓；空心，漸服之。常益。</p>
<p>食治老人噎，臟腑虛弱，胸脅逆滿，飲食不下。椒面粥方。</p>
<p>蜀椒（一兩，杵，令碎）　白麵（五兩）</p>
<p>上以苦酒浸椒一宿，明旦取出，以拌麵中，令勻，煮熟。空心食之。日二服，常驗。</p>
<p>食治老人噎，冷氣壅塞，虛弱，食不下。蘇煎餅子。</p>
<p>土蘇（二兩）　白麵（六兩，以生薑汁五合調之）</p>
<p>上如常法作之。空心；常食，潤臟腑，和中。</p>
<p>食治老人咽食入口，即塞澀不下，氣壅。白米飲方。</p>
<p>白米（四合，研）　舂頭糠末（一兩）</p>
<p>上調飲熟，下糠米調之。空心服食，尤益。</p>
<p>食治老人噎塞，水食不通，黃瘦羸弱。餛飩方。</p>
<p>雌雞肉（五兩，細切）　白麵（六兩）　蔥白（半握）</p>
<p>上如常法，下五味、椒、姜向雞汁中。空心食之。日一服，極補益。</p>

<h3>增補方劑</h3>
<p>老人噎膈，常吐白沫，口乾咽燥，大便艱澀，食後胸中痛如刀割，或吐下如赤豆汁，形瘦枯槁，稍能受納者，宜服五汁安中飲。</p>
<p>韭汁　牛乳　生薑汁　梨汁　藕汁</p>
<p>上等分，混合，少量呷之，頻服。</p>

<h2>食治老人冷氣諸方第十四</h2>

<h3>一</h3>
<p><u>桃仁粥方</u>　食治老人冷氣，心痛無時，往往發動，不能食。</p>
<p>桃仁（二兩，去皮尖，研，水淘取）　青粱米（四合，淘，研）</p>
<p>上以桃仁汁煮作粥。空心食之。常服，除冷溫中。</p>
<p><u>茱萸飲方</u>　食治老人冷氣，心痛不止，腹脹滿悶，坐臥不得。</p>
<p>茱萸末（二分）　青粱米（二合，研細）</p>
<p>上以水二升，煎茱萸末，取一升，便下米煮作飲。空心食之，一二服尤佳。</p>
<p><u>椒面餺飥方</u>　食治老人冷氣心痛，嘔不多，下食煩悶。</p>
<p>蜀椒（一兩，去目及閉口者，焙乾為末，篩）　白麵（五兩）　蔥白（三莖，切）</p>
<p>上以椒末和麵，搜作之，水煮。下五味調和食之,常三五服極效，尤佳。</p>

<h3>二</h3>
<p>食治老人冷氣、心痛繳結、氣悶。桂心酒方。</p>
<p>桂心末（一兩）　清酒（六合）</p>
<p>上溫酒令熱，即下桂心末調之。頻服。一、二服，效。</p>
<p>食治老人冷氣，心痛牽引背脊，不能下食。紫蘇粥方。</p>
<p>紫蘇子（三合，熬，細研）　青粱米（四合，淘）</p>
<p>上煮作粥，臨熟，下蘇子末調之。空心服為佳。</p>
<p>食治老人冷氣，卒心痛悶澀，氣不來，手足冷。鹽湯方。</p>
<p>鹽末（一合）　沸湯（一升）</p>
<p>上以鹽末納湯中，調。頻令服盡。須臾當吐。吐，即瘥。</p>
<p>食治老人冷氣心痛。姜橘皮湯方。</p>
<p>生薑（一兩，切）　陳橘皮（一兩，炙，為末）</p>
<p>上以水一升，煎取七合，去滓，空心食之，日三兩服尤益。</p>
<p>食治老人冷氣，心痛鬱結，兩脅脹滿。高良薑粥方。</p>
<p>高良薑（二兩，切，以水二升，煎取一升半汁）　青粱米（四合，研，淘）</p>
<p>上以薑汁煮粥。空心食之。日一服，極益效。</p>
<p>食治老人冷氣，心痛發動，時遇冷風即痛。蓽茇粥方。</p>
<p>蓽茇末（二合）　胡椒末（一分）　青粱米（四合，淘）</p>
<p>上以煮作粥，熟，下二味調之。空心食。常服，尤效。</p>
<p>食治老人冷氣逆，心痛結，舉動不得。乾薑酒方。</p>
<p>乾薑末（半兩）　清酒（六合）</p>
<p>上溫酒熱，即下椒末投酒中。頓服之，立愈。</p>

<h3>增補方劑</h3>
<p>食治老人血虛，冷氣內侵，腹中拘急，綿綿作痛，喜得溫按，及寒疝腹中痛，脅痛裡急者，當歸生薑羊肉湯方。</p>
<p>當歸（三兩）　生薑（五兩）　羊肉（一斤）</p>
<p>上三味，以水八升，煮取三升，溫服七合，日三服。若寒多者加生薑成一斤；痛多而嘔者加橘皮二兩，白朮一兩。加生薑者亦加水五升，煮取三升二合，服之。</p>

<h2>食治老人諸痔方第十五</h2>

<h3>一</h3>
<p><u>鯉魚鱠方</u>　食治老人痔，下血，久不瘥，漸加黃瘦，無力。</p>
<p>鯉魚肉（十兩，切作膾，如常法）</p>
<p>上以蒜、醋、五味，空心常食之，日一服，瘥。忌鮓、甜食。</p>
<p><u>野豬肉羹方</u>　食治老人五痔久不愈，生瘡疼痛。</p>
<p>野豬肉（一斤，細切）　蔥白（一握）　米（二合，細研）</p>
<p>上煮作羹。下五味調和椒、姜，空心，漸食之。常作，極效。</p>
<p><u>鮎魚方</u>　食治老人五痔，血下不瘥，肛門腫痛，漸瘦。</p>
<p>鮎魚肉（一斤）　蔥白（半把）</p>
<p>上以白水煮令熟空心，以蒜醋五味，漸漸食之，常作尤佳。</p>

<h3>二</h3>
<p>食治老人痔病，下血不止，肛門腫，貓貍羹方。</p>
<p>貓貍（一兩，如常法治）</p>
<p>上細切，以面及蔥、椒、五味拌，作片炙熟。空心，漸食之。亦可作羹粥，任性尤佳。</p>
<p>食治老人痔，常下血，身體壯熱，不多食。蒼耳粥方。</p>
<p>蒼耳子（五合，熟，作水二升，煎取一升半汁）　粳米（四合，淘）</p>
<p>上以前件煮，作粥。空心食之。日常服；亦可煎湯服之，極效。破氣明目。</p>
<p>食治老人痔，病久不愈，肛門腫痛。鰻鱺魚臛方。</p>
<p>鰻鱺魚肉（二斤，切，作臛）　蔥白（半握，細切）</p>
<p>上煮作臛，下五味、椒、姜。空心，漸食之。殺蟲，尤佳。</p>
<p>食治老人痔病下血不止，日加羸瘦無力，鴝鵒散方。</p>
<p>鴝鵒（五隻，治洗令淨，曝令乾）</p>
<p>上搗為散。空心，以白粥飲，服二方寸匕，日二服，最驗。亦可炙食任性。</p>
<p>食治老人五痔，泄血不絕，四肢衰弱，不能下食。杏仁飲方。</p>
<p>杏仁（二兩，去皮尖，細研，以水浸之）　粳米（四合，淘）</p>
<p>上以杏仁汁相和，煮作飲。空心食之，日一服效。</p>
<p>食治老人五痔下血，常煩熱，羸瘦。桑耳粥方。</p>
<p>桑耳（二兩，水三升，煎取二升汁）　粳米（四合，淘）</p>
<p>上以桑耳汁煮，作粥，空心食之，日一二服，皆效。</p>
<p>食治老人五痔，泄血不止，積日困劣無氣。鴛鴦法炙方。</p>
<p>鴛鴦（一枚，如常法）</p>
<p>上以五味椒醬醃，火炙之，令熟。空心漸食之。亦療久瘻瘡絕驗。</p>

<h3>增補方劑</h3>
<p>老人痔瘡下血久不止，或自潰出膿血，痔核腫痛，虛羸自汗，右脈虛大無力者，黃耆粥方主之。黃耆一兩，細切。刺蝟皮五錢，炙。粳米二兩，淘淨。</p>
<p>上以水兩大碗，先煎黃耆、刺蝟皮至一碗半，去滓，下米煮粥，空腹食之，每日一次。</p>

<h2>食治老人諸風方第十六</h2>

<h3>一</h3>
<p><u>麻子飲方</u>　食治老人中風汗出，四肢頑痹，言語不利。</p>
<p>麻子（五合，熬，細研，水淹取汁）　粳米（四合，淨淘，研之）煮飲食之。</p>
<p><u>大豆酒方</u>　食治老人卒中風，口噤，身體反張，不語。</p>
<p>大豆（二升，熬之）　清酒（二升）</p>
<p>上熬豆令絕，即下酒投之，煮一二沸，去滓。頓服之。覆臥，汗，瘥。口噤，拗灌之。□陰證、急傷寒，服此神效。</p>
<p><u>白羊頭方</u>　食治老人中風，　心神昏昧、行即欲倒、嘔吐。</p>
<p>白羊頭（一具，治如常法）</p>
<p>上以空心，用姜醋漸食之，為佳。</p>
<p><u>烏雞臛方</u>　食治老人中風煩熱，言語澀悶，手足熱。</p>
<p>烏雞（半斤，細切）　麻子汁（五合）　蔥白（一把）</p>
<p>上煮作臛，次下麻汁、五味、薑、椒，令熟。空心漸食之。補益。</p>
<p><u>蒜煎</u>　食治老人中風邪毒，臟腑壅塞，手足緩弱。</p>
<p>大蒜（一升，去皮，細切）　大豆黃（炒，二升）</p>
<p>上以水一升，和二味，微火煎之，似稠即止。空心，每服食啖三二匙。亦補腎氣。</p>
<p><u>補腎地黃酒方</u>　食治老人風濕痹，筋攣骨痛。潤皮毛，益氣力，補虛，止毒，除面皯，宜服。</p>
<p>生地黃（一升，切）　大豆（二升，熬之）　生牛蒡根（一升，切）</p>
<p>上以絹袋盛之，以酒一斗，浸之，五六日。任性空心溫服三、二盞。恆作之，尤佳。</p>
<p><u>雁脂酒方</u>　食治老人風攣拘急，偏枯，不通利。</p>
<p>雁脂（五兩，消之，令散）</p>
<p>上,每日空心，溫酒一盞，下脂半合許，調。頓服之。</p>
<p><u>巨勝酒方</u>　食治老人風虛痹弱，四肢無力，腰膝疼痛。</p>
<p>巨勝子（二斤，熬）　薏苡仁（二升）　乾地黃（半斤，切）</p>
<p>上以絹袋貯，無灰酒一斗漬之，勿令泄氣。滿五、六日，任性空心溫服一、二盞，尤益。</p>
<p><u>蒼耳茶方</u>　食治老人風冷痹，筋脈緩急。</p>
<p>蒼耳子（一升，熟，杵為末）</p>
<p>上每日煎服之，代茶。常服，極治風熱，明目。</p>
<p><u>槐茶方</u>　食治老人熱風下血。明目，益氣除邪。治齒疼，利臟腑氣,宜食之。</p>
<p>槐葉（嫩者五斤，蒸，令熟。為片，曬乾作茶，搗羅為末）</p>
<p>上,每日煎如茶法，服之恆益。除風尤佳。</p>

<h3>二</h3>
<p>食治老人中風，言語謇澀，精神昏憒，手足不仁，緩弱不遂方。</p>
<p>葛粉（五兩）　荊芥（一握）　豉（五合）</p>
<p>上以搜葛粉，如常作之，煎二味取汁煮之，下蔥、椒、五味、臛頭。空心食之，一、二服，將息為效。忌豬肉、蕎麵。</p>
<p>食治老人中風，口面喎偏，大小便秘澀，煩熱。荊芥粥方。</p>
<p>荊芥（一把，切）　青粱米（四合，淘）　薄荷葉（半握，切）　豉（五合，綿裹）</p>
<p>上以水煮取荊芥汁，下米及諸味，煮作粥，入少鹽、醋。空心食之。常服，佳。</p>
<p>食治老人中風，緩弱不仁，四肢動搖，無氣力。炙熊肉方。</p>
<p>熊肉（一斤，切）　蔥白（半握，切）　醬、椒等</p>
<p>上以五味醃之。炙熟，空心冷食之。恆服，為佳。亦可作羹粥，任性食之，尤佳。</p>
<p>食治老人中風，口目瞤動，煩悶不安，牛蒡餺飥方。</p>
<p>牛蒡根（切，一升，去皮。曝乾，杵為面）　白米（四合，淨淘，研）</p>
<p>上以牛蒡粉和麵作之，向豉汁中煮。加蔥、椒、五味、臛頭，空心食之。恆服，極效。</p>
<p>食治老人中風，頭旋目眩，身體厥強，筋骨疼痛，手足煩熱，心神不安。烏驢頭方。</p>
<p>烏驢頭（一枚，炮，去毛淨，治之）</p>
<p>上,以煮令爛熟，細切。空心，以姜醋五味食之。漸進為佳。極除風熱，其汁如釅酒，亦醫前患尤效。</p>
<p>食治老人中風，四肢不仁，筋骨頑強。蒼耳葉羹方。</p>
<p>蒼耳葉（五兩，切，好、嫩者）　豉心（二合，別煎）</p>
<p>上和煮作羹。下五味、椒、姜調和，空心食之尤佳。</p>
<p>食治老人中風熱毒、心悶，氣壅、昏倒。甘草豆方。</p>
<p>甘草（一兩）　烏豆（三合）　生薑（半兩，切）</p>
<p>上以水二升，煎取一升，去滓。冷，漸食服之。極治熱毒。</p>
<p>食治老人風熱煩毒，頑痹不仁，五緩六急。駝脂酒方。</p>
<p>野駝脂（五兩，煉之為上）</p>
<p>上,空心，酒五合，下半匙已上,調脂令消,頓服之,日二服，極效。</p>

<h1>下籍</h1>

<h2>飲食調治第一</h2>
<p>主身者神；養氣者精；益精者氣；資氣者食；食者，生民之天，活人之本也。故飲食進則穀氣充，穀氣充則氣血盛，氣血盛則筋力強。故脾胃者，五臟之宗也。四臟之氣，皆稟於脾，故四時皆以胃氣為本。《生氣通天論》云：氣味辛甘發散為陽，酸苦湧泄為陰。是以一身之中，陰陽運用，五行相生，莫不由於飲食也。</p>
<p>若少年之人，真元氣壯。或失於飢飽，食於生冷，以根本強盛，未易為患。其高年之人，真氣耗竭，五臟衰弱，全仰飲食以資氣血。若生冷無節，飢飽失宜，調停無度，動成疾患。</p>
<p>凡人疾病，未有不因八邪而感。所謂八邪者，風、寒、暑、濕、飢、飽、勞、逸也。為人子者，得不慎之。</p>
<p>若有疾患，且先詳食醫之法，審其疾狀，以食療之。食療未愈，然後命藥，貴不傷其臟腑也。</p>
<p>凡百飲食，必在人子躬親調治，無縱婢使慢其所食。</p>
<p>老人之食，大抵宜其溫熱熟軟，忌其黏硬生冷。每日晨朝，宜以醇酒，先進平補下元藥一服。女人，則平補血海藥一服，無燥熱者，良。尋以豬、羊腎粟米粥一杯壓之，五味、蔥、薤、鶉膂等粥皆可。至辰時，服人參平胃散一服。然後次第以順四時軟熟飲食進之。食後，引行一二百步，令運動消散。臨臥時，進化痰利膈人參半夏丸一服。</p>
<p>尊年之人，不可頓飽，但頻頻與食，使脾胃易化，穀氣長存。若頓令飽食，則多傷滿，緣衰老人腸胃虛薄，不能消納，故成疾患。為人子者，深宜體悉，此養老人之大要也。</p>
<p>日止可進前藥三服，不可多餌。如無疾患，亦不須服藥，但只調停飲食，自然無恙矣。</p>

<h2>形證脈候第二</h2>
<p>《上古天真論》曰：女子之數七，丈夫之數八。女子七七四十九，任脈虛，衝脈衰，天癸竭，地道不通。丈夫八八六十四，五臟皆衰，筋骨解墮，天癸盡，脈弱形枯。女子過六十之期，丈夫逾七十之年，越天常數。上壽之人，若衣食豐備，子孫勤養，承順慈親，參行孝禮，能調其飲食，適其寒溫，上合神靈，下契人理，此順天之道也!</p>
<p>高年之人，形羸氣弱，理自當然。其有丈夫、女子，年逾七十，面色紅潤，形氣康強，飲食不退，尚多秘熱者，此理何哉?且年老之人，痿瘁為常，今反此者，非真陽血海氣壯也。但診左右手脈，須大緊數，此老人延永之兆也。老人真氣已衰，此得虛陽氣盛，充於肌體，則兩手脈大，飲食倍進，雙臉常紅，精神康健，此皆虛陽氣所助也。須時，有煩渴膈熱，大腑秘結。但隨時以平常湯藥，微微消解，三五日間自然平復。常得虛陽氣存，自然飲食得進，此天假其壽也。切不得為有小熱，頻用轉瀉之藥通利，苦冷之藥疏解。若虛陽氣退，還復真體，則形氣尫羸，臟腑衰弱，多生冷痰，無由補復。</p>
<p>若是從來無虛陽之氣，一向憊乏之人，全在斟量湯劑，常加溫補，調停饘粥，以為養治，此養老之先也!</p>

<h2>醫藥扶持第三</h2>
<p>常見世人治高年之人疾患，將同年少，亂投湯藥，妄行針灸，以攻其疾，務欲速愈。殊不知上壽之人，血氣已衰，精神減耗，危若風燭，百疾易攻。至於視聽不至聰明，手足舉動不隨；其身體勞倦，頭目昏眩，風氣不順，宿疾時發；或秘或泄，或冷或熱，此皆老人之常態也。不順治之，緊用針藥，務求痊瘥，往往因此別緻危殆。</p>
<p>且攻病之藥，或吐或汗，或解、或利。緣衰老之人，不同年少真氣壯盛，雖汗吐轉利，未至危困。其老弱之人，若汗之，則陽氣泄。吐之，則胃氣逆；瀉之，則元氣脫，立致不虞。此養老之大忌也。</p>
<p>大體老人藥餌，止是扶持之法。只可用溫平順氣，進食補虛、中和之藥治之，不可用市肆、贖買、他人惠送、不知方味及狼虎之藥與之服餌，切宜審詳。若身有宿疾，或時發動，則隨其疾狀，用中和湯藥順，三朝五日，自然無事。然後調停飲食，依食醫之法，隨食性變饌治之。此最為良也!</p>

<h2>性氣好嗜第四</h2>
<p>眉壽之人，形氣雖衰，心亦自壯，但不能隨時、人、事遂其所欲。雖居處溫給，亦常不足，故多咨煎背執，等閒喜怒，性氣不定。止如小兒，全在承奉顏色，隨其所欲，嚴戒婢使子孫，不令違背。若憤怒一作，血氣虛弱，中氣不順，因而飲食，便成疾患。深宜體悉。</p>
<p>常令人隨侍左右，不可令孤坐獨寢；緣老人孤僻，易於傷感。才覺孤寂，便生鬱悶。養老之法，凡人平生為性，各有好嗜之事，見即喜之。有好書畫者，有好琴棋者，有好賭撲者，有好珍奇者，有好禽鳥者，有好古物者，有好佛事者，有好丹灶者。人之僻好，不能備舉。但以其平生偏嗜之物，時為尋求，擇其精純者，布於左右，使其喜愛、玩悅不已，老人衰倦，無所用心。若只令守家孤坐，自成滯悶。今見所好之物，自然用心於物上，日日看承戲玩，自以為樂；雖有勞倦，咨煎性氣，自然減可。</p>

<h2>宴處起居第五</h2>
<p>凡人衰晚之年，心力倦怠，精神耗短，百事懶於施為，蓋氣血筋力之使然也。全藉子孫孝養，竭力將護，以免非橫之虞。凡行住坐臥，宴處起居，皆須巧立制度，以助娛樂。</p>
<p>棲息之室，必常潔雅。夏則虛敞，冬則溫密。其寢寐床榻，不須高廣。比常之制，三分減一，低，則易於升降；狹，則不容漫風。裀褥厚藉，務在軟平；三面設屏，以防風冷。其枕，宜用夾熟色帛為之，實以菊花，制在低長：低，則寢無罅風；長則轉不落枕。其所坐椅，宜作矮襌床樣，坐可垂足履地，易於興居。左右置欄，面前設幾，緣老人多困，坐則成眠，有所欄圍，免閃側之傷。</p>
<p>其衣服制度，不須寬長。長，則多有蹴絆；寬，則衣服不著身。緣老人骨肉疏冷，風寒易中，若窄衣貼身，暖氣著體，自然血氣流利，四肢和暢。雖遇盛夏，亦不可令袒露。其頸後連項，常用紫軟夾帛，自頸後巾幘中垂下著肉，入衣領中，至背甲間，以護腠理。尊年人肌肉瘦怯，腠理開疏，若風傷腠中，便成大患。深宜慎之。</p>

<h2>貧富禍福第六</h2>
<p>《經》曰：自天子至於庶人，孝無終始，而患不及者，未之有也。人子以純孝之心，竭力事親，無終始不及之理。惟供養之有厚薄，由貧富之有分限。人居富貴，有厚於己而薄於親者，人所不錄，天所不容，雖處富貴而即貧賤也；人雖居貧賤，能約於己而豐於親者，人所推仰，天所助與，雖處貧賤而即富貴也。作善，降之百祥；作不善，降之百殃。善，莫大於孝，孝感於天，故天與之福，所以雖貧賤而即富貴也；罪，莫大於不孝，不孝感於天，故天與之禍，所以雖富貴而即貧賤也。善惡之報，其猶影響，為人子者，可不信乎?</p>
<p>奉親之道，亦不在日用三牲，但能承順父母顏色，盡其孝心，隨其所有，此順天之理也。其溫厚之家，不可慢於老者。盡依養老之方，勵力行之。其貧下闕乏之家，養老之法，雖有奉行之心，而無奉行之力者，但隨家豐儉，竭力於親，約禮設具，使老者知其罄力事奉而止。將見孝心感格，陰靈默佑，如姜詩之躍鯉，孟宗之泣筍，無非孝感所致。此行孝之驗也!</p>
<p>慮孝子順孫，有窘乏不能依此法者，意有不足，故立此貧富禍福之說以齊之。</p>

<h2>戒忌保護第七</h2>
<p>人，萬物中一物也，不能逃天地之數。若天癸數窮，則精血耗竭，神氣浮弱，返同小兒，全假將護以助衰晚。</p>
<p>若遇水火、兵寇、非橫驚怖之事，必先扶持老人於安穩處避之，不可喧忙驚動。尊年之人，一遭大驚，便致冒昧，因生余疾。凡喪葬凶禍，不可令吊；疾病危困，不可令驚；悲哀憂愁，不可令人預報；穢惡臭敗，不可令食；黏硬毒物，不可令餐；敝漏卑濕，不可令居；卒風暴寒，不可令冒；煩暑燠熱，不可令中；動作行步，不可令勞；暮夜之食，不可令飽；陰霧晦暝，不可令飢；假借鞍馬，不可令乘；偏僻藥餌，不可令服；廢宅敧宇，不可令入；墳園荒墓，不可令遊；危險之地，不可令行；澗淵之水，不可令渡；闇昧之室，不可令孤；凶禍遠報，不可令知；輕薄婢使，不可令親；家緣冗事，不可令管。</p>
<p>若此事類頗多，不克備舉。但人子悉意深慮，過為之防，稍有不便於老人者，皆宜忌之，以保長年。常宜遊息精蘭，崇尚佛事，使神識趣向，一歸善道。此養老之奇術也。</p>

<h2>四時養老通用備疾藥法第八</h2>
<p>《四氣調神論》曰：陰陽四時者，萬物之終始，死生之本也。逆之則災害生，從之則苛疾不起，是謂得道。春溫以生之，夏熱以長之，秋涼以收之，冬寒以藏之，若氣反於時，則為疾癘，此天之常道也，順之則生，逆之則病。《經》曰：觀天之　道，執天之行，盡矣。人若能執天道生殺之理，法四時運用而行，自然疾病不生，長年可保。</p>
<p>其黃髮之人，五臟氣虛，精神耗竭，若稍失節宣，即動成危瘵。蓋老人倦惰，不能自調，在人資養，以延遐算。為人子者，深宜察其寒溫，審其饘藥。依四時攝養之方，順五行休旺之氣，恭恪奉親，慎無懈怠。今集老人四時通用備疾藥法，具陳於下（此方多用寒藥，蓋北人所宜。凡用藥者，宜參處之）。</p>

<h2>四時通用男女婦人方</h2>
<p>治老人風熱上攻，頭旋運悶，喜臥，怔悸，起即欲倒，背急身強。旋覆花散（女人通用）。</p>
<p>旋覆花（半兩）　前胡（一兩）　麥門冬（一兩，去心）　蔓荊子（半兩）　白朮（二分）　枳殼（二分，去瓤，麩炒）　甘菊花（三分）　半夏（半兩，薑汁煮）　防風（半兩）　大黃（虛人者，用石膏）　獨活（半兩）　甘草（半兩）</p>
<p>上為末。每服三錢。水一中盞，入姜半分，同煎至六分，去滓溫服，不計時候。</p>
<p>老人補壯筋骨，治風走注疼痛，並風氣上攻下疰。羌活丸。</p>
<p>羌活　牛膝（酒浴過，焙乾）　川楝子　白附子　舶上茴香　黃耆（去皮，銼）　青鹽　巴戟（去心）　黑附子（炮製，去皮、臍）　沙苑白蒺藜</p>
<p>上件等分，一處搗羅為末，酒煮麵糊為丸，如梧桐子大。每服十丸，空心，臨臥鹽湯下。看老少，加減服。</p>
<p>老人和脾胃氣，進飲食，止痰逆，療腹痛氣，調中。木香人參散（男子女人通用）。</p>
<p>木香（半兩）　人參（去蘆頭，半兩）　茯苓（去黑皮，一分）　白朮（半兩，微炒）　肉豆蔻（去皮，一分）　枇杷葉（去毛，一分）　厚朴（去粗皮，薑汁製）　丁香（半兩）　霍香葉（一分）　甘草（半兩，炙）　乾薑（半兩，炮）　陳皮（半兩，湯浸，去瓤）</p>
<p>上件一十二味，修事了，稱分兩，搗羅為末。每服二錢。水一大盞，入生薑錢一片，棗二枚，同煎至六分，去滓，溫服。此藥老人常服合吃。</p>
<p>老人和脾胃氣，治胸膈疰悶，心腹刺痛，不思飲食。枳殼木香散（男子女人通用）。</p>
<p>木香（一兩）　神麯（杵末，炒，四兩）　荊三稜（四兩，炮）　青橘皮（去瓤，三兩）　甘草（三兩，炮）　益智（去皮，三兩）　白芷（一兩）　桂心（三兩）　莪朮（三兩，炮）　白朮（微炒，二兩）　枳殼（麩炒，炮）</p>
<p>上件藥搗羅為末。每服二錢。水一盞，入生薑、鹽各少許，同煎至七分，並滓熱服。</p>
<p>解老人四時傷寒。四順散（男子女人通用）。</p>
<p>麻黃（去節）　杏仁（去皮）　甘草（炙）　荊芥穗　以上各等分。</p>
<p>上同杵為末。每服一錢，入鹽湯點熱服。</p>
<p>治老人心脾積熱，或流注，腳膝疼痛。黃耆散（男子女人通用）。</p>
<p>黃耆　赤芍藥　牡丹皮　香白芷　沙參（炙）　甘草（炙）　肉桂（去皮）　柴胡（去苗）　當歸（洗後炙）</p>
<p>上件等分，搗羅為末。每服二錢。水一盞，姜三片，煎至五分，日進二服。春季每煎時，入蜜蒸栝蔞煎半匙。忌黏食、炙爆等物。</p>
<p>橘皮煮散　益元氣，和脾胃，治傷寒。此名不換金散，但心腹諸疾，並用療之（男子女人通用）。</p>
<p>橘皮（一兩，去瓤，稱用）　人參　茯苓　白朮（各一兩）　木香（一分）　乾薑（炮）　官桂（半兩，去皮，稱）　檳榔（一兩，雞心者用）　草豆蔻（二個，去皮）　半夏（一分，麩炒）　厚朴（半兩，入姜一分，同杵碎，炒乾）　枳殼（半兩，去瓤，麩炒）　訶黎勒（五個，煨熟，去核）　甘草（半兩）</p>
<p>上件搗羅為末。每服一大錢，水一盞，薑棗同煎至七分，熱吃。不問食前、食後，並宜服，忌如常。</p>
<p>治老人臟腑冷熱不調，裡急後重，闌門不和。香白芷散（男子女人通用）。</p>
<p>當歸（三錢，洗）　香白芷（三錢，洗）　茯苓（三錢，去皮）　枳殼（三錢，麩炒）　木香（一錢）</p>
<p>上件為末。每服一錢。水半盞，生薑少許，同煎至四分，溫服。</p>
<p>治老人大小便不通。勻氣散（通用）。</p>
<p>生薑（半兩）　蔥（一莖，和根、葉、泥用）　鹽（一捻）　豉（三十粒）</p>
<p>上件四味，搗爛。安臍中。良久，便通。</p>
<p>治老人小便不通。地龍膏。</p>
<p>白項地龍　茴香（用時看多少）</p>
<p>上件杵汁。傾於臍內，自然便通。</p>
<p>治老人腳膝疼痛，不能履地。七聖散。</p>
<p>杜仲　續斷　萆薢　防風　獨活（各一兩）　牛膝（一兩酒浸一宿）　甘草（一兩）</p>
<p>上件為末。每服二錢，酒調下。</p>
<p>治老人脾胃一切病。溫白丸。兼治脾不承受，吐逆、瀉痢，及宿食不消（男子女人通用）。</p>
<p>半夏（二兩，湯洗，薑汁浸）　白朮（一兩，炮）　丁香（一分）</p>
<p>上件為末。用生薑自然汁，和飛面為糊，搗和前藥末為丸，如梧桐子大。濃煎生薑湯，下十丸，空心服。如腹疼並嘔逆，食後服。</p>
<p>藁本散　治婦人血氣，丈夫筋骨風，四肢軟弱，及卒中急風，並寸白蟲，但長服，並皆攻治。或要出汗，解傷寒，湯使如後（此方是孟相公進過）。</p>
<p>藁本　牛膝（酒浸一宿，焙乾）　當歸　麻黃（去節，以上各一兩）　羌活　獨活　防風　肉桂（去粗皮、稱）　芍藥　菊花　續斷　五加皮　芎藭　甘草　赤箭　枳殼（麩炒，去瓤，以上各半兩）　黑附子（大者，一個，炮製，去皮臍）　細辛（一分，去葉稱）</p>
<p>上件藥一十八味，並須州土好者。使水洗過，細銼，焙乾，搗羅為末。空心，溫酒下二錢。如不飲酒，薄荷湯下。發汗，解傷寒熱，蔥白酒下二錢，並服三、五服為妙。</p>
<p>治老人風冷，展筋骨。續斷散方。</p>
<p>續斷（一兩）　牛膝（二兩）　川芎（一兩）　木瓜（二兩）</p>
<p>上為細末。空心時，溫酒調下一大錢。</p>
<p>墜痰化涎，和脾胃。人參半夏丸。</p>
<p>半夏（一兩，生薑四兩，取汁。先以湯洗半夏七遍，浸三日後，於日內煎乾，切作餅子，焙乾）　白礬（一兩）　人參（一兩）　茯苓（一兩，去皮）</p>
<p>上為末。以蒸餅水浸過，卻用紙裹、煨熟，為丸，如綠豆大。每日空心，夜臥，用淡生薑湯下五十丸。開胃口，薑棗湯下。風涎，用皂角一條，姜三片，蘿蔔三片，同煎湯下。</p>
<p>治老人暖食藥。丁香丸。消食，治一切氣悶，止醋心、腹脹，利胸膈，逐積滯方（男子婦人通用）。</p>
<p>大烏梅（一個，須是有裙襴者）　巴豆（一個，新肥者，和皮用）　香墨（末，炒，半錢先炒為末）　桂花（末炒，半錢。）　香墨（末炒，半錢。）　香墨，乾漆、桂花（末三味研入。）　揀丁香（五個，須是新者用）　胡椒（五粒，須是黑者）</p>
<p>上為末，用馬尾羅子羅過，用醋、麵糊為劑，臼中杵令勻，如綠豆大。溫酒下五丸至七丸，茶下亦得。或入蠟茶末三錢，更妙。</p>
<p>香草散　治婦人氣羸，腸寒便白，食傷積滯，冷結腸不成。溫脾肺，活榮生肌，進食，益衝任二經。</p>
<p>閭茹　桔梗　白芷　當歸　地榆　芍藥　檳榔　白豆蔻（各半兩）　麝香（稱，一錢）</p>
<p>上為末。每服二錢。水一盞，薑、棗同煎，至數沸，通口，食前，日進三分。</p>
<p>香枳湯　治老人大腸秘澀。調風順氣（男子婦人通用）。</p>
<p>枳殼（去瓤，麩炒）　防風（各一兩）　甘草（半兩，炙）</p>
<p>上為末。每服二錢，百沸湯點服。空心、食前各一服。</p>
<p>治婦人男子久積虛敗。壯元補血，健胃暖脾，止痰逆，消飲食。北亭丸。</p>
<p>北亭（二兩，去除砂石）　阿魏（半兩，同硇砂研令細，醋化，去沙石）　川當歸（淨洗，去苗、稍用四兩）　厚朴（去皮，薑汁炙令黃色四兩）　陳橘皮（去瓤，用紅四兩）　官桂（去皮稱四兩）　乾薑（炮）　甘草（炙）　川芎　胡椒（揀好者）　縮砂（去皮用）　大附子（炮，去皮臍，以上各稱四兩）　茯苓（二兩）　青鹽（二兩，與硇砂、阿魏同醋研，去沙土）　白朮（米泔水浸一宿，切作片子，焙乾）　五味子（一兩半，去沙土）</p>
<p>上件依法修事為末。將硇砂、阿魏、醋入面，看多少同煎稀糊，下藥；更煉好蜜，同搜和拌勻，再入臼中杵千百下，丸如酸棗大。每服一丸，空心，鹽湯、茶、酒任下，嚼破。女人一切病患，並宜服此。</p>
<p>治老人一切風。烏犀丸。</p>
<p>天麻（二兩）　地榆（一兩）　元參（一兩）　川烏頭（一兩，炮製去皮）　龍腦薄荷（四兩）　藿香葉（一兩）　皂角（三挺，不蛀者，燒紅，入水中浸之）　龍腦（少許）　麝香（少許）</p>
<p>上為末，煉蜜為膏，如皂子大。每服一丸，嚼吃。小兒，半丸以下。薄荷、茶、酒調下。</p>
<p>鎮心丸　養老人心氣，令不健忘，聰耳明目方。</p>
<p>辰砂（一兩）　桂（一兩）　遠志（去心）　人參（以上各一兩）　茯苓（二兩）　麥門冬（去心）　石菖蒲　乾地黃（各一兩半，以上除辰砂，併為末，合勻）</p>
<p>上煉蜜為丸，如桐子大。空心，薄荷酒吞下十丸至十五丸。留少硃砂為衣。益心氣，養神。宜常服。</p>
<p>治老人脾肺客熱，上焦滯痰。涼心、潤肺、消壅。枇杷葉散（王昉進。男子女人通用方）。</p>
<p>枇杷葉（炙，去毛）　人參　茯苓　白朮　羌活　黃耆（各一兩）　甘草（炙）　半夏（湯洗，去滑，切破，焙乾，各半兩）</p>
<p>上為末。每服二錢；水一盞，入生薑、薄荷，煎至七分，食後、臨臥溫服。</p>
<p>羌活散　治老人耳聾眼暗，頭頂腰背疼痛，渾身瘡癬，此乃腎臟風所攻也。</p>
<p>羌活　枳殼（麩炒，去瓤）　半夏（湯浸七遍）　甘草（炙）　大腹子（洗）　防風　桑白皮（各等分）</p>
<p>上為粗末。每服二錢；水一盞，生薑煎至七分，溫服，早辰、日午時、臨臥各一服。</p>
<p>搜風順氣，治老人百疾。七聖丸　（男子女人通用）。</p>
<p>檳榔　木香　川芎　羌活　桂心（各一兩）　郁李仁（一兩，去皮尖，炒令黃色）　大黃（一兩一分，炒）</p>
<p>上為末，煉蜜為丸，桐子大。不計時候，溫酒下七丸。要利動，即加七丸。淡薑湯下，亦得。</p>

<h2>春時攝養第九</h2>
<p>春屬木，主發生。宜戒殺，茂於恩惠，以順生氣。春，肝氣旺，肝屬木，其味酸，木能勝土。土，屬脾，主甘，當春之時，其飲食之味，宜減酸、益甘，以養脾氣。肝氣盛者，調噓氣以利之。順之，則安；逆之，則少陽不生，肝氣內變。</p>
<p>春時，陽氣初升，萬物萌發。正、二月間，乍寒乍熱。高年之人，多有宿疾，春氣所攻，則精神昏倦，宿患發動。又復經冬已來，擁爐熏衾，啖炙飲熱，至春成積，多所發泄，致體熱頭昏，膈壅涎嗽，四肢勞倦，腰腳不任，皆冬所發之疾也，常宜體候。</p>
<p>若稍利，恐傷臟腑。別主和氣，涼膈化痰之藥消解。或只選食治方中性稍涼、利飲食，調停與進，自然通暢。</p>
<p>若別無疾狀，不須服藥。常擇和暖日，引侍尊親，於園亭樓閣虛敞之處，使放意登眺，用攄滯懷，以暢生氣；時尋花木遊賞，以快其意。不令孤坐、獨眠，自生鬱悶。春時，若親朋請召，老人意欲從歡，任自遨遊，常令嫡親侍從，惟酒不可過飲；春時，人家多造冷饌、米食等，不令下與；如水團兼粽黏冷肥僻之物，多傷脾胃，難得消化，大不益老人，切宜看承。春時，天氣燠暖，不可頓減綿衣。緣老人氣弱、骨疏，怯風冷，易傷肌體。但多穿夾衣，過暖之時，一重漸減一重，即不致暴傷也!</p>
<p>今具春時湯藥如後。</p>

<h2>春時用藥諸方</h2>
<p>治老人春時多昏倦。細辛散。明目，和脾胃，除風氣，去痰涎（男子女人通用）。</p>
<p>細辛（一兩，去土）　川芎（二兩）　甘草（半兩，炙）</p>
<p>上為末。每服一大錢。水一盞，煎至六分，熱呷。可常服。</p>
<p>治老人春時熱毒，風攻頸項，頭痛面腫，及風毒眼澀。菊花散。</p>
<p>菊花　前胡　旋覆花　芍藥　元參　苦參　防風（各等分）</p>
<p>上為末。食後臨臥，用溫酒調下三錢。不飲酒，用米飲調下，亦得。</p>
<p>治老人春時頭目不利，昏昏如醉，壯熱頭疼，有似傷寒。惺惺丸（通用）。</p>
<p>桔梗　細辛　人參　甘草　茯苓　栝蔞根　白朮（各一兩）</p>
<p>上為末，煉蜜為丸，如彈子大。每服一丸，溫水化破。治頭痛腰痛，藥入口，當下便惺惺。</p>
<p>治老人春時多偏正頭疼。神效方（通用）。</p>
<p>旋覆花（一兩，焙）　白殭蠶（一兩，炒）　石膏（一分，細研）</p>
<p>上件為末，以蔥煨熟，和根同杵為丸，桐子大。急痛，用蔥、茶下二丸。慢痛，不過二服。</p>
<p>治老人春時胸膈不利，或時滿悶。墜痰飲子。</p>
<p>半夏（不計多少，用湯水洗十遍，為末）　生薑（一大塊）　棗（七枚）</p>
<p>上二味，以水二盞，藥末二錢，慢火煎至七分，臨臥時，去生薑頻服。</p>
<p>老人春時，宜吃延年草。進食順氣（御藥院常合進，通用）。</p>
<p>青橘皮（四兩，浸洗，去瓤）　甘草（二兩，為細末）　鹽（二兩半，炒）</p>
<p>上三味，先洗，浸橘皮，去苦水，微焙，入甘草，同焙乾，後入鹽。每早晨，嚼三兩葉子。通滯氣，大好。</p>
<p>治老人春時，諸般眼疾發動。黃耆散。兼治口鼻生瘡。</p>
<p>黃耆　川芎　防風　甘草　白蒺藜（略炒，杵去尖，出火毒，以上各一兩）　甘菊花（三分，不得用新菊）</p>
<p>上淨洗曬乾，勿更近火，搗為末。每服二錢。早晨空心、日午、臨臥各一服，乾嚥或米飲調下；暴赤風毒，淚昏澀痛癢等，眼只三服，三兩日，永效。內外障眼，久服方退。忌房室、毒物、火上食。凡患眼，切不得頭上針烙出血，及服皂角、牽牛等藥，取一時之快，並大損眼。</p>
<p>治老人春時胸膈不利，痰壅氣噎，及咽喉諸疾。黍黏湯方。</p>
<p>黍黏子（三兩，炒令香熟）　甘草（半兩，炙）</p>
<p>上為末，搗羅細末。每服一錢。食後、臨臥，如常點之。</p>

<h2>夏時攝養第十</h2>
<p>夏時屬火，主於長養。夏心氣旺，心主火，味屬苦，火能剋金。金屬肺，肺主辛。當夏之時，宜減苦、增辛，以養肺氣。心氣盛者，調呵氣以疏之。順之，則安。逆之，則太陽不長，心氣內洞。</p>
<p>盛夏之月，最難治攝。陰氣內伏，暑毒外蒸，縱意當風，任性食冷，故人多暴泄之患。</p>
<p>惟是老人，尤宜保護：若檐下過道，穿隙破窗，皆不可納涼。此為賊風，中人暴毒。宜居虛堂淨室，水次木陰，潔淨之處，自有清涼。</p>
<p>每日凌晨，進溫平順氣湯散一服。飲食溫軟，不令太飽，畏日長永，但時復進之。渴宜飲粟米溫飲、豆蔻熟水。生冷肥膩，尤宜減之。緣老人氣弱，當夏之時，納陰在內，以陰弱之腹，當冷肥之物，則多成滑泄，一傷正氣，卒難補復，切宜慎之。若須要食瓜果之類，量虛實少為進之。緣老人思食之物，若有違阻，意便不樂，但隨意與之。才食之際，以方便之言解之，往往知味便休，不逆其意，自無所損。</p>
<p>若是氣弱老人，夏至以後，宜服不燥熱、平補腎氣暖藥三二十服，以助元氣，若蓯蓉丸、八味丸之類。</p>
<p>宜往潔雅寺院中，擇虛敞處，以其所好之物悅之。若要寢息，但任其意，不可令久眠。但時時令歇，久則神昏，直召年高相協之人，日陪閒話，論往昔之事，自然喜悅，忘其暑毒。細湯名茶，時為進之。晚涼方歸。</p>
<p>謹選夏時湯藥如後。</p>

<h2>夏時用藥諸方</h2>
<p>治老人夏多冷氣發動，胸膈氣滯，噎塞，脾胃不和，不思飲食。豆蔻散。</p>
<p>草豆蔻（四兩，以姜四兩，炒香為度，和姜用）　大麥柏子（十兩，炒黃）　神麯（四兩，炒黃）　杏仁（四兩，去尖，炒熟）　甘草（四兩，炙）　乾薑（二兩，炮製）</p>
<p>上為末。每服一錢。如茶點之，不計時候服。</p>
<p>治老人，夏月宜服，平補下元，明目。蓯蓉丸。</p>
<p>蓯蓉（四兩）　巴戟（二兩）　菊花（二兩）　枸杞子（二兩）</p>
<p>上為末，煉蜜為丸，桐子大。每服鹽湯下二十丸。</p>
<p>治夏月暴發腹痛及泄瀉。木香丸。</p>
<p>輕好全乾蠍（二十個，每個擘三兩段子，於慢火上炒令黃熟）　揀好胡椒（三百粒，生）　木香（一分）</p>
<p>上件藥同搗為末，濕紙裹燒，粟米飯為丸，如綠豆大。如患腹痛，每服十五丸，煎燈心、陳橘皮、生薑湯下；大便不調及泄瀉，每服十五丸，煎陳橘皮湯下。</p>
<p>治老人夏月脾胃忽生冷氣，心腹脹滿疼悶，泄瀉不止。訶子散。</p>
<p>訶子皮（五個）　大腹（五個，去皮）　甘草（半兩，炙）　白朮（半兩，微炒）　草豆蔻（十四個，用麵裹，燒，令面熟、黃，去面並皮用）　人參（去蘆頭，半兩）</p>
<p>上為末。每服二錢，水一盞，入生薑少許，棗二個，同煎至六分，去滓，溫服。</p>
<p>治老人夏月因食冷，氣積滯；或心腹疼痛等。宜常服。</p>
<p>荊三稜（三兩，濕紙裹，煨熟透，別杵）　蓬莪朮（二兩，同上）　臺烏藥（二兩）　益智（去皮，二兩）　甘草（三兩，炙）　陳橘皮（二兩，用厚朴亦得）</p>
<p>上為末。每服入鹽點之，不計時候，一錢。</p>
<p>治老人，夏月宜服三聖丸。祛逐風冷氣，進食和胃，去痰滯、腰膝冷痛。</p>
<p>威靈仙（淨洗，去土，揀擇，焙乾，稱，五兩）　乾薑（二兩，炮製）　烏頭（二兩，炮製，去皮臍，稱）</p>
<p>上件為末，煮棗肉為丸，如梧子大。每服十五丸至二十丸，溫薑湯下。</p>
<p>治老人，夏月宜服平補楮實丸方。駐顏、壯筋骨，補益元藏，療積冷虛乏，一切氣疾。暖胃，進酒食。久服令人輕健，此神效方。</p>
<p>楮實（半斤，輕杵，去白及膜，揀擇淨，微微炒）　鹿茸（四兩，茄子茸為上，其次亦得。淨瓦上炙令黃色。如無，則鹿角屑代之，亦妙）　大附子（四兩，炮，去皮臍，出火毒）　懷州牛膝（四兩，去蘆頭，酒洗二宿，焙）　紫巴戟（四兩，洗，去心）　金釵石斛（四兩，去根，揀淨，細細切之）　川乾薑（二兩，炮製，急於新水內淨過）　肉桂（二兩，去粗皮）</p>
<p>上件八味，為末。楮實子一味，用砂盆別研二日，令爛細後，入前藥末，同研，拌令細勻，入煮棗肉同研拌，得所，方入鐵臼杵二千下，丸如桐子大。每服三十丸，溫酒下。忌牛肉、豉汁。</p>
<p>治老人百疾。常服四順湯。</p>
<p>神麯（四兩，入生薑四兩，去皮，一處作餅子，焙乾）　甘草（一兩半，炙黃）　草豆蔻（一兩半，先炮熟，去皮細銼用）　大麥柏子（二兩，炒香熟）</p>
<p>上件為末。鹽點之，一錢。</p>
<p>婦人年老，夏月平補血海，活血去風。五倍丸。</p>
<p>五倍子（二兩）　川芎（二兩，銼細）　菊花（二兩）　荊芥穗（二兩）　旋覆花（二兩）</p>
<p>上為末，蜜為丸，如桐子大。每日空心五更、晚食後，鹽湯、酒下十五丸。吃至半月日，覺見漸安，手足有力，眼目鮮明，進得飲食，大旺血海。請每一日三服，若見大段安樂，一日只吃一服，尤佳。</p>
<p>治老人脾胃弱，不思飲食，吐瀉霍亂。理中丸。</p>
<p>人參　甘草　乾薑　白朮（各等分）</p>
<p>上為末，煉蜜為丸，桐子大。每服十五丸，食前服。</p>
<p>夏月消食和氣。橘紅散。</p>
<p>陳橘皮（一斤半，湯浸洗五、七度，用淨巾拭乾後，用生薑五兩，取自然汁，拌橘皮令勻，淹一宿，焙乾，稱一斤）　肉豆蔻（半兩）　甘草（五兩）</p>
<p>上先將甘草寸截，用白鹽五兩，一處同炒，候鹽紅色、甘草赤色為度，一處為末。如茶點之。</p>
<p>夏月平胃，補老人元藏虛弱，腑氣不順，壯筋骨，益顏容，固精髓。八仙丸。</p>
<p>澤瀉（三兩）　茯苓（二兩，去粗皮）　牡丹（三兩）　官桂（二兩）　附子（三兩，炮，去皮臍）　生乾地黃（八兩，洗，干杵）　山茱萸（四兩）　干薯藥（四兩，微炒，炙）</p>
<p>上事持了，焙乾，惟桂不焙，為末，煉蜜為丸，如桐子大。每日空心，溫酒或鹽湯下三十丸。</p>

<h2>秋時攝養第十一</h2>
<p>秋屬金，主於肅殺。秋，肺氣旺，肺屬金，味屬辛，金能剋木。木屬肝，肝主酸。當秋之時，其飲食之味，宜減辛，增酸，以養肝氣。肺氣盛者，調呬氣以泄之。順之，則安；逆之，則太陰不收，肺氣焦滿。</p>
<p>秋時，悽風慘雨，草木黃落。高年之人，身雖老弱，心亦如壯。秋時思念往昔親朋，動多傷感。季秋之後，水冷草枯，多發宿患，此時人子，最宜承奉，晨昏體悉，舉止看詳。若顏色不樂，便須多方誘說，使役其心神，則忘其秋思。</p>
<p>其新登五穀，不宜與食，動人宿疾。若素知宿患，秋終多發，或痰涎喘嗽，或風眩痹癖，或秘泄勞倦，或寒熱進退。計其所發之疾，預於未發以前，擇其中和應病之藥，預與服食，止其欲發。</p>
<p>今布秋時湯藥如後。</p>

<h2>秋時用藥諸方</h2>
<p>治老人一切瀉利，七寶丹。此藥如久患瀉痢，諸藥療不瘥者，服此藥無不瘥。若老人反脾泄滑，大宜服此藥。</p>
<p>附子（炮）　當歸　陳橘皮　乾薑（以上各一兩）　吳茱萸　厚朴（以薑汁炙）　南椒（以上三味各半兩）　舶上硫黃（一兩）</p>
<p>上件七味，細銼，以慢火焙過，搗羅為末，與硫黃末同拌勻，一處煎，米醋和，作兩劑。卻以白麵半斤，和令得所，亦令分作兩劑。用裹藥，如燒餅法，用文武火煨，令面熟為度。去卻面，於臼中搗三百下，丸如桐子大。如諸般瀉痢，以米湯下二十丸，空心，日午服；如患氣痛及宿冷食不消，以姜鹽湯下二十丸，空心日午服；如患氣痛及宿冷，並無忌。此方如神如聖，其效無及。</p>
<p>治老人乘秋，臟腑虛冷，滑泄不定。攝脾丸。</p>
<p>木香　訶子（炮，去核）　厚朴（生薑汁炙）　五倍子　白朮（各等分）</p>
<p>上為末，用燒粟米飯為丸，桐子大。每服十丸，米飲送下。</p>
<p>治老人秋肺壅滯，涎嗽間作，胃脘痰滯，塞悶不快。威靈仙丸。</p>
<p>干薄荷（取末，一兩）　皂角（一斤，不蛀，肥者。以河水浸洗，去黑皮，用銀石器內，用河水軟揉，去滓，絹濾去粗，熬成膏）　威靈仙（洗擇去土，焙乾為末四兩）</p>
<p>上入前膏，搜丸如桐子大。每服三十丸，臨臥，生薑湯吞下。</p>
<p>治老人脾臟泄瀉，中心氣不和，精神倦怠，不思飲食。神授高青丸。</p>
<p>高良薑　青木香（各一兩）</p>
<p>上二味為末，煮棗肉為丸，桐子大。乾薑湯下十五丸至二十丸。</p>
<p>治老人秋後多發嗽，遠年一切嗽疾，並勞嗽痰壅。保救丹。</p>
<p>蛤蚧（一個，如是丈夫患，取雄者腰前一截用之。女人患，取雌者腰後一截用之）　不蛀皂角（二挺，塗酥炙，去黑皮並子）　乾地黃（一分，熟蒸如餳）　五味子（一分）　杏仁（一分，去皮尖，用童子小便浸一伏時，入蜜，炒黃色）　半夏（一分，水煮三七遍）　丁香（少許）</p>
<p>上為末，煉蜜為丸，如桐子大。每日食前一服，五丸，薑湯下。</p>
<p>治老人膈滯，肺疾痰嗽。生薑湯。</p>
<p>杏仁（四兩，去皮尖）　生薑（六兩，去皮，細橫切之）　甘草（三分）　桃仁（半兩，去皮尖）　鹽花（三兩）</p>
<p>上以杏仁、桃仁、薑、濕紙同裹煨，沙盆內研極細後，入甘草、鹽再研，潔器貯之。湯點服。</p>
<p>治諸般泄瀉不止，及年高久瀉。健脾散。</p>
<p>川烏頭（炮，去皮臍，三分）　厚朴（去皮，薑汁製一兩）　甘草（炙）　乾薑（炮，各一兩）</p>
<p>上為末。每服一錢。水三合，生薑二片，煎至二合，熱服。並進二服，立止。</p>

<h2>冬時攝養第十二</h2>
<p>冬屬水，主於斂藏。冬，腎氣旺，屬水，味屬咸。水剋火，火屬心，心主苦。當冬之時，其飲食之味，宜減咸而增苦，以養心氣。腎氣盛者，調吹氣以平之。順之，則安；逆之，則少陰不藏，腎之水獨沉。</p>
<p>三冬之月，最宜居處密室，溫暖衾服，調其飲食，適其寒溫。大寒之日，山藥酒、肉酒，時進一杯，以扶衰弱，以禦寒氣，不可輕出，觸冒寒風。緣老人血氣虛怯，真陽氣少，若感寒邪，便成疾患，多為嗽、吐逆、麻痹、昏眩之疾。冬燥煎爐之物，尤宜少食。</p>
<p>冬月，陽氣在內，陰氣在外，池沼之中，冰堅如石，地裂橫璺，寒從下起，人亦如是。故盛冬月，人多患膈氣滿急之疾，老人多有上熱下冷之患。如冬月陽氣在內，虛陽上攻，若食炙爆燥熱之物，故多有壅、噎、痰嗽、眼目之疾。亦不宜澡沐。陽氣內蘊之時，若加湯火所逼，須出大汗。高年陽氣發泄，骨肉疏薄，易於傷動，多感外疾，惟早眠晚起，以避霜威。晨朝宜飲少醇酒，然後進粥。臨臥，宜服微涼膈化痰之藥一服。</p>
<p>今列冬時湯藥如後。</p>

<h2>冬時用藥諸方</h2>
<p>治老人大腸風燥氣秘。陳橘丸（霍大使與馮尚藥同定此方）。</p>
<p>陳橘皮（去瓤，一兩）　檳榔（細銼，半兩）　木香（一分）　羌活（去蘆頭，半兩）　防風（去蘆頭，半兩）　青皮（去瓤，半兩）　枳殼（麩炒，去瓤，半兩）　不蛀皂角（兩挺，去黑皮，酥炙黃）　郁李仁（一兩，去皮尖，炒黃）　牽牛（微炒，杵細，羅，取末，二兩）</p>
<p>上為末，郁李仁、牽牛同研拌勻，煉蜜為丸，如桐子大。每服二十丸。食前，用薑湯下。未利，漸加三十丸，以利為度。</p>
<p>老人有熱，壅滯不快，大腸時秘結，諸熱毒生瘡。搜風順氣牽牛丸。</p>
<p>牽牛（二兩，飯甑蒸過）　木通（一兩）　青橘（一兩，去瓤）　桑白皮（一兩）　赤芍藥（一兩）　木香（半兩）</p>
<p>上為末，煉蜜為丸，如桐子大。每服十五丸至二十丸，丈夫酒下；婦人血氣，醋湯下。</p>
<p>解老人熱秘方。</p>
<p>大附子一個，燒過存性，研為末。每服一錢，熱酒調下。</p>

<h2>簡妙老人備急方</h2>
<p>治一切傷損血出，消腫毒。秦王背指散。</p>
<p>宣連　檳榔（各等分）</p>
<p>上為末。傷撲，干貼。消腫，冷水調，雞翎掃，妙。</p>
<p>治失音。回聲飲子。</p>
<p>皂角（一挺，刮去黑皮並子）　蘿蔔（二個，切作片）</p>
<p>上以水二碗，同煎至半碗以下。服之。不過三服，便語。吃卻蘿蔔，更妙。</p>
<p>治鼻衄。醍醐酒。</p>
<p>上以蘿蔔自然汁半盞，熱酒半盞，相和令勻。再用湯溫過，服之，立驗。</p>
<p>補下元，烏髭鬚，壯腳膝，進食，悅顏色，治腰疼。杜仲丸。</p>
<p>杜仲（一兩，炙，令黃為度）　補骨脂（一兩，炒令香熟，為末）　胡桃仁（一兩，湯浸，去皮，細研）</p>
<p>上件三味，研令勻，煉蜜為丸，如梧桐子大。空心，溫酒下三十丸。</p>
<p>治一切眼，洗眼藥。</p>
<p>膽礬（一兩，煅令白，去火毒用）　滑石（一兩，研）　秦皮（半兩）　膩粉（二錢七）</p>
<p>上每用一字。湯泡，候溫，閉目，洗兩眥頭，以冷為度。</p>
<p>補益療眼有黑花。明目川椒丸。</p>
<p>川椒（一斤，每用鹽一斤，拌淹一宿，三度換鹽，淹三夜，取出曬乾，去鹽用）　黑參（半斤，銼）</p>
<p>上二味，為末，煉蜜為丸，如梧桐子大。每日鹽湯下三十丸，食後，臨臥服之。</p>
<p>治腎臟虛冷，肝膈浮熱，上衝兩目，生翳、黑花、風毒，久不治者。</p>
<p>青鹽（一兩，生研）　蒼朮（一兩，先用米泔水浸洗三日，焙乾，切）　木賊草（一兩，小便浸三日，焙乾）</p>
<p>上為末。空心，熟水調下一錢。如大段青白，不見物者，不過十服。小可，只三二服。</p>
<p>治眼有冷淚，木賊散。</p>
<p>木賊（一兩，為末）　木耳（一兩，燒為黑灰）</p>
<p>上件二味，同研令勻。每用二錢，以清米泔煎熟，放溫調下。食後、臨臥各一服。</p>
<p>治腸風瀉血，當日止方。</p>
<p>附子（一兩，炮去皮臍，為末）　綠礬（四兩，用瓶子盛之，火煅，食頃候冷，取食鹽一合，硫黃一兩，同礬研，依前入瓶子內燒，食久候冷取出，研細用之）</p>
<p>上二味，一處研令勻，粟米粥為丸，如梧桐子大。空心，用生地黃汁下三十丸，當日止。一月除根，亦可久服。助下元，除風氣，補益臟腑。</p>
<p>治瀉痢。乳香散。和氣，止藏毒瀉血，腹內疼痛等。</p>
<p>乳香（少許）　訶子皮（一分）　當歸（半兩）　木香（半分）</p>
<p>上細銼，與乳香微炒，候當歸干為度，杵為末。每服二錢，用陳米第三度泔，六分一盞，煎至五分。空心，午前服。此方最妙，患及百餘日者，服之皆愈。</p>
<p>芸香丸治風血留滯，下成腸風，痔疾。</p>
<p>鹿角（一兩，燒令紅，候冷研）　蕓薹子（半兩，微炒）</p>
<p>上二味，為末，醋煮麵糊為丸，如梧桐子大。每服十丸，飯飲下，溫酒下亦得。空心、食前服。</p>
<p>白香散　治一切惡瘡，疼痛不可忍者。</p>
<p>楓香（一分，紙襯於地上，食頃令脆，細研）　膩粉（一分）</p>
<p>上二味，同細研令勻。每有患者，先用口內含漿水令暖，吐出洗瘡令淨後，以藥末干敷之，疼痛立止，貼至瘥為度。治金瘡，水毒，及木簽刺、癰疽、熱毒等，刻聖散方。金瘡，此藥最妙。糯米三升，揀去粳米，入瓷盆內，於端午日前四十九日，以冷水浸之，以一日兩度換水，輕輕以手淘，轉，瀝去水，勿令攪碎，浸至端午日取出。用干生絹裹，掛於通風處收之。上，旋取少許，炒令焦黑，碾為末，冷水調如膏藥大小，裹定瘡口外，以絹布包定，更不要動著，候瘡愈。若金瘡誤犯生水，瘡口作膿，烘漸甚者，急以藥膏裹定三食時，腫處已消，更不作膿，直至瘡合。若癰疽、毒瘡初發，才覺焮腫赤熱，急以膏藥貼之，一宿便消。喉閉及咽喉腫痛，吒腮，並用藥貼項下及腫處。若竹木簽刺入肉者，臨臥貼之，明日揭看，其刺出在藥內。若貼腫毒，干即換之，常令濕為妙。惟金瘡水毒不可換，恐傷瘡口。治手臂疼痛，冷重無力，虎骨散。虎骨二錢，為粗末，炒黃。羚羊角屑二兩。芍藥二兩。上，一處酒浸一宿，焙杵為末。每服二錢，食前暖酒調下。</p>
<p>治上焦風，熱毒、瘡腫。黃耆散。並治發背熱毒。</p>
<p>黃耆（二兩）　防風（一兩半）　甘草（一兩，炙）　上為末。如茶點，服一錢。</p>
<p>治風氣。神白散。</p>
<p>白芷（二兩）　甘草（一兩）</p>
<p>上銼成骰子大。慢火一處炒，令深紫色，勿令焦黑。放地上，出火毒，杵為末。每服一錢半，水八分一盞，姜二片、棗二個，同煎至六分，通口服。如傷寒時疾，去棗姜，卻入蔥白三寸，豉五十粒，依前服。如人行五七里以來，更服，汗出為妙。</p>
<p>治一切心腹刺痛，應痛丸。</p>
<p>乳香（一兩）　五靈脂（一兩）　沒藥（一兩）　川烏頭（二兩去皮臍）</p>
<p>上為末，麵糊為丸，如桐子大。每服熟水吞下二十丸。</p>
<p>治赤白痢方</p>
<p>黃連（半兩）　漢椒（一兩）</p>
<p>上同炒，令黃色，去火毒，為末，以多年水梅肉，丸如綠豆大。每服二十丸，鹽湯下。小兒加減用之。</p>

<h2>養老奉親書續添</h2>
<p>一、年老豐肥之人，承暑冒熱，腹內火燒，遍身汗流，心中焦渴。忽遇冰雪冷漿，盡力而飲，承涼而睡，久而停滯。秋來，不瘧則痢。</p>
<p>一、年老豐肥之人，不可騎馬，恐有墜墮。宜別置乘座器具，穩當無失。</p>
<p>一、老人目暗耳聾，腎水衰而心火盛也。若峻補之，則腎水彌涸，心火彌茂。</p>
<p>一、老人腎虛無力，夜多小溲。腎主足，腎水虛而火不下，故足痿。心火上乘肺而不入脬囊，故夜多小溲。若峻補之，則火益上行，脬囊亦寒矣。</p>
<p>一、老人喘嗽，火乘肺也。若溫補之，則甚。峻補之，則危。</p>
<p>一、老人臟腑結燥，大便秘澀，可頻服豬羊血，或葵菜血臟羹，皆能疏利。</p>
<p>一、老人，可常服杏湯；杏仁板兒，炒熟，麻子、芝麻作湯服之。亦能通利。</p>

<h1>附篇</h1>

<h2>貧富禍福第六</h2>
<p>《經》曰：自天子至於庶人，孝無終始，而患不及者，未之有也。人子以純孝之心，竭力事親，無終始不及之理，惟供養之有厚薄，由貧富之有分限。人居富貴，有厚於己而薄於親者，人所不錄，天所不容，雖處富貴而即貧賤也。人雖居貧賤，能約於己而豐於親者，人所推仰，天所助與，雖處貧賤而即富貴也。作善降之百祥，作不善降之百殃。善莫大於孝，孝感於天，故天與之福，所以雖貧賤而即富貴也。罪莫大於不孝，不孝感於天，故天與之禍，所以雖富貴而即貧賤也。善惡之報，其猶影響，為人子者，可不信乎？</p>
<p>奉親之道，亦不在日用三牲，但能承順父母顏色，盡其孝心，隨其所有，此順天之理也。其溫厚之家，不可慢於老者，盡依養老之方，勵力行之。其貧下闕乏之家，養老之法，雖有奉行之心，而無奉行之力者，但隨家豐儉，竭力於親，約禮設具，使老者知其罄力事奉而止。將見孝心感格，陰靈默佑，如姜詩之躍鯉，孟宗之泣筍，無非孝感所致，此行孝之驗也。</p>
<p>慮孝子順孫，有窘乏不能依此法者，意有不足，故立此貧富禍福之說以齊之。</p>
