<header data-type="book">
<h1>通俗內科學</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張拯滋</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第六冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521056">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>自序</h1>
<p>醫學為捍衛人類生存之一端，有人類即需求醫學。因人體之仇敵，大部屬於疾病，其防禦方法，亦隨人類之繁殖而愈感切要。吾人有史以來，醫學之演進，頗多可觀，上古有神農、軒轅、岐伯等之發明，中古有張機、華佗之精進。近古則有醫學組織，如唐貞觀之世，諸州置醫藥博士及學生；宋設醫官院，釐訂醫學圖籍，而民間之治療方法，亦勃然興起；及夫元明清以迄現在，代有名醫，各科之著作如林。在社會進化過程中，吾國固有之醫學，亦占相當重要之地位，惟自西醫流入以來，常有中西醫藥之爭議。習西醫者，必非中醫，擅中醫者，多斥西學，以內科為尤甚，謂西醫內科，因藥不逮中醫之穩妥，中醫內臟之解剖，不及西醫之詳盡，各是其說，是皆不溯厥根源，互相貫通，為學術上推進之新機。且人類愈繁殖，物質文明愈進步，致病之原因愈形複雜，吾人健康被劫奪之機會更多。宜如何融會古今中外醫學，以抵抗與消滅病菌之襲擊？謀目今社會組織中吾國醫藥之位置，斯有冀夫吾國醫界不分畛域，辨晰異同，取彼之長，以補我之不足，微特病者之幸福可期，而於人類之繁盛，固有莫大之關係也。本編匯參中西病理，多采西學，處方均用中藥，於內科諸病，分節敘述，學說務求其新，文辭惟擇淺顯，使讀者開卷瞭然，藉貢通俗治療之助，亦聊以作革新國醫之先驅云爾。丙辰春正月編者識。</p>

<h1>例言</h1>
<p>本書術語，悉用我國通行名詞，我國所未備者，間採譯名。</p>
<p>書中詳述內科諸病，分原因、症候、經過、預後、類症、治法、處方各節，均用淺近文言，即不知醫者，亦可照法施治。</p>
<p>本書所用參考書，古今中外共二十餘種，必比較詳核而後編入。</p>
<p>書中處方，分藥方、特方二種。藥方即我國古方，特方即外國之普通藥方。特方中之藥品，均吾人可自制者。採用既易，效驗亦確，且藥性和平，決無危險之虞。</p>

<h1>傳染病</h1>

<h2>傷寒（腸窒扶斯）</h2>
<p><u>（原因）</u>　為腸窒扶斯桿菌，其傳染，由於飲食物、飲料水、糞便、空氣等。</p>
<p><u>（症候）</u>　本病之潛伏期，約十四日至二十一日，初發全身倦怠，飲食減少，頭痛，耳鳴，睡眠不安之前驅症，繼而惡寒發熱，舌起白苔，便閉，或下痢，甚至大渴引飲，舌唇乾裂，狂言舞跳，神識朦朧，脈搏在八十以上，或及至一百三十。熱度有一定之規定，約每日上升半度，至一周之終，其熱遂達四十或四十一度，稽留一周或二周日，而發熱度漸降，身體漸快，食欲增進，遂復於健康之域矣。此外尚有變形者三種：（一）輕症窒扶斯（俗名小傷寒），其經過之期間極短，八日至十四日治。（二）不全窒扶斯，其發熱速，而退熱亦速。（三）逍遙窒扶斯，發熱極微，起居如常，患者全不介意，然於第二三周間，或有便血而見危險症狀。</p>
<p><u>（預後）</u>　脈搏一百二十以上，或脈力軟弱，或脈不整，或四十一度之高熱，稽留不退，或發重篤之合併症，為不良。在老人、小兒、產婦，亦危險。</p>
<p><u>（治法）</u>　宜安臥靜養，病房宜流通空氣，不使有劇烈之光線射入。食餌當用液體營養物，即牛乳、豆乳、肉羹汁、生卵，可飲黃酒，或葡萄酒。（輕症用少量，重症用多量）初期宜用輕粉瀉劑，退熱劑不可妄用，須至二周之終，體溫四十度以上，稽留未退者用之。若熱甚高，可用冷水纏絡法，退熱後，一二周日內，不得食硬固之食物，更當注意清潔病房，常換被褥，消毒衣服及糞便等。</p>
<p><u>（藥方）</u></p>
<p>粉霜（一兩）　輕粉（五錢）　白麵（六錢）</p>
<p>上水和蒸熟，分為一百二十丸，每服一丸至二丸（此方根據於《宣明方》）。</p>
<p>麻黃（十斤去節）　杏仁（四升去皮）　大黃（二十八兩）（大寒雪煎）</p>
<p>上以雪水煎成乾燥膠質，作丸如彈子大，每以沸湯化服一丸，日服二丸。（《千金方》）</p>
<p>以冰一塊，置於膻中良。</p>
<p>上宜於第三周之後，熱度未降，神志昏迷者。（時珍）</p>
<p>以冷水浸布貼胸前。</p>
<p>上施用時間同前。（《活人書》）</p>
<p>麻黃（一錢二分）　桂枝（八分）　杏仁（一錢二分）（麻黃湯）</p>
<p>上以水兩盞，煮取六分服。宜於喘，而無汗、頭痛、發熱、惡寒者。（仲景）</p>
<p>桂枝　芍藥　生薑（各七分半）　甘草（五分）（桂枝湯）</p>
<p>上以水一盞四分，煎取六分服。宜於上衝頭痛、發熱、汗出、惡風者。（仲景）</p>
<p>厚朴　枳實（各二錢一分）　梔子（七分）（梔子厚朴湯）</p>
<p>上三味以水一盞四分，煮取六分服，宜於胸腹煩滿者。（仲景）</p>
<p>黃連（四分）　半夏（一錢二分）　栝蔞實（八分）（小陷胸湯）</p>
<p>上以水一盞八分，煮取六分服，宜於結胸。（仲景）</p>
<p>蕙草（陵零香）　當歸（各五分）　黃連（一錢）（蕙草湯）</p>
<p>上以水一盞，煮五分服，日三服，宜於下利。（範汪方）</p>
<p><u>（特方）</u></p>
<p>輕粉（一分三釐）</p>
<p>上作一次服。本病之初期服之，能下泄，熱候之下降亦速。</p>
<p>明礬（八分）　白糖（四錢）</p>
<p>上為十包，每時服一包，宜於下痢及腸出血。</p>
<p>麝香（一分三釐）　樟腦（一分三釐）　白糖（二錢五分）</p>
<p>上分六包，每二時服一包，宜於虛脫。</p>

<h2>爛喉痧（實扶的里亞）</h2>
<p><u>（原因）</u>　為實扶的里亞桿菌傳染而發，二至七歲之小兒，易罹此症。</p>
<p><u>（症候）</u>　本症之局所病狀，咽喉左右核及黏膜，腫脹焮赤而痛，生白色或微黃色之義膜，顎下腫脹，壓之則痛。其全身病狀，身體違和，頭痛，體溫高至三十九度以上，嚥下困難，病愈進，則呼吸之困難愈甚，而將窒息，併發咳嗽，骨節疼痛，耳炎諸症，亦有皮膚髮薔薇疹，或紅斑者。</p>
<p><u>（經過）</u>　一二周日。</p>
<p><u>（預後）</u>　不定。</p>
<p><u>（治法）</u>　宜隔離患者，清潔病房，流通空氣，含冰塊，用冷罨法，以電氣燒灼患部，或以鉗鉗定棉花，拭去義膜，又含嗽淡鹽湯，與石灰水，可吸入熱蒸氣。如現衰弱之狀，宜與以黃酒，或赤葡萄酒等之興奮劑。高熱，則宜用解熱劑。</p>
<p>近時發明之血清療法，最為有效，若施行過遲，亦無益也。其他若義膜固著氣管，可送入金屬管於氣管之法。</p>
<p><u>（藥方）</u></p>
<p>鮮生地（四錢）　鮮石斛（二錢）　鮮柳根白皮（四錢）　苦甘草（一錢）　薄荷葉（一錢五分）　地骨皮（三錢）　元參（二錢）　丹皮（二錢）</p>
<p>上水二盞，煮取一盞服，宜於發熱。（退熱劑）</p>
<p>瀉葉（二錢）　大黃（一錢五分）　芒硝（二錢）</p>
<p>上水一盞五分，煮取六分服，宜於大便秘結者。</p>
<p>龍腦（三分）　硼砂（一錢）　膽礬（五分）　兒茶（一錢五分）</p>
<p>上研末吹入。</p>
<p><u>（特方）</u></p>
<p>樟腦酒</p>
<p>上十五分時塗布一次。</p>
<p>膽礬（一錢三分）　白糖（一錢一分）　澱粉（一錢一分）</p>
<p>上分五包，每十分時一包，取吐。</p>
<p>石灰粉（一分）　清水（八十分）</p>
<p>上搖動二三分時候，澄清含漱。</p>
<p>硼砂（二分）　清水（二分）</p>
<p>上吸入。</p>

<h2>霍亂（虎列剌）</h2>
<p><u>（原因）</u>　由於虎列剌菌傳染所致。其傳染之媒介，為飲食物、飲料水，及患者之吐瀉物傳播。飲食不攝生，及胃炎感冒，亦能誘起此症。</p>
<p><u>（症候）</u>　本病分類似霍亂、單純霍亂、真性霍亂、乾性霍亂（乾霍亂）四種。類似霍亂，初發下痢，次發嘔吐，吐物及糞便之色，類似米泔汁，泌尿減少，或絕止。眼珠凹陷，手足厥冷，皮膚蒼白，身體疲勞，腓腸疼痛，脈搏細弱，輕者一二日即治，重者數日死。</p>
<p>單純霍亂，初發肚腹雷鳴，一日下痢六七次，身體倦怠，食欲缺乏，嘔吐煩渴，尿量減少等，數日即治，或引續而成真性霍亂。</p>
<p>真性霍亂，由於類似霍亂與單純霍亂引續而發，或俄然特發者，嘔吐下痢更甚，一日有下至二三十次之多，其色與前無異，或稍混血液。全身衰弱，體溫下降，諸筋痙攣，聲音嘶啞，大渴引飲，眼球陷落，呼吸困難，四肢厥冷，皮膚皺癟，而殆無彈力，且呈青藍色。此後大抵經一日或二日而死，或一二周而治。</p>
<p>乾性霍亂，症候大抵與前相同，惟不發下痢。</p>
<p><u>（預後）</u>　輕症良，重症不良。死亡之例，百人中約五十人，至七十人。</p>
<p><u>（治法）</u>　初起時，即宜入隔離病房，可服輕粉瀉劑，以泄腸內容物，而後用鴉片與興奮劑，可溫包腹部，甚者，行鹽水或樟腦之皮下注射。其他對症療法，最為緊要。</p>
<p><u>（預防）</u>　本病流行時，宜加意攝生，飲料及食物，必經沸度而後可。病者之吐瀉物，及汙染物，速即燒棄，或消毒。又蠅類為本病傳染之媒介，宜設法驅除之。如身體稍覺不快，即宜延醫療治。</p>
<p><u>（藥方）</u></p>
<p>丁香（七粒）　白豆蔻（七粒）　小腹痛者，加砂仁七粒。（神香散）</p>
<p>上為末，清湯調下。（景岳）</p>
<p>黨參　乾薑　白朮　甘草（各八分）（理中湯）</p>
<p>上水二盞，煮取六分服，不瘥頻服。（仲景方）</p>
<p>黃芩　黨參　乾薑（各八分）　桂枝（三分）　姜　半夏（二錢）　大棗（三枚）（黃芩湯）</p>
<p>上煮法同前。（外臺）</p>
<p><u>（特方）</u></p>
<p>輕粉（一分）　白糖（五錢）</p>
<p>上分六包，每二時服一包。</p>
<p>樟腦（五分二釐）　薄荷油（五分二釐）　酒精（五錢二分）</p>
<p>上藥調和，以二十滴浮於一杯之葡萄酒上（黃酒亦可）飲之。</p>
<p>阿片酒（五分）　甘松酒（二錢五分）　薄荷油（五滴）</p>
<p>上每二時，服二十滴。</p>
<p>阿片（一分五釐）　高粱酒（二十分）</p>
<p>上浸七日，濾去滓，加酒補足二十分，每服十五滴，日服三次。</p>

<h2>瘧疾（間歇熱）</h2>
<p><u>（原因）</u>　為麻拉里亞之寄生物，存在於血中發之。而此寄生物，由蚊屬一種，即亞納非列斯蚊，螫刺人體而傳染之。</p>
<p><u>（症候）</u>　本病每發一次，分作三層，（一）發冷而寒戰。（二）發熱（體溫達三十九度至四十一度）。脈大而數（百搏至百二十搏）。（三）出汗。汗後則體溫下降，諸病消散，惟身體衰弱，尿中含有赤色之沉渣，比重甚高，又過若干時，則其病又發。有日發者，有間日發者，有間二日發者。若久不治愈，則身瘦面黃，脾臟脹大，併發腦氣筋痛等症。</p>
<p><u>（預後）</u>　良，但惡寒瘧疾，或有弛張性者，頗難全治，且此症多發於熱帶地方。</p>
<p><u>（治法）</u>　發冷而寒戰時，行溫布摩擦法，以溫暖身體，又與以茶或湯等之溫飲料。發熱時，則可用冷罨法，及清涼飲料。此外在其發作之前，與以退熱劑，又病症持久者，可用滋養強壯藥，並行轉地療法。</p>
<p><u>（藥方）</u></p>
<p>常山（一寸）　草果（一枚）　熱酒（一杯）</p>
<p>上浸一夜，早起服之。（劉長春經驗方）</p>
<p>柴胡（八分）　黃芩　黨參　甘草（各一錢）　半夏（薑製，一錢五分）　姜（一片）　棗（三枚）</p>
<p>上水二盞，煮取六分服。（張仲景小柴胡湯）</p>
<p>地骨皮（二錢）　防風（一錢）　甘草（五分）　姜（一片）（地仙散）</p>
<p>上水煎服。（《濟生方》）</p>
<p>砒石（二錢）　雄黃（四錢）　棗肉（一兩二錢）</p>
<p>上為丸，如卜子大，每日服一丸。（驗方）</p>
<p><u>（特方）</u></p>
<p>黃連（一錢）　蘇木（一錢）</p>
<p>上水一盞，煎至四分服，日服二三次。</p>
<p>砒石（一毫之十分之三）　黑胡椒末（一分三釐）　樹膠（適宜）</p>
<p>上為十丸，早餐服一丸，宜於久不愈者。</p>

<h2>赤痢</h2>
<p><u>（原因）</u>　由於不潔之飲食物、飲料水、衣服之交換，便廁、感冒，及胃加答兒。</p>
<p><u>（胃炎）</u>　腸加答兒（腸炎）。論其究竟，則為赤痢桿狀菌傳染所致。</p>
<p><u>（症候）</u>　全身違和，腹痛，惡寒發熱，食思缺損，下痢頻次，泄黏液，或混血膠狀之大便，與觸鼻之惡臭，然其量極少，不能快通，故感里結後重，肛門灼熱，痛苦不堪，一日竟有二十至七十次之多。小便減少，舌生白苔，重者發熱特甚，食物不進，腹痛異常。舌苔煤黑，眼球陷落，聲音嘶啞，以致衰弱而死。否則變為慢性赤痢，是症不問老幼，均不得望其全快。</p>
<p><u>（預後）</u>　從其流行性良否不同，惟衰弱極老人、小兒，最為危險。</p>
<p><u>（治法）</u>　主對症療法，慎飲食，命安臥靜養，病室須流通空氣，清潔患者之周圍，嚴行消毒。宜行半身浴，或下腹溫罨法，而先投以下劑，使便通，既得十分之排便，即可用收斂劑，或止瀉劑。</p>
<p><u>（預防）</u>　飲食宜攝生，衣服宜清潔，身體宜勤浴，住屋宜乾燥。食物及水，必經沸度而後可，瓜果涼水及冰水不可食，汙水不可洗衣，精神及身體不可過勞，食物不可過量，便時宜擇清潔之坑廁，有泄瀉及感冒，即宜醫治，病房非看護人不宜入內，病人食物之杯盤，及病人排泄之糞便，宜用石灰水嚴行消毒。</p>
<p><u>（藥方）</u></p>
<p>廣瀉葉（一錢）　元明粉（二錢）　姜（一錢）　橙皮（一錢）</p>
<p>上以水二盞，煎五分服。</p>
<p>黑牽牛（五分）　白牽牛（五分，生研）</p>
<p>上為一次吞服，甘草湯下，每日三服。</p>
<p>瀉劑奏效後，可用下方。</p>
<p>檳榔（二錢）　白礬（二錢）　肉桂（二錢）　龍骨（二錢）</p>
<p>上研細末，分作十包，每服一包，日三服。</p>
<p>山楂炭（二錢）　粟殼（三錢）　檳榔（一錢五分）　石榴皮（二錢）　青糖（不拘）</p>
<p>上水二盞，煎五分服。（近世驗方）</p>
<p>訶黎勒（一枚）（訶黎勒散）</p>
<p>上一味，煨熟，研末，米飲和服。（《金匱》）</p>
<p><u>（特方）</u></p>
<p>蓖麻子油</p>
<p>上以二三錢服之。（三時間仍不快，則可再服一錢。）</p>
<p>此油之製法，用蓖麻子五斤，冷水泡一日，用沸水煮二句鍾，去水，日中曬乾，搗爛，加水十斤，再用火煮之。屢次攪動，至油質上浮，收取用之。市中所售者。均屬不佳，不可入藥。</p>
<p>大黃粉（五分）　滑石粉（五分）　桂皮（即肉桂，五分）</p>
<p>上為細末作一服，日三四服，宜於小兒。</p>
<p>沒石脂（一錢）　阿片（一分）　白糖（二錢）</p>
<p>上分作十包，每一時服一包，宜於瀉劑奏效後。</p>
<p>樟腦（一分）　阿片（一分）　薄荷油（一分）　火酒精（二兩）</p>
<p>上浸出，每服十滴至二十滴，宜於虛脫。</p>

<h2>麻疹</h2>
<p><u>（原因）</u>　傳染力極為強大，惟多襲於小兒，一發此症後，再發者甚稀。而傳染之媒介，為淚液、咯痰、呼氣、唾液，皮膚、蒸氣，及空氣、器具等。</p>
<p><u>（症候）</u>　本病之潛伏期，約五六日，以至十日，其初成三四日間，則體溫升達三十八九度，發譫語、噴嚏、流淚、乾咳。其後為發疹期，則體溫升至三十九度五分，以至四十一度。始見發疹，最初見於眼之邊傍或顏面，次則蔓延於頸，及軀幹四肢，皮膚呈紅色，或稍帶藍色，經一二日，則體溫下降，赤疹稍蒼白。至第三日，或第四日，悉行消失，至第六七日，此時身體雖全快，惟身上之皮膚剝脫，而成粗糙之形。本病發起後，大抵經八日，或十日，而得全快。</p>
<p><u>（類症）</u>　風疹，發疹窒扶斯，梅毒疹等。</p>
<p><u>（預後）</u>　概良。</p>
<p><u>（治法）</u>　此症單純者，可不用藥劑，以待期療法為最要，即命安臥靜養，平均溫度。（列氏七十五六度）流通空氣，溫和身體，切勿與以寒冷之飲食品。病室宜幽暗，大便不通者，可用輕瀉劑，平日可用和緩劑，或退熱劑。其他有合併症，宜各施行適宜之治法。</p>
<p><u>（預防）</u>　隔離病兒與康健者接近。然此症如能於四五歲至八九歲之間，傳染善性之麻疹，則他日可以免惡性傳染之憂，亦可為不幸中之幸也。</p>
<p><u>（藥方）</u></p>
<p>西河柳（一握）（約三錢）</p>
<p>上水煎服，一日二次。</p>
<p>薄荷　防風　連翹　牛蒡子　荊芥　大青　黃芩　黃連</p>
<p>上分量，隨年齡酌定，水煎服之。</p>
<p>葛根　升麻　芍藥　甘草（升麻葛根湯）</p>
<p>上同前。</p>
<p><u>（特方）</u></p>
<p>蓖麻子油（一錢三分）（一歲以上小兒之所用分量）</p>
<p>上浮於水面，或茶上服之。宜於便秘。</p>
<p>遠志（四分）　阿片酒（二滴）　糖漿（四錢）　清水通宜</p>
<p>上一日六次，二日分服。</p>

<h2>梅毒</h2>
<p><u>（原因）</u>　此症有先天后天之別，先天由父母遺傳而發，又名遺毒，後天由於交結，或接吻，或患者之煙管茶杯等，均為本病之媒介。</p>
<p><u>（症候）</u>　先天梅毒發，全體羸弱，鼻孔充塞，足蹠及肛門周圍，呈赤色而有光澤。後天梅毒之潛伏期，分為數期：第一期之病狀，始成硬性下疳，男子在於龜頭等處，女子在於大陰唇等處，生硬結節，有時潰爛而出膿汁。經數周後，頗似治愈，隨續發便毒，其始鼠蹊腺或無痛性橫痃，繼則頸及腋下等之腺亦腫，經二三周時間，則惡寒發熱，諸關節劇痛，由是而移至第二期。本期為梅毒發疹期，則寒熱頭疼，四肢疼痛，貧血，不眠，神經衰弱，外皮發梅毒性薔薇疹。（為紅色之斑點，多呈圓形，比皮膚之表面稍高，壓之則退色）及梅毒蕾疹（為小豆或豌豆大之紅點，多發於顏面）、梅毒性乾癬（所患之部，則呈白色而有光澤之鱗片，多在於手足掌上）、扁平贅肉（皮膚上現扁平之隆起，宛如覆以黏稠灰白色之沉著物，其惡臭特著。此時傳染性甚強，多生於陰莖下面，與陰囊之交界，及陰囊與大腿之交界間，或大小陰唇、肛門周圍、鼠蹊部、臍窩、鼻唇溝、口角、指、趾等處）、梅毒性小膿泡疹，大膿泡疹（膿泡成後，潰爛甚深，有痂皮為表在性）。此外之皮疹，種類甚多，或生如胡桃之硬結節，續流膿汁，或罹眼病而至盲目。第三期梅毒之特有症狀，則發皮膚與筋肉之護膜腫，與骨膜腫，頭骨、四肢骨、鼻骨發劇痛，鼻骨尤甚，或鼻之全部，全行消失。更甚者，波及內臟，竟有釀成生命之危險。亦有發脊髓實質之護膜腫，惟甚希耳。</p>
<p><u>（治法）</u>　先天梅毒宜禁與母乳，而與以滋養之物品。口內、陰部、肛門，行清潔法，施局部及全身療法，宜預防傳染於家族為要。後天梅毒，宜取易於消化而富於滋養之食物，切戒飲酒及房事，如在第一期之時間，宜預防第二期之發疹侵襲，即口內炎皮脂漏、脫髮、濕疹、足汗、齲齒、胃痛，及習慣便秘之療法，切勿可忽。如行水銀療法時，其口腔宜嚴厲保持清潔，每日用淡鹽湯含漱數次。</p>
<p><u>（藥方）</u></p>
<p>川萆薢（一兩）</p>
<p>上以水三盞，煎至二盞，不拘時，徐徐溫服。</p>
<p>土茯苓（八錢）　水（十兩）</p>
<p>上煎汁，一日數次，分服。</p>
<p>茯苓（三錢）　木通（三錢）　金銀花（三錢）　川芎（一錢）　大黃（三錢）　甘草（一錢）　土茯苓（一兩）</p>
<p>上水二合，煮取一合，作二次服。</p>
<p>輕粉　大楓子肉</p>
<p>上等分，研勻塗之。（嶺南衛生方）</p>
<p>輕粉（一錢）　胡桃仁（二錢）　炒槐花（二錢）</p>
<p>上棗肉為丸，分作九服，三日服盡。（楊誠經驗方）</p>
<p><u>（特方）</u></p>
<p>水銀軟膏</p>
<p>上輪流塗於胸側、上膊、大腿等處。</p>
<p>明礬（四分）　餾水（二兩）</p>
<p>上含漱劑。</p>

<h2>淋病</h2>
<p><u>（原因）</u>　由於與不潔之婦人交接，傳染淋病球菌所致。</p>
<p><u>（症候）</u>　此症有急慢二性之別。急性者，與有本病之婦人交接後，經三日，呈尿道焮赤腫痛，尿意頻數，尿中常帶膿汁，放尿時發劇痛，在男子則陰莖腫熱，在女子則陰唇紅爛。再經數日，則膿汁之量益增，經五六周後，或可粗治，若治療不適，則成為慢性，殆無疼痛，仍漏少量之膿汁，不易治愈。</p>
<p><u>（治法）</u>　預防此症之法，宜束身自好，絕跡青樓，切戒故意延長之交接，或中止之。若已發此症後，則命安靜身心，守攝生，嚴禁酒類，與刺激性飲食品。用緩瀉劑，行冷罨法，屢屢清潔其陰部，並宜戒房事，正品行，為至要也。</p>
<p><u>（藥方）</u></p>
<p>赤苓（三錢）　白芍　山梔（各二錢）　當歸　甘草（各一錢四分）</p>
<p>上水一盞五分，煎八分服。（五淋湯）</p>
<p>滑石（二錢）　木通　茯苓　車前　瞿麥（各一錢）</p>
<p>上水一盞，煎五分服。</p>
<p><u>（特方）</u></p>
<p>蓽澄茄末（八錢）</p>
<p>上為二十包，一日三包。</p>
<p>檀香油</p>
<p>上日服二三十滴。</p>
<p>明礬（一分）　茴香水（二百分）</p>
<p>上注入尿道。</p>
<p>膽礬（一分）　水（一千分）</p>
<p>上注入劑，用於慢性淋疾。</p>

<h2>癩病（麻風）</h2>
<p><u>（原因）</u>　由於癩病桿狀菌而發，其傳染性極弱，雖夫婦亦少傳染，或謂遺傳而發本病者頗多。</p>
<p><u>（症候）</u>　此症有斑紋癩、神經癩、結節癩三種之別，斑紋癩，全體發大小不同之斑紋，呈赤或紫或褐色，皮膚失其知覺，或發生潰瘍；神經癩，初發知覺過敏，及神經痛，而後知覺消失，運動麻痹，營養障害，毛髮脫落，潰瘍壞疽，漸及於骨與關節之間，其手足與指，宛如失去之狀；結節癩，先發紅赤色之斑紋，於四肢關節，及手掌足蹠之間，經數月或一年後，其顏面生如粟米或豌豆大之硬節，此後皮膚轉黃，毛髮脫落，結節潰瘍，此時雖似花如玉之美人，一變而為不堪之醜態。</p>
<p><u>（經過）</u>　六年，至二十四年。</p>
<p><u>（類症）</u>　狼瘡，梅毒性結節。</p>
<p><u>（預後）</u>　不良。</p>
<p><u>（治法）</u>　本症雖世界名醫，均無療法。近時之治法，以內用大楓子油，外行硫黃浴，十人中或可治愈二人。或注射大楓油於臀部，又施燒灼或灸點，或施電氣療法，潰瘍可用制腐藥。</p>
<p><u>（藥方）</u></p>
<p>大楓子油（一兩）　苦參末（三兩）</p>
<p>上酒糊丸，梧子大，每服五十丸，空心溫酒下，外以苦參湯洗之。（普濟方）</p>
<p><u>（特方）</u></p>
<p>大楓子油（一錢五分）</p>
<p>上為丸，一日二次分服。</p>
<p>大楓子油　椿油等分</p>
<p>上注射臀部。</p>

<h1>呼吸器病</h1>

<h2>感冒</h2>
<p><u>（原因）</u>　本病由於冒寒、冒濕，體溫不調，或垢汙留積，有流行性者（或謂本病系黴菌傳染尚未明確），曰流行性感冒。</p>
<p><u>（症候）</u>　惡寒，發熱，熱在三十八度以上，鼻孔閉塞，或流清涕，頭痛，咯痰，咳嗽，咽喉痛楚，甚者或發譫語，聲音嘶嗄，呼吸苦促。</p>
<p><u>（治法）</u>　預防此症之法，避冒寒，冒濕，冬日早起戒外出，用發汗劑，行蒸氣浴，其他用下方。</p>
<p><u>（藥方）</u></p>
<p>香白芷（一兩）　荊芥（一錢）</p>
<p>上為末，每服二錢，溫茶下。（百一選方）</p>
<p>川芎　荊芥（各四錢）　薄荷（八錢）　白芷　羌活　甘草（各二錢）　細辛（一錢）　防風（一錢五分）</p>
<p>上為末，食後溫茶送服二錢，日服三次。（川芎茶調散）</p>
<p>紫蘇葉（三錢）　陳皮　川芎　蔓荊子　防風　秦艽　荊芥（各一錢五分）　甘草（一錢）　姜（三片）　蔥白（三枚）</p>
<p>上水二盞半，煎一盞，溫服，蓋被髮汗。（加味香蘇飲）</p>
<p><u>（特方）</u></p>
<p>遠志根（一錢三分）　溫湯（二兩六錢）</p>
<p>上煎十五分時，加糖適宜，作三次，一日服盡。</p>

<h2>肺勞（肺結核）</h2>
<p><u>（原因）</u>　本病之真原，為肺結核桿菌，常生活於咯痰呼氣中，凡人偶吸此菌，則直竄肺中之組織，逐漸繁殖，肺臟遂為所傷，而成肺勞。若以病者之咯痰，令動物食之，則必發本病。其他為體質衰弱，營養不良，房勞過度，手淫，憂鬱，外感等。</p>
<p><u>（症候）</u>　初發身體瘦弱，面色光白，胸膈變窄，時有干嗽，初早起咳嗽，後晝夜俱嗽，行路氣促，用力後，面色發紅，上山登樓，氣促特甚，咯血稠痰，亦有咳血者。脈甚數，每一分時，約一百至，此時左右肺葉，其上半已有多粒成塊，尚未腐爛，次則咳嗽漸增，常有松痰，脈極細弱，呼吸愈促，常發潮熱，顏色鮮紅，晨起多冷汗，熱度漸退，言語有沙聲，或啞，咽喉發炎，胸膈常痛，此時肺胞膜已有發炎處也。大便溏泄，時有瀉利，最為危險，此時結核菌已侵入腸內也。舌苔紅色，穀氣或佳或不佳，身愈瘦弱，久則精力耗散而死。</p>
<p><u>（經過）</u>　數月或數年。</p>
<p><u>（預後）</u>　不良。</p>
<p><u>（治法）</u>　宜移居於郊外，或海濱，呼吸新鮮之空氣，眺野外之風景，食滋養之物品，行適宜之運動，飲少量之黃酒，行深呼吸，施海水浴，冬季轉移於和暖之地。早起宜遲，宜廢止使用腦力之事，如有發熱症候，亦無須禁止旅行，若肺之組織，非常傷損，而已成為空洞者，則命安靜療養。轉地旅行，反為有害，但至此時期，雖有極高明之醫士，僅能用法緩其死期而已，蓋本病實無確效之根治藥品。然有不得不用藥品之時，則施行對症療法，如咳嗽，則投以鎮嗽劑；發熱，則投以解熱劑；胃弱，則投以健胃劑；虛弱，則投以強壯劑等。且患本病之唾壺，必須消毒（酒精或生石灰），加以覆蓋，以防咯痰之乾燥飛散。清潔病室，及衣衾手巾，及飲食器具，亦須時常消毒，勉戒接吻。</p>
<p><u>（預防）</u>　防本病之法，莫妙於多吸空氣，多見日光，行適宜之運動，使強壯其身體。凡遇患本病之友朋，切勿與其對坐談笑，吸其呼出之氣，手巾面盆及飲食器具，不得互換使用。又小兒不可用結核性母乳。</p>
<p><u>（藥方）</u></p>
<p>蘆根　麥冬　地骨皮　生薑（各一錢）　梔皮　茯苓（各五分）</p>
<p>上水二鍾，煮八分，溫服。（蘆根飲）</p>
<p>百部根（二十斤）</p>
<p>上搗取汁，煎如飴，服方寸匕，日三服。《深師》加蜜二斤，《外臺》加飴一斤，宜於咳嗽。</p>
<p><u>（特方）</u></p>
<p>銀耳（五分）　白糖（適宜）</p>
<p>上水煮服。</p>
<p>蘇木膏（一錢三分）　阿片番紅花酒（二分六釐）　薄荷水（四兩）　橙皮糖漿（二錢六分）</p>
<p>上二時服一調羹，下利。</p>
<p>杏仁水（一錢五分）　糖漿（四錢）</p>
<p>上每二時，服一調羹。</p>
<p>黴麥（一錢五分）　水（二兩六錢）</p>
<p>上為浸劑，一日六回，二日分服。咯血</p>
<p>龍膽草（二錢六分）　水（四兩浸出）　橙皮糖漿（五錢）</p>
<p>上每二時，服一調羹。</p>

<h2>咳嗽</h2>
<p><u>（原因）</u>　本病為氣管支加答兒，有急慢二性之別，急性者，由於感冒，其他別由吸入煤煙，與刺激性之瓦斯，營養不良，肺結核之遺傳，流行性感冒，猩紅熱，麻疹，天痘，及心肺諸病。慢性者，為急性症之延緩不愈，多發於演說、唱歌，及嗜酒者。其他為肺氣腫、肋膜炎，氣管支黏膜刺激，經久腺病性，武雷篤病，或慢性肺炎，結核，炎性刺激之波及等。</p>
<p><u>（症候）</u>　急性症必發之症候，為惡寒發熱，食慾不振，身體疲倦，脈搏增加，咳嗽不已，繼則咯痰，初時少量黏稠，後為多量稀薄；慢性症，連發咳嗽，繼則嘔吐，喘息咯血，呼氣咯痰，或放惡臭。</p>
<p><u>（預後）</u>　急性者頗易治愈，慢性者輕而延緩。</p>
<p><u>（類症）</u>　急性，類似肺炎、乾性脅膜炎；慢性，類似肺結核、肺壞疽。</p>
<p><u>（治法）</u>　急性與慢性，治法無甚相異，宜戒多言，進暖和性之飲料。室內衣衾，宜平均溫度，行溫水浴，胸部纏以佛蘭絨，吸入食鹽水之蒸氣。呼吸促迫之時，則貼干角芥子泥於胸部，或背部，行轉地療法，移居於溫熱之海邊，其他用鎮嗽劑，祛痰劑，若有虛脫之虞，則可用葡萄酒，精製樟腦麝香等。</p>
<p><u>（藥方）</u></p>
<p>百部（二錢）　姜（一錢）</p>
<p>上水煎服。（葛洪方）</p>
<p>桔梗（二錢）　甘草（一錢）</p>
<p>上水一盞，煎五分服。（桔梗湯）</p>
<p>麥門冬（三錢）　製半夏（二錢）　黨參（一錢五分）　甘草（一錢）　大棗（一枚）　粳米（一撮）</p>
<p>上水二盞，煎一盞服。（麥門冬湯）</p>
<p>紫蘇（一錢）　桑皮（二錢）　青皮（一錢）　五味子（五分）　杏仁（二錢）　麻黃（五分）　甘草（一錢）</p>
<p>上水煎服。（紫蘇散）</p>
<p><u>（特方）</u></p>
<p>遠志（一錢五分）　溫湯（一盞）</p>
<p>上煎五分時，一日三次分服。</p>
<p>麻黃膏（四分）　甘草末（適宜）</p>
<p>上為丸，一次服盡。</p>
<p>漂半夏（五分）　遠志（一錢）　杏仁（八分）</p>
<p>上為散三包，一日服盡。</p>
<p>遠志（二錢八分）　沸水（五兩浸出）　醋蜜（四錢）　淨水（二兩五錢）</p>
<p>上每二時服一調羹。</p>

<h2>咯血（肺出血）</h2>
<p><u>（原因）</u>　為肺勞，肺體變死，肺炎，新氣管支加答兒。（風寒咳嗽）肺鬱血，肺臟揳狀，出血等。</p>
<p><u>（症候）</u>　初發咳嗽，及其溫液湧湧於胸內，然後咯血，其血液呈鮮紅色，混有泡沫，呈亞爾加里性，揳狀出血，則突然起強甚咳嗽，呼吸困難，胸中苦悶，咯特異之痰，痰中有帶黑色之血，身體熱度不升。</p>
<p><u>（治法）</u>　當以治療原病為第一義，其他使患者平臥，安靜身心，胸部用冷罨法或罨冰片，禁談話及溫食物，戒酒色，及精神興奮，嚴攝生，用空氣療法，食滋養品。</p>
<p><u>（藥方）</u>　款冬花（二錢）　百合（二錢）　百部（二錢）</p>
<p>上研末蜜丸如龍眼大，每晚服一丸。</p>
<p>荷葉（四錢）</p>
<p>上焙乾為末，一日二次分服。</p>
<p>黃耆　麥冬　生地　桔梗　白芍（各一錢）　甘草（八分）</p>
<p>上水煎服。（黃耆散）</p>
<p>紫苑（一味）</p>
<p>上炒為末，蜜丸芡子大，每服一丸。（指南方）</p>
<p>槐花（三錢）</p>
<p>上炒研為散，米飲下。（朱氏方）</p>
<p><u>（特方）</u></p>
<p>黴麥膏（四錢）　水（二兩六錢）　橙皮糖漿（七錢）</p>
<p>上每二時食一匙。</p>
<p>芥子末（適宜）</p>
<p>上溫湯調和，施行手浴。</p>

<h2>百日咳（連聲咳）</h2>
<p><u>（原因）</u>　有一種特異之病毒傳染而發，其傳染之媒介，為咯痰與衣服，或久感寒冷。本病多發於二歲至七歲之小兒，至十歲以上，則其感受性驟減，成人則無之。</p>
<p><u>（症候）</u>　初起之時，則發尋常咳嗽，次發發作性痙攣咳嗽，氣管內若癢若痛，氣促，噴嚏，髮長且深之吸息，次發短呼吸，一日約三四次，至二三十次，重者六十次至一百次，痰色暗而帶強黃色，吐痰之時，每連食物吐出，後則漸漸回覆，窒息減少，咳嗽咯痰亦少，終而治愈。</p>
<p><u>（經過）</u>　二月至七月。</p>
<p><u>（預後）</u>　良。但發肺炎之合併症，則不良。</p>
<p><u>（治法）</u>　行轉地療法為最良，宜常出戶外，吸新鮮之空氣。初期用鎮嗽劑，一日行二次之溫浴，又施濕布繃帶，用佛蘭絨浸於溫湯後，置於胸部，外以油紙蓋之。再施行繃帶，此法最有效驗，又發作時，介抱小兒，使咯出黏痰，平均病室溫度，選易於消化之食品，勿與以有刺激性之飲料，又須行鼻孔檢查。</p>
<p><u>（藥方）</u></p>
<p>牛蒡子（二錢）　山稜（一錢）　射干（一錢）　花粉（一錢五分）　杏仁（一錢五分）　細辛（八分）　青黛（五分）　麻黃（四分）　白蜜（二匙）</p>
<p>上水煎服。</p>
<p>生明礬（一錢）　生蜜（四錢）</p>
<p>上調和，服少許。（百花礬）</p>
<p>生薑汁（半杯）　白蜜（二匙）</p>
<p>上沸水沖服三四次。</p>
<p><u>（特方）</u></p>
<p>明礬（五釐）　水（五錢）　橙皮糖漿（五錢）</p>
<p>上一日四次，每次一小食匙。</p>
<p>莨菪根末（八釐）　白糖（四錢）</p>
<p>上為三包，每日三服。用於痙攣，若瞳孔散大者宜忌。</p>

<h1>循環器病</h1>

<h2>心忪（神經性心悸）</h2>
<p><u>（原因）</u>　多起於神經病，神經衰弱，歇斯的里，貧血，依卜昆垤兒，手淫，過房，酒之濫飲，或胃病，及生殖器病之反射作用。</p>
<p><u>（症候）</u>　以神經性心悸為主症，脈搏增加，一分時達於一百四十以上，併發胸部苦悶，心動不整，顏面蒼白，耳鳴眩暈，失神，潮熱諸症。</p>
<p><u>（經過及預後）</u>　概良。或有頑固性。</p>
<p><u>（治法）</u>　當施行原因療法。貧血，則服鐵劑；多血，則減其食量。發作時可行心部冷罨法，與溫水浴。</p>
<p><u>（藥方）</u></p>
<p>辰砂（研，五分）　黃連（五錢）　當歸（三錢）　生地（三錢）　甘草（二錢）</p>
<p>上為末，酒糊丸，如麻子大，每服三十丸。</p>
<p><u>（特方）</u></p>
<p>莨菪膏（三釐）　乳糖（四錢）</p>
<p>上分四包，一日四次，每次服一包。</p>

<h2>真心痛（心臟痙攣，又名絞心症）</h2>
<p><u>（原因）</u>　為冠狀動脈硬化，大動脈瓣閉鎖不全，及筋肉僂麻質斯，大動脈始起部之動脈瘤，其他發於暴酒吸菸等。</p>
<p><u>（症候）</u>　胸骨下際及胸部，發收縮性劇痛，兼有苦悶及窘迫之感覺，其疼痛如抽割絞榨，波及於肩胛頸及上膊指尖，其發作倏來倏去，每次無過一句鍾以上，發時面色青蒼，皮膚黏汗，四肢厥冷，六脈細小，其他心動，心悸，心音幽微，且多發於夜間。</p>
<p><u>（經過）</u>　三四分至一二時間，且每多再發。</p>
<p><u>（預後）</u>　頗不一定。雖無險危之虞，但不易治愈。</p>
<p><u>（治法）</u>　宜施原因療法，而發作時，浸潤布片於芥子精，或芥子油，以摩擦心部及上肢。有心臟衰弱之兆，宜服樟腦赤酒等之提神劑，其他服鎮痙劑，間歇時行冷水洗滌法。室內空氣，宜時常交換，飲食宜擇易於消化之品，並調宜便通。</p>
<p><u>（藥方）</u></p>
<p>桂心（八分）　生薑（三片）　飴糖（三匙）</p>
<p>上沸水沖服二三次。（千金三物湯）</p>
<p>丹參（一兩）　檀香（一錢）　砂仁（一錢）</p>
<p>上水煎服。（程福堂公選良方）</p>
<p><u>（特方）</u></p>
<p>麝香酒</p>
<p>上一日數回，每回十五滴，乃至二十五滴。</p>
<p>阿魏酒</p>
<p>上一日三回，每回二滴乃至三十滴。</p>

<h1>消化器病</h1>

<h2>鵝口（寄生性口內炎）</h2>
<p><u>（原因）</u>　由於乳房不潔而發，或發於一種黴菌之侵襲，多起於營養不良之小兒。</p>
<p><u>（症候）</u>　口內灼熱，口腔及軟口蓋之黏膜，多生白色乾酪樣之小義膜，漸次滋蔓，重者波及咽喉、食道，局部充血腫起，妨害咀嚼嚥下。</p>
<p><u>（經過）</u>　一二周日。</p>
<p><u>（預後）</u>　良。</p>
<p><u>（治法）</u>　預防此病之發生，每次哺乳後，以濕布屢拭口腔全部，哺乳器，亦須保持清潔。成人為慢性症者，則洗滌口腔，更宜加意也。</p>
<p><u>（藥方）</u></p>
<p>硼砂粉（一分）　蜂蜜（一錢）</p>
<p>上混和為塗布劑。</p>
<p>白礬（一錢）　辰砂（三分）</p>
<p>上為末，日敷三次。（普濟方）</p>
<p><u>（特方）</u></p>
<p>硼砂（一錢三分）　水（二兩六錢）</p>
<p>上含嗽劑。</p>
<p>硼砂（一錢三分）　薔薇水（五錢）　玫瑰蜜（一兩）　沒藥酒（五錢）</p>
<p>上口內塗布。</p>

<h2>喉痹（扁桃腺炎）</h2>
<p><u>（原因）</u>　本症多發於寒冒，與直接刺激咽頭，如吸菸飲酒之類。其他如猩紅熱、麻疹、梅毒、丹毒、瘧疾等，均有本病之誘因。</p>
<p><u>（症候）</u>　扁桃腺腫起疼痛，發嚥下困難，妨害呼吸，開閉不隨，流涎發熱等症。</p>
<p><u>（經過及預後）</u>　與咽炎同。</p>
<p><u>（治法）</u>　輕症，咽部行冷罨法，用含漱劑；重症，使含咽冰塊，用塗布劑，貼水銀軟膏，或硬膏於頸部。若屢發則可切除扁桃腺，惟此法非醫生不能施治也。</p>
<p><u>（藥方）</u></p>
<p>食鹽　白礬</p>
<p>上炒枯研末點之。（燒鹽散）</p>
<p>膽礬　醋</p>
<p>上調灌之。（齊東野語）</p>
<p>桔梗　甘草　升麻　連翹　防風　牛蒡子　黃芩（各一錢）</p>
<p>上水煎服。</p>
<p>紫蝴蝶花根（一錢）　黃芩　甘草　桔梗（各五分）（奪命散）</p>
<p>上為散，水調服。（便民方）</p>
<p><u>（藥方）</u></p>
<p>明礬（一兩）　薄荷腦（五釐）</p>
<p>上分二十包，每包以水二合至三合，溶解含漱。</p>
<p>明礬（一錢三分）　水（二兩六錢）　阿片酒（二分六釐）　玫瑰蜜（五錢二分）</p>
<p>上含漱劑。</p>
<p>蜀葵根（二錢五分）　水（二兩五錢）</p>
<p>上煎，作含漱劑。</p>

<h2>咽炎（咽頭加答兒）</h2>
<p><u>（原因）</u>　急性症，為機械的溫濕的化學的刺激，如飲酒，吸菸，吸有害瓦斯。用腐蝕藥，及過度之發聲，或長時談論，與寒冒唱歌等，又續發於近鄰諸部之炎症，慢性症，原因與急性同，且續發心肺諸病，與一般鬱血症。</p>
<p><u>（症候）</u>　急性，惡寒發熱，頭痛，食欲減少，嚥下及談話困難，疼痛，流涎，咽頭黏膜潮紅腫起，扁桃腺增大，或生細小之淺表潰瘍，重者。其疼痛甚劇烈，如灼如刺，嚥下時尤甚，慢性，疼痛減少，僅覺咽頭乾燥，及灼熱瘙癢，頻發乾嗽，黏膜潮紅肥厚，小靜脈擴張蜿蜒等。</p>
<p><u>（經過）</u>　急性數日至一二周日，慢性數年或至終身。</p>
<p><u>（預後）</u>　急性良，慢性總難治愈。</p>
<p><u>（治法）</u>　急性，使含冰塊，屢行藥劑吸入，或含漱，行溫罨法，用解熱劑，發膿瘍則宜行亂刺或切開。慢性，禁吸菸飲酒，用含漱劑，若腺若贅殖，則可行搔抓術，或電氣燒灼。</p>
<p>急性用下處方</p>
<p>牛蒡子　連翹　荊芥　防風　生梔　桔梗　玄參　黃連　金銀花　黃芩　薄荷　甘草　大黃　朴硝（各一錢）</p>
<p>上水二鍾，煎八分，食後服。（清咽利膈湯）</p>
<p>玄明粉　硼砂（各五錢）　龍腦（五分）　辰砂（六分）</p>
<p>上吹入。</p>
<p><u>（特方）</u></p>
<p>膽礬（一分三釐）　蒸水（一兩五錢）　糖漿（四錢）</p>
<p>上每十分時服半食匙。（催吐）</p>
<p>硼砂（四錢）　糖漿（八錢）</p>
<p>上每時服一食匙，開水適宜，調和服用，或含漱。</p>
<p>阿片膏（三毫至三釐）　水（二兩六錢）</p>
<p>上吸入。</p>
<p>慢性用下處方。</p>
<p>天冬　麥冬（各二錢）　黃芩（一錢）　生地（三錢）　鮮石斛（一錢五分）　甘草（八分）</p>
<p>上水二鍾，煎八分，食後服。（加減甘露飲）</p>
<p><u>（特方）</u></p>
<p>明礬（五分）　水（五兩）</p>
<p>上吸入。</p>
<p>明礬（二分六釐至二錢六分）　白糖（二錢六分）</p>
<p>上吹入。</p>
<p>沒石脂（四錢）　沸水（五兩）</p>
<p>上泡，為含漱劑。</p>

<h2>走馬牙疳（水腫）</h2>
<p><u>（原因）</u>　發於窒扶斯，間歇熱，或急性發疹病等。滋養不良之小兒，多發是病。</p>
<p><u>（症候）</u>　口唇及頰，生小結節，外堅內潰，破潰處，現暗黑色，外面亦陷壞疽，結干痂，同時蔓延四處，全身症候，初發惡液汁，身體發熱，足部浮腫，下痢虛脫等。</p>
<p><u>（經過）</u>　一二日至三四周日。</p>
<p><u>（預後）</u>　速治良，若失其時機，則不良。</p>
<p><u>（治法）</u>　施滋養強壯療法，以治惡液及貧血。局部療法，則貼烙白金，用防腐性含漱料，其他可用解熱劑、葡萄酒等。</p>
<p><u>（藥方）</u></p>
<p>荊芥（一錢五分）　防風　枳殼（各一錢）　黏子（二錢）　當歸（一錢五分）　小青草（三錢）</p>
<p>上水煎服。（簡方錄）</p>
<p>梧桐淚　黃丹</p>
<p>上等分，為散吹入。（醫林集要）</p>
<p>五倍子　青黛　枯礬　黃柏（等分）</p>
<p>上為散，先以鹽湯漱淨，吹入。（便覽）</p>
<p>橡斗殼　鹽（同煅）　麝香</p>
<p>上為散吹入。（全幼心鑑）</p>
<p><u>（特方）</u></p>
<p>硼砂（二分六釐）　玫瑰蜜（二錢六分）</p>
<p>上塗布劑。</p>

<h2>食傷（胃加答兒）</h2>
<p><u>（原因）</u>　急性為暴食過飲，與不消化之食品，及腐敗肉類，或食品寒熱過度，其他魚菌中毒，腸炎波及與外傷等。又或為劇烈熱性病之前驅症，慢性續發於急性食傷之後，或因飲食不攝生，其他貧血、萎黃病、胃癌，胃潰瘍、胃鬱血，均與本病大有關係。</p>
<p><u>（症候）</u>　急性為食思缺乏，漸次增進，則發熱頭痛，睡眠不安，四肢疲倦，舌苔無味，嫌厭食餌，煩渴，噯氣，噁心嘔吐，胃部覺壓重飽滿，知覺過敏，下痢或便秘，及口氣惡臭，尿量減少等。慢性略與急性同，其胃部之血行障害，胃液減少或增加，食少許之食餌，即覺飽滿，或壓重鈍痛，次發酸性噯氣。其餘除一般營養減損外，無特種之變常。</p>
<p><u>（經過）</u>　急性，數時至二三周日，慢性，數月至數年。</p>
<p><u>（預後）</u>　良。</p>
<p><u>（類症）</u>　慢性，類似胃癌，及胃潰瘍。</p>
<p><u>（治法）</u>　急性，宜檢查胃中有多量之不消化物，或腐敗物等之存在者，宜用吐劑，或一二日間不與飲食，或僅用易於消化之流動物，務令鎮靜胃機作用，或行胃洗滌。已過時期，則用下劑，施冰塊嚥下，胃部冷罨法。內服藥，當投以苦味劑、或健胃劑、麻痹劑。慢性，宜治療原病，調節飲食，且久使實行之。禁食含脂肪之食品，苛烈物，酒類，豆類，及制咸蔬菜，可用適當之食餌，如乳汁雞卵，無脂肪肉羹汁，及粥汁等。坐業者，宜野外散步，每日調理便通。貧血，則與以鐵劑；其他行器械的療法，按摩法，冷水療法等。</p>
<p><u>（藥方）</u></p>
<p>丁香　乾薑　甘草（各五分）　莪朮　陳皮　青皮（各一錢）　沉香　砂仁（各八分）</p>
<p>上水煎服。（丁香湯）</p>
<p><u>（特方）</u></p>
<p>龍膽草膏（五分）　薄荷油（二分）　水（二兩五錢）</p>
<p>上一日三次，每次二食匙。</p>
<p>蓖麻子油（四錢）</p>
<p>上頓服。</p>
<p>大黃膏（二分六釐）</p>
<p>上為丸。頓服。</p>
<p>苦味酒（八錢）　番木鱉酒（十滴）</p>
<p>上一日四次，乃至五次，每次十五滴，至二十滴。</p>
<p>漂半夏（二錢六分）　水（五兩）（煎）　生薑糖漿（五錢）</p>
<p>上一日二次分服。</p>
<p>菖蒲根（二錢六分）　水（五兩）　糖漿（四錢）</p>
<p>上每二時一食匙。</p>
<p>滑石粉（一兩五錢）　甘草（二兩）　大黃（一兩）　甘松（五錢）　藏紅花（一錢）　茴香（一錢五分）</p>
<p>上為散，一日三回，每次一小刀尖，糖水調和服用。</p>
<p>甘草（四錢）　大黃（八錢）　茴香（四錢）　益智（一錢）</p>
<p>上酒浸一日，濾液十兩，每次一二茶匙。</p>

<h2>胃痛（胃痙）</h2>
<p><u>（原因）</u>　本症女子較多於男子，因神經衰弱，月經異常，藏躁，子宮病，手淫，貧血，痛風間歇熱，脊髓病，及過用茶酒與煙，其他胃潰瘍，胃癌，胃加答兒等。</p>
<p><u>（症候）</u>　胃部發異常之劇痛，波及於胸背兩部。重者，連發至七八日之久，上腹脹出，脈搏頗細，顏色蒼白，苦悶不可言狀，其最甚者。則不省人事。</p>
<p><u>（經過）</u>　一次之發作其時間極短，然經過則因原病而不同。</p>
<p><u>（類症）</u>　肋間神經病，膽石疝，腸管疝痛，腹筋痛，限局性腹膜炎。</p>
<p><u>（預後）</u>　良。</p>
<p><u>（治法）</u>　行原因療法，守食餌攝生，疼痛，用鎮痙劑，胃部塗芥子泥或發泡膏。其他原因於手淫者，行冷水按摩，高地轉養，海水浴等，或飲黃酒一杯便佳。痛甚者，令患者伏臥，自背後壓迫脅腹，或以懷爐熱其患處。</p>
<p><u>（藥方）</u></p>
<p>吳茱萸　陳皮　黃芩（各五錢）　蒼朮（七錢五分）　黃連（一兩）</p>
<p>上為末，麥糊丸，桐子大，每服十丸至二十丸，日服二三次。（丹溪咽醋丸）</p>
<p><u>（特方）</u></p>
<p>薄荷油（一分二釐）　甘松酒（五錢）</p>
<p>上以二十滴，混和於糖水中服之。</p>
<p>番木鱉酒（一錢）　苦味酒（二錢）</p>
<p>上一日三次，每次十滴。</p>
<p>薄荷油（一分）　高粱酒（十分）　甘松酒（五分）</p>
<p>上一次服二三滴。</p>

<h2>泄瀉（腸加答兒）</h2>
<p><u>（原因）</u>　因暴飲暴食，與多食不易消化之食，及未熟果實，或氣候變更，用強烈下劑，及急性胃加答兒等。其他為中毒，蛔毒，傳染病，腹膜炎等，而小兒最易罹本症。</p>
<p><u>（症候）</u>　發腹部雷鳴，即起下痢，排稀薄粥樣或黃綠之液汁，及不消化食物，一日二三次乃至十次以上，尿量減少，尋常雖不發熱，然亦有發熱而類似窒扶斯者。又併發急性胃加答兒，則起嘔吐，侵大腸則發疝痛，或下痢已止而仍覺裡急後重，下腹劇痛。本病有慢性者，由急性移轉而成，其病狀雖與急性相似，然不若急性之劇烈，而治愈非易也。</p>
<p><u>（經過）</u>　急性數日，慢性數月至數年。</p>
<p><u>（類症）</u>　腸窒扶斯，赤痢，霍亂。</p>
<p><u>（預後）</u>　成人良。小兒重症不良。</p>
<p><u>（治法）</u>　命安臥，腹部裹以絨布，使之溫暖，施溫浴，溫茶劑，澱粉灌腸，黏滑飲料等，均可適宜用之。若原因在飲食物，則投以下劑，宜食清淡及流動性之食物，如牛乳等，或施飢餓療法，一日間絕其飲食。腹痛，施以鎮痛劑。燥秘，施以蓖麻子油灌腸。嘔吐，可含冰塊。虛脫，用興奮劑。其他，愈後之食餌衛生，成人小兒，皆為必要，固無待言矣。</p>
<p><u>（藥方）</u></p>
<p>檳榔　白芍　枳實　厚朴　大黃　生薑（各一錢）</p>
<p>上水煎服。（檳芍順氣湯）</p>
<p>罌粟殼（五錢）　陳皮（一錢五分）　肉豆蔻　炮姜　炙甘草　木香（各一錢）　紅棗（三枚）</p>
<p>上水煎服。（固腸散）</p>
<p>黃連　石榴皮　地榆　阿膠（各二錢）　當歸　厚朴　乾薑（各一錢五分）</p>
<p>上水煎服。（千金黃連煎）</p>
<p>厚朴（五分）　車前子　焦白朮（各三錢）</p>
<p>上水煎服。（濟生良方集）</p>
<p><u>（特方）</u></p>
<p>蓖麻子油（四錢至五錢）</p>
<p>上浮於溫茶一鍾。頓服。</p>
<p>大黃酒（一錢）　五倍子酒（五分）</p>
<p>上混和，一日三次，每次十五滴。</p>
<p>胡椒末（一錢）　硫磺華（二錢）</p>
<p>上以葛粉為丸。作一百八十丸，每服三十丸，一日三次。</p>
<p>樹膠漿（二兩）　阿片（一釐）</p>
<p>上每時一食匙。</p>
<p>明礬（一分）　茴香水（二兩六錢）</p>
<p>上每一時，一小兒匙。（小兒）</p>

<h2>吐血（胃出血）</h2>
<p><u>（原因）</u>　為胃充血，胃潰瘍，胃癌，月經不調，或腐蝕藥入胃等。</p>
<p><u>（症候）</u>　發胃部壓重，痞滿，嘔吐暗黑色之血液，內含有食物殘渣。</p>
<p><u>（經過及預後）</u>　由原因而不一定。（類症）咯血。</p>
<p><u>（治法）</u>　免此病之法，預防胃潰瘍，及心肝諸病，禁過食飽，飲劇熱物，刺激物，調整月經。已出血者，則令平臥褥中，安靜身心，嚴禁食物，含咽冰塊，或施冰罨法於胃部，飲用冷乳，數日後用易於消化之流動食物。失神者，顏面噴注冷水，其他不能自口腔嚥下食物，可施滋養灌腸，一日二三次。</p>
<p><u>（藥方）</u></p>
<p>生地黃（不拘多少）</p>
<p>上水煎如飴，為丸如彈子大，每服一丸，日二服。（千金地黃煎）</p>
<p>槲葉（二錢）</p>
<p>上水煎服。（簡要濟眾）</p>
<p>藕節　荷蒂（各七枚）　蜂蜜（一瓢）</p>
<p>上水二鍾，煎八分服。（聖惠）</p>
<p><u>（特方）</u></p>
<p>明礬（五分）　阿片（一毫三）　桂皮末（二分六釐）</p>
<p>上為六包，每十五分時服一包。</p>
<p>明礬（五分）　水（五兩）　糖漿（十兩）</p>
<p>上每五分時服一茶匙。（小兒）</p>

<h2>便血（腸出血）</h2>
<p><u>（原因）</u>　為赤痢，窒扶斯，癌腫，器械的出血，中毒，異物，結核性，濾泡性，加答兒性潰瘍，十二指腸潰瘍，動脈瘤，直腸炎等。</p>
<p><u>（症候）</u>　或便秘，或下利，其糞便中混有赤色，或紫黑色之血液。</p>
<p><u>（治法）</u>　施原因療法外，宜用無刺激性之食料，即乳汁，雞蛋，肉羹汁，局部貼冰囊，又對於大腸出血，可注入冰水於腸內。</p>
<p><u>（藥方）</u></p>
<p>炒槐花　炒側柏　荊芥炭（各三錢）　枳殼（二錢）　黃連（一錢）</p>
<p>上為末，烏梅湯送服二錢。</p>
<p>樗白皮（五錢）　生地（三錢）　炒銀花　白芍　茯苓（各一錢五分）　地榆炭（二錢）　丹皮（一錢）</p>
<p>上水煎服。</p>
<p><u>（特方）</u></p>
<p>黴麥膏（二錢六分）　餾水（一兩三錢）</p>
<p>上半筒至一筒，行皮下注射。</p>

<h2>秘結（便秘）</h2>
<p><u>（原因）</u>　為神經衰弱，思慮太過，或不消化性粗食，及收斂性食物；腸胃等有障害，膽汁分泄減少，腸管狹窄閉塞，其他為腫瘍，妊娠，貧血，與發汗，泌乳，排尿過多等。</p>
<p><u>（症候）</u>　糞便須二三日乃至七八日一通，身體不舒，腹部壓重緊滿，精神倦怠，甚者發眩暈心悸，或因此而起痔疾，與吐糞症。</p>
<p><u>（經過及預後）</u>　由原因而不一定。</p>
<p><u>（治法）</u>　施原因療法外，宜節飲食，行適宜之運動，以冷水摩擦腹部，或臨臥時，以溫水浴腰部以下，或下部按摩，及礦泉療法，或坐藥。</p>
<p><u>（藥方）</u></p>
<p>芒硝　大黃（各二錢）　枳實（一錢）</p>
<p>上水煎服。（大承氣湯）</p>
<p>生地汁（一杯）　大黃（二錢）　甘草（一錢）</p>
<p>上水煎服。（《千金翼》大便不通方）</p>
<p><u>（特方）</u></p>
<p>蓖麻子油（一兩三錢）</p>
<p>上服一茶匙，或一食匙，但可加用麥酒，肉羹汁，或茶湯。</p>
<p>大黃末　蘆薈（各一錢三分）　蒲公英膏適宜</p>
<p>上為五十丸，每早服四丸。</p>
<p>瀉葉（三分）　滑石（四分）　硫黃華（二釐）　茴香　油糖（一分五釐）</p>
<p>上為末，作一次服。</p>

<h2>絛蟲</h2>
<p><u>（原因）</u>　由食含此囊蟲及含蟲卵之生肉或半熟之肉而發。（其有鉤絛蟲，寄生於豚犬鹿猿之肉中；無鉤絛蟲，寄生於牛肉；擴節裂頭絛蟲。則寄生於鮭鱒等魚肉中）</p>
<p><u>（症候）</u>　為思食缺乏，起噁心嘔吐，疝痛，流涎，鼻孔發癢，瞳孔散大。時發怔忡，或便秘下利，耳鳴，身體衰瘦。</p>
<p><u>（經過）</u>　遲緩。</p>
<p><u>（預後）</u>　良。</p>
<p><u>（治法）</u>　服驅蟲藥之一日或半日前，不可與以飲食物，總以空腹為良，故用藥前後，與以緩瀉劑及茶，或肉羹汁，次日飲茶，或咖啡少許，而後用驅蟲劑。二時間後，又可用蓖麻子油，但幼兒或衰弱小兒，不可行驅蟲法，若稍年長小兒，體質強壯，且無下利者，用之無妨。</p>
<p><u>（藥方）</u></p>
<p>石榴根皮（五錢）</p>
<p>上水煮汁，和粥空心服之。（崔元亮海上方）</p>
<p>烏梅（一枚）　老薑（二片）　榧子（十枚）　花椒（十四粒）　黑糖（二錢）</p>
<p>上水煎服。（公選良方）</p>
<p><u>（特方）</u></p>
<p>石榴根皮膏（二分）　薄荷糖（一錢）　蜂蜜（適宜）</p>
<p>上為舐劑，分三次服，服後可服蓖麻子油。</p>

<h2>十二指腸蟲</h2>
<p><u>（原因）</u>　此症由於誤飲不潔之水所致，因此蟲卵，往往生於汙水中，其飲入後，即繁殖於十二指腸。且此蟲，非肉眼可能檢視，熱帶及卑濕之地，發此症者甚多。</p>
<p><u>（症候）</u>　為身體疲倦，筋肉瘦削，及貧血，頭痛，心悸，耳鳴等。</p>
<p><u>（預後）</u>　良。</p>
<p><u>（治法）</u>　此症可用石榴皮根煎，與輕粉、蓖麻油等瀉劑。其他貧血，則用滋養物，或鐵劑，或砒石劑。</p>
<p><u>（藥方）</u></p>
<p>輕粉（一分）　砂糖（適宜）</p>
<p>上和丸，如麻子大，空腹米飲下一丸。（驗方）</p>
<p>榧子　使君子（各五枚）</p>
<p>上同時服。（公選良方）</p>
<p><u>（特方）</u></p>
<p>石榴皮根（一兩六錢）　水（二十四兩）</p>
<p>上浸一日，煎沸，以煎取水之一半為度，大人每服一茶杯，小兒照減。</p>
<p>蓖麻子油（五錢）　薄荷油（十滴）</p>
<p>上頓服。</p>

<h2>蛔蟲（蛔蟲）</h2>
<p><u>（原因）</u>　由含蛔蟲卵之糞便，作肥料擁於野菜，人取而生食之，或雖煮而未熟者。及各種果物，食之亦易染此症。</p>
<p><u>（症候）</u>　大人概不現病狀，小兒則發頭痛，眩暈，腹痛，噁心嘔吐，早起瞳孔散大，下痢，舌苔，鼻孔肛門發癢，面貌蒼白，時起搐搦等。</p>
<p><u>（預後）</u>　良。</p>
<p><u>（治法）</u>　用驅蟲劑，或松香油石灰水之灌腸。</p>
<p><u>（藥方）</u></p>
<p>使君子（十枚）</p>
<p>上空心作一次服，小兒減服。</p>
<p>楝根白皮（二錢）</p>
<p>上煎汁加米飲服。（集簡方）</p>
<p><u>（特方）</u></p>
<p>松香油（即新松脂或松枝蒸出之自散油質，一錢三分）　卵黃（一枚）　水（五兩）</p>
<p>上為乳劑，灌腸。</p>
<p>石灰水（二錢）　水（二兩五錢）</p>
<p>上灌腸。</p>

<h2>脾胃虛弱（消化不良）</h2>
<p><u>（原因）</u>　為一般之神經病，如臟躁多憂，神經衰弱，或暴食暴飲，菸酒過用。與手淫，過房，貧血，萎黃病，肺勞，腸蟲，瘧病，月經等。</p>
<p><u>（症候）</u>　發精神鬱悶，脫力頭痛，上腹部壓重緊滿，噯氣，嘔吐，便秘，或下痢。食思缺乏，噁心，有併發腸症者。</p>
<p><u>（經過及預後）</u>　由原因而不一定。</p>
<p><u>（類症）</u>　慢性胃加答兒。</p>
<p><u>（治法）</u>　宜施原由療法，整理生活，內服苦味藥。貧血，則服鐵劑；嘔吐噯氣，則服鎮痙劑，施精神療法。又虛弱之小兒，與人工營養之小兒，宜擇良母乳，調節授乳時間（每二三時）。決不可哺乳多量，若不得良母乳，則用牛乳和麥漿，犢肉羹汁，或膠溶液，蛋白水之混和，且須令肛門清潔，勿使濕爛，或濕疹等。</p>
<p><u>（藥方）</u></p>
<p>黨參　草果　乾薑　炙甘草　厚朴　橘皮　白朮（各一錢）　茯苓（二錢）　麥芽（四錢）</p>
<p>上水煎服。（補脾飲）</p>
<p>滑石（六錢）　麥芽（二兩）　當歸　肉桂　茴香　丁香（各一錢）</p>
<p>上研為散，分十包，一日三次，每次一包，食後服用。</p>
<p><u>（特方）</u></p>
<p>牛膽膏（一分）　飴糖（二錢五分）</p>
<p>上混和，一日三次分服。</p>
<p>蒲公英（八錢）　水（十五兩）</p>
<p>上煎，朝夕各服一兩五錢至三兩。</p>
<p>番木鱉酒（一分）　苦味酒（二分）</p>
<p>上每食後服十五滴。</p>

<h1>泌尿器病</h1>

<h2>小便不通（膀胱麻痹）</h2>
<p><u>（原因）</u>　為全身衰弱，脊髓疾患，膀胱損傷，及久忍放尿等。</p>
<p><u>（症候）</u>　閉尿，或利尿不全，或利尿時起疼痛，或起尿淋瀝症。</p>
<p><u>（經過及預後）</u>　由原因而不一定。</p>
<p><u>（治法）</u>　輕症，施膀胱按摩，每二時或四時，使放尿，其他行冷水按摩。冷水坐浴，冷水灌溉法，重症，行加的的兒排尿。</p>
<p><u>（藥方）</u></p>
<p>黃柏（三錢）　知母　澤瀉（各一錢五分）　滑石　茯苓（各二錢）</p>
<p>上水煎服。（東垣導氣除濕湯）</p>
<p><u>（特方）</u></p>
<p>黴麥膏（二分六釐）　茴香油糖（五分二釐）</p>
<p>上為六包，一日三次，每服一包。</p>
<p>甜杏仁油（八滴）　斑蝥酒（一滴）</p>
<p>上入膠囊，一日二三次。</p>

<h2>遺尿（小便自利）</h2>
<p><u>（原因）</u>　為全身虛弱，營養不良，膀胱弛緩，與括約筋衰弱，驅尿筋痙攣等，其他腸蟲，包莖，炎症等。</p>
<p><u>（治法）</u>　行全身強壯法，行冷水浴，或溫水浴，貧血者與小兒服鐵劑，或行電氣療法，貼感傳電氣二極於會陰部，或膀胱通強電流，每日行二三分時。其他腸蟲，用驅蟲劑；包莖，可施手術。</p>
<p><u>（藥方）</u></p>
<p>白芍（一錢）　黃耆（一錢二分）　黨參　破故紙（各七分）　升麻　益智仁（各五分）　五味子（三分）　官桂（二分）</p>
<p>上水煎服。（束氣湯）</p>
<p><u>（特方）</u></p>
<p>番木鱉膏（二釐六毫）　樟腦（一分）　白糖（八分）</p>
<p>上分十包，一日三次，每次十包。</p>
<p>黴麥（一分）　水（八十分）　糖漿（二十分）</p>
<p>上每三時，服一食匙。</p>

<h2>陰痿</h2>
<p><u>（原因）</u>　為情欲缺乏，陰莖器質變性，恐懼，憤怒，羞恥等之精神感動，房事過度，手淫，慢性淋，白濁，脊髓勞，糖尿病等。</p>
<p><u>（症候）</u>　男子交接不能，或射精不能，或精液內失卻精蟲等。</p>
<p><u>（預後）</u>　由原因而不一定。</p>
<p><u>（治法）</u>　施原因療法，用興奮劑，鐵劑，行電氣療法，水治法。</p>
<p><u>（藥方）</u></p>
<p>熟地（五錢）　當歸（三錢）　甘草（一錢）　乾薑（二錢）</p>
<p>上水煎服。（景岳）</p>
<p>當歸（二錢五分）　熟地（三錢）　枸杞（一錢）　炙草（五分）　杜仲（一錢）　牛膝（一錢）　肉桂（五分）</p>
<p>上水煎服。（大營煎）</p>
<p><u>（特方）</u></p>
<p>樟腦（八釐）　甘草末（適宜）</p>
<p>上分六包。一日三次，每次一包。</p>

<h2>夢遺（遺精）</h2>
<p><u>（原因）</u>　為情欲興奮，手淫，睡眠中膀胱緊滿，陰部刺激，腸管充實，或重病後衰弱，與膀胱結石，包皮結石，痔瘡，脊髓勞等。</p>
<p><u>（症候）</u>　睡眠中得極快夢境，以致遺精，遂發貧血，倦怠，心悸，癡呆，痙攣，與頭部壓重，心思苦悶，意志變易，記憶減弱等。</p>
<p><u>（治法）</u>　戒手淫，正品行，節飲食，減晚餐，禁閱淫書淫戲。就田舍與山地，就寢用硬褥輕衾，宜早起，其他禁生殖器興奮，及身心過勞。用乳療法，冷水浴，強壯劑，電氣等。</p>
<p><u>（藥方）</u></p>
<p>龍骨　蓮鬚　芡實　烏梅肉（等分）</p>
<p>上為末，山藥糊丸，小豆大，每服三十丸，米飲下。（公選良方）</p>
<p><u>（特方）</u></p>
<p>黴麥（二分六釐）　白糖（一錢三分）</p>
<p>上為十包，每日服三包至五包。</p>
<p>樟腦（一分三釐）　蓽澄茄末　蓽澄茄膏（各二錢）</p>
<p>上為六十丸，一日四粒，乃至十二粒。</p>

<h2>白濁（膀胱加答兒）</h2>
<p><u>（原因）</u>　為腐敗細菌自外侵入，如不潔消息子送入；或續發於附近之炎症，如尿道炎波及其他之誘因；為下腹感寒，腎積尿，外傷與松香油誤用，及飲用酸敗酒類等。</p>
<p><u>（症候）</u>　急性症膀胱部疼痛，排尿時尤劇烈，尿意頻數，尿帶紅色而呈酸性，或亞爾加里性。以顯微鏡窺見膀胱上皮，有無數之細菌。甚者，惡寒發熱，頭痛，眩暈，精神恍惚。慢性症，則以上諸候甚輕微。</p>
<p><u>（經過及預後）</u>　急性症，數日而治愈；慢性症，多不治，以其病原不能除去也。</p>
<p><u>（類症）</u>　腎盂炎。</p>
<p><u>（治法）</u>　以原因療法為主。急性症，當安靜身體，於膀胱部行溫罨法，或芳香巴布於下腹部，發熱用解熱劑。惡寒發作，用芳香性飲料；劇痛，宜行持長性溫浴，或貼置水蛭於會陰部；尿意頻數，可用麻醉劑之內服，或坐藥，或灌腸。此症之續發於淋疾者，禁尿道注洗，進淡泊之食餌，戒飲酒，多飲液汁，而牛乳療法，最適宜。慢性症，宜洗滌膀胱，行全身溫浴，或坐浴，且治療淋疾，宜消毒加的的兒為至要。</p>
<p><u>（藥方）</u></p>
<p>滑石（二錢）　木通　茯苓　車前子　瞿麥（各一錢）</p>
<p>上水煎服。（萬全木通散）</p>
<p>豬苓　澤瀉（各二錢）　滑石（三錢）　甘草（八分）　木通（一錢）　車前子（二錢）</p>
<p>上水煎服。</p>
<p><u>（特方）</u></p>
<p>蓽澄茄末（一錢三分至二錢六分）　蓽澄茄膏（一錢三分）</p>
<p>上為五十丸，一日三次，每次三丸。</p>
<p>膽礬（五釐）　明礬（五分）　水（五兩）</p>
<p>上注入尿道。</p>

<h1>運動器病</h1>

<h2>萎黃病（黃胖）</h2>
<p><u>（原因）</u>　為赤血球減少而起，多發於十四歲至二十三四歲之婦女。其誘因，為營養不良，心身過勞，手淫，白帶，梅毒，久痢，與不良之空氣，不健康之坐業等。</p>
<p><u>（症候）</u>　發現一般貧血症狀，皮膚及黏膜，呈蒼白色，起下肢沉重，頭痛，眩暈，腎部壓重，食欲減退，時發胃痛，呼吸困難，頸靜脈下部放騷雜音。其他月經不調或減少，或竟閉止等症。</p>
<p><u>（經過）</u>　遲緩。</p>
<p><u>（預後）</u>　概良，重者經一二月後而全治。</p>
<p><u>（類症）</u>　慢性腎臟炎、梅毒、初期肺勞，僧帽瓣不全閉鎖。</p>
<p><u>（治法）</u>　轉地療養，改良食品及生活法，行海水浴，內服鐵劑。</p>
<p><u>（藥方）</u></p>
<p>鐵屑（五分）　麥粉（二兩）　葛粉（二兩）　硫黃（五分）</p>
<p>上為散，每服一錢，日三次，白湯下。（黃胖散）</p>
<p>茵陳蒿（四錢）　麥芽　大黃（各三錢）　枳實（二兩）</p>
<p>上水法為丸，每服三錢。（茵陳丸）</p>
<p><u>（特方）</u></p>
<p>鐵鏽或鐵屑細粉（一錢）　大黃末（一錢）　苦參末（一錢）　薑末（四分）</p>
<p>上糖漿和丸桐子大，每飯後服一二粒，日二三次。</p>

<h2>消渴（糖尿病）</h2>
<p><u>（原因）</u>　為遺傳及麥酒澱粉糖類之過食，精神過勞，與吸菸，梅毒，腦病，頭部外傷，胰臟疾患等。又有一種過性糖尿病，尿中僅含極微之糖粉，暫時即行消散。</p>
<p><u>（症候）</u>　發異常之飢渴，排尿過多，一晝夜間，尿量自一百五十兩，至二百五十兩，其尿澄清如水，呈淡黃色，而含有多量糖分。此外起倦怠，頭痛，坐骨神經痛，不眠，皮膚瘙癢，屢生癤腫，或癰腫，呼吸帶果實臭，色欲減損，內障，網膜炎，嗜眠等症。</p>
<p><u>（經過）</u>　一年至十年。</p>
<p><u>（類症）</u>　單尿崩，脊髓勞。</p>
<p><u>（預後）</u>　如不能除去其病原。則不良。</p>
<p><u>（治法）</u>　運動於新鮮空氣中，依法操練筋肉，每日行入浴，嚴守飲食攝生。常食肉類，如肉貝鳥卵等，禁糖粉質，即含澱粉或糖質之物，如飯，麵包，豆類，及甘味果實，其他轉地靜養等。</p>
<p><u>（藥方）</u></p>
<p>豬苓　茯苓　阿膠　滑石　澤瀉（各二錢五分）</p>
<p>上水煎服。（豬苓湯）</p>
<p><u>（特方）</u></p>
<p>阿片（四釐）　甘草粉　甘草膏（各適宜）</p>
<p>上為十丸，一日四五粒。</p>
<p>黴麥膏（四分）　甘草膏（適宜）</p>
<p>上為二十丸，一日三次，每次一粒。</p>

<h2>風痛（尿酸性關節炎）</h2>
<p><u>（原因）</u>　為遺傳性，四十歲以上而發生者為多，或安居無事，飽食暖衣，亦為其主因，其他為外傷感冒，房事過度等。</p>
<p><u>（症候）</u>　發關節劇痛（手足肩膝坐骨手指足趾等），起丹毒樣潮紅，惡寒發熱，心機亢進，尿量減少，腸胃障害等。其痛，夜間甚於日中，休止數日或數年而再發。</p>
<p><u>（經過）</u>　遲緩。</p>
<p><u>（預後）</u>　無生命之危險，維不易治愈。</p>
<p><u>（類症）</u>　肉痹，筋痹，白虎風痛。</p>
<p><u>（治法）</u>　節飲食、戒菸酒，更變日常職務，取動植兩性之混食，及果品、飲茶及含亞爾加里性礦泉，其他屋外運動。疼痛，用麻醉劑。膿瘍，貼琶布。急性，命安臥靜養，與以流動性之飲料。可保持患處於高位，又鹽水浴，溫泉浴，按摩法均有效。</p>
<p><u>（藥方）</u></p>
<p>紅花　白芷　防風（各五錢）　威靈仙（三錢）</p>
<p>上加酒少許，煎服。取汗。（公選良方）</p>
<p>當歸（三錢）　秦艽（二錢）　防風（一錢五分）　川芎　羌活（各一錢）　車前子　黃芩　枳殼（各五分）</p>
<p>上水煎服。（痛風主方）</p>
<p>麻黃　甘草　川烏（各五分）　芍藥　黃耆（各一錢五分）</p>
<p>上水煎服。（金匱烏頭湯）</p>
<p><u>（特方）</u></p>
<p>烏頭酒（二分）　橙皮糖漿（五分）</p>
<p>上一日三次，每次一茶匙。</p>
<p>莨菪根膏（二分）　豚脂（二十分）</p>
<p>上塗布。</p>

<h1>神經系病</h1>

<h2>中風（腦出血）</h2>
<p><u>（原因）</u>　本病由腦部小動脈管，生動脈瘤，驟然破裂而發者。其誘因，為血壓亢進，過度勞動，心臟諸病，暴飲、暴食，嚴寒、酷暑，精神興奮等，又為遺傳素因。以四十歲以上者為多；在四十歲以下者，概為梅毒，其他白血病，壞血病，紫斑病，惡性貧血等。</p>
<p><u>（症候）</u>　卒然而來，往往人事不省，沉沉昏睡，或頭痛耳鳴，眼大閃發，四肢厥冷，言語困難，脈搏遲慢硬實；頰部，口唇，同時弛緩，顏面歪斜，呼吸聲長而發鼾聲，半身不遂等。重者，有發作時即死者；或卒倒，呼吸疾速，喉頭氣管等部，因唾液黏液壅塞而起喘鳴，遲脈變速，眼球陷落，角膜溷濁，數時或一二日乃死，然有死後復醒者。</p>
<p><u>（經過）</u>　一日至數年不定。</p>
<p><u>（類症）</u>　腦血管血塞及栓塞，酒精及鴉片中毒，心脂化。重症腦充血。</p>
<p><u>（預後）</u>　概不良，年老者。尤不易治。</p>
<p><u>（治法）</u>　防此症之法，戒身心興奮，禁酒茶咖啡，與房事，調理便通。發作時，當命安臥，高舉上半身，清潔皮膚，注意臥床，衾褥，頭痛，貼置冰囊。年壯者，行刺絡，或灌腸，或投下劑，或貼芥子泥於胸部。脈搏成險象者，服興奮藥；麻痹，則施行電氣療法，及按摩。其他注意一般攝生法，亦最要者也。</p>
<p><u>（藥方）</u></p>
<p>麻黃（五分）　獨活（四分）　細辛（二分）　黃耆　黃芩（各一錢）</p>
<p>上水煎服數劑。（千金三黃湯）</p>
<p>川芎　甘草　白芷（各一錢）　細辛（五分）　薄荷（一錢五分）</p>
<p>上為散，每服一錢，清茶下。（通關散）</p>
<p><u>（特方）</u></p>
<p>大黃（十分）　水（二百分）（煎）　糖漿（十五分）</p>
<p>上一日四次，每次一食匙。</p>
<p>麝香　樟腦（各二分六釐）　卵黃（一枚）　胡麻子漿（七兩）</p>
<p>上灌腸。</p>

<h2>癲癇（羊癇風）</h2>
<p><u>（原因）</u>　為神經病素質，或末梢神經有障礙。其誘因，為身心過勞，恐怖，鉛毒，房事過度，手淫，絛蟲，暴飲，腺病，梅毒，便秘等。</p>
<p><u>（症候）</u>　初發一種特發之感覺，自上向上；次覺心窩窘迫，眩暈，繼則全身痙攣，卒倒於地，不省人事，顏面暗黑，大聲叫號，口起泡沫，瞳孔散大等。</p>
<p><u>（經過）</u>　發作之稀密，雖各不同，而全經過，大率遺傳終身。</p>
<p><u>（預後）</u>　概良，亦難全治，但以反射的起此症者，或有治愈。</p>
<p><u>（類症）</u>　腦病患癲癇樣發作。臟躁，卒中，急癇。</p>
<p><u>（治法）</u>　宜安靜精神，戒房事過度，尤忌手淫，行一般之攝生法，忌苛烈性之飲食物。且宜改良其體質，又發作時，防身體負傷，且以布片纏絡，木片插入齒間，可防咬舌。其他續發於梅毒，或鉛中毒者，宜各施原因之治療。</p>
<p><u>（藥方）</u></p>
<p>茯神　黃連（各二錢）　棗仁　石菖蒲　柏仁　遠志（各一錢）　甘草（五分）</p>
<p>上水煎服。痰壅，加制南星、薑汁。（清神湯）</p>
<p><u>（特方）</u></p>
<p>甘松末　艾葉末（各二錢六分）</p>
<p>上為十包，每四時一包。</p>

<h2>臟躁（歇斯的里）</h2>
<p><u>（原因）</u>　為遺傳精神病，及罪人奇人等子孫易發之。其他思慮過度，貧血，萎黃病，月經異常，生殖器病，反射作用等，且多發於壯年之婦女。</p>
<p><u>（症候）</u>　此症奇妙變幻，無一定之情狀，如耳舌鼻眼感觸過敏，且起色盲，此五官之障害也。全身、半身，或一局部之知覺亡矣，而取金屬板貼之於其一側，知覺亡失部得使於移轉於他側，其他皮膚過敏，亦有發於各部。而最易起於卵巢部，所為卵巢痛是也。又有諸神經痛，此知覺之障害也。麻痹，痙攣，攣縮，此運動之障害也。余如噁心，嘔吐，吞酸，嘈雜等。</p>
<p><u>（經過）</u>　數日至數年。</p>
<p><u>（預後）</u>　良，但難全治。</p>
<p><u>（治法）</u>　選易於消化之食品，行適宜之運動，避精神之感動。當怡情于山水花木間，與二三知己同遊，行溫浴，或冷浴，用鎮痙劑，其他可行電氣療法。</p>
<p><u>（藥方）</u></p>
<p>茯神　懷山藥（各三錢）　黨參　黃芩　桔梗（各一錢五分）　遠志　辰砂　甘草（各一錢）　木香（八分）　麝香（一分）</p>
<p>上為散，每服一錢，開水下。（妙香散）</p>
<p><u>（特方）</u></p>
<p>甘松酒　阿魏酒（各一錢）　苦味酒（四分）　砂糖（適宜）</p>
<p>上一日三次分服。</p>

<h2>偏頭痛（半頭風）</h2>
<p><u>（原因）</u>　本病多發於十五歲以上之婦女，為神經衰弱，便秘，貧血，萎黃病，悲哀憤怒，臟躁，月經異常，瘧疾等。</p>
<p><u>（症候）</u>　初覺不快，欠伸，噁心，眩暈，耳鳴，眼火閃發；次發偏側頭痛，或緩或急，起嘔吐，及音響光線等知覺過敏，又有痙攣性與麻痹性偏頭痛之二種。</p>
<p><u>（經過）</u>　遲緩數年。</p>
<p><u>（預後）</u>　概良，惟不易全治。</p>
<p><u>（治法）</u>　貧血，宜用鐵劑，與砒石劑；便秘，宜下劑，施頭部冷罨法，電氣療法，以薄荷油塗布前額。其他一般食物攝生，安息靜養，禁酒製欲等。</p>
<p><u>（藥方）</u></p>
<p>肉桂（一分）　麝香（二釐）　細辛　辛夷（各五釐）　胡椒（十粒）</p>
<p>上為末，用棗肉為餅，貼兩額。</p>
<p>川芎（一錢五分）　細辛（五分）　白芷（一錢）　甘草（六分）　生薑（五片）　茶（一撮）</p>
<p>上水煎服。（芎辛湯）</p>
<p><u>（特方）</u></p>
<p>黴麥膏（二分六釐）　甘草粉（適宜）</p>
<p>上為二十丸，一日十次，每次一粒，乃至二粒。</p>

<h2>眩暈（頭目眩）</h2>
<p><u>（治法）</u>　勿取飲食物，靜臥暗室，閉目休息，處方如下。</p>
<p><u>（藥方）</u></p>
<p>大黃　荊芥　防風（等分）</p>
<p>上水煎服。（荊黃湯）</p>
<p><u>（特方）</u></p>
<p>甘松酒（十分）　龍膽酒　愈瘡木酒（各五分）</p>
<p>上每二時十滴，乃至二十滴，和水服之。</p>

<h2>中暑（日射病）</h2>
<p><u>（原因）</u>　長受酷暑，飲食不潔等。</p>
<p><u>（症候）</u>　面紅，氣促，頭痛，眩暈，譫語，卒倒，好睡，周身發痙，體溫升騰，脈搏細小等。</p>
<p><u>（治法）</u>　靜臥冷所，脫卻衣服，與以適宜之冷飲料與冷酒，施冷罨法，用熱水洗足，或與以瀉劑。</p>
<p><u>（藥方）</u></p>
<p>香薷　厚朴（各三錢）　茯苓　扁豆（各二錢）　丁香　甘草（各五分）</p>
<p>上為粗末，每服三錢，酒水各半煎，冷服。（朱氏水沉湯）</p>
<p><u>（特方）</u></p>
<p>蓖麻油（五錢）</p>
<p>上和水少許，一次服盡。</p>
<p>輕粉（八釐）　白糖（八分）</p>
<p>上為十包，一日三次，每次一包。（小兒）</p>
