<header data-type="book">
<h1>內傷集要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>蔡貽績</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1822">公元1822年</data></dd></div>
</dl>
</header>

<h1>自序</h1>
<p>維昔先嚴樂思公大人、先慈曾太君，晚年生予，負體羸弱，由童而冠、而壯，廿餘年間，每患外感者十常二三，患內傷者十常七八，屢瀕於危，均賴陳學周先生極力調救，三旬外始安健。而陳先生嘗勸勉習醫，於是自補弟子員後，輒殫心醫道，上溯《靈》、《素》奧旨，遍及方書微言，旁搜博採，務窮其要。而治己、治人，多歷年所，似覺胸有把握，差無貽誤。爰舉先賢所言脈理，於蒙晦處則汰之，於明確處則錄之，輯成《醫學指要》，欲以明乎脈之要，斯得其治之要爾。嘉慶壬申，荷陳觀察顧廬先生捐金倡助，慫恿授梓，鐫行有年矣。洎由都梁署旋寓省暇日，竊思醫之關鍵，外感莫重於傷寒、瘟疫，而治不容混；內傷莫重於虛勞、失血，而治不可苟。乃復研求經旨脈理，剖晰證治方法，條分縷晰，詳明其要，輯成二編：一為《抉要》，一為《集要》。洵為現身說法，和盤托出，務期觀者瞭然心目，庶不致膠柱鼓瑟、刻舟求劍而固執，亦不至捕風捉影、指鹿為馬而瞀亂，又何致憾於草菅人命也哉？丁丑冬，承友人易麗昭等醵金玉成刊版，惜以費資不敷，只得刻就《傷寒瘟疫抉要》一帙，而《虛勞失血集要》則仍藏之篋笥而已。予今年及七十有二，適獲諸友劉錫祺、楊廣先、鍾昌言、蔡磻溪等，利濟為懷，欣然樂助，付諸剞厥，得與《抉要》合編，俾內傷、外感之間，見予夙昔研究之苦心。因總而顏之曰《內傷集要》，並以質證於同人，是又予生之厚幸也夫！</p>
<p><u>道光三年癸未歲仲夏月夏至前三日葵貽績乃庵氏自識</u></p>

<h1>凡例</h1>
<p>是書專明內傷，述經旨，究其蘊也；晰脈理，探其本也；詳證治及方法，明其用也，總期醫之得其要耳，學者詳玩之。</p>
<p>是書惟舉虛癆、失血以闡其微，雖為錯綜參伍，究自條分縷析，熟玩之，則於治內傷無遺蘊矣。</p>
<p>是書言虛損、夫血，雖未分男婦若何，究之婦人惟產有異，其餘病證、治法，何嘗有異。然不異而異，異而不異，會心不在遠耳。</p>
<p>是書本只明內傷、虛損、失血，未及詳其雜證，然雜證孰有重於此者。矧能細心會通，則凡雜證之治療，自無不得其要矣。</p>
<p>是書，凡脈要用「△」記，凡病症用「□」記，凡經絡用「—」記，觀者詳之。</p>

<h1>卷一</h1>

<h2>內傷虛損經旨</h2>
<p>經曰：帝曰：願聞五虛、五實。岐伯曰：脈盛、皮熱、腹脹、前後不通、悶瞀者，謂五實；脈細、皮寒、氣少、泄利前後、飲食不入者，謂五虛。帝曰：其時有生者，何也？曰：漿粥入胃，泄注止，則虛者活；身汗得後利，則實者活，此其候也。</p>
<p>久視傷血，久臥傷氣，久坐傷肉，久立傷骨，久行傷筋。</p>
<p>邪之所湊，其氣必虛。陰虛者，陽必湊之。</p>
<p>五臟，主藏精者也。不可傷，傷則失守而陰虛，陰虛則無氣，無氣則死矣。</p>
<p>邪氣盛則實，精氣奪則虛。</p>
<p>邪之所在，皆為不足。故上氣不足，腦為之不滿，耳為之苦鳴，頭為之苦傾，目為之眩；中氣不足，溲便為之變，腸為之苦鳴；下氣不足，乃為痿厥、心悗。</p>
<p>營氣虛，則不仁；衛氣虛，則不用；營衛俱虛，則不仁且不用，肉如故也。人身與志不相有，曰死。</p>
<p>得守者，生；失守者，死。得強者，生；失強者，死。言而微、終日乃復言者，此氣奪也。</p>
<p>氣海有餘者，氣滿，胸中悗息，面赤；氣海不足，則氣少不足以言。</p>
<p>血海有餘，則常想其身大，怫然不知其所病；血海不足，亦常想其身小，狹然不知其所病。</p>
<p>水穀之海有餘，則腹滿；水穀之海不足，則飢不受穀食。</p>
<p>髓海有餘，則輕勁多力，自過其度；髓海不足，則腦轉耳鳴，脛酸眩冒，目無所見，懈怠安臥。</p>
<p>下虛則厥，上虛則眩。</p>
<p>三焦者，並太陽之正，入絡膀胱，約下焦。實則癃閉，虛則遺溺。</p>
<p>陰陽不和，則使液溢而下流於陰，髓液皆減而下，下過度則虛，虛則腰背痛而股酸。</p>
<p>心藏神。神有餘，則笑不休；神不足，則悲。</p>
<p>肺藏氣。氣有餘，則喘咳上氣；不足，則息利少氣。</p>
<p>肝藏血。血有餘，則怒；不足，則恐。</p>
<p>脾藏肉。形有餘，則腹脹、涇溲不利；不足，則四肢不用。</p>
<p>腎藏志。志有餘，則腹脹飧泄；不足則厥。</p>
<p>內奪而厥，則為喑痱，此腎虛也。</p>
<p>精奪者，耳聾；氣脫者，目不明。</p>
<p>津脫者，腠理開，汗大泄。</p>
<p>液奪者，骨屬屈伸不利，色夭，腦髓消，脛酸，耳數鳴。</p>
<p>血脫者，色白，夭然不澤，其脈空虛，此其候也。</p>
<p>身熱如炭，頸膺如格，人迎躁盛，喘息氣逆，此有餘也。有癃者，一日數十溲，此不足也；太陰脈細微如發者，此不足也。今外得五有餘，內得二不足，此其身不表不里，亦正死明矣。</p>
<p>帝曰：何謂五奪？岐伯曰：形肉已奪，是一奪也；大奪血之後，是二奪也；大汗出之後，是三奪也；大泄之後，是四奪也；新產及大血之後，是五奪也。此皆不可寫。</p>
<p>肝虛，則目䀮䀮無所見，耳無所聞，恐懼如人將捕之。</p>
<p>心虛，則胸腹大，脅下與腰相引而痛。</p>
<p>脾虛，則腹滿腸鳴，飧泄，食不化。</p>
<p>肺虛，則少氣不能報息，耳聾嗌乾。</p>
<p>腎虛，則胸中痛，大腹、小腹痛，清厥，意不樂。</p>
<p>氣之所並，為血虛；血之所並，為氣虛。有者為實，無者為虛，故氣並則無血，血並則無氣，今血與氣相失，故為虛焉。</p>
<p>血之與氣並走於上，則為大厥，厥則暴死。氣復反則生，不反則死。</p>
<p>帝曰：陰之生實，奈何？岐伯曰：喜怒不節，則陰氣上逆，上逆則下盛，下盛則陽氣走之，故曰實矣。</p>
<p>帝曰：陰之生虛，奈何？岐伯曰：喜則氣下，悲則氣消，消則脈虛空，因寒飲食，寒氣熏滿，則血泣氣去，故曰虛矣。陽虛則外寒，陰虛則內熱。</p>
<p>氣實形實，氣虛形虛，此其常也，反此者病。谷盛氣盛，谷虛氣虛，此其常也，反此者病。</p>
<p>脈實血實，脈虛血虛，此其常也，反此者病。</p>
<p>氣虛者熱，此謂反也；谷入多而氣少，此謂反也；谷不入而氣多，此謂反也；脈盛血少，此謂反也；脈少血多，此謂反也。</p>
<p>夫實者，氣入也；虛者，氣出也。氣實者，熱也；氣虛者，寒也。</p>
<p>形氣不足，病氣有餘，是邪勝也，急寫之；形氣有餘，病氣不足，急補之。形氣不足，此陰陽俱不足也。俱不足也，不可刺之，刺之則重不足，重不足則陰陽俱竭，血氣皆盡，五臟空虛，筋骨髓虧，老者絕滅，壯者不復矣。</p>
<p>形氣有餘，病氣有餘，此謂陰陽俱有餘也，急寫其邪，調其虛實。故曰有餘者寫之，不足者補之，此之謂也。</p>
<p>智者之養生也，必順四時而適寒暑，和喜怒而安居處，節陰陽而調剛柔，如是則僻邪不至，長生久視。</p>

<h2>內傷虛損脈法</h2>
<p>經云：平人脈大為勞，極虛亦為勞。氣虛則脈弦弦血虛則脈大。凡脈虛細弱，為勞。</p>
<p>脈弦而大，弦則為減，大則為芤；減則為寒，芤則為虛，虛寒相搏，此名為革。婦人則半產漏下，男子則亡血失精。</p>
<p>寸口脈微而澀，微者衛氣衰，澀者營氣不足。衛氣衰，面色黃；營氣不足，面色青；營衛俱微，則寒慄、咳逆、唾腥、吐涎沫。</p>
<p>脈軟者，為虛；緩者，為虛；微者，為虛；弱者，為虛；弦者，為中虛；脈細而微者，血氣俱虛；脈小者，血氣俱少；脈大而芤者，脫血、血虛；脈大如蔥管，脈沉者、遲者，脫氣。</p>
<p>平脈弦大，營損血虛。大而無力，陽衰易扶；數而無力，陰火難除。寸弱上損，浮大里枯。尺寸俱微，五勞之軀。血羸左濡，氣弱右虛；左右微小，氣血無餘。</p>
<p>男子久病，氣口脈弱則死，強則生。女人久病，人迎脈弱則死，強則生。</p>
<p>虛勞之脈，大抵多弦。或浮大、或數大者，易治；弦者，難治，若雙弦，則為賊邪，尤為難治。如數極，則殆。</p>
<p>寸口脈浮而遲，浮則為虛，遲則為勞。</p>
<p>凡診虛、弱、細、數，皆為不足，陰陽俱虛之脈，惟平旦見之；日中，則必洪數；浮而大、浮而弦者，皆為火盛陰虛之脈，暮多見之。</p>
<p>至數多而數者，為至脈，即陰虛勞症也。至脈緩而無力，屬氣虛；數而無力，屬血虛。</p>
<p>凡六部重手沉取損小，輕手浮取實大，謂之陽盛陰虛。以寸尺論之，陽主寸，陰主尺。寸浮者損小，尺沉者實大，謂之陰盛陽虛；寸浮者實大，尺沉者損小，謂之陽盛陰虛。脈浮屬陽，沉屬陰。陰虛則浮之洪大，沉之空虛。</p>
<p>脈沉緩無力者，陽虛；脈多弦數者，陰虛；氣口脈大無力，為中氣虛。</p>
<p>久病形肉俱脫，客邪雖去，元氣虧極，故脈雖似和緩，實無神也。多不治。</p>
<p>久病脈沉細數者，死。</p>
<p>脈結者，三年死；脈代者，三月內死。左手脈細，右手浮大勁急，為正虛邪盛，必死；脈細數，骨蒸、乾咳、聲啞、寒熱似瘧者，死。</p>
<p>氣口大而虛者，為內傷於氣；氣口脈大而時顯一澀者，為內傷於血；氣口脈大而澀，人迎及尺弦者，為醉飽入房，肝脾氣血俱傷；人迎脈弦而數，為瘀血；氣口脈滑而實，為宿食也。</p>
<p>內傷，左脈常細而澀，右脈多浮而大。陽氣下陷，不能生陰，故血枯而左脈細澀；脾胃虧損不能生金，故氣虛而右脈浮大。內傷，寸口大於尺內，此陽盛脈也。</p>
<p>男子平人，脈大為勞，極虛亦為勞。脈浮者，裡虛也；脈虛浮弦，為短氣、目瞑、衄血。脈大者，春夏劇，秋冬瘥。</p>
<p>男子脈弱而澀者，為無子，精氣清冷；虛弱微細者，善盜汗出；脈沉小遲者，溏泄、食不化；脈虛芤遲及諸芤動微緊者，男子失精，女子夢交；緊數之脈，表裡俱虛；緊，為寒傷營；數，為血不足；脈見短數，則無胃氣；細數、緊數，俱非吉象。脈洪大按之虛者，須防作泄。凡見數脈，難治。病久脈數，尤非所宜。脈忽浮澀而數，忽沉弱而緩，變易不常，虛火之故也。虛損潮熱泄瀉，脈短澀者，不治。虛損，脈浮大者，屬陽虛；細數者，屬陰虛。芤，為失血。若兩手俱芤，而中有一部猶弦者，為有瘀蓄。若見數大者，為火旺，必難治；若見澀，亦不可治。弦數，為骨蒸。自上而下者，必寸口浮數；自下而上者，必尺中弦急。若關尺俱弦細而急者，不治。尺中弦強，必因房室發熱；若更犯房室，明日反暫軟，後日弦強必愈甚，不可不察也。</p>
<p>氣口脈浮大，按之反澀者，有宿食也；脈數而滑者，有宿食也；脈遲而滑者，宿食作脹也；氣口脈緊，寒食停滯胃中也；脈沉緊而細，冷食停脾也；兩手脈模糊不清，此宿食積滯，胃氣不行也。脾不能鼓運，胃不能熟腐，故脈不滑而澀，澀甚模糊不清。若人迎緊盛而氣口滑者，停食感冒也。</p>
<p>虛損之脈，凡甚急、甚數、甚澀、甚滑、甚短、甚長、甚弦、甚緊、甚洪、甚實者，皆虛勞太甚。然惟漸緩則有生意，若弦甚病甚，數甚病危。若弦細而加緊數，則百無一生。脈芤，為血虛；沉遲而小，為脫氣；大而無力，為陽虛；數而無力，為陰虛；大而芤，為脫血；微細，為盜汗。寸弱而軟，為上虛；尺弱軟澀，為下虛；尺軟滑疾，為血虛；兩關沉細，為胃虛。脈來軟者，為虛；緩者，為虛；弱者，為中虛；細而微小，氣血俱虛。</p>
<p>喻嘉言曰：虛勞之脈，為不足之候，為精氣內奪也。黃帝問何謂重虛，岐伯對以脈氣上虛、尺虛是謂重虛，謂其上下皆虛也。氣虛者，言無常也；尺虛者，行步𠊓然，謂其步履之不正也；脈虛者，不象陰也，謂其脈全不似乎太陰脈之充盛也。然以脈之無常，從來謂是上焦陽氣虛，故其脈無常，果爾則下焦陰氣虛，脈更無常矣。觀下文云如此者，滑則生，澀則死，澀脈且主死，而寸脈之無常，寧復有生理哉。故氣虛者，言無常也。此一語明謂上氣之虛，由胸中宗氣之虛，故其動之應手者，無常耳。乃知無常之脈，指左乳之動脈為言，有常則宗氣不虛，無常則宗氣大虛，而上焦之氣始懨懨不足也。後之論脈者，但宗越人所述損脈而引伸觸類曰：脈軟者，為虛；緩者，為虛；澀，為虛；芤，為血虛；弦，為中虛；脈細而微者，氣血俱虛；脈小者，血氣俱少；脈沉小遲者，脫氣。虛損之脈，實未足以盡其底裡，惟賴仲景云：虛勞之脈，多兼浮大。前人所以謂：男子平人，脈大為勞，極虛亦為勞。又謂：脈浮者裡虛。又謂：勞之為病，其脈浮大，手足煩，春夏劇，秋冬瘥。男子脈浮弱而澀，為無子。脈得諸芤動微緊，男子失精，女人夢交。脈極虛芤遲，為消穀、亡血、失精。脈虛弱細微者，善盜汗。而總括其義曰：脈弦而大，弦則為減，大則為芤，減則為寒，芤則為虛，虛寒相搏，此名為革。婦人則半產漏下，男子則亡血失精。可見浮大弦緊，外象有餘，其實中藏不足，不專泥遲緩微弱一端以驗脈也。</p>

<h2>內傷虛損病源</h2>
<p>經曰：人之血氣精神者，所以奉生而周於性命者也。經脈者，所以行血氣而營陰陽、濡筋骨、利關節者也。衛氣者，所以溫分肉、充皮膚、肥腠理、司開闔者也。志意者，所以御精神、收魂魄、適寒溫、和喜怒者也。是故血和，則經脈流行，營覆陰陽，筋骨勁強，關節清利矣；衛氣和，則分肉解利，皮膚調柔，腠理致密矣；志意和，則精神專直，魂魄不散，悔怒不起，五臟不受邪矣；寒溫和，則六腑化谷，風痹不作，經脈通利，肢節得安矣。此人之常平也。五臟者，所以藏精神血氣魂魄者也；六腑者，所以化水穀而行津液者也。兩神相搏（陰陽，夫婦），合而成形，常先生身，是謂精。上焦開發，宣五穀味，熏膚、充身、澤毛，若霧露之溉，是謂氣。腠理發泄，汗出溱溱，是謂津。谷入氣滿，淖澤注於骨，骨屬屈伸，泄澤補益腦髓，皮膚潤澤，是謂液。中焦受氣取汁，變化而赤，是謂血。壅遏營道（約束也），令無所避，是謂脈。夫人身中精，乃臟腑之真，非榮血之比，故曰天癸。氣為臟腑之大，經為動靜之主，故曰神機。脈為天真，委和之大氣。經謂：命之本，氣之神，形之道，其機運升降，皆隨氣而動，因血而榮。精氣資始，相生不失，為人之司命，形質之體用也。若精不足，則氣失資化；氣不足，則血失所營；血不足，則氣無所附，天真散亂，而病生焉。</p>
<p>《內經》之論虛勞，惟是氣血兩端。蓋以人過於勞，氣血受傷，傷則五臟六腑氣血不足為虛，虛甚而臟腑經絡有虧為損，故勞有七情之傷，而遂致五極之應。勞傷乎肝者，應乎筋極；勞傷乎心者，應乎脈極；勞傷乎脾者，應乎肉極；勞傷乎肺者，應乎氣極；勞傷乎腎者，應乎骨極。毋論勞心、勞力，皆能損其精血；而其房勞更甚者，則以形與神俱勞、而精與氣均損矣。</p>
<p>凡勞傷虛損，五臟各有所主，而惟心臟最多。蓋心為君主之官，一身生氣所繫，而五臟之神皆稟於心。故憂生於心者，肺必應之，憂之不已，則陽氣日索，營衛日消，勞傷及肺，弗亡弗已。如經言：嘗貴後賤之為脫營，嘗富後貧之為失精，暴樂暴苦，始樂後苦，皆傷精氣，精氣竭耗，形體毀沮。蓋因脫勢而慮竭將來，追窮已往，故二陽並傷，潛消暗爍於冥冥之中矣。</p>
<p>喜因欲遂而發，似乎無傷。而經曰：喜傷心。又曰：暴喜傷陽。又曰：喜樂者，神憚散而不藏。又曰：肺喜樂無極則傷魄，魄傷則狂，狂者意不存人，皮革焦，毛悴色夭，死於夏。蓋心藏神，肺藏氣，二陽藏也，故暴喜過甚則傷陽，而神氣因以耗散矣。或縱喜無節，則淫蕩流亡，以致精氣疲竭，不可救藥矣。</p>
<p>思本乎心。經曰：心怵惕思慮則傷神，神傷則恐懼自失，破䐃脫肉，毛悴色夭，死於冬。然思生於心，脾必應之，故思之不已，則勞傷在脾。經曰：思傷脾。又曰：思則心有所存，神有所歸，正氣留而不行，故氣結矣。脾氣結，則為噎膈，為嘔吐，而飲食不能運，飲食不運，則血氣日消，肌肉日削，精神日減，四肢不為用，而生脹滿、泄瀉等症矣。</p>
<p>然思本傷脾，而憂亦傷脾。經曰：脾憂愁而不解則傷意，意傷則悗亂，四肢不舉，毛悴色夭，死於春。蓋人之憂思，本多兼用，而心、脾、肺所以並傷，故致損上焦陽氣，而二陽之病發自心脾，以漸成虛勞之病耳。</p>
<p>淫欲邪思又與憂思不同，而損惟在腎。蓋心躭欲念，腎必應之。凡君火動於上，則相火應於下。相火者，水中之火也，靜而守位，則為陽氣；動而無制，則為龍雷，而涸澤燎原，無所不至。故其為病，則為遺淋帶濁，而水液漸以乾枯；炎上入肝，則逼血妄行，而為吐衄血，或為營虛，筋骨痠疼；又上於脾，則脾陰受傷，或為發熱，而飲食悉化痰涎；再上至肺，則皮毛無以扃固而亡陽喘嗽，甚至音啞聲嘶。是皆無根虛火，陽不守舍，而光焰滔天，自下而上，由腎至肺，本原漸槁，上實下虛，是誠剝極之象也。凡男婦失偶之輩，雖非房室之勞，而私情繫戀，思想無窮而欲不遂，則欲火搖心，真陰日削，遂至虛損不救。凡五勞之中，莫此為甚也。</p>
<p>七情傷腎，恐亦居多。蓋恐畏在心，腎則受之。故經曰：恐傷腎。又曰：恐則精卻。又曰：恐懼而不解則傷精，精傷則骨節痿厥，精時自下，或陽痿而終不能療，或陰縮而遺尿。</p>
<p>然恐固傷腎。經曰：腎藏志。盛怒而不止則傷志，志傷則喜忘前言，腰背不可以俯仰屈伸，毛悴色夭，死於季夏。是怒本傷肝，而腎亦受其害也。</p>
<p>怒生於心，肝必應之。故經曰：怒傷肝。又曰：怒則氣逆，甚則嘔血及飧泄，故氣上矣。蓋肝為陰中之陽藏，故肝之為病，如火因怒動而逼血妄行，以致氣逆於上而脹滿喘急者，此傷其陰也；又或氣以怒傷而木鬱無伸，以致侵脾氣陷而為脹痛嘔泄、飲食不行者，此傷其陽也。</p>
<p>然怒本傷肝，而悲哀亦最傷肝。經曰：肝藏魂。悲哀動中則傷魂，魂傷則狂妄不精，不精則不正，當陰縮而攣筋，兩脅不舉，毛悴色夭，死於秋。蓋怒氣傷肝，肝氣實也；悲哀傷肝，肝氣虛也，但實不終實而虛則終虛，虛必至於勞損也。</p>
<p>驚氣本以入心，而實通於肝膽。經曰：驚則心無所依，神無所歸，慮無所定，故氣亂矣。又曰：東方色青，入通於肝，其病發驚駭。此所以驚能動心，而尤能傷及肝膽。心為君主，固不可傷，而膽以中正之官，實少陽生氣所居，故十二經陽剛之氣皆取決於膽。若或損之，則諸臟生氣皆同消索致敗，其危立見。若發驚畏日積，或一時大驚，致膽汁泄而通身發黃、默默無言者，皆不可救。此臟腑勞傷，虛損之源，不可不察也。</p>
<p>夫勞倦不顧者，多成虛損。經曰：陰虛生內熱。有所勞倦，形氣衰少，穀氣不盛，上焦不行，下脘不通而胃氣熱，熱氣熏胸中，故內熱。又曰：喜怒不節，起居不時，有所勞倦，皆損其氣。氣衰則火旺，火旺則乘脾土，脾主四肢，故胃熱無氣以動，懶於言語，動則喘乏，表熱自汗，心煩不安。又曰：勞則氣散，氣短喘乏，汗出，內外皆熱，故氣耗矣。又曰：飲食不節，起居不時，陰受之。陰受之則入六腑，身熱，不時臥，上為喘呼。此可見過於勞倦，必致脾胃氣虛，而肝腎陰火得以乘其土位，遂至氣高而喘，身熱而煩，其為虛損，無不至矣。夫以貧賤之子，奔走食力，終日營勞，竟未有因勞生病者，則以其作息有常，無關榮辱，初不至過勞其心，而悴精敝神，以致虛損耳。惟膏粱柔脆之流，而苦竭心力，斯為害矣。蓋或勞於名利，而不知寒暑之傷形；或勞以淫欲，而不知旦暮之傷命；或勞於遊蕩，而忍飢受凍於呼盧博戲之場；或勞於勇敢，而角力逞強於爭競暴戾之地，則一任強作妄為，陰謀狡計，皆致傷氣傷血，傷精傷脈，以及皮毛肌肉筋骨，無不受傷，所以臟腑虛損而勞瘵成矣。</p>
<p>夫色欲過度者，多成勞損。人身之真陰，腎水也；真陽，相火也。相火為龍雷之火，居於水中，晝則應施受於心，夜則盡歸藏於腎。過於房勞，而宵歡縱欲，致傷真陰，水既虧而火必旺，故有陰虛火動之症。若火衝於上焦，則必生寒熱，而兼喘嗽痰血，或至肺痿、肺癰；火結於下焦，則必生寒熱，而兼遺濁淋泄、腹痛燥澀、盜汗驚悸也。</p>
<p>人惟知百病生於心，而不知百病生於腎。腎水空虛，不能平其心火，心火縱炎，傷其肺金，是絕水之源，金水並衰，不能勝其肝木，肝木發則克脾土，火獨旺而不生化，所以為壯火食氣耳。</p>
<p>夫人自有生以後，惟賴精氣以為立命之本，故精強神亦強，神強必多壽；精虛氣亦虛，氣虛必多夭。其有先天所稟原不甚厚者，能知自珍而培以後天，則無不獲壽。設稟賦本薄，而又恣情縱欲，戕伐後天，則必成虛損勞瘵也。</p>
<p>又有年未及冠，壬水方生，保養正在此時，而無知孺子，遽搖其精，竟如苞萼未成而蜉蝣旦暮，良足悲也。獨異為父母者，往往不明保生之道，急欲為兒圖其婚育，致令稚幼罔識利害，以戕其生，及病成勞瘵，乃為之懇禱，呼號悲慼，誠何濟耶。</p>
<p>然不止此也，近世愚昧無知，研喪亡身，固不足惜。乃有富豪中文學才藝者流，往往縱其淫欲，暱娼狎頑，藥餌丹石，煙燻鴉片，以助陽火，煎熬陰精，至死不已，誠何心哉。是太可憫也矣。</p>
<p>夫少年縱酒，多成勞損。酒本狂藥，大損真陰，雖少飲之，未始無益，而躭飲則受其害矣。凡人之稟賦，藏有陰陽，而酒之質性，亦有陰陽。蓋酒成於釀，其性則熱，汁化於水，其質則寒。若以陰虛者縱之飲，則質不足以滋陰，而性偏動火，故熱者愈熱，而病為吐血衄血、便血尿血、喘嗽、燥煩狂悸等症，此酒性傷陰而然也。若陽虛者縱之飲，則性不足以扶陽，而質流為水，故寒者愈寒，而病為膨脹、泄瀉腹痛、吞酸少食、亡陽暴脫等症，此酒質傷陽而然也。故縱酒者，既能傷陰，尤能傷陽，害有如此。矧酒能亂性，每致因酒妄為，則凡傷精竭力、動氣失機及遇病助欲等事，無所不至，而陰受其損，多罔覺也。酒之困人若此，能勿慎乎。</p>
<p>夫病後誤治，失於調理者，多成勞損。蓋病有虛實，治有補瀉，必補瀉得宜，斯為上工。惟醫不知邪正緩急，每致伐人元氣，敗人生機，而隨藥隨斃者，已無從訴，或幸而得免，而受其殘剝，以致病後多成虛損而不能復振者，比比然也。至於失於調養，或病初愈，或輒縱欲，以及寒暑不慎，勞倦不節，是乃自作之而自受之，其又何尤焉。顧常見富貴子弟，素來放縱，驕淫成性，而病已及身，延醫調治，日服藥餌，日食海參、燕窩，而究不知保養之道，惟靜居密室，起居不時，喜怒無常，不尋樂趣，不順人情，甚且少婦不離左右，不知欲念一動，即不交合，必有真精泄出，此必虛而益虛、損之又損，不自覺也。故或服藥有濟，病亦少安，而未幾反復再三，彼乃歸咎於醫，而不知為自速其死矣。傷哉。</p>
<p>夫虛損之由，無非酒色勞倦、七情飲食所致。故或先傷其氣，氣傷必及於精；或先傷其精，精傷必及於氣。而精氣在人，無非謂之陰分。蓋陰為天一之根，形質之祖，故凡損在形質者，總曰陰虛。然分而言之，則有陰中之陰虛者，其病為發熱燥煩、顴紅面赤、唇乾舌燥、咽痛口瘡、吐血衄血、便血尿血、大便燥結、小便痛澀等症；有陰中之陽虛者，其病為怯寒憔悴、氣短神疲、頭運目眩、嘔惡食少、腹痛飱泄、二便不禁等症，甚至咳嗽吐痰、遺精盜汗、氣喘聲喑、筋骨痠疼、心神恍惚、肌肉盡削、夢與鬼交、婦人經閉等症，此皆由於真陰之敗耳。</p>
<p>夫真陰惟腎為主。蓋腎為精血之海，而人之生氣即同天地之陽氣，無非自下而上，所以腎為五臟之本。故腎水虧，則肝失所滋而血燥生；腎水虧，則水不歸源而脾痰起；腎水虧，則心血不交而神色敗；腎水虧，則盜傷肺氣而喘嗽頻；腎水虧，則孤陽無主而虛火熾。凡勞傷等症，使非傷人根本，何以危篤至此。故凡病甚於上者，必其竭甚於下者也。</p>

<h2>飲食傷病源</h2>
<p>經曰：五臟者，藏精氣而不瀉也，故滿而不實。六腑者，傳化物而不藏也，故實而不滿。又曰：胃者水穀之海，六腑之大源也。五穀入口，藏於胃，以養五氣。氣口亦太陰也。是以五臟六腑之氣味，皆出於胃，變見於氣口。又曰：五穀之寒熱，感則害人六腑。又曰：陰氣者，靜則神藏，躁則消亡。飲食自倍，腸胃乃傷。此乃混言之也，分之為二：飲入於胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行，合於四時，五臟陰陽，揆度以為常也；食氣入胃，濁氣歸心，滋精於脈，脈氣流經，經氣歸於肺，肺朝百脈，輸精於皮毛，毛脈合精，行氣於府，府精神明，留於四臟，氣歸於權衡，權衡以平，氣口成寸，以決死生。經曰：谷始入於胃，其精微者先出於胃之兩焦，以溉五臟；別出兩行營衛之道；其大氣之薄而不行者，積於胸中，命曰氣海。又曰：平人谷入於胃，脈道乃行；水入於經，其血乃成。水決則營散，谷消則衛亡，神無所依。凡水穀入胃，其濁者為渣滓，下出幽門，達大小腸而為糞，以出於穀道；其清者倐然而化為氣，依脾氣而上升於肺，其至清而至精者，由肺而灌溉乎四體，而為汗、液、津、唾，助血脈，益氣力，為生生不息之運用也。</p>
<p>夫飲養陽氣，食養陰氣。過於大飲則氣逆，形寒飲冷則傷肺，肺傷氣逆，則為喘滿、咳嗽、水瀉等症矣；過於飽食而脾與胃並傷，形與神俱困，則為嘔吐、痞滿、筋脈橫解、腸澼痔漏等症矣。此飲食不節而為內傷如此，可不謹哉。</p>

<h1>卷二</h1>

<h2>內傷虛損證治</h2>
<p>虛勞之證，《金匱》敘於血痹之下，可見勞則必傷其精血也。營血傷則內熱起，五心常熱，目眩耳鳴，口舌糜爛，不知正味，鼻乾燥，呼吸不利，乃至飲食不為肌膚，怠倦嗜臥，骨軟足痠；營行日遲，衛行日疾，營血為衛氣所迫，不能內守而脫出於外，或吐或衄，或出於二陰之竅；血出既多，火熱迸入，逼迫煎熬，漫無休止，營血有立盡而已。</p>
<p>更有勞之之極而血痹不行者，血不脫於外而但蓄於內，蓄之日久，周身血走之隧道悉痹不流，惟就乾涸，皮鮮滋潤，肉無榮澤。於是氣之所過，血不為動，徒蒸血為熱，或日晡、或子午，始必乾熱，俟蒸氣散，微汗而熱解，熱蒸不已，不死何待耶。亦有始因失血後遂痹者，血虛血少，難以流布，發熱致痹，尤易易也。</p>
<p>《內經》凡言虛病，不及於勞，然以大肉枯槁，大骨陷下，胸中氣高，五臟各見危症，則固已言之，未有勞之之極而真藏脈不見者也。</p>
<p>秦越人始發虛損之論，謂虛而感寒則損其陽，陽虛則陰盛，損則自上而下。一損損於肺，皮聚而毛落；二損損於心，血脈不能榮養臟腑；三損損於胃，飲食不為肌膚。虛而感熱則損其陰，陰虛則陽盛，損則自下而上。一損損於腎，骨痿不起於床；二損損於肝，筋緩不能自收持；三損損於脾，飲食不能消化。自上而下者，過於胃則不治；自下而上者，過於脾則不治。蓋飲食多，自能生血；飲食少，則血不生，血不生則陰不足以配陽，勢必五臟齊損。越人歸重脾胃，旨哉言矣。</p>
<p>至仲景《金匱》之文，謂精生於穀，谷入少而不生其血，血自不能化精。《內經》於精不足者補之以味，味者五穀之味也，補以味而節其勞，則精貯漸富，天命不傾。所以垂訓十則，皆以無病男子精血兩虛為言，而虛勞之候，煥若指掌矣。夫男子平人，但知縱欲勞精，抑孰知陰精日損，飲食無味，轉勞轉虛，轉虛轉勞，脈從內變，色不外華，津液衰而口渴，甚則眼瞑衄血，陰精不交自走，盜汗淋漓，身體振搖，心膽驚怯者，比比然也。故血不化精則血痹矣。血痹則新血不生，並素有之血亦瘀積不行，血瘀則營虛，營虛則發熱，熱久則蒸其所瘀之血，化而為蟲，遂成傳屍瘵證矣。窮凶極厲，竭人之神氣，而入蟲之神氣，人死則蟲亦死。其遊魂之不死者，傳親近之一脈，閱三傳而非符藥所能制矣。醫和視晉平公疾，曰：是近女室，晦而生內熱惑蠱之疾，非鬼非食，不可為也。惑，即下唇有瘡，蟲食其肛；蠱，乃三蟲共載一器，非鬼非食，明指蟲之為厲也，以故狐惑之證聲啞嘎，勞瘵之證亦聲啞嘎，是則聲啞者，氣管為蟲所蝕明也。《巢氏病源》不察，謂有虛勞，有蒸病，有注病，另各分門異治，致令後人以歧路之多，茫然莫知所適矣。仲景於男子平人諄諄致戒，無非謂營衛之道，納穀為寶，居常調營衛以安其谷；壽命之本，積精自剛，居常節嗜欲以生其精。至病之甫成，脈才見端，惟以建中、復脈為主。夫建中、復脈，皆稼穡作甘之善藥，一遵精不足者補之以味之旨也。及其血痹不行，仲景亟驅其舊、生其新，幾希於勞瘵將成未成之間，誠有一無二之聖法，第牽常者不能用耳。倘有服膺仲景幾先之哲，吃力於療病將成未成之界，其活人之功，皆足予以生全，而為彼蒼所眷注矣。</p>
<p>夫勞瘵之證，無非臟腑之虛損所成也，故心勞血損，肝勞神損，脾勞肉損，肺勞氣損，腎勞精損，其大端也。至其見證，忽生喜怒，大便苦難，口內生瘡，此為心勞；短氣面腫，不聞香臭，咳嗽唾痰，兩脅脹痛，喘息不定，此為肺勞；面目乾黑，精神不定，不能獨臥，目視不明，頻頻下淚，此為肝勞；口苦舌燥，嘔逆噁心，氣脹唇焦，此為脾勞；小便赤澀，兼有餘瀝，腰痛耳鳴，夜多異夢，此為腎勞。然猶未已也，曲運神機，為心之勞，其證血少面無色，驚悸盜汗，夢遺，極則心痛咽腫也；盡力謀慮，為肝之勞，其證筋脈拘攣，極則頭目昏眩也；意外過思，為脾之勞，其證脹滿少食，四肢倦怠，極則吐泄肉削也；預事而憂，為肺之勞，其證氣乏，心腹冷痛，津枯咳嗽，極則毛焦烘熱也；矜持志節，為腎之勞，其證腰背痛，遺精白濁，極則面垢脊痛也。然要不外乎陰陽氣血之虛損焉耳。凡見面紅顴赤，或唇紅者，陰虛於下，逼陽於上也。仲景曰：其面戴陽者，下虛故也。虛而多渴者，腎水不足，引水自救也。咳嗽聲不出者，由腎氣之竭，蓋聲出於喉，而根於腎，經曰內奪而厥、則為喑痱，此腎虛也。虛而喘急者，陰虛格肺，氣無所歸也。喉乾嚥痛者，真水下虧，虛火上浮也。不眠恍惚者，血不養心，神不能藏也。時多煩躁者，陽中無陰也。易生嗔怒或筋急痠痛者，水虧木燥，肝失所資也。飲食不甘，肌肉漸削者，脾元失守，化機日敗也。心下跳動，怔忡不寧，氣不歸精也。經曰：胃之大絡，名曰虛理，出於左乳下。其動應衣，宗氣泄也。盜汗不止者，有火則陰不能守，無火則陽不能固也。吐而多痰，或如清水，或多白沫者，此水泛為痰，脾虛不能制水也。骨痛如折者，腎主骨，真陰敗竭也。腰脅痛者，肝腎虛也。膝以下冷者，命門衰絕，火不歸源也。小水黃澀淋瀝者，真陰虧竭，氣不化水也。足心如烙者，虛火燥陰，湧泉涸竭也。勞瘵之證，千形萬態，無非由於內傷虛損也，危矣哉。</p>
<p>王安道云：經云有所勞倦，形氣衰少，穀氣不盛，上焦不行，下脘不通，胃氣熱，熱氣蒸胸中，故內熱。此內傷之說之源乎。夫有所勞役者，過動屬火也。形氣衰少者，壯火食氣也。穀氣不盛者，勞傷元氣則少食而氣衰也。上焦不行者，清陽不升也。下脘不通者，濁陰不降也。夫胃受水穀，故清陽升而陰濁降，以傳化出入、滋榮一身也。今胃不能納而穀氣衰少，則清無升而濁無降矣，故曰上焦不行、下脘不通。然非謂絕不行、不通也，但比之平常無病時，則謂之不行、不通耳。上不行、下不通，則鬱矣，鬱則少火成壯火，而胃居上焦、下脘兩者之間，故胃氣熱則上炎，熏胸中而為內熱也。東垣所言正與經旨相合，固宜引此段經文，於內外傷辨以為之主。然經曰勞者溫之，溫者養也，東垣以為溫涼之溫，謂用溫藥以補元氣而瀉火邪；又改損者益之為損者溫之，又以溫能除大熱為《內經》所云，而遍考《內經》，並無此語也。然溫藥之補元氣、息火邪者，亦惟氣溫而味甘者，斯可矣。蓋溫能益氣，甘能助脾而緩火，故元氣復而火邪息也。</p>
<p>虛損傷陰，本由五臟，雖五臟各有所主，然證治有可分、有不可分者。如諸氣之損，其治在肺；神明之損，其治在心；飲食、肌肉之損，其治在脾；諸血、筋膜之損，其治在肝；精髓之損，其治在腎，此有可分者也。然氣主於肺而化於精，神主於心而化於氣，肌肉主於脾而土生於火，諸血藏於肝而血化於脾胃，精髓主於腎而受之於五臟，此其不可分者也。故凡補虛之法，但當明其陰陽升降、寒熱溫涼之性，精中有氣、氣中有精之因。但上焦陽氣不足者，下必陷於腎也，當取之至陰之下；下焦真陰不足者，多飛越於上也，可不引之歸源乎。所以治必求本，方為盡善也。</p>
<p>越人發明虛損一證，優入聖域。謂一損損於肺，皮聚而毛落；二損損於心，血脈虛不能榮於臟腑；三損損於脾，飲食不為肌膚；四損損於肝，筋緩不能收持；五損損於腎，骨痿不能起於床，反此者至脈之病也。從上下者，骨痿不能起於床者死；從下上者，皮聚而毛落者死。其論治損之法，損其肺者，益其氣；損其心者，調其營衛；損其脾者，調其飲食、適其寒溫；損其肝者，緩其中；損其腎者，益其精。雖無方可考，而治法不大概可知乎。張景岳云：按上損、下損之說，其義極精，然猶有未盡悉也。蓋凡思慮、勞倦、外感等證，則傷陽，傷於陽者，病必自上而下也；色欲、醉飽、內傷等證，則傷陰，傷於陰者，病必自下而上也。如經云二陽之病發心脾，有不得隱曲，女子不月之類，此即自上而下者也。又經曰：五臟主藏精者也，不可傷，傷則失守而陰虛，陰虛則無氣，無氣則死矣。此即自上而下也。蓋自上而下者，先傷乎氣，故一損損於肺，則病在聲、息、膚、腠；二損損於心，則病在血、脈、顏色；三損損於胃，則病在飲食不調；四損損於肝，則病在瘛瘲、頭疼；五損損於腎，則病為骨痿、二便不禁。此先傷於陽而後及乎陰，陽竭於下則孤陰無以獨存，不可為也。自下而上者，先傷於精，故一損損於腎，則病為泉源乾涸；二損損於肝，則病為血動筋枯；三損損於脾，則病為痰涎壅盛；四損損於心，則病為神魂失守；五損損於肺，則病為喘急短氣。此先傷乎陰而後及乎陽，陰竭於上，則孤陽無以獨生，不可為也。故曰：心肺損而神衰，肝腎虛而形敝，脾胃損而飲食不歸血氣，凡明哲之士則當察所由而預防其微，又何虛損之可慮也。</p>
<p>元氣虛與虛損不同，元氣虛可復，虛損難復也。至虛損病，亦有難復、易復兩候。因病致虛者，緩調自復；因虛致損者，虛上加虛，卒難復也。故因病致虛，東垣、丹溪法，在所必用。若虛上加虛，而致於損，元氣索然，丹溪每用人參膏至斤余，多有得生者。其見似出東垣之右，然則丹溪補陰之論，不過救世人偏於補陽之弊耳，豈遇陽虛之病，而不捷於轉環耶。且丹溪不嘗云：虛火可補，參、耆之屬；實火可泄，芩、連之屬。初何嘗拘於滋陰降火之法乎哉。</p>
<p>飲食勞倦，為內傷元氣，真陽下陷，內生虛熱。東垣發補中益氣之論，用人參、黃耆甘溫等藥，大補其氣而提其下陷，此用氣藥以補氣之不足也。若勞心好色，內損傷陰，陰血既傷，則陽氣偏盛而變為火矣。是謂陰虛火旺勞瘵之證，故丹溪發陽有餘、陰不足之論，用四物加知母、黃柏，補其陰而火自降，此用血藥以補血之不足也。一則因陽氣下陷而補其氣以升提之，一則因陽火上升而濟其陰以降下之，一升一降，迥然不同，亦醫學之兩大法門，不可不究悉之也。</p>
<p>丹溪論勞瘵主乎陰虛者，蓋自子至巳屬陽，自午至亥屬陰，陰虛則熱在午後子前。寤屬陽，寐屬陰，陰虛則汗從寐時盜出也；升屬陽，降屬陰，陰虛則氣不降，氣不降則痰涎上逆而連綿不絕也。脈浮屬陽，沉屬陰，陰虛則浮之洪大、沉之空虛也。此皆陰虛之證，用四物湯加黃柏、知母主之。然用之多不效，何哉？蓋陰既虛矣，火必上炎，而當歸、川芎皆味辛氣溫，非滋陰降火藥；又芎辛竄，非虛炎短乏者所宜；地黃泥膈，非胃寒、食少、痰多者所宜；黃柏、知母苦辛大寒，雖曰滋陰，其實燥而損血，雖曰降火，其實苦先入心，久而增氣，反能助火，至其敗胃，所不待言。不若用薏苡仁、百合、天冬、麥冬、桑白皮、地骨皮、牡丹皮、五味子、酸棗仁之屬，佐以生地黃汁、藕汁、人乳、童便等，以保肺而滋生化之源，往往應手而效。</p>
<p>虛勞之病，百脈空虛，非濡黏之物填之，不能實也；精血枯槁，非滋潤之藥濡之，不能潤也。宜用人參、黃耆、地黃、二冬、枸杞、五味之屬，各煎膏，另用青蒿以童便熬膏，及生地汁、藕汁、乳汁、薄荷汁，隔湯煉過，酌定多少，並糜角膠、霞天膏和合成劑，再用一匙湯化服之。如欲行瘀血，加入醋製大黃汁、桃仁泥、韭汁之屬；欲止血，加入荊、京墨之屬；欲行痰，加入竹瀝之屬；欲降火，加入童便之屬。</p>
<p>凡虛勞之症，大抵心下引脅疼，蓋滯血不消，新血無以養之，宜用膏子，加韭汁、桃仁泥。呼吸少氣，懶於言語，無力動作，目無精光，面色㿠白，皆兼氣虛，用麥冬、人參各二錢，陳皮、桔梗、炙草各半兩，五味子二十一粒。為極細末，水浸油餅為丸，如豆大。每服十丸，細嚼津唾下。名補腎丸。氣虛，則用生脈散，不用白朮；血虛，則三才丸，不用四物。前言薏苡仁之屬治肺虛，後言地黃參耆膏子之屬治腎虛，蓋肝、心屬陽，肺、腎屬陰，陰虛則肺腎虛矣。故補肺腎即是補陰，非四物、知、柏之謂也。</p>
<p>勞瘵治法，當以脾腎二臟為要。腎乃系元氣者也，脾乃養形體者也。經曰：形不足者溫之以氣。氣謂真氣，有少火之溫以生育形體。然此火不可使之熱，熱則壯，壯則反耗真氣也。候其火之少、壯，皆在兩腎間。經又曰：精不足者補之以味。五味入胃，各從所喜之臟以歸之，以生津液，輸納於腎者。若五味一有過節，反成其臟有餘勝克之患起矣。候其五味之寒熱，初在脾胃，次在其所歸之臟，即當補其不足，泄其有餘，謹守精氣，調其陰陽，夫是故天樞開發而胃和脈生矣。</p>
<p>東垣所論飲食勞倦，內傷元氣，則胃脘之陽不能升舉，並心肺之氣陷入於中焦，而用補中益氣治之。方中佐以柴胡、升麻二味，一從右旋，一從左旋，旋轉於胃之左右，升舉其上焦所陷之氣，非自腹中而升舉之也。其清氣下入腹中，久為飧泄，並可多用升、柴，從腹中而升舉者矣。若陽氣未必下陷，反升舉，其陰氣干犯陽位，為變豈小哉。更有陰氣素慣上干清陽，而胸中之肉隆聳為䐜、胸間之氣漫散為脹者，而誤施此法，天翻地覆，九道皆塞，有瀕於死而坐困耳。後人相傳，謂此方能升清降濁，有識者亦咸信之，醫事尚可言哉。夫補其中氣，以聽中氣自為升降，不用升、柴可也，用之亦可。若以升清之藥，責其降濁之能，豈不病乎。</p>
<p>經云：勞風，法在肺下。其為病也，強上冥視，唾出若涕，惡風而振寒。治之奈何？曰：以救俯仰，巨陽引精者三日，中年者五日，不精者七日。咳出青黃涕，其狀如膿，大如彈丸，從口中或鼻中出，不出則傷肺，傷肺則死矣。讀此可悟傷風不解成癆之故。勞風者，既勞而又傷風也。勞則火動於上，而風又乘之，風火相摶，氣湊於上，故云法在肺下也。肺主氣而司呼吸。風熱在肺，其液必結，其氣必壅，是以俯仰皆不順利，故曰當救俯仰也。救俯仰者，即利肺氣、散邪氣之謂乎？然散邪氣之散與否，在乎正氣之盛與衰。若陽氣旺，而精氣引者三日，次五日，又次七日，則青黃之涕從咳而出，出則風熱俱去，而肺無恙矣。設不出，則風火留積肺中而肺傷，傷則喘咳聲嘶，漸及五臟，而虛勞之病成矣。今人治勞，日用滋養而不少益者，非以邪氣未出之故歟。而久留之邪，補之固無益，清之亦不解，虛勞之病所以難治也。</p>
<p>又按：《脈解篇》云：太陽所謂強上引背者，陽氣大上而爭，故強上也。勞風之病，火在上而風乘之，風火皆陽也，風性善行，火性炎上，非所謂陽氣大上而爭者乎。</p>
<p>又按：虛勞之人，氣血枯耗，生氣不榮，則內生寒冷，所謂冷勞是也，宜建中、復脈、八味、腎氣之屬，甘溫辛潤，具生陽化陰之能者治之。亦有邪氣淹滯、經絡瘀郁者，《元珠》所謂體虛最易感邪，當先和解，次則調之，倘遽用補，使邪氣不解，往往致死。是故治虛勞，故不可專以補陰降火為事也。</p>
<p>又按：有寒從中生者，是人多痹氣也。又腎者水也，而生於骨，腎不生則髓不能滿，故寒盛至骨也。是故氣痹精少，皆能生寒，不必其定責陽虛也。</p>
<p>薛立齋曰：癆瘵之證，大抵屬足三陰虧損、虛熱無火之症，故晝發夜止，夜熱晝止，不時而作，當用六味地黃丸為主，以補中益氣湯調補脾胃。若脾胃先損者，當以補中益氣湯為主，以六味地黃溫存肝腎，多有得生者。若誤用黃柏、知母之類，則復傷脾胃，飲食日少，諸臟日虛，元氣下陷，腹痞作泄，則不可救矣。夫吐血、衄血之類，因虛火妄動，血隨火而泛行，或陽氣虛而不能攝血歸經而妄行，其脈洪弦，乃無根之火浮於外也。大抵此證，多因火土太旺、金水衰涸之際，不知保養，及三冬火氣漸藏，不遠幃幕，戕賊真元。故至春末夏初，患頭疼腳軟，食少體熱，而為注夏之病。或少有老態，不耐寒暑，不勝勞役，四時迭病，此時血氣方長，而勞心虧損，精神未滿，而早為斫喪，故其見證難以名狀者。左尺脈虛弱或細數，是左腎之真陰不足也，用六味丸。右尺脈遲軟或沉細而數欲絕，是命門之相火不足也，用八味丸。至於兩尺微弱，是陰陽俱虛也，用十補丸。此皆滋其化源也，仍須參前後發熱咳嗽諸症治之。</p>
<p>李士材曰：夫人之虛，非氣即血，五臟六腑莫能外焉。而血之源頭在乎腎，氣之源頭在乎脾。脾為肝母，肺為主氣之官，故肺氣受傷者，必求助於脾土；腎為肺母，肝為藏血之地，故肝血受傷者，必藉資於腎水。補腎補脾，法當並行，然以甘寒補腎，恐妨胃氣；以辛溫補脾，恐妨腎水，須辨緩急而為之施治，或補腎而助以沉香、砂仁，或扶脾而雜以山藥、五味，機用不可不活也。</p>
<p>虛勞之症，扶脾保肺，多不可缺。然脾性喜溫喜燥，而溫燥之劑不利於保肺；肺性喜涼喜潤，而涼潤之劑不利於扶脾。兩者並列而論，脾有生肺之機，肺無扶脾之力，故曰：土旺而生金，勿拘拘於保肺。</p>
<p>瀉火之亢以全陰氣，壯水之主以制陽光，法當並行，然瀉火之劑多寒而損陽氣，壯水之劑多平而損陰血。兩者並列而論，苦寒過投，將有敗胃之憂；甘平常用，卻無傷中之害，故曰：水盛而火自熄，勿汲汲乎寒涼。</p>
<p>凡陰虛多熱，最嫌辛燥，恐助陽邪也；尤忌寒涼，恐伐生氣也。惟喜純甘壯水之劑，補陰以配陽，虛火自降，而陽歸於陰矣。陽虛多寒者，最嫌涼潤，恐妨陰邪也；尤忌辛散，恐傷陰氣也。只宜甘溫益火之品，補陽以消陰，沉寒自斂，而陰從乎陽矣。不知者惟知以熱治寒、以寒治熱，所以陰虛不宜降者，則服寒反熱；陽虛不宜耗者，則服熱反寒，此無他，皆以專治旺氣，故病反如此。</p>
<p>春夏之令主生長，秋冬之令主肅殺，人知之矣。殊不知藥之溫者，行天地發育之德；藥之寒者，象天地肅殺之刑。如四物湯加黃柏、知母，名坎離丸，舉世奉之以為滋陰上劑、降火神丹，不知涼血之藥常滯膩，非痰多食少者所宜；涼血之藥多滋潤，多用必至泄瀉。嘗見虛勞之死，多死於泄瀉，而泄瀉之因，多因於清潤。況黃柏苦寒，苦先入心，久而增氣，反能助火，至其敗胃，所不待言；川芎上竄，非火痰上氣者所宜；知母滑腸，豈元氣下陷者可服。丹溪云：實火可瀉，芩、連之屬；虛火可補，參、耆之屬。知、柏之藥，如病初起而相火正旺，口舌燥渴而右尺滑，暫投亦自無妨，久用斷乎不可。故用溫補，病不增，即是減，內已受補故也；用寒涼，病不減，即是增，內已受伐故也。</p>
<p>虛勞精滑無度，或交寅刻夢泄，氣少力微，日漸瘦削，目視不明者，因房勞太過，督任不交，不能制約陰火也。陽虛者，鹿茸丸、龜鹿二仙膠；陰虛者，六味丸加鰾膠、五味，或六味丸雜聚精丸一分合服；脾胃陰陽俱虛者，宜兼補先、後天藥也。男子精未充滿，色欲過度，泄出多有半精半血者，此竭力傷肝，不能藏血也。蓋少陰常少血多氣，厥陰常多血少氣，少陰之精氣既竭，則厥陰之血氣亦傷，是以並血泄出。腎主閉藏，肝主疏泄，氣竭肝傷，中空無主，所以二臟俱閉，其治總不出上法也。若夫思欲不遂，鬱火無下，精為火擾而亡脫者，又當清利瀉火為主，設與固澀，其滑愈甚矣。</p>
<p>凡虛損有不能受補藥者，此為虛不受補，何以復生。若勞損失血之後，嗽不能止而痰多甚者，此以脾肺虛極，飲食無能化血，而隨食成痰，此雖非血而實血之類也。經曰：血出者死。故凡痰之最多最濁者，不可治。人身之左右，為陰陽之道路，而一邊難轉者，此其陰陽之氣有所偏竭而然，多不可治。</p>
<p>凡病虛損者，原無外邪，所以病雖至困，終不憤亂；其患虛證，別無邪熱，而譫妄失倫者，此心臟之敗，神去之兆也；勞嗽喑啞，聲不能出，或喘息氣促者，此肺臟之敗也；勞損肌肉脫盡者，此脾臟之敗也。凡虛損有筋骨疼痛至極者，乃血竭不能榮筋，此肝藏之敗也；虛損既久而泄瀉不禁者，此腎臟之敗也，皆為必死不救矣。</p>
<p>劉默生曰：虛勞多起於郁，鬱則其熱內蒸，內蒸則生蟲，蟲侵蝕臟則咳。初起早為杜絕，不致蔓延；若遷延日久，咳嗽不止，痰如白沫，聲啞喉痛，不可治矣。脾胃泄瀉，六脈細數而堅極，久臥床褥，煩躁血多者，不治；如六脈平緩，重按有神，飲食不減，大肉未削，二便調……骨痿而熱甚，泄瀉無度而畏寒，失血而脈數實，咳吐白痰及嘔血聲散，陽事不禁，暮熱如焚，面色夭然白，及衄下血，寒熱脫形，脈堅搏者，皆不可治。如病久痞悶，忽得氣血沖和，心腎交媾，陽事必舉，尤宜切戒房室，犯之必復，愈難調治也。</p>
<p>大抵虛勞起於斫散者，肝腎過勞，多致亡血失精、強中陰竭而死；起於鬱結者，內火爍津，多致血竭乾咳、嗜食發癰而死；起於藥誤者，脾肺受病居多，多致飲食少減、咳嗽瀉泄而死。此證多患於膏粱，不但所稟柔脆，且性喜服藥，小病必然變重，展轉戕賊，必至傷殘不已也。</p>
<p>面色不衰，肌膚日瘦，常如無病，內實虛傷，俗名桃花證。其證蒸而咳嗽，或多汗或無汗，或多痰或無痰，或經閉，或泄精，或吐血，或衄血，或善食，或泄瀉，須察其所見何證、何臟受傷而治之。然此皆為陰火煎熬之證，治多不效。室女過時不嫁，男子過時不娶，及少寡者，皆犯此證，以陰火雖乘陽位，非但不能消爍陽分之津液，陰分之津液竭力上供陽火之消爍，故肢體日削，而面色愈加鮮澤也。輕者嫁娶漸愈，重者雖暫……流通，即不能留而下，下後半月十日自愈。下血時能食者，不死；不能飲食，精神倦怠者，必死。吐血後，反驟能食者，亦不可治。</p>
<p>凡虛損，脈六七至，在春夏火令，津液枯槁，腎水正行死絕之鄉，肺絕脾燥，無有不死者；若秋冬火令已退，金水正旺，脈雖數，可治也。設病者骨立聲啞，喉痛寒熱，腹疼作瀉，而脈細數，亦屬不治。</p>
<p>凡病延至三四月，服藥已多，其不效者，必過用寒涼，五臟愈虛，邪火愈熾。初用補藥數劑，邪火一退，反覺頭眩噁心，骨疼足痿，神氣昏倦，不思飲食。倘脈見和緩，用保元、四君，大劑連服，便安寢半日，覺時精神頓爽，再服亦然，飲食漸增，則為可治。倘脈細如絲，腹痛昏憒者，難治。</p>
<p>凡久病，脈大小、浮沉、滑弦而三部不勻，或寸浮尺沉，或尺浮寸沉，但見病脈，反屬可治。如久病，浮中沉俱和緩，細察無神，而體倦甚者，必死。更看其面色光潤，此精神皆發於外，死期速矣。</p>
<p>凡久病元氣虛，而脈反和緩，假氣也。遇七八月間服補劑，病得漸減，此生機也。或延至十一月，一陽初動，陽氣漸升，內氣空虛，無以動生髮之氣，則變增寒壯熱，服補藥十餘劑，寒熱漸退，猶可延捱，調理至二三月，不變則生，有變則不治。</p>
<p>勞損久而嗽血，咽痛失音，此為下傳上；若不嗽不痛，久而溺濁脫精，此為上傳下，皆死證也。</p>

<h1>卷三</h1>

<h2>內傷虛損證治</h2>
<p><u>內傷始於熱中病似外感陽證</u></p>
<p>頭痛大作，氣高而喘，身熱而煩，上焦鼻息不調，四肢困倦不收，無氣以動，或煩躁悶亂，心煩不安，或渴或不渴。心火上炎，克肺則渴；血脈中有濕，則不渴。或表虛不任風寒，目不欲開，口不知味，氣口脈大於人迎兩三倍，但急大而時見一代，此內顯脾氣不續之脈也，宜補中益氣湯。有宿食，則右關獨沉而滑，宜枳朮丸。</p>
<p><u>內傷未傳寒中病似外感陰證</u></p>
<p>腹脹，胃脘當臍痛，四肢與兩脅拘急，膈噎不通，或涎唾，或清涕，或多溺，足下痛不能任身履地，骨乏無力，兩丸多冷，陰莖作痛，或妄見鬼狀，腰背肩髀脊膂皆痛，不渴不瀉，脈盛大以澀，名曰寒中。宜枳朮理中，加桂、附、益智、草蔻。兼腎藏火衰，面黑足寒，小便不利者，八味丸加鹿茸、五味子。</p>
<p><u>內傷似外感陽明中熱證</u></p>
<p>天氣大熱，時勞役得病，與陽明傷寒白虎湯證相似，此脾胃太虛、元氣不足之證。肌熱燥悶，煩渴引飲，口鼻氣促，目赤面紅，壯熱晝夜不息，脈大而虛，重按全無。經曰：脈虛則血虛，血虛則發熱。誤服白虎必危。宜當歸補血湯。</p>
<p><u>內傷似外感惡風寒證</u></p>
<p>因勞役心苦，腎中陰火沸騰，後因脫衣或沐浴、歇息於陰涼處，其陰火不行，還歸皮膚，腠理極虛無陽，被風與陰涼所遏，以此表虛不任風寒，與外感惡風寒相似。其證少氣短促，懶於言語，困弱無力。不可同外感治，補中益氣湯加紫蘇、羌活，甚者加桂枝最當。</p>
<p><u>勞倦所傷虛中有寒</u></p>
<p>脾胃虛弱不能運化，致寒物冷痰膠固於中焦，時時痞悶，不覺飢飽，其脈雖弦而按之不鼓。當溫暖以助脾健運，宜理中丸。若臍下築者，腎氣動也，去朮，加桂；上多者氣上壅也，下多者氣泄而下收也，還用術；悸者，飲聚也，加桂、苓；渴欲飲水者，津液不足也，倍用術；腹中痛者，倍人參；寒者，倍乾薑；腹滿者，去朮，加附子。</p>
<p><u>勞倦所傷虛中有熱</u></p>
<p>飢飽勞役損傷脾胃，元氣不足之人，其脈多弦，或洪緩，按之無力，中時一澀，其證身體沉重，四肢困倦，百節煩疼，胸滿短氣，膈噎不通，心煩不安，耳聾耳鳴，目熱如火，視物昏花，口中沃沫，飲食少味，忽肥忽瘦，怠惰嗜臥，溺赤或清利而數，上飲下便，或時飧泄，腹中虛痛，不思飲食，調中益氣湯。如時顯熱燥，是下元真火蒸蒸然發也，加生地、黃柏；如大便虛坐不得，或了而不了，腹中常逼迫，氣血虛澀也，倍當歸。</p>
<p>飲食勞倦所傷，腹脅滿悶，短氣，遇春則口淡無味，遇夏雖熱猶有惡寒，飢則常如飽，不喜食冷物，升陽順氣湯。</p>
<p>勞倦所傷，寒溫不時，身熱頭疼，自汗惡寒，脈微而弱，黃耆建中湯。</p>
<p>飢飽勞役，胃氣不足，脾氣下溜，氣短無力，不時寒熱，早飯後轉增昏悶，須要眠睡，怠惰嗜臥，四肢不收，懶於動作，五心煩熱，先服升陽補氣湯二三劑，後服補中益氣湯。</p>
<p><u>辨內傷外感證</u></p>
<p>內傷外感乃病之大關鍵，於此昧焉，何足云醫？人迎脈大於氣口，為外感；氣口脈大於人迎，為內傷。外感則寒熱俱作而無間，內傷則寒熱間作而不常。外感惡寒，雖近火不除；內傷惡寒，得暖則解。外感惡風，乃不禁一切風寒；內傷惡風，卻惡門隙中風。外感顯證在鼻，故鼻息不利而氣壅有力，雖不能食而不惡食；內傷顯證在口，故口不知味而腹中不和，怯弱妨食，惡聞食氣。外感則邪氣有餘，發言壯厲，先輕而後重；內傷則元氣不足，出言懶怯，先重而後輕。外感頭痛，常常而痛，多見於腦後、額上，以及遍身肢體、腰脊筋骨攣痛；內傷頭痛，時作時止，不離兩太陽、額顱，多兼肩背、脅胸、腰腿骨節痠痛。外感則手背熱，而手心不熱；內傷則手心熱，而手背不熱。外感小便赤澀而痛，終日難得；內傷小便必短而煩。外感便燥則發熱，腹中硬痛；內傷秘則虛坐，或見些小白膿。外感則腹絞痛，而痛不可按；內傷有時胃脘當心痛，而上支兩脅。外感則手足動搖，煩擾不寧；內傷則四肢不收，倦怠嗜臥。外感傳經入里，則大渴；內傷邪在血脈中，故不渴，間有渴亦不甚。東垣辨法如此。</p>
<p>丹溪云：內傷症，皆以補元氣為主，看所挾而兼用藥。則引伸其意，若顯外感症多者，則外感重而內傷輕，宜以發散為急；然既兼內傷矣，則發散中能無斟酌乎。</p>
<p>虛損之因有五勞七傷，症分營衛臟腑，然總之斯人賴以生者，惟此精氣，而病為虛損者，亦惟此精氣。氣虛者，即陽虛也；精虛者，即陰虛也。凡病有火盛水虧，而見營衛燥、津液枯者，即陰虛之症也；有水盛火虧，而見臟腑寒、脾胃敗者，即陽虛之症也。此惟陰陽偏困所以致然。凡治此者，但當培其不足，不可伐其有餘。惟是有似陽非陽、似陰非陰者，不可不詳察也。且復有陰陽俱虛者，則陽為有生之本，而所重者，又當在陽氣耳。知乎此，則虛損之治思過半矣。</p>
<p>陽虛者多寒，非謂外來之寒，但陽氣不足則寒生於中也。若病見虛弱，別無熱症者，便是陽虛之候，即當溫補元氣也。蓋陽虛之候，多得之憂愁思慮以傷神，或勞役不節以傷力，或色欲過度而氣隨精去，或素稟元陽不足而寒涼致傷等證，皆陽氣受損之所由也。欲補陽氣，惟甘溫而兼辛燥為宜，萬勿兼清涼寒滑之品，以殘此生髮之氣耳。</p>
<p>陰虛者多熱，水不濟火而陰虛生熱也。此病多得於酒色嗜欲，或憤怒邪思，流蕩狂勞，以動五臟之火。而先天元陽不足者，尤多此候。凡患虛損，而多熱多燥、不宜熱食者，便是陰虛之候。欲滋其陰，惟宜甘溫而加醇靜之品。凡陰中有火者，大忌辛燥，蓋恐陽旺則陰愈消、熱增則水愈涸耳。然又忌寒涼，蓋苦劣之性，斷非滋補之物，且多傷胃也。虛損夜熱，或午後發熱，或喜冷便實者，此皆陰虛生熱、水不制火也。若火在心、腎而驚悸失志者，或外熱不已而內不甚熱，則但宜補陰，不可清火。其有元氣不足而虛熱不已者，則又當培其元氣也。</p>
<p>東垣云：仲景論內傷不足、發熱自汗之症，認作有餘，誤用表藥，汗大出而表益虛也。手足不和，兩脅俱熱如火，先少陽也。從內而之外者，為內傷。傷食，令人頭痛發熱，脈數，但左手和平，身不疼痛是也。人迎、氣口俱緊盛，或舉按皆實大，發熱而惡寒，腹不和而口渴，此內外俱傷也。中脘有痰，令人增寒發熱，惡風自汗，寸口脈浮，胸膈痞滿，有類傷寒，但頭不痛、項不強為異耳。虛煩與傷寒相似，身熱，脈不浮緊，不惡寒，不頭痛，但熱而煩是也。四肢發熱、口舌咽乾、煩躁悶亂者，心與小腸之火乘脾土，脾主四肢，脾熱，四肢發熱也。經云：陰虛則發熱。夫陽在外，為陰之衛；陰在內，為陽之守。精神外馳，嗜欲無節，陰氣耗散，陽無所附，遂致浮散於肌表間而發熱也。實非有熱，當作陰虛治，而施補養之法可也。</p>
<p>丹溪論晝夜發熱，晝重夜輕，口中無味，為陽虛；午後發熱，夜半則止，口中知味，為陰虛；至於或晝或夜，或作或止，不時而熱者，此脾胃氣血俱虛、火氣不寧之症，不可拘於晝夜之候也。陽虛則在胃，陰虛則在腎。蓋飢飽傷胃，勞役則兼傷脾，陽氣虛矣；房勞傷腎，竭力則傷肝，陰血虛矣。腎虛火不歸源，遊行於外而發熱者，煩渴引飲，面目俱赤，遍舌生刺，兩唇黑裂，喉間如煙火上衝，足心似烙，痰涎壅盛，喘急氣促，脈洪大，數疾無倫，按之微弱者是也。法當導火歸源，倘用寒涼必殆。即或知其本虛而用補益，不辨陰虛、陽虛，漫投參、術，則陽愈盛而陰愈虛，壯熱轉增，八味、桂附之屬愈不敢施，不得已而用知、柏、芩、連折之，必致燥渴咽痛、腹痛泄瀉而死也。</p>
<p>潮熱，有作有止，如潮水之來，不失其時。若日三五發者，即是發熱，非潮熱也。惟傷寒日晡發熱乃胃實，別無虛證。其餘有潮熱者，當審其虛實，若大便堅澀，喜冷畏熱，心下愊然，睡臥不著，此皆氣盛，所謂實而潮熱也；若胃氣消乏，精神憔悴，飲食減少，日漸尪羸，病雖暫退而五心常有餘熱，此屬虛證；有每遇夜身發微熱，病人不覺，早起動作無事，飲食如常，既無別症可疑，只是血虛，陰不濟陽也；有潮熱似瘧，胸膈痞塞，背心疼痛，氣弱脈弦，服補藥不效者，此屬飲證隨氣而潮，故熱亦隨飲而潮，於痰飲門求之。氣口脈滑，內有宿食，常暮發熱，明日復止者，於傷食門求之。</p>
<p>經云：陽虛則外寒，奈何？曰：陽受氣於上焦，以溫皮膚、分肉之間。今寒氣在外，則上焦不通，而寒氣獨留於外，故寒慄。惡寒者，雖當夏月，若遇風寒，欲得重綿，時覺懍懍戰慄，如喪神守，此熱伏於裡，反覺自冷，實非寒也。仲景云：心下有留飲，其人背惡寒，冷如冰，指迷茯苓丸。身前寒，屬胃經。曰胃足陽明之脈，氣虛則身以前寒慄。掌中寒者，腹中寒；魚上白肉有青血脈者，胃中有寒，理中丸。表虛惡賊風，上焦不通，陽氣抑遏，而皮膚、分肉無以溫，故寒慄，升陽益胃，開發上焦，以升陽氣出外溫之也。外感、內傷、傷食、濕痰、火鬱，皆有惡寒，非獨陽虛也。若脈浮緊，頭痛拘急，身疼，微惡寒，熱起，是外感，審時令輕重發散之；脈緩，或氣口虛大，按之無力，兼見倦怠，心下熱，是內傷元氣證；脈弦滑，噁心頭痛，飽悶溢酸，是內傷宿食；或脈澀伏，腹滿煩熱，喘促者，是冷食結滯於內者也；脈滑或沉，周身冷痛而惡寒者，屬痰濕，乃痰在上焦，遏絕陽氣而然，肥人多此；內虛里急，惡寒少氣，手足厥逆，少腹攣急，足脛疼，此陽不足也；背惡寒，脈浮大而無力者，為氣虛；脈弦數，寒熱兼作，乃瘡腫之候。大抵惡寒症，除陽虛外，屬表症者多也。然惡寒而不發熱者，亦多火鬱之症，一概以陽虛為治，則誤矣。背惡寒，瘀血內滯，而頭汗目黃，小便清利，大便溏黑，小腹偏左或左脅、中脘有疼處，脈必關尺弦緊，或帶芤，桃核承氣、犀角地黃，隨上下虛實清理之。</p>
<p><u>上熱下寒、上寒下熱</u></p>
<p>熱發於上，陽中之陽邪也；熱發於下，陰中之陽邪也；寒起於上，陽中之陰邪；寒起於下，陰中之陰邪也。《脈經》云：陽乘陰者，腰以下至足熱，腰以上寒，梔子豉湯吐以升之。陰氣上爭，心腹滿者死。陰乘陽者，腰以上至頭熱，腰以下寒，桂苓丸利以導之。陽氣上爭，得汗者生。若雜上熱下寒，既濟湯。兼大便秘，既濟解毒湯。火不歸源，八味丸。上寒下熱，五苓散送滋腎丸。陽虛下陷者，加減八味丸。</p>
<p>凡似損非損之症，惟外感寒邪者乃有之。蓋以外邪初感，不為解散而誤作內傷，或用清涼，或用消導，以致寒邪入腹，久留不散，而為寒熱往來，或為潮熱咳嗽，其症則全似勞損。用治損之法以治之，則滋陰等劑愈以留邪，熱蒸既久，非損成損矣。然辨此者，但當詳察表裡而審其致病之由。若身有疼痛，而微汗則熱退，無汗則復熱，或見火聲咳嗽，脈雖弦緊而不甚數，或兼和緩等象，則雖病至一兩月，而邪有不解、病終不退者，本非勞損，無誤治也。</p>
<p>陰虛多火人，偶感客邪，其蒸熱咳嗽雖異平時，然察其脈，不能便顯浮緊之象，但較平時必然稍旺，慎勿輕用疏風散表，以風藥性皆上升，咳嗽咸非所宜；亦不可妄與清肺止嗽，轉傷胃氣，為害不淺。當此宜停補藥，靜以養陰，邪自退；聽內本多火，腠理必疏，或啜熱湯稀粥，汗氣隨通，邪解散。先哲有云：陰虛火旺人，元氣傷損，雖有客邪，切忌升發散表。設不知此，誤用風藥，則風乘火勢，火助風威，以煽動其陰邪，輕則虛揚擾亂不寧，重則氣隨汗脫而斃。蓋邪氣方張，遏之愈逆，不得已而用藥，只宜小劑蔥白、香豉以解散之。若陰火原不大盛，小建中、黃耆建中亦無妨礙，誤用保肺藥，必咳嗽益甚。即如建中湯，稍加萎參、細辛以搜散之。俟其勢衰，脈虛，如六味合生脈，去萸肉，倍地黃、人參，加萎蕤，大劑作湯，晨夕兼進，合標本而為施治。服後咳嗽稍減，蒸熱未除，此陽虛不能斂制也，加牛膝、鱉甲以滋下源，分先後而為處裁。若飲食過傷者，亦宜暫停補藥，慎勿輕為消導，戕伐其胃，以招虛虛之謗耳。</p>
<p>虛勞不足，汗出而悶，脈結心悸，行動如常，不出百日危矣。甘草湯主之。</p>
<p>婺婦師尼，所欲未遂，陰陽離絕，鬱火亢極，不得發泄，而成失合證，較之房勞更甚。始則肝火鬱熱，繼則龍火上煽，致心肺受傷，而喘嗽煩熱，甚則迫血驟亡者有之，經閉不行而吐衄者有之。此症先宜開鬱降火，後服滋養之藥。若鬱火不泄，血氣不榮，而發癰疽者，去生遠矣。</p>
<p>虛損咳嗽，雖五臟皆有所病，然專主則在肺腎。蓋肺為金臟，金之所畏者火也，金之化邪者燥也，燥則必癢，癢則必嗽。正以腎水不能制火，所以剋金，陰精不能化氣，所以致燥，故為咳嗽喘促、咽痛喉啞等證。治宜甘平、至靜之劑資養金水，使肺腎相生，不受火制，則真陰漸復，而咳嗽愈矣。</p>
<p>人有終日咳嗽，吐痰，微喘，少動，短氣不足以息，此乃肺氣自損也。蓋肺主氣，心火刑肺，氣必損；而形寒飲冷，肺亦自損。且臟腑雖各有氣，要皆仰肺中清肅之氣分布。今肺損，自衛不足，何能分布，但雖不能分布，而臟腑之取給自若，是肺氣愈耗。且肺為腎母，腎水非肺氣不生，肺不分布各臟，忍見腎子渴死不救乎，惟杯水難濟腎枯，卒之子病母氣亦盡矣。治宜大補肺而兼滋腎水也，六味湯加麥冬、五味。</p>
<p>人有目䀮䀮，面無血色，腳隱隱痛，熱則吞酸，寒則作嘔，痰如臭涕，或清或黃臭，眥淚乾澀，常欲合目，睡臥不安，多驚怖，此肺勞傳肝也。蓋肺本克肝，肝旺則肺何能克，無如腎勞久不生肝，肺乘肝弱，將蟲氣交之，肝不能拒，遂受其蟲氣，而蟲氣久居腎，腎欲生肝，蟲隨以入之，蟲蝕肝血，肝又何養也。治宜救腎生肝，兼殺蟲也。援瘵湯，服三月全愈。此不宜消痰逐穢，以傷脾胃也。</p>
<p>人有咳嗽吐痰，氣逆作喘，臥更甚，鼻口乾燥，不聞香臭，噁心欲吐，肌膚枯燥，時疼痛，干皮如麩片起，肺管內似蟲行，此乃心癆傳肺也。蓋肺嬌臟，最噁心火克，心正火刑肺尚有金實不鳴之症，況屍蟲病氣移而刑肺乎。然肺為腎母，肺自能交腎，腎之蟲氣何不交肺乎。治宜消心中蟲氣，尤須消腎中蟲氣。要必健胃以分布津液，庶心腎有益而胃無損，蟲自得誅也。健土殺蟲湯，此補胃不助陽，消腎不損液，腎足制心，心不刑肺，實妙法也。</p>
<p>人有日日向火，致汗出不止，久則元氣大虛，口渴引飲而發熱，此乃肺受火傷也。蓋肺金最畏火，肺為外火所逼，必致暗損氣，內火又乘虛而爍之，肺則虛而益虛也，並不能生其腎水，勢必皮膚不充，而風邪易入矣。治宜補肺滋腎，倘徒祛風，因傷益傷，有不至成癆怯哉。安肺湯甚效。</p>
<p>人有勤於功名，勞瘁，飢飽不時，忽感風邪，咳嗽身熱，此乃內傷於肺也。蓋肺主氣，誦讀傷氣則肺虛，肺虛則腠理亦虛，邪自易入；腎因肺虛而亦虛，無力上灌，邪氣往來於肺腎之間，故身熱而咳嗽也。治宜補肺氣，亦兼補腎，胃亦生肺，亦必於胃中散邪而邪乃遁矣。助功湯甚效。</p>
<p>人有終日捕魚，時發熱畏寒，此乃肺氣閉塞也。蓋肺主氣，氣旺則周流一身，皮毛外衛，邪不能侵。惟肺虛氣尚停住，身入水中，遏抑皮毛，虛氣難舒，濕宜中之，從皮毛而入，使氣閉塞不通故畏寒，而肺與濕相戰故身熱矣。此熱乃肺虛不能敵邪，非風邪入之而身熱也。治宜補肺，兼利水濕，水自從膀胱出也。利肺湯甚效。</p>
<p>人有勞心經營太過，心火沸騰，先則夜夢不安，久則驚悸健忘，心神憔悴，血不華色，此乃心血太虧也。蓋心君宜靜不宜動，靜則火不炎，腎水自來相濟。若動，則腎與心氣兩不相交，火升水降，漠不相關也。夫腎水得心火溫則生，腎水得烈火熬則竭。過勞火動，腎畏之而不敢升，水不升，心愈躁，且自焚，而虛損必成，不必外邪耗也。五臟損至心而亡，今心雖先損，而諸臟腑不損，則心有所取給，猶有生機也。治宜補脾腎肝肺氣以救心也，衛主生氣湯甚效。</p>
<p>人有用心思慮太過，精神恍惚，懶言語，忽忽若失，腰腳沉重，肢體困倦，此乃心勞傷神也。蓋心藏神，神久安於心者，心血旺也，思慮無窮則心勞，心勞則血沸，血沸則漸耗，血耗則神無所養，故恍惚無定也。治宜肝肺脾胃並培，則扶助有資，心神自旺，而勞傷自愈矣。定神湯甚效。</p>
<p>人有過喜，大笑不止，致唾干津燥，口舌生瘡，渴欲引水，久之形槁，心頭汗出，此乃陽火上炎也。蓋心屬火，乃陽火，腎屬水，乃陰水，陰水得陽火而爍干，陽火須陰水以灌溉，心火非腎水相交，不能止炎上之性。惟腎水有時不交心，心中無液則必燥。喜主心，而喜極則心氣大開，反傷乎心，而津不上於唇口，盡越於心頭之皮肉，故腎津即化汗，何能上濟於廉泉也。治宜補心氣，不必補腎水，而廉泉自通矣。通泉飲甚效。</p>
<p>人有盡情喜笑，遂致感寒畏風，口乾舌苦，此乃內傷心包絡也。蓋心包，膻中也，臣使之官，喜樂出焉。惟大笑不止，則津干液燥，而心包必盜心氣以自肥，則心氣虛空，邪自易入也。治宜極補心，心旺則心包亦旺，其邪不易散乎，倘用苦寒降火則大誤矣。衛心湯效。</p>
<p>人有恐懼，遂致感冒風寒，畏寒作顫，此乃內傷心膽也。蓋過恐則膽氣寒，過懼則心氣散，膽寒則精移，心喪則精耗，精移精耗，心膽愈虛，邪乃易入也。治宜急救膽氣，膽不寒，心亦不喪，協力同心，祛邪自易耳。倘徒用祛邪，則心膽之氣愈耗，邪豈肯輕出乎。加減小小柴胡湯甚效。</p>
<p>人有怔忡善忘，口淡舌燥，多汗發熱，四肢厥軟，小便白濁，脈虛大而數，此乃思慮過度所致也。蓋心本君火也，相火膻中火也，膻中、手厥陰經主熱，古以厥陽名，以其火不可遏也。越人云：憂愁思慮則傷心。心氣傷，心血自耗而心火不寧，心包火必不安，故有多汗、發熱諸症矣。治宜補心氣，滋腎水，使水上濟心，火無亢炎也。倘徒用寒涼，則心氣益虛，激動焦焚之害，豈有底乎。坎離兩補湯甚效。</p>
<p>人有動多氣惱，遂致感觸風邪，身熱胸脅脹，此乃內傷肝經也。蓋肝性急，氣惱則肝葉開張，氣愈急而不能順而逆作，逆則氣不得舒而脹，氣既不舒，血亦不暢，氣既不順，血亦不能藏，木鬱欲泄，木乃生火，火鬱欲宣，火乃生風，內外風動火焚，風邪易入也。治宜平肝經之風火，而外之風火亦兼治也。倘徒泄風火，而不顧肝之氣血虛，未及調養，將風火雖散，肝木仍燥，怒氣終不能解，豈盡善哉。風火兩濟湯甚效。</p>
<p>人有懷抱素郁，忽感風寒，身熱咳嗽，吐痰不已，此乃肝氣不舒也。蓋肝木喜條達，憂鬱則肝氣結塞，必生火，故感風寒則風火相合而熱熾，所以作熱，且肝反凌肺，肺必與肝相戰，而肺畏火刑，呼救腎子，咳嗽生矣；胃來援肺，津液上升，又為肝中風火所耗，變痰涎矣。治宜舒肝鬱，則火息而風尤易散也。加味逍遙散甚效。</p>
<p>人有動則大怒，兩脅脹滿，頭痛面熱，胸膈脹痛，此乃肝血損也。蓋肝得血以藏之，則性不急，惟肝血不藏，則肝無血養，而肝氣不舒，遂易怒。是肝氣藏，肝血必外越；肝血藏，肝氣必外疏；肝氣泄，肝血內生；肝血泄，肝氣內郁，二者相反而相成也。易怒者，血欲藏不得藏，氣欲泄不得泄也。治宜補肝血使之藏，平肝氣使之泄也。加味逍遙散甚效。</p>
<p>人有血虛，面無色澤，肌肉焦枯，大腸乾燥，怔忡健忘，飲食少思，羸弱不堪，夜熱無汗，此乃肝燥生火也。蓋肝屬木，木中火盛，每自焚。然肝生火，由於腎水不足，木無水潤，則木變為火，非失血吐於內，即耗血燥於外也。治宜補腎水，以滋肝木耳。滋肝飲甚效。</p>
<p>人有抑鬱不伸，致兩脅脹悶食減，顏色沮喪，肢瘦形凋，畏寒熱，此乃肝氣不足、下克脾胃也。蓋肝木喜飛揚，一遇風寒憂愁，便鬱而不伸，上不生心，乃下侮脾胃而飲食難化，何能分灌臟腑也。治宜舒肝鬱而補脾胃也，順適湯甚效。</p>
<p>人有胸前飽悶，時不消化，吐痰不已，時溏泄，肚腹疼脹，空則雷鳴，唇舌焦乾，毛髮乾聳，面黃而黑，短氣難續，便如黑汁，痰似綠涕，此乃肝勞傳脾也。蓋肝癆傳脾，本為不救，但胃氣未絕，尚有生機。治宜助胃氣，胃氣健，則脾有援也。二白散甚效。</p>
<p>人為僧尼、寡婦、未字女、久離妾，有欲不遂，內火爍干陰水，致血枯經斷，潮熱夜熱，盜汗鬼交，飲食少思，體倦肌削，面黑，此乃肝血癆瘵也。蓋肝藏血，肝火動則血不能藏而泄，屢動屢泄，血安得不枯。此似宜泄肝火，然可暫泄以止炎，不可頻泄以損肝也。治宜補腎滋肝，兼開鬱也。消欲湯效。</p>
<p>人有不食則飢，食又飽悶，吞酸溏泄，面色萎黃，吐痰不已，此乃脾氣損也。蓋脾為胃行傳化，胃氣全藉脾氣運動，胃化其精微，不特脾益，各臟腑皆受益矣。今脾氣傷，不能代胃行其傳化，不特胃氣無主，脾不得胃氣之化，則脾亦損，至脾胃損，何能分津液以注臟腑也。治宜大健胃，兼補脾也。益脾湯甚效。</p>
<p>人有飲食太過，以致食不能化，胸中飽悶，久成痞滿，似塊瘕非塊瘕，惡食，每飯不飽，面黃體瘦，此乃脾衰不化也。蓋胃強則未食多思，脾弱則已食難受。人恃胃強，不論精粗生冷，未免損胃，而胃傷未有脾不傷者。但腎火旺，則胃雖傷脾不能傷，蓋腎火生脾而心包火生胃也。此乃脾衰，治宜補心包、命門火也。助火生土湯效。</p>
<p>人有終日貪臥，致風寒襲之，頭痛背疼，發熱惡寒，此乃內傷脾氣也。蓋脾主四肢，四肢倦怠欲睡，脾不能運動也；略睡，亦足以養脾氣；惟久於睡臥，則脾氣不醒，轉足傷氣。因氣虛而思睡，後因睡而傷氣則為虛，虛安得不招外風乎。治宜補脾以益氣也，補中益氣湯效。</p>
<p>人有色白神法，秋間發熱，熱熾頭痛，吐泄少食，兩目喜閉不開，喉啞，昏昧不省，粥飲俱礙，手常捫著陰囊，此乃勞倦傷脾也。蓋人本陽和，身勞則陽和之氣變為邪熱，不必風襲而身始熱；諸陽皆會於頭，陽虛則清氣不升、邪熱乘之作頭痛，不必外風犯之而作頭痛；清濁拂亂，安得不吐泄；人身之脈皆屬於目，眼眶脾之所主，脾傷不能養目，所以閉不欲開；脾絡連舌本、散布舌下，脾傷則舌絡失養，此言語所以難也；喉雖通於肺，然脾虛肺氣先絕，肺虛難司出入，故致啞；脾虛無氣以輸四臟，故心之神明亦為之昏瞀也；陰囊屬肝，脾虛肝欲侵之，故風火動而頻按其囊也。治宜大健其脾，斯風邪自消也。補中益氣湯效。</p>
<p>人有忍飢腹空，遇天氣時寒時熱，致胸膈悶塞，如結胸狀，此乃內傷胃氣也。蓋胃為水穀之海，多氣多血，然必受水穀，氣血始旺。今忍飢則胃無水穀，而胃火沸騰，乃遏抑不舒，則胃氣消，故天時不正之氣乘虛而入，盤踞胃中，因致悶塞。治宜助胃則邪自退也，倘拘於寒熱，用熱祛寒，用寒祛熱，則胃氣虛而寒熱相戰，胃何能堪也。加味四君子湯效。</p>
<p>人有貪用飲食，甚至難化之物、過寒之味，胸膈飽悶，已而疼痛，後至起噯吞酸，見美味生嗔，供苾芬意憎，此乃胃氣損也。蓋脾胃相為表裡，然能入不能出者，脾氣衰；能出不能入者，胃氣乏。雖胃傷必損脾，脾傷必損胃，要必辨其何經，使損者多獲其益，則胃易開，脾易健。脾虛腎火寒，胃虛心火冷，故補脾必補腎火，補胃必補心火。今惡食乃不能食，非不能受，明是胃虛也。治宜補心火，則胃氣自開也。加味六君子湯效。</p>
<p>人有貪飲成酒積，脾氣損傷，五更作泄，久之飲食少思，多嘔吐、盜汗，此乃脾胃虧也。蓋酒從胃入，宜傷胃，但脾受之；脾惡濕，酒性正濕，乃移於腎；腎雖水臟，藏精不藏濕，酒氣熏蒸，腎受酒毒，仍傳於脾；脾又不受，遂傳大腸而出，大腸惡酒濕，而遄發下泄甚多，亡陰也。治宜先戒酒，後解酒毒，仍健脾益胃也。消酒湯甚效。</p>
<p>小兒多食瓜果、肥甘成疳，身黃瘦，毛豎膚焦，此乃脾胃虛也。蓋小兒脾胃本嬌，恣食果物肥甘以傷之，臟腑之氣不能運化，勢必積滯而成疳、成癆也。治宜補脾胃氣也，倘徒泄火降痰、消食殺蟲，反損真元，必致危殆矣。加味六君子湯效。如蟲疳，椒梅理中湯效。</p>
<p>人有憂思不已，加飲食失節，脾胃有傷，面黑環唇，尤甚如飢而見食則惡，氣短促，此乃陰陽相逆也。蓋心肺居上焦，行營衛，而光澤於外；肝腎居下焦，養筋骨，而強壯於內；脾胃居中焦，運化精微，以灌注四臟，脾胃傷，四臟無所取資則俱病矣。今憂思不已則脾胃氣結，飲食不節則脾胃氣損，必致陰氣上溢於陽中，而黑色遂著於面矣；而脾氣通於口，而華於唇，今腎侮土，故黑色著於唇，非陰陽相反而成逆乎，是脾胃陰陽之氣虛。治宜急救中土也。和順湯甚效。</p>
<p>人有多食肥甘，積久不化，偶遇風邪，便覺氣塞不通，此乃傷食，因而外感也。蓋胃強則土能生金，肺氣必旺。食本助胃，而多食則反傷胃，胃氣虛肺亦必虛，肺主皮毛，不能外衛，無怪風寒易襲也。治宜內消食而外逐邪，又不傷胃，若徒治外感，則非也。</p>
<p>人有傷感冒風寒，咳嗽而臥不安，此乃內傷於腎也。蓋腎為肺子，腎泄過多必取給於母，然腎虛肺亦必虛，肺氣不能充於皮毛，故邪易入。要知腎虛感邪，最難愈，以散邪藥不能直入腎經，然邪不遽於腎仍在肺，散肺邪仍補腎氣，腎得益，肺又無損，斯善於散邪也。治宜補腎更補肺，使子母兩旺則反邪自遁矣。倘徒用散邪，則肺氣益虛，腎又取資，將內外盜肺氣，是肺氣太傷，不惟不生腎，且反耗腎，遂至成為癆瘵矣。金水兩滋湯效。</p>
<p>人有終日思慮憂愁，面黃體瘦，忽感風寒，此乃內傷脾腎也。蓋脾胃為後天，腎為先天，最不宜病，亦最易病。天下無不思不愁之人，但過於思慮，則胃氣不升，脾氣不降，食積不化，何能生津液以灌諸臟；且思慮傷脾，憂愁傷腎，腎傷則水不灌肝，肝無以養，仍克脾胃，憂思相合，脾腎兩傷，外邪尤易深入也。治宜脾腎並補，但須補土無妨水，補水無礙土耳。脾腎兩益丹效。</p>
<p>人有飢飽勞役，損其津液，口渴舌乾，又感風寒，頭痛發熱，此為內傷於陰也。蓋人身血足，津液自潤；血傷，津液自少；血少，皮膚無養，毛竅空虛，故風寒易入。然風入皮膚，不能驟進經絡，以陰虛陽未衰也，陽與邪戰而發熱，故頭痛。治當補其陰血，少佐祛風也。倘用攻於補陽之中，則陽旺陰消，邪轉熾矣。養陰辟邪丹效。</p>
<p>人有氣虛者，氣息短促不足以息，迥殊勞役氣急促者，懶於言語，飲食無味，體倦，此乃陽虛下陷也。蓋人身之氣，陽升陰降，陽氣主升，何以降？由於內傷元氣也。元氣藏關元中，上通肺，下通腎，元氣不傷，腎中真陽自升肺，肺氣始旺，得行清肅，分布臟腑。若元氣一傷，不特真陽不能升，且下陷至陰中而發熱，此乃虛熱，非實熱也。是宜甘溫以退虛熱，然非用升發以提下陷之陽，則陽沉於陰，氣不能舉，雖補氣無益也。治宜於補中提氣也，加味補中益氣湯。</p>
<p>人有任情房戰，初則鼓勇，不輕泄精，久則陽衰，而易走泄，後乃頻舉頻泄，而骨軟筋麻，飲食少而畏寒，此乃腎中水火兩衰也。蓋腎中無火，水不生，無水，火難養，久戰不泄，命門火旺也；頻泄者，水去火亦去也；過於泄精，乃腎火不能藏也。火不藏，水始泄，泄精不多，正腎火不太動也；火動極，水泄極，泄極，火無以養水，火更易動，腎之損可知矣。治宜大補腎水，不可遽補火也。六味地黃湯效。</p>
<p>人有夜臥常驚，或多恐怖，心煩不安，氣吸吸欲盡浮，夢時作，盜汗不已，食不知味，口內生瘡，胸中煩熱，無力思眠，唇如朱塗，顴如脂抹，手足心熱，液燥津干，此乃腎傳心，心初受病也。蓋心主寧靜，邪不可侵，邪侵則神必外越。腎勞生蟲，豈蟲亦傳心，腎氣無日不交，腎中蟲氣烏得不上交，蟲氣交心，心受其損矣。治宜仍在腎，必須殺蟲，則心能救也。起瘵至神湯效。</p>
<p>人有陰虛火動，夜熱如火，五更身涼，汗時有時無，骨髓蒸炎，飲食漸少，痰如白沫，此乃腎水不能制火也。蓋腎中水火必須兩平，火有餘水不足也，惟水足制火，則腎既不熱，骨髓內又何致熱也；骨中熱，骨外安得不熱，骨中髓熱必耗骨外血，骨外血熱必爍骨中髓矣。治宜補腎水，且涼骨髓，以消骨外血熱也。涼髓丹甚效。</p>
<p>人有恣欲傷精，兩腿痠疼，腰背拘急，足弱遺精，陰汗神倦，飲食減少，耳如聽風雨聲，此乃傷腎而癆瘵初起也。蓋房勞傷腎，勢便成癆，成癆必失血，因而吐痰咳嗽，夜熱盜汗，畏寒畏熱，似瘧非瘧，飲食不思，食亦不化，見色動意，思色降精，鬼交夢遺，於是寒熱不已，骨髓中生癆蟲矣。治宜補真陰，固腎氣，加殺蟲也。救瘵湯甚效。</p>
<p>人有小便中溺砂石，其色不一，堅實如石，投熱湯中不能即化，又或閉塞溺孔中不下，溺時疼痛欲死，用盡力溺始出，日稀夜數，此乃腎火煎熬也。蓋腎火盛由於腎水衰，凡入房必泄精，精泄水虧矣，水虧後火未能遽息；加之行役勞筋骨，鴉片提真陽，火且大動，此腎火乃虛火；又或沐浴涉水，外水乘腎氣虛，直入遏火，火不能外散，反閉守腎宮，自熬腎水，腎水本至陰水，猶如海水，海水得火可成鹽塊，腎水得火必成石淋，但腎原有水火，而外水淡，腎水咸，腎火喜咸畏淡，一遇淡水，腎火遂結不伸，乃行於膀胱，煎熬鹹水成石。治宜通腎氣，利膀胱。膀胱利，腎火亦解，腎火解，砂石自化。化石湯甚效。</p>
<p>人有多言傷氣，咳嗽吐痰，久則氣怯，短氣嗜臥，不思飲食，骨節拘急痠疼，夢遺滑精，潮熱汗出，腳膝無力，此乃傷乎氣也。蓋肺主氣，傷氣傷肺也，肺傷則金不生水，腎無化源，何以滋養臟腑乎？此肺所以生熱也；肺熱而清肅之令不行，斯膀胱之氣不化，脾胃亦失運化之機，而土虧金益弱，金弱水亦虛，水難養肝則木燥，水不濟心則火炎，木燥侮土，火炎克肺，欲氣之旺可得乎；氣衰則不能攝精，精涸不能收汗，汗出不能生力，故以前諸症所由作也。治宜補肺，兼補脾胃也。益肺丹甚效。</p>
<p>人有入房縱欲，不知葆澀，形體瘦削，面色萎黃，足軟膝細腿搖，皮聚毛落，不能任勞，難起床蓐，盜汗淋漓，此乃因於損精也。蓋陰精足者，其人必壽。治宜填精補髓也。然泄精既多，不特傷腎，且傷脾，脾傷而胃亦必傷，是填精藥須合三經同治也。開胃填精湯甚效。</p>
<p>人有勞倦中暑，服香薷飲，反虛火上炎，面赤身熱，六脈洪數無力，此乃內傷中氣也。蓋人正氣足，暑邪不能犯，今暑氣侵，皆氣虛招之也。夏月伏陰在內，重寒相合，反激虛火上炎，此陰盛格陽之證也。治宜補陽以退陰，但驟用陽藥入至陰，必扞格不入，惟熱因寒用為妙也。順陰湯甚效。</p>
<p>人有素虛，忽感風寒，遍身淫淫循行如蟲，或從左腳腿起，漸上至頭，下行至腳，自覺身癢有聲，此乃內傷氣不足也。蓋人氣行則血行，惟氣血俱虛，身欲作汗，邪又留而不去，兩相爭鬥，拂抑其經絡，皮血作癢，不啻如蟲之行，非真有蟲也。傷寒汗多亡陽，亦有蟲行證，傷寒本外感，至亡陽變為內傷矣。今非傷寒而現蟲行證，非內傷而何。治宜大補氣血也，加味補中益氣湯妙。</p>
<p>人有日夜呼盧鬥貝，筋骨痛，足重腹飢，致冒風邪，遍身痛，發寒熱，此乃內傷氣血也。蓋呼盧則液干，鬥貝則神瘁，損傷氣血尤甚，必至敗壞臟腑也。治宜大補氣血，而少加和解也，倘徒治外感，則正益虛，邪益旺，定成勞瘵矣。加減十全大補湯效。</p>
<p>人有行役，勞苦不休，致筋拳不伸，縮不弛，臥床呻吟，身疼痛，肢痠麻，此乃損筋也。蓋筋屬肝，損筋損肝也。然腎足則肝旺，腎虛則肝衰，肝得腎滋，枝葉條達，筋自潤矣。但心亦取給於腎，而盜泄於肝也。治宜心、肝、腎三經同補也。養筋湯甚效。</p>
<p>人有久立腿痠，立而行房，足必無力，久之面黃體瘦，口臭肢熱，盜汗骨蒸，此乃傷其骨也。蓋骨全賴乎髓，無髓則骨空，而傷骨亦能耗髓，立而行房，骨與髓兩傷矣。然髓足者，精必足，腎水涸而精少，不能化髓，故骨空也。治宜填精以充髓也，倘用寒藥補腎，熱藥助陽，愈熬津液，必成癆瘵矣。充髓丹甚效。</p>
<p>人有好勇，或赤身不顧，血流不知，致風入皮膚，發寒熱，頭疼脅痛，此乃內傷筋骨也。蓋筋屬肝，骨屬腎，肝足筋舒，腎滿骨健，是筋骨必得髓血之充。人至鬥毆必怒，怒則肝葉開張，血多不藏而太耗，肝血耗必取給於腎，腎水供肝，木火內焚，又易乾燥，腎滋肝不足，又何能充潤於髓，血髓兩虧，筋安能舒，骨安能健，則風邪乘虛易入矣。治宜補其血髓也。加味四物湯效。</p>

<h2>內傷傳屍勞瘵證治</h2>
<p>夫傳屍勞者，男子自腎傳心，心而肺，肺而肝脾；女子自心傳肺，肺而肝，肝而脾，脾而腎，五臟復傳六腑而死矣。雖有諸候，其實不離乎心陽、腎陰也。若明陰陽用藥，可以起死回生。</p>
<p>《黃遊論》曰：傳屍之候，先從腎起，初受之，兩脛痠疼，腰背拘急，行立腳弱，飲食減少，兩耳颼颼直似風聲，夜臥遺泄，陰汗痿弱；腎既受傷，次傳於心，夜臥心驚恐怖，心懸懸，氣吸吸欲盡，夢見先亡，有時盜汗，飲食無味，口內生瘡，心氣煩熱，惟欲眠臥，朝輕夕重，兩顴、口唇悉皆紋赤，有時手足五心煩熱；心受已，次傳於肺，咳嗽上氣，喘臥並甚，鼻中乾燥，不聞香臭，如或忽聞，惟覺臭腐，有時噁心欲吐，肌膚枯燥，時復疼痛，或似蟲行，干皮細起，狀如麩中；肺受已，次傳於肝，兩目䀮䀮，面無血色，常欲皺眉，視不能遠，目常乾澀，又時赤痛，或復睛黃，常欲閤眼，及時睡臥不著；肝受已，次傳於脾，兩脅虛脹雷鳴，唇口焦乾，或生瘡腫，毛髮乾聳，或時上氣，撐肩喘息，利赤黑汗，見此證者，乃不治也。</p>
<p>《紫庭方》云：傳屍、伏屍皆有蟲，須用乳香薰病人之手。乃仰手掌以帛覆其上，熏良久，手背上出毛長寸許，白而黃者，可治；紅者，甚難；青黑者，即死。若熏良久無毛者，即非其證，屬尋常虛勞也。又法：燒安息香，令煙出，病人吸之，嗽不止，乃傳屍也；不嗽，非也。</p>
<p>按：內傷勞損之病，因於酒色者固多，而因於思慮憂悶鬱結者，亦不少，治之原未可或誤也。如酒傷肺，則濕熱熏蒸，肺陰消爍；色欲傷腎，則精室空虛，相火無制；思慮傷心，則血耗而火亦上炎；勞倦傷脾，則熱生而內伐真陰；惟忿怒傷肝者，一為鬱怒，則肝火內熾而灼血，一為暴怒，則肝火上升而逼血。《道經》云：涕唾津精血汗液，七般靈物皆屬陰。陰火內熱，而勞瘵成矣。</p>
<p>其為病也，在腎，則為腰脊腿痠或攸隱而痛，為骨蒸盜汗或至夜發熱，為遍身骨痠或疼痛如折，為夢遺泄精，為耳中鳴、足心熱；在心，則為驚悸怔忡，為掌中灼熱或魘夢不寧，為口苦舌乾或口舌糜爛；在肺，則為痰嗽乾咳，為氣逆喘促，為鼻中燥熱，為顴紅吐衄，甚則吐涎白沫，側眠咽痛，音啞聲嘶；在肝，則為寒熱如瘧，為頭項瘰癧，為脅脹肋痛，為兩目澀痛，為頭暈眼花，為多怒，為吐血；在脾，則為食減不化或噁心嘔吐，為腹滿腹痛，為腸鳴泄瀉，肌膚消瘦，此皆五臟虛勞之本症。</p>
<p>經曰：治病必求其本。須審因何而損，何臟受傷。如因於色者，則知腎傷，縱有他經現症，亦當補腎為主，而兼治他證；因於酒者，必當清肺為主，此為正治。然又當明其傳變，如腎傳心，心傳肺，肺傳肝，肝傳脾，脾再傳腎，此傳其所勝之臟，侮而乘之，謂之賊克，大凶之兆。經曰：諸病以次相傳者死。謂五臟以次相傳，則克遍也。《難經》曰：七傳者死。謂如病始於腎，而脾復傳腎，是謂六傳已盡，不可再傳也。又如腎病不傳心而傳肺，此間一臟而傳於生我之母，以母子氣通也。如腎病不傳心、肺而傳肝，此間二臟而傳於己生之子，以母及子也。如腎病不傳心、肺、肝而傳脾，此間三臟而傳己所不勝之臟，經所謂輕而侮之也。傳乘不明，豈能療病。</p>
<p>虛勞一證，方書皆以血虛、氣虛、陰虛、陽虛混同論治，而不知偏於陰虛者居多。夫氣虛者，面白無神，言語輕微，四肢無力，脈來微弱；陽虛者，體冷畏寒，手足逆冷，溲清便溏，脈沉小遲，惟能服參、耆溫補，乃為受補，可治也。而其陰虛之誤，治者可詳而指之。</p>
<p>一在乎誤認陽虛。命門之火，龍火也，亦謂真陽，如果腎中陰盛，龍火不得安其位，而為上焦假熱，面赤煩躁，口雖渴而不欲飲，足冷過膝，小便清長，右尺脈沉小而遲，或浮大無根，此陰盛逼陽之假證，宜用八味之屬冰冷與服，以引火歸源也。至若虛勞之症，是因腎水真陰虛極，水不濟火，火因上炎，而致面赤唇紅，口鼻出血，齒痛齒衄，雖亦龍火上炎，與虛陽上浮不同，縱有下部虛寒足冷，要因虛火上升所致，非真陽衰而然，故其小便必黃赤，其脈必帶數，有內熱的證可據，設用引火歸源之法，是抱薪救火，上焦愈熱，而咳喘燥渴益甚、咽痛喉爛，諸症至矣。</p>
<p>一在乎誤認中寒。腹痛之屬於虛寒者，水穀不化而澄徹清冷，必有寒虛之脈可憑。今人一見腹脹腹痛、食不消化、腸鳴泄瀉等症，便誤認為虛寒，而投理中溫燥之劑，再補其陽，則陽益亢而陰亦竭矣。更有見其脹滿泄瀉，遂引經文「清氣在下，則生飧泄；濁氣在上，則生䐜脹」，而用補中益氣，反提陰氣上逆，以致咳喘頻增，吐衄交至而立見危亡也。</p>
<p>一在乎誤認外感。世之真陰虛而發熱，十之六七亦與外感無異，火逆衝上則頭微脹痛，火熱壅肺則時亦鼻塞，陰虛陽陷入里則灑淅惡寒，陰虛陽無所附，則浮越肌表而熱，但其發時，必在午後，先灑淅惡寒，少頃發熱，至寅卯時微汗而熱退，或無惡寒，而午後發熱，必現腎虛之證，或兼唇紅顴赤，口渴煩躁，六脈極數，或虛數無力。此宜大劑滋陰，若誤作外感表之，則魄汗淋漓，諸虛蜂起。有失血之人，表亦無汗，經所謂奪血者無汗也，再強發之，必然吐衄，為下厥上竭之證，此尤人多孟浪者也。</p>
<p>一在乎誤用苦寒瀉火。實火為病，可以直折；虛火為病，非寒可清，非惟不能清熱，抑且敗其胃氣，食少泄多，將何以救。甚者見其燥結，妄用硝、黃，不知腎主二便，腎主五液，腎液既虧，自不濡潤，滋其陰，潤其燥，而使自通。彼既虧之陰，豈能勝硝、黃之攻伐乎。</p>
<p>一在乎誤用二陳攻痰。痰在脾經，為濕痰，滑而易出；若稀如清水，為痰飲。濕者燥之，半夏自為正治。若陰水不足，肺受火傷，津液凝濁，不生血而生痰，此當潤肺滋陰，使上逆之火得反其宅，痰自消矣。二陳之燥，立見其殆。</p>
<p>一在乎誤用參、耆助火。凡虛勞之可用參、耆者，肺必無熱也，肺脈按之而虛，必不見數，故有土旺生金、勿拘拘於保肺之說。若其火已爍金而發咳，火蒸津液而為濃痰，君相亢甚，而血隨上逆矣。猶引陽生陰長、虛火可補之言，漫用參、耆，因之陽火愈旺，金益受傷，所以好古有肺熱還傷肺、節齋有服參必死之叮嚀也。至於血脫者，益氣而用之，則又不在此例矣。</p>
<p>此內傷虛損之所為難治也，醫可不細審而明辨之哉。</p>
<p>按：孫真人云補脾不如補腎，許學士云補腎不如補脾，兩先生深知二臟為生人之本，而有相贊之功，故其說似背，而其旨實同也。救腎者，必本於陰血。血主濡之，血屬陰，主下降，虛則上升，當斂而抑也。理脾者，必本乎陽氣。氣主煦之，氣屬陽，主上升，虛則下陷，當升而舉之。是內傷虛損之治，補腎、健脾，法當並行。經曰：腎者主水，受五臟六腑之精而藏之。精藏於此，氣化於此，精即陰中之水也，氣即陰中之火也，故命門之水火，為十二經之化源。火不畏其衰，水則畏其少，所以保陰、六味、左歸之屬，皆甘寒滋水添精之品，補陰以配陽，正王太僕所謂壯水之主以制陽光、朱丹溪所謂滋其陰則火自降也。則可知因於色者，固當補腎矣。而因於酒者，清金潤燥為宜，而保陰之屬仍不可廢，蓋補北方正所以瀉南方而救肺也。因於思慮者，清心養血為宜，而佐以保陰，所謂壯水而火熄、勿亟亟於清心是也。因於勞倦者，培補脾陰為宜，而佐以保陰，經曰：有所遠行勞倦，逢火熱而渴，渴則陽氣內伐，熱舍於腎。故知勞倦傷脾，內熱者必及於腎也。若忿怒傷肝、動血，保陰、六味丸為正治。蓋水旺則龍火不炎，雷火亦不發，乃肝腎同治之法。而脾胃為後天根本，經曰安穀則昌。蓋精生於穀，飲食多，自能生血化精，雖有邪熱，藥得以制之，久則火自降而陰自復也。若脾胃一弱，則飲食少而血不生，陰不能以配陽，必五臟齊損。故越人歸重脾胃，而言：一損損於肺，皮聚而毛落；二損損於心，血脈不能榮養臟腑；三損損於脾，飲食不為肌膚；四損損於肝，筋緩不能自收持；五損損於腎，骨痿不能起於床。從上而下者，過於腎則不治，至骨痿不能起於床者死；從下而上者，過於脾則不治，至皮聚而毛落者死。所以仲景治虛勞惟用甘藥，建立中氣，以生血化精，一遵精不足者補之以味之旨也。味，非獨藥也。補以味而節其勞，則精貯漸富，大命不傾。而經云：陰陽形氣俱不足者，補之以甘藥。故中氣不足者，非甘藥不可。況土強則金旺，金旺則水充。又男子以脾胃為生身之本，女子以心脾為立命之根，故治虛損，當以調養脾胃為主耳。然以甘寒補腎不利於脾，辛溫扶脾愈妨於腎，貴宜於補腎之中不脫扶脾，補脾之中不忘滋腎，斯為善也。要以兩者並衡，而較重脾土，以脾土上交於心、下交於腎故也。若或腎火虛而勢危困者，則於補水之中再補其火，則不獨腎家之水火相濟，而補脾之功亦寓於中矣。是在人之神而明之已耳。予嘗深為《內經》精不足者補之以味與陰陽形氣俱不足者調以甘藥之旨，酌取甘而不寒、溫而不燥諸品，合成方劑，用治虛損，漬漸與服，頗多濟益也矣。</p>
<p>按：內傷勞損，病之至劇至危者也。自《內經》、《難經》明其根源，脈證治法賴仲景《金匱》闡發其義，始得以窺其微妙。至東垣主於補中益氣，丹溪主於滋陰降火，究亦舉一節以立言，非以概其全體也。迨後喻嘉言深體《金匱》之旨，誠得治虛損之良法耳。而薛立齋、張景岳、李士材諸公，又何嘗非遵內典以著論施治也。近世醫流，未能融會貫通，往往膠柱鼓瑟，物而不化。予嘗見其治虛損也，每執乎滋陰降火，而奉知柏、四物為神丹，不知丹溪所以用之者，為救其偏於扶陽之弊也。彼不嘗用人參斤許以為治療乎，其全書原自可考焉。抑又有重用地黃為滋陰補腎者，不知此惟景岳用之，但彼多有人參以相斡旋，藉以固其元氣而鼓舞藥力，不至有泥膈壞胃之愆。今則無參可用，安能重用地黃耶。此皆不善讀書以明其理，何漫以醫任而夭枉人命也哉。然而補陽，則又未可苟矣。古方用桂、附以補命門之真陽，若虛損而至失血，則辛熱之藥大非所宜。故嘉言深契《金匱》建中之義，惟在補脾中之陽氣，而謂桂、附之用，恐已虧之血無能制其悍，而未動之血不可滋之擾也。試深繹其言，惟用稼穡作甘之本味，而酸鹹辛苦，在所不用，舍是別無良法。則可知勞損而不失血，成方有可專施；勞損而至失血，成方未可盡泥也。予所以於乾血勞證，而不存《金匱》之大黃䗪蟲湯、百勞丸，以其過於峻劫，未敢輕用，勿令昧昧者之貽害無窮也。謬為僭削，仁人君子諒有以明其心者矣。</p>

<h1>卷四</h1>

<h2>內傷虛損失血經旨</h2>
<p>經曰：黃帝曰：何謂血？岐伯曰：中焦受氣，取汁，變化而赤。</p>
<p>谷入於胃，脈道乃行；水入於經，其血乃成。</p>
<p>營者，五穀之精氣也，調和於五臟，灑陳於六腑，乃能入於脈也。故循脈上下，貫五臟，經六腑也。</p>
<p>血為營，營於內。目得血而能視，足得血而能步，掌得血而能握，指得血而能攝。</p>
<p>血脫者，色白，夭然不澤。</p>
<p>心主身之血脈。</p>
<p>諸血者，皆生於心。</p>
<p>人臥血歸於肝。</p>
<p>肝藏血。</p>
<p>血有餘則怒，不足則恐。</p>
<p>孫絡外溢，則經有留血。</p>
<p>氣血以升，陰陽相傾，氣亂於衛，血逆於經，氣血離居，一實一虛；血並於陰，氣並於陽，故為驚狂；血並於陽，氣並於陰，故為熱中；血並於上，氣並於下，心惋善怒；血並於下，氣並於上，亂而喜忘。</p>
<p>血氣者，喜溫而惡寒，寒則泣不能流，溫則消而去之。</p>
<p>氣之所併為血虛，血之所併為氣虛。</p>
<p>帝曰：血併為虛，氣併為虛，是無實乎？岐伯曰：有者為實，無者為虛，故氣並則無血，血並則無氣，今血與氣相失，故為虛焉。絡之與孫脈俱輸於經，血與氣並，故為實焉。</p>
<p>血之與氣並走於上，則為大厥，厥則暴死，氣復反則生，不反則死。</p>
<p>血脈和，則精乃居。</p>
<p>營衛者，精氣也；血者，神氣也。故奪血者無汗，奪汗者無血；故人有兩死，而無兩生。</p>
<p>卒然多食飲而腸滿，起居不節，用力過度，則絡脈傷。陽絡傷則血外溢，血外溢則衄血；陰絡傷則血內溢，血內溢則後血。</p>
<p>不遠熱，則熱至血溢，血泄之病生矣。</p>
<p>陽氣者，大怒則形氣絕，而血菀於上，其人薄厥。</p>
<p>怒則氣逆，甚則嘔血及飧泄，故氣上矣。</p>
<p>脾移熱於肝，則為驚衄。</p>
<p>胞移熱於膀胱，則為癃溺血。</p>
<p>脈實血實，脈虛血虛，此其常也，反此者病。</p>
<p>脈盛血少，所謂反也。脈少血多，所謂反也。</p>
<p>谷入多而氣少者得之，有所脫血，濕居下也。</p>
<p>脈小血多者，飲中熱也。</p>
<p>脈大血少者，脈有風氣，水漿不入，此之謂也。</p>
<p>臂多青脈，曰脫血。</p>
<p>安臥脈盛，謂之脫血。</p>
<p>悲哀太甚，則胞絡絕。</p>
<p>陽氣內動，發則心下崩，數溲血也。</p>
<p>腎，足少陰也，是動則病飢不欲食，咳唾則有血。</p>
<p>喝而喘，少陰所謂咳則有血者，陽脈傷也。陽氣走盛於上而脈滿，則咳，故血見於鼻也。</p>
<p>陽明厥逆，喘咳身熱，善驚，衄、嘔血。</p>
<p>陽明司天，咳不止而血出者，死。</p>
<p>結陰者，便血一升，再結二升，三結三升。</p>
<p>婦人之生，有餘於氣，不足於血，以其數脫也。</p>
<p>夫人之常數，太陽常多血少氣，陽明常多氣多血，少陰常多氣少血，太陰常多血少氣，此天之常數也。</p>
<p>月事不來者，胞脈閉也。胞脈屬心，而絡於胞中。今氣上迫肺心，氣不得下通，故月事不來也。</p>
<p>咸走血，血病無多食鹹。陽病發於血，目久視傷血。</p>
<p>苦走血，血病無食苦。凡太陽、太陰、少陽、少陰司天、在泉之年，皆有見血等症。</p>
<p>凡血逆行，難治；順行，易治。無潮熱者，輕；有潮熱者，重；潮盛脈大者，死。</p>
<p>九竅出血，身熱不得臥者，死。</p>
<p>凡血症，陽盛則身熱多渴，陰盛則身涼不渴，身涼易愈。</p>
<p>如心肺血破，血若湧泉，口鼻俱出者，不治。</p>
<p>淫而形脫，身熱，色夭然白，反後下血、⿰血丕血、衄，篤重，是為逆。</p>
<p>血溢上行，或唾、或嘔、或吐，皆凶也。若變而下行，為惡痢者，順也。上行為逆，其治難；下行為順，其治易。故仲景云：蓄血症，下血者，當自愈。若無病之人，忽然下血痢者，其病進。</p>
<p>無故忽然泄下惡血，名曰心絕，為難治。</p>
<p>傷寒太陽症，衄血者，病欲愈；熱結膀胱而血自下者，亦欲愈。</p>
<p>鼻頭黑白者，亡血也。</p>
<p>蓄血，為瘀血積蓄也。血蓄上焦，則善忘；血蓄中焦，胸滿身黃，漱水不欲咽；血蓄下焦，則發狂，糞黑，小腹硬痛；蓄血外症，痰嘔燥渴，昏憒迷忘，常喜湯水漱口。凡病日輕夜重，便是瘀血，發狂，喜漱水而不欲下咽。</p>

<h2>內傷虛損失血脈法</h2>
<p>經云：脈得諸澀濡弱，為亡血。</p>
<p>諸症失血，皆見芤脈。脈貴沉細，浮大難治。</p>
<p>芤為失血，澀為少血。</p>
<p>吐血之脈，必大而芤，大為發熱，芤為失血。</p>
<p>衄血不止，脈大者逆。</p>
<p>脈至而搏，血衄身熱者，死。</p>
<p>腹脹便血，脈大時絕者，死。</p>
<p>若吐衄血，脈當沉細。反浮大而牢者，死；失血而脈實者，難治。</p>
<p>吐衄血，脈滑數者，難治。諸失血症，脈大且數者，殆。</p>
<p>安臥脈盛，謂之脫血。</p>
<p>失血脈數大，為陽盛；澀細，為少血；細數，為陰火鬱於陰中；芤，為失血，血虛氣不歸附也；弦緊脅痛，為瘀結。</p>
<p>諸血皆屬於肝也。脈來寸口大，尺內微，為肺中伏火；尺中盛，則寸口虛大，為腎虛陰火；尺滑而疾，為血虛有熱；右手虛大，為脾胃之火；左手數盛，為肝膽之火。大抵失血，脈微弱細而和緩，易治；洪數實大弦急，或雖小按之如引葛、如循刀，及衄血身熱、脈至而搏，嘔血胸滿引背、脈小而疾者，皆不治。</p>
<p>肺脈搏堅而長，當病少血。</p>
<p>心脈微澀，為血溢；肺脈微急，為寒熱、怠惰、咳嘔血；肺脈微滑，為上下出血；澀甚，為嘔血；肝脈大甚，為內癰，善嘔血；脾脈微澀，為痰，多下膿血；腎脈微澀，為不月。血泄者脈急，血無所行也。秋脈不及，則令人喘，呼吸少氣而咳，上氣見血，下聞病音。</p>
<p>衄而不止，是為逆。</p>
<p>咳且溲血，脫肉，其脈小勁或搏，是為逆。</p>
<p>身熱脈大者，難治；身涼脈靜者，易治。</p>
<p>六脈弦細而澀，按之空虛，其色必白而夭然不澤者，脫血也。</p>

<h2>內傷虛損失血症治</h2>
<p>萬物生成之道，惟陰與陽。人有陰陽，即為血氣。陽主氣，故氣全則神旺；陰主血，故血盛則神強。人之初生，必從精始。血即精之屬也，但精藏於腎，所蘊不多，而血富於沖，所至皆是。蓋其源源而來，生化於心，總統於脾，藏受於肝，宣布於肺，施泄於腎，灌溉一身，無所不及也。是以人有此形，惟賴此血，故血衰則形萎，血敗則形壞，而百骸表裡之屬，凡血虧之處，則必隨所在而各見偏廢之病。倘至血脫，則形何以立，氣何以歸，亡陰亡陽，其危一也。然血化於氣而成於陰，陽虛固不能生血，所以血宜溫而不宜寒；陽亢則最能傷陰，所以血宜靜而不宜動。苟能察其精義，而得養營之道，又何血病之足慮哉。</p>
<p>血本陰精，不宜動也，動則為病。血主營氣，不宜損也，損則為病。蓋動者多由於火，火盛則逼血妄行；損者多由於氣，氣傷則血無以存。故有以七情而傷氣者，有以勞倦色欲而動火者，有以色欲勞倦而傷陰者，或外邪不解而熱鬱於經，或縱飲不節而火動於胃，或中氣虛寒則不能收攝而注陷於下，或陰盛格陽則火不歸源而泛溢於上。是故妄行於上則見於七竅，流注於下則出乎二陰，或壅瘀於經絡則發為癰疽膿血，或鬱結於腸臟則留為血塊血症，或乘風熱則為斑為疹，或滯陰寒則為痛為痹，此皆血病之症也。若七情勞倦不知節，潛消暗爍不知養，生意本虧而耗傷弗覺，則為營氣之羸，形體之弊，此以真陰不足，亦無非血病也。故凡治血者，當察虛實，是固然也。若實中有虛，則於疼痛處，有不宜於攻擊者，此似實非實也。熱中有寒，則於火症中，有速宜溫補者，此似熱非熱也。夫正者正治，誰不得而知之；反者反治，則吾未見有知之者，矧反症甚多，不可置之忽略也。</p>
<p>失血於口者，有咽喉之異。蓋上焦出納之門戶，惟咽與喉為胃之上竅，故由於咽者必出於胃；喉為肺之上竅，故由於喉者必出於肺。而肺總五臟之清道，咽連於胃而實統六腑之濁道，此其出入於肺者。人之病在五臟，而不知出於胃者亦多由於五臟也。何也？《內經》曰：五臟者，皆稟氣於胃，胃者，五臟之本。而五臟之病，獨不及於胃乎？古人云嘔血者出於胃，豈知亦由乎臟也。蓋凡胃火盛而大吐者，此本家之病，無待言也。至若怒則氣逆，甚則嘔血者，亦必出於胃脘，此氣逆在肝，木邪乘胃而然也。又如欲火上炎，甚則嘔血者，亦出於胃脘，此火發源泉，陰邪乘胃而然也。由此觀之，則凡五志之火皆能及胃，但咳而出者，必出於喉，出於喉者，當察五臟；嘔咯而出者，必出於咽，出於咽者，五臟六腑皆能及之。且胃為水穀之海，故為多氣多血之腑，而實為衝任、血海之源。故凡血枯經閉者，當求生血之源，源在胃也；而嘔血、吐血者，當求動血之源，源在臟也。於此不明，濟者鮮矣。</p>
<p>失血一發，頗多咳嗽，生痰上氣，面青少澤，其脈肝部獨傷，原於忿怒之火無疑，合色脈詳諦，總是陰血不足也。夫脈之充也，色之華也，皆氣與血之為也。以脫血，故致令氣亦脫，每每上升，胸膈喘促脹悶，不利於言語、行持。誠欲氣不上升，無過於血日滋長，暗將浮游之氣攝入不息之中，乃為良治。然胸膈肺胃，頑痰膠固，似乎痰不亟除則無生血之法，惟先以微陽藥開其痰，繼以純陰峻投生其血，久久血生而氣反血室，如浪子歸家，轉能興家。所藉以驅膠結之痰者，即此氣也。庶幾痰去氣存，而病自痊耳。然飲食最宜致慎，不特肥甘生痰，厚味傷陰已也。人身自平旦至日中，行陽二十五度，飲食易化；自日中至夜分，行陰二十五度，飲食不消，故易成痰。故賢人常以秋冬養陰，法天地之收藏，況乎血欲不再脫，尤貴退藏於密。而厥陰肝木受病，其憔悴之色見於三時者，猶可諉之；病色至春月發榮之時，更何諉耶。春月之榮，不自春月始也，始於秋冬收藏之固。設冬月水臟所儲者少，春月木即欲發榮，其如泉竭，不足以溉苞稂何。故失此不治，至春病危殆始圖之，則萬無及矣。</p>
<p>人身血為陰，男子不足於陰，故以血為寶。是以失血之症，陰虛多致發熱，面色多致枯黑，肌肉多致消瘦。彼嗜酒之人，飲醇傷胃。胃為水穀之海，多氣多血，平素水穀充養之精華以漸內虧而不外覺也。胃脈從頭至足，本下行也，以嘔血之故，逆而上行，則呼吸之音必至喘急矣。胃之氣傳入大小腸、膀胱等處，亦本下行也，以屢嘔血之故，上逆而不下達，則腸腹之間必致痛悶矣。胃氣上奔，嘔逆橫決，則胸中之氣必亂，至緊逼痛楚，則亂之甚矣。胸中含有限之氣，無處可容，勢必攻入於背，以背為胸之府也。至於肩髃骨空，鑽如刀刺，則入之深矣。故一胃而分三脘，胃中既亂，氣血混矣。胃之上為膈，其心煩多怒者，正《內經》所謂血並於膈之上、氣並於膈之下致然，氣血倒矣。所以《內經》又言：血並於陽，氣並於陰，乃為熱中。病者之嗜飲，為熱積胃中，而或嘔血者，必以醉飽入房而得之。蓋人身氣動則血動，而媾精之時，其血大動。精者血之所化，灌輸原不止胃之一經，獨此一經所動之血，為醉飽之餘所阻，不能與他之血緝續於不息之途，是以開此脫血一竇，而竟成熟路矣。然不惟胃之經也，胃之大絡，貫膈絡肺，不辨其絡，亦孰知膈間緊迸、肺間氣脹痰膠，為胃病之所傳哉。</p>
<p>失血，診其脾脈大而空，腎脈小而亂，肺脈沉而伏，此患在亡陰。經云：暴病非陽，久病非陰。失血數年，其為陽盛、陰虛無疑。況食減而血不生，漸至肌削而血日槁，虛者益虛，盛者益盛。勢必陰火大熾，上炎而傷肺金，咳嗽生痰，清肅下行之令盡壅，由是腎水無母氣以生，不足以蔭養百骸，肢體瘦損，每申酉時灑淅惡寒，轉而熱至，天明微汗始退也。</p>
<p>吐血者，營氣溢入濁道，留聚膈間，滿則吐血，名曰內衄。然先哲皆以為熱，其因於寒者理亦有之。何則？寒邪屬陰，營血亦屬陰，風傷衛，寒傷營，各從其類。人果身受寒邪，口傷寒物，即入血分，郁遏內熱，無從發泄，血乃沸騰，在上則從口而出，在下則從便而出。若此者，實病機之所有也。但其血色之黑，與吐血因熱極而反兼水化者相似，茲則宜於脈症間求之。脈微遲而身清涼者，寒也；洪數而身煩熱者，熱也。寒則溫之，熱則清之，治法大不同矣。若吐血發渴者，名為血渴，宜四物湯、十全大補湯。凡古方純用補氣，不入血藥，何也？蓋陽統乎陰，血隨乎氣，有形之血不能速生，無形之氣所當急固也。凡失血後發熱，名曰血虛發熱，古方用當歸補血湯，黃耆一兩，當歸四錢，名為補血，而以黃耆為君，陽旺能生陰血也。</p>
<p>血之來也，雖火以迫之，然此火宜導以歸源，則血亦歸經；切忌寒涼，則反激浮火上逆，且傷胃氣，脾愈不能統血矣。更宜養肝，使肝平而血有所歸；切忌伐肝，蓋肝為將軍之官而主藏血，吐血者肝失其職也，若再伐之則無力攝血收藏，而血愈不止也。更宜行血不宜止血，蓋吐血者氣逆上壅而血不行，經絡行血則血循經，不止自止耳。若勉強止之，則瘀血凝滯，胸脅脹滿，發熱惡食，反成痼疾。況血生化於脾，而脾又統血，倘不調理脾胃為主，而概用四物純陰傷胃，徒增其病矣。故失血諸症，每以胃藥收功。</p>
<p>褚氏云：血雖陰而運藥之其陽和乎。觀時珍發明藥性，謂童便性溫不寒，飲之入胃，隨脾之氣上歸於肺，下運水道而入膀胱，乃其舊路，故能治肺病，引火下行；其味鹹而走血，故治血病。但當乘熱即飲，則真氣尚存，其行自速，冷則惟有鹹寒之性而已。彼用苦寒以為滋陰降火者，曷弗思之甚也。</p>
<p>凡治血症，前後調理，須按三經用藥，以心主血、脾統血、肝藏血，而歸脾湯一方，三經之主劑也。遠志、棗仁，補肝以生心火；茯神、龍眼，補心以生脾土；參、耆、朮、草，補脾以固肺氣；木香者，香先入脾，總欲使血歸於脾，故以歸脾湯名。有郁傷脾、思慮傷脾者，尤宜。火旺者，加山梔、丹皮；火衰者，加丹皮、肉桂。又有八味丸，以培先天之根。治無餘法矣。</p>
<p>夫血病而用血藥，亦必兼氣藥為主。經曰：無陽則陰無以生血。血脫者益氣，為血不自生，必得陽和之藥乃生，陽生則陰長也。若單用血藥，血無由而生，反有傷犯中州之患矣。東垣云：人參甘溫，補肺氣。肺氣旺，則四臟之氣皆旺，精自生而形自盛也。自王好古、節齋之論出，而天下皆以人參為虛勞毒藥，殊不知肺家本有火，右脈必大而有力，東垣所謂鬱熱在肺者，誠當勿用；若肺虛而虛火乘之，肺已被病，非人參何以救之。古方治肺寒以溫肺湯，肺熱以清肺湯，中滿以分消湯，血虛以養營湯，皆用人參。自《內經》以至諸賢，諄諄言之以氣藥有生血之功，血藥無益氣之理，可謂深切著明，人亦奈何不察耶。</p>
<p>虛損吐血，傷其陰也，故或吐或衄，所不能免。但其火盛而載血逆上，其脈症之間，自有熱症可據，急則治標，不得不暫用清涼瀉之。若陰虛而兼微火，則當養血，而不可過用寒涼。若無實火，而全屬傷陰，則陰虛水虧，血由傷動，此宜純甘養陰之品，以靜制動，以和治傷，使陰氣安靜得養，則血自歸經矣。若血而兼嗽者，陰虛連肺也；因勞役而動血者，心脾腎三陰受傷也；若陰虛於下，格陽於上，六脈無根，而大吐大衄者，此火不歸源，真陰失守而然，惟因思慮勞倦過傷者，多有此症也；若因勞倦而素易嘔泄者，多有脾不攝血也。若大吐大衄而六脈細脫，手足厥逆，危在頃刻，而血不止者，速用止血也。若血脫至盛，氣亦隨之，因是厥逆、昏憒者，速當益氣也，倘用寒涼則殆矣。總之，失血必其陰分大傷，使非加意元氣，培養真陰，而或用寒涼，則其陰氣益損，血雖得止而病必日敗矣。</p>
<p>凡失血，無論衄血出於經，咳血出於心，嗽血出於肺，吐血出於胃，咯血出於腎，嘔血出於肝，唾血出於脾，但以色紫黑者，為瘀積，久血；色鮮紅者，為暴寒，新血；色淡青者，為氣虛挾痰，總屬炎火沸騰。故治血，以降火下行為首務，不可驟用酸寒收斂，使瘀積發熱轉增上炎之勢。先用瑞金丹，次用童真丸，引血與火下行最速。若血色甚赤，吐出即凝，剔起成片如柿皮者，此守藏之血因真陰受損而脫，雖能食倍常，必驟脫而死。若吐淡紅，如肉如肺者，謂之咳白血，此肺腎並傷，雖淹歲月，亦終不救也。</p>
<p>《內經》論風寒暑濕燥火六氣之變，皆能失血。若不察其所因，概與寒涼折之，變乃生矣。服寒涼後，症雖大減，脈反加數者，陽郁也，宜升、宜補；倘執迷不省，復用寒涼者，必死而後已。七情妄動，形體疲勞，陽火相迫，致血妄行，脈洪多熱，口乾便澀，宜行涼藥。若使虛氣挾寒，陰陽不相為守，血亦妄動，必有虛冷之狀，所謂陽虛陰必走也。更驗其血之色，必瘀晦不稠，非若火盛迫血妄行之色濃厚紫赤也，宜理中湯加肉桂收攝之。因氣而發者，加香附、烏藥；或飲食傷胃，亦主吐衄，加香附、楂、曲。勞嗽吐血，上熱下寒，四味鹿茸丸選用之。久病虛勞失血，血枯發熱，及女人經閉血竭者，宜四烏賊骨一藘茹丸，或四物換生地，加桃仁、虻蟲，為丸服。吐血成升斗者，花蕊石散，然必陽虛不能制、陰氣暴逆者為宜；若氣虛、血隨火湧者，誤用必殆，宜十灰散。若胃脘蓄血者，吐血多而久不止者，並宜獨參湯主之。氣虛有熱，保元湯加童便、藕汁，即有血，亦無礙。一切失血，或血虛煩渴，燥熱不寧，五心煩熱，宜聖愈湯。血症既久，古人多以胃藥收功，異功散加丹皮、山藥、澤瀉；咳嗽，更加萎蕤，此虛家神劑也。</p>
<p>凡治血症，須知其要，而動血之由，惟火與氣耳。故察其有火、無火，氣虛、氣實，而得其所以，則治血之法無餘義矣。</p>
<p>凡憂慮過度，損傷心脾，以致吐血、咯血，其症當見氣短、氣怯，形色憔悴，或胸懷鬱怒，食飲無味，或腹雖覺飢而不欲食，神魂驚困而臥不安，若素多勞倦、思慮，或善嘔吐，或常泄瀉而致吐血、下血者，是皆脾虛不能攝血，非火證也。治當培其中氣，切不可用清寒等藥。格陽失血之症，多因色欲勞傷過度，以致真陽失守於陰分，則無根之火浮泛於上，多見上熱下寒，或頰紅面赤，或喘促躁煩，而失血不止，但其六脈細微，四肢厥逆，或小水清利、大便不實者，此格陽虛火證也。治當引火歸源，若用寒涼，陽絕則死矣。凡所吐之血，色黑而黯，必停積失位之血，非由火逼而動也，或面白息微，脈見緩弱，身體清涼者，此必脾腎氣虛不能攝血而然，若用寒涼，必致殆矣。暑氣逼心，火毒刑金，多令人吐衄失血。然暑熱傷心，又能傷氣，證必脈虛氣弱，體倦息微，若但知為熱，而過用寒涼，則氣必愈傷而害斯甚矣。凡血逆上焦，紫黑成塊，或痛或悶，結聚不散者，惟宜行散。大都治血之法，多忌辛散，恐其動血也，惟此留滯之血，不妨用之，或韭汁，亦善行瘀也。吐血不能止者，惟飲童便最妙。或搗側柏葉汁，以童便二分，酒一分，和而飲之，大能止血。</p>
<p>凡鼻口見血，多由陽盛陰虛，二火逼血而妄行也。蓋血隨氣上，有升無降，惟宜補陰抑陽，則火清氣降而血自靜矣。凡火盛逼血妄行者，或上或下，必有火脈、火症可據，乃可以清火為先。若以假火作真火，則害不旋踵矣。凡氣逆於上，則血隨氣亂而錯經妄行，此必有氣逆喘滿，或脅痛脹，或尺寸弦緊等症脈，則當以順氣為先，氣順則血自寧也。其或實中有虛，則消耗斷不可用矣。若火不盛、氣不逆而血動不止者，乃其元氣受損，營氣失守，病在本根而然。經曰：起居不節，用力過度，則絡脈傷，陽絡傷則血外溢，血外溢則吐衄；陰絡傷則血內溢，血內溢則後血。此二言最得損傷失血之源。故凡治損傷，無火、無氣而失血不止者，不宜妄用寒涼以伐生氣，又不宜妄用辛燥以動陽氣。而治此之法，但宜純甘至靜之品培之養之，則營氣自將寧謐，不待治血而自安矣。且今人以勞傷而病者，多屬此症，若不救根本，終致敗亡矣。</p>
<p>失血之症，凡見喘滿咳嗽及左右胸脅間有隱隱脹痛者，病在肺也；若胸膈膻中間覺有牽痛如縷如絲，或懊憹嘈雜，有不可名狀者，病在心主包絡也；若胸腹膨脹，不知飢飽，飲食無味，多嘔沫者，病在脾也；若脅肋牽痛，或躁擾喘急不寧，往來寒熱者，病在肝也；若氣短似喘，聲啞不出，骨蒸盜汗，動氣怔忡者，病在腎也；若大嘔大吐，煩渴頭痛，大熱，不得臥者，病在胃也。於此而察其兼症，則病有不止一臟者，皆可參合以辨之也。</p>
<p>吐血之病，在偶有所傷而根本未搖者，但隨其所傷，宜清則清，宜養則養，隨藥可愈，無足慮也。惟積勞積虛，以致元氣太虛，真陰失守，乃為危證。凡患此者，非加意慎重，而徒恃藥力以求活，則誠難矣。凡成盆無聲為吐；或咯而出血屑，甚咯而出帶紅絲，為咯血。因勞損而氣虛，脈靜或微弦無力，既非火證，又非氣逆而血妄行者，此真陰內損、絡脈受傷而然，惟用甘醇補陰，培養絡脈，俟營氣漸固而血自安也。此證最忌寒涼。吐血、咯血，凡兼口渴咽痛、躁煩喜冷、脈滑便實、小便赤熱等證，此水不濟火、陰虛陽盛而然，治當滋陰壯水，而大忌辛溫也。吐血，全由火盛，逼血上行而根本多傷，宜察其火之微甚而治之。若胃火熱甚而煩渴，頭痛氣壅，或兼便結腹脹者，治當瀉火；若兼陰虛水虧，則宜慎之也。</p>
<p>吐血而傾盆盈碗，或鮮散中兼帶紫黑大塊，吐後不即凝結，蓋血出於胃，以其雜水穀也，皆勞力內傷中氣而得，亦有醉飽接內而致者。治法不可驟止，亦不宜峻攻，只宜清理胃氣以安其血。若血色瘀晦如汙泥，為陽不致陰，宜花蕊石散溫以散之。</p>
<p>吐血初起，脈洪數者，屬外因，須用參蘇飲加當歸、茯苓。蓋茯苓能守五臟真陰，瀉腎中伏火，去脾胃中濕。數劑後，脈數退而洪不退者，用六味地黃加沉香，以納氣歸源。若洪退弱極，用異功散以補脾生肺，慎不可用寒涼耳。</p>
<p>吐血，脈洪大弦長，按之有力，上膈壅熱，胸似滿痛，精神不倦，或血似紫黑塊者，用荊芥、丹皮、當歸、阿膠、酒大黃、桃仁泥之屬，從大便導之。不知此，而用四物湯加芩、連、知、柏行之，使氣血俱傷，脾胃俱敗，百無一生也。</p>
<p>若飲酒過多，傷胃吐血，四君子加香、砂、甘葛。</p>
<p>因食太過、不能消化，煩悶強嘔，因傷胃吐血，腹中絞痛，自汗，其脈緊而數者，難治，枳實理中湯加丹皮、扁豆灰。</p>
<p>勞心太過，吐血不止，歸脾湯去木香，加麥冬、阿膠。有時吐血兩日，隨即無事，數日又發，經年累月不愈者，小烏沉湯送黑神散，不時常服；吐甚不止者，柏葉、乾薑等分，加艾葉少許，入童便服。</p>
<p>暴吐血新止後，用燕窩、冰糖各四錢，同煮服之，五七日，永不發。</p>
<p>吐血發渴，名血渴，十全大補湯、生脈散加乾葛，量胃氣虛實用之。</p>
<p>吐血，脈微細為順，洪大為逆。</p>
<p>血若暴湧如潮，喉中汩汩不止，脈見虛大，此火勢未斂，急以熱童便或藕汁服之；俟半日許，脈勢稍緩，可進調養之藥，倘寸關雖弱，而尺中微弦，為陰虛，須防午後陰火上升，上午宜獨參、保元以統其血，下午與六味丸加童便以濟其陰，服後脈漸調和，飲食漸進，肢體輕爽，面色不赤，足膝不冷，身不灼熱，額無冷汗，溲便如常。雖有紫黑血塊，時欲咯出，而無鮮血上行，尚屬可治；若血雖止而脈大不減，或雖小而弦細數疾，或弦硬不和，勿輕許為可治；亦有他部柔和，而左關尺弦強者，為陰虛火旺，最為危兆。其變有三：一則陰火引血復上而暴脫，一則虛陽發露而發熱，一則火上逼肺而喘咳，此終不救也。</p>
<p>諸失血後，倦怠昏憒，面色憔悴，懶於言語，宜獨參湯加陳皮，所謂脫血益氣也。</p>
<p>失血後頭昏發熱，此虛火上炎、外擾之故，不可誤認外感。</p>
<p>婦人倒行，血溢於上，蒸熱，咳嗽不已，及男子精未完而御女，而成虛勞失血，並宜烏骨雞丸，選順丸選用之。若血色晦淡不鮮，無論上吐下失，但當用溫熱之劑，如甘草、乾薑溫理中氣，切忌寒涼。若至⿰血丕血、血水，則難已矣。血脫用人參益氣以固氣血，惟血色鮮明或略見紫塊者宜之。若見晦淡者，為血寒而不得歸經，須兼炮黑乾薑溫之。尺部脈弦，用生料六味，加肉桂引之。亦有用肉桂為末，和獨參湯服者。</p>
<p>若血色如珠，光亮如漆，吐出即干，以指甲剔之，成片而起者，雖能食不倦，後必暴脫而死。</p>
<p>若血中見似肉似肺，如爛魚腸，此胃中脂膜為邪火所爍，凝結而成。方書咸謂必死，然吐後凝結既去而不發熱，能進飲食，今服小劑異功、保元，大劑六味、都氣，多有得生者，不可盡委之不救也。</p>
<p>嘔血成碗而有聲，怒氣傷肝，動肝火則火載上行，動肝氣則氣逆血奔，所以皆能嘔血。肝火盛者，必有煩熱脈證；肝氣逆者，必有胸脅痛滿等症。但凡肝氣為邪，每多侮土，故常致脾胃受傷及營血失守，而脈虛神困，治宜理其中氣，勿謂始因怒氣而專意伐肝也。然血從腹脅而上，大嘔而出，本肝火內旺，鼓激胃中之血上湧也。而症治猶有三焉。一或暴怒火逆傷肝，其症胸脅痛，甚則厥逆，柴胡疏肝散加酒大黃；亦或極勞奔馳傷肝，其症遍身疼痛，或時發熱，犀角地黃湯加當歸、肉桂、桃仁泥；亦或竭力房勞傷肝，其症面赤足冷，煩躁口渴，生脈散、加減八味丸。</p>
<p>若陽衰不能內守而嘔者，異功散研服八味丸，然不戒房室、思慮、勞役，終不救也。</p>
<p>唾血者，平時津唾中有鮮血，或如絲，或浮散者，此屬思慮傷脾，脾虛不統血也。有兼心、兼胃、兼腎之不同，兼心，加味歸脾湯；兼腎，六味丸加肉桂；兼胃，四君子湯加黃耆、山藥、粟米，名七珍散。食少溲清者，異功散加扁豆灰；胃中痰食不清，吐血，加半夏、生薑，即白扁豆散。</p>
<p>咳血者，因咳嗽而見血，或乾咳，或痰中見紅絲、血點一兩口，氣急喘促，此雖肺體自燥，亦為火逆咳傷血膜，而血隨痰出也。其脈微弱平緩，易治；弦數緊實，氣促、聲嘶、咽痛者，不治。得此症者，若能靜養，庶有生理。治宜清金壯水為主。</p>
<p>咳血，久而成癆，或勞成而咳血，肌肉消瘦，四肢倦怠，五心煩熱，咽乾頰赤，心中潮熱，盜汗減食，異功散加阿膠，或四君子加鱉甲、麥冬、黃耆、五味。</p>
<p>陰虛火動而咳血，或痰中有血星如珠者，生料六味丸加茜草根、烏賊骨、童便。</p>
<p>咳血不止，至夜發熱，吐痰或帶血絲者，六味丸加蛤粉、童便，臨臥服。</p>
<p>咳唾膿血，咳即胸中隱隱痛，脈反滑數或數實者，此為肺癰也。</p>
<p>咯血者，不嗽而喉中咯出小塊或血點是也，其症最重，而其勢甚微，常咯兩三口即止。蓋緣房勞傷腎，陰火載血而上。亦有兼痰而出者，腎虛水泛為痰也。陰虛多火，黑瘦之人最忌犯此。初起宜清手足少陽、厥陰諸經遊散之火，後以六味丸加牛膝，滋補腎陰，以安其血，不可用攻血藥也。滑伯仁曰：咯血，為病最重，以肺金為陰火所制，水虧火旺，逼而上行，逆之甚矣。經謂上氣見血、下聞病音，言喘出於腎而咯出於肺也。宜用生料六味丸加麥冬、五味，下靈砂丹治之。然多有兼於風寒、飲食而發者，若兼風寒，則人迎緊盛或見弦緊，宜黃耆建中湯，不可誤認本病而與前藥，亦不可妄用他藥也。</p>
<p>溲血，經云胞移熱於膀胱則癃濁，可知溺血之由，無不本諸熱者。多欲之人，腎陰虧損，下焦結熱，血隨溺出，脈必洪數無力，治當壯水以制陽光。溺血不止，牛膝一味煎熬，不時服之。有氣虛不能攝血者，玉屑膏最妙，方用人參、黃耆等分，為末，以白萊菔切片，蜜炙，不時蘸食之，豈非虛火宜補、宜緩之意歟。</p>
<p>惟痛屬火盛，謂之血淋；不痛屬虛，謂之溲血，二者不可不辨。溲血，先與導赤散加茯苓，作湯服；若不效，此屬陰虛，五苓散加膠艾，下四味鹿茸丸。</p>
<p>小便自利，後有血數點者，五苓散加桃仁、赤芍。暴病，脈滑實者，大黃、滑石、甘草、延胡索下之。</p>
<p>元氣大虛而挾虛熱，所下如砂而色紅，有如血淋之痛，神砂妙香散加澤瀉。病久滑脫者，去黃耆、山藥、桔梗、木香，加煅飛龍骨、益智仁，即王荊公妙香散。虛寒，以此湯合四味鹿茸丸。</p>
<p>老人溲血，多是陰虛，亦有過服助陽而致者，多難治，惟大劑六味丸加紫菀茸，作湯服。</p>
<p>咳血、溲血，形脫，脈小勁而搏，逆也；溲血日久，形色枯萎，癃閉如淋，二便引痛，喘急虛眩，行步不能者，與死為鄰矣。</p>
<p>下血，血之在身，有陰有陽。陽者，順氣而行，循流脈中，調和五臟，灑陳六腑，如是者謂之營血也；陰者，居於絡脈，專守臟腑，滋養神氣，濡潤筋骨。若是臟感內外之邪，傷，則循經之陽血至其傷處為邪氣所阻，漏泄經外；或居絡之陰血，因蓄留之邪擗裂而出，則皆滲入腸胃而泄矣。</p>
<p>世俗每見下血，率以腸風名之，不知風乃六淫中之一耳。或有風從腸胃、經脈而入客者，或外淫風木之邪內乘於腸胃者，則可謂之腸風。若其他不因風邪，而腸胃受火熱之淫，與寒、燥、濕怫鬱其氣，及飲食不節，用力過度，傷其陰絡之血者，亦謂之腸風可乎。蓋腸風所下之血，清而色鮮，四射如濺，乃風性使然，《素問》所謂久風入中則為腸風飧泄是也。先與瀉青丸一二劑，後與逍遙散加酒煮黃連、羌活、烏梅；虛人，人參胃風散，最提，人所不知。</p>
<p>若肛門射血如線，或點滴不已者，乃五痔之血，當詳本門治之。</p>
<p>血濁而色黯者，為臟毒，蘊積毒氣，久而始見也。宜小烏沉湯下黑神散。脈實便秘，勢盛者，臟連丸。腸風挾濕毒者，下如豆汁，兼紫黑瘀血，此醇酒厚味所釀，由足陽明隨經入胃，淫溢而下也。脈細而有寒者，升陽除濕防風湯；脈數有熱者，去二術，加黃連、當歸、甘草。腸風下血，以劉寄奴草二兩，芽茶一兩，墨灰三粒，為散，分三服，烏梅湯送下。其血止後，宜多服歸脾湯。下血久而不已，面色萎黃，下元虛憊者，四君子加黃耆、歸、芍，下斷紅丸；虛甚，十全大補湯去茯苓，加防風。</p>
<p>潔古云：下血，防風為上使，黃連為中使，地榆為下使。</p>
<p>陰結便血者，厥陰肝血內結，不得陽氣統運，滲入腸間而下，非謂陰寒內結也，補中益氣倍黃耆，加炮姜。</p>
<p>血枯，大便燥結而下鮮紫血者，此大腸燥結而下也，一味槐角膠涼潤之。</p>
<p>又方，真麻油衝入腐花，空腹食之，三日而愈。</p>
<p>腸風便血，一味旱蓮花，濃煎蔥白湯服，立效。</p>
<p>又方，劉寄奴半兩，松蘿茶一錢，烏梅肉一枚，煎服，效。</p>
<p>中蠱，臟腑敗壞，下血如雞肝、如爛肉，心腹絞痛者是也。治用馬藺根末，水服方寸匕匙，即吐出。</p>
<p>蓄血，夫人飲食起居失節，皆能使血瘀滯不行也。衄血者，血蓄上焦，犀角地黃湯；心下手不可近者，血蓄中焦，桃核承氣湯；臍腹下腫，大便黑者，血蓄下焦，抵當湯丸、下瘀血湯、代抵當湯。血如泉湧不止者，外用杏仁研細，拌白麵，水調塗之。</p>
<p>人有一時狂吐血，必本於火。然吐多，火必為虛。況血去無血養身，又用泄火，重傷胃氣，無論血不驟生，氣亦不轉，必致氣脫而亡。法禁止血，當活血，不僅活血，急固氣。蓋氣固，則已失之血漸生，未失之血再旺，用固氣生血湯。若吐血久者，不可服。</p>
<p>人有久吐血未止，或半月或一月一吐，或三月數次，或經年一次，雖咳嗽吐痰不已，委困殊甚，此肝腎病也。吐血未必皆肝腎病，然吐久未有不傷肝腎者。腎枯肝燥，龍雷之火不安，本宮下克脾胃，脾胃虛寒，火逆衝上，肺金挾胃血沸騰，隨口而出，必腎肝肺三經統補為妙，用三臺救命湯，後以地黃丸服之。</p>
<p>人有吐黑血，雖未傾盆，痰咳必甚，口渴思飲，此腎經實火。腎有虛無實，蓋腎火又挾心包相火併起上衝耳。腎火禁泄，心包火亦禁泄乎，然泄心包火，必致傷腎，惟肝為心包母，泄肝則母虛而子弱矣。用兩泄湯。</p>
<p>人有冒暑，一時氣不及轉，狂嘔血塊，此暑邪犯胃，必頭痛如破，汗出如雨，口大渴，狂叫，作虛治反劇。宜清暑熱，佐下降歸經藥，則氣血自安，用解暑止血湯。</p>
<p>人有痰中吐血絲，日少夜多，咳嗽不已，多不能眠，此腎火沖咽喉，不歸命門，故沸為痰上升，心火又欺肺弱，復來相刑，故痰中見血絲。用化絲湯，此肺、腎、心三經兼治，加去痰退火藥，愈後用益陰地黃丸。</p>
<p>人有大怒，吐血色紫，氣逆，兩脅脹滿作痛，此因怒傷肝也。蓋肝藏血，怒則肝葉開張，血即不藏；肝氣急，怒則更急，血自難留，故湧出，往往有傾盆者；血湧肝無所養，自兩脅痛，輕則脹滿。急宜平肝，少加清涼，龍雷並收，一味止血，反拂火性，動其嘔逆之機，用平肝止血散。</p>
<p>人有咯血，血不驟出，先咳嗽，覺喉下氣不能止，必咯其血而後快，此乃腎氣逆，非肺逆也。蓋腎氣者，腎中虛火也。虛火盛由於真水衰，水衰則不能制火，火逆衝上，血宜大吐，何以必咳而出。蓋肺氣阻也，肺乃腎母，腎本有水火，肺乃生水不生火，而腎火上奪肺血，肺不遽予，故兩相牽而咯血。用六味地黃湯加麥、味，滋水益肺以制火也。</p>
<p>人有咳嗽出血，多因勞傷耗腎水，水不能分給各臟，又多房勞，水益涸，水涸金生，已泄肺氣，無如腎取給無已，肺求救於胃，胃受肝凌，不暇生肺，肝木生火，心火太旺，心旺必乘肺，而腎水不能制火，火凌肺愈甚，故咳嗽吐血。治宜救肺，然救肺，腎涸肺仍顧腎，治須補腎，腎足肝平，心火息而肺安。用麥冬、熟地、地骨皮、丹皮、白芥子。</p>
<p>人有鼻衄，經年不止，或愈或不愈，此較葉血少輕，然不治或不得法，皆殺人。吐血犯胃，衄血犯肺，胃濁道，肺清道，犯濁道五臟反復，犯清道止肺逆，然氣逆則一，逆則變生。宜調肺氣。但肺逆成於肺火，肺無火，肺火仍是腎水，肺因心逼，腎水來救，久之水涸，腎火來助，二火斗，血從鼻上越。則調氣，舍調腎無他法，調腎在補水制火，用止衄湯。</p>
<p>人有耳出血，涓涓不絕，三日人斃。此病少，實有其症耳。腎竅耳流血，自是腎虛，然血不走胃從口出，乃從耳出，心包火引之耳。心包與命門火相通，胃為心包子，胃恐腎火害心，兼害胃，故引火上走於耳。耳竅雖細，原無沖決之處，而涓涓不絕，其能久乎。用填竅止氛湯。</p>
<p>人有舌上出血不止，舌必紅而爛，裂紋中有紅痕，血從痕出，久亦必殺人，此心火炎、腎水不濟也。邪水犯心則死，真水養心則生，故心腎似相剋實相生。今水不交心，欲求腎養而不得，乃求救於舌下之廉泉。然腎足，廉泉亦足，今腎水既不濟心，又何能上升於唇口，此廉泉欲自養方寸舌而不能，又濟心乎，故泉脈斷而井甃裂，亦無濟於心，並爛其舌，舌爛必流血。大補心腎，使交濟，舌血自斷。用護舌丹。</p>
<p>人有齒縫出血如線摽，此腎火沸騰也。蓋齒屬腎，齒若堅固，無隙可乘。然腎為本，齒為末，腎中龍雷之火直奔咽喉，宜從口出，何以入齒。蓋腎火走任、督，上超唇齒，乘隙而出，火性急，齒縫隙小，故摽如線。用六味地黃加味治。</p>
<p>人有臍中出血，不多，如水流出。蓋臍通氣海、關元、命門，烏可泄氣，雖但血流，日日如此，氣必隨泄，可不急治。此大小腸火斗於腸中，小腸火欲趨於大腸，大腸火欲升於小腸，兩不相受，火乃無依，上下莫泄，直攻臍隙而出，血即隨之。似宜急安二腸火，然火動腎枯，無水潤也，故治二腸火，仍須治腎。用兩止湯。</p>
<p>人有九竅出血，氣息奄奄，欲臥，不欲見日，頭暈身困，此血熱妄行，上走九竅，症較狂血走一經反輕。人身無非血，九竅出血，由近而遠，非盡從臟腑出，法仍治臟腑，不可止治經絡，以臟腑統經絡也。用當歸補血湯加味治。</p>
<p>人有大便或前或後出血，人謂糞前屬大腸火，糞後屬小腸火，其實皆大腸火。腸本無血，因大腸火燥干腸液，腸薄開裂，血從外滲入，腸裂在上血來遲，腸裂在下血來速，非小腸出血也。小腸出血，人立死，蓋小腸無血，出血則心傷，安能活乎。宜單治大腸，然腎主二便，腎水無濟於大腸，故火旺，致便血。用三地湯。</p>
<p>人有尿血痛澀，馬口如刀刺，人謂小腸火，不知小腸出血人立死，安得痛楚猶生，此因不慎酒色，欲泄不泄，受驚而成。精欲泄，因驚縮入，精已離宮，不能仍返腎內；小腸因驚，不能直泄其水，則水積火生，熱極煎熬，所留之精化血而出，實本腎精，非小便血也。法宜解小腸火，然不利水，則水壅，火仍不出。用水火兩通湯。</p>
<p>人有毛孔出血，或摽或滲如線，或頭身，或兩脛，皆肝腎虧，火乘隙越出，舍補腎無二法。然補腎功緩，當急補氣，氣旺肺自旺，皮毛自固。用肺腎兩益湯。</p>
<p>人有唾血，止唾一口，人謂似輕，不知實重，蓋唾出脾，不出於胃也。脾胃相表裡，血犯胃，後天已虧，況更犯脾陰乎。胃主受，脾主消，脾傷不能為胃化其津液，雖糟粕已變，但能化粗，不能化精以轉輸於臟腑而皆困，是脾唾甚於胃唾也。然脾之所以唾，仍責胃虛，不特胃虛，尤責水衰。蓋胃為腎關門，腎衰胃不能司開闔，脾血上吐，胃無約束，任其越出，故脾唾雖脾火沸騰，實腎、胃二火相助。法平脾火，必須補脾土，補脾土以平脾火，必須補腎水以止胃火。用滋脾飲。</p>
<p>人有兩目流血，甚直射出，女經閉，男口乾唇燥，此腎中火動，非丹血妄行也。蓋腎，相火也，君火寧，相火不敢上越於目；惟君火衰，心動嗜欲，相火即挾君以令九竅，心系通於目，肝竅開於目，肝、命門、心包同為相火，同氣相助沸騰，上走心肝之系竅。法似宜補心以制腎火，然心既虛，補不易旺，必補腎生心，則心火不動，腎火亦靜。用助心丹。</p>
<p>人有舌上無故出血不止，細觀有小孔摽血，此心火上升克肺也。鼻衄犯氣道，舌衄止犯經絡之小者耳。然血出於舌，無異血出於口，出於口，犯胃不犯心；出於舌，犯心不犯胃，胃腑、心臟烏可忽視哉。宜內補心液，外填舌竅之孔，心火自寧，舌血易止。用補液丹。</p>
<p>婦人有年未七七，經先斷，此為血閉，乃心、肝、脾氣鬱也，若血枯則必死也。經水乃天一之水，出腎經，至陰精有至陽之氣，故色紅，似血非血，以經水為血，千古之誤。果是血，何不名血水。古聖呼經水者，以水出腎經名之也。是經早斷，必腎水衰涸，何謂心、肝、脾氣鬱。蓋腎水生，雖不由三經，而腎非肝氣相通，腎氣不能開；非心氣相交，腎氣不能上；非脾氣相養，腎氣不能成，一經鬱則氣不入腎，腎氣即閉塞不通，況三經同郁乎。腎水足，尚格格難出，況腎氣原虛，何以構精盈滿，化經外泄，此經閉似血枯耳。必散三經鬱火，補腎，仍補三經氣，則精隨經自通。用溫正湯。</p>
<p>室女有月經不來，腹大如娠，面乍赤乍白，脈乍大乍小，此為鬼憑，非血枯經閉也。蓋心邪則鬼來，或夢裡求親，日中相狎，或托戚屬貪歡，或言仙子取樂，久之精神僅供腹中邪，邪旺正衰，必經閉血枯。欲導經，邪據腹，經難通；欲生血，邪引精，血難長，因成癆瘵，至死不悟。悲夫。宜先去邪，後補正。用蕩邪丹下穢物，後再用調正湯。</p>
<p>婦人有血崩，雙目黑暗，昏暈於地，此非火盛動血，乃虛火也。世治血崩，每用止澀，然虛火不補，易於衝擊，必隨止隨發，終不能愈。須補中行止。用固本止崩湯。</p>
<p>婦人年老血崩，眼黑昏暈，此不慎房帷也。婦人七七，天癸絕，宜關閉不戰，倘如少年浪戰，必血室大開，崩決而下。用當歸補血湯加味治。</p>
<p>婦人受娠三月，血崩胎墮，此乃房事太過也。蓋氣衰不奈久戰，久戰泄精必多，則氣又衰，不能攝血；況久戰虛火內動，精門不關，血室亦不關，胎必不固，內外齊動，血又何能固。自當補氣，少佐止血，用固氣湯。</p>
<p>婦人有交感，雖不如血崩，然涓涓不已，未免氣血兩傷，久必血枯經閉，此因前月水來，貪歡交戰，精沖血管也。血管不可精傷，受孕乃血管已淨，經來血正旺，彼欲出精射之，則血退縮，既不受孕以成胎，勢必聚精而化血，交感淫氣，觸動舊日之積，兩氣相感，精欲出，血隨出。須通胞氣，引精外出，益以填精補氣，血管之傷可再補。用引精止血湯。此方實有調理曲折之妙，故除舊疾，然必慎房事三月，則破者不重損，補者不再傷，慎之。</p>
<p>婦人有甚郁作渴，嘔吐吞酸而血崩，以火治，或時效或不效，此肝氣結也。肝藏血，氣結宜血結，何反崩。蓋肝性急，氣結則更急，急則血不藏。法宜開鬱，然不平肝，則肝氣大開，肝火更熾，血何能止，用平肝止血湯。</p>
<p>婦人每戰即如血崩，人謂胞胎有傷，觸即動血，此乃子宮血海因熱不固也。子宮在胞胎下，血海在胞胎上。血海，衝脈也。衝脈寒，血虧；衝脈熱，血沸。血崩正衝脈熱，然衝脈熱何以交戰始血來，蓋人未入房，君相二火不動，雖衝脈熱，血不外泄；及戰，子宮大開，君相火齊動以鼓精房，血海泛溢不可止遏，肝欲藏血而不能，脾欲攝血而不得，故經水隨交感而至。必絕色三月，用滋陰降火藥涼血海，則終身之病可半載愈。用清海丸。</p>
<p>喻嘉言曰：虛勞病，而至於亡血、失精，消耗津液，枯槁四出，難為力矣。《內經》於針藥所莫制者，調以甘藥；《金匱》遵之，而用小建中湯、黃耆建中湯，急建其中氣，飲食增而津液旺，以致充血生精而復其真陰之不足，但用稼穡作甘之本味，而酸鹹辛苦在所不用，蓋舍此別無良法也。</p>
<p>又曰：失血病有新久微甚，無不本之於火，然火有陰陽不同，治法因之迥異。經云暴病非陽，則其為火也，即非陽火甚明。陽火者，五行之火也，可以五行之火折之。惟夫龍雷之火潛伏陰中，方其未動，不知其為火也；及其一發，暴不可御，以故載陰血而上溢，故凡用涼血清火之藥，未有不轉助其虐者。大法惟宜溫補其陽，以制陰火之僭。經謂咯血者屬腎，明乎陰火發於陰中，其血咯之成塊而出，不比咳嗽痰中帶血，為陽火也。此義從前未有發明，惟仲景云：誤發少陰汗，動其經血者，下厥上竭，為難治。下厥者，陰氣逆於下也；上竭者，陰血竭於上也。蓋氣與血兩相維附，氣不得血則散而無統，血不得氣則凝而不流，故陰火動，陰氣不得不上奔，陰氣上奔而陰血不得不從之上溢而竭矣。血既上溢，其隨血之氣散於胸中，不得復返於本位，則下厥矣。厥陰逆於下，勢必龍雷之火應之，血不盡竭不止也。仲景所以為難治者，非直不治也。吾則以建脾中之陽氣為第一義，是一舉而有三善，一者脾中之陽氣旺，而龍雷之火潛伏也；一者脾中之陽氣旺，而胸中窒塞如太空之不留纖翳也；一者脾中之陽氣旺，而飲食運化精微，復生其已竭之血也。今方書妄引久嗽成勞、痰中見血之陽症，不敢用健脾增咳為例，不思咯血即有咳嗽，不過氣逆，氣下則不咳矣。古方治龍雷之火，每用桂、附引火歸源之法，然施之於暴血之症，可暫不可常。蓋已虧之血，恐不能制其悍，而未動之血，恐不可滋之擾耳。此宜崇土為先，土厚則濁陰不升而血患自息也。</p>
<p>繆仲醇曰：吐血有三訣，宜行血不宜止血。血不循經絡者，氣逆上壅也。行血則循經絡，不止自止；止之則血凝，血凝則發熱惡食，病日痼矣。宜補肝不宜伐肝。經曰：五臟者，藏精而不瀉者也。肝主藏血，吐血者，肝失其職也。養肝，則肝氣平而血有所歸；伐肝，則肝虛不能藏血，血愈不止矣。宜降氣不能降火。氣有餘便是火，氣降則火降，火降則氣不上矣，血隨氣行，無溢出上竅之患矣。降火則必寒涼之劑，反傷胃氣，胃氣傷則脾不能統血，血愈不能歸經矣。今之醫者，專用寒涼，往往傷脾作泄，以致不救。或專用人參，肺熱還傷肺，咳嗽愈甚也。亦有用參而愈者，此是氣虛咳嗽，氣屬陽，不由陰虛火熾所致，要亦百中之一二耳。</p>
<p>劉默生曰：吐血一證，人惟知氣逆血溢、火升血泛，不知血在臟腑，另有隔膜隔定，其血不能滲溢。然隔膜極薄極脆，凡有所傷則破，破則血溢於上矣，故有陽絡傷則血上溢，陰絡傷則血下滲。隔膜雖傷，傷處有陰血凝定，血來則緩；若陰火驟衝破瘀積之血，血來如潮之上湧，自覺瀝瀝有聲。彼時喘息不定，面色如醉，煩躁不寧，心神昏亂，一皆龍雷使然，脈亦急疾難憑；少傾火退神清，面白氣平，血亦漸止，方可診切用藥。此時不可驟壅，亦不可用耗氣之藥。能知此義，治血有本矣。</p>
<p>按：繆氏三訣，而謂宜補肝不宜伐肝，伐肝固不宜也，補肝亦未為盡善，惟養之、和之則可也。謂宜降氣不宜降火，降火固不宜也，降氣亦未可盡行，惟調之、順之則可也。</p>
<p>按：內傷勞損而不致失血者，蓋亦鮮矣。夫血從上竅出者，為上溢；從二陰出者，為下滲，下滲為順，上溢為逆，理固然也。然上溢者，因火逼血而上逆，要自有陽火、陰火之分。大抵由於六淫之邪氣，多屬陽火；而根於七情之逆氣，即系陰火。陰火者，龍雷之火也，相火也。相火本主命門而寄於肝膽，所以為乙癸同源，故有龍火、雷火之稱。肝屬木，居於東，配震，震為雷，所以為雷火也；命門之火居於水中，龍藏海底，動則火騰，所以為龍火也。故凡勞傷肝腎，則相火無不煽動也。相火煽動，而陰分之血有不隨之而逆上者乎。矧以房勞過度，雖傷在腎，而肝與諸臟亦與之俱損者矣。是以內傷勞損之血溢，原由陰火所迫而逆上，其病至重至危也。然則治勞損之血症，豈可苟焉已哉。</p>
<p>嘗觀方書不曰滋陰降火，則曰引火歸源。夫泥於滋陰降火，則恣用知、柏、歸、地，究致敗胃傷脾、悶心泥膈，欲止血而反耗血，竟至百不一救，此不知先哲垂戒諄切亦已久矣。即在泥於引火歸源，而遽用附子、肉桂，究致藥偏溫熱，大能燥血，欲息火而反激火，亦竟十無一生。此不知名賢機用靈活，貴得當耳。試觀《內經》所云精不足者補之以味，《針經》所云調以甘藥，明以脾胃為主，務在崇培中土，俾飲食增而津液旺，以致生血化精而復其真陰之不足也。善哉嘉言，深會其旨，謂用稼穡作甘之本味，而酸鹹辛苦在所不用，舍是別無良法，誠得神聖之心，傳為後世振聾覺憒者矣。然不特此也，即彼叔和、景岳、士材、路玉，亦何嘗不互相發明也哉。</p>
<p>要之，古人制方原有加減，自是圓通。如四君、四物、六味、八味、建中、補脾、養營、大補、大造，何一非以治虛損者。然參、耆補氣，歸、地補血，白朮補脾，桂、附補火，以及升、柴之散，芍藥之斂，茯苓之滲，用之不當，詎不足以釀禍。須知相其先後、緩急、輕重而權衡適合，斯能有濟，此所為用藥如用兵。</p>
<p>以予因病虛損而攻醫，殫心數十年，研求前賢治法，誠見成方未可拘泥。常體嘉言所發《金匱》之意，創立方法，不外補之以味，調之以甘，惟以培元、養陰為務，於扶脾、保肺中微寓調氣泄水，或煎或丸服之，大有裨益於臟軀，今幸年臻七十矣。至其治內傷虛損，濟人獲效，亦難更僕數也，即或萬難挽回，亦未致令其生煩發喘、少食作瀉，而皆以善終。此則生平所謂用藥無過者爾。茲因詳述勞損失血之症治，用附管見以質高明，未知其果，悉有當否。</p>

<h2>內傷虛損宜耐醫說</h2>
<p>嘗觀先哲有言，凡治虛損，如奉魯哀朝，惟導以法祖而已。昔魯哀公問政孔子，知公柔弱，不能驟行王道，並難成其霸業，惟道以上法，文武漸致振興，以庶幾於安全已爾。以此而喻虛損之調理，洵為切當矣。何則？病至虛損，血氣大虧，陰陽不和，孱弱之至，勢甚危篤。此時用藥攻之不可以輕攻，補之亦難於驟補，惟有溫養一法，漬漸以培之、調之，庶有生理耳。王節齋嘗言：治此者輕則數十劑，重則期以歲年，慎柔思訓，謂至調攝二三年方愈。誠以虛損之培養，必須日積月累，以奏成功，非若外感之可邀速效也。嘗見病者多求速效，不能堅心定志，委任良工，明明用藥適中，毫無變症，乃或以延久為嫌，反疑其醫無奇功，因而庸庸者流乘間抵隙以圖僥倖，遂令更醫數四，竟致戕賊斃命而後已。殊不觀先哲有言，用藥而病不增即是減，何弗思受病之已深，而歸咎於醫術之未至，每至自誤而罔覺也，良足惜哉。</p>

<h2>內傷虛損宜重保養說</h2>
<p>嘗觀王節齋云：人若色欲過度，傷損精血，必生陰虛火動之病。睡中盜汗，午後發熱，咯咯咳嗽，倦怠無力，飲食少進，甚則痰涎膠固，咳血、吐血、衄血、泄血，脈息澀數，肌肉消瘦，此為勞瘵，最難以治。輕者用藥數十劑，重者期以歲年，然必病人惜命，堅心定志，絕房室、息妄想、戒惱怒、節飲食，以自培其根，此謂內外交治，庶可保全。而張景岳亦云：病者不善保養，惟徒恃藥力以求活，斯誠難矣。觀二公之言如此，不可知內傷虛損珍重保養，非為第一切要者乎？</p>
<p>夫保養莫重於絕房室。嘗見富貴子弟，既由色欲致病，猶不離房闥，即或各移床第，而究竟豔冶當前，朝夕供奉，恐或欲念一生，而相火隨動，雖不交合，必有真精數點即時溜出，此乃便為發泄，則向之藥力仍歸烏有，其陰精損益加損而不自覺也。惟善保養，則必退藏於密，即病愈，尚自珍惜矣。</p>
<p>保養莫要於節飲食。不但肥甘生痰、厚味傷陰之必戒，即飢飽亦宜兢兢致意。人身自平旦至日中，行陽二十五度，飲食易消，不妨於飽；自日中至夜分，行陰二十五度，飲食不消，宜於微飢，嘗見膏粱素慣，至病更多嗜好，藥之誤不敵飲食之誤，應如桴鼓。因口腹不慎而至傷殘，比比然也。惟善保養，則必謹節所欲，即終身不敢稍忽矣。</p>
<p>保養莫善於息妄想、戒惱怒。其為妄想也，好名好利，往往病篤而惓戀不忘，因而憂愁抑鬱，愈傷愈損，莫可救藥，此雖云有志，究亦太愚。至若淫於酒色，迷於佚樂，敝精竭神於冥索之中，致令病終不起，則又為愚之愚者矣。其為惱怒也，嘗見生長富貴之人，一役使一供俸稍不如意，輒至叱吒呼號，逞忿傷懷，毫無顧忌，此皆由驕恣成性，忘乎病之所由來，致令愈傷愈損，以及於危殆而不知悔矣。惟善保養，則必能養心、養氣，有畢生不忘者矣。嗚呼！內傷虛損，人每不知保養，而徒恃藥餌，亦思草木之資，果有回天之力也哉。以予本因內傷虛損而習醫，迄今年至七十，雖常服藥，並無峻補，所堪自信者，實在乎保養云爾。且於閱歷中，見夫病之死於不保養而生於善保養者，亦云多矣。故為是說以正告，竊願人之知所保養，以長享其年壽焉耳。</p>

<h1>卷五</h1>

<h2>內傷虛損方法</h2>
<p><u>桂枝龍骨牡蠣湯</u>（《全匱》）失精家，少腹弦急，陰頭痛，目眩發落，脈極虛芤遲，為消穀、亡血、失精。脈得諸芤動微緊，男子失精，女子夢交，此湯主之。</p>
<p>桂枝（二兩）　芍藥（二兩）　生薑（二兩）　甘草（二兩）　大棗（十二枚）　龍骨（煅）　牡蠣（煅）</p>
<p>分三服。</p>
<p>脈虛芤遲者，亡血、失精，本虛之脈也。芤動微緊者，本虛中伏有微邪，肝氣內動，所以魂夢不寧也。夫亡血、失精，皆虛勞內因之症，仲景獨用桂枝湯，其義何居？蓋人身之氣血，全賴後天水穀以資生，水穀入胃，其清者為營，濁者為衛，營氣不營，則上熱而血溢，衛氣不衛，則下寒而精亡。是以調和營衛為主，營衛和則三焦各司其職，而火自歸根，熱者不熱，寒者不寒，水穀之精微輸化，而精血之源有賴矣。以其亡血既潰，恐下焦虛滑不禁，乃加龍骨、牡蠣以固斂之。蓋龍骨入肝斂魂，牡蠣入腎固精。後世每疑其止澀而非之，殊不知二味入於石脂、鍾乳、蓯蓉、金櫻之類，則為劫劑；入於桂枝湯，則為固蟄封藏之本藥也。至虛勞、失精、悸、衄、腹痛、煩躁，則於本方加飴糖，為小建中；虛勞裡急，為營衛枯槁，更加黃耆，為黃耆建中。此皆後天不足所致，故以調和營衛為主治也。後人專用滋陰降火，誤治貽害，未至於劇者，用此悉可挽回。若夫腎虛致病者，又當八味腎氣丸；以虛煩不得眠，主以酸棗湯；內有乾血勞者，主以大黃䗪蟲丸。以上諸治，除酸棗湯外，後世皆所切禁，可慨已夫。</p>
<p><u>小建中湯</u>（《金匱》）虛勞悸衄，裡急腹痛，夢遺失精，四肢痠疼，手足煩熱，咽乾口燥，此湯主之。</p>
<p>桂枝（去皮，三兩）　甘草（炙，三兩）　大棗（十二枚）　芍藥（六兩）　生薑（二兩）　飴糖（一升）　日三服。</p>
<p><u>黃耆建中湯</u>　虛勞裡急，諸不足，此湯主之。</p>
<p>桂枝（三兩）　甘草（炙，三兩）　大棗（十二枚）　芍藥（六兩）　生薑（二兩）　飴糖（一升）　黃耆（兩半）</p>
<p>氣短胸滿，加生薑；腹滿，去棗，加茯苓兩半；肺虛損不足，補氣，加半夏二兩。</p>
<p>上條明系陽氣內奪之證，下條較上，虛證更劇，故加黃耆，以大補衛中陽氣也。</p>
<p>按：虛勞至於亡血、失精，消耗精液，枯槁四出，難為力矣。《金匱》用小建中、黃耆建中湯，以急建其中氣。後人樂令建中，並用前胡、細辛以退表熱；十四味建中，兼用熟附、蓯蓉以補下虛，均失建中之義。</p>
<p><u>八味腎氣丸</u>　虛勞腰痛，少腹拘急，小便不利，此方主之。</p>
<p>熟地　淮藥　茯苓　棗皮　澤瀉　制附　上桂</p>
<p>除桂、附，即六味地黃湯。</p>
<p>按：腰痛，少腹拘急，純屬肝腎虛寒，而小便不利，又似虛中有熱，豈桂、附所宜用乎。殊不知肝既失其疏泄之權，腎亦傷其生髮之氣，水道自難流利，故以桂、附導火歸源。設非辛溫蒸其至極之陽，則沉洹有加無已。乃於補陰藥中稍加陽藥，使陰陽適中，無偏勝之虞，斯其為至治也。</p>
<p>按：此即八味地黃丸，用桂、附乃補兩腎之陽，非補命門也。附子補氣中之陽，由肺以入於腎，故陽虛肺氣喘急者，服之即止；肉桂補血中之陽，由肝以入於腎，故陽虛肝火上浮者，服之則納。如以附為補命門，則以命門屬氣，桂不得為補命門矣；以桂為補命門，則以命門屬血，附不得為補命門矣。前人加入地黃丸，不特附、桂一氣一血，俱入兩腎，非命門也。以命門為陽者，此命門與兩腎分陰陽，則命門為陽，兩腎為陰，命門為始生之根本，即是萬物資始之乾元，故為先天之元陽，非以火為陽也。如以兩腎分析而論，則左血為陰，右氣為陽，亦非以水火分也。如專以一腎而論，則左腎不獨有精，氣亦有之，右腎不獨有氣，精亦有之，精即為陰，氣即為陽，此兩腎各有陰陽，故八味地黃丸各補其陰陽也。</p>
<p><u>六味地黃丸</u>　治肝腎不足，真陰虧損，精血枯竭，羸弱憔悴，腰痛足痠自汗，水泛為痰，發熱咳嗽，頭昏目眩，耳聾耳鳴，遺精便血，消渴淋瀝，失血失音，舌燥喉痛，足跟作痛，下部瘡瘍。</p>
<p>熟地（八兩）　山藥（四兩）　棗皮（四兩）　白苓（三兩）　丹皮（三兩）　澤泄（三兩）</p>
<p>此為補陰之主方，補五臟之陰以納於腎也。臟陰虧損，以熟地大滋腎陰，壯水之主以為君。用棗皮之色赤入心、味酸入肝者，從左以納於腎；山藥之色白入肺、味甘入脾者，從右以納於腎。又用三味通腑者，恐腑氣不宣，則氣鬱生熱，以致消爍臟陰，故以澤泄清膀胱，而後腎精不為相火所搖；又以丹皮消血分中熱，以主血之心、藏血之肝，俱不為火所爍；又以茯苓清氣分之熱，則飲食之精由脾輸肺以下降者，亦不為火所爍矣。然後四臟之真陰無所耗損，得以攝納精液，歸入腎臟，腎受諸臟之精液而藏之矣。此方之元妙，將棗皮、山藥分看，一入心肝，一入肺脾，既極分明，而氣味又融洽；將熟地、棗皮、山藥三味總看，既能五臟兼入，不致偏倚，又能將諸臟之氣，盡行納入肺臟，以為統攝臟陰之主而不致兩歧；至澤泄、丹皮、茯苓與三補對看，其配合之妙，亦與三補同法。制方妙義，周備若此，非臻於神化者，其孰能之。惟其兼補五臟，故久服無虞偏勝，而為萬世不易之祖方也。</p>
<p><u>酸棗湯</u>　虛勞虛煩不得眠，此湯主之。</p>
<p>棗仁（炒，二升）　甘草（一兩）　知母（二兩）</p>
<p>分三服。</p>
<p>深師，有生薑二兩。</p>
<p>虛煩者，肝虛而火氣乘之也，故特取棗仁以安肝膽為主，略加川芎調血以養肝，茯苓、甘草培土以榮木，知母降火以除煩，此平調土木之劑也。</p>
<p>六味地黃湯加麥冬、五味，此六味補腎，麥、味補肺，入六味湯仍是補腎，補腎以治肺，此善於治肺也。蓋腎旺，不取給於肺也。</p>
<p><u>補中益氣湯</u></p>
<p>人參（三分。嗽者去之）　白朮（三分，土炒）　黃耆（一兩，炙）　當歸（五分，酒焙）　柴胡　升麻　陳皮（各二分）　甘草（五分，炙）</p>
<p>是方以辛甘溫之品，溫足太陰、厥陰，升足少陽、陽明。黃耆、當歸，和營氣以暢陽；佐柴胡，從左出陰之陽；人參、白朮，實衛氣以填中；佐升麻，引春升之氣，從下而上達陽明；陳皮運衛氣，甘草和營氣。東垣以後天立論，氣者後天之氣，出於胃者也，故為補中益氣云。</p>
<p><u>枳朮丸</u>　治痞，消食強胃。本方仲景為湯劑，易老改為丸也。</p>
<p>白朮（二兩）　枳實（一兩，麵炒）</p>
<p>為末，用荷葉裹，飯上蒸，飯和丸，梧子大。白湯下五七十丸。</p>
<p><u>理中丸</u></p>
<p>人參（三兩）　炙草（三兩）　白朮（三兩）　乾薑（三兩）</p>
<p>理中者，理中焦之氣，以交於陰陽也。上焦屬陽，下焦屬陰，而中焦則為陰陽相偶之處。仲景立論，中焦熱，則主五苓以治太陽；中焦寒，則主理中以治太陰。治陽用散，治陰用丸，皆不及湯。人參、甘草，甘以和陰也；白朮、乾薑，辛以和陽也，辛甘相輔以處中，則陰陽自然和順矣。</p>
<p><u>四君子湯</u>　治一切陽虛氣弱，脾衰肺損，面白或黃，飲食少思，四肢無力，皮聚毛落，脈來細軟。</p>
<p>人參（二錢）　白朮（炒，二錢）　茯苓（二錢）　炙草（二錢）</p>
<p>薑、棗，煎服。</p>
<p>經曰：氣主煦之。四味皆甘溫之品，故專主氣分，甘得中之味，溫得中之氣，猶之不偏不倚之君子也。功專健脾和胃，以受水穀之精氣，而輸布於四臟，一如君子成人之德也，誠為生化良方。加廣皮、半夏，名六君子，不特為脾經治痰，而半夏入胃，有交通上下陰陽之神妙。</p>
<p><u>四物湯</u>　治一切血虛，日晡發熱。</p>
<p>當歸（酒洗）　生地（各三錢）　白芍（酒炒，二錢）　川芎（一錢）</p>
<p>經曰：血主濡之。四味皆濡潤之品，故為血分主藥。地黃，入心腎以沃血之源，入心脾而壯主血、攝血之本；芍藥入肝，而斂疏泄之血海；川芎通足三陰，而行血中之氣。然吳氏曰：失血太多者，禁勿與之。四物皆陰，得天地閉塞之令，非所以生萬物者也。本方加黃柏、知母，為知柏四物湯；又蜜丸，為坎離，皆用為滋陰降火主劑。要惟初病而實火大旺，方可暫用；病久亡血失精，斷非所宜，前于丹溪治法，論之悉矣。</p>
<p><u>補血湯</u>　治傷於勞役，肌熱面赤，煩渴引飲，脈大而虛。</p>
<p>黃耆（五錢。一方作一兩）　當歸（二錢，酒洗。一方作四錢）</p>
<p>是方治因飢困勞役，致面紅目赤，身熱引飲，脈洪大而虛，重按全無。此血虛發熱，證似白虎，惟脈不長實為辨耳。誤服白虎湯，必殆。</p>
<p><u>調中益氣湯</u>　治內傷，大便飧泄，時見白膿。</p>
<p>炙耆（二錢）　人參　蒼朮　甘草（各一錢）　陳皮　升麻　柴胡（各四分）　木香（二分）</p>
<p><u>升陽順氣湯</u>　治內傷，春月口淡，夏月雖熱猶畏寒，胸膈滿悶，飢常如飽。</p>
<p>黃耆（炙，二錢）　草豆蔻（八分）　神麯（炒）　當歸（各一錢）　陳皮　人參（各六分）　升麻　柴胡　甘草（各四分）</p>
<p>姜煎。</p>
<p><u>升陽補氣湯</u>　治飲食失節，飢飽勞役，胃虛氣短，四肢倦怠，早飯後昏悶要眠，五心煩熱。</p>
<p>柴胡（錢半）　生地（一錢）　升麻　澤泄　防風　羌活　獨活　甘草（各七分）　厚朴（炒，五分）</p>
<p>薑、棗，煎服。</p>
<p><u>升陽益胃湯</u>　治脾胃虛弱，怠倦嗜臥，時值秋燥，濕熱方退，體重節痛，口苦舌乾，不思飲食，不知味，大便不調，小便數，兼肺病灑淅惡寒，乃陽氣不升也。</p>
<p>羌活（五錢）　防風（五錢）　柴胡（二錢）　獨活（五錢）　黃連（二錢）　白芍（五錢）　黃耆（二兩）　炙草（一兩）　人參（一兩）　白朮（三錢）　茯苓（三錢）　廣皮（四錢）　半夏（一兩）　澤泄（三錢）</p>
<p>薑、棗，煎，早飯、午飯之間服。</p>
<p>此東垣治所生受病肺經之方也。蓋脾胃虛衰，肺先受病，金令不能肅清下行，則濕熱易攘，陽氣不得升，而為諸病。當以羌、防、柴胡，升舉三陽經氣；獨活、黃連、白芍，瀉去三陰鬱熱；以六君子調和脾胃。其重用參、耆、半夏、炙草，若輕於健脾，重於益胃，其升陽之藥，分輕則易升，仍宜久煎，以厚其氣；用於早飯、午飯之間，藉穀氣以助藥力，總是升胃之陽耳。至於茯苓、澤泄，方後注云小便利、不淋勿用，是滲泄主降，非升陽也。</p>
<p><u>桃核承氣湯</u></p>
<p>桃仁（五十個，去皮尖）　桂枝（二兩，去皮）　大黃（四兩，去皮）　芒硝（三兩）　甘草（二兩）</p>
<p>先煎四味，後納芒硝，溫分三服。</p>
<p>是方治太陽熱結解，而血復結於少陽樞紐間者。必攻血通陰，乃得陰氣上承。大黃、芒硝、甘草，皆入血之品，必主之以桃仁，直達血所，攻其急結；仍佐桂枝，泄太陽隨經之餘熱，內外分解，庶血結無留戀之處矣。</p>
<p><u>犀角地黃湯</u></p>
<p>犀角（三錢）　生地（五錢）　連翹（三錢）　甘草（五分）</p>
<p>原方有丹皮、澤泄，無連翹、甘草，是治厥陰、陽明藥也。溫熱入絡，舌絳煩熱，八九日不解，醫反治寒，散之、攻之，熱勢益熾。得此湯立效者，非解陽明熱邪，解心經之絡熱也。犀角、地黃，走心經，專解營熱；連翹入心，散客熱；生甘草入心，和絡血以治熱症。熱邪入絡，於理無悖也。又《回春》於原方內，加當歸、黃芩、黃連各一錢，治衄血不止。</p>
<p><u>蔥豉湯</u></p>
<p>蔥白　豉</p>
<p>煎服。無汗，加葛根。</p>
<p>此足太陽藥也。蔥，通陽而發汗；豉，升散而發汗。邪初在表，宜先服此解散之，免用麻黃湯者之多所顧忌，用代麻黃之所更紛也。</p>
<p><u>桂苓丸</u>　治暑月傷冷濕吐瀉。</p>
<p>桂心　赤苓（等分）</p>
<p>為末，蜜丸，一兩作八丸。井水化下一丸。</p>
<p><u>既濟丸</u>　治膀胱虛，小便不禁。</p>
<p>兔絲子（酒煮）　益智仁（炒）　茯苓　韭子（炒）　肉蓯蓉（酒洗）　當歸　熟地（各五分）　黃柏　知母（鹽水炒）　牡蠣（煅）　山茱萸（酒蒸，各五錢）　五味（一錢）</p>
<p>為末，酒、麵糊丸，梧子大。空心鹽湯下百丸。</p>
<p><u>既濟湯</u>　治霍亂，虛煩不得眠。</p>
<p>麥冬（二錢）　人參　竹葉　半夏　附子（炮）　炙草（各一錢）</p>
<p>姜五片，粳米百粒，煎服。</p>
<p><u>滋腎丸</u>　治胃虛蒸熱，腳膝無力，陰痿陰汗，衝脈上衝而喘，及下焦邪熱，口不渴而小便秘。</p>
<p>黃柏（酒炒，二兩）　知母（酒炒，一兩）　肉桂（一分）</p>
<p>蜜丸。</p>
<p>此足少陽藥也。水不勝火，法當壯水以制陽光。黃柏苦寒微辛，瀉膀胱相火，補腎水不足，入腎經血分；知母辛苦寒滑，上清肺金而降火，下潤腎燥而滋陰，入腎經氣分，二藥每相須而行，為補水之良劑；肉桂辛熱，假之反佐，為少陰引經，寒因寒用也。</p>
<p><u>甘草湯</u>　一藥治病，是曰奇方。甘草為九土之精，生用則涼，故用伐腎泄熱。治咽痛者，功在緩腎急而救陰液也。</p>
<p>甘草（二兩）</p>
<p><u>炙甘湯</u>　一名復脈湯。</p>
<p>炙草（四兩）　桂枝（三兩，去皮）　人參（二兩）　麻仁（半斤）　生地（一斤）　阿膠（二兩）　麥冬（半斤，去心）　生薑（三兩）　大棗（十二枚）</p>
<p>先煎八味，後納膠。</p>
<p>是方仲景治心悸，王濤治肺痿，孫真人治虛勞，三者皆是精涸燥淫之證。《至真要大論》云：燥淫於內，金氣不足，治以甘辛也。第藥味不從心肺而主乎肝脾者，是陽從脾以致津，陰從肝以致液，各從心肺之母以補之也。人參、麻仁之甘，以潤脾津；生地、阿膠之鹹苦，以滋肝液；重用地、冬濁味，恐其不能上升，故君以炙草之氣厚、桂枝之輕揚，載引地、冬上承肺燥，佐以清酒芳香入血，引領地、冬歸心復脈，使以薑、棗和營衛，則津液悉上供於心肺矣。</p>
<p><u>十全大補湯</u>　治男婦諸虛不足，五勞七傷。此藥性溫補，常服生血、壯脾胃。</p>
<p>人參　肉桂　熟地　白芍　川芎　白苓　當歸　黃耆（炙）　白朮　炙草（各一錢二分）</p>
<p>薑、棗，煎。</p>
<p><u>補腎丸</u>　治腎水不足，陰虛。</p>
<p>龜板（酒炙，四兩）　知母　黃柏（酒炒，各二兩）　乾薑（泡，一兩）</p>
<p>為末，粥丸，梧子大。空心鹽湯下五十七丸。</p>
<p><u>三才丸</u>　治血虛。</p>
<p>天門冬　熟地黃　人參（等分）</p>
<p>為末，蜜丸，梧子大。每服百丸，酒下。</p>
<p><u>黃耆十補湯</u>　補虛勞，養氣血。</p>
<p>炙耆　當歸（去尾，酒洗）　熟地　茯神（去心、皮，各一錢）　沉香　木香（各五錢）　麥冬（去心）　烏藥　肉桂　半夏（薑汁炒）　五味（炒）　棗仁（炒）　白朮　人參　白芍（炒）　陳皮　炙草（各八分）</p>
<p>薑、棗，煎。</p>
<p><u>坎離丸</u>　治陰虛嗽血、遺精、盜汗、潮熱。</p>
<p>當歸　白芍　川芎　生地　黃柏　知母</p>
<p>蜜丸。</p>
<p><u>坎離膏</u></p>
<p>黃柏　知母（各四兩）　生地　熟地　天冬（去心）　麥冬（去心，各二兩）　杏仁（去皮、尖，七分）　胡桃肉　白蜜（各四兩）</p>
<p>上銼。先將知、柏，以童便三碗，側柏葉一把，煎三四碗，去渣；又將二冬、二地入汁內，添水二碗，煎汁去滓，再搗爛如泥；另用水一二碗煎熬，絞取汁，入前汁；將杏仁、胡桃肉用水擂爛，濾汁，再擂再濾，至無滓，同蜜入前汁內，慢火熬成膏，入水內去火毒。每三五匙，以側柏葉湯調服。忌銅、鐵器。人每徒服二地，而不知用二冬為引，何也？蓋生地能生新血，用麥冬引入所生之地；熟地能補腎精，用天冬引入所補之地，故古方多四味互相為用也。</p>
<p><u>清肺湯</u>　治先痰後血，為積熱也。</p>
<p>赤苓　陳皮　當歸　生地　赤芍　天冬　麥冬　黃芩　梔子　紫菀　阿膠（炒）　桑白皮（各七分）　甘草（三分）　棗（二枚）　烏梅（一枚）</p>
<p>煎服。</p>
<p><u>鹿角膠丸</u>　治房室勞傷，小便出血也。</p>
<p>鹿角膠（一兩，炒珠）　沒藥　油發灰（各六分）</p>
<p>為末，取白茅根汁打糊為丸，梧子大。空心，鹽湯下七十丸。</p>
<p><u>分消湯</u>　治中滿成鼓脹滿悶。</p>
<p>蒼朮　白朮　陳皮　厚朴　枳實　赤苓（各一錢）　香附　豬苓　澤泄　腹皮（各八分）　縮砂（六分）　木香（三分）</p>
<p>薑、燈心，煎服。</p>
<p><u>養營湯</u>　治脾肺氣虛，榮血不足，驚悸健忘，寢汗發熱，食少無味，身倦肌瘦，色枯氣短，毛髮脫落，小便赤澀。</p>
<p>人參（一錢）　白朮（一錢，土炒）　茯苓（七分）　廣皮（一錢）　炙草（一錢）　熟地（七分）　當歸（一錢）　白芍（錢半）　黃耆（一錢）　肉桂（一錢）　志肉（五分）　五味（七分）</p>
<p>薑、棗，煎服。</p>
<p>是方調養營氣，循衛而行，不使其行之度數，疾於衛也。故於十全大補湯中，減川芎行血之品，獨用血分填補收斂之藥，則營行之度緩；於氣分藥中加廣皮行氣之品，則衛行之度速。觀其一減一加，便能調乎營衛，使其行度不愆。復加遠志、五味者，經言營出中焦、心經主之，以遠志通腎，使陰精上奉於心；佐以五味，收攝神明，一通一斂，則營有所主而長養矣。</p>
<p><u>鹿茸丸</u>　治腎虛消渴，小便無度。</p>
<p>鹿茸（二兩）　麥冬　熟地　炙耆　五味子　蓯蓉（酒浸）　雞肫胵（麵炒）　棗皮　牛膝　破故紙　人參（各七錢半）　白苓（五錢）　地骨皮（五錢）　元參（五錢）</p>
<p>為末，蜜丸，梧子大。空心，米飲下五七十丸。</p>
<p><u>二仙膏</u></p>
<p>鹿角（十斤）　龜板（五斤）　枸杞（二斤）　人參（一斤）</p>
<p>先將鹿角、龜板鋸截刮淨，水浸，桑柴火熬煉成膠；再將人參、枸杞熬膏和入。每早酒服三錢。</p>
<p>是方治瘦弱少氣、夢遺泄精、目視不明、精極之證，此足少陰藥也。龜為介蟲之長，得陰氣最全；鹿角遇夏至即解，稟純陽之性，且不兩月，長至一二十斤，骨之速生，無過此者，故能峻補氣血，兩者皆用氣血，所謂補之以其類也；人參大補元氣，枸杞滋陰助陽。此血氣陰陽交補之劑，氣足而精固不遺，血足則視聽明瞭，久服可以益壽，豈第已疾而已哉。</p>
<p><u>保元丸</u>　治老弱諸沉寒痼冷，小便滑數，大便時溏，腰腿臍腹疼痛，困倦虛瘦，食減。</p>
<p>附子（泡，去皮、臍）　白朮　山藥　肉豆蔻　赤石脂　乾薑（泡，各一兩）　肉桂（去皮，五錢）</p>
<p>為末，麵糊丸，梧子大。每服一二十丸，空心，鹽湯下。</p>
<p><u>保元湯</u>　治營衛氣血不足。</p>
<p>黃耆（蜜酒炙，三錢至六錢）　人參（三錢至六錢）　炙草（一錢）</p>
<p>水煎。</p>
<p><u>四味鹿茸丸</u>　治肝腎皆虛，咳嗽吐血，脈虛無力，上熱下寒。</p>
<p>鹿茸（酥炙，另搗成泥）　五味　歸身（各一兩）　熟地（二兩）</p>
<p>酒糊丸，梧子大。每服四五十丸，酒下。</p>
<p><u>濟生鹿茸丸</u>　治腎臟真陰久虛，下體痿弱疼痛，喘嗽，水泛為痰。</p>
<p>鹿茸（酥炙）　牛膝（鹽水炒）　五味（各二兩）　石斛　巴戟　附子（炮）　川楝（酒蒸）　山藥　肉桂　杜仲（鹽酒炒）　澤泄（鹽水炒，各一兩）　沉香（另研，五錢）</p>
<p>酒糊丸，梧子大。每七十丸，酒下。</p>
<p><u>歸脾湯</u>　治思慮過度，勞傷心脾，怔忡健忘，驚悸盜汗，發熱體倦，食少不眠，或脾虛不能攝血，致血妄行，及婦人崩帶。</p>
<p>人參（二錢）　白朮（二錢）　茯神（二錢）　黃耆（二錢，炙）　炙草（五分）　當歸（二錢）　棗仁（二錢，炒）　遠志（一錢，去心，炒）　木香（五分）　桂圓（七枚）</p>
<p>歸脾者，調四臟之神志魂魄，皆歸向於脾也。蓋五味入胃，必藉脾行其津液，以轉輸於四臟，而四臟亦必先承順乎脾，而為氣化流行之根本。參、朮、神、草以健脾胃，佐以木香醒脾氣，桂元和脾血，先為調劑中洲；復以黃耆走肺固魄，棗仁入心斂神，固膈上二焦；當歸入肝，苦以悅其魂，遠志入胃，辛以通其志，通調膈下二臟。四臟安和，其神志魂魄自然歸向於脾，而脾亦能受水穀之氣，灌溉四旁、榮養氣血矣。獨是藥性各走一臟，足經方雜用手藥者，以黃耆與當歸、棗仁與遠志有相須之理，且黃耆味入脾而氣走肺，棗仁味入肝而色走心，故借用不悖。四君子用茯苓，改用茯神者，以苓為死氣，而神得松之生氣耳。</p>
<p><u>四烏賊骨一藘茹丸</u>　治氣竭血結，婦人血枯經閉，男子陰痿精傷。</p>
<p>烏鰂骨（四兩）　藘茹（一兩）</p>
<p>丸以雀卵，大如小豆。以五丸為度，飲以鮑魚汁。</p>
<p>《內經》僅留數方，人多忽置。前人誤作䕡茹，殊失其旨。按本草藘茹，即茜草。二味並走血分，故以之治氣竭、肝傷、血枯經閉等症。丸以雀卵，飲以鮑魚汁，取異類有情，以暖腎調肝，則虛中留結之乾血，漸化黃水而下矣。此雖搜血之品，然非若大黃䗪蟲丸之猛峻也。如無雀卵，即雀肉，或雞卵與肝，亦可代。</p>
<p><u>花蕊石散</u>　治虛勞吐血，五內崩損，湧出升斗者。服此，使瘀血化為黃水，後以獨參湯補之。</p>
<p>花蕊石</p>
<p>火煅，研如粉。用童便一鍾煎，溫服。如男，用酒一半，如女，用醋一半，和服。</p>
<p><u>十灰散</u>　治嘔吐咯嗽血，及虛勞、大吐血。</p>
<p>大薊　小薊　側葉　荷葉　茅根　茜根　大黃　梔子　棕櫚皮　牡丹皮（等分，燒存性，出火毒）</p>
<p>研極細。用生薑汁或蘿白汁，磨松墨半碗，調服五錢，即止。</p>
<p>又丸方，黃絹、馬尾、藕節、艾葉、蒲黃、蓮蓬、油發、棕櫚、赤松皮、新棉，各燒灰，等分。為末，以醋煮糯米糊和丸，梧子大。米飲下百丸。治崩血，又一切失血。</p>
<p><u>聖愈湯</u>　治血虛心煩，睡臥不寧，五心煩熱。</p>
<p>人參　川芎　當歸　熟地　生地　炙耆（各一錢）</p>
<p>水煎服。</p>
<p><u>獨參湯</u>　治虛勞吐血後，羸弱、氣微、少食等症。</p>
<p>人參（一兩）</p>
<p>棗，煎服。</p>
<p><u>異功散</u>　治脾胃虛弱，飲食少進，未能消化，心胸痞悶。</p>
<p>人參　白朮　茯苓　陳皮　木香　甘草（各一錢）</p>
<p>薑、棗，煎服。</p>
<p><u>參蘇飲</u>　治內傷外感，發熱頭痛，嘔逆咳嗽，痰逆中焦，眩運嘈煩，傷風泄瀉，及傷寒已汗，發熱不止。</p>
<p>人參　紫蘇　甘葛　前胡　半夏（薑汁炒）　白苓（各二錢半）　陳皮（去白）　甘草　枳殼（麵炒）　桔梗（各二錢）　木香（五分）</p>
<p>薑、棗，煎。外感多者，去棗，加蔥白；肺中有火，去參，加杏仁、桑白皮；泄瀉，加白朮、扁豆、蓮肉。</p>
<p>此手足太陰藥也。風寒宜解表，故用蘇、葛、前胡；勞傷宜補中，故用參、苓、甘草；橘、半，除痰止嘔；枳、桔，利膈寬腸；木香行氣破滯，使內外俱和，則邪自散矣。</p>
<p><u>枳實理中湯</u>　治寒實結胸，膈高起，手不可近，用大陷胸不瘥者。</p>
<p>白朮（土炒，二兩）　人參　乾薑（炮）　炙草（各一兩）　枳實（麵炒）　白苓（各一兩）</p>
<p>蜜丸。</p>
<p><u>小烏沉湯</u>　治諸氣，心腹刺痛。</p>
<p>香附（制，二兩）　烏藥（一兩）　沉香　甘草（各二錢半）</p>
<p>為末。每二錢，鹽湯調服。</p>
<p><u>黑神散</u>　治傷損大吐血，口鼻俱出。</p>
<p>百草霜（二錢）</p>
<p>糯米飲調服。取深村柴火鍋底上者為妙。</p>
<p><u>柴胡疏肝散</u>　治脅肋疼痛，寒熱往來。</p>
<p>陳皮（姜炒）　柴胡（各二錢）　川芎　枳殼（麵炒）　白朮（各錢半）　香附（錢半）　炙草（五分）</p>
<p><u>玉屑丸</u>　主治腸風臟毒。</p>
<p>椿根白皮（曬乾，四兩）　槐根白皮　苦楝根　寒食麵（各三兩）　威靈仙（一兩）　生南星　生半夏（各五錢）</p>
<p>為末，滴水和丸，梧子大。每三十丸，水一盞，煎丸令浮，以匙抄吞送下，不嚼。</p>
<p><u>五苓散</u>　治暑濕、風寒諸症。</p>
<p>豬苓（去皮）　茯苓（去皮）　澤泄　白朮　肉桂（去皮）</p>
<p>為末。以白飲和服方寸匕。渴者，去桂，加黃連。</p>
<p>是方豬苓藉澤泄之咸以潤下，茯苓藉白朮之燥以升精，脾精升則濕熱散；而小便不利者，又難越膀胱一腑，故以肉桂之熱因熱用，內通陽道，使太陽里水引而竭之。此專治留著之水，滲於肌肉，而為腫滿。若水腫與足太陰無涉者，又非對證之方矣。</p>
<p><u>導赤散</u>　治小腸有火，便赤淋痛，面赤狂躁，口糜舌瘡，咬牙口渴。</p>
<p>生地　甘草梢　淡竹葉　木通（等分）</p>
<p>導，引也。小腸，一名赤腸，為四臟之一，稟氣於三焦，故小腸失化，上為口糜，下為淋痛。生地入胃，而能下利小腸；甘草和胃，而能下療莖中；淡竹葉皆輕清入內之品，同生地、甘草，則能從廣腸導有形之熱邪入於赤腸，其濁中清者，復導引滲入黑腸而令氣化，故云導赤。</p>
<p><u>妙香散</u>　治夢遺失精，驚悸鬱結。</p>
<p>人參（一兩）　益智仁（一兩）　龍骨（一兩）　茯神（五錢，去心）　遠志（五錢，去心，甘草水泡）　炙草（二錢半）　硃砂（水飛）</p>
<p>每服二錢，空心溫酒調服，水煎亦可。《良方》加木香二錢五分，麝香一錢。</p>
<p>是方治有夢之遺精。經言手足少陰之厥令人妄夢，《良方》加以二香通其神明，使人不夢，淫邪泮釋，自無精泄之患。而荊公之方，無此二味，或流傳日久而脫文耳。夫精之藏蓄在腎，統攝在脾，至疏泄則為聽命於心。故用茯苓、遠志，通腎以泄邪火；人參、益智，固脾以攝真精；茯神安神，硃砂定氣，龍骨秘精，三者皆安鎮心經之藥；甘草調和陰陽，則心有所主而精不搖矣。</p>
<p><u>瀉青丸</u>　治肝實。</p>
<p>當歸　膽草　川芎　梔子　大黃（煨）　羌活　防風（等分）</p>
<p>為末，蜜丸，芡實大。每一丸，竹葉湯同砂糖溫水化下。一名涼肝丸。</p>
<p><u>逍遙散</u>　治血虛肝燥，骨蒸勞熱，咳嗽潮熱，行來寒熱，口乾便澀，月經不調。</p>
<p>當歸（酒洗）　白芍（酒炒）　白朮（土炒）　白苓　柴胡（各二錢）　炙草（五分）</p>
<p>煨薑、薄荷，煎。</p>
<p>此足少陽、厥陰藥也。肝虛則血病，當歸、芍藥養血而斂陰；木盛則土衰，甘草、白朮和中而補土；柴胡升陽散熱，合芍藥以平肝，而使木得條達；茯苓清熱利濕，助甘、術以益土，而令心氣安寧；生薑暖胃除痰，調中解鬱；薄荷疏肝泄肺，理血消風，疏逆和中，諸症自己，所以有逍遙之名。本方加丹皮、梔子，名八味逍遙散，治怒氣傷肝，血少目暗。</p>
<p><u>臟連丸</u>　治遠年近日，腸風臟毒下血。</p>
<p>川連（八兩）　槐米（二兩）　枳殼（一兩）　防風　甘草　槐角　香附　牙皂　木香（各五分）</p>
<p>用陳米三合，同香附一處為末，余藥共為細末；用豬大腸約長二尺，洗淨，入米、香附於內，縛定；以水二大碗，砂鍋炭火煮，干即添水，煮爛如泥，取起和藥搗丸，梧子大。每早，米飲下七八十丸，忌面、蒜、生冷、煎炙之物。</p>
<p><u>升陽除濕防風湯</u></p>
<p>蒼朮（米泔水浸，四錢）　防風（二錢）　白芍　白苓（各一錢）</p>
<p>如胃寒瀉泄、腸鳴，加益智仁、半夏各五分。薑、棗，煎。</p>
<p>是方治大便閉塞，或裡急後重，數至圊而不能便，或有白膿或血。慎勿利之，利之則必重，病反鬱結而不通矣。以此升舉其陽，則陰自降矣。此足太陰、陽明藥也。蒼朮辛溫燥烈，升清陽而開諸郁，故以為君；白朮甘溫，白苓甘淡，佐之以健脾利濕而升陽；白芍酸寒，斂陰而和脾也。</p>
<p><u>抵當湯</u></p>
<p>水蛭（三十個，熬）　虻蟲（三十個，熬，去翅、足）　桃仁（三十個，去皮、尖）　大黃（三兩，皮，酒浸）</p>
<p>是方破無情之血結，誠為至當不易之方，毋怪乎藥之險也。然水蛭非熬化，即煮熟糜爛，亦能復生，未可輕用。</p>
<p><u>生脈散</u>　治熱傷元氣，氣短倦怠，口渴多汗，肺虛而咳。</p>
<p>人參（五錢）　麥冬（三錢，去心）　五味（三錢）</p>
<p>凡曰散者，留藥於胃，徐行其性也；脈者，主於心而發原於胃也。然脈中之氣所賴以生者，必資藉於腎陰，故《內經》言君火之下，陰精承之也。麥冬清肺金治節之司，五味收先天發水之源，人參引領麥冬、五味，都氣於三焦，歸於肺而朝百脈，猶天之雲霧精白露降，故曰生脈。</p>
<p>按：仲景抵當湯、代抵當丸，用治乾血勞之血枯經閉。內用水蛭，但此物最易化生，雖以火炙焦研末，若投水中，露一宿，必復變生許多小蛭，此則未可輕用。惟《千金》一方，用發灰、杏仁等分，熬令紫色，搗如泥，以豬膏和為丸，如梧子大。每以酒下三丸，日三服，甚良。然竊意以桃仁易杏仁，更佳。又一古方，用白鴿子一隻，去肝、腸淨，入血竭於內，病一年者用一兩，二年者二兩，三年者三兩，以針線縫住，用無灰酒煮熟，令病人吃之，瘀血即行。如心中恍亂者，食白煮肉一塊，即止。此二方有同氣相求之妙，較抵當湯丸甚遠，用之可無虞也。然此病已過三年，必不可治矣。</p>

<h1>卷六</h1>

<h2>內傷虛損方法</h2>
<p><u>援瘵湯</u></p>
<p>當歸　炒芍　熟地（各一兩）　棗皮　茯苓　鱉甲（炙，各五錢）　白微（二錢）</p>
<p>服三月全愈。</p>
<p>此肝腎兩治。鱉甲、白微殺蟲，能補能攻，殺蟲於無形。而諸藥大補肝腎，其痰自化，何用消痰逐穢傷脾胃也。</p>
<p><u>健脾殺蟲湯</u></p>
<p>白朮（五錢）　人參　白微　車前（各二錢）　萬年青（一片）　熟地（一兩）　麥冬（一兩）　棗皮　生棗仁（各三錢）　貝母（一錢）</p>
<p>服三月愈。</p>
<p>此補胃不助陽，消腎不損液，腎足制心不刑肺，實妙法也。</p>
<p><u>安肺湯</u></p>
<p>麥冬（五錢）　元參（五錢）　桔梗　蘇葉　款冬（各二錢）　生地　白芍　天冬　黃芩　熟地　茯苓　棗皮（各三錢）　紫菀（一錢）　貝母（五分）</p>
<p>二劑愈。</p>
<p>此肺腎同治。何名安肺？蓋子母同氣，安腎正所以安肺也，倘但祛邪，因傷益傷矣。</p>
<p><u>助功湯</u></p>
<p>人參（二錢）　茯苓（三錢）　麥冬（五錢）　甘草　桔梗　半夏（各一錢）　黃芩（五分）</p>
<p>三劑全愈。</p>
<p>此肺胃同治，助胃即助肺，泄肺火即泄胃火。邪入肺必入陽明，肺邪散，寧遁入陽明乎。</p>
<p><u>利肺湯</u></p>
<p>紫蘇　甘草　桔梗　半夏（各一錢）　人參（二錢）　白朮（三錢）　茯苓（五錢）　神麯（五分）</p>
<p>三劑全愈。</p>
<p>此不見利水，水自從膀胱出。因內傷致邪，故不必治外感。</p>
<p><u>衛主生氣湯</u></p>
<p>人參（三錢）　白朮　麥冬　北味　棗仁（炒）　白芍　元參（各一兩）　白芥子（二錢）</p>
<p>二劑愈。</p>
<p>此五臟兼補也，倘補心不補各臟，反致偏勝矣。</p>
<p><u>定神湯</u></p>
<p>人參　黃耆（各一兩）　茯神　白朮　丹參　棗仁（生）　當歸（各五錢）　丹砂（末）　遠志　柏子仁　甘草（各一錢）　巴戟　淮藥（各三錢）　白芥子（二錢）</p>
<p>十劑愈。</p>
<p>此脾胃肺肝同治。蓋心為孤主，今四臟同治，則扶助有力，心神自旺，勞傷自愈。</p>
<p><u>通泉飲</u></p>
<p>棗仁（炒）　麥冬（各一兩）　天冬　人參　丹參　柏子仁（各三錢）　北味　甘草　遠志（各一錢）　當歸（五錢）</p>
<p>三劑愈。</p>
<p>此補心氣，又生津液，何必補腎以通源也。</p>
<p><u>衛心湯</u></p>
<p>人參（二錢）　白朮（五錢）　茯苓（三錢）　甘草　石菖蒲　蘇葉　半夏　桔梗　丹參（各一錢）</p>
<p>三劑愈。</p>
<p>此心與膻中俱補，不可分治，況原因喜樂而得憂愁乎，故邪易散。</p>
<p><u>加減小柴胡湯</u></p>
<p>柴胡　甘草（各一錢）　白芍（一兩）　茯神（五錢）　麥冬（三錢）　陳皮（五分）</p>
<p>三劑邪散。</p>
<p>此用柴胡和膽中實邪，佐神、麥、白芍，補膽弱即補心虛，二經同補，恐懼不畏，又何有於外邪乎。</p>
<p><u>坎離兩補湯</u></p>
<p>人參　生地　麥冬　淮藥（各五錢）　熟地（一兩）　絲餅　棗仁（炒）　茯苓　白朮（各五錢）　丹皮（二錢）　北味（一錢）　桑葉（十四片）</p>
<p>十劑愈。</p>
<p>此心腎兩補，水上濟心，心無亢炎，自有滋潤也。</p>
<p><u>風火兩濟湯</u></p>
<p>白芍（一兩）　梔仁（炒，三錢）　柴胡　花粉　車前（各二錢）　甘草（一錢）　丹皮（五分）</p>
<p>三劑愈。</p>
<p>此治肝經之內火、內風，然外之風火，亦可兼治。倘不用白芍為君，單用柴、梔，雖風火亦能兩平，而肝中氣血虛未能驟補，風火散後，肝木仍燥，怒氣終不能解，何如白芍能補肝，又能泄風火之兩得。</p>
<p><u>加味逍遙散</u></p>
<p>柴胡　半夏　甘草　白朮　梔仁（炒，各一錢）　當歸　白芍（各三錢）　陳皮（五分）　茯苓（二分）</p>
<p>三劑愈。</p>
<p>此解鬱祛風也，郁解風自難留。加半夏消痰，梔仁退火，更能相助為理，故奏功如響。</p>
<p>又前方加荊芥三錢，治肝血有損，因大怒而致，此善疏肝氣解鬱也。</p>
<p><u>滋肝飲</u></p>
<p>元參（一兩）　麥冬（五分）　白朮（一兩）　丹皮　沙參　當歸（各五分）　甘菊　茯苓（各三錢）</p>
<p>五十劑愈。</p>
<p>此補腎滋肝，肝得水滋則火不發也。</p>
<p><u>順適湯</u></p>
<p>白芍（一兩）　茯苓　白朮（各三錢）　人參　甘草（五分）　白芥　鬱金　香附（各一錢）　當歸（二錢）　陳皮（五分）　川芎（八分）</p>
<p>三十劑愈。</p>
<p>此入肝，又入脾胃，舒木宜土，故奏功。</p>
<p><u>二白散</u></p>
<p>芡實　淮藥（四兩）　萬年青（四片）</p>
<p>各炒，研細末。白糖一斤，滾水調服，遇飢即服，以愈為度。二味健脾尤補腎，萬年青殺蟲於無形，入二味中，蟲亦不知何以消藏，但不可責近效，加人參助胃尤妙。</p>
<p><u>清欲湯</u></p>
<p>當歸　白芍　葳參　元參　熟地（各一兩）　柴胡（錢半）　丹皮（三錢）　骨皮（五錢）　白芥子（一錢）</p>
<p>十餘劑愈。</p>
<p>此補肝兼補腎，水旺木榮，木平火息，尤妙補中仍有開鬱藥，若徒補血泄火，尚隔一層。</p>
<p><u>益脾湯</u></p>
<p>人參　扁豆（炒）　神麯（各一錢）　淮藥（五錢）　芡實　巴戟　白朮（各三錢）　砂仁（一粒）　半夏（三分）　茯苓（二錢）　肉蔻（一枚）</p>
<p>服三月，胃開；六月，脾健。此補胃自益脾。</p>
<p><u>助火生土湯</u></p>
<p>人參　茯苓（各三錢）　黃耆（炙）　白朮　巴戟（各五錢）　甘草　肉桂（各一錢）　石菖蒲　神麯（各五錢）　山楂（十粒）　志肉（八分）</p>
<p>三十劑愈。</p>
<p>此上補心包，下補命門，中補脾胃，火生土而食消。倘補火不知命門、心包之異，故健脾脾不健，開胃胃不開，不至癆不止。</p>
<p>補中益氣湯加半夏、神麯，三劑愈。</p>
<p>此益脾聖藥，況睡臥既久，脾氣下陷，正宜提之，半夏、神麯最醒脾，故加之。</p>
<p>補中益氣湯加熟附三分，十劑愈。</p>
<p>參、耆、歸、術，得附子，其功益大。</p>
<p><u>加味四君子湯</u></p>
<p>白朮（五錢）　茯苓　人參（各三錢）　甘草　柴胡（各一錢）　枳殼（五分）</p>
<p>二劑愈。</p>
<p>此因胃虛，寒熱相戰，故以健脾為主，佐之和解也。</p>
<p><u>加味六君子湯</u></p>
<p>人參　乾薑（炒，各二錢）　白朮　棗仁（炒）　茯苓（各三錢）　陳皮　甘草（各五分）　半夏（一錢）　熟附（一片）</p>
<p>二十劑愈。</p>
<p>此雖統治脾胃，然棗仁、薑、附補心居重，補脾居輕，宜偏治胃也。</p>
<p><u>消酒散</u></p>
<p>白朮　棗皮　苡仁（各一兩）　葛花（二錢）　肉桂（三分）　茯苓（三錢）</p>
<p>三十劑愈。</p>
<p>此脾胃兩補，分解酒濕，但酒性太熱，宜先解熱，何但治濕，且用肉桂助熱。不知濕不行，由命門火衰，真火衰，邪火自盛；真火盛，邪火自衰；邪火衰，邪水自流；邪水流，邪火自散。</p>
<p>六君子湯加黃耆三錢，熟附一分，神麯五分，十劑愈。</p>
<p>此補脾胃氣，病原傷脾胃，脾胃一轉，後天無損，先天自可接續，故癆瘵易愈。</p>
<p><u>和順湯</u></p>
<p>升麻（炒）　炮姜（五分）　防風　白芷　甘草（各五分）　黃耆　白芍　茯神（各三錢）　白朮（五錢）　人參（二錢）</p>
<p>午前服，連十劑，黑色除，再十劑全愈。</p>
<p>此補中益氣之變也。凡陽氣下陷，此方提之。倘陰氣上浮陽中，則此方以升散陰氣，皆奏功甚捷。</p>
<p><u>護內湯</u></p>
<p>白朮　茯苓（各三錢）　麥芽　甘草　柴胡　半夏（各一錢）　山楂（五粒）　枳殼（三分）　神麯（八分）　肉桂（二分）</p>
<p>二劑愈。</p>
<p>此消食神劑，又逐外邪，不傷脾氣，真治內傷、外感之良法。</p>
<p><u>金水兩滋湯</u></p>
<p>麥冬　熟地（各一兩）　天冬　茯苓　白朮（各三錢）　桔梗　甘草　紫菀（各一錢）　淮藥（五錢）　肉桂（三分）　白芥子（三分）</p>
<p>十劑愈。</p>
<p>此見腎虛感邪，最難愈，以散邪藥不能直入腎經，不知腎虛感邪，邪不遽入腎，仍在肺。散肺邪，仍補腎水，腎得益，肺又無損，正善於散邪也。</p>
<p><u>脾腎兩益丹</u></p>
<p>人參　白朮　巴戟（各一錢）　茯苓（五錢）　柴胡　甘草（各一錢）　肉桂（五分）　棗皮（三錢）</p>
<p>十劑愈。</p>
<p>此補土又補水，補水又散邪，有益無傷，真神方也。</p>
<p><u>養陰辟邪方</u></p>
<p>當歸　白芍（各五錢）　柴胡　甘草　花粉（各一錢）　荊子（五分）　茯苓　川芎（各三錢）</p>
<p>二劑愈。</p>
<p>此原因津虧而邪入，方因補血養陰，津自生，邪自出。況川芎、蔓荊，能祛頭風；柴胡、炙草，更擅解紛；花粉、茯苓，消痰利濕，引邪從膀胱出。陰虛內傷外感，莫此為良。倘用攻於補陽之中，則陽旺陰消，邪轉熾矣。</p>
<p>補中益氣湯加貝母一錢，十劑愈。</p>
<p>此乃東垣一生學問，全注於此。妙在用升、柴於參、歸、耆、術內，一從左旋，升心、肝、腎氣；一從右旋，升肺、脾、胃、命門氣，非僅升上、中二焦氣也。陽升陰自降，或疑陽氣未必盡陷，反升陰氣，干犯陽位，為變非小。不知陽氣不陷，未有生病者；陽陷，人始病。升陽而陰降，陰亦何能犯陽哉。</p>
<p><u>八味地黃湯</u>　此水中補火，補陽兼補陰，故補火無亢，補水不寒也。</p>
<p><u>起瘵至神湯</u></p>
<p>熟地　麥冬（各一兩）　棗皮　茯苓　淮藥　鱉甲（炙，各五錢）　芡實　白朮（各三錢）　杜仲（炒，一錢）　百部（二錢）　肉桂（三分）</p>
<p>十劑蟲死，服二月愈。</p>
<p>此補腎安心，惟鱉甲、百部殺蟲，鱉甲引百部入至陰內，妙在補陽不傷髓，蟲死腎無異氣，心自受益。又有麥冬、苓、術相扶，自安奠中宮也。</p>
<p><u>涼髓丹</u></p>
<p>骨皮　丹皮（各一兩）　麥冬（五錢）　釵斛（三錢）　牛膝　茯苓（各二錢）</p>
<p>服一月愈。</p>
<p>此用地骨、丹皮，不特補腎水，且涼骨髓與消骨外血。骨中熱，骨外安有不熱，骨中髓熱，必耗骨外血，骨外血熱，必爍骨中髓。用二味髓、血兩治矣。髓、血既無大熱，腎中寧獨熱哉。況石斛、牛膝，補腎真陰，陰旺則陽平，水盛則火退，骨蒸癆瘵又何能成。</p>
<p><u>救瘵湯</u></p>
<p>熟地（五錢）　白芍　淮藥　骨皮　麥冬（各二錢）　沙參（三錢）　北味（十粒）　白微　人參（各五錢）　白芥子　鱉甲（炙）　茯苓（各一錢）</p>
<p>服一年愈。必斷色欲。</p>
<p>此補陰居多，再加人參以助胃氣，則補陰而無膩滯之憂，即殺蟲亦非毒藥。配合精良，治起初癆神效。</p>
<p><u>化石湯</u></p>
<p>熟地（二兩）　茯苓　棗皮　元參（各一兩）　苡仁　澤泄　麥冬（各五錢）</p>
<p>十劑愈。</p>
<p>此妙不治淋，反補腎，以苓淡滲解鹹味，麥冬、元參散火氣，地黃、棗皮滋腎水，又取甘能化石、咸能消石也。又恐滯而不行、留而不走，益澤泄咸以入咸，且善走攻堅，引群藥入腎中，又能出腎外，迅逐於膀胱之裡而破塊，倘不補腎，惟治膀胱，氣不得出，又烏能化水也。</p>
<p><u>益肺湯</u></p>
<p>人參　白朮　當歸　淮藥　芡實（各三錢）　麥冬（五錢）　北味　柴胡　荊芥（各五分）</p>
<p>二十劑愈。</p>
<p>此因傷氣、傷肺也。補肺，兼補脾胃，雖益肺，實益氣也。肺衰則氣衰，肺旺則氣旺，氣衰可不補肺哉，補肺又何能捨脾胃哉。</p>
<p><u>開胃填精湯</u></p>
<p>人參　麥冬　棗皮　茯苓（各三錢）　白朮（五錢）　熟地　巴戟（各一兩）　北味（一錢）　肉蔻（一枚）</p>
<p>三十劑愈。</p>
<p>補中益氣湯加元參三錢，桑葉二十片，十劑愈。</p>
<p>此多用參、耆補氣，氣旺血亦旺，自能流行。身癢多屬火，加元參退浮游之火；汗多發癢，桑葉止汗，癢自止也。</p>
<p><u>加減大補湯</u></p>
<p>人參　當歸　茯苓　白朮　白芍　熟地（各三錢）　黃耆（五錢）　川芎　甘草　柴胡（各二錢）　陳皮（五分）</p>
<p>數劑愈。</p>
<p>此氣血兼補。但原方有肉桂，呼盧鬥貝未免火有餘而水不足，故易以柴胡、補中和之，邪尤易散。</p>
<p><u>養筋湯</u></p>
<p>熟地　白芍　麥冬（各一兩）　棗仁（炒）　巴戟（各三錢）</p>
<p>十劑愈。</p>
<p>此心、肝、腎三經同治。凡三經病通治，非獨治陽明筋症，在人通變也。</p>
<p><u>充髓丹</u></p>
<p>熟地　棗皮（各一兩）　石斛　沙參（各五錢）　骨皮　牛膝　茯苓（各三錢）　北味（一錢）</p>
<p>此填補真陰，使水足精滿，髓充骨健。倘用寒藥治胃，熱藥助陽，愈熬津液，必成癆瘵矣。</p>
<p><u>加味四物湯</u></p>
<p>熟地（一兩）　當歸　白芍（各五錢）　川芎　柴胡　白芥子（各一錢）　牛膝（三錢）　丹皮　釵斛（各二錢）</p>
<p>此用四物補水，亦補髓。邪因虛入，補髓、血，邪自出，故少加柴胡，風邪隨散，倘徒散邪，非善治也。</p>

<h2>內傷失血方法</h2>
<p><u>固氣生血湯</u>　治一時狂吐血。</p>
<p>黃耆（炙，一兩）　當歸（五分）　荊芥（炒，二錢）</p>
<p>此即補血湯之變。妙在荊芥引血歸於氣中，引氣生於血內，血氣之陰陽交，水火之陰陽自濟，臟腑經絡不致再沸。至於有形之血不能速生，無形之氣所當急固，大約此方治初起嘔吐狂血最妙，若吐血久，不可以服。</p>
<p><u>三臺救命湯</u>　治肝腎失血。</p>
<p>熟地（八兩）　麥冬（三兩）　丹皮（二兩）</p>
<p>此用熟地補腎滋肝，麥冬清肺治肝，丹皮去肝浮游之火，又引火歸腎，使血歸經，然非重用不濟。至火息血盡，後以地黃丸服之，良法也。</p>
<p><u>兩瀉湯</u>　治吐黑血。</p>
<p>白芍　丹皮　骨皮　元參（各一兩）　梔仁（炒，三錢）</p>
<p>服二劑，血變紅；四劑，咳除血止。</p>
<p>此見黑，北方水色，黑血兼屬心火，乃火極似水，如火投水中，必為烏薪。方瀉肝仍瀉心包與腎，火得水而解，血得寒而化，所以神效。</p>
<p><u>解暑止血湯</u>　治感暑，嘔吐血塊。</p>
<p>青蒿　石膏（各一兩）　當歸　麥冬　元參（各五錢）　荊芥（炒）　大黃（一錢）</p>
<p>二劑愈，不可多。</p>
<p>此用青蒿於解暑中退陰火，則陰陽濟，拂逆自除；石膏退胃火，麥冬退肺火，元參退腎火，荊芥引火下行，又得大黃，不再停胃；又恐血既上越，大腸必燥，加當歸助速行之勢，故旋轉如環，取效甚捷。</p>
<p><u>化絲湯</u>　治痰見血絲。</p>
<p>熟地　麥冬（各一兩）　貝母　蘇子　荊芥（炒，各一錢）　元參　茯苓（各五錢）　骨皮　沙參（各三錢）</p>
<p>此肺、腎、心三經兼治，加去痰退火，但愈後不可仍服，宜用後方。</p>
<p><u>益陰地黃丸</u></p>
<p>熟地（一斤）　淮藥　桑皮（八兩）　麥冬　骨皮（十兩）　丹皮　茯苓（六兩）　北味（三兩）　澤泄（四兩）</p>
<p>蜜丸。日服三錢。</p>
<p><u>壯水湯</u>　治久吐血不止。</p>
<p>熟地（二兩）　生地（一兩）　荊芥炒（二錢）　三七末（三錢）</p>
<p>二劑不發。</p>
<p>此二地補精，寓止血之妙，荊芥引血歸經，三七隨斷路徑，入不再出，火得水消，氣得水降，此理為至微也。</p>
<p><u>平肝止血散</u>　治大怒吐血。</p>
<p>白芍（二兩）　當歸（一兩）　荊芥　丹皮（各三錢）　梔仁（炒，二錢）　甘草（一錢）</p>
<p>此用白芍平肝，又益肝，同當歸用，生血活血，實有神效；丹皮、梔子不過少涼血以清火，俟荊芥引經、甘草緩急耳。</p>
<p><u>六味地黃湯</u>　治咯血，加北味一錢，此治水不須泄火也。</p>
<p>又方　治咳嗽失血。</p>
<p>麥冬　熟地（各二兩）　骨皮　丹皮（各一兩）　白芥子（三錢）</p>
<p>十劑愈。</p>
<p>此肺、腎同治，故麥、地並用；加骨皮、丹皮，蓋以咳血必損陰，陰虛則火旺，此火乃陰火，二味解骨髓中熱，則腎無煎熬，不索肺金，肺中滋潤，自濟腎，腎漸濡，養肝治心，外侮不侵，何有耗散；白芥子消膈膜之痰，以陰氣虛耗，必有痰，取不耗真陰氣也。</p>
<p><u>止衄湯</u>　治鼻衄不止。</p>
<p>生地（一兩）　麥冬（三兩）　元參（二兩）</p>
<p>一劑止。</p>
<p>此麥冬治肺虛，生地、元參解腎火，火退氣自順，氣順血歸經矣。</p>
<p><u>填竅止氛湯</u>　治耳出血。</p>
<p>麥冬（一兩）　熟地（二兩）　石菖蒲（一錢）</p>
<p>一劑效。</p>
<p>此用熟地補腎，麥冬息心包火，菖蒲引二味直透耳中也。</p>
<p><u>護舌丹</u>　治舌上出血不止。</p>
<p>丹皮　麥冬　桔梗（各三錢）　人參　甘草　北味（各一錢）　元參（五錢）　熟地（一兩）　黃連（三分）　肉桂（一分）</p>
<p>四劑愈。</p>
<p>此專交心腎也。</p>
<p>六味地黃湯加麥冬五錢，北味、骨碎補各一錢，四劑愈。</p>
<p>此用六味補水，水足火自降，火降血不妄行；加麥、北補肺，水尤易生；碎補透骨補漏，血欲不止，得乎。</p>
<p><u>兩止湯</u>　治臍中出血。</p>
<p>熟地（三兩）　棗皮　麥冬（各一兩）　北味（一錢）　白朮（五錢）</p>
<p>四劑除根。</p>
<p>此用熟地、棗皮補水，麥、味益肺，白朮利腰臍，腰臍利，水火流通，各取給於腎而不爭矣。</p>
<p><u>加味補血湯</u>　治九竅出血。</p>
<p>當歸（一兩）　黃耆（三兩）　人參　荊芥（炒，各三錢）　白朮　生地（各五錢）</p>
<p>二劑愈。</p>
<p>此見血妄行，火已泄，不必清火，而輒補氣。蓋其妄行，由氣虛不能攝血也，倘用止抑，則一竅閉安，必眾竅盡閉。況又加行氣涼血，兼清火，有不奏功哉。</p>
<p><u>三地湯</u>　治大便出血。</p>
<p>生地　熟地　當歸（各一兩）　地榆（三錢）　木耳末（五分）</p>
<p>二劑愈。</p>
<p>此精血兩補，腸中自潤，既無乾燥，自無滲漏。況地榆涼，木耳塞，有不速效哉。</p>
<p><u>水火兩通湯</u>　治尿血痛澀。</p>
<p>車前子（三錢）　梔子（五錢）　茯苓　當歸（各五錢）　木通　黃柏　扁萹（各一錢）　白芍　生地（各一兩）</p>
<p>三劑愈。</p>
<p>此通利水火，又平肝補血。蓋血證再懼肝木克脾胃，脾胃氣下陷不能升，血又何從升散乎。今平肝，肝舒脾胃亦舒，脾胃氣舒，小腸水火兩通，敗精速去矣。</p>
<p><u>肺腎兩益湯</u>　治毛孔出血。</p>
<p>熟地（二兩）　人參　麥冬（各一兩）　三七根末（三錢）</p>
<p>一劑血止，再用六味地黃加麥冬、北味調理，全愈。</p>
<p>此金水相資，肺腎火息，血自歸，何至走入皮毛外泄。況三七根原止血，故宜效之捷也。</p>
<p><u>滋脾飲</u>　治唾血。</p>
<p>人參（三分）　茯苓（三錢）　元參　芡實　白茅根　淮藥　丹皮（各三錢）　熟地（一兩）　沙參（五錢）　甘草（五分）</p>
<p>二劑愈。</p>
<p>此輕治脾，重補腎，探本也。倘止泄脾火，必傷胃土，胃傷脾更傷，然後補腎，則不能生腎水，何能制脾胃火，無論唾血難止，吾恐胃關不閉，血且傾盆，此滋脾飲所以效耳。</p>
<p><u>助心丹</u>　治兩目流血。</p>
<p>熟地　麥冬（各一兩）　志肉（二兩）　茯神　元參　丹皮　當歸（各三錢）　棗皮　芡實（五錢）　蓮子心（一錢）　柴胡（三分）</p>
<p>二劑愈。</p>
<p>此心、肝、腎藥，補腎生肝即補腎生心。或疑腎火動，不宜補腎，不知火動乃水衰，況心火必得水資乃旺，心、肝、腎火自平也。</p>
<p><u>補液丹</u>　治舌上出血。</p>
<p>人參　生地　淮藥（各三錢）　麥冬　當歸　元參（各五錢）　丹參（二錢）　北味（十粒）　黃連　貝母（各一錢）</p>
<p>外用炒槐花、三七根末等分，搽之即愈。</p>
<p><u>溫經湯</u>　治婦人經斷。</p>
<p>熟地　白朮（各一兩）　淮藥　當歸（各五錢）　棗仁（生）　白芍　沙參（各三錢）　丹皮　人參（各二錢）　柴胡　杜仲（各一錢）</p>
<p>八劑經通，一月受孕。</p>
<p>此心、肝、脾、腎同治。妙在補水以通之，開鬱以解之，倘徒補則鬱不開生火，徒散則氣益衰耗精，或用攻堅並辛熱之品，無益反害。</p>
<p><u>蕩邪丹</u>　治室女月經不來，如娠。</p>
<p>雷丸　大黃（各一錢）　桃仁（三十粒）　當歸　丹皮（各五錢）　甘草（生，二錢）</p>
<p>一劑下穢物半桶，再用：</p>
<p><u>調正湯</u></p>
<p>白朮　蒼朮　苡仁（各五錢）　茯苓（三錢）　陳皮　甘草　貝母（各一錢）</p>
<p>四劑經漸行。或疑鬼胎，必傷血，故血枯經閉，今墮其胎，何不補血，反補胃氣。蓋鬼氣中人，正虛可知，且血不驟生，補氣自易生血。二術補陽氣，陽旺陰自難犯。倘徒補血，則陰以招陰，恐胎雖下，鬼氣必再種也。</p>
<p><u>固本止崩湯</u>　治血崩，目暗昏暈。</p>
<p>熟地　白朮（各一兩）　人參　黃耆（各三錢）　當歸（五錢）　乾薑（灰，二錢）</p>
<p>十劑愈。倘貴藥重減半，必不能止。</p>
<p>此妙補血，更補氣，且補火。蓋血崩至黑昏暈，則血必盡去，僅存氣一線。若不急補氣，則有形血不速生，無形氣必盡散，故補血先補氣。然補氣不補血，血不易生；補血不補火，血自凝滯，不能隨氣速生。況乾薑引血歸經，補中有收，故妙。</p>
<p>補血湯加三七末三錢，桑葉十四片，治老婦血崩。</p>
<p>此用三七根止血，桑葉滋陰又收斂。但年老陰精既虧，此補精藥尚少，其後宜加白朮五錢，熟地一兩，淮藥四錢，麥冬三錢，北味一錢，多服。</p>
<p><u>固氣湯</u>　治受娠，血崩胎墮。</p>
<p>人參　白朮　熟地（各五錢）　當歸　杜仲（各三錢）　茯苓　甘草　棗皮（各二錢）　遠志（一錢）　北味（十粒）</p>
<p>十劑愈。</p>
<p>此固氣兼補血，凡因虛血崩，皆效。</p>
<p><u>引精止血湯</u>　治交感，血涓涓不止。</p>
<p>人參　棗皮（各五錢）　白朮　熟地（各一兩）　茯苓（二錢）　車前　荊芥（炒，各三錢）　黃柏（五分）　乾薑（炒，一錢）</p>
<p>十劑愈。</p>
<p>此用參、耆補氣，地、棗補精，精氣旺，血管自流動；加苓、前利水，水利血竅自利；加黃柏直入血管，引出夙精；加荊芥引出敗血；又益黑姜止血管之口。此實有調理曲折之妙，然必慎房事三月，乃善也。</p>
<p><u>平肝止血湯</u>　治血崩，作渴吐酸。</p>
<p>白芍（二兩）　當歸　白朮（各一兩）　柴胡（一錢）　三七根末　丹皮　生地（各三錢）　甘草　荊芥（各二錢）</p>
<p>四劑愈。</p>
<p>此妙白芍平肝，得柴胡而鬱盡解；白朮利腰臍，血不積注；荊芥通經絡，血自歸還；丹皮涼骨髓熱，生地清臟腑熱，當歸、三七補中止血，自郁散血止耳。</p>
<p><u>逐瘀止崩湯</u>　治跌僕，血下如崩。</p>
<p>大黃　龜板（各三兩）　生地（一兩）　當歸（五錢）　白芍（二錢）　丹皮（一錢）　枳殼（五分）　桃仁（十粒）</p>
<p>不必四劑。</p>
<p><u>清海丸</u>　治每交感即如血崩。</p>
<p>熟地　桑葉　白芍　白朮　元參（各一斤）　棗皮　石斛（各八兩）　北味（三兩）　麥冬　沙參　骨皮　丹皮　淮藥（各十兩）　龍骨（煅，醋淬，二兩）</p>
<p>蜜丸。滾水下，早晚各五錢。半年愈。</p>
<p>此補陰無浮動，縮血無寒冷，潛移默奪，子宮清涼，血海自固。</p>

<h2>內傷備用選方</h2>
<p><u>香砂平胃散</u>　主治傷食。</p>
<p>蒼朮（二錢）　陳皮（去白）　香附（制，各一錢）　枳實（麵炒）　藿梗（各八分）　厚朴（薑汁炒）　縮砂（薑汁炒，各七分）　木香（另研）　甘草（各五分）</p>
<p>姜，煎。</p>
<p><u>腥脾育胃湯</u>　治中氣不足，飲食不化，虛痞吞酸。</p>
<p>人參　白朮（炒）　白苓（各一錢）　半夏　蒼朮　縮砂（姜炒）　白芍（炒）　麥芽（炒）　厚朴（薑汁炒）　藿香　陳皮（去白，各八分）　枳實（麵炒，五分）</p>
<p>薑、棗，煎。</p>
<p><u>健脾保和丸</u>　消導飲食，有補有化，不致傷脾。</p>
<p>白朮（二兩）　枳實（麵炒）　查肉　陳皮　麥芽（炒，各一兩）　神麯（炒）　白蔻　木香（各五錢）</p>
<p>為末，粳米飯和丸，梧子大。白湯下五七十丸。</p>
<p><u>養脾丸</u>　治脾胃虛冷，飲食不消，或腹脹嘔泄。</p>
<p>乾薑（炮）　縮砂（薑汁炒，各四兩）　炙草（二兩）　麥芽（炒）　白苓　人參　白朮（各一兩）</p>
<p>為末，蜜丸，每兩分作八丸。薑湯下。</p>
<p><u>滋脾丸</u>　滋脾養胃，消化飲食。</p>
<p>神麯（炒）　麥芽（炒）　半夏　陳皮　蓮肉（去心）　枳殼（炒）　縮砂（薑汁炒）　甘草（各一兩）</p>
<p>為末，陳米飯和丸，梧子大。米湯下百丸。</p>
<p><u>葛花解酲湯</u>　治飲酒過傷，嘔吐痰逆，手足戰搖，精神昏亂，飲食減少。</p>
<p>葛花　縮砂（薑汁炒）　白蔻（各五錢）　青皮（三錢）　白朮　乾薑　神麯（炒）　澤泄（各一錢）　人參　豬苓　白苓　陳皮（各錢半）　木香（五分）</p>
<p>為末。每三錢，白湯調服。</p>
<p><u>對金飲子</u>　治酒食傷，和胃消痰。</p>
<p>陳皮（三錢）　厚朴（薑汁炒）　蒼朮　甘草</p>
<p>姜，煎服。加甘葛二錢，赤苓、縮砂（薑汁炒）、神麯各一錢，尤好。</p>
<p><u>人參散</u>　治飲食酒傷房勞，酒入百脈，令人恍惚失常。</p>
<p>熟地（二錢）　人參　白芍　天花粉　枳殼　茯神　棗仁（炒）　甘草（各一錢）</p>
<p>水煎。</p>
<p><u>龍腦湯</u>　醒酒消食。</p>
<p>縮砂（薑汁炒，二兩）　甘草（兩半）</p>
<p>為末。每五錢或一錢，茶清下。</p>
<p><u>葛花散</u>　飲酒令不醉。</p>
<p>葛花　小豆花（等分）</p>
<p>為末。每三錢，白湯調服。一名雙花散。</p>
<p><u>三豆解醒湯</u>　治中酒頭痛，嘔吐煩渴，善解酒毒，多飲不醉。因酒消渴，尤宜服之。</p>
<p>葛根（二錢）　蒼朮（錢半）　陳皮　赤苓　木瓜　半夏（各一錢）　神麯（炒，七分）　澤泄（五分）　生薑（三分）　黑豆　綠豆　赤小豆（各二錢）</p>
<p>夏月及酒渴者，加川連五分。</p>
<p><u>人參湯</u>　人遇勞倦辛苦，用力過多，即服一二帖，免生內傷、發熱等症。</p>
<p>炙耆（錢半）　人參　白朮　陳皮　麥冬（去心，各一兩）　茯神（八分）　炙草（七分）　五味（二十粒）</p>
<p>薑、棗，煎服。一名補氣湯。</p>
<p><u>二曲丸</u>　治脾虛痰盛，食不入，妙甚。</p>
<p>神麯（炒）　半夏（等分）</p>
<p>為末，以薑汁糊丸。服。</p>
<p><u>香砂養胃湯</u>　治胃寒，飲食不思，痞悶不舒。</p>
<p>白朮（一錢）　蒼朮　縮砂　厚朴　陳皮　白苓（各八分）　白蔻　人參　木香　甘草（各五分）</p>
<p>薑、棗，煎服。</p>
<p><u>守中金丸</u>　治內傷脾胃虛冷，腹中痞痛，或腸鳴自利，不思飲食。</p>
<p>蒼朮　桔梗　乾薑（泡）　炙草（各一兩）</p>
<p>為末，蜜丸，彈子大。每一丸，醋湯嚼下。</p>
<p><u>不換金正氣散</u></p>
<p>蒼朮　厚朴（薑汁炒）　半夏　陳皮　藿香　甘草</p>
<p>薑、棗，煎服。或加蘇葉、縮砂。</p>
<p><u>參苓白朮丸</u>　養元氣，補脾胃，進飲食，清火化痰。</p>
<p>白朮（二兩半）　桔梗　薏仁　白蓮（去心，各二兩）　人參　山藥　白苓　陳皮　半夏　扁豆（炒）　當歸　香附　遠志（去心，甘草湯泡）　甘草（各一兩）　縮砂（五錢）</p>
<p>共為末，薑、棗煎湯，打神麯一兩煮爛和丸，梧子大。白湯下百丸。一方有黃連、石菖蒲。</p>
<p><u>參苓白朮散</u>　治內傷脾胃虛弱，飲食不思，或吐瀉。</p>
<p>人參　白朮　白苓　山藥　炙草（各三錢）　薏仁　白蓮　桔梗　扁豆　縮砂（各錢半）</p>
<p>為末。每一錢，棗湯調服。或銼一兩，薑、棗煎服。</p>
<p><u>瑞蓮丸</u>　治內傷，脾胃虛弱，少飲食，或泄瀉。</p>
<p>山藥　白朮　白苓　芡實　白蓮　陳皮　白芍（炒，各一兩）　人參　炙草（各五錢）</p>
<p>為末，用獖豬肚一個，洗淨煮爛，和藥搗丸，梧子大。每早，米飲下百丸。</p>
<p><u>參朮調元膏</u>　扶元氣，健脾胃，進飲食，潤肌膚，生精血。</p>
<p>白朮（一斤）　人參（四兩）</p>
<p>並銼片，入砂鍋內，淨水十碗，熬取汁二碗，濾渣；又添水熬取汁二碗，去渣；將二次汁濾淨，和合，慢火熬至二碗，加入蜜半斤，再熬至稠釅，埋土中三日，取出。日服三四次，白湯調下。</p>
<p>又方，白朮一味，不拘分，如此熬法，三次去渣，和勻原汁，慢火熬至滴水成珠為度，或加蜜或不加蜜，取出，入磁瓶收貯，退火毒。每日白湯調服三四次，甚妙。大人，可加黃耆熬膏。</p>
<p><u>九仙王道糕</u>　養精神，扶元氣，健脾胃，補虛損，生肌肉，除濕熱。</p>
<p>蓮肉　山藥　白苓　薏仁（各四兩）　麥芽（炒）　扁豆（炒）　芡實（各一兩）　柿霜（四兩）　白糖（二十兩）</p>
<p>為末，入粳米粉蒸糕，曬乾。任意食之，米飲送下。</p>
<p><u>白雪糕</u>　治內傷，補養脾胃。</p>
<p>山藥　芡實　白蓮（各四兩）　粳米　糯米（各一升）</p>
<p>共為粉，砂糖斤半拌勻，蒸糕。食之，妙。</p>
<p><u>天真丸</u>　治內傷，脾胃俱虛，津液枯竭，形體羸瘁。</p>
<p>肉蓯蓉　當歸　山藥　天冬（各十兩）</p>
<p>四味為末，用精羊肉七斤批開，入人上藥末入內，紮緊，入糯米酒，置瓶中，煮令酒干，再入水二升，又煮，候肉爛如泥，乃入黃耆末五兩，人參末三兩，白朮末二兩，熟糯米飯焙末十兩，拌勻，同搗作丸，梧子大。每服百丸，日三服。久服滋血添精，生津液，潤燥澀。</p>
<p>以上俱飲食傷用。</p>
<p><u>大補陰丸</u>　降陰火，壯水要藥。</p>
<p>黃柏（鹽酒炒）　知母（酒炒，各四兩）　熟地　龜板（炙，各六兩）</p>
<p>為末，豬脊髓和煉蜜為丸，梧子大。每鹽湯下五七十丸。</p>
<p><u>加味補陰丸</u>　補陰虛，泄陰火。</p>
<p>黃柏　知母（酒炒，各四兩）　牛膝　杜仲（炒）　巴戟　熟地　棗皮（各三兩）　肉蓯蓉　白苓　枸杞　遠志　山藥　鹿茸　龜板（炙，各二兩）</p>
<p>為末，蜜丸，梧子大。鹽湯下五七十丸。</p>
<p><u>虎潛丸</u>　治陰虛勞症。</p>
<p>龜板（炙）　黃柏（炒，各四兩）　熟地　知母（炒，各三兩）　白芍　當歸　鎖陽（各二兩）　陳皮　虎骨（炙，各一兩）　乾薑（泡，五錢）</p>
<p>為末，酒糊和丸，梧子大。鹽湯下五七十丸。</p>
<p>一方，煮羊肉汁和丸，名龍虎丸。</p>
<p><u>補天大造丸</u>　壯陽光，滋腎水，為天地交泰。若虛勞之人，房室過度，五心煩熱，服之神效，久服延年益壽。</p>
<p>紫河車（一具）　熟地　當歸　茴香（酒炒）　黃柏（酒炒）　白朮（炒，各二兩）　生地（酒炒）　天冬　麥冬　牛膝（酒洗）　杜仲（炒，各兩半）　枸杞　五味（各七錢）　陳皮　乾薑（泡，各二兩）　側柏葉（向東枝者，焙，二兩）</p>
<p>為末，入河車共搗丸，梧子大。米飲或酒下百丸。</p>
<p><u>入門大造丸</u>　治氣血虛，陽痿面黃。</p>
<p>紫河車（一具，蒸）　生地（二兩半）　白苓（二兩）　縮砂（六錢）</p>
<p>後三藥以紗絹包之，入磁缸內，酒煮，再添酒，煮七次，取出，去苓、砂不用。蓋地黃得砂仁、茯苓，則入胃經故也。與河車，加前方藥料搗丸，服同法。</p>
<p>以上俱陰虛用。</p>
<p><u>參耆建中湯</u>　治虛損少氣，四肢倦怠，飲食少進。</p>
<p>當歸（錢半）　人參　黃耆（炙）　白朮（炒）　白苓　白芍（炒，一錢）　生地（酒炒，一錢）　甘草（五分）　五味（三分）</p>
<p>薑、棗，煎。</p>
<p><u>鹿茸大補湯</u>　治虛勞少氣，一切虛損。</p>
<p>肉蓯蓉　杜仲（炒，各一錢）　白芍（炒）　白朮（炒）　製附子　人參　肉桂　半夏　石斛　五味（各七分）　鹿茸　炙耆　當歸　白芍　熟地（各五分）　甘草（二分）</p>
<p>薑、棗，煎。</p>
<p><u>桂附湯</u>　治陽虛血弱，虛汗不止。</p>
<p>肉桂　附子（泡，各三錢）</p>
<p>薑、棗，煎服。</p>
<p><u>茸附湯</u>　治氣血精虛耗，潮熱盜汗。</p>
<p>鹿茸　附子（炮，各二錢半）</p>
<p>薑、棗，煎服。</p>
<p>以上俱陽虛用。</p>
<p><u>雙和湯</u>　治心力俱勞，氣血皆傷，或勞役後房室，及大病後虛勞，氣乏、自汗等症。</p>
<p>白芍（二錢半）　熟地　當歸　川芎　炙耆　甘草（各七分）</p>
<p>薑、棗，煎服。</p>
<p>一方同名，乃建中、四物合用，治大病虛勞氣乏最效。</p>
<p><u>異類有情丸</u>　治虛勞，氣血兩虛。</p>
<p>鹿角霜　龜板（炙，各三兩六錢）　鹿茸（炙）　虎脛骨（炙，各二兩四錢）</p>
<p>為末，用雄豬脊髓九條，同煉蜜搗丸，梧子大。每鹽湯下五七十丸。鹿，陽也；龜、虎，陰也。血氣有情，各從其類也。如膏粱善飲之人，可加豬膽汁，以寓降火之意。</p>
<p><u>是齋雙補丸</u>　平胃氣血，不燥不熱。</p>
<p>熟地　兔絲（各八兩）</p>
<p>為末，酒糊和丸，梧子大，酒下五七十丸。</p>
<p>以上陰陽俱虛用。</p>
<p><u>究源心腎丸</u>　治虛勞，心腎不交，水不濟火，怔忡盜汗，遺精赤濁。</p>
<p>兔絲（酒浸，三兩）　牛膝　熟地　肉蓯蓉　鹿茸（炙）　附子（泡）　人參　遠志　茯神　炙耆　山藥　當歸　龍骨（煅）　五味（各一兩）</p>
<p>為末，以浸兔絲酒糊和丸，梧子大。棗湯下五七十丸。此主心虛。</p>
<p><u>黑丸</u>　治虛勞，陰血耗竭，面色黧黑，耳聾目暗，腰痛腳弱，小便白濁。</p>
<p>當歸　鹿茸（炙，一兩）</p>
<p>為末，烏梅肉為膏，和丸，梧子大。酒下五七十丸。</p>
<p><u>滋補養榮丸</u>　治虛勞，氣血俱虧，精神短少，脾胃虛弱，專補肝血。</p>
<p>遠志　白芍　炙耆　白朮（各二兩半）　熟地　人參　五味　川芎　當歸　山藥（各二兩）　陳皮（八錢）　白苓（七錢）　生地（五錢）　棗皮（四錢）</p>
<p>為末，蜜丸，梧子大。米飲下五七十丸。</p>
<p>三方俱主肝血。</p>
<p><u>無比山藥丸</u>　補腎益精血。</p>
<p>五味（六兩）　肉蓯蓉（四兩）　兔絲　杜仲（炒，各三兩）　山藥（二兩）　赤石脂（煅）　茯神　棗皮　巴戟　牛膝　澤泄　熟地（各一兩）</p>
<p>為末，蜜丸，梧子大。米飲或酒下五七十丸。</p>
<p><u>小兔絲子丸</u>　治虛勞腎損，陽氣衰少，小便滑數。</p>
<p>兔絲子（五兩）　山藥　蓮肉（各二兩）　白苓（一兩）</p>
<p>為末，山藥糊丸，梧子大。鹽湯或酒下。</p>
<p><u>三味安腎丸</u>　治腎虛，氣不歸元，變見諸症。用此補腎，令其納氣。</p>
<p>破故紙（炒）　茴香（炒）　乳香（等分）</p>
<p>蜜丸，梧子大。鹽湯下三五七十丸。</p>
<p><u>補精膏</u>　治虛勞，益真氣，助胃潤肺。</p>
<p>山藥（八兩，另研）　胡桃肉（四兩，研如泥）　杏仁（去皮尖，炒，四兩，另研）</p>
<p>雄牛前腿髓四兩，蜜一斤，二味同煮，去渣，入三藥末和勻，入缸封固，重湯煮半日，取出。每一匙，溫酒調服。</p>
<p><u>衛生湯</u>　補虛勞，除煩熱，和血脈。</p>
<p>炙耆（二錢）　白芍（酒炒）　當歸（各錢半）　炙草（七分）</p>
<p>水煎，入酒服。氣弱，加人參一錢。</p>
<p><u>救陰理癆湯</u>　治陰虛火動，皮寒骨熱，食少痰多，咳嗽短氣，倦怠煩悶。</p>
<p>生地（薑汁酒炒，二錢）　當歸（酒洗，一錢）　白芍（酒炒，一錢）　五味（三分）　麥冬（去心，一錢）　人參（六分）　炙草（四分）　蓮子（去心，三錢）　薏仁（三錢）　陳皮（八分）　丹皮（一錢）</p>
<p>棗，煎服。</p>
<p><u>救陽理癆湯</u>　治勞傷氣耗，倦怠懶言，動作喘乏，表熱，自汗心煩，遍身作痛。</p>
<p>黃耆（酒炒，三錢）　人參（二錢）　當歸（酒洗，錢半）　白朮（炒，二錢）　炙草（五分）　陳皮（去白，八分）　五味（四分）　肉桂（七分）</p>
<p>薑、棗，煎服。</p>
<p><u>班龍丸</u>　常服延年益壽。</p>
<p>鹿角膠　鹿角霜　兔絲子　柏子仁（各八兩）　白苓　破故紙（各四兩）</p>
<p>為末，酒煮米糊作丸，梧子大。姜鹽湯下五十丸。</p>
<p><u>何首烏丸</u>　治男子元藏虛損，填精補髓。</p>
<p>首烏（八兩）　肉蓯蓉（六兩）　牛膝（四兩）</p>
<p>將首烏用棗一層，甑內蒸棗軟，用竹刀切，焙，同為末，以棗肉和丸，梧子大。每服五十丸，嚼馬藺子服，酒下，食前，一服加一丸，日三服，至四十丸即止，其效如神。</p>
<p><u>麋茸丸</u>　治腎虛腰痛，不能轉側。</p>
<p>麋茸（一兩）　兔絲子（一兩）　硫黃（五錢）</p>
<p>為末，以羊腎二對，酒煮爛，去膜，研如泥，和丸，梧子大，陰乾。如羊腎不敷，入酒糊佐之。鹽湯或酒送服五十丸。</p>
<p><u>聚精丸</u>　治腎虛，封藏不固。</p>
<p>鰾膠（白淨者。一斤，碎切，蛤粉或牡蠣粉炒成珠，再用乳酥拌炒）　沙苑蒺藜（五兩，乳浸一宿，隔湯蒸一炷香，曬乾，勿炒）</p>
<p>為末，煉蜜中加入陳酒，候蜜將冷，為丸，不可熱搗，熱搗則膠黏難丸，丸如綠豆大。酒下八丸。忌諸魚、牛肉。景岳加五味子二兩。</p>
<p>以上皆擇錄古方。景岳新方如歸腎飲丸、左歸、右歸飲丸及舉元煎等類，亦多可用，前《醫學指要》內備載，茲不贅及。</p>
<p>習醫數十年，研窮古聖經旨，先賢名論，因於虛勞失血之症，裁訂方法，加減施治，獲效頗多，附此以質高明。</p>
<p><u>培元養陰湯</u></p>
<p>紋黨參（三四錢至一兩。若初見血或有火，即用洋參）　泡於術（用米泔水泡）二日，荷葉包，飯上蒸過，不用土炒。三四錢，初起不用）　淮山藥（初用生，後用鹽水洗、蒸。五六錢至一兩）　薏苡仁（初用生，後用蒸。四五錢至七八錢、一兩）　霍山石斛（另煎濃汁，沖服。一錢至二三錢）　丹參（酒洗）　桔梗（泡）　廣陳皮（去白，一錢）　藕節（水洗，二三錢）　炙草（一錢）　白蓮（去心，三錢）</p>
<p>白茅根一撮為引。服數劑，血不止，可加黑薑炭五六分，數服自止。以後去藕節、姜灰，加玉竹（蜜蒸）四五錢至一兩，真阿膠（用蒲黃炒珠）三四錢，多服，引去白茅根，加白蓮、南棗。服至一兩月後，無反復變易，即用溫補、滋陰等劑，隨服，能加保養，自獲安全矣。</p>
<p>如咳嗽痰多，加麥冬（去心，米炒）一二錢，或加冬蟲夏草一二錢，或加貝母（去心，糯米拌炒）一二錢；若久嗽，肺氣虛極，即加北味二三錢，紫菀、百合一二錢亦可，其餘止嗽之藥切勿妄加。嘗見醫風寒咳嗽，誤用止嗽等藥，致成勞瘵而莫救，比比然也，慎之慎之。</p>
<p>此體經文補以味、調以甘之意，而扶脾助胃，保肺益腎，兼及之矣。蓋詳究藥性，山藥色白味甘，入脾肺，補不足，瀉虛熱。汪注云：陰虛則內熱，補陰故能清熱，則山藥自能補陰；且肺為腎母，金水相生，故又能益腎陰；脾為心子，子母相助，故又能益心氣；且稼穡作甘之本味，可治虛損勞傷，固宜用以為君。而臣之者，則有人參之益土生金，養元泄火，並治虛勞；薏仁之益胃健脾，補肺清熱，主治血症；或藉茯神之能守，安養心神；或資茯苓之微滲，交通心腎；甘草甘補脾胃，瀉心火，養腎陰，共相協和；惟白朮苦甘而溫，本生津消痰，但燥膩橫中，血燥乃不相宜，用之須慎。若其佐使，丹參入心與包絡，去瘀生新，除煩熱，一味功兼四物；石斛，甘淡入脾而除虛熱，鹹平入腎而澀元氣，益腎強陰，能補虛癆；桔梗入肺心胃，開提氣血，載運藥力；陳皮入脾肺氣分，調中快膈，導滯消痰，用為輔治，自能調劑適中。至於導向，蓮子交水火而媾心腎，安靖上下君相火邪，益十二經脈血氣；而藕節澀平，茅根甘寒，皆能止吐衄諸血。合成此劑，不寒不燥，補脾而不傷腎，益腎而不妨脾，彼此相資而有益，以視沾沾於滋陰降火，補陰抑揚，相去為何如耶。</p>

<h2>附《素問》濁氣歸心辨訛</h2>
<p>讀《素問》，至食氣入胃、濁氣歸心、淫精入脈節，此濁氣歸心，不得其解。因思心者，君主之官，神明出焉。如果濁氣歸心，焉得虛靈不昧，具眾理而應萬事者乎。按此心字，必因千百年相傳之書，脾字訛為心字。考《靈樞·陰陽清濁篇》曰：受谷者，濁；受氣者，清。又曰：營者，水穀之清氣也，調和於五臟，灑陳於六腑。又曰：陰清而陽濁。又曰：諸陰皆清，足太陰獨受其濁。夫腑為陰，藏為陽，既曰諸陰皆清，則心之受清可知；既曰足太陰獨受其濁，則濁氣歸脾之外，更無一臟再受其濁可知。是濁氣歸脾，經文無不印合，竊以為一字之訛，願以質之高明。</p>

<h2>附考正古方權量說</h2>
<p>古方自《靈》、《素》至《千金》、《外臺》，所集漢、晉、齊、宋諸名方，凡云一兩者，以今之七分六釐准之；一升者，以今之六勺七抄准之。古方權量皆起於律，古律侖容一千二百八十秠黍。《千金》論一撮者，四刀圭也；六十四黍為圭，半之為一刀圭；十撮為一勺，勺即侖也；兩侖為一合，合為升字之誤，一升共二千五百六十黍也。李時珍沿兩勺為一合之誤，更增十合為一升，則誤以傳誤矣。幸《千金》及《外臺》原文俱無此五字。可證二百四十黍為一兩者，《千金》云十黍為一銖。《圖翼》謂十黍當作百黍，非也。六銖為一分，四分為一兩，十六兩為一斤，此則神農之秤也。</p>
<p>寸匕者，作匕，正方一寸。錢匕者，以五銖錢為之。皆抄散，取不落為度。古人用散藥，以刀圭抄取之，匕亦刀圭之意也。一刀圭，為三十二黍。方寸匕者，十刀圭也，方一寸匕之，實容三百二十黍，准今一錢。《千金》論錢匕者，以大錢匕抄之。若云半錢匕者，則是一錢抄取半邊耳，並用五銖錢也。按：五銖錢，與開元錢徑同。一錢匕者，五分六釐也。半錢匕者，准今一分四釐也。一撮者，以三指為度。《千金》論一撮者，四刀圭也，得一百二十八黍，准今四分。</p>
<p>凡丸藥如梧子大者，准藥末一分；如彈丸及雞子黃者，准藥末一錢。《千金》論刀圭者，十分方寸匕之一，准如梧子大也。如彈丸及雞子黃者，以十梧子大准之。</p>
<p>宋林億以古三兩為今一兩，古三升為今一升，龐安常亦云然。此誤以漢之權墨為憑者，於古方不相涉也。故張介賓惑於鄭世子之《樂書》，定為古方一兩，今之六錢；古之一升，今之三合三勺者，尤為大謬。李時珍云：古方一兩，今之一錢；古方一升，今之二合半。亦非也。</p>
<p>夫以藥秤藥斤，農軒剏造之法物，孫真人祖述其意，定《千金方》首。今依四分為一兩為定，亦不依隋人以三兩為一兩之法。其述古藥斤制度中，即曰今人分藥不復用此。繼此有王刺史者，輯《外臺秘要》，每方必紀其所出。凡六朝所定，四分升合，皆兢兢法守，間有大升大兩，必分別具明。今良方具在，顧權量難求。棄若弁髦，強作解事者，從而式斷之，而醫宗之微旨，勢不至墮於地不止。觀東垣方，藥味多而分量輕。又宋時一切作煮散者，每服皆以五錢為例，可知仍不貴多也，蓋慎之也。近世醫者，任意重用為能，反以輕劑為膽小，殊不知重用而獲濟者，幸也；其或不濟而致害者，罪何能逭也。此皆不深考究以窮其理也，仁人志士顧如是乎。</p>
