<header data-type="book">
<h1>傷寒兼證析義</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張倬</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1667">公元1667年</data></dd></div>
<div><dt>底本</dt><dd>康熙戊申年（1668）刻本（<a href="https://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=feeeedb83ce3486bb32acaae20567564fDg5ODk4MQ2&SourceID=1">國家圖書館掃描本</a>）；《欽定四庫全書·子部五·醫家類·傷寒兼證析義》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0093/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>中風兼傷寒論</h1>
<p>晨窗雪霽，光射四壁，張子被褐方起，誦雪嶠熟煮春風劈爛椽之句。客有量屐過我而進苦雪篇者，中有凍餒相繼倒一語。憮然久之，因呼從事爐頭，相與平章風雅，杯霽內。論及醫道之難，而傷寒為最難，傷寒而挾雜病者尤難。是以亙古絕無兼該之例，後世不能兼善其術也。余曰：安有滔滔江漢不通潮汐者乎？苟能純一其道，則圓機在我，活法隨人，何慮兼症之不克哉！客舉手稱善，請析中風兼傷寒義始。</p>
<p>問：中經絡兼傷寒。曰：傷寒邪從外入，中風風從內召，雖同具汗下和解之法，而虛實之機，微有不同。傷寒悉從外邪起見，故必分營衛經絡，一毫不可混淆。中風外內合邪，故攻表必兼養正，如小續命中芎、歸、參、附之類。即兼傷寒者，亦當顧慮正氣為主，若率意攻表，則營熱轉甚，在裡之津液勢必隨表藥外泄，而為燥癢枯竟之症矣。</p>
<p>問：中血脈。曰：中血脈，即傷寒之半表半裡症，傷寒邪未深入，但須和解中風。陰血先虧，故必養血兼除風熱，所謂「血行風自滅」是也。在兼傷寒者，和解藥中稍加調血之味，以滋血燥，不得任用滋陰涼血之藥。</p>
<p>問：中腑兼傷寒。曰：中腑多見閉症，與傷寒之裡實脹閉不殊。傷寒邪熱入腑，灼爍陰津，故用承氣以泄其熱，不得雜一味表藥，恐引熱勢上蒸也。中風，是裡熱生風，木邪乘土，故攻裡必兼祛風熱，如三化湯中用羌活之義。閉症而見痰鳴喘脹，面赤口張，為正氣暴絕，此必不治。</p>
<p>問：中臟兼傷寒。曰：中臟多見脫症，與直中陰經之自利無異。古法用三生飲治脾肺之中，地黃飲子治腎肝之中，侯氏黑散治心與包絡之中。然用以治臟虛受邪之證，誠為聖藥。若卒中昏迷，手撒，遺尿，真陰失守之脫症，雖有合劑，不能復起，況兼傷於寒者乎？</p>
<p>問：類中兼傷寒。曰：類中大綱有三，曰氣衰，曰火暴，曰痰逆，總皆陽虛邪害空竅所致。河間之地黃飲子為下虛上盛，陰火暴逆而設；東垣之三生飲為脾肺氣衰，痰積於中而設；丹溪之星香二陳為形盛氣阻，痰盛於外而設。在兼傷寒者，三法俱不可效。惟和營衛中，隨症加養氣導火豁痰之藥，斯為兼得之法。</p>
<p>問：中風本有六經形證，與兼感客邪何異？曰：中風六經形證，是指口眼喎斜，肢體麻瞀等症而言，與傷寒六經見症不同。然亦間有惡寒發熱之候。但中風雖有惡寒，必常時凜凜，或經日不止，不似外感之驟然惡寒發熱如燔也。中風雖有火炎痰濕頭痛，必時甚時減，或晝甚，或夜甚，不似外感之頓然發熱大痛，晝夜不分也。中風雖有肢體煩疼，必麻痹不仁，或久臥床褥所致，不似外感之忽然壯熱無汗，骨節煩疼也。中風雖有表虛自汗，必時常濈濈，不似外感之驀然發熱，頭痛自汗也。中風雖有往來寒熱，必常常若此，不似外感之發熱頭痛，三四日而轉入少陽也。中風雖有大便枯約，必平昔至圊艱難，不似外感之大熱數日，熱邪入里而燥結不通也。中風雖有小水短澀，必向來不利，或見頻數，不似外感之熱結膀胱，煩渴引飲，小腹脹閉也。以此審辨，則中風之本症兼症可瞭然心目矣！</p>
<p>問：有年少體肥之人，平素左半身無汗，脅下一片常冷。數日前索逋下鄉，是日天氣暴寒，舟中食飯一著，隨食隨冷，便覺凜凜畏寒，登崖失足顛仆，扶挾解帶而寢。是夜即發熱頭痛，喘鳴胸滿，遍體煩疼，腰脊左脅尤甚，左半身不能轉動，仍冷不熱，手足亦微冷，第三日扶病而歸。其脈左手弦細，右手遲滑，絕不似外感之候。因見脈弦脅痛，與小柴胡二服，不應；又似半肢風廢，與小續命，亦不應。檢方書中半身無汗例，當二陳、四物合用。按法治之，亦無效。今舌上微有薄苔，而左畔白滑，右畔微黃，得病後，大便已去二次，去亦無多，小便略見黃澀，究竟此屬何症？當與何藥？曰：此人素有寒飲結聚脅下，更兼內外感寒，加以驚僕痰逆，則發熱喘鳴，頭痛，胸滿身疼，勢所必至。其右半經脈貫通處受邪，則從陽而化為熱，左半寒飲積結之界，平時尚且無汗，縱有寒邪湊泊，亦必從陰而釀寒。陽氣不到之所，自然重著難移，陽氣不行於脈，自然弦細搏指。至於右脈遲滑，手足微寒，皆緣脾氣向衰。熱勢不盛，所以舌苔不能幹燥，大便不能結硬。其小便黃澀一證，難因肺胃氣化不行，亦見下焦真陽未艾。斯人向後必夭，目今尚可挽回，當與五積散，晝夜三進，總藉辛溫解散之力，可以內消寒滯，中溫血脈，外逐表邪，一舉而有三得。其外可用白芥子、川烏、姜滓，炙熱包熨之。候表邪分解，裡氣調和，然後用六君子加辛、附、薑、桂之屬，徐溫中氣可也。</p>

<h1>虛勞兼傷寒論</h1>
<p>問：虛勞之人，兼感風寒者，何以辨之？</p>
<p>曰：必先明受病之三綱，見症之五常，然後參詳脈症，以辨客邪。三綱者，房勞傷、思郁傷、藥物傷；五常者，骨蒸、咳嗽吐血、泄瀉、男子失精、女子不月。此皆本病之常，他症雖繁，莫如此五者為甚。如平時骨蒸勞熱，時重時輕，火炎則面熱頰赤，兩角隱隱掣痛，忽然壯熱頭疼，不分晝夜，是感客邪也。平時咳嗽聲怯，痰涎不應，忽然鼻塞聲重，涕唾稠黏，是感客邪也。平時關尺脈弦，忽然人迎浮盛，是感客邪也。醫不達此，每認本病變重，日與調補，助邪深入，傷殘之餘，立刻告竭。究竟不知其為風寒，而反歸咎於飲食居處，不亦冤乎？</p>
<p>問：房勞傷者，先見何症？兼容邪者，當用何藥？曰：房勞傷者，作強太過，而傷其先天也。世俗謂之陰虛，而實兼傷陰中陽氣，故曰先天。若云腎本受傷致病，則有質之精，依然後天水穀所化，安得謂之先天乎？惟素稟虛寒，陽氣不振，恣餌金石熱毒，入於腎臟，傷耗真陰者，乃為陰虛。其症皆從下而上，由腎肝而至於脾，或先失血，或見遺精，次見咳嗽、骨蒸等症。真陽虧者，乏氣少食，後見泄瀉而危。真陰虧者，強中熱，必發臃腫而斃。故治本病之陽虛，八味腎氣、異功、保元等藥。兼外感者，黃耆建中。本病之陰虛，六味、都氣、補陰、虎潛之類。有藥毒者，滋腎丸洗滌之。兼容邪者，小建中加丹皮。先吐血者，為營血受傷，黃耆建中加當歸。先遺精者，為封臟不固，桂枝加龍骨牡蠣湯。雖有外邪，無逾上法，但須參邪之盛衰，從少從多以為活法可也。</p>
<p>問：思郁所傷，較斫喪所致者，孰重孰輕？證治與房勞何異？曰：斫喪是精氣受傷，可用填補之劑。思郁是神氣受困，七情之火交煎，真陰不久告匱，豈藥石之所能療哉？惟早適其志，為第一義。此病起於腎，關乎心，而迫肺傷肝及脾，再交水火，謂之七傳。初起骨蒸、乾咳，繼則亡血、失精、女子不月，至死而面色不衰。以其陰火蒸騰津液於上，所以肢體日削，神采愈鮮，不似房勞之精氣先傷而形神枯索也。在初起真陰未耗時，急宜調治，如地黃丸、逍遙散、歸脾湯之類。若經閉不行，而氣體尚強，可用玉燭散疏滌其熱，次以金匱下瘀血湯作丸，歸脾湯下之。倒經血溢於上者，亦然。男子失血遺清，都氣丸加鰾膠，與四烏鰂骨一藘茹丸間服。有外感者，通宜小建中湯加大劑牡丹皮，服後熱不除，合當歸補血湯自止。若誤與羌、防、升柴等藥，多致昏熱痞悶，變害不測，慎之！慎之！</p>
<p>問：醫藥傷者，傷在何經？治用何藥？更加傷寒，尚可一回否？曰：此皆表邪發散不清，病留肺絡而咳嗽纏綿。醫者不察認陰虛肺熱，而與寒涼清肺，降火滋陰，其邪從皮毛入肺，而及心胃，為從上而下，亦有因寒涼傷胃，胃輸寒氣於肺，咸必先嗽而後寒熱也。復有風熱認作風寒，誤投辛散而傷少陰之經者，必先咳唾膿血，而後泄利。又有汗下太過，失於調養而成。此則營衛受傷，必先微寒數熱而後咳嗽。凡此皆能致虛。若於本門求治，百不一效。惟用傷寒搜滌之法，庶或可圖。但得形氣未衰，脈症相符，從加客症，亦有成法，如邪留肺絡而喘咳不休，脈見浮緊浮數者，大小青龍、射干麻黃選用；喘咳有血者，和劑款冬花散之類服二三劑；而見鼻塞聲重，有似傷風之狀者，此邪從上泄也，即當以保元、異功少加細辛調理中氣，兼六味丸加桂枝滋其下元；若服二三劑，不應反加喘咳脈疾，或腹痛聲啞者，難已；如寒涼傷胃而咳，畏寒少食，氣口脈見緊細沉弦，大劑桂枝人參湯，服四五劑而見下血，或有積沫，小腹微痛，喜得溫按者，邪從下泄也，小劑理中湯和之，七日不止者，難治。風熱誤用辛溫者，麻黃升麻湯、葳蕤湯、消風散隨輕重而施。已上等法，皆是因風寒久伏，故與兼客邪者同治。惟汗下太過者，當助正氣，如十全大補、大建中、人參養營酌用。倘邪乘虛入，而見表症，新加湯、桂枝加附子湯、柴胡桂枝湯諒寒熱施治可也。</p>
<p>問：虛勞之因不同，而所見之症則一，其故何也？曰：致病之因雖異，其所受病者，不過陰陽血氣而已。故凡治療，必察陰陽，如骨蒸勞熱之晡發夜盛，善渴易飢者陰虛也。晝日煩熱，至夜稍安者，陽虛也；咳嗽咽乾，咳甚略有黏痰者，陰虛也。嗽多清，痰嗽甚，則嘔水者，陽虛也；吐血紫赤濃厚光澤，或有結塊星縷者，陰虛也。血色晦淡無光，吐久不凝，或雖有瘀結，多帶痰水者，陽虛也；瀉臭穢，身煩熱渴，或兼膿血者，陰虛也。瀉下純清水，或白沫者，陽虛也；失精夢寐不寧，二便引急，陰虛也。陰頭寒而精出不知，或溺後常有滑精者，陽虛也；經閉發熱咳嗽，五心煩熱者，陰虛也。少腹引痛而背微惡寒者，陰氣有餘，循經而乘陽位，必有乾血。若經雖不行，但少食倦怠，腰腹不痛者，陽虛也。陽虛則氣衰不能生血，經雖不通，必無結血，此病機之最要者，勿以其繁而忽諸大都。陰虛則熱，陽虛則寒，陰陽俱虛則寒熱之症，錯亂而見，又當審其偏勝而為處方。設不知此，日以不寒不熱之劑投之，則偏者愈偏，勝者愈勝，永無均適之期矣！故智者臨病務在調其所偏，察其所變。診察之際，其脈忽然鼓大，症異平時，便當推原飲食起居，以辨客邪有無之應；又有忽然惡寒發熱，脈無常候，乃陰陽倚伏亢極反害之大虛症，豈可一認風寒而與開泄，不旋踵而告變矣？歷觀此症，但陽虛，可服參耆者，十全五六。陰虛，不服參耆者，十難救一。若年在三旬以外者，其人質干已固，尚可斡旋，如在二十上下，非特筋骨柔脆，抑且情形難制。縱極力圖治，終難克效。</p>

<h1>中滿腫脹兼傷寒論</h1>
<p>問：脹滿兼傷寒，當與何藥？曰：先察其脹之屬寒屬熱，詳其邪之在表在裡，方可議藥。</p>
<p>問：脹諸腹大，皆屬於熱，恐無屬寒之理？曰：曷觀罈中之水，冰則脹，脹甚則裂，豈非寒極脹閉之一驗乎？</p>
<p>問：脹滿之寒熱，何以為辨。曰：諸病水液，澄澈清冷，皆屬於寒。水液渾濁，皆屬於熱。然亦有本寒標熱，而大便不實，小便赤澀者。大抵中滿，當辨痰飲食積；水腫，當辨陰水陽水；鼓脹，當辨氣血蟲積，此為大綱。</p>
<p>問：腫脹之表證，寒者何治，熱者何治？曰：中滿腫脹之人，痰濕素盛，中氣先傷，更加傷寒，未有不先犯胸膈，而為煩擾不寧，喘脹嘔逆之患。外證雖有頭疼發熱，人迎未必緊盛，然往往有氣口反大於人迎者，倘醫者不加辨察，只認本病變重，而與清熱利水，恣邪深入，輾轉誤藥不死不已。邪在表時，切不可動其痼疾，亦不可恣用表藥，惟當和其營衛為主。如寒脹用桂枝加附子湯、五積散；熱脹用桂枝加厚朴杏仁子湯、芎蘇散之類。本寒燥熱者，膀胱津氣大虧，切不可用利水藥，惟茯苓桂枝白朮甘草湯加蔥白最當。若溺閉小腹硬滿者，合用春澤湯，以五苓開結導水，四君滋其化源，此瀉中寓補之義也。</p>
<p>問：見半表裡症，何治？曰：此病本在裡，邪復向里，如大小柴胡之類，此後無妨礙。</p>
<p>問：見里症何治？曰：宿病雖有虛實寒熱之不同，若更加外邪乘機內入，雖正氣本虛，亦當微導以泄其熱，或通幽門，或疏水道，隨其攸利。若以其虛而禁攻，則邪氣流連，漫無解期矣。至於真元虛憊者，神丹亦不可復起也。</p>
<p>問：中滿，水腫，鼓脹，兼傷寒者，治各有異否？曰：三者皆屬裡症，咸禁升發。而中滿者，汗劑中宜加痰氣之藥，則不致於逆滿。水腫則可用開鬼門之法，惟極虛陰水，與陰本陽標者戒汗。若鼓脹則大忌發汗，當理中兼調營衛，多有浹然汗出而解者；若用表劑則熱轉劇，脹反甚，必無得汗之理，至其傳裡，當各隨本病之氣血痰水，兼以養正藥治之。慎勿以其虛而驟進壅補，亦不可脹而擅用峻攻，此治虛中實邪之大法也。</p>

<h1>噎膈反胃兼傷寒論</h1>
<p>問：噎膈、反胃異名同類，倘復為客邪所傷，其治亦彷彿否？曰：噎者，食即帶痰而出，有時屈曲而下；膈者，膈塞閉絕，上下不通；反胃者，飲食如常，後必傾囊而出。三症雖各有辨，而致病之由總不離乎鬱結，故其治亦不甚相遠。潔古以上焦吐者，從乎氣。言食則暴吐，心下嘈雜，皆痰飲鬱火所致。中焦吐者，從乎積。每吐則膈間隱隱刺痛，必有死血，好飲熱酒人每多犯此。若默默如癡者，為蟲積，《靈樞》所謂蟲為下膈是也。下焦吐者，從乎寒。食久不消，經日必吐，乃火衰不能生土，土不制水之候。王太僕云：食不得入，是有火也；食入反出是無火也。觀噎膈反胃症雖不一，其可治不可治，可一言而知。在老人中氣久衰，血液枯槁，更加鬱結而成真膈者，即不兼傷寒，百不一療。惟血氣未衰之人，因痰飲死血搏結為患者。縱加表症尚可圖治。其症雖發熱頭痛，而足必冷，傷於寒則鼻燥身疼，而脈微緊，中於風則鼻鳴乾嘔，而脈微數，以中氣久衰，不能鼓搏其脈，熱勢亦不能盛。與鼓脹之中蘊濕熱者不同。是以辨治尤難，治此者，雖當散邪為急，然必先安中氣，如甘草乾薑湯加桂枝薑棗之類，切不可雜一味耗氣破血攻伐宿病之藥。若胃虛而逆，大半夏湯、藿香安胃散，皆以人參助胃氣行藥力也。胃中痰濕上逆，腸鳴膈痞者，半夏瀉心湯以乾薑、黃連和其寒熱，則不致於抗格也。反胃嘔吐而渴，欲飲水者，茯苓澤瀉湯，以澤瀉引桂枝、乾薑之辛入膀胱，行布水精於五經也。若腎虛水逆而嘔，金匱腎氣丸，減半地黃，偌用桂枝兼散邪以收攝之。熱吐酸水噦逆，枳皮竹茹湯下佐金丸。如見里證，不妨用下奪之法，使氣下而不上，正與本病相合，如半夏生薑大黃湯、人參利膈丸，皆可應用。但胃中寒冷者，又為切戒。故仲景有客熱不能消穀，胃中寒冷則吐之論，當效理中加枳實加附子等法治之。</p>

<h1>內傷兼傷寒論</h1>
<p>問：勞力感寒，與傷寒症治何異？曰：勞力是內傷其氣，氣傷者補之；傷寒是外傷其形，形傷者瀉之。此形氣俱傷，內虛外實，有攻補兩難之勢。復有兼停宿食者，尤為扼腕。設醫者宿無成見於胸中，必致發汗以傷其表，則外熱轉盛，消克以傷其里，則痞脹益甚，輾轉奘伐，計無所施，惟有極力攻下而已，深可慨也！夫內傷一症，因勞動太過，陽氣亢極而化為火，火氣內盛，陰氣先虧，陽愈盛而陰愈衰，乃致清氣不升，濁氣不降。陰陽交錯，穀氣少進，胸中之陽，既不能內守，勢必上逆，外擾而為身熱頭痛，有似乎傷寒之證，而實非外感之邪。《內經》所謂陰虛生內熱，陽盛則外熱是也。後世惟東垣深得其旨，因立補中益氣湯，以升舉清陽，補益中氣，則濁陰不降而降矣。此方雖專為內傷脾胃而設，然邪乘虛入，非兼補則必不解，即於此湯稍加表藥，熱服取汗最捷。兼停宿食者，桂枝人參湯。若傷寒輕而內傷輕，黃耆建中湯。至若始為熱中，當確遵東垣補中益氣之法，未傳寒中則又不能出仲景理中湯之範圍也。</p>
<p>問：仲景形作傷寒，其脈不駭緊而弱，弱者發渴，夫脈弱則無熱邪，何故發渴？又何以知其為傷寒？曰：傷寒一科，原以症為主，脈參之。此因勞形作力而感寒發熱，故以形作傷寒目之。今世所謂勞力感寒者是也。夫傷寒之脈，法當弦緊，今因勞力傷其津氣，氣傷不能鼓運其脈，所以反弱；津耗不能上蒸於咽，所以作渴。雖非熱邪灼燥使然，而津液受傷則一也。按切脈之道，古人原合望、聞、問三法而言，今之病家不達此理，深居幃幄，惟以切脈試醫，醫者又恥於詳問，每多忽略。設遇此症此脈，得無有誤治之失乎？況人所稟之脈，與面目性情不殊，有偏大偏小，純陰純陽，反關四出，種種異狀，皆生成本脈，豈可悉歸之於病候耶？客云：向謂醫道之難，莫甚於脈，今聞是言，則知診法又不在七表八里，而在活法推詳，几几乎難言之矣。余曰：醫無難，察脈難，辨症狀難，用方難。夫察脈雖難，於活法而實無外乎規矩，不過原其人之清濁貴賤，形志苦樂與脈候之符與不符，便可推測病情之逆順。譬諸塾師講學得其旨者，自然不遠於理。用方如儒者作文，人於其旨，能有幾人合局；辨證如釋氏參禪，未悟以前，舉止障礙，既徹以後，觸處靈通，信手拈來，頭頭是道，然後方可自信而為人司命也。</p>

<h1>宿食兼傷寒論</h1>
<p>問：傷寒何以見有宿食？曰：傷寒而見胸前大熱，額顱脹，胸腹滿，按之痛，或嘔逆，或泄利，或腹痛，皆是停食之候。若右關脈見遲滑，為宿食傷胃澀伏為脾陰受傷，數盛為食積發熱。往往有脈見促結，症見足冷，乃宿食妨礙經脈流行之道而然，不可遂認為代脈陰症。大抵傷寒有發熱頭疼，雖見脈沉足冷，陽道痿縮，皆是陽症夾陰，合用溫中兼消導之劑，宿食一通，胃氣敷布，又當從陽症例治也。若誤認陰症而與四逆，則熱勢轉亢，真陰立槁，多致亡血躁亂而死，誤作實治，而與承氣則真陰下脫，虛陽上逆，多致喘脹開泄而死。近有一醫治尤德昭霍亂，四逆煩渴脈伏，誤與溫中藥，遂呃逆發斑，屢更四醫，雜治罔效，第七日求救於大人，曰：六脈洪滑而促，呃聲頻並，斑色焮赤，舌本紫腫，證脈俱陽，始先所見厥利脈伏，皆宿食阻塞於中，脾氣遏絕之候。腸中之垢雖下，胃中之實未除，與涼膈散去硝加犀角、黃連，一服斑退呃止而愈。復有少年患夾食傷寒，足冷，面戴陽，醫用發汗藥，致動陰血而見四逆，嘔泄無度，他醫用枳實理中，夜半陽回足暖。前醫復用消導收功，極詆參、術為非，病家反以為然，詎知此症之生，全賴溫中之力耳。一同道之室，傷寒夾食，自用疏表消導，四五日後邪熱入里，而煩渴引飲，水道黃赤，與五苓散，一服遂致水逆不入，小便涓滴不通，晝夜懊憹不安。下問於余，令用大劑五苓散，隨吐隨灌，繼用梔子豉湯灌，吐稠痰水飲數升，二便隨至，是夜即得安臥。彼謂自用之藥未嘗有異，但力未到不得收效，安知其為先前誤用五苓引邪犯本？故仍用五苓灌吐，領之外泄，其先後進退之機難為世俗言也。</p>
<p>問：傷寒夾食，何者宜消？何者宜下？曰：大法，當先去外邪，繼除裡實。在胃則宜消，在腸則宜下。若不分經腑，內外並治，必致引邪內犯故有表邪未盡，不可攻裡之戒。然人之所稟不無偏勝，宿食亦有寒熱，不可一途而取。如胃中痰濕素盛，必兼理氣豁痰；胃虛不能蘊熱，必兼溫中消導。有寒食伏久而化熱者，當兼清食積之火；有過用消克傷胃者，當溫中養氣，以資健運之能。若夫下症之緩急，豈特三陽明三承氣而已？如虛寒壞病，非假人參之力，則攻之不應。寒積固結，非籍附子行經，則下之不解。濕熱脹閉，前後不通，下症最急，非用木香、苓、半開發痰氣，則推之愈逆。大約水道不利，腸鳴腹滿之症，必無燥結，大黃必須薑製，芒硝斷不可施，與夏秋腸澼同法。然有一下即安者，有下後腸空，胃中之實得下而復黏者，即製劑之大小，亦當師以成法。如大承氣以蕩實熱，大黃不妨即用兩許；雙解散分解內外蘊熱，和雜藥不過二三錢，必續續而進，漸取開結之功；枳實梔子豉湯治食復，所加大黃不過博棋子大五六枚。臨症處方之際，苟非講明有素，必難合轍也。</p>
<p>問：傷寒停食症治，四時有異否？曰：非但四時症治有異，病名傳變，各各不同，而水土方隅，亦是不一。如西北土地高厚，風寒凜冽，患傷寒者，非特冬時，春夏恆多有之。嘗有北人在南感寒，二三日尚惡寒不止，直待服表藥後方發熱脈浮者。若嶺南炎方瀕海，冬月不寒，陽氣常泄，四時多患瘴癘，總無傷寒之病。在大江以南，水土卑弱，寒暖不時，傷寒與冬溫常間雜而發。舉世不察，概與辛溫發汗，致變風溫而死者多矣。亦有邪伏經中，至春夏而發為溫病、熱病者，至於春夏非時暴寒之症，與傷寒迥殊。冬月寒水司令，其邪雖必從太陽而入，實由陽維而斜次三陽，陰維而斜次三陰。蓋邪氣滿溢，必注溝渠，所以不從十二經而隨八脈也。其有宿食者，則必並諸陽明，以其經上貫額顱，是以必脹，即腑實熱蒸，頭痛亦然。若夫春時感冒，則司令已屬風木，必先少陽受邪，少陽在中，陽明太陽在外，受則三經俱受，故治感冒之藥，皆不分經絡，如芎蘇神術正氣之類，為停食感冒之的方。春時陽氣方升，致汗頗易，與蟄藏之令自是不同，夏月津本外泄，表氣先虛，雖或觸冒風露，消暑藥中，略兼透表即解。若恣用風藥，不無鼓動痰濕之虞。如更加停食，必致喘脹逆滿矣。大抵停食感寒，無論何時何症，但氣口脈顯滑盛，而手足溫和者，皆為易治；若脈見短澀，而四肢逆冷者，必難克效。此為總訣。</p>

<h1>素患咳嗽家兼傷寒論</h1>
<p>問：雜病以咳嗽為重，傷寒以咳嗽為輕，請明其故。曰：雜病之繁冗難明者，莫如咳嗽為最，然究其源，不過胃氣不清，陰火上乘，二者而已。《內經》雖分五臟六腑諸咳，而所重尤在「聚於胃」、「關於肺」六字，此內因之大綱也。外感之咳嗽，有風從皮毛而入於肺者，有寒從背俞而入於肺者，有素患咳嗽，復加風寒及形寒飲冷所致者。外感乃暴傷經絡之邪，一表即清，故為輕。雜病積久而發，且有寒熱虛實新久之不同，即善察病機者，急難獲效，故為重。若夫外內合邪，邪正交互，臟腑糾結之症，斷非見病醫病者之所可以克任也。</p>
<p>問：胃氣不清之咳，其病在胃，客邪所傷在經，治當從腑乎？從經乎？曰：胃為臟腑之總司，肺為諸咳之門戶，不但五臟之久咳乃移於六腑，即諸腑之氣，靡不本之於胃。故凡臟腑諸咳，咸聚於胃而關於肺也。所謂胃氣不清者，言水穀之氣，不能如霧之上蒸於肺，而轉溉諸臟，勢必留積於胃。隨熱氣而化為痰，隨寒氣而化為飲，胃中既為痰飲所滯，則輸肺之氣亦必不清，而為諸咳之患矣。其有六淫外感之邪者，又必兼經而治，如肺胃素有寒熱痰飲，諸嗽皆用上焦陽分之藥，則與風寒無礙。但虛嗽久嗽之兼風寒者，則難於補斂，稍費周旋耳。外感諸咳中，惟風熱、風燥二症，世所難明。如冬時先傷非節之暖，復夾風寒外遏，而致咳嗽痰結，咽腫身痛。自汗脈浮者，風熱也。治此者，當辛潤以解其邪，如葳蕤湯之類。切勿誤與辛熱發汗，致變風溫溫毒，自利發斑種種危殆。至於風燥一症，辨治尤難。蓋燥為秋氣，令不獨行，必假風寒之威而令，乃振咳乃發也。然考之於經，則不曰「秋傷於燥」，而言「秋傷於濕」，何也？夫秋令本燥，以長夏濕土鬱蒸之餘，氣漸漬於身中，隨秋令收斂而伏於肺衛之間，直待秋深燥令大行，與濕不能相容至冬而為咳嗽也。此症有肺燥、胃濕，兩難分解之勢，古方中惟千金麥門冬湯、千金五味子湯二方，獨得其秘。不知者以為斂散不分，燥潤雜出，則又置而不用，總未達分解之義耳！喻嘉言先生不明濕氣內伏，燥令外傷之意，直云《內經》獨遺長夏傷於濕句，致令秋傷於燥，誤為傷濕，殊失《內經》精微之奧矣。</p>
<p>問：陰虛咳逆之人，龍火易於炎上，若更感風寒，而用升散之藥，則虛火愈炎，為之奈何？曰：胃氣不清之痰嗽，症類繁多。若陰虛火炎之乾咳，惟有房勞傷精，思郁傷脾兩途。審系精傷，則宜補精；神傷則宜養神，一定法也，有客邪加臨而見表症，頻與小劑桂枝湯和其營衛，然必倍芍藥以護陰，增膠飴以潤燥，使中氣有權，則陰火不致於上炎，以共襄建中之功。況芍藥得桂，無酸寒收斂之虞，桂得芍藥無妄動陰血之患。如氣虛畏寒，手足寒者，則加黃耆，血虛煩熱手心熱者，則加牡丹皮，實陰虛感寒之神丹，即咳而小便利。若失小便者，亦不出是湯也。至若夏秋陰虛感冒，莫如蔥白香豉湯最宜。兼可以救溫病熱病時行疫癘之陰虛者，家大人嘗言崇禎辛已，歲饑民困，江南疫癘大行，凡服發表攻裡之藥者皆死，惟用敗毒散補中益氣湯，多有得生者。馮長年孝廉，素患陰虛咳嗽而犯時氣，遂用蔥白香豉湯加人中黃、童便，三日而安。又一地師，宿有血症，亦感是氣，即用前湯，更加犀角丹皮，服後大便下血而愈，是皆時氣中之變症也。近王公峻先生治一孕婦，風熱咳嗽已經發散後，胎上逼心上氣倚息，咳則遺尿，用紫蘇飲去芎藭腹皮加葳蕤、白薇三劑而胎始寧。家昆誕先治一少年，陰虛而傷秋燥，常時火炎乾咳，五心煩熱妄夢失精，小水時白時黃，秋忽大咳嗽，坐間遍地清痰，周身凜凜畏寒，肌表微微發熱，咳甚則嘔，嘔則鼻衄如注，大便枯燥，小水如淋，先用異功散去朮加山藥，次與六味丸加麥冬五味，半月而嗽方止。歷推諸驗未有不重在本病者，大抵火炎乾咳，悉是陰虛。古人雖有腎肝同治之論，然細格病情，多屬腎水枯竭，肝藏多火之症，所以只宜壯水制陽。若導火法，斷斷不可輕試也。</p>
<p>問：形寒飲冷所傷，與停食感冒何異？曰：停食感冒，是三陽經受病，食雖停而未嘗固結，胃府未必受傷，故但於解表藥中，略兼運痰理氣，其食自消，此形受寒氣胃傷冷食。內外並傷，乃致移寒於肺而為咳，鄰國尚然為壑，同氣連枝之脾能無寒中之患乎？此一經一腑二臟同時受病，非桂枝人參湯、枳實理中湯、四逆加人參湯等不能圖治，豈停食感冒之可與此例哉？</p>

<h1>宿病咽乾閉塞兼傷寒論</h1>
<p>問：人有素患咽中閉塞者，復傷於寒則汗下俱禁，有平時咽喉乾燥而患傷寒，則但禁汗而不禁下，何也？曰：乾燥與閉塞二者輕重懸殊，素常咽中閉塞，是腎藏精血空虛，生陽之氣，不能隨經上循喉嚨，所以汗之則血隨虛陽上脫，而厥冷蜷臥。下之則氣隨真陰下脫，而下利身疼，水漿不下也。平昔但乾燥而不閉塞，乃胃中津液不充，所以不宜發汗。設不知此而與汗劑重傷津液，不待經傳入腑而為燥結之患矣。故善治者，一見里症，即當微泄，以泄其熱。若待結定而下，則與延寇入室何異哉？</p>
<p>問：虛人不宜發汗者，並用建中以和之，如胃燥而用膠飴之潤，愚所易知。若夫腎虛而用建中，反實土以勝其水，得無愈傷其陰之慮乎？曰：所謂建中者，原在建立中土而堤腎水。方中全賴芍藥內護其陰，使虛陽無犯上之虞，則桂枝等得以建辛發散之功。更加膠飴滋中氣之燥而助其作汗，豈香燥助脾而有傷犯腎水之慮乎？</p>
<p>問：咽中閉塞之見里症，當用何藥？咽喉乾燥之見里症，當用何藥？曰：仲景豬膚湯治咽中閉塞之裡症神效。外編用童子小便，調生白蜜加豬膽汁隔湯熱服，面戴陽者去蜜和蔥湯亦佳。咽喉乾燥者用蜜煎導。熱甚用豬膽汁導。臍腹按之痛，用小承氣急下，以救胃中之津液，所以仲景但禁汗而不禁下也。</p>
<p>問：咽痛非有大熱，即為大寒。寒者，何以致痛，請明其故。曰：熱則火氣鬱蒸，血液燔灼，寒則經絡閉塞，陽氣不通皆能致痛，甚症雖繁，大約不出胃熱、陰火、寒犯少陰三種。如痛而喉舌赤腫，痰氣壅塞，身熱煩悶，前後不通，渴欲飲水，其脈實大有力，或沉伏而滑，皆胃中痰濕挾心包之火為患，此為實邪，或湧或泄或砭皆能取效。如咽喉雖赤而不甚焮腫，面上時有怫鬱之色，而手足不熱，二便不秘，渴喜熱飲，或口中時有清涎上湧，此龍火上騰而吸引陰津於上最危之兆。若左脈弦數者，陰虛水不制火，惟宜壯水制陽，若六脈數疾無倫，或右尺瞥瞥虛大者，虛陽遊散於上也，又當用引火歸源之法，此皆雜病，即有壯熱不得以傷寒目之。其驟痛無熱，而不腫不赤不渴，舌淡青紫，或嘔泄清水，二便清利，脈來沉緊者，此大寒人犯少陰之經也。若二三日而見煩熱躁亂，面赤足冷，脈變虛大者，陰極似陽，虛陽發露之候，急宜通脈四逆、白通加豬膽汁湯溫之，遲則不救。</p>

<h1>頭風兼傷寒論</h1>
<p>問：有患傷寒者，屢用發散，汗出身涼而頭痛愈劇，徹夜叫號，至夜則有微熱，此係何故？曰：此必素有頭風，或血虛風熱而過汗重傷血液，所以其痛益甚也。</p>
<p>問：治此者仍當祛風乎？清火乎？抑宜養血乎？曰：風火相煽，額與眉稜目珠但痛，當用選奇湯兼清風熱。久郁成頭風者，清空膏茶調散之類。大寒犯腦，痛連齒頰鬱閉成火者，非兼調寒熱則火不散，如本事玉真丸寶鑑石膏散，隨表裡而開發之。痛冬不除，須防目翳之患。肥人濕土盛者，半夏白朮天麻湯，瓜蒂散清理濕熱為要。若兩太陽痛連目梢者，為血虛，雖宜養血為主，然有火則兼清火，有邪則兼散邪，如四物湯加細辛蒼耳芽茶。當歸補血湯加蔥豉、薑、棗，皆前人已驗之良法。</p>
<p>問：一婦素稟羸弱，產育過多，常患頭痛，背上畏寒之極，夏月必用綿絮裹首，覆衣掩背。初冬傷寒，發熱頭痛異常，周身痛楚，膝下與手臂皆不溫，而手心獨熱，胸膈無恙，二便如常，或用表藥熱勢不減，畏寒轉增，胸膈迷悶，二便艱澀。李懷茲先生用補中益氣加蔓荊子，微汗而安。愚謂此婦雖虛，然既犯傷寒，法當解表何乃汗之不愈，補之即安，幸明示以開茅塞。曰：此婦素常陽氣不升，而頭疼背寒，復與發散傷其衛氣，所以熱不除而轉加畏寒也。用補中益氣以升舉清陽，衛得參耆之力，自能祛邪外散，非深得東垣之旨者不能也。</p>
<p>問：一老婦久患偏頭風，諸治不效，春間復感風寒，方士用火針刺風池、合谷等穴，針處皆發赤腫，氣從小腹上衝，不時頭面赤熱，諸醫莫解其故。因延瘍醫治之，用消毒藥，腫愈堅大，施元倩先生用桂枝湯數劑而平。細釋此症，似屬邪熱而用辛溫之藥反效，何也？曰：此即燒針令其汗，針處被寒，核起而赤之成法，幸有施子能用，知仲景之學，尚不至於全廢也。</p>
<p>問：今有一少年，形體肥盛，患傷寒昏熱，或用表藥不得汗，遂譫妄躁亂，愚用涼膈散加黃連而熱除，但頭痛經月不止，晝則目珠與眉陵太陽俱痠疼，夜則大痛引急如掣，目中如有風吹狀，以熱掌按之，即稍覺爽快，寐則頭與胸前大汗如漉，左脈緊細，右脈浮緩，服茶調散，用搐鼻法不應，與養血藥亦不應。不識此為何病？何藥可以收功？曰：此熱邪雖從內泄，而寒痰襲於經中，因體肥不能外泄，所以流連不解，《內經》所謂其人肥，則為目風眼寒是也，治當解營分鬱閉之火，除經絡沉沍之寒，授以三因芎辛湯加生石膏半兩，數日必能獲效，服之果然。</p>

<h1>心腹諸痛兼傷寒論</h1>
<p>問：凡宿有心腹諸痛，因外感之邪觸動而發。若欲先治表症，里痛勢難刻緩；若欲兼治其痛，又恐有礙於表，歷考方論中，素無成法，可師幸顯示至理，以補昔賢之未逮，曰：諸痛皆有表裡氣血虛實寒熱之分。其痛在肌表者，中間不無里症，如胃脘留飲之臂痛，腎虛足不任地之腳心痛，腎衰風襲之下體痿弱，骨節疼痛，豈非痛出外而病根於裡者乎？然病雖從內而發，其實痛在經絡，所以治表之藥，總無妨於本病，但不可不顧慮血氣以虛其虛，痛必轉劇也，其胸脅肩背諸痛，症雖不一，以大綱論之，悉為陽分之疾，縱有傷寒表症，而痛楚不堪者，不妨兼治其痛，並無引邪入犯三陰之虞，即使陰邪上逆，不過先溫其里。若腎心痛之與背相控，如從後觸其心者，仍無礙於里症也。觀仲景太陽例中，傷寒醫下之，續得下利清穀不止，身疼痛，急當救里，後身疼痛，清便自調者，急當救表，內有虛寒者，必當先溫其里而後解表，乃正治也。至於腰臍少腹諸痛，雖皆陰分之患，然既有表症則當從表治之，如腰痛而兼外感，亦須桂枝湯以分解太陽之邪，則裡氣亦得疏通，而痛必少緩，寒者則加附子以溫之。腹痛用小建中為土中伐木之聖藥，血虛而氣散者尤宜，有寒則加乾薑，寒甚則加附子。虛寒則用桂枝人參湯，寒極而嘔，金匱大建中湯。少腹痛，用當歸四逆湯，寒加吳茱萸最妙，此皆兼理外內之良法也，大抵有宿病之人，不得用峻汗峻攻之法，必參其人之形氣盛衰，客邪微甚，本病之新久虛實，向來之宜寒宜熱宜補宜瀉宜燥宜潤宜降宜升，或近日服過何藥之相安不相安，其間或挾痰，或挾血，或挾火，或挾氣，或挾水，或挾積，務在審症詳明，投劑果決，自然隨手克應矣。故凡智者用方，法法不離古人，而實未嘗執古人之成法也。</p>
<p>問：一少年素有便血，自言觸穢腹痛，經日不止，因覓土醫刺委中出血如注，是夜即大發寒熱，頭痛如搗，腹脅滿痛，不能轉側，譫語如見鬼狀，一館師以大柴胡下之而愈，愈後不時寒熱咳嗽，服滋陰清肺之藥兩月餘，其嗽愈甚，近日飲食少進，大便作瀉而兼下血，左右關尺皆弦細而數，未識此症，尚可圖治否？曰：此必刺委中時，感冒風寒，因其人素有便血，邪乘虛入，而為熱入血室，如陽明病下血譫語之例，非獨婦人經水適來適斷而有是症也。用大柴胡得愈者，是偶中，痛隨利減之效，原非正治，所以愈後不時寒熱咳嗽，脾肺清陽下陷而肺失通調輸化之氣也。斯時不與調補脾胃，反與寒涼清肺，則脾氣愈傷，不能統血而為下脫泄瀉之患。虛損已成，雖暫時復生恐難為力矣。蓋腹痛一症舉世咸謂沙脹，或刮，或刺，或飲冷水，種種為害非淺。曾見有陰虛停食腹痛，誤飲冷水，吐利不止。周身青黑而斃者，有經水將行作痛亦飲冷水，經閉不通而成蠱脹者，與夫痛痹一症，《靈樞》謂之賊風，後世方書名為痛風，亦曰白虎歷節風，近來呼為箭風，例禁湯液，恣用針艾火淬。愚夫無知，被其煽惑而受非刑，固不足訝，即明哲之士亦常以箭風二字鑿鑿而談，且有自任時醫者，身有所痛必請村中叟嫗挑淬，咒水吞符無所不至，吾將以《靈素·痹論》，《金匱》胸痹血痹諸例，請用從火，庶不致與俗全違耳。</p>

<h1>亡血家兼傷寒論</h1>
<p>問：仲景太陽篇中有亡血家不可發汗，發汗則寒慄而振。有衄家不可發汗，汗出則額上陷，脈急緊直視不能瞬，不得眠。夫亡血是統諸失血而言，何衄家另設一例，且血為陰，血亡則陰傷，陰傷則陽盛。何故汗之反寒慄而振？衄家何獨不然，又為額上陷。脈急緊等症。曰：血之與氣，異名同類，血雖屬陰實為陽氣之根，與氣相為維附，一息不能相離。凡人身中有氣不到處，則血凝不流而為刺痛，痛處必熱有血不行處，則水飲襲入而為腫痛，痛止必寒。素有血症之人，復發汗以奪其血，寒慄而振，勢所不免，血既消亡於內則陽氣無根，所以諸亡血家驟脫不止，必用大劑人參斂其神氣，氣斂則血有所統，無復再脫之虞。斯時雖不敢望其陽生陰長，但得扶定胃氣以進飲食，即是生長之基。設不知此而用血藥，惟有膩膈傷中，而為奪食泄瀉之患也。至於衄血一症，皆由陽明經火氣逆行而至。故曰：衄行清道，不知者以清道指肺，遂有衄血出於肺之說，大可噴飯。詳衄血一症，十二經惟手足陽明太陽四經有之，即使因肺致衄，亦必由手陽明經而至。肺雖清肅之藏，業常少血，且經脈不行於鼻孔，其血從何而至哉？蓋陽明多氣多血，是以患其症者恬不知怪。然慣衄之人，稍有勞動或煩心過飲，受熱感寒，血必隨火而行熟徑。蓋火即氣，氣隨血散，久之經氣並傷，更加奪汗則血不榮筋，而為兩額之動脈收引，瞀急不能卒視也。其所以不得眠者，虛火蘊降於胃，胃不和則臥不安，此皆亡血人復發其汗之候。若因傷寒而致亡血，又當隨症施治。如太陽症失汗，邪留經中而衄。非麻黃湯汗之不解，有熱傳營分而為吐血則當清解其內，如犀角地黃湯。黃連阿膠湯之類。凡此種種，未遑盡述，姑就宿病傷血之人傷寒表症而言。如衄血則宜小建中加犀角、丹皮，咯血則宜小建中加丹皮、童便，吐血則宜黃耆建中加童便、阿膠。伏氣發溫而為吐衄。皆從內而至，經絡胃府，通宜涼膈解毒三黃石膏加蔥豉、童便之屬。若感冒風熱之衄。則宜蔥白香湯加童便。若素有便血而兼傷寒，則宜千金內補當歸建中，寒加灶土、炮姜，熱用白頭翁湯。婦人宿患血崩而感客邪，則宜金匱三物旋覆花湯加香豉，或當歸建中加黃耆、防風、蔥豉最妙。至若熱邪傳裡而觸動陰血，無論宿病新病，皆無表症糾纏，但須詳從何道而至。或稠或清，或鮮或晦，自可直清本病，竟行無礙矣。</p>
<p>問：亡血家，衄家，症見於外，尚有發汗之誤，其血蓄於內而顯發熱頭痛者，得無誤汗之患乎？曰：凡蓄血必有見症，可察而知其所患處有三。蓄於胃脘之內則胸膈隱隱刺痛，甚則牽引於背；蓄於厥陰之經，則脅下痛引腰脊；蓄於膀胱之府，則少腹急痛，若小便不利者，並傷氣分也，其辨治之法，須詳新久虛實寒熱，大率新者多實，實則宜攻，久蓄必虛，虛當兼補，寒則非暖不散，最忌酸寒，熱則宜於寒下，然必加辛溫而為嚮導，亦有症顯虛熱，而所蓄屬寒者，必畏寒而畏熱飲，不可因其假症，而誤與寒涼攻血，多致發呃脫瀉而死。其治蓄血之兼傷寒表症，輕則小建中、香蘇散之類，重則五積散隨上下寒熱而為裁酌。至見半表及傳入里，皆與本病無礙，但久蓄虛人，不可輕動其血，此為切禁。</p>
<p>問：鄒孔昭之弟，費仲雪之女，皆患失血，何以知其必死而辭之？曰：孔昭昆仲俱患喘咳吐血，肩息不得臥，孔昭之脈，尺部雖弦而寸關卻浮，症雖陰火迫肺，脈則兼感客邪，且審其所吐之血，多滯涎水，知必從胃而出，故先與小建中加丹皮，和其營衛，續於異功去朮加薯芋丹皮，下靈砂丹收攝陰火，則肺胃自清。於昭之脈，關尺皆弦細如循刀刃，血色正赤如凝朱，為少陰守藏之血，故知必死。費仲雪先生，久患膈塞嘔逆，中脘攪痛如刺，或時痰中帶血，六脈沉細如絲，自謂六陰之脈，及按至神門，別有一脈，上至陽谿迢迢應指，知胃氣未竭，尚可苟延。其令愛不過咳血一二次，尚有梳洗出，診脈得純弦細數，此胃氣已竭，安有復生之理。</p>
<p>問：郭孝聞之室血崩，聞用金鈴子而愈，何也？曰：孝聞夫人暑月經行時，涼臥風中，先患淋瀝，加以惱怒跌哭，遂崩脫不止，小腹中如線一條，貫心掣痛，常發熱頭疼，遍體煩疼。服止血諸藥不應，而進參、耆，忽然昏憒不省，崩脫愈甚，深夜急遽邀往，脈得弦大而芤，獨左寸丸滑，知衝任二脈受病，明是風入胞門所致，久之風從火化，血愈傷而火愈熾，非旋覆花湯、金鈴子散兼進，不能清其風熱，降其逆氣也。況此症多有火淫血室，濕結子戶及鬱結傷脾，怒動肝火，驚恐失跌，種種不同，若用通套升發補斂之藥，烏能獲效哉？</p>
<p>問：兵道李石臺內侄之傷寒，更七醫而轉篤，皆不識為何症？尊大人何以知其為血而下之？曰：魯公乘於夏月，從陸來吳，途中中暍受傷有之，大暑中何有傷寒之症？醫見壯熱昏憒，便與發汗，發汗不已，兼之消導，消導不已，繼進參、術，主見雜出，補瀉遍嘗，正氣轉傷，蓄積愈固而見善忘如狂，身汗如油，直視不眠，唇反不收，齒齦腐穢，七晝夜喃喃不休，手足動掉不寧，脈得純弦而豁大中芤，明是蓄血而兼狐惑之症，急與犀角地黃湯加黃連、烏梅清其胃，安其蟲，腹中之黑物自下，而神識頓清，從未嘗用攻血之藥也。</p>

<h1>多汗家兼傷寒論</h1>
<p>問：汗家不宜發汗則邪從何解？曰：所謂汗家不當發汗，是指平昔腠理不固，不時傷風自汗者而言。即仲景例中汗家重發汗，必恍惚心亂，小便已陰疼一條，不過言衛虛營氣常泄之人，汗之復傷其營，乃有如是變症，非謂多汗之人，一概不可發汗也。嘗見陰虛盜汗者，發汗不得汗，則乾熱不已，汗出則足冷麵戴陽。陽虛自汗者，發汗則惡寒不食，甚至冷汗厥逆。蓋陰虛則血熱，其汗亦熱；陽虛則氣寒，其汗常冷，且有胃氣虛寒者，常出淡汗。凡此皆以發汗為禁，惟小建中為主，陰虛加丹皮，陽虛加黃耆，陰陽俱虛二味並加，胃虛自汗不止，則加人參，又有血虛心痛，則加當歸，血虛寢汗熱不止，則合當歸補血湯，皆萬舉萬當，百不失一者。若夫濕熱素盛之人，舉動則渾身汗出，設有客邪表症，亦謂其虛而禁發汗，則表邪與內濕固結難分。當乘邪未入里時，急與表散。但表法與尋常不同，必兼辛涼淡泄之味，則胃熱方化，非但無痰逆氣滿之虞，並可以杜風熱內入之患，如越婢加半夏湯，小青龍加石膏湯，麻杏甘石湯，麻黃連軺赤小豆湯之類。若治稍失時，邪一入內，即當隨症用瀉心湯諸法。復有濕熱多汗之人而兼陰虛者，汗之則喘汗胸滿，上熱下寒而上脫，下之則溺閉腹脹，五液注下而下脫，兼陽虛者汗之則額上與手背冷汗不止而上脫，下之則呃逆嘔穢，暴下不止而下脫，所以犯此皆死。余嘗用小陷胸合豬苓湯治陰虛濕熱，小陷胸合理中湯治陽虛濕熱。每多見效，倘陰虛下利不止，用赤石脂禹餘糧湯，陽虛下利不止，用桃花湯間用得生者，此皆平時多汗，復感客邪之候。若因外感而見自汗者，則與上法無預也。</p>

<h1>積聚動氣兼傷寒論</h1>
<p>問：積聚動氣三者，皆腹中固疾，其受病之原有異否？曰：積聚寒氣客於五臟之膜，血氣不行所生，聚則汁沫取勝於六腑之廓，溢蓄不瀉而成動氣，為無形之氣受病，所以忽有忽無，與積聚之有形質者不同。</p>
<p>問：有動氣之人，不可汗下，其有積聚者，亦有所禁乎？曰：動氣是脾衰氣失統運之候，汗下先動脾津，故為切禁，非若積聚初起之可用攻擊者。若久病氣衰，亦必兼補而攻始應。嘗見有積聚誤汗則津液外泄，固結隨表藥而上升者；誤攻則氣隨下脫，陰邪無制而愈逆者；亦有下之便利不止水道澀痛如淋者，《內經》所謂此風根也，不可動，動之為水溺澀之病是也。</p>
<p>問：已誤汗下者，為之奈何？曰：誤汗虛陽擾亂而氣上衝，或咳吐眩惕，或心煩惡寒者，通宜五苓散去朮多加棗仁降斂之，誤下虛陽不禁而氣下奪，或身熱蜷臥，或下利汗出者，金匱大建中湯，吳茱萸湯，附子理中加桂苓湯，急溫其里，則虛熱不治自息矣。</p>
<p>問：三證之表法。曰：積之兼表者，以溫血為主，如甘草乾薑湯加桂枝、薑、棗。感冒則香蘇散、蔥白香豉湯。聚之兼表者，以滌飲為先，如小半夏茯苓湯加桂枝、薑、棗，或四七湯、芎蘇散之類。動氣之兼表者，以安中為務，如小建中黃耆建中為最當，非若積之芍藥助陰，有礙聚之，膠飴助濕難投也。若營傷無汗者，則合香蘇飲。凡表藥皆升，而香蘇獨降也。</p>
<p>問：三證之和法。曰：和法總不出小柴胡，然於本方中宜除去參、芩，積加細辛、乾薑，聚加茯苓、橘皮，動氣但去黃芩加木香、桂心之類。又須知中虛挾邪之人，胸多寒熱不和，常有痞滿之患當於三瀉心湯、黃連湯、旋覆代赭石湯選用。若等脹滿喘急而治難為力矣。</p>
<p>問：三者治失其宜而見里症，當何法以除之。曰：大約中氣久虛及有宿病之人，先用導法，如積用蜜煎加川烏末導，聚用豬膽汁加薑汁導，動氣用醬姜導。若裡熱勢劇不下，必死者，積用大黃附子湯，聚用厚朴七物湯，動氣理中湯去朮，加桂苓薑製大黃微利之，庶免陰氣逆上之虞。至於伏氣發溫，雖有積氣當涼膈散，大柴胡，及三黃石膏加大黃急下之，以熱毒從內而發，里先受邪，所以不禁內奪，非導法所能盪滌其熱也。</p>

<h1>疝證兼傷寒論</h1>
<p>問：七疝之名，各有不同且所治諸藥，多寒熱錯雜此屬何意，曰：疝瘕之症，因《內經》有任脈為病，男子內結七疝句，致元方、子和各立七疝之名，咸非《內經》所謂。《內經》以邪留諸經，腹中引急，諸痛通名。曰：疝近世惟以睪丸之病為疝，外此皆置而不論也。詳經中雖有贓腑諸疝，統而言之不離任與厥陰。蓋肝則任之生化，任之陰氣為疝，肝之陽氣為風，故治疝多用風藥，觀金匱大烏頭煎烏頭桂枝湯，並不用附而用烏，義可見矣。夫疝之受病，多由寒熱不和，所以經脈緩急，即使濕熱必因寒束而痛，伏寒必由火鬱而發，但須詳偏寒則從寒，偏熱則從熱，如烏頭梔子湯，治本寒標熱，少腹中緩急，痛引心脅之疝，蒼朮五苓加枳實檗皮湯治頹癃脹墜之疝，皆寒為熱引熱為寒導之法，然其症各有所挾，必非空氣作痛，故有血則兼攻血，有積則兼攻積，能識此義，方可與言治疝諸法。</p>
<p>問：疝症多兼風治表症，自可無虞，不識里症有所禁否？曰：在無客邪時，治其本病多兼風藥。若一有風寒，則表藥反難恣用。常見有疝瘕人，服羌防柴葛之類升動陰邪，每致喘脹嘔呃，善治者必兼桂、苓、枳實等味於香蘇、芎蘇、小建中、蔥白香豉諸方中，則陳氣不至於上逆。若有陳寒必加烏附細辛、薑、桂之屬，裡氣不溫，外邪必不得散，倘見里症，切禁苦寒峻攻，與積聚等法無異。</p>

<h1>淋濁兼傷寒論</h1>
<p>問：諸淋皆腎虛膀胱受熱，何古方中多有用熱藥者。曰：淋之為病，小便如粟狀，方書分膏石氣血勞五種。丹溪謂諸淋皆忌補氣，氣得補而愈脹，血得補而愈澀，熱得補而愈甚，惟勞淋則宜補氣，但須兼利州都，則水道之熱方化。然多有腎虛囊中受寒者，症必先寒凜而後溲便血淋，亦有屬寒者，其色必瘀晦無光，不鮮不紫，是皆膀胱虛寒，陽不化陰之候。觀金匱治小便不利，有水氣而渴，用栝蔞瞿麥丸，消渴之飲一斗溲一斗，溲上如脂用腎氣丸，一屬腎氣不開，一屬腎氣不合，並用附子以司開合之權，豈可概謂膀胱受熱乎？</p>
<p>問：濁帶之症丹溪謂胃中濁痰滲入膀胱，而所下常有赤色者何。曰：肥人固多濁帶而瘦人亦恆患此，且多有陰中不潔，敗濁襲入精竅者，辨治之法，大約以干掩竅端者為火，不幹掩者為濕。小水赤澀而痛，或濁有赤色者，為小腸濕熱，小水不赤不痛而所下色白，或滲利轉甚者，為脾氣下陷。莖中痛癢而發寒熱，或有結痛者，為毒邪所侵。若此種種，詎止痰濕一端而已。</p>
<p>問：淋濁皆前陰之疾，設有是症而更傷於寒，其治亦相類否？曰：淋為精病，濁為氣病，安得相類精病，則宜黃耆建中，熱加丹皮，寒加附子，下消走精二味並加。精滑不止，或夢中走泄，桂枝加龍骨牡蠣湯。氣病則宜香蘇散，濕加苓半木香，熱加蔥豉滑石，虛加升柴參耆。水氣上逆而渴，五淋散灌吐取汗最捷，此皆治淋濁兼外感之良法。復有兼雜他症者，如苕溪田孟先，久患膏淋溲中有塊如橘核狀，外裹血膜，中包黃水，乃醉後入房，酒濕流入腎藏所致，遍服利水固精藥不應，溽暑中忽然憎寒發熱，喘促悶亂，腰背煩疼，脈見浮濡沉細，是淋久陰傷暑氣襲虛之症，先與生料六味加川萆薢作湯，下消暑丸，次用前湯送本事豬苓丸，八服諸症霍然。江右孝廉蔡允恭，嚴冬患濁，小腹結硬大發寒熱，巔痛自汗，脈得左緩右澀，兩尺緊細，乃風挾毒邪入厥陰之經，與當歸四逆湯熱服，覆汗而熱除，即以前方除去通草、薑、棗，加蠍梢陵鯉甲麝臍，丸服不令作汗，數日塊消痛止，但濁猶未淨，或令嚼生銀杏而痊。世人咸謂銀杏澀精，殊不知其專滌敗濁也。</p>

<h1>瀉痢兼傷寒論</h1>
<p>問：泄瀉皆脾胃之疾，何《內經》有風寒濕熱之泄，且治瀉多有兼用風藥者？曰：六氣中，除燥氣外，皆能為瀉。其邪咸從經絡入犯中土，所以治瀉多用風藥，即內因之瀉，亦常兼用，如脾虛氣陷作瀉，用補中益氣，必加羌、防以勝濕，乃正治也。其五更腎瀉，昔人皆謂腎虛，而用四神五味補斂之藥，服之未必悉應，殊不知此皆酒濕入傷水藏所致，余嘗用金匱澤瀉湯加薑、辛、五味、萆薢之屬，往往獲效。又有脾腎俱虛之瀉，若小便清利倍常，則泄瀉大作，此降泄多而升氣少，切不可用苓、澤之類，且關門失守，腎氣空虛亦不得用升、柴等藥，惟宜附子理中，加紫石英、赤石脂、紅豆以固斂之。如素有酒積食積，痰濕水飲，或積兼氣滯頓瀉而兼感外邪者，並宜香蘇散為主，酒積合澤瀉湯，食積合平胃散，痰濕合二陳湯，水飲合五苓散，氣滯合四七湯。瀉症繁多，聊舉一二為例，余可類推矣。</p>
<p>問：滯下以通利為務，若兼感風寒而與通利，能無妨於表症乎？曰：痢疾多患於夏秋，本無傷寒之理，然初秋常有非時暴寒，或久痢延至冬時，及休息痢，多有兼外感者，既有表症，自應救表，但須審本病之新久虛實，或氣分受傷，或血分受傷，或氣血並傷，參酌而治可也。夫痢之通利，不過乘初起濕熱全盛時，乃為相宜然在元氣虛人，傷犯胃氣，多有呃噦不食下利不止而危者。當知積滯原系腸中津液，因氣不統運而為敗垢，惟當宣通其氣，則失統之敗垢自下，未傷之津液自安，後重窘迫自除矣。近世但守痛隨利減一語，既以通利瀉氣之劑，施之久痢虛痢，吾未見有得愈者？況兼客邪為治乎？方書中原有胃風湯治風毒下痢，參蘇飲治下痢發熱，白頭翁湯治熱痢下重，敗毒散治疫痢壯熱，陽旦湯治血痢身熱脈浮，陽旦湯治血痢瘀晦腹痛，當歸四逆湯治下痢身熱手足冷，五苓散治下痢有熱水道閉，升麻葛根加犀角湯治下痢身熱發斑，調中飲治下痢胸前手足陰斑，三奇湯治久痢後重不除，補中益氣湯治久痢元氣虛陷及瘧後病後一切虛痢，皆先哲之成，則未嘗不用傷寒之法也。然非博聞廣識之士，難以語此。</p>
<p>問：一人陰虛發熱，下痢赤白至夜煩渴不寧，或用涼血攻積藥而死。一人陰虛發熱下痢五色，胸中常覺飢狀，得食則脹，或用補中益氣而死。一人陰虛發熱，下痢不食，郭友三先生用豬苓湯，黃連阿膠湯而痊。二方度非下痢門中藥，而用之輒應，何也，曰：世患陰虛下痢者頗多，古人從未闡發其症，未有不發熱不煩渴，不畏食不見紅，不夜甚者。蓋陰氣內亡，勢必虛陽外擾，故治陰虛之痢，涼血死，攻積死，補氣亦死，惟兼清解熱毒，兼滋陰血，庶可保全。此用仲景少陰例中救熱存陰之法，與金匱治產後下痢虛極用白頭翁加甘草阿膠湯不殊也。</p>

<h1>胎產兼傷寒論</h1>
<p>問：孕婦百病以胎產為主，若有外感客邪，黃芩、白朮仍宜用否？曰：古人用黃芩安胎，是因子氣過熱不寧，故用苦寒以安之；脾為一身之津梁主內外諸氣，而胎息運化之機，全賴脾土，故用白朮以助之。然惟形瘦血熱，營行過疾，而胎常上逼，過動不安者，乃為相宜。若形盛氣衰，胎常下墜者，非人參舉之不安。形盛氣實，胎常不運者，非香砂耗之不安。血虛火旺，腹常急痛者，非歸芎養之不安。體肥痰盛，嘔逆眩暈者，非苓半豁之不安。此皆治母氣之偏勝也。又有父氣虛羸或有宿病而胎稟不固者，則當如父調理自安。若因風寒所傷，而胎不安者，則桂枝湯，香蘇散，蔥白香豉湯諒所宜而用之，和解則小柴胡，柴胡四物，里症則大柴胡，小承氣，涼膈散，隨上下輕重而施。伏邪時氣尤宜急下，此即安胎之要訣，《內經》所謂有故無隕是也。下藥中獨芒硝切不可犯，凡胎死腹中，及誤斷臍腸胞衣上升，壯實人並用平胃散加芒硝，虛人理中湯。因外感傷胎者，五積散加芒硝服之，胞胎即縮小而下，走血之性可知，其半夏、大黃，雖言孕婦忌服，然用之得宜，亦安胎聖藥。若有客邪而用芩術，使熱邪留連不解，反足傷胎，觀紫蘇飲治孕婦風寒，惱怒喘脹，腹痛諸疾，即於本方除去川芎生薑，而加白朮，為達生散。瘦胎飲，則以芩術為君而加枳殼滑石，豈二味專主安胎，又能滑胎耶？蓋瘦胎飲一方，特為奉養太過，胎肥不能轉運而設。今人不達此理，無故服之，傷耗其氣，臨產無力送胎，反致難產，及釀成產後諸患者不少，良由不明虛實補瀉故爾。</p>
<p>問：產後以行血為務，若有表邪，而與行血，得無引邪傷營之患乎？曰：產後諸疾非行血則邪不去，即諸虛症亦須血行，其氣乃復，芎行之有方，不可過峻。凡產後危症，莫如三沖三急，三沖者，敗血之沖肺，衝心，沖胃也，三急者，新產之嘔吐，泄瀉，多汗也，其用藥則有三禁，禁佛手散，以川芎能發汗也；禁四物湯，以地黃能作瀉也；禁小柴胡，以黃芩能阻惡露也。然皆產後之常法，設有風寒危急，亦將守此坐令致斃乎？嘗讀金匱產後之例，有大承氣湯，下瘀血湯，陽旦湯，三物黃芩湯等方，不能使人無訝，及見家嚴所治金聖祥婦，產後敗血沖肺，發熱面赤喘脹，人事不省用二味參蘇飲倍蘇木加芒硝，惡露即通而蘇。宋孝先次孫媳，產後發熱頭疼，腹中急痛，死絕浮蘇者再，與當歸內補建中湯，得汗而痊，其長孫媳臨產下痢，產後膿血無度，更兼感冒客邪，而發熱頭痛，此血液大脫，胃氣逮盡，非但難勝藥力，即益母湯亦傷胃難用，惟借金匱黃土湯之法，令以伏龍肝，炒黑楂肉，炒焦砂糖，炒焦陳米入薑棗，煎成不時熱服，取枯以去垢，而有溫中止痢之功，薑棗以和營散邪，三日熱退痢減，思進糜飲，七日而痢全瘳矣！鄭墨林夫人，變臨產下痢，用連理湯加木香二服而止。止後即產，產後嘔吐大汗，以抵聖散去赤芍加炮薑、黃連而康。徐日升婦，草蓐中發露得風，壯熱頭痛，面赤胸煩用香蘇散加荊芥蔥豉而熱除，但手足心熱，不時煩擾，善食易飢，二便不利，與三物黃芩湯而安。以上等治，未嘗不用汗下，不用寒涼，而暴病勢緊，不得不猛治者，下手稍軟，去生便遠。其病久氣衰者，非但不可峻攻，峻補亦是不可，必緩劑輕調，以候胃氣之復，務在臨症權宜。若拘世俗之見而禁汗下，專事血藥以治胎產之疾，我未敢信以為然。</p>

<h1>經脈</h1>
<p>經脈出自《靈樞》，本當全篇融貫熟讀，為醫門之實學。第苦覙縷交加，難於誦記。於是稍為裁削，略其繁詞，兼取軒岐仲景切於經脈之文，參入一二，以為決診之捷法。若言筆削聖經，則我何敢？</p>
<p>肺手太陰之脈，起於中焦，下絡大腸，還循胃口，是上膈（膈膜遮膈濁氣使不上熏心肺）布胸中屬肺，從肺系橫出腋下，循臑內下肘中，循臂內入寸口，循魚際出大指，其支者，於腕後直出次指內廉出其端。是動（邪在氣，氣為是動）則病肺脹滿膨膨然而喘咳（其脈布胸中，故病喘咳。肺宜溫潤，燥則病，寒亦病），胸中痛缺盆中痛（缺盆乃手足陽明脈氣所發，肺病則胃氣不升，故氣不行而痛），甚則交兩手而瞀（瞀，麻木不仁也），是主肺所生病者。（邪在血，血為所生病）咳上氣喘渴煩心胸滿，臑臂內前廉痛，氣盛有餘，則喘渴胸盈仰息肩背痛，風寒汗出中風，小便數而欠，風寒在表故。汗出中風，邪傷其氣，故小便數而欠，欠少也。氣虛則肩背痛寒，少氣不足以息，溺色變。（氣虛則陽病，故為痛為寒而怯然少氣。金衰則水涸，故膀胱氣化不行而溺色黃赤也）氣絕則皮毛焦爪枯，毛折盛者，寸口大三倍於人迎，虛者，寸口反小於人迎也。</p>
<p>大腸手陽明之脈起於大指次指之端（肺脈出次指大腸脈即受肺交而起食指）出合谷兩骨之間。上入兩筋之中。循臂上廉入肘外廉。上臑外前廉。上肩出髃（音余）骨之前廉上，出柱骨之會上，下入於缺盆絡肺下膈屬大腸（大腸上接小腸下接回腸，傳送不潔之物。必待肺氣下行，故與肺為表裡）。其支者，從缺盆上頸貫頰入下齒挾口，交人中，左之右，右之左，上挾鼻孔。是動，則病齒痛（必惡熱飲）頰腫。是主津所生病者（大腸與肺為表裡，肺主氣津由氣化，故凡大腸之或泄或閉，皆津所生之病也）目黃口乾，鼻衄喉痹（能言），腹中雷鳴切痛，感寒則泄，氣常沖胸。瘧（日發而渴）肩前臑痛，次指不用，氣有餘，則當脈所過者，熱腫皮膚。谷谷然堅腫而不痛，虛則寒慄不復。肩背肘臂外痛，盛者人迎大三倍於寸口，虛者人迎反小於寸口也。</p>
<p>胃足陽明之脈，起於鼻之交頞中，入上齒，挾口環唇，出人迎。（穴名，在面）絡於目（陽明主肉，其脈挾鼻絡於目），上耳前，循髮際至額顱。其支者，下人迎（穴名，在額動脈應手），循喉嚨，入缺盆，下膈，屬胃，絡脾。其直者，從缺盆下乳，挾臍，入氣街中（氣衝穴也）。其支者，起胃口，循腹裡，下氣街中，而合以下髀間，抵伏兔（伏兔在膝上六寸，髀關在伏兔後），下膝臏中，循脛外廉，下足胕，入中指內間。其支者，下膝，入次指外間（按，足陽明厲兌，內庭，陷谷皆在次指。《靈樞》《甲乙》《脈經》俱作中指，誤）。其支者，別跗上，入大指間出其端。是動則病瀝瀝振寒，善伸數欠，顏黑（伸欠顏黑，土勝水也），惡人與火（胃實則熱，熱則惡火），聞木音則惕然而驚（土惡木邪故驚也）。心欲動，獨閉戶塞牖而處，甚則欲上高而歌，棄衣而走（陽盛則四肢實，實則能登高也），賁響腹脹（火盛與水相激，搏有聲即腸鳴也，「本輸篇」云：大腸小腸皆屬於胃），罵詈不避親疏（土熱蒸於心胸，神明則亂也），是主血所生病者（陽明多氣多血，是主血所生病）。狂瘧（間日發而不渴）濕淫（濕濁下滲也）陰痿足廢（沖督帶三脈皆聚陽明，陽明主潤宗筋，宗筋主束骨而利機關也），汗出鼻衄唇蹩暴難言，甚則不能言。面腫齒痛（必惡清飲）口喎唇胗（人中腫也）面赤熱頸腫喉痹（不能言），大腹水脹（土病不能制水也），膝臏腫痛，膺乳，氣街，股骭外廉，足跗上皆痛。次指不用，浮蹩脹胃脘當臍而痛，上支兩脅，膈塞不通。飲食不下，胃中不和，則不能正偃。腹中鳴，身重難以行。胃熱則宗氣喘數（胃之大絡名虛里，出左乳下，其動應衣。宗氣也）氣盛則身以前皆熱，消穀善飢，溺色黃（此陽明實熱在經在腑之辨也）氣不足則身以前皆寒慄，胃中寒則脹滿（此陽明虛寒在經在腑之辨也）。盛者人迎大三倍於寸口，虛者人迎反小於寸口也。</p>
<p>脾足太陰之脈，起於大指之端，上內踝（音哇），循股內前廉，入腹，屬脾，絡胃，上膈，挾咽，連舌本，散舌下。其支者，復從胃別上膈，注心中，是動則病舌本強。食則嘔（脾氣暖則健，故食易消，寒則衰，故食不化而嘔逆），胃脘痛，腹脹善噫（脾脈入腹屬脾絡胃，故為痛為脹，陰盛而上走陽明，故氣滯而為噫）。得後與氣，則怏然如衰（病後矢氣，則怏然。如病衰，但倦怠耳），身體皆重（脾濕之氣下流也），是主脾所生病者。舌本強（氣病則強，血病則痛），煩心，心下急痛，寒瘧溏瘕泄（脾寒則為溏泄，脾滯則為癥瘕）。水閉黃癉，不能臥（水氣逆滿傷氣也），善飢善味，肉痿足不收，行善瘛，強立股膝內腫厥，大指不用，寒甚則厥而響響然。腹中谷谷，便溲難，心痛引背不得息，實則腹脹，涇溲不利，身盡痛。虛則四肢不用，五臟不安，百節皆縱，腹大腸鳴，飧泄。面黃不嗜食，食不化，嗜臥，九竅不通，身體不能動搖，當臍上下左右動氣，氣絕則脈不營肌肉，舌萎，人中滿，唇反。盛者，寸口大三倍於人迎。虛者，寸口反小於人迎也。</p>
<p>心手少陰之脈，起於心中，出屬心系，下膈，絡小腸。其支者，從心系上挾咽，系目系。其直者，復從心系上肺，出腋下，下肘，內循臂內後廉，入掌內，循小指之內出其端（心系有二：一則上與肺通，為心包絡之系。一則下絡小腸，為周身血脈之總司）。是動則病嗌乾心痛，渴而欲飲（心火炎則心液耗，故濁而欲飲）。善笑善忘，眩僕煩心，善驚不寐。是主心所生病者，目黃膺背肩脅滿痛，膕臂內後廉痛厥，掌中熱而啘浸淫瘡瘍。舌乾焦苦，消渴舌破，心胸間汗，實則笑不休，虛則悲。胸腹大，脅下與腰相引而痛。氣絕則脈不通，血不流，髦色不澤，面黑如漆柴。盛者寸口大再倍於人迎，虛者寸口反小於人迎也。</p>
<p>小腸手太陽之脈。起於小指之端，循手外側上腕，循臂骨下廉，出肘內側兩筋間。上循膕外後廉，交肩上入缺盆，上衝心，貫肝肺，絡心循咽下膈抵胃，屬小腸。其支者，從缺盆循頸上頰，至目銳眥，卻入耳中。其支者，別頰上䪼（音抽）抵鼻，至目內眥。是動則病嗌痛頷腫不可以顧，痛在頸側也。肩似拔膕似折。是主液所生病者（小腸主泌別清濁，宿則清濁不分而流衍無制，是主液所生病也），耳聾目黃頰腫鼻衄（不成流），頸頷肩膕肘臂外後廉皆痛，虛則小腹控睪（音高），引腰脊上衝心而痛。盛者，人迎大再倍於寸口，虛者人迎反小於寸口也。</p>
<p>膀胱足太陽之脈，起於目內眥（睛明穴也），上額交巔。其支者，從巔至耳上角。其直者，從巔入絡腦，還出別下項，循肩臑內，挾脊抵腰中，入循膂絡腎，屬膀胱。其支者，從腰中下貫臀，取膕中。其支者，從髆內左右別，下貫脾，挾脊內過髀樞，下合膕中，以下貫端內（踹音湍，足跟也），至小指外側。是動則病沖頭痛（邪循經上而痛也），目似脫，項似拔（痛在項後不可伏仰），脊痛腰似折（痛上寒），髀不可以曲，膕如結踹如裂。是主骨所生病者（腎主骨，膀胱為腎之府，故亦主之。世本作是主筋所生病者，誤），痔瘧（虛則痔盛則瘧）狂癲疾（邪入於陽也）頭囟（音信）項痛目黃（為蓄血）。淚出鼻衄（則成流），小腹遍腫而痛，以手按之，即欲小便而不得。胞痹，少腹按之內痛，若沃以湯澀於小便。上為清涕，膀胱不利為癃，不約為遺溺也。項背腰尻膕踹腳皆痛，小指不用，盛者，人迎大再倍於寸口。虛者，人迎反小於寸口也。</p>
<p>腎足少陰之脈。起於小指之下，斜走足心，循內踝後別入跟中，出膕內廉，上股內後廉，貫脊，屬腎，絡膀胱。其直者，從腎上貫肝膈，入肺中，循喉嚨挾舌本。其支者，從橫骨中挾臍循腹上行而入肺（橫骨一名下極），從肺出絡心，注胸中（腎藏有二，其脈交通水火。左者，直上入肺而循喉挾舌。右者，直行臍腹而上絡心胞。越人以右腎為命門，非也）。是動則病，飢不欲食（陰火上乘，雖飢不欲食也），面如漆柴（腎水枯也），咳唾則有血（真陰損而延及其母也），喝喝而喘（腎水不能上通於肺也），口乾咯血坐而欲起（陰虛陽擾而不能靜也），目𥉂𥉂如無所見（目之明在瞳子，瞳子者，骨之精，腎氣內奪故目𥉂𥉂如無所見也），心如懸若飢狀（心腎不交則精神離散，故心如懸。陰虛則內餒，故常若飢狀）。氣不足則善恐，心惕惕如人將捕之（腎主志為恐，腎氣怯，故惕惕如人將捕之）。是主腎所生病者，耳鳴遺泄口熱舌乾咽腫上氣咽乾及痛（厥氣走而不能言，手足清，大便自利，口熱如膠），煩心心痛（痛引腰脊而欲嘔），黃癉（水虛土實，故為癉。其額上必黑）腸澼（腎開竅於二陰故為腸澼，寒則利清穀熱則便膿血），脊股內後廉痛，痿厥嗜臥，泄利下重，足下熱而痛，小腹急痛，腰下冷痛，自言腹脹滿而實不滿，脛腫煩冤（煩為煩擾！冤為冤熱），骨痿不能起，䏚中清（䏚音抄，季肋下也），指清黑清厥，意不樂，四肢不收，身重，寢汗出憎風，氣絕則肉軟怯，齒長而垢，發無澤。盛者，寸口大再倍於人迎。虛者，寸口反小於人迎也。</p>
<p>心主手厥陰心包絡之脈。起於胸中，出屬心包絡（諸邪之在心者，皆心包絡受之），下膈，歷絡三焦。其支者，循胸出脅下腋循膕內入肘中，下臂行兩筋間，入掌中，循中指。其支者，別掌中，循小指次指出其端（無名指也）。是動則病手心熱，臂肘攣急，腋腫甚則胸脅支滿，心中澹澹大動，面赤目黃，喜笑不休。是主脈所生病者（諸脈雖屬於心，而行太陰肺部脈之運動皆由包絡之火，故又為陰包所主），煩心心痛（痛引腋脅而欲咳），掌中熱（脈起心胸入掌中也）。盛者，寸口大一倍於人迎。虛者，寸口反小於人迎也。</p>
<p>三焦手少陽之脈。起於小指次指之端，上出兩指之間。循手表脘出臂外兩骨間，上貫肘，循臑外，上肩，入缺盆，布膻中，散絡心包，下膈，循屬三焦。其支者，從膻中上出缺盆，上項，系耳後，出耳上角，以屈下頰，至䪼。其支者，從耳後入耳中，出耳前交頰，至目銳眥（三焦有上中下之名，其形則一。在七節兩腎之中，所謂上焦如霧，中焦如漚，下焦如瀆者，是形容三焦之用，非實有三處也）。是動則病耳聾渾渾沌沌而痛。咽腫喉痹，（三焦之氣通於喉，喉不和則痹腫矣）往來寒熱。是主氣所生病者（三焦為決瀆之官，水病必由於氣也），汗出，目銳眥痛，頰痛，耳鳴，耳後肩臑肘臂外皆痛，小指次指不用，腹氣滿，小腹尤堅，不得小便。溢則水留，即為脹。盛者人迎大一倍於寸口，虛者人迎反小於寸口也。</p>
<p>膽足少陽之脈。起於目銳眥，上抵頭角，下耳後，循頸至肩，上入缺盆。其支者，從耳後入耳中，出走耳前，至目銳眥後。其支者，別銳眥，下人迎，合手少陽抵䪼，下頰車，合缺盆，以下胸中，貫膈，絡肝屬膽，循脅裡，出氣街，繞毛際，橫入牌厭中（即髀樞）。其直者，從缺盆下腋，循胸，過季脅，下合髀厭中，出膝外廉，循足跗入小指次指之間。其支者，別足跗，入大指間，是動則病口苦（膽病則液泄故口苦），嘔宿汁善太息（膽鬱則氣不舒故善太息），驚惕，心下澹澹，恐人將捕之。咽中介介然數唾，心脅痛不能轉側（足少陽之別，貫心，循肋里，故病則不能轉側），耳無所聞，甚則面有微塵，體無膏澤（膽病則春升之令不行，如木之枝葉凋瘁而色枯槁也）。足外反熱，是為陽厥（病本屬火，故為陽厥）。是主筋所生病者（肝主筋，膽為肝之府，故亦主之。世本是主骨所生病者，誤），頭角頷痛，目銳眥痛，缺盆中腫痛，腋下腫，馬刀挾癭，汗出振寒瘧（膽居表裡之半陰，勝則振寒，陽勝則汗出，故瘧），胸脅膝脛踝前諸節皆痛，小指次指不用，少陽終者耳聾，百節盡縱，目系絕。盛者人迎大一倍於寸口，虛者人迎反小於寸口也。</p>
<p>肝足厥陰之脈。起於大指，上循足跗，上膕內廉，循陰股，環陰器，抵小腹挾胃，屬肝絡膽，上貫膈，布脅肋，循喉嚨之後上取頏顙，連目系，上出額，與督脈會於巔。其支者，從目系下頰裡，環唇內。其支者，復從肝別貫膈，上注肺。是動則病閉目不欲見人，腰痛不可俯仰（痛上熱）。丈夫頹疝，婦人少腹腫，甚則咽乾面塵脫色，淅淅時寒熱，兩脅下痛引少腹，上下無常處，淋溲便難，脅痛支滿，手足青，面青唇黑。是主肝所生病者，胸滿嘔逆作酸，飧泄狐疝，遺溺閉癃，頰腫喉痹（吐膿血），吐血下血（暴湧不止），瘛瘲惡風，渾身痠麻疼痛，四肢滿悶，筋痿不能起，陰縮兩筋急，轉筋足逆冷，脛酸陰癢，盛則善怒，忽忽眩冒（眩暈也），而巔疾（巔頂痛也）。氣逆則頭痛耳聾，目赤腫痛。虛則目𥉂𥉂無所見，耳無所聞，善恐如人將捕之（善恐如人將捕有三：足少陰是腎藏精氣虛衰，足少陽是膽虛寒涎漬沃，足厥陰是肝虛神魂不寧，一屬精傷，一屬涎沫，一屬血虛，不可不辨）。氣絕則筋急引舌與卵，唇青。盛者寸口大一倍於人迎，虛者寸口反小於人迎也。</p>

<h1>奇經</h1>
<p>脈有奇常，十二經者，常脈也。所見諸症皆平常無奇，其奇經八脈交加中外，絡繹諸經，所見諸症皆忽起忽伏，脈亦倏去倏來，故謂之奇。舊說以為奇偶之奇，恐非至當。若而則不應有陰陽維蹻（音竅平聲）之偶矣。所謂督脈督於身後諸陽，任脈任於身前諸陰，沖為諸脈之海，又為血海，陽維維絡諸陽，主一身之表，陰維維絡諸陰，主一身之裡，陽蹻得足太陽之別，主一身左右諸陽，陰蹻得足少陰之別，主一身左右諸陰，二蹻皆起跟中，使人蹻捷，帶脈橫束季脅，約束諸脈，為諸經之別貫，各有專司。蓋人身之氣血常行於十二經，而後及於八脈。若受邪則先傷八脈，而後傳次六經。所以越人譬之溝渠。溝渠滿溢諸經不能復拘也。督脈起於下極之俞（音殊）並於脊裡。上至風府（項中央之脈，督脈也，名曰風府）入屬於腦。陽脈之海也。其絡循陰器，合篡間繞篡後繞臀。至少陰與巨陽中合少陰。上股內後廉，貫脊屬腎。與太陽起於目內眥，上額交巔，上入絡腦，還出別下項循肩膊內，挾脊抵腰中，入循膂絡腎，其男子循莖下至篡，與女子等少腹直上者，貫臍中央，上貫心入喉，上頤環唇，上系兩目之內中央。動苦少腹上衝心而痛，不得前後為沖疝，其女子不孕，癃痔遺溺，嗌乾，卒口噤，背反張瘛瘲，腰背強痛，不得俯仰，脊強反折及痛，頭重不舉，大人癲疾，小兒風癇。其脈直上直下而中央浮。或尺寸強俱直而浮者，直督脈也。</p>
<p>任脈起於中極之下，以上毛際循腹裡，上關元至咽喉，上頤循面，入目絡舌，陰脈之海也，同足三陰並行腹裡。其浮於外者，出毛際循關元石門（即丹田）氣海，而歷三脘循膻中，至缺盆（缺盆之中任脈也，名曰天突）。動苦少腹繞臍，引陰中切痛（入房太過沖督任受傷多此）。男子內結七疝，女子帶下瘕聚，月事不以時下。腹皮急，腹中有氣如指，上搶心，不得俯仰拘急（志欲不遂陰火上乘多此），其脈橫寸口。邊丸丸緊細而長，或弦出寸口上魚際，而丸滑者，任脈也。</p>
<p>衝脈起於少腹之內胞中，為血之海也。其浮於外者，起於氣街（即氣衝在少腹）。並足少陰之經（難經云：並足陽明之經。以穴考之，足陽明挾臍各二寸而下行與衝脈會於宗筋。足少陰挾臍五分而上行，針經所載衝脈在腹關元等穴，皆屬少陰非陽明也明矣），挾臍上行。至胸中而散。衝脈任脈，皆起於胞中，上循背裡，為經絡之海。動苦逆氣裡急，氣上衝，咽喉不得息。喘息有音不得臥，腹中刺痛拘急，寒氣客於衝脈則脈不通。故喘動應手有寒疝痛。則上引胸中也。其脈直上直下，而中央牢者，衝脈也。凡有兩手脈，浮之俱有陽，沉之俱有陰，陰陽皆盛，此沖督之脈也（沖主沉牢，督主浮革）。沖督為十二經之道路。沖督用事，則十二經不復朝於寸口。其人恍惚癡狂，刺沖督。</p>
<p>陽維起於諸陽之會（諸陽皆會於頭），主持衛氣。其脈發於足太陽外踝，循膝外廉，上髀關，抵少腹。側循脅肋，斜上肘，會手足太陽陽蹻於臑俞（在背後胛上谷中）。上循耳，會督脈於風府。上腦空，下至風池，與諸陽會於頭。動苦寒熱（陽維為病在表，故苦寒熱。而足太陽少陽始終聯附，故二經為病苦寒熱），腰痛，痛上怫然腫，又腰痛不可以咳，咳則筋縮急。肌肉痹癢皮膚痛，下部不仁，汗出而寒，羊癇倒僕（多發於日），手足相引。甚者不能言。若陽維不能維於陽，則溶溶不能自收持（溶溶，緩縱貌）。其脈從尺外斜上至寸而浮者，陽維也。</p>
<p>陰維起於諸陰之交（諸陰皆交於胸），主持營血其脈發於足少陰內踝，循股內廉，上行入少腹，會足三陰，上腹裡（去腹中行四寸半），循脅會足厥陰於期門（直乳下一寸半），上胸脅挾咽，與任脈會於頸。動苦心痛（陰維為病在裡，故苦心痛。陰維雖交三陰，與任脈同歸，故心痛腹痛多屬少陰，而兼陰維任脈也）脅滿腰痛。甚則悲以恐，癲疾失音（多發於夜），肌肉痹癢，汗出惡風，身洗洗然。（洗與灑同）。若陰維不能維於陰，則悵然失志。其脈從尺內斜上至寸而沉實者，陰維也。</p>
<p>陽蹻起於跟內，出外踝直上，循股外廉，循脅後胛上，行肩膊外，上挾口吻至目內，上行髮際後入風池。動苦緩縱不收，陰緩而陽急（陽蹻脈急當從外踝以上急，內踝以上緩），腰背痛，羊癇倒僕（多發於日），惡風偏枯，𤸷痹體強，目瞋不得瞑，其脈寸口左右彈，浮而細綿綿者，陽蹻也。</p>
<p>陰蹻起於然谷之後，上內踝之上，直上循陰股，入陰中。上循胸裡，入缺盆，上出人迎之前。入鼻，屬目內眥。至咽喉，交貫衝脈。動苦拘急不弛，陽緩而陰急（陰蹻脈急，當從內踝以上急，外踝以上緩），少腹痛裡急，腰痛相引陰中，男子陰疝，女子漏下不止。癲疾寒熱（多發於夜），皮膚淫痹，風痙瘛瘲，目閉不能開，其脈尺內左右彈，沉而細綿綿者。陰蹻也。</p>
<p>帶脈起於季肋，圍身一周，如束帶然。與足少陰會於十四椎（自上而下則十四椎處，下而上則七節）。十二經與奇經七脈，皆上下周流，惟帶脈橫束如帶。而衝任二脈循腹脅夾臍旁傳流於氣衝，屬於帶脈，絡於衝脈。沖督任三脈同起而異行，一源而三歧，皆絡帶脈。動苦腹滿，腰溶溶若坐水中。腰腹縱如囊水狀。婦人腰痛，少腹痛裡急瘛瘲。牽引季脅下空軟處。月水不調，赤白帶下。其脈中部左右彈而橫滑者，帶脈也。</p>

<h1>運氣</h1>
<p>諺云：不讀五運六氣，檢遍方書何濟？所以稍涉醫理者，動以司運為務。曷知天元紀等篇，本非素問原文。王氏取陰陽大論補入經中，後世以為古聖格言，孰敢非之？其實無關於醫道也。況論中明言，時有常位而氣無，必然猶諄諄詳論者，不過窮究其理而已。縱使勝復有常，而政分南北，四方有高下之殊，四序有非時之化。百步之內，晴雨不同，千里之外寒暄各異。豈可以一定之法，而測非常之變耶？故余僅取司運規例，詳釋其義以資顧問。其六元正紀中之某歲某氣當見某病，世所最重者，概不採錄。</p>
<p>甲己之歲，土運統之。乙庚之歲，金運統之。丙辛之歲，水運統之。丁壬之歲，木運統之。戊癸之歲，火運統之。五運之化有常數，主客之運有之遞代。蓋六氣之有主客，五運亦有主客。主運皆起於角，以次相生。如木主春令而為角，火主夏令而為徵，土主長夏而為宮，金主秋令而為商，水主冬令而為羽。每運得七十三日五刻，與六步主氣同，但歲氣有陰陽，主運分太少。假如甲年為陽土則主運始太角，而生少徵太宮少商太羽；己為陰土，則主運始少角而生太徵少宮太商少羽，此主運之氣必始於角而終於羽也。客運亦一年五步。假如甲己為土運。甲屬陽土，甲年則太宮為初運，少商為二運，太羽為三運，少角為四運，太徵為終運。己屬陰土，己年則少宮為初運，太商為二運，少羽為三運，太角為四運，少徵為終運，太少相生，凡十年一主令而竟天干也。但主運則必始於角，而終於羽。客運則以本年中運為初運，以次相生。此主運客運之年以有異也。</p>
<p>子午之歲上見少陰，丑未之歲上見太陰，寅申之歲上見少陽，卯酉之歲上見陽明，辰戌之歲上見太陽，巳亥之歲上見厥陰。主氣者，地氣也。如厥陰風木主初氣，少陰君火為二氣，少陽相火為三氣，太陰濕土為四氣，陽明燥金為五氣，太陽寒水為終氣。君相二火相隨為一歲之主。有常無變，故少陽相火繼君火行令，循序而生濕土，所以太陰土居相火之後，氣之順行者也。客氣者，天氣也。如子午則太陽為初氣，厥陰為二氣，少陰為三氣，太陰為四氣，少陽為五氣，陽明為終氣。丑未則厥陰為初氣，寅申則少陰為初氣，卯酉則太陰為初氣，辰戌則少陽為初氣，巳亥則陽明為初氣，蓋初氣皆起地之左間也，而客氣之濕土，居相火之前，乃陰陽先後之數也。按六氣分正化對化。如子醜寅卯辰巳為對化，對司化令之虛，則勝而有復，午未申酉戌亥為正化，正司化令之實則勝而不復。</p>
<p>帝曰：勝復之動，時有常乎，氣有必乎？岐伯曰：時有常位而氣無必也。帝曰：願聞其道也。岐伯曰：初氣終三氣，天氣主之，勝之常也。四氣盡終氣，地氣主之，復之常也。有勝也有勝則復，無勝則否。</p>
<p>帝曰：天地之氣，何以候之？岐伯曰：天地之氣，勝復之作，不形於診也。脈法曰：天地之變，無以脈診，此之謂也。帝曰：問：氣如何？岐伯曰：隨氣所在期於左右。帝曰：期之奈何？岐伯曰：從其氣則和，違其氣則病，不當其位者病，迭移其位者病，失守其位者危，尺寸反者死，陰陽交者死，先立其年以知其氣，左右應見，然後乃可以言死生逆順也。</p>
<p>論言，人迎與寸口相應，若引繩大小齊等，命曰平。陰之所在寸口何如？岐伯曰：視歲南北可知矣。</p>
<p>（甲子甲午）南政少陰司天，陽明在泉則兩寸不應（初氣太陽，二氣厥陰，三氣少陰，四氣太陰，五氣少陽，終氣陽明）。</p>
<p>（己巳己亥）南政厥陰司天，少陽在泉，則右寸不應（初氣陽明，二氣太陽，三氣厥陰，四氣少陰，五氣太陰，終氣少陽）。</p>
<p>（己丑己未）南政太陰司天，太陽在泉，則左寸不應（初氣厥陰，二氣少陰，三氣太陰，四氣少陽，五氣陽明，終氣太陽）。</p>
<p>（己卯己酉）南政少陰在泉，陽明司天則兩尺不應（初氣太陰，二氣少陽，三氣陽明，四氣太陽，五氣厥陰，終氣少陰）。</p>
<p>（甲寅甲申）南政厥陰在泉，少陽司天則左尺不應（初氣少陰，二氣太陰，三氣少陽，四氣陽明，五氣太陽，終氣厥陰）。</p>
<p>（甲辰甲戌）南政太陰在泉，太陽司天則右尺不應（初氣少陽，二氣陽明，三氣太陽，四氣厥陰，五氣少陰，終氣太陰）。</p>
<p>（丙戊庚壬子午）北政少陰司天，陽明在泉，則兩尺不應（初氣太陽，二氣厥陰，三氣少陰，四氣太陰，五氣少陽，終氣陽明）。</p>
<p>（乙辛丁癸已亥）北政厥陰司大，少陽在泉，則兩尺不應（初氣陽明，二氣太陽，三氣厥陰，四氣少陰，五氣太陰，終氣少陽）。</p>
<p>（乙辛丁癸丑未）北政太陰司天，太陽在泉，則右尺不應（初氣厥陰，二氣少陰，三氣太陰，四氣少陽，五氣陽明，終氣太陽）。</p>
<p>（乙辛丁癸丑酉）北政少陰在泉，陽明司天則兩寸不應（初氣太陰，二氣少陽，三氣陽明，四氣太陽，五氣少陰，終氣少陰）。</p>
<p>（丙戊庚壬辰申）北政厥陰在泉，少陽司天，則右寸不應（初氣少陰，二氣太陰，三氣少陽，四氣陽明，五氣太陽，終氣厥陰）。</p>
<p>（丙戊庚壬辰戊）北政太陰在泉，太陽司天，則左寸不應（初氣少陽，二氣陽明，三氣太陽，四氣厥陰，五氣少陰，終氣太陰）。</p>
<p>諸不應者，反其診則見矣。司天在泉四間氣者，客氣之六步也。凡初氣為左間，二氣為右間，三氣為司天，四氣為左間，五氣為右間，終氣為在泉。故曰：司左右者為間氣，每氣各主一步。又司天主上半年，在泉主下半年，故曰：歲半已前，天氣主之。歲半以後，地氣主之。南北政者，即甲已為南政，余為北政是也。謂南政之年，南面行令，其氣在南，故寸為上而尺為下，左右俱同。北政之年，北面受令，其氣在北，故尺應上而寸應下，是以司天應兩尺，在泉應兩寸也。脈不應者，指少陰所居之處而言，故曰：陰之所在。而三陰以少陰居中，太陰居左，厥陰居右，隨南北二政以定上下也。故曰：諸不應者，反其診則見矣。反其診者，謂南北相反而診之。北政之年，少陰司大，則兩尺不應，太陰司天，則少陰在右。所以右尺不應，厥陰司天，則少陰在左，所以左尺不應。南政之年，少陰在泉，則兩尺不應。太陰在泉，則少陰在右，所以右尺不應，厥陰在泉，則少陰在左，所以左尺不應也。</p>
<p>厥陰司天，其化以風。少陰司天，其化以熱。太陰司天，其化以濕。少陽司天，其化以火。陽明司天，其化以燥。太陽司天，其化以寒。以所臨藏位命其病者也。厥陰之至，其脈弦。少陰之至，其脈鉤。太陰之至，其脈沉。少陽之至，大而浮。陽明之至，短而澀，太陽之至，大而長。至而和則平，至而甚則病，至而反者病，至而不至者病，未至而至者病，陰陽易者病死。</p>
<p>大寒至春分為初之氣，厥陰風水主令其脈，乍大乍小乍短乍長。春分至小滿為二之氣，少陰君火主令，其脈浮大而短。小滿至大暑為三之氣，少陽相火主令，其脈洪大而長。大暑至秋分為四之氣，太陰濕土主令，其脈緩大而長。秋分至小雪為五之氣，陽明燥金主令，其脈緊細而微。小雪至大寒為終之氣，太陽寒水主令，其脈沉短而敦。</p>

<h1>方宜</h1>
<p>醫以天下民生為己任，當具通天下之才識。非膠執一己之見，固守一隅之法者，之所能管窺也。吾吳為五方雜處之地。南北士商雲集。苟未明水土之剛柔，風氣之強弱，資稟之偏勝而欲妄治遐方遊客。或客遊他地治病，則與圓枘方鑑何異哉？況客遊治病與治遊客之病其法懸殊。設遊藝他方，惟隨其地之風土，若遐方流寓，又須詳彼處之資稟，此地之風土，方始合宜。故經有一病而治各不同，地勢使然之語。圓機之士，能於是觸類旁推，匪特行之方內，雖廣諸異域可以無間然矣。</p>
<p>東方發育之地，土膏氣澤，冬鮮凜冽之寒四序常行春令，俗尚華而少實，病多熱中疏理，而無真中風寒，即使外感內傷，總由理疏邪入，中熱氣傷所致，詳熱中疏理四字已道盡東方元氣病情矣。按吳越皆居東方，而江南元氣最薄，病則虛熱居多，溫順為宜，苦寒切禁。江北則接壤東魯，其間元氣虛實兼半，寒熱補瀉隨宜。江左地氣稍厚，略覺奈病勝藥，江右則南近閩粵內連荊楚，得火上之餘氣，是以不任溫補，然亦不勝峻攻，惟清理中外為宜，大抵東方所稟孱弱，宜宗東垣、復庵。而丹溪則宜於江之左右，新甫則偏宜江南。若河間戴人之法，非西北資稟剛厚人，斷斷不可效用也。</p>
<p>南方長養之處，陽盛氣泄。窮冬恆服絺衣，四序常行夏令。繆仲淳云，陽燠既泄，則使人本氣不堅，民雖致理，而霧露不時蒸發。人觸之者，未免多攣痹之患。其稍不致者，則有瘴癘之虞矣，即居恆無病之人，氣多上壅而少下降，以故時嚼檳榔，唾皆赤色。是以土人有天蠻不下雪，地蠻不落葉，人蠻日吐血之語，其患瘴癘之症，亦發熱頭脹，胸滿嘔逆，與傷寒相似，但治法與傷寒迥異。感之輕者，但食檳榔，祛散滯氣，胸膈寬舒即愈。重則必需芳香正氣之劑，開發中氣為主。若誤行表散，則陽氣愈泄，表氣愈虛，邪乘虛擾，發熱愈無抵止矣。凡嶺南煙瘴之鄉，天晴亦多霧露，罕見日色。嵐濕與醃暖交升，蠱毒與鬼蜮並瘧，感之必內應濕土，中氣先傷，故瘴癘之治，與疫癘彷彿。但廣粵正向，離明黔滇斜臨坤位，咸多濕熱氣蒸，閩雖未逾梅嶺，已得南方氣候，水土皆泄而不收。縱有大頭瘟蝦蟆瘟等疫，悉屬陽邪，其毒亦易解散，非若北方之地脈堅厚，陰邪積而不發，發則旦發夕死，如疙瘩瘟黑骨瘟等症之暴絕也。</p>
<p>西方收引之界，金沙之域，地高土厚多風，四序常行秋令，其俗剛毅而不阿，其民不衣而褐薦，華實而脂肥，則知西域稟賦與關西無異，然蜀直指兌澤，元氣與人文俱厚。有峽三倒流之勢。關西正當北斗，地氣與人文俱偉，有劍倚崆峒之概。以其材質俱俊，表裡俱充，故邪弗能傷之也。惟是內氣壅盛，故治宜毒藥，如西域倒倉，子和漏下等法，觀《內經》病生於內，治宜毒藥，一方風氣主治，了無餘蘊矣。</p>
<p>北方閉藏之境，陰盛氣沉，春夏草木不生，四序常行冬令。民稟坎水而生，故常以水為事，且性好乳食，所以藏寒生滿，則內因之症也至於樂野處，冒風沙，歷冰雪，其寒可以斷指裂膚，反不言傷寒之病者，以致理慣拒嚴寒，雖有大風苛毒，弗之能害。即得傷之，其氣堅固不能便入於裡。故感之輕者，但需雞湯麥食，助其肝，實其胃，自能祛邪作汗，若傷之重者，竟行辛熱表散。裡氣壅滯，便與苦寒峻攻。非若東南之元氣瘠薄，投劑稍重便致變症蜂起也。惟是腎氣素勞之人，邪乘虛入，而為卒中之患者，是必峻用溫補，然煤火內蘊，須兼苦降之味，以防火炎竭澤之虞。蓋煤為水土之精，人食其長氣於陰中之陽。所以力能壯火傷陰。可不預為調製乎？復有車塵馬足之勞，不內外因之候，又宜導氣和中，不宜升發溫補。若以南方內傷勞倦例治之，愈益其壅滿矣。然燕與晉魯皆北，燕則左訶右岱，地氣最厚，魯雖偏居艮土，風氣已北，晉抵關西，惟一河之限。元氣之充實，大率相類，其治亦相類。中央正中之位，水土平濕，萬類各得其和，四序各行其令。民雖食雜不勞，而多痿厥寒熱者，良由水土平濕使然。以其食雜不勞，元氣平治所傷亦輕，故導引按蹻，便可愈之，不必毒藥內治，針石外治也。然此言平氣所致，若傷寒卒病，其可拘於此例乎？蓋中央雖居正位，四維八埏之氣，皆得干之，所以仲景有寒熱補瀉之不同。立法皆隨病制宜，以為天下萬世則，而於中州更宜。按仲景為南陽聖醫，吏治長沙，皆不離洛楚之地。夫洛與楚，皆居中央，而楚則交界江右，稍偏於南所以一切溫補，皆為掣肘，以其地氣渾厚，民多溫飽，是以不須補益。洛則水土平濕，平濕則氣柔，氣柔則受補矣。經言，治所以異，而病皆愈者，得病之情，知治之大體也。</p>
