<header data-type="book">
<h1>治痢南針</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>羅振湘</dd></div>
<div><dt>朝代</dt><dd>民國</dd></div>
<div><dt>年份</dt><dd><data value="1932">公元1932年</data></dd></div>
</dl>
</header>

<h1>劉序</h1>
<p>吾友羅振湘先生曩著《醫學闕謬》一書，於余氏《醫述》謬妄之點，逐一揭出，息邪距詖，扶翼國學，厥功甚偉，余受而讀之，固已心異之矣。今夏又出其所著《治痢南針》見示，蓋集古今治痢方法，分為表、里、寒、熱、虛、實六門，條分而列舉之。其選方也，一依古人成法，間亦附以己意，補其闕略，皆系出自心裁，發前人所未發，余因是益服羅君之寢饋於斯者深也。竊維吾國醫書浩如煙海，見解雖非一致，而治驗要無不同。特淹博之士，故執己見，往往長篇累牘，理論以愈多而愈晦澀，學說以愈繁而愈龐雜，致令讀者如大海行舟，茫然莫知其方向之所指。以是為世詬病者，比比皆是，非獨治痢一書然也。誠得如羅君者，挈領提綱，芟蕪就簡，義例務衷一是，而論說毋任兩歧，如科學程式然，一以表解行之，則吾國醫絕學行將日即昌明，尚何慮拾西人唾餘者之狂吠也哉？抑更有進者，讀書固須能會其通，而臨床尤宜善觀其變，蓋人之賦稟，既有膏粱、藜藿之不同，即其感受，自有勞逸飢飽之各異。曩余隨軍徐州，時值盛暑，適因潰敗，全師退遁，將士兵夫，皆日行百里。至集合時，則病劇痢者十之六七，紛紛求診於余。餘一一用大承氣加清暑理氣之品，無不立愈。又某封翁養尊處優，患痢疾，裡急後重，無物可下，痛脹難支，飛柬召余，至則前醫所主之承氣湯已陳榻前。余知其深居簡出，決無外邪，立命傾其前藥而以補中益氣湯重用耆至七八錢，參、術至一二兩不等。一劑而病若失。次早親函來謝，已如前矣。又某太夫人，年已六旬，陽虛下陷，依參、耆、附、桂為命。九月，因前冒暑患痢，醫者均以年老體弱，概用溫補，日益增劇。至次年正月，一日夜下鮮血至六七十次。余診其脈實大，知為失下，立用大劑承氣而益以滋陰養榮之品。甫半劑，即下燥屎甚多；再劑，則膿血全無。後連用生地、石膏至四、五斤，始得復元。可見膏粱安逸之人不必盡屬元弱，而勞頓饑饉之餘又不皆如喻嘉言先生所云內虛久困者也。總之，法者，一成不變者也。是在用法者神而明之。羅君此書既以表裡、寒熱、虛實揭示方法，吾願讀此書者沉幾觀變，幸毋食古不化，轉令有慈航而不能普渡也。余為此序，因附及之，還以質之羅君，並以質之能讀羅君此書者。</p>
<p><u>民國二十一年仲夏月衡山劉岳侖篤髯甫序於長沙東城外之蔚園</u></p>

<h1>劉序</h1>
<p>瀏陽羅君振湘，為國醫健者。予旅長沙之明年春，始識面叩謁焉。相與坐談，痛今余岩著書詆譭國醫，不遺餘力，乃著《醫學闢謬》刊行海內，抵抗之，糾正之，回狂瀾於既倒，冀正道之復明，良工苦心，欽佩易已！近又著《治痢南針》一書以示予，予盥手焚香，迴環莊誦。例分表、里、寒、熱、虛、實六門，挈領提綱，條分縷晰，辭雖簡而理賅，方不繁而法備，顏曰「南針」者，予窺羅君之意，非徒是書行於我國已也。蓋以西醫治痢既無善法，而欲以國醫之診斷、治療大行於海外，如周公作指南針，西人用之以航海也。雖然，予進一說為羅君質，且以質之讀羅君此書者，幸勿以其非臨床經驗而唾棄之也。每當夏秋之交，肺欲肅降而肝反斂，肝欲疏泄而肺反收，肝肺不調，金木交戰，發生滯下，肛門既開而欲大便矣。旋閉塞之不出，其裡急促，其後重墜，下愈閉塞，則上愈逼迫。病者之頭汗淋漓，閉口露目，抬肩縮頸，併力以輸送於下，矢方得出，出仍不快，移時復便，一分鐘數十次，往往有不能起於床者。其痢之險惡若是，乃不數日，有形之陰質告罄，而無形之元陽隨脫。病勢至此，金木交敗，邪正並去。前則肛門閉塞，而此則洞泄無度矣。前則頭汗淋漓，而此則冷汗如珠矣。枯瘦之骨，慘晦之色，奄奄一息，嗃逆痰鳴，沿門遍戶，死者枕籍。予昔時嘗診之，衋然心傷，恨其術之不工，且不能普救也。予思之，予重思之，診斷滯下，欲判輕重生死於頃刻之間，徵之於脈象，而脈象之浮、沉、遲、數不可憑；徵之於舌苔，而舌苔之黑、黃、灰、白亦不可憑。惟憑之於滯下之穢物，則輕重生死可立決也。試以其質言之：濃厚之白，膿也；鮮明之紅，血也，此則可生者也。瘀晦之血塊也，油漆之膠黏也，此則可生可死者也。若黑如塵墨，散漫如屋漏水者難治。再以其臭言之：香臭固可生，而酸臭亦可生。蓋香為脾土正氣，而酸乃肝木之生氣也。其可生可死者，必其臭腥且臊者矣。其難治者，必其臭如腐屍、敗鰍者矣。醫者不知滯下之質與臭，則不能判輕重生死，是謂之無診斷學。予同鄉有趙醫榮和其人者，世承家技，專精滯下，嘗與之以判輕重生死，而對症施治，百不失一。生者固易生，而死者治之以冀其生。惟界乎生死之間者，耆、朮、薑、附、參、茸、地、歸，輕者幾兩，重者斤許，分用合用，以為主劑，察之未的，不可輕試。其餘諸法，則清金以疏木，滲濕以祛暑，或排膿化瘀，或澀腸填空，或寒熱虛實錯雜以並治，總以其輕重、緩急、先後而消息出入之。服之一二日，再驗其質與色，鮮有不起死回生、轉危為安者。勿謂其補之太早，補之大峻，而致成休息痢也。不如是而欲求一休息痢不可得也。是則愚者之一得，而要不出羅君此書之範圍也。羅君邃中西學，融會溝通，不執成見，即西法稍有可取者亦節錄附卷。至若狂鼓邪說，淆亂黑白，如余岩所為者，則大聲疾呼以拒之耳。羅君老於余，好學彌篤，予見已心敬之。此書之作，裨益於社會者不少，予故為之序。</p>
<p><u>民國二十一年五月劉裁吾序於西湖醫社</u></p>

<h1>曾序</h1>
<p>今日而欲釐正國醫學說，難矣！外則余岩等挾其邪說，為虎作倀，上欺政府，下蒙社會，日以消滅中醫為能事；內則學說紛歧，各持一是，不能貫通。甚則前人已經釐正而不可移易者，如葉香岩、王孟英之言外感溫病，柳寶詒之言伏氣溫病，唐容川之補註《傷寒》、《金匱》各書，不特為海內所公認，外人亦重金贖買，此於國醫學說之發展，大有關係。乃近日海上名流如惲氏鐵樵，逞其偏見，於此數家，痛加詆譭。若不亟為糾正，實於釐正，國醫學說大有障礙，吾故謂其難也。雖然孔子修《春秋》、正禮樂而大道以明，孟子闢楊、墨而邪說以息，使當日無此二聖人，中國何由此文化？吾輩既處此正道陵夷，外患內憂交相侵迫，使畏葸自安不出而任此艱鉅，俾後學有正軌可循，國醫前途尚堪設想乎？羅君振湘積學敦行，兼精岐黃，博覽群書，孜孜不倦，於釐正國醫學說尤為熱心，前著《醫學闢謬》以發明六氣，駁斥余岩，詞嚴義正，與吳君漢仙《警鐸》一書均為近出傑作，吾道干城。近復有《治痢南針》之作，其書於前人學說採擇綦嚴，而折衷以己之心得，病理治法條理井然。清代雖有治痢專書而無此完備，能完備者而又無此精核。羅君學說固不僅此，然已如此審確，他可知矣。西醫日以科學二字驕我，其實科學之解釋，不過學問之有統系而已。吾國醫學久有全部之統系，惟對於一病有一病之統系，雖有專書，尚未完全。前讀韓君止軒之《瘧疾論》、唐氏容川之《血證論》及近人張君壽頤之《中風斠詮》，心竊是之，思欲仿其體裁，使一病有一病之完全統系學說，顧以牽於塵勞，有志未遂，心則無日忘之。今讀羅君此作，當不禁怦怦欲動。吾願羅君以此推廣，達吾未能達之目的，固於釐正國醫學說大有禆益，亦免西醫日持其科學二字以相欺矇，無畏難，無苟安，以竟此全功也。抑更有進者，孟子云守先王之道以待後之學者。今則守之外，更須加以發明；待之時，當須急與啟迪。加以外患內憂交相侵迫，其難有百倍於守與待者。匹夫有責，豈異人任。對於外，則師孟子之距楊、墨；對於內，則師孔子修《春秋》、正禮樂。吾願與羅君共勉之也。</p>
<p><u>民國二十一年六月衡陽曾覺叟序於長沙種福源</u></p>

<h1>吳序</h1>
<p>嗚呼！異教鴟張，聖道日晦，吾國醫學不絕其如縷乎！前者中衛部余岩以政治壓迫廢止國醫議案失敗，近復從文字進攻，於上海創設《社會醫報》，組織一班西醫，並將其所著余氏《醫述》擴大宣傳，而又恐東瀛學者提倡漢醫學說致阻《醫述》之進行，復著《皇漢醫學批評》散布寰球，以為斬草除根、消滅國醫之徹底辦法，全國醫界尚未注意焉，醫學前途能無懼乎？去年秋，予袖《醫述》一書進陳吾友羅振湘先生。先生曰：狤哉余氏，以物質而攻氣化，若如所論，則尊器毀道，重質薄能，國醫無立足之地矣。不有以距之，竊恐邪說誣民，禍更烈於楊、墨也。先生乃取《醫述》中誤點，亟為辨駁，發刊公布，以告國人。予亦奮然而起，自問廁居醫界，不能息邪放淫，挽救國學，其如衛道之責何？於是廢寢忘餐，特著《醫界之警鐸》一書，專以距余氏為主旨，而論者以好辯訾之，豈知人民之生命與國學之存亡實系乎此，予與羅君豈好辯哉？不得已也。今先生又出其所著《治痢南針》就商於余。細閱是編，以表、里、寒、熱、實、虛六字提綱，雖述而不作，然纂集甚詳，辨證處方有條不紊，按法治之，亦航海南針也。然當此異端蜂起，正吾人競爭激烈之時，予所望於先生者，亦如曾公覺叟所言，先距西醫之侵侮，再發揚中華之國粹，則是書之整頓內部當認為第二步工作而急其所先也。書以遺之，先生以為然乎？</p>
<p><u>民國二十一年夏月穀旦岳陽吳漢仙書於長沙省寓</u></p>

<h1>自序</h1>
<p>痢疾者，大便下利紅白，裡急後重，日數十行。其為病也，善傳染，但亦有不甚傳染者，猶不覺其慘。其傳染迅速者，嘗至有一人患病，傳染一家，一家患病，傳染一鄉一邑，朋友不相往來，親戚不相顧問，骨肉不相居處，慘莫慘於是矣。究其原因，不甚傳染者，因天時氣候和平，一人獨受濕熱，或飲食失調，致生此病；傳染迅速者，多由天時不正，並地下汙穢之氣感於人身，鬱結不解，變生此病。西醫謂之細菌，國醫謂之戾氣，其實細菌之發生皆因於戾氣。嘗觀兵燹、水災、凶年之後，人民死於溝壑，至夏秋兩暘交蒸，蠅蚋蛄嘬，而戾氣以起，故謂之瘟疫流行。民元以來，戰爭不息，災禍時聞，瘟疫流行，報端屢載。以余所聞見者，民十九年，平、瀏難民散居嶽麓山、北門外等處，死於痢疾者十之七八；二十年，我瀏難民聚居古鎮、縣城等處，死於痢疾者十之六七。他如湘、贛、皖、鄂各難區，無不在在皆是。此豈天欲殺人而假手於痢耶？防禦無方，治療乏術，要亦人事之不具耳！竊以治痢方法，各家皆有發明，舉一漏百，終難得其要領。雖聖如仲景，書尚闕如；賢如嘉言，法僅逆挽。即西醫傳入中國，亦只知滑利為能事，遂致此最惡最慘之症，自中而西，至今尚無善本，操仁術者豈不引為恨事乎？余自承庭訓，及入醫校學醫以來，於此等慘惡之症間嘗留意，擬著白喉、瘟瘧、霍亂、痢疾等書，以與世之具有同心者互相研究。但前供株萍路局醫職，光陰虛度，去秋因事赴京，贊襄於中央國醫館理事之職。今春回湘，得有暇晷，乃將痢疾一書先行脫稿，分為表、里、寒、熱、實、虛，顏曰《治痢南針》。沿用古方，本大聖不作之旨；統分六類，實吾人自用之愚。撮要提綱，方少法備，雖間有與古變通之處，要皆幾經折肱之言。若能尋余所集，無論不甚傳染與傳染迅速之症，皆無不治之痢矣。凡遐陬僻壤、絕少良醫，好覽方書，苦無門徑者，一閱此冊，則胸有成竹矣。居家旅行，置藏篋中，自衛衛人，非常便益，豈尚有痢症險惡之堪虞耶？付梓後，隨將霍亂編出，故附於編末。</p>
<p><u>中華民國二十一年夏月瀏陽羅振湘序於長沙之醫社</u></p>

<h1>凡例</h1>
<p>古今治痢專家，多守一二秘方，間有博採諸家之說，而胸中茫無主宰，故治之有效，有不效。余著是書，力矯此弊。雖竊取古人成方，然於分症用藥間，多系屢經試驗。其有未親自經驗者，則棄而不用；有彼此同一效力者，則取其一以棄其餘，刪繁就簡，捨短取長，仿孔聖舉一反三之意，閱者幸無以闕略視之。</p>
<p>是書以表裡、寒熱、實虛分為六症，其餘表裡、寒熱、實虛混雜之症亦附於其間。如仲聖《傷寒論》雖分三陽、三陰為六經，其餘太、少、陽明合病、並病，太、少、厥陰兼病之處，無不應有盡有，面面俱到。凡時俗所創各種痢疾名稱亦姑存之，而其治法則統於六症焉。</p>
<p>是書採用藥方無分今古，但分量及加減或遵原方，或由余自行審定，所謂食古而不泥，萬變不離宗者也。</p>
<p>是書純用中法，所有診斷治療，不牽西說。其說西法之處，另於編末紀其大略，以明統系而重國粹也。</p>
<p>是書編末所附《霍亂症治》，系付梓後隨即編出，故附於者，屢試屢驗，活人千萬，為霍亂之救命藥。惜近來舍中用西，舉國若狂，只知有漿苗預防法，甚可哀也。並附有古今治霍亂專方以便博考。</p>

<h1>痢疾之症狀</h1>
<p>痢疾者，大便下利紅白如膠狀之謂也。有下純紅者，謂之赤痢；有下純白者，謂之白痢。與痔瘡、腸風等病相似，其實大有分別。痔瘡下膿血，必肛門腫痛；腸風下血，必然輕微。且二症發生時，身體無特別苦狀，每日更衣（古人入廁必更衣）不過二三次。若痢疾輕者，亦有四五次，重者嘗至數十次。其初起時，必腹中脹痛，或頭痛、惡寒發熱、身痛，或有汗，或無汗，或嘔或渴，或不欲食，或舌上有苔（苔有白色、黃色、黑色之分），或裡急後重（即欲便不便，又謂之虛坐努責），或小便赤色，有數日後頭痛、惡寒發熱自止者，有十餘日後而頭痛寒熱仍在者，有初起並不見有頭痛寒熱者。症各不同，以人之體氣寒熱實虛與所感之邪在表入里，因而變化，故不免有大同小異。</p>

<h1>痢疾之原因</h1>
<p>痢疾古稱滯下，由濕熱鬱結而成。熱勝濕多赤，濕勝熱多白。薛生白曰：凡濕熱之邪從表傷者十之一二，由口鼻入者十之七八。是痢疾多由口鼻而入，而從皮毛而傷者，蓋甚少也。嘗觀夏秋之交，人之陽氣外散，腹內寒涼，多食瓜果，易成下利。且瓜果外露，蒼蠅群集，當為傳染病之媒介。又陳久餅糕、不潔飲料，中藏毒汁，食之往往發生痢疾，此痢之由口而入者也。至於大兵之後，屍填溝壑，大水之後，人畜多亡，加以風、寒、暑、濕、燥、火之氣異常變亂，而戾氣以起，人嗅之往往發為痢疾。始則由一人沾染而來，繼則人人互相傳染，謂之瘟疫流行，此痢之由鼻而入者也。若夫暑去寒來，皮毛空虛，邪入人身，或因外寒之來，或因內熱之煎，相與鬱結，始則見有頭痛、發熱惡寒之表症與下利之裡症，此時若用解表清裡之法，則病自愈。若過此失治，則漸變為痢疾，如《傷寒論》之桃花湯主治下利便膿血者是也。此痢之由表而傷者也。近來西醫傳入中國，謂痢疾皆由細菌傳染而來，其實未必盡然。細菌者，要即古之所謂戾氣也。然人有染、有不染者，何也？蓋細菌之生滅皆由體氣之盛衰，氣壯者菌自滅，氣弱者菌乃生，此一定之理也。西人不究此理，治痢專主殺菌。嘗有菌未死而體氣先虛，則菌終無由殺矣。我國治痢，專去濕熱，必壯其體氣，使體氣旺，濕熱去，而菌自滅減矣。嗟夫，世之司命者尚其參透此理為幸。</p>

<h1>痢疾預防法</h1>
<p>一、宜慎食物</p>
<p>生冷瓜果等物，暑月人多喜食。不知暑月之人，陽氣外散，寒氣內伏。若中寒之體，食之最易發生下利，則為痢疾之漸。況瓜果多為蒼蠅所集，容易傳染一切病毒，更為發痢之媒介。腐敗不鮮之物多含細菌，食之容易發痢。余於民國十八年秋，因食陳久茴餅一枚，一時許即腹脹下利，越日則成痢疾。又市中月餅糖糕多有陳久粉末混合做成，嘗見痢疾之人因食此等而起者不少。余在株萍當醫員時，親見一糖餅小店將賣余之粉末退還原來批發作坊，斢來整貨，問其故，曰：凡糖餅粉末均可由作坊混入新料內，若月餅中更為需要之材料。於是每見糖餅深以為戒。膏梁厚味，過飽則恐胃中消化力弱，易成食滯，當夏秋之際，多發下利，亦為痢疾之漸。余臨症時，見有人食牛肉甚飽，越日則成痢疾，無他，消化不良之故也。</p>
<p>不潔之水嘗含毒汁，飲之則毒傳人身，亦為痢疾之一種原因。</p>
<p>二、宜潔溝渠</p>
<p>凡地面拋棄不潔之物多為雨水推至溝渠。倘若溝渠不流通，積久成穢，加以太陽蒸發，變生微菌，人感之則成痢疾。若死鼠人畜暴露之地，非特別掃除清潔，多發為戾氣，更為痢疾之原因。</p>
<p>三、宜慎寒暑</p>
<p>凡天之六氣，皆足以致人於病。若體內先有濕熱，一旦加感外邪，一觸即動，亦能變成痢疾。</p>
<p>四、宜慎看護</p>
<p>凡患痢之人，宜獨居一室。護病之人，宜慎飲食，或入病室時，先飲雄黃酒一杯，或佩香囊，或鼻中搽香藥及雄黃酒，或口吃紙菸，或吃預防之藥，皆為免疫之法。至於病人糞桶中，宜傾濃厚之石碳酸或石灰水，傾糞時埋之土中更佳。</p>
<p>預防痢疾之方以一切芳香之品，如藿香正氣（方見下）之類是也。他如薛氏《濕熱篇》第九條所載之方，藿香葉、薄荷葉、鮮荷葉、枇杷葉、佩蘭葉、蘆尖、冬瓜仁等亦可選用。又以貫眾二條浸入飲水缸中亦佳。若西人傳來之防疫藥水注射於未發病以前，謂之防疫針，一時或者有效。至於注射後，經日累月，以為永久可以免傳染之病，未免欺人太甚。夫人之體氣寒熱時有變遷，非經醫生臨時檢查，萬難意料者也。余於臨症時，每遇患痢之人，問曾經打防疫針否，多有答未患病以前已打過二三次，此可見防疫針之不可恃，不過防疫者敷衍門面之一辦法也。</p>
<p>（曾注：防疫針之不可恃，誠如所言。然西醫所以挾制政府者以此，故衛生行政中醫無參加之地位。究其預防之法，防疫針既不可恃，余如清潔等法，中醫亦久知之。至病既發現，中醫原有治法，西醫只束手待其自斃而已。乃政府反奉之如神明，何也？夫亦中醫不善敷衍門面之故與。覺叟注。）</p>

<h1>痢疾調養法</h1>
<p>既患痢疾，除服藥外，其一切調養方法，最宜注意。如室內空氣總宜流通，一概器具宜特別清潔，嚴密消毒。至於食物，西醫主張用牛乳、肉汁、粥、卵等無刺激性、流動性，溫食之。不知胃熱過甚，食物易消。若食此少量之牛乳、肉汁、粥、卵，嘗至身倦腳軟，正氣日衰，反使邪氣日盛，病勢日增。余以為胃健能食，無妨仍食硬飯。胃強則體氣旺，病氣減。諺有云：脹（此脹字指飽脹言，非腹痛脹滿也）不死的痢疾。可見痢疾愈能食則愈良。若尊西醫約食之法則危矣。不過，難於消化之物亦不可食，及故意取飽，亦可不必耳。</p>

<h1>痢疾之治法</h1>
<p>治痢之方，自仲景桃花湯後汗牛充棟，惜言之不詳，或詳而不得其要領，以致痢疾一症，從古至今皆視為險惡，而無最捷解決方法。余臨症四十餘年，對於此病，經驗頗多，乃知古今治痢，非其方之不可用，特於辨症之際，尚未詳盡，試申言之。古稱赤痢屬熱，白痢屬冷，至劉河間、李東垣始非之。然劉以濕熱甚於腸胃，用辛苦寒涼之藥，微佐以辛熱之品，李氏則專保脾胃。若《衛生寶鑑》以赤黃為熱，青白為寒。朱丹溪則較量氣血虛實以施治。戴氏則順氣為先，開胃為次。王肯堂謂：種種為邪，經經受傷，蓋心肺移氣血之病，大腸獨受其邪，則氣凝注而成白痢；小腸獨受其邪，則血凝注而成赤痢；大小腸通受其邪，則赤白相混而下。胃之濕熱淫於大小腸者亦如之，其色兼黃。若色之黑者有二，如色之焦黑，此熱極兼水化也；如黑之光若漆者，此瘀血也。此數子者，皆發前人之所未發，而於治痢不為無見。惜其各執所長，未能會通。最可怪者，喻嘉言用逆流挽舟之法，以人參敗毒散治之，詡詡然自鳴得意。在喻氏當日，必有屢試屢驗者，而沈堯封斥為偽法。夫沈氏豈自作聰明而故意斥之耶？蓋用之不效，有斷然者矣。此無他，因辨症不明之故耳。夫痢疾有表裡、寒熱、實虛之分，未可以一法論治。前賢之主張皆就一種痢疾言之，舉其一則漏其餘，所以此用之而效，彼用之而不效也。傷既往冤亡，為將來以造福，不禁苦心孤詣，分為表、里、寒、熱、實、虛六門以施治。言雖簡而意甚賅，方雖少而用不窮，不離古人成方，分別症候用藥，而於治痢之法有條不紊矣。</p>

<h2>表症</h2>
<p>痢疾之病，本在腸胃，應屬裡症，有何表症之足言？然有時由表而傷者亦兼有表症，如頭痛、惡寒發熱、脈浮之類，故謂之表症。痢疾因外感不正之氣，內傷飲食而發，初起有表症，大便下利紅白，或單下白凍，症狀輕微，脈見浮緊；或痢疾流行時，但覺胸腹脹滿，宜藿香正氣散。</p>
<p><u>《局方》藿香正氣散</u></p>
<p>藿香葉　紫蘇　白芷　大腹皮　茯苓（三兩）　白朮（土炒）　陳皮　法半夏　厚朴（薑製）　桔梗　甘草（一兩）</p>
<p>每服五錢，加薑、棗煎，再加木香五分。傷麵食者，加神麯、麥芽；傷肉食者，加山楂；傷瓜果生冷者，加丁香、肉桂，或麝香少許。以後兼有傷食症者，均仿此加之。方內白朮易銀花或荊芥炭更佳。若血色鮮紅，加黑豆三十粒。此方本治外感風寒，內傷飲食，憎寒壯熱，頭痛嘔逆，胸膈滿悶，咳嗽氣喘，及傷冷傷濕，瘧疾中暑，霍亂吐瀉，及感嵐瘴不正之氣。今用治痢疾兼表之輕症，亦極效驗。</p>
<p>痢疾因夏秋之交，內傷飲食，外傷暑氣，初起有表症，自汗不欲食，或嘔或渴，或小便赤，大便甚瀉，間有紅白，脈浮虛或浮緊者，宜六和湯。</p>
<p><u>《局方》六和湯</u></p>
<p>砂仁　藿香葉　厚朴　杏仁　法夏（二錢）　扁豆　木瓜（三錢）　西黨參　白朮（錢半）　赤茯苓（二錢）　甘草（一錢）</p>
<p>加薑、棗煎。傷暑脈虛，加香薷二錢；傷寒脈緊，加紫蘇二錢；無汗，減去黨參。又白朮宜照前條易之。原方無分量，余權定之。</p>
<p>此治夏月飲食不調，內傷生冷，外傷暑氣，寒熱交作，霍亂吐瀉，及伏暑煩悶，倦怠嗜臥，口渴便赤，中酒等症。今用治痢疾有表症，吐瀉不止者，亦極效驗。</p>
<p>痢疾發於夏月暑時，有表症，用黃連香薷飲加甘草、芍藥、生薑。</p>
<p><u>黃連香薷飲加甘芍姜</u></p>
<p>黃連（一錢）　香薷（三錢半）　厚朴（二錢）　扁豆（二錢）　甘草（錢）　芍藥（三錢）　生薑（三片）</p>
<p>（按：此方用於暑痢異常神效，以夏月多屬暑症故也。分量減輕。）</p>
<p>痢疾初起有表症（即頭痛惡寒發熱等症）無汗，或有微汗，脈浮洪而緊，下利紅白，裡急後重，或噤口不食者，宜人參敗毒散。</p>
<p><u>《活人》人參敗毒散</u></p>
<p>人參　羌活　獨活　柴胡　前胡　川芎　枳殼　桔梗　茯苓（一兩）　甘草（五錢）</p>
<p>每服一兩，加生薑三片、薄荷少許煎。本方加陳倉米，名倉廩湯，治噤口痢（即不能食，或食即嘔）。若無陳米，以紅曲代之。若人參價高，以西黨參代之。唐容川加白芍、黃芩。</p>
<p>（按：此湯本治傷寒頭痛，憎寒壯熱，項強睛暗，鼻塞聲重，風痰咳嗽，及時氣癘病，嵐瘴鬼瘧，或聲如蛙鳴，眼赤口瘡，濕毒流注，腳腫腮腫，喉痹毒痢，諸瘡斑疹。今用治痢疾之兼有表症者，百發百中。但此湯服後，宜溫覆取微汗。有人患痢，頭痛、惡寒發熱，余用此湯，服兩劑後，仍如故。知其服不如法，乃令再備二劑，一夜服盡，溫服取汗，翼日病若失。用此湯者，對於服法上，亦須注意。喻嘉言用此湯謂之逆挽，其實即有表開表之意也。</p>
<p>是書脫稿後，余就正於曾君覺叟、劉君岳侖，多蒙指教。然對於此方，曾君嫌風燥藥太多，不宜於熱症。劉君嫌人參大補，不宜於強壯之人。有刪去全方，及去人參加荊芥、防風之議。但以余所經驗，得力於此方極多，不敢改變，姑存其說，以俟研究。）</p>
<p>喻嘉言曰：下痢必從汗先解其外，後調其內。首用辛涼以解表，次用苦寒以清裡，一二劑愈矣。失於表者，外邪但從里出，不死不休，故雖為日已遠，仍用逆挽之法，引其邪而出於外，則死證可治，危證可安。治經千人，成效歷歷可紀。</p>
<p>（按：《金匱》有云：下痢，脈反弦，發熱身汗者，自愈。夫久痢之脈，深入陰分，必沉澀微弱矣，忽然轉弦脈，純是少陽生髮之氣，非用逆挽之法，何以得此？久痢邪入於陰，身必不熱，間有陰虛發熱，則熱而不休。今用逆挽之法，逼其暫時燥熱，傾之邪從表出，熱自無矣。久痢陽氣下陷，皮膚乾澀，斷然無汗，今以逆挽之法，衛外之陽領邪氣同還於表，而身有汗，是以腹中安靜而病自愈矣。昌豈敢用無師之智哉？又有驟受暑濕之毒，水穀傾囊而出，一晝夜七八十行，大渴引水自救，百杯不止，此則腸胃為熱毒所攻，頃刻腐爛，比之誤服巴豆、鉛粉，其烈十倍，更用逆挽之法，迂矣，遠矣。每從《內經》通因通用之法，大黃、黃連、甘草，一晝夜連進三、五十杯，俟其下痢口渴之勢稍緩，乃始平調於內，更不必挽之於外。蓋其邪如決水轉石，乘勢出盡，無可挽耳。）</p>
<p>有急開支河一法，其邪熱之在裡者，奔迫於大腸，必鬱結於膀胱，膀胱熱結，則氣不化而小便赤，不用順導而用逆挽，仍非計也。清膀胱之熱，令氣化行而分消熱勢，則甚捷也。</p>
<p>（按：開支河一法，即利小便之謂。治下利則可，治痢疾無益。今讀喻氏自注，以見用此方時亦多繫有寒熱表症，為千古治痢一大法門。惜徒以逆挽解之，未知痢疾有表裡、寒熱、實虛之不同，是又千慮之一失耳。）</p>
<p>又痢疾不納食，或湯藥入口隨即吐出者，俗名噤口，甚為危險，宜詳辨之。《準繩》云：有因邪留，胃氣伏而不宣，脾氣澀而不布，故嘔逆而食不得入者；有陽氣不足，胃中宿食因之未消，則噫而食卒不下者；有肝乘脾胃發嘔，飲食不入，縱入亦反出者；有水飲所停，氣急而嘔，谷不得入者；有火氣炎熾，內格嘔逆而食不得入者；有胃氣虛冷，食入反出者；有胃中邪熱不欲食者，有脾胃虛弱不欲食者；有穢積在下，惡氣熏蒸，而嘔逆、食不得入者，當各從其所因以為治，以脈症辨之。如脾胃素不虛，問而知其頭疼、心煩、手足溫熱，未嘗多服涼藥者，此乃毒氣上衝心脾，所以嘔而不食，宜倉廩湯；若其脈微弱，或心膨脹，手足厥冷，初病則不嘔，因服罌粟殼、烏梅苦澀涼藥太過，以致聞食先嘔者，此乃脾胃虛弱，用山藥一味，銼如小豆大，一半炒熟，一半生用，同為末，飯飲調下。又方用真石蓮捶去殼，留心，並肉研末，每用陳米飲調下二錢。丹溪用人參、黃連薑汁炒濃煎汁，終日細細呷之，如吐再吃，但一呷下，咽便開，痢亦自止。楊仁齊用參苓白朮散加石菖蒲末，以粳米飲乘熱調下（參苓白朮散即人參、山藥、蓮肉、扁豆、白朮、桔梗、砂仁、茯苓、苡米、炙草，加薑棗）。戴復庵用治中湯加木香半錢，或縮砂一錢（治中湯即理中湯加青皮、陳皮）。</p>
<p>（按：以上各方皆系古人治噤口痢之成法，用之得當，無不靈驗。若辨症不明，無怪方之不效也。治痢者，其於表裡、寒熱、實虛處詳察之，庶無不治之症矣。）</p>
<p>痢疾初起有表證，但熱多寒少，下利紅白，裡急後重，或腹痛，或口渴，脈浮沉皆數者，宜柴胡荊芥湯。</p>
<p><u>柴胡荊芥湯</u></p>
<p>北柴胡（八錢，要真者，不辛散，只清香升發而已）　荊芥（一錢半）　竹茹（三錢）　銀花（二錢）　連翹（二錢）　白芍（三分）　杏仁（三分）　桔梗（三分）　青木香（一錢）　黃芩（二錢）　甘草（一錢）</p>
<p>先煎諸藥，後入荊芥，溫服，取微汗，則熱自退，痢亦減。</p>
<p>痢疾發熱不休，微惡寒，或不惡寒，協熱下利，赤白相間，日數十行，或腹痛，或小便赤，或有微汗，或嘔者，宜葛根黃芩黃連湯。</p>
<p><u>仲景葛根黃芩黃連湯</u></p>
<p>葛根（四錢）　黃芩（錢半）　黃連（錢半）　炙甘草（錢）</p>
<p>此用仲景《傷寒》方，變通分量。如嘔者，加半夏三錢。唐容川曰：喻氏用人參敗毒散即此湯之意。不知人參敗毒散治發熱惡寒，此治發熱不惡寒，如此分別，更屬精當。余屢試屢驗。</p>
<p>痢疾發熱如焚，大渴引飲，自汗如雨，下利赤白，日數十行，或下白色，脈洪大者，宜白虎湯。</p>
<p><u>仲景白虎湯</u></p>
<p>知母（三錢）　生石膏（八錢）　炙甘草（一錢）　粳米（二合）</p>
<p>此用仲景《傷寒》方，變通分量。大汗不止者，可加人參。蓋熱在肌腠，《傷寒》列於《太陽篇》中，故亦云表症。</p>
<p>唐容川曰：白痢屬氣分，主在肺，病重者，宜用此湯加黃芩、白芍、杏仁、桔梗、厚朴。有外寒者，再加葛根、荊芥；小便不利者，再加桑皮、滑石。若白痢稍輕者，用銀菊散，即銀花、白菊、連翹、生白芍、杏仁、桔梗、梔子、木香、牛蒡子、甘草等味。如有宿食，加生大黃。</p>

<h2>里症</h2>
<p>痢疾有頭痛、惡寒發熱之表症，經二三日後自止者；有初起並不見有表症者，脈必沉而不浮，病皆在裡，故謂之裡症。</p>
<p>痢疾里症，因濕熱滯太陰，郁久而成，其症胸痞腹痛，下墜窘迫，膿血稠黏，裡急後重，脈軟數者，宜銀花荊芥炭湯。</p>
<p><u>薛氏銀花荊芥炭湯</u></p>
<p>銀花炭　荊芥炭（三錢）　川厚朴　黃芩　神麯（二錢）　陳皮　廣木香　檳榔（一錢）　北柴胡　煨葛根（錢半）</p>
<p>此係薛生白方，未載分量，亦無方名，余權定之。薛氏自注云：濕熱之邪，內伏太陰，陰遏氣機，以致太陰失健運，少陽失疏達，熱鬱濕蒸，傳導失其常度，蒸為敗濁，膿血下注肛門，故後重氣壅不化，仍數至圊而不能便。傷氣則下白，傷血則下赤；氣血並傷，赤白兼下；濕熱盛極，痢成五色。故用厚朴除濕而行滯氣，檳榔下逆而破結氣，黃芩清庚金之熱，木香、神麯疏中氣之滯，葛根升下陷之胃氣，柴胡升土中之木氣，熱侵血分而便血，以銀花、荊芥炭入營清血。若熱盛於裡，當用黃連以清熱；大實而痛，宜增大黃以逐邪。</p>
<p>（按：此方去芥炭、柴胡、神麯，加地榆炭、槐花、生白芍、山楂、貫眾，力量更大。）</p>
<p>痢疾里症，腹不痛者，宜芍歸枳榔萊甘湯。</p>
<p><u>傅氏芍歸枳榔萊甘湯</u></p>
<p>白芍　當歸（三錢）　枳殼　檳榔　甘草　萊菔子（一錢）</p>
<p>此係傅氏治痢疾腹不痛之方。但以腹不痛為寒，未必然。</p>
<p>（按：此方痢疾無表症之輕者宜之。）</p>
<p>痢疾里症，紅白兼下，腹內脹滿，脈沉數，無表症者，宜當歸湯。</p>
<p><u>傅氏當歸湯</u></p>
<p>當歸（一兩）　黃芩（七分，酒炒）　蒼朮　厚朴　大腹皮　陳皮（一錢）</p>
<p>此係傅青主方，原無方名，余權定之。</p>
<p>（按：此方重用當歸以調血，黃芩以清熱，蒼朮以除濕，厚朴、大腹皮、陳皮以行氣，極其平穩。）</p>
<p>痢疾里症，感濕熱而成，紅白相見，如膿如血，至危至急，苟用涼藥止血，熱藥攻邪，俱非善法，宜大劑歸芍湯。</p>
<p><u>傅氏大劑歸芍湯</u></p>
<p>當歸　白芍（二兩）　枳殼　檳榔（二錢）　滑石（三錢）　廣木香　萊菔子　甘草（一錢）</p>
<p>水煎服，一、二劑收功。此係傅青主《痢門》所載，《驗方新編》亦載之，但當歸、白芍用三兩，與傅氏稍異耳。原無方名，余權定之。傅氏曰：此方妙在用歸、芍至二兩之多，則肝血有餘，不去克脾，自然大腸有傳送之功，加之枳殼、檳榔俱逐穢去積之品，尤能於補中用攻，而滑石、甘草、木香調達於遲速之間，不疾不徐，使瘀滯盡下也。其餘些小痢疾，減半用之，無不奏之功。</p>
<p>此方不論紅、白痢疾，痛與不痛，服之皆效。</p>
<p>（按：此方只要無寒熱表症及以後各種原因時，用之無不大奏厥功，真起死回生之第一方也。余用之活人甚眾，其分量並可由症之輕重而定。）</p>
<p>痢疾里症，紅白相間，日久不愈，脈沉緊或嘔者，是胃中有寒，腸中有熱也，宜理中湯加黃連　茯芩。</p>
<p><u>仲景理中湯</u></p>
<p>人參（或以黨參代）　白朮（三錢）　乾薑（二錢）　炙甘草（一錢）　加黃連　茯苓（二錢）</p>
<p>此用仲景《霍亂》方，後賢加黃連、茯苓，謂之連理湯，分量亦由余酌理，乃變通古法也。此症陳修園用理中湯加大黃，余用此湯極效。</p>
<p>痢疾定症，噤口不食，或食入即嘔，胸中痞滿，宜半夏瀉心湯。</p>
<p><u>仲景半夏瀉心湯</u></p>
<p>法半夏（四錢）　黃芩　乾薑（二錢）　甘草（炙）　人參（二錢）　黃連（一錢）　大棗（五枚）</p>
<p>此用仲景《傷寒》方，變通分量。按：痢疾噤口不食，除胃中有寒外，多是熱氣上衝。此方原治熱症，若間於寒熱之間，亦可取用，人參代以黨參。</p>

<h2>寒症</h2>
<p>痢疾紅白相間，不見有熱氣，或白色如魚腦，身無熱，口不渴，小便清，舌無黃黑苔，或手足寒，脈沉遲者，謂之寒症。</p>
<p>痢疾有寒症，腹痛，小便不利，下利不止，寒滑而便膿血者，宜桃花湯。</p>
<p><u>仲景桃花湯</u></p>
<p>赤石脂（一兩六錢，半完半研）　乾薑（一錢）　粳米（一合）</p>
<p>水煮米熟，下藥煎服，一服愈，余勿服。此照仲景原方變通分量。</p>
<p>痢疾有寒症，色黯如瘀，或白如鼻涕，服涼藥而下反多者，宜理中加附湯。</p>
<p><u>仲景理中加附湯</u></p>
<p>人參　白朮（三錢）　乾薑（二錢）　炙甘草（一錢）　附子（二錢，炮）</p>
<p>此用仲景《霍亂》方變通分量，人參以西黨參代之。若再加廣木香、肉桂各一錢更佳。</p>
<p>（按：白痢寒症居多，然間亦有屬熱者。唐容川主在氣分，屬肺，用白虎湯加味及銀菊散等，亦系涼劑。方附白虎湯下。）</p>
<p>痢疾發於處暑後、秋冬間，腹痛甚，有寒症者，宜厚朴丸。</p>
<p><u>潔古厚朴丸</u></p>
<p>川厚朴　蜀椒（去目，微炒）　川烏頭（炮，去皮，各一兩五錢）　紫菀（去土、苗）　吳茱萸（湯洗）　菖蒲　北柴胡　桔梗　茯苓　官桂　皂角（去皮弦，炙）　乾薑（炮）　人參（各二兩）　黃連（二兩半）　巴豆（半兩）</p>
<p>上為細末，入巴豆霜調勻，煉蜜為劑，旋旋丸如桐子大，每服三丸，漸次加至五七丸，以利為度，生薑湯下，食後而臥，治處暑後、秋冬間痢疾大效，以秋冬痢疾多因寒積故也。此方治效與《局方》溫白丸同。</p>

<h2>熱症</h2>
<p>痢疾下利紅白，或鮮紅色，口渴唇焦，舌苔黃黑，小便赤，肛門熱，腹內熱痛，脈沉數有力者，里有熱也謂之熱症。</p>
<p>痢疾有熱症，下利鮮紅血、腹痛者，宜歸芍連枳香菔湯。</p>
<p><u>傅氏歸芍連枳香菔湯</u></p>
<p>當歸尾　白芍（各一兩）　黃連（三錢）　枳殼　木香　萊菔子（二錢）</p>
<p>（按：血痢腹痛，有火無疑。然亦有血痢久不止、腹不痛者，用槐花丸，即青皮、槐花、荊芥煎服。）</p>
<p>痢疾有熱症，腹痛、熱利下重、欲飲水者，宜白頭翁湯加甘草、當歸。</p>
<p><u>仲景白頭翁湯</u></p>
<p>白頭翁（一錢五分）　黃連　黃柏　秦皮（錢二）　加甘草（二錢）　當歸（三錢）</p>
<p>此借仲景《傷寒》方，減輕分量，再加甘草、當歸。唐容川曰：市中白頭翁繁茸曲屈，形如蒿艾，其葉外白內青，又曰白茵陳，實非白頭翁也。蓋白頭翁一莖直上，四面細葉，莖高尺許，通體白芒，其葉上下皆白芒也，花微香而味微苦，川中甚多。</p>
<p>（按：《金匱》治產後下痢虛極，以此湯加甘草、阿膠，此加當歸，亦大致不差耳。且此方多主血痢。）</p>
<p>痢疾熱症，下利膿血稠黏，腹痛後重，身熱久不愈，脈洪疾者，宜芍藥黃芩湯。</p>
<p><u>東垣芍藥黃芩湯</u></p>
<p>黃芩　芍藥（各一兩）　甘草（五錢）</p>
<p>上㕮咀，每服一兩，水一盞半，煎至一盞，溫服無時。如痛，加桂少許。</p>
<p>若膿血利無度，小便不通，腹中痛，宜當歸導氣湯，即甘草一錢半，當歸、芍藥各一錢半，木香、檳榔各三錢，青皮、槐花炒，各七分，澤瀉五分，生地黃一錢半或二錢，酒浸，陰乾。水煎，食前溫服。如小便利，去澤瀉。</p>
<p>又下痢之後，小便利而腹中滿痛不可忍者，此名陰陽反錯，不和之甚也，宜《寶鑑》神效越桃散，即大梔子、良薑各三錢，為末，米飲或酒調下三錢。</p>
<p>又止痛如神方，用川黃連一兩、枳殼一兩、槐花二兩，水浸片時，漉起，先將連、槐炒黃，次入枳殼再炒，待燥，揀去槐花不用，取一半用水煎，去渣，調乳香、沒藥末各七分半服之，次日照前再服，腹痛即止，痢亦稀，神效。此方有服之如醉者，乃藥力行也，不妨。</p>
<p>痢疾有腹痛甚，諸藥不效者，因肺經之氣鬱在大腸之間，宜用桔梗發之則愈。《金匱》下痢腹痛者用紫參湯，但紫參市中鮮有真者。</p>
<p>（按：痢疾腹痛，不盡有熱，亦有寒症，有寒熱複雜症，並有實有虛，治者宜審脈察症，對病施藥，自無不應。若膠執一方，往往有此效彼不效者。余嘗見時俗治痢，多中此弊。余鄉有馬某，自稱治痢專家，查其秘方，皆系黃連、黃芩、木香、沉香、鴉片、粟殼之類為末與服。若遇熱症，亦有效者。否則，則束手待斃而已。）</p>

<h2>實症</h2>
<p>痢疾實症與上熱症大略相同，但熱輕而實重，且體氣壯實，所患之症內熱如焚，或日晡潮熱，或狂言亂語，煩燥異常，脈沉大有力而長，謂之實症。</p>
<p>痢疾有實症，嘔不欲食，此係熱毒上衝，謂之噤口痢，宜大黃黃連酒。</p>
<p><u>《金鑑》大黃黃連酒</u></p>
<p>大黃　黃連（一錢）</p>
<p>好白酒煎服。</p>
<p>（按：痢疾能食者吉，不能食者凶。本書對於此症異嘗重視，有六和湯、人參敗毒散加陳米、連理湯、半夏瀉心湯與此方等法。蓋食入少頃方嘔是寒，隨食隨吐是熱。辨清寒熱，施治自無不靈。唐容川曰：腸胃所以能食者，以胃有津液，清和潤澤，是以思食。西洋醫雖滯於跡，亦間有可信處。言谷入於胃，即有胃津注之，將谷渾化如糜，常探胃津攪飯，頃刻亦化為糜。據此論說，則胃之思食全是胃津使然。試觀犬欲得肉，則涎出於口，此涎則欲食之本也。人之胃津，其思食之情，亦類乎此。今胃為邪熱濁氣所攻踞，其清和之津盡化而為濁滯，下注於大腸，則為痢，停滯胃中，則拒不納食。丹溪石蓮湯雖知清火補胃，然石蓮是蓮米有黑殼者。今醫用石蓮子，不知何物，斷不可用。即蓮米性亦帶滯，痢症宜滑以去著，澀乃所忌。且胃中濁滯非洗滌變化不為功。此方雖寒熱未差，然未能洗滌其滯，變化其濁，非起死回生之方也。清瘟敗毒飲、竹葉石膏湯、人參白虎湯、麥冬養榮湯出入加減，庶可以洗胃變津，為開胃進食之良法。至嘔不食，《金鑑》用二黃好酒，取其峻快以攻逆。然治逆洵為得法，而不知化生津液，終未得進食之本也。吾意以為宜用大柴胡湯加石膏、花粉、人參，則攻逆生津、開胃進食，兩面俱到。治噤口者，從無此論。吾今悟出切實之理，為斯人大聲疾呼，海始欲以文章報國，今已自分不能，庶幾發明此道，稍有補於斯民歟。）</p>
<p>痢疾有實症，裡急後重已極，內熱煩燥，嘗見有投冷水以避之者，或休息痢，時止時發，或痢疾因舊積，宜三一承氣湯。</p>
<p><u>劉氏三一承氣湯</u></p>
<p>大黃　芒硝（用湯泡服）　枳實（二錢）　厚朴（四錢）　甘草（二錢）</p>
<p>此係仲景三承氣湯，河間合為一方，分量則較古酌減。按：痢疾實症非用下藥不可。若西醫治痢，無論何症，皆用甘汞、蓖麻子油、瀉鹽、大黃末等，先通下之，俟瀉去積物，腹不脹後，則服健胃藥如苦味酒之類。如此，則世無不可下之痢疾矣。真是豈有此理，治法之粗，不辨自明。至於可下而不下，則又膽識淺小，優容養奸之流耳。</p>
<p>（按：後重有實虛之分。若邪壓大腸，墜下而重，其重至圊後不減，用大黃、檳榔等瀉其所壓之邪則愈。若大腸虛滑不能自收而重，其重至圊後隨減，宜用御米殼等澀劑，固其滑、收其氣則愈。以此辨之，百不失一。）</p>
<p>又下痢積中有紫黑色而又痛甚者，此為死血症，法當用桃仁泥、滑石粉行之。</p>
<p>又凡用下藥之後仍後重者，乃陽氣不升也，不可再下，藥中宜加升麻，升其陽則後重自愈。休息痢愈而復發，因瘀熱留於膜油隱匿之地，宜用此湯下之。又病人有舊積，因而患痢者，宜用此湯下之。王肯堂曰：舊積者，停食結痰所化之積也；新積者，舊積去後而氣血復郁所生者也。蓋腸胃之腐熟水穀、轉輸糟粕者，皆榮衛灑陳六腑之功。今腸胃有邪，則腸胃運行至此，其機為之阻，不能施行，故衛氣鬱而不舒，榮血泣而不行，於是飲食結痰停於胃，糟粕留於腸，與所鬱氣泣血之積相挾，成滯下病矣。如是者必當下之以通壅塞，利榮衛之行。至於升降仍不行，衛氣復郁，榮血復泣，又成新積，故病如初，如是者不必求邪以治，但理衛氣以開通腠理，和榮血以調順陰陽，陰陽調，腠理開，則升降之道行，其積不治而自消矣。然而舊積亦有不可下者。先因榮衛之虛不能轉輸其食積，必當先補榮衛，資腸胃之真氣，充溢然後下之，庶無失矣。</p>
<p>（按：此說論宜下與不宜下甚為妥當。若朱丹溪謂初痢必用調胃承氣及大、小承氣下之，失之遠矣。）</p>
<p>痢疾實症，有喉痛、氣嗆喘逆者，謂之奇恆痢，以其異於常痢也，是火逆攻肺，有立時敗絕之象，其脈反小而沉遲，以三陽並至，三陰莫當，急宜養陰，緩則不救，宜大承氣湯。</p>
<p><u>仲景大承氣湯</u>　即上方去甘草。</p>

<h2>虛症</h2>
<p>痢疾有日久未治與治不如法，延綿日久；或其人體氣虛寒，及患痢後醫不如法，以致中氣虛弱，邪氣內侵，下利膿血，裡急後重，小便清利，口中和，身倦手清，脈沉弱者，謂之虛症。</p>
<p>痢疾有虛症，日久傷陰，虛坐努責，宜地歸芍甘陳皮方。</p>
<p><u>薛氏地歸芍甘陳皮方</u></p>
<p>熟地炭（八錢）　炒當歸　炒白芍（五錢）　炙甘草　陳皮（二錢）</p>
<p>此方原無分量，余權定之。薛生白曰：里結欲便，坐久而仍不得便者，謂之虛坐努責。凡里結屬火居多。火性傳送至速，鬱於大腸，窘迫欲便而仍不得舒，故痢門中，每用黃芩清火，甚者用大黃逐熱。若痢久血虛，血不足則生熱，亦急迫欲便，但久坐而不得便耳。此熱由血虛所生，故治以補血為主。里結與後重不同。里結者急迫欲便，後重者肛門重墜。里結有虛實之分。實由火邪有餘，虛為榮血不足。後重有虛實之異。實為邪實下壅，虛為氣虛下陷。是以治里結者有清熱、養陰之別，治後重者有行氣、升補之殊。虛實之辨，不可不明。</p>
<p>（按：里結「結」字有用「急」字，均通。薛氏此論辨別明白。治痢者，其三復斯言為幸。）</p>
<p>又痢疾不分赤白、新久，但腹中大滿者，其脈弦急，或澀浮大，按之空虛，或舉按皆無力者，用仲景建中湯，即桂枝三錢、白芍六錢、甘草二錢、生薑三片、大棗四枚、飴糖二兩。</p>
<p>痢疾有虛症，因內傷勞倦，中氣虛寒，脾不攝血，或脫肛者，宜補中益氣湯。</p>
<p><u>東垣補中益氣湯</u></p>
<p>西黨參　炙甘草（一錢）　炙黃耆（一錢五分）　秦當歸　陳皮　漂術（五分）　升麻　北柴胡（二分）　生薑（三片）　大棗（二枚）　再加熟地炭（二錢）　黑乾薑（五分）</p>
<p>此用東垣方再加地、姜也，分量宜臨時酌加。</p>
<p>又痢有因瘧後發者，有與瘧疾同時併發者。昔人不分症候，統用補中益氣湯治之。不知瘧邪不一，轉痢之邪亦不一。須認清症候，按法治之。但久瘧久痢，邪氣已退而脾胃陽虛，中氣下陷者，亦宜此湯。吳鞠通謂：邪內陷，病較深，不出喻嘉言逆挽之法。其偏處亦與統用此湯無異。不過有用人參敗毒散之必要時，用之斯無弊耳。</p>
<p>痢疾有虛症，下血黯黑，脈遲，手足冷，或休息痢時止時發者，宜黃土湯。</p>
<p><u>仲景黃土湯</u></p>
<p>甘草　乾地黃　白朮　炮附子　阿膠　黃芩（三錢）　灶中黃土（一兩）</p>
<p>先煎灶中黃土，取水澄清，入藥煎服。</p>
<p>此方仲景用治先便後血之遠血症，余用治此症甚效。陳修園以灶中黃土易赤石脂，附子易炮姜，或加柏葉、鮮竹茹，亦極妙。</p>
<p>痢疾有虛症，久痢不止，諸藥不效，脈微而厥，或間吐蛔蟲，或休息痢時止時發，宜烏梅丸。</p>
<p><u>仲景烏梅丸</u></p>
<p>烏梅（七粒）　細辛（五分）　乾薑（二錢五分）　黃連（二錢）　當歸　附子　蜀椒　桂枝　人參　黃柏（二錢）</p>
<p>此用仲景《傷寒》丸方改作湯，分量亦稍變通，人參以黨參代之。</p>
<p>（按：此方若用之得法，異常效驗，余用此活人不少。）</p>
<p>又有一種煙痢，凡吃鴉片人，多是大便閉結，若身受寒熱，因煙收斂於內，久之變成痢疾。</p>
<p>余用此方治之甚效。但烏梅味酸，不宜與鴉片同食，去之更好；或用上黃土湯亦妙；再用鴉膽子（即苦參子）亦可治，每取七粒去殼，用龍眼肉包好，水吞下。</p>
<p>痢疾有虛症，下痢赤白，臍腹痛，日夜無度；或瀉痢日久，赤白已盡，虛寒脫肛，宜真人養臟湯。</p>
<p><u>謙甫真人養臟湯</u></p>
<p>罌粟殼（去蒂，蜜炙，三兩六錢）　訶子（面里裹煨，一兩三錢）　肉豆蔻（麵裹煨，五錢）　木香（二兩四錢）　肉桂（八錢）　人參　白朮（炒）　當歸（六錢）　白芍（炒，一兩六錢）　生甘草（一兩八錢）</p>
<p>每服四錢。臟寒甚加附子。一方無當歸。汪訒庵曰：脫肛由於虛寒，故用參、朮、甘草以補其虛，肉桂、肉蔻以祛其寒，木香溫以調氣，當歸潤以和血，芍藥酸以收斂，訶子、罌殼則澀以止脫也。陳修園曰：此方用木香甚多，則澀而不郁，亦是見解超脫處。</p>
<p>（按：此方虛痢脫肛亦極有效，但不可用之太早爾。）</p>
<p>痢疾大便不禁，其大孔開如空洞不閉者，用蔥和花椒末搗爛塞穀道中，並服酸澀固腸之劑以收之，如御米殼、訶子皮之類是也。若大孔痛者，用熟艾、黃蠟、訶子燒熏之。但有寒熱之分。因熱而痛者，檳榔、木香、黃連、黃芩，加乾薑；因寒而痛者，炒鹽熨之，炙枳實熨之。丹溪用人參、當歸、陳皮作濃湯飲之，食淡味自安。</p>
<p>痢疾有虛證，因逢產後，氣血俱虛，一染痢疾，更屬不支。治者宜固其本，兼調其氣，宜八珍湯加厚朴、木香。</p>
<p><u>八珍湯加厚朴木香</u></p>
<p>西黨參（二錢）　白朮（二錢）　茯苓（二錢）　熟地（三錢）　當歸（五錢）　川芎（二錢）　白芍（四錢）　甘草（錢）　厚朴（錢半）　木香（七分）</p>
<p>（按：產後痢，方書另立一條，其實不必，蓋治痢無分男女。不過，產後血虛宜加註意。若有他症，無妨照諸法治之。）。</p>
<p>痢疾虛證，有因日久失治，脾腎雙虛，滑利虛脫者，宜用扶脾固腎湯。</p>
<p><u>景岳扶脾固腎湯</u></p>
<p>人參（三錢）　白朮（三錢）　茯苓（二錢）　炙甘草（錢）　黃耆（炙，三錢）　鹿茸（錢）　附子（二錢，炮）　肉桂（錢）　砂仁（二錢）　法夏（二錢）　川椒（錢）　芡實（三錢）　山藥（三錢）　故紙（錢半）　益智（錢半）　蓮子（去心，三錢）</p>
<p>（按：此症虛極滑脫，非重劑多服不可。如峻補不效，宜速灸百會、氣海、天柱、神闕等穴，以回其陽，或有生者。）</p>
<p>痢疾虛症，有因痢久不愈，耗損精血，致腸胃空虛，變生他症，或五心發熱，如勞之狀，謂之勞痢，宜蕷蓮飲。</p>
<p>痢疾有虛症，其實因諸病壞症，久下膿血，或如死豬肝色，或五色雜下，頻出無禁，雖似痢疾，究非痢疾也，俗名刮腸。此乃臟腑俱虛，脾氣欲絕，故腸胃下脫，用六柱飲去附，加益智、白芍。</p>
<p><u>《準繩》六柱飲去附加益智白芍</u></p>
<p>人參　白茯苓　木香　訶子　肉豆蔻（各一兩）</p>
<p>上㕮咀，每服三錢，水一盞半、姜五片、鹽少許煎，空心服，或可冀其萬一。《活人》有漂術，無訶子。</p>
<p>痢疾虛症後，發現風症。此因痢下大虛，不善調將，或多行，或房勞，或感外邪，致兩腳痿軟，若痛若痹，遂成風痢。用獨活寄生湯吞虎骨四斤丸。</p>
<p><u>《寶鑑》獨活寄生湯</u></p>
<p>獨活　桑寄生（如無真者，以川續斷代之）　杜仲（炒）　防風　牛膝　細辛　秦艽　茯苓　桂心　川芎　人參（各一錢半）　甘草　當歸　芍藥　乾地黃（一錢）</p>
<p>上加生薑五片煎，食前服，即用吞下丸。</p>
<p><u>《和劑》虎骨四斤丸</u></p>
<p>宣州木瓜（去瓤）　天麻（去蘆）　肉蓯蓉（洗淨）　牛膝（各一斤，去蘆）　附子（炮，去皮尖，二兩）　虎骨（塗酥炙，一兩）</p>
<p>上各如法修制。先將前四味用無灰酒五升浸，春秋五日，夏三日，冬十日，取出焙乾，入附子、虎骨共研為末，用浸藥酒打面，糊丸桐子大，每服五十粒。</p>
<p>丹溪云：痢後風，系血入臟腑，下未盡，復還經絡，不得行故也。松明節一兩以乳香二錢炒焦存性，蒼朮、黃柏各一兩，紫葳一兩半，甘草半兩，桃仁去皮，不去尖，一兩，俱為末，每服三錢，生薑同杵細，水蕩起二、三沸服。</p>
<p>（按：此症系惡血留滯隧道所致，宜用補血活血如四物湯合桃仁、紅花，再加風藥，守服自愈。）</p>

<h2>論西法治痢之大略</h2>
<p>西人所謂赤痢，不限於一種，如傷寒、瘧疾、敗血膿毒症、水銀中毒、尿血、腸癌、直腸梅毒、直腸淋病等，發作常現此症者，皆屬廣義的赤痢。若狹義者，專指流行性赤痢。其主要成分不外黏液、血液、膿汁等。混多量血液者，其色赤，因名赤痢。混多量黏液或膿汁者，其色白，因名白痢。若大便放惡臭之氣者，謂之壞疽性赤痢。其發高熱類傷寒，且起腦症，便多而血液、黏液少，謂之傷寒性赤痢。又言小兒赤痢，唯帶發熱、搐搦、痙攣、嘔吐等，大便不過一二次，混黏液或血液，或竟大便不通而死。論症似極精詳，而究其療法有萬不敢附和者。第一是禁食硬飯，專以流動性食品，如粥湯、葛湯、水飴、雞肉汁、牛乳、生卵等，以為容易消化也。不知痢疾之不死，全恃胃健能食。若患者胃健，而概與粥湯等約食之，當見精神日倦，氣力減少，病勢日益加重，將至於不可救矣。故痢疾之飽者不死，我國已有經驗之言。且雞汁性溫補，不益於實熱之症，不如飯食味甘補脾，又無何種病人之禁忌。第二是首用下劑，以甘汞六釐、乳糖五釐一次服之，或以蓖麻子油一五釐一次服之。以為不如此，則膿血難於去盡也。不知痢疾有表裡、寒熱、虛實之分。表症、寒症、虛症皆不可下，唯實熱在裡，乃可議下。可下而不下，固屬養癰貽患，若不可下而下之，則邪反內陷，其禍有不勝言者。至其用收斂劑、制菌劑、麻醉劑，皆系下後補救方法，所謂「失之東隅，收之桑榆」者也。然其間有可採者，用生理食鹽水（即百分之五）或百分之一重曹水灌於腸內，籍以洗滌腸中穢物，亦可謂開治痢之又一法門，但不塞其源而欲止其流，又難免捨本從末之議。他如用各種藥水如志賀氏赤痢血清等注射於病人體內，間或有效。但注射藥水系藥肆密制，醫生難明真相，與病體何者為宜、何者為忌，總難推測，此不過依樣畫葫蘆而已。然則凡屬西法盡不可用乎？曰：非也。吾嘗觀西法外科器械之精、手術之敏、消毒防腐之嚴，有為國醫所不可及者。惜其治內症，不究天之六氣與人身之元氣，徒執細菌、細胞之學以包括一切，於是研究藥物者亦無溫補寒涼之劑，所以臨床實驗往往束手也。吾於西法之治痢不禁有感而言及之。</p>
<p>（曾注：中醫對於此證有表裡、虛實、寒熱等法，辨證用藥效如桴鼓。西醫對於此病及類似之證，多用甘汞以推蕩之，當亦見效，以無分寒熱積聚，下後自覺舒適。唯愈後多發別證，以病根未除，故金雞納霜之治寒瘧亦然，愈後必以中藥消息之。不然，亦必有後患。西醫以科學自矜，固只有能知其當然，而不知其所以然也。羅君此書，分證既明，選方亦當，以此壽世，誠苦海慈航，火宅中之甘露也。現在中醫正在危急存亡之時，深望羅君先拒西醫之侵侮，再發揚中華之國粹。僕雖老矣，亦當奮矛追隨諸君之後也。覺叟識。）</p>

<h1>讀羅振湘《治痢南針》書後</h1>
<p>吾讀羅君《治痢南針》一書，不禁淵乎以思，憬乎以懼也。夫治病豈易哉！人有南北之異稟，氣有風、寒、暑、濕、燥、火之異候，馴至體之強弱、脈之虛實，似是而非，似非而是，為之不慎，其不僨事者鮮矣。羅君此書，既於六氣分晰極審，又於證之虛實辨之最細，採各家之詳而折中以心得，誠治痢之南針也。康白少習陸軍，負笈金陵，三度寒燠，見校中有官醫唐小春先生者，所治病，論證奇中，病無弗瘳者。校之生，咸德之，進而請以醫，則論病之陽，得病之陰，迥非當時之所為醫者可比。因私淑之，課餘，則以醫經左義相質，先生為之道其始終，娓娓不倦，志𰕣乎醫，蓋基於此。洎後改讀律令，弭筆趨公，故紙堆中，久尋生活。然常以醫籍自隨，迄未少間。民元以來，息景蝸廬，鬻醫自給。若羅君之少習路政，頻耽醫籍，著作等身，十手傭抄以視康白之故紙堆中，垂垂以老，無一言以詔於今之人。今讀是書，又不禁汗涔涔下也。書其末以奉羅君，且志余之感云。</p>
<p><u>中華民國二十一年周正六月二十一日西泠汪康白跋於蝸廬</u></p>

<h1>附　霍亂（即虎疫）症治</h1>

<h2>虎不傷人說</h2>
<p>霍亂之為病，心腹卒痛，上吐下瀉，俗名天乾地漏，不急治則死，西醫謂之虎列拉，簡名曰虎疫，以其病系細菌，症甚凶惡，如虎之傷人，談者無不色變。其實，此症治漢中醫發明最早。漢張仲景著《傷寒論》已附霍亂一編。自茲以降，陳無擇謂霍亂有三因，外因風、寒、暑、濕，內因痰涎郁聚，又有不內外因而在飲食。劉河間謂熱氣傷於三焦，張戴人則以風、濕、暍三氣合而為病，戴氏則謂飲冷乘風，其說不一。蓋以原因錯雜，所發之病雖大致相同，而或寒或熱，或自汗，或轉筋，亦往往有差異，故治法亦因症候不同而異。其方有用極冷之香薷飲、藿香正氣散、五苓散、胃苓散加木瓜內外兼治者，有用理中湯、四逆湯、訶子散、吳茱萸食鹽湯溫散寒邪者，有用地漿水、黃連丸、白虎合六一散、木瓜汁清解暑熱者，有用連理湯、石膏理中湯、通脈四逆加膽汁湯、桂苓白朮散、四君子加大黃湯寒熱並治者，有用白礬水吐升其氣者，對症施藥，無不立愈。然余治病四十餘年，對於此症，經驗極多。據余所用最有效力之方，即《局方》中之六和湯是也。所以然者，霍亂病是夏月飲食不調或內傷生冷，或外感六氣，錯雜混亂，故謂之霍亂也。余前《駁余氏醫述·六氣論》中，言之甚詳。譬如夏月酷暑，晚間必涼，秋日燥炎，雨後必涼，以故風、寒、暑、濕、燥、火當嘗含於夏秋之間。人居其中，同時感受六氣中之二氣或三氣，寒熱複雜，狼狽為奸，體氣強壯者，猶或可免，若體衰抵抗力弱之人，必即時染病。其人人同者，以所感之氣相同也。其間有異者，以人之體氣各殊也。及至氣之既感，傷於脾則瀉，傷於胃則吐，傷於肺則渴，傷於膀胱則溺赤，陰陽相爭，則寒熱交作；或轉筋者，以病在脾經，脾主四肢也，豈必細菌而後有此哉（吳氏漢仙六淫為細菌之母可參看）！六和之名取和六氣之義也。方中有藿香、砂仁、杏仁、厚朴能舒脾行氣，又砂、樸兼能化食，有木瓜平肝舒筋，扁豆、茯苓滲濕泄熱，而扁豆又能散暑和脾，有半夏散逆止嘔，參、術補正匡邪，甘草補中和氣，薑、棗調和營衛，錯雜之病則用此錯雜之藥。輕者一劑，重者二三劑，無不藥到病除。初未嘗以霍亂為難治者，但是方藥味分量加減最關緊要。如傷寒則加蘇葉，傷暑則加香薷；吐甚則重用砂仁、半夏，瀉甚則重用白朮、扁豆；轉筋則重用木瓜；余更有熱加黃連、黃柏，寒加附子、乾薑，寒熱俱有黃連、乾薑同用之權變法。前用各方分治之症，今則以一方加減而統治之矣，其簡捷豈啻天壤哉！再有不吐不瀉之乾霍亂，俗謂之痧，其或寒或熱，或心痛，或腹痛，或手足冷，或自汗出，比前症更凶，往往有一時悶死者。俗有放痧法，及臥龍丹吹鼻取嚏法，均有速效。服方則有炒鹽調童便法，二陳湯加川芎、蒼朮、防風、白芷法，此中法之治霍亂，最為神驗者也。若西醫診視此病，謂腸生彎曲形桿菌，分乾性與電擊性兩種，治用消毒灌腸，生理鹽液注射，或服多量甘汞、阿片等劑。寒則用嗎啡針、樟腦精、勃蘭地溫熱興奮藥，熱則用冰塊、冰袋清冷退熱藥。雖亦有效，然往往經過長久時間，使病者精神受無形損失，此何故哉？蓋西醫不究六氣致病之理，專於殺菌，不知既生之菌被殺，而由六氣再生之菌殺之不勝殺矣。且西藥補劑缺乏，嘗以一藥單用，不能面面俱到。即令有造成之複方，又不能臨時因病變更其分量與藥味，此西法治霍亂所以不及中法也。近日西醫又有注射防疫漿苗法，以為先事預防，可以免發霍亂。不知人之身體有強有弱，強者雖不打針而不病，弱者雖打針而亦不免。況霍亂由於天氣不正所發，不比人之痘瘡，毒出先天，非種而引之使出不可。據廣東《光漢醫報》所載，上海熊司令之夫人打防疫針後，又以霍亂斃命，可見防疫針未必可恃。今觀六和湯加減法，有補有散，有滲有澀，有寒有熱，隨病變更，故醫者有運用在心，自得著手成春之妙，所以在各方中獨居上劑，倘能踵而行之，尚得有虎之傷人哉？</p>
<p><u>霍亂預防法</u></p>
<p>宜清潔房屋溝渠。凡人呼出碳素，吸入酸素，最為相宜。若房屋溝渠有汙穢等物，則能使空氣混濁，使人吸之，嘗有登時即嘔者，不必細菌作用，因腥臭之氣刺激人之臟腑機能也。</p>
<p>宜禁赤身乘涼。暑熱之時，莫不好乘寒涼，此時最宜謹慎。夏月汗多，皮竅空虛，最易感寒。不比冬時皮膚固結，受稍大涼風而亦能耐也。若過貪寒涼，因表虛之故，往往直中入內，則發吐瀉。故乘涼時不宜赤身，電扇下不宜赤身，必須加食以衛之，總期適宜而止。</p>
<p>節食膏粱厚味。凡人嘗服之品，適宜滋養，則消化力有習慣常度。若驟然過飽脂肪，則消化力失其常度，往往發生下利，此時又感風寒等氣，則吐瀉交作。</p>
<p>戒食瓜果生冷。夏月陽氣在外，陰氣在內，故腹內常寒。少食瓜果生冷等物，體氣強壯者，雖無大害，若過食之，體又素弱，則寒者更寒，吐瀉並至，不必定有細菌之傳入其中也。</p>

<h2>霍亂（即虎疫）分門治法諸方</h2>
<p><u>內外兼治</u></p>
<p><u>香薷飲</u>（《活人》）　治陰陽不順，清濁相干，氣鬱中焦，名為霍亂，此皆飽食多飲，復睡冷席，外邪內積，結而不散，陰陽二氣，壅而不返，陽氣欲降，陰氣欲升，陰陽交錯，變成吐利，百脈混亂，榮衛俱虛，冷搏筋轉，皆宜服此。</p>
<p>厚朴（薑汁炒）　黃連（薑汁炒，各二兩）　香薷（四兩）　甘草（半兩）</p>
<p>上為末。每服四錢。水煎，不犯鐵器，慢火煎之。兼治不時吐利，霍亂腹撮痛，大渴煩躁，四肢逆冷，冷汗自出，兩腳轉筋，痛不可忍者，須井中沉令極冷，頓服之，乃效。</p>
<p><u>藿香正氣散</u>（《局方》）　治傷寒頭疼，憎寒壯熱，或感濕氣，霍亂吐瀉。常服除山嵐瘴氣、伏暑吐瀉、腳轉筋。</p>
<p>大腹皮　白芷　茯苓　紫蘇（用莖葉）　藿香（各三兩）　厚朴　白朮　陳皮（去白）　苦桔梗　半夏（各二兩，制）　炙甘草（一兩）</p>
<p>上㕮咀，每服三錢，姜三片，棗二枚，煎熱服。</p>
<p><u>五苓散</u>（仲景）　治霍亂頭痛發熱、身疼痛，熱多欲飲水者。</p>
<p>豬苓（二錢）　澤瀉（三錢）　茯苓（二錢）　桂枝（一錢）　白朮（二錢）</p>
<p>（按：仲景治霍亂分寒、熱兩大法門，熱者用五苓散，寒者用理中湯。代遠年湮，病變百出，近常有熱症用五苓亦嫌辛溫者。原方用散，今多用湯，取其便也，分量稍有變通。）</p>
<p><u>胃苓散加木瓜</u>　治霍亂頭痛、發熱、身痛、欲飲水，胸腹痞滿，轉筋脅痛，脈弦者。</p>
<p>厚朴（錢半）　陳皮（一錢）　蒼朮（一錢）　桂枝（一錢）　豬苓（二錢）　茯苓（二錢）　漂術（二錢）　澤瀉（三錢）　甘草（一錢）　木瓜（五錢）</p>
<p>原方用散，今改作湯。</p>
<p><u>溫散寒邪</u></p>
<p><u>理中湯</u>（仲景）　治霍亂頭痛、發熱、身疼痛，寒多不用水者。</p>
<p>人參　炙甘草　白朮　乾薑（各三錢）</p>
<p>加減法：若臍上氣築者，腎氣動也，去朮，加桂四錢；吐多者，去朮，加生薑三錢；下多者，還用術；悸者，加茯苓二錢；渴欲飲水者，加朮一錢半；腹中痛者，加人參一錢半；寒者，加乾薑一錢半；腹滿者，去朮，加附子一枚。服後溫覆取汗。</p>
<p><u>四逆湯</u>（仲景）　治吐利汗出，發熱惡寒，四肢拘急，手足厥冷者，又治既吐且利，小便複利而大汗出，下利清穀，內寒外熱，脈微欲絕者。</p>
<p>炙甘草（二錢）　乾薑（一錢半）　附子（一枚，生用，去皮，破八片）</p>
<p>若惡寒、脈微而複利，利止亡血也，宜用此方加人參一錢。</p>
<p><u>訶子散</u>（《三因》）　治老幼濕霍亂，一服即效。</p>
<p>訶子（炮，去核）　甘草（炙）　厚朴（薑製）　乾薑炮　神麯（炒）　草果（去殼）　良薑（炒）　茯苓　麥芽（炒）　陳皮（各等分）</p>
<p>上為細末。每服二錢，候發不可忍時，用水煎，入鹽少許服之。</p>
<p><u>吳茱萸食鹽湯</u>（《良方》）　治霍亂吐利轉筋，四肢逆冷，須臾不救者。</p>
<p>吳茱萸　木瓜　食鹽（各半兩）</p>
<p><u>清解暑熱</u></p>
<p><u>地漿水</u>（羅謙甫）　治霍亂感暑熱，或因食酒與潼乳，以致吐瀉，脈沉數，按之無力。</p>
<p>地漿水法：於牆陰黃色黏土處，掘二尺許，入新汲水攪之澄清，取清一杯飲之，漸漸氣和，吐瀉遂止。</p>
<p>（按：地屬陰，又牆陰二尺之下，貯以新汲水，陰中之陰，能泄陽中之陽，所以能治之也。）</p>
<p><u>黃連丸</u>（《良方》）　治霍亂後下利無度，腹中㽲痛。</p>
<p>黃連　黃柏　厚朴（各七錢半）　當歸　乾薑（炮）　木香（不見火）　地榆（各半兩）　阿膠（炒珠，研，一兩）</p>
<p>上為末，煉蜜和搗二三百杵，丸如梧子大。每服二十丸，不拘時，粥飲下。</p>
<p><u>白虎合六一散</u>　治傷暑霍亂，身熱肢寒，自汗口渴，小便短赤者。</p>
<p>知母（四錢）　石膏（一兩六錢）　甘草（錢半）　粳米（一合）　滑石（三錢）</p>
<p><u>木瓜汁</u>　治霍亂榮中受熱，轉筋甚凶者。</p>
<p>木瓜一味，不拘多少，煮汁飲之。亦有燒梔子二十枚研末，熟水調下。</p>
<p><u>寒熱並治</u></p>
<p><u>連理湯</u>　治暑濕霍亂有寒兼有熱者。</p>
<p>人參　白朮　乾薑　炙草　黃連（各二錢）　茯苓（二錢）</p>
<p><u>石膏理中湯</u>　治霍亂後轉筋者。</p>
<p>人參　白朮　炙草　乾薑（各二錢）　石膏（一錢，煅）</p>
<p><u>通脈四逆加豬膽汁湯</u>（仲景）　治吐已下斷，汗出而厥，四肢拘急不解，脈微欲絕者。</p>
<p>甘草（二錢）　附子（生用，大者一枚，去皮，破八片）　乾薑（三錢）　加豬膽汁（一合）</p>
<p><u>桂苓白朮散</u>（《寶鑑》）　治冒暑飲食所傷，傳受濕熱內盛，霍亂吐瀉，轉筋急痛，滿腹痛悶，小兒吐瀉涼風，皆宜服此。</p>
<p>桂枝　人參　白朮　白茯苓（各半兩）　澤瀉　甘草　石膏　寒水石（各一兩）　滑石（二兩）　一方有木香　藿香　葛根（各半兩）。</p>
<p>上為細末。每服三錢，白湯調下，或新汲水、薑湯下。</p>
<p><u>四君子加大黃湯</u>（《準繩》）　治霍亂吐瀉止後，大小便不通，胃中實痛者。</p>
<p>人參　茯苓　白朮　炙草（各三錢）　加大黃（一兩）</p>
<p>又霍亂吐利止後，而身痛不休者，當消息和解其外，宜桂枝湯小和之。即桂枝三錢、白芍三錢、炙甘草二錢、生薑三錢、大棗五枚。按：霍亂吐利止後，見病治病，不另立方。如口渴則用縮脾飲之類是也。</p>
<p>（又按：霍亂寒熱錯雜之症甚多。陰陽水，即新汲水一半，煮沸水一半，合和與服，能調和陰陽，亦寒熱並治之法也。）</p>
<p><u>吐升其氣</u></p>
<p><u>白礬湯</u>（《準繩》）　霍亂雖已自吐利，還用吐以升其氣，或用二陳湯探吐，或樟木煎湯飲之。《三因》用極鹹鹽湯三升，熱飲一升，刺口令吐，宿食便盡，不吐更服，吐訖仍飲，三吐乃止。此法勝他法遠矣。俗人鄙而不用，坐觀其斃，哀哉！</p>
<p>按：此證雖云吐利，然必探吐、刺吐，必吐證之微者。若吐之甚者，飲之必吐，不飲亦吐，無時休止，豈待探刺哉。此法雖極簡便，易於取用，不可嘗試於病症較重之人。若遇欲吐不吐、欲瀉不瀉之乾霍亂，俗謂之痧，除臥龍丹吹鼻使嚏或放痧外，惟有用此吐法最妙。取白礬二、三錢調陰陽水（即新汲水一半，沸開水一半）服之。或炒鹽調童便服之，探吐亦妙。或二陳湯加川、蒼、防、芷，方即茯苓二錢，陳皮錢，法夏二錢，甘草錢，川芎錢，蒼朮錢，防風錢，白芷錢，水煎服。</p>

<h2>霍亂（虎疫）簡單通治方</h2>
<p><u>六和湯</u>　《局方》　治法及湯解見前說。</p>
<p>西黨參（三錢）　法半夏（二錢）　藿香葉（錢半）　大砂仁（二錢）　宣木瓜（二錢）　漂白朮（二錢）　白扁豆（三錢，炒）　赤茯苓（二錢）　川厚朴（二錢，炒）　大杏仁（錢半，去皮尖）　粉甘草（一錢）　生薑（三片）　大棗（三枚）</p>
<p>加減法：惡寒體痛、頭亦痛、脈洪而有力者為傷寒，加蘇葉一、二錢；自汗發熱、脈虛無力為傷暑，加香薷二、三錢；吐甚，加法夏、砂仁；瀉甚，加白朮、扁豆；吐瀉俱甚，法夏、砂仁、扁豆、白朮同加；轉筋，加木瓜；腹痛，加廣木香。此則內外兼治諸法也。腹痛、手足冷、唇口白、口中和、舌上白滑苔、脈沉遲，加乾薑，甚者加附子，此則溫散寒邪諸法也。口苦渴、舌苔焦黃、小便短赤、脈沉數有力，加黃連，甚者再加黃柏，此則清解暑熱諸法也。寒熱俱有，加黃連、乾薑，此則寒熱並治諸法也。除痧症吐法不適用此方外，其餘皆可代替，真簡便之極矣。</p>
<p>按：此症《驗方新編》有吃薑與粥即不可救之說。查古今治霍亂諸方，用姜者不知凡幾。熱症或不可用，寒症有非薑、附莫救者，是說萬不可信。至於不可吃粥，潔古老人與《保命集》亦已言之，頗有經驗。仲景《霍亂篇》末云：吐利發汗，脈平、小煩者，以新虛不能勝穀氣故也。是吐傷胃氣，穀氣（即米粥）宜稍緩進。此中至理，仲景早已說明，惜後人未十分推求其故耳。</p>
