<header data-type="book">
<h1>陳蓮舫醫案</h1>
</header>

<h1>卷上</h1>

<h2>一、中風</h2>
<p>（案1）錢，左，三十一。三瘧後風邪入絡，口眼歪斜，現在已得平復。風勢走竄經絡，肢麻筋掣，脘痛腹鳴，頭蒙發眩，燔灼艱寐，脈見細弦。防成風癱。治以和養。</p>
<p>香獨活　炒當歸　海風藤　抱木神　桑寄生　炒丹參　焙甘杞　蒼龍齒　川桂枝　東白芍　杭菊花　宣木瓜　絲瓜絡　虎潛丸</p>
<p>（案2）孫，左，廿六。寒熱後風濕入絡，肢骱痠痛甚於腰膝，當脘亦似寒似痛，脈見沉弦。治以疏和。</p>
<p>香獨活　海風藤　生白朮　炒香附　酒桑梗　五加皮　炒杜仲　炒淮膝　炒當歸　宣木瓜　新會皮　臭梧梗（三錢）　絲瓜絡</p>
<p>（案3）趙，左。左臂瘦削，屈伸不利，痠痛之勢由肩及項，甚至上連頭額。營虛生風，風入於絡，久防偏枯。脈見細弦，治以和養。</p>
<p>香獨活　梧桐花　炒杜仲　嫩鉤藤　桑寄生　五加皮　白蒺藜　宣木瓜　炒當歸　海風藤　杭菊花　威靈仙（一錢五分）　絲瓜絡　功勞葉（去刺，三錢）</p>
<p>（案4）桑，左。風善行而數變，兩足骱痛，或上或下。屬肝失營養，挾痰挾濕，與風走竄經隧，久防癱瘓。擬養營搜風，兼化痰濕兩邪。</p>
<p>香獨活　虎脛骨　石決明（四錢）　左秦艽　桑寄生　元武版　杭菊花　千年健　生白芍　雙鉤藤　新會皮　黑料豆　絲瓜絡</p>
<p>（案5）龔，右，十九。四肢麻痹，肌膚髮癢，脈見細弦。治以和養。</p>
<p>香獨活　宣木瓜　梧桐花　元生地　炒當歸　炒丹皮　黑料豆　甘草　炒荊芥　制豨薟　白蘚皮　新會皮　炒側柏</p>
<p>（案6）王，右。風痹走竄，去年腰以下痠而且痛，近則胸背牽引，脈象沉弦。擬以和養。</p>
<p>炒當歸　虎脛骨　海風藤　威靈仙　桑寄生　元武版　片薑黃（八分）　五加皮　左秦艽　宣木瓜　炒杜仲　新會皮　絲瓜絡</p>
<p>（案7）胡，右，三十一。產前受風，風鬱感邪，腰俞下痠痛無度，近乎半身不遂，脈見細弦。治以溫養。</p>
<p>香獨活　鹿角霜（一錢五分）　海風藤　炒杜仲　桑寄生　焙甘杞　千年健　炒川斷　炒當歸　生綿耆　五加皮　新會皮　絲瓜絡</p>
<p>（案8）沈，右。血虧生風，腕後上升及背，皆為不利，脈見細弦。治以疏和。</p>
<p>香獨活　片薑黃（四分）　炒木瓜　炒川斷　桑寄生　川桂枝（四分）　生白芍　五加皮　炒當歸　天仙藤　威靈仙　新會皮　絲瓜絡　胡桃肉</p>
<p>（案9）童，左，六十一。中風門痱與懿合風痹、偏枯為四大證，多主溫補，以外風病溫涼補瀉無不可行。現在見證本非中臟中腑，而邪在筋絡，所以足力弛軟，腰不能支，手難提高，指有顫動。究之肝腎兩經無不見虛，以腰為腎腑，肝主搐搦，惟痰濕稟體，又當夏令，滋膩溫補確屬難進，前次所用熟地、附子者，病家急求速效，醫者希冀近功，所以出王良詭遇之法。矯其弊者，涼化清解，亦在禁例。針灸似可緩之，行之補針甚少，瀉針為多，不過在手法中左旋右旋、就淺就深，以分補瀉。欲鼓動其真氣，流灌其營陰，恐非針力所能及，拙見一月間針一二次，至於服藥間日一服，從容調治似最合宜，請高明辨之，備之候政。</p>
<p>潞黨參　炒當歸　炙虎脛　左秦艽　制首烏　生白芍　炙龜板　片薑黃（四分）　法半夏　梧桐花　炒杜仲　千年健　桑寄生　功勞葉（七片）</p>
<p>復診：示及舌膩漸退，根苔尚厚，胃納略開，仍未如常。久有風患，屈伸雖利，步履欠穩。濕由脾生，風從肝發，兩者互擾，外則走竄絡脈，內則阻遏中宮，外偏於風，內偏於濕，新舊病皆根於此。擬方即候政行。</p>
<p>生白朮　香獨活　晚蠶沙　鮮佛手　採芸曲　桑寄生　干佩蘭　焦米仁　宋半夏　木防己　厚朴花（四分）　新會皮　二竹茹（玫瑰露炒）　功勞葉（七片）</p>
<p>復診：氣虛生痰，營虛生風，風邪挾痰走竄經隧，偏左肢骱痠痛，手則不能高舉，足則開步不利，脈右部滑大、左部細弦，舌苔黃膩，納食欠旺，稟體豐腴。氣分早虧，以脈合症，又屬氣虛於營。《經》云：衛氣虛則不用，營氣虛則不仁。擬宗此旨立方調理，諒無不合，錄方即候政行。</p>
<p>生於術　桑寄生　海風藤　炒杜仲　炒當歸　晚蠶沙　木防己　抱木神　竹瀝夏　梧桐花　炒淮膝　新會皮　玫瑰露炒竹茹　絲瓜絡</p>
<p>（案10）趙，左。舌強不語，右肢不仁，中風兩者最為帶根。</p>
<p>高麗須　天竹黃（八分）　香獨活　左秦艽　石決明（煅）　竹瀝夏　桑寄生　晚蠶沙　細菖蒲（八分）　新會皮　梧桐花　炒杜仲　絲瓜絡</p>
<p>（案11）顧，右，五十六。喉痹起因痰熱，又復挾風，漸至手痙面麻，言語舌強，脈見弦滑。治以清熄。</p>
<p>杭菊花　扎馬勃（八分）　川貝母　抱木神　冬桑葉　白殭蠶（三錢）　梧桐花　遠志肉　天竹黃　光杏仁　白蒺藜　陳膽星（八分）　路路通（七枚）　絲瓜絡　荷邊</p>
<p>（案12）朱，左。風中廉泉，口不能言，舌則為短，割而又為長伸，四肢掣動，脈息弦滑。擬以和養。</p>
<p>陳膽星　白蒺藜（去刺）　左秦艽　桑麻丸　法半夏　抱木神　杭菊花　宣木瓜　生白芍　遠志肉　炒當歸　新會皮　槿樹葉　絲瓜絡</p>
<p>（案13）陳，左。中風偏左，左者為癱，手足屈伸不利，抽搐無度，舌音不清，脈見細弦。擬溫降熄風。</p>
<p>川桂枝（四分）　炙虎脛　海風藤　晚蠶沙　羚羊片（八分）　炙龜板　天仙藤　竹瀝夏　炒當歸　炒杜仲　梧桐花　伸筋草（一錢五分）　酒桑梗（三錢）　絲瓜絡</p>
<p>（案14）湯，右。左癱右瘓，現屬於右，手足麻木不仁，皆由營虛生風，風痰走竄，絡脈不能流利機關。脈見細弦，擬以溫養。</p>
<p>川桂枝　炙虎脛　左秦艽　宣木瓜　元生地　元武版　法半夏　生綿耆　炒當歸　桑寄生　新會皮　炒杜仲　絲瓜絡　海風藤</p>
<p>復：偏風於右，肢節骱皆為腫痛，痛甚於夜。營陰不足，內風襲絡所致，脈見沉弦。再以和養。</p>
<p>制首烏（三錢）　炙虎脛　炒杜仲　晚蠶沙　焙甘杞　元武版　左秦艽　五加皮　炒當歸　桑寄生　竹瀝夏　新會皮　絲瓜絡</p>
<p>（案15）徐，左。氣虛生痰，陰虛生風，風邪挾痰走竄經隧，不能流利機關。始起右臂屈而不伸，繼則由手及足，由右及左，四肢皆為不利。考肝生風，脾生痰，肝邪侮脾。近時腹膨筋露，脈來弦滑，恐成癱瘓，宜加意調理。</p>
<p>炒當歸　晚蠶沙　炙虎脛　炒淮膝　梧桐花　海風藤　炒丹參　白茯苓　竹瀝夏　五加皮　炒杜仲　生白芍　桑寄生　絲瓜絡</p>

<h2>二、類中</h2>
<p>（案1）金，右。肝陰不足，肝陽有餘，陽化內風，上擾清空，兩目起星，漸近失明。關係者又在頭眩屢發，厥陰衝犯陽明、太陰，當要嘔逆，泛痰每每牽連並作，脈見細弦，舌苔中剝，氣與陰虧，風與痰盛，久防類中。擬以和養。</p>
<p>西洋參（八分）　抱木神　白蒺藜　杭菊花　元精石　煅龍齒　潼蒺藜　新會皮　東白芍　宋半夏　炒丹參　炒淮膝　鮮荷邊　玫瑰露炒竹茹</p>
<p>（案2）胡，左。上重下輕，頭蒙發眩，兩足痠軟，脈細而弦，最防類中。</p>
<p>西洋參　抱木神　新會皮　炒丹參　元精石　煅龍齒　潼蒺藜　炒淮膝　東白芍　宋半夏　杭菊花　焙甘杞　洋青鉛　炒竹茹</p>

<h2>三、肝風</h2>
<p>（案1）高，左。頭疼時沖，或嘔或溏，脈見細弦，治以疏和。</p>
<p>法半夏　抱木神　嫩鉤藤　冬桑葉　煨天麻（八分）　煅龍齒　蔓荊子（一錢五分）　石決明　生白芍　杭菊花　新會皮　炒丹參　荷邊　竹茹</p>
<p>（案2）陸，右。頭風眩蒙，嘔逆無度，治以鎮養。</p>
<p>法半夏　杭菊花　白蒺藜　生白芍　煨天麻　雙鉤藤　潼蒺藜　元精石　桑麻丸　白藁本　炒淮麥　新會皮　荷邊　竹茹</p>
<p>（案3）陸，左。頭風犯中，漾漾欲吐，形寒手麻，血虛挾風。治以和養。</p>
<p>法半夏　杭菊花　白蒺藜　煅龍齒　煨天麻　香獨活　白藁本（八分）　嫩鉤藤　生白芍　桑寄生　抱木神　新會皮　荷邊　姜竹茹</p>
<p>（案4）陶，左，三十二。頭風有根，每發必為泛惡，脈弦舌膩，治以疏和。</p>
<p>杭菊花　抱木神　法半夏　焦建曲　雙鉤藤　蒼龍齒　制小樸（八分）　冬桑葉　白蒺藜　白殭蠶（三錢）　新會皮　蔓荊子（一錢五分）　荷邊　炒竹茹</p>
<p>復：頭風痛發額筋抽搐，夜甚於晝，衝犯中焦，併為嘔泛，脈息沉弦。治以和降。</p>
<p>石決明（六錢）　雙鉤藤　抱木神　蔓荊子（一錢五分）　白殭蠶　白蒺藜　蒼龍齒　制小樸　冬桑葉　杭菊花　法半夏　焦建曲　荷葉邊</p>
<p>（案5）馮，左，廿四。頭風有根，受涼易發，發甚肝邪犯中，即為嘔吐，脈息沉弦。治以調降。</p>
<p>法半夏　抱木神　白蒺藜　桑寄生　煨天麻（四分）　煅龍齒　新會皮　杭菊花　生白朮　雙鉤藤　炒淮膝　蔓荊子（一錢五分）　荷邊　炒竹茹</p>
<p>（案6）傅，左。真水素虧，肝邪上擾，頭痛與牙痛時作而時伏，脈左弦於右，屬木凌土位，納呆神倦，有由來也。擬以和養。</p>
<p>西洋參（八分）　黑料豆　抱木神　杭菊花　桑麻丸（煎入）　川貝母　煅龍齒　雙鉤藤　東白芍　川石斛　旱蓮草　新會皮　荷邊　湘蓮肉（七粒）</p>
<p>（案7）任，左。肝陽胃熱挾風擾動，牙痛甚，發連及頭額。現在痛勢雖平，尚牙齦浮腫，齒亦動搖，脈見弦數。半虛半實，虛屬陰分素虧，實為餘邪未盡。擬以清泄。</p>
<p>西洋參　制女珍　抱木神　炒殭蠶　蜜炙桑葉　黑料豆　白蒺藜　冬白芍　杭菊花　旱蓮草　藿石斛　新會皮　卷竹心（廿根）　鮮荷葉</p>
<p>（案8）沈，左。真陰內虧，氣火為熾，火本熱，熱生風，上擾清空，頭蒙烘烘，耳鳴目澀，甚至風從外越，時起風塊，風火走竄，肉瞤不寧，腹痛熱熾。種種肝腎內虛，龍雷失潛，脈見細弦，治以鎮養。</p>
<p>西洋參　抱木神　杭菊花　石決明　霜桑葉　蒼龍齒　黑料豆　雙鉤藤　黑芝麻　元精石　生白芍　白蒺藜　荷葉邊　洋青鉛</p>
<p>（案9）費，右。左頰痠疼，牙床開合不利，脈見細滑。治以和養。</p>
<p>北沙參　黑料豆　石決明　炒殭蠶　蜜桑葉　制女珍　白蒺藜　東白芍　杭菊花　川石斛　煅龍齒　新會皮　荷邊</p>
<p>（案10）楊，右。營陰內虧，肝邪化風，頭痛頻仍，右部為多，甚則滿頂皆痛，脈息沉弦。並無感冒，證情皆由內發，久防目損。治以和養。</p>
<p>西洋參　元精石　抱木神　法半夏　桑寄生　杭菊花　蒼龍齒　白蒺藜　黑料豆　生白芍　雙鉤藤　新會皮　荷葉邊</p>
<p>接方：冬桑葉　石決明　黑料豆　元精石　黑芝麻　煨天麻　雙鉤藤　白藁本　白蒺藜　潼蒺藜　生白芍　炒丹參　鮮荷葉邊　洋青鉛</p>
<p>（案11）張，左。肝風入絡，由於陽化內風，左面部抽搐無度，脈見細弦。治以和養。</p>
<p>冬桑葉　抱木神　杭菊花　黑料豆　黑芝麻　煅龍齒　雙鉤藤　沙苑子　石決明　元精石　煨天麻　白蒺藜　荷邊</p>

<h2>四、歷節風</h2>
<p>（案1）王，右。歷節風走竄遍體，頭痛耳鳴，肝陽挾痰，頸項成癧，脈見細弦。屬營虛生風，氣虛生痰。治以和養。</p>
<p>西洋參　光杏仁　冬瓜子　炒當歸　夏枯花　川貝母　桑寄生　炒杜仲　川石斛　東白芍　新會皮　左秦艽　虎潛丸（三錢）　絲瓜絡</p>
<p>復：歷節風象，逢骱皆痛，脈細舌光。治以和養。</p>
<p>香獨活　虎脛骨　宣木瓜　五加皮　酒桑梗　元武版　炒淮膝　炒丹參　海風藤　炒當歸　海桐皮　東白芍　絲瓜絡</p>
<p>（案2）裘，右，五十四。歷節風痛，由足及手，由右及左，脈細舌光。屬營虛生風。治以和養。</p>
<p>香獨活　竹瀝夏　五加皮　木防己　桑寄生　炒當歸　炒淮膝　威靈仙　梧桐花　海風藤　炒杜仲　新會皮　絲瓜絡</p>
<p>（案3）何，右，四十七。逢骱痠痛，且麻且腫，防成歷節風痛，脈見細弦。治以疏和，兼顧脘脹納呆。</p>
<p>香獨活　炒當歸　木防己　炒香附　酒桑梗　海風藤　炒淮膝　佛手柑　梧桐花　晚蠶沙　五加皮　新會皮　絲瓜絡</p>

<h2>五、遊風</h2>
<p>（案1）朱，左。濕熱挾風，外達肌表，發為遊風，起瘰發癢，脈見沉弦。治以宣化。</p>
<p>炙桑葉　炒扁柏（三錢）　黃防風　焦米仁　制豨薟（三錢）　白蘚皮（一錢五分）　荊芥穗（一錢五分）　赤苓皮（五錢）　淨蟬衣（四分）　地膚子　杭菊花　新會皮　絲瓜絡</p>
<p>（案2）吳，右，十六。遊風渾身塊癢。治以泄化。</p>
<p>冬桑葉　連翹心　白蘚皮　生白芍　制豨薟（三錢）　焦山梔　生甘草　淨苦參　梧桐花　金銀花（一錢五分）　粉萆薢　焦米仁　絲瓜絡</p>
<p>（案3）陳，左。遊風之類遍體滋竄，脈見細弦。治以清養。</p>
<p>元生地　綠豆衣　焦梔皮　焦米仁　制豨薟　大力子　生甘草　赤茯苓（五錢）　黃防風　塊滑石　荊芥穗　新會皮　忍冬藤（六錢）　炒扁柏（三錢）</p>
<p>（案4）秦，右，四十。遊風遍體，發癢無度，脈見細弦。治以清降。</p>
<p>制豨薟　地膚子　忍冬花（一錢五分）　天花粉　細生地　生甘草　焦山梔　炒丹皮　白蘚皮　連翹心　冬桑葉　白茯苓　炒側柏</p>
<p>（案5）蘇，左，廿二。遊風作癢，屬肺脾之邪。</p>
<p>制豨薟　炒澤瀉　忍冬花　地膚子　元生地　炒丹皮　焦米仁　海桐皮　左秦艽　焦山梔　白蘚皮　生甘草　炒側柏</p>
<p>（案6）冷，左，五十六。遊風漸成，上下體俱為滋蔓，脈見沉弦，治以清化。</p>
<p>黃防風　焦山梔　地膚子　金銀花　製大黃　制豨薟　粉萆薢　新會皮　大力子　白蘚皮　淨苦參　生甘草　炒側柏</p>

<h2>六、冷麻風</h2>
<p>（案1）顧，右，五十六。冷麻風且冷且麻，甚於右手左足，脈細弦。治以和養。</p>
<p>炒當歸　嫩鹿筋（一錢五分）　五加皮　炒淮膝　桑寄生　焙甘杞　海風藤　梧桐花　炒杜仲　東白芍　威靈仙（一錢五分）　新會皮　絲瓜絡</p>
<p>復：冷麻風再以溫陽，藉理麻痹。</p>
<p>全當歸（酒炒）　香獨活　宣木瓜　威靈仙（一錢五分）　焙甘杞　桑寄生　海風藤　五加皮（一錢五分）　炒淮膝　鹿角霜（三錢）　梧桐花　炒川斷　虎潛丸（煎入）　絲瓜絡</p>
<p>（案2）高，右，三十四。冷麻風，再以疏和。</p>
<p>川桂枝（四分）　生白芍　五加皮　新會皮　西羌活（八分）　連皮苓　粉萆薢　宣木瓜　黃防風　炒米仁　桑寄生　梧桐花　絲瓜絡</p>

<h2>七、肩風</h2>
<p>（案1）薛，左。肩風發於腰痛之後，本元為虛，屬水不涵木，指甲枯脫，脈見細弦。治以和養。</p>
<p>香獨活　宣木瓜　五加皮　威靈仙　片薑黃（四分）　左秦艽　粉萆薢　宋半夏　虎潛丸　炒當歸　炒杜仲　新會皮　酒桑梗　絲瓜絡</p>
<p>（案2）駱，左。體倦綿延，肩胛痠痛，納呆，脈細，防成肩風。</p>
<p>香獨活　生白朮　佛手柑　酒桑梗　炒枳殼　炒川斷　焦建曲　炒香附　五加皮　天仙藤　法半夏　新會皮</p>
<p>（案3）陳，左，三十二。肩風痠痛，脈見細弦。擬以和養。</p>
<p>威靈仙　粉萆薢　生白芍　虎脛骨　炒當歸　炒杜仲　五加皮　元武版　片薑黃（四分）　宣木瓜　新會皮　川桂枝（四分）　絲瓜絡</p>
<p>（案4）汪，右。肩風之處結核不一，氣與營早虧，風與痰用事，脈見細弦。擬調氣化痰，和營熄風。</p>
<p>香獨活　竹瀝夏　五加皮　宣木瓜　酒桑梗　炒當歸　海風藤　炒杜仲　梧桐花　木防己　晚蠶沙　新會皮　絲瓜絡　虎潛丸</p>

<h2>八、紫雲風</h2>
<p>（案1）尤，左。紫雲風根尚未脫體，現在脅痛目赤，脈見細弦。治以清降。</p>
<p>冬桑葉　連翹心　梧桐花　白茯苓　象貝母　粉蛤殼　杭菊花　側柏炭（三錢）　光杏仁　新會紅　制豨薟　生白芍　荷葉邊</p>
<p>（案2）陸，右，廿四。咳痰稍減，紫雲風尚未見除。治以清養。</p>
<p>炒當歸　白茯苓　川貝母　桑寄生　宣木瓜　粉蛤殼　左秦艽　全福花　冬瓜子　生白芍　白石英　新會皮　炒側柏　枇杷葉</p>

<h2>九、四彎風</h2>
<p>（案1）錢，左，四十六。四彎風肢酸發癢，脈見細弦，肺脾為患。</p>
<p>制豨薟　元生地　白蘚皮　焦米仁　焦茅朮（一錢五分）　焦山梔　地膚子　綠豆衣　淨苦參　南花粉　梧桐花　生甘草　絲瓜絡</p>
<p>（案2）徐，右，三十六。四彎風拳至不仁，脈見細弦，屬氣痹營傷，擬藥酒方。</p>
<p>元生地　虎脛骨　炒杜仲　宣木瓜　炒當歸　川桂枝　元武版　炒淮膝　海風藤　生白芍　蘄州蛇（一錢五分）　炒川斷　生西耆　絲瓜絡</p>
<p>上藥一帖浸酒二斤，燒陳各半，七日可服，每日二杯，忌以鹹食過口。</p>
<p>（案3）唐，右，廿二。產後營虧生風，風邪挾濕走竄經隧，兩足痠軟，膝蓋腫勢雖退，仍伸而難屈，兩手亦為發麻，將成四彎風，脈見細弦。治以疏和。</p>
<p>香獨活　生白朮　炙虎脛　五加皮　桑寄生　炒當歸　元武版　宣木瓜　梧桐花　炒淮膝　海風藤　炒杜仲　絲瓜絡</p>

<h2>十、面遊風</h2>
<p>（案1）陳，左，四十一。酒濕挾風，發為面遊風，瘰癢無度，治以清化。</p>
<p>冬桑葉　金銀花（一錢五分）　綠豆衣　淨蟬衣（四分）　連翹　制豨薟（三錢）　赤苓皮　荊芥　山梔皮　炒丹皮　雞蘇散　炒側柏　荷葉</p>

<h2>十一、驢唇風</h2>
<p>（案1）楊，左，十四。驢唇風根，向春又發，脈見細弦。治以和養。</p>
<p>冬桑葉　焦山梔　淨銀花　荊芥穗　煨石膏　南花粉　粉丹皮　生甘草　薄荷尖　淨連翹　塊滑石　新會皮　荷葉　茅根肉（去心，三錢）</p>
<p>按：此方無腹痛可用，否則不可用。</p>
<p>（案2）博，右。稟體陰虛鬱熱蒸痰，發於少陽部則為子母癧，發於陽明部則為驢唇風，脈見弦數。自痧疹後陰分更傷，肌膚皆為枯燥。擬以清養。</p>
<p>北沙參　旱蓮草　夏枯花　黑料豆　冰糖　炒石膏　制女珍　新會皮　肥知母（一錢五分）　川石斛　川貝母　生甘草　白海粉（一錢五分）　茅根肉</p>
<p>八帖後去北沙參，換用西洋參八分。</p>

<h2>十二、漏蹄風</h2>
<p>（案1）周，左。漏蹄風風邪濕熱未清，脘悶神疲。治以疏和。</p>
<p>石決明　西羌活　法半夏　白茯苓　制豨薟　炒蔞皮　川石斛　干佩蘭　杭菊花　生米仁　白蒺藜　陳皮　絲瓜絡　炒竹茹</p>
<p>（案2）梁，左。足跟痠痛，防成漏蹄風。氣虛生濕，營虛生風，風邪濕邪流竄絡脈，脈見沉弦帶滑，防上盛下輕，頭眩耳鳴。治以鎮養。</p>
<p>杭菊花　虎脛骨　左秦艽　炒杜仲　焙甘杞　元武版　宣木瓜　炒淮膝　白附子（四分）　炒當歸　海風藤　新會皮　絲瓜絡</p>

<h2>十三、鶴膝風</h2>
<p>（案1）徐，左。昔年痞散下血，血下過多，絡脈失養，頸項轉側不利，兩足骨粗肉削，漸成鶴膝風象，脈見沉弦。擬以和養。</p>
<p>炒當歸　炒杜仲　新會皮　焙甘杞　桑寄生　金狗脊　炒淮膝　炙虎脛　嫩鹿筋（酒洗，一錢五分）　東白芍　宣木瓜　炙龜板　豬項骨（三錢）</p>

<h2>十四、肝氣</h2>
<p>（案1）徐，右。肝氣犯中，中焦積痰蓄飲，當脘痛脹，吞酸吐沫，氣入於絡，腰背脅部以及手足絡脈皆為牽引，奇經遂失稟麗，產後經久不行，脈見細弦。治以和養。</p>
<p>法半夏　抱木神　玉蝴蝶　炒丹參　左金丸　遠志肉　炒杜仲　合歡花　東白芍　佛手花　桑寄生　新會皮　絲瓜絡　玫瑰露炒竹茹</p>
<p>復：久有肝氣，自產後營陰大傷，厥陰更為失養，皆以春令應肝，肝邪遂為鴟張，既犯中，又入絡，脘腹脹滿，遍體絡脈牽引不和。肝通於心，心亦為悸，奇經因之失麗。癸事不行已經連月，種種營虧氣痹，木土不協，脈見細弦。治以調降。</p>
<p>西洋參　抱木神　炒當歸　炒丹參　法半夏　遠志肉　桑寄生　合歡花　左金丸　玉蝴蝶　炒杜仲　烏勒草（一錢五分）　玫瑰露炒竹茹　絲瓜絡　代代花</p>
<p>（案2）殷，右。昔年產後血暈受傷，奇經不調，自崩放後經事二年未行，帶脈反為不固。營陰日虧，肝木失養，化氣侮中，或嘔或脹，少腹痞攻，化風上擾，或痛或暈，頭目昏沉。脈見細弦，舌苔前半光剝。種種營虛氣痹，木土不協，擬以調養。</p>
<p>法半夏　制香附　遠志肉　玉蝴蝶　左金丸　抱木神　炒丹參　炒杜仲　西洋參　煅龍齒　茺蔚子　合歡皮　月季花（一朵）　代代花（二分）　洋青鉛</p>
<p>（案3）粟，右。連次偏產，營虧氣痹，當脘作脹，納食久呆，脈見細弦。擬以和養。</p>
<p>法半夏　抱木神　佛手花　制香附　左金丸　遠志肉　玉蝴蝶　淡烏鰂　東白芍　桑寄生　炒杜仲　新會皮　絲瓜絡</p>
<p>（案4）費，右。脈息滑數，懷麟有兆，適當手厥陰司胎，胎火上升則面熱，胎絡下損則腰楚。由手經病及足經，肝氣又為內擾，或脹或痛，吞酸發噯。擬以調養，藉防滑胎。</p>
<p>西洋參　炒杜仲　炒丹參　制香附　法半夏　桑寄生　元金斛　佛手花　左金丸　東白芍　炒川斷　新會皮　白苧麻（不剪斷）　水炒竹茹</p>
<p>（案5）包，右。氣鬱動肝，肝邪充斥，中焦受侮，當脘作痛，痛勢擾腰及背，皆為牽引，脈見細弦。治以調降。</p>
<p>法半夏　抱木神　佛手花　桑寄生　左金丸　遠志肉　玉蝴蝶　合歡花　東白芍　炒杜仲　炒丹參　新會皮　玫瑰花炒竹茹</p>
<p>（案6）王，右。血不養肝，肝氣充斥，犯於胃則嘔逆無度，侮於脾則大便溏薄，關係者尤在脘宇結痞，痞攻無度，甚則大如覆盤，脈見細弦。治以疏和。</p>
<p>法半夏　抱木神　佛手花　炒丹參　左金丸　遠志肉　玉蝴蝶　炒杜仲　東白芍　新會皮　炒川楝　制香附　西砂仁　炒竹茹</p>
<p>（案7）繆，左。淋濁止後，精溺未曾分清，腎為胃關，以致中焦失運，吞酸吐沫，結痞作脹，脈見沉細。擬固腎以養肝，柔肝以保胃。</p>
<p>法半夏　抱木神　範志曲　關虎肚　左金丸　遠志肉　炒蔞皮　戌腹糧　生白芍　番蓽茇　新會皮　炒丹參　姜竹茹</p>
<p>（案8）沈，左。當脘滿悶，屢屢發噯，多納即為作脹，屬脾失其使，胃失其市，中焦升降失職，水穀不化精華，而生痰飲，久防反胃，脈見沉弦。治以調降。</p>
<p>法半夏　全福花　抱木神　畢澄茄　左金丸　代赭石　遠志肉　佛手花　東白芍　炒丹參　範志曲　新會紅　玫瑰露炒竹茹</p>

<h2>十五、勞傷</h2>
<p>（案1）凌，右。環跳痠痛，背脊痠軟，尾閭尤甚，脈見弦數。最恐由損經而進勞徑，有人身縮短之虞。</p>
<p>吉林須　炙虎脛　炒丹參　金狗脊（炙去毛，一錢五分）　制首烏　炙龜板　炒當歸　桑寄生　東白芍　宣木瓜　炒杜仲　新會皮　絲瓜絡</p>
<p>（案2）胡，左，三十八。迸力受傷，氣不攝血，血為暴吐。治以和降，兼顧咳嗽。</p>
<p>鹿銜草（一錢五分）　仙鶴草（一錢五分）　參三七（四分）　炙款冬　全福花　炒川斷　光杏仁　白茯苓　新會絡　炙紫菀　川貝母　粉蛤殼　枇杷葉　絲瓜絡</p>
<p>（案3）程，右，廿八。咳嗆綿延，連次失血，一傷於產乳，再傷於毆打，以致頭眩艱寐，潮熱形寒，胸脅肩背皆為引痛，脈見芤弦。治以和養。</p>
<p>北沙參　桑寄生　抱木神　夜交藤　冬蟲草　炒當歸　炒丹參　東白芍　鹿銜草　仙鶴草　炒淮膝　血燕根　絲瓜絡　古文錢（一枚）</p>
<p>（案4）高，左。季脅乃臟會之所，內絡受傷，脅痛頻仍，形黃便血。脈見沉弦，治以疏和。</p>
<p>制香附　焦紅曲　東白芍　煨木香　炒川斷　焦楂炭（三錢）　桑寄生　炒丹參　炒杜仲　新會皮　鹿銜草　白歸鬚（一錢五分）　絲瓜絡</p>
<p>（案5）胡，右，三十八。迸力傷氣，氣不攝血，血為暴吐，咳嗽神疲，脈見細弦。治以疏和。</p>
<p>全福花　鹿銜草　川貝母　炙款冬　新會絡　仙鶴草　炒川斷　白茯苓　光杏仁　參三七　炙紫菀　粉蛤殼　絲瓜絡　枇杷葉</p>
<p>（案6）顏，左，十八。跌僕受傷，左脅作痛，腹部痞攻，或隱或見，逢節每為發動，近復納食呆鈍，且有脹滿，脈息弦滑。陰虛之體，氣分不調。擬以和養。</p>
<p>全福花　白歸鬚　東白芍　新會絡　猩絳屑（四分）　桑寄生　炒川楝　九香蟲　鹿銜草　炒丹參　炒川斷　炒杜仲　絲瓜絡</p>

<h2>十六、春溫</h2>
<p>（案1）俞，左。春溫挾濕，身熱微寒，有汗不解，脈見浮滑，舌色帶灰。治以分泄。</p>
<p>淡豆豉　薄荷尖　荊芥穗　光杏仁　黑山梔　嫩白薇　焦米仁　炒枳殼　冬桑葉　方通草　白茯苓　炒蔞皮　荷葉　新會皮</p>
<p>（案2）錢，孩，四。春溫身熱，熱而無汗，咳嗆痰多，入夜略有譫語。防內陷神昏，治以分泄。</p>
<p>淡豆豉　炒麥芽　粉前胡　杭菊花　冬桑葉　方通草　雙鉤藤　白殭蠶（三錢）　薄荷尖　荊芥穗　光杏仁　新會皮　荷葉</p>
<p>（案3）費，右。春溫挾濕，寒熱往來，嘔逆脘悶。治以疏和。</p>
<p>冬桑葉　白蔻仁（四分）　佛手柑　嫩白薇　焦米仁　焦建曲　新會皮　法半夏　川鬱金　制小樸　方通草　荷葉　白茯苓</p>
<p>（案4）劉，左。春溫之邪擾於陽明營分，牙衄口臭，脈息滑大。擬以清降，兼顧痘毒未清。</p>
<p>冬桑葉　生甘草　墨旱蓮　新會皮　白茅花　板藍根　綠豆衣　鮮生地　銀花炭　炒荊芥　連翹殼　炒丹皮　炒藕節</p>
<p>（案5）戴，左。身熱漸除，咳嗆脅痛，舌色黃膩。濕邪挾痰，阻於肺絡。治以清泄。</p>
<p>全福花　川貝母　方通草　杭菊花　冬桑葉　粉前胡　白茯苓　淨蟬衣　光杏仁　新會絡　薄荷尖　荊芥穗　枇杷葉　絲瓜絡</p>
<p>復：身熱漸除，仍咳嗆脘悶，脈息細弦。再以分泄。</p>
<p>冬桑葉　方通草　淨蟬衣　焦光仁　光杏仁　粉前胡　白茯苓　杭菊花　嫩白薇　新會絡　薄荷尖　川鬱金　荷葉　絲瓜絡</p>

<h2>十七、風溫</h2>
<p>（案1）楊，左。身熱不解，頭痛口渴，溫邪鬱蒸，勢將發㾦，脈見浮弦。治以分泄。</p>
<p>冬桑葉　杭菊花　粉前胡　淡竹葉　淡豆豉　荊芥穗　光杏仁　柔白薇　薄荷尖　淨蟬衣　川通草　新會皮　荷葉　紅蔗皮（六錢）</p>
<p>（案2）王，左。身熱咳喘，便溏脘悶，濕溫互感。再從分泄。</p>
<p>冬桑葉　鮮佛手　粉前胡　淡豆豉　干佩蘭　薄荷葉　方通草　焦建曲　嫩白薇　焦米仁　淨蟬衣　新會白　荷葉包益元散</p>
<p>（案3）吳，左，廿四。舊傷新感，寒熱咳嗆，脅旁引痛，脈見浮弦。治以和降。</p>
<p>冬桑葉　粉前胡　冬瓜子　方通草　淡豆豉　全福花　白茯苓　川貝母　光杏仁　新絳屑（四分）　新會絡　鹿銜草　絲瓜絡</p>
<p>（案4）葉，左。身熱少許，脘痛便秘，表解而里未通，仍防神志昏迷，脈浮。擬以清泄。</p>
<p>冬桑葉　焦山梔　炒瓜蔞　粉前胡　淡豆豉　淡竹葉　炒枳殼　柔白薇　薄荷尖　荊芥穗　光杏仁　方通草　荷葉</p>
<p>（案5）張，左。風溫之邪，首先犯肺，鬱熱蒸痰，煽爍不解，咳嗽喉鳴，氣逆脅痛，關係者在舌苔罩灰質紅起腐，勢將劫津為變，脈兩手弦數。擬以清解。</p>
<p>南北沙參（各一錢五分）　瓜蔞仁　全福花　白茯苓　鮮石斛　光杏仁　代赭石　新會絡　蜜桑葉　川貝母　粉蛤殼　方通草　萊菔汁（四錢）　荸薺汁（三錢）　枇杷葉　竹茹</p>
<p>（案6）孔，左。脈兩手數大，舌尖絳且有芒削，肌灼少汗，脘腹脹痛，痛而拒按，便閉口渴，譫語手痙。此乃邪入營分，食滯中焦，頗為棘手，難許無虞。</p>
<p>烏犀角（摩沖，四分）　鮮石斛（三錢）　大豆卷（三錢）　元明粉（三錢）　羚羊角（八分）　連翹心（一錢五分）　杭菊花（一錢五分）　炒蔞皮（三錢）　鮮生地（三錢）　黑山梔（一錢五分）　光杏仁（三錢）　制錦紋（三錢）　蘆根（一兩）　辰燈心（十寸）</p>

<h2>十八、濕溫</h2>
<p>（案1）陳，左。黴令將臨，濕邪內動，鬱於陽則形寒形熱，鬱於陰則便澀溺短，脈見沉弦。治以疏和。</p>
<p>焦茅朮（八分）　粉萆薢　焦米仁　干佩蘭　烏芝麻（一錢五分）　炒蔞皮　範志曲　炒黃芩　厚朴花（六分）　川鬱金　白茯苓　鮮佛手　姜竹茹</p>
<p>（案2）顧，左，廿八。濕邪稍泄，濕蒸未除，口內或甜或咸，脘宇似悶非悶。現在納呆便艱，陽明機關大為不利，渾身痹痛，脈見細弦。擬以疏和。</p>
<p>焦茅朮（烏芝麻拌炒，八分）　法半夏　焦建曲　炒黃芩　西羌活（八分）　炒蔞皮　干佩蘭　白茯苓　黃防風　焦米仁　鮮佛手　新會皮　姜竹茹</p>
<p>（案3）龔，左。濕邪分布三焦，頭眩肢酸，脘腹脹悶，氣道不通，所謂清不升而濁不降，大便艱澀，舌黃脈細弦。擬芳香調中，分化上下。</p>
<p>焦茅朮（黑芝麻炒，八分）　法半夏　白蔻仁（四分）　香青蒿　制川樸　炒蔞皮　光杏仁　炒黃芩　焦六曲　干佩蘭　焦米仁　白茯苓　炒竹茹</p>
<p>（案4）金，左，四十。身熱淹纏，形寒頭痛，脘悶肢酸，脈見弦滑。治以分泄。</p>
<p>西羌活　干佩蘭　法半夏　白茯苓　黃防風　焦米仁　制小樸　川鬱金　焦建曲　鮮佛手　新會皮　方通草　鮮荷葉包雞蘇散（三錢）</p>
<p>（案5）王，左，四十三。寒熱漸除，尚肢酸脘悶，二便少暢，脈見細弦。治以疏泄。</p>
<p>西羌活　廣藿香（八分）　法半夏　赤茯苓　黃防風　焦米仁　制小樸　益元散　焦建曲　鮮佛手　熾枳殼　方通草　鮮荷葉</p>
<p>（案6）管，左，二十六。寒熱肢酸，脘悶溺赤，寒包暑濕。治以分泄。</p>
<p>西羌活　干佩蘭　赤茯苓　制小樸　黃防風　焦米仁　益元散　法半夏　焦建曲　鮮佛手　方通草　新會皮　鮮荷葉</p>
<p>（案7）王，左，二十四。身熱不揚，寒少熱多，脘滿舌白，口渴不甚引飲，脈見細弦。治以分泄。</p>
<p>大豆卷　焦建曲　焦米仁　鮮佛手　干佩蘭　薄荷尖　白蔻仁　方通草　制小樸　黃防風　赤茯苓　新會皮　鮮荷葉包益元散</p>
<p>（案8）沈，右，四十一。脘宇脹滿，肝氣又復感邪，寒寒熱熱，防發疹㾦，脈見浮弦。治以分泄。</p>
<p>大豆卷　焦建曲　焦米仁　嫩白薇　干佩蘭　鮮佛手　白蔻仁　方通草　制小樸　法半夏　川鬱金　新會皮　西砂仁　鮮荷葉</p>
<p>復：寒熱發㾦，脘脹頭蒙，肝氣挾感，再從分泄。</p>
<p>大豆卷　鮮佛手　嫩白薇　廣藿香　法半夏　方通草　制小樸　焦米仁　川鬱金　焦建曲　白蔻仁　新會皮　荷葉包雞蘇散</p>
<p>（案9）唐，左，三十二。身熱不揚，頭痛便溏，下血傷體，感受濕溫，脈見芤大。治以分泄。</p>
<p>大豆卷　焦建曲　益元散　冬桑葉　干佩蘭　焦米仁　川鬱金　嫩白薇　制小樸　鮮佛手　薄荷尖　新會皮　鮮荷葉</p>
<p>（案10）劉，左，四十。頭痛肢酸，外寒內熱，風暑濕邪三者互纏，脈見沉弦。治以疏和。</p>
<p>冬桑葉　干佩蘭　雙鉤藤　焦建曲　杭菊花　法半夏　雞蘇散　白蔻仁　嫩白薇　制小樸　鮮佛手　新會皮　鮮荷葉</p>
<p>（案11）朱，左，廿七。體倦綿延，黴令又復感邪，脘滿納呆，頭痛溺赤，身熱雖除，表裡尚欠宣通，脈見浮大，舌膩。治以分泄。</p>
<p>冬桑葉　干佩蘭　赤茯苓　雞蘇散　杭菊花　焦六曲　焦米仁　川鬱金　嫩白薇　鮮佛手　方通草　新會皮　鮮荷葉</p>
<p>（案12）王，右。身熱頭痛，咳嗆鼻衄，脈數口渴，風暑互感。治以分泄。</p>
<p>冬桑葉　光杏仁　白茅花　炒荊芥　杭菊花　川貝母　雞蘇散　南沙參　嫩白薇　粉前胡　方通草　雙鉤藤　荷葉</p>
<p>（案13）王，左，廿八。濕濁困中，當脘懊憹，口苦舌膩，脈見沉弦。治以疏和。</p>
<p>法半夏　廣藿香　焦米仁　川鬱金　制小樸　鮮佛手　白蔻仁　小青皮　採芸曲　新會皮　白茯苓　野薔薇（八分）　鮮荷葉</p>
<p>（案14）朱，右，四十五。當脘心痛，痛連腰背，時時泛水，脈見弦滑。寒熱後治以疏和。</p>
<p>法半夏　廣藿香　炒香附　白茯苓　制小樸　鮮佛手　淡姜渣（四分）　酒桑梗　焦建曲　白蔻仁　大腹絨　新會皮　絲瓜絡　西砂仁　姜竹茹</p>
<p>（案15）王，左，廿八。中氣不足，濕濁未清，納少神倦，脘嘈氣怯，脈細弦。再疏和。</p>
<p>生白朮　法半夏　干佩蘭　益元散　焦建曲　焦米仁　鮮佛手　野薔薇　制小樸　白蔻仁　新會皮　方通草　西砂仁</p>
<p>（案16）朱，右。㾦後又發細瘰，肢體滿布，濕溫之邪漸得清徹。惟中氣受傷，神疲肢倦，納食未得如常，脈見弦滑。擬從半虛半實調之。</p>
<p>生白朮　干佩蘭　元金斛　赤苓皮　厚朴花　鮮佛手　新會白　綠豆衣　焦米仁　炒蔞皮　環粟子（一錢五分）　益元散　青荷梗　鮮稻葉</p>
<p>（案17）丁，左，三十七。便溏後腹痛納少，脈見沉弦。治以疏和。</p>
<p>生白朮　淡吳萸（四分）　炒米仁　焦建曲　生白芍　大腹皮　川樸花（四分）　炒香附　白茯苓　干佩蘭　煨木香　新會皮　紅棗（三枚）</p>
<p>（案18）楊，左。身熱少汗，五日不解，胸脘滿悶，並作惡心，神昏譫語，舌胖言強。外受風寒，內熱濕溫，郁邪無從出路，表汗不多，里便不爽，三焦瀰漫，勢防厥逆，脈見濡細。若隱疹不透，證非穩當。</p>
<p>大豆卷　連翹心　肥知母（去毛）　川鬱金　制小樸　抱木神　干佩蘭　法半夏　細菖蒲（八分）　益元散　全瓜蔞　光杏仁　炒竹茹　辰燈心　沖荷葉露（三錢）　另服至寶丹（一丸）</p>
<p>（案19）馬，右，三十八。寒熱未除，得汗不解，脘悶耳聾，渴不多飲，脈見滑大，舌苔帶灰。濕溫鬱蒸，表裡解而未暢，經後營舍空虛，防劫津為變。</p>
<p>冬桑葉　薄荷尖　淡竹葉　藿石斛　柔白薇　炒荊芥　塊滑石　炒蔞皮　焦山梔　光杏仁　淨蟬衣（四分）　方通草　鮮蘆根（去節，八錢）</p>
<p>復：表得汗透，里得兩便通行，濕溫之邪已有出路，耳聾較減，神志較清，惟舌苔仍然灰膩，脈右部尚大，左部帶數。再從清化。</p>
<p>冬桑葉　炒黃芩　省頭草（一錢五分）　細菖蒲　嫩白薇　焦山梔　塊滑石　炒荊芥　杭菊花　野薔薇（八分）　赤茯苓　方通草　鮮蘆根（去節，八錢）　荷葉</p>

<h2>十九、濕㾦</h2>
<p>（案1）何，右。痢後感邪，寒熱發㾦，治以分泄。</p>
<p>嫩白薇　炒黃芩　益元散　粉萆薢　干佩蘭　焦米仁　生白芍　山楂炭　大豆卷　制小樸　新會皮　方通草　鮮荷葉</p>
<p>（案2）徐，左。身熱出㾦，脘悶便溏，脈見浮弦。治以分泄。</p>
<p>嫩白薇　制小樸　益元散　鮮佛手　干佩蘭　焦建曲　白茯苓　川通草　大豆卷　焦米仁　川鬱金　新會皮　扁豆花（七朵）</p>
<p>（案3）包，左。疹㾦密布，脘悶神煩，寒熱或輕或重，脈見細弦。治以分泄。</p>
<p>冬桑葉　光杏仁　鮮佛手　肥知母（去毛）　嫩白薇　益元散　炒蔞皮　川石斛　連翹心　焦米仁　連皮苓　川通草　荷葉　炒竹茹</p>
<p>（案4）竇，左。寒熱連日未解，脘悶氣急，上為嘔逆，下為溏稀，邪勢仍未宣化，脈數而滑，兩寸獨不應指。上焦不能宣物，雖有疹㾦不能由里達表，治以清泄。</p>
<p>冬桑葉　制小樸　益元散　連皮杏仁　嫩白薇　鮮佛手　川鬱金　黃防風　大豆卷　焦米仁　方通草　新會紅　炒竹茹　洋佩蘭（七片）</p>
<p>（案5）俞，左。紅疹白㾦夾雜而出，當脘仍有滿悶，舌苔黃膩未化。惟六部芤弦細較為多，餘邪未清，正氣久虛，防其變端，擬以和化。</p>
<p>冬桑葉　薄荷尖　鮮佛手　生穀芽　柔白薇　連皮杏仁　干佩蘭　新會皮　淨蟬衣（八分）　焦米仁　赤茯苓　方通草　鮮荷葉</p>
<p>（案6）邵，右。身熱白㾦先起，脘悶嘔逆，脈見細弦，肺胃受病。治以分泄。</p>
<p>冬桑葉　光杏仁　焦建曲　炒黃芩　嫩白薇　白蔻仁（四分）　炒麥芽　方通草　厚朴花（六分）　焦米仁　白茯苓　新會皮　青荷梗（五寸）　竹茹</p>
<p>（案7）鍾，右。肝氣發後，邪勢透斥，由疹㾦變毒，遍體瘰癢。治以清泄。</p>
<p>冬桑葉　焦山梔　焦米仁　環粟子（一錢五分）　嫩白薇　綠豆衣（一錢五分）　白茯苓　方通草　杭菊花　辰滑石　生甘草　新會皮　鮮荷葉</p>
<p>（案8）李，左。疹後耳聾頭鳴。治以清泄。</p>
<p>冬桑葉　焦山梔　粉萆薢　蔓荊子（一錢五分）　柔白薇　嫩滑石　炒荊芥　省頭草（一錢五分）　杭菊花　薄荷尖　焦米仁　方通草　鮮荷葉</p>
<p>（案9）周，左，十八。痧㾦後內熱未清，納呆咳嗆，耳聾盜汗，脈見弦滑。治以清養。</p>
<p>北沙參　黑料豆　光杏仁　香青蒿　川貝母　制女珍　冬瓜子　杭菊花　川石斛　生白芍　新會皮　綠豆衣　沖枇杷葉露（三錢）　鮮稻葉（一束）</p>
<p>復：疹痧後陰傷熱熾，耳聾盜汗，咳嗆肌灼，脈見弦數。再以清養。</p>
<p>北沙參　川貝母　新會白　粉蛤殼　川石斛　青蒿　光杏仁　白茯苓　杭菊花　綠豆衣　黑料豆　環粟子（一錢五分）　鮮稻葉　枇杷葉露</p>
<p>（案10）宋，左。㾦後內熱未除，口渴納少，脈見沉弦。治以和養。</p>
<p>香青蒿　北沙參　生穀芽　炒黃芩　西耆皮　環粟子　柔白薇　白茯苓　黃防風　焦米仁　元金斛　方通草　荷葉　紅棗</p>
<p>（案11）陳，左，十一。身熱出㾦，㾦色枯白，上為口渴無度，下為大便溏薄，脈見細弦。治以分泄，兼顧咳嗆耳聾。</p>
<p>香青蒿　北沙參　冬桑葉（蜜炙）　益元散　炒黃芩　川石斛　杭菊花　川貝母　柔白薇　環粟子　淨蟬衣　新會白　枇杷葉　鮮稻葉（一大握，煎湯代水）</p>
<p>（案12）顧，左。㾦隨汗，汗隨熱，嘔惡綿延，肺胃之病，脈見細弦。治以和養。</p>
<p>香青蒿　制小樸　全福花　炒米仁　炒黃芩　干佩蘭　代赭石　白茯苓　柔白薇　川鬱金　金石斛　川通草　荷葉包雞蘇散　炒竹茹</p>
<p>（案13）沈，左。寒少熱多，白㾦出沒，脘腹痛脹亦未見輕。邪入氣分，逗留不解，脈左弦右滑，舌苔前半脫液根膩，屬虛中挾實，實中挾虛。擬分化三焦，略兼存津養液法。</p>
<p>香青蒿　西洋參　生白芍　新會白　炒黃芩　綠萼梅（八分）　炒川楝　晚蠶沙　柔白薇　元金斛　炒夏曲　佛手花　荷葉　竹茹</p>

<h2>二十、㾦後</h2>
<p>（案1）莊，左，五。據述種種見證屬肺脾兩經為多，肺氣不能宣通，挾痰挾風，則咳嗽氣粗，脾氣不達四肢，挾濕挾滯，則手冷足腫。風痰濕滯，四邪交併，乘㾦後之虛，互為發動，以致身熱淹纏，或輕或重，㾦點出沒，或多或少，肺不制肝，肝木又將侮脾。昨起神思倦怠，納食呆鈍，兩手有痙厥之勢，擬以疏和。</p>
<p>冬桑葉　炙雞金（一錢五分）　赤苓皮　方通草　萊菔子（一錢五分）　杭菊花　熟麥芽　嫩白薇　川貝母　雙鉤藤　益元散（荷葉包）　淨蟬衣　鮮豆卷（三錢）　枇杷葉</p>
<p>（案2）吳，右，十四。濕溫身熱，㾦隨汗布，耳聾口渴，舌苔灰黃。以上見證屬時邪應有之義，尚不關係。吃緊者，誤服下劑，胃陰胃氣兩為受傷，納食不思，肢清氣怯，睡中露睛，汗多發冷，脈左部模糊，右大至數不勻。防正不勝邪，由閉而脫。</p>
<p>西洋參　鮮菖蒲　淨蟬衣　連翹心　楓石斛　益元散（鮮荷葉包）　廣橘白　香青蒿　嫩白薇　杭菊花　蜜桑葉　淡竹葉　枇杷葉　扁豆花　鮮稻葉（煎湯代水）</p>
<p>復：昨投清營養胃法，便溏已止，舌灰略退。陰液有上升之勢，四肢雖清，熱來尚暖，脾陽有灌溉之機。關係者，誤下傷陰，胃無醒豁之象，納食不思，汗出淋漓。心失營液為養，神志倦怠，脈象如昨，再以前意增損，未識然否。</p>
<p>西洋參　香青蒿　益元散（鮮荷葉包）　環粟子　楓石斛　嫩白薇　杭菊花　連翹心　炒黃芩　川貝母　新會白　淡竹葉　枇杷葉　洋佩蘭　鮮稻葉（一大握，煎湯代水）</p>

<h2>二十一、痱疹</h2>
<p>（案1）錢，左，三十六。身熱脘悶，痱疹滿發，脈見弦滑。治以分泄。</p>
<p>大豆卷　淨蟬衣　益元散　焦建曲　冬桑葉　赤茯苓　嫩白薇　干佩蘭　焦米仁　薄荷尖　新會皮　方通草　鮮佛手　荷葉</p>

<h2>二十二、中暑</h2>
<p>（案1）汪，左，四十八。初起身熱不揚，至第二日熱甚，神志模糊，不知人事，舌光紅根灰，脈右部如無，左部細數。吸菸之體，益以發病前一夜通宵不寐，故邪入里最速。用犀角四分、鮮菖蒲、竹瀝、連翹、竹芯、桑葉、杭菊花、薄荷尖、西瓜翠等藥一劑，神志已清，諸恙均松，接後方。</p>
<p>復：昨投宣竅滌痰峻利，神志已得清楚，惟身熱未清，有汗不多，口渴無度，大便雖通，脘宇略有窒塞。脈右部已起，且滑且大，微帶數象，左部一律如是，舌灰色已退，仍根帶黃膩，尖光絳。風暑挾痰，尚少清徹，再從清解，候政。</p>
<p>冬桑葉　川貝母　鮮菖蒲　嫩白薇　杭菊花　光杏仁　萊菔子（四錢）　益元散（荷葉包）　粉蛤殼（六錢）　抱茯神　連翹心　薄荷　竹瀝（六錢）　西瓜翠（三錢）</p>
<p>次日轉方，加鮮稻葉（一束），煎湯代水。</p>

<h2>二十三、秋燥</h2>
<p>（案1）徐，左，十九。身熱頭痛咳嗆，舌光，口渴無度，脈見浮弦。治以分泄。</p>
<p>淡豆豉　焦山梔　光杏仁　川石斛　冬桑葉　方通草　荊芥穗　南沙參　杭菊花　粉前胡　川貝母　新會白　紅蔗皮（一兩）　鮮荷葉　薄荷尖</p>
<p>（案2）蔣，左，七。寒少熱多，大便不通。當表裡分解。</p>
<p>淡豆豉　光杏仁　荊芥穗　黃防風　粉前胡　方通草　冬桑葉　炒枳殼　淨蟬衣　薄荷尖　炒蔞皮（四錢）　杭菊花　荷葉</p>
<p>（案3）朱，左。寒熱之後，燥邪未得清徹，客於肺胃，牙齦浮腫，咳嗆無度，脈見弦大，舌苔光紅。治以清泄。</p>
<p>南沙參　川貝母　細荊芥　蜜炙前胡　冬桑葉　杭菊花　粉蛤殼　薄荷梗　光杏仁　炒天蟲（三錢）　方通草　川石斛　荷葉</p>
<p>（案4）富，左，廿八。燥邪客於上焦，牙腫喉痛，咳嗆不爽。脈息浮大，治以辛涼。</p>
<p>冬桑葉　光杏仁　杭菊花　方通草　炒天蟲　象貝母　炒牛蒡（三錢）　荊芥穗　扎馬勃（八分）　薄荷尖　白射干　新會皮　荷葉</p>
<p>（案5）顧，左，九。會厭為吸門，系七沖之一。痰熱內阻，呼吸不利，哮聲如鋸。脈見弦數。擬宣肺竅而化痰熱。</p>
<p>南北沙參　粉蛤殼（一兩）　冬瓜子（三錢）　冬桑葉　川貝母　瓜蔞仁（四錢）　淨蟬衣（七隻）　杭菊花　光杏仁　煅海石（四錢）　青蒿子　扎馬勃　沖鮮竹瀝（六錢）　枇杷葉</p>
<p>（案6）浦，左，十七。咽喉紅痛，身寒發熱，咳嗽口渴，脈息數大。治以辛涼分泄。</p>
<p>冬桑葉　杭菊花　炒荊芥　制元參　扎馬勃　方通草　光杏仁　川石斛　象貝母　薄荷尖　炒天蟲（三錢）　甘中黃（八分）　紅蔗皮（一兩）</p>

<h2>二十四、冬溫</h2>
<p>（案1）顧，右。冬溫鬱蒸表裡解而未解，有汗不多，大便不暢，呃忒口渴，當脘脹滿，邪勢方張，精液漸為劫爍，舌苔質紅色灰薄如煙煤。脈兩手滑大，左右寸重按模糊。溫邪愈趨愈深，犯包絡已有神昏，動肝風又將痙厥，高年正虛邪熾，勢防內閉外脫。擬清陰泄邪，以圖弋獲。</p>
<p>西洋參（一錢五分）　光杏仁　淡竹葉　鮮生地　淡豆豉（二味同打）　羚羊尖（摩沖，四分）　瓜蔞（元明粉二錢拌，三錢）　黑山梔　朱茯苓　鮮石斛　冬桑葉　炒枳殼　活水蘆根（去節，八錢）　荷葉（乙角）</p>
<p>（案2）盛，左。身熱無汗，咳嗆口渴，入夜譫語，防冬溫內陷為變，脈見浮弦。治以辛涼。</p>
<p>冬桑葉　粉前胡　胖大海（一錢五分）　白茯苓　淡豆豉　連皮杏仁　炙款冬（一錢五分）　川通草　薄荷尖　冬瓜子　淨蟬衣　枇杷葉</p>

<h2>二十五、溫毒</h2>
<p>（案1）王，右，廿。咽喉紅痛，內熱脈大，染苔舌灰。風暑挾痰，鬱於上焦，當清涼分泄。</p>
<p>冬桑葉　薄荷尖　光杏仁　炒荊芥　淡豆豉　扎馬勃　象貝母　粉前胡　炒殭蠶　白射干　大力子　益元散　荷葉</p>
<p>復：咽喉紅痛，減而未除，脈大身熱，再以分泄。</p>
<p>冬桑葉　光杏仁　杭菊花　荊芥穗　淡豆豉　象貝母　扎馬勃　粉前胡　炒天蟲（三錢）　薄荷尖　大力子　新會皮　鮮荷葉包益元散</p>
<p>（案2）仇，右。風暑挾痰，項腫咽痛，口疳滿布，脈浮大。治以分泄。</p>
<p>冬桑葉　炒殭蠶　大力子　荊芥穗　淡豆豉　扎馬勃　光杏仁　淨銀花　薄荷尖　白射干　象貝母　益元散　荷葉</p>

<h2>二十六、風痧</h2>
<p>（案1）馮，左。身熱微寒，咳嗽頭痛，勢將發痧，脈見浮大。治以分泄。</p>
<p>冬桑葉　荊芥穗　淡豆豉　光杏仁　柔白薇　方通草　淨蟬衣　新會皮　薄荷尖　粉前胡　白茯苓　杭菊花　荷葉</p>
<p>復：風痧已發，布於四肢頭面，咳嗆口乾，咽喉紅腫，脈見浮大，治以清解。</p>
<p>冬桑葉　甘中黃（八分）　川貝母　川石斛　扎馬勃　南沙參　山豆根（一錢五分）　京元參　板藍根　杭菊花　光杏仁　忍冬花　紅蔗皮（一兩）</p>
<p>復：熱毒爍肺，喉腐，脈數大，治以清化。</p>
<p>北沙參　冬桑葉　甘中黃（八分）　鮮石斛　板藍根　淨連翹　金果蘭（八分）　杭菊花　山豆根　忍冬花　京元參　綠豆衣　紅蔗皮</p>

<h2>二十七、食復</h2>
<p>（案1）李，左，十一。痧後食復，身熱有汗。向來脾胃失健，又有腹痛便溏，脈見細弦。治以疏和。</p>
<p>嫩白薇　大腹絨　五穀蟲（一錢五分）　白茯苓　焦米仁　焦建曲　生熟穀芽（各三錢）　淨蟬衣　炙雞金　方通草　陳皮　雞蘇散　荷葉（乙角）</p>
<p>轉方：去白茯苓、淨蟬衣、熟穀芽，加赤苓、樸花</p>

<h2>二十八、呃忒</h2>
<p>（案1）蔣，左，十九。寒熱後胃氣為逆，呃忒頻仍，納呆脘悶，脈見細弦。治以疏和。</p>
<p>法半夏　焦建曲　新會皮　全福花　公丁香　鮮佛手　焦米仁　代赭石　制小樸　干佩蘭　白蔻仁（四分）　白茯苓　乾柿蒂（三枚）　姜竹茹</p>
<p>（案2）汪，左，三十四。寒熱不揚，神迷發痙，口渴無度，呃忒頻仍，右脈模糊，左脈細弦。陰寒外束，濕熱內蒸，從此邪無出路，急防閉脫。</p>
<p>老蘇梗（一錢五分）　廣藿香　抱木神　真川連（四分）　新會皮　石決明　法半夏　生白芍　雙鉤藤　竹茹　鮮佛手　洋佩蘭（七片）</p>

<h2>二十九、霍亂</h2>
<p>（案1）姜，右。揮霍擾亂，瀉而兼嘔，脈見細弦，治以苦辛通降。</p>
<p>姜川連（四分）　姜半夏　鮮佛手　焦米仁　制小樸　連皮苓　干佩蘭　益元散　焦建曲　大腹絨　宣木瓜　方通草　扁豆花（七朵）　姜竹茹</p>
<p>復：嘔瀉漸減，再以清泄。</p>
<p>姜川連　鮮佛手　杭菊花　焦建曲　制小樸　川鬱金　白茯苓　粉萆薢　姜半夏　新會皮　焦米仁　方通草　扁豆花（七朵）　鮮荷梗（五寸）</p>
<p>（案2）徐，左。上吐下瀉，汗冷肢清，脈細兼弦，治以疏和。</p>
<p>姜川連　廣藿香　焦米仁　益元散　制小樸　連皮苓　白蔻仁　黃防風　焦建曲　大腹絨　鮮佛手　新會皮　荷梗</p>
<p>（案3）朱，左。揮霍擾亂，勃然上吐下瀉，當脘懊憹，汗多肢清，脈來沉細。治以分疏。</p>
<p>法半夏　干佩蘭　大腹絨　焦米仁　制小樸　鮮佛手　帶皮苓　白蔻仁　焦建曲　川鬱金　晚蠶沙　新會皮　姜竹茹</p>
<p>（案4）費，左，四十。霍然擾亂，吐瀉脘悶，脈見沉弦，治以分泄。</p>
<p>法半夏　廣藿香　青木香　白蔻仁　制小樸　鮮佛手　晚蠶沙　焦米仁　焦建曲　川鬱金　白茯苓　新會皮　西砂仁</p>

<h2>三十、囊風</h2>
<p>（案1）囊風發熱發癢，流滋結痂，略有咳嗽，治以清泄。</p>
<p>茅朮　連翹　黃芩　萆薢　梔皮　銀花　苦參　赤苓　豨薟　川連　生草　新會　扁柏</p>
<p>遊風多年，變為囊風，流滋發癢，甚於下部，脈來弦滑。治以清化。</p>
<p>茅朮皮　連翹　萆薢　蘚皮　梔皮　黃芩　赤苓皮　米仁　豨薟（蜜炙）　苦參　側皮　滑石　忍冬藤</p>

<h2>三十一、驚風</h2>
<p>（案1）左，一歲。驚風挾痰，氣逆音嘶，脈弦。治以清泄。</p>
<p>桑葉　川貝　鉤藤　杏仁　膽星　白芍　前胡　新會　蛤散　加竹瀝（一兩）　沖濂珠粉（一分）</p>
<p>復：驚風稍平，發嘔發噯，滿口腐爛，治以清養。</p>
<p>沙參　金斛　銀花　連翹　冬瓜子　薄荷　象貝　蛤殼　通草　加茅根（去心，三錢）　枇杷葉</p>
<p>復：驚風已平，口乾咽哽，爛斑肌灼，能否支持。</p>
<p>洋參（六分）　淡竹葉　新會白　羚羊（四分）　生竹茹　橄欖核　鮮斛（三錢）　連翹心　蜜桑葉　辰燈心</p>

<h2>三十二、肺癰</h2>
<p>（案1）沈，左。肺癰潰爛，先血後膿，現在雖減，最忌炎夏反復。</p>
<p>沙參　杏仁　桑皮　新會　冬瓜子　川貝　地骨　通草　米仁　蛤殼　茯苓　生草　活水蘆根（去節，五錢）</p>
<p>（案2）王，左。哮喘重發，痰不爽吐，且帶腥臭，脈見浮弦。治以宣解，兼顧形寒形熱。</p>
<p>豆豉　菔子　冬瓜子　杏仁　桑葉　大力　生米仁　川貝　白前　兜鈴　茯苓　通草　枇杷葉</p>
<p>此病有根，重發已三日，服此方四帖四愈。</p>
<p>（案3）左。咳嗽暴起，嬌臟頃刻腐爛，穢氣直衝，紅痰不止，肺癰之象。</p>
<p>兜鈴　地骨　杏仁　茜草　冬瓜子　桑皮　川貝　茯苓　米仁　蛤殼　白芍　新會　竹茹　枇杷葉　肺露</p>
<p>（案4）左。吐血甚多，由陽明而損及肝肺，現加咳嗽黃痰、綠痰帶穢而出，顯成肺癰，嘈雜顴紅，又復盜汗。擬以清養。</p>
<p>沙參　杏仁　桑皮　白芍　冬瓜子　川貝　前胡　茯苓　米仁　蛤殼　仙鶴草　會絡　枇杷葉　竹茹　肺露</p>

<h2>三十三、肺痿</h2>
<p>（案1）左。久咳不已，嬌臟受傷，痰中帶血，其色不一，或黃或綠，肺痿漸成，脈見細弦。治以清養。</p>
<p>沙參　白芍　茜根　旱蓮　川貝　冬瓜子　三七　冬蟲　蛤殼　米仁　紫菀　會絡　藕節　枇杷葉</p>

<h2>三十四、哮嗽</h2>
<p>（案1）左。痰體本虛，感受寒邪，肺葉積飲發脹，哮嗽始重，痰如曳鋸，咽喉窒塞。日後須防失血，治以開降。</p>
<p>炙麻黃（四分）　杏仁　全福　白芍　煨石膏（三錢）　川貝　石英　茯苓　炒牛膝（三錢）　會紅　蘇子　桑皮　銀杏　枇杷葉　摩沖沉香（一分）</p>
<p>（案2）左。內有痰飲，外感風寒，哮嗽有根，發而較重，胸次痹悶，氣逆喉鳴，脈見細弦。治以和降。</p>
<p>蘇子　桑葉　半夏　冬瓜子　杏仁　白前　會皮　款冬　葶藶（蜜炙）　通草　茯苓　川貝　紅棗（五枚）</p>
<p>（案3）左。胸痹喉鳴，哮喘又發，脈息細弦。治以和降。</p>
<p>蘇子　白前　冬瓜子　川貝　杏仁　桑葉　茯苓　全福　葶藶　會紅　款冬　防風　紅棗（五枚）</p>
<p>（案4）左。哮嗽重發，喉鳴氣逆，寒熱脈細。屬舊病新邪，治以和養。</p>
<p>桑葉　蘇子　川貝　防風　白前　款冬　茯苓　會皮　杏仁　葶藶　菔子　通草　紅棗</p>
<p>（案5）左。哮嗽重發，即為肺脹，喉痰嗚嗚，未能爽吐，脈息沉弦。治以疏降。</p>
<p>葶藶　杏仁　會紅　芥子　菔子　川貝　款冬　冬瓜子　蘇子　茯苓　桑葉　通草　銀杏肉　紅棗</p>
<p>復：肺脹頻仍，咳痰稍松，脈息細弦。宣肺氣而豁痰飲。</p>
<p>葶藶　白前　茯苓　冬瓜子　蘇子　通草　款冬　萊菔子　川貝　會絡　杏仁　桑葉　紅棗（五枚）</p>
<p>（案6）右。痰沫湧吐，哮嗽日進日深，脈見細弦。擬以和降。</p>
<p>白前　全福　葶藶　茯苓　蘇子　石英　桑皮　會紅　杏仁　川貝　沉香屑（三分）　款冬　銀杏　紅棗</p>

<h2>三十五、哮喘</h2>
<p>（案1）左。咳減喘輕，肺腎漸有相生之勢，平日操心過度。考心居肺腎之間，有時艱寐，有時懊憹，侵晨出汗，脈見細軟，左關較弦。擬甘緩調降，藉攝心神。</p>
<p>沙參　川斛　半夏　夜交藤　綿耆　全福　秫米　茯苓　蛤蚧　石英　淮麥　會皮　枇杷　紅棗</p>
<p>（案2）右。上虛生痰，下虛生飲，積痰蓄飲，咳嗽多年，或平或發。近時薄有感冒，咳勢較重，喘不能睡，屬肺俯腎仰，兩為失司。考女科以肝為先天，種種氣痹營虧，沖海無權，月事多年未行，並非乾血成勞，以致諸虛雜出，頭蒙心悸，腰痠肢倦。脈息細弦，虛多感少。擬以甘緩調降。</p>
<p>沙參　燕根　杏仁　百合　綿耆　全福　川貝　淮膝　蛤蚧　石英　冬蟲　會紅　枇杷葉　胡桃肉</p>
<p>（案3）左。痰飲內積，肺腎氣道失宣，咳嗆無度，痰多氣喘，脈息細弦。治以和降。</p>
<p>沙參　蛤蚧　全福　白芍　綿耆　秋石　石英　茯苓　防風　川斛　冬瓜子　會皮　肺露磨沉香（一分）　貝母</p>
<p>（案4）左。沖失坐鎮，氣從腹旁上衝，咳嗽甚於早起，有時發嘔，脈息細軟，從虛多邪少調之。</p>
<p>沙參　淮膝　白芍　冬瓜子　蛤蚧　全福　會紅　茯苓　綿耆　紫石英　杏仁　川貝　枇杷葉　紅棗　肺露磨沉香（一分）</p>

<h2>三十六、咳嗽</h2>
<p>（案1）咳嗽有根，與年俱進，每發先為寒熱，屬氣虛積飲，肺失衛外，以致氣喘痰沫，屢屢發嘔，脈見沉弦。治以和降。</p>
<p>沙參　蘇子　半夏　全福　耆皮　款冬　川貝　代赭　防風　茯苓　杏仁　會皮　枇杷葉　姜竹茹</p>
<p>（案2）右。氣虛生痰，陰虛生飲，痰飲咳嗽，肺俯腎仰，兩為失司，脈見細弦。日後慎防絡傷失血，擬以和養。</p>
<p>沙參　川貝　白芍　冬瓜子　綿耆　全福　茯苓　會皮　杏仁　石英　燕根　蛤殼　枇杷葉　紅棗　肺露</p>
<p>（案3）右。痰飲傷中，中主表裡之權。咳嗽未減而寒熱交作，肢冷背寒，神疲嗜臥，兩日稍解而未清。前診脈之細弦、舌之黃剝，顯屬表失衛外，里失主中。</p>
<p>沙參　仙半夏　青蛤散　五味　耆皮　川貝　當歸　姜渣　防風　白芍　元斛　白薇　竹茹</p>
<p>（案4）左。兩脈俱靜，左靜則根本無損，右靜則感冒漸清。寒熱已止，大便通暢，惟侵晨尚有咳痰，白沫中略有黏膩，最恐擾動肺痿舊根。當長夏炎熱方興未艾，最宜保護氣臟。再須清熱和陰，新舊病兼顧為宜。</p>
<p>沙參　冬蟲　白芍　元斛　耆皮　女珍　茯苓　川貝　防風　杏仁　冬瓜子　會絡　枇杷葉　竹茹　肺露　紅棗</p>
<p>（案5）左。咳嗽綿延，音嘶痰沫，肉落氣逆，脈左細右弦，氣虛見症為多。擬以和養。</p>
<p>沙參　杏仁　全福　淮膝　綿耆　川貝　石英　茯苓　冬蟲　冬瓜子　白芍　會絡　蜜炙枇杷葉</p>
<p>（案6）左。咳嗽綿延，背脊痠痛，惡風神倦。春季雖為失血，血尚不多，脈見細弦，脫力內傷，氣與陰兩為不足，治以和養。</p>
<p>沙參　川貝　全福　冬瓜子　耆皮　杏仁　石英　蛤殼　血燕根　淮膝　會絡　冬蟲　絲絡　杜仲</p>
<p>（案7）左。咳嗽未減，夜重於日，痰多氣怯，關係者形寒潮熱，營衛之傷最難調護。脈芤，擬以和養。</p>
<p>沙參　甜杏　全福　白芍　阿膠　川貝　石英　茯苓　百合　冬蟲　冬瓜子　會絡　枇杷葉　紅棗</p>
<p>（案8）左。肝升太過，肺降無權，咳嗆綿延，氣逆無痰，兩脅每每引痛，時時面部火升，勢防天熱失血。脈息沉弦，治以清降。</p>
<p>沙參　甜杏仁　白芍　蛤殼　全福　川貝母　淮膝　石英　猩絳　冬瓜子　冬蟲　會紅　絲瓜絡　肺露</p>
<p>（案9）左。酒客鬱熱，肝肺兩臟受傷，咳血雖平，兩脅尚為引疼，治以和養。</p>
<p>北沙參　燕根　旱蓮　甜杏　全福　冬蟲　女珍　川貝　猩絳　淮膝　蛤殼　會絡　絲瓜絡</p>
<p>（案10）左。因感起咳，咳而無痰，脅痛氣逆，脈息細弦。最防失血成勞，擬以和養。</p>
<p>沙參　甜杏　白芍　淮膝　全福　川貝　冬蟲　蛤殼　猩絳　冬瓜子　燕根　會絡　蜜炙枇葉　絲瓜絡</p>
<p>（案11）左。脈左部弦大甚於關位，屬春令應肝，肝邪為熾，加以素有遺泄，水不涵木，厥陰更為失養，以致有升少降，上爍嬌臟，咳嗆雖屬不甚，行動即為氣逆。關係又在失血，血發連次，所吐甚紅，由陰傷氣，氣分漸為不調，食後每每腹脹。防進而足腫便溏，即屬過中難治，擬以和養。</p>
<p>沙參　川貝　白芍　金斛　燕根　冬瓜子　旱蓮　石英　冬蟲　全福　女珍　蛤殼　紅棗　藕節</p>
<p>如血來以墨染白絹三寸一方，化灰待冷沖服。</p>
<p>（案12）孔，左。失血漸止，痰中尚為帶溢，肝肺兩虛，肺失降為咳嗆，肝不和為脅痛。脈見數滑。青年最防入損，再從清養。</p>
<p>沙參　甜杏　全福　白芍　冬蟲　川貝　石英　川斛　燕根　旱蓮　蛤殼　茜根　藕節　肺露</p>
<p>復：失血已平，肝升肺降仍屬未知，痰膠氣逆咳嗆之勢，夜甚於日，脈見數滑。再從清養，兼和中以開胃納。</p>
<p>沙參　甜杏　全福　白芍　冬蟲　川貝　石英　生熟穀芽　元斛　冬瓜子　蛤殼　會白　紅棗　肺露</p>
<p>（案13）梅，左。連年見血，每每逢節而發，發時或多或少，整口色鮮。由陽明損及肝肺，肺不降為咳嗆，肝不和為脅痛，漸至音嘶盜汗，潮熱形寒，關係尤在便溏，有損而過中之勢。脈息弦滑，擬以和養。</p>
<p>沙參　元斛　白芍　蠶繭炭　冬蟲　全福　川貝　扁豆衣　燕根　石英　百藥煎　炙草　紅棗　鮮藕肉（一兩）</p>
<p>（案14）王，左。英發太早，濕熱下注，肛癰未斂，內管漸成。肺腸為表裡，咳嗽綿延，痰薄且黏，夏令防失血成損。治以清養急和，左脈弦數。</p>
<p>沙參　杏仁　全福　象牙屑　冬蟲　川貝　石英　冬瓜子　燕根　蛤殼　川斛　新會紅　枇杷葉　紅棗　肺露</p>
<p>（案15）左。早有遺泄，近發失血，遂致肝升肺降，兩為失司，咳嗽氣逆。窮則傷腎，諸虛雜出，形寒潮熱，咽乾艱寐，肢腰痠楚，盜汗淋漓。脈見芤數，右部為甚，治以和養。</p>
<p>沙參　元斛　全福　白薇　冬蟲　川貝　石英　蘇子　燕根　白芍　新會　茯苓　枇杷葉　藕節　豆花露</p>
<p>復：遺泄不發，失血亦不見重，惟關係者尤在咳嗽氣怯，喘須高枕，痰多成罐。營衛早為偏勝，形寒潮熱，且又出汗，心煩神倦。脈見細軟，根本大傷，夏令能否有減無損，再擬甘平清降。</p>
<p>吉林須（淡秋石八分泡湯煎）　冬蟲　全福　白芍　沙參　燕根　石英　茯苓　綿耆（鹽水炒）　淮麥　川貝　蛤殼　枇杷葉　紅棗　會絡</p>

<h2>三十七、嘔血</h2>
<p>（案1）沈，左。跌僕受傷，左脅迸痛，嘔血又發，脈沉弦。治以和降。</p>
<p>降香　寄生　當歸　杜仲　仙鶴草　會絡　丹參　膝炭　三七　白芍　川斷　鹿銜　藕節　蠶繭炭</p>

<h2>三十八、吐血</h2>
<p>（案1）左。勃然吐血，兩脅作痛，脈見沉弦。治以和降。</p>
<p>降香　全福　白芍　膝炭　歸鬚　猩絳　旱蓮　茯苓　仙鶴草　丹參　竹三七　會絡　絲瓜絡　藕節</p>
<p>（案2）左。血隨氣沸，勃然吐血，當脘發迸，兩脅引痛，內傷胃絡顯然。脈見沉弦，治以和降。</p>
<p>降香　全福　白芍　膝炭　歸鬚　猩絳　鹿銜　茯苓　仙鶴草　丹參　參三七　會絡　藕節　絲瓜絡</p>
<p>（案3）左。無端失血，整口色鮮。由胃絡而傷肝肺，漸加咳嗽。脈見芤大，治以清降。</p>
<p>沙參　仙鶴草　杏仁　淮膝　三七　女珍　川貝　蛤殼　旱蓮　茜根　冬瓜子　會絡　藕肉（兩許）</p>
<p>（案4）左。吐血連日未止，由陽明而傳肝肺，漸加咳嗽。脈見芤弦，治以和降。</p>
<p>降香　杏仁　淮膝　全福　仙鶴草　石英　茯苓　川貝　三七　白芍　會絡　冬瓜子　藕節</p>
<p>（案5）左。咳嗆失血，內熱脈數，治以清降。</p>
<p>南沙參　旱蓮　杏仁　冬瓜子　竹三七　女珍　川貝　青蒿子　仙鶴草　茜根　川斛　蛤殼　藕節</p>
<p>（案6）左。陽明為多氣多血之經，血隨氣沸，或紫或紅，皆屬整口。久防損及肝肺，漸加咳嗽。脈見弦數，治以和降。</p>
<p>細生地　旱蓮草　白芍　茯苓　川石斛　女珍子　蛤殼　歸鬚　參三七　盆秋石　仙鶴草　鮮藕汁（一小杯）</p>
<p>（案7）左。素有遺泄，以致龍相失潛，燥灼之勢上衝於胃，陽明之血隨氣火上騰，每發血時心煩神躁，坐立不安。熱迫營陰，氣火用事。脈見芤弦，治以和養。</p>
<p>細生地　白芍　元斛　生熟穀芽　煨石膏　旱蓮　木神　淮膝　沙參　丹參　蓮鬚　會皮　藕節　紅棗</p>

<h2>三十九、口鼻血</h2>
<p>（案1）左。咳嗆失血，口鼻俱溢，脈見弦滑。治以清降。</p>
<p>沙參　杏仁　旱蓮　白芍　茅花　川貝　茜根　冬瓜子　三七　會絡　山茶花（一錢五分）　蛤殼　藕節</p>
<p>復：口鼻之血，再和咳嗽，脈細。</p>
<p>沙參　川貝　旱蓮　茜根　蛤殼　會絡　杏仁　冬瓜子　茅花　白芍　川斛　藕節</p>

<h2>四十、痞塊</h2>
<p>（案1）左。腹痞脹滿，陰陽絡兩為受傷，鼻血便血，形黃內熱。脈見弦滑，治以疏和。</p>
<p>白朮　茅花　香附　川楝　鱉甲　大腹　丹參　九香　建曲　楂炭　新會　白芍　側柏　砂仁　紅棗</p>
<p>（案2）陸，左。腹痞攻脹，陰陽絡傷，吐血雖止，便血未除。脈見沉弦，再以調降。</p>
<p>白朮　大腹　川斷　川楝　赤曲　香附　丹參　香蟲　楂炭　煨木香　新會　白芍　炒側柏</p>
<p>（案3）柴，左。腹痞肢腫，形黃神倦，脈見細弦。陰陽絡傷，鼻血雖止，便血未除。治以疏和。</p>
<p>白朮　大腹　香附　白芍　建曲　防己　川楝　丹參　楂炭　萆薢　九香　葫蘆巴　西砂仁</p>
<p>（案4）左。左脅之下，迸結若痞，脫力氣痹，治以疏和。</p>
<p>吳萸　香附　獨活　杜仲　白芍　川楝　寄生　當歸　建曲　九香　青木香　新會　絲瓜絡</p>
<p>（案5）左。早有腹痞，或痛或脹，肝脾內傷，治以疏和。</p>
<p>吳萸　川楝　佛香　香附　白芍　九香　茯苓　大腹　建曲　陳櫞　丹參　新會　砂仁</p>
<p>（案6）陳，左。腹痛痞攻，便血澼澼，脈息細弦，治以疏和。</p>
<p>香附　炮姜　吳萸　佛柑　建曲　地榆　白芍　川楝　楂炭　大腹　煨木香　新會　砂仁</p>
<p>（案7）周，左。便血體肝脾早傷，右腹結痞攻動作痛，痛連腰部，脈來細軟。治以溫通。</p>
<p>香附　吳萸　川楝　腹皮　建曲　白芍　九香　川斷　楂炭　新會　桑梗　丹參　砂仁</p>
<p>（案8）左。腹痛痞攻，內熱肌灼，脈數。擬清陰調中。</p>
<p>鱉甲　川楝　大腹　雞金　志曲　九香　陳櫞　白芍　銀柴　香附　新會　茯苓　砂仁</p>
<p>（案9）左。腹痞痛脹，咳嗆肢腫，屬舊傷新邪，肺脾同病。脈見細弦。擬以疏和。</p>
<p>吳萸　香附　蘇子　木防己　白芍　大腹　款冬　萆薢　建曲　新會　茯苓　米仁　砂仁</p>
<p>（案10）顧，左。腹痞作脹，洞泄無度。舊傷新邪，再從疏和。</p>
<p>白朮　大腹　吳萸　川楝　香附　茯苓　白芍　九蟲　煨木香　新會　建曲　車前　砂仁</p>
<p>（案11）左。中焦氣痹，積痰蓄飲，當脘屢屢作痛，兩痞交攻，溏泄亦因之而發，脈見沉弦。久防痰飲常擾，再加嘔吐，擬以溫通。</p>
<p>半夏　茯神　川楝　陳櫞　香附　遠志　香蟲　白芍　煨木香　澄茄　志曲　新會　砂仁　姜竹茹</p>
<p>（案12）右。腹痞便溏，經事應通未通，轉為鼻血屢溢。脈見沉弦，治以疏和。</p>
<p>香附　建曲　大腹　茺蔚　川楝　丹參　側柏　延胡　香蟲　白芍　新會　枳殼　砂仁</p>
<p>（案13）左。肝脾肺三者俱傷，肝為脅痛，脾為痞脹，肺為咳嗆。脈見沉弦，治以疏和。</p>
<p>香附　陳櫞　蘇子　大腹　川楝　建曲　款冬　白歸鬚　香蟲　白芍　新會　猩絳　砂仁　絲瓜絡</p>
<p>（案14）右。痞痛舊根，近發連及腰脅。脈見沉弦，治以疏和。</p>
<p>鹿銜　猩絳　丹參　杜仲　當歸　香附　白芍　香蟲　寄生　川楝　會絡　志曲　絲瓜絡　砂仁</p>

<h2>四十一、胸痹</h2>
<p>（案1）袁，左。痰飲內阻，晨起咳嗽，胸痹氣逆，痰沫不爽。脈見細弦，擬以和降。</p>
<p>瓜蔞仁　全福　半夏　茯苓　薤白頭　石英　川貝　淮膝　蘇子　款冬　會紅　摩沖沉香（一分）</p>
<p>（案2）右。肝為之升，肺失其降，肝肺兩病，此平彼作，咳嗽頻仍，痰色不一，金不制木，肝邪益熾，胸痹脘滿，痰沫湧吐，咽喉且痛。脈見沉弦，擬以通降。</p>
<p>瓜蔞仁　全福　半夏　白芍　薤白頭　代赭　川貝　木神　蘇子　瓦楞　新會　佛花　枇杷葉　姜竹茹　青鉛</p>
<p>（案3）方，左。早有失血，去年復發。近日又有胸痹不舒，少腹結痞，肝肺久為受傷，脘宇窒塞，略有咳嗽。燔灼之令，恐血再來。脈風細弦，治以和降。</p>
<p>瓜蔞仁　全福　杏仁　冬瓜子　薤白頭　石英　川貝　紫菀　降香　冬蟲　蛤殼　會絡　絲瓜絡　枇杷葉</p>

<h2>四十二、肺脾病</h2>
<p>（案1）右。咳嗆略減，轉為腹痛多利，有上損過中之勢，當肺脾養和，並顧失血。</p>
<p>沙參　全福　川貝　川斛　冬蟲　紫石英　冬瓜子　會白　扁豆衣　白芍　炙甘草　炒穀芽　紅棗</p>
<p>（案2）右。吐血咳嗽，近來雖不加重，病情雜出，潮熱盜汗，胃納甚微，大便多次。上損及脾，月事漸枯；下損過胃，脾胃兩傷，過中最險。脈見細軟，舌光屬虛多邪少，治以和養。</p>
<p>於術　元斛　粟殼　川貝　夏曲　補骨　扁豆衣　淮麥　白芍　菟絲　茯苓　新會　紅棗</p>
<p>（案3）左。肺脾兩傷，上為咳嗽，下為便血，漸至肉落納少，形寒潮熱，勢將由傷成勞。脈見弦滑，治以和養。</p>
<p>黨參　杜仲　蘇子　茯苓　赤曲　川斷　款冬　白芍　楂炭　丹參　紫菀　陳皮　紅棗　扁柏</p>

<h1>卷中</h1>

<h2>一、痢疾</h2>
<p>（案1）於，左，四歲。赤痢未止，舌黃口渴，身熱腹痛，關係者又在噤口。擬以疏和。</p>
<p>川連（元米炒）　炒荊芥　川斛　白薇　白頭翁　地榆　會白　雞金　銀花炭　側柏　益元散　楂炭　粳稻葉（一大握，煎湯代水）</p>
<p>（案2）吳，右。霍亂後又發痢疾，舌剝口噤，如何支持。</p>
<p>洋參　甘中黃　木神　野赤豆　地榆　赤白芍（各一錢）　丹參　綠豆衣　銀花炭　藿石斛　赤曲　會皮　卷竹心　稻葉（一束）</p>
<p>（案3）右。紅白痢，晝夜百計，脈見細弦。治以疏和。</p>
<p>香連丸（八分）　赤曲　薑炭　萆薢　白芍　楂炭　地榆　澤瀉　香附　大腹　荊芥　新會　紅白扁豆花</p>
<p>（案4）左。酒客濕熱傷營，每便乾結，帶下赤痢，脈見細弦。由陽明而損肝脾，漸為腹痛形黃。擬以疏和。</p>
<p>臟連丸　大腹　側柏　澤瀉　紅曲　木香　炒荊芥　車前　楂炭　香附　地榆　會皮　野赤豆</p>
<p>（案5）右。休息久痢新積，色白，脈見沉弦。擬苦辛固養。</p>
<p>駐車丸　地榆　扁豆衣　川楝　白芍　側柏　通草　會皮　楂炭　茯苓　米仁　澤瀉　紅棗</p>
<p>（案6）左。痢疾，小腹發迸，肛門氣墜，欲便不利，屬半虛半實。脈見沉弦，治以和養。</p>
<p>白朮　吳萸　川楝　穀芽　香附　白芍　木香　車前　建曲　大腹　佛柑　陳皮　陽春　砂仁　棗</p>
<p>（案7）張，左，四十四。脫力阻氣，脅痛稍減，尚似痢非痢，裡急後重。治以疏和。</p>
<p>白朮　香附　佩蘭　茯苓　建曲　大腹　米仁　通草　楂炭　炒荊芥　益元散　新會　荷葉</p>
<p>復：血痢漸減，再以疏和。</p>
<p>白朮　大腹　佛手　佩蘭　建曲　廣木香　楂炭　炒荊芥　香附　會皮　益元散　米仁　紅扁豆花</p>
<p>（案8）右。肝脾失協，赤痢屢發，小腹迸痛，得食欠運。脈見細弦，擬以和養。</p>
<p>白朮　金斛　木神　川斷　赤曲　白芍　丹參　佛柑　香附　煨木香　杜仲　新會　荷蒂</p>
<p>（案9）右。休息痢有赤無白，腹痞攻痛，脈息濡細。陰虛之體，舌苔光剝。擬以和養。</p>
<p>於術　紅曲　炮薑炭　杜仲　黨參　艾絨炭　地榆　丹參　香附　煨木香　側柏　白芍　荷蒂　棗</p>
<p>（案10）左。赤痢久而不止，腹痛肛痛，肢腫納少，脈見細弦。擬以溫養。</p>
<p>白朮　炮姜　吳萸　補骨　黨參　地榆　白芍　菟絲　香附　木香　杜仲　車前　荷蒂　棗</p>
<p>（案11）左。赤白痢減，肛墜裡急，脈見細弦。擬升清降濁。</p>
<p>茅朮　建曲　澤瀉　升麻　黨參　楂炭　茯苓　白芍　川連（元米炒）　廣木香　野赤豆　會皮　荷蒂　棗</p>

<h2>二、腸風</h2>
<p>（案1）徐，左。幼年間鼻血吐血，陰分早虧，虛熱內熾。現在熱迫大腸，腸風綿延，血下如射。每便堅澀，肛痔外凸。關係者在夢泄，精血兩傷，諸恙從此蜂集，神煩少寐，頭眩目花，驚悸不寧，脈見弦大。治以清養。</p>
<p>珠兒參　郁李仁　旱蓮　甜杏仁　烏芝麻　柏子仁　女珍　槐花炭　川石斛　地榆　制元參　蓮鬚　西瓜翠　松子仁　鮮藕肉（一兩）　卷竹心</p>
<p>（案2）左。早有痰血，臟熱移腑，傳為腸風，血下如注，大便艱澀。由陰傷氣，漸至納少，神疲氣逆肢倦。脈見弦滑，虛多邪少，治以和養。</p>
<p>珠兒參　地榆　料豆　生熟穀芽　烏芝麻　側柏　女珍　茯苓　川斛　白芍　炙草　新會　紅棗</p>
<p>（案3）左。便燥帶血，屬腸風為多，久則損及肝脾，形黃腹痛，脈見沉弦。擬以和養。</p>
<p>元生地　地榆　赤曲　茯苓　川斛　炒荊芥　料豆　炙草　白芍　扁柏　杜仲　會皮　荷蒂　紅棗</p>
<p>（案4）沈，左，四十二。陽明鬱熱，肝脾統臟兩為失司，以致氣陷為肛墜，營虛為腸風。脈息沉弦，舌苔微灰。嗜煙體氣陰兩傷，調理不可偏陰偏陽，治以和養。</p>
<p>黨參　赤曲　扁豆衣　訶子肉（一錢五分）　於術　地榆　炒椿皮　炒荊芥　元斛　白芍　丹參　炒扁柏　炒荷蒂　棗</p>
<p>復：腸風綿延，或輕或重，血下如水，甚則後重，脈見沉弦。陽明鬱熱，肝脾又失統臟，以致營不為守，再以和養。</p>
<p>於術　丹參　茯苓　椿皮　地榆　赤白芍（各一錢）　扁柏　扁豆衣　元斛　新會　炒荊芥　赤曲　荷蒂　棗</p>

<h2>三、痔血</h2>
<p>（案1）左。痔血受傷，營虛熱熾，陽明傳送無權，大便堅結，數天一行，行而不暢，脈見弦大，舌苔光紅。擬以清養。</p>
<p>珠兒參　旱蓮草　生當歸　地榆　火麻仁　黑料豆　白芍　制元參　瓜蔞仁　女珍　丹參　新會　松子肉（三十粒）</p>
<p>復：陽明鬱熱，痔血頻仍，大便每每艱行。脈息弦細，虛多邪少，治以清養。</p>
<p>洋參　旱蓮　川斛　丹參　烏芝麻　料豆　當歸　地榆　白芍　女珍　柏仁　新會　松子肉　紅棗</p>

<h2>四、便血</h2>
<p>（案1）左。痢久漸成便血，便之前後俱溢，晝夜六七行，腹痛裡急，脈見沉弦，形黃肢腫，應月枯少。能否得復，治以和養。</p>
<p>珠兒參　木神　椿皮　丹參　臟連丸　龍骨　赤曲　於術　白芍　會皮　地榆　香附　側柏　棗</p>
<p>（案2）劉，左。肢腿之病尚不見發，惟濕火內蒸，隨氣下陷，陰分已傷，脫肛類痔，便艱下血，病滋水交流。陽明濕火觸發，肝邪氣逆作嘔，上焦為患屬陽明胃府，下焦為患屬陽明大腸，邪熱俱在陽明，遂至雷龍失潛。頭脹頻仍，少寐多夢，納穀尚少，大便尚澀，所以左脈細弦，右脈弦大不靜。屬邪正相搏，治宜兼顧。</p>
<p>珠兒參　木神　半夏　白芍　元斛　丹參　新會　地榆　臟連丸　炒槐米　菊花　姜皮　側柏　竹茹</p>
<p>（案3）左。便血綿延，脫肛腹痛，脈息濡細。治以疏和。</p>
<p>黨參　香附　丹參　楂炭　白朮　木香　側柏　炮姜　赤曲　地榆　白芍　新會　荷蒂　棗</p>

<h2>五、泄瀉</h2>
<p>（案1）左。脘滿作瀉，腹痛肢倦。治以疏和。</p>
<p>羌活　雞蘇散　陳皮　川楝　防風　偏蘭　鬱金　茯苓　小樸　大腹　蔻仁　米仁　荷葉</p>
<p>（案2）孩。暑邪內蘊，風邪外束，寒熱而兼泄瀉，治以分疏。</p>
<p>防風　天水散　五穀蟲（一錢五分）　荊芥　麥芽　大腹皮　佩蘭　雞金　車前　荷葉　白扁豆花</p>
<p>（案3）右。久瀉未止，肝脾傷也。</p>
<p>白朮　大腹　川斛　香附　建曲　佩蘭　鬱金　茯苓　小樸　米仁　補骨　陳皮　荷葉　棗</p>
<p>（案4）孩。受涼傷中，洞泄無度，脈弦。擬以疏和。</p>
<p>於術　佛手　萆薢　大腹　建曲　佩蘭　澤瀉　米仁　小樸　連皮苓　雞金　會皮　扁豆花</p>
<p>（案5）左。泄瀉漸止，脘悶納呆，脈見沉細，屬半虛半實。擬以調中化邪。</p>
<p>白朮　香附　佛手　生熟麥芽　建曲　大腹絨　佩蘭　通草　小樸　半夏　煨木香　新會　荷葉</p>
<p>（案6）右。由血轉痢，由痢轉瀉，納呆，舌光，脈息沉弦。擬以和養。</p>
<p>白朮　佩蘭　丹參　白芍　楂炭　佛手　穀芽　澤瀉　川斛　苡米　茯苓　新會　扁豆花（七朵）　紅棗　荷蒂</p>
<p>（案7）左。久瀉不止，大腹膨滿，得食作脹。向有遺泄便溏，由陰傷氣，現在病寓中焦。脈象細弦，擬以調養。</p>
<p>白朮　煨木香　元斛　茯苓　志曲　車前　新會　米仁　香附　澤瀉　生穀芽　白芍　荷蒂　紅棗</p>
<p>（案8）右。久瀉不止，由脾及胃，胃納作脹，土衰關乎火弱，舌剝肢腫，咳嗆氣逆。脈見細弦，治以疏和。</p>
<p>於術　補骨　皮苓　粟殼　香附　鬱金　大腹　炙草　建曲　石蓮肉（炒，二錢）　新會　車前　伏龍肝　棗</p>
<p>（案9）右。生冷傷中，中焦積滯，腹部隱痛，便溏納呆，防轉為痢疾，脈來沉細。治以疏和。</p>
<p>香附　小樸　白蔻仁　通草　廣木香　佩蘭　米仁　鬱金　大腹　建曲　新會　茯苓　荷葉</p>
<p>（案10）右。洞泄無度，舌糙如苔，寒濕水毒，一時充斥陽明。擬以分泄。</p>
<p>茅朮　皮苓　大腹　車前　防風　廣藿　萆薢　澤瀉　小樸　建曲　佛手　新會　扁豆花（七朵）</p>

<h2>六、痰飲</h2>
<p>（案1）左。肺虛生痰，腎虛生飲，內擾咳嗽，綿延漸加氣怯，上下攝納無權，中焦亦失砥柱，納食欠旺，兩足浮腫，脈見沉弦。擬以和養。</p>
<p>於術　全福　蘇子　元斛　半夏　石英　款冬　杜仲　川貝　冬瓜子　白芍　新會　枇杷葉　銀杏肉</p>
<p>（案2）左。中氣不振，積痰生飲，阻遏升降道路，脘宇攻動，漉漉有聲，必得噯氣，然後鬆軟。脈見沉弦，治以調降。</p>
<p>於術　沉香曲　木神　香附　黨參　澄茄　遠志　新會　半夏　左金　白芍　小青皮　玫瑰露炒竹茹</p>
<p>（案3）朱，左。封藏早虧，水不涵木，木邪擾中，中焦積痰蓄飲，以致臍腹間似痞非痞，有時下陷轉而上升，即為胸次窒塞，又復凌心，心悸艱寐，迫腎為之夢遺。種種升降失司，陰陽造偏，頭眩耳鳴，鼻衄疝墜。脈見細弦，舌苔滑膩。虛中挾實，實即痰飲，擬交坎離而調木土。</p>
<p>於術　全福　瓦楞　半夏　代赭　夜交藤　秫米　丹參（鴨血拌）　白芍　洋參　芝麻　新會　竹二青</p>
<p>（案4）費，右。下虛生飲，氣虛生痰，喘腫多年，痰不從咳而化，飲不從便而達，以致肢面皆腫，先為脅痛，由絡脈氾濫肌膚，高年防氣不歸元。</p>
<p>茅朮皮　杏仁　蘇子　茯苓　防己　川貝　桑皮　米仁　萆薢　冬瓜子　新會　天仙藤　姜衣　陳麥柴</p>

<h2>七、脾胃</h2>
<p>（案1）王，左。能食無力，大便屢解，有時當脘作痛，痛行臀部，得一轉矢氣較松。脈見沉弦，治以調養。</p>
<p>黨參　半夏　益智　杜仲　白朮　左金　澄茄　香蟲　建曲　香附　白芍　新會　老檀香（四分）　姜竹茹</p>
<p>（案2）高，左。脘宇懊憹，得食每為上冒，頭痛肢酸，早有便溏，脾胃受傷。治以和降。</p>
<p>生白朮　小樸　全福　茯苓　枳實　鬱金　代赭　白芍　半夏　姜渣　瓦楞　新會　姜竹茹　白檀香</p>

<h2>八、瘧疾</h2>
<p>（案1）朱，左，十六。暑風客邪，內伏募原，營衛不和，致發瘧疾。少熱多寒，脘悶頭眩，脈見弦數。治以分泄，兼顧便堅腹痛，舌黃口渴。</p>
<p>蘇梗（一錢五分）　黃芩　益元散　桑葉　煨草果（四分）　青蒿　小樸　白薇　炒知母（一錢五分）　枳殼　苡米　佩蘭　荷葉　竹茹　陳皮　半夏</p>
<p>（案2）張，左。間日發瘧，寒少熱多，有時但熱不寒，脘悶頭痛，渴不多飲，便澀溺赤，脈見弦滑，舌苔黃膩。屬風暑痰濕四邪交併，表裡因之失宣，擬以疏和。</p>
<p>煨草果（八分）　青蒿　半夏　桑葉　炒知母　黃芩　川貝　白薇　制小樸　益元散　建曲　赤苓　荷葉　佛手</p>

<h2>九、類瘧</h2>
<p>（案1）劉，右，六十三。咳嗽痰薄，類瘧寒熱，脈見弦滑。治以分疏。</p>
<p>豆豉　小樸　白薇　益元散　防風　薄荷　茯苓　通草　前胡　佛手　米仁　新會　荷葉</p>
<p>復：類瘧較輕，仍咳嗽痰多，當脘滿悶，脈見弦滑。治以分泄。</p>
<p>半夏　桑葉　益元散　佛手　川貝　白薇　小樸　赤苓　前胡　米仁　建曲　通草　枇杷葉　洋佩蘭</p>
<p>復：類瘧已止，咳喘未除，脈見弦滑，治以疏和。</p>
<p>半夏　桑葉　茯苓　款冬　川貝　杏仁　通草　佩蘭　蘇子　前胡　會白　穀芽　枇杷葉</p>

<h2>十、間日瘧</h2>
<p>（案1）左。間日發瘧寒熱滿悶，咳嗽泛惡，脈見細弦。治以分疏。</p>
<p>豆卷　米仁　佛手　白薇　小樸　佩蘭　蔻仁　杏仁　建曲　會皮　通草　前胡　荷葉　姜竹茹</p>
<p>（案2）右。間日發瘧，寒少熱多，煩悶非常。表未解則汗不多，里不達則大便結，九竅不和，都屬胃病，胃不和則臥不安也。至於骨痛肢麻舌剝等症，且從緩治，姑擬以分疏先之。</p>
<p>豆卷　小樸　瓜蔞皮　木神　青蒿　志曲　枳殼　川斛　黃芩　佛手　佩蘭　通草　荷葉</p>

<h2>十一、三瘧</h2>
<p>（案1）徐，左。三瘧五年，勞動即發，寒熱從中，營衛受傷。脈見濡細，屬虛而非實，治以和養。</p>
<p>耆皮　當歸　半貝丸（三錢）　丹參　防風　銀柴　桑梗　川斷　白朮　白薇　新會　杜仲　棗　生薑（二小片）</p>
<p>（案2）左。勞倦成瘧，是為勞瘧。微寒微熱，盜汗納少，脈見濡細。擬和表裡，兼顧咳嗽。</p>
<p>耆皮　當歸　蘇子　茯苓　防風　銀柴　款冬　米仁　杏仁　白薇　會紅　通草　姜竹茹</p>
<p>（案3）左。三瘧陣亂。嘔瀉仍作，脈見沉弦。治以疏和。</p>
<p>半夏　鬱金　桂枝　大腹　建曲　蔻仁　白芍　茯苓　小樸　米仁　佛柑　新會　姜竹茹</p>

<h2>十二、瘧母</h2>
<p>（案1）左。瘧母攻脹，肢酸脘悶，脈見細弦。治以疏和。</p>
<p>焦茅朮　大腹　連皮苓　小樸　米仁　蔻仁　建曲　戈半夏（衝入三分）　新會　荷梗</p>
<p>（案2）左。瘧母內損，頭眩肢倦，便溏帶血，脈見細弦。恐其成勞。</p>
<p>生白朮　米仁　澤瀉　大腹　小樸　佩蘭　野赤豆　白芍　建曲　楂炭　佛手　新會　荷蒂　棗</p>

<h2>十三、狐疝</h2>
<p>（案1）左。狐疝出沒無常，少腹牽引作痛，脈見沉弦。治以疏和。</p>
<p>當歸　鹿角霜　香附　丹參　川楝　枸杞　茴香　荔核　香蟲　杜仲　白芍　橘核　絲瓜絡　焦茅朮</p>
<p>（案2）左。七疝中之狐疝，出沒無常，其聲嗚嗚然，屬肝腎內虛，氣為下陷，脈弦。治以和養。</p>
<p>黨參　香附　杜仲　會核　當歸　吳萸　甘杞　荔核　菟絲　白芍　桑梗　楂炭　絲瓜絡</p>

<h2>十四、血疝</h2>
<p>（案1）左。疝脹屢發，色紅而熱，七疝中之血疝，治以和養。一切內熱盜汗，口渴便艱，均須照顧。</p>
<p>左金丸　枳殼　橘核　香蟲　川楝　當歸　楂核　丹參　鱉甲　銀柴　青皮　白芍　絲瓜絡</p>

<h2>十五、沖疝</h2>
<p>（案1）左。沖疝下墜至囊，上衝嘔逆，沖甚欲厥，擬以溫養。</p>
<p>肉桂　木神　川楝　香附　白芍　當歸　九香　木香　沉香曲　杜仲　荔核　會皮　絲瓜絡</p>

<h2>十六、水疝</h2>
<p>（案1）左。水疝脹大出水，脈見濡細，治以疏和。</p>
<p>白朮　香附　鹿角霜　帶皮苓　半夏（姜炒）　吳萸　官桂　煨木香　建曲　白芍　甘杞　新會　青荷梗　棗</p>
<p>（案2）左，二十九。據述疝脹潰頭，流水鬱郁，大致水疝之象。治以疏和，兼顧寒熱。</p>
<p>茅朮皮　米仁　橘核　香附　枳殼　茯苓　荔核　小樸　萆薢　川楝　青皮　豆卷　荷葉</p>

<h2>十七、㿗疝</h2>
<p>（案1）左。疝氣兩月未止，恐成㿗疝。尾閭結核，亦屬濕痰，脈見細弦，治以疏和。</p>
<p>香附　當歸　荔核　枳殼　川楝　甘杞　夏曲　木香　九香　杜仲　新會　萆薢　絲瓜絡</p>
<p>（案2）左。右部睪丸堅結不和，漸成㿗象，惟目赤屢發。肝家素有鬱熱，一切過溫之藥似在禁例。脈見弦滑，治以清養。</p>
<p>左金丸　杜仲　川楝　洋參　當歸　桑寄生　楂炭　枳殼　丹參　白芍　會核　青皮　鱉血炒絲瓜絡</p>
<p>轉方：去左金丸，加沙苑。</p>

<h2>十八、腳氣</h2>
<p>（案1）腳氣疲軟，朝退暮重，少腹發麻，氣逆上升。脈見沉弦，再以通陽益氣。</p>
<p>西潞黨　生牛膝　菟絲　茯苓　生於術　木防己　北五味　白芍　安肉桂　車前　乾薑（蜜炙）　苡米　干松節（三錢）　桑梗（五錢）　磨沖沉香（一分）</p>
<p>（案2）左。腳氣屬脾腎兩虛，寒濕內滯。兩足浮腫，有上行之勢；兩便少行，最恐衝心犯胃，手指麻痹。治從和解，藉以通利機關。</p>
<p>白朮　防己　五加　茯苓　桂枝　萆薢　海桐　野赤豆　檳榔　會皮　澤瀉　天仙藤　姜衣（四分）</p>
<p>（案3）左。乾腳氣，兩足軟不能行，手亦發麻，頗有上升之勢，犯胃衝心皆能傳變。脈見沉細，急須調治。</p>
<p>桂枝（四分）　防己　小樸　五加　細辛（四分）　萆薢　牛膝　天仙藤　白朮　會皮　杜仲　當歸　姜衣（四分）　絲瓜絡</p>
<p>復：腳氣疲軟難行，兩手亦麻，脘悶納少，脈見細弦。屬脾腎致虛，風寒濕襲入絡脈，仍從溫養。</p>
<p>桂枝　防己　天仙藤　茄皮　檳榔　木瓜　海風藤　小樸　蘇梗　萆薢　半夏　會皮　杉木節（三錢）　絲瓜絡</p>
<p>（案4）左。腳氣將成，恐上升為變。脈見細弦，擬去寒濕。</p>
<p>制茅朮　防己　苡米　生牛膝　桂枝　萆薢　天仙藤　五加　白芍　木瓜　桐皮　新會　絲瓜絡</p>
<p>（案5）程，左，五十一。腳氣漸成，有升少降，少腹窒塞，手指發麻。塞濕之邪實少去路，二便又為失利，脈見沉弦，舌糙，急宜疏導。</p>
<p>焦茅朮　檳榔　川楝　獨活　防己　蘇梗　海桐皮　澤瀉　半夏　生膝　茄皮　全瓜蔞　地慄干　姜衣</p>
<p>（案6）左。腳氣暴起，兩足見腫亮，手麻發痙，有積水上衝之勢，脈浮弦。擬先開降。</p>
<p>桂枝　萆薢　連皮苓　生瓜蔞　葶藶　防己　桑皮　枳殼　杏仁　懷膝　新會　澤瀉　姜衣　陳麥柴</p>
<p>（案7）左。腳氣將升，痠軟不和，少腹、手指皆為發麻，恐其上衝為變。脈見沉細，治以和養。</p>
<p>獨活　當歸　生淮膝　木瓜　寄生　檳榔　五加皮　會絡　木香　蘇梗　防己　天水散（三錢）　絲瓜絡　杉木節（三錢）</p>
<p>（案8）左。足膝痠軟，神疲納少。治以疏和。</p>
<p>西羌活　防己　淮膝　半夏　香獨活　萆薢　杜仲　加皮　桑梗　天仙藤　晚蠶沙　會皮　加絲瓜絡</p>

<h2>十九、臌脹</h2>
<p>（案1）左。臌脹筋露臍平，囊莖皆腫，積水不化。治以分導。</p>
<p>桂枝　大腹　澤瀉　川楝　白芍　連皮苓　防己　車前　櫞皮　會皮　川椒目（八分）　黑白醜　磨沖沉香（一分）　地慄干　陳麥柴（三錢）</p>
<p>（案2）王，左，三十九。積濕化水，水泛為腫，腫勢漸升漸上，由足而腹而面，面為之浮，腹為之脹，關係又在小便不利。治以通降。</p>
<p>桂枝　腹皮　澤瀉　香附　白芍　皮苓　防己　建曲　櫞皮　會皮　椒目　萆薢　通天草　西砂仁</p>
<p>（案3）左。臌脹傷氣易治，耗陰者最不易調。腹臌臍平，兩便少行，脈左弦數，舌剝口渴。擬通關導水。</p>
<p>肉桂　川楝　水炒黃柏　雞金　白芍　淮膝　肥知母　丹參　建曲　茯苓　野赤豆　會皮　陳麥柴</p>
<p>（案4）右。肝脾內傷已成，臌脹兩便失利，上逆為咳，脈見細弦。治以和降。</p>
<p>肉桂　川楝　陳櫞　車前　白芍　淮膝　香附　杏仁　建曲　大腹　萆薢　黑白醜　陳麥柴</p>
<p>（案5）左。單腹脹屬脾胃，受傷不同，積水遏濕，通行即解，脈見沉弦。治以疏和。</p>
<p>香附　白朮　川楝　淮膝　陳櫞　枳實　九香　白芍　建曲　皮苓　歸鬚　會皮　野赤豆　陳麥柴</p>
<p>（案6）高，左，廿九。脘腹脹滿，甚至腎囊俱腫，氣急發嗆，三焦不能分化，防成臌脹。脈見細弦，治以疏和。</p>
<p>香附　白朮　大腹　半夏　陳櫞　小樸　澤瀉　米仁　建曲　皮苓　萆薢　新會　野赤豆　通天草</p>
<p>（案7）右。氣臌漸成，肝脾受傷，屬氣痹營虧。若兩便不走，恐膨滿日增。擬以通降。</p>
<p>香附　川楝　大腹　野赤豆　建曲　香蟲　澤瀉　萆薢　陳櫞　皮苓　白芍　新會　陳麥柴</p>
<p>（案8）左。臌脹受溫，溫則氣通逐水。脈見細弦，肝脾久傷。治以溫通。</p>
<p>於術　腹皮　澤瀉　野赤豆　熟附子　防己　淮膝　白芍　櫞皮　萆薢　椒目　新會　檀香（四分）　陳麥柴</p>
<p>（案9）左。肢腫腹滿，腫勢由下升上，咳嗆不爽，舌苔粉白，脈息濡細。治以溫通。</p>
<p>白朮　白芥子（一錢五分）　牛膝　葶藶　熟附子　川椒目　蘇子　茯苓　半夏　木防己　款冬　新會　砂仁</p>
<p>（案10）左。痞散成臌，大腹發熱，愈熱愈大，脈芤無度。陰傷氣痹，恐有不得了之勢。</p>
<p>於術　大腹　車前　野赤豆　鱉甲　皮苓　生膝　萆薢　建曲　陳櫞　白芍　新會　地慄干　絲瓜絡</p>
<p>（案11）左。水勢狂溢，腫脹漸成，膨滿腹大，囊腫色亮，氾濫之勢上及高原，氣喘有痰。脈息沉弦，擬通導溝渠。</p>
<p>川桂枝　櫞皮　澤瀉　杏仁　白芍　建曲　米仁　蘇子　葶藶　淮膝　茯苓　會皮　姜衣　麥柴</p>
<p>（案12）曹，右。腫脹之勢漸及四肢面部，胸次窒塞，大便艱澀。現在痰濕逗留，阻遏氣道，若小便不行，如何支持，急圖疏化。</p>
<p>桂枝　生膝　小樸　皮苓　白芍　澤瀉　半夏　杏仁　葶藶　炒瓜蔞　會皮　桐皮　麥柴　姜衣</p>
<p>（案13）沈，左。皮水屢發，溺閉即腫，腫勢上中下三焦俱到，脈見沉弦。治以通降。</p>
<p>茅朮皮　米仁　陳皮　防己　黃芩　滑石　冬瓜皮　澤瀉　皮苓　萆薢　杏仁　車前　荷梗</p>
<p>（案14）郁，左。表裡同病，臌脹外再有寒熱發喘；不納不便，如何支持。</p>
<p>茅朮皮　川楝　車前　小樸　黃芩　白芍　冬瓜皮　米仁　綿茵陳　建曲　大腹　萆薢　野赤豆　麥柴</p>
<p>（案15）顧，左，五十四。肝脾久傷，腹膨放後，納呆形黃，便多溺少。脈見細弦，治以疏和。</p>
<p>黨參　皮苓　香附　澤瀉　白朮　大腹　木香　赤豆　建曲　新會　香蟲　車前　紅棗</p>
<p>顧復：兩次放臌，腹滿雖平，肝脾未免受傷，形黃疲倦，納食不多，脈見細軟。再從和養。</p>
<p>黨參　茯苓　香附　生杜仲　於術　大腹　煨木香　陳櫞　建曲　新會　九香　車前　西砂仁　紅棗</p>

<h2>二十、噎膈</h2>
<p>（案1）左。未能辟穀登仙，格症但求進食。</p>
<p>高麗參須　木神　丹參　瓜蔞仁　法半夏　遠志　腹糧　煨益智　生當歸　白芍　香附　陳皮　竹茹　棗</p>
<p>（案2）左。陰耗陽結，謂之關格，隨食隨吐，更衣艱澀，攻補不受，大致氣與液兩虧，痰與飲用事。脈見細濡，調理為難。</p>
<p>吉林須　關虎肚　丹參　澄茄　宋半夏　戌腹糧　志曲　佛花　生當歸　生白芍　生穀芽　會皮　姜竹茹　棗</p>
<p>（案3）右。肝邪內擾，積飲蓄痰，阻遏脾胃升降氣道，穀食難下，吞酸吐沫，必得大便通行漸覺鬆動，屬上格下關之象。高年患此，必須調理，尤在頤養。</p>
<p>吉林須　虎肚　木神　澄茄　半夏　腹糧　遠志　白芍　左金丸　生當歸　丹參　會皮　姜竹茹</p>
<p>（案4）左。上格下關，謂之關格。所食無多尚欲吐出，吞酸吐沫，脘宇或痛或脹，更衣十餘日一行，糞如羊矢，脈左右沉濡。氣痹液耗，用藥不可偏陰偏陽，擬以和降調中。</p>
<p>吉林須　虎肚　木神　澄茄　宋半夏　腹糧　遠志　麥冬　川石斛　白芍　丹參　新會　竹茹　伏龍肝</p>
<p>（案5）李，左，三十四。關格數年，一飲一食皆難停留，必得吐盡後已，漸至氣久不能升降。現在陰液亦為枯槁，嘔甚見血，脘腹通連梗痛，脈六部細微。無六淫外感，亦無七情內發，昨晚形寒發熱，寒暖不調所致，擬調中降逆。</p>
<p>吉林須　全福　木神　姜半夏　川連（元米炒）　代赭　益智　丹參　蘇梗　瓦楞　志曲　會皮　姜竹茹　伏龍肝</p>
<p>（案6）左。隨食隨吐，名曰上膈，脈見細弦，治以通降。</p>
<p>左金丸　全福　虎肚　澄茄　半夏　代赭　腹糧　益智　當歸　建曲　白芍　木神　姜竹茹　棗</p>
<p>（案7）左。上格為嘔逆，下關為便閉，上下不和，由於中焦窒塞，當脘滿悶，時發懊憹。脈見弦澀，弦主陰耗，澀主氣痹，久延恐難調復。</p>
<p>左金丸　木神　虎肚　瓦楞　法半夏　遠志　戌糧　志曲　生當歸　丹參　白芍　會皮　竹二青</p>
<p>（案8）左。肝邪侮中，中有積飲，當脘作痛兼脹，吞酸吐沫，脈見細弦。中焦升降失調，厥陰遂為充斥，更衣不利，上格下關之勢。</p>
<p>吳萸　生當歸　戌腹糧　澄茄　川連　木神　白芍　益智　姜夏　丹參　新會　建曲　姜竹茹</p>
<p>（案9）右。上嘔不止，下便不利，是為關格，脈見沉弦。老年陰耗陽結，難許調復。</p>
<p>左金丸　木神　虎肚　沉香曲　生當歸　遠志　戌腹　新會　香附　丹參　白芍　姜夏　姜竹茹</p>

<h2>二十一、痢後</h2>
<p>（案1）張，左。昔年痢後受傷，久而不復，大便有溏有結，溏時每為帶血。營虛生風，氣虛生濕，風濕之邪外遊肌表，或寒或熱，或為發瘰。關係者肛門發麻，有時上升，可及遍體。脈見細弦，治以疏和。</p>
<p>耆皮　白朮　地榆（一錢五分）　豨薟（三錢）　防風　當歸　炒槐米（一錢五分）　梧桐花　寄生　丹參　炒椿皮（一錢五分）　側柏　紅棗</p>
<p>復：休息痢後，有時下血作瀉，由陽明垢滯，隨去隨生，以至肝脾受傷，生風挾濕，忽寒忽熱，遍身發麻。最慮者，上至巔頂，下至肛門。脈見細弦，治以和養。</p>
<p>防風　秦艽　丹參　冬瓜子　炒荊芥　白芍　茯苓　川斛　臟連丸　地榆　赤曲　新會　側柏</p>

<h2>二十二、囊漏</h2>
<p>（案1）艾，左，三十四。陽明、太陽之間，小腸之下，垢穢不能分化，當時滿腹攻痛，漸至大便鮮通，囊為出糞，年餘淹纏。脈見沉弦，擬分清降濁。</p>
<p>敗醬草（三錢）　生當歸　米仁　生草　川楝　新會皮　冬瓜子　荔核　瓜蔞仁　茯苓　洋參　白芍　黃絹（三寸一方，化灰沖服）</p>
<p>復：大便失行，舍正路而不由，陰囊膜破，糞即由此而行，脈見濡軟。證情淹纏，一時難復，擬以疏導。</p>
<p>通幽丸（三錢）　敗醬草　生當歸　青皮　火麻仁（三錢）　丹參　橘核　茯苓　西洋參（一錢）　白芍　荔核　蠶繭灰（一錢五分）　黃絹（三寸一方，化灰沖服）</p>
<p>通幽湯方：油當歸　升麻　桃仁　甘草　紅花　熟地　生地</p>
<p>煎成，用藥汁磨檳榔五分調服。</p>

<h2>二十三、尿血</h2>
<p>（案1）董，左。謹讀證情當是尿血，與血淋諸症有別。考此證多屬腑病，由小腸之熱瘀注膀胱，惟病久而由腑及臟，心與小腸，腎與膀胱，本關表裡，以故數年來溺血頻仍，血色不一，紫黑鮮紅，日夜無度。大致紫黑者出於管竅，鮮紅者隨溢隨下，精溺管異路同門，勢當混淆，甚至莖梗、毛際隱痛，或似精泄，或似溺迸。至頭眩目花，脅脹腰痠，亦為應有之義。心與肝同氣，腎與肝又同源，從中肝邪尤為之煽爍。用藥之義，腑瀉而不藏，臟藏而不瀉，極多牽制。照病處方，溫氣兼以潛陽，滋陰更須利竅，與中虛呃忒亦有照顧。</p>
<p>九制熟地（三錢）　生甘草　東白芍　吉林須（五分）　熟甘草　冬葵子　安南肉桂（四分）　鳳凰衣　木神　真西珀末（四分）　西赤芍　蓮鬚　亂頭髮（肥皂水洗，乙團）　黃絹（三寸一方，化灰衝入）</p>
<p>（案2）右。迸傷氣分，膀胱失司，不約又為不利，下竅發墜，每溺作痛，所下且有血絲，脈見沉弦。治以和養。</p>
<p>生綿耆　血餘炭　甘草梢（八分）　白芍　鳳凰衣　冬葵子　覆盆子　茯苓　小薊炭　桑螵蛸　石斛　絲瓜絡</p>
<p>（案3）江，右。五淋中之勞淋，勞傷氣迸，發為淋濁，赤白交下，每解痛苦非常。脈見沉弦，治以和養。</p>
<p>生綿耆　小薊炭　甘草梢　白芍　元生地　血餘炭　丹參　茯苓　鳳凰衣　蒲黃炭　側柏　會皮　絲瓜絡</p>
<p>（案4）左。高年陽盛陰熱，向來便血，今復血滲膀胱，漸成尿血，連發未止。脈見細數，治以清養。</p>
<p>洋參　木神　料豆　牡蠣　薊炭　龍骨　女珍　沙苑　白芍　石斛　旱蓮　丹參　藕汁（一小杯）　側柏</p>

<h2>二十四、淋濁</h2>
<p>（案1）王，左，四十。氣虛下陷，小便先為不利，繼以淋濁，遂至分化無權，其氣由前向後，更衣欲通不通，氣墜矢氣難轉。脈見細弦，舌苔黃白，擬以升補。</p>
<p>生綿耆（三錢）　炒黃柏　木神　米仁　炙升麻（四分）　知母　川斛　白芍　北柴胡（鱉血炒，四分）　覆盆　甘草梢（八分）　新會　辰燈心　栗子衣（二枚）</p>
<p>（案2）左。氣陷脫力，溲時彷彿精墜，發酸不禁，脈見濡細。擬以升補。</p>
<p>生綿耆　蓮鬚　木神　丹參　炙升麻　覆盆　牡蠣　夜交藤　北柴胡（鱉血炒）　白芍　川斛　新會　金櫻膏（三錢，沖）</p>
<p>（案3）左。精溺渾淆，小便不禁，且帶白垢。脈見弦滑，治以和養。</p>
<p>生綿耆　洋參　牡蠣　白芍　蓮鬚　木神　料豆　沙苑　覆盆　龍骨　女珍　陳皮　紅棗　金櫻膏</p>
<p>（案4）左。精溺未得分清，小便色濁，每解似有阻隔。脈見細弦，擬以清解。</p>
<p>洋參　木神　白苡米（鹽水炒）　料豆　蓮鬚　牡蠣　炒知母　女珍　白芍　川斛　丹參　雞肫皮　海參腸　紅棗</p>
<p>（案5）左，三十二。久則為淋，精溺竅兩屬受傷，溺為不禁，精為遺滑。脈見細軟，擬以和養。</p>
<p>綿耆　木神　鳳凰衣　杜仲　蓮鬚　龍骨　螵蛸　沙苑　覆盆　白芍　新會　牡蠣　棗</p>
<p>（案6）左。無感不發，久則為淋，管內漸痛。由於郁邪不宣，真陰已虧，治以清養。</p>
<p>洋參　沙苑　白朮　蓮鬚　黃柏　牡蠣　料豆　草梢　白芍　吞威喜丸（一錢）</p>
<p>以上屬氣虛淋症。</p>
<p>（案7）邢，左，三十六。初則為濁，繼則為淋。溺數微癢，熱毒未清，脈見細弦，治以清降。</p>
<p>萹蓄（一錢五分）　草梢　料豆　山梔　瞿麥（三錢）　萆薢　丹皮　黃柏　龍膽草（八分）　滑石　茯苓　通草　卷竹心（十根）</p>
<p>（案8）左。迸傷為淋，便痛莖腫，囊筋牽引。脈見細弦，治以和養。</p>
<p>萹蓄　萆薢　石葦　草梢　瞿麥　滑石　銀花　黃柏　龍膽　山梔　茯苓　新會　辰砂　拌燈心</p>
<p>（案9）左，廿九。濕熱下注，溺痛如淋，且帶浮腫，脈見細弦。治以通降，兼顧牙痛口疳。</p>
<p>萹蓄　石葦　海金　忍冬　瞿麥　滑石　連翹　桑葉　冬葵　赤苓　山梔　薄荷　荷葉　燈心</p>
<p>（案10）邢，左。初則為濁，溺痛發癢，郁邪未清。脈見細弦，治以通降。</p>
<p>萹蓄　丹皮　萆薢　黃柏　龍膽　銀花　米仁　知母　鳳凰衣　草梢　茯苓　通草　卷竹心</p>
<p>以上屬濕熱淋症。</p>

<h2>二十五、遺泄</h2>
<p>（案1）陳，左，三十四。脈稟六陽，陽充則陰不為守，久有遺泄，有夢漸為無夢。向春發而較勤，且有盜汗，種種心腎兩虧，治以清養。</p>
<p>洋參　木神　料豆　丹參　蓮鬚　龍骨　女珍　淮麥　白芍　川斛　牡蠣　新會　棗</p>
<p>（案2）左。遺泄有夢屬心，無夢屬腎，心虛於腎，夢泄頻仍，有時艱寐，有時驚悸，諸恙交集，多屬心腎兩虧。脈見弦滑，擬以清養。</p>
<p>洋參　辰茯神　料豆　連心麥冬　蓮鬚　龍骨　女珍　烏芝麻　白芍　夜交藤　牡蠣　新會皮　棗</p>
<p>（案3）朱。左。有夢屬心，無夢屬腎，遺泄陰傷，陽虛上冒，頭蒙口渴，心悸艱寐，肢體痠軟。治以和養。</p>
<p>洋參　木神　半夏　牡蠣　蓮鬚　龍骨　秫米　夜交藤　白芍　石斛　女珍　新會　辰燈心　金櫻膏　紅棗</p>
<p>（案4）姚，左。精關不固，夢泄復發，甚至小便不禁，脈見細弦。治以清養。</p>
<p>洋參　木神　料豆　丹參　蓮鬚　龍骨　女珍　沙苑　白芍　川斛　牡蠣　新會　棗</p>
<p>（案5）左。久有遺泄，一月必發數次。有夢者屬心，心虛於腎，腎不足，心陽偏旺。考牙乃骨余，關係於腎，心火上爍，挾風挾痰，屢屢牙痛，齦腫外突，或平或發，綿延經年，防成骨槽風。標實本虛，擬清上攝下。</p>
<p>洋參　杭菊　木神　川斛　蓮鬚　旱蓮　丹參　料豆　白芍　女珍　殭蠶　新會　鹽水　炒竹茹</p>
<p>（案6）程，左，三十四。外感漸清，諸恙輕減，惟心腎兩為不濟，肝主相火，躍躍欲動，艱寐稍平，仍關門不固，常常自遺。素有頭眩耳鳴，皆屬上盛下虛。脈見細弦，治以清養。</p>
<p>洋參　元精　桑螵　半夏　蓮鬚　木神　白芍　秫米　覆盆　龍骨　川斛　玳瑁　龍眼肉（二枚，內包川連二分，外滾金箔半張）</p>
<p>（案7）左。精溺管混淆，出口管內微痛，似淋非淋，牽連肝胃，脘宇滿悶，腹部鳴響，有時虛陽上升，頭亦為蒙，脈見細弦。治以和養。</p>
<p>生於術　蓮鬚　木神　半夏　牡蠣　覆盆　丹參　秫米　西砂仁　炙升麻　川斛　會皮　竹茹　金鎖固精丸（另吞，二錢）</p>
<p>（案8）左。著寒泛水，牽連脘脹，受熱鼻血，又復遺精，遂至心跳氣喘，神疲肢倦，脈見細軟。治以和養。</p>
<p>蒸於術　蓮鬚　龍骨　木神　牡蠣　覆盆　夏曲　夜交藤　川斛　白芍　丹參　新會　側柏　棗</p>
<p>朱丸方：潞黨參（三兩）　蓮鬚（一兩五錢）　木神（三兩）　沙苑（三兩）　蒸於術（一兩五錢）　覆盆（一兩五錢）　龍骨（一兩五錢）　五味（四錢）　制首烏（三兩）　桑螵（一兩五錢）　丹參（三兩）　陳皮（一兩）　生白芍（一兩五錢）　紫菀（一兩五錢）　半夏（一兩五錢）　甘草（四錢）</p>
<p>上藥不經火燥，曬乾磨末，水泛為丸。每服三錢，不拘早晚，開水送下。</p>

<h2>二十六、遺溺</h2>
<p>（案1）顧，左，十八。膀胱不納，每每遺溺，脈見細弦，再從丸劑調理。</p>
<p>炒黨參（三兩）　桑螵（一兩五錢）　木神（三兩）　升麻（四錢）　生耆（三兩）　菟絲（三兩）　龍骨（一兩五錢）　益智（八錢）　覆盆（一兩五錢）　白芍（一兩五錢）　山藥（一兩五錢）　雞肫䏶（不落水，淨，十具）</p>
<p>（案2）左。遺溺頻仍，稟體不足，膀胱不約，擬以和固。</p>
<p>生於術　桑螵　蓮鬚　益智　牡蠣　菟絲　烏藥（八分）　夏曲　龍骨　料豆　丹參　新會　加紅棗</p>

<h2>二十七、溲數</h2>
<p>（案1）右。肝邪為熾，溺數且痛，尊年有虛為多，不外三陰內虛，八脈鬱熱。現在薄有外感，脈見細弦，治以分泄。</p>
<p>洋參　料豆　鳳凰衣　木神　血珀末（三分）　女珍　草梢　遠志　細生地　元斛　銀柴胡　新會　青黛　燈心（十寸）</p>
<p>（案2）右。本有痛經，現在小溲頻數，脈見細弦，擬以升補。</p>
<p>綿耆　木神　桑螵（蜜炙）　會皮　柴胡（醋炒）　龍骨　鳳凰衣　香附　當歸　覆盆　杜仲　丹參　紅棗</p>
<p>（案3）左。小溲迸痛，久為不禁不約，溺數無度。現在脈沉，能否支持。</p>
<p>綿耆　川楝　菟絲　料豆　鳳凰衣　木神　益智　女珍　生白芍　丹參　沙苑　新會　荷蒂　棗　絲瓜絡</p>
<p>復：溺數無度，臥著即流，不特膀胱為患，屬腎失關鍵。</p>
<p>綿耆　益智　沙苑　夜交藤　覆盆　木神　白芍　夏曲　菟絲　丹參　川楝　新會　棗　荷蒂　沖沉香（一分）</p>

<h2>二十八、癃閉</h2>
<p>（案1）左，十三。癃閉有根。近發較甚，每溺痛而不利。脈見細弦，治以通降。</p>
<p>萹蓄　干蟋蟀（一對）　草梢　淡竹葉　瞿麥　海金沙　梗通草　澤瀉　冬葵　赤苓　滑石（硃砂拌）　車前　荸薺干　燈心</p>
<p>（案2）左。膀胱氣迸，小便不利，防成癃閉。</p>
<p>萹蓄　香附　草梢　炒米仁　冬葵　川楝　梗通　澤瀉　萆薢　茯苓　會皮　車前　砂仁　地慄干</p>
<p>（案3）左。氣迸受傷，少腹作脹，小溲不利，防成癃閉。</p>
<p>萹蓄　佛手　梗通　生膝　冬葵　九香　茯苓　車前　香附　草梢　澤瀉　新會　砂仁</p>

<h2>二十九、陽亢</h2>
<p>（案1）王，左，四十一。示及心煩足軟，目赤顴紅，盜汗頻仍，小溺數解，舌苔少液，脈象見弦。肝邪者，尤在陽剛易舉，有時泄精。考精藏於腎，汗屬於心，心腎之陰不足，虛陽有升少降，諸恙因之蜂焦，擬以清養。至滋膩峻補，黴令不甚相宜，是否即候政行。</p>
<p>洋參　木神　寄生　丹參　蓮鬚　龍骨　料豆　白芍　覆盆　牡蠣　女珍　淮麥　紅棗</p>
<p>（案2）俞，左，十五。少年以精血為寶，早有遺泄，又為吐血，精血兩傷，以致虛損之象。病情紛沓，頭痛發眩，耳聾面麻。關係者，龍雷不熄，陽剛發動，即為不固，咳嗽亦然。惟虛證而見實脈，若亢陽不潛，真陰何以得復？擬以清養，並調胃納。</p>
<p>沙參　木神　夏曲　元斛　旱蓮　蓮鬚　米仁　白芍　女珍　覆盆　淮麥　會白　加竹茹、紅棗</p>

<h2>三十、陽痿</h2>
<p>（案1）顧，左。腎為作強之官，心為濟之，肝為輔之，始得舉而能堅，堅而能久，全仗關門之固。脈見細弦，擬固攝為要，補陽助火之藥皆在禁例。</p>
<p>洋參　淨鎖陽（一錢五分）　夏曲　桑螵蛸　覆盆　抱茯神　丹參　南燭子　淫羊藿（一錢五分）　花龍骨　牡蠣　會皮　沖金櫻膏　吉林須（另煎衝入）</p>
<p>又丸方：潞黨參（三兩）　木神（三兩）　桑螵（一兩五錢）　鎖陽（一兩五錢）　生於術（三兩）　龍骨（一兩五錢）　綿耆（三兩）　枸杞（一兩五錢）　首烏（一兩五錢）　沙苑（三兩）　陳皮（一兩）　萸肉（一兩五錢）　元金斛（三兩）　菟絲（一兩五錢）　淫羊藿（一兩五錢）　白芍（一兩五錢）</p>
<p>上藥不經火炒，曬燥磨末，水泛為丸。每服三錢，不拘早晚，開水送下。</p>

<h2>三十一、便結</h2>
<p>（案1）高，右，五十八。氣痹液枯，大便燥結，四、五、十日一行。脈見細弦，痛勢上行後腰前腹，治以和養。</p>
<p>火麻仁　柏子仁　生首烏　川楝　郁李仁　杏仁　淡蓯蓉　茯苓　生當歸　瓜蔞仁　白芍　新會　松子肉</p>
<p>（案2）右。營陰素虧，虧則生熱，大腸為津液之腑，遂為燥結難行，每每五六日一解，解時脫而外翻，脈息細滑。懷麟佐脾胃司胎，擬以清降。</p>
<p>洋參　臟連丸　炒槐花　寄生　麻仁　當歸　炒地榆　女珍　郁李　蔞皮　元斛　會皮　松子肉</p>
<p>（案3）右。稟體陰虧，鬱火蒸痰，痰擾於肺，肺失清肅，咳嗆綿延；火迫於腸，腸失通潤，更衣艱澀。肺與腸本為表裡，以致上下見證相因而發。脈見弦滑，擬以清降。</p>
<p>沙參　麻仁　冬瓜仁　全福　川貝　郁李　蛤殼　石英　甜杏　蔞仁　燕根　會白　枇杷葉　沖肺露</p>
<p>（案4）汪，右。溫邪先受，發於產後。當時寒熱厥逆，疹瘡俱發，現在脘嘈頻仍，心悸怕繁，更衣四五日一行，素體血熱多痰。脈見細弦，治以清養。</p>
<p>沙參　杏仁　料豆　木神　麻仁　元斛　女珍　丹參　柏仁　白芍　杭菊　蛤殼　加松子肉（三十粒）</p>
<p>通大便方附後：杏仁　蔞仁　麻仁　郁李仁　柏仁　黑芝麻　單桃仁</p>
<p>諸味有殼去殼，有衣去衣。</p>

<h2>三十二、脬墜</h2>
<p>（案1）潘，右，十八。產虛不復，咳嗽屢發，脬墜溺數。早有便血，脈見細澀，肢腰痠楚，經來腹痛。治以和養。</p>
<p>綿耆　木神　覆盆　香附　升麻　丹參　寄生　炙烏鰂　夏曲　杜仲　白芍　新會　荷蒂　棗</p>
<p>又接方：沙參　阿膠　丹參　醋炒柴胡　綿耆　夏曲　木神　白芍　升麻　香附　覆盆　會皮　荷蒂　紅棗</p>

<h2>三十三、魚口</h2>
<p>（案1）徐，左，三十四。觸毒起因，先發袖口疳，每溺作痛。現在左胯腫痛，將成魚口，脈見滑大。瘡兼病發，身熱焦灼，口渴便閉，擬以通降。</p>
<p>萹蓄　銀花　赤苓　澤瀉　瞿麥　連翹　歸鬚　桑葉　白薇　西赤芍　滑石　海金沙　荷葉　辰燈心　隨服青麟丸（三錢）</p>

<h2>三十四、楊梅瘡</h2>
<p>（案1）顧，左。毒瘡陰分受傷，餘熱未清，煽爍肝腎，目為肝竅，耳為腎竅，以致兩耳發鳴，左甚於右，兩目發赤，左及於右。脈見數大，擬以清化。</p>
<p>洋參　羚羊　料豆　草決　龜板　杭菊　女珍　新會　石決　桑麻丸　木神　生草　荷邊（一圈）</p>
<p>（案2）王，左。楊梅風逢骱痠痛，屈伸不利，脈見細數。治以清養。</p>
<p>煅石決　當歸　木瓜　火麻仁　元武版　白芍　防己　炒知母　羚羊　威靈仙　秦艽　會皮　絲瓜絡</p>
<p>（案3）左。楊梅風肢酸神疲，郁邪入於肝腎，營氣兩傷，內風煽爍。治以和養。</p>
<p>羚羊　當歸　萆薢　炒杜仲　寄生　秦艽　木瓜　石決　龜板　威靈　白芍　會皮　絲瓜絡</p>

<h2>三十五、耳聾</h2>
<p>（案1）王，左，十五。稟體內熱，挾風鬱濕，清竅矇蔽，右耳失聰，有時流膿，有時痛脹。脈見弦滑，擬以疏和。</p>
<p>杭菊　料豆　細菖蒲（八分）　米仁　桑葉　女珍　炒天蟲（三錢）　雞蘇散　青蒿子　川斛　路路通（一錢五分）　新會　青蔥管（五寸）</p>
<p>（案2）何，左，廿一。風邪挾濕，兩耳為聾。脈見沉弦，治以和養。</p>
<p>杭菊　路路通　元精石　生白芍　桑葉　鉤藤　大力子　茯苓　細菖　蔓荊子　陳皮　白蒺藜（去刺）　荷邊　青蔥管</p>
<p>（案3）左。右耳失聰，有時雷鳴，屬內虛挾濕。治以和養。</p>
<p>桑葉　魚腦石　木神　川貝　芝麻　白蒺藜　遠志　路路通　菖蒲　鉤藤　白芍　料豆　荷葉</p>
<p>以上乃耳鳴屬實者。</p>
<p>（案4）朱，左，三十八。頭蒙漸減，耳仍鳴響，脈見弦滑，治以清養。</p>
<p>元精石　木神　甘杞　白蒺藜　白芍　龍骨　菊花　潼蒺藜　料豆　新會　丹參　杏仁　荷邊</p>
<p>（案5）王，左，三十四。下疳受傷，肝腎之陰不足，耳為腎竅，肝陽上擾，頭部鳴響，兩耳漸為失聰。脈見弦滑，治以清養。</p>
<p>洋參　料豆　木神　龜板　元精　女珍　貝齒　桑葉　白芍　菊花　新會　芝麻　洋青鉛</p>
<p>（案6）朱，右，四十七。頭痛多年，漸致耳鳴目花，頸項牽引。木旺者必侮土，有時脘痛納呆。脈見沉弦，治以和降。</p>
<p>元精　木神　杭菊　杜仲　白芍　龍齒　雙鉤　佛柑　半夏　寄生　白蒺藜　新會　荷邊　絲瓜絡　青鉛</p>
<p>以上耳鳴響屬虛者。</p>

<h2>三十六、耳聤</h2>
<p>（案1）周，右。五聤者，膿分五色，總名謂之耳聤。現在並無血出，青膿、白膿交溢，腦髓受傷，肝陽為熾，漸至頰車，閉而難開，頸項頭目皆牽引為痛，清空之虛難於著枕，脈見細弦。體本豐腴，內痰與內風有升少降，擬以鎮養。</p>
<p>洋參　木神　潼蒺藜　白芍　杭菊　龍齒　白蒺藜　象牙屑　魚腦石　丹參　殭蠶　料豆　荷邊</p>
<p>（案2）周，右。耳聤溢血，血止又復溢膿，膿薄如水，或多或少，以致清空受傷，頭部鳴響，兩額作痛，牽連諸虛，喉痹哽痛，脘悶納少，有時腹痛，有時便溏。脈見弦滑，治以和養。</p>
<p>洋參　白芍　象牙屑　白蒺藜　杭菊　木神　貝母　廣橘葉　魚腦石　龍齒　金斛　合歡皮　荷邊　橄欖核（一錢五分）</p>

<h2>三十七、耳菌</h2>
<p>（案1）孫，左。耳菌潰爛，膿血交溢，久防失聰，脈見細弦。治以清化。</p>
<p>石決明　桑葉　炒川柏　赤苓　杭菊　連翹　炒澤瀉　滑石　炒天蟲　炒丹皮　炒米仁　會皮　卷竹心</p>

<h2>三十八、目疾</h2>
<p>（案1）左。兩目蒙赤，屬肝風所致，擬以鎮養。</p>
<p>石決明　穀精草　連翹心　白蒺藜　桑葉　秦艽　元精石　鉤藤　青葙子　夜明砂　料豆　蕤仁霜　辰燈心　荷邊</p>
<p>（案2）左。目屬肝竅，眼眶上下發紅，屬脾濕肝風所致。脈象細弦，治以清泄。</p>
<p>沙參　川斛　料豆　丹參　桑葉　秦艽　女珍　米仁　草決明　新會白　白芍　茯苓　卷竹心（三十根）　荷葉</p>
<p>（案3）左。頭痛未止，目仍蒙赤，脈見細滑。擬從熄養。</p>
<p>石決　木神　元精　生地　雙鉤　桑葉　龍齒　草決　料豆　胡麻　杭菊　白蒺藜　白芍　荷邊</p>

<h2>三十九、咬牙疳</h2>
<p>（案1）陳，右。咬牙疳滿口腐爛，並有寒熱。治以分泄。</p>
<p>豆豉　大力　銀花　桑葉　芥穗　防風　薄荷　殭蠶　生草　荷葉</p>
<p>（案2）趙，左。咬牙疳滿口腐爛，兩腮痛脹，脈見浮滑。溫毒客於上焦，治以清泄。</p>
<p>豆豉　大力　連翹　射干　桑葉　荊芥　銀花　防風　薄荷　殭蠶　象貝母　通草　荷葉</p>

<h2>四十、牙疳</h2>
<p>（案1）左。腿部青色，退而未盡。現在牙疳腐爛或輕或重，總未平復。脈見數滑，舌滑膩，擬清陰而化濕熱。</p>
<p>洋參　杭菊　茯苓　料豆　川斛　南花粉　綿茵陳　生苡米　二至丸　肥知母　會絡　防己　白茅花　白燈心</p>

<h2>四十一、舌疳</h2>
<p>（案1）馮，右，三十一。營陰不足，氣火有餘，中焦積濕與火互擾，煽爍陰液，舌上似疳非疳，脫破作痛。屬無外感之邪，由內因之熱。</p>
<p>洋參　黃芩　金斛　會白　女珍　茵陳　翹心　生草　料豆　米仁　茯苓　通草　鮮蘆根（去節，八錢）</p>

<h2>四十二、重舌</h2>
<p>（案1）左。重舌形小而尖，現在舌底脹大，屢破涎血，浮胖時平時作，久恐成為郁毒。堅結翻大，即屬難治。早有腹膨作瀉，轉而上擾心脾為患，挾濕火內燃，治以宣化。</p>
<p>沙參　杏仁　桑葉　丹參　天竹黃　川貝　淡竹葉　會白　瓦楞　冬瓜子　白芍　茯苓　枇杷葉</p>
<p>復：痰色屢破屢結，血水或裹痰涎，心脾部位無非鬱熱蒸痰。脈息細弦，治以和養。</p>
<p>洋參　翹心　木神　生草　天竹黃　象貝　遠志　綠豆衣　瓦楞　料豆　白芍　會皮　枇杷葉</p>

<h2>四十三、牙宣</h2>
<p>（案1）高，左，十八。稟體虛熱，牙宣溢血，旋平旋覆，寒熱頭疼，有感即來。脈見細弦，擬以疏和。</p>
<p>洋參　旱蓮　桑葉（蜜炙）　白蒺藜　料豆　元斛　杭菊　茯苓　女珍　白芍　雙鉤　會皮　竹心　荷葉</p>
<p>（案2）右。營陰不足，氣火有餘，心肝兩經燔灼，陽明鬱熱，牙宣半年，諸虛雜出，脘脹發嘈，頭蒙艱寐，脈見細弦。急宜調理牙宣，以冀血減，則諸病皆除。</p>
<p>洋參　旱蓮　桑葉　綠萼梅　料豆　元斛　木神　炒蔞皮　女珍　白芍　龍齒　丹參　藕節　紅棗</p>
<p>（案3）宋，右，二十。牙宣連年，陽明鬱熱，肝風為之上擾，頭髮眩暈，脘悶心悸。脈見細弦，治以清養。</p>
<p>沙參　元斛　杭菊　佛花　料豆　丹參　雙鉤　玉蝴蝶　旱蓮　白芍　白蒺藜　會白　藕節　白茅花</p>

<h2>四十四、鼻衄</h2>
<p>（案1）右。陽絡受傷，鼻衄狂溢。薄而有紅者，屬熱為多。脈見細弦，治以清降。</p>
<p>沙參　池菊炭　白芍　茜根　茅花　膝炭　會絡　側柏　三七　丹參炭　炒荊芥　旱蓮　焦藕節</p>
<p>（案2）左。陽絡受傷，鼻衄傾注，甚至痰中亦帶，脈見細弦，不加咳嗽，總可調復。</p>
<p>沙參　菊炭　降香　白芍　茅花　膝炭　鹿銜　會絡　三七　丹參炭　仙鶴　杏仁　藕節　絲瓜絡</p>
<p>（案3）趙，左。鼻衄狂溢，營傷氣痹，兩脅作脹，當脘發迸。脈見沉弦，擬以和養。</p>
<p>降香　仙鶴　歸鬚　桑葉　全福　丹參　白芍　杏仁　猩絳　膝炭　茯苓　會絡　加絲瓜絡、藕節</p>

<h2>四十五、鼻淵</h2>
<p>（案1）左。鼻衄屢發，洋人所謂傷腦氣筋也。</p>
<p>桑葉　杏仁　杭菊　料豆　茅花　川貝　荊芥　通草　腦石　紫菀　白芍　會皮　枇杷葉　紅棗</p>
<p>（案2）高，右。鼻疳復發，並溢清水，鼻骨痠麻。考鼻為肺竅，由於肝邪爍肺，肺失清肅。脈見細弦，擬肝肺兩調。</p>
<p>沙參　嫩辛夷　杏仁　茯苓　桑葉　魚腦石　半夏　料豆　茅花　白芍　川貝　新會　枇杷葉　竹心</p>
<p>（案3）殷，左。鼻淵復發，風邪挾濕，上蒸清竅。治以清養。</p>
<p>沙參　元金斛　薄荷　山梔　辛夷　炒川柏　鉤藤　生草　魚腦石　茯苓　丹皮　綠豆衣　枇杷葉　紅棗</p>
<p>復：鼻淵稍減，咳嗽有痰，頭蒙腰楚，脈見細弦。治以清降。</p>
<p>洋參　山梔　川貝　鉤藤　辛夷　知母　益元散　通草　魚腦　花粉　生草　會皮　枇杷葉　荷邊</p>

<h1>卷下</h1>

<h2>一、咽喉</h2>
<p>（案1）張，左。喉閉較通，蒂丁未曾收斂，肝肺不和。脈見細弦，鬱熱尚未清楚，汗出津津，擬從和養。</p>
<p>洋參　杏仁　川斛　橄欖核　燕根　川貝　茯苓　生草　冬蟲　蛤殼　白芍　新會　枇杷葉　棗</p>
<p>（案2）左。將成喉痹，咽哽音嘶，脈見弦滑。治以和養。</p>
<p>沙參　柿霜　淡秋石　蜜桑葉　杏仁　蛤殼　茯苓　橄欖核　川貝　瓜蔞仁　白芍　冬瓜子　沖枇杷膏（三錢）</p>
<p>（案3）夏，左，二十九。疙瘩紅腫，肺腎陰傷，鬱熱挾痰，為之上下不攝，甚至溺多色黃，夜寐不寧，龍雷之勢有升少降，夏令與病不合，恐失血失音。脈見細弦，急宜調護。</p>
<p>沙參　柿霜　白歸鬚　茯苓　杏仁　燕根　料豆　生草　川貝　元參　白芍　會皮　沖雞子清（一枚）</p>
<p>（案4）張，左。濕去熱存，陰分受傷，咽喉為之痛哽，得飲沖鼻，肺陰傷而蒂丁病。擬以清降。</p>
<p>沙參　柿霜　茯苓　蜜桑葉　杏仁　全福　通草　橄欖核　川貝　代赭　新會　冬瓜子　枇杷葉</p>
<p>（案5）右。喉痹將成，頭眩肢麻，病情太多。治以清泄。</p>
<p>杏仁　大黑豆　蜜桑葉　川斛　川貝　女珍　杭菊　白芍　柿霜　花粉　新會　生草　枇杷葉</p>
<p>（案6）張，左，四十四。失血後咳，肺陰大傷。咽為外候，且哽且痛，漸成喉痹。脈見細弦，治以和養。</p>
<p>沙參　柿霜　冬蟲　石斛　甜杏　全福　元參　冬瓜子　川貝　石英　蛤殼　白芍　沖雞子清（一枚）　棗</p>

<h2>二、失音</h2>
<p>（案1）李，左，六十六。示及咳嗽略減，痰多而薄，咽喉作痛，吃緊尤在失音。諸證起鬱怒之後，顯系肝邪刑肺，肺失清肅。考發音之源有三，心為其主，腎為其根，肺為其戶也。失音之證有二，暫則為金實無聲，久則為金破不鳴也。如現在病僅匝月，暫而非久，當是金實為多。實非外邪之謂，由向來嗜飲，痰與熱從內而生，乘肝之升，上郁肺臟，音戶遂為失宣。擬清養肝肺以和本，分化痰熱以治標，錄方即候政行。</p>
<p>桑葉　扎馬勃　南沙參　蟬衣　川貝　杭菊　橄欖核　冬瓜子　蛤殼　杏仁　茯苓　枳椇仁　枇杷葉　沖肺露　茅根肉（去心，三錢）　蘆衣（一方）</p>
<p>（案2）左。嗜飲傷肺，痰熱內阻，咽為之外候，痰擾為腫，熱熾為哽，將成喉痹。脈息弦滑，擬以清化。</p>
<p>桑葉　杏仁　扎馬勃　炒淮膝　川貝　冬瓜子　茯苓　南沙參　蛤殼　杭菊　橄欖核　枳椇仁　荸薺（去皮，二枚）　漂淡海蜇（一兩）</p>
<p>（案3）楊，左。治咽紅髮哽，脈息浮弦。</p>
<p>桑葉　象貝　蟬衣　南沙參　杏仁　蔞仁　馬勃　杭菊　蛤殼　茯苓　金果欖　山豆根　枇杷葉</p>
<p>以上金實無聲者。</p>
<p>（案4）王，左。咳嗽綿延，咽哽發嘔，音嘶痰少，脈見細弦。陰傷氣痹，治以和養。</p>
<p>北沙　耆皮　全福　杏仁　柿霜　冬蟲　石英　會白　百藥煎（包，八分）　川貝　白芍　生草　枇杷葉　棗</p>
<p>（案5）沈，左。咳嗽失音，虛而非實，屬金破不鳴，脈見細弦。肺腎兩為失司，音之根、聲之戶受傷非淺，擬以和降。</p>
<p>沙參　杏仁　蔞仁　麥冬　綿耆　川貝　薤白　百合　柿霜　茯苓　蛤殼　白及片（一錢五分）　枇杷葉　生竹茹　蘆衣　沖肺露</p>
<p>以上屬金破不鳴者。</p>

<h2>三、癇（風痰）</h2>
<p>（案1）俞，左，五十四。風痰互擾，肢骱抽搐，面麻舌強，甚則神迷跌僕，屬五癇之一。脈弦且滑，治以熄化。</p>
<p>杭菊　白蒺藜　木神　竹瀝夏　殭蠶　雙鉤　遠志　丹參　梧桐花　膽星　寄生　全蠍（去毒，四分）　水炒竹茹　絲瓜絡</p>
<p>復：癇厥有根，不發時舌亦為強，肢麻頭，脈見弦滑。再從熄風化痰。</p>
<p>杭菊　菖蒲　木神　竹瀝夏　殭蠶　雙鉤　遠志　天竹黃　梧桐花　膽星　寄生　路路通　絲瓜絡　沖功勞葉露（三錢）</p>
<p>（案2）徐，左，十。癇厥有根，發時神迷手痙，目瞪口呆，喉似曳鋸，脈來弦滑。當熄風化痰，以冀除根。</p>
<p>青礞石　細菖　木神　蒺藜　杭菊　雙鉤　遠志　路路通　殭蠶　膽星　龍齒　新會　竹二青</p>
<p>（案3）王，左，十八。豬癇屢發，喉鳴痰響，項斜肢痙，脈見細弦，從中驚痰入絡。急擬開降。</p>
<p>礞石　雙鉤　木神　竹瀝夏　杭菊　膽星　龍齒　白芍　細菖　珠母粉　丹參　會皮　洋青鉛　炒竹茹</p>

<h2>四、癇（不寐）</h2>
<p>（案1）徐，左。癲癇復發，仍言語喃喃，有時默默，徹夜不寐，脈見細弦。屬痰熱內蒙，機關失利，治以鎮養。</p>
<p>磁石（辰砂拌）　木神　膽星　石決　宋夏　遠志　夜交藤　白芍　秫米　丹參　玳瑁（八分）　會皮　玫竹茹　洋青鉛</p>
<p>復：界乎癲癇之間，有根屢發，發則神迷喉鳴，言語反常，屬痰邪矇蔽機關，脈弦滑。擬鎮養，先冀艱寐得和。</p>
<p>磁珠丸（煎入）　木神　膽星　杭菊　半夏　遠志　夜交藤　白芍　秫米　丹參　珠母　會皮　二竹茹</p>

<h2>五、癇厥</h2>
<p>（案1）鄭，左，十四。癇厥不平，輕發神志模糊，重發手足顫動，一日數十次，甚至身熱胃呆。脈息弦細，治以鎮養。</p>
<p>羚羊　木神　玳瑁　洋參　石決　珠母　龍齒　會皮　杭菊　桑葉　膽星　細菖　白蒺藜　雙鉤　白芍　竹茹　鐵花</p>
<p>又末服方：珠粉（一分）　犀黃（五釐）　琥珀（二分）　辰砂（一分）　川貝（四分）　天竹黃（二分）</p>
<p>上味共研細末，每服二分，竹瀝夏一兩，再加開水沖服。</p>

<h2>六、癲</h2>
<p>（案1）金，左，四十二。陽並於陰為癲。癲象有根，每發神呆目瞪，當脘懊憹，言語亦為錯落。脈見弦滑，擬以開降。</p>
<p>半夏　木神　路路通　杭菊　細菖　遠志　會皮　白芍　膽星　丹參　炒當歸　炒枳實　炒竹茹　龍虎丸（一丸，另沖服）</p>
<p>（案2）右。治癲症將成，神呆不語。</p>
<p>半夏　木神　礞石　路路通　膽星　遠志　天竹黃　會皮　細菖　丹參　殭蠶　開口椒（八分）　竹茹（玫炒）</p>
<p>（案3）範，左。癲厥屢發，口吐白沫，手痙目瞪，痰邪入絡，心陰不足，肝火有餘，脈見弦數。擬以清降。</p>
<p>洋參　木神　白芍　遠志　膽星　龍齒　半夏　丹參　細菖　元精　秫米　新會絡　絲瓜絡　路路通　荷邊</p>

<h2>七、頭痛</h2>
<p>（案1）張，左，三十四。冷水洗面已近月餘，遂致寒傷於腦，頭痛不已。治以分解，兼顧脘悶肢酸。</p>
<p>防風　蔓荊子（一錢五分）　米仁　佛手　北細辛（四分）　佩蘭　小樸　建曲　香白芷（四分）　雞蘇散　半夏　會皮　荷葉</p>

<h2>八、河白</h2>
<p>（案1）左。治寒熱食葷，肢腹浮腫，將成河白。</p>
<p>防己　車前　大豆卷　通草　紫浮萍（一錢五分）　澤瀉　防風　野赤豆　連皮苓　萆薢　建曲　會皮　地慄干　陳麥柴</p>
<p>（案2）張，左，五歲。肢腹浮腫，將成河白，急宜分疏。</p>
<p>防己　澤瀉　米仁　川桂枝　浮萍　萆薢　地枯樓（三錢）　建曲　連皮苓　防風　通草　赤豆　地慄干</p>
<p>（案3）範，左，五歲。寒濕互擾，幼年謂之河白，又名腫脹。脈見細弦，治以疏導。</p>
<p>白朮　川楝　陳櫞皮　粉豬苓（一錢五分）　枳實　白芍　車前　澤瀉　建曲　會皮　萆薢　香附　砂仁　地慄干</p>

<h2>九、黃疸</h2>
<p>（案1）孫，左，廿七。黃疸漸成，形黃脘悶，脈見細弦。治以疏和。</p>
<p>焦茅朮（一錢五分）　米仁　炒蔞皮　川斛　炒黃芩　佩蘭　新會　防己　細茵陳　半夏　茯苓　萆薢　竹茹</p>

<h2>十、汗</h2>
<p>（案1）左。自汗盜汗久而未止，脈見細弦。治以固養。</p>
<p>耆皮　木神　秦艽　夏曲　防風　龍骨　鱉甲　丹參　麻黃根（一錢五分）　牡蠣　白芍　會皮　淮麥　棗</p>

<h2>十一、損病（龜胸）</h2>
<p>（案1）何，左，十六。龜胸屬於損病，潛滋暗長，日後背亦發彎。內虛內熱，擬以清養。</p>
<p>青蒿子　鱉甲　雞金　會絡　寄生　建曲　秦艽　當歸　川斛　白芍　茯苓　知母（去毛）　榧子肉（七粒）　絲瓜絡</p>

<h2>十二、癧</h2>
<p>（案1）徐，右，廿六。屢屢內熱，咳嗆頻仍，熱復蒸痰，痰流於絡，頸項左右皆有結核，脈見細數。治以清養。</p>
<p>洋參　海粉（一錢）　川斛　淡昆布（一錢五分）　夏枯　杏仁　銀柴　白芍　川貝　冬瓜子　冬蟲　蛤殼　海蜇　荸薺</p>
<p>（案2）左。稟體陰虛，鬱熱蒸痰，阻於絡脈，項筋牽引，結核雖小，久而成癧，脈見細弦。治以清養。</p>
<p>洋參　海粉　海藻　會絡　夏枯　炒殭蠶　昆布　木神　川貝　寄生　杭菊　竺黃　絲瓜絡</p>
<p>（案3）右。久有結核，發於耳後，屬少陽部位，陽亢火化，煅凝成痰，痰流於絡，以致潰久不斂，屢屢抽搐。外瘍由內因而發，諸恙因之蜂集，有時頭痛，有時耳鳴，面為之赤，目為之花，脈見弦滑。擬以清化。</p>
<p>洋參　元精　寄生　海粉　夏枯　木神　女珍　杭菊　川貝　龍齒　白芍　會絡　漂淡　海蜇（一兩）　去皮荸薺（二枚）</p>
<p>（案4）徐，右。復：咳嗆略減，項核較軟，再從清熱化痰。</p>
<p>洋參　蛤殼　海藻　杏仁　夏枯　銀柴　昆布　石斛　川貝　杭菊　會絡　秋石　海蜇　荸薺　女珍</p>
<p>（案5）右。經事久為不調，後期而少，營虛生熱，熱復蒸痰，阻於少陽部分，耳後結核漸形脹大，防成十八癧之一，脈見沉弦。擬以和養。</p>
<p>當歸　木神　香附　青皮　夏枯　遠志　延胡　會皮　川貝　殭蠶　丹參　杭菊　竹茹　絲瓜絡</p>
<p>（案6）左。馬刀現將穿潰，余者皆欲成未成。體虛挾熱，熱則生痰，流於絡脈，堅紅而痛，擬以宣化。</p>
<p>夏枯　料豆　會絡　茯苓　川貝　女珍　白芍　冬瓜子　石斛　殭蠶　生草　杏仁　絲瓜絡</p>

<h2>十三、消渴</h2>
<p>（案1）右。飲一溲二，上渴下消，從此肉落肌灼，脈數舌紅。治以清養。</p>
<p>洋參　料豆　煨石膏　桑螵蛸　生地　女珍　木神　白芍　麥冬　石斛　牡蠣　陳皮　棗　糯米（三錢）</p>
<p>復：消渴綿延，飲水無度，溺亦無度，脈數。擬清上以和陰，攝下以固竅。</p>
<p>洋參　料豆　石斛　螵蛸　生地　女珍　寒水石（三錢）　白芍　麥冬　淡天冬　牡蠣　蓮鬚　棗</p>
<p>（案2）左。飲一溲二，漸成消渴，脈象濡細。治以和養。</p>
<p>生綿耆　蜜炙螵蛸　牡蠣　蓮鬚　沙參　木神　白芍　川斛　覆盆　龍骨　料豆　麥冬　棗</p>
<p>（案3）朱，左，廿五。飲一溲二，將成消渴，脈右細左弦。治以和養。</p>
<p>綿耆　木神　川斛　桑螵蛸（蜜炙）　沙參　龍骨　會皮　料豆　覆盆　白芍　炒菟絲　制萸肉　棗</p>
<p>按上二症屬氣虛消渴，故重在上升下攝。</p>

<h2>十四、鵝雪疳</h2>
<p>（案1）王，左，十六。鵝雪疳，治以宣化。</p>
<p>萹蓄　川黃柏　萆薢　瞿麥　肥知母（去毛）　茯苓　黑山梔　甘草梢　會皮　竹心</p>

<h2>十五、棉花瘡</h2>
<p>（案1）全，左。肺脾受毒，棉花瘡生生化化，遍體皆到，脈見細弦。腎囊發脹，淋濁雖止，近發寒熱，郁邪上攻下注，有不得了之勢。</p>
<p>羚羊片　山梔　會核　大力子　桑葉　黃柏　荔核　生草　粉丹皮　知母　楂核　綠豆衣　絲瓜絡</p>

<h2>十六、流火</h2>
<p>（案1）張，左，六十三。流火紅腫，溢膿未透，形寒，脈細。治以疏托。</p>
<p>羌活　川牛膝　歸鬚　防風　防己　生草　大力　西赤芍　萆薢　忍冬藤</p>
<p>（案2）葉，右，三十三。流火堅腫，脈見沉弦，恐其發頭穿潰。</p>
<p>防己　牛膝　米仁　皮苓　獨活　青木香　萆薢　桐皮　當歸　加皮　滑石　桑梗　絲瓜絡</p>

<h2>十七、發背</h2>
<p>（案1）陸，左，廿八。背疽騎梁已重，又在肺俞之處，暑濕內郁，最恐界限不分，痛腐不高，容易內陷。急宜宣托。</p>
<p>綿耆　當歸　生草　炙甲片　大力　玉桔梗（四分）　枸杞　青皮　會皮　角針（八分）</p>
<p>（案2）陸，左，三十一。騎梁發背，紅暈四散，中腐色青，屬半陰半陽。脈見細弦，險重之至。</p>
<p>生綿耆　鹿角霜　茯苓　殭蠶　甘杞　小樸　大力　青皮　會皮　藕節　絲瓜絡</p>

<h2>十八、流注</h2>
<p>（案1）左。流注三處，曲池已潰，腋下臂上亦欲蒸膿，脈見細弦。治以宣化。</p>
<p>羌活　赤芍　象貝　大力　桔梗　生草　青皮　歸尾　會皮　絲瓜絡</p>
<p>（案2）褚，左。流注潰處不一，現在兩眼未收。瘡由虛發，營液從此受傷，兩足軟弱，絡脈拘攣。脈見弦滑，治以和養。</p>
<p>洋參　當歸　川斛　白芍　料豆　杜仲　木瓜　牡蠣　女珍　寄生　淮膝　新會　絲瓜絡</p>
<p>（案3）左。痰注不一，眼細中空，久而不斂，漸至營衛受傷，營爭為寒，衛爭為熱，寒熱頻仍，防成瘡勞。脈見弦滑，治以和養。</p>
<p>洋參　石斛　當歸　白芍　耆皮　料豆　銀柴　丹參　防風　女珍　青蒿子　會皮　絲瓜絡　棗</p>
<p>（案4）右。產後新血已傷，舊瘀入絡，左腹旁結塊有形，防成敗瘀流注。脈左細右弦，治以疏和。</p>
<p>香附　九香蟲　獨活　杜仲　川楝　當歸　寄生　銀柴　白芍　淮膝　會皮　青皮　絲瓜絡</p>

<h2>十九、流痰</h2>
<p>（案1）陳，右，十六。右肩流痰，身熱納微，防天熱難支。脈見細弦，治以宣化。</p>
<p>炙麻黃　大力　生草　元生地　歸鬚　茯苓　青皮　白芥　會皮　絲瓜絡</p>
<p>復：右肩流痰，高腫色紅，勢難消退。</p>
<p>綿耆　石斛　大力　炙甲片　歸鬚　生草　小青皮　白芥　會皮　絲瓜絡</p>
<p>（案2）左。流痰發於臂部，高腫色變，勢難消退。脈見弦滑，治以疏和。</p>
<p>獨活　蠶沙　當歸　防己　寄生　大力　赤芍　萆薢　竹瀝夏　青皮　青木香　會皮　絲瓜絡</p>
<p>（案3）左。腰為腎府，腎俞流痰蒸膿已熟，勢將穿潰，所恐者納呆肉削，元氣難支。</p>
<p>潞黨參　甲片　會皮　葛根　綿耆　當歸　大力　茯苓　青皮　半夏　生草　生白朮　細角針</p>
<p>（案4）左。環跳流痰高腫之勢，漸滋暗長，久防蒸膿穿潰。脈見細弦，治以疏化。</p>
<p>獨活　竹瀝夏　當歸　杜仲　寄生　蠶沙　赤芍　會皮　洋參　大力　青皮　生草　絲瓜絡</p>
<p>（案5）左。環跳流痰，筋骨發赤，成則累月難痊。治以疏和。</p>
<p>竹瀝夏　萆薢　大力　防己　芥子　青木香　九制熟地　石斛　會絡　黃芩　絲瓜絡</p>
<p>（案6）沈，右，二十九。身熱脘悶，環跳腫痛，防成流痰。脈見沉弦。治以疏降。</p>
<p>羌活　青皮　防己　生苡　防風　牛膝　會皮　赤苓　大力　赤芍　益元散　歸尾　荷葉</p>
<p>（案7）左。膻中流痰，久潰未收，中孔甚大，漸至本元更傷。連次失血，又為咳嗽，脈見細澀。陰傷氣痹，內外證皆屬損象，早宜護持。</p>
<p>旱蓮　全福　沙參　杏仁　白芍　石英　料豆　川貝　象牙屑　會皮　女珍　丹參　絲瓜絡　枇杷葉</p>

<h2>二十、股陰毒</h2>
<p>（案1）左。股陰毒右面結核，按之作痛，步履皆為不利，屬氣痹凝痰，痰流於絡。治以疏和。</p>
<p>獨活　赤芍　竹瀝夏　淮膝　桑梗　歸尾　防己　萆薢　蠶沙　大力　天仙藤　新會　絲瓜絡</p>
<p>（案2）張，右，三十八。股陰毒潰膿孔深，筋絡先傷，半身抽搐疼痛。因瘡成病，氣逆汗多，心悸神疲，納微發嘔，大便失行。脈見濡細，勢防痙變。</p>
<p>洋參　木神　全福　米仁　川石斛　龍齒　川貝　淮麥　白芍　丹參　女珍　會紅　絲瓜絡</p>
<p>（案3）李，右，三十四。股陰高腫，將成流痰，脈見弦細。治以疏和。</p>
<p>當歸　竹三七　杏仁　寄生　生牛膝　仙鶴草　赤芍　瓦楞　防己　青皮　丹參　昆布　絲瓜絡　藕節</p>
<p>（案4）張，右，三十八。復：股陰外收未全，小便仍膿，防成小腸癰，急宜調護。</p>
<p>沙參　茯苓　白芍　川斛　料豆　米仁　牡蠣　會皮　女珍　敗醬草（三錢）　川貝　草梢　藕節　絲瓜絡</p>

<h2>二十一、膝眼癰</h2>
<p>（案1）陶，左，十一。膝眼癰流膿鬱郁，治以和解。</p>
<p>潞黨參　當歸　茯苓　料豆　銀柴　生草　川石斛　青蒿子　新會　絲瓜絡　湘蓮肉（七粒）</p>
<p>復：膝眼癰流膿不止，因瘡發病，脈數將勞。</p>
<p>洋參　青蒿子　冬瓜子　連翹心　銀柴胡　蛤殼　象貝母　川石斛　生草　絲瓜絡</p>

<h2>二十二、胃脘癰</h2>
<p>（案1）陳，左，三十四。胃脘癰萬不可成，屬脫力觸穢而發。</p>
<p>香附　佩蘭　會皮　丹參　法半夏　小樸　建曲　羌活　枳殼　佛手　生苡　防風　絲瓜絡　荷梗</p>
<p>復：胃脘癰急圖消退。</p>
<p>香附　建曲　白芍　當歸　川楝　小樸　丹參　蘇梗　枳殼　米仁　茯苓　會皮　絲瓜絡　竹茹</p>

<h2>二十三、乳癰</h2>
<p>（案1）右。乳癰蒸膿，色紅兼腫，脈浮舌白，並有表症，微寒微熱。治以疏和。</p>
<p>防風　大力　赤芍　青皮　荊芥　炙甲片　王不留行　生苡　薄荷　歸尾　生麥芽　會皮　藕節</p>

<h2>二十四、魚肚癰</h2>
<p>（案1）範，左，四十二。魚肚癰恐變為爛疔腐化，有掌大之勢。</p>
<p>石決明　象貝　生草　地丁草　連翹　會皮　滑石　大力　花粉（三錢）　忍冬藤　蘆根</p>

<h2>二十五、子癰</h2>
<p>（案1）左。腎囊腫痛，疝氣起因，將變子癰，形寒形熱，蒸膿之勢。脈息沉弦，治以疏和。</p>
<p>川楝　青皮　橘核　木香　赤芍　延胡　枳殼　蠶沙　大力　當歸　香附　炒桃仁　絲瓜絡</p>

<h2>二十六、臟毒</h2>
<p>（案1）張，左，三十九。臟毒綿延，內縮不見，脈象浮弦。治以和養。</p>
<p>沙參　生草　龜板　郁李（打）　生地　炒知母　麻仁（打）　地榆　胡黃連　炒黃柏　蔞仁　石斛　忍冬藤</p>

<h2>二十七、乳癖</h2>
<p>（案1）右。肝氣充斥，挾痰入絡為乳癖，挾飲擾中為吐沫，脈見細弦。治以和養。</p>
<p>半夏　毛菇（八分）　木神　佛手　左金丸　歸鬚　遠志　白芍　香附　青皮　丹參　會絡　水炒竹茹　絲瓜絡</p>
<p>（案2）右。營失養肝，肝絡鬱熱蒸痰，乳囊結核將成，乳癖恐潛滋暗長，奇經亦失稟麗而帶下甚多，氣虛挾痰。擬以和養。</p>
<p>洋參　木神　烏鰂　丹參　毛菇　遠志　蛤殼　佛花　川貝　白芍　會絡　青皮（醋炒）　絲瓜絡</p>
<p>（案3）葉，右，三十四。乳癖起因，癖久不消，漸為脹大，肌膚板滯，按之堅結，屬由癖成岩之勢，若抽搐作痛，痛而色紅，即能穿潰，潰後有血無膿，尤為可慮。考厥陰、陽明之脈皆繞於乳，雖屬外瘍，由內因而發，血不養肝，肝邪犯胃，當脘久有脹滿，屢屢頭眩火升，脈息弦大。擬以和化。</p>
<p>石決明　合歡皮　丹參　女珍　炒當歸　木神　新會絡、葉　杏仁　寄生　遠志　料豆　川貝　絲瓜絡</p>
<p>復：乳癖潛滋暗長，堅結不解，已成岩象，有時抽痛，有時色紅。近復上為咯血，下為便閉。營陰久虧，痰熱互擾，觸感新邪，又有微寒微熱，熱勢復甚，神煩心悸，脘脹納呆，頭眩火升，諸恙從此交集，脈息弦大。再從調氣清陰，化痰熱而和內外。</p>
<p>沙參　銀柴　旱蓮　合歡　石決　杏仁　女珍　蜜桑葉　杭菊　川貝　當歸　烏芝麻　代代花　藕節　絲瓜絡</p>
<p>又復：乳岩散漫，內脹外腫，四旁紅暈又添。厥陰充斥，陽明內絡大傷，以致納食呆鈍，食後作脹，肢體浮腫，心悸艱寐。種種營虛氣痹，恐孔囊結蓋之處溢膿為出血，脈見細弦，舌糙。從中挾痰鬱濕，與肝邪為之互擾，擬清營和絡。</p>
<p>洋參　蒲公英　木神　川貝　麻仁　綠萼梅（八分）　金斛　忍冬　生栝蔞　銀柴胡　會絡　青皮　絲瓜絡</p>

<h2>二十八、肛癰</h2>
<p>（案1）周，左。肛門結塊，痛時發堅，將成肛癰，能否消退。</p>
<p>珠兒參　料豆　黃芩　萆薢　炒槐米　女珍　山梔　米仁　黑地榆　澤瀉　會皮　茯苓　松子仁（三十粒）</p>
<p>（案2）左。吐血連次，肺熱移於大腸，癰象將成。治以和養。</p>
<p>珠兒參　川貝　川斛　料豆　炒槐米　杏仁　白芍　麻仁　地榆　蔞仁　生草　會紅　枇杷葉　藕節</p>

<h2>二十九、腋癰</h2>
<p>（案1）左。腋癰潰頭，治以宣化。</p>
<p>生耆　大力　赤芍　象貝　滑石　桔梗　連翹　生草　新會　藕節</p>

<h2>三十、腸癰</h2>
<p>（案1）柯，左。腸癰將成，少腹腫痛，大便不行。脈見沉弦，治以通降。</p>
<p>敗醬草（三錢）　檳榔　大力　炒桃仁　炒川楝　建曲　赤芍　米仁　炒枳殼　青皮　歸尾　陳皮　絲瓜絡</p>
<p>（案2）陸，右。臍腸癰臍凸紅腫，腹膨作痛，大便已通，能否不為外潰。脈數內熱，治以清降。</p>
<p>敗醬草　檳榔　當歸　櫞皮　川楝　瓜蔞　苡仁　冬瓜子　枳殼　青皮　雞金　陳皮　推車蟲（一枚）　榧子肉（七粒）</p>
<p>（案3）左。小腸癰腹脹溺短，能否消退。</p>
<p>敗醬草　大力　防己　青皮　川楝　赤芍　萆薢　青木香　枳殼　歸尾　赤苓　香附　絲瓜絡</p>
<p>（案4）張，右，三十一。縮腳腸癰，小產後仍未減，肢骱痠痛，脈見細弦。治以分疏。</p>
<p>敗醬草　茺蔚　黃芩　生膝　川楝　寄生　杜仲　桃仁　當歸　蔞皮　米仁　會皮　絲瓜絡</p>

<h2>三十一、曲池癰</h2>
<p>（案1）褚，左。曲池癰勢流走，大半消象。</p>
<p>羌活　青皮　滑石　大力　桔梗　青木香　赤芍　陳皮　秦艽　絲瓜絡　藕節</p>
<p>左。曲池癰兼脘間肢酸。</p>
<p>西羌　大力　大腹　黃防　小樸　通草　青皮　建曲　生草　佩蘭　荷梗</p>
<p>（案2）左。曲池癰方潰，治以清泄。</p>
<p>川斛　滑石　銀柴　生草　青蒿　象貝　青皮　會皮　花粉　忍冬藤</p>

<h2>三十二、腿癰</h2>
<p>（案1）左。腿癰蒸膿，勢難消退。</p>
<p>生耆　青皮　生膝　大力　赤芍　炙甲片　歸尾　生草　新會皮　細角針</p>

<h2>三十三、血風瘡</h2>
<p>（案1）左。血風瘡，治以滲化。</p>
<p>豨薟　連翹　滑石　大力　萆薢　炒川柏　山梔　防己　苡仁　側柏</p>

<h2>三十四、產後</h2>
<p>（案1）右。駢產之後，瘀露鮮行，少腹痛脹，脹而拒案。擬以通降，藕防上衝為患。</p>
<p>當歸　澤蘭葉　新會　大腹　茺蔚　淮膝　香附　川楝　延胡　丹參　茯苓　川芎（八分）　沖山楂末（三錢）</p>

<h2>三十五、胎前</h2>
<p>（案1）沙，右，廿四。月事過期四月，脈見細滑，懷麟之兆。惟陽明營事初停，脘宇懊憹，納穀漸減，腹疼腰楚。皆屬胎元不足，治以和養。</p>
<p>洋參　佛花　當歸　會紅　姜半夏　玉蝶　川斛　川斷　白芍　寄生　杜仲　丹參　姜竹茹　白苧麻（不剪斷，一條）　棗</p>

<h2>三十六、奔豚</h2>
<p>（案1）王。便血之後，結痞內攻，臍上四旁常常跳動，甚至小便不利，脘腹堅結。奔豚症腎氣有傷，牽連肝肺。脈見弦細，治以溫通。</p>
<p>赤桂心（去粗皮後入，四分）　川楝　當須　茯苓　川黃柏　九香　枳實　紫石英　白芍　會皮　狗脊　香附　棗</p>

<h2>三十七、健忘</h2>
<p>（案1）左。健忘之證，西醫謂之腦氣筋，中醫謂之心血受虧。現在遇事善忘，由昔年痢下之虛。脈見弦滑，治以和養。</p>
<p>半夏　木神　合歡皮　杜仲　龜板　遠志　新會皮　川斷　龍骨　丹參　白芍　補骨　龍眼肉（二枚）</p>
<p>早服天王補心丹三錢，晚服歸脾丸三錢。</p>

<h2>三十八、怔忡</h2>
<p>（案1）左。心陰不足，肝陽有餘，兩耳發鳴，頭蒙肢麻，多夢少寐，心悸肉瞤，證屬怔忡。脈偏弦細，右滑。從中積痰蓄飲，擬以鎮養。</p>
<p>洋參　木神　膽星　潼、白蒺藜　半夏　貝齒　夜交藤　丹參　秫米　珠母粉　白芍　新會　玫炒竹茹</p>
<p>（案2）右。病後心氣心陰兩為受傷，心悸艱寐，多思多慮，怔忡之象。脈息弦細，鎮養清養。</p>
<p>洋參　木神　川斛　女珍　半夏　遠志　夜交藤　丹參　秫米　龍齒　白芍　新會　玫炒竹茹</p>
<p>（案3）左。徹夜不寐，將成怔忡，屬操勞過度，肝陽內擾，以致神不守舍，痰熱內蒙。脈見細弦，擬以鎮養。</p>
<p>洋參　木神　膽星　丹參　半夏　遠志　柏子仁　白芍　秫米　龍齒　夜交藤　會皮　龍眼肉　竹茹</p>
<p>（案4）邱，左，五十一。遺泄目前不發，封藏早虧，遂致諸虛雜出。肝藏魂，又主風，心藏神，又主血。諸竅出風，畏光怕亮，胸脘之間氣攻無度，脈沉弦。擬馴龍雷而靜肝陽。</p>
<p>洋參　木神　玳瑁　白蒺藜　半夏　海貝齒　鉤藤　潼蒺藜　秫米　白芍　夜交藤　丹參　龍眼　二竹茹</p>

<h2>三十九、蟲積</h2>
<p>（案1）劉，左，十二。脘腹作痛，甚於臍眼，擾上為嘔，下便如膿，防成內癰之勢。幼年食積為多，常常痛者為滯，作陣痛者為蟲。脈息細弦，治以疏和。</p>
<p>洋參　蕪荑　鶴蝨（一錢五分）　楂炭　敗醬草　雞金　左金丸　白芍　川楝　使君　米仁　陳皮　榧子肉</p>
<p>（案2）王，左，十。蟯蟲鬱於腸，現發癢蟲出，治以苦化。</p>
<p>珠兒參　炒黃柏　使君　槐米　小川連　炒知母　烏梅（八分）　川楝　炒黃芩　山梔　生草　會皮　榧子肉（七粒）</p>

<h2>四十、崩漏</h2>
<p>（案1）右。崩勢稍定，尚零零落落，紅白交見，奇經大損，肢酸腹痛。治以和養。</p>
<p>阿膠　香附　龍骨　沙苑　艾葉　夏曲　牡蠣　側柏　黨參　白芍　棕炭　會皮　紅棗</p>
<p>（案2）右。漏經三月，腰痠腹痛，心跳頭蒙，種種營虧氣痹。脈見沉弦，治以和補。</p>
<p>阿膠　血餘　木神　白芍　黨參　陳棕　龍骨　側柏　香附　楂炭　丹參　會皮　焦荷蒂　紅棗</p>
<p>（案3）梅，右。奇經不攝，崩放後又為經漏，應月淋漓。營陰大傷，諸虛雜出，頭眩耳鳴，心悸腰楚。脈見弦滑，治以和養。</p>
<p>阿膠　血餘　木神　杜仲　黨參　陳棕　龍骨　白芍　香附　蓮房炭　炮薑炭　新會　側柏　另服吉林須、紅棗</p>
<p>（案4）高，右。老年崩放，綿延未止，脈息濡細。沖海不攝，氣營兩虧，肢腰痠楚。治以和養。</p>
<p>阿膠　血餘　木神　杜仲　黨參　陳棕　龍骨　沙苑　香附　蓮房炭　白芍　新會　側柏</p>
<p>復：崩放減而未止，向有失血，老年營陰不攝，內絡已損。脈見芤細，炎夏急宜調和。</p>
<p>阿膠　血餘　木神　白芍　黨參　陳棕　龍骨　杜仲　香附　蓮房　繭炭　會皮　側柏　藕節</p>
<p>（案5）右。操勞過度，有傷奇經，經漏三月，綿延不止，以致統藏不攝，血海愈涸。脈見細弦，當溫養八脈，兼補氣血，栽培火土，以固其根本，涵養乙癸，以充其淵源，俾得天癸有恆，陰順陽和為法。</p>
<p>安肉桂（去粗皮後入）　艾絨　木神　赤石脂（醋煅，包煎）　陳阿膠（蒲黃炭炒）　血餘　龍骨　杜仲　黨參　陳棕　白芍　會皮　棗</p>

<h2>四十一、停經</h2>
<p>（案1）右。停經見紅，多日不止，恐至偏產，而為崩漏。治以和養。</p>
<p>大生地　白芍　木神　杜仲　雞血膏（八分）　香附　川斛　沙苑　炒當歸　艾絨　新會　料豆　藕節炭（二枚）　棗</p>
<p>（案2）右。停經見紅，數月未止，似小產而不下，頭眩腰痛，腹亦迸痛。治以和養。</p>
<p>生地　白芍　木神　川楝　雞血藤　香附　沙苑　荊芥　當歸　艾絨　料豆　新會　荷蒂　棗</p>

<h2>四十二、調經</h2>
<p>（案1）右。常常氣怯神倦，屬中氣受傷，失於砥柱，遂致肝陽內擾，頭眩耳鳴，月事反為趲前。女科以肝為先天，皆以營陰失養，氣無以攝。脈見濡細，舌膩，擬輕重調補。</p>
<p>洋參　寄生　杜仲　佛花　法半夏　木神　丹參　玉蝶　白芍　遠志　米仁　會皮　竹茹　棗</p>
<p>（案2）王，右。月事早而且多，每每零落不止，且帶下淋漓，奇經久為不攝，以致頭眩耳鳴。脈見細弦，左關尺俱澀，擬以和養。</p>
<p>洋參　白芍　佛花　丹參　元生地　木神　玉蝶　烏鰂　夏曲　龍骨　川斛　會白　側柏　棗</p>
<p>（案3）竇，右。當脘作痛，頭眩腰楚，脈息細弦。治以疏和，兼調月事腹痛。</p>
<p>香附　煨木香　木神　茺蔚子　當歸　艾絨　遠志　延胡索　白芍　丹參　杜仲　會皮　絲瓜絡</p>
<p>（案4）楊，右。營虧氣痹，奇經失職，月事不調，衍後為多，且少色澤。營失養肝，肝氣轉為充斥，侮中則腹部攻痛，入絡則兩乳發脹，甚至晨起為之發嘔。脈見細弦，擬以調養。</p>
<p>香附　法半夏　寄生　合歡　雞血膏　木神　茺蔚　杜仲　當歸　遠志　白芍　會絡　絲瓜絡　代代花</p>
<p>楊，復：月事衍後，漸得准期，惟逢月之前，或為腹脹，或為腰楚。脈見弦滑，營虧氣痹，再從和養。</p>
<p>香附　木神　阿膠　茺蔚子　雞血膏　遠志　杜仲　佛手　當歸　白芍　沙苑　新會　絲瓜絡　隨服吉林須</p>
<p>（案5）林，右。每經淋漓不淨，小腹發迸，筋骨痠軟。屬氣不調營，營陰失守，擬以調氣和陰。</p>
<p>香附　木神　酒紅花（四分）　延胡　當歸　丹參　炒川芎（八分）　川斷　茺蔚　白芍　淮膝　新會　砂仁</p>
<p>（案6）劉，右。經事向來後期，忽又先期，總由衝任不攝，未能生育。脈見細弦，治以和養。</p>
<p>香附　丹參　夏曲　料豆　當歸　川芎　杜仲　銀柴　白芍　艾絨　川斷　新會　絲瓜絡</p>
<p>（案7）右。氣痹營滯，腹部脹滿，經事五月未行。脈見弦滑，治以和養。</p>
<p>香附　木神　茺蔚　陳櫞　夏曲　遠志　延胡　會皮　丹參　佛手　玉蝶　當歸　砂仁</p>
<p>（案8）右。經事不調，或一二月一行，或四五月一行，營滯由於氣痹，脘脹腰楚，形黃肢腫。脈息濡細，治以疏和。</p>
<p>香附　木神　茺蔚　川斷　夏曲　遠志　延胡　杜仲　丹參　新會　川芎　當歸　月季花（一朵）　西砂仁</p>
<p>（案9）王，右，三十八。肌灼腹滿，經事七月未行。脈見弦數，擬以疏和。</p>
<p>香附　木神　茺蔚　丹參　當歸　遠志　白芍　杜仲　銀柴　淮膝　陳櫞　會皮　鹽水　炒砂仁（四分）</p>
