<header data-type="book">
<h1>醫學要則</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>沈懋言</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1743">公元1743年</data></dd></div>
<div><dt>底本</dt><dd>清乾隆59年刊本（<a href="https://www.digital.archives.go.jp/file/1083909">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>
