<header data-type="book">
<h1>千里醫案</h1>
</header>

<h1>張千里先生醫案序</h1>
<p>予幼年多病長而未能脫然故性耽醫藉尤好前賢醫案蓋醫書不過道其常示人以規矩耳若夫醫案則通權達變審情度勢機械萬端如刑名家之有刑案可以生死人而肉白骨者也嘗觀冷廬醫話稱桐鄉張夢廬先生以名孝廉而行醫家住後珠村就診之舟日以百計可想見先生當時之聲名學術私心向往久之會遊茸城於友人案頭得見先生醫案兩巨冊亟假歸抄錄但見案語則簡潔老富用藥則與病宛轉相赴是蓋原本經旨融會諸家學說而貫通之故無模糊影響之談洵屬可傳之作甲子初夏裘君吉生有三三醫書之輯徵求海內藏稿爰校勘一過略附評語由郵馳寄若蒙採入則先生之手澤則以永垂不朽矣</p>
<p><u>中華民國第一甲子季夏月金山後學姚景垣光祖謹識</u></p>

<h1>卷一</h1>

<h2>中風</h2>
<p>嘉善楊向多痰火氣逆易咳晨圊痔必翻非揉撏不能收甚或痔血大來此足見肺胃大陽氣血虛久矣今卒然神思昏亂並無暈僕而右肢遽不能用舌蹇語澀便間句日才行干少溏多溲頻數而澀少且赤嗽痰頗濃息有音少寐易煩不昏瞀而間有錯語此屬老年氣血兩虛春夏之交不耐火氣升泄虛陽化風挾痰火勃動於中而外阻其絡脈內擾其神志也據現證是中絡兼腑初時右肢不用今漸能連動而肌膚痛癢無關是不仁也不仁為血虛偏右則氣亦虛矣但舌苔白滿而厚是氣燥津虛脈虛而弦兩寸較大是心肺兩虛而又有痰心主血肺主氣虛則火易上升而氣易下滯所以有數圊易怒多煩少寐等弊矣此時欲益氣而不滯痰養血而不膩膈庶乎虛責兼到據述愚見宗古人痰火內中者先治其內務使神明不為痰火所擾心君泰然則百體從令矣即或肢體不仁未能遽復不妨緩緩圖治況心主血脈心既清則血脈之流行自易</p>
<p>西洋參（一錢五分）　茯苓（二錢）　蜜炙　甘草（四分）　川貝母（去心二錢（　桑葉（二錢炒）　山梔（一錢五分）　法半夏（一錢五分）　驢皮膠（二錢）　竹葉（二錢）　枳實（五分）　橘皮（一錢五分）　棗仁（一錢五分）　蓮肉（去心十粒）</p>
<p>右方約服五六劑若得寐漸長舌白稍薄喉間痰氣不致有音去枳實半夏加大生地（四錢）　杏仁（二錢）　大麻仁（二錢）　若大便復閉慎勿遂與通利必俟其急迫屢圊不來不得已暫用搜風順氣丸又舌胎已退而舌質胖痰來輕薄氣息舒得大便暢行溏而老黃者數次今又七日不更衣溲漸利而色來清胃納稍和夜未酣睡痔外翻而腐續下痰物或中有痔膿夾雜亦未辨別統觀諸症大都痰漸化而火未熄陽明腸胃津液虛耗遽難充和所以寐少而便復閉不獨痔翻尤昭著也陽明外主肌肉內主津液津液虛則無以濯輸肌肉而束筋骨利機關之權亦弛而不張右肢之不仁蓋由於此不仁則不能用矣今欲求其不致成廢當先養陽明以存其津液胃和則寐安陽通則便調而痔收治內正所以治外也脈仍虛兩寸獨大大非心肺之有餘乃虛陽之上僭耳故耳鳴舌胖心煩易怒畢露其機緘時當大氣升泄宜柔靜通養為主久之若得步履稍可嚲曳便能扶杖逍遙矣</p>
<p>西洋參（一錢五分）　麥門冬（一錢五分）　炒棗仁（研二錢）　茯神（二錢）　大生地（四錢）　蜜炙大有耆（一錢五分）　酒炒白芍（一錢五分）　陳皮（一錢五分）　驢皮膠（二錢金）　石斛（三錢）　甘草（四分）　柿餅煨（半枚）</p>
<p>又不仁為氣血不通先宜通養陽明前案論之詳矣今右肢漸知痛癢足見脈絡漸有流通之意但大便艱澀脈象沈滯耳鳴舌蹇神氣不振欲望陽明腸胃之充和以期氣通血潤尚遠然此症首重腸胃必須窮究其所以難通之故老年風閉前腎多責諸血液之虛想近年來痔血之去亦復不少血虛則風動欲腸胃之潤則養血正不可少今胃氣稍較醒似可參人濡潤養血之品矣</p>
<p>潞黨參（一錢五分）　麥門冬（一錢五分）　杏仁（三錢）　柏子仁（三錢）　蘇子炒（研一錢五分）　大生地（四錢）　驢皮膠（二錢）　川貝母（二錢）　酒炒歸身（二錢）　大麻仁又肢體熱癢而疼是血虛風燥所致絡脈如此腸胃益可知矣所以便難必越數日也高年中風大都為血液不充內風旋擾之故前賢有侯氏黑散以內填空竅以防風之復襲有地黃飲子以內養血掖以杜風之內生皆篤論也而便難一症尤為血虛的證所有風秘治法亦不一然又須因時制宜今未入秋而先形內燥將來何以御秋燥正令計從先為之圖川清燥救肺方綢繆未雨稍參和絡養胃法冀其府通然後格和</p>
<p>西洋參（二錢）　麥冬（一錢五分）　火麻仁（二錢）　大生地（三錢）　蜜炙石膏（一錢五分）　杏仁（二錢）　炙草（四分）　桑葉（一錢五分）　驢皮膠（二錢）　陳皮（一錢五分）　米仁（三錢）　枇杷葉（兩片）</p>

<h2>枇杷葉兩片</h2>
<p>光按前後四案議論殊佳扼重在血虛生風故一以養血息風為主</p>
<p>湖州周婦向有偏頭風痛甚則或有眩嘔今煩勞傷陽陽虛風動旋擾清空絡脈弛懈陡覺右肢痛而左肢不用是風中在左也迄今五日嘔吐痰飲已止右額微腫而痛食少便結脈虛澀此腑絡兼中之症痰為虛痰風為內風宜清養陽明柔息厥陰冀其漸愈曾有便血當此燥令尤須遠剛用柔西洋參（二錢）　陳皮（一錢五分）　胡麻仁（二錢）　鉤藤鉤（二錢）　羚羊角（一錢五分）　茯苓（二錢）　杭茶菊（二錢）　霜桑葉（一錢五分）　驢皮膠（二錢）　丹竺（一錢五分）　穭豆衣（三錢）　絲瓜絡（三錢）</p>
<p>光按此方經清可法</p>
<p>嘉興張七月下旬間瘧四作繼以泄痢此伏氣晚發未必清澈遽因孫受病殤勞憂悲傷動於中風寒迫於外遂感風燥作咳凡憂悲傷肺風燥亦傷肺以致痰雖出而風燥之火迄未化鬱極而升陡然舌蹇涎流官骸俱不能自主然現症多在身半以上而足仍能行知非風中腎厥是痰火內擾之類中矣況痰中亦有淺深內外虛實之別此痰火乃外感風燥之火之痰故舌蹇等症能暫退亦能復盛蓋痰出即人熄痰不出即火復熾所以越五六日而諸症復作也今身想有汗面紅齒燥舌蹇涎流右手指微強自言口燥之極脈得滑而右寸關尤甚顯屬肺感風燥未清痰火上擾脈絡之類中也宜滋肺氣存胃津以化痰為主痰出則火風自熄邪去則類中亦平</p>
<p>西洋參（一錢五分）　蜜炙石膏（一錢五分）　橘紅（一錢五分）　天竺黃（二錢）　驢皮膠（二錢）　杏仁（二錢）　丹皮（一錢五分）　霜桑葉（一錢五分）　川貝母（二錢）　羚羊角（一錢五分）　甘草（四分）　枇杷葉（兩片）</p>
<p>光按議論透澈方亦妥貼易施唯於治痰一面尚少力量</p>

<h2>暑溫</h2>
<p>論宋可齋之嫂胎前感溫病案令嫂懷孕感邪據述病狀當是風輕濕重之溫今既化熱而舌苔焦黃胸脘痞悶其陽明尚少壅滯從三焦施者當從中上著手甘平宣肺少兼微辛微苦以疏降氣腑如燥渴引飲而便實者用芩梔杏橘甚或稍加黃連竹茹如舌膩便溏咳或兼嘔則用竹茹佩蘭甚或稍加枳殼蘇子精審詳察必期能化邪而不致傷胎斯為盡善苟有疑似寧輕劑緩化慎勿孟浪凡春夏之交大都溫必兼濕而春溫之氣又每因營虛之體乘間竊發故措手尤須慎重耳至於宣肺存津以及涼血安營等法諒能詳悉故不復贅只論疏中一法備採</p>
<p>潞仲朱媼煩勞傷陽肺衛疏豁冬溫風燥之邪實於肺衛初起即見微寒而盛熱咳嗽錯語迄今旬日燥熱氣急呼吸有音痰濃而少嗽甚不爽頭痛雖罷耳嗚顴紅唇燥舌乾苔白有裂咳引胸脅隱痛脈寸關俱滑數而促此冬溫容肺之重症也八旬高年素有腸痔津液久虛今肺脾喘咳邪無出路最易劫津涸液痰膠氣喘益甚頭汗最防驟脫慎勿因小有鬱怒滯氣拋荒主病蓋雖小有食滯今已大便一次腹右有塊不過腸滯未盡肺與大腸表裡也潤肺即可通腸故此時以滋氣化痰急救肺以存津液為要著西洋參（一錢五分）　橘紅（一錢五分）　鮮生地（四錢）　川貝母（二錢）　米仁（三錢）　杏仁（二錢）　地骨皮（一錢五分）　桑白皮（二錢）　冬瓜子（三錢）　炙草（四分）　茅草根（五錢）　枇杷葉（三片）</p>
<p>光按唇燥舌乾苔白有裂此葉氏所謂氣熱爍津用藥恰好唯鮮生地當易鮮石斛茅根易蘆根更妙</p>
<p>王涇江陳投清營宣氣存津透邪方藥脈象僅得濡緩弦虛不致模糊難以尋按濡緩為風為胃神虛則陽為濕遏弦為濕釀痰濁凡春夏之交感症風為春之餘氣濕為夏之王氣故現症每每如此其昏昏如醉蒸熱舌黃而灰溺赤便閉㿀疹隱隱現於肌腠欲達不達都屬濕溫二氣薰蒸郁遏似煙似霧清明之氣皆為矇蔽所謂肺氣窒痹不能宣化則周身之氣皆痹而化解不易耳今雖未有大效所幸安靜不致躁擾舌連齒板稍有潤澤之意若得一意拯治七八日工夫或有挽回之望</p>
<p>犀角（八分）　鮮生地（三錢）　連喬（一錢五分）　小川連（三分）　天竺黃（一錢）　石菖蒲（三分炒）　山梔（一錢五分）　丹皮（一錢五分）　陳膽星（三分）　橘紅（一錢五分）　蘆根（八寸）　竹葉（十五片）　至賓丹（一粒）　燈心湯熔化下先服</p>
<p>光按舌灰而黃溺赤便閉可參用增液承氣大劑投之以冀萬一</p>
<p>濮縣呂暑濕阻氣鬱而為熱汗出不解邪迫心包目赤耳襲神昏譫語幸得咳嗽疹出諸症漸退迄今兩月稍得安寐納穀惟氣火蒸騰乾咳未罷目皆赤脈象濡滯是暑退而濕未化宜甘平淡滲以清氣化濕若小心調養不致食復勞復則愈期亦不至遷延也</p>
<p>西洋參（一錢五分）　川貝母（二錢）　鮮石斛（三錢）　飛滑石（三錢）　杏仁（二錢）　天竺黃（二錢）　米仁（三錢）　竹葉（十五片）　橘紅（一錢五分炒）　山梔（一錢五分）　通草（八分）　蘆根（八寸）</p>
<p>又感症後諸恙俱平惟舌苔猶膩耳目失清背易惡寒汗出即解此皆陽虛濕勝蒸鬱氣分尚須平劑清化</p>
<p>西洋參（一錢五分）　澤瀉（一錢五分）　川石斛（三錢）　半夏（八分）　丹皮（一錢五分）　茯苓（二錢）　廣藿香（一錢五分）　荷梗（尺許）　橘皮（一錢五分）　米仁（三錢）　夏枯草（一錢八分）</p>
<p>震澤孔痎瘧三年近漸作止不常大抵過勞輒發已是勞瘧景象瘧時溺數不禁是陰不內守煩渴引飲是津不上騰況兼痔漏復潰膿水淋漓氣液之消亡甚矣比復當春夏陽氣升泄之時陡然凝寒而熱渴嘔痞攻脅痛神煩此屬濕溫之氣乘虛襲入兼鬱於肺胃少陽氣絡阻痹遊行三焦也今熱退食進脈象弦數已平惟見虛弱濡消病勢似將退舍然口乾舌碎苔白神衰氣奪汗多食少寐不能安虛體感邪邪既未化而正已告疲深慮汁液過多津氣內奪虛脫驟見幸勿以小愈而忽之</p>
<p>西洋參（一錢五分）　甜杏仁（二錢）　茯苓（二錢）　蔗皮（四錢）　黃耆皮（一錢五分）　麥冬（一錢五分）　川貝母（二錢）　炙草（四分）　金石斛（三錢）　豬苓（一錢五分炒）　穀芽（三錢）　竹茹（七分）</p>
<p>震澤陸寒熱咽痛吐瀉肢節腫痛紫斑隱見迄今七日昏沉如故稍有譫語齒燥耳聾舌黃地地揚手擲足喉間痰氣有聲便下一次甚少溲澀而胞痹身熱口渴脈弦數此風寒濕三氣難受經腑表裡皆痹挽救大難荊芥（一錢九分）　牛蒡（二錢五分）　石菖蒲（二分）　厚朴（八分）　小川連（二分）　防風（八分）　豬苓（一錢五分）　絲瓜絡（三錢）　連喬（二錢）　蘆根（八寸）　山梔（一錢五分）　澤瀉（一錢五分）　木防己（一錢五分）　枳殼（八分）</p>
<p>光按此症乃外感風濕引動伏邪已充斥表裡三焦荊防尚嫌太燥當用桑菊銀喬參入化濕之品如通草滑石等以辛涼解表為妙</p>
<p>嘉興陳腫見於上頸領尤甚鼻易壅塞痰從上齶來肌膚漸見青紫似㿀非㿀病經兩月脈澀此風溫上受鬱於肺分與風水尚有小別宜輕揚之劑上者上治之法</p>
<p>蜜炙　麻黃（三分炙）　甘草（四分）　蟬蛻（一錢）　西洋參（一錢五分）　杏仁（二錢）　鮮生地（三錢）　荊芥（一錢五分）　枇杷葉（兩片煨）　石膏（一錢五分）　廣橘紅（一錢五分）　紫苑（一錢五分）</p>
<p>光按肌膚青紫似癍非癍則邪不盡在氣分生地荊芥頗與此症相關善連楊前投清肺化邪清心安神方諸恙漸退胃納亦增復因煩勞傷陽風溫乘隙而入微寒而熱咳嗽又甚痰多色黃中夾粉紅氣急頭汗溺黃舌白脈濡數弦明屬復感所以諸恙皆來急宜清熱化邪毋使喘汗復盛</p>
<p>西洋參（二錢）　杏仁（二錢）　牛蒡子（一錢五分）　羚羊角（一錢五分）　川貝母（二錢）　丹皮（一錢五分）　桑白皮（一錢五分）　枇杷葉（兩片）　天竹黃（二錢）　茅根（四錢）　地骨皮（一錢五分）</p>
<p>又腸腑已通所下宿矢頗多腸通則胃和而肺亦降今寢食俱安熱退痰少耳聰目明舌邊紅苔薄白脈虛小和緩症情已臻安善矣而感症之後食復勞復最宜謹慎治法不宜驟補清養肺胃大腸以通為補俾寢食漸復其常即是不補之補</p>
<p>西洋參（二錢）　陳皮（一錢五分）　鮮生地（二錢）　米仁（二錢）　金石斛（二錢）　茯苓（二錢）　丹皮（一錢五分）　炙草（四分）　川貝母（二錢）　枇杷葉（兩片）</p>

<h1>卷二</h1>

<h2>濕</h2>
<p>論姚伯昂學使病案奉到鈞諭祗悉種種初時便乾艱跗微腫莖皮微厚溺色黃赤馴至胃鈍欲嘔是濕熱之邪襲入手陽明大腸上擾足陽明胃也濕熱內蒸則微渴梨蔗汁稍多即作瀉濕家本易瀉但不可多瀉耳食入欠連是濕阻於中則胃氣不下行而反上逆所以頭亦為之眩脹也普洱茶溫中化滯與建曲同江浙閩廣初交濕令之神藥也凡遇胸腹痞滿頭目眩脹不論何病隨飲一二盞最妙南方卑濕地土浮薄溽淖一遇天氣陰晴蒸熱人易昏悶亦幾似瘴癘之病所謂痧脹也若覺神思不快或痞滿嘔瀉或頭脹肢麻即以平安散搐鼻或點眼角即解重則用冷水點服二三釐大可闢暑濕痧穢嵐瘴不正之氣今奉上一緘聊備左右不時之需以小瓶貯之勿使泄氣杭省精一堂合制者亦佳購之甚便也今跗腫未全退小溲尚未清長敬遵諭擬奉一方呈電蔗漿枇杷除煩養胃最佳梨桃黃瓜皆易滑泄鰻鱔壅滯均當忌也此體氣既小有違和飲食亦不宜強進且願稍稍節勞為祝（方未見）</p>
<p>梅里張腸風下血經年至今冬才止陽明腑絡皆虛矣初夏寒熱發斑亦是風濕為病癍後風濕之邪似未清解風動厥陰則右側腰胯痛少腹攻脹濕阻少陰則右腿痹痛不能屈伸轉側風濕相合鬱蒸為熱則身熱惡寒汗多溺黃便反結閉舌白不渴胃鈍食少矣近復痰涎上壅咳咳不爽亦是濕濁所化脈虛而弦總之皆外邪風濕未清之故然風輕濕重尤宜通陽化濕為主必先退其鬱蒸之熱務使汗斂便調庶無虛脫之慮至於痹痛不妨緩圖生冬朮（一錢五分）　枳殼（一錢）　橘皮（一錢五分）　絲瓜絡（二錢）　滑石（三錢）　米仁（三錢）　石膏（二錢）　蘆根（尺許）　杏仁（三錢）　防己（一錢五分）　茯苓（三錢）</p>
<p>又蒸熱漸止熱時仍有汗泄稍寐便亦稍潤右胯疝阻與右髀痹痛相連以致轉側屈伸不能皆適舌白口膩胃鈍溺少而黃脈又弦遲總之濕蒸熱鬱腑絡皆痹其痹之所以難通者中有疝氣橫膈升降之氣皆為所阻而厥陰既不調暢陽明益加壅塞矣疏厥陰以平疝氣通陽明以和腑格幸冀緩緩向安</p>
<p>洋參（一錢五分）　橘皮（一錢五分）　米仁（二錢）　石膏（煨一錢五分）　稀簽草（二錢）　麥冬（一錢五分）　茯苓（二錢）　防己（一錢五分）　忍冬藤（四錢）　絲瓜絡（三錢）　威靈仙（三錢）　川楝子（兩枚）　青酒皮（八分）　川牛膝（二錢）</p>
<p>烏鎮楊陽虛濕勝之體兼之起居飲食不能慎攝或胸悶或便溏或夢泄面黃形瘦舌白脈滯反覆不常何以調理計惟常服丸劑緩以圖之若能謹慎自愛庶有康復之期</p>
<p>資生丸鮮藿香葉下（三錢）</p>
<p>湖州揚長夏右顴發瘍原屬陽明濕火上蒸不與降而與升則非但陽明腑氣不降而厥陰之濕火亦因之上升以致右足大趾痛氣逆由足及腹上至脘脅䐜脹皮膚是轟轟如蟲行減食消渴口苦舌黃脈弦而數顯屬胃不降而肝反升宜通宜降勿因高年遽投膩補究宜憑脈症以去病去病即所以顧正也病屬易治雖糾纏已久勿憂之</p>
<p>鮮生地（五錢）　雲苓（二錢）　川楝子（兩枚）　大腹皮（二錢）　白蒺藜（二錢）　小川連（三分）　米仁（三錢）　絲瓜格（三錢）　丹皮（一錢五分）　青皮（八分）　澤瀉（一錢五分）　佛手柑（兩片）</p>
<p>光按案語去病即所以顧正卻是名言</p>
<p>又肝陽挾濕循絡上行由足大指循腿入腹犯胃過鬲抵咽甚或頭面肩背都為氣焰所及肝經之循腹本有兩路一由中抵鬲一循陰器毛際旁連少腹兩胯也汗多少寐煩躁䐜脹舌黃口渴足冷皆由肝氣挾濕未能清化以致易升而難降也今脈之弦象稍有柔和之意數象已退大便漸有溏意而尚欠通暢此時總宜調肝化濕主通主降慎勿因寢食未和體氣倦怠遽投填補經月工夫當必漸臻安吉</p>
<p>歸鬚（一錢五分）　川楝子（兩枚）　澤瀉（一錢五分）　雲茯苓（三錢）　米仁（三錢）　小茴香（一錢）　白蒺藜（二錢）　絲風絡（三錢）　川連（三分）　青皮（八分）　橘核（一錢五分）</p>
<p>又疊投辛溫苦滲以通腑化滯非但諸症不退而大便反加燥結者良由時際秋深當王之燥氣必勝於長夏濕熱之餘氣以致肺胃大腸之結澀者益形虛燥燥則津氣皆澀而不行凡肺胃大陽之主乎通降者既不循職肝脾之主乎升者益升矣今脈得滑大弦搏舌邊黃燥而中心光口燥胃鈍脅腹脹痛宜滋養肺胃之津氣以通潤大腸為主腸通則胃和胃和則痰濕駁雜之氣皆可順流而降也</p>
<p>西洋參（一錢五分）　杏仁（二錢）　橘皮（一錢五分）　火麻仁（二錢）　旋覆花（一錢五分）　包蘇於（一錢五分）　米仁（二錢）　柏子仁（三錢）　鮮石斛（三錢）　白蒺藜（二錢）　蛤殼（三錢）</p>
<p>光按案語妙</p>
<p>九里橋徐寒熱參差原屬秋深晚發迄今月餘餘熱蒸蒸汗多便溏溺黃脈小弦數胸腹白疹續發未巳此濕熱餘邪尚未盡化阻痹蒸郁腑陽既未通降則宿痞自然升逆疏腑通陽濕熱漸化則痞自漸和矣</p>
<p>西洋參（一錢五分）　杏仁（三錢）　穭豆衣（三錢）　澤瀉（一錢五分）　廣陳皮（一錢五分炒）　穀芽（三錢）　丹皮（一錢五分）　桑葉（一錢五分）　雲茯苓（三錢）　白蒺藜（二錢）　左牡蠣（三錢）　蘆根（八寸）</p>
<p>光按簡潔老當方亦靈動</p>
<p>杭州王平居嗜酒濕凝陽郁為病去秋四肢疼痹兩足及左臂為甚乃是濕蒸氣滯足太陰陽明脈絡不宣也繼則鼻衄難經所謂陽絡傷則血外溢陰絡傷則血內溢熱泄氣通自然絡痹較衰矣今春左乳結核時咳痰稠體疲脈濡舌黃目昏耳鈍亦濕邪上蒙耳然絡病宜清腑病宜通時值夏令收效難速擬用和陽化濕清氣宣絡緩圖之潞黨參（二錢）　法半夏（一錢）　木防己（一錢五分）　赤豆衣（三錢）　竹茹（七分）　新會皮（一錢五分）　生冬朮（一錢）　川黃柏（一錢五分）　粉丹皮（一錢五分）　雲苓（二錢炙）　甘草（四錢）　米仁（三錢）　建澤瀉（一錢五分）</p>
<p>洞庭山蔡陽虛嗜酒之體屢為濕困以致腰重不耐久坐左屑臂痛瘡痍時發不能盡泄經隧之濕由陽明深入厥陰為便難肛痔為囊風腿癬滋蔓無已皆濕病也脈濡澀不宜用剛藥燥劫議養陽明以清厥陰冀其緩效</p>
<p>大生地歸身川斷米仁制首鳥丹皮杜仲稀薟草生冬朮萆薢黃柏忍冬藤另服指迷茯苓丸三錢酒下</p>
<p>光按此症生地首烏太覺膩滯可加銀花絲瓜絡桑葉等以靖厥陰之濕熱比麻李身熱已退七人大便逐日一度干而尚順耳聰神清食進溺淡黃舌薄白脈濡滑緩論症情喜已退舍此時宜清養陽明冀其腸胃通和則未盡之濕熱便可漸次清化矣西洋參（一錢五分）　陳皮（一錢五分）　米仁（三錢）　竹葉（念片煨）　石羔（三錢）　赤苓（四錢）　通草（七分）　蘆根（八寸）　益元散（三錢）　知母（一錢五分）　杏仁（二錢）</p>
<p>光按南方地形卑下入夏以來雨水較多泛潮更甚故濕病最多往往胸痞納呆頭額脹悶身熱凜寒甚或壯熱汗多發為白㾦治不得法動輒經月更有延誤傷生者此證最忌辛溫發表苦寒冰伏要在清熱不助濕利濕不傷陰方為妙手</p>

<h2>火</h2>
<p>吳娑顧兩耳鳴次第失聰皆因外風內襲而來據述胸腹氣火上升為鼻淵齒衄胸痹痰多下迫為痔瘍便難或溏今脈得細弦遲全屬少陽陽明風火痰三者為病矣</p>
<p>潞黨參陳皮枳殼穭豆衣法半夏茯苓胡麻炒杭菊麥門冬丹皮桑皮竹茹光按此症磁朱丸亦可選用</p>
<p>杭州裘五內如焚起滅無定時易怒多疑舌膩口甜脈弦左尤甚肝熱由於膽寒脾癉由於胃滯所謂五志火動神明內擾也隆冬蟄藏之時宜用育陰潛陽法</p>
<p>大熟地（三錢）　阿膠（一錢五分）　天冬（一錢五分）　茯神（二錢）　竹茹（八分）　牡丹皮（一錢五分）　牡蠣（三錢）　佩蘭葉（一錢）　蓮心（十粒）　白芍（二錢）　澤瀉（一錢五分）　棗仁（二錢）　黑芝麻（三錢）　另服硃砂安神丸連心糊丸</p>
<p>光按此方與症絲絲入蔻</p>
<p>王涇江張女病閱六年初因氣滯飲聚久則絡逆火升兩月來才得平臥血止然飲沫上溢日必碗許咳嘔眩悸齒血牙疳頸癧面浮氣阻絡痹輒覺郁痛此皆由於氣火之郁偏寒偏熱非調郁法也緩圖尚可少安第難欲速耳</p>
<p>西洋參（一錢五分）　驢皮膠（二錢）　金石斛（三錢）　穭豆衣（三錢）　茯苓（二錢）　蛤殼（三錢）　石決明（三錢）　旱蓮草（二錢）　川貝母（二錢）　海石粉（三錢）</p>
<p>光按此方清平穩妥頗足法則</p>
<p>嘉善沈尤愁過度手足厥陰動而不靜以致疝聚於中火升於上精泄於下脘右痞脹妨食齦腫目昏額痛瞤慍痿耎等症紛擾數年不已甚至心神不能自王宜緩調手足厥陰以安心胃</p>
<p>大熟地（三錢）　白芍（一錢五分）　穭豆衣（三錢）　龍骨（二錢）　荔枝（兩枚）　紫石英（三錢）　棗仁（二錢）　胡麻仁（二錢）　池菊（一錢五分）　金櫻子（三錢）　牡蠣（三錢）　建蓮子（十紋）　芡實（三錢）</p>
<p>光按柔育心肝似已周到唯於痞脹妨貪似未顧及綠萼梅砂仁亦可加入杭州裘服育陰潛陽藥以來春時竟不夢遺是可喜也然晨易心悸悸即易怒多疑懊憹此肝膽包絡尚有鬱熱凡鬱熱之沖原無定時而心胃獨當其沖所以目淚鼻血齒痛口乾舌黃便溺不能了了脈弦實相因而來也宜清肝之用養肝之體以調疏泄之職則膽與包絡皆和矣</p>
<p>西洋參（一錢五分）　白芍（一錢五分）　陳海蜇（二錢炒）　山梔（一錢五分）　霜桑葉（一錢五分）　大生地（三錢）　丹皮（一錢五分）　金石斛（三錢）　白蒺藜（二錢）　石決明（三錢）　荸薺（兩枚）　火麻仁（二錢）　女貞子（三錢）</p>
<p>臨臥仍用燈心湯下硃砂安神丸四五錢</p>
<p>光按丹溪云上升之氣多自肝出此方平肝清肝一線穿成</p>

<h2>燥</h2>
<p>桐鄉曾八月初寒熱似瘧是新涼外迫伏暑內動之感證奈挾食挾怒而脘痛嘔逆吐蛔特甚客反勝主治法不免暄賓奪主矣腑病宜通得濡潤而痛減得溏泄而痛竟暫止感症之流連肺胃者每每如此糾纏一月病未了了寒熱又作頓加咳嗽面浮則又病中體虛復加一層秋燥之邪肺氣益痹以致腹痛作而齦齒乾燥也脘痛連及胸背動輒氣逆肺之膹鬱極矣耳鳴汗出劑頸而還則病邪傷陽也腹痛便瘀溺色似血病邪傷陰也體之陰陽雖皆受傷而秋燥之邪大隊尚聚在胸鬲之間脈右虛凝左小弦數顧正但須養胃存津化邪但宜宣肺化燥眼光但照大局未可偏執一隅枝枝節節為之矣至於病機之危何須再說</p>
<p>西洋參（一錢五分）　川貝母（二錢）　茯苓（二錢）　金石斛（三錢）　麥冬（一錢五分）　驢皮膠（二錢）　丹皮（一錢五分）　炙甘草（四分）　杏仁（二錢）　橘紅（一錢五分）　紫苑（一錢五分）　霜桑葉（一錢五分）</p>
<p>光按此乃喻氏清燥救肺湯加減惟既有脘痛徹背則辛潤之品不可缺少九里匯陸向有跗腫或大小足指痛不能行每發必糾纏累月近因心境動擾先覺腳痛繼以齒痛延及左半頭額顴頰甚至身熱左耳流膿迄今兩旬耳膿及額俱痛而徹夜不能成寐煩躁益增咽齶乾燥耳鳴口乾咯有凝血食少便難脈兩關見弦素體操勞尤郁由來久矣心脾營虛是其質近來復感風燥之火上爍肺金金不制木肝陽化風化火上擾清空肺胃津液皆為消爍是以現症種種虛實混淆宜先用甘涼濡潤以存津液以化虛燥</p>
<p>鮮生地（三錢）　知母（一錢五分）　胡麻仁（二錢）　夏枯草（一錢五分）　茅根（四錢）　驢皮膠（二錢）　麥冬（一錢五分）　杭黃菊（二錢）　西洋參（二錢）　桑葉（一錢五分）　石決明（三錢）　棗仁（二錢）　川芎（七分）　川貝母（二錢）</p>
<p>又連服甘涼濡潤之劑以存胃津熄肝風咽齶之燥已減血亦漸止右額浮腫亦退大便雖澀而日行胃納亦安脈左靜小而虛右關稍有弦象以便尚少即寐亦未酣適鼻氣窒塞蓋燥為虛邪而言以素虛之體易受燥邪也其平素面跗龐然兩足易痛原屬陽明津虛絡脈久失濡潤故燥氣加臨愈覺沖逆今擬滋養肺胃充潤津液肺金清肅則肝木自平胃氣充和則夜寐自安矣至於節勞戒怒則在自愛者留意焉</p>
<p>鮮生地（二錢）　麥冬（一錢五分）　西洋參（一錢）　蛤殼（三錢）　桑葉（二錢）　驢皮膠（二錢）　橘紅（一錢五分）　廾皮（一錢五分）　枇杷葉（兩片）　金石斛（三錢）　川貝（二錢）　胡麻仁（二錢）</p>
<p>又脈六部緩小右關之滑形已退大匣稍潤漸能假寐然咽齶仍幹上及於鼻瘀聚氣穢呼吸不和兩耳抽掣心中時惕凡鼻息不得臥眠陽明病也顯屬風燥之火上傷天氣清竅窒塞津液不能上承疊投甘涼濡潤而迄今不能大效計惟有仿古人風以潤之之義取其清陽上達可至病所則存津滋液庶乎有裨</p>
<p>西洋參（二錢）　元參（一錢）　驢皮膠（二錢）　夏枯草（一錢五分）　薄荷（一錢五分）　川貝母（二錢）　甘草（四分）　鮮生地（三錢）　枇杷葉（兩片）　茅根（三錢）　犀角尖（六分）　辛夷（一錢）　牛蒡子（二錢）　防風（八分）</p>
<p>西窯頭陳婦經來色黑久矣漸致屆期少腹必痛脹似崩似淋而成紫黑且有塊兼之去年至今便血半年血分鬱熱之深可見血燥則臟燥故悲喜無端似有鬼神凡婦科血燥而鬱熱則心營之有虛火不待言矣心主易震則肝膽相火安得不動火焰於上則肺受克而津氣易釀痰濁痰與瘀血為心火所引則漸入手厥陰包絡故現症有如此之變幻龐雜也病之源流標本如此從此用意自有治法總而言之此藏燥夾痰症也</p>
<p>鮮生地（三錢）　白薇（一錢五分）　五靈脂（二錢）　川百合（二錢）　淮小麥（二錢）　紫草（一錢）　黑芝麻（二錢）　羚羊角（一錢五分）　炙甘草（四分）　驢皮膠（二錢）　天竺黃（二錢）</p>
<p>又進治臟燥血鬱方半月餘諸症皆退體中頗適近因經候之期先覺便難繼以內熱經來仍然紫黑自覺諸症皆動而忽悲忽笑不能自主此其故總由血分尚有鬱熱深伏於衝任血室之間屆期血動則鬱火亦動心主血主火君火動則五志之火一時焰發故現症種種幾乎無藏不動也乘其血動之時因勢而內奪之必得鬱火清則狂瀾不沸心君泰然矣</p>
<p>犀角尖（七分）　丹皮（一錢五分）　酒製大黃（三錢）　紫草（一錢）　鮮生地（三錢）　白芍（一錢五分）　桃仁泥（一錢五分）</p>
<p>光按案語老煉方亦簡潔</p>
<p>又臟燥漸減秋冬之交竟有三月不大發然稍勞怒輒覺火升鼻乾心神不能自主而帶重腰痠左足易熱經來參差腹痛氣墜色仍紫黑此八脈鬱火尚未清化宜用靜劑專清奇經</p>
<p>鮮生地（三錢）　歸身（一錢五分）　白芍（一錢五分）　驢皮膠（二錢）　丹皮（一錢五分）　川貝母（二錢）　蒲黃（三分）　五靈脂（二錢）　白薇（一錢五分）　西洋參（二錢）</p>
<p>光按此症與金匱之藏燥似是而非此乃血結成燥彼乃血虛藏燥故用藥亦不同</p>
<p>武康錢肌表微寒而熱似瘧非瘧鼻乾有血胃鈍少納脈浮弦數陽部為甚此燥火上薄肺金自秋初至今迄不肯已瓜致便溏是肺與大腸兩金皆困老年豈是輕症況素有失血則氣血俱耗矣</p>
<p>西洋參（一錢五分）　麥冬（一錢五分）　川百合（四錢）　白粳米（一撮）　川貝母（三錢）　紫苑（一錢五分）　驢皮膠（二錢）　枇杷葉（兩片）　款冬花（一錢五分）　炙草（四分）</p>
<p>光按燥為次寒復氣為熱故秋令漸涼則燥氣大行而其字則從火也古來治內燥首推魏玉橫之集靈膏治外燥允推喻西昌之清燥救肺湯</p>

<h1>千里醫案卷三</h1>

<h2>咳嗽</h2>
<p>嘉興陳初起寒熱頭痛咳嗽汗泄明屬風傷肺衛為病奈氣體素虛向有肝鬱今肺既不宣肝必易逆挾飲阻絡上干清陽以致咳逆痰薄左脅引痛舌苔厚白乾而不渴胸脘痞悶不飢少食溺黃而少便乾而堅此飲阻絡痹氣亦膹郁也呃逆頻出咽左激痛甚或氣衝至巔耳鳴頭量此肝陽化風鬱而為熱也總而言之始則外風引動內飲繼則外風引動內風迄今八九日外風將化而痰飲肝風反擾攘不解脈右寸及左三部皆近數急須清金以制木通陽以和飲</p>
<p>西洋參（一錢五分）　九孔石決明（三錢）　陳皮（一錢五分）　海石粉（二錢）　川貝母（三錢）　茯苓（二錢）　白蒺藜（二錢）　竹茹（七分）　杏仁（二錢）　旋覆花（一錢五分）　蛤殼（四錢）　霜桑葉（兩片）</p>
<p>石門吳煩勞陽虛之體加以嗜酒積濕濕濁釀痰故素有善咳腳氣等症今因新寒外襲宿飲內動初起惡寒鼻塞清涕喘咳不得臥痰雖來而氣仍逆上痰氣壅於中濕熱腳氣動於下加之陽素虛而血又動安內攘外何恃毋恐姑擬定喘化痰順氣和絡法</p>
<p>潞黨參（二錢）　驢皮膠（一錢五分分二次入）　冬瓜子（三錢）　川貝母（二錢）　蘆根（五錢）　橘皮（一錢五分）　旋覆花包（一錢五分）　炙甘草（四分）　絲瓜絡（三錢）　雲苓（二錢）　海石粉（二錢）　薏苡仁（三錢）　杏仁（二錢）</p>
<p>又諸恙皆退胃納已增脈象靜小舌色潤澤惟寐後乾咳得湯飲即痰出而嗽已臥時又須倚枕足見風燥之火易劫津氣甘涼濡潤以滋氣存津自是此症要旨擬以前法中再參濡肺胃法</p>
<p>潞黨參（二錢）　驢皮膠（二錢）　麥門冬（一錢五分）　炙甘草（四分）　橘皮（一錢五分）　川貝母（二錢）　鮮生地（三錢）　榧子肉（冰糖拌炒七粒）　茯苓（二錢）　杏仁（二錢）　金石斛（二錢）</p>
<p>南潯錢血後之咳治之本難不過蓄血與虛損之血稍有間耳今進和補陽明法神氣漸旺或可漸圖恢復然治咳正須時日斷難欲速也</p>
<p>潞黨參（一錢）　川貝母（二錢）　茯苓（二錢）　澤瀉（一錢五分）　大熟地（三錢）　黃蔑（一錢五分）　橘皮（一錢五分）　驢皮膠（二錢）　甜杏仁（三錢）　炙草（四分）</p>
<p>平望許初則晨刻咳嘔飲濁久則哮嗽上氣夜不著枕行艱報息頭汗舌膩脈虛凝如毛右部間露弦象既經多年除根不易議和飲通陽平逆定喘法先為禦寒之計</p>
<p>潞黨參（二錢）　陳皮（一錢五分）　蘇子（一錢五分）　五味子　乾薑（一分同搗十粒）　生冬朮（一錢五分）炙草（四分）　海石粉（二錢）　蜜炙麻黃（三分）　雲茯苓（三錢）　杏仁（二錢）　白果（三枚）　生薑（搗竹茹七分）</p>
<p>江寧席易感善咳咳逆痰清此肺氣損而衛外之陽弱也既經多年肺陰已虛以致近年來音氣易澀矣脈虛濡右手兼有小弦之象宜滋肺氣養肺陰時時調理毋使失血失音之流弊</p>
<p>西洋參（一錢五分）　廣橘紅（一錢五分）　紫苑（一錢五分）　白蜜（三分）　杏仁（二錢）　驢皮膠（二錢）　牛蒡子（一錢五分）　糯米（百粒）　川貝母（二錢）　炙甘草（四分）　馬兜鈴（一錢五分）　枇杷葉（兩片）</p>
<p>塘樓毛肺虛失降肝鬱易升胃弱飲聚飲踞於中則外寒一引即動是以咳逆至冬為甚也消渴為肺熱今脈左偏弦舌苔黃厚調郁清肝可望肺胃之陽和而熱可平飲可滌矣</p>
<p>潞黨參（二錢）　法半夏（一錢五分）　旋覆花包（一錢五分）　沉香（三分）　陳皮（一錢五分）　小川連（三分）　代赭石（二錢）　白蒺藜（二錢）　雲茯苓（二錢）　蛤殼（二錢）　蘇子（一錢五分）</p>
<p>新市鄭咳復作痰少不厚時有肝氣左升腹痛得嘔泄始平脈體本弦長今弦兼滑長兼洪左尤甚飲咳本宜甘溫以和之所謂飲家咳不治咳也今既肺降不及肝升有餘甚至痰滯凝血宜從濕痰挾火之例矣</p>
<p>法半夏（一錢五分）　旋覆花包（一錢五分）　蛤殼（三錢）　竹茹（七分）　陳皮（一錢五分）　代赭石（二錢）　小川連（三分）　桑葉（兩張）　茯苓（二錢）　海石粉（二錢）　炙草（五分）</p>
<p>又咳勢較緩痰之厚者仍少脈弦左仍帶滑不過洪滑較減耳舌苔白里半猶黃膩飲咳既久挾濕又兼肝氣當先為清肝化濕以衰其助況時屆濕土亦因時制宜之法</p>
<p>法半夏（一錢五分）　陳皮（一錢五分）　蛤殼（三錢）　海石紛（二錢）　生冬朮（一錢五分）　茯苓（二錢）　丹皮（一錢五分）　小川連（三分）　白蒺藜（二錢）　茵陳草（一錢五分）　桑葉（兩片）　竹茹（一錢）</p>
<p>又咳逆夜甚晨則痰飲較多近加喉糜音欠爽亮脈右較平左仍弦滑寸部尢甚痰飲既未和肺氣失清又挾時令之熱而為喉糜人迎脈盛必有外感非必心陽上亢也宜參金水化痰法</p>
<p>元參（一錢五分）　馬兜鈴（一錢五分）　甘草（四分）　桑葉（一錢五分）　紫苑（一錢五分）　牛蒡子（二錢）　天竺黃（二錢）　竹茹（七分）　杏仁（二錢）　川貝母（去心二錢）　丹皮（一錢五分）　石門陳去夏之陡然吐血當是濕熱蒸傷陽絡絡空則濕熱乘虛而入留釀為飲飲咳至今雖有盛衰究未停息飲之所聚雖由血去絡空而飲之所生實由陽虛濕勝故夏秋胃納雖和而體乏無力右腿時痛也比因新寒引動宿飲身熱汗多咳而兼嘔周身絡痛而左脅為甚且至氣逆胃鈍臥偏著左噯氣失氣便溏溺赤口膩舌白脈象沉弦在手兼數沉弦為飲左數為肝膽虛熱大抵飲踞於胃則右降不及肝膽風木乘胃之虛則左升有餘矣和胃以滌飲平逆以清絡胃和則飲咳可緩而穀氣可覆逆平則絡痛可止而血不妄行</p>
<p>西洋參（一錢五分）　製半夏（一錢）　歸鬚（一錢五分）　海石粉（二錢）　陳皮（一錢五分）　甜杏仁（二錢）　旋覆花包（一錢五分）　竹茹（七分）　雲苓（二錢）　米仁（二錢）　冬瓜子（三錢）　蘆根（八寸）</p>
<p>杭州許咳逆已久的是肺分痰熱未清加以秋陽酷烈肺氣復傷身熱舌乾絳苔厚黃形瘦脈弦明屬濕鬱生熱熱蒸成痰既在肺家只宜清化表不合理補亦壅邪也</p>
<p>西洋參（一錢五分）　橘紅（一錢五分）　連喬（二錢）　桑白皮（一錢五分）　甜杏仁（二錢）　川貝母（二錢）　丹皮（一錢五分）　金石斛（三錢）　甘草（四分）　枇杷葉（兩片）　桑葉（一錢五分）　因鼻衄去桑葉加犀角尖八分</p>
<p>又胃知味而漸思食食後亦和脈小弦大便未暢小便又渾自是濕熱未曾淨盡之症非陽虛之體補壅非宜而濕熱之邪又黏膩難化靜養緩調自可漸臻安善欲速反有弊他</p>
<p>西洋參（一錢五分）　橘紅（一錢五分）　炒穀芽（三錢）　霜桑葉（一錢五分）　甜杏仁（二錢）　茯苓（二錢）　粉丹皮（一錢五分）　荷葉（一角）　金石斛（三錢）　澤瀉（一錢五分）　秫米（二錢）</p>
<p>此方服至便溏暢行泄清熱盡始換後方</p>
<p>又養胃存津清心補肺是此症善後之大法</p>
<p>西洋參（一錢五分）　茯苓（二錢）　白芍（一錢五分）　甘草（四分）　陳皮（一錢五分）　麥冬（一錢五分）　懷山藥（二錢）　蓮子（十粒）　金石斛（三錢）　棗仁（二錢）　穭豆衣（三錢）　南棗（兩枚）</p>
<p>此方服至胃納復舊之後但有精神疲乏可去洋參茯苓穭豆皮加大生地三錢服後妥適可再加阿膠二錢</p>
<p>又秋仲伏氣發病迄今三月餘猶然身熱畏風胃鈍舌刺苔黃口燥脈弦溺黃便溏不爽總屬濕釀為痰痰氣與肝氣相摶阻遏於膽胃之間所以左膺結腫按之覺有痠疼也積久不清竟能成癰宜清肝膽化濕痰埋氣絡法</p>
<p>西洋參（一錢五分）　陳皮（一錢五分）　茵陳草（一錢五分）　澤瀉（一錢五分）　炒山梔（一錢五分）　茯苓（二錢）　川貝母（三錢）　桑葉（一錢五分）　小川連（四分）　蛤殼（三錢）　白蒺藜（二錢）</p>
<p>又細參脈症不但肝膽火升痰氣上阻且有秋燥之邪乘虛而入燥火劫金痰氣膠結愈甚所以無形之病漸致有形左膺之腫病異源同前法五劑後即以此方濡潤通和</p>
<p>西洋參（一錢五分）　驢皮膠（二錢）　鬱金（一錢五分）　炙甘草（四分）　甜杏仁（二錢）　小生地（三錢）　白芍（一錢五分）　蓮子（十粒）　川貝母（二錢）　白蒺藜（二錢）　丹皮（一錢五分）</p>
<p>杭州張肺胃陽虛飲聚為救八九年來舉發無時去春至今竟無虛日痰稠不爽時或嘔痠口燥消渴動輒喘急頭暈耳鳴心悸便急脈右虛弦左沉澀精氣既虛肺咳難化雖根株未易剪除希冀作止有時</p>
<p>西洋參（一錢五分）　阿膠（二錢）　海石粉（二錢）　榧子肉（冰糖拌炒七粒）　甜杏仁（二錢）　桑白皮（一錢五分）　鮮生地（三錢）　川貝母（二錢）　款冬花（一錢五分）</p>
<p>驥村嚴女夏季痰中帶血血雖不多而乾咳至今不止素有便溏嘔酸胃納甚約經行遲而腹痛舌鮮無苔脈數而大此屬脾胃素虛氣血少資生之本本鬱則乘土火炎則爍金久延最易成損調復亦頗難速</p>
<p>西洋參（一錢五分）　陳皮（一錢五分）　驢皮膠（二錢）　川百合（四錢）　大麥冬（一錢五分）　茯苓（二錢）　川貝母（二錢）　白蒺藜（二錢）　懷山藥（二錢）　炙草（四分）</p>
<p>硤石馬自春至今咯血竟無虛月秋仲大吐血血去絡空胃脈逆上遂至飲聚咳逆迄今飲濁日以碗計形寒食少便溏上氣不得臥脈虛滯右滑數上損及中之候調復極難宜靜養緩圖之</p>
<p>潞黨參（二錢）　麥冬（一錢五分）　款冬花（一錢五分）　茯苓（二錢）　法半夏（一錢五分）　海石粉（三錢）　懷山藥（二錢）　蛤殼（三錢）　全福花包（一錢五分）</p>
<p>又血後咳逆至三月餘自然胃脈虛易以逆舉今飲濁雖少而痰濃難出咳逆不得臥便溏脈數而促損症及中本難挽回姑擬靜藥養胃以闔陽明</p>
<p>潞黨參（三錢）　茯苓（二錢）　大熟地（三錢）　蓮心（十粒炒）　香扁豆（三錢）　川貝（三錢）　驢皮膠（二錢）　甜杏仁（二錢）　山藥（二錢）　炙甘草（四分）</p>
<p>杭州吳春初咯血不多越數日咳嗽即作迄今不止右脅背時痛蒸熱舌胖苔黃脈濡左小弦數此屬肺胃濕熱蒸郁傷絡則失血阻氣則作咳也體固氣血兩虛然興利必先除害宜急清養肺胃以和絡止嗽為光毋使久嗽成損</p>
<p>西洋參（一錢五分）　陳皮（一錢五分）　杏仁（二錢）　冬瓜子（三錢）　川貝母（二錢）　茯苓（二錢）　米仁（三錢）　鮮生地（三錢）　桑白皮（一錢五分）　炙草（四分）　枇杷葉（兩片）　蘆根</p>

<h2>血證</h2>
<p>石門顏自幼陽弱腠疏易感善咳去秋至今咳嗽不止遂致失血屢發血症初起原為驚悸尤鬱而來至於咳久則陽絡勃動所以仲冬及仰秋兩次所吐較多也血屢去則陰亦虛身熱晡盛口燥咽痛側左則脅痛側右則氣逆此肝升太過肺降不及自然之理也凡失血家最忌咳況咳久至半年有餘耶今脈象芤虛弦遲尚無燥擾動數之弊然氣血兩虛已有明證惟宜耐心卻慮善自調養期其緩緩熱退嗽止不致延成損性為宰</p>
<p>西洋參（一錢五分）　丹皮（一錢五分）　杏仁（二錢）　川具（二錢）　炙草（四分）　驢皮膠（二錢）　地骨皮（一錢五分）　米仁（三錢）　冬瓜子（三錢）　茅根（五錢）　枇杷葉（兩片）　鮮生地（四錢）　蜜炙紫苑（一錢五分）</p>
<p>杭州周嗜酒之體大便必溏本無足慮過投辛燥熱藥動營壅腑以致鼻血腹脹因脹又進腎氣丸百日腹笥未斂咳嗽反作失血失音脈象弦數氣血乖遠大失沖和矣</p>
<p>鮮生地（四錢）　茜草根（二錢）　蒸元參（一錢五分）　川百合（四錢）　川貝母（二錢）　杏仁（二錢）　鹽水泡橘紅（一錢五分）　驢皮膠（二錢）　甘草（四分）　茅根（八錢）　藕節（兩枚）</p>
<p>平望吳素有咳嗽失血發作無時去冬至今已逾兩旬痰清兼嘔時或帶血左眥赤兩額痛不飢不食食即嘔逆脈弦搏肝陽鬱勃化風化火撓金侮土急宜清息</p>
<p>羚羊角（二錢）　廣鬱金（一錢五分）　杏仁（二錢）　白蒺藜（炒二錢）　炒山梔（一錢五分）　九孔石決明（鹽水煆三錢）　川貝（二錢）　竹茹（薑汁炒一錢）　粉丹皮（一錢五分）　杭黃菊（一錢五分）　蛤殼（三錢）　霜桑葉（一錢五分）</p>
<p>光按既有咳嘔則此種脈症當用清鎮如旋覆代赭等似不可少</p>
<p>盛澤趙去夏瘧後用力勞傷肝膽之絡絡血上溢因形瘦色蒼居平常有頭暈體本陰虛火盛故肝膽易動若是今交初秋屢此復發愈吐愈多濃厚重著將吐之時必先脘下氣聚有形上衝乾咳頭額覺脹迨至血止氣降則噯而矢氣顯屬肝膽鬱勃之火過升無制擾動陽絡之血遂沸騰而出也鬲中作癢大便乾艱氣逆不敢平臥脈象六部皆弦木火內燃有升無降此時自當以平逆鎮肝降氣安絡為要毋使狂瀾不靖致成虛損</p>
<p>旋覆花（一錢五分）　九孔石決明（三錢）　懷牛膝（一錢五分）　驢皮膠（二錢）　沉香（三分酒炒）　白芍（一錢五分）　鬱金（一錢五分）　小川連（三分）　參三七（一錢）　穭豆衣（三錢）　胡麻（三錢）　荷葉（一角）</p>
<p>光按此方之沉香不如易代赭為更穩妥</p>
<p>又血止後諸恙已平惟脘有瘀痞氣逆輒咳便溏不暢舌鮮口燥脈象虛弦肝胃血虛而氣易逆也宜柔劑通養</p>
<p>西洋參（一錢五分）　驢皮膠（二錢）　蛤殼（三錢）　川貝母（一錢五分）　橘皮（一錢五分）　大生地（三錢）　白芍（一錢五分）　胡麻（三錢）　雲苓（二錢）　九孔石決明（鹽水煆三錢）</p>
<p>安吉潘去夏少寐多飲酒熱引動心胃之火以致陽絡血溢秋冬屢發愈發愈多胃絡既空飲食水穀之精微不能遊溢精氣留釀痰濁阻遏升降沖和之氣脈濡如弦弦為飲濡為氣虛而矢所附麗也時當初夏宜和陽治飲為先偏寒偏熱皆非治法</p>
<p>潞黨參（二錢）　茯苓（二錢）　琥珀屑（一錢）　竹茹（七分）　製半夏（一錢五分）　陳皮（一錢五分）　穭豆衣（三錢）　蓮子（十粒）　麥門冬（一錢五分）　蛤殼（三錢）　棗仁（二錢）</p>
<p>光按案諮則一線穿成立方則絲絲入蔻</p>
<p>平望張失血起於前年原屬因傷動絡去冬復發較多今夏五月初咳嗽痰少至秋初寒熱似瘧是先受濕而後受暑暑濕之邪糾纏至四閱月之久自然絡氣不免震動而血復湧溢也今身熱舌黃胸悶便溏喉癢時咳右脅之痛雖止而脈象弦數左甚於右顯屬濕邪由氣分傷及血分肺胃失降則肝陽易升也宜急為通絡化瘀以清人邪俟血止後再商止嗽要法</p>
<p>米仁（三錢）　小川連（三分）　鮮生地（四錢）　茅根（五錢）　杏仁（二錢）　鬱金（一錢五分）　川貝母（二錢）　蘆根（八寸）　冬瓜子（三錢）　茜草根（一錢）　藕節（三個）</p>
<p>又血止後咳勢亦稀稍覺喉癢則咳作而痰為凝夜寐安適胃氣亦和惟潮熱蒸蒸麵黃舌黃渦色渾濁脈右三部虛澀和靜左三部數象亦已退小弦未盡調暢究屬肝鬱不調挾內蘊之濕蒸為熱上熏則食少而咳逆也此時咯血已將安靜可無翻覆湧越之虞但咳嗽已經四月之久必須通腑清濕調肝肅肺務期漸漸熱退咳減為要</p>
<p>苡仁（三錢）　杏仁（二錢）　小川連（三分）　橘皮（一錢五分）　川貝母（二錢）　茯苓（三錢）　炒山梔（一錢五分）　桑葉（一錢五分）　鮮生地（四錢）　丹皮（一錢五分）　飛滑石（三錢）　蘆根（八寸）</p>
<p>又投甘涼淡滲苦降之劑以清養肺胃厥陰之氣以滲濕化熱已二旬餘雖熱減食增咳稀寐安然舌苔後半猶有凝黃小溲猶帶黃色陰囊甚至濕癢淋漓頻轉矢氣蒸蒸凝熱易以汗泄足見其濕熱之鬱蒸於肺胃者非伊朝夕矣今脈得左部遲濡右關尺同惟右寸尚見濡滑晨刻痰咳尚較多且厚喉癢宜滋潤肺胃三焦以理氣化存津氣務使濕熱痰濁漸就清澈則胃納充而體氣復陽虛濕勝之體不可遽進呆補</p>
<p>西洋參（一錢五分）　橘紅（一錢五分）　澤瀉（一錢五分）　丹皮（一錢五分）　蘆根（八寸）　川貝母（三錢）　茯苓（二錢）　甜杏仁（二錢）　炒山梔（一錢五分）　枇杷葉（兩片）　金石斛（三錢）　米仁（三錢）　鮮生地（三錢）　驢皮膠（二錢）</p>
<p>光按舌黃溲黃陰囊濕癢則下焦之濕熱正復不少用藥仍宜兼顧</p>
<p>西雞河沈酒客吐血每發必多已經數年血去既多自然疲憊今秋以來漸增咳逆入夜著枕即咳是胃脈上逆而陽不戀陰也脈右細促數左細弦數論症頗非輕淺矣</p>
<p>大熟地（四錢）　天門冬（一錢五分）　川貝母（二錢）　紫石英（三錢）　麥門冬（一錢五分）　驢皮膠（二錢）　海石粉（二錢）　炙甘草（四分）　大生地（二錢）　甜杏仁（二錢）　茯苓（二錢）</p>
<p>光按血後而咳多致不治蓋血止絡寧不加咳嗆漸可復元若咳嗆不已血絡必致復裂再嗆再吐反覆無常不死不已此等方亦不過盡人事耳欲求有效誠憂戛其難矣</p>
<p>斜橋程肺胃素有鬱熱加以菸酒辛泄耗氣肋熱是以咳久未止又復咯血血雖不多而熱勢夜甚脈右浮滑數頭暈舌黃此屬胃濕因時而蒸動也議清氣絡以消痰化濕除熱為先</p>
<p>米仁（三錢）　桑皮（二錢）　丹皮（一錢五分）　地骨皮（一錢五分）　杏仁（二錢）　瓜蔞（二錢）　川石斛（三錢）　通草（七分）　紫苑（一錢五分）　象貝（三錢）　茅根（四錢）　廬根（八寸）</p>
<p>雙林穆婦經行太早陽明便屬不充去春咯血之後或鬱怒或煩勞輒易舉發今年熱咳時作於今為甚脈弦數舌黃而刺咳嘔便溏又屬肝膽木火挾濕上擾肺胃宜先清氣熄熱莫作揖症用補</p>
<p>桑白皮（蜜炙一錢五分）　西洋參（一錢五分）　橘紅（一錢五分）　炒山梔（一錢五分）　地骨皮（一錢五分）　叭甜杏（二錢）　連翹（二錢）　黃芩（一錢五分）　粉丹皮（一錢五分）　川貝母（二錢）　桑葉（一錢五分）</p>
<p>泗安趙失血屢發已三四年今夏獨多近更咳逆痰稠帶血加以額脹耳鳴頭暈口渴胸悶溺黃脈象芤弦此由肝鬱而致胃熱血虛而復受凝暑也先清暑化氣以理其標徐止其咳以治其本舒郁卻慮尤為靜養之要圖</p>
<p>西洋參（一錢五分）　橘紅（一錢五分）　丹皮（一錢五分）　荷葉（一角）　甜杏仁（一錢）　金石斛（三錢）　茜草根（一錢）　益元散包（三錢）　川貝母（二錢）　鮮生地（三錢）　枇杷葉（兩片）</p>
<p>桐鄉曹吐血起於去夏至今屢發而多多為胃絡之血然不能左臥咳而兼嘔且有滑泄是胃兼肝矣今胃鈍舌白脈右細弦左反虛小而靜脈左靜是血症之佳兆然細弦是肝邪陰脈今偏見於右當是木乘中土胃不降而肝過升以致陽絡之血上溢不止也肝胃皆宜降議以靜藥降之</p>
<p>大熟地（三錢）　白芍（一錢五分）　驢皮膠（二錢）　川百合（四錢）　紫石英（三錢）　紫苑（一錢五分）　潞黨參（三錢）　沉香（三分）　懷山藥（二錢）　蘄艾（一錢五分）　款冬花（一錢五分）　童便（半盞）</p>
<p>又血止後咳逆未罷仍難左臥畏寒是陽虛胃弱偏臥是氣竭肝傷脈微弱神虛怯根蒂未固風浪難經血之暫止不足恃再發深為可尤宜乘平時急為補養</p>
<p>照前方去款冬紫苑蘄艾沉香童便加蜜炙黃耆（一錢五分）　川貝母（二錢）　炙甘草（四分）</p>
<p>光按此亦不治之證</p>
<p>湖州楊顏上年五月咯血不多即有脅痛咳逆遷延至今內熱脈數咳既不止左脅復痛自然絡血復動矣若咳久不止最易成損急宜養陰滋氣先期熱退脅和然後力圖咳止</p>
<p>大生地（三錢）　白芍（一錢五分）　驢皮膠（二錢）　石決明（三錢）　地骨皮（一錢五分）　丹皮（一錢五分）　澤瀉（一錢五分）　懷山藥（二錢）　川貝母（二錢）　茯苓（三錢）　炙甘草（四分）</p>
<p>太湖楊煩勞嗜酒陽虛久矣飲咳年餘冬夏兩次失血先傷氣後動營病勢駸駸入里今氣息短促脈象虛數不免有成損之慮非息心靜養何能充復</p>
<p>西洋參（一錢五分）　杏仁（二錢）　款冬花（一錢五分）　榧子肉（冰糖炒四粒）　川貝母（三錢）　蛤殼（三錢）　炙甘草（四分）　驢皮膠（二錢）　茯苓（二錢）　川百合（三錢）</p>
<p>周渡曹素有噯氣原屬肝鬱去冬勞冗傷肝適當春木發動之初咯血左膺痛止而復作是肝陽未靖時沖其絡脈右虛而靜左弦而大弦為肝陽勃動大則為虛宜柔靜之劑育陰潛陽</p>
<p>大熟地（三錢）　白芍（一錢五分）　女貞子（三錢）　炙草（四分）　驢皮膠（二錢）　牡蠣（二錢）　旱蓮草（二錢）　藕節（兩枚）　紫石英（三錢）　棗仁（二錢）　穭豆衣（三錢）</p>
<p>又去秋咯血後微咳下發臟毒肺火下移大陽咳勢頓止近復吐血經旬所去過多寒熱盜汗口膩舌滑脈芤弦虛數陽絡空洞痰涎蒸聚陽明虛耗極矣急宜充養陽明以為峻補肝腎之先導息心靜養節勞戒怒毋使久延成損</p>
<p>潞黨參（二錢）　陳皮（一錢五分）　懷山藥（二錢）　穭豆衣（三錢）　大有耆（一錢五分）　茯苓（二錢）　川貝母（二錢）　甜杏仁（二錢）　大熟地（三錢）　丹皮（一錢五分）　澤瀉（一錢五分）</p>
<p>嘉興陳前年冬陡然咳嗽吐血過多遂致兩年來咳嗽竟不肯止內熱時寒痰多食少舌光口燥肉削神疲脈象沉細虛數胃腎兩虛虛則成損若能屏棄一切恬神靜養成尚有挽回之望然治法先宜養胃不可紊也</p>
<p>西洋參（一錢五分）　杏仁（二錢）　生扁豆（三錢）　炙甘草（四分）　麥門冬（一錢五分）　川百合（四錢）　驢皮膠（二錢）　榧子肉（冰糖炒七粒）　川貝母（二錢）　懷山藥（二錢）　女貞子（二錢）</p>
<p>又去冬咳嗽而失血血雖不多屢發無已迄今仍有凝血痰薄頭脹消渴汗多時或脘腹痞脹脈弦右甚此胃濕內蒸肝陽上逆因之肺不清肅絡血時動宜清肝胃以理肺務使喘止</p>
<p>西洋參（一錢五分）　茯苓（二錢）　小川連（三分）　丹皮（一錢五分）　陳皮（一錢五分）　杏仁（二錢）　白蒺藜（二錢）　柔葉（一錢）　川貝母（二錢）　蛤殼（三錢）　黃芩（一錢五分）　藕節（兩枚）</p>
<p>又春間肺感身熱咳嗽胸痛以致血症復發嗣後竟似遇節必發者肺絡未為清養也環唇赤瘰亦屬肺胃之火病發則火內擾故外反似退也血症不宜屢發宜先清上脘之䐜脹無慮也</p>
<p>大生地（三錢）　旱蓮草（二錢）　川貝母（二錢）　丹皮（一錢五分）　驢皮膠（二錢）　西洋參（一錢五分）　白蒺藜（二錢）　藕節（兩枚）　女貞子（三錢）　金石斛（三錢）　炙甘草（四分）</p>
<p>吳江許吐血發過兩次止後體無大異今復發每日碗許已旬餘不止微寒而不大熱胸悶能食溺黃肺芤弦虛遲此暑濕蒸郁胃脈逆上絡血隨溢急宜清胃理氣化邪以和絡止血為先</p>
<p>犀角尖（八分）　白芍（一錢五分）　連翹（二錢）　茜草根（二錢）　益元散（二錢）　鮮生地（三錢）　丹皮（一錢五分）　杏仁（二錢）　川貝母（二錢）　紫苑（一錢五分）　藕節（兩枚）　茅根（四錢）　西瓜　翠衣（一錢）</p>
<p>光按此似陽虛證而認為暑濕蒸郁者其得竅在胸悶能食溺黃若脈之芤弦虛遲尚未足為憑也</p>
<p>盛澤汪煩勞多恩慮體本陽虛當此酷暑不耐大氣之發泄加以暑熱外逼肝陽內動以致胃脈逆上陽絡之血驟然湧溢連吐三次去血頗多且易此屬胃血為多與向有失血微有區別迄今半月餘咳逆漸止夜寐尚和其不便左臥及頭量耳鳴等狀皆失血肝虛微有上擾茸診得脈虛濡而靜左手按之良久稍見弦象舌苔滑膩口淡便瀉忽作忽止溺尤短數足見血後陽明空洞厥陰風木易動難熄宜用血脫益氣法和胃熄肝並進</p>
<p>潞黨參（二錢）　陳皮（一錢五分）　炒香扁豆（三錢）　棗仁（二錢）　懷山藥（二錢）　茯苓（二錢）　穭豆衣（二錢）　蓮子（十粒）　川百合（四錢）　白芍（一錢五分）　驢皮膠（二錢）　藕節（兩枚）</p>
<p>胥塘陳婦數年來咳嘔曾無虛日達節必吐血其所以咳嘔吐血者皆屬氣逆之故甚或不能平臥食少內熱經候愆期脈虛澀此衝任不足易致逆舉非僅肺胃為病積年虛症調復不易</p>
<p>大熟地（三錢）　歸身（二錢）　驢皮膠（二錢）　懷山藥（二錢）　枸杞子（二錢）　白芍（一錢五分）　左牡蠣（二錢）　炙甘草（四分）　紫石英（三錢）　川貝（二錢）</p>
<p>餘杭費咳嗽三四年時或失血去秋以來更加便血溏則不多溺渾脈弦大肺胃大腸濕熱蒸郁久而不化陰陽之絡皆傷矣然治咳難而治血易宜先戒酒</p>
<p>西洋參（二錢）　杏仁（二錢）　炒荊芥（三錢）　椿根　白皮（三錢）　川貝母（二錢）　茯苓（二錢）　炒冬朮（一錢五分）　柿餅（半枚）　驢皮膠（二錢）　炙草（四分）　荷葉（一角）</p>
<p>杭州沈肝陽遏鬱郁極上乘衝動大絡則右脅痞悶作痛咯痰如膠時或失血得噯氣與矢氣則稍快素易夢泄亦屬肝腎之熱宜先和絡化滯以防血溢過多</p>
<p>歸鬚（二錢）　旋覆花（一錢五分）　包川鬱金（一錢五分）　荸薺（兩枚）　米仁（三錢）　海石粉（二錢）　漂青黛（一錢）　陳海蜇（二錢）　蛤殼（三錢）　川貝母（二錢）　橘紅（一錢五分）</p>
<p>臨平鐘體肥陽明偏旺幼即患頭痛兼吐痰血近年來酒熱助胃濕火痰濁益甚今春來咳嗽痰血較去秋更劇便難胃鈍氣逆火升豚弦滑數此皆陽明失隊痰火內蘊宜通降宜清養陽已能戒酒可望全愈也</p>
<p>西洋參（一錢五分）　知母（一錢五分）　蘇子（一錢五分）　雞距子（二錢）　煨石膏（二錢）　杏仁（二錢）　米仁（三錢）　枇杷葉（兩片）　川貝母（二錢）　陳皮（一錢五分）　茅根（四錢）</p>
<p>嘉善許向有乾咳氣逆之症每發必咳甚不能平臥向發於冬時為盛此心火凌金之咳既經多年肺胃陽絡受其衝擊久矣當此流火爍金之令絡血妄動煩渴內熾須進甘涼所由至矣今脈芤虛而靜小論症情尚可無礙但肺金素虛心火易熾靜養善調究不可忽</p>
<p>西洋參（二錢）　杏仁（二錢）　川貝母（二錢）　元參（一錢五分）　鮮生地（三錢）　金石斛（三錢）　蓮子（十粒）　枇杷葉（兩片）　驢皮膠（二錢）　益元散（三錢）　藕節（兩枚）</p>
<p>桐鄉孫秋冬咳逆少痰匝月復繼以吐血血後咳逆無故反加胸次隱痛此屬陽虛痰飲內踞久則胃絡血湧血去之後煩勞不能靜養以致痰飲瘀血膹郁中宮今喘咳短氣舌黃脈弦凡胃脈逆上血家大忌論症頗非輕淺</p>
<p>潞黨參（二錢）　陳皮（一錢五分）　沉香（三分）　驢皮膠（二錢）　旋覆花（一錢五分）　茯苓（二錢）　炙草（四分）　參三七（一錢）　炙大有耆（一錢五分）　蘇子（一錢五分）　新絳（一錢）</p>
<p>光按此不治之症方卻清靈可喜</p>
<p>馬窯陳痰飲為咳起於秋季雖經屢次失血甚少至春叉復稍來是春木隱隱勃動上擾陽絡故復連吐三日血去過多凡咳而兼嘔痰薄而稠本屬胃家痰飲為咳咳久則胃脈逆上血熱沸湧所以上越過多今雖脈象靜小而咳引胸痛便難口燥多夢紛紜尚屬陽明氣火上壅未能通降猶恐絡血復動急宜清肺疏腑以化熱安絡為要</p>
<p>西洋參（一錢五分）　杏仁（二錢）　粉丹皮（一錢五分）　米仁（三錢）　鮮生地（三錢）　橘紅（一錢五分）　參三七（一錢）　藕節（兩枚）　犀角尖（六分）　蘇子（一錢五分）　白芍（一錢五分）</p>
<p>上柏李上年夏秋寒熱往來繼以吐血過多痔瘍遂致咳嗽右腹時痛近進附桂等劑咳逆益熾咽痛皆發脈數最防絡血大來深為可慮</p>
<p>小生地（三錢）　西洋參（二錢）　杏仁（二錢）　炙草（四分）　金石斛（二錢）　川貝母（二錢）　陳皮（一錢五分）　白芍（一錢五分）　青皮（八分）　元胡索（一錢五分）　荔子核（兩枚）　嘉興繆每日午後必覺脘痛已十數年矣去春咳嗽起至今吐血後咳逆蒸熱舌白溺黃胃鈍脈虛素來酒多谷少中陽大虛慎勿輕視</p>
<p>潞黨參（三錢）　陳皮（一錢五分）　澤瀉（一錢五分）　炒扁豆（三錢）　懷山藥（二錢）　茯苓（二錢）　蛤殼（三錢）　榧子肉（冰糖炒十粒）　製半夏（一錢）　麥冬（一錢五分）　炙草（四分）　竹茹（一錢）屠鎮朱滑泄舌心光苔膩此屬心胃虛熱濕火下注冬來交節輒見咯血蒸熱溺黃脈濡弦亦屬濕熱蒸郁之象未可遽進壅補反助相火</p>
<p>西洋參（二錢）　陳皮（一錢五分）　粉丹皮（一錢五分）　蓮子（十粒）　金石斛（三錢）　茯苓（二錢）　澤瀉（二錢）　藕節（兩枚）　驢皮膠（二錢）　米仁（三錢）　川貝母（二錢）　茅根（四錢）</p>
<p>光按吐血之證其因多端不可一概施治熱者寒之虛者補之傷者理之肝胃上逆者清之鎮之肺絡咳傷者調養之繆氏三訣頗能扼要</p>

<h1>千里醫案卷四</h1>

<h2>腫脹</h2>
<p>面論孫平叔宮保病案大人體豐胃強飲啖有兼人之量加以節性褆躬誠為松柏貞固矣兩年來腫症屢發其發也腫自下起由足及腹上至頭面手臂甚則痰多食少動輒氣逆不能平臥莖囊俱腫小溲淋漓其退也大都專科以草藥為丸為醴峻劑逐水或從兩足旁溢或從大腸直瀉所用之藥雖秘不肯泄然投劑少而見效速其峻利可知矣且嘗其味辛澀刺喉所當僅似黍米而味留舌本逾時不去則其峻利又可知矣自前年秋冬至今翻覆再四其情狀大略如斯今診得脈象右三部弦而虛其弦見於浮中兩候為多在手因偏倚支撐氣滯益甚皮膚腫厚按之至骨關位微細寸尺尤甚神色痿瘁氣機促逆項以代頭尻以代踵痰稠色黑咯略難出溺少欠利其色黃赤日食不過四五蓋而飯僅得其一雖唇黑缺盆平臍突足心漏背平等惡候俱尚未見且幸神色不衰音吐洪亮然亦疲憊矣夫水腫之為病不一而其為狀亦不一初則日積月盛久必氾濫盈溢來去聚散莫可端倪倏起倏滅與身中之元氣相為倚伏消長屢攻屢退屢退屢復其復也病者咎醫者之治理未明醫者咎病者之調養失宜不知水腫之為病本如是其反覆無常也夫治水之逆行所無事耳疏鑿決排堤防導引皆宜就水之性以順其流源流既須明辨次第尤當詳察稍不如法鮮秦膚功今承明問究厥指歸將正其名則支飲為本皮水為標將究其流則思慮傷脾勞怒傷肝蓋脾不能為胃行其津液則水穀酒醴肥甘不能輸精布氣連中樞以達於四末留釀淫溢皆為痰飲水濁加以肝風鼓盪湧越則所眾之陰濁排驅殼廓胸脅遏經隧壅膚膠以致便溺皆澀寢食俱廢無所不至害有難以盡言者故愚謂蓄而聚者為飲盈而溢者為水飲為水之源水為飲之流非徒逐水可以奏功又必究極其飲非徒滌飲可以了事又必探討其所以聚飲之源況此症又有風木之邪乘間竊發或推或挽乎況又賢勞如此倚毗愛戴如此以六旬之高年困兩載之積患末學淺陋而欲藉箸代籌計出萬全不啻如鱉戴之重矣竭思殫力以圖報稱必將和肝脾開鬼門潔淨府三者雖有主客輕重先後緩急然可遍廢乎脾復其輸運之職肝復其疏泄之常則氾濫者或可循途歸壑湧溢者庶幾風息浪恬今專科投劑逾旬似獲小效而剋期又不迂曠且竊觀其用法亦似小有操縱者敬遵鈞諭徐俟其成效而樂與安瀾之慶再容退而靜思博攻醫籍以備萬一馳驅之用謹論列如左光按抑揚宛轉說理透而論治明非大手筆不能</p>
<p>次日又陳諸藥皆停緣由昨日晉謁竊觀大人色脈神氣皆似憊不可支腫既復盛溺又漸少而鈞諭諄諄與左右侍奉之人似皆以為舍利水之外更無緊要之著而不知水之為病在腎為本在肺為標脾土既無堤防肝風又加鼓湯愈壅愈逐愈逐愈壅馴至中州陸瀋水泉下竭猶復斷除食味屢進疏鑿天下豈有糧餉不繼轉戰無前尚可望其收功末路者乎此蓋由於專科之醫草澤無知守一已之口傳圖僥倖於萬一以治藥藿勞形之法概施之君民倚頓之身效則國之福也不效則雖食其肉猶可逭乎此愚之所以痛心疾首而進停藥之說也夫藥猶兵也不得已則用之以去病耳表散攻逐所以去病也溫清和解所以補偏救弊以適於中也然猶有補益培養之法在即或病未盡去而正已先虛尚有攻補兼施補瀉間進等法參互錯綜馴至於利而無弊從未有病經兩年發已數次不辨病之淺深體之虛實只以峻下一法為可屢投而屢效也差此症之起由飲啖兼人胃強脾弱繼則尤勞過皮氣竭肝傷飲食所入脾不能為胃行其津液上輪於肺下利膀胱通調水道流之壅由於源之塞不探其本而從逐其流豈止鄰國為壑哉將必竭一身之津液血氣盡付沃宜漏卮無當涸可立待故愚以為此時之腫非水也氣也此時之溲澀非水道之不通水泉之已竭也若再守飲食之厲禁進暴戾之刻劑初何異剿寇用兵而無節制則兵反為寇濟師無餉而專驅迫則民盡為讎大人何忍以千金之軀輕供孤注之一擲也然專科之攻伐既不可用矣而補養之劑何以又不亟進差草藥悍烈之性留於中者未必盡化遽以補養之藥接踵而進不但慮其反兵為鬥且恐助其虐而滋其戾夫藉寇兵資盜糧誠不如安堵休兵待時而動之為萬全也擾攘之後相與休息古人有糜粥充養之法伏望大人放下萬緣靜養數日返觀內聽與病相忘頻進糜粥以養其胃侯其胃中衝和之氣稍稍來復灌溉周易濡養百脈充滿然後流動將必有不期腫之退而自退不期溲之利而自利者苟或不然然後審機度勢計出萬全大人之師定能貞吉又或不然則專科草藥仍在也更進而謀之或不慮飢兵之噪矣敬疏諸藥皆停緣由以答明問惟鑑納是幸</p>
<p>光按停藥以待胃氣之來復此等議論可發前人所未發</p>
<p>論楊拙園明經病案胃納稍增大便較潤目是可喜但旬日久病僅投三劑見效必不能多腹脹何能遽減即是右足之痹原屬濕邪阻絡濕是地之氣主陰受於下者必升於上自覺冷者正屬陰濕之邪未化既云陰濕何不用溫熱而反用苦燥乎蓋尊丈體多肝火凡有肝火者雖受陰濕亦易化熱也況病起顴頓陽明部升胃氣反致引動肝脾伏火伏濕由足之絡上行入腑以致腹滿氣逆耳濕以下趨為順脾胃皆以降為和故前日拙方主乎通降腑絡以導濕下趁也凡病機不一有宜投劑輒效者如傷寒卒中暴疾是也有宜緩為調劑者如高年久病以及糾纏傳變之類是也不審病機之宜緩宜急而專以急功欲速鮮有不僨事者務期耐心多服至數十劑外然後換方</p>
<p>光按論用藥之宜緩宜急確是不磨之論但近世人無恆心一二劑不效早已易轍欲求全愈誠非易事故醫者有定識已屬難事病者有堅忍心更為難求矣</p>
<p>湖州王六月初腫自面起漸及腹肢莖囊漸致食減便泄迄今兩月舌黃有刺脈浮而濡經謂腫自上起者當開鬼門腫盛於下者當先治其上蓋言水腫之挾風者必先發汗也今面腫於身是病之主症未退而食減便池則脾胃之土德已薄何以防堤氾濫時已秋矣腫盛必喘若咳逆喉作水雞聲倚息不能臥則肺之通調水道下輸膀胱之權益弛竊恐尤占滅頂既形之腫固難退退亦易復而未形之喘必將至至更難御急須消患於未萌後圖祟土御水之計</p>
<p>蜜炙麻黃（三分）　五味子（十粒）　廣皮（五錢）　豬苓（五錢）　生薑皮（三分）　杏仁（二錢）　米仁（三錢）　黨參（一錢）　澤瀉（五錢）　炙草（四錢）　茯苓皮（五錢）　蘇葉（一錢）　蘆根（八寸）</p>
<p>泗安李前年冬陡覺面浮氣急延至肢體皆腫此因風水為病奈體素濕勝肺既上痹腑亦下滯以致遷延反覆迄今仍然偏體皆腫便溺赤澀不能平臥舌光乾燥脈沉鬱欲疏府必先理氣欲理氣必先宣肺恙腫極最慮喘也</p>
<p>蜜炙麻黃（三分）　杏仁（二錢）　甘遂末（五分）　茯苓皮（四錢）　煨石羔（二錢五分）　乾薑搗五味（十粒）　西洋參（一錢五分）　大棗（兩枚）　炙甘草（四分）　甜葶藶（四分）</p>
<p>此方服至嗿爽痰多凝汗津津漸能平臥接服後方</p>
<p>西洋參（二錢）　蜜炙桑皮（一錢五分）　甘遂末（五分）　枇杷葉（兩片）　橘皮（一錢五分）　豬苓（一錢五分）　商陸根（五分）　絲瓜絡（三錢）　茯苓（四錢）　澤瀉（一錢五分）　木防己（一錢五分）</p>
<p>又腫喘俱減七八微咳便溏氣易上逆脈右濡左弦大凡水腫之症最易翻覆暫效未足全恃此時宜和陽調中為御水之本熄風養肝為因時之制冀其無推波助瀾之弊</p>
<p>潞黨參（二錢）　陳皮（一錢五分）　驢皮膠（二錢）　赤豆皮（三錢）　生冬朮（一錢五分）　茯苓（三錢）　穭豆皮（三錢）　桑葉（一錢五分）　乾薑搗五味（十粒）　丹皮（一錢五分）　炙甘草（四分）　絲瓜絡（三錢）</p>
<p>光按案語謂水腫之症最易翻覆實闊歷有得之言</p>
<p>德清沈咳嗽音窒氣逆數年來易發難已是肺氣之虛痹久矣虛痹則治節不行而通調水道下輸膀胱之職弛而水氣氾濫中土卑濕不能樞連矣況腫喘並盛脈濡舌鮮理宜先理中上慎勿欲速遽投溫熱滋膩有礙脾胃</p>
<p>潞黨參（二錢）　甘草（四分）　大腹皮（一錢五分）　米仁（三錢）　蜜炙麻黃（三分）　陳皮（一錢五分）　桑白皮（二錢）　生薑皮（三分）　杏仁（二錢）　茯苓皮（四錢）</p>
<p>光按當加生石羔</p>
<p>金家□張素體平弱陽虛濕勝營耗肝滯左脅下舊有肝積兼之便溏下血時作時止自十餘歲至今矣其脾胃之不和如此則上既無以資肺之氣下亦無以御肝之侮故入春少寐盜汗是脾陰不充也春抄之能食不為肌膚是脾陽之不用也中樞無健運之權無怪其當濕土之交而驟見腹滿也今脈象濡弱舌乾齒燥肉削肌嬴咳嗽痰氣有音飢不能食便數溺少總之皆脾胃肺氣虛已極健運之權弛而氣化之機廢此臌症之極重者若喘瀉一見便難措手補既壅滯難勝瀉又虛羸不合惟有從宣氣疏腑一法希冀萬一</p>
<p>西洋參（一錢五分）　大腹皮（二錢）　麩炒枳殼（八分）　枇杷葉（兩張）　茯苓皮（四錢）　川貝母（二錢）　炒穀芽（三錢）　蘆根（八寸）　陳皮（一錢五分）　豬苓（一錢五分）　炙甘草（四分）</p>
<p>光按此方太輕當從肝脾著想</p>
<p>石門趙喘雖不盛痰氣尚逆脈濡舌白先咳而後腫先治其肺況腫勢盛於下半明屬濕蒸府痹治腑以理氣為先故專理痰氣之逆</p>
<p>西洋參（一錢五分）　橘皮（一錢五分）　丹皮（一錢五分）　枇杷葉（兩張）　茯苓皮（四錢）　杏仁（二錢）　大腹皮（二錢）　蘆根（八寸）　旋覆花（一錢五分）　桑皮（一錢五分）　川貝（二錢）</p>
<p>南潯王婦去年痎瘧原屬暑濕鬱於氣分阻遏營衛運行之常故時有閏餘之瘧參錯其間至春血阻而經不行自氣痹而腫腫先於頭面及至陰之地至陰厥陰也厥陰為肝肝本與膽為表裡此瘧腫之所由迭起也肝本為風臟交春則風木內動風鼓濕動則頭面先腫也遷延至今濕熱薰蒸於內風陽鼓動於外加以情志或有不調飲食或有不節則清陽升降之機益形窒滯而腫及周身脹至於廢食也頃喉間呼吸有音而領下如垂瘧狀反輕而微時或便乾而數圊溺少而氣穢齒燥口乾舌質砂白脈象左弦數而右沉弦數實臍突背平是又脾肺大失通降之權而肝氣益橫逆矣急須緩劑以理氣平逆為先必得喘汗不至庶乎可望遷延而開生機之一線</p>
<p>旋覆花（一錢五分）　前胡（一錢五分）　雲苓（二錢）　小川連（三分）　大腹皮（一錢五分）　沉香（三分）　紫苑（一錢五分）　生薑皮（三分）　五茄皮（二錢）　橘皮（一錢五分）　桑皮（一錢五分）　絲瓜絡（三錢）</p>
<p>光按此症與瘧迭起仍當用越脾法加減</p>
<p>關王廟吳咳嗽四五月才止春木司令即兩脅走注作痛入秋漸增腹滿足腫筋見青色食少䐜脹脈弦沈附骨此屬鬱怒傷肝痰阻氣痹中滿已成難許見效</p>
<p>西洋參（一錢五分）　陳皮（一錢五分）　蛤殼（三錢）　海石紛（二錢）　桑白皮（一錢五分）　茯苓（三錢）　米仁（三錢）　絲瓜絡（三錢）　大腹皮（二錢）　蘇子（一錢五分）　川貝（二錢）　枇杷葉（兩片）</p>
<p>又上嘔痰飲下瀉瘀血陽明似有通運之機雖飲食稍進脈象稍起而蘊蒸之濕外達為黃內阻為脹滿者豈能易化故論症仍在險途</p>
<p>西洋參（一錢五分）　小川連（四分）　川黃柏（一錢五分）　左牡蠣（三錢）　陳皮（一錢五分）　茵陳蒿（一錢）　雞內金（一錢五分）　生穀芽（二錢）　茯苓皮（四錢）　炒山梔（一錢五分）　炒澤瀉（一錢五分）</p>
<p>光按此亦肝脾兩傷之症□湖李幼有哮嗽近雖不發痰飲內聚阻肺胃升降之氣加以肝鬱不調順乘中土以致入夜腹必攻脹而湯飲香燥皆不能受脈象小弦宜用緩調議通陽滌飲條肝法</p>
<p>潞黨參（二錢）　陳皮（一錢五分）　生冬朮（一錢五分）　枳實（五分）　製半夏（一錢五分）　茯苓（二錢）　炙甘草（四分）　白芍（一錢五分）　青皮（一錢）　澤瀉（一錢五分）　制香附（一錢五分）</p>
<p>平羅王內有煙辛燥劫外有瘡疥浸淫燥濕二氣內外交迫脾胃大失通和之序八月初燥令大行大腸燥金氣膹以致脘腹膨脹疼痛泄利不爽迄今三月脈之關尺猶然弦堅而數取效諒難欲速議通養腸腑以闔陽明為主</p>
<p>潞黨參（二錢）　陳皮（一錢五分）　枳殼（八分）　驢皮膠（二錢）　懷山藥（二錢）　茯苓（二錢）　白芍（一錢五分）　炙甘草（四分）　炒黑荊芥（三錢）　桔梗（三分）　炒槐米（一錢五分）　柿餅半枚</p>
<p>王店張嗜酒煩勞二者皆傷陽氣陽虛者濕必勝況酒易釀濕乎今夏濕土司令之時胃納驟鈍則中陽益虛以致足跗先腫濕盛於下也浸假而至腫勢日上漸及腿髀莖囊腰腹則腫盛於下者當先治其下也腫盛必喘是濕濁上於清陽也今溺少而黃膚腠似癍似瘰似痱皆濕火內蘊之的據況舌胖大而鮮赤陽明亦有火矣脈沉遲宜專以扶陽化濕宗古人病在驅殼經隧者毋犯臟腑之訓緩以圖功</p>
<p>生術冬（一錢五分）　陳皮（一錢五分）　大腹皮（二錢）　商陸根（五分）　木防已（一錢五分）　米仁（三錢）　五茄皮（二錢）　潞黨參（二錢）　赤苓皮（四錢）　甘遂末（五分）　桑皮（一錢五分）　絲瓜絡（三錢）</p>
<p>光掃既曰陽虛濕勝則商陸甘遂總嫌太峻且外見癍疹形則邪已入於肌腠正可用越婢法迎機導之徒用攻下無益</p>
<p>又陽虛不復恣啖生冷中陽受傷上逆為呃下壅為腫汗多食減舌鮮苔黃便乾溺澀少而赤脈沉微遲澀凡陽虛者濕必勝此物理之自熱故水腫之反覆皆當責諸陽虛也第此中有區別焉今陽雖虛而濕又甚一味補陽未免助濕宜用通陽法以調中疏腑冀其呃即止腫緩退切宜樽節飲食毋使壅遏其式微之陽</p>
<p>潞黨參法半夏米仁大腹皮生冬朮陳皮澤瀉廣藿香茯苓皮木防己生薑皮絲瓜絡</p>
<p>又飲食不節驟傷中陽以致呃逆人身之陽宜通運不宜壅遏既陽傷呃作則不能敷布極矣所以水肺舊恙復作凡水腫多門其源不外脾肺腎其治法不外開鬼門潔淨府實脾溫腎今腫由下漸及於上便澀溺少舌鮮苔白脈沉澀喉間痰氣有音啖肥濃有味而杳不思谷其為肺失治節胃不致布顯然此時宜宣肺養胃以調氣化資穀氣為要俾不致水濁上潛清陽日窒而遽增喘逆則可緩冀腫退</p>
<p>蜜炙麻黃（三分）　杏仁（二錢）　乾薑搗五味（十粒）　西洋參（一錢五分）　蜜炙石羔（一錢五分）　米仁（三錢）　茯苓皮（四錢）　木防己（一錢五分）　炙甘草（四分）　陳皮（一錢五分）　枇杷葉（兩片）　蘭葉（十片）</p>
<p>光按方論俱佳</p>
<p>武康方曉帆秋間泄痢時作時止而脾胃蘊結之濕熱究未清化入冬燥邪搏肺肺氣不能清肅則脾胃之承流宣化者益滯以致咳嗽腫滿交作今腹膨妨食夜尤欠運多坐則囊足即腫溺渾便溏不爽脈弦數右甚急宜疏理痰氣以潤其輸運為先</p>
<p>蘇子（一錢五分）　萊菔子（二錢）　五加皮（二錢）　茯苓皮（四錢）　杏仁（一錢）　白芥子（一錢）　大腹皮（二錢）　地骨皮（一錢五分）　生蓄皮（三分）　米仁（三錢）　雞內金（一錢五分）</p>

<h2>痰飲</h2>
<p>長興俞勞郁太過陽淤肝橫順侮所勝久則飲食不能遊溢精氣聚而為飲舉發無時痛嘔交作已經多年脘脅胸背皆為凌□之所駕輕就熟理難驟止舌淡白而黃脈遲弦而虛面黃筋掣主客兩虛矣宜平時用丸以養肝和胃發時用煎以溫中禦侮曠日持久有備無患庶乎有濟矣</p>
<p>潞黨參（二錢）　小川連（四分）　枳實（五分）　桂枝（二分）　生冬朮（一錢五分）　雲苓（二錢）　炙草（四分）　乾薑（四錢）　熟附子（三分）</p>
<p>又丸方</p>
<p>潞黨參（二兩）　大熟地（二兩）　柏子仁（三兩）　蛤殼（三兩）　生冬朮（一兩五錢）　小茴香（一兩）　川楝子（二兩）　海石粉（二兩）　雲苓（二兩）　泡吳萸（三錢）　白芍（一兩五錢）　黑芝麻（二兩）</p>
<p>右共為末棗肉為丸早晚二服每次三錢荔枝橘餅湯下</p>
<p>光按痰飲之症極多此篇句句經驗當熟玩之</p>
<p>大窖沈婦體豐陽虛飲聚氣滯由來久矣交春木氣司令肝膽易動順乘陽明逼動心營以致脘腹攻脹心悸頭暈耳鳴舌光少寐多汗火升足清食減不飢雖痰飲吐咯究難清澈痰火膠結津氣易奪大氣升泄之時尤慮氣火妄動汗液易泄也今脈得寸關濡弦滑數總屬痰火二者交相為病氣即是火平氣即所以清火汗多亡陽斂汗即所以和陽再加滌飲以和胃胃和則啖食漸安而心營自不至妄動肝膽自不至僭擾也</p>
<p>西洋參（一錢五分）　製半夏（一錢五分）　炒枳實（五分）　蜜炙黃耆（一錢五分）　浮小麥（三錢）　麥冬（一錢五分）　煆牡蠣（三錢）　陳皮（一錢五分）　穭豆衣（三錢）　竹茹（一錢）　雲茯苓（二錢）　旋覆花包（一錢五分）　蛤殼（三錢）　生白芍（一錢五分）</p>
<p>新勝朱進通陽飲方法寒熱之狀已退飲咳已減六七然舌苔白膩脈左浮弦右脅隱痛大便僅行一度小便猶然短赤尚屬餘飲宋盡留踞中州以致便溺未能通行肝陽不免易動議仍通陽和飲為主疏腑潤肝為佐</p>
<p>潞黨參（二錢）　陳皮（一錢五分）　米仁（三錢）　炒枳殼（五分）　生冬朮（一錢五分）　茯苓（三錢）　蛤殼（三錢）　竹茹生薑（一片）　同搗（七分）　宋半夏（一錢五分）　杏仁（二錢）　豬苓（二錢）　大棗（兩枚）</p>
<p>新市範髀厭之痛雖由勞傷後因發癍而愈是必有風寒外襲比來肢體畏寒晨起痰飲湧溢食少便堅脘中不和脈來弦滑猶屬寒遏衛陽飲踞中脘之象擬和陽滌飲法以通中州</p>
<p>潞黨參（三錢）　陳皮（一錢五分）　桂枝（三分）　生薑皮（三分）　製半夏（八分）　雲苓（二錢）　白芍（一錢五分）　竹茹（七分）　生冬朮（一錢五分）　炙草（四分）　蘇子（一錢五分）</p>
<p>錢邱範痰飲之聚原由陽虛高年脾胃運化力遲水穀之濕釀為痰飲每每有之如古人三子養親等方雖為治標亦有至理今精氣飲食已復而脈弦有飲亦當實諸脾胃運化之遲時當濕土宜參和胃益脾以助穀氣之運</p>
<p>潞黨參（三兩）　法半夏（一兩五錢）　木香（六錢）　萊菔子（二兩）　生冬朮（一兩五錢）　陳皮（一兩五錢）　穀芽（三兩）　歸身（一兩五錢）　雲茯苓（二兩）　炙草（四錢）　白芍（一兩五錢）　砂仁（一兩五錢）　蘇子（一兩五錢）</p>
<p>水丸晨服三錢服晚四錢蓮子湯下</p>
<p>光按此方通補中陽頗妙丸服更當</p>
<p>石門馬脾胃陽虛易受難運水穀酒醴半釀痰濁循絡旁行則為臂麻或疼溢冒上行則為頭眩氾濫於中道則為咳嘔便溏充斥乎營衛則為汗泄為肢清此皆痰飲之為患也去痰飲之源在補脾和胃節痰飲之流在節飲食今痰飲兼至尚宜和陽之中參以清熱化濕為時在濕土潮令因時制宜之法也</p>
<p>雲苓（三錢）　炙甘草（四分）　小川連（三分）　海石粉（二錢）　桂技（三分）　法半夏（一錢）　蛤粉（三錢）　澤瀉（一錢五分）　生冬朮（一錢五分）　廣陳皮（一錢五分）　生薑皮（三分）</p>
<p>又新涼外束宿飲內動左臂大痛痰飲不多四五十日才得痰少痛緩然身凝熱脈尚沈著餘邪與飲俱未盡化也</p>
<p>雲苓（三錢）　桂枝（三分）　米仁（三錢）　木防己（一錢五分）　生冬朮（一錢五分）　川烏（三分）　陳皮（一錢五分）　炙甘草（四分）　煨石羔（二錢五分）　豬苓（一錢五分）</p>
<p>或痛久而無效者另服活絡丹二分陳酒下</p>
<p>德清胡夏末寒熱咳嗽右脅動即覺痛時或帶血迄今脅和血止而痰多脘痞食少欠連不能平臥脈滑而堅兩關尤甚支飲未和肝陽又逆肺胃益難通降矣</p>
<p>蘇子（一錢五分）　蛤殼（三錢）　海石粉（二錢）　萊菔子（二錢）　西洋參（一錢五分）　陳皮（一錢五分）　白芥子（一錢五分）　花苓（二錢）　杏仁（二錢）</p>
<p>嘉興王向有失血頻發據述情狀自是胃絡怒傷之血今春外感咳久肺傷復致吐瘀近來寒熱咳嗽皆上而動輒氣逆脈堅弦弦為飲堅為肝陰虛陰虛則肝無以養飲聚則氣易上逆也</p>
<p>黨參（二錢）　蛤殼（三錢）　旋覆花（一錢五分）　炙甘草（四分）　陳皮（一錢五分）　白芍（一錢五分）　驢皮膠（二錢）　茯苓（二錢）　澤瀉（一錢五分）　左牡蠣（二錢）</p>
<p>光按案語老煉方亦合拍</p>
<p>海寧封吐血成盆是胃血也胃本多氣多血往秋血症復發胃脈逆舉血動則氣亦動凡胃中蘊結之痰飲濕濁亦無不隨氣以動痰飲濕濁皆陰之屬也故陽為鬱而不敷布則晨起惡風病經半年餘所投無非溫補膩滯則陽益不能通連而痰益聚右脅下漉漉有聲厥氣上逆或痞聚於中或梗塞於內或浮越於肌肉膚膜則不耐起坐仰息沃沫嘔噯食少大便乾溏泄瀉不一小便渾赤而少身處重幃畏風如虎種種具在矣陽虛胃弱則宜通和濕濁內蒸則宜淡滲痰飲內聚則宜滌逐病機如此然久病至此才思振理諒難速效也</p>
<p>西洋參（一錢五分）　陳皮（一錢五分）　豬苓（一錢五分）　白疾藜（二錢）　旋覆花（一錢五分）　茯苓（二錢）　澤瀉（一錢五分）　絲瓜絡（三錢）　宋半夏（一錢五分）　蛤殼（三錢）　米仁（二錢）　薑汁炒竹茹（一錢）</p>
<p>光按此症吐血復兼痰飲溫補柔膩俱在禁例須看其用藥靈動處所謂成如容易卻艱辛</p>
<p>匠人港王癍發數月才退膚腠間尚有瞤惕麻痹痰飲黏膩舌苔黃滑脈象濡弦右部兼滑總之陽明水穀之濕易釀痰濁以致脾肺之輸運難速宜清養肺胃之陰以連脾氣遠剛用柔從秋令也</p>
<p>西洋參（二錢）　穭豆衣（三錢）　陳皮（一錢五分）　米仁（三錢）　驢皮膠（二錢）　懷山藥（二錢）　雲苓（二錢）　秫米（二錢）　川貝母（二錢）　霜桑葉（一錢五分）　丹皮（一錢五分）</p>
<p>周渡曹婦晨刻嘔沫頭運耳鳴由來久矣今年濡瀉自春至秋才止左脅痛漸及左背肋舌苔或黃或灰胃鈍脈濡此痰飲稽留於肝膽之格而為痛前次之瀉亦痰瀉也未可竟作血虛肝病論治</p>
<p>歸鬚（一錢五分）　旋覆花（一錢五分）　鬱金（一錢五分）　茯苓（二錢）　薏苡仁（三錢）　白蒺藜（二錢）　陳皮（一錢五分）　驢皮膠（二錢）　西洋參（一錢五分）　法半夏（一錢）　絲風絡（三錢）</p>
<p>海鹽朱云樵煩勞傷陽陽虛則飲聚現病種種都屬痰飲為病蓋煩勞二字原該勞心勞力而言傷陽二字亦不專指一臟一腑之陽惟其陽虛則水穀之入胃不能遊溢橢氣上歸於脾與肺而通調水道下輸膀胱之常皆乖其度留釀飲濁阻遏清陽不能升降舒連所以先見口淡食減口淡胃陽虛也食減胃氣滯也繼見短氣金匱所云短氣者其人有微飲微者言飲之不多而屬於陽虛也馴致左脅下漉漉有聲按摩之稍若通運是飲聚肝膽部分而漸著其形也加之右腿麻是飲之聚於陽明大絡也左臂痹是飲之聚於旁絡也惟其飲微故無大創惟其陽虛故久不愈然陽虛飲聚原是一貫至於營陰亦虧是體之虛而又虛也迄今經年投劑已多而未見成效者是徒知其虛而漫投補益網絡原野而不知從痰飲入想用補也金匱明明有短氣有微飲者苓桂朮甘湯主之腎氣丸亦主之二條既雲苓桂術甘通其陽何以又贅入復出腎氣丸以納其陰中之陽乎其云亦主之者正示人以智慧無窮而其理又平易切實蓋短氣不獨肺主出氣不足而腎之納氣亦無權矣微飲妨陽自宜宣通微飲挾陰氣而上逆致呼吸不利甚至吸氣短則即宜通九淵下蟄之陽以期龍雷下潛而不致飛騰不妨用奠定系維之法並行也經旨昭明正與此症吻合腎氣之納下不可緩矣其苓桂術甘之治上者尚嫌其力微而功淺且性純陽易動目下冬藏之時固應如是然冬至蟄將動又宜稍以靜藥控制之病之理治之法粗陳梗概如此不過病之由來積漸非伊朝夕未能欲速也宜節勞怒慎起居下數月靜養功夫自可漸期康復</p>
<p>光按說明痰飲原委闡明經旨纖悉靡遺令人一讀一擊節</p>
<p>茯苓（三錢）　生冬朮（一錢五分）　潞黨參（三錢）　桂枝（三分）　炙甘草（四分）　白芍（一錢五分）　陳皮（一錢五分）　五味子乾薑（一分同搗十粒）　大棗（兩枚）</p>
<p>丸方</p>
<p>大熟地（三兩）　淮山藥（二兩）　茯苓（三兩）　丹皮（一兩五錢）　山萸肉（一兩五錢）　淡附子（三錢）　澤瀉（一兩五錢）　桂枝（三錢）</p>
<p>右共為末煉蜜為丸早晚兩服每服四錢淡鹽湯下今有河車山藥之丸或纂入錢許同服至立春止</p>
<p>又來信諸知症漸有退意第起坐仍覺短氣左脅下飲踞如故則飲之根株尚未刻除時屆春令虛陽不免易動宜將腎氣丸中之桂附稍減每晨用淡鹽湯下三錢每晚臨臥用蓮子湯下黑歸脾丸四五錢為春夏之交治法其黑歸脾丸料宜酌之</p>
<p>湖州金本屬陽虛之體酷嗜茶酒久而聚飲時苦右脅痛控引胸背短氣口乾反不渴飲便溏溺澀必吐涎沫腸胃轆轉有聲始得痛止而凡酒家必易聚飲況平時喜甘味今脈亦沉弦則陽虛飲踞無疑矣宜節飲節勞常服甘藥以和之</p>
<p>茯苓（三錢）　生冬朮（一錢五分）　法半夏（一錢五分）　竹茹生薑（同揭七分）　桂技（三分）　炙甘草（四分）　枳實（五分）　生薑皮（三分）　陳皮（一錢五分）　潞黨參（三錢）　大棗（兩枚）</p>
<p>梳妝橋沈身熱不壯經月不解脘痞右逆有形自覺湯飲入胃皆痞滯不運今耳聾舌絳雖退便溏腰痠手足疼間有錯語豚虛澀此屬嗜酒陽微之體痰飲濕濁留踞中宮則陽虛不得敷布及於四末時漸深秋深恐轉痢殊非輕候</p>
<p>潞黨參陳皮法半夏麥冬桂枝木茯苓白芍炙草蘇子蛤殼竹茹</p>

<h2>疝</h2>
<p>軋村顧兩睪丸上控自幼如此則素有筋疝筋疝必易舉而善泄力不能及遠宜結褵多年而未育也脈得左弦且數宜養肝以治疝若亂投壯陽補腎恐反滋夢泄淋滑之弊且此時斷難欲速宜丸以緩調並能節欲尤妙</p>
<p>大生地（四兩）　金鈴子（二兩）　元胡索（二兩）　山萸肉（二兩）　歸身（二兩）　小茴香（一兩）　橘核（二兩）　懷山藥（二兩）　白芍（一兩五錢）　粉丹皮（一兩五錢）　杜仲（二兩）　韭子（一兩）</p>
<p>右藥研末蜜丸早晚各服三錢白滾湯下</p>
<p>嘉興曹腹痛無定時亦無定所攻鳴有聲而無形得噯與矢氣則稍舒經久不已脈沉而澀此屬厥陰氣鬱而為沖疝也宜柔養其體疏調其用久久自可漸愈</p>
<p>大熟地（三錢）　歸身（二錢）　小茴香（一錢）　火麻仁（二錢）　紫石英（三錢）　白芍（一錢五分）　金鈴子（兩枚）　炙甘草（四分）　胡蘆巴（一錢）　橘核（二錢）　青皮（八分）</p>
<p>又沖氣自左上逆俶擾於脘腹胸脅或嘔或痛作止不常已經年許脈左弦舌黃時有寒熱者即厥陰之為病痛苦寒熱也此屬肝陽鬱結聚為沖疝宜滋養肝陰以調其氣</p>
<p>歸鬚（一錢五分）　小茴香（一錢五分）　茯苓（三錢）　吳茱萸（三分）　韭白（兩枚）　白芍（一錢五分）　元胡索（一錢五分）　青皮（八分）　荔枝核（兩枚）　陳皮（一錢五分）　川楝子（兩枚）　橘核（二錢）　海藻（二錢）</p>
<p>洞庭山徐幼患沖疝發則睪丸控引入腹而痛愈後越五六年因瘧致鼻衄衄後脘痛屢發發必由右而上妨食便閉必快吐便行而後漸平此仍屬疝之上逆脈得弦而近數仍宜從疝沖為病論治丸以緩調差久病根深非能速效耳</p>
<p>大熟地（三兩）　歸身（二兩）　青皮（八錢）　吳茱萸（三錢）　荔子核（三兩）　川楝子（二兩）　白芍（一兩五錢）　海藻（二兩）　玄胡索（二兩）　小茴香（一兩）　橘核（二兩）　木香（六錢）　茯苓（二兩）</p>
<p>蜜丸早晚每服二錢陳米湯下</p>
<p>徽州洪狐疝偏右多年矣疝為任脈之病有所觸忤實則下連肝氣虛則內連沖逆今年春初即發腹痛攻逆是二者兼有之矣然治法仍以疝為主</p>
<p>歸身（二錢）　元胡索（一錢五分）　橘核（三錢）　小茴香（二錢）　白芍（一錢五分）　川楝子（兩枚）　青皮（一錢）　荔子核（兩枚）　木吞（六分）　吳茱萸（三分）　茯苓（二錢）</p>
<p>上海楊初冬疝攻腹痛此屬勞倦傷陽飲食阻腑厥陰之氣挾任脈逆行而為痛冬底復感溫邪咳嗽咽乾今口渴舌鮮脈濡弦宜清養肺胃兼調任脈法</p>
<p>西洋參（二錢）　杏仁（二錢）　小青皮（八分）　牛旁子（二錢）　川貝母（二錢）　陳皮（一錢五分）　白芍（一錢五分）　炙甘草（四分）　川楝子（二枚）　蘇子（一錢五分）　元胡索（二錢）　老韭白（一錢）</p>
<p>光按疝症諸方俱妥貼易施</p>

<h2>寒疝宿飲</h2>
<p>平望李症情錯雜歷久迭發不已多屬寒疝宿飲二者為病據述自幼有症疝攻於下必致飲聚於中蓋疝為厥陰之氣頻擾於胃則水穀皆易釀為痰濁二者迭為賓主沖逆於上則眩暈耳鳴咳嘔絡脈阻痹等症皆至矣脈弦滑搏指且曾失血剛藥難投則取效不免難速</p>
<p>蛤殼海石粉陳皮竹茹枳實白蒺藜茯苓荸薺白芍左牡蠣米仁海䖳</p>
<p>湖州婦肝陽鬱勃動必犯胃久則胃氣大傷全失中和之用以致肝之鬱勃者聚而為疝胃之停蓄者聚而為飲疝動於下則飲溢於中所以居常胃氣不振時有厥氣攻逆自下而上懊憹痞滿必嘔吐酸綠之濁飲而後中通便溺漸行此所謂寒疝宿飲互為其病也病經數年宜緩以圖之若得怡神舒郁或可漸愈也</p>
<p>茯苓（三錢）　生冬朮（一錢五分）　吳萸（三分）　乾薑（三分）　桂枝（三分）　小川連（三分）　枳實（五分）　生薑（三分）　白芍（一錢五分）　炙甘草（四分）　法半夏（一錢）　竹茹（一錢）</p>
<p>光接此乃苓桂術甘及溫膽湯戊已丸合成正如淮陰將兵多多益善又寒疝宿飲盤踞於中久而不和陽明大失中和之用今陽漸通降屢次所下黑黃干堅之矢既多且暢則腸腑之蓄積者得以漸去腸通然後胃和此真數年來病之大轉機也蓋飲疝互擾皆在陽明下流壅塞則上流何能受盛傳導盆滿必上溢此理之易明者也今宜專與養胃以充復其受盛傳導之職機不可失正在此時至於痔瘻溺少皆屬陽明為病可一貫也</p>
<p>黨參（三錢）　宋半夏（一錢）　黑芝麻（三錢）　麥冬（一錢五分）　陳皮（一錢五分）　火麻仁（二錢）　刀豆子（三錢）　杏仁（二錢）　茯苓（三錢）　白蒺藜（二錢）　白粳米（一合）　柿餅（半枚）</p>
<p>又病纏三四年至今秋才得腸腑通潤燥結漸來繼以溏潤然後胃肺不至上逆嘔吐止而飲食進可見陽明之病以通為補也今秋深燥令痔必稍愈仍宜柔陽明以期漸漸充復</p>
<p>潞黨參（三錢）　陳皮（一錢五分）　驢皮膠（二錢）　棗仁（二錢）　法半夏（一錢）　茯苓（二錢）　生甘草（四分）　柿餅（半枚）　金石斛（三錢）　麥冬（一錢五分）　秫米（二錢）　荷葉（一角）</p>
<p>光按此二則亦見於冷廬醫話中稱其首方效三易方全愈云云統觀三方</p>
<p>用意不外通陽滌飲</p>

<h1>千里醫案卷五</h1>

<h2>諸痛</h2>
<p>爽浦盧院痛先由繞臍而來去秋至今不暫寧息痛必在下舌鮮而光肺滑而數初由肝木之侮脾自及胃痛既久而藥劑過溫傷氣及絡絡傷便有動血之弊不僅痰氣凝滯已也宜柔劑急為辛溫和絡</p>
<p>酒歸鬚（二錢）　海石粉（二錢）　九香蟲（一錢）　陳皮（一錢五分）　薏苡米（三錢）　蛤殼（四錢）　柏子仁（三錢）　雲苓（二錢）　旋覆花包（一錢五分）　韭白（三枚）</p>
<p>南潯李婦陽虛之體素多痰濕加以操勞悲鬱肝風失調乘陽明挾化風以致脘痛徹背旁及胸脅䐜脹痞噯作止不常然肢面浮脘腹腫是飲溢於外也耳鳴痙搐心懸如飢得食稍緩是風動於中也凡肝升太過必致胃降不及所以大便艱澀而脘痛數月不已也今脈右虛滯左弦數舌苔白膩近燥宜急急通陽滌飲泄肝和胃</p>
<p>西洋參（一錢五分）　雲茯苓（二錢）　旋覆花（一錢五分）　火麻仁（二錢）　法半夏（一錢五分）　陳皮（一錢五分）　蘇子（一錢五分）　竹茹（七分）　生薑（一片同搗）　炒枳實（五分）　炙甘草（四分）　蛤殼（三錢）　桑葉（兩張）</p>
<p>光按此證瓜蔞薤白亦可選用</p>
<p>荻江吳婦腰脊痛自下及於中椎甚則轉側不便肢體漸惰舌黃口燥胃鈍心悸頭眩耳鳴火升汗泄患經半年餘脈象濡弦右關沉滑此屬肝鬱氣滯挾痰阻絡由少陽漸及太陽陽明絡病宜通膩補益滯矣</p>
<p>旋覆花（一錢五分）　米仁（三錢）　木防已（一錢五分）　石決明（三錢）　歸鬚（一錢五分）　白蒺藜（二錢）　茯苓（二錢）　絲瓜絡（三錢）　白芥子（三錢）　陳皮（一錢五分）　蛤殼（三錢）</p>
<p>荻江倪胸背絡痛由夏秋外感發熱而來則為痰氣阻絡明矣至今然後咳逆是痰氣鬱極而欲達也然氣痹久則津燥津燥則痰凝痰凝則絡益痛舌白口乾脈沉全屬氣機壅塞矣</p>
<p>西洋參（一錢五分）　旋覆花（一錢五分）　苡米（三錢）　海石粉（二錢）　小川連（三分）　瓜蔞皮（二錢）　蘇子（一錢五分）　竹茹（七分）　杏仁（二錢）　橘紅（一錢五分）　枳殼（八分）　廬根（八寸）</p>
<p>錢家潭厲當臍時痛耎而喜按食難用飽大便燥結得噯與矢氣則快然痛起上春前年屢經下血而音窒不揚喉粗氣促脈右虛左弦肺胃大腸津氣大虛加以木來乘之宜用柔藥通和不可沾沾治痛</p>
<p>西洋參（一錢五分）　大麥冬（一錢五分）　白芍（一錢五分）　火麻仁（三錢）　柏子仁（二錢）　蘇子（一錢五分）　大棗（兩枚）　炙甘草（五分）　白蒺藜（二錢）　荔枝（兩枚）</p>
<p>光按此症乃虛中夾實用藥尚稱的當</p>
<p>王涇江陳婦脘腹痞滿不能納食食與動輒痛甚拒按便溏脈沉鬱而虛澀投以宣氣通痹宋見大效宜柔劑養肝和胃仿塞因塞用法</p>
<p>西洋參（一錢五分）　橘皮（一錢五分）　大熟地（三錢）　柏子仁（二錢）　黑芝蕨（二錢）　茯苓（二錢）　紫石英（三錢）　桃仁（七粒）　白蒺藜（二錢）　白芍（一錢五分）　石決明（三錢）</p>
<p>光按此症當溫運脾陽以通凝陰</p>
<p>新市範婦氣滯痰凝肝膽脾胃失和久矣邇來脘腹膨痛寢食俱廢便結氣逆脘右癥瘕有形痛作則瘧止是氣擾於中也今痛雖止而脈猶滯舌白膩黃溺未清澈宜通調升降以和之</p>
<p>法半夏（一錢五分）　小川連（三分）　蘇子（一錢五分）　白芍（一錢五分）　陳皮（一錢五分）　乾薑（四分）　柴胡（三分）　雲茯苓（二錢）　枳殼（一錢）　青皮（一錢）</p>
<p>嘉興莫初因便堅下血血燥生風風陽內擾左脅痛連肩背數發不已蒸痰釀濁瀰漫清空堵塞隧絡是以有嘔逆痞滿頭重肢痹也脈沉鬱右甚舌心黃宜滋液息風清氣化痰法緩調久病不可以峻劑劫之</p>
<p>歸鬚（一錢五分）　海石粉（二錢）　白芍（一錢五分）　代赭石（二錢）　米仁（三錢）　胡麻仁（二錢）　旋覆花（一錢五分）　冬桑葉（一錢五分）　蛤殼（三錢）　制首烏（二錢）　丹皮（一錢五分）</p>
<p>另服指迷茯苓丸三錢酒下</p>
<p>南潯汪少腹痛子後午前較甚三月不止加以咳嗽胃鈍舌黃少寐亦已月餘脈右沉小弦左弦大堅肝脾營虛氣鬱故腹痛宜以丸緩治肺胃陽虛飲聚故咳而寢食皆乖宜以湯液和之</p>
<p>粉沙參（一錢五分）　杏仁（二錢）　宋半夏（八分）　枳實（五分）　炙甘草（四分）　雲苓（二錢）　陳皮（一錢五分）　秫米（二錢）　炒穀芽（二錢）　生薑（三分）　姜竹茹（八分）</p>
<p>丸方</p>
<p>大生地（三兩）　川芎（七錢）　小茴香（一兩）　蒼朮　米泔水浸（一兩）　歸身（一兩五錢）　吳萸（三錢）　元胡索（二兩）　白芍（一兩五錢）　炙草（四錢）　制香附（一兩五錢）</p>
<p>又腹痛少減咳倦如故脈兩手皆弦而左尤甚右弦為飲左弦為肝之郁乘脾則環臍痛痛甚於暮是肝膽旺時也肝陽擾肺則咳逆氣急胃不和則疲倦少食也</p>
<p>潞黨參（三錢）　茯苓（二錢）　炒冬朮（一錢五分）　枳殼（八分）　陳皮（一錢五分）　蘇子（一錢五分）　炙甘草（四分）　蛤殼（三錢）　法半夏（一錢五分）　桔梗（三分）　沉香片（三分）</p>
<p>杭州董厥陰之氣橫逆既久陽明水穀不能輸化留釀痰濁益加阻遏善噯矢氣舌黃口苦左脅腹厥氣刺痛無已腸鳴便溏宜用輕劑理痰氣愈補愈壅矣</p>
<p>仙半夏（一錢五分）　陳皮（一錢五分）　蘇子（一錢五分）　小川連（三分）　旋覆花（一錢五分）　茯苓（二錢）　蛤殼（三錢）　刀豆殼（三錢）　海石粉（三錢）　川貝（二錢）　竹茹（八分）</p>

<h2>便血（附腸風痔血）</h2>
<p>永泰姚痔血多年血液虛燥去秋鬱怒閃挫氣血交阻吐瘀後右肋氣滯如塊中挾痰也手指時赤而麻手厥陰虛火亦動也調氣和絡固不可少而病之主尤須以止痔血為先血液充則痰亦不致易滯</p>
<p>黨參（二錢）　旋覆花（一錢五分）　炒荊芥（一錢五分）　烏梅（一枚）　陳皮（一錢五分）　薏苡仁（三錢）　地榆炭（二線）　阿膠（二錢）　雲苓（二錢）　白蒺藜（二錢）　炒槐米（一錢五分）　柿餅煨（半枚）</p>
<p>震澤嚴鼻血痔血肺胃大腸虛燥之也數年來雖有作止然血既時去氣必易滯眩量昏瞀疲軟氣乏便結心精不足陽道不旺此皆陽明之為病蓋陽明虛則水穀之精微不能灌輸諸藏且無以束筋骨而利機關也興利必先除弊以清肺胃大腸為先</p>
<p>西洋參（一錢五分）　石決明（三錢）　知母（一錢五分）　霜桑葉（兩張）　麥門冬（一錢五分）　穭豆衣（三錢）　槐米（一錢五分）　柿餅（半枚）　小生地（三錢）　炒丹皮（一錢五分）　黑芝麻（三錢）</p>
<p>石門陳起初便堅後下血痔墜原是陽明大腸金燥為病此痔血也遷延至三年餘竟無虛日去血過度多陰絡大傷血無統攝有似漏卮肝脾腎三陰俱已枯燥所謂上燥在氣下燥在血氣竭則肝傷血竭則胃涸水穀所入不能敷布粗者凝滯於上釀為痰濁精者滲泄於下迸迫大腸其心悸氣逆近更咳逆是痰將為喘也其便溏日四五度每圊必失血數升脈右芤弦左寸關牢急面黃唇燥舌白如腐是津液氣血皆已告匱矣然痔血腸風究屬陽明本病此時惟宜急急存養津氣以養胃化痰斂澀陰絡以安營止血</p>
<p>西洋參（一錢五分）　橘皮（一錢五分）　驢皮膠（二錢）　大生地（三錢）　糯稻根鬚（三錢）　川貝母（二錢）　麥冬（一錢五分）　椿根白皮（三錢）　炙甘草（四分）　甜杏仁（二錢）　白芍（一錢五分）　炒黑地榆（二錢）　蓮房（三錢）</p>
<p>蔣褸吳多痰多濕之體濕熱下迫大腸痔血五年腸枯血燥大便艱澀異常腸既傳導失職胃之受盛益滯水穀精微半釀痰濁以致中脘結塊有形凡中樞不連則周身脈絡氣機皆阻雖吐痰不少而氣逆足軟心蕩腸鳴神疲等症皆作矣今舌苔黃膩脈右滑數欲和胃化痰必先潤腸養血取效雖難耐心調之可也</p>
<p>西洋參（一錢五分）　蛤殼（三錢）　旋覆花包（一錢五分）　製半夏（一錢）　茯苓（二錢）　杏仁（二錢）　米仁（三錢）　火麻仁（二錢）　麥冬（一錢）　蘇子（一錢五分）　柿餅（半枚）　晚另服清氣痰丸（三錢）</p>
<p>又腸枯血燥胃滯痰凝以致陽明絡脈皆為阻遏今左膝腫痛肩項肘背皆痹急宣潤燥化痰通絡宣痹雖難速效尚不致廢</p>
<p>歸鬚（一錢五分）　米仁（三錢）　木防已（二錢）　煨石羔（三錢）　竹瀝（一茶）　匙薑汁和川牛膝（二錢）　防風（八分）　片薑黃（五分）　鮮生地（三錢）　稀薟草（二錢）　荊芥炒（一錢五分）</p>
<p>王涇江王素體肝陰不足易郁多火所謂木火之質故平日喜進甘涼九秋便溏遽用薑辣燒酒矯枉過正大反其常則大腸既受其燥劫厥陰又助其鬱火以致腸血雜下血色紫黯糞色蒼黃腹中氣聚攻逆亙塞噯與矢氣中仍不快稍有鬱怒則寢食皆乖左眥倏紅唇燥口乾此皆腸血去多風燥火熾之象也凡腸風為病前賢皆主燥論況又挾肝經鬱火而發於秋冬之交其為大腸燥金之病明矣不待論及便乾唇口燥而可決也且本火偏旺之質陽明腸胃津液易被消爍今病幾五旬腸不潤則胃亦虛自然痰飲上溢故口燥而惡湯飲飲反喜溫也此屬久病之兼症又當分別觀之今脈得右虛小而靜左三部皆小弦見數急當養陽明以止血為要血止則肝得養而不致橫逆胃不逆而漸就通和庶乎不至糾纏</p>
<p>米炒洋參（二錢）　陳皮（一錢五分）　茯苓（二錢）　川貝母（二錢）　玟瑰花（兩朵）　驢皮膠（二錢）　白芍（一錢五分）　荊芥炒（三錢）　椿根　白皮（炒三錢）　粉丹皮（一錢五分）　炙草（四分）　白蒺藜（二錢）　柿餅（半枚）</p>
<p>杭州許煩勞飢飽陽氣久虛便血百日營陰又耗以致肝陽挾沖氣上逆手指冷懊憹嘔吐或竟暈厥今診得脈弦關尺欠柔議通陽平逆為主酸甘化陰為佐</p>
<p>潞黨參（二錢）　陳皮（一錢五分）　旋覆花（一錢五分）　蘇子（一錢五分）　生冬朮（一錢五分）　茯苓（二錢）　白芍（一錢五分）　沉香（三分）　炙甘草（四分）　桂枝（三分）　小川連（三分）</p>

<h2>癇厥</h2>
<p>海鹽吳驚氣通於肝肝熱則膽寒而胃不和痰涎沃膽風木內震以致心悸頭眩耳鳴心神不能自主甚或運僕搐搦此皆內風與痰涎搏擊之故也脈象弦小滑宜溫膽以熄風和胃以滌濁病經多年恐難全愈</p>
<p>製半夏（一錢五分）　炒枳實（五分）　粉丹皮（一錢五分）　新會皮（一錢五分）　天竺黃（二錢）　石菖蒲（三分）　炙甘草（四分）　霜桑葉（三片）　穭豆衣（三錢）　雲茯苓（二錢）　竹茹（七分）</p>
<p>塘西勞婦去冬猝發癇症迄今月必數發發在夜昏痙口角血沫必吐痰涎而後醒居平經事不調頭運耳鳴心悸食少脈右芤弦近數此屬肝鬱生風膽虛聚涎猝犯胞絡神明遽蒙宜戒尤郁恚惱緩為圖治</p>
<p>製半夏（一錢）　陳皮（一錢五分）　炙甘草（四分）　大生地（三錢）　竹茹（七分）　天竺黃（二錢）　茯苓（三錢）　西洋參（二錢）　穭豆衣（三錢）　桑葉（一錢五分）　石菖蒲（三分）　枳實（五分）　酸棗仁（二錢）　胡麻仁（二錢）</p>
<p>光按此症當治在血分</p>
<p>又肝鬱生風膽寒聚液夜寐每發癇狀痰涎潮流昏不知人甚或失溲平時脈虛而靜頭痛脊痠耳鳴心悸經事不調前投熄風化痰宋見大效擬養血液以治其本</p>
<p>大生地（四錢）　歸身（二錢）　元參（一錢五分）　石菖蒲（四分）　隨皮膠（二錢）　白芍（一錢五分）　白薇（一錢五分）　棗仁（二錢）　穭豆衣（三錢）　丹參（二錢）　池菊（一錢五分）　桑葉（一錢五分）</p>
<p>宮衖口宋前年夏怒氣傷肝肝膽風木挾痰火內擾致發癇症迄今二年餘其神呆善怒默處寡言多吐乾嘔等症雖皆滅而未淨盡近月來神思困倦飲食少進大異常時脈遲弱虛澀惟右寸獨大舌苔滑白邊白胖中心黑膩微寒而熱乾咳耳鳴心虛少寐手臂動即振掉此又有風燥之火上刑肺金中劫腸胃宜暫進滋肺養胃泄風化燥方法以化客感</p>
<p>西洋參（一錢五分）　陳皮（一錢五分）　杏仁（二錢）　丹皮（一錢五分）　製半夏（一錢五分）　茯苓（三錢）　川貝（二錢）　枳實（五分）　池菊（一錢五分）　天竺黃（二錢）　桑葉（一錢五分）　竹葉（七張）</p>
<p>善連孫素有痰火風發癇厥居平眩悸耳鳴消渴便難肺胃津氣既虛則痰濕愈益凝聚今濕令氣蒸胸次欠舒知飢不運足痠脈滑乾咳音澀宜滋養肺胃津氣以化痰濕</p>
<p>西洋參（二錢）　杏仁（二錢）　驢皮膠（二錢）　赤茯苓（三錢）　川貝母（二錢）　橘紅（一錢五分）　煨石羔（三錢）　霜桑葉（兩片）　火麻仁（二錢）　米仁（三錢）　天竺黃（二錢）</p>

<h2>瘧疾</h2>
<p>雙林馮先覺寒熱模糊嘔吐殊甚繼則瘧伏分明先參差後間日總計已旬有餘日昨瘧來寒戰而熱甚竟日始平汗多消渴額脹胸悶脅痞煩冤疲憊大便越數日一更衣堅硬色黑小溲赤熱而不多舌質紅而苔凝白脈濡長而數此屬暑熱之邪由少陽直迫陽明陰痹三焦幸得戰汗暢達雖痞悶煩冤而不致十分糾纏宜辛涼清解陽明可望漸愈也</p>
<p>西洋參（一錢五分）　知母（一錢五分）　半夏（一錢五分）　竹葉（十醜片）　橘皮（一錢五分）　煨石羔（一錢五分）　白蔻仁（五分）　荷花露（一匙分二次沖）　赤苓（三錢）　杏仁（二錢）　益元散包（三錢）</p>
<p>嘉興宋中年以後不免勞鬱則形氣易虛今秋因感作瘧所感者濕故胃易鈍氣易滯舌黃脈濡陽事不充皆陽明濕困宜先和陽明以祛弊後商培補以復元</p>
<p>潞黨參（二錢）　陳皮（一錢五分）　澤瀉（一錢五分）　蓮心（十粒）　大有耆（一錢五分）　茯苓（一錢五分）　黃柏（一錢五分）　鮮佛手（一錢五分）　廣藿香（一錢五分）　米仁（三錢）</p>
<p>歸安吳伯塤上年秋季發疲瘧糾纏至今雖去年間有參差然內蘊之濕迄不能解甚至腫滿且發瘡痍蓋陽虛之體陽益虛則濕熱益不能化況瘧為經邪留連而暑濕之瘧又屬陽明多而少陽少陽明屬腑每多經邪傳腑內阻氣化外遏肌肉隧絡浸淫漫衍無處不到為腫為脹皆勢力之必至也今脈得虛澀似弦舌質光紅不但陽為濕困兼之津液亦漸消耗急須存津液和氣以為自強之本佐以開太陽闔陽明以止瘧消腫必得病魔漸退不致拖延到長夏濕土之時方可免陳陳困積之弊</p>
<p>潞黨參（二錢）　生冬朮（一錢五分）　茯苓（二錢）　桂枝（三分）　絲瓜絡（三錢）　炙甘草（四分蜜炙）　石羔（二錢五分）　五味子（十粒）　乾薑（一分）　同搗生薑皮（三分）　製半夏（一錢五分）　麥門冬（一錢五分）　豬苓（一錢五分）　澤瀉（一錢五分）</p>
<p>烏鎮周念九日竟得寒戰而熱則暑邪已有外達之機蓋戰則邪與正相持而可畢達況間日又作瘧狀則暑當無不達矣其熱甚時之昏沉譫語是暑中夾濕之濁邪礙清也暑欲去則濕亦不能獨留而其濕流連於腸胃之間者既久且未免夾食夾痧所以腸腑之氣奔迫而下夾溏夾痰夾血或多或少腹痛滯下且有乾黑之宿垢亦漸錯雜而來則濕亦有下泄之機矣暑濕之為瘧為痢皆三焦主病脈得左遲濡右較大而見流利舌黃燥紇而不渴胸脘寬舒而納食無味甚少頻轉矢氣論舌與脈則大腸猶有宿垢留滯宜疏腑化滯專與理氣俾宿垢去而氣化調則胃當漸醒</p>
<p>杏仁（二錢）　黃芩（一錢五分）　建面（一錢五分）　益元散包（三錢）　陳皮（一錢五分）　枳殼（七分）　鮮石斛（三錢）　茯苓（二錢）　銀花（三錢）　鮮佛手（一錢五分）</p>
<p>又昨日仍有瘧狀神氣尚為清淨大便連下黑溏數次甚多後雖似痢非痢而腹痛從重亦微稍能納粥脈得濡而微弦非必瘧邪在少陽之弦非必乘土之弦不過澀滯去而漸有流利之機也然舌心苔猶老黃且厚口渴溺少上噯下轉矢氣顯屬腸腑宿滯與濕濁尚未淨盡阻其氣機故耳疏滯化濕是為要圖</p>
<p>建面（一錢五分）　茯苓（二錢）　金石斛（三錢）　鮮藿香葉（三張）　枳殼（八分）　澤瀉（一錢五分）　炒穀芽（三錢）　佛手片（一錢五分）　陳皮（一錢五分）　山梔（一錢五分）　益元散包（三錢）　荷梗（八寸）</p>
<p>三診感症初平遽爾啖飲衣單且思出房未免欲速太甚當此大氣升泄濕熱蒸騰之際即強壯無病亦須加意調護以防客氣之侵況體虛病後乎五六日來忽寒忽熱熱時煩冤嘔惡消渴喜涼兩額筋掣耳鳴面赤汗出涔涔甚至神昏錯語熱退則肢冷引衣自覆此皆濕熱之邪鬱蒸未化阻遏氣腑充斥三焦故唇燥齒乾舌苔或干或潤而黃苔究未肯退噯悶䐜脹寢食俱廢脈得弦大而數分觀之似乎肝膽腸胃者病且似虛實混淆其實三焦濕熱為病如是耳虛弱之體平時極宜小心既病不可躁急則病不易受而重者輕矣</p>
<p>西洋參（一錢五分）　小川連（三分）　通草（八分）　橘皮（一錢五分）　紛丹皮（一錢五分）　石菖蒲（三分）　赤苓（三錢）　炒山梔（一錢五分）　佩蘭葉（七片）　鮮石斛（三錢）　鬱金（一錢五分）　蘆根（八寸）</p>
<p>歸安徐初起寒熱不常而咳嗽較盛繼以間日瘧狀四作寒熱俱甚嘔逆汁多便溏或瀉咳痰濃而黃舌苔白膩粗厚脈象弦滑之中反似有力可見初起原是新涼引動伏飲因素體多痰聚飲蓄之既久則出之必多阻遏肺胃則寒熱交戰即所謂無痰不成瘧也今據脈象痰飲之留於中者尚多必須緩為清化毋任逗遛致生他變</p>
<p>鈐羊角　杏仁　川貝母　炒黃芩　天竺　黃橘　紅西洋參　枇杷葉　姜炒　山梔　雲苓　宋半夏</p>

<h2>痿躄</h2>
<p>雙洋伍初夏寒熱原屬濕熱為病濕阻氣絡則足腫濕釀痰濁則效嗽糾纏半年濕仍不化足痿肉削內熱神疲二便艱澀濕病延至秋深又兼燥氣劫津痿躄益深矣</p>
<p>西洋參（一錢五分）　麥冬（一錢五分）　米仁（三錢）　稀薟草（二錢）　小生地（三錢）　玉竹（二錢）　木瓜（一錢五分）　川柏片（二錢）　黑芝麻（三錢）　丹皮（一錢五分）　首烏（二錢）　忍冬藤（四錢）</p>
<p>光按太少通絡之藥</p>
<p>雙林劉陽虛積濕體肥多痰濕熱內釀則大筋軟短小筋弛長而痿躄矣其所由來非伊朝夕酒容便燥即是見端即須通養陽明腑絡並調脈濡右滑慎勿雜投熱補表散之劑</p>
<p>木防己（一錢五分）　桂枝（三分）　苡木（三錢）　製半夏（一錢五分）　生石膏（二錢）　橘皮（一錢五分）　歸鬚（一錢五分）　川牛膝（二錢）　西洋參（二錢）　茯苓（三錢）　竹瀝（半匙）　薑汁（數點）　絲瓜絡（三錢）</p>
<p>海鹽楊咳嗽半年餘冬至節一陽勃動卒然腹痛加以咽痛音啞足跗腫痛不能履地此即肺虛極而子來救母所謂肺熱痿躄肺小弦促數急須養肺陰為要</p>
<p>驢皮膠（二錢）　炙草（四分）　知母（一錢五分）　大生地（三錢）　馬兜鈴（一錢五分）　杏仁（二錢）　米仁（三錢）　川黃柏（二錢）　牛蒡子（二錢）　川貝（二錢）　枇耙葉（兩片，去毛）</p>
<p>光按此即內經肺熱葉焦發為痿躄之謂亦即上損及腎之象用藥雖中已恐鞭長莫及矣</p>
<p>吳樓於素體陽虛濕勝濕釀成痰易汗畏風又有腸痔可見陽虛者陰亦不足也今夏軟腳而腫滿而赤便澀濕當滲導使之下趨得溫之運得補之壅則濕反隨氣蒸騰而上脈症參看不但慮其成痿且慮其成腫急宜疏通陽明腑絡</p>
<p>於朮（一錢五分）　米仁（三錢）　木防己（一錢五分）　煨石羔（一錢五分）　豬苓（一錢五分）　桂枝（三分）　大腹絨（二錢）　絲瓜絡（三錢）　澤瀉（一錢五分）　陳皮（一錢五分）　茯苓皮（四錢）</p>
<p>光按此乃濕熱壅滯將成痿象與上痿症截然兩途比而觀之可益人智烏鎮李足腫而軟步履維艱兩手大指亦皆微痹溺澀而黃時有氣逆脈浮濡滑此陽明濕痰蒸熱氣絡皆弛而為痿躄也去夏會發今又三月矣急清陽明以化通之</p>
<p>生冬朮（一錢五分）　米仁（三錢）　川黃柏（一錢五分）　真茅朮（七分）　木防已（一錢五分）　澤瀉（一錢五分）　川萆薢（二錢）　稀薟草（二錢）　煨石羔（二錢）　秦艽（一錢五分）　赤茯苓（三錢）　絲瓜絡（三錢）</p>
<p>嘉興汪先覺左足中指斜外側之筋痠疼馴致兩足皆痿軃曳不良於行者已兩年除脈沉遲便難舌微白此濕熱鬱於肺胃而成痿躄也肺病則治節不行故痰多而不耐右臥胃病則大筋軟短小筋弛長日久病深難望全愈若得扶杖徐行庶可逍遙晚歲矣</p>
<p>西洋參　米仁　木防己　煨石羔　驢皮膠　歸鬚　稀薟草　川黃柏　川牛膝　木瓜　知母</p>
<p>光按此乃筋痿已成痼疾只許帶病延年若窮治之而用峻利之藥必致傷生吾見實多</p>

<h2>痹</h2>
<p>大河施謙山痹痛起於長夏愈而復作今又月餘初起手足關節等痛而且腫此固痹也濕甚於風則兼腫前賢謂風寒濕三氣臺而為痹又有行著痛三痹之別可知痹症中必當細辨也今諸處皆愈惟左膝猶腫攣而難伸膕外側之筋時或掣痛聞木聲亦痛此痹在陽明而兼少陽也舌黃不渴胃鈍少納易汗脈濡澀濕盛於風顯然矣宜專治陽明以通絡化濕兼治少陽以養絡熄風冀其速效不致糾纏成疾</p>
<p>潞黨參　川牛膝　威靈仙　酒炒歸鬚　生冬朮　木防己　秦艽　川黃柏　苡米　稀薟草　木瓜　丹皮　忍冬藤　桑寄生</p>
<p>光按此等證近世多謂之風雜用白花蛇蜈蚣等毒藥益以燒針致陰津劫盡反成痼疾者比比皆是</p>
<p>塘棲伊先腰脊痛兩腿惻廉後復聚於右肩胛及右臂外側上行部位皆在陽經且遊行上下者為風痛有作止而閃挫震動輒甚者為痰痰阻乎陽明少陽之絡宜通絡化痰為主毋事多歧病經半年雜藥亂投雖有中竅之方恐難速效耳</p>
<p>羚羊角（一錢五分）　丹皮（一錢五分）　鉤藤（三錢）　片薑黃（五分）　當歸鬚（二錢）　橘紅（一錢五分）　枳實（五分）　天竺黃（二錢）　米仁（三錢）　桔梗（三分）　桑葉（一錢五分）　忍冬藤（五錢）　指迷茯苓丸每服五錢早晚二次陳酒送下</p>
<p>光按此方用羚羊丹皮以清少陽佐鉤藤桑葉以祛風枳實竹黃橘紅米仁以通絡蠲痰引以薑黃忍冬桔梗復以茯苓丸以化肩臂之痰面面俱到</p>
<p>新市高煩勞傷陽陽虛氣痹升降不和脈絡滯痛痛自左肩下至右腰及尻且作止不常嘔逆頭疼舌黃便結是病在氣絡矣和陽平肝通絡化痰未可專用太陽之藥</p>
<p>茯苓　米仁　川連　姜　竹茹　桂枝　旋覆花　陳皮　絲瓜絡　生冬朮　歸鬚　獨活　晨服清氣化痰丸三錢鹽湯下</p>
<p>新塍卜濕熱之邪混雜三陽迄今旬日雖壯熱神昏身痛等症俱退而邪勢留經入腑膀胱氣痹少腹高突拒按小溲淋瀝大便閉結所謂邪犯太陽之本已成胞痹矣脈來弦滑宜急急宣通少腑以防濕濁陰邪上逆喘脫</p>
<p>豬苓（一錢五分）　生冬朮（一錢五分）　澤瀉（一錢五分）　木防己（一錢五分）　茯苓（一錢五分）　小川連（三分）　桂枝（三分）　飛滑石（三錢）　木通（一錢）　車前子（二錢）</p>
<p>光接此五苓加味若勢急可先用蔥白熨法及墨臍法頗獲捷效</p>
<p>又大小便雖俱通然宿矢未盡胞痹未平舌黃脈右弦實仍宜通利猶在險途</p>
<p>照前方去木通滑石車前加煨大黃（二錢）　枳殼（八分）　桃仁（十粒）　薤白（一錢）</p>
<p>嘉興陸婦在脘右膝痛腫甚於他處痛屬風腫屬濕屬熱未可執定前賢風寒濕三至成痹論治也體肥必多濕必畏熱當此濕熱鬱蒸之時稍感風邪則痹痛作矣迄今兩旬投羌桂輒作咽痛而胃鈍便溏身動則痛劇馴致頭痛肢體發熱口乾舌燥有裂紋苔黃氣蟲驚惕少寐兼有錯語自覺神思不清脈右滑大而數左弦數其為陽明熱痹痹在脈絡不在筋骨明矣痹既在絡脈則軀殼之病雖重無礙今熱的陽明內偪心胃則高年豈可輕視右滑大顯屬濕釀成痰胃熱及肺急宜滋肺胃養心營以化熱化痰為要因症施治不致痰熱內蒙則吉</p>
<p>西洋參（二錢）　鮮生地（三錢）　米仁（三錢）　霜桑葉（兩片）　木防己（一錢五分）　羚羊角（一錢五分）　丹皮（一錢五分）　蘆根（一尺）　煨石羔（二錢）　天竺黃（二錢）　川貝（一錢五分）</p>
<p>光按先賢論痹多謂風寒濕三氣雜合但近世所見者多風濕熱良以初手多用羌獨桂枝益以燒針即有寒邪亦已化熱</p>
<p>湖州汪左臂痛止後右手脘及左足腫痛此名流火乃濕熱阻遏陽明之絡非傷科病也濕熱阻腑所以舌黃便乾胃鈍今脈弦數急宜疏腑以化濕熱</p>
<p>歸鬚（二錢）　木防己（一錢五分）　赤苓（四錢）　片薑黃（五分）　米仁（二錢）　小川連（三分）　丹皮（一錢五分）　稀薟草（五分）　絲瓜絡（三錢）　牛膝（二錢）　煨石羔（三錢）　五加皮（二錢）　忍冬藤（四錢）</p>

<h2>咽喉</h2>
<p>論裘哲文病案頃奉來教所述咽痛而腫飲食皆妨燥咳或嘔聲啞痰黏的是外感時行之邪郁遏太陰上焦不得宣化計必有蒸熱惡風煩躁發斑之類書中言之未詳弟遵諭擬上一方乞即進服並再與省中精於時感者熟商之此時病狀斷非吾兄舊恙所致幸勿牽纏同論必得喉之痛腫全退而後諸症隨解也今春來杭嘉湖蘇松數郡此症偏多的系時邪俗名為喉風癍疹務須輕劑宣透清陽苦辛涼散溫燥膩補皆在禁例務祈審慎</p>
<p>吳家兜張胃氣稍醒聲音略爽脈左部弦數右部尺同而寸關皆見虛弱前方通補脾胃腎服之頗投絕無飽脹膩鬲之弊惟藥飲到咽輒覺刺痛且咽痛左右不同而隆冬不喜暖帽臥喜著左涎沫時溢寐則口涎自流身凝熱口燥便難似乎津液之虛燥火之炎不獨陽明且多太陰症矣合觀脈象則竟屬秋燥之氣劫為多肺熱痿躄固亦足慮也議清燥救肺為主養胃存津為佐再圖緩效</p>
<p>西洋參（一錢五分）　蜜炙石膏（二錢五分）　驢皮膠（二錢）　川貝母（二錢）　枇杷葉（兩片）　火麻仁（一錢五分）　蜜炙黃耆（二錢）　大熟地（三錢）　炙甘草（五分）　麥冬（一錢五分）　杏仁（二錢）　淡秋石（二錢）　桑葉（兩片）</p>
<p>雙林王喉癬初發時原屬太陰肺金氣燥津傷遷延半年肺既虛耗子必救母未免少陰之火上炎矣痰涎湧溢食物梗澀吐納大堅餉這先絕脈弦而數勢頗可尤惟宜返視內聽屏除一切再以靜藥滋養金水希冀獲效</p>
<p>大生地（三錢）　阿膠（二錢）　小川連（三分）　炙甘草（四分）　西洋參（一錢五分）　天冬（一錢五分）　淡秋石（二錢）　雞子黃沖（二錢）　大麥冬（一錢五分）　紫苑（一錢五分）　川貝母（二錢）</p>
<p>長興周喉癬紫筋牽絡蒂丁赤痿食後少腹脹廚後溺孔有精莖中掣痛腎臟風脈搏數陰液不足肝腎虛火遊行上下有失血溺血之慮尚敢以火濟火急急加數月靜養功夫以涵養之</p>
<p>元參（一錢五分）　小生地（三錢）　川黃柏炒（一錢五分）　知母（一錢五分）　澤瀉（一錢五分）　淡秋石（二錢）　龜板（二錢）　丹皮（一錢五分）　女貞子（三錢）　甘草梢（六分）</p>
<p>神墩僧先喉中介介繼以咳嗽音啞而痛痰來日以碗許近更吐血喉間臭氣嘖溢迄今年餘脈浮大數右手為甚此內喉癰也病不在咽故納食無大礙然高年肺氣大耗豈能無慮</p>
<p>鮮生地（三錢）　紫苑（一錢五分）　炙草（四分）　枇杷葉（兩片）　驢皮膠（三錢）　元參（一錢五分）　牛蒡（二錢）　茅草根（二錢）　馬兜鈴（一錢五分）　川貝（二錢）　杏仁（二錢）</p>
<p>光按喉科之症吹藥第一湯藥次之</p>

<h2>癰瘍</h2>
<p>烏鎮潘初起惡寒咳引左脅痛痰蒲原是寒鬱肺衛氣絡阻痹即是傷風重症葦莖湯等可解也奈邪郁不解而為肺癱吐膿至今已經月餘猶然氣穢色濁周身汁泄陣嗽或嘔胃納頗少脈象虛小而弦凡肺癰咳吐膿血每症如是猶不足怪所慮者久不得寢汗多食少耳此時以咳嗽爽利為要且須汗斂食增庶乎無慮</p>
<p>西洋參（一錢五分）　米仁（三錢）　茯苓（三錢）　甘草節（五分）　橘紅（一錢五分）　冬瓜子（三錢）　鮮生地（四錢）　茜草根（一錢）　杏仁（二錢）　川貝（二錢）　百合（三錢）　葶藶（四分）</p>
<p>烏鎮鄭肝胃鬱火上擾左上齦齒痛數月不止致成牙癰潰逾兩旬腫痛雖減膿從鼻齶來尚未盡甚至頓車不舒脈弦且勁咽梗便燥急當息慮戒怒以靜養肝胃法調之</p>
<p>大生地（三錢）　白芍（一錢五分）　麥冬（一錢五分）　骨碎補（三錢）　桑葉（一錢五分）　石決明（三錢）　丹皮（一錢五分）　池菊（一錢五分）　忍冬藤（四錢）　西洋參（二錢）　阿膠（二錢）　胡麻（二錢）　青鹽（三分）</p>
<p>泗安許素來體肥多痰上年春夏痰出遽少此非生痰之源遽清乃氣化之郁也鬱極則生火所以季秋先覺咽痛左耳前後痛繼見上齶腫後且左頸頦亦腫此必鬱怒勞心之故故少陰心手少陽足厥陰肝膽之火勃動於中上炎清空則內郁之痰亦因火之勢上壅絡脈而致內外皆腫至於此極也迄今已閱四月然正其名則咽齶之腫是上齶癰也蔓延於外左側頸頜之腫上至額顱右及願頰堅硬不痛是馬刀俠纓也病之源雖一而症之象有二此姑不俱論但近來吞吐日艱飲食日少腫勢日盛精氣日削投治之要首重餉道議補議清皆屬迂圖然脈得小弦數而沉滑夫小為氣虛氣虛則痰益難化數為血虛血虛則火益難清況弦為木火沉滑為痰伏在裡故上齶色紅舌根腫強舌苔滑白清涎黏膩咯之欠利便結溺赤都屬無形之火與有形之痰膠固煎灼加城狐社鼠之盤踞矣症情既已如此而斡旋之法自必擇其要且急者而先圖之其先則莫要於先通餉道欲吞吐得利則勢不出乎上齶之潰膿或膠固之痰火出外舍此二者轉機雖有恐緩不及時耳謹擬煎散並進法庶幾治痰不偏乎燥峻清火不致乎膩滯然恐輊材不能勝此觀鉅</p>
<p>潞黨參（二錢）　陳皮（一錢五分）　川貝母（三錢）　天竺黃（二錢）　犀角尖（八分）　茯苓（二錢）　驢皮膠（二錢）　羚羊角（一錢五分）　海石粉（二錢）　蘇子（一錢五分）　夏枯草（二錢）　另海藻白礬二味等分斫細臨臥用白梅食鹽各少許泡湯乘熱調藥末二三錢送下</p>
<p>澉浦陳初因痰氣凝聚腹右有塊隱見不常或微痛閱半年餘而竟潰膿似腹皮癰迄今又復半年末斂脈小弦近數總之不治痰氣因循至此耳</p>
<p>小生地（三錢）　歸身（二錢）　茯苓（三錢）　白芍（一錢五分）　潞黨參（三錢）　丹皮（一錢五分）　米仁（三錢）　絲瓜絡（三錢）　白蒺藜（二錢）　橘皮（一錢五分）　蛤殼（三錢）</p>
<p>長興朱肝脾腎三陰皆虧之體故居常有夢泄痰多左膺跳痛等症蓋虛則痰火易生近來頸癧串發咽乾蒂丁下垂脈濡弦數宜清理浮游之痰火以消頸癧為先</p>
<p>小生地（三錢）　元參（一錢）　土貝母（三錢）　丹皮（三錢）　懷山藥（二錢）　夏枯草（一錢五分）　昆布（一錢）　海藻（一錢五分）　橘紅（一錢五分）</p>
<p>徐家濱陳體疲無力久矣兩旬來咳嗽即繼右脅肋痛而浮腫氣逆不能轉側越數日必稠痰大出胸悶臂腫面浮不能納食大便五六日一更衣頗乾澀今</p>
<p>又鼻衄脈濡此肺脾絡傷瘀阻飲聚防成內癰慎勿輕視</p>
<p>米仁（三錢）　川貝母（二錢）　紫苑（一錢五分）　甜葶藶（四分）　桃仁（七粒）　鮮生地（三錢）　桔梗（三分）　蘆根（八寸）　橘紅（一錢五分）　西洋參（一錢五分）　枳殼（八分）　絲瓜絡（三錢）</p>
<p>光按先生亦精外科案中多經驗之談故並錄之以資參考</p>

<h1>張氏醫案跋</h1>
<p>憶昔髻齡就傳城南編吉巷施師補華塾中課讀閒嘗聞之太夫子許雷門汪謝城兩先生言吾浙名醫以桐鄉張千里學博為最著惜詠生也晚不及瞻仰丰儀為憾事旋從曉五胞伯侍診十年耳提面命時亦曾以張先生勖勵後進爾時先嘉六府君就貴陽張公秀水縣刑席公餘之暇散步城中向有書癖在舊書攤上購得此稿閱之珍為拱璧藏諸行篋有年矣內有詳陳錫山孫文成公病腫議論停止草藥緣由將身體作提防洞徹病因分明譬解名言精義頗具至理不愧斫輪老手治病治河何莫不然令人企敬前型百讀不懨詠會筮仕山左隨督河主任豫懷張愚箴都鄉上達於上中下三遊堵合張村大寨四紙坊韓家垣陶城埠格提高家套諸險工臺龍案內洊保二千石虛榮隨帶加一級於河工堤防堵合宜泄引河掛柳護掃諸要略有心得躬履其境似與醫病理由同一宗旨如壅淞者宜開浚疏利以導之若坍陷者宜培土夯硪以補之誠不刊之論萬古難移醫者意也昔人謂用藥如用兵亦即狎玩多死之意嗣於父執武林校官陸定圃先生冷廬雜識書中亦見有此論則斯稿為張先生手澤可無疑慮兼有吾湖歸姓方案為之質證今幸越中醫界諸同仁發起蒐集各省先賢遺稿刊印流傳俾存一線曙先用作後學津粱免致湮沒勿彰亦保存國粹一端也爰錄此稿郵呈以應裘君吉生函招籍副神交知已雅命且詠肉帛逾年精力日衰胡敢自秘公諸仝好未始非活水靈源之一導也時庚申春後學吳興凌詠永言醫叟謹跋於滬濱尚素軒腐居</p>
